[2020-07-30 11:04] shoeffner commented on #10061
Actually, in my local install the code is already `url = {{ url_for('airflow.paused') | tojson }} + '?is_paused=' + is_paused + '&dag_id=' + encodeURIComponent(dag_id);`, so I will have to dig deeper.

[2020-07-30 11:16] mik-laj commented on #10061
Can you please give me the HTTP headers that go to the Airflow webserver? I am particularly interested in whether you are setting the `http-x-forwarded-prefix` header.

How are your configuration options configured in the [webserver] section?

[2020-07-30 11:22] mik-laj commented on #10057
Duplicate: https://github.com/apache/airflow/issues/9937

[2020-07-30 11:22] #10057 closed

[2020-07-30 12:02] shoeffner commented on #10061
The headers I send from Firefox are:
[code]

When I run https://basquiat.informatik.uni-bremen.de/httpbin (thanks for the advice) these headers are reported:
[code]
I'll leave the server running, so in case you want to check more you can hit
- https://basquiat.informatik.uni-bremen.de/airflow
- https://basquiat.informatik.uni-bremen.de/httpbin

Airflow [webserver] section is below, I think I only

[2020-07-30 12:06] vittico commented on #10036
This actually worked, thanks!

Sin mas a que hacer referencia,

Victor Medina

On Tue, Jul 28, 2020 at 12:23 PM Shekhar Singh <notifications@github.com>
wrote:

[2020-07-30 12:12] grillorafael opened #10063 "Allow `image` in `KubernetesPodOperator` to be templated"
**Description**

Right now, I'm controlling the image version of my container through Airflow Variables and I am having to query them at the build time which is inefficient and not recommended.

Thus, it would be useful to have `image` being a templated field in KubernetesPodOperator.

[2020-07-30 13:19] sudarshan2906 commented on #10058
I found this when seeing in logs
[code]

[2020-07-30 13:27] sylr commented on #7935
[code]

[code]

[2020-07-30 14:57] meneal opened #10065 "Site to join Slack Workspace is Down"
This site which is referenced in the community page is down: https://apache-airflow-slack.herokuapp.com/

[2020-07-30 14:57] #10065 closed

[2020-07-30 15:05] sudarshan2906 commented on #10058
When trying to logging getting this error in the logs
[code]
There is a user admin in AD. But i havn't created it in airflow. I tried using airflow cli to create user but that gives error as it requires password. How can create a user in airflow and bind it ldap user?

[2020-07-30 18:14] ozw1z5rd commented on #8521
Hi, I have the same issue.

I was looking in `models/renderedtifields.py` file and I noticed that

`def delete_old_records( `

contains a line that loads the number or rendered fields to keep:

`num_to_keep=conf.getint("core", "max_num_rendered_ti_fields_per_task", fallback=0)`

and if this value is <= 0 the function will return doing nothing.

[code]

Since the dead lock is about the insert and t

[2020-07-30 20:34] abramovi opened #10069 "How to get XCOM value using api"
Hi

I am trying to get XCOM value for specific DAG using API?

[2020-07-31 06:09] flolas opened #10072 "Teradata Tools and Utilities hooks and operators"
**Description**
I'm working in operators and hooks for Teradata Database and I want to share with the Airflow Community. There are several tools for loading/extract data called TTU (https://downloads.teradata.com/download/tools/teradata-tools-and-utilities-linux-installation-package-0)

Proposed operators
* **FastloadOperator**: Wrapper for FastLoad Teradata Utility for loading tables to Teradata

[2020-07-31 06:13] trevorprater commented on #9837
@jhtimmins - Yes, mostly default settings.

[2020-07-31 06:18] flolas opened #10073 "Make SparkSubmitHook capable of executing spark-submit through SSH Connection"
**Description**
I want to add a functionality in SparkSubmitHook; connect to a remote server though SSH and execute spark-submit. This would be great when working with multiple spark clusters with an edge node for each cluster and installing an airflow's worker into edge node is not possibly.

I have a working solution but now i'm currently generating tests, when done, will submit a PR.

Felipe

[2020-07-31 06:48] ayush-san commented on #8467
@feng-tao Can you please look into this issue as this is preventing us from upgrading airflow

[2020-07-31 08:44] wxm245 commented on #9976
this is my airflow.cfg
[core]
dags_folder = /data/worker/airflow/dags
base_log_folder = /data/worker/airflow/logs
remote_logging = False
remote_log_conn_id =
remote_base_log_folder =
encrypt_s3_logs = False
logging_level = DEBUG
fab_logging_level = WARN
logging_config_class =
colored_console_log = True
colored_log_format = [%%(blue)s%%(asctime)s%%(reset)s] {%%(blue)s%%(filename)s:%%(reset)s%%(line

[2020-07-31 09:00] ozw1z5rd commented on #8521
`max_num_rendered_ti_fields_per_task = 0`
seems that fixed my problems.
I moved the table cleaning to external task.

[2020-07-31 09:48] #10048 closed

[2020-07-31 09:50] echom opened #10076 "Google Display & Video 360 operators fail on POST requests"
**Apache Airflow version**: airflow-1.10.6

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.18.6

**Environment**: Google Cloud Composer v1.10.0

- **Others**:
httplib2 >= 0.18
apache-airflow-backport-providers-google >= 2020.6.24

**What happened**:

`airflow.providers.google.marketing_platform.operators.display_video.GoogleDisplayVideo360RunReportOperator` as well

[2020-07-31 10:01] turbaszek commented on #10076
Thanks @echom for the issue! I will take a look at it :)

[2020-07-31 10:06] echom commented on #10076
Apologies, I posted the wrong log file from an old Orchestra implementation. Just updated to the correct log file, the error is the same.

[2020-07-31 10:13] turbaszek commented on #10076
@echom if you know how to fix the issue would you like to do this?

[2020-07-31 10:27] turbaszek commented on #10076
Hm, interesting because I run this operator from out example DAG:
[code]
and it seems to be working

[2020-07-31 10:29] turbaszek commented on #10076
Which version of google libraries do you use?
[code]

[2020-07-31 10:31] echom commented on #10076
I am running on Google Cloud Composer 1.10.6. According to their versioning:

google-api-core==1.16.0
google-api-python-client==1.7.8

Let me try to explicitly install your versions.

[2020-07-31 10:57] turbaszek commented on #10076
I think we were similar issue but I cannot find it. @mik-laj do you remember something more?
https://github.com/apache/airflow/pull/9194

[2020-07-31 11:41] echom commented on #10076
Ok, after a bit of a struggle with version issues I now arrived at the following:

httplib2==0.18
apache-airflow-backport-providers-google==2020.6.24
google-api-core==1.21.0
google-api-python-client==1.9.3
google-auth=1.20.0
grpcio=1.30.0

Still the issue persists.

@turbaszek Can you do me a favor and check if the API responds with a 303 for you? You should be able to get the response logged when

[2020-07-31 11:54] sylr commented on #7935
Happened again today

[code]

@mik-laj does it help ?

[2020-07-31 12:56] turbaszek commented on #10076
No 303 on my side. However, this seems to be related:
https://github.com/apache/airflow/issues/8810

[2020-07-31 13:25] #10063 closed

[2020-07-31 14:43] streetmapp opened #10080 "Kubernetes Executor: Logs in UI doesn't work with Elasticsearch stdout config"
**Summary**: In trying to troubleshoot why exactly my tasks weren't firing correctly in my Airflow Cluster running on Kubernetes with the Kubernetes Executor and KubernetesPodOperator, was trying to get insight to the logs. By default in the chart in this repo, they get logged locally and not to stdout. I managed to initially view the logs when I configured remote logging to GCS, but that wasn't s

[2020-07-31 17:50] joshkadis commented on #9538
That looks fine to me, thanks!

[2020-07-31 18:32] mik-laj commented on #9538
lGTM.

[2020-07-31 19:37] paramesh opened #10082 "Reschedule not working as expected with http_sensor"
Issue:

I am facing issues when trying to use Reschedule with the http_sensor.

The following works fine without issues.

[code]
If I just add reschedule to this, I see this just run into a continuous retry loop.

[code]

The above one just runs into indefinite loop.

My Dag is quite simple.

[code]
The POST_PRODUCTS will post an async request and that will takes ~5 min to get committed to DB and

[2020-07-31 20:29] ccage-simp commented on #8696
Thank you for reporting this @yuqian90, and to @j-y-matsubara for submitting PR for fix. Issue has been troubling me since upgrade to 1.10.

[2020-07-31 20:30] sylr commented on #7935
Ok so I have more info, here the situation when the scheduler gets stuck:

[code]
**I managed to revive the scheduler by killing both 5977 & 5978 pids.**

[code]

[code]

[2020-08-01 08:02] mik-laj opened #10085 "Release Airflow 2.0"
Dear committer/PMC member,
This type of ticket is something new that they want to discuss on the mailing list, but they have to create one to be able to show it.

Dear user,
This ticket is in the POC of the new kind of tickets and may not contain up-to-date information. If you came here by accident, please ignore it.

We are experimenting with moving this to https://github.com/apache/airflow/wiki/

[2020-08-01 09:58] kundan1301 opened #10087 "AWSHook TypeError: 'NoneType' object is not callable"
**Apache Airflow version**: 1.10.9

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**: composer

- **Cloud provider or hardware configuration**: google
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**: AWSHook throwing TypeError: 'NoneType' object is not callable

**What you expe

[2020-08-01 13:19] mik-laj opened #10089 "Migration guide for Airflow 2.0"
Hello,

We have a lot of entries in UPDATING.md, but there is no full procedure that will answer the most important question - how to update Airflow to the latest version. Users expect step-by-step instructions from us that will explain what they should do. The guide should contain information about `airflow upgrade-check`, `airflow db upgrade`, backport package, etc.

Best regards,
Kamil

[2020-08-01 14:08] potiuk commented on #10087
Hey @kundan1301 - would you mind contributing a fix to that ? I will be happy to review!

[2020-08-01 14:14] potiuk commented on #10085
+1

[2020-08-01 16:16] rafidka opened #10091 "Airflow Metrics Page Misses Some Metrics"
**Apache Airflow version**:

1.10.11rc2

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

N/A

**Environment**:

N/A

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

By inspecting the code of Airflow (1.10.11rc2, though I believe previous versi

[2020-08-01 17:12] kundan1301 commented on #10087
@potiuk Sure I will fix and raise a PR.

[2020-08-01 22:42] mik-laj commented on #10069
Github Issue is not for asking questions. Please ask on Slack or Stackoverflow.

[2020-08-01 22:42] #10069 closed

[2020-08-01 22:45] mik-laj commented on #10072
I recommend that you write a tutorial that describes the necessary steps to use these operators.

 We do not accept new operators for Airflow 1.10. All new operators are built for Airflow 2.0, but users can use it in Airflow 1.10 thanks to [the backport package](https://github.com/apache/airflow#backport-packages).

[2020-08-01 23:14] mik-laj commented on #10061
I think you should add X-Forwarded-Prefix = /airflow/ header on Nginx.

[2020-08-02 00:28] mik-laj commented on #10091
Does this problem also occur on the master branch?
https://airflow.readthedocs.io/en/latest/metrics.html

[2020-08-02 00:32] rafidka commented on #10091
Yes, I just checked and apart from a couple of the metrics in my list above which seem to be documented, the rest are still undocumented. Also, the two metrics which are wrongly documented as gauges are still so in the page you linked.

[2020-08-02 00:59] kumargauravin commented on #9946
Hi Jarek,

Sending a request again here in case you are back from vacations...

Appreciate it.

Regards,
Kumar

On Mon, Jul 27, 2020 at 9:16 AM Kumar Gaurav <kumargauravmb@gmail.com>
wrote:

--
Regards,
Kumar Gaurav
+1 469 354 2101

[2020-08-02 02:24] mik-laj commented on #9630
@ashb @kaxil Could you please share some more details about the change?

In particular, I would like to answer the following questions:
* Is there a plan to implement this AIP? If so, can I have any preview? This is essential for us to successfully release Airflow 2.0
* Do you need help with this task? If you plan to do it yourself, it's okay, but if you would like other people to contribute, I wo

[2020-08-02 02:56] potiuk commented on #9946
Just be persistent and ask again, bump the thread etc. your question is rather specific to your case and maybe there are others who are more familiar with you re setup. There is no guarantee that you will get help but usually i you are persistent enough, people will help. BTW. Your case is more for #troubleshooting channel rather than development so ask it there.

[2020-08-02 03:19] mik-laj opened #10104 "Double check UPDATING.md for "2.0" doesn't include breaking changes in import paths"
Hello,

We should check if all operators and hooks available in Airflow 1.10 are also importable in Airflow 2.0. All these changes should also be included in
https://github.com/apache/airflow/blob/master/tests/deprecated_classes.py

Technically speaking, we should install Airflow 1.10, generate a list of operators/hooks, and then try to import each of it on Airflow 2.0.
In order to generate a list

[2020-08-02 03:45] ryanyuan opened #10105 "Add missing params to GCP Pub/Sub creation_subscription hook/operator"
**Description**

Add enable_message_ordering, expiration_policy, filter_, dead_letter_policy and retry_policy to GCP Pub/Sub create_subscription's hook and operator.

**Use case / motivation**

The filter_ is very useful when we try to create subscriptions and get the filtered messages out of them.

[2020-08-02 03:46] potiuk commented on #10085
I love to switch to Github issues for planning.

However I think we should organise it slightly differently, Github already has all the levels of details that we need and trying to squeeze it all into "Umbrella" issue is not the best use of those.

I have two proposals:

1)  I think it's much better if we use "Projects" features for each of the  "sub-tasks" leading to 2.0 - for example I added my

[2020-08-02 03:52] potiuk opened #10107 "Submit and get the image approved as an "official Docker image" https://docs.docker.com/docker-hub/official_images/"

[2020-08-02 03:54] mik-laj opened #10108 "Double check UPDATING.md for "2.0" include all changes in import paths"
Hello,

Some users may want to have easy access to the list of import path changes that were made in Airflow 2.0 Currently, this information is only available in `tests/` directory.
https://github.com/apache/airflow/blob/master/tests/deprecated_classes.py
and README files for each backport packages.
https://pypi.org/project/apache-airflow-backport-providers-jdbc/

I think that it is worth creating

[2020-08-02 04:03] potiuk commented on #10108
We should have either:
* have simply a directory of all provider packages with links to README + core description

or

* combine the information in READMES automatically in one file (automatically)

[2020-08-02 04:16] potiuk opened #10109 "Add Legacy command displaying new CLI counterparts."
**Description**

We should add legacy commands in CLI that error and show new command that should be used instead.

**Use case / motivation**

When running the odl CLI command, user should get an error and explanation which command to use instead.

**Related Issues**

The list of old/new commands has been documented in UPDATING.md  as part of #9952. This is a follow up to this ticket to make this

[2020-08-02 04:17] potiuk commented on #10109
cc: @ephraimbuddy @mik-laj -> added issue describing what we need.

[2020-08-02 04:36] mik-laj commented on #10085
I agree that we can think about using the projects, but the umbrella ticket is still helpfull. This will allow new contributors to become more familiar with the plan.  I would like this ticket to be the place a new contributor should start off if they want to work on Airflow 2.0.

If we want to organize our project as a kanban, we will have several columns such as Blocked, TODO, WIP, Review in pro

[2020-08-02 05:12] potiuk commented on #10085
I think now we have information spread in a few places - roadmap and AIP in Cwiki, "umbrella" issues which are mixed with "normal" issues (and you do not know which ones are which until you read them). I think it's not at all easy to contributors to know what's going on. On the other hand if we have roadmap in one place in Github Wiki, we have the benefit of it being close to issues and PRs (and d

[2020-08-02 05:23] potiuk commented on #10085
I think it would be great to simply try and see it before we decide - I created https://github.com/apache/airflow/pull/10110 to enable it experimentally and we can see if we like it or not.

[2020-08-02 05:29] mik-laj commented on #10085
I have no problem with giving the ticket a label that will allow you to easily distinguish it from other tickets. However, this still allows us to keep all the information in one place without having to use another tool.

The wiki has one major limitation - it has no comments. you cannot comment on entries, which is often helpful to request status updates or more information.

[2020-08-02 05:36] potiuk commented on #10085
I think that's a deliberate decision for Wiki not to have comments (and it's a good one). Comments can be kept in the issues but they make it messy for "permanent pages" - you can see that in the CWiki (where a lot of stuff happens in comments and it is often not reflected in the "permanent" state of the page -  or even in this one  - we already have more comments than the issue description and th

[2020-08-02 06:01] potiuk commented on #10085
I copied it there: https://github.com/apache/airflow/wiki/Airflow-2.0

I honestly think it's much better than "umbrella" issues or "kind:meta" label. WDYT @apache/apache-committers ?

[2020-08-02 06:09] HyukjinKwon commented on #10085
@potiuk, fyi `apache/apache-committers` notifies all committers in Apache projects.

[2020-08-02 06:10] potiuk commented on #10085
Ups.

[2020-08-02 07:05] #10059 closed

[2020-08-02 07:06] #10060 closed

[2020-08-02 07:09] ashb commented on #9630
Yes, I have started work on this, and got reasonably far with it (far enough to start running performance tests, but there are a few things I still have as to-do's such as SLAs or per task concurrency limits) but unfortunately I want able to get the code in a situation where I could pr it before going off on paternity leave - as soon as I'm back (September) getting this landed is my top priority.

[2020-08-02 07:59] reverse-engineer opened #10112 "Mark Failed with Future Downstream fails in fresh airflow install"
**Apache Airflow version**: 1.10.11

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): no kubernetes

**Environment**:

- **Cloud provider or hardware configuration**: Intel x86_64
- **OS** (e.g. from /etc/os-release): Debian 10
- **Kernel** (e.g. `uname -a`): 4.19.118-2+deb10u1 (2020-06-07)
- **Install tools**: pip with Python 3.7.7
- **Others**:

**What happened**:

A

[2020-08-02 08:18] kundan1301 opened #10113 "TypeError exception, comparing NoneType and int"
**Apache Airflow version**: 1.10.9

**Environment**: composer

- **Cloud provider or hardware configuration**: google cloud

**What happened**:
TypeError: '>' not supported between instances of 'NoneType' and 'int
At line https://github.com/apache/airflow/blob/1.10.9/airflow/contrib/operators/gcp_transfer_operator.py#L643
None is passed as default timeout but at line
https://github.com/apache/airf

[2020-08-02 08:46] #9952 closed

[2020-08-02 08:58] mik-laj commented on #10113
Helllo.
Does this problem also occur in Airflow from the master branch?  If not, then you can start using Airflow 2.0 operators thanks to [backport packages](https://github.com/apache/airflow#backport-packages).
Best regards,
Kamill

[2020-08-02 09:12] turbaszek commented on #10085
Ok, I'm getting confused as there's one more place to discuss Airflow 2.0. How this corresponds to cwiki?
https://cwiki.apache.org/confluence/display/AIRFLOW/Airflow+2.0+-+Planning

[2020-08-02 09:26] #10085 closed

[2020-08-02 09:56] kaxil opened #10116 "Use Hash / SHA to compare Serialized DAGs"
**Description**

Currently, we compare entire Serialized blobs to determine if the DAG changed or not before we write the Serialized DAGs to the Database which can be expensive.
Instead, we will store the HASH / SHA of the Serialized JSON and store that in a separate column in the serialized_dag table.
And before writing the Serialized Blob, we will compare the SHA to decide if DAG changed.

[2020-08-02 10:03] potiuk commented on #10116
Oh yeah!

[2020-08-02 10:04] kaxil commented on #10116
Planning to get to this by tomorrow so we can release it with Airflow 1.10.12

[2020-08-02 10:12] potiuk commented on #10116
What are the plans for 1.10.12?

[2020-08-02 10:17] kaxil commented on #10116
Mostly to fix all the Kubernetes related issues that came of the Kubernetes Refactors in Airflow 1.10.11 -- https://github.com/apache/airflow/issues?q=is%3Aopen+is%3Aissue+label%3Ak8s+milestone%3A%22Airflow+1.10.12%22

[2020-08-02 10:25] #8608 closed

[2020-08-02 10:32] kundan1301 commented on #10113
@mik-laj I don't think same problem will occur in Airflow 2.0. On this line
https://github.com/apache/airflow/blob/1d68cd2929dbc55b73fed2417cb6ecbba162e4f8/airflow/providers/google/cloud/hooks/cloud_storage_transfer_service.py#L464
I can see that if timeout is None it is set to 60s.

Let me know if we still want to fix for branch 1.10.* . Otherwise we can close this.

[2020-08-02 19:41] potiuk opened #10118 "Quarantined tests master"
# Quarantined issues

Please do not update status or list of the issues manually. It is automatically updated during
Quarantine workflow, when the workflow executes in the context of Apache Airflow repository.
This happens on schedule (4 times a day) or when a change has been merged or pushed
to the relevant branch.

You can update "Comment" column in the issue list - the update process will read

[2020-08-02 20:16] ashb commented on #9118
@Siddharthk you probably need to URL encode the secret key - `/` to `%2f`

[2020-08-03 03:12] SteNicholas commented on #9134
Do you mean that the implemenation of FlinkOperator is based on `flink run` command? But If you want to kill Flink Job, you must persist with the job id. Therefore, how do you control with this presistence?

[2020-08-03 03:56] kumargauravin commented on #9946
Hi Thanks,

One person did took up and pinged me he is trying to work on it.

It’s a feature not troubleshooting since nothing exists in Airflow to send
logs to Log Analytics or to add a LoggingAdaptor so far. That is what I
have found out experimenting.

Will continue to push. The feature I am asking will be good for anyone
productionIzing things on azure using airflow.

Like an adaptor same you

[2020-08-03 04:43] iantbutler01 opened #10122 "SMTP connection in email utils has no default timeout which causes the connection to hang indefinitely if it can't reach the SMTP server."
KPE was a red herring see the comments below the issue template for what I figured out.

**Apache Airflow version**:
1.10.10

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
v1.16.8-eks-e16311
**Environment**:
<details>
KUBERNETES_SERVICE_PORT_HTTPS=443
AIRFLOW__SMTP__SMTP_PORT=25
AIRFLOW__KUBERNETES__NAMESPACE=airflow
AIRFLOW__SMTP__SMTP_PASSWORD=*snip*
AIRFLOW__SMTP

[2020-08-03 06:29] hlokired opened #10123 "Job Schedule Interval on 2nd & 4th Tuesday"
Hi Team,

1.We have a requirement where we need to schedule the job Bi-Weekly. i.e. on 2nd and 4th Tuesday.
Could you please help us on how can we set the schedule interval in Airflow DAG Job.

2. Also in other requirement we tried to schedule individual jobs for 2nd Tuesday and 4th Tuesday.
i.e. schedule_interval= "0 2 * * 2#2" for 2nd Tuesday
 schedule_interval= "0 2 * * 2#4" for 4th Tuesday
Cou

[2020-08-03 06:36] hlokired commented on #9096
Hi Team,

Can anyone help us on the request/requirement?

Regards,
Harish

[2020-08-03 07:06] RosterIn opened #10124 "Allow AWS RedshiftToS3Transfer To Run a Custom Query"
Registering this as it seems like a feature that people need.

**Description**

This has been requested by people on slack.
also https://issues.apache.org/jira/browse/AIRFLOW-6794

stale PR that wasn't finished https://github.com/apache/airflow/pull/7688

Nikhil Goyal reported a workaround on slack:
run custom sql using AWS UNLOAD command inside the postgres operator

[2020-08-03 08:49] joshi95 opened #10125 "Better status monitoring in dag job runs api"
Registering this as a feature that can help people keep track of job run via api better.

**Description**

Currently users can only get the status of a dag run via checking the state of the sepecific dag runs or get all the status of a dag which seems very costly on users front as he will have to filter them out on client level. Support for this feature will allow users to filter out dags in the d

[2020-08-03 08:55] SaladBreaker opened #10126 "Add download function at gdrive hook"
**Description**

Right now the GoogleDriveHook class from: airflow/airflow/providers/google/suite/hooks/drive.py has only a upload function, it would be nice if a download function was also provided.

**Use case / motivation**

This is useful for example if a lot of data is keep in drive in some xlsx file and you want to obtain that data, automatically as a source for a ETL process.

[2020-08-03 08:57] turbaszek commented on #10126
@SaladBreaker would you like to implement it? I'm happy to help with it, let me know if you need any guidance 🚀

[2020-08-03 08:58] SaladBreaker commented on #10126
Thanks, I'll try it.

[2020-08-03 10:34] potiuk opened #10127 "Quarantined issues v1-10-stable"

[2020-08-03 10:35] potiuk opened #10128 "Quarantined Issues v1-10-test"

[2020-08-03 10:45] mik-laj opened #10129 "Warning about unsafe migrations"
Helllo,

We currently have two migrations that cannot always be successful, which can lead to database corruption. All modern RDMSs should handle this case correctly and roll back the migrations, but ... it would be better if we detected these situations before starting the migration and not run the migration if we know that the operation will fail. This will also allow you to display much more us

[2020-08-03 11:23] mik-laj opened #10130 "Project assumption about worker/scheduler/webserver isolation"
Hello,

The documentation does not describe the design assumptions about isolating all components. Many users, after they launch the application and start using it, realize that any DAG file can trigger any query on DB and each component communicates via direct database queries
I would be happy if there was a new section in the documentation about it
https://airflow.readthedocs.io/en/latest/securi

[2020-08-03 14:57] coopergillan opened #10132 "Increase unit test coverage for Jenkins job trigger"
**Description**

[Per discussion in #9947](https://github.com/apache/airflow/pull/9947#discussion_r464084255) the unit tests are only covering one type of `parameters` input, while the object itself can take, strings, dictionaries, or lists.

`parameterized` should be used to test with other data types and increase test coverage.

**Use case / motivation**

Ideally we want to have unit test covera

[2020-08-03 15:14] anitakar opened #10133 "Airflow 1.10.x (ex. 1.10.9) allows to modify DAG description via web UI but does not modify file"
In airflow UI next to every DAG there is an edit button. You can click it, modify description and save it. But the file underneath does not actually change. Next time when DAG is reloaded all changes are lost.

[2020-08-03 15:17] mik-laj commented on #10133
@anitakar Do you want to take care of this ticket or do you need help?

[2020-08-03 15:17] mik-laj commented on #10133
Does this problem occur in RBAC or non RBAC UI or both?

[2020-08-03 15:20] anitakar commented on #10133
non RBAC UI, and change of view from tree to graph for example works. It persists.

[2020-08-03 15:54] mik-laj opened #10135 "Deprecate BaseHook.get_connections method"
Hello,

Previously, Airflow allowed users to add more than one connection with the same `conn_id` and on access, it would choose one connection randomly Now, we marked field `conn_id` in table `Connection` as unique.
More information:
https://github.com/apache/airflow/pull/9067/files

For this reason, the `airflow.hooks.base_hook.BaseHook.get_connections` method is no longer applicable, because we

[2020-08-03 16:04] khyurri commented on #10129
Please, assign to me.

[2020-08-03 16:08] mik-laj commented on #10129
Done :-D Only 5 hours the task waiting for you to find it. I am very happy that we have such an active community. :-D

[2020-08-03 17:00] waltermaldonado commented on #9813
I'm also having this problem.
![image](https://user-images.githubusercontent.com/8573950/89207788-aeed8f80-d591-11ea-8fdd-95e5a4077b60.png)

[2020-08-03 17:10] #10109 closed

[2020-08-03 17:13] potiuk commented on #10135
It will work fine without it (get_connections() returns [connection] but I agree it would be nice to remove the usage of it and replace it with get_connection - it might also simplify some of the code.

[2020-08-03 18:08] shoeffner commented on #10061
I added the corresponding line to apache, the address stays the same.

![image](https://user-images.githubusercontent.com/1836815/89212784-63080e00-d5c4-11ea-9b89-ae8df63d7a1a.png)

I used
[code]

[2020-08-03 18:21] potiuk opened #10138 "Code Coverage for Github Actions"
**Description**

We would like to get code coverage back.

**Use case / motivation**

After moving to GitHub Actions, we lost coverage. This  is due to https://github.com/codecov/codecov-node/issues/118 - Codecov does not support Public projects on Github Actions same way as they support Travis/CircleCI etc.  and you need secret token to upload coverage reports.

I do not want to setup a secret to

[2020-08-03 18:22] mik-laj commented on #10061
@shoeffner Thanks! Can you add this code snippet to docs?
https://airflow.readthedocs.io/en/latest/howto/run-behind-proxy.html
This will help other person who have a similar problem.

[2020-08-03 18:41] shoeffner commented on #10061
Sorry, but the problem still exists.

On Mon, Aug 3, 2020, 20:22 Kamil Breguła <notifications@github.com> wrote:

[2020-08-03 19:03] Hasan-J commented on #10135
Hey, I will open a PR soon.

[2020-08-03 21:19] anitakar commented on #10133
I can take care of that

[2020-08-03 22:32] iantbutler01 commented on #10122
KubernetesPodOperator is a red herring. I believe I know the issue and it should be addressed as it will happen on every failure that attempts to send an email.

s = smtplib.SMTP_SSL(SMTP_HOST, SMTP_PORT) if SMTP_SSL else smtplib.SMTP(SMTP_HOST, SMTP_PORT)
does not have a timeout set. In this case it falls back to socket._GLOBAL_DEFAULT_TIMEOUT which in the case of socket.connect is treated as Non

[2020-08-03 22:34] potiuk commented on #10138
Update. Seems codecov added github action that allows to use tokenless uploads from public repos in github actions: https://github.com/codecov/codecov-action

Trying it out in #10143

[2020-08-03 23:08] sarit-si commented on #8649
This will be of great help. Instead of creating separate DAGs for the same job (like what currently I am doing), this would reduce to just 1 DAG taking care of multiple schedules. One workaround right now is if the crons are not strict, one can tweak multiple crons to have the minutes dimension same for all, for ex : "45 0,8,13 * * *", this will run for 0045, 0845 and 1345 Hrs respectively.
Unfort

[2020-08-04 01:08] bhavaniravi commented on #10104
I would like to take this up, would give me a head start with 2.0

[2020-08-04 01:09] bhavaniravi commented on #9958
I would like to contribute to this

[2020-08-04 01:11] mik-laj commented on #10104
@bhavaniravi I assigned you to this ticket.

[2020-08-04 01:15] mik-laj commented on #9958
@bhavaniravi  I assigned you to this ticket.

[2020-08-04 01:17] thesuperzapper commented on #9812
There is also the question of why we made a breaking change on a minor release:
[code]

[2020-08-04 01:29] thesuperzapper commented on #9812
I am not sure if its related, but I also can no longer use `PodRuntimeInfoEnv`:
[code]

Will fail with:
[code]

[2020-08-04 01:31] coopergillan opened #10147 "SqliteHook hard codes connection attribute"
**Apache Airflow version**: current `master`

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): N/A

**Environment**: N/A

- **Cloud provider or hardware configuration**: N/A
- **OS** (e.g. from /etc/os-release): N/A
- **Kernel** (e.g. `uname -a`): N/A
- **Install tools**: N/A
- **Others**: N/A

**What happened**: Looking at `SqliteHook` it appears that the call to `get

[2020-08-04 02:38] hienduyph commented on #9812
The Webserver also has broken: https://github.com/apache/airflow/pull/10015

[2020-08-04 03:04] mik-laj commented on #10147
FYI:

https://github.com/apache/airflow/blob/master/CONTRIBUTING.rst#contribution-workflow

[2020-08-04 03:07] mik-laj commented on #9812
It's bug.and it will be fixed in the next release. See: https://github.com/apache/airflow/pull/10067

[2020-08-04 03:22] xuhongtao0101 opened #10149 "SSH operator error"
[2020-08-02 15:56:07,741] {{taskinstance.py:1047}} ERROR - SSH operator error: 'utf-8' codec can't decode bytes in position 16382-16383: unexpected end of data
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/site-packages/airflow/contrib/operators/ssh_operator.py", line 139, in execute
    self.log.info(line.decode('utf-8').strip('\n'))
UnicodeDecodeError: 'utf-8' codec can't d

[2020-08-04 03:26] xuhongtao0101 commented on #10149
I made an error using SSH operator to execute Python script remotely, which seems to be a log problem. However, my log level has been set to warning, so I still report an error. Please help me solve this problem

[2020-08-04 03:35] coopergillan commented on #10147
@mik-laj - ah, that's right. Thanks for the reminder. I actually created the issue thinking I would come back to it after adding the type annotations. But then when I ran the type checking it helped point out the issue.

[2020-08-04 04:00] LeonY1 commented on #9942
Is it okay if I take up this issue? Is there any CLA that I have to sign in order to contribute?

[2020-08-04 05:12] #10058 closed

[2020-08-04 05:13] sudarshan2906 commented on #10058
The error was because there was no and min user created in airflow. also i have to append the domain to the username.

[2020-08-04 06:46] mik-laj commented on #9942
@LeonY1  CLA is not required.

[2020-08-04 06:52] mik-laj commented on #9942
@LeonY1  I assigned you to this ticket.

[2020-08-04 08:41] sudarshan2906 commented on #9342
Any update on this? I want to do something similar to this. To give access to a group of dags. Is there any other way to do this. Since this is not take by anyone?

[2020-08-04 09:57] mik-laj opened #10152 "Release Airflow 2.0"
Hello,

I am creating this ticket to help follow this process and coordinate our activities. This is a meta-ticket, so I would ask committers and PMC members to keep it up-to-date so that everyone has easy access to up-to-date information. This ticket should not describe individual changes to the code but summarize information that active community members know, but new community members don't kno

[2020-08-04 10:08] ozw1z5rd opened #10154 "DAG_TAG table and foreign key constraint"
Hello all,
after installing AIRFLOW 1.10.10 I got the dag_tag table defined as

[code]

Because of this definition WEB UI, when I delete a dag, displays an exception about the foreign key constraint.
I wonder if this other definition is not a better solution:

[code]

After I changed the table in this way, anything works fine.

I'm using airflow 1.10.10 after migration from 1.9.0
Mysql is 5.7.x
Py

[2020-08-04 10:30] mik-laj commented on #10152
Please do not comment on this ticket. To the discussion on the release of the Airflow version, I invite you to:
* Slack channel: [#development](https://apache-airflow.slack.com/archives/CCPRP7943) ([![Slack Status](https://img.shields.io/badge/slack-join_chat-white.svg?logo=slack&style=social)](https://s.apache.org/airflow-slack)) Slack channel
* [task-force meetings](https://cwiki.apache.org/conf

[2020-08-04 10:49] ozw1z5rd opened #10155 "Airflow 1.10.10 + DAG SERIALIZATION = fails to start manually the DAG's operators"
**Apache Airflow 1.10.10**:

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
NAME="CentOS Linux"
VERSION="7 (Core)"
ID="centos"
ID_LIKE="rhel fedora"
VERSION_ID="7"
PRETTY_NAME="CentOS Linux 7 (Core)"
ANSI_COLOR="0;31"
CPE_NAME="cpe:/o:centos:centos:7"
HOME_URL="ht

[2020-08-04 11:39] mik-laj commented on #10154
Can you open PR? This makes it easier to discuss and verify the change.

[2020-08-04 12:10] potiuk commented on #10155
Interesting one!

[2020-08-04 12:11] kaxil commented on #10155
Can you share your DAG please @ozw1z5rd

[2020-08-04 12:12] kaxil commented on #10155
And also I would strongly suggest upgrading to Python 3

[2020-08-04 12:13] #10147 closed

[2020-08-04 12:15] iantbutler01 commented on #10122
I can confirm that this is the cause. There is no option even to pass a timeout to SMTP right now but disabling sending emails cleared it right up. Failure was correctly reported in a 5min window instead of 40min+ I'm going to look into adding both a sensible default timeout and a config option.

[2020-08-04 12:32] ozw1z5rd commented on #10154
Ok, I'm at work now. I'll do asap if meanwhile nobody did it.

[2020-08-04 12:46] ozw1z5rd commented on #10155
You must enable dag serialisation to replicate my issue, no serialisation no issue on company's system.

These are my setting ( from pilot installation )

[code]
Any dag is affected, my tests where on this specific one:

[code]

I have to say that after the database migration I changes the database a bit:

* dag_tag
change the constraint to
 CONSTRAINT `dag_tag_ibfk_1` FOREIGN KEY (`dag_id`) REFER

[2020-08-04 12:47] potiuk commented on #10155
Definiitely Python 3 is one of the best choices you can take now @ozw1z5rd !

[2020-08-04 12:49] ozw1z5rd commented on #10155
Yes, I agree. However,  we need to convert our customizations  code to Python 3.. So for next months, if we like or not it,  Python 2.7 still will stay with us.

[2020-08-04 12:49] potiuk commented on #10122
Nice! Looking forward to the PR fixing it :)

[2020-08-04 13:24] potiuk commented on #10155
<advertisment>Do you need help with making the move faster :)? Maybe we can help :D </advertisement>

[2020-08-04 14:28] potiuk commented on #10138
Waiting for the fix https://github.community/t/github-action-environment-variable-missing-breaking-issue/125913/3 to slove this one and hopefully we get it working https://github.com/codecov/codecov-action/issues/102

[2020-08-04 15:01] vishal-swarankar-sdl commented on #8907
I am also hitting the exact same issue? do we have an update on this issue? @ashb @sylr

[2020-08-04 15:08] sylr commented on #8907
Nope, I'm at lost here.

[2020-08-04 15:59] dimberman commented on #9827
Hi @roy-ht, thank you for posting this. This will be fixed in 1.10.12.

[2020-08-04 16:37] dimberman commented on #9966
Hi @Zuchens , thanks for bringing this to our attention. I have added a fix to this for 1.10.12.

[2020-08-04 16:47] dimberman commented on #9812
Hi everyone,

I apologize for all the bugs on 1.10.11. That was on me. There were a lot of major refactors that were necessary for new features/to remove some older issues and unfortunately the k8s API is pretty comprehensive so a few things fell through the cracks. We'll be releasing 1.10.12 VERY shortly and are close to fixing all noted bugs.

[2020-08-04 16:57] potiuk commented on #9812
Nothing to apologize for @dimberman. It was a very needed refactor and we were waiting for it to release `cncf.kubernetes` backport packages. I keep my fingers crossed. Also looking forward to finally start adding more and more tests to cover the Kubernetes executor to avoid regressions in the future as well.

I have this saying - the only sure way to not introduce bugs is not to do anything at al

[2020-08-04 19:14] dimberman commented on #9812
Thank you @potiuk  :). Yes with the helm chart in the CI we should be able to add much more comprehensive system tests soon!

[2020-08-04 19:32] odavid commented on #9827
Hi @dimberman, I created the PR #10140, which solves this issue, however the PR is stuck on static checks, which seems not relevant to my changes. Will be super glad if you can take a look.

Cheers...

[2020-08-04 20:02] kaxil commented on #9812
And not to forget the newer way is more powerful as it directly uses the k8s API :) -- so thanks Daniel for backporting that one

[2020-08-04 20:09] jperkelens opened #10160 "Airflow cannot read files in Packaged DAGs folder."
**Apache Airflow version**: 1.10.10

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): N/A

**Environment**:

- **Cloud provider or hardware configuration**:  ECS on AWS
- **OS** (e.g. from /etc/os-release): Debian GNU/Linux 9 (stretch)
- **Kernel** (e.g. `uname -a`):  Linux 025b01778cfa 4.19.76-linuxkit #1 SMP Fri Apr 3 15:53:26 UTC 2020 x86_64 GNU/Linux
- **Install to

[2020-08-04 23:03] pcandoalmeida commented on #9538
Hi @joshkadis opened up a PR for this. @mik-laj not sure if you might be able to review when convenient/availability allows?

[2020-08-05 06:45] aneesh-joseph commented on #9812
agree,  thank you @dimberman . looking forward to using the them  in 1.10.12 :)

[2020-08-05 07:08] xor-xor opened #10165 "Add missing `labels` parameter to MLEngineTrainingOperator"
**Description**

`MLEngineTrainingOperator` doesn't expose `labels` parameter, which is kind of surprising, considering that operators for BigQuery provide it (see e.g. [here](https://airflow.apache.org/docs/stable/_api/airflow/contrib/operators/bigquery_operator/index.html#airflow.contrib.operators.bigquery_operator.BigQueryOperator)).

BTW, this also applies to `MLEngineBatchPredictionOperator`.

[2020-08-05 07:13] mik-laj commented on #10165
Hi. Would you like to prepare a PR to fix this problem? I will gladly support you if you have any questions.

[2020-08-05 07:36] muscovitebob commented on #10160
I encounter this a lot when using packaged dags also, the workaround I use is to utilise [this function](https://github.com/apache/airflow/blob/4e3799fec4c23d0f43603a0489c5a6158aeba035/airflow/utils/file.py#L78) to first load the file contents into a string before passing them to the relevant operator (it seems most operators that support reading a file also support taking a string instead). The f

[2020-08-05 07:44] #10138 closed

[2020-08-05 08:01] aranjanthakur opened #10166 "Add capability to specify gunicorn access log format for airflow webserver"
**Description**

Currently gunicorn access logs don't include response time. In gunicorn we can specify access-logformat to include response time. When running airflow webserver we should be able to specify this format by either defining it in airflow.cfg or passing as argument in airflow webserver command.

**Use case / motivation**

We want to monitor airlfow response time.

**Related Issues**

[2020-08-05 09:03] xor-xor commented on #10165
Hard to say... Seems to be an easy thing to implement, but I'm a bit short on time recently. We will see 🙂

[2020-08-05 09:07] mik-laj commented on #10166
Hi. Would you like to prepare a PR to fix this problem? I will gladly support you if you have any questions.

[2020-08-05 10:24] reverse-engineer commented on #10112
Upon further investigation, this seems to be due to the fact that the `execution_date` is a `Pendulum` object, while other DAG dates in the code (`start_date`, `end_date`, etc.) are `datetime.datetime` objects. [Here](https://github.com/apache/airflow/blob/1.10.11/airflow/www/views.py#L1472), the execution date is parsed as a pendulum object.

The bug occurs then because when selecting 'Future' to

[2020-08-05 11:17] mik-laj commented on #8620
Done: https://github.com/apache/airflow/blob/master/CONTRIBUTING.rst#naming-conventions-for-provider-packages

[2020-08-05 11:17] #8620 closed

[2020-08-05 11:30] mik-laj opened #10171 "BIgQuery operators from backport packages and DAG Serialization"
Dzień Dobry (Good morning),

I heard that the BigQuery operators from Backport packages do not work properly when DAG serialization is enabled on the latest version of Airflow.
[code]
We should confirm this information and make a change to ensure compatibility between the latest version of Airflow and backport packages.

In Airflow 2.0, this error does not occur. It may be related to this change,

[2020-08-05 11:31] mik-laj commented on #10014
We should fix this issue before this packages is released.
https://github.com/apache/airflow/issues/10171

[2020-08-05 11:33] mik-laj commented on #10171
CC: @potiuk

[2020-08-05 12:00] hugomalaise commented on #10029
Have you been able to write or find a documentation ?
I'm trying to use this hook but it's kinda painful without example or docs...

[2020-08-05 14:44] jperkelens commented on #10160
@muscovitebob this function does seem quite useful and I'll look into it, I'm still a little apprehensive about switching to packaged DAGs since we run a multi tenant Airflow instance and coordinating this change across all teams is going to be quite a lift. Combined with the fact that these errors (when they surface as Broken DAGs) are not reported exhaustively, we could have a broken DAG for qui

[2020-08-05 15:10] potiuk commented on #10171
@kaxil @dimberman -> would be great to fif it before 1.10.12 gets released - so if we are very close to cutting 1.10.12 we might speed up testing and fixing this one. Are we very close to release 1.10.12 ?

[2020-08-05 15:17] feluelle commented on #10029
You can find a solution in the related issue I linked.

[2020-08-05 15:18] feluelle commented on #10029
@hugomalaise do you want to add the official docs for it (based on the stackoverflow solution)?

[2020-08-05 15:35] hugomalaise commented on #10029
Thanks for the stackoverflow article, it helps me a lot.

It would be convenient to have this information in the doc and also a DAG example in order to easily test the hook, have you developped a DAG that could be used as an example ?

[2020-08-05 15:48] kaxil commented on #10171
Still not that close, k8s fixes have been a pain. At this rate we can look at cutting RCs next week -- not happening this week. So yeah I would say we have some time :)

[2020-08-05 16:14] potiuk opened #10176 "Currently we are working on ..."
The release focuses on bug fixes

### [Airflow 3.1.3](https://github.com/apache/airflow/milestone/125)

The release focuses on bug fixes

### [Airflow 3.2.0](https://github.com/apache/airflow/milestone/106)

The release focuses on bug fixes, improvement and new features

### [Airflow Helm Chart 1.19.0](https://github.com/apache/airflow/milestone/118)

The next release for the Airflow Helm Chart, f

[2020-08-05 16:20] eladkal commented on #10029
@feluelle I can create the doc and also example DAG but are you sure you want this doc in Airflow? This doc is acknowledgment that Airflow "asks" users to expose the security token.

[2020-08-05 16:25] JeffryMAC commented on #10014
please also include AWS SES https://github.com/apache/airflow/pull/10004

[2020-08-05 16:27] potiuk commented on #10014
Done :)

[2020-08-05 16:30] potiuk commented on #10171
Purrfect :cat: !

[2020-08-05 16:56] feluelle commented on #10029
We can perhaps implement alternative auth mechanisms shown here that don't require another security token to be passed: https://github.com/simple-salesforce/simple-salesforce/blob/master/README.rst

But at the moment this is the only working option we have. In my opinion we should add the docs but make sure we have a note that makes it clear that this is/can be a security issue.

What do others th

[2020-08-05 17:04] ozw1z5rd commented on #10053
There is at least another problem in the same block of code :
`app.permanent_session_lifetime = datetime.timedelta(minutes=_force_log_out_after)`
but there is not import for `datetime` in  `airflow/www_rbac/app.py`, it imports `timedelta` so the correct code should be:
`app.permanent_session_lifetime = timedelta(minutes=_force_log_out_after)`

[2020-08-05 17:09] potiuk opened #10178 "Cleanup and move some of the oudated CWIKI pages elsewhere"
**Description**

Move the documentation from the old pages in  CWiki to other places:

- [x] Committers' Guide [TODO: Move to dev] #10179
- [x] Common Pitfalls [TODO: Move to Docs] #10180
- [x] Community Guidelines [TODO: Move to CONTRIBUTING.rst] #10181
- [x] Contributors' Guide [TODO: Move to CONTRIBUTING.rst] #10187
- [ ] First time contributor's workshop [TODO: Move to airflow.apache.org/blogs

[2020-08-05 17:15] potiuk opened #10179 "Move relevant information from Commiter's guide to CONTRIBUTING.rst"
**Description**

The old documentation for [Commiter's guide](https://cwiki.apache.org/confluence/pages/viewpage.action?pageId=62696156) should be reviewed and incorporated in [CONTRIBUTING.rst](https://github.com/apache/airflow/blob/master/CONTRIBUTING.rst)

**Use case / motivation**

To remove documentation duplication and clean it up.

**Related Issues**

#10178

[2020-08-05 17:17] potiuk opened #10180 "Review and move Common Pitfalls Documentation to Airflow Docs"
**Description**

The old documentation for [Common Pitfalls](https://cwiki.apache.org/confluence/pages/viewpage.action?pageId=62694614) should be reviewed and incorporated in [Airflow Docs](https://github.com/apache/airflow/tree/master/docs)

**Use case / motivation**

To remove documentation duplication and clean it up.

**Related Issues**

#10178

[2020-08-05 17:19] potiuk opened #10181 "Review and move information from Community Guidelines CWiki to Airflow Docs"
**Description**

The old documentation for [Community guidelines](https://cwiki.apache.org/confluence/pages/viewpage.action?pageId=65863909) should be reviewed and incorporated in [CONTRIBUTING.rst](https://github.com/apache/airflow/blob/master/CONTRIBUTING.rst)

**Use case / motivation**

To remove documentation duplication and clean it up.

**Related Issues**

#10178

[2020-08-05 17:23] potiuk opened #10182 "Move relevant information about First time contributor workshop as Airflow Blog"
**Description**

The old documentation for [First time contributor's](https://cwiki.apache.org/confluence/pages/viewpage.action?pageId=139628154) should be reviewed and incorporated in [Apache Airflow Blog](https://airflow.apache.org/blog/)

**Use case / motivation**

To remove documentation duplication and clean it up.

**Related Issues**

#10178

[2020-08-05 17:25] potiuk opened #10183 "Move "Releasing Airflow" docs to the "dev""
**Description**

The documentation for [Releasing Airflow](https://cwiki.apache.org/confluence/pages/viewpage.action?pageId=69410380) should be reviewed and incorporated in [dev README.md](https://github.com/apache/airflow/blob/master/dev/README.md)

**Use case / motivation**

To remove documentation duplication and clean it up.

**Related Issues**

#10178

[2020-08-05 17:26] potiuk opened #10184 "Move relevant information about Roles to CONTRIBUTING.rst"
**Description**

The old documentation for [Roles](https://cwiki.apache.org/confluence/pages/viewpage.action?pageId=62694605) should be reviewed and incorporated in [CONTRIBUTING.rst](https://github.com/apache/airflow/blob/master/CONTRIBUTING.rst)

**Use case / motivation**

To remove documentation duplication and clean it up.

**Related Issues**

#10178

[2020-08-05 17:29] potiuk opened #10185 "Update and Move Scheduler Basics documentation to Airflow Docs"
**Description**

The old documentation for [Scheduler Basics](https://cwiki.apache.org/confluence/pages/viewpage.action?pageId=63407290) should be reviewed and incorporated into [Airflow Documentation](https://github.com/apache/airflow/tree/master/docs)

**Use case / motivation**

To remove documentation duplication and clean it up.

**Related Issues**

#10178

[2020-08-05 17:31] potiuk opened #10186 "Move Tips & Tricks for Oracle shops should be moved to Airflow Docs"
**Description**

The old documentation for [Tips and Tricks for Oracle Shops](https://cwiki.apache.org/confluence/pages/viewpage.action?pageId=62694629) should be reviewed and incorporated in [Airflow Docs](https://github.com/apache/airflow/blob/master/docs)

**Use case / motivation**

To remove documentation duplication and clean it up.

**Related Issues**

#10178

[2020-08-05 17:37] potiuk opened #10187 "Move relevant information from Contributor's Guildelines to CONTRIBUTING.rst"
**Description**

The old documentation for [Contributor's guide](https://cwiki.apache.org/confluence/pages/viewpage.action?pageId=62697734) should be reviewed and incorporated in [CONTRIBUTING.rst](https://github.com/apache/airflow/blob/master/CONTRIBUTING.rst)

**Use case / motivation**

To remove documentation duplication and clean it up.

**Related Issues**

#10178

[2020-08-05 17:42] bellhea opened #10188 "task_log_prefix_template configuration is not documented and doesn't work"
**Apache Airflow version**: 1.10.11

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.10.0

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): rhel 7.7
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:
I am trying to use the configuration setting: [task_log_prefix_template](http

[2020-08-05 18:03] nie3e opened #10189 "Changing timezone in webserwer UI"
**Apache Airflow version**: 1.10.11

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
PRETTY_NAME="Debian GNU/Linux 10 (buster)"
NAME="Debian GNU/Linux"
VERSION_ID="10"
VERSION="10 (buster)"
VERSION_CODENAME=buster
ID=debian
HOME_URL="https://www.debian.org/"
SUPPOR

[2020-08-05 18:04] mik-laj commented on #10188
This configuration option is only available in the development version from the master branch. Here is the documentation for this option.
You pasted the link to the documentation for the stable version (currently: 1.10.11).
https://airflow.readthedocs.io/en/latest/configurations-ref.html#task-log-prefix-template

[2020-08-05 18:09] #10188 closed

[2020-08-05 18:11] mik-laj commented on #10189
Dp you have RBAC UI enabled? You should have the following values in airflow.cfg to use RBAC.
[code]
Here is the migration guide: https://github.com/apache/airflow/blob/master/UPDATING.md#drop-legacy-ui-in-favor-of-fab-rbac-ui

[2020-08-05 18:19] nie3e commented on #10189
Thanks a lot! That solved my problem!

[2020-08-05 18:19] #10189 closed

[2020-08-05 18:58] LvffY opened #10191 "Unable to log into an Azure blob storage"
**Apache Airflow version**: 1.10.10

**Environment**: Ubuntu 18.04.4 LTS (WSL)

- **Cloud provider or hardware configuration**: Windows 10 Enterprise
- **OS** (e.g. from /etc/os-release):
<details>
<summary>
OS
</summary> NAME="Ubuntu"
VERSION="18.04.4 LTS (Bionic Beaver)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 18.04.4 LTS"
VERSION_ID="18.04"
HOME_URL="https://www.ubuntu.com/"
SUPPORT_URL="h

[2020-08-05 19:48] Hasan-J commented on #10135
I opened a draft and need some confirmations. Please check the PR conversation when you have time :)

[2020-08-06 01:04] j-y-matsubara commented on #8696
@ccage-simp
This PR has not been merged yet.
What issues did you encounter?

[2020-08-06 01:52] jdavidheiser commented on #8609
This is still an issue, and at least two more people have run into it (per discussion in Airflow Slack).  @feng-tao @astahlman per the comment on https://github.com/apache/airflow/blob/0eb5020fda46a6eceaa3652846598cb4ba34493b/airflow/www/security.py#L524, this seems like it should be a relatively simple fix to call `sync_perm_for_dag` for every dag when the rest of the permissions are refreshed.

[2020-08-06 02:09] feng-tao commented on #8609
@jdavidheiser haven't got pinged in Airflow for a while :) If I recall(~ 2 years ago), we first need this commit (https://github.com/apache/airflow/pull/4642/files) to be use access_control in the Airflow version.

I have thought about that at that time to allow calling `sync_perm_for_dag` to work around this issue (Pinterest did this way). But the issue here is that RBAC lives in webserver/ flask

[2020-08-06 02:45] ccecora commented on #8665
@RajkotiyaDivyesh did you ever solve this issue?  Experiencing the same on my end in airflow 1.10.10.

[2020-08-06 03:58] mik-laj commented on #10179
I think, we should move it to the "dev" part of the Airflow Repo. The CONTRIBUTING.rst file is for new contributors and is already quite long. I don't think we should extend it, but try to make it more accessible to new people.

[2020-08-06 07:40] selvamshan commented on #9970
I require some help to get started

[2020-08-06 07:48] scauglog opened #10193 "Scheduler get killed when the DAG doesn't parse correctly in Kubernetes Worker"
**Apache Airflow version**: 1.10.9 -> 1.10.11

**Kubernetes version** : 1.17

**Environment**:

- **Cloud provider or hardware configuration**: AWS EKS
- **Airflow Executor**: KubernetesExecutor

**What happened**:

The scheduler get kill when the kubernetes worker is unable to parse the DAG.

The DAG is not parsing properly because an env variable is not set in the worker (AIRFLOW__KUBERNETES_ENV

[2020-08-06 09:26] Shadowsong27 opened #10194 "Ability to better support odd scheduling time"
**Description**

So I have been encountering odd time schedule request recently, say some updates need to be done
on every second and third Friday each month, 4pm.

Tried to search for solution but could not find a perfect ones, I can think of the following solutions:

1. use a cron and a separate DAG
2. embed trigger in the actual task logic, that is to check whether the code should be executed i

[2020-08-06 09:32] saikatharryc opened #10195 "Grafana Dashboard"
Does anyone have any **grafana dashboard** with the metrics?

[2020-08-06 10:14] JeffryMAC commented on #10194
This has many requests (not all the same but the general idea is more scheduling abilities)
https://github.com/apache/airflow/issues/10123
https://github.com/apache/airflow/issues/9321
https://github.com/apache/airflow/issues/8649

and I'm adding my +1000 to having more scheduling ability.

I think at the end Airflow as workflow management system and as such the key functionality needed is flexibl

[2020-08-06 10:51] potiuk opened #10196 "Move Announcement page to airflow.apache.org"
**Description**

The [Announcement page](https://cwiki.apache.org/confluence/display/AIRFLOW/Announcements) should be reviewed and moved tp in [Apache Airflow Website](https://airflow.apache.org/blog/)

**Use case / motivation**

To remove documentation duplication and clean it up.

**Related Issues**

#10178

[2020-08-06 12:53] bellhea commented on #10188
Right ok, thanks for that.
So instead I'm trying to use a custom logging config and implement something similar, would appreciate some guidance.. I have implemented the below custom "task_instance" formatter. I thought I should be able to see the actual dag and task ids in the log by using the relevant macros, but I'm just seeing the string "{{ti.dag_id}}-{{ti.task_id}}" itself. Any ideas?
[code]

[2020-08-06 13:22] battlesnake opened #10197 "pool_slots seems to be ignored"
**Apache Airflow version**: 1.10.9 (apache-airflow[crypto,celery,postgres,hive,jdbc,mysql,ssh,slack]==1.10.9)

**Python version**: 3.7.6 (docker: python:3.7.6-slim-buster)

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**: Tested locally and on AWS
- **OS** (e.g. from /etc/os-release): Debian 10 (buster)

[2020-08-06 13:47] ccage-simp commented on #8696
Same as the defect. I mean to say that I'm looking forward to this fix being released.

I use soft_fail True at times and want skipped tasks not to automatically skip all downstream tasks. I believe that trigger_rule ALL_DONE and others should allow for upstream of skipped.

[2020-08-06 14:17] LeonY1 commented on #9942
Should I also work on adding the positional marker back in?

[2020-08-06 14:35] zbstof opened #10199 ""next" query parameter is ignored on login redirect"
**Apache Airflow version**: 2.0.0.dev0, built from HEAD master branch

**Environment**: don't know, maybe kubernetes

**What happened**:
1. Log out of airflow.
2. Try to navigate directly to https://airflow.mycorp.com/variables/list (for example from browser bookmarks)
2a. URL should become `https://airflow.mycorp.com/login/?next=https%3A%2F%2Fairflow.mycorp.com%2Fvariable%2Flist%2F`
3. Enter user

[2020-08-06 14:41] mik-laj commented on #9942
@LeonY1  You can start. You are already assigned to this ticket so I cannot assign you again.

[2020-08-06 15:17] ozw1z5rd opened #10200 "WEB UI, last page button does not work when all dags are in not active state"
**Apache Airflow version**:
1.10.10

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
none
**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
NAME="CentOS Linux"
VERSION="7 (Core)"
ID="centos"
ID_LIKE="rhel fedora"
VERSION_ID="7"
PRETTY_NAME="CentOS Linux 7 (Core)"
ANSI_COLOR="0;31"
CPE_NAME="cpe:/o:centos:centos:7"

[2020-08-06 15:58] gardnerdev opened #10201 "Worker unexpected CrashLoopBack"
During usage of airflow from helm package I encountered this error

│ wait-for-airflow-migrations DB_HOST=fi-airflow-postgresql.fi.svc.cluster.local                                                                                                                           │
│ wait-for-airflow-migrations DB_PORT=5432

[2020-08-06 16:05] bellhea opened #10202 "TaskHandlerWithCustomFormatter adds prefix twice"
**Apache Airflow version**: 1.10.11

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.10.0

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): rhel 7.7
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:
I'm trying to use the class [TaskHandlerWithCustomFormatter](https://github.c

[2020-08-06 16:16] gardnerdev commented on #10201
Resolved by provisioning more resources for workers

[2020-08-06 16:21] gardnerdev opened #10203 "Logs not visible in UI even though they exist"
**Apache Airflow version**:
1.10.10

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
1.18.3

**Environment**:
Kubernetes cluser

**What happened**:
During dag execution I am not able to see logs

*** Fetching from: htttp://fi-airflow-worker-97bcfb76-jdwj7:8793/log/example_dag/python_print_date_152/2019-01-01T00:00:00+00:00/1.log
*** Failed to fetch log file from worke

[2020-08-06 16:32] coopergillan commented on #10165
I can give a shot at picking this up.

[2020-08-06 17:09] bellhea commented on #10202
-

[2020-08-06 17:11] j-y-matsubara commented on #8696
Thank you for your reply, @ccage-simp
I'm sorry, I made a wrong interpretation about your comment.

Best Regard,

[2020-08-06 17:18] j-y-matsubara commented on #8696
@yuqian90
I am sorry to bother you, but Is it possible to close this issue?
The PR have been merged, but it didn't seem to link well with this issue.

[2020-08-06 17:40] tambulkar opened #10204 "ModuleNotFoundError: No module named 'docker' in DockerOperator"
**Apache Airflow version**: 1.10.11

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**: Conda Python 3.6.11

**What happened**:

Trying to import the DockerOperator from `airflow.operators.docker_operator and I get this error
ModuleNotFoundError: No module named 'docker'

**What you expected to happen**:

Shouldn't airflow automatically install all the

[2020-08-06 17:53] fengsi opened #10206 "Make `webserver_config.py` location customizable"
**Description**
`webserver_config.py` location is [hard-coded](https://github.com/apache/airflow/blob/c2db0dfeb13ee679bf4d7b57874f0fcb39c0f0ed/airflow/configuration.py#L769) as follows:
[code]
It would be great if this path is customizable.

**Use case / motivation**
Since `AIRFLOW_HOME/config` is already in `PYTHONPATH` (though that's also hard-coded), it's common for user to mount all config fil

[2020-08-06 17:55] mik-laj commented on #10165
@coopergillan I assigned you to this ticket.

[2020-08-06 18:03] potiuk commented on #10204
Not really. See https://airflow.apache.org/docs/stable/installation.html

Apache has a number of extras that you can choose when installing it . For example pip install airflow[kubernetes] will install all the stuff to run kubernetes. The file you mentioned is a constraint file only (and we are changing the mechanism of those  slightly soon). You can read the installation doc where you find some d

[2020-08-06 18:03] #10204 closed

[2020-08-06 18:28] #8696 closed

[2020-08-06 18:40] mik-laj commented on #10206
@fengsi  I like this idea. This can be standardized to have a similar interface to `logging_config_class`.  Would you like to work on it?

[2020-08-06 19:17] fengsi commented on #10206
Sure, I'd be willing to make that happen.  I may also take care of other config paths together. 👍

[2020-08-06 20:58] jaketf commented on #9461
Taking a look at the code now it seems we have this common [GoogleBaseHook](https://github.com/apache/airflow/blob/d79e7221de76f01b5cd36c15224b59e8bb451c90/airflow/providers/google/common/hooks/base_google.py#L125) used by hooks for gsuite and cloud. This `delegate_to` seems not really not useful for cloud, and I don't think the scenario 2 of delegating to a human user to impersonate a service acc

[2020-08-06 21:09] amithmathew commented on #9461
`delegate_to` would be used to impersonate a user account using a (specific) service account - It does look like `delegate_to` may be [used](https://developers.google.com/admin-sdk/reports/v1/guides/delegation) on the GSuite side of things.

[2020-08-06 21:45] #9811 closed

[2020-08-06 21:54] kaxil commented on #10195
https://grafana.com/grafana/dashboards/9672

[2020-08-06 21:54] #10195 closed

[2020-08-06 22:17] #9942 closed

[2020-08-06 23:58] prakash260 opened #10210 "SQSSensor Dag is not triggering whenever there is new message."
I have created a DAG using SQSSensor to trigger whenever there is new message in SQS.

It is not triggering automatically whenever there is new message.

Below  is my code:

[code]

[2020-08-07 00:03] yuqian90 commented on #8696
Great thank you so much @j-y-matsubara

[2020-08-07 01:42] morrme commented on #9708
@mik-laj 👋🏾  is there an update on what files remain?

[2020-08-07 01:43] morrme commented on #10182
@potiuk Should these be new articles?

[2020-08-07 01:47] mik-laj commented on #9708
in the first message, I included a command that allows you to check where the typing are still missing.
More info: https://mypy.readthedocs.io/en/stable/command_line.html?highlight=Report#report-generation

When i am working on typing coverqge i often use html report.

[2020-08-07 07:46] thesuperzapper commented on #9316
@potiuk can we please cherrypick this into the `1.10.12` release, as its a fairly important bug which stops tasks being scheduled, and effectively makes `pool_slots` useless.

NOTE: it might need some small tweaks to work in 1.10.X

[2020-08-07 07:54] olchas commented on #9461
@jaketf, @amithmathew so it would seem that the approach could be to:

1. disallow simultaneous use of `delegate_to` and `impersonation_chain` (new argument used for direct impersonation) in `GoogleBaseHook` by raising an exception if both arguments are provided
1. remove `delegate_to` from most Google operators and hooks, leaving it only in G Suite operators and hooks

WDYT?
CC: @turbaszek

[2020-08-07 10:34] kaxil commented on #10206
I have assigned this issue to you @fengsi :) Looking forward to your PR

[2020-08-07 10:39] potiuk commented on #9461
Sounds like great plan.

[2020-08-07 10:40] potiuk commented on #9461
One small problem though - we will have to deprecate the delegate_to parameter rather than remove them initially. In 2.1 we might be able to remove them,

[2020-08-07 10:43] kaxil opened #10216 "Updating.md Note on Kubernetes Changes in 1.10.11 and 1.10.12"
Add a note in `Updating.md` about the Kubernetes related changed in 1.10.11 and 1.10.12 specifically telling users that they should update to 1.10.12 if they find any K8s related features that broke after they upgraded to 1.10.11.

And a note to tell that the older way of using Airflow POD class is deprecated. And all the paths from `airflow.contrib.kubernetes` have been deprecated in 1.10.12 and

[2020-08-07 10:45] potiuk commented on #10182
I think so - this one I think I will write with @turbaszek though - we had run a  few workshops so far and we will run a new edition in the coming weeks (online) so we will likely do that ourselves basing on our experience.

[2020-08-07 10:45] potiuk commented on #10182
But feel free to take the others :) @morrme ..

[2020-08-07 11:24] domagojulamec commented on #9245
This happened to me on these three versions on which i tested RBAC: 1.10.5 & 1.10.8 & 1.10.11.
On 1.10.8 it somehow mananaged to not populate it a few times i logged in/out and then all of a sudden it did it again.

Any clues could this be an external thing, such as javascript or something that populates the role window?

This is a serious issue, RBAC is not RBAC with this bug.

[2020-08-07 11:26] fallen-up commented on #9813
@potiuk @kaxil
We have the same issue:
airflow 1.10.11
[code]
![airflow_gantt](https://user-images.githubusercontent.com/11389898/89641181-cabaa380-d8b9-11ea-82ac-bbc3862fe3ec.png)

Tests were performed in incognito mode and in different browsers (latest stable builds of Chrome, Chromium, Brave, Firefox) with clearing cookies.
On airflow 1.10.9, 1.10.10 problems were not detected.

[2020-08-07 11:49] dakov commented on #9245
I believe it's happening here https://github.com/apache/airflow/blob/1.10.11/airflow/www_rbac/security.py#L373 . I didn't really have time to study  the method properly (it's a bit too complex), to provide a fix. But esentially, this method is called periodically and if a role is in the `EXISTING_ROLES` list, it gets "synced" with permessions defined here - https://github.com/apache/airflow/blob/1

[2020-08-07 11:55] turbaszek commented on #10182
@potiuk should a description of the issue by updated? I think it corresponds to committers guide 🤔

[2020-08-07 11:58] turbaszek commented on #9461
@olchas I'm in favour of 2nd approach. Regarding the deprecation - first I would check if current implementation works. If it does not then I see no reason for deprecation - let us just remove it.

[2020-08-07 12:13] potiuk commented on #9461
@olchas I'm in favour of 2nd approach. Regarding the deprecation - first I would check if current implementation works. If it does not then I see no reason for deprecation - let us just remove it.

Agree with @turbaszek. I thought about deprecation in the sense that it will not fail when someone actually adds the "delegate_to" parameter. I am afraid there might be cases that someone already added

[2020-08-07 12:41] domagojulamec commented on #9245
@dakov, your workaround worked for me.
I created a new Role thru GUI, assigned it to a user.
It populated it with all sorts of unwanted permissions.
Went to edit security.py and added the name of the new Role to the EXISTING_ROLES array.
Returned to GUI to fix the permissions of the role.
Now they stick like glue.

Currently in the process of testing all sorts of cases to see if it will repopulate

[2020-08-07 13:32] mattinbits opened #10221 "Deadlock Exception with MSSQL as backend DB"
**Apache Airflow version**: 1.10.9

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**: On premise infrastructure. Scheduler is a CENTOS 7 docker image running on a RHEL 7 server. Database is SQL Server 2016
- **OS** (e.g. from /etc/os-release): CentOS Linux 7 (Core)
- **Kernel** (e.g. `uname -a`): 3.10.0-

[2020-08-07 14:15] benbenbang commented on #9713
Hello @potiuk, @kaxil

I need some suggestions on the `default_var` has been set case ( not sure is it fixed in 2.x or not ?)

if now we want to get variable by using Variable.get("X", default_var=123)
This is how the flow goes in 1.10.x:
↓ You want to get Var X and you give a default_var 123
------- Airflow Variable ------
↓ Go to Vault backend
------- Vault -----------------
↓ Vault Cannot find

[2020-08-07 15:00] morrme commented on #10182
@potiuk Sounds Good--and I'd like to attend one of these workshops someday! 🙏🏾

[2020-08-07 15:02] coopergillan commented on #10165
@xor-xor - here ya go. Hoping this is what you had in mind!

https://github.com/apache/airflow/pull/10222

cc: @mik-laj @turbaszek

[2020-08-07 15:08] potiuk commented on #10182
There will be few in the coming weeks :)

[2020-08-07 15:09] potiuk commented on #10182
Or months

[2020-08-07 15:11] fengsi opened #10223 "Airflow configuration in web UI should recognize current settings rather than reading from `AIRFLOW_CONFIG` file"
**Apache Airflow version**:
1.10.11

**What happened**:
The `/configuration` URL is hard-coded to show config in `AIRFLOW_CONFIG`, which is usually the `AIRFLOW_HOME/airflow.cfg` file:
https://github.com/apache/airflow/blob/44d4ae809c1e3784ff95b6a5e95113c3412e56b3/airflow/www/views.py#L2133-L2134

**What you expected to happen**:
This `AIRFLOW_CONFIG` assumption is simply wrong.  It is very common

[2020-08-07 16:11] morrme commented on #10187
@potiuk 🙋🏾‍♀️

[2020-08-07 16:31] kaxil commented on #10223
They are reflect. There are 2 configurations on the UI:

1) Configs from airflow.cfg
2) Running Configuration

[2020-08-07 16:32] kaxil commented on #10223
Check https://github.com/apache/airflow/blob/44d4ae809c1e3784ff95b6a5e95113c3412e56b3/airflow/www/templates/airflow/config.html#L44-L67

[2020-08-07 16:38] dimberman commented on #10216
Updates added

[2020-08-07 16:38] #10216 closed

[2020-08-07 16:40] dimberman commented on #9966
fixed https://github.com/apache/airflow/pull/10084

[2020-08-07 16:40] #9966 closed

[2020-08-07 16:41] dimberman commented on #9827
https://github.com/apache/airflow/pull/10084 fixed

[2020-08-07 16:41] #9827 closed

[2020-08-07 16:45] dimberman commented on #9812
fixed :) https://github.com/apache/airflow/pull/10084.

Man this was one hell of a chaos testing, but feeling pretty good with how many situations are handled now!

[2020-08-07 16:45] #9812 closed

[2020-08-07 16:46] dimberman commented on #9860
Fixed :) https://github.com/apache/airflow/pull/10084

[2020-08-07 16:46] #9860 closed

[2020-08-07 17:22] fengsi commented on #10223
Indeed!  Didn't scroll down.  Thanks!
Closing this ticket.

[2020-08-07 17:22] #10223 closed

[2020-08-07 17:58] potiuk commented on #10187
Did I decifer it correctly that you want to work on it :)?

[2020-08-07 18:37] dossett commented on #9941
@mik-laj Once we upgrade past 1.10.3 I will definitely try to contribute to this.  Hopefully soon!

[2020-08-07 18:38] morrme commented on #10187
@potiuk  yes! 🙂  thank you!

[2020-08-07 22:23] jaketf commented on #9461
I agree remove `delegate_to`, make sure it is an ignored kwarg rather than breaking peoples DAGs if passed.

[2020-08-07 22:36] yesemsanthoshkumar commented on #10196
@potiuk I can pick this up over this weekend.
One question though. Does this have to be a new section like blog and usecases?

[2020-08-08 00:32] #9705 closed

[2020-08-08 00:47] #10165 closed

[2020-08-08 15:21] kaxil commented on #10154
I wasn't able to reproduce the error from the Webserver, can you let me know the steps to reproduce it.

I get what you are saying for the SQL statement but the delete_dag deletes all the tables with `dag_id` column:

https://github.com/apache/airflow/blob/215c16f23b4a4ee652e8fe652f1c8b78a4a40aa8/airflow/api/common/experimental/delete_dag.py#L57-L62

[2020-08-08 17:03] potiuk commented on #10196
I think it would be best to have separate section. It could be blog but I think announcements should be more 'permanent' :)

[2020-08-08 20:33] khyurri commented on #10129
I've created PR.

Not sure, how to add this functionality into  `airflow upgrade-check`, we can move this functions to a more suitable place.

[2020-08-09 00:27] kubatyszko opened #10255 "http hook uses schema field from Connection object instead of conn_type"
**Apache Airflow version**: MASTER

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.16

**Environment**:

- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): Amazon Linux
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

HTTP hook defaults to http connection schema, and I could never get it

[2020-08-09 03:20] chenzuoli commented on #10155
I get this error too, and fix it:
vim airflow/serialization/serialized_objects.py +582
replace:
`dag.task_dict[task_id]._upstream_task_ids.add(task_id)`  # pylint: disable=protected-access`
to
`dag.task_dict[task_id]._upstream_task_ids.add(task.task_id)  # pylint: disable=protected-access`
because the operator get the wrong upstream_task_ids, just add the right upstream task id,and works fine.

[2020-08-09 11:37] Minyus commented on #10037
I'm trying to use `pod_template_file` with `in_cluster=True` using Airflow 1.10.11 (Docker image from [apache/airflow:1.10.11-python3.6](https://hub.docker.com/layers/apache/airflow/1.10.11-python3.6/images/sha256-5b43a4b820eb229ea6910aafcddc2d18de745a69817c0256cadc74f6faa2d3f5?context=explore)) and getting the same symptom.

I checked the [test_kubernetes_pod_operator.py](https://github.com/apach

[2020-08-09 11:43] kaxil commented on #10155
This has been fixed in 1.10.11 - https://github.com/apache/airflow/pull/8775

[2020-08-09 11:56] mik-laj opened #10260 "Automatic reference to configuration reference docs"
Hello,

I would like it to be possible to easily refer to the reference list with configuration options.  Currently, most of the guides that require a description of configuration options are similar to the description below.
<img width="941" alt="Screenshot 2020-08-09 at 13 48 55" src="https://user-images.githubusercontent.com/12058428/89731407-177fb500-da47-11ea-9df5-8a17b910da35.png">
There are

[2020-08-09 12:14] mik-laj commented on #9414
@ghost Do you have any problem? Do you have any questions? I will be very happy to help you if I can

[2020-08-09 12:55] aranjanthakur commented on #10166
Hi @mik-laj , I have made the required changes. Could you please guide how I can test it?
I have run integration tests in breeze env. I want to build it locally and test the webserver.

[2020-08-09 12:55] mik-laj commented on #10166
Can you create a PR?

[2020-08-09 13:00] aranjanthakur commented on #10166
https://github.com/apache/airflow/pull/10261
Please take a look

[2020-08-09 15:37] kaxil opened #10264 "Add Sphinx Spell-Checker"
We have been fixing various typos in the project but it would be good if we can enable a Spell Checker for our Docsite. So our docs are typo-free.

We can use https://pypi.org/project/sphinxcontrib-spelling/ to do this.
**Docs**: https://sphinxcontrib-spelling.readthedocs.io/en/latest/

I gave it a shot but unfortunately, there are too many words that we need to add in `docs/spelling_wordlist.txt`

[2020-08-09 16:06] mik-laj commented on #8091
@kaxil @potiuk What else are we planning to do with this ticket?

[2020-08-09 16:07] kaxil commented on #8091
This can be closed, I will create a new ticket on the following steps

[2020-08-09 16:07] #8091 closed

[2020-08-09 18:49] mik-laj commented on #8715
It's related to:
https://github.com/apache/airflow/issues/9498
https://github.com/apache/airflow/issues/9507
So I added this to the Airflow 2.0 milestone

[2020-08-09 18:52] mik-laj commented on #10007
@shlomiken Is there any progress here?

[2020-08-09 18:58] mik-laj commented on #8495
@dmayle @matthieu-foucault @humbledude Would you like to contribute this change to the project? This looks like a much needed change so I'd love to help with the review.

CC: @dimberman

[2020-08-09 18:59] mik-laj commented on #8715
@rootcss Could you please leave a comment so I can assign you to this ticket?

[2020-08-09 19:02] mik-laj commented on #8657
Such a feature is not planned. It is recommended to set up a separate process (e.g. sidecar) that will be responsible for file synchronization. However, I would be happy if there was a guide in the documentation for this.

[2020-08-09 19:07] mik-laj commented on #9181
Can the expected result be achieved with this configuration option?
https://airflow.readthedocs.io/en/latest/configurations-ref.html#pod-template-file

[2020-08-09 19:08] mik-laj commented on #10038
Is there anything left to do in this ticket? We have docs about it: https://airflow.readthedocs.io/en/latest/installation.html

[2020-08-09 19:18] #10196 closed

[2020-08-09 20:32] #10038 closed

[2020-08-09 20:39] potiuk commented on #8657
Yep. There was an extensive discussion about it at the devlist https://lists.apache.org/thread.html/224d1e7d1b11e0b8314075f21b1b81708749f2899f4cce5af295e8a8%40%3Cdev.airflow.apache.org%3E and there is a long discussion in the wiki page: https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-5+Remote+DAG+Fetcher. I believe the current result of the discussion is that Airflow should not implement D

[2020-08-09 20:39] #8657 closed

[2020-08-09 20:42] potiuk commented on #10264
Love it. I make a lot of spelling mistakes (usually because I want to go fast). So having an automated check would be awesome!

[2020-08-09 20:43] potiuk commented on #10264
BTW. I got a lot better at it with recent changes in IntelliJ where spell-checking and grammar is built in :)

[2020-08-09 20:44] #10155 closed

[2020-08-09 20:54] shlomiken commented on #10007
Hi @mik-laj , unfortunately we don't have the capacity now to refactor this. we decided to install sagemaker as it worked till now.
this means that the use case of working with packaged zip files which contain sagemaker is a problem - so we actually install it separately on target machines. (botocore also have a problem working in packaged zips)
i still think that the SageMaker operators could pro

[2020-08-09 20:58] mik-laj commented on #10007
I close the ticket because the problem is no longer with Airflow, but with the Sagemaker SDK.

@shlomiken Thank you for sharing your experience about this operator.

[2020-08-10 00:33] mik-laj commented on #10200
Hello.
Thanks for reporting a bug. This looks like something worth working on.

Would you like to work on a fix for this bug? We are open to contributions from everyone.

Best regards,
Kamil Breguła

[2020-08-10 00:49] iantbutler01 opened #10270 "KubernetesPodOperator annotations kwarg should support templating."
**Description**

I would like the annotations kwarg in the KubernetesPodOperator to support templating.

**Use case / motivation**

With how the KubernetesExecutor runs tasks right now I can't generate an id in my dag file and use it for each task in the dag because it will be regenerated for each subsequent task. When the dag files are copied and ran on the individual Kubernetes pod the generatio

[2020-08-10 00:56] mik-laj commented on #10270
@iantbutler01 It makes sense. Wouldn't you like to prepare a PR? I am happy to help with the review and merging the change.

[2020-08-10 01:03] iantbutler01 commented on #10270
Yes I am happy to work on this!

[2020-08-10 01:05] mik-laj commented on #10270
Great! I assigned you to this ticket.

[2020-08-10 03:02] rootcss commented on #8715
@mik-laj yes, can you assign this issue to me?

[2020-08-10 05:35] mik-laj commented on #8715
@rootcss I assigned you to this ticket.

[2020-08-10 07:05] dewaldabrie opened #10271 "BigQueryValueCheckOperator derived from deprecated ValueCheckOperator"
`airflow.contrib.operators.bigquery_check_operator.BigQueryValueCheckOperator` [is derived from](https://github.com/apache/airflow/blob/69cc8370e486e00dd526e96c2b0aacd348ee255e/airflow/contrib/operators/bigquery_check_operator.py#L82) `airflow.operators.check_operator.ValueCheckOperator` but needs to be derived from `airflow.operators.sql.SQLValueCheckOperator` instead.

Until this is done, airflo

[2020-08-10 07:25] turbaszek commented on #10271
Related #9844

[2020-08-10 07:31] mik-laj commented on #9414
The user who wanted to do this task deleted the account, so this ticket is now free.

[2020-08-10 09:29] potiuk opened #10274 "Add Ecosystem page to Airflow Website"
**Description**

We should add **Ecosystem** page to the Apache Airflow Website. Here we should promote uses of Airflow.

Discussed in: https://lists.apache.org/thread.html/r8b61f45b8571bd7c5956aa6360be82afb90feeda4362b754c4663d32%40%3Cdev.airflow.apache.org%3E

**Use case / motivation**

We should promote those that are using Apache Airflow extensively and places where Airflow is the "shoulder of

[2020-08-10 09:57] potiuk commented on #10196
CC: @yesemsanthoshkumar  #10274 as a next one maybe ;) ?

[2020-08-10 10:00] alexandraabbas commented on #10274
I'm happy to pick this up!

[2020-08-10 10:21] yesemsanthoshkumar commented on #10196
Sold already. ;)

Planning to pick one for this weekend too. Will have to go over the issues once.

[2020-08-10 10:21] potiuk commented on #10196
:+1:

[2020-08-10 14:10] darwinyip opened #10275 "Trigger rule for "always""
**Description**

Trigger rule for `always`.

**Use case / motivation**

This comes in handy when there is a need to clean up resources at the end of the DAG run no matter whether it fails or succeeds.

For example:
[code]

The biggest issue is that if an error occurs before `d`, `cleanup` will never get executed.

Example use case is using BigQuery's Reservation API. We want to reserve slots at th

[2020-08-10 14:38] caddac commented on #10264
I'd like to work on this issue. Hoping to have a PR in the next day or so.

[2020-08-10 16:03] aneesh-joseph opened #10278 "Airflow doesn't fail fast in case of invalid executor_config or mutation hook"
**Apache Airflow version**: 1.10.10

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

Airflow makes way too many API requests in case of invalid executor_config or mutation hook

[2020-08-10 17:30] mik-laj commented on #9420
@kaxil Are you planning to continue working on the ticket or can another person start working on it? This is a "good-first-issue", so I'd be happy if new contributors could work on it.

[2020-08-10 17:40] psyduck1203 commented on #8204
hey im interested in this issue solving but im a first timer !!

[2020-08-10 17:46] mik-laj commented on #8204
@psyduck1203 I don't know if this ticket has already been resolved. Recently, we have made a big contribution to this integration.

@turbaszek Is there any missing documentation?

[2020-08-10 17:50] weitian opened #10279 "Tooltips not show up in Safari"
**Apache Airflow version**: 1.10.10

**What happened**:

The tooltips of a task instance does not show up in Safari browser (Version 13.1.2 (15609.3.5.1.3)).
But it works on chrome browser (Version 84.0.4147.89).

**Anything else we need to know**:

How often does this problem occur? Once? Every time etc?
happens every time

[2020-08-10 18:10] caddac commented on #10264
I've created an initial PR for this and have a few questions about next steps. Spell check is run during docs build, but there is no direct command to run the spell check. Also, all misspellings have been added to the `docs/spellling_wordlist.txt` file and some effort is needed to identify misspellings, remove them from the wordlist and update the docs with the correct spellings.

My questions:
1.

[2020-08-10 18:29] marcusianlevine commented on #8421
@kaxil I'm trying to implement a very similar workflow using the new `VaultBackend` for Variables storage, but I noticed that sensitive Variables fetched from Vault can be leaked out from the UI via `Rendered Templates` if you include a Variable value in a field that is templated

Could we take a similar approach to `AIP-45` and mask any Variables that match a set of pattern names in the `Rendered

[2020-08-10 20:15] xor-xor commented on #10165
Yep, exactly what I was looking for before I opened this issue. Thank you! 👍🏻  🙂

[2020-08-10 21:13] harshitkgupta opened #10283 "Airflow Homepage is not able to render due to TypeError: must be str, not NoneType"
**Apache Airflow version**:

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): Mav
- **Kernel** (e.g. `uname -a`):
- **Install tools**: Docker image
- **Others**:

**What happened**:
Traceback (most recent call last):
  File "/home/airflow/.local/lib/python3.6/site-p

[2020-08-10 21:19] mik-laj commented on #10283
What version of Airflow do you have?

[2020-08-10 21:21] harshitkgupta commented on #10283
@mik-laj i am running following command
docker run -it -p 8080:8080 --env-file local.env -e LOAD_EX=n -v /Users/harshit.gupta/IdeaProjects/datalake/airflow/dags:/opt/airflow/dags  apache/airflow:master-python3.6 webserver

[2020-08-10 21:27] darwinyip commented on #10275
Current workaround

[code]

[2020-08-11 01:26] mik-laj opened #10285 "Update example DAG files to latest syntax"
Hello,

When we stop releasing backport packages, we will be able to update all example DAGs to use the new syntax for handling outputs introduced by AIP-31.

This is an example change.
[code]
Best regards,
Kamil Bregułła

[2020-08-11 03:22] eladkal commented on #10275
I have similar scenario:
create machine -> run steps -> terminate machine

For termination I use trigger rule `all_done` and it works great.
Whether upstream succeeded or failed the termination task is executed.
Won't it solve your use case as well?

[2020-08-11 07:46] chenmic opened #10288 "gcs_to_bigquery using deprecated methods"
Hello,
I'm running Airflow 1.10.10 and using the `GCSToBigQueryOperator` from `airflow.providers.google.cloud.transfers.gcs_to_bigquery` in order to load data from google cloud storage into a big query table.
Although everything is working as expected, I keep seeing (a lot of) deprecation warnings in my logs:

[code]

Although everything is working well, I'm afraid that in the future those warning

[2020-08-11 09:28] potiuk commented on #10285
Or Maybe we can do automated refactoring for that one ? Sounds doable.

[2020-08-11 09:29] potiuk commented on #10285
CC: @turbaszek

[2020-08-11 09:32] turbaszek commented on #10285
This should be probably part of #9041

[2020-08-11 09:48] hugomalaise commented on #10029
@feluelle : Have you been able to write a doc ? I can review it if you need.

[2020-08-11 10:16] turbaszek commented on #10288
Thanks for the issue @chenmic ! I think same goes for other BQ transfer operators as they were not refactored to use new methods.

[2020-08-11 10:50] liorhar opened #10290 "k8 executor ignores namespace configuration from task's executor_config"
**Apache Airflow version**:
1.10.10

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
[code]
**Environment**:

- **Cloud provider or hardware configuration**: AWS EKS
- **OS** (e.g. from /etc/os-release): official airflow docker image
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:
Airflow ignores the namespace provided in the exe

[2020-08-11 13:07] kaxil commented on #10029
Absolutely, we could just add a Salesforce connection type here: https://github.com/apache/airflow/blob/a9f7222a3fdc9bb55c697bdad17f4e60e8d9e70f/airflow/models/connection.py#L38-L88

so instead of an empty Connection type (Which I don't is allowed from Airflow 2.0) we will have a dedicated Connection for it.,

[2020-08-11 13:11] kaxil commented on #10029
And the `security_token` won't be exposed, if you have fernet key, all the extras would be encrypted too: https://github.com/apache/airflow/blob/a9f7222a3fdc9bb55c697bdad17f4e60e8d9e70f/airflow/models/connection.py#L294-L302

cc @eladkal @feluelle

So I think creating this doc should be relatively straight-forward, want to take this issue on @hugomalaise  ?

[2020-08-11 13:16] kaxil commented on #8421
aah I see, apologies @n4rk0o I should have read your description more carefully. Yes the Rendered UI Field currently exposes everything. We should have a way of hiding this.

I see two options here:

1) Same as what @marcusianlevine described
2) Have a flag in `airflow.cfg` to hide rendered `templated_fields` globally. Sometime though users would love to check if the field was rendered correctly a

[2020-08-11 13:26] marcusianlevine commented on #8421
I do like the idea of having this be an optional behavior

I think it would be really great if we could selectively obscure Variables too - some are sensitive while others are not, which is why I like the approach in #1530 of using a list of patterns

Also, I noticed that Variables can be leaked via the `Task Details` page too, even if the fields aren't rendered templates, so we should be sure to

[2020-08-11 13:31] kaxil commented on #8421
100% agree. Would you like to work on a proposal or a PR for that one, it would be definitely good to get this in for 2.0

[2020-08-11 13:43] marcusianlevine commented on #8421
Hmm it's been awhile since I've worked on the UI

I'll do some digging in the code and see if I can come up with a reasonable design...

Do you happen to know off-hand if there is any way to tell at run-time whether DAG code is being compiled by the webserver?

Because we need the Variable's `key` instead to do the conditional masking, we really need to mask the Variable values at the time that `V

[2020-08-11 14:20] coopergillan commented on #10288
Is this one anything of a priority?

[2020-08-11 14:31] mik-laj commented on #10288
This is a P4 level ticket.  However, it is worth fixing this problem.
[code]

[2020-08-11 14:46] coopergillan commented on #10288
@mik-laj - I'm happy to take it as a P4. Plenty else to work on, but I can grab it when time allows.

[2020-08-11 14:50] mik-laj commented on #10288
@coopergillan  I assigned you to this ticket.

[2020-08-11 15:00] eladkal commented on #10029
@kaxil is it working?
I'm running 1.10.9 we have fernet key set and there is no encryption to the extra field:
![Screen Shot 2020-08-11 at 17 42 58](https://user-images.githubusercontent.com/45845474/89911699-6588ea00-dbfa-11ea-932a-922d5011e2fb.png)

passwords are encrypted. extra is not.
Is it a bug or I'm doing something wrong?

Also It's important to note that encrypting the whole extra field

[2020-08-11 15:14] kaxil commented on #10029
I will have to test it myself. But yeah, for now, the docs can simply state that for security reason we suggest you to use one of the secrets Backend to create this connection (Using ENVIRONMENT VARIABLE or Hashicorp Vault, GCP Secrets Manager etc)

[2020-08-11 15:18] jperkelens commented on #10160
As a follow up, was able to resolve several errors by modifying some custom Operators to use `open_maybe_zipped` instead of using path files directly. However, we also have a configuration system that several of our DAGs use that require the loading of YAML files. We use this configuration system in contexts other than airflow, and baking in this utility in order to accomodate this scenario feels

[2020-08-11 16:18] #9603 closed

[2020-08-11 16:58] darwinyip commented on #10275
That's true. Closing issue.

[2020-08-11 16:58] #10275 closed

[2020-08-11 17:17] kaxil commented on #10264
I took a look at your PR and I think running the spell check as part of the doc only makes sense for now. We don't need a separate command for it. Even if we would want to do it, it can happen in a separate PR :)

Yes, otherwise the PR would fail so atleast I would expect it to fail.

[2020-08-11 17:17] rootcss commented on #8715
@mik-laj where do you think we should put this doc? a new file in the root of docs or somewhere else?

[2020-08-11 18:05] mik-laj commented on #8715
New file in the root directory - `docs/`

[2020-08-11 18:11] atsalolikhin-spokeo commented on #8388
Hello,

I just installed Airflow for the first time, following the [Quick Start](https://airflow.apache.org/docs/stable/start.html) guide.

I ran the bash example operator (still following the guide):

[code]

And then, when I went to see how the run went, I got the error page with the mushroom cloud and the error.

Now, this is on Apache Airflow v1.10.11 (latest stable), which I see was released

[2020-08-11 18:12] atsalolikhin-spokeo commented on #8388
I don't have the rights to re-open this issue.  Is it enough for me to comment on it here?

[2020-08-11 18:14] atsalolikhin-spokeo commented on #8388
I ran into this in AWS, running Amazon Linux 2.

`uname -a` shows:

Linux ip-172-20-2-227.us-west-2.compute.internal 4.14.165-131.185.amzn2.x86_64 #1 SMP Wed Jan 15 14:19:56 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

[2020-08-11 18:17] mik-laj commented on #8388
This fix may not have been officially released.  Can you check to see if the problem is in the master version?

[2020-08-11 18:28] Labbs opened #10292 "Kubernetes Executor - invalid hostname in the database"
**Summary**:
Airflow cannot retrieve logs from kubernetes pods because the pod name is invalid.

**Apache Airflow version**: 1.10.11

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
[code]

**Environment**:

- **Cloud provider or hardware configuration**: AWS

**What happened**:
When I want to retrieve the logs from the GUI, Airflow indicates that it has not found the

[2020-08-11 18:29] atsalolikhin-spokeo commented on #8388
Thank you for re-opening this issue.  I've checked the master version:

[code]

I can't login through the Web UI, though.  It's asking me for username and password.

When I started the webserver, it said:

[2020-08-11 18:25:27,417] {manager.py:719} WARNING - No user yet created, use flask fab command to do it.

I tried, but it didn't work. Help?

[code]

[2020-08-11 18:32] mik-laj commented on #8388
Here is docs about your problem: https://github.com/apache/airflow/blob/master/UPDATING.md#drop-legacy-ui-in-favor-of-fab-rbac-ui

[2020-08-11 18:40] atsalolikhin-spokeo commented on #8388
Thank you!  I figured it out, actually.

[code]

(I did read the documentation section you linked to, thank you; just after I already created an `admin` user and logged in.)

Don't laugh, but I can't figure out how to unpause the bash example operator.  Instead of a sliding toggle switch, there is a checkbox.

I installed airflow by running "pip3 install --user ." in the top directory of the top o

[2020-08-11 18:42] atsalolikhin-spokeo commented on #8388
Here is a screnshot, showing there is no toggle switch like there was in 1.10.11

![Screen Shot 2020-08-11 at 11 41 15 AM](https://user-images.githubusercontent.com/66701226/89935851-b3382f00-dbc7-11ea-86f8-5c6d88ba96d5.png)

[2020-08-11 18:44] atsalolikhin-spokeo commented on #8388
I see this on my console:

[code]

[2020-08-11 18:46] mik-laj commented on #8388
You should now compile JS files, but this is a problematic process.
https://github.com/apache/airflow/blob/master/CONTRIBUTING.rst#installing-yarn-and-its-packages

Other solution: can you try to unpause the DAG with CLI and then go directly to the URL?

[2020-08-11 18:54] atsalolikhin-spokeo commented on #8388
Okay.  I used `sqlite3` to change the setting in `airflow.db` via CLI as you suggested.

Now the UI is showing all 22 DAGs are unpaused.

[code]

[2020-08-11 19:05] atsalolikhin-spokeo commented on #8388
I've installed JS using yarn as per the linked instructions.  Now Airflow is showing 18 DAGs (before it was 22). The bash example operator DAG is gone.

[2020-08-11 19:21] mik-laj commented on #8388
Is the issue discussed in this ticket still present in this version?

[2020-08-11 19:24] atsalolikhin-spokeo commented on #8388
I'm sorry, I can't tell.  I don't seem to have a fully functional Airflow installation.

The console (CLI) keeps telling me:

[code]

but I don't know how to do that.

And the example bash operator disappeared from the UI after I did the "yarn prod run".

[2020-08-11 19:27] atsalolikhin-spokeo commented on #8388
I triggered the "tutorial" DAG instead (from the UI), and it looks like it ran.

I can look at the task details.  No mushroom cloud.  So I would say this issue is fixed in master.

[2020-08-11 20:26] jaketf opened #10293 "Add Dataproc Job Sensor"
**Description**

The Dataproc hook now has separate methods for [submitting](https://github.com/apache/airflow/blob/master/airflow/providers/google/cloud/hooks/dataproc.py#L778) and [waiting for job completion](https://github.com/apache/airflow/blob/master/airflow/providers/google/cloud/hooks/dataproc.py#L705).
We should improve this further by adding a method to simply poke the status of the job.

[2020-08-11 21:31] #10116 closed

[2020-08-11 22:14] kaxil commented on #9420
Un-assigned myself, will let the new contributors work on this one

[2020-08-12 02:37] rafidka commented on #10091
Any update on this?

[2020-08-12 05:29] dewaldabrie commented on #10271
@turbaszek This is related indeed, but #9844 is for a PR into master branch where the location of the BigQueryValueCheckOperator is also changed. My PR is to fix it for 1.10 specifically.

[2020-08-12 07:03] eladkal commented on #10029
@kaxil I can prepare a PR to explain how to setup connection to Salesforce. It's relatively short explanation.
Once we'll have more information or a dedicated connection for Salesforce I'll update the docs accordingly.

[2020-08-12 07:07] dewaldabrie opened #10298 "GCSToS3Operator (and S3Hook) does not allow passing in of custom metadata"
This is related to #8304 which as closed due to becoming stale.

[GCSToS3Operator](https://github.com/apache/airflow/blob/f618cdd19a5cdf09262436978817934d27668997/airflow/providers/amazon/aws/transfers/gcs_to_s3.py#L30) uses the S3Hook to upload files.
The S3Hook uses boto3, which supports attaching metadata (headers) to files via the [`ExtraArgs` parameter](https://boto3.amazonaws.com/v1/document

[2020-08-12 07:14] caddac commented on #9606
@ashb Is this change as simple as changing the default value in https://github.com/apache/airflow/blob/f618cdd19a5cdf09262436978817934d27668997/airflow/config_templates/default_airflow.cfg#L166 or is there more work to be done?

[2020-08-12 08:44] turbaszek commented on #9606
Theoretically yes, practically we should check every operator for JSON compatibility. Check #8703 for example

[2020-08-12 09:01] turbaszek commented on #8204
We miss docs for get/delete operation operators. But I'm not even sure if we need those operators tbh

[2020-08-12 09:09] #8468 closed

[2020-08-12 11:00] kaxil commented on #10029
@eladkal Assigned the Github issue to you :)

[2020-08-12 12:23] mik-laj commented on #10091
@rafidka Can you create a PR? This way, it is easier to discuss specific changes. I only know now that not all documentation changes may be available in Airflow 1.10 and this is still a problem, but a less important one. We are now trying to focus on developing the documentation for the master branch as we want to release Airflow 2.0 soon. If there is a problem, I think it is worth making the nece

[2020-08-12 14:18] kaxil commented on #10171
Any updates on this @potiuk? I am going through all 1.10.12 issues currently -- would love to create RCs by EOD tomorrow.

[2020-08-12 14:22] potiuk commented on #10171
@turbaszek :) ? any news /updates here ?

[2020-08-12 14:49] kaxil commented on #8860
Can this be closed? I think this is already covered by https://github.com/apache/airflow/pull/9889 and https://github.com/apache/airflow/pull/8513

WDYT @potiuk ?

[2020-08-12 15:17] turbaszek commented on #10171
Confirmed that #7327 fix this issue. I was able to replicate the behavior and I've tested BigQuery operators from master with 1.10.10

[2020-08-12 16:21] sr-regify commented on #9046
➜ airflow version
1.10.10
The above version reports the same issue. I found a pattern that, if there is any task the DAG unable to allocate the resources and continue to stay in running state then I changed the task status to **up for retry**
I got the error as below
 TypeError: unsupported operand type(s) for +: 'NoneType' and 'datetime.timedelta'

Process DagFileProcessor0-Process:
Traceback (mo

[2020-08-12 17:02] potiuk commented on #8860
Yep

[2020-08-12 17:03] #8860 closed

[2020-08-12 20:30] #10264 closed

[2020-08-12 22:02] jaketf opened #10306 "Add Kerberos Support for Presto Hook"
**Description**
Airflow should be able to use [kerberos security features](https://airflow.apache.org/docs/stable/security.html#kerberos) to run queries against a kerberized presto cluster from an airflow task.

**Use case / motivation**

Schedule queries on a kerberized presto infrastructure using airflow.

**Related Issues**
abandoned / stale PR w/ lack of test coverage requesting same feature
h

[2020-08-13 02:37] vitaly-krugl opened #10309 "initdb crashes when using non-empty sql_alchemy_schema in configuration"
**Apache Airflow version**: 1.10.11

**Environment**:

- **OS** (e.g. from /etc/os-release): Debian GNU/Linux 9
- **Kernel** (e.g. `uname -a`): Linux b15edd925a5a 4.19.76-linuxkit #1 SMP Tue May 26 11:42:35 UTC 2020 x86_64 GNU/Linux

**What happened**:

I specified `sql_alchemy_schema = af` in the `[core]` section of airflow.cfg and then ran `airflow initdb`.

It crashed with the following excepti

[2020-08-13 07:13] fhaase2 opened #10313 "Run multiple containers in `KubernetesPodOperator`"
**Description**

The `airflow.contrib.operators.kubernetes_pod_operator.KubernetesPodOperator` does not have the possibility to start mutliple containers in the same pod.

**Use case / motivation**

Useful if one need to start sidecars or external services in the same pod. I am not sure about the API here, should it be possible to provide a list of images and cmds?

**Related Issues**

[2020-08-13 10:13] potiuk opened #10316 "Limit all google-cloud api to <2.0.0 as it introduces breaking changes"
**Description**

Google Cloud APIs introduced breaking changes in 2.0.0 (https://github.com/googleapis/python-container/blob/master/UPGRADING.md) and they already caused a number of changes. We should (for now - before we migrate to 2.0+ ) limit all our google-cloud deps to <2.0.0

**Use case / motivation**

Make sure that further releases of google cloud APIs are not breaking our builds.

[2020-08-13 11:58] #10316 closed

[2020-08-13 14:15] Shivi127 opened #10319 "Incompatibility with boto3 >= 2.8"
**Do not use issues for support requests or general help queries**

Please ask on one of our mailing lists, or in our Slack channel. See the "Ask a question" section of http://airflow.apache.org/community/

Issues which are not bug reports or feature requests (i.e. "how do I get X working", or "How do I best do X?") will likely be closed without a response.

[2020-08-13 14:41] potiuk commented on #10319
Hey @Shivi127 - we need more information, I think you copied the original content in the issue. Ideally if you know more details and know we need to limit boto3 versions, you might - rather than creating an issue - open directly a PR addressing the problem with some description and explanation. It should be as easy as updating one line in setup.py

[2020-08-13 14:41] #10319 closed

[2020-08-13 18:34] kaydani opened #10322 "GCSToGoogleSheetsOperator backwards compatibility bug"
**Apache Airflow version**: airflow-1.10.2

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**: GCP Composer

- **Cloud provider or hardware configuration**: GCP Composer
- **OS** (e.g. from /etc/os-release): GCP Composer
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

Imported GCSToGoogleSheetsOperator using `from

[2020-08-13 19:49] potiuk commented on #10322
Backport providers were tested and should work for 1.10.6+ version.  There is no guarantee they work with earlier versions and we do not plan to make any fixes to  make them work this way. That is far too much effort to make sure that it works for all past versions.

The behaviour of getboolean was fixed in https://github.com/apache/airflow/pull/4674/files  which was way after 1.10.2 release.

My

[2020-08-13 19:49] #10322 closed

[2020-08-13 23:39] mik-laj commented on #10306
@jaketf I'd love to do it.

[2020-08-14 05:31] rafidka commented on #10091
@mik-laj sure, I will do.

[2020-08-14 07:32] Shadowsong27 commented on #10194
I have just hacked some workaround since I really need this feature, it may be a bit raw but it's usable, using the first approach I mentioned above, with some abstractions. Basically I create a function that takes in any Airflow Operator, and returned a children of it, opening up an additional argument to skip dates.

Code here:

[code]

usage in DAG file:

[code]

So apparently this works only a

[2020-08-14 08:14] art-i-svsg opened #10325 "KubernetesPodOperator is still running running pod but task is marked as failed"
**Apache Airflow version**: 1.10.9

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.14

**Environment**:

- **Cloud provider or hardware configuration**: AWS EKS
- **Install tools**: Helm version 3
- **Others**: Helm chart - https://hub.helm.sh/charts/stable/airflow version 6.10.4

**What happened**:

We have Airflow set up with Celery executor but our tasks impleme

[2020-08-14 08:50] EpicWink commented on #9492
PR merged!

[2020-08-14 09:48] jpmarques66 commented on #10184
@potiuk Happy to take this.

[2020-08-14 13:22] flolas commented on #8125
For Azure Files as a workaround I solved adding _mfsymlinks_ on mount command.
See: [](https://docs.microsoft.com/en-us/azure/storage/files/storage-troubleshoot-linux-file-connection-problems)

[2020-08-14 15:17] Minyus opened #10330 "[Documentation] Section inconsistency between airflow.cfg and environment variable names"
**Apache Airflow version**: 1.10.11

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**: All
- **OS** (e.g. from /etc/os-release): All
- **Kernel** (e.g. `uname -a`): All
- **Install tools**: All
- **Others**:

**What happened**:

I'm trying to set up Google OAuth authentication for the web UI.

I found th

[2020-08-14 15:58] potiuk commented on #10184
Feel free!. I assigned it to you :)

[2020-08-14 17:10] zacwellmer commented on #9492
@nullhack could be a good time to revisit the issue now that the PR is merged

[2020-08-14 17:52] jonasmiederer commented on #8125
Unfortunately this doesn't seem to be possible with Azure Container Instances
[https://stackoverflow.com/questions/55314283/are-symbolic-links-possible-in-an-azure-container-instance-volumes](https://stackoverflow.com/questions/55314283/are-symbolic-links-possible-in-an-azure-container-instance-volumes)

[2020-08-14 18:25] kaxil commented on #9316
Yes this will be included in 1.10.12

[2020-08-14 18:53] #10171 closed

[2020-08-14 18:54] kaxil commented on #10171
Fixed by https://github.com/apache/airflow/pull/10318

[2020-08-14 23:16] alexbegg opened #10331 "Warnings about refusal to delete permissions on XComModelView"
**Apache Airflow version**:
1.10.11

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.6", GitCommit:"dff82dc0de47299ab66c83c626e08b245ab19037", GitTreeState:"clean", BuildDate:"2020-07-16T00:04:31Z", GoVersion:"go1.14.4", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1",

[2020-08-15 00:21] alexbegg commented on #10330
@Minyus I just want to clarify some things. The same [Security](https://airflow.apache.org/docs/stable/security.html) documentation page explains both the `auth_backend` under [api] (which as of 1.10.11 defaults to `airflow.api.auth.backend.deny_all`) and the `auth_backend` under [webserver] (which does not seem to be included in the default config, I assume because by default `authenticate` is `F

[2020-08-15 08:30] #8903 closed

[2020-08-15 09:09] jpmarques66 commented on #10001
@mik-laj I can take this one.

[2020-08-15 09:18] mik-laj commented on #10001
I assigned you to this ticket.

[2020-08-15 10:56] mik-laj commented on #10313
https://lists.apache.org/x/thread.html/rb1bcafea1b8f86e6d155aea7169c05805f7021e90f1636afc8019074@%3Cdev.airflow.apache.org%3E
can you have a look here? does this allow you to meet your use case?

[2020-08-15 12:28] ryanyuan opened #10339 "Add GCP Bigtable Update Instance Support"
**Description**

We need to update the labels from time to time for existing Bigtable instances and also promote the instances from DEVELOPMENT to PRODUCTION type.

**Use case / motivation**

**Related Issues**

[2020-08-15 12:37] Minyus commented on #10330
@alexbegg
Thanks for your clarification.
It seems the problem is [Configuration reference](https://airflow.apache.org/docs/stable/configurations-ref.html) is incomplete thus confusing.

[2020-08-15 13:40] shivanshs9 opened #10341 "Newly-created DAG is loaded in DB but existing DagBag instances are unable to get the DAG"
**Apache Airflow version**: 1.10.11

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

I am using an Airflow plugin to generate dynamic DAGs and Airflow is able to successfull

[2020-08-15 15:37] flolas commented on #8125
That's really bad for ACI, lol... Thanks for the info. I edited my answer.

[2020-08-15 20:00] mik-laj commented on #10330
I recommend enabling the RBAC UI. It has a completely different authorization setup. In Airflow 2.0, we plan to drop support for non-RBAC WEB UI.
Here is migration guide: https://github.com/apache/airflow/blob/master/UPDATING.md#drop-legacy-ui-in-favor-of-fab-rbac-ui

[2020-08-15 20:02] mik-laj commented on #10330
There is very little chance that an active contributor will fix the Airflow 1.10 documentation errors as we are focused on Airflow 2.0 development. However, I will gladly review the proposed changes if someone submits a PR to Airflow 1.10 documentation.

[2020-08-15 20:38] pcandoalmeida commented on #9538
Hi @joshkadis I've a bit of a stumbling block. It was suggested that I replace any view which includes `airflow` with the configuration text. I've done a few views but I am not able to find a way to amend some views (e.g, Browser > DAG Runs). I am thinking there is a root/base view which I will need to update, but not sure. Sorry for the delay on this!

[2020-08-15 22:03] AndersonReyes commented on #8996
@turbaszek is this in todo? I want to give it a shot

[2020-08-15 22:57] AndersonReyes commented on #8996
after some googling looks like this can be achieved like this

[code]

[2020-08-16 03:52] #10339 closed

[2020-08-16 12:35] JeffryMAC opened #10350 "Start Date in main DAG view shows redundant information"
This is shows:
![Screen Shot 2020-08-16 at 11 30 36](https://user-images.githubusercontent.com/63792998/90334314-81630600-dfd5-11ea-831d-c5ce695b6013.png)

For all DAGs it shows the same YYYY-MM-DD HH:MM as we see on the main view. the (i) tooltip simply doesn't give any more information.

As far as I remember it wasn't like this before.
It used to show the timestamp which the dag started to run.

[2020-08-16 14:29] pcandoalmeida commented on #9940
Closing this issue as a fix has been applied in 1.10.11 😀

[2020-08-16 14:29] #9940 closed

[2020-08-16 16:15] bsnithin44 commented on #10180
I would be happy to pick this up,
But could someone give me a little context on documentation duplication?. Any guidance would be much appreciated.
Thanks

[2020-08-16 20:10] potiuk commented on #9940
Cool ! Thanks for closing 👍

[2020-08-16 22:56] Minyus commented on #10330
@mik-laj
Thanks for your suggestion.
Unfortunately, I couldn't find a Helm Chart tested with Airflow 2.0 right now, but I will consider in the future.

[2020-08-17 05:59] potiuk commented on #10330
@Minyus The helm chart in "charts" folder of master is tested with the production Dockerfile build image and it is tested with every PR :). You will find instructions in README how to use it . We are going to release it soon so this is the "target" helm chart for Airflow in the future.

[2020-08-17 07:48] ozw1z5rd commented on #10200
ok, I'll try to write patches to bug I'll find. I'm just back from holidays, just the time to organise my work.

[2020-08-17 08:05] ozw1z5rd commented on #10154
Hello Kaxil, I got the issue when migrating from airflow 1.9.0 to 1.10.10. If I add some dags with tags, when I delete them from the UI, I got exception. Mumble...

`for model in models....`

perhaps is the list of model that come from my installation different from the one you are getting? So that, on my installation it attempts to delete the DAG starting from the wrong table.
what is supposed to

[2020-08-17 08:38] varundhussa opened #10357 "DataProcHook cancel method does not execute the REST call"
**Apache Airflow version**: 1.10.x

**What happened**:
The cancel method of the DataProcHook does not cancel a running DataProc job.

**What you expected to happen**:
The job should get cancelled and return the response JSON
Documentation says: returns A Job json dictionary representing the canceled job: https://github.com/apache/airflow/blob/1.10.11/airflow/contrib/hooks/gcp_dataproc_hook.py#L325

[2020-08-17 08:42] turbaszek commented on #10357
Thanks @varundhussa would you like to fix it? In the mean time I strongly suggest to take a look at
https://github.com/apache/airflow#backport-packages

[2020-08-17 08:53] #9600 closed

[2020-08-17 10:13] varundhussa commented on #10357
Hi @turbaszek Since v1-10-stable branch has the v2.0 code now, the issue does not exist there anymore. Releases up to tag 1-10.11 have the issue since the older contrib hook was being used. I'm not sure which branch to raise a PR on. What would you recommend?

[2020-08-17 10:27] turbaszek opened #10358 "Add docs / best practises for KEDA + Airflow"
**Description**

Airflow is using [KEDA](https://keda.sh) to achieve autoscaling behavior for `CeleryExecutor` in case of Kubernetes deployment. It is also incorporated in our Helm chart.

We should add documentation in the form of best practices / watchouts, it should include:
- adjusting `terminationGracePeriodSeconds` of worker pods to avoid termination of long-running tasks
- suggestions for m

[2020-08-17 10:33] turbaszek commented on #10357
The issue still persists on `v1-10-test` branch:
https://github.com/apache/airflow/blob/f487f2f56b2a4ffa474306633c0c2d808a3e2a11/airflow/contrib/hooks/gcp_dataproc_hook.py#L336-L340

That is the branch we use to add fixes to 1.10.X releases. However, I strongly suggest to use backport packages as this is what will be available in Airflow 2.0

[2020-08-17 12:02] potiuk commented on #10357
@varundhussa - we generally stopped fixing problems in 1.10 operators and we fully move our efforts to backport packages. We are going to release the second wave of backport packages soon - see #10014 and I definitely recommend to switch to those.

[2020-08-17 12:03] FloChehab opened #10362 "Airflow 1.10.12rc1, KubernetesPodOperator broken with secret & deploy_type "volume""
**Apache Airflow version**: 1.10.12rc1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): v1.16.11-gke.5

**Environment**:

I am using the official docker image with the helm chart in this repo (with really minor tweaks). Config is pretty close to default.
Docker image: `apache/airflow:v1-10-test-python3.8` (exact: `apache/airflow@sha256:53ac5c6f7df40c886cd1918f40d7802f

[2020-08-17 12:09] varundhussa commented on #10357
Thanks @potiuk . I completely understand. I will be moving to the 2.0 ports.

[2020-08-17 12:54] turbaszek commented on #10357
Should we close this issue?

[2020-08-17 12:59] #10357 closed

[2020-08-17 13:43] kaxil commented on #10362
hmm there are duplicate "MountPaths", do you specify this VolumeMounts anywhere else like in pod_mutation_hook ?

[2020-08-17 13:51] FloChehab commented on #10362
Hi @kaxil, I am running things with default everything basically (but with the chart from the master branch if this can have impact).
I've tried to reproduce the bug following the testing on kubernetes guide but I can't do it. It seems to work.

[2020-08-17 13:55] Minyus commented on #10330
@potiuk
Thanks for sharing updates about the Helm Chart.

1. I checked the Docker Hub and I see severals images that start with "master" at [apache/airflow](https://hub.docker.com/r/apache/airflow/tags?page=1&name=master).

- master-python3.x
- master-python3.x-build
- master-python3.x-ci
- master-python3.x-ci-manifest

Are these all Airflow 2.0dev?
Which Docker images are used to test with the He

[2020-08-17 14:09] FloChehab commented on #10362
I am trying to pin point exactly where this mutation happen in my case, I'll come back once I have more info to share.

[2020-08-17 14:15] potiuk commented on #10330
All images starting with "master" are the 2.0 ones, and the one that you are looking for are the ones without the suffix (so master-python3.x). There are also images in v1-10-test- prefix (for work in progress on releasing stuff from 1.10 line) and last but not least 1.10.N- images (which are the ones that correspond to actual released versions - 1.10.10, 1.10.11 etc.). All those without a suffix

[2020-08-17 14:29] kaxil commented on #10341
https://github.com/apache/airflow/pull/10328 - should provide you with an endpoint to force refresh all the DAGs

[2020-08-17 14:49] FloChehab commented on #10362
I've removed all calls to `settings.pod_mutation_hook` and I still get the error.
Also I am getting a bunch of ```DeprecationWarning: Using `airflow.contrib.kubernetes.pod.Pod` is deprecated. Please use `k8s.V1Pod`.```: I am not sure if this is suppose to happen since I am not doing anything fancy in the dag above.

Finally, the mutation happens either on line 97 https://github.com/apache/airflow/

[2020-08-17 14:50] potiuk opened #10363 "Clearer documentation about production image usage"
**Description**

We have quite comprehensive documentation about Docker Images used (https://github.com/apache/airflow/blob/master/IMAGES.rst) however it can be quite overwhelming for image users who just want to use it and possibly customize the image without having to know all the internals.

There is a small section about Production Images in https://github.com/apache/airflow/#official-docker-i

[2020-08-17 14:52] kaxil commented on #10362
The following is just warning not an actual error so should be fine.
[code]

Do you use the chart as it is? i.e do you alter Mutation settings or anything else?

[2020-08-17 14:54] potiuk commented on #10330
BTW @Minyus -> if you see any places how the image documentation (especially the user-facing one) can be improved to be more clear and useful - feel free to make a PR or two. I created  "good-first-issue" to update the documentation here: https://github.com/apache/airflow/issues/10363 and you are most welcome to help with that. I often find it difficult to write a good "user-facing" documentation

[2020-08-17 14:56] FloChehab commented on #10362
I am using the chart as is, with the following "custom" values:

[code]

[2020-08-17 14:58] kaxil commented on #10362
Thanks, I will investigate this further to reproduce it and let you know what I find

[2020-08-17 14:58] kaxil commented on #10362
cc @dimberman

[2020-08-17 15:08] honarkhah commented on #8521
In my case issue is about concurrent dags, the insertion issue is fixed in airflow `1.10.11`
if you trigger more than 1 instance of a dag at the same time and you have more than 1 worker you can reproduce this issue.

[2020-08-17 15:25] jhtimmins commented on #8112
@mik-laj Heads up that I plan to implement this this week

[2020-08-17 15:30] mik-laj commented on #8112
Do you need any help from me?  I also planned to start working on it this week, but if you are interested I will be happy to help when you are already preparing a PR.:-D

[2020-08-17 15:45] ervazquez commented on #9245
@dakov I've been experiencing similar issues creating roles and getting them to work using the Airflow UI (version 1.10.11).  I want to test your method.  I tried the following:

1. modifying the script `./venv/lib/python3.7/site-packages/airflow/www_rbac/security.py` which is what I believe you were suggesting.
2. Running `airflow sync_perm` in the webserver

Does not seem to be working for me.

[2020-08-17 15:46] ei-grad commented on #8177
Is it right that this issue is not going to be fixed in 1.10.x?

As a workaround one could use dill=True, it is able to serialize modules.

[2020-08-17 16:02] mik-laj commented on #8177
@kaxil @potiuk can you help with that?

[2020-08-17 16:06] jhtimmins opened #10364 "Auth backends for new API"
**Description**

We need additional auth backends for the new API to allow access to users who aren't use an auth proxy service.

**Use case / motivation**

The new API does not have support for common authentication methods, such as JWT or basic authentication. It exclusively supports use of an authentication proxy service. Small teams using Airflow are unlikely to have auth proxies, meaning the

[2020-08-17 16:09] mik-laj commented on #10364
Currently @houqp  is already working on Basic Authorization
 https://github.com/apache/airflow/pull/10356
Does this fulfill your needs or would you like to implement something else?

[2020-08-17 16:23] houqp commented on #8111
@mik-laj @jhtimmins shouldn't we mark this issue as completed? what's left to be done here?

[2020-08-17 16:25] houqp commented on #10364
Hi @jhtimmins sorry that I started working on the basic auth support because I didn't see anyone working on it and our team really need this feature for production workload. Perhaps we can repurpose this issue to JWT support?

[2020-08-17 16:27] potiuk commented on #8177
It was not marked as Milestone 1.10.12  I am afraid. I marked is as such now. There is a good "chance" rc1 will be cancelled because of #10362 and if so - we might be able to add it.

[2020-08-17 16:31] mik-laj commented on #8111
@houqp  I did not close the ticket because the topic of other authorization methods was discussed here, but I have already asked our colleague to create a separate ticket. On a separate ticket, we can discuss what else we want to do.

[2020-08-17 16:31] #8111 closed

[2020-08-17 16:38] dimberman commented on #10362
@FloChehab thank you for bringing this to our attention. I've pushed a fix here https://github.com/apache/airflow/commit/1ad6ec43439cb1781176e567d3c7fab813404f1f

[2020-08-17 16:41] FloChehab commented on #10362
Thanks @dimberman , I'll build an image with this fix and I'll test it asap.

[2020-08-17 16:41] #9021 closed

[2020-08-17 17:23] FloChehab commented on #10362
The fix has solved this particular issue @dimberman ! Thanks

[2020-08-17 17:24] jhtimmins commented on #10364
@houqp That's awesome! I don't care who does the work I'm just glad it's getting done :)

@mik-laj I think this is good for now. If we need to add additional schemes in the future we can do that, but for now as long as there's a way for teams to authenticate beyond auth proxies or similar.

[2020-08-17 17:24] #10364 closed

[2020-08-17 17:26] kaxil commented on #10362
Awesome, we will create 1.10.12rc2 in an hour

[2020-08-17 17:53] kaxil commented on #8177
Yeah thanks, will include it, planning to cut 1.10.12rc2 later tonight

[2020-08-17 18:41] mik-laj commented on #10306
Small update:
I tried to complete this ticket but couldn't test Airflow with Kerberos because the Kerberos setup in Breeze is not complete.
I have a new setup: https://github.com/mik-laj/presto-kerberos-docker

I also opened PR to presto-python-client to add support for self-signed SSL certificate: https://github.com/prestosql/presto-python-client/pull/36
I will have to prepare some documents so t

[2020-08-17 19:07] kaxil commented on #8177
PR merged, will be part of 1.10.12rc2

[2020-08-17 19:07] #8177 closed

[2020-08-17 19:20] shivanshs9 commented on #10341
@kaxil that would refresh DAGs from the DB only for the process that received the POST request, right?
I think it would still randomly fail when opening the DAG even after "refresh all" button is clicked.

Although it still would be a better solution since it would allow one to attempt to refresh the dagbag, in memory, from DB in all the workers. 🤔

[2020-08-17 19:34] kaxil commented on #10341
That will refresh DAGs from DB if DAG Serialization is enabled, if not it will refresh them from DAG files

[2020-08-17 21:50] kaxil commented on #10362
Unfortunately, the PR hasn't passed the tests, so we will have to wait for tomorrow.

[2020-08-17 22:14] jelther opened #10367 "Markdown table is not rendered in doc_md attribute for DAG"
**Apache Airflow version**: 1.10.11

**Environment**: Python 3.7

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): PRETTY_NAME="Debian GNU/Linux 10 (buster)"
 (from python3.7-slim-buster docker image)
- **Kernel** (e.g. `uname -a`): Linux 5.4.0-42-generic #46-Ubuntu SMP Fri Jul 10 00:24:02 UTC 2020 x86_64 GNU/Linux
- **Install tools**:
- **Others**:

**What hap

[2020-08-17 22:55] mik-laj commented on #10367
It seems worth taking care of this. Do you want me to assign you this ticket? I will be happy to help if you need any support and reviews.

[2020-08-17 23:01] mik-laj commented on #10367
It seems that the original markdown specification does not provide support for tables
https://daringfireball.net/projects/markdown/syntax
We have to activate it with the extension.
https://python-markdown.github.io/extensions/

[2020-08-17 23:02] guptamyr commented on #10014
Hi, could you please also make sure to include this new operator for AWS SageMaker: https://github.com/apache/airflow/pull/9594. Thanks!

[2020-08-18 08:50] JeffryMAC commented on #10194
I think you can utilise this to become a `FelixbileDateSensor` just like we have `WeekDaySensor`
@kaxil maybe you can give some pointers if that idea of a Sensor can be accepted as a core sensor?

[2020-08-18 09:47] #9420 closed

[2020-08-18 09:47] mik-laj commented on #9420
Done via: https://github.com/apache/airflow/pull/10352

[2020-08-18 10:24] potiuk commented on #10014
Yep. It's alrready merged so it will be inclued automagically :). Baically we release everything that is now in master.

[2020-08-18 12:02] potiuk commented on #9713
My proposals:

1) I think we can implement tenacity's retrieval mechanism (https://pypi.org/project/tenacity/) with exponential back-off. We use it in a few places already and we could easily set a default sane behaviour and make sure in the interface we define a "Temporary" problem that needs retry. This needs to be done at the "backend" level (so that retrieving multiple variables from the backe

[2020-08-18 13:19] Craig-Chatfield opened #10374 "Dataflow commands always launch in a virtualenvironment"
**What happened**:

With the new Backport providers, when calling `DataflowCreatePythonJobOperator` with an empty `py_rerquirments` Dataflow commands always launch inside a virtualenv.

**What you expected to happen**:

The Dataflow command should run locally.

[2020-08-18 13:42] potiuk opened #10375 "Make sure Only changed backports get released"
**Description**

Automatically release only backport packages that have not changed.

**Use case / motivation**

Currently, you either release selected or all backport packages that changed by the selection does not work as intended - it is based on lack of commits since last release, but the mechanism of backport package releases introduces one more commit (With the actual release) in all the pac

[2020-08-18 13:47] potiuk opened #10376 "Add mechanism to maintain UPDATING.md for each provider package separately"
**Description**

Add inventory of backwrds-incompatible changes in backport packages.

**Use case / motivation**

Currently, we do not have an inventory of the backwards-incompatible changes in backport packages. We want to keep the updated when there are a future changes and we want to include them in the release notes.

**Related Issues**

#10014

[2020-08-18 14:26] waldher commented on #8467
It looks like this was introduced here: https://github.com/apache/airflow/blame/96697180d79bfc90f6964a8e99f9dd441789177c/requirements/requirements-python3.5.txt#L255

This is because Flask-Oauthlib is only compatible with requests-oauthlib==1.1.0, and this update pinned it at 1.3.0

[2020-08-18 14:39] ryw commented on #8107
Hi @mik-laj where is best place to see what has been completed, and what's left to do for the initial release of the new REST API? I see a list of tickets above, is that still comprehensive? If you're doing some internal project tracking, could you share a snapshot of progress here?

[2020-08-18 14:58] Minyus commented on #10330
@potiuk
Thanks for your explanation.
I now know which image I should use and the roadmap of Airflow.
I'll continue to try Airflow and hope I can find some time to contribute in the future as well.

[2020-08-18 14:58] cccs-cat001 opened #10379 "Chart README is incorrect"
**Apache Airflow version**: docs issue

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

The instructions to install the helm chart in the README file produce the helm/chart/stab

[2020-08-18 15:10] turbaszek opened #10381 "Add on_kill method to DataprocSubmitJobOperator"
**Description**

This operator should implement `on_kill` method using `cancel_job` method of DataprocHook so in case of termination we cancel running job. This option probably should be configurable (for example `cancel_on_kill`) because of `request_id` prameter in a job definition: https://googleapis.dev/python/dataproc/latest/gapic/v1/api.html#google.cloud.dataproc_v1.JobControllerClient.submit

[2020-08-18 15:14] turbaszek opened #10382 "Add on_kill method to BigQueryInsertJobOperator"
**Description**

Add possibility to cancel running job if the operator is killed. This option probably should be cofigurable due to idempotency logic of the operator.

**Use case / motivation**

Remove dangling jobs.

**Related Issues**

https://github.com/apache/airflow/pull/9590
https://github.com/apache/airflow/pull/8858
https://github.com/apache/airflow/pull/6470

[2020-08-18 15:16] turbaszek commented on #10382
@edejong @jaketf @potiuk I would love to hear your opinion on this one 👍

[2020-08-18 15:16] turbaszek commented on #10381
@edejong @jaketf @potiuk I would love to hear your opinion on this one 👍

[2020-08-18 15:37] dimberman commented on #10362
Issue should be fixed for RC2 with this PR ^

[2020-08-18 15:37] #10362 closed

[2020-08-18 15:44] FloChehab commented on #10362
Thanks a lot !

[2020-08-18 15:46] dimberman commented on #10362
@FloChehab Thank you for testing our RC! :D

[2020-08-18 15:52] FloChehab commented on #10362
You are welcome !

I was wondering if there is any mailing lists with RC announcements ? So that I can keep inform and test things "on time". Or maybe, I should join slack ?

[2020-08-18 15:58] kaxil commented on #10362
Yes for sure, Check http://airflow.apache.org/community/

Send an email to dev-subscribe@airflow.apache.org to subscribe to Dev mailing list where this is announced

[2020-08-18 15:59] mik-laj commented on #8124
According to recent discussions, we want to use the same permissions as Web UI, so we don't need it.

[2020-08-18 15:59] #8124 closed

[2020-08-18 16:00] mik-laj commented on #8122
According to recent discussions, we want to use the same permissions as Web UI, so we don't need it.
Here is docs: https://airflow.readthedocs.io/en/latest/security/access-control.html

[2020-08-18 16:00] #8122 closed

[2020-08-18 16:02] mik-laj commented on #8120
Instead of writing guides, we can generate code examples.
https://github.com/apache/airflow/issues/9829

[2020-08-18 16:02] #8120 closed

[2020-08-18 16:08] FloChehab commented on #10362
Done, thanks for the info !

[2020-08-18 16:09] mik-laj commented on #9080
I add the "kind:meta" label because we won't be able to close it with one or two tickets.

[2020-08-18 16:16] mik-laj commented on #8113
This is a very difficult task, because to get it fully we would have to hire security experts to take care of it. I think it is feasible but we need to get funding.  One idea I heard somewhere about Airflow 2.0 is a bug-bounty program. This would allow us to check for security bugs in the API, but it's a big topic.

Closing for now as I have no information to be able to successfully obtain funds a

[2020-08-18 16:16] #8113 closed

[2020-08-18 16:23] potiuk commented on #8107
I believe it's this: https://github.com/apache/airflow/projects/1

[2020-08-18 16:29] ryw commented on #8107
ah thank you!

[2020-08-18 16:30] potiuk commented on #8107
From the very beginning of the project we track it in this project and @mik-laj excellently planned the work and managed the status all the time in the project (Kudos @mik-laj ), so I am quite sure it accurately reflects the state).

[2020-08-18 16:43] krisdock opened #10383 "Add on_kill method to KubernetesPodOperator"
**Description**

Kubernetes Pods that are created by KubernetesPodOperator aren't deleted when a running task is killed/cleared from the Airflow UI. There's a known function (on_kill) that can be implemented to properly handle this scenario.

**Use case / motivation**

If a running Airflow task is killed, the associated Kubernetes Pod should ideally be deleted.

**Related Issues**

None

[2020-08-18 16:44] krisdock commented on #10383
@dimberman

[2020-08-18 16:59] sanjana1604 commented on #10363
@potiuk I would like to solve this issue.

[2020-08-18 17:08] potiuk commented on #10363
Feel free :). Assigned you to it and happy to review it!

[2020-08-18 18:30] shivanshs9 commented on #10341
I understand that but I'd again like to confirm that it'll only refresh the DAGs for the in-memory instance of the DagBag for that specific gunicorn worker process that received the request.
With more than 1 web worker, trying to open DAG details or trigger will still randomly fail since the "refresh all" request may be POSTed to some other worker.

While a restart would help, I propose that there

[2020-08-18 18:43] jaketf opened #10385 "Add on_kill method to DataprocInstantiateWorkflowTemplateOperator"
**Description**

This operator should cancel running workflow template `on_kill`. This option probably should be configurable because of request_id prameter in a job definition: https://googleapis.dev/python/dataproc/latest/gapic/v1/api.html#google.cloud.dataproc_v1.WorkflowTemplateServiceClient.instantiate_inline_workflow_template
https://googleapis.dev/python/dataproc/latest/gapic/v1/api.html#go

[2020-08-18 18:45] jaketf commented on #10381
Sounds like a good feature to have.
My only thought is that we should also add similar `on_kill` method for workflow template operators.

[2020-08-18 18:54] jaketf commented on #10381
Dataproc jobs are kind of a wild wild west and may have significant side effects. From a documentation perspective we should call out that `on_kill` simply kills the job but will not "roll back" changes in external systems (GCS, Hive Metastore, BQ, pubsub, etc) that may have occurred. Users should be careful to handle any such scenarios in the logic of their pipelines.

A Few examples
-even before

[2020-08-18 19:03] potiuk opened #10386 "Add list of prerequisites that new provider package should fulfill"
**Description**

We need to have a folder template (ideally) and list of prerequisites that each provider should fulfill when it is created.

**Use case / motivation**

To make it easy to add new provider and to make new contributors aware what is needed in order to add provider. The following should be added:

- [x] directory structure (possibly automated templates or script to create them)
- [ ]

[2020-08-18 19:09] jaketf commented on #10382
I think this is straightforward for import / query / copy jobs as they are all internal to bigquery and committed atomically.

There may be a corner case with extract (to GCS) jobs. I do not believe export jobs > 1GB are atomic because the BigQuery export will write sharded GCS files. I imagine if killed at just the right time there would be just some portion of those sharded files committed to gc

[2020-08-18 21:35] shachibista opened #10388 "Windows support using Daemoniker"
**Description**

Currently, the airflow project uses PEP-3143 style daemons to launch tasks (as implemented in https://pypi.org/project/python-daemon/), however this is targeted towards unix daemons. As a result, running airflow on windows requires multiple levels of abstraction each with their own problems. Would it be possible to use something like daemoniker (https://daemoniker.readthedocs.io/e

[2020-08-18 22:19] atsalolikhin-spokeo opened #10389 "Documentation is missing instructions for preparing database for Airflow (during installation)"
**Apache Airflow version**: 1.10.11

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):  N/A

**Environment**:

- **Cloud provider or hardware configuration**:  AWS
- **OS** (e.g. from /etc/os-release): Amazon Linux 2
- **Kernel** (e.g. `uname -a`): N/A
- **Install tools**: N/A
- **Others**: N/A

**What happened**:
Airflow documentation is missing a step -- preparing the

[2020-08-18 22:53] #10132 closed

[2020-08-18 22:53] mik-laj commented on #10388
have you encountered other problems with running Airflow on Windows? Windows support is highly anticipated by our users, but no one has dealt with this topic intensively yet.

[2020-08-19 00:54] #8123 closed

[2020-08-19 00:57] amirulmenjeni opened #10395 "Invalid Syntax Error When Importing hdfs_hook"
**Apache Airflow Version**: 1.10.10

**Kubernetes version (if you are using kubernetes)** (use kubectl version): N/A

**Environment:**
- **Cloud provider or hardware configuration**: N/A
- **OS**: CentOS Linux 7 (Core)
- **Kernel**: Linux myhost 3.10.0-1062.4.3.el7.x86_64 #1 SMP Wed Nov 13 23:58:53 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
- **Install tools**: N/A
- **Others**: N/A

**What happened*

[2020-08-19 01:23] amirulmenjeni commented on #10395
Relevant: https://github.com/spotify/snakebite/issues/216

[2020-08-19 02:21] #8143 closed

[2020-08-19 02:22] #9111 closed

[2020-08-19 02:31] mik-laj commented on #10389
Thanks for your feedback. Wouldn't you like to contribute this documentation change? You can do it even using Github UI.
https://docs.github.com/en/github/managing-files-in-a-repository/editing-files-in-your-repository
I am very happy to help with the review of this change.

[2020-08-19 08:49] yesemsanthoshkumar commented on #10185
@potiuk I can pick this up over the weekend. Are we planning to add this to the [Scheduler](https://airflow.apache.org/docs/stable/scheduler.html) section of the docs?

[2020-08-19 08:51] ayush-san commented on #8467
@waldher Yes and lepture has archived [flask-oauthlib](https://github.com/lepture/flask-oauthlib) and created [authlib](https://github.com/lepture/authlib), I see a PR in airflow from lepture about this change https://github.com/apache/airflow/pull/6140 but it is not merged and marked stale by the bot

Also is anyone working on fixing this issue?

[2020-08-19 09:05] ephraimbuddy commented on #10395
You need to install snakebite-py3, snakebite does not work with python 3. I'll try and address this in master

[2020-08-19 09:59] #9749 closed

[2020-08-19 13:51] potiuk commented on #10185
Great @yesemsanthoshkumar ! Yes. That's the right place  :)

[2020-08-19 14:46] eyalzek opened #10406 "log_id field is missing from log lines (ES remote logging)"
**Apache Airflow version**:
apache/airflow:1.10.11

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
v1.16.11-gke.5

**Environment**:
GKE

**What happened**:
Webserver doesn't fetch logs for tasks from elasticsearch

**What you expected to happen**:
task logs will be displayed in the webserver UI

It seems like the webserver is trying to query task logs by the `log_id`

[2020-08-19 15:07] shachibista commented on #10388
Yes. Following the installation manual on the homepage `pip install apache-airflow` installs the `airflow` command, but it is not a windows executable and windows does not recognize the `#! ..../python3.exe` shebang.

[2020-08-19 15:19] norwoodj commented on #7935
We also have this issue:
 Apache Airflow version: 1.10.10

Kubernetes version (if you are using kubernetes) (use kubectl version): v1.14.10-gke.42

Environment:

Cloud provider or hardware configuration: Google Cloud Kubernetes
OS (e.g. from /etc/os-release): "Debian GNU/Linux 10 (buster)"
Kernel (e.g. uname -a): Linux airflow-scheduler-77fc4ff87c-k2td5 4.14.138+ #1 SMP Tue Sep 3 02:58:08 PDT 2019

[2020-08-19 15:23] mik-laj commented on #10388
@shachibista Have you tried installing the development version from source? I think this change should fix this problem.
https://github.com/apache/airflow/pull/7808/files#r396126977

[2020-08-19 15:50] potiuk commented on #10388
I think it would be great if someone could invest in Windows support. I believe there are few things - not only the daemon model but also Local Executor uses fork mechanisms which won't be able on Windows, also there might be some problem if you want to use Celery Executor on Windows: https://www.distributedpython.com/2018/08/21/celery-4-windows/ There are few POSIX-compliant packages used as well

[2020-08-19 16:15] potiuk commented on #10406
Wold you maybe like to work ona fix ? It does not seem like a complex things to do and we are happy to help new contributors :)

[2020-08-19 16:46] potiuk commented on #10389
Yeah. The best contributions in docs are from those who suffered from lack of it. You can write it in the way that will be usable for other newcomers so I encourage you to contribute it @atsalolikhin-spokeo :)

[2020-08-19 19:12] houqp commented on #9080
@mik-laj are we still tracking the client progress with the spreadsheet you linked? I left couple comments there, but hasn't seen it updated. we can also create separate ticket for each language to track the status.

[2020-08-19 19:49] pcandoalmeida commented on #10386
Hi @potiuk 🙂 I was thinking about taking a look at this; would you mind if I asked to help clarify the issue a bit further? Would this require a Gitub repository PR template update and documentation or something completely different? Apologies if I am missing the obvious here!

[2020-08-19 19:52] mik-laj commented on #9080
@houqp  Thanks for pinging me I updated the spreadsheet and added new requirements about authorization. These are optional in most cases. I would prefer to have one spreadsheet so that adding a new requirement is updated for all clients.

[2020-08-19 20:01] mik-laj commented on #9080
@houqp I have given you editor permission on this sheet, so you can make changes to it.

[2020-08-19 20:02] ayanray089 opened #10408 "Dynamic DAG Workflow"
Hi,

I am facing an issue while creating a dynamic workflow from a JSON file. The target here is to store all parent and child relationship in a JSON config file. I want to create the DAG workflow dynamically based on the config defined in the config file.
It works for simple sequential scenario where the present task is the parent of the next downstream task.

JSON file:
task_dependency = '{"depe

[2020-08-19 20:20] potiuk commented on #10386
It's rather about folder structure. We have monorepo - providers are in 'providers'  packages/folders  - both 'airflow' and 'tests' subfolders and they follow certain structure

[2020-08-19 20:22] potiuk commented on #10386
Ah sorry - did not understand. I think it is mostly a 'CONtRIBUTING.rat' update or rather creating new 'how to create a new provider.rst' file + folder structure explanation( or anyone script creating a new provider with some scaffolding)

[2020-08-19 21:52] eyalzek commented on #10406
@potiuk I'll be happy to if you could point me in the right direction. Where should this feature be implemented? In the logger?

[2020-08-19 23:07] atsalolikhin-spokeo commented on #10389
Hello,

I was unable to commit my change.  The pre-commit hook test suite failed on:

[code]

I had a look at your Contributing document, and the bar is a bit high -- Breeze, Docker, virtualenv -- I tried following the instructions but `breeze` did not start:

[code]

Here is the patch I was going to send in:

[code]

[2020-08-19 23:12] mik-laj commented on #10389
pre-commit is optional. For small changes to the documentation, I very often post the changes without pre-commit to the CI. When an error occurs, I apply the correction locally and send the change again to CI. This is also the reason why I recommended editing the documentation via Github UI.

[2020-08-20 00:19] bhavaniravi commented on #10104
@mik-laj I have a question

How does `deprecated_classes` handle backward compatibility when importing modules instead of classes

Example:

[code]
Instead of
[code]

[2020-08-20 01:07] mik-laj commented on #10104
@bhavaniravi We have two deprecation messages. One for the module and one for the classes.
<img width="723" alt="Screenshot 2020-08-20 at 03 02 03" src="https://user-images.githubusercontent.com/12058428/90704851-de8ae000-e291-11ea-8464-649794871195.png">
<img width="906" alt="Screenshot 2020-08-20 at 03 02 22" src="https://user-images.githubusercontent.com/12058428/90704856-e0ed3a00-e291-11ea-97e

[2020-08-20 07:21] potiuk commented on #10389
@atsalolikhin-spokeo  Also you can always run `git commit --no-verify` which will skip pre-commit step.

[2020-08-20 07:22] potiuk commented on #10389
BTW. I almost never skip `pre-commits`  - they are super helpful and usually when they fail, there is a good reason to fix it .

[2020-08-20 07:25] potiuk commented on #10389
BTW. The recent changes to pre-commit script will hopefully fix one more reason for a problem, but @atsalolikhin-spokeo  - if  you rebase to latest version and run it again and it fails, please send me the output - maybe there is another case that I missed :)

I would love those pre-commits to be rock-solid so that people won't skip the pre-commits too often.

[2020-08-20 10:07] turbaszek opened #10425 "FILES_FOR_REBUILD_CHECK[@]: unbound variable"
**Apache Airflow version**:

Current master

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **OS** (e.g. from /etc/os-release): MacOS

**What happened**:

[code]

**What you expected to happen**:

I would love to build packages

**How to reproduce it**:

Just run
[code]

**Anything else we need to know**:

N/A

[2020-08-20 10:07] turbaszek commented on #10425
@potiuk any ideas?

[2020-08-20 10:13] turbaszek commented on #10425
When I move back to 5739ba28a Fix broken breeze script (#10418) everything seems to be ok.

[2020-08-20 10:34] potiuk commented on #10425
Mac issue

[2020-08-20 10:55] potiuk commented on #10425
You need to run `./breeze prepare-backport-packages 2020.07.27 cncf.kubernetes` (and there you get another issue - with missing README.md that you have to add). But I have different (correct) output in Linux so I have to double check it. The output I have:

[code]

[2020-08-20 10:56] potiuk commented on #10425
And this is the output I have on Linux if I run your command:

[code]

[2020-08-20 10:57] potiuk commented on #10425
I will double check it on mac and see where the undefined variable comes from

[2020-08-20 10:58] turbaszek commented on #10425
I solved this with changing mode to `w+`

[2020-08-20 12:22] EmadMokhtar opened #10426 "Multiple prefixes in GoogleCloudStorageListOperator and GoogleCloudStorageDeleteOperator"
**Description**

Support passing multiple prefixes to `GoogleCloudStorageListOperator` and `GoogleCloudStorageDeleteOperator` operators.

**Use case / motivation**

I have this folder structure in GCS bucket.

[code]

What I need to achieve is delete one day of objects. For example, I need to delete objects in `year=2020/month=08/day=19`. I can do that easily using `gsutils`. In `gsutil` you can d

[2020-08-20 12:24] EmadMokhtar commented on #10426
# Initial implementation

I implement it like this in my project

[code]

[2020-08-20 14:24] marcjimz opened #10427 "DAGs remain in the UI after they are deleted"
**Apache Airflow version**:

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.14.8

**Environment**: PROD

- **Cloud provider or hardware configuration**: Azure
- **OS** (e.g. from /etc/os-release): Ubuntu 16
- **Kernel** (e.g. `uname -a`): Linux
- **Install tools**: N/A
- **Others**: N/A

**What happened**: Today we use git-sync container to sync the commitment of D

[2020-08-20 15:55] kaxil commented on #10427
Is this with or without DAG Serialization @marcjimz ?

[2020-08-20 16:29] mik-laj commented on #9975
The problem is, we don't have a state that describes DAG Run that are saved but not running. All DAG Run have running state initially. If we want to fix this bug we have to add a new dag state.

[2020-08-20 17:51] breser opened #10429 "jquery dependency needs to be updated to 3.5.0 or newer"
Currently you're requring jquery 3.4.0 or newer, 3.5.0 has a vulnerability against it.

[CVE-2020-11022](https://github.com/advisories/GHSA-gxr4-xjj5-5px2)

Change is needed to these two lines:
https://github.com/apache/airflow/blob/master/airflow/www/package.json#L70
https://github.com/apache/airflow/blob/master/airflow/www/package.json#L48

[2020-08-20 19:16] mik-laj commented on #10367
Hello,

I assigned you to this ticket. Now you can create a PR with your change.

To work it is useful to set up the Breeze development environment. Here is a guide: https://github.com/apache/airflow/blob/master/BREEZE.rst

I think it's worth taking a look at the contribution workflow:
https://github.com/apache/airflow/blob/master/CONTRIBUTING.rst#contribution-workflow

If you have any questions,

[2020-08-20 20:01] mik-laj commented on #10426
@EmadMokhtar Do you need help creating a PR? Your use case looks interesting and it looks like it's worth thinking about.

[2020-08-20 20:31] zbrookle opened #10431 "Metrics Documentation, dag_bag_size"
In the airflow documentation metrics section there is a field called dag_bag_size and the description is just "DAG bag size", this is fairly unhelpful for trying to gain insight into the metrics, so would it be possible for this description to either be improved, or linked to a more accurate description?

In the docstring, the description of a dag bag is "a collection of dags, parsed out of a fold

[2020-08-20 20:48] pcandoalmeida commented on #10386
Thanks for the clarification @potiuk. I can certainly try working on the documentation to begin with if that suits.

[2020-08-20 21:29] alexbegg opened #10434 "Last Run links on home page UI not correct with RBAC UI"
**Apache Airflow version**:
1.10.11

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.6", GitCommit:"dff82dc0de47299ab66c83c626e08b245ab19037", GitTreeState:"clean", BuildDate:"2020-07-16T00:04:31Z", GoVersion:"go1.14.4", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1",

[2020-08-20 21:52] mariuszliksza-kinesso opened #10435 "Negsignal.SIGKILL error on macOS"
**Apache Airflow version**:
1.10.9

**Environment**:
macOS Catalina, 10.15.6

**What happened**:
When I am running my workflow in Apache Airflow using docker (especially using Local Executor) I am sometimes getting this error: **INFO - Task exited with return code Negsignal.SIGKILL**
This usually appears when the task consumes a lot of CPU resources.
I have tried to set the limit in docker-compose

[2020-08-20 22:14] EmadMokhtar commented on #10426
@mik-laj I would like to make a PR for this. Please assign the ticket to me and I create a PR.

[2020-08-20 22:37] alexbegg commented on #9036
@mik-laj Is there an example of how to utilize `FileProcessorHandler` to get the log file path? The only thing I can find in the clode base to get a log file path that actually utilizes the correct `LOG_FILENAME_TEMPLATE` is:
https://github.com/apache/airflow/blob/c35a01037ad4bb03d39a0319d37bc36b08ccf766/airflow/utils/helpers.py#L154 and https://github.com/apache/airflow/blob/c35a01037ad4bb03d39a0

[2020-08-20 22:53] mik-laj commented on #9036
In my opinion, there is no universal method for determining the correct path to a file as there are TaskHandler which do not use files. For example: The StackdriverTaskHandler uses the ``"task_id"``, ``"dag_id"``,`` "execution_date"``, ``"try_number"`` labels which are added to each log.

We should abandon the use of file paths. Third-party services can access the log using the stable API.
https:/

[2020-08-20 23:39] alexbegg commented on #9036
@mik-laj I agree, that would work too, just take it out of the default email template as well as the example of `html_content_template ` in the docs. It already has `log_url` anyways. It isn't useful especially if you use remote logging since you should get the log from the remote server anyways.

[2020-08-20 23:56] alexbegg commented on #10434
I believe the fix may be to change the following line from `last_run ` to encodeURIComponent(`last_run `). I am still trying to figure out how to test this out and make my first PR, but if someone beats me to it go ahead: https://github.com/apache/airflow/blob/273e28cc2547cd552ea9c88cce086459b64e6257/airflow/www/templates/airflow/dags.html#L375

[2020-08-21 00:27] mik-laj commented on #10426
@EmadMokhtar  I assigned you to this ticket.

[2020-08-21 00:28] #10374 closed

[2020-08-21 01:06] amirulmenjeni commented on #10395
Thanks, `pip install snakebite-py3` fixed this issue.

[2020-08-21 03:21] atsalolikhin-spokeo commented on #10389
@potiuk Thanks for letting me know about `git commit --no-verify`.  I've rebased to the tip of master and tried `git commit --verify` and it failed on the same step:

[code]

[2020-08-21 03:21] ltken123 commented on #8212
@TRReeve do you have an example of how you set that connection and got it working? I've tried this a number of ways but continue to only get the log written in S3, not readable in the UI.

I'm just trying it in the config, i.e.

AIRFLOW_CONN_S3_URI: s3://SECRET_KEY:ENCODED_SECRET_ACCESS_KEY@BUCKET/logs/

AIRFLOW__CORE__REMOTE_LOG_CONN_ID: s3_uri

AIRFLOW__KUBERNETES_ENVIRONMENT_VARIABLES__AIRFLOW_

[2020-08-21 03:22] atsalolikhin-spokeo commented on #10389
Great idea to get the pre-commit hook rock-solid so that it can run every time.

[2020-08-21 04:33] potiuk commented on #10389
I would love to hear more about the failure @atsalolikhin-spokeo . Would it be possible that you pass the output that you get wit it? It shoud print more information - usually. If not you can always run `pre-commit run build --verbose` and pass me the output.

[2020-08-21 05:27] yuqian90 opened #10438 "breeze not working after recent commits"
When I ran `./breeze`, there's no output. The script just exits with code 1 immediately.

I ran it with `bash -x` and saw it was looking for `HELM_BINARY` when it crashed. I'm not using `Kubernetes`, but I tried to `brew install helm` anyway. And then `./breeze` started doing something. It then crashed again complaining `kind` is not found. So I brew installed `kind` as well.

And then breeze stil

[2020-08-21 05:27] yuqian90 commented on #10438
@potiuk since you made some major changes to ./breeze recently. Could you take a look please?

[2020-08-21 05:28] potiuk commented on #10438
Ok. It's  Mac thing. I will fix it shortly.

[2020-08-21 05:39] potiuk commented on #10438
@yuqian90 are you using bash or zsh ?

[2020-08-21 05:48] yuqian90 commented on #10438
Hi @potiuk I use bash and tmux.

[2020-08-21 05:52] potiuk commented on #10438
Can you talk on Slack with me - I pinged you there :)

[2020-08-21 07:50] #10438 closed

[2020-08-21 08:16] eyalzek commented on #10406
For posterity, for anyone deploying to kubernetes and using EFK for logging (specifically with https://github.com/fluent/fluentd-kubernetes-daemonset), this is the fluentd configuration we're using at the moment for getting `log_id` & `offset` into worker log lines:

[code]

in conjunction with the following airflow configuration:
[code]

[2020-08-21 11:09] dinigo opened #10443 "tasks not being queued at the correct pool"
**Apache Airflow version**: docker image `apache/airflow:master-python3.8`

**What happened**: tasks not being scheduled to the correct pool

**What you expected to happen**: If the pool for the task is set to `subdag_pool`, for the task to be queued at this pool.

**How to reproduce it**:

Subdag tasks take all the running slots in the current pool, so I created a separate pool for the sub-dag ta

[2020-08-21 14:13] frosk1 opened #10449 "Dynamic Schedule Intervals"
**Description**
There are several question (issues) on stack overflow, asking for the need of a dynamic schedule interval. This means, the ability to change the schedule interval after DAG creation programmatically via API or CLI. Further, user alo asking for a detailed discussion on some stackoverflow questions, which could not be find.
With the ability to dynamically change DAG schedule interval

[2020-08-21 15:16] smishra opened #10451 "Airflow tries running Jinja on any property name ending with .json"
Looks like there is a bug in Airflow templated operator argument when it has any string that ends with _.json._ Following is my DAG - please notice **"--files", "s3://dummy/spark/application.json"** in the STEPS variable.

[code]
`

The cluster launches successfully but the **Airflow fails with following error**

`[2020-08-21 15:06:42,307] {taskinstance.py:1145} ERROR - s3://dummy/spark/applicatio

[2020-08-21 20:06] XD-DENG opened #10455 "Stale documentation for Kubernetes Executor"
**What happened**:

In documentation about Kubenetes Executor (https://airflow.apache.org/docs/stable/executor/kubernetes.html or https://github.com/apache/airflow/blob/v1-10-test/docs/executor/kubernetes.rst), we see contents below
![Kubernetes_Executor_—_Airflow_Documentation](https://user-images.githubusercontent.com/11539188/90930154-58d67400-e3fa-11ea-9180-390ccd4574b3.png)

However, we canno

[2020-08-22 05:24] jhtimmins opened #10469 "Migrate existing views/endpoints to use resource-based permissions"
## Rationale
Airflow currently has 185 permissions (where 1 permission is a combo of Class + Action). The design of the permissions is inconsistent, making them difficult to modify or organize into roles. This is especially problematic for the stable API. Because the UI permissions are named after the UI view and methods, and are intended to control access to the UI view rather than the underlying

[2020-08-22 07:58] potiuk opened #10471 "Current CI builds slightly different sources than the one in PR build"
The current CI system builds a slightly different set of sources in GitHub than the one in PR directly. But possibly it is better. We can fix it with a workaround but I am not sure if we should.

Details:

1) when we currently build the image in "Build Image" workflow we are using "scripts/ci" from master and rest of the sources from the commit that is the HEAD of PR.

2) However the sources in th

[2020-08-22 13:39] derrickqin opened #10474 "Add support for creating multiple replicated clusters in Bigtable hook and operator"
**Description**

From Cloud Bigtable [documentation](https://cloud.google.com/bigtable/docs/replication-overview#how-it-works)

Currently Bigtable hook and operator only support creating one replicated cluster. It would be better to add support for creating multiple replicated clusters

**Use case / motivation**

Supporting multiple replicated clusters will be handy. It will be helpful to increase

[2020-08-22 16:16] xu-xiang opened #10479 "airflow.api_connexion.endpoints.dag_endpoint.patch_dag -->> Property is read-only - '****'"
**Apache Airflow version**:
[code]

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:
API(airflow.api_connexion.endpoints.dag_endpoint.patch_dag) update any DAG info response are:

[2020-08-22 20:34] axk7812 opened #10486 "helm pull stable/airflow pulls the [stable/airflow] chart from github.com/helm/charts repository and not this repository."
**Apache Airflow version**:
1.10.10

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
1.17.0

**Environment**:
AWS
Linux x86_64 x86_64 x86_64 GNU/Linux
Helm 3.2.0

**What happened**:
Following the directions to install the chart in this repository, and instead it pulls the chart from https://github.com/helm/charts/tree/master/stable/airflow

**What you expected to happ

[2020-08-23 21:49] potiuk commented on #10486
I'd leave it up to @dimberman

[2020-08-23 21:55] potiuk commented on #10363
@sanjana1604 The context is described mostly in http://www.apache.org/legal/release-policy.html - Apache releases software as sources, so the binaries are released mostly as convenience packaging, not the official releases. I think this can be left as TODO and I am happy to add some content there.

[2020-08-24 01:52] xu-xiang commented on #10479
Thank you. I'll test it again.

[2020-08-24 03:03] mik-laj commented on #10306
Small update:
I have a working PR, but it still needs some care to make everything easily accessible with the breeze command.

One problem has already been found thanks to system tests.  Snowflake-connector-python library monkey patch  Python core. It enforce SSL certificates verification ,so it cannot be turned off certificate verification for developing purposes. We will probably have to report

[2020-08-24 05:15] andypp opened #10502 "Retry logs are always appended to the file for first try"
**Apache Airflow version**: 2.0.0-dev (master)

**What happened**:

retry logs for attempts (try number) > 1 are appended to log for attempt 1.Logs for attempts > 1 only show `Log file does not exist`

**What you expected to happen**:

each retry should output logs to their own files

**How to reproduce it**:

run DAG with a task that fail with retry, once the task fail, view the log

**Anything e

[2020-08-24 06:02] varundhussa commented on #10293
Thanks @rootcss and @mik-laj
I have completed the sensor and am completing the test cases. I will raise a PR soon.

[2020-08-24 08:17] benbenbang commented on #9713
Thanks, @potiuk

To be more clear on the variable part, actually, I am only talking about `Variable` no `connection` at all. So basically these values shouldn't have any credentials involved, it will be purely some job-based parameters like some kind of dictionary that define some tasks as keys and the values are the details that need to be done, for example.

[2020-08-24 09:21] potiuk commented on #10469
Agree it's confusing. Initially we wanted to redefine the model of access completely with the new API but I think we decided finally that we accept some imperfections of the FAB model - because we already had it and we already have Airflow Users who - at least in theory know how to change them.

And indeed with 2.0 it is the right time to have a "spring cleaning" even if it means changing some exi

[2020-08-24 09:44] #10474 closed

[2020-08-24 11:09] mik-laj commented on #10469
I love it <3

I agree, but it must be checked carefully if it will be possible to do in the FAB. I would like to see it also as a contribution to the FAB, so that it would be possible to personalize the name of this permission.

It will probably look like below.
[code]

Agree.

Agree. This will simplify the management of permissions.

Agree. We should limit the introduced changes only to the most

[2020-08-24 11:49] mik-laj commented on #8803
@amithmathew  We are still working on the documentation, but could you please have a look if the current implementation looks good for you?

[2020-08-24 11:59] kaxil commented on #9041
@casassg @turbaszek Can one you create a Github issue for the "dag" decorator -- looks like that is the only other pieces missing for Airflow 2.0 with regards to Functional DAGs apart from other tickets mentioned in https://github.com/apache/airflow/labels/AIP-31

[2020-08-24 12:09] mik-laj commented on #9041
I think the guide should present a functional imperative and functional approach. These are two different approaches and have different use cases. This is not a 1 to 1 alternative.

[2020-08-24 12:15] michalslowikowski00 opened #10503 "Dags test doesn't clear database afert runs"
**Apache Airflow version**: dev
**Environment**: breeze and python 3.7.9

**What happened**:
When I run modified DAG, then task that are commented are trying to be executed.
This exception has beed raised `airflow.exceptions.TaskNotFound: Task get_jobs_for_job_group not found`

**What you expected to happen**:
Dags should execute only actual code

Database has not been cleared between runs

**How

[2020-08-24 12:17] michalslowikowski00 commented on #10503
@turbaszek Do you know smth about that? :)

[2020-08-24 12:18] amithmathew commented on #8803
Will do, will take a look at it this week.

[2020-08-24 12:18] krisdock opened #10504 "Add support for Redis in Cluster Mode"
**Description**

There is an existing JIRA issue: https://issues.apache.org/jira/browse/AIRFLOW-3625

There is an existing PR to add this functionality, but it has gone stale and been closed: https://github.com/apache/airflow/pull/4429

**Use case / motivation**

As a user, I'd like to be able to add a connection from Airflow to my Redis database configured in Cluster Mode.

**Related Issues**

ht

[2020-08-24 12:38] agivola opened #10505 "PostgressHook connection - pass additional extra paramters"
Hi, when working with PostgressHook connection and use it in multi-threads we need to pass extra parameters like pool_size, max_overflow and max_timeout as connection  parameters . Now only this parameters are accepted:
'sslmode', 'sslcert', 'sslkey','sslrootcert', 'sslcrl', 'application_name','keepalives_idle'

https://airflow.apache.org/docs/stable/_modules/airflow/hooks/postgres_hook.html

[2020-08-24 12:56] potiuk opened #10507 "[OPTIMISATION] Selective builds for different types of tests"
**Description**

After we've implemented AIP-21 with backport packages and quite recently #10422 "Optimisation of Image building on CI" - we have now an interesting opportunity to speed up the tests even more. Previously each job had 4-10 minutes of overhead which is now down to just 1 minute of image pulling (so it cannot be optimized further). This is very little overhead and now we can have mor

[2020-08-24 12:57] potiuk commented on #10507
cc: @kaxil @dimberman @feluelle @turbaszek @mik-laj -> I think we want that :). Any comments are welcome. I am happy to collaborate with others rather than develop it myself so that you can also learn how our CI works.

[2020-08-24 13:12] mik-laj commented on #10505
This is a great ticket for a first contribution. Would you like to help us with this?
Here is the development environment guide: https://github.com/apache/airflow/blob/master/BREEZE.rst
Here is the contributor guide:  https://github.com/apache/airflow/blob/master/CONTRIBUTING.rst

[2020-08-24 13:24] MohammedDiab opened #10508 "Adding 'body' as templated field to CloudSqlInstanceImportOperator"
**Description**

it is really useful to have the body parameter as templated field, the parameter can have attributes related to file path, table name, database and many more  which usually comes from a previous operator that do the work and then send the information to the  CloudSqlInstanceImportOperator

**Use case / motivation**

I have the following case :

1.  GoogleDataFlowOperator that runs

[2020-08-24 13:29] potiuk commented on #10508
Would you be so kind to add a PR with this change? I am happy to review it once you ping me - this seems to be super -easy change.

[2020-08-24 13:31] MohammedDiab commented on #10508
@potiuk yes sure, i'm currently creating the PR

[2020-08-24 13:32] mik-laj commented on #10508
https://github.com/apache/airflow/blob/master/CONTRIBUTING.rst#contribution-workflow

[2020-08-24 13:33] mik-laj commented on #10508
Part-of: https://github.com/apache/airflow/issues/8893

[2020-08-24 13:52] MohammedDiab commented on #10508
@potiuk here is the PR,
https://github.com/apache/airflow/pull/10510

[2020-08-24 14:29] teaglebuilt opened #10511 "task decorator for identifying functions as tasks"
**Description**

A @task decorator to mark functions as tasks during dag run time.

**Use case / motivation**
we have one task / function that has functions inside that are not marked as tasks. We want to expose metrics with the airflow - [exporter airflow plugin](https://github.com/robinhood/airflow-prometheus-exporter). If we can mark functions as tasks, this would allow for capturing metrics on

[2020-08-24 15:41] #10508 closed

[2020-08-24 16:38] casassg commented on #9041
This specific issue is about the main tutorial. I think that one benefits from having a unique style (I prefer functional as its easier). We should add a guide for both styles though

[2020-08-24 16:53] xu-xiang opened #10516 "pkg_resources.DistributionNotFound: The 'apache-airflow==2.0.0.dev0' distribution was not found and is required by the application"
**Apache Airflow version**:
[code]

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
Mac OS 10.15.3
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:
Install Airflow :
[code]

**What you expected to happen**:

[code]

**How to re

[2020-08-24 17:42] xu-xiang commented on #10479
I have test it with the latest master. But still respond "Property is read-only - 'description'"

[code]

[2020-08-24 18:21] atsalolikhin-spokeo commented on #10389
[code]

I opened a new shell:

[code]

Okay, that's the macOS getopt; so where is brew's getopt?

[code]
So I've added it to my PATH.

[code]

Now the pre-commit hook works:

[code]

It's too bad the brew install didn't automagically make the gnu-getopt take precedence over the system getopt.  I understand the need for user awareness/choice in that.  I must have not read the prompt to take the man

[2020-08-24 18:22] marcoaaguiar opened #10519 "Trigger Dag requires a JSON conf but Dag Run view display a python dict"
**Apache Airflow version**: 1.10.11

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): Windows 10 WSL (Ubuntu18.04.4)

- **Kernel** (e.g. `uname -a`): Linux DESKTOP-8IVSCHM 4.4.0-18362-Microsoft #836-Microsoft Mon May 05 16:04:00 PST 2020 x86_64 x86_64 x86_64 GNU/Lin

[2020-08-24 19:09] mik-laj commented on #10519
This is a great ticket for a first contribution. Would you like to help us with this?
Development environment guide: https://github.com/apache/airflow/blob/master/BREEZE.rst
Contributor guide: https://github.com/apache/airflow/blob/master/CONTRIBUTING.rst

If you have problems, I will be happy to help.

[2020-08-24 19:24] kaxil commented on #10479
Would you like to create a PR to fix it? @xu-xiang

cc @ephraimbuddy @OmairK

[2020-08-24 19:28] ephraimbuddy commented on #10479
@kaxil Yes. I'm happy to help. You can assign it to me

[2020-08-24 19:28] mik-laj commented on #10014
We have breaking change between backport packages. - EmailOperator has been moved to core.

[2020-08-24 19:29] mik-laj commented on #10014
Before releasing a new package, we should fix the operators for DLP.

[2020-08-24 19:37] mik-laj commented on #10479
The description is a read-only field according to spec. This field contains the value that is synchronized with the DAG File, so if you want to update this description, you need to edit the DAG File.
![Screenshot 2020-08-24 at 21 36 17](https://user-images.githubusercontent.com/12058428/91088187-dea02c80-e651-11ea-9dce-3c44e9fa4b08.png)

[2020-08-24 19:39] kaxil commented on #10479
Whoops so only is_paused field can be patched .. right!

[2020-08-24 19:47] ephraimbuddy commented on #10479
Hi @mik-laj , should I work only on the update_mask field and tag this issue to close?

[2020-08-24 19:57] scottrigby opened #10523 "Host Airflow-managed Helm repo"
**Description**

@mik-laj Hi 👋 I was just coming to this repo to see if you're interested in help getting the Helm chart repo set up to replace the chart in `stable`.

Stable repo is nearing the end of it's deprecation period, and I'm glad to see a version of the Airflow chart is already here. See https://github.com/helm/charts/issues/21103 for the meta issue tracking moving all the `stable` repo

[2020-08-24 19:58] mik-laj commented on #10479
@ephraimbuddy Yes. We can close this ticket.

[2020-08-24 19:59] #10479 closed

[2020-08-24 20:03] potiuk commented on #10523
cc: @dimberman

[2020-08-24 20:10] gardnerdev opened #10524 "Builiding image from source"
During image builidiing following error appears:

`Step 96/108 : COPY scripts/prod/entrypoint_prod.sh /entrypoint
COPY failed: stat /var/lib/docker/tmp/docker-builder293147199/scripts/prod/entrypoint_prod.sh: no such file or directory`

[2020-08-24 20:17] potiuk commented on #10524
You seem to not update to latest repo. The script has been moved recently and I think there was a short moment it was not working. Please update/rebase to latest master.

This is the relevant line now in master:

[code]

[2020-08-24 20:17] #10524 closed

[2020-08-24 20:51] mik-laj commented on #10523
@scottrigby  In our repository, we have a Chart based on the work of Astronomer. Our chart is not released so it is not available in the repository, but we hope to do so in the near future. If you want stable/airflow to be still available to users, you need to find another place for discussions.

[2020-08-24 21:48] mik-laj commented on #9080
We should add info about client library to docs:
https://airflow.readthedocs.io/en/latest/stable-rest-api-ref.html

[2020-08-24 22:09] daemon-demon commented on #10505
Hi, I would like to work on this as my first contribution.

[2020-08-24 22:12] mik-laj commented on #10505
@daemon-demon I assigned you to this ticket.

[2020-08-25 07:28] FloChehab opened #10541 "KubernetesPodOperator stuck in `up_for_retry` state after scheduler restart."
**Apache Airflow version**: 1.10.12 rc4

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):  v1.16.11-gke.5

**Environment**:

- **Cloud provider or hardware configuration**: /
- **OS** (e.g. from /etc/os-release): /
- **Kernel** (e.g. `uname -a`): /
- **Install tools**: /
- **Others**: `apache/airflow@sha256:6de1374274f26836c98bbe9f8c065215491f8f5bd48bedc155765dec9b8831

[2020-08-25 08:20] battlesnake commented on #10197
Solved, `pool_slots` arrived in 1.10.10, according to Git.

I'd misread the changelog somenow.

[2020-08-25 08:20] #10197 closed

[2020-08-25 08:23] potiuk commented on #10516
This is because you need to install airflow using older version of PIP (19.0.2). @kaxil and others - shoudl we finally try to see what it take to migrate to the latest version? Anyone remembers why we are pinned to 19.0.2 ?

[2020-08-25 08:41] JeffryMAC commented on #8471
@mik-laj if @subkanthi is interested can he start working on it?

[2020-08-25 09:09] shachibista commented on #10388
@mik-laj Yes, the development version fixes the issue with the `airflow` command, at least. But, I cannot start the scheduler due to the aforementioned issues.

@potiuk Are you sure there are no fork-like mechanisms for windows? I would really like to get this working at least using Local/SequentialExecutor.

[2020-08-25 09:13] potiuk commented on #10516
Hello @xu-xiang. I just installed Airflow using the latest PIP version (and using the command you provided). It works for me for python 3.8 on Linux. The only thing that I can thing you might have problem with is PIP version (19.0.3 and above < 20.0.0) had a bug that made us pin to 19.0.2. Since PIP 20.2.+ works fine, I got rid of the 19.0.2 pinning in Docker images with #10542. Could you please v

[2020-08-25 09:23] stijndehaes opened #10544 "Kubernetes pod operator: More than one pod running with labels"
**Apache Airflow version**: 1.10.11

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
[code]

**Environment**:

- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): not relevant
- **Kernel** (e.g. `uname -a`): not relevant
- **Install tools**: not relevant
- **Others**: not relevant

**What happened**:

When launching a failing kube

[2020-08-25 09:26] potiuk commented on #10388
There are different mechanisms - here is the whole discussion about it: https://docs.python.org/3/library/subprocess.html#popen-constructor - but they work differently and Airflow relies on some of the properties of Popen and passing opened file handlers (for example to opened log files). I think there are also a number of other dependencies and possibly hard-coded UNIX path "/" across the code, a

[2020-08-25 09:38] stijndehaes commented on #10544
Looking at the code I notice a discrepancy between master and release 1.10.11.

In master I find this:
[code]

on 1.10.11:

[code]

So in the first use case on master we will always attach to the pod, and on 1.10.11 we will create a new pod. I assume that 1.10.11 is the behaviour you want however. Because in master it will never ever launch a new pod when the pod has failed it will just monitor th

[2020-08-25 09:44] stijndehaes commented on #10544
I just noticed that what I thought to do filtering on pending and running pods break the flow when restarting the scheduler. Since it will not find your completed pod. I am thinking the flow should change into:

- search for pod with the same labels (including the try_id) if it is found -> Attach to the new pod
- If it is not found we should probably always start a new one. I don't think it makes

[2020-08-25 09:48] stijndehaes commented on #10544
Looks like it is fixed by: https://github.com/apache/airflow/pull/10230

[2020-08-25 09:48] #10544 closed

[2020-08-25 10:13] mik-laj commented on #8471
@subkanthi @JeffryMAC  @wojtek2kdev I assigned you to this ticket. I wish you a nice work together. :-D

[2020-08-25 11:09] JCoder01 commented on #9957
@jhtimmins is your question whether we should iterate over the sql statements and the parameters, or just iterate over the sql statements and pass in the same parameters to each sql item? My belief is that it should be the latter, and how it has been implemented in the PR.

[2020-08-25 12:58] mschickensoup commented on #8286
Hello my @tanjinP

I would like to thank you for this integration. This will make it much easier for everyone to use this service.

I've talked to some people at my team and there are a few comments:

- Have you thought to create the CloudMemorystoreMemcachedGetInstanceOperator operator? This would make it easier to link several operators together.
- In the file tests/providers/google/cloud/hooks/

[2020-08-25 13:25] jameswynn opened #10549 "option to disable "lots of circles" in error page"
**Description**

The "lots of circles" error page is very rough via Remote Desktop connections. In the current global pandemic many people are working remotely via already constrained connections. Needless redraws caused by the highly animated circles can cause frustrating slowdowns and sometimes lost connections.

**Use case / motivation**

It should be trivially simple to disable the animated po

[2020-08-25 13:41] potiuk commented on #10549
That's a vaild point I must say.

[2020-08-25 13:42] potiuk commented on #10549
If any would like to pick it up, I am all for making this page static.

[2020-08-25 13:45] #10516 closed

[2020-08-25 15:10] mik-laj opened #10550 "Terraform provider based on Stable API"
Hello,

If we have a [Stable API](https://airflow.readthedocs.io/en/latest/stable-rest-api-ref.html) ready, we can start working on tools that use it.  I think we can start with the Terraform provider. Terraform. is a tool for building, changing, and versioning infrastructure as a code.  A terraform provider is a way to integrate other services. Integrations already exist for a wide variety of ser

[2020-08-25 17:00] jaketf commented on #10550
I could see use cases for the following (in decreasing order of how likely I'd be to recommend managing in terraform):
1. Pool: this feels rather infrastructure level could be something naturally in terraform's realm
1. Variable: add / update a references to infra provisioned by terraform that will be referenced by DAGs
1. Connection: add connection for db provisioned by terraform (though this see

[2020-08-25 17:50] mik-laj opened #10552 "Airflow CLI client based on Stable API"
**tl;dr;**: [Hyperone](https://www.hyperone.com/) and good citizen @ad-m will be happy to help build a new Airflliw CLI.
Here is docs for POC:
https://gist.github.com/ad-m/19cc06d91a7ee756f461c95f5d656eb6

If we have a [Stable API](https://airflow.readthedocs.io/en/latest/stable-rest-api-ref.html) ready, we can start working on tools that use it. A highly anticipated feature is the ability to mana

[2020-08-25 18:09] danjsouther opened #10553 "Exception logging success function instead of failure"
https://github.com/apache/airflow/blob/fdd9b6f65b608c516b8a062b058972d9a45ec9e3/airflow/sensors/sql_sensor.py#L97

[2020-08-25 18:21] dalex100 opened #10554 "Web UI doesn't render packaged dag code properly"
**Apache Airflow version**: 1.10.10

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): Client : 1.15.5 / Server : v1.16.13-eks-2ba888

**Environment**:

- **Cloud provider or hardware configuration**: AWS EKS
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:
Using **serialized_dags=true** and s**

[2020-08-25 18:24] potiuk opened #10555 "Allow installation of apt and other packages from different servers"
**Description**

By default we are installing apt deps and PI deps from diferent repositories, but there shoudl be an option (via build-arg) to install it from elsewhere.

**Use case / motivation**

Corporate customers often use mirrors of registries to install packages and firewall outgoing connections.  We should be able to support such scenarios.

[2020-08-25 18:25] potiuk commented on #10554
@kaxil @anikarni -> that might be indeed an interesting problem with DAG serialization

[2020-08-25 18:27] kaxil commented on #10554
I will definitely take a look, thanks for creating the issue @dalex100

[2020-08-25 20:28] ryw opened #10560 "New API takes over /airflow/api"
for 2.0, should we should change the path of `/api_connexion` to `/api` and `/api` to `/api_deprecated`?

Any reason not to do that now in master branch?

[2020-08-25 20:37] sglickman commented on #7935
This is happening to us also. No errors appear in the logs but the scheduler will not create new pods, pipelines stall with tasks in 'queued' state, and the scheduler pod must be deleted in order to get things running again.

[2020-08-25 21:07] potiuk commented on #10560
It's about our deprecation rules. If it's not absolutely necessary the rule is that we have at least one release when we deprecate something before we remove.

[2020-08-25 21:10] potiuk commented on #10560
I actually proposed to deprecate the old API in 1.10.12 but the majority  vote was that we should not deprecate something unless we provide a  replacement - which makes perfect sense as it does not allow you to do the sequence:

1) migrate first
2) change your way of doing things
3) migrate again

It requires you to migrate and change at the same time which is super-risky.

[2020-08-25 21:25] ryw commented on #10560
I'm not suggesting we remove the old api, just give it a different code path - and give /api directory to the new API -- took me a minute today to figure out which one was the new API

[2020-08-25 21:49] raulk89 opened #10569 "Airflow shows "Log Url" localhost:8080, although I am using airflow behind nginx proxy on hostname:443 port"
**Apache Airflow version**: 1.10.11, 1.10.12

**Environment**: Virtual machine

- **OS** (e.g. from /etc/os-release): CentOS Linux release 7.8.2003 (Core)
- **Kernel** (e.g. `uname -a`): 3.10.0-1127.18.2.el7.x86_64
- **Install tools**: yum, pip3
- **Others**:

**What happened**: After executing DAG, I clicked on "running tasks", then opens up this page, where there is "Log Url" link. But this one

[2020-08-25 21:51] raulk89 commented on #10569
Well this :443 is omitted from the URL ofcourse, since it is https default port.
So URL is:
`https://hostname.domain.com/...`

[2020-08-25 22:53] paavanb opened #10571 "Allow xcom_pull to return multiple results if task_ids is None"
**Description**

`TaskInstance.xcom_pull` uses `XCom.get_many` in order to return multiple XComs for the given parameters. However, it proceeds to only return the first result if `task_ids` is not a list ([this line](https://github.com/apache/airflow/blob/master/airflow/models/taskinstance.py#L1733)). Unfortunately, this is the case when `task_ids` is unset or set to `None`. This seems to make it

[2020-08-25 23:25] mik-laj commented on #10560
@ryw Moving the API to a different path is a change that breaks all existing integrations. Most of them have a fixed path, and it's not easy to change.  Some users won't even be able to change it easily as they have a heterogeneous environment with different Airflow versions.

If you want to check if the API is deprecated, you can send a request via CURL and look at the headers.
See:  https://gith

[2020-08-25 23:27] ryw commented on #10560
Ok makes sense - didn't know how routes get rendered, but if it's reading from file structure then I'm ok to keep it as it is for now. Closing issue.

[2020-08-25 23:29] mik-laj commented on #10569
What is your value for `base_url` option in `webserver` section ?

[2020-08-25 23:32] mik-laj commented on #10560
Have you been talking about package structure or URLs? This is not clear from your ticket.

[2020-08-25 23:35] ryw commented on #10560
i was referencing source code structure - sorry that wasn't clear

[2020-08-25 23:54] mik-laj commented on #10560
This here is a more complicated matter as some packages are deprecated and some will not.
**airflow.api.auth**
it's not deprecated. We use it in Stable API also.

**airflow.api.client**
This is still under discussion. We don't have a conclusion about it. For now, @ash has suggested that this package should stay until we have a detailed vision of CLI development.  So we should keep it backward comp

[2020-08-26 00:25] mik-laj commented on #10469
@jhtimmins  Can I help with this ticket? If you have a blocker, let me know and we'll try to find a solution together.

[2020-08-26 03:54] raulk89 commented on #10569
http://localhost:8080

Raul

Sent from my iPhone

[2020-08-26 06:36] aimran-adroll opened #10574 "Dag in existing persistent volume claim not registering"
**Apache Airflow version**: v1.10.10 (server) / master for chart

**Kubernetes version (if you are using kubernetes)**: 1.18.6 (client) / v1.17.9-eks-4c6976

**Environment**:

- **Cloud provider or hardware configuration**: AWS EKS
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**: Dag in existing `persistent` volume claim i

[2020-08-26 07:09] akohlislb commented on #9722
I think I have the same issue. If I use local python modules in the script, Airflow Webserver UI fails to import them. If I delete the scheduler pod and it gets recreated, then the DAGs are fixed on the UI. Currently, I have to manually fix it by adding a kubectl delete scheduler-pod statement every time I use such DAGs which have local python modules to be imported. But, it should get picked up a

[2020-08-26 08:44] theodor1289 opened #10575 "Confusing parameter"
https://github.com/apache/airflow/blob/3a349624a20d3432dc75e337d6ffb1109a50e451/airflow/providers/amazon/aws/operators/athena.py#L49

What is the unit of measurement of time used here?

[2020-08-26 09:35] potiuk opened #10576 "Adapt better variable naming conventions in our bash scripts"
**Description**

Currently, in our bash scripts (mostly in CI and Breeze) we use an old and outdated naming convention where every environment variable is CAPITALIZED. This comes from my personal background as I am the author of most of it, but there are better (and modern) conventions that we should use. Particularly https://google.github.io/styleguide/shellguide.html is one that is interesting b

[2020-08-26 11:28] coopergillan commented on #10575
I'm almost certain that is seconds. That would be a good change for the docstring.

[2020-08-26 12:23] theodor1289 commented on #10575
Just checked and it's [simply using](https://github.com/apache/airflow/blob/3a349624a20d3432dc75e337d6ffb1109a50e451/airflow/providers/amazon/aws/hooks/athena.py#L229) the Python method sleep() which, in turn, [uses seconds](https://docs.python.org/3/library/time.html#time.sleep). I'll make the change in the docstring then.

[2020-08-26 14:59] zikun commented on #9914
Just want to write down my exploration and thoughts which might help if anyone wants to pick it up or discuss it further.

I looked into the scheduling logic and it turns out that the behaviour of catching up the most recent run was not designed deliberately. Rather, it is a "side effect" of the fundamental scheduling logic.

Airflow scheduler runs like a batch job. For every few seconds, it parse

[2020-08-26 15:22] pingdink commented on #7935
Any fix for this issue yet? Our scheduler has no heartbeat, CPU spikes then drops, and scheduler is back up after 15 minutes. This is slowing our team down a lot.

[2020-08-26 15:45] gfelot opened #10585 "googleCloudStorageDeleteOperator URL encode "/""
**Apache Airflow version**: 1.10.9

**What happened**:

I want to delete temporary file at the end of my DAG in a GCS bucket. When I add the list of values in the arguments `object` I get an error that the file is not found. The reason is the symbole **/** is URL encoded **%2F**.

[code]
I got the error:

I tried to escape them but the **\** symbole is URL encoded too.

Is that a bug ? Or a featur

[2020-08-26 15:46] BobasB commented on #9722
Hi,
For those who interested in this issue. I have solved it for myself, and for short, the problem was init-container with git-sync for Webserver.
In my deployment, I have Scheduler with init + side-car containers for git-sync, and for Webserver only side-car container for git-sync.
- Without network policies, git-sync container starts faster than Airflow Webserver and Airflow see this PATH for i

[2020-08-26 16:02] #10363 closed

[2020-08-26 16:43] michalmisiewicz opened #10586 "KubernetesPodOperator truncates logs"
**Apache Airflow version**:  1.10.10

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): v1.15.11

KubernetesPodOperator truncates logs when container produces more than 10 lines of logs before execution of `read_pod_logs` function. Is there any reason to make 10 as default value for `tail_lines` argument ?
[code]

[2020-08-26 16:57] michalmisiewicz commented on #10586
Looking on previous K8S related PRs I would like to ask @kaxil for help 🙂

[2020-08-26 17:57] #10575 closed

[2020-08-26 19:23] kaxil commented on #10586
tagging in @dimberman if you have any idea about this

[2020-08-26 19:24] dimon222 commented on #8212
Solution mentioned above by me

This no longer works in 1.10.12. Perhaps, something gets loaded earlier again and messes up urllib3.
The issue is still present.

[2020-08-26 19:45] kaxil commented on #10469
Since `/refresh` also needs `can_dag_edit` permissions, I think `refresh_all` should be the same.

But other than that, doc looks good.

[2020-08-26 21:33] kaxil commented on #10194
Have a look at https://lists.apache.org/thread.html/5bdf8415b78e65efb3219eb7f8e2afa37afa592341653eb053422055%40%3Cdev.airflow.apache.org%3E for some ideas from Max (the creator of Airflow)

and https://lists.apache.org/thread.html/re817fae1d9f05e9d3ca4c02ff49b0abd817859e3e3376208ac916c7f%40%3Cdev.airflow.apache.org%3E

[2020-08-26 22:14] natemoseman commented on #8907
I had a similar issue with airflow running on kubernetes cluster that I was, fortunately, able to solve.

Regular HTTP connections were taking a minimal of 5 seconds to complete.  Even using curl to fetch static content, like a CSS file, was taking 5 seconds.   When looking at the logs of the airflow web process it didn't show anything.  Although following them 'realtime' showed that the GET was s

[2020-08-26 22:21] kaxil commented on #10154
@ozw1z5rd It will return all the Classes/Models that are used in the project

[code]

[2020-08-26 22:51] kaxil commented on #8421
This should happen before the templates are rendered I think for hiding sensitive info in Rendered Fields

[2020-08-26 23:18] mik-laj commented on #10569
@raulk89  it should be set to ``https://localhost:8080``.

[2020-08-27 00:42] alexbegg commented on #10434
@kaxil I can't reproduce this with Breeze. I ran both `master` branch and `v1-10-stable` (with `rbac = True`) with Breeze and this issue does not come up, even though the issue does come up in my Kubernetes deployment.

I am going to have to recreate the same setup in breeze and see if I can reproduce this issue...

Here is what I found so far after clicking the "Last Run" link:
- :x: : status is

[2020-08-27 01:24] skylarbpayne commented on #8172
## Potential Fix
Just see this to skip all the ugly details:

So concretely, here's how to install with homebrew + get airflow to work (tried this from fresh install, so I _think_ it should work for all of you too):

[code]

## Ugly Details

Mercurial ran into a similar issue some time ago: https://bz.mercurial-scm.org/show_bug.cgi?id=5858

According to that ticket, the issue is that setproctitle