[2022-02-11 04:30] #20560 closed

[2022-02-11 05:47] sawaca96 commented on #21386
kubernetesExecutor can't use worker. isn't it?
[code]

[2022-02-11 06:25] brcps12 commented on #21386
Yes, if the `KubernetesExecutor` is used, it seems true that I can’t use the Airflow Worker Pod. However, if set the `executor` to `KubernetesExecutor`, I can specify the template of the pod in which each task will be executed, using `.Values.podTemplate`, and if not specified, `chart/files/pod-template-file.kubernetes-helm-yaml` is used as the default value.

The document describes the `.Values.p

[2022-02-11 07:27] eladkal commented on #21443
@potiuk why the new GitHub provider is missing?
https://github.com/apache/airflow/pull/21076

[2022-02-11 07:35] eladkal commented on #14919
@pingzh maybe you can help with that issue as you are familiar with partitions in hive

[2022-02-11 07:50] bhavaniravi commented on #12282
✋

[2022-02-11 08:05] SasanAhmadi commented on #21443
@potiuk, I checked #21277 has been resolved in this RC.

[2022-02-11 08:21] eladkal commented on #13129
This issue is reported against Airflow 1.10 which is EOL.
If the issue still happens in latest Airflow version please open a new github issue with repreduce steps

[2022-02-11 08:21] #13129 closed

[2022-02-11 08:26] eladkal commented on #17975
Can you please check if the issue still happens in latest airflow version?

[2022-02-11 08:31] eladkal commented on #18582
PR: https://github.com/apache/airflow/pull/21223

[2022-02-11 08:34] eskarimov commented on #21380
Indeed, it'd be a very useful feature. May I work on it?

[2022-02-11 08:38] eladkal commented on #8032
This is part of the multi tenancy https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-1%3A+Improve+Airflow+Security
I'm closing as issues related to that should be discussed in the AIP.

[2022-02-11 08:38] #8032 closed

[2022-02-11 08:40] eladkal commented on #19473
@dmoore247 are you still working on this issue?

[2022-02-11 08:52] eladkal commented on #19717
You are probably using outdated version of the amazon provider.
`script_args` is templated field.
If the issue is reproducible with the latest amazon provider version please comment and add reproduce example.

[2022-02-11 08:52] #19717 closed

[2022-02-11 10:09] MaksYermak commented on #21443
@potiuk I´ve checked #20981 and #21253 it works fine

[2022-02-11 12:37] potiuk commented on #12282
Hey @bhavaniravi -> if you want to help you can take a look at https://github.com/apache/airflow/projects/13 - there some issues in progress but there are some "ready to pick" and you can take a look at the history of those that we've already implemented and possibly pick one of the tasks there :). Happy to explain more if you might have questions.

[2022-02-11 13:25] KevinYanesG commented on #21457
Thanks that's a good hint, thanks! I will probably get to it in the beginning/middle of next week.

[2022-02-11 14:13] potiuk commented on #21380
Feel free!

[2022-02-11 14:18] nshetty15 commented on #21443
@potiuk   #19981 is working fine without issues.

[2022-02-11 16:44] #21400 closed

[2022-02-11 18:30] mehmax commented on #21443
Hi @potiuk
I tested https://github.com/apache/airflow/pull/19084 in our environment. In some cases the backwards compatibility is not sufficient.
Improvement see PR https://github.com/apache/airflow/pull/21524

[2022-02-11 18:31] josh-fell commented on #21443
#21195, #21285, and #21403 Look good

#21237 Looks good except for an inconsequential typo in the `template_fields_renderers` dict for `HiveOperator` in the Apache Hive provider.

TIL that the logic which chooses the renderer will, cleverly, default to the template field name if it cannot find said template field in the `template_fields_renderers` dict. For `HiveOperator` the key in `template_fiel

[2022-02-11 18:38] potiuk commented on #21443
Cool. Will release it with elasticsearch as RC3 then (the longest Provider release ever :) )

[2022-02-11 18:56] bbovenzi commented on #21493
@uranusjr I'd be curious to hear your thoughts after all of the recent `schedule_interval` changes. I'm happy to update the UI to work with whatever is most useful for users.

[2022-02-11 19:27] potiuk commented on #21443
Tested:
* #21704 across the board
* #20989 - tested that it is nicely "non-backwards compatible" for params passed (i.e. complains about cloudformation_parameters missing).
 #21205 -> postgresql

![image](https://user-images.githubusercontent.com/595491/153654788-d202b1b9-3dd1-4da9-a57a-a9d6d59d86bd.png)

* #21175 and #21429 with slightly modified example to @raphaelauv :) (Polish people would und

[2022-02-11 20:09] Melodie97 commented on #8192
I'll like to work on this

[2022-02-11 20:12] potiuk commented on #8192
Assigned you :)

[2022-02-11 20:46] kaxil commented on #20991
Should this be included in 2.2.4 @uranusjr ?

[2022-02-11 20:49] subkanthi commented on #21443
#21199 is only a documentation change and I see the change in the tag.

[2022-02-11 22:43] #8192 closed

[2022-02-11 22:52] potiuk commented on #20991
And how this plays with "providers" release too ? This change spans both "airflow" and elasticsearch provider - I am going to release the es provider early next week so I think we need to be sure back-compat work both ways - i.e. es provider works on Airflow 2.1+ as well (not 100% sure about it).

[2022-02-11 23:12] #21469 closed

[2022-02-11 23:34] Gollum999 opened #21531 "--log-file/--stdout/--stderr options ignored"
### Apache Airflow version

2.2.3 (latest released)

### What happened

Some airflow processes (I've tested `webserver`, `scheduler`, `triggerer`, `celery worker`, and `celery flower`) ignore the `--log-file`, `--stdout`, and `--stderr` options when running without `--daemon`.  No log files are created, and logs continue being printed to stdout/stderr.  This can be a bit confusing in environments

[2022-02-11 23:54] potiuk commented on #21531
I think it would be great to update the help on that. PR to clarify the behaviours are most welcome. Would you like to update the help as appropriate? You can easily become one of the almost 2000 contributors to airflow ? This seems like a cool contribution to review and update the messages related to those flags. I think, since you just experienced it, you are one of the best people to do it @Gol

[2022-02-12 03:40] #20991 closed

[2022-02-12 09:27] potiuk commented on #18190
Unfortuntely we cannot move to bullseye (yet). The problem is that MSSQL ODBC driver (which is the only "reliable" and stable drirver for MSSQL for SQLAlchemy) does not support Debian Bullseye yet.

This has been documented and commented on by MSSQL driver maintainers:

- https://github.com/MicrosoftDocs/sql-docs/issues/6494
- https://github.com/MicrosoftDocs/sql-docs/issues/6789
- https://github.

[2022-02-12 09:43] uranusjr commented on #20991
The core “fix” is actually overriden when the ElasticSearch provider’s implementation is used, so just releasing the provider would be enough to resolve the issue in Airflow 2.2.3. No-one has complained about the core implementation yet, but this can still be in 2.2.4 to fix the issue pre-emptively.

[2022-02-12 09:54] potiuk commented on #18190
I asked the maintainer for the expected timeline https://github.com/MicrosoftDocs/sql-docs/issues/7255#issuecomment-1037097131

[2022-02-12 10:56] manlouk opened #21537 "add partition option for parquet files by columns in BaseSQLToGCSOperator"
### Description

Add the ability to partition parquet files by columns. Right now you can partition files only by size.

### Use case/motivation

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [x] I agree to follow this project's [Code of Conduct](https://github.com/apache/airflow/blob/main/CODE_

[2022-02-12 12:52] #18925 closed

[2022-02-12 19:20] pateash commented on #21443
@potiuk, **apache-airflow-providers-GitHub** tested and working as expected.

<img width="1066" alt="image" src="https://user-images.githubusercontent.com/16856802/153725246-74e5bcb2-92ac-40dc-82f1-f97fd36bb320.png">

[2022-02-12 19:24] pateash commented on #21443
@potiuk @eladkal ,

**apache-airflow-provider-github v1.0.0rc2** working as expected, I have validated against **airflow v2.2.3**
<img width="1066" alt="image" src="https://user-images.githubusercontent.com/16856802/153725314-99d9525d-3676-4140-8442-bca9e9418958.png">

[2022-02-12 20:25] potiuk commented on #21443
Cool!

[2022-02-13 09:44] david30907d commented on #21443
#19008 has a bug, my bad 😅
already sent a PR and hope I can pass the CI https://github.com/apache/airflow/pull/21542

[2022-02-13 10:06] Manu87DS opened #21543 "1st Launch issue"
### Apache Airflow version

2.2.3 (latest released)

### What happened

Hello,

I have found the intructions to start airflow while following this nice tutorial : https://www.youtube.com/watch?v=2v9AKewyUEo&list=PLL2hlSFBmWwy6zqmbwwOhNkPpTrpbQhM5&index=1&t=2256s.

Unfortunately, after launching on my command prompt with the command "docker_compose up --build", I encountered the following bugg, tha

[2022-02-13 10:58] potiuk commented on #21443
Ah . Cool that you checked. I will exclude trino from the release too and release those (and rc3 will include trino as well).

[2022-02-13 11:18] #20283 closed

[2022-02-13 11:34] potiuk commented on #21443
Yeah. I realized it when approved it :)

[2022-02-13 11:36] potiuk commented on #21443
Glad that you checked @eladkal :)

[2022-02-13 11:38] pierrejeambrun opened #21545 "Add Go to docker images"
### Description

Following https://github.com/apache/airflow/pull/20386 we are now supporting execution of Beam Pipeline written in Go.

We might want to add Go to the images.

Beam Go SDK first stable release is `v2.33.0` and requires `Go v1.16` minimum:

### Use case/motivation

This way people running airflow from docker can build/run their go pipelines.

### Related issues

Issue:
https://gith

[2022-02-13 11:41] pierrejeambrun commented on #21545
@potiuk as requested, here is the issue :)

[2022-02-13 11:42] potiuk commented on #21545
I will see how much go will add to the size of the image and decide :)

[2022-02-13 11:43] potiuk commented on #21545
The worst case we can add instructions in our "extending image" chapter.

[2022-02-13 13:43] potiuk opened #21547 "Breeze: Allow to switch between Debian Bullseye and Buster when building images."
Following the #21546 - we should also add a switch in the new Breeze to be able to switch between `buster` and `bullseye` base Python images.

We will likely have to support both in the coming 6 months so being able to switch between them will be necessary.

[2022-02-13 13:50] KulykDmytro opened #21548 "Cant get Kubernetes task's log when using CeleryKubernetesExecutor"
### Apache Airflow version

2.2.3 (latest released)

### What happened

Recently we're switched from `KubernetesExecutor` to `CeleryKubernetesExecutor` and faced with strange behaviour
Tasks which are sent to `kubernetes` queue unable to provide logs in `webserver` while executing
[code]
webserver not even tried to reach tasks log over k8s api (like it happened when using `KubernetesExecutor`)

##

[2022-02-13 14:02] david30907d commented on #21443
Oh sorry i have fat-fingers 😅

[2022-02-13 15:39] pierrejeambrun commented on #15797
Hello @eladkal,

I don't know if someone is working on this one.

I can take a look and update these example_dags if you want. :smile:

[2022-02-13 15:49] eladkal commented on #15797
please do. I don't know if this issue is up to date.. this may have already been resolved but please verify

[2022-02-13 16:17] pierrejeambrun commented on #15797
Just looked into it, you are right. All of them are updated and should not raise warnings.

I think we can close this issue.

[2022-02-13 19:17] potiuk commented on #13231
Assigned you @pierrejeambrun

[2022-02-13 22:34] potiuk commented on #21443
Thanks for testing. All providers except oracle, elasticsearch, google from that batch have been released. Proceeding with rc3 for the three.

[2022-02-13 22:34] #21443 closed

[2022-02-13 23:20] mik-laj commented on #21545
I think we should add the guide to the "Recipes" section in `docker-stack` documentation package. https://airflow.apache.org/docs/docker-stack/recipes.html

We already have a guide on how to install additional tools:
* Google Cloud SDK, which is needed for GKEPodOperator, DataflowStartSqlJobOperator, and others.
* JRE, which is needed for DataflowCreateJavaJobOperator, and many others.

[2022-02-14 00:07] #12782 closed

[2022-02-14 00:07] #10061 closed

[2022-02-14 08:10] mitsos1os commented on #19816
Just wanted to add that I was getting the same error on the latest MWAA setup on Airflow 2.2.2. Tasks were failing instantly once they were executed with the same stack overflow error!

**The problem finally was that LOG LEVEL!** We were deploying it through Terraform and the [**mwaa**](https://registry.terraform.io/providers/hashicorp/aws/latest/docs/resources/mwaa_environment) module allows you

[2022-02-14 08:33] armandleopold commented on #21420
@raphaelauv  I am not really familiar with how bitnami builds its images :
https://github.com/bitnami/bitnami-docker-airflow/blob/master/2/debian-10/prebuildfs/opt/bitnami/.bitnami_components.json#L7

[2022-02-14 08:35] raphaelauv commented on #21420
you can go inside the container and do `pip list`

[2022-02-14 08:47] armandleopold commented on #21420
[code]

[2022-02-14 08:50] armandleopold commented on #21420
This is strange :
The task is "Failed" but don't appears as failed in the front-end DAG view
![image](https://user-images.githubusercontent.com/7100281/153830351-15f5e9f0-3555-4a0c-af95-c67a3d9f37c1.png)
![image](https://user-images.githubusercontent.com/7100281/153830421-13d908a9-09dc-4d2b-a69a-fa3ec52b45b8.png)
![image](https://user-images.githubusercontent.com/7100281/153830482-73e33929-0187-47

[2022-02-14 08:51] potiuk opened #21557 "Status of testing Providers that were prepared on February 14, 2022"
### Body

I have a kind request for all the contributors to the latest provider packages release.
Could you please help us to test the RC versions of the providers?

Let us know in the comment, whether the issue is addressed.

Those are providers that require testing as there were some substantial changes introduced:

## Provider [elasticsearch: 2.2.0rc3](https://pypi.org/project/apache-airflow-pr

[2022-02-14 08:54] potiuk commented on #21557
I marked as tested those changes that were tested in RC2: in #21443 - but feel free to re-test them.

[2022-02-14 09:10] david30907d commented on #21557
@potiuk , I'd checked #19508 and #19570 and they worked fine ✔️

[2022-02-14 09:11] lwyszomi commented on #21557
I missed previous call, but checked the composer operators once again and all works good (#21251)

[2022-02-14 10:08] alexott opened #21559 "Databricks hook: Retry also on HTTP Status 429 - rate limit exceeded"
### Apache Airflow Provider(s)

databricks

### Versions of Apache Airflow Providers

2.2.0

### Apache Airflow version

2.2.3 (latest released)

### Operating System

Any

### Deployment

Other

### Deployment details

_No response_

### What happened

Operations aren't retried when Databricks API returns HTTP Status 429 - rate limit exceeded

### What you expected to happen

the operation should

[2022-02-14 11:07] tulanowski commented on #16982
Hi @potiuk! Finally I was able to test the patch. Unfortunately I still see big number of deadlock every night. Now I see only errors in workers, no deadlocks in scheduler. I created new git, which contain new logs, and contents of `taskinstance.py` file, which I used after applying the patch.

[2022-02-14 12:11] potiuk commented on #16982
Thanks. Really helpful1 I will look at this then. I believe the contention is still with Task Reschedule, but now it looks like the contention is with another query (possibly one that is not guarded by the same row-id). seems that the contention is with SELECT statement this time which might require another dead lock prevention mechanism.

The TaskReschedule relation with task_instance index seems

[2022-02-14 12:38] AlejandroBaron opened #21561 "Tasks after BranchOperator are getting skipped using TaskFlow API"
### Apache Airflow version

2.2.3 (latest released)

### What happened

I was trying to use branching in the newest Airflow version but no matter what I try, any task after the branch operator gets skipped

Might be related to https://github.com/apache/airflow/issues/10725, but none of the solutions there seemed to work.

### What you expected to happen

The task following a BranchPythonOperator t

[2022-02-14 12:40] danielito-orteguita opened #21562 "Do not retry task if non-retriable error occurs"
### Description

There should exist a mechanism to easily tell airflow whether a given failed task should be retried or not.

My ideal solution would be for the Python operator to have a parameter to specify a list of non-retriable exceptions. If the task fails with any of those, it should be marked as failed and not be retried.

Eg:
`
class MyCustomException(Exception):
    pass

task = PythonOpe

[2022-02-14 12:46] eladkal commented on #21562
Use [`AirflowFailException`](https://github.com/apache/airflow/blob/28378d867afaac497529bd2e1d2c878edf66f460/airflow/exceptions.py#L93-L94)

[2022-02-14 12:46] #21562 closed

[2022-02-14 13:10] victorphoenix3 commented on #20705
Hi, I would like to attempt this implementation.

[2022-02-14 14:30] #21561 closed

[2022-02-14 16:10] kaxil commented on #19222
@yuqian90 Would you like to PR a fix?

[2022-02-14 16:16] blecx commented on #9958
Any contributions yet finished. I can'f find any practical advice how to configure pod workers when using kubernetesExecuter. What is used as the default worker image and how can I change this to a custom image.

Thank you very much for any help.

[2022-02-14 17:09] eladkal commented on #10742
hi @potix2 Do still wish to work on it?

[2022-02-14 17:21] elliotdes commented on #18932
@potiuk was there ever a solution for this? We are upgrading our MWAA instance from 2.0.2 to 2.2.2 and we are having conflicts between flake8 and importlib-metadata.

Using [this](https://raw.githubusercontent.com/apache/airflow/constraints-2.2.2/constraints-3.7.txt) constraints file

[2022-02-14 17:25] josh-fell commented on #21557
#21285 Looks good!

[2022-02-14 17:34] potiuk commented on #18932
I am not what you install and what you have in the images (and how you are installing constraints).

You likely have completely different problem and you simply want to instal conflicting versions of requirements manually.

The problem describe in the issue is only when "all" extra was used (which should never be used in production - it is development only setting).  I am not sure at all even why

[2022-02-14 17:49] subkanthi commented on #20705
Hi @victorphoenix3 , Im working on the API support for SAML, please feel free to take on SAML support for the webserver, it might need some digging into the FAB support.
https://github.com/apache/airflow/issues/11305

[2022-02-14 17:56] potiuk commented on #20705
assigned you @victorphoenix3 !

[2022-02-14 19:36] ephraimbuddy commented on #21447
I prefer adding it to the schema

[2022-02-14 19:38] frankcash commented on #20320
It looks like the exact reason this occurs is because

last_name has a not null constraint in the DB https://github.com/apache/airflow/blob/8505d2f0a4524313e3eff7a4f16b9a9439c7a79f/airflow/migrations/versions/92c57b58940d_add_fab_tables.py#L99

[2022-02-14 19:55] eladkal commented on #20320
So the fix is probably just make sure it returns meaningful error rather than 500

[2022-02-14 19:57] frankcash commented on #20320
Yeah, that's a good idea.  Weird that someone was able to make a user without a last_name if there is a not null constraint, wonder if this was introduced in a migration or something

[2022-02-14 19:58] eladkal commented on #8198
Solved in https://github.com/apache/airflow/pull/21393

[2022-02-14 19:58] #8198 closed

[2022-02-14 20:08] ianbuss commented on #21392
One option might be to add a config option to specify the file syntax, which would default to `regexp` to maintain backwards compat. Something like:
[code]
May be something I haven't considered.

[2022-02-14 20:21] frankcash opened #21566 "typing_extensions package isn't installed with apache-airflow-providers-amazon causing an issue for SqlToS3Operator"
### Apache Airflow Provider(s)

amazon

### Versions of Apache Airflow Providers

3.0.0rc2

### Apache Airflow version

2.2.3 (latest released)

### Python version

Python 3.9.7 (default, Oct 12 2021, 02:43:43)

### Operating System

Debian GNU/Linux 11 (bullseye)

### Deployment

Docker-Compose

### Deployment details

_No response_

### What happened

I was working on adding this operator to a D

[2022-02-14 20:42] frankcash commented on #21566
It looks like as of Python 3.8 this functionality can be achieved by  changing the import to

[code]

instead of

[code]

but utilizing `typing_extensions` wouldn't break backwards compatibility it would just require  a change here https://github.com/apache/airflow/blob/0a6ea572fb5340a904e9cefaa656ac0127b15216/setup.cfg#L140

[2022-02-14 20:44] frankcash commented on #21566
Also looks like the SQS Sensor suffers from a similar issue https://github.com/apache/airflow/blob/main/airflow/providers/amazon/aws/sensors/sqs.py#L24

[2022-02-14 21:31] josh-fell commented on #21566
FYI - There is [typing_compat](https://github.com/apache/airflow/blob/main/airflow/typing_compat.py) that could be used for the `Literal` type import.

[2022-02-14 21:45] josh-fell commented on #21566
Might be worth putting in some sort of CI check for these compat-related imports too. @potiuk WDYT?

[2022-02-14 21:57] potiuk commented on #21566
Ah yeah. Absolutely :)

[2022-02-14 21:58] ashb commented on #20320
An empty string is distinct from a null value. This is a bug in our OpenAPI/marshmallow schemas.

See also https://www.kalzumeus.com/2010/06/17/falsehoods-programmers-believe-about-names/

[2022-02-15 00:07] #10028 closed

[2022-02-15 03:46] leiguorui commented on #17599
We are still seeing this issue in v2.2.3,

Traceback (most recent call last):
  File "/Data1/task/anaconda3/lib/python3.8/site-packages/airflow/task/task_runner/standard_task_runner.py", line 85, in _start_by_fork
    args.func(args, dag=self.dag)
  File "/Data1/task/anaconda3/lib/python3.8/site-packages/airflow/cli/cli_parser.py", line 48, in command
    return func(*args, **kwargs)
  File "/Data

[2022-02-15 05:37] sushinoya opened #21570 "Timetables: logical_date (deprecated execution_date) does not align with data_interval.start for manual DAG trigger"
### Apache Airflow version

2.2.3 (latest released)

### What happened

I created a simple DAG using the `CronDataIntervalTimetable`. I used the Trigger DAG button on the UI to trigger a DAG Run. The cron expression that I was using was `5,10,15,20,25  * * * *`  and I pressed the button at `13:18`.

I expected the Data Interval to be `13.10` to `13.15` and that was represented correctly on the UI

[2022-02-15 07:10] kanga333 opened #21573 "ECS Operator doesn't get logs from cloudwatch when ecs task has finished within 30 seconds."
### Apache Airflow Provider(s)

amazon

### Versions of Apache Airflow Providers

apache-airflow-providers-amazon==2.6.0

### Apache Airflow version

2.2.3 (latest released)

### Operating System

Amazon Linux2

### Deployment

Other Docker-based deployment

### Deployment details

_No response_

### What happened

ECS Operator doesn't print ECS task logs stored in CloudWatchLogs when ECS task has

[2022-02-15 07:26] chenglongyan commented on #21459
related: #20648

[2022-02-15 08:17] enniomorricone123 opened #21576 "outdated dag code on airflow webserver"
### Apache Airflow version

2.2.3 (latest released)

### What happened

Since airflow > 2.0.0 [core] store_dag_code has been removed (see https://github.com/apache/airflow/pull/16342). However, this created huge problem because now the webserver (UI) shows very outdated dag code only scheduler has serialized new dag, but the source code of dag can not be updated.

Can we bring back the store_dag_c

[2022-02-15 08:35] uranusjr commented on #21570
This is expected. Unfortunately execution_date pointed to the _run date_ before timetable was introduced as a concept, and we had to keep backward compatibility. The only viable alternative would be to keep execution_date point to the run date, but have logical date match data_interval.start, but that is arguably even more confusing. Ultimately logical date (and execution_date) does not really mea

[2022-02-15 08:35] #21570 closed

[2022-02-15 09:36] sergbelyakov commented on #21082
I also experienced this issue after switching from CeleryExecutor to CeleryKubernetesExecutor. Scheduler stopped hanging after switching back to CeleryExecutor. Looks like an issue with Kubernetes Executor.

[2022-02-15 09:37] AnudeepKonaboina opened #21579 "Airflow SFTP sensor issue"
### Apache Airflow version

2.1.1

### What happened

Hi ,
There is a python operator which gets the list of files every 30 secs from an SFTP server and this DAG must be run indefinitely until someone manually pauses or deletes it. But  the task is exiting with a SIGABRT error after the dag has run for 9 hrs. Below is the error .This has happened a couple of times .

[code]

Also tried the same us

[2022-02-15 09:46] potiuk commented on #21573
Assigned you !

[2022-02-15 11:16] potiuk commented on #21579
The problem is that your server seems to be VERY slow to respond to the initial connection request. It might be many things (including lack of entropy on your server). It could also be a firewall in between etc.  I strongly suggest to look at your server configuration, logs and monitoring and try to fix the root cause.

BTW. We also recently saw similar problems in our CI environment, so we believ

[2022-02-15 11:41] #20007 closed

[2022-02-15 13:03] potiuk commented on #21387
Opening a socket and serviing logs is FAR more secure than execing arbitrary command - and this is the pattern we already use in Celery workers (And it is even secured with secret key).

If you think you can propose a good solution for that - feel free to propose a PR.

Note that in the future we are likely to integrate open-telemetry for logging (there is a work in-progress on that) and that will

[2022-02-15 13:08] potiuk commented on #21450
Yes. Parsing is necessary to get the structure of DAGs. The command line of airflow is not intended as "external" query mechanism, it is a "helper" tool that should be executed on Airflow scheduler and it is supposed to read the DB and parse DAGs.

If you want to query dag state from outside use the REST API: https://airflow.apache.org/docs/apache-airflow/stable/stable-rest-api-ref.html

[2022-02-15 13:48] patrickbrady-xaxis opened #21584 "xcom table deadlocks (error 1205) due to lack of index"
Environment:
Airflow Version: 2.1.4
Cloud provider or hardware configuration: AWS hosting EC2 server/worker instances on Docker containers
OS: Linux, current build of https://github.com/docker-library/repo-info/blob/master/repos/python/remote/3.7-slim.md#python37-slim, e.g. Linux 103b100bee6b
Kernel: 4.14.203-116.332.amzn1.x86_64
Install tools:
Others: MariaDB 10.3.31 on RDS

What Happened:
When m

[2022-02-15 13:55] lukasbriaukus opened #21585 "Sensor timeout sometimes is not respected"
### Apache Airflow version

2.2.3 (latest released)

### What happened

tasks continue to be rescheduled even though timeout was reached and it never fails

### What you expected to happen

I think we hit https://github.com/apache/airflow/issues/10790 or other airflow issue hence there was no record associated with the first task run and airflow kept considering task has just started. Below code f

[2022-02-15 14:16] potiuk commented on #21387
Closing as the logging will be added during the open-telemetry integration: #12771

[2022-02-15 14:16] #21387 closed

[2022-02-15 16:35] wanlce opened #21594 "First scheduling issue after schedule interval change"
### Apache Airflow version

main (development)

### What happened

New version of the timetables issue

eg:
At first I had a scheduling time of 30 * * * * *
After running it twice, I changed it to 32 * * * *
The actual first run time after the change is fine, but because the data interval starts from the end of the previous interval, it has already been determined and not refreshed, so the display

[2022-02-15 16:37] dstandish commented on #20626
i think this is resolved by https://github.com/apache/airflow/pull/19695 @shivanitomarzeotap

[2022-02-15 16:37] #20626 closed

[2022-02-15 18:17] jedcunningham commented on #20603
Closing this as the fix is already cherry-pick for 2.2.4 👍

[2022-02-15 18:17] #20603 closed

[2022-02-15 18:48] potiuk commented on #15354
@charmon79  Could you please open a new issue stating the circumstances, reproduction steps and all the details of your deployment (how you installed configured and run airflow ? Including what else you installed etc ?

It might be a different issue, even if error message is similar or the same, but cirucmstances of how you get there matter.

[2022-02-15 19:55] ianbuss commented on #21392
@potiuk thoughts on the configuration suggestion? I think supporting the Unix glob-style is reasonable, since it would match user expectations from other tools much more closely:

* https://git-scm.com/docs/gitignore
* https://docs.docker.com/engine/reference/builder/#dockerignore-file
* https://v3-1-0.helm.sh/docs/chart_template_guide/helm_ignore_file/

These all support a similar (identical?) sy

[2022-02-15 20:13] potiuk commented on #21392
Yeah. That looks like a good idea to add configuration option. That's a clear path for deprecation as well - we coul add a deprecation for regexp now and swap the default in Airflow 3.

[2022-02-15 20:25] utkarsharma2 commented on #19384
@potiuk, we can implement retries in multiple ways, right now I have chosen option 1:

1. We can use HttpHook’s run_with_advanced_retry method which has retry build into it via tenacity, and let user have complete control of how the retry work via choosing options by passing _retry_args_ parameter, probably good for advance users.
2. Using same code as above option but providing default values for

[2022-02-15 20:40] eladkal opened #21597 "replace `hql` references to `sql` in `TrinoHook` and `PrestoHook`"
### Body

Both:
https://github.com/apache/airflow/blob/main/airflow/providers/presto/hooks/presto.py
https://github.com/apache/airflow/blob/main/airflow/providers/trino/hooks/trino.py

uses terminology of `hql` we should change it to `sql`.
The change needs to be backwards compatible. e.g deprecating hql with warning

### Committer

- [X] I acknowledge that I am a maintainer/committer of the Apach

[2022-02-15 20:42] #21125 closed

[2022-02-15 21:21] #11443 closed

[2022-02-15 21:24] kazanzhy commented on #21597
I'm working on a few other PRs but could take this issue if nobody else will take it.

[2022-02-15 21:30] potiuk commented on #21537
Feel free.

[2022-02-15 21:38] #13231 closed

[2022-02-15 21:54] eladkal opened #21599 "Explore the possibility of generic `SqlToGcsOperator`"
### Body

Recently `SqlToS3Operator` was added in PR https://github.com/apache/airflow/pull/20807 (It also deprecated `MySqlToS3Operator`)

In Google provider Currently we have [BaseSQLToGCSOperator](https://github.com/apache/airflow/blob/1b568d73e1dfb838a3a0446e3a6063b9f27f04b8/airflow/providers/google/cloud/transfers/sql_to_gcs.py#L36) with `PrestoToGCSOperator`, `MSSQLToGCSOperator`, `MySQLToGC

[2022-02-15 21:59] #8191 closed

[2022-02-15 21:59] #19384 closed

[2022-02-15 22:05] MichailParaskevopoulos opened #21600 "BigQueryCreateEmptyDatasetOperator: doesn't use the provided project_id"
### Apache Airflow Provider(s)

google

### Versions of Apache Airflow Providers

apache-airflow-providers-google==6.3.0

### Apache Airflow version

2.1.1

### Operating System

Debian 10

### Deployment

Docker-Compose

### Deployment details

_No response_

### What happened

The operator `airflow.providers.google.cloud.operators.bigquery.BigQueryCreateEmptyDatasetOperator` fails when the GCP p

[2022-02-15 22:50] potiuk commented on #18582
Adding whole functionality of syncing env/state/db in case it can be replaced with
[code]
is a hard no for me.,

[2022-02-15 22:50] #18582 closed

[2022-02-15 23:03] thcidale0808 commented on #21381
I'm happy to contribute with this one. Can this be assigned to me?

[2022-02-16 01:45] wanlce commented on #21594
@uranusjr  here

[2022-02-16 04:42] pbotros commented on #10790
We also run into this fairly often, despite not using any sensors. We only seemed to start getting this error once we changed our Airflow database to be in the cloud (AWS RDB); our Airflow webserver & scheduler runs on desktop workstations on-premises. As others have suggested in this thread, this is a very annoying problem that requires manual intervention.

@ghostbody any progress on determining

[2022-02-16 05:22] eladkal commented on #21600
@MichailParaskevopoulos assiged to you. Feel free to submit PR

[2022-02-16 06:15] eladkal commented on #11721
@lwyszomi are you still working on this issue?

[2022-02-16 06:18] eladkal commented on #11673
This issue is reported against old version of Airflow and on backport provider.
Please check against latest provider version. If the issue still happens please add reproduce steps

[2022-02-16 06:18] #11673 closed

[2022-02-16 06:24] eladkal commented on #13351
@pierrejeambrun maybe you'll be interested in trying to solve some of the hacks? (probably we can't solve all of them)

[2022-02-16 06:35] 2ps opened #21603 "base task runner fails when using `sql_alchemy_conn_cmd` in config file"
### Apache Airflow version

2.2.3 (latest released)

### What happened

In the configuration file, we specified a `sql_alchemy_conn_cmd` so that the main sql alchemy connection is loaded from a command.  However, when using such a configuration and running any dag / task, we get the following error:

[code]

### What you expected to happen

Tasks should run without error when using `sql_alchemy_co

[2022-02-16 07:16] lwyszomi commented on #11721
@eladkal sorry I was very busy, I will try to find some time in this or next week to fix this issue

[2022-02-16 07:24] eladkal commented on #18713
@alex-astronomer are you still working on this?

[2022-02-16 07:27] eladkal commented on #20419
@bhavaniravi are you still working on this issue?

[2022-02-16 08:16] bhavaniravi opened #21605 "KubernetesPodOperator Fails on empty log line"
### Apache Airflow Provider(s)

cncf-kubernetes

### Versions of Apache Airflow Providers

apache-airflow-providers-cncf-kubernetes==1!2.1.0

### Apache Airflow version

2.2.3 (latest released)

### Operating System

Debian GNU/Linux 10 (buster)

### Deployment

Astronomer

### Deployment details

_No response_

### What happened

Some `KubernetesPodOperator` tasks fail with an empty logline. From

[2022-02-16 09:09] bhavaniravi commented on #20419
Yes, I will raise a PR this week or early next week. I have the content ready

[2022-02-16 13:19] druizz90 opened #21615 "ArgoCD deployment: Cannot synchronize after updating values"
### Official Helm Chart version

1.4.0 (latest released)

### Apache Airflow version

2.2.3 (latest released)

### Kubernetes Version

v1.20.12-gke.1500

### Helm Chart configuration

defaultAirflowTag: "2.2.3-python3.9"
airflowVersion: "2.2.3"

createUserJob:
  useHelmHooks: false
migrateDatabaseJob:
  useHelmHooks: false

images:
  migrationsWaitTimeout: 300

executor: "KubernetesExecutor"

###

[2022-02-16 13:40] eladkal commented on #16654
@ShivamJhaa  are you still working on this issue?

[2022-02-16 14:23] Chris7 opened #21616 "Deferred tasks being ran on every triggerer instance"
### Apache Airflow version

2.2.3 (latest released)

### What happened

I'm currently using airflow triggers, but I've noticed that deferred tasks are being ran on every triggerer instance right away:

[code]

within 2 seconds, the job was issued on both triggerer instances.

### What you expected to happen

The deferred task is only scheduled on 1 triggerer instance.

### How to reproduce

Create

[2022-02-16 15:02] raphaelauv commented on #21605
Could you try update to latest version of the provider https://pypi.org/project/apache-airflow-providers-cncf-kubernetes/

3.0.2

[2022-02-16 16:54] potiuk commented on #21557
We have one more day :)

[2022-02-16 21:16] Archit-Shah opened #21623 "Stackdriver Remote Logging - Only partial log content captured on Google Cloud Logging"
### Apache Airflow version

2.2.3 (latest released)

### What happened

I am trying to configure **remote logging** with StackDriver on my local Airflow machine setup (Official Docker Compose). We have updated following config variables in our setup (output from `airflow config list | grep remote`):

[code]

The GCP connection has been setup properly on Airflow. The service account has the correct

[2022-02-16 21:25] potiuk commented on #17599
Can you please open a new issue @leiguorui and describe your case in details - what command you run , your deployment etc. It looks quite a bit different.

[2022-02-16 21:38] potiuk commented on #21459
Some logs should be present - can you also check if you have enough resources / kubernetes logs ? It is lilkely your tasks are killed due to lack of resources (memory most likely).

[2022-02-16 22:21] joeyberkovitz opened #21625 "LocalFileSystem Secret Backend Bug"
### Apache Airflow version

2.2.3 (latest released)

### What happened

The included LocalFileSystem secrets backend has a minor bug that prevents importing of connections from ".env" files containing multiple "=" characters.

On https://github.com/apache/airflow/blob/main/airflow/secrets/local_filesystem.py#L77 - the Python string split function is used and the `maxsplit` parameter is set to 2 wh

[2022-02-16 23:46] arkadiusz-bach commented on #21548
This is a bug, it is trying to access Celery logs because of the following line:
https://github.com/apache/airflow/blob/710d6997035a5e050367db013ae6847cc90dc51a/airflow/utils/log/file_task_handler.py#L143

It should also check whether executor is equal to 'CeleryKubernetesExecutor' and the task queue is 'kubernetes'(queue value should be taken from config)

Once you have got that fixed, log will b

[2022-02-17 03:16] bhavaniravi commented on #21605
3.0.2 Also has the same logic for parsing log lines, wouldn't be of much help
https://github.com/apache/airflow/blob/providers-cncf-kubernetes/3.0.2/airflow/providers/cncf/kubernetes/utils/pod_manager.py#L254

[2022-02-17 03:37] utkarsharma2 commented on #21597
Hey @eladkal,  simply replacing `hql` with `sql` won't break backward compatibility. Can you explain bit more about the backward compatibility?

[2022-02-17 06:09] ddelange commented on #20884
would agree this is upstream. nevertheless, here is a potential hotfix on airflow side (unconfirmed): https://github.com/kubernetes-client/python-base/issues/190#issuecomment-805073981

[2022-02-17 06:17] #12246 closed

[2022-02-17 06:44] eladkal commented on #21467
Please add reproduce example

[2022-02-17 06:57] eladkal commented on #20850
I'm not able to reproduce.
Converting to discussion

[2022-02-17 08:03] davidpr91 commented on #21557
#21391 works good!

[2022-02-17 08:17] mehmax commented on #21557
#19084 and #21524 works good!

[2022-02-17 08:22] blinkseb commented on #18880
Hello everyone, sorry for not answering later, the upgrade to 2.2.0 was a bit harder than expected with the timetable changes!

Unfortunately, we still experience the same issue. The DAG would trigger as expected, but none of the task would run. I've been able to capture a debug log when the DAG is triggered:

[code]
one intriguing line is `number of tis tasks for <DAG>: 0 task(s)`, except there a

[2022-02-17 09:09] potiuk commented on #21454
This should be fixed now. It was a temporary error.

[2022-02-17 09:09] #21454 closed

[2022-02-17 09:28] ianbuss commented on #21392
@ashb @potiuk can you put me down for this one please, thanks.

[2022-02-17 09:39] Scope0910 opened #21638 "Spark Connection with k8s in URL not mapped correctly"
### Official Helm Chart version

1.2.0

### Apache Airflow version

2.1.4

### Kubernetes Version

v1.21.6+bb8d50a

### Helm Chart configuration

I defined a new Connection String for AIRFLOW_CONN_SPARK_DEFAULT in values.yaml like the following section (base64 encoded or with correct string (spark://k8s://100.68.0.1:443?deploy-mode=cluster):

[code]

in Section extraEnvFrom i defined the following

[2022-02-17 09:49] Bowrna commented on #21454
@potiuk This issue still persists.

[2022-02-17 10:26] saulbein commented on #20484
@potiuk I would like to help, but sadly I don't know much (if at all) about Flask-AppBuilder and can't allocate enough time to learn with other work :disappointed:. I'll see if I can at least contribute some typing.

[2022-02-17 10:52] sjacquot commented on #12309
I'm still having the problem on Airflow 2.1.2

_Broken DAG: [/usr/local/airflow/dags/dags/auto/bronze/xywyxw_full_bronze_dag.py] Traceback (most recent call last):
  File "/home/airflow/.local/lib/python3.8/site-packages/airflow/models/baseoperator.py", line 524, in __init__
    task_group.add(self)
  File "/home/airflow/.local/lib/python3.8/site-packages/airflow/utils/task_group.py", line 158, in

[2022-02-17 13:47] potiuk commented on #9080
We alredy have clients published (some). Whic is good enough.

[2022-02-17 13:47] #9080 closed

[2022-02-17 13:54] #21163 closed

[2022-02-17 13:57] potiuk commented on #21638
Would you lke to make a PR  for that @Scope0910 - seems that it should not be difficult and you have an environment that you could test it in.

[2022-02-17 13:59] potiuk commented on #21454
Hmmm. Very strange . IT works for mre when I run it and even when I copied the docker command...

Can you please rebase and check in the latest main ?

[2022-02-17 14:00] potiuk commented on #21454
[code]

[2022-02-17 14:32] potiuk commented on #12309
I believe it's just wrong way of using decorated tasks.

But the issue is that you are adding the same issue again with the same taks_id. You shoudl change task_id when you are adding tasks mutiple times. This problem is not fixable IMHO because of the way how decorators work - the function for the resulting task will always have the same id and (as far as I know how decorarots work) this cannot b

[2022-02-17 14:48] ashb commented on #12309
(That `test_multiple_calls_in_task_group` was added in #14709 was released in 2.1.0.)

[2022-02-17 15:21] potiuk commented on #21585
I think the root cause shoud be treated, not this one - to be honest.

[2022-02-17 16:40] nicolamarangoni opened #21647 "Jenkins Connection Example"
### Describe the issue with documentation

I need to configure a connection to our jenkins and I dont find anywhere an example.
I suppose that I need to define a http connection with the format:
`http://usename:password@jenkins_url`
However don't have any idea about adding `/api` so that the url would be:
`http://usename:password@jenkins_url/api`

### How to solve the problem

Is it possible to in

[2022-02-17 18:25] eladkal commented on #21647
You are welcome to submit a PR for this

[2022-02-17 19:39] Scope0910 commented on #21638
i agree with @mik-laj  it isn't quite a bug of the helm chart himself. urllib parser in python is quite pain. Maybe it should handled in models/connection.py ?

[2022-02-17 20:38] #7868 closed

[2022-02-17 20:41] #16428 closed

[2022-02-17 21:20] potiuk commented on #21638
Yeah. Doesn't really matter who's bug it is - Maybe we can simply workaround it in airflow ? Maybe we can fix some world around us rather than  garbage-in -> garbage-out :)

I do not say we have to - but if possible - why not?

[2022-02-17 21:38] fjmacagno commented on #14613
BTW Changes look great, it just took forever to get us migrated to a newer version of Airflow. Thanks!

[2022-02-17 21:45] #17720 closed

[2022-02-17 21:59] JonnyWaffles opened #21654 "Window Logical Dates with "Rolling" SLAs - Bridging Event Systems and Schedule Intervals"
### Description

Hi team,

First I want to thank you for all that you do! This feature is better described by a business scenario

Naming this feature request is tricky, as is searching for it, so you may have already considered it. If so please point me in the right direction. Essentially, we set up a trigger system that executes unscheduled dags "manually" for each event type. Whenever the event

[2022-02-17 22:01] AdamPaslawski opened #21655 "SFTP Sensor - Allow Use of Modified Time"
### Description

The SFTP sensor uses the existence of a modified time to determine if a file exists in an SFTP location.

I would like to propose extending the sensor to allow for a `newer_than`  option, since we already get the modified time in the current implementation of `poke()` this would be a relatively simple but useful extension.

### Use case/motivation

I want to be able to use this se

[2022-02-17 22:19] andreychernih commented on #20461
@avkirilishin runs were created in 2.2.0 or 2.2.1 likely then Airflow was upgraded to 2.2.2.

[2022-02-17 22:53] TidesMind opened #21656 "Airflow >= 2.2.0 execution date change is failing TaskInstance get_task_instances method and possibly others"
### Apache Airflow version

2.2.3 (latest released)

### What happened

This is my first time reporting or posting on this forum. Please let me know if I need to provide any more information. Thanks for looking at this!

I have a Python Operator that uses the BaseOperator get_task_instances method and during the execution of this method, I encounter the following error:
<img width="1069" alt="Scre

[2022-02-17 23:25] rewe52 commented on #8459
Hi! Do you have any progress in this task?

[2022-02-17 23:31] SystemOfaDrow opened #21657 "Using AIRFLOW__CORE__SQL_ALCHEMY_CONN_CMD inserts \n at end of connection string"
### Apache Airflow version

2.2.3 (latest released)

### What happened

We use credstash to set/retrieve passwords. While trying to upgrade from Airflow v2.2.1 to v2.2.3, we started getting failures connection to the meta-database and ended up tracking the issue down to an additional new line character being inserted at the end of the connection string.

### What you expected to happen

There shou

[2022-02-18 00:12] mik-laj commented on #21657
A new line is added by credstash. Please look at:
https://github.com/fugue/credstash/blob/df24f9189e843e0cdc700c015ee4f37fbd35dc40/credstash.py#L542-L543

[2022-02-18 00:12] #21657 closed

[2022-02-18 03:17] sjf159026 opened #21660 "x_frame_enabled = True is not work, X-Frame-Options still is DENY"
### Apache Airflow version

2.2.3 (latest released)

### What happened

when display ariflow in another site in a iframe, the X-Frame-Options is deny, and x_frame_enabled  already set to True

### What you expected to happen

_No response_

### How to reproduce

_No response_

### Operating System

CentOS Linux release 7.2.1511 (Core)

### Versions of Apache Airflow Providers

_No response_

### D

[2022-02-18 07:00] lukaszkoziara opened #21661 "Can't remove DAG due to SQLAlchemy error"
### Apache Airflow Provider(s)

snowflake

### Versions of Apache Airflow Providers

apache-airflow-providers-snowflake==2.5.0

### Apache Airflow version

2.2.2

### Operating System

Amazon Linux AMI

### Deployment

MWAA

### Deployment details

_No response_

### What happened

When I tried remove DAG Airflow UI presented static page with error message "Error! Please contact server admin.".
Be

[2022-02-18 09:36] aymericbbc opened #21665 "Allow user to define Dataflow job name created by the operator DataflowCreateJavaJobOperator"
### Apache Airflow Provider(s)

google

### Versions of Apache Airflow Providers

apache-airflow-providers-apache-beam==3.1.0
apache-airflow-providers-cncf-kubernetes==2.1.0
apache-airflow-providers-ftp==2.0.1
apache-airflow-providers-google==5.1.0
apache-airflow-providers-hashicorp==2.1.1
apache-airflow-providers-http==2.0.1
apache-airflow-providers-imap==2.0.1
apache-airflow-providers-postgres==

[2022-02-18 10:55] uranusjr commented on #8459
There’s an unfinished PR (#11652) but it’s been long enough I’d assume it’s been abandoned. Would you be interested in picking up the effort and finish the patch?

[2022-02-18 11:19] rewe52 commented on #8459
I'm just a user of Airflow, not good developer and this feature may be useful for my team, it means that i can't finished this patch

[2022-02-18 12:23] potiuk commented on #8459
Let's hope someone will pick it up then.

[2022-02-18 13:49] nitra-1 opened #21668 "Airflow airflow:2.0.2 UI is not getting updated with dag status"
### Apache Airflow version

2.0.2

### What happened

The dags run and status gets updated but over the period like in 6-8 hours time and randomly the schedulers are seen in queued state.
And once we restart the scheduler immediately all the tasks are seen as success with no queued tasks.
With this we have to restart the scheduler quite frequently.

### What you expected to happen

Expected behavi

[2022-02-18 13:54] jedcunningham opened #21669 "Status of testing of Apache Airflow 2.2.4rc1"
### Body

We have a kind request for all the contributors to the latest [Apache Airflow RC 2.2.4rc1](https://pypi.org/project/apache-airflow/2.2.4rc1/).

Could you please help us to test the RC versions of Airflow?

Please let us know in the comment if the issue is addressed in the latest RC.

- [ ] [Fixing ses email backend (#18042)](https://github.com/apache/airflow/pull/18042): @ignaski @kaushi

[2022-02-18 15:22] uranusjr commented on #21584
The situation may have changed since we changed XCom's primary key. I'll try to find some time to review this if nobody else does.

[2022-02-18 15:47] #21603 closed

[2022-02-18 15:57] potiuk commented on #21557
Thanks everyone for testing! Providers are released!

[2022-02-18 15:57] #21557 closed

[2022-02-18 16:18] 2ps commented on #20092
Hello, we submitted a PR that works for us on this issue.

[2022-02-18 18:16] dbarrundiag opened #21671 "Amazon Airflow Provider | Broken AWS SES as backend for Email"
### Apache Airflow Provider(s)

amazon

### Versions of Apache Airflow Providers

[code]

### Apache Airflow version

2.2.2

### Operating System

Amazon Linux 2

### Deployment

MWAA

### Deployment details

_No response_

### What happened

As part of this PR https://github.com/apache/airflow/pull/18042 the signature of the function `airflow.providers.amazon.aws.utils.emailer.send_email` is no l

[2022-02-18 18:17] dbarrundiag commented on #21671
CC: @potiuk

[2022-02-18 18:25] ac1997 opened #21672 "[AWS] Configurable AWS SessionFactory for AwsBaseHook"
### Description

Add custom federated AWS access support through configurable [SessionFactory](https://github.com/apache/airflow/blob/main/airflow/providers/amazon/aws/hooks/base_aws.py#L424),

User will have the option to use their own `SessionFactory` implementation that can provide AWS credentials through external process.

### Use case/motivation

Some company uses custom [federated AWS access

[2022-02-18 19:35] gmcrocetti commented on #21057
I'm interest on it. I'll give it a try @potiuk . o/

[2022-02-18 19:49] tommyjcarpenter opened #21674 "recent package upgrade causing a breakage"
### Apache Airflow version

2.2.3 (latest released)

### What happened

`itsdangerous` had a release 16 hours ago, but I'm not 100% sure it's the cause of this:

[code]

here was the test trace that caused this:

[code]

### What you expected to happen

this was working until yesterday, some recent release has broken airflow

### How to reproduce

[code]

### Operating System

mac and ubuntu

###

[2022-02-18 22:11] edithturn commented on #20741
@potiuk I changed the file ci_build_ci_image_on_ci.sh for build_image.py, it is the unique part where we call to build the image. Please let me know if I am in the right way.

https://github.com/edithturn/airflow/blob/a02e8562a01b251d214f06f69bf1f15c91af536c/.github/workflows/build-images.yml#L231-L235

Another thing I was thinking is If I finished building the image, it means that it is ready to

[2022-02-18 22:52] hojatbay commented on #19346
@yuqian90 What if I don't want to or I cannot increase the timeout period? In my case I need to retry for a period of 24 hours so if I increase the timeout to 24 hours then the task will not release the slot in my environment for 24 hours (its basically a running task that takes 24 hours to complet). As other similar tasks come in, they also take some slots and my environment finally ends up with

[2022-02-18 23:13] aa3pankaj commented on #21127
As per https://github.com/apache/airflow/blob/78490f86bfab195cc98a7b700c26c24a1aa2eb17/airflow/models/dag.py#L200, dag_id should be ASCII

@potiuk @ashb do we even support dag_id to be non-ascii? is this issue valid?

[2022-02-19 01:34] dbarrundiag commented on #21671
FYI: @uranusjr @ignaski

[2022-02-19 04:43] potiuk commented on #21127
Yep. Actually you are right.

[code]

[2022-02-19 06:24] ghostbody commented on #10790
@pbotros No, we do not solve this problem yet. 😢

[2022-02-19 06:34] potiuk commented on #20741
Yeah. But we also should make it an entrypoint similar to "airflow-freespace", (`airlfow-build-image`) this way when we run it in CI, we shoudl be able to - similarly as `airflow-freespace` run it as `run: airflow-build-image`.

Yeah. It should work in your repo. That should be no problem. If everything works fine with the build image and all the variables are properly used, the image should be bu

[2022-02-19 09:11] eladkal commented on #19752
@cb149 you can check the PR that added the functionality https://github.com/apache/airflow/pull/9044

[2022-02-19 09:24] eladkal commented on #17815
@rsg17 The goal of examples is to show simple usage of the capabilities. It is not for suggesting workaround or how to complete missing functionality (Bulk is not yet supported https://github.com/apache/airflow/issues/16921 )

The easiest way to do it is simple go over the provider abilities and add example where missing. If you find the examples we have satisfactory we can close this issue

[2022-02-19 09:34] #21671 closed

[2022-02-19 10:02] jayantsande25 commented on #17815
Yes Rachana
You're understanding is correct.
In case you need more information please let me know, we can discuss

On Sat, 19 Feb 2022, 12:35 Rachana Gogate, ***@***.***> wrote:

[2022-02-19 10:11] eladkal commented on #21127
I guess this might change in the future there is a good discussion in https://github.com/apache/airflow/issues/18010#issuecomment-912820115
Probably the idea of separating the id from the display name in the UI will happen in future releases.

[2022-02-19 11:07] eladkal opened #21683 "Remove all usages of days_ago from test suite"
### Body

`days_ago` is deprecated https://github.com/apache/airflow/pull/21653

We have several references to the function in test suite / example dags.

Task:
there should be no imports of `airflow.utils.dates import days_ago` in the code.
In most cases we can simple replace with `datetime(2022, 1, 1)`

### Committer

- [X] I acknowledge that I am a maintainer/committer of the Apache Airflow pro

[2022-02-19 11:36] raphaelauv commented on #19698
I think we can close this issue , now that the new kubernetesPodOperator is retrying.

[2022-02-19 14:06] hubert-pietron commented on #21683
Hi, can i take it?

[2022-02-19 14:53] #19698 closed

[2022-02-19 16:13] avkirilishin commented on #20461
@andreychernih I think there are two different problems:

1) The problem is related to the different logic of the scheduler before and after the update. Maybe there are no tasks in the running dags or something else. Can you show the rows for this dag run in dag, dag_run and task_instance?

2) I agree with you that it is not the right behavior for the scheduler to continue scheduling runs that are

[2022-02-19 17:24] dstandish commented on #19346
This is a very obvious case for deferrable operators: https://airflow.apache.org/docs/apache-airflow/stable/concepts/deferring.html#:~:text=A%20deferrable%20operator%20is%20one,to%20something%20called%20a%20Trigger.

[2022-02-19 18:24] uranusjr commented on #20461
(Sorry I missed this) I think #21011 is different. That one schedules the task (incorrectly) _at_ `start_date` even if that time does not lie on the schedule, and the fix is to delay the first run to a time after `start_date` that matches the schedule. The problem description here says however the tun is scheduled _before_ `start_date`.

[2022-02-19 19:15] omoumniabdou commented on #10790
The problem for us was that we had one dag that reach 32 parallelize runnable task ( 32 leaf tasks) which was the value of parameter `parallelism`. After this, the scheduler was not able to run (or queue) any task.
Increasing this parameter solve the problem for us.

[2022-02-19 21:03] eladkal commented on #12120
I agree with you Jarek and since the months passed without further comments I'm closing the issue.
If needed lets open new issues with defined scope

[2022-02-19 21:03] #12120 closed

[2022-02-19 21:08] eladkal commented on #9321
I'm closing this issue as it already has a [draft AIP](https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-35+Add+Signal+Based+Scheduling+To+Airflow).
There is a discussion thread in the mailing list about it.

[2022-02-19 21:08] #9321 closed

[2022-02-19 21:12] eladkal commented on #16480
@j143 are you still working on this issue?

[2022-02-19 21:30] potiuk commented on #12120
Actually - we already agreed, merged and achieved lazy consensus to try the approach that addresses that issue:

https://github.com/apache/airflow/pull/21356

We removed upper limits from most of the libraries and only really left those that we know why we are limiting them and what is the condition to remove those, which allows us to periodicallly (at minor relase time) to review whether the reas

[2022-02-19 21:33] potiuk commented on #12120
So it's more than 'month passed' :) . We actually implemented actions to address it :)

[2022-02-20 00:24] jon-fearer commented on #21669
#20303 Looks good in the RC version

[2022-02-20 04:51] hubert-pietron commented on #18967
Hi, can i finish it @gbonazzoli ?

[2022-02-20 05:28] gbonazzoli commented on #18967
Yes, you are welcome, very welcome !!!

[2022-02-20 05:37] changxiaoju commented on #13692
happens on Airflow2.2.4rc1

[2022-02-20 07:32] kadai0308 commented on #21599
Hi eladkal, Can I take this one as my first issue? I already went through the PR [#20807](https://github.com/apache/airflow/pull/20807)
and later I will check each implementation of XXXToGCSOperator to see is it possible to implement a generic `SqlToGCSOperator` to replace all of them.

[2022-02-20 07:42] eladkal commented on #21599
sure assigned to you

[2022-02-20 07:56] eladkal commented on #21683
@hubert-pietron sure, assigned to you.

[2022-02-20 08:16] kadai0308 commented on #21625
Raised a PR to fix this issue, please see #21694

[2022-02-20 09:17] potiuk commented on #13692
Almost for sure it is an environmental/deployment issue. But I would love to the bottom of it so I will need your help @changxiaoju.

Does it happen all the time or only sporadically ? How often? Any details on the conditions that it happens ?

Can you check and possibly re-configure your hostname callable @changxiaoju https://airflow.apache.org/docs/apache-airflow/stable/configurations-ref.html#h

[2022-02-20 10:41] PApostol commented on #21661
This issue is also discussed in #15354. You can use [constraints](https://github.com/apache/airflow/tree/6c91224f6c2e4f24d669c59d4e8e8006c9235db0) to [install Airflow](https://airflow.apache.org/docs/apache-airflow/stable/installation/installing-from-pypi.html#constraints-files), which will ensure `SQLAlchemy==1.3.24` is installed.

[2022-02-20 10:55] potiuk commented on #21661
Actually you even **SHOULD** use constraints. This is is the only supported method.

[2022-02-20 10:56] potiuk commented on #21661
Closing it as this is solved by following the proper installation method.

[2022-02-20 10:56] #21661 closed

[2022-02-20 11:06] #19905 closed

[2022-02-20 12:09] zockette commented on #19409
Workaround for apache-airflow-providers-microsoft-azure-3.6.0:
this can still be patched by commenting out "container_client.create_container()" @ line 323 (moved from line 365 since 3.3.0rc1) of YOUR_PYTHON_VENV_DIR_HERE/lib/python3SOMEVERSIONNUMBER/site-packages/airflow/providers/microsoft/azure/hooks/wasb.py.

[2022-02-20 12:27] pierrejeambrun commented on #13351
Hello @eladkal,

Thank you for pointing me to this issue. I will take a look and see if we can remove some of them. :)

[2022-02-20 14:16] potiuk commented on #20849
Just want to let to know i have not forgotten about it. It is on my list but we are transitioning to python and debian bullseye support and once done i will add slim version

[2022-02-20 15:36] changxiaoju commented on #13692
thankyou potiuk and https://github.com/apache/airflow/issues/18239 @[dimon222](https://github.com/dimon222).
it is now ok by setting hostname_callable = airflow.utils.net.get_host_ip_address.

I really want to offer you more information, but i am not very familiar with what you said.
It happened all the time, i use it on remote server, the calculation clusters. And i only changed the postgresql re

[2022-02-20 16:17] j143 commented on #16480
Hi thanks for reminding me, @eladkal . Give me a week to figure out the remaining tasks.

[2022-02-20 18:45] edithturn commented on #20741
Understoonn @potiuk, I was testing and the image is not being built appropriately. I just print a `docker images`
![Screenshot from 2022-02-20 10-46-33](https://user-images.githubusercontent.com/58795858/154858493-a17dae89-1c74-43b9-9859-bde5231f6ede.png)

 I saw that in breeze.py the build_image is being used:
 https://github.com/apache/airflow/blob/9ad4de835cbbd296b9dbd1ff0ea88c1cd0050263/dev/br

[2022-02-20 19:29] nicor88 opened #21701 "Airflow tasks marked as failed without retry with KubernetesExecutor"
### Apache Airflow version

2.2.3 (latest released)

### What happened

We use Kubernetes Executor in combinations with AWS spot instances. Time to time spot instances are evicted, therefore the tasks/pods running on it fail. All our tasks are having a retry >=1, which generally works fine, but in this case, the tasks running in the evicted K8s node, are marked immediately as failed.

### What you

[2022-02-20 19:31] ephraimbuddy commented on #21701
Can you upload the scheduler logs when this happens

[2022-02-21 02:15] akaa07 commented on #20308
I am having the same problem.
Multiple delayable operators randomly terminate abnormally.
Since I am using MWAA, there is no workaround solution.

[2022-02-21 04:04] kadai0308 commented on #21531
Hi @potiuk, nice to meet you. I am Kadai, new here.

For the webserver part, after go through the code, for writing the log when daemon is off,  is it just write the output to a file at [here] ?(https://github.com/apache/airflow/blob/main/airflow/cli/commands/webserver_command.py#L475)

something like:
[code]
Not sure am i missing anything else need to modify, if not, then i think i can help on th

[2022-02-21 05:52] gaoyibin0001 commented on #15286
may use "conda run -n env_name python xxx.py

[2022-02-21 06:03] gaoyibin0001 commented on #15286
one walk around may be use DockerOperator or KubernetesPodOperator  to isolate env depends on your deploment.
PythonVirtualenvOperator in my understanding is suitable for requiring few dependencies.
for usecase that demands too many packages or very big pakage like torch, the installation overhead is too much for per task. using prebuild images is a good choice, which can be maintained offline wit

[2022-02-21 06:06] kadai0308 commented on #21599
Hi @eladkal, when I investigated the presto_to_gcs operator & trino_to_gcs operator found the key of integer & float in their type map is different with others to_gcs operator, I think it might be a bug, so raise a PR #21700.
Can you help me check on that? Thanks

[2022-02-21 06:11] rsg17 commented on #17815
Sounds good. Will look at examples for existing code. (Will exclude bulk API related examples)

[2022-02-21 07:15] elyselam commented on #21638
Can I get this assigned to me please?

[2022-02-21 07:34] potiuk commented on #20880
I think we should be god to go with that one - all that should be cherry-picked is cherry-picked already :)

[2022-02-21 07:57] potiuk commented on #20741
Actually I think now it will be better to just use "Breeze2 build-ci-image" command directly - no need for a separate entrypoint. I think you should be able to run the command even now - as "Breeze2" entrypoint is already installed at this point.

Those parameters should be (as the yare now) passed through environment variables. When you run it as `./Breeze2 build-ci-image` you should just make su

[2022-02-21 07:59] potiuk commented on #20741
For example `PYTHON_MAJOR_MINOR_VERSION` variables (which is set from matrix in the CI) should be used as fallback in the `--python` flag in `build-ci-image`

[2022-02-21 08:12] talnagar commented on #21336
hi I would like to be assigned this issue. I've never contributed before. what's the protocol for doing it?

[2022-02-21 09:27] potiuk commented on #21336
Assignd you . See CONTRIBUTING.rst

[2022-02-21 09:28] eladkal commented on #12813
If someone experience this issue please add reproduce example.
Since issue is reported against 1.10 (which is EOL) + no comments on this issue for months + ephraim was unable to reproduce I think it's safe to close this issue.

[2022-02-21 09:28] #12813 closed

[2022-02-21 09:34] ecwootten commented on #12813
Since my last comment, we've experienced this bug twice on our production cluster in 6 months of otherwise trouble-free running. So it is highly intermittent, and we have not found any way to reliably reproduce it. It is also a very problematic bug, because it completely disables the DGAs - but I appreciate that 1.10 is a pretty old version now.

[2022-02-21 09:44] Wats0ns opened #21707 "Airflow cli is very slow"
### Apache Airflow version

2.2.2

### What happened

Typing any command using airflow, like `airflow`, `airflow version` is very slow in our production environment (~20-30s for an `airflow version`), which is not the cas in our dev env. Airflow is run in a docker image based on the `apache/airflow:latest-python3.8` image in both env. We use the helm package `airflow-stable https://airflow-helm.gi

[2022-02-21 09:48] mickfierte opened #21708 "Celery App Name (celery_app_name) not used as client name parameter with Redis connection"
### Apache Airflow version

2.2.0

### What happened

Celery App Name (https://airflow.apache.org/docs/apache-airflow/stable/configurations-ref.html#celery-app-name) configuration value not used as client name parameter with Redis connection. This does not allow you to control Celery's connections to Redis and properly monitor these connections in Prometheus and Grafana.

### What you expected to

[2022-02-21 09:55] hubert-pietron commented on #21669
#20591 Looks good too :)

[2022-02-21 10:11] iprateek opened #21711 "SageMakerProcessingOperator does not honor action_if_job_exists"
### Apache Airflow Provider(s)

amazon

### Versions of Apache Airflow Providers

apache-airflow-providers-amazon | 2.4.0

### Apache Airflow version

2.2.3 (latest released)

### Operating System

Amazon Linux 2

### Deployment

MWAA

### Deployment details

_No response_

### What happened

Sagemaker Processing Operator no longer honors the `action_if_job_exists` param and always fails creation

[2022-02-21 10:11] wanlce commented on #21669
#21011 Looks good too

[2022-02-21 10:50] leiguorui commented on #17599
OK,  thank you.

[2022-02-21 10:52] nitra-1 commented on #21668
![noname](https://user-images.githubusercontent.com/23074226/154940509-64490d84-4132-4565-9150-c2f17e6b6ed7.jpg)
As seen in the image, schedulers remain in the scheduled stated, even if there is no scheduler running these scheduler remain in scheduled state

[2022-02-21 10:55] nitra-1 commented on #21668
![noname](https://user-images.githubusercontent.com/23074226/154941613-99bd3f7f-295a-4512-890d-4c0015ce90c7.jpg)
As seen in the image, schedulers remain in the scheduled stated, even if there is no scheduler running these scheduler remain in scheduled state

[2022-02-21 11:18] changxiaoju commented on #13692
well, it worked several times and happened again,

Shut down for the same reson again, it is really hard to understand.
![image](https://user-images.githubusercontent.com/44628664/154945143-4b167f57-1717-467d-88dd-373a3e0459d3.png)

[2022-02-21 11:19] aa3pankaj commented on #21669
https://github.com/apache/airflow/pull/21294 Looks good

[2022-02-21 13:21] dimon222 commented on #18239
@changxiaoju
containerPort on container of airflow worker in property `ports`
https://kubernetes.io/docs/concepts/services-networking/connect-applications-service/

[2022-02-21 14:24] Syar123 opened #21714 "Unable to pass parameters which aren’t strings while triggering external data in airflow 2.1.4"
### Description

in airflow 1: we used to pass parameters like below to external dag trigger
def trigger_gcs_to_bq_dag(context, dag_run_obj) :
dag_run_obj.payload = {
'gcs_bucket" : context['ti' ].xcom_pull (key='gcs_bucket'
, task_ids='parse_params' ), "gcs_objects_list"
context['ti'].xcom_pull(key='gcs_objects_list'
task_ids='parse_params')
, task_ids='filter_gcs_files'),"bq_schema"
:context['ti

[2022-02-21 15:13] #21594 closed

[2022-02-21 15:15] dennis-weyland-by commented on #21493
@uranusjr @bbovenzi any updates?

[2022-02-21 16:01] changxiaoju commented on #18239
Thankyou, but i am not using CeleryExecutor , instead i use LocalExcutor,  what may cause the error then?

[2022-02-21 16:56] potiuk commented on #21615
Feel free to take a stab on it.

[2022-02-21 17:06] allebacco commented on #21714
Thanks for opening the issue. The code in the description is not well formatted and it is hard to understand. Could you please improve its formatting using the [Markdown code blocks](https://www.markdownguide.org/extended-syntax/#fenced-code-blocks)?

[2022-02-21 17:31] Syar123 commented on #21714
def trigger_gcs_to_bq_dag(context, dag_run_obj):
        dag_run_obj.payload = {
            "gcs_bucket" : context['ti'].xcom_pull(key='gcs_bucket', task_ids='parse_params'),"gcs_objects_list" : context['ti'].xcom_pull(key='gcs_objects_list', task_ids='filter_gcs_files'),"bq_auto_detect_schema" : context['ti'].xcom_pull(key='bq_auto_detect_schema', task_ids='parse_params'),"bq_schema" : context['

[2022-02-21 17:33] subkanthi opened #21717 "executor_config unpickled as str when using KubernetesExecutor"
### Apache Airflow version

2.2.3 (latest released)

### What happened

[code]
When the k8s task is defined with the decorator and when executor_config is passed, it seems to be pickled as `str`.

In pod_generator.py, it throws the following type error
`                'Cannot convert a non-kubernetes.client.models.V1Pod object into a KubernetesExecutorConfig'`
, because it gets unpickled as `str`

[2022-02-21 17:42] dimon222 commented on #18239
If error does include the port still in a same way as you see in first message, you could attempt expose that port on your scheduler. If not, I suspect you have some unrelated exception and should probably make separate ticket for that.

[2022-02-21 18:34] SangwanP opened #21720 "Add ability to pin Airflow Variable(s)/Connection(s) in the UI"
### Description

I'd like to see functionality in the UI to allow pinning some Airflow Variables/Connections at the top of the list.

### Use case/motivation

In our deployment we have a couple of Airflow Variables, and Connections that are central to our operations. We typically have to use filter search in order to reach these Connection/Variable, since we maintain a long list.
It would be nice

[2022-02-21 22:48] Melodie97 commented on #9829
Hi @potiuk for this issue, I'd like to know if the v1.yaml file in the open-api folder is the schema used by redoc?

[2022-02-21 23:59] danmactough commented on #13542
@WattsInABox Unfortunately, the AWS MWAA "upgrade" path is not an upgrade path, but rather a "stand up a new cluster and move all your DAGs with no way to retain historical Airflow metadata" path. Which ok fine, maybe that's what we should do in any case, but it does mean testing out 2.2.2 is going to require some planning.

[2022-02-22 02:53] leiguorui opened #21721 "FileNotFoundError: [Errno 2] No such file or directory: '/tmp/tmpv201_r46'"
### Apache Airflow version

2.2.3 (latest released)

### What happened

Full error message:

[code]

### What you expected to happen

Tempfile to be there and DAG not failing.

### How to reproduce

_No response_

### Operating System

CentOS release 6.6 (Final)

### Versions of Apache Airflow Providers

apache-airflow-providers-celery==1.0.0

### Deployment

Virtualenv installation

### Deploymen

[2022-02-22 04:10] superbeer opened #21722 "SFTPToGCSOperator except file and folder"
### Description

SFTPToGCSOperator except file and folder

### Use case/motivation

i'm use * for sftp  but can not except  folder not want to gcs

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://github.com/apache/airflow/blob/main/CODE_OF_CONDUCT.md

[2022-02-22 07:07] utkarsharma2 commented on #16434
@uranusjr , I would like to contribute for this issue, can you assign this to me?

[2022-02-22 07:11] uranusjr commented on #21493
If I understand what you’re trying to say correctly, the situaion is actually entirely the other way around. _It evolves around execution date_. All the UI confusions you have (runs at the same date displayed as different dates) happen because those dates are _execution dates_, not _data intervals_. Yes, a manual run’s execution date points to its data interval’s end. So to solve your problem, the

[2022-02-22 07:11] yzliao-zip opened #21723 "breeze shell fails with production image"
### Apache Airflow version

2.2.3 (latest released)

### What happened

When use the production image for breeze shell, the container could not start. The error is `./breeze: line 3407: /Users/xxx/repos/github/airflow/.build/: Is a directory`

Files in `.build`:
[code]

### What you expected to happen

The container could start.

### How to reproduce

On the main branch (sha: 4e959358ac4ef), run `

[2022-02-22 07:12] uranusjr commented on #16434
Go ahead!

[2022-02-22 08:07] chengzi0103 opened #21727 "The problem of using the KubernetesPodOperator log to report errors"
### Apache Airflow version

2.2.3 (latest released)

### What happened

airflow log error when running multiple k8s_pods

[code]

### What you expected to happen

how to fix it ?

### How to reproduce

I have three machines
Machine A: run airflow webserver and scheduler
B and C machines: run celery worker
All operators run on the k8s cluster through k8s_config

Once I run multiple tasks, the progr

[2022-02-22 08:22] dennis-weyland-by commented on #21493
Yes, thank you. I wasn't aware that the execution date is aligned with the start of the interval and not the end. But yes I agree, that the UI should display the end of the interval then. Do you think that this should be default behavior or would you rather prefer a feature flag and stay with the current behavior as default?

[2022-02-22 09:01] uranusjr commented on #21493
Not sure (honestly I kind of semi-delibrately avoided this when we first added data intervals to the hover dialog box); personally I’d want to just flip everything over, but @bbovenzi probably has a better idea how backward compatibility needs to be dealt with in the web UI.

[2022-02-22 09:07] #21597 closed

[2022-02-22 09:18] uranusjr commented on #21727
Looks similar to #12136 and #15990.

[2022-02-22 09:24] chengzi0103 commented on #21727
@uranusjr  I noticed that @raphaelauv does not have this problem when using apache-airflow-providers-cncf-kubernetes version greater than 3.0.0 but my version is obviously 3.0.2 I don't know where the problem is

[2022-02-22 09:27] chengzi0103 commented on #21727
download_csmar = KubernetesPodOperator(
        task_id='X12',
        is_delete_operator_pod=True,
        get_logs=True,
        image=images_name,
        namespace=name_space,
        name=f'download_api',
        cmds=['python cmd'],
        arguments=[f"--account={config.dags['daily_01_download_process']['account']}"],
        in_cluster=False,
        volumes=[get_k8s_pod_mount_volume_of_ho

[2022-02-22 09:55] uranusjr commented on #19625
Yes I think so.

[2022-02-22 09:55] #19625 closed

[2022-02-22 09:56] uranusjr commented on #19625
PR that actually flipped the switch: #21495

[2022-02-22 11:14] michelbouchou opened #21730 "Errors during airflow import"
### Apache Airflow version

2.0.2

### What happened

[code]

### What you expected to happen

_No response_

### How to reproduce

Dockerfile
[code]

pyproject.toml
[code]

run.sh
[code]

### Operating System

Debian GNU/Linux 10 (buster)

### Versions of Apache Airflow Providers

apache-airflow-providers-amazon= "^1.4.0"

### Deployment

MWAA

### Deployment details

_No response_

### Anything

[2022-02-22 11:38] lwyszomi commented on #21669
#19963 works fine

[2022-02-22 13:14] ashb commented on #21450
Parsing the file is not necessary -- it is possible for this command to use the DB -- after all, all it is  looking at is the status of a DagRun.

[2022-02-22 13:16] alannesta commented on #8212
After trying with monkey_patch and causing tons of issues here and there, I find the simplest solution is to set worker_class to `sync` instead of `gevent`

[2022-02-22 14:02] druizz90 commented on #21615
I found a solution, I am testing in my environment. I'll do the pull request in the next days.

[2022-02-22 16:18] eladkal commented on #21672
feel free to submit PR

[2022-02-22 16:24] ReadytoRocc commented on #16389
I have tested using [astronomer ap-airflow](https://quay.io/repository/astronomer/ap-airflow) image `quay.io/astronomer/ap-airflow:2.2.0-onbuild`, and no longer see this behavior. SLA misses are now appearing in the UI for `bash_task` using the provided DAG.

[2022-02-22 16:28] #21665 closed

[2022-02-22 16:31] #16389 closed

[2022-02-22 18:38] edithturn commented on #20741
@potiuk I have a doubt about this part.
The image we are building for build_image is Dockerfile.ci, and this creates the URL based in ARG PYTHON_BASE_IMAGE="python:3.7-slim-buster" but seeing your, the name of the image is different, without slim-buster (see picture).

Is this the URL of the basic image that we take to build that Dockerfil?
I am getting a: denied, is this because of the malformati

[2022-02-22 19:36] akennedy4155 opened #21742 "Postgres hook uses deprecated parameter from base_aws.py"
### Apache Airflow Provider(s)

postgres

### Versions of Apache Airflow Providers

Most recent

### Apache Airflow version

2.2.3 (latest released)

### Operating System

macOS Big Sur 11.3.1

### Deployment

Astronomer

### Deployment details

Nothing else needed here.  The source means that this is deployment agnostic I believe.

### What happened

Postgres hook calls AwsBaseHook, and uses the

[2022-02-22 19:48] rustikk commented on #20974
Hey I set use_dill=True and I'm getting this traceback:

INFO - Executing cmd: /tmp/venv12se6ywa/bin/python /tmp/venv12se6ywa/script.py /tmp/venv12se6ywa/script.in /tmp/venv12se6ywa/script.out /tmp/venv12se6ywa/string_args.txt
[2022-02-22, 19:37:47 UTC] {process_utils.py:169} INFO - Output:
[2022-02-22, 19:37:48 UTC] {process_utils.py:173} INFO - Traceback (most recent call last):
[2022-02-22, 19:

[2022-02-22 19:57] josh-fell commented on #21669
#19608 looks good for what it was designed to fix but I did find some other scenarios that the inference _does not_ handle properly. Mainly when the `@task` decorator is "called"/has an argument passed directly in the decorator (e.g. `@task(task_id="some_task") -> Dict: ...` or `@task(on_failure_callback=some_func) -> Dict: ...` ) the inference does not work.

Although I have verified that this di

[2022-02-22 20:12] #21656 closed

[2022-02-22 20:37] ckvtvm-arch commented on #21166
Can you please let us know if you have any resolutions for this. we have been facing this issue for a while.

[2022-02-22 20:38] KulykDmytro commented on #21548
@arkadiusz-bach i believe you've mentioned how to fix an issue in #11629

[2022-02-22 20:58] rustikk opened #21743 "Get an error when trying to delete a dag through the webserver on airflow-breeze"
### Apache Airflow version

main (development)

### What happened

When clicking the delete icon when using airflow breeze I get this page

[code]

### What you expected to happen

I expected to successfully be able to delete the dag

### How to reproduce

click the delete dag icon with airflow-breeze

### Operating System

Docker

### Versions of Apache Airflow Providers

_No response_

### Deplo

[2022-02-22 21:04] bmckallagat-os commented on #20484
@potiuk I apologize, I just saw this now. I'm going on vacation until the 7th and I will try to tackle this after that time. If anyone wants to assign to themselves, please feel free. Otherwise I will make sure to get this done then.

[2022-02-22 23:29] pateash commented on #21743
Hi @rustikk,
I am not able to reproduce this,
Could you please provide your Dag definition?

[2022-02-23 00:45] jedcunningham commented on #21669
Yeah, adding some unit tests to `main` to make sure it doesn't regress in the future sounds good to me.

I assume cherry-picking the refactoring won't be trivial, so it might not be worth an issue for visibility though.

[2022-02-23 00:46] jedcunningham commented on #21669
Thanks everyone, 2.2.4 has been released 🎉

[2022-02-23 00:46] #21669 closed

[2022-02-23 01:03] jedcunningham commented on #21707
Would it be possible to to wrap it with [py-spy](https://github.com/benfred/py-spy), so we can determine what's being slow?

e.g.
[code]

[2022-02-23 01:15] EricGao888 opened #21748 "Add oss_task_handler for alibaba provider"
### Description

- Currently there's no task handler for [alibaba provider](https://github.com/apache/airflow/tree/main/airflow/providers/alibaba), which means airflow does not support logging to alibaba-cloud remote storage OSS.
- Our team are managing airflow deployed on alibaba cloud and have already completed the development of oss_task_handler. We'd like to contribute this part to airflow ali

[2022-02-23 01:17] EricGao888 commented on #21748
I'm working on the unit tests of this feature and will submit a PR later today. I'll be appreciated if this issue could be assigned to me.

[2022-02-23 01:56] pateash commented on #21720
This looks interesting, let me look into this.

[2022-02-23 03:02] rustikk commented on #21743
Hey @pateash my bad I apologize for this it seemed to happen on a old github commit that I accidentally was using.

[2022-02-23 03:02] #21743 closed

[2022-02-23 03:10] uplsh580 commented on #21669
https://github.com/apache/airflow/pull/21062 LGTM 👍  (I'm sorry for being late.)

[2022-02-23 05:06] uranusjr commented on #20974
That’s a different error, please report in a separate issue.

[2022-02-23 06:18] utkarsharma2 commented on #21252
@potiuk , I would like to work on this, can you please assign this ticket to me?

[2022-02-23 06:51] bhavaniravi commented on #21605
with reference to #15638 @dimberman are you aware of a case where the log lines can be empty?

[2022-02-23 07:02] thesuperzapper opened #21752 "triggerer `--capacity` parameter does not work"
### Apache Airflow version

2.2.4 (latest released)

### What happened

When you run `airflow triggerer --capacity 1000`, you get the following error:

[code]

### What you expected to happen

_No response_

### How to reproduce

_No response_

### Operating System

Linux / Mac

### Versions of Apache Airflow Providers

_No response_

### Deployment

Other

### Deployment details

_No response_

#

[2022-02-23 07:17] Dev232001 commented on #21683
Hi, can you assign this to me?

[2022-02-23 07:27] Dev232001 commented on #12818
assign this to me please

[2022-02-23 08:22] potiuk commented on #20741
Few comments:

* use `Breeze2` instead of `./Breeze2` - similarly as `airflow-freespace`, Breeze2 is already installed by the earlier `pip install` step
* You will need to modify the options of build-ci-image command to use ENV_VARIABLES. in the original Breeze, we read the variables during intialization, but in Python command we just need to make sure the options can be read from the env variable

[2022-02-23 08:46] potiuk commented on #21683
Just check with @hubert-pietron - if it's not something already started.

[2022-02-23 09:39] scrdest commented on #8459
@uranusjr I'm the author of #11652; my dev environment for Airflow got corrupted over multiple rebases + some virtualenv nonsense somehow.

I'd need to recreate a clean env for this and cherrypick the relevant changes, but I've been absolutely swamped with other engagements. If I find some time, I'll open a new PR for this.

[2022-02-23 10:20] #21752 closed

[2022-02-23 10:55] veromos commented on #16176
I'm facing the same issue, even with timeout option it's not working.

[2022-02-23 11:10] hubert-pietron commented on #21683
Let me know @Dev232001 how you want to split, or you can take whole and i will look for another issue to work on :)

[2022-02-23 11:23] eladkal commented on #21742
I don't see the issue. The refrence to client_type is OK
https://github.com/apache/airflow/blob/3b4c26eb3a1c8d4938be80ab7fa0711561e91f8f/airflow/providers/postgres/hooks/postgres.py#L181

Can you provide example DAG to reproduce the warrning?

[2022-02-23 11:39] erdrix commented on #18714
Hello, any news on this topic ?
It's quite blocking if we want to set up a management logic outside the UI for the roles.

[2022-02-23 12:22] Dev232001 commented on #21683
Hi @hubert-pietron , thanks for letting me join this issue here. I am relatively new to open source contributions and was looking for a beginner level task. This looked like an easy problem so I asked for this. If you can just give me an update on what you have done till now that will be the best. I think I will be able to work on the rest of the issue from thereon :)

[2022-02-23 13:27] WattsInABox commented on #13542
@danmactough ouch! Thanks for responding to a rando, we appreciate it :)

[2022-02-23 13:57] NK74 commented on #19387
Same issue, can you provide an example or a workaround for this ??

[2022-02-23 14:05] NK74 commented on #17536
I encountered the same issue for my Gitlab OAUTH :/  (My Airflow service is behind an AWS ALB)
Does anyone know a workaround ?

[2022-02-23 14:11] spiremak commented on #21291
okay it seems l had use_job_schedule = False.
Changing that to True has fixed it.
Had anything changed between 2.1.4 to 2.2.3?

[2022-02-23 14:11] #21291 closed

[2022-02-23 14:34] ngmiduc commented on #14591
@ConstantinoSchillebeeckx , how did you do it in the end?
Did you use: `https://airflow.apache.org/api/v1/dags/{dag_id}/clearTaskInstances` ?

I was also wondering now how to clear a task of a dagRun.

[2022-02-23 14:36] ngmiduc commented on #13225
Is it also possible to clear a set of tasks with an associated dagRunId ? Like `/dags/{dag_id}/dagRuns/{dag_run_id}clearTaskInstances`

[2022-02-23 15:34] ephraimbuddy commented on #20461
Since tasks go through `queued` state before moving to `running`, I think that the scheduler has the check here: https://github.com/apache/airflow/blob/3c12c2e1e5c2d1d961addbe0452186d32800135e/airflow/ti_deps/dependencies_deps.py#L90 ?

[2022-02-23 15:41] jedcunningham commented on #21669
No worries, thanks!

[2022-02-23 16:28] Syar123 opened #21765 "Unable to pass parameters which aren’t strings while triggering external data in airflow 2.1.4"
### Apache Airflow version

2.1.4

### What happened

in airflow 1: we used to pass parameters like below to external dag trigger through dag_run_obj.payload
[code]

in airflow 2.1.4 as python_callable is deprecated in TriggerDagRunOperator we needed  to pass parameters through 'conf' under TriggerDagRunOperator instead of  dag_run_obj.payload
[code]
when passing through conf the parameter values

[2022-02-23 16:28] #21714 closed

[2022-02-23 16:30] DVerzal commented on #13542
We've upgraded to a 2.2.2 MWAA environment and are encountering the similar queuing behavior. Tasks remain in the queued state for about fifteen minutes before executing. This is in an extremely small dev environment we're testing. Unfortunately, even the unstick_tag task remains in a queued state.

[2022-02-23 16:39] #21412 closed

[2022-02-23 17:06] eladkal commented on #21683
it can be in example dags or in tests.
You can find all references by searching `airflow.utils.dates import days_ago` in the code base.

[2022-02-23 17:12] avkirilishin commented on #20461
I think `SCHEDULER_QUEUED_DEPS` is actually not equivalent to the logic in the scheduler:
https://github.com/apache/airflow/blob/3c4524b4ec2b42a8af0a8c7b9d8f1d065b2bfc83/airflow/ti_deps/dependencies_deps.py#L67-L75

[2022-02-23 17:13] mik-laj commented on #21730
https://github.com/apache/airflow#installing-from-pypi

Please use pip with constraints files.

[2022-02-23 17:13] #21730 closed

[2022-02-23 18:06] Dev232001 commented on #21683
Okay. Appreciate the help. Thanks

On Wed, Feb 23, 2022, 10:36 PM eladkal ***@***.***> wrote:

[2022-02-23 18:24] hubert-pietron commented on #21683
I just looked how many occurrences there is in code, so You can take it all :)

[2022-02-23 18:50] rustikk opened #21768 "raise TypeError when default_args not a dictionary"
### Apache Airflow version

2.2.4 (latest released)

### What happened

When triggering this dag below it runs when it should fail. A set is being passed to default_args instead of what should be a dictionary yet the dag still succeeds.

### What you expected to happen

I expected the dag to fail as the default_args parameter should only be a dictionary.

### How to reproduce

[code]

### Operatin

[2022-02-23 18:57] seyal84 opened #21769 "Airflow showing 504 Gateway erorr message"
### Apache Airflow version

2.2.1

### What happened

Python version: 3.7.12 Airflow version: 2.2.1 Node: airflow-webserver-5578579dc8-6zj2t ------------------------------------------------------------------------------- Traceback (most recent call last):   File "/home/airflow/.local/lib/python3.7/site-packages/urllib3/connection.py", line 175, in _new_conn     (self._dns_host, self.port), self.ti

[2022-02-23 22:17] SamWheating commented on #21397
Now that one fix has been proposed (https://github.com/apache/airflow/pull/21399) and I have validated it in our Airflow deployments, what do you think about the proposed implementation? Any preferences between:

1) Adding an indexed `fileloc_hash` to the DAG table and refactoring the existing code to use this index.
2) bulk-deactivating deactivating files from the processor manager (as proposed a

[2022-02-24 00:08] MatrixManAtYrService opened #21775 "Star expansion on XComArg causes DagImport timeout"
### Apache Airflow version

2.2.4 (latest released)

### What happened

This DAG has a problem:  star-expansion can't be used on XComArgs

[code]

If you check it for errors like `python dags/the_dag.py` it'll just hang without error output until interrupted.

If you include it in your dags folder, you'll get an error:

### What you expected to happen

A more specific error, and faster.  Something

[2022-02-24 04:15] josh-fell commented on #21765
Starting with Airflow 2.1, there was a new parameter introduced called `render_template_as_native_obj` which will render templated values as native Python types rather than strings or stringified versions of native types. You can check out more info in the [Operator concepts documentation](https://airflow.apache.org/docs/apache-airflow/stable/concepts/operators.html#rendering-fields-as-native-pyth

[2022-02-24 04:47] eladkal commented on #21711
Feel free to submit PR

[2022-02-24 04:48] Syar123 commented on #21765
@josh-fell  thanks a lot, it worked.

[2022-02-24 04:48] #21765 closed

[2022-02-24 06:51] rajaths010494 opened #21783 "BigQueryGetDataOperator: fails when the table has Date field"
### Apache Airflow Provider(s)

google

### Versions of Apache Airflow Providers

apache-airflow-providers-google==6.3.0

### Apache Airflow version

2.2.3

### Operating System

any

### Deployment

Docker-Compose

### Deployment details

The operator ` airflow.providers.google.cloud.operators.bigquery.BigQueryGetDataOperator ` fails when the table for which data needs to be fetched has data fiel

[2022-02-24 07:12] #19901 closed

[2022-02-24 07:12] #21083 closed

[2022-02-24 09:51] kmehkeri opened #21787 "List DAG Run and List Task Instance empty with DAG-level access control"
### Apache Airflow version

2.2.2

### What happened

User has role with following permissions:

It can only see DAG named `hello` in the DAG List. It can get tree, graph, details, logs, etc. of that DAG only, but not the other DAGs. It can retrieve DAG Runs and Task Instances for this specific DAG via API - all as expected.

However, List DAG Run and List Task Instance views display no results, b

[2022-02-24 11:26] akanshajainnice commented on #10824
Hi I am facing the same problem. Can you help me understand how to set start date for monthly jobs like u said above.

[2022-02-24 12:47] alexInhert opened #21792 "some docs tables are not aligned"
### Description

![Screen Shot 2022-02-24 at 14 43 56](https://user-images.githubusercontent.com/62940116/155526569-137dd4c8-c792-4ea2-a04d-a392dfb40a4e.png)

https://airflow.apache.org/docs/apache-airflow/stable/_api/airflow/operators/trigger_dagrun/index.html

It's not easy to read it.

### Use case/motivation

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

[2022-02-24 13:57] PApostol commented on #21792
I think how that appears depends on your browsing window size, and by extension on your screen aspect ratio & resolution. For example, it looks differently in a maximised window on a 21:9 screen compared to a 16:9 screen.

[2022-02-24 16:08] TamGB opened #21795 "Trigger Azure Data Factory : Not Found"
### Apache Airflow Provider(s)

microsoft-azure

### Versions of Apache Airflow Providers

Azure Extension - 3.6.0

### Apache Airflow version

2.2.3

### Operating System

UNIX

### Deployment

Official Apache Airflow Helm Chart

### Deployment details

_No response_

### What happened

I tried following several tutorials on how to trigger a dummy Azure Data Factory pipeline via Airflow, [link 1]

[2022-02-24 16:29] Dev232001 commented on #21683
I have completed the given task and created a pull request for the same. Kindly review it.
Besides this, there are quite a few syntax related errors in tests folder like in
from fake_datetime import FakeDatetime - test_impersonation_custom.py - dags_corrupted - tests

tests - decorators - test_python_virtualenv.py - errors found

tests - operators - test_python.py - import funcsigs - error

[2022-02-24 16:32] Dev232001 commented on #21683
This is my first contribution and its asking for a approval review
https://github.com/apache/airflow/pull/21796

[2022-02-24 16:47] druizz90 commented on #21615
It is possible to add annotations for solving this issue (https://github.com/apache/airflow/pull/21776#issuecomment-1049935021).

[2022-02-24 16:47] #21615 closed

[2022-02-24 16:58] ephraimbuddy commented on #20993
Could you provide a simple DAG to reproduce this behaviour? I have tried setting tags=None but I couldn't get the error

[2022-02-24 17:02] hterik commented on #21707
Python is inherently a bit slow to start up so don't expect any magic. Airflow though is a bit of an extra bad case though since it imports so many other modules.

If you use the Docker image it is even slower (assume you do since using K8), because
1. The entrypoint performs some `airflow db check` before starting any tasks.  Not sure why. This takes 5 seconds some times.
2. You loose the `.pyc`-

[2022-02-24 18:02] potiuk commented on #10824
Don't use "days_ago" -> this is confusing *and you just experienced this very confusion*. we are actuallt deprecating days_ago and already removed it from all examples. Used fixed date for it (6/12/2021) - see our examples.

The way you specified it "days_ago(1)" is yesterday. EVERY SINGLE DAY IT IS `YESTERDAY`.
This means that start_date literally changes every single day.

When you want a dag th

[2022-02-24 18:05] dtpryce commented on #9017
@v0ldemort how did you fix this we are seeing something similar in our K8s deployment and trying to upgrade to version 2.

[2022-02-24 18:05] ThiagoPositeli opened #21800 "Parameter optional_components =True don’t create dataproc cluster with web interface(component gateway)"
### Apache Airflow Provider(s)

google

### Versions of Apache Airflow Providers

Google Cloud Composer-2.0.0-preview.5
Airflow-2.1.4

### Apache Airflow version

2.1.4

### Operating System

UNIX

### Deployment

Composer

### Deployment details

_No response_

### What happened

I write this dag(above) in cloud composer to create and delete dataproc cluster.
But when the cluster is created even

[2022-02-24 18:07] shahkshitij15 opened #21801 "Error in creating external table using GCSToBigQueryOperator when autodetect=True"
### Apache Airflow version

2.2.4 (latest released)

### What happened

I was trying to create an external table for a CSV file in GCS using the GCSToBigQueryOperator with autodetect=True but ran into some issues. The error stated that either schema field or schema object must be mentioned for creating an external table configuration. On close inspection of the code, I found out that the operator

[2022-02-24 19:09] potiuk commented on #21707
This is explained in the docs:
https://airflow.apache.org/docs/docker-stack/entrypoint.html#waits-for-airflow-db-connection

Alongside the documentation how to disable this check:
[code]

But you gave me thought that we can only run it for specific commands - so if you run airflow commands as "separate container" commands, this might help a bit.

This is deliberate decision and baking in .pyc file

[2022-02-24 19:53] ghaggart commented on #9006
I have this same issue with a recent Docker Airflow Image Version: [v2.2.3](https://pypi.python.org/pypi/apache-airflow/2.2.3)
Git Version: .release:2.2.3+06c82e17e9d7ff1bf261357e84c6013ccdb3c241

I am running Airflow on a single host (scheduler/worker/webserver) using docker-compose with LocalExecutor.

I specify the AIRFLOW__LOGGING__LOGGING_LEVEL=INFO in my Docker .env file, and inside the sche

[2022-02-24 21:08] potiuk commented on #9006
I think you should open a separate issue with it and specify (or before that take a look what logging setup your "scripts.py" and fix it.

I believe your script.py does some manipulation with logger. Your task shoudl do nothing with the loggers but logging logs.  If you are manipulating loggers and handlers, you might expect unexpected behaviours.

[2022-02-24 21:25] ghaggart commented on #9006
I think you're right, I looked further into some classes used by the task and one of them is setting it's own logger and hardcoding the DEBUG level by default...! My mistake... thank you!

[2022-02-24 21:45] #21450 closed

[2022-02-24 22:29] MatrixManAtYrService opened #21807 "Dynamically mapped sensors throw TypeError at DAG parse time"
### Apache Airflow version

main (development)

### What happened

Here's a DAG:
[code]

I wanted to see if it would parse, so I ran:

[code]

And I got this error:
[code]

### What you expected to happen

No errors.  Instead a dag with three parallel sensors.

### How to reproduce

Try to use the DAG shown above.

### Operating System

Mac OS Bug Sur

### Versions of Apache Airflow Providers

N/A

[2022-02-24 22:58] ferruzzi opened #21808 "Add default 'aws_conn_id' to SageMaker Operators"
The SageMaker Operators not having a default value for `aws_conn_id` is a pain, we should fix that.  See EKS operators for an example: https://github.com/apache/airflow/blob/main/airflow/providers/amazon/aws/operators/eks.py

_Originally posted by @ferruzzi in https://github.com/apache/airflow/pull/21673#discussion_r813414043_

[2022-02-25 00:09] #15192 closed

[2022-02-25 00:09] #9490 closed

[2022-02-25 03:30] bitsofdave commented on #20690
In my case, this was caused by the the [user community airflow helm chart setting an env var twice in the pod template](https://github.com/airflow-helm/charts/issues/416). I outlined the issue here https://github.com/airflow-helm/charts/issues/532.

As a workaround, editing the `airflow-pod-template` ConfgMap and removing the second instance of `CONNECTION_CHECK_MAX_COUNT` where it's being set to

[2022-02-25 05:24] Kannedhara opened #21813 "SSL certificate verification error while sending notification to slack webhook"
### Apache Airflow Provider(s)

slack

### Versions of Apache Airflow Providers

4.0.2

### Apache Airflow version

2.2.2

### Operating System

Amazon Managed Airflow

### Deployment

MWAA

### Deployment details

_No response_

### What happened

I am using a DAG which has sending slack notifications as TASK. I am using SlackWebHookOperator to send notifications. I create a web hook and created

[2022-02-25 05:33] akanshajainnice commented on #10824
I don't want to set a specific start date as the dag execution depends on schedule_interval which we pass as a cron which is different for every dag.

[2022-02-25 05:48] uranusjr commented on #21807
Not sure if #21815 would work.

[2022-02-25 05:50] uranusjr commented on #21807
BTW do we need to fix the TypeError on error reporting?

[2022-02-25 07:14] Greetlist opened #21817 "Airflow Trigger DataBase DeadLock"
### Apache Airflow version

2.2.1

### What happened

My Scheduler or Trigger Process throw DeadLock Exception randomly.
Scheduler  log:
![image](https://user-images.githubusercontent.com/18439743/155668354-1437c8e1-3f26-47c7-a6b7-2c9cc1bc76e7.png)

Trigger log:
![image](https://user-images.githubusercontent.com/18439743/155668430-f6ddde19-2b1e-4e76-940c-58979e966d53.png)

Scheduler exception is t

[2022-02-25 09:13] EricGao888 commented on #17617
Maybe we could just simply @mock.patch this get_connection() function in unit tests and there will be no need to connect to a real oss. I'd like to work on this issue if currently there's no one working on this. Please assign it to me, thx : )
![image](https://user-images.githubusercontent.com/34905992/155687847-9a506f7d-fa55-485d-a92a-683647c204ee.png)

[2022-02-25 09:18] potiuk commented on #10824
What Impact do you think it will have? I do not understand? using days_ago in this case is just wrong

[2022-02-25 09:35] dennis-weyland-by commented on #21493
Yes totally agree on this point. From a personal point, I really find the current UI behavior confusing but it's established. And it seems like the focus on interval start date times runs deep. Seems like even dag identifier for scheduled runs relies on that. @bbovenzi can you comment on your thoughts?

[2022-02-25 09:48] akanshajainnice commented on #10824
mixed it with execution_date. Thanks.

[2022-02-25 10:07] JeremieDoctrine commented on #20690
Nice @bitsofdave :-) it gave me some indication. The fernet Key was set twice on our pod. The scheduler can now adopt pods 🙇

[2022-02-25 10:07] #20690 closed

[2022-02-25 15:28] josh-fell commented on #21795
Do any other tasks/DAGs complete successfully? The error message from the logs looks like it's an environment or permissions issue to Kube pods (e.g. #11696) rather than something directly related to the Azure provider.

Can you add context to reproduce as well? Anything in the scheduler logs? To help, we'll need a lot more detail to determine if this is a bug.

@potiuk Maybe this gets converted t

[2022-02-25 15:38] michaelmicheal opened #21821 "Rename `priority_weight` attribute(s)"
### Description

Currently, the priority weight attributes in the BaseOperator and TaskInstance classes have misleading names.

As I understand it, BaseOperator has two priority weight attributes: `priority_weight` and `priority_weight_total`, where `priority_weight` is the user defined single-task priority weight, and `priority_weight_total` represents the total priority of the task and all downs

[2022-02-25 18:02] rdeteix opened #21823 "KubernetesPodOperator cannot list resource in API group in the namespace"
### Apache Airflow version

2.2.3

### What happened

I used the KubernetesPodOperator in another namespace that airflow server is using and I've got an rbac rejection:

`list resource in API group in the namespace`

Is it possible to add rbac rights to one of the airflow serviceaccount ?

### What you expected to happen

_No response_

### How to reproduce

_No response_

### Operating System

Ub

[2022-02-25 18:29] SamWheating commented on #21821
This can get especially misleading in the `Task Instance details` page where there `priority_weight` is listed twice (potentially with different values if there are downstream tasks)

[2022-02-25 20:34] arunporwal commented on #10504
Any update on this? Is Redis cluster support is added?

[2022-02-25 20:54] potiuk commented on #10504
Feel free to work on it if you want. I think Redis cluster support has little use, but the most certain way to get it is to implement it or have it implemented by anyone in your team. We are happy to take contributions - Airflow has almost 2000 contributors and you, or someone from your team can become one. Especially when you use it comercially (cluster support seems to be an enterprise-level fea

[2022-02-25 21:01] ephraimbuddy commented on #21007
Can you try this on the latest release?

[2022-02-25 21:26] #21566 closed

[2022-02-25 23:12] bernyag opened #21827 "Airflow UI exposing AWS S3 secret credentials in XCOM screen when using BigQuery Data Transfer Service"
### Apache Airflow version

2.2.3

### What happened

When using BigQueryDataTransferServiceStartTransferRunsOperator in Airflow to initiate BigQuery Transfer jobs reading data from an AWS S3 bucket, the S3 access key ID as well as the S3 secret access key are being exposed in plain text via the XCOM screen on the Airflow UI when the DAG runs.

### What you expected to happen

Do not share sensiti

[2022-02-26 01:09] ephraimbuddy commented on #20788
@SamWheating @fjmacagno let me know what you think about my PR

[2022-02-26 01:59] SamWheating commented on #20788
Your PR looks good!

I think that https://github.com/apache/airflow/pull/19747 also fixes this issue, but I like your approach more as it will prevent this un-runnable DAG from ever making it to the scheduler.

[2022-02-26 12:18] sanje2v opened #21832 "Unmarshalling of function with '@task.docker()' decorator fails if 'python' alias is not defined in image"
### Apache Airflow version

2.2.4 (latest released)

### What happened

I am using Airflow 2.2.4 docker which is to run a DAG, `test_dag.py`, defined as follows:

[code]

The Dockerfile for 'company/my-repo' is as follows:

[code]

### What you expected to happen

I expected the DAG logs for `docker_task()` and `python_task()` to have 10 and 11 as output respectively.

Instead, the internal Airflo

[2022-02-26 15:59] james-valbuena opened #21833 "Upgrading to 2.2.4 from 2.1.4"
### Apache Airflow version

2.2.4 (latest released)

### What happened

I executed the following command `pip install apache-airflow -U`, to upgrade to the latest version of Airflow.

This was successful, I can execute `airflow info` and `airflow check` returning 2.2.4 and INFO - Connection successful respectively.

When I run `airflow webserver`, I receive the following error in the browser:
`
sq

[2022-02-26 16:29] kmehkeri commented on #21787
I noticed that both lists are displayed correctly with edit permission on the DAG, ie.: `access_control={'my_role': ['can_read', 'can_edit']}`.

[2022-02-26 17:21] intc-hharshtk opened #21836 "Airflow setup giving invalid version number error when doing python -m airflow db init"
### Apache Airflow version

2.2.4 (latest released)

### What happened

  File "/nfs/site/disks/hharshtk_wa_01/sandboxes/airflow/pp/venv/lib/python3.8/site-packages/airflow/__init__.py", line 34, in <module>
    from airflow import settings
  File "/nfs/site/disks/hharshtk_wa_01/sandboxes/airflow/pp/venv/lib/python3.8/site-packages/airflow/settings.py", line 35, in <module>
    from airflow.config

[2022-02-26 17:24] #21836 closed

[2022-02-26 17:31] potiuk commented on #21832
I am for using `python3`. I've alraady changed this in some of our scripts, and it seems very reasonable approach. I don't think there is ever the case where python3 would not be available if python is installed and adding configuration will complicate stuff. It's better to make "python3" on the path as "hard requirement" for task.docker image.

[2022-02-26 18:33] potiuk commented on #20992
I am not 100% sure but it is very likely it was  caused by a race condition i've fixed in #19935 . It's been merged in 2.1.3 so either migrating to 2.1.4 or 2.2.3 (recommended) shoudl solve it - both are now supported in Composer.

If this is the reason then migration should help @jcasal-ixl - can you please migrate and let us know if the problem is solved.

[2022-02-26 19:25] #21616 closed

[2022-02-26 19:38] potiuk commented on #18880
I think you need to show your dag definition (code). We have no way to reproduce it and information on how you create your dags is necessary to figure out what's going on. I believe it might have something to do with `start_date` but it is a wild gueess.

I convert it into discussion until we have more information.

[2022-02-26 19:41] potiuk commented on #21454
Just for the record - that was a problem with Mac OS handling of `platform` the failure only happened on MacOS because buildkit approach defaults to host platform and not Linux. this is now fixed in the upcoming PRs.

[2022-02-26 19:41] potiuk commented on #12309
Ah cool. TIL.

[2022-02-26 20:52] potiuk commented on #21654
Could you please describe wbat you want to propose in a paragraph or so ? A PR as well would be better. From the description I do not really understand what you want to propose.

I will also convert it to discussion. We do not need issues PRs are more important and if you want to discuss stuff it's better to do it in "discussion" or - if it is more "significant" should be discussed in the devlist.

[2022-02-26 21:42] #16951 closed

[2022-02-26 21:55] #21380 closed

[2022-02-26 21:59] potiuk commented on #20308
cc: @dstandish @andrewgodwin - seems like a likely case to take a look at.

[2022-02-26 22:01] potiuk commented on #21531
I am not sure if understand. I will convert it into discussion and maybe the @Gollum999 and @kadai0308 you can can make a proposal what to do with it.

[2022-02-26 22:34] potiuk commented on #13692
I think you need to run at the environmental stuff - we cannot help to solve those if we see no logs pointing to the issues.  If you manage a software on k8s you should really be able to take a look at the logs of k8s - not only the logs of application - I think the reason is there - but it's a bit beyond the scope of Airlfow. You just need to review the logs of your environment to look for some a

[2022-02-26 22:54] potiuk commented on #21717
@dstandish @ephraimbuddy @dimberman @kaxil  - maybe you can take a look - I am not too close to those parts.

[2022-02-26 23:07] potiuk commented on #21722
Assigned you!

[2022-02-26 23:12] potiuk commented on #21723
Breeze is a development tool and it only works for latest "main` version reliably. Please check-out the `main` version.  It will always install with the latest sources not with particular version.

You can also add `--use-airflow-version 2.2.3` to get particular version installed when you enter breeze, but it also might break occasionally.

[2022-02-26 23:56] #18967 closed

[2022-02-27 00:12] #16434 closed

[2022-02-27 00:20] potiuk commented on #18714
@erdrix - how about providing a PR to that one? This is the easiest way to do it and you can become one of the ~ 2000 contributors to Airlfow.

[2022-02-27 00:21] potiuk commented on #18714
Especially if it is business-critical for you, it only seems reasonable to pay-back for the free software you get by contributing back this small feature.

[2022-02-27 06:44] subkanthi commented on #21832
I can add this as a parameter and leave default to `python3`

[2022-02-27 07:10] harishkrao commented on #20453
I am working on this issue and wanted to post this message to let you all know of the progress.

This issue touches multiple providers and multiple test files within each provider. I am currently working on each of the `has_calls` listed above and then thinking of the best possible way to convert it to an assert-able test.

I will keep working on it and will submit a PR once I have covered all the

[2022-02-27 08:01] Rodrigo507 opened #21847 "Error when enabling user registration "get_user_datamodel""
### Apache Airflow version

2.2.3

### What happened

I am trying to enable user registration, by configuring the "webserver_config.py" file.
I have set the AUTH_USER_REGISTRATION variable to True and I have restarted the "webserver" container. I also tried performing down to the services and again up to the services and the error continues.
Once enabled the variable already mentioned in the "Logi

[2022-02-27 08:31] talnagar commented on #21336
hi
some questions before I start implementing it:

1. Is it preferable to have a separate input for 'dag run id' or should it be part of the configuration json
2. should there be an option to set a base name for scheduled tasks and than the run id will be something like 'myrun__2022-01-27T14:00:00+00:00'?

would love any input on this.
thanks

[2022-02-27 09:11] potiuk commented on #21723
There is no need to that and I will remove it now. It's a bit of a "useless" combination.

If you want, you can simply enter prod image using the regular docker run command as described in https://airflow.apache.org/docs/docker-stack/entrypoint.html#executing-commands

For example:

[code]

[2022-02-27 09:22] potiuk commented on #21723
Added better handling of this case in #21848

[2022-02-27 09:50] yzliao-zip commented on #21723
Thank you for the clarification! My use case is using breeze to test the dag locally. Our production environment is on k8s and uses the production image. So I was trying to reproduce the same environment locally for test.  It will be convenient to load production docker image via breeze, with the file system mounted,  for local development.

[2022-02-27 11:35] potiuk commented on #21832
Yeah. Indeed. It's rather simple..

[2022-02-27 11:37] potiuk commented on #20453
Or simply provide a series of PRs handling smaller subset of the `has_calls` - it might be more efficient

[2022-02-27 11:44] potiuk commented on #21723
This is not really convenient/easy and you will not get what you want, because prod image of Airlfow has different way of installing sources. Sources in CI are just mounted in /opt/airflow. But Production image "airflow" is installed from packages (separately airflow packages amd separately provider package) - so mounting sources to prod image is not a good idea, because it contains both providers

[2022-02-27 12:26] eladkal commented on #21808
@hsrocks would you like to work on the followup task?

[2022-02-27 13:07] #16295 closed

[2022-02-27 13:07] #18482 closed

[2022-02-27 13:17] potiuk commented on #19387
@NK74 - as above - please ask your question in FlaskAppBuilder:  Here are docs about authentication in Flask App Builder https://flask-appbuilder.readthedocs.io/en/latest/security.html

[2022-02-27 13:18] potiuk commented on #17536
@nk74 - ask in Flask App Builder forums. Here are docs about authentication in Flask App Builder https://flask-appbuilder.readthedocs.io/en/latest/security.html

[2022-02-27 13:19] potiuk commented on #17536
Converting it into discussion - as this is FAB issue not an Airflow one.

[2022-02-27 13:19] #17536 closed

[2022-02-27 13:23] potiuk commented on #13225
You can get task instances via first: https://airflow.apache.org/docs/apache-airflow/stable/stable-rest-api-ref.html#operation/get_task_instances

[2022-02-27 13:35] hsrocks commented on #21808
Thanks @eladkal  please assign it to me. Will do

[2022-02-27 14:12] Melodie97 commented on #9829
@potiuk the three cli tools recommended seem to not be compatible with the
api version, like the api version is higher

On Sun, 27 Feb 2022 at 12:03 AM, Jarek Potiuk ***@***.***>
wrote:

[2022-02-27 14:48] #21030 closed

[2022-02-27 14:48] #21376 closed

[2022-02-27 14:55] potiuk commented on #13542
@DVerzal  I propose you followhttps://airflow.apache.org/docs/apache-airflow/stable/faq.html?highlight=faq#why-is-task-not-getting-scheduled  - and  review resourcesa and configuration of your Airlfow and open a new issue (if this does not help) with detailed information on your configuraiton and logs. It is likely different problem than what you describe.

[2022-02-27 14:56] potiuk commented on #13542
Also I suggest to open issue to the MWAA support - maybe this is simply some problem with MWAA configuration.

[2022-02-27 17:10] harishkrao commented on #20453
Good idea, thank you @potiuk! I will do that.

[2022-02-27 17:35] bbovenzi commented on #21493
Yes, the data interval end date lines up better. It shouldn't be hard to update all the next run areas of the UI to use that instead.
Also, I think we show too many dates in our tooltips which also causes confusion. I'm playing around with a better details view, to place all of these other dates so that we can simplify our at-a-glance tooltips.

[2022-02-27 18:37] potiuk commented on #21800
Feel free to add PR. Assigned you.

[2022-02-27 18:37] potiuk commented on #21801
Feel free to fix it - assigned you :)

[2022-02-27 19:13] potiuk commented on #17617
Feel Free!

[2022-02-27 23:53] potiuk commented on #21821
The `priority_weight_total` includes downstream or upstream tasks prioroties) -depending on the weight rule. This is very clear to me. TaskInstance when executing is considered to have priority based on total weight (including upstram or downstram or both priorities).

This is natural consequences that Task is a definition (static) and TaskInstance is "runtime" (i.e. it contains acual status used

[2022-02-28 00:04] potiuk commented on #21827
You can configure your users and revoke them resource.XCOM permissions if you do not want them to be able to access xcom

[2022-02-28 00:04] #21827 closed

[2022-02-28 00:14] #10288 closed

[2022-02-28 00:31] potiuk commented on #12818
Not yet merged but yeah https://github.com/apache/airflow/pull/21283

[2022-02-28 00:32] thelastmessiha commented on #21827
@potiuk I think the root cause issue here is not access control to XCOM but that secret keys should not be stored in the metadata database of Airflow in plain text to begin with (which then propagates to the UI's XCOMs screen). Shutting off user access to XCOM does not solve that underlying security issue.

[2022-02-28 00:32] potiuk commented on #21847
Make sure you use constriants when installing Airlfow. otherwise you might get incompatible versions of dependencies (for example FAB in this case). Also you might want to swtich to the official Airflow Docker image (https://airflow.apache.org/docs/docker-stack/index.html)

[2022-02-28 00:32] #21847 closed

[2022-02-28 00:36] potiuk commented on #21808
Assigned!

[2022-02-28 00:37] potiuk commented on #21827
This is a choice of the operator to store it in Airflow. If you think it can be improved - feel free to provide a PR to that.

[2022-02-28 00:38] potiuk commented on #21827
Airflow has ~ 2000 contributors and you can simply become one of those, this is a great way to contribute back.

[2022-02-28 00:45] thelastmessiha commented on #21827
Yes, I agree this is an issue with the Google operator. @bernyag from Google opened this issue to track it as a result of a Google Support case I opened. My understanding is that it is being internally tracked at Google as well, and that it will be addressed through that channel.

[2022-02-28 00:53] potiuk commented on #21827
Still feel free to provide a PR yourself if you want.

BTW. This is not really a "Security" issue, really as anyone who have access to write DAGs can also dump the value as needed to log or anywhere else. And there are plenty other operators where potentially sensitive data is stored in XCom - this is because XCom is used often to pulll/push data from external systems  - and this is more decision

[2022-02-28 00:57] thelastmessiha commented on #21827
Thanks for that information. If that's the case, then it sounds like a good reason to let Google internally decide if it should be addressed at all, and if so, then should that be in the operator or should that be in the API to the BigQuery Transfer Service which makes the secret key available to the operator in the first place.

[2022-02-28 01:09] arkadiusz-bach commented on #21087
I have the same issue.

Looks like it is happening, because they are now(don't know from which version) handling 410 error on kubernetes library side, there is one retry and then exception is raised if the event is of type = 'ERROR'

I checked the kubernetes library and it was changed in this pull request:
https://github.com/kubernetes-client/python-base/pull/133/files

On Airflow Kubernetes Execu

[2022-02-28 01:31] potiuk commented on #21827
Very much so.

[2022-02-28 01:41] #18436 closed

[2022-02-28 03:14] eshabhide commented on #17833
Hi, looks like this issue is not getting any traction. I am happy to take a look at it.

[2022-02-28 04:29] akanshajainnice commented on #10824
I am using version 1.10.10 for airflow. Using fixed start date with tz argument gave me below error. I couldn't find any document for this version stating if it supports this parameter. Can you please help with the valid format for using fixed date.
'start_date': pendulum.datetime(2022, 1, 1, tz="UTC")
  TypeError: __new__() got an unexpected keyword argument 'tz'

[2022-02-28 05:01] aa3pankaj commented on #21847
@Rodrigo507 you can try upgrading to airflow 2.2.4,
related: https://github.com/apache/airflow/pull/21294

[2022-02-28 05:13] vivek-zeta opened #21860 "Some task stays in queued state forever"
### Apache Airflow version

2.2.2

### What happened

Airflow version : 2.2.2
I'm using Kubernates executor to run tasks.
Issue : Some tasks stays in queued state forever. While other tasks in same DAG-run not facing this issue.
It's not happening with specific tasks every time. It is happening with different tasks with different DAG-runs.
Scheduler logs says task putted in queue. After that no up

[2022-02-28 05:29] eladkal commented on #17833
@eshabhide assigned to you

[2022-02-28 05:48] #20396 closed

[2022-02-28 05:50] eladkal commented on #18970
SmartSensor is deprecated you should migrate to Deferrable Operators
https://airflow.apache.org/docs/apache-airflow/stable/concepts/smart-sensors.html#migrating-to-deferrable-operators

[2022-02-28 05:50] #18970 closed

[2022-02-28 05:51] eladkal commented on #18267
@rsg17 are you still working on this issue?

[2022-02-28 08:19] cansjt commented on #21087
To me, per the tickets referenced in #15500, the problem seem more in the Kubernetes Python's API. It does not handle the kind of messages we'd need for Airflow to recover when it's lost track of resources versions.

Last I check there was no bug report there regarding that. So I did [open one](https://github.com/kubernetes-client/python-base/issues/286). I am sadly not the more knowledgeable to p

[2022-02-28 08:58] ephraimbuddy commented on #20461
What I think we should do but I have not tried any:

1) Make sure that we don't create dagruns prior to a DAG's start date
or
2) Exclude the task instances here: https://github.com/apache/airflow/blob/f0bbb9d1079e2660b4aa6e57c53faac84b23ce3d/airflow/jobs/scheduler_job.py#L280-L289

I think the solution you have right now, will have the scheduler put those task instances in queued state and never m

[2022-02-28 09:10] andreaslang commented on #21286
I am actually closing this issue, since putting it up databricks has come back to me and given a much better timeline than expected to fix it (hopefully close to March 2nd).

Hence it should not be necessary anymore to work around the wrong return codes during maintenance.

[2022-02-28 09:10] #21286 closed

[2022-02-28 09:25] potiuk commented on #10824
PLease migrate to Airflow 2. Airflow 1.10 reached end-of-life and is not supported for over 8 months already.

[2022-02-28 09:29] #21672 closed

[2022-02-28 10:12] akanshajainnice commented on #10824
ok. But is there a workaround for now or it takes timezone as UTC by default?

[2022-02-28 11:33] potiuk commented on #10824
No idea.

[2022-02-28 11:42] potiuk opened #21867 "Retry for TaskGroup"
### Discussed in https://github.com/apache/airflow/discussions/21333

<div type='discussions-op-text'>

<sup>Originally posted by **sartyukhov** February  4, 2022</sup>
### Description

Hello!

Previously, a SubDag was used to organize tasks into groups. Now you've introduced a TaskGroups to the world .
It's nice and very clever. But it has a one big disadvantage over the SubDag - it cant be repea

[2022-02-28 11:44] potiuk commented on #21867
cc: @sartyukhov @victorfuzaro

[2022-02-28 12:08] eladkal commented on #21867
What if TakGroup contains of 20 tasks and one of them is HTTP that just retired on some trasist error. Do we really want to retry the whole task group because of it?

[2022-02-28 12:17] sartyukhov commented on #21867
I think every developer can answer on this question himself. It depends on architecture of each dag...

Main question is how to decide when TaskGroup is failed?
- **last** task in a group is failed
- **any** task in a group is failed

[2022-02-28 12:49] sartyukhov commented on #21867
SubDagOperator which one is deprecated now inherits from BaseSensorOperator -> BaseOperator. And it has retries functional.
But TaskGroup inherits from TaskMixin only, and in short, it just adds group name prefix to tasks and draws pretty visual group on web interface.
I don't know how the inventor of TaskGroup would react, for example, to adding the BaseOperator inheritance.

[2022-02-28 13:59] shahkshitij15 commented on #21801
Hey! I have added the necessary code to resolve the issue. How shall I test my code before raising a PR?

[2022-02-28 14:49] ghost opened #21870 "Display TaskGroup types in Graph view legends"
### Description

In addition to the Operator types that are displayed in Airflow's graph's legend, show TaskGroup types, as well.

### Use case/motivation

I create and utilize reusable TaskGroups. For instance, I have a multi-task TaskGroup that creates external stages, migrates a table, and copies data from the external stage into the table. It's completely reusable, and we use this task group a

[2022-02-28 15:04] bbovenzi commented on #21720
assigning you, @pateash

[2022-02-28 15:33] Bowrna commented on #21547
@potiuk I made some relevant changes in [this](https://github.com/apache/airflow/pull/21145) PR wrt debian version. What would be the default value for the Debian version?

https://github.com/Bowrna/airflow/blob/7c631962df9cea24f3d0dff3aa636e0f2db2212f/dev/breeze/src/airflow_breeze/ci/build_params.py#L60

[2022-02-28 15:35] potiuk commented on #21547
Bullseye. I am just about to merge #21378

[2022-02-28 17:35] Bowrna commented on #21547
i will test by making it default to Bullseye and update here

[2022-02-28 17:37] Bowrna commented on #21100
@potiuk Could i pick this task next?

[2022-02-28 17:38] #18190 closed

[2022-02-28 17:39] potiuk commented on #21100
Please :)

[2022-02-28 17:42] ferruzzi commented on #21808
Hey, cool.  Thanks for taking it on.

[2022-02-28 17:51] edithturn commented on #20741
@potiuk I was struggling with a problem to know why the `.build` folder was not created when executing build_image. It is that `.build ` is only created in the breeze main. Really sorry for the time it took me to realize it.

https://github.com/edithturn/airflow/blob/e282d37962393d76802ec8170b6c0d4cef290f20/dev/breeze/src/airflow_breeze/breeze.py#L361-L363

So what I did was copy the line to:
http

[2022-02-28 17:59] potiuk commented on #21547
merged bullseye :)

[2022-02-28 18:04] subkanthi commented on #21717
Just to add some context, I tested it by running scheduler and webserver in debug mode locally with MySQL and connecting to a kind cluster. Hopefully its not specific to M1 architecture.

[2022-02-28 18:59] alexbegg commented on #21302
I have been too busy lately to work on a PR for this, I talked with @bbovenzi and he can work on it in place of me.

[2022-02-28 19:25] ngmiduc commented on #13225
Okay but when I use a task_id, how does the API know from which DAG run it should clear? It doesn't seem to me that the task_id is a unique id. Or does it just clear out all tasks which that task_id?

[2022-02-28 21:04] uniquejtx commented on #16386
what's the solution here? I am running  a SageMakerProcessingOperator Airflow task the processing job executed successfully but I got the error "ERROR - Could not serialize the XCom value into JSON. If you are using pickle instead of JSON for XCom, then you need to enable pickle support for XCom in your airflow config., TypeError: Object of type datetime is not JSON serializable" .   How should I

[2022-02-28 21:20] mtraynham commented on #21026
@potiuk I've tested Airflow 2.2.4 and still see this issue with the recommended healthcheck.test, https://github.com/apache/airflow/blob/958860fcd7c9ecdf60b7ebeef4397b348835c8db/docs/apache-airflow/start/docker-compose.yaml

I've taken the original Airflow `docker-compose.yml` file and replaced references of `2.2.3` with `2.2.4`.  Also using the included script to collect service stats, from above

[2022-02-28 21:32] zachliu commented on #21669
there is a :bug: in https://github.com/apache/airflow/pull/18042, sending alert emails using aws ses still doesn't work :cry:
gonna open an issue now

[2022-02-28 21:48] zachliu opened #21878 "Function arg list mismatch between provider code and main code when using AWS SES"
### Apache Airflow version

2.2.4 (latest released)

### What happened

After setting up alert emails using AWS SES as instructed [here](https://airflow.apache.org/docs/apache-airflow/stable/howto/email-config.html#send-email-using-aws-ses), I received the following error message:

[code]

### What you expected to happen

the `send_email` method in https://github.com/apache/airflow/blob/d94fa37830

[2022-02-28 21:54] andrewgodwin commented on #20308
Hmm, I would have thought the scheduler row locking would have prevented this. What database are you using to run against?

[2022-02-28 22:33] uranusjr commented on #21878
Looks like this is introduced in 1543dc28f4a2f1631dfaedd948e646a181ccf7ee. I think we should fix this (by moving the `from_email` argument to the correct place), and also use this chance to 1. convert `send_email` _caller_ to always use keyword arguments.

[2022-02-28 23:02] rsg17 commented on #18267
@eladkal I have not started on this. Will get to it this weekend..

[2022-03-01 00:41] shicholas commented on #17374
I think this works if you set two environment variables, and pass the schema in the connection url like @jedcunningham mentioned.

[code]

now you should see airflow tables in the `airflow` schema of `my_db`.

Hope this helps.

[2022-03-01 01:09] Alex-mstrg opened #21883 "Get tasks for DAG API call returns 500 INTERNAL SERVER ERROR"
### Apache Airflow version

2.2.3

### What happened

GET /dags/{dag_id}/tasks returns 500 status code for some DAGs:

[code]

### What you expected to happen

A response with 200 status code and tasks info

### How to reproduce

curl -u user:password GET 'http://localhost:8080/api/v1/dags/<dag_id>/tasks'

### Operating System

macOS Bir Sur, Version 11.6.2, Darwin alex-0530.local 20.6.0 Darwin Ke

[2022-03-01 02:31] DVerzal commented on #13542
Thanks for pointing me in the right direction, @potiuk. We're planning to continue with our investigation when some resources free up to continue the migration.

[2022-03-01 03:59] Greetlist commented on #20308
The DataBase is in K8S, and Image is: ```Percona Server 8.0.17```
![image](https://user-images.githubusercontent.com/18439743/156089137-9cbb7dff-ccdd-498a-a115-6e64a3ee3563.png)

I make a test on test DataBase whose version is ```(MySQL Community Server - GPL 8.0.26)```.
![image](https://user-images.githubusercontent.com/18439743/156101859-cb010683-93f6-4c7a-96d4-ce3b45ee5324.png)

``` for update

[2022-03-01 04:42] aa3pankaj commented on #21883
Can you share a sample [params](https://airflow.apache.org/docs/apache-airflow/2.2.1/concepts/params.html#params) dictionary where you can reproduce this issue?

[2022-03-01 05:42] edithturn commented on #20741
@potiuk another thing I found is with the env variable **UPGRADE_TO_NEWER_DEPENDENCIES**, it is setting a random number.
![Screenshot from 2022-03-01 00-07-40](https://user-images.githubusercontent.com/58795858/156110340-5d885ed4-4a2e-46d3-9991-de0d0a6c9fb2.png)  [job](https://github.com/edithturn/airflow/runs/5370490394?check_suite_focus=true)

It is because I am **pushing** the code and, It fall

[2022-03-01 07:42] Alex-mstrg commented on #21883
A task with params example:
[code]

[2022-03-01 08:36] potiuk commented on #21878
I beleive that it has been fixed in 3.0.0 (the issue was raised here https://github.com/apache/airflow/issues/21671  and I thought I fixed it in https://github.com/apache/airflow/pull/21681).

What is exactly your configuration @zachliu? Do you have maybe a connection setup with "from_email" extra? That could explain the duplicate from_email entry.

[2022-03-01 08:38] potiuk commented on #21878
Ah no... I see  the problem :(

[2022-03-01 08:49] potiuk commented on #21878
Ah yeah. My fix has not yet been released when 2.2.4 has been released simply. It will be fixed in the release I am about to release today. Maybe (I will see how many changes we have) since this is quite an important problem, we might even update constraints and re-generate images for 2.2.4 to include the new amazon provider with the fix.

[2022-03-01 08:50] potiuk commented on #21878
Closing as duplicate of #21681

[2022-03-01 08:50] #21878 closed

[2022-03-01 08:57] felicity-cl opened #21888 "non_upstream_failed trigger rule"
### Description

I'm missing a trigger rule that makes sure a downstream task only runs if all upstream tasks are done, but by done means only  success or failed state.

### Use case/motivation

currently we only have none skipped, but that rule also counts upstream_failed state as 'done' which leads to the weird behaviour that  a task way down the dag will start running even though an upstream ta

[2022-03-01 09:00] Bowrna commented on #8418
Shall I try to fix this documentation? This is quite new for me, but I think I can do it.

[2022-03-01 09:02] felicity-cl commented on #21888
all_ran trigger rule

[2022-03-01 09:13] felicity-cl commented on #21888
in here: https://github.com/apache/airflow/blob/main/airflow/ti_deps/deps/trigger_rule_dep.py#L72
add
elif trigger_rule == TR.ALL_RAN:
            all_ran = (successes + failures) == done
            if not all_ran:
                yield self._failing_status(
                    reason=(
                        f"Task's trigger rule '{trigger_rule}' requires all upstream tasks to have run without

[2022-03-01 09:45] j143 commented on #16480
Thanks for the wait. The feature is complete, I guess.

[2022-03-01 09:45] #16480 closed

[2022-03-01 10:27] Aakcht opened #21891 "hive provider support for python 3.9"
### Apache Airflow Provider(s)

apache-hive

### Versions of Apache Airflow Providers

_No response_

### Apache Airflow version

2.2.4 (latest released)

### Operating System

Debian “buster”

### Deployment

Official Apache Airflow Helm Chart

### Deployment details

_No response_

### What happened

Hive provider can not be used in python 3.9 airflow image without also manually installing `PyHi

[2022-03-01 10:38] #21625 closed

[2022-03-01 11:11] yeachan153 opened #21892 "Tasks are queued deterministically, deadlocking the scheduler when there are many dag-on-dag dependencies"
### Apache Airflow version

2.1.4

### What happened

We are currently using Airflow 2.1.4 with celery executor running on Kubernetes. For our use case, we have many individual upstream ETL dags, followed by many downstream user created DAGs that depend on the upstream ETL dagruns to finish for that day before starting. User jobs can also depend on other upstream user jobs. Overall, downstream use

[2022-03-01 12:24] potiuk commented on #21891
ah cool. Thanks for the info @Aakcht - I am about to prepare new providers. So let me try this one out

[2022-03-01 12:32] potiuk commented on #21891
I think this is not as easy, unfortunately @Aakcht .

In order to add Python 3.9, this one should be implemented:  https://github.com/dropbox/PyHive/issues/380
PyHive uses `thrift-sasl` library which is different than the python-sasl library.

[2022-03-01 12:35] potiuk commented on #21891
Ah I am wrong!

Originally it was about switching to thrift-sasl, but indeed now sasl 0.3.1 is released and this versio nis already downloaded in other python versions, so we shoudl be perfectly fine.

[2022-03-01 13:21] davidgin opened #21894 "Extending Docker image fails when adding build-essential"
### Apache Airflow version

2.2.4 (latest released)

### What happened

When extending the docker image with  build-essential
I added according to the [documentation ](https://airflow.apache.org/docs/docker-stack/build.html#customizing-the-image) to my DockerFile .
[code]
My DockerFile is
`:FROM dockerhub.artifactory..****/apache/airflow:2.2.4
USER root
RUN sh -c "echo >  /etc/apt/sources.list"
RU

[2022-03-01 13:29] HannoGao opened #21895 "Cannot get (set) airflow variables within the scheduler"
### Apache Airflow version

2.2.4 (latest released)

### What happened

[code]
When this is called during a special function during the normal scheduling job e.g. from somewhere in scheduler_job e.g. here [scheduler_job](https://github.com/apache/airflow/blob/737c0efff929710c0a5abbaa8de3575a55297aa5/airflow/jobs/scheduler_job.py#L413)

gives the following error:
in [variable.py](https://github.com

[2022-03-01 13:30] mtraynham commented on #21026
I've posed a general Q&A discussion on the Celery repo, https://github.com/celery/celery/discussions/7327.  General feedback has suggested this is potentially related to https://github.com/celery/celery/issues/6009.

[2022-03-01 13:40] yeachan153 opened #21897 "Metrics documentation incorrectly lists dag_processing.processor_timeouts as a gauge"
### Describe the issue with documentation

According to the [documentation](https://airflow.apache.org/docs/apache-airflow/2.2.4/logging-monitoring/metrics.html), `dag_processing.processor_timeouts` is a gauge.

However, checking the code, it appears to be a counter: https://github.com/apache/airflow/blob/3035d3ab1629d56f3c1084283bed5a9c43258e90/airflow/dag_processing/manager.py#L1004

### How to

[2022-03-01 14:39] zachliu commented on #21878
@potiuk great, thanks! eagerly waiting for `providers-amazon-3.0.1` :grin:

[2022-03-01 14:58] potiuk commented on #21878
Yeah. I merge a few last changes and I will be ready to prepare the relase. Loking forward to helping testing it @zachliu :smile:

[2022-03-01 15:03] potiuk commented on #21895
This is as excepcted. You SHOULD NOT modify scheduler code. VERY BAD things happen if you start doing it.

[2022-03-01 15:03] #21895 closed

[2022-03-01 15:11] potiuk commented on #20741
Hmm. I think this will be fixed when #21145 is merged - for now this is good to keep it but once we merge the change from @bowrna we should remove it.

[2022-03-01 15:15] potiuk commented on #20741
AAARGH. The "Upgrade to newer depencies" is rather special. It can be "true", "false" OR ANYTHING_ELSE :). Simply change the type of the parameter to "string". We might want to improve it in the future, but for now it should be fine to just change it to "string" and possibly add some description for that one in "Help"

[2022-03-01 15:18] potiuk commented on #20308
@andrewgodwin - maybe there is an extra commit somewhere that releases the lock. I know @ashb  implemented mechanisms to discover that that has been used in scheduler row-level locking - maybe we should use it here (unless it is done already ?)

[2022-03-01 17:52] rafidka commented on #13824
I did some dive deep on this issue and root caused it.

**TL;DR** It is related to `watchtower` and has been fixed in version 2.0.0 and later versions. Airflow 2.2.4 now uses that version (see #19907). So, if you are using it, you should be good. If not, then you need to force install `watchtower` version 2.0.0 or later. Notice, however, that `watchtower` made some changes to the `CloudWatchLogHan

[2022-03-01 18:39] SamWheating opened #21908 "DAG will be set back to Running state after being marked Failed if there are scheduled tasks"
### Apache Airflow version

2.2.4 (latest released)

### What happened

I was running a large DAG with a limited concurrency and wanted to cancel the current run. I marked the run as `Failed` via the UI which terminated all running tasks and marked them as `Failed`.

However, a few seconds later the run was set back to Running and other tasks started to execute.

<img width="1235" alt="image" src=

[2022-03-01 19:27] andormarkus commented on #13824
Hi @rafidka, thanks, for the update.

Here is not my current findings:

Used versions:
[code]

Test setup: I'm running 5 [simple dag](https://github.com/apache/airflow/issues/13824#issuecomment-1012838195) every in the past few days:

<img width="1731" alt="Screen Shot 2022-03-01 at 19 31 50" src="https://user-images.githubusercontent.com/51825189/156227973-6f3bba96-9581-4b9c-bda4-07d389c97550.png

[2022-03-01 19:35] rafidka commented on #13824
@andormarkus , hmm this is interesting. I didn't particularly test Airflow 2.2.4, but I tested 2.0.2 + watchtower 2.0.0 and beyond and I couldn't reproduce the issue, so I assumed  since Airflow 2.2.4 is using watchtower 2.0.1, then the issue should be resolved. I will see if I can do some testing and try to reproduce this issue.

This is a bit tricky unfortunately. The thing is that when you conf

[2022-03-01 19:48] arvindeybram opened #21909 "AttributeError: 'EmailOperator' object has no attribute 'add_edge_info'"
### Apache Airflow version

2.2.2

### What happened

I created an email operator fucntion -

[code]

This function is used by all my dags -
while adding it to one of the new dags I see dag import error

`Broken DAG: [/home/platform/airflow/dags/reports/zynga.py] Traceback (most recent call last):
  File "/home/platform/.local/lib/python3.7/site-packages/airflow/models/baseoperator.py", line 1481,

[2022-03-01 19:50] uranusjr commented on #21883
What is this `SqlFileOperator`?

[2022-03-01 19:51] andormarkus commented on #13824
Hi @rafidka,

I'm so sorry, I was looking for this warning in Kubernetes not in CloudWatch.

Here are the warning in CloudWatch:
<img width="1428" alt="Screen Shot 2022-03-01 at 20 43 43" src="https://user-images.githubusercontent.com/51825189/156237489-b40e4cd1-658c-42f7-ad8e-4b6f0bb4d11f.png">

Here is an exported Log steam. In is very interesting: CloudWatch does not store the log level (info/w

[2022-03-01 21:07] tanelk commented on #21892
Would using `mode='reschedule'` on the `ExternalTaskSensor`s solve it for you?

[2022-03-01 21:56] rafidka commented on #13824
@andormarkus , what you are reporting above is exactly the symptoms I've seen when there is a problem with logging. Could you please do a `pip freeze` and check the reported watchtower version?

[2022-03-01 21:59] rustikk opened #21918 "TemplateNotFound error when trying to run the 'touch' command in the BashOperator"
### Apache Airflow version

2.2.4 (latest released)

### What happened

When trying to run the touch command in the bash operator with the template_searchpath dag parameter set to a certain destination an error of TemplateNotFound is given to the user.

### What you expected to happen

I expected to be able to create a file with the touch bash command.

### How to reproduce

[code]

### Operating

[2022-03-01 22:09] rafidka commented on #13824
I just Airflow 2.2.4 and it is working fine for me. On Airflow 2.2.4:

[code]

On Airflow 2.2.3:

[code]

For reference, this is the DAG I am testing with:

[code]

[2022-03-01 22:17] andormarkus commented on #13824
Hi @rafidka,

I’m running 5 ‘simple_dag.py’ parallel and I got one error every 5-10 minutes.

I will deploy your dag tomorrow.

Im running my code on Airflow 2.2.4 with watchtower 2.0.1

[2022-03-01 22:22] SamWheating commented on #21918
This is because anything in the `bash_command` argument ending with `.sh` or `.bash` is treated as a file to be loaded and rendered as a template:

https://github.com/apache/airflow/blob/602abe8394fafe7de54df7e73af56de848cdf617/airflow/operators/bash.py#L127-L130

Some more info in here:
https://airflow.apache.org/docs/apache-airflow/stable/howto/custom-operator.html#templating

As a quick workaro

[2022-03-01 22:34] rafidka commented on #13824
I just tried a sleep DAG (similar to yours) and it also succeeded on Airflow 2.2.4:

[code]

This is my DAG:

[code]

I suspect your setup have some issue (perhaps some stale configuration or package.) I would start clean or -even better- use Docker if you aren't already.

[2022-03-02 02:02] KevinJiao opened #21923 "Programmatic customization of run_id for scheduled DagRuns"
### Description

Allow DAG authors to control how `run_id`'s are generated for created DagRuns. Currently the only way to specify a DagRun's `run_id` is through the manual trigger workflow either through the CLI or API and passing in `run_id`. It would be great if DAG authors are able to write a custom logic to generate `run_id`'s from scheduled `DagRunInterval`'s.

### Use case/motivation

In Air

[2022-03-02 04:02] easontm commented on #20992
Here's my datapoint. If there are other process logs that matter, please let me know.
Airflow version: 2.2.3
Executor: CeleryKubernetes
Deployment pattern: Other docker-based
- Using HA scheduling (2)
- 6 Celery workers
- RabbitMQ as the message queue (3 replicas, RabbitMQClusterOperator)

The task in question is a TimeDeltaSensor. After this failure the Celery worker continued to function and has

[2022-03-02 06:31] hterik commented on #21923
Agree that navigating the UI based on dagrun-id is very confusing today. But i don't think generating custom `run_id` is necessarily the solution.

It would be better if the UI could format the id and even augment more data from the dagrun into a more meaningful description, for example reading parameters from the `conf` or reading output produced by selected `xcom` parameters. For most of our use

[2022-03-02 08:38] alexxi0213 opened #21929 "Elasticsearch hook support DSL"
### Description

Current elasticsearch provider hook does not support query with DSL. Can we implement some methods that support user input json to get query results?
BTW, why current `ElasticsearchHook's` father class is `DbApiHook`? I thought DbApiHook is for relational database that supports `sqlalchemy`?

### Use case/motivation

I think the elasticsearch provider hook should be like `MongoHoo

[2022-03-02 09:41] yeachan153 commented on #21892
@tanelk thanks for your reply. I don't think this would work due to this bug #10790, and even if it did, it seems like more of a workaround rather than an actual fix to the scheduling behaviour

[2022-03-02 11:48] kelechi2020 commented on #15930
@potiuk  @Junnplus
Let me finish this up.
https://github.com/apache/airflow/pull/15945#issuecomment-890368746

[2022-03-02 12:06] nivfteradata opened #21939 "Specifying a subdir when triggering a DAG via REST API"
### Description

Nowadays, it seems that it is not possible to list/trigger DAGs using a subdir parameter via REST API, although it is supported on the Airflow CLI commands

### Use case/motivation

The relevant list/trigger DAGs REST API operations to support the subdir parameter

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

### C

[2022-03-02 12:48] mik-laj commented on #21939
Why do you need this parameter? The webserver does not read DAG files, but only uses serialized DAGs from the database, so this parameter doesn't make sense.

[2022-03-02 12:50] mik-laj commented on #21929
https://github.com/apache/airflow/blob/602abe8394fafe7de54df7e73af56de848cdf617/airflow/providers/elasticsearch/hooks/elasticsearch.py#L29

[elasticsearch-dbapi](https://github.com/preset-io/elasticsearch-dbapi) is a SQLAlchemy driver for Elasticsearch.

[2022-03-02 12:58] akerone opened #21940 "Google Ads Hook broken for Composer 2 (and presumably others)"
### Apache Airflow Provider(s)

google

### Versions of Apache Airflow Providers

apache-airflow-providers-google==5.1.0

### Apache Airflow version

2.1.4

### Operating System

Google Cloud Composer (GKE Autopilot, composer-2.0.1-airflow-2.1.4)

### Deployment

Composer

### Deployment details

Using Composer 2 which uses Workload Identity as the way to interact with GCP services, rather than th

[2022-03-02 13:52] hsrocks opened #21941 "Sagemaker Transform Job fails if there are job with Same name"
### Description

Sagemaker Transform Job fails if there are job with Same name exist. Let say I create a job name as 'transform-2021-01-01T00-30-00'  . So if I clear the airflow task run id for this so that the operator re-triggers then the Sagemaker Job creation fails because job with same name exists. So can we add  'action_if_job_exists flag where Behaviour if the job name already exists. Possi

[2022-03-02 14:19] #21807 closed

[2022-03-02 15:23] ashb commented on #20308
https://github.com/apache/airflow/blob/aa2cb5545f09d694b9143b323efcd4f6b6c66e60/airflow/utils/sqlalchemy.py#L284-L303 if it is useful.

[2022-03-02 15:40] zachliu commented on #21187
same issue on `2.2.4`, i had to do
[code]
before `./breeze`

[2022-03-02 15:50] repl-mike-roest opened #21943 "Changing Image tags causes Error: UPGRADE FAILED: cannot patch "<name>-create-user" with kind Job: Job.batch "<name>-create-user""
### Official Helm Chart version

1.4.0 (latest released)

### Apache Airflow version

2.2.4 (latest released)

### Kubernetes Version

1.21.5 (EKS)

### Helm Chart configuration

We are using a external RDS DB server configured via secrets.

Also have specified
[code]

Along with these flags As without them while deploying via codebuild the chart was never progressing as the create-user/run-db-mig

[2022-03-02 16:13] ThiagoPositeli commented on #21800
Thanks @potiuk

[2022-03-02 16:15] ThiagoPositeli commented on #21800
@potiuk  can u Assignees me again pls? i miss clicked, sorry.

[2022-03-02 16:35] Amey2400 opened #21945 "DAG run gets failed due to unable to fetch worker pod name or wrong worker name"
### Apache Airflow version

2.1.3

### What happened

DAG run gets failed due to some task instances getting failed in the first try either due to "pod name must be provided" or "pod not found" issue.
![Screenshot from 2022-03-02 21-31-46](https://user-images.githubusercontent.com/65292207/156399611-2da1b9a3-a1fc-4997-af69-e56f5d7b363f.png)
![Screenshot from 2022-03-02 21-30-28](https://user-image

[2022-03-02 16:56] potiuk commented on #21940
Maybe you can provide a fix for that @akerone ? Otherwise you will have to wait if there is someone who would like to fix it (Airflow has many contributors and marking it as goo first issue might help, but if you need it - making PR and becoing one of the almost 2000 contributors it is the fastest way to fix it.

[2022-03-02 16:57] potiuk commented on #21941
Assigned uou @hsrocks

[2022-03-02 17:09] tanelk commented on #21892
Well as far as I know the reschedule mode is made to solve excactly the issue you have - sensors clogging executor slots.

Another alternative would be using defferable sensors. There is `ExternalTaskSensorAsync` in the just released astronomer-providers https://github.com/astronomer/astronomer-providers/blob/main/CHANGELOG.rst

[2022-03-02 17:09] alexott commented on #19473
I can pickup this work, starting with sensor (although maybe it makes sense to have a separate issue for a sensor)

[2022-03-02 17:26] eladkal commented on #19473
No need for multiple issues :)
Issues are not really required. You can open PRs freely.

[2022-03-02 18:37] repl-mike-roest commented on #21943
This was a sideeffect of have
[code]
That was required with the --wait flag which doesn't work as per #11979

[2022-03-02 18:53] imbaczek opened #21947 ""deadlock detected" error in dag table updates"
### Apache Airflow version

2.0.2

### What happened

[code]

Likely places which conflict in the code:
https://github.com/apache/airflow/blob/d7265791187fb2117dfd090cdb7cce3f8c20866c/airflow/models/dag.py#L2436
https://github.com/apache/airflow/blob/d7265791187fb2117dfd090cdb7cce3f8c20866c/airflow/models/dag.py#L2919

### What you expected to happen

_No response_

### How to reproduce

We have 8

[2022-03-02 19:13] #21723 closed

[2022-03-02 19:19] potiuk commented on #21187
@zachliu  - did you have to do it in the host? What was failing with breeze before you did it (I think it should not be needed).

[2022-03-02 19:38] #19409 closed

[2022-03-02 20:14] zachliu commented on #21187
yeah, in the host
otherwise i got exactly the same error message as shown above
very strange indeed

[2022-03-02 21:45] potiuk commented on #21187
Do you happen to have a log :P ?

[2022-03-02 22:54] raphaelauv commented on #21350
The astronomer provider release 1.0

Have  a kubernetesPodOperatorAsync

https://github.com/astronomer/astronomer-providers/blob/main/astronomer/providers/cncf/kubernetes/operators/kubernetes_pod.py#L16

[2022-03-02 23:48] tsaaii opened #21949 "Azure data factory hook doesn't support pipelines which are saved in a directory"
### Apache Airflow version

2.2.4 (latest released)

### What happened

I am trying to implement the functionality specified in this [PR ](https://github.com/apache/airflow/pull/17885) here

From the code, to run a pipeline on ADF, you do this

[code]

This doesn't work if your pipeline is in a folder, something like
[code]

DAG fails with following error

[code]

### What you expected to happen

[2022-03-03 00:11] #10964 closed

[2022-03-03 00:21] repl-chris commented on #17010
Is there an appropriate place to request specific additional rules?  The one which I would really like is `all_done_min_one_success`.

[2022-03-03 01:03] josh-fell commented on #21949
You should be able to trigger with just the name of the pipeline alone regardless if the pipeline is in a folder structure. This is an API limitation from what the error message says and in the [documentation](https://docs.microsoft.com/en-us/rest/api/datafactory/pipelines/create-run). The operator and hook do not perform any transformations of the name but simply passes the args through to the AP

[2022-03-03 01:35] HardikVijayPatel opened #21951 "Tasks stuck in scheduled state from different dags waiting for other dag tasks to complete first"
### Apache Airflow version

2.2.3

### What happened

What i see happening is that dag tasks are waiting in scheduled state for another dag scheduled first to complete all it's scheduled tasks before the later triggered tasks can proceed even though the parallelism and dag_concurrency is set to a higher value.

I have the following configuration set in airflow for concurrency:
parallelism = 64
max

[2022-03-03 01:44] HardikVijayPatel commented on #21951
this behavior was working fine in Airflow V1, noticed this after upgrading to to V2

[2022-03-03 01:54] tsaaii commented on #21949
you are right about the second part. You can create only one pipeline with a certain name in a data factory irrespective of folders they are in. I will trigger pipeline with just the name to see what happens.

[2022-03-03 02:45] edithturn commented on #14831
@esc did you use Docker Compose to run Airflow==1.10. Could you point me to the documentation where I could follow to reproduce this issue?  I was using this: https://github.com/apache/airflow/blob/main/CONTRIBUTORS_QUICK_START.rst#setup-and-develop-using-visual-studio-code, I think it is not the right way.

According to this `(kubectl version): None`, You don't need Kubernetes, right?

[2022-03-03 05:03] esc commented on #14831
It has been over a year since I debugging this. Unfortunately I have forgotten by now how I ran this, so sorry. Also, I don't think I followed any documentation in the first place so I wouldn't know what to point you at.

[2022-03-03 05:54] raphaelauv commented on #17010
There is 'none_failed_min_one_success'

[2022-03-03 06:30] intc-hharshtk opened #21952 "Can we give user permission to DAGs based on tags."
### Description

_No response_

### Use case/motivation

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://github.com/apache/airflow/blob/main/CODE_OF_CONDUCT.md)

[2022-03-03 07:06] Greetlist commented on #20308
I doubt if this code would release the lock.
![image](https://user-images.githubusercontent.com/18439743/156513818-4e2eb2ed-bd5e-4f7b-b621-5a830d9458c6.png)

![image](https://user-images.githubusercontent.com/18439743/156513992-5307a02e-dd34-4610-ba86-b3a8033ad399.png)

[2022-03-03 07:45] EricGao888 opened #21953 "Add support for Apache Zeppelin"
### Description

Add support for [Apache Zeppelin](https://zeppelin.apache.org/) in airflow.providers.apache package.

### Use case/motivation

- [Apache Zeppelin](https://zeppelin.apache.org/) is a
web-based notebook that enables data-driven,
interactive data analytics and collaborative documents with SQL, Scala, Python, R and more.
- Our team are using customized zeppelin operator, enabling data

[2022-03-03 07:47] EricGao888 commented on #21953
Currently I'm working on this feature and will submit an initial pr later this day. I'll appreciate it if this issue could be assigned to me. THX : )

[2022-03-03 08:19] mgorsk1 opened #21955 "Possilii"
### Description

Currently in list of `Task Instances` there is no possibility to quickly filter only tasks with `None` state. This issue proposes to introduce such possibility. I see two approaches that could be introduced to handle this:

- add `Is empty` and `Is not empty` filtering options in filter controls
![image](https://user-images.githubusercontent.com/5680655/156524522-35c69cd9-d5be-4ce

[2022-03-03 08:46] alexxi0213 commented on #21929
Oh, I see, but I think most use cases for `elasticsearch` is using the DSL (json format) for filter or keyword search. I would have to implement a custom hook to do that in my use case, also some useful method to manipulate indexes. I would like to contribute that, do you think it's needed?

[2022-03-03 08:49] EricGao888 opened #21957 "Add support for Alibaba-Cloud EMR cluster template in alibaba provider"
### Description

- Alibaba Cloud EMR is an all-in-one enterprise-ready big data platform that provides cluster, job, and data management services based on open-source ecosystems, such as Hadoop, Spark, Kafka, Flink, and Storm.
- In airflow alibaba provider, we need to add support for [Alibaba-Cloud EMR](https://www.alibabacloud.com/product/emapreduce) cluster template in alibaba provider so that u

[2022-03-03 09:06] tanelk commented on #21951
It most likely the same issue: #19747
Would like to get that PR merged.

[2022-03-03 09:25] andormarkus commented on #13824
Hello,

We are running our Airflow on AWS EKS with the latest helm chart and official docker image. I don't think it is setup issue.

I was able to reproduce it locally as well with docker compose:

1. Download the official docker compose file `curl -LfO 'https://airflow.apache.org/docs/apache-airflow/2.2.4/docker-compose.yaml` .
2. Create a test CloudWatch log group.
3. Create `dags` directory wi

[2022-03-03 10:06] ashb commented on #20308
The lock is not an object -- it is a database side thing tied to the open transaction.  The only way of releasing the lock is to COMMIT or ROLLBACK the DB session.

[2022-03-03 11:23] #20960 closed

[2022-03-03 11:28] potiuk commented on #20308
Yeah. It seems that even you can't explicitly release such lock even if you want, so it would be impossible to implement.

[2022-03-03 11:29] aoelvp94 commented on #21800
:pray: :pray: same problem here :cry:

[2022-03-03 11:44] ashb commented on #20308
(I haven't been following the context, so this suggestion may make no sense).

One option might be to use savepoints --

[code]

That rollback would only work if there have been no changes flushed.

(SQLA has the means to do this as "nested" transactions so we don't need to resort to raw SQL)

[2022-03-03 12:07] #20419 closed

[2022-03-03 12:09] dinigo opened #21966 "create_build task fails when retrieving the build_id inmediately"
### Apache Airflow Provider(s)

google

### Versions of Apache Airflow Providers

Name: apache-airflow-providers-google
Version: 6.3.0

### Apache Airflow version

2.2.3

### Operating System

Ubuntu 18.04.6 LTS

### Deployment

Composer

### Deployment details

_No response_

### What happened

When I trigger a build from the CloudBuildHook it always fails. I suspect due to the `build_id` not ava

[2022-03-03 12:59] NilsJPWerner commented on #21336
1) I would argue that a separate field is the way to go since the api treats it separately from dag run conf.

2) I would personally love that option.

[2022-03-03 13:25] talnagar commented on #21336
regarding the option to add a name for scheduled tasks - I didn't see an option to manually trigger scheduled tasks from the ui.
Is there such an option? @NilsJPWerner

[2022-03-03 13:46] dinigo commented on #21966
I can see on the top of the file the variable `TIME_TO_SLEEP_IN_SECONDS = 5` unused. Could it be that this was used to "sleep" before retrieving the `_id`?

https://github.com/apache/airflow/blob/main/airflow/providers/google/cloud/hooks/cloud_build.py#L33

[2022-03-03 15:03] edithturn commented on #20741
woho, it passed the build-ci-image, now I am checking the problem with Push
![Screenshot from 2022-03-03 10-01-12](https://user-images.githubusercontent.com/58795858/156591118-107e0c7d-3d7a-4abf-b0b9-76f1d49eb541.png)

[2022-03-03 15:21] edithturn commented on #20741
I found that the generated image is wrong, nothing inside, 0B.
REPOSITORY                                                                            TAG                                        IMAGE ID       CREATED         SIZE
ghcr.io/edithturn/airflow/main/ci/python3.9   eda6a85304bb2b598674a94e1b877a920e1451db   71de1148337f   N/A             0B

[2022-03-03 15:29] zachliu commented on #21187
unfortunately no, i had all sorts of weird issues when i tried to `./breeze` under the `providers-amazon/3.0.0` tag
now i can't reproduce this error even after i removed `467B942D3A79BD29` from my key ring :joy:

[2022-03-03 15:44] hozn commented on #19059
It looks like new Apache Beam is released (assuming that is https://beam.apache.org/blog/beam-2.36.0/).  Was that the last dependency holdout for this?

[2022-03-03 16:10] edithturn commented on #20741
@potiuk could you please assign me this task? 🚀
![Screenshot from 2022-03-03 11-09-03](https://user-images.githubusercontent.com/58795858/156604155-3b4b17a3-4a13-4d4c-832f-04c4f27d07d9.png)

[2022-03-03 16:10] schudoku opened #21970 "helm chart - mounting-dags-from-a-private-github-repo-using-git-sync-sidecar"
### Describe the issue with documentation

doc link: https://airflow.apache.org/docs/helm-chart/stable/manage-dags-files.html#mounting-dags-from-a-private-github-repo-using-git-sync-sidecar
doc location:
"""
  [...]
    repo: ssh://git@github.com/<username>/<private-repo-name>.git
  [...]
"""
I literally spent one working day making the helm deployment work with the git sync feature.
I prefixed my

[2022-03-03 16:52] potiuk commented on #21187
🤷  > too bad .  Cosmic rays most likely ;)

[2022-03-03 18:34] rustikk opened #21972 "Cycle detected in dag when there is no cycle using taskgroups and the taskflow api"
### Apache Airflow version

main (development)

### What happened

I'm getting an import error of ` Cycle detected in DAG. Faulty task: group1.dummy4`
when I load this dag into airflow

### What you expected to happen

I expected the dag to have no import errors. It imports fine in version 2.2.4-2 but when switching to version 2.3.0.dev20220302 it gives the import error described above.

### How t

[2022-03-03 18:36] rafidka commented on #13824
@andormarkus , to avoid making assumptions, could you please share the exact code of `simple_dag.py` you used in your reproduction?

Also, it is worth noting that based on the setup you mentioned above, the local executor will be used instead of the Celery executor. The testing I done was on the Celery executor.

[2022-03-03 18:38] rustikk commented on #21918
Hey @SamWheating thanks for getting back to me on this. I can definitely use one of the workarounds you mentioned. I'm closing this issue as it's a user error not an airflow error.

[2022-03-03 18:38] #21918 closed

[2022-03-03 18:50] TediPapajorgji commented on #9492
This may be helpful, I monkey patched the DockerOperator to support GPU's in my dag, code below. I'm using package version `2.4.1` of [apache-airflow-providers-docker](https://pypi.org/project/apache-airflow-providers-docker/)

The key difference from the following monkey patch is the addition of (you can find it in the code below):
[code]

I placed this code inside my DAG python file right before

[2022-03-03 18:58] potiuk commented on #9492
(PR Would require to pass the capabilities as parameter).

[2022-03-03 19:25] TediPapajorgji commented on #9492
@potiuk here it is https://github.com/apache/airflow/pull/21974!

[2022-03-03 20:51] uranusjr commented on #21955
The REST API already special cases `none` (as a string) for the None state. We can probably do the same in the web UI.

[2022-03-03 21:00] SamWheating commented on #21951
This is the same issue as reported in https://github.com/apache/airflow/issues/19622 and should be fixed by the PR linked above.

As a temporary workaround, you can either:

 - Increase the value of [`max_tis_per_query`](https://airflow.apache.org/docs/apache-airflow/stable/configurations-ref.html#max-tis-per-query) to a number larger than the number of tasks in the first DAG
 - Increase the [`pri

[2022-03-03 21:08] patricker opened #21978 "Add Metadata Upload Support to GCSHook Upload Method"
### Description

When uploading a file using the GCSHook Upload method, allow for optional metadata to be uploaded with the file. This metadata would then be visible on the blob properties in GCS.

### Use case/motivation

Being able to associate metadata with a GCS blob is very useful for tracking information about the data stored in the GCS blob.

### Related issues

_No response_

### Are you w

[2022-03-03 21:09] TreyYi commented on #21940
I understand that "path_to_private_key_file" is not required since Cloud Composer 2 is implemented to use Workload Identity which is pre-configured by GCP, but still there could be a chance of using it in Cloud Composer 1 with Standard mode.

@potiuk @akerone , would you mind provide some ideas of how to implement ads.py?
I was trying to add if statement like below but "extra__google_cloud_platfor

[2022-03-03 22:07] tsaaii commented on #21949
This works as expected. Thank you. I will close this now.

[2022-03-03 23:16] rustikk opened #21982 "Python operators are printing more than one task log at a time"
### Apache Airflow version

main (development)

### What happened

When using the python operator on scheduled runs the task logs are repeating multiple times. This issue doesn't occur when using the web UI to trigger the dags
![Screen Shot 2022-03-03 at 4 24 09 PM](https://user-images.githubusercontent.com/17841735/156669983-52513284-81c7-4943-9f3d-1043f7159dfa.png)

### What you expected to happ

[2022-03-04 02:44] Greetlist commented on #20308
I re-scan the **scheduler_job.py, models/trigger.py ** again.
``` _do_scheduling ``` function has RowLock, ``` _process_executor_events ``` function also has RowLock and two functions use the same session.

https://github.com/apache/airflow/blob/17d3e78e1b4011267e81846b5d496769934a5bcc/airflow/models/trigger.py#L109 has no RowLock, it will select some records which already selected by scheduler.Bu

[2022-03-04 03:55] ghostbody commented on #10790
After STRUGLING, We found a method to 100% reproduce this issue !!!

tl;dr

https://github.com/apache/airflow/blob/9ac742885ffb83c15f7e3dc910b0cf9df073407a/airflow/models/taskinstance.py#L1253

Add a `raise` to simulate  db error which will likely happen when the DB is under great pressure.

Then you will get this issue `Was the task killed externally` in all the time.

Conditions:

- Airflow 2.2

[2022-03-04 03:57] hsrocks commented on #21808
Hello @ferruzzi :)

 I reviewed the code for changes and as per me these changes will not be needed.

As part of Sagemaker Base : https://github.com/apache/airflow/blob/main/airflow/providers/amazon/aws/operators/sagemaker.py#L51

the connection id is assigned a default value . Let me know if anything needs to be improvise. Thanks!!

[2022-03-04 06:27] ephraimbuddy commented on #21908
Related: https://github.com/apache/airflow/issues/16078

[2022-03-04 06:51] TreyYi commented on #21982
@potiuk @rustikk ,

Can I be assigned for this issue? I know what the problem is, but still thinking of how to resolve it.

[2022-03-04 07:38] TreyYi opened #21987 "Airflow S3 connection name"
### Description

Hi,

I took a look some issues and PRs and noticed that `Elastic MapReduce` connection name has been changed to `Amazon Elastic MapReduce` lately. [#20746](https://github.com/apache/airflow/issues/20746)

I think it would be much intuitive if the connection name `S3` is changed to `Amazon S3`, and would look better on connection list in web UI. (also, it is the official name of s3

[2022-03-04 07:57] ferruzzi commented on #21808
The problem is that the individual operators also declare the aws_conn without a default value so it isn't optional, and it won't fall back to that value:

[code]

So if we move the defaulting into the child Operators, we don't have to declare `aws_conn_id='default_aws'` in every operator use:

[code]

[2022-03-04 09:18] uranusjr commented on #21982
Go ahead a submit a PR!

[2022-03-04 09:33] bhavaniravi commented on #11218
I would like to raise a PR for this issue. You can assign it to me

[2022-03-04 10:19] hsrocks commented on #21808
Got the intent . Yes can see this problem with few of them individually . Appreciate the details :) Will work this out.!!

[2022-03-04 10:31] omerharoonedu opened #21989 "Potential Bug in DataFlowCreateJavaJobOperator"
### Apache Airflow Provider(s)

google

### Versions of Apache Airflow Providers

_No response_

### Apache Airflow version

2.2.3

### Operating System

mac

### Deployment

Docker-Compose

### Deployment details

_No response_

### What happened

Passing anything other than a GCS bucket path to the `jar` argument results in the job never being started on DataFlow.

### What you expected to happe

[2022-03-04 11:26] ephraimbuddy commented on #21947
I have seen this error with multi-scheduler setup. How many schedulers are you using?

[2022-03-04 11:35] ephraimbuddy commented on #21951
max_active_tasks_per_dag == dag_concurrency.

There was a rename of dag_concurrency to max_active_tasks_per_dag. Can you set this correctly?

[2022-03-04 12:40] EricGao888 commented on #17617
@potiuk Hello, I've switched test cases in oss hook to use Mocks in [this PR](https://github.com/apache/airflow/pull/21992). If this works, I will fix unit tests in [oss_task_handler](https://github.com/apache/airflow/pull/21785), oss operator and oss sensor in  future PRs and commits. THX : )

[2022-03-04 13:35] Wilderone opened #21994 "scheduler: livenessProbe redundant exec leads to false-positive result"
### Official Helm Chart version

1.4.0 (latest released)

### Apache Airflow version

2.2.4 (latest released)

### Kubernetes Version

v1.21.5-eks-bc4871b

### Helm Chart configuration

_No response_

### Docker Image customisations

_No response_

### What happened

Current livenessProbe in scheduler returns 0 exit code even if execution failed, this leads to container won't restart if it necessa

[2022-03-04 14:38] dgamorimm opened #21995 "Does not appear dags in mwaa"
### Apache Airflow version

2.0.2

### What happened

Simply the Dags stopped being executed and soon after disappeared in MWAA. The aws is very devoid of logs and there they do not point out any kind of error.

### What you expected to happen

May the dags continue to run perfectly

### How to reproduce

Put your dags in the s3 bucket, configure the MWAA environment and wait for the Dag to appear

[2022-03-04 15:09] frankcash opened #21996 "Add test_connection to FTP Hook"
### Description

I would like to test if FTP connections are properly setup.

### Use case/motivation

To test FTP connections via the Airflow UI similar to https://github.com/apache/airflow/pull/19609

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https:/

[2022-03-04 15:55] imbaczek commented on #21947
Just one active scheduler at a time.

[2022-03-04 16:05] ephraimbuddy commented on #21947
Deadlocks are fine except if they caused the scheduler to stop. From the log above, this happens in your database and does not stop your scheduler. Looks similar to this fix https://github.com/apache/airflow/pull/19842

[2022-03-04 16:28] john-jac commented on #13824
Thanks @andormarkus !  Are you able to reproduce when using the celery executor?

[2022-03-04 17:03] eladkal commented on #21995
Please report your issue to MWAA

[2022-03-04 17:03] #21995 closed

[2022-03-04 17:20] potiuk commented on #21987
Sure. Feel free.

[2022-03-04 18:35] RNHTTR commented on #21972
I don't believe this is an import error. The offending error message can be found in [utils/dag_cycle_tester.py](https://github.com/apache/airflow/blob/efd365274a548e7dd859ca1823da6a7c417a34f1/airflow/utils/dag_cycle_tester.py)

[2022-03-04 18:56] alejandrofm opened #22001 "Global gantt chart (across all DAGs)"
### Description

Hi, now we have a Gantt view inside each DAG which helps to understand the overlapping/idle times/etc on each one. The request is for a global Gantt across all DAGs

### Use case/motivation

This will allow knowing where Airflow and all the services that depend on it will have idle times, maybe look at the chart by tag. Optimizations on a lot of fronts come to mind when I think of

[2022-03-04 19:37] HardikVijayPatel commented on #21951
I do have the "max_active_tasks_per_dag" set as well, are you saying i should remove "dag_concurrency" setting itself and just have the "max_active_tasks_per_dag" and "parallelism" defined?

[2022-03-04 22:28] SangwanP opened #22006 "Add ability to disable a running DAG only after after it's in a finished state"
### Description

I'd like the ability to "drain" a DAG from the UI. This would mean:

- If a DAG is in a running state - disable the DAG after the run reaches a finished state (success/failed)
- If a DAG is in an idle state - disable immediately (same as what disable does right now)

### Use case/motivation

Currently, if you disable a DAG, it stops the DAG midway - the running tasks are completed

[2022-03-04 22:55] SangwanP opened #22007 "Add Variable, Connection "description" fields available in the API"
### Description

I'd like to get the "description" field from the variable, and connection table available through the REST API for the calls:

1. /variables/{key}
2. /connections/{conn_id}

### Use case/motivation

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project

[2022-03-05 05:00] iamhimanshu0 opened #22012 "sqlalchemy.exc.OperationalError: (sqlite3.OperationalError) no such table: session"
### Apache Airflow version

2.2.4 (latest released)

### What happened

I've installed apache-airflow version 2.2.4 on my system ubuntu 20.0.4 LTS and i'm using these steps
- export AIRFLOW_HOME=~/airflow
- pip3 install apache-airflow
- airflow db init
- airflow users create --username admin --firstname XXXX --lastname XXX --role Admin --email XXX@gmail.com

When I'm running my server using this c

[2022-03-05 05:25] nitinmahawadiwar opened #22013 "Broken links on tutorial.html"
### Describe the issue with documentation

1. visit https://airflow.apache.org/docs/apache-airflow/2.2.4/tutorial.html
2. go to the section Templating with Jinja([](https://airflow.apache.org/docs/apache-airflow/2.2.4/tutorial.html#templating-with-jinja)Templating with Jinja)
3. scroll down to the para "Using that same DAG constructor call.........", the hyperlink Jinja documentation opens the lin

[2022-03-05 05:26] nitinmahawadiwar commented on #22013
Please let me know if I can take this defect as a first contribution from my side.

[2022-03-05 09:57] potiuk commented on #22013
Feel free! Thants for that!

[2022-03-05 16:16] zartstrom opened #22015 "Allow showing more than 25 last DAG runs in the task duration view"
### Apache Airflow version

2.1.2

### What happened

Task duration view for triggered dags shows all dag runs instead of n last. Changing the number of runs in the `Runs` drop-down menu doesn't change the view. Additionally the chart loads slowly, it show all dag runs.

![screenshot_2022-03-05_170203](https://user-images.githubusercontent.com/7863204/156891332-5e461661-970d-49bf-82a8-5dd1da57bb02

[2022-03-05 16:25] mik-laj commented on #22013
Generally, we only maintain documentation for the latest version, but if you want to make this change, you need to change it in the generated HTML files in the airflow-site repository.

[2022-03-05 18:57] abhinavraj23 opened #22016 "Google Cloud Transfer operators: add an operator to run a transfer job"
### Description

For the airflow operators made corresponding to [google cloud storage transfer service](https://cloud.google.com/storage-transfer-service), there isn't any operator available to directly run a pre-configured transfer job. The storage transfer service provides the API for this use case, here the [link](https://cloud.google.com/storage-transfer/docs/reference/rest/v1/transferJobs/ru

[2022-03-05 21:46] #16185 closed

[2022-03-05 23:06] RNHTTR commented on #21972
Interestingly, this also happens for me using the image `quay.io/astronomer/astro-runtime:4.1.0` (airflow version 2.2.4) with the DAG included in `astrocloud dev init`, `example-dag-advanced.py`, which I believe has the following graph:

[code]

I'm not sure why this would result in a cycle being detected.

[2022-03-06 02:03] ajayganti3 opened #22019 "Google cloud dataproc: Add an operator to run a serverless spark in dataproc"
### Description

Recently GCP has launched serverless spark on dataproc. It will be really great if Airflow has an operator to submit a serverless spark job. Please refer to the [dataproc serverless documentation](https://cloud.google.com/dataproc-serverless/docs/overview) and its [gloud sdk documentation](https://cloud.google.com/sdk/gcloud/reference/dataproc/batches)

### Use case/motivation

Us

[2022-03-06 03:46] auvipy commented on #21026
still some memory leaks persist in celery

[2022-03-06 05:58] abhinavraj23 opened #22021 "Google Cloud Transfer operators: bug in transfer service update job operator"
### Apache Airflow Provider(s)

google

### Versions of Apache Airflow Providers

6.4.0

### Apache Airflow version

2.1.4

### Operating System

linux

### Deployment

Composer

### Deployment details

_No response_

### What happened

For the airflow operators made corresponding to [google cloud storage transfer service](https://cloud.google.com/storage-transfer-service), the update transfer job

[2022-03-06 10:16] #21996 closed

[2022-03-06 13:07] talnagar commented on #21336
In this case I think it should be in a separate PR since it doesn't rely on existing API capabilities like adding a manual run_id.

[2022-03-06 13:17] shahkshitij15 commented on #21801
The issue has been resolved. Thank you for your support :)

[2022-03-06 13:17] #21801 closed

[2022-03-06 14:12] nitinmahawadiwar commented on #22007
Hello @SangwanP,
I checked the description field for variables API, seems like missing, but for connections api, its working properly (for both scenarios, all connections & a specific connection)

Can I request you to confirm the version you are using ? I tried with 2.4

[2022-03-06 14:27] nitinmahawadiwar commented on #22007
Please assign this ticket to me.

[2022-03-06 14:39] potiuk commented on #22007
Done!

[2022-03-06 17:08] intc-hharshtk commented on #8061
I got this problem resolved by providing the absolute path of dag and plugin location in airflow.cfg file.

[2022-03-06 18:39] potiuk commented on #13225
You wo't use task_id. Look what "get_task_instances" return.

[2022-03-06 18:45] potiuk commented on #16386
a) set `do_xcom_push` to False:  https://airflow.apache.org/docs/apache-airflow/stable/_api/airflow/models/baseoperator/index.html

b) derive your own custom operator from the SageMarkerOperator and return nothing (or converte return value to serializable. Smth like:

[code]

c) enable pickle in Airflow configuration https://airflow.apache.org/docs/apache-airflow/stable/configurations-ref.html?hig

[2022-03-06 19:02] potiuk commented on #17374
@cansjt  - seems that the solution proposed by @shicholas should solve the problem. Could you please confirm that it does?  Ideally maybe (instead of changing anything in Airflow) - adding a bit of documentation to Airlfow for the users who would like to follow it might be good @cansjt @shicholas - maybe you would like to add it?

[2022-03-06 19:18] eladkal commented on #21987
fixed in https://github.com/apache/airflow/pull/21988

[2022-03-06 19:18] #21987 closed

[2022-03-06 19:23] potiuk commented on #14459
I just tried to describe the current status in #22025  based on confused user discussion #21864 . And there are far too many "yes this is confusing" there.

I have another proposal how to solve it. MINOR and "super-simple.

How about we simply rename "Active" to "Unpaused" in the UI? This is, what it is, there is no particular reason to name the tab "Active" because it's meaning is "Unpaused" real

[2022-03-06 21:55] potiuk commented on #14667
Indeed. anyone providing fix would be great.

[2022-03-06 22:01] #8418 closed

[2022-03-06 22:22] potiuk commented on #21897
Assigned you @yeachan153

[2022-03-06 23:28] potiuk commented on #21945
Feel free to work on the issue.

[2022-03-06 23:37] potiuk commented on #21947
Yep. duplicagte of #19842

[2022-03-06 23:37] #21947 closed

[2022-03-06 23:41] potiuk commented on #21929
Feel free to add support for that.

[2022-03-06 23:58] potiuk commented on #19059
Yep. One more small things with #22017 and it shoud be possible.

[2022-03-07 00:06] potiuk commented on #21970
Could you please submit a fix for that?

[2022-03-07 00:07] potiuk commented on #21970
It's as easy as clicking a "suggest a change on this page" and creating a PR. Airlfow is created by almost 2000 contributors and you can become one of them this way.

[2022-03-07 00:18] #21768 closed

[2022-03-07 00:19] potiuk commented on #21978
Feel free to add it.

[2022-03-07 00:22] potiuk commented on #21940
Composer is not relevant for the community release. I think both cases should be supported via different keys.

[2022-03-07 00:23] potiuk commented on #21940
It could be auto-detected - if one fails, you can fall-back to the other.

[2022-03-07 00:34] atulv-lfs commented on #20309
@asoong-94  i am getting the same issue
were you able to solve this issue ?

[2022-03-07 01:13] potiuk commented on #21989
Since you know already how to try to fix it and test it, why don't you try a submit PR fixing it. Airlfow is created by almost 2000 contributors, you might become one of the them @omerharoonedu

[2022-03-07 01:15] potiuk commented on #17617
Merged it . This looks cool. Thanks! Please proceed with other tests :)

[2022-03-07 01:31] potiuk commented on #21994
Hey @ephraimbuddy @jedcunningham  - I think that one might be important enough to cancel 1.5.0 of chart and make a release candidate 2.  I just checked it and I think this is is indeed wrong what we have.

The current liveness probe is:

[code]

But it should be IMHO:

[code]

[2022-03-07 01:45] #21832 closed

[2022-03-07 01:51] potiuk commented on #22006
Good idea. Would you like to work on maybe ? this is the best way to make sure it happens :)

[2022-03-07 01:56] potiuk commented on #21605
It has different kubernetes library. Can you please chack it ?

[2022-03-07 02:02] potiuk commented on #22016
Feel free.

[2022-03-07 02:07] potiuk commented on #22021
Feel free to fix!

[2022-03-07 03:25] haninp commented on #13542
Hello, found same issue when i used ver 2.2.4 (latest)
maybe we have some workaround for this things ?

[2022-03-07 04:05] NilsJPWerner commented on #21336
That's probably true. I will create another issue for it.

[2022-03-07 04:56] TreyYi commented on #20215
Hi @dacort,

I am also interested in EMR Serverless features for airflow such as operators, sensors, or testings.
Once EMR serverless is released officially, I will try to provide some suggestions, and I am willing to help you even if it wouldn't be my PR!

[2022-03-07 05:00] shuhoy opened #22034 "BigQueryToGCSOperator: Invalid dataset ID error"
### Apache Airflow Provider(s)

google

### Versions of Apache Airflow Providers

`apache-airflow-providers-google==6.3.0`

### Apache Airflow version

2.2.3

### Operating System

Linux

### Deployment

Composer

### Deployment details

- Composer Environment version: `composer-2.0.3-airflow-2.2.3`

### What happened

When I use  BigQueryToGCSOperator, I got following error.
[code]

### What you

[2022-03-07 06:16] NirmalSharmaRaj opened #22035 "In 'list users', clicking 'show record' button returns an error page"
### Apache Airflow version

2.2.2

### What happened

Under Security Tab> List users, when show record button for an user is clicked, an error page with some exception - "KeyError: 'userinfoedit'" is returned.

![image](https://user-images.githubusercontent.com/95294875/156978032-459254a2-988f-448b-84a4-d228baf834d5.png)

![image](https://user-images.githubusercontent.com/95294875/156977666-309d12

[2022-03-07 06:37] NirmalSharmaRaj opened #22036 "Bottom scrollbar not working in the DAGs page."
### Apache Airflow version

2.2.2

### What happened

On the home page, when the window size is reduced, a bottom scrollbar appears. But this scrollbar is unclickable, so I am not able to side-scroll using it. The page navigation buttons seems to be overlapping it.
![image](https://user-images.githubusercontent.com/95294875/156979836-52fa6c30-474b-43ff-ac0e-d9fe1b8d9e0f.png)

### What you expected

[2022-03-07 07:52] hsrocks opened #22037 "Airflow Operator for Starting Amazon Glue DataBrew Job"
### Description

We can use the DataBrew integration to add data cleaning and data Normalization steps into our analytics and machine learning workflows. The operator will be used to trigger StartJobRun API [https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/databrew.html#GlueDataBrew.Client.start_job_run](url) in order to start the job run. Also we will provide an option t

[2022-03-07 08:01] bhavaniravi commented on #11218
There is a problem in implementing this.
In variables, if the value is encrypted, then when updating the var, the value is overridden as  "*****" in DB. The same with extra connection args as well.

Now I'm wondering if this is something we should even handle at the backend

[2022-03-07 08:51] olivermeyer commented on #16386
@potiuk I opened a PR some time ago (https://github.com/apache/airflow/pull/16395) but was told to wait for some other PRs which were, by the looks of it, never merged. Are you able to tell me if my PR is relevant? It seems to me that it would fix the issue. If that's the case, I can spend some time updating my solution and opening another PR. I just don't want to waste time if it's clear from the

[2022-03-07 09:09] itay-raveh opened #22040 "Add "aborted" as a state option for DAG Runs"
### Description

Currently, `DAG Runs` have two "done" states: "succeeded" or "failed". I propose a third, **"aborted"**.

### Use case/motivation

Currently if I wish to stop a `DAG Run`, I must mark it one of the states listed above, and usually choose "failed" for lack of a better option. This means that later I have no easy way to differentiate between runs that actually failed, due to some ex

[2022-03-07 09:34] Bowrna commented on #15974
I am willing to try fixing this issue :)

[2022-03-07 09:45] eladkal commented on #21341
SubDag is a deprecated you should switch to TaskGroup.

[2022-03-07 10:46] potiuk commented on #11218
I think it should be handled in the usual way as "write-only" change. If there is a secret value set in the database, it should be displayed as `*******` but we should also track if has been modified. If it has not, then we should not attempt to replace the password with the `*******`. In case it is replaced (someone sets a new secret), it should be modified in the db.

[2022-03-07 10:51] potiuk commented on #16386
@kaxil  - do you think the reasons from https://github.com/apache/airflow/pull/16395 stil hold, or is @olivermeyer free to continue with the PR (I think it should be no problem to continue, but I would like to verfiy with you).

[2022-03-07 11:36] frodo2000 opened #22047 "Invalid quotes in json variable set by Variable.set"
### Apache Airflow version

2.2.3

### What happened

When

Variable.set(
	self.variable_name,
	self.variable_value,
	True,
	None
)

is used, Airflow variable contains single quotes instead of double one.
Current workaround is to use:

Variable.set(
	self.variable_name,
	json.dumps(self.variable_value,indent=2),
	False,
	None
)

### What you expected to happen

Double quotes instead of single ones

[2022-03-07 12:07] eladkal commented on #15974
@Bowrna assgined

[2022-03-07 12:12] ephraimbuddy commented on #21994
Yeah. I support having an RC 2.

[2022-03-07 12:42] frodo2000 commented on #22047
It my false - I missed one parameter

[2022-03-07 12:42] #22047 closed

[2022-03-07 14:03] potiuk commented on #22034
Assigned you @shuhoy

[2022-03-07 14:52] potiuk commented on #19059
All right. Now the only thing I need to do is to release all providers with version 3.10 support :).

[2022-03-07 15:14] josh-fell commented on #22036
@NirmalSharmaRaj I'm not able to reproduce this behavior on 2.2.2 with both side-scrolling via trackpad nor click and drag of the scrollbar. https://www.loom.com/share/63bda5a341d54238b7995a9c61943063

@bbovenzi Are you able to reproduce and/or is there other information that would be helpful to know if this is a bug? We can always convert to a Discussion too.

[2022-03-07 20:48] bbovenzi commented on #22001
I would very much like to improve out cross-dag views as part of AIP-38. We introduced the Dag Dependency graph, but it would be great to do more.

[2022-03-07 20:53] bbovenzi commented on #22006
I wonder if this should be added as a configuration for pausing/unpausing DAGs? Having a separate button for this could be confusing.

[2022-03-07 20:54] devender-yadav opened #22059 "DagBag import timeout while retrieving variable"
### Apache Airflow version

2.2.3

### What happened

Metastore = Postgres

concurrency=8
max_active_runs=1

DagBag import timeout is happening while retrieving Variable

[code]

### What you expected to happen

_No response_

### How to reproduce

_No response_

### Operating System

Debian GNU/Linux 10 (buster)

### Versions of Apache Airflow Providers

_No response_

### Deployment

Official Ap

[2022-03-07 21:02] ephraimbuddy commented on #22059
Does the variable exist in the secret backend?

[2022-03-07 21:20] eladkal commented on #22006
The use case as described is "Don't schedule new runs but let the current running dags to finish" - This sounds more like a scheduler feature rather than UI.

[2022-03-07 22:00] potiuk commented on #22006
Very much so @eladkal

[2022-03-07 22:09] potiuk opened #22063 "Status of testing Providers that were prepared on March 07, 2022"
### Body

I have a kind request for all the contributors to the latest provider packages release.
Could you please help us to test the RC versions of the providers?

Let us know in the comment, whether the issue is addressed.

Those are providers that require testing as there were some substantial changes introduced:

## Provider [amazon: 3.1.0rc1](https://pypi.org/project/apache-airflow-providers

[2022-03-07 22:28] #21978 closed

[2022-03-07 22:43] vinooganesh commented on #22063
#21434 looks good (docs change)

[2022-03-07 22:56] kazanzhy commented on #22063
#21307 - tested before PR
#20119 - seems OK
#20244 - OK

#20642 - In progress
#20907 - In progress
#21231 - In progress

[2022-03-07 22:56] potiuk commented on #22007
It follows releases. API is connected with Airlfow releases. Tje main is development and any changes there are coming in 2.3.0. Should we close that one?

[2022-03-07 23:21] cjac opened #22064 "Airflow jobs are sporadically re-queuing days after dags are completed"
### Apache Airflow version

2.2.3

### What happened

The queuing process in Airflow2 continues to access
already-completed job, effectively corrupting start times/end
times. This ruins the ability for job dependencies to chain together.

After a long period of no change to completed tasks, while under heavy load, airflow re-schedules all historical jobs just to have them do no operation and compl

[2022-03-07 23:36] patricker opened #22065 "DB To GCS Operations Should Return/Save Row Count"
### Description

All DB to GCS Operators should track the per file and total row count written for metadata and validation purposes.

- Optionally, based on param, include the row count metadata as GCS file upload metadata.
- Always return row count data through XCom. Currently this operator has no return value.

### Use case/motivation

Currently, there is no way to check the uploaded files row c

[2022-03-08 00:15] TreyYi commented on #22063
#21988 Looks good (hook name change)

[2022-03-08 01:38] zhongjiajie commented on #22063
#21422  Looking good, and it just docs change BTW

[2022-03-08 03:47] RNHTTR commented on #21972
This issue can be traced back to [this merged PR](https://github.com/apache/airflow/pull/21404/files). Using the latest code in the main branch but rolling back the changes to the 3 files ([airflow/models/taskmixin.py](https://github.com/apache/airflow/blob/main/airflow/models/taskmixin.py), [airflow/utils/edgemodifier.py](https://github.com/apache/airflow/blob/main/airflow/utils/edgemodifier.py),

[2022-03-08 03:53] sunny760408 opened #22067 "DAG Import Errors not show in webUI if DAG is first time upload to airflow is not currect"
### Apache Airflow version

2.2.2

### What happened

Hi everyone,

* In order to separate permission, I create two roles:
1. CustomRole: Copy from User, and then delete "an read on DAGs, can read on DAG Runs"
Permissions is as below:
[code]

2. TeamA: Default have "can read on Website", and each DAG upload to airflow will add  **can read on DAG** and  **can edit on DAG**
Permissions is as below:

[2022-03-08 04:36] easontm opened #22068 "Scheduler sends second try before first is complete"
### Apache Airflow version

2.2.3

### What happened

As far as I can tell, this is the series of events:
1. Worker c8 receives the message
2. Worker c8 starts processing
3. Worker hl receives a separate message with the same payload but incremented try#
4. Worker c8 experiences hostname mismatch

Scheduler logs
[code]

Messages, truncated/formatted for reading (from flower)
[code]

Worker c8
[cod

[2022-03-08 05:39] kurtqq commented on #8854
this can be a good improvment

[2022-03-08 06:20] Amey2400 commented on #21945
I am not sure of the root cause of the issue. So any help in finding the root cause would be appreciated.

[2022-03-08 06:52] eladkal commented on #22065
This would be easier after https://github.com/apache/airflow/issues/21599

[2022-03-08 06:58] alexott commented on #22063
Checked #21363 from the `main` branch, works.
#21494 looks good.

The rest for Databricks operator are also looks good from the source code perspective

[2022-03-08 07:52] amaury-bhg opened #22072 "@task decorator does not handle "templates_exts" argument correctly (files are not rendered)"
### Apache Airflow version

2.2.2

### What happened

When I use Taskflow, and especially the `@task` decorator to create a task, the template files are not correctly rendered : I still have the filename inside `templates_dict` instead of the templated file content, even though I supplied a valid `templates_exts` argument (at least one which works with `PythonOperator`).

I do not encounter the sa

[2022-03-08 08:33] EricGao888 opened #22073 "Separate dag/task UI display name from dag / task id"
### Description

* Enable users to use their national characters, which are usually non-ASCIIs as the display name of their dags / tasks.

### Use case/motivation

* At present, only ASCIIs are allowed for dag_id and task_id as shown in [this comment](https://github.com/apache/airflow/issues/21127#issuecomment-1045329791).
* However, in many cases, users would like to use their national characters

[2022-03-08 09:02] Amey2400 opened #22074 "DAG is marked as failed due to postgresql pod restart in k8s"
### Apache Airflow version

2.2.3

### What happened

We are using Airflow with KubernetesExecutor along with Postgres. Airflow and Postgres are deployed in the same namespace of the Kubernetes environment.
During the execution, Postgres pods are getting restarted during Kubernetes scale up and scale down. Due to this, the airflow is not able to connect to Postgres and marking the running job as f

[2022-03-08 09:02] hsrocks commented on #22063
#21673 Tested it. Worked fine

[2022-03-08 09:33] h2cone commented on #22063
#21831 Tested it, LGTM.

[2022-03-08 11:09] akifcakir commented on #22063
https://github.com/apache/airflow/pull/21709 tested it , works fine.

[2022-03-08 11:13] 094459 commented on #21321
Apologies for the long time since the last update. During the testing phase, I realised that the ECSOperator does actually support the launch type of "EXTERNAL" so this is not a bug or feature that needs to be added to the ECSOperator code (ecs.py). It would probably be beneficial to update the documentation, add a new test case and provide an updated example DAG. I have these ready to go if this