[2021-04-19 09:15] #12480 closed

[2021-04-19 09:16] ashb commented on #10976
No response from OP for months, we already log the exit code.

Closing for now.

[2021-04-19 09:16] #10976 closed

[2021-04-19 10:41] shamsuvs commented on #9298
Is this feature available now?

[2021-04-19 11:14] armandleopold commented on #13918
@kaxil Haven't got the time to do so, a little busy at the moment. Not sure if i can try things for now.

[2021-04-19 11:50] #8609 closed

[2021-04-19 11:57] kaxil commented on #14167
The issue itself is fixed but I agree with @jedcunningham the better solution would be to allow control of "randomization".

Can you create a new Github Issue for that one @jedcunningham ?

[2021-04-19 11:57] #14167 closed

[2021-04-19 12:44] ephraimbuddy commented on #14422
Hi @houqp , I tried your suggestion with that of @kaxil but they didn't work.

This is another solution that worked:
<details><summary>Changes diff</summary>
<p>

[code]
</p>
</details>
Also, I tested the above solution as well as my PR(#15172) on #11086 and both worked fine.

Here's #11086 modified dag to work on 2.0+:

<details><summary>DAG CODE</summary>
<p>

[code]
</p>
</details>

On testing,

[2021-04-19 12:52] matan129 commented on #10544
Happens on `2.01`. Any updates?

[2021-04-19 13:10] potiuk commented on #15356
How about adding a section in https://airflow.apache.org/ecosystem/ ?

Astronomer has this searchable and navigable registry now: https://www.astronomer.io/blog/astronomer-registry and I think it's really cool and great that they are maintaining it. from the community point of view, just section with links in the Ecosystem page should be more than enough.

There is a good reason why it should not

[2021-04-19 14:15] jedcunningham opened #15434 "KubernetesPodOperator name randomization"
`KubernetesPodOperator.name` randomization should be decoupled from the way the name is set. Currently `name` is only randomized if the `name` kwarg is used. However, one could also want name randomization when a name is set in a `pod_template_file` or `full_pod_spec`.

Move the name randomization feature behind a new feature flag, defaulted to True.

**Related Issues**

#14167

[2021-04-19 14:49] pelaprat commented on #13542
I agree, this is a critical issue for us. At the moment, we have customers using our software that need to manually clear these tasks and/or restart the scheduler. This isn't a sustainable solution.

[2021-04-19 16:31] vedimuthan opened #15435 "Getting approx. 25 emails when dag fails"
I have setup a simple dag to run ECS task via ECSOperator and I would like to be notified when it fails. However, i am receiving approx. 25 emails per run for the failures. Can you please tell me why this is happening?

from airflow import DAG
from airflow.contrib.operators.ecs_operator import ECSOperator
from datetime import datetime, timedelta
import json
from botocore.vendored import requests

[2021-04-19 17:08] Goodkat commented on #14613
The warning message was extended with dag_id to be more informative.
The respective changes were implemented and merged according to the PR #14860.
Please consider whether this issue can be closed now.
Thank you.

[2021-04-19 17:26] fjmacagno commented on #14613
Solution looks good, ill test it once it is released.

[2021-04-19 17:26] #14613 closed

[2021-04-19 18:27] arbass22 opened #15439 "DAG run state not updated while DAG is paused"
**Apache Airflow version**:
2.0.0

**What happened**:

The state of a DAG run does not update while the DAG is paused.   The _tasks_ continue to run if the DAG run was kicked off before the DAG was paused and eventually finish and are marked correctly.  The DAG run state does not get updated and stays in Running state until the DAG is unpaused.

Screenshot:
![Screen Shot 2021-04-19 at 2 18 56 PM](

[2021-04-19 20:24] saimadineni opened #15440 "Provide integration with eventbus"
**Description**

** We are trying to build a platform on top of airflow and it is very important for us to understand the completion/failure of DAGs**

**Are you willing to submit a PR?**

Yes, But I need to get up to speed with Airflow contributions

**Related Issues**

No

[2021-04-19 20:27] saimadineni opened #15441 "Airflow DAG completions are not published to the logs"
**CUrrently only the task completions are published as success**

**We are currently parsing logs and trying to figure out the completion of DAGs and currently only the events are published**

**Are you willing to submit a PR?**
Yes

**Related Issues**

[2021-04-19 20:44] ashb commented on #15441
Which log file did you want to see this in exactly?

There is a "end_date" column on DagRun that may have the information you need.

[2021-04-19 21:01] eladkal commented on #15435
Is the issue happens in a specific workflow or in all your DAGs?
Can you please share a reproduce code that we can actually run?

[2021-04-19 22:03] vedimuthan commented on #15435
Yeah, it is happening in all the dags. I am not sure if it is only due to ECS operator. I have pasted the whole dag code above in the issue description.

[2021-04-19 22:14] #15399 closed

[2021-04-19 22:18] kaxil commented on #15305
Fixed by https://github.com/apache/airflow/pull/14160 and released in Airflow 2.0.2

[2021-04-19 22:18] #15305 closed

[2021-04-19 22:39] kaxil commented on #15369
@gvazharov Yeah that is counted using the following code:

https://github.com/apache/airflow/blob/beb8af5ac6c438c29e2c186145115fb1334a3735/airflow/jobs/scheduler_job.py#L1498-L1521

[2021-04-19 23:27] mik-laj commented on #15440
Could you please write a little more what this integration would look like and an example use case?

[2021-04-19 23:32] mik-laj commented on #15424
Unfortunately, we no longer provide support for older versions. Please check if this problem occurs in a newer version and create a new ticket if the problem persists.

[2021-04-19 23:32] #15424 closed

[2021-04-19 23:33] mik-laj commented on #15416
SGTM. Can you submit a PR?

[2021-04-19 23:44] uranusjr commented on #15416
I wondered about this a while ago (mostly because I don’t want to repeatedly `set mouse on`). The problem is any slightly sophisticated local tmux setup would contain a lot of dependencies and it’s not realistic to pull them all into the container. So maybe a better approach would be have a directory *in the repository*; if the user puts a (git-ignored) `.tmux.conf` file in it, the file is mounted

[2021-04-19 23:55] mik-laj commented on #15415
Airflow handles some logs in a special way and unfortunately, it is not easy to unify this as our logs have different characteristics.

**Logs for tasks** are saved to files because they are small and we can upload them after completing the tasks. When they are sent to object storage it is much easier to read to them, but each time you add a new line, we need to get all the contents and upload a n

[2021-04-19 23:58] mik-laj commented on #15365
Are you willing to submit a PR?

[2021-04-20 00:06] mik-laj commented on #15356
I agree with @potiuk . Rather, we should not add documentation for other packages unless absolutely necessary. We can only create a new page - Community Providers Packages in the documentation and add a link to the ecosystem website.

After that, there is also the problem of updating the documentation. We update the documentation relatively rarely compared to the website. If you want to make a cha

[2021-04-20 00:10] mik-laj commented on #15353
Yea! We should expand this documentation.  I see a lot of questions about how to write plugins.

We have an example plugin in the repo but it is not described in the documentation.
https://github.com/apache/airflow/tree/master/metastore_browser

[2021-04-20 00:53] LsYueh commented on #15354
Same issue while use the CLI.

**Apache Airflow version**: 2.0.1

**Environment**:

- **OS**: CentOS 7.9.2009
- **Kernel**: Linux 3.10.0-1160.24.1.el7.x86_64
- **Install tools**: pip 21.0.1
- **Others**: PostgreSQL-12、Python 3.6.8

**What happened**:
[code]

[2021-04-20 01:08] uranusjr commented on #15354
Downgrade SQLAlchemy to under 1.4.

[2021-04-20 01:26] LsYueh commented on #15354
Problem solved after downgrade SQLAlchemy from 1.4.8 to 1.3.24.
And with SQLAlchemy 1.4.9, airflow db init goes fail.

[2021-04-20 01:33] RNHTTR commented on #15356
That makes sense. I probably should've raised the issue on the airflow-site repo -- that was the intention. That said, would it make sense to also include a link at https://airflow.apache.org/docs/ that links to the ecosystem page?

[2021-04-20 02:08] kakarukeys commented on #15415
Since this is not classified as a bug, I will close this. Thanks for your help.

[2021-04-20 03:06] jedcunningham commented on #10193
@scauglog, are you still able to reproduce this?

[2021-04-20 03:22] jedcunningham commented on #7799
@Deepakparashar14, if you haven't already, you should move to the RBAC UI if you are on Airflow 1 (or upgrade to Airflow 2) as it has better granularity for restricting access.

[2021-04-20 03:34] jedcunningham commented on #8479
@jonathonbattista, this is now possible with [pod_template_file](https://airflow.apache.org/docs/apache-airflow/stable/configurations-ref.html#pod-template-file).

[2021-04-20 03:34] #8479 closed

[2021-04-20 05:26] zhzhang opened #15447 "`db init` and `webserver` commands do not work on fresh install without constraints"
**Apache Airflow version**: 2.0.1

**Environment**:

- **OS** (e.g. from /etc/os-release): OSX Catalina 10.15.7
- **Install tools**: Either poetry or pip
- **Others**: Python 3.7.10

**What happened**:

I make a fresh install of Airflow 2.0.1 in a new venv with `python3 -m pip install apache-airflow==2.0.1` (or alternatively `poetry add apache-airflow==2.0.1` in a new poetry environment).
I then t

[2021-04-20 06:31] harvetech commented on #15354
Downgrading SQLAlchemy worked for me as well. Thanks all :)

[2021-04-20 06:31] #15354 closed

[2021-04-20 07:03] houqp commented on #14422
@ephraimbuddy after looking more into the code, the initial change I proposed indeed will not work due to wrong assumptions. Here are couple things you need to do to expand it into a working implementation:

* `self.task_instance.state = State.FAILED` only sets the state in memory, so you need to commit the change into database as well using `self.task_instance.set_state(State.FAILED)`
* before we

[2021-04-20 07:29] potiuk commented on #15447
Unfortunately we are not able to guarantee that released versions of Airflow will continue to install without constraints in the future.

The reasons why we have chosen constraints approach and why Airflow is different than many other applications and libraries are explained in detail in this chapter https://github.com/apache/airflow#installing-from-pypi

[2021-04-20 07:29] #15447 closed

[2021-04-20 07:33] potiuk commented on #15356
The link is there in the menu I believe ?

[2021-04-20 07:35] ashishpatel0720 commented on #15416
Yes I will.

[2021-04-20 07:54] potiuk commented on #15416
We already have similar mechanism for reading user-supplied env variables placed in `files/airflow-breeze-config` folder.
 https://github.com/apache/airflow/blob/130f9e32f49e10511863d05c03f3532269ae27db/scripts/in_container/configure_environment.sh#L36

It could be done in a very similar way .

[2021-04-20 09:26] ephraimbuddy commented on #14422
Thanks @houqp for the insights! Really appreciate. Now I'm working on the SIGKILL and will keep you posted

[2021-04-20 09:26] ashishpatel0720 commented on #15416
thanks @potiuk, let me check.

[2021-04-20 09:53] Dr-Denzy commented on #15404
I will work on this @kaxil

[2021-04-20 09:54] Dr-Denzy commented on #15404
@alexInhert please could you give more details on how to reproduce this issue.

[2021-04-20 10:44] ClassyLion opened #15451 "No module named 'airflow.providers.google.common.hooks.leveldb'"
**Apache Airflow version**:
2.0.2

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
v1.18.18

**Environment**:
Cloud provider or hardware configuration: AWS

**What happened**:

Updated to Airflow 2.0.2 and a new warning appeared in webserver logs:
[code]

**What you expected to happen**:
No warning.

**How to reproduce it**:
Don't know the specific details. Have tried

[2021-04-20 10:59] ashb commented on #15451
This I think can be ignored -- it is the webserver trying to load all the providers and it's failing on one, but this is not fatal and shouldn't stop the Webserver working.

Did 2.0.1 (or 2.0.0) have this same behaviour?

[2021-04-20 11:54] prongs commented on #9722
This is not working in airflow 2.0 now.

Here is my setup

DAG bag is located at `/opt/airflow/dags`

#### local module named `b`
[code]

#### dag code /opt/airflow/dags/a.py
just copied from [tutorial](https://airflow.apache.org/docs/apache-airflow/stable/tutorial.html) with an addition of `from b import *` as the first line

[code]

Now, `airflow dags list` reports

[code]

And `airflow dags rep

[2021-04-20 12:06] ClassyLion commented on #15451
Airflow 2.0.1 and 2.0.0 did not have this behaviour. I've been actively checking logs recently with the upgrade to Airflow 2, so I can say that this warning was not there.
I thought that this warning could be ignored, it's just coming up quite often in the logs, thus increasing their length.

[2021-04-20 12:15] kaxil commented on #13542
@lukas-at-harren @pelaprat  Can you test it with recently released 2.0.2 release please

[2021-04-20 12:22] kaxil commented on #8116
This has been done right @mik-laj .. Closing it -- Feel free to open if you think anything else needs to be done

[2021-04-20 12:22] #8116 closed

[2021-04-20 12:24] kaxil commented on #8117
With us generating clients, is this that useful anymore ?

[2021-04-20 12:25] kaxil commented on #8087
@K-7 Can you test it with Airflow 2.0.2 and see if you still see this error, in which case can you also provide steps for reproduction please

[2021-04-20 12:28] kaxil commented on #8281
This affects old experimental API, please switch to the new stable API: https://airflow.apache.org/docs/apache-airflow/stable/stable-rest-api-ref.html

[2021-04-20 12:28] #8281 closed

[2021-04-20 12:30] kaxil commented on #8291
Let us know if you need any more help here @RosterIn

[2021-04-20 12:31] kaxil commented on #8306
Use TaskGroups feature -- https://airflow.apache.org/docs/apache-airflow/stable/concepts.html#taskgroup

[2021-04-20 12:31] #8306 closed

[2021-04-20 12:31] #8378 closed

[2021-04-20 12:33] kaxil commented on #8402
From Airflow 1.10.14 we expose the entire Kubernetes Pod object API, so this should allow you to add HostPID and HostIPC

[2021-04-20 12:33] #8402 closed

[2021-04-20 12:34] kaxil commented on #8425
This is not to do with default_args but to do with Logger object, what operator are you using ?

[2021-04-20 12:47] potiuk commented on #15451
Thanks @ClassyLion.

It's a bug (harmless) in definition of the google provider 2.2.0 in fact:

In `provider.yaml`:

`airflow.providers.google.common.hooks.leveldb.LevelDBHook`

should be:

`airflow.providers.google.common.leveldb.LevelDBHook`

[2021-04-20 13:04] alexInhert commented on #15404
sorry this was wrong and local issue on my code

[2021-04-20 13:04] #15404 closed

[2021-04-20 13:27] vedimuthan commented on #15435
I didn't know what caused the issue. it seems it worked today and i got only one email. I am closing this issue. thanks for checking.

[2021-04-20 13:27] #15435 closed

[2021-04-20 13:59] ashishpatel0720 commented on #15416
PR #15454
I guess, I have to update docs as well.

[2021-04-20 14:20] jagusztinl opened #15455 "TypeError: Object of type 'V1ResourceRequirements' is not JSON serializable"
**Apache Airflow version**:
2.0.1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
1.19
**Environment**:
Openshift 4.5
- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:
Started sample KubernetesExecutor

**What you expected to happen**:
Runs well

[2021-04-20 14:31] bensonnd commented on #13542
Following on what @pelaprat mentioned, we are not running with either the CeleryExecutor or KubernetesExecutor, but the LocalExecutor in a Docker container. We get tasks stuck in scheduled or queued and the dag is marked as running, but is not. It seems like the scheduler falls asleep or misses queued tasks.

Either clearing the queued tasks or restarting the scheduler with `airflow scheduler` ins

[2021-04-20 15:45] jedcunningham commented on #15455
Duplicate of #14327, fixed in 2.0.2, and also has a workaround.

[2021-04-20 15:45] #15455 closed

[2021-04-20 15:54] Dr-Denzy commented on #15413
@charles2588 could you try to see if you could reproduce this issue with Airflow 2.0.2

[2021-04-20 16:17] MatthewRBruce opened #15456 "KubernetesPodOperator raises 404 Not Found when `is_delete_operator_pod=True` and the Pod fails."
**Apache Airflow version**: 2.0.1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.18

**Environment**: GKE

- **Cloud provider or hardware configuration**: GKE on GCP
- **OS** (e.g. from /etc/os-release): Debian 10
- **Kernel** (e.g. `uname -a`): 5.4.89+

**What happened**:

When executing a KuberentesPodOperator with `is_delete_operator_pod=True`, if the Pod doesn

[2021-04-20 16:34] leonsmith opened #15457 "CeleryExecutor adopts any task with an external_executor_id"
**Apache Airflow version**: 2.0.1
**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): N/A
**Environment**:

- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): Debian
- **Kernel** (e.g. `uname -a`): Linux 4.14.225-168.357.amzn2.x86_64
- **Install tools**:
- **Others**:

**What happened**:

Switching to a `CeleryExecutor` from another

[2021-04-20 17:04] houqp commented on #14422
awesome, btw, I think the SIGKILL/OOM issue is something different from the bug that you fixed in #15172 , so we can work on that as a separate task/PR as well to get #15172 merged sooner.

[2021-04-20 17:23] baraknielsen opened #15458 "Airflow 1.10.10 TriggerDagRunOperator failure on Key already exists"
**Apache Airflow version**:
1.10.10

**What happened**:

Hi All,
when trying to trigger my dag which have a two-level nested subdags from another dag

the task is failing with an error that one of the subdags key already exist although the dag is eventually get triggered,

from the airflow code i saw that when calling main_dag.subdags it returns all the subdags inside including the one that are ne

[2021-04-20 17:36] #15451 closed

[2021-04-20 18:08] ephraimbuddy commented on #14422
Cool, I agree with you. I debugged with @ashb on the SIGKILL and found interesting things. It should be a separate PR indeed

[2021-04-20 18:08] #13700 closed

[2021-04-20 18:12] uranusjr commented on #15354
(For contributors) The next Airflow release will pin SQLAlchemy <1.4.0 so no further action is needed here.

[2021-04-20 18:24] #15218 closed

[2021-04-20 18:45] StartedFromTheButton commented on #15353
What do you think of replacing the old example with the one you mentioned and adding some additional documentation?

[2021-04-20 19:41] kaxil commented on #15413
Please provide reproduction steps and output of `pip freeze` please

[2021-04-20 20:01] ashishpatel0720 commented on #15088
@totogo are you working on it,
if not, I can start working on it.

[2021-04-20 20:20] john-jac commented on #14583
What would be helpful is recommended guidelines, regardless of the number of DAGs (as the number of DAGs don't linearly equate to parse time given other variables like DAG complexity).  For example, if Total Parse Time > x minutes, how does that effect task execution?  Does that mean that a user should add more resources to the scheduler?  If so, should they add memory/cpu/both?

Another option wo

[2021-04-20 21:40] zachliu opened #15463 "Inconsistency between the setup.py and the constraints file"
**Apache Airflow version**: 2.0.2

**What happened**:

Airflow's 2.0.2's [constraints file](https://raw.githubusercontent.com/apache/airflow/constraints-2.0.2/constraints-3.8.txt) has used newer `oauthlib==3.1.0` and `request-oauthlib==1.3.0` than 2.0.1's [constraints file](https://raw.githubusercontent.com/apache/airflow/constraints-2.0.1/constraints-3.8.txt)

However both 2.0.2's [setup.py](http

[2021-04-20 21:45] jaketf commented on #11098
@eladkal apologies for the delay on this. I have not been able to look at this in some time. I'm happy to let someone else take this up if there is interest, or close if there are not users actively interested in this feature.

[2021-04-21 00:12] #10797 closed

[2021-04-21 00:12] #10616 closed

[2021-04-21 00:16] christine-le commented on #10790
Posting this here in case anyone else finds it helpful. We recently upgraded to Airflow 2.0.1 and were getting the "was the task killed externally?" error our scheduler logs for one of our dags:

[code]

Searching through our Celery worker logs, I found a more accurate error message, indicating our dag could not be found:

[code]

In this case, it was a small/silly mistake where we accidentally de

[2021-04-21 00:48] uranusjr commented on #15463
Your analysis is accurate.

This allows the packages to be installed, but then Airflow will just break because flask-oauthlib is incompatible with oauth 3.1.0 an request-oauthlib 1.3.0.

[2021-04-21 02:24] KIRY4 commented on #15451
I'm not sure if it related with mentioned error. But now I'm trying to login to freshly installed airflow 2.0.2 with LDAP integration and I can't login. Log of web pod full of mentioned error/warning:

`WARNING - Exception when importing 'airflow.providers.google.common.hooks.leveldb.LevelDBHook' from 'apache-airflow-providers-google' package: No module named 'airflow.providers.google.common.hooks

[2021-04-21 03:04] AlienationX commented on #15447
I had the same problem, how to solve it?

[2021-04-21 06:21] #8291 closed

[2021-04-21 07:28] potiuk commented on #15463
Yeah. Seems like moving to 21.1.* is inevitable as we have already a few packages for which the old PIP is simply wrong. I have few other things that require manual modification of constraints for now and I will work on finally switching to the new PIP that should make it works for the future.

[2021-04-21 07:39] potiuk commented on #15451
@KIRY4 - can you see if you have error in your logs similar to:

[code]

[2021-04-21 08:13] pateash opened #15468 "DAG state is Success even in case of intermediate Task Failure"
**Description**
I am not sure if this is BUG, that's why creating as a Feature Request

**Minimal code to reproduce**

    args = {
    'owner': 'airflow',
    }

    with DAG(
        dag_id='dag_state_test',
        default_args=args,
        schedule_interval='0 0 * * *',
        start_date=days_ago(2),
    ) as dag:

    run_this = BashOperator(
        task_id='middle',
        bash_command='

[2021-04-21 08:26] pateash commented on #15468
### Workaround
As the task only look into parents for the state, we can create a **DummyOperator** which has dependency overall

    ......

    dummy_end = DummyOperator(
        task_id='dummy_end',
        trigger_rule=TriggerRule.NONE_FAILED_OR_SKIPPED

    )

    .........

    startOperator >> dummy_end
    run_this >> dummy_end
    endOperator >> dummy_end

![image](https://user-images.gith

[2021-04-21 09:02] KIRY4 commented on #15451
@potiuk

I'm building bit customized image using Breeze:
[code]
Later deploying it using following Helm chart: https://github.com/airflow-helm/charts/tree/main/charts/airflow on AKS 1.18.14.

And yes, I'm getting following in logs from web pod:
`[2021-04-21 08:59:23,812] {manager.py:887} ERROR - LDAP search for '(sAMAccountName=***)' in scope 'DC=***,DC=com' returned multiple results`

[2021-04-21 10:17] potiuk commented on #15463
OK. I found the root cause. That was in fact a bug in our constraint generation process. Fix is coming.

[2021-04-21 10:21] shihabcsedu09 commented on #14791
Looks like the issue also persists in Airflow 2.0.2

[2021-04-21 11:53] potiuk commented on #15451
For the future reference @KIRY4 - this is the root cause (added in FAB 3.2.0). For now i fixed constraints viaa #15470  but in a few days when FAB 3.2.3 gets released we will be able to us this: https://github.com/dpgaspar/Flask-AppBuilder/pull/1602#issuecomment-823962936

[2021-04-21 11:54] potiuk commented on #15451
You can rebuild your image with `--force-pull-image` flag and it should work fine now @KIRY4

[2021-04-21 11:58] potiuk commented on #15451
BTW. I recommend to use corresponding `docker build .` command to build the image rather than breeze.

See the latest documentation for this with nice examples: https://airflow.apache.org/docs/docker-stack/build.html#customizing-the-image

[2021-04-21 12:06] #15463 closed

[2021-04-21 12:34] denismatveev opened #15471 "Multiple airflow schedulers"
I am trying to install three node airflow cluster. Each node has airflow scheduler, airflow worker, airflow webserver, also it has celery, RabbitMQ cluster and Postgres multi master cluster(implemented with Bucardo). Versions of software:

 - Airflow 2.0.1
 - Postregsql 13.2
 - Ubuntu 20.04
 - pyhton 3.8.5
 - celery 4.4.7
 - bucardo 5.6.0
 - RabbitMQ 3.8.2

And I occur the problem starting airflow

[2021-04-21 13:41] abdullahodibat opened #15472 "Jobs Menu display job as failed although it was successful"
Hello,
When i go to the `Browse` menu on the UI and then choose `Jobs`, i see some jobs as `failed`, although they are successful.
Any idea whats happening?
i am using airflow 2.0.1

Thanks in advance!

[2021-04-21 14:50] pateash commented on #12147
@quan-nguyen-sy, @mik-laj @kaxil
this has been resolved in above PR, can we mark this issue close.

[2021-04-21 15:06] #12147 closed

[2021-04-21 15:07] mik-laj commented on #12147
@pateash thanks. Done

[2021-04-21 16:46] #15416 closed

[2021-04-21 17:15] kaxil commented on #13916
@gillbuchanan Can you test it with Airflow 2.0.2 - https://github.com/apache/airflow/blob/2.0.2/UPDATING.md#airflow-202 where we updated the default for `[kubernetes ] enable_tcp_keepalive = True`

[2021-04-21 17:23] zhzhang commented on #15447
@AlienationX you can include the needed constraint dependencies by doing
[code]
as described [here](https://airflow.apache.org/docs/apache-airflow/stable/start/local.html).

If you're using poetry, you can do `poetry run pip ...` followed by the same command instead.

[2021-04-21 17:56] mrpowerus commented on #14974
It seems that adding the TCP keepalive fixed the problem, which was obvious in hindsight. However, this was hard to find, due to no logging output.

[2021-04-21 17:56] #14974 closed

[2021-04-21 18:04] zachliu commented on #15463
@uranusjr actually i was going to ask about that. airflow should have failed due to the incompatibility but it didn't and i was really confused :confused:
anyway, it doesn't matter now since the issue is solved

[2021-04-21 18:55] metropolis-ameer opened #15476 "Setting sql_alchemy_conn via secrets backend fails"
**Apache Airflow version**: 2.0.2, 1.10.15

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): not used

**Environment**: docker python:3.7-slim-buster

- **Cloud provider or hardware configuration**: container image in docker
- **OS** (e.g. from /etc/os-release): Debian GNU/Linux 10 (buster)
- **Kernel** (e.g. `uname -a`): Linux f215c7ef4950 4.19.121-linuxkit #1 SMP Thu

[2021-04-21 19:06] uranusjr commented on #15463
Python dependency conflict detection is complicated because you only see incompatibilites when the related code is actually accessed. Sometimes that’s easy to tell (e.g. when imports change), but more often it’s some function argument change or even semantic change, so there’s really no way to tell what is working and what is not without analysing call paths to the dependency. So if it works for y

[2021-04-21 19:22] zachliu commented on #15463
yeah i forgot that not all functions all lines of code from the conflicting packages were called here :joy:

[2021-04-21 19:23] potiuk commented on #15463
Just to explain the root cause of those problems and some complexities involved

1) Root cause of the problem above:

The original problem turned out to be a bug in recently changed mechanism of generating constraints. Fixed here:  https://github.com/apache/airflow/pull/15470 - the bug was, that when we prepared constraints for "production" release we use "pip-providers" version of constraints - w

[2021-04-21 21:16] uranusjr commented on #15463
Just to clarify, “`pip check` will show that everything is fine” does not mean everything is actually fine. It still isn’t, but limitation in `pip check`’s design prevents to detection.

[2021-04-21 22:30] zachliu commented on #15000
Yes. And Fargate tasks are more likely to experience this `failed-to-start` issue than the conventional EC2 tasks. I've been back and forth with AWS support on this one for a long long time. The AWS's diagnostic is this:

* Randomly AWS could fail to provision the ENI (elastic network interface) when running your Fargate task, and when this happens, the Fargate task fails to start **silently**. Th

[2021-04-21 22:32] zachliu commented on #11663
Most likely AWS's :hankey:
See my comments here https://github.com/apache/airflow/issues/15000#issuecomment-824404502

[2021-04-21 22:32] #11663 closed

[2021-04-21 22:37] lukas-at-harren commented on #13542
Running on 2.0.2 now, will keep you posted.

[2021-04-21 23:34] RNHTTR commented on #15356
I created a [PR to the airflow-site repo](https://github.com/apache/airflow-site/pull/411).

[2021-04-21 23:34] #15356 closed

[2021-04-22 00:49] metropolis-ameer commented on #15476
Just curiously digging around in `v2-0-stable`, it looks like `def get` has `_get_option_from_config_file` before `_get_option_from_commands` or `_get_option_from_secrets`.
Should it be after `_get_option_from_secrets` and before `_get_option_from_default_config`?

[2021-04-22 06:18] Nidhoggur1993 opened #15481 "issues with Mysql 8"
Apache Airflow version:
[code]

Kubernetes version (if you are using kubernetes) (use kubectl version): N/A

Environment:

Cloud provider or hardware configuration:
OS (e.g. from /etc/os-release):
[code]
Install tools:pip3
Others:
What happened
:
Mysql 8 seems have changed it's default password plugin from `native` to `caching_sha2_password` ([refer](https://dev.mysql.com/doc/refman/8.0/en/upgradi

[2021-04-22 06:18] Nidhoggur1993 commented on #15481
[code]

[2021-04-22 06:28] lukas-at-harren commented on #13542
I can observe the same problem with version 2.0.2:

* Tasks fail, because a DAG/task has gone missing (we are using dynamically created DAGs, and they can go missing)
* The scheduler keeps those queued
* The pool gradually fills up with these queued tasks
* The whole operation stops, because of this behaviour

My current remedy:

* Manually remove those queued tasks

My desired solution:

When a D

[2021-04-22 06:29] Nidhoggur1993 commented on #15481
[code]

[2021-04-22 07:17] mik-laj commented on #15481
You need to change `sql_engine_collation_for_ids` .See: http://airflow.apache.org/docs/apache-airflow/stable/howto/set-up-database.html#setting-up-a-mysql-database

[2021-04-22 07:24] mik-laj commented on #15471
I suspect that the problem is with Bucardo, which does not support record locking properly. We have high expectations, because it is a key protection mechanism against running the same task by many schedulers.
http://airflow.apache.org/docs/apache-airflow/stable/scheduler.html#database-requirements
If that doesn't work you will have problems with duplicate keys.

[2021-04-22 07:47] Nidhoggur1993 commented on #15481
Thanks. I changed that to `utf8mb4_general_ci` , it works ;-)

[2021-04-22 07:50] potiuk commented on #15463
Correct. Even though theoretically it could be possible potentially (pip has all the information necessary to make this check really thoroughly). Unfortunately it is not quite obvious when the message printed in this case is literally 'No broken requirements found' :).

[2021-04-22 08:24] jagusztinl opened #15482 "Unable to log to Azure PVC"
**Apache Airflow version**:
2.0.1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
Openshift 4.5 on Azure

**Environment**:
Azure PVC

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:
Installed Airflow 2.0.1 to OKD, on Azure, defined Azure PVC, f

[2021-04-22 09:22] filippociceri opened #15483 "Dataflow operator checks wrong project_id"
**Apache Airflow version**:
composer-1.16.1-airflow-1.10.15

**Environment**:

- **Cloud provider or hardware configuration**:  Google Composer

**What happened**:
First, a bit of context. We have a single instance of airflow within its own GCP project, which runs dataflows jobs on different GCP projects.

Let's call the project which runs airflow project A, while the project where dataflow jobs a

[2021-04-22 10:14] dnskr commented on #9722
@ashb I have the same case and issue as @prongs but with Airflow 2.0.2 and latest version of Helm chart.
Playing around directory structure, PYTHONPATH and sys.path didn't help

[2021-04-22 10:24] tanuj-ahuja opened #15485 "Support for View/Export third party artifacts from Airflow"
**Description**

Enable an option to download or view artifacts like log files, reports, execution detail files, etc. generated by third party tool people run on Airflow.

**Use case / motivation**

We encountered this use-case while using Airflow to run our [Data Build Tool](https://www.getdbt.com/) jobs via the [BashOperator](https://airflow.apache.org/docs/apache-airflow/stable/howto/operator/b

[2021-04-22 10:38] potiuk commented on #9722
Not sure if it matters, but can you check the ownership/access permission of the files?
Just run `ls -la` in your /opt/airflow/dags folder ?
Also what is the user you run airflow with ?

[2021-04-22 11:00] prongs commented on #9722
As a workaround we're going with the packaged dags. That seems to work well. Only problem being you can't see the full code in the web ui, which I hope airflow can fix easily in next versions.

[2021-04-22 11:07] dnskr commented on #9722
Thanks for the reply @potiuk I'm sure that there are no issues with permissions.
The reason of the problem is how airflow imports DAGs and modules. Looks like it's a race between git-sync and scheduler containers.
I have added delay to scheduler container [here](https://github.com/apache/airflow/blob/master/chart/templates/scheduler/scheduler-deployment.yaml#L113) and it solved the issue
[code]
Of

[2021-04-22 11:35] denismatveev commented on #15471
Thanks! I have tested this, just launched PostgreSQLl without Bucardo replication and it works!

[2021-04-22 12:40] potiuk commented on #9722
Should not git-sync (single pass) be added as an init-container ? I guess that should solve the problem as well.

[2021-04-22 12:40] potiuk commented on #9722
Ah i see you added it :)

[2021-04-22 13:32] jstelzer opened #15486 "Unable to connect to redis in aws that requires encrypted data in flight"
**Apache Airflow version**: 2.0.1

**Environment**: AWS

- **Cloud provider or hardware configuration**:  AWS using redis configured to encrypt data in flight
- **OS** (e.g. from /etc/os-release): docker image based on apache/airflow:2.0.1 running in ECS

**What happened**:

When deploying the flower service, clicking on the broker tab of the ui would just hang. Nothing got logged.

**What you exp

[2021-04-22 14:02] #15471 closed

[2021-04-22 14:03] ashb commented on #15485
Check out https://airflow.apache.org/docs/apache-airflow/stable/howto/define_extra_link.html?highlight=operator%20links -- does that give you the hook points you are after?

[2021-04-22 14:06] ashb commented on #15481
@Nidhoggur1993 Is this problem now resolved and this issue can be closed?

[2021-04-22 14:15] ashb opened #15488 "Dynamic DAGs that disappear end up stuck in queued state."
I can observe the same problem with version 2.0.2:

* Tasks fail, because a DAG/task has gone missing (we are using dynamically created DAGs, and they can go missing)
* The scheduler keeps those queued
* The pool gradually fills up with these queued tasks
* The whole operation stops, because of this behaviour

My current remedy:

* Manually remove those queued tasks

My desired solution:

When a D

[2021-04-22 14:22] ashb commented on #13542
@lukas-at-harren  Ahhhh, right, yes if you have dynamic dags and those dags disappear this is currently and edge case.  I've split that off as a separate issue, as I _think_ it's separate to the OP's issue.

@Overbryd Do you have static dags (where _every_ time you parse a dag file it produces the same DAGs) or dynamic (where there is some loop/external file read where the result of parsing the da

[2021-04-22 14:27] bobpace opened #15489 "Remote Logging: WasbTaskHandler wasb_read returns bytes instead of string"
**Apache Airflow version**:
2.0.1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.2", GitCommit:"faecb196815e248d3ecfb03c680a4507229c2a56", GitTreeState:"clean", BuildDate:"2021-01-14T05:15:04Z", GoVersion:"go1.15.6", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", M

[2021-04-22 14:29] krishanj20 commented on #13129
Hi, I also have the same issue. In my case I'm using the init container, which leads to the pod being in a podinitialising state with a carbon copy of @ziliangpeng has. Airflow knowledge is the most amazing, but happy to help where I can.

[2021-04-22 14:32] lukas-at-harren commented on #13542
@ashb The setup works like this (I am @overbryd, just a different account.)

* There are dynamic DAGs that are part of the repository, and that gets pulled in regularly with a side-car container on the scheduler.
* The worker has an init container that pulls the latest state of the repository.
* Secondly I have DAGs that are built (very quickly) based on database query results.

This scenario open

[2021-04-22 14:37] ashb commented on #13542
:lolsob:

Got it!

Right, I think we have enough case to fix this now, and there are two areas to fix:

1. Dags that vanish should get their queued tasks failed.
2. The task failing with DAG not found should _also_ get reported back and make the executor/scheduler update the state.

[2021-04-22 17:01] zachliu commented on #15463
@potiuk out of curiosity, i'm trying to wrap my head around the 2nd problem and that example. let's see if i understand it correctly:

In Airflow 2.0.2's Python 3.8 [constraints file](https://raw.githubusercontent.com/apache/airflow/constraints-2.0.2/constraints-3.8.txt) there are:
* google-cloud-bigquery-storage==2.4.0
* google-cloud-bigquery==1.28.0
* pandas-gbq==0.14.1

In pandas-gbq 0.14.1's [

[2021-04-22 18:10] wirshad00 opened #15491 "webserver is not logging"
Hi,

I am unable to capture the airflow webserver logs. The file (airflow-webserver.log and airflow-webserver.out) are empty under path ~/airflow. I tried to start the webserver and the scheduler using the commend below. I am able to login to UI and run DAG's.

airflow webserver -D
airflow scheduler -D

I really appreciate the help.

Regards,

Walid

[2021-04-22 19:00] denismatveev commented on #15471
Please add this info to the official documentation to clarify the implementation multi master clusterisation.

[2021-04-22 19:14] pelaprat commented on #13542
We've updated to Airflow 2.0.2 and, after one DAG run, the problem did not resurface. None of the 2,000 or so tasks that are executed by the DAG ended up in a zombie state. We're going to keep watch over this for the next few days, but the initial results look promising.

[2021-04-22 19:53] kaxil commented on #13918
A combination of https://github.com/apache/airflow/pull/14186 and https://github.com/apache/airflow/pull/15492 should fix this issue

[2021-04-22 20:30] Davide95 opened #15493 "AIRFLOW_CONSTRAINTS_REFERENCE does not work properly while building the Docker image"
**Apache Airflow version**: 2.0.1
- **OS**: Linux (tested both on a GitLab pipeline and using Ubuntu 20.10)
- **Kernel** : 5.8.0-50-generic

**What happened**:

`docker build` does not work if `--build-arg AIRFLOW_CONSTRAINTS_REFERENCE="constraints-2.0.2"` is specified as a build arg on `v2-0-stable` branch:
[code]

The returned error is:
<details>
<summary>
ERROR: 404 Client Error: Not Found for

[2021-04-22 21:05] alokgarg5 commented on #15488
We are facing the same issue, I am using celery executor, upgraded to version 2.0.2 , tasks do not get executed.

[2021-04-22 21:17] potiuk commented on #15493
Yeah. It looks like  cherry-picking bug. We have now different types of constraints and default value of the build-arg (AIRFLOW_CONSTRAINTS) was wrongly overridden to `constraints-2.0` (where it was supposed to be `constraints`)  while cherry-picking. This rename was needed in another place but not here.

I will fix it shortly. In the meantime, you can simplify your build command a lot now.
The bu

[2021-04-22 21:25] potiuk commented on #15493
Thanks for reporting @Davide95 !

[2021-04-22 21:27] marcomattolab commented on #15386
Fixed.
I've modified 'navbar_right.html' forcing logout directly on keycloak to invalidate session with the modified logout url below.

- Original logout URL: http://airflow:8280/logout
- Modified logout URL: http://keycloak:8080/auth/realms/airflow/protocol/openid-connect/logout?redirect_uri=http://airflow:8280/logout

I don't know if there are more suitable solutions but it works.

[2021-04-22 21:27] #15386 closed

[2021-04-22 21:27] Davide95 commented on #15493
Thank you for the quick reply!

[2021-04-22 21:31] potiuk commented on #15493
Shoudl be fine now if you pull the v2-0-stable branch (just merged the fix)

[2021-04-22 21:32] #15493 closed

[2021-04-22 22:11] potiuk commented on #15463
Happy to brainstorm/collaborate on fixing this one. I have never had time to go to the bottom of it - why PIP 21 is actually not able to downgrade it. I think there is another dependency of 'google' providers (most likely a transitive one with another extra) that causes the bigquery-storage to be "limited" to >2.0.0. Unfortunately with transitive dependencies with extras pipdeptree and similar too

[2021-04-22 22:20] argemiront opened #15495 "3rd-party packages firing "ModuleNotFoundError" on official airflow 2.0.2 images"
**Apache Airflow version**:
2.0.2

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): official airflow images _apache/airflow:2.0.2-python3.8_  and apache/airflow:2.0.2-python3.6
- **Kernel** (e.g. `uname -a`):
- **Install tools**: docker
- **Others**:

**What happene

[2021-04-22 22:46] wolfier opened #15496 "InvalidatePoolError"
**Apache Airflow version**: 2.0.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

[code]

**What happened**:

I am experiencing scheduler restarts when I encounter an `InvalidatePoolError`.

[code]

**What you expected to happen**:

I expect Airflow to retry the connection. SQLAlchemy (and DisconnectionError in general) advices [InvalidatePoolError](https://docs.sql

[2021-04-22 23:42] uranusjr commented on #15496
SQLAlchemy [already retries twice](https://github.com/zzzeek/sqlalchemy/blob/71ea06c958cd9f105ef0a9ae0621a75a8619421a/lib/sqlalchemy/pool/base.py#L782), and only bubbles up `InvalidatePoolError` (and `DisconnectionError` in general, which is a parent class) when that runs out. But still, some kind of back-off retry may be useful, especially since (if I understand the implementation correctly) SQLA

[2021-04-23 01:10] wolfier commented on #11357
The value for the environment tag can be set in the client init method (shown in the Sentry documentation), which Airflow does not set.

However, you can set the sentry environment through `SENTRY_ENVIRONMENT`.

https://docs.sentry.io/clients/node/config/#environment-variables

[2021-04-23 02:07] uranusjr commented on #15489
It might not be a good idea to change `wasb_read()` to return a str, but changing the log line (in `WasbTaskHandler._read()`) to do `remote_log.decode("utf-8", errors="backslashreplace")` IMO.

Would you be interested in submitting a pull request for that?

[2021-04-23 02:12] uranusjr commented on #15491
`-D` puts the process in daemon mode so of course you’re not going to see logs in the terminal. Either remove `-D` or use the various log options to log to files. You can learn about those with `--help` or by reading the documentation.

[2021-04-23 04:59] tanuj-ahuja commented on #15485
@ashb Thank you for your response.

The above shared link shows how to add an extra link to Airflow but we want to be able to view or download specific files from Airflow UI.

Just to be clear these files are generated within the host machine/container running Airflow.

[2021-04-23 07:51] potiuk commented on #15495
You should not switch to the root user when you are installing PIP packages. You only need that if you want to install additional `apt` level dependencies.

Please take a look at the latest (released with 2.0.2) documentation about building the images  where you have all necessary examples and explanations: https://airflow.apache.org/docs/docker-stack/build.html

[2021-04-23 07:51] #15495 closed

[2021-04-23 09:18] AlienationX commented on #15447
It's ok, thx

[2021-04-23 09:58] barryzhai opened #15501 "PythonOperator failed with multiprocessing python callable"
**Apache Airflow version**:
2.0.2

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): CentOS 7
- **Kernel** (e.g. `uname -a`): 3.10.0-1160.11.1.el7.x86_64
- **Install tools**:
- **Others**:
  - Airflow created by docker compose from https://airflow.apache.org/docs/apa

[2021-04-23 10:27] brunojus opened #15502 "Error Airflow in Dockerfile is not creating the database"
I am getting the error below when I am running the Airflow with docker-compose in a Macos/Windows environment.

[1](https://pastebin.com/hSpcthUS)

**Apache Airflow version**: 2.0.1

**Environment**:

- **OS** (e.g. from /etc/os-release): Windows/Macos
- **Install tools**: Docker

[2021-04-23 10:48] raphaelauv commented on #15501
same as -> https://github.com/apache/airflow/issues/14896

[2021-04-23 12:17] trollhe opened #15503 "airflow dag sucess , but task is no status and not working"
hello,

   in airflow , dag statu is running ,but task is not running and no status,see after:

![image](https://user-images.githubusercontent.com/41068725/115868579-42902480-a46f-11eb-86f1-38371bb180b1.png)

   detail logs after:
dag logs:
![image](https://user-images.githubusercontent.com/41068725/115869053-e974c080-a46f-11eb-8442-e5994af5b74f.png)

one task logs:
![image](https://user-images.gi

[2021-04-23 14:13] alete89 commented on #13542
As many others here, we're also experiencing 0 slots, and task scheduled but never being run on Airflow 1.10.14 on kubernetes.
restarting the scheduler pod did triggered the run for those stuck tasks.

[2021-04-23 14:55] argemiront commented on #15495
My bad! I had `apt` installs there to add git and a couple more tools but removed last time from my comments to get it smaller but the problem persists. Would you mind to reopen the ticket?

[2021-04-23 14:59] potiuk commented on #15495
What do you mean "persist" ? Did you remove the USER root and install the surveymonty and it is still not visible? Are you sure you rebuilt the image with it and used the rebuilt image after that ?

[2021-04-23 15:03] barryzhai commented on #15501
Got it. Thanks.

[2021-04-23 15:03] #15501 closed

[2021-04-23 15:04] potiuk commented on #15495
FYI: This works:

[code]

[2021-04-23 15:13] hugohadlow-globality commented on #14811
sqlalchemy-utils 0.37.0 (2021-04-12) now supports sqlalchemy 1.4.
"Added SQLAlchemy 1.4 support"
https://github.com/kvesteri/sqlalchemy-utils/blob/master/CHANGES.rst

[2021-04-23 15:21] potiuk commented on #15463
Hey @uranusjr @zachliu

I am looking into it now, any help or observation much appreciated:

The output of: `pip install apache-airflow[google]==2.0.2 --constraint https://raw.githubusercontent.com/apache/airflow/constraints-2.0.2/constraints-3.6.txt `:

Here: https://gist.github.com/potiuk/04f6127469a709e3e47be7585c9a863c

Much more verbose output with -vvv :

https://gist.github.com/potiuk/17a3d

[2021-04-23 15:28] potiuk commented on #15463
OK. So it seems the error produced by PIP is wrong.
The verbose option is producing a DIFFERENT error:

[code]

Somehow it looks like when PIP is run without `-vvv` option it prints wrong error. It seems that it's the PYARROW version is wrong no the google-cloud-biquery-storage. @uranusjr I am going to open an issue in PIP. It is very easily reproducible.

[2021-04-23 15:33] zachliu commented on #15463
both errors are valid right? pip somehow changes evaluation order with the verbose option :thinking:

[2021-04-23 15:38] potiuk commented on #15463
I think not. I believe we ONLY have problem with Pyarrow, and it is misreported. Looks like instead of actual dependency that is wrong (`pyarrow`), the parent of that dependency (`google-cloud-bigquery-storage`) is printed out by PIP. Note that other than that - those are the very same limits which are problem (`<2.0.0dev,>=1.0.0; extra == "bqstorage"`). I think this is a bug in PIP.

[2021-04-23 15:40] argemiront commented on #15495
Installing the pypi dependencies on the airflow user solved the issue! Thank you so much!

[2021-04-23 15:44] zachliu commented on #15463
i'm confused, looks like `google-cloud-bigquery-storage` and `pyarrow` are both "children" of `bqstorage` right?
https://github.com/googleapis/python-bigquery/blob/c75e9cda85abdad440d87298b30e9d5291676064/setup.py#L39-L49

[2021-04-23 15:45] potiuk commented on #15463
Right. It is likely the "sibling" of the dependency that is printed, not the parent

[2021-04-23 15:46] wirshad00 commented on #15491
Thank you @uranusjr for pointing the issue. I was able to figure it using --help

[2021-04-23 15:46] #15491 closed

[2021-04-23 15:47] potiuk commented on #15463
Issue created https://github.com/pypa/pip/issues/9823 @uranusjr -> would you mind taking a look maybe ?

[2021-04-23 15:50] zachliu commented on #15463
apologize... still confused :sweat_smile:  what about the conflict between
[code]
and
[code]

[2021-04-23 15:53] potiuk commented on #15463
That's the thing. I cannot find "google-cloud-bigquery-storage >= 1.0.0, <2.0.0dev --- from bqstorage" ANYWHERE. Thats' why I think it is wrong error message.

[2021-04-23 16:02] zachliu commented on #15463
got it, always forget the constraint is auto-generated :facepalm:

[2021-04-23 16:07] potiuk commented on #15463
I am not 100% sure of what's going on though - and while It awfully looks like this - I'd love at least some way of debugging it (and with -vvvv I do not even get a single `google-cloud-bigquery-storage` reference, so maybe this is not it - maybe indeed it's just a different sequence, but I would at least like to know what's causing the problem :).

[2021-04-23 16:58] Davide95 commented on #15493
@potiuk I've just tested it, it works, many thanks

[2021-04-23 17:14] houqp commented on #11086
@molejnik-mergebit actually I take it back, this bug is not fixed, but it's not fixable after #10917, I believe @ephraimbuddy is working on it.

[2021-04-23 18:42] zachliu commented on #15463
so i was playing with `Poetry` and set
[code]
in my `pyproject.toml`, then i installed everything without any errors. It turns out `google-cloud-bigquery` has been bumped to `2.6.1` just to make everything match up.
[code]
Here is the poetry output and lock file:
https://gist.github.com/zachliu/cb8de028f5ce08c03d38f329b97794d9

[2021-04-23 19:22] eladkal commented on #8676
@zsmeijin is this also happens on Airflow 2?

[2021-04-23 19:54] molejnik-mergebit commented on #11086
Thanks for the update. I got it as well after update to 2.0.1, but I didn't have steps to reproduce it.

[2021-04-23 20:05] klalafaryan opened #15508 "apache-airflow[google_auth] is not working (2.0.1)"
**Apache Airflow version**: 2.0.1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.19.6"

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:  When trying to enable `apache-airflow[google_auth]`,  I am getting following exception

[2021-04-23 20:25] potiuk commented on #15508
The way how extra dependencies are installed in the helm chart is causing this. There is nothing we can do in airflow.

The problem is that specifying `extraPipPackages' in the helm chart, make it reinstall a new version of Airlfow in a different site location and it causes that the module cannot be imported. There is no way Airflow community can do anything about it.

I suggested the way to fix,

[2021-04-23 20:25] #15508 closed

[2021-04-23 21:41] Goodkat commented on #15016
I can take it, if you don't mind

[2021-04-23 22:47] #14422 closed

[2021-04-23 22:54] #13918 closed

[2021-04-23 23:32] bobpace commented on #15489
Ah ok I see what you mean, sure I'll take a shot at a PR this weekend.

[2021-04-23 23:57] krisanne commented on #15486
I'm facing the same issue with elasticache redis configured to use encryption in transit. It's not working for me even after modifying default_celery.py to take rediss://. Can you please post the broker_URL format you are using? Documentation is not very clear on this.

[2021-04-24 09:32] ephraimbuddy commented on #15489
There's an issue on this that have been fixed, can you share the version of apache-airflow-providers-microsoft-azure you're using? If you're on a lower version please upgrade and try if you can reproduce it again

[2021-04-24 12:29] marcosmarxm commented on #15016
@krnhotwings this function is useful because the `connect_kwargs` also is able to receive a JSON object and `clean_bool` maps the JSON bool type to Python boolean type. The function will convert `"true"` to `True` and doesn't change other strings.

The `connect_kwargs` you use can be also configured in the UI when adding the ODBC connection.
You can see more here:
https://airflow.apache.org/docs/a

[2021-04-24 12:34] marcosmarxm commented on #15502
Hi @brunojus installing Airflow in MacOS/Windows sometimes can be more difficult. There are some issues/contributions to help users on that. Can you look #14231

[2021-04-24 12:54] potiuk commented on #15502
Closing this as invalid. There is no information about how you are running this and what docker-compose you use. The Dockerfile is not supposed to create a database, docker image is only there to run the software.

If you have an external DB, you need to create airflow DB using some kind of init container. With Docker-compose you could create an init-service that could do it. There are examples in

[2021-04-24 12:54] #15502 closed

[2021-04-24 14:08] potiuk commented on #15463
Interesting. I am trying it now today to see where the google-cloud-bigquery limitations come from in the constraints, but I agree - this is the root cause of the incompatibilities.

[2021-04-24 15:49] potiuk commented on #15463
OK @zachliu @uranusjr -> I think I solved it. The PR to switch to PIP 21.* is here: https://github.com/apache/airflow/pull/15513

The culprit was apache-beam and it's 'gcp' extra. We had "apache-beam[gcp]" specified in our requirements for apache-beam, but in fact the `gcp` is only needed for it if you want to use it together with `google` package. Which is already an extra on the 'apache-airflow-

[2021-04-24 16:22] mik-laj commented on #15485
@tanuj-ahuja  I am afraid that Airflow does not have any generic mechanism for storing artifacts and we rely on each integration to upload the relevant artifacts by itself, eg Dataflow operators save artifacts in GCS.

[2021-04-24 16:25] mik-laj commented on #15486
CC: @auvipy

[2021-04-24 18:34] potiuk commented on #15463
The build is Green :). Once we merge we will have PIP 21 official support for Airflow. Yay!

[2021-04-25 01:58] Nidhoggur1993 commented on #15481
@ashb I have a workaround, but it will be nice if there has a feature to support `caching_sha2_password` for mysql 8.

[2021-04-25 03:21] zachliu commented on #15463
lol, this culprit hides [deep](https://github.com/apache/beam/blob/4202efb5f01254e46fe421225a2ebbdba46da04d/sdks/python/setup.py#L192) :joy:

[2021-04-25 04:26] auvipy commented on #15486
I can recall a Redis-py issue[upstream] which is now fixed  in celery==5.1.0b1

[2021-04-25 05:25] krnhotwings commented on #15016
@marcosmarxm Sorry, but I'm still not entirely sure why `clean_bool` is necessary. In Python's eyes, JSON objects would just be raw strings that need to be parsed by the `json` lib and converted into a dictionary with Python data types, correct?

It looks like `clean_bool` is being applied to the merged dicts of `connection_extra_lower` and `_connect_kwargs`. `connection_extra_lower` is just apply

[2021-04-25 05:48] potiuk commented on #15463
It does. But with even more extras I think I managed to eat cake and have it too..

The nice thing is that I am not impairing the whole "google" provider, or "apache.beam" provider for Airflow. They will install ok alongside each other and most of it will even work even if the 'gcp' extra from Bem is not installed (most of the functionality will work with the new google python packages, but not ev

[2021-04-25 19:05] potiuk commented on #15045
We are just about to get Py3.9 compatible with apache.beam relase #15515 ...Closing this one

[2021-04-25 19:05] #15045 closed

[2021-04-25 21:40] marcosmarxm commented on #15016
@krnhotwings you are correct and nice work diving into this. Maybe this is just legacy structure that keep until nowadays.
Just for sanity: do you really add the `connect_kwargs` without double-quotes in the UI and works? OR can you just give a try?

[2021-04-25 22:09] krnhotwings commented on #15016
@marcosmarxm Yes, I have tested in 2.0.2 and have my extras as follows:

[code]
[code]

(Had to double-check today. It was getting late last night.)

[2021-04-25 22:11] bobpace commented on #15489
was using:
apache-airflow-providers-microsoft-azure==1.1.0

now using:
apache-airflow-providers-microsoft-azure==1.3.0

confirmed that it works without issue after upgrading to latest version, thank you for your help!

[2021-04-25 22:11] #15489 closed

[2021-04-25 23:36] Dr-Denzy commented on #15456
I will take this on @kaxil

[2021-04-26 07:13] potiuk commented on #12748
I think as of April after some fixes, the coverage is back on track:

Particularly: https://github.com/apache/airflow/commit/1dfbb8d2031cb8a3e95e4bf91aa478857c5c3a85  helped with that because master merges started to succeed and "master merge" builds are the ones contributing "full coverage" information

Example:
* s3 is 94%: https://codecov.io/gh/apache/airflow/src/master/airflow/providers/amazon

[2021-04-26 07:13] #12748 closed

[2021-04-26 07:28] potiuk opened #15523 "Improve test coverage of Kubernetes Executor"
The Kubernetes executor has surprisingly low test coverage: 64%

https://codecov.io/gh/apache/airflow/src/master/airflow/executors/kubernetes_executor.py - looks like some of the "flush/end" code is not tested.

We might want to improve it.

[2021-04-26 07:29] potiuk opened #15524 "Improve test coverage of task_command"
Task command has a few missing commands not tested: https://codecov.io/gh/apache/airflow/src/master/airflow/cli/commands/task_command.py (77%)

[2021-04-26 07:32] potiuk opened #15525 "Improve test coverage of views"
There are quite a number of untested views:

https://codecov.io/gh/apache/airflow/src/master/airflow/www/views.py 80%

We might want to improve test coverage for those.

[2021-04-26 07:33] potiuk opened #15526 "Improve test coverage of Kubernetes config_refresh"
Kuberentes refresh_config has untested method https://codecov.io/gh/apache/airflow/src/master/airflow/kubernetes/refresh_config.py 75%

We might want to improve that.

[2021-04-26 07:34] potiuk commented on #12748
Created some good-first-issues for those: #15523 #15524 #15525 #15526

[2021-04-26 08:15] shopee-jin opened #15527 "Rescheduled sensor task stuck forever because scheduler receive executor failure event [Extremely Flaky]"
**Apache Airflow version**:
1.10.9

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
NOT running containers

**Environment**:
Ubuntu 18.04.5 LTS
Redis, CeleryExecutor

**What happened**:
We have >10k sensor tasks in the airflow cluster and we use `Reschedule` mode to save resources.
In extremely rare scenarios (**estimated 1 out of a million**), a sensor task could stu

[2021-04-26 09:01] Goodkat commented on #15016
@marcosmarxm I have removed `clean_bool ` on my local copy and can confirm that it returns the schema_name instead of None now. I used the folowing extras for my test:

`{
  "connect_kwargs": {
    "CurrentSchema": "SCHEMA",
    "Blah": true,
    "Blah2": false
  }
}`

`>>> from airflow.providers.odbc.hooks.odbc import OdbcHook

{'CurrentSchema': 'SCHEMA', 'Blah': True, 'Blah2': False}`

As the ne

[2021-04-26 10:21] yuqian90 opened #15529 "rich pinned to 9.2.0 in setup.cfg"
This line is found in in `setup.cfg` which pins `rich` to 9.2.0. Is there a reason this is needed? The latest `rich` is already at 10.1.0. I briefly tested this version and see no issues.

What are the things we need to test before unpinning `rich` ?

[2021-04-26 10:28] potiuk commented on #15529
Just push a PR and tests will run automatically. If they pass, we can merge it.

[2021-04-26 10:43] kaxil commented on #12748
Awesome, thanks @potiuk

[2021-04-26 10:45] kaxil commented on #10278
This probably might be fixed by https://github.com/apache/airflow/pull/14323 for Airflow >= 2.0.2 , @Dr-Denzy will verify it and see if this fixed for 2.0.2 and above

[2021-04-26 10:52] kaxil commented on #15149
This shoudl be closed by https://github.com/apache/airflow/pull/15263

[2021-04-26 10:52] #15149 closed

[2021-04-26 10:53] Dr-Denzy commented on #15523
I will like to add tests for this as well @kaxil

[2021-04-26 10:57] benyaa opened #15530 "Could not get scheduler_job_id"
**Apache Airflow version**: 2.0.2

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):  1.20.2

**Environment**:

- **Cloud provider or hardware configuration**: Kubernetes

**What happened**: I tried to configure the scheduler, which runs in its own pod, to use the CeleryKubernetesExecutor, but it failed with the error "Could not get scheduler_job_id". I saw that it fail

[2021-04-26 11:25] atutkus commented on #13675
Is there a workaround for this bug?
I need to see errors from container.
Thank you

[2021-04-26 11:28] etra commented on #13675
Hello,
is there a workaround for this bug? I have I believe the same issue: If enable_logging=True dag gets stuck and fails even if the container has completed successfully

Thank you

[2021-04-26 12:24] rmanvar-indeed commented on #13129
I think https://github.com/apache/airflow/pull/11368 should resolve cases when the pod tried to be re-attached to has failed. ( the PR was added in airflow 1.10.13 ) However, for cases when pod is still in initializing phase, this issue would persist.

[2021-04-26 13:16] Dr-Denzy commented on #10278
Reproduced this issue with Airflow 2.0.2 and 2.1.0dev0.
Produced the error log below:
[code]

[2021-04-26 13:17] vijaya-lakshmi-venkatraman commented on #11914
Hi,
The [link ](https://github.com/apache/airflow/tree/master/docs/howto/operator)specified for source code guides is not working for me.
Please can you advice if this has moved to another location?

[2021-04-26 13:21] Dr-Denzy commented on #10278
dag file used:
[code]

[2021-04-26 13:21] kaxil commented on #11914
Yes, the link has moved to [https://github.com/apache/airflow/tree/master/docs/apache-airflow-providers-microsoft-winrm](https://github.com/apache/airflow/tree/master/docs/apache-airflow-providers-microsoft-winrm)

You can take a look at MySQL example: https://github.com/apache/airflow/tree/master/docs/apache-airflow-providers-mysql-

[2021-04-26 13:52] Jake-Gillberg commented on #14838
Bumping. Also noting that this probably shouldn't be marked as pending-response, but please let me know if you need any more information from me.

[2021-04-26 14:07] gm7y8 commented on #15526
@potiuk  can i work on this?

[2021-04-26 14:16] potiuk commented on #15526
Feel free!

[2021-04-26 14:24] maison2710 commented on #14924
I also got similar issue with Airflow 2.0.1 when using Kubernetes executor. Is there any update or timeline for this issue?

[2021-04-26 15:09] chakir-alaoui opened #15532 "Airflow 1.10.15 : The CSRF session token is missing when i try to trigger a new dag"
**Apache Airflow version**: 1.10.15
https://raw.githubusercontent.com/apache/airflow/constraints-1.10.15/constraints-3.6.txt

**Kubernetes version**:
  Client Version: v1.16.2
  Server Version: v1.14.8-docker-1

**Environment**: python 3.6.8 + celeryExecutor  + rbac set to false

- **OS** (e.g. from /etc/os-release): CentOS Linux 7 (Core)
- **Kernel** (e.g. `uname -a`): 3.10.0-1127.19.1.el7.x86_64

[2021-04-26 15:27] dimberman commented on #12813
@Dr-Denzy @ephraimbuddy would either of you be interested in this ticket?

[2021-04-26 15:30] Dr-Denzy commented on #12813
Let's collaborate on this @ephraimbuddy

[2021-04-26 17:29] potiuk opened #15536 "Get rid of state in Apache Beam provider hook"
As discussed in  https://github.com/apache/airflow/pull/15534#discussion_r620500075, we could possibly rewrite Beam Hook to remove the need of storing state in it.

[2021-04-26 17:33] potiuk commented on #15536
cc: @mik-laj knows details

[2021-04-26 19:09] ashb commented on #14838
@Jake-Gillberg Are you just running the example dag as is? Completely unchanged?

[2021-04-26 19:19] potiuk commented on #14838
@Jake-Gillberg -> '&` is delimited of bash command. If you want to use it in a password you must escape it:

With &:
[code]

With \&:
[code]

[2021-04-26 19:21] #14838 closed

[2021-04-26 19:22] ashb commented on #15481
@Nidhoggur1993 This appears to be a problem with the mysql client lib and so out of scope of Airflow. I think.

[2021-04-26 20:30] jackstrang opened #15538 "S3KeySensor wildcard fails to match valid unix wildcards"
**Apache Airflow version**: 1.10.12

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**: AWS MWAA
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**: In a DAG, we implemented an S3KeySensor with a wildcard.  This was meant to match an

[2021-04-26 20:39] dontspamterry opened #15539 "Enable configuration of cookie Path setting"
**Description**
Allow configuration of the Path portion of the cookie scope from the webserver. There are already cookie config settings introduced in 1.10.3, i.e.

[cookie-secure](https://airflow.apache.org/docs/apache-airflow/stable/configurations-ref.html#cookie-secure)
[cookie-samesite](https://airflow.apache.org/docs/apache-airflow/stable/configurations-ref.html#cookie-samesite)

Proposing an

[2021-04-26 21:19] #13808 closed

[2021-04-26 21:35] zorzigio opened #15540 "git-sync with persistent volume claim"
**Apache Airflow version**: 2.0.2

**Kubernetes version**: Client Version: v1.17.4, Server Version: v1.18.14

**Cloud provider or hardware configuration**: Azure

**What happened**:
When using git-sync with persistence enabled, the scheduler pod fails to start.

The command

[code]

gives

[code]

**What you expected to happen**:

Airflow deploying correctly

**How to reproduce it**:

I am using t

[2021-04-26 22:18] AdvaithD commented on #13636
my gues sis that it still persists, just ran into something similar, but also suspect my py env getting in the way

[2021-04-26 22:54] jedcunningham commented on #15530
I wasn't able to replicate this in master. #13247 fixes this, but looks like it wasn't actually cherry picked into 2.0.1, so I'm going to move it into the 2.0.3 milestone so it lands in the next release.

[2021-04-26 22:54] #15530 closed

[2021-04-26 23:54] kaxil commented on #15540
cc @Dr-Denzy

[2021-04-26 23:56] kaxil commented on #15532
Are you running more than one Webserver? Try logging out and logging back in. And please use RBAC UI, we have deprecated the old Flask-Admin UI.

[2021-04-27 01:14] thesuperzapper commented on #15508
For reference, this has been fixed in the `8.0.9` version of the [stable/airflow](https://github.com/airflow-helm/charts/tree/main/charts/airflow) helm chart.

[2021-04-27 01:31] BShraman opened #15542 "Airflow Dag Stuck in Running Status for Kubernetes Executor"
Hi Team,
   We are running into an issue after upgrading to airflow 2.0.2. When running simple jobs dags are stuck in Running status but the Scheduler Pod logs shows that task are succeeded .

Environment:
Airflow : 2.0.2
Python : 3.6.8
kubernetes : 11.0.0
Docker Image Build : RUN pip3 install apache-airflow[async,google,statsd,cncf.kubernetes]=="${AIRFLOW_VERSION}"

Issue Reproduce Steps :
-- Upd

[2021-04-27 02:58] stoiandl opened #15543 "Smart Sensor Kubernetes Airflow 2.0.1"
Apache Airflow version 2.0.1:

Kubernetes version 1.18.14

Environment: Azure - AKS

What happened:
I created a sensor:

[code]

and a DAG

[code]

My airflow.cfg:

[code]

I trigger my DAG and then I upload the file such that the poke will return True. The sensor task gets submitted to the sensor dags/service but it never returns. The DAG gets stuck in sensing phase.

I am running this on kuberne

[2021-04-27 04:44] charles2588 commented on #15413
@kaxil
For Airflow 2.0

[code]

Repro steps:-
1. Just create a new DAG with 1 bashoperator.
2. Do not trigger it, just go to Graph View
3. Open the Task instance node and then click Instance details button.
In Airflow 2.0 , this results in error consistently.

that "2021-04-16T23%3A01%3A08.044070" that float part in the url causes this error which happens when you do not trigger it.

http://localh

[2021-04-27 08:08] chakir-alaoui commented on #15532
Thank you Kaxil for your reply , i just tested these 2 scenarios :
  -  rbac enabled + 2 instances of webserver :   KO ( CSRF SESSION TOKEN missing just after the authentification UI)
  - rbac enabled + 1 instance of webserver : OK

should we use just one instance of webserver for this version ?

[2021-04-27 08:44] mik-laj opened #15544 "Bump hadolint to v2.3.0"
We are currently using some old version of Hadolint.
https://github.com/apache/airflow/blob/4b031d39e12110f337151cda6693e2541bf71c2c/scripts/ci/static_checks/lint_dockerfile.sh#L22
I think it's worth updating to better validate our Docker files. It shouldn't be very time-consuming, but we'll have to fix some warnings. I am most interested in this rule that will optimize our images better.

[2021-04-27 08:54] Dr-Denzy commented on #15540
I will take a look.

[2021-04-27 09:03] potiuk commented on #15544
Agree. Would be nice. And it should not be hard. A lot of the work for optimising RUN (and ENV) has been just implemented in #15438 - so there should be just few optimizations left I think.

[2021-04-27 09:12] patsevanton commented on #15340
Now i cannot reproduce. Later please

[2021-04-27 09:26] crawlersick commented on #10795
this is the mysql-connector 's fault.
we can add the convert of pendulum to it's code just like datetime.
step1. find the /mysql/connector/conversion.py souce code in the system, maybe under the /usr/lib64/python3.x/site-packages , just depends on your python install.
step2. modify this python code conversion.py , just copy the code of method **_datetime_to_mysql,** to new a method named as **_pen

[2021-04-27 09:39] Dr-Denzy commented on #15413
I could not reproduce the issue in both 2.0.0 and 2.0.2. And since you got it working with 2.0.2. Then we can close this issue. @kaxil

[2021-04-27 10:09] mik-laj commented on #15539
You don't have to create new LoadBalancers for each domain. One Ingress can handle multiple domains. See: https://kubernetes.io/docs/concepts/services-networking/ingress/#name-based-virtual-hosting
This is a bit more problematic if you need to use multiple namespaces, but I know Nginx can handle this.

In newer versions of Kubernetes, a single Load Balancer will be able to handle multiple namespac

[2021-04-27 10:12] mik-laj commented on #15539
You can pass any parameter. configuration file to Flask using the webserver_config.py file. See: https://github.com/apache/airflow/blob/e4deb0faf2cd98d2c0a8a11bd404615565c952da/airflow/www/app.py#L75

[2021-04-27 10:16] kaxil commented on #15413
Oh yeah -- this was most likely fixed in 2.0.1 itself. Thanks for testing @Dr-Denzy and @charles2588 for confirming that 2.0.2 does not suffer from this issue.

[2021-04-27 10:16] #15413 closed

[2021-04-27 10:32] kaxil commented on #15532
@chakir-alaoui When you use more than 1 Webservers, make sure `[webserver] secret_key` is set same across both of them.

If you don't set it by it will generate a random ones and since both webserver will have different keys, one of them will error.

[2021-04-27 11:05] Robstaa opened #15547 "Jinja templating throws bug when using a PostgresOperator within the Taskflow API"
**Apache Airflow version**:
2.0.1

**Environment**:
- **OS** (e.g. from /etc/os-release): macOS Big Sur 11.2.3
- **Kernel** (e.g. `uname -a`): Darwin Kernel Version 20.3.0

**What happened**:

When executing a `PostgresOperator` within a `PythonOperator` through the new Taskflow API, the jinja templating does not seem to execute. As usual, I am giving the `PostgresOperator` a path to the SQL file

[2021-04-27 11:21] eladkal commented on #15532
@kaxil is it the same issue as https://github.com/apache/airflow/issues/13357 ?

[2021-04-27 11:38] kaxil commented on #8421
Let's include hiding sensitive data everywhere including logs & rendered templated fields

[2021-04-27 11:44] kaxil commented on #11893
Yes we agree, we will tackle it as part of https://cwiki.apache.org/confluence/pages/viewpage.action?pageId=177050929 -- where we redesign "Smart sensors" and more.

cc @andrewgodwin

[2021-04-27 11:44] #11893 closed

[2021-04-27 11:46] kaxil commented on #8548
This has been done, closing it out

[2021-04-27 11:46] #8548 closed

[2021-04-27 11:50] kaxil commented on #10331
cc @jedcunningham Can you take a look at it -- the warning will show once you update from 1.10.x

[2021-04-27 11:53] kaxil commented on #12396
@amr-noureldin Can you test and see if you see this error in 2.0.2 please?

[2021-04-27 12:07] chakir-alaoui commented on #15532
thank you for your help, it's working now 👍

[2021-04-27 12:07] #15532 closed

[2021-04-27 13:00] ashb commented on #12728
@bmfisher If you happen to still have those pod logs in your ES, could you go and search through them and find where the log line starts with "failed" or "Unable"? i.e. I'd love to be able to see the line the errors and a few lines (10?) either side of it.

Same to anyone who has this problem: if you are able to get the "raw" pod  logs via `kubectl ... get logs <podname> --timestamps` this would b

[2021-04-27 13:56] dontspamterry commented on #15539
Hi @mik-laj , my setup is presently a single LoadBalancer that is routing to two Airflow stacks, each in a different namespace. I have a Route53 record that serves as the friendly name in front of the LoadBalancer. I've tested that the Ingress routing works if I access my two stacks from two different web browsers such that the session cookie does not collide if one the same browser.

Thanks for p

[2021-04-27 13:57] pelaprat commented on #13542
Although I [was optimistic](https://github.com/apache/airflow/issues/13542#issuecomment-825117101), we've seen the behavior return where queued tasks are stuck in a queued state even though there are slots open.

[2021-04-27 15:05] stoiandl commented on #15543
I figured out what is going on. I am checking if a file was modified in the last 60 seconds, but the SmartSensor does not care about my poke_interval and uses 180 seconds.
[code]

Also, this is not changed at Smart Sensor DAG init:
[code]

Can we add one more config option under smart_sensor in airflow.cfg called `poke_interval` which would take an `int` and will be in seconds.

Then do this:
[cod

[2021-04-27 15:14] ctimbreza commented on #15374
Hi folks. Looks like [#14776](https://github.com/apache/airflow/pull/14776) did not resolve this issue. I am still able to reproduce it on Airflow 2.0.2

[2021-04-27 15:33] bmfisher commented on #12728
@ashb I was able to find a section of logs I kept in my notes.  Its been a while since I was looking at this problem so I'm not too fresh on it and I don't recall exactly which pod this set of logs came from.  But I recall thinking there was a race condition and my workaround with the `get_logs` flag set to false has continued to work for us.

[code]

[2021-04-27 16:09] KulykDmytro commented on #13761
Reproduced on 1.10.15

[2021-04-27 17:01] potiuk commented on #15451
@KIRY4 -> would it be possible that you check if upgrading FAB to 3.2.3 ( released yesterday) fixes the problem?

[2021-04-27 17:14] KulykDmytro commented on #13761
just figured out:
enabling of `STORE_SERIALIZED_DAGS` leads to this issue

[2021-04-27 17:15] KulykDmytro commented on #15178
just figured out:
enabling of `STORE_SERIALIZED_DAGS` leads to this issue

[2021-04-27 18:51] kaxil commented on #13761
@KulykDmytro Yup :) I have fixed it in https://github.com/apache/airflow/pull/15191 which is part of Airflow 2.0.2.

For Airflow < 2 -- the workaround is to disable DAG Serialization

[2021-04-27 19:45] kaxil commented on #9342
Temporarily added it to 2.1 Milestone to revisit this at a later time.

Assigning permissions to a group of DAGs is a good future -- I am not yet sure if "Tags" are the best way for it for the reason James already mentioned. Probably better would be some sort of "wildcard" on permissions -- not sure at the moment.

Also, we should just have a single way to add/edit permissions via UI & API -- not

[2021-04-27 19:55] jinzishuai commented on #8087
we are seeing this from time to time on

[2021-04-27 20:16] jstelzer commented on #15486
In my case I'm using
`
 AIRFLOW__CELERY__BROKER_URL: "rediss://:@fully-qualified-hostname:6379/0?ssl_cert_reqs=CERT_OPTIONAL"
`

[2021-04-27 22:04] zarrarrana commented on #15374
@ctimbreza @ephraimbuddy
#14776 was very close in fixing this, it is missing parent dag_id to be added to dag_ids if  include_parentdag is true, to change the DagRun state.

[2021-04-28 02:47] jiamo opened #15558 "chart/templates/secrets/metadata-connection-secret.yaml postgres hardcode?"
Can't deploy airflow chart with mysql backend?

I find  chart/templates/secrets/metadata-connection-secret.yaml postgres with such code

    data:
         connection: {{ (printf "postgresql://%s:%s@%s:%s/%s?sslmode=%s" .Values.data.metadataConnection.user .Values.data.metadataConnection.pass $host $port $database .Values.data.metadataConnection.sslmode) | b64enc | quote }}

while chart/Values.yam

[2021-04-28 03:04] uranusjr commented on #15525
I wonder if this is also a good chance to improve the www/view tests as a whole. One thing I found while working on improving test suite run time (#14857 etc.) was the whole `tests/www/test_views.py` file is much too complex and less maintainable relative to other tests (#14863), and could use some big cleanup and reorganisation (e.g. split into smaller files with more granular fixture setup).

[2021-04-28 03:58] trollhe opened #15559 "airflow dag success , but tasks not yet started,not scheduled."
hi,team:

    my dag is 1 minute schedule,one parts dag state is success,but tasks state is not yet started in a dag:

![image](https://user-images.githubusercontent.com/41068725/116344664-357d8780-a819-11eb-8010-c746ffdfdbcc.png)

   how can to fix it?

[2021-04-28 05:57] xinbinhuang commented on #15547
I don't think mixing a Operator inside the task flow API (PythonOperator) is supported or will be supported.. What do you try to achieve?

[2021-04-28 06:08] xinbinhuang commented on #15543
Will take a look

[2021-04-28 06:55] DHARESHWAR commented on #15559
I am facing similar issues on **Airflow 2.0.1**
Dag is successful and task didn't start. It is happening when I am running 2 airflow schedulers

<img width="1437" alt="Screenshot 2021-04-28 at 12 23 38 PM" src="https://user-images.githubusercontent.com/9838200/116359654-ae321300-a81c-11eb-9262-365170446c3f.png">

[2021-04-28 06:56] uranusjr commented on #8421
What needs to be done to hide sensitive data in logs? There’s already permission to hide task logs (`RESOURCE_TASK_LOG`).

[2021-04-28 07:04] atm1992 opened #15563 "airflow dag can't be deleted cleanly"
**Apache Airflow version**: 1.10.4

**What happened**: Firstly, I delete the dag file in disk, then click the delete button in airflow web ui. I can see the relevant  record has been deleted from airflow metadata database(MySQL) , but a  few seconds later, a  new record was written in the dag/dag_run/task_instance table.

**What you expected to happen**: After click the delete button in airflow we

[2021-04-28 08:46] potiuk commented on #15525
Yeah. We know it. But we also want to get rid of it and replace it with the new UI (work is on-going) so rather than refactoring and fixing the current approach (which is based on Flask Application Builder) we want to 'properly' build the new UI. See https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-38+Modern+Web+Application

[2021-04-28 08:48] potiuk commented on #15525
But feel free to do it If you feel like it :). The old UI will be with us for quite a while still (at least till 3.0)

[2021-04-28 08:58] Robstaa commented on #15547
One TaskFlow is returning a list of dictionaries. I am giving this list to another task (the one with the PostgresOperator). This task is looping over each dictionary, manipulating it, and giving it to the PostgresOperator to save it in the database.

I am quite new to Airflow, do you have a better approach? But from what I take from your answer, using an Operator within a Taskflow is not consider

[2021-04-28 09:02] uranusjr commented on #15547
So the operator inside the task is only used to directly access the database *while the task is running*, and not scheduled to a DAG? You probably want `PostgresHook` instead.

[2021-04-28 10:31] CoburnJoe opened #15570 "Gunicorn dependency request smuggling vulnerability"
Hi team!

My organisation is using Airflow, and right now we are unable to comply with our security policies or use our standard build pipeline due to an insecure dependency version (Gunicorn) specified by Airflow. I've messaged the security@ email address, but as this is already a public vulnerability in Gunicorn, and not a proven exploit in Airflow, I was directed over here.

Gunicorn request sm

[2021-04-28 10:37] zorzigio opened #15571 "Accessing log when using KEDA"
**Apache Airflow version**: 2.0.2

**Kubernetes version (if you are using kubernetes)**:
- Client Version: v1.17.4
- Server Version: v1.18.14

**Environment**:

- **Cloud provider or hardware configuration**: Azure

**What happened**:

Using KEDA, the logs are not accessible.

Trying to access the logs on a task gives an error like the following:

[code]

Accessing the logs when the worker is exec

[2021-04-28 11:06] uranusjr commented on #15570
The ticket states the vulnerability is also fixed in 19.10.0 or higher.

[2021-04-28 11:11] CoburnJoe commented on #15570
That is an inaccuracy in the CVE - 20.0.1 is when the fix arrived: https://github.com/benoitc/gunicorn/releases/tag/20.0.2

[2021-04-28 11:19] potiuk commented on #15570
Not reallly. The CVE is correct. The fix has been backported to 19.10.0 : https://github.com/benoitc/gunicorn/commit/93220898f523fa1098f3ee467f6f48530c9f5fbe

You can see it when you take a look at differences between 19.9.0 and 19.10.0

[2021-04-28 11:22] potiuk commented on #15570
Closing as invalid.

[2021-04-28 11:22] #15570 closed

[2021-04-28 11:29] CoburnJoe commented on #15570
@potiuk 19.9.10 has a failing build:
https://pypi.org/project/gunicorn/19.10.0/
https://travis-ci.org/github/benoitc/gunicorn/jobs/768410265

And is not listed under the GitHub releases - which go from 19.9.0 to 20.0 https://github.com/benoitc/gunicorn/releases

If I have to dig through other projects I'm happy to do so, but from my view, there are only a few possible options:
- 19.9.10 wasn't a p

[2021-04-28 11:35] potiuk commented on #15570
Gunicorn 19.10.0 (not 19.9.10) was properly released to PyPI: https://pypi.org/project/gunicorn/19.10.0/

I see no reason to disbelive Gunicorn maintainers when they are releasing to PyPI. If you have any doubts, please open an issue in Gunicorn repo (with reference to this issue). I am happy to reopen the issue if your doubts are verified, but we will not actively pursue it.

[2021-04-28 12:05] CoburnJoe commented on #15570
Thanks for the quick reply - I'll do some more digging :)

[2021-04-28 12:51] zorzigio opened #15572 "import error"
**Apache Airflow version**: 2.0.2

**Kubernetes version**:
- Client Version: v1.17.4
- Server Version: v1.18.14

**Environment**:

- **Cloud provider or hardware configuration**: Azure
- **OS**: "Debian GNU/Linux 10 (buster)"
- **Kernel**: Linux airflow2-webserver-96bfc89f7-qwk26 5.4.0-1043-azure #45~18.04.1-Ubuntu SMP Sat Mar 20 16:16:05 UTC 2021 x86_64 GNU/Linux

**What happened**:

My folder st

[2021-04-28 12:59] pateash commented on #12401
I am working on this.
@mik-laj could you please assign this to me.

[2021-04-28 14:35] eladkal commented on #8628
can you please check if it still happens in master?
You are using an old airflow version and also a recent fix of https://github.com/apache/airflow/issues/13434 sounds very similar

[2021-04-28 15:01] ericdevries opened #15575 "sqlalchemy connection string with @ in username does not work anymore"
**Apache Airflow version**: 2.0.2

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
1.17.9

**Environment**:

- **Cloud provider or hardware configuration**: azure
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

When starting a pod, the error message says

[code]

We use an azure-hosted postg

[2021-04-28 15:34] potiuk commented on #15575
Using @ in user name is not allowed by specification see for example here: https://stackoverflow.com/questions/10050877/url-username-with . If the user contains @ you MUST URL-encode it (replace with %40)

[2021-04-28 15:37] potiuk commented on #15575
For details /specification see here: https://tools.ietf.org/html/rfc3986
* '@' is part of gen-delims (type of reserved characters)
* Userinfo is defined like this: `userinfo    = *( unreserved / pct-encoded / sub-delims / ":" )`  - which means that gen-delims cannot be used, they must b pct-encoded

[2021-04-28 15:48] ericdevries commented on #15575
Ok, encoding it works, thanks for the advice. I will close this now

[2021-04-28 15:48] #15575 closed

[2021-04-28 16:16] mik-laj commented on #15572
Airflow adds additional modules to sys.path, so if you want to test these modules then you have to add these paths as well. The easiest solution is to load Airflow: ``import airflow``.  For more information, see:
http://airflow.apache.org/docs/apache-airflow/stable/modules_management.html#additional-modules-in-airflow

[2021-04-28 16:37] zorzigio commented on #15571
I guess that one solution would be to have at least one worker always running, for example changing the query from

[code]

to

[code]

This would also eliminate the ~30s delay when the worker is starting

[2021-04-28 16:44] zorzigio commented on #15572
@mik-laj thanks for looking into this.

The path `/opt/airflow/dags` is already included in the path as confirmed when running the command `print(sys.path)` from a task, however the UI is still giving error.

I also confirm that explicitly importing airflow (`import airflow`) does not solve the issue

[2021-04-28 16:48] Dr-Denzy commented on #15540
@zorzigio I could not reproduce this issue. For PV and PVC I used my local file system. I had my dags in a private repo on Github accessed via ssh. Changes made to the dags were picked by git-sync as expected.
Below is a portion of `values.yaml` configuration used.

[code]

[2021-04-28 17:19] #15544 closed

[2021-04-28 18:05] eladkal commented on #15547
When you execute operator you just need to set it. Airflow handle everything else (initializing constructor, rendering templates, executing, retiring etc..) in essence Airflow handles the whole lifecycle of the operator/task.

When you call operator inside PythonOperator Airflow doesn't handle anything for you. Airflow consider it to be just another Python class thus you need to handle everything

[2021-04-28 18:56] potiuk commented on #15570
As explained in the thread you started, i will look into reasoning why we are using gunicorn < 20. It is strange to find that 1.10 uses it already :)

[2021-04-28 18:58] kdorr commented on #14896
I’m running into this same issue (with Celery Executor upgrading to airflow 2.0.1). I’m concerned about the line in the [stack overflow explanation](https://stackoverflow.com/questions/46188531/what-does-pythonoptimize-do-in-the-python-interpreter/57493983#57493983) for the PYTHONOPTIMIZE fix that says:

What are the possible consequences of ignoring this particular assertion? Are there any update

[2021-04-28 19:03] potiuk commented on #14896
You simply should not use multiprocessing inside Local Executor. This is likely going to break. The assertion is correct and you should likely change your approach

[2021-04-28 19:04] potiuk commented on #14896
It broke because of optimisations implemented in airflow that make use of multiprocessing. The best way  for you to proceed will be to turn your multiprocessing jobs into separate Airflow tasks

[2021-04-28 19:06] potiuk commented on #14896
You can also run your python code using python operator with virtualenv - that launches a new python interpreter and you can launch multiprocessing there.

[2021-04-28 19:18] zorzigio commented on #15540
Thanks @Dr-Denzy for looking into this.

I guess the error I am seeing is related to the `azurefile` storageClass which seems to be the difference between my config and yours.

In Azure, the default available classes I see are (given by `kubectl get sc`)

[code]

and in particular the details of the one I was using are (`kubectl get sc azurefile -o yaml`)

[code]

what is the definition of the sto

[2021-04-28 19:40] kdorr commented on #14896
Thanks!

[2021-04-28 21:25] ausiddiqui commented on #12136
Yes I'm having this issue running Airflow 1.10.12 with KubernetesPodOperator which is running a queries packaged in a Docker image. We are running long-running queries where the queries will be running and producing the logs in Airflow for 2-4 hours and then at 3hrs 59 minutes of query logs we would just get:
[code]
 repeated every 2 seconds for 2.5 to 3.5 hours until a failed state.
[code]

[2021-04-28 21:34] rpfernandezjr opened #15580 "KubernetesExecutor not deleting worker pods on completion."
**Apache Airflow version**:  2.0.2

**Kubernetes version**: 1.17.17

- **Cloud provider or hardware configuration**: GKE
- **OS** (e.g. from /etc/os-release):  CentOS Linux release 7.8.2003 (Core)
- **kernel**: 4.19.150+ x86

**What happened**:
A dag is kicked off via the airflow webserver, the scheduler kicks off a new worker pod for the task, and that task is flagged as `success` , however the w

[2021-04-29 00:52] ferruzzi commented on #13317
I ran into this today while running Breeze.  In addition to making sure you are in the pyenv, I also had to run breeze with the `--db-reset` flag.  Figured I'd note that here in case anyone runs into this in the future.

[2021-04-29 06:43] pateash commented on #13391
@vikramkoka  could you please assign this to me.
i would like to work on it.

[2021-04-29 07:13] potiuk commented on #13317
Yeah. This might happen if you change airflow version or python for breeze as the database remains running between the invocations.to speed up the startup. Also the volumes for the db are preserved even if the db is restarted. That's why you needed to reset the db.

Another way to handle it is to run `breeze stop` which shuts down all the  databases and removes volumes.

PR to automatically reset

[2021-04-29 07:33] mniehoff opened #15588 "Task is retried after Scheduler restart"
**Apache Airflow version**: 2.0.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**: Hosted version of astronomer cloud
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

- Using the DatabricksRunNowOperator to start a job in Data

[2021-04-29 07:59] FloChehab commented on #13643
Hello, time flies!

I am going to have a quick lool at #15238 ; also, some related work seems to be going on in https://github.com/apache/airflow/pull/14152 .

[2021-04-29 11:32] alete89 commented on #13916
I'm experiencing something similar but in 1.10.14 with the same symptoms @mrpowerus described in https://github.com/apache/airflow/issues/14974 (like absence of `Event:` in logging) and also open_slots going down to 0 because it seems like the executor never realizes tasks are getting done, never frees the slot (although they are marked as done in the UI).

The problem is that according to 1.10.14

[2021-04-29 12:28] JavierLopezT opened #15590 "Specific documentation for Configuration JSON when triggering a DAG manually"
When you click on 'Trigger Dag', you are redirected to a section in which you can introduce a configuration JSON, and you see a message like this:

`To access configuration in your DAG use {{ dag_run.conf }}.`

It would be very cool to be able to write your own documentation as well, so that you can explain how there to use the dag_run.conf variables of that dag.

If someone guides me how to code

[2021-04-29 12:29] potiuk commented on #15463
For all interested seems that there is an early attempt to implement constraints in Poetry: https://github.com/python-poetry/poetry/pull/4005 resulting from this discussion: https://github.com/python-poetry/poetry/issues/3225#issuecomment-829186310

[2021-04-29 14:19] KIRY4 commented on #15451
@potiuk fixed, now everything works perfect! thank you!

[2021-04-29 15:06] #13331 closed

[2021-04-29 15:06] #14222 closed

[2021-04-29 15:06] #15071 closed

[2021-04-29 15:14] mik-laj commented on #15590
https://github.com/apache/airflow/pull/13365
Is it related?

[2021-04-29 15:26] potiuk commented on #15451
Yep. This will fixed when we release next Google Provider and you update either the provider or, Airlfow (we plan to release 2.0.3 very soon addressing a small subset of changes + PIP 21 installability). PR here: https://github.com/apache/airflow/pull/15576

[2021-04-29 16:41] JavierLopezT commented on #15590
Indeed, it seems to be what I want. However, I think there isn't any documentation, is it?

[2021-04-29 18:55] ahayasic commented on #12309
@ssiddiqui-apixio I'm having the same problem on Airflow 2.0.2. Any chance of the Issue being reopened for a new solution?

[2021-04-29 19:20] bensonnd commented on #15580
Commenting to follow.

[2021-04-29 20:21] argibbs opened #15596 "Using SLAs causes DagFileProcessorManager timeouts and prevents deleted dags from being recreated"
**Apache Airflow version**: 2.0.1 and 2.0.2

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): N/A

**Environment**: Celery executors, Redis + Postgres

- **Cloud provider or hardware configuration**: Running inside docker
- **OS** (e.g. from /etc/os-release): Centos (inside Docker)

**What happens**:

In 2.0.0 if you delete a dag from the GUI when the `.py` file is sti

[2021-04-29 20:29] jscheffl commented on #15023
Hi @ashb I saw that my proposed bugfix/PR was pushed from Airflow 2.0.2 to 2.0.3. Is there any reason why this is not merged yet? Lag in quality? Do I need to push something (harder)? Or just related to missing capacity?
Please let me know if I can support in any way getting this on master - else my first contribution was a waste and you probably lose someone who would be motivated to contribute :

[2021-04-29 21:01] levyitay opened #15598 "Qubole Hook Does Not Support 'include_headers'"
**Description**

Qubole Hook and Operator do not support `include_header` param for getting results with headers
Add Support for `include_header` get_results(... arguments=[True])
**Use case / motivation**

It's very hard to work with CSV results from db without headers.
This is super important when using Qubole's databases.

**Are you willing to submit a PR?**

Not sure yet, I can give it a try

[2021-04-29 22:14] kaxil commented on #8421
See https://github.com/apache/airflow/pull/15599

[2021-04-29 23:03] wolfier opened #15600 "Sentry missing exception capture and captured exception missing tags"
**Apache Airflow version**: 2.0.0

**Executor**: KubernetesExecutor

**What happened**:

One of my tasks failed to have the task metadata as tags when the exception was captured by Sentry.  There were also some instances where the task instances did not go through their normal task execution flow. One of the situation is receiving an OOMKIll on the kubernetes worker pod.

**What you expected to ha

[2021-04-29 23:12] anmtan opened #15601 "Access is denied alert after successfully login using OIDC"
**Apache Airflow version**: 2.0.1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.19

**Environment**: Kubernetes Executor, Okta OIDC

- **Cloud provider or hardware configuration**: EKS 1.19, RDS Postrgres DB
- **OS** (e.g. from /etc/os-release): Centos inside docker
- **Kernel** (e.g. `uname -a`):
- **Install tools**: helm
- **Others**: using official docker imag

[2021-04-29 23:43] rpfernandezjr commented on #15580
Was messing with this today some more. If I set `AIRFLOW__KUBERNETES__POD_TEMPLATE_FILE`  and point that to this template file

[code]
The important setting from the template file being ` restartPolicy: Never`

Is this the correct way of making the pods not stay in the crash loop?

It doesn't seems like it should be the right solution, and more of a hack, but I'm not entirely sure. Especially if i

[2021-04-30 00:06] #14931 closed

[2021-04-30 00:15] dougpm opened #15604 "BigQueryCreateExternalTableOperator table_resource parameter is impossible to use"
**Apache Airflow version**: 1.10.14

**What happened**:

I specified the table_resource parameter in BigQueryCreateExternalTableOperator.

**What you expected to happen**:

Expected operator to ignore all other table related parameters and execute normally.

The 'table_resource' parameter can't be specified alongside 'destination_project_dataset_table', which is needed.
destination_project_dataset

[2021-04-30 01:39] trollhe opened #15607 "airflow throws error: airflow.exceptions.SerializedDagNotFound: DAG 'dns-basic-1min' not found in serialized_dag table"
hi,team:

   i deployment airflow 2.0.2 in docker by docker-compose,airflow service start just 1 minute have many dags,bug 1 minute after dag is none,and throws bellow error:

   already share dag folder to webservice/scheduler/flower container

![image](https://user-images.githubusercontent.com/41068725/116637904-b498ca00-a997-11eb-8ca2-428f0ff821cd.png)
![image](https://user-images.githubusercon

[2021-04-30 01:39] dimberman commented on #12813
Hi @Dr-Denzy @ephraimbuddy any update on this?

[2021-04-30 01:40] dimberman commented on #13643
@FloChehab sounds good let me know where I can help!

[2021-04-30 01:42] trollhe commented on #15607
only webserver and schedule service in one container,else have the error.but need modify  dag file,i don`t know how can serialized_dag after dag file modify.

[2021-04-30 02:38] luoyuliuyin opened #15608 "airflow dag support multiple versions"
**Description**

Suppose I created a dag yesterday, and Its structure is: task_a >> task_b
Today I updated the structure of dag to: task_c >> task_d >> task_e

I need to know what the dag looked like yesterday, and I need to find yesterday's log from ui.

**Use case / motivation**

**Are you willing to submit a PR?**
yes

**Related Issues**

[2021-04-30 07:19] eladkal commented on #15608
We have [AIP-36 DAG Versioning](https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-36+DAG+Versioning) currently in draft

[2021-04-30 07:22] eladkal commented on #15598
@levyitay assigned to you

[2021-04-30 07:24] eladkal commented on #15503
Please check against Airflow 2 if the issue still happens we need reproduce steps to recreate it.

[2021-04-30 10:22] ephraimbuddy commented on #12813
I was not able to reproduce this on master.
Here's my dag:
<details>
 <summary>DAG code</summary>

[code]
</details>

Here's logs for first task:

<details>
 <summary>Task bash_echo_1 log</summary>

[code]
</details>

And logs for the second task:

<details>
 <summary>bash echo 2 task</summary>

[code]
</details>

[2021-04-30 10:49] Pravka opened #15613 "Airflow2.0.2 --- TypeError: unhashable type: 'AttrDict' while trying to read logs from elasticsearch"
Hi,

I am experiencing issues with reading logs from Elasticsearch, not sure if it's a bug or my incompetence!

**Apache Airflow version**: 2.0.2
**Elastic version**: v 7.9.3
**Kubernetes version**: v1.19.6
**Environment**: Dev Kubernetes

- **Cloud provider or hardware configuration**: AWS
- **OS**: Debian GNU/Linux 10 (buster)
- **Kernel**: `Linux airflow-6d7d4568c-w7plk 4.14.138-rancher #1 SMP

[2021-04-30 11:29] kaxil commented on #15607
Are you generating the DAG Dynamically? Can you post your DAG here please

[2021-04-30 14:08] AStevensTaylor commented on #14377
Looks like a spelling error in the `authorize_url` parameter, should be `/oauth/authorize` instead of `/oauth/authiorize`.
Your config should be:

[code]

Docs: [authorizing-oauth-apps](https://docs.github.com/en/developers/apps/authorizing-oauth-apps#1-request-a-users-github-identity)

[2021-04-30 15:22] zoomzoomTnT commented on #15275
cc @jhtimmins this issue still persist in 2.0.2

[2021-04-30 15:52] bgsthiago commented on #12537
Apache Airflow version: apache-airflow==2.0.1

I was facing the same issue, I tried to mount a volume but when I execute the python script, it didn't find the file.

          t_docker = DockerOperator(
                task_id='docker_command',
                image='pipeline:latest',
                api_version='auto',
                auto_remove=True,
                volumes=[

[2021-04-30 15:54] Frietziek commented on #13916
Guys, I work with @alete89. Another solution for this, and specially if you are in older versions of Airflow that still don't have the AIRFLOW__KUBERNETES__ENABLE_TCP_KEEPALIVE configuration key, is to execute at some moment at the start of airflow this in a python script:

[code]

This worked for us apparently, and basically set on urllib3 (which is the library that airflow uses for connectivity

[2021-04-30 16:09] potiuk commented on #15570
@CoburnJoe -> Airflow master is at Gunicorn 20.1 now (https://github.com/apache/airflow/pull/15611). Next release should use it.

[2021-04-30 18:19] michaelosthege commented on #12813
@ephraimbuddy both your tasks ran with Airflow 2.1.0.?
In my case the first task ran with Airflow 1.10.14 and the second with 2.0.1.
They werde PythonOperators and the return value was a simple dictionary.
But I can't tell if that is the same problem as with the KubernetesPodOperator.

[2021-04-30 18:37] levyitay commented on #15598
@eladkal Can you take a look and push it if possible?

[2021-04-30 19:52] #15374 closed

[2021-04-30 20:10] #15558 closed

[2021-04-30 23:06] #11755 closed

[2021-04-30 23:09] ephraimbuddy commented on #12813
@michaelosthege, I tested with KubernetesPodOperator. I have not tested your case. Can you add `include_prior_dates=True` to the xcom_pull?

[2021-04-30 23:46] leahecole opened #15622 "Inconsistencies with Dataproc Operator parameters"
I'm looking at the GCP Dataproc operator and noticed that the `DataprocCreateClusterOperator` and `DataprocDeleteClusterOperator` require a `region` parameter, but other operators, like the `DataprocSubmitJobOperator` require a `location` parameter instead. I think it would be best to consistently enforce the parameter as `region`, because that's what is required in the protos for all of the [clus

[2021-05-01 00:06] #14769 closed

[2021-05-01 10:50] potiuk opened #15623 "Testing status of the Providers released 2021.05.01"
We are releasing new providers for Airflow with latest fixes - RCs released on 2021.05.01.

This is a kind request for authors of the changes. It would be great if you could verify if the providers do what they are supposed to do :).

- [ ]  Amazon: @suiting-young @Tonkonozhenko @dstandish
    https://pypi.org/project/apache-airflow-providers-amazon/1.4.0rc1/
- [ ] Apache Spark: @suiting-young @ca

[2021-05-01 10:54] potiuk commented on #15623
The voting for the RC packages should close by Wednesday 5th of May mid-day CEST. It would be great if majority of the changes/fixes is verified by then :).

Voting thread in the devlist:  https://lists.apache.org/thread.html/rb3fb597796a5b1bf83f97879e6783049dc8f2496b594bc5f3641eee3%40%3Cdev.airflow.apache.org%3E

[2021-05-01 11:09] kaxil commented on #14791
cc @jedcunningham @ephraimbuddy Do you'll know if one of the recently merged commits from you'll fixes this issue?

[2021-05-01 11:10] kaxil commented on #14791
Might be related to https://github.com/apache/airflow/issues/15542

[2021-05-01 12:43] potiuk commented on #14377
Looks like spelling indeed. I am closing - @srthok please comment if your problem is not solved.

[2021-05-01 12:43] #14377 closed

[2021-05-01 16:05] jithenshriyan commented on #15536
I'd love to take a shot at this as a new contributor!

[2021-05-01 16:58] potiuk commented on #15536
Feel free!

[2021-05-02 02:28] mik-laj commented on #15622
Hi @leahecole

Are you willing to submit a PR? I'm happy to help with the review.

[2021-05-02 07:34] eladkal commented on #15036
@iameugenejo can you share the DAG code? we need more information here.
If we can't reproduce it's almost impossible to find a fix.

[2021-05-02 11:01] eladkal commented on #8713
@danielenricocahall I'm unasinging you as you didn't complete the PR if you wish to finish it let us know.

This issue is open to anyone who wants to work on it.

[2021-05-02 11:05] eladkal commented on #10270
@iantbutler01 are you still working on it?

[2021-05-02 11:20] eladkal commented on #10426
`prefix` is a parameter of `list_blobs` https://googleapis.dev/python/storage/latest/client.html
even if you modify the parameter on the hook at the end you will still be able to utalize only single prefix each time.
You can modify prefix to accept `Optional[str,List[str]]` that way the modification is also backward compatible. This has some similarities to approach suggested on https://github.com

[2021-05-02 11:43] Robstaa commented on #15547
That makes sense, thank you so much!

[2021-05-02 12:26] eladkal commented on #9046
As explained it doesn't make sense to use `@once` with TimeDeltaSensor. Note that the sensor calculates `execution_date + schedule_interval` when you set `schedule_interval="@once"` there is no interval (so it's None) which is exactly what the error message says:
`TypeError: unsupported operand type(s) for +=: 'NoneType' and 'datetime.timedelta'`

[2021-05-02 12:26] #9046 closed

[2021-05-02 14:40] ArtemisDicoTiar opened #15629 "wtform"
**Apache Airflow version**:

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know**:

[2021-05-02 14:40] #15629 closed

[2021-05-02 14:57] davido912 opened #15630 "testing that this still works"

[2021-05-02 14:58] #15630 closed

[2021-05-02 14:58] davido912 commented on #15630
This was an accident :)

[2021-05-02 17:19] xinbinhuang commented on #15547
Though the approach suggested by @eladkal works, I would recommend using hooks directly as suggested by @uranusjr. Operators represent a single task in the airflow DAG graph (with other things/metadata specific to airflow), and it's using hooks to do the actual work. If you are finding something that can help do the "work", you should use hooks directly.

[2021-05-02 17:33] zhzhang commented on #15623
I had another [PR](https://github.com/apache/airflow/pull/15412) on the postgres provider get merged just now, any chance it can be included in the RC?

[2021-05-02 17:34] potiuk commented on #15547
Yep. Using hook is the way to go.

[2021-05-02 17:54] potiuk commented on #15623
Unless this is really serious, I think I'd prefer to leave it for a follow-up ad-hoc release (1.0.3)? The mechanics of releasing providers works best if we release them in batches. From the bug description, I do not think the bug was critical (correct me if I am wrong?) so 1.0.2 will still be mostly working OK, so we can easily make a (very fast) 1.0.3 release right after?

[2021-05-02 17:55] potiuk commented on #10426
@eladkal 's proposal sounds good.

[2021-05-02 19:25] CoburnJoe commented on #15570
Fantastic - thank you! 🎉

[2021-05-02 23:48] xinbinhuang commented on #12985
Just a quick note: the community has migrated issues tracking system from Jira to GitHub issues, so whatever left in Jira right now is likely outdated or inaccurate.

[2021-05-03 00:07] #14980 closed

[2021-05-03 00:08] #14851 closed

[2021-05-03 00:08] #14596 closed

[2021-05-03 00:08] #14538 closed

[2021-05-03 02:33] iantbutler01 commented on #10270
I am not, my work has carried me far away from Airflow and I do not have the time these days @eladkal

[2021-05-03 03:31] bobo333 commented on #13637
hi, we (@yuzeh and I) are also seeing this behavior on airflow `2.0.2` using `LocalExecutor`. With `min_file_process_interval = 60` and `parsing_processes = 2` cpu usage for the scheduler is very similar to what @linxiaohui posted, both processes are using 90% or higher cpu, often up to 150%.

There are no active workloads running during this time either, those only run on the hour, but this behav

[2021-05-03 03:34] yuzeh commented on #13637
To add to @bobo333 's comment, here's the before + after on CPU utilization:

![image](https://user-images.githubusercontent.com/351023/116839049-a27c7e80-ab85-11eb-9c84-fd4150723456.png)

Other info about our deployment:
- Python 3.7
- Everything runs in docker-compose with a custom built docker image

[2021-05-03 06:56] YiiTing commented on #14352
Hi all,
i have some problems

here is my UI log
`*** Reading remote log from gs://airflow-log/inspect_apii/main.inspect_p/2021-05-03T06:40:00+00:00/1.log.
b'*** Previous log discarded: 404 GET https://storage.googleapis.com/download/storage/v1/b/airflow-log/o/inspect_apii%2Fmain.inspect_p%2F2021-05-03T06%3A40%3A00%2B00%3A00%2F1.log?alt=media: No such obj`

but i can find my log in gcs
`*** Previou

[2021-05-03 07:48] eladkal commented on #15547
I wrote this as an explanation why operators are not being templated inside PythonOperator. I agree completely that the prefered way is to use hooks (maybe also custom operator). This piece of code is old :)

By the way what is the action item on this issue?

[2021-05-03 08:23] janvaca92 commented on #15482
We have faced the same issue. The problem is that Azure fileshare does not allowed changing file permissions via os.chmod. With the managed disks is possible but they require ReadWriteOnce and its is not suitable for Airflow logs pvc.

[2021-05-03 08:44] andormarkus opened #15635 "ARM64 support in docker images"
**Description**

ARM64 support in docker images

**Use case / motivation**

In the recent years ARM based cpu popularity hugely increased. The arm based cpus are offering better price to performance ratio and laptops outstanding performance. It's getting popular to run ARM nodes in your Kubernetes clusterss.
If you want to run airflow on arm node in kubernetes the docker image wont start it wailt

[2021-05-03 08:51] subashcanapathy commented on #14592
DAG serialization is turned on for John's use case.

[2021-05-03 09:55] potiuk commented on #15635
Absolutely

[2021-05-03 09:58] potiuk commented on #15635
Been on my radar for quite some time. We were mostly waiting for getting the docker into stable version for MacOS. And yeah I think this is the next 'big' thing for the images once we get full PIP21 compatibility and python 3.9 support

[2021-05-03 09:59] potiuk commented on #15623
Looking forward to some testing :). Doing some testing  today myself.

[2021-05-03 10:02] uranusjr commented on #15635
The biggest obstacle is likely not Airflow itself (which would likely run on ARM just fine), but the many dependencies it has. For macOS, upstreams need to publish ARM wheels (although my understanding is the most difficult-to-build ones already do), and for Docker Airflow will need to either push the upstream for support or develop infrastructures to build the images.

[2021-05-03 10:52] potiuk commented on #15635
Correct. We tried it before and we had limited success previously. The biggest problems were pyarrow/numpy and related especially for the older versions. But with the recent dependency bumps for pyarrow i think this problem might be gone already.

[2021-05-03 10:54] potiuk commented on #15635
Correct. We have credits from GCP that we will be able to use to run Runners in the ARM infrastructure. We are now running out of S3 credits (trying to get some more) and I am working with Ash, Bin and Claudio on switching to GCP. I think infra won't be a problem :)

[2021-05-03 10:56] pateash commented on #15623
@potiuk I have tested the changes for #15245

[2021-05-03 10:56] potiuk commented on #15635
Just checked pyarrow 4.0.0 has aarch wheels. We are using 3.0 now so maybe it's not yet solved.

[2021-05-03 11:48] saryeHaddadi commented on #9926
Concerning this issue. The part of the query triggering the error is :
`WHERE dag.is_paused IS 1`

As part of [Ms-SQL Doc](https://docs.microsoft.com/fr-fr/sql/t-sql/queries/is-null-transact-sql?view=sql-server-ver15), the IS operator is only to be used with [NULL / NOT NULL].
So, I assume that replacing this part by `dag.is_paused = 1` would fix the issue.

--
As a side node, my company is full M

[2021-05-03 12:20] andormarkus commented on #15635
We could install and run `numpy` on AWS ARM without issue, however installing `pyarrow` 2.0.0 and 3.0.0 was not possible without serious workarounds. Pyarrow 4.0.0 [support](https://issues.apache.org/jira/browse/ARROW-10349)  aarch64.

@potiuk Can airflow move to pyarrow 4.0.0 ? Should I create a separate ticket issue for it?

[2021-05-03 13:57] potiuk commented on #15635
This ain't as easy as that. The `pyarrow` limitation comes from apache-beam currently. And there will likely be other dependencies with no ARM support - with all the transitive ones we have 500 (!) dependencies for Airflow: https://github.com/apache/airflow/blob/constraints-master/constraints-3.8.txt.

The basic 'no-providers" dependencies are much smaller - just 142 of those :) https://github.com

[2021-05-03 15:07] bbovenzi commented on #15091
This is nice to have but is not trivial. Without a firm commitment to support multiple languages, it isn't worth doing for now.

[2021-05-03 15:07] #15091 closed

[2021-05-03 15:09] jsemric commented on #15623
tested the changes added by https://github.com/apache/airflow/pull/14642 involving docker provider

[2021-05-03 15:20] ashb commented on #12728
@bmfisher thanks for those logs - unfortunately I need the pod logs to look at what the problematic line is, the airflow task logs just tell us where in the Airflow code the error is occurring, but I need to see the input line that is causing it.

[2021-05-03 16:24] monti-python opened #15636 "WasbHook does not delete blobs with slash characters in prefix mode"
**Apache Airflow version**: 2.0.1

**Environment**:

- **Cloud provider or hardware configuration**: docker container
- **OS** (e.g. from /etc/os-release): `Debian GNU/Linux 10 (buster)`
- **Kernel** (e.g. `uname -a`): `Linux 69a18af222ff 3.10.0-1160.15.2.el7.x86_64 #1 SMP Thu Jan 21 16:15:07 EST 2021 x86_64 GNU/Linux`
- **Install tools**: `pip`
- **Others**: `azure` extras

**What happened**:

`a

[2021-05-03 16:29] monti-python commented on #15636
Made a PR to fix it: #15637

[2021-05-03 16:37] bfmcneill commented on #14379
does this mean that python 36 is the problem?  I pulled airflow 2.0.2  official docker image and it is still running on python36

[2021-05-03 16:40] monti-python commented on #15636
Closing: It's possible to override default `delimiter` by using `check_options`

[2021-05-03 17:03] dimberman commented on #12728
@ashb it appears that the issue might be when we have log lines that come from errors (e.g. in this case the word was "failed" and in another case the word was "Unable"), this breaks the timestamp parsing because hte first word is not a timestamp.

[2021-05-03 17:07] monti-python commented on #15636
I reopen it cause it feels a bit hacky having to specify `check_options` just to remove all files based on a given prefix. I think it's worth considering the change in #15637

[2021-05-03 17:33] dimberman commented on #12728
https://github.com/apache/airflow/pull/15638 I believe this should solve the issue. Will add unit tests soon.

[2021-05-03 17:45] ashb commented on #12728
That shouldn't be possible - the time stamp is added by Kube itself.

[2021-05-03 17:45] ashb commented on #12728
This stops it failing the pod, but is be curious to see what the actual line is that's causing the error

[2021-05-03 18:35] SamWheating commented on #15559
We've been experiencing the same issues (Airflow 2.0.2, 2x schedulers).

Furthermore, when a task has `depends_on_past=True` this will cause the DAG to completely lock as no future runs can be created.

I'm currently trying to recreate this by running some high-frequency DAGs with and without multiple schedulers, I'll update here with my findings.

[2021-05-03 20:50] saryeHaddadi commented on #9926
Hi friends, I can bring you some informations on: `what versions do we support, should we add support to more versions.`

1. In general, ms-sql is quite robust in term of newer versions, in the sense that newer versions do not break old ones, especially since SQL Server 2008-R2.
2. Whatever SQL Server version you are running, you can set, on a Database basis, the [Compatibility Level to a prior ve

[2021-05-03 21:18] CrossNox opened #15641 "Add documentation on what each parameter to a `sla_miss_callback` callable is"
I couldn't find any official documentation specifying what each parameter to a `sla_miss_callback` callable are. This would be a great addition to know how to properly format the messages sent.

[2021-05-03 21:38] zachliu commented on #14205
I forgot to ask this simple question:
Since the scheduler is now HA compatible in 2.x, does it help if we spin up multiple schedulers?
I'm hoping if one got deadlocked, the other one is still alive :grin:

[2021-05-04 00:04] #13687 closed

[2021-05-04 00:04] #13188 closed

[2021-05-04 03:35] aquam8 commented on #11979
Hi,

First of all, let me thank you for this project and your involvement in this awesome project.

Now onto this issue.. I have come to realise that this is also the problem I am encountering.
This is also the problem reported in this issue (see the use of --wait): https://github.com/apache/airflow/issues/15340 where it's reported that the webserver fails reporting no migrations ran.

I could not

[2021-05-04 03:38] vikramkoka commented on #15641
Thank you for reporting this.
Here is the high level description for the SLA callback in the docs http://apache-airflow-docs.s3-website.eu-central-1.amazonaws.com/docs/apache-airflow/latest/concepts/tasks.html#slas

Would you like to create a PR to add this?

[2021-05-04 03:53] vikramkoka commented on #15268
I am sorry, it is not clear if this is a problem or not.
Just to be precise, the Airflow UI in 1.10.x is NOT a real-time UI which automatically refreshes the status of the DAG.
The Airflow UI (for Graph View) in 2.x does have an auto-refresh capability to see the status of the tasks currently being executed.

Please provide additional information and screenshots as requested above, so that we can

[2021-05-04 05:27] wolfier opened #15645 "Sensor start_date gets updated for the same try in reschedule mode"
**Apache Airflow version**: 2.0.0

**What happened**:

Sensor start_date gets updated to each time the task instance is rescheduled for the same try.

**What you expected to happen**:

I expect the `start_date` of a sensor task instance to remain the same within a given try. The `start_date` should be the start of first poke instead of the start time of the following rescheduled attempts.

This be

[2021-05-04 06:39] #15598 closed

[2021-05-04 08:38] mpzfm1 opened #15648 "Error "No module named 'airflow.providers.mysql""
Im installing airflow like this:

RUN useradd airflow

ENV AIRFLOW_VERSION="2.0.1"
ENV PYTHON_VERSION="3.8"
ENV CONSTRAINT_URL="https://raw.githubusercontent.com/apache/airflow/constraints-${AIRFLOW_VERSION}/constraints-${PYTHON_VERSION}.txt"

RUN pip3 install --upgrade pip
RUN pip3 install --upgrade apache-airflow-providers-google
RUN pip3 install wheel oauth2client "apache-airflow [google, gcp,

[2021-05-04 08:46] potiuk commented on #15648
You can install mysql extra and the warning will disappear.  It will install (small) mysql provider and additional mysql libraries.

[code]

The problem is that mysql provider is used by google one (optional dependency).  I will make some changes in a future version of Airfow/provider's manager to remove the warnings coming from optional providers if those are not installed.

BTW. Few fixes to you

[2021-05-04 08:52] JavierLopezT opened #15649 "Dag Import error in UI with unreal message Airflow 2.02"
I have just updated from Airflow 1.10.14 to Airflow 2.0.2 and I am getting an error of this kind in a lot of dags. I have several python scripts in python files in my dags subfolders. Here is the error I get in the UI:

![Captura de pantalla 2021-05-04 a las 10 49 49](https://user-images.githubusercontent.com/11339132/116980382-74eb1e80-acc6-11eb-87cd-d1060736094c.png)

However, the code of the DA

[2021-05-04 08:59] JavierLopezT commented on #15572
I have the exact same problem but I am using docker-compose instead of Kubernetes. In Airflow 1.10.14 I did not have this problem. Importing airflow does not solve the problem, as neither does it using `sys.append('/opt/airflow/dags/utils')` nor `export PYTHONPATH=$PYTHONPATH:/opt/airflow/dags/utilities`

@zorzigio were you able to solve the issue?

[2021-05-04 09:05] KulykDmytro commented on #11629
logs are currently available under task log within pods filesystem but not the pod's log
[code]

[2021-05-04 09:22] mpzfm1 commented on #15648
Thanks, i changed dockerfile but when i build it fails:

Collecting mysqlclient<1.4,>=1.3.6
  Downloading mysqlclient-1.3.14.tar.gz (91 kB)
    ERROR: Command errored out with exit status 1:
     command: /usr/bin/python3 -c 'import io, os, sys, setuptools, tokenize; sys.argv[0] = '"'"'/tmp/pip-install-nrkv9j4j/mysqlclient_dc6d7e9833cb46158c77938dcf30b032/setup.py'"'"'; __file__='"'"'/tmp/pip-inst

[2021-05-04 09:23] uranusjr commented on #15649
Can you upload the DAG file (verbatim, not copy-and-pasted) somewhere? I’m guessing the file contains some weird characters and cannot be correctly parsed.

[2021-05-04 09:26] uranusjr commented on #15648
Not sure what image you’re using but you probably need to install MySQL client headers. On Ubuntu for example you need to `apt install libmysqlclient-dev`.

[2021-05-04 09:47] mpzfm1 commented on #15648
Im using FROM ubuntu:20.04

Why not install like : apt-get install mysql-client ¿?¿?? instead libmysqlclient-dev

[2021-05-04 09:51] andormarkus opened #15650 "Docs: check_migrations more verbose documentation"
**Description**
The documentation and the error message of the [check-migrations](https://airflow.apache.org/docs/apache-airflow/stable/cli-and-env-variables-ref.html#check-migrations) / `def check_migrations` could be more verbose.  This check can fail if the underlying database was never initialised.

**Use case / motivation**

We are deploying our airflow helm chart with terraform helm provider

[2021-05-04 09:58] mpzfm1 commented on #15648
I think there is some issue with the packages, installing from the url:

https://raw.githubusercontent.com/apache/airflow/constraints-2.0.1/constraints-3.8.txt

it includes mysqlclient==1.3.14

and the error message is:

The conflict is caused by:
apache-airflow[celery,google,mysql,postgres,redis,sftp,ssh] 2.0.1 depends on mysqlclient<1.4 and >=1.3.6; extra == "mysql"
The user requested (constrain

[2021-05-04 10:32] potiuk commented on #15648
The "conflict" message is misleading. The error is caused by inabilty to install 1.3.14 (lack of binary libraries as @uranusjr mentioned). You need to install it and we even have the right script in the official image. It works for Debian Buster, but should be very similar for Ubuntu.

https://github.com/apache/airflow/blob/master/scripts/docker/install_mysql.sh

[2021-05-04 10:34] uranusjr commented on #15482
I *guess* it's not entirely unreasonable to simply skip the chmod call (and log a warning) if it fails.

[2021-05-04 10:43] potiuk commented on #15648
Also I'd heartily recommend using the official airflow image instead of building your own.

It is heavily optimized for size (based on 'slim' version of debian buster, uses multi-staging approach where "build-essentials" are not included in the final image) also it supports mysql client installation and works out-of-the-box:

`apache/airflow:2.0.1-python3.8`

Also, if you want to customize it and

[2021-05-04 10:48] potiuk commented on #15648
BTW. Just built such customized image and it is 766 MB total (uncompressed), which is rather small for airflow image (the Airflow reference image is ~950 MB) :

`dive your-image`

[code]

[2021-05-04 11:59] MaximeJumelle opened #15652 "All Dataproc operators raise 404 error"
Hello,

I was using Dataproc operators and I face with the same error popping each time calling a task. Consider the simple following DAG.

[code]

Testing the task `create_dataproc` (or a delete) or backfilling the entire DAG will automatically raise the following exception.

[code]

I have a connection configured with a full-access to GCP resources. Do any of you have already encountered the sam

[2021-05-04 12:25] mpzfm1 commented on #15648
thanks all of you for the suggestions. Last thing, how about i cant find the file providers_manager.py ?¿ into /opt (installation folder) i just have:

airflow@airflow-webserver-2021040503-7d777c8759-l89qf:~/airflow$ ls
airflow-webserver.pid  airflow.cfg  logs  unittests.cfg  webserver_config.py

Thanks.

[2021-05-04 13:16] potiuk commented on #15648
FYI. The 'providers_manager.py" can be found in airflow installation. In the official Airflow Image (where airflow is installed with `--user` flag) you will find it in /home/airflow/.local . If you install Airflow with regular 'pip install` you will find it in one of the folders returned by `python -m site`.

[2021-05-04 13:43] Jorricks commented on #14940
Based on this issue.
Are there any plans on releasing a v1.10.16?

[2021-05-04 13:50] SamWheating commented on #15652
I see you're passing `region="us-central1-a"` into your Dataproc operators.

From my understanding this is a google cloud Zone, within the `us-central1` Region. Could you try passing `region="us-central1"` into your operators instead. I believe the URLs used in the dataproc client are based on the provided region
https://github.com/apache/airflow/blob/32c63626845b9885c2349190ba9e44691007bbdb/airfl

[2021-05-04 13:53] MaximeJumelle commented on #15652
Hi, thank you a lot for your response. This is indeed the trick. I was confused since in previous version, `zone` parameter was needed instead of `region`. :)

[2021-05-04 13:53] #15652 closed

[2021-05-04 13:57] SamWheating commented on #15652
Happy to help! Were you upgrading between provider versions when you encountered this error? If this is breaking the clear upgrade path then maybe we can add some more backwards-compatible parsing in here 🤔

[2021-05-04 14:03] MaximeJumelle commented on #15652
I think this is related to the upgading between Airflow 1.x and Airflow 2.x, since I used the following code on Airflow 1.x.

[code]

I was confused because it asked me to put `region` instead of `zone` in versions 2.x, and I didn't see the change between region and zone because on the [example page for Dataproc](https://airflow.apache.org/docs/apache-airflow-providers-google/stable/_modules/airfl

[2021-05-04 14:18] mobuchowski commented on #15623
Tested snowflake. Looks good.

[2021-05-04 14:48] milletstephane opened #15654 "Airflow 1.10.12 - Scheduler performance issues due to database connections"
**Apache Airflow version**: 1.10.12
** Postgres version**: 9.6
** Python version**: 3.6.3
** SQLAlchemy version**:  1.3.20

**Environment**:

- **OS** (e.g. from /etc/os-release): Redhat 7
- **Kernel** (e.g. `uname -a`): 3.10.0-327.el7.x86_64

**What happened**:

Our team is running Airflow with Celery Executor inside a local cluster

We implemented a Dag with around 800 tasks, and each task has a

[2021-05-04 15:33] lolloberga opened #15655 "Connection timed out - HttpSensor"
Hi everyone,
I install my Airflow system in an environment that needs to use an http proxy.
How can i setup proxy parameters in Airflow system or in a single DAG?

I report my error log:
[code]

[2021-05-04 15:44] jedcunningham commented on #9627
This was done in #15616.

[2021-05-04 15:44] #9627 closed

[2021-05-04 15:47] jedcunningham commented on #15342
#10752 will cover the first official release.

[2021-05-04 15:47] #15342 closed

[2021-05-04 16:02] michaelosthege commented on #12813
@ephraimbuddy the tasks were part of the same DAG. (I cleared the downstream one after the 2.0.1 upgrade, but not the upstream task that had run on 1.10.14.)
Therefore it doesn't sound like `include_prior_dates` should make any difference, right?

[2021-05-04 16:02] ashb commented on #15654
Upgrade/try out Airflow 2.0 (.2) and I think you will be pleasantly surprised at how it performs -- we did _a lot_ of work on the scheduler for the 2.0 release

[2021-05-04 16:19] vikramkoka commented on #15303
@raphaelauv Thank you for reporting this, but can you please share information on how to reproduce this issue.

Also, Can you please try upgrading to Airflow 2.0.2 and see if this problem persists?

[2021-05-04 16:21] jedcunningham opened #15656 "Scrolling issue with new fast trigger with single DAG"
**Apache Airflow version**: master

**What happened**:

If you have a single DAG, half of the new "fast trigger" dropdown is hidden on the dashboard and causes a scrollbar in the DAG table.

**How to reproduce it**:

Have a single DAG in your instance and click on the trigger button from the dashboard.

![Screen Shot 2021-05-04 at 10 17 22 AM](https://user-images.githubusercontent.com/66968678/117

[2021-05-04 16:37] vikramkoka commented on #15650
@kaxil Just tagging you since you have been working on the Airflow helm chart

[2021-05-04 16:49] milletstephane commented on #15654
Before anyone try it. It seems that I messed up somewhere when getting runtime duration with the modified get_failed_dep_statuses function.
In the end it looks like it has no effect

[2021-05-04 17:24] #15636 closed

[2021-05-04 17:39] vikramkoka commented on #14392
Please suggest something or even articulate the questions you would like answered in the documentation.

[2021-05-04 17:43] jedcunningham commented on #10646
The original issue has already been fixed, but in the case where we have DAG persistence, gitsync, and KubernetesExecutor all at the same time we can be a little more efficient. #15657 addresses that.

[2021-05-04 18:08] zhzhang commented on #15623
Tested postgres changes against a Redshift cluster, looks good to me!

[2021-05-04 18:40] #10646 closed

[2021-05-04 19:22] Dr-Denzy commented on #15014
Assign to me @ashb

[2021-05-04 19:43] jcpalmer108 opened #15658 "Can't refresh DAGs when more than one Airflow UI is open"
**Apache Airflow version**:
Apache Airflow Version 1.10.10

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
Client Version: v1.20.4
Server Version: v1.15.12-eks-31566f

**Environment**:
We see the issue in both our dev and prod environments.

- **Cloud provider or hardware configuration**:  AWS EKS
- **OS** (e.g. from /etc/os-release):  Python36
- **Kernel** (e.g. `un

[2021-05-04 20:26] jedcunningham commented on #15658
Related to #15539, which also has a way to resolve it with the RBAC UI: https://github.com/apache/airflow/issues/15539#issuecomment-827489265

[2021-05-04 20:51] vikramkoka commented on #13701
@Lyalpha Please take a look at AIP-39 which is intended to introduce support for varied Scheduling timetables including your use case described above.
https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-39+Richer+scheduler_interval

[2021-05-04 20:54] vikramkoka commented on #13618
@eugenemiretsky Can you please confirm that the above referenced PR closes this?

[2021-05-04 20:59] vshabarish commented on #15658
hey, @jedcunningham  we want it fixed in FAB UI, not on RBAC UI. Due to some internal concerns, we are not opting for the rbac ui within our team. we are preparing the 2.0.1 in coming sprints. we want this issue to be fixed in our current environments

[2021-05-04 21:04] jedcunningham commented on #11789
@bpleines, can you try with the latest chart in master? I believe it is now functional with KubernetesExecutor.

@scheung38, you might try posting on slack if you are still having issues: https://apache-airflow-slack.herokuapp.com/

[2021-05-04 22:34] jedcunningham commented on #15623
Tested the `cncf.kubernetes` changes (except #15388) and had no issues.

[2021-05-04 22:42] iameugenejo commented on #15036
this hasn't happened for the past month or so.

The following is the dag with some values redacted.

[code]

[2021-05-04 22:56] jcpalmer108 commented on #15658
@jedcunningham ditto what shabarish said! He's on my team and we're working on the same product.

[2021-05-04 23:28] zorzigio commented on #15572
@JavierLopezT, not a clean (or desirable) solution, however for me

[code]

at the top of the file removes the error from the UI

[2021-05-05 00:28] #15656 closed

[2021-05-05 03:03] Isaacwhyuenac opened #15664 "Airflow Implicit rule on removing S3 path trailing slash"
Hi, I found the behaviour that removes [the trailing slash on S3 path](https://github.com/apache/airflow/blob/a0eb747b8d73f71dcf471917e013669a660cd4dd/airflow/providers/amazon/aws/hooks/s3.py#L146) intriguing and unnecessary.

Under the scheme, if in s3 there are

[code]

If we only want to match `agg/user_segmentation/tag_article_user_analysis/`, the `agg/user_segmentation/tag_article_user_analys

[2021-05-05 05:30] #15650 closed

[2021-05-05 06:53] yuqian90 commented on #14205
The symptom I'm seeing is that whenever any single DAG hits the `max_active_runs_per_dag` limit, the scheduler log will be full of lines like this. At this point, the scheduler basically stops scheduling any task for any dags. The fact that one dag hitting this limit causes all other dags to be halted is pretty bad. Our workaround at this moment is to make `max_active_runs_per_dag` a big number th

[2021-05-05 08:02] Lyalpha commented on #13701
Yes, great. The support offered by AIP-39 would allow for this feature. I will monitor it and hopefully be able to contribute something via the new support for custom scheduling.

[2021-05-05 08:27] #8421 closed

[2021-05-05 09:39] vigneshs2893 commented on #10860
Any update on this issue? I am also facing it with my airflow scheduler.

[2021-05-05 10:37] bturi opened #15668 "Extend Error Notifications to REST API actions"
**Description**

Extend DAG's `email_on_failure` feature to the case when a Task/DAG state is modified via Airflow's REST API endpoints such as `updateTaskInstancesState`.

**Use case / motivation**
Suppose a Task state is set to 'failed' via the official REST API. It would be convenient if the `email_on_failure` setting of the respective DAG would also apply here.

[2021-05-05 11:14] Jaxing opened #15670 "Pod overrides not working"
**Apache Airflow version**:
2.0.1
**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
1.17
**Environment**:

- **Cloud provider or hardware configuration**: GKE, some CPU some GPU nodes

**What happened**:
Hey I'm having some issues using the executor_config in the python operator when running with kubernetes_executor, i have tried both the option of using the `pod_templa

[2021-05-05 12:43] codenamestif commented on #15649
I confirm the issue. It looks like there is some kind of partial import. Especially when there are 2 files and one file has import on another one.

[2021-05-05 12:52] codenamestif commented on #15649
@uranusjr it's not about parsing the file for sure. I have python file with some constants. I've got the error after adding more constants there. The old ones were resolved with no problems, but new ones were not.

[2021-05-05 13:36] ewierschke opened #15672 "Add option to send webserver audit logging to stdout"
**Description**

While we've discovered that webserver audit logging (actions taken within the webserver, cli etc) appears to be written to the log table of the database, we have a need to have these logs written to stdout of the container running the webserver.
https://github.com/apache/airflow/blob/master/airflow/www/decorators.py#L33-L62
https://github.com/apache/airflow/blob/master/airflow/mod

[2021-05-05 14:06] MatthewRBruce commented on #15559
Okay, so we dug into this and here's what we found (TL;DR we think we're getting bit by mysql's default isolation level of REPEATABLE_READ):

[code]
Here we execute a query to get the recent DagRuns for `airflow-utils.send-airflow-heartbeat_every_minute` and we see we get runs up to `13:37:00`
[code]

Next we wait ~5 mins, and we run this query again but with `FOR UPDATE` and we get the new rows (

[2021-05-05 14:47] MatthewRBruce commented on #15559
and confirmed with READ_COMMITTED, we get the expected results:
[code]
<wait a few minutes>
[code]

[2021-05-05 15:02] jedcunningham commented on #15658
1.10.x reaches EOL in a couple weeks.

You can try patching your [`www/app.py`](https://github.com/apache/airflow/blob/1.10.10/airflow/www/app.py#L61-L63) to set [SESSION_COOKIE_PATH](https://flask.palletsprojects.com/en/1.1.x/config/#SESSION_COOKIE_PATH).

[2021-05-05 15:02] eladkal commented on #11989
@ernest-kr are you still working on this issue?

[2021-05-05 15:17] kaxil commented on #15670
Can you test it with 2.0.2 please and let us know if the problem persists?

[2021-05-05 15:17] eladkal commented on #8658
It may have been fixed by https://github.com/apache/airflow/pull/14048
can you please check with Airflow 2.0.0 / Master?

[2021-05-05 15:27] eladkal commented on #8603
@kaxil this issue should be resolved by https://github.com/apache/airflow/pull/14603 correct?

[2021-05-05 15:29] eladkal commented on #8691
@gdevanla is this problem still occur on Airflow 2?

[2021-05-05 15:50] mtrovo opened #15675 "Add optional justification when pausing a DAG"
**Description**

It would be great to have a way to add a justification when pausing a DAG.

This could be also shown on when a DAG is paused to understand why the DAG is not active.

**Use case / motivation**

We use a lot of DAGs on a Airflow project right now and every time a DAG needs to be paused we open a issue on our issue tracker and communicate with the rest of the team about this change.

[2021-05-05 16:46] gdevanla commented on #8691
I haven't tested with the latest release yet.  I plan to do it next week. Will report back after that.

[2021-05-05 17:06] jedcunningham commented on #15540
@zorzigio, maybe creating a custom storage class and setting `dir_mode`, `file_mode`, and/or `uid`, `gid` will help with your issue?

https://docs.microsoft.com/en-us/azure/aks/azure-files-dynamic-pv#create-a-storage-class

[2021-05-05 17:09] amatellanes opened #15679 "MongoToS3Operator failed when running with a single query (not aggregate pipeline)"
**Apache Airflow version**: 2.0.2

**What happened**:

`MongoToS3Operator` failed when running with a single query (not aggregate pipeline):

[code]

**What you expected to happen**:

I expect the data from MongoDB to be exported to a file in S3 with no errors.

**How to reproduce it**:

Run the following operator with a single  `mongo_query` (no aggregate pipeline):

[code]

[2021-05-05 17:43] CelastrinaLadon commented on #15623
SFTP and FTP Providers working well  All Green 😁

[image: image.png]

[image: image.png]

ในวันที่ พ. 5 พ.ค. 2021 เวลา 05:34 Jed Cunningham ***@***.***>
เขียนว่า:

[2021-05-05 18:48] potiuk commented on #15623
Cool! last chance to test some of the others :). Would be great to get Amzon, Spark, Elasticsearch, Micorosft ones also at least smoke-tested :)

[2021-05-05 19:13] SamWheating commented on #15559
Just following up to confirm that switching our database's isolation level from `REPEATABLE READ` to `READ COMMITTED` fixed the original issue in our case and allowed us to run multiple schedulers without issue.

Its worth noting that the default for Postgres is `READ COMMITTED`, so Postgres users likely did not encounter this issue.

@trollhe, could you confirm the following?
1) You're also using

[2021-05-05 20:02] #11086 closed

[2021-05-05 21:52] vasyharan opened #15685 "Undefined `conf` when using AWS secrets manager backend and `sql_alchemy_conn_secret`"
**Apache Airflow version**: 2.2.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.19 (server), 1.21 (client)

**Environment**:

- **Cloud provider or hardware configuration**: AWS EKS
- **OS** (e.g. from /etc/os-release): Docker image (apache/airflow:2.0.2-python3.7)
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

`airflow` b

[2021-05-06 02:23] luoyuliuyin commented on #15608
I want to know how this AIP is progressing and in which version we will be able to use this new feature

[2021-05-06 02:45] luoyuliuyin opened #15687 "celery worker can't read dags from db"
**Apache Airflow version**: 2.0.1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): centos 7.2
- **Kernel** (e.g. `uname -a`): Linux ee822bbb1f68 5.10.25-linux
- **Install tools**: pip
- **Others**: My start command:
`airflow webserver`
`airflow scheduler --do-pickl

[2021-05-06 03:30] uranusjr commented on #15685
There's a circular reference happening here. The secret backend needs to read configs, but the config wants to read the secret backend during initialisation. Not sure how best to fix this...

[2021-05-06 03:59] luoyuliuyin commented on #15608
I want to know how this AIP is progressing and in which version we will be able to use this new feature

[2021-05-06 05:04] jhtimmins commented on #13911
@xinbinhuang Were you able to work on this one? If we can get it merged this week it can be included in the 2.1 release, otherwise we'll target a later release.

[2021-05-06 05:09] jhtimmins commented on #13888
@alittlesliceoftom Following up on this. Are you still interested in working on this?

[2021-05-06 05:34] jhtimmins commented on #12396
Hi @amr-noureldin, were you able to see if this is still an issue?

[2021-05-06 05:39] jhtimmins commented on #11901
Hi @wolfier are you interested in submitting a fix for this?

[2021-05-06 08:26] potiuk commented on #15623
Thanks to all who tested their changes. I am closing this one - and proceeding with the release. The changes on the remaining providers look good from the inspection.

[2021-05-06 08:26] #15623 closed

[2021-05-06 09:22] mik-laj commented on #14346
@binygreenberg  Any progress? Users on Slack are looking forward to this change. See: https://apache-airflow.slack.com/archives/CCV3FV9KL/p1620289725321500?thread_ts=1620279612.318500&cid=CCV3FV9KL

[2021-05-06 11:04] thejens opened #15697 "Reset "upstream_failed" on upstream success"
**Description**

When manually retrying a failed task, and it succeeds, the downstream tasks with an "upstream_failed" state should be reset, or possibly added to a new/different state as the upstream is now indeed successful. This also applies when manually setting the task to success.

**Use case / motivation**

When retrying a failed task so it succeeds, or manually setting it to success, I bel

[2021-05-06 11:08] ashb commented on #15697
How are you manually retrying the task? (There are at least two ways of doing this.)

If you use clear, one of the options is to Include Downstream

[2021-05-06 11:59] #15248 closed

[2021-05-06 12:02] kaxil commented on #8603
No, actually this is a bit different i.e. the OP wants to allow using "file.jinja2" instead of "file.bash" or "file.sql" in rendered template fields.

[2021-05-06 12:03] GuillaumeDesforges commented on #10309
The revisions do not use this setting anymore, which is very upsetting. In my case, I have to get a dedicated db for Airflow because of this bug.

I think the revisions need to be modified to use the `schema` kwarg to any create_table or alter_table. That's a SQLAlchemy thing.

[2021-05-06 12:41] alittlesliceoftom commented on #13888
Hi both,
Thanks so much for the response. Reading your point @jedcunningham , you're right and I don't get that log return.

I think I actually should have referenced https://github.com/apache/airflow/blob/31b956c6c22476d109c45c99d8a325c5c1e0fd45/airflow/kubernetes/pod_launcher.py#L156
As this is what is called when get_logs = False.

I actually don't have the issue now as I now always get_logs=Tr

[2021-05-06 12:45] ranamit112 opened #15698 "task_instance_mutation_hook not called by scheduler when importing airflow.models.taskinstance"
**Apache Airflow version**: 1.10.12 (also tested with 1.10.15, 2.0.2 but less extensively)

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): None

**Environment**: Linux / Docker

- **Cloud provider or hardware configuration**: None
- **OS** (e.g. from /etc/os-release): Red Hat Enterprise Linux Server 7.9 (Maipo)
- **Kernel** (e.g. `uname -a`): Linux d7b9410c0f25 4.19.

[2021-05-06 12:54] eladkal commented on #9655
@JavierLopezT is this issue diffrenat than https://github.com/apache/airflow/issues/14270 which was already resolved?

[2021-05-06 12:59] JavierLopezT commented on #9655
No. Sorry, I didn't realize I had already opened this one.

[2021-05-06 12:59] #9655 closed

[2021-05-06 13:00] JavierLopezT commented on #15679
This seems related to https://github.com/apache/airflow/pull/12033

I'll take a look ASAP

[2021-05-06 13:04] eladkal commented on #9047
@akki would you be interested in fixing this?

[2021-05-06 13:07] eladkal commented on #9310
I'm not quite sure if this is an Airflow issue?

[2021-05-06 13:09] eladkal commented on #9528
fixed in https://github.com/apache/airflow/pull/9371

[2021-05-06 13:09] #9528 closed

[2021-05-06 13:14] eladkal commented on #9870
I think this should have been solved by https://github.com/apache/airflow/pull/9853
Can you please check against Airflow 2 ?

[2021-05-06 13:19] eladkal commented on #9713
@benbenbang  are you still working on this issue?

[2021-05-06 13:29] milletstephane commented on #15654
If like me you are stuck with an old version of airflow, here is an update on the problem.

My assumption that the problem was linked to the time taken to establish a connection with the database was not correct.

And it seems that rather than a bug, this behaviour is a choice. The scheduler is optimized for a high reactivity with DAG containing few tasks. The drawback is that if you build a singl

[2021-05-06 13:33] eladkal commented on #8528
Can you please elaborate on the use case?
I'm a bit confused.
If the configuration file construct the DAG structure then it needs to be called in a top level code thus the configuration file will be parsed every time airflow parse the dag.
If the configuration file construct a task then it will be used on run time.
Either way you will have the updated file.

But if I misunderstood your scenario st

[2021-05-06 13:55] uranusjr commented on #15679
There’s already a PR proposed in #15680 so please take a look at that as well.

[2021-05-06 14:23] ashb commented on #8528
The default configuration for Airflow will re-parse the dag file every 30s (https://airflow.apache.org/docs/apache-airflow/stable/configurations-ref.html#min-file-process-interval) -- or try to. If you have lots of dags it might take longer.

[2021-05-06 14:23] #8528 closed

[2021-05-06 15:19] thejens commented on #15697
I don't want to clear all downstreams though, and I guess that's the crux of the problem, some of those tasks have been allowed to execute even if the current task failed.

[2021-05-06 16:06] axelet commented on #1152
Yeah, we are still experiencing the same issue when trying to clear a subdag within the on_retry_callback function.

[2021-05-06 17:25] eladkal commented on #11045
The PR is stale.
@Dr-Denzy would you like to take this one?

[2021-05-06 17:32] xinbinhuang commented on #13911
@jhtimmins  hey sorry, this skips through my head. Let me work on this tonight! Will pin you for review

[2021-05-06 18:00] Dr-Denzy commented on #11045
I am currently neck-deep in some k8s issues but I will be happy to jump in on this once I have more wiggle room.

[2021-05-06 22:06] MatrixManAtYrService opened #15708 "@task_group returns int, but it appears in @task as TaskGroup"
**Apache Airflow version**

13faa6912f7cd927737a1dc15630d3bbaf2f5d4d

**Environment**

- **Configuration**: Local Executor
- **OS** (e.g. from /etc/os-release): Mac OS 11.3
- **Kernel**: Darwin Kernel Version 20.4.0
- **Install tools**: `pip install -e .`

**The DAG**

[code]

**What happened**:
`print_it` had no predecessors and receives `<airflow.utils.task_group.TaskGroup object at 0x128921940>

[2021-05-06 22:12] MatrixManAtYrService commented on #15708
FYI @ashb, @dimberman

[2021-05-06 22:58] jedcunningham commented on #14791
@shihabcsedu09, can you confirm that you are using the KubernetesExecutor? The task instance gets set to `success` and only the dagrun remains in running, right?

[2021-05-07 00:59] stephenonethree commented on #8541
I also started experiencing this issue on `composer-1.16.3-airflow-1.10.15` as well as `composer-1.16.1-airflow-1.10.15`. In my case I'm not technically using BigQueryOperator but I added a custom operator which loads to BigQuery (Relevant import `from google.cloud import bigquery`). Until I added that operator to my latest DAG I didn't have problems clearing tasks, then once I added it I started

[2021-05-07 01:23] shentlu commented on #15268
From: Vikram Koka ***@***.***>
Sent: Tuesday, May 4, 2021 11:54 AM
To: apache/airflow ***@***.***>
Cc: Michael Lu (shentlu) ***@***.***>; Author ***@***.***>
Subject: Re: [apache/airflow] Airflow UI display error (#15268)

I am sorry, it is not clear if this is a problem or not.
Just to be precise, the Airflow UI in 1.10.x is NOT a real-time UI which automatically refreshes the status of the DAG.

[2021-05-07 01:29] tiranox85 commented on #9722
if some one else has the same issue, i solved by doing a small change on my docker-compose.yml this way the scheduler always starts after the webserver and all the dag's are shown ok

`airflow-scheduler:
    <<: *airflow-common
    command: scheduler
    depends_on:
      airflow-webserver:
        condition: service_healthy
    restart: always`

[2021-05-07 01:51] stephenonethree commented on #8541
Incidentally in my case I had accidentally passed a parameter to one of my custom operators that was almost certainly not pickleable (I passed another operator to that operator, instead of a string). Then, I fixed that issue and went back to passing a string. The bad code is nowhere to be seen at this point but I still have the issue. Is there any sort of parameter history that might still be lurk

[2021-05-07 02:33] maxcountryman opened #15709 "Cannot delete DAG"
I see this exception when trying to delete a removed DAG:

[code]

[2021-05-07 04:23] shihabcsedu09 commented on #14791
@jedcunningham

1. No, I am using LocalExecutor with Kubernetes pod operator. Sorry that I didn't mention that in the issue.
2. Yes. I can see from the web that the state of DAG is still running.

[2021-05-07 07:24] ashb commented on #15708
Hmmm I wonder if we can do this without breaking existing DAGs? (It's possible someone is using the fact that the decorated fn returns the TG object?

(Or have we not released this yet and can change it. It's to early and I can't remember.)

[2021-05-07 08:06] yangrong688 commented on #9069
also can fix with
`SET @@global.innodb_large_prefix = 1;`

[2021-05-07 08:36] codenamestif commented on #15649
Also, looks like the issue was introduced in 2.0.2. Because migration back on 2.0.1 seems to solve the issue.

[2021-05-07 08:47] potiuk commented on #15685
Yeah. We do have a problem with 'conf' causing circular references (not regular circular imports, just references because we have circular dependencies between modules in our code which IMHO should be unentangled and make the dependencies straightforward. It's pretty deeply embedded in the way how configuration is done and the fact that we 'plug-in' the code (like secret backends) to conf which th

[2021-05-07 08:53] potiuk commented on #15649
@codenamestif can you paste the fragment of the `s3_adyen.py` file  that is reported as wrong?

Looking at the error description and the piece of code printed, it almost looks like the end of line after the python_script() was somehow stripped out.

[2021-05-07 08:57] potiuk commented on #15649
Maybe this is the usual Windows/Linux EOL problem CR/LF?

[2021-05-07 09:16] JavierLopezT commented on #15649
I can confirm that with 2.0.1 I did not have the issue with the exact same file.

Also, I am getting other errors. For instance, I have a query in a python file and there is an error on the UI saying that:
`"table relation does not exist"`
And I don't think that there should be any SQL checking before executing a dag.

Furthermore, I had to change the way I passed parameters to my python files bec

[2021-05-07 09:28] potiuk commented on #15649
I am afraid we will need to get more details and verbatim file to be able to investigate. Do you have a possibility of running again 2.0.1 -> 2.0.2 without disrupting  your current installation (for example by copying your database) and proividing some more details: verbatim file, more information about your deployment/database used etc.) + detailed list of stactraces/errors/log file errors you ha

[2021-05-07 09:31] potiuk commented on #15649
Additional question: Are you sure you migrated the `DB` before running new version of Airflow ?

[2021-05-07 09:36] JavierLopezT commented on #15649
Thanks for your interest. My files are edited in Mac with Pycharm. I have just tested Airflow 2.0 versions with a local docker-compose in my mac, with Postgres and Local Executor, and the exact same files work with Airflow 1.10.14 perfectly.

I did migrate the DB. I changed the version of Postgres in the docker-compose from 11.5 to 13 and I had to do on my Mac

[code]

After that, I entered the co

[2021-05-07 10:18] JavierLopezT commented on #15649
You can find the files here @potiuk @uranusjr:

https://github.com/JavierLopezT/airflow_2.02_error

[2021-05-07 11:46] ashb commented on #14950
Fixed by #15414

[2021-05-07 11:46] #14950 closed

[2021-05-07 11:49] ashb commented on #15439
I disagree, at least partially.

If the _currently_ running tasks finish the DAG, then the state should update, but new tasks should not be kicked off for a paused DAG.

[2021-05-07 11:50] ashb commented on #14299
Yeah, this is confusing terminology, rather than the wrong date being displayed.

Closing this as "wont fix" for now as we are working on a new UI

[2021-05-07 11:54] ashb commented on #10055
Unable to reproduce this problem on Airflow 2.0.

[2021-05-07 11:54] #10055 closed

[2021-05-07 11:56] ashb commented on #14412
Could you please test this on Airflow 2.0 and let us know if the problem persists there?

[2021-05-07 11:57] ashb commented on #14813
@kaxil Didn't we fix this already? 🤔

[2021-05-07 11:59] ashb commented on #14813
@xinbinhuang By default subprocess inherits stdout/err, so it should get printed:

[code]

[2021-05-07 13:10] potiuk opened #15713 "Migrate to newer Node"
We started to receive deprecation warnings (and artificial 20 second delay) while compiling assets for Airflow in master/

I think maybe it's the right time to migrate to newer Node.  The old UI will still be there for quite a while.

This however, I think,  requires rather heavy testing of the whole UI functionality.

Happy to collaborate on this one but possibly we should do it as part of bigger

[2021-05-07 13:41] arbass22 commented on #15439
Yeah that makes sense to me.  The situation I really care about is updating the DAG state when tasks' state change, even if the DAG is paused.

[2021-05-07 13:43] ashb commented on #14299
Just looked at the screenshot more closely and it's showing the wrong value, yes!

It's showing the start date for a dag run or task, but given the title says "DAG Details" it _should_ show the start_date of the dag.

[2021-05-07 13:47] trucnguyenlam opened #15715 "Airflow webserver 2.0.2 does not remember user's session any longer"
**Apache Airflow 2.0.2**:

**Kubernetes 1.19**:

**Environment**:

- *AWS*:
- build with docker image: `apache/airflow:2.0.2-python3.8`

**What happened**:

I recently migrated from airflow version 1.10.10 to 2.0.2. One thing I notice is that the user's session is not remember anymore by airflow webserver.

The authentication model I use is basic username and password. Airflow webserver (and sched

[2021-05-07 13:47] #12468 closed

[2021-05-07 14:47] potiuk commented on #15713
True. I guess we can assume that if asset compilation/transpiling works, everything should work as well.

[2021-05-07 15:31] potiuk commented on #14104
Yep. this is correct fix.

[2021-05-07 16:46] #15713 closed

[2021-05-07 16:59] Smithx10 opened #15724 "mysql cluster import_error waits for a lock"
A user of ours has a DAG named gc_test.py that doesn't work and resulted in an "import_error".  The Percona cluster 8 peers in the cluster all had many queries stuck on  "wsrep: replicating and certifying write set(-1)".    151 filling up the available connections.  Airflow is version 1.10

[code]

I logged into all the nodes and ran: "SHOW ENGINE INNODB STATUS;" and found the following useful inf

[2021-05-07 17:13] PeterLambe commented on #11901
This bug is affecting our instance as well. Is there a workaround? Is it safe to press "Delete DAG" on the old DAG from the ui?

[2021-05-07 17:26] benbenbang commented on #9713
Hello @eladkal, for now, we are using this in-house. I will check again if there's no objection to open-source this piece of code.

[2021-05-07 17:28] potiuk commented on #15724
I am afraid Airflow does not work with multi-master replication. You can have at most one master where everything connect to. Airflow's DB is usually not very busy, it's there to just store meta-data of the tasks, so it does not need replicated DB to work usually.

[2021-05-07 17:29] potiuk commented on #15724
Airflow also makes heavy use of locks, so it's lilely in this case the multi-master replication caused some replication dead-locks.

[2021-05-07 17:32] potiuk commented on #9713
Would be great

[2021-05-07 17:49] #14807 closed

[2021-05-07 18:33] MatrixManAtYrService commented on #15708
@ashb the `@task_group` decorator was merged here: https://github.com/apache/airflow/pull/15034 (Apr 1).

I think that means that it's not in any released packages. DAG's using it would have opted in to the bleeding edge by cloning master instead of waiting for a release.  Seems to me that it's reasonable to fix it directly.

[2021-05-07 18:35] Smithx10 commented on #15724
@potiuk ,

Thank you for this information, I'm not sure this is documented on the Airflow Website might worth adding it... I wouldn't mind adding the PR.

I currently use HAProxy in front of the Cluster,  would it be ok to use wsrep still,  but maybe change the balance algorithm to "first" ?

[2021-05-07 18:57] potiuk commented on #15724
Difficult to say. I do not know too much about your mylti-master solution . The scheduler HA design specifically excluded the multii-master replication  https://cwiki.apache.org/confluence/pages/viewpage.action?pageId=103092651 and only supports 'regular' db  https://airflow.apache.org/docs/apache-airflow/stable/scheduler.html - maybe that could be a great first contibution to make it clearer ?

[2021-05-07 18:57] ashb commented on #15708
Yeah, not released yet. (Sorry, I checked before adding the high priority label but forgot to comment)

We'll change this before 2.1 is cut

[2021-05-07 19:08] potiuk commented on #15724
Fantastic! Indeed it looks like this might be the very reason !

[2021-05-07 21:19] fredthomsen commented on #13905
Looks like the problem here is the filter argument being deprecated in docker API version 1.25: https://github.com/docker/cli/blob/v20.10.0-rc1/docs/deprecated.md#filter-param-for-imagesjson-endpoint.  This fix (https://github.com/docker/docker-py/commit/1757c974fa3a05b0e9b783af85242b18df09d05d) is available in docker-py>=4.4.1

[2021-05-07 23:15] jedcunningham commented on #14791
The DAG was enabled the whole time, right? If the DAG is disabled the dagrun will stay in running.

Can you double check you have [enable_tcp_keepalive](https://airflow.apache.org/docs/apache-airflow/stable/configurations-ref.html#enable-tcp-keepalive) on? The default changed, but you might have it in your airflow.cfg from before.

Do you have the same behavior with other operators (e.g. BashOpera

[2021-05-08 04:59] wolfier commented on #11901
I'm down to investigate what @leonsmith has pointed but for the master branch.

[2021-05-08 08:11] jbampton opened #15732 "Python dictionary contains duplicate keys"
`airflow/providers/apache/hive/hooks/hive.py`

"It is best to think of a dictionary as a set of key: value pairs, with the requirement that the keys are unique (within one dictionary)"

https://docs.python.org/3/tutorial/datastructures.html#dictionaries

<img width="482" alt="Screen Shot 2021-05-08 at 6 03 31 pm" src="https://user-images.githubusercontent.com/418747/117531959-726f2880-b028-11eb-91

[2021-05-08 08:15] potiuk commented on #15732
There is no need to open issue for that. Can you please just open PR fixing it?

[2021-05-08 08:19] potiuk commented on #15732
And just one more comment - so that you are aware of the "ettqute" and usual  approach.

Tthis is a comment which has no impact on the code and can be fixed very easily. There is no reason to pollute the issue space with an issue for that.

Please try not to create such issues as it drags our attention from more important problems.

I close the issue now.,

[2021-05-08 08:19] #15732 closed

[2021-05-08 08:51] potiuk commented on #15732
Happy to guide you. Just remove one of the duplicated keys with it's value. It's a comment so you will not destroy anything.

[2021-05-08 08:52] potiuk commented on #15732
BTW. Maybe it's time to start learning Python. I think your comments will be much more valuable if you learn Python and will be able to assess how important/easy to fix the issues are.

[2021-05-08 08:55] jbampton commented on #15732
What about the two values in the dictionary ?  They are different.
If we delete one key we also lose a value

[2021-05-08 08:58] potiuk commented on #15732
Does'nt matter. It's a comment. Doctest (but we are not using doctests). https://docs.python.org/3/library/doctest.html

[2021-05-08 09:20] #12941 closed

[2021-05-08 13:09] akki commented on #9047
Won't be able to take this immediately. But here is a diff (of an untested commit) from our internal Airflow which was trying to fix this issue. Hopefully, this helps give some idea of what needs to be done.
Anyone can please feel free to use this. Unfortunately, the commit doesn't have test cases.

[code]

Also, here is the complete specification of Docker's `ContainerSpec` if they'd like to impl

[2021-05-08 16:27] vikramcse commented on #15524
Hello @potiuk
I would like to work on this issue

[2021-05-08 16:35] potiuk commented on #15524
Feel free :)

[2021-05-08 18:52] SamWheating commented on #15709
Could you confirm which version of SQLAlchemy you're using? I believe a bunch of things were changed with declarative classes in the 1.4 release of SQLAlchemy. The latest version of Airflow should be installed with `sqlalchemy>=1.3.18, <1.4` [(source)](https://github.com/apache/airflow/blob/master/setup.cfg#L142)

This restriction was only added after the 2.0.1 release so I can totally see how Air

[2021-05-08 19:16] mik-laj opened #15742 "Save pod name in xcom for KubernetesPodOperator."
Hello.

Kubernetes generates a unique pod name.
https://github.com/apache/airflow/blob/736a62f824d9062b52983633528e58c445d8cc56/airflow/kubernetes/pod_generator.py#L434-L458
It would be great if the pod name was available in Airflow after completing the task, so that, for example, we could use it to add [extra links](http://airflow.apache.org/docs/apache-airflow/stable/howto/define_extra_link.html

[2021-05-09 07:29] shihabcsedu09 commented on #14791
@jedcunningham you guessed it correct. I do have `enable_tcp_keepalive = False` in my airflow.cfg. I am turning it on and I will test if the issue persists.

[2021-05-09 07:47] gudata opened #15745 "Task is in "running" state while the celery has raised exception"
**Apache Airflow version**: 2.0.2, 2.0.1
**Environment**:

- **Cloud provider or hardware configuration**: aws
- **OS** (e.g. from /etc/os-release):Amazon Linux
- **Kernel** (e.g. `uname -a`): Linux 4.14.225-169.362.amzn2.x86_64 #1 SMP Mon Mar 22 20:14:50 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux

- **Install tools**:
- **Others**:

**What happened**:

We run a dag to process one year of data. It st

[2021-05-09 08:45] #15559 closed

[2021-05-09 11:37] n3onUser opened #15747 "Install Airflow cloud providers as extra [AWS] [Azure] [Google]"
**Description**

It will be better to install airflow with pip base pip requirements and cloud platform as extra dependencies.

**Use case / motivation**

I would like to install Airflow without other Cloud Service Provider if i choose Azure or Google or AWS.
It will help to have less security flaws surface, less dependencies, less dependencies problems,...

**Are you willing to submit a PR?**

As

[2021-05-09 13:16] vikramcse opened #15748 "airflow tasks run --ship-dag not able to generate pickeled dag"
**Apache Airflow version**: 2.0.1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): No

**Environment**:

- **Cloud provider or hardware configuration**: local machine
- **OS** (e.g. from /etc/os-release): 18.04.5 LTS (Bionic Beaver)
- **Kernel** (e.g. `uname -a`): wsl2

**What happened**:
Getting Pickled_id: None

[code]

**What you expected to happen**:

Pickled_id s

[2021-05-09 13:20] vikramcse commented on #15748
From my initial findings, we are not calling `session.commit()` after creating pickled dag.
https://github.com/apache/airflow/blob/master/airflow/cli/commands/task_command.py#L82

Please let me know if my findings are valid! 😄
Thanks

[2021-05-09 13:47] potiuk commented on #15747
It's already possible. Airflow 2.0 has this built-in.

[2021-05-09 13:47] #15747 closed

[2021-05-09 13:48] potiuk commented on #15747
https://airflow.apache.org/docs/apache-airflow/stable/extra-packages-ref.html#providers-extras

[2021-05-09 17:52] n3onUser commented on #15747
sorry for the inconvenience, feature already exists !

[2021-05-09 21:05] #13905 closed

[2021-05-10 00:46] bhavaniravi commented on #15748
@vikramcse The session context manager takes care of committing the session, the issue might be something else

https://github.com/apache/airflow/blob/3711a29e5e253ede4ab12efe5990e83240e8a9a9/airflow/utils/session.py#L32

[2021-05-10 02:17] wahsmail opened #15752 "Airflow UI tree view: mark (success|failed) (past|future) only marking selected task instance"
**Apache Airflow version**: 2.0.1

**Environment**:

- **OS** (e.g. from /etc/os-release): CentOS Linux 7 (Core)
- **Kernel** (e.g. `uname -a`): Linux 3.10.0-957.27.2.el7.x86_64
- **Install tools**: conda install airflow airflow-with-ldap psycopg2 sqlalchemy=1.3

**What happened**:

When I want to backfill tasks using only the UI, I usually pick how far I want to backfill to, mark as failed with t

[2021-05-10 05:39] ajaymalikbol opened #15753 "Airflow scheduler getting stop with sys.exit(os.EX_OK)"
We are using airflow Version: v2.0.0

Airflow scheduler is getting stopped, These are the logs that seem to be the only reason behind scheduler getting stop.

[code]

This is the entry point which we are using for building the airflow docker image.
[entrypoint](https://github.com/apache/airflow/blob/v2-0-stable/scripts/in_container/prod/entrypoint_prod.sh)

<img width="1630" alt="Screenshot 2021-0

[2021-05-10 07:32] potiuk commented on #15753
I think you might have sys.exit() in your DAG file. The logs you have sent are just normal logs when you exit scheduler. And this will happen if your dag calls sys.exit() explicilty I believe.

[2021-05-10 07:33] potiuk commented on #15753
In any case the infromation you posted is not enough to make any investigation - we need a reproducible case to be able to do anything with it. I am closing it for now, if you provide more information and reproducible case, we can re-open it.

[2021-05-10 07:33] #15753 closed

[2021-05-10 08:39] Junnplus commented on #15742
hi @mik-laj , Could you please assign this to me?

[2021-05-10 09:28] mik-laj commented on #15742
@Junnplus  Assigned.

[2021-05-10 10:28] potiuk opened #15754 "[QUARANTINE] The test_mark_success_on_success_callback is flaky"
The test_mark_success_on_success_callback is flaky

[code]

[2021-05-10 11:14] trucnguyenlam commented on #15715
Issue resolve, setting flask secret key in airflow.cfg works.

[2021-05-10 11:14] #15715 closed

[2021-05-10 12:50] DenisOgr commented on #15196
@EunSeop how did you set DAG schedule so that it worked?
I set up `schedule_interval='@weekly',`  cleaned database, and turned on the  DAGs: `example_external_task_marker_parent` and `example_external_task_marker_child`. After that my scheduler failed with the error: `AttributeError: 'TaskInstance' object has no attribute 'task'`

[2021-05-10 13:14] maryampashmi commented on #15451
This is didn't solved.  I am getting the same error. Just tried to create a docker to install the module separately and this is the error I am getting
[code]

[2021-05-10 13:25] ecerulm opened #15761 "Raise KubernetesPodOperator do_xcom_push size limit"
**Description**

Currently KubernetesPodOperator will push the file `/airflow/xcom/return.json` as  XCom value.
This value is affected by two limits

* The size limit for the xcom value set by the airflow default built-in xcom backend, but you can provide *a custom XCom backend that does not have that limit*, like an backend that uploads values to S3
* The amount of bytes that can be transferred i

[2021-05-10 13:31] potiuk commented on #15451
It is solved in the most recent version of the google provider (3.0.0). Currently when you install 2.0.2 you get the previous version of provider installed, but you can manually upgrade it - by extending the image and adding

`pip install --upgrade  apache-airflow-providers-google`

It will be solved by out-of-the-box installation when we release `2.0.3`

[2021-05-10 15:29] maryampashmi commented on #15451
Using --upgrade, solved the error. I haven't get it anymore. Thanks for your help.

[2021-05-10 15:35] PeterLambe commented on #11901
Confirming that pressing "Delete DAG" on the old DAG will remove it from the metadata tables properly

[2021-05-10 16:40] john-jac commented on #15306
@kaxil could you provide details as to why backfill can't run on serialized dags?

[2021-05-10 19:03] dvd9604 opened #15767 "Webserver changes the base path for the log on rerun of task 404"
**Apache Airflow version**: 2.0.0

**Environment**:
- **OS** (e.g. from /etc/os-release): RHEL7
- **Python**: 3.8.6
- **Executor**: CeleryExecutor
- **Workers**: 4 worker nodes
- **logs dir**: /opt/airflow/logs/

**What happened**:

Scenario: Assume there are four workers labeled `host_a`, `host_b`, `host_c`, and `host_d`. The webserver and scheduler are running on another host `host_z`. When a ta

[2021-05-10 19:47] lsowen commented on #13853
Is this or #14265 a candidate for https://github.com/apache/airflow/milestone/21?

[2021-05-10 20:34] NickPancakes opened #15768 "PythonVirtualenvOperator fails with error from pip execution: Can not perform a '--user' install."
**Apache Airflow version**: 2.0.2

**Environment**:

- **Hardware configuration**: Macbook Pro 2017
- **OS**:  macOS X Catalina  10.15.7
- **Kernel**: Darwin 19.6.0
- **Others**: Docker 20.10.6, docker-compose 1.29.1

**What happened**:

Running the demo `example_python_operator` dag fails on the `virtualenv_python` step. The call to pip via subprocess fails:
`subprocess.CalledProcessError: Comman

[2021-05-10 21:46] dstandish opened #15770 "google provider requires leveldb in host"
google provider now requires plyvel, which is used by leveldb hook.

to install plyvel, the user needs leveldb headers installed in the system, otherwise it will fail:

[code]

the average GCP user may not use leveldb and it seems a little burdernsome to requirem its installation just to use GCP hooks.

perhaps there is a way to make this dependency optional?

or perhaps is there a way to install

[2021-05-10 21:54] #14302 closed

[2021-05-10 23:15] Smithx10 commented on #15724
@potiuk,

I made a bit of progress today.  I forked the percona-healthcheck script, ported it to go, and added raft.  It still needs to be cleaned up,  Logging, Config, Documentation,  but we will be testing this week to see how it works.

In a quick summary,  this healthchecker runs on 9200 and only informs HAProxy to route to a Synced MySQL node, and he Raft Elected leader.  If a Mysql node is u

[2021-05-10 23:58] kaxil opened #15771 "Automate docs for `values.yaml` via pre-commit config and break them into logical groups"
Automate docs for values.yaml via pre-commit config and break them into logical groups like https://github.com/bitnami/charts/tree/master/bitnami/airflow

[2021-05-11 01:31] EunSeop commented on #15196
@DenisOgr I never saw that message. Airflow 2.0 is not perfectly support python 3.6, so I decided upgrade python version using pyenv. Please check airflow and python versions.
And to make run ExternalTaskSensor, if we decided use `schedule_interval='@weekly'`, then `start_date` should be over 7 days ago to make run immediately. Or can use airflow dags cli to run 2 dags at the same time.

[2021-05-11 04:29] vikramcse commented on #15524
Raised a PR for improving test coverage of task_command.py file
https://github.com/apache/airflow/pull/15760

[2021-05-11 04:52] edwinkong opened #15773 "[SambaHook] Can not extract domain from the username"
**Apache Airflow version**:
2.0.1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**: docker-compose + custom built docker image

**What happened**:

The `airflow.providers.samba.hooks.samba.SambaHook` does not accept the `domain` argument and is automatically defaults to the server ip address by upstream `pysmbclient`.
If the DOMAIN/USERNAME format was

[2021-05-11 06:12] pateash commented on #12401
Implemented, multi-select and duplication.

![](https://user-images.githubusercontent.com/16856802/116422002-f5d88f00-a85c-11eb-99d5-e9648a6b8368.png)

[2021-05-11 06:24] edwinkong commented on #15773
I am sorry for not checking the upstream before opening an issue here. The upstream project `pysmbclient` was last updated at 9 years ago so the project is very likely to be obsolete. The `NT_STATUS_BAD_NETWORK_NAME` error was raised due to the faulty `subprocess` call
[code]
the double quote doesn't include the `ls` so it fails.

I would create my samba hook myself. Moreover, the `SambaHook` can

[2021-05-11 07:07] uranusjr commented on #15768
I don’t think that’s right, that command is used to invoke `virtualenv`, not `pip`. And prepending won’t work because that is a Bash-specific syntax and does not work with `subproces.Popen()` (unless `shell=True` but please don’t do that).

One possible fix would be to introduce an `environ` argument to `execute_in_subprocess()` so the `PIP_USER` environment variable can be removed when invoking p

[2021-05-11 07:14] uranusjr commented on #15770
Doesn’t `plyvel` publish manylinux wheels and does not require compilation on most system?

[2021-05-11 07:19] potiuk commented on #15768
It's indeed problem of the image and PIP_USER but this can be very simply addressed. PIP_USER is only needed when you extend the image, but not when you run `airflow` commands. I will simply unset PIP_USER variable in the entrypoint.

[2021-05-11 07:19] uranusjr commented on #15770
But is macOS a supported production system? I’ve thought it’s only supported as a development platform…

Either way, it’s a good idea to split plyvel out anyway. Not every Linux is manylinux and there might be some people having problems with this e.g. on Alpine.

[2021-05-11 07:34] potiuk commented on #15770
It's mostly for development convenience. Plyvel is really such a `niche` thing that it's worth making it optional if only for the convenience of developers.

[2021-05-11 07:35] potiuk commented on #15768
Fix in #15774 ( I tested that PIP_USER is unset there)

[2021-05-11 08:30] eladkal commented on #15773
We have open task to move to a maintained library https://github.com/apache/airflow/issues/14054 handled by @marcosmarxm

[2021-05-11 08:30] #15773 closed

[2021-05-11 09:12] maryampashmi opened #15775 "clear tasks is failing"
**Apache Airflow version**:

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know**:

[2021-05-11 10:57] uranusjr commented on #15748
I think @vikramcse is correct on the root cause. `with create_session()` only commits at the end of the block, *after* we accessed `pickle.id`, so it does not handle this.

[2021-05-11 18:32] john-jac opened #15780 "High volume of API requests with AWS Secrets Manager backend"
**Apache Airflow version**:
1.10.12

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

n/a

**Environment**:

- **Cloud provider or hardware configuration**: MWAA
- **OS** (e.g. from /etc/os-release): Amazon Linux
- **Kernel** (e.g. `uname -a`): x86_64 GNU/Linux
- **Install tools**:
- **Others**:

**What happened**:

When using AWS Secrets Manager backend there is a hi

[2021-05-11 19:09] #15708 closed

[2021-05-11 22:54] fob-cesar opened #15783 "Auto-refresh of logs."
**Description**

Auto-refresh of logs.

**Use case / motivation**

Similar process that is already implemented in the Graph View, have the logs to auto-refresh so it's easier to keep track of the different processes in the UI.

Thank you in advance!

[2021-05-11 23:10] jedcunningham commented on #15775
Hi @maryampashmi, can you provide some more details on the issue you are facing?

[2021-05-11 23:25] kaxil commented on #15780
Also please test it with 2.x -- Only critical fixes would be done on 1.10.x and that too will end next month.

https://github.com/apache/airflow/blob/master/dev/PROJECT_GUIDELINES.md#support-for-airflow-110x-releases
https://airflow.apache.org/docs/apache-airflow/stable/upgrading-to-2.html#support-for-airflow-1-10-x-releases

[2021-05-11 23:46] kaxil opened #15785 "Chart: Add Integration test to check changing Executor"
Add integration test changing from:

- CeleryExecutor to KubernetesExecutor
- KubernetesExecutor to CeleryExecutor

Test it with a simple example DAG.

We don't need to test changing from Local to any other executor

[2021-05-11 23:47] kaxil commented on #15785
cc @jedcunningham @ephraimbuddy

[2021-05-11 23:53] kaxil commented on #14301
From https://github.com/apache/airflow/pull/15695#issuecomment-837577849:

cc @ephraimbuddy

[2021-05-12 00:19] kaxil opened #15786 "Chart: Improve `git-sync` support"
Following things needs to be improved in the Helm Chart before we can release it to better support git-sync:

- There should be a way to pass additional environment variables ([listed here](https://github.com/kubernetes/git-sync#parameters)) to `git-sync` containers instead of hard-coded list at https://github.com/apache/airflow/blob/303c89fea0a7cf8a857436182abe1b042d473022/chart/templates/_helper

[2021-05-12 01:42] jhtimmins commented on #8061
@ashb can this be closed, since there's a workaround?

[2021-05-12 01:43] ephraimbuddy commented on #14301
Yes. Looking into it now

[2021-05-12 02:03] uranusjr commented on #14299
This happens when `catchup=False`. The calculation mutates the DAG instance here:

https://github.com/apache/airflow/blob/6690758c696562e0fd4f1858d937d43efd1fbb47/airflow/models/dag.py#L580-L584

because when there’s no catchup, we don’t want to schedule the DAG for periods before the current time. So the displayed time is *logically* correct to the scheduler—the DAG won’t actually start being sch

[2021-05-12 03:12] ephraimbuddy commented on #14301
I'm having a hard time on this. @potiuk can you help?

[2021-05-12 03:41] MatrixManAtYrService opened #15789 "Task preceeding PythonVirtualenvOperator fails: "cannot pickle 'module' object""
**Apache Airflow version**

13faa6912f7cd927737a1dc15630d3bbaf2f5d4d

**Environment**

- **Configuration**: Local Executor
- **OS** (e.g. from /etc/os-release): Mac OS 11.3
- **Kernel**: Darwin Kernel Version 20.4.0
- **Install tools**: `pip install -e .`

**The DAG**

[code]

**What happened**:
Failure somewhere between first task and second:
[code]

**What you expected to happen**:

Both tasks s

[2021-05-12 03:42] lintingbin2009 commented on #13542
We also have this problem. Every few days there will be a task that cannot be scheduled in the queue state forever. After restarting the scheduler, the status task will become up_for_retry and continue to run. So our current solution is to restart the scheduler every hour.

[2021-05-12 05:21] msk-psp opened #15790 "Failed to build Docker image using Dockerfile in master branch"
apache Airflow version

2.0.2

Environment

Configuration: Dockerfile
OS (e.g. from /etc/os-release): ubuntu 16.04
Install tools: sudo docker build -t airflow-with-browser .

What happened:

I Can't build a docker image using Dockerfile in master branch
The python package dependency error occurred while building a image

<img width="1871" alt="스크린샷 2021-05-12 오후 2 16 16" src="https://user-

[2021-05-12 06:10] potiuk commented on #15790
I think master constraints are not refreshed recently. Let me do that now.

[2021-05-12 06:37] potiuk commented on #14301
Sure. We will need to make several configurations of tests for K8S. In short we need several different " modes" of running k8s - for now we only had one "KUBERNETES_MODE" : image . It was "legacy" and never really used beside some 1.5 years ago where we also had "git-sync" mode but I do not think we awnat to test that much granularity for integration tests so we can use this mode to become "deploy

[2021-05-12 06:48] ephraimbuddy commented on #14301
Ah, just seeing your message now. Will keep the PR I just made to draft first

[2021-05-12 06:54] potiuk commented on #14301
Perfect! Happy to help

[2021-05-12 08:05] ldealmei commented on #14392
I am not sure what was unclear in my message. I believe I did suggest something and even articulated why it was relevant for me.
Would you like me to redact exactly what to change in the docs?

As I wrote, my suggestion is:

or as the title indicates, to simply:

[2021-05-12 08:07] potiuk commented on #15770
I hit the same problem on linux today. When installing python 3.6 version of airflow for whatever reason plyvel failed to compile :(

[2021-05-12 08:07] potiuk commented on #15770
We SHOULD do it.

[2021-05-12 08:08] c-thiel opened #15793 "Airflow Scheduler does not take Queued Slots in Pools into consideration"
**Apache Airflow version**: 2.0.2

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.17.14

**Environment**:

- **Helm-Chart**: https://github.com/airflow-helm/charts/tree/main/charts/airflow
- **Executor**: CeleryExector on Kubernetes
- **Operator**: Mostly KubernetesPodOperator, most tasks take 5 or 10 pool slots
- **Parallelism**: Very high (1000)
- **AIRFLOW__SCHE

[2021-05-12 08:09] potiuk commented on #15790
I can reproduce it but it is really strange. I will have to take a closer look at it. Seems that all is legit and "airflow 2.0.2" installs properly with the 2.0.2 constraints but for some reason it falls back to connexion 2.6.0 in our image where it should (and it's been like that for quite a while) use 2.0.7.

[2021-05-12 08:31] potiuk commented on #15790
@uranusjr - maybe you can have some ideas before I dig deeper ?

It's easy reproducible with `docker build --build-arg AIRFLOW_VERSION="2.0.2" -t airflow-with-browser .` . Seems that the right (2.0.2) constraints are used, and they contain connexion 2.7.0 but for some reason in the middle of installation PIP downloads and starts looking for matching versions of packages for `connexion 2.6.0`  - re

[2021-05-12 08:33] potiuk commented on #15790
And constraints SHOULD contain all package with fixed versions (including provider packages). The only reason that comes to my mind - if some package version was removed from PyPI, then PIP could start looking for another version and this could cause a "chain reaction"?

[2021-05-12 09:19] ashb commented on #15793
Hmmm I wonder how this pool got over full in the first place -- did you recently upgrade from an older version?

[2021-05-12 09:19] #12484 closed

[2021-05-12 09:24] ashb commented on #15789
I hate pickle :/

[2021-05-12 09:32] ephraimbuddy commented on #14301
./breeze kind-cluster status (to check the status of the cluster)
./breeze kind-cluster deploy --kubernetes-mode CeleryKubernetes

The above steps can already be done with `--executor CeleryKubernetes`. Maybe we should remove `--kubernetes-mode` or remove `--executor` and implement the `--kubernetes-mode` the way the `--executor` is implemented?

[2021-05-12 09:34] potiuk commented on #14301
yep

[2021-05-12 09:35] uranusjr commented on #8713
I’ve submitted #15794 for this.

[2021-05-12 09:39] rabsr commented on #13504
I am still facing the same issue on Airflow 2.0.2. Recently I upgraded Airflow from 2.0.1 to 2.0.2. Getting the same error logs when loading dag.

[2021-05-12 09:40] eladkal commented on #13231
@anand-sivampeta unassigning you due to passed time.
This issue is open for anyone who wants to pick it up.

[2021-05-12 09:53] eladkal commented on #8284
@khyurri  unassigning you as you did not complete the PR.

[2021-05-12 10:06] c-thiel commented on #15793
No I did not. This is a fresh install. I also just manged to reproduce on Minikube. I will add the instructions in the next hour.

[2021-05-12 10:15] potiuk commented on #14301
I did not even know we had --executor swtich already :)

[2021-05-12 10:18] uranusjr commented on #12537
@bgsthiago Try removing the trailing slashes? Docker really does not like them sometimes, see https://stackoverflow.com/a/38585245/1376863

As a meta-issue, maybe we should deprecate `volumes` altogether and migrate to the `mounts` API instead (i.e. [`docker --mount`](https://docs.docker.com/storage/bind-mounts/#choose-the--v-or---mount-flag)). It’s much easier for users to get those right than bi

[2021-05-12 10:19] yuqian90 commented on #7935
Hi @ashb I would like to report that we've been seeing something similar to this issue in Airflow 2.0.2 recently.

We are using airflow 2.0.2 with a single airflow-scheduler + a few airflow-worker using CeleryExecutor and postgres backend running dozens of dags each with hundreds to a few thousand tasks. Python version is 3.8.7.

Here's what we saw:
airflow-scheduler sometimes stops heartbeating a

[2021-05-12 10:30] c-thiel commented on #15793
@ashb I added the instructions above.
Please find following some Screenshots from the setup:
![image](https://user-images.githubusercontent.com/12560027/117960728-962eb900-b31d-11eb-9793-180881fff1b9.png)

This is the log of one of the python tasks:
[code]

It is completly random which ones fail and which ones don't.

[2021-05-12 11:28] kaxil commented on #14301
Thank you both :)

[2021-05-12 11:30] kaxil commented on #13504
Please raise a different issue with the steps to reproduce, please

[2021-05-12 11:44] ericdevries commented on #13853
I also agree with the old behavior being more sensible, but can we at least confirm the new implementation is a bug or a feature?

[2021-05-12 11:56] uranusjr commented on #15790
Pip’s conflict reporting doesn’t work very well when the conflict involves extras, unfortunately. When you see a conflict with extras, it’s usually not the package itself that’s causing the conflict 😞 I do have plan to improve it if I have the time. I’ll try to dig deeper what exactly is the cause.

[2021-05-12 12:12] pparthesh opened #15796 "worker ip missing in webserver logs"
**Apache Airflow version**: 2.0.1

**Environment**:

- **Helm Chart**: https://github.com/apache/airflow/tree/master/chart
- **Install tools**: helm3

**What happened**:
  worker ip address is missing
[code]

**Config**:
[code]

[2021-05-12 12:29] alexInhert opened #15797 "some issues with example dags"
I played with some example dags of google provider and got the following warnings:
[code]

just reporting in case you are not aware of it.

[2021-05-12 12:49] uranusjr commented on #15790
I think I’ve got it.

[code]

But the constraints have

[code]

Completely unrelated to `connextion` 😓

[2021-05-12 13:04] kajen3 opened #15798 "PythonVirtualenvOperator fails because virtualenv is not found"
**Apache Airflow version**: 2.0.1 and 2.0.2

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**: local

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): MacOS 11.3.1
- **Kernel** (e.g. `uname -a`):
- **Install tools**: https://airflow.apache.org/docs/apache-airflow/stable/start/local.html inside a new conda env with p

[2021-05-12 13:22] potiuk commented on #15790
Aaaargh ... I thought we will be good with pyarrow.  Ithe problem is I think only with Py21 then and it i gone for master/upcoming 2.1 i will check if specifying PIP version helps

[2021-05-12 13:31] potiuk commented on #15790
Confirmed. It works when you switch to PIP 20.2.4

[code]

I will update the documentation to make it clear that you need to add the build arg when build pre-2.1 images.

[2021-05-12 14:08] potiuk commented on #15798
You need to install [virtaualenv] extra for airflow https://airflow.apache.org/docs/apache-airflow/stable/extra-packages-ref.html#core-airflow-extras

[2021-05-12 14:08] #15798 closed

[2021-05-12 14:41] hadoopBrogrammers opened #15799 "celery worker timed out with rabbitmq"
airflow version 2.0.2
rabbitmqctl version: 3.8.16
celery worker version : 4.4.7 (cliffs)
airflow installed on Kubernetes ..

1. It is working fine but after some run worker node got stuck with following error ....
  File "/home/airflow/.local/lib/python3.6/site-packages/amqp/channel.py", line 280, in _on_close
    reply_code, reply_text, (class_id, method_id), ChannelError,
amqp.exceptions.Precond

[2021-05-12 14:52] FabianF92 opened #15803 "Task Instance details can't be displayed when using special attribute json"
**Apache Airflow version**: 2.0.1

**Environment**: Azure App Service

**What happened**:

In UI, when viewing Instance Details of a task (Dag tree view -> task -> Instance Details) that contains special attribute `json` exception is thrown. This happens when the json attribute contains a dict with non-string values.
![image](https://user-images.githubusercontent.com/30059482/117994237-ae63ff80-b3

[2021-05-12 14:53] potiuk commented on #15790
OK. I fixed in the upcoming #15802 - I added automated fallback to PIP 20.2.4 when pre-2.1 version of Airflow is built using the newer image (both 1.10* and 2.0.*). Once this is merged you will not have to specify the PIP_VERSION @msk-psp

[2021-05-12 14:53] potiuk commented on #15790
Thanks for reporting in @msk-psp !

[2021-05-12 14:54] potiuk commented on #15790
And thanks @uranusjr for help !

[2021-05-12 15:09] msk-psp commented on #15790
@potiuk thank you for your fast responding ^^*

[2021-05-12 17:10] dstandish commented on #15770
I may not be able to get to it this weekend ... Traveling... but will let you know

[2021-05-12 17:26] Kimahriman commented on #15280
FWIW the first issue identified is still an issue. The spark-submit hook doesn't monitor yarn based jobs, it only can kill them

[2021-05-12 20:07] ephraimbuddy commented on #14301
I think we should use separate jobs for each executor that we want to test in k8s cluster because the logs when all is run in one job are just too much and hangs when you want to view it. See https://github.com/apache/airflow/pull/15791/checks?check_run_id=2568726142

[2021-05-12 20:48] kaxil commented on #14301
Yup, same as what we have now for different Python versions and different DBs

![image](https://user-images.githubusercontent.com/8811558/118042258-c735da80-b36b-11eb-9fd1-d3ab58ffa333.png)

[2021-05-12 20:53] cocampbe opened #15806 "livy ssl issue"
**Apache Airflow version**: 2.0.1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.17.6

- **OS** (e.g. from /etc/os-release): oracle linux 7.9
- **Kernel** (e.g. `uname -a`): Linux airflow-worker-1 4.14.35-2047.502.4.el7uek.x86_64 #2 SMP Mon Apr 5 13:21:44 PDT 2021 x86_64 GNU/Linux

**What happened**:

Got the following trying to user the livy operator. I have adde

[2021-05-12 21:14] Bertusian opened #15807 "'quick start' docker-compose up airflow-init warnings & docker-compose up never comes to an end"
**Apache Airflow version**: 2.0.2

**Environment**:

- **Cloud provider or hardware configuration**:  Guest: VM 4GB RAM, 33 GB disk space , Host: Windows host with high specs
- **OS** (e.g. from /etc/os-release): Ubuntu VERSION="20.04.2 LTS (Focal Fossa)"
- **Kernel** (e.g. `uname -a`): Linux ubuntu2004 5.4.0-73-generic #82-Ubuntu SMP Wed Apr 14 17:39:42 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux

**

[2021-05-12 23:34] #13643 closed

[2021-05-12 23:47] ephraimbuddy commented on #14301
Now using a single job and it seems it'll succeed this time with fewer logs. Running `./ci_setup_cluster_and_deploy_airflow_to_kubernetes.sh` locally runs the executor tests in other.

[2021-05-12 23:53] MatrixManAtYrService opened #15813 "Support `Tuple[foo, bar]` type hints on `@task` decorated functions"
**Description**

https://github.com/apache/airflow/issues/8996 described the use of type hints to indicate multiple return values for functions decorated with `@task`. The `Dict` type hint was delivered in https://github.com/apache/airflow/pull/10349.  `Tuple` was left out of that PR (see [here](https://github.com/apache/airflow/pull/10349#issuecomment-680918458))

I'm creating this issue so that

[2021-05-13 00:05] #15058 closed

[2021-05-13 05:30] patsevanton commented on #15340
@kaxil
[code]

[2021-05-13 05:48] ephraimbuddy commented on #14301
This has failed :)

[2021-05-13 06:28] uranusjr opened #15815 "New syntax to mount Docker volumes with --mount"
I had this after reading #12537 and #9047. Currently `DockerOperator`’s `volumes` argument is passed directly to docker-py’s `bind` (aka `docker -v`). But `-v`’s behaviour has long been problematic, and [Docker has been pushing users to the new `--mount` syntax instead](https://docs.docker.com/storage/bind-mounts/#choose-the--v-or---mount-flag). With #12537, it seems like `-v`’s behaviour is also

[2021-05-13 09:10] uranusjr commented on #15649
I tried the files in a fresh Airflow installation and could not reproduce the error. So (assuming the files are verbatim, which I’m unsure of since Git performs some text processing by default), this is likely an issue with your local setup (probably database?) and not a bug in Airflow itself.

[2021-05-13 09:37] darthale opened #15818 "Deleting DAG runs through the UI causes incomplete deletion of DAG run details. This affects tasks logging capabilities"
**Apache Airflow version**: 2.0.2

**Kubernetes version**:

[code]

**Environment**: bitnami/airflow: 2.0.2

- **Cloud provider or hardware configuration**:  AWS, EKS K8 cluster
- **OS** : Debian GNU/Linux 10 (buster)
- **Kernel** : Linux airflow-scheduler-64d8c676ff-h5zkk 4.14.209-160.339.amzn2.x86_64 #1 SMP Wed Dec 16 22:44:04 UTC 2020 x86_64 GNU/Linux
- **Install tools**: helm 3.2.4
- **Others*

[2021-05-13 10:36] devender-yadav commented on #13268
I am getting the same error `ImportError: cannot import name 'watch' from 'kubernetes'` with `kubernetes==11.0.0` and `apache-airflow==1.10.15`.
Kubernetes server version - 1.17

[2021-05-13 11:48] #12001 closed

[2021-05-13 12:48] jianqiuhuang commented on #14672
I'm having a similar issue. [Tasks marked as success externally](https://github.com/apache/airflow/blob/9c8391a13f6ba29749675cf23f2f874f96b0cc8c/airflow/jobs/local_task_job.py#L197) and then `SIGTERM` is send to the process immediately after.

I think it's because the timeout is defaulted to `0` https://github.com/apache/airflow/blob/9c8391a13f6ba29749675cf23f2f874f96b0cc8c/airflow/task/task_runne

[2021-05-13 13:41] ashb commented on #15793
@c-thiel Thanks, we'll take a look at this

[2021-05-13 13:58] stephenonethree commented on #8541
Incidentally, I tried deleting the entire dag using the deletion button from the main DAG page list, which as expected based on the description of that button removed the dag and then caused it to show up again when I refreshed in a second (because I had intentionally not deleted the .py). However, after testing I continued to get the same error when trying to clear statuses downstream/recursive.