[2021-07-12 14:32] alokshenoy commented on #16834
I can take this one up.

[2021-07-12 14:43] kaxil commented on #16202
OK based on https://github.com/dpgaspar/Flask-AppBuilder/issues/1667#issuecomment-878254470 it looks like an Airflow issue rather than a FAB issue -- some change broke it in 2.1.0 or 2.1.1

[2021-07-12 15:20] potiuk commented on #16909
I am not sure I can help (not my area). But possibly someone who looks at it will.

[2021-07-12 15:22] saisujithkp commented on #16298
I'm having the same issue with the scheduler. The scheduler has an event with the following error

LAST SEEN   TYPE      REASON             OBJECT                                          MESSAGE
6m44s       Warning   DNSConfigForming   pod/airflow-ml-dev-scheduler-6699c76bb7-xwrjb   Search Line limits were exceeded, some search paths have been omitted, the applied search line is: airflow-ml-dev.s

[2021-07-12 15:40] vkostyuk opened #16944 "Include `Authlib` in Airflow Docker images"
**Description**

`Authlib` is required for FAB authentication. Currently, it's not included in the Airflow images and must be pip installed separately. It's a small package supporting core functionality (Webserver UI authentication), hence would make sense to include.

[2021-07-12 16:17] saisujithkp commented on #16881
Could be a Duplicate of #16298, I'm having the same issue when migrated from 1.10.14 to 2.1.0

[2021-07-12 17:28] potiuk commented on #16834
Feel free :). Assigned you to it!

[2021-07-12 17:44] potiuk commented on #16806
Ah. OK. I see Indeed. I thin kit was because we have changed how "Mount" works and while it was not failing before, it did not work  properly either (the tmp volume was not mounted). I see then how it was not detected before. Good call @sudohainguyen !

[2021-07-12 17:45] potiuk commented on #16803
Seems it can also be workarounded by downgrading to `1.0.1`

[2021-07-12 17:51] potiuk commented on #16939
Yep. Very likely indeed!

[2021-07-12 17:52] potiuk commented on #16939
kind-cluster deploy builds prod image from sources rather than from package, so you are probably right that this change broke it!

[2021-07-12 17:53] potiuk commented on #16939
Hmm. But the  "else" should handle it 🤔

[2021-07-12 18:06] oyarushe opened #16949 "'Can't separate key from value' when running breeze"
**Apache Airflow version**: the lasters version from main ([4d8fd37](https://github.com/apache/airflow/commit/4d8fd37b6d110b348f29e677eaaaf9e447c837c7))

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): macOS Big Sur
- **Kernel** (e.g. `uname -a`): Darwin Kernel Version 20.4.0
- **Docker Desktop**: 3.5.2
- **Docker Compose**: v2.0.0-beta.6

**

[2021-07-12 18:10] potiuk commented on #15607
Absolutely agree, it this is "expected" error. I.e. if there is an action from a user or known reason/flow that leads to it, you can  - and should - provide a description and remediation,

Conversely, if something is the result of some totally unexpected condition which is likely a bug in the software or bug in migration process that was not possible to handle - it is virtually impossible to predi

[2021-07-12 18:14] potiuk commented on #16944
Would you like to make a PR with it @vkostyuk ? Should not be too difficult to find the right place in ethe Dockerfile (same thing should be done in Dockerfile.ci)

[2021-07-12 18:23] potiuk commented on #16939
Will take a look tomorrow!

[2021-07-12 18:32] alexInhert opened #16951 "add all_skipped trigger rule"
I have use cases where I want to run tasks if all direct upstream tasks are skipped. The `all_done` trigger rule isn't enough for this use case.

[2021-07-12 18:42] fredthomsen opened #16952 "Secrets Backend Search Path Ordering/Priority"
**Description**

A way to set a custom secrets backend to be lower priority than the built-in `airflow.secrets.environment_variables.EnvironmentVariablesBackend` and `airflow.secrets.metastore.MetastoreBackend`.

**Use case / motivation**
When creating a our own secrets backend utilizing Secret Server, our team noticed you cannot configure the the custom backend to be a lower priority than the def

[2021-07-12 18:56] jhtimmins commented on #12300
@kaxil Not sure. Need to validate.

[2021-07-12 19:38] #16949 closed

[2021-07-12 19:38] potiuk commented on #16949
Fixed by #16950

[2021-07-12 21:23] #16725 closed

[2021-07-12 21:36] akki commented on #16806
I don't have a complete proof for this yet (I might have to look into Docker's code for that), but from the docs (and the error message), it seems that we might be using the wrong `type`.

Is it possible for anyone here to change [this line](https://github.com/uranusjr/airflow/blob/62faed96e807968d06bf0b46f7ad24428ab13797/airflow/providers/docker/operators/docker.py#L236) to `tmp_mount = Mount(sel

[2021-07-12 23:09] raefezzeldin commented on #16207
@jhonatanrt  I am facing the same issue when I tries to presist logs from where did you change the user?

[2021-07-12 23:46] jedcunningham commented on #16895
Can you look in your `$AIRFLOW_HOME\airflow.cfg` instead? Are you using version 1.0.0 of the chart?

[2021-07-13 02:17] imamdigmi commented on #16828
Hi @jedcunningham are you working on this? if not yet, may I help to fix this issue by submitting PR?
@kaxil speech on the summit earlier inspired me to contribute to the Airflow 😁

[2021-07-13 05:08] NilsJPWerner opened #16957 ""Mark Success" breaks"
**Apache Airflow version**:  2.1.1+astro.1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**: Astronomer
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

Anytime I try to mark a task as success in the web ui I get the following

[2021-07-13 05:59] msumit commented on #16957
@NilsJPWerner the issue has been resolved with the latest release of Astronomer certified Airflow. Try upgrading to 2.1.1+astro.2 or later.

[2021-07-13 08:52] yyhecust opened #16961 "backfill API can not backfill at time 00:00 if set default_timezone=Asia/Shanghai"
**Description**

We want use backfill api to create a backfill task_instance when execution_date = "2021-07-13 00:00:00"(for example) if set default_time=Asia/Shanghai

**Use case / motivation**

In my application, we set default_time=Asia/Shanghai in airflow.cfg. when we use backfill API and set start_date=2021-07-13 00:00:00 and end_date=2021-07-13 00:00:00, also the dag's start time at 00:00, w

[2021-07-13 09:00] daoudjahdou commented on #15978
Just tried it on both 2.1.1 and 1.10.15 same behaviour, i even tried the example found here:
https://airflow.apache.org/docs/apache-airflow/1.10.15/_modules/airflow/example_dags/example_subdag_operator.html
`
from airflow.example_dags.subdags.subdag import subdag
from airflow.models import DAG
from airflow.operators.dummy_operator import DummyOperator
from airflow.operators.subdag_operator import

[2021-07-13 09:06] WolfWood72 commented on #16936
Thank you for answer!

[2021-07-13 10:11] daoudjahdou commented on #15978
Same code works fine on 1.10.12

[2021-07-13 10:19] aslantar opened #16967 "GCStoGCS operator not working when replace=False and source_object != destination_object"
The GCStoGCS operator using the _replace=False_ flag and specifying _source_object != destination_object_, will not work properly, because it is comparing [apples](https://github.com/apache/airflow/blob/main/airflow/providers/google/cloud/transfers/gcs_to_gcs.py#L351) with [pears](https://github.com/apache/airflow/blob/0dd70de9492444d52e0afaadd7a510fc8a95369c/airflow/providers/google/cloud/transfe

[2021-07-13 11:14] aslantar commented on #16967
Possible solution:
[code]

[2021-07-13 12:28] raajpackt commented on #16558
[code]
This is the example output in airflow logs. I have replaced the values with X.

[2021-07-13 12:45] potiuk commented on #16967
Would you like to provide a PR with a fix @aslantar - happy to review it.

[2021-07-13 13:13] aslantar commented on #16967
Yes. I never contributed, but I'll find out and let you know.

[2021-07-13 13:38] mcreenan opened #16972 "AWS Hooks fail when assuming role and connection id contains forward slashes"
**Apache Airflow version**: 2.1.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): Client Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.3", GitCommit:"1e11e4a2108024935ecfcb2912226cedeafd99df", GitTreeState:"clean", BuildDate:"2020-10-14T18:49:28Z", GoVersion:"go1.15.2", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", M

[2021-07-13 13:58] ledo01 commented on #16803
Hi, I got the same issue when updating from 2.1.0 to 2.1.1.

[2021-07-13 14:15] jedcunningham commented on #16828
Hey @imamdigmi, happy to hear you want to contribute! Have at it, I'm assigning this to you. This is a decent example of places/things that will need to be touched: #14625

Also feel free to ping me on slack if you get stuck or want a tighter feedback loop! I'm more than happy to help.

[2021-07-13 17:02] jordanjeremy opened #16976 "Rendered Templates - py renderer doesn't work for list or dict"
**Apache Airflow version**: 2.1.1

**What happened**:

The rendered templates screen doesn't show the operator arguments for TaskFlow API operators.
![image](https://user-images.githubusercontent.com/72943478/125486179-f6dde0be-9f60-4aca-831a-5cfd16e7f006.png)

**What you expected to happen**:

Should show the arguments after any templates have been rendered.

**How to reproduce it**:

Will happen

[2021-07-13 17:02] Juancacorps opened #16977 "ERROR IN MY DAG"
**Apache Airflow version**:

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know**:

[2021-07-13 17:03] #16977 closed

[2021-07-13 17:08] mik-laj commented on #16972
Are you willing to submit a PR? I'm happy to help with review.

[2021-07-13 18:54] aflag commented on #8636
I don't think this actually made it to 1.10.10, but only to airflow 2

[2021-07-13 20:11] pyerbiz commented on #11912
I volunteer -- I can do it in a similar way to the aws one I did (pending approval) https://github.com/apache/airflow/pull/16964

[2021-07-13 20:52] flolas opened #16979 "Support run multiple sql statements from file in DBApiHook"
**Description**

Support run multiple sql statements from file in ~JdbcOperator~ DBApiHook, when the provided file has multiple statements (we can check it with https://github.com/andialbrecht/sqlparse)

**Use case / motivation**

Running single sql file with multiple sentences with JdbcOperator or any other DBApi operator (uses run method from DbApiHook, maybe we can implement here or in JdbcOper

[2021-07-13 22:33] stephsamson commented on #16895
It is currently the following because I have enabled the configuration above with `env`:

[code]

and yes, I am using version 1.0.0 of the chart. I can try checking the config file later with the environment variables disabled.

[2021-07-13 23:18] pmlewis commented on #14896
I had a similar issue using CeleryExecutor and multiprocessing. This may be a side effect of Airflow 2 forking by default to execute tasks versus creating a new Python process, which seems to be one thing that changed from Airflow 1 in CeleryExecutor and LocalExecutor. There's a config value that can control that behavior. I got around the issue by adding

execute_tasks_new_python_interpreter = Tr

[2021-07-14 00:04] #14938 closed

[2021-07-14 02:03] uranusjr commented on #16938
I think this is the same as #16166?

[2021-07-14 02:52] uranusjr commented on #16929
Did #16974 resolve this?

[2021-07-14 02:53] uranusjr commented on #16478
Yup. Thanks for identifying this! I’ll close this so discussions can happen in one thread.

[2021-07-14 02:53] #16478 closed

[2021-07-14 02:58] okzapradhana opened #16981 "Telegram Connection Type is Not Recognized"
**Apache Airflow version**: 2.1.1

**Environment**:

- **Cloud provider or hardware configuration**: Intel(R) Core(TM) i5-8250U CPU @ 1.60GHz , 256GB storage, 8GB memory
- **OS** (e.g. from /etc/os-release): Linux 20.04
- **Kernel** (e.g. `uname -a`): Linux 5.8.0-59-lowlatency 20.04.1-Ubuntu
- **Install tools**: `apache-airflow-providers-telegram`
- **Others**: Installed native airflow (non-docker

[2021-07-14 03:42] #16957 closed

[2021-07-14 03:57] msumit commented on #16981
Telegram doesn't have any specific connection type. You can choose any type (preferred HTTP) and then put telegram token into password filed and then just use that connection id it in ur dag.

[2021-07-14 05:08] easontm opened #16982 "Tasks fail and do not log due to backend DB (dead?)lock"
**Apache Airflow version**: 2.1.1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.18

**Environment**:

- **Cloud provider or hardware configuration**: AWS hosting a Kube cluster
- **OS**: Ubuntu 19.10
- **Kernel**: 4.14.225-169.362.amzn2.x86_64
- **Install tools**:
- **Others**: MySQL 8.0.23 on RDS

**What happened**:

In an unpredictable fashion, some tasks are u

[2021-07-14 05:27] okzapradhana commented on #16981
Ah I see, thanks for giving me the clearance! I will try to use HTTP as the connection type later and I thought this issue was solved.

I'll reopen if I got any issues related to this one

[2021-07-14 05:27] #16981 closed

[2021-07-14 05:33] potiuk commented on #11912
Assigned you :)

[2021-07-14 05:36] #16310 closed

[2021-07-14 05:40] potiuk commented on #16555
We should remove `airflow-ci` images after we cherry-pick build changes  to v2-1-test line (will do it shortly)

[2021-07-14 05:53] uranusjr commented on #16790
1. Not sure if I understand the question correctly. For a new (web) view, you should add a file in `tests/www/views` to test it. Other files in the same directory should provide some hints how the tests can be configured/implemented.
2. Yes, a draft PR would be best.

[2021-07-14 05:58] gh4n opened #16983 "`on_failure_callback` on DAG level is not executed"
**Apache Airflow version**:  2.0.1 and 2.1.1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):  1.20.4

**Environment**:

- **Cloud provider or hardware configuration**: AWS EKS
- **OS** (e.g. from /etc/os-release): Debian GNU/Linux
- **Kernel** (e.g. `uname -a`):  Linux 5.4.117-58.216.amzn2.x86_64

**What happened**:

Airflow dag failed and `on_failure_callback` was n

[2021-07-14 06:05] mik-laj commented on #16972
It sounds like the simplest and most user-friendly solution. The value will still be readable and the user will not configure additional options.

[2021-07-14 06:06] potiuk commented on #16979
One comment - this should be done on DBAPI hook, not in JdbcOperator. This way all DB operators will be able to use it. Assigning you to it :)

[2021-07-14 06:11] potiuk commented on #16929
oh yeah

[2021-07-14 06:11] #16929 closed

[2021-07-14 06:12] potiuk commented on #16929
New requests 2.26.0 released and we switched to it ! Yay.

[2021-07-14 07:29] ARtheboss opened #16986 "Retrying a task from inside task instance view"
**Description**

Users should be able to clear a task along with all downstream tasks from the Task Instance page (especially the log subpage). In other words, we should be able to get a similar menu to the one that appears when you click on a task square from tree view on the Task Instance page.

**Use case / motivation**

This will make it easier to retry a task and will require less clicks (use

[2021-07-14 07:35] ephraimbuddy commented on #16983
Can you test this on airflow 2.1.1?

[2021-07-14 07:41] uranusjr commented on #16618
But wouldn’t `my_op.output.some_xcom_key` also be problematic if the xcom return value is a custom object? Although indeed there would have been significantly fewer edge cases.

At this point, maybe the best solution would be to deprecate accessing `my_op.output` directly, and require doing somethign else to get the default return value, say `my_op.output[None]` or `my_op.return_value`?

[2021-07-14 07:43] #16635 closed

[2021-07-14 07:50] uranusjr commented on #16836
Not sure I understand the issue (not familiar with Pandas); since #16893 is merged, should this be closed?

[2021-07-14 08:13] cris-b opened #16988 "Scheduler stops running: psycopg2.OperationalError: SSL SYSCALL error: EOF detected"
**Apache Airflow version**:

2.0.2

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

1.19.7

**Environment**:

- Azure AKS
- Azure Postgresql
- Bitnami template

**What happened**:

Scheduler stopped running after processing a dag at 00:30.  Next dags at 00:45 did not get executed.

Errors relating to postgres in the log:

sqlalchemy.exc.OperationalError: (psycopg2.Op

[2021-07-14 08:26] ashb commented on #16618
I'm kind of on a big kick to reduce "boilerplate" in DAGs, so while both of these would be explicit, it's longer and a bit "un-pythonic".

Not sure.

[2021-07-14 08:26] trucnguyenlam commented on #16983
@ephraimbuddy I can confirm that the issue exists on 2.1.1

[2021-07-14 08:32] ashb commented on #16934
Duplicate of #16934

[2021-07-14 08:39] uranusjr commented on #16934
@ash This is #16934, did you tag the wrong issue?

[2021-07-14 08:42] potiuk commented on #16986
Why not willing to implement it @ARtheboss ? Airflow is a community run project and a lot of users contribute to it, sounds like a simple change to implement? We are happy to guide you and help you with the contribution process.

[2021-07-14 08:44] chillivilli commented on #8759
Yes, this function would be very useful for us. Rotating the scheduler logs in the ECS container out of the box would be great.

[2021-07-14 09:04] ashb commented on #16558
@raajpackt Masking happens when tasks are run -- where do you have the code that is triggering that behaviour?

[2021-07-14 09:08] ARtheboss commented on #16986
@potiuk Ok, I don't mind, just not sure how this works. Where are the relevant files in the web UI?

[2021-07-14 09:11] ashb commented on #16934
🤦🏻

[2021-07-14 09:12] ashb commented on #16934
Duplicate of #16896

[2021-07-14 09:12] #16934 closed

[2021-07-14 09:13] ashb commented on #16202
@jhtimmins Could this be related to your permissions renaming? (I'm not sure how much of that made it in to 2.1.0 vs main for 2.2.0)

[2021-07-14 09:25] grahovam commented on #16979
I am already using the PostgresOperator and MySqlHook to execute SQL queries that contain multiple queries seperated by semicolons. And both the operator and the hook use DbApiHook for doing so. Am I missing something here? Thank you for any clarification.

[2021-07-14 09:37] grahovam commented on #15975
Since there is no suggestion on how we could make everything work without using `explicit_defaults_for_timestamp`, I suggest we add a note to the docs saying that `explicit_defaults_for_timestamp` is deprecated and we are looking for a different way to handle it.

[2021-07-14 09:50] grahovam commented on #14733
I remember @kaxil mentioned a guide specific for mac users in the current summit. I don't fully remember, was it a guide on how to run airflow on docker on mac? I can't find it.

[2021-07-14 10:52] ashb commented on #15975
Someone who is using MySQL will need to confirm, but I _think_ we want this setting on to get the new behaviour, so it being removed is not a problem for us.

[2021-07-14 10:56] KIRY4 commented on #14714
Hello @kaxil ! We have a similar problem. But there are some differences. We are using Azure Kubernetes Service and for dags logs plugins and our custom_operators we are using Kubernetes PVC's with Azure file shares under the hood. Also we are using community Helm chart: https://github.com/airflow-helm/charts/tree/main/charts/airflow

After uploading custom operator on mounted as PV/PVC Azure file

[2021-07-14 11:21] eladkal commented on #16979
Assuming you have a SQL script:
`Select 1; Select 2;` Both Postgres and MySQL are able to execute this script. However you will not be able to execute this script in Snowflake, Presto nor Trino. This is why for these databases we first parse the script and break the statements one by one:

https://github.com/apache/airflow/blob/6ab00bfcfdfe1213928281527f32ca31b77cce1b/airflow/providers/trino/hooks

[2021-07-14 11:27] trucnguyenlam commented on #16983
I think the root cause is from this [call](https://github.com/apache/airflow/blob/6ab00bfcfdfe1213928281527f32ca31b77cce1b/airflow/jobs/scheduler_job.py#L1062)
apparently callback is disabled.

[2021-07-14 12:34] potiuk commented on #16986
No idea, I do not know that much of the UI. But I do not think it's as difficult - those are just HTML templates/javascript

[2021-07-14 12:34] potiuk commented on #16986
But there are others who might help

[2021-07-14 12:43] potiuk commented on #14733
I think there is no single place for MacOS: https://github.com/apache/airflow/blob/main/BREEZE.rst contains links to MacOS relevant stuff for contributors (where it is relevant)  same here: https://github.com/apache/airflow/blob/main/CONTRIBUTING.rst . there are also some mentions https://airflow.apache.org/docs/apache-airflow/stable/start/docker.html . But there is no MacOS -only guide.

[2021-07-14 12:47] grahovam commented on #16979
So the idea here is to not break the statements (and execute one by one) inside `TrinoHook` nor `SnowflakeHook` anymore and therefore break the statements (and execute one by one) inside `DBApiHook`?

[2021-07-14 12:49] potiuk commented on #14714
Just to clarify (we recently agreed on naming) - this is the "User-community" chart :) - I hope my PR https://github.com/airflow-helm/charts/pull/294 will be merged soon and we will get rid of the ambiguity.

If you want to continue with Matthew's (User-community) chart you should raise the issue there  https://github.com/airflow-helm/charts/  - we do not directly support the non-official chart he

[2021-07-14 13:11] ldacey commented on #10406
@eyalzek hi - I got this to work for the most part. My logs are split quite heavily though, each message is a separate log event which means one log might consist of 10-50 rows and it is hard to read. Does that happen for you as well?

[2021-07-14 13:48] eyalzek commented on #10406
We switched away from EFK to stackdriver logging a while ago so I can't really say. This sound like you might need to configure `multiline` parsing on the fluentd side though

[2021-07-14 14:06] huozhanfeng commented on #13322
It happened in airflow 2.1.0 also, and there is a bug in backfill logic. I have fixed it in my env and I will submit a PR for it later when idle...

[2021-07-14 15:13] flolas opened #16992 "Pod fails to run when task or dag name contains non ASCII characters (k8s executor)"
**Apache Airflow version**: 2.0.1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.20.5

**Environment**:

- **Cloud provider or hardware configuration**: Azure AKS

**What happened**:

When task or dag name is defined with a non ascii character, pod creations fails with a kubernetes.client.rest.ApiException: (422)
(task maintains scheduled status)
this is because t

[2021-07-14 15:58] samgans commented on #16836
Hi @uranusjr. Yes, I think it can be closed.

[2021-07-14 16:36] Alxander64 opened #16996 "Private Image for KubernetesPodOperator XCOM Sidecar Container"
**Description**

When using `KubernetesPodOperator` with the option `do_xcom_push=True`, I would also like to be able to change the image being used by the sidecar container that extracts the JSON file from the main container.

**Use case / motivation**

I would like to have all images pulled from a private repository. Main reason being that I've seen rate limiting issues with Docker Hub, since th

[2021-07-14 18:46] samgans commented on #16992
If this message is from Kubernetes API, I guess that this is not the Airflow problem.

[2021-07-14 18:50] samgans commented on #16983
If you are not going to make a PR for this, I can try to make an investigation and fix this.

[2021-07-14 19:13] kaxil commented on #14733
Oh yes, this one https://github.com/apache/airflow/blob/177dfbd12a42a5c229640c6c830f43f280ea5caa/BREEZE.rst#docker-community-edition -- basically if you are on Mac, then you should increase resources for Docker otherwise the container will fail

[2021-07-14 19:32] flolas commented on #16992
@samgans i dont think so... the sanitization of the pod_id is implemented on the airflow side, look at https://github.com/apache/airflow/blob/177dfbd12a42a5c229640c6c830f43f280ea5caa/airflow/kubernetes/kubernetes_helper_functions.py#L28

I think that we can make sure that non-ascii characters are translated there and the problem will be fixed....

[2021-07-14 19:33] kaxil commented on #14896
@pmlewis Because `execute_tasks_new_python_interpreter = True` will create Python interpreter for each task so it will have performance implications -- few seconds / ms atleast.

[2021-07-14 19:35] trucnguyenlam commented on #16983
@samgans I might not have time to investigate more on this issue, but it might be more complicated than it sounds, my comment above is only the surface, underneath it's more about message passing in multiple processes of `DagFileProcessorProcess`. Please try to make more investigation on this, thanks.

[2021-07-14 20:19] potiuk commented on #16992
@flolas  -> I think sanitization of the name and converting it to ASCII -only is a great idea. Would you maybe want to submit a PR for that ? That would be great contribution to the project :)

[2021-07-14 20:23] edwardwang888 opened #17005 "`retry_exponential_backoff` algorithm does not account for case when `retry_delay` is zero"
**Apache Airflow version**: 2.1.2

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:
When `retry_exponential_backoff` is enabled and `retry_interval` is inadvertently set to zero,

[2021-07-14 20:36] flolas commented on #16992
@potiuk yeah!  will do it on the weekend glad to help and contribute to Airflow :) !

[2021-07-14 21:24] potiuk commented on #16992
cool!

[2021-07-14 22:14] mik-laj commented on #16996
Duplicate: https://github.com/apache/airflow/issues/10605

[2021-07-14 22:14] #16996 closed

[2021-07-14 22:16] mik-laj commented on #16952
@kaxil WDYT? II like this idea, but I wonder if there was any assumption on the basis of which you chose the current order.

[2021-07-14 22:36] SangwanP opened #17010 "Add support for custom Trigger Rule logic"
**Description**
I would like to have a trigger rule that triggers a task if all the upstream tasks have executed (_all_done_) and there is atleast one successful upstream task. This would be like the trigger rule: _one_success_, except it'll wait for all upstream tasks to finish.

**Use case / motivation**
I have downstream tasks that should run after all the upstream tasks have finished execution

[2021-07-14 22:48] magler commented on #16952
The Secrets backend docs mention a search order when an alternative secrets backend is used:
https://airflow.apache.org/docs/apache-airflow/stable/security/secrets/secrets-backend/index.html#search-path

[2021-07-14 22:57] gh4n commented on #16983
@ephraimbuddy  Will your PR https://github.com/apache/airflow/pull/15172 released with 2.1.2 fix this issue?

[2021-07-14 23:01] raphaelauv opened #17012 "NONE_FAILED_OR_SKIPPED is unclear"
**Apache Airflow version**:
2.1.2

**What happened**:

https://github.com/apache/airflow/blob/16c55f100374df8cb17a85d06396aa42785fed0e/airflow/ti_deps/deps/trigger_rule_dep.py#L206

and

https://github.com/apache/airflow/blob/16c55f100374df8cb17a85d06396aa42785fed0e/airflow/ti_deps/deps/trigger_rule_dep.py#L216

is the same code, so both look like doing the same
**What you expected to happen**:

N

[2021-07-14 23:08] raphaelauv commented on #17010
Problem what to do about the person that need

all_done_and_X_success where X could be 2 and not one

Look like airflow is missing an expressive pattern to let the user implement any custom logic

Maybe there could be an interface

[code]

that the users could extends and the current https://github.com/apache/airflow/blob/main/airflow/utils/trigger_rule.py would also implement that interface

[2021-07-14 23:25] SangwanP commented on #17010
Having the ability to define a custom trigger rule would be nice.
The difference between triggering with 2+ successes compared to 1+ success(es) is that the latter is more generalized (run downstream, if any of the upstream tasks succeed) compared to the the former which is a bit more specific. That being said, as a user, I would be happy to have functionality that lets me customize my trigger rul

[2021-07-14 23:46] kaxil commented on #16952
I think the priority is correct and will cause confusion if changed later on. And with customer Secrets Backend, you can mix and match however you like. We intentionally did this (same fox XCom Backend) so that companies can create one for their own needs as ONE SIZE DOES NOT FEEL ALL.

That being said, something I had planned earlier, was to allow DAG Authors to pick a single backend to choose th

[2021-07-15 00:55] vikramkoka commented on #14906
Great, assigned it to you @Naraujo13

[2021-07-15 01:41] raphaelauv commented on #15303
https://github.com/apache/airflow/pull/13470

[2021-07-15 02:52] uranusjr commented on #16983
@trucnguyenlam Callback execution is disabled here, but that disabled callback is returned as the second value here (`callback_to_run`). That callback is then passed on for execution later, via `_send_dag_callbacks_to_processor` on the next line. So I don’t think that’s the cause.

[2021-07-15 04:35] #16803 closed

[2021-07-15 04:35] #16806 closed

[2021-07-15 05:27] henryzhangsta opened #17014 "Changes to BaseOperatorMeta breaks __init_subclass__"
**Apache Airflow version**: 2.1.2

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.19.8

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): Amazon Linux EKS
- **Kernel** (e.g. `uname -a`):
- **Install tools**: Helm (community chart)
- **Others**:

**What happened**:

With the addition of `__new__` to the `BaseOper

[2021-07-15 05:42] uranusjr commented on #17014
Hi! Would you be interested in submitting a pull request for the fix? (And a test to prevent future regression.)

[2021-07-15 05:42] #16836 closed

[2021-07-15 05:48] potiuk commented on #15303
Duplicate of #13470 indeed

[2021-07-15 05:57] uranusjr commented on #16986
If you already know some Flask, what you need to do is to add a form in the UI that POST to a new view. That view should take the current task instance’s id, select it out, set its state to `UP_FOR_RETRY`, and then redirect back to the task instance view, similar to `TaskInstanceModelView.action_set_retry` (actually you can just post to that view, but the view is built against Flask-Appbuilder and

[2021-07-15 05:57] henryzhangsta commented on #17014
@uranusjr Yes, I'll get that going

[2021-07-15 06:29] #16669 closed

[2021-07-15 07:13] sinhapiyushkr commented on #15601
we are having same issue with Airflow 2.1.1 and Google Oauth2.

[2021-07-15 07:13] trucnguyenlam commented on #16983
@uranusjr yeah, I also came to that conclusion yesterday but didn't have time to go further, the callback somehow lost on the connection to DagFileProcessorProcess afterward.

[2021-07-15 08:20] mik-laj opened #17018 "Missing documentation about MSSQL setting up"
Hi.

In the user documentation, we only have a description of the configuration and requirements for SQLite, MySQL, PostgresSQL, but we [recently added Microsoft SQL support](https://github.com/apache/airflow/pull/9973) as well. I think it is worth updating these parts of the documentation and describing it in a similar way to other databases.

For details, see: [Set up a Database Backend](http://

[2021-07-15 08:40] Jorricks commented on #16023
We are actually running into the same issue here as well.
Sometimes our tasks aren't running long enough before they fail and don't get an external_executor_id. Then once we restart them in the webserver (when they don't have an `external_executor_id`), it still get's killed.

[2021-07-15 08:49] potiuk commented on #16426
so @r-richmond - finally official 3.9 support!

[2021-07-15 09:25] ManiBharataraju commented on #16610
@bbovenzi @ashb - It appears like for a fresh build this piece of code is setting value as None.
https://github.com/apache/airflow/blob/9a1fc19a627662122dd8dacee2ef61c3edf97b85/airflow/serialization/serialized_objects.py#L682

We just upgraded to 2.1.1 and see the dag dependencies empty. Tried restarting the scheduler multiple times but doesn't help.

Could it be possible that task_type in the bel

[2021-07-15 10:22] akotuc opened #17021 "Secrets masking is not applied in the log if get_connection(conn_id) is used"
**Apache Airflow version**: 2.1.2

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): v1.16.7

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):  Debian GNU/Linux 10
- **Kernel** (e.g. `uname -a`): `Linux airflow 4.4.232-1.el7.elrepo.x86_64 #1 SMP Fri Jul 31 11:49:26 EDT 2020 x86_64 GNU/Linux`
- **Install tools**:
- *

[2021-07-15 12:10] tsabsch opened #17022 "TaskInstance.previous_execution_date_success fails with: 'TaskInstance' object has no attribute 'task'"
**Apache Airflow version**: 1.10.15

**Kubernetes version**: 1.18.17-gke.1901

**Environment**:

- **Cloud provider or hardware configuration**: GCP Cloud Composer (composer-1.16.6-airflow-1.10.15)
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**: Terraform google provider
- **Others**:

**What happened**:

I tried to get the last successful execution date

[2021-07-15 12:34] baryluk opened #17024 "IMAP provider is always installed even if not selected"
**Apache Airflow version**: 2.1.1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): n/a

**Environment**:

- **Install tools**: `virtualenv`, `pip`

- Python 3.9.5 (.final.0) in venv.
- virtualenv 20.4.0
- pip 21.0.1

**What happened**:

[code]

[code]

Removing manually `apache-airflow-providers-imap` works, but then executing `pip install 'apache-airflow[postgres]'`

[2021-07-15 12:57] oyarushe commented on #14888
I would like to work on this issue.

[2021-07-15 12:58] potiuk commented on #14888
Assigned you :)

[2021-07-15 13:00] potiuk commented on #17024
This is intended behaviour: https://airflow.apache.org/docs/apache-airflow/stable/extra-packages-ref.html#other-extras . See "pre-installed" column.

[2021-07-15 13:00] #17024 closed

[2021-07-15 13:36] MM-Lehmann opened #17029 "Autoselect oauth provider if there is only one / with flag"
I am using oauth2 (keycloak) as my sole auth provider and it causes some confusion/nuisance with my users having to click the icon without label before they can click on "sign in". It would be much more comfortable if either
1. the provider were preselected and users can directly click "sign in"
2. the provider icon were labeled so they would know why to click that icon
3. they would be redirected

[2021-07-15 13:51] ashb commented on #12982
Done.

[2021-07-15 13:51] #12982 closed

[2021-07-15 13:52] ashb commented on #15994
What, not "Noperator"? 😉

+1 for NullOperator.

[2021-07-15 14:44] peter-volkov opened #17031 "Add autoscaling support to yandexcloud operator"
* and stop setting default values in python operator code, so defaults can be set at the server side.

This issue is just for the PR and questions from maintainers.

[2021-07-15 14:49] nathadfield opened #17032 "Improved SQL rendering within BigQueryInsertJobOperator"
**Description**

`BigQueryInsertJobOperator` requires the submission of a `configuration` parameter in the form of a dict.  Unfortunately, if this contains a large SQL query - especially one that is formatted with new lines - then this cannot currently be rendered very nicely in the UI.

<img width="1670" alt="Screenshot 2021-07-15 at 15 39 33" src="https://user-images.githubusercontent.com/967119

[2021-07-15 15:17] aslantar commented on #16967
@potiuk From my side it is ready for review #16991. I'd especially be interested how I can improve wrt. your coding guidelines.

[2021-07-15 15:32] potiuk commented on #17032
How about adding a general capability of having "view" on parameters that will not require copying?

Simply add possibility of specifying jsonpath (https://goessner.net/articles/JsonPath/) expression that could generate a virtual parameter to render. This could be done on the operator static fields rather than as parameter. We could take kwargs and convert them to - essentially - json, using some

[2021-07-15 15:53] nathadfield commented on #17032
@potiuk Thanks for the input.  When you talk about a general capability, where would this sit?  I don't really understand yet the relationships between the operator parameters and the UI rendering.

[2021-07-15 15:55] m1racoli commented on #16243
We encountered a similar issue with [BigQueryInsertJobOperator](https://registry.astronomer.io/providers/google/modules/bigqueryinsertjoboperator) since yesterday. The BQ job keeps running without issues, while the task on the airflow side gets killed with `SIGSEGV`.

[2021-07-15 16:00] m1racoli commented on #16243
We suspect something in native code related to the BQ job API.

This is our pip freeze output:
[pip.freeze.txt](https://github.com/apache/airflow/files/6824585/pip.freeze.txt)

[2021-07-15 16:09] kaxil commented on #17032
Wouldn't just using `strip` where you define the large SQL suffice?

[code]

[2021-07-15 16:10] baryluk commented on #17024
@potiuk  I do not see "pre-installed" column.

Also why? Why is it preinstalled?

[2021-07-15 16:24] potiuk commented on #17024
It's been agreed in the community at the time we split providers that some,  most often used providers are preinstalled.

![Screenshot 2021-07-15 18 13 02](https://user-images.githubusercontent.com/595491/125822099-5859bb2f-3d63-4376-bff4-94be4987af88.png)

[2021-07-15 16:28] baryluk commented on #17024
Ok. I do not quite agree with that, but ok. Thanks.

PS. The preinstalled column was hidden, because my web browser windows was not wide enough apparently.

[2021-07-15 16:38] potiuk commented on #17024
That's OK. It's OK to have different opinion. We argue about many things in airflow community often and often have different opinions. This is perfectly fine not to agree with someone else. However if you would like to change it feel free to start discussion about it at the devlist. https://airflow.apache.org/community/. Airflow is a community-managed project and if you have good arguments and con

[2021-07-15 17:22] evanhlavaty opened #17035 "KubernetesPodOperator 'pod_template_file' template not found, after upgrading 2.1.0 -> 2.1.2"
**Apache Airflow version**: 2.1.2-python3.8 docker image

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.19.7

**Environment**:

- **Cloud provider or hardware configuration**: On premise K8 cluster

**What happened**:

I have a yaml file mounted to my container that gets spun up per DAG task. This file is then referenced by the KubernetesPodOperator parameter 'pod

[2021-07-15 18:10] potiuk opened #17037 "Status of testing Providers that were prepared on July 15, 2021"
have a kind request for all the contributors to the latest provider packages release.
Could you help us to test the RC versions of the providers and let us know in the comment,
if the issue is addressed there.

## Providers that need testing

Those are providers that require testing as there were some substantial changes introduced:

### Provider [amazon: 2.1.0rc1](https://pypi.org/project/apache-

[2021-07-15 18:45] pmalafosse opened #17038 "ECSOperator returns last logs when ECS task fails"
**Description**

Currently when the ECSOperator fails because the ECS task is not in 'success' state it returns a generic message like that in Airflow alerts that doesn't have much value when we want to debug things quickly.

`This task is not in success state {<huge JSON from AWS containing all the ECS task details>}`

**Use case / motivation**

This is to make it faster for people to fix an issu

[2021-07-15 22:22] uranusjr commented on #17038
Would it be better if we include the `task` object in the exception? If we’re to return anything more specific, we can subclass `AirflowException`, which allows putting a lot more context on the exception object.

[2021-07-15 23:23] pmalafosse commented on #17038
Sorry I don’t understand what you mean. Now`task` object is in the exception but I would like instead to see, in Airflow alerts, the exception from the code that ran in ECS, not the exception defined in the operator that just says “ECS task failed” with a big JSON that I think is irrelevant noise.

[2021-07-15 23:29] uranusjr commented on #17021
Already fixed in #16579.

[2021-07-15 23:29] #17021 closed

[2021-07-15 23:33] uranusjr commented on #17038
Could you describe what exactly you would like to see (and probably how that can be implemented)? The value of `self._last_log_message()`?

[2021-07-15 23:39] uranusjr commented on #15318
I think the CLI *should* be able to modify permissions on an existing role, so feel free to submit a pull request implementing such an endpoint if you need it.

[2021-07-15 23:53] pmalafosse commented on #17038
Yes I was thinking of doing something like that as I'm not sure there is a consistent way to identify the rows corresponding to the Exception message from the code running in ECS from Cloudwatch logs:

something like `raise AirflowException(self._last_log_messages(5)})` that would return the last 5 lines from Cloudwatch for example (_last_log_message() would be equal to _last_log_messages(1))

[2021-07-15 23:58] pmalafosse commented on #16669
thanks @samgans !

[2021-07-16 00:05] #15914 closed

[2021-07-16 00:05] #15540 closed

[2021-07-16 03:32] sudarshan2906 opened #17044 "Option to not show DAG import error in the UI"
**Description**

It would be good if there is a option in cfg to hide the DAG import error from the UI. Or only to show it to Admin or the role which has permission to view it.

![image](https://user-images.githubusercontent.com/25225354/125887496-b92431df-f8c2-463f-8254-5f0962162dd7.png)

**Use case / motivation**

We have a multi team setup in airflow. And its very annoying if a team is able to

[2021-07-16 06:10] akshay654 commented on #15914
Hi Team, Thanks for the update as suggested above i tried it with latest Airflow version and it is working perfectly.

Thanks for the help

[2021-07-16 06:18] kaojunsong opened #17045 ""Failed to load task run error" occur in "on_failure_callback" after upgrading from 2.0.0 to 2.1.2"
**Apache Airflow version**: 2.1.2

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): "v1.19.6"

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
[code]
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**: "Failed to load task run error"  occur in "on_failure_callback" after task fai

[2021-07-16 06:31] eladkal commented on #16961
Feel free to open PR @yyhecust

[2021-07-16 07:34] trucnguyenlam commented on #16020
We experience the same issue on version 2.1.1

[2021-07-16 07:48] nathadfield commented on #17032
@kaxil It doesn't look like it.

[code]

<img width="1668" alt="Screenshot 2021-07-16 at 08 48 04" src="https://user-images.githubusercontent.com/967119/125911821-e86cc2ca-8eb7-4aef-a4bb-4fbaf907de7f.png">

[2021-07-16 07:52] trucnguyenlam commented on #16983
@uranusjr how is it going with the investigation?

[2021-07-16 08:56] trucnguyenlam commented on #15990
I can confirm this happens on airflow 2.1.1, eks 1.19, we use s3 as a logging backend

[2021-07-16 09:27] pmalafosse commented on #17038
I tried locally and my proposal would be like that:

[code]

[2021-07-16 10:26] ashb opened #17046 "Ensure all tests that create TaskInstances in DB also create DagRuns"
As part of the work on AIP-39 we want to make it so that _every_ TaskInstance in the DB has DagRun.

Now at "run time" this is already the case (baring the case where someone might delete a DagRun. Rare, now only possible by direct DB? I can't remember if Browse -> DagRuns allows deleting anymore or not) but in our tests this is far from the case

There are countless examples of where the tests ju

[2021-07-16 13:29] ebuitragod commented on #16598
Yes I did, but found a way to make it run in other ways.

[2021-07-16 13:29] #16598 closed

[2021-07-16 13:51] bartelemi opened #17047 "Toggle Wrap on DAG code page is broken"
**Apache Airflow version**: `apache/airflow:2.1.2-python3.9` and `2.1.0-python3.8`

**Environment**:

- **Cloud provider or hardware configuration**: Docker for Windows, AWS ECS
- **OS** (e.g. from /etc/os-release): Windows 10, AWS ECS Fargate
- **Install tools**: docker compose, ECS
- **Others**: Web browsers: tested this on Chrome and Brave.

**What happened**:

The `Toggle Wrap` button on the D

[2021-07-16 16:02] EtsuNDmA commented on #15952
https://github.com/apache/airflow/blob/bc004151ed6924ee7bec5d9d047aedb4873806da/airflow/providers/docker/operators/docker.py#L316
I think we should cast self.cli.logs() to string, rather then encoding the line:
[code]

[2021-07-16 16:04] fredthomsen commented on #16952
@kaxil I am not suggesting changing the default search order as it exists, just to be able to give the user the ability to change it via some configuration should they choose.   I am not following how this is analogous to the xcom backend?  Is there a search path there as well?

[2021-07-16 16:54] moranlemusj commented on #10026
+1 encountered same issue on 2.1.2

[2021-07-16 17:00] eladkal commented on #8629
This should have been fixed by https://github.com/apache/airflow/pull/8287 if someone still experience the bug in Airflow > 2 please comment

[2021-07-16 17:00] #8629 closed

[2021-07-16 17:05] eladkal commented on #9048
Can you please check if the issue still appear using the Papermill provider & Airflow 2?
https://airflow.apache.org/docs/apache-airflow-providers-papermill/stable/index.html

[2021-07-16 17:07] eladkal commented on #8766
hi @cmarteepants rechecking you are still working on this issue?

[2021-07-16 17:23] eladkal commented on #10210
sensors don't trigger anything. They are just blocking the workflow till condition met.
I think you are expecting that when a message is in the queue it will trigger a workflow - this is not the use case of Airflow sensors.
In any case please recheck with if the issue still exist with Airflow 2 + Amazon provider:
https://airflow.apache.org/docs/apache-airflow-providers-amazon/stable/index.html

if

[2021-07-16 17:31] eladkal commented on #10874
@rootcss do you wish to finish the [PR](https://github.com/apache/airflow/pull/11316) you started ?

[2021-07-16 17:49] AvniM opened #17054 "Unable to trigger a DAG run via stable rest api"
**Apache Airflow version**: 2.1.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): Client = v1.21.1, Server = v1.19.11

**Environment**:

- **Cloud provider or hardware configuration**: Azure
- **OS** (e.g. from /etc/os-release): Ubuntu 20.04
- **Others**: Docker, Kubernetes, Terraform

**What happened**:
When I try to trigger a DAG run via rest api, I getting the fol

[2021-07-16 18:50] tswast commented on #17032
A UI improvement seems like the right choice. https://github.com/apache/airflow/issues/17032#issuecomment-880795289

There are a ton of properties on job resource objects, so I'd be worried about the precedent for adding kwargs for each of them. Especially since query jobs aren't the only kind of job

[2021-07-16 19:34] jmaldon1 opened #17055 "`conn.set_extra` isn't working as expected."
**Apache Airflow version**: v2.1.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): Macos
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

Basically, I want the ability to override the `extras` in a connection object.
Using th

[2021-07-16 20:26] cmarteepants commented on #8766
Hi, thanks for checking. Please feel free to reassign. I should have let you know sooner, sorry if this causes any problems

[2021-07-16 20:36] kaxil commented on #16952
The analogy is because you can create a single custom XCom backend that can based oj size of the object decide where to push the object like DB, GCS/s3 etc.

Similarly, for Secrets Backend (or for that matter any config where we wallow custom classes) you can put a custom logic to handle however you want.

In the case of your own Custom Secrets Backend, you could check for Environment Variable fir

[2021-07-16 22:17] samgans commented on #16983
**UPD**:

I have been testing the interaction and found that if we are passing the callable to the `on_failure_callback` DAG parameter directly, it doesn't work. But if we are configuring the `on_failure_callback` using default_args dictionary, the callback is getting called.

Continue review...

[2021-07-17 00:04] #16235 closed

[2021-07-17 10:03] brain-buster commented on #16976
I can confirm this bug - the same situation after updating from Apache Airflow 2.0.2 to 2.1.2. I made small research and found the reason - in previous version was check "if isinstance(content, (dict, list))" and used json.dumps() method.

[2021-07-17 10:08] brain-buster commented on #16976
Reference: /airflow/www/views.py -> rendered_templates() method

In version 2.0.2:
    if renderer in renderers:
        if isinstance(content, (dict, list)):
            content = json.dumps(content, sort_keys=True, indent=4)
        html_dict[template_field] = renderers[renderer](content)

In version 2.1.2:
    if renderer in renderers:
        html_dict[template_field] = renderers[renderer](con

[2021-07-17 10:22] brain-buster commented on #16976
So, this bug is applicable to any PythonOperator which is using op_args or op_kwargs.

[2021-07-17 14:44] iostreamdoth commented on #16243
I have encountered similar error in airflow 1.10.15 (on google cloud composer) with DataprocInstantiateWorkflowTemplateOperator. I think it has nothing to do with airflow as is but may be with google api's or some sort of library version mismatch.  I have 40 tasks running  in parallel for the above operator. and 15/17 fail with `Task exited with return code Negsignal.SIGSEGV `

I m not able to get

[2021-07-17 16:04] raphaelauv commented on #17037
for the docker provider

apache-airflow-providers-docker==2.1.0rc1

still failing for docker in docker

I tried with

airflow 2.1.2

[code]

give

[code]

[2021-07-17 16:37] raphaelauv commented on #17037
for the cncf.kubernetes provider

apache-airflow-providers-cncf-kubernetes==2.0.1rc1

still failing with the an arg containing ".json"

I tried with airflow 2.1.2

[code]

give

[code]

[2021-07-17 16:43] raphaelauv commented on #17035
same issue than https://github.com/apache/airflow/issues/16922

you can close

[2021-07-17 17:56] potiuk commented on #17037
Indeed - I remove docker-compose from this round and prepare a next RC

[2021-07-17 17:59] pkuca commented on #17054
Does it work like this?
[code]

[2021-07-17 18:00] potiuk commented on #17037
Are you sure you had `vivi.json` file locally ? For me that error looks like it simply was not available locally?

[2021-07-17 18:06] raphaelauv commented on #17037
There is no file vivi.json in local, it's just an argument for the pod

the issue is https://github.com/apache/airflow/issues/16922 -> Using the string ".json" in a dag makes KubernetesPodOperator worker unable to trigger the pod

 it's still the case even with this MR https://github.com/apache/airflow/pull/16930

[2021-07-17 18:17] potiuk commented on #17037
Not really. With ".json", this is expected behaviour. As I understand it, previously the problem was that `json` could appear somewhat randomly (for example the argument could be "aaaajson". When a templated field value ends with one of the "template_extensions", then all operators (including KPO)  will try to read the file with this extension, process it by the template engine and fail when it do

[2021-07-17 18:34] raphaelauv commented on #17037
then we need a new option to let the user disable the templating it on the field `arguments` or anything else.

But the issue should not be considered done since the OP asked for ".json"

[2021-07-17 18:53] potiuk commented on #17037
Sometimes the description is not precise enough. Actually what you propose is a new feature not a bug - would you like to propose PR for that?

[2021-07-17 19:05] raphaelauv commented on #17037
I propose to re-open the issue https://github.com/apache/airflow/issues/16922 since it's still happening.

[2021-07-17 19:13] raphaelauv commented on #17037
otherwise

[code]

do not throw anymore an error with apache-airflow-providers-cncf-kubernetes==2.0.1rc1

[2021-07-17 19:13] potiuk commented on #17037
I will let @kaxil and @eladkal tell here what they think. In here we are very focused on getting community opinions on issues (committers have binding votes). In the meantime, I strongly encourage you @raphaelauv to open a PR with proposed new feature. Due to backwards compatibility this anyhow needs to be discussed and opinion of at least a few people has to be taken into account if we are going

[2021-07-17 19:18] raphaelauv commented on #17037
I don't need that feature and not asking for, just caring about the guy that opened the issue and that think that is problem is solved. I just don't want miss communication.

[2021-07-17 19:23] potiuk commented on #16922
Comment from https://github.com/apache/airflow/issues/17037#issuecomment-881946792 -> seems that there are doubts whether fix in #16930 actually solves the problem. The comment  by @raphaelauv  suggests that the root cause is not solved and that passing and argument ending with ".json" (including the '.') does not really solve the problem (@louison  @kaxil  @eladkal ? WDYT?) . I think the change m

[2021-07-17 19:28] potiuk commented on #17037
i started discussion there. Airflow is a community managed project, and it is quite common when you "want" something, you are asked to contribute that, especially if it is not a big fix. A lot of people here who use airflow and comment here, also contribute back fixes and features so this is very common that we are asking people to help with what they think is a  good feature. If you make a statem

[2021-07-17 19:28] raphaelauv commented on #16922
Yeah this change make it consistent , it's a good MR.

It just do not solve HIS (@louison) problem, and I'm not saying that HIS (@louison)  problem should become OURS.

ps: I was just around to give help on checking the RC providers , nothing more

[2021-07-17 19:33] raphaelauv commented on #17037
Again , I don'k ask for anything , just proposing to let know the guy of the issue.

I have probably not been clear in my messages, I just wanted to contribute by helping to check the new RC providers.

[2021-07-17 19:40] potiuk commented on #17037
This is cool that you want to help. I did not want to discourage it,  I just politely asked if you would like to contribute it (which you do not have to). And look what happened - I started the discussion in the original issue https://github.com/apache/airflow/issues/16922 and also asked the author what he thinks :).  So I think we are pretty aligned here. My question to you was just the normal th

[2021-07-17 19:45] raphaelauv commented on #17037
it's the emoji : confused

cause I was not understanding why you explain me all this common sense about  OSS

[2021-07-17 19:46] potiuk commented on #17037
Really - what we are here up to is to get help from everyone who participates, and we are gently and politely (I hope) asking people to participate. If my question was understood differently - I think this is more of the medium :). Not everyone understands it - apologies if it created confusion

[2021-07-17 20:01] eladkal commented on #16922
@raphaelauv in your reproduce example:
[code]

Did you actually have a `vivi.json` file so that jinja cloud pickup? The traceback you shared is different then the one posted on this issue. Your traceback says `jinja2.exceptions.TemplateNotFound: vivi.json` which means that jinja doesn't find the `vivi.json` to process.

[2021-07-17 20:20] eladkal commented on #17045
Can you please add a full **minimal** reproduce example and also format your code?
Also please add the traceback

[2021-07-17 21:57] evanhlavaty commented on #17035
I will close and monitor to make sure commit fixes the issue, thanks.

[2021-07-17 21:57] #17035 closed

[2021-07-17 22:43] aaquant commented on #14811
Can we upgrade to  sqlalchemy-utils 0.37.0 so that we can use a more recent version of sqlalchemy?

[2021-07-17 23:34] laxmikanth-d opened #17063 "botocore.exceptions.ClientError: An error occurred (403) when calling the HeadObject operation: Forbidden"
**Apache Airflow version**: 2.1.0 Running from Apache/airflow Container

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**: Airflow Container
- **OS** (e.g. from /etc/os-release): Windows
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**: Using S3Hook to upload file to

[2021-07-18 01:47] uranusjr commented on #14811
See #16630. sqlalchemy 1.4 is still not available due to other dependencies not supporting it.

[2021-07-18 07:24] dzamo commented on #17037
Hi, in a virtualenv in which I installed RC1, the apache.drill: 1.0.0rc1 provider does work.  I do have two notes of things I didn't expect.

1. There was no predefined `drill_default` connection and I had to define it myself, yet I did add a `drill_default` connection to `airflow/utils/db.py`.
2. I noticed that my Drill password was included in the clear in the logging output from `base.py`, exam

[2021-07-18 08:18] ephraimbuddy commented on #16020
I believe this issue was fixed in https://github.com/apache/airflow/pull/16289 and will be available in 2.1.3,
For the meantime, set this environment variable: `AIRFLOW__SCHEDULER__SCHEDULE_AFTER_TASK_EXECUTION=False`

[2021-07-18 10:19] potiuk commented on #17037
Thanks for testing @dzamo! And thanks for being so thorough! Really appreciated!

Yep. Totally expected. Default connections is one thing that is not included in  "provider packages". The default connections are part of "airflow" package as they are really only useful during testing and airflow development (so in `main` branch) and possibly for quick airflow testing with docker-compose etc. The de

[2021-07-18 10:25] potiuk commented on #16922
Yep. That is also my point and I think we agree here @eladkal. I think @louison (can you please confirm that ?) really complained in this issue not that just using "'pod-ex-minimum_json'  and  `pod-ex-minimum_txt` as the values of the parameter made it fail. IMHO it's reasonable to expect that 'something.json' is a file name and that it will fail if missing (this is how Airflow's 'template_extensi

[2021-07-18 11:43] ephraimbuddy commented on #16983
The `on_failure_callback` is a task argument and not DAG level argument.
The correct dag is:
[code]

[2021-07-18 12:00] trucnguyenlam commented on #16983
@ephraimbuddy I think there is some misleading here, it is a valid argument for a DAG object

https://github.com/apache/airflow/blob/16564cad6f2956ecb842455d9d6a6255f8d3d817/airflow/models/dag.py#L267

[2021-07-18 12:30] soltanianalytics opened #17064 "Connections do not save since Airflow 2.1.0"
**Apache Airflow version**: Various - between `2.0.2` and `2.1.2`

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): n.a.

**Environment**:
- Docker running on Win 10 or Ubuntu 18.04 or Ubuntu 20.04 using the images
  - `apache/airflow:2.0.2-python3.8`
  - `apache/airflow:2.1.0-python3.8`
  - `apache/airflow:2.1.1-python3.8`
  - `apache/airflow:2.1.2-python3.8`

**What

[2021-07-18 12:51] potiuk commented on #16555
I cherry-picked the necessary commits to v2-1-test, but we need to merge #17065 in order to build and push the images.

[2021-07-18 12:54] potiuk commented on #16544
Happy to help if you need some :)

[2021-07-18 13:03] potiuk commented on #16298
@saisujithkp  the error suggests that your python installation is broken - likely your image has some problems or virtualenvs created by your deployment has been somehow messed up.

 I suggest you use the Official helm chart https://airflow.apache.org/docs/helm-chart/stable/index.html and build the image using the official Dockerfile: https://airflow.apache.org/docs/docker-stack/build.html

More i

[2021-07-18 13:20] ephraimbuddy commented on #16983
Oops

[2021-07-18 13:41] potiuk commented on #16976
@brain-buster - would you like to make a PR to fix the issue maybe ?

[2021-07-18 14:10] ephraimbuddy commented on #16983
So this too works fine, however, the logs end in :
``$AIRFLOW_HOME/logs/scheduler/latest/PROJECT/DAG_FILE.py.log``
as stated here:
https://github.com/apache/airflow/blob/938510f2ca8dfbf95b332971f4b087653d444d0f/airflow/models/dag.py#L829-L830

I tested with your dag. Let me know what you think

[2021-07-18 14:19] brain-buster commented on #16976
Yes, of course. I will make PR tomorrow ASAP since this bug is completely affects my project.

[2021-07-18 14:19] trucnguyenlam commented on #16983
@ephraimbuddy thanks for providing more information, I will check out the log location if it's executed, could you also let me know if there is a way to log those in the main scheduler log (only if it's applicable)?

[2021-07-18 14:39] ephraimbuddy commented on #16983
I'm not sure there's a way to get the log into the main scheduler log, however, you can ask on Discussion or slack

[2021-07-18 15:31] potiuk commented on #16952
I am with @kaxil  on this one.

I like the idea of being able to "pin" secret backend specifically as then it pushes the behaviour change and resulting  complexity down to DAG developers - not even to "ops" people of the whole Airflow (so that they deal with consequences but are also in full control of it).

I think more complexity in configuration and ability to swap things around might create fa

[2021-07-18 16:20] potiuk commented on #17055
It does not work this way. get_hook() method is implemented by instantiating new hook class and passes connection id as parameter - which in turn will create a new connection class using standard mechanisms (from db or from variable).

Connections should be immutable in your tasks. You should not attempt to dynamically modify them. You can always create a new connection with different id and diffe

[2021-07-18 16:20] #17055 closed

[2021-07-18 16:31] potiuk commented on #17032
Yeah. I think it's a nice feature to have it in this generic way. It is very much like multi-language rendering in modern IDEs :).  @nathadfield are you up to the task :) ?

[2021-07-18 16:32] potiuk commented on #17032
Happy to guide on that one :)

[2021-07-18 16:45] potiuk commented on #10874
I read the issue and - unless I misunderstood it - I think we should close both the issue and PR.

@baolsen Why would you like to run `execute()` method multiple times? The whole idea of `execute()` method is that it is run ONCE per task execution, in a separate process and the process is killed. This is pretty much how it always works, so the fact that it opens a new connection every time it is c

[2021-07-18 17:21] #16730 closed

[2021-07-18 17:52] potiuk commented on #15952
I think this is somewhat ambiguous whether the APIs of docker return bytes or strings. Apparently it has been a problem before as  if you look few lines up, the conditional decode happens (and that's why we have line.encode("utf-8") that should stay there.

[code]
Not nice.

I looked at the APIs https://docker-py.readthedocs.io/en/1.2.3/api/  and it is mentioned in both `attach` and `logs` that it

[2021-07-18 19:23] fatmumuhomer commented on #16364
@potiuk or @ashb - Can someone please assign to me if no one else is already working on it? Thanks!

[2021-07-18 19:28] potiuk commented on #16364
Please!

[2021-07-18 22:03] mik-laj commented on #17063
`role_arn is None` is an info entry. It is not an error. You can ignore this line. Can you provide a full error stack?

[2021-07-18 22:33] mik-laj commented on #17029
We use [Flask-AppBuilderfor](https://github.com/dpgaspar/Flask-AppBuilder) Web UI authentication. Can you create a ticket for this project also? I am afraid that your change goes beyond the scope of Airflow and it is the FAB that should make the necessary changes.

[2021-07-18 22:46] mik-laj commented on #14906
What do you think about using the `response_filter` parameter?
https://github.com/apache/airflow/blob/8505d2f0a4524313e3eff7a4f16b9a9439c7a79f/airflow/providers/http/operators/http.py#L120-L122

[2021-07-19 02:08] uranusjr opened #17072 "MSSQL on CI has been consistently failing"
Since #16311 was merged, the MSSQL check has been pretty consistenyl failing with

[code]

I have not looked into exact what the cause is, but since #16311 was aimed to resolve issue when Airflow is deployed, it probably also makes sense to just disable locking altogether on CI.

[2021-07-19 02:39] sighingnow opened #17073 "Support defining pre/post hook for operators in a DAG at the DAG level"
**Description**

We propose to add such features to airflow, which will allow the users to define a hook at the DAG level, and been executed before the `pre_execution` and after the `post_execution`.

TODO: we will propose detailed API change if such change is acceptable.

**Use case / motivation**

Airflow supports the operator to define their custom `pre_execution/post_execution` method, which w

[2021-07-19 02:48] uranusjr commented on #17073
A DAG-level solution feels limiting to me. While it sounds convenient, it is not actually very often a user would want the same hook to be executed for every task, so you’d probably end up with a lot of if-else in the function to handle different tasks in the end. A better approach to me would be to allow supplying the hook without subclassing, something like

[code]

[2021-07-19 03:18] sighingnow commented on #17073
In our proposal the pre/post execution hooks only care about the linage information. Which commonly should be the same logic for every operator.

Supplying with an extra optional arguments for every operator does work, but it means we need to update at every place where we define an instance of some operator. Supplying the hooks at the DAG level makes it possible by just modifying the `DAG(...)`,

[2021-07-19 03:20] mik-laj commented on #17073
@sighingnow What do you think about using ``default_args ``? Does it allow you to address your user case?
https://github.com/apache/airflow/blob/ab915201068919b02e8e00e723f127715f71a12b/airflow/example_dags/example_bash_operator.py#L34

[2021-07-19 03:24] uranusjr commented on #10874
The problem is `SSHHook` *also* does not reuse the underlying Paramiko connection, a new `paramiko.SSHClient` is created every time `SSHHook.get_conn()` is called, and it’s very non-obvious how that connection should be reused.

[code]

But I don’t think there’s a good quick solution to the problem; `SSHHook` is fundamentally not designed to be reused. So this probably should be removed from good-

[2021-07-19 03:34] uranusjr commented on #16952
Maybe we should ship a secret backend implementation that allows the user to pass multiple secret backends and search them in that order? Something like:

[code]

This way the user can do something like

[code]

[2021-07-19 03:35] fatmumuhomer commented on #16364
Just to be clear on the preferred usage going forward:
- SSHOperator uses two different timeouts:
   - A connection timeout passed into SSHHook (see below)
   - A command timeout passed into paramiko.SSHClient.exec_command() which sets the command’s channel timeout
- SSHHook uses a single timeout:
  - A connection timeout passed into paramiko.SSHClient.connect() which is a timeout for the TCP conn

[2021-07-19 03:38] uranusjr commented on #16364
Sounds reasonable to me. You’ll also need to keep the `timeout` arguments on both the operator and hook for backward compatibility (also with a deprecation warning).

[2021-07-19 03:40] fatmumuhomer commented on #16364
Thanks, @uranusjr. For the deprecation warning, is it fair to warn that it will be removed in a future version without specifying the exact one?

[2021-07-19 03:46] uranusjr commented on #16364
Yes; you can search for `DeprecationWarning` to get some inspiratrions how to format the message.

[2021-07-19 03:56] sighingnow commented on #17073
Thanks for the information. I think that would work, it the default_args is available before executing the task. I need to do experiment on it and will repost it here once I have some results.

[2021-07-19 05:57] uranusjr commented on #17038
We can probably use `collections.deque` for better performance, but aside from that, sounds good to me!

p.s. I don’t think `IndexError` can ever be raised?

[2021-07-19 06:35] malthe commented on #14054
@uranusjr one deficiency in `pysmb` that I came upon was lack of Samba 2.1+ support, see https://github.com/miketeo/pysmb/issues/95#issuecomment-360295622.

[2021-07-19 06:47] baolsen commented on #10874
Thank you all for the feedback.

My use case is to split and zip some files on a remote server if those files are above a specific size.

To do this, I do the following over SSH:
- list the input files and check their size
- zip and split the largest ones using a Python script I send over SSH
- Check the output by iterating the output files

I put them in a single task using CustomSSHOperator whic

[2021-07-19 07:52] uranusjr commented on #10874
This makes total sense to me, but I believe we still need to rewrite the hook a bit to make this happen. The operator is backend by the hook, so it can’t do anything the hook does not do; in order to be able to run multiple commands with the same connection, the hook needs to be able to return that connection for reuse in the first place, and currently the hook does not do that. And that change is

[2021-07-19 07:57] nathadfield commented on #17032
@potiuk I would love to say yes, but I'm definitely lacking some knowledge.  So far I've figured out that there would need to be a change to BaseOperator to enable the provision of a `renderable_values` object on an operator.

I also can see that there would need to be some additional logic in [views.py](url) but this is about as far as I've managed to get so far.

Any guidance or tips you can pro

[2021-07-19 08:16] sudeepgupta90 opened #17077 "Problem with task_run and secrets mask"
**Apache Airflow version**: 2.1.1

**Kubernetes version**: 1.20.2

**Environment**: Azure Kubernetes

**What happened**:
I am upgrading from Airflow 2.0.2 -> 2.1+
On launching a simple Hello World dag (BashOperator task echoing "Hello World"), I encounter the following error:

[code]

**What you expected to happen**:
I expected the task to run as is I have tested this with Airflow 2.0.2 and it was

[2021-07-19 08:39] potiuk commented on #16952
I wanted to do very similar thing with Multi Executor allowing any combination of those (I even had working POC) but eventually we settled on only having CeleryKubernetesExecutor  to handle only this particular case, and I think it was a very good decision. We could focus on only making this case working for all the edge cases and even that proved to take a few releases.

I know it is tempting to

[2021-07-19 09:09] potiuk commented on #17064
Interesting. Do you think it is enough to reproduce it by just installing ewah package in the Airlfow Image? If so - I might take a stab on it today/tomorrow

[2021-07-19 09:16] rightx2 commented on #12061
Reeaaaaaally need it

[2021-07-19 09:28] EtsuNDmA commented on #15978
The same issue with SubDagOperator in 2.1.2

[2021-07-19 09:43] potiuk commented on #17037
Closed by mistake :).

@pmalafosse @baolsen @hewe @scottypate @codenamestif @ciancolo @kaxil @Daniel-Han-Yang @namjals @malthe @BKronenbitter @oyarushe @LukeHong @saurasingh @freget @ashb @ciancolo @samgans - it would be great if at least some of those changes are tested  :). Appreciate your help with that.

[2021-07-19 09:56] soltanianalytics commented on #17064
I develop the package locally using the `docker-compose.yml` file. You _could_
1. Clone the whole repo locally
2. Run `docker-compose up`

This should work in principle. Then you can locally adjust the `Dockerfile` to use various base images of different versions and see if you can reproduce the bug.

Note:
- By default, I match port `8084` with the port `8080` in the image (I've got too much goin

[2021-07-19 09:59] baryluk opened #17079 "dag.cli should detect DAG cycles"
**Description**

I wish `dag.cli()` reported cycles in a task graph.

**Use case / motivation**

We use Airflow (now 2.1.1), with about 40 DAGs authored by many people, with daily changes, and put our DAGs into custom docker image that we deploy with flux.

However, I noticed that a lot of commits from our developers, are a lot of small fixes, because it is tricky to test DAGs locally (especially

[2021-07-19 09:59] soltanianalytics commented on #17064
Among other things, I overwrite the entrypoint in my Docker image - could it be that something changed in the original entrypoint script between `2.0.2` and `2.1.0` that I need to adjust on my side?

[2021-07-19 10:04] potiuk commented on #17064
One thing that did change in 2.1.0 was that you do not need 'apply_defaults" in operators any more, but it should just generate warning rather than change behaviour. It's really interesting :). Must be a side effect of some subtle change.

[2021-07-19 10:11] oyarushe commented on #17037
Tested the MySQL operator and found the issue, could you please review fix #17080.

[2021-07-19 10:24] uranusjr commented on #17079
I think this begs a more general question, should Airflow actively check whether a DAG is actually a DAG (directed acyclic graph)? Currently (from what I know) we don’t actually check this, and the cyclic error happens only when the DAG is actually run.

[2021-07-19 10:39] potiuk commented on #17037
Thanks. I will mark it also for rc2 and release together with Docker Provider separately.

[2021-07-19 10:41] codenamestif commented on #17037
#16820 looks good

[2021-07-19 10:44] bbovenzi commented on #16986
[Here](https://github.com/apache/airflow/blob/main/airflow/www/templates/airflow/task_instance.html) is the html file for the task instance page. I'd start there.

[2021-07-19 10:58] soltanianalytics commented on #17064
I don't use the `apply_defaults` decorator either way, but good to know :)

[2021-07-19 11:52] eladkal commented on #17044
Do you have [DAG-level permission ](https://airflow.apache.org/docs/apache-airflow/stable/security/access-control.html#dag-level-permissions)set? If set and we are showing errors to users without permission on that DAG then it's probably a bug rather than a feature request.

[2021-07-19 12:18] potiuk commented on #10874
@baolsen:

| One option could be to refactor SSHOperator to isolate the "run an SSH command" part which can be reused by subclasses.

Oh yeah Makes total sense. And (see below) it can be easily fixed to provide client caching in Hook

@uranusjr :

[code]

Yeah. Because SSHHook pretty much does not have its own methods so it was never a problem, I guess. It delegates everything to SSHClient. It is

[2021-07-19 12:29] potiuk commented on #17077
I strongly believe the problem is that you had custom logging configuration done not according to the way we recommend it.

If you look there - if you want to have advanced logging configuration and add your own configuration, you should start your custom configuration with deepcopying of the original airflow configuration, and only add your changes after that:

https://airflow.apache.org/docs/apa

[2021-07-19 12:29] #17077 closed

[2021-07-19 13:00] ephraimbuddy commented on #16939
Thanks, Jarek.
Sorry I missed your comments.
It looks to me that the image is built twice or maybe I'm not understanding what is happening...
Thanks for taking up this!

[2021-07-19 13:06] potiuk commented on #16939
Ah yeah. due to summit, tomorrow took a bit long... But I am down to 100 messages to process. This one is on the list.

[2021-07-19 13:08] ephraimbuddy commented on #16939
Cool. Thanks!

[2021-07-19 13:38] MM-Lehmann commented on #17029
yeah, silently it slipped my attention. But it has been integrated in FAB 3.3.1 recently https://github.com/dpgaspar/Flask-AppBuilder/pull/1655

[2021-07-19 13:38] #17029 closed

[2021-07-19 14:23] josh-fell opened #17083 "Update chain() to support Labels"
**Description**
The `airflow.models.baseoperator.chain()` is a very useful and convenient way to add sequential task dependencies in DAGs.  This function has [recently been updated](https://github.com/apache/airflow/issues/16635) to support `BaseOperator` and `XComArgs` but should also be able to support `Labels` as well.

**Use case / motivation**
Users who create tasks via the `@task` decorator

[2021-07-19 14:32] coolbeans201 commented on #17079
That's a fair point (regarding what Uranus pointed out), but it does seem like you'd want the user to know that their "DAG" isn't truly valid, right? That way, they don't proceed with something assuming it's correct until it actually hits that error.

[2021-07-19 15:30] awildturtok opened #17084 "Resources cannot be used due to issues with pickling"
**Apache Airflow version**:

2.0.1

**Environment**:

- **OS** (e.g. from /etc/os-release): Container using Ubuntu Groovy 20.10
- **Kernel** (e.g. `uname -a`): 4.18.0-305.7.1.el8_4.x86_64

**What happened**:

When using resources in a dag, it has some issues related to resources and pickling.

When I add the following to any working Task:

[code]

it breaks with the following message

[code]

**Wh

[2021-07-19 15:41] awildturtok opened #17085 "Configuration validation for run-configs"
**Description**

We make extensive use of Run-Configs in our project. They are a great feature, however misconfigurations happen which is why we're slowly establishing nodes that validate the input run-config before starting processing. This is somewhat problematic as a faulty run-config still produces a run which I'd like to avoid out of sanitation purposes. I'd love to be able to register a vali

[2021-07-19 15:50] potiuk commented on #17083
Feel free :)

[2021-07-19 16:31] mik-laj commented on #17044
If the file cannot be loaded, the DAG object cannot be created. We only have access to the DAG File, so no access control covers this yet. We don't have ACL for DAG File yet, so it is not bug.

[2021-07-19 16:52] potiuk commented on #17037
Some more tests would be nice :)

[2021-07-19 16:53] oyarushe commented on #17037
Regarding the Amazon provider, looks like not all `template_fields_renderers` were fixed.
Please, check my PR #17087

[2021-07-19 17:03] iostreamdoth commented on #16243
well its a google grpc library issue
https://github.com/grpc/grpc/issues/23796

This is not airflow or providers issue I think this can be closed from what I understand

[2021-07-19 17:26] potiuk commented on #16243
Correct. We have constraints set at the latest released version (1.38.0) so hopefully it is fixed there (it was broken in 1.31.0). And even if not, people can still downgrade to 1.30.0 as we are not pinning the version. we just have constraints.

[2021-07-19 17:26] #16243 closed

[2021-07-19 17:52] #16939 closed

[2021-07-19 18:16] kaxil commented on #17037
Correct, the issue was with `json` randomly used at end of string, not with `.json` the extension.

[2021-07-19 18:28] potiuk commented on #17085
I think it's a good idea. What kind of validation do you have implemented? I can imagine you could check the structure as well as content of the configuration. I think both could be achieved by simply specifying a jsonschema that the run-config should validate with. We already use jsonschema for a few things in Airflow so we would not even have to add any dependency for that.

Also, if we have the

[2021-07-19 18:31] potiuk commented on #17085
Happy to guide you with the implementation BTW.

[2021-07-19 18:39] potiuk opened #17088 "MSSQL-2019 tests are failing"
While the recent lock problems have been solved, it seems the MSSQL-2019 tests are failling as containers are not healthy

See for example https://github.com/apache/airflow/runs/3106807172?check_suite_focus=true

CC: @aneesh-joseph

[2021-07-19 18:48] hewe commented on #17037
Verified #16767 and it is working as expected 😃

[2021-07-19 18:49] potiuk commented on #17079
Yeah. I think might be worth to check it and yeah - I do not think it is checked (unless I could not find it).

[2021-07-19 19:02] potiuk commented on #17038
Assigned you @pmalafosse

[2021-07-19 19:04] #12736 closed

[2021-07-19 19:16] iostreamdoth opened #17089 "cluster config generation using cluster config YAML file."
**Description**

Add cluster config generation from yaml file which is generated using `gcloud dataproc clusters export` command.

**Use case / motivation**

We are generating quite a lot of clusters using a cluster config which keeps on changing depending upon project to project. I wrote custom operator which reads yaml config and converts it to dict and then uses the same config to genreate clus

[2021-07-19 19:17] potiuk commented on #17089
Feel free to make a PR!

[2021-07-19 19:22] #16976 closed

[2021-07-19 19:38] potiuk commented on #16237
@alexInhert - I read it few time, and I still  do not understand what you want to achieve. can you make a  more comprehensive description or maybe a draft PR to explain?

[2021-07-19 19:41] potiuk commented on #17012
Looks about right. For the sake of backwards compatibility I'd merge it in one IF and deprecate one of those. Anyone?

[2021-07-19 19:45] #16992 closed

[2021-07-19 20:07] trucnguyenlam commented on #16983
@ephraimbuddy I checked the location of the log, the callback does get handled. So it is technically working for me. Thanks.

[2021-07-19 20:09] kaxil commented on #15563
Are you sure you deleted the DAG File, as your statements contradict. In **What Happened** you say that you removed the dag file, but in **Anything else we need to know** you say the schedule read the dag file from disk.

[2021-07-19 20:15] potiuk commented on #16979
Yeah. Sounds like the third time is the charm

[2021-07-19 20:22] kaxil commented on #17085
cc @msumit -- Sumit has implemented something already for it :)

[2021-07-19 20:23] potiuk commented on #8759
In modern deployments logs are handled usually by the deployment/externally. I do not think rotating the logs makes airflow Crash (that would be pretty suriprising given than airlfow uses standard python logging). I am closing that one unless some provides some arguments why it should be implement, or shows how external log rotation crashes airflow.

[2021-07-19 20:23] #8759 closed

[2021-07-19 20:30] jarfgit commented on #8448
I'd like to re-open and address this issue.

[2021-07-19 20:43] potiuk commented on #16938
Duplicate of #16166

[2021-07-19 20:43] #16938 closed

[2021-07-19 21:14] kaxil commented on #17054
I can't reproduce this on Airflow 2.1.2:

[code]

[2021-07-19 21:25] mik-laj commented on #17089
DataprocCreateClusterOperator class is a deprecated and we are not adding new features to it.

I think we can extend `DataprocCreateClusterOperator` to accept the file path in `cluster_config`  parameter like Cloud Build operator.
https://github.com/apache/airflow/blob/d268016a7a6ff4b65079f1dea080ead02aea99bb/airflow/providers/google/cloud/operators/cloud_build.py#L172-L175

[2021-07-19 21:38] kaxil commented on #17032
Looks like usage of triple quotes adds line breaks -- https://stackoverflow.com/questions/19756715/remove-n-from-triple-quoted-string-in-python explains it better.

I think the DAG Author should handle this as for other instances a line break is on purpose and not just used for multi-line strings.

For the feature rendering, Jarek proposed, let's try to gauge the benefits of that feature first. Be

[2021-07-19 21:46] kaxil commented on #16922
That's correct

[2021-07-19 22:18] ephraimbuddy commented on #16983
Cool. Let's close the issue then

[2021-07-19 22:18] #16983 closed

[2021-07-19 22:40] uranusjr commented on #17012
I `git blame`-ed this and `NONE_FAILED_OR_SKIPPED` was added in #7464. `NONE_FAILED_OR_SKIPPED` is intentionally implemented to be almost exactly the same as `NONE_FAILED`, but sets the state of the *current* task differently.

https://github.com/apache/airflow/blob/16c55f100374df8cb17a85d06396aa42785fed0e/airflow/ti_deps/deps/trigger_rule_dep.py#L128-L156

Assuming no upstream fails…

* `ALL_SUCC

[2021-07-19 22:59] iostreamdoth commented on #17089
you mean `airflow.providers.google.cloud.operators.dataproc.DataprocCreateClusterOperator` or you mean `airflow.contrib.operators.dataproc_operator.DataprocClusterCreateOperator` ? I thought everything is going to be in providers.

[2021-07-19 23:08] mik-laj commented on #17089
@iostreamdoth ClusterGenerator from providers is legacy/deprecated method to generate dataproc cluster configuration. You should use `cluster_config` parameter. For details, see: https://github.com/apache/airflow/blob/026ffe65d4738674512f691a56b922e82d0a2309/airflow/providers/google/cloud/operators/dataproc.py#L553-L559

[2021-07-19 23:27] iostreamdoth commented on #17089
Got it, I got confused with the Operator name earlier.
Thanks @mik-laj

[2021-07-19 23:58] mik-laj commented on #17079
Cycles are checked by `DagBag`.
https://github.com/apache/airflow/blob/3234527284ce01db67ba22c544f71ddaf28fa27e/airflow/models/dagbag.py#L429
In this case of `dag.cli()`, we don't use `DagBag`, so the cycles are not checked..  I think it makes sense to check this in the `dag.cli()` method. +1

[2021-07-20 00:02] SamWheating commented on #11901
👋 Hey there, I was looking into this issue a bit today and it looks like the code which deactivates stale DAGs will never be reached if the value of `scheduler.num_runs` isn't set.

From the source code:
https://github.com/apache/airflow/blob/3234527284ce01db67ba22c544f71ddaf28fa27e/airflow/jobs/scheduler_job.py#L652-L664

So that call to `run_scheduler_job` will only every break the loop _if_ the

[2021-07-20 00:12] SamWheating commented on #11901
But even then, as @leonsmith identified, a renamed DAG will be marked as active again on the next pass:
https://github.com/apache/airflow/blob/3234527284ce01db67ba22c544f71ddaf28fa27e/airflow/models/dag.py#L2476-L2497

Is the assumption that 1 file corresponds to 1 DAG still valid? That would contradict patterns such as the [DAG factory](https://github.com/ajbosco/dag-factory) which load many DAGs

[2021-07-20 01:20] spire-mike opened #17097 "LatestOnlyOperator example from v1.10.15 documentation not working as expected"
I am experimenting with the `LatestOnlyOperator` in Airflow 1.10.15. The [documentation shows](https://airflow.apache.org/docs/apache-airflow/1.10.15/concepts.html#latest-run-only) an example dag with the following code:

[code]

And the following image which is meant to show which tasks get skipped and which ones run:

[![enter image description here][1]][1]

When I copy the code from the documen

[2021-07-20 03:25] BrunoSerafim commented on #13108
I had the same issue. And I believe the problem is how the bashoperator parses the shell script. In the airflow bashoperator code the execute function tries to run "bash" + command. And when you run "bash *.exe" in WSL you get the error: "cannot execute binary file". So adapting the bashoperator to handle this exception (shell scripts that start with a windows executable file) or create your own o

[2021-07-20 03:38] sudarshan2906 commented on #17044
@mik-laj Yes agreed, Its not a bug and it is not possible with the current setup. What do think about disabling it via a config parameter?
Just to not display it in the UI but we can fetch it with ImportError API or we can see it in the logs.

[2021-07-20 04:01] uranusjr commented on #17088
Other MSSQL jobs are failing as well

[code]

[2021-07-20 04:33] uranusjr commented on #17084
I think this can basically be fixed by changing `Resources.__eq__()` to something like

[code]

The same should probably also be done for `Resource.__eq__()`. Would you be ionterested in submitting a PR for this?

[2021-07-20 04:44] uranusjr commented on #10874
That would also mean `SSHHook` cannot be re-used though, because afaict `paramiko.SSHClient` does not support reopening a client once it’s closed. So if we do

[code]

This would no longer work:

[code]

So it’s breaking one usage to accomodate another, which feels wrong to me.

[2021-07-20 05:54] yuqian90 commented on #17012
@uranusjr already explained the differences between these states. I just want to re-iterate that `none_failed_or_skipped` and `none_failed` are different. The difference is explained in [Trigger Rules](https://airflow.apache.org/docs/apache-airflow/stable/concepts/dags.html#trigger-rules).

In the documented example, if `join` is set to `none_failed_or_skipped`, it is skipped when both `branch_fal

[2021-07-20 06:51] kaojunsong commented on #17045
Hi @eladkal, thanks a lot for your reply.
The minimal working reproduce example is in https://github.com/kaojunsong/airflow-test/blob/main/dags/test.py

[2021-07-20 06:59] potiuk commented on #17032
If that works for now, cool.

 Just one question- the feature i proposed is UI-only really ( i believe ?) Why serialization would be impacted ? I think it's just one more class level field at the operator to tell UI to make a bit more work on json form of the operator that is already there.

But maybe I am wrong? Is it because it is class -level field and we need to handle it differently?

I do no

[2021-07-20 07:17] awildturtok commented on #17085
We mostly look for required keys and their contents. Some also derive from the content of normal variables (in that case validating the correct usage of datasource names and names of customers), this is pretty important as airflow is still pretty young in our team so we restructure/refactor it often to better align it with our application.

JsonSchema sounds like a neat Idea! the way I see it, I'd

[2021-07-20 07:35] oferze commented on #13108
@BrunoSerafim thanks, I'll try!

[2021-07-20 07:56] andormarkus opened #17102 "Incorrect python version used for 2.1.2-python3.9 docker image"
**Apache Airflow version**: 2.1.2

Hi All,

Based on my testing, python 3.8 is used for the python 3.9 image.

[code]

Thanks,
Andor

[2021-07-20 07:58] EShkeerthi opened #17103 "I Find this bug"
**Apache Airflow version**:

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know**:

[2021-07-20 08:06] nathadfield commented on #17032
@kaxil Thanks for that but, if I am being very nit-picky, it is a lot harder to copy a long query out of the UI if its spread over one line as it requires scrolling to the right without really knowing where it ends.  It is a lot easier to capture the query if it has been rendered as SQL with the intended formatting.

The impact of this is that pasting it into a BigQuery browser results in a single

[2021-07-20 08:24] uranusjr commented on #17103
Hi, you did not provide any information on the bug!

[2021-07-20 08:24] #17103 closed

[2021-07-20 08:28] uranusjr commented on #17102
Confirmed, see step 7 here:

https://hub.docker.com/layers/apache/airflow/2.1.2-python3.9/images/sha256-a2df4ea3cd5aad765f6169dcc94d53a6c90eed85e539b17b44c0168610f6307e

[code]

[2021-07-20 08:40] uranusjr commented on #17084
Sounds reasonable to add a serialisation test case for the currently failing scenario (and then implement the fix to make the scenario to not raise an exception).

[2021-07-20 08:47] surapuramakhil opened #17104 "Resource usage in Airflow monitor metrix"
**Description**

Airflow, as a task / workflow management tool, states execution times at task and dag level. But it lacks resource usage information.

Like memory / Network / CPU usage, its max values at task level and DAG level

**Use case / motivation**

**Are you willing to submit a PR?**

**Related Issues**

[2021-07-20 09:20] andormarkus commented on #13824
Hi @ashb

I set `AIRFLOW__SCHEDULER__SCHEDULE_AFTER_TASK_EXECUTION=False` in Airflow 2.1.2 which does not have #16289.

All the tasks are successful on Airflow side, however in flower all are failed.
The logs are showing up in CloudWatch as expected.

My airflow.cfg
[code]

This is how Celery logs look like for a given worker:
[code]

[2021-07-20 09:38] trucnguyenlam commented on #13542
@kaxil we're still experiencing this issue in version 2.1.1 even after tuning `parallelism` and `pool` size

[2021-07-20 09:44] andormarkus commented on #17104
Hi @surapuramakhil

 - Kubernetes executor: these metrics are available on task level through Prometheus or your property monitoring provider
 - Celery executor: as I know, celery does not expose these metrics for each task.

[2021-07-20 10:35] kaxil commented on #17032
Oh ! if that's a regression, yes we should definitely fix it. I wonder it might be due to serialization too. I will take a closer look at it, if someone does not fix it before me :)

[2021-07-20 10:48] kaxil commented on #17102
We will fix it, thanks for reporting

[2021-07-20 11:40] nathadfield commented on #17032
@kaxil When I say regression I'm more talking about from a UX perspective.

This operator didn't exist before v2 so we used [BigQueryOperator](https://github.com/apache/airflow/blob/main/airflow/contrib/operators/bigquery_operator.py) which is now deprecated as is [BigQueryExecuteQueryOperator](https://github.com/apache/airflow/blob/main/airflow/providers/google/cloud/operators/bigquery.py#L487) i

[2021-07-20 11:45] kaxil commented on #17032
In that case what Jarek is proposing sounds reasonable to me

[2021-07-20 13:04] #17079 closed

[2021-07-20 13:54] MatteoMart1994 commented on #8494
Issue still met in composer-1-15-0-airflow-1-10-12

[2021-07-20 14:14] kosteev commented on #10331
For Airflow 2.1.1 similar warnings are seen in the logs:
"""
WARNING - Refused to delete permission view, assoc with role exists My Profile.userinfoedit Admin
WARNING - Refused to delete permission view, assoc with role exists My Profile.can_edit Admin
"""

[2021-07-20 14:18] ephraimbuddy commented on #13824
@andormarkus can you set this:
`AIRFLOW__SCHEDULER__ORPHANED_TASKS_CHECK_INTERVAL=84600` and let me know the result?

[2021-07-20 15:47] rv-irosario opened #17111 "apache-airflow-providers-google: google-ads-12.0.0"
Hey team, I was looking to use the google ads hook but it seems like the google ads package is a bit out of date with the hook only taking "v5", "v4", "v3", "v2" https://developers.google.com/google-ads/api/docs/release-notes and all of those being deprecated. Is there any chance the provider can be upgraded to include this? here is the release note of https://github.com/googleads/google-ads-pytho

[2021-07-20 16:45] AvniM commented on #17054
@pkuca No luck.

[2021-07-20 16:46] AvniM commented on #17054
@kaxil We are on Airflow 2.1.0. We haven't upgraded to 2.1.2 yet.

Can you try reproducing it in v2.1.0 ?

[2021-07-20 16:46] Overbryd opened #17113 "apache-airflow-providers-google locks google-ads to an unsupported version"
The `apache-airflow-providers-google` package locks the `google-ads` package to an unsupported version.

The maximum supported Google Ads API with the Apache Airflow google provider package is now stuck at `v5`.
The current supported version (until Jun 2022) is `v8`.

Hence the Apache Airflow package breaks all Google Ads functionality (API calls with the package Google Ads client are all rejected

[2021-07-20 16:59] potiuk commented on #17102
aaaaaaH!

[2021-07-20 17:05] potiuk commented on #17102
Yep. I know exactly what happened. Our base python image I manually pushed to v2-1-test `apache/airflow-ci:python3.9-v2-1-test` is actualy 3.8.10 :(. Fixing it.

[2021-07-20 17:27] potiuk commented on #17102
This was the only manual step I had to do to prepare v2-1 tests for release back then :( . There's a reason why I like automation..

[code]

Anyway - it's fixed. Thanks @andormarkus for reporting it!

[2021-07-20 17:27] #17102 closed

[2021-07-20 17:49] potiuk commented on #17104
Resource monitoring is not really part of airflow -it's outside of the domain of Airflow. You could bring that under discussion at the devlist if you want to ask for opinion of the community https://airflow.apache.org/community/ but this is whole new big feature that would drag the focus of Airflow from being great at "scheduling" and not "resource management"

As mentioned by @andormarkus K8S pro

[2021-07-20 17:49] #17104 closed

[2021-07-20 17:59] potiuk commented on #17111
Would you like to make a PR and upgrade the dependency? It should be pretty much as easy as updating the dependency and fixing all errors that are resulting from that + runiing a system test with real GCP accoun to test it. Happy to guide in the process @rv-irosario

[2021-07-20 18:01] rv-irosario commented on #17111
for sure!

[2021-07-20 18:04] potiuk commented on #17113
Duplicate of #17111. @Overbryd closing this one as duplicate - if you would like you can provide a PR to fix that one or you can agree with @rv-irosario to join the forces and submit/test the PR. Happy to guide you to with the process.

[2021-07-20 18:04] #17113 closed

[2021-07-20 18:07] andormarkus commented on #13824
Hi @ephraimbuddy

I still having the same issue. Logs are the same

airflow.cfg
[code]

[2021-07-20 18:40] potiuk commented on #17111
Seems like you might have @Overbyrd to help you at least with testing. The more, the merrier !

[2021-07-20 20:26] pyerbiz commented on #11912
Curious why was this PR done?
https://github.com/apache/airflow/pull/15651/files

[2021-07-20 21:05] pyerbiz commented on #11912
Missing Doc List

**Provider_file,Example,Doc,Doc-Action**

adls_delete.py,1,1,rename doc
adls_list.py,0,0
adx.py,0,0
azure_batch.py,0,0
azure_container_instances.py,1,0
azure_cosmos.py,1,0,
wasb_delete_blob.py,0,0,
transfers/azure_blob_to_gcs.py,0,1
transfers/file_to_wasb.py,1,0
transfers/local_to_adls.py,1,1
transfers/oracle_to_azure_data_lake.py,0,0

[2021-07-20 21:42] zorzigio commented on #15540
@jedcunningham finally I got round to try this.

I created a custom storage class using

[code]

and a persistent volume claim using

[code]

Then in the `values.yaml`

[code]

I am still getting the same error

[code]

Any idea?

[2021-07-20 21:43] iicky commented on #10331
Same here for version 2.1.2 - just appeared on upgrade.

[code]

[2021-07-20 21:59] kaxil commented on #17054
hmm, I tried with 2.1.0 too couldn't reproduce.

cc @ephraimbuddy can you reproduce with 2.1.0?

[2021-07-20 22:14] HardikVijayPatel commented on #15364
@kaxil this fix has got moved from airflow 2.1.2 to 2.1.3, is that right? as i don't see the issue mentioned in change log for the 2.1.2 release:
https://airflow.apache.org/docs/apache-airflow/stable/changelog.html

[2021-07-20 23:53] zorzigio commented on #15540
Solved the issue adding `noperm` to the `StorageClass` `mountOptions`

[code]

[2021-07-21 00:28] mik-laj commented on #17111
We had compatibility problem with newer version of Google ads library, because it requires Python 3.7 or newer, but we supports Python 3.6. Hopefully it has been fixed. They added support for Python 3.6 in 8.1.0. see: https://github.com/googleads/google-ads-python/pull/435

[2021-07-21 01:45] dave-martinez commented on #17077
Encountered the same issue, and was able to fix it with @potiuk explanation. Sharing my experience for people who use custom logging.

SecretsMasker is now needed for loggers in Airflow 2.0 configuration. As @potiuk referenced, it is suggested to do a deep copy of the default logging config before modifying it.

For those with an already existing logger, reference this config template. Pay attenti

[2021-07-21 01:48] gastonlau opened #17120 "[Scheduler error] psycopg2.OperationalError: SSL SYSCALL error: Socket operation on non-socket"
Hi Airflow Team,

I am running the Airflow in an EC2 instance which is installed by conda-forge during the Code Deploy.
After upgrading the Airflow version from 2.0.2 to >=2.1.0, I am facing an error every time when I try to start the scheduler in daemon mode using this command: ```airflow scheduler --daemon```
I took a look at a similar issue #11456 and try to fix it with Python 3.8.10 and `pytho

[2021-07-21 01:55] uranusjr commented on #17054
Would you be able to get what `post_body` is when this happens?

[2021-07-21 02:30] uranusjr commented on #8494
1.10 has reached end of line, so I’m going to close this unless someone reproduces this on the 2.x series.

[2021-07-21 02:30] #8494 closed

[2021-07-21 05:46] deswandhi opened #17123 "sqlalchemy.exc.OperationalError: (psycopg2.errors.UndefinedFile) could not open file"
**Apache Airflow version**:

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know**:

[2021-07-21 06:51] uranusjr commented on #17123
Hi, you did not provide any information about your error!

[2021-07-21 07:01] #17123 closed

[2021-07-21 07:33] ciancolo commented on #17037
there is a problem with #16365. In the case of `Extra` parameter in format `{'verify': true}` the conversion str to bool is not necessary.

With `Extra` parameters as string, the PR looks good.

To fix it do I have to open a new PR?

[code]

[2021-07-21 07:52] kushagra391 opened #17124 "AwsBatchOperator on v2.1.x exits with return code 1"
**Apache Airflow version**:
2.1.1 (apache/airflow:2.1.1-python3.8)

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
1.19

**Environment**:

- **Cloud provider or hardware configuration**: AWS EKS
- **OS** (e.g. from /etc/os-release): ubuntu
- **Kernel** (e.g. `uname -a`): Linux x86_64 GNU/Linux
- **Install tools**: Helm Chart (with CeleryExecutor)
- **Others**:

**Wha

[2021-07-21 08:14] ephraimbuddy commented on #17054
I was not able to reproduce in 2.1.0 as well.
@AvniM , Check that you're in the project you're running this by checking the output of: `echo $AIRFLOW_HOME`

[2021-07-21 08:40] uranusjr commented on #17124
The task still seems to work though? It’s marked as success and that’s what’s important to Airflow.

[2021-07-21 08:45] sorabhgit opened #17127 "Airflow 2.1.0 with Schedulers HA Failing"
### Discussed in https://github.com/apache/airflow/discussions/17126

<div type='discussions-op-text'>

<sup>Originally posted by **sorabhgit** July 21, 2021</sup>
Hello Guys , I am also struggling with issue while setting up schedulers HA with Airflow 2.1.0 version .

I've installed airflow scheduler on 2 separate nodes with both pointing to same mysql8 but gets below error in one of the airflow

[2021-07-21 09:05] Lyalpha commented on #8494
There has been no fix of this, so I expect it is the same in 2.x, although I don't have a MWE to check.
* The CLI does not expose a way to trigger the same dag >1/second
* Even via lower-level `trigger_dag()` calls, running a dag in the same microsecond causes an error.

[2021-07-21 09:08] lgov opened #17129 "All tasks fail on logging to a Windows drive (Kubernetes-Multipass-Microk8s on Windows host)"
**Apache Airflow version**: 2.1.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): v1.19.7

**Environment**:

- **Cloud provider or hardware configuration**: Local PC
- **OS** (e.g. from /etc/os-release): Host OS: Windows 10 Pro.
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:
On the Windows host we have installed Microk8s. The installer installs Mu

[2021-07-21 09:26] ciancolo commented on #17037
Tested #16350 on my local Sqoop env and it works as expected

[2021-07-21 09:36] uranusjr commented on #17129
I mentioned in https://github.com/apache/airflow/pull/16110#discussion_r640487904 we should just replace the `:` with `_`. Would you be interested in creating a pull request for this?

[2021-07-21 09:47] kushagra391 commented on #17124
thanks @uranusjr !
yea, the job does get marked success.
And i just tested callbacks on a test dag. It seems to be working fine.

Closing the issue, I'll debug my existing code further.

[2021-07-21 09:47] #17124 closed

[2021-07-21 10:15] kushagra391 commented on #17124
found the issue, for some reason, this does not call callbacks on v2.x (but worked fine v1.x)

[code]

it works if I do
[code]

(AATBaseOperator has callbacks defined for on_success / on_failure)

[2021-07-21 11:29] potiuk commented on #8494
There has been a bit overhaul of DAG triggering in Airflow 2 and there is a different primary index on DagRun and we are also preparing for making "out-of-band" triggering a DagRun which is not connected with particular interval. So I think this issue is either gone entirely already in Airflow 2, or when we release "AIP-39 - Richer scheduler interval" I think it will be the final step to consider

[2021-07-21 11:32] potiuk commented on #17037
There were quite a bit too many problems with this wave, I am going to release a second rc2 wave with all the providers with fixes soon (plus few more changes). Closing this one for now.

[2021-07-21 11:32] #17037 closed

[2021-07-21 11:32] potiuk commented on #17037
Cool. Thanks!

[2021-07-21 11:44] Lyalpha commented on #8494
OK thanks, I am already on 2.x but indeed I don't know if any DB changes may have alleviated this as the fix I posted has meant I never saw it again for the remainder of 1.x (or now, in 2.x).

[2021-07-21 11:51] uranusjr commented on #8494
Also iirc the metadatabase is currently running on sub-millisecond precision, so even if this is still an issue (and I am not sure about that), it’s probably significantly more difficult to trigger. And AIP-39 would definitely be the last step to eliminate that last theoratical possibility.

[2021-07-21 11:53] pmalafosse commented on #17037
There is a bug with https://github.com/apache/airflow/pull/16685 I will create a fix by tomorrow

[2021-07-21 11:54] GBAAM opened #17132 "2.1.2 (py 3.6 and 3.8) Docker Image broken"
The Docker Image for 2.1.2 (default Python 3.6 https://airflow.apache.org/docs/apache-airflow/2.1.2/docker-compose.yaml) is missing a few python packages:

- `celery`
- `redis`
- `python-psycopg2`
- `psycopg2-binary`
- `apache-airflow` (at the individual worker level)

Unfortunately, installing them individually failed due to some Python 3.6 incompatibilities.

At the same time, we tried to use th

[2021-07-21 12:26] namjals commented on #17127
It looks like you are not getting the lock.
How about accessing the installed mysql server by referring to the site below and checking if queries such as select and insert are possible?
https://github.com/mysql/mysql-connector-python

[2021-07-21 12:52] uranusjr commented on #17124
Oh that makes sense, this is related to how multi-inheritance works in Python (method resolution order, aka MRO). Airflow 2 uses a different kind of inheritance magic (metaclass) so the MRO logic changes a bit. In general, you should put mixin classes ahead of the “proper” inheritance chain. Multi-inheritance is hard.

[2021-07-21 13:07] wavewater opened #17135 "ExasolHook get_pandas_df does not return pandas dataframe but None"
When calling the exasol hooks get_pandas_df function (https://github.com/apache/airflow/blob/main/airflow/providers/exasol/hooks/exasol.py) I noticed that it does not return a pandas dataframe. It returns None. In fact the function definition type hint explicitly states that None is returned. But the name of the function suggests otherwise. The name get_pandas_df implies that it should return a da

[2021-07-21 13:09] rv-irosario commented on #17111
looks like the tag of 12.0.0 is the last compatible tag for 3.6

[2021-07-21 13:15] uranusjr commented on #17135
Hi, would you be interested in putting together a pull request for this?

[2021-07-21 13:26] GBAAM commented on #17132
Addition: in the 3.8 image, the dependency `libpq-dev` is also missing

[2021-07-21 13:39] kaxil commented on #15364
@HardikVijayPatel This is available in 2.1.2 -- looks like because of the bad commit message it wasn't captured in Changelog --

https://github.com/apache/airflow/commit/9b0b0c68f6db940b16037be8dd7c1884ce6f1a87#diff-04917bec1b0d3cdd9aeaaeb24b1309315aeff5835dc78ab60fdf57768303b725

[2021-07-21 13:42] wavewater commented on #17135
sure - it will be my first pull request. Can you guide me?

[2021-07-21 13:45] m1racoli commented on #16243
@potiuk Using `grpcio<=1.30` certainly helps, but I am not sure if the topic can be considered closed.

Version 1.30.0 of grpc is over a year old and currently there's no bugfix in sight. There is a lot of discussion in https://github.com/grpc/grpc/issues/23796 around potential issues when using multiprocessing with fork and it has been recommended to set

[code]

in that case.

Therefore it's fai

[2021-07-21 14:27] AvniM commented on #17054
@ephraimbuddy: The output is
`airflow@airflow-webserver-78dd8ff445-zdm62:/$ echo $AIRFLOW_HOME`
`/opt/airflow`

[2021-07-21 15:02] uranusjr commented on #17135
Sure, let's see what we can do.

[2021-07-21 15:03] scrawfor opened #17138 "NON_FAILED trigger rule does not work as expected."
**Apache Airflow version**: 2.1.2

**Environment**:

- **Cloud provider or hardware configuration**: Docker Image: apache/airflow:2.1.2-python3.8
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

Task with trigger_rule = "none_failed" not executed.  Tasks has three upstream tasks, two of which may be skipped at certain poi

[2021-07-21 15:23] mehmax opened #17139 "Python VirtualEnvDecorator - Rendered variable not visible in UI"
**Apache Airflow version**:
2.1.0

**Environment**:

- **OS** (e.g. from /etc/os-release): CentOS 7
- **Kernel** (e.g. `uname -a`): Linux 3.10.0-1062.1.1.el7.x86_64 SMP Fri Sep 13 22:55:44 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
-
**What happened**:

I created the following DAG + a single Task
[code]

 I call this task with a filename that needs to be rendered at runtime. In the Task Decorator I d

[2021-07-21 15:25] ephraimbuddy commented on #17054
How are you running airflow? I was assuming that you're running locally and not in a cluster. Please provide steps you use to start up airflow

[2021-07-21 15:35] HardikVijayPatel commented on #15364
@kaxil I just updated my version to 2.1.2 and ran the following command in the console and see the version as 3.4.1:
console.log(jQuery().jquery);
VM58:1 3.4.1
undefined
am i checking something wrong or is there something missing here?

[2021-07-21 15:56] potiuk commented on #17124
Cannot agree more!

[2021-07-21 16:01] potiuk commented on #17037
Ahh. Seems like REALLY buggy release this time :). I will wait for the fix then with rc2 @pmalafosse !. Thanks for letting me know!

[2021-07-21 16:05] baryluk opened #17140 "dag.cli() issues in 1.10.15"
**Apache Airflow version**:

1.10.15

**Environment**:

- **OS** (e.g. from /etc/os-release): Linux, amd64, Fedora 34
- **Install tools**: pyenv virtualenv, pip (with constraints).

**What happened**:

I made a testing script in preparation for migration to Airflow 2.x, from 1.10.12. After addressing some early discovered issues, I managed to update to 1.10.15.

The testing script uses pattern lik

[2021-07-21 16:11] #7799 closed

[2021-07-21 16:12] jedcunningham commented on #7799
Airflow 1 has reached end of life.

[2021-07-21 16:16] potiuk commented on #17132
Not really. All the packages are there:

[code]

The `lipq-dev` dependency should not be there. Airflow production image is highly optimized for runtime (for size) and it does not contain any of the -dev dependencies (also it does not contain `build essentials`. Those are only needed /added in the "build" segment during the image build and not installed in the "final" image where only runtime depe

[2021-07-21 16:16] #17132 closed

[2021-07-21 16:21] potiuk commented on #17132
Also you have to be aware that the image has an entrypoint which sets a number of variables and does a number of checks. Your confusion might also come from the fact that you used own entrypoint and did not run the original one. If you have your own entrypoint, you should make sure you exec into the original entrypoint from the image after you do your stuff.

[2021-07-21 16:27] potiuk commented on #17111
If this is a problem, I think I would be ok with making google ads providers not working in Py3.6 version. We could mark tests for those excluding running them for Py3.6 and make note in release notes about this incompatibility (and in setup.py we could add >python 3.6 for ads. There might be a problem with preparing provider packages using python 3.6 but I am already thinking to move them to Py3.

[2021-07-21 16:31] #16891 closed

[2021-07-21 16:33] #14888 closed

[2021-07-21 16:39] AvniM commented on #17054
@kaxil @ephraimbuddy
Could this be due to some misconfiguration while upgrading from Airflow v1.10.12 to v2.1.0?

We were able to trigger a DAG using the experimental api when on v1.10.

On v2.1.0, I tried several commands via the stable API. Some of them worked and most of them threw an error.

**Successful:**
Get current configuration
List connections
List DAG runs

**Errored:**
Trigger a new DA

[2021-07-21 16:40] AvniM commented on #17054
We are not running it locally. Using Azure cloud with Kubernetes, Terraform and Docker.

[2021-07-21 16:43] potiuk commented on #16243
I think the problem is that there is nothing we can do in airflow with it.

What would be your suggestion to do ? Do you have any proposal what more we can do?

We cannot really control environment variables set for external tools or airflow itself. The grpc library might be used in various context and at most it is an optional add-on to Airflow via some providers that use the library. Similarly a

[2021-07-21 16:47] josh-fell commented on #8766
@eladkal I'm happy to take this on if still available.

[2021-07-21 16:53] potiuk commented on #17139
It's already been fixed in #16976 and will likely be released in 2.1.3

[2021-07-21 16:53] #17139 closed

[2021-07-21 16:56] ilCatania commented on #7960
This can be achieved with `task_concurrency`:

https://airflow.apache.org/docs/apache-airflow/stable/faq.html

[2021-07-21 16:58] potiuk commented on #17140
We are not going to release any more changes to 1.10.* line - it has reached end of life. Some of the commands might indeed work differently (there are couple of others) but I am afraid this is the small remaining pain in the migration that you have to handle, the overhead of fixing and releasing 1.10.15 is far too big to be justified here.

[2021-07-21 16:58] #17140 closed

[2021-07-21 17:00] pmalafosse commented on #17037
Thanks! The fix is in that PR https://github.com/apache/airflow/pull/17141

[2021-07-21 17:13] potiuk commented on #17120
Curious - does it work when you run airflow without the --deamon flag?

[2021-07-21 18:07] scrawfor commented on #17138
This was due to me not understanding the ShortCircuit Operator which marks all downstream tasks as skipped.  I thought it only marked the current task as skipped.

Implemented a custom operator identical to ShortCircuitOperator except it gets direct tasks instead of all downstream.
[code]
instead of
[code]

[2021-07-21 18:07] #17138 closed

[2021-07-21 18:37] potiuk commented on #8766
assigned

[2021-07-21 20:31] ephraimbuddy commented on #17054
In 2.0+, you need to set the auth_backend. This is how you should set it to use basic authentication:
`auth_backend = airflow.api.auth.backend.basic_auth`
Did you set this?

[2021-07-21 20:51] iainwo opened #17148 "DAGs with many Nodes Cannot be Rendered due to Python Recursion Limit"
# Context

- Helm Chart
- Airflow 2.0.0

# Problem

When the depth of a DAG tree is greater than the python recursion limit the webserver will fail to render the DAG profile page.
One example of this, is when the DAG is a linked list.

See [view.py](https://github.com/apache/airflow/blob/7842de0ff124dd6a2696ec82bf6423455164df5b/airflow/www/views.py#L2046).

# Log

[code]

# Solution

1. maybe ther

[2021-07-21 20:53] AvniM commented on #17054
Yes, this is set in our airflow.cfg file.
Again, some of the API calls are working (eg. List DAG runs), but most are not (eg. Trigger a new DAG run, List DAGs).

[2021-07-21 21:05] kaxil commented on #15364
cc @bbovenzi -- Any ideas ?

[2021-07-21 21:07] kaxil commented on #15364
@HardikVijayPatel looks like that is coming from https://github.com/dpgaspar/Flask-AppBuilder/blob/master/flask_appbuilder/static/appbuilder/js/jquery-latest.js

You might have to ping or create issue in that project -> https://github.com/dpgaspar/Flask-AppBuilder/issues

[2021-07-21 23:31] gy0ung-git opened #17150 "Git Sync for DAGs fails"
**Apache Airflow version**: 2.1.2

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.3", GitCommit:"1e11e4a2108024935ecfcb2912226cedeafd99df", GitTreeState:"clean", BuildDate:"2020-10-14T18:49:28Z", GoVersion:"go1.15.2", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", M

[2021-07-22 00:04] #16313 closed

[2021-07-22 00:05] #15793 closed

[2021-07-22 00:36] eladkal commented on #15994
Opened PR https://github.com/apache/airflow/pull/17144 to handle the Dummy trigger rule deprecation. A question was raised in the PR review if we want NULL trigger rule or something else.

[2021-07-22 01:09] gastonlau commented on #17120
I think it works as the webserver can detect the scheduler is running and I can't see the error.

[2021-07-22 04:05] subkanthi commented on #14880
@eladkal , @potiuk  I can try this out, looks like a quick fix.

[2021-07-22 06:24] andormarkus commented on #13824
When I turned on remote logs to CloudWatch it is causing stability issues as well.
We are running this DAG hourly.

![Screen Shot 2021-07-22 at 08 21 27](https://user-images.githubusercontent.com/51825189/126597489-95ea6aaa-d52d-497e-843f-f6227aea32d4.png)

[2021-07-22 06:26] xujiang1 opened #17154 "airflow 更改 dag_id 导致任务在队列中不执行"
当我们改变dag_id ，在airflow线上任务不关闭的情况下通过git pull更新代码 会导致任务在queued中不执行

[2021-07-22 06:41] infused-kim commented on #17111
Today the Google v5 API stopped working. As a workaround until we get full compatibility with the latest google ads version, you can update the google-ads package to v8.0.0, which supports the v6 API that is still working.

Unfortunately even though the hook is supposed to be compatible with google-ads up to v8.0.0, there is an import error:

[code]

This is due to the hook using a hardcoded v2 im

[2021-07-22 07:53] Jesus89 opened #17155 "Typo in GoogleCloudStorageToBigQueryOperator deprecation message"
**Apache Airflow version**: latest (main branch)

**What happened**:

There is a little typo in this line of code: https://github.com/apache/airflow/blob/6172b0e6c796d1d757ac1806b671ee168c031b1e/airflow/contrib/operators/gcs_to_bq.py#L40

**What you expected to happen**:

It should be *gcs_to_bigquery* instead of *gcs_to_bq*:

[code]

[2021-07-22 08:28] divyeshransariya commented on #15318
Found another way, used DAG level access control. In my use case it helps me a lot.

[2021-07-22 08:43] potiuk commented on #15994
After some comments in #17144 - how about `NoneOperator` ? We are in Python world and Null Operator does not feel right :)

[2021-07-22 08:52] potiuk commented on #17120
I think I know the reason. In Scheduler, the `SchedulerJob` is instantiated before demon context is activated. SchedulerJob is a database ORM object from SQL Alchemy and it opens the connection to Postgres:
[code]

When you activate daemon context, what happens under the hood is forking the process, and while some of the opened sockets are passed to the forks (stdin and stderr but also the opened

[2021-07-22 09:05] ciancolo opened #17158 "Breeze build image behind proxy"
Hello all,

**Description**
Add to Breeze commands `build-image` and `build-docs` (needs also in other commands?) a parameter (or more) to specify proxy configurations for the image and docs build.

**Use case / motivation**
Recently I started to contribute to Airflow project, but I had some problems creating and configure the development environment with Breeze. My workstation is behind my compan

[2021-07-22 09:18] potiuk commented on #17158
Thanks! Very interesting and useful I think.

I think the way you described id is exactly how it should be done. Would you like to contribute a PR with those changes? In order to make it more "complete" the parameters should follow the convention  AIRFLOW_HTTP_PROXY, AIRFLOW_HTTPS_PROXY  and update the documentation in IMAGES.rst and maybe a few other places where build-args are mentioned (also in

[2021-07-22 09:36] sorabhgit commented on #17127
@namjals Yes , able to perform the select and insert on the mysql db .

`>>> # Get a cursor
... cur = cnx.cursor()

... cur.execute("SELECT CURDATE()")

... row = cur.fetchone()

Current date is: 2021-07-22

... cnx.close()

[2021-07-22 09:41] mik-laj commented on #17155
Are you willing to submit a PR? I'm happy to help with review.

[2021-07-22 09:43] potiuk commented on #17150
The root cause of the problem is indeed user/password. What happens is that git fails to authenticate with the server, fails, then tries to ask for user/password via terminal and it fails, because.... there is no terminal: https://stackoverflow.com/questions/40274484/fatal-could-not-read-username-for-https-github-com-device-not-configured

I think the reason is that your user/password is base64 en

[2021-07-22 09:43] #17150 closed

[2021-07-22 09:44] potiuk commented on #17150
cc: @jedcunningham @kaxil - please check if my explanation/understanding is correct :)

[2021-07-22 09:50] sorabhgit commented on #17127
@potiuk Could you please help here ? As we are blocked due to this error . I'm not sure if this is can be a bug with the airflow version 2.1.0
You help is highly appreciated .

[2021-07-22 09:59] Jesus89 commented on #17155
Yes! Here it is https://github.com/apache/airflow/pull/17159

Thanks

[2021-07-22 11:00] potiuk commented on #17127
1) I think for now you can use single scheduler - until the problem is diagnosed and fixed. I am not sure we will be able to diagnose and find the root of it quickly, and almost for sure this will require change in Airflow which will likely take weeks ore months to release. So there is  little chance that you will be unblocked quickly on that without workarounding it.

2) I will keep on repeating

[2021-07-22 11:03] potiuk commented on #17127
If you need to have HA scheduler, switching to Postgres is the fastest route, really.

[2021-07-22 11:11] potiuk commented on #17127
Just a note - discussion here https://github.com/apache/airflow/discussions/14788  indicates that the problem might be that you want to connect airflow to a DB in Active/Active HA mode. This is NOT supported. The database must be in Active/Passive HA mode. You either have to have your DB in Active-Passive mode, or explicitly configure Airflow to talk to only one DB server.

[2021-07-22 11:14] potiuk commented on #17127
@ashb something that we need to discuss when you return - it seems (needs confirmation) that some people connect Airlfow to a DB in active/active mode and it causes the locking problem (MySQL in this case as usual).

I think we might want to either be more explicit in Airflow about that, or detect it (better) or possibly implement support for Active/Active mode (the best but might not be possible/

[2021-07-22 11:34] sorabhgit commented on #17127
@potiuk Thanks again for your response . Just wanted to confirm that the Airflow 2.x Scheduler HA ( Each scheduler will be fully 'active'. )  is supported with DB Mysql 8 + ?

[2021-07-22 11:48] sorabhgit commented on #17127
@potiuk and based on your previous comment : we are not using db in active/active . we are just using single Mysql DB and pointing two airflow schedulers to same DB . I believe this is the correct and recommended way to achieve schedulers HA with Airflow 2.1.0 version .

[2021-07-22 12:00] potiuk commented on #17127
We support Scheduler HA (running more than one scheduler) https://airflow.apache.org/docs/apache-airflow/stable/concepts/scheduler.html?highlight=scheduler%20ha#running-more-than-one-scheduler  - our Scheduler runs in Active/Active mode (which means that both schedulers are parsing DAGs at the same time). This is supported in MySQL 8+ and *should* work (of course there might be some edge cases, bu

[2021-07-22 12:11] infused-kim commented on #17111
The PR above makes the hook compatible with newer versions of the google-ads API.

The biggest breaking change in the google-ads API was that instead of returning results as native protocol buffers, it's now returning the data in a simpler to use proto-plus format.

To ensure backwards compatibility for older operators that use the hook, I made the search() method convert the data back into native

[2021-07-22 12:16] potiuk commented on #17154
I am sorry but we are using English here for communication. Could you please reopen the issue and explain it in English.
I understand that it might be seen as hurdle, but this is the language of the project, and vast majority of the people who see that would not understand this neither the following conversation if it is in Chinese and we also have to make sure both - issues and resolutions are vi

[2021-07-22 12:16] #17154 closed

[2021-07-22 13:02] sorabhgit commented on #17127
@potiuk Thanks for the explanation . and Yes we are only using single DB in this case .
As you mentioned , we will try out the same with Postgres DB .

[2021-07-22 13:29] awildturtok opened #17161 "Make run-config accessible in DagRun details view"
**Description**

I would like to have the run-config available for inspection in the dag details.

**Use case / motivation**

Figuring out what was used to trigger a dag, partially for reuse, but also to introspect what went wrong. It's currently possible to use the REST-API for that but a step removed, and our users of Airflow aren't supposed to use APIs.

**Are you willing to submit a PR?**

Wit

[2021-07-22 13:59] kaxil commented on #15994
I have created polls:

https://twitter.com/kaxil/status/1418206332662865927?s=20
https://www.linkedin.com/posts/kaxil_apacheairflow-activity-6823972796490674176-uaor

Looks like `EmptyOperator` is getting more votes

[2021-07-22 14:00] potiuk commented on #17032
Seems like other users also would like exactly this @nathadfield - see #17082

[2021-07-22 14:04] jmaldon1 opened #17164 "`params` not working with Python Task Decorator. [jinja2.exceptions.UndefinedError: 'dict object' has no attribute]"
**Apache Airflow version**: v2.1.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): Macos
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

[code]

Error:
[code]

**What you expected to happen**:

Jinja should be taking the `ta

[2021-07-22 14:16] patchandpray commented on #15994
NullOperator imo fits the bill as it identifies that an operation did occur it just did not create any value but did create some state in the metadata database also it does not conflict with Python's None, if it was named NoneOperator I would assume it would return None

[2021-07-22 14:32] jmaldon1 commented on #17164
SOLUTION:
params actually go into the `@task` decorator.

[code]

[2021-07-22 14:32] #17164 closed

[2021-07-22 16:09] mwmapes-ucsd opened #17166 "abend during dag refresh"
This error is thrown when trying to refresh dag:
Ooops!

Something bad has happened.
Please consider letting us know by creating a bug report using GitHub.

Python version: 3.8.10
Airflow version: 2.0.2
Node: ITS-HXYPNF2.AD.UCSD.EDU
-------------------------------------------------------------------------------
Traceback (most recent call last):
  File "/home/mwmapes/.local/share/virtualenvs/Airfl

[2021-07-22 16:19] jedcunningham commented on #17150
Secrets created with `data` should be base64 encoded, and `stringData` should be "plain". @potiuk is probably right, your base64 encoded value is probably wrong (a common one is getting an extra newline with `echo "foo" | base64` instead of `echo -n "foo" | base64`).

[2021-07-22 16:28] jedcunningham commented on #17166
In your `dis_dba_patch_tuesday` DAG, do you have `access_control` set? That exception is saying that the role specified, `DIS_User`, doesn't exist. Does it? You can check by looking in "Security -> Roles" in the UI.

[2021-07-22 16:37] AvniM commented on #17054
Closing this issue as this could be a misconfiguration on our end.

[2021-07-22 16:37] #17054 closed

[2021-07-22 16:43] jedcunningham commented on #17148
I was able to reproduce this. This happens on the tree view with the following DAG:

[code]

[2021-07-22 16:44] kaxil commented on #17150
https://airflow.apache.org/docs/helm-chart/stable/manage-dags-files.html#mounting-dags-from-a-private-github-repo-using-git-sync-sidecar explains it nicely

[2021-07-22 16:58] mwmapes-ucsd commented on #17166
Hi Jed,

I saw that and I can verify that my own personal Airflow environment does not have that role.
I assume I can create it, make it compatible with our shared DEV environment, which is where I suspect this code was inserted.
I will do that and get back to you but I have a meeting now.
Still, the abend is not desired vs a message that a role is not defined.

Mark

From: Jed Cunningham ***@***.

[2021-07-22 17:35] mwmapes-ucsd commented on #17166
Jed, I copied existing USER role to DIS_User and it works.

Thank you for your support.

Mark

From: Jed Cunningham ***@***.***>
Sent: Thursday, July 22, 2021 9:29 AM
To: apache/airflow ***@***.***>
Cc: Mapes, Mark <mwmapes@UCSD.EDU>; Author ***@***.***>
Subject: Re: [apache/airflow] abend during dag refresh (#17166)

In your dis_dba_patch_tuesday DAG, do you have access_control set? That exceptio

[2021-07-22 17:58] leahecole commented on #15994
Lol I think I said `NullOperator` here and `EmptyOperator` on Twitter 🤦🏻‍♀️ . And @ashb the `Noperator` makes me laugh and think of the Nopetopus
![tenor](https://user-images.githubusercontent.com/6719667/126686437-042943f0-d322-4e4d-9475-24dc3b47da60.gif)

[2021-07-22 18:02] denimalpaca opened #17168 "Add LocalFilesystemtoS3Operator"
**Description**

Currently, an S3Hook exists that allows transfer of files to S3 via `load_file()`, however there is no operator associated with it. The S3Load Operator would wrap the S3 Hook, so it is not used directly.

**Use case / motivation**

Seeing as to upload a local file to S3 using the S3 Hook, a Python task with the same functionality has to be written anyway, this could reduce a lot o

[2021-07-22 18:03] andriisoldatenko commented on #15994
i like NullOperator too.

[2021-07-22 19:13] WingCode opened #17172 "Basic Auth Not Passed In OpenAI Codegen Client"
**Apache Airflow version**:  2.1.2

**Environment**: OpenApi-generator 5.2.1-SNAPSHOT

**What happened**:
Call any APIs from the java code generated using https://airflow.apache.org/docs/apache-airflow/stable/_specs/v1.yaml fails with an API exception: UNAUTHORISED

**What you expected to happen**:
The API to succeed & return with a collection of DAGs

On closer inspection of the request sent, the

[2021-07-22 19:20] potiuk commented on #15994
It's really hilarious to see how we have all different opinions and how eager we are to participate in this discussion :)

[2021-07-22 19:21] potiuk commented on #15994
BTW. @leahecole  - I also casted different votes, just for the fun of it :D

[2021-07-22 20:16] wanderijames opened #17175 "Operators for orchestrating EMR EKS Jobs"
**Description**

[EMR in EKS](https://aws.amazon.com/emr/features/eks/) is a new feature by AWS. For teams that heavily uses EKS for their workloads, it would make sense to submit Jobs (Spark Jobs) via [EMR Containers](https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/emr-containers.html) and leverage execution with EKS.
This issue is request to add operators that would en

[2021-07-22 20:34] ManiBharataraju opened #17176 "TriggerDagRunOperator triggering subdags out of order"
**Apache Airflow version**: 2.1.1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:
We have dags that get triggered by another dag using the TriggerDagRunOperator. These dags incl

[2021-07-22 22:00] mik-laj commented on #17175
We currently have one operator that allows us to run Spark job on Kubernetes. It works with both EKS and GCP as well as any other Kubernetes platform. - [SparkKubernetesOperator](https://github.com/apache/airflow/blob/d72b363929c86eb03fc9583002459bd10bc7eaeb/airflow/providers/cncf/kubernetes/operators/spark_kubernetes.py#L24). Why would anyone use this operator instead of the provided operator ins

[2021-07-22 22:07] kaxil commented on #17161
Isn't this duplicate of the other issue you created: https://github.com/apache/airflow/issues/17085 ?

[2021-07-22 22:07] #17166 closed

[2021-07-22 22:13] orossini opened #17180 "dag example doesn't work for DataflowJobStatusSensor"
**Apache Airflow version**: 2.0.1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
1.18 on GKE
**Environment**: Google Cloud Platform - Cloud Composer

- **Cloud provider or hardware configuration**: GCP - Cloud Composer composer-1.17.0-preview.5-airflow-2.0.1
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**W

[2021-07-22 22:23] #17014 closed

[2021-07-22 22:31] #17155 closed

[2021-07-23 00:04] #15481 closed

[2021-07-23 06:18] nevinbaiju opened #17185 "Unable to start airflow webserver in the background in docker container."
Apache Airflow version: 2.1.2

Environment: continuumio/anaconda3 docker image

- OS (e.g. from /etc/os-release): Debian 10  Buster
- Kernel: Linux 242e786962c8 4.19.76-linuxkit #1 SMP Thu Oct 17 19:31:58 UTC 2019 x86_64 GNU/Linux
- Install tools: Docker
- Others: Host OS is windows 10

What happened:

I have installed airflow inside the docker container. And to run the webserver, I used the comma

[2021-07-23 06:32] mehmax commented on #17032
Hi all, jut joining the conversation from another discussion.
How about updating views.py so that it will show dicts and lists not as a whole, but with individual items:

Proof of concept:
views.py:
-> in this example, empty dicts and lists are not rendered
[code]

this is the screenshot from before:
![image](https://user-images.githubusercontent.com/84371809/126745292-ade0e36e-60a2-4d8a-99e9-9274

[2021-07-23 07:14] awildturtok commented on #17161
No, my prior issue was to get better feedback on job-submission, this is to see what was submitted.

`curl -X GET "http://localhost:9091/api/v1/dags/$DAG_ID/dagRuns/$DAG_RUN_ID" -H "accept: application/json" | jq '.conf' ` is how we access it at the moment. Or some of our validating tasks mentioned in #17085 log it.

[2021-07-23 07:55] potiuk opened #17186 "Fix template_ext processing for Kubernetes Pod Operator"
The "template_ext" mechanism is useful for automatically loading and jinja-processing files which are specified in parameters of Operators. However this might lead to certain problems for example (from slack conversation):

[code]

I believe the behaviour changed comparing to not-so-long-past. Some of the changes with processing parameters with jinja recursively caused this template behaviour to b

[2021-07-23 08:11] potiuk commented on #17032
I like this a lot. It's much simpler than the "jsonpath" solution and it will work out-of-the-box for most operators. This could also be enhanced a bit - if for example the name of the field (including whole path) after unfurling the dictionary, matches the "rendered_field" entry - we could use the right renderer and get syntax coloring as well.

In the BigQuery case
[code]

would lead to nice sql

[2021-07-23 08:43] potiuk commented on #17185
There is something wrong with your conda base installation. I could not reproduced in using the official image so I used yours. And airflow is simply not working in your image (likely the master process locked itself out  when exiting) - you have errors in your ~/airlfow/webserver-err.log :

[code]

You can try to diagnose your image (likely it is based on some old/unsupported base images. However

[2021-07-23 08:43] #17185 closed

[2021-07-23 09:41] uranusjr commented on #17186
In my ideal world, passing a path as an argument shouldn't need special escaping, and we should require something like

[code]

to trigger templating.

More realistic though, something like

[code]

should work?

[2021-07-23 09:50] nevinbaiju commented on #17185
@potiuk please pardon if it is not the right way to use this.

I tried with an official image of airflow and tried running `airflow webserver -D` from the terminal and still, the issue persists.

This is the Dockerfile I used:

`
FROM apache/airflow:latest

ENTRYPOINT [ "/bin/bash" ]
`

[2021-07-23 10:00] potiuk commented on #17186
The problem is that we already have operators that heavily rely on this behaviour and will replace ANY string ending with the designated extensions with the jinja-processed value of the files they are pointing to.

This is convenient, though yeah - super-ambiguous in a number of cases, and I think we need a tactical solution for now to handle confusion it creates. I think the "recursive" behaviour

[2021-07-23 10:04] uranusjr commented on #17186
Oh, of course we shouldn't use `typing.Literal`. I was just borrowing the name and should've clarified. We should implement something like `from airflow import Literal`.

[2021-07-23 10:06] cablespaghetti opened #17188 "Chart: Uses deprecated v1beta1 Ingress Resource. Incompatible with Kubernetes 1.22"
**Apache Airflow version**: 2.1.1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.20

**Environment**: Amazon EKS deployed via Helm Chart v1.0.0

**What happened**: The ingress resource created via the Helm chart uses the now deprecated v1beta Ingress which will be removed in Kubernetes 1.22. The stable version has been available since 1.19 which is two versions be

[2021-07-23 10:07] potiuk commented on #17185
Wrong entrypoint. You need to run the image with 'bash'   command and see if it works

[2021-07-23 10:07] mik-laj commented on #17188
Are you willing to submit a bug fix? I'm happy to help with review. :-D

[2021-07-23 10:13] nevinbaiju commented on #17185
There is still no luck there. However, is this the way one is supposed to start the webserver inside the airflow container?

[2021-07-23 10:13] potiuk commented on #17185
[code]

[2021-07-23 10:13] potiuk commented on #17185
All works perfectly for me

[2021-07-23 10:17] nevinbaiju commented on #17185
Yes, I just checked it and it is working fine. Thank you so much for the help, I really appreciate it. It was a mistake on my part, I was using the entrypoint wrong.

[2021-07-23 10:22] cablespaghetti commented on #17188
Sure yes. I'll have a go.

[2021-07-23 10:23] sudeepgupta90 commented on #17077
Thanks for all the help and inputs @potiuk @dave-martinez

We were using custom logging - have incorporated your feedback and now using the recommended approach, and its working as expected

[2021-07-23 11:10] ManiBharataraju commented on #17176
Another thing that we are seeing is that subdags are no more created with a backfill run id. They are either scheduled or manual based on their parent dag. Could that be the cause of this issue to popup? Because it worked as expected in 1.10.x version.

[2021-07-23 11:14] potiuk commented on #17077
Glad to hear it!

[2021-07-23 11:16] potiuk commented on #16902
Hey @wolfier, WDYT. I am tempted to close this one, unless you have some arguments why I should not.

[2021-07-23 11:37] mik-laj commented on #17188
Assigned.

[2021-07-23 11:52] sfc-gh-turbaszek commented on #15994
As always in such matters. It reminds me discussion about logo refactor or using asserts in prod code 😅

Do I correctly assume that we will chose the option that wins all the polls? CC @kaxil

[2021-07-23 11:53] turbaszek commented on #15994
It reminds me discussion about logo re-design or asserts in production. But I like the idea of polls 👍 Do I correctly understand that we will pick the winning option @kaxil ?

[2021-07-23 12:58] ptrhck opened #17190 "Fetching remote s3 logs fails: An error occurred (AccessDenied) when calling the AssumeRole operation"
**Apache Airflow version**: 2.1.2

**Environment**:

- **Cloud provider or hardware configuration**: AWS ECS Fargate

**What happened**:

I have made an update from 2.0.1 to 2.1.2, and fetching the logs from s3 fails suddenly:
`An error occurred (AccessDenied) when calling the AssumeRole operation: User: arn:aws:sts::111111111:assumed-role/airflow-ecs-task-role/cfdjkal342nk432hvbkjl34 is not autho

[2021-07-23 14:14] jedcunningham opened #17191 "Healthcheck endpoint for workers"
**Description**

Now that the worker only responds to requests signed by the webserver (#16754), we should consider adding a health endpoint to the worker to help ensure it is up and healthy.

**Use case / motivation**

Users may want to have external monitoring on the workers logging webserver and having something that responds with a 200 instead of a 403 would be handy.

https://github.com/apach

[2021-07-23 14:57] mik-laj commented on #17191
@green2k @jedcunningham I'm not sure it makes sense. Worker runs in a separate process from the HTTP server, so the worker may still hang and monitoring will not detect this as it will be monitoring a separate HTTP server only. In the documentation, we have described the approach to monitoring each component and good practices in this regard. In this case, we should use [CLI check for worker](http

[2021-07-23 15:10] jedcunningham commented on #17191
The inverse of that is also true though (worker is healthy, logs HTTP server is wedged)? Both probably should be checked (or at least checkable).

[2021-07-23 15:25] agails commented on #8676
Yes I'm on version 2.1.0 and I just faced this problem, and thanks to zsmeijin I managed to solve it! For the more experienced, do we have any alternative or solution to this question?

[2021-07-23 15:27] josh-fell opened #17192 "Adding additional login support for SalesforceHook"
**Description**

Currently the `SalesforceHook` only supports authentication via username, password, and security token.  The Salesforce API used under the hood supports a few other authentication types:
- Direct access via a session ID
- IP filtering
- JWT access

**Use case / motivation**

The `SalesforceHook` should support all authentication types supported by the underlying API.

**Are you wi

[2021-07-23 15:27] josh-fell commented on #17192
@eladkal FYI - feature request opened for what we discussed yesterday.

[2021-07-23 15:48] nathadfield commented on #17032
Thanks @potiuk! Have been looking at this at times today and I'm definitely making some progress although it depends on whether @mehmax beats me to it!

<img width="1564" alt="Screenshot 2021-07-23 at 16 48 20" src="https://user-images.githubusercontent.com/967119/126807940-f3ecad36-3f9e-4844-8505-9b292ed5a86b.png">

[2021-07-23 15:59] potiuk opened #17193 "Custom connection cannot use SelectField"
When you have Custom Connection and use SelectField, Connection screen becomes unusable (see #17064)

We should detect the situation and throw an exception when Provider Info is initialized.

[2021-07-23 16:02] potiuk commented on #17064
OK @soltanianalytics - found the problem. In mongo and airflow operator you  are using SelectField  which is not supported by Connection Form. I will add some protection for that in future Airflow (see #17193) but for now what can help is if you replace it with  text field and add custom validator that will only allow specific values.

Since we are going to mostly rewrite UI (and this mechanism wi

[2021-07-23 16:03] potiuk commented on #17064
Workaround provided. Closing in favour of more detailed #17193

[2021-07-23 16:03] #17064 closed

[2021-07-23 16:47] soltanianalytics commented on #17064
Very interesting, thank you for the support!

What would be needed for that? Where should I start / where to look into?

I'll probably phase them out for now, though, thanks!

[2021-07-23 17:45] wolfier commented on #16506
Hmm, you're right. I must be misremembering.

Updated the description.

[2021-07-23 17:51] wolfier commented on #16902
Yeah, if we can compare the content of the code to determine whether or not to merge the orm_dag_code object, that would guarantees that the code view is displaying the latest version regardless of modified timestamp.

Definitely more very straight forward than keeping a content hash. I was thinking of a content hash because the file location is hashed.

[2021-07-23 18:26] #17193 closed

[2021-07-23 19:07] kaxil commented on #17032
Nice, let's race @mehmax  @nathadfield

[2021-07-23 19:14] kaxil commented on #15994
Probably the same as other votes we have had, we can consider all community votes as non-binding but committers & PMC can have binding votes. The Community votes at least give us direction on what our users want :) so the pressure on PMC. But open to suggestions. Looks like `EmptyOperator` is leading on all the polls followed by `NullOperator` and `NoneOperator`.

All the three mediums have the sa

[2021-07-23 19:50] bpleines opened #17197 "airflow upgrade_check - kubernetes.pod_template_file false positive"
**Apache Airflow version**: 1.10.15

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): v1.19.3

**Environment**:

- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): Flatcar OS
- **Kernel** (e.g. `uname -a`): Linx airflow-webserver-xxxxxxx-yyyyyy 5.4.92-flatcar x86_64 GNU/Linux
- **Install tools**: jsonnet/docker/kubernetes
- **Othe

[2021-07-23 19:59] potiuk commented on #17197
Unfortunately we are not going to release any more upgrade_check, so this false positive will remain as it is. You can still disable it using "Turning off checks" https://airflow.apache.org/docs/apache-airflow/stable/upgrade-check.html#turning-off-checks

[2021-07-23 19:59] #17197 closed

[2021-07-23 20:03] bpleines commented on #17197
Ok makes sense thanks for the speedy response @potiuk

[2021-07-23 21:08] wolfier opened #17198 "BigQueryToMySqlOperator uses deprecated method and doesn't use keyword arguments"
**Apache Airflow version**: 2.0+

**Apache Airflow provider and version**:  apache-airflow-providers-google==2.2.0

**What happened**:

My `BigQueryToMySqlOperator` task always fail with the following error message.
[code]

**What you expected to happen**:

I expect the task to move data from BigQuery to MySql.

**How to reproduce it**:

You will need a working gcp connection and mysql connection

[2021-07-23 21:53] jedcunningham commented on #17198
@wolfier, do you want to PR the fix for this?

[2021-07-23 22:14] wolfier commented on #17198
Yep! I'm down to contribute!

[2021-07-24 05:12] KevinOrtman commented on #11085
I think @melle2 did a great job of describing this issue.  #6159 effectively broke end-of-task-log detection for ELS logging.

We're using the `json_format = True` flag and our ingestor forwards each correctly formatted json fragment to ELS as-is.  The problem with #6159 is that it simply dumps the end_of_log marker to the output stream without json decoration or any fields needed for indexing.  T

[2021-07-24 06:44] angelorobo opened #17199 "ERROR - No module named 'motor'"
**Apache Airflow version**:
apache-airflow==1.10.9
motor>=1.2.1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

[code]

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

[code]

**What you expected to happen**:

**How to repro

[2021-07-24 06:56] eladkal commented on #15994
I think EmptyOperator is a good choice.

[2021-07-24 08:39] Gabriel39 opened #17200 "Alibaba Cloud support"
**Description**

Alibaba Cloud is the largest cloud computing company in Asia/China. To increase Airflow's influence for Chinese developers and Alibaba Cloud users in the world, we should add more support to Alibaba Cloud.

**Use case / motivation**

Discussion about this: [Hope to join the Airflow community to develop the support of Alibaba Cloud](https://www.mail-archive.com/dev@airflow.apache.o

[2021-07-24 09:10] dungdm93 opened #17202 "S3 remote logs InvalidObjectName"
**Apache Airflow version**: `2.1.2+d25854dd413aa68ea70fb1ade7fe01425f456192`

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): `v1.19.10-gke.1600`

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:
My airflow cluster use S3 remote

[2021-07-24 09:18] angelorobo commented on #17199
It is a coding issue. We rolled back to an older version of our backend service and It works. So we have to figure out what is missing between the older version and the new deployment. It is a false alarm and not related to Airflow.

[2021-07-24 09:18] #17199 closed

[2021-07-24 09:48] dungdm93 commented on #17202
I just dig into source code and resolve it myself by remove `Schema` from connection. Magic :metal:
So you guys think we should at least note this one into docs?

[2021-07-24 10:07] maryampashmi opened #17203 "KeyError: 'Variable var3 does not exist' despite of existing"
Hello.
I have created a Variable but I am receiving an error for the final task. I have posted the corresponding code. You just has to import the Json file for the variable definition. And you should be able to re produce the same error. I am using airflow 2.1.2

This is Json file, which is loaded as variable!
{
	"example_variables_config": {
		"var1": "value1",
		"var2": [1, 2, 3],
		"var3": {

[2021-07-24 12:18] sreeram004 commented on #13637
I'm seeing same issue in Airflow 2.1.2. Any known fixes?

[2021-07-24 18:31] potiuk commented on #17202
If you think you can improve that - feel free to make PR ! It's super easy - there is a "Suggest a change on this page" button when you look at our docs. Actually - people like you are the best to improve the docs, somehow you got the notion that you should get the schema (As a new user) so you are likely the best person to tell how to improve the docs so that others do not feel in the same trap.

[2021-07-24 18:32] #17202 closed

[2021-07-25 00:05] #16447 closed

[2021-07-25 04:22] segfault16 commented on #16507
I was also confused about this behavior when adding new subdags and the execution stalled when reaching the new subdag.

Also I want to point out that while individual subdags can be paused/unpaused it's pretty hard to get to the page where the on/off for the subdag is actually shown. I only found them when navigating to the logs of the individual run.
Shouldn't this switch be visible when you "zo

[2021-07-25 04:32] uranusjr commented on #16507
This whole concept of subdags is confusing by design, that's why we've been suggesting people to avoid them and use task groups instead 🙂

[2021-07-25 05:12] segfault16 commented on #16507
One thing I like about the subdags is that you are able to use it for high-level structuring of the pipeline into blocks and being able to reschedule individual blocks by clearing with option `downstream` only.

[2021-07-25 07:50] eladkal commented on #17168
Yeah we can have an operator to load from local to S3 (like the equivalent from GCP ) https://github.com/apache/airflow/blob/45a49e0f81cc592a4e6a95aa230560530d88a5c8/airflow/providers/google/cloud/transfers/local_to_gcs.py#L28

assigned the issue to you :)

[2021-07-25 08:22] eladkal commented on #16988
The traceback shows:
[code]

I guess it's similar/duplicate  to https://github.com/apache/airflow/issues/15496

does this error happens in 2.1 ?

[2021-07-25 08:35] potiuk commented on #15496
I think it's good as it is. In case of unrecoverable error, when you try several times and cannot connect, shutting down the whole application is the best thing you can do. It protects against any kind of memory build-ups, internal errors etc. Usually -in all serious deployments, the deployment should be resilient to application failure and restart it - signalling appropriate error via monitoring.

[2021-07-25 08:35] #15496 closed

[2021-07-25 08:35] potiuk commented on #15496
Closing it. I think the behaviour is correct and I see no other actions we can take.

[2021-07-25 08:45] potiuk commented on #16988
This is normal behaviour when there is a problem with database that scheduler (or any other component might crash in case of the database failure. There are some other problems in the log you provided (`Kubernetes resource version is too old, must reset to 0`) which might indicate that there is a problem with your K8S deployment.

I assume what happened here (please double check and let us know if

[2021-07-25 08:45] #16988 closed

[2021-07-25 10:06] #8766 closed

[2021-07-25 10:21] potiuk commented on #17203
Fist of all - This does not look like an issue.  You should rather use "GitHub Discussions" for similar questions. It's neither a bug nor feature.

Secondly - do not use variables at top-level of your dags. The reasons are explained here: https://airflow.apache.org/docs/apache-airflow/stable/best-practices.html#variables

Thirdly - you have clear error - the problem you get is  you try to run  `va

[2021-07-25 10:21] #17203 closed

[2021-07-25 10:53] potiuk commented on #16944
I have some clarification/real fix coming - the original fix was not really good, it still had the old dependencies linked which are not needed any more in FAB 3.

[2021-07-25 12:05] subkanthi commented on #16907
I would like to take a shot at this

[2021-07-25 12:41] potiuk commented on #16907
Feel Free!

[2021-07-25 13:21] potiuk commented on #15601
I can confirm this is the same for me for latest version of Airflow with Google Oauth2. I am not too familiar with the FAB authentication flows and what could be the reason, but maybe someone who knows a bit better @thesuperzapper @kaxil @dpgaspar could help ? I have now working configuration with Google OAuth2 that I can use to quickly test any solution (and happy to implement a fix)  - but I nee

[2021-07-25 15:58] potiuk commented on #16902
Would you want to try to optimize it then by comparing the content ?

[2021-07-25 16:05] jimmybchopps commented on #16013
@XD-DENG Any update on this?  We're seeing the exact same issue on version 2.0.2.  Our Kubernetes version is 1.20.2 and we have airflow in its own namespace.  Here is what the label section looks like from the webserver where the command was manually run from to reproduce the issue:

  labels:
    component: webserver
    pod-template-hash: {Redacted but Valid}
    release: {Redacted by Valid}

[2021-07-25 16:06] potiuk commented on #17064
I think it's a bit how the SelectField is validated in  javascript which is run while submitting the form. From what I saw, there were some client-side pre-validation failures generated by FAB client-side. I do not know that much about it to dig into it (and taking into account future of Airlfow WebUI, it is probably not worth it) :).  The check I've done on the server side will prevent from simil

[2021-07-25 16:17] potiuk commented on #8676
Question @zsmeijin @agails @vietpm  -> could you please tell me how you configured the SMTP service? Was it via an SMTP connection or config file? I would love to reproduce that one and provide good error message in this case. I understanding how frustrating it could be.

[2021-07-25 16:20] #17083 closed

[2021-07-25 16:26] potiuk commented on #17190
You need to make sure you have the same configuration for workers and webserver for `AIRFLOW__WEBSERVER__SECRET_KEY` - in Airlfow 2.1.2 we generate temporary token on the webserver side to be able to retrieve the logs and you have to make sure that the secret key is set for both - webserver and workers.

[2021-07-25 17:11] potiuk commented on #17045
I run your example using local executor and it all works fine (see below).

The problem you most likely experienced was problem with retrieving task logs. You need to make sure you have
`AIRFLOW__WEBSERVER__SECRET_KEY` the same for workers and webserver - then your logs will be retrieved by the webserver https://airflow.apache.org/docs/apache-airflow/stable/configurations-ref.html#secret-key

I am

[2021-07-25 17:11] #17045 closed

[2021-07-25 17:33] potiuk commented on #10860
I am afraid, this looks like a problem with deployment, not Airflow. What I can recommend is to install Airflow using the Official Helm Chart  https://airflow.apache.org/docs/helm-chart/stable/index.html.

Then we will be able to help with diagnosing the issues. I am afraid this is is the best we can do. You can also try to open an issue in the "stable" helm chart repo if you continue getting the

[2021-07-25 17:33] #10860 closed

[2021-07-25 17:49] mcreenan commented on #16972
@mik-laj I opened a PR with the change. I was able to test it with the bare bones DAG example I referenced in the OP.

[2021-07-25 17:53] potiuk commented on #16903
How did you install Airflow? Was it with the Official Helm Chart? Or following instructions from https://airflow.apache.org/docs/apache-airflow/stable/installation.html ? Any other way? I have a feeling (looking at some warning messages) that a number of dependencies you have especially Celery) is no in the version that is supported.

Can you please describe your installation method (or better - t

[2021-07-25 18:07] potiuk commented on #15286
I came back to the discussion after the Summit, and It gave me some idea @uranusjr. The problem with this approach is that you cannot have separate operator to prepare env and another to run the env. The problem is that they might run on different workers.

However with the custom XCom backends, I think we are very closet to use those backends as a generic Caching mechanism (That we could also use

[2021-07-25 20:07] potiuk commented on #17097
1.10 has reached end-of-life on 17th of June. No more fixes to 1.10 will be provided. If that is an issue for Airflow 2 as well - please create a new issue.

[2021-07-25 20:07] #17097 closed

[2021-07-25 20:19] potiuk commented on #10874
Proposals?

[2021-07-25 20:24] potiuk commented on #16590
I am afraid there isn't much we can do in Airflow to fix it. Closing it.

[2021-07-25 20:24] #16590 closed

[2021-07-25 20:55] #17111 closed

[2021-07-25 21:28] #17088 closed

[2021-07-26 00:04] #16481 closed

[2021-07-26 03:27] henryzhangsta commented on #15133
FWIW I believe I also ran into this issue with the `postgresql` password. I had special characters (`%`, `&`, `+`) in it and airflow was not able to use the connection string. Changing to an alphanumeric password fixed the problem.

[2021-07-26 03:31] pindge commented on #16202
I am having the same issue, we have just upgraded from airflow v1.10.15 to airflow v2.1.2, everything has been fine except, as an admin the add/create user + button is no longer available, Below is what I have found the clean airflow v2.1.2 image creates those 6 `ab_permissions` whereas in our environment, we have alot of `ab_permissions`
[code]
limited to 10 for comparison
[code]
I then tried air

[2021-07-26 03:37] jhtimmins commented on #16202
Thanks for the update. I'll have a fix for this in 2.1.3 going out early next week.

Sent from my iPhone

[2021-07-26 05:00] #16967 closed

[2021-07-26 06:04] zkan commented on #8676
This issue seems related to https://github.com/apache/airflow/issues/15133.

[2021-07-26 07:16] pindge opened #17219 "sqlite3.OperationalError: no such column: variable.description"
**Apache Airflow version**: 2.1.2

**Environment**:
- github workflow
-
**What happened**:

in our code base, we provide VARS from terraform, and allows dags owner to get via Variable
[code]
since upgrading to v2.1.2, we are noticing following issues, in v1.10.15 it didnt have variable.description columns, its doesnt appear to be breaking anything just eye sore to see
[code]
**What you expected to

[2021-07-26 07:26] eladkal commented on #8449
@Vineet-Sharma29 you are welcome to open a PR

[2021-07-26 08:42] kaojunsong commented on #17045
@potiuk Thanks a lot for your reply.
I'm using Celery Executor. And the webserver and worker are using the same airflow.cfg: https://github.com/kaojunsong/airflow-test/blob/main/config/airflow.cfg, they are using the same secret_key, am I right? If not, how can I configure the secret_key for the workers?

And the deployment of kubenetes is in: https://github.com/kaojunsong/airflow-test/tree/main/k

[2021-07-26 09:01] arkadiuszbach commented on #10860
This is related to Azure LoadBalancers which has TCP_IDLE_TIMEOUT equal to 10minutes by default, which means that if your scheduler is not doing anything on kubernetes api for more than 10minutes connection will be killed.

- In Airflow 2.x there is option:
[code]
  for enabling TCP_KEEP_ALIVE in python urllib3 library, which is used by requests and kubernetes library, by default TCP_KEEP_ALIVE is

[2021-07-26 09:14] mmazek commented on #16625
We're also impacted by this bug. We're running hundreds of tasks every hour and every day we're ending up with multiple task instances stuck in the queued state. We currently have to clear out the state of all those queued tasks, so that they are picked up again.
**Apache Airflow version:** 2.0.2
**Kubernetes version:**
Server Version: version.Info{Major:"1", Minor:"20+", GitVersion:"v1.20.4-eks-6

[2021-07-26 09:14] raphaelauv commented on #17012
@uranusjr thanks for the explanation.

So we could maybe rename NONE_FAILED_OR_SKIPPED by NONE_FAILED_OR_ALL_SKIPPED ?

That would be more explicit.

[2021-07-26 09:19] raphaelauv commented on #16951
Look like a custom trigger rule is necessary for this , but it's not yet present in airflow

https://github.com/apache/airflow/issues/17010#issuecomment-880267979

[2021-07-26 09:23] sudarshan2906 opened #17223 "run_as_user shows none even when default_impersonation set in the config"
**Apache Airflow version**:
2.1.2

**Environment**:

- **Cloud provider or hardware configuration**: AWS ECS
- **OS** (e.g. from /etc/os-release): debian
- **Kernel** (e.g. `uname -a`): Linux
- **Install tools**:
- **Others**:

**What happened**:
When setting default_impersonation in airflow.cfg as `testuser` and not passing run_as_user in the default_parm or operator parameters, it is showing run

[2021-07-26 09:29] potiuk opened #17224 "[QUARANTINE] The test_scheduler_verify_pool_full test is quarantined"
The test fails occasionally with the below stacktrace, so I am marking this as Quarantined.

[code]

[2021-07-26 09:29] Naraujo13 commented on #14906
It makes sense, for the `HTTPOperator` we could simply use the `response_filter`, so it wouldn't make sense to add the filter here.

I think I mixed a different use case where one time at work we extended `HTTPOperator` to save the results on S3, and we wanted to save the data but only push a small part of it (list of ids, etc) to XCom to use in a next request, so we needed different filters there

[2021-07-26 09:36] potiuk opened #17226 "[QUARANTINE] Quarantine test_verify_integrity_if_dag_changed"
The TestSchedulerJob.test_verify_integrity_if_dag_changed fails occasionally and I mark it as Quarantined

[code]

[2021-07-26 09:44] ephraimbuddy commented on #17223
Did this work in 2.1.1 @sudarshan2906? I mean the part that tasks are failing

[2021-07-26 10:07] sudarshan2906 commented on #17223
Not sure. It started giving error when I enabled impersonationation in 2.1.2 as mentioned here -> http://airflow.apache.org/docs/apache-airflow/stable/security/workload.html

I haven't tried it in 2.1.1

[2021-07-26 10:11] potiuk commented on #14906
Ok. closing this one then.

[2021-07-26 10:11] #14906 closed

[2021-07-26 10:13] potiuk commented on #17219
You have not run `airflow db upgrade` when you upgraded from an earlier version of airfflow. If you are running unit tests you also need to run `ariflow db upgrade` or `airflow db reset` with Unit test mode enabled https://airflow.apache.org/docs/apache-airflow/stable/howto/use-test-config.html

[2021-07-26 10:14] #17219 closed

[2021-07-26 10:28] potiuk commented on #15133
@henryzhangsta  This is a different issue with Postgres connection URL. When you embed your password in URL, you MUST Percent-encode it (see https://datatracker.ietf.org/doc/html/rfc3986). This is part of specification and this has nothing to do with Airflow.

See: https://airflow.apache.org/docs/apache-airflow/stable/howto/connection.html#handling-of-special-characters-in-connection-params

We ev

[2021-07-26 10:58] potiuk commented on #17018
Hey @aneesh-joseph - any chance for that :) ?

[2021-07-26 10:58] potiuk commented on #17018
I think it would be great to have it before we release 2.2.0 :)

[2021-07-26 11:11] potiuk commented on #16979
Hey @flolas - how is it going ? I saw a few people interested in it :)

[2021-07-26 11:14] Shivamtayal99 commented on #15601
We are also facing similar issue in airflow 1.10.14 with OpenID connect.

[2021-07-26 12:24] ephraimbuddy commented on #17223
I have added a PR for the part that tasks are failing to run https://github.com/apache/airflow/pull/17229

[2021-07-26 12:28] maneeshmenon commented on #12499
Hi, Based on the redirect urls I have provided, after auth from AAD, the code is passed to https://<ip address>/oauth-authorized/azure and the from there it goes to https://<ip address>/home and then to https://<ip address>/login/?next=https%3A%2F%2F10.83.210.52%2Fhome and it just comes back to home and then to login again.

The application should be able to take the code and pass it to get an Acc

[2021-07-26 12:40] potiuk commented on #12499
I had similar issues when my oauth configuration was wrong.

Probably you simply do not have properly configured auto-registering of the user, likely the role you have for that is not properly configured. See https://airflow.apache.org/docs/apache-airflow/stable/security/webserver.html#other-methods

[2021-07-26 12:41] potiuk commented on #12499
Check if the user is properly configured after the oauth flow in your database, and check if the Role it has is enough for the user to be able to login to the UI of Airflow.

[2021-07-26 12:50] ciancolo commented on #17158
I will try to propose a PR.
Do you know if there are tests for development env configurations?

[2021-07-26 13:11] potiuk commented on #17158
Most of the scripts in dev env are used in CI to run tests so pretty much all of them are tested in every single PR, same with Docker  - it is build in a number of combinations and even automatically tested during the CI builds, so whenever you PR gets "green" you should not worry about regressions. About 90% of the dev scripts are also used for CI I'd estimate. And those that are not tested are m

[2021-07-26 13:24] potiuk opened #17232 "MSSQL in CI takes far too much memory"
When MSSQL is run for CI, it takes far to much memory and it makes our CI fails. Likely the image uses default configuration - which is kind-of-needed when MSSQL is run in any reasonable production like environment, but we only need it for very low amount of data and very limited performance. We've already limited MySQL and Postgres to take < 250 MB each, MSSQL takes ~ 1.2GB at least, which is far

[2021-07-26 13:25] potiuk commented on #17232
cc: @aneesh-joseph

[2021-07-26 13:32] potiuk commented on #17232
Results of `docker stats` for comparision:

[code]

[2021-07-26 13:49] sp31071973 opened #17233 "i can't play my code"
**Apache Airflow version**:

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know**:

[2021-07-26 13:52] flolas commented on #16979
@potiuk Hi! I will work this week on the PR.

[2021-07-26 14:10] potiuk commented on #17232
Does not seem there is a good chance for that https://github.com/microsoft/mssql-docker/issues/517

[2021-07-26 14:43] #17233 closed

[2021-07-26 14:48] fredthomsen commented on #16952
Thanks for the responses. Based on the feedback given, I'll go ahead and close this.

[2021-07-26 14:48] #16952 closed

[2021-07-26 15:16] ashb commented on #14205
I wonder if this will already be fixed by Ephraim's change where DagRuns are created in queued state - #16854

[2021-07-26 15:29] ephraimbuddy commented on #17223
I will check ...

[2021-07-26 15:34] ptrhck commented on #15954
I am also facing this issue https://github.com/apache/airflow/issues/17190. Any ideas?

[2021-07-26 15:40] nathadfield commented on #17032
Should have a PR for this tomorrow.

[2021-07-26 15:51] silvadenisaraujo commented on #16013
Hey, reporting the same issue with airflow 2.1.1:

[code]

[code]

[2021-07-26 15:55] potiuk commented on #17190
Ah yeah. You are right - my mistake. Indeed looks like IAM problem.

[2021-07-26 15:57] potiuk commented on #17190
Looks like somehing akin to https://acloudguru.com/blog/engineering/fixing-5-common-aws-iam-errors - it looks like it is your deployment issue rather than Airflow's

[2021-07-26 16:03] peay commented on #16573
@eladkal not sure if it is the same issue, but I am seeing the same symptom on 2.1.1, and can reproduce easily by letting my DAGs run for an hour or two.

This affects tasks randomly in my DAGs, usually after running for a few minutes. I have a single Celery worker pod which was healthy whenever this has occured so far.

Here's a sample from a task log, where I have activated SQLAlchemy query logg

[2021-07-26 17:16] josh-fell opened #17235 "Connection inputs in Extra field are overwritten by custom form widget fields"
**Apache Airflow version**:
2.1.0

**What happened**:
There are several hooks that still use optional parameters from the classic `Extra` field.  However, when creating the connection the `Extra` field is overwritten with values from the custom fields that are included in the form.  Because the `Extra` field is overwritten, these optional parameters cannot be used by the hook.

For example, in the

[2021-07-26 17:33] potiuk commented on #17235
Yeah. Smart merging of the fields is best approach. There are already quite a few connections where the "extra" field is hidden (when available extra are exhaustive) but I think it would not be too difficult to make it works smart and automatically split/merge both approaches. Feel free to provide PR for that

[2021-07-26 17:50] fatmumuhomer commented on #16364
@uranusjr, @potiuk  I created a pull request for this change - https://github.com/apache/airflow/pull/17236

Can someone take a look when you have time? Also, it says I need a maintainer to approve running workflows since I am a first time contributor.

Thank you.

[2021-07-26 18:13] ephraimbuddy commented on #13853
I was able to reproduce this in 2.0.0 but not in 2.1.2. @oz-r can you confirm?

[2021-07-26 19:40] potiuk commented on #10860
Great comment ! Thanks for summarising it @arkadiuszbach !

[2021-07-26 19:40] mgorsk1 opened #17238 "Unexpected skipped state for tasks run with KubernetesExecutor"
**Apache Airflow version**:

**2.1.2** (it didn't occur on 1.10.11 we were previously using)

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**v1.19.4**

**Environment**:

- **Cloud provider or hardware configuration**: self-hosted k8s
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**: **KubernetesExecutor** and

[2021-07-26 20:24] ptrhck commented on #17190
Both, the task and execution role of the services have the following statement:

[code]

[2021-07-26 20:26] ptrhck commented on #11057
@ivica-k

I am wondering whehter my issue https://github.com/apache/airflow/issues/17190 is related?

[2021-07-26 20:40] mehmax commented on #17032
Hi, I added a PR for this. Lets discuss:
https://github.com/apache/airflow/pull/17239
#17239

[2021-07-26 21:10] omriAl opened #17240 "bash operator overrides environment variables instead of updating them"
**Apache Airflow version**: 1.10.15

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
`Client Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.6", GitCommit:"96fac5cd13a5dc064f7d9f4f23030a6aeface6cc", GitTreeState:"clean", BuildDate:"2019-08-19T11:13:49Z", GoVersion:"go1.12.9", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1",

[2021-07-26 21:16] warrenstephens opened #17241 "Python Operator on Apple M1, python 3.9.6, airflow 2.1.2"
**Apache Airflow version**:
Airflow version: 2.1.2

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

Client Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.2", GitCommit:"092fbfbf53427de67cac1e9fa54aaa09a28371d7", GitTreeState:"clean", BuildDate:"2021-06-16T12:59:11Z", GoVersion:"go1.16.5", Compiler:"gc", Platform:"darwin/arm64"}
Server Version: version

[2021-07-26 21:21] warrenstephens commented on #17241
Hitting the "back" button on the UI, then shows the "log_it" task (rather than "print_it"), and then running "log_it" will crash the pod, like this:
[code]

[2021-07-26 21:28] warrenstephens commented on #17241
May be interesting and related:
[code]

[2021-07-26 23:32] naomiaro opened #17243 "Helm v1.0.0 missing, no entry in index.yaml for 1.1.0"
https://downloads.apache.org/airflow/helm-chart/

There is no more https://downloads.apache.org/airflow/helm-chart/1.0.0/airflow-1.0.0.tgz, only 1.1.0.

However, there's no entry here for 1.1.0:

https://airflow.apache.org/index.yaml

[2021-07-27 00:11] naomiaro commented on #17243
https://airflow.apache.org/index.yaml Index now includes 1.1.0 at least

[2021-07-27 01:07] baaj2109 commented on #16903
thank you for your help, actually I followed instructions from https://medium.com/@ryanroline/installing-apache-airflow-on-windows-10-5247aa1249ef, I will reinstall airflow again with official instructions.

[2021-07-27 05:10] duynguyenhoang commented on #15572
Our team had same issue with import. Finally we decided to move the `utils` stuff to `plugins` out of  `dags` folder and it works like a charm

You will see the structure is similar to:

[code]

For everyone who deploy Airflow k8s cluster and using gitsync, there are some extra steps requires (We haven't tested it yet, but we are going to do that and update the result here.)
* Change `AIRFLOW__COR

[2021-07-27 05:51] uranusjr commented on #17240
I think this is working as expected (that how `env` in the stdlib subprocess works). Does the documentation says otherwise? We should fix the documentation if that's the case.

[2021-07-27 07:24] potiuk opened #17249 "Add Changelog Annotation to Helm Chart"
Our Helm Chart misses changelog annotation:

https://artifacthub.io/docs/topics/annotations/helm/

![image](https://user-images.githubusercontent.com/595491/127112987-b5541ddb-120c-4904-8f23-4f5985cbf3e3.png)

[2021-07-27 07:24] potiuk commented on #17249
Would be great to fix it for next release :)

[2021-07-27 07:25] maneeshmenon commented on #12499
Hi ... Thanks. I got it working.

I have one basic question. Since I have enabled "AUTH_USER_REGISTRATION = True", the "Register" button appears in the home page. Is it possible to enable OAuth, self register and not have the 'register' button in the home page?

[2021-07-27 07:38] potiuk commented on #17240
Yep. It is explicitly mentioned in the documentation of BashOperator:

[code]

However @omriAl, if you feel you need the case where env have to be additive, I would encourage you to make a PR and this feature. I imagine, this could be an extra flag with default = True (`replace_os_env=True`) and if it is set to`False` the os env will be retained and the env values specified would just override tho

[2021-07-27 08:50] nathadfield commented on #17032
@potiuk PR has now been raised. #17252

@mehmax It looks like our aims are a little different.  I am trying to provide the capability for individual elements of a dict to be specified in an operator with an appropriate renderer rather then extracting every key:value.

[2021-07-27 09:00] sabarisan11 opened #17254 "Airflow dependencies not working in 1.10.15"
Hi Everyone,

We are trying to migrate our code from Airflow version **1.10.5** to **1.10.15** (bridge version) and having plans to use Airflow 2.0. But post migrating our code into 1.10.15 we are facing some dependency issues where the same code works fine in 1.10.5.

When looked further, we identified that upstream and downstream functions with parameter is causing the issue. we tried modifying

[2021-07-27 09:58] potiuk commented on #17254
The 1.10 version of Airflow reached and of life as of June 17 2020 and it will not receive any more fixes (even critical ones). This looks like some If the code does not work in 1.10.15, it is highly unlikely it is going to work in Airflow 2 (which we encourage everyone to use). I am afraid fixing your DAGs to work with 1.10.15 is the only way to proceed. Since you already know it works, I think t

[2021-07-27 09:58] #17254 closed

[2021-07-27 10:07] potiuk commented on #16903
Cool Please do and report it here, I made a comment in the article and asked the author to update the article and put the link to the official installation page. I will close the issue for now, please report if you have further problems after reinstalling - both when it suceed or fails.

[2021-07-27 10:07] #16903 closed

[2021-07-27 10:10] kdunee commented on #13888
@alittlesliceoftom Hi, can you please share what hack are you using? I'm currently considering disabling `get_logs` to avoid https://github.com/apache/airflow/issues/14259? ;)

[2021-07-27 10:21] planoe-cloudera opened #17255 "x_frame_enabled logic broken in Airflow 2"
**Apache Airflow version**: 2.1.0

**Environment**:

- **Cloud provider or hardware configuration**: Azure
- **OS** (e.g. from /etc/os-release): RHEL8.3
- **Kernel** (e.g. `uname -a`): Linux 7db15dac176b 5.10.25-linuxkit # 1 SMP Tue Mar 23 09:27:39 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux

**What happened**:

When x_frame_enabled is default or set to true, embedding Airflow is not working since X-F

[2021-07-27 11:45] kaxil commented on #16703
@dan-origami Were you able to upgrade to latest 2.1 release and see if this is still the issue

[2021-07-27 11:51] dan-origami commented on #16703
@kaxil we are on 2.1.1 at the moment and it seems better, there were some fixes listed in the release for CeleryExecutors so went for it. I can't definitely say that its fixed though as we do churn our airflows quite a lot at the moment so it doesn't always get prolonged runtime without being redeployed.

I see this issue is added for 2.1.3 do you know if there is anything specific that has been f

[2021-07-27 11:51] dan-origami commented on #16703
If you want us to try 2.1.2 as well we can definitely do that.

[2021-07-27 11:52] kaxil commented on #15488
Closed by https://github.com/apache/airflow/pull/15929 and will be released in 2.1.3

[2021-07-27 11:52] #15488 closed

[2021-07-27 11:53] kaxil commented on #15457
Closed by https://github.com/apache/airflow/pull/16550 - This was already released in Airflow 2.1.1

[2021-07-27 11:53] #15457 closed

[2021-07-27 11:56] kaxil commented on #14265
Closing -- fixed by https://github.com/apache/airflow/pull/16401 -- which will be part of Airflow 2.1.3

[2021-07-27 11:56] #14265 closed

[2021-07-27 11:59] kaxil commented on #12300
I am going to close this one, we can create a new one / open it if needed

[2021-07-27 11:59] #12300 closed

[2021-07-27 12:15] xingdao opened #17257 "Extend SubDagOperator, alert dag seems to be missing"
**Apache Airflow version**: 2.1.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): no

**Environment**:

- **Cloud provider or hardware configuration**:  linux
- **OS** (e.g. from /etc/os-release):  Debian GNU/Linux 10
- **Kernel** (e.g. `uname -a`): Linux 832222993e59 5.4.0-77-generic  x86_64 GNU/Linux
- **Install tools**: docker
- **Others**:

**What happened**:

[2021-07-27 12:23] peay commented on #16573
After more investigation, I was able to get to the bottom of it. I had missed the actual SQLAlchemy queries updating the task instance/task fail, as they are not performed by either the scheduler, web server or worker, but by the DAG processor (as part of file-level callbacks), whose logs are only available locally in my setup.

In my case, the scheduler thinks the job is a zombie. I had also miss

[2021-07-27 12:29] ptrhck commented on #17190
I have tried both `2.0.1` and `2.1.2` with a brand new AWS Stack deployment, neither works. I have checked the my previous commit, I have not changed anything regarding IAM. I have only updated some dependencies in my `requirements.txt`, specifically some boto3 related stuff. But is that likely to cause the issue?

[2021-07-27 12:41] kaxil commented on #17257
Why do you want to override `task_type` -> it is only used for displaying the class name on webserver.

[2021-07-27 12:41] #17257 closed

[2021-07-27 13:02] potiuk commented on #17190
Hard to say, it's possible though, if AWS libraries changed something. I personally do not have much experience of AWS role assumption but maybe you can try to see the same with previous requirements if you have them (especially boto and related I think ) . Seems that is not related with Airflow version, and this way (if you tell the diff between requirements working/not working I can try to help

[2021-07-27 13:16] xingdao commented on #17257
Reason:

1.  Webserver button "Zoom into Sub DAG" go a way
2.  Dag run error, block forerver in sub dag
3.  Most func (isinstance(current_task, SubDagOperator) or current_task.task_type == "SubDagOperator")

so any idea to deal it? before Extend SubDagOperator, want it run as noraml.

Thanks.

[2021-07-27 13:19] kaxil commented on #17243
Yup, the `index.yaml` at https://airflow.apache.org/index.yaml contains 1.0.0 and 1.1.0

so you could do (and documented at https://airflow.apache.org/docs/helm-chart/stable/quick-start.html#add-airflow-helm-stable-repo):

[code]

and then install with:

[code]

[2021-07-27 14:16] gutomotta commented on #17161
That would be a very useful feature!

Btw I didn't know I could use that endpoint as a workaround, thanks!

[2021-07-27 14:41] denisvolokh opened #17260 "FORBIDDEN access to worker's logs from Web UI"
**Apache Airflow version:**
Airflow version: 2.1.2

Airflow Web UI is not able to fetch logs (actually stopped working) from the worker's container. It fails with the following error:

*** Fetching from: http://a32f9e563f01:8793/log/PROD-synch_strategies_data/t_synch_strategies_summaries/2021-07-27T06:08:44.532400+00:00/1.log
*** Failed to fetch log file from worker. 403 Client Error: FORBIDDEN fo

[2021-07-27 14:47] ptrhck commented on #17190
I will look for the old `requirements.txt`, but the current one results in this `pip freeze`:

[code]

Any conspicuities?

[2021-07-27 15:24] potiuk commented on #17190
Hard to say. Here is the default constraints file for 2.0.2 https://github.com/apache/airflow/blob/constraints-2.0.2/constraints-3.7.txt - actually you might be better off to simply use the constraint file when installing airflow - as this is the recommended way (https://airflow.apache.org/docs/apache-airflow/stable/installation.html#constraints-files). Maybe the problem will go away if you add  t

[2021-07-27 15:36] potiuk commented on #17243
Yep. The "downloads" source should be mostly used if you want to download the chart and install it from there (it is signed and checksummed and only latest version of released software is there as per "Release Policy of ASF": https://www.apache.org/legal/release-policy.html

Also all releases (including the archived ones) are automatically available via archive.apache.org -  http://archive.apache.

[2021-07-27 15:36] #17243 closed

[2021-07-27 16:09] matthieu-foucault commented on #17243
Was there an update to the index.yaml yesterday just before @naomiaro  reported the issue? Looks like there was a blip and our [chart-releaser action](https://github.com/bcgov/cas-airflow/runs/3166669235) was momentarily attempting to download from `downloads.apache.org`, but the chart was not there anymore.

Should the URL for v1.1.0 point to `archive.apache.org` too, so that it does not need to

[2021-07-27 16:35] potiuk opened #17268 "Status of testing Providers that were prepared on July 27, 2021 (rc2)"
This is the second attempt (rc2) of releasing July Providers :). I carried over the "checkmarks" from the last testing (#17037) so there is no need to re-test those.

I have a kind request for all the contributors to the latest provider packages release.
Could you help us to test the RC versions of the providers and let us know in the comment, if the issue is addressed there.

## Providers that ne

[2021-07-27 16:48] lgov commented on #17129
Thanks for the feedback @uranusjr. Changing the ':' in the time to '_' would work, or just remove them. While I can make a quick fix, I have no development setup on a Windows machines available to validate.

As a workaround, we now keep the logs inside the microk8s-vm VM (which uses Ubuntu), that works, but makes them less easy accessible. While they should be visible in the GUI, they aren't, but

[2021-07-27 17:13] kaxil commented on #17243
@matthieu-foucault Check https://infra.apache.org/mirrors#location :)

Current public releases appear on downloads.apache.org/. Place current, official releases that the PMC has approved for end-users here, on the main public release site that is mirrored world-wide. Make all changes at https://dist.apache.org/repos/dist/release/.

Older releases that you no longer recommend to the general public

[2021-07-27 19:23] naomiaro commented on #17243
There was about a 60-90min delay with the 1.1.0 release process that made the chart unusable yesterday which was more of the issue.

1.0.0 had been removed from downloads.apache.org before 1.1.0 was added to https://airflow.apache.org/index.yaml, so neither 1.0.0 nor 1.1.0 could be installed at one point in time for about 60min when using helm charts. Only 1.1.0 was at downloads.apache.org, and on

[2021-07-27 19:29] andrelop commented on #10026
Same issue here, running Airflow 2.1.1 :

`[2021-07-27 19:21:52,578] {local_task_job.py:195} WARNING - Recorded pid 656 does not match the current pid 76
[2021-07-27 19:21:52,581] {process_utils.py:100} INFO - Sending Signals.SIGTERM to GPID 76
[2021-07-27 19:21:52,588] {process_utils.py:66} INFO - Process psutil.Process(pid=76, status='terminated', exitcode=<Negsignal.SIGTERM: -15>, started='19:2

[2021-07-27 19:42] raphaelauv commented on #17268
for docker 2.1.0rc2

for docker in docker everything work and also the XCOM

[code]

give

[code]
and for

[code]

[code]

and in all case a XCOM

key : return_value
value : toto

[2021-07-27 19:52] potiuk commented on #17243
Yep. The documentation (and thus index.yaml) is merged after release is done. One thing we can do is we can point to archive for all versions (including the latest one).

[2021-07-27 19:59] levyitay commented on #17268
qubole: 2.0.0rc2 tested and working

[2021-07-27 20:01] josh-fell commented on #17268
Contributions for Google, Amazon, and Salesforce providers look good!

[2021-07-27 20:25] pmalafosse commented on #17268
amazon: 2.1.0rc2:
- Allow attaching to previously launched task in ECSOperator (#16685)
- ECSOperator / pass context to self.xcom_pull as it was missing (when using reattach) (#17141)

I just tried it and ECSOperator is working as expected

[2021-07-27 20:26] pmalafosse commented on #17268
This one is fine too:
- Update Boto3 API calls in ECSOperator (#16050)

[2021-07-27 20:44] codenamestif opened #17276 "Make platform version as independent parameter of ECSOperator"
Currently `ECSOperator` propagates `platform_version` parameter either in case `launch_type` is `FARGATE` or there is `capacity_provider_strategy` parameter provided. The case with `capacity_provider_strategy` is wrong. Capacity provider strategy can contain a reference on EC2 capacity provider. If it's an EC2 capacity provider, then `platform_version` should not be propagated to the `boto3` api c

[2021-07-27 22:36] jedcunningham commented on #17260
@denisvolokh, this is from #16754 and implies you don't have the same `[webserver] secret_key` on your webserver and worker. How are you running Airflow? Can you make sure you have the same value for both?

If you are running the official helm chart, the latest release (`1.1.0`) has a fix to ensure the same value is used, so if you haven't updated yet, give that a shot.

[2021-07-27 23:15] kaxil commented on #17243
We can't and shouldn't point to archive for the latest version.

The thing to do would be that I won't delete the old artifact for a day or too from downloads.apache.org.

[2021-07-28 01:39] kloty commented on #12035
For me, this method worked with the correct settings. I'll leave my case for the next person.

I installed Airflow 2.1.2 with helm and attached the required role-arn to the airflow service account as an annotation. The role Includes s3 read write policy for logging and other aws resource related policies.
I also checked IRSA related Environment Variable (`AWS_ROLE_ARN`, `AWS_WEB_IDENTITY_TOKEN_FIL

[2021-07-28 02:10] CaptainJ93 opened #17279 "Logout airflow on Web UI does not work using OAuth2"
**Apache Airflow version**: 2.0.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): Client Version: Major:"1", Minor:"19", GitVersion:"v1.19.0",Server Version: Major:"1", Minor:"19",

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): Debian GNU/Linux 10 (buster)
- **Kernel** (e.g. `uname -a`): Linux airflow-webserve

[2021-07-28 02:24] josh-fell commented on #17022
FWIW this is also reproducible in Airflow 2.

**Airflow version**
2.1.0

Using the DAG below, the `get_previous_execution_date()` call from `TaskInstance` object directly succeeds while the same method call accessing the `TaskInstance` from the `DagRun` object fails for the same exception noted originally.

[code]

It appears as though the the `TaskInstance` objects return different sets of attrib

[2021-07-28 03:01] zkan commented on #11919
@ariesunique Are you working on this?

[2021-07-28 03:06] ariesunique commented on #11919
Yes - still looking into this.

On Tue, Jul 27, 2021 at 11:01 PM Kan Ouivirach ***@***.***>
wrote:

[2021-07-28 03:23] zkan commented on #14200
@kaxil Do you mind if I help on this issue, please?

[2021-07-28 03:46] sodafountain commented on #16573
Thanks for your detailed explanation @peay

I think this makes lot of sense. I think setting the value `AIRFLOW__SCHEDULER__ORPHANED_TASKS_CHECK_INTERVAL` to an appropriate value make sense.

In my case, I was connecting to the database through a load balancer and load balancer sometimes runs out of ports and drops connection causing the db connections from airflow to fail. Some of these connectio

[2021-07-28 05:14] uranusjr commented on #17129
It’s OK, we don’t currently have Windows in CI so we wouldn’t know you didn’t check if you don’t tell us :p

Jokes aside, IMO the change from `:` to `_` should be good on its own; whether it would fix log files on Windows, I don’t know—maybe we’ll find something else broken after we fix this—but this specific fix is definitely a change in the correct direction.

[2021-07-28 06:58] uranusjr commented on #17161
What do you mean by “DagRun details view”? We currently only have a table of DagRuns (`http://localhost:28080/dagrun/list/`), and that table already has a **Conf** column.

[2021-07-28 07:02] kaxil commented on #14200
Sure, go for it, co-assigned you @zkan

[2021-07-28 07:09] kaxil commented on #17161
I **guess** there are referring to Dag Details page on UI:
![image](https://user-images.githubusercontent.com/8811558/127279283-fdff2ff2-6569-42e4-932c-420956716046.png)

However, that page is "DAG Details" view not DagRun details @awildturtok . It shouldn't contain DagRun details apart from summaries / counts of DagRun status.

Like @uranusjr mentioned, we already have a Table of DagRuns which ha

[2021-07-28 07:10] kaxil commented on #17161
(I am going to close this one as the feature is already there -- we can re-open if you think you need something else)

[2021-07-28 07:10] #17161 closed

[2021-07-28 07:21] denisvolokh commented on #17260
Thank you @jedcunningham, after adding AIRFLOW__WEBSERVER__SECRET_KEY config I am able to see logs from web ui.

[2021-07-28 07:21] #17260 closed

[2021-07-28 08:28] potiuk commented on #12035
@kloty - happy to review as well :). It's super-easy - jus use the "suggest change on this page" button on the bottom right and it will open the PR with GitHub UI and you do not even need developer environment for that :)

[2021-07-28 08:32] Goodkat commented on #17268
Tested again the **odbc** connection, it works as expected with the boolean parameters:
https://github.com/apache/airflow/issues/15016#issuecomment-826650629

[2021-07-28 08:39] potiuk commented on #17268
Getting very good progress on testing with this release :) . Thanks a bunch for those! looking forward for more quick tests :)

[2021-07-28 08:40] codenamestif commented on #17268
#16820 is also good to go

[2021-07-28 09:01] m1racoli commented on #16243
@potiuk I see your point. Airflow after all is not responsible for this. :)

[2021-07-28 09:08] uranusjr commented on #17255
Hi, would you be interested in submitting a pull request to fix this?

[2021-07-28 09:44] kloty commented on #12035
@mik-laj @potiuk  I just added the relevant documentation and I would appreciate for reviewing it!

[2021-07-28 10:08] kaxil commented on #17186
Airflow shouldn't try to template the following. It's a bug -- for recursive we look for `template_fields` attribute (https://github.com/apache/airflow/pull/4743/files#diff-b5ec97b8301ab688b7e045426f24d485). `k8s.V1EnvVar` should have that attribute so it should not try to render template. Need to look at it in more detail 👀 .

[code]

[2021-07-28 10:16] baolsen commented on #17268
#16771 and #16612 tested and working as expected.

On Wed, 28 Jul 2021, 10:41 AM Pavel Hlushchanka, ***@***.***>
wrote:

[2021-07-28 10:17] Gabriel39 commented on #9321
anyone working on this? seems like a very useful feature for airflow users

[2021-07-28 10:30] Red-0111 commented on #10921
Hi, I would like to work on this issue, please tell me how to proceed :)

[2021-07-28 10:44] jean-malo commented on #16013
Same issue here running `apache-airflow==2.1.2` and `apache-airflow-providers-cncf-kubernetes==2.0.0`

It is not an issue with the labels (they are all valid) but rather an issue with the usage of `match_expressions` in this [line](https://github.com/apache/airflow/blob/2.1.2/airflow/cli/commands/kubernetes_command.py#L102-L108). I haven't investigated the kubernetes python client but it seems lik

[2021-07-28 10:46] jakobkolb commented on #15887
I have the same problem when triggering DAGs via CLI (which I use for integration testing during development). I would like to pass the dag a clean database via the `conf` to operate on but can't since the `conf` object is persisted between runs and cannot be reset afaik.

[2021-07-28 11:36] potiuk commented on #10921
Feel free. Start with https://github.com/apache/airflow/blob/main/CONTRIBUTORS_QUICK_START.rst and then read on for some details in https://github.com/apache/airflow/blob/main/CONTRIBUTING.rst

[2021-07-28 11:47] potiuk commented on #17186
But we have 'env_vars' in K8SPodOperator: https://github.com/apache/airflow/blob/4dc622d8ca4b14a2bb3b8c5e68bde04cc80c5379/airflow/providers/cncf/kubernetes/operators/kubernetes_pod.py#L169 So I think this behaviour is pretty expected with the current state of "recursive" behaviour.

[2021-07-28 11:52] BasPH commented on #17241
Hi @warrenstephens, I'm not able to reproduce an error with Apple M1, Python 3.9.6, and Airflow 2.1.2. I tested locally running a SequentialExecutor but it appears you're running on K8S. Could you provide more info about your setup?

Also, this line:
[code]
Indicates your Airflow metastore isn't properly initialized.

[2021-07-28 12:02] omriAl commented on #17240
Hi @potiuk @uranusjr!
Yes - I would gladly take this.
I think you've described a better behaviour - that it would be an option to append/update rather than to override.
I didn't contribute to this project yet - what is the best way to start?
Thanks!

[2021-07-28 12:11] potiuk commented on #17240
Feel free. We have plenty of good docs to start. You can start wit: https://github.com/apache/airflow/blob/main/CONTRIBUTORS_QUICK_START.rst and work your way through https://github.com/apache/airflow/blob/main/CONTRIBUTING.rst

[2021-07-28 12:21] kaxil commented on #17186
I think you are confusing 2 things:

1) **Recursive classes**

https://github.com/apache/airflow/blob/4dc622d8ca4b14a2bb3b8c5e68bde04cc80c5379/tests/models/test_baseoperator.py#L141-L180

2) **Iterable** (list, dict, tuple, etc)

https://github.com/apache/airflow/blob/4dc622d8ca4b14a2bb3b8c5e68bde04cc80c5379/tests/models/test_baseoperator.py#L121-L123

Logic - Flow of code:

https://github.com/apa