[2021-03-29 19:59] kurtqq commented on #12413
@itroulli I see the description field as a column in the DB that we are able to edit int he UI. This is a meta column that just give the ability to document why the variable was created and stuff like that.
I don't think it should involved the key,value properties of how you access to variables. So if you thinking about doing something like changing`Variable.get()` I don't think this is necessary.

[2021-03-29 20:37] itroulli commented on #12413
@kurtqq Tbh, that was indeed what I had in mind. So, I'll try to understand now, how the UI will be storing and retrieving the description content.

[2021-03-29 20:39] #13976 closed

[2021-03-29 20:48] rijusougata13 commented on #15059
can you help me out from where i can start with? @ephraimbuddy

[2021-03-29 21:01] ephraimbuddy commented on #15059
Hi @rijusougata13, you can start by setting up the development environment. Here are instructions on how to contribute https://github.com/apache/airflow/blob/master/CONTRIBUTING.rst.
The codes for the REST API are located at `airflow/api_connexion.`
Let me know if I should assign this to you.

[2021-03-29 21:01] itroulli commented on #12413
According to my understanding, I'll have to create a file in `airflow/migrations/versions/` to add a column to the `variables` table but I'm not sure that I get how these files in the migrations folder work. Could you provide some resources?
Thanks in advance!

[2021-03-29 21:02] uranusjr commented on #14974
I wonder why `ProtocolError` is raised when and only when there’s a long inactivity period. It’s of course easy to catch the exception without aborting, but that’s only solving the sympton. There should be a deeper cause to this.

[2021-03-29 21:13] #10200 closed

[2021-03-29 21:43] podhornyi opened #15077 "[KubernetesExecutor] Task stuck in queued state after pod end with up_for_reschedule"
**Apache Airflow version**: 2.0.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): v1.15.10

**Environment**:
[code]

- **Kernel** (e.g. `uname -a`): 4.9.0-11-amd64 #1 SMP Debian 4.9.189-3+deb9u2 (2019-11-11) x86_64 GNU/Linux

**What happened**:
After scheduler create k8s pod, and the node where that pod run goes down, scheduler delete the pod, set it to state up_fore

[2021-03-29 22:31] dimberman commented on #13972
@Junnplus what do you mean by "option to skip fsgroup"? Can you give me an example of how that has been done?

[2021-03-29 22:35] kaxil commented on #14714
Can you give an example code, please use normal python modules or package, check https://airflow.apache.org/docs/apache-airflow/stable/modules_management.html

[2021-03-29 22:35] #14714 closed

[2021-03-29 22:36] dimberman commented on #7935
@ashb considering what @oleksandr-yatsuk found, maybe this is a database issue?

[2021-03-29 22:41] dimberman commented on #13543
@tsh56 would you be interested in making a fix for this? I'd be glad to help out in terms of setup/testing :)

[2021-03-29 22:45] dimberman commented on #9610
@Minyus @raj-manvar have you tried using the cncf.kubernetes backport provider package? This _might_ be fixed in one of the newer releases.

[2021-03-29 22:51] kaxil commented on #9610
Let us know if you can reproduce this with Airflow >= 2.0.1 and we can re-open this

[2021-03-29 22:52] dimberman commented on #14307
@everglory99 Yep! That should totally work. You can even build a custom operator/donate it if you think it will be useful :)

@kaxil yes I think this is a feature request.

@everglory99 would you be intereseted in building that? I can help get you setup with a dev environment

[2021-03-29 22:55] dimberman commented on #13643
@FloChehab awesome! Please let us know when it's ready to review :)

[2021-03-29 23:20] #14933 closed

[2021-03-30 00:32] #15019 closed

[2021-03-30 00:46] BeatlesMD opened #15082 "Impose rate limits for task starts as pool feature"
**Description**

As a pool feature, queue task starts such that task initiation is distributed over time according to a sliding window rate limit (may be more easily implemented as task initiation cool down within a pool).

**Use case / motivation**

APIs commonly will impose certain techniques to limit rate of requests (sliding window, fixed window, token bucket, leaky bucket, etc). While task re

[2021-03-30 01:55] bintocher commented on #15066
np_run_test_task file:
`# sudo pip3 install requests_ntlm
"""Example DAG demonstrating the usage of the PythonOperator."""
import time
import requests
import json
# from pprint import pprint
from requests_ntlm import HttpNtlmAuth
from airflow import DAG
from airflow.operators.python import PythonOperator
from airflow.utils.dates import days_ago

default_args  = {
    'owner': 'nprinting',
    'dep

[2021-03-30 02:22] Junnplus commented on #13972
@dimberman I remove fsGroup from webserver and worker deployment.
[code]

[2021-03-30 03:05] i2gor87 commented on #14034
My output of command on airflow 2.0.1, docker-compose.yml from airflow docs:
My webserver isn't starting at all, constantly spamming `[CRITICAL] WORKER TIMEOUT (pid:364)`

Server stats:
[code]

`time docker-compose run {CONTAINER_NAME} bash -c "AIRFLOW__LOGGING__LOGGING_LEVEL=debug FLASK_APP=airflow.www.app:create_app flask routes"`

On new container(docker-compose run airflow-worker)

[code]
On e

[2021-03-30 08:31] leonsmith commented on #7935
No freezes since bumping `AIRFLOW__CORE__SQL_ALCHEMY_MAX_OVERFLOW` like @oleksandr-yatsuk suggested

[2021-03-30 08:47] potiuk opened #15085 "[QUARANTINED] test_scheduler_task_start_date is flaky"
I've seen this test failing more than once for example:

https://github.com/potiuk/airflow/runs/2223465940?check_suite_focus=true#step:6:10954

Marking it as quarantined.

[code]

**Apache Airflow version**:

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kern

[2021-03-30 08:56] potiuk commented on #14656
Oh yeah. And I realized also we had not enough spot vcpus for 8x20 :( . Requested new oness.

[2021-03-30 10:05] madden1706 commented on #14261
I can confirm the observations that @marclamberti has about the two import lines causing the probe to fail.

[code]

I assumed this was local to me after the issue was closed. Either of these lines causes the liveness probe to fail.

[2021-03-30 12:35] mrpowerus commented on #14974
After debugging the TCP/IP connections, I found that the connection was reset after some minutes of complete inactivity for the Watcher.stream().

This patch seems to solve the problem:

[code]

[2021-03-30 13:03] kaxil commented on #14374
I think we should exclude `Conf` from filter

[2021-03-30 13:16] ashb commented on #14034
This should have been fixed by @jedcunningham's latest PRs #14993 and #15017 (included in what will become 2.0.2), so I'm going to close for now.

[2021-03-30 13:16] #14034 closed

[2021-03-30 13:18] ashb commented on #8467
Looks like this has been fixed, or at least worked around now on 1.10, and is gone entirely on 2.0.

[2021-03-30 13:18] #8467 closed

[2021-03-30 13:18] totogo opened #15088 "GCP BigQuery Data Transfer Run Issue"
**Apache Airflow version**: composer-1.15.1-airflow-1.10.14

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**: Google Composer

**What happened**:

After a `TransferConfig` is created successfully by operator `BigQueryCreateDataTransferOperator`, and also confirmed in GCP console, the created Resource na

[2021-03-30 13:18] kaxil commented on #8605
@mik-laj Can we close this one since we already added the docker-compose files?

[2021-03-30 13:31] kaxil commented on #9898
Closing this for now -- Since these are not in default requirements. We can reopen if needed

[2021-03-30 13:31] #9898 closed

[2021-03-30 13:33] ashb commented on #8520
Sorry for missing this issue when you first created. This has been possible for a long time with `DAG.max_active_runs`:

[code]

[2021-03-30 13:33] #8520 closed

[2021-03-30 13:34] kaxil commented on #8181
Going to close this one. If someone reproduces this with 2.0, we can reopen it.

Thanks

[2021-03-30 13:34] #8181 closed

[2021-03-30 13:36] ashb commented on #8547
The experimental API is now replace in 2.0 with a fully specified OpenAPI-based API https://airflow.apache.org/docs/apache-airflow/stable/stable-rest-api-ref.html

[2021-03-30 13:36] #8547 closed

[2021-03-30 13:42] kaxil commented on #10713
I am going to close this one in favor of https://github.com/apache/airflow/issues/9926

[2021-03-30 13:42] #10713 closed

[2021-03-30 13:43] ashb commented on #8851
This looks like it was caused by attempting to trigger the same dag twice in one second.

This commit should fix it in 1.10.7 https://github.com/apache/airflow/commit/7b4d9338a6564d2dc70c9933bc14353c2c423f7c -- please pass `replace_microseconds=false`.

(Sorry for taking any absolute age to respond to this issue.

[2021-03-30 13:43] #8851 closed

[2021-03-30 13:44] ashb commented on #8907
Is anyone able to give us a minimal reproduction case that I can run to debug this?

[2021-03-30 13:44] ashb commented on #8930
Fixed with latest provider modules.

[2021-03-30 13:44] #8930 closed

[2021-03-30 13:46] kaxil commented on #9735
Closing this in favor of https://github.com/apache/airflow/issues/9735

[2021-03-30 13:46] #9735 closed

[2021-03-30 13:47] kaxil commented on #9837
Hi @trevorprater -- can you please test this out with the recently released 2.0.1

[2021-03-30 13:48] kaxil commented on #9856
Can this be closed @mik-laj ?

i am closing it for now -- let me know if you feel that we need to do more here

[2021-03-30 13:48] #9856 closed

[2021-03-30 13:50] kaxil commented on #9976
Can you test it with Airflow >= 2.0.1 and report back please @wxm245

[2021-03-30 13:58] ashb commented on #9302
This is out of scope for OSS Airflow. If you wanted such a feature you could probably build it via a plugin.

[2021-03-30 13:58] #9302 closed

[2021-03-30 14:03] ashb commented on #9722
Enabling DAG serialization should fix the problem of what the webserver imports (by making it not import DAG code at all anymore) https://airflow.apache.org/docs/apache-airflow/1.10.14/dag-serialization.html

(Or upgrade to 2.0 where that is the only mode of operation.)

I'm closing this as I believe there is a workaround. Please let me know if anyone tries this and has problems and we can re-open

[2021-03-30 14:17] ashb commented on #9928
This should be fixed up in 2.0 -- we massively re-worked the dag parsing and metrics it emits.

Could you try there and let us know if it's still a problem?

[2021-03-30 14:23] ashb commented on #9967
Are you able to test this on 2.0.0 and see if it is still a problem?

[2021-03-30 14:47] bbovenzi opened #15091 "Add internationalization to the new UI"
Airflow is used around the world. The new UI should be built with internationalization in mind.

All text seen in the app should come from a language file instead of being hard-coded. Ideally, there should be a linting rule to help enforce this.

We'll start with just an english file, but it will then be relatively straightforward to add more in the future.

[2021-03-30 15:21] uranusjr commented on #9735
#9735 is this one 🙂 I think #9837 is the right number.

[2021-03-30 15:26] ashb commented on #10053
Fixed in 1.10.12

[2021-03-30 15:28] ashb commented on #10073
Apache Livy hook/operator may be easier than this (which exists now) -- spark submit via SSH feels almost a bit too specialized...

[2021-03-30 15:28] ashb commented on #10108
Done a while ago now I think.

[2021-03-30 15:28] #10108 closed

[2021-03-30 15:31] ashb commented on #10154
If you did not run upgradedb in production you then I'm afraid that all bets are off.

[2021-03-30 15:32] kaxil commented on #9735
Whoops yeah thanks @uranusjr :)

[2021-03-30 15:48] mrpowerus commented on #13916
Issue seems identical to mine. Please try to apply the patch in #14974
I'd nice when it helps!

[2021-03-30 15:59] dimberman commented on #11982
Hey @jedcunningham is this one close to done?

[2021-03-30 17:40] SamWheating opened #15097 "Errors when launching many pods simultaneously on GKE"
**Apache Airflow version**: 2.0.1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.18.15-gke.1500

**Environment**:

- **Cloud provider or hardware configuration**: Google Cloud
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

When many pods are launched at the same time (typically through

[2021-03-30 18:26] eladkal commented on #8665
related https://github.com/apache/airflow/issues/14572

[2021-03-30 18:36] roveo commented on #11476
@AlbertoCrespi

Yes, or use my code above in a subclass of VerticaOperator with overriden `execute` method.

[2021-03-30 19:06] stevenwoods commented on #9610
I am not using kubernetes and I am using ` v2.0.1`, I get this message when I have long running tasks (what seems like over 10 hours).

[code]

Meanwhile I can tell on the instance and the database it is still running in the background.

At 11:02 is when the task started logging.

Here is the end of the log file:
[code]

This happens on every DAG run of tasks that are long running.

[2021-03-30 19:45] RNHTTR commented on #12282
I’m interested :)

[2021-03-30 20:11] dimberman commented on #9610
@kaxil @ashb so it seems like the celery maintainers have just kind of given up on this one https://github.com/celery/celery/issues/5935#issuecomment-745362785

Is there a solution we can come up with that will assume that this will timeout?

[2021-03-30 20:57] potiuk commented on #8605
@kaxil -> I believe so. I do not think 'production-ready" docker-compose is even a thing :)

[2021-03-30 20:57] #8605 closed

[2021-03-30 21:13] #11557 closed

[2021-03-30 21:45] kaxil commented on #9610
@auvipy Any thoughts here?

[2021-03-30 22:49] kaxil commented on #13918
cc @Dr-Denzy

[2021-03-30 22:50] kaxil commented on #10278
cc @Dr-Denzy

[2021-03-30 23:01] alexoliveira88 commented on #8609
I also have this bug in the version  1.10.14. The fact that you need to manually refresh de Dag from the UI.

[2021-03-30 23:29] mllamazares opened #15103 "Airflow web server redirects to a non-existing log folder - v2.1.0.dev0"
**Apache Airflow version**: v2.1.0.dev0

**Environment**:

- **Others**: Docker + docker compose
[code]

**What happened**:

Once the tasks finish successfully, I click on the Logs button in the web server, then I got redirected to this URL:
`http://localhost:8080/task?dag_id=testing&task_id=testing2&execution_date=2021-03-30T22%3A50%3A17.075509%2B00%3A00`

Everything looks fine just for 0.5-ish s

[2021-03-30 23:58] mik-laj commented on #15097
I can see that the Kubernetes ticket is now 2 years old, so I think we need to patch our side to better handle these situations. .

[2021-03-31 00:04] mik-laj commented on #15088
When this operator was created, Google only supported one location and then made a breaking change to the API to support multiple locations.

I think PR is necessary here to update to the new API.

[2021-03-31 00:10] mik-laj commented on #15008
I'm closing this ticket.

For support on using Airflow, I recommend you post on Slack or Github Discussion.

[2021-03-31 00:10] #15008 closed

[2021-03-31 02:00] #14806 closed

[2021-03-31 02:38] suiting-young commented on #15025
@XD-DENG after upgrade my instance from 1.10.14 to 2.0.1, some very old `TI`-s were fetched by scheduler.
I think those `TI` were **interrupted** (_not in finished state_) for some reason long ago, and _ideally_ already expired.
Maybe the new scheduler changed some rules, as those data didn't trigger problem on 1.10.14 (which already has `pool_slots` property).

[2021-03-31 02:51] auvipy commented on #9610
celery Redis has some issues which we still couldn't resolve. does running with rabbitmq or other amqp broker result the same? I only suggest that some on facing this in prod dig deep into celery. that way the possible root cause could be found in celery.

[2021-03-31 07:16] uranusjr commented on #14989
What happens if the cache is empty, *and* the download fails? Would this simply fails the doc build?

[2021-03-31 08:06] Overbryd commented on #13542
Back on this. I am currently observing the behaviour again.

I can confirm:

* The solution description of @renanleme does not apply to my case. Definitely not.
* Restarting the scheduler is a workaround the problem

The issue persists with `2.0.1` please update the tag accordingly.

The issue is definitely "critical" as it halts THE ENTIRE airflow operation...!

[2021-03-31 08:32] grepthat commented on #15103
Seeing this as well. Is there a quick fix for this?

[2021-03-31 08:39] uranusjr commented on #14989
Sorry, I was too vague in the previous comment. In the solution outlined by @potiuk, we would need to download the third-party inventories when the GHA cache is empty (which you said may happen). If any of the downloads fail (which would not fail the build), we’d end up with an incomplete local inventory cache. What should happen in this situation?

[2021-03-31 09:21] zdenulo commented on #9486
I was having similar problems (displaying logs from Fargate to Airflow UI) so I wrote a short article explaining. Not sure if it works in all cases but I solved my issues, hopefully, it could help others as well. [Displaying ECS Fargate logs in Airflow UI](https://www.the-swamp.info/blog/displaying-ecs-fargate-logs-airflow-ui/)

[2021-03-31 09:28] cernard commented on #10954
In the Windows Linux sub-system, airflow supports Chinese characters well. But in Linux, when airflow scheduler starts, it shows 'UnicodeEncodeError: 'charmap' codec can't encode characters in position 200-203: character maps to <undefined>'.

[2021-03-31 09:40] darkaero-xx commented on #15103
I see this behaviour as well, thought it was my configuration :D :D how can I fix it?

[2021-03-31 09:41] suxin1995 commented on #14924
In my produce env.

used :
linux release: Debain
airflow version:  2.0.1
exeucutor = CeleryExecutor
max_active_dag_runs_per_dag=32
parallelism=32
dag_concurrency=16
sql_Alchemy_pool_size=16
sql_Alchemy_max_overflow=16

about 3 workers,40 dags, 1000 tasks. Many tasks keep `scheduled` status sometimes  and canot keep running.
when  I  call cron script to restart process every hour.The problem haved

[2021-03-31 09:59] #14696 closed

[2021-03-31 10:06] JavierLopezT commented on #14733
You're right. In my case, I had some problems installing things that I have to solve searching on google (can't recall right now). After that, the breeze command didn't work, neither on the working directory where I installed everything nor in any other directory. Also, I have zsh and something I had to modify to solve an error started to raise a question every time I start the terminal:
[code]

[2021-03-31 10:22] ashb commented on #14829
@jakubgs ⚠️ the "Public" role applies to anonmyous users too -- so _any_ request that can reach your Airflow webserver will have the roles of the Public user.

[2021-03-31 10:30] potiuk opened #15107 "Make the entrypoint in Prod image fail in case the user/group is not properly set"
Airflow Production image accepts two types of uid/gid setting:

* airflow user (50000) with any GID
* any other user wit GID = 0 (this is to accommodate OpenShift Guidelines https://docs.openshift.com/enterprise/3.0/creating_images/guidelines.html)

We should check the uid/gid at entrypoint and fail it with clear error message if the uid/gid are set wrongly.

**Description**

**Use case / motivati

[2021-03-31 10:30] ashb commented on #14829
[code]

Is the correct fix for this, and is an allowed version by the dep.

When the 2.0.2 image is out it will have this (well, 3.2.1)

So it looks like you've found the fix, and I'm going to close this issue -- let me know if there are any other problems.

[2021-03-31 10:30] #14829 closed

[2021-03-31 10:43] potiuk commented on #14733
It looks like you had some other software mess around with your setup.

Unfortunately there is not much can be done if your local environment is broken, other thay googling and check how to fix your environment. That's really something you have to take a bit of control/responsibilty yourself when you install other software and allow it to make some changes, there is literally nothing we can do to

[2021-03-31 10:49] kaxil commented on #13916
Did the patch @mrpowerus suggested work for you @luis-serra-ki  @gillbuchanan ?

[2021-03-31 10:50] kaxil commented on #13916
I have pre-emptively marked it 2.0.2 but this might not end up in time for it but let's see

[2021-03-31 11:31] Davide95 opened #15108 "PostgresHook do not use the specified cursor"
**Apache Airflow version**: 2.0.1

**What happened**:

From the docs it is reported that "you can choose cursor as {"cursor": "dictcursor"}." (https://airflow.apache.org/docs/apache-airflow-providers-postgres/stable/_api/airflow/providers/postgres/hooks/postgres/index.html).

I was not able to use this feature, it may be a bug.

Exception: `ERROR - tuple indices must be integers or slices, not str

[2021-03-31 11:38] totogo commented on #15088
@mik-laj I see, right now I pass the location as part of `project_id` in the operator as a workaround, i.e. change `project_id=<project-id>` to `project_id=<project-id>/locations/<location>`, which works.

I can work on the PR. The proper solution should be to add a new argument `location_id` in the hooks and operators? or to add the full resouce name? Since it is already returned by the operator

[2021-03-31 12:21] uranusjr commented on #14989
Second go: #15109

[2021-03-31 12:38] #14364 closed

[2021-03-31 12:45] ashb commented on #7935
I've got a fix for the case reported by @MatthewRBruce (for 2.0.1) coming in 2.0.2

[2021-03-31 12:49] sgrzemski commented on #12920
That would be great!

[2021-03-31 12:50] uranusjr commented on #14989
The main issue with pulling versions from the constraints file to format is not during the fetching part, but how the same version can be passed to Sphinx, since the URLs are also needed in `conf.py`. So if we use version-ed URLs, `conf.py` would also need to grow some kind of mechanism to correctly interpret versions of the dependencies, which seems awkward to me.

A better approach IMO might be

[2021-03-31 13:14] uranusjr commented on #13542
Is this and #14924 related?

[2021-03-31 13:35] thekyz commented on #14128
also looks like the issue is not fixed at least for apache-airflow-providers-cncf-kubernetes

[2021-03-31 14:39] darwinyip opened #15113 "ImportError: cannot import name '_check_google_client_version' from 'pandas_gbq.gbq'"
**What happened**:

`pandas-gbq` released version [0.15.0](https://github.com/pydata/pandas-gbq/releases/tag/0.15.0) which broke `apache-airflow-backport-providers-google==2020.11.23`

[code]

The fix is to pin `pandas-gpq==0.14.1`.

[2021-03-31 15:32] oripwk opened #15115 "apache-airflow-backport-providers-google only installs only `dist-info` without files"
Running

[code]

Installs only `dist-info` without any Python files. It happens on all machines I'm trying, including my laptop, other laptops, and a docker container.

Please help.

[2021-03-31 15:35] uranusjr commented on #15115
The package installs files into `airflow/providers/google/`. You can look into the contents of the `RECORD` file in the `.dist-info`, it should list the installed files.

[2021-03-31 15:45] zachary-naylor opened #15116 "Logging to S3 fails using eventlet workers (maximum recursion depth exceeded)"
**Apache Airflow version**: 2.0.1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): N/A

**Environment**:
- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): Ubuntu WSL 20.04.2 LTS / Windows 10 19041.844
- **Kernel** (e.g. `uname -a`):  4.4.0-19041-Microsoft x86_64 GNU/Linux
- **Install tools**:
- **Others**: Local debug via WSL1 b

[2021-03-31 15:47] Dr-Denzy commented on #10278
I am on it.

[2021-03-31 15:48] Dr-Denzy commented on #13918
I am on it.

[2021-03-31 16:06] #15115 closed

[2021-03-31 16:45] uranusjr commented on #15116
What is the gevent version you're using?

[2021-03-31 16:51] zachary-naylor commented on #15116
gevent == 21.1.2
I noted this is the same version used within the ```apache/airflow:1.10.15-python3.8``` docker image

[2021-03-31 17:01] uranusjr commented on #15116
Seems like this is a known gevent issue: gevent/gevent#1777 and gevent/gevent#1531. Note that both issues have been closed without a fix.

Reading the issues, it seems like this happens when the monkeypatch happens before an option update, so a fix in Airflow would need to be delaying the patch until all possible context modifications. But since those modifications come from providers, it can lite

[2021-03-31 17:07] uranusjr commented on #15116
As a hack, maybe it would be possible to call something on the hook before gevent patches? The connection object (creation of which triggers `SSLContext` modifications) is cached, so once it’s created, subsequent S3 calls won’t modify `SSLContext` (I think).

[2021-03-31 17:18] potiuk commented on #14128
It's already fixed in released 2.0.1 https://github.com/apache/airflow/pull/13314

It's never been an issue for cncf-kubernetes. This was only issue for the 4 providers that are preinstalled: 'ftp', 'http', 'imap',  'sqlite'. Airflow has only "extra" dependency on cncf.kubernetes but extras are not counting as "install-requires" so this is not a problem as far as I know (unless you specifically ha

[2021-03-31 17:21] uranusjr commented on #15108
That said, it is definitely a bit confusing the hook just throws away unused arguments like this. Maybe it should throw an error instead?

[2021-03-31 17:29] SamWheating commented on #15097
👍 - Can you assign this issue to me and I'll open a PR to add some backoff logic to the operator?

[2021-03-31 17:55] uranusjr commented on #8665
The displayed time here is actually pretty weird. `Asia/Calcutta` is +05:30 (`pendulum` seems to implement this correctly), so I'd expect the output to be `2020-04-29T05:30:00+00:00` (the same time as supplied by the user, converted to UTC). I'm less sure the two issues are related (still could be).

[2021-03-31 18:03] Davide95 commented on #15108
Hi @uranusjr

Does this mean that if you want to use different cursor types you have to create different connections? Isn't this behavior particularly tricky?

[2021-03-31 18:11] uranusjr commented on #15108
Yes, as the implementation currently stands.

It is definitely a bit inconvinient, but why would you need to mix both kinds of cursors in the first place? It’s a nice feature to have, but *particluarly tricky* wouldn’t be my description to the situation.

But nontheless, it would still be a good feature request and contribution if the interface can be designed reasonably.

[2021-03-31 18:14] Davide95 commented on #15108
Ok, thanks for the clarification

I'm inheriting a large and old codebase and migrating everything could be an issue. Integrating different DAGs with different settings would be a nice feature to have

[2021-03-31 18:31] thekyz commented on #14128
Sorry I jumped to conclusions here. I get exactly the same issue as described above when installing apache-airflow[kubernetes] thus I thought it was the same root cause. Should I create a new ticket then?

[2021-03-31 19:41] potiuk commented on #14128
I don't belive it's an issue at all. Airflow  is only officialyl installable with `pip` and it works nicely when you run it in including constraints in the way described here: http://airflow.apache.org/docs/apache-airflow/stable/installation.html#installation-tools.

This is the only installation method that brings repeatable results. Other methods might fail, but w are not supporting a full range

[2021-03-31 20:33] GuillaumeDesforges opened #15119 "Flag on CLI airflow tasks test to attach debugger"
**Description**

Any way to allow to attach a debugger when using `airflow tasks test`

**Use case / motivation**

Following [discussion](https://github.com/apache/airflow/discussions/14621):

I generate DAGs dynamically using a database.
I want to debug tasks.

The doc ([Debug Executor](https://airflow.apache.org/docs/apache-airflow/stable/executor/debug.html)) suggests to add

[code]
and run fro

[2021-03-31 20:36] ashb commented on #15119
Are you aware of the the `dag.cli()` function? That might help you

[2021-03-31 20:39] ashb commented on #15097
@SamWheating Assigned, thanks

[2021-03-31 20:39] ashb commented on #15097
I agree with you that cases like this where Airflow was never even able to _start_ the task don't feel like they should "consume" a retry attempt.

[2021-03-31 20:40] ashb commented on #15116
Long term the "fix" for us is probably to wait for Flask to support asyncio and then to drop support for gevent/eventlet.

[2021-03-31 21:02] thekyz commented on #14128
Well I'm using pip through rules_python (a set of bazel rules to use pip libraries; it actually uses pip wheel to get the modules).

The download works fine, but then apache-airflow-providers-cncf-kubernetes declares a dependency on apache-airflow, which itself declares a dependency on apache-airflow-providers-cncf-kubernetes when installed with the extra, thus making bazel complains because of th

[2021-03-31 21:16] potiuk commented on #14128
There is no need to install both provider and extra. Extra is just a legacy way to install providers, but you can simply install 'apache-airflow' (no extra) and 'apche-airflow-providers-cncf-kubernetes' as two separate packages.

[2021-03-31 21:18] potiuk commented on #14128
And answering your question - yes. There is no point in installing provider without airflow. So it makes perfect sense to have this dependency. It also prevents from installing providers with airflow 1.10 (as there is 2.0 apache-airflow dependency)

[2021-03-31 21:20] potiuk commented on #14128
https://stackoverflow.com/q/52474931/516701 gives a brief explanation about extras. I think it make sens to at least take a brief look if you are going to use them to understand what they are

[2021-03-31 21:23] potiuk commented on #14128
And here is explanation about airflow's extras http://airflow.apache.org/docs/apache-airflow/stable/extra-packages-ref.html - it's rather straightforward and helpful I think

[2021-03-31 22:10] #14957 closed

[2021-03-31 22:13] thekyz commented on #14128
Thanks for the links, definitely appreciated!

I managed to make it work by depending directly on the providers + apache-airflow, since then the dependency on the extras is not expressed.

For reference if somebody is encountering the same issue as me, this:
[code]

instead of this:
[code]

Thanks again @potiuk for the support!

[2021-03-31 22:18] #7935 closed

[2021-03-31 22:29] nkumar15 commented on #9486
Thanks @zdenulo finally after reading your article I realized that in awslogs_stream_prefix configuration it should not have leading / in it.

So instead of  /ecs/hello-world  it should be ecs/hello-world".

It worked.

[2021-03-31 23:03] ephraimbuddy commented on #14012
It's the state of the pod that's been set to None after execution and not the task instance.

[2021-04-01 02:13] wolfier commented on #9975
I couldn't find any mention of this [AIRFLOW-2535](https://issues.apache.org/jira/browse/AIRFLOW-2535).

This is an issue for TriggerDagRunOperators as well in 1.10.10 where max_active_runs was not respected.

PR [#13803](https://github.com/apache/airflow/pull/13803) does fix the issue in 1.10.15!

[2021-04-01 07:34] uranusjr commented on #15116
Personally I suspect that would ever happen, to be honest. But that’s a whole other issue…

[2021-04-01 08:29] bturi commented on #13761
Hi @Dr-Denzy ,

Following the snippet above, the DAG documentation gets rendered, however, the Task Instance documentation does not.

**RBAC = true
Airflow 2.0.1**

The webserver logs do not show any error.

Do you have any suggestions?

[2021-04-01 08:47] ashb commented on #15116
Given how long https://github.com/pallets/flask PR 3412 has been open (not link to needlessly associate the PRs) you may be right

[2021-04-01 09:01] ephraimbuddy commented on #13542
I have replicated this, will be working on it

[2021-04-01 09:06] dinigo opened #15129 "Bump google-api-core package version to make apache-airflow-providers-google compatible with python3.6"
**Apache Airflow version**:
1.10.14 and 1.10.15

**Environment**
Official Docker image python 3.6

**What happened**:

The backport package `apache-airflow-backport-providers-google` has a dependency on `google-api-core`:

* [apache-airflow-backport-providers-google](https://github.com/apache/airflow/blob/a7a558eade11ff43a7b96544dcfb84be2441fdc0/setup.py#L285) — `>=1.25.1,<2.0.0`
* [airflow 1.10.1

[2021-04-01 09:07] dinigo commented on #15129
I haven't found where the constraint files are created, because they seem to be dynamically created. Where can I find it?

[2021-04-01 09:21] dinigo commented on #15129
Same issue with `snowflake-connector-python==2.3.6` in the constraints but `snowflake-connector-python>=2.4.1` in the `apache-airflow-backport-providers-snowflake` package. If the providers are going to be decoupled, then each one should have it's own constraints, so it's easier to keep them up to date

[2021-04-01 09:35] eladkal commented on #15036
@iameugenejo can you share more details about the issue?
how often does it happen?
effecting specific dag or all dags in the system?

Without reproduce steps / more information it might be hard to understand the root cause

[2021-04-01 10:01] eladkal commented on #14275
closing as there seems to be no task here.
If you think otherwise please comment and explain

[2021-04-01 10:01] #14275 closed

[2021-04-01 10:04] eladkal commented on #13570
@yergi were you able to verify ?

[2021-04-01 10:31] uranusjr commented on #15129
The constraint files are automatically generated from CI, and you shouldn’t be modifying them directly.

I believe the way to do it is to change the minimal version in `setup.py`; CI will pick them up automatically and update the constraints files accordingly.

[2021-04-01 10:51] dinigo commented on #15129
I've placed a link to the `setup.py` with a range of versions, and then the constrain generated lays outside of this range. I thought they where generated from the `setup.py` until I saw this:

* [setup.py](https://github.com/apache/airflow/blob/a7a558eade11ff43a7b96544dcfb84be2441fdc0/setup.py#L285) — `>=1.25.1,<2.0.0`
* [airflow 1.10.14 constraints for python 3.6](https://raw.githubusercontent.c

[2021-04-01 11:18] RosterIn commented on #15129
The `>=1.25.1,<2.0.0` is in master branch not in 1.10 branch.
I would imagine that the constrains for 1.10.14 are not created from master but i might be wrong here.

[2021-04-01 11:44] Vineet-Sharma29 opened #15131 "airflow scheduler -p command not working in airflow 2.0.1"
**Apache Airflow version**:
2.0.1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**: 4GB RAM, Processor - Intel(R) Core(TM) i5-8250U CPU @ 1.60GHz
- **OS** (e.g. from /etc/os-release): 18.04.5 LTS (Bionic Beaver)
- **Kernel** (e.g. `uname -a`): Linux 4.15.0-136-generic
- **Install tools**: bare metal ins

[2021-04-01 11:55] ashb commented on #15129
You are correct.

[2021-04-01 12:12] uranusjr commented on #14543
#15130 will fix this (by assigning the `bash` renderer to `command`).

[2021-04-01 12:13] seybi87 opened #15133 "EmailOperator / email on failure fails with smtp in airflow 2.0.1"
**Apache Airflow version**:
2.0.1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
n/a

**Environment**:

- **Cloud provider or hardware configuration**: Openstack, 4 cores, 8GB RAM
- **OS** (e.g. from /etc/os-release): Debian GNU/Linux 10 (buster)
- **Kernel** (e.g. `uname -a`): Linux f65e783d463e 5.4.0-62-generic #70-Ubuntu SMP Tue Jan 12 12:45:47 UTC 2021 x86_64 GN

[2021-04-01 13:04] saveriogzz opened #15136 "curl REST authentication fails if variable value hidden from the UI"
**Apache Airflow version**: 2.0.1 - release:2.0.1+beb8af5ac6c438c29e2c186145115fb1334a3735

**Environment**:

- **OS** (e.g. from /etc/os-release): Ubuntu 20.04.2 LTS

**What happened**:
After I have hidden some sensitive variable values from the UI by writing 'secret' into their names, the task supposed to run using this variable value fails for an authentication issue.
The task is a **BashOperat

[2021-04-01 13:17] ephraimbuddy commented on #13542
Unassigning myself as I can't reproduce the bug again.

[2021-04-01 13:44] ryanahamilton commented on #13158
Because we are stuck on an old version of Bootstrap (via secondary dependency through FAB), we had to move away from some of the previous Bootstrap theme patterns. I propose that instead of trying to accommodate this, that we instead remove the feature. It appears to only add maintenance overhead. If differentiation between Airflow deployments is the goal, there is the option to set a different na

[2021-04-01 13:46] #14839 closed

[2021-04-01 13:54] ashb commented on #10954
Can you show a full stack trace for this error please?

[2021-04-01 13:57] dinigo commented on #15129
You are right, in the 1.10.14 branch is [not in the setup.py](https://github.com/apache/airflow/blob/1.10.14/setup.py#L267). How do we get to this version? I think I'm missing something.

I see a couple of reasons to close this issue:

1. Backport providers [not maintained anymore](https://github.com/apache/airflow/blame/master/dev/README.md#L104),

of Backport Providers was done  on March 17, 202

[2021-04-01 14:54] raghavgar commented on #13311
@EKami were you able to resolve this issue? We have same issue with Airflow

[2021-04-01 15:00] bbovenzi commented on #15091
This may be a useful eslint library: https://www.npmjs.com/package/eslint-plugin-i18next

[2021-04-01 15:15] akki commented on #14959
Hi @eladkal

Can you please advise how I can get [the fix for this issue](https://github.com/apache/airflow/pull/14960) merged?

[2021-04-01 15:30] eladkal commented on #14959
commented on the PR

[2021-04-01 15:55] yergi commented on #13570
Yes this did it. Thank you!!

Get Outlook<https://aka.ms/qtex0l> for iOS
________________________________
From: eladkal ***@***.***>
Sent: Thursday, April 1, 2021 6:04:31 AM
To: apache/airflow ***@***.***>
Cc: James Colvin ***@***.***>; Mention ***@***.***>
Subject: Re: [apache/airflow] `ImportChangesRule` raises false positives (#13570)

@yergi<https://na01.safelinks.protection.outlook.com/?url=h

[2021-04-01 16:11] CharlesWinter opened #15139 "Add documentation on how to easily add new python packages to the docker-compose development setup"
**Description**

It is currently not clear how one should use 3rd party python packages when running apache airflow locally using docker-compose as shown here. https://airflow.apache.org/docs/apache-airflow/stable/start/docker.html

Clearly a volume mount of some description would help, but it is not clear where to mount the volume to.

Notice that the 3rd party attempt at this here _does_ specify

[2021-04-01 16:45] #11870 closed

[2021-04-01 17:09] iameugenejo commented on #15036
@eladkal , it happened 5 times so far since 2/20.

It's happening to 1 specific dag.

The dag itself is static but the tasks the dag executes are generated dynamically.

The other dags that are not showing this symptom have their tasks statically coded.

[2021-04-01 17:12] andrewgodwin opened #15140 "Allow labelling of task dependencies"
It would be beneficial to larger/more complex DAGs to be able to label the dependency edges between tasks so that, in the graph view (and potentially other places), we can show this information to the user:

![image](https://user-images.githubusercontent.com/36182/113329516-e9ebc280-92da-11eb-92a1-2a0f5428780c.png)

The proposed syntax for this would allow for use with both the `>>` style and `set

[2021-04-01 17:17] #13570 closed

[2021-04-01 18:02] ashb commented on #15140
Cc @eladkal

[2021-04-01 18:38] eladkal commented on #15140
This is really cool. I'm glad to see that you thought of it.
This is something that i'm thinking about for a while and I believe to be one of the features that will make a big impact!

[2021-04-01 19:02] XD-DENG commented on #15131
I can confirm this issue.

That's because `_build_metrics()` checks the arg, and tries to mask value for password. When it sees `-p`, it assumes there is another value following, which is password (that's why there is `idx + 1`).

This assumption fails in `scheduler` scenario though, because it can simply be `airflow scheduler -p`.

[2021-04-01 19:09] uranusjr commented on #15140
How about hiding the `Label` class from the user entirely? Something like `task1 << "Label" << task2` and create the label automatically in `_set_relatives()`.

[2021-04-01 19:39] codenamestif opened #15144 "Support of Timestamp for Cloudwatch-based remote logging"
**Description**

`CloudwatchTaskHandler` doesn't parse log event timestamp. As result if Airflow uses `Cloudwatch` for remote logging, logs in Airflow UI miss timestamp. They just contain concatenated messages.

**Use case / motivation**

It's more convenient to have a timestamp next to the log message to better understand what and when happened.

**Are you willing to submit a PR?**

I can do that

[2021-04-01 20:04] jhtimmins commented on #15144
@codenamestif could you include log output and/or images of what you see?

If you're interested in taking on this PR, it sounds like a solid first one. I'm happy to answer any questions you have about getting started.

[2021-04-01 20:24] potiuk commented on #15139
You need to create your own image. Extending/customizing image, including adding your own python packages are described in http://airflow.apache.org/docs/apache-airflow/stable/extra-packages-ref.html . Soon (as of 2.0.2 the documention will be updated to put all docker stuff together )

[2021-04-01 20:24] #15139 closed

[2021-04-01 20:36] subkanthi opened #15145 "Big Query to MS SQL operator"
**Description**
A new transfer operator for transferring records from Big Query to MSSQL.

**Use case / motivation**
Very similar to Bigquery to mysql, this will be an operator for transferring rows from Big Query to MSSQL.

**Are you willing to submit a PR?**

Yes

**Related Issues**
No

[2021-04-01 20:55] codenamestif commented on #15144
Here is an example of the current behaviour:
[code]

After I adjusted the handler I have got the next one:
[code]

I also made a formatting of the timestamp based on UI timezone. If timezone formatting is a good idea, then there is also an issue with `ECSOperator`, that fetches the logs from the Cloudwatch and prints them in UTC. But this is another thing that can be improved.

[2021-04-01 21:02] #15131 closed

[2021-04-01 22:50] wolfier commented on #15136
Based on #8421, the render template view is not be capable of hiding sensitive information.

Quoting @kaxil,

I was unable to replicate what you had by following your instructions. The hidden sensitive value when the name of the Variable contains special keywords still renders as its original value.

I think you may have saved the Airflow Variable while the value was shown as the replaced value in

[2021-04-01 22:58] vikramkoka commented on #15108
@uranusjr and @Davide95, Can this issue be closed now?

[2021-04-01 23:03] chutcheson commented on #9855
I'm looking for a good first issue to work on.

Is this a correct account of the feature request?

Is there anything else that I should understand with respect to the request?

[2021-04-01 23:08] chutcheson commented on #9387
Is this still an open issue?

[2021-04-01 23:09] vikramkoka commented on #15066
@bintocher What are the values in your airflow.cfg with respect to Xcom?
Specifically:
1. Do you have pickling set to True of False, and
2. Are you using a custom_xcom_backend?

Out of the box, Xcom only supports values that are automatically serializable into JSON.

[2021-04-01 23:12] vikramkoka commented on #15145
@subkanthi Please do submit a PR if you believe this is needed. One of committers will surely help review it when it is ready.

[2021-04-01 23:50] vikramkoka commented on #14580
@snehlata08 Based on the conversation, this does not seem like a bug, therefore closing this issue.

[2021-04-01 23:50] #14580 closed

[2021-04-01 23:53] vikramkoka commented on #14593
@zqd759592942 Based on the conversation above, there is nothing to indicate this is a bug. Please do reopen or report a new issue if you continue to encounter a problem.

[2021-04-01 23:53] #14593 closed

[2021-04-02 00:57] jhtimmins commented on #15144
@codenamestif Thanks for including the output.

Would you like to submit a PR for this?

[2021-04-02 02:16] mejran opened #15147 "Dag created with a dag decorator in a packaged dag file (zip) has incorrect filepath property"
**Apache Airflow version**: 2.0.1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.19.6

**Environment**:

- **Cloud provider or hardware configuration**: AWS EKS
- **OS** (e.g. from /etc/os-release): Debian
- **Kernel** (e.g. `uname -a`): 5.4.95-42.163.amzn2.x86_64
- **Install tools**:
- **Others**:

**What happened**:

If a dag decorator is used in a packaged dag

[2021-04-02 03:04] uranusjr commented on #8421
I’m thinking about a combination of the two approaches:

1. `airflow.cfg` will gain a flag (`hide_secrets`) to control the behaviour on this.
2. The value can also be set to `all` (hides all fields), `none` (don’t hide any), or `private` (hides fields that starts with an underscore).
3. One of them is the default, probably `none` for backwards compatibility?

All proposed names are subject to disc

[2021-04-02 03:15] uranusjr commented on #15108
I think this depends on whether @Davide95 wants to turn this into a feature request (instead of a bug report) on setting the cursor class (and persuambly other extras) on a per-hook (per-operator?) basis.

[2021-04-02 06:12] TPapajCin opened #15149 "Kubernetes Executor does not delete pods stuck at creating because of volume mount errors"
**Apache Airflow version**: 2.0.1 Git Version:.release:2.0.1+beb8af5ac6c438c29e2c186145115fb1334a3735

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.17.17-gke.2800

**Environment**:

- **Cloud provider or hardware configuration**: GKE (Kubernetes)
- **OS** (e.g. from /etc/os-release): Debian GNU/Linux 10 (buster) - docker image python:3.8-slim-buster
- **Kernel**

[2021-04-02 07:12] codenamestif commented on #15144
@jhtimmins yes, i will prepare a pr

[2021-04-02 07:13] potiuk commented on #15129
@dinigo. Everything is as expected.

Constraints are frozen at the time of  creating the `apache-airflow` package. And they are there to be able to install the given version of `apache-airflow` in a consistent way. No more, no less. They have nothing to do with the version of provider that you can install afterwards. Constraints finish their role when you have apache-airflow installed, and then yo

[2021-04-02 07:13] #15129 closed

[2021-04-02 07:33] kaojunsong opened #15150 ""duplicate key value violates unique constraint "dag_run_dag_id_execution_date_key" when triggering a DAG"
**Apache Airflow version**:
2.0.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
1.14

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

[2021-04-02 07:23:30,513] [ERROR] app.py:1892 - Exception on /api/v1/dags/auto_test/dagRu

[2021-04-02 07:46] uranusjr commented on #8421
WIP PR at #15151.

[2021-04-02 09:12] saveriogzz commented on #15136
Hey @wolfier thanks for your help!
You are iright indeed, the password was not "correctly rendered as secret" but simply saved as the actual value "********" after an edit..
I will close this and follow #8421

Thanks a lot again!! ❤️

[2021-04-02 09:12] #15136 closed

[2021-04-02 09:35] seybi87 commented on #15133
I figured out that special characters in the password string will cause this issue.

My password contained the following special characters:

`smtp_password = ja)5%Fmkrwj@LkE@`

After changing the password to a string that contains only letters and numbers the issue is resolved.

Feel free to close this issue in case these special characters are not allowed in the `airflow.cfg` at all.

[2021-04-02 09:44] muyajil commented on #9387
@chutcheson Yes it is, unfortunately I never got the chance to really get started

[2021-04-02 11:35] uranusjr commented on #15133
I wonder if this is somehow similar to #12775. The characters you use aren’t really that special; maybe Airflow can handle them better.

[2021-04-02 12:23] kaxil commented on #8421
@uranusjr Actually how about controlling the template_field view via FAB Permissions?

[2021-04-02 12:38] uranusjr commented on #8421
Makes sense as well. Do you think there should be some kind of sensitive field naming convention (e.g. leading underscore as suggested previously) and separate permissions to control “public” and sensitive field visibilities, or just one blanket permission for all fields would suffice?

[2021-04-02 12:44] kaxil commented on #8421
re: Naming convention

The problem with that is that it is too big of a change and affects all the Operators as `template_field`, example:

https://github.com/apache/airflow/blob/4d1b2e985492894e6064235688cf8f381b1e8858/airflow/operators/bash.py#L127-L146

and that it varies sometimes per user, as they might pass a sensitive value to BashOperator via a connection/variable to use an environment var

[2021-04-02 13:58] uranusjr commented on #8421
Alternative solution based on permission is in #15158.

[2021-04-02 14:56] eladkal commented on #14217
Fixed in https://github.com/apache/airflow/pull/14251

[2021-04-02 14:56] #14217 closed

[2021-04-02 15:05] jagusztinl opened #15160 "Airflow Init:CrashLoopBackOff after K8S restart"
**Apache Airflow version**:
v2.0.1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
1.19

**What happened**:
Deployed AIrflow to K8S:
helm install -f bitnami_values.yaml airflow-k8s bitnami/airflow \
--set executor=KubernetesExecutor \
--set redis.enabled=false \
--set rbac.create=true \
--set serviceaccount.create=true \
--set auth.username=my-user \
--set auth.passw

[2021-04-02 15:14] eladkal commented on #11060
@turbaszek can we close this issue ?

[2021-04-02 15:18] eladkal commented on #11224
I also don't understand the issue.
In any case this sounds more like ETL design question so if you need support please use Stackoverflow or troubleshooting channel in Airflow slack.
If this is a feature request please comment with more details and use case examples.

[2021-04-02 15:18] #11224 closed

[2021-04-02 15:28] eladkal commented on #11203
@TobKed can you clarify what is the bug? it sounds more like we need to make some clarifications in the docs

[2021-04-02 15:49] eladkal commented on #10330
@potiuk is there a task to complete here?

[2021-04-02 16:09] eladkal commented on #13942
@tandelDipak you can always open PR directly, there is no need to open an issue first
feel free to submit your PR  :)

[2021-04-02 16:37] gudata opened #15161 "Container run do not obey the AIRFLOW_UID changed user"
**Apache Airflow version**:
2.0.1

**Environment**:

- **Cloud provider or hardware configuration**: ec2
- **OS** (e.g. from /etc/os-release): amazon linux 2
- **Kernel** (e.g. `uname -a`): Linux ip-10-1-20-149.rifiniti.local 4.14.225-168.357.amzn2.x86_64 #1 SMP Mon Mar 15 18:00:02 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux
- **Install tools**:
- **Others**:

**What happened**:

I created .env and ad

[2021-04-02 16:53] uranusjr commented on #9855
That sounds correct to me.

[2021-04-02 18:06] potiuk commented on #15161
You are not supposed to run the image with arbitrary user id, unless you also use GID=0. This is the way how to handle access to a number of directories inside the docker image, as our image is OpenShift-compatible.

https://docs.openshift.com/container-platform/4.7/openshift_images/create-images.html#images-create-guide-openshift_create-images

I am just adding an error message when wrong combina

[2021-04-02 18:07] potiuk commented on #15161
In your case you can already use custom user_id, but you MUST also specify GID=0 if you want to use it.

[2021-04-02 18:07] #15161 closed

[2021-04-02 18:37] dinigo commented on #15129
@potiuk much clearer. Thanks

[2021-04-02 19:03] gudata commented on #15161
Thank you for pointing my problem. Actually, on the second read, it is written that the GID must 0.

[code]
probably because of the one-liner expression I missed.

[2021-04-02 19:39] dimberman opened #15164 "Separate K8sPodOperator code from airflow core code"
**Description**

Currently, the KubernetesPodOperator uses the pod_launcher class in airflow core. This means that if we need to fix a bug in the KubernetesPodOperator such as https://github.com/apache/airflow/pull/15137 then the new cncf.kubernetes package will require an Airflow upgrade. Since we hope to release providers in a much faster cadence than Airflow core releases, we should separate th

[2021-04-02 19:44] SamWheating commented on #15164
I can take this one, since I'm already dealing with the linked k8spodoperator issue 👍

[2021-04-02 19:56] eladkal commented on #15149
is this the same issue as https://github.com/apache/airflow/issues/14556 ?

[2021-04-02 20:07] potiuk commented on #15161
Yeah. But it was not clear enough and other people head similar problems - it is not obvious - so checking it and failing if it is not (with redirecting to the docs) :)

[2021-04-02 20:12] dimberman commented on #15164
Hey @SamWheating I'm sorry to do this but I actually just put up a PR for this (I started hacking it out of curiosity and got a little carried away) https://github.com/apache/airflow/pull/15165

If you'd like you're welcome to take it from here, or we can just mine merged in quickly and then immediately merge yours once you rebase (we can then start the process of releasing a new provider ASAP to

[2021-04-02 20:14] SamWheating commented on #15164
No worries at all! Thanks for the quick turnaround on this 👍

[2021-04-02 20:19] eladkal commented on #10836
@maganaluis are you still working on this feature?

[2021-04-02 20:21] Davide95 commented on #15108
I have some issues regarding breeze. I've already posted a message on Slack to get some help
If I will be able to have a working env, it would be great to contribute

[2021-04-02 20:22] maganaluis commented on #10836
@eladkal No, we switched to Kubeflow. I don't have the bandwidth to support both. Could you remove me from this task?

[2021-04-02 20:35] kaxil commented on #15150
The DagRun table has the following constraints:

https://github.com/apache/airflow/blob/83d702c345f8f4ce16d32268f4f83ee508fea676/airflow/models/dagrun.py#L96-L97

which is why you can't create / trigger a DagRun that violates it i.e. you can't trigger a DAG with same execution_date or with same run_id.

[2021-04-02 20:38] kaxil commented on #15149
Oh yea looks like it, https://github.com/apache/airflow/pull/14810 should fix it, which will be in 2.0.2.

[2021-04-02 21:59] #14543 closed

[2021-04-02 22:11] #14989 closed

[2021-04-02 22:35] SalmonTimo commented on #13542
I ran into this issue due to the scheduler over-utilizing CPU because our `min_file_process_interval` was set to 0 (the default prior to 2.0), which in airflow 2.0 causes a ton of CPU work from constantly refreshing DAG files. Setting this parameter to 60 fixed the issue.
The stack I observed this on:
host: AWS ECS Cluster
executor: CeleryExecutor
queue: AWS SQS Queue

The behavior I observed was

[2021-04-02 22:42] kaxil commented on #13542
We have changed the default `min_file_process_interval` to `30` from Airflow 2.0.1

https://github.com/apache/airflow/blob/8cc8d11fb87d0ad5b3b80907874f695a77533bfa/UPDATING.md#default-scheduler-min_file_process_interval-is-changed-to-30

although I wouldn't think that might be the cause to task staying in queued state but worth a try

[2021-04-02 23:31] kaxil commented on #11851
I have assigned this issue to you @ankh6 -- please go for it :)

re your other point, I am not exactly sure what you mean -- can you raise a new Github Issue as a feature request please where you can add more details about it, thanks.

[2021-04-02 23:51] kaojunsong commented on #15150
@kaxil Thanks for your reply. I got your point, but the client gets a 500 HTTP code now, and I think it better if it returns 400 or 409 or any other suitable code.

[2021-04-03 00:12] kaxil commented on #15150
Agreed.

cc @ephraimbuddy

[2021-04-03 00:14] kaxil commented on #12985
I have un-assigned myself so it is up for grabs :)

[2021-04-03 00:31] ephraimbuddy commented on #14422
I have investigated this and fixed a solution but I'm not sure if we want it.

Basically when a pod is deleted, it sends a SIGTERM signal to the task which gets killed while being prepared for execution.

Now, on_failure_callback is only called when tasks finishes executing.
My solution was to check if task has on_failure_callback when a SIGTERM is received and then execute the on_failure_callback

[2021-04-03 04:39] namiops commented on #8467
hi @snigdhasaikam30, I'm using Airfllow 1.10.15 with python 3.8.

[2021-04-03 06:11] vikramcse commented on #15150
@kaxil I would like to work on this issue

[2021-04-03 06:27] ephraimbuddy commented on #15150
@vikramcse I have assigned it to you

[2021-04-03 06:35] ginevragaudioso opened #15171 "scheduler does not apply ordering when querying which task instances to queue"
Issue type:
Bug

Airflow version:
2.0.1 (although bug may have existed earlier, and master still has the bug)

Issue:
The scheduler sometimes queues tasks in alphabetical order instead of in priority weight and execution date order. This causes priorities to not work at all, and causes some tasks with name later in the alphabet to never run as long as new tasks with names earlier in the alphabet a

[2021-04-03 08:26] #14106 closed

[2021-04-03 08:27] vikramcse commented on #15150
Hi @kaxil and @ephraimbuddy

I am able to reproduce the issue and tried to resolve it.

Below is the error message returned by the `/dagRuns` api. My question is does the below returned message detail text is correct?
please let me know if it needs some change.

[code]

Thank You

[2021-04-03 10:02] codenamestif commented on #15144
@jhtimmins i prepared a draft pr since i have a question about implementation details.

[2021-04-03 10:32] Vivekdjango commented on #13006
@jedcunningham : I am new to this skill so could you please help me out? Where did you pass 'extra__kubernetes__in_cluster' param? Inside 'SparkKubernetesOperator' or under some yaml file? please reply.

As far I tried to add under 'SparkKubernetesOperator' but didn't work.

[2021-04-03 10:39] ephraimbuddy commented on #15150
Yes. It is good. Make a PR then if there are any suggestions, we would give

[2021-04-03 10:52] mik-laj commented on #13006
In connection confiugraitton, see: http://apache-airflow-docs.s3-website.eu-central-1.amazonaws.com/docs/apache-airflow-providers-cncf-kubernetes/latest/connections/kubernetes.html
http://airflow.apache.org/docs/apache-airflow/stable/howto/connection.html

[2021-04-03 11:05] Vivekdjango commented on #13006
Thanks @mik-laj : I created the connection from UI , now how to pass it to 'SparkKubernetesOperator'?

[2021-04-03 11:15] mik-laj commented on #9855
@chutcheson  Yes. We just want to import connections from a file.

[2021-04-03 11:30] mik-laj commented on #13006
You should use `*_conn_id` parameter.

[2021-04-03 11:47] mik-laj commented on #10330
Documentation for Airflow 2.0 includes documentation for all environmental variables:
http://airflow.apache.org/docs/apache-airflow/stable/configurations-ref.html
http://airflow.apache.org/docs/apache-airflow/stable/cli-and-env-variables-ref.html#environment-variables
I don't think we can improve anything. The documentation for Airflow 1.10 does not clearly describe the differences between RBAC an

[2021-04-03 11:47] #10330 closed

[2021-04-03 12:50] mik-laj commented on #15088
New argument.  See: https://docs.google.com/document/d/1_rTdJSLCt0eyrAylmmgYc3yZr-_h51fVlnvMmWqhCkY/edit?ts=5bb72dfd#heading=h.3sxddzjr5f6q Section: Working with parent / name variables

[2021-04-03 15:46] natanweinberger commented on #9855
I started a first crack at this issue a few days ago, apologies for not posting sooner. I'll open a PR for it shortly. @chutcheson, would be great to get your feedback since you're interested in this issue as well!

[2021-04-03 16:38] xinbinhuang commented on #15160
This issue is related to the bitnami helm chart in use, and you should open an issue there.

[2021-04-03 16:38] dimberman commented on #9036
Hi @alexbegg @mik-laj,

So what is the ultimate step here? Do we deprecate any log handlers or do we just make the log handler user the stable API internally?

[2021-04-03 16:41] dimberman commented on #9090
Hi @santhoshhpe is this issue in 2.0 as well?

[2021-04-03 16:42] mik-laj commented on #9036
@dimberman  I wanted to delete this attribute, but not everyone shares my opinion. See: https://github.com/apache/airflow/pull/9084#pullrequestreview-421803048

CC: @kaxil

[2021-04-03 19:52] imsharadmishra commented on #9975
I had the same issue with airflow 2.0.1.
I was able to fix it following combinations of parameter.
AIRFLOW__CORE__MAX_ACTIVE_RUNS_PER_DAG -> 16 (default value)
max_active_runs=1 inside the dag.
Trick here I used it to pass this parameter inside DAG constructor instead of default_args argument.

Here is an example:
`from airflow import DAG
from airflow.providers.mysql.operators.mysql import MySqlOp

[2021-04-03 20:48] Matts966 opened #15178 "Task doc is not shown on Airflow 2.0 Task Instance Detail view"
**Apache Airflow version**: 932f8c2e9360de6371031d4d71df00867a2776e6

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**: locally run `airflow server`

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): mac
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

Task doc is shown on Airfl

[2021-04-03 21:20] ephraimbuddy opened #15179 "Kubernetes does not show logs for task instances if remote logging is not configured"
Without configuring remote logging, logs from Kubernetes for task instances are not complete.

Without remote logging configured, the logging for task instances are outputted as :

logging_level: INFO

[code]

**Apache Airflow version**: 2.0.1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.4", Git

[2021-04-04 00:11] zachliu commented on #9975
@imsharadmishra are you sure? i did the same and i still have the issue :thinking:

[2021-04-04 03:13] imsharadmishra commented on #9975
@zachliu  sorry, I face the same issue if I clear the state of finished dag runs. They execute concurrently as soon as the current dag run finishes. I got confused with a similar issue I was facing, where max_active_runs=1 was not working at all when I pass it through default_args.

[2021-04-04 11:18] eladkal commented on #14583
I'm not sure if there is one (or even range) universal values to be considered healthy that match all.
For example `dag_processing.total_parse_time |  Seconds taken to scan and import all DAG files once`

What is the appropriate value that can be recommended? Consider an Airflow instance with 3 dags and instance with 3000 Dags.

[2021-04-04 11:24] kaxil commented on #14261
Interesting can one of you create another GH issue with these details of reproduction using Helm Chart and KinD please @marclamberti @madden1706

[2021-04-04 15:39] Vivekdjango commented on #13006
@mik-laj : I tried but no luck, I created connection with two ways:

1)Conn_ID: <NAME>
   Type:Kubernetes Cluster Connection
   In Cluster Config: Checked
   Kube config (JSON format): {"extra__kubernetes__in_cluster": "True"}

Error:"Invalid connection configuration. Options extra__kubernetes__kube_config_path, "
                "extra__kubernetes__kube_config, extra__kubernetes__in_cluster are m

[2021-04-04 15:42] mik-laj commented on #13006
Kube config field should be empty. In Cluster Config should be checked

[2021-04-04 17:20] TobKed commented on #11203
Problem was using backtics instead of brackets enclosing table reference ([comment](https://github.com/apache/airflow/issues/11203#issuecomment-702364275)) and then using lecacy SQL ([comment](https://github.com/apache/airflow/issues/11203#issuecomment-702638181)). It seems not related to BigQuery hook/operators but to the usage of BQ iteself.
IMHO this issue could be closed.
WDYT @eladkal @turbas

[2021-04-04 17:25] #15113 closed

[2021-04-04 17:38] potiuk commented on #11203
Agree.,

[2021-04-04 17:38] #11203 closed

[2021-04-04 17:53] TobKed commented on #14682
It may be the same case for `AzureFileShareToGCSOperator`

[2021-04-04 17:55] potiuk opened #15188 "In some cases 'cancel-workflow-run' action crashes"
In some cases, when the PR is `weird` - when there is an empty PR that gets closed quickly I guess  such as:

https://github.com/apache/airflow/runs/2265280777?check_suite_focus=true,

the 'cancel-workflow-runs' action crashes:

[code]

This results in cancelling all other workflows and is an easy way to DDOs airflow. It can be handled by cancelling the offending workflow. This should be handled b

[2021-04-04 17:58] kaxil commented on #15178
I was able to reproduce it and will fix it for 2.0.2

[2021-04-04 18:22] kaxil commented on #13761
@bturi I was able to reproduce it and will fix it in 2.0.2 as part of https://github.com/apache/airflow/issues/15178 -- thanks for reporting

[2021-04-04 18:30] #15188 closed

[2021-04-04 19:50] iremonur opened #15192 "SCHEDULED TASKS ARE STUCK IN THE STATE OF "RUNNING""
Hi,

I am trying to schedule 4 tasks to be 10 minutes between each other, I want the first task to start at 19:20.
In the dag code (located in ~/airflow/dags/example_v6.py), I set:
-> start_date=datetime.datetime(2021, 4, 4, 19, 20)
-> schedule_interval= '*/10 * * * *'
The first task is succeeded but the other three of them are stuck in the state of "running".
Some of the parameters I set in the d

[2021-04-04 20:12] XD-DENG opened #15193 "CLI 'kubernetes cleanup-pods' should only clean up Airflow-created Pods"
**Update**

We discussed and decide this CLI should always only clean up pods created by Airflow.

<hr>

### Description

Currently command `kubernetes cleanup-pods` cleans up Pods that meet specific conditions in a given namespace.

Underlying code: https://github.com/apache/airflow/blob/2.0.1/airflow/cli/commands/kubernetes_command.py#L70

### Use case / motivation

The problem to me is: users m

[2021-04-04 20:14] XD-DENG commented on #15193
@dimberman @mik-laj  may you please share your inputs on if this makes sense to you or not? Let me know if I overlooked anything. Thanks

[2021-04-04 20:20] #13924 closed

[2021-04-04 20:51] eladkal commented on #13702
Fixed in https://github.com/apache/airflow/pull/13703

[2021-04-04 20:51] #13702 closed

[2021-04-05 01:06] EunSeop opened #15196 "ExternalTaskSensor not working python3.6 & airflow2.0.1"
**Apache Airflow version**: 2.0.1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): not used

**Environment**: Mac os(Catalina)

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): Mac os(Catalina)
- **Kernel** (e.g. `uname -a`): `Darwin AL01590440.local 19.6.0 Darwin Kernel Version 19.6.0: Mon Aug 31 22:12:52 PDT 2020; root:xnu-6153.1

[2021-04-05 01:41] EunSeop commented on #15196
Got same situation on `apache-airflow==1.10.14`.

[2021-04-05 02:06] EunSeop commented on #15196
Did I missing any setup of airflow? same situation on `python==3.7.10` & `apache-airflow==2.0.1`

[2021-04-05 02:29] odajun opened #15198 ""cannot import make_kwargs_callable" occurs when using airflow.providers.http.operators.http in 1.10.14."
**Apache Airflow version**: 1.10.14

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.19

**Environment**:

- **Cloud provider or hardware configuration**:  Openstack, 4 cores, 8GB RAM
- **OS** (e.g. from /etc/os-release): /etc/centos-release CnetOS Linux release 7.9.2009
- **Kernel** (e.g. `uname -a`): Linux
- **Install tools**: Docker container (own build), Airflow

[2021-04-05 02:46] #15178 closed

[2021-04-05 02:51] #15196 closed

[2021-04-05 04:05] EunSeop commented on #15196
It's working after set schedule.

[2021-04-05 05:13] parkyo commented on #15058
I found this issue on ovio.org and would love to contribute!

[2021-04-05 05:14] parkyo commented on #15192
I found this issue on ovio.org and would love to contribute!

[2021-04-05 05:30] Vivekdjango commented on #13006
Your help is really appreciable. Thanks for all your guidance it resolved the issue. @mik-laj

[2021-04-05 05:46] santhoshhpe commented on #9090
Hi @dimberman, I haven't got a chance to check in Airflow version 2.0, this was initially observed in airflow verison 1.10.10.

[2021-04-05 06:20] shihabcsedu09 commented on #14791
@turbaszek Do you know if any work related to this is happening?

Thanks in advance

[2021-04-05 07:00] iremonur commented on #15192
Thank you, it would be great ! Could you share the link related to the issue ?

[2021-04-05 07:09] iremonur commented on #15192
Actually, I tried schedule to another tasks to be 10 minutes between each other, I want the first task to start at 19:50.
In the dag code (located in ~/airflow/dags/tutorial_v2.py), I set:
-> start_date=datetime.datetime(2021, 4, 4, 19, 50)
-> schedule_interval= '*/10 * * * *'
The first task is succeeded but the other three of them are stuck in the state of "running".
Some of the parameters I set

[2021-04-05 08:01] alexInhert commented on #15198
This is an issue for me too. It's a blocker for migration to Airflow 2.
The backport HTTP provider is not working because of this.

`make_kwargs_callable` should be added to a release of Airflow 1.10 or the backport provider should not call this function.

[2021-04-05 09:03] iremonur opened #15202 "SCHEDULER SKIPS SOME OF THE SCHEDULED TASKS"
I am trying to schedule tasks to be 10 minutes between each other, I want the first task to start at 20.00.
In the dag code (located in ~/airflow/dags/tutorial_v2.py), I set:
-> start_date=datetime.datetime(2021, 4, 4, 19, 50)
-> schedule_interval= '*/10 * * * *'
Some of the parameters I set in the dag code :
default_args = {
'owner': 'airflow',
'depends_on_past': False,
'wait_for_downstream' : Fa

[2021-04-05 09:21] XD-DENG commented on #15193
CC @kaxil @ashb

[2021-04-05 09:22] #14830 closed

[2021-04-05 09:34] bintocher commented on #15066
![image](https://user-images.githubusercontent.com/8188055/113560180-ed1de000-9645-11eb-964a-d9da45f8ca43.png)
![image](https://user-images.githubusercontent.com/8188055/113560189-f018d080-9645-11eb-9b0f-a822e7c6ef60.png)
![image](https://user-images.githubusercontent.com/8188055/113560225-0030b000-9646-11eb-98d8-7c26bd5589ae.png)

[2021-04-05 10:39] mik-laj commented on #15193
in my opinion this is a bug and by default we should only manage pods created by Airflow i.e. we don't need extra option.

[2021-04-05 10:45] XD-DENG commented on #15193
That's my first thought as well, but I would like to hear the original author's opinion, like if there is any specific reason or not

This feature was added in https://github.com/apache/airflow/pull/11802 . @kaxil may you please share your inputs? Cheers!

[2021-04-05 11:41] #14327 closed

[2021-04-05 12:12] potiuk commented on #15193
My thoughts exactly!

[2021-04-05 12:37] kaxil commented on #15193
Hey, thanks for this issue @XD-DENG . I added this feature and we use it in Astronomer too -- to cleanup any hanging PODs and their sidecars. So yeah we can just restrict it to pod launched via Airflow.

[2021-04-05 12:40] XD-DENG commented on #15193
Thanks everyone.

I think we have come to a consensus. So I will change `kind: feature` to `kind: bug` and work on this later.

[2021-04-05 14:37] ByPort opened #15205 "Add setting up using VS Code to CONTRIBUTORS_QUICK_START.rst"
**Description**

In the CONTRIBUTORS_QUICK_START.rst (and not only there) I can see some parts that are tied to PyCharm. There is nothing complicated and specific to PyCharm, but I can understand that - explicit is better than implicit. But in this case, I think it would be nice to cover other IDEs and code editors as well.

**Use case / motivation**

As a new contributor I want to set up the proj

[2021-04-05 15:06] #13006 closed

[2021-04-05 15:32] potiuk commented on #15205
@ByPort  absolutely - feel free to submit a PR.

[2021-04-05 17:29] kaxil commented on #13918
@armandleopold Can you try with Kubernetes Provider 1.0.2 please:

https://pypi.org/project/apache-airflow-providers-cncf-kubernetes/1.0.2/

[code]

and see if it fixes for you. (#14186 was included in that release)

[2021-04-05 17:31] kaxil commented on #10035
@gardnerdev Please try this with >= **Airflow 2.0.1** and https://pypi.org/project/apache-airflow-providers-cncf-kubernetes/1.0.2/ and let us know if you are able to reproduce it.

[2021-04-05 17:55] #9855 closed

[2021-04-05 19:39] #15108 closed

[2021-04-05 20:22] jedcunningham commented on #10193
I wasn't able to reproduce this with master or 1.10.15. @scauglog, are you still able to reproduce this?

[2021-04-05 21:03] mik-laj commented on #15198
Sorry, but we have already given up releasing new updates for backport providers.
https://lists.apache.org/thread.html/rb34212bd13c44aa61e793d0fef14f4ab9d9408939b1b98dc814cf274%40%3Cdev.airflow.apache.org%3E

This operator didn't have major breaking changes though, so you can keep the import to the airflow.operators package on Airflow 2.0.

[2021-04-05 21:05] mik-laj commented on #15058
@yacine-del  Can you tell a little more about this error? What are the steps to reproduce this error? what version of Airflow do you have? What version of SQLAlchemy do you have?

@parkyo Welcome!

[2021-04-05 21:20] kurtqq commented on #15198
to jump in... i don't think it's issue of major or minor changes. It's issue of changes existed.
Upgrading a major release in production system used by so many different teams is challenge enough.
Please don't make things harder if you don't have to.

As suggested you can cherry pick the updated `airflow/utils/operator_helpers.py ` https://github.com/apache/airflow/pull/11922 to the next 1.10 rele

[2021-04-05 21:52] jedcunningham commented on #15077
This has been fixed in #14810, which will be in 2.0.2.

[2021-04-05 22:04] jedcunningham opened #15218 "Task stuck in queued state with pending pod"
**Apache Airflow version**: 2.0.1
**Kubernetes version**: v1.19.7
**Executor**: KubernetesExecutor

**What happened**:

If you have a worker that gets stuck in pending forever, say with a missing volume mount, the task will stay in the queued state forever. Nothing is applying a timeout on it actually being able to start.

**What you expected to happen**:

Eventually the scheduler will notice that

[2021-04-05 22:08] jedcunningham commented on #15149
This is related to, but not a duplicate of that other one. This issue identifies that the poison pill (e.g. "Mark failed") doesn't clean up the pending pod.

Basically, the root problem is that once the scheduler creates the worker pod and sticks the TI in queued, it only listens to k8s events. If the pod will be 'forever pending' due to missing volume, well, it gets stuck forever. We probably wan

[2021-04-05 22:24] jedcunningham opened #15219 "Operators in cncf.kubernetes provider are configured differently"
The operators in the cncf.kubernetes provider use different methods of configuring where the k8s cluster you want run against is. `KubernetesPodOperator` uses `in_cluster`, `cluster_context`, and/or `config_file`, while `SparkKubernetesOperator` uses a Kubernetes Cluster connection with the specifics in extras.

**Use case / motivation**

The operators in this provider should be configured in the

[2021-04-05 22:52] jedcunningham commented on #13916
Turning on tcp keepalive may (should) also help:
https://airflow.apache.org/docs/apache-airflow/stable/configurations-ref.html#enable-tcp-keepalive

[2021-04-05 23:04] jedcunningham commented on #14619
Can you try without anything for `kube_client_request_args`, e.g:

[code]

Also, what do you have it set to?

[2021-04-05 23:44] jedcunningham commented on #13888
@alittlesliceoftom, are you seeing a bunch of occurrences of this log line?

https://github.com/apache/airflow/blob/c73052fcb1d39dd8fa4012721f025c375f67f72c/airflow/providers/cncf/kubernetes/utils/pod_launcher.py#L141

We follow the log stream by passing `follow=True` to `read_namespaced_pod_log`, so unless the connection keeps getting reset, we shouldn't be hitting that sleep all that often.

[2021-04-05 23:54] jedcunningham commented on #14307
@everglory99, have you considered exposing a way to add these extra objects into your helm chart, say via `extraConfigMaps` etc or more generally `extraObjects`? It seems much saner to update them with helm instead of trying to deploy them with every task run (which is a whole different can of worms, unless you run with `parallelism` set to 1 😀).

[2021-04-06 00:14] #15077 closed

[2021-04-06 02:00] odajun commented on #15198
@mik-laj Thank you for confirming this.

As for SimpleHttpOperator, I will try to upgrade it to 2.0.x without changing the import source.

[code]

[2021-04-06 02:34] mik-laj commented on #15198
There have been drastic differences between the Airflow 2.0 and Airflow 1.10 releases, and cherry-picking changes are very problematic and time-consuming e.g. Airflow 1.10 still supports Python 2.7, so we need to add backward compatibility during cherry-picking. Besides, we haven't made any changes to operators for over a year now, because we started releasing backport providers, to make migration

[2021-04-06 02:34] girishrd2004 commented on #13542
I had the task stuck because I changed the DAG id as part of my code change. After reverting the DAG id change, things worked fine. However the old queued tasks had to be manually marked complete.

[2021-04-06 02:37] mik-laj commented on #15198
If you are using Docker, you don't even need to prepare the pip package, but you can overwrite the required files in your image.

[2021-04-06 05:25] lukas-at-harren commented on #13542
@kaxil I have checked, `min_file_process_interval` is set to `30`, however the problem is still there for me.

@SalmonTimo I have a pretty high CPU utilisation (60%), albeit the scheduler settings are default. But why? Does this matter?

––

Same issue, new day: I have Airflow running, the scheduler running, but the whole cluster has 103 scheduled tasks and 3 queued tasks, but nothing is running a

[2021-04-06 06:09] ClassyLion commented on #13805
Is it possible to implement this fix in deployment?

[2021-04-06 06:20] ogerasymenko commented on #10790
Same here with Airflow 2.0.1

[2021-04-06 07:51] potiuk commented on #15198
While we don't officially release the backports and @mik-laj mentioned it is quite an overhead. However we have to take into account that the Http provider is one that is very commonly used, so we might try to think about doing a one time release to fix it as it might be a recurring problem for other users.

This is an exceptional case - it is not a but to fix but our own backwards incompatibility

[2021-04-06 08:11] fedeizzo opened #15225 "Allowed hosts for rest api request"
**Description**

I would like to see a config in the api section in order to add allowed hosts for making http request and solve cross origin problem. Now, if a make an async request from browser a cross origin error occurs.

**Use case / motivation**

If I'm writing a dashboard for a end-user who want to see the current dag status I could create a dag with some graphical js library. The dag is cr

[2021-04-06 09:21] #14163 closed

[2021-04-06 09:27] george-zubrienko commented on #14422
Would it make sense to add `on_kill_callback` instead of touching current logic for `on_failure_callback`? It feels a bit off that we treat "kill" as failure in terms of callbacks. Mainly due to the fact that task kill usually has different post-processing applied to it. There is a `on_kill` on `BaseOperator`, but that one is not a callback function, but rather a pre-task-kill call.

[2021-04-06 11:18] rishabh9999 opened #15229 "Hortonworks Sandbox : Airflow Webserver Error"
Python version: 3.6.12
Airflow version: 2.0.1
Node: sandbox-hdp.hortonworks.com
-------------------------------------------------------------------------------
Traceback (most recent call last):
  File "/root/airflow/venv/lib64/python3.6/site-packages/flask/app.py", line 2447, in wsgi_app
    response = self.full_dispatch_request()
  File "/root/airflow/venv/lib64/python3.6/site-packages/flask/app

[2021-04-06 12:09] kaxil commented on #13542
@lukas-at-harren -- Can you check the Airflow Webserver -> Admin -> Pools  and then in the row with your pool (`mssql_dwh`) check the Used slots. And click on the number in Used slots, it should take you to the TaskInstance page that should show the currently "running" taskinstances in that Pool.

It is possible that they are not actually running but somehow got in that state in DB. If you see 3 e

[2021-04-06 12:58] hussainsaify commented on #12499
@luis-serra-ki Were you able to get this working? I am facing the same issue

[2021-04-06 13:45] hussainsaify commented on #12499
I was able to get it working by configuring tbis environment variable. More details on the issue in below link

https://stackoverflow.com/questions/61958403/airflow-1-10-10-behind-nginx-proxy-oauth-redirect-url-http-instead-of-https

Hope it helps

[2021-04-06 14:05] #15150 closed

[2021-04-06 14:17] odajun commented on #15198
@potiuk Thank you for your reply.

I will probably test in my environment and report.

It would be helpful if you could provide it in a form that allows installation using pip.

[2021-04-06 14:31] kaxil commented on #15198
Yea we can probably follow (a) move the "make_kwargs_callable" to inside the http backport provider. And release one-off HTTP backport provider since it is very popular. But even

But like Jarek said this will need help from you'll in testing. And also note that the Backport Providers are only to help users transition to 2.0 and is provided with "best effort" and like Kamil said there is a bit of

[2021-04-06 14:33] RafayAK opened #15230 "New version of sqlalchemy is breaking Airflow installation."
**Apache Airflow version**:
2.0.1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
none
**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- ubuntu 20.04
- **Kernel** (e.g. `uname -a`):
Linux rafay-Inspiron-7537 5.8.0-48-generic #54~20.04.1-Ubuntu SMP Sat Mar 20 13:40:25 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux
- **I

[2021-04-06 14:52] jedcunningham commented on #14590
Can you try setting [delete_worker_pods](https://airflow.apache.org/docs/apache-airflow/stable/configurations-ref.html#delete-worker-pods) to false temporarily so you can inspect the failed pod?

[2021-04-06 15:57] dimberman commented on #14307
@jedcunningham good point. Deploying k8s objects in parallel can potentially lead to weird states.

[2021-04-06 15:58] uranusjr commented on #15230
Upstream bug entry: kvesteri/sqlalchemy-utils#505

Note that it is highly recommended to install Airflow with the constraints files, instead of a plain `pip install`. This ensures the dependency set passes the test suite and is promised to work. More instructions are available in the documentation: https://airflow.apache.org/docs/apache-airflow/stable/installation.html#constraints-files

[2021-04-06 16:04] teastburn commented on #11365
@ashb Yep we are. No plans to upgrade until a huge leap to 2.x at some point (likely not soon as it looks like a large undertaking).

[2021-04-06 16:04] dimberman commented on #14307
@everglory99 I'm going to close this but please feel free to reopen if you have more questions

[2021-04-06 16:04] #14307 closed

[2021-04-06 16:33] jackemuk-es opened #15231 "New version of docutils breaks Dockerfile for tag 2.0.1 (branch v2-0-stable)"
**Apache Airflow version**:
2.0.1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
None

**Environment**:

- **Cloud provider or hardware configuration**: aws, t3.medium
- **OS** (e.g. from /etc/os-release): Ubuntu 20.04.2 LTS (Focal Fossa)
- **Kernel** (e.g. `uname -a`): Linux ip-10-0-2-6 5.4.0-1041-aws #43-Ubuntu SMP Fri Mar 19 22:06:16 UTC 2021 x86_64 x86_64 x86_64

[2021-04-06 16:40] dimberman commented on #9090
@santhoshhpe are you sure we should even have an end date here? The task technically never ended... cc: @kaxil

[2021-04-06 16:44] kaxil commented on #15230
Hey yes like @uranusjr suggested please use the constraints file as Airflow is a library and an application, the upstream dependency can time and again break hence we keep set of files that work for sure.

We had fixed sqlalchmey version in https://github.com/apache/airflow/commit/c29f6fb76b9d87c50713ae94fda805b9f789a01d#diff-fa602a8a75dc9dcc92261bac5f533c2a85e34fcceaff63b3a3a81d9acde2fc52

So I w

[2021-04-06 16:44] #15230 closed

[2021-04-06 17:19] #14281 closed

[2021-04-06 18:16] jackemuk-es commented on #15231
The issue is with the doc extra being installed, removing it from the AIRFLOW_EXTRAS produces the docker image.

Changing the extras line in the docker-compose file to:
    AIRFLOW_EXTRAS: "doc"
produces the same results with docutils.

sphinx-rtd-theme 0.5.2 has requirement docutils<0.17, but you have docutils 0.17.
ERROR: Service 'airflow-init' failed to build : The command '/bin/bash -o pipefai

[2021-04-06 18:20] rbankston opened #15234 "DAG Failure Mark Success link produces a 404"
**Apache Airflow version**: 2.0.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): Kubernetes 1.20.2

**Environment**: Debian Buster image running in Kubernetes 1.20.2

- **Cloud provider or hardware configuration**: Ubuntu on VMware on premise
- **OS** (e.g. from /etc/os-release): Buster
- **Kernel** (e.g. `uname -a`):4.15.0-129-generic
- **Install tools**: Docker wi

[2021-04-06 18:34] andrewgodwin commented on #9387
I'll take this up, if someone wants to assign me.

[2021-04-06 18:42] potiuk commented on #15231
Can you please add  `AIRFLOW_CONSTRAINTS_REFERENCE: constraints-2.0.1` build arg and see if this fixes the problem? If so, I will shortly for 2.0.2 so that you would not have to do it.

[2021-04-06 18:55] andrewgodwin commented on #9387
I would like to ask, though - do we just want the type hinting here (in which case we can just declare a nice Literal type for the state tuples), or take on the problems that changing a tuple to an enum will cause? There's a few places in Airflow, and presumably in some third-party code, that presume they can do operations on `State.task_states` as if it were a sliceable/iterable.

[2021-04-06 19:01] potiuk commented on #15231
I just verified that `AIRFLOW_CONSTRAINTS_REFERENCE: constraints-2.0.1`  fixes it.

It's already fixed in 2.0.2 so when we release 2.0.2, you will be able to remove it.

Closing this one as we have both - mitigation and permanent solution in place.

[2021-04-06 19:01] #15231 closed

[2021-04-06 19:02] #14270 closed

[2021-04-06 19:39] jackemuk-es commented on #15231
Thanks! I did verify that does indeed work.

[2021-04-06 21:48] #10868 closed

[2021-04-06 21:56] jedcunningham commented on #11982
@dimberman, got the tests green (finally!).

[2021-04-06 22:11] potiuk commented on #15198
Hey @odajun @kurtqq @alexInhert : I just released https://pypi.org/project/apache-airflow-backport-providers-http/2021.4.10rc2/ that should fix the problem.

Can you please run `pip install apache-airflow-backport-providers-http==2021.4.10rc2` and let me know if the problem is fixed?

[2021-04-06 22:35] kaxil commented on #15198
Please also add a non-binding vote if that works for you in https://lists.apache.org/thread.html/r5e870c593ca558c5e05417dc20b9dc55a48bbcb485483b63cd9b416c%40%3Cdev.airflow.apache.org%3E

[2021-04-06 23:20] #15097 closed

[2021-04-07 01:05] potiuk opened #15241 "Testing Providers prepared 2021.04.07"
Since you were providing the fixes,I  kindly ask for help :) .

Could you please help testing the providers?  Please comment below if you tested `your` part:

## New providers

- [x] airbyte: @marcosmarxm  https://pypi.org/project/apache-airflow-providers-airbyte/1.0.0rc1/
- [x]  trino: @potiuk https://pypi.org/project/apache-airflow-providers-trino/1.0.0rc1/

## Providers with fixes

- [x] apache

[2021-04-07 02:10] mik-laj commented on #15229
Do you use contraints files to install Airflow? http://airflow.apache.org/docs/apache-airflow/stable/installation.html#constraints-files

[2021-04-07 02:11] mik-laj commented on #15229
Duplicate: https://github.com/apache/airflow/issues/15058

[2021-04-07 02:11] #15229 closed

[2021-04-07 02:29] fortworthrisk opened #15244 "Crash when looking at the individually triggered tasks"
Browse->DAG Runs-> Select a task that was triggered individually, not as one DAG.

Instead of showing the tree of the dag that it was part of -> getting this error.

Something bad has happened.
Please consider letting us know by creating a bug report using GitHub.

Python version: 3.8.0
Airflow version: 2.0.1
Node: airflow2-master
-------------------------------------------------------------------

[2021-04-07 03:45] dstandish commented on #13934
#15100 provides a solution here if anyone wants to review

[2021-04-07 04:25] santhoshhpe commented on #9090
I guess this use to happen if the task state is set externally to success or failure.

[2021-04-07 06:04] samudurand commented on #13522
@dimberman I have just upgraded to the latest backport provider version (2021.3.3 for 1.10.14), but this doesn't seem to include a fix for that issue, is there another release with a fix planned ?

[2021-04-07 06:17] ashishpatel0720 opened #15245 "Passing Custom Image Family Name to the DataprocClusterCreateOperator()"
**Description**
Currently, we can only pass custom Image name to  **DataprocClusterCreateOperator(),**
as the custom image expires after 60 days, we either need to update the image or we need to pass the expiration token.

Functionality is already available in **gcloud** and **REST**.

`gcloud dataproc clusters test_cluster ......
--image projects/<custom_image_project_id>/global/images/family/<fa

[2021-04-07 06:19] ashishpatel0720 commented on #15245
I will work on this.

[2021-04-07 06:42] ashishpatel0720 commented on #15245
There is workaround to this, we can just pass **family/<family_name>** in custom_image parameter to DataprocClusterCreateOperator(), taking advantage of because the way **custom_image_url** is created.

![image](https://user-images.githubusercontent.com/16856802/113821798-3717da80-979a-11eb-87d4-1e9f48f711cc.png)

But I really think there should be a dedicated parameter for avoiding any confusion.

[2021-04-07 06:54] #13225 closed

[2021-04-07 09:18] blcksrx commented on #15241
@potiuk I did mine, but you mean there are some sorts of methods or etc that have no test for it?

[2021-04-07 09:27] #12739 closed

[2021-04-07 10:04] TColl opened #15248 "Clear notification in UI when duplicate dag names are present"
**Description**

When using decorators to define dags, e.g. dag_1.py:

[code]

and

dag_2.py:

[code]

We have two different dags which have been written in isolation, but by sheer bad luck both define `my_dag()`. This seems fine for each file in isolation, but on the airflow UI, we only end up seeing one entry for `my_dag`, where it has picked up `dag_1.py` and ignored `dag_2.py`.

**Use case / m

[2021-04-07 11:04] george-zubrienko opened #15249 "Error when initializing database for unit tests (sqllite)"
**Apache Airflow version**: 2.0.1

**Environment**: Python virtual environment based on _circleci/python:3.7.9-stretch_

**What happened**: We have CircleCI running unit tests for an extensions library we built for airflow. It

It runs unit tests in a virtual environment initialized with the code below:

[code]

This was our `requirements.txt` file

[code]

We run unit tests and linting like this

[2021-04-07 11:21] uranusjr commented on #15249
Duplicate to #15230.

[2021-04-07 12:39] #14959 closed

[2021-04-07 12:40] uranusjr commented on #15225
How are you deploying Airflow? As far as I know, Airflow does not implement any logic to block host header attacks (I could be wrong), so there’s nothing to configure in Airflow. This needs to be configured in your proxy server instead.

[2021-04-07 12:59] fedeizzo commented on #15225
Currently, in a dev environment, from azure portal I opened the port. I'm running scheduler and webserver as background processes.
Now I'm working on a react webapp in which I want to display some informations about dag runs.
Is the idea correct or I'm doing something in the wrong way?

[2021-04-07 13:12] uranusjr commented on #15225
So you’re basically running `airflow webserver`? I believe that exposes the host as `0.0.0.0:8080` and should just work.

[2021-04-07 13:21] fedeizzo commented on #15225
Yes, the webserver is exposed and the dashboard is available through http. But if I try to fetch the rest API from my local development environment (my pc running node with react) I receive the cross origin error. Obviously the domain is not the same: the airflow webserver on azure machine and react from my machine. The same situation could happen if I move my react app in another vps different fr

[2021-04-07 13:51] uranusjr commented on #15225
Ah OK, so the problem is with indeed with CORS. The feature was added only recently and unreleased, so I was confusing your issue with `Location` header protection (which we don’t have a knob for).

The implementation was added in #13620 and (I believe) will be in the next Airflow release.

[2021-04-07 14:05] fedeizzo commented on #15225
Ok. Thanks for your help

[2021-04-07 14:38] dangal95 opened #15252 "SparkKubernetesSensor fails when upstream tasks are used"
**Apache Airflow version**: 2.0.1

**Kubernetes version**: 1.20.4

**Environment**:
AWS EKS
Pytho 3.6.12

- **Cloud provider or hardware configuration**:  AWS
- **OS** (e.g. from /etc/os-release): amazon-linux
- **Others**: Python 3.6.12

**What happened**:
I am trying to launch spark jobs on kubernetes by using the SparkKubernetesOperator and SparkKubernetesSensor available through the airflow.pr

[2021-04-07 14:39] totogo commented on #15088
@mik-laj sorry this document is not publicly accessible?

[2021-04-07 14:47] mik-laj commented on #15088
![Screenshot_20210407-164724.jpg](https://user-images.githubusercontent.com/12058428/113886425-f41d2d80-97c0-11eb-9ca0-04b574fb6832.jpg)

[2021-04-07 15:14] uranusjr commented on #9387
I briefly read related source, and it seems to me the main advantage would be to make sure the right values are passed the right value to SQLAlchemy, so `Literal` feels like a better solution.

[2021-04-07 15:37] XD-DENG commented on #15241
Hi @potiuk , the most recent fix for `apache.hive` was a docstring fix. I have marked it as test done.

[2021-04-07 17:11] uranusjr commented on #8687
I can’t seem to replicate this, The Gunicorn subprocess can’t be kiled immediately (this seems like a Gunicorn issue and not Airflow), but after the Gunicorn subprocess emits the *Can't connect to* log, Ctrl-C correctly makes it exit (and thus ending the parent Airflow process.

[code]

Pressing Ctrl-C while Gunicorn is still connecting also correctly sends a SIGINT (2) to Gunicorn, and makes it e

[2021-04-07 17:11] ernest-kr commented on #15179
Adding a chart feature to have a volume claim for logs as well just as how we have for DAGS. We might be able to change using this with extras as well

[2021-04-07 17:46] Dr-Denzy commented on #15179
I have been able to reproduce this and after reviewing the issue with @jedcunningham, we are of the opinion that this is not really a bug but more of a 'missing' feature in Airflow Helm chart stemming from how task instance logs are handled.

[2021-04-07 18:06] potiuk commented on #15241
Thanks!

It is mostly about testing the part you added/modfied. We do not (yet) have automated system testing of everything so this is mosty about verification if the change you've done works as expected.

[2021-04-07 18:12] potiuk opened #15255 "[QUARANTINED] TestSchedulerJob.test_scheduler_keeps_scheduling_pool_full is flaky"
For example here:

https://github.com/apache/airflow/runs/2288380184?check_suite_focus=true#step:6:8759

[code]

[2021-04-07 18:21] dimberman commented on #13522
@kaxil did we ever merge this into the cncf backport provider?

[2021-04-07 19:13] avenkatraman commented on #13542
We're running into a similar problem on Airflow 1.10.14 with the Celery executor. We aren't running anything on k8s infra. We already have reboots of our scheduler every 5m and that didn't help. The problem did eventually seem to go away on its own but we have no idea how long it was like this.

180 slots in the default_pool, 0 used, 180 queued.

[2021-04-07 19:40] ankh6 commented on #11851
@kaxil
I ran pre-commit hooks before submitting a PR. Hooks exited with status code 1.
It seems to be linked to the compiler. Can you confirm ? How can I resolve it ?
Here's the stack trace:
n unexpected error has occurred: CalledProcessError: command: ('/home/andy/.cache/pre-commit/repoqtbnjhpl/py_env-python3/bin/python', '-mpip', 'install', '.')
return code: 1
expected return code: 0
stdout:

[2021-04-07 19:42] potiuk commented on #15249
Yep. You should use constraints. Closing as invalid.

[2021-04-07 19:42] #15249 closed

[2021-04-07 20:04] jedcunningham opened #15259 "Scheduler livenessprobe and k8s v1.20+"
Pre Kubernetes v1.20, exec livenessprobes `timeoutSeconds` wasn't functional, and defaults to 1 second. The livenessprobe for the scheduler, however, takes longer than 1 second to finish so the scheduler will have consistent livenessprobe failures when running on v1.20.

[code]

https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/#configure-probes

[2021-04-07 20:06] jedcunningham commented on #14261
@marclamberti, @madden1706, I believe the livenessprobe `timeoutSeconds` and kube v1.20 is the culprit here. I've open #15259 to address it.

[2021-04-07 20:06] bicepjai commented on #12959
I face the same issue. solutions suggested [here](https://godatadriven.com/blog/the-zen-of-python-and-apache-airflow/) for skipping execution of tasks; creates
[code]
using airflow version `1.10.10`

[2021-04-07 20:31] cah-scott-spare opened #15260 "Documentation - MySQL Connection - example contains a typo"
**What happened**:
There is an extra single quote after /tmp/server-ca.pem in the example.
[MySQL Connections](https://airflow.apache.org/docs/apache-airflow-providers-mysql/stable/connections/mysql.html)

Example “extras” field:

{
   "charset": "utf8",
   "cursor": "sscursor",
   "local_infile": true,
   "unix_socket": "/var/socket",
   "ssl": {
     "cert": "/tmp/client-cert.pem",
     **"ca":

[2021-04-07 20:52] bbovenzi opened #15261 "Changing datetime will never show task instance logs"
This is an extension of #15103

**Apache Airflow version**: 2.x.x

**What happened**:

Once you get to the task instance logs page, the date will successfully load at first. But if you change the time of the `execution_date` from the datetimepicker in any way the logs will be blank.
The logs seem to require exact datetime match, which can be down 6 decimal points beyond a second.

**What you expec

[2021-04-07 21:05] #15103 closed

[2021-04-07 21:57] kaxil commented on #11851
@ankh6 What OS are you using, you might want to check https://stackoverflow.com/questions/60509336/fatal-error-python-h-no-such-file-or-directory-python-levenshtein-install

[2021-04-07 22:20] #9963 closed

[2021-04-07 22:32] kaxil commented on #13522
@dimberman You should be able to check it here: https://pypi.org/project/apache-airflow-backport-providers-cncf-kubernetes/#release-202133

https://github.com/apache/airflow/commits/backport-providers-2021.3.3/airflow/providers/cncf/kubernetes

That shows that both https://github.com/apache/airflow/commit/d4c4db8a1833d07b1c03e4c062acea49c79bf5d6#diff-b844df9db37ed0d5a4a081fa659ad506c5f07cc0764b254

[2021-04-08 00:51] kaxil commented on #14422
I think this happened in 2.0.1 mainly because of the following traceL

When you delete the POD, the KubernetesExecutor executes the following:

1)
https://github.com/apache/airflow/blob/beb8af5ac6c438c29e2c186145115fb1334a3735/airflow/executors/kubernetes_executor.py#L195-L200

i.e. it tried to reschedule your POD as evident by the logs in the Issue description too.

2)

Which then executes the fo

[2021-04-08 01:31] ephraimbuddy commented on #14422
Thanks @kaxil, I'll update my PR

[2021-04-08 01:34] odajun commented on #15198
@potiuk Thank you for your support.

After installing ```apache-airflow-backport-providers-http==2021.4.10rc2``` in my environment, SimpleHttpOperator worked fine and I did not have any problems.

[2021-04-08 03:08] jhtimmins commented on #14976
@imamdigmi when I tail `scheduler/latest/sla_dag.py.log` I can see the expected information getting logged. What file are you logging out?

Can you check what your logging level is too? You can check the root logger at `logging.root.level`. It's possible that it's set too low.

[2021-04-08 03:56] shentlu opened #15268 "Airflow UI display error"
Has everyone met airflow UI display error with browser cache? Is it a bug? Thanks.

[2021-04-08 04:20] ShakaibKhan commented on #12469
Hey,
I wanted to try implementing this. Still getting familiar with Airflow and was wondering what information to display (provider package names and versions?) and where to put the page under (Browse?).

[2021-04-08 06:58] jacobhjkim opened #15269 "Update GoogleAdsHook to authenticate via OAuth2"
**Description**
Currently, GoogleAdsHook only supports the `service account authentication flow`. It would be nice to have a way to authenticate with `OAuth2 installed application flow`.

**Use case / motivation**
[AdWords API Doc](https://developers.google.com/adwords/api/docs/guides/authentication#an_alternative_to_service_accounts)

To quote Google, service account flow is a hassle, and they re

[2021-04-08 08:17] XD-DENG commented on #15268
Please provide more information, like your setting up/configuration/environment. Trackback/logs/screenshots would be helpful.

[2021-04-08 08:31] Swalloow commented on #14728
if no one assigned, I will try it.
We need a sidecar container image to use for our example. (s3-sync, gcs-sync)
Should images be included in chart/dockerfiles?

[2021-04-08 08:33] mik-laj commented on #14728
It's a good idea to add them there, but it's not necessary.

[2021-04-08 08:36] shentlu commented on #15268
For example, i uploaded an updated DAG(to change schedule interval) to airflow linux server, but airflow WEB UI page shows overdue data about this DAG. Then i need to clear cache and refresh the page so that it will show the real-time data about this DAG.

[2021-04-08 08:56] Yuvaneshnm opened #15271 "When retrieving connections from AWS secret manger emr_hook.py should convert strings to their expected format"
**Description**

When we try to use AWS secret manager as backend to store airflow connections(in URI format), Our DAG fails with error
**Error:**
{{emr_create_job_flow_operator.py:66}} INFO - Creating JobFlow using aws-conn-id: AWS-S3-TCDS, emr-conn-id: AWS-EMR-TCDS-AGG-HOURLY-STG
[2021-04-02 18:41:19,041] {{taskinstance.py:1150}} ERROR - Parameter validation failed:
Invalid type for parameter Ap

[2021-04-08 10:11] #15193 closed

[2021-04-08 10:58] cris-b opened #15273 "Airflow 1.10.15 pulls in sqlalchemy 1.4.6 which breaks it"
**Apache Airflow version**: 1.10.15

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **OS** (e.g. from /etc/os-release): Redhat 8.3

**What happened**:

Installed airflow with pip, it picked up sql alchemy 1.4.6 as a dependency.

This causes airflow to fil to run as flask-admin 1.5.4 is not compatible with sqlalchemy 1.4.  flask-admin 1.5.6 is how

[2021-04-08 11:09] #15260 closed

[2021-04-08 11:12] kaxil commented on #14728
I would like to keep this a bit simpler and allow extra sideCar containers and add example of how someone can use GCS or S3 to sync instead of adding all cloud-specific containers here

[2021-04-08 11:42] eladkal commented on #15273
Duplicate of https://github.com/apache/airflow/issues/14811

[2021-04-08 11:42] #15273 closed

[2021-04-08 11:53] thejens commented on #13542
We observe the same, I set up a dag that clears these tasks automatically by checking how long they've been queued (though this might sometimes get stuck itself, however that's resolved by restarting the scheduler frequently).

This also happens to sensors in "up_for_reschedule" by the way. I think it has something to do with a lot of dags/tasks triggering at the same time, we have a lot happening

[2021-04-08 12:21] iwanbolzern commented on #9975
Hi all,
What's the current status of this issue? It seems as we are facing exactly this behavior. I will shortly try to explain our use case:
We have a daily job to import new data and the last task of this job is to clear the dags from the previous 30 days to check if some data from the previous days has changed. And instead of processing day by day (as I would expected because of max_active_run=

[2021-04-08 12:59] pushkinsk44 opened #15275 "Airflow 2.0.1 Security configure permission on button Import Variables"
**Description**

Add the ability to set permission for the "Import Variables" button

**Use case / motivation**

For example, in production environment, some users need to look at variables
but they shouldn't have the right to change anything about them
if you add permission to view variables to the Viewer role, then the Import Variables button is active for users and using it they can change vari

[2021-04-08 13:06] zachliu commented on #9975
@iwanbolzern wow, this is an interesting way of dealing with data restatement :joy:
in our case, a daily data ingestion always ingests the past 30 days of data and overwrites whatever that has already been there
so that we are less dependent on a broken feature like this

[2021-04-08 13:31] iwanbolzern commented on #9975
@zachliu You're right it's an "interesting" but super handy way. This way, you can simply focus on writing the job for one day and because we do not have any inter day dependencies there is no need for having any for loops in your code 😉. And you also see on the first glance, for which day the restatement was successful.

[2021-04-08 13:47] zachary-naylor commented on #15116
It would appear they heard you; Flask's PR 3412 has since been merged with the asyncio support.

I have been trialing several env vars and setting ```AIRFLOW__CORE__EXECUTE_TASKS_NEW_PYTHON_INTERPRETER: 'True'``` results in the recursion errors disappearing with eventlet worker tasks executing; suggesting an issue around the ```celery_executor._execute_in_fork``` function.

However, whilst eventle

[2021-04-08 13:56] jedcunningham commented on #14422
(1-3) only comes into play before the container actually starts so there is nothing to signal (and subsequently no way for the worker to run `on_failure_callback`), otherwise the I think the analysis of (4) is on the right track.

[2021-04-08 14:05] GuillaumeDesforges commented on #15119
You seem to be referring to [this](https://airflow.apache.org/docs/apache-airflow/stable/_api/airflow/models/index.html#airflow.models.DAG.cli)?

In order to use this command, I need to hard-write in my code which DAG to use, when my script generates a lot of them. I do not want to write which dag should be tested to the git history, when it changes frequently.

[2021-04-08 14:25] ryanahamilton commented on #13158
@hedrickw I've opened #15277 to remove the support of `APP_THEME` going forward. Please offer up any feedback if you don't believe this is the best course of action.

[2021-04-08 14:26] hedrickw commented on #13158
I think that's the correct course of action!

[2021-04-08 14:37] kaxil commented on #14422
(1) will get executed when a task is deleted no? That matches the logs from OP that says the Task is marked as Reschedule from Kubernetes Executor evens point of view. Or are you just talking about the `on_failure_callback` ?

[2021-04-08 14:42] zachliu commented on #9975
@iwanbolzern indeed very handy. i'll do it once this has been fixed :rocket:

[2021-04-08 14:57] jedcunningham commented on #14422
Only when a _pending_ pod is deleted. Once it is running it won't fall into that reschedule logic. I don't quite know how the OP was able to get both the traceback from the worker and the reschedule logic from the same run. I think the scheduler log is the piece that doesn't fit and must have been grabbed from deleting a pending pod, not a running one.

[2021-04-08 15:08] ephraimbuddy commented on #14422
The fix I provided resolved it but I'm close to getting another one out.

When the pod is killed, the task instance state is 'running' and AirflowException is raised too, what I'm doing now is to set this to failed and call the `handle_failure_with_callback` method.

[2021-04-08 15:10] pavelhlushchanka opened #15279 "Error on logging empty line to Cloudwatch"
**Apache Airflow version**: 2.0.1

**Environment**:

- **Cloud provider or hardware configuration**: AWS

**What happened**:
I have Airflow with Cloudwatch-based remote logging running. I also have `BashOperator` that does, for example, `rsync` with invalid parameters, for example `rsync -av test test`. The output of the `rsync` error is formatted and contains empty line. Once that empty line is l

[2021-04-08 15:15] cadet354 opened #15280 "Incorrect handle stop DAG when use spark-submit in cluster mode on yarn cluster. on yarn"
**Apache Airflow version**: v2.0.1

**Environment**:

- **Cloud provider or hardware configuration**:
- bare metal
- **OS** (e.g. from /etc/os-release):
- Ubuntu 20.04.2 LTS (GNU/Linux 5.4.0-65-generic x86_64)
- **Kernel** (e.g. `uname -a`):
- Linux 5.4.0-65-generic #73-Ubuntu SMP Mon Jan 18 17:25:17 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux
- **Install tools**:
- miniconda
- **Others**:
- python 3.

[2021-04-08 16:18] andrewgodwin commented on #9387
Yeah, after having done some exploratory coding here, it's basically going to require a big separate Literal type that probably duplicates a lot of the values. I'll draw it up, but we can see if it's worth it in the PR discussion.

[2021-04-08 16:31] jedcunningham commented on #15279
Are you on the latest version of watchtower? Sounds like they should be ignored now: kislyuk/watchtower#43

Either way, I'm not sure Airflow should be responsible for skipping/replacing empty lines.

[2021-04-08 16:33] uranusjr commented on #15279
Airflow currently pins watchtower to `~=0.7.3`, so the fix (only available in 1.x, I believe) cannot be used in this context.

[2021-04-08 16:38] jedcunningham commented on #15279
Ah, good catch. @codenamestif, would it be possible for you to test 1.x in your environment? I suspect there wasn't an issue, just no one has tried it.

[2021-04-08 16:39] uranusjr commented on #15261
Another semi-related issue is the datetime picker currently shows the local time, but the logs are in UTC, resulting in quite unintuitive behaviour. Personally I feel removing the datepicker is a good solution.

[2021-04-08 16:41] uranusjr commented on #15248
I plan to look into this.

[2021-04-08 17:28] #15107 closed

[2021-04-08 17:44] json2d opened #15286 "use PythonVirtualenvOperator with a prebuilt env"
**Description**
Instead of passing in the requirements and relying Airflow to build the env, in some cases it would be more straightforward and desirable to just make Airflow use a prebuilt env.

This could be done with `PythonVirtualenvOperator` with a param like `env_path`.

**Use case / motivation**

[code]
**Are you willing to submit a PR?**

Perhaps

**Related Issues**

[2021-04-08 17:46] fhoda commented on #15241
@potiuk I tested mine.

[2021-04-08 17:50] uranusjr commented on #15286
Hi, could provide more context to the issue? Why do you want this feature? Is the current virtualenv approach not working? Are there technical advantages to the built-in `venv` over `virtualenv`?

From my understanding, virtual environments created by `virtualenv` should be technically identical to those created by `venv`, but `virtualenv` provides much better configurability and performance chara

[2021-04-08 17:52] json2d commented on #15286
hey @uranusjr yeah sorry i hit submit by accident there

[2021-04-08 18:00] ranamit112 commented on #12545
Is there a plan to change the published constraints file for 1.10.12 so that it would be installable with the constraint file as recommended? (https://github.com/apache/airflow/blob/constraints-1.10.12/constraints-3.7.txt)
I tried installing with python3.7 and had the same error as OP and changing `docutils==0.16.0` to `docutils==0.15.2` or just dropping that specific constraint like fixes the pip

[2021-04-08 18:02] uranusjr commented on #15286
I wonder if this should be made more generic as a new operator that can take *any* Python installation prefix (e.g. `/home/uranusjr/.local/my-custom-compiled-python`)

[2021-04-08 18:11] potiuk commented on #12545
No plans. But you can easily copy the file locally, modify and use it as you wish locally instead of taking it from the remote:

[code]

[2021-04-08 18:16] potiuk commented on #12545
BTW. I would not recommend going to 1.10.12 as an intermediate step. There is no reason to do it I think. While there are a number of deprecated things in 1.10.14 (or rather 1.10.15 now), the deprecated functionality continue to work there. So I would strongly encourage you to upgrade straight to 1.10.15.

[2021-04-08 18:22] iwanbolzern opened #15287 "Error in WASB logging - string not proper encoded before upload"
**Apache Airflow version**: 2.0.1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
Server Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.14", GitCommit:"5de7fd1f9555368a86eb0f8f664dc58055c17269", GitTreeState:"clean", BuildDate:"2021-01-18T09:31:01Z", GoVersion:"go1.13.15", Compiler:"gc", Platform:"linux/amd64"}

**Environment**: TEST

- **Cloud provid

[2021-04-08 18:23] potiuk commented on #12469
Same as displayed in `airflow providers` CLI. And I think it is in the same menu where Plugins are :). Sounds very appropriate.

[2021-04-08 18:26] eladkal commented on #15280
@cadet354 If you have the fix you can just open a PR :)

[2021-04-08 19:01] ephraimbuddy commented on #15287
What version of `apache-airflow-providers-azure` are you using?

[2021-04-08 19:02] json2d commented on #15286
i agree

this could work, though in my experience one disadvantage with `BashOperator` vs `PythonOperator`/`PythonVirtualenvOperator` is that it only provides limited logging in Airflow for errors

[2021-04-08 19:07] alexInhert opened #15289 "reporting deprecated warnings saw in breeze"
when working with breeze I saw these warnings many times in the logs:

[code]

[2021-04-08 19:12] iwanbolzern commented on #15287
Ohh thanks for the hint, it seems as if the docker image has preinstalled an old version of `apache-airflow-providers-microsoft-azure 1.1.0`. I will try upgrade to the latest version and check if the error still exists.

[2021-04-08 19:30] codenamestif commented on #15279
@jedcunningham I run airflow from the docker image based on `apache/airflow:2.0.1`. I installed `watchtower==1.0.6` under `airflow` user and `pip freeze` confirms it. However I still see the same error. Dunno exactly if this is a correct way to update the lib for the docker image.

[2021-04-08 20:11] benoua opened #15291 "Airflow Docker tutorial: Unhealthy container"
**Environment**:
MacOs
docker-compose version 1.27.4

**What happened**:
I am following Airflow in Docker [tutorial](https://airflow.apache.org/docs/apache-airflow/stable/start/docker.html?highlight=docker).

I did:
[code]

Then, when initialising the docker compose with `docker-compose up airflow-init` I received the following error:

[code]
Container 768fe436ac8e corresponds to postgre docker wh

[2021-04-08 20:21] ephraimbuddy commented on #15287
Alright, closing it, for now, let me know if you still get the error after updating

[2021-04-08 20:21] #15287 closed

[2021-04-08 20:27] potiuk commented on #15286
Just one comment - this fine, if you can make sure all your - distributed - venvs are present on all the workers (which might be tricky if you want to update those) - and you have to somehow link the "task" definition (expecting certain venv with certain requirement versions) with the "deployment" (i.e. worker definition). Any kind of "upgrade" to such an env might be tricky. The "local" installat

[2021-04-09 00:23] ravog opened #15294 "Feature "The scheduler won’t trigger your tasks until the period it covers has ended" be Optional"
**Description**

It would be great to have the option to disable the feature "The scheduler won't trigger your tasks until the period it covers has ended"

**Use case / motivation**

It is very difficult and confusing to add new DAGs and execute the tasks that are needed at the same time and not wait for the period to complete

[2021-04-09 00:51] #15261 closed

[2021-04-09 03:57] jedcunningham commented on #15279
To clarify, you did it in your image custom, not in an already running container, right? If so, then yeah that is the right way to test it. Bummer. Might be worth an issue over in the watchtower repo.

[2021-04-09 03:58] #15140 closed

[2021-04-09 06:13] imamdigmi commented on #14976
Hi @jhtimmins thank you for answering my question.
I check `logging.root.level` has value `20` is that too low? what level (number) should I use to show up the log of sla_miss_callback execution?

[2021-04-09 07:02] jhtimmins commented on #14976
Thanks for this info @imamdigmi. That lot level is fine, since 20 == info.

Can you share the exact log file you were looking in?

I’m curious about your deployment. Are you using straight Docker compose or Breeze (which uses Docker compose internally, iirc)? Are you comfortable sharing your Airflow.cfg file?

[2021-04-09 07:05] XD-DENG commented on #15294
I don't very well get your use case here. May you please clarify a bit more? Thx.

[2021-04-09 08:17] codenamestif commented on #15279
@jedcunningham no, it wasn't a running container. I updated my image and started a new application. I also see in build logs:
[code]
So i assume i updated the lib properly and still see the error.

[2021-04-09 08:23] potiuk commented on #15241
Hello everyone here - I'd appreciate more feedback on those provoders :)

[2021-04-09 08:56] hussainsaify commented on #9583
@sk2991 were you able to solve this using a more cleaner method than shared above?

[2021-04-09 10:23] shizidushu commented on #15241
@potiuk Do you mean use the operator to check if there is any problem? In this case, I will do it.

[2021-04-09 11:22] raphaelauv opened #15303 "1.10.14 Webserver : webserver launch crash without failling"
**Apache Airflow version**: 1.10.14

**Environment**:  docker -> FROM python:3.6.8

**What happened**:

the webserver at launch crash but do not stop the process. So the container stay up , until I restart

**What you expected to happen**:

The process should fail and stop

**How to reproduce it**:

When I run **docker-compose up -d** it launch

1 container for the backend database ( postgre 13.1)

[2021-04-09 11:30] kaxil commented on #15291
Can you clean up and try again please

[code]

[2021-04-09 11:31] potiuk commented on #15241
yep :)

[2021-04-09 11:42] mzaforas commented on #15241
Hi @potiuk I have tested docker operator, it works as expected :)

Note that I have to applied the workaround described here https://github.com/apache/airflow/issues/13487 to test docker operator because I was getting and issue related to xcom serialization with Docker Operator. This issue is independant of my changes and I saw there is another PR to fix it.

Thanks!

[2021-04-09 12:51] Miksu82 commented on #13242
What about showing only the task groups (and tasks that are not in any group) in the tree view and then when the task group is clicked (or hovered over) it shows the tasks belonging to that task group.

So the tree view would only show.

[code]

would that simplify the implementation?

[2021-04-09 13:08] benoua commented on #15291
Thank you for your help. I have tried it but still the same result.

[code]

[2021-04-09 13:25] marcosmarxm commented on #15241
@potiuk I tested mine, it works

[2021-04-09 14:24] lfreina opened #15305 "KubernetesExecutor Airflow 2.0.0 different AirflowExceptions and tasks not getting scheduled"
**Apache Airflow version**:
``

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
[code]

**Environment**:

- **Cloud provider or hardware configuration**: AWS
- **Others**:  Building my own docker image with the official documentation with Python 3.6

[code]

**What happened**:

The tasks are not getting scheduled. In order to try the scheduler I did a simple DummyOper

[2021-04-09 14:28] shizidushu commented on #15241
@potiuk Just tested mine, it works.

[2021-04-09 15:17] john-jac opened #15306 "Support Serialized DAGs on CLI Commands"
**Description**

CLI commands such as backfill and list_dags currently parse dags before executing.  This introduces 2 primary issues. 1) That parse process can be time consuming, and 2) It will not work if running on a web server that does not have access to DAGs and/or their respective Python libraries or Airflow plugins.

**Use case / motivation**

By providing users an option to use serialized

[2021-04-09 15:28] #15289 closed

[2021-04-09 15:31] xinbinhuang commented on #15289
The first 2 warnings are due to external dependencies that we have no control over. we can't too much until the upstream library fix/update their dependencies

[2021-04-09 16:21] eladkal commented on #15269
@jacobhjkim assigned to you

[2021-04-09 17:57] #14115 closed

[2021-04-09 18:17] jedcunningham commented on #15294
[AIP-39](https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-39+Richer+scheduler_interval) will do this when it is finished with the (currently named) `CronTimetable` class.

[2021-04-09 20:28] zachliu commented on #14260
oh no, very sad to see this :bug:
once this is fixed :crossed_fingers: i'll be able to use the `ExternalTaskSensor` and `ExternalTaskMarker` in the same DAG to achieve something like a "task reference" which allows me to control multiple parts in different DAGs using another DAG.

[2021-04-09 20:36] jedcunningham commented on #9090
This is no longer an issue in 2.0. Start and end date are both populated both on task instance details and in "Browse -> Task Instances". This can be closed.

[2021-04-09 21:57] josevnz opened #15312 "Docker image 2.0.1 is broken (docker-compose up airflow-init fails)"
**Apache Airflow version**: 2.0.1

**Environment**:

- **Cloud provider or hardware configuration**: Intel(R) Core(TM)2 CPU         T5600  @ 1.83GHz
- **OS** (e.g. from /etc/os-release): Fedora release 30 (Thirty)
- **Kernel** (e.g. `uname -a`): Linux macmini2 5.6.13-100.fc30.x86_64 #1 SMP Fri May 15 00:36:06 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
- **Install tools**: docker-ce 19.03.12

**What h

[2021-04-09 22:43] dsynkov commented on #15241
@potiuk Tested just now with Spark 3.0.1 on EMR 6.2.0. Thanks!

[2021-04-09 22:56] #9090 closed

[2021-04-09 23:04] #15280 closed

[2021-04-10 00:01] jedcunningham commented on #8609
I'll be fixing this as part of #15311.

[2021-04-10 07:31] mik-laj commented on #15291
Do you have enough resources to run all containers?

[2021-04-10 07:54] imamdigmi commented on #14976
Hi @jhtimmins thank you for your help and clear information regarding this, now I can see the logs of the executed callback function, previously I only monitor the logs in the scheduler, but after you told me to see the logs in that file I can see what I expected and the callback function is executed properly.

Now I'm closing the issue.

[2021-04-10 07:54] #14976 closed

[2021-04-10 07:59] jhtimmins commented on #14976
Awesome, thanks for the update @imamdigmi. I'm glad to hear it worked out!

[2021-04-10 08:42] laurikoobas commented on #13542
I ran into the same issue and it was none of these causes. What I figured out and what fixed it was that I ran the Celery Flower (it runs on port 5555, run it by "airflow celery flower" command). And from there I could see all the celery workers that were in the pool of workers. There was some there that I didn't expect - apparently I had a temporary/testing setup of Airflow running against the sa

[2021-04-10 09:19] potiuk commented on #15241
Hey everyone. Thanks to all who've already smoke-tested 9 of those providers :). We are progressing :)

While it is not necessary and is not a blocker, I'd love to get at least some thumbs-up for just a basic testing of the changes for the remaining providers. We can't test them ourselves as we have no external services, but I thin it's much for you just installing it at whatever you have them and

[2021-04-10 09:44] akrava commented on #15241
@potiuk I've tested mine, it works.

[2021-04-10 11:06] ephraimbuddy commented on #13542
I observed this again last night and the reason was image pull error inside the pods.

When there's image pull error, the pod is still in 'Pending' phase and airflow sees it as such therefore tasks stay queued.

The kubernetes pod watcher does not watch the containers inside the pods. It watches only the pods and report the status as pending therefore tasks are queued.

After much digging, the onl

[2021-04-10 13:10] potiuk commented on #15241
Thanks @akrava !

[2021-04-10 13:17] #15198 closed

[2021-04-10 13:44] potiuk commented on #15198
Released :)  https://pypi.org/project/apache-airflow-backport-providers-http/2021.4.10/

Thanks again @odajun for both reporting and testing. We need more users like you.

[2021-04-10 13:48] potiuk commented on #15198
And as @kaxil mentioned - if this was a blocker to migrate to 2.0, you are unblocked now! And please migrate ASAP. You won't regret!

[2021-04-10 14:15] sschaetz commented on #15241
@potiuk I tested the GCS timespan transform operator, it works.

[2021-04-10 14:16] benoua commented on #15291
I have a macbook pro with 16G RAM + 40G free disk. Should be enough ?

[2021-04-10 14:24] mik-laj commented on #15291
It depends on your docker configuration. See: http://apache-airflow-docs.s3-website.eu-central-1.amazonaws.com/docs/apache-airflow/latest/start/docker.html section. Before begin

[2021-04-10 14:31] potiuk commented on #15312
I cannot reproduce it Everything works fine for me.

For me it looks like if you have - most likely - very very old host machine (I understand this is macmini is really old and has no AVX instructions supported. If your mac mini was released in 2006/2007 it has Core Solo processor, that has no AVX support I am afraid and it is old enough for us to not worry about it.

Here is the root cause:

[cod

[2021-04-10 14:31] #15312 closed

[2021-04-10 14:39] potiuk commented on #15241
Thanks @sschaetz !

[2021-04-10 15:11] josevnz commented on #15312
Hello,

Thanks for looking into this. Yes, this is a very Very VERY old machine where I managed to get Fedora running. I tried on a much more recent hardware and the containers work as expected.

For example, this are the flags of a much newer CPU (AMD Ryzen 5 3550H with Radeon Vega Mobile Gfx, 2100MHz 64 bits)

[code]

You are right. I managed to run Airflow on bare-metal and without the Celery e

[2021-04-10 19:34] potiuk commented on #15241
I have enough votes to release, but if anyone else would still come back with some smoke test results during the weekend - I'd appreciate it :)

[2021-04-10 19:40] kaxil commented on #11979
closed by https://github.com/MeilleursAgents/airflow/pull/5

[2021-04-10 20:57] kaxil commented on #13542
https://github.com/apache/airflow/pull/15263 will add a POD pending timeout which should help with the case similar to what @ephraimbuddy had

[2021-04-10 21:11] SangwanP commented on #15241
@potiuk -- I tested the Hashicorp fix, it works as expected.

[2021-04-10 22:09] kaxil commented on #10623
closed by https://github.com/apache/airflow/pull/10630

[2021-04-10 22:10] #10623 closed

[2021-04-10 23:10] kaxil opened #15315 "Improve message after Airflow is installed with Helm Chart"
Currently we get the following message when Airflow is installed with the Helm Chart.

[code]

This is defined in https://github.com/apache/airflow/blob/master/chart/templates/NOTES.txt

We should include the following instructions too:

- Get Username and Password to access Webserver if a default `.Values.webserver.defaultUser.enabled` is `true`
- Provide kubectl command to get values for
   - Fe

[2021-04-11 00:13] #13967 closed

[2021-04-11 00:13] #13671 closed

[2021-04-11 06:39] alexInhert opened #15318 "Add CLI to delete roles"
Currently there is no option to delete a role from CLI which is very limiting.
I think it would be good if CLI will allow to delete a role (assuming no users are assigned to the role)

[2021-04-11 07:48] ashishpatel0720 commented on #15245
testing completed
![image](https://user-images.githubusercontent.com/16856802/114296309-3ea3f000-9ac8-11eb-9742-70505aef3e24.png)

![image](https://user-images.githubusercontent.com/16856802/114296325-5ed3af00-9ac8-11eb-8b21-92a1a4a8c0e1.png)

![image](https://user-images.githubusercontent.com/16856802/114296320-5b402800-9ac8-11eb-95ee-4ced7305a6b7.png)

[2021-04-11 07:51] potiuk commented on #15241
Thanks @SangwanP

[2021-04-11 08:51] mik-laj commented on #15225
We added CORS support, so i think, we can close it.

[2021-04-11 08:51] #15225 closed

[2021-04-11 08:54] iwanbolzern commented on #15287
@ephraimbuddy Thx worked after update. Probably, one should update the official docker image accordingly?

[2021-04-11 11:51] kaxil commented on #15275
cc @jhtimmins

[2021-04-11 11:52] #14675 closed

[2021-04-11 11:56] #11982 closed

[2021-04-11 16:42] izhangzhihao opened #15319 "[Remote Logging] Support MinIO & Aliyun OSS & other storage"
**Description**

Support MinIO & Aliyun OSS & other storage

**Use case / motivation**

**Are you willing to submit a PR?**

**Related Issues**

[2021-04-11 16:50] potiuk commented on #12983
We can close this one. Introducing parallel building of docs solved this problem in entirely different way.

[2021-04-11 16:50] #12983 closed

[2021-04-11 17:53] blcksrx opened #15322 "Support WebHook Alerting"
**Description**
It's a good idea to have such a feature like we already have it `email_on_failure` also for webhooks that lets the users configured it once to alert in Slack, Mattermost, etc. I know it's possible to write a callback function and set the `on_failure_callback` but it needs to each user develop it for his/her goods. In addition, supporting this provides a better user experience

**Ar

[2021-04-11 17:55] blcksrx commented on #15319
I would like to make PR for creating MinIO Hook

[2021-04-11 23:34] thesuperzapper commented on #15259
I had to fix this for `stable/airflow` as well, all you need to do is increase `timeoutSeconds`, for example:
https://github.com/airflow-helm/charts/blob/airflow-8.0.6/charts/airflow/templates/scheduler/scheduler-deployment.yaml#L110

[2021-04-12 04:44] santhoshhpe commented on #9090
Thanks all for looking into this.

[2021-04-12 04:55] izhangzhihao commented on #15319
Or we could make `endpoint_url` of the s3 client configurable because our team is using the boto3 client to access Aliyun OSS.

[code]

[2021-04-12 07:26] iwanbolzern commented on #13805
Hi all,
Thank you for investigating into this. May I ask, when can we expect to have this fix released? Because it is preventing us from doing a manual backfill.

[2021-04-12 07:53] ephraimbuddy commented on #14974
@mrpowerus please can you give more detailed steps to reproduce this?

That said, I'm not Ok with your configuration.
These lines in your config
[code]
makes every task start pulling 2.0.1-python3.8 image afresh before they can create a container if `images.airflow.repository` and `images.airflow.tag` are configured differently. 2.0.1-python3.8 image takes a long time to be pulled and you can have

[2021-04-12 07:58] kakarukeys commented on #14167
Hi, I had the same problem.

It seems `KubernetesPodOperator`'s `name` argument cannot be used to overwrite `name` in the pod template.
and if I set `generateName` instead of `name`, I got the following errors:

[code]

[2021-04-12 08:28] potiuk commented on #15241
Last chance today to take a look :)

* amazon: @dstandish, @uranusjr @blcksrx @markhopson @Visya @JavierLopezT @mmoyses @ferruzzi https://pypi.org/project/apache-airflow-providers-amazon/1.3.0rc1/
* microsof.azure @gmcrocetti https://pypi.org/project/apache-airflow-providers-microsoft-azure/1.3.0rc1/
* salesforce: @jyotidhiman0610 https://pypi.org/project/apache-airflow-providers-salesforce/2.0.0r

[2021-04-12 08:35] molejnik-mergebit commented on #11086
Hello, I have similar problem. Any ETA on fixing this?

[2021-04-12 09:06] ecerulm opened #15325 "Custom XCom backends circular import when using cli command like airflow connections list"
**Apache Airflow version**: 2.0.1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

While running `airflow connections list` with a `xcom_backend = xcom.MyXComBackend` in `airflo

[2021-04-12 09:35] alexInhert opened #15326 "KubernetesPodOperator unclear error message when name is missing"
in KubernetesPodOperator the name parameter is mandatory.
However if you forget to add it you will get a broken dag message with:
![Screen Shot 2021-04-12 at 12 16 58](https://user-images.githubusercontent.com/62940116/114373136-f699d180-9b8a-11eb-8500-d8e7118650ae.png)

This is because
https://github.com/apache/airflow/blob/1dfbb8d2031cb8a3e95e4bf91aa478857c5c3a85/airflow/providers/cncf/kubernete

[2021-04-12 09:43] dstandish commented on #15241
Sorry @potiuk I have been a bit  swamped... my change was just changing log level from info to debug

[2021-04-12 10:24] uranusjr commented on #15241
The Amazon package looks right to me.

[2021-04-12 10:35] Overbryd commented on #13542
@ephraimbuddy no I do not have that issue.

When I try to observe it closely, it always goes like this:

* There are 3 tasks in the `mssql_dwh` pool. All of them have the state `queued`. Nothing is running. Nothing is started. The scheduler does not start anything new, because the pool has 0 available slots.
* Then I clear those 3 tasks.
* The scheduler immediately picks some tasks and puts them i

[2021-04-12 10:40] potiuk commented on #15241
Thanks @uranusjr !

Perfectly understand :). No problem

[2021-04-12 11:00] mik-laj commented on #15322
This looks like a feature that requires a discussion of the body format that we will be sending in request. Could you please prepare a document and then start discussions on the mailing list?

[2021-04-12 11:00] ephraimbuddy commented on #13542
When the tasks are queued and nothing is happening, can you describe the task pods and check what's happening inside. I feel something went wrong inside the pods containers. Please post what you got when you describe the pod here if you can replicate again

[2021-04-12 11:00] mik-laj commented on #15322
Related: https://github.com/apache/airflow/issues/14622

[2021-04-12 11:01] mik-laj commented on #14622
What do you think about webhook support? https://github.com/apache/airflow/issues/15322 Will this meet your business requirements?

[2021-04-12 11:04] eladkal commented on #15322
somehow related to https://github.com/apache/airflow/issues/8686

[2021-04-12 11:05] Overbryd commented on #13542
@ephraimbuddy ok. I have now set `AIRFLOW__KUBERNETES__DELETE_WORKER_PODS` to `False`. Let me see if I triggers again.

[2021-04-12 11:06] blcksrx commented on #15322
@mik-laj Thanks for your comment. I will do it

[2021-04-12 11:14] kaxil commented on #13805
The fix will be available in Airflow 2.0.2 -- which should be released in a week or so

[2021-04-12 11:29] iwanbolzern commented on #13805
Hi @kaxil, Thanks for getting back. In this case we will wait a few more weeks 😉

[2021-04-12 11:36] lromor commented on #14622
Yes, would be fine for us.

[2021-04-12 11:59] ephraimbuddy commented on #13542
Working out a solution that would check the container status when the pod is pending

[2021-04-12 12:08] #14394 closed

[2021-04-12 12:10] Overbryd commented on #13542
@ephraimbuddy I now found a failing case.

* Task remained in `queued` state
* The pod is in `Error` state. However, the error log is very strange, as it does not happen with other tasks of the same type (with the same codebase, nothing changed).

[code]

[2021-04-12 12:16] ephraimbuddy commented on #13542
Good info, similar to what I got this morning https://github.com/apache/airflow/issues/14974#issuecomment-817577477. Thanks for checking

[2021-04-12 12:19] sunkickr commented on #15241
@ptiuk -- I have attempted to "smoke tested" the snowflake connection. In
my local 2.0.0 airflow, values entered into the new Snowflake connection
form fields do not seem to save. They disappear after saving the
connection. I upgraded to 2.0.1(airflow) and everything works fine.  I do
not know why the new feature works in 2.0.1 and not in 2.0.0

On Mon, Apr 12, 2021 at 6:40 AM Jarek Potiuk ***@***

[2021-04-12 12:45] yuqian90 commented on #14260
Does anyone know why this code  needs to call `self.set_dag_runs_state` separately? If we simply remove the `self.set_dag_runs_state` call and leave `activate_dag_runs` as the default `True`, things will just work as expected.

[code]

[2021-04-12 13:04] uranusjr commented on #15325
The “ultimate” fix IMO would be to make the XCom class a proxy that’s lazily loaded instead (similar to [how Django loads the user class](https://docs.djangoproject.com/en/3.2/topics/auth/customizing/#django.contrib.auth.get_user_model)). But for a simple workaround, `airflow.hooks.base` only reference `Connection` once in `BaseHook.get_connection()`, so that’s a good place to break the cycle.

[2021-04-12 13:22] suxin1995 commented on #13542
i have some problem.
task always keep schedule status and canot  continue work.
for this,i restart  `airflow schedule ` process by use crontab script.
It's not good idea.but useful.

[2021-04-12 14:07] SamWheating commented on #15241
Hey there, I'm hoping to test my changes to the dataproc operators sometime today or tomorrow. The CNCF changes are harder to test as the issue in question only surfaces occasionally and only when running large workflows on a kubernetes cluster. In the original PR I did a pretty thorough test, I hope this will suffice.

While setting up my local environment to test the google provider, the initial

[2021-04-12 14:20] zachliu commented on #14260
@yuqian90 the fastest way to get an answer is to submit a PR to it
this issue hasn't been assigned to anyone nor to a milestone, seems to be low priority
submitting a PR could definitely raise some awareness and speed things up :grin:

[2021-04-12 14:40] ecerulm commented on #15325
If airflow was Python 3.7+ instead of Python 3.6+ we could change `airflow/models/xcom.py` so that instead of resolving the XCom backend right away it would be delayed until first use.

So instead of:
[code]

[code]

I'm going to try to use
[code]
if it works I'll create a PR

[2021-04-12 14:56] ecerulm commented on #15325
Well, it turns out it does not work `airflow.models.xcom.XCom` is used in `datamodel = AirflowModelView.CustomSQLAInterface(XCom)` for example that breaks if XCom is a Proxy object.

[2021-04-12 15:33] #12413 closed

[2021-04-12 16:27] uranusjr commented on #15325
I was thinking more about proxying the class itself, something like

[code]

There are other things that need consideration such as `__issubclass__` and `__isinstance__`, but it should be possible with the right tweaks to the code base. Whether that’s too much work, however…

[2021-04-12 16:34] haidernitc commented on #8907
Unfortunaltely, changing the working gunicorn to `gevent`  not helped me.

[2021-04-12 16:47] bbovenzi commented on #8431
Closing this issue as the bug is resolved. We will still try to improve the UX for Task Actions.

[2021-04-12 16:47] #8431 closed

[2021-04-12 16:52] blcksrx commented on #15319
It's great! cause MinIO is S3 compatible

[2021-04-12 16:59] #11704 closed

[2021-04-12 17:01] saveriogzz opened #15332 "SftpSensor w/ possibility to use RegEx or fnmatch"
**Description**

SmartSftpSensor with possibility to search for patterns (RegEx or UNIX fnmatch) in filenames or folders

**Use case / motivation**

I would like to have the possibility to use wildcards and/or regular expressions to look for certain files when using an SftpSensor.
At the moment I tried to do something like this:

[code]
And I call it by doing

[code]
where path is the folder conta

[2021-04-12 17:02] bbovenzi commented on #12185
Seems to be a duplicate of #12341 @kaxil do you agree?

[2021-04-12 17:07] kimyen commented on #15259
@thesuperzapper upgrading helm from 7.x to 8.x to get this value is a major change with consequences: https://github.com/airflow-helm/charts/blob/main/charts/airflow/UPGRADE.md#v715x--v800

We are not ready to commit to Python version upgrade and Airflow version upgrade. Major Airflow upgrade takes months for us. Can we have this patch in 7.x to expose this value?

[2021-04-12 17:10] blcksrx commented on #15319
@izhangzhihao Currently Its possible to use S3 compatible object storage. you have to create an S3 connection in airflow with these extra args:
[code]

[2021-04-12 17:11] blcksrx commented on #15319
@mik-laj Shall we provide tests for  MinIO & Aliyun OSS?

[2021-04-12 17:12] mik-laj commented on #15319
Yes. We can use minio to tests logging for S3-compatibile storage

[2021-04-12 17:45] blcksrx commented on #15322
I would like to present a new feature in airflow. It's a good idea to support webhooks triggers for notifying users about their tasks.
we can do it by providing it in a way that I could supports software like Slack, MatterMost, Discord, MS Teams. this software currently uses by a wide range of international users.
This feature provides a better UX for our users and also reduces efforts for every c

[2021-04-12 17:48] blcksrx commented on #15322
@mik-laj is this good?

[2021-04-12 18:47] potiuk commented on #15241
It was a bug fixed in 2.0.1 : https://github.com/apache/airflow/issues/13597 so all as expected! Thanks @sunkickr !

[2021-04-12 18:55] potiuk commented on #15241
Sure that's perfect. I am going to release it as is.

Very Good point. Usually we do not consider "dependency" changes as breaking (you generally find out when you try upgrade whether this is a problem or not). For the only "production" supported environment (linux) `plyvel` has binary releases available for manylinux: https://pypi.org/project/plyvel/#files so it should "just work" for those.

Thi

[2021-04-12 19:32] dsynkov opened #15335 "`PythonVirtualenvOperator` does not push to XCom from return in 2.0.1"
**Apache Airflow version**: 2.0.1

**What happened**:

I've edited the `pusher` / `puller` example DAG from https://github.com/apache/airflow/issues/12985 and am using the below example to test. I expect the value returned from the `pusher` tasked to be consumable by `puller` through XCom.

I've tested this DAG and the XCom works as expected in the `master` branch and `1.10.14` but not in `2.0.1`.

[2021-04-12 20:14] SevakAvetGD commented on #15001
I'd more towards modifying existing operator and making it accept list of prefixes.
Also, the expected behaviour is that poke() will return True only if all keys exist, right?
Would that be useful to have sort of any(..) (when at least one key exist) instead of all(..)?

Also, this can be implemented as such:
[code]

[2021-04-12 20:15] SevakAvetGD commented on #15001
I'd more towards modifying existing operator and making it accept list of prefixes.
Also, the expected behaviour is that poke() will return True only if all keys exist, right?
Would that be useful to have sort of any(..) (when at least one key exist) instead of all(..)?

Also, this can be implemented as such:
[code]

[2021-04-12 20:19] dsynkov commented on #12985
Sharing a few notes as I've run into this same issue:

* The [docs](https://airflow.apache.org/docs/apache-airflow/stable/howto/operator/python.html#pythonvirtualenvoperator) for `PythonVirtualenvOperator` address this:

* I'm not sure what the exact "incompatibilities" are, but searching for open issues mentioning `PythonVirtualenvOperator` there is https://github.com/apache/airflow/issues/7870 w

[2021-04-12 20:32] SevakAvet commented on #15001
I'd more towards modifying existing operator and making it accept list of prefixes.
Also, the expected behaviour is that poke() will return True only if all keys exist, right?
Would that be useful to have sort of any(..) (when at least one key exist) instead of all(..)?

Also, this can be implemented as such:
[code]

[2021-04-12 21:41] potiuk commented on #15241
Just adding more comments:
- I looked at microsoft.azure and the changes are fairly trivial - tested that azure_data_factory hook is there
-  salesforce provider includes tableu separation - it's been tested before but we have not released salesforce provider back then (copy&paste mistake)

[2021-04-12 21:41] potiuk commented on #15241
Thanks everyone. Preparing official release now.

[2021-04-12 21:41] #15241 closed

[2021-04-12 22:47] #15259 closed

[2021-04-13 00:14] #13393 closed

[2021-04-13 03:04] jhtimmins commented on #15318
@alexInhert can you share some info about why it's inconvenient to do this through the UI?

[2021-04-13 03:06] jhtimmins commented on #15306
@kaxil I'm not super familiar with DAG serialization, but I think this sounds reasonable. Are there any drawbacks to supporting this functionality?

[2021-04-13 03:27] thesuperzapper commented on #15259
@kimyen while not explicitly stated in the docs of the `stable/airflow` chart, you can use `8.X.X` chart versions with an older airflow/python version.

For example, the values to use `airflow 2.0.1` with `python 3.6`:
[code]

For example, the values to use `airflow 1.15.0` with `python 3.6`:
[code]

[2021-04-13 06:11] patsevanton opened #15340 "helm install airflow in namespace get error: File "<string>", line 32, in <module> TimeoutError: There are still unapplied migrations after 60 seconds"
**Apache Airflow version**:
`master git`

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
[code]
**Environment**:

- **Cloud provider or hardware configuration**:
Microk8s
- **OS** (e.g. from /etc/os-release):
VERSION="18.04.3 LTS (Bionic Beaver)"

**What happened**:
[code]

Log
[code]

Next line log
[code]

Full log
https://gist.github.com/patsevanton/0edd5571cf69aa5

[2021-04-13 06:16] patsevanton commented on #15340
**kubectl logs -n sdpcc airflow-webserver-86857b5969-sqkv6**
`Error from server (BadRequest): container "webserver" in pod "airflow-webserver-86857b5969-sqkv6" is waiting to start: PodInitializing`

[2021-04-13 06:16] patsevanton commented on #15340
**kubectl logs -n xxxxx airflow-postgresql-0**
[code]

[2021-04-13 06:17] patsevanton commented on #15340
**kubectl logs -n xxxxx airflow-scheduler-658d5d4454-r2sgl**
`error: a container name must be specified for pod airflow-scheduler-658d5d4454-r2sgl, choose one of: [scheduler scheduler-gc] or one of the init containers: [wait-for-airflow-migrations]`

[2021-04-13 06:21] patsevanton commented on #15340
**kubectl describe -n xxxxx pod airflow-scheduler-658d5d4454-r2sgl**
[code]

[2021-04-13 07:02] patsevanton commented on #15340
Same issue

[code]

[2021-04-13 07:36] RosterIn commented on #12985
I thought provide_context was removed from Python operators in Airflow 2?

[2021-04-13 07:51] patsevanton opened #15342 "Error: no repository definition for @stable when helm dependency update for tag 2.0.1"
Hello! Thanks for airflow!

[code]

**Error:**
`Error: no repository definition for @stable. Please add them via 'helm repo add'`

**git branch**
[code]

[2021-04-13 07:52] patsevanton commented on #15342
If use master - no error
**git checkout master**
[code]

**helm dependency update**
[code]

[2021-04-13 08:17] patsevanton commented on #15342
May be create new release/tag?

[2021-04-13 08:38] patsevanton commented on #15340
@mik-laj @kaxil Please view issue
Big thanks!

[2021-04-13 08:53] tothandor commented on #13542
I also have these symptoms with Airflow 2.0.1, though I am using a Celery executor.
I have inspected the workers with `strace` and it seems, that they're unable to read from some pipe:
[code]

If I check the file descriptors, it's gone missing:
[code]

And the parent process is unable to write to a socket:
[code]
And the socket as well is missing.
[code]
After killing the stucked workers things st

[2021-04-13 09:07] eladkal commented on #8766
@cmarteepants are you still working on this?
If you need some references you can check:
https://github.com/apache/airflow/pull/14724
https://github.com/apache/airflow/pull/15159

[2021-04-13 09:45] uranusjr commented on #12985
It was, and what `provide_context` provides is now generally always available. So this issue (in 2.0) is more about there is no way to expose `ti` to the callable run by a `PythonVirtualenvOperator`.

[2021-04-13 11:13] eladkal commented on #15005
We already have that method in the hook:

https://github.com/apache/airflow/blob/1a85ba9e93d44601a322546e31814bd9ef11c125/airflow/providers/google/cloud/hooks/gcs.py#L776-L793

[2021-04-13 12:39] ashb commented on #14515
There is currently no such feature of an "infinite" pool, so this is not a bug but a feature request. A sensible one, but a new feature none-the-less

[2021-04-13 14:28] patsevanton commented on #15340
What time need for wait-for-airflow-migrations ? Thanks!

[2021-04-13 16:01] Giuzzilla opened #15349 "Postgres connection URI incompatible with SQLAlchemy >= 1.4.0b1"
**Apache Airflow version**: 2.0.1 (possibly any?)

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): N/A

**Environment**: Any

- **Cloud provider or hardware configuration**: Any
- **OS** (e.g. from /etc/os-release): Any
- **Kernel** (e.g. `uname -a`): Any
- **Install tools**: Any
- **Others**: Any

**What happened**:

From SQLAlchemy version 1.4.0b1, [SQLAlchemy remov

[2021-04-13 16:12] kaxil commented on #15340
Check the logs of `run-airflow-migrations` container in `{{ .Release.Name }}-run-airflow-migrations`

`wait-for-airflow-migrations` just waits for the migration to be run.

https://github.com/apache/airflow/blob/6e31465a30dfd17e2e1409a81600b2e83c910036/chart/templates/migrate-database-job.yaml

[2021-04-13 16:16] jdotjdot commented on #13805
We're actually running into this issue just running the `CeleryKubernetesExecutor` without doing backfill at all. Same issue as airflow-helm/charts#114.

[2021-04-13 16:20] uranusjr commented on #15286
I thought about this a bit and feel there are two things here to consider. The first is the overhead for `PythonVirtualenvOperator` to populate the virtuale environment, which (as mentioned above) should be solved by introducing some caching mechanism, something similar to how CI caches stuff between runs. This is very much worth doing.

There is another use case surrounding `PythonVirtualenvOpera

[2021-04-13 16:36] uranusjr commented on #15349
Duplicate to #14811.

[2021-04-13 18:08] blcksrx commented on #15332
You can use the wildcard in SFTPSensor

[2021-04-13 18:13] Giuzzilla commented on #15349
I saw #14811 before opening this but I thought it might be worth it to open a separate issue as it's a bit different, even if they are both caused by SQLAlchemy 1.4.

#14811 was fixed by pinning SQLAlchemy in Airflow requirements, but #14812 doesn't help here.
This is impacting jobs that are not sharing Airflow dependencies, e.g. custom docker images ran with the Kubernetes Pod Operator or Docker

[2021-04-13 19:08] StartedFromTheButton opened #15353 "Some more information regarding custom view plugins would be really nice!"
**Description**
Some more information regarding custom view plugins would be really nice

**Use case / motivation**
I have created a custom view for airflow which was a little tricky since the Airflow docs are quite short and most of the information in the www is out of date.
Additionally the only example cannot simply be copied and pasted.
Maybe one example view would be nice or at least some mor

[2021-04-13 19:21] jedcunningham commented on #14919
@kurtqq, would you be interested in opening a PR for this? If not, would you be willing to test it (assuming you have an easy way to reproduce it)?

[2021-04-13 19:30] StartedFromTheButton commented on #15353
I would really like to contribute! This sounds like a good starting point. Even if it's only a section about implementing the airflow layout

[2021-04-13 19:52] harvetech opened #15354 "Error on DAG deletion : AttributeError: type object 'Base' has no attribute '_decl_class_registry'"
Whenever I try to delete a dag I get the following error. It seems like a version mismatch in flask-sqlalchemy

Python version: 3.7.10
Airflow version: 2.0.1
Node: jupyter-gpuaccel.zolitron.com
-------------------------------------------------------------------------------
Traceback (most recent call last):
  File "/root/anaconda3/envs/airflow_env/lib/python3.7/site-packages/flask/app.py", line 24

[2021-04-13 19:59] quoc-t-le opened #15355 "MysqlHook Utf8mb4"
I cannot get a clean emoji sending over to the target...

Converting source mysql database to utf8mb4...when I tell airflow to use utf8, the emojis are moved from source to target with '?'; when i updated to use utf8mb4, the emoji in target comes back as \ud83e\udd70;

![image](https://user-images.githubusercontent.com/5314630/114612201-d3951d80-9c6f-11eb-831d-46811106a54e.png)

might need to set

[2021-04-13 21:34] vshabarish commented on #14252
we also have the same issues on Airflow 1.10.10, Python 3.6. This is happening only on few dags the clear function is not working anymore. Can we try to fix the issues? And it is super important for our Production environments

[2021-04-13 21:36] RNHTTR opened #15356 "Link to provider package documentation/source code for providers maintained outside of Airflow GitHub"
**Description**

I think it'd be helpful to have a block in the [documentation](https://airflow.apache.org/docs/) that links to airflow providers that exist outside of the airflow repository (e.g. [Great Expectations](https://github.com/great-expectations/great_expectations) or [airflow-dbt](https://pypi.org/project/airflow-dbt/) if that is ever converted into an Airflow provider package)

**Use c

[2021-04-13 21:46] pdavis156879 opened #15357 "EmrAddStepsOperator: (...).S3AFileSystem not found in basic python file"
Airflow Version: 1.10.2
Python Version: 3.6.3
OS Version: 1.10.2

I'm attempting to start an EMR cluster with a pre-defined step meaning, I'm combining EmrCreateJobFlowOperator, EmrAddStepsOperator and EmrStepSensor (originally I had the steps directly in the EmrCreateJobFlowOperator).

However, regardless of what I do, I always get the same error in the EMR step execution:
[code]

I tried with my

[2021-04-14 00:11] #12251 closed

[2021-04-14 02:07] uranusjr commented on #15325
Uh, so a straight-up proxy class doesn’t work since `XCom` is also a SQLAlchemy model, and a more significant is needed. The strategy can still be simple (Django’s example still applies; they are also dealing with an ORM class there), it’s the refactoring (and potential backward compatibility issues) needed behind it that’s significant. That’s *probably* still worthwhile in the long run, but will

[2021-04-14 02:39] uranusjr commented on #14252
Isn’t the `retries` value supposed to be an int? The repro above has

[code]

Which is the cause to the exception, if I’m not mistaken.

That said, Airflow should probably be more resilient against user issue like this. Probably set the value to default with a warning?

[2021-04-14 02:49] patsevanton opened #15362 "[Feature request] Add more info to output before error: "There are still unapplied migrations after 60 seconds.""
Hello! Thanks for airflow!
Please Add more info to output before error: "There are still unapplied migrations after 60 seconds."

Code https://github.com/apache/airflow/blob/eae22cec9c87e8dad4d6e8599e45af1bdd452062/airflow/utils/db.py#L617

Feature request from issue https://github.com/apache/airflow/issues/15340

[2021-04-14 02:52] QiAnXinCodeSafe opened #15363 "There is a vulnerability in lodash 4.17.20 ,upgrade recommended"
https://github.com/apache/airflow/blob/7490c6b8109adcc5aec517fc8d39cfc31912d92f/airflow/www/yarn.lock#L4490-L4493

CVE-2021-23337  CVE-2020-28500

Recommended upgrade version：4.17.21

[2021-04-14 02:54] QiAnXinCodeSafe opened #15364 "There is a vulnerability in jquery 3.4.1 ,upgrade recommended"
https://github.com/apache/airflow/blob/7490c6b8109adcc5aec517fc8d39cfc31912d92f/airflow/www/yarn.lock#L4208-L4211

CVE-2020-11023  CVE-2020-11022

Recommended upgrade version：3.5.0

[2021-04-14 03:19] uranusjr commented on #15355
What version of Python and Airflow are you on?

[2021-04-14 04:09] patsevanton commented on #15340
**kubectl logs -n airflow  airflow-scheduler-78d9ffb5ff-5lw8f wait-for-airflow-migrations**
[code]

[2021-04-14 04:44] gen16k commented on #15340
I faced same problem.

I installed airflow v2.0.1 and postgresql using chart file.
Then init container `WAIT-FOR-DB-MIGRATION` seems not working now.

[code]

My environment is like below
OS: ubuntu 20.04
Kubernetes: v1.20.2
CNI: flannel

[2021-04-14 05:22] gen16k commented on #15340
I faced this problem some days ago.
However, I tried install airflow using scripts shown below today and it seems working .

[code]

- results
[code]

- My environemnt
  - OS: ubuntu 20.04
  - Kuberentes: v1.20.2

[2021-04-14 06:42] prakshalj0512 opened #15365 "Hadoop Dockerfile missing `mkdir`"
[hadoop.Dockerfile](https://github.com/apache/airflow/blob/master/docs/docker-stack/docker-images-recipes/hadoop.Dockerfile) missing `mkdir -p "${HADOOP_HOME}"` after [Line 50](https://github.com/apache/airflow/blob/master/docs/docker-stack/docker-images-recipes/hadoop.Dockerfile#L50-L51).

[2021-04-14 08:27] #15160 closed

[2021-04-14 08:33] eladkal commented on #15003
fixed in https://github.com/apache/airflow/pull/14977

[2021-04-14 08:33] #15003 closed

[2021-04-14 09:54] nvnvashisth opened #15368 "Airflow 2.0 crashed due airflow db reset command"
Hello Team,

Currently I was trying to disable my example dag and because of which tutorial says, I have to disable them from airflow.cfg and perform airflow db reset.

After performing that, my entire airflow has been crashed and it throw below error.

Looking forward to have support.

[2021-04-14 10:10] saveriogzz commented on #15332
Hey @blcksrx would you mind giving some more details on how to use them? If I simply use the wildcard written above with Airflow's built-in SFTPSensor, it doesn't capture anything..
Thanks in advance!!

[2021-04-14 10:26] lukas-at-harren commented on #13542
@ephraimbuddy I found the root cause for the problem, and a way to reproduce it. Keep in mind my stack (Airflow + KubernetesExecutor), as this issue has been watered down by many different stacks and situations, ending with the same symptoms.

Steps to reproduce:

* Create a DAG and schedule some work for it.
* While work is scheduled, remove the DAG.
* Restart the scheduler.
* Now the DAG does no

[2021-04-14 10:43] uranusjr commented on #15306
Would it make more sense to change them to always use the serialised DAGs instead, since all DAGs are now serialised in 2.0? Or are there things that only parsing the real DAG can do?

[2021-04-14 11:09] ephraimbuddy commented on #13542
Thank you @lukas-at-harren, you captured it correctly because the error message in all cases is that the dag did not exist.

[2021-04-14 12:43] quoc-t-le commented on #15355
airflow 1.10.12
python 2.7.13
mysql 5.7

[2021-04-14 13:17] gvazharov opened #15369 "Airflow 2.0 Scheduler suddenly stopped queuing tasks"
Hello folks,

I am using Airflow 2.0 with the KubernetesExecutor and Postgres DB as config database, after more than a month in production one of my dags has stopped working out of no where.

The problem is that the scheduler is creating new dag runs, but the tasks inside the dag are not queued, in the scheduler logs could be found the following:
_[2021-04-14 14:51:02,666] {{scheduler_job.py:1667}

[2021-04-14 13:19] ashb commented on #15369
Did you by any chance clear the state of any of the old dag runs?

I ask since the log says "has 16 active runs" but the screenshot only shows 2.

[2021-04-14 13:20] kaxil commented on #15306
list_dags is fine -- backfill won't work on serialized dags.

[2021-04-14 13:23] gvazharov commented on #15369
Hi @ashb,

Yes, I have tried to clear couple old dag runs, by them everything is working properly, they are cleared, then started again and their task are successfully queued and executed, but tasks in the new dag runs are still not queued and executed.

[2021-04-14 13:29] kaxil commented on #15364
FYI: The last time we upgraded to 3.5 -- FlaskAppbuilder (library we use for Airflow Webserver) broke..

https://github.com/apache/airflow/pull/10684#issuecomment-686629229
https://github.com/apache/airflow/pull/10684#issuecomment-686629969

[2021-04-14 13:29] uranusjr commented on #15355
Thanks! That makes sense, you shouldn’t get back raw bytes on Python 3. [According to the documentation](https://github.com/PyMySQL/mysqlclient/blob/master/doc/user_guide.rst#functions-and-attributes), `{"use_unicode": true}` is actually implied when you provide `charset`:

So the code block you mentioned above actually has no effect at all, and is probably a history relic.

I’m guessing MySQL is

[2021-04-14 13:33] #15325 closed

[2021-04-14 13:46] quoc-t-le commented on #15355
My dag is actually pumping out to Google Cloud Storage in a csv format...then import that into Big Query.  I was able to look at the result csv and it is not emoji when telling airflow to use charset utf8mb4.

[2021-04-14 13:59] quoc-t-le commented on #15355
It says we can override use_unicode=False.  So when I go here to look at the mysqlhook, https://github.com/apache/airflow/blob/v1-10-stable/airflow/hooks/mysql_hook.py, its only set to True (I am assuming it is false?) if the charset we pass it in the extra json are utf8 / utf-8, not utf8mb4

[2021-04-14 14:27] Dr-Denzy commented on #15252
@dangal95 could you share an example of your dag file.

[2021-04-14 14:44] paulo3011 opened #15370 "The link IMAGES.rst on docker hub is broken"
**Apache Airflow version**: 2.0.1

**What happened**:

The link IMAGES.rst on docker hub is broken
(https://hub.docker.com/r/apache/IMAGES.rst)
https://hub.docker.com/r/apache/airflow

**What you expected to happen**:

Fix the link

**How to reproduce it**:
Go to https://hub.docker.com/r/apache/airflow and seach for "Official Docker (container) images for Apache Airflow are described in IMAGES.rst

[2021-04-14 15:41] dougscc opened #15371 "apache-airflow installed from pip fails with sqlalchemy (1.4.6)"
**Apache Airflow version**:  2.0.1

**Environment**:

- **Cloud provider or hardware configuration**:  Google Cloud Platform Compute Engine
- **OS** (e.g. from /etc/os-release): NAME="Ubuntu" VERSION="20.04.2 LTS (Focal Fossa)"
- **Kernel** (e.g. `uname -a`): Linux finance-airflow 5.4.0-1041-gcp #44-Ubuntu SMP Fri Mar 26 03:53:35 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux
- **Install tools**: pip

**

[2021-04-14 15:48] ashb commented on #10376
Not needed now that we aren't doing any more backport providers.

[2021-04-14 15:48] #10376 closed

[2021-04-14 15:57] ashb commented on #15371
Duplicate of #14811 -- and see https://github.com/apache/airflow/issues/14811#issuecomment-802250526 specifically

[2021-04-14 15:57] #15371 closed

[2021-04-14 15:57] ashb commented on #15371
(And this has already been pinned in setup.py for what will be 2.0.2)

[2021-04-14 17:24] jmp-aws opened #15372 "Set region flag before making getJob API call in AwsGlueJobHook"
**Description**

  As a developer I want to be able to run AWS Glue jobs in different regions from a single Dag with different tasks.

**Use case / motivation**

The developer needs a workflow where the single dag invokes an AWS Glue job in every region.

**Are you willing to submit a PR?** Maybe if I have time

**Related Issues**
NA

**Related code**
Currently in this method
https://airflow.apach

[2021-04-14 17:45] jedcunningham commented on #15326
The behavior with the latest provider is arguably worse, as it will run with a pod named `name` with no extra randomization. The linked PR will raise an exception with a useful message in the case where someone forgets the name.

[2021-04-14 17:51] vshabarish commented on #14252
Excellent, it is working for us by changing the str to int at retries. Thanks much for the help !!

[2021-04-14 18:04] jedcunningham commented on #14167
The latest provider should allow setting a `name` kwarg, however, the right fix for this is to decouple the randomization behavior from the way the name is set. We should add a new flag to control whether the name is randomized, defaulted to True.

[2021-04-14 18:58] kaxil commented on #15370
Yeah docker hub uses README.md in the repo where we have relative links.

You can take a look at https://github.com/apache/airflow/blob/master/IMAGES.rst or http://apache-airflow-docs.s3-website.eu-central-1.amazonaws.com/docs/docker-stack/index.html

[2021-04-14 19:04] kaxil commented on #15025
This was fixed in https://github.com/apache/airflow/pull/14406 and will be available as part of 2.0.2

[2021-04-14 19:04] #15025 closed

[2021-04-14 19:05] kaxil commented on #15025
Workaround is to run:

[code]

[2021-04-14 19:07] kaxil commented on #15369
This is the underlying issue though,

Can you check the Airflow Webserver -> Admin -> Pools  and then in the row with your pool (`default`) check the Used slots. And click on the number in Used slots, it should take you to the TaskInstance page that should show the currently "running" taskinstances in that Pool.

It is possible that they are not actually running but somehow got in that state in DB

[2021-04-14 20:21] #15326 closed

[2021-04-14 21:15] ctimbreza opened #15374 "Clearing a subdag task leaves parent dag in the failed state"
**Apache Airflow version**:
2.0.1

**Kubernetes version**:
Server Version: version.Info{Major:"1", Minor:"18+", GitVersion:"v1.18.9-eks-d1db3c", GitCommit:"d1db3c46e55f95d6a7d3e5578689371318f95ff9", GitTreeState:"clean", BuildDate:"2020-10-20T22:18:07Z", GoVersion:"go1.13.15", Compiler:"gc", Platform:"linux/amd64"}

**What happened**:
Clearing a failed subdag task with Downstream+Recursive does no

[2021-04-14 21:34] cmarteepants commented on #8766
I am! Sorry. Will hurry up. Client Engagement has been bleeding me dry 😃

From: eladkal ***@***.***>
Sent: Tuesday, April 13, 2021 5:08 AM
To: apache/airflow ***@***.***>
Cc: Constance Martineau ***@***.***>; Mention ***@***.***>
Subject: Re: [apache/airflow] Add custom Salesforce connection type (#8766)

@cmarteepants<https://nam12.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2F

[2021-04-14 22:04] jedcunningham commented on #15342
Hi @patsevanton, you should use the chart from master at the moment. The helm chart will follow a separate release cycle and the first "official" release is currently targeting the first week of May. You can track it at: https://github.com/apache/airflow/projects/7

[2021-04-14 23:11] ctimbreza commented on #15374
Here is the dag that I used to reproduce the issue.  Subdag_1 task_2 is configured to randomly fail to help setup the scenario for this issue.

[code]

[2021-04-15 00:11] #11349 closed

[2021-04-15 00:46] xinbinhuang commented on #15374
Hi @ctimbreza, welcome to Airflow! Before solving your specific issue with SubDagOperator, I wonder if you have considered using [`TaskGroup`](https://airflow.apache.org/docs/apache-airflow/stable/concepts.html#taskgroup) for your use case instead?

Though nothing official yet, the community may deprecate `SubDagOperator` in the future.

[2021-04-15 00:54] xinbinhuang commented on #15357
Hi @pdavis156879 . Can you try to run on a newer version of Airflow? e.g. `2.0.*`, `1.10.12+` and see if the problem persists?

[2021-04-15 00:56] xinbinhuang commented on #15356
I think it will be a good feature! Probably a new section along the line with `Community Providers Packages`. Thoughts? @mik-laj

[2021-04-15 01:17] xinbinhuang commented on #15357
Okay, I believe the problem is: `s3a` is not supported for latest version of EMR. https://docs.aws.amazon.com/emr/latest/ManagementGuide/emr-plan-file-systems.html

[2021-04-15 04:08] dstandish commented on #9060
@frnidito we now can serialize full json to the conn URI (see https://github.com/apache/airflow/pull/15100)

is it ok to close this issue?

[2021-04-15 04:09] dstandish commented on #13934
closing since this is resolved by https://github.com/apache/airflow/pull/15100

[2021-04-15 04:09] #13934 closed

[2021-04-15 06:42] ephraimbuddy commented on #15374
@ctimbreza looks like this issue is resolved in https://github.com/apache/airflow/pull/14776, can you verify?

[2021-04-15 08:01] jaimegm commented on #15368
It's not required to reset your db to stop the Web UI from loading the examples. Resetting your db will erase all of your credentials. It looks a issue related to your upgrade. Its recommended upgrading to  1.10.15 before upgrading to 2.0 and running checks.

 [Upgrading to 2.0](https://airflow.apache.org/docs/apache-airflow/stable/upgrading-to-2.html#step-7-upgrade-to-airflow-2-0)

I attempted to

[2021-04-15 08:47] linyfei commented on #13322
I got the same error.Let me explain my workflow : I submitted the airflow job with DebugExecutor on my mac and submitted it to Amazon EMR.
The weird thing is that my airflow job(all steps) has been submitted successfully, and it was confirmed to run successfully on Amazon EMR.

I tried to find google for relevant informations , but didn't get any things.

I sincerely hope that this problem will be

[2021-04-15 11:49] eladkal commented on #15372
Wasn't this fixed in https://github.com/apache/airflow/pull/14251 ?
can you please verify ?

[2021-04-15 12:32] sk2991 commented on #9583
@hussainsaify I was not able to find any other way.

[2021-04-15 12:45] kylowrobelek opened #15381 "Delete DAG crashes"
**Apache Airflow version**: 2.0.1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**: Dell Latitude
- **OS** (e.g. from /etc/os-release): Ubuntu 20.04.2 LTS
- **Kernel** (e.g. `uname -a`): 5.8.0-48-generic #54~20.04.1-Ubuntu SMP Sat Mar 20 13:40:25 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux

- **Install tool

[2021-04-15 13:06] alexInhert commented on #14831
also happens in Airflow 2.0

[2021-04-15 13:11] alexInhert commented on #15318
@jhtimmins because it's part of the environment setup that we do and we want to run commands in script.
we modify roles and permissions constantly and doing it from scripts is much easier.
Also it's very odd that you can do something from UI but not from CLI

[2021-04-15 13:45] jmp-aws commented on #15372
Hello @eladkal thanks for the fast reply! I think I might not understand this operator and hook completely as I thought that this get_job call should also be passed the region passed in(at least that's what the developer was expecting)

https://github.com/apache/airflow/blob/master/airflow/providers/amazon/aws/hooks/glue.py#L166

However, one of my colleagues pointed out that it is in the connecti

[2021-04-15 13:56] gvazharov commented on #15369
Hi,

I've checked, they were no task instances in running state.

I think the problem can be reproduced, when you delete a failed task instance from the UI.
At this point the task instance is deleted from the UI and from the Postgres task_instance table, but the data sets which are related to this deleted task_instance are not removed from the other postgres tables, such as dag_run, job, log and r

[2021-04-15 14:23] ashb commented on #15372
Looking at the code, the `region_name` from the AwsGlueOperator is handled in the constructor -- none of the _methods_ in the Aws hooks should take a region_name parameter.

And the operator take a region_name https://airflow.apache.org/docs/apache-airflow-providers-amazon/stable/_api/airflow/providers/amazon/aws/operators/glue/index.html?highlight=glue#airflow.providers.amazon.aws.operators.glue.

[2021-04-15 14:34] #15363 closed

[2021-04-15 14:57] Prasnal opened #15384 "Pagination doesn't work with tags filter"
**Apache Airflow version**:
2.0.1

**Environment**:

- **OS**: Linux Mint 19.2
- **Kernel**: 5.5.0-050500-generic #202001262030 SMP Mon Jan 27 01:33:36 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

**What happened**:

Seems that pagination doesn't work. I filter DAGs by tags and get too many results to get them at one page. When I click second page I'm redirected to the first one (actually, it doesn't

[2021-04-15 15:04] ashb commented on #15369
I can confirm that this is categorically not the case. The task_instance (and dag_run) table is the only place the only place the Scheduler looks at.

[2021-04-15 15:23] gvazharov commented on #15369
Hi @kaxil, neither in the UI, nor in the database something was in running state, I've checked all database tables for something that on first look could cause the problem, but found nothing disturbing..

I have deleted the failed task instance from the UI, because there was some timeout error, which was caused from another services, all previous executions of this dag were successful and I had on

[2021-04-15 17:52] mrpowerus commented on #14974
Thanks @ephraimbuddy. I am using my own helm chart. However, the error you're showing is not the same as the one I received. I'm confused about your statement. I thought that these config lines just indicated which container/tag Airflow uses to start for his worker?

[2021-04-15 18:01] ephraimbuddy commented on #14974
Yes. My error is specific to my setup which uses breeze. Can you maybe create a repo that can reproduce this using your own helm chart or just share how I can reproduce?

[2021-04-15 18:25] quoc-t-le commented on #15355
Alright I updated to python 3.7, airflow 1.10.15, and the task of exporting from mysql into gcs still is
? --- when chartset utf8
\ud83d\ude03 --- when charset utf8mb4

expected to be 😃 <-- in the csv

not sure what else i can do

[2021-04-15 18:29] mrpowerus commented on #13916
@jedcunningham, I agree this should help. But for me it unfortunately doesn't.

[2021-04-15 18:36] ctimbreza commented on #15374
@xinbinhuang Thanks for your suggestion on TaskGroup. We are look at TaskGroup for new dags going forward. However we do have a lot of existing dags currently running on airflow1 that we would like to move over to airflow2 as is.

[2021-04-15 18:38] ctimbreza commented on #15374
@ephraimbuddy Thanks for pointing me to  #14776. Looks like this is targeted for release 2.0.2 which is not out yet. I spent a little time today to see if I could run airflow locally to verify and was looking at the breeze development environment.

So far it has been pretty straightforward to setup, however after launching the environment (breeze start-airflow) and accessing the UI (http://127.0.0

[2021-04-15 18:42] ShakaibKhan commented on #12469
PR to address this https://github.com/apache/airflow/pull/15385

[2021-04-15 18:44] ephraimbuddy commented on #15374
Probably there's no user, you can create a user in breeze environment, you just have to run the create user command:
`airflow users create -f firstname -l lastname -u admin -p admin -r Admin `

You can drop into breeze environment with :
`./breeze`

[2021-04-15 18:59] marcomattolab opened #15386 "keycloak with Airflow - logout issue"
I have to use **Airflow 2.X** with **Keycloak** as IDM,
and following this example https://github.com/skhatri/airflow-by-example in which Airflow is integrated with Keycloak (see docker-compose file),
I get that **Logout** from Airflow doesn't work (_Session is still on_).
**_Is it a BUG, and if Yes how can I fix it?_**

Any suggestion will be appreciated.
Thank you, Marco

[2021-04-15 18:59] xinbinhuang commented on #15374
It's likely that the frontend assets haven't been build (gone into this issue recently). Can you try, inside breeze, `cd airflow/www; yarn build prod/dev`? And then start the webserver again

[2021-04-15 19:59] #15355 closed

[2021-04-15 20:02] ctimbreza commented on #15374
I tried running ```cd airflow/www; yarn build prod/dev``` but received an error that I forgot to capture.

I ended up deleting the .build dir and starting over. This time when running breeze I noticed a message saying to run './airflow/www/compile_assets.sh'. I ran this and then the UI was up and responding as expected.

Hitting a new issue now where my dag doesn't seem to be processing the tasks

[2021-04-15 20:28] quoc-t-le commented on #15355
mysql to gcs in format csv works fine; might be an error somewhere in here https://github.com/apache/airflow/blob/v1-10-stable/airflow/contrib/operators/sql_to_gcs.py in the base when user picked json format;  looks like it was updated in the version 2...have to do a jump to two and see if it is fixed

[2021-04-15 20:46] xinbinhuang commented on #15374
I mean either `cd airflow/www; yarn build prod` or `cd airflow/www; yarn build dev`. sorry for the confusion. But `comiple_assets.sh` will work too.

You need to start both the `scheduler` and `webserver`

[code]

[2021-04-15 23:28] kaxil commented on #15340
@patsevanton I asked for logs from different container in https://github.com/apache/airflow/issues/15340#issuecomment-818861093 😄

Check the logs of `run-airflow-migrations` (not `wait-for-migration`) container in {{ .Release.Name }}-run-airflow-migrations

[2021-04-15 23:32] kaxil commented on #15362
Like I mentioned in https://github.com/apache/airflow/issues/15340 -- Migrations are run in a different container

https://github.com/apache/airflow/blob/54adc4463bfa2b8999ed495f3fadc8cf21900991/chart/templates/migrate-database-job.yaml#L21-L33

^^ It is run via Kubernetes `Job` and name of container is [`run-airflow-migrations`](https://github.com/apache/airflow/blob/54adc4463bfa2b8999ed495f3fadc

[2021-04-16 00:37] houqp commented on #11086
@molejnik-mergebit this should have already been fixed in 2.0.1 through #10917. what version are you on?

[2021-04-16 00:44] quoc-t-le opened #15396 "Airflow 2.0.1: Dag - Subdag - Scheduler issues"
**Apache Airflow version: 2.0.1
**Python: 3.7
**Install tools**: docker

In attempt to see if the SQLtoGCSOperator is bugged on airflow 1.10.x when exporting out columns with emoji with format JSON, I am trying to upgrade to Airflow 2.  I installed Airflow 1.10.15 and run the "airflow update_check".  Made all the import updates and all. I have it running.

There are two issues I am running into:

[2021-04-16 01:15] houqp commented on #14422
Here is what I think the trace is. Every pod starts with the local task job (monitoring/manager task), which runs the actual task code (`_run_raw_task`) in a subprocess. When the pod is force killed, the local task job will receive the SIGTERM first:

https://github.com/apache/airflow/blob/d7bc217957b65471ca5f2e259bba15c71a2b0c41/airflow/jobs/local_task_job.py#L75-L79

This line prints the first `

[2021-04-16 02:54] uranusjr commented on #15355
`0xd83d 0xde03` is the UTF-16 rerpresentation of 😃, so it seems like `sql_to_gcs` is not handling surrogate pairs correctly. Either way, the MySQL hook seems to work properly (even on Python 2, that’s the correct code it should return). Please do file a bug if Airflow 2 still has the bug!

[2021-04-16 03:15] xinbinhuang commented on #14813
Hi @rbankston, I don't think this is an airflow bug, but just how the `subprocess` and the `logging` module work. In a word, you need to propagate back the `stdout` from your subprocess back in order to log in airflow. There are two options:

1. propagate the `stdout` yourself, i.e.:
[code]
In this case, the `p.stdout` is a simple string and you may need to parse it yourself.

2. Use the `Subproce

[2021-04-16 04:23] ephraimbuddy commented on #14422
Thanks @houqp, I will give it a try

[2021-04-16 05:14] wongelz opened #15399 "Not scheduling since there are (negative number) open slots in pool"
**Apache Airflow version**: 2.0.1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.16

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

Airflow fails to schedule any tasks after some time. The "Task Instance Details" tab of s

[2021-04-16 05:27] wongelz commented on #15399
I see that `occupied_slots` includes QUEUED as well (`EXECUTION_STATES` includes RUNNING & QUEUED).

QUEUED tasks shouldn't be occupying slots in the pool should they?

[code]

[2021-04-16 05:48] mrpowerus commented on #14974
https://github.com/Azure/AKS/issues/1052

[2021-04-16 05:49] mrpowerus commented on #14974
This issue on AKS seems to be related:
https://github.com/Azure/AKS/issues/1052

[2021-04-16 06:06] molejnik-mergebit commented on #11086
@houqp thanks for the heads up, I'm still on old 1.10.12. Will try to update and check.

[2021-04-16 07:37] quoc-t-le commented on #15396
Just read about TaskGroups and was able to convert subdags over....and i can confirm that the encoding for sql to gcs is fixed for exporting format json that contains emojis also

[2021-04-16 07:37] #15396 closed

[2021-04-16 07:42] r12habh commented on #14231
@mik-laj
It would be great if new contributors who use macOS can get an installation guide for airflow 2.0.1dev like this
https://medium.com/@rafaelbottega/from-zero-to-apache-airflow-contribution-part-1-474ac201b53e [this is for version 1, i guess]

[2021-04-16 09:24] alexInhert opened #15404 "Improve KubernetesPodOperator error message for env_vars"
passing str to `env_vars` gives the following error:
![Screen Shot 2021-04-16 at 12 21 22](https://user-images.githubusercontent.com/62940116/115003269-51466c80-9eae-11eb-95c4-b54ab66f28d1.png)

The error is right but the issue is that the error doesn't specify that the problem is with `env_vars`.
That is really frustrating when working with large dag. It doesn't say the task_id nor the argument t

[2021-04-16 09:42] johnskopis opened #15405 "AUTH_OAUTH: Access is Denied for: can_list on: CustomUserOAuthModelView"
**Apache Airflow version**: 2.1.0.dev0 (f94effeab1a943a7fad19845c10a2b3ea2731fce)
[code]
**What happened**: After successfully logging in with an oauth user and clicking "List Users" in the UI the blinker/flasher message reads "Access is denied". There is a message logged:

Access is Denied for: can_list on: CustomUserOAuthModelView

**What you expected to happen**: Permissions should work the sam

[2021-04-16 13:46] izhangzhihao commented on #15319
Yup, this works for OSS:

[code]

and envs:

[code]

[2021-04-16 14:20] eladkal commented on #15381
Duplicate of https://github.com/apache/airflow/issues/15354

[2021-04-16 14:20] #15381 closed

[2021-04-16 14:35] kaxil commented on #14422
@houqp This is what I had suggested on call with @ephraimbuddy few days back to add `self.handle_task_exit(1)`

[code]

However, that didn't work coz `_run_finished_callback`` didn't run anything since the Task state was still RUNNING. We should probably add `self.task_instance.state=State.FAILED` in `handle_task_exit` if `exit_code != 1`. WDYT  @houqp  @ephraimbuddy  ?

https://github.com/apache/

[2021-04-16 14:48] ephraimbuddy commented on #14422
@kaxil , Yes. We both tried it and it didn't work because the task was still in the RUNNING state. I have tried marking the task as Failed when AirflowException is raised and also tried a bunch of other things. I'm still on it but I think handling this the way we handle email_on_failure should fix it which is what my PR did.

I'm yet to test sending sigkill but will test it soon on my PR and I wil

[2021-04-16 15:30] minnieshi commented on #13542
**My situation**
- kubenetes
- celery executor
- dag is correct as it works in other environment.
- pool (default_pool), 32 slots, 0 used slots, queued slots =1)
- tasks in the dag can be run manually (by clear it), but it does not automatically run the next task.
- one situation: after restarting the scheduler manually (to restart configuration is set to never, value -1),  it decided to run 3 out

[2021-04-16 16:26] SalmonTimo commented on #13542
@minnieshi Do you have access to logs from the worker tasks? If so, can you include any errors there?

@lukas-at-harren Well done! The second part of your proposed solution "The worker must fail properly (with its task ending in a "failed" state) when he cannot find the DAG + task he was tasked with" would apply to my CeleryExecutor problem as well, given my workers were timing out attempting to f

[2021-04-16 16:28] jedcunningham commented on #15399
Yes, `QUEUED` should be included, this might help:

https://airflow.apache.org/docs/apache-airflow/stable/concepts.html#task-lifecycle

Basically, `QUEUED` means the executor has passed it along and is waiting for the worker to start/pick it up (depending on your executor).

That said, negative open slots sure does seem like an issue.

[2021-04-16 16:32] houqp commented on #14422
Interesting, I was expecting the second SIGTERM would have resulted in the task subprocess to set its own state in through `handle_failure` because `self.on_kill` calls `self.task_runner.terminate()`, which is supposed to wait for the subprocess to exit:

https://github.com/apache/airflow/blob/e7c642ba2a79ea13d6ef84b78242f6c313cd3457/airflow/task/task_runner/standard_task_runner.py#L108-L117

I th

[2021-04-16 16:48] Dr-Denzy commented on #13918
Using airflow 2.0.0 ... kubectl description of the `privileged-pod` gotten did not show task metadata (dag_id, task_id, etc).
However, `airflow 2.0.1` with `apache-airflow-providers-cncf-kubernetes==1.0.2` yielded the right pod name but still did not show the task metadata.

[2021-04-16 16:49] quoc-t-le opened #15407 "ShortCircuitOperator to short circuit downstream of TaskGroup only"
**Description**

I am trying to convert a SubDag to a TaskGroup which uses the ShortCircuitOperator.  Originally, the short circuit will trip and move on to next SubDag.  I cannot get the same behavior with TaskGroup.

What do you want to happen?

If used ShortCircuitOperator within a TaskGroup, I would expect it to just short circuit the downstreams within the taskgroup.

Here is the code I am tr

[2021-04-16 17:15] blcksrx commented on #15332
it sounds for *nix OS that provides shell. it's convenient to use wildcards like this:
[code]
but it is too raw and not useable for any cases. I'm going to prepare a PR for that to using regex.

[2021-04-16 17:24] quoc-t-le commented on #15355
I was able to get Airflow 2 running...the problem is fixed there.

[2021-04-16 17:28] sosso commented on #14205
+1 for us on this issue as well, I think?  Very strangely, we see the most recent run for a DAG have its *run* be set to 'running', but the only task in the DAG be a clear success:

![image](https://user-images.githubusercontent.com/619968/115061689-57345180-9e9e-11eb-88a4-41de2abf94d2.png)

This is a catchup=False DAG, where the only task runs in a pool, and there is *nothing* in the Scheduler fo

[2021-04-16 17:44] eladkal commented on #15407
`ShortCircuitOperator` cascades through everything by design https://github.com/apache/airflow/issues/7858
Since TaskGroup is more of a UI feature this is expected.
However since you are using TaskGroup as a replacement to SubDag I can see how this functionality is missing.

[2021-04-16 17:56] minnieshi commented on #13542
@SalmonTimo i have access to the workers, as well as the dag logs folder, which is saved in the file share (PVC), can be viewed via azure storage explorer.
The environment is set up new, and migrated a few tables from old environment. How would like me to fetch the log? Just the dag log run?

[2021-04-16 18:14] eladkal commented on #15244
Can you please explain further? An actual example with DAG code and maybe a gif showing the issue might help here.

[2021-04-16 18:23] xiskoct commented on #14205
the same thing happens to me, huge problem.

[2021-04-16 18:31] eladkal commented on #8770
@aarrtteemmuuss Since there are no reproduce steps to check the issue and there has been significant changes since you reported the issue I'm closing this.

If you are still experiencing problems after verifying against Airflow 2 + Amazon provider please let us know.

[2021-04-16 18:31] #8770 closed

[2021-04-16 20:12] quoc-t-le commented on #15407
yeah at the moment I cant continue to use the subdag because of prev_execution_date not correctly passed down to subdag or something with Airflow 2: [https://github.com/apache/airflow/issues/15396](url)

I tried BranchPythonOperator but doesnt work as expected.  In theory, this should branch to the skip and execute t2...

`from airflow import DAG
from datetime import datetime
from airflow.operator

[2021-04-16 20:38] rcramblit commented on #8421
I have a similar need that might not be covered by the solutions posed in this thread:
I am using the DockerOperator in Airflow 1.10.15 and want to pass some secrets to the docker container via DockerOperator's `environment` argument, but this argument is rendered in the AirflowUI in the Task Instance Details view. Is there any way to control what arguments are rendered there?

[2021-04-16 21:34] pelaprat commented on #13542
We are experiencing this bug in our Airlfow implementation as well. This is my first time participating in reporting a bug on the Apache Airflow project. Out of curiosity, who is responsible on the Apache Airflow project for prioritizing these issues?

[2021-04-16 21:34] #15384 closed

[2021-04-16 23:11] charles2588 opened #15413 "Unable to Open Instance Details Page"
**Apache Airflow version**: 2.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): N/A

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
[code]
- **Kernel** (e.g. `uname -a`):  `Linux airflowvm 5.4.0-70-generic #78-Ubuntu SMP Fri Mar 19 13:29:52 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux`
- **Install tools**:
- **Other

[2021-04-16 23:34] sosso commented on #14205
After a few hours spelunking through the codebase, we came across `max_dagruns_per_loop_to_schedule` in `scheduler_job.py`.  We have several thousand DAGs, all between 1-3 tasks (80% are probably 1 task) and this was a massive improvement for us in setting it to 200 (10x the default value of 20).

[2021-04-17 02:37] kakarukeys opened #15415 "S3 remote logging not working for airflow server components"
**Apache Airflow version**: 2.0.1

**Environment**:

- **Cloud provider or hardware configuration**: on my laptop
- **OS** (e.g. from /etc/os-release): MacOS Majave 10.14.6
- **Kernel** (e.g. `uname -a`): Darwin Wongs-MBP 18.7.0 Darwin Kernel Version 18.7.0: Tue Jan 12 22:04:47 PST 2021; root:xnu-4903.278.56~1/RELEASE_X86_64 x86_64

**What happened**:

configured remote logging to S3 bucket, only

[2021-04-17 14:34] pateash opened #15416 "breeze should load local tmux configuration in 'breeze start-airflow'"
**Description**

Currently, when we run

`
breeze start-airflow
`

**breeze** doesn't load local tmux configuration file **.tmux.conf** and we get default tmux configuration inside the containers.

**Use case / motivation**

Breeze must load local **tmux configuration** in to the containers and developers should be able to use their local configurations.

**Are you willing to submit a PR?**
YES

*

[2021-04-17 14:45] michaelosthege commented on #12813
We're getting the same error in Airflow 2.0.1 and it happens with xcom produced by the `PythonOperator` too.

Tasks that try to `xcom_pull` upstream results that were created **before** the 1.0.14 → 2.0.1 migration break (see below).
Pulling upstream XCom results that were created **after** the 2.0.1 upgrade works just fine.

[code]

Interestingly the XCom data shows up just fine on the webserver:

[2021-04-17 14:59] quoc-t-le commented on #15407
I was able to achieve the goal with BranchPythonOperator.  Would need an additional DummyOperator at the end of the taskgruop with trigger_rule='all_done' and the BranchPythonOperator either jump to next or skip all until that

[2021-04-17 15:16] quoc-t-le commented on #15407
BranchPythonOperator works fine for this; just need to make sure the jump has the trigger_rule='all_done'

[2021-04-17 15:17] #15407 closed

[2021-04-18 06:13] eladkal commented on #12061
@sharad-vm are you working on this issue?

[2021-04-18 06:14] eladkal commented on #11919
@msb217 are you working on this issue?

[2021-04-18 06:17] eladkal commented on #11098
@jaketf are you working on this issue?

[2021-04-18 06:22] eladkal commented on #8589
@samrogers226 are you still working on this issue?

[2021-04-18 06:24] eladkal commented on #8381
@hammad13060 unassigning you from this issue as you didn't complete the PR

This issue is now open for anyone who wants to work on it.

[2021-04-18 06:26] eladkal commented on #8202
solved in https://github.com/apache/airflow/pull/13461

[2021-04-18 06:26] #8202 closed

[2021-04-18 06:27] eladkal commented on #8203
solved in https://github.com/apache/airflow/pull/9037

[2021-04-18 06:27] #8203 closed

[2021-04-18 17:26] #15245 closed

[2021-04-18 19:05] xinbinhuang commented on #15415
This is the correct behavior: currently, remote logging only sends `task logs` to remote storage. If you need to configure other logging behaviors, e.g. scheduler, webserver, you can create a custom logging config for use with your deployment. (see [Logging for Tasks - Advanced Confgiuration](https://airflow.apache.org/docs/apache-airflow/stable/logging-monitoring/logging-tasks.html#advanced-confi

[2021-04-18 23:01] coolsubbu opened #15424 "Airflow and Kubernetes and python versions"
airflow functionalities | Python Version | Airflow version | running?
                                   |                            |                            |
                 scheduler | 3.7.5 | 1.10.7 | yes
                webserver | 3.7.5 | 1.10.7 | yes
airflow test run on kubernetes pod | 3.7.5 | 1.10.7 | unsupported pickle protocol 5
                 scheduler | 3.7.5 | 1.10.11 | yes

[2021-04-18 23:53] yibinlin commented on #14379
+1 I am having this problem. Glad to see a solution here.

[2021-04-19 00:11] #14561 closed

[2021-04-19 00:16] kakarukeys commented on #15415
@xinbinhuang  the "correct behavior" you mentioned was not documented anywhere in the doc. Even the [Logging Architecture](https://airflow.apache.org/docs/apache-airflow/stable/logging-monitoring/logging-architecture.html#:~:text=By%20default%2C%20Airflow%20supports%20logging,environments%20and%20for%20quick%20debugging) picture shows logging, remote or not, apply to all components. See where the

[2021-04-19 00:40] xinbinhuang commented on #15415
See below the part inside the red circle:
![image](https://user-images.githubusercontent.com/27927454/115167535-e000e800-a06c-11eb-8032-d3366777a175.png)

Regardless, I agree with you that _remote logging applies to only tasks_ may not obvious enough in the documentation.

[2021-04-19 01:15] kakarukeys commented on #15415
I was following this doc: https://airflow.apache.org/docs/apache-airflow/1.10.2/howto/write-logs.html

Since I opine that it is a questionable design decision to have some logs writing to one place, mostly ephemeral storage, and other logs to other place, under one logging config, I think I will decline that.

I can look into changing the code instead, if everyone agrees it is a bug.

[2021-04-19 02:17] xinbinhuang commented on #15415
Please refer to the most up-to-date documentation instead. There is not much point to reference old documentation to a new version, especially across major releases (i.e. 1.10.2 -> 2.0.*).

Other people would probably have more context, but I believe that *remote logging* has been always only applying to *task instance logs* (#5175), and at some point, the old documentation was updated to reflect

[2021-04-19 02:28] wongelz commented on #15399
@jedcunningham Looks like the `slots_stats` method in `pool.py` may be under-reporting the number of running/queued slots here:

[code]

I think the query should be:

[code]

[2021-04-19 03:39] dprateek1991 commented on #10058
@sudarshan2906 - I'm facing similar issue at my end as well. I would like to understand, do we need to manually create the users in Airflow as well after configuring LDAP ?

Airflow does not automatically use users already present in LDAP to authenticate to Airflow UI

[2021-04-19 05:57] kakarukeys commented on #15415
ah my bad habit of treating first link of Google as source of truth.

On the first read of the 2.0.1 doc, I can see [Logging and Monitoring architecture page](https://airflow.apache.org/docs/apache-airflow/stable/logging-monitoring/logging-architecture.html) is still misleading.

[diagram](https://ibb.co/hgDV5Vb)

"Logging for Tasks" is lacking any examples for different platforms.
"Logging for Ot

[2021-04-19 08:00] lukas-at-harren commented on #13542
@ephraimbuddy no, I have to revisit this issue again.

I can now confirm, that tasks are stuck in "queued" even with the afroimentioned issue solved.
I no longer have any missing DAGs, but the issue persists.

I now have a complete Airflow installation with 100+ DAGs that gets stuck every day or so.
This is a critical issue. Please adjust your priority accordingly.
Many other issues pop up with th

[2021-04-19 08:41] anitakar commented on #13591
also this one does: https://github.com/celery/billiard/issues/273#issuecomment-453265476

[2021-04-19 09:15] ashb commented on #12480
Closing as "Wont Support" -- it adds a reasonable amount of extra complexity for minimal benefit. (_Storing_ as yaml isn't needed, we could simply make this a UI concern but still store as JSON.)