[2020-12-13 20:21] potiuk commented on #12969
Hey @ashb, @kaxil @mik-laj  (since you were looking at similar problems before) - I think we have serious rc3 candidate here.

From my investigation, it looks like the S3 Handler's close() method is never called when the task finishes. Since we are using mulitprocessing/forking, I beleive this is because the logging.shutdown() method  is never executed. It is registered in logging via registering

[2020-12-13 20:43] ashb commented on #12969
@potiuk can you edit https://github.com/apache/airflow/blob/master/airflow/settings.py#L471 and set it always to false. Does that help?

If so I have an idea the problem likely is.

[2020-12-13 20:44] potiuk commented on #13046
I agree that in most cases there should be the same image used for all containers. I know for security reasons cloud providers are making they webserver slightly different than scheduler /workers (for example both Composer and MWAW disallow plugins for the webserver) but i think it would be great to protect against simplejson breaking airflow webserver in non-cloud mode.

In Airflow 2.0 we allow c

[2020-12-13 20:46] potiuk commented on #12969
Will check it when I am back at my pc.

[2020-12-13 20:48] ashb commented on #12969
And is this only a problem with S3, or with all remote log backends?

[2020-12-13 20:54] kaxil commented on #12969
We had logging.shutdown(), that was removed in this PR: https://github.com/apache/airflow/pull/12342

It was originally added in https://github.com/apache/airflow/pull/3259

Do we need to reintroduce it? Or find a better fix.

[2020-12-13 20:56] kaxil commented on #12969
Also, if GCP logging works maybe we can find a fix in Amazon provider, that way we might be able to avoid rc3

[2020-12-13 20:58] potiuk commented on #12969
Is this revolving around that ? (Just some reading on the phone before I test it) https://pythonspeed.com/articles/python-multiprocessing/

[2020-12-13 21:00] ashb commented on #13046
(Wrong issued linked -- ignore that PR)

[2020-12-13 21:00] potiuk commented on #12969
I think it's not provider-specific :(

[2020-12-13 21:01] ashb commented on #12969
https://github.com/apache/airflow/pull/13048 might help - can you try that?

[2020-12-13 21:18] ashb commented on #13014
@alxdembo please make all PRs target master (which is where 2.0 is about to be released from)

[2020-12-13 21:26] ashb commented on #13046
So arguably simplejson is just a bit eager in not supporting that argument.

We should fix this, but it's not big enough to stop 2.0.0 release.

[2020-12-13 21:28] ashb commented on #13046
Wait -- I don't even see where in the callstack the `encoding` argument is actually coming from.

[2020-12-13 21:29] pradyunsg commented on #12838
Ahoy! If you have been able to test against pip's current master branch, let me know if there's any outstanding issues. :)

[2020-12-13 21:31] ashb commented on #13046
What version of flask do you have @dstandish?

[2020-12-13 21:33] ashb commented on #13046
https://github.com/pallets/flask/commit/c43edfc7c08b8dbe883761bec14fa75ee7db1bf3 -- claims that flask doesn't use simplejson anymore.

[2020-12-13 21:35] dstandish commented on #13046
1.1.2

[2020-12-13 21:42] ashb commented on #13046
Question still remains -- where in this call stack is `encoding` actually coming from? `dumps(self.tag(value), separators=(",", ":"))` is a fixed list of arguments, and dumps on line 211 has this

[code]

[code]

[2020-12-13 21:44] ashb commented on #13046
Ah, from here in simplejson:

[code]

[2020-12-13 21:44] ashb commented on #13046
@dstandish This is a bug in simplejson :(

[2020-12-13 22:07] dstandish commented on #13046
One thing that is curious to me is that fundamentally the error occurs in init of `AirflowJsonEncoder`, when it forwards kwargs to parent `json.JSONEncoder`.

Why is `json.JSONEncoder` affected by `simplejson`?

[2020-12-13 22:09] goakgun commented on #9412
any update on this?

[2020-12-13 22:10] dstandish commented on #13046
Oh, it's not... it's the upstream flask code that somehow ends up invoking this class

[2020-12-13 22:13] dstandish commented on #13046
This hack at least lets webserver run... though, not sure if it has negative effects:
[code]

[2020-12-13 22:23] dstandish commented on #13046
This is also a possible solution:
[code]

[2020-12-13 22:35] dstandish commented on #13046
Or this, to ensure we use whatever flask is using:
[code]

[2020-12-13 22:38] dstandish commented on #13046
Sorry, last one... i think this is most reasonable:
[code]

[2020-12-13 22:53] potiuk commented on #12969
@ashb -> tested "CAN_FORK=False' -> close() has been called but got the error mentioned before:

[code]

[2020-12-13 22:54] potiuk commented on #12969
Trying the https://github.com/apache/airflow/pull/13048

[2020-12-13 23:13] potiuk commented on #12969
No, the #13048 does not seem to help (I tried the S3 fix). It really looks like the "fork + multiprocessing" error. When I hard-code the CAN_FORK = False, I got the close() called, but with the "NoneType' error. When I apply the fix to the S3TaskHandler from #13048 - it does not help. i added some debug code to know for sure when the 'close()' method has been called  - and it is not called at all

[2020-12-13 23:21] potiuk commented on #12969
This seems like \close encounter of a 3rd kind' for both  logging + orm  when we use fork + multiprocessing.

It looks like we can get either logging behavior or ORM session working (but not both)  when the process exits.

Either we get ORM/session closing but logging.shutdown() is not called at all -  or logging.shutdown() called but ORM session is reset to None by that time and failing the loggi

[2020-12-13 23:28] potiuk commented on #12969
"The title (which is never specifically explained in the movie) is actually derived from Hynek’s own alien close encounter classification system: A close encounter of the first kind is sighting of a UFO; the second kind is physical evidence to prove the existence of an alien; and the third kind is actual contact with alien life forms."

[2020-12-13 23:31] ashb commented on #12969
GCS logging is broken in the same way, right? And I guess WASB (Azure) too

[2020-12-13 23:32] potiuk commented on #12969
I think so. Havn't tried all of them - but the fact that 'close()' is not called makes me think all of them are affected.

[2020-12-13 23:46] potiuk commented on #13047
Agree it's not fatal and likely is not a good reson for next RC.. I could not find any other related log errors. This looks like some race condition  possibly in the new HA scheduler loop - my guts feeling tell me this is in the new "short-cirucuitt"  part of the loop after the main loop is gone. Havnt' looked at the code but I recalled there was some late addition here and that looks like this mi

[2020-12-14 00:11] alxdembo commented on #13014
@ashb in master/2.0 it seem to be ok:

![image](https://user-images.githubusercontent.com/34896613/102028179-b07d5e80-3da0-11eb-9344-b278c8f0d6db.png)

for v1-10 I can add a formatter for conf column in www_rbac/views.py

[2020-12-14 00:40] mik-laj commented on #13034
Duplicate: https://github.com/apache/airflow/issues/9855

[2020-12-14 00:40] #13034 closed

[2020-12-14 01:34] mik-laj opened #13053 "CLI does not display TaskGroups"
Hello,

Airflow ability to [display DAG in CLI](http://apache-airflow-docs.s3-website.eu-central-1.amazonaws.com/docs/apache-airflow/latest/usage-cli.html#display-dags-structure) with command `airflow dags show`, but unfortunately this command does not display Task Groups. It would be great if the Task Groups were correctly marked in the diagrams.

<img width="1268" alt="Screenshot 2020-12-14 at 0

[2020-12-14 01:35] mik-laj commented on #13053
@yuqian90 Can you help with it?

[2020-12-14 01:35] yuqian90 commented on #13044
In fact, this isn't an issue for ``TaskGroup`` specifically. Even before ``TaskGroup`` was introduced, simply refreshing the page can sometimes render the Graph View differently causing the nodes to shuffle around.

I can understand the pain. However, this issue needs to be addressed in the dependent package Dagre. I think this is the open issue upstream: https://github.com/dagrejs/dagre/issues/18

[2020-12-14 02:43] yuqian90 commented on #13053
Thanks for reporting. @mik-laj I'll work on it.

[2020-12-14 04:05] rafidka commented on #13026
What is the easiest way to install Airflow 2.0.0rc1 and StatsD dependencies?

[2020-12-14 04:11] #11133 closed

[2020-12-14 07:34] mik-laj commented on #12969
for many task handlers, we have system tests. I will try to run these tests.

[2020-12-14 08:32] potiuk commented on #12969
Handlers work all right - I checked them (at least S3 works fine and write logs when close() is called). I am not sure if we have system tests that run forking/process exiting. It looks like we have two independent problems in fact:

1) logging.shutdown is not called even if registered by atexit() when forking is used

2) when forking is disabled, login.shutddown is called all right, but if is cal

[2020-12-14 09:10] ashb commented on #12969
@potiuk What makes you think close isn't called? In my testing I see it being called.

[2020-12-14 09:16] mik-laj commented on #12969
Yes. I knew it was troublesome and the system tests were very high-level. All key operations are executed as a new process (spawn).

https://github.com/apache/airflow/blob/fdd9b6f65b608c516b8a062b058972d9a45ec9e3/tests/providers/google/cloud/log/test_gcs_task_handler_system.py#L75-L76

[2020-12-14 09:34] potiuk commented on #12969
It's quite east to reproduce for me:

1) I firs applied https://github.com/apache/airflow/pull/13055 to solve incompatibility of Airflow with snowflake https://github.com/apache/airflow/pull/13056

2) in files/airflow-breeze-config/init.sh I added this:

[code]
3) Started Airflow

[code]

3) I modified the installed airflow code to see whether the set_context() and close()  have been called in S3T

[2020-12-14 09:40] potiuk commented on #12969
![Screenshot from 2020-12-14 10-40-15](https://user-images.githubusercontent.com/595491/102065383-c74f9f80-3df8-11eb-88c8-0658919564cc.png)

[2020-12-14 09:41] ashb commented on #12969
It appears that setting `AIRFLOW__CORE__EXECUTE_TASKS_NEW_PYTHON_INTERPRETER=True` helps.

[2020-12-14 09:44] yamrzou commented on #11201
Closing, it turns out this was due to an `execution_timeout` present in the dag. A more explicit message with the cause would have been more helpful than the current `ERROR - Process timed out`.

[2020-12-14 09:44] #11201 closed

[2020-12-14 09:46] potiuk commented on #12969
It partially helps:
[code]

[2020-12-14 09:52] ashb commented on #12969
My PR #13048 helps with that I think

[2020-12-14 09:55] potiuk commented on #12969
Nope. I already added it in - see above snippet of 'set_context'

[2020-12-14 09:55] potiuk commented on #12969
| I added also the proposal from you (self.hook) at the end of set_context()

[2020-12-14 09:58] #13011 closed

[2020-12-14 09:58] potiuk commented on #12969
The connection problem is likely easy to fix (and provider-specific), I think the close() not being called is something in core airflow though that needs to be fixed.

[2020-12-14 10:01] potiuk commented on #12969
The cached hook does not help because it reads connection in @providebucket_name wrapper.

[2020-12-14 10:06] potiuk commented on #11432
UPDATE: Task handlers are instantiated well and work for example with SequentialExecutor. But In case of Local Executor and likely other cases when we use forking there are problems with atexit handlers and disposing ORM before logging handler is executed: See #12969 .

[2020-12-14 10:15] potiuk commented on #12969
I experimented a bit and I think we have a 3rd problem. I registered manually logging.shutdown after dispose_orm (atexit handlers are executed in reverse order). We have protection against calling close() more than once, so this might even be a viable long term solution:

[code]
However we hit another problem with S3 handler:

[code]

[2020-12-14 10:16] ashb commented on #12969
Oh yes, that could also be fixed in the provider.

So we now have a question to ask. Given it can be worked around with a config change and a provider change (The provider could possibly even "force" this config change for us at run time!), do we make this change in an RC3 or a 2.0.1?

[2020-12-14 10:17] potiuk commented on #12969
See above ^^ this is much worse. I think S3 provider will never work in atexit.

[2020-12-14 10:18] ashb commented on #12969
Looks like a new change (to make this error explicit) in Py 3.8 https://github.com/python/cpython/commit/c4b695f85e141f57d22d8edf7bc2c756da136918. We can work around

[2020-12-14 10:29] ashb commented on #12969
Alright, I'm working on a fix for all of these problems.

[2020-12-14 10:35] ashb commented on #12969
Alright @potiuk, can you give #13057 a try. That fixed it for me.

[2020-12-14 11:16] turbaszek commented on #13047
I can confirm that this error happens quite often

[2020-12-14 12:41] #13046 closed

[2020-12-14 12:46] ashb commented on #12480
Can you explain why we need this, and why json isn't enough?

Mostly I'm not sure I like the the precedent of supporting multiple encoding types for variables.

Accepting YAML for input only _might_ be acceptable, but I think it should then be converted to JSON for storage (see the discussin in #13022) -- we could then also _maybe_ convert it back to YAML for display. But it should be stored as js

[2020-12-14 12:47] ashb commented on #13026
`pip install 'apache-airflow[statsd]==2.0.0rc2'` (there's an rc2 out now, soon to be an rc3)

[2020-12-14 12:48] ashb commented on #13014
Ah if it's already shown right on 2.0/main branch then there is nothing to do -- we are only making critical fixes to 1.10 now.

[2020-12-14 12:48] #13014 closed

[2020-12-14 13:04] ashb commented on #13047
I think this is something to do with this -- we're somehow marking the dag run as sucessful multiple times!

[code]

[2020-12-14 13:08] ee07dazn commented on #12761
@MrManicotti : Thanks for raising this ticket. I have a similar problem, whereby even in Sequential/Local executor, only INFO is getting written to Cloudwatch. Any "ERROR" messages are not getting written with remote logging as shown below
[code]

Without remote logging, i get the following output:
[code]

[2020-12-14 13:09] potiuk commented on #12969
Not entirely:

* For AIRFLOW__CORE__EXECUTE_TASKS_NEW_PYTHON_INTERPRETER=True I still got the "cannot schedule future""
* For 'False' seems that the S3 Task logger does not upload the file in case of Local Executor because "upload_on_close" is False

[2020-12-14 13:10] ashb commented on #12761
Duplicate of/same issue as #12969, which will be fixed in RC3 by  #13057 think.

[2020-12-14 13:10] #12761 closed

[2020-12-14 13:14] potiuk commented on #12969
[code]

I am also not sure why we have the 'upload_on_close=not ti.raw" at all.

Seems that 'close()' is the only place the handler actually writes anything to s3, so if ti is not "raw" (not sure what it means in this moment), the log will not be written at all.

[2020-12-14 13:18] ashb commented on #12969
`raw` is `ti.raw`, i.e. when we do `airflow task run --raw`

The "raw" task is the one that actually executes the task code, without raw it is the "supervisor" process.

[2020-12-14 13:19] ashb commented on #12969
Fix for local executor comming.

[2020-12-14 13:25] ashb commented on #12969
This is to stop a double upload -- only the supervisor should upload the log, as it will write a few more lines after the task process has finished.

[2020-12-14 13:33] ashb commented on #13047
Oh I can't read -- those are two separate dates. So it makes sense that we'd set multiple runs to success :)

[2020-12-14 13:55] potiuk commented on #12969
I see!

[2020-12-14 14:30] RikHeijdens opened #13063 "Importing entry_point plugins fails on Airflow v1.10.14 and Python 3.8"
**Apache Airflow version**: 1.10.14
**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): N/A
**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): Debian GNU/Linux 10 (buster)
- **Kernel** (e.g. `uname -a`): Linux 3f9779a91397 5.4.0-52-generic #57-Ubuntu SMP Thu Oct 15 10:57:00 UTC 2020 x86_64 GNU/Linux
- **Others**: Python

[2020-12-14 15:15] scauglog opened #13066 "Lazy load Task in TaskGroup"
**Description**

Lazy load task in a task group

**Use case / motivation**

I have a DAG with 4 * 3 000 task that can run in parallel I have grouped them under 4 subdags and it work fine but when I use TaskGroup instead of Subdag the DAG is really slow to display. I would like the UI to only load html element for the "main dag" for graph and tree view.

[2020-12-14 15:26] cris-b commented on #8495
This was fixed in master under  #12766

[2020-12-14 15:32] potiuk commented on #13063
Yes. This is a known problem, once that made us think that we might need 1.10.15 but we want to see how big of a problem it is, since there is a known workaround: https://github.com/apache/airflow/issues/13019:

[code]

Can you please let us know if it fixes your problem @RikHeijdens ? (CC: @kaxil @ashb)

[2020-12-14 15:32] #13063 closed

[2020-12-14 15:39] ranamit112 commented on #13045
1. I think this raises a good case to remove the tag contraints-1.10.7 (and earlier, probably), as the constraint files in them will not work when using pip 20.3, but it's your call.

2. Commenting a workaround for posterity, for anyone like me who needs to have a more verified version of 1.10.7 for CI or migration:
[code]

[2020-12-14 15:57] kaxil commented on #9975
@natejenkins21 Can you provide reproduction steps please?

[2020-12-14 15:58] potiuk commented on #13045
Airflow installation does not work in general using PIP 20.3. This is a known issue, very prominently displayed on our site. https://github.com/apache/airflow/issues/12838  - if you tried pip 20.3, then that explains the problem.

We raised the issue (rather loudly) to the PIP team, They are going to release 20.3.2 today that fixes some of the problems we (and others) raised. I recommend to repeat

[2020-12-14 16:24] ranamit112 commented on #13045
While I don't doubt that there are several problems with pip 20.3, as you documented in the attached issues, I don't think this one falls under then.
The constraints file for 1.10.7 is plainly and simply wrong, which is not surprising since it was created for 1.10.10.
As I wrote above it includes a constraint for `future==0.18.2` while the setup.py for that version includes the requirement for `fu

[2020-12-14 16:28] #12969 closed

[2020-12-14 16:31] kaxil commented on #13047
Yeah I have seen this error - will need to dig in a bit -- but is a non-harmful one.

[2020-12-14 16:31] ashb commented on #13063
I think this is also only a problem when the plugin fails to import - i.e. while annoying it only affects Dev. (That is my understanding anyway)

[2020-12-14 17:18] potiuk commented on #13047
Agree. Until we start having an influx of questions about all the warnings :)

[2020-12-14 17:23] kaxil commented on #13047
Indeed, I will take a look at it soon'ish -- and hopefully we can merge a fix so we can tell them the fix is merged -- 2.0.1 will contain the fix

[2020-12-14 17:27] potiuk commented on #13045
The problem is that before 20.3 PIP was happily accepting and resolving this anyway.

But I think there is nothing to fix now anyway. 1.10.7 is prehistory and we are recommending everyone to migrate to 1.10.14 which has good constraints (those constraints BTW do not work with pip 20.3 anyway). So similarly like with any other problems with previous releases - 1.10.14  + PIP 20.2.4 (for now) solves

[2020-12-14 17:40] RikHeijdens commented on #13063
I can indeed confirm that this issue does not occur when `importlib-metadata` is installed. One thing that is not quite clear to me though is why this package did not get installed as part of one of Airflow's dependencies when running on Python 3.8. I probably wouldn't have stumbled into this issue if that had been the case.

[2020-12-14 18:02] potiuk commented on #13063
This was a pure mistake that we only noticed after the release, It is already fixed in v1-10-test branch - so in case we release 1.10.15. See https://github.com/apache/airflow/pull/12859.

[2020-12-14 18:17] mik-laj commented on #12982
Similar: https://github.com/apache/airflow/issues/9351

[2020-12-14 18:39] mik-laj opened #13069 "Rewrite handwritten argument parser in prepare_provider_packages.py"
Hello @potiuk

I believe you wrote this script - [`prepare_provider_packages.py`](https://github.com/apache/airflow/blob/master/dev/provider_packages/prepare_provider_packages.py).

I am wondering if there is any reason why you did not use the standard library - [`argument.ArgumentParser`](https://docs.python.org/3/library/argparse.html) in this script?
https://docs.python.org/3/library/argparse.h

[2020-12-14 18:49] kaxil commented on #13063
Yeat that fix I included only updated importlib-metadata in `devel` requirements. Hence it updated breeze and CI where I tested that changed. However, I missed the entry in install_requires, hence it is not installed for normal users who do not install `devel`

[2020-12-14 18:56] manugarri commented on #12881
fyi, we have been trying to get snowflake to fix this for months.

As an alternative, I made a [lite version of snowflake-connector package](https://github.com/manugarri/snowflake-connector-python-lite) that i use in my airflow environments in case someone wants to check it out

[2020-12-14 19:21] Squigilum commented on #12995
I tried both increasing the allowed connections (from 100 to 250), and enabling pgbouncer, and both still had similar errors.  For pgbouncer, I tried both enabling with the just default parameters and increasing the `maxClientConn` parameter in the chart.  I think I tried 250 and 1000 for the `maxClientConn` parameter.

I'm attaching the worker logs for my two celery workers.  For this run, tasks

[2020-12-14 19:31] mik-laj commented on #12116
I added a new column "To update?", which specifies whether we can update this library or rather we should wait until we drop Airflow 1.10 support.

[2020-12-14 19:38] RikHeijdens commented on #13063
Ah, excellent, I hadn't noticed that the issue was fixed on the `v1-10-test` branch. I had only looked at the `v1-10-stable` branch before opening this issue. I'll make sure to check that branch before opening an issue the next time.

Either way, thanks for the quick response to this bug report :-)

[2020-12-14 19:47] lsowen opened #13070 "KubernetesPodOperator duplicate call to create_pod_request_obj()"
Does anyone know why there are two calls to `create_pod_request_obj()`  in https://github.com/apache/airflow/blob/c743b95a02ba1ec04013635a56ad042ce98823d2/airflow/contrib/operators/kubernetes_pod_operator.py#L278-L287

It looks like maybe a merge issue between two different PRs that got merged at approximately the same time?  (#11162 and #10963)

[2020-12-14 20:51] potiuk commented on #13063
Be sure to watch the devlist. It might well be that 1.10.15 will be released at some point in time :)

[2020-12-14 21:02] potiuk commented on #13069
Feel free to rewrite it :). No problem with that.

[2020-12-14 21:04] potiuk commented on #13069
It simply grew from a simple script where there was more parameters. But my goal now is that more people take part in writing those scripts not only me. I marked it as good first issue, and if you feel like you would like to rewrite it - go ahead. I am happy to review it and guide you (or anyone else who would like to take on that task).

[2020-12-14 21:08] potiuk commented on #12881
Thanks. I think we are just trying to push snowflake (and we have some heavyweights helping us) to fix it, so let's wait and see :).

[2020-12-14 21:20] potiuk commented on #12838
Sorry - I've been busy identifiying and testing some issue with Airlow 2.0RC2 ( which lead to RC3 sent today). I will take a closer look tomorrow!

[2020-12-14 21:32] pceric commented on #12111
I installed 1.10.14 today and while the behavior is a bit odd, it does work. If I have retries set to 5, Airflow will run 10 retries with every odd retry being a "dummy retry", gathering the output from the previous failure. But since everything works as expected I'm calling this fixed.

[2020-12-14 21:32] #12111 closed

[2020-12-14 21:33] marcusianlevine commented on #13003
Thanks for reporting this Cris, I'm seeing the same issue

AFAIK this only affects 1.10.13+

I'm currently running Airflow 1.10.12 and the `executor_config` image override works, but when I try to upgrade to 1.10.14 it always uses the image specified in the base config

[2020-12-14 22:50] Coqueiro opened #13076 "Getting "Invalid kube-config file" when trying to run SparkKubernetesOperator"
**Apache Airflow version**: 1.10.12 with Python3.7
**Kubernetes version**:
[code]

I'm running an Airflow cluster using CeleryExecutor inside a Kubernetes cluster, after installing `cncf.kubernetes` backport package. I already did some testing with the Spark Operator inside the cluster and I'm able to run `SparkApplications` smoothly by applying them with `kubectl`. I'm trying now to make an Airfl

[2020-12-14 23:01] ashb commented on #13066
Yeah, that would be a nice improvement!

[2020-12-14 23:02] shib-nmg opened #13077 "Apache Airflow Triggering DAG for Future Dates (Airflow Version 1.8.1)"
One of our DAG's "**Global Polling DAG**" which I am using for one of my Customers is getting triggered for Future dates, intermittently.

For example: **For 12/12 9.30 PM execution, the Global Polling DAG got triggered for 12/13 08:10 PM**

This is one of the unique occurrences that we are facing and the same Airflow domain was running without any issues, over the last 9+ Months.

Point to note i

[2020-12-15 00:38] Coqueiro commented on #13076
It worked once I changed the conn to the following extra:
[code]
It seems that the `True` on the  json I originally used isn't deserialized correctly.

[2020-12-15 00:38] #13076 closed

[2020-12-15 02:06] pradyunsg commented on #12838
Well, pip's master branch is now 20.3.2, so... test against that! :)

[2020-12-15 04:20] debodirno commented on #13069
Can I take this up @potiuk  and @mik-laj?

[2020-12-15 04:48] notatallshaw commented on #12838
@pradyunsg I'm not on the Airflow team and I don't have as deep of an understanding as @potiuk but I gave installing Airflow 1.10.14 with all dependencies using the new resolver with pip 20.3.2.

I'm not sure how much is Airflow fixes and how much is 20.3.2s improvements but I am able to successfully run `pip install apache-airflow[all]` with no errors 😄. Thanks to both teams!

[2020-12-15 06:41] whatnick opened #13081 "OAuth2 login process is not stateless"
**Apache Airflow version**: 1.10.14

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): Server Version: version.Info{Major:"1", Minor:"16+", GitVersion:"v1.16.15-eks-ad4801", GitCommit:"ad4801fd44fe0f125c8d13f1b1d4827e8884476d", GitTreeState:"clean", BuildDate:"2020-10-20T23:27:12Z", GoVersion:"go1.13.15", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:

- **Clo

[2020-12-15 07:24] pindge commented on #13081
Note, this is running v1.10.14 with flask appbuilder 3.1.1 in web instance
[code]

When the secret key is not specified and is randomly generated, each web instance has a different secret key which breaks the login process when the serving pod is switched.

[2020-12-15 08:58] mik-laj commented on #13069
@debodirno I assigned you to this ticket 🐈‍⬛ 🎄

[2020-12-15 10:18] ashb commented on #13081
That is the correct fix, and not a work around -- it is you something you should do in your config.

Does that fix the problem, if so then the only change we need to make is likely a doc one.

[2020-12-15 10:20] ashb commented on #13077
Airflow 1.8.1 three and a half years old and does not receive any updates, nor support from the OSS project -- please test with later versions and re-open this issue if it is still a problem.

[2020-12-15 10:20] #13077 closed

[2020-12-15 10:22] ashb commented on #12761
Please test with 2.0.0rc3 which has now been released @MrManicotti @ee07dazn

[2020-12-15 10:42] ashb commented on #9412
Just tested this on 2.0.0rc3 and it's behaving correctly -- only one task runs at a time..

[2020-12-15 10:42] #9412 closed

[2020-12-15 10:52] ashb commented on #13044
Could some test this on Rc3 -- I don't see it there.

If you do see it, please give me a reproduction test case.

[2020-12-15 11:27] eladkal commented on #12881
**Update:** just heard back from Snowflake. The current estimation is that they will fix it by end of this year.
I'll keep track

[2020-12-15 11:34] PalashPaul-Ingka commented on #11377
@djrut please use the below code it working

client_id = os.getenv("CLIENT_ID")
    # This should be part of your webserver's URL:
    # {tenant-project-id}.appspot.com
    webserver_id = os.getenv("TENANT_PROJECT")
    # The name of the DAG you wish to trigger
    dag_name = os.getenv("DAG_NAME")
    webserver_url = (
        'https://'
        + webserver_id
        + '.appspot.com/api/experimen

[2020-12-15 11:37] ashb commented on #11377
I belive @PalashPaul-Ingka has it right -- the key addition being the `replace_microseconds` parameter.

I'm going to close this, but if that doesn't work @djrut let us know and we can re-open this.

[2020-12-15 11:37] #11377 closed

[2020-12-15 12:15] manugarri commented on #12881
great @eladkal . thanks!

[2020-12-15 13:11] dmateusp commented on #7910
hi folks! I was looking for this feature and I'm seeing both this issue and 2 PRs closed, but it does not seem resolved?

[2020-12-15 13:23] potiuk commented on #12881
Thanks @eladkal !

[2020-12-15 13:23] potiuk commented on #12881
Yeah, I think NOT switching to a slimmed down version of the lib is a better incentive for Snowflake to fix it :)

[2020-12-15 14:12] mhaalme opened #13085 "Display schedule timezone in UI DAG list for timezone-aware DAGs"
**Description**

Display schedule timezone in web UI for timezone-aware DAGs

**Use case / motivation**

We use Airflow to orchestrate tasks in a variety of different systems, some of which contain timezone-dependent data and others work in UTC. Additionally, some DAGs must be run at certain times in our local timezone while others require fixed intervals which should not be affected by daylight s

[2020-12-15 15:02] alxdembo commented on #11334
@mik-laj  Can I volunteer for this one?

[2020-12-15 15:14] mik-laj commented on #11334
This seems to me not to be a task that one person can do. @ryanahamilton  Can you help with this task? Do you have any expectations or suggestions?

[2020-12-15 15:14] potiuk commented on #12838
I also had the "dependency solving" session anda just discussed witth PIP team and experimented a bit and it seems we managed to pin-point the PIP 20.2.4 bug that generated bad pyarrow dependency. I updated it manually and seems that we are able to make it works for 2.0 as well. :crossed_fingers: for quick 20.3.2 release.

[2020-12-15 15:31] wyndhblb opened #13086 "max_retry_delay should be a timedelta for type hinting"
**Apache Airflow version**:

master

**What happened**:

https://github.com/apache/airflow/blob/master/airflow/models/baseoperator.py#L356 --> should be timedelta not datetime

[2020-12-15 15:33] mik-laj commented on #13086
Are you willing to submit a PR?

[2020-12-15 15:37] wyndhblb commented on #13086
there's another issue i'm working out as well (just found this while investigating that one).  even if the max_retry_delay is really a "timedelta" as defined in the task definition

it seems that https://github.com/apache/airflow/blob/master/airflow/models/taskinstance.py#L880 has it as a "float" (and thus the `min` fails).

[2020-12-15 15:50] pradyunsg commented on #12838
20.3.3 is out. I _think_ it solves all the issues that broke Airflow's installation mechanisms. If @potiuk can confirm that, I'm guessing we can go ahead and close this. ;)

[2020-12-15 15:57] potiuk commented on #12838
Yep. Confirmed it works for 2.0.

I need to do a few more checks and verify 1.10.14 as well and I will close that one,

Thanks A LOT @pradyunsg -> just in time for 2.0.0 of Airflow ;).

[2020-12-15 16:12] JCoder01 commented on #13044
@ashb Just installed RC3 and see the same. The behavior is evident on that example_task_group dag.
Before
![image](https://user-images.githubusercontent.com/651639/102240811-42cb5280-3ec6-11eb-902b-01683ee22924.png)
After
![image](https://user-images.githubusercontent.com/651639/102240851-52e33200-3ec6-11eb-8866-d020c821251d.png)

[2020-12-15 16:18] ashb commented on #13044
I wonder if I don't see it cos I use Firefox

[2020-12-15 16:39] JCoder01 commented on #13044
I don't know, I tried Firefox on both windows and linux and the same thing happens.

[2020-12-15 17:14] manugarri commented on #12881
agree @potiuk , but i dont work in a heavyweight company so i had to make our data pipelines and reports work.

I would definitely recommend a full rewrite of the python package, how it handles dependencies is an absolute mess.

[2020-12-15 18:04] potiuk commented on #12881
Let's see. I hope things will get better with Snowflke's integrations and ecosystem in general. They have a very, very cool product.

[2020-12-15 19:14] whatnick commented on #13081
Yes this fix resolves the problem. Happy to make a doc change in the OAuth2 page and PR.

[2020-12-15 20:15] tomyedwab opened #13091 "Log message about "variables" command being deprecated"
**Apache Airflow version**: 1.10.14

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): OSX 10.15.7
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

Saw this message in the logs:
`The 'variables' command is deprecated and removed

[2020-12-15 20:22] ashb commented on #13081
Yes please @whatnick !

[2020-12-15 20:32] kaxil commented on #13066
cc @yuqian90 @ryanahamilton Any interest in doing it :)

[2020-12-15 20:51] r-richmond opened #13093 "Version Incompatibility in 1.10.14 resulting from snowflake workaround"
**Apache Airflow version**: 1.10.14
**Environment**: Python 3.8
- **Install tools**: pipenv

**What happened**:

So I appear to have stumbled across a version incompatibility for `airflow-1.10.14`
apache-airflow[aws] was modified with this [pr](https://github.com/apache/airflow/commit/3f438461498b2f6c13671fed8f70a6a12a51f418#diff-60f61ab7a8d1910d86d9fda2261620314edcae5894d5aaa236b821c7256badd7R185

[2020-12-15 22:22] pindge commented on #13081
This potentially can be addressed like how airflow-helm-chart handles fernet key
https://github.com/apache/airflow/blob/66e738296a81a80e56457981c3ac93f835200c30/chart/templates/secrets/fernetkey-secret.yaml#L21-L41

[2020-12-15 22:53] #12613 closed

[2020-12-15 23:34] ashb commented on #13081
Also a good idea

[2020-12-16 01:14] happyhuman opened #13095 "Getting an error when using CloudTasksTaskCreateOperator"
I am trying to create and run a task in Google Cloud Tasks from my composer environment (composer-1.13.3-airflow-1.10.12). The code is somewhat simple:
[code]

I am however getting the following error:
[code]
I tried different values for both `start_date` and `schedule_time` and neither one made a difference. I think there may be a bug causing this, since there is not really much to this code to b

[2020-12-16 03:43] potix2 commented on #11297
I'm working on #10742, but it's a little harder than I expected. After complete it, I'll be back to this issue.

[2020-12-16 04:08] JCoder01 opened #13099 "Unable to start scheduler after stopped"
**Apache Airflow version**: 2.0.0rc3

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**: Linux
- **OS** (e.g. from /etc/os-release): Ubuntu
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

After shutting down the scheduler, while tasks were in running state, trying t

[2020-12-16 06:48] yuqian90 commented on #13066
I'd love to. But i'm busy with other things at the moment. Won't be able to get this at least till next month. If someone likes to take it please go for it.

For the time being, @scauglog , did you consider simply adding a few layers of TaskGroup to nest the 300 tasks in each TaskGroup into a more levels? E.g. first level has 4 TaskGroups. Inside each TaskGroup, there are 10 sub-TaskGroups. In eac

[2020-12-16 08:48] potiuk commented on #13099
Looks serious. If we can confirm that one, I am afraid it might lead to RC4 @kaxil @ashb if this is easily triggerable.

[2020-12-16 08:50] potiuk commented on #13099
Thanks for reporting @JCoder01 !

[2020-12-16 09:09] turbaszek commented on #13095
@happyhuman have you tried removing timeout setting? Quick googling suggests that it's not only Airflow problem but a problem with task api / libraries.

[2020-12-16 10:19] MolochkoVitaly opened #13101 "Incorrectly rendered graph"
**Apache Airflow version**: 1.10.10

**What happened**:

[code]

![image](https://user-images.githubusercontent.com/11045746/102335030-6f539d00-3fa0-11eb-9b54-d5bfd79601e3.png)

**What you expected to happen**:

![image](https://user-images.githubusercontent.com/11045746/102335407-ea1cb800-3fa0-11eb-866d-74be8b2731c6.png)

**How to reproduce it**:
Run code above

[2020-12-16 10:32] eladkal commented on #13044
I was able to reproduce using the `example_task_group` DAG :

![reproduce](https://user-images.githubusercontent.com/45845474/102336851-695abd80-3f9a-11eb-8ce9-cfd6c60ce624.gif)

[2020-12-16 10:32] ashb commented on #13101
The issue is `op3 >> op4`. This expression returns the right hand side, so to expand out `op1 >> [op2, op3 >> op4] >> op5`, it is equivalent to:

[code]

To get the structure you want you need to split it up a bit.

[code]

(I can't remember if you can do `[op2, op4] >> op5` or not.)

[2020-12-16 10:32] #13101 closed

[2020-12-16 10:34] ashb commented on #13099
I've certainly never seen this, and I've done heave testing of killing and restarting schedulers.

[2020-12-16 10:40] ashb commented on #13091
Whoops, yes, that should have said something about use `variables list` instead.

[2020-12-16 10:42] ashb commented on #13086
Perhaps it should be a float (seconds) then, as this is the only thing that could have possible ever worked?

[2020-12-16 11:18] potiuk commented on #13099
@JCoder01 Few more questions. Maybe you can provide as much information about the deployment you have.

1) which version of Postgres are you using?
2) what kind of deployment you have - is the database managed/on premise/remote
3) do you use an Database HA
4) was it a single-scheduler or multiple scheduler case?
5) Did you use our image or ca container, or installed airflow manually?
6) Is there a

[2020-12-16 11:21] potiuk commented on #13099
And  - is it possible to get a database dump in the "failing" statej? That would be super useful if you could send us a dump of the database so that we can import it and investigate further!

[2020-12-16 11:29] JCoder01 commented on #13099
1.) looks like PostgreSQL 13.1
2.) on prem, in docker, used only for personal testing
3.) No,
4.) single-scheduler
5.) manual install in virutual env
6.) as far as I know, no, there were no other versions accessing the database.
7.) Fresh install

[2020-12-16 11:33] RafayAK opened #13102 "Too many workers being created on ARM platform (Nvidia Jetson Xavier)"
**Apache Airflow version**:
1.10.13

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
 Running on Nvidia Jetson Xavier (ARMv8)
- **OS** (e.g. from /etc/os-release):
Ubuntu 18.04.5 LTS
- **Kernel** (e.g. `uname -a`):
 `4.9.140-tegra #1 SMP PREEMPT Thu Jun 25 21:22:12 PDT 2020 aarch64 aarch64 aarch64 GNU/

[2020-12-16 11:36] JCoder01 commented on #13099
I have created another virtualenv/database and am seeing trying to recreate. I don't know about dumping the whole database, I don't want to accidentally share sensitive info.

[2020-12-16 11:51] ashb commented on #13099
Do you happen to have the full stack trace (there might be more above or below that one you shared) so I can see where in the scheduler it is happening?

[2020-12-16 11:54] MolochkoVitaly commented on #13101
Thanks for clarifying

[2020-12-16 11:54] JCoder01 commented on #13099
Here's the whole thing.
` ERROR - Exception when executing SchedulerJob._run_scheduler_loop
Traceback (most recent call last):
  File "/home/jcoder/git/airflow_2.0/pyenv/lib/python3.7/site-packages/sqlalchemy/engine/base.py", line 1277, in _execute_context
    cursor, statement, parameters, context
  File "/home/jcoder/git/airflow_2.0/pyenv/lib/python3.7/site-packages/sqlalchemy/engine/default.py"

[2020-12-16 11:59] ashb commented on #13099
Okay right - as expected, nothing really interesting there -- it's `self._create_dag_runs(query.all(), session)` which is failing, which is just creating the dag runs that the previous query gave it https://github.com/apache/airflow/blob/69801f5ef016bcf21af348f4fdeb67f09db8f394/airflow/models/dag.py#L2220-L2242

[2020-12-16 12:01] JCoder01 commented on #13099
I can see in the database is this:
for dag_run:

|id|dag_id|execution_date|state|
|--|------|--------------|-----|
|353|example_task_group|2020-12-13 23:32:00|running|

and in dag, it looks like the scheduler didn't pick up that run?
|dag_id|next_dagrun|next_dagrun_create_after|
|------|-----------|------------------------|
|example_task_group|2020-12-13 23:32:00|2020-12-13 23:33:00|

[2020-12-16 12:08] JCoder01 commented on #13099
if you do a `airflow db init` on the database after it gets to this state, it fixes it, and updates the dag table to the correct `next_dagrun` so it almost seems like in the unlikely event that it gets into this state, the scheduler needs to do a round of updates on start up before starting to schedule tasks.

[2020-12-16 12:42] JCoder01 commented on #13099
@ashb as requested:
[code]

[2020-12-16 13:10] ashb commented on #13099
@JCoder01 COuld we have some more logs surrounding those times -- it would help us tell which places this is getting updated.

[2020-12-16 13:20] oferze opened #13108 "Airflow Scheduler on WSL fails to execute Windows EXE"
**Apache Airflow version**: 1.10.11

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): N/A

**Environment**:

- **Cloud provider or hardware configuration**: Local dev machine. Issue is unrelated to hardware.
- **OS** (e.g. from /etc/os-release): Ubuntu 20.04.1 LTS (Focal Fossa), running within WSL 2 on Windows 10 Pro 20H2, OS Build 19042.685 and Windows Feature Experie

[2020-12-16 13:20] JCoder01 commented on #13099
of course, sorry about that. I
[code]

[2020-12-16 13:25] Squigilum commented on #12995
@ashb I was able to confirm that it was a database issue as you suspected.  The warning I pasted above is indicative that it happened.  I would suggest that it should be logged as an error rather than a warning, since the consequences were pretty severe, but otherwise I believe having a better postgres setup will fix it for me.  Thanks again for your suggestions.

[2020-12-16 13:29] ashb commented on #13099
And last question for now (you may not have this one anymore): Did you get any of the "Setting next_dagrun for example_task_group" messages in the main scheduler output?

[2020-12-16 13:31] potiuk commented on #13108
Interesting problem. Did you try to run a bash script that would execute via
[code]

https://docs.microsoft.com/en-us/windows/wsl/interop

[2020-12-16 13:38] HaloKo4 opened #13109 "add Google leveldb hook"
**Description**

add the ability to query and modify google leveldb https://github.com/google/leveldb from airflow.

Python wrapper that can be used to create the hook :
https://github.com/wbolster/plyvel
https://plyvel.readthedocs.io/en/latest/

**Are you willing to submit a PR?**

not at the moment due to time contains.

**Related Issues**

couldn't find any

[2020-12-16 14:08] mik-laj opened #13110 "Add missing logos for integrations"
Hello,

@ecerulm [added](https://github.com/apache/airflow/pull/13073) a logo `field` for `integration` object defined in `provider.yaml`
https://github.com/apache/airflow/blob/ccaca0af3933306c7ca0aa3d78fa2237ff3bfb19/airflow/provider.yaml.schema.json#L45-L48

We then use these logos to promote the integrations on our website.
<img width="1270" alt="Screenshot 2020-12-16 at 14 59 59" src="https://

[2020-12-16 14:11] oferze commented on #13108
@potiuk tried (even though it's intended for non-executables like `dir`). Same error 1. Even `/mnt/c/Windows/System32/cmd.exe /C dir` fails the same way, and succeeds when I plainly run it in Bash.

[2020-12-16 14:13] potiuk commented on #13108
Can it be this (32 vs. 64bit python) https://stackoverflow.com/questions/59429146/using-subprocess-in-with-variable-containing-the-dos-cmd

[2020-12-16 14:15] oferze commented on #13108
@potiuk don't think so, all of my airflow environment (including Python) is installed within Ubuntu.

[2020-12-16 16:13] eladkal commented on #13070
You are viewing old version.
You should import the operator from providers:
https://github.com/apache/airflow/blob/bd90136aaf5035e3234fe545b79a3e4aad21efe2/airflow/providers/cncf/kubernetes/operators/kubernetes_pod.py#L311

[2020-12-16 16:35] cris-b commented on #12669
I have hit this with azure files in 1.10.  The way I worked around it was to set the uid/gid perms on the pvc, but this effectively forces all worker images, the scheduler and the webserver to have a hard requirement on running as the same UID which may not be possible.

[2020-12-16 18:57] atolopko-czi opened #13114 "Improve DAG operator status accessibility for the color blind"
The coloration of DAG operator statuses in the DAG "Tree" and "Graph" views are not easy to discern by color blind individuals. There is no textual representation of the status in the hover popup window.

**Use case / motivation**

**Are you willing to submit a PR?**

Yes

**Related Issues**

No

[2020-12-16 19:48] eladkal commented on #13114
What Airflow version are you running? There has been improve in that area in 1.10.11
see issue https://github.com/apache/airflow/issues/7843, PR https://github.com/apache/airflow/pull/9520, [docs](https://airflow.apache.org/docs/apache-airflow/stable/howto/customize-state-colors-ui.html)

Also in Graph View when you over one of the statuses in the legend it makes all the tasks in that status highl

[2020-12-16 21:50] atolopko-czi commented on #13114
Version : 1.10.10

The Tree view status-hover highlighting is indeed helpful, and I was unaware! The Graph view doesn't provide the same feature, which would be helpful.  So it would still be helpful if these popups contained the operator status:
![image](https://user-images.githubusercontent.com/29237884/102410411-84d7bf80-3fbe-11eb-92c1-0d23cf320d82.png)

Use of custom colors may also be able to

[2020-12-16 21:55] mik-laj commented on #8605
@BasPH  shared one-line command to start Docker image on Slack:

https://apache-airflow.slack.com/archives/CQAMHKWSJ/p1608152276070500

[2020-12-16 22:39] JCoder01 commented on #13099
I spent a bit more time on this today, and while I can occasionally re-create it in the original environment, I can't recreate it in a fresh install.

[2020-12-16 22:48] cris-b commented on #12669
A similar error was fixed for AIRFLOW-1563 by catching the OSError generated and logging it as a warning, its a bit clunky but the same could be done here?

[2020-12-16 23:07] potiuk commented on #12669
Sure @cris-b -> maybe you would like to make a PR fixing it ? IT won't make it in 2.0.0 but for 2.0.1 ?

[2020-12-16 23:08] potiuk commented on #13099
What's the diference between the environments? Just airflow installation, database? virtualenv? anything else ?

[2020-12-16 23:21] JCoder01 commented on #13099
Different virtual envs and databases. both virtual envs and databases are on the same host. The only difference is what dags and provider packages are in each virtual env. I do have a dag where I was testing out overriding the `following_schedule` DAG method with a custom function to allow running at specific times. I have that dag in both envs thinking it was the culprit but it even with the dag

[2020-12-16 23:47] cris-b commented on #12669
PR opened: https://github.com/apache/airflow/pull/13121

[2020-12-17 00:01] potiuk commented on #13099
Is it possible that you have different dags with the same DAG_ID (educated guesses here) ?

[2020-12-17 00:03] kaxil commented on #13099
I think it is most likely  because you updated `following_schedule`

[2020-12-17 00:28] oferze commented on #13108
@potiuk any other things to check? Is there a way to get the task runner / airflow scheduler to emit verbose output or to see what exactly did it do by attempting to run the command and receiving error 1?

[2020-12-17 00:34] JCoder01 commented on #13099
@potiuk I generally believe anything is possible, but in this case I think it's rather unlikely. If that was the case, do you think it would matter if the dag was enabled or not? I only have two dags enabled.

@kaxil If it is this, do you have any ideas where to look to try and confirm? And if it is this, if the dag is in both environments, wouldn't this happen in both environments? Note that the

[2020-12-17 00:35] kaxil commented on #13114
You can customize those colors: https://airflow.readthedocs.io/en/stable/howto/customize-state-colors-ui.html

[2020-12-17 00:50] potiuk commented on #13108
I am not a WSL2 user unfortunately :(. maybe others who use it can help ? you can ask in troubleshooting or try to ask question in StackOverflow in general.

[2020-12-17 01:02] oferze commented on #13108
Had already asked in Stack Overflow, with no luck.
What about my other question about the scheduler?

[2020-12-17 01:03] mik-laj commented on #8645
@exploy Could you please check if this feature is still missing? We have made major changes to this integration and many of the missing features are now available.

[2020-12-17 05:20] rmanvar-indeed opened #13129 "Reattach to kubernetes pod only if it's running"
**Description**

From https://github.com/apache/airflow/blob/v1-10-stable/airflow/contrib/operators/kubernetes_pod_operator.py#L291 Airflow K8PodOperator tries to re-attach to pod based on labels, but this fails if pod isn't in running state which for us is often the case because reason for previous trial to fail is pod not being in a running / healthy state.
Returned error for K8 api is `{"kind":

[2020-12-17 07:41] dongle94 commented on #10055
[code]
Hello. I have same issue when use comman "airflow scheduler -D".
who can solve this problem...?

[2020-12-17 07:49] carb1 commented on #10055
i dont solve this problem too.i use docker now,and it doesnt need 'airflow scheduler',if you only want to set a simple dag, you can try to use docker too

[2020-12-17 09:41] potiuk commented on #13108
Too bad - maybe someone will answer it . I am not sure about the other question - maybe it makes sense to add one question in one thread? Then people will be able to focus on one thing and maybe someone will answer it.

[2020-12-17 10:05] ashb commented on #13114
And if you can suggest new default colours we can look at changing them too.

[2020-12-17 10:07] ashb commented on #13099
Marking this as can't reproduce for now -- it may be a race condition, but... 🤷🏻

[2020-12-17 10:18] w4tsn commented on #11305
@mik-laj @loozhengyuan Keycloak states that [oauth2-proxy](https://github.com/oauth2-proxy/oauth2-proxy) is the viable alternative, so maybe this project should replace Louketo in this issue.

[2020-12-17 10:42] mik-laj commented on #11305
@w4tsn I have a working and tested implentation that uses Loukietto proxy.  if time permits I will try to update it to use a different proxy and contribute it to community, but for now I have big time deficit.

[2020-12-17 11:07] potiuk commented on #12771
Hello @Etienne-Carriere @mik-laj  -> we started recently seeing those annoying logs in Airflow 2.0.

[code]

Is this something you know about ?

[2020-12-17 11:09] ashb commented on #12771
@potiuk Looks like it's from something BigQuery related.

[2020-12-17 11:10] ashb commented on #12771
I know @mjpieters was playing/hacking about with adding opentracing to Airflow too

[2020-12-17 11:11] potiuk commented on #12771
Yeah. It can likely be disabled by adding some custom logging configuration - possibly that's what we should do I think

[2020-12-17 11:12] ashb commented on #12771
https://github.com/googleapis/python-bigquery/blob/master/google/cloud/bigquery/opentelemetry_tracing.py

[2020-12-17 11:14] potiuk opened #13131 "Disable INFO open telemetry log from BigQuery"
We started receiving this INFO log

[code]

The log entry is very annoying and should be disabled by default.

[2020-12-17 11:17] #11543 closed

[2020-12-17 11:24] shizidushu opened #13132 "Let user specify the decode encoding of stdout/stderr of WinRMOperator"
**Description**
Let user specify the decode encoding used in WinRMOperator.

**Use case / motivation**

I'm trying to use winrm, but the task failed. After checked, I find https://github.com/apache/airflow/blob/master/airflow/providers/microsoft/winrm/operators/winrm.py#L117
[code]

But my remote host powershell's default encoding is  'gb2312'. I try https://stackoverflow.com/questions/40098771/ch

[2020-12-17 11:30] potiuk commented on #12771
Added #13131

[2020-12-17 12:11] JCoder01 commented on #13099
I'll keep trying to narrow it down. It seems an `airflow db init` does not reliably fix it.
It does seem to point to a race condition, based on after the error occurs, repeatedly trying to restart the scheduler will sometimes sort things out.
The only reliably way to restart the scheduler after the error occurs seems to be to manually update 'next_dag_run_create_after` to a date time in the future

[2020-12-17 12:16] zhangxiao696 opened #13133 "【no the feature？？？】Run multiple containers in `KubernetesPodOperator`?"
Does the airflow.contrib.operators.kubernetes_pod_operator.KubernetesPodOperator have the possibility to start mutliple containers in the same pod?

If it has, where can I set related config?

please 🙏🙏
help me 🙏🙏

[2020-12-17 14:46] hedrickw commented on #13133
Have you tried using the KubernetesExecutor and using pod overrides like this example? https://github.com/apache/airflow/blob/master/airflow/example_dags/example_kubernetes_executor_config.py

[2020-12-17 15:25] lsowen commented on #13070
It looks like it has been fixed in `master`, but is still an issue in the `v1-10-stable` (https://github.com/apache/airflow/blob/v1-10-stable/airflow/contrib/operators/kubernetes_pod_operator.py#L278-L286)

Will there be any further 1.10.x releases?  Or is v2.0.0 the next release?

[2020-12-17 15:27] eladkal commented on #13070
You can install [backport provider package](https://pypi.org/project/apache-airflow-backport-providers-cncf-kubernetes/) which is compatible with 1.10.x

[2020-12-17 15:27] #13070 closed

[2020-12-17 15:59] owlphi opened #13137 "Bigquery hook: get-schema (not working)"
# Problem
This [line](https://github.com/apache/airflow/blob/master/airflow/providers/google/cloud/hooks/bigquery.py#L1340) does not return a valid schema:
`return {"fields": [s.to_api_repr for s in table.schema]}`

The reason is we forgot to invoke the function using `s.to_api_repr()` rather than `s.to_api_repr`

# Solution
Change from:

[code]
to:
[code]

[2020-12-17 15:59] owlphi commented on #13137
I have created a PR https://github.com/apache/airflow/pull/13136

[2020-12-17 17:01] owlphi opened #13139 "BigQuery hook: Insert_all (not working)"
# Problem

When I am trying to use the method `insert_all` from bigquery hook I got:

[code]

The reason is that we are invoking the client insert_rows with a table without schema and the client is expecting a table with schema.

Client expecting schema in the method insert_rows [here](https://github.com/googleapis/python-bigquery/blob/master/google/cloud/bigquery/client.py#L2929), otherwise it wi

[2020-12-17 17:01] owlphi commented on #13139
I have a PR: https://github.com/apache/airflow/pull/13138

[2020-12-17 17:20] karthikBalasubramanian commented on #11968
Hello! just wondering if there is any update on this issue :)

[2020-12-17 17:22] happyhuman commented on #13095
Thanks, yeah that helped the issue. I wish the error message was a bit more helpful.   :)

[2020-12-17 17:22] #13095 closed

[2020-12-17 19:08] rafidka commented on #13026
I repeated the experiment on Airflow 2.0.0RC2 and produced more statistical data which you can find in the Excel sheet below, but here is a summary:

scheduler_heartbeat_sec value|Average Frequency of scheduler_heartbeat metric
-|-
1|2.52057172
2|3.85960122
3|4.76818162
5|6.49515588
10|11.36376658
30|30.89824894

I tried this on the same machine I mentioned above (Amazon r5.4xlarge machine) so it

[2020-12-17 20:10] yonromai opened #13141 "Please update upper bound for `requests` dependency"
Hi, sorry if this is a duplicate.

Would it be possible to update the upper bound for the `requests`, it's a bit outdated and conflicts with other packages' dependencies. e.g:
[code]

[2020-12-17 20:14] turbaszek commented on #13141
This is worked on. The limitation is due to snowflake as mentioned:
https://github.com/apache/airflow/blob/cddbf81b12650ee5905b0f762c1213caa1d3a7ed/setup.cfg#L128

Related: #13056 #12881 #13062

[2020-12-17 20:14] #13141 closed

[2020-12-17 20:18] yonromai commented on #13141
Noted, thank you @turbaszek

[2020-12-17 21:42] LamaAni opened #13142 "Error while attempting to disable login (setting AUTH_ROLE_PUBLIC = 'Admin')"
# Error while attempting to disable login

**Apache Airflow version**: 2.0.0
**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**: mac-pro
- **OS** (e.g. from /etc/os-release): osx
- **Kernel** (e.g. `uname -a`): Darwin C02CW1JLMD6R 19.6.0 Darwin Kernel Version 19.6.0: Mon Aug 31 22:12:52 PDT 2020; root:xnu-

[2020-12-17 23:02] AmarEL commented on #12827
@mik-laj can you assign it to me, please?
I needed to figure out how to use this config file a few weeks ago, and I think that I can help with some documentation as my first issue =)

[2020-12-17 23:10] satishcb commented on #13099
We are using Airflow 1.10.9. We are calling the dag REST endpoint to trigger. Intermittently we see the call fails. In the postgres logs we see
`
 ERROR:  duplicate key value violates unique constraint "dag_run_dag_id_run_id_key"
DETAIL:  Key (dag_id, run_id)=(ext_trigger_create_cbid_profile_for_duns, manual__2020-12-17T22:39:06.726412+00:00) already exists.
STATEMENT:  INSERT INTO dag_run (dag_id

[2020-12-17 23:48] didip opened #13145 "Expose Gantt chart as an API or able to configure alerting using the Gantt chart."
**Description**

The Gantt chart contains a very valuable information: when and how long each task took serially.

For the purpose of monitoring and alerting, it would be nice if Airflow can do either of these:
* Expose the Gantt chart as an API so that DevOps people can write an alerting script using this API.
* Or allow users to configure alerting from inside the UI using the Gantt chart informa

[2020-12-18 01:57] zhangxiao696 commented on #13133
I need use KubernetesPodOperator in the project, can you have some methods?

[2020-12-18 02:24] mik-laj commented on #12827
@AmarEL  Assigned 🎄🐈

[2020-12-18 02:38] mik-laj commented on #13132
Are you willing to submit a PR?

[2020-12-18 02:41] mik-laj commented on #13131
@potiuk  It seems to me that this problem should also be reported to the authors of the library. It is not a good idea to write logs while the module is importing..

[2020-12-18 03:49] griffincosgrove commented on #13110
newbie here, looking to get my env set up and take this as my first issue.

[2020-12-18 05:45] UrielMaD commented on #13131
Hello @potiuk I'd like to take this one

[2020-12-18 06:50] RafayAK commented on #13102
Any idea where I should look to resolve this issue?

[2020-12-18 09:16] #13137 closed

[2020-12-18 09:48] feluelle commented on #11663
@eladkal could work.

What I don't like about the error is that it tells us that the resource does not exist. I would like to narrow the issue down before retrying. But if we cannot get more information about this, we can use tenacity to start doing retries.

On the user end you can set task retries when this issue appears.

[2020-12-18 10:38] potiuk commented on #13131
For  sure - will you ?

[2020-12-18 10:53] hankehly opened #13149 "Failure during "airflow db init" on fresh airflow 2.0 installation"
**Apache Airflow version**: 2.0

**Environment**:

- **Cloud provider or hardware configuration**: Local development environment using docker
- **OS** (e.g. from /etc/os-release): macOS Catalina (10.15.7)
- **Kernel** (e.g. `uname -a`): Darwin
- **Install tools**: [poetry](https://python-poetry.org/)
- **Others**: docker 20.10.0, postgres, Python 3.7.9

**What happened**:

A fresh installation of

[2020-12-18 10:57] potiuk commented on #13102
I believe it's just htop showing threads as processes on Arm. You can start investigating here - there are some options on disabling/enabling user threads: https://unix.stackexchange.com/questions/10362/why-does-htop-show-more-process-than-ps  - and you can compare it with what `ps` displays. I would love to hear when you investigate more @RafayAK. I close it for now as invalid but if you find tha

[2020-12-18 10:57] #13102 closed

[2020-12-18 11:25] JCoder01 commented on #13099
I'm still trying to work through this and am slowing moving dags over from the original environment where the error occured to the clean environment. While I can't seem seem to get the database into the troubled state on it's own, I can force it into that state by stopping the scheduler, and running the below. Then when you start the scheduler, you get the pk violation.
[code]
I think what is happ

[2020-12-18 11:37] totogo commented on #8645
@mik-laj I was looking for this feature too, it's not there yet

[2020-12-18 12:05] potiuk commented on #13131
But I thnk we need to disable it regardless in the default configuration.

[2020-12-18 12:18] hsnprsd opened #13150 "Add an option to pause/unpause a task in a dag through the Web UI"
**Description**

As of now, there is a on/off switch in the Web UI which can be used to make a dag not get scheduled untill you turn the dag on.
I think the same feature can be implemented to mark a single task as skipped/failed in a dag.
It can be an explicit mark as failed/skipped. It can also not schedule the task for running until it gets unpaused and it can reschedule the task then based on t

[2020-12-18 12:35] potiuk commented on #13149
Hello. We so not support installing airlfow via Poetry.

The official way of installing airflow in a reproducible way is described here (using PIP 20.2.4 and constraint mechanism) :

http://airflow.apache.org/docs/apache-airflow/stable/installation.html#getting-airflow

Also the problems with PIP 20.3 has been apparently solved (we are still verifying it) so installing with PIP should also work.

[2020-12-18 12:36] #13149 closed

[2020-12-18 12:45] ashb commented on #13099
Yeah, I think at the very least we should catch the unique constraint violation and ignore it/carry on.

That said, I'd like to work out _how_ this is possible, as I thought every update to the DAG model was behind a row-level lock, so this sort of failure wasn't meant to be possible.

[2020-12-18 12:48] ashb commented on #13099
@satishcb This is something else -- That error is saying that the pair `(ext_trigger_create_cbid_profile_for_duns, manual__2020-12-17T22:39:06.726412+00:00)` already exists in the DB. Since that is from the API that likely means you have already triggered that exact pair before.

[2020-12-18 13:14] RikHeijdens opened #13151 "Task Instances in the "removed" state prevent the scheduler from scheduling new tasks when max_active_runs is set"
**Apache Airflow version**: 2.0.0
**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
**Environment**:

- **OS** (e.g. from /etc/os-release): Debian GNU/Linux 10 (buster)
- **Kernel** (e.g. `uname -a`): Linux 6ae65b86e112 5.4.0-52-generic #57-Ubuntu SMP Thu Oct 15 10:57:00 UTC 2020 x86_64 GNU/Linux
- **Others**: Python 3.8

**What happened**:

After migrating one of our d

[2020-12-18 13:14] turbaszek commented on #13150
I think this use case sounds similar to what was suggested in #12199. I will close the issue due to #12199, please reopen if you think that your use case is different.

Also, if you are interested in helping implement this feature you may express your interest in related devlist thread:
https://lists.apache.org/thread.html/r14e23de7b71f61e3e81b11eb84da2612938982c46c9824e884d8ba50%40%3Cdev.airflow.

[2020-12-18 13:14] #13150 closed

[2020-12-18 13:29] mik-laj commented on #8645
I was able to create tables with integer range partitioning.
[code]
![Screenshot 2020-12-18 at 14 28 03](https://user-images.githubusercontent.com/12058428/102619916-7c59c300-413d-11eb-8f21-7fae8ea20b2f.png)
![Screenshot 2020-12-18 at 14 28 18](https://user-images.githubusercontent.com/12058428/102619923-7d8af000-413d-11eb-9434-afcb097b17b4.png)

[2020-12-18 13:29] #8645 closed

[2020-12-18 13:40] mik-laj commented on #13131
Of course. I'm already creating the ticket.

Not a very critical bug in my opinion for us to have to use workarounds on our side. If the authors of the library do not want to make changes to the library, we can try a workaround.

[2020-12-18 14:07] shizidushu commented on #13132
Just submit the PR. I only test it locally on my machine.

I mainly use the WinRMOperator to run powershell script. So I add the ability to run powershell script. (The main script is borrowed from https://github.com/diyan/pywinrm/blob/master/winrm/__init__.py#L51)

[2020-12-18 14:30] pcandoalmeida commented on #10386
Hey @TobKed sorry for the delay on this! @potiuk shall we close this issue?

[2020-12-18 14:36] gfelot opened #13154 "1.10.12 - > .14 : section/key [google/prompt] not found in config"
**Apache Airflow version**: Going from a working 1.10.12 -> .14

**Environment**:

- **Cloud provider or hardware configuration**: GCP
- **OS** (e.g. from /etc/os-release): Debian
- **Kernel** (e.g. `uname -a`): 4.19.0-10-cloud-amd64 #1 SMP Debian 4.19.132-1 (2020-07-24) x86_64 GNU/Linu

**What happened**:

I have a mix of Terraform/Ansible to handle GCP and the installation on VM. Everything was

[2020-12-18 18:03] mik-laj commented on #13110
@griffincosgrove I assigned you to this ticket. :-)

[2020-12-18 18:13] ryanahamilton commented on #11334
This is definitely on my radar/wish list as well. With the current UI framework, there isn't a clean and clear path to implement this in a sustainable fashion. The aged Bootstrap (v3.3) dependency nested in our FAB dependency is one of the biggest limitations, whereas the latest Bootstrap versions (v5) employ CSS variables that would allow for systematic approach to theme switching. That said, I'm

[2020-12-18 18:39] hedrickw opened #13158 "UI Doesn't use all of Bootstrap theme css, Airflow 2.0"
**Apache Airflow version**: 2.0.0

**Environment**: Ubuntu

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

Picked Cyborg.css in web_server config but background is still default
![image](https://user-images.githubusercontent.com/23406205/102648950-3f7dd400-411d-11eb-880a-d

[2020-12-18 18:54] mik-laj commented on #13154
You need to add a new key to the configuration file:
[code]
I will add a fix to set the default value shortly.

[2020-12-18 18:59] JCoder01 commented on #13099
@ashb I think I narrowed this down to being an issue with one of my plugins (a FAB view) that relies on an Airflow Variable. I think this is the same one I pinged you about on Slack a week or two ago and we thought it was likely due to me running the scheduler a debugger, but maybe that wasn't (entirely) the problem. I found that if I commented out the lines that did the call to `Variables` the pk

[2020-12-18 19:18] ashb commented on #13099
Oh interesting. Just by putting that in a plugin things break?

[2020-12-18 20:07] JCoder01 commented on #13099
In this simple example, it gets called when the scheduler is initializing and loads plugins.
In my actual plug-in, when the view get initialized like this

v_appbuilder_view = TestAppBuilderBaseView()

The call to variables is made.

[2020-12-18 20:07] JCoder01 commented on #13099
But both happen when the scheduler loads plugins.

[2020-12-18 21:05] hankehly commented on #13149
Thank you for the quick reply.

DB initialization after installing packages with `pip` (even without specifying constraints) succeeds on my local environment.

Thanks. It looks like poetry does not support constraint files out of the box. If I come across anything helpful regarding installation via poetry I'll share it with the community.

[2020-12-18 21:42] JCoder01 commented on #13099
log and stacktrace
[code]

[2020-12-18 22:24] kaxil commented on #13047
https://github.com/apache/airflow/pull/13163 should significantly reduce this error:

[2020-12-18 23:05] kaxil commented on #13151
https://github.com/apache/airflow/pull/13165 Should fix it

[2020-12-18 23:29] wolfier opened #13166 "Cannot select Airflow version on CLI and Macros Documentation"
**Apache Airflow version**: N/A

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): N/A

**Environment**:

- **Chrome Version**: Version 87.0.4280.88 (Official Build) (x86_64)
-  **Safari Version**: Version 14.0 (15610.1.28.1.9, 15610)

**What happened**:

I was unable to select the version for the documentation page on CLI and Macros

**What you expected to happen**:

I

[2020-12-19 08:30] dstandish opened #13181 "keda scaledobject not created even though keda enabled in helm config"
In brand new cluster using k3d locally, I first installed keda:
[code]

Next, I installed airflow using this config:

[code]

I think this should create a scaled object `airflow-worker`.

But it does not.

@turbaszek and @dimberman you may have insight ...

[2020-12-19 08:33] potiuk opened #13182 "Rewrite our Github Action workflows to Python"
Yesterday (18th of December) GitHub announced a 3rd-party Python GHApi: https://github.blog/2020-12-18-learn-about-ghapi-a-new-third-party-python-client-for-the-github-api/

One of the features of the API is the ability to write GitHub Actions Workflows (including custom actions) entirely in Python:

https://github.blog/2020-12-18-learn-about-ghapi-a-new-third-party-python-client-for-the-github-ap

[2020-12-19 08:34] potiuk commented on #13182
cc: @kaxil @ashb @turbaszek @mik-laj and @TobKed  - let's do it!

[2020-12-19 09:42] dstandish commented on #13181
figured it out, created pr

[2020-12-19 12:09] #13151 closed

[2020-12-19 14:06] jmelot commented on #12894
I have some time now, I could work on this.

[2020-12-19 16:36] JavierLopezT opened #13185 "Cannot import name 'BlobServiceClient'"
I am using Airflow with docker-compose and Dockerfile. I have just changed in the Dockerfile the version from 1.10.10 to 1.10.14, and I get this import error in all files which involve Snowflake. I am not using Azure at all.
In one particular DAG I also get the error `An HTTP Client raised and unhandled exception: cannot import name 'BlobServiceClient'

Here is the full trace of the error:
[code]

[2020-12-19 16:53] turbaszek commented on #13185
What version of snowflake connector do you use? I think I saw this error some time ago...

[2020-12-19 16:57] turbaszek commented on #13145
I think having some Airflow metrics exposed via API is a good idea. I tried doing something with it - not via API but in webserver - #11632

[2020-12-19 17:06] JavierLopezT commented on #13185
2.3.7. I have downgraded it to 2.3.6 and now I don't have the error. Should I close the issue or it can still be airflow-related?

[2020-12-19 17:34] AmarEL commented on #13142
@LamaAni can you assign it to me, please?
I faced this problem and kind of solve it working on #12827

[2020-12-19 17:58] LamaAni commented on #13142
Hi @AmarEL , I can't seem to be able to assign

[2020-12-19 19:42] paulobuch opened #13188 "having problems to start the weserver"
**Apache Airflow version**:
Apache Airflow: 2.0.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:
python_version  | 3.8.6
- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):Mac OS
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:
running the command `airflow webserver --port 8080

[2020-12-19 21:57] grepthat opened #13189 "Handle long task IDs in k8s"
**Apache Airflow version**: master

**Kubernetes version**: v1.19.3

**Environment**: Ubuntu 18.04 Server

Using task IDs **longer than 253 characters** seems to cause problems in multiple areas. Considering we can now use **nested task groups** (which are basically prefixes for the task ID afaik) the final task ID can be pretty long.

- `pod_generator.py` does not use `make_safe_label_value` and

[2020-12-20 01:21] #12827 closed

[2020-12-20 01:22] mik-laj commented on #13142
@AmarEL  I assigned you to this ticket.  🐈 🐈‍⬛

[2020-12-20 01:42] mik-laj commented on #13150
Other similar issue: https://github.com/apache/airflow/issues/9298

[2020-12-20 06:14] yeago commented on #11301
likely related https://groups.google.com/forum/embed/#!topic/celery-users/sfU1Bzsxn8c

[2020-12-20 09:36] HaloKo4 commented on #13185
You probably have conflicting versions of `azure-storage-blob`
See:
https://github.com/apache/airflow/blob/master/setup.py#L395

snowflake-connector-python have`'azure-storage-blob>=12.0.0,<13.0.0'`
https://github.com/snowflakedb/snowflake-connector-python/issues/225

[2020-12-20 09:42] HaloKo4 commented on #12120
Where airflow even use dnspython ?
I see it as dependency for mongo provider but I don't see where this package is actually being used in the code.

[2020-12-20 10:26] IvanUkhov opened #13192 "Generalize MLEngineStartTrainingJobOperator to custom images"
**Description**

The operator is arguably unnecessarily limited to AI Platform’s standard images. The only change that is required to lift this constraint is making `package_uris` and `training_python_module` optional with default values `[]` and `None`, respectively. Then, using `master_config`, one can supply `imageUri` and run any image of choice.

**Use case / motivation**

This will open up f

[2020-12-20 11:02] TobKed commented on #10386
Hi @pcandoalmeida , it is only partly solved. I created draft PR https://github.com/apache/airflow/pull/13193 to push it forward

[2020-12-20 12:36] turbaszek commented on #13192
Please check the discussion:
https://github.com/apache/airflow/discussions/12610

I don't think the operator is limited as you can do:
[code]

Please, reopen if I'm wrong 👌

[2020-12-20 12:38] turbaszek commented on #13192
Do I correctly understand that this:
[code]

Won't work currently?

[2020-12-20 12:46] IvanUkhov commented on #13192
Those two are mutually exclusive ways of working with AI Platform. In other words, it does not make sense to specify `training_python_module` together with `imageUri`.

[2020-12-20 13:37] eladkal commented on #12894
@jmelot assigned to you

[2020-12-20 16:52] mik-laj commented on #12120
Airflow doesn't use this dependency directly, but other dependencies that require Airflow do require this library. Python doesn't have dependency isolation (for example, [the node has](https://npm.github.io/how-npm-works-docs/npm2/how-npm2-works.html)), so we need to make sure other libraries don't restrict their dependency versions too much, otherwise users won't be able to use their favorite lib

[2020-12-20 17:08] HaloKo4 commented on #12120
but this dependency exist only on mongo provider. what am I missing here?
https://github.com/apache/airflow/blob/master/setup.py#L321

[2020-12-20 17:30] mik-laj commented on #12116
Depends: https://github.com/apache/airflow/issues/12120

[2020-12-20 17:35] mik-laj commented on #13185
Related: https://github.com/apache/airflow/issues/12508 https://github.com/apache/airflow/issues/11968 https://github.com/apache/airflow/issues/9745

[2020-12-20 18:30] mik-laj commented on #12120
@HaloKo4 We generate one constraints file to check compatibility with all libraries and detect all conflicts, so even if mongo only requires an older version, most users will have the old version of this library.

Here is the official Airflow installation guide, which installs libraries always the latest tested versions.
http://apache-airflow-docs.s3-website.eu-central-1.amazonaws.com/docs/apache-

[2020-12-20 21:17] akotlar opened #13198 "Already has 1 active runs, not queuing any tasks for run"
**Apache Airflow version**: 2.0.0

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): Ubuntu 18.04
- **Kernel** (e.g. `uname -a`): Linux workstation38 5.4.0-52-generic #57~18.04.1-Ubuntu SMP Thu Oct 15 14:04:49 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

**What happened**:

Ran a dag, could not trigger a subsequent run.

Dag settings:

[code]

Dag

[2020-12-20 22:16] XD-DENG opened #13200 "CLI `airflow scheduler -D --pid <PIDFile>` fails silently if PIDFile given is a relative path"
**Apache Airflow version**: 2.0.0

**Environment**: Linux & MacOS, venv

- **OS** (e.g. from /etc/os-release): Ubuntu 18.04.3 LTS / MacOS 10.15.7
- **Kernel** (e.g. `uname -a`):
  - Linux *** 5.4.0-1029-aws #30~18.04.1-Ubuntu SMP Tue Oct 20 11:09:25 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
  - Darwin *** 19.6.0 Darwin Kernel Version 19.6.0: Thu Oct 29 22:56:45 PDT 2020; root:xnu-6153.141.2.2~1/RELE

[2020-12-20 22:20] XD-DENG commented on #13200
Fixing this issue is straigth-forward: when a PID file path is provided, always extend it to a full absolute path first. But I would like to have someone to help confirm they can reproduce the error first, meanwhile I will find out the root-cause as well of course.

[2020-12-21 00:04] oferze commented on #13108
Thanks; I've just created a [question](https://github.com/apache/airflow/discussions/13202) but may I note that the question is not separate from the issue; it's just means to help the community and myself figure out the root cause; this will ultimately lead to a fix in either Airflow or WSL2 - depends on the findings.

It can indeed be a WSL2 issue but I suspect it's more likely something with Ai

[2020-12-21 00:52] jsmodic opened #13205 ""airflow upgradedb" succeeds but "airflow db upgrade" fails on 1.10.14"
**Apache Airflow version**:
1.10.14

**What happened**:

[2020-12-21 00:47:14,079] {db.py:378} INFO - Creating tables
INFO  [alembic.runtime.migration] Context impl PostgresqlImpl.
INFO  [alembic.runtime.migration] Will assume transactional DDL.

0

(no output)

1

**What you expected to happen**:

"airflow db upgrade" to exit 0, or at least output something useful.

**How to reproduce it**:

I up

[2020-12-21 01:06] hankehly commented on #13149
For those seeking a workaround, I was eventually able to initialize the database with a poetry installation by adding `python3-openid` to my list of dependencies (see https://github.com/python-poetry/poetry/issues/1287 for details)
[code]

[2020-12-21 01:58] dm03514 commented on #12771
👍 For this feature.

@mik-laj

I created a little test script to illustrate building a trace from a dag run:

https://github.com/dm03514/airflow-tracer/blob/main/README.md

Tracing is a different type of telemetry (alongside statsd and sentry). It provides a "Gantt" Chart view into a dag. Some tracing providers (like LIghtstep) provide advanced dashboarding and alerting.

The POC project above bui

[2020-12-21 02:18] oferze commented on #13108
Furthermore, if I'll try to create an issue with WSL2, they will very rightfully say that since Bash executes these Windows programs successfully, it must be something within airflow itself which executes Bash commands differently.

So I think this place is the best avenue of trying to solve this...

[2020-12-21 03:34] c-hui commented on #10055
@dongle94 don't use pymysql to connect db backend

[2020-12-21 08:27] potiuk commented on #13108
Sure - just please take a note, that Airflow is not "guaranteed" to work on WSL2. WSL2 might be used for development of Airflow itself, but this is not the "target" execution environment for any production use. So while you might get help from someone who finds the problem, it's not really "expected" that this case is going to work.

[2020-12-21 08:36] potiuk commented on #13149
Cool. Do you think you could make somehow repeatable instructions on how to install Airflow with Poetry? it would be great to add such instruction in Airflow Docs for those who try it.

[2020-12-21 09:07] RikHeijdens commented on #13198
Hi @akotlar, I believe this is the same issue that I've reported in https://github.com/apache/airflow/issues/13151. It ought to be fixed by https://github.com/apache/airflow/pull/13165.

[2020-12-21 09:22] Swalloow opened #13211 "Support extraContainers configuration in Helm Chart"
**Description**

Add extra containers for the web/scheduler/worker.

**Use case / motivation**

For users who develop and use sidecar containers themselves.
ex) sidecar that syncs DAGs from object storage.

**Are you willing to submit a PR?**

If no one willing to submit PR, I'll try.

**Related Issues**

[2020-12-21 10:09] oferze commented on #13108
The project is open source and non for profit... the whole idea is to make the product strive by figuring out cases that should legitimately work but don't. More and more users are using WSL / WSL2. The only way to invoke a Windows program by airflow is via WSL. Meaning, you can't just put airflow on a Linux VM or bare metal and invoke Windows programs because it won't work. At the same note, I sh

[2020-12-21 10:15] sakshi-bansal commented on #13006
One possible solution that worked for me:
1. Add in_cluster in the kubernetes_default connection in the extras as **{"extra__kubernetes__in_cluster": "True"}**
2.  Create ClusterRole granting the serviceaccount airflow access to create spark applications

[2020-12-21 10:19] #13181 closed

[2020-12-21 10:21] turbaszek opened #13214 "Make migration logging consistent"
**Apache Airflow version**:
2.0.0.dev

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

When I run `airflow db reset -y` I got

[code]

**What you expected to happen**:

I expect

[2020-12-21 10:31] potiuk commented on #13108
This is precisely what Airflow is right now. Linux is the only 'execution environment' only for Airflow. There are open issues to improve Windows support - for example https://github.com/apache/airflow/issues/12874 and https://github.com/apache/airflow/issues/10388  - but those are not being actively worked on for now.

We are going to discuss the scope of Airflow 2.1 right after New Years, I will

[2020-12-21 11:37] oferze commented on #13108
Thanks for raising it.

It works on a different environment so I think it's environment/permission based (even though I mentioned I'm root all the way) rather than code based.

The other takeaway might be to add some more environment-related info when a Bash command fails, to STDERR / STDOUT.

[2020-12-21 11:43] #11679 closed

[2020-12-21 13:18] potiuk commented on #13108
Yep. But I think those are very much related - i.e. the same people might  be interested in solving both issues.

BTW - maybe you simply can try add this info yourself and make a PR. There are not many people who are running Airflow on Windows in the community - it is not very common. but that might be a good start for you to dig a bit deeper and try to add more logging yourself? Airflow is a comm

[2020-12-21 14:17] akotlar commented on #13198
It looks that way! Thanks

[2020-12-21 14:38] ashb commented on #11376
New API in 2.0 should fix this.

[2020-12-21 14:38] #11376 closed

[2020-12-21 14:38] ashb commented on #11302
@turbaszek Did we do this all of or just the "job id" part?

[2020-12-21 14:42] ashb commented on #11204
I can see what you what you mean by this, but also the whole dag run _isnt_ skipped if the first task (I assume) actually ran.

So we'd have to be careful about the naming of this to make it clear.

As for the "API" to make a sensor trigger this: probably by throwing a (new) custom exception -- like we have `AirflowFailException` to make a task fail without retrying, a new `SkipRestOfDagRun` excep

[2020-12-21 14:47] ashb commented on #8181
Can someone test this on 2.0.0 please?

[2020-12-21 14:48] ashb commented on #12849
Please try out 2.0.0 -- the number of files should no longer have an impact on the scheduler performance

[2020-12-21 14:51] ohadmata commented on #12849
@ashb I will try, Thanks!

[2020-12-21 14:51] #12849 closed

[2020-12-21 15:02] rkh-hash opened #13222 "airflow db upgrade failed, no generic 'DROP CONSTRAINT' in MySQL"
**Apache Airflow version**: `2.0.0`

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): N/A

**Environment**: docker swarm

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): `Ubuntu 18.04.5 LTS (Bionic Beaver)`
- **Kernel** (e.g. `uname -a`):
- **Install tools**: `mysql-client=5.7`
- **Others**:

**What happened**:

When I try to upgra

[2020-12-21 15:09] potiuk commented on #13222
Which Database/Version do you have ? Is it MariaDB (and which version?). You only mentioned the client version in your report.

Note that Airflow 2.0 has a bit higher requirements than Airflow 1.10 when it comes to the DB. MariaDB is not supported, neither MySQL 5.6 (5.7 is supported with some limitations, only MySQL 5.8 version is fully supported).

If you are using non-supported version of DB yo

[2020-12-21 15:23] rkh-hash commented on #13222
@potiuk , wow sorry, I missed specify that.

**innodb_version**: `5.7.31-34 `
**version**: `Percona XtraDB Cluster (GPL), Release rel34`

So, I could upgrade to 2.0 ?

[2020-12-21 15:43] potiuk commented on #13222
I believe you should be able to, yes.

Which version of Airflow you migrated from ? You know that you should first migrate to 1.10.14 first and only then migrate to 2.0 ? Not sure if that solves the problem, but It would be great to know if that solves the problem?

https://airflow.apache.org/docs/apache-airflow/stable/upgrading-to-2.html

[2020-12-21 15:53] rkh-hash commented on #13222
@potiuk sure,

I want to migrate from `1.10.14`.

I've already read this documentation and that's why I've migrated to `1.10.14` at first.

Furthermore, the `airflow upgrade_check` confirms that check `check for latest versions of apache-airflow and checker` is succeeded.

So, upgrading to airflow 2 still broken .. 😕

[2020-12-21 15:56] potiuk commented on #13222
Actually looks like Percona implements their own MySQL replacement (https://www.percona.com/doc/percona-server/5.7/index.html) , so this might be non fully-compatible MySQL engine..

Can you please escalate to them (CC: this ticket and comment) and see whether they can confirm it?

It looks like MySQL SQLalchemy client that you use might simply not recognize the constraint type that is being dropp

[2020-12-21 15:59] potiuk commented on #13222
I am closing that as 'invalid' for now, but please comment if you find that none of the provided directions work (or if you find that it worked, post here confirming what worked).

[2020-12-21 17:38] avnerw74 opened #13225 "Clear Tasks via the stable REST API with task_id filter"
**Description**

I have noticed that the stable REST API doesn't have the ability to run a task (which is possible from the airflow web interface.
I think it would be nice to have either:
- Run task
- Run all failing tasks (rerun from point of failure)
this ability for integrations.

**Use case / motivation**

I would like the ability to identify the failing tasks on a specific DAG Run and rerun o

[2020-12-21 17:40] potiuk opened #13226 "Use of SQLAInterface in custom models in Plugins"
We might need to add to Airflow 2.0 upgrade documentation the need to use `CustomSQLAInterface` instead of `SQLAInterface`.

If you want to define your own appbuilder models  you need to change the interface to a Custom one:

Non-RBAC replace:
[code]

with RBAC (in 1.10):
[code]

and in 2.0:

[code]

[2020-12-21 17:55] potiuk commented on #12120
Also @HaloKo4 -> those are not 'requirements' - those are 'constraint' files. This means that when you are installing airflow you can use those constraint files and they will "guarantee" that the installation will produce non-conflicting set of dependencies (as of 1.10.14 and 2.0.0). We have a process in place where during our CI builds we automatically upgrade to newer constraints where possible

[2020-12-21 18:03] potiuk commented on #13205
I think you are somehow redirecting stderr and do not see what is being written there. This is the message printed to stderr when you run `arflow db upgrade`

[code]

[2020-12-21 18:11] potiuk commented on #10386
Yeah. The docs in #12921 only describe prerequisites for "custom" providers - which can be structured in whatever way the 3rd-party provider wants them to be. But there are much "higher" requirements for the providers that are part of the Airflow repo (i.e. community-managed ones) - documentation, examples, proper structure and naming, provider.yaml file etc. We cannot expect 3rd-party provider to

[2020-12-21 18:28] potiuk commented on #13200
Confirmed.

The reason is "working_directory" parameter not set in DaemonContext https://github.com/apache/airflow/blob/97eee350e41f6f00ad3076489a5dac2e5beaa266/airflow/cli/commands/scheduler_command.py#L48

By default the "working_directory" is set to "/" which means that the pid file is attempted to be created as "/<FILE>" - which for non-root user will fail. This works for example in Breeze as

[2020-12-21 18:36] XD-DENG commented on #13200
Thanks @potiuk for helping identify the root cause.

I have different opinion: if it's a relative path, it should be relative to current directory where the user is running the command. I.e., as I mentioned above, if it's relative path X, extend it to CURRENT_DIR/X (rather than assuming it to be AORFLOW_HOME)

Let me know if you agree?

[2020-12-21 18:38] mik-laj opened #13230 "Release google provider 2.0 and 3.0"
Hello.
When I was working on the ticket: [Update google-cloud deps to v2](https://github.com/apache/airflow/issues/12116), it turned out that it will affect end users and DAG files. For this reason, I will want to do a new major release (2.X.X) for google provider package, which will include updates for 10 libraries.  After the releasing backport provider are finished, I would like to do another m

[2020-12-21 18:40] mik-laj commented on #10152
Task done.

[2020-12-21 18:40] #10152 closed

[2020-12-21 18:52] potiuk commented on #13200
I think when you deamonize a process, you actually want to run it in a "different" directory. The whole idea about running process as a daemon in *NIX is to detach it completely from the originating process/command (that's why for example if you want to make a really detached daemon you should fork it twice https://stackoverflow.com/questions/881388/what-is-the-reason-for-performing-a-double-fork-

[2020-12-21 18:56] XD-DENG commented on #13200
I'm more thinking from an "expectation" perspective:

Say I'm in directory "/home/xd" (my AIRFLOW_HOME may be `/home/airflow_user/airflow`), and I run `airflow scheduler -D --pid test.pid`. When I specify `test.pid`, I'm expecting the PID to be saved in this PID file in current directory, whose path is `/home/xd/test.pid`. I don't expect the full path to be `/home/airflow_user/airflow/test.pid`, w

[2020-12-21 18:58] potiuk commented on #13200
So maybe it's better to require a non-relative file and fail with error if it is not ?

[2020-12-21 19:00] XD-DENG commented on #13200
Haha, I agree that's a "compromise" which can make both of us happy. Why not😉

I will create a PR shortly tonight for this.

[2020-12-21 19:07] mik-laj opened #13231 "One ClientInfo instance in Google provider"
Hello,

Client info initialization is duplicated in many places.
https://github.com/apache/airflow/blob/349b0811c3022605426ba57d30936240a7c2848a/airflow/providers/google/cloud/_internal_client/secret_manager_client.py#L65
https://github.com/apache/airflow/blob/8c42cf1b00c90f0d7f11b8a3a455381de8e003c5/airflow/providers/google/cloud/log/gcs_task_handler.py#L100
https://github.com/apache/airflow/blob

[2020-12-21 19:34] rkh-hash commented on #13222
@potiuk Thank you for your explanations but I don't think so.

Why:

Existing airflow migration rules specify `_type` arg when calling `op.drop_constraint` alembic operation method.

But, this migration rule `cf5dc11e79ad_drop_user_and_chart.py` **DOES NOT** set `_type` arg value (https://github.com/apache/airflow/blob/master/airflow/migrations/versions/cf5dc11e79ad_drop_user_and_chart.py#L49).

A

[2020-12-21 19:35] turbaszek commented on #11302
Just the job id, I'm going to propose an AIP in few days for redesigning backfill.

[2020-12-21 19:44] turbaszek commented on #13192
@IvanUkhov would you mind raising a PR?

[2020-12-21 19:45] potiuk commented on #13222
Nice find - can you try it out please if it works ?

[2020-12-21 19:48] #12804 closed

[2020-12-21 20:36] #12877 closed

[2020-12-21 20:38] rkh-hash commented on #13222
@potiuk so it's a bug ^^ ?

It's fixed but I've changed another stuff.

The constraint name `known_event_user_id_fkey` may not exist anymore in airflow `1.10.14`.

So, if the goal of this migration rule is to drop all foreign keys referred to `users` table (before drop it), we can achieve that with this following logic:

[code]

With these modifications, next migration rules are applied without an

[2020-12-21 20:40] rkh-hash commented on #13222
@potiuk I can create a PR for that if you approve these changes.

[2020-12-21 20:59] potiuk commented on #13222
Happy to do so !

[2020-12-21 21:49] potiuk commented on #13200
I think we should take https://linux.die.net/man/1/daemonize as the canonical behaviour.

It supports both - changing the working directory (default as "/") and specifying pidfile at the command line. It is not really specified in the man page what happens if you specify relative path, but maybe we can check and do the same.

[2020-12-21 21:53] XD-DENG commented on #13200
But for our case, it may not be a good idea to further expose "working directory" or allow changing it. Making it simple should be better.

I prefer to my very first proposal (if the path is relative, expand it with the current directory) which aligns with @ashb 's suggestion. Meanwhile I'm open to different solution if we come to an agreement by majority.

[2020-12-21 21:59] jsmodic commented on #13205
That must be my misunderstanding, I cut out that output as I thought it was part of the the deprecation warnings (that I have a ton of plugin-related ones).

I was under the impression the two commands were aliases in 1.10.14, so I was migrating my tooling to begin support for 2.0. I guess that's just a battle to fight in 2.0 instead.

[2020-12-21 22:03] potiuk commented on #13200
I am not sure we should reinvent the whell. I just wonder what "deamonize" does when you do not specify the working dir. I think we should do exactly the same. Not sure how relative paths are treated by it, but I believe we should do exactly what it does.

[2020-12-21 22:04] ashb commented on #13200
What deamonize does is not relevant for the behaviour we want.

We are accepting a file input from the command line: what is the most common pattern, and therefor least friction/least expected to a user.

[2020-12-21 22:05] XD-DENG commented on #13200
I start to doubt if we are discussing on the same thing now :-)

[2020-12-21 22:07] potiuk commented on #13205
I believe they are not. They were added very recently (@ashb ? ) and my current thinking was that they were there there to raise awareness about 2.0 migration rather than add the features from 2.0 to 1.10.

[2020-12-21 22:07] ashb commented on #13200
Since you asked though - daemonize(1) creates the pid file, then changes directory -- i.e. relative pid file would be relative to the cwd.

[2020-12-21 22:13] ashb commented on #13205
Oh that looks like a bug in `db upgrade` -- it's bound to the wrong function maybe.

[2020-12-21 22:14] ashb commented on #13205
@potiuk I added the "new style" commands to 1.10.14 so that it would be possible to upgrade any scripts etc to use new style commands. So this is a bug

[2020-12-21 22:39] jsmodic commented on #13205
https://github.com/apache/airflow/blob/1.10.14/airflow/bin/cli.py#L3114

looks like an easy fix there

[2020-12-21 23:26] #13081 closed

[2020-12-21 23:27] kaxil commented on #13182
🎉 Yes let's do it

[2020-12-22 01:43] mik-laj commented on #12556
@juneoh Are you willing to submit a PR?

[2020-12-22 01:44] mik-laj commented on #12061
@sharad-vm  Do you need help? I will be happy to help you.

[2020-12-22 01:48] juneoh commented on #12556
Sure, I'll take a look during the holidays.

[2020-12-22 02:05] oferze commented on #13108
Yes I've already inspected bash_operator.py. Saw that it's using a subprocess etc. but couldn't figure how to tweak it to emit more detailed logging or to expose what different environment a subprocess runs at. I'm not a Python developer; I can google of course and try debugging my way - which I'll do - but I was hoping someone within the project could immediately point the environmental differenc

[2020-12-22 03:42] rvasconcelossilva commented on #9107
has it been built?

[2020-12-22 04:31] akotlar commented on #13198
Closing, will reopen if #13165 doesn't fix.

[2020-12-22 04:31] #13198 closed

[2020-12-22 04:44] akotlar opened #13242 "[ui] Tree view provides inconsistent representation of dependent task views"
**Apache Airflow version**: 2.0.0
**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): NAME="Ubuntu 18.04.5 LTS"
- **Kernel** (e.g. `uname -a`): Linux 18.04.1-Ubuntu SMP
- **Install tools**:
- **Others**:

**What happened**:

Tree view does not appear to properly represent the relationship between dependent task group. Tasks within one task group

[2020-12-22 05:43] sharad-vm commented on #12061
Thanks for the follow-up and offering to help, @mik-laj!
I will let you know in 24 hours.

[2020-12-22 07:24] nabajitdey opened #13243 "Scheduler stopping frequently"
**Apache Airflow version**: 1.10

**What happened**: Airflow Scheduler has to be restarted frequently while running DAGs. Also tried pkill -f airflow and restarted both the scheduler and the webserver, but still the issue is there. I’ve also noticed that sometimes after restarting the scheduler for a couple of times this issue doesn’t appear again.

`The scheduler does not appear to be running. La

[2020-12-22 07:42] michaelm6y opened #13244 "Start Times Without a Time Zone Crash the Scheduler/Webserver"
**Apache Airflow version**: 2.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): N/A

**Environment**:

- **Cloud provider or hardware configuration**: Local
- **OS** (e.g. from /etc/os-release): Mac
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

Scheduler and webserver crash when a DAG doesn't have a timezone associated with t

[2020-12-22 09:54] eladkal commented on #9107
There is PR in progress by @marshall7m

[2020-12-22 11:18] nathadfield commented on #9975
For what it's worth, this doesn't seem to be an issue on `master` but it certainly is on 2.0 installed from pip.

I created this DAG, switched it on and allowed it to catchup and then cleared the status of all tasks.

[code]
As you can see, all the tasks are now running at the same time.

<img width="1181" alt="Screenshot 2020-12-22 at 11 16 44" src="https://user-images.githubusercontent.com/96711

[2020-12-22 11:30] rkh-hash commented on #13222
@potiuk 👋 done.

[2020-12-22 11:35] nathadfield commented on #9975
Here's the same DAG running against `master` via breeze.

<img width="1210" alt="Screenshot 2020-12-22 at 11 35 21" src="https://user-images.githubusercontent.com/967119/102884610-ca2a4000-4449-11eb-92f7-00604f38ee1d.png">

[2020-12-22 12:52] potiuk commented on #13222
Nice! Thanks!

Fixed by #12329

[2020-12-22 12:52] #13222 closed

[2020-12-22 12:54] ephraimbuddy opened #13252 "airflow.contrib.executors module missing in airflow 1.10.14"
MesosExecutor and KubernetesExecutor can no longer be imported from `airflow.contrib.executors` in the released 1.10.14

**Apache Airflow version**:1.10.14

**What happened**:

MesosExecutor cannot be used because `airflow.contrib.executors` is missing

**What you expected to happen**:

I expected to use MesosExecutor without issues

**How to reproduce it**:
1. Install apache-airflow 1.10.14
2. Us

[2020-12-22 13:00] potiuk commented on #13252
Confirmed. Seems like __init__.py has been accidentally moved out from contrib.executors module in https://github.com/apache/airflow/commit/3437663676f287b84e9c3fa05ed404e4adf34739

[2020-12-22 14:08] leopoldhoudin opened #13254 "Import error when using custom backend and sql_alchemy_conn_secret"
**Apache Airflow version**: 2.0.0

**Environment**:

- **Cloud provider or hardware configuration**: N/A
- **OS** (e.g. from /etc/os-release): custom Docker image (`FROM python:3.6`) and macOS Big Sur (11.0.1)
- **Kernel** (e.g. `uname -a`):
  - `Linux xxx 4.14.174+ #1 SMP x86_64 GNU/Linux`
  - `Darwin xxx 20.1.0 Darwin Kernel Version 20.1.0 rRELEASE_X86_64 x86_64`
- **Install tools**:
- **Others*

[2020-12-22 14:10] davido912 opened #13255 "Installing Snowflake Providers invalidates log reading"
How to reproduce:
with logging set to remote and reading from S3 bucket, installing apache-airflow-providers-snowflake==1.0.0 against the given constraint file results in an error when attempting to read logs:
[code]

It isn't very clear why this is happening and I still couldn't manage to figure out what's the culprit

[2020-12-22 14:36] davido912 commented on #12881
I would assume this https://github.com/apache/airflow/issues/13255 issue I raised is related (?)

[2020-12-22 14:43] potiuk commented on #13255
Closing as duplicate.

[2020-12-22 14:43] #13255 closed

[2020-12-22 15:19] potiuk commented on #12881
Absolutely @davido912

[2020-12-22 15:20] kaxil commented on #13252
Closed by https://github.com/apache/airflow/commit/cc768576a8df3a1dbdb9e22de087b020b598f124

[2020-12-22 15:20] #13252 closed

[2020-12-22 15:29] potiuk commented on #13108
I don't think we have anyone who uses this setup in the core project team. We could also try googling (which I did) but I believe at this stage some more experimentation is needed.

[2020-12-22 15:34] potiuk commented on #13108
This is likely more related to the way Windows treats processes spawned as sub-processed of such process - and this is not "airflow" issue but rather subprocesses in this setup. We fork the processes when we are running the task - so this might be the issue. You can try to export  `export AIRFLOW__CORE__EXECUTE_TASKS_NEW_PYTHON_INTERPRETER=True` to see if it changes anything (this uses spawning ne

[2020-12-22 15:36] mik-laj commented on #8171
@2796gaurav I unassigned you from this ticket so that the next contributor can start working. If you want to continue working, let me know and I will assign you again.

[2020-12-22 15:37] mik-laj commented on #10367
@avats-dev I unassigned you from this ticket so that the other contributor can start working on it. If you want to continue working, let me know and I will assign you again.

[2020-12-22 15:39] mik-laj commented on #10206
@fengsi I can see that you are not active on this ticket, so I unassigned you from this ticket so that the other contributor can start working on it. If you want to continue working, let me know and I will assign you again.

[2020-12-22 15:40] mik-laj commented on #10549
@jpmarques66 I can see that you are not active on this ticket, so I unassigned you from this ticket.  Now another contributor can start working on it. If you want to continue working, let me know and I will assign you again.

[2020-12-22 15:40] #10129 closed

[2020-12-22 15:43] mik-laj commented on #11098
@jaketf Do you need any help? I happy to help :-)

[2020-12-22 15:44] potiuk commented on #13205
Yeah. Can you please make a PR fixing it ?

[2020-12-22 16:43] potiuk commented on #11425
Hello everyone here. I wanted to propose some vision of the 'separate provider' versioning that we should implement as part of cleanup and release Google Provider (we are already planning to release 2.0.0 provider for Google as it will contain breaking changes due to non-compatible Python API 2.0 libraries. So we will have a chance to test the extreme version,

My proposal:

1) We should add 'curr

[2020-12-22 16:52] ashb commented on #11425
Sounds good. Two minor comments

1. We can use the existing version field in the provide.yaml for this can't we?
2. I think for the 1.0.0 I did `providers/` (rather than `providers-`) prefix. We should be consistent, and either continue to use `/` or go back and recreate the 1.0.0. Same for upgrade-check tags.

Otherwise in total agreement.

[2020-12-22 17:04] potiuk commented on #11425
Yep. We currently have the 'versions' field which is an array of versions and we use it to keep list of available versions of the provider (we can use it to select version in the generated docs like in Airflow docs). Sorted in descending order, so we can add the right version as the first entry at the moment we prepare for release.

[code]

We have to recreate it anyway because we want to have a s

[2020-12-22 17:10] potiuk commented on #11425
And one more thing. I believe for the new versions of providers we can completely skip the list of added/moved operators in README. Those are useful for Backport providers and possibly for 1.0.0 version, but I think for all the future releases of providers the "ADDITIONAL_INFO.md" content (or renamed to UPDATING) is much more important, and the documentation we have covers the list of classes etc.

[2020-12-22 17:37] potiuk commented on #13254
It looks like you have somethng seriously wrong in your configuration -- looks like the line numbers reported do not match the line numbers from Airlfow installation. can you please remove/reinstall airflow from the scratch and see again? Preferably in a separate virtual environment?

[2020-12-22 17:54] XD-DENG commented on #13200
Hi guys @ashb @potiuk shall we come to a consensus on this?

[2020-12-22 17:58] potiuk commented on #13200
No strong  opinion there :). If you want to use relative dir, I am fine with it :).

[2020-12-22 18:00] ashb commented on #13200
Yes please - let's do that then @XD-DENG

[2020-12-22 18:02] XD-DENG commented on #13200
Thanks both @potiuk  @ashb . The discussion itself was thorough and concrete.

I will update PR https://github.com/apache/airflow/pull/13232 accordingly.

[2020-12-22 18:44] leopoldhoudin commented on #13254
Sorry, indeed, I may have copy/pasted a bad stack trace. Yet, started from a fresh env, and same behaviour arises:

My step:
[code]

Create a `airflow.cfg` at current location with the following content:
<details>
<summary>airflow.cfg</summary>

[code]

</details>

Run the following command:

[code]

<details>
<summary>Stack trace</summary>

[code]

</details>

Which now matches lines no...

[2020-12-22 18:47] vikramarsid commented on #12410
@potiuk I cannot reproduce the above issue with Airflow 2.0.0, 2020-12-17 release. I think we can close this issue. I will check if this issue is specific to 2.0.0b2 release.
Thank you all!

[2020-12-22 18:53] #12410 closed

[2020-12-22 18:58] potiuk commented on #13254
I think this is an interesting one. Looks like circular dependency where the method is not yet defined because we are calling it during parsing of the python file.

[2020-12-22 19:06] potiuk commented on #13254
@leopoldhoudin -> can you please check if #13260 fixes the problem?

[2020-12-22 19:09] akotlar commented on #13243
I had this happen several times on 1.10.x. Dag would raise an exception during processing, or would time out during processing, both would result in this error. I woud try running airflow scheduler &> /path/to/log and tail -f the log.

[2020-12-22 19:10] potiuk commented on #13254
Hmm. After a closer look, I think it will not work :). It's  a bit of chicken-egg-problem where we are reading coonf using the secret backend configuration but at the same time we should have the configuration already read in order to initialize secret_backed. I think the only solution will be to avoid reading from the secret backend until it is initialized.

[2020-12-22 19:13] potiuk commented on #13254
OK. the #13260  should fix it @leopoldhoudin. It is rather easy to apply locally, so it would be great to confirm if the fix works

[2020-12-22 19:32] terekete opened #13262 "Dataflow Flex Template Operator"
**Apache Airflow version**:
1. 1.10.9 Composer Airflow Image

**Environment**:

- **Cloud provider or hardware configuration**: Cloud Composer

**What happened**:
Error logs indicate appears to not recognize the job as Batch.

[2020-12-22 16:28:53,445] {taskinstance.py:1135} ERROR - 'type'
Traceback (most recent call last)
  File "/usr/local/lib/airflow/airflow/models/taskinstance.py", line 972, i

[2020-12-22 20:05] alete89 commented on #8609
Also experiencing this bug on Airflow 1.10.12. The fact that you need to manually refresh de Dag from the UI kinda sucks.

[2020-12-22 20:43] dstandish opened #13263 "CeleryKubernetesExecutor is broken"
CeleryKubernetesExecutor is broken

I found a number of issues:

* was not propagating job_id to K8sExecutor
* did not have a `slots_available` property

After fixing the above, now scheduler runs.

But celery worker has issues.

I get error `Failed to execute task daemonic processes are not allowed to have children.`

[code]

[2020-12-22 21:23] leopoldhoudin commented on #13254
Thanks for the quick reply @potiuk. Unfortunately, the PR doesn't fix the issue, for 2 reasons:
1. Actually the `sql_alchemy_conn` configuration parameter is not read from the secrets backend as intended, but from Airflow's default configuration (fallback);
2. It leads to the second error (which is why I had the second part in my "workaround"):

<details><summary>Stacktrace</summary>

[code]

</de

[2020-12-22 21:37] fritzb opened #13264 "pods/log role is needed for webserver k8s serviceaccount"
**Apache Airflow version**: 1.10.14, 2.0.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.18

**Environment**: AWS EKS, Kubernetes Executor, KubernetesPodOperator task

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): Linux
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:
After upgrading to

[2020-12-22 21:37] mik-laj commented on #13262
It's strange because we have system tests that test batch jobs.

@TobKed Can you look at it?

[2020-12-22 21:39] mik-laj commented on #13243
Is it related? https://github.com/apache/airflow/issues/7935

[2020-12-22 21:41] potiuk commented on #13254
@kaxil - i think we need to think and discuss together how to handle this case. There is this chicken-egg here i think

[2020-12-22 21:43] mik-laj commented on #13264
Duplicate: https://github.com/apache/airflow/pull/11729

[2020-12-22 21:43] #13264 closed

[2020-12-22 22:18] #13200 closed

[2020-12-22 23:02] kaxil commented on #13254
This feels similar to https://github.com/apache/airflow/issues/11149#issuecomment-731398618

Can you check my comment over there please @leopoldhoudin

[2020-12-22 23:20] sharad-vm commented on #12061
Actually @mik-laj, I might need some help.
I understand that the 'impersonation_chain' argument has been added to the files in airflow/providers/google/cloud/hooks/...

I see example_dags here - airflow/airflow/providers/google/cloud/example_dags/...
Is this where I add an example for all the 49 files changed?

[2020-12-22 23:22] kaxil commented on #9975
@nathadfield Does it occur without clearing tasks instances?

[2020-12-23 00:07] jsmodic commented on #13205
Sure, that's just a one line change: https://github.com/apache/airflow/pull/13267

[2020-12-23 00:13] mik-laj commented on #12061
You should create a new example dag. you just need to run it once and see if it works.  It can do anything, such as create and delete a dataset. In the next step I will add system tests to this example DAG, but it is extra effort.

[2020-12-23 03:56] JackyKwok42 opened #13268 "Airflow fails to initdb with kubernetes 11.0.0"
**Apache Airflow version**:
1.10.12

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
1.18
**Environment**:
- **Cloud provider or hardware configuration**: AWS Fargate
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**: pip 20.2.4, python 3.8
- **Others**:

**What happened**:
I encountered an issue at the airflow initdb stage:
[co

[2020-12-23 05:11] oferze commented on #13108
Thanks for the idea! For now I've re-built a fresh Ubuntu machine with Airflow 2 and the problem doesn't exist. If it will happen again in the future, I'll try that env flag. But I'm not sure it's a Windows thing since I have another Windows machine (running Ubuntu 18.04 as opposed to my "problematic" WSL2 that was running Ubuntu 20.04) which works just fine.

[2020-12-23 05:51] potiuk commented on #13268
It looks like you might have wrong version of kubernetes library. Can you please check with pip freeze what version you have and whether `pip check` does not show any conflicts`?

Also there were a lot of fixes to Kubernetes Executor between 1.10.12 and 1.10.14 (see the https://airflow.apache.org/docs/apache-airflow/stable/changelog.html) and I recommend you upgrade to 1.10.14  or even better. try

[2020-12-23 05:52] potiuk commented on #13268
I am closing it for now, unless there is more information/the upgrade advice did not work.

[2020-12-23 05:52] #13268 closed

[2020-12-23 05:53] potiuk commented on #13205
Fixed by #13267 :)

[2020-12-23 05:53] #13205 closed

[2020-12-23 06:46] nabajitdey commented on #13243
Probably its the same issue. So is there a solution yet?

[2020-12-23 06:53] nabajitdey commented on #13243
So was there some specific error from your side or was it an Airflow issue? Because if it's an airflow issue then we cannot use airflow for seamless production purposes can we?

[2020-12-23 07:11] potiuk opened #13271 "Use "top" version when preparing provider packages"
We should use the first version from the list of versions in provider.yaml as version of the package to build.

[2020-12-23 07:13] potiuk opened #13272 "Add tags for every provider"
Each provider should have own provider-<PROVIDER>/<version> tag when prepared.

[2020-12-23 07:15] potiuk opened #13273 "Move READMEs for providers to documentation."
The Readme's and changes generated should be created in the documentation folder and follow .rst format rather than in the provider's source code.

[2020-12-23 07:17] potiuk opened #13274 "Slim down generated provider's READMEs"
The generated READMES should contain only ADDITIONAL_INFO.md and Brief description of the package, link to the detailed documentation and list of changes since the last release.

[2020-12-23 07:19] potiuk opened #13275 "Only generate changes for latest release for Provider READMES"
The list of changes for provider's READMEs should only contain changes from the latest version.

[2020-12-23 07:21] potiuk opened #13276 "Rename ADDITIONAL_INFO.md to CHANGELOG.rst"
ADDITIONAL_INFO will now become the main source of information on high-level changes in provider. So it is not additional and it should contain any information about new stuff added and changes.

[2020-12-23 07:22] potiuk opened #13277 "Add a an overview of which provider changed and what has changed in them."
We should have a possibility to have a quick view on what has changed in the providers since the last release in order to decide when to release them.

[2020-12-23 07:24] potiuk commented on #11425
This has been spli into separate issues #13271 #13272 #13273 #13274 #13275 #13276 #13277 so I am closing this issue.

[2020-12-23 07:24] #11425 closed

[2020-12-23 07:39] potiuk opened #13279 "Documentation should match version of the provider."
Since we have diffferent version of the providers, we should be able to generate the documentation for each version of the provider based on it's past releases (tag: providers-<PROVIDER>/<VERSION>)

[2020-12-23 07:39] potiuk commented on #13279
CC: @mik-laj -> not sure how we want to do it. But I am sure you have some ideas

[2020-12-23 07:53] dinsaw commented on #11456
I have also faced this same issue on Python 3.8.5, Ubuntu 20.04.1 LTS.
As a workaround, I am starting both scheduler and web server on nohup instead of using `-D` option.
[code]

[2020-12-23 07:59] leopoldhoudin commented on #13254
Hi @kaxil, yep it works moving `get_custom_secret_backend` before `conf.read(AIRFLOW_CONFIG)` as proposed by @potiuk in his first version of the PR.

I'll ensure everything works in production environment tho during the day and revert asap.

[2020-12-23 08:48] potiuk commented on #13254
But the question is if  moving get_custom_secret_backend before conf.read() is a good idea ? The problem is that the 'get_custom_secret_backend' uses the conf variable and reads the configuration from it:

[code]

Then the `get_custom_secret_backen` can be actually called BEFORE 'secrets' section is parsed via conf!

This is the 'chicken-egg' problem I mentioned before.

We might assume of course

[2020-12-23 08:51] potiuk commented on #13254
Maybe we can leave with that, it sounds like rather brittle thing to do.

Another option would be that we make sure that 'validate" is callled at the end of the configure.py

[2020-12-23 08:54] potiuk commented on #13254
Yeah. After looking closer - I think a better solution is simply to remove both _validate() methods from read() and read_dict() and simply explicitly call `conf._validate()`  at the end of configure.py

Then we solve the problem once and for all. @kaxil  WDYT ?

[2020-12-23 09:01] potiuk commented on #13254
I pushed a possible fix in #13260

[2020-12-23 09:06] nathadfield commented on #9975
Yes.  I removed `catchup` and triggered the DAG several times via the CLI and all of the tasks were running at the same time.

<img width="1260" alt="Screenshot 2020-12-23 at 09 03 39" src="https://user-images.githubusercontent.com/967119/102979412-f0111c80-44fd-11eb-9907-689126d9e1ce.png">

[2020-12-23 10:43] potiuk opened #13282 "Generate per-provider sources during release."

[2020-12-23 10:44] #13279 closed

[2020-12-23 10:52] mik-laj commented on #13279
Currently, the version in provider.yaml is taken, so you only need to update this file before building the documentation.
https://github.com/apache/airflow/blob/1b96149f128925362482f93f7fb230ebacd60c9d/airflow/provider.yaml.schema.json#L17-L23

[2020-12-23 11:36] dstandish commented on #13263
Better error message:
[code]

[2020-12-23 15:09] potiuk commented on #8460
We have CeleryK8SExecutor now and I think it is better to have this specialized executor rather than generic one.

[2020-12-23 15:09] #8460 closed

[2020-12-23 15:10] potiuk commented on #8838
This is being handled in #12188

[2020-12-23 15:10] #8838 closed

[2020-12-23 15:12] potiuk commented on #10375
Not needed any more. We are adding similar feature to provider packages with #13277 but it is not needed separately for backport packages.

[2020-12-23 15:12] #10375 closed

[2020-12-23 15:14] potiuk commented on #10783
Fixed by pymssql release.

[2020-12-23 15:14] #10783 closed

[2020-12-23 15:15] potiuk commented on #11554
It works fine now. Closing

[2020-12-23 15:15] #11554 closed

[2020-12-23 15:53] potiuk commented on #11496
Closed - already superseded

[2020-12-23 15:53] #11496 closed

[2020-12-23 15:54] potiuk commented on #10984
This has been fixed already.,

[2020-12-23 15:54] #10984 closed

[2020-12-23 15:54] ephraimbuddy opened #13287 "The LegacyUIDeprecatedRule and ChainBetwenDAGAndOperatorNotAllowedRule are not working as expected"
Checking the upgrade check command and found out that LegacyUIDeprecatedRule and ChainBetwenDAGAndOperatorNotAllowedRule are not working as expected.

LegacyUIDeprecatedRule:
This is not working when `rbac` is set to `False` but works when it's set to `false`.

ChainBetwenDAGAndOperatorNotAllowedRule:
This is not working as I expected. I tested with the dag below and received no warning:
[code]

[2020-12-23 17:38] stbones opened #13290 "error while installing apache-airflow."
Hi

I am getting below error while installing apache airflow. any help?

I followed below steps to install:

**1**. created virtual env. using below command and activated it
 - ```virtualenv --python=/usr/bin/python3.6 airflow_env```
 - ```source airflow_env/bin/activate```

 **2. ```export AIRFLOW_HOME=/airflow_env/airflow```**

 **3. ran below command to install airflow**
 ```pip install “apache

[2020-12-23 17:48] potiuk commented on #13290
This is a problem with installing of one of the dependencies - pandas not airflow. It needs to be built locally because apparently none of te binary packages available via PIP are matching your operating system.

You need to look for installing pandas on your system. We can't help too much.

Moreover - I think you should consider installing either latest previous (1.10.14) or even the latest stabl

[2020-12-23 17:48] #13290 closed

[2020-12-23 17:49] potiuk commented on #13290
Closing as invalid for now.

[2020-12-23 17:52] #12909 closed

[2020-12-23 18:41] ordonezf commented on #12291
I'm having the same issue on 1.10.14, it only happens with chrome on macos.

[2020-12-23 19:23] potiuk commented on #13093
Closed by #13286

[2020-12-23 19:23] #13093 closed

[2020-12-23 19:27] potiuk commented on #12115
Invalid. Verified that the tests will be run in this case

[2020-12-23 19:27] #12115 closed

[2020-12-23 19:45] maxcountryman commented on #13149
Why not use a lock file for this purpose? Poetry should support reproducible builds via the lock file.

[2020-12-23 20:08] #12262 closed

[2020-12-23 20:32] jsmodic opened #13293 "Rule UndefinedJinjaVariablesRule is unusably slow with many DAGs"
**Apache Airflow version**:
Airflow 1.10.14
Checker 1.1.0

**What happened**:

Running "airflow check_upgrade" will basically then work for at least 20+ hours on UndefinedJinjaVariablesRule at 100% CPU (that is until I killed it). I have a folder of 54 DAGs, most of them are fairly complicated.

Stack trace when I killed it:

[code]

I can just ignore that rule no problem and it finishes in a few

[2020-12-23 20:44] potiuk commented on #13149
We indeed considered to check poetry in the past so maybe this is a good time to try. Would it be possible that you make a POC and try of poetry.lock approach can be used in similar way we use constraint files ? Happy to help with review and guide you.

[2020-12-23 20:56] arbass22 commented on #13185
What end up working for me was explicitly uninstall the older version of azure-storage
`pip uninstall azure-storage`
The newer version is split into multiple packages and it seemed like because of this the conflicting versions were not noticed by pip.

[2020-12-24 01:51] yarongolan opened #13295 "In triggered SubDag (schedule_interval=None), when clearing a successful Subdag, child tasks aren't run"
**Apache Airflow version**:
Airflow 2.0

**Environment**:
Ubuntu 20.04 (WSL on Windows 10)

- **OS** (e.g. from /etc/os-release):
VERSION="20.04.1 LTS (Focal Fossa)"

- **Kernel** (e.g. `uname -a`):
Linux XXX 4.19.128-microsoft-standard #1 SMP Tue Jun 23 12:58:10 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

**What happened**:
After successfully running a SUBDAG, clearing it (including downstream+recur

[2020-12-24 01:54] akotlar commented on #13243
Specific error on my side. The issues was either that the file was taking too long to parse (triggering the dag file processing threshold defined in airflow.cfg), or crashing during parsing. The former issue is trivial to solve, the latter I believe is less common in 2.0 (dag file processor tries to catch errors)

[2020-12-24 03:11] 0x4ec7 opened #13296 "The updated context['ti'] will not be available in post_execute functions"
https://github.com/apache/airflow/blob/d4c4492a10f5e269f80067b724aa2c345bf97ee0/airflow/models/taskinstance.py#L1263

The updated context['ti'] will not be available in post_execute functions.
ti.state/ti.end_date/ti.duration is very useful if I want to send the updated task_instance to somewhere else like Atlas.

[2020-12-24 05:17] downeyh opened #13298 "multiporcessing in task throwd daemonic processes are not allowed to have children"
**Apache Airflow version**:
2.0

**Environment**:
Python3.6

**What happened**:
I used mutiprocessing Process in PythonOperator callable function, but it reports an error.

  File "/home/xxx/airflow/dags/Gen/SecData.py", line 88, in gen
    w.start()
  File "/usr/lib64/python3.6/multiprocessing/process.py", line 103, in start
    'daemonic processes are not allowed to have children'
AssertionError

[2020-12-24 05:29] sharad-vm commented on #12061
Thanks! Will open a PR this weekend.

[2020-12-24 06:17] #13298 closed

[2020-12-24 06:17] downeyh commented on #13298
export PYTHONOPTIMIZE=1
solved the problem

[2020-12-24 09:34] leopoldhoudin commented on #13254
@potiuk works for me, and as a charm in production env! thx a lot for the quick reply and fix.
I guess I'll have to use my own patch until the next release, isn't it? Do you have any idea on when this should fall?

[2020-12-24 12:12] nexterot commented on #12982
Useless changes. Better concentrate on sth important

[2020-12-24 12:23] potiuk commented on #13254
Thanks for verifying :).

I think we will be looking at releasing 2.0.1 in early January. Xmas/EOY time is a bit quiet, but we already have a few annoying 'teething problems' with 2.0 reported and some of them already fixed (some of them need discussion/fix) still. There are not many, but I think also there will be some users who will use the "quiet" period around Xmas Holidays to test migration t

[2020-12-24 13:14] potiuk commented on #13243
Should we close the issue ?

[2020-12-24 13:41] potiuk commented on #13149
Just one comment here @maxcountryman if you are following that route. There are certain use cases that need to be solved if we would support poetry:

1) Installing from PyPI or wheel using the 'constraints' - one reason why we have constraints in our repo is that we can do the "recommended" installation method for our users. See https://github.com/apache/airflow/blob/master/docs/apache-airflow/ins

[2020-12-24 14:18] potiuk commented on #12945
I tested it and I think it works as expected. The 'immediate' cancel is only in case you try to re-rerun a failed build if there is a newer build for that branch already queued or running. For example if you have 5 merges one after another and you try to re-run the 'master' build 3 commits ago - it will get cancelled immediately if there are newer master commits (and resulting workflow runs). same

[2020-12-24 14:48] #12780 closed

[2020-12-24 17:09] #13254 closed

[2020-12-24 18:21] potiuk opened #13306 "The "ldap" extra misses libldap dependency"
The 'ldap' provider misses 'ldap' extra dep (which adds ldap3 pip dependency).

[2020-12-24 18:36] edikmkoyan commented on #12229
it isn't fixed in 1.10.13

[2020-12-24 18:47] sstevens303 commented on #12760
@VBhojawala I read your document and I was wondering how do map a volume. I want to do the equivalent of
docker run -v /host/directory:/container/directory  using airflow and kubernetespodoperator. So I can take an existing directory path available to airflow and map it to a directory path inside the container. I cannot find any examples of this.

[2020-12-24 18:47] kaxil commented on #12229
https://github.com/apache/airflow/blob/1.10.13/setup.py#L313

It is fixed, check the link I posted

[2020-12-24 18:47] #12229 closed

[2020-12-24 19:32] potiuk opened #13309 "Refactor setup.py extras/providers/deps"
We currently have depdencies, extras and providers (with extras names same as providers) in setup.py. Plus we have some aliases from 1.10 that are going to be deprecated in 3.0.

We need to refactor this to make it less confusing, because it's difficult to say if some of the extras/providers are wrong, or missing due to that.

Ralated issues: #12548, #13308

[2020-12-25 02:06] kaxil commented on #9975
@nathadfield What metadata DB do you use?

Just wondering if it is related to https://github.com/apache/airflow/pull/13278

[2020-12-25 10:20] EKami opened #13311 "pendulum.tz.zoneinfo.exceptions.InvalidTimezone"
**Apache Airflow version**:  2.0.0

**Environment**:

- **Cloud provider or hardware configuration**: On-premise
- **OS** (e.g. from /etc/os-release):  Manjaro Linux
- **Kernel** (e.g. `uname -a`): 5.9.11-3-MANJARO
- **Install tools**: pip
- **Others**:

**What happened**:

The web server crash on some actions after running a DAG with the following error:
[code]

Notice the `\npur`.

**What you ex

[2020-12-25 12:17] kaxil commented on #13311
[code]

That looks weird, have you set any timezone either in DAG or airflow.cfg or Webserver?

[2020-12-25 12:23] EKami commented on #13311
Nope, I just installed airflow and I ran the scripts from the tutorial above with not changes to the config files at all

[2020-12-25 21:17] potiuk opened #13315 "Verify production image with all the components"
As discussed in https://github.com/apache/airflow/pull/13308#issuecomment-751251261 we would like to add more verification for ifeatures of airflow production image.

We run already 'verify image' step so we can run quite a more number of those veification in `ci_verify_prod_image.sh`  for example to test ldap we could run:

[code]
The following features should be tested:

- [x] async
- [x] amazon

[2020-12-25 21:17] potiuk commented on #13315
cc: @mik-laj

[2020-12-26 03:18] trustfuture opened #13317 "ValueError: unsupported pickle protocol: 5"
Python version: 3.7.7
Airflow version: 2.0.0
-------------------------------------------------------------------------------
Traceback (most recent call last):
  File "/Users/han/opt/anaconda3/envs/py37/lib/python3.7/site-packages/flask/app.py", line 2447, in wsgi_app
    response = self.full_dispatch_request()
  File "/Users/han/opt/anaconda3/envs/py37/lib/python3.7/site-packages/flask/app.py", l

[2020-12-26 10:27] adamkozuch commented on #9555
Hi, I wonder what is the status of this issue? I am interested in this. Can I for instance start to work on this or is it still to decide if we want this feature at all in airflow?

[2020-12-26 16:17] sarvothaman opened #13322 "Backfill crashes with "KeyError: TaskInstanceKey" when task has retries"
**Apache Airflow version**: 2.0.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): No Kubernetes

**Environment**: Docker python environment (3.8)

- **OS** (e.g. from /etc/os-release):"Ubuntu 20.04.1 LTS"
- **Kernel** (e.g. `uname -a`): Linux b494b1048cf4 5.4.39-linuxkit #1 SMP Fri May 8 23:03:06 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

**What happened**: Backfill co

[2020-12-26 16:21] potiuk commented on #9555
I believe this should be discussed at the devlist on whether and how to implement this one. This is a big change to Airflow and the current consensus is that fetching Dags is "external" to Airflow - there are multiple solutions for fetching the DAGs (Git Sync, GCS/S3 sync, shared volumes, sync sidecars in Kubernetes etc. I think we are rather far from reaching understanding on:

* whether we shoul

[2020-12-26 16:29] potiuk commented on #13322
Hey @sarvothaman - you need to provider way more information in order to successfully report issue - version of airflow is a bare mniumum, but without logs, information what you have done to debug and check what's wrong, what are the conditions and how to reproduce the issue, there is no way anyone will do anything with the issue. I am closing it as invalid, until you specify enough information to

[2020-12-26 16:33] sarvothaman commented on #13322
@potiuk Sorry, accidentally hit enter before entering all the info (with no way to delete?). In any case added the details

[2020-12-26 16:37] potiuk commented on #13322
I was too fast then :). Sorry. I see very comprehensive information now :). Looks like an interesting one to take a look at. I believe this is something we are already aware of - there are some cases where try_number is wrongly calculated @turbaszek and @ashb -> I know you had discussions about similar case - maybe it is related?

[2020-12-26 21:19] potiuk commented on #13317
Did you try to clean cookies? That seems like you connected to a new version of Airflow (with different python version) using the same address/session stored in the browser. cleaning cookies or running in incognito mode should fix it. Can you try it and let us know if this solves the issue?

[2020-12-27 10:25] bouke-nederstigt opened #13325 "max_tis_per_query=0 leads to nothing being scheduled in 2.0.0"
After upgrading to airflow 2.0.0 it seems as if the scheduler isn't working anymore. Tasks hang on scheduled state, but no tasks get executed. I've tested this with sequential and celery executor. When using the celery executor no messages seem to arrive in RabbiyMq

This is on local docker. Everything was working fine before upgrading. There don't seem to be any error messages, so I'm not complet

[2020-12-27 21:13] mik-laj commented on #13315
I am not sure if we need to verify the installation of every possible library.  If they are written in Python, they should probably work fine in any case.  I am concerned about native libraries, especially libraries that need to be compiled during installation. When we use multi-stage build, it may turn out that we are missing system dependencies or the system dependency is incompatible.  For the

[2020-12-27 21:25] potiuk commented on #13315
It doe not cost us anything to add more libraries. Do you see any drawback of doing so ?

[2020-12-27 22:32] mik-laj commented on #13325
Does this problem occur for specific DAGs or for each DAG? We know that some DAG configuration options can be problematic.

[2020-12-27 22:35] mik-laj commented on #13315
@potiuk I don't mind adding verifications of other libraries, but I wanted to show a wider context and reasons why we should add these tests.

[2020-12-27 23:00] mik-laj opened #13331 "Helm Chart uses unsupported commands for Airflow 2.0 - serve_logs"
Hello,

Our Helm Chart uses the command that is deleted in Airflow 2.0. We should consider what we want to do with it - add this command again or delete the reference to this command in the Helm Chart.
https://github.com/apache/airflow/blob/d41c6a46b176a80e1cdb0bcc592f5a8baec21c41/chart/templates/scheduler/scheduler-deployment.yaml#L177-L197
Related PR:
https://github.com/apache/airflow/pull/6843

[2020-12-27 23:31] nic314 commented on #12468
i'm new :) , If i got it correctly the task is to add a new rest api in https://airflow.apache.org/docs/apache-airflow/stable/stable-rest-api-ref.html for retrive the list of installed providers similar to the cli "airflow providers list". I could work on that the next days.

[2020-12-27 23:43] potiuk commented on #13315
There are mamy other content which are similar. MySQL and Postgres have binary libraries with apt dependencies, similarly openssl and sqlite. Those are in exactly the same situation as ldap.

That's why it is much better to chęci all dependencies rather than focus on single one because you might not realise thqt therr is a hidden dependency.

There is nothing special with ldap in this regard.

[2020-12-27 23:52] potiuk commented on #12468
Cool ! correct assesment , I assigned the ticket to you :)

[2020-12-28 05:52] nabajitdey commented on #13243
Thanks for the clarification.

[2020-12-28 05:55] nabajitdey commented on #13243
Hi, is it possible to keep the issue open or shall I refer to #7935 for future because the issue is still there in my system.

[2020-12-28 06:22] nabajitdey commented on #13243
can you please mention what specific changes you made in the config file?

[2020-12-28 06:31] RyanSiu1995 opened #13336 "argcomplete is not compatible with importlib-metadata"
**Apache Airflow version**: 1.10.14

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**: Linux

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**: pip-compile
- **Others**:

**What happened**:
I tried to compile the requirements with `pip-compile`. And I have found th

[2020-12-28 06:37] #8815 closed

[2020-12-28 06:37] #13142 closed

[2020-12-28 06:50] mik-laj commented on #13336
In Airflow 2.0 I think this problem has already been fixed as we run a pip check to detect all conflicts. Could you check it?

https://github.com/apache/airflow/blob/cb54513497f2738ae13c0cee8ad38db3d365f7e8/constraints-3.8.txt#L200
https://github.com/apache/airflow/blob/cb54513497f2738ae13c0cee8ad38db3d365f7e8/constraints-3.8.txt#L47

[2020-12-28 06:51] RyanSiu1995 commented on #13336
Unfortunately, I can only use 1.10.x right now.
So, I hope that this fix could be pulled back to 1.10.x

[2020-12-28 07:18] LamaAni commented on #13142
Thanks!

[2020-12-28 08:57] potiuk commented on #13336
Unfortunately we do not support `pip-compile` installation. Airflow has fairly complex set of dependencies and the official way of installation is via PIP using constraint files:

http://airflow.apache.org/docs/apache-airflow/stable/installation.html#getting-airflow

For example for python 3.6 this is the right way of installing airflow (and it is stable to work):
[code]

In the constraint file fo

[2020-12-28 08:57] #13336 closed

[2020-12-28 09:00] potiuk commented on #13336
@mik-laj -> FYI. we also run pip check in 1.10.14 and the set of constraints there is also consistent.

[2020-12-28 13:40] AmarEL opened #13340 "Anonymous users aren't able to view DAGs even with Admin Role"
**Apache Airflow version**:  2.0.0 (Current master)

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): Ubuntu 20.04.1 LTS
- **Kernel** (e.g. `uname -a`): Linux ubuntu 5.4.0-58-generic #64-Ubuntu SMP Wed Dec 9 08:16:25 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
- **Insta

[2020-12-28 13:43] bouke-nederstigt commented on #13325
Based on your comment I tried about 10 different dags with different configurations (different schedules, depends_on_past etc.). But they all seem to show the same behaviour, so I guess it's not config related.

Are there specific configurations that you know are problematic? I could of course double check the dags on those to be sure this isn't the issue.

[2020-12-28 15:14] darwinyip opened #13342 "XCOM UI: TypeError: Object of type 'DatetimeWithNanoseconds' is not JSON serializable"
**Apache Airflow version**: 1.10.10

**What happened**:
After returning a `DatetimeWithNanoseconds` as Xcom, the UI page for `XComs` (Admin -> Xcoms) errors out with the following error:

[code]
However it renders fine in DAG -> Task Instance Details -> XCom

**How to reproduce it**:
[code]

[2020-12-28 15:29] Overbryd opened #13343 "Remote logging broken (Airflow 2.0.0 on GCS)"
**Apache Airflow version**: 2.0.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

[code]

**Environment**:

- **Cloud provider or hardware configuration**: GKE
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

Remote logging is configured as follows:

[code]

It worked flawlessly before the

[2020-12-28 15:30] Overbryd commented on #13343
@boring-cyborg who put you in charge? I followed the issue template!

[2020-12-28 15:46] turbaszek commented on #13342
What part of GCP API? Do you use some Google operator or a custom one?

[2020-12-28 16:00] hsnprsd commented on #7911
@mik-laj I think it would be good to add the features in the github repo you mentioned to airflow itself.

[2020-12-28 16:07] #13306 closed

[2020-12-28 16:11] darwinyip commented on #13342
Apologies for the bad description. I am trying to reproduce it unsuccessfully and also don't know which Xcom entry is causing it either.

[2020-12-28 16:52] turbaszek commented on #13342
No worry, let us know once you have more information. In general this should never happen - the error should be raised when executing an operator (when pushing the value to XCom). Do you use possibly pickle for XCom?

[2020-12-28 17:10] darwinyip commented on #13342
@turbaszek I was able to reproduce it

[code]

Initially I was just returning `DatetimeWithNanoseconds(2020, 6, 22, 17, 1, 30, 12345)` but after putting in a dictionary, I triggered the error.

[2020-12-28 17:14] rajashekar opened #13344 "airflow db init failing on Azure mssql"
**Apache Airflow version**:2.0.0

**Environment**:
macOS Catalina - 10.15.7
Python 3.8.5
Azure mssql
- **OS** (e.g. from /etc/os-release): macOS Catalina

**What happened**:
`airflow db init` is failing at `Remove id column from xcom`

Below is the complete log -
[code]

**What you expected to happen**:
`airflow db init` successfully done.

Might be `Remove id column from xcom` - First constraints

[2020-12-28 17:27] turbaszek commented on #13342
Well, this is expected, json don't know how to serialise this (or any other non-generic one).

Have you tried this?
[code]
This should return the date as string, but parsing it back to object should be easy as there is already `from_rfc3339` method in `proto` package.

[2020-12-28 17:27] #13342 closed

[2020-12-28 17:35] darwinyip commented on #13342
@turbaszek I think it is an airflow issue because it renders fine when you go "Task Instance Details -> XCom"

[2020-12-28 17:44] turbaszek commented on #13342
Cannot replicate on master, where the DAG of yours fails:
[code]

[2020-12-28 17:48] turbaszek commented on #13342
Additionally, doing:
[code]
also raises exactly the same error. The only possibility is that the XCom was used using pickle, and webserver is trying to read it using JSON - but that would be suggesting some configuration issues.

[2020-12-28 18:00] darwinyip commented on #13342
Checking through the configs, I do have `enable_xcom_pickling = True`

[2020-12-28 18:10] #13309 closed

[2020-12-28 18:25] potiuk commented on #13344
Sorry but mssql is not officially supported by Airflow. See http://airflow.apache.org/docs/apache-airflow/stable/howto/initialize-database.html . More detailed requiremens are here: https://github.com/potiuk/airflow#requirements

There is an ongoing discussion about improving compatibility with MSQL #9973  but this requires quite an investment in building reproducible CI pipelines and proably rewr

[2020-12-28 18:25] #13344 closed

[2020-12-28 18:44] potiuk commented on #7911
I think maintenance DAGs is more of a "trick". It would be better if we have "proper data retention" built in Airflow rather than DAGs you can schedule. This is at least my opinion, maybe something we want to discuss as possible feature for 2.1

[2020-12-28 18:47] potiuk commented on #13343
Are you sure your Airflow user is configured to have the right read permissions in the bucket? I think this error 404 would be returned also when there is no permission to read the logs

[2020-12-28 18:49] potiuk commented on #13343
[code]

I believe you have typo here and this might be the reason.

[code]

[2020-12-28 18:53] potiuk commented on #13343
Closing as invalid, unless you can provide answers/check the configuration. Please let us know in case configuration/permission changes do not solve the problem. Also it would be great to get some more logs from airflow webserver in case you still have the problems.

[2020-12-28 18:56] potiuk commented on #13340
I believe this is intended behaviour, not sure if that was the intention, but I would see it highly problematic (and dangerous) to give the anonymous user the Admin (or any in that respect) right. I believe the whole purpose of RBAC interface is to enforce authentication for airflow users. @jhtimmins @ryanahamilton WDYT?

[2020-12-28 19:07] potiuk commented on #13325
It is extremely difficult to say what's wrong without getting any logs. Airflow produces a lot of logs. You can even run scheduler manually and get the logs output to you. Note that for airflow 2.0 we've changed a lot the CLI commands - like `airflow db` `airflow user`, we've also added some configuration changes.

All that is documented here: http://airflow.apache.org/docs/apache-airflow/stable/u

[2020-12-28 20:09] timofal opened #13348 "env_vars of KubernetesPodOperator are not truly templated"
Hello.

Property `env_vars` or `KubernetesPodOperator` is not truly templated. Despite documentation and docstring claims it is.

The reason is that class `V1EnvVar` from k8s official python client doesn't contain field `template_fields` that is required to render template fields. (See method `BaseOperator._render_nested_template_fields`.)

The following workaround works for me.
[code]

[2020-12-28 20:18] madison-ookla opened #13349 "AirflowMacroPluginRemovedRule fails on non-python files"
**Apache Airflow version**: 1.10.14

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**: X
- **OS** (e.g. from /etc/os-release): X
- **Kernel** (e.g. `uname -a`): X
- **Install tools**: X
- **Others**: X

**What happened**:

The `AirflowMacroPluginRemovedRule` seems unable to process non-standard python fi

[2020-12-28 20:19] madison-ookla commented on #13349
Please feel free to assign this to me too 🙂

[2020-12-28 20:24] madison-ookla opened #13350 "UndefinedJinjaVariablesRule fails on non-standard python objects"
**Apache Airflow version**: 1.10.14

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**: X
- **OS** (e.g. from /etc/os-release): X
- **Kernel** (e.g. `uname -a`): X
- **Install tools**: X
- **Others**: X

**What happened**:

The `UndefinedJinjaVariablesRule` appears to expect non-standard python objects to

[2020-12-28 20:34] potiuk commented on #13349
Sure :). Do you want to take care about #13350 too ?

[2020-12-28 20:46] madison-ookla commented on #13349
I can give it a shot too! I know less about what the best approach is for that one.

[2020-12-28 21:00] Overbryd commented on #13343
@potiuk I still have the same problem. That `-` was just a typo on my issue, the problem still persists. I have updated my issue accordingly.

I do not have a permission problem, the logs get written too!
I would appreciate some helpers in how to debug/better the problem instead of a blunt rejection of the problem at hand.

Here is the log file written to the bucket:
![Screenshot 2020-12-28 at 9 5

[2020-12-28 21:03] mik-laj opened #13351 "Some hacks in Google provider"
Hello,

While [updating Google libraries](https://github.com/apache/airflow/issues/12116), we found some bugs in `google-cloud-*` libraries.  Fortunately, we managed to get around some of them using various tricks and hacks. However, this may cause various problems in the future after updating the new library, e.g. the hack will not support new features provided by the updates.  We should report p

[2020-12-28 21:32] mik-laj commented on #13343
This parameter is not supported in Airflow 2.0 for this task handler. See: https://github.com/apache/airflow/blob/master/UPDATING.md#simplified-gcstaskhandler-configuration

[2020-12-28 21:34] mik-laj commented on #13343
But I can confirm that this is a problem. I have failed to run system tests for this integration.
[code]

[2020-12-28 21:38] Overbryd commented on #13343
Ok, I will remove `AIRFLOW__LOGGING__REMOTE_LOG_CONN_ID` as I am using application default credentials anyway.

[2020-12-28 21:39] mik-laj commented on #13340
This looks like something we can fix. I am able to imagine several environments where authentication is not needed because the access control is done on a different layer. This configuration is supported by Flask App Builder, so it makes sense for Airflow to support it too.

[2020-12-28 21:40] mik-laj commented on #13340
@AmarEL Are you willing to submit a PR?

[2020-12-28 21:43] potiuk commented on #13343
@Overbryd  - I simply asked for extra information and explained that we will reopen it when you come back with answer to the suspected issue (which turned out to be your mistake for copy&paste).

As you see from @mik-laj  comment, we do take care about it seriously and we are ready to re-open the issues (exactly as I explained) when more information is provided :).

Just try to excercise a little

[2020-12-28 21:45] mik-laj commented on #7911
@potiuk  @hsnprsd Here is mailing lists discussion: https://lists.apache.org/thread.html/f622e719d5f7e804bf75c05697f405264caae1d3a72aa1bd991b78e9%40%3Cdev.airflow.apache.org%3E
Can you add your comment there?

[2020-12-28 21:45] AmarEL commented on #13340
Yep!

[2020-12-28 21:46] potiuk commented on #13340
Yeah. It is supported - but is it intended ? This is my question. I am not sure if this is something that we want to, that's why I would love to hear other's opinion on that if it was a deliberate choice  or an acident (I honestly do not know).

[2020-12-28 21:52] potiuk commented on #7911
The discussion is from March/April 2019. I do not see any value in reviving it there.  I will leave it to whoever is interestedin movin it forward - possibly @dimberman who opened the issue (or anyone who would like to lead it to carry it on).

[2020-12-28 21:58] mik-laj commented on #7911
Giving full administrator privileges is an extreme case, but giving read-only one or two DAGs is something that makes sense to support.  I looked at the code quickly and I don't find it difficult to add support for this case.

I think if we improve this one SQL query and use get_user_roles instead of our own SQL query it should work.

[2020-12-28 21:58] Overbryd commented on #13343
off topic:

@potiuk I get it. Sorry if I put out some bad vibes here, no intent, just startled.
Also thanks for having a second look.

[2020-12-28 21:59] mik-laj commented on #13340
@potiuk  I can imagine that some DAGs will be read-only to the public.  Giving full administrator privileges is an extreme case, but giving read-only one or two DAGs is something that makes sense to support. I looked at the code quickly and I don't find it difficult to add support for this use case.

I think if we improve this one SQL query and use get_user_roles instead of our own SQL query it sh

[2020-12-28 22:12] potiuk commented on #13340
Yeah. The 'read' use case is s convincing for sure. I thought about it myself.

Just want to make sure that there was no reason behind not letting it in the first place and that there is no reason (like potential security problem which we might not be aware of) for disallowing it.

[2020-12-28 23:28] kentdanas opened #13354 "AzureDataExplorerQueryOperator fails with ERROR - Object of type KustoResultTable is not JSON serializable"
**Apache Airflow version**: 2.0

**What happened**:

The [AzureDataExplorerQueryOperator](https://github.com/apache/airflow/blob/master/airflow/providers/microsoft/azure/operators/adx.py) fails because it attempts to return the results of the query but the results can't be pushed to xcom.

[code]
I get the same error no matter what query I run. Execution of the query works fine, but it appears to

[2020-12-28 23:41] kubatyszko commented on #10913
Btw, this also affects some other protocols, so far I've identified HTTP/HTPS and SPARK:

Sample URI's that I have in my Secrets Manager :

http://https%3A%2F%2Fexample.com

spark://spark%3A%2F%2Fspark-master-0.spark-master.spark.svc.cluster.local:7077

I've also just added a piece of documentation that explains the strange URI's required. We should keep it until this current Issue taken care of..

[2020-12-29 02:00] AmarEL commented on #13340
Maybe my example with a Admin role was too much rsrsrs
But we have some cases here at my job with unauthenticated users sometimes accessing the webserver to take a look in some dag run status (we teached them how to "read" tree view). And of course, our webserver is running on a private network that make us less worried about disable the authentication option.

@mik-laj I already did sometimes usi

[2020-12-29 02:31] trustfuture commented on #13317
yes, you are right! I have a 3.8 version python on my mac, and a 3.7 version python in anaconda environment, it works when I open airflow in 3.8 version, but still can not open in 3.7 version even I cleaned cookies.

[2020-12-29 03:21] mik-laj commented on #13340
@AmarEL I assigned you to this ticket.

[2020-12-29 03:28] mik-laj commented on #13354
The operator should only return data that is JSON serializable. In the case of Google integration, it looks like this:
https://github.com/apache/airflow/blob/8c00ec89b97aa6e725379d08c8ff29a01be47e73/airflow/providers/google/cloud/sensors/pubsub.py#L202
or
https://github.com/apache/airflow/blob/8c42cf1b00c90f0d7f11b8a3a455381de8e003c5/airflow/providers/google/cloud/hooks/vision.py#L225

In Airflow

[2020-12-29 05:48] rafidka commented on #13026
I repeated the experiment using Airflow 2.0 on my personal laptop, which is a relatively powerful laptop with Intel 10750H 5.0 GHz 6-core/12-thread, 16 GB RAM. Below are some samples:

scheduler_heartbeat_sec value|Sample Frequency of scheduler_heartbeat metric
-|-
1|1.14, 1,55, 1,68
2|2.64, 2.26, 2.86, 2.24
3|3.99, 3.44, 3.96, 4.04, 4.02, 3.4
5|5.13, 5.14, 5.14, 5.17
10|10.28, 10.27, 10.29, 10.23

[2020-12-29 08:27] Karthik-PlantSense opened #13357 "CRSF Token missing"
i am trying to create a plugin which support rest-api whenever i try to call the api
on POST method it is saying csrf token and also i am using the `@csrf.exempt`
function also i got the same error

please someone help me on this one...

[2020-12-29 08:42] matteosdocsity commented on #12812
fixed adding  `cookie_samesite = Lax` in **airflow.cfg**

[2020-12-29 08:42] #12812 closed

[2020-12-29 11:42] amatellanes opened #13360 "Add 'mongo_collection' to template_fields in MongoToS3Operator"
**Description**

Make `MongoToS3Operator` `mongo_collection` parameter templated.

**Use case / motivation**

This would allow for passing a templated mongo collection from other tasks, such as a mongo collection used as data destination by using `S3Hook`. For instance, we could use templated mongo collection to write data for different dates in different collections by using: `mycollection.{{ ds_

[2020-12-29 12:49] EKami commented on #13311
@kaxil I'm able to reproduce 100% of the time by running the web UI and then killing the scheduler while the webserver is still running. Clicking on a button on the web UI will trigger the error.

[2020-12-29 12:52] jyotidhiman0610 commented on #12550
@mik-laj Can I take up this issue?

[2020-12-29 13:05] potiuk commented on #13340
So maybe part of the PR will be to only allow READ access for unauthenticated users and fail configuration if any WRITE access is configured? I think this might be both - much more secure and serve the use case that you are talking about ?

[2020-12-29 13:16] zacharya19 opened #13364 "Add virtual env creation in Celery workers"
**Description**

Add the option for the celery worker to create a new virtual env, install some packages, and run airflow run command inside it (based on `executor_config` params).
Really nice to have - have reusable virtual env that can be shared between tasks with the same param (based on user configuration).

**Use case / motivation**

Once getting to a point when you want to create cluster for

[2020-12-29 13:21] bouke-nederstigt commented on #13325
Thanks for the pointers. I originally used the upgrade_check and upgrade scripts to execute the upgrade. Nevertheless I double checked everything again. Some notes:

- The upgrade_check script only fails on ```Users must delete deprecated configs for KubernetesExecutor```. However non of the config items listed there are actually part of my airflow.cfg (or available as an environment variable). I

[2020-12-29 16:43] oost opened #13367 "Pypi wheel package for apache-airflow-upgrade-check 1.1.0 is wrong"
**Apache Airflow version**: apache-airflow-upgrade-check 1.1.0

**Environment**:

- **Cloud provider or hardware configuration**: N/A
- **OS** (e.g. from /etc/os-release): N/A
- **Kernel** (e.g. `uname -a`): N/A
- **Install tools**: pip
- **Others**: N/A

**What happened**:

Content of the two files on [pypi](https://pypi.org/project/apache-airflow-upgrade-check/#files) is different. The tar file

[2020-12-29 18:10] vikramkoka commented on #9299
Just as a note, the maximum xcom value to be stored is defined as being 49344 bytes.
In the code, this is defined as MAX_XCOM_SIZE = 49344

[2020-12-29 20:43] potiuk commented on #13325
Thanks for providing the information!

The information looks really insightful now.

I've reopened the issue, and marked it as critical to investigate and fix for 2.0.1. We are now during a holiday period so it might take a few days before someone manages to investigate it and provide a fix, so apologies for that (and sorry if the closing seems to be a bit harsh initially) - we have rather limited

[2020-12-29 21:04] potiuk commented on #9299
I agree with @vikramkoka -> XCOM is not supposed to store big amounts of data and MAX_XCOM_SIZE is the maximum you can expect. Rather than increasing the limits I'd turn that into an issue to verify that the MAX_XCOM_SIZE is consistently applied everywhere. The limitation is not due to limit on the field size it is because of the frequency of accessing and model of accessing the XCOM table by Airf

[2020-12-29 21:31] potiuk commented on #13367
I confirm that the two files are different but I think it was some accidental problem while preparing the .whl package.
I compared the contents and checkd also the sources in the official ASF SVN: https://archive.apache.org/dist/airflow/upgrade-check/1.1.0/ and it seems that the extra file you mentioned `invalid_kubernetes_configs.py` is the ONLY difference between the packages. All the rest is as

[2020-12-29 21:33] potiuk commented on #13367
cc: @kaxil @ashb -> I guess something to pay attention to with 1.2.0 release. I am not sure if my guess was ok, or whether there was some other reason for the accidental inclusion.

[2020-12-29 21:35] oost commented on #13367
Thanks. That works.

Yes, I have been using a config file to ignore rules but couldn't find which rule to ignore as it was not there in the 1.1.0 tag. This will do.

[2020-12-29 22:06] potiuk commented on #13364
I think this is a bit bigger task to tackle. but an interesting candidate to discuss. I remember discussion at the devlist where we discussed different options how to do it (preparing wheel packages for tasks was one of those for example).

However this idea is much simpler and can be implemented much easier and I think it might serve the purpose you described pretty well. It does not include a lo

[2020-12-29 22:36] zacharya19 commented on #13364
Yeah, as long as we use `system-site-packages` option it can work, but it will force the user to work with airflow as a system site package and not virtual env if they want, so that could be problematic.
Another option would be to allow the user to control it by specify the airflow virtualenv (or it can be detected during runtime) and use some virtualenv tools to duplicate it (such as virtualenvwr

[2020-12-29 23:06] kaxil commented on #13311
Interesting, I will test it out as soon as I am back from holidays.

[2020-12-29 23:09] potiuk commented on #13364
The problem is that without 'airflow' in the venv  NONE of the operators will work. You need to have at least airflow package + a number of dependent packages, otherwise airflow's in-task functionalities like jinja templating, variables, xcom and a number of others will not work. Also if you would like to use any of the "provider" operators, they won't work either without importing the providers (

[2020-12-29 23:33] kaxil opened #13376 "airflow sync-perm command does not sync DAG level Access Control"
**Apache Airflow version**: 2.0.0

**What happened**:

Running sync_perm CLI command does not synchronize the permission granted through the DAG via access_control.

This is because of dag serialization. When dag serialization is enabled, the dagbag will exhibit a lazy loading behaviour.

**How to reproduce it**:

1. Add access_control to a DAG where the new role has permission to see the DAG.
[co

[2020-12-29 23:49] kaxil commented on #13350
fixed by https://github.com/apache/airflow/pull/13373

[2020-12-29 23:55] kaxil opened #13378 "Add a flag to list all Upgrade Check Rules"
It would be nice to have a list of all the available uprade-checks rules:

[code]

example (Ideally it should have 2 columns: Check_ID / Class Name and Summary):

[code]

Related Slack conversation: https://apache-airflow.slack.com/archives/CCQB40SQJ/p1609259241092000

This allows users to know the progress of their checks and an easy way to ignore a check beforehand (if we list an id / class name

[2020-12-29 23:57] madison-ookla commented on #13378
If I might add, it would be also useful to list the rule class name so people know which rules correspond to which class if they want to ignore them!

[2020-12-29 23:58] kaxil commented on #13378
Was just adding that too :) literally did it few seconds beack :)

[2020-12-29 23:59] madison-ookla commented on #13378
Ha, forgive my impatience 😁 ! I'm working on #13349 and #13350 right now, feel free to assign this to me if you wanted!

[2020-12-30 00:00] kaxil commented on #13378
Awesome, assigned it to you :) Looking forward to reviewing your PR

[2020-12-30 00:00] #13350 closed

[2020-12-30 00:01] kaxil commented on #13350
This will be released in  apache-airflow-upgrade-check **1.2.0**

[2020-12-30 07:36] ashb commented on #13364
My first "off the cuff" thought is that this would be something that lives outside Airflow, and it's just the context you run the celery workers in.

[2020-12-30 11:35] #13376 closed

[2020-12-30 12:17] bouke-nederstigt commented on #13325
No problem, completely understandable. Just let me know if there's any extra info that would be helpful.

[2020-12-30 12:46] forestlzj opened #13388 "No DAG parsing error while runing "airflow dags list" in airflow 2.0"
**Apache Airflow version**:
2.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:  hp gen380   32c, 192g ram
- **OS** (e.g. from /etc/os-release): centos 7.3
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:
before 2.0, the command "airflow list_dags" will show the e

[2020-12-30 12:59] jyotidhiman0610 commented on #10367
Can I take this up? @mik-laj

[2020-12-30 13:11] zacharya19 commented on #13364
@potiuk

You're right, that's why I'm suggesting to allow the user chose between two methods:
1. System site packages symlink.
2. Virtualenv copy.

I don't want that this feature will make Airflow launcheable only by using venv or global env.

@ashb

Well, yes and no.
I don't suggest creating a new venv every time I want to run a task, I think creating reusable venvs is a good approach and then th

[2020-12-30 14:04] potiuk commented on #13364
What we are talking about is caching some resources between task runs (in this case .venv). The problems with that are that you introduce indeterministic approach. Initially execution time depends  on whether the .venv is there or not. But it's more than that.

What happens if new dependencies are released in the meantime? Do we care about having the exact same version of the depedencies between d

[2020-12-30 14:09] forestlzj opened #13391 "MySqlToHiveOperator , ”invalid path“ while loding the extracted csv to hive"
**Apache Airflow version**: 2.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:
I am trying to get data from mysql to hive , with the code:
[code]

[2020-12-30 21:53:21,631] {ta

[2020-12-30 14:19] samgans commented on #9490
I've stumbled upon the same issue. Can someone who has such information to tell more about why the UI actually can't retrieve the hostname from the task instance?

[2020-12-30 16:51] potiuk commented on #10367
Feel free @jyotidhiman0610

[2020-12-30 20:09] yuzeh opened #13393 "Airflow 1.10 -> 2.0 DB upgrade broke"
**Apache Airflow version**: 2.0.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): N/A

**Environment**: docker-compose

- **Cloud provider or hardware configuration**: local / gcp
- **OS** (e.g. from /etc/os-release): Ubuntu 20 on WSL 2 (local) / Ubuntu 18 (gcp)
- **Kernel** (e.g. `uname -a`): 4.19.128-microsoft-standard (local) / 5.4.0-1032-gcp (gcp)
- **Install too

[2020-12-30 20:18] ashb commented on #13393
You say the scheduler crashed, but are showing logs from the webserver.

What database are you using?

Do you have a local time configured? What is in `/etc/adjtime`?

[2020-12-30 20:20] ashb commented on #13393
Do you use subdags? This is likely some problem with the data in the serialized_dag table. The way to reproduce this would be to one-by-one try deleting the rows from that table until the problem goes away.

That would at least help narrow down the problem.

[2020-12-30 21:20] zacharya19 commented on #13364
To be honest, I think the best approach here is to not solve it and let the user know about this behavior, and I don't think this is such a bad behavior, as if a task has started already and the there is now a new version - you wouldn't stop the task to rerun, it make sense it will run and the next task will use the new version.
If the user desire deterministic behavior here, I think it's reasonab

[2020-12-30 21:45] totalhack commented on #11899
Hey there, I'm running into the same issue and it's preventing me from getting an initial deployment of Airflow done. Same case as [this comment](https://github.com/apache/airflow/issues/11899#issuecomment-736521240).

Are there any known workarounds or an ETA on a fix?

I'm using MySQL 5.7.12, and `airflow version` shows `2.0.0` (using the apache/airflow:2.0.0 docker image).  Setting max_threads=

[2020-12-30 23:08] yuzeh commented on #13393
Hi @ashb!

1. Scheduler / Webserver - Our `docker-compose` service is called "webserver", but it launches a scheduler process in the background before starting the webserver process.
2. Database - Postgres 9.6
3. Local time - `/etc/adjtime` doesn't exist. I'm not sure how to configure local time but it seems like we don't have one configured.
4. We don't use subdags at all. (Would removing rows on

[2020-12-31 03:16] ChiHangChen opened #13397 "airflow 2.0.0 sqlite3.OperationalError syntax error"
Why I keep got this error when scheduler run my task?
[code]

[2020-12-31 04:55] rajib2k5 commented on #12309
Is TaskGroup supported in Airflow 1.10.10?

[2020-12-31 05:11] jsrimr commented on #12464
I experienced same issue when I executed the example on gcp VM.

you should install apache-airflow via sudo command.

```sudo pip3 install apache-airflow==1.10.14``` worked for me

[2020-12-31 10:26] potiuk commented on #12309
No

[2020-12-31 10:36] potiuk commented on #13397
You have a very old sqlite3 version. Please upgrade to latest version.

[2020-12-31 10:36] #13397 closed

[2020-12-31 10:47] turbaszek commented on #12464
This link points to Airflow 2.0 which is not compatible with 1.10.X, please see tutorial for your version:
https://airflow.apache.org/docs/apache-airflow/1.10.11/_modules/airflow/example_dags/tutorial.html

[2020-12-31 10:47] #12464 closed

[2020-12-31 10:53] turbaszek commented on #11039
Done in #12730

[2020-12-31 10:53] #11039 closed

[2020-12-31 11:17] dmateusp commented on #12136
hey @yamrzou I know it's been some time since you originally opened that issue! We run Airflow 1.10.10 and noticed the same, we have been getting around it by modifying the containers to frequently log.

Now I'm trying to actually fix the issue but I'm having a hard time reproducing it with a simple task:

[code]

Do you have a simple example that reproduces it on your end?

[2020-12-31 12:13] potiuk commented on #11899
Changed to 2.0.1 as this seems to be blocking people from upgrading to 2.0

[2020-12-31 12:16] Karthik-PlantSense commented on #13357
@imbaczek

[2020-12-31 12:32] potiuk commented on #13364
@zacharya19  Can you please describe in detail the algorithm you want to propose for upgrading/managing the venv? The one proposes  does not describe the details. When it should happen ? Are you going to try to upgrade to newer dependencies always when new task is run? Which component of the process is doing it? How it plays out with other tasks running at the same time and possibly using the same

[2020-12-31 14:29] viniciusdsmello commented on #11629
Hi Guys, any updates here? I was wondering if it is possible to read tasks' logs through UI during their execution. When a task is running, I can't see the logs by examining the Pod logs neither at UI, It's available for me only after the tasks finishes.

I'm asking this because sometimes I need to check the status/logs of a given task that may take a few hours to complete.

[2020-12-31 15:21] venezianluis commented on #13397
@ChiHangChen do you have solved this error? i had the same issue and it's all documented at [stackoverflow](https://stackoverflow.com/questions/65521057/sqlite-syntax-error-with-simple-task-on-apache-airflow-2-0)

[2020-12-31 15:59] soltanianalytics opened #13407 "Clearing tasks for previously finished DAG runs in airflow 2.0 does not lead to scheduling of tasks (when max_active_runs is reached)"
**Apache Airflow version**: 2.0, LocalExecutor

**Environment**: Docker on Windows 10 with WSL using image `apache/airflow:2.0.0-python3.8`

**What happened**:

Situation:
- There is a DAG, say `mydag`, with
  - `catchup=True`
  - `max_active_runs=1`
- Let's say there are two DAG runs, t=0 and t=1
- The first task of the DAG is a sensor that senses if the previous DAG was succesful
- Now, t=0 gets

[2020-12-31 17:26] ChiHangChen commented on #13397
Already tried update sqlite3, still got the same error?
Is there any specific command to update sqlite3?

[2020-12-31 17:29] potiuk commented on #13397
If you are running some old system (RHE7 for sure has this problem) the sqlite3 vrersion there might be < 7 years old even if you update to standard latest version. You need to Follow https://www.tutorialspoint.com/sqlite/sqlite_installation.htm to install the latest version.

[2020-12-31 17:32] potiuk commented on #13397
just run `sqlite3 version` to check the version you have. Check https://sqlite.org/changes.html to see how old version you have. For sure 3.27.2 and newer is good.

[2020-12-31 20:51] paulhtremblay opened #13414 "DAG raises error when passing non serializable JSON object via trigger"
When passing a non serializable JSON object in a trigger, I get the following error below. The logs become unavailable.

my code:
[code]

[code]

[2020-12-31 22:08] kaxil commented on #11920
Closed by https://github.com/apache/airflow/pull/13196

[2020-12-31 22:08] #11920 closed

[2021-01-01 05:09] #11192 closed

[2021-01-01 07:18] VBhojawala commented on #12760
There is an example of mounting host volume to pod :

Here is the link https://github.com/VBhojawala/airflow/blob/k8s-docs/docs/apache-airflow-providers-cncf-kubernetes/operators.rst#mounting-persistent--volume-to-pod

In this example local machine's ``/tmp/myapp`` is mounted to pod

[2021-01-01 09:26] VBhojawala commented on #13189
https://github.com/apache/airflow/blob/abf34b8aba33db4e751db44194429aeb2e8791c0/airflow/models/base.py#L33

https://github.com/apache/airflow/blob/abf34b8aba33db4e751db44194429aeb2e8791c0/airflow/models/taskinstance.py#L213

Currently ID_LEN is set to MAX 250, i think that is the reason why it is giving error.

[2021-01-01 11:54] toughrogrammer commented on #11451
I got similar error when I upgraded to 2.0.0

[code]

[2021-01-01 14:23] zacharya19 commented on #13364
As a first step, I suggest a simple solution:
When the celery worker is getting a new task to run, it will extract the venv config from `executor_config` (`venv_name: str` and `packages: List[str]`) and if it exists it will first run a simple flock based on a file (`/tmp/{venv_name}`), run virtualenv creation if doesn't exists (which will include system-site-packages/copy another venv as discussed

[2021-01-01 16:57] potiuk commented on #13364
I suggest you write it to the devlist and propose it as new feature there, I'd love to hear what others think about it.

[2021-01-01 17:03] potiuk commented on #13364
Just to comment - I have my opinion (voiced above) and I thin the indeterministic behaviour will lead to many questions from the users and hard debugging which will be hard to answer. Personally I think we need a more bullet-proof solution.

This is a new feature to add and it should be discussed in the devlist (like anything else of this caliber).

We are really community-driven and no single per

[2021-01-01 21:25] griffincosgrove commented on #13110
Beginner question: How do I view the home page of the docs with the integrations? I used breeze to build the docs and I can launch other pages, but I cannot find which HTML doc is the home page with the integrations, which file would be airflow.apache.org? Any guidance is appreciated

[2021-01-01 21:30] potiuk commented on #13110
http://airflow.apache.org/docs/

[2021-01-01 21:38] griffincosgrove commented on #13110
I am saying like the version i built through breeze, does that make sense?

[2021-01-01 22:18] soltanianalytics commented on #13407
I did some more reading (mainly https://github.com/apache/airflow/issues/1442 and https://issues.apache.org/jira/browse/AIRFLOW-137). I see now that using TI was entirely on purpose. Currently, it is expected to ignore the `DagRun`s which were re-set to `running` by the clearing of tasks in order to avoid a violation of `max_active_runs`, until such a violation is avoided. My issue with this is th

[2021-01-01 23:36] mjpieters commented on #12771
Interesting little test; but note it generates a trace from the tasks after the fact without support for additional spans created __inside__ each task invocation, and you the tracing context is not shared overy any RPC / REST / etc. calls to other services to inherit the tracing context.

I integrated Jaeger tracing (opentracing) support into a production Airflow setup using Celery. Specific chall

[2021-01-02 03:17] mik-laj commented on #13110
@griffincosgrove  The website is developed in a separate repository. https://github.com/apache/airflow-site
If you want to see what these logos will look like on the site, you should take a few steps:
1.  First update provider.yaml files and add new logos in this repository.
2. Copy files to [airflow-site](https://github.com/apache/airflow-site) repository. [The`scripts/tools/generate-integrations

[2021-01-02 03:30] griffincosgrove commented on #13110
@mik-laj ahh that's why I couldn't find it! thanks for pointing this out to me. I appreciate the knowledge. Want to make sure the logos look good!

[2021-01-02 07:33] mik-laj commented on #13357
What version of Airflow are you using?

[2021-01-02 08:00] mik-laj commented on #13388
Done via: https://github.com/apache/airflow/pull/13180

[2021-01-02 08:00] #13388 closed

[2021-01-02 08:23] turbaszek commented on #13364
In my opinion if you start to have multiple teams working on the same Airflow deployment then virtualenv solves the problem only on Python level which in my opinion is not sufficient. I personally would be in favour of worker/queue per env/team (as @ashb suggested). This seems to be more reliable approach (managing deps on deployment level) than managing dependencies via application (Airflow) whic

[2021-01-02 08:56] turbaszek commented on #13407
CC @ashb

[2021-01-02 10:32] #13360 closed

[2021-01-02 10:34] #13192 closed

[2021-01-02 10:47] turbaszek commented on #13414
Interesting, I think that in general we always assumed that `conf` will be JSON serialisable as it's usually passed via UI/API but the `TriggerDagRunOperator` is something different. Additionally the `conf` column of `DagRun` is `PickleType` and I thought that we abandoned pickling? CC @kaxil

[2021-01-02 11:03] zacharya19 commented on #13364
As I said, the issue here is that the user have to create some kind of complex deployment scripts, because running airflow inside venv requires restart when updating the packages.
Anyway, I had a few extra ideas to make this feature more reliable, I sent a request to get edit access to the wiki and will write a more detailed proposal when I do.

[2021-01-02 12:59] salimeryigit opened #13434 "Airflow 2.0.0 manual run causes scheduled run to skip"
**Apache Airflow version**: 2.0.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): N/A

**Environment**:

- **Cloud provider or hardware configuration**: local/aws
- **OS** (e.g. from /etc/os-release): Ubuntu 18.04.5 LTS
- **Kernel** (e.g. `uname -a`): 5.4.0-1032-aws
- **Install tools**: pip
- **Others**:

**What happened**:
I did a fresh Airflow 2.0.0 install. With t

[2021-01-02 14:35] XD-DENG commented on #13340
I doubt if we want to have this behaviour change: if the Admin wants to allow Public Role to view specific DAGs (or all DAGs), it's very easy to configure it in the UI as Admin role. There is no need to make any explicit change in my opinion.

[2021-01-02 15:00] turbaszek commented on #13434
Possibly related to #13407

[2021-01-02 19:18] AmarEL commented on #13340
The actual behavior without changes is problematic too because if someone sets the `AUTH_ROLE_PUBLIC = "Admin`, the DAGs will not be displayed, but the anonymous user still able to view and access some Menus like the "Admin". So, an Anonymous user with the role Admin can view/edit some sensitive data, but can't view/edit dags.

Or another example could be if I create a new role "Anonymous" and att

[2021-01-02 21:18] ramsesrm opened #13445 "BashOperator "env" should extend os envvars and not entirely replacing them"
**Description**

Current (1.10.14) behavior of BashOperator's is entirely replacing the os env by the envvars present in the "env" dict, if exists.

Perhaps it should extend the os envvars with the ones in the env dict, instead.

**Use case / motivation**

I'm using a BashOperator + custom env dict on an Airflow stable helm installation, and i had to add an additional env dict entry like this to m

[2021-01-02 21:46] WilliamTun commented on #10576
I checked out a sample of the files you listed - and they all have had recent merged edits, so I assume the task has been done.
Are there any files left from that list that I can work on to contribute to this task?

[2021-01-03 00:50] anand-sivampeta commented on #13231
Hi. This is my first contribution and I'd like to work on this.

[2021-01-03 15:24] potiuk commented on #10186
CC: @matttiuudo - comment her and I will assign you :)

[2021-01-03 15:29] potiuk commented on #13231
Feel Free! I assigned you :)

[2021-01-03 17:10] AmarEL opened #13451 "Modify HttpSensor to continue poking if the response is not 404"
**Description**

As documented in the [HttpSensor](https://airflow.apache.org/docs/apache-airflow-providers-http/stable/_modules/airflow/providers/http/sensors/http.html) if the response for the HTTP call is an error different from "404" the task will Fail.

The code block that apply this behavior:
[code]

**Use case / motivation**

I am working with an API that returns 500 for any error that happ

[2021-01-03 18:25] mattluudo commented on #10186
Jarek,

Thanks for the assignment!

-Matt

On Sun, Jan 3, 2021, 7:24 AM Jarek Potiuk <notifications@github.com> wrote:

[2021-01-03 23:32] #11275 closed

[2021-01-04 00:49] abhishekshenoy opened #13454 "ProjecId and Region are not templated fields in DataprocDeleteClusterOperator"
**Apache Airflow version**: 2.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):v1.18.2

**Environment**:

- **Cloud provider or hardware configuration**: GCP
- **OS** (e.g. from /etc/os-release): Container Optimized OS
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:
We are making use of Dataproc Operator in GCP to Create, Scale

[2021-01-04 02:20] subkanthi commented on #12873
Created PR https://github.com/apache/airflow/pull/13324

[2021-01-04 03:59] debodirno commented on #13273
Can you assign this to me, @potiuk?
FYI @mik-laj.

[2021-01-04 04:00] debodirno commented on #13274
I can work on this @potiuk. Please assign it to me?

[2021-01-04 04:41] mik-laj commented on #13273
Assigned.

[2021-01-04 05:55] mik-laj commented on #13454
Are you willing to submit a PR? I am happy to help with the review.

[2021-01-04 06:01] mik-laj commented on #13445
Copying all the environmental ones doesn't sound good to me. There are cases when Airflow has certain environmental variables, and the script should not have these variables, especially since environment variables very often contain secrets.

You can easily add this behavior in your DAG code so I don't see any reason to make suggested change.
[code]

[2021-01-04 06:20] astleychen commented on #13343
You can refer to #13115 for the one-line logs issue on GCS logging.

[2021-01-04 06:49] #10788 closed

[2021-01-04 07:14] turbaszek commented on #13322
@sarvothaman do you by any chance use a sensor in the DAG (especially in reschedule mode)?

[2021-01-04 07:22] yene commented on #9299
In my opinion MySQL type should not limit users, maybe VARBINARY would fit?

[2021-01-04 07:28] eladkal commented on #13451
@AmarEL assigned to you

[2021-01-04 08:21] nathadfield commented on #9975
@kaxil We're using Postgres so it's probably not related.

[2021-01-04 09:11] ramsesrm commented on #13445
Hi @mik-laj, thanks for the clarification, i didn't consider the value of isolating the script from the os envs. I'm closing this one :)

[2021-01-04 09:11] #13445 closed

[2021-01-04 12:09] Dr-Denzy commented on #13145
I will like to work on this task.

[2021-01-04 12:37] mik-laj commented on #13145
@Dr-Denzy Could you please prepare draft specification first? When we determine the appearance of specific endpoints, we will be able to proceed to implementation. I'm afraid this API can be a bit more problematic than the other endpoints because it doesn't fit easily into REST.  I omitted such an endpoint on purpose, because similar data can be obtained using the Batch API, but we can add it if n

[2021-01-04 12:40] smowden commented on #13325
im having the same issue. seems tasks sometime hang in queued state and never get ran. setting the task to failed manually helps (next dag run works then) but obviously that is not a solution ;)

[2021-01-04 12:50] venezianluis commented on #13397
I have updated sqlite3 to 3.34.0 2020-12-01 and still getting the error, do i need to do something else?

[2021-01-04 14:09] potiuk commented on #13273
I already have it in progress @debodirno  . I am making a change to revamp the provider structure and this is part of the change.

[2021-01-04 14:10] potiuk commented on #13273
This includes changing the auto-generated content of those and changing the approach of generation slightly so I prefer to do it as part of bigger change.

[2021-01-04 14:10] potiuk commented on #13273
That's why I assigned it to myself :)

[2021-01-04 14:11] potiuk commented on #13274
Same here. This is part of the change on how provider packages are generated, that's why I had it assigned to myself and I am quite close to complete it.

[2021-01-04 14:17] ashb commented on #13325
Are you able to try this without snowflake? It very seems unlikely to be the problem, but we have had problems caused by snowflake in the past.

[2021-01-04 14:17] abhishekshenoy commented on #13454
@mik-laj I will work on this. It will be my first time though.

[2021-01-04 14:20] bouke-nederstigt commented on #13325
What exactly do you mean by running without Snowflake? Run a DAG that doesn't use Snowflake, or build the container without any snowflake dependencies?

[2021-01-04 14:21] dmateusp commented on #12136
I was able to reproduce this issue after a few days of letting Bash containers run from KubernetesPodOperator, and implement a fix:

I ran two bash tasks, one with the fix (EarnestKubernetesPodOperator) and one without (KubernetesPodOperator):

[code]

I let both of these run for a few days and the one without the fix failed a few times while the one with the fix never failed:

<img width="95" alt

[2021-01-04 14:22] ashb commented on #13325
Build the container without any snowflake dependencies please -- it does some pretty horrible monkey patching of things, so it being installed at all _may_ break things. (It's unlikely, but worth checking)

[2021-01-04 14:46] Dr-Denzy opened #13460 "Expose Gantt chart as an API or able to configure alerting using the Gantt chart. #13145"
Description

The Gantt chart contains a very valuable information: when and how long each task took serially.

For the purpose of monitoring and alerting, it would be nice if Airflow can do either of these:

Expose the Gantt chart as an API so that DevOps people can write an alerting script using this API.
Or allow users to configure alerting from inside the UI using the Gantt chart information.
U

[2021-01-04 15:59] bouke-nederstigt commented on #13325
Just tried without the Snowflake dependencies and still end up with the same issue.

[2021-01-04 16:08] potiuk commented on #13397
Are you sure your sqlite version is correcty installed and used?

1) Can you follow this https://stackoverflow.com/questions/44621879/figuring-out-my-sqlite-version?rq=1  and report what you see?

2) Airflow has a neat `airflow db shell` command and it prints the version used

3) If all is fine can you wipe out the databases you find in ${AIRFLOW_HOME}/ or ${HOME}/airflow folder and retry? This is

[2021-01-04 16:17] debodirno commented on #13273
Makes sense.

[2021-01-04 16:37] kaxil commented on #9975
Cool, I am looking at this today and tomorrow

[2021-01-04 16:54] soltanianalytics opened #13464 "Scheduler fails if task is removed at runtime"
**Apache Airflow version**: 2.0.0, LocalExecutor

**Environment**: Docker on Win10 with WSL, official Python3.8 image

**What happened**:

When a DAG is running, and I delete task from the running DAG, the scheduler fails. When using Docker, upon automatic restart of the scheduler, the scheduler just fails again, perpetually.

![image](https://user-images.githubusercontent.com/46958547/103558919-a

[2021-01-04 17:25] #13214 closed

[2021-01-04 17:27] Limess commented on #13149
Not to ignore the above discussion, but for the benefit of anyone else using poetry on top of airflow in a workflow similar to the following who is experiencing issues with flask-openid:
1. Use the official Airflow docker image
2. Export requirements from poetry so we can use the Airflow constraints file
3. Globally install on top of the base Airflow dependencies using the airflow constraints file

[2021-01-04 17:33] Dr-Denzy commented on #13145
Ok. Noted.

[2021-01-04 17:37] Dr-Denzy commented on #13145
@didip apart from `dag_id` and `dag_run_id` parameters, what other parameters would suggest for this proposed Gantt chart API?
see: https://airflow.apache.org/docs/apache-airflow/2.0.0/stable-rest-api-ref.html#tag/TaskInstance

[2021-01-04 17:54] potiuk commented on #13149
Just wondering (I would love to understand it) - what benefit does poetry brings in this particular case?
Is there any reason why one simply could not use `pip` rather than    poetry in this case? Is there a reason this cannot be done?

I was thinking about switching to poetry once for Airflow (that was a long time ago: my mail from October 2018: https://lists.apache.org/thread.html/23a598f54eda27

[2021-01-04 18:56] Limess commented on #13149
We started using poetry to build an airflow docker image, but have since moved to the official image to try to minimize incompatibilities and haven't gone away from the tool.

I think the main reasons are:
* reasonably sane virtualenv management if you set it up correctly with pipenv
* easy to just do a `poetry install` after which IDE tools work pretty well if you keep the poetry deps file up to

[2021-01-04 19:24] terekete commented on #13262
I think I see why, can I make a PR and have you both review ?

[2021-01-04 19:31] kaxil commented on #9975
![image](https://user-images.githubusercontent.com/8811558/103571813-71d05500-4ec3-11eb-85e2-9537d4d458e2.png)

![image](https://user-images.githubusercontent.com/8811558/103571824-77c63600-4ec3-11eb-9711-a760423ad7e7.png)

This happens in Master too

[2021-01-04 20:24] #13069 closed

[2021-01-04 20:33] venezianluis commented on #13397
1. There is sqlite_version and version:
[code]

2. Using db shell:

[code]

3. I also tried to install the VM again([vm link](https://marclamberti.com/form-course-material-100/)) but i had no success, just putting here if someone want to know exactly how my enviroment is configured, password is vagrant

[2021-01-04 20:41] GreenGrassBlueOcean commented on #13317
This issue does also occur when running airflow with multiple nodes and airflow (1.10.11) has one of its nodes run in at higher python version in my case one node is running at 3.8.5. and another at 3.7.7.
As indicated here: [(https://stackoverflow.com/questions/23582489/python-pickle-protocol-choice)]
pickle protocol: 5 Protocol can only be used in python > 3.8.

The remarkable thing however is t

[2021-01-04 22:41] #13460 closed

[2021-01-04 22:50] gshiva opened #13467 "Source package distribution in PyPi repository"
Source package distribution in PyPi repository

To ensure that the correct libraries are linked, we rely on the source distribution package like https://files.pythonhosted.org/packages/db/f7/43fecb94d66959c1e23aa53d6161231dca0e93ec500224cf31b3c4073e37/lxml-4.6.2.tar.gz (lxml https://pypi.org/project/lxml/#files ). It would be great if the source distribution is also included in https://pypi.org/pr

[2021-01-04 22:51] krisdock commented on #7935
any confirmation yet on whether this is fixed in 2.0?

[2021-01-04 23:16] drago-f5a opened #13469 "Webserver does not exit upon gunicorn master crash"
**Apache Airflow version**: 1.10.14 and 2.0.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): N/A

**Environment**:

- **Cloud provider or hardware configuration**: AWS, custom Docker image based on Debian buster
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`): Linux 9b57b2a952e3 4.14.193-149.317.amzn2.x86_64
- **Install tools**:
- **Others**:

*

[2021-01-05 01:21] gbonazzoli opened #13476 "Airflow 2.0.0 CLI "airflow dags trigger" doesn't support the --run_id parameter anymore"
**Description**

Airflow 2.0.0 changed it's command line syntax in order to leverage it REST interface and it's well done. But I miss a very little switch that is the `--run_id` parameter in the `airflow dags trigger`

**Use case / motivation**

The use case is simple. An external bash script submit to airflow hundreds of dags every evening. A human operator the next morning checks the ones that f

[2021-01-05 02:44] ramach opened #13477 "Airflow webserver access on a localhost"

[2021-01-05 03:43] marshall7m commented on #9107
@rvasconcelossilva Almost there!

[2021-01-05 04:46] mattluudo commented on #10186
@potiuk Ready to go

[2021-01-05 05:50] Karthik-PlantSense commented on #13357
i'm using
`airflow version 2.0`
`rbac=True`

[2021-01-05 05:57] johnwesonga opened #13480 "MSSQL to GCS Operator has no support for FLOAT field types when generating the schema"
**Apache Airflow version**: 1.10.10

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): N/A

**Environment**:

- **Cloud provider or hardware configuration**: GCP Compute Engine
- **OS** (e.g. from /etc/os-release): Ubuntu Linux
- **Kernel** (e.g. `uname -a`):  SMP Debian 4.19.160-2 (2020-11-28) x86_64 GNU/Linux
- **Install tools**:
- **Others**:

**What happened**:

Ext

[2021-01-05 06:33] ashishraman commented on #11649
Any update on this?

[2021-01-05 06:45] hrkh opened #13481 "AttributeError: 'S3KeysUnchangedSensor' object has no attribute 'bucket_name'"
**Apache Airflow version**: 1.10.12

**Environment**:

- **Cloud provider or hardware configuration**: Google Cloud (Cloud Composer)
- **OS** (e.g. from /etc/os-release): Ubuntu 18.04.5 LTS
- **Kernel** (e.g. `uname -a`): x86_64 GNU/Linux
- **Install tools**:
- **Others**:
  - apache-airflow-backport-providers-amazon version: '2020.10.29'

**What happened**:

When I tried to execute S3KeyUnchanged

[2021-01-05 08:33] CatarinaSilva commented on #13003
Hi, also suffering from this when trying to migrate from 1.10.12 to 1.10.14, I see the PR is already done, is there any idea when it's going to be released? @dimberman

[2021-01-05 09:11] TobKed commented on #13262
I am sorry for the late response. Thanks @terekete , i will check it.

[2021-01-05 09:16] potiuk commented on #10186
done!

[2021-01-05 09:39] caoquyvu opened #13483 "Airflow worker logs 404 Client Error"
**Apache Airflow version**: 1.10.12

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): CentOS Linux 7 (Core)
- **Kernel** (e.g. `uname -a`): Linux my-private-domain 3.10.0-862.el7.x86_64 #1 SMP Fri Apr 20 16:44:24 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
- **Install t

[2021-01-05 10:22] kamac commented on #9975
This also happens when triggering DAGs manually with `create_dagrun`. If the DagRun is created with state `RUNNING`, `max_active_runs` is not respected (the run isn't counted if you browse DAG's details page).

I've also tried creating the run with state `SCHEDULED`, but it's never run by the scheduler. (perhaps I'm doing it the wrong way - I'm still investigating that)

Here's the code for two DA

[2021-01-05 10:23] ashb commented on #13325
Can someone who is having this problem try to get us a minimal reproduction steps so we can dig in to this more please?

[2021-01-05 10:27] ashb commented on #9975
Right now the only states for Dag Runs are None, "running", or "failed" -- that's why the scheduler is never picking up that dag run.

[2021-01-05 10:28] ashb commented on #13099
@JCoder01 where did we get with this issue? Was it a problem with your plugin or is this issue still outstanding?

[2021-01-05 10:32] ashb commented on #13311
@EKami This feels like a mis-configuration in your environment.

What does `echo TZ` show?

[2021-01-05 10:46] ashb commented on #7935
Sadly not - not entirely anyway. It should be much better, but there might still be some cases where the scheduler doesn't behave itself, but from the reports we've had, it's much more binary (either it's working or just it _never_ schedules anything from start) rather than working for a while then stopping to do anything.

[2021-01-05 10:47] ashb commented on #13243
On 1.10 you can try increasing http://airflow.apache.org/docs/apache-airflow/1.10.14/configurations-ref.html#dagbag-import-timeout

[2021-01-05 10:47] #13243 closed

[2021-01-05 10:50] kamac commented on #9975
@ashb I've tried creating DagRuns with state `NONE`. The tasks get run now, but `max_active_runs` is not respected.

<img width="341" alt="Screenshot 2021-01-05 at 11 48 42" src="https://user-images.githubusercontent.com/5012991/103637702-2910ae80-4f4c-11eb-9325-86833df5627f.png"><img width="341" alt="Screenshot 2021-01-05 at 11 48 50" src="https://user-images.githubusercontent.com/5012991/1036377

[2021-01-05 10:53] mik-laj commented on #13467
@gshiva  We don't use any native libraries, so it should make a difference whether you are installing from source code or prepackaged packages.

[2021-01-05 11:03] EKami commented on #13311
[code]

[2021-01-05 11:05] ashb commented on #13393
@yuzeh You'll need to work out which of the dags in your DB (i.e. in a copy of your DB go and manually delete some rows from the dag and serialized_dag tables) to track down which DAG is causing this problem.

[2021-01-05 11:08] mik-laj commented on #13481
@hrkh Are you willing to submit a PR? It looks like you need to delete some field from template_fields.

[2021-01-05 11:19] ashb commented on #13311
Specifically the TZ environment variable?

What does `python -c 'import pendulum; print(repr(pendulum.now()))'` do?

[2021-01-05 11:30] EKami commented on #13311
[code]

[2021-01-05 11:32] EKami commented on #13311
With:
[code]

[2021-01-05 11:32] kaxil commented on #9975
🤔 1.10.13 ?? Just noticed the original issue creator was on 1.10.11 so this is not a regression in 2.0 -- I though I read somewhere that it worked correctly for you @nathadfield on 1.10.x -- can you confirm please.

[2021-01-05 11:35] ashb commented on #12945
This is not the behaviour I've seen when I opened this issue -- re-running the latest "build images" job for a branch/PR it got cancelled. This was for the latest commit on a branch.

[2021-01-05 11:37] nathadfield commented on #9975
@kaxil It is definitely an issue on 1.10.14 as that is what we're running on our production system at the moment.

It does also seem to be an issue on 2.0 that I've got running on a locally running dev instance of our setup, but I could not replicate the problem on `master` via Breeze.

[2021-01-05 11:50] kaxil commented on #9975
I might ping you on Slack for more ad-hoc discussion, I was able to replicate it on Master too: https://github.com/apache/airflow/issues/9975#issuecomment-754171184

[2021-01-05 11:50] JCoder01 commented on #13099
Happy New Year @ashb
There is a little bit of both. There is an outstanding issue where use of Variables (or probably anything that interacts with the backed db in the global scope) raises the `UNEXPECTED COMMIT` RunTime error.
The problem I reported with being unable to restart the scheduler seems to have been caused by wrapping my `Variable.get` in an overly generous try/except, hiding the run t

[2021-01-05 11:53] bouke-nederstigt commented on #13325
Would it be useful if I share a zip file with Dockerfile, docker-compose and minimal dependencies?