[2020-11-24 10:41] nathadfield commented on #12585
@AdilsonMendonca Sounds like you e fine a better job of explaining it than I. We can close mine.

[2020-11-24 10:51] ashb commented on #12550
I think (correct me if I'm wrong @aniketbhatnagar ) that he is asking for some in-page docs/example showing what to put in the textarea on the trigger page.

[2020-11-24 10:58] aniketbhatnagar commented on #12550
Yes, that is correct and customizable per DAG. We right now have to document that outside airflow.

[2020-11-24 11:16] #12584 closed

[2020-11-24 11:29] mik-laj commented on #12555
There is at least two projects with the subdomain `docs.*`
http://docs.cloudstack.apache.org/en/latest/#
https://docs.trafficserver.apache.org/en/8.1.x/
and interestingly, it uses RTD.

[2020-11-24 11:31] ashb commented on #12555
Great, so it was just the redirect idea they didn't like. Hopefully.

[2020-11-24 11:31] mik-laj commented on #12550
Will it be sufficient for you if DAG.doc_md was displayed on the trigger screen?

[2020-11-24 12:06] aniketbhatnagar commented on #12550
Yes, I think that should suffice.

[2020-11-24 12:17] mik-laj commented on #12550
Would you like to open a PR with a proposal for such a change? I am happy to help with the reviews.

[2020-11-24 13:17] eladkal commented on #8490
Since this bug seems to be Python 2.7 only I'm closing the issue.

[2020-11-24 13:17] #8490 closed

[2020-11-24 13:54] marclamberti opened #12587 "dagrun object doesn't exist in the TriggerDagRunOperator"
**Apache Airflow version**: 2.0.0b3

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**: MacOS with Docker

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

[code]

**What you expected to happen**:

The dag_run object doesn't exist

[2020-11-24 14:30] ashb opened #12588 "Connection description migration breaks on MySQL 8"
The migration added in #10873 doesn't work on Mysql8 -- it is too long for a text column with utf8 collation.

[code]

**Apache Airflow version**:

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

*

[2020-11-24 14:58] zhongjiajie commented on #8632
Close this issue cause no more detail.

[2020-11-24 14:58] #8632 closed

[2020-11-24 15:43] honarkhah opened #12590 "Run webserver without installing dag dependencies"
**Description**

In order to have the webserver easy to maintain and scale it is nice if we can ignore dag dependencies (ex: python libraries) on the webserver and only install them on the worker.
currently webserver throwing an error `{dagbag.py:259} ERROR - Failed to import`

**Use case / motivation**

I want to have the webserver totally independent of what needs to be done! from my perspective

[2020-11-24 16:00] ashb commented on #12590
2.0.0 does this already, as the Webserver now relies on Dag Serialization and reads things from the DB only.

Easiest issue fix ever -- cos it's already done :grin:

[2020-11-24 16:00] #12590 closed

[2020-11-24 16:01] ashb commented on #12590
The scheduler will need them too -- as it "parses" the dag files. The way to avoid needing them on the scheduler is to not have imports at the top-level that are only needed inside execute functions

[2020-11-24 16:20] honarkhah commented on #12590
is the v2.0.0 stable now? I had a bad experience with serialized dag in < v1.10.13

[2020-11-24 16:43] ashb commented on #12587
@marclamberti

THe stack trace shows this as the call site

[code]

So I think the problem is in your custom plugin, not Airflow.

[2020-11-24 16:54] ashb commented on #12590
From our testing, yes. It's not yet released "GA", but it's getting very close! If you have time to test the beta releases (latest is beta3) that would be helpful!

[2020-11-24 17:14] mjpieters commented on #12519
My problem was a little different, but the same approach could work.

You'd need to plug into Celery and direct jobs to workers with capacity using *per-worker queues*. To make this work across schedulers and workers, I've so far used Redis to share bookkeeping information and to ensure consistency when multiple clients update that information.

I'd set each worker capacity to its concurrency leve

[2020-11-24 17:25] potiuk commented on #12588
Looks like https://github.com/apache/airflow/commit/bf6da166a974331e8cfe416c29cde0206c86d251 -> description should be Text rather than String . How should we approach this? Shall we change the existing migration ? I guess there is not much choice? And I wonder why it did not fail on 5.7 ?  We have utf8mb4 there as well.

[2020-11-24 17:28] turbaszek commented on #12587
I'm afraid that we have a bug. In case of this error, this gets executed:
https://github.com/apache/airflow/blob/94ba200d42403d1067a63e2e6b158d893c2e8b5a/airflow/operators/dagrun_operator.py#L132-L167

The `dag_run` will not exist, unless I miss something. What worries me most is that this usually gets picked up by flake8 / pylint

[2020-11-24 17:28] potiuk commented on #12588
More than that - seem that String is treated differently there. There are more big Srings there already.

[2020-11-24 17:34] turbaszek commented on #12519
That would be awesome! Possibly we can put it somewhere in Airflow docs.

@dimberman take a look at that, I think this is a really cool stuff 🚀

[2020-11-24 17:38] ashb commented on #12588
That migration was in a release (even if just beta) so we can't really change it.

New migration needed

[2020-11-24 17:41] ashb commented on #12588
@potiuk Happy to tackle this if you aren't.

[2020-11-24 18:08] hsnprsd commented on #12577
Did we decided about how to improve it?

[2020-11-24 18:40] potiuk commented on #12588
New migration would not help - it would fail in the middle by incrementally running migrations.

[2020-11-24 18:57] pbotros commented on #12519
@mjpieters thanks for the great explanation!

[2020-11-24 19:01] turbaszek commented on #10985
Any update on this issue?

[2020-11-24 19:16] marclamberti commented on #12587
@ashb, I didn't mention it but I copied the exact same code in a custom plugin to get it in 1.10.12, but still the error does exist in Airflow

[2020-11-24 19:39] ashb commented on #12588
Oh yeah, I guess change old migration to TEXT, but also create an ALTER migration to make it text (if we were going this route)

[2020-11-24 20:05] ashb commented on #12587
@marclamberti what's the stack trace for 2.0.0b3 please?

[2020-11-24 20:07] ashb commented on #12587
Is there a chance that the dagrun already exists in this case? That might be the bug. - -in the `if self.reset_dag_run` path `dag_run` is never set.

@turbaszek I think that's why flake8 was "okay" with it -- it the `try` block on L122 `dag_run` is created.

[2020-11-24 20:11] turbaszek commented on #12587
flake8 yes, but I thought that pylint was catching such things - but maybe that's just an impression

[2020-11-24 21:43] #12585 closed

[2020-11-24 23:05] #7965 closed

[2020-11-24 23:05] #7966 closed

[2020-11-24 23:05] #7967 closed

[2020-11-24 23:05] #7969 closed

[2020-11-24 23:05] #7976 closed

[2020-11-24 23:05] #7977 closed

[2020-11-24 23:05] #7979 closed

[2020-11-24 23:05] #7981 closed

[2020-11-24 23:05] #7982 closed

[2020-11-24 23:05] #7983 closed

[2020-11-24 23:05] #7985 closed

[2020-11-24 23:05] #7986 closed

[2020-11-24 23:05] #7987 closed

[2020-11-24 23:05] #7988 closed

[2020-11-24 23:05] #7989 closed

[2020-11-24 23:05] #7992 closed

[2020-11-24 23:05] #7995 closed

[2020-11-24 23:05] #7996 closed

[2020-11-24 23:05] #7997 closed

[2020-11-24 23:05] #7998 closed

[2020-11-24 23:05] #8000 closed

[2020-11-24 23:05] #8001 closed

[2020-11-24 23:07] #7876 closed

[2020-11-24 23:07] #7906 closed

[2020-11-24 23:07] #7907 closed

[2020-11-24 23:07] #7909 closed

[2020-11-24 23:07] #7910 closed

[2020-11-24 23:07] #7918 closed

[2020-11-24 23:07] #7921 closed

[2020-11-24 23:07] #7924 closed

[2020-11-24 23:07] #7925 closed

[2020-11-24 23:07] #7927 closed

[2020-11-24 23:07] #7928 closed

[2020-11-24 23:07] #7929 closed

[2020-11-24 23:07] #7930 closed

[2020-11-24 23:07] #7931 closed

[2020-11-24 23:07] #7933 closed

[2020-11-24 23:07] #7934 closed

[2020-11-24 23:07] #7936 closed

[2020-11-24 23:07] #7937 closed

[2020-11-24 23:07] #7939 closed

[2020-11-24 23:07] #7959 closed

[2020-11-24 23:07] #7960 closed

[2020-11-24 23:07] #7963 closed

[2020-11-24 23:07] #7964 closed

[2020-11-25 00:09] #10985 closed

[2020-11-25 00:13] matthieu-foucault opened #12602 "Kubernetes worker pod doesn't use docker container entrypoint, removing OpenShift support"
**Apache Airflow version**: 2.0.0-b3

**Kubernetes version**:  v1.18.3+47c0e71, OpenShift v4.5

**What happened**:

When starting a worker pod with the `KubernetesOperator`, the python script fails to import `airflow`

**What you expected to happen**:

Running a docker container in OpenShift is usually done with the "Restricted" Security Context Constraint, meaning that the container will be run w

[2020-11-25 00:28] jackemuk-es commented on #12588
@ashb If you change the old migration to TEXT, then the migration fails on postgres.

PostgreSQL 13.1 (Debian 13.1-1.pgdg100+1) on x86_64-pc-linux-gnu, compiled by gcc (Debian 8.3.0-6) 8.3.0, 64-bit

[2020-11-25 02:31] norwoodj commented on #7935
@dlamblin why was this closed? My read of this most recent comment was that it described a different issue than the one this issue refers to, and @ashb was pointing out that *that* bug was fixed, not necessarily the underlying one that this issue references.

If this issue is also fixed by that pull request, then great. I just want to be sure this issue isn't being closed by mistake because this i

[2020-11-25 06:52] RyanSiu1995 opened #12609 "GCS gzip log upload"
**Description**
For now, GCS Log Handler does not provide an option for user to upload the logs with gzip. It is good if we could configure it directly.

**Use case / motivation**
The gzip log files will help the user to save a ton of money in storing the log files.

**Related Issues**

[2020-11-25 07:11] ashb commented on #7935
TBC this issue _should_ be fixed in 2.0.0 as we have massively reworked the Scheduler.

[2020-11-25 07:15] maijh commented on #7935
this issue have been fixed in version 2.0.0  or  will be fixed in the future version 2.x.x  ？  @ashb

[2020-11-25 07:17] ashb commented on #12588
Fails with what error?

[2020-11-25 07:19] ashb commented on #7935
I'm hopeful that #10956, which is already merged, will fix this issue, and they will be included in 2.0.0

[2020-11-25 07:21] eshaingle commented on #12331
Hi Thank you for the reply.
I tried it but always get `'/vault/secrets': No such file or directory`

[2020-11-25 09:14] dinigo opened #12611 "Switch from Email to general/extensible Notifiers"
**Description**

Replace the "email" API with a "notification" API that would let us integrate better with our workflow without adding extra code to the DAGs.

1. Change "[email]" to "[notification]"
2. Add "webhook", "gcp_error_reporting" and "aws_cloud_watch" notification methods

**Use case / motivation**

Though email es arguably the most used tool for communication Cloud infrastructures usual

[2020-11-25 09:22] turbaszek commented on #12611
I think this is a good suggestion. Apart from that:
- instead of custom code in every DAG you can use cluster policy
- in case of slack - you can send emails to channels (slack provides this feature)

[2020-11-25 09:39] potiuk commented on #12588
Working on a fix in #12596

[2020-11-25 09:46] mik-laj commented on #12611
I would be most interested in integrating with PubSub. This would allow data synchronization with Airflow in the Push model, and not only fetch it via API (Pull model)

I saw that someone had already started working on it, but never finished.
https://github.com/apache/airflow/pull/2412

[2020-11-25 09:58] JavierLopezT opened #12612 "Send failure email just if all retries fail"
Let's say that you have a DAG with 8 retries and email_on_failure=True.

The first 6 times it fails due to a server conn error, and on the 7th it works. I really don't care why it failed the first six times, and I will care just if it fails the 8th time.

It would be nice to have a parameter that allows us to only receive an email if all 8 retries fail.

[2020-11-25 09:59] mik-laj opened #12613 "Integration list synchronization with airflow-site"
Hello friends.

Today I am coming to you with another ticket. This time, while working on the website, I discovered that we have some information that is slightly outdated.

[`landing-pages/site/static/integrations.json`](https://github.com/apache/airflow-site/blob/master/landing-pages/site/static/integrations.json
) file have lists all the integrations that have been added to Airflow, but unfortu

[2020-11-25 10:03] saikatharryc commented on #12331
I believe you are not running with the side car? which is the vault agent injector?

[2020-11-25 10:06] ashb commented on #12555
S3 has an https url: https://apache-airflow-docs.s3-eu-central-1.amazonaws.com/index.html  (The "problem" with it is that it doesn't redirect from https://apache-airflow-docs.s3-eu-central-1.amazonaws.com/)

[2020-11-25 10:10] mik-laj commented on #12555
Yes. website don't support SSL: https://docs.aws.amazon.com/AmazonS3/latest/dev/WebsiteEndpoints.html#WebsiteRestEndpointDiff

https://docs.aws.amazon.com/AmazonS3/latest/dev/website-hosting-custom-domain-walkthrough.html

[2020-11-25 10:11] ashb commented on #12555
Yes, but it's only a problem for people who try to hit `/` -- all links actually work fine

[2020-11-25 10:12] ashb commented on #12555
I'd like to avoid CloudFront - I've always found it massively slow to update when pushing new changes.

[2020-11-25 10:14] turbaszek commented on #12612
Won't that be handled by `on_failure_callback`?

[2020-11-25 10:39] eshaingle commented on #12331
I am injecting secrets via vault helm sidecar and vault-agent-injector pod performs the injection based on the annotations.

[2020-11-25 10:46] ashb commented on #12602
@matthieu-foucault Yes please, a PR would be ace!

[2020-11-25 10:48] ashb commented on #12602
Please also (somewhere) document what Airflow requires of the image being run.

Because there are at least  three "common" images that people might run (airflow, puckel, astronomer) and they might all handle this differently.

[2020-11-25 11:04] JavierLopezT commented on #12612
Since you say so, I guess it will be possible, but after a quick research on Google I can't figure it out. My idea is having a parameter like 'email_on_fail_retries' that you can set to False, which I think is way easier than doing it with on_failure_callback.

Also, not sure if I understood correctly, but you would have to have the callback function on every dag that you want to use it, right? So

[2020-11-25 11:27] saikatharryc commented on #12331
@eshaingle
okay, now I know you are using k8s and vault injector & airflow in k8s.
______

I have tried this generic way, where I have installed vault agent injector, and by mentioning the annotations I get the secret file mounted in the pod.

later I source it, in the entry point (of the docker container in case the file is present)

Later I realized the workers which are spawned for the dags, th

[2020-11-25 11:42] turbaszek commented on #12612
Use cluster policy. As per the emails, I wanted to point to `email_on_failure` not `on_faliure_callaback`.

[2020-11-25 12:05] eladkal commented on #12611
It has some similarities with https://github.com/apache/airflow/issues/8686

[2020-11-25 12:27] marclamberti commented on #12587
@ashb Here it is:

[code]

[2020-11-25 12:39] marclamberti commented on #12587
If you want to reproduce the issue:
https://gist.github.com/marclamberti/92cb097d71d03988895861574365abeb

1. 1. Schedule triggered_dag
2. 2. Schedule master_dag
3. Once master_dag is done, click on the task start -> Clear

[2020-11-25 12:59] ephraimbuddy opened #12616 "Triggering a DAGRUN with invalid execution_date causes a ParserError in the REST API"
Triggering a dagrun with an invalid execution date causes a ParserError in the REST API

**Apache Airflow version**: 2.0

**What happened**:
When you trigger a dagrun with an invalid execution date, it returns an HTML response showing the error

**What you expected to happen**:

I expected a JSON response showing that the execution date is invalid

**How to reproduce it**:

1. Start airflow webser

[2020-11-25 13:30] #12588 closed

[2020-11-25 15:01] igordertigor commented on #12581
Great! Thanks for the pointer. When I opened the issue, I obviously didn't think of the right keywords that would have led me to the issue/pull request.

[2020-11-25 16:13] turbaszek commented on #12587
@marclamberti would you like to fix this issue? We should use `DagRun.get_run` method to get proper dag_run when we catch the exception

[2020-11-25 17:45] dimberman commented on #11043
@turbaszek @RaviTezu can we close this ticket?

[2020-11-25 17:52] matthieu-foucault commented on #12602
Thanks for the info! The official production image also accepts commands that start with `bash`, so that option should be compatible with all four images

[2020-11-25 17:53] Dr-Denzy commented on #11042
I will like to work on this task.

[2020-11-25 18:03] tylermichael commented on #11882
We are also seeing this. Here is the full stack trace I get when I hit clear. We are running version 1.10.12

[code]

[2020-11-25 19:27] ashb commented on #12602
`bash -c "airflow ..."` would be an absolute last resort

[2020-11-25 19:28] ashb commented on #10629
I think there may be one left -- in DagBag.collect_dags

[code]

[2020-11-25 19:43] ashb commented on #12234
[code]

This is the source of your problem. When it comes to evaluate the task, the start date is in the future, so the scheduler skips it.

Use a fixed start date and set catchup=False

[2020-11-25 19:43] #12234 closed

[2020-11-25 20:08] eladkal commented on #11134
I'm unable to reproduce this on 2.0.0b3

[2020-11-25 20:12] dimberman commented on #12602
@ashb @matthieu-foucault This all sounds great! Definitely would rather avoid using bash within the entrypoint. I think we can start by just making this compliant with the official production image and then alert the maintainers of the other images when this is merged.

[2020-11-25 21:02] dimberman commented on #11053
@turbaszek @kaxil I'm a bit confused by this

https://github.com/apache/airflow/blob/master/airflow/executors/executor_loader.py#L81-L110 Looking at these lines it looks like Airflow 2.0 still allows loading from plugins? Does this need to be an upgrade check or deprecation warning?

[2020-11-25 22:08] ecerulm opened #12632 "helm chart: webserver replies with 404 "Apache Airflow is not at this location" when using config.webserver.base_url"
I tried to deploy with helm values:

    ingress.web.path: /airflow/*
    config.webserver.base_url: https://myhostname/airflow

It doesn't work because then

* the livenessProbe uses `/health` instead of `/airflow/health`
* I don't think the livenessProbe sends the appropriate `Host` header, so even if it requested `/airflow/health` it will return 404 because airflow webserver thinks the requeste

[2020-11-26 06:57] RaviTezu commented on #11043
@dimberman Yes. I think, it can be closed.

[2020-11-26 10:19] michalslowikowski00 commented on #12116
I am working on Dataproc package.

[2020-11-26 10:26] baolsen opened #12639 "AWS hook: Allow retries for assume_role_with_saml on HTTP failures with IDP request"
**Apache Airflow version**: 1.10.8 (Patched with latest AWS Hook)

**Environment**:

- **Cloud provider or hardware configuration**: 4 VCPU 8GB RAM VM
- **OS** (e.g. from /etc/os-release): RHEL 7.7
- **Kernel** (e.g. `uname -a`): Linux 3.10.0-957.el7.x86_64 #1 SMP Thu Oct 4 20:48:51 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
- **Install tools**:
- **Others**:
The AWS Hook functionality for AssumeRole

[2020-11-26 10:26] baolsen commented on #12639
Please assign to me, I intend to develop and test against my environment since this is difficult to reproduce otherwise

[2020-11-26 10:30] baolsen commented on #12639
Suggestion for implementation is to use something like this to allow retries at a Request level:
https://findwork.dev/blog/advanced-usage-python-requests-timeouts-retries-hooks/#retry-on-failure
Inside the AWS Hook.

And configure it from the Airflow Connection extra field like how the other "kwargs" are used in the AWS Hook.

[2020-11-26 10:50] vinaymor002 commented on #11965
Getting error with python 3.9.0

`ERROR: Command errored out with exit status 1:
   command: /usr/local/opt/python@3.9/bin/python3.9 /usr/local/lib/python3.9/site-packages/pip/_vendor/pep517/_in_process.py build_wheel /var/folders/xf/hwq0q8rn56xcd_830x9q24c40000gn/T/tmpk9hup6wq
       cwd: /private/var/folders/xf/hwq0q8rn56xcd_830x9q24c40000gn/T/pip-install-9jhr51fl/pandas`

Used below command
`pi

[2020-11-26 10:51] pvcnt commented on #12120
There is even a conflict in Airflow 1.10.13 with importlib-metadata, because Airflow requires `importlib-metadata~=2.0`, while argcomplete (required at 1.12.0 by Airflow) requires `importlib-metadata<2,>=0.23`.

[2020-11-26 10:57] turbaszek commented on #12120
Working on that #12508 #12636 #12635

[2020-11-26 12:02] potiuk commented on #12120
I don't think we'd want to fix deps for 1.10.*  Our focus in #12636 is to make them fixed (and non-breakable in the future for Airflow 2.0).

[2020-11-26 12:06] potiuk commented on #11965
Python 3.9 has known problems with dependencies - we are not supporting it yet. This will happen after 2.0.

[2020-11-26 14:01] mik-laj commented on #12639
@baolsen  We commonly use tenacity.

It would be fantastic if you could rewrite the code to use AssumeRoleCredentialFetcher to handle credential expiration as well. Currently, the STS token is valid for only one hour and after that time it expires and Airflow does not try to obtain a new token.
https://github.com/boto/botocore/blob/6e3ec4e8544ea32e130ac42b414a2819627c475b/botocore/credentials.py#L

[2020-11-26 14:29] lidalei opened #12642 "typo: force_logout_after should be force_log_out_after"
**Apache Airflow version**:
1.10.13

**What happened**:
`force_logout_after` should be `force_log_out_after` in the code section https://github.com/apache/airflow/blob/master/airflow/settings.py#L372-L381. As `force_log_out_after` is actually used and written in https://github.com/apache/airflow/blob/c5700a56bb3b9a5b872bda0fe0d3de82b0128bdf/UPDATING.md#unify-user-session-lifetime-configuration.

*

[2020-11-26 14:43] JavierLopezT commented on #12612
Ok, I thought email_on_retry was False by default. Setting that to False, email_on_failure does exactly what I want. Sorry for the inconveniences and thanks for you help @turbaszek . I'll close the issue

[2020-11-26 14:43] #12612 closed

[2020-11-26 15:15] norwoodj commented on #7935
Any idea when 2.0 will be released?

[2020-11-26 15:38] potiuk commented on #7935
https://cwiki.apache.org/confluence/display/AIRFLOW/Airflow+2.0+-+Planning

[2020-11-26 17:05] guillemborrell opened #12644 "Network instabilities are able to freeze KubernetesJobWatcher"
**Apache Airflow version**:
1.10.10 and 1.10.12 so far

**Kubernetes version (if you are using kubernetes) (use kubectl version)**: v1.16.10

**Environment**:

Cloud provider or hardware configuration: Azure
OS (e.g. from /etc/os-release):
Kernel (e.g. uname -a):
Install tools:
Others:

**What happened**:
We are running Airflow with the KubernetesExecutor on a Kubernetes cluster with a somewhat un

[2020-11-26 22:16] shonik09 commented on #10037
Can someone clarify if this made it into 1.10.13? If not, when is this expected to be fixed?

[2020-11-27 07:01] bhavaniravi opened #12647 "Dynamic Workflows by spinning multiple task Instance during Dag Run"
**Description**

Supporting Runtime-Dynamic workflows using multiple task instance during DAG run

**Use case / motivation**

One of the most common requirements that I constantly see repeating in multiple places and forums is to create dynamic task B based on the output of task A.

[code]

A specific requirement in the above case is to parallelize data processing while the specification of the ta

[2020-11-27 10:57] dromcre opened #12651 "Webserver error - RuntimeError: Unable to find any timezone configuration"
**Apache Airflow version**:

Airflow version: 2.0.0b3

**What happened**:

Something bad has happened.
Please consider letting us know by creating a bug report using GitHub.

Python version: 3.6.8
Airflow version: 2.0.0b3

-------------------------------------------------------------------------------
Traceback (most recent call last):
  File "/usr/lib/python3.6/site-packages/flask/app.py", line 2

[2020-11-27 12:30] jward-bw opened #12654 "RFC: Merging backfills"
**Description**
Make it possible to merge multiple backfills into a single run, by extending the `start_date` of a single dagrun to cover a time period inclusive of all backfills.

**Use case / motivation**
There are cases where running multiple backfills is less efficient than having a single run, for example where tasks in successive runs would do duplicate work.

***An example:***

- We have a

[2020-11-27 12:40] ashb commented on #12654
Yes, this would be a good feature!

What most people seem to do right now as a work around is to have a special "backfill dag" that does the batching.

We (collectively) will need to spend some time designing an interface for this, and then likely raise it as an Airflow Improvment Proposal https://cwiki.apache.org/confluence/display/AIRFLOW/Airflow+Improvements+Proposals

I'll happily help you wit

[2020-11-27 12:48] turbaszek commented on #12654
This sounds good! I wonder if we could mix it with triggering backfill externally #11302

[2020-11-27 12:59] #12448 closed

[2020-11-27 13:14] philipherrmann commented on #12111
I think this is because of the
`reattach_on_restart`idea. The parameter is documented as "if the scheduler dies while the pod is running, reattach and monitor", but, I think, "while the pod is running" seems to checked in an incorrect manner. It seems that the Operator searches the pod's metadata for an "already_checked" label with value True. This label seems to be set only in the "call stack"
[c

[2020-11-27 14:34] #12543 closed

[2020-11-27 14:34] #12544 closed

[2020-11-27 15:05] jward-bw commented on #12654
Yeah absolutely. I'll raise an AIP for backfill improvements when I get the chance and we can discuss what the scope of that should be there.

[2020-11-27 16:12] nathadfield opened #12659 "Tasks in DAGs with `depends_on_past` or `task_concurrency` are not being scheduled"
**Apache Airflow version**: 1.10.13

**What happened**:

After performing an upgrade to `v1.10.13` we noticed that tasks in some of our DAGs were not be scheduled.  After a bit of investigation we discovered that by commenting out `'depends_on_past': True` the issue went away.

**What you expected to happen**:

We think the issue might have something to do with this which was introduced to `1.10.1

[2020-11-27 16:15] #11731 closed

[2020-11-27 16:19] kaxil commented on #12659
On Master, this was fixed by https://github.com/apache/airflow/pull/7402 & further optimised by https://github.com/apache/airflow/pull/7503

in 1.10.13 -- this was clubbed by the following 2 commits:

- https://github.com/apache/airflow/commit/cb8d53fbc64af8d6c175d0dda6ae51db65ccc19b#diff-649fbbf224bab54417f03338c27d0fdb3c3336e53a522a13dfd9806c99f63137
- https://github.com/apache/airflow/commit/26

[2020-11-27 16:22] kaxil commented on #12651
@dromcre Can you expand a bit more on `1000 dags with 100 in on with scheduler "* * * * *"` !

Can you post at least one of your DAGs

[2020-11-27 16:24] turbaszek commented on #12654
@jward-bw I did a small draft last week so feel free to use it:
https://docs.google.com/document/d/1q138mGBfr9uEJbe43sTPobj_30vo2g2pIel1rBt9fLg/edit?usp=sharing

[2020-11-27 16:30] kaxil commented on #12659
@nathadfield has confirmed the issue does not exist on 2.0.0b3

[2020-11-27 16:34] mthoretton commented on #12659
Since v1.10.13 we also noticed, for some dags, the tasks are not being scheduled. They stay forever with a None state. Nothing in the scheduler logs (DEBUG level). Running the tasks manually work fine though. In our case, some/most of the dags have indeed `depends_on_past` set to true but not all of them it seems. So maybe this is something different. I will try to investigate deeper and share any

[2020-11-27 16:36] kaxil commented on #12659
Can you check if the other DAGs (not using `depends_on_past` but are still stuck) have `task_concurrency` set?

[2020-11-27 16:44] mthoretton commented on #12659
I did not check absolutely all dags we have but yes, the "broken" dags either have `depends_on_past` or `task_concurrency` set. I was not aware of the 2 issues you mentionened above, I will have a look but it definitely looks related.

[2020-11-27 16:52] turbaszek commented on #11038
Done in #12629

[2020-11-27 16:52] #11038 closed

[2020-11-27 16:59] kaxil commented on #12659
I can confirm the bug. I was able to reproduce it with task with `task_concurrency` or `depends_on_past` with `LocalExecutor` and the following DAG:

[code]

[2020-11-27 17:13] dromcre commented on #12651
Attach zip with 300 dags.

[dags.zip](https://github.com/apache/airflow/files/5608984/dags.zip)

[2020-11-27 17:16] dromcre commented on #12651
**Scheduler with Core Executor = LocalExecutor.**

AIRFLOW__CORE__LOAD_DEFAULT_CONNECTIONS=False
AIRFLOW__CORE__DAGS_FOLDER="$AIRFLOW_FOLDER/dags"
AIRFLOW__CORE__PLUGINS_FOLDER="$AIRFLOW_HOME/plugins"
AIRFLOW__CORE__EXECUTOR="LocalExecutor"
AIRFLOW__CORE__PARALELLISM=50
AIRFLOW__CORE__DAG_CONCURRENCY=100
AIRFLOW__CORE__MAX_ACTIVE_RUNS_PER_DAG=100
AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION=True
AIR

[2020-11-27 17:21] wangrenz opened #12662 "Airflow login password encryption"
Hi:

I add user and passwd by `airflow create_user` for sign in.

But, The result of software capture is plain text.

How to encrypt the password transmission? No https protocol, Thanks.

Sincerely
Renzhi

[2020-11-27 17:35] dromcre commented on #12651
i found a similiar issue: https://issuehunt.io/r/miracle2k/k8s-snapshots/issues/83

In my case, i run webserver and scheduler in two pods.

Docker:
FROM alpine:3.6

[2020-11-27 17:36] #12642 closed

[2020-11-27 17:42] #12470 closed

[2020-11-27 18:13] potiuk commented on #12469
Not needed for now in 2.0. We can easily live without it.

[2020-11-27 18:14] potiuk commented on #12468
We can easly live without it for a while.

[2020-11-27 19:03] kaxil commented on #12659
https://github.com/apache/airflow/pull/12663 should fix it

[2020-11-27 19:06] #10854 closed

[2020-11-27 19:07] nathadfield commented on #12659
Nice one @kaxil! Will this force the need for a 1.10.14 then?

[2020-11-27 19:08] kaxil commented on #12659
Yup, indeed. I hope to get it out by next week

[2020-11-27 19:18] potiuk opened #12665 "Constraints behaviour changes in new PIP"
We have this warning when running the latest PIP, so we have to take a close look what it means to us:

[code]

**Description**

**Use case / motivation**

**Related Issues**

[2020-11-27 19:20] potiuk commented on #12665
cc: @ashb @kaxil @turbaszek . Not sure from the message if this is really the URL form that is not supported, or whether all the constraints should be in the form of name==version. But I will take a closer look soon.

[2020-11-27 19:22] bostonrwalker opened #12666 "Error: table kube_resource_version already exists when calling reset_db() with SQLite backend"
Issue encountered during alembic migration when running Airflow 2.0.0b3 locally using a sqlite backend and calling airflow.utils.db.resetdb():

**sqlalchemy.exc.OperationalError: (sqlite3.OperationalError) table kube_resource_version already exists
[SQL:
CREATE TABLE kube_resource_version (
	one_row_id BOOLEAN DEFAULT (1) NOT NULL,
	resource_version VARCHAR(255),
	PRIMARY KEY (one_row_id),
	CONSTR

[2020-11-27 19:43] #12659 closed

[2020-11-27 19:43] kaxil commented on #12659
Closed by #12663

[2020-11-27 21:09] ashb commented on #12665
Wonder if we can do

[code]

[2020-11-27 21:17] freget opened #12669 "Cannot write logs to volume not supporting unix-style permissions"
**Apache Airflow version**: v2.0.0b2

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): v1.16.13

**Environment**:

- **Cloud provider or hardware configuration**: Azure AKS
- **OS** (e.g. from /etc/os-release): official airflow image

**What happened**:

When configuring the worker to write logs to a PersistantVolumeClaim in Kubernetes that does not support unix-style

[2020-11-27 21:32] potiuk commented on #12665
Yep.  I thought it's the new theme. But we can also exclude it from the constraints when we are  preparing the new constraints  by filtering it out.

[2020-11-27 21:39] kaxil commented on #12662
This is fixed in 1.10.13

[2020-11-27 21:39] #12662 closed

[2020-11-27 21:43] kaxil opened #12672 "Create a upgrade check rule to update `[scheduler] max_threads` config"
This config was renamed in https://github.com/apache/airflow/pull/12605#discussion_r530305557

The rule should suggest to change config from `[scheduler] max_threads`  to `[scheduler] parsing_processes` in 1.10.14

[2020-11-27 22:49] #12666 closed

[2020-11-28 00:17] pceric commented on #12111
Yes, I ended up enabling `is_delete_operator_pod` as a workaround, at the cost of being unable to jump into a finished pod to debug easier.

[2020-11-28 01:23] mohamednizar opened #12676 "Object of type 'DAG' is not JSON serializable"
**Apache Airflow version**:1.10.12
**What happened**:
I'm trying to generate dags based on config prams pass from trigger  , But With all the implementation the DAG throwing an exception as `Object of type 'DAG' is not JSON serializable`

Please find my Dags code here with
[code]
**What you expected to happen**:

It Should create DAGs with name of the table suffix

**How to reproduce it**:
I use r

[2020-11-28 02:00] parayaluyanta commented on #11301
`5.0.2 (singularity)` did not work for me as well. Downgrading to `4.4.7` did.

[code]

[2020-11-28 04:21] auvipy commented on #11301
celery 5.0-5.0.2 has several regressions. should wait for 5.0.3 at least to test

[2020-11-28 06:34] auvipy commented on #11930
can you the user access?

[2020-11-28 06:51] Nick-0723 commented on #11930
airflow even can't start

[2020-11-28 07:07] potiuk commented on #12665
It's not this. In our case we simply need to use `--requirement` instead of `--constraint` - we have the same result and it is officially supported in PIP.

[2020-11-28 07:56] Athlestan opened #12680 "SparkSubmitHook - allow log parsing"
**Description**

Create a method that will allow developer to parse spark log as needed in SparkSubmitOperator to extract usefull information. Method should be designed to be overwritten.

**Use case / motivation**

I want to extract what business dates my spark application processed/inserted to hive table and pass it to next task in dag. My business logic is in my Spark application written in Sca

[2020-11-28 11:14] c-hui commented on #10055
I have the same err:
[code]
apache-airflow         1.10.13
Python 3.8.6
Centos 7

[2020-11-28 12:38] turbaszek commented on #11043
Done in #11528, thanks!

[2020-11-28 12:38] #11043 closed

[2020-11-28 12:39] turbaszek commented on #11112
@ashb should we close the issue?

[2020-11-28 14:07] turbaszek commented on #12676
@mohamednizar can you add full stack trace?

[2020-11-28 16:44] WilliamTun commented on #11920
Hey @kaxil

I have successfully set up breeze.

I have created this folder:
airflow/providers/sqlite/example_dags
and using other examples as a template, I have created two files in this folder:
1) __init__.py
2) example_sqlite.py

I noticed other paralogous files for file 2 in other folders, eg providers/mysql/example_dags/example_mysql.py
has this import:
from airflow.operators.mysql_operator im

[2020-11-28 16:46] #11427 closed

[2020-11-28 17:57] kurtqq commented on #8989
@KevinYang21 this would be extremely helpful. did u implemented it?

[2020-11-28 18:02] kurtqq opened #12691 "add dagrun_timeout to the DAG Details screen in the UI"
In the Details page the is no indication of the DAG `dagrun_timeout`

[2020-11-28 18:11] potiuk opened #12692 "Provider discovery based on entry_points is rather brittle"
The tests we run in CI had shown that provider discovery based  on entry_points is rather brittle.

Example here:

https://github.com/apache/airflow/pull/12466/checks?check_run_id=1467792592#step:9:4452

This is not a problem with Airflow, but wth PIP which might silently upgrade some packages and cause "version conflict" totally independently from Airflow configuration and totally out-of-our-cont

[2020-11-28 18:15] potiuk commented on #12692
cc: @mjpieters -> maybe you can help with that as well :)?

[2020-11-28 18:53] ashb commented on #12692
I have any idea - I'll try it after dinner (1hr) they should help this

[2020-11-28 19:21] potiuk commented on #12545
We solved it for 2.0. https://github.com/apache/airflow/pull/12664

I do not think we will be able to fix it for 1.10.12 as it is a fundamental problem with how PIP handles requirements. We found a solution that we applied to 2.0 https://github.com/apache/airflow/pull/12664 but it requires adding additional limitations for airflow itself which we won't be able to do in already released version.

S

[2020-11-28 21:07] ashb commented on #12692
PR coming.

[2020-11-28 21:15] ashb commented on #9840
@ephraimbuddy That is Python2 vs Python3 syntax. Airflow code base has switched to the later, but the former will still work on Python3 without trouble, so it's not that.

@aladinoss How were you trying to import this? What error did you receive when you did so?

[2020-11-28 21:16] ashb commented on #12651
Sounds like you need to set `TZ=UTC` in your docker container then.

[2020-11-28 21:16] ashb commented on #12651
The number of dags should be unrelated to this bug.

[2020-11-28 21:16] #12651 closed

[2020-11-28 22:33] turbaszek opened #12696 "Airflow commands should not show sensitive information by default"
**Description**

Commands like `airflow info` or `airflow config` should by default show anonymised values.

**Use case / motivation**

Avoid displaying sensitive information by accident.

**Related Issues**

https://github.com/apache/airflow/pull/12689#discussion_r532107720
https://www.bbc.com/news/world-europe-55027641 (Dutch journalist gatecrashes EU defence video conference)

[2020-11-28 22:34] turbaszek commented on #12696
Opinions? @kaxil @XD-DENG @potiuk @ashb @mik-laj

[2020-11-28 22:39] XD-DENG commented on #12696
Yep, as mentioned in https://github.com/apache/airflow/pull/12689, I think we should make these information anonymised by default.

BTW I much like the 2nd link you shared above😄 and that was not the only such incident in 2020😄

[2020-11-28 23:27] #10629 closed

[2020-11-29 05:56] potiuk commented on #12696
YES

[2020-11-29 06:19] #12692 closed

[2020-11-29 06:20] mik-laj commented on #12676
Dynamic DAGs are not supported by Airflow. All DAG objects must exist each time a module is loaded.

[2020-11-29 06:21] potiuk commented on #12692
For those coming here to look for a solution: @ashb switched to importlib_metadata and it solved the problem entirely (and is much faster).

See #12694

[2020-11-29 06:40] mohamednizar commented on #12676
@mik-laj  Shouldn't  it included when we considering a bunch of same pattern of dags to be scheduled in deferment parameter ?

[2020-11-29 06:50] mik-laj commented on #12676
I do not understand the question. Can you say a little more?

Documentation on dynamic DAGs;
http://apache-airflow-docs.s3-website.eu-central-1.amazonaws.com/docs/apache-airflow/latest/faq.html#how-can-i-create-dags-dynamically

New DAGs cannot be created in the PythonOperator because the DAG must exist in the module when it was loaded. This is needed for the Scheduler to be aware of the existence

[2020-11-29 11:07] turbaszek opened #12699 "Add yaml/json output format support for many CLI commands"
**Description**

In `list` commands (for example dag runs, connection) we may output yaml/json representation of the information next to table representation. Why?
- It's consistent and well structured
- Easy to pipe to another command

We already have the `--output` flag which allows users to define "table style". We can use it to extend it functionality (personally I would be in favour of single

[2020-11-29 11:09] turbaszek commented on #12699
CC @ashb @kaxil @XD-DENG @potiuk @mik-laj

[2020-11-29 11:21] ashb commented on #12699
Do you mean _remove_ tables, or _add_ option to output json/yaml?

[2020-11-29 11:22] turbaszek commented on #12699
Add option, as in docker / kubernetes. The table would be the default view but users would have possibility to use "better" structured output.

[2020-11-29 11:22] ashb commented on #12699
Having the ability to output a programmatically parsable output :+1:

Not having a nice human readable output: :-1:

[2020-11-29 11:22] ashb commented on #12699
Yeah cool.

[2020-11-29 11:24] turbaszek commented on #12699
@potiuk @ashb what do you think about dropping support for different tables in `--output` flag?

[2020-11-29 11:25] ashb commented on #12699
No opinion.

[2020-11-29 11:38] shkolar-sisense opened #12700 "KubernetesPodOperator Not Sending Arguments as expected"
**Apache Airflow version**: 1.10.12
**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):v1.18.10
**Environment**: Minikube 1.14.2

**What happened**:

I have airflow running KubernetesPodOperator in order to do a Spark-submit call:
(I Built the spark image on my own).

[code]
However, I'm getting the following error:

`Error: Unrecognized option: --master k8s://https://10.

[2020-11-29 12:24] potiuk opened #12702 "Review connection/hook usage"
**Description**

The discussion in https://github.com/apache/airflow/pull/12466#issuecomment-735347672 had shown that there is likely an expectation about making sure all the connections are 'registrable' in the UI of Airflow. This is not the case currently. Not all connections are visible in the UI (and possibly for a good reason) and currently connections are defined by Hook class variables.

On

[2020-11-29 12:25] potiuk commented on #12702
cc: @mik-laj @ashb  -> if you want to tackle this, I described the situation and open questions we have for the Hook/Connections story. Marked it provisionally for 2.1. Feel free to take a lead on it!

[2020-11-29 12:38] eladkal commented on #8766
@gtossou are you still working on this?

[2020-11-29 14:31] #12465 closed

[2020-11-29 20:27] ashb commented on #12700
That's like you ran this command:

`/opt/spark/bin/spark-submit "--master k8s://https://10.96.0.1:443"`

You either want

[code]

or

[code]

[2020-11-29 20:27] #12700 closed

[2020-11-29 22:15] rigogsilva commented on #11841
🤔 So, I am not sure what the `apache-airflow` is is, since we install the `kubernetes` python library. Should I just pin the version from `kubernetes==12.0.0` to `pip install kubernetes==11.0.0`?

[2020-11-29 23:56] potiuk commented on #11841
As a community, we heartily recommend using the official constraints of Airflow to install it.

You can see the constraints described in https://airflow.apache.org/docs/stable/installation.html (if you just care about the user story) as well as some details on how and why it works in  https://github.com/apache/airflow/blob/master/CONTRIBUTING.rst#pinned-constraint-files

Those constraint files con

[2020-11-29 23:57] potiuk commented on #11841
I am closing the issue as it is clearly about newer version of kubernetes that is not supported.

[2020-11-30 00:19] potiuk commented on #12282
still pushing :) (but getting closer) stay tuned.

[2020-11-30 00:21] potiuk commented on #12665
Actually I think it was this. I have not seen this since I implemented the "@" (it was automatically overwritten before I merged it, so I think this was false-negative). I am provisionally closing it.

[2020-11-30 00:21] #12665 closed

[2020-11-30 01:11] dinigo commented on #8606
Yes. But I had to split the script from the template for the same reason

Here the service inside the Docker-Compose.yml
[code]
And the simple script that locks like so
[code]

I reuse the users, password and email for several config variables that I define in the"Airflow-template" environment.

This is working

[2020-11-30 01:46] rd16395p opened #12711 "Error with installing airflow - ERROR: No matching distribution found for cattrs==1.1.1"
**Apache Airflow version**: Can't Install

**Environment**:

- **Cloud provider or hardware configuration**: Desktop Computer
- **OS** (e.g. from /etc/os-release): Windows
- **Kernel** (e.g. `uname -a`): N/A
- **Install tools**: Anaconda using the command line arg from the README.md file
- **Others**:

**What happened**:

ERROR: Could not find a version that satisfies the requirement cattrs==1.1.1

[2020-11-30 06:57] cheunhong commented on #10793
@dimberman I have faced this issue today too, solved it by modifying this line https://github.com/apache/airflow/blob/bb00f164da6c84f078e66582217832aeedb2a966/chart/files/pod-template-file.kubernetes-helm-yaml#L68
Should have been ```{{- if .Values.dags.gitSync.enabled }} ```

[2020-11-30 07:28] huangfei56 opened #12713 "execution_date issue on version : 1.10.12"
Dear Team,
I got a issue about airflow execution date on version 1.10.12.
I have a job scheduled daily. But the execution date is always **one day gap** between **Last Run in dag list** and **Startedin tree view**. I can not know if the job is run today or not in dag list page...
[dag list](https://github.com/huangfei56/debugpic/blob/main/dag-list.PNG)
[tree view](https://github.com/huangfei56/deb

[2020-11-30 08:16] dhrumiozadaiict commented on #9717
Is airflow open source community going to do anything about this particular issue?

[2020-11-30 08:28] yinbiao opened #12714 "ModuleNotFoundError: No module named 'unusual_prefix_ed3b60c1df088522d08da3b5cde1f76f0d14cd3c_test1'"
**Apache Airflow version**:
1.10.13

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

Apache Airflow [1.10.13]

Platform: [Linux, x86_64] uname_result(system='Linux', node='yinbiao327-124', release='3.10.0-862.el7.x86_64', version='#1 SMP Fri Apr 20 16:44:24 UTC 2018', machine='x86_64', processor='x86_64')
Locale: ('en_US', 'UTF-8')
Python Version: [

[2020-11-30 08:56] potiuk commented on #12714
Caan you please move the discussion to our troubleshooting channels (slack/stack overflow)? This seems lie a specific problem with your Celery deployment, not Airflow.

[2020-11-30 08:56] #12714 closed

[2020-11-30 09:02] potiuk commented on #12545
Hello @gfelot -> can you please try the latest constraints ( https://raw.githubusercontent.com/apache/airflow/constraints-1-10/constraints-3.8.txt ). I just updated all the constraints for 1.10.14 upcoming release and indeed docutils are 0.15.2 there. There is high chance it will work for 1.10.12 as well, so if you can give it a shot - please.

I just implemented the same approach as we hve in Air

[2020-11-30 09:14] turbaszek commented on #12713
It's not a day gap, it's a gap of ~30 seconds if I'm not mistaken. Airflow uses end of schedule interval. See:
https://lists.apache.org/thread.html/2b12ae265795ff2e655a5161c972f5c7bbe60722a12849a0e2c5c55f%40%3Cdev.airflow.apache.org%3E

[2020-11-30 09:17] potiuk commented on #12237
Hey @ryanahamilton @jhtimmins -> any feedback here? Maybe that's something we can fix before 2.0 :)?

[2020-11-30 10:57] gtossou commented on #8766
@eladkal i'm still working on it. just figuring out the testing part before publishing a PR

[2020-11-30 11:05] kahidna commented on #10860
any update for this issue? I'm facing same with my airflow scheduler

[2020-11-30 11:21] turbaszek opened #12716 "Scheduler in helm chart does not work with persistent + gitsync"
**Apache Airflow version**:
2.0.0dev

Due to this:
https://github.com/apache/airflow/blob/5e13c372860a28256bf6e572bf7349f3dd6b8b0c/chart/templates/scheduler/scheduler-deployment.yaml#L156-L164

Doing this:
https://github.com/apache/airflow/tree/master/chart#mounting-dags-using-git-sync-side-car-with-persistence-enabled
[code]

will fail with:
[code]
The reason is that if both
[code]
are specified

[2020-11-30 11:21] turbaszek commented on #12716
Should it be
[code]
@dimberman

[2020-11-30 11:31] potiuk commented on #8766
@gtossou  -> Just FYI, We just merged the first of the series of "auto-discovery" of Provider's capabilities, And we have defined a way how Providers can expose such connections to the Airflow Core (just in time for 2.0).

The most important (connection type discovery) is here https://github.com/apache/airflow/commit/2037303eef93fd36ab13746b045d1c1fee6aa143

But few more are coming (see in progres

[2020-11-30 12:21] ashb commented on #11899
I'm going to close this now -- if this is still a problem someone can reply and we'll re-open it

[2020-11-30 12:39] kaxil commented on #12696
:D loved the 2nd link.

I agree with @XD-DENG that we should anonymized sensitive information by default

[2020-11-30 12:45] kaxil commented on #12410
The docker-compose file you have added uses 1.10.x commands to create user and to initialize the database. It won't work in 2.0:

`airflow initdb` changed to `airflow db init` in 2.0

[2020-11-30 12:56] shivanshs9 commented on #11899
@ashb Ah sorry for the delay in response. The issue is still occurring, unfortunately.
<details>
<summary>Scheduler logs</summary>

[code]
</details>

Airflow version:
[code]

Weirdly, I think the process is being terminated (as in the logs) but it's not exactly crashing the enclosing pod. So the container is not being restarted either causing the scheduler to not work indefinitely.

[2020-11-30 12:57] ashb commented on #11899
Do you have any sidecars running in the pod?

Either way, this is a separate issue.

[2020-11-30 13:25] ashb commented on #12237
This is sort of just "how flashed messages work in Flask" -- my gut reaction says this isn't an easy fix, and it is deep in the bowls if Flask _and_ FAB. :(

[2020-11-30 13:27] ashb commented on #11841
I'm going to re-open this, and change the title to match.

[2020-11-30 15:45] shivanshs9 commented on #11899
Nope. but yeah it's an unrelated issue.

[2020-11-30 16:27] tylermichael commented on #11882
I found this error in the logs for my subdag task. I'm not sure if they are linked but I thought I'd put it here anyway.

[code]

[2020-11-30 18:14] ryw commented on #11989
@ernest-kr any progress on this?

[2020-11-30 18:32] ryw commented on #12098
Moved to Airflow 2.1 milestone since Helm chart is not part of 2.0 release.

[2020-11-30 18:45] ryw commented on #12489
any progress on this @patchandpray?

[2020-11-30 18:46] ryw commented on #8270
Moved milestone to 2.1 since we won't release official Helm chart with 2.0.

[2020-11-30 18:48] ryw commented on #8548
Moved milestone to to 2.1 since this doesn't block release of 2.0.

[2020-11-30 18:49] ryw commented on #8605
@potiuk should we move milestone to 2.1 for this?

[2020-11-30 18:54] potiuk commented on #8605
Just did :).

[2020-11-30 18:58] patchandpray commented on #12489
I managed to identify where the problem is. but I did not have the time to look into the actual fix. I should have time for that tomorrow :)

[2020-11-30 19:24] potiuk commented on #12237
:(. So should we wait for UI rewrite? BTW. Is this is still planned after the 2.0 refresh :)  ? Sounds like we have decent UI now.

[2020-11-30 19:25] potiuk commented on #12410
Yeah. I'd love to see a reproducible case here as well

[2020-11-30 20:23] NadimYounes opened #12722 "No Support for special Characters in Passwords for get_uri() method in DbApiHook"
Hello,

I have recently noticed that a lot of connections with certain special characters don't work with SqlAlchemy as it requires the passwords to be [urlencoded when they contain special characters](https://stackoverflow.com/questions/1423804/writing-a-connection-string-when-password-contains-special-characters).

Would there be any impact to changing the code at line 81 to urlencode the passwo

[2020-11-30 20:36] kaxil commented on #11920
@WilliamTun Use the following:

[code]

Check https://github.com/apache/airflow/blob/dee304b222d355b03794aa063f39e3ee13997730/airflow/operators/sqlite_operator.py#L23

https://github.com/apache/airflow/blob/dee304b222d355b03794aa063f39e3ee13997730/airflow/providers/sqlite/operators/sqlite.py#L25

[2020-12-01 00:27] casassg opened #12726 "Add classic operator in TaskFlow API tutorial"
**Description**

TaskFlow API tutorial should add an example to use a classic operator (example: EmailOperator) so that users know that it can be leveraged.

Alternatively, it should add references to how to add dependencies (implicit or explicit) to classic operators.

**Use case / motivation**

It's not super clear how can TaskFlow API be used with existing operators (aka PostgresOperator, Email

[2020-12-01 01:51] m0bi5 opened #12728 "KubePodOperator sometimes fails with `Unable to parse string [failed]`"
**Apache Airflow version**: 2.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.15

**Environment**: Kubernetes, using the KubernetesExecutor as well

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): Debian GNU/Linux 10 (buster)
- **Kernel** (e.g. `uname -a`): Linux airflow-7f86fbfdc-6s4l6 3.10.0-957.10.1.el7.x86_64
- **Others**

[2020-12-01 02:15] danielenricocahall commented on #9669
@anubhav562 did you happen to start working on this yet? I see how to fix it but I didn't want to submit a PR if you plan to!

[2020-12-01 02:32] yinbiao commented on #12714
ok

[2020-12-01 04:06] dimberman commented on #11039
@turbaszek I think I have a solution. We can basically check any hook that inherits from base_hook and ensure that they don't use the function. Do you think this would work?

[2020-12-01 05:23] rajnathsah commented on #11965
This issue seems to be fixed in 1.10.13.

[2020-12-01 08:50] potiuk commented on #11965
Yep. And in 1.10.14 we have improved constraints that are not going to be broken (they pass 'pip check;)

[2020-12-01 08:57] potiuk commented on #9717
@HenryLinTw : This has been corrected in the docs in master and in 1.10.14 we will fix it as well:

'Airflow was built to interact with its metadata using SqlAlchemy
with **MySQL**,  **Postgres** and **SQLite** as supported backends (SQLite is used primarily for development purpose).'

[2020-12-01 09:37] anubhav562 commented on #9669
Hi, Danny (@danielenricocahall)! Yeah, sure you can go ahead with it!

[2020-12-01 10:55] mik-laj commented on #12722
Go ahead. It makes a lot of sense.

[2020-12-01 10:56] Yaro1 opened #12732 "Documentation error"
[https://airflow.readthedocs.io/en/stable/_modules/airflow/hooks/dbapi_hook.html#DbApiHook.get_records](url)

In the method description said, that get_records can take string and list of the strings. But it can execute only string, not list. The method doesn't even check is it a list or is it a string.

[2020-12-01 11:02] potiuk commented on #12732
Hey @Yaro1. Would you mind adding a PR fixing it ? I am happy to review it.

[2020-12-01 11:09] Yaro1 commented on #12732
Yeah, i would like to solve this issue, if i understand you right.

[2020-12-01 11:10] potiuk commented on #12732
Yep!

[2020-12-01 11:13] Yaro1 commented on #12732
Can you please assign it on me?

[2020-12-01 12:27] shivanshs9 commented on #11899
@ashb
There's another deadlock case with different Traceback:
[code]

[2020-12-01 13:06] ashb commented on #11852
Closing as we cannot reproduce. We can re-open if someone providers more info and reproduction steps.

[2020-12-01 13:06] #11852 closed

[2020-12-01 13:08] ryw commented on #11740
@potiuk this could be moved out of 2.0rc1 milestone I believe.

[2020-12-01 13:12] ryw commented on #10104
@bhavaniravi are you still working on this?

[2020-12-01 13:14] ryw commented on #9630
@ashb since you're done w/ work for 2.0 on this ticket, maybe close this out and create any new tickets for things you want to do post-2.0?

[2020-12-01 13:19] ryw commented on #10816
Reviewing 2.0rc1 issues, @xinbinhuang any progress on this? Will you be able to close out this week?

[2020-12-01 13:22] ryw commented on #10427
@kaxil @ernest-kr are we able to reproduce this?

[2020-12-01 13:23] ryw commented on #10089
guide exists @ https://github.com/apache/airflow/blob/master/UPGRADING_TO_2.0.md - ok to close this?

[2020-12-01 13:37] kaxil commented on #10427
This is my next task actually -- will come back with my findings

[2020-12-01 13:42] ashb commented on #11716
Closing until someone can give us concrete reproduction steps.

[2020-12-01 13:42] #11716 closed

[2020-12-01 13:43] eladkal commented on #12732
Closing as it's duplicate of https://github.com/apache/airflow/issues/9957

[2020-12-01 13:43] #12732 closed

[2020-12-01 13:44] ashb commented on #11711
This is not a problem in airflow -- this is a system call that is failing, so it is something to do with your environment. It could also be some kind of limit on the number of process etc.

Either way, not any Airflow bug I'm afraid.

[2020-12-01 13:44] #11711 closed

[2020-12-01 13:45] ashb commented on #11696
Fixed by #12598

[2020-12-01 13:45] #11696 closed

[2020-12-01 13:46] ashb commented on #11658
This link has been removed for Airflow 2.0, and the parsing will no longer affect DAG scheduling.

[2020-12-01 13:46] #11658 closed

[2020-12-01 13:48] #9630 closed

[2020-12-01 13:50] ashb commented on #11549
It is also possible that you can create the operator "externally" to the Airflow source code -- https://github.com/great-expectations/airflow-provider-great-expectations is one such example.

Then if it proves popular we could discuss moving it "in tree" if needed.

[2020-12-01 14:06] ibr opened #12736 "property "replace" in GenericTransfer.insert_rows is not accessible"
I want to set replace=True during insert, but existing param "replace" cannot be set.

Suggest something like:

generic_transfer.py:

`destination_hook.insert_rows(table=self.destination_table,` rows=results, replace=self.replace)

**Apache Airflow version**: 1.10.13

[2020-12-01 14:10] potiuk opened #12737 "Pip 20.3 released with new resolver"
Yesterday, 30th of November, PIp 20.3 has been released with the new resolver turned on by default.

We need to make sure that it works with 1.10.14 or add the limitation of using pip < 20.3.

**Apache Airflow version**:

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-relea

[2020-12-01 14:12] potiuk commented on #12737
cc: @kaxil @ashb @mjpieters  -> I will also take a look at that, but we need to be sure that it will work before the release.

NOTE! 1.10.12 does NOT work cleanly with the new PIP and some old constraints, so we have to make sure 1.10.14 works.

https://apache-airflow.slack.com/archives/CCQ7EGB1P/p1606819170075600

[2020-12-01 14:49] gflores1023 commented on #10089
It's interesting that the guide actually doesn't tell you when or how to upgrade to v2.0. I assume it would be after Step 5. Related to #8158, it would be useful to know what the actual commands to execute and in what order. mik-laj mentions "airflow upgradedb" above but I don't see instructions for it in the guide. Just my 2 cents

[2020-12-01 15:00] Nick-0723 opened #12739 "Encountered an error "mysql: [ERROR] mysql: Empty value for'port' specified." using airflow db shell in breeze"
**Apache Airflow version**:  2.0.0b3

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):  Debian GNU/Linux 10 (buster)
- **Kernel** (e.g. `uname -a`): Linux ace72a077a8c 4.19.76-linuxkit #1 SMP Tue May 26 11:42:35 UTC 2020 x86_64 GNU/Linux
- **Install tools**: ./breez

[2020-12-01 15:04] potiuk commented on #10089
Yep. Thanks for pointing that out!

That was exactly what we discussed yesterday at the Airflow 2.0 weekly call (see the notes from @vikramkoka ) https://lists.apache.org/thread.html/r2d4e08ffd5247b3df8c9a5e250b5b2625cadd642da1fcd007a3db46b%40%3Cdev.airflow.apache.org%3E

[2020-12-01 16:36] ernest-kr commented on #11989
@ryw I actually finished this. I am in the process of creating a fork. Looks like I cannot create a PR here.

[2020-12-01 17:27] xinbinhuang commented on #10816
Yeah, I am working on this, and I think a PR will be up tonight or tomorrow

[2020-12-01 18:44] potiuk opened #12744 "Difference of extras Airflow 2.0 vs. Airflow 1.10"
**Description**

When airflow 2.0 is installed from  PyPI, providers are not installed by default. In order to install them, you should add an appropriate extra. While this behavior is identical in Airflow 1.10 for those "providers" that required additional packages, there were a few "providers" that did not require any extras to function (example http, ftp) - we have "http", "ftp" extras for them

[2020-12-01 18:57] mik-laj commented on #12744
I am concerned that this is a good idea. I think it would be worthwhile for the user to pin a specific version so that they do not accidentally install a newer version that may contain regressions.

[2020-12-01 19:51] turbaszek commented on #12744
I think the http should be part of core, see discussion in https://github.com/apache/airflow/pull/12252

[2020-12-01 19:55] ashb commented on #12237
Probably easier. If we weren't doing a rewrite I have idea how we could do it, but it would involve a large replacement to the `flash()` guts and FABs permission handling that seems not worth it right now

[2020-12-01 19:58] cherusk commented on #11549
Why, it's a valid feature request which can be actioned by me or others

[2020-12-01 20:08] ashb commented on #11549
It can be yes, but it can also be done by anyone as a third party module, and then it doesn't need a small handful of busy people to review, test, do release management and follow Apache policies around releases.

I have no problem with it being in tree, but out of tree does have advantages for moving quickly.

[2020-12-01 20:19] cherusk commented on #11549
Understand your point and it's fair. Yet, I see no harm in leaving this open, as it's declared as what it is, a feature idea and should stay open to the world in that context. If mainliners don't want to support it, so be it. But closing it would signal wrong impression, at least for now.

[2020-12-01 20:44] ashb commented on #11549
Oh sorry, yes. I never intended to close this!

[2020-12-01 22:24] potiuk commented on #11549
I think we need to discuss this in the devlist. What is the future of Airflow in terms of new "providers" - whether we should incorporate more providers in Airflow after 2.0 and support them by community (and possibly grow it by accepting more committers from different areas) or whether we should slim it down and not accept wider contributions).

This has never been discussed openly - and while I

[2020-12-01 23:46] kaxil opened #12748 "Code Coverage is Broken"
https://codecov.io/github/apache/airflow?branch=master CodeCov code-coverage is broken on Master. It wasn't great but still useful to check which sections needed lacks tests.

cc @potiuk

[2020-12-01 23:49] kaxil commented on #12744
http (& even ftp) does seem like they should be part of core. Atleast for HTTP it uses all the internal hooks or requirements that are part of Airflow core's requirement too.

[2020-12-01 23:50] kaxil commented on #12744
The following should require explicitly installing them:

"apache.pig": [],
"apache.sqoop": [],
"dingding": [],
"discord": [],
"openfaas": [],
"opsgenie": [],
"sqlite": [],

[2020-12-02 00:33] potiuk commented on #12748
Oh yeah. nobody noticed for 6 months ;) . I think It actually works but in a weird way. I will look at that after we get RC out unless someone does it first.

[2020-12-02 00:40] vikramkoka commented on #12552
@jhtimmins I think you are working on this, correct?

[2020-12-02 01:55] vikramkoka commented on #12744
Absolutely agree that http should be part of core.
Strongly in favor of ftp as well being part of core, assuming no additional dependencies.
Tempted with imap, but unsure on the dependencies.

Nothing else comes close IMHO

[2020-12-02 02:03] JavierLopezT opened #12750 "Task level documentation in other place than Task Details"
Right now you can add documentation to a task and it will be seen on the task instance details page

![Captura de pantalla 2020-12-02 a las 3 00 19](https://user-images.githubusercontent.com/11339132/100818477-85167d80-344a-11eb-9b44-2a0dbef721e8.png)

It will we nice to have it here (maybe not mandatorily, but optionally):

![Captura de pantalla 2020-12-02 a las 3 01 17](https://user-images.githu

[2020-12-02 04:19] cheunhong opened #12751 "Helm Chart: Provide option to specify loadBalancerIP in webserver service"
**Description**
The current service type for `webserver` is defaulted at `ClusterIP`.
I am able to change it to `LoadBalancer` type, but the I was not able to specify the static IP.
So every time we reinstall the chart, it will change the assigned IP of the loadbalancer being provisioned to us.

**Use case / motivation**

**Related Issues**

[2020-12-02 04:25] ryw commented on #12744
i like adding `imap` -- essentially we're saying lower-level protocols are core (ftp, http) so imap fits into that list

[2020-12-02 04:33] ryw commented on #11989
great to hear @ernest-kr
fyi i do my pr's from a personal fork ryw/airflow but you could also do them from astronomer/airflow

[2020-12-02 04:55] ryw commented on #12489
ok we'd like this bugfix in for Airflow 2.0rc1 so let us know if you get stuck / need help

[2020-12-02 05:08] jhtimmins commented on #12552
@vikramkoka I'm assigned but have not yet started. Will be starting tomorrow.

[2020-12-02 06:40] patchandpray commented on #12489
Hi, I think I need some help.

I have been able to deduce that the issue arises upon form autogeneration for a taskinstance by flask-appbuilder. When editing a taskinstance. A taskinstance appears to have a one on one relationship with a DagRun and when generating the edit form flask_appbuilder uses `QuerySelectMultipleField.iter_choices()` which gets called with: `<DagRun example_bash_operator @

[2020-12-02 07:48] XD-DENG commented on #12744
I agree with @kaxil , **other than `sqlite`**.

Personally I think `sqlite` should come together with Airflow core by default, without explicit extra installation,
Considering two examples:
- Most Linux distributions & MacOS has Sqlite available by default.
- Python has `sqlite3` as one of its build-in standard libraries.

[2020-12-02 09:08] potiuk commented on #12744
Looks like ["http", "ftp", "sqlite", "imap"] is the winning set. They are all rather small and they increase the size of installation by likely less than 1%.

@mik-laj  -> I do not think we have to move them to the "core". I can easily make those extras "enabled" by default as extras that are always used implicitly. This means that while they will be installed by default in their latest version ev

[2020-12-02 09:11] ecerulm opened #12752 "Documentation: The copy button (for source code) is misplaced and links to 404"
Documentation pages containing source code like https://airflow.apache.org/docs/stable/_modules/airflow/example_dags/tutorial.html display a copy button like this one

![image](https://user-images.githubusercontent.com/58676/100852167-62a25580-3486-11eb-98c0-190d0d66ae73.png)

This copy button is

* misplaced: I think the copy button was placed closer to the actual source code box before (but mayb

[2020-12-02 09:13] turbaszek commented on #12744
@potiuk doesn't that mean that we keep them in core and make them available to all users, but they still have to refactor their DAGs (due to import changes)? Should we limit the number of changes required in users' DAGs?

[2020-12-02 09:20] #12699 closed

[2020-12-02 09:28] potiuk commented on #12744
I think moving them to core now is NOT a good idea, and I think most of the "core" operators were moved inside the core anyway - at least changed module names to conform to AIP-21. I do not think there is a big difference whether they moved inside the core, or whether they are moved to providers.

[2020-12-02 09:57] turbaszek opened #12753 "Remove side effects from TestCliDags and TestCliTasks"
**Apache Airflow version**:
2.0.0dev

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- breeze used locally, Python 3.8

**What happened**:

It seems `TestCliDags` and `TestCliTasks ` that depends on side effects. Both works on CI (see builds for https://github.com/apache/airflow/pull/12704) but do not work locally when run separately from all other

[2020-12-02 10:02] dmateusp commented on #11731
I ran it in 1.10.13 and it seems fix! sorry I couldn't reproduce earlier and thanks for the bugfix

[2020-12-02 12:31] ashb commented on #11549
@potiuk I wasn't intending to create any consensus or precedent here -- merely pointing out that "operators are just python modules" so can easily live outside of the Airflow tree.

This is not new behaviour, nor should it controversial, as operators are just Python classes loaded when parsing the DAG file -- and we'd have to go out of our way in Airflow to stop this being the case.

I'll have a t

[2020-12-02 12:49] #11393 closed

[2020-12-02 13:38] #9669 closed

[2020-12-02 13:52] danielenricocahall commented on #11874
Not sure if anyone started working on this - can I take this issue?

[2020-12-02 14:09] #12214 closed

[2020-12-02 14:59] ielizarov opened #12757 "Graph View is empty when Operator has multiline string in args (v2.0)"
Airflow v2.0b3
 Kubernetes v1.19.3

Discovered issue while testing KubernetesPodOperator (haven't tested with other operator).
If I create a multiline string using """ """", add some variables inside (Jinja templating), then use this string as an argument to KubernetesPodOperator:
- In Graph View DAG is not visible (just gray area where it should be a digraph);
- in browser's web console i see the

[2020-12-02 15:14] ryw commented on #12199
@thcidale0808 yes would be great :)

[2020-12-02 15:50] nathadfield commented on #10790
@turbaszek I am currently testing Airflow v2.0.0b3 against the same DAGS we currently run on production against 1.10.12 and I can confirm that this is still an issue.

[2020-12-02 15:51] Dr-Denzy opened #12758 "Add how-to Guide for Postgres operators #11917"
Description

A guide that describes how to use all the operators for Postgres (https://github.com/apache/airflow/tree/master/airflow/providers/postgres) would be useful.

Other guides are available:
https://airflow.readthedocs.io/en/latest/howto/operator/index.html

Source code for those guides are at:
https://github.com/apache/airflow/tree/master/docs/howto/operator

Are you wondering how to star

[2020-12-02 16:15] turbaszek commented on #12199
@ryw does implementing this feature means that this discussion reached consensus?
https://lists.apache.org/thread.html/r14e23de7b71f61e3e81b11eb84da2612938982c46c9824e884d8ba50%40%3Cdev.airflow.apache.org%3E

[2020-12-02 16:18] ryw commented on #12199
I didn't remember that we had a dev thread on the topic.

A concrete implementation would help us resolve any lingering fuzziness around the feature.

[2020-12-02 16:20] ashb commented on #10080
Can someone please give us a concrete reproduction step here?

Additionally is someone able to test with the backported elastic search provider?

[2020-12-02 16:21] kaxil commented on #10080
Can you also try it with latest elastic search provider (https://pypi.org/project/apache-airflow-backport-providers-elasticsearch/):

[code]

[2020-12-02 16:23] turbaszek commented on #12199
No worry, I think it would be good to refresh this thread as the approach proposed there gives even more auditability.

[2020-12-02 16:38] jonathonbattista opened #12759 "Error installing google_auth extra on 1.10.13"
**Apache Airflow version**: 1.10.13

**Environment**: Docker

**What happened**:
Looks like there are conflicts between the setup.py (which limits to oauthlib!=2.0.3,!=2.0.4,!=2.0.5,<3.0.0,>=1.1.2 and requests-lib==1.1.0 ) and the version specified in the requirements-3.7.txt (which is oauthlib==3.1.0 and request-oauthlib===1.3.0 )

- [https://github.com/apache/airflow/blob/1.10.13/setup.py](https

[2020-12-02 16:56] scauglog opened #12760 "KubernetesPodOperator can't mount sercret as volume"
**Apache Airflow version**: 1.10.12 and 2.0.0b3

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.19.2

**Environment**:

- **Cloud provider or hardware configuration**: minikube
- **OS** (e.g. from /etc/os-release): Ubuntu 20.04
- **Kernel** (e.g. `uname -a`): 5.4.0-53

**What happened**:
With the kubernetePodOperator and KubernetesExecutor when I try to mount secre

[2020-12-02 17:15] XD-DENG commented on #11930
@Nick-0723 please report issue in English so that most folks in the community can understand the question.

Regarding your question itself, you need to encode the special characters in the URI. You can refer to this thread https://stackoverflow.com/questions/2401516/system-uri-cant-parse-when-password-or-username-field-contains-a-special-charac . It's similar.

[2020-12-02 17:15] #11930 closed

[2020-12-02 17:18] alokshenoy commented on #12722
Experience this last night while testing something. If it's still unassigned, I'd like to take this up.

[2020-12-02 17:25] mik-laj commented on #12722
@alokshenoy I assigned you to this ticket 🐈‍⬛ 🐈

[2020-12-02 18:18] potiuk commented on #12759
Yep. Just before your issue I created those two:

https://github.com/oauthlib/oauthlib/issues/744
https://github.com/pypa/pip/issues/9203

and Updated documentation for upcoming 1.10.14. You need to downgrade PyPI to 20.2.4 or use `--use-deprecated legacy-resolver` switch when running pip install

[2020-12-02 18:46] MrManicotti opened #12761 "Cloudwatch Logs Integration Does Not Write Logs With CeleryExecutor (2.0.0)"
**Apache Airflow version**:
2.0.0b3

**What happened**:
When Airflow is ran within CeleryExecutor mode and using the new Cloudwatch integration (from #7437), log groups and log streams are created, but no log events are pushed to AWS. The Webserver is able to read the log stream as expected. There are no errors, just empty logs within Cloudwatch:
`*** Reading remote log from Cloudwatch log_group:

[2020-12-02 19:08] NadimYounes commented on #12722
@alokshenoy please go for it, I am super busy the next few weeks, thanks for taking this up. @alokshenoy can you please tag me on the PR or ticket so I can just follow it?

Thanks

[2020-12-02 19:39] XD-DENG commented on #12576
Thanks @metov for reporting the issue. I will take a look.

[2020-12-02 21:05] ashb commented on #11982
@jedcunningham So I haven't tested your _exact_ scenario, but Im not able to reproduce the scheduler not stopping when given a SIGTERM.

What docker image are you using? What is your entrypoint? Are you able to test with beta3 and see if the problem persists?

[2020-12-02 21:14] Fahadsaadullahkhan opened #12765 "Success call back function running twice"
**Apache Airflow version**: 1.10.12
**Google Cloud Composer**: composer-1.13.0-airflow-1.10.12

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.16.13-gke.404

**Environment**:

- **Cloud provider or hardware configuration**: Google cloud
- **OS** (e.g. from /etc/os-release): Container-Optimized OS from Google
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **

[2020-12-02 21:16] ashb commented on #12744
Anyone know how pip would cope with circular dependencies? I.e. could `apache-airflow` depend upon `apache-airflow-provider-http` (which in turn depends upon `apache-airflow` without giving pip a heart attack?

That we we can have "batteries included" but still keep the advantages of keeping smaller releases/easier updating of providers.

[2020-12-02 22:54] kaxil commented on #8609
Can some try it on 2.0.0beta3 @brunoffaustino @gardnerdev ?

[2020-12-02 23:25] ajbosco commented on #9860
We're hitting this same error. As @appunni-dishq pointed out above, it only happens in the graph UI when the DAG is enabled and has at least one DAG run.

Any suggestions on a workaround, @dimberman ?

[2020-12-03 00:08] kaxil commented on #11044
closed by https://github.com/apache/airflow/pull/12743

[2020-12-03 00:08] #11044 closed

[2020-12-03 01:57] vikramkoka opened #12769 "Documentation needed for DB upgrade as part of 2.0"
Following up on the dev call on 30th of November, there was a clear desire expressed for documentation around the database upgrade process from Airflow 1.10.14 (or equivalent) to Airflow 2.0. Though the upgrade process is conceptually no different from a regular 1.10.x to a 1.10.x+1 release, the fact that there are significant known database changes may raise concerns in the minds of Airflow users

[2020-12-03 02:37] kaxil commented on #12489
@patchandpray https://github.com/apache/airflow/pull/12770 fixes the issue.

We are in process of fixing all the pending bugs for 2.0 since we are just a week away from cutting RCs -- so I went ahead and created the PR to fix this.

[2020-12-03 03:09] vikramkoka commented on #12765
Can you please share how to reproduce this issue?

[2020-12-03 03:18] dimberman commented on #12587
<img width="437" alt="Screen Shot 2020-12-02 at 7 17 36 PM" src="https://user-images.githubusercontent.com/2644098/100959466-2a753400-34d3-11eb-958a-feeb5bae4b9f.png">
crazy that it shows up in my IDE but not in our static checks.

[2020-12-03 06:19] patchandpray commented on #12489
I understand completely. :slightly_smiling_face:

[2020-12-03 06:34] Etienne-Carriere opened #12771 "Instrument Airflow with Opentracing/Opentelemetry"
**Description**

I would like to instrument airflow with tracing technology like Opentracing (https://opentracing.io/) / Opentelemetry (https://opentelemetry.io/)

**Use case / motivation**

The motivation are to :
* have the DAG logic represented in tracing
* transfer the tracing information to downwards requests

** Implementation ideas **

For example, on Celery, we use celery signals to hook b

[2020-12-03 07:20] mik-laj commented on #12769
We had to do some database migrations which may not be compatible with your data. You must manually update the records in the database for the migrations to be completed. For more information, see: [UPDATIING.md](https://github.com/apache/airflow/blob/master/UPDATING.md#database-schema-changes)

You can also detect these problems via [airflow upgrade_check](https://pypi.org/project/apache-airflow-

[2020-12-03 07:58] mik-laj commented on #12771
How is Opentracing / Opentelemetry different from Sentry? We have native integration with Sentry and I wonder if we should combine these two features or develop it independently.
http://apache-airflow-docs.s3-website.eu-central-1.amazonaws.com/docs/apache-airflow/latest/logging-monitoring/errors.html

[2020-12-03 08:11] mik-laj opened #12772 "Missing docs for deprecated configuration options"
Hello,

In Airflow 2, we've moved some configuration options to the new section. We also changed the names of some of the configuration options. This is confusing for users who are familiar with the old option and section names.  It would be great if we could add information to the documentation that points to the new name of the options.

https://github.com/apache/airflow/blob/8f48f12128e0d985c6d

[2020-12-03 08:17] mik-laj opened #12773 "Incomplete list of environment variables that override configuration"
Hello,

In our configuration reference docs, we provide information about the environment variables that affect the options.
<img width="430" alt="Screenshot 2020-12-03 at 09 14 33" src="https://user-images.githubusercontent.com/12058428/100982181-07389c00-3548-11eb-9089-fe00c4b9367f.png">
Unfortunately, this list is not complete. Some configuration options can also be set using `AIRFLOW__{SECTION

[2020-12-03 08:21] mik-laj opened #12774 "Missing AIRFLOW__{SECTION}__{OPTION}__SECRET in environment variable reference"
Hello,

One env variiable - `AIRFLOW__{SECTION}__{OPTION}__SECRET` has not been added to our [environment variables reference](https://github.com/apache/airflow/blob/master/docs/apache-airflow/cli-and-env-variables-ref.rst). For moe info, see: See: http://apache-airflow-docs.s3-website.eu-central-1.amazonaws.com/docs/apache-airflow/latest/howto/set-config.html

Related:
https://github.com/apache/a

[2020-12-03 08:30] mik-laj commented on #12774
CC: @kaxil

[2020-12-03 08:42] rmanvar-indeed opened #12776 "Update source_code field of dag_code table to MEDIUMTEXT"
**Description**

Update source_code field of dag_code table to MEDIUMTEXT

**Use case / motivation**

Lot of dags exceed the limit of 65K characters limit giving error `"Data too long for column 'source_code' at row 1"` when enabling webserver to fetch dag_code from db.

**Related Issues**

[2020-12-03 09:07] htgeis opened #12777 "it won't take effect when updating the start_date in the default_args"
**Apache Airflow version**: v1.10.14

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):  Ubuntu 16.04.3 LTS
- **Kernel** (e.g. `uname -a`): Linux aor-k8s-ci-test-01 4.4.0-1111-aws #123-Ubuntu SMP Sat Jul 4 02:03:15 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
- **Install tools**: pip
- **Others**:

**What happened**:
it won't take effect when updati

[2020-12-03 09:28] raj-manvar commented on #9610
We are seeing this issue in airflow 1.10.12 as well.

[2020-12-03 09:36] potiuk opened #12780 "K8S were not run on cli change"
In https://github.com/apache/airflow/pull/12725 selective checks did not run K8S tests.

[2020-12-03 09:50] turbaszek commented on #12587
@dimberman exactly ^^

[2020-12-03 11:29] ashb commented on #12776
What is the current column type?

This only applies to mysql, not other DBs I think

[2020-12-03 11:56] nathadfield commented on #10790
To add some further context, I can consistently replicate this error on 2.0.0b3 on a very simple environment running two Docker containers - webserver and postgres - on a Python 3.7 image using LocalExecutor and with a `poke_interval` of `60 * 5`.

[code]

[code]

[2020-12-03 12:02] nathadfield commented on #10790
Not sure if this is relevant but, when the tasks was rescheduled five minutes later, I saw this.

[code]

[2020-12-03 12:37] rmanvar-indeed commented on #12776
Currently it's TEXT which has limit of 65K characters. MEDIUMTEXT will have 16777K characters limit.

yup was primarily aiming for sql, haven't use Airflow with other databases so need to explore them to be sure.

I tried updating column type from TEXT to MEDIUMTEXT of a running db and airflow setup and sql updated it without re-creating table and no errors in Airflow logs as well. ( Tho not many

[2020-12-03 12:39] rmanvar-indeed commented on #12776
Do the migration files at https://github.com/apache/airflow/tree/master/airflow/migrations/versions include non-sql databases too? How can we apply only for sql if so

[2020-12-03 12:44] ashb commented on #12776
Again -- this is only a problem for MySQL -- PostgreSQL's TEXT type can store 4gb

https://www.postgresql.org/docs/13/datatype-character.html

So your migration only needs to change it for MySQL.

[2020-12-03 13:10] albydeca commented on #8087
any update on this?

[2020-12-03 13:18] jykae opened #12782 "Github Oauth issue"
Could you work out with Flask-AppBuilder to get Github Oauth pass more info about user?

There is solution already but it has been closed https://github.com/dpgaspar/Flask-AppBuilder/pull/1020

We would need at least email address to login work properly, like StewartW in PR says.

[2020-12-03 13:20] potiuk commented on #12776
I think this shoudl be solved for 2.0 (marked is as such) @rmanvar-indeed  - do you plan to contribute fix for that back to Airlfow?

[2020-12-03 13:34] potiuk commented on #12587
It is likely, because we have  "dagrun.py" still excluded from pylint in pylint_tdo.txt

[code]

Until we remove all the  unneeded 'cyclic dependencies' (note! cyclic dependencies, not cyclic imports!) whcih I am boasting about for quite some time, we cannot remove those from the list.

The root cause of it is the way how inter-twined those "core" classes are and how they depend on each other in a

[2020-12-03 13:39] rmanvar-indeed commented on #12776
Yup, planning to create a MR for the fix. Might take few days tho as I don't have the airflow dev setup.

[2020-12-03 13:45] turbaszek commented on #12587
@potiuk the problem is in `airflow/operators/dagrun.py` where the `TriggerDagRunOperator` is 😉

[2020-12-03 13:46] rmanvar-indeed commented on #12776
Awesome. Thanks :smile:  will take a look.

[2020-12-03 13:52] turbaszek opened #12783 "Sensors in reschedule mode are not rescheduled"
**Apache Airflow version**:
2.0.0dev

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:
[code]

**What happened**:

Sensors in reschedule mode are not rescheduled by scheduler.

**What you expected to happen**:

Sensors in both poke and reschedule mode should work.

**How to reproduce it**:

[code]

Then:
[code]

**Anything else we need to know**:

Dis

[2020-12-03 13:57] potiuk commented on #12587
I know but the dag_run is DagRun object, isn't it?

[2020-12-03 14:05] kaxil commented on #12757
@ielizarov Can you post your DAG please for us to replicate the exact error?

[2020-12-03 14:11] Etienne-Carriere commented on #12771
Hello @mik-laj , thank you for the link about sentry. It will helps to design a hook (in a first time in an external repo and perhaps merged in a second time)
Opentracing/Opentelemetry is an open-source standard for APM (in the same level of sentry)

[2020-12-03 14:26] potiuk commented on #12744
Yep. This is already happening with all providers when we specify extras, PIP is cool with that :)

[2020-12-03 14:46] ielizarov commented on #12757
@kaxil Sure, here it is. I simplified my DAG, this version gives the same error exactly. You'll need to add TEST_VAR to Airflow DB.

`"""Demo DAG"""

from datetime import timedelta

from airflow import DAG
from airflow.contrib.operators.kubernetes_pod_operator import KubernetesPodOperator
from airflow.utils.dates import days_ago

args = {
    'owner': 'airflow',
}
dag = DAG(
    dag_id='demo_test'

[2020-12-03 14:50] kaxil commented on #12757
Thanks @ielizarov

[2020-12-03 14:52] RikHeijdens opened #12785 "Macros added through plugins can not be used within Jinja templates in Airflow 2.0"
**Apache Airflow version**: 2.0.0b3
**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): N/A
**Environment**:

- **OS** (e.g. from /etc/os-release): Debian GNU/Linux 10 (buster)
- **Kernel** (e.g. `uname -a`): Linux 6ae65b86e112 5.4.0-52-generic #57-Ubuntu SMP Thu Oct 15 10:57:00 UTC 2020 x86_64 GNU/Linux
- **Others**: Python 3.8

**What happened**:

At JW Player we add ad

[2020-12-03 14:52] ielizarov commented on #12757
@kaxil My bad, it seems I forgot to add "dag=dag" to this particular operator, and it led to this error.
Perhaps there should be more clear behavior (i.e. DAG should still be displayed in this case)?

[2020-12-03 15:00] mik-laj commented on #12785
Good catch. Do you need help to prepare PR? I am happy to help with the review.

[2020-12-03 15:05] RikHeijdens commented on #12785
Hey @mik-laj, thanks for the quick response. I think that's right, we should update the entries in the `airflow.macros` module there too.

I'm happy to propose a PR later today or tomorrow, but if someone beats me to it, then I'd be happy to review the PR as well.

[2020-12-03 15:11] ohashmi-cei commented on #12765
**Apache Airflow version: 1.10.12
Google Cloud Composer: composer-1.13.0-airflow-1.10.10**

Hi I am having the same issue, the success call back function is called twice on random dags. I am attaching the picture of how it marks the dags as successful twice in the logs. There are no loops in the flow of my dags, it runs as following.

 run_search >> delete_cluster

<img width="1386" alt="Screen Sh

[2020-12-03 15:24] turbaszek commented on #12783
On of the problems is that scheduler schedule a task two times:
[code]

[2020-12-03 15:52] Fahadsaadullahkhan commented on #12765
Create a composer environment with composer-1.13.0-airflow-1.10.12 image then you can run a sample dag which has the success and failed call back in it. other than that I'm not sure what you need to reproduce this issue

[2020-12-03 16:00] ashb commented on #12765
Will likely be fixed by https://github.com/apache/airflow/pull/10917

[2020-12-03 16:04] #12616 closed

[2020-12-03 16:07] Fahadsaadullahkhan commented on #12765
Which version will have this fix? 2.0?

[2020-12-03 16:18] ashb commented on #12765
It's not merged yet, but yes targeting 2.0

[2020-12-03 16:37] potiuk commented on #11549
I think this is something definitely after we release 2.0 - the long planned "What's beyond 2.0" discussion.

[2020-12-03 16:47] dimon222 commented on #12711
I noticed this on python 3.6, but it makes sense, this library is compatible with python 3.7+ beginning with 1.1.1 release. Confirm your python version.

[2020-12-03 16:49] potiuk commented on #12711
@dimon222 is right - you need to use the right python version in the constraints URL.

[2020-12-03 17:04] sephethus commented on #11965
Nothing works in this entire thread, nothing. I'm using docker-compose up to create a local instance and it all fails. 1.10.13, adding cattrs and attrs and upping the version of oauthlib and requests-oauthlib, nothing works, period. What now?

[2020-12-03 17:14] ashb commented on #12552
@BasPH I think your example has a copy-paste error -- I don't get the error you showed, unless I pass `allowed_states=[State.task_states]`

[2020-12-03 17:19] turbaszek commented on #10790
I saw this also from time to time but not always so probably not related.

[2020-12-03 17:34] potiuk commented on #11965
There is a known bug with the latest PiP that was released two days ago. You probably hit the problem described here: https://github.com/pypa/pip/issues/9203

The new version of PIP has MANY problems and broke a lot of other projects. For now the best course of action is to downgrade Pip to 20.2.4 version (this is what we did in official docker images and this is what is recommended in 1.10.14 doc

[2020-12-03 17:46] DavHau opened #12789 "Error in wheel metadata (requirements)"
Hello, I think your wheels metadata is corrupt.
If you download the .whl file of a [current release](https://pypi.org/project/apache-airflow/#files), extract it via zip and check the file `*dist-info/METADATA`, you will see the following line:
[code]

This seems invalid. Pip accepts this for some reason.
It installs `azure-datalake-store`, but not `azure-mgmt-datalake-store`.
This confirms my assu

[2020-12-03 17:54] #12489 closed

[2020-12-03 17:56] potiuk commented on #12789
Yeah. Confirmed. You managed to open the issue just it in time to put our 1.10.14 release on hold to fix it !

[2020-12-03 18:14] potiuk commented on #12789
That was fast ;) . Expect this fixed in 1.10.14

[2020-12-03 18:21] kaxil commented on #12789
Thanks for reporting @DavHau just in time for 1.10.14rc1 and @potiuk for the fix

[2020-12-03 18:21] #12789 closed

[2020-12-03 18:54] DavHau commented on #12789
Thanks for this very quick fix. Are you guys planning on fixing the metadata for old releases by re-uploading them?

[2020-12-03 19:08] SamWheating commented on #12782
As a workaround, its possible to write your own securityManager class, bring in the changes required and then use this class as your `SECURITY_MANAGER_CLASS` in webserver_config.py

So then your webserver_cofig.py would look something like:

[code]

While this isn't great, the alternative is waiting for someone to update flask appbuilder and release a new version and then waiting for a new version

[2020-12-03 19:24] potiuk commented on #12789
There is no way. PIP releases are immutable.

[2020-12-03 19:24] Gaurang033 commented on #11134
@eladkal  does you're dag has any tags associated with it?  This happens if DAG has any tag, seems like some foreign key constrain while deleting dag from database.

[2020-12-03 19:25] potiuk commented on #12789
We can at most "yank" them if there are serious issues, but this is very far from being serious enough as this is only single extra that is wrong

[2020-12-03 20:52] ashb commented on #12552
A different error we found investigating this was fixed in #12794 - but the original error seems valid - you appear to have passed a list containing a tuple, rather than the tuple directly.

[2020-12-03 20:57] zclimes opened #12796 "Make headers templated in HttpSensor"
**Description**

Make HttpSensor `headers` parameter templated.

**Use case / motivation**

This would allow for passing data from other tasks, such as an API token, in the headers.

**Related Issues**

N/A

[2020-12-03 21:35] p-madduri commented on #10126
any update on this?

[2020-12-03 21:36] #12576 closed

[2020-12-03 21:55] #12737 closed

[2020-12-03 21:59] jedcunningham commented on #11982
We are using a `centos:8` based image (though it was happening with `centos:7` also). No entrypoint, a straight `airflow scheduler`. Yes, still happens in beta3.

Another way to observer this is with `kubectl delete pod`, which sends a sigterm and (by default) if the container hasn't exited in 30s k8s sends a sigkill. So you can swap my "exec kill 1" with a naive delete pod and if the old pod stic

[2020-12-03 22:21] turbaszek commented on #12587
@potiuk I think the problem is somewhere else, see the above comment in Ash PR

[2020-12-04 00:58] #12774 closed

[2020-12-04 03:29] manesioz commented on #12246
This looks fun, is anyone picking it up? I would like to take a stab at it if not.

As a new(ish) contributor, should I be looking at https://github.com/apache/airflow/pull/7718 as an example to follow loosely?

[2020-12-04 06:47] rmanvar-indeed commented on #12776
Is it possible to add this update for previous / upcoming versions of Airflow like 1.10.12 and 1.10.13 ?

[2020-12-04 07:27] otourzan opened #12804 "Regional Dataproc Workflow Template Instantiate Fails"
**Apache Airflow version**: GCP Composer (1.10.12+composer)

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): GKE (1.16.13-gke.404)

**Environment**: GCP Composer

- **Cloud provider or hardware configuration**: GCP
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:
Trying to instantiate regional

[2020-12-04 07:40] marclamberti opened #12806 "'NoneType' object has no attribute 'wait' with airflow db shell on SQLite"
**Apache Airflow version**: 2.0.0b3

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): Ubuntu 20.04.1 LTS
- **Kernel** (e.g. `uname -a`): Linux airflowvm 5.4.0-56-generic #62-Ubuntu SMP Mon Nov 23 19:20:19 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
- **Install tools**:

[2020-12-04 07:41] mik-laj commented on #12246
@manesioz `*ToGCS` operators have a complex abstraction that you don't need, but you will surely find a similar operator in our repository.

I assigned you to this ticket.

[2020-12-04 08:58] potiuk commented on #12776
We are just about to release 1.10.14 (this morning) so not very likely - maybe 1.10.15 if we have one

[2020-12-04 09:00] potiuk commented on #12776
But we are releasing 2.0rc next week and hopefully final 2.0 version  after that, and if you are considering running Airflow in PROD we HIGHLY recommend migrating to 2.0. And for that one - it will happen not sooner than Tuesday!

[2020-12-04 09:02] potiuk commented on #12776
If you have any questions/etc. you can always ask me on airflow's slack (we have #breeze channel there)

[2020-12-04 09:31] ashb commented on #12552
Closing this as we think we've fixed one problem (and the original error was valid -- it was invalid.) Please re-open if there's more info/you think we're wrong.

[2020-12-04 09:31] #12552 closed

[2020-12-04 09:32] ashb commented on #12757
Yes, even without the `dag=dag` it shouldn't be able to cause a crash in the webserver like this

[2020-12-04 10:02] honarkhah opened #12807 "add default weight_rule to airflow.cfg"
**Description**

It would be nice if the weight_rule default value could be managed by a global config

suggested config:
[code]
**Use case / motivation**

In some pipeline, you really need to have absolute weight, and then you have to add a line in each task definition which is annoying

[2020-12-04 10:30] turbaszek commented on #12804
Thanks @otourzan, I thin you are right that we may need to set location in the API client. @michalslowikowski00 is working on rewriting dataproc to use dataproc python client 2.0

[2020-12-04 10:46] eladkal commented on #11134
@Gaurang033 yes. Can you please recheck with Airflow 2.0.0b3 ?
It could be issue with migration script if you upgraded from older version.
We'll need exact reproduce steps that recreates the issue.

[2020-12-04 11:35] ashb commented on #11982
Tested like this:

[code]

verified that scheduler is pid 1:

[code]

Sending pid1 a SIGTERM:

[code]

And then scheduler logs

[code]

And it does exit.

[2020-12-04 11:37] ashb commented on #12769
The rules in upgrade_check will print the problematic conn_ids:

- https://github.com/apache/airflow/blob/v1-10-stable/airflow/upgrade/rules/conn_id_is_unique.py
- https://github.com/apache/airflow/blob/v1-10-stable/airflow/upgrade/rules/conn_type_is_not_nullable.py#L41-L46

[2020-12-04 12:19] turbaszek commented on #12783
I can confirm that this issue does not exists in 1.10 branch. Sensor is rescheduled as it should be.

[2020-12-04 13:56] MarlonAbeykoon opened #12808 "Task exited with return code Negsignal.SIGABRT"
**Apache Airflow version**:
1.10.12

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
N/A

**Environment**:

- **Cloud provider or hardware configuration**: hardware 2.5 GHz Quad-Core Intel Core i7 16 GB
- **OS** (e.g. from /etc/os-release): macOS Catelina 10.15.7 (19H15)
- **Kernel** (e.g. `uname -a`): 19.6.0 Darwin Kernel Version 19.6.0: Thu Oct 29 22:56:45 PDT 2020;

[2020-12-04 14:12] philipherrmann commented on #12111
I think this might be fixed with version 1.10.13 due to #11368, has anyone "already checked"?

[2020-12-04 15:13] Gaurang033 commented on #11134
@eladkal  we are using it in production, 2.0.0 is a long way to go.

[2020-12-04 15:43] kaxil commented on #12808
This is because of the new update in MacOS.

Check https://airflow.apache.org/blog/airflow-1.10.10/#running-airflow-on-macos

Add the following to your `.bashrc` / `.zshrc`

[code]

[2020-12-04 15:43] #12808 closed

[2020-12-04 15:53] matteosdocsity opened #12812 "Google OAUTH - Missing parameter: redirect_uri"
**Apache Airflow version**: 2.0.0b3

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): NA - LocalExecutor

**Environment**:

- **Cloud provider or hardware configuration**: local development
- **OS** (e.g. from /etc/os-release): Debian 10 buster GNU/Linux(Docker)
- **Kernel** (e.g. `uname -a`): Linux 1083e0af8c7e 5.4.39-linuxkit # 1 SMP Fri May 8 23:03:06 UTC 2020 x86_6

[2020-12-04 16:17] pceric commented on #12111
That does look promising, although it introduced critical bug #12659. Waiting for 1.10.14 before upgrading.

[2020-12-04 16:18] dmateusp opened #12813 "Attempting to read an xcom produced by KubernetesPodOperator results in UnicodeDecodeError"
**Apache Airflow version**: `1.10.13`

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):  `v1.15.11-eks`

[code]

**Environment**:

- **Cloud provider or hardware configuration**: AWS (EKS)
- **OS** (e.g. from /etc/os-release):
[code]
- **Kernel** (e.g. `uname -a`): `Linux ddac867b589a 4.19.76-linuxkit #1 SMP Tue May 26 11:42:35 UTC 2020 x86_64 GNU/Linux`
- **Python**:

[2020-12-04 16:23] potiuk commented on #12813
@dimberman ? Does it ring a bell ?

[2020-12-04 16:37] jedcunningham commented on #11982
That isn't using KubernetesExecutor though, right? (Sorry, maybe I should have made that more prominent...)

[2020-12-04 16:46] ashb commented on #11982
Oh, sorry! Right I'll try that.

[2020-12-04 17:13] ManiBharataraju commented on #12577
@turbaszek - I was thinking it will be a good option to allow the option to pass user-defined arguments as a dict to execution_date_fn. Right now it allows only 2 arguments, one being the date and the second being the context. This will be helpful if someone needs to pass additional arguments
example: If we want to change the hour of the execution date based on the user arguments instead of creati

[2020-12-04 17:49] ashb commented on #12777
Am I right in thinking that it would schedule those dags, bug not actually run any of the tasks _in_ those dag runs currently?

[2020-12-04 19:08] vxtals opened #12817 "Add default conf to DAG definition to use in scheduled runs"
**Description**

When you trigger a DAG run through trigger operator, API or cli you can add parameters as "conf", so you can access them by template interpolation like {{ dag_run.conf['conf1'] }}

If you define a DAG relying on this it never will work when it is executed at schedule time.

**Use case / motivation**

Add a default conf parameter in Dag class so it will be used when create_dagrun i

[2020-12-04 19:21] XD-DENG opened #12818 "Don't have session.commit() when @provide_session decorator is used"
As discussed in https://github.com/apache/airflow/pull/12815#discussion_r536283503 and pointed out at https://github.com/apache/airflow/blob/master/CONTRIBUTING.rst#database-session-handling, we should not have `session.commit()` when `@provide_session` decorator is used (for principle "Explicit is better than implicit").

This issue exists in files like https://github.com/apache/airflow/blob/2936

[2020-12-04 19:40] brunoffaustino commented on #8609
Hi @kaxil and @ashb,
Me and @Cabeda just made the test under version 2.0.0beta3 and it still exists.
Here is how to we replicated it:
1. Install version 2.0.0beta3 via Docker;
2. Create another user called "test_user", besides having the "Admin" user;
3. Create role "test_role";
4. Remove all roles from user "test_user" and assign role "test_role" to it;
5. Change DAG "example_bash_operator" code

[2020-12-04 19:58] SamWheating commented on #12818
I'd be interested in taking this one on, feel free to assign me.

[2020-12-04 19:59] XD-DENG commented on #12818
Cool. Assigned to you @SamWheating

[2020-12-04 20:43] mik-laj commented on #12553
Now we have "Documentation" link in the navbar.
http://apache-airflow-docs.s3-website.eu-central-1.amazonaws.com/index.html

[2020-12-04 20:43] #12553 closed

[2020-12-04 20:44] mik-laj commented on #12553
Here is PR with index page for airflow-site: https://github.com/apache/airflow-site/pull/318/files

[2020-12-04 20:55] mik-laj commented on #12357
@SamWheating  Is it something interesting for you?

[2020-12-04 20:55] mik-laj commented on #12358
We have pre-commit checks: https://github.com/apache/airflow/blob/71d874515a96369bce9a0c3d6e112929abd89f92/.pre-commit-config.yaml#L497-L543

[2020-12-04 20:55] #12358 closed

[2020-12-04 21:03] SamWheating commented on #12357
I can take this, but it may take me a week or two to get around to it. If that timeline is acceptable, then feel free to assign to me.

[2020-12-04 21:05] mik-laj commented on #12357
@SamWheating  This is not an urgent task, but I don't want to see bugs in this file, and we've been making some more changes lately. I assigned you to this ticket. 🐈‍⬛🐈

[2020-12-04 21:35] vxtals opened #12823 "DAG callback handling not working properly on simultaneous executions"
**Apache Airflow version**:

apache-airflow 2.0.0b3

**Environment**:

Any environment

**What happened**:

I have dags triggered at same time for several other Dags through TriggerDagRunOperator (let's say this dags have a minute schedule). Then, on_success_callback is not triggered for some of this dags.

**What you expected to happen**:

Airflow is working pretty fast and sometimes executions_d

[2020-12-04 22:36] spence95 opened #12824 "Pip install breaks on S3 due to package mismatch error"
**Apache Airflow version:**

1.10.12

**Environment:**

Any environment

**What happened:**

Since the beginning of this week, everytime I try to pip install airflow with the following command:
[code]

I get this error:
[code]

But if I install without s3 in the apache-airflow[] array it works.

**What you expected to happen:**

To install successfully with s3 included so that I can use s3 hooks a

[2020-12-04 23:04] kaxil commented on #12757
I am unable to replicate this:

![image](https://user-images.githubusercontent.com/8811558/101223895-08bbae80-3685-11eb-8aea-2653e713497c.png)

[2020-12-04 23:14] kaxil commented on #12757
I am not able to reproduce this:

![image](https://user-images.githubusercontent.com/8811558/101224401-6270a880-3686-11eb-9e5c-23e5465f2a65.png)

[2020-12-05 00:26] kaxil commented on #12757
@yuqian90 / @houqp  If you have some time can you help looking into this issue, it looks like it has something to do with the TaskGroup change in graph.html after some debugging.

Here is the DAG (notice the 2nd task does is not directly assigned to a DAG but because of the dependency of the other task it works fine on Tree View). It used to work on Graph view too until the TaskGroup change in `ai

[2020-12-05 00:43] kaxil commented on #10427
I am not able to reproduce this on Airflow 2.0.0beta3, once I deleted the DAG file the DAG disappeared from the UI in sometime.

@marcjimz Can you please try with out with 2.0.0beta3 and let us know if the issue persist, we can reopen the issue if that happens

[2020-12-05 00:43] #10427 closed

[2020-12-05 00:59] #12796 closed

[2020-12-05 03:00] htgeis commented on #12777
yeah, but it doesn't make much sense to create these dag runs with no tasks runnable. We have many users defined the start_date in the default_args and they have some requirements to change the start_date. Sometimes, it's a larger time interval between these two dates, thus it would waste time to waiting for these empty dag runs created and it's also not friendly to show dag runs in web ui as they

[2020-12-05 03:00] htgeis commented on #12777
yeah, but it doesn't make much sense to create these dag runs with no tasks runnable. We have many users defined the start_date in the default_args and they have some requirements to change the start_date. Sometimes, it's a larger time interval between these two dates, thus it would waste time to waiting for these empty dag runs created and it's also not friendly to show dag runs in web ui as they

[2020-12-05 04:10] #12587 closed

[2020-12-05 05:45] mik-laj opened #12827 "Missing docs about webserver_config.py"
Hello,

We are missing documentation on the `webserver_config.py` file. I think it is worth answering the following questions in this guide:
* What is this file?
* What is this file for?
* When and how should you edit this file?

Best regards,
Kamil Breguła

[2020-12-05 05:46] mik-laj commented on #12827
@zh0uquan  Can you help with it?

[2020-12-05 08:38] yuqian90 commented on #12757
Thanks @kaxil  and @ielizarov. This issue can be reproduced with a simpler example like this. I put up a fix in https://github.com/apache/airflow/pull/12829

[code]

While this is indeed an inconsistent behaviour and the fix is straightforward, I wonder why we wanted to support ambiguous usage like this. It would be much cleaner for the user to set the dag properly for each task. Or they can also

[2020-12-05 09:16] XD-DENG commented on #12757
I agree with @yuqian90 . It should be explicit. Users should either specify `dag` in all operators/sensors, or they use contest manager to avoid that.

To keep consistent behaviour with 1.10.*, I think it's ok to proceed fixing this as a bug. But later I would suggest to consider such tasks as "import errors"

[2020-12-05 10:53] ashb commented on #12824
Paging @potiuk as our resident "pip resolver expert" (A title which he hates, I'm sure :grin:)

[2020-12-05 11:21] #11845 closed

[2020-12-05 11:52] #12757 closed

[2020-12-05 11:55] kaxil commented on #12757
Thanks for the quick fix @yuqian90 and yes I too agree about making it explicit.

I am trying to think of the best place to show the error i.e. should we fail it during parsing the DAG itself or during serialization.

Let me know if you both any thoughts or a fix in mind @yuqian90 and @XD-DENG

[2020-12-05 12:01] noelmcloughlin opened #12832 "Source hash apache-airflow-1.10.13-bin.tar.gz.sha512 format is invalid"
**Description**

The sha256sum file for apache-airflow releases is in an unexpected format for python-based checksum modules.

**Current file format:**

    apache-airflow-1.10.13rc1-bin.tar.gz: 36D641C0 F2AAEC4E BCE91BD2 66CE2BC6
                                      AA2D995C 08C9B62A 0EA1CBEC 027E657B
                                      8AF4B54E 6C3AD117 9634198D F6EA53F8

[2020-12-05 12:11] ashb opened #12834 "Overflow/scrollbars visible on Firefox on Linux"
On Firefox on linux the `<body>` tag seems to end up with "spurious" overflow, resulting in both horizontal and vertical scrollbars.

![image](https://user-images.githubusercontent.com/34150/101242585-cb8e0580-36f2-11eb-8ed1-7bf34d0fd1c5.png)

If I set `overflow-x: hidden` then they both disappear.

Something has gotten confused!

**Apache Airflow version**:

**Kubernetes version (if you are using

[2020-12-05 15:24] #11431 closed

[2020-12-05 17:04] potiuk commented on #12824
Why no, not really @ashb . Can you please downgrade PIP to 20.2.4 ? Tjhis most likely the issue with new PIP 20.3 rolled out on Nov 30th.

There are many issues (at least for Airflow ubt also a number of other projects) with the new PIP (including this https://github.com/pypa/pip/issues/9203) and we have updated our docs to point out everyone to downgrade PIP before reporting any issues. The updat

[2020-12-05 17:33] potiuk opened #12838 "PIP 20.3 might break Airflow installation"
UPDATE 15.12.2020 6pm CET:

After releasing PIP 20.3.3 today we were able to make 2.0 compatible with the new PIP and 1.10.14 almost works (papermill extra is problematic when installing airflow using the new PIP). We will try to address it in case we release 1.10.15 but if you want to install papermill extra, please downgrade pip or use legacy resolver.

While with 2.0 it seems that airflow can b

[2020-12-05 19:05] turbaszek commented on #12577
@ManiBharataraju I would say that you can do `python_operator >> external_sensor` and pass to the sensor whatever execution date you want. In my opinion this serves 100% of cases. And with TaskFlow API this is dead simple:

[code]

If you don't know TaskFlow API:
- http://apache-airflow-docs.s3-website.eu-central-1.amazonaws.com/docs/apache-airflow/latest/tutorial_taskflow_api.html
- https://www.p

[2020-12-05 20:08] rootcss commented on #12081
Hi @humbledude. This seems to be working fine for me. Could you please share a snippet of DAG object and your PapermillOperator.

[2020-12-05 20:08] #10816 closed

[2020-12-05 22:36] vikramkoka commented on #12838
Thanks @potiuk I am really glad you added this to the installation instructions too!

[2020-12-06 00:14] ashb commented on #12783
I've worked out the problem -- it's caused by the switch to Serialized DAGs only in HA scheduler.

I have a hacky-one line fix. and am working on a better fix now.

[2020-12-06 01:08] noelmcloughlin commented on #11965
I never use PyPi pip because OS distributions provide stable `python-pip, python2-pip, python3-pip` packages so I use those. This means NEVER running `pip install --upgrade pip`  because that installs PyPi pip ontop distribution python-pip and things breaking horribly when packages get installed in different pip library locations (a  great fustration).  I'd recommend Airflow adopts the same policy

[2020-12-06 01:08] kaxil commented on #12832
Maybe you can use Hash from PyPI:

https://pypi.org/project/apache-airflow/1.10.13/#copy-hash-modal-7de14478-7b22-42f1-b870-f0aa8bf1b3ce

[code]

[2020-12-06 01:30] noelmcloughlin commented on #11965
Beware of cattrs 1.n.n hell with Python 3.9 (i.e. archlinux).
-  https://github.com/Tinche/cattrs/issues/100
-  https://github.com/aws/aws-cdk/issues/11043

"ImportError: cannot import name '_Union' from 'typing'"
ImportError: cannot import name 'resolve_types' from 'attr'

[2020-12-06 01:40] noelmcloughlin commented on #12832
The only workaround to install Airflow tarball with Salt is setting `skip_verify: true` to bypass the file format issue.  I'm not sure what PyPI library they use in Salt, but it works for 99% of `sha256` files consumed from github.

[2020-12-06 01:42] aladinoss commented on #9840
Thanks,
i'll check next week, provide you more details.

[2020-12-06 07:41] natejenkins21 commented on #9975
Same issue here. Causing a lot of issues for my backfills...

[2020-12-06 10:43] potiuk commented on #12824
Pleaase let us know @spence95  if downgrading PIP solves the problem

[2020-12-06 10:46] ohadmata opened #12849 "Scheduler is slowly due to many local log files"
Hi, I have a strange behavior in my production airflow:
The scheduler is VERY slowly, it's takes about five minutes to start a certain task after all of the previous tasks has completed.
After the deletion of the logs files (local logs) it's become super fast.

I searched in the web with no solution,
All of the slowly-scheduler issues are related to many DAG files and not to many log files.
Why th

[2020-12-06 10:49] potiuk commented on #12824
I confirmed it myself:

This fails:
` pip install 'git+https://github.com/apache/incubator-airflow.git@1.10.12#egg=apache-airflow[async,crypto,celery,jdbc,password,postgres,s3]' --constraint https://raw.githubusercontent.com/apache/airflow/constraints-1.10.12/constraints-3.6.txt`

This succeeds:

`pip install --use-deprecated legacy-resolver 'git+https://github.com/apache/incubator-airflow.git@1.1

[2020-12-06 10:49] #12824 closed

[2020-12-06 11:03] turbaszek commented on #11039
We can, but how? We should not only check custom hooks imported in DAGs but also custom operators that may use BaseHook somewhere.

[2020-12-06 11:40] potiuk commented on #12838
FYI @vikramkoka (and @eladkal @paolaperaza) the "upgrade to newer dependencies" and "full tests needed" are special labels that can be added to PRs to change the scope of PR builds:

See: https://github.com/apache/airflow/blob/master/CONTRIBUTING.rst#step-4-prepare-pr

* "upgrade to newer dependencies" causes an automated upgrade to latest dependencies using the "eager" upgrade strategy:
* "full t

[2020-12-06 12:06] potiuk opened #12851 "Find a way to inform our users about deprecated extras"
There are a number of extras being deprecated in 2.0. Those are marked with "remove in 2.1" comments in 2.0, however users might simply have no clue that this deprecation is happening.

We should find a way to inform users.

One of the ways might be a small apache-airflow-deprecated-extra package that will be added automatically as dependencies if someone uses that extra - such package could be a

[2020-12-06 12:07] potiuk commented on #12851
@kaxil @ashb @turbaszek @mik-laj WDYT ?

[2020-12-06 12:13] ashb commented on #12851
Something like this sounds like a good idea. I wonder if we could make it show up in the UI - that's the only "sure fire" way to get it in front of users

[2020-12-06 12:42] potiuk commented on #12851
Agree. Fortunately this is not something we desperately need to to do for 2.0. It can be easily added in 2.0.1 or beyond.

[2020-12-06 13:24] potiuk commented on #12832
The file is valid, but not recognized by ansible. We are currently using GPG to generate the SHA files:

[code]
echo "Checking $i"; gpg --print-md SHA512 `basename $i .sha512 ` | diff - $i
[code]

[2020-12-06 13:53] MrCull opened #12852 "The README file in this repo has a bad link - [404:NotFound] "production-deployment.html""
**Apache Airflow version**:
N/A

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
N/A

**Environment**:
N/A

- **Cloud provider or hardware configuration**: N/A
- **OS** (e.g. from /etc/os-release): N/A
- **Kernel** (e.g. `uname -a`): N/A
- **Install tools**: N/A
- **Others**: N/A

**What happened**:
The link under “Latest docs” gives
Status code [404:NotFound] - Link:

[2020-12-06 14:39] potiuk commented on #12852
Would you be so kind to fix the problem by opening a PR?

[2020-12-06 14:46] potiuk commented on #12852
ActuallIy I created the PR.

[2020-12-06 16:00] bskim45 opened #12855 "Unable to import Airflow plugins"
**Apache Airflow version**:
`1.10.14rc1`

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
nop

**Environment**:

- **Cloud provider or hardware configuration**: docker (linux)
- **OS** (e.g. from /etc/os-release): Debian GNU/Linux 10 (buster) (official docker image)
- **Kernel** (e.g. `uname -a`): Linux 5.4.39
- **Install tools**: official docker image with docker-com

[2020-12-06 16:20] MrCull commented on #12852
Thanks for the quick action.
As mentioned, with not knowing this repo I was not 100% sure what the correct "fix" was so this is why I didn't submit a PR.

[2020-12-06 16:38] potiuk commented on #11965
Unfortunately, It is beyond of our control when it comes to our users. We have no physical capacity to force our users to use our preferred installation method. So we better try it ourselves and . We have to assume our users installed latest PIP (which the cannot for now as stated in #12838 which is currently. And in many toolchains where Airflow is installed people build Airflow Images automatica

[2020-12-06 18:28] kaxil commented on #12855
cc @ashb -- Any ideas here?

[2020-12-06 18:55] kaxil commented on #12855
Oh looks like that might just be an issue with Python 3.8 where `importlib.metadata` does not have `.module` but if you use Python 3.7 which uses `importlib_metadata` that has `.module`

[2020-12-06 18:57] ashb commented on #12855
OH GAD.

Paging @mjpieters  -- turns out we _do_ need the backported module more often :(

[2020-12-06 19:03] potiuk commented on #12855
I guess it is the same story as with importlib_resources Sounds like rc2 IMHO ?

[2020-12-06 19:05] mjpieters commented on #12855
The solution is to install the backport on 3.8 too.

[2020-12-06 19:08] kaxil commented on #12855
Indeed, we need to remove the following line from setup.py:

[code]

i.e. remove `; python_version<"3.8"` bit

Time for 1.10.14rc2 :(

[2020-12-06 19:13] mjpieters commented on #12855
Alternatively: don't use the module and attr attributes and fetch the  values yourself:

[code]

This is what those attributes fetch (as property objects).  It's trivially poked in if needed.

[2020-12-06 19:15] ashb commented on #12855
Little bit more complicated than that -- we should keep it as `<3.9`. But also on 3.8 we need to ensure we import the backport, or add the `module` parameter to the EntryPoint class as Martijn suggests.

Yes

[2020-12-06 19:15] mjpieters commented on #12855
Not *remove*; update 3.8 to 3.9.

[2020-12-06 19:17] kaxil commented on #12855
Does 3.9 contain the `.module` parameter though? I know we officially don't support Py3.9 yet with 1.10.14 but do why do we not want to install it for 3.9 ?

[2020-12-06 19:18] ashb commented on #12855
Yes, 3.9 does contain it https://github.com/python/cpython/blob/3.9/Lib/importlib/metadata.py#L81-L84

[2020-12-06 19:19] kaxil commented on #12855
Aah ok, Cool 👍 Will create PRs / cherry-picks straigh-away too cut 1.10.14rc2 tonight

[2020-12-06 19:34] vikramkoka commented on #12838
Sorry about that @potiuk . I did not know that. Will avoid using this "upgrade to new dependencies" label in the future.

[2020-12-06 19:43] potiuk opened #12861 "[QUARANTINE] TestSchedulerJob.test_scheduler_task_start_date"
The test fails quite regularly - usually in one of many jobs:

Example

https://github.com/apache/airflow/pull/12850/checks?check_run_id=1506517544

[code]

[2020-12-06 19:46] potiuk commented on #12838
No problem :). that was mainly to explain what they are and probably ad them as exclusions in the description of the triage process.

[2020-12-06 21:45] ashb opened #12865 "Don't figerprint compiled asset files when `yarn dev` is run"
When running in `yarn dev` it still fingerprints the output files, so the file name changes when the input does, meaning that the webserver needs to be restarted.

_Originally posted by @ashb in https://github.com/apache/airflow/pull/12837#discussion_r537130298_

Is it possible to configure webpack to not fingerprint files in dev so the names are predictable?

[2020-12-06 21:55] #12783 closed

[2020-12-06 22:39] kaxil commented on #12832
Created a PR for it: https://github.com/apache/airflow/pull/12867

[2020-12-06 22:44] kaxil commented on #12855
closed by https://github.com/apache/airflow/pull/12859

[2020-12-06 22:44] #12855 closed

[2020-12-06 23:32] humbledude commented on #12081
Hi, @rootcss.

I wrote DAG like this:
[code]

`seoul_date` is defined as:
[code]
This DAG does not work because of `seoul_date`.
Error log says, `'seoul_date' is undefined`

If I remove using `seoul_date` on parameters, then DAG works fine.

[2020-12-06 23:46] #12832 closed

[2020-12-07 00:05] #12852 closed

[2020-12-07 01:05] morrme commented on #10187
@potiuk Looks lik  @Dr-Denzy Took care of it! Thanks @Dr-Denzy
~ Dr. Morrme 😉

[2020-12-07 01:07] vikramkoka commented on #12851
This seems like a really good idea. I would be in favor of a slow deprecation on this too, something in the order of 2.1 or so.

[2020-12-07 05:01] rootcss commented on #12081
Thanks @humbledude. Will check this and get back to you.

[2020-12-07 06:48] RosterIn opened #12873 "add Neo4j provider"
**Description**

Neo4j is very popular db there was attempt to get it in https://github.com/apache/airflow/pull/6604 hope this could be finished it seems like most of the work is already done (Neo4JHook, Neo4JOperator, docs even tests are written)

[2020-12-07 07:15] baolsen opened #12874 "Improve Testing on Windows OS"
**Description**

Airflow does not currently support Windows (although there is some ability to run on WSL2).
This not only applies to installing / running Airflow but also extends to developing Airflow itself.

**Use case / motivation**

I develop on Windows (corporate requirement) and would like to improve the ability to test Airflow more easily.
My goal isn't to get the full test environment wor

[2020-12-07 07:16] baolsen commented on #12874
Please assign to me :)

[2020-12-07 08:34] eladkal commented on #11917
@sunnygupta05 assigned to you

[2020-12-07 08:34] eladkal commented on #12758
duplicate of https://github.com/apache/airflow/issues/11917

[2020-12-07 08:34] #12758 closed

[2020-12-07 08:50] potiuk commented on #12874
Cool. Happy to help with that! I have a dual boot windows on my PC, so maybe after 2.0 is out and we Rewrite Breeze in Python #12282  that might be actually doable!

[2020-12-07 08:52] potiuk commented on #12874
I will make sure to add Windows support when I finally have time to finish the design doc :). @baolsen -> please make sure to follow the  discussion and maybe you want to join the team of future Breeze developers :).

[2020-12-07 09:09] potiuk commented on #11193
Hey @emiliocolo - I am closing this one . I just tested that it works with Breeze + sqlite. Let us know if it still does not work for you

[2020-12-07 09:09] #11193 closed

[2020-12-07 09:11] potiuk commented on #10976
@kaxil @ashb - should we close that one or remove milestone? Can you please do either :)?

It is marked as 2.0.0rc1 but I doubt it is important enough to be blocking the release.

[2020-12-07 09:12] potiuk commented on #11495
This started happening a lot less afer we split the tests. Closing.

[2020-12-07 09:13] ashb commented on #11495
I'm still seeing this a noticeable amount of the time :(

[2020-12-07 09:14] potiuk commented on #11632
On top of that - I think there are at least two .json schema files in our code that have no licence we should make sure to run the licence checks/fixes  before we prepare an RC1.

[2020-12-07 09:17] potiuk commented on #11618
Is this somethign we should inclue in 2.0 @mik-laj ? WDYT? Shall we remove the milestone from it?

[2020-12-07 09:18] potiuk commented on #10080
Shall we remove it from 2.0.0rc1 @dimberman ?

[2020-12-07 09:23] ashb commented on #11632
I think the json files we'll have to exclude -- there's no way of adding a comment to a JSON file, so we have no mechanism to add a license without hacks there.

[2020-12-07 09:23] potiuk commented on #11858
Hey @ephraimbuddy @turbaszek -> is it something we want to merge before 2.0.0rc1 or should we change the milestone?

[2020-12-07 09:24] potiuk commented on #12193
Hey @ashb @mik-laj - something for 2.0.0rc1? or will you change the milestone?

[2020-12-07 09:27] potiuk commented on #9557
I think we will not fix it for 2.0.0rc1. Let's keep it for 2.1

[2020-12-07 09:34] potiuk commented on #11632
Ah yeah. Maybe as a description. We do some runtime checks involving the schema files currently.

[2020-12-07 09:42] turbaszek commented on #11858
I think it would be nice to have a deterministic result. However, I'm not sure if this broke something or not. Definitely, it's not something crucial

[2020-12-07 09:50] potiuk commented on #8612
I finally looked at it - there is not an easy way to do it automatically. I just updated breeze to automatically set, and updated the documentation and examples to clarify that whenever you run AIRFLOW_VERSION, you should also specify AIRFOW_VERSION build arg. PR #12875

[2020-12-07 09:53] potiuk commented on #9401
All done here. Closing,

[2020-12-07 09:53] #9401 closed

[2020-12-07 09:56] vladiceanu commented on #12035
sorry folks, I've got a lot on my plate right now and couldn't work on this. I'll unnasign in case if anyone wants to work on it and come back to it by the end of December if nobody picks it up. Cheers

[2020-12-07 09:58] potiuk commented on #12776
HEy @rmanvar-indeed - did you have a chance to work on it?

[2020-12-07 09:59] potiuk commented on #8609
Hey @ashb @kaxil @jhtimmins  -> I think that one is something we should - I think - fix for rc?

[2020-12-07 10:00] potiuk commented on #12785
@RikHeijdens - how about PR here :)? we are readying for 2.0.0rc1 this week, so it would be great to have it :)

[2020-12-07 10:01] potiuk commented on #12301
Hey @jhtimmins @ashb @kaxil -> something that we should fix for rc1 I guess?

[2020-12-07 10:01] RikHeijdens commented on #12785
Hey @potiuk, please take a look at https://github.com/apache/airflow/pull/12788 :-)

[2020-12-07 10:06] ecerulm opened #12876 "Improve error message when template fields contain invalid entries"
** Description **

When a new operator is defined there are some issues with `template_fields` that produces somewhat misleading error messages

* `template_fields = ('myfield')`, which of course is incorrect because that is not a tuple, you need to use  `('myfield',)` or `['myfield']`
* `template_field = ['field_with_a_typo']`

As a I said both gives errors (at different stages) but the errors ar

[2020-12-07 10:10] potiuk commented on #11901
Hey @kaxil @ashb - are we going to fix it ? Or maybe it already is fixed with the serialization ?

[2020-12-07 10:11] potiuk commented on #10331
Hey @kaxil - are we doing anything about it in 2.0.0rc1? Or should we postpone?

[2020-12-07 10:12] potiuk commented on #12396
Hey @dimberman @kaxil @ashb -> not sure if this is something that we can reproduce/fix for 2.0.0rc1, so maybe we postpone it to 2.1 ?

[2020-12-07 10:14] potiuk commented on #8996
Hey @turbaszek -> is ti somethig we want to add fo 2.0.0rc1 ? Or should we postpone to 2.1 ? If so - can you change the milestone please?

[2020-12-07 10:14] ashb commented on #12396
@amr-noureldin I think I asked this in slack -- do you have any task level callbacks (on_success etc) defined?

[2020-12-07 10:15] potiuk commented on #11686
Hey @dimberman - anything that can be clarified here? Maybe short one-two paragraph documentation can be added to explain the purpose of those? It would be great to have it as part of the 2.0.0rc1 docs. Can you please comment on it?

[2020-12-07 10:18] potiuk commented on #12269
Hey @casassg  @turbaszek -> is it something we want for 2.0.0rc1 ? Or if not - can yo please move the milestone to 2.1.

[2020-12-07 10:19] Zat42 opened #12877 "ImportError: cannot import name '_Union' from 'typing' (/usr/lib/python3.9/typing.py)"
**Apache Airflow version**: 1.10.3

**Environment**:

- **OS** (e.g. from /etc/os-release): Arch Linux
- **Kernel** (e.g. `uname -a`): Linux 5.9.11-arch2-1 #1 SMP PREEMPT Sat, 28 Nov 2020 02:07:22 +0000 x86_64 GNU/Linux
- **Install tools**: pip 2.3.1 (with  _--use-deprecated legacy-resolver_)
- **Others**: python 3.9

**What happened**:
[code]
**How to reproduce it**:

Try launch airflow webserver

[2020-12-07 10:20] potiuk commented on #12410
I moved it to 2.0 now - But we need some more info to act on it @vikramarsid - reproducible case.

[2020-12-07 10:23] potiuk commented on #12602
Yep @dimberman . The official image is already Open-Shift compliant and I think it has all the required options in the entrypoint (you can specify bash 'command' as parameter and it will just 'exec' the command from the entrypoint. So I think it's just a matter of switching to the image.

[2020-12-07 10:52] potiuk commented on #12282
Cool. Swamped with 2.0 .. but ... it's coming !

[2020-12-07 10:59] ashb commented on #12602
@potiuk Check out Daniel's PR though please -- to make the "official" image support the common pattern that all the other common docker images support, we have changed it to accept `[airflow, task, run, ...]` as well as `[task, run, ...]` CMD (in docker speak. I'm unduly annoyed that Kube and Docker use the same term to mean **conflicting** things)

[2020-12-07 11:19] potiuk commented on #12602
Surely. I have not been marked as a reviewer on that. But this is a super-easy change to the official Dockerfile that I will open now.

[2020-12-07 11:22] ashb commented on #12602
@potiuk Already done as part of https://github.com/apache/airflow/pull/12766

[2020-12-07 11:31] potiuk commented on #12602
I will make a separate smaller change which will be backwards compatible with the old behaviour, also documentation in 'production-deployment.rst' needs to be updated. I think it's worth to separate it out.

[2020-12-07 11:52] potiuk commented on #12602
I extracted it: #12878 is much smaller, cleaner, backwards compatible and I also updated documentation  - adding the _CMD case and clarifying some details.

[2020-12-07 12:04] ashb commented on #12301
@potiuk Not a _hard_ requirement -- this isn't a regression from 1.10.x with RBAC so doesn't have to in the RC.

[2020-12-07 12:11] potiuk opened #12879 "Grouping logs in Github Actions for DOCs is super slow (javascript in GA)"
While grouping logs in CI for docs seemed like a good idea, it has a big problem. The grouping and displaying the log sections is done in javascript and with huge amount of logs there, it takes > 30 seconds just to wait until all the folding happens (and my processor and cooler starts spinning like crazy) when Iopen the docs logs. I think just one big log was much more friendly even if it was a lo

[2020-12-07 12:11] potiuk commented on #12879
cc: @mik-laj WDYT ?

[2020-12-07 12:46] tirkarthi commented on #12877
This seems to have been fixed : https://github.com/Tinche/cattrs/issues/100

[2020-12-07 12:47] potiuk opened #12881 "Snowflake python connector monkeypatches urllib and makes many services unusable."
Curreently wnen you run snowflke provider, it monkeypatches urlllb in a way that is not compatible with other libraries (for example presto SSL with kerberos, google,  amazon, qubole and many others).

This is not critical (as in 2.0 we have provider separation and snowflake code will not even be there until you choose [snowflake] extra or install provider manually,

For now we decided to release

[2020-12-07 12:47] potiuk commented on #12881
cc: @mik-laj

[2020-12-07 12:49] eladkal commented on #10408
You can ask for support in Stackoverflow or troubleshooting channel in slack.

[2020-12-07 12:49] #10408 closed

[2020-12-07 14:07] IreneSoligno commented on #12812
I have similar issue, @vikramkoka is there a complete example of what is needed to be configured to let google login work with RBAC?

[2020-12-07 15:08] #8612 closed

[2020-12-07 15:12] kaxil commented on #10331
Yeah not critical --- just annoying warning. Moved to 2.1

[2020-12-07 15:20] #11879 closed

[2020-12-07 15:21] potiuk commented on #11423
I guess this is done @mik-laj ? can we close it ?

[2020-12-07 15:30] GuillaumeDesforges opened #12888 "1.10.14rc4 - missing airflow.__main__"
https://github.com/apache/airflow/pull/7808 has been done for 2.*, but running

[code]

on airflow 1.* will fail (e.g. current airflow 1.10.14rc4).

It is required to be launched this way for some environments, or else:

[code]

since gunicorn spawns processes without the proper Python env.

The same kind of issue happens for example for Flask using Nix: https://github.com/NixOS/nixpkgs/issues/330

[2020-12-07 15:36] mik-laj commented on #11618
I removed the milestone because this looks like a change that we can do later, and now we don't have any person assigned to it.

[2020-12-07 15:37] VBhojawala commented on #12760
Hello @scauglog ,

I Just wrote KubernetesPodOperator Guide Here.https://github.com/VBhojawala/airflow/blob/k8s-docs/docs/apache-airflow-providers-cncf-kubernetes/operators.rst#mounting-secrets-as-volume
Example Dag in Guide runs fine and mounts Secret volume.

The worker.log given mentions Only DeprecationWarning which does not stop Pod from being launch IMHO.

[2020-12-07 15:42] sephethus commented on #11965
According to my pip3 --version I'm on 20.0.2 so that can't be the issue.

[2020-12-07 15:52] potiuk commented on #12888
I do not think this would be a reason for failing the RC4 @kaxil @ashb @mik-laj -> it's been like that forever.

[2020-12-07 16:01] GuillaumeDesforges commented on #12888
#12889 : which I don't really expect it to be merged, even less to trigger a rc5, but I need it for my work and it would have been too bad not to share it.

[2020-12-07 16:07] kaxil commented on #12888
Yup we don't intend to support that for 1.10.x -- so that would only work for 2.0

[2020-12-07 16:07] #12888 closed

[2020-12-07 16:22] ryanahamilton commented on #12865
Yeah, we're essentially always running in Production mode and the required webserver restarts are a huge pain. I'm going to dig in see what is needed to get to an ideal dev environment.

[2020-12-07 16:23] potiuk commented on #12865
Happy to help to make it Breeze friendly

[2020-12-07 16:26] ryanahamilton commented on #12865
@potiuk thanks! I do imagine we might need a change to the commands within Breeze.

[2020-12-07 16:51] #12722 closed

[2020-12-07 17:21] saikatharryc opened #12891 "Webserver: The CSRF session token is missing."
I have upgraded from 1.10.10 to [1.10.12](https://github.com/astronomer/ap-airflow/tree/master/1.10.12)
Although I did not notice this last day when upgraded, even though I have redeployed a couple of times.

I'm somehow not able to log in now.
Whenever I try to login, whatever the credentials is, I get this error:
<img width="947" alt="Screen Shot 2020-12-07 at 10 49 36 PM" src="https://user-imag

[2020-12-07 17:21] subkanthi commented on #12873
@RosterIn I could take a shot at this, is the plan to use code from #6604 or write everything from scratch?

[2020-12-07 17:23] thcidale0808 commented on #12199
@turbaszek , based on that email thread, I guess this will be implemented by Ace Haidrey teams, so in this case I'll look for another issue to contribute. :)

[2020-12-07 17:29] kk17 commented on #9271
any plan for developing the feature?

[2020-12-07 17:36] saikatharryc commented on #12891
worked suddenly, very weird.
closing the issue for now.

[2020-12-07 17:36] #12891 closed

[2020-12-07 17:48] kaxil commented on #11686
Current docs exists at http://apache-airflow-docs.s3-website.eu-central-1.amazonaws.com/docs/apache-airflow/latest/executor/kubernetes.html

[2020-12-07 18:11] ashb commented on #12290
Yes

[2020-12-07 19:11] mik-laj commented on #11423
Last PR: https://github.com/apache/airflow/pull/12892

[2020-12-07 20:31] JavierLopezT opened #12894 "Use DAG context in dag examples"
The current code of dag examples is in the form of:
[code]

As it is said in the docs (or in some article written by a commiter somewhere) it is better to have:
`with DAG(whatever):
`
I don't have time right now to make the changes

[2020-12-07 21:07] vikramkoka opened #12895 "from airflow.operators.python import PythonOperator does not work"
This is not necessarily a bug in core Airflow, but the upgrade-check scripts recommend this as a solution when the old 1.10.x version of importing the python operator is used.

So, there is a mismatch between the core Airflow code and the recommendations given in the upgrade check.

**Apache Airflow version**:

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Enviro

[2020-12-07 21:11] kaxil commented on #12895
This is the change that users need to make just before updating to 2.0 -- because this won't work with any 1.10.x versions

[2020-12-07 21:28] ashb commented on #12895
Perhaps this needs to be suggested as `try ... except ImportError` approach.

[2020-12-07 21:29] ashb commented on #12895
DummyOperator falls in to this same boat.

[2020-12-07 21:44] amr-noureldin commented on #12396
@ashb we don't have any.

[2020-12-07 21:54] #12602 closed

[2020-12-07 22:05] dimberman commented on #12895
@ashb @kaxil I'm not sure what the issue is since the tradition `from airflow.operators.python_operator` works in 2.0.

This can be fixed post-upgrade.

[2020-12-07 22:07] vikramkoka opened #12897 "upgrade-check: Unnecessary recommendation to create pod_template_file?"
On my Airflow 1.10.14rc1 deployment, when I run the airflow upgrade_check (initial version), it reports the following problems, despite the fact that none of my DAGs use the Kubernetes Executor nor the KubePodOperator.

It seems an unnecessary burden on the user to deal with these changes. Is it strictly necessary? Or, can this be eliminated?

Users must delete deprecated configs for KubernetesExe

[2020-12-07 22:10] dimberman commented on #12897
@vikramkoka so maybe we should check if the user is using the KubernetesExecutor before making this recommendation?

[2020-12-07 22:12] ashb commented on #12895
@dimberman Well to start with: the upgrade check command suggests making a change that will break in 1.10.14.

Secondly people will forget after upgrading ;)

[2020-12-07 22:17] #12776 closed

[2020-12-07 22:21] dimberman commented on #12895
@ashb sure we can make it a soft warning but after 2.0 they should get deprecation warnings (@ryanahamilton would be great if we could add UI elements that warn people if a DAG uses deprecated features though don't know if it's too close to release at this point)

[2020-12-07 22:27] ashb commented on #12895
Kamil has already started working on collecting other classes of DAG warnings for display in the UI -- he's got a WIP PR somewhere.

[2020-12-07 22:28] ashb commented on #12895
But anyway -- the issue is the upgrade check is suggesting something that would break users dags on 1.10.14, so that check will need updating.

[2020-12-07 22:34] #12785 closed

[2020-12-07 22:43] ashb commented on #11178
After 11178 is merged the last ones are

- [ ] airflow/operators/branch_operator.py
- [ ] airflow/operators/subdag_operator.py

[2020-12-08 00:18] #12193 closed

[2020-12-08 00:23] kaxil commented on #11178
@ashb Updated https://github.com/apache/airflow/pull/11307 -- Rebased and replaced few more places

[2020-12-08 02:40] rmanvar-indeed commented on #12776
Thank for the MR!
I had written the alembic migrations, but couldn't figure a good way to add tests.
Easiest way seemed to add a big dag exceeding 65Kb limit in example dags but that didn't seem ideal.
Tried adding test case in test_dagcode on the lines of:
[code]
but this wasn't writing dag code to db as I had expected.

[2020-12-08 02:46] otourzan commented on #12804
I could workaround it by overriding hook methods in DAG with the following code. I'll send a pull request to fix in main code as well.

[code]

[2020-12-08 05:29] msumit opened #12909 "Quarantined Build is broken"
Seems like the script `./scripts/ci/tools/ci_check_if_tests_should_be_run.sh` has been removed from code between release 1.10.12 & 1.10.13, and since then the Quarantined Build is broken https://github.com/apache/airflow/actions/runs/405827008

cc - @potiuk

[2020-12-08 06:18] sakshi-bansal commented on #11651
Facing the same issue. I can see that both apache and backport is in the same folder -
/usr/local/lib/python3.6/site-packages/airflow
/usr/local/lib/python3.6/site-packages/airflow/providers/cncf/kubernetes/
/usr/local/lib/python3.6/site-packages/apache_airflow_backport_providers_cncf_kubernetes-2020.11.23.dist-info/
/usr/local/lib/python3.6/site-packages/apache_airflow-2.0.0b3.dist-info/

[2020-12-08 06:22] kurtqq commented on #11178
I think there are more for example :
hooks/base_hook.py
hooks/dbapi_hook.py

[2020-12-08 06:59] baolsen commented on #12282
Okay sure, I'll bite :)

[2020-12-08 07:57] eladkal commented on #11874
@danielenricocahall assigned to you

[2020-12-08 09:36] dmgburg opened #12912 "dagrun_timeout doesn't kill task instances on timeout"
**Apache Airflow version**:

1.10.12

**What happened**:

I created dag with dagrun_timeout=2 minutes.

After 2 minutes dagrun is marked as failed and the next one is started, but task keeps going.

**What you expected to happen**:

Task is killed with dag run as it is done when you mark dagrun failed manually.

**How to reproduce it**:
[code]

[2020-12-08 09:49] potiuk commented on #12879
How about - similar to what I do in other parts of the build? We have now many steps - we do not need any of the logs unless there is an error. What I do there, I redirect both stderr and and stdout to a file, and unless there is an error, I do not output that file.

This could be done separately for every step and it would significantly speed up checking documentation errors - because we would on

[2020-12-08 09:49] turbaszek commented on #12199
@thcidale0808 I would suggest you to send a email in this thread so others know that you would be interested in helping make this feature real 😉

[2020-12-08 09:50] potiuk commented on #12879
This is reallly annoying, because you have to have the Tab open and visible in the browser while waiting :(. If you switch, it stops loading :(

[2020-12-08 10:36] jykae commented on #12782
@SamWheating thank you, we will check this option for our case.

[2020-12-08 11:23] TobKed commented on #10386
Any updates for this issue? @pcandoalmeida are you planning to come back working on this? I am happy to help with it.
I opened PR with new operator ([Apache Beam operators](https://github.com/apache/airflow/pull/12814)) and information about prerequisites for new providers will be very helpful.

[2020-12-08 11:45] #12261 closed

[2020-12-08 12:28] kurtqq commented on #11178
@ashb  Listing some more:

- [ ] sensors/external_task_sensor.py
- [ ] sensors/sql_sensor.py
- [ ] sensors/weekday_sensor.py
- [ ] sensors/smart_sensor_operator.py

[2020-12-08 12:51] ashb commented on #11178
Thanks. It appears when I checked last night I forgot sensors and hooks existed. Whoops 😄

[2020-12-08 13:00] #11858 closed

[2020-12-08 13:06] potiuk opened #12918 "Upgrade check: Check for spark-default connection"
Ther was an inconsistency between default connection names found in https://github.com/apache/airflow/pull/12558#discussion_r537895405 and added to UPDATING.md

Spark operator used different defaults: 'spark-default' and 'spark_default'.

In 2.0 this has been changed to be 'spark_default' (following all other connection names).

We likely need an upgrade check to cover that case.

[2020-12-08 13:07] potiuk commented on #12918
cc: @kaxil @dimberman

[2020-12-08 13:42] kk17 commented on #10954
I had the same issue. Just add this task into a DAG will reproduce the problem.
[code]

[2020-12-08 14:08] sshah90 opened #12920 "Integration with Grafana Loki"
**Description**

Grafana [Loki](https://grafana.com/oss/loki/) is an emerging Open Source project. Loki is a horizontally-scalable, highly-available, multi-tenant log aggregation system inspired by Prometheus. It is designed to be very cost-effective and easy to operate. It does not index the contents of the logs, but rather a set of labels for each log stream.

Currently, Airflow has integration

[2020-12-08 14:27] atrbgithub commented on #12644
@guillemborrell We're also seeing this with kubernetes. We seem to hit:

[code]

We're on version `1.10.12`. As you mention, pods then remain in the namespace with a status of completed and are not cleaned up. No more jobs appear to be submitted to k8s once this is hit.

We're seeing this regularly when kubernetes undergoes maintenance on the master node.

[2020-12-08 14:29] mik-laj commented on #12838
I confirmed that one problem was solved.
Now it is possible to install `.[google]`, but `.[google, devel]` still doesn't work.
https://github.com/pypa/pip/pull/9241

[2020-12-08 14:59] #12744 closed

[2020-12-08 16:32] #11632 closed

[2020-12-08 16:33] sephethus opened #12924 "cannot import name 'resolve_types' from 'attr'"
**Apache Airflow version**: 1.10.12

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**: Local PC
- **OS** (e.g. from /etc/os-release): Ubuntu 20.04
- **Kernel** (e.g. `uname -a`): 5.4.0-56-generic #62-Ubuntu SMP
- **Install tools**: docker-compose using https://github.com/puckel/docker-airflow
- **Others*

[2020-12-08 16:37] potiuk commented on #12909
Thanks!. Wil take a look when 2.0rc is out :)

[2020-12-08 17:07] mik-laj commented on #12838
I tried to install almost all extra packages with the above patch and it worked. I have the impression that when a new version of pip is released the problem will not occur or it will be marginal.

| Extra             | Status   |
|-------------------|----------|
| amazon            | SUCCESS  |
| apache.atlas      | SUCCESS  |
| apache.beam       | SUCCESS  |
| apache.cassandra  | SUCCESS  |
| ap

[2020-12-08 17:12] mik-laj commented on #12838
Pypi may have problems installing the master version because we have references to an unreleased package - `apache-airflow-providers-telegram`.

I haven't tested the extras below. They may or may not work.
[code]

[2020-12-08 17:17] potiuk commented on #12838
Cool. Good job @mik-laj !. I will take a look tomorrow as well and try to run all the automation we run on CI. Until this gets released in 20.3.2 we still keep the warning in our docs but this looks very promising !

[2020-12-08 17:35] mik-laj commented on #12838
I updated the pip version to the newest master and trigger the build on my CI. Cross fingers. 🤞🏻
https://github.com/mik-laj/airflow/commit/4bb280b1e8218414f18b7a97442e1a86d9ea5ac6

[2020-12-08 17:55] vikramkoka commented on #12897
Yes please.

[2020-12-08 18:28] mik-laj commented on #12838
I found the source of the problem.  We have a conflicting constraints entry.
https://github.com/apache/airflow/blob/fbd525ac1dfa06e0e3eb9ea6ce6013c08e4f0f1f/constraints-3.8.txt#L294

Without this entry, the Airflow installation works.
https://github.com/mik-laj/airflow/runs/1519148881?check_suite_focus=true
https://github.com/mik-laj/airflow/commit/b573f2a493de82b083cc50e281f0b631a42b5c32

[2020-12-08 18:29] mik-laj commented on #12838
According to this PR, this entry is not needed.
https://github.com/apache/airflow/pull/12683

[2020-12-08 18:44] potiuk commented on #12879
I am closing the issue. The new GH UI rolled out today is so much faster that this stopped being a problem!

[2020-12-08 18:44] #12879 closed

[2020-12-08 19:20] kaxil commented on #11178
https://github.com/apache/airflow/pull/12927 should take care of that list

[2020-12-08 19:29] kaxil commented on #11686
ping @dimberman any updates here?

[2020-12-08 19:32] kaxil commented on #12834
Closed by https://github.com/apache/airflow/pull/12923

[2020-12-08 19:32] #12834 closed

[2020-12-08 19:36] mik-laj commented on #12838
This piece of code looks interesting to me. Should we also add a similar check to our project?
https://github.com/apache/beam/blob/545db7386b69eb3c61690172c575dc025d91cca7/sdks/python/setup.py#L99-L107

[2020-12-08 19:38] potiuk commented on #12838
Which version and which constraints you are comparing?

The constraints are automatically generated after installing the requirements using pip 20.2.4 do we have any error

[2020-12-08 19:45] potiuk commented on #12838
From what I know PIP does not show those warnings without --verbose commands (And then it is lost in a sea of other messages). But if you would like to test - it feel free. There are some hacks people are doing like guessing  terminal and writing directly to it (similarly what I do with pre-commit) but this is rather dangerous.

[2020-12-08 19:48] potiuk commented on #12838
When I run (pip 20.2.4)

[code]

No conflicts reported by pip.

[2020-12-08 19:52] potiuk commented on #12838
If you are running those tests with 'apache-beam' then this is the reason we have conflict - but `apache-beam` is explicitly excluded in all the tests we do because we know it has unsolvable dependency conflicts.

[2020-12-08 19:55] potiuk commented on #12838
[code]

[2020-12-08 19:55] mik-laj commented on #12838
I am building images on Github Action.

Here is the report:
https://github.com/mik-laj/airflow/runs/1519002616?check_suite_focus=true

All extras required by CI.

[2020-12-08 19:57] mik-laj commented on #12838
Here is the error that I'm negotiating with.
https://github.com/mik-laj/airflow/runs/1519504904

[2020-12-08 19:59] mik-laj commented on #12838
All my works are available on Github: https://github.com/apache/airflow/compare/master...mik-laj:master

If you are interested, you can view the history of changes and bugs.

[2020-12-08 20:01] potiuk commented on #12838
So my hopes are much less now.

This looks like problem with new PIP (or a problem with old PIP that the new command reveals).

The same command with PIP 2.20.4 works flawlessly and shows no conflict.

[2020-12-08 20:04] potiuk commented on #12838
Here you can see example run of the very same PIP install command: https://github.com/apache/airflow/runs/1519600008?check_suite_focus=true#step:9:1149

[2020-12-08 20:05] potiuk commented on #12838
I will take much closer look later this week once we release 2.0rc, and once they hopefully  release 20.3.2. But my hopes are much  less than even an hour before.

[2020-12-08 20:33] potiuk commented on #12838
Looks like the problem is that somehow the new resolver adds extras to our transitive dependencies where we did not ask for them (or maybe they were dropped by the previous resolver):
In 2.20.4 I do not see `google-cloud-bigquery` has any extra (it is transitive dependency of pandas-gbq) but in the new PIp somehow we have `google-cloud-bigquery[bqstorage,pandas]

[2020-12-08 20:50] ryw commented on #12895
In my dags I used this form: `from airflow.operators.python_operator import PythonOperator` which worked in both 1.10 + 2.0, so maybe a decent % of airflow users wouldn't be affected by this

[2020-12-08 20:54] kaxil commented on #12895
That will raise a deprecation warning in 2.0

[2020-12-08 21:33] dimberman commented on #12111
Hi @philipherrmann @pceric please let me know if this bug is fixed. I would also recommend using the cncf.kubernetes backport provider instead of the operator in airflow itself as those are being deprecated in 2.0 (you'll also get fixes much faster through providers)

[2020-12-08 21:44] turbaszek commented on #12895
Using old path will raise a warning. I think that current suggestion given by airflow upgrade check should be understood as "if you want to make your DAG fully compatible with Airflow 2.0 and limit number of warnings you get change the import path A to import path B".

I can be wrong, be the check was to help migrate DAGs not to make them 1.10 and 2.0 compatible.

[2020-12-08 21:48] turbaszek commented on #12897
I agree. But we have to remember that users checking DAGs locally may not use this executor, or may not even have production config locally, so it's not bullet proof method.

[2020-12-08 21:51] ashb commented on #12554
@mik-laj You reverted this change so it's a problem again.

[2020-12-08 22:03] turbaszek commented on #12924
Duplicate of #11965

[2020-12-08 22:03] #12924 closed

[2020-12-08 22:07] turbaszek commented on #12924
Also I would suggest to consider using community supported docker:
[code]

[2020-12-08 22:15] mik-laj commented on #12554
In my opinion, this ticket is already resolved.

[2020-12-08 22:38] hammad13060 commented on #8381
@eladkal I'd like to work on this. How can I assign this issue to myself.

[2020-12-08 23:08] casassg commented on #12269
This is documentation update. I would think it can be even done after release of 2.0 (aka 2.0.1?)

[2020-12-09 00:03] #11152 closed

[2020-12-09 00:03] #11423 closed

[2020-12-09 00:19] mik-laj commented on #12895
@turbaszek  It seems to me that we should try to ensure compatibility with Airflow 1.10 and Airflow 2.0 to be possible step by step. We've specially released backport packages to make this possible. Now users can test each integration one by one. Core operators are a different case, as they cannot be installed as a pip package. For this reason, it seems that some minor changes may still be needed.

[2020-12-09 00:47] mik-laj commented on #8381
@hammad13060  I assigned you to this ticket.

[2020-12-09 03:48] coopergillan commented on #12282
Also very late, but I am pretty curious about this one 🙂

[2020-12-09 04:37] #11686 closed

[2020-12-09 07:08] atrbgithub commented on #12644
There is also this issue which seems to be what we are seeing when using the kubernetes task executor, launching child pods with the pod operator https://github.com/kubernetes-client/python/issues/1234

[2020-12-09 08:42] eladkal commented on #12873
@subkanthi  assigned to you. You can reuse the work already done if you do so you can set co-author for the commit to save the credit for the original author (References [1](https://docs.github.com/en/free-pro-team@latest/github/committing-changes-to-your-project/creating-a-commit-with-multiple-authors) [2]( https://medium.com/blackode/creating-co-authored-commits-on-the-command-line-git-305ae2af9

[2020-12-09 08:56] romData12 opened #12940 "current orm query does not support sql server"
https://github.com/apache/airflow/blob/5c74c3a5c1bc6424a068f1dd21a2d999b92cd8c5/airflow/models/dag.py#L2150

![image](https://user-images.githubusercontent.com/60224946/101606764-6b59d500-3a0c-11eb-9e16-33db4341e94d.png)
https://docs.sqlalchemy.org/en/13/core/sqlelement.html#sqlalchemy.sql.operators.ColumnOperators.is_

as seen in the image the use of "is_"  is supported only in certain platforms,

[2020-12-09 09:02] suxin1995 opened #12941 "The scheduler does not appear to be running"
**Apache Airflow version**:1.10.10

**Environment**:python3.6.5     mysql5.6.50

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):centos7
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:
  When I use the command    “airflow scheduler ”     to monitor the heartbeat is normal.
  But when changing to the background “airflow sch

[2020-12-09 09:09] eladkal commented on #11663
We have some hooks that have such functionality using tenacity
For example:
[TelegramHook](https://github.com/apache/airflow/blob/b40dffa08547b610162f8cacfa75847f3c4ca364/airflow/providers/telegram/hooks/telegram.py#L126)
[GoogleDataprepHook](https://github.com/apache/airflow/blob/b40dffa08547b610162f8cacfa75847f3c4ca364/airflow/providers/google/cloud/hooks/dataprep.py#L61)

@feluelle WDYT?

[2020-12-09 09:26] ashb commented on #12895
Yeah -- with the exception of the core operators all the other changes suggested by upgrade-check will work on 1.10.14 and 2.0.0 -- for instance see https://github.com/apache/airflow/pull/12930 where we suggest (1.10.14 -> upgrade check -> fix warnings -> 2.0.0) so we'll need to make it very clear which ones can be done on 1.10.14 and which can't.

[2020-12-09 09:38] potiuk commented on #12895
Or maybe RC5 with those operators added to 1.10.14 ?

[2020-12-09 09:39] ashb commented on #12895
I'd rather a 1.10.15 if we wanted to do that -- lets get 1.10.14 out already!

[2020-12-09 09:39] potiuk commented on #12895
Oh yeah!

[2020-12-09 09:40] #12269 closed

[2020-12-09 09:55] jain6968 opened #12943 "Issue with Airflow 1.10.13, 2020-11-24 release"
**Apache Airflow version**: composer-1.11.2-airflow-1.10.6

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.16.13
apiVersion: kubelet.config.k8s.io/v1beta1

**Environment**: Using compute engine
1)	composer-1.11.2-airflow-1.10.6
2)	Python – 3.6
3)	'dbt==0.17.0',
4)	'google-cloud-storage',
5)	'google-cloud-secret-manager==1.0.0',
6)	'protobuf==3.12.2'

- **Cloud prov

[2020-12-09 09:56] atrbgithub commented on #12644
Looking at our logs for when we see k8s maintenance, we also get this error once it comes back:

[code]

Not sure if this is somehow meaning that it no longer sees the events of pods created before maintenance started, which have since stopped?

Maintenance seems to take around 3 or 4 mins, but if pods stop during that time will airflow notice once it reconnects, or will it only see events from po

[2020-12-09 10:35] #11429 closed

[2020-12-09 10:38] jain6968 commented on #12943
Have followed the issue template, just expecting response / resolution asap as we are in mid of release!

[2020-12-09 10:41] edi33416 commented on #8181
Any updates on this issue?
Version 1.10.12 is still affected by this

[2020-12-09 11:02] ashb opened #12945 "Attempting to re-run githib action that failed leads to it being cancelled again."
This may only be a problem with the "Build Images" workflow, but if a build of that fails (as it occasionally does due to network glitches) and a committer hits the "Re-run all jobs" button, the workflow will restart, but then almost immediately get cancelled.

This might be an unsolvable problem because of how Github re-runs the actions -- where it leaves the previous steps as "failed" whilst re-

[2020-12-09 11:59] TobKed commented on #10386
Is it not solved by https://github.com/apache/airflow/pull/12921 ?

[2020-12-09 14:45] #8996 closed

[2020-12-09 14:51] ashb commented on #11178
Done!

[2020-12-09 14:51] #11178 closed

[2020-12-09 14:55] #12554 closed

[2020-12-09 14:55] potiuk commented on #11432
Works. when provider is missing. It will fail import :)

[2020-12-09 14:55] #11432 closed

[2020-12-09 15:27] potiuk commented on #12943
I think you should post in slack (see airflow.apache.org - community page). This is a better place to ask such questions. Maybe someone with similar experience can help you. We are just in the middle of releasing Airflow 2.0 so do not expect a lot of attention from the committers.

It is generally expected that you won't be able to install some packages due to conflicts - Airflow has > 420 depende

[2020-12-09 15:27] #12943 closed

[2020-12-09 16:11] kaxil commented on #10104
Do we need to anything more here? Is this issue for core operators / AIP-21 ?

https://github.com/apache/airflow/blob/master/UPDATING.md#changes-to-import-paths

[2020-12-09 16:14] mik-laj commented on #10104
As I was checking, all imports worked.

[2020-12-09 16:14] #10104 closed

[2020-12-09 16:57] notatallshaw commented on #12838
Is this related to this comment here: https://github.com/pypa/pip/issues/8785#issuecomment-678885871 ?

Note that there are 2 different issues being solved in the linked github thread, the one that is described in the comment (not solved yet) and the workaround using "--no-deps" (solved recently on master)

[2020-12-09 17:03] roldugin opened #12959 "Skipped tasks deadlock when cleared"
**Apache Airflow version**: 1.10.12 (regression, *NOT* reproducible on 1.10.5)

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): N/A

**Environment**: local with SequentialExecutor + deployed with CeleryExecutor on Kubernetes

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): macOS 10.15
- **Kernel** (e.g. `uname -a`): Darwin macmac

[2020-12-09 17:04] potiuk commented on #12838
Indeed. it looks like this might be the same root cause.

[2020-12-09 17:14] hedrickw opened #12960 "Attempt to use Pod Template File with KubernetesExecutor version 1.10.13 Throws AttributeError: 'V1EnvFromSource' object has no attribute 'name'"
**Apache Airflow version**:
1.10.13

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
1.18.8"
**Environment**:
Ubuntu 16.04
- **Install tools**:
Helm Chart

**What happened**:
Attempt to use Pod Template File with KubernetesExecutor version 1.10.13 Throws AttributeError: 'V1EnvFromSource' object has no attribute 'name'

[code]

[code]

[code]

I tried doing it this way

[2020-12-09 18:42] kishvanchee commented on #12282
Late, but interested :) I hope I didn't miss out on this yet

[2020-12-09 18:55] HaloKo4 opened #12965 "Playback of the workflow statuses in the Graph View for a specific DAG run"
**Description**

I find myself a lot with the need to see how execution happened in retrospect.
I'm looking for a **play** button that will show how the ETL progressed over time.
The information for that play is recorded in the database as for specific run Airflow knows the timestamps of each task try (start, end, status)

So lets say I have ETL that looks like:

    A = DummyOperator(task_id='1')

[2020-12-09 19:18] vikramkoka commented on #12897
True, that's a good point.

The intent here is to avoid overwhelming users with things that they don't need to do in order to perform the upgrade, because those features are not relevant to them.

Do you think there is a better option?

[2020-12-09 19:32] potiuk commented on #12282
Naaa 2.0 took all the time I had :). But RC1 is out and we are cleaning up so ... soon :)

[2020-12-09 20:21] arijitdey opened #12969 "S3 Remote Logging not working"
**Apache Airflow version**:  v2.0.0b3

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.16.15

**Environment**:

- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**: Custom Helm Chart
- **Others**:

**What happened**:

S3 Remote Logging not working. Below is the stacktrace:
[cod

[2020-12-09 20:43] ashb opened #12970 "Document process for creating/setting up docker images for a new version/release stream"
We have documents about how to create a new release (https://github.com/apache/airflow/blob/master/dev/README_RELEASE_AIRFLOW.md) but that doesn't currently list the steps needed to ensure that docker images for that version is built and published.

We should extend our docs to include this process.

[2020-12-09 20:43] potiuk commented on #12969
You need to install amazon provider for S3 logging.

[2020-12-09 20:46] potiuk commented on #12969
Le t me know if this does not work (and i recommend to try rc1 just released). Also you can try 2.0.0rc1 images from our DockerHub - they have amazon provider preinstalled

[2020-12-09 20:51] potiuk commented on #12970
Maybe because it won't be be needed as it should happen automatically. But yeah I will write the procedure to manually run it as well. It is literally running one script

[2020-12-09 21:06] Gaurang033 opened #12972 "Airflow cluster Policy is not working in 1.10.10"
**Apache Airflow version**: 1.10.10

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**: Amazone EC2
- **OS** (e.g. from /etc/os-release):
NAME="Amazon Linux AMI"
VERSION="2018.03"
ID="amzn"
ID_LIKE="rhel fedora"
VERSION_ID="2018.03"
PRETTY_NAME="Amazon Linux AMI 2018.03"
ANSI_COLOR="0;33"
CPE_NAME="cpe:/o

[2020-12-09 21:16] ashb commented on #12972
That's because cluster policy wasn't introduced until 1.10.12:

http://airflow.apache.org/docs/apache-airflow/1.10.12/concepts.html#cluster-policies-for-custom-task-checks

[2020-12-09 21:16] #12972 closed

[2020-12-09 23:18] turbaszek commented on #12897
@vikramkoka @dimberman should we introduce SKIPPED state for checks? For example, we can introduce additional validation if check applies and if not then mark it as skipped with some small information why. In this way we can use checking executor but if there will be mismatch between prod/dev environment we will left a hint why a check was skipped.

[2020-12-09 23:39] vikramkoka commented on #12897
@turbaszek I think that [SKIPPED] is a really good idea. It addresses the concern of missing checks because of missing clues from the examined environment or because of "ignore" settings.

[2020-12-10 02:22] super017 commented on #11301
Two days ago when I was in the configuration airflow also appears this question,and my solution is
`pip install apache-airflow
pip install apache-airflow[mysql]
pip install apache-airflow[celery] `

accorfing to dependency,the version of celery is 4.4.7

[2020-12-10 02:24] super017 commented on #11301
Two days ago when I was in the configuration airflow also appears this question,and my solution is

accorfing to dependency,the version of celery is 4.4.7

[2020-12-10 02:33] zhangxiao696 opened #12980 "【Is this a BUG？？】occur error(TypeError: cannot serialize '_io.TextIOWrapper' object) in KubernetesExecutor"
when set dag use KubernetesExecutor with:
dag = DAG(
    "example_using_k8s_executor_new",
    schedule_interval="0 1 * * *",
    catchup=False,
    default_args={
        "owner": "zhangxiao",
        "depends_on_past": False,
        "start_date": datetime(2020, 12, 5),
        "email_on_failure": False,
        "email_on_retry": False,
        "retries": 2,
        "retry_delay": timedelta(seco

[2020-12-10 05:01] auvipy commented on #11301
celery==5.0.4 released so new testing could be started

[2020-12-10 07:39] abhaypartap commented on #10149
{
   "charset": "utf8",
   "cursorclass": "sscursor",
   "local_infile": true
}

Try passing those arguments in Extras of SSH connection

[2020-12-10 07:52] xuhongtao0101 commented on #10149
I set the encoding in the remote server environment variable to UTF8, and the PY script encoding to UTF8, which seems to solve this problem. I haven't seen any similar errors since

[2020-12-10 07:58] abhaypartap commented on #10149
okay that's good

[2020-12-10 07:59] arijitdey commented on #12969
@potiuk Still getting the same error trace:
[code]

[2020-12-10 08:57] potiuk commented on #12969
I think it's becauset the  logging configuration that got changed.

It changed from "core" to "logging" section:
        ('logging', 'encrypt_s3_logs'): ('core', 'encrypt_s3_logs'),

[2020-12-10 09:00] potiuk commented on #12969
Can you please confirm this? If so, then we do not have fallback in the provider's task to the old configuration options (which we should have).

[2020-12-10 09:04] potiuk commented on #12669
Not strictly 2.0 related (same error in 1.10 I guess) but might be an easy one to fix.

[2020-12-10 09:08] jesperbruunhansen commented on #11965
Unfortunately nothing is the thread works for me :(

I've tried installing Airflow with the command mentioned by @kaxil, but I still get the error.
The error persists in python3.7 as well as python3.8 for me.

Pip: 20.2.4
Python: 3.8.6
OS: MacOS 10.15.6

Error when running `airflow initdb`:
[code]
I've also tried to install the 1.10.13 and 1.10.14rc's, but the error stills persists

[2020-12-10 09:14] mik-laj commented on #8605
My docker compose:
[code]

[2020-12-10 09:14] eladkal commented on #12881
Raised the issue with my contact at Snowflake

[2020-12-10 11:21] mik-laj commented on #12980
What version of kubernetes-client are you using? The latest version is not supported.  https://github.com/kubernetes-client/python/issues/1304

[2020-12-10 11:23] #12773 closed

[2020-12-10 11:28] mik-laj commented on #11297
@potix2 @mlgruby @scrambldchannel Do you need any help? If you have any questions about this ticket, I will be happy to explain.

[2020-12-10 11:35] mik-laj commented on #8874
We divided the documentation into smaller packages. Now building documentation for apache-airflow takes less than 2 minutes and for apache-airflow-providers-telegram even less than 20 seconds.
Closed by: https://github.com/apache/airflow/issues/11423

[2020-12-10 11:35] #8874 closed

[2020-12-10 11:35] zhangxiao696 commented on #12980
@mik-laj thanks a lot!!
I resolved this problem when I downgrade kunernetes to v11.0.0.
And thank you very much!!!

[2020-12-10 11:36] #12980 closed

[2020-12-10 11:36] #8118 closed

[2020-12-10 11:52] mlgruby commented on #11297
I have started to work on this, sorry initially got distracted by professional work. I might shout out for help later. But for now I am good.

[2020-12-10 11:54] ashb opened #12982 "Rename master branch to main"
Once 2.0.0 is out and fully released, we should switch over from `master` to `main` as our default branch, deleting/renaming master.

Rough steps:

- [ ] Check if the ASF GitBox sync needs to know about this
- [ ] Update all CI pipelines that check for `master` #14688
- [ ] Rebase all PRs with an INFRA ticket
- [ ] Update all docs

Thankfully GitHub as done a lot of work to make this transition ea

[2020-12-10 12:03] potiuk commented on #12982
Absolutely!

[2020-12-10 12:09] turbaszek commented on #12982
You need to fill issue to Apache Infra and that all PRs have to change the base branch. We did this in Apache Kibble:
https://github.com/apache/kibble/issues/45

[2020-12-10 12:21] potiuk opened #12983 "Add support selective docs/tests (provider-related) building in CI build-docs step"
Thanks to #8874 we have now the possibility of selectively building docs, we should add support for it for our CI builds selective checks.

This will immensely speed up the CI builds for most of the PRs because we can build only documentation for Providers if particular providers changed and for core only when core doc changes.

UPDATE: Breeze already has all the support needed, so this one is onl

[2020-12-10 12:30] potiuk commented on #12983
cc: @mik-laj @kaxil @ashb - > good opportunity for one of you to get  a bit more understanding of the CI :). Hapy to help with that.

[2020-12-10 12:31] ashb commented on #12983
You can already do `./breeze build-docs -- --package-filter apache-airflow` -- are you thinking that we remove the need for the `--` and add things to completion here?

[2020-12-10 12:41] potiuk commented on #12983
More like documenting it in the docs. and help (I suspected it works). And for CI it's a bit more involved. we ned to figure the right flags looking at the list of changes coming in the PR

[2020-12-10 12:43] potiuk commented on #12983
[code]

[2020-12-10 12:43] potiuk commented on #12983
We need to have list of packages here most likely.

[2020-12-10 12:45] potiuk commented on #12983
Or maybe even not - I even did not know the --package flag has been added here and I just checked that --help displays them. So Breeze part is done,  only the CI speedup is needed with selective checks.

[2020-12-10 12:52] mik-laj commented on #12116
If we want users to be able to install backport packages, we should also remember about the limitations that exist in Airflow 1.10 We don't support them anymore, but users can still use them and it would be great if they could use new and old operators at the same time.
[code]
We can only update these operators when we stop releasing backport packages.

http://apache-airflow-docs.s3-website.eu-cen

[2020-12-10 12:53] mik-laj commented on #12116
@michalslowikowski00 @turbaszek Fortunately, Dataproc does not conflict, but other libraries will cause problems.

[2020-12-10 13:17] mik-laj commented on #12983
This is a bit dangerous as one documentation package can depend on another, so if we are not building all packages there is a chance that building one package will cause problems in another package and we will not see it before merging.

I think it might be a good idea to wait a while while we fix other minor teething problems and then keep on adding optimizations. This task will also be easier if

[2020-12-10 13:28] potiuk commented on #12983
I do not think it is "we must do it now" :). However, doc building takes now 23 (!) minutes on CI, so especially in the case of the "no-tests needed" builds that do not run any of the unit tests, it is definitely the one that stands out.

I think it has very little to do with #12282 to be honest because selective checks are NOT part of Breeze. They are fully separated and they have nothing to do w

[2020-12-10 13:32] potiuk commented on #12983
BTW. Unlike speeding our builds, we have very limited impact there. We are already involved in the build meetings from the INFRA and we started together stats of other projects. If you have some ideas how we can do it differently - feel free to propose it (possibly in the builds@ discussion list).

I think we should focus on what we CAN do.

[2020-12-10 13:44] potiuk commented on #11965
Are you trying to develop Airflow or run it for "production" on MacOS? We do not support MacOS as "execution" environment" - only Linux systems are supported for 'running' Airflow', MacOS in our case is only supported as development environment.

It looks like a Mac-only thing, so if you are using MacOS to develop airflow and you can use dockerised development environment  instead, while we manage

[2020-12-10 13:47] potiuk commented on #11301
Cool!

[2020-12-10 14:49] oriolcmp opened #12985 "PythonVirtualenvOperator with provide_context=True does not have 'ti' keyword"
Apache Airflow version: 1.10.13

Environment: Docker (Ubuntu 18.4 - Python 3.7)
Cloud provider or hardware configuration: Azure
OS (e.g. from /etc/os-release): Docker (Ubuntu 18.4 - Python 3.7)
Kernel (e.g. uname -a): Docker (Ubuntu 18.4 - Python 3.7)
Install tools: N/A
Others: N/A
What happened:

When we enable provide_context=True for PythonVirtualenvOperator and try to use the xcom_push to pass

[2020-12-10 15:12] Gaurang033 commented on #12972
@ashb yes, I realize that, I upgraded to 1.10.12 and I can say those error messages.

[2020-12-10 16:17] turbaszek commented on #12972
As far as I'm aware we don't have something like `cluster_policy` we have `policy`:
http://airflow.apache.org/docs/apache-airflow/1.10.12/concepts.html#mutate-tasks-after-dag-loaded
https://github.com/apache/airflow/blob/6416d898060706787861ff8ecbc4363152a35f45/airflow/settings.py#L172-L188

The docs seems to be slightly misleading.

[2020-12-10 17:41] hammad13060 commented on #12035
@mik-laj Is anyone working on it? I'd like to give it a shot.

[2020-12-10 17:47] mik-laj commented on #12035
@vladiceanu @hammad13060  Isn't it enough to configure an empty AWS connection to use [the boto3 credential search flow](https://boto3.amazonaws.com/v1/documentation/api/latest/guide/credentials.html#configuring-credentials) and set the AWS_WEB_IDENTITY_TOKEN_FILE environment variable?

Reference:
https://aws.amazon.com/blogs/opensource/introducing-fine-grained-iam-roles-service-accounts/

[2020-12-10 17:57] tiagogoddard-hotmart commented on #12272
Should this commit be available on the 1.10.14 version? I'm still getting the CVE-2020-8203 and the NSWG-ECO-516 on this release.

[2020-12-10 18:44] #12960 closed

[2020-12-10 18:59] kaxil commented on #12272
https://github.com/apache/airflow/blob/1.10.14/airflow/www_rbac/package.json#L72 -- It is already cherry-picked to >= 1.10.13

[2020-12-10 19:26] tiagogoddard-hotmart commented on #12272
Seems to be caused by the dependencies dagre, dagre-3d, stylelint and some others.

Here we can see it resolving to use the 4.17.15 version.
https://github.com/apache/airflow/blob/1.10.14/airflow/www_rbac/yarn.lock#L3811

[2020-12-10 19:28] kaxil commented on #12272
Yeah - most of the JS dependencies are not critical for Airflow as they are mostly used during build times.

So this might not get fixed until Airflow 2.0 which will be released next week

[2020-12-10 19:34] tiagogoddard-hotmart commented on #12272
Would a PR be acceptable or there aren't any minor versions for the 1.10 planed?

[2020-12-10 19:43] Squigilum opened #12995 "Worker never running tasks or failing them with no explanation for many simultaneous tasks"
**Apache Airflow version**: 2.0.0rc1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.19.4

**Environment**:

- **Cloud provider or hardware configuration**:  Laptop with 6 cores and 32GB RAM
- **OS** (e.g. from /etc/os-release): Ubuntu 20.04.1 LTS
- **Kernel** (e.g. `uname -a`): 5.4.0-56-generic
- **Install tools**:
- **Others**:

**What happened**:
I am running th

[2020-12-10 20:01] jonathonbattista commented on #12759
@potiuk The error still persists in 1.10.14.
[code]
The **requests-oauthlib** version is still pinned to **1.1.0**  in the [setup.py](https://github.com/apache/airflow/blob/1.10.14/setup.py#L265)

[2020-12-10 20:03] potiuk commented on #12759
PLease use 1.10.14. Dependency problem has been solved there actually (including the oauthlib ones) and 1.10.13 is "bad" release - it has known problems with not started "depends_on_past" tasks. 1.10.14 has been officially released today.

[2020-12-10 20:03] #12759 closed

[2020-12-10 20:03] dstandish opened #12997 "running task fails with `sudo: a password is required`"
**Apache Airflow version**: 2.0.0rc1

**Environment**:

- **Cloud provider or hardware configuration**: mac
- **OS** (e.g. from /etc/os-release): macOS catalina
- **Kernel** (e.g. `uname -a`): Darwin TFGELSOS3516375 19.6.0 Darwin Kernel Version 19.6.0: Mon Aug 31 22:12:52 PDT 2020; root:xnu-6153.141.2~1/RELEASE_X86_64 x86_64 i386 MacBookPro16,1 Darwin
- **Install tools**: pip
- **Others**: Sequent

[2020-12-10 20:24] dstandish commented on #12997
note, during time scheduler was running, i was upgrading docker to 3.0

i don't _think_ there is any relationship here but i just want to mention it in case

one thing i _did_ just find just now is that docker 3.0 listens on port 8080 which is interfering with webserver but that is unrelated

[2020-12-10 20:25] jonathonbattista commented on #12759
You say the dependency problem has been solved in 1.10.14 but I that is not what I am seeing.

OAuthlib:
[code]
requests-oauthlib:
[code]

[2020-12-10 20:39] dstandish opened #12999 "scheduler error (sqlite3.OperationalError) database is locked in DagFileProcessorManager"
**Apache Airflow version**: 2.0.0rc1

**Environment**:

- **Cloud provider or hardware configuration**: mac
- **OS** (e.g. from /etc/os-release): macOS catalina
- **Kernel** (e.g. `uname -a`): Darwin TFGELSOS3516375 19.6.0 Darwin Kernel Version 19.6.0: Mon Aug 31 22:12:52 PDT 2020; root:xnu-6153.141.2~1/RELEASE_X86_64 x86_64 i386 MacBookPro16,1 Darwin
- **Install tools**: pip
- **Others**: Sequent

[2020-12-10 21:13] potiuk commented on #12759
You did not try with the 1.10.14 constraints apparently

[2020-12-10 21:17] potiuk commented on #12759
Which PI0 version you use ? There are both gs in the latest released PIp 20.3 and PiP team is working on solving them . See https://github.com/apache/airflow/issues/12838 for details and workarounds

[2020-12-10 21:57] dstandish commented on #12997
after letting it continue to run for another 2 hours, this error did appear again 2 more times, at `2020-12-10 13:00:02,622` and `2020-12-10 13:25:12,988`

[2020-12-10 22:52] turbaszek commented on #12897
Closed via #12981

[2020-12-10 22:52] #12897 closed

[2020-12-11 01:52] cris-b opened #13003 "KubernetesExecutor - image from executor_config is ignored"
In 1.10.11+ the image used in executor_config is ignored.

in PodGenerator.construct_pod the kube_image is used  as the image when constructing the dynamic_pod.  Then because dynamic pod takes precedence here:

       pod_list = [base_worker_pod, pod_override_object, dynamic_pod]

I cant see how the image could ever be anything but the default worker image.

[2020-12-11 02:48] jinyeluo opened #13004 "unable to open database file whenever run_as_user set to a different user"
**Apache Airflow version**:
1.10.12

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): Red Hat 7.9
- **Kernel** (e.g. `uname -a`):  Linux hqhddev84 3.10.0-1160.2.2.el7.x86_64
- **Install tools**: pip install
- **Others**:

**What happened**:
Whenever I use 'run_as_user',  the system switches the thread to be on a different user, then not able t

[2020-12-11 06:08] wyndhblb commented on #12969
this does not seem to be a configuration thing.

The backtrace indicates it's trying to get the connection object and the `settings.Session()` has been nullified somehow and so it fails to get the session with which to query the metastore.

even w/ the `logging` section properly filled in, i'm seeing the same issue.

[2020-12-11 07:27] sakshi-bansal opened #13006 "Setting in_cluster to True is failing with invalid kube config"
Airflow version: 1.10.12

Deploying the example https://github.com/apache/airflow/blob/master/airflow/providers/cncf/kubernetes/example_dags/example_spark_kubernetes.py and

Added parameter  **in_cluster=True** in the dag.

Expected Result:
Dag gets executed and spark application is deployed in the local cluster where airflow is deployed

Actual Result:
Error: {taskinstance.py:1150} ERROR - Invali

[2020-12-11 09:07] ashb commented on #13004
This is a "WONTFIX" I'm afraid -- it's a problem with using SQLLite which is not recommended for anything other than simple tests https://airflow.apache.org/docs/apache-airflow/stable/best-practices.html?highlight=sqlite#database-backend

We do have longer term plans that would fix this as a side-effect, but this is a limitation of SQLite and the linux permissions model.

[2020-12-11 09:07] #13004 closed

[2020-12-11 10:07] ecerulm commented on #12613
I can work on this

[2020-12-11 11:12] ashb commented on #11042
Done in #12660.

[2020-12-11 11:12] #11042 closed

[2020-12-11 11:31] RosterIn commented on #10641
@mebelousov I think in that case you don't need to duplicate code. you can inherit from PostgresHook and overwrite only the methods that are incomparable.

You hook can be:

[code]

[2020-12-11 12:44] potiuk commented on #11740
This work depends on releasing Airflow 2.0 and #12990 merged.

[2020-12-11 12:47] owlphi opened #13011 "Hook BigQuery: update table not working."
# Problem

I am trying to update my table using the bigquery hook.

bq_hook.update_table(...)

However I got this message:
[code]

# Solution

In the update_table method

I have modified the line https://github.com/apache/airflow/blob/master/airflow/providers/google/cloud/hooks/bigquery.py#L717
from :
`table_object = self.get_client().update_table(table=table, fields=fields)`
to:
 `table_object =

[2020-12-11 12:48] savferrara commented on #12969
Can confirm, same issue with airflow2.0.0rc1 on Kubernetes 1.16 on EKS. With web "sync" worker I can read logs already in S3 (I just added some dummy files for testing) but workers are not writing any new logs into the S3 bucket.

**Airflow version:**
    apache/airflow:2.0.0rc1-python3.8

**Env Variables:**
    AIRFLOW__LOGGING__REMOTE_LOGGING: "False"
    AIRFLOW__LOGGING__REMOTE_LOG_CONN_ID: "m

[2020-12-11 12:53] potiuk commented on #12969
Thanks! I will take a look at this!

[2020-12-11 13:25] #12895 closed

[2020-12-11 14:10] potiuk commented on #11740
Just FYI - once we relase 2.0, this will be part of Airflow 2.0 "cleanup work"

[2020-12-11 14:21] turbaszek commented on #13011
@owlphi would you mind opening a PR?

[2020-12-11 14:22] Hohol opened #13014 "On the page with dag runs, conf values should be double quoted, not single quoted"
![image](https://user-images.githubusercontent.com/2988117/101913462-76fbf600-3bdc-11eb-8634-3dd0aaca6c94.png)
I often want to rerun dag with the same or slightly tweaked conf parameters. So I copy the conf JSON from this page and trigger the dag with it. Except... it's not actually JSON, because it uses single quotes instead of double quotes. This results in "invalid JSON configuration" error.
Is

[2020-12-11 14:24] ashb commented on #13014
Simply because that is showing the Python representation, not JSON.

Given the input is forced to be valid JSON we should show JSON in the output! Would you like to try a PR to fix this? We can help you through the process.

[2020-12-11 14:26] ashb commented on #12995
Check in the stdout/stderr of your celery worker pod -- you may find an error there about unable to connect to database.

Could you also check in the scheduler log files (not pod output) for a traceback -- I think in the `logs/scheduler/latest/<DAG_FILE>` kind of log.

[2020-12-11 14:28] ashb commented on #12995
The other thing to check, if you are on Postgres, is to increase the number of allowed connections, or use pgbouncer.

[2020-12-11 14:37] wyndhblb commented on #12969
Adding some debug logging to things confirms as well, the sessionis being closed before the logger is run.

[code]

[2020-12-11 14:39] Hohol commented on #13014
No, I'm too busy :smile:. Let's hope for another volunteer.

[2020-12-11 14:43] ashb commented on #12272
lodash is never included at runtime in Airflow, so this is a false positive.

[2020-12-11 15:08] owlphi commented on #13011
Hi @turbaszek, I have created the PR: https://github.com/apache/airflow/pull/13018.

[2020-12-11 15:10] wyndhblb commented on #12969
removing the `atexit` here --> https://github.com/apache/airflow/blob/master/airflow/settings.py#L439 allowed the s3 upload to succeed (not a solution, but further verification the session is being disposed before things are truly done)

[2020-12-11 15:19] Alien2150 opened #13019 "Plugins broken with 1.10.14 & Python 3.8"
**Apache Airflow version**: 1.14

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.17

**Environment**:

- **Cloud provider or hardware configuration**: Kubernetes
- **Python Version**: 3.8
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

Plugins will be broken when importlib-metadata is not

[2020-12-11 15:21] kaxil commented on #13019
Just posting the solution here too, install `importlib-metadata` and it should work fine:

[code]

[2020-12-11 15:44] Squigilum commented on #12995
Thank you -- I won't be able to try these out until Monday but I'll let you know what I find.

[2020-12-11 15:49] SevakAvet commented on #12480
I'll take this.

[2020-12-11 16:20] #12769 closed

[2020-12-11 16:23] alxdembo commented on #13014
@ashb I would like to volunteer

[2020-12-11 16:42] #13019 closed

[2020-12-11 16:43] kaxil commented on #13019
The commit for this has been merged to v1-10-test and if we create 1.10.15, this fix would be a part of it. If not, Airflow 2.0 will anyway contain the fix.

Commit: https://github.com/apache/airflow/commit/e75deee11ab8ed626979f1fe3927049a200ab676

[2020-12-11 18:05] cris-b opened #13023 "AttributeError when merging env_from in pod_generator"
**Apache Airflow version**:  1.10.14

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.19.3

**Environment**:

- **Cloud provider or hardware configuration**: Azure
- **OS** (e.g. from /etc/os-release): RHEL8

**What happened**:

In my executor_config I had an env_from. I also wanted to pass some env as secrets but cant do that directly in executor_config so had to u

[2020-12-11 21:37] lgwacker commented on #12881
Seems like a fix is finally on the way https://github.com/snowflakedb/snowflake-connector-python/pull/557

[2020-12-11 21:48] ashb commented on #12881
I'm still not sure _why_ they are even doing such monkeypatching. Does anyone know why they do this?

[2020-12-11 21:53] ashb commented on #13014
@alxdembo Great! Do you need any help or pointers with this?

[2020-12-11 22:10] lgwacker commented on #12881
I read all issues related to that there and never found why they did that...
The main issue was open since June. But with community backlash seems like they started working on it. :pray:

[2020-12-11 22:37] mik-laj commented on #12881
@ashb OCSP support.

[2020-12-11 22:40] rafidka opened #13026 "Scheduler heartbeat adds one second if it is is configured to be 5 or less"
**Apache Airflow version**: 1.10.12

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): N/A

**Environment**:

- **Cloud provider or hardware configuration**: Amazon `r5.4xlarge` EC2 instance.
- **OS** (e.g. from /etc/os-release): Amazon Linux 2
- **Kernel** (e.g. `uname -a`): 5.4.58-37.125.amzn2int.x86_64 (via `uname -r`)
- **Install tools**: N/A
- **Others**: N/A

**Wh

[2020-12-11 23:46] ashb commented on #13026
Could you try this on 2.0.0rc1?

[2020-12-11 23:49] ashb commented on #13026
OH I just saw the nice repro script you gave! Trying this myself.

[2020-12-11 23:52] ashb commented on #13026
This seems  better on 2.0.0rc1:

Testing with 2s (a _bit_ noisy)

[code]

Test with 1s
[code]

So possible we can close this -- but you tell me.

[2020-12-12 00:12] rafidka commented on #13026
It seems much better on Airflow 2.0.0rc1, though -interestingly- with 2s value it is less accurate than with 1s; one would think that 1s should be less accurate because the scheduler loop is more likely to take more than the heartbeat interval. I will give it a try with different values and update the issue with my findings accordingly, but if you feel this is not an issue, feel free to resolve.

[2020-12-12 00:42] tooptoop4 opened #13027 "No such file or directory: '/usr/local/lib/python3.9/site-packages/airflow/customized_form_field_behaviours.schema.json'"
v2.0.0rc1

[code]

[2020-12-12 06:20] potiuk commented on #13027
First of all - python 3.9 is not officially supported yet. But I think I need more information.

Did you install airlfow with sdist package?

@ashb @kaxil - I just checked and it looks like unlike .whl package, the .tar.gz does not contain `customized_form_field_behaviours.schema.json`. I looked at it and seems that while it is in setup.cfg, it is missing in MANIFEST.in. I will fix it now, but I t

[2020-12-12 06:57] potiuk commented on #12881
Yeah. OCSP support was the root cause, but the solution to monkeypatch a library that others use was, well.. offensive. They could have vendoered it in as we did with some other packages in the past

[2020-12-12 09:21] #13027 closed

[2020-12-12 09:30] potiuk commented on #13027
Thanks @tooptoop4 for raising - can you please tell us why you have used sdist not wheel ? What was the reason ?

[2020-12-12 09:57] ashb commented on #12881
Or submitted the patch upstream :)

[2020-12-12 10:05] #11112 closed

[2020-12-12 10:05] #8765 closed

[2020-12-12 10:06] tooptoop4 commented on #13027
@potiuk I just did python3 -m pip install https://dist.apache.org/repos/dist/dev/airflow/2.0.0rc1/apache-airflow-2.0.0rc1-bin.tar.gz.  I am using MacOs BigSur 11.0.1

[2020-12-12 10:09] cris-b commented on #13003
this is only relevant to 1.10.x, in 2.0 there is this code in construct_pod which stops the problem:

        try:
            image = pod_override_object.spec.containers[0].image  # type: ignore
            if not image:
                image = kube_image
        except Exception:  # pylint: disable=W0703
            image = kube_image

[2020-12-12 10:20] cris-b commented on #13023
Broken by [ #10366 ]

[2020-12-12 10:23] tooptoop4 commented on #13027
@potiuk is it expected that docs link from airflow ui is broken? maybe expected if v2 not released

[2020-12-12 10:25] ashb commented on #13027
Yeah, that's expected until 2.0.0 is released and we publish the docs

[2020-12-12 10:26] ashb commented on #13027
Ahhh - it's not using the wheel because you gave it an explicit URL :)

[2020-12-12 10:49] potiuk commented on #13027
Yeah!  So this is not a common thing :)

[2020-12-12 11:01] #12970 closed

[2020-12-12 11:28] tooptoop4 commented on #13027
@ashb are 'dynamic dags' (ie https://bigdata-etl.com/apache-airflow-create-dynamic-dag/ but with a single .py creating many different dagids) supported with fully serialized dags (ie scheduler reading from the db instead of parsing the .py)?

[2020-12-12 11:30] ashb commented on #13027
I haven't explicilty tested _that_ case, but yes should be -- the scheduler loop never touches DAG files itself; it only uses the database.

[2020-12-12 13:56] jrderuiter commented on #8804
Would be interesting to implement this using fsspec (https://filesystem-spec.readthedocs.io/en/latest/). A single fsspec hook would provide an interface to all filesystems supported by fsspec, which includes Azure Blob/GDL2, S3 and GCS. You also get others like FTP and SFTP for free too (https://filesystem-spec.readthedocs.io/en/latest/api.html#implementations).

[2020-12-12 14:48] #10469 closed

[2020-12-12 14:48] mik-laj commented on #10469
Is is done.

[2020-12-12 17:23] andres-lowrie opened #13034 "add an "import" `[-i FILEPATH]` to `airflow connections` cli command"
**Description**

This would allow users to create a bunch of connections at once from a file.

**Use case / motivation**

I think having some parody between the _connections_ and _variables_ commands could be beneficial and provide a more pleasant UX for cli users.

For example when I did `airflow connections -h` and didn't see a `-i` it felt weird seeing as how this is possible for variables.

So

[2020-12-12 20:52] alxdembo commented on #13014
Thanks! Will use documentation and Slack if any.

[2020-12-13 01:13] alxdembo commented on #13014
@Hohol which version is it? Don't see Conf column in 1.10 anymore

[2020-12-13 08:38] Hohol commented on #13014
@alxdembo it's `1.10.12`

[2020-12-13 12:50] JCoder01 opened #13044 "Task Group: Node order changes after collapse"
**Apache Airflow version**: 2.0.0rc1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

The order of the nodes changes when expanding and collapsing task groups:
Before:
![image](

[2020-12-13 14:36] ranamit112 opened #13045 "Airflow constraints file constraints-1.10.7/constraints-3.7 incorrect constraints preventing install"
**Apache Airflow version**: 1.10.7

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): N.A.

**Environment**:

- **Cloud provider or hardware configuration**: N.A.
- **OS** (e.g. from /etc/os-release): Red Hat Enterprise Linux Server 7.6 (Maipo)
- **Kernel** (e.g. `uname -a`):  3.10.0-957.35.2.el7.x86_64
- **Install tools**: pip, python3.7
- **Others**:

**What happened*

[2020-12-13 14:41] turbaszek commented on #13044
CC @yuqian90

[2020-12-13 14:41] turbaszek commented on #13044
Thanks @JCoder01, as I understand this is not a "real bug" but just an unpleasant UX, right?

[2020-12-13 15:05] JCoder01 commented on #13044
@turbaszek Yeah, there is nothing wrong with the functionality. It's just a tad annoying when things move around.

[2020-12-13 15:55] #10641 closed

[2020-12-13 15:59] potiuk commented on #13045
Thanks for reporting this. I will leave it for reference to anone that will try to install Airflow 1.10.7, however our recommendation is to move forward with 1.10.14 (bridge release for 2.0) with the goal of moving to 2.0 a. This is the release where constraints have been finally solved once and for all (also in the 2.0 version) and we highly recommend migrating to 2.0. 2.0.0rc2 is being voted and

[2020-12-13 15:59] #13045 closed

[2020-12-13 19:41] dstandish opened #13046 "installation of simplejson breaks airlfow webserver 2.0.0rc2"
Version 2.0.0rc2

To reproduce:
1. `pip install apache-airflow==2.0.0rc2`
2. `pip install simplejson`
3. run webserver
4. open in browser and observe following error

Error:
[code]

[2020-12-13 19:53] potiuk opened #13047 "Occasional "KeyError" in dag_processing"
**Apache Airflow version**: 2.0.0rc2
**Environment**: Breeze with example dags, Python 3.8 postgres.
- **OS** (e.g. from /etc/os-release): Linux
- **Kernel** (e.g. `uname -a`): Breeze CI image
- **Install tools**: Breeze:
- **Executor**: LocalExecutor
[code]

**What happened**:

When testing airflow logging I occasionally stumble upon "KeyError' from `dag_procesing.py`. I am not sure exactly when

[2020-12-13 19:54] XD-DENG commented on #13046
This should not be considered as a bug.

`simplejson` implements `JSONEncoder` in incompatible way from the `JSONEncoder` of Python built-in standard library `json` (which is used by Airflow). Meanwhile, `simplejson` is NOT Airflow's dependency.

This should  not be considered as Airflow's bug, especially we assume different applications should be installed in isolated virtual envs.

[2020-12-13 19:55] potiuk commented on #13047
Summoning @ashb here. Not sure how serious it is, maybe this is only a warning and we can release without solving it ?

[2020-12-13 20:07] potiuk commented on #12969
Confirmed in my tests with LocalExecutor seems that "close()" method is never called when the task finishes.

[2020-12-13 20:13] ashb commented on #13047
From what I've read here I think it's non fatal - the dag processor is no longer "critical", and we can dig to the bottom of this for 2.0.x

[2020-12-13 20:14] dstandish commented on #13046
Is this really an assumption?  Airflow is a both an app and a development framework.  We do provide PythonVirtualenvOperator, but most operators are not in virtualenv.  And users routinely make custom operators, installing additional dependencies alongside airflow.

And if your operator uses a library which installs simplejson, you will break airflow.

Are we also sure that, among all the provider

[2020-12-13 20:14] ashb commented on #13047
Can you check in all the other log files and see if we can an error anywhere

[2020-12-13 20:17] XD-DENG commented on #13046
For the cases you listed, _webserver_ is not involved. To what I understand from the issue you shared earlier above, it's only "conflicting" with _webserver_, not _executor_ or _LocalJob_, etc.

[2020-12-13 20:19] dstandish commented on #13046
Generally speaking airflow webserver uses same exact `requirements.txt` file or docker image as scheduler.  But this is interesting idea -- maybe we can make it so webserver refuses to import simplejson even if it exists 🤔