[2021-06-22 15:12] KIRY4 commented on #16202
Same issue. Airflow on AKS with AD (LDAP) integration. Buttons are disappeared in 2.1.0.

[2021-06-22 15:52] penggongkui commented on #13911
@eladkal Would you mind move this issue to milestone 2.1.1(it seams the version is going to release). I have waited for this feature for a really long time(about a half of year) 😄

[2021-06-22 15:58] ecerulm commented on #16551
Before I go any further:

The current error comes from `tz = pendulum.timezone(self.timezone.name)` at [dag.py](https://github.com/apache/airflow/blob/2a59de3e558e3b60caad876dee8fa4b43a7a17cf/airflow/models/dag.py#L506-L507)

If we just convert the `start_date` to pendulum with `pendulum.instance(start_date)` it fail instead with a `pendulum.tz.zoneinfo.exceptions.InvalidTimezone: Invalid timezone

[2021-06-22 16:25] eladkal commented on #13911
The milestone will be set by the release manager when the PR is merged.

[2021-06-22 17:08] jianqiuhuang opened #16597 "Airflow logging secrets masker assumes dict_key is type `str`"
**Apache Airflow version**: 2.1.0

**What happened**:
Airflow logging assume dict_key is type `str`
[code]

**How to reproduce it**:
Define a dictionary where the type of keys is `int` and print it in any Airflow tasks.

[2021-06-22 17:14] ebuitragod opened #16598 "Problem runing it locally once uninstalled and then re-installed"
**Apache Airflow version**:

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know**:

[2021-06-22 17:17] ebuitragod commented on #16598
pache Airflow version:

Kubernetes version (if you are using kubernetes) (use kubectl version):

Environment:

Cloud provider or hardware configuration:
OS (e.g. from /etc/os-release):
Kernel (e.g. uname -a):
Install tools:
Others:
What happened:
I uninstalled airflow and then reinstalled accordingly with thte documentations.
What you expected to happen:
Once I ran the the server it broke
How to r

[2021-06-22 17:27] ecerulm commented on #16551
So it seems that currently the requirements for the `dag.timezone` are
* it has to have a `name` attribute , so it must be a `pendulum.tz.timezone.*`
* It has to have a `name`  that resolve to a "named timezone" like (`Europe/Stockholm`, `UTC`, etc)  and it can't be a FixedOffset like `+00:00`,  this show in serialization/deserialization for example. You can serialize the dag but it won't be able

[2021-06-22 17:34] eladkal commented on #16155
It's not a critical message.
duplicate of https://github.com/apache/airflow/issues/10331

[2021-06-22 17:34] #16155 closed

[2021-06-22 17:34] eladkal commented on #10331
Adding 2.1 label due to report of https://github.com/apache/airflow/issues/16155

[2021-06-22 17:42] eladkal commented on #16506
How did `DummyOperators` solved it? `ShortCircuitOperator` ignores trigger rules (see https://github.com/apache/airflow/issues/7858 )

[2021-06-22 18:34] SimonOsipov opened #16600 "Pod naming ignores dashes and underscores"
**Apache Airflow version**:
2.0.2

**Kubernetes version (if you are using Kubernetes)** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.11", GitCommit:"c6a2f08fc4378c5381dd948d9ad9d1080e3e6b33", GitTreeState:"clean", BuildDate:"2021-05-12T12:27:07Z", GoVersion:"go1.15.12", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1",

[2021-06-22 18:54] potiuk commented on #16597
should be easy to fix by str()

[2021-06-22 18:58] potiuk commented on #16456
Kind ping again. Last chance to do some testing before we release.

@JavierLopezT @mmenarguezpear @Junnplus @codenamestif @gabrielsyapse @uranusjr @Dr-Denzy @jpyen @jacobhjkim @zachliu @thejens @p-kachalov @sunki-hong @sjvanrossum @subkanthi @avocadomaster @jlaneve @sunkickr @malthe @yesemsanthoshkumar  @Visya @andrewgodwin @dimberman @msumit @grassten @pgillet @dstandish @sfc-gh-madkins @ngaranko

[2021-06-22 19:17] jedcunningham commented on #16600
I understand it wasn't what you were expecting, but is this causing an issue for you?

[2021-06-22 19:31] JavierLopezT commented on #16456
Hello. Regarding https://github.com/apache/airflow/pull/13796, I did make a quick test before merging the PR (the file was there and was not empty) but I can't make a deeper test for health reasons. I am sorry

[2021-06-22 19:41] ashb commented on #16600
Pod names need to be valid DNS labels, and so _can't_ have underscores in them anyway https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#dns-label-names.

We could make it more legabile by having `_` -> `-`, and then also separating as OP suggestes

[2021-06-22 19:57] jedcunningham commented on #16598
Have you run [airflow db init](https://airflow.apache.org/docs/apache-airflow/stable/cli-and-env-variables-ref.html#init) or (since you are reinstalling) [airflow db reset](https://airflow.apache.org/docs/apache-airflow/stable/cli-and-env-variables-ref.html#reset)?

[2021-06-22 20:14] SimonOsipov commented on #16600
Our organization has a certain set of rules for object naming in GKE. And when someone from the admin team looks over our namespace, it is a bit hard to read without any spaces or space replacer. Having `_` -> `-` would be sufficient, imho.

[2021-06-22 20:28] SimonOsipov commented on #16600
https://github.com/apache/airflow/blob/129fc61a06932175387175b4c2d7e57f00163556/airflow/kubernetes/kubernetes_helper_functions.py#L28-L40

I can't understand from the code and link, why strip from dashes `-`?

[2021-06-22 20:41] ngaranko commented on #16456
#14701 works as expected.

[2021-06-22 20:49] #16597 closed

[2021-06-22 21:38] ashb commented on #16600
I _suspect_ dashes are stripped cos of a mistake/misunderstanding

(Or it was cludge to stop things _ending_ in a dash maybe?)

[2021-06-22 21:43] uranusjr commented on #16600
The docstring seems to suggest the original author knew, but didn’t want to deal with edge cases in the rules, and just took the simplest route by removing everything.

[2021-06-22 21:55] potiuk commented on #16456
No worries! thanks for your contributions so far @JavierLopezT !

[2021-06-22 21:57] uranusjr commented on #16551
Where exactly is this raised? `pendulum.instance()` seems to work with `datetime.timezone` for me:

[code]

I’m using pendulum 2.1.2 (as specified in the official constraints).

[2021-06-22 23:36] ecerulm commented on #16551
It will be raised later at `pendulum.timezone(self.time zone.name)`

So the following will raise InvalidTimezone:
[code]

because the pendulum's instance timezone will be Timezone("+00:00") with `.name=="+00:00"` and that's not a valid timezone name according to `pendulum.timezone()`.

So in essence `pendulum.timezone("+00:00")` raises the exception.

But anyway I just removed the usage of `pendul

[2021-06-22 23:51] uranusjr commented on #16551
If we coerce the datetime object in `__init__`, we can remove the later timezone type coercion we have right now. `pendulum.instance(start_date).tzinfo` is already a `pendulum.Timezone` and don't need to be converted again.

[2021-06-23 00:50] david30907d commented on #16163
I bumped into this issue and I misunderstood until now 😅
thanks for pointing out it's okay to wait

[2021-06-23 01:00] thesuperzapper commented on #11979
In the`airflow-helm` chart, we implemented a value to fix this called [helmWait](https://github.com/airflow-helm/charts/blob/main/charts/airflow/values.yaml#L1-L3), it just removes the [post-install hook](https://github.com/airflow-helm/charts/blob/airflow-8.3.0/charts/airflow/templates/jobs/job-upgrade-db.yaml#L5-L13) from our db migration job.

However this can result in an issue with "field is

[2021-06-23 01:27] Kiollpt commented on #16578
@eladkal  I haven't tested it with that version.

[2021-06-23 01:31] zhangyi-hu opened #16608 "Please consider renaming function airflow.utils.dag_cycle_tester.test_cycle to check_cycle"
**Description**

function test_cycle will be collected by pytest if this function is imported in a user-defined test.
Such an error will be emitted as pytest will treat it as a test.
[code]

**Use case / motivation**
This can be simply "fixed" by renaming this function to check_cycle although the user can do it upon importing this function.
This change by airflow will reduce the amount of surprise

[2021-06-23 02:10] ecerulm commented on #16551
Yes, and you will get rid of InvalidTimezone at `DAG.following_schedule()` and `DAG.previous_schedule()` but it will still raise InvalidTimezone on dag deserialization. So it's actually detrimental to coerce to pendulum.

[2021-06-23 03:07] cvsekhar commented on #12823
Hi, that works perfect with azurefileshare thank you for the quick fix.

[2021-06-23 03:42] SamiRehmanNostra opened #16610 "Dag Dependency page not showing anything"
**Apache Airflow version**: 2.1.

**Environment**: Ubuntu 20.04

- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): UBUNTU 20.04 LTS
- **Kernel** (e.g. `uname -a`): Linux 20.04.1-Ubuntu SMP Tue Jun 1 09:54:15 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux
- **Install tools**: python and pip

**What happened**: After performing the upgrade from 2.0.2 to 2.10 using th

[2021-06-23 03:48] dimon222 opened #16611 "Pod name with period is causing issues for some apps in k8s"
**Apache Airflow version**: 2.0.0+

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): All versions affected

**Environment**:
It affects all possible host configurations. The issue impacts KubernetesPodOperator.
What scripts will actually be affected inside of KubernetesPodOperator container - big question. In my scenario it was locally executed **Apache Spark**.

**Wha

[2021-06-23 04:09] SamiRehmanNostra commented on #16202
I just raised the exact same issue, I'll delete my issue but I'll leave the details here:

**Apache Airflow version**: 2.1.

**Environment**: Ubuntu 20.04

- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): UBUNTU 20.04 LTS
- **Kernel** (e.g. `uname -a`): Linux 20.04.1-Ubuntu SMP Tue Jun 1 09:54:15 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux
- **Install tools**:

[2021-06-23 09:57] potiuk commented on #16456
Callng for last vote so last chance to test before we release.
@mmenarguezpear @Junnplus @codenamestif @gabrielsyapse @uranusjr @Dr-Denzy @jpyen @jacobhjkim @zachliu @thejens @p-kachalov @sunki-hong @sjvanrossum @subkanthi @avocadomaster @jlaneve @sunkickr @malthe @yesemsanthoshkumar @Visya @andrewgodwin @dimberman @msumit @grassten @pgillet @dstandish @sfc-gh-madkins @ashb @tegardp

[2021-06-23 10:06] ecerulm opened #16613 "InvalidTimezone exception if DAG's start_date timezone is "+00:00""
**Apache Airflow version**: 2.0.2

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

[code]

**What you expected to happen**:

The DAG holds a reference to the DAG's `start_date.t

[2021-06-23 10:57] XiaoXin101 commented on #15335
Is it necessary to upgrade?

[2021-06-23 11:17] uranusjr commented on #16608
All changes are done via PR (even the core maintainers), so one will be needed either way, small or not. Also this may not be as small as you imagine since Airflow has pretty strict backwards compatibility rules, so we can’t just make the old name unavailable, but need to do some tricks to keep the old name available (e.g. using PEP 562 `__getattr__`).

[2021-06-23 11:27] kevsjh commented on #14249
@Qiuzhuang Setting the default_timezone=utc works.

Not sure why when default_timezone is set to Asia, the dag test does not work

[2021-06-23 11:29] potiuk commented on #16608
Yeah @zhangyi-hu, it would be great you make PR. PR is a must as @uranusjr mentioned. This change is probably not worth creating issue though, but PR is most welcome. Shall I assign it to you @zhangyi-hu ?

[2021-06-23 11:42] zhangyi-hu commented on #16608
Sure, give it to me : )

On Wed, Jun 23, 2021, 7:30 AM Jarek Potiuk ***@***.***> wrote:

[2021-06-23 11:44] uranusjr commented on #13911
This will likely be released in 2.2. 2.1 has already split out of main, and 2.1.1 will be released from that branch.

[2021-06-23 11:44] uranusjr commented on #13911
Also, since the PR has been merged, should this issue be closed/

[2021-06-23 11:48] ahazeemi commented on #14896
@damon09273 Were you able to resolve this issue?

[2021-06-23 11:49] carlinix commented on #15607
I'm getting the same error. My dags are dynamic.

[2021-06-23 11:50] #12823 closed

[2021-06-23 11:51] potiuk commented on #15335
Yes. And it's generally advised to upgrade to latest 2.* version. We are following SemVer versioning and 2.* releases are backwards compatible to install. Also the security fixes in the future will be applied to latest minor release, so it is generally advised to upgrade to latest minor release as soon as possible.

We have the whole discussion panel about it at Airflow Summit next month: Highly r

[2021-06-23 12:17] raajpackt opened #16614 "Connection password not being masked in default logging"
[code]

The second line prints out my connection details including the connection password in Airflow logs. Earlier connection passwords were masked by default.

https://airflow.apache.org/docs/apache-airflow/stable/_modules/airflow/hooks/base.html

The above statement is run for logging. Is there a way to disable to logging to not print Connection password in my logs?

[2021-06-23 12:41] #13911 closed

[2021-06-23 12:50] #16039 closed

[2021-06-23 13:01] kaxil commented on #15607
@carlinix @hsnprsd Which Airflow version? Can you give us an example of how you generate DAGs for us to reproduce

[2021-06-23 14:31] #16551 closed

[2021-06-23 15:58] chriskessel opened #16616 "Can't use sftp connection defined in environment variables"
I'm using the S3Hook, passing it a connection id and for some reason it's not able to find it if that connection is defined as an environment variable.

[code]
[code]

The connection is definitely there, I can see it if I use the CLI to `get connections sftp_local`
[code]

I'm using other environment variables for connections (AWS Athena/S3 connections) and they work, so I'm not sure if I'm doing

[2021-06-23 16:15] potiuk commented on #16616
Are you sure you have the env variable it defined in the worker where you run the tasks?

[2021-06-23 17:04] chriskessel commented on #16616
I'm fairly sure, I kill the docker process, rm the container, and restart it (via docker-compose.yml) before each usage as I've been testing. I even bashed into the worker and looked at the env vars and it was there. Which was no surprise, that's why the airflow CLI found it.

I blew away the complete airflow docker setup, blew away the containers and images. Restarted everything...and now it work

[2021-06-23 17:04] #16616 closed

[2021-06-23 17:36] potiuk commented on #16616
Well. I stopped counting the times I was sure about something I did  - about 20 years ago ;). It helps.

[2021-06-23 17:45] zhangyi-hu commented on #16608
Is it a good idea to make test_cycle a wrapper of check_cycle and at the same time emit a Deprecation Warning?

[2021-06-23 17:51] potiuk commented on #16608
Yep

[2021-06-23 17:58] zhangyi-hu commented on #16608
Any suggestion on which Release version number I should put here?
warn("Will be deprecated after Release ###, please use check_cycle from the same module instead.", DeprecationWarning)

[2021-06-23 18:02] potiuk commented on #16608
Don't. Just deprecate. We are very strictly following SemVer as of 2.0 and it will get dropped at 3.0 (but this is a given): https://github.com/apache/airflow/blob/main/README.md#semantic-versioning

[2021-06-23 18:54] #16520 closed

[2021-06-23 19:06] josh-fell opened #16618 "Access specific values within an `XCom` value using Taskflow API"
**Description**
Currently the `output` property of operators doesn't support accessing a specific value within an `XCom` but rather the _entire_ `XCom` value.  Ideally the behavior of calling the `XComArg` via the `output` property would function the same as the `task_instance.xcom_pull()` method in which a user has immediate access the `XCom` value and can directly access specific values in that

[2021-06-23 20:06] potiuk commented on #16614
unless you have custom logging configuration, the connection credentials should be masked by default: https://airflow.apache.org/docs/apache-airflow/stable/security/secrets/index.html?highlight=masking#masking-sensitive-data

Can you share more info please on your logging configuration and fields that seem to be not masked cc: @ashb

[2021-06-23 21:46] chrisrfu commented on #15954
I ended up upgrading to 2.1.0 and it kind of solved itself

[2021-06-23 22:22] #14770 closed

[2021-06-23 22:50] jdonnelly-apixio opened #16620 "additional spark on k8s operator sensor for sparkapp log tail -f"
**Description**
I think it would be useful to have an additional sensor (or.. I'm not certain if it should be a sensor or something else) that would `tail -f` the spark app log. That log output in the airflow ui would make it a more user friendly way to see what the app is up to or why it failed.

The current poke sensor is here:
https://github.com/apache/airflow/blob/main/airflow/providers/cncf/k

[2021-06-23 22:52] zhangyi-hu opened #16621 "Open up breeze container ssh access to support IDE remote development"
**Description**

The breeze container is the preferred way of development setup since it provides a full-fledged and isolated environment. However, breeze container is not very suitable for development with IDE.

**Use case / motivation**

My IDEs actually support remote development and the only additional requirement is for a host to support ssh connection.
We can make breeze container support ss

[2021-06-23 23:16] raefezzeldin opened #16622 "GitSync SubPath configuration is not workibg"
When I try to enable GitSync to sync dags from private repo on Github using HTTPS , Username and PAT. it keeps synscing the whole repo , ignoring my subPath configuration and always create this folders in dags folder:

![image](https://user-images.githubusercontent.com/1645929/123010719-74fec500-d3bf-11eb-84c3-d972ec8ec3d7.png)

  dags:
    gitSync:
      repo: "https://XXXXXXXXs"
      subPath: "

[2021-06-24 00:13] zhangyi-hu commented on #16621
Will create a PR from branch: https://github.com/zhangyi-hu/airflow/tree/breeze_container_ssh_remote_debugging after https://github.com/apache/airflow/pull/16617 is merged.

[2021-06-24 02:40] mdianjun commented on #9134
@subkanthi Hello，is there any progress on this issue?

[2021-06-24 06:40] jjyxi commented on #16622
https://www.maconnerie-landes-pays-basque.fr/ /nike tribute veste
https://www.max-sidney.fr/ /masque d horreur a imprimer
https://www.cpe-beton-dellatti.fr/ /batterie ducati monster 900 ie
https://www.domoconfig.fr/ /chaussures de sécurité facom
https://www.senteursparc.fr/ /casquette nike de golf
https://www.monvela.com/ /tumbona terraza ikea
https://www.umrohpersada.com/ /nike sb stefan janoski

[2021-06-24 07:32] #16622 closed

[2021-06-24 07:37] luqic opened #16625 "Task is not retried when worker pod fails to start"
**Apache Airflow version**: 2.0.2

**Kubernetes version**:
[code]

- **Cloud provider or hardware configuration**: GKE

**What happened**:

After the worker pod for the task failed to start, the task is marked as failed with the error message `Executor reports task instance <TaskInstance: datalake_db_cdc_data_integrity.check_integrity_core_prod_my_industries 2021-06-14 00:00:00+00:00 [queued]> fin

[2021-06-24 07:46] ChethanUK commented on #9134
Working on this, will send PR soon

[2021-06-24 08:15] potiuk commented on #16621
Nice :)

[2021-06-24 08:53] alexInhert opened #16627 "add more filter options to list_keys of S3Hook"
The hook has [list_keys](https://github.com/apache/airflow/blob/c8a628abf484f0bd9805f44dd37e284d2b5ee7db/airflow/providers/amazon/aws/hooks/s3.py#L265) allow to filter by prefix it would be nice to be able to filter by creation date of file or last modified date. ideally I think it would be nice if the function can support any kind of filter that boto3 allows.

The use case is that for the moment

[2021-06-24 09:22] divyeshransariya commented on #15318
@jhtimmins @alexInhert  Do you guys know how to modify permission for a given role using CLI?

[2021-06-24 11:54] ignacioparicio commented on #10435
I got the same error on an EC2 instance with Ubuntu 20.04, Airflow 2.1.0, scheduler running locally. The cause was insufficient memory. I diagnosed it by running `sudo dmesg`:
[code]

[2021-06-24 12:59] #11011 closed

[2021-06-24 13:20] sicarul commented on #15279
Hey y'all, i'm having the same issue now, but i found a workaround, you can use this awk command to delete the newlines in the Bash command:

`my_cool_command | awk NF`

In case you have the same problem as i did (In my case it happens with running dbt, which puts empty newlines for styling between it's messages)

Have a great day!

[2021-06-24 13:33] potiuk commented on #16426
Just a merge away : https://github.com/apache/airflow/pull/15515

[2021-06-24 13:49] josh-fell commented on #10285
@mik-laj @potiuk @turbaszek Would you all also like to see `PythonOperator` use be converted to using the `@task` decorator or would that kind of update be considered out of scope for the enhancement?

[2021-06-24 14:07] afischer-opentext-com commented on #15279
Another approach is to wrap the LogHandler into something like this:

[code]

[2021-06-24 14:55] cchicote commented on #12136
Hi everyone,

Updating my MWAA environment from Airflow 1.10.12 to Airflow 2.0.2 along with the configuration of log levels to INFO for the task and the worker on the MWAA environment allowed me to get the logs of my tasks on the Airflow UI, and to keep getting them after 4 hours ! (issue that @ausiddiqui encountered)

To test it, i configured this pod that i let run for a little bit more than 24h

[2021-06-24 15:25] sicarul commented on #15279
I just saw that a new version of apache-airflow-providers-amazon was released (2.0.0) with an updated watchtower, i'll test it later :smile:

[2021-06-24 15:29] Jorricks commented on #12301
Proposed the corresponding change here #16634

[2021-06-24 15:30] josh-fell opened #16635 "Update `airflow.models.baseoperator.chain()` function to support XComArgs"
**Description**
The `airflow.models.baseoperator.chain()` is a very useful and convenient way to add sequential task dependencies in DAGs but the function only supports tasks of a `BaseOperator` type.

**Use case / motivation**
Users who create tasks via the `@task` decorator will not be able to use the `chain()` function to apply sequential dependencies that do not share an `XComArg` implicit dep

[2021-06-24 16:00] potiuk commented on #10285
I think this could be done as extra task afterwards

[2021-06-24 17:07] kono10 commented on #12396
Can we reopen this issue? I'm having the same problem.

[2021-06-24 17:27] #15748 closed

[2021-06-24 17:29] SimonOsipov commented on #16600
I added PR, adding back dashes in the naming.

[2021-06-24 17:38] jvaca92Code opened #16637 "KubernetesPodOperator gets automatically shifted ended time"
**Apache Airflow 1.10.12**:

**Kubernetes version 1.17.9**:

**Environment**:

- **Cloud provider or hardware configuration**:  Azure AKS

**What happened**:
On our environment we try to run dag multiple KubernetesPodOperator tasks which are not deployed in cluster where the Airflow instances have run but in the other Openshift cluster with different kube config. Every manual run some of the task

[2021-06-24 18:04] potiuk commented on #12396
Can you please open a new issue @kono10 and add all the logs etc. If you have it in 2.1.0 almost for sure some details changed and in order to investigate, we need "fresh" information (1.10.12 has been already in End of Life and the codebase is vastly different).

[2021-06-24 18:05] #16608 closed

[2021-06-24 18:36] potiuk commented on #16621
The #16617 merged. Looking forward to the SSH/Breeze one

[2021-06-24 18:58] fjmacagno opened #16638 "Search by Owner in task instances view"
**Description**

It should be possible to search for task instances by the owner.

**Use case / motivation**
Specifically i want to search for failures of tasks owned by a team, which is easier than keeping a list of dags.

**Are you willing to submit a PR?**

Not at this point, but if i have spare time someday...

**Related Issues**

[2021-06-24 19:07] #16591 closed

[2021-06-24 19:18] gunplun opened #16640 "Load Entrypoint Plugins Before Directory Plugins"
https://github.com/apache/airflow/blob/ffb1fcacff21c31d7cacfbd843a84208fca38d1e/airflow/plugins_manager.py#L291-L292
Currently, entrypoint plugins are loaded after plugins directory plugins. If there's not a specific reason for this ordering, I think these should be reversed.

For example, if I have a custom operator `MyOperator` that I want to derive from another developer's custom operator `Thei

[2021-06-24 19:26] gunplun opened #16641 "Load Entrypoint Plugins Before Directory Plugins"
**Description**

Load entrypoint plugins before plugins directory plugins

**Use case / motivation**

https://github.com/apache/airflow/blob/ffb1fcacff21c31d7cacfbd843a84208fca38d1e/airflow/plugins_manager.py#L291-L292
Currently, entrypoint plugins are loaded after plugins directory plugins. If there's not a specific reason for this ordering, I think these should be reversed.

For example, if I ha

[2021-06-24 19:40] El-Carverino commented on #16025
We have the same (or similar) setup, using Airflow on AWS ECS Fargate containers, and I had a very similar ambiguous issue, with the webserver container just exiting/crashing, without really providing any useful info in the logs. Specifically, it started happening after upgrading from Airflow v1.13 (where this setup worked fine) to Airflow v2.1. And the logs seemed to suggest that it was related t

[2021-06-24 20:54] ashb commented on #12396
This might already be fixed by https://github.com/apache/airflow/pull/16289 -- which sadly we didn't include in 2.1.1, it'll be in 2.1.2

[2021-06-24 21:05] yashbaldawa-okta opened #16643 "Airflow 2.0.0 Docker Image Not working with MySQL RDS 5.7.34 or higher"
**Apache Airflow version**: Airflow Docker Image 2.0.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): None. Using docker.

**Environment**: Trying to instantiate the servers locally on Mac (16 GB RAM, i9) MacOS Mojave

- **Cloud provider or hardware configuration**: Mac
- **OS** (e.g. from /etc/os-release): Mojave
- **Kernel** (e.g. `uname -a`): -
- **Install tools*

[2021-06-25 00:04] #15368 closed

[2021-06-25 01:48] potiuk commented on #16643
Unless you provide .ore information and logs, there is no way we can help here. You need to describe the exact deployment you have and analyse the log files that should state error that you are receiving.

[2021-06-25 01:48] #16643 closed

[2021-06-25 01:49] potiuk commented on #16643
Closing untill more details are provided.

[2021-06-25 02:06] enriqueayala opened #16646 "Tree view - Skipped tasks showing Duration"
**Apache Airflow version**: 2.1.0

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
PRETTY_NAME="Debian GNU/Linux 10 (buster)"
NAME="Debian GNU/Linux"
- **Kernel** (e.g. `uname -a`):
Linux airflow-scheduler-647d744f9-4zx2n 4.14.138-rancher #1 SMP Sat Aug 10 11:25:46 UTC 2019 x86_64 GNU/Linux
- **Install tools**:
- **Others**:

**What happened*

[2021-06-25 04:55] uranusjr commented on #16640
You can close this issue if you feel #16641 covers the topic better—or close #16641 otherwise, just keep one open, either way.

[2021-06-25 05:04] uranusjr commented on #16641
It is more idiomatic Python to import from the actual plugin instead. An operator is just a class and unrelated to the plugin interface, and [the `airflow.operators` is not even available anymore](https://airflow.apache.org/docs/apache-airflow/stable/plugins.html) since Airflow 2.0.

[2021-06-25 06:27] NiklasBeierl opened #16649 "Edit on Github button is brocken."
**Apache Airflow version**: Guess the most recent

**Environment**: The documentation website

**What happened**:

Clicking the "Suggest a change on this page" button in the doc pages leads to a 404".
Tested on:
https://airflow.apache.org/docs/apache-airflow/stable/license.html
https://airflow.apache.org/docs/apache-airflow/stable/configurations-ref.html

**What you expected to happen**:

Getting

[2021-06-25 07:13] potiuk commented on #16649
Thanks. Already reperted and fixed but needs documentation release. It already works for providers, now it needs airflow 2.1.1 to get fixed

[2021-06-25 07:22] Jeoffreybauvin opened #16651 "WebHDFS : why force http ?"
**Apache Airflow version**: 2.0.1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): Server Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.2", GitCommit:"faecb196815e248d3ecfb03c680a4507229c2a56", GitTreeState:"clean", BuildDate:"2021-01-13T13:20:00Z", GoVersion:"go1.15.5", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:

- **Cloud provider or h

[2021-06-25 08:02] #16621 closed

[2021-06-25 08:09] fernhtls commented on #9722
I'm seeing a similar behaviour, but on checking the scheduler / parse logs i see the following:

[code]

**ps: have redacted a few pieces of the paths and file names**

Have tried to push a PYTHONPATH env var and it didn't help.

We are using **DAG Seralization** with the following parameters:

[code]

Airflow version 2.1.0, and we are using the apache-helm chart.

[2021-06-25 09:22] potiuk commented on #16651
Feel free to make a PR to fix it @Jeoffreybauvin ! Shall I assign you the issue ?

[2021-06-25 09:38] potiuk commented on #16649
But this is a good point that you raised it. I also made a new change to independently fix it for all the already released docs: https://github.com/apache/airflow-site/pull/440

[2021-06-25 09:44] acarmisc commented on #16564
thank you all! Do you have an eta or an usual timing to share?

[2021-06-25 11:16] #16649 closed

[2021-06-25 12:37] JavierLopezT opened #16654 ""Suggest a change on this page" button bug/change request"
Coming from google to the following web: https://airflow.apache.org/docs/apache-airflow-providers-amazon/stable/_api/airflow/providers/amazon/aws/hooks/s3/index.html

The button 'Suggest a change on this page' doesn't work, it leads you to https://github.com/apache/airflow/edit/main/docs/apache-airflow-providers-amazon/_api/airflow/providers/amazon/aws/hooks/s3/index.rst
<img width="866" alt="Capt

[2021-06-25 12:39] JavierLopezT commented on #16544
I agree with that

[2021-06-25 12:39] potiuk commented on #16654
Yep. Agree. The API documentation is automatically generated and the "suggest a change" button makes no sense there. Maybe you could try to figure out how to remove it @JavierLopezT and make a PR to fix it ? @mik-laj might provide some hints.

[2021-06-25 12:44] JavierLopezT opened #16655 "Can't select version of the hook in hooks docs"
https://airflow.apache.org/docs/apache-airflow-providers-amazon/stable/_api/airflow/providers/amazon/aws/hooks/s3/index.html
https://airflow.apache.org/docs/apache-airflow/1.10.14/_modules/airflow/hooks/S3_hook.html
http://airflow.apache.org/docs/apache-airflow-providers-mongo/stable/_api/airflow/providers/mongo/hooks/mongo/index.html

<img width="868" alt="Captura de pantalla 2021-06-25 a las 14

[2021-06-25 13:18] potiuk commented on #16655
Similar to #16654 PRs to fix it are most welcome :)

[2021-06-25 13:18] potiuk commented on #16655
Thanks for reporting @JavierLopezT !

[2021-06-25 13:36] #16456 closed

[2021-06-25 14:22] potiuk commented on #16426
Merged!

[2021-06-25 14:22] #16426 closed

[2021-06-25 14:23] gunplun commented on #16640
Closed because duplicated by #16641

[2021-06-25 14:23] #16640 closed

[2021-06-25 14:31] mtrovo opened #16657 "Display operator details on the Instance Details page"
**Description**

Provide a way to display operator details on the Instance Details page

**Use case / motivation**

I have some custom operators that produces output (a report, an S3 file, etc.) and I would like to have a way to just click on a task instance and see what this output is (possibly for URLs it just generates a link to its content).

Right now I have to rely on opening the task instan

[2021-06-25 15:41] potiuk commented on #16657
I think this is already there in the form of operator extra links. https://airflow.apache.org/docs/apache-airflow/stable/howto/define_extra_link.html

You need to add your operator via plugin or custom provider but I think it does exactly what you want

[2021-06-25 16:32] potiuk commented on #16657
I am closing this for now - do let me know @mtrovo in case it did not solve your feature request (and why) - we can consider reopening it then.

[2021-06-25 16:32] #16657 closed

[2021-06-25 16:34] dnskr commented on #9722
@fernhtls The issue is fixed by [PR#16339](https://github.com/apache/airflow/pull/16339) which is already merged and waiting for being released

[2021-06-25 16:45] potiuk commented on #9722
Indeed. Closing as duplicate of #16339

[2021-06-25 16:45] #9722 closed

[2021-06-25 19:34] IanDoarn opened #16667 "Scheduled DagRun runs on Monday UTC marked success but no tasks are run"
**Apache Airflow version**: 2.0.1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
[code]

**Environment**:

- **Cloud provider or hardware configuration**: Cloud
- **OS** (e.g. from /etc/os-release): Docker debian
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**: Docker python:3.8-buster, deployed to internal k8s clusters

**What happened**:
DagRuns

[2021-06-25 19:38] willsims14 commented on #16667
Works on my machine
![index](https://user-images.githubusercontent.com/20601403/123476908-efe3fd80-d5c2-11eb-8af9-a2d98170a2af.jpg)

[2021-06-25 21:00] brandao-andre commented on #16655
Hi @potiuk, im looking for some good first issue trying to make my first contribution to the airflow project. Any hints where to start this one? Or someone that i could talk to? Thanks!

[2021-06-25 21:16] potiuk commented on #16655
Hell yeah : https://github.com/apache/airflow/contribute

[2021-06-25 23:09] pmalafosse opened #16669 "TableauRefreshWorkbookOperator fails when using personal access token (Tableau authentication method)"
**Apache Airflow version**: 2.0.1

**What happened**:

The operator fails at the last step, after successfully refreshing the workbook with this error:
[code]

**What you expected to happen**:
It should not fail, like when we use the username/password authentication method (instead of personal_access_token)

Tableau server does not allow concurrent connections when using personal_access_token http

[2021-06-26 00:05] #15485 closed

[2021-06-26 04:37] ShivamJhaa commented on #16654
I will like to fix this bug.
Please assign me the task.
Thank you

[2021-06-26 06:29] eladkal commented on #14597
Just commenting on the use case - I don't think you should use `env_vars` for that. I for example create `V1Secret` for them in the namespace then you can reference them from secrets of KubernetesPodOperator:
https://github.com/apache/airflow/blob/6d3c6f665a7027da9abe6ef15fcf5593d6eb5377/airflow/providers/cncf/kubernetes/operators/kubernetes_pod.py#L192

[2021-06-26 08:12] potiuk commented on #16654
assigned!

[2021-06-26 09:46] yuqian90 commented on #16163
After some more investigation, it's very likely we see this log appearing an hour after a long running task started because of the default `visibility_timeout` setting in Celery. This code in default_celery.py sets `visibility_timeout` to 21600 only if the broker_url starts with redis or sql. In our case we are using redis sentinels so it's still redis although the URL starts with `sentinel`. The

[2021-06-26 09:53] david30907d commented on #16163
@yuqian90 thanks, very useful information. I'll give `celery_broker_transport_options` a shot!

[2021-06-26 11:36] potiuk commented on #16527
Airflow 2.2 will contain the latest urllib3 https://github.com/apache/airflow/blob/constraints-main/constraints-3.6.txt#L497

[2021-06-26 14:55] eladkal commented on #11045
Closing as there will be no more releases of upgrade check

[2021-06-26 14:55] #11045 closed

[2021-06-26 14:56] eladkal commented on #12294
Closing as there will be no more releases of upgrade check

[2021-06-26 14:56] #12294 closed

[2021-06-26 14:57] eladkal commented on #15004
Closing as there will be no more releases of upgrade check

[2021-06-26 14:57] #15004 closed

[2021-06-26 14:58] eladkal commented on #14541
fixed by https://github.com/apache/airflow/pull/16543 and released in 1.4.0

[2021-06-26 14:58] #14541 closed

[2021-06-26 14:58] eladkal commented on #14233
Closing as there will be no more releases of upgrade check

[2021-06-26 14:58] #14233 closed

[2021-06-26 15:03] eladkal commented on #13287
the first issue was fixed in https://github.com/apache/airflow/pull/14967 and released in 1.4.0 the second issue was not as https://github.com/apache/airflow/pull/14982 was stale. Since there are no more releases of upgrade check I'm closing this issue.

[2021-06-26 15:03] #13287 closed

[2021-06-26 19:08] bbovenzi commented on #13044
dagre still has not been updated. If someone wants to fork that library or add logic to remember the order, feel free to open a PR. But I will not be focusing on this as we will use a different graphing library in AIP-38.

[2021-06-26 20:31] ecerulm commented on #14597
Yes, I can manually do that , but
*  I do really want to handle the secrets in a single place. I would prefer not to have to update both the Airflow connection and corresponding kubernetes secret every time I rotate the credentials for this particular database.
* The users that can create and modify airflow connections  are not necessarily  the same with access (and skill) to create a correspondin

[2021-06-27 00:00] uranusjr commented on #14597
Also being able to access a connection is pretty useful for other operators as well (some don’t have another way to store secrets. The alternatives are either to hand-roll a `ConnectionAccessor` like `var` (so why not do this for them), or create a custom operator (a bit heavy for most use cases). Another +1 from me.

[2021-06-27 01:28] yuqian90 commented on #13044
Hi @bbovenzi , just curious, what graphing library are we switching to in AIP-38? I think it makes sense to start thinking about how to implement Graph View and Tree View using that new library.

[2021-06-27 08:10] yuqian90 opened #16680 "Handle "cleared when running" more gracefully"
**Description**
There are many scenarios a user may clear running TaskInstances. The current behavior is to set the `TaskInstance` state to `SHUTDOWN` and then `SIGTERM` is sent to the task, causing it to fail and its `on_failure_callback` is called. This can be noisy. It usually makes more sense to silently clear + terminate the running instance and retry. Here are some example scenarios:
1. A lo

[2021-06-27 15:51] randr97 commented on #16286
I think this solution [Link](https://gist.github.com/vznncv/cb454c21d901438cc228916fbe6f070f) can be a fix without really changing any libraries... Have been using it for sometime and haven't gotten into any issues till now! What do you guys think?

[2021-06-27 18:19] potiuk commented on #14597
I am also for adding this one. I think it's a bit of an omission that connections cannot be accessed via JINJA macros.

Are you going to work on a PR for that @ecerulm  ?

[2021-06-28 00:06] #10160 closed

[2021-06-28 00:06] #9271 closed

[2021-06-28 00:06] #9060 closed

[2021-06-28 00:06] #8971 closed

[2021-06-28 00:06] #8691 closed

[2021-06-28 00:06] #8658 closed

[2021-06-28 00:06] #8628 closed

[2021-06-28 00:20] mik-laj commented on #16641
Adding Operators and Sensors via plugins is no longer supported. See: https://github.com/apache/airflow/blob/main/UPDATING.md#adding-operators-and-sensors-via-plugins-is-no-longer-supported

[2021-06-28 00:20] #16641 closed

[2021-06-28 01:46] josh-fell commented on #9415
@turbaszek @eladkal Is this enhancement still needed?  Since I'm working on #10285, might be worthwhile to tackle together as they seem implicitly related.  Happy to contribute here as well.

[2021-06-28 02:47] jpyen opened #16684 "Helm Chart Allow for Empty data settings"
The helm-chart should not force the settings of Resultsbackend, Metadata and Broker. Either through an additional configuration option or implicitly by not providing values, the helm-chart should refrain from populating those Airflow-Env configurations.

**Use case / motivation**
The current Helm chart forces the configuration of certain values such as `brokerUrl` (https://github.com/apache/airflo

[2021-06-28 05:31] pateash commented on #13391
@forestlzj,
I was not able to reproduce this,
could you please provide more information on reproducing it?

[2021-06-28 06:26] eladkal commented on #9415
@josh-fell assigned to you

[2021-06-28 07:02] ecerulm commented on #14597
I asked in the dev mailing list back in 2021-03-21 and the answer was that without the ability to mask passwords in logs and rendered templates it was bad from the security standpoint so I left it there.

It seems that #8421 and #9638 are fixed now. So I will write a PR now.

[2021-06-28 07:51] LukeHong commented on #16627
Could you provide some examples of filter that allowed by boto3?

[2021-06-28 08:34] Vbubblery commented on #13542
Hello, may I know this will release in Airflow 2.1.1 or Airflow 2.2?

[2021-06-28 10:13] GergelyKalmar commented on #16107
I had a similar issue – in my case it was a mistyped cron that seemingly caused backfills. The trigger seemed to work fine but the intervals were wrong (the cron expressions were like `5/10 * * * * *`, notice it has one too many stars in it).

[2021-06-28 10:33] potiuk commented on #12771
Indeed I think OpenTelemetry integration might be a good idea. I've heard (CC: @subashcanapathy) that Amazon has been very involved in OpenTelemetry, so maybe that's a possibility that somehow Amazon team can help with that?

[2021-06-28 10:52] potiuk commented on #16611
Hey @dimon222 - would you be willing to add PR fixing it ?

[2021-06-28 10:56] enanablancaynumeros commented on #15799
I have the same issue after upgrading the rabbitmq cluster to 3.8.16 and using celery 5.1.1.

As reported, it seems to be caused by the broker change https://github.com/rabbitmq/rabbitmq-server/pull/2990 but I can't find any option to control from celery the broker consumer_timeout.

[2021-06-28 11:06] potiuk commented on #15799
Note that Celery 5 is not YET officially supported by Airflow. There is an open issue for that #11301 - and if you would like to make a PR to add support for it, you are most welcome!

From setup.py:

[code]

[2021-06-28 11:09] potiuk commented on #16614
Hello. Until we have the response here - a number of problems with masking of logging has been addresses in 2.1.1 airflow (which is going to be released in 1-2 days likely). Closing it for now until more information is provided.

[2021-06-28 11:09] potiuk commented on #10554
I guess we have not addressed it in 2.1.1 - moving it to 2.2

[2021-06-28 11:10] enanablancaynumeros commented on #15799
I'm not using Airflow although I'm running long running task with late ack, the rest of the options are:

[code]

I'm requesting to cloudamqp a cluster downgrade in the meantime to 3.8.14 while we can clarify a solution from the application side.

[2021-06-28 11:11] potiuk commented on #12985
Sound like a feature to add rather than bug-fix I am moving it to 2.2 milestone.

[2021-06-28 11:11] #16614 closed

[2021-06-28 11:14] potiuk commented on #16326
Hey @jedcunningham @kaxil - Is this one fixed already in 2.1.1 ? It Has 2.1.1 milestone :)?

[2021-06-28 11:15] potiuk commented on #16163
Moved it to 2.2 now - I guess we have not addressed it yet in 2.1.1

[2021-06-28 11:55] ashb commented on #13542
@Vbubblery _A_ fix was included in 2.1.1, but it is not yet clear if that fixes all the cases of this behaviour or not.

[2021-06-28 12:05] luoyuliuyin opened #16690 "dag_hash generation is unstable"
**Apache Airflow version**:

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

dag_hash is used to judge whether the current dag has changed, but I found that the generation of da

[2021-06-28 12:44] GergelyKalmar opened #16691 "Make the "last run" field configurable"
**Description**

I would like to be able to configure the "Last Run" column to show the last start date/time (instead of the last execution date/time) on the home page.

**Use case / motivation**

The large majority of my scheduled pipelines transfer data from one system to another, in which case the data in the target system will be up-to-date until about the task start date. It would therefore b

[2021-06-28 13:30] potiuk commented on #16684
I think this is actually very good that we cannot use _CMD from within Helm chart. I always thought of the _CMD pattern as one giving you false sense of security through obfuscation.

The _CMD is really a poor and not-really-secure solution, that was introduced because in "classic" deployments you have no other possibilities. But I think that is not that useful in K8S where you have other ways to

[2021-06-28 13:31] enanablancaynumeros commented on #15799
My bad, I just realized that this is the airflow project and not the celery one :sweat_smile:

[2021-06-28 13:35] potiuk commented on #15799
Been there, done that  :D

[2021-06-28 13:52] bbovenzi commented on #16610
@SamiRehmanNostra Could you open the browser console and screenshot any error messages in the logs?

[2021-06-28 14:05] cccs-cat001 commented on #16020
@ephraimbuddy Here's the logs (sorry I'm a little late!)
[code]

[2021-06-28 14:07] uranusjr commented on #16690
So looks like we should use `sorted` on the code you highlighted. Could you draft a PR for that?

[2021-06-28 14:17] pateash opened #16692 "Show schedule_interval/timetable description for schedule cron expression in Airflow UI"
**Description**

Users should be able to see a short description of the cron expression when hovering over the expression in a tooltip.

![image](https://user-images.githubusercontent.com/16856802/123651190-e7045d80-d848-11eb-9ed5-529d806992d1.png)

In the above case, the user should see description like  **At 09:30 PM, only on Friday**

**Use case / motivation**
It will be really easy to get sche

[2021-06-28 14:30] IanDoarn opened #16694 "Scheduled DagRuns skip next scheduled run if start_date = days_ago(1) and previous day is not a scheduled run"
**Apache Airflow version**: 2.0.1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
[code]

**Environment**: Kubernetes

    Cloud provider or hardware configuration: Cloud
    OS (e.g. from /etc/os-release): Docker debian
    Kernel (e.g. uname -a):
    Install tools:
    Others: Docker python:3.8-buster, deployed to internal k8s clusters

**What happened**:
DagRuns s

[2021-06-28 14:30] IanDoarn commented on #16667
Issue was solved by setting start_date to a datetime() sometime in the past well before the current date

https://github.com/apache/airflow/issues/16694

[2021-06-28 14:30] #16667 closed

[2021-06-28 14:40] uranusjr commented on #16692
Sounds like a nice feature to me. How do you plan to geenrate the description? I know there are some online services but am not aware of a Python package for this. And it seems a bit weird to implement it directly in Airflow’s code base.

[2021-06-28 15:03] jvaca92Code commented on #8087
#16637

[2021-06-28 15:23] #16646 closed

[2021-06-28 16:07] ZaxR opened #16697 "DAG.add_task doesn't pick up start_date default arg"
**Apache Airflow version**: 2.1.0

**What happened**:
When attempting to set the dag for a task (Operator) without the dag previously set, where the dag's start_date is set via default_args , an error is raised: `AirflowException: Task is missing the start_date parameter`.

**What you expected to happen**:
The start_date from default_args to be honored and no error to occur.

**Related notes**:
Th

[2021-06-28 16:38] uranusjr commented on #16107
Could you open an issue for that? This is an invalid expression (I think) IMO we should prevent this from even being accepted. (I think this is a bug in `croniter`, but we should be able to perform additional validation in Airflow if they don’t want to fix it.)

[2021-06-28 17:12] ashb commented on #16697
Are both tasks missing the start date?

[2021-06-28 17:15] ZaxR commented on #16697
Updated by issue. The error happens on `dag.add_task(dummy)`, where the `dummy` task to add doesn't have its own start_date (or other config for that matter), but rather it would expect it to take on the dag's.

[2021-06-28 19:23] kurtqq opened #16699 "ssh provider limits to an old version of sshtunnel"
ssh provider has limit to sshtunnel  < 0.2
https://github.com/apache/airflow/blob/9d6ae609b60449bd274c2f96e72486d73ad2b8f9/setup.py#L451

I don't know why? sshtunnel  already released 0.4
I didn't open PR because I don't know this provider i just tried to install it and couldn't due to conflicts with other requirements in my system so eventually i used vitrual env to solve my problem but logging t

[2021-06-28 20:12] potiuk commented on #16699
Please simply just make a PR with it. We have automated suite of tests, if they pass, this means we should approve it.

[2021-06-28 20:15] ephraimbuddy commented on #16020
Can you check if it still happens in main? I'm thinking it's related to https://github.com/apache/airflow/issues/16227

[2021-06-28 20:22] HardikVijayPatel commented on #15364
What Airflow release version will have the jquery fix? and will this be available for both airflow 1 and airflow 2 ?

[2021-06-28 20:43] kaxil commented on #15364
Will be in Airflow 2.1.2. Airflow 1.x has reached End of life so no new releases will be cut for it.

https://github.com/apache/airflow#version-life-cycle

[2021-06-28 20:55] andormarkus commented on #13824
Hi @potiuk, Who can help us with this bug?

[2021-06-28 21:04] HardikVijayPatel commented on #15364
thanks! aprrox ETA for the release?

[2021-06-28 21:17] potiuk commented on #13824
Maybe this is something the Amazon team can take a look at @subashcanapathy ? I think that's one of the obvious candidates that someone from AWS could help with since this is CloudWatch integration problem.

[2021-06-28 21:22] potiuk commented on #16699
Same as #16698

[2021-06-28 21:28] kaxil commented on #15364
~1 or 2 months

[2021-06-28 21:31] jvictorchen commented on #10026
+1 encountered this issue on 2.1.0. Rolling it back to 2.0.2 works.

[2021-06-28 21:46] kaxil commented on #10554
I was not able to replicate this on Main branch, looks like it was fixed by https://github.com/apache/airflow/pull/13984 which was  released in 2.1.0

[2021-06-28 21:46] #10554 closed

[2021-06-28 22:43] kaxil commented on #14714
That does not feel right. The operator is unrelated to any sort of plugin.

[2021-06-29 00:36] kaxil commented on #16326
I was able to reproduce it and https://github.com/apache/airflow/pull/16700 should fix it.

Workaround until the PR is merged and release is to set `PYTHONOPTIMIZE=1` as Environment Variable for the worker.

[2021-06-29 00:37] kaxil commented on #14896
@damon09273 @ahazeemi posted the workaround and solution for `CeleryKubernetesExecutor `  in https://github.com/apache/airflow/issues/16326#issuecomment-870140570

[2021-06-29 00:42] taffazzel commented on #14382
Hi All, Unable to find out "registry_conn_id" on azure. Can anyone please help me ?

[2021-06-29 01:53] luoyuliuyin commented on #16690
ok

[2021-06-29 02:29] SamiRehmanNostra commented on #16610
Hi @bbovenzi ,

Please see the screenshot attached below:
![Browser Screenshot](https://user-images.githubusercontent.com/43160555/123727628-46a84a80-d8d5-11eb-9b0e-cc5c17c51dec.png)

`d3.min.js:1 Error: <g> attribute transform: Expected number, "translate(NaN,20)scale(0)".
i @ d3.min.js:1
Error: <g> attribute transform: Expected number, "translate(NaN,NaN)scale(0)".
Error: <g> attribute transform

[2021-06-29 03:33] boyapcha commented on #10451
------
What should be the typical sub class code.
I am using below code and getting following error.

ERROR:
-------
2021-06-29 03:20:04,851] {{taskinstance.py:1482}} ERROR - Task failed with exception
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/site-packages/airflow/models/taskinstance.py", line 1138, in _run_raw_task
    self._prepare_and_execute_task_with_callbacks(conte

[2021-06-29 04:48] uranusjr commented on #10451
The example has a typo, you should subclass `EmrAddStepsOperator` (or any other operator you want to “fix”), not `BaseOperator`. I’ve edited the message to fix this.

[2021-06-29 07:33] damon09273 commented on #16326
Got it, thank you for providing information.

[2021-06-29 08:06] ashb commented on #10451
This should do it @boyapcha

[code]

[2021-06-29 08:17] sunank200 commented on #16627
Should the response format change as well? Like the addition of timestamp or any other metadata along with the s3 key.

[2021-06-29 08:26] ashb commented on #16610
@SamiRehmanNostra Do you by chance have no dags at all?

[2021-06-29 08:35] SamiRehmanNostra commented on #16610
@ashb I have about 13 active dags, all running on different schedules.
Weirdly enough I was installing a bunch of ODBC drivers today and restarted the web-server about 3 times. The issue seems to have resolved itself.

![image](https://user-images.githubusercontent.com/43160555/123765008-ac61fa00-d908-11eb-80af-297a9f8269e9.png)

 Not sure what has changed. Let me know if I need to share any logs.

[2021-06-29 08:37] huozhanfeng commented on #15799
We get the same error on version airflow[2.1.0]

[2021-06-29 09:48] dan-origami opened #16703 "Workers silently crash after memory build up"
**Apache Airflow version**: 2.0.2

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.18.15

**Environment**:

- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): Ubuntu 20.04
- **Kernel** (e.g. `uname -a`): Linux 5.4.0-1024-aws #24-Ubuntu
- **Install tools**: Dockerfile
- **Others**: Custom Dockerfile (not official airflow image f

[2021-06-29 09:55] ashb commented on #16610
Hmmm tricky. Without having a reliable way of reproducing this it's going to be tricky to fix.

Did you clear the DB when restarting the webserver? (Not likely, just checking)

[2021-06-29 10:27] ashb commented on #16703
@dan-origami Hmmm not good!

What specific metric is it that you are showing in your graph please?

[2021-06-29 10:29] ashb commented on #16703
Could you also check the output of `dmesg` on the host (likely won't have info from two days ago now, so might need to trigger this again) at around the time the worker "stalls" -- specifically I am interested to see if there is anything in the logs related to the linux OOM killer being triggered.

[2021-06-29 10:44] dan-origami commented on #16703
@ashb its `container_memory_usage_bytes` with full query below

```sum(container_memory_usage_bytes{container!="POD",pod=~"airflow.*",image!=""}) by (pod)```

Nothing on the dmesg at all, i checked and due to our affinity/selector the pod was always on the same server

[code]

![Verification of node staying the same](https://i.imgur.com/T5MFNwy.png)

[2021-06-29 10:50] #14597 closed

[2021-06-29 10:56] potiuk commented on #16703
Nice analysis. Will help us to investigate. Thanks @dan-origami !

[2021-06-29 10:58] dan-origami commented on #16703
No problem, happy to provide full Dockerfile, metrics or anything else you want as well.

[2021-06-29 11:02] ashb commented on #16703
Oh one extra thing -- are you able to check the RSS of the processes in the container and see if they are all growing equally, if one is clearly using more than another, or if _no_ process's RSS actually shows any growth?

(I've been trying to track down a different memory issue in the scheduler where the working_set_bytes is growing, but no process shows the RSS, and would like to check they are

[2021-06-29 11:13] ashb commented on #16697
I'm of two minds wether or not we fix this -- as 99% of use cases od `default_args` should just be set directly as attributes on DAG -- it's just that our examples show using default args so many people copy that.

[2021-06-29 11:48] dan-origami commented on #16703
using `container_memory_working_set_bytes`

[code]

Working bytes seems to grow but roughly similar across all workers.
(Bad graph title)

Worker-3
![worker-3 as above](https://i.imgur.com/cdbedwB.png)

All workers
![All workers](https://i.imgur.com/KrMKJy6.png)

And now using
`container_memory_rss`

[code]

![worker-3](https://i.imgur.com/uax7DI0.png)

![all workers](https://i.imgur.com/AFhDmdT.p

[2021-06-29 12:38] ashb commented on #13824
This might be fixed by https://github.com/apache/airflow/pull/16289 -- one thing to try to see if that is the case is to disable the mini scheduler run by setting `AIRFLOW__SCHEDULER__SCHEDULE_AFTER_TASK_EXECUTION=False`

[2021-06-29 12:43] andormarkus commented on #13824
Should I set `AIRFLOW__SCHEDULER__SCHEDULE_AFTER_TASK_EXECUTION=False` in 2.0.2 or wait till #16289 is released?
Is #16289 part of 2.1.1 or we have to wait till 2.1.2?

[2021-06-29 12:48] ashb commented on #13824
Set it to false and see if that fixes the problem. Sadly we missed that in 2.1.1, so it would have to wait for 2.1.2 which would be at least a few weeks.

And if setting that config doesn't help help then there is something else at fault here.

https://airflow.apache.org/docs/apache-airflow/2.0.2/configurations-ref.html#schedule-after-task-execution for reference.

[2021-06-29 13:05] josh-fell commented on #10285
Going through these example DAGs there are a number of `xcom_pull()` uses in which values from the `XCom` are directly accessed via an index and/or key as well as a `for loop` in Jinja.  Trying to rewrite these instances using the new syntax is  awfully cumbersome IMO.  For example:
[code]
The `output` property of operators doesn't seem to elegantly handle this type of access currently.  I can use

[2021-06-29 13:11] sreenath-kamath opened #16705 "Ability to add multiple task_ids in the ExternalTaskSensor"
**Description**
In its current shape the ExternalTaskSensor accepts either a single task_id or None to poll for the completion of a dag run. We have a use case where a dependent dag should poll for only certain list of tasks in the upstream dag. One option is to add N ExternalTaskSensor nodes if there are N nodes to be dependent on but those will be too many Sensor Nodes in the dag and can be avoi

[2021-06-29 13:14] ashb commented on #16692
https://github.com/azza-bazoo/prettycron might do the job? We should check it supports at least everything croniter does.

[2021-06-29 13:20] malthe opened #16706 "Improve operational logging and telemetry reporting in hooks"
**Description**

This is a proposal to standardized and improve operational logging and telemetry reporting across the existing hooks.

**Use case / motivation**

There is a need to log operational information such as bytes transferred, transfer rates, rows received, etc.

This need is both from an investigatory perspective (i.e. what happened during a task run), but there is also a need to instru

[2021-06-29 13:24] uranusjr commented on #16692
croniter actually “supports” some weird (invalid?) cron formats, for example `10 * * * * *` (six sgements!) can be parsed by it. I saw a report on it just yesteday but can’t find the thread now. So we either need to do some additional validation (to reject those currently-allowed formats) or be bug-to-bug compatible with croniter.

[2021-06-29 13:43] bbovenzi commented on #16610
@ashb I have been able to reliably replicate it. If I only run the webserver the returned [nodes and edges](https://github.com/apache/airflow/blob/main/airflow/www/views.py#L4130-L4131`) will be empty arrays. As soon as I run the scheduler both will populate and the graph will render.

[2021-06-29 13:44] ashb commented on #16610
@bbovenzi Cool -- lets protect against that case as it is _a_ cause of this problem.

[2021-06-29 13:46] bbovenzi commented on #16610
Yeah, I'll add some sort of "Dependency data could not be loaded right now" error message.

[2021-06-29 14:24] bbovenzi commented on #13044
@yuqian90 I'm still looking into it, so I'm open to suggestions. We can certainly bring those updates into the current UI when it's well tested.

[2021-06-29 14:26] pateash commented on #16692
I have used  **[cronstrue](https://www.npmjs.com/package/cronstrue)** previously in my projects.
may be I will prefer to use that;

[2021-06-29 14:26] ashb commented on #10285
@josh-fell Can't you do `xcom['dataflow_job_id']` or similar? Looking at the docs that looks like it should work.

[2021-06-29 14:45] boyapcha commented on #10451
Thank you. It's working fine now.

[2021-06-29 15:14] uranusjr commented on #16692
Let’s try it out then! We can carry on with the details in the PR thread.

[2021-06-29 15:15] ubearcat commented on #15799
We are seeing this issue with Airflow 1.10.14 and celery 4.3

[2021-06-29 15:23] ZaxR commented on #16697
From what I've seen in the wild, people heavily use default_args for everything. At companies I've worked at, there's even been utility functions to get "global" default_args as a fallback, which include start_date. So based on the heavy usage and support for using default_args for start_date, I'd argue the fix is justified.

[2021-06-29 15:51] uranusjr commented on #16697
Personally I wish Airflow never had `default_args`, it’s too magical with a logical native Python approach (`**kwargs`). But I guess that ship sailed way back and we should make it work mroe closely to what users expect in this case.

[2021-06-29 15:57] Walderman opened #16715 "Airflow 2.1.0 - after upgrade admin role does not have permissions to add/edit/delete on users view"
**Apache Airflow version**:
2.1.0

**Environment**:

- **Cloud provider or hardware configuration**:
-  AWS ECS EC2 mode. RDS PostgreSQL for DB.
- **OS** (e.g. from /etc/os-release):
- RedHat
- - **Other**
- LDAP authentication enabled

**What happened**:
We upgraded from 2.0.1 to 2.1.0 and now when i go to Users view (as admin). I cannot see delete/edit/add buttons - if i try to simply navigate b

[2021-06-29 16:28] mdcsaenz opened #16716 "Service token file does not exists in GKEStartPodOperator 2.1.0 airflow"
**Apache Airflow version**:
Version: v2.1.0
Git Version: .release:2.1.0+304e174674ff6921cb7ed79c0158949b50eff8fe

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.7", GitCommit:"1dd5338295409edcfff11505e7bb246f0d325d15", GitTreeState:"clean", BuildDate:"2021-01-13T13:23:52Z", GoVersion:"go1.15.5", Co

[2021-06-29 16:50] jedcunningham commented on #16715
Thanks for the report @Walderman!

Duplicate of #16202

[2021-06-29 16:50] #16715 closed

[2021-06-29 17:44] saurasingh opened #16717 "Airflow 2.1.0: Snowflake connection not enabling snowflake "role""
**Apache Airflow version**: 2.1.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**: AWS EKS, AWS ECS
- **OS** (e.g. from /etc/os-release): Debian GNU/Linux 10
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:
When creating a snowflake connector using a snowflake hook

[2021-06-29 19:09] mik-laj commented on #16716
Can you try to pass in_cluster=False to GKEStartPodOperator?
https://github.com/apache/airflow/blob/4b14d93f25f237b8cca17f57352c253f292a111b/airflow/providers/cncf/kubernetes/operators/kubernetes_pod.py#L95-L96

[2021-06-29 19:15] potiuk commented on #16717
@saurasingh - would you be willing to add a PR to add this feature?

[2021-06-29 19:16] mik-laj commented on #16684
Environment variables in a containerized environment are sometimes perceived as insecure. In that case, we could use `_CMD`. See: https://docs.gitlab.com/charts/architecture/decisions.html#preference-of-secrets-in-initcontainer-over-environment

[2021-06-29 19:20] potiuk commented on #16697
Side comment - It does save you a bit of hassle when you define dags, but I agree it is a bit too implicit. And yeah. the ship has sailed :).

[2021-06-29 19:37] mik-laj commented on #16684
@potiuk  I also still don't know how you would want to integrate dynamic airflow configuration without using `_CMD`. LocalFilesystemBaackend only supports connection and variable, not airflow configuration.
`_CMD` environment variable is a glue that can connect the dynamic secrets mounted in volumes together with Airflow.

By convention Vault will inject these at the path `/vault/secrets/<secret n

[2021-06-29 20:32] potiuk commented on #16684
Yeah. I think you are partially right @mik-laj, if you treat the _CMD as a "glue" to re-format  credentials provided in a different format from a more secure way of sharing credentials and the other way has no way to format it in the way it shoudl be provided, the _CMD pattern is quite OK.

But ....

(And i am not trying to make my point just trying to make it more clear where my thinking comes fr

[2021-06-29 22:39] #16326 closed

[2021-06-29 22:44] saurasingh commented on #16717
@potiuk I have committed my changes to a local branch but not able to push to create a PR for you guys to review.
`unable to access 'https://github.com/apache/airflow.git/': The requested URL returned error: 403` I am getting this error

[2021-06-29 23:00] potiuk commented on #16717
You need to make Pull request from your branch.

[2021-06-29 23:23] mik-laj commented on #16684
We still need some glue, because the Vaultt Secret Template still only allows the secret to be saved to a file. You cannot set such a secret to an environment variable.
[code]

There are many ways for the user to badly manage their passwords, whether they are read from a script or otherwise. Rather, we will not be able to protect against it, but we should show how to do it well, e.g. support passw

[2021-06-29 23:25] mik-laj commented on #16684
@jpyen  Can you tell me a little more about your use case? Why is it important to you? Do you integrate with other tools?

[2021-06-29 23:44] SamiRehmanNostra commented on #16610
@ashb I didn't reset the DB. Seems like @bbovenzi has narrowed it down. Thank you

[2021-06-30 01:55] MrSandoman opened #16725 "filesensor wildcard matching does not recognize directories"
**Apache Airflow version**: 2.1.0

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:  FileSensor does not recognize directories with wildcard glob matching.

**What you expected to happen**: FileSensor would sense a directory that contains files if it matches

[2021-06-30 02:30] huozhanfeng commented on #15799
we can turn params 'consumer_timeout' to solve the problem when the version of the RabbitMQ  >= 3.8.15. And here is a discussion for it, https://stackoverflow.com/questions/67907336/celery-task-with-a-long-eta-and-rabbitmq

[2021-06-30 02:33] huozhanfeng commented on #15799
It works, thanks a lot.

[2021-06-30 02:38] uranusjr commented on #16717
See: https://github.com/apache/airflow/blob/main/CONTRIBUTING.rst#contribution-workflow

[2021-06-30 06:04] yevsh opened #16728 "SparkKubernetesOperator to support arguments"
Need an option ,when triggering a dag via airflow web ui, to pass JSON arguments to
SparkKubernetesOperator.

Currently I don't see a way to do it as, SparkKubernetesOperator accepts application.yaml only.

[2021-06-30 07:00] potiuk commented on #16725
Would you be willing to open PR for that ?

[2021-06-30 07:22] huozhanfeng opened #16729 "[Bug] Task log can't be shown on Web-Server when the task runs failed"
**Apache Airflow version**:

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**: Aliyun
- **OS** (e.g. from /etc/os-release): CentOS Linux" VERSION="7 (Core)
- **Kernel** (e.g. `uname -a`): Linux 3.10.0-514.21.1.el7.x86_64
- **Install tools**: celery  4.4.7    rabbitmq 3.8.17
- **Others**:

**What happened

[2021-06-30 07:52] FabianF92 commented on #16505
Hi, facing same issue on Airflow 2.0.1. Log is free from other error, but webserver shows
``2021-06-30T07:37:57.599484978Z [2021-06-30 07:37:57 +0000] [21] [CRITICAL] WORKER TIMEOUT (pid:27)
2021-06-30T07:37:58.638426571Z [2021-06-30 07:37:58 +0000] [21] [WARNING] Worker with pid 27 was terminated due to signal 9``

[2021-06-30 08:20] ecerulm opened #16730 "SFTPToS3Operator is not mentioned in the apache-airflow-providers-amazon > operators documentation"
**Apache Airflow version**:  2.2.0  , apache-airflow-providers-amazon == 2.0.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

**What you expected to happen**:

I would expect

[2021-06-30 08:48] eladkal commented on #16107
This is a valid cron exp. The 6th parameter means [year](http://www.nncron.ru/help/EN/working/cron-format.htm).
However there is a bug in croniter it seems they use the 6th parameter wrong and it means **seconds**: https://github.com/taichino/croniter/issues/76
[code]

[2021-06-30 09:03] potiuk commented on #16730
@ecerulm - would you be willing to add it maybe ?

[2021-06-30 09:15] potiuk commented on #16505
I think you need to look in your Kubernetes logs. My guess is that some resources are missing and your gunicorn workers cannot start - but this is likely not an airflow problem, but a problem connected with your deployment. Examine your K8S logs. I heartily recommend K9S tool for that. it helps to analyse all-things-kubernetes, you will be able to easily browse logs generated by different part of

[2021-06-30 10:05] ecerulm commented on #16730
I can't do a PR in the short term, sorry.

[2021-06-30 10:33] GergelyKalmar commented on #16107
That is in line with what I observed! What is weird though is that Airflow would schedule a separate job for every second even if backfilling is disabled.

[2021-06-30 10:48] eladkal commented on #16107
So yeah it's a bug in croniter - but your cron expression is valid one it's just doesn't say what it should :)

[2021-06-30 11:39] eladkal commented on #16107
@GergelyKalmar can you be more specific about what is the bug?

[code]

It behaves as expected:
![Screen Shot 2021-06-30 at 14 38 07](https://user-images.githubusercontent.com/45845474/123954221-d2db7000-d9b0-11eb-8a6b-67e74933c7b1.png)

[2021-06-30 12:03] FabianF92 commented on #16505
Hi @potiuk my webserver log doesn't contain any errors.
I am not running on Kubernetes, but on Azure App Service. Service is running fine most of the time.
After some time I am getting `2021-06-30T11:45:57.188369769Z [2021-06-30 11:45:57 +0000] [23] [CRITICAL] WORKER TIMEOUT (pid:30)
2021-06-30T11:45:58.201109676Z `
Then the GUI is not reachable and I have to wait for 5 minutes until it recovered

[2021-06-30 12:36] uranusjr commented on #16692
Found the issue on croniter formats: #16107.

[2021-06-30 13:35] mik-laj commented on #16684
@jedcunningham  WDYT?

[2021-06-30 13:40] ardhar commented on #10860
Any solution to this ?

[2021-06-30 13:45] GergelyKalmar commented on #16107
It works when enabling the DAG but when the next scheduled run comes you should see a lot of instances being created (I think one for every second in the given minute). I know it is not exactly backfilling but it kind of looked like it on first sight (just because of the many instances).

I've checked your job and I could reproduce the weird behavior with https://github.com/aws/aws-mwaa-local-runn

[2021-06-30 13:47] uranusjr commented on #16729
Looks like another duplicate to #13692.

[2021-06-30 13:47] #16729 closed

[2021-06-30 13:49] uranusjr commented on #13692
Everyone facing the issue, please provide some more information about the setup of your Airflow installation, and if possible, steps to reproduce.

[2021-06-30 14:01] uranusjr opened #16731 "Additional cron expression validation"
**Description**
Airflow should outline (in documentation) what cron expressions are supported, and perform appropriate additional validation cron expressions.

**Use case / motivation**
#16692 proposed displaying a short description about the cron expression in the web UI. This bring out the issue that currently the cron expression formats supported by Airflow are essentially defined by croniter i

[2021-06-30 14:04] uranusjr commented on #16725
We should change the logic to use `pathlib.Path.glob()` instead, which automatically handles recursive globbing. (Or `glob.rglob()` but pathlib is easier to use IMO.)

[2021-06-30 14:06] potiuk commented on #16505
This is again, very hard to say without seeing azure service app logs. I am sure there must be some additional logs for the app service managing Airflow. Typically those kinds of problems occur with some resources not being available - connections, memory, disk, DNS querying service being slow, networking configuration, firewalls etc. All those might cause such result. Since there are no logs in A

[2021-06-30 14:08] uranusjr commented on #16728
Would you be interested in submitting a PR? It would be nice if you could use the issue template in the future as well.

[2021-06-30 14:34] LChloe commented on #16505
I am sorry that I can't help you, I have been busy with other work recently, so I have not dealt with this problem.

[2021-06-30 14:38] LChloe commented on #16505
Thank you for your suggestion, I think so, because using Docker Compose is normal. But I didn't see the K8S error log, I will try to use the K9S Tool you recommend.

[2021-06-30 14:59] potiuk commented on #16730
I will add it to the first-time-contributor's workshop then :).

[2021-06-30 15:06] gvazharov commented on #15369
Hi the solution for me was to update the Airflow to 2.0.2

[2021-06-30 15:22] potiuk commented on #16684
Yeah. I'd also love to hear what others think. I would be in favour (even if it is not currently supported) to find something that is more Helm-native without having to fallback to custom _CMD glue. Maybe we can find a better approach that is more natural to use and encourages secure isolation between long term and short-term credentials.

For me any solution which directly promotes using side-car

[2021-06-30 15:49] KeynesLee commented on #15319
Will the Minio connection support HTTPS ?

[2021-06-30 15:54] eladkal commented on #16731
By addition validation do you mean to remove the 6 segmant and then trust croniter ?

[2021-06-30 16:32] uranusjr commented on #16731
I think we should build a simple validator to check for the whole string before passing it into croniter (and hopefully croniter will always work if the string passes our test).

[The standard POSIX syntax](https://www.unix.com/man-page/posix/1p/crontab/) is fairly easy to parse, plus support to SUN-SAT. Is JAN-DEC a GNU extension? That can be added as well if it works in croniter.

[2021-06-30 18:10] potiuk opened #16736 "The Helm Chart tests often timeout at installation recently in CI"
Example here: https://github.com/apache/airflow/runs/2954825449#step:8:1950

[2021-06-30 18:18] #16716 closed

[2021-06-30 18:19] mdcsaenz commented on #16716
The SA was not mounted on the worker pod in order for it to actually create the pod.

[2021-06-30 18:40] MrSandoman commented on #16725
I can open a PR for the quick fix to substitute path for full_path in the walk, but I'm not very familiar with `pathlib.Path.glob()` to be able to make that change in the logic. Also never submitted a PR to a big project like Airflow before (pretty new to coding in general) so gotta go figure out that process.

[2021-06-30 19:16] wolfier opened #16737 "Scheduler memory creeping and plateauing"
**Apache Airflow version**: 2.0.2

**Kubernetes version**:
[code]

**Environment**: Kubernetes setup where the schedule component ran its own pod.

**What happened**:

Scheduler memory crept up for no apparent reason given a deployment with two simple DAGs.

![image](https://user-images.githubusercontent.com/5952735/124017862-111a6480-d99c-11eb-8f0d-b92ca55bffd1.png)

**What you expected to happen

[2021-06-30 19:22] lucas-garcia-rubio commented on #16692
Cronstrue in Python: https://github.com/Salamek/cron-descriptor

[2021-06-30 20:28] uranusjr commented on #16725
Hmm, after reading the relevant code, `pathlib.Path.glob()` might not be the best choice. It’s easier to do `glob(full_path, recursive=True)` instead. So you’ll need to do that. After that, please follow the instructions in https://github.com/apache/airflow/blob/main/CONTRIBUTING.rst to submit a pull request for your change.

[2021-06-30 20:37] jdavidheiser commented on #14009
Hi - James from the Data Team at Asana here.  We are big Airflow users, and while we use a different mechanism to interact with Asana tasks in our own pipelines, we've thought about releasing an operator for ages.  Thank you so much for getting to it first!

[2021-06-30 21:20] hao-zhang-aurora commented on #15601
We are having the same issue with Airflow 2.1 and Okta. Is there any updates on this?

[2021-06-30 21:59] ecerulm opened #16738 "SSHHook will not work if `extra.private_key` is a RSA key"
**Apache Airflow version**: 2.0.2

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

[code]

I created an Airflow Connection
* type: ssh
* extra:
[code]

When this SSH connection

[2021-06-30 22:01] aa1371 opened #16739 "Queue support for DaskExecutor using Dask Worker Resources"
Currently airflow's DaskExecutor does  not support specifying queues for tasks, due to dask's lack of an explicit queue specification feature. However, this can be reliably mimicked using dask resources ([details here](https://distributed.dask.org/en/latest/resources.html)). So the set up would look something like this:

[code]
~~(Unfortunately as far as I know you need to provide a finite resourc

[2021-06-30 22:05] dvd9604 opened #16740 "Custom headers not passible to send_email"
Issue:
`custom_headers` is available as an optional keyword argument in `build_mime_message` but it is not exposed in `send_email` or `send_email_smtp`. This prevents using custom headers with the email operator when using the default smtp backend.

https://github.com/apache/airflow/blob/8e2a0bc2e39aeaf15b409bbfa8ac0c85aa873815/airflow/utils/email.py#L105-L116

Expected:
`send_email` should take o

[2021-06-30 22:16] uranusjr commented on #16740
Hi! Would you be interested in submitting a fix for this?

[2021-06-30 22:38] huozhanfeng commented on #16729
Sure, I will track it on the other issue.

[2021-06-30 22:43] huozhanfeng commented on #13692
Just run a dag and let its task runs fail to reproduce the bug.  More details in #16729.

[2021-06-30 23:09] dvd9604 commented on #16740
Yes, I would like to contribute to open source.

[2021-07-01 01:50] SamiRehmanNostra commented on #16610
@bbovenzi Its back people!

![image](https://user-images.githubusercontent.com/43160555/124052826-82244f80-da62-11eb-9a87-92a9749b9337.png)

[2021-07-01 03:23] eladkal commented on #16502
@Vineet-Sharma29 assigned to you

[2021-07-01 03:25] eladkal commented on #16544
@Sanchit112 are you willing to submit PR?

[2021-07-01 03:27] eladkal commented on #16573
Does it happen to all tasks or a specific task/dag?

[2021-07-01 03:30] vineetsharma883 commented on #16502
@eladkal  Would start working on it

[2021-07-01 06:42] potiuk commented on #14009
Hey @jdavidheiser  - Glad to hear that Asana is a big Airfow user :). I think that makes it a perfect opportunity for you to become contributors and provide some support and updates to the provider.

[2021-07-01 06:49] potiuk commented on #16738
Seems it should be easy to fix by      `except paramiko.ssh_exception.SSHException` -> `Exception` - could you please see @ecerulm if thaf fixes the problem (even locally modifying the code) and if so - maybe you could  PR a fix for that?

[2021-07-01 06:54] potiuk commented on #16739
Would you be willing to make a PR for that? I don't think there are many people using DaskExecutor and since you seem to know what you are doing and use Dask, that might be great contribution back. The contribution process is nicely described with some useful guidelines and tools https://github.com/apache/airflow/blob/main/CONTRIBUTING.rst

[2021-07-01 07:41] aa1371 commented on #16739
I'd want to get feedback from some more experienced dask users/contributors to the airflow DaskExecutor on this before continuing with creating a PR.
@fjetter @TomAugspurger

[2021-07-01 08:25] ecerulm commented on #16738
Yes, I think that could work
http://gitlab.tdh.tele2.net/b2b/apache-airflow-providers-tdh/blob/1a6333dd84a4552724610b696fe1064d0a1dffbb/venv/lib/python3.8/site-packages/airflow/providers/ssh/hooks/ssh.py#L245-L246

surround that with a `try-except` and a for-loop for all the `key_candidates`   and take the first that succeeds.

Or add a `private_key_type` to extras in the connection and use that

[2021-07-01 08:38] ashb commented on #16738
Since Py 3.6 it does, and since 3.7 it is documented as being a reliable order.

[2021-07-01 08:43] ashb commented on #16738
So if DSSKey will happily parse an invalid key there is not _any_ real way around this (other than perhaps DSSKey should be the last as it isn't really recommended to be used anymore)

Do the other key types also happily accept "rubbish", or do they except?

[2021-07-01 08:50] ecerulm commented on #16738
well as @potiuk  suggested you can catch it at https://github.com/apache/airflow/blob/a2d6aa07c9de83278eef14a228eb4a02ad43205c/airflow/providers/ssh/hooks/ssh.py#L268

when you are actually trying to use the key.

Or introduce a IMHO more correct `private_key_type` in connection extras, that is the approach I use now. I did my own impl of SFTPToS3Operator and SSHHook to overcome this problem

[cod

[2021-07-01 08:54] ashb commented on #16738
Having to specify the key type is "duplication" for most of the cases.

I think we should do two things:

1. Move DSA to the end, so it is tried last (doesn't solve the problem, but it is just so rarely used it shouldn't be first)
2. Try out the key by calling `ssh_sign_data`

[code]

[2021-07-01 08:55] ecerulm commented on #16738
No, `ecdsa` and `ed25519` will raise exceptions if feed an RSA private key.

[code]

[2021-07-01 08:59] ashb commented on #16738
@ecerulm Do you want to PR this or shall I?

[2021-07-01 09:17] ecerulm commented on #16738
Please, go ahead

[2021-07-01 10:26] Ofir-Purple opened #16751 "Upgrade Check UseCustomSQLAInterfaceClassRule assumes view has datamodel"
**Apache Airflow version**: 1.10.15

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): N/A

**Environment**:

Python Version: [3.8.8 (default, Mar 12 2021, 19:44:18)  [GCC 8.3.0]]
- **Cloud provider or hardware configuration**: Local, N/A
- **OS** (e.g. from /etc/os-release): Debian GNU/Linux 10 (buster)"
- **Kernel** (e.g. `uname -a`): Linux 1fa25678085e 5.10.25-linuxk

[2021-07-01 10:28] potiuk commented on #16736
Not sure if this is is a timeout, new kind, or maybe something fixed in Public runners but the problem does not seem to appear when I run it on my fork (with public runners only) https://github.com/potiuk/airflow/runs/2961324008?check_suite_focus=true - so I guess we can safely merge it in.

[2021-07-01 10:46] christophreimer opened #16752 "DockerOperator fails with HTTPError: 400 Client Error"
**Apache Airflow version**: 2.1.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): -

**Environment**:

- **Cloud provider or hardware configuration**: OpenStack Victoria
- **OS** (e.g. from /etc/os-release): Ubuntu 20.04.2 LTS
- **Kernel** (e.g. `uname -a`): Linux 5.4.0-1041-kvm
- **Install tools**: pip
- **Others**:
    - Docker version 20.10.7, build f0df350
    -

[2021-07-01 10:49] codenamestif opened #16753 "Realtime ECS logging"
**Description**

Currently when `ECSOperator` is run, the logs of the ECS task are fetched only when the task is done. That's not so convenient, especially when the task takes some good amount of time. In order to understand what's happening with the task, I need to go to Cloudwatch and search for the tasks logs. It would be good to have some parallel process that could fetch ECS task logs from Cl

[2021-07-01 10:55] potiuk commented on #16752
Seems this is a problem with permissions of the user that your arflow workers runs on (or maybe the way how your /tmp folder is mounted), it does not seem Airflow problem but your deployment. Can you please login to the worker and run the docker command that you are expecting to run (with the --bind command) manually to see if you have the problem and solve it before you try airflow again?

[code]

[2021-07-01 10:55] #16752 closed

[2021-07-01 10:57] potiuk commented on #16752
There is something rather wrong with "/tmp" folder permissions (look at the last error where temporary log file could not be created in "/tmp" folder either).

[2021-07-01 11:02] potiuk commented on #16753
That would be cool. There is a great example you can use - we have such streaming stackdriver task handler implemented already for GCS/stackdriver. It should be very similar.

 https://github.com/apache/airflow/blob/main/airflow/providers/google/cloud/log/stackdriver_task_handler.py

[2021-07-01 11:26] ashb commented on #16731
We don't want to restrict to just POSIX cron -- some of the non-POSIX extensions are widely supported and useful `0 0 * * 5#3,L5` for instace.

[2021-07-01 12:29] #16736 closed

[2021-07-01 13:41] ypicard opened #16757 "DAG with KubernetesPodOperator induces weird CLI behaviour."
**Apache Airflow version**: 2.0.2 (AWS MWAA)

**Environment**:

- **Cloud provider or hardware configuration**: AWS MWAA

**What happened**:

I have created 2 DAG files:
- one using only the `BashOperator`
- one using the `KubernetesPodOperator`

When executing the Airflow CLI command `dags list`, only the first DAG is listed. As soon as I remove the usage of the `KubernetesPodOperator` (and more

[2021-07-01 14:22] christophreimer commented on #16752
Thx @potiuk, resolved the issue with the /tmp folder permissions. In the systemd service the option PrivateTmp=True was set which was the root cause of it. But still the docker operator doesn't execute successfully.

[code]

I guess the operator tries to pull the image and the corresponding connection details are missing.
However, the image is already on the host, so a docker pull shouldn't be exe

[2021-07-01 14:28] potiuk commented on #16752
You need to check your docker engine logs. My guess is that your docker engine has the same  permission problem with /tmp folder (but this is a wild guess).

[2021-07-01 15:12] jdavidheiser commented on #14009
Some folks from our team have contributed a few small things already, but I'll definitely keep an eye out for opportunities to help support the provider in the future.

[2021-07-01 15:32] besar22 opened #16758 "'httpx' dependency must be version constrained"
**Apache Airflow version**: 2.1.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**: Ubuntu Linux 4.15.0-126-generic

**What happened**:

running `airflow webserver` , produces
[code]
**What you expected to happen**:

Webserver should start

**How to reproduce it**:
[code]

**Anything else we need to know**:
from [httpx documentation](https://github.co

[2021-07-01 17:20] codenamestif commented on #16753
@potiuk okay, you can assign to me, I will check what i can do

[2021-07-01 19:18] potiuk commented on #16758
You can always `--force-reinstall` any package to any version. Airflow should be installed using constraints. See the official installation documentation https://airflow.apache.org/docs/apache-airflow/stable/installation.html#constraints-files - if you follow the guide, you get all the dependencies in the right version. If you force-reinstall a dependency after that - then, well  - you are on your

[2021-07-01 19:18] #16758 closed

[2021-07-01 19:26] alexInhert commented on #15318
@jhtimmins is that a reasonable use case or shall I close this request?

[2021-07-01 19:28] divyeshransariya commented on #15318
Also i want to know, is there any cli command that can modify existing permissions for given role?

[2021-07-01 21:16] tomyedwab opened #16762 "Scheduler crash on invalid priority_weight"
**Apache Airflow version**: 2.0.1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**: Various (GCP & local Python)
- **OS** (e.g. from /etc/os-release): Various (linux, OSX)

**What happened**:

I, a certifiable idiot, accidentally passed a string into a task's `priority_weight` parameter in production.

[2021-07-01 21:55] jimmycfa opened #16763 "SagemakerProcessingOperator ThrottlingException"
**Apache Airflow version**: 2.0.2

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): NA

**Environment**: MWAA and Locally

- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): NA
- **Kernel** (e.g. `uname -a`): NA
- **Install tools**: NA
- **Others**: NA

**What happened**:

When calling the SagemakerProcessingOperator sometimes get

[2021-07-01 21:58] jimmycfa commented on #16763
Realized this is already happening. Sorry! We are still seeing this issue but going to close until I do some more investigating.

[2021-07-01 22:08] potiuk commented on #16757
It looks like a bug in the MWAA package configuration. My wild guess is that `cncf.kubernetes` provider is missing in the container that is running the CLI of Airflow. @subashcanapathy  - that sounds vaguely familiar with the webserver not having all packages installed @ypicard - I am closing this one as invalid but what I can suggest is to open an issue in MWAA  issue tracking system for that.

[2021-07-01 22:08] potiuk commented on #16757
It looks like a bug in the MWAA package configuration. My wild guess is that `cncf.kubernetes` provider is missing in the container that is running the CLI of Airflow. @subashcanapathy  - that sounds vaguely familiar with the webserver not having all packages installed @ypicard - I am closing this one as invalid but what I can suggest is to open an issue in MWAA  issue tracking system for that.

[2021-07-01 22:08] #16757 closed

[2021-07-01 22:09] tomyedwab opened #16764 "TaskGroup dependencies handled inconsistently"
**Apache Airflow version**: 2.0.1

**Environment**:

- **Cloud provider or hardware configuration**: Various (GCP & local Python)
- **OS** (e.g. from /etc/os-release): Various (linux, OSX)

**What happened**:

I read the following documentation about Task Groups:
https://airflow.apache.org/docs/apache-airflow/stable/concepts/index.html
https://www.astronomer.io/guides/task-groups

From this docume

[2021-07-01 22:10] codenamestif commented on #16753
@potiuk i have checked the example and it looks like it's a bit different. From my understanding that task handler is used for logging for the operator. In the example writing of the logs can be sync/async depends on provided transport type. Reading is always synchronous. But anyway, in using ECSOperator we run a separated ECS task with a separated log stream. And what we need is to read logs from

[2021-07-01 22:20] kaxil commented on #16762
Should be fixed by https://github.com/apache/airflow/pull/16765

[2021-07-01 22:30] tomyedwab commented on #16762
Now that's a quick turnaround! Thanks @kaxil.

[2021-07-01 22:37] ypicard commented on #16757
The thing is the DAG actually runs fine, so this implies the `cncf.kubernetes` package is present right?

[2021-07-01 22:56] jedcunningham commented on #16684
Another option, granted with a little more complexity, is to have an init container be fully responsible for building a complete airflow.cfg, which Airflow then uses via the shared emptyDir. This would nicely separate the config stuff and Airflow, and hopefully is flexible enough to support other secret approaches too.

Said another way, have the init container take the "base" airflow.cfg and inje

[2021-07-01 23:00] potiuk commented on #16706
How would you approach it @malthe ? You wrote you are willing to make PR but I am not sure you fully realise the scope of it (or maybe I do not understand something :).

Do you think about proposing/enforcing some standard of telemetry and implementing it separate for each hook? At once? Gradually? Or implementing some automated telemetry logging via BaseHook/python magic/automation ?

I think it

[2021-07-01 23:15] potiuk commented on #16757
Not as long as the "container" used to run CLI  is different than that which runs workers/scheduler. From What I understand MWAA does not have the "raw" airflow CLI exposed, you can only use a subset of commands (https://docs.aws.amazon.com/mwaa/latest/userguide/airflow-cli-command-reference.html#access-airflow-ui-prereqs-cli) and it is executed via some kind of web proxy (which might or might not

[2021-07-01 23:39] kaxil commented on #13637
@david30907d What are the values for the following?

 - `[scheduler] parsing_processes`
 - `[scheduler] min_file_process_interval`

And how much CPU is allocated to the Scheduler POD?

[2021-07-02 00:06] #8907 closed

[2021-07-02 00:07] dmeibusch commented on #16344
Upgrading from Airflow 2.0.1 to 2.1.0 using sqlite database, the db migration fails with a foreign key constraint.

[code]

[2021-07-02 00:42] dmeibusch commented on #16344
Looking into this, `alembic` is assuming that sqlite3 doesn't support the column rename and is attempting to recreate the `dag` table, hitting the key constraint. Newer versions of sqlite3 do support altering the column name, however I couldn't determine whether this was supported in newer `alembic` versions.

My workaround was to apply the column name change manually:
[code]
Then just comment out

[2021-07-02 00:52] #16762 closed

[2021-07-02 00:53] uranusjr commented on #16344
This sounds like a bug in Alembic. Would you mind reporting this on its issue tracker?

[2021-07-02 01:02] uranusjr commented on #15318
I don’t think there are.

[2021-07-02 01:14] dmeibusch commented on #16344
I'm not sure that is it possible. The table drop/recreate is at the table level - it would be an optimisation (?) for alembic to determine that within a table alter operation that there is a column rename only that could be done directly without recreating the table. Airflow could detect the variant (and sqlite version) and run the `alter column` directly - one possibility. I didn't understand all

[2021-07-02 01:37] uranusjr commented on #16344
Sorry I was too vague; I was trying to say the `alter_table` function triggering a foreign key constraint error sounds like a bug to me. Alembic explicitly supports abstraction over SQLite’s lack of `ALTER TABLE`, and that abstraction is failing here.

[2021-07-02 01:43] dmeibusch commented on #16344
Ah, yes - I was also not clear. They have specific circumstances, documented https://alembic.sqlalchemy.org/en/latest/batch.html , where their abstraction is leaky. Under the section [Dealing with Constraints](https://alembic.sqlalchemy.org/en/latest/batch.html#dealing-with-constraints). Looks like Airflow will have to take specific steps.

[2021-07-02 06:51] Stormhand opened #16769 "Airflow Helm charts - better integration with Hashicorp Vault"
Hello,
I have an Airflow 2.1 deployment on kubernetes which is integrated with Hashicorp Vault as secure backend. I found out that the integration will be fully completed only when we get rid of two more keys which I am obligated to apply as secrets:
- gitSync ssh file
- Fernet key
The easiest way would be if they could be loaded the same way the hashicorp vault provider client is loading its toke

[2021-07-02 08:42] baolsen commented on #12639
Closed by #16612

[2021-07-02 08:42] #12639 closed

[2021-07-02 08:50] baolsen opened #16770 "AWS hook should automatically refresh credentials when using temporary credentials"
**Apache Airflow version**: 1.10.8 (Patched with latest AWS Hook)

**Environment**:

- **Cloud provider or hardware configuration**: 4 VCPU 8GB RAM VM
- **OS** (e.g. from /etc/os-release): RHEL 7.7
- **Kernel** (e.g. `uname -a`): Linux 3.10.0-957.el7.x86_64
- **Install tools**:
- **Others**:
The AWS Hook functionality for AssumeRoleWithSAML is not available in this version, we manually added it vi

[2021-07-02 08:58] aa1371 commented on #16739
In the meantime I opened a PR in my own forked repo to expand on the proposed changes above.
https://github.com/aa1371/airflow/pull/1/files

[2021-07-02 09:08] uranusjr commented on #16344
Ah OK, that makes sense, thanks. We’ll need a PR to fix the migration file then.

[2021-07-02 09:45] malthe commented on #16163
In the case where the visibility timeout is reached, it's confusing that there is not a clear log line that the task has been killed for taking too long to complete.

(If that's indeed what is happening.)

@potiuk is it the case, that the Celery task is killed or is it simply no longer streaming logs into Airflow at that point?

[2021-07-02 09:54] juroVee opened #16772 "DAG-Level Access Control - Ability to set more permissions"
**Description**

Currently there are only two permissions that can be set on a DAG level:

`dag_config.access_control:
   SomeAirflowRole: ['can_read', 'can_edit']`

We would like to have an option to set additional permissions in this access_control parameter, so SomeAirflowRole can have full user access only to the specific DAG (delete it, run/clear/manage DAGRuns + TaskInstances, etc.).

**Use

[2021-07-02 10:02] potiuk commented on #16163
Not sure. Needs investigation

[2021-07-02 10:16] uranusjr commented on #16772
I think #16634 should cover this?

[2021-07-02 10:21] juroVee commented on #16772
@uranusjr yes you are right, we didn't notice that, sorry. Can we maybe link these issues somehow and close this one? Thanks.

[2021-07-02 10:28] #16772 closed

[2021-07-02 12:36] monti-python commented on #16344
@Laydas I had the same issue when I updated from 2.0.1 to 2.1.0, fixed it by running `airflow db upgrade` from the scheduler

[2021-07-02 12:46] mik-laj commented on #16237
As a workaround, to use the same values, we can support VaultSecretBackend and Vault Injector. All secrets should be stored in the Vault. Airflow will have access to them using [VaultBackend](https://airflow.apache.org/docs/apache-airflow-providers-hashicorp/stable/secrets-backends/hashicorp-vault.html). Kubernetes will be able to access them with [Vault Injector](https://www.vaultproject.io/docs/

[2021-07-02 13:04] mik-laj commented on #16769
@Stormhand  https://github.com/apache/airflow/issues/16684 is it related?  In this ticket, we are waiting for more feedback, so your Vault Injector experience would be very valuable to us.

[2021-07-02 13:07] mik-laj commented on #16751
Closing as there will be no more releases of upgrade check

If you run into problems with specific rules, you can turn them off. For details, see: http://airflow.apache.org/docs/apache-airflow/2.1.0/upgrade-check.html#turning-off-checks

[2021-07-02 13:07] #16751 closed

[2021-07-02 13:25] Stormhand commented on #16769
Interesting! I didnt know about `_CMD` and yes it can be used for the Fernet key.

[2021-07-02 13:45] jimmycfa commented on #16763
For posterity sake we are using boto3==1.17.99. This actually appears to be an issue with the way that NameContains filter gets applied:

The NameContains is getting passed into list_processing_jobs but it doesn't actually filter on the entire set of ProcessingJobs. It appears to filter per batch of 100 so you still end up calling the list_processing_jobs in that SagemakerOperator 30+ times back t

[2021-07-02 14:45] dennisbakhuis opened #16777 "Official Helm chart - unable to get persistent logs using KubernetesExecutor and PV"
I feel a bit like an idiot but I cannot seem to get the logging working on persistent volumes when using the KubernetesExecutor and the freshly released official Helm chart (version 1.0.0).

After creating a simple [PV](https://github.com/marclamberti/webinar-airflow-chart/blob/master/pv.yaml) and [PVC](https://github.com/marclamberti/webinar-airflow-chart/blob/master/pvc.yaml) manually, I changed

[2021-07-02 15:03] kaushikparanjpe opened #16778 "Airflow module for email backend using AWS SES not resolving mail_from parameter from airflow config and is defaulted as None"
**Apache Airflow version**: 2.1.0
**apache-airflow-providers-amazon version**: 1.4.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**: AWS EC2
- **OS** (e.g. from /etc/os-release): Amazon Linux 2
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

Trying to integrate

[2021-07-02 15:58] jrbourbeau commented on #16739
Specifying a resource as infinite isn't possible today. Perhaps using the `workers=` keyword for `Client.submit` is a more natural fit for what you want to accomplish?

[2021-07-02 17:57] aa1371 commented on #16739
Even without the infinite limit I think that resources are still a good fit for this. Using workers would require keeping some additional mapping of `queue_name -> workers` which resources essentially already implicitly gives you. Also, based on my related [dask repo discussion here](https://github.com/dask/distributed/discussions/5010#discussioncomment-957752), I think that you don't even need an

[2021-07-02 17:59] jedcunningham commented on #16777
Using a hostpath pv almost certainly isn't what you want. You'll want a "real" ReadyWriteMany pv that'll work across nodes too. What you use will depend on your environment, in your case, try Azure Files. I think you can get the volume with the right permissions automatically via StorageClass, but I haven't actually tried it and it sounds like the default is 777 anyways?
https://docs.microsoft.com

[2021-07-02 20:16] hiaeron opened #16782 "Airflow error"
**Apache Airflow version**:

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know**:

[2021-07-02 20:40] jedcunningham commented on #16782
@hiaeron, please open another issue with details if you have something to report. Thanks.

[2021-07-02 20:40] #16782 closed

[2021-07-02 20:41] mdcsaenz commented on #16587
This also happens with oauth for Google. It gets rid of the role for the user and goes into a redirect loop. Will open a ticket. This is happening in 2.1.0

[2021-07-02 21:26] mdcsaenz opened #16783 "Airflow 2.1.0 Oauth for google Too Many Redirects b/c Google User does not have Role"
The issue is similar to this ticket [16587](https://github.com/apache/airflow/issues/16587)  and [14829](https://github.com/apache/airflow/issues/14829) however I have an updated airflow version AND updated packages than the ones suggested here and I am still getting the same outcome. When using google auth in airflow and attempting to sign in, we get an ERR_TOO_MANY_REDIRECTS.  I know what causes

[2021-07-02 22:08] jedcunningham commented on #15179
@ephraimbuddy, we now have more options for logs in the chart:
https://airflow.apache.org/docs/helm-chart/stable/manage-logs.html

The only remaining thing I can think of here would be to add a warning if a user is using KubernetesExecutor but hasn't configured any logging yet. See #16784.

Anything else we can/should do?

[2021-07-02 22:52] jedcunningham commented on #16783
`AUTH_USER_REGISTRATION_ROLE` only applies if `AUTH_USER_REGISTRATION` is true.

Looks like the FAB google oauth provider doesn't support AUTH_ROLE_MAPPING by default:
https://github.com/dpgaspar/Flask-AppBuilder/blob/95947e84e04a999a474dfe8620fb0f36d71f0467/flask_appbuilder/security/manager.py#L585-L590

You'd need a custom security manager to return `role_keys`, for example like is done in the O

[2021-07-02 23:38] kaxil commented on #8703
https://github.com/apache/airflow/pull/16786 should fix this

[2021-07-03 06:03] Sanchit112 commented on #16544
Hey, I'm willing to submit the PR, but I will need some help from you guys.

[2021-07-03 06:14] raefezzeldin opened #16789 "Apache Airflow Azure AD Authentication"
I am deploying the following webserver_config.py
[code]

when I try login the following error appears to me:

Something bad has happened.
Please consider letting us know by creating a bug report using GitHub.

[code]

[2021-07-03 07:45] raefezzeldin commented on #16789
it works when I updated the webserver_config.py using that url : [Link](https://github.com/dpgaspar/Flask-AppBuilder/blob/master/examples/oauth/config.py)

[2021-07-03 07:45] #16789 closed

[2021-07-03 07:51] sharingan-no-kakashi opened #16790 "Support manual task annotation."
**Description**

I have been an airflow user for since a long time and I have often asked myself "what did happen to this task 4 months ago?".
Usually, this question starts a long and tedious process of going through slack/github/jira/emails to understand what was the problem.

Wouldn't be nice having a small airflow component where users can insert notes about tasks?

**What do you want to happen

[2021-07-03 08:15] potiuk commented on #16790
Nice. I think It's a nice addition. Go ahead with the PR!

[2021-07-03 09:03] BertCatsburg opened #16791 "Deprecation warning on Sqlite operator"
**Apache Airflow version**: 2.1.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): No Kubernetes

**Environment**: Docker on OSX

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): OSX
- **Kernel** (e.g. `uname -a`): (In the Docker Container) : Linux e06c1b70e310 5.10.25-linuxkit 1 SMP Tue Mar 23 09:27:39 UTC 2021 x86_64 GNU/Linux
-

[2021-07-03 09:10] potiuk commented on #16791
Please upgrade to latest version of sqlite provider or (even better) to latest 2.1.1 version of Airflow which already has consraints set to include latest provider versions (released last night).

The warning is about deprecated "apply_defaults" decorator not import and with 2.1.0 'apply_defaults' is not needed any more - so we recently released all providers without "apply_default" decorator - fo

[2021-07-03 09:10] #16791 closed

[2021-07-03 09:45] potiuk commented on #16777
Just to add on top of what @jedcunningham  wrote.

At least by reading K8S documentation, I believe, the fsGroup setting which we use for securityContext should take care of the permissions/ownerships without the need of having custom init (unless you changed also some of the parameters of the securityContext or in case the volume you are mounting cannot have permissions changed for some reason by

[2021-07-03 10:23] dennisbakhuis commented on #16777
Hi @jedcunningham, @potiuk,

Thanks for the quick reply.

I assumed that using standard persistent volume approach was the easiest (I am still a k8s novice) I did not expect that setting up one using azure-file-storage-class (SC) was this easy. These mounts can be set up using 777 rights from the SC yaml file, not sure if this is the sole cure as I also set the uid/gid in the SC mount options. Any

[2021-07-03 10:23] #16777 closed

[2021-07-03 10:37] potiuk commented on #16778
It's being fixed already in #16166  (also commented on in #13986).

[2021-07-03 10:37] #16778 closed

[2021-07-03 12:34] potiuk commented on #16763
Since we have a solution here - which appears to be applicable by everyone, I think it should be closed. Alternatively mayb you could add the solution above as a comment to the documentation of the SageMaker Operator @jimmycfa ?

[2021-07-03 12:59] potiuk commented on #16684
How about simply using valueFrom option. Seems that you could pass name of the secret and key and set it as environment variable:

[code]

In the case from @mik-laj it would be:

[code]

Sounds pretty cool and flexible, I am not sure if we can already do it in the current chart easily, but I think that looks like pretty good native solution - with a bit less flexibility but without promoting the _

[2021-07-03 13:05] potiuk commented on #16769
How about we simply add an option "AIRFLOW__CORE__FERNET_KEY_FILE" in Airflow and read the key from there? this would be like a few line change. AS you might see from #16684, I do not feel particular warmth for the _CMD pattern. While flexible, it's also dangerous and might lead to promote bad behaviour and maybe just being able to specify file name for the FERNET_KEY is  a nice, generic solution

[2021-07-03 13:28] Jorricks commented on #16772
@juroVee feel free to have a look at the PR and give me some pointers where I can make it better :)

[2021-07-03 13:55] potiuk commented on #16753
Ah I see now.  I think you do not have to skip the waiter, it's quite likely you could be able to run separate thread reading the logs while the waiter waits.

[2021-07-03 14:14] Jorricks commented on #16790
+1 seems like a valuable contribution.

[2021-07-03 14:26] potiuk opened #16793 "Add proper coverage for K8S tests"
Currently K8S tests are not testing Airflow source coverage because actual airflow code runs inside Docker container in K8S (pytest is added in the virtualenv in host, so the only thing coverage can capture is the coverage of "test" files which makes no sense.

We should remove the coverage from host and add coverage capturing inside the docker container.

This is a bit involved, because it needs

[2021-07-03 14:39] potiuk commented on #16705
Cool. Assigned you to it @sreenath-kamath !

[2021-07-03 14:53] #15963 closed

[2021-07-03 16:22] juroVee commented on #16772
@Jorricks

As you mentioned:

- Everyone is able to see each others DAGs
- Some people should be able to modify their own DAGs
- They should not be able to modify their neighbours DAGs

This is basically our use case too, to allow specific user roles have "user" permissions only on their DAGs, so DAGRun and TaskInstance management and of course forbid these actions for other DAGs.

So everything i

[2021-07-03 20:32] Jorricks commented on #16772
Hey @juroVee,

Happy to hear that! Lets hope it gets merged :)

I like your suggestion for the can_delete option. I will have a look at that and see how I can add some granularity there.

[2021-07-04 00:04] #15775 closed

[2021-07-04 02:44] sunank200 commented on #16627
@eladkal , @alexInhert @potiuk I would love to add this feature and take this as my first issue on the airflow. Can I take this up?

I can think of the following approach that to implement this feature. Here, the class [S3Hook](https://github.com/apache/airflow/blob/c8a628abf484f0bd9805f44dd37e284d2b5ee7db/airflow/providers/amazon/aws/hooks/s3.py#L96)  Interact with AWS S3, using the boto3 library

[2021-07-04 04:49] dstandish commented on #16627
I did this for our internal repo and what I did **was refactor list_keys to call a list_objects method** so you could get the full objects and filter after:

[code]

this lets you use either start after key (which is supported by list_objects_v2) or start after time (which is what you're after, and which requires that we list out every file in the prefix).

and if people want to use other object i

[2021-07-04 07:40] edwardwang888 commented on #15697
Hi @thejens, I have a different issue but it is also related to the situation where full recursive clearing of downstream tasks is undesirable. In your case, would having the option to clear only downstream tasks with "upstream failed" solve your issue?

[2021-07-04 08:04] potiuk commented on #16627
Assigned it to you @sunank200 !

[2021-07-04 08:25] sharingan-no-kakashi commented on #16790
Ok! I am going to work on this! Thank you

[2021-07-04 08:31] eladkal commented on #16552
can you please add reproduce example? What airflow version are you using?

[2021-07-04 08:52] Qiuzhuang commented on #16552
Hi Eladkal, both versions 2.0.1 and newest 2.1 have this issue. Here is the related issue: https://github.com/apache/airflow/issues/14249#issuecomment-866756616.

To proproduce issue, simply change airflow.cfg and chage default_timezone = utc to default_timezone = Asia/Shanghai, then run backfill command and you would see the error.  Then switch this timezone to default utc, backfill should be wor

[2021-07-04 09:16] eladkal commented on #16552
So it's a duplicate of https://github.com/apache/airflow/issues/14249 isn't it?

[2021-07-04 10:11] Qiuzhuang commented on #16552
Yes, I think so.

[2021-07-04 10:30] eladkal commented on #16552
So closing this one. lets have all relevant into in https://github.com/apache/airflow/issues/14249

[2021-07-04 10:30] #16552 closed

[2021-07-04 23:27] zhengyansheng opened #16802 "Ooops"
# Browser
Something bad has happened.
Please consider letting us know by creating a bug report using GitHub.

Python version: 3.7.10
Airflow version: 2.1.0
Node: apache-airflow-server
-------------------------------------------------------------------------------
Traceback (most recent call last):
  File "/usr/local/python37/lib/python3.7/site-packages/flask/app.py", line 2447, in wsgi_app
    res

[2021-07-04 23:41] uranusjr commented on #16802
Looks like an upstream bug  sdispater/pendulum#256

[2021-07-04 23:51] uranusjr commented on #16587
I wonder how we should fix this. The loop happens because the user is redirected to the login page without appropriate permissions to view the page, and the login page wants to redirect away because the user *is* logged in. So do we log the user out automatically when redirecting due to lack of permission?

[2021-07-05 00:04] #13322 closed

[2021-07-05 01:05] ExecutionSpeed opened #16803 "DockerOperator not working from containerized Airflow not recognizing `/var/run/docker.sock`"
**Apache Airflow version**: 2.1.1
**Docker Image:** `apache/airflow:2.1.1-python3.8`

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): Not running on k8s.

**Environment**:

- **Cloud provider or hardware configuration**: DigitalOcean
- **OS** (e.g. from /etc/os-release): Ubuntu
- **Kernel** (e.g. `uname -a`): `Linux airflow 5.11.0-22-generic #23-Ubuntu SMP Thu Jun 17

[2021-07-05 03:25] uranusjr commented on #14265
Actually this was already fixed in main with #15382 (not sure if it’s intended though).

As mentioned above, the issue is caused by `DAG.clear()`, when calling `clear_task_instances`, does not reset a dagrun’s `start_date`. But after #15382, `DagRun.start_date` is unconditionally set, so the issue went away.

However, that patch is currently only in main, not the 2.1 branch, so we’ll need to figur

[2021-07-05 03:29] uranusjr commented on #13853
Could someone verify whether this is still an issue with 2.1.1? Context: https://github.com/apache/airflow/issues/14265#issuecomment-873756374

[2021-07-05 03:40] uranusjr opened #16804 "Refactor SimpleTaskInstance to prevent future TaskInstance field addition to lost during serialisation"
Context: #16768

Ideas are very much welcomed.

[2021-07-05 04:08] uranusjr commented on #16564
I submitted a fix for this.

[2021-07-05 06:46] c-thiel commented on #13975
To motivate this a little bit further, the following use-case would also be solved with this PR:

When we use the KubernetesPodOperator, we launch pods in Namespaces. These Namespaces have limits - however Airflow is currently unaware of those. Thus, if we hit the limits, Airflow will just continue to schedule tasks which will fail immediately. Thus we should put each tasks in two pools: One repre

[2021-07-05 07:28] ephraimbuddy commented on #15179
I think the warning part is cool, I will go ahead and close this. Thanks for the works!!

[2021-07-05 07:28] #15179 closed

[2021-07-05 08:35] christianbrugger opened #16806 "Error mounting /tmp/airflowtmp... with remote docker"
**Apache Airflow version**: v2.1.0

**Environment**:

- **Cloud provider or hardware configuration**: ec2 t3a.medium
- **OS** (e.g. from /etc/os-release): Ubuntu 18.04.5 LTS
- **Kernel** (e.g. `uname -a`): 5.4.0-1051-aws
- **Install tools**: sudo pip3 install apache-airflow[mysql,ssh,docker,amazon]
- **Others**: python 3.6.9

**What happened**:

Task fails with error:

[code]

**How to reproduce i

[2021-07-05 08:35] dan-origami commented on #16703
FWIW; I've just noticed this happened on a worker pod over the weekend that was not experiencing abnormal memory usage or build ups.

It does seem to still log occasionally with a celery sync.

[code]

[2021-07-05 08:36] potiuk commented on #16803
Can you also try to mount /tmp folder into the container ? I am not telling it's the final solution yet, but it's likely to help or at least validate a hypothesis i have. It looks like the apis used by the DockerOperator create and use a temporary file to pass something between the client and engine.

[2021-07-05 08:52] potiuk commented on #16806
Seems the same error as #16803 - we will have to take a look at fixing it for remote engine

[2021-07-05 09:47] Prasnal opened #16807 "Change failed DAG log level"
**Apache Airflow version**: 2.0.2

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): Ubuntu 18.04.2 LTS
- **Kernel**: Linux 4.15.0-54-generic
- **Install tools**: Docker
- **Others**:

**What happened**:

[code]
Every time when task is failing I'm getting this error message. That generates a lot of noise on sentry.

**What you expected to happe

[2021-07-05 10:35] codenamestif opened #16808 "Wrong template field types for AWS operators"
**Apache Airflow version**: 2.1.1

**Environment**:

- **Cloud provider or hardware configuration**: AWS

**What happened**:

After migrating from Airflow 2.0.1 to 2.1.1, the Rendered Template tab stopped working for dictionaries. I checked it for Sagemaker and ECS operators, the code is not shown.

<img width="400" src="https://user-images.githubusercontent.com/2885779/124456386-ead53a00-dd8a-11e

[2021-07-05 10:39] codenamestif commented on #16808
It might be not just for AWS operators, but these are the ones i use and i could test

[2021-07-05 10:55] uranusjr commented on #16808
Hi! Would you be interested in submitting a PR to fix this?

[2021-07-05 11:02] uranusjr commented on #16807
Do you mean a failing DAG *run*? Because a DAG that fails is pretty critical.

IMO a failed DAG run is also very notification-worthy, because Airflow does not know why a run failed, and it might be something critical the user does not expect. If you expect something to happen, you should handle it in the DAG so it does not fail (and write a warning-level log message in the handler).

[2021-07-05 11:06] dan-origami commented on #16703
Around the time it failed i see some tmp files /tmp

[code]

[code]

There is a bunch of these appearing over time on the workers, again hard to know if its related.

[2021-07-05 11:12] christianbrugger commented on #16806
Yes, the guy in #16803 tries to run a container from within a container, running obviously into the same issue.

[2021-07-05 11:13] codenamestif commented on #16808
@uranusjr i can make pr but only for the operators i use

[2021-07-05 11:23] vikramcse opened #16810 "airflow is not accepting configuration from Admin UI"
**Apache Airflow version**: 2.1.1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): NO

**Environment**: local (docker + ubuntu)

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): Debian GNU/Linux 10 (buster)
- **Kernel** (e.g. `uname -a`):  linux

**What happened**:
airflow is not accepting configuration from Admin UI

when I submit

[2021-07-05 11:33] Reddy1990 commented on #11345
Hi @himabindu07  in Version: v2.0.2 I'm getting similar issues. The pod is getting deleted immediately once its has ran. As per the error message its correct but how can I retrieve the logs?

*** Trying to get logs (last 100 lines) from worker pod filecopierfilecopier.b3d90ee2f9fc4ef7b5ee7edda63d55f4 ***

*** Unable to fetch logs from worker pod filecopierfilecopier.b3d90ee2f9fc4ef7b5ee7edda63d55f

[2021-07-05 11:43] potiuk commented on #16810
Can't use my PC at the moment but it does look awfully a lot like we need to release 2.1.2 with a fix if it is confirmed @ashb @kaxil @jhtimmins

[2021-07-05 11:44] ashb commented on #16810
Agreed, will confirm.

[2021-07-05 12:07] uranusjr commented on #16808
That’s perfectly fine! If some other operators also have this issue, people who use them can submit fixes for them.

[2021-07-05 12:17] Prasnal commented on #16807
Ok, I understand.
In my case, sometimes business logic fails because of external dependencies. In this situation we need to fix the issue somewhere else before we retry the DAG. It means that I'm raising Exception and want to get this DAG run failed (as the job was not done) but in sentry I'm getting doubled errors - one with my Exception and the other one with Airflow error message. Do you have a

[2021-07-05 12:20] Tonkonozhenko opened #16812 "Add __init__.py to providers dir for mypy compatibility"
Currently, I'm running the next command to make mypy working correctly

[code]

Could you add this file by default or advice and I'll make PR?
I'm not familiar with the providers' architecture and I don't know where to add this hook.

[2021-07-05 12:22] harvetech opened #16813 "UrlParse not defined Failed to create a workload"
Dear all, I am trying to install airflow on a Kubernetes cluster managed by the open Telekom Deutschland. I am using the chart available here but I am getting an error at` line 162` in `webserver-deployment.yaml `that urlParse is not defined. Can somebody please guide me on what should I do?

[2021-07-05 12:38] uranusjr commented on #16812
`airflow.providers` is a namespace package, and it should not contain a `__init__.py`. Mypy should be able to work with a namespace package, so either we are not configuring Mypy correctly, or this is a bug in Mypy. Either way, the issue should not be resolved by adding a `__init__.py`.

[2021-07-05 12:57] uranusjr commented on #16807
We could potentially reduce logging so you only get one entry for the exception. But you’ll need to provide a bit more context, including what is the operator configuration you are using, what logs are emitted for the entire task run when it fails, and what you want and what you don’t want to see, so we can get a better picture of things.

[2021-07-05 12:58] potiuk commented on #16810
I have a fix (conf-> run_conf) - likely bad cherry-pick. Looking at why it has not been caught by the test_harness (the tests for dag triggering seem to pass :(.

[2021-07-05 13:07] kaxil commented on #16810
Looks like we already had a fix: https://github.com/apache/airflow/pull/16648

[2021-07-05 13:10] mik-laj commented on #16812
This is a known issue and I recommend that you run mypy with a script that has a workaround for this.
https://github.com/apache/airflow/blob/b251d22fffad63124eec5246b80035408b543704/scripts/in_container/run_mypy.sh#L24-L27

[2021-07-05 13:11] potiuk commented on #16810
Yep. That's it. Also it has not been caught in the tests because the test was quarantined. Looks like we need to take a close look at the quarantined tests and fix them.

[2021-07-05 13:14] mik-laj commented on #16803
`/var/run/docker.sock'` is owned by the user that doesn't exist in the container, so we don't have access to it.

As a workaround, you can use a sidecar container with `tecnativa/docker-socket-proxy:0.1.1`. For details, see: https://github.com/apache/airflow/issues/8605#issuecomment-784273838

[2021-07-05 13:35] ypicard commented on #16757
Thank you, I think you are right.

AWS's support just answered me with some fresh new documentation, leaving it here: https://docs.aws.amazon.com/mwaa/latest/userguide/airflow-cli-command-reference.html#parsing-support.

[2021-07-05 13:53] kaxil commented on #16810
I have cherry-picked it to v2-1-stable and v2-1-test, we will cut a 2.1.2 release which should be available to the users by the end of this week.

Until then, please use the API or CLI to trigger dags.

[2021-07-05 13:57] vikramcse commented on #16810
yes I will use the api till then
thanks @potiuk and @kaxil for checking this issue 👍

[2021-07-05 15:04] potiuk commented on #16813
The description is far too vague - you have not provided details on how your deployment look like nor what you have done so far to analyse the problem. The chart is used and tested in production so it's unlikely we will be able to help without knowing more about your deployment, configuration, changes, which versions of which charts, images, airflow, and with what configuration you used. There is

[2021-07-05 15:04] #16813 closed

[2021-07-05 15:15] potiuk commented on #16803
I think that's not it. The access right are good and confirmed they work with docker command (see the description). The real reason is described in #16808 - as I suspected, DockerOperator creates a folder in "/tmp" and tries to bind-mount it to the docker container it runs - which does not work because the "/tmp" file is created inside airflow container, not in the host. This also prevents to use

[2021-07-05 15:27] sunank200 commented on #16627
@potiuk I have raised the PR. Please review it whenever you have time. Would be happy to know your feedback.

[2021-07-05 17:17] ExecutionSpeed commented on #16803
@potiuk This ended up working.

**Docker Compose:**

[code]

[2021-07-05 18:17] potiuk commented on #16803
Yeah. Thought so. We will likely have to fix it.

[2021-07-05 19:34] Naraujo13 commented on #14906
Hey,

I'd be willing to open a PR for this one if you're not working on it @mattshin.

I've worked on something similar extending the SimpleHTTPOperator, quite useful for communication between HTTP endpoints.

[2021-07-05 20:26] mattshin commented on #14906
@Naraujo13 Sorry for not following up on this thread!

We found a way around it that didn't require making a change so I've dropped the work on this. Please feel free to pick it up, we would really appreciate it and could definitely switch to using the feature.

[2021-07-05 21:05] samgans commented on #16669
Hey! I can make an investigation on this issue and prepare the first PR! Are you ok with that?

[2021-07-05 23:04] ExecutionSpeed commented on #16803
@potiuk Great, thank you for the quick response and pointing me to the temporary workaround.

[2021-07-06 00:02] pmalafosse commented on #16669
yes, sure @samgans ! Thanks

[2021-07-06 01:06] edwardwang888 opened #16824 "Initiating `mark success/failed` operation causes UI border to disappear for task instances with no status"
**Apache Airflow version**: 2.1.1

**Environment**: Docker setup from Installation page

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): Mac OS 11.4, but similar behavior occurs in Airflow 1.10.4 on Ubuntu 18.04
- **Kernel** (e.g. `uname -a`):
- **Install tools**: Docker
- **Others**:

**What happened**:
After adding new tasks to an existing DAG, the newly add

[2021-07-06 02:00] firefumavn opened #16825 "Airflow db init failed on MSSQL"
Apache Airflow version: 2.1.0

I execute airflow db init command I get errors like below:
<details><summary>
DB: mssql+pyodbc://sqlserver:***@10.93.xxx.xxx/Airflow?ApplicationIntent=ReadOnly&TrustedConnection=Yes&driver=ODBC+Driver+17+for+SQL+Server
[2021-07-06 10:48:05,820] {db.py:695} INFO - Creating tables
INFO  [alembic.runtime.migration] Context impl MSSQLImpl.
INFO  [alembic.runtime.migratio

[2021-07-06 02:58] sunank200 commented on #11104
I had recently setup test for Mac OS for Breeze/Pre-commit scripts. Can I take this issue and raise the PR @mik-laj @kaxil @potiuk ?

[2021-07-06 04:22] imamdigmi opened #16828 "Cannot Set Index Pattern on Elasticsearch as a Log Handler"
**Apache Airflow version**: 2.0.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): ```Client Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.2", GitCommit:"faecb196815e248d3ecfb03c680a4507229c2a56", GitTreeState:"clean", BuildDate:"2021-01-13T13:28:09Z", GoVersion:"go1.15.5", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1",

[2021-07-06 06:25] alexInhert commented on #16237
@mik-laj yes it's a good solution but not for Opaque secrets because these secrets are to exist only while pod is running. they are created before the pod starts and removed after. I don't think it make sense to write these to Vault only to remove them after the task finish.

[2021-07-06 07:17] prithvisathiya commented on #14412
hey, sorry for late reply. Recent changes have made de-prioritize this issue for the last couple months. If I remember correctly, it was affecting Airflow >= 2 as well, but I will double check and update here shortly

[2021-07-06 07:21] codenamestif commented on #15279
I just tested it, the error is still there

[2021-07-06 08:33] daoudjahdou commented on #15978
I have the same problem, do you have any solutions ?

[2021-07-06 08:44] krestix opened #16830 "psycopg2.OperationalError: ERROR: pgbouncer cannot connect to server"
Something bad has happened.
Please consider letting us know by creating a bug report using GitHub.

Python version: 3.6.13
Airflow version: 2.1.0
Node: airflow2-webserver-d6c664665-h2f62

Hi, suddenly without any configuration changes airflow crashed and while trying to access the host we got an html page with this content:

[code]

[2021-07-06 08:45] fjetter commented on #16739
I'm not familiar enough with the queue functionality of airflow to know what the expected behaviour should be. In dask we have broadly speaking two ti three mechanism to limit concurrency on task level and/or control assignments to workers.

If you want to limit the number of assigned tasks, i.e. want to ensure that tasks are not yet assigned to a worker before it is allowed to be executed, resour

[2021-07-06 08:53] ephraimbuddy commented on #15978
Can you try 2.1.1? and also share your logs.

[2021-07-06 09:20] chace20 opened #16831 "try-finally segment can't work in operator"
**Apache Airflow version**:  2.0.1

**Environment**:

- **Cloud provider or hardware configuration**:  x86_64
- **OS** (e.g. from /etc/os-release): Ubuntu 20.04
- **Kernel** (e.g. `uname -a`):  4.19.128-microsoft-standard
- **Install tools**: None
- **Others**: None

**What happened**:

Hi, I want to catch exception and do something, then raise this exception and mark task failed.  But the task is

[2021-07-06 09:24] Prasnal commented on #16807
Sorry for my late reply.
More details:
Operator type: PythonOperator
It's not log when I fail the DAG run, it's just Python Exception that I throw in method that I pass as callable argument in PythonOperator constructor.
I would like to see only my exception, without additional generic error log "Marking Dag failed".

[2021-07-06 09:48] Tonkonozhenko commented on #16389
@jhtimmins any updated? We faced the same issue

[2021-07-06 10:45] JCoder01 commented on #13853
Yes, still seems to be an issue.

[2021-07-06 12:13] potiuk commented on #16825
Airflow 2.1 does not yet officially support MSSQL. We've already added an official support in development version and it will be released in 2.2.

[2021-07-06 12:13] #16825 closed

[2021-07-06 12:15] potiuk commented on #16825
See https://github.com/apache/airflow#requirements

[2021-07-06 12:37] kaxil opened #16833 "Chart: Add docs on using custom pod-template"
Currently, we allow users to use their own `podTemplate` yaml using the `podTemplate` key in `values.yaml`. Some users have passed the name of the file in `podTemplate` instead of YAML string.

We should have a dedicated page on how a user could do that and add an example in `values.yaml` file itself.

https://airflow.apache.org/docs/helm-chart/stable/parameters-ref.html

https://github.com/apache

[2021-07-06 12:39] internetcoffeephone opened #16834 "Airflow dashboard cannot load logs containing emoji"
**Apache Airflow version**:
2.1.0

**What happened**:
When printing emoji to a DAG log, the Airflow dashboard fails to display the entire log.
When checking the output log in the Airflow dashboard, the following error message appears:

**What you expected to happen**:
The log should be displayed.

**How to reproduce it**:
Insert the following into any Python DAG, then run it.
`print("💼")`

**How o

[2021-07-06 12:44] sicarul commented on #15279
I had a lot of jobs freezing with cloudwatch, migrated to using an EFS filesystem to keep logs myself (using ECS Fargate to host Airflow)

[2021-07-06 12:44] #16690 closed

[2021-07-06 12:52] potiuk commented on #16831
NEVER use return in finally https://stackoverflow.com/questions/11164144/weird-try-except-else-finally-behavior-with-return-statements. This is not that well-known behaviour of python but this is how it works.

[2021-07-06 12:52] #16831 closed

[2021-07-06 12:57] Naraujo13 commented on #14906
No worries, I'll pick this one up then!

[2021-07-06 13:03] potiuk commented on #16830
It looks like it is problem with your deployment. Apparently your database is down or someone changed the DB configuration.

[2021-07-06 13:03] #16830 closed

[2021-07-06 13:18] kaxil commented on #14412
This was fixed by https://github.com/apache/airflow/pull/13984

[2021-07-06 13:19] #14412 closed

[2021-07-06 14:03] #9975 closed

[2021-07-06 15:34] potiuk commented on #11104
Sure!

[2021-07-06 16:06] saurasingh opened #16836 "WebUI broke when enable_xcom_pickling Airflow2.1"
**Apache Airflow version**: 2.1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
AWS EKS, AWS ECS
**Environment**:

- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): Debian GNU/Linux 10
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

I have a python operator where python_callable just retu

[2021-07-06 17:21] warrenstephens commented on #15607
Using airflow 2.1.1 with docker-compose as well.

I would love to be able to clean out this DAG 'tutorial' stuff, but I have no idea where the "serialized dag table" is!  How do I get to it?

[code]

[2021-07-06 17:37] aa1371 commented on #16739
@fjetter thanks for the insight. I think worker resources is the best way forward. Since it lets you tag your workers at creation time and then dispatch your airflow tasks based on that tagged name  (i.e. queue name), without needing to keep track of explicit workers within airflow. Also it turns out there is a way to define infinite worker resources in dask workers, so this will let you define th

[2021-07-06 17:56] kaxil commented on #15607
@warrenstephens Check for the `tutorial` dag entry in `dag` table too. These tables are in Metadata DB (Postgres or MySQL) depending on what you are using in your docker-compose

[2021-07-06 18:43] mdcsaenz commented on #16783
Ah okay, I will see if that works and then close the ticket if that is the case. But it definitely erased the Role even with AUTH_USER_REGISTRATION_ROLE and AUTH_USER_REGISTRATION  are both false as well. I made AUTH_USER_ROLE False as well.

[2021-07-06 18:57] warrenstephens commented on #15607
I fought my way into the running docker container as the "airflow" user, and listed the tables, one of which was "dag", selected * from dag, which showed 3 dag_id values -- none of which were "tutorial" -- they were the dags that I expected.

So where is the "tutorial" dag?

For those playing along at home, here is how I got into the running postgres container:
[code]
where I found "roger_postgres

[2021-07-06 19:08] kaxil commented on #15607
Can you post the code of your DAG with dag_id `annotate_dug`

[2021-07-06 19:09] jedcunningham commented on #16828
@imamdigmi, could you try this in your environment? If it works, we can make the index configurable.

[code]

[2021-07-06 19:15] warrenstephens commented on #15607
Alrighty!
[code]

[2021-07-06 19:16] edwardwang888 commented on #16824
Upon further investigation, this appears not to be primarily a UI bug, but rather an issue with the existence of task instances in the `task_instances` table.

It seems that if a task instance does not exist in the `task_instance` table, the UI will display it as `no_status` (with the black border). However, upon initiating a `mark success/failed` operation, the non-existent task instances for tha

[2021-07-06 19:19] #16564 closed

[2021-07-06 19:20] warrenstephens commented on #15607
Didn't find "tutorial" in the serialized_dag table either.

Here is what shows up in the docker-compose window:

![image](https://user-images.githubusercontent.com/15000847/124655160-7c1cdd00-de6d-11eb-9d72-2757b2b2fa32.png)

[2021-07-06 19:28] warrenstephens commented on #15607
This is from the annotate.py.log.  Looks like some sort of bizarre import error to me.
[code]

[2021-07-06 19:45] psg2 opened #16839 "/dag/{dag_id} returns stale dags without its serialized version unlike /dags/{dag_id}/details"
**Apache Airflow version**: 2.1.1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**: N/A
- **OS** (e.g. from /etc/os-release): N/A
- **Kernel** (e.g. `uname -a`): N/A
- **Install tools**: N/A
- **Others**: N/A

**What happened**:

After removing a dag from the filesystem, Airflow cleans up the Serialized

[2021-07-06 20:47] bbovenzi commented on #16824
That makes sense to me. If anything, it should render the other way around: non-existent tasks are just blank with no outline. We can still handle this in `tree.js` of the UI.

[2021-07-06 21:33] warrenstephens commented on #15607
Fixed the bizarre import error, and the DAG error still occurs -- which starts only after I login to the localhost:8080 interface.
[code]

[2021-07-06 21:47] jedcunningham commented on #16783
Yep, that's the behavior with `AUTH_ROLES_SYNC_AT_LOGIN` and no matching roles in `AUTH_ROLE_MAPPING`. You could also disable `AUTH_ROLES_SYNC_AT_LOGIN` and manage the roles yourself.

[2021-07-06 22:10] #16770 closed

[2021-07-06 23:36] #9387 closed

[2021-07-07 00:01] edwardwang888 commented on #16824
I actually prefer having non-existent tasks still render with the outline, the reason being that after adding a task, there is sometimes a need to mark the non-existent tasks as success/failed - so being able to still see the outline is still useful.

It also seems that non-existent tasks and tasks with `null` state are essentially treated the same (by the scheduler), so it may be misleading to di

[2021-07-07 00:03] gyscos opened #16844 "Rest API: allow filtering DagRuns by state."
**Add state filter to the dag runs list API endpoint**

One feature available in the "Browse / Dag Runs" page but not in the current rest API is the ability to filter runs of a specific state(s).

Example use-case: this would let a client efficiently fetch the number of "queued" and "running" runs, or look at recent failed runs.

Ideally, the current `/dags/{dag_id}/dagRuns` and `/dags/~/dagRuns/l

[2021-07-07 00:05] uranusjr commented on #16844
Hi! Would you be interested in submmitting a pull request for this?

[2021-07-07 00:28] gyscos commented on #16844
I can try? Tentatively sent #16845 for that.

[2021-07-07 00:45] mik-laj commented on #16684
It uses the native secret backend provided by Kubernetes. Unfortunately, he is not considered to be very safe and is quite limited, e.g. it does not support dynamic secrets.  Many corporate users prefer solutions that meet more stringent requirements, such as Hashicorp Vault.

Unfortunately, This is a limitation of Kubernetes, which has decided to be an all-in-one solution and third-party solution

[2021-07-07 00:49] mik-laj commented on #16684
This is the currently used supported solution by Helm Chart, but we want to add support for non-native secret managers.
https://github.com/apache/airflow/blob/2b7c59619b7dd6fd5031745ade7756466456f803/chart/values.yaml#L238-L240
https://github.com/apache/airflow/blob/36651becaf9c706452e987c4050f45994ac2c0de/chart/templates/_helpers.yaml#L45-L54

[2021-07-07 03:20] edwardwang888 commented on #16824
A few more observations:
- I think the missing borders are due to the run being a manual run - the borderless white box is meant to display when the task instance previously existed but has been cleared. (In this case, the non-existent task instances are incorrectly added to the DB to make them appear as if they previously existed.)
- Non-existent tasks and tasks with `null` state actually are act

[2021-07-07 03:37] yuqian90 opened #16846 "Better integration with systemd"
**Description**

Airflow services (scheduler, worker and webserver) can be managed with systemd. Some small improvements will make this experience better:
- systemd has a feature called [WatchDogSec](https://www.freedesktop.org/software/systemd/man/systemd.service.html). It can be used to restart hung processes. To make use of the feature, the service needs to periodically call `sd_notify(3)`.  It

[2021-07-07 04:02] david30907d opened #16847 "Task marked as UP_FOR_RETRY but was not retried"
**Apache Airflow version**: `2.1.1rc1`

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.18

**Environment**:

- **Cloud provider or hardware configuration**: AWS EKS
- **OS** (e.g. from /etc/os-release): `Debian GNU/Linux 10`
- **Kernel** (e.g. `uname -a`): `Linux airflow-worker-1 4.14.232-176.381.amzn2.x86_64 #1 SMP Wed May 19 00:31:54 UTC 2021 x86_64 GNU/Linux`
-

[2021-07-07 05:08] imamdigmi commented on #16828
Hi @jedcunningham thanks for your suggestion, I have tried it, and it works
![20210707120518 PM](https://user-images.githubusercontent.com/10998240/124703106-e12f0c00-df1b-11eb-8bde-fa1ebbe26314.jpg)

[2021-07-07 07:40] uranusjr commented on #16371
Similar to how we plan to associate `TaskInstance` to `DagRun` via `run_id` (instead of implicitly via `execution_date`), would it make sense to also add a `run_id` column on XCom as well? That (plus backfilled values) would make this a lot easier; currently since XCom only has `dag_id` and `execution_date`, we need to do an SQL join to filter with `run_id`.

[2021-07-07 08:03] mgorsk1 opened #16850 "Configurable KubernetesPodOperator XCom sidecar container"
**Description**

Since Airflow 2 we get a lot of customization options for pods spawned using `KubernetesPodOperator`. There is, however, one area in which nothing has changed and it's `xcom_sidecar_container`. Currently, all of the specs for it are hardcoded in `PodDefaults` class.

This issue is meant to start discussion and to possibly shape the end solution enabling configuration of xcom side

[2021-07-07 09:01] mik-laj commented on #16850
Duplicate: https://github.com/apache/airflow/issues/10605

[2021-07-07 09:01] #16850 closed

[2021-07-07 09:03] mik-laj commented on #16846
Are you willing to submit a PR? I'm happy to help with review.

[2021-07-07 09:06] yuqian90 commented on #16846
thanks @mik-laj ! yes I'm happy to submit a PR. I put up the issue early in case others in the community have suggestions or comments.

[2021-07-07 09:08] mik-laj commented on #16846
In my opinion, it would be worth adding some documentation that describes our best practices on running Airflow with systemd manager.

[2021-07-07 09:22] ashb commented on #16846
So long as we can do this without putting an explicit dependency on any systemd libs (Which will almost certainly be GPLd.)

[2021-07-07 10:29] ashb commented on #16398
Do you want the run_as_user value of the dag to change based on which user submits the trigger DAG API call?

That is not currently possible at all, so this is a bigger feature request than you might realise -- the run_as_user and all other task properties for a DAG come from the python file, and the python file only, so there's no real mechansim to control this.

So first step on this: we need to

[2021-07-07 10:30] ashb commented on #16812
Close, won't fix. By design.

[2021-07-07 10:30] #16812 closed

[2021-07-07 10:31] ashb commented on #16810
Closing this issue as the fix is merged and it will be released soon.

[2021-07-07 10:31] #16810 closed

[2021-07-07 11:04] #14249 closed

[2021-07-07 11:32] ashb commented on #16783
Is this an Airflow bug, or a FAB bug?

[2021-07-07 11:37] ashb commented on #16802
What environment are you running in ? You can probably work around this by setting `TZ=UTC` environment variable.

Since this is a bug in pendulum (and there's a workaround) with not all that much we can do in Airflow I'm going to close this.

[2021-07-07 11:37] #16802 closed

[2021-07-07 11:40] ashb commented on #16790
See also https://github.com/apache/airflow/issues/12199 which asks for a new state -- So that you can "acknowledge" the failure without marking it as success.

[2021-07-07 11:59] tfedyanin commented on #10544
I guess it happens when I use manual retry.
There is no label `try_number=1`, that provide uniqueness between runs. So on first manual retry pod is created correctly. And there is violation of uniqueness on next manual retries.

[2021-07-07 12:08] ashb commented on #16764
Oh yeah.

Okay, so why this happens:

TaskGroups don't actually exist as dependencies, so when you do `start >> taskgroup >> end` you are setting the downstream of start and the upstream of end based on the _current_ tasks in the taskgroup.

To fix this properly we would need need a "two pass" approach (which I think, isn't a problem): the first pass happens when parsing the DAG file, and when we

[2021-07-07 12:08] ashb commented on #16764
The workaround for now, is as you said, to move the `start >> taskgroup >> end` to outside of the TG context.

[2021-07-07 12:38] warrenstephens commented on #15607
@kaxil **I found the issue!**

It turns out that I had a minimized window open with the `http://localhost:8080/graph?dag_id=tutorial` in it!  This was from doing the tutorial walkthru days prior with some other folks.

Now that I have closed that window the Airflow webserver exception no longer occurs (as shown in the screenshot above).

I guess that the minimized window was reconnecting to airflo

[2021-07-07 12:51] potiuk commented on #15607
Closing it then.

[2021-07-07 12:51] #15607 closed

[2021-07-07 12:54] warrenstephens commented on #15607
Airflow webserver should probably handle the request without generating an Exception.

[2021-07-07 13:41] Lyalpha commented on #16023
Just to add that I'm also seeing this behaviour on 2.1.0, running on bare metal. Have a paused DAG and I am trying to run a task within the DAG manually, but upon the next check for orphaned tasks by the scheduler (on a 5min interval), the task is reset and receives a `SIGTERM`.

No sign of `Marked %d SchedulerJob instances as failed` entries in logs. Given the original issue shows MWE, I don't se

[2021-07-07 14:08] jedcunningham commented on #16783
FAB.

[2021-07-07 14:22] potiuk commented on #15607
Why do you think so ? Could you please elaborate?

I think showing an exception in logs is a good idea if someone sends a wrong request that triggers it. This is the default behaviour is some bad formed. wrong parameter, etc is sent, allowing to debug the problem when it happens.  I do not honestly imagine better way of handling it. It gives a nice stack trace showing where it came from (and that

[2021-07-07 14:59] ashb commented on #12817
cc @msumit -- perhaps we should think about deprecating/merging params and dagrun.conf in the template -- not sure there is real value in having both.

[2021-07-07 15:58] ashb commented on #16783
This is likely a "wont Fix" from airflow's side I'm afraid then.

[2021-07-07 16:01] jedcunningham commented on #16783
I haven't poked around yet, but we may be able to handle the 'no role' scenario more gracefully on our side. Let me take a stab at that before we close this.

[2021-07-07 16:03] ashb commented on #16783
@jedcunningham Cool

[2021-07-07 18:21] bbovenzi commented on #16824
Let's separate the backend and frontend bugs into their own issues.
I think we should at least stay consistent with however we do borders.

[2021-07-07 18:30] jbkc85 commented on #16846
fwiw, and just to share:

[code]

[2021-07-07 20:00] samgans commented on #16669
Hello again!

I've made a basic investigation on it and found that we actually have a bit weird situation. The thing is that if you are authenticating your Tableau connection with a personal access token, each time you will try to open a parallel connection, the previous one will be invalidated. You can read more about this in the thread: https://github.com/tableau/server-client-python/issues/717.

[2021-07-07 20:34] samgans commented on #16836
We need to change the `!= None` to `is not None` as the DF cannot evaluate to True or False as a whole. I can make a PR  and fix this in close time. Any ideas if it can break something?

[2021-07-07 20:37] #15622 closed

[2021-07-07 21:00] caleboverman commented on #13542
We've just migrated to `2.1.1` and are continuing to see tasks stuck in `Scheduled` using the `LocalExecutor`.

In our case, Airflow seems to kick off tasks as expected until a DAG reaches it's concurrency limit (which we typically set at the individual DAG level instead of globally). Once a DAG hits the concurrency limit then tasks in other DAGs don't start executing despite Airflow having open e

[2021-07-07 21:05] Jorricks commented on #13542
We had a similar issue and increased the `default_pool` 10x (from 128 to 1000). This fixed it completely for us.
Did you already attempt something similar? Wondering if this helps in your case as well

[2021-07-07 21:07] zachliu commented on #16130
@Tofull is my description of the bug confusing? :thinking:

[2021-07-07 21:12] saurasingh commented on #16836
@samgans  I believe this was already addressed in the past https://github.com/apache/airflow/issues/12315,  but really do not know if @turbaszek changed this `!=None` to `is None`. Also, I am too sure if this is going to break anything.

[2021-07-07 21:29] pmalafosse commented on #16669
Great, thanks a lot for investigating this @samgans !

On my side I created a new 'airflow' user in Tableau with 'Site Administrator Explorer' role and will use the username/password authentication then.
I think it makes sense to deprecate the personal token authentication for the TableauRefreshWorkbookOperator and adding some comments about this issue in the code as it was not even working proper

[2021-07-07 21:37] mik-laj commented on #16839
Endpoint `/dag/{dag_id} ` returns the active DAGs by default. If you want access to all DAGs, you must use the is_active parameter. To access all DAGS - both active and inactive, you should pass `in_active` parameter.  Thanks to this, you can access archived data, but by default, you have consistent UI with CLI (`airflow dags list`) and Web UI (`/home/`).

[2021-07-07 21:47] nareshkumaryadav commented on #16730
@ecerulm Do you mean transfer from AWS SFTP to s3 operator or transfer from any SFTP to S3 ?

[2021-07-07 21:59] samgans commented on #16836
Yes, the decision was not committed to the main. I've just tested and it seems like changing this to `is not none` fixes the issue. I think I will make a PR to address this and make an issue that will describe another problem revealed in #12315.

[2021-07-08 01:44] jbkc85 commented on #13542
We just updated it.  We will let you know in the morning - hopefully we see some improvement!

[2021-07-08 01:46] maxcountryman commented on #13542
Chiming in here to say we also noticed a stuck task this morning after updating to 2.1.1 on Tuesday.

[2021-07-08 01:59] firefumavn commented on #16825
Dear Potiuk,

Thank you for replying to me. I hope to have version 2.2 at the earliest to experience it.

Thanks,

[2021-07-08 02:02] josh-fell commented on #16635
@vikramkoka I've already started working on this and have a PR open but to close the loop, would you mind assigning me to this issue? Unless it makes no difference at this point.  Thanks!

[2021-07-08 04:32] Tofull commented on #16130
I hit the same behaviour like you describe with the version 2.1.0. We upgraded to `airflow == 2.1.1rc1` and the Tree View is now working as expected.
I think the PR https://github.com/apache/airflow/pull/16522 fixes the overlapping issue (related to issue https://github.com/apache/airflow/issues/16238).
This issue is also related to PR https://github.com/apache/airflow/pull/16437.
Both PRs have be

[2021-07-08 05:01] edwardwang888 opened #16877 "Cleared task instances in manual runs should have borders"
**Description**

Task instances in manual runs do not display with a border, except when the task instance is non-existent (after adding tasks to an existing DAG). Hence, when an _existing_ task instance is cleared, it is displayed without a border, causing it to disappear into the background. To be consistent, existing task instances that are cleared should also be drawn with borders.

Here, `tas

[2021-07-08 05:13] edwardwang888 commented on #16824
I created a new issue for the border behavior. I will investigate the backend bugs further and open a separate issue.

[2021-07-08 05:34] #15879 closed

[2021-07-08 06:41] ecerulm commented on #16730
The SFTPToS3Operator is an already existing operator that can transfer a file from any SFTP server to s3 @nareshkumaryadav

[2021-07-08 07:05] Jorricks commented on #13542
You can try the things mentioned here [in this comment](https://github.com/apache/airflow/issues/13542#issuecomment-861300533) if the issue still exists.

[2021-07-08 07:42] samgans commented on #16669
@pmalafosse,

The deprecation will not be related directly to `TableauRefreshWorkbookOperator` but will be done rather for `TableauHook`, where the method of authentication using the personal token is implemented.

Speaking of the third solution, I've been thinking about some kind of strategy of reusing the existing connection by `TableauHook` (e.g. saving it in the global variable which will be a

[2021-07-08 08:11] baolsen opened #16880 "Improve AWS SQS Sensor"
**Description**

Improve the AWS SQS Sensor as follows:
+ Add optional visibility_timeout parameter
+ Add a customisable / overrideable filter capability so we can filter/ignore irrelevant messages

[Not needed, see below conversation]
--- Check the HTTP status code in AWS response and raise Exception if not 200 - best practice

**Use case / motivation**

I'd like to make the SQS sensor more flexi

[2021-07-08 08:43] rodrigo-morais opened #16881 "Re-deploy scheduler tasks failing with SIGTERM on K8s executor"
**Apache Airflow version**: 2.1.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): v1.18.17-gke.1901

**Environment**:

- **Cloud provider or hardware configuration**: Google Cloud
- **OS** (e.g. from /etc/os-release): Debian GNU/Linux 10 (buster)
- **Kernel** (e.g. `uname -a`): Linux airflow-scheduler-7697b66974-m6mct 5.4.89+ #1 SMP Sat Feb 13 19:45:14 PST 2021 x86_6

[2021-07-08 09:33] ashb commented on #16618
Hmmm, the "native" way I would like this to work is:

[code]

But sadly XComArg already has a `__getitem__` to override the key, which means it is actually

[code]

If we hadn't yet released it, I would have suggested that the facility to change the key should have been done by `__getattr__`, yielding:

[code]

But that ship is sailed, so I'm not sure how to proceed nicely.

[2021-07-08 09:36] ashb commented on #16618
I guess part of the confusion is some operators have an xcom return_key that is a dict, and others return separate xcom keys directly.

[2021-07-08 09:40] ashb commented on #16846
https://airflow.apache.org/docs/apache-airflow/stable/howto/run-with-systemd.html which points to https://github.com/apache/airflow/tree/main/scripts/systemd already exists for the "just run it with systemd" -- this issue is talking about richer integration with systemd.

[2021-07-08 09:44] ashb commented on #16881
Which executor are you using @rodrigo-morais ?

[2021-07-08 09:45] rodrigo-morais commented on #16881
Kubernetes executor

[2021-07-08 09:48] ashb commented on #16881
The error log from the task doesn't show us anything useful -- it only shows that it's been set to failed in the DB.

Can you look for something relevant to this task in new and old scheduler logs.

[2021-07-08 09:51] ashb commented on #16880
Doesn't Boto do that for us already?

[2021-07-08 09:59] #16130 closed

[2021-07-08 10:20] ashb commented on #16023
@Jorricks Would this be fixed by one of your PRs? (They haven't made it to a release yet.)

[2021-07-08 10:42] baolsen commented on #16880
Yea I have a gripe about the usability/accuracy of the AWS documentation sometimes.

Some of the boto3 APIs do indeed provide a managed capability so we don't need to check return codes.
But many (most?) others do not, especially older ones. It's not always clear in the documentation which is which... and there are no "since" tags on the APIs either.
 I have noticed that if an API is managed it is

[2021-07-08 10:44] baolsen commented on #16880
Edit: The "clearest reference" link doesn't even mention checking the HTTP code which is definitely in the responses I have.... So yea not clear at all then ;)

[2021-07-08 11:14] ashb commented on #16880
https://github.com/boto/botocore/blob/23ee17f5446c78167ff442302471f9928c3b4b7c/docs/source/client_upgrades.rst#error-handling

Botocore handles it -- we don't have to.

[2021-07-08 11:24] ashb commented on #15369
Can anyone else confirm if this is fixed? I'm going to mark it as "pending-response" so that it gets auto-closed after a while

[2021-07-08 11:35] ashb commented on #16697
Setting start date via default_args is the one that bugs me most. Set it on the dag directly instead :)

[2021-07-08 12:13] rodrigo-morais commented on #16881
Pods before to deploy a new scheduler
[code]
Pods after to deploy the scheduler
[code]

Pods after the current scheduler have been terminated and the new one has been created
[code]
<details><summary>Pod with error</summary>Running <TaskInstance: as_check_counts_sf_vs_pg.contentdb 2021-07-08T11:42:09.208095+00:00 [queued]> on host ascheckcountssfvspgcontentdb.44eee838b6754b0aa0c8e6288a6195a2
Trace

[2021-07-08 13:32] Reddy1990 commented on #12074
Hi, is there anyway that the pod created in the first execution of task can be reused for the next scheduled run. Instead of creating a new pod for every run. I have a batch job that runs for every minute in this scenario I want the pod to be running and make use of the existing pod. I'm aware its possible in direct K8s, but I want use Airflow for managing my tasks.

[2021-07-08 15:03] armandduijn opened #16887 "Show duration of a task group"
**Description**

Show the duration of the task group in the Airflow UI.

![image](https://user-images.githubusercontent.com/706385/124945371-5e3aae00-e00e-11eb-8050-6fa988e09191.png)

**Use case / motivation**

The task groups are a nice way to encapsulate multiple tasks. However, in the Graph view, the duration of the grouped tasks isn't visible. You need to expand the group to view them.

It's p

[2021-07-08 15:04] duc-luong-tnsl opened #16888 "Bug on KubernetesJobWatcher in Scheduler"
I got this issue on my scheduler with Airflow 2.1.0 run with Kubernetes.
The scheduler does not die but often gets an error log.

[code]

IMPORTANT!!!

**Apache Airflow version**: 2.1.0

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): Ubuntu
- **Kernel** (e.g. `uname -a`): Linux airflow-v2-scheduler-66c999b4b9-nqr4p 4.19.112+ #1 SMP Fri Sep 4

[2021-07-08 15:43] jbkc85 commented on #13542
Still the same issue - regardless of troubleshooting.  Also we run on a LocalExecutor, so we cant force a DAG Run.

I did notice something though and I just want to verify: https://github.com/apache/airflow/blob/b0f7f91fe29d1314b71c76de0f11d2dbe81c5c4a/airflow/jobs/scheduler_job.py#L336.  This particular line looks like it limits the query results per the amount of max executions of the task insta

[2021-07-08 17:27] jordanjeremy commented on #16808
As mentioned previously, this is not specific to AWS operators.  This issue also happens with @task decorated (TaskFlow API) operators, where the op_kwargs is a dict and is setup to be rendered as py.
![image](https://user-images.githubusercontent.com/72943478/124964827-148a9d00-dfe7-11eb-9057-47f6b0142d33.png)

Possible solution is to update the "get_python_source" in utils/code_utils.py to handl

[2021-07-08 17:50] josh-fell opened #16891 "Add a SalesforceToS3Operator to push Salesforce data to an S3 bucket"
**Description**
Currently an operator exists to copy Salesforce data to Google Cloud Storage (`SalesforceToGcsOperator`) but a similar operator for an S3 destination is absent.  Since S3 is widely used as part of general storage/data lakes within data pipelines as well as Salesforce to manage a slew of marketing, customer, and sales data, this operator seems beneficial.

**Use case / motivation**

[2021-07-08 18:28] mightydeveloper opened #16892 "Render template for dictionary keys"
When rendering jinja template, it is rendered recursively for some kind of collection type. (list, tuple, set, ...)
However, for the dictionary type, only the `value` part is rendered while the `key` part is not rendered.

I am wondering if this behavior is intended due to some unwanted behavior.
If not, I want to suggest to render the keys as well during the rendering.

**Use case / motivation**

[2021-07-08 19:47] ShraddheyaS commented on #16725
@uranusjr I have opened a PR https://github.com/apache/airflow/pull/16894 for resolving this using the `recursive=True` fix you mention above. Also verified with the new test added that the fix works (as expected, the test fails without the flag).

As a first time contributor, a workflow in the CICD pipeline is blocked on the PR. Can you please approve the workflow? Thanks!

[2021-07-08 19:50] stephsamson opened #16895 "Chart: remote_logging keeps evaluating to False"
**Apache Airflow version**: 2.0.2

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): v1.19.10

**Environment**: GKE

- **Cloud provider or hardware configuration**: GCP
- **OS** (e.g. from /etc/os-release): Debian GNU/Linux 10 (buster)
- **Kernel** (e.g. `uname -a`): x86_64 GNU/Linux
- **Install tools**: Helm
- **Others**:

**What happened**: Configured `values.yaml` to

[2021-07-08 19:59] Jorricks commented on #16023
Unfortunately not. My latest bugfix PR was to prevent scheduled tasks from being picked up and to make sure cleared tasks wouldn't be seen as orphans.

[2021-07-08 20:07] potiuk commented on #16725
Running now

[2021-07-08 20:14] potiuk commented on #16891
Assigning you then :)

[2021-07-08 20:19] jsanko9 opened #16896 "Deleting task instance from UI deletes Dag Run too"
**Apache Airflow version**:
2.1.0, also 2.1.1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
1.19.6

**Environment**:
On-premise Cluster
Official Docker Image with Python 3.8

**What happened**:
When working in '/taskinstance/list/' view and clicking on 'Delete record' as an admin. It deletes not only task instance but also whole Dag run.

**What you expected to hap

[2021-07-08 20:35] Jorricks commented on #16023
Is it possible you are restarting your webserver frequently?

I think the problem is that it shouldn't go through this filter, but it somehow is.

https://github.com/apache/airflow/blob/db6acd9e8a91e0eca9e12cace72edc57b2667d25/airflow/jobs/scheduler_job.py#L1185

Makes me wonder, what do you have for your [worker_refresh_interval](https://airflow.apache.org/docs/apache-airflow/stable/configuration

[2021-07-08 20:39] mikekenneth commented on #8087
Hi All,
Am having the same issue.
Please any update on this.
Thanks.

[2021-07-08 20:53] ivanmiloj opened #16897 "Problem with starting airflow"
**Apache Airflow version**:

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know**:

[2021-07-08 21:21] jedcunningham commented on #16897
@ivanmiloj, please open another issue with details if you have something to report. Thanks.

[2021-07-08 21:21] #16897 closed

[2021-07-08 21:33] jedcunningham commented on #16895
@stephsamson, can you check if you have an `AIRFLOW__LOGGING__REMOTE_LOGGING` env var set? That would be the easy explanation.

[2021-07-08 21:56] jedcunningham commented on #16892
@mightydeveloper, I can't think of a reason why we couldn't template the key too. Give it a shot and see if any tests break. I'm assigning this to you 👍

[2021-07-08 22:13] jedcunningham commented on #16888
@duc-luong-tnsl, we watch pods with this label:
https://github.com/apache/airflow/blob/2.1.0/airflow/executors/kubernetes_executor.py#L129

In your scheduler log, right before the traceback, what pod name was logged? Does it looks like a kubernetesexecutor worker (e.g. dagidtaskid.random)?
https://github.com/apache/airflow/blob/2.1.0/airflow/executors/kubernetes_executor.py#L147

The only time I'v

[2021-07-09 00:08] saurasingh opened #16898 "List User UI in security is broken"
**Apache Airflow version**: 2.1.1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): AWS EKS, AWS ECS

**Environment**:

- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): Debian GNU/Linux 10
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

I have enabled RBAC and using FAB OAUTH to authentica

[2021-07-09 01:06] dinigo commented on #12611
Looks amazing.
I was thinking on something to send errors to GCP error reporting. But this supports the custom JSON. In general having a notification API so people can plug their notification libraries. But yes, this certainly do :)

[2021-07-09 02:57] wolfier opened #16902 "Check for file content hash when caching dag_code"
**Description**

Add or update additional parameters that defines when a file's dag_code entry should be refreshed.

**Use case / motivation**
When `store_dag_code` is enabled, dag code is stored in the `dag_code` table. The table is updated when the originating file's modification time is greater than when the dag code was last cached.

I would like the code view (pulled from the `dag_code` table

[2021-07-09 03:59] baaj2109 opened #16903 "TypeError: cannot serialize '_io.TextIOWrapper' object"
Hi, I tried to run airflow tutorial code on windows subsystem ubuntu, but when I run backfill always got this error, is there something I miss?
and below is my command
`airflow dags backfill tutorial -s 2019-10-01 -e 2019-10-05
`

**Apache Airflow version**: 2.1.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):11.0.0

**Environment**:

- **Cloud provider or hardware

[2021-07-09 04:08] uranusjr commented on #16903
See #14379. 2.1.1 contains a fix to this.

[2021-07-09 04:10] uranusjr commented on #16903
Oh you are running a supported kunernetes version. Hmm, so this is not the same I guess.

[2021-07-09 04:13] uranusjr commented on #16903
#14379 looks more similar, but that issue was already resolved before 2.1.0.

[2021-07-09 04:50] misurin commented on #16898
In my case, I am able to list users, but there is no edit, delete buttons shown.

[2021-07-09 04:56] dwivedys commented on #16730
This doesn't seem like a bug but more like a missing documentation issue?

[2021-07-09 05:45] baaj2109 commented on #16903
I update airflow from 2.1.0 to 2.1.1, got new error message
[code]
and after I type ctrl+c, show another message
[code]

[2021-07-09 05:47] baolsen commented on #16880
That is awesome, thank you for sharing. I'll scratch that one from this request :)

[2021-07-09 06:40] pretendhigh opened #16905 "Airflow2.0.2 python3.7.1 statsd not work"
**Apache Airflow version**:
Airflow2.0.2

**Environment**:
OS : Ubuntu16.04
python 3.7.1
mysql8.0

**What happened**:
Airflow scheduler will not work and it throw a error "sqlalchemy.exc.OperationalError:". Detail log is showed later.

**What you expected to happen**:
It should started statsd and I can get metrics at port 8125.

I think it may be a statsd problem since it has not been updated sinc

[2021-07-09 06:50] eejbyfeldt commented on #16847
We are also running into this issue. I believe this is a bug that was introduced in this PR: https://github.com/apache/airflow/pull/15172

I [believe](url) the problematic code is this line:
https://github.com/apache/airflow/blob/db6acd9e8a91e0eca9e12cace72edc57b2667d25/airflow/jobs/local_task_job.py#L82-L85
that sets task_instance state to `State.FAILED`.

Here is a test case that can be added in

[2021-07-09 06:59] aaron-ang opened #16906 "SQL query in Airflow job differs from that in yaml"
-->

**Apache Airflow version**: 1.10.10

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): Ubuntu 18.04.2 LTS (Bionic Beaver)
- **Kernel** (e.g. `uname -a`): 5.4.0-1041-aws
- **Install tools**:
- **Others**:

**What happened**: After a SQL CTE, the next select state

[2021-07-09 07:01] pateash commented on #15994
+1 for **NullOperator**

[2021-07-09 07:47] stephsamson commented on #16895
@jedcunningham I do not but as a workaround for now I am using the following as a workaround:

[code]

[2021-07-09 08:03] potiuk opened #16907 "Add tests suite for MariaDB 10.6+ and fix incompatibilities"
It seems that MariaDB 10.6 has added support for SKIP...LOCKED, so we could theoretically easily officially support MariaDB database (possibly with fixing some small issues resulting for test suite execution).

It would require to add `mariadb` backend similarly as we added `mssql` backend in those three PRs: #9973, #16103, #16134

[2021-07-09 08:06] pyerbiz commented on #16730
I would like to work on this issue. Based on the problem description the documentaion for SFTPToS3Operator can be made . Please see below:

1. The actual doc be mirrored on [glacier_to_gcs.rst](https://github.com/apache/airflow/blob/main/docs/apache-airflow-providers-amazon/operators/transfer/glacier_to_gcs.rst)

2. An example DAG for SFTPToS3Operator will have to built under [airflow/providers../

[2021-07-09 08:10] Jorricks commented on #16023
@ashb I don't mind creating a PR but do you have an idea on how we can fix this?
I am having a bit of trouble figuring out how we can get the `external_executor_id` in the current flow without delaying the response of the request noticeably.

[2021-07-09 09:19] david30907d commented on #16847
@eejbyfeldt thanks for your fast reply, also good to know how to contribute to Airflow repo.

Will give it a shot on weekends 😄

[2021-07-09 10:19] potiuk commented on #16730
1. yep
2. yep
3. Happy if you add it too :)
4. yeah. good catch. I think just moving the files should be enough, I think

BTW. You can ran `./breeze build-docs -- --package-filter apache-airlfow-providers-amazon` to test if the documentation builds and looks nice (and then ./docs/start_doc_server.sh you should be able to browse the docs)

[2021-07-09 10:27] potiuk commented on #16906
Like in all sql dialects, you need to separate statements with `;`. I believe snowflake hook supports it already. Make sure to use the latest snowflake provider, as there were some improvements in this part. https://airflow.apache.org/docs/apache-airflow-providers-snowflake/stable/index.html

[2021-07-09 10:27] #16906 closed

[2021-07-09 10:30] sharingan-no-kakashi commented on #16790
Hi, @potiuk I think I am almost done with my base implementation, but before opening a PR (I have read the CONTRIBUTION and PULL_REQUEST instructions) I would like to ask a few questions 😄.

1. I cannot find in the codebase similar unit tests to be added when a view (and a new template) is added here `airflow/www/views.py`. (In my case the new view would be Task Note with a get and a post operatio

[2021-07-09 10:33] potiuk commented on #16905
I think it's coincidental. There is no sane way statsd setting should impact problem with mysql I think your database is unstable. Please take a look at the logs of your database and find the reason why it is shutdown. There is not much we can help without you investigating what's going on on your side.
Closing until more information is provided/database logs are reviewed.

[2021-07-09 10:33] #16905 closed

[2021-07-09 10:34] Jorricks commented on #13542
I agree with you that this limit prevents actual TaskInstances from being scheduled in that run.
This is also why I increased the `parallelism` option to 1000 and increased the `pool` size.
However, I am a bit puzzled by that increasing these two doesn't solve your issue with Airflow 2.1.1.

[2021-07-09 10:38] Reddy1990 commented on #13805
HI All, I'm still getting the same error.

  ____________       _____________
 ____    |__( )_________  __/__  /________      __
____  /| |_  /__  ___/_  /_ __  /_  __ \_ | /| / /
___  ___ |  / _  /   _  __/ _  / / /_/ /_ |/ |/ /
 _/_/  |_/_/  /_/    /_/    /_/  \____/____/|__/
[2021-07-09 10:31:52,972] {scheduler_job.py:1251} INFO - Starting the scheduler
[2021-07-09 10:31:52,972] {scheduler_job.

[2021-07-09 10:47] sharingan-no-kakashi commented on #16790
They are indeed very similar. Has it already been brainstormed/implemented?

[2021-07-09 10:59] Reddy1990 commented on #15883
HI All, I'm still getting the same error. While using CeleryKubernetesExecutor

____ |( )_______ / /________ __
____ /| |_ /__ / / __ / __ _ | /| / /
___ ___ | / _ / _ / _ / / // / |/ |/ /
// |// // // // _/____/|__/
[2021-07-09 10:31:52,972] {scheduler_job.py:1251} INFO - Starting the scheduler
[2021-07-09 10:31:52,972] {scheduler_job.py:1256} INFO - Processing each file at most -1 times
[2021-07

[2021-07-09 11:17] Jaxing opened #16908 "Valid json rasies error when triggering with config in 2.1.1"
**Apache Airflow version**:

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.18+

**Environment**:

- **Cloud provider or hardware configuration**: GCP
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:
Tried to trigger a dag with config but got an error saying "Invalid JSON configuration, mus

[2021-07-09 11:18] jpatel-fpmx opened #16909 "Unable to connect to Kubernetes cluster from Airflow"
**Apache Airflow version**: v2.1.1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):-
Client Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.2", GitCommit:"092fbfbf53427de67cac1e9fa54aaa09a28371d7", GitTreeState:"clean", BuildDate:"2021-06-16T12:52:14Z", GoVersion:"go1.16.5", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1",

[2021-07-09 11:29] SHIVAPRASAD96 opened #16910 "Tried to install the Airflow on the ubuntu machine but I am getting the following error"
Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/sqlalchemy/engine/base.py", line 1277, in _execute_context
    cursor, statement, parameters, context
  File "/usr/local/lib/python3.6/dist-packages/sqlalchemy/engine/default.py", line 608, in do_execute
    cursor.execute(statement, parameters)
psycopg2.errors.UndefinedTable: relation "job" does not exist
LINE 1: IN

[2021-07-09 12:51] potiuk commented on #16910
Can you please - for the future avoid opening issue for this kind of problem? "Discussions" or slack are much better to discuss problems with your setup.

You have not run 'airflow db init`

[2021-07-09 12:51] #16910 closed

[2021-07-09 12:53] potiuk commented on #16910
Also. If you create issues, you have template to follow and you did not follow it - next time when you report bug or feature request please follow the right template. This is not really good for everyone involved to not follow the template/purpose of issues..

[2021-07-09 13:03] pateash opened #16911 "Error in passing metadata to DataprocClusterCreateOperator"
Hi,
I am facing some issues while installing PIP Packages in the Dataproc cluster using Initialization script,
I am trying to upgrade to Airflow 2.0 from 1.10.12  (where this code works fine)

``
[2021-07-09 11:35:37,587] {taskinstance.py:1454} ERROR - metadata was invalid: [('PIP_PACKAGES', 'pyyaml requests pandas openpyxl'), ('x-goog-api-client', 'gl-python/3.7.10 grpc/1.35.0 gax/1.26.0 gccl/air

[2021-07-09 13:16] potiuk commented on #16908
Yep this issue is already reported and is fixed in upcoming 2.1.2 (next few days)

[2021-07-09 13:17] #16908 closed

[2021-07-09 13:19] saurasingh commented on #16898
@potiuk @kaxil Something has changed in 2.1.0 and migrated to 2.1.1 as well. A lot of people are facing the same issue. https://github.com/dpgaspar/Flask-AppBuilder/issues/1667  Can you guys look into this?

[2021-07-09 13:52] bbovenzi commented on #16877
@edwardwang888 Are you on the airflow slack? I'd be happy to help you get up and running with the frontend :)

[2021-07-09 13:54] bbovenzi commented on #16887
@armandduijn great idea! I'm happy to point you to the right place on where to fix it.

[2021-07-09 15:06] josh-fell commented on #9415
FYI - I have a number of PRs opened to handle #10285 which updated 86 files. I will wait on reviews and merges of those before moving to this issue to minimize merge collisions and such + make the changes more manageable. I haven't forgotten about this 😄

[2021-07-09 16:25] aaron-ang commented on #16906
@potiuk do you mean inserting a `;` right after the CTE? My entire query consists of a CTE, along with a select statement. It does not make sense to break them apart using `;`

[2021-07-09 16:29] aaron-ang commented on #16906
perhaps I should share the structure of my query to make myself clearer. My query works perfectly in Snowflake, but when it is picked up by Airflow, it gets cut off.

`
WITH SCFS_COMPANIES AS (
  select...
  from...
  where...
  QUALIFY ROW_NUMBER() OVER (PARTITION BY ... ORDER BY ... DESC) = 1
)
select ...
from...
`
Unless there is something regarding semicolon rules that I am unaware of? Thanks.

[2021-07-09 17:18] vijaykiran commented on #16037
I'd like to pick this (as part of the contributors-workshop)

[2021-07-09 17:19] RobGoretsky commented on #8387
I will take a look!

[2021-07-09 17:34] abrooks-nyt commented on #11919
I'd like to work on this.

[2021-07-09 17:34] nijanthanvijayakumar commented on #8192
@turbaszek & @potiuk please can I request this issue to be assigned to me?

[2021-07-09 17:35] ariesunique commented on #11919
Hi @potiuk ,
I'd like to work on this.

[2021-07-09 17:36] oyarushe commented on #11177
I would like to work on this issue.

[2021-07-09 17:37] BShraman commented on #8193
I would like to work on this ...

[2021-07-09 17:46] 0sunny commented on #16725
Can you please assign this to me ?

[2021-07-09 17:50] tadinve commented on #10576
I would like to work on a few of these tasks.

[2021-07-09 17:51] BShraman commented on #10576
I would be happy to take couple as well

[2021-07-09 23:04] jedcunningham commented on #16898
Thanks for the report @saurasingh and @misurin!

Duplicate of #16202

(I'm going to add the FAB link into that issue to, but feel free to add anything else I overlooked)

[2021-07-09 23:04] #16898 closed

[2021-07-09 23:05] jedcunningham commented on #16202
Also reported over at FAB: https://github.com/dpgaspar/Flask-AppBuilder/issues/1667

[2021-07-10 00:04] #15658 closed

[2021-07-10 02:33] jbkc85 commented on #13542
ooh, so it wasn't just the pool size.  That makes more sense on why it worked.

That being said, @caleboverman I think stumbled onto a great solution that not only eliminates the potential of (when this is fixed) parallelism, when airflow fixes the issue, ends up scheduling so many processes it takes down the Airflow box itself.  The gist of it, is just create more pools and use the pools as a way

[2021-07-10 05:13] SasanAhmadi opened #16919 "error when using mysql_to_s3 (TypeError: cannot safely cast non-equivalent object to int64)"
**Apache Airflow version**:

**Environment**:

- **Cloud provider or hardware configuration**: aws

**What happened**:

**What you expected to happen**: when reading data with Mysql_to_s3 following exception happens:
[2021-07-10 03:24:04,051] {{mysql_to_s3.py:120}} INFO - Data from MySQL obtained
[2021-07-10 03:24:04,137] {{taskinstance.py:1482}} ERROR - Task failed with exception
Traceback (most

[2021-07-10 05:40] SasanAhmadi commented on #16919
I am proposing a change to ```_fix_int_dtypes``` method as below:
[code]
This way it is correctly checking if the values are integer or floating-point and then cast to precise type.

[2021-07-10 07:25] Prabhuddha opened #16920 "omething bad has happened. Please consider letting us know by creating a bug report using GitHub. Python version: 3.8.10 Airflow version: 2.1.0 Node: DESKTOP-N1S0KHS.localdomain ------------------------------------------------------------------------------- Traceback (most recent call last): File "/home/codebind/.local/lib/python3.8/site-packages/sqlalchemy/engine/base.py", line 1276, in _execute_context self.dialect.do_execute( File "/home/codebind/.local/lib/python3.8/site-packages/sqlalchemy/engine/default.py", line 608, in do_execute cursor.execute(statement, parameters) sqlite3.DatabaseError: database disk image is malformed"
**Apache Airflow version**:

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know**:

[2021-07-10 08:31] #16920 closed

[2021-07-10 08:32] potiuk commented on #16920
You have corrupted image for sqlite.delete it.

[2021-07-10 09:37] potiuk commented on #16909
Apparently you have problem with permissions in your deployment. You need to configure your service account to have access to create resources.

[2021-07-10 09:37] #16909 closed

[2021-07-10 09:38] potiuk commented on #16909
If you want to discuss and get some help it's  better to open a 'GitHub Discussion' or discuss it on slack, rather than opening an issue

[2021-07-10 09:41] potiuk commented on #16834
It would be great to standardise encoding to "utf-8" (default) when writing and reading logs. Seems like this should be a good first issue for someone. @internetcoffeephone - maybe you would like to contribute a fix for that?

[2021-07-10 11:01] potiuk commented on #16919
I assigned it to you @SasanAhmadi

[2021-07-10 11:21] #16839 closed

[2021-07-10 11:22] potiuk commented on #16839
Closed as per conversation in #16842

[2021-07-10 11:23] potiuk commented on #16911
@pateash - would you be willing to provide a PR fixing it ?

[2021-07-10 11:25] potiuk commented on #16908
Duplicate of #16810 to be precise.

[2021-07-10 11:27] pateash commented on #16911
sure,
still looking into it,

[2021-07-10 11:30] potiuk commented on #15883
I believe there were a few fixes to CeleryKubernetesExecutor including some final fixes in 2.1.2 (which will be released soon). Could you plase double-check @Reddy1990 and @fengyu05 if the issue will be fixed there after we release the Release Candidate in the next few days?

[2021-07-10 11:34] #16306 closed

[2021-07-10 11:42] subkanthi opened #16921 "Add support for Salesforce Bulk API"
**Description**

Salesforce Bulk API is very popular to retrieve/push data to Salesforce, a maximum of 10k records can be pushed in the bulk API. Add a separate hook to support bulk Api SalesforceBulkApiHook
https://developer.salesforce.com/docs/atlas.en-us.api_asynch.meta/api_asynch/asynch_api_intro.htm

**Use case / motivation**

In a lot of organizations this might be useful for performing ETL

[2021-07-10 11:47] potiuk commented on #16921
Assigned you :)

[2021-07-10 12:25] potiuk commented on #16902
Why not comparing the content of the code and skip merging in this case? I think you have to read the file content anyway to calculate the hash and at that time we already have read the DB entry with the code (it is all in-memory).

I am not 100% sure if in this case merge() with unchanged "content" will cause additional write to the DB (it would be worth checking), but even if it does then simple

[2021-07-10 12:25] potiuk commented on #16902
Why not comparing the content of the code and skip merging in this case? I think you have to read the file content anyway to calculate the hash and at that time we already have read the DB entry with the code (it is all in-memory).

I am not 100% sure if in this case merge() with unchanged "content" will cause additional write to the DB (it would be worth checking), but even if it does then simple

[2021-07-10 12:31] potiuk commented on #8087
Airflow 1.10 reached end-of-life on June 17th 2021 and it will not receive any updates any more. Please upgrade to Airflow 2 at the earliest convenient time. Note that there are already security fixes addressed in 2+ Airflow series that are not fixed in 1.10 so you are putting yourself in high risk by not upgrading. You can find out more about it by watching the recording of the discussion panel w

[2021-07-10 12:31] #8087 closed

[2021-07-10 13:13] deepakjindal90 commented on #8087
We have tried AWS + Airflow 2.0, but Airflow 2.0 has multiple issue.

Main Issue in Airflow 2.0 :
1. Not able to retrigger the dag after couple of hour. This is main feature of Airflow and this is not working properly in Airflow 2.0. Airflow product team also aware of this issue. If we retrigger dag within 1-2 hour it got executed, but if we trying to retrigger dag after couple of hour it got stuc

[2021-07-10 13:42] potiuk commented on #8087
Airflow is now at 2.1.1 and 2.1.2 will be released next week. And a number of stability improvements have been already released in 2.1 line.

If this is limitation of the MWAA to only support 2.0.0, then you should raise issue there. Also if you have an SLA with managed service to support 1.10 for longer, then you should raise the issue in that managed service. Maybe they can diagnose/fix it. The

[2021-07-10 14:10] K-7 commented on #8087
Sorry, this seems to be a very old ticket that I had raised. Since I dint not get any response from Airflow back those days even i have forgotten about it. I dont remember how exactly I fixed this issue, but one thing I am very sure of is Airflow needs to do a better job in error handling. The error messages dont clearly indicate the root cause of the problem.

Recently when I was trying the lates

[2021-07-10 14:35] louison opened #16922 "Using the string ".json" in a dag makes KubernetesPodOperator worker unable to trigger the pod"
**Apache Airflow version**: 2.1.1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
[code]

**Environment**:

- **Cloud provider or hardware configuration**: Scalway Kubernetes Kapsule
- **OS** (e.g. from /etc/os-release): macOS
- **Kernel** (e.g. `uname -a`): Darwin Louisons-MacBook-Pro.local 20.5.0 Darwin Kernel Version 20.5.0: Sat May  8 05:10:33 PDT 2021; root:xnu-

[2021-07-10 15:05] MANIAHMED commented on #8211
airflow = 1.10.10
sqlalchemy = 1.3.13
doqngrading sqlachemy worked for me

[2021-07-10 16:30] potiuk commented on #8087
hey @K-7 - Airflow is a community managed product that you get for free. I think if you are aware of such issue, absolutely the best what you can do is to raise pull request fixing it ! This is best way to thank community for all the work they to so that you can use the software for free.

Many of our users do that and we even yesterday run a workshop for first time contributors to help them to le

[2021-07-10 16:53] potiuk commented on #8211
@MANIAHMED -> I recommend upgrading to Airflow 2. Airflow 1.10 reached end-of-live on June 17th and will not receive any more bugfixes, not even critical security fixes (in fact some security fixes were already not fixed for 1.10 series). You can watch the talk of ours from Airflow Summit "Keep Your Airflow Secure" https://www.crowdcast.io/e/airflowsummit2021/3 where we discuss it.

[2021-07-10 18:08] eladkal commented on #16922
possibly due to https://github.com/apache/airflow/pull/15942

can you see if `MyKubernetesPodOperator` as:
[code]

solves your problem?

[2021-07-10 20:22] pateash commented on #16911
found a workaround for though
[code]

@turbaszek @mik-laj @potiuk , I couldn't able to find an example where i will use new metadata field of DataprocClusterCreateOperator() or DataprocCreateClusterOperator() for initialisations scripts installing PIP_PACKAGES.
any time i tried to pass **[('PIP_PACKAGES', 'pyyaml requests pandas openpyxl')]** to metadata field, I get invalid metadata.
How does thi

[2021-07-11 06:41] K-7 commented on #8087
Yup I do that, I remember I had raised a PR for supporting some AWS operator. But not sure whether that PR got merged or what happened with it

[2021-07-11 09:16] vapiravfif commented on #16023
@Jorricks Hi, it might be helpful to know that I couldn't reproduce the issue on a DAG that was previously active, but it reproduced like a charm on a brand new DAG with same setup. Both paused at the time of running the tasks.

I can't find anything related to either `Setting external_id for` or `SchedulerJob instances as failed` in the logs for both instances (on DEBUG)

Here's a `grep -A 5 -B 5

[2021-07-11 10:20] Jorricks commented on #16023
Yes this sort of goes hand in hand with what I expected. Once the scheduler kicked off tasks and you re-run them from the web interface, the tasks will keep their external_executor_id that you can't clear with Airflow 2.1.1.
Thanks for providing the logs and looking into it!

[2021-07-11 10:55] sudohainguyen commented on #16806
I'm facing the same issue too, actually It can access the mounting point for docker socket.

[2021-07-11 13:10] niklasbeierlarc commented on #16478
I think this might be addressed in https://github.com/apache/airflow/pull/16768.

[2021-07-11 14:12] potiuk opened #16929 "Upgrade to latest requests when it is released without chardet dependency"
As discussed at length in https://issues.apache.org/jira/browse/LEGAL-572  we found out that the chardet library used by requests library was a mandatory dependency to requests and since it has LGPL licence, we should not release any Apache Software with it.

Since then (and since in Airflow we rely on requests heavily) we have been working with the requests maintainers and "charset-normalizer" ma

[2021-07-11 15:28] kaxil commented on #16808
Closed by https://github.com/apache/airflow/pull/16820

[2021-07-11 15:28] #16808 closed

[2021-07-11 15:56] kaxil commented on #16922
Yup you are right, @eladkal -- would you like to create a PR with that fix :) ?

[2021-07-11 16:02] kaxil commented on #16922
I have created https://github.com/apache/airflow/pull/16930 just in case you are busy

[2021-07-11 16:17] sudohainguyen commented on #16806
Well, downgrade apache-airflow-providers-docker to `1.1.0` would help.

[2021-07-11 16:47] pyerbiz commented on #16730
@potiuk Is there an example dag for sftp_to_s3 transfer. Below is what I have so far

[code]

[2021-07-11 17:26] eladkal commented on #16922
Thanks!
I wonder if its possible to create a test that will prevent future cases of this problem (test that makes sure any string in temple_ext to any opetator starts with dot). I'm not near my laptop but I think I we have other operators that are missing the dot.

[2021-07-11 17:35] #16922 closed

[2021-07-11 19:15] potiuk commented on #16806
I am not sure if downgrade would help. This behaviour was there like forever.

I looked at this and turned the temp file mounting into optional feature that you might disable: see #16932

[2021-07-11 19:15] potiuk commented on #16803
I looked at this and turned the temp file mounting into optional feature that you might disable: see #16932

[2021-07-11 20:38] potiuk commented on #16730
Looks good. Is there a PR for that?

[2021-07-11 20:50] potiuk commented on #16804
1) Pre-commit check. We do a lot of that already, but if there are some implicit deps, pre-commit check is great as it will simply fail static checks.  This could be done in various ways

2) Another option is write a dedicated unit test simply that would just intstantiate the objects in various various ways and run execute_callbacks ?

[2021-07-11 21:16] potiuk commented on #16544
What help do you need @Sanchit112 ?

[2021-07-12 03:45] penggongkui opened #16934 "Airflow 2.1.0 delete dag_run when trigger sla"
when sla happen, not always delete the dag_run, but it happen very frequently

when dag_run is deleted, my unfinished task will not schedule

mysql version: 8
executor: celery
with multi scheduler

if need anything else info please let me know

also, sometimes will call the sla callback twice(it is not the big problem)

[2021-07-12 06:20] edwardwang888 commented on #16877
@bbovenzi Sounds good, I will join the Airflow slack! I will be busier for the next week but I will get started on this in a bit.

[2021-07-12 07:21] pyerbiz commented on #16730
Working on it

[2021-07-12 09:06] WolfWood72 opened #16936 "Migrations problem with custom logger"
**Apache Airflow version**: 2.0.2

**Kubernetes version** : v1.19.12

**Environment**:

- **Cloud provider or hardware configuration**: hardware
- **OS** (e.g. from /etc/os-release): Debian GNU/Linux 10 (buster)
- **Kernel** (e.g. `uname -a`):  3.10.0-1127.19.1.el7.x86_64 #1 SMP Tue Aug 25 17:23:54 UTC 2020 x86_64 GNU/Linux
- **Install tools**: Helm
- **Others**:

**What happened**:

We tried to m

[2021-07-12 09:17] potiuk commented on #16936
Apparently you miss logconfig module in your image. You need to create a custom image and make sure logconfig is instaled there. See https://airflow.apache.org/docs/docker-stack/build.html on how to build your own image with your dependencies.

[2021-07-12 09:26] WolfWood72 commented on #16936
Are there any other ways to resolve the problem except for building custom image ?
E.g. will you consider adding extraMounts for run-airflow-migrations job? This way I can add custom code to the 'run-airflow-migrations' pod the same way I do this for scheduler and webserver.

[2021-07-12 09:31] potiuk commented on #16936
This is a very bad pattern and we discourage it for production usage as you put your production airflow at high risk of being shutdown by a 3rd-party developer action. It is trading short term convenience with long term production security and stability. STOP doing it. Start building custom images. There is no way around it for any serious usage of Airflow in production.

I **just** added a PR abo

[2021-07-12 09:32] tl-soonam-panda opened #16938 "Airflow + AWS SES HTTP Api: Error Invalid type for parameter Source, value: None, type: <class 'NoneType'>, valid types: <class 'str'>"
**Apache Airflow version**: v2.0.1
**Executor** : KubernetesExecutor
**Environment**: Kubernetes-cluster

**What happened**:

I am trying to configure airflow to send an email using AWS SES(HTTP not SMTP) email backend. The configuration is done according to https://airflow.apache.org/docs/apache-airflow/stable/howto/email-config.html. But I always get an error "Invalid type for parameter Source".

[2021-07-12 10:11] ephraimbuddy opened #16939 "UI is broken for `breeze kind-cluster deploy`"
Using `breeze kind-cluster deploy` to deploy airflow in Kubernetes cluster for development results in unusable UI

**Apache Airflow version**: main

**How to reproduce it**:
Start kind cluster with `./breeze kind-cluster start`
Deploy airflow with `./breeze kind-cluster deploy`

Check the UI and see that it's broken:
![airflowui](https://user-images.githubusercontent.com/4122866/125270717-da304100

[2021-07-12 10:20] sudohainguyen commented on #16806
actually, I fixed it yesterday by downgrading, you should try

[2021-07-12 10:37] jpatel-fpmx commented on #16909
Thanks @potiuk for your suggestion.

I have tried by creating a service account with cluster edit permission but still, the SparkApplications pod is not getting spin up.

As per your suggestion, I have open a 'GitHub Discussion' (https://github.com/apache/airflow/discussions/16940) with complete details. So requesting you to have a look and suggest me to get rid of this issue. I am stuck due to th

[2021-07-12 11:23] penggongkui commented on #16934
after dig the mysql binlog, find out it is not delete, it update the dag_run.dag_id to null
![image](https://user-images.githubusercontent.com/49138427/125279480-91e74200-e346-11eb-9594-f43815d9887a.png)

[2021-07-12 11:32] penggongkui commented on #16934
[2021-07-12 00:01:20,754] {scheduler_job.py:396} INFO - Running SLA Checks for data_daily
[2021-07-12 00:01:22,501] {scheduler_job.py:474} INFO - Calling SLA miss callback

[2021-07-12 11:32] penggongkui commented on #16934
[2021-07-12 00:01:20,754] {scheduler_job.py:396} INFO - Running SLA Checks for data_daily
[2021-07-12 00:01:22,501] {scheduler_job.py:474} INFO - Calling SLA miss callback

[2021-07-12 11:34] penggongkui commented on #16934
following is the schedule log, so i think something happened between scheduler_job.py:396 and scheduler_job.py:474

[2021-07-12 00:01:20,754] {scheduler_job.py:396} INFO - Running SLA Checks for data_daily
[2021-07-12 00:01:22,501] {scheduler_job.py:474} INFO - Calling SLA miss callback

[2021-07-12 12:31] kaxil commented on #16202
@SamiRehmanNostra  @zachliu @KIRY4 @pcristinel @akotuc  Can you test my downgrading FAB version?

[code]

[2021-07-12 12:44] kaxil commented on #16202
If downgrading FAB does not help, it is an Airflow Issue rather than FAB issue

[2021-07-12 12:51] penggongkui commented on #16934
find the same issue #16896 ,

https://github.com/apache/airflow/blob/2.1.0/airflow/jobs/scheduler_job.py#L461

this line will use the same logic with delete taskinstance

[2021-07-12 12:52] warrenstephens commented on #15607
I guess it is my misunderstanding -- as I am new to airflow in the first place.  The error looked to me as if the airflow webserver itself was crashing, rather than something on the user side.  To me it is not at all clear that the error came from the UI.  It appears that other people are similarly confused.

In a broader sense, it seems to me that when an error of "X not found" happens in most ap