[2022-06-14 19:19] rodolphogarrido commented on #23727
I'm having the exact same error and behavior as mentioned by hterik.

It's also not possible to clear the DAG run, only deleting the record (then if I run the day regarding the deleted record, it can be viewed since it will be using the new k8s object).

As stated by ashb and hterik running the `airflow dags reserialize` did not help. Curiously through some old runs are shown.

Looking forward for

[2022-06-14 19:47] dstandish commented on #23727
this fix works: https://github.com/apache/airflow/pull/24117

[2022-06-14 19:56] NilsJPWerner opened #24453 "Override dag run generate_run_id"
### Description

 #21851 Added the ability to override run_ids in the manual dag conf. It would be useful to specify a default function for a specific dag to override the dag [generate_run_id](https://github.com/apache/airflow/blob/main/airflow/models/dagrun.py#L407) method for scheduled runs, and allow custom run id formats.

### Use case/motivation

An example use case: You are using the dag run

[2022-06-14 20:15] #24328 closed

[2022-06-14 21:46] karakanb commented on #23950
All of these run in celery.

[2022-06-14 21:59] alexbegg commented on #16921
You may submit a PR, I haven't had time to work in this.

[2022-06-14 23:09] NilsJPWerner commented on #24439
Relevant #19942

[2022-06-14 23:39] hankehly commented on #23949
Please assign this to me

[2022-06-14 23:51] sfc-gh-madkins opened #24456 "Add Snowpark Operator that allows execution of Snowflake Snowpark code"
### Description

A Snowpark operator (similar to the Snowflake Operator) that executes Snowpark for Python Code. Credentials are handled the same way for Snowflake Operator. Code is executed the same ways to the Python Operator.

### Use case/motivation

I would like to be able to to schedule snowflake-snowpark-python code that I have developed.  Instead of having to write lengthy SQL statements,

[2022-06-15 02:28] uranusjr commented on #24439
I’m going to just merge this into #19942.

[2022-06-15 02:28] #24439 closed

[2022-06-15 02:30] uranusjr commented on #19942
A suggestion (mock-up?) was proposed in #24439:

![Home page mockup from #24439](https://user-images.githubusercontent.com/655051/173561113-0639def3-d666-4a91-a24a-20dbc8de082c.png)

[2022-06-15 04:11] PDHBE opened #24457 "Do I have to exactly have the words "airflow" or "DAG" in the file to be parsed and registered as DAG?"
### Apache Airflow version

2.2.4

### What happened

The DAG I created is not registered.

I'm using DAG Class and Operator by extending as follows:
`class DefaultDAG(DAG):`
`class BatchJobOperator(BaseOperator):`

So I'm not using :
`from airflow import DAG`
`from airflow.operators.python import PythonOperator`
`DAG(...)`

I'm using:
`from batch.dags.default_dag import DefaultDAG`
`from common.o

[2022-06-15 04:30] #23727 closed

[2022-06-15 05:20] tanelk commented on #23950
The symptoms sounds exactly like #23048, but that should be fixed in 2.3.2. Scheduler logs from around the time of failure would be the next place I would look at.

[2022-06-15 05:23] humbledude commented on #23727
What about crashing webserver UI?
#24117 seems fix scheduler, but webserver still got crash on viewing old task instances.
My error is just like @hterik

(https://github.com/apache/airflow/issues/23727#issuecomment-1155288463)

[2022-06-15 05:43] hterik commented on #23727
I'm also a bit confused how #24117 closes this, it appears to catch errors in pod reconcile, which i don't see as part of neither the first stack trace from OP and as already mentioned by @humbledude above probably not the one in webserver.
I don't think pod reconcile function is the cause of this, since it only merges pod_template with pod_override, both which are functions of current state, not

[2022-06-15 08:33] MazrimT opened #24460 "let BigQueryGetData operator take a query string and as_dict flag"
### Description

Today the BigQueryGetData airflow.providers.google.cloud.operators.bigquery.BigQueryGetDataOperator only allows you to point to a specific dataset and table and how many rows you want.

It already sets up a BigQueryHook so it very easy to implement custom query from a string as well.
It would also be very efficient to have a as_dict flag to return the result as a list of dicts.
I

[2022-06-15 08:56] lwyszomi commented on #9941
We already working to update all existing google operator, I think we sent several PR related to this issue. @wojsamjan please include this issue in the PR's with the links to the google operators.

[2022-06-15 09:39] potiuk commented on #24422
I think it would make sense to move DBAPI there too and all related functions. There is no particular reasons why DBApi should be part of the "core". We could deprecate it and move it all to provider, I think.

[2022-06-15 10:07] potiuk commented on #23949
Assigned

[2022-06-15 10:10] potiuk commented on #24456
Since you are from Snowflake @sfc-gh-madkins - woudl you like to contribute it ? We are generally moving into direction where stakeholders will get more responsibility for adding and maintaining their providers (when there are strong stakeholders behind an operator) , so there will be more and more an expectation  that stakeholders in a provider with submit and maintain more changes to their provi

[2022-06-15 10:47] mik-laj commented on #24456
I would like to work on this.

Disclaimer: I work for Snowflake, but I contribute to Airflow during non-business hours.

[2022-06-15 10:49] potiuk commented on #17489
assigned

[2022-06-15 10:52] potiuk commented on #24460
Assigned you - please open PR - it will let you show what you really want to do - it's way better because comments can be done against actual code.

[2022-06-15 11:04] potiuk commented on #24422
Interesting idea, however extras are "evil". I'd say `apache-airflow-providers-core-sql` is better approach.

This will allow independent release of similar features -  we avoid the fate of "google" provider this way, where things that are "loosely" related (i.e. by google) will be actually coupled when it comes to releasing them. I can easily imagine if we have (for example) `core-storage' and `c

[2022-06-15 11:09] msumit opened #24464 "Showing DAGs in folder like structure"
### Description

The DAGs main page looks messy when we've too many dags. What if we can create a soft foldering around it? I mean a UI-only folder structure to group DAGs. There could be 2 possible ways to group (or maybe more). The first way is grouping via subpaths under DAGS_FOLDER where the actual dag file is present. The second way is via tags. There could be a toggle button at the top to ge

[2022-06-15 11:12] potiuk commented on #24369
You can see "test_kerberos_auth.py" for example - we actually start kerberos integration there and run testing with a test krb.conf - maybe trying to reproduce it there will help (you need to start breeze with `--integration kerberos` enabled.

[2022-06-15 11:16] potiuk commented on #24369
Also in `tests/charts/test_kerberos.py` you will find kerberos-related tests that do some generation of krb5.conf - maynbe those tests will give you some hints (they are actually running `helm template` under the hood and you can even grab generated template this way and analyse it.

[2022-06-15 11:32] eladkal commented on #24422
yes exactly like we have now for example with Microsoft.
The provider is Microsoft but azure and mssql are totally separated.

[2022-06-15 11:36] TamGB opened #24465 "Delete DAG ForeignKeyViolation"
### Apache Airflow version

2.3.1

### What happened

When attempting to delete a DAG using Airflow 2.3.1 I get the following error, and the DAG along with its metadata are effectively not deleted:

[code]

### What you think should happen instead

DAG should be deleted along with the associated metadata

### How to reproduce

_No response_

### Operating System

UNIX

### Versions of Apache Airfl

[2022-06-15 11:38] potiuk opened #24466 "Long running tasks being killed with CeleryKubernetesExecutor"
### Discussed in https://github.com/apache/airflow/discussions/24462

UPDATED with logs from @karakanb after 2.3.2 migration

<div type='discussions-op-text'>

<sup>Originally posted by **karakanb** May 26, 2022</sup>
### Apache Airflow version

2.3.2

### What happened

Hi there, this one is a bit of a weird one to reproduce, but I'll try my best to giive as much information as possible.

### Gen

[2022-06-15 11:49] potiuk commented on #24464
+1

[2022-06-15 11:51] potiuk commented on #24465
Closing as duplicate. Already fixed in 2.3.2. See #24107

[2022-06-15 11:51] #24465 closed

[2022-06-15 11:53] TamGB commented on #24465
Thanks @potiuk

[2022-06-15 11:56] MazrimT commented on #24460
I have created a PR: https://github.com/apache/airflow/pull/24468

[2022-06-15 12:38] potiuk opened #24471 "Status of testing Providers that were prepared on June 15, 2022"
### Body

I have a kind request for all the contributors to the latest provider packages release.
Could you please help us to test the RC versions of the providers?

Let us know in the comment, whether the issue is addressed.

Those are providers that require testing as there were some substantial changes introduced:

## Provider [google: 8.1.0rc1](https://pypi.org/project/apache-airflow-providers

[2022-06-15 12:39] potiuk commented on #24471
cc: @lihan

[2022-06-15 12:45] SoniaComp commented on #8970
@mik-laj
Hi! I cannot access this link: https://airflow.readthedocs.io/en/latest/howto/operator/kubernetes.html
Does this issue still work?

[2022-06-15 12:50] potiuk commented on #24464
Also this discussion might be relevant https://github.com/apache/airflow/discussions/18551 - where users expressed an interest in seeing "related" files. This seems quite connected (especially if we can assume that subpaths can be used for groupping and showing relevant files).

This sounds to me like a small AIP waiting to be written

[2022-06-15 14:01] lacohen opened #24475 "support for v4.1.0 of flask-appbuilder"
### Description

Hey Team Airflow!
Can you please add support for  v4.1.0 of flask-appbuilder?
I keep getting vulnerabilities issues that got fixed -
https://github.com/dpgaspar/Flask-AppBuilder/pull/1831

### Use case/motivation

After executing safety https://pypi.org/project/safety/ we get that there are vulnerability issues with all versions under v4.1.0

### Related issues

_No response_

###

[2022-06-15 14:11] leahecole commented on #23129
Sorry for late response!! I will be checking this out with my intern this summer.

Re this ^ that definitely makes sense given the scope. I'll make a docs update about templating + default args just in case anyone else tries this 😁

[2022-06-15 14:33] Taragolis commented on #24471
https://github.com/apache/airflow/pull/24431 work as expected

[code]

[2022-06-15 15:07] potiuk commented on #23899
Dup https://github.com/apache/airflow/issues/22397 ?

yes.

[2022-06-15 15:07] #23899 closed

[2022-06-15 15:16] potiuk commented on #24475
Hello @lacohen - I assume you will help with testing the PR when PR is ready since you are eager to have it ?

 I will add you to the list of people to test when we manager to solve all the initial migration steps. https://github.com/apache/airflow/issues/22397#issuecomment-1156603972

Closing as duplicate.

[2022-06-15 15:17] #24475 closed

[2022-06-15 15:34] karakanb commented on #24466
I am unable to edit the original submission, therefore here's my current list of provider versions after upgrading to Airflow v2.3.2:

[code]

[2022-06-15 15:53] eladkal commented on #23129
I don't think this is true. `default_args` just "unpack" at operator contractor - this is done while parsing the dag not during run time.

I used this code:
[code]

and it worked fine:
![Screen Shot 2022-06-15 at 18 50 07](https://user-images.githubusercontent.com/45845474/173870949-be123d08-cddb-4a59-9b57-8ef3ca3053cf.png)

@leahecole in your code example you try to template `region`, `project_id

[2022-06-15 16:08] msumit commented on #24464
#18551 is an interesting ask, but after DAG serialization I think it's quite difficult to achieve.

[2022-06-15 16:14] dstandish commented on #23727
This issue is resolved by #24117 because it is about the scheduler crash, not the webserver.  I was under the impression that the webserver issue may have been handled / documented elsewhere.  If that's not the case can you please create an issue and tag me?

I think what you miss is that the executor_config, if provided, is merged in pod reconciliation also.  and executor_config is the root cause

[2022-06-15 16:26] dstandish commented on #23727
@hterik @humbledude see https://github.com/apache/airflow/pull/24478 for webserver fix

[2022-06-15 16:26] zachliu commented on #23512
@jhtimmins thank you for looking into this :pray:  to make sure we are on the same page:
* i don't have 4 webservers, i have 1 webserver with 4 gunicorn workers. the # of workers is controlled by

[code]
    in my `airflow.cfg`
* the `ERROR: duplicate key value violates unique constraint` message showed up `24` times when I first ran it
* there are no errors after the initial run but these logs ke

[2022-06-15 18:07] potiuk commented on #24464
True. unless we serialize more :)

[2022-06-15 19:48] dstandish commented on #23727
ok @hterik @humbledude webserver fix merged so you are welcome to try patching your envs with those changes

[2022-06-15 20:15] vanchaxy opened #24483 "Allow context usage in user_defined_macros"
### Description

Allow context usage in user_defined_macros. For this move `set_current_context` context manager from [wrapping _execute_task](https://github.com/apache/airflow/blob/0c41f437674f135fe7232a368bf9c198b0ecd2f0/airflow/models/taskinstance.py#L1595) to [wrapping _execute_task_with_callbacks](https://github.com/apache/airflow/blob/0c41f437674f135fe7232a368bf9c198b0ecd2f0/airflow/models/t

[2022-06-15 21:21] wolfier opened #24484 "`airflow db clean task_instance` takes a long time"
### Apache Airflow version

2.3.1

### What happened

When I ran the `airflow db clean task_instance` command, it can take up to 9 hours to complete. The database around 3215220 rows in the `task_instance` table and  51602 rows in the `dag_run` table. The overall size of the database is around 1 TB.

I believe the issue is because of the cascade constraints on others tables as well as the lack of

[2022-06-15 21:46] sarinarw commented on #22532
Bumping this as we're also experiencing this and it seems to align with data interval end here as well.

[2022-06-15 23:31] hinnefe2 opened #24487 "Dynamic mapping over KubernetesPodOperator results produces triplicate child tasks"
### Apache Airflow version

2.3.2 (latest released)

### What happened

Attempting to use [dynamic task mapping](https://airflow.apache.org/docs/apache-airflow/2.3.0/concepts/dynamic-task-mapping.html#mapping-over-result-of-classic-operators) on the results of a `KubernetesPodOperator` (or `GKEStartPodOperator`) produces 3x as many downstream task instances as it should. Two-thirds of the downstre

[2022-06-16 00:58] dstandish commented on #24484
@wolfier do you have a pgdump of this database so we can do testing?

[2022-06-16 07:24] uranusjr commented on #24487
We should use the `RETURN_VALUE` constant. A PR would be awesome!

[2022-06-16 09:00] Aakcht commented on #18283
Hello, I could use a fix for this issue, but the issue hasn't been updated in a while 😟 If no one minds, can I try submitting a PR for it?

[2022-06-16 10:04] potiuk commented on #18283
Feel free

[2022-06-16 12:53] drcrook1 opened #24493 "Private Git Dag Links Force you to Kill Worker Pods"
### Apache Airflow version

2.3.2 (latest released)

### What happened

Deployed a helm upgrade of: apache-airflow/airflow with added private git repo dags.  This worked, however, I had to have the kubernetes admin kill the worker pods because they entered a non recoverable failure state.  Once they were killed, they booted back up perfectly happy.

This leads me to a suspicion that if the private

[2022-06-16 13:06] aspain opened #24494 "`GoogleDriveToLocalOperator` gives conn_id error despite not taking conn_id as a param"
### Apache Airflow version

2.3.2 (latest released)

### What happened

When using the [GoogleDriveToLocalOperator](https://github.com/apache/airflow/blob/main/airflow/providers/google/cloud/transfers/gdrive_to_local.py) I receive the below error:

[code]

but it doesn't appear that you can add a `gcp_conn_id` parameter - I receive an error if I try to do this

### What you think should happen ins

[2022-06-16 13:35] IonutArmeanu-work commented on #23588
I get the same error when I'm using AUTH_ROLE_PUBLIC = 'Admin' in webserver_config.py.
The /tasks endpoint fails with HTTP 401 ( Unauthorized )
![Screenshot 2022-06-16 at 14 34 20](https://user-images.githubusercontent.com/11160754/174081834-2f8f52fa-938a-45b0-9c66-98fb62b5bf7c.png)

[2022-06-16 14:06] pateash commented on #14563
@eladkal, I would like to take this up.

[2022-06-16 14:34] josh-fell commented on #24494
Indeed this operator missing a `gcp_conn_id` param to pass to the `GoogleDriveHook`. By default the `gcp_conn_id` used is "google_cloud_default" in the hook, but it can't be overwritten. I assume in this situation there was a conn ID setup that isn't named "google_cloud_default".

Would you like to take a crack at this one @aspain?

[2022-06-16 15:49] michaelmicheal commented on #23946
Feel free to assign this to me, happy to take it on!

[2022-06-16 16:35] bbovenzi commented on #23946
Assigned! Reach out to me on slack if you have any questions whatsoever.

[2022-06-16 16:56] anu251989 opened #24498 "Celery worker tasks in queued status when airflow-redis-master restarted"
### Apache Airflow version

2.2.5

### What happened

The airflow-redis-master pod deployment happened after celery worker pods deployment then Worker pods not able to process any tasks until manually restarted the worker pods. I have killed the airflow-redis-master pod and it is disconnected with worker pods and worker pods stop processing tasks until manually restarted the worker pods.

in logs

[2022-06-16 17:11] jkinkead commented on #22647
This is a real issue - it's a new warning in newer versions of SQLAlchemy. The fix is trivial; I'll send a patch shortly.

[2022-06-16 17:51] don1uppa opened #24500 "TriggerDagRunOperator does not reset conf parameters on reset"
### Apache Airflow version

2.2.5

### What happened

I have a dag that starts another dag with a conf.   When the driving dag is rerun and it produces a different conf for the same trigger_dag_id the new conf is not supplied to the called dag.

code block:
                logging.info(f"starting {row.file_id} , {row.file_name}")
                t = TriggerDagRunOperator(trigger_dag_id=process_dag

[2022-06-16 18:41] #24484 closed

[2022-06-16 18:44] csm10495 commented on #21078
I was able to reproduce this again just now with 2.2.3.

I've kind of contrived configs, etc to hit this... but it has happened in non contrived cases as well.

Here is the dag that hits it for me every time:

[code]

I don't even actually get out of the first set of 100 tasks without failures.

Example failures:

![image](https://user-images.githubusercontent.com/5749838/174125365-fb619f53-12d4-4

[2022-06-16 18:59] aspain commented on #24494
👍 will take a stab at it

[2022-06-16 19:34] jkinkead opened #24504 "Airflow TypeDecorators are missing cache_ok field"
### Apache Airflow version

2.2.5

### What happened

This is a duplicate of #22647 with a clearer title.

Airflow logs warnings when used in combination with SQLAlchemy >= 1.4.14 about missing [`cache_ok` fields](https://docs.sqlalchemy.org/en/14/core/custom_types.html#sqlalchemy.types.TypeDecorator.cache_ok) on the Airflow `TypeDecorator` subclasses.

These look like:

[code]

Airflow may by def

[2022-06-16 20:35] thelastmessiha opened #24507 "Using self signed CA certificate for SSL connection fails"
### Apache Airflow Provider(s)

tableau

### Versions of Apache Airflow Providers

apache-airflow-providers-tableau==3.0.0

### Apache Airflow version

2.2.5

### Operating System

Ubuntu 18.04.6 LTS (Bionic Beaver)

### Deployment

Composer

### Deployment details

_No response_

### What happened

I've placed a CA bundle in a pem file on a GCS bucket for Airflow to use in a Tableau Connection us

[2022-06-16 21:04] enzoIto commented on #24286
@joelossher Are you still working in that issue?

[2022-06-16 21:13] RaghavBatra commented on #24302
@jedcunningham the issue is that because `repo` is hard-coded, it will always be an additional folder, regardless of `dags_folder`.

[2022-06-16 21:35] Taragolis commented on #24507
Just a curious question are you configure path to your certificate in [Tableau connection](https://airflow.apache.org/docs/apache-airflow-providers-tableau/stable/connections/tableau.html#configuring-the-connection)?

[2022-06-16 21:40] thelastmessiha commented on #24507
Yes, I have tried various combinations including both of the below:
{"verify": "/home/airflow/gcs/data/self_signed_ca.pem"}
{"cert": "/home/airflow/gcs/data/self_signed_ca.pem"}

[2022-06-16 23:26] Taragolis commented on #24507
Which version of `tableauserverclient` are you use? Do you use [constraints](https://airflow.apache.org/docs/apache-airflow/stable/installation/installing-from-pypi.html#constraints-files) when installed providers for Airflow?

I think Tableau Provider incompatible with `tableauserverclient==0.19.0` (Yet?)

**0.18.0** - `use_server_version=False`
https://github.com/tableau/server-client-python/blo

[2022-06-17 03:39] thelastmessiha commented on #24507
I am using GCP Composer image version composer-1.18.12-airflow-2.2.5 and then installed PyPi package apache-airflow-providers-tableau==3.0.0, which I believe includes tableauserverclient but I am not sure which version. How can I check?

[2022-06-17 05:14] dstandish commented on #23727
great, thanks

[2022-06-17 08:01] Taragolis commented on #24507
https://github.com/apache/airflow/blob/c36d94df09930abfb58856e1b8b6e059c7a44525/airflow/providers/tableau/hooks/tableau.py#L83-L91

Tableau Hook initially initialise Server object, after that add certificate and finally established connection.

With new version `tableauserverclient` establish connection on initialise Server object by default, so it tried connect without correct certificates option

[2022-06-17 08:16] yjs03057 opened #24515 "Dag backfill is running infinitely when I renamed task"
### Apache Airflow version

2.0.1

### What happened

When I renamed my task and backfill the dag which contains that task, I got a warning message like below.
"WARNING - Failed to get task <task instance info> for dag <dag info>. Marking it as removed."

But that removed tasks still exist in my backfill schedule, and that status is waiting not removed.
When I check the airflow code, task's state

[2022-06-17 11:26] Megha-Sai-Sree-PINNAKA commented on #16654
Hello @potiuk. You mentioned that removing the suggest a change button would be better right as the documentation is automatically generated. Do you mean removing it in  all the web pages or only from here https://airflow.apache.org/docs/apache-airflow-providers-amazon/stable/_api/airflow/providers/amazon/aws/hooks/s3/index.html?

[2022-06-17 12:13] potiuk commented on #24515
This is expected.

From: https://airflow.apache.org/docs/apache-airflow/stable/index.html

Until DAG versioning is implemented https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-36+DAG+Versioning there is no guarantees thad things will work when the tasks change their structure. The recommended approach when you change structure of your DAG is to copy your DAG and change the dag_id for the ne

[2022-06-17 12:13] #24515 closed

[2022-06-17 13:08] jochenott opened #24525 "mini-scheduler raises AttributeError: 'NoneType' object has no attribute 'keys'"
### Apache Airflow version

2.3.2 (latest released)

### What happened

The mini-scheduler run after a task finishes sometimes fails with an error "AttributeError: 'NoneType' object has no attribute 'keys'"; see full traceback below.

### What you think should happen instead

_No response_

### How to reproduce

The minimal reproducing example I could find is this:

[code]

Running this script wit

[2022-06-17 13:11] potiuk commented on #16654
All the auto-generated pages - those that have no corresponding .rst file but are generated from the python code.

[2022-06-17 13:53] manosk88 commented on #13637
Another way to mitigate this problem is done by limiting the CPU resource for the scheduler, according to this [doc](https://docs.docker.com/compose/compose-file/compose-file-v3/#resources).
E.g:
[code]

[2022-06-17 13:55] ashb commented on #23838
@pingzh Yeah, I or @uranusjr will take a look before we start closing out 2.4

[2022-06-17 13:59] flrn77 opened #24526 "upgrading from 2.2.3 or 2.2.5 to 2.3.2 fails on upgrade migration-job"
### Apache Airflow version

2.3.2 (latest released)

### What happened

Upgrade Airflow 2.2.3 or 2.2.5 -> 2.3.2 fails on migration-job.

**first time upgrade execution:**
[code]

**after the first failed execution (should be due to the first failed execution):**
[code]

### What you think should happen instead

The migration-job shouldn't fail ;)

### How to reproduce

Everytime in my environment

[2022-06-17 19:10] karakanb commented on #24466
I keep experiencing the same, although I have limited logs due to a lack of log collector yet, although I see no harm in sharing whatever I can find here in case someone can help. This will be a bit long, so apologies in advance.

### Task 1 - Example

here's a task that has experienced the same issue recently:
[code]

unfortunately, I don't have scheduler logs from the start of the task execution

[2022-06-17 19:15] joelossher commented on #24286
No, I'm not actively working on the issue.

[2022-06-17 19:17] karakanb commented on #24466
Huh, here's sth weird I have observed: I have 3 tasks that have failed with the same issue, and they have all failed at the same 2 seconds that day: `2022-06-16, 02:53:24 UTC` and `2022-06-16, 02:53:25 UTC.

Here are the final logs from all 3 tasks:

task1 - which is the tasks that I have shared the logs for above:
[code]

task2:
[code]

task3:
[code]

[2022-06-17 20:49] potiuk commented on #24471
More testing if possible before tomorrow :)

[2022-06-17 20:51] gmsantos commented on #22397
@potiuk I can help by testing it. I have some scenarios that integrate Airflow with Azure AD for authentication and implement custom roles as well.

[2022-06-17 20:54] ejk43 opened #24533 "es_task_handler.py crashes accessing "View Logs in Elasticsearch""
### Apache Airflow version

2.3.2 (latest released)

### What happened

Hi,

I have a local setup of airflow 2.3.2 running with `airflow standalone`. I am also running a docker-compose elasticsearch + kibana, and trying to exercise the elasticsearch backend integrations within Airflow...

I configured the `frontend` parameter in `airflow.cfg`, but when I click the link to "View Logs in Elasticsear

[2022-06-17 21:05] potiuk commented on #22397
Cool :) Thansl!

Status for everyone:

* I already have a separate PR #24519  that is important prerequisite for the migration (basically changing the library that is used for encryption/verification of log retrieval to more standard one as one of the upgraded dependencies deprecated and removed the class we were used). The good news is that I did it in a much more "standard" way (following JWT st

[2022-06-17 21:19] RNHTTR opened #24534 "Triggering DAG from UI Creates 2 DAG runs if the DAG was paused"
### Apache Airflow version

2.3.2 (latest released)

### What happened

If a DAG with a `schedule_interval` set to `@daily` is paused, and the DAG is triggered by clicking the "play" button --> "Trigger DAG", two DAG runs will simultaneously be triggered: One for the current data interval and one for the manual run.

![image](https://user-images.githubusercontent.com/25823361/174400801-dbf2daa0-60

[2022-06-17 21:31] quentin-sommer opened #24535 "BigQueryInsertJobOperator broken for some kinds of query jobs"
### Apache Airflow Provider(s)

google

### Versions of Apache Airflow Providers

I'm using a google composer managed version `apache-airflow-providers-google==2022.5.18+composer` but I see the issue in code in master as well

### Apache Airflow version

2.2.5

### Operating System

cloud composer

### Deployment

Composer

### What happened

Some of my BigQueryInsertJobOperator query jobs started

[2022-06-17 21:40] thelastmessiha commented on #24507
Yes, thank you, that seems to have been the problem. When I use the tableauserverclient==0.18.0 I do get past the certificate error, but instead see a parse error/page not found error as shown below. Any ideas what this issue is regarding?

[2022-06-17, 14:34:50 PDT] {taskinstance.py:1776} ERROR - Task failed with exception
Traceback (most recent call last):
  File "/opt/python3.8/lib/python3.8/si

[2022-06-18 04:00] sbailliez commented on #23772
I can confirm I'm running 2.3.2 and the grid view is not usable (not loading) with large number of tasks and the default of 25 runs. It was no problem in 2.2.x. It loads fine on 2.3.x as 5 runs. The biggest number of tasks I have is 812 in one dag which is essentially 6 datasources loading 7 different days of data for 1-10 tables and about 6 tasks for each so things add up quickly

[2022-06-18 07:32] #23550 closed

[2022-06-18 10:38] luiztauffer opened #24537 "Create DAG with Airflow REST API"
### Description

Given that all DAGs are serialized in the database ([reference](https://airflow.apache.org/docs/apache-airflow/stable/dag-serialization.html)), it feels like a POST request in the [Airflow REST API](https://airflow.apache.org/docs/apache-airflow/stable/stable-rest-api-ref.html) for creating DAGs would be a very useful improvement! It could accept already serialized dags, for examp

[2022-06-18 11:00] vinicvaz commented on #24537
following

[2022-06-18 13:07] potiuk commented on #24537
The serialization only stores dag structure and configuration not python code. So basic assumption here does not hold unfortunately because what your serialization idea is, it is different that the serialization we have in Airflow.

Python DAG is much more than just a single python file - it is the byte code of the class but also potentially imported classes and even potentially files that are rea

[2022-06-18 13:19] meetri opened #24538 "Airflow Scheduler continuously restarts when using the CeleryKubernetesExecutor"
### Apache Airflow version

2.3.2 (latest released)

### What happened

The scheduler crashes with the following exception. Once the scheduler crashes restarts will cause it to immediately crash again. To get scheduler back working. All dags must be paused and all tasks that are running need to have it's state changed to up for retry. This is something we just started noticing after switching to t

[2022-06-18 13:43] meetri commented on #24538
Not sure how to or if it's worth making a pull request for this, but here is the change I made to get airflow scheduler back working.
[code]

[2022-06-18 19:41] potiuk commented on #22397
Good news. Static checka are all fixed and now I got to **real** tests to fix.

[2022-06-18 21:00] enzoIto commented on #24286
Oook, I would like to work on this then

[2022-06-18 23:54] allenhaozi commented on #18041
I have the same problem
I'm using airflow 2.2.5, SparkKubernetesOperator and SparkKubernetesSensor

Driver is running But the sensor displays the following logs until the number of retries exceeds the threshold

[code]

[2022-06-19 08:42] dcardinha commented on #13317
@trustfuture Did you find a way to solve this? I am facing exactly the same problem

[2022-06-19 13:56] erdos2n commented on #23246
I have written the methods needed, but for some reason my tests are failing when I run them locally. Curious if it's something in the `v1.yaml` file. Can someone possibly help me out with this sometime?

[2022-06-19 14:07] erdos2n commented on #24464
@potiuk we could serialize the relative path of the dag_folder? Thoughts?

[2022-06-19 15:43] potiuk commented on #24464
This is more complex. WebServer does not need (and should not need) access to the dag folder, so you'd have to serialize the whole folder  - which might containe also other DAG files for example and a bit too much to serialize.

After thinking a bit moreI think the only "sane" way to add extra files is to specify what to serialize together with the dag -  like a glob of the files to add to seriali

[2022-06-19 17:29] mariotaddeucci opened #24546 "DAG Policy not working with default args."
### Apache Airflow version

2.3.2 (latest released)

### What happened

When changing the `default_args` on DAG using cluster policy, nothing happens.

### What you think should happen instead

The cluster policies overwrite the defined values, the same should happen with default_args.

### How to reproduce

Just change a value on default args using cluster policies.

[code]

### Operating System

[2022-06-19 17:33] mariotaddeucci opened #24547 "DAGs with Dynamic Task Mapping are not rendered when cluster policies overwrite a parameter"
### Apache Airflow version

2.3.2 (latest released)

### What happened

Using cluster policies, I set a default `on_failure_callback`.
This works great with all tasks expect with task new task mapping.

### What you think should happen instead

Policies should work on all tasks, including the dynamic mapping or generate an exception with the error.

### How to reproduce

Overwrite any parameters u

[2022-06-19 18:19] potiuk commented on #22397
Hey @dpgaspar - FYI:  we are close to switch to FAB 4.1.1+ (the #24399  is green and we are starting testing it with the help of our users).

[2022-06-19 18:30] potiuk commented on #24421
Any news @arminnajafi ?

[2022-06-19 20:18] raphaelauv commented on #24535
the fix is in

apache-airflow-providers-google 8.0.0

[2022-06-19 21:02] potiuk commented on #24535
CC: @lwyszomi (not sure @raphaelauv if it's fixed)

[2022-06-19 21:17] raphaelauv commented on #24535
@potiuk -> https://github.com/apache/airflow/issues/24289#issuecomment-1148963358

( I'm only speaking about 8.0.0 , not about current main branch )

[2022-06-19 21:23] potiuk commented on #24364
Closind with #24461

[2022-06-19 21:23] #24364 closed

[2022-06-19 21:38] potiuk commented on #24483
You seem to know what you want to do - would you like to propose a PR for that? Discussing on actual PR would be much more productive and you could become one of the > 2K contributors to airflow this way.

[2022-06-19 21:42] potiuk commented on #24359
I think there are currently a few timezone behaviours that @bbovenzi and @uranusjr and @ephraimbuddy  are handling - I am not sure if the current proposal falls into it and how consistency would be applided but those seem to be related #24373 #17131 #21171 #23796 for example.

[2022-06-19 21:47] potiuk commented on #24247
The 2022  survey (soon will be published) shows that we are far below 0.5% with MariaDB. Certainly it is FAR BELOW 90% claimed by @AlekseiSaff . Should we update our docs and make it clear that MariaDB is not supported and we are not going to support it in the future? I think that is the only reasonable thing to do, otherwise we will loose time on people who run MariaDB despite our clear statement

[2022-06-19 21:56] quentin-sommer commented on #24535
So it looks like main branch got broken again by https://github.com/apache/airflow/pull/24416 ? Or am I reading this wrong? Since #24416 was merged 5 days ago and https://github.com/apache/airflow/issues/24289#issuecomment-1148963358 is 12 days ago

[2022-06-19 22:05] potiuk commented on #24500
Not obvious at all. Could you please be more specific about scenario and reproduction - including logs showing what's going on.

Converting into discussion until more info provided.

[2022-06-19 22:07] #24352 closed

[2022-06-19 22:33] vanchaxy commented on #24483
I will try to propose a PR. Just need some time to configure env and read guidelines.

[2022-06-19 22:34] potiuk commented on #24525
Isn't that the same class of problem as with #23838 @pingzh @ashb @uranusjr ?

[2022-06-19 22:37] potiuk commented on #24526
Is this somethign similar to MariaDB #24247 but for RDS ? @ephraimbuddy @dstandish - we seem to have som consistent problems with missing indexes

[2022-06-19 22:44] potiuk commented on #24466
Strange. Any other logs around? I guess some more evidence need to be gathered - maybe there are some logs elsewhere in your cluster/deployment configuration that can be corellated - otherwise it's really difficult to guess where it came from.

[2022-06-19 22:45] potiuk commented on #24533
I think this has something to do with the #24511 that is likely going to be fixed in 2.3.3

[2022-06-19 22:46] potiuk commented on #24533
CC: @jedcunningham ?

[2022-06-19 22:47] potiuk commented on #24534
Interesting edge-case. Would you like to take a stab at it @RNHTTR ?

[2022-06-19 22:55] potiuk commented on #24538
Could you please make a PR + test with it so that we could discuss it there @meetri ?

[2022-06-19 23:00] potiuk commented on #18041
Did you try the earlier suggestions with dagrun_timeout? Do you know what is sending SIGTERM to this task?

[2022-06-19 23:11] potiuk commented on #23246
Runing stuff in `breeze` (after updating the image)  is the best way to test stuff in a reproducible environment that is the same on CI as locally and one that you can make sure hsa all the same dependencies - this is an often reason of the "works for me" syndrome when running tests. I recommend running tests for breeze (not sure though if that's exactly the case of yours).

[2022-06-19 23:18] potiuk commented on #24168
Updated statis.

[2022-06-19 23:31] potiuk commented on #24453
Why not simply specify the run_id when you trigger the dag via API? you can specify run_id there as you wish.

[2022-06-20 01:49] psundarkyndryl opened #24552 "Portal and its entities - Visibility"
### Description

Below features would be useful in certain scenarios:

1.  A configuration in the airflow.cfg to show or suppress the UI(portal)
2.  A parameter in the config file to show or suppress the conf of the dag_run in the portal.

### Use case/motivation

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

### Code

[2022-06-20 02:09] AlekseiSaff commented on #24247
I'm happy to switch to MySQL and have fully supported solution, but seems with a bug somewhere we have a sequence in MariaDB instead of autoinc fields. And it makes it impossible to switch to MySQL.

[2022-06-20 02:57] lmeerwood commented on #24471
Hey @potiuk, Oracle seems to be working fine for me. I am able to perform almost all queries to my database just fine.

It's hard for me to give a valid test though as a) I'm currently in the middle of impletementing Airflow for my workspace and b) I don't have a google database so I can't test the oracle to google transfer.

[2022-06-20 06:27] lwyszomi commented on #24471
#24416 works as expected

[2022-06-20 07:00] lwyszomi commented on #24535
In my PR this problem should be fixed, please check https://github.com/apache/airflow/pull/24416/files#diff-529929b4ca60ce73b8da0f45d8a5c43c2d4e391b913fe78b39892899f812951eR2171 we checking if `destinationTable` exist in the `Job.configuration.query`.

[2022-06-20 07:03] eladkal commented on #24535
As explained issue is fixed please bump provider version to 8.0.0

[2022-06-20 07:03] #24535 closed

[2022-06-20 07:34] antkey1 opened #24553 "Worker timout when delete dag from UI"
### Apache Airflow version

2.3.2 (latest released)

### What happened

After the update to 2.3.0, the ability to remove dags from the ui, if they had tags, disappeared.

With update 2.3.2, the problem should have been solved, but the delete now takes a very long time.

When I try to remove the DAG from the interface, I get a 504 Gateway Timeout error, since the request to the database takes a lon

[2022-06-20 07:42] Mottimo commented on #24247
Hi @potiuk, thanks for your update. For the time being it will be an issue for our use case to switch to MySQL, mainly because we will loose the availability of the native support of Galera cluster provided by MariaDB. In effects there is a port of this cluster to MySQL, our tests have shown a less overall quality at least in terms of support and documentation.
We will review your decision soon, I

[2022-06-20 07:45] astolle commented on #8722
Hi,

we have the same issue with Airflow v2.2.5, but when using the Kubernetes Executor.

When a POD get's killed by K8S because of OOM, Airflow logs "FAILED" in the scheduler log and nothing to the DAG logs.

[code]

Wished behaviour: DAG developers get the reason "why" the DAG (executor pod) failed.

Best, Alex

[2022-06-20 07:58] potiuk commented on #24552
Just to set some expectations.

You need to be more specific what you think about by disabling the portal and dag_run. And start a real discussion about it.

This is an open-source project with > 2000 contributors and you can become one. Oening a feature will not "magically" make it implemented. If you really want this to be done, cannot do it yoursekve you need to convince someone that you want m

[2022-06-20 08:07] msumit commented on #24464
I believe implementing 18551 shouldn't be Airflow's responsibility. This is something that can be supported by Airflow SAAS vendors or even Git-based solutions. For example, years back we built a [DAG Explorer](https://www.qubole.com/blog/whats-new-with-airflow-on-qubole-dag-explorer-and-more) to achieve something very similar.

[2022-06-20 08:23] potiuk commented on #24553
This is fixed with https://github.com/apache/airflow/pull/24488 in the upcoming 2.3.3. Closing as duplicate.

[2022-06-20 08:23] #24553 closed

[2022-06-20 08:28] potiuk commented on #24247
You seem to forget @Mottimo - that MariaDB is NOT SUPPORTED officially by Airflow. So if people (like @AlekseiSaff ) are REALLY adventurous, they will choose MariaDB even if we do not support it. Then it does not give those people the right to EXPECT things works - because we explicitly said they are on their own. Maybe simply 95% percent of those 20% went the reasonable path and chose the support

[2022-06-20 08:30] uranusjr commented on #23838
The most immediate problem is we’re trying to expand a _deserialised_ mapped operator. This does not work; only a “real” mapped operator can be properly expanded. We should fix this, _and_ figure out a way to prevent this from happening again.

[2022-06-20 08:30] potiuk commented on #24247
I recommend to delete all the data then and switch to Postgres. It's far more stable than MySQL. You can also try to migrate your data manually. But well, You chose MariaDB, despite it being not supported, and i am afraid, that you have to live with the consequences. This is just reasonable to assume that you have to deal with it somehow.

[2022-06-20 08:33] potiuk commented on #24247
I am closing this solution as "won't fix" until we collectively agree that we do something with Maria DB. Until then I am just going to close all the MariaDB issues as "won't fix" as well.

[2022-06-20 08:33] #24247 closed

[2022-06-20 08:38] potiuk commented on #24247
And @AlekseiSaff - trully sorry for that - but if we are talking about 0.5% of our users, who did not listen to our advice, I thin it is simply FAIR approach that we live you with that problem on your own. Clearly those who did not listen to our advice are in a trouble - precisely because they did not listen to it.

There is a balance between being helpful and asseritive and I think this is just t

[2022-06-20 09:08] potiuk commented on #24464
I think you are right @msumit . I have no very strong opinion there. But you could theoretically even write a custom plugin to do that, to pull your "linked" sources" from somewhere else - not necessarily from Airflow DB - but straight from the source of the data. Serializing those external "data" to the database just to show it in the UI seems like huge waste.

[2022-06-20 09:18] msumit commented on #24464
@potiuk totally agree with you.

[2022-06-20 09:50] Bowrna commented on #23954
I will try fixing this issue @eladkal @josh-fell

[2022-06-20 12:03] mariotaddeucci commented on #24546
@mik-laj sure, I'll do it.
Is there a reason to not run the policy before? If it makes sense to run before, I can work on it, I'll just need a support for it.

[2022-06-20 13:17] quentin-sommer commented on #24535
Great thank you!

[2022-06-20 13:52] #16600 closed

[2022-06-20 13:56] mariotaddeucci commented on #24546
The last question (It's not a promise 😂)
There are many default values on airflow.cfg, instead of adding another parameters, what do you think about add all this parameters into a json cfg and load it, then will be easier to add new default args
I know cluster policies can solve it, but already I'm getting some issues with cluster policies and task mapping, and defining the values on default args

[2022-06-20 16:22] phanikumv commented on #23437
Hi @potiuk is someone working on this or can I pick this up for development ?
cc @kaxil

[2022-06-20 16:33] ferruzzi commented on #13317
@dcardinha The answer is in the discussion.

[2022-06-20 17:28] benbenbang opened #24565 "S3 Task Handler doesn't use custom logging config as fallback"
### Apache Airflow Provider(s)

amazon

### Versions of Apache Airflow Providers

`apache-airflow-providers-amazon==3.0.0`

### Apache Airflow version

2.2.4

### Operating System

Debian GNU/Linux 11 (bullseye)

### Deployment

Official Apache Airflow Helm Chart

### Deployment details

`Executor=CeleryKubernetesExecutor`

### What happened

Also posted here -> https://apache-airflow.slack.com/ar

[2022-06-20 17:57] tm-drtina opened #24566 "Migration changes column to NOT NULL without updating NULL data first"
### Apache Airflow version

2.3.2 (latest released)

### What happened

During upgrade from Airflow 1.x, I've encountered migration failure in migration https://github.com/apache/airflow/blob/05c542dfa8eee9b4cdca4e9370f459ce807354b2/airflow/migrations/versions/0080_2_0_2_change_default_pool_slots_to_1.py

In PR #20962 on these lines https://github.com/apache/airflow/pull/20962/files#diff-9e46226ba

[2022-06-20 18:17] kaxil commented on #23437
Assigned it to you @phanikumv

[2022-06-20 18:53] PrincipalsOffice commented on #24381
@eladkal So currently there is no walkaround to prioritize tasks from the latest dag_run?

[2022-06-20 20:14] potiuk commented on #9176
@ndawg - Labels are just "organisation".

Maybe you do not understand how OSS software works, but the feature is implemented when someone picks an interest it implementing it. Creating a feature request does not - in any way - mean that someone works on it.  This is an open-source-project - if you implement it yourself and contribute as PR, this is the most sure way to get it implemented. If you c

[2022-06-20 20:14] potiuk commented on #24381
No.

[2022-06-20 20:22] potiuk commented on #23954
Feel free.

[2022-06-21 01:41] dwreeves opened #24572 "Snowflake Provider connection documentation is misleading"
### What do you see as an issue?

Relevant page: https://airflow.apache.org/docs/apache-airflow-providers-snowflake/stable/connections/snowflake.html

## Behavior in the Airflow package

The `SnowflakeHook` object in Airflow behaves oddly compared to some other database hooks like Postgres (so extra clarity in the documentation is beneficial).

Most notably, the `SnowflakeHook` does _not_ make use

[2022-06-21 02:51] uranusjr commented on #24021
Forgot to mention here: I also wrote some documentation additions for this, with some more useful examples: #24489. Feel free to propose any suggestions there as well.

[2022-06-21 03:16] sivankumar86 opened #24574 "`AirbyteHook` add cancel job option"
### Apache Airflow Provider(s)

airbyte

### Versions of Apache Airflow Providers

I want to cancel the job if it running more than specific time . Task is getting timeout however, airbyte job was not cancelled. it seems, on kill feature has not implemented

Workaround:
  Create a custom operator and implement cancel hook and call it in on kill function.

   def on_kill(self):
        if (self.job

[2022-06-21 07:31] potiuk commented on #24574
Feel free to add it! assigned you!

[2022-06-21 08:39] jerome-aosis commented on #23895
Obviously, I will. I was not counting on "someone".
Thanks for the process to improve the documentation

[2022-06-21 09:13] santoshgopane opened #24577 "sqlite3.databaseerror database disk image is malformed in airflow"
### Apache Airflow version

2.3.2 (latest released)

### What happened

I did follow another thread of the same issue raised and I deleted the **airflow.db** file for the desired location. However, it is still throwing the same error.

But my concern is that I would be needing the **.db** file anyway, right?

Please help me resolve this as soon as possible.

**ERROR:
Something bad has happened.

A

[2022-06-21 09:24] #16435 closed

[2022-06-21 09:35] TY-chang opened #24578 "use insert_job to execute gcs_to_bq_operator"
### Description

- I met LoadJob bug in `BigQueryInsertJobOperator` and tried to use `GCSToBigQueryOperator` instead when update from Airflow 2.2.5 to 2.3.2.

### Use case/motivation

- most BigQuery-related operator recommend that we should use `insert_job()`, but gcs_to_bq_operator still use `run_load ()`.
- `GCSToBigQueryOperator` still uses lots of parameter to build config. Not like `BigQuery

[2022-06-21 09:37] TY-chang commented on #24578
Here is error I met when we updated to` version 2.3.2`:
[code]

[2022-06-21 10:59] potiuk commented on #24577
Your image is malformed. You should delete it and restart.

[2022-06-21 10:59] #24577 closed

[2022-06-21 11:01] potiuk commented on #24577
Please do not open issues that are clearly your issues here as an issue and bug.

The issue is ckearly problem with your system and your unecesarily taking time of others. This is not empatthetic,

If you need to learn about exercising empathy - please take a look at my talk from the summit about this very subject https://www.youtube.com/watch?v=G6VjYvKr2wQ&list=PLGudixcDaxY2LxjeHpZRtzq7miykjjFOn&

[2022-06-21 11:14] santoshgopane commented on #24577
Respected,

I don't intend to waste your time on this. I thought it'd be someone helpful on the other end to understand and guide in the first place. And "plenty of other options" are the ones I traced down and tried to fix the issue.

However thanks for being so kind!

[2022-06-21 11:25] potiuk commented on #24577
Well. You are guiided several times when opening the issue that if you have no clearly reproducible case you should open DISCUSSION not a bug issue. This is clearly explained when you open an issue - including the direct link to open discussion.

[2022-06-21 11:27] potiuk commented on #24577
![image](https://user-images.githubusercontent.com/595491/174788814-acabd196-7840-4bf0-af98-bad65792f3b1.png)

[2022-06-21 11:28] santoshgopane commented on #24577
Alright. I understood. Aplogies for the inconvenience caused.
Thank you!

[2022-06-21 11:37] loyarahulDE commented on #11149
@kaxil not sure if this has been solved but looks like we still encounter this error working with mysql database as local executor.
I get this error starting airflow service after making the below changes to the airflow.cfg file. My backend database is mysql and the mysql host info us stored as secret in hashicorp vault as variable

airflow.exceptions.AirflowConfigException: error: cannot use sqli

[2022-06-21 11:43] potiuk commented on #11149
This issuee has been solved for Airlfow 1.10 2 years ago. @loyarahulDE . It is solved. It is pointless to make a comment i issue that has been closed for (hopefully) different version of Airlfow without providinf details of your issue.

Please if you want help with your problem, open a discussion in Github discussions or slack with all details and logs you can find about your issue. But make sure

[2022-06-21 11:44] potiuk commented on #11149
Please watch this talk of mine from the summit to understand why this is unempathetic behaviour and try to adapt https://www.youtube.com/watch?v=G6VjYvKr2wQ&list=PLGudixcDaxY2LxjeHpZRtzq7miykjjFOn&index=54

[2022-06-21 12:04] potiuk commented on #24565
Assigned you @benbenbang

[2022-06-21 12:07] potiuk commented on #24566
Assigned you!

[2022-06-21 12:31] FriedrichSal commented on #13675
I have the same issue, running Airflow  2.3.1.

[2022-06-21 12:45] potiuk commented on #13675
Indeed. You should not do it.

Please @alexcolpitts96 @FriedrichSal open new issues with detailed description of your circumstances, logs and reproduction cases. Commenting on an old, closed issues (and especially "I have the same issue"  adds precisely 0 value without logs and details). Please watch my talk from the Summit to understand why https://www.youtube.com/watch?v=G6VjYvKr2wQ&list=PLGudix

[2022-06-21 12:59] eladkal commented on #24578
duplicate: https://github.com/apache/airflow/issues/23826
Please update your google provider.

[2022-06-21 12:59] #24578 closed

[2022-06-21 14:11] josh-fell commented on #24572
@dwreeves Excellent points. I see you already submitted a PR, thank you kindly, but assigning to you for good measure.

[2022-06-21 15:53] #22715 closed

[2022-06-21 15:53] bruciebruce commented on #22715
.

[2022-06-21 17:47] dstandish commented on #24526
yeah i have confirmed locally that _if_ task_id is `utf8mb4_general_ci` in task_instance, it will produce that error when you try to create task_map.

@flrn77 @miimsam can you confirm what encodings you have for the task_id column in task_instance?

[2022-06-21 18:02] dstandish commented on #24526
@flrn77 @miimsam what you may want to try to get around this is manually alter your task_instance.task_id column to have collation utf8mb3_bin.  maybe you can try this?   cc @ashb

[2022-06-21 18:03] dollschasingmen opened #24586 "Error when using connector in airflow snowflake hook: module 'snowflake' has no attribute 'connector'"
### Apache Airflow Provider(s)

snowflake

### Versions of Apache Airflow Providers

apache-airflow==2.2.2
apache-airflow-providers-amazon==2.4.0
apache-airflow-providers-apache-hive==2.0.3
apache-airflow-providers-celery==2.1.0
apache-airflow-providers-databricks==2.0.2
apache-airflow-providers-ftp==2.0.1
apache-airflow-providers-http==2.0.1
apache-airflow-providers-imap==2.0.1
apache-airflow-pro

[2022-06-21 19:24] kevinsunny1996 opened #24587 "Legal short option pattern regex confirmation"
Hi everyone , was referring how to write tests and was checking airflow repo , for the following code snippet:
https://github.com/apache/airflow/blob/main/tests/cli/test_cli_parser.py#L36

The comment contained # Only can be `-[a-z]` or `-[A-Z]`

However the regex seems to be missing Z in the test code.

Wanted to check if my finding is correct , I can contribute to the same by fixing the regex an

[2022-06-21 19:41] kcphila commented on #17507
Hi all,

I am experiencing this on 2.3.2 with LocalExecutor (4 schedulers), Postgres, and Ubuntu 22.04.

This is, however, running a clone of our staging environment of dags that run fine on 2.1.4 and Ubuntu 16.04.  I'm also running on a much smaller and less powerful instance, and so it may be exacerbating race conditions.

I did some investigation into the process state, and when this error lead

[2022-06-21 19:51] #24587 closed

[2022-06-21 19:55] potiuk commented on #24587
But yes - seems it needs fixing. But issues should not be used for questions. If you want to discuss something - open "Github Discussions" instead - but discussing stuff on a code are much better done with a PR - because you can discuss directly on the code - and if you submit a change, there is no doubt what you want to do (and it's as easy to close a PR as it is to close an issue or discussion).

[2022-06-21 21:44] sfc-gh-madkins commented on #24456
@turbaszek

[2022-06-21 21:48] sfc-gh-madkins commented on #24456
@turbaszek @mik-laj This vision I had for this was to smash together the python operator with our snowflake hook -- so in theory ppl get the same experience of authenticating as they do with the snowflake operator and the same experience with the python operator by providing a "Snowpark" callable -- that passes in the authenticates session variable

[2022-06-21 21:51] wolfier commented on #21072
In Airflow 2.2.4, the SLAs are managed in [processor.py](https://github.com/apache/airflow/blob/2.2.4/airflow/dag_processing/processor.py#L369).

It begins from where the python file is processed by the DagFileProcessor.

[code]

[2022-06-21 21:59] mik-laj commented on #24456
I thought to just add Snowpark session creation support to the `SnowflakeHook` class. If the user uses the new [Task Flow API](https://airflow.apache.org/docs/apache-airflow/stable/tutorial_taskflow_api.html), we will have a very simple and readable code.

[code]

[2022-06-21 22:51] sfc-gh-madkins commented on #24456
what if they want to run a series of snowpark pcode?

On Tue, Jun 21, 2022 at 4:59 PM Kamil Breguła ***@***.***>
wrote:

[2022-06-21 23:33] jedcunningham commented on #24533
Nope, unfortunately #24511 won't fix this issue. I wonder why we don't see it with the file handler though.

I'm thinking it was unintentional. @uranusjr, do you remember?

@ejk43, want to open a PR pulling that (and the assert) back into the try?

[2022-06-22 00:09] ejk43 commented on #24533
Sure I can definitely spin out a quick PR-- as long as moving the assignment & assert into the try statement is the extent of the changes you have in mind... I'm afraid I dont know enough of the context to understand what else might be going wrong.

I was *guessing* it was at least semi-intentional, since I also see the same pattern in file_task_handler.py in the same commit: https://github.com/ap

[2022-06-22 02:48] sivankumar86 commented on #24574
Could you please review the change ?

https://github.com/apache/airflow/pull/24593

[2022-06-22 05:42] Megha-Sai-Sree-PINNAKA commented on #16654
Hello @potiuk. I understood that all the pages which doesn't have .rst files but are being generated by python code (suggest a change button from these pages) has to be removed. Please correct me if my understanding is wrong.

[2022-06-22 05:56] miimsam commented on #24526
`task_id` varchar(250) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL`

[2022-06-22 06:52] jeongukjae opened #24594 "DockerOperator does not export context environment variables to container"
### Apache Airflow Provider(s)

docker

### Versions of Apache Airflow Providers

[code]

### Apache Airflow version

2.3.2 (latest released)

### Operating System

MacOS

### Deployment

Virtualenv installation

### Deployment details

`airflow standalone` command. (dev environment)

### What happened

When developing some DAGs in a standalone environment, I couldn't get context environment varia

[2022-06-22 07:31] doronzuker commented on #17993
@Narendra-Neerukonda any progress with this? or is there some workaround?

[2022-06-22 07:48] uranusjr commented on #24594
The _Exporting the following env vars_ line means the variables are exported to the _operator_, not the _container run by the operator_. To forward those variables to the container, you need to use `environment`.

Maybe we can add a flag on DockerOperator to automatically forward all the `AIRFLOW_*` variables to the container? Not sure, there are implications to blindly forwarding environment vari

[2022-06-22 07:48] #23833 closed

[2022-06-22 07:49] #24360 closed

[2022-06-22 08:40] hammerhead commented on #24014
Thanks, @josh-fell, the example you provided does work.
However, I couldn't apply it successfully to our implementation, in which the value of `parameters` is provided by another task:
[code]

This fails with an error related to XCom lookups:
[code]

[2022-06-22 09:33] bebeside77 commented on #16025
I had similar issue like this.

#### Cause
airflow worker node has not enough disk space to create new task log file.

#### Solution
delete log files.

[2022-06-22 09:38] eladkal commented on #24594
I don't think we should. If a specific user wish to have it they can create a custom operator.
I'm converting this issue to GitHub discussion

[2022-06-22 11:22] Bowrna opened #24597 "Error in docstring in the example DAG for Databricks example_databricks_sql.py"
### What do you see as an issue?

The docstring in example_databricks_sql.py code doesn't explain the code in that file. It seems to be copied from example_databricks.py file.

### Solving the problem

By putting the right docstring for the file example_databricks_sql.py

### Anything else

_No response_

### Are you willing to submit PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduc

[2022-06-22 11:22] SumitJaiswal997 opened #24598 "AWS Apache Airflow - Error! Please contact server admin."
### Apache Airflow version

2.0.2

### What happened

We get the below message once we click on AWS MWAA - Apache Airflow. Instance gets build successfully.

Oops
Something bad has happened.
Please consider letting us know by creating a [bug report using GitHub](https://github.com/apache/airflow/issues/new/choose).

Python version: 3.7.10
Airflow version: 2.0.2
Node: redact
-----------------------

[2022-06-22 11:45] j-adamczyk commented on #23588
I get the same error, but Grid View disappears almost immediately after entering that page, without clicking anything. Also I have  small number of DAGs.

[2022-06-22 11:50] potiuk commented on #24598
Please do not use Airflow issues for MWAA problems. Please contact MWAA - They are your server admin. Issues in Airflow are not for help-desk of MWAA problems and there is 0 information here that we could act on.

[2022-06-22 11:50] #24598 closed

[2022-06-22 12:27] raphaelauv opened #24602 "LocalExecutor run Async operators without a trigger process"
### Description

Currently the LocalExecutor can't run Async operators it need a triggerer process

### Use case/motivation

LocalExecutor "should" be a fully airflow working process without needing another process to run tasks

It would keep airflow simpler for entry users and small deployments

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willing to subm

[2022-06-22 12:39] mik-laj commented on #24602
What do you think about `airflow standalone`command? Is it meer your requirements?

[2022-06-22 12:44] nicolamarangoni commented on #24538
I have the same issue using the KubernetesExecutor

[2022-06-22 12:47] raphaelauv commented on #24602
`airflow standalone` is more for starting a local airflow , nothing close to a production setup.

`LocalExecutor` is perfectly prod ready and enough for anyone only running operators triggering operations in external solutions and not having needs for elastic scaling ( because not big amount of tasks )

[2022-06-22 13:44] kcphila commented on #17507
This does seem to be working consistently for LocalExecutor - I haven't checked Celery or Kubernetes.

It will take me a little while to set up the dev environment and do the testing before submitting a PR, but feel free to give it a whirl, I have a tentative branch set up here: https://github.com/krcrouse/airflow/tree/fix-pid-check

[2022-06-22 13:50] kcphila commented on #18041
Hi all,

From the discussion over at [issue 17507](https://github.com/apache/airflow/issues/17507), I may have identified issue when the SIGTERM is sent with the **Recorded pid<> does not match the current pid <>** error, but I'm running `LocalExecutor` and not kubernetes.

For me, I think this is happening when `RUN_AS_USER` is set for a task *and* the heartbeat is checked when the task instance

[2022-06-22 14:11] shmyer opened #24604 "Plus sign in chart label should be replaced with an underscore"
### Official Helm Chart version

1.6.0 (latest released)

### Apache Airflow version

2.2.3

### Kubernetes Version

1.22

### Helm Chart configuration

We're using Flux Helm controller v0.22.1 for deploying our helm releases.

### Docker Image customisations

Yes, but this should be irrelevant for this issue.

### What happened

In the newest version the Flux helm controller is appending a plus s

[2022-06-22 14:20] potiuk commented on #24604
Please raise issue to flux to fix it. We cannot account for anything "extra" added by Flux or any other controllers. In the meantime downgrade to the version of Flux that has no such issue and raise an issue to them.  You can refer to this issue - this way we will know when they fix it.

[2022-06-22 14:20] #24604 closed

[2022-06-22 14:21] potiuk commented on #24604
Btw. What do you mean "standard helm charts" ? Who defined the standard ? Any examples?

[2022-06-22 14:26] potiuk commented on #24602
I think it's wrong. We should instead make standalone a fully-production ready solution. Merging Triggerer into Scheduler is a bad idea.

[2022-06-22 19:05] patricker commented on #24471
#24382 works as expected (sorry for the delay!)

[2022-06-22 19:59] turbaszek commented on #24456
How about creating `@snowpark_task` decorator as we do for `virtualenv` and `docker`?

https://github.com/apache/airflow/blob/c3c1f7ea2851377ba913075844a8dde9bfe6376e/airflow/providers/docker/decorators/docker.py#L135-L139

https://github.com/apache/airflow/blob/c3c1f7ea2851377ba913075844a8dde9bfe6376e/airflow/decorators/python_virtualenv.py#L71-L75

Of course such operator would have to provide s

[2022-06-22 20:13] sfc-gh-madkins commented on #24456
I like how this looks.

Is there a way we can make it easy to grab an Airflow Connection to
instantiate a snowpark connection?

On Wed, Jun 22, 2022 at 2:59 PM Tomek Urbaszek ***@***.***>
wrote:

[2022-06-22 20:45] potiuk commented on #24471
Cool. About to release it... so .. just in time...

[2022-06-22 20:45] #24471 closed

[2022-06-22 20:52] mik-laj commented on #24456
We can add support for the optional `snowflke_conn_id` paarameter.
[code]
The [official documentation](https://airflow.apache.org/docs/apache-airflow/stable/tutorial_taskflow_api.html#using-the-taskflow-api-with-docker-or-virtual-environments) recommends that custom decorators should be called `task.CUSTOM`, so we should introduce one change to @turbaszek's proposal
[code]

[2022-06-22 21:26] #22397 closed

[2022-06-22 22:40] whitleykeith commented on #24015
@BillSullivan2020 @dstandish

We were facing this after (finally) upgrading from 1.10.15 to 2.0.2. We ended up finding out that the root cause was duplicate environment variables in the worker pod definition. We checked the K8s API Server Logs and that was one of the messages around the 422 error. After tidying up our config values pods could get adopted properly.

We do get some transient errors

[2022-06-23 01:16] allenhaozi commented on #18041
thank you @potiuk
I tried this parameter and it didn't work,
But in my environment, I commented out these three parameters and it works fine for now
 1. AIRFLOW__SCHEDULER__JOB_HEARTBEAT_SEC: 600
 2. AIRFLOW__SCHEDULER__SCHEDULER_HEARTBEAT_SEC: 200
 3. AIRFLOW__SCHEDULER__SCHEDULER_HEALTH_CHECK_THRESHOLD: 600

[code]

[2022-06-23 05:11] hterik commented on #24338
Same issue when using the branchoperator, eg
[code]
We want to run either t1 or t2, or both, then combine_results the results, but if any of them are skippped we observe the same issue, `XComArg result from .... with key="return_value" is not found!` Previously we would get null values as input arguments if the upstream was skipped, that's not ideal either, some placeholder-value for skipped would

[2022-06-23 06:16] uranusjr commented on #24525
I don’t think it’s the same. The final error looks similar, but this one is triggered by `task_dict`, which is on the DAG object, not Operator. The DAG structure is pretty stable and mostly unchanged for a long while afaik, so this is intriging.

[2022-06-23 09:57] eladkal commented on #21004
Now that https://github.com/apache/airflow/pull/24399 is merged I believe this task is unblocked :)
We will need however to set the provider with min version of Airflow 2.4.0

[2022-06-23 10:48] potiuk commented on #21004
Yep. fully justified. Marked it as good first issue.

I think however, that we might want to decide to release FAB 4.1.* upgrade in 2.3.3 so this might be 2.3.3+

The FAB 4.1.1* was surprisingly smooth so far and did not bring any really breaking changes. Bumping required dependencies is NOT a breaking change on its own even if we are bumping major versions of Flask/PyJWt - (especially that they b

[2022-06-23 14:49] skolchin opened #24618 "Failed to retrieve data from Oracle database with UTF-8 charset"
### Apache Airflow Provider(s)

oracle

### Versions of Apache Airflow Providers

apache-airflow-providers-oracle==3.1.0

### Apache Airflow version

2.3.2 (latest released)

### Operating System

Linux 4.19.79-1.el7.x86_64

### Deployment

Docker-Compose

### Deployment details

Oracle Database 12c Enterprise Edition Release 12.2.0.1.0
Python: 3.8
Oracle database charset: UTF-8 (returned by `SELE

[2022-06-23 15:22] xiangqiao123 commented on #9837
Airflow version：2.2.0
I also encountered this problem, how to solve it?

[2022-06-23 16:12] erdos2n opened #24620 "Grid view disappears when hovering over skipped tasks"
### Apache Airflow version

2.3.2 (latest released)

### What happened

When hovering over a `skipped` task of a DAG in the Grid view, the Grid view will disappear. The console contains the following error messages, which point to a skipped task having an unknown length value.

[code]

### What you think should happen instead

The Grid view should not disappear and the panel on the right should co

[2022-06-23 18:00] aspain commented on #24494
@josh-fell I created PR https://github.com/apache/airflow/pull/24622 to resolve this

[2022-06-23 18:08] bbovenzi commented on #24620
@erdos2n Do you have a sample DAG for this? I can't seem to replicate this for just any skipped task.

[2022-06-23 18:20] RNHTTR commented on #24534
I will circle back in a couple weeks, but I don't have time at the moment.

[2022-06-24 01:06] bhavaniravi opened #24624 "Redacted Variables override original value"
### Apache Airflow version

2.2.2

### What happened

1. Create a variable `sample_access_token` with value `random`
2. Export the variable, you will see the value
3. Click on edit and save
4. Export the variable, the variable value will be updated to `*******` the

### What you think should happen instead

The original variable value should be persisted even when redacted field is saved

### How

[2022-06-24 02:49] NickYadance commented on #24466
Seen this issue with CeleryKubernetesExecutor when restarting the Celery worker pod. After restart, some long running task instances can be set as `up_for_retry` and rerun successfully while other task instances failed and its dagrun failed too.  Due to this i cannot restart worker pods without draining the worker pods first.

This should be reproduceable and i'm investigating on it.

[2022-06-24 03:34] uranusjr commented on #24624
I changed the title since (if I understand correctly) the variables are not actually overwritten, it’s only (incorrectly) redacted in the export output.

[2022-06-24 08:27] ming-zhang-SN opened #24630 "All the task cells in the same row are showing same state (latest state)"
### Apache Airflow version

2.3.2 (latest released)

### What happened

For latest version (2.3.2) Airflow, on grid view UI all the task cells in the same row are showing same state(latest state):
![Untitled](https://user-images.githubusercontent.com/90807339/175493927-de8ca6fc-94d2-4441-8281-5c4f492c836c.png)

In the response json of `grid_data` API we can see all the instances have the same data

[2022-06-24 09:59] uranusjr commented on #24624
Since a variable can contain any value (including a blank string), there’s no way I can think of we can restore the original value without sending the value to the frontend. So I guess the only reasonable way we can prevent this from happening is to add some JavaScript, so the variable form cannot be submitted unless the user re-enters something in the _val_ field.

[2022-06-24 10:07] Megha-Sai-Sree-PINNAKA commented on #16654
Hello @potiuk and @mik-laj

I understood that there are 2 ways to display the documentation on [airflow website](https://airflow.apache.org/docs/apache-airflow/stable/).
1) Through .rst files where any changes can be directly done on this file and will be reflected on the corresponding UI Page.
2) Through .py file. In case of [amazon aws hooks](https://github.com/apache/airflow/tree/main/airflow/p

[2022-06-24 10:26] ashb commented on #24620
I think this was caused by hovering over a skipped mapped task -- i.e. when `make_list` in our example map dags returns a zero length list.

We may have already fixed this in main for 2.4 with one of our optimization PRs as I can't reproduce it right on main. Checking release.

[2022-06-24 10:56] ashb commented on #24620
Yes, confirmed it's a bug in 2.3.2 but not a problem in main.

[2022-06-24 12:35] bbovenzi commented on #24620
It looks like it was fixed in https://github.com/apache/airflow/commit/451a6f4d9ff8b744075e2f25099046c77f28179e#diff-50b1f3bc397270b30a4ed4928fb0a03896ecae7e9278546acccb5d53bd1c0f38

We also added typechecking in https://github.com/apache/airflow/pull/24509 so we should be able to catch these issues early-on.

[2022-06-24 12:36] potiuk commented on #24624
Why don't we simply remove the "hidden" field from the export altogether. This would be consistent with the approach that hidden values should never be accessible from the UI. The user still will be able to use CLI to make export including the hidden values.

[2022-06-24 13:14] ashb commented on #23588
Have you tried with 2.3.2?

[2022-06-24 13:16] bbovenzi commented on #24630
Duplicate of https://github.com/apache/airflow/issues/24410 and fixed in https://github.com/apache/airflow/pull/24327

[2022-06-24 13:16] #24630 closed

[2022-06-24 13:17] #23796 closed

[2022-06-24 13:21] #24410 closed

[2022-06-24 13:32] potiuk commented on #16654
The .py files are generated by autoapi plugin - that's what I know. once the build is done, they are all generated in _api subfolder, so the most likely way to check it is to use the location of the source. But how exactly to do it, I am not sure - I am not a sphinx expert :)

[2022-06-24 13:41] cgadam commented on #23588
Yep, I'm actually reproducing this on `2.3.2`. Check footer below:

<img width="2560" alt="image" src="https://user-images.githubusercontent.com/5420982/175547970-6647c116-3ec2-4c29-bef9-0097d847dc63.png">

[2022-06-24 13:50] #19754 closed

[2022-06-24 14:06] bbovenzi commented on #23588
Yes, I don't think we made the UI-side fix in time for 2.3.2 but it will be in 2.3.3

[2022-06-24 14:49] potiuk commented on #23480
The links are fixed. For older missing source links we now have link to the direct version in Github. For new pages that we will generate (2.3.3+) they will lead to embedded sources.)

[2022-06-24 14:49] #23480 closed

[2022-06-24 15:37] mik-laj commented on #16654
Documentation for class is generated based on python files.

[2022-06-24 17:22] vitaly-krugl opened #24642 "Erroneous comment about need to address AIRFLOW-1455 in airflow_local_settings.py"
### Apache Airflow version

2.3.2 (latest released)

### What happened

The latest airflow_local_settings.py contains the following out-of-date comment concerning the need to fix AIRFLOW-1455...
(see https://github.com/apache/airflow/blob/7de050ceeb381fb7959b65acd7008e85b430c46f/airflow/config_templates/airflow_local_settings.py#L28-L31)

[code]

However, according to https://lists.apache.org/thre

[2022-06-24 19:42] matthewblock opened #24644 "Enable keys linked to TaskInstance map_index"
### Description

#### Background

The new Dynamic Task Mapping feature adds the attribute `map_index` to the `TaskInstance` class. When viewing information for a single mapped task instance, you must select based on this `map_index`, e.g. an integer value `0`, `1`, `2`, ... `n`.

However, task instances can be mapped based on an iterable data type using the `.expand()` - using  a slightly modified

[2022-06-24 19:56] skyboi1233 opened #24645 "In my recent Airflow exploration, I'm trying to dump logs from Airflow to external systems, possibly without using FluentD, the target system is Splunk in my case."
In my recent Airflow exploration, I'm trying to dump logs from Airflow to external systems, possibly without using FluentD, the target system is Splunk in my case.
I was wondering if there is a way to add metainformation like DAG_ID, TASK_ID or RUN_ID to my task's logs in order to provide them with an internal index.
I can see a AIRFLOW__LOGGING__LOG_FORMAT env.var exists, btw it seems like you ca

[2022-06-24 21:36] cedkoffeto commented on #10883
Hi @dmcochener am new here trying to help and learn
I was interested in this issue so I checked your work and it seems totally correct so my question is:
Is the templating not working only for the "execution_date" field ? or other previous templated fields are also not being rendered.

[2022-06-24 21:40] dmcochener commented on #10883
It’s just the “execution_date” field that is not templating.

[2022-06-25 03:47] uranusjr commented on #24644
Duplicate of #23020. This feels straightforward in the simplest cases, but can become unweildly quickly. Inputs are much welcomed.

[2022-06-25 03:47] #24644 closed

[2022-06-25 06:09] masterlittle commented on #20308
Is this planned to be fixed? This is a major issue and causing failures and operational nightmares

[2022-06-25 07:46] #19971 closed

[2022-06-25 08:25] potiuk commented on #12282
Some status with so-far bash remoal for Breeze:

Before:

[code]

now:

[code]

We have not yet removed some of the legacy code so the numbers are a little misleading, but I hope soon we will be able to remove all of them, we are getting closer to it

https://github.com/apache/airflow/projects/13

[2022-06-25 13:24] mik-laj commented on #24456
I prepared a draft PR: https://github.com/apache/airflow/pull/24652
The implementation is complete, but I will want to add some documentation to improve the adoption of this feature and system tests to avoid regression.

[2022-06-25 14:13] consciencee opened #24653 "Mapped TriggerDagRunOperator causes SerializationError due to operator_extra_links 'property' object is not iterable"
### Apache Airflow version

2.3.2 (latest released)

### What happened

Hi, I have a kind of issue with launching several subDags via mapping TriggerDagRunOperator (mapping over `conf` parameter). Here is the demo example of my typical DAG:

[code]

But when Airflow tries to import such DAG it throws the following SerializationError (which I observed both in UI and in $AIRFLOW_HOME/logs/scheduler/

[2022-06-25 17:42] jayarjo commented on #22328
Any update on this?

[2022-06-25 20:09] sfc-gh-madkins commented on #24456
I pulled the PR -- any advice on how to let me test locally? Doesnt appear
to be as easy as pip install -e

On Sat, Jun 25, 2022 at 8:24 AM Kamil Breguła ***@***.***>
wrote:

[2022-06-26 07:19] turbaszek commented on #24456
I would recommend using breeze - Airflow development environment:
https://github.com/apache/airflow/blob/main/BREEZE.rst#id26

[2022-06-26 12:35] mik-laj commented on #24456
@sfc-gh-madkins I wonder if I should set [`QUERY_TAG`](https://docs.snowflake.com/en/sql-reference/parameters.html#query-tag) and pass the following values:
- [Instance name](https://airflow.apache.org/docs/apache-airflow/stable/configurations-ref.html#instance-name)
- DAG ID
- Task ID
- Run ID

Does Snowflake have any recommendations for ISV on how to use the `query_tag` that we can use here? Unf

[2022-06-26 15:11] eitanme commented on #23361
I'm also receiving this error with a single `LocalExecutor` scheduler running on Airflow 2.3.2.

Has anyone found an effective workaround for this?

[code]

[2022-06-26 17:53] #22434 closed

[2022-06-26 18:15] mik-laj commented on #24586
Do you use self-managed Airflow or do you use any service? Can you create a DAG with a BashOperator that will execute a `pip  freeze` command to check if the environment used by Airlfow has the `snowflake-connector-pythonz library installed?

[2022-06-26 18:45] dukarc commented on #21923
+1 on this.  Has anyone found a temporary solution for Airflow 2.0?

[2022-06-26 21:28] valayDave opened #24669 "setting `resources` in `KubernetesPodOperator` breaks when used with `Operator.partial`"
### Apache Airflow version

2.3.2

### What happened

I am using the `KubernetesPodOperator` and I set the `resources` keyword argument in the `partial` function so that I can use dynamic task mapping. This doesn't work and breaks the code. The following is the errors It is giving :

[code]

### What you think should happen instead

I suspect it is because `BaseOperator` is explicitly given `None`

[2022-06-27 02:04] sawaca96 commented on #14924
@potiuk

I use helm 1.6.0 and airflow 2.2.5

![image](https://user-images.githubusercontent.com/49309322/175846570-615f2422-c5a8-423e-a5ad-ede4ffcf6f09.png)
![image](https://user-images.githubusercontent.com/49309322/175846614-08ffe4f6-e653-4081-8592-8347d9e029a2.png)

why memory continuou increase?

[2022-06-27 02:10] bhavaniravi commented on #24669
`return Resources(**resources)` is not considering `V1ResourceRequirements` but only takes the old resource structure into account.

[code]

We can check if the resource is an instance of `V1ResourceRequirements` and call `to_dict` before creating `Resource` object

[2022-06-27 04:06] uranusjr commented on #24669
Duplicate of #23783.

[2022-06-27 04:06] #24669 closed

[2022-06-27 06:40] aserechenko opened #24674 "AirflowSecurityManager inconsistent with Flask-appbuilder when using @protect API in custom plugins"
### Apache Airflow version

2.3.0

### What happened

We are using a custom plugin with API endpoints that must be protected.

After upgrading from 2.1.5 to 2.3.0 our endpoints started to produce an error:
[code]

But the same error is produced on 2.3.2 as well.

### What you think should happen instead

_No response_

### How to reproduce

Full reproducing steps require making a plugin with a cla

[2022-06-27 07:41] potiuk commented on #14924
What kind of memory is it ? See the whole thread. There is different kind of memory and to might be observing cache memry growth for whatever reason.

Depending on the type of memory it might or might not be a problem. Buy you need gto investigate it in detail. No one is able to diagnose it without you investigating based on three thread.

The thread has all the relevant information. You need to s

[2022-06-27 07:54] BernhardNiksch commented on #20603
Still experiencing this in 2.2.5

[2022-06-27 08:54] normel91 opened #24675 "MySql SSL Mode"
### Apache Airflow Provider(s)

mysql

### Versions of Apache Airflow Providers

any

### Apache Airflow version

2.3.2 (latest released)

### Operating System

debian

### Deployment

Other Docker-based deployment

### Deployment details

_No response_

### What happened

If you pass an ssl-mode paramerter in a mysql connection using mysqldb client. That parameter does not get passed through to t

[2022-06-27 09:45] BillSullivan2020 commented on #24015
Hi Keith,
Thanks for letting me know this about the pod (duplicate metadata), if this helps us to resolve - it would be great!
In the next few days i will re-create the issue & check this point.
-> i will provide an update soon.

[2022-06-27 10:06] potiuk commented on #24675
Feel free to propose PR

[2022-06-27 10:08] uranusjr commented on #24624
The problem is not the export, but clicking the save button. When a value is redacted, the original value is not sent to the frontend at all, and when the frontend posts back to save, that value gets overwritten since the POST request does not contain the original value.

[2022-06-27 10:39] potiuk commented on #24624
Ah. I thought it's only export. So should not we simply skip those values and allow to omit them when updating via API, unless they are overridden? Or - simpler- why not have a "sentinel" value that will be treated differently at save (say '**********') . This is very highly unlikely someone might want to set a "secret" value to "**********" and we can warn the user and even provide some escaping

[2022-06-27 10:56] argibbs commented on #23361
I'm also seeing this issue, albeit with a slightly different query:

[code]

It happens pretty much every time I delete a dag. Only way I've found around it is to browse the dag runs, delete all but one of them, then delete the dag.

I'm running multiple schedulers, and `use_row_locking = True`. Postgres 13.1.

Our version path was 2.2.4 -> 2.3.2 (we skipped 2.3.0 and 2.3.1 because of reasons). 2.

[2022-06-27 12:45] spatocode commented on #23911
@uranusjr  I believe PENDING would be the best fit for this scenario.

[2022-06-27 12:59] TamGB opened #24678 "Macro prev_execution_date is always empty"
### Apache Airflow version

2.3.2 (latest released)

### What happened

The variable `prev_execution_date` is empty on the first run meaning, all usage will automatically trigger a None error.

### What you think should happen instead

A default date should be provided instead, either the DAG's `start_date` or a default `datetime.min` as during the first run, it will always trigger an error effect

[2022-06-27 14:59] pasalkarsachin1 opened #24681 "Docker is not pushing last line over xcom"
### Apache Airflow Provider(s)

docker

### Versions of Apache Airflow Providers

apache-airflow-providers-docker==2.7.0
docker==5.0.3

### Apache Airflow version

2.3.2 (latest released)

### Operating System

20.04.4 LTS (Focal Fossa)

### Deployment

Docker-Compose

### Deployment details

Deployed using docker compose command

### What happened

Below is my dockeroperator code
[code]
Last line

[2022-06-27 15:26] TamGB commented on #24678
Overcame the problem using Jinja:
`{{ prev_start_date_success | ts_nodash if prev_start_date_success is not none else '19800101T000000' }}`

[2022-06-27 15:50] edithturn commented on #12562
I was trying to understand the documentation about this variable, this is deprecated but I din't find how should it works now. I found something that it is recommendable add `explicit_defaults_for_timestamp=1` because of its deprecation status.

[2022-06-27 16:08] potiuk commented on #24678
You can also use the `default` built-in Ninja filter. This is much better than imposing some behaviour of the macro.

[2022-06-27 16:24] BillSullivan2020 commented on #24015
Hi Keith,

Thanks for getting back to me.

I understand/appreciate exactly what you are saying, the duplicate environment variables causing the 'Fail to adopt' error mechanism.

Today, i have tried this again, i was able to reproduce. Let me show you,

% stern --context XYZ --namespace schedulemanager schedulemanager | grep "adopt"

...
schedulemanager-5fc5fdb76-9tdst schedulemanager [2022-06-27 1

[2022-06-27 16:26] uranusjr commented on #24678
Perhaps we should let `ts_nodash` et. al accept None (and just return None). It’ll make the template a bit easier to write.

[2022-06-27 17:19] eladkal commented on #10742
feel free!

[2022-06-27 18:50] tarper24 commented on #24586
I ran into a similar issue today. We had a file in one of our plugin folders named `snowflake.py` and after renaming that and restarting Airflow, the snowflake connector was working again.

[2022-06-27 21:58] #24572 closed

[2022-06-27 22:00] argibbs commented on #23361
N.B. I've tried shutting down all-but-one schedulers, and that also fixes it. 2 schedulers running: delete fails, as per above. 1 scheduler running, delete works.

Is row-locking broken somehow in 3.2.3?

[2022-06-27 22:20] zbentzinger opened #24690 "sql_alchemy_conn environment variable raises airflow.exceptions.AirflowConfigException"
### Apache Airflow version

2.3.2 (latest released)

### What happened

When configuration of database.sql_alchemy_conn value is set via environment variable `AIRFLOW__DATABASE__SQL_ALCHEMY_CONN`, running `airflow webserver` raises `airflow.exceptions.AirflowConfigException: section/key [core/sql_alchemy_conn] not found in config exception`

Workaround is to export the variable as: `AIRFLOW__CORE_

[2022-06-27 22:49] Taragolis commented on #24690
[code]
[code]

Change in your `webserver_config.py` in line 30  _conf.get('core', 'SQL_ALCHEMY_CONN')_ ->  _conf.get('database', 'sql_alchemy_conn')_

[2022-06-27 23:04] zbentzinger commented on #24690
Confirmed, this fixed my issue - thank you! I forgot that on airflow's first run it generates webserver_config.py. Removed that file and it regenerated on next run and issue is fixed; was still using the old Airflow 1.10 version.

[2022-06-27 23:04] #24690 closed

[2022-06-27 23:56] potiuk commented on #24678
Good idea @uranusjr :)

[2022-06-28 01:16] tianrobin opened #24692 "Error for Hive Server2 Connection Document"
### What do you see as an issue?

In  this Document https://airflow.apache.org/docs/apache-airflow-providers-apache-hive/stable/connections/hiveserver2.html  Describe , In Extra  must use the "auth_mechanism " but in the sources Code used "authMechanism".

### Solving the problem

use same words.

### Anything else

None

### Are you willing to submit PR?

- [ ] Yes I am willing to submit a PR!

#

[2022-06-28 02:55] cloventt commented on #23588
+1, I run Airflow behind an Nginx reverse proxy with `AUTH_ROLE_PUBLIC = 'Admin'
` set in the webserver config. I see 401 Unauthorized errors on the call to `api/v1/dags/<dag name>/tasks` which causes the grid to disappear.

[2022-06-28 02:59] #24653 closed

[2022-06-28 04:44] vqcuong opened #24693 "TrinoHook connecting over https should support CertificateAuthentication from config extras"
### Description

I have read throught [TrinoHook](https://github.com/apache/airflow/blob/main/airflow/providers/trino/hooks/trino.py#L130) and relize that the method get_conn missed option to specify an path to pem file or certificate directly for CertificateAuthentication in trino.dbapi.connect

### Use case/motivation

It is flexible and easier to use and config a Trino connection from Airflow U

[2022-06-28 05:22] #24693 closed

[2022-06-28 06:07] NaveenGokavarapu19 commented on #24678
Hii all,

I am interested in this issue. Can i contribute to this issue.

[2022-06-28 06:10] nirutgupta commented on #23414
I am seeing the same issue in 2.3.0
`[2022-06-27, 12:27:29 UTC] {subprocess.py:92} INFO - sqlalchemy.exc.IntegrityError: (psycopg2.errors.ForeignKeyViolation) update or delete on table "dag" violates foreign key constraint "dag_tag_dag_id_fkey" on table "dag_tag"
[2022-06-27, 12:27:29 UTC] {subprocess.py:92} INFO - DETAIL:  Key (dag_id)=(test_base_config) is still referenced from table "dag_tag".`

[2022-06-28 06:11] nirutgupta commented on #23414
/open

[2022-06-28 06:45] #23783 closed

[2022-06-28 06:59] uranusjr commented on #24678
Go ahead! The filters are in `airflow/templates.py`. I think we should add support for None in all of them.

[2022-06-28 09:20] #24422 closed

[2022-06-28 09:26] bhavaniravi commented on #24624
That'd make it hard for users to check what variables are available. There are cases where users don't have access to infra to run Airflow CLI commands.

I can only think of two ways to go about this

- Disabling edit submit button unless the form is edited
- Not saving/raising an error if the form is submitted with `**********`

[2022-06-28 10:23] uranusjr opened #24699 "Clear one single mapped task instance"
### Body

We can handle this programmatically, but currently there’s no user interface available for this. The “Clear” button in the task modal applies to all the mapped tasks no matter which map index is chosen (which also is a UX issue), while the `clearTaskInstances` API only takes a list of task IDs.

Currently `DAG.clear()` supports passing in a 2-tuple instead of string to clear one single m

[2022-06-28 10:24] ephraimbuddy commented on #23414
It's fixed in 2.3.2

[2022-06-28 11:28] hterik opened #24701 "Duplicate dag ids lead to confusing outcome rather than error."
### Apache Airflow version

2.3.2 (latest released)

### What happened

I accidentally created two dags with the same name.
No errors were given.
Code-tab in web-ui showed one of the versions.
Running the task actually executed the second version.

### What you think should happen instead

One, or both DAGs should be rejected and pop up a dag import error in the UI
Starting the dag should not be p

[2022-06-28 12:40] spatocode commented on #23664
@potiuk Please assign me this issue

[2022-06-28 12:41] NaveenGokavarapu19 commented on #24678
is there way to assign it to me.

[2022-06-28 12:44] #24022 closed

[2022-06-28 13:55] Piatachock commented on #22470
Hello and thanks for contribution from Yandex!
In case of any trouble with integration of this example in system tests, please let me know.

[2022-06-28 14:16] potiuk commented on #24624
I am confused. What woudl make it hard ? The whole idea of redacting certain values is to make them inaccessible via UI. If you do not want it, just do not make it encrypted. It's a feature not inconvenience.

[2022-06-28 15:38] potiuk commented on #24701
Tehis is rather a feature than a bug and it is next to impossible to fix it, because in general case each DAG is parsed separately from each other.

We are not likely going to fix it - because of dynamic nature of dag id generation, and continious parsing/re-parsing mutliple dags and this is happen in "aysynchronous way"  we neverk know when the snapshot of our DAGs is complete. We never process D

[2022-06-28 15:45] potiuk commented on #24692
@tianrobin - why don't you fix it in a PR ?

[2022-06-28 17:00] whitleykeith commented on #23361
Having this issue as well, we're only on 2.0.2.

Looking through some of the Airflow configs I'm wondering if it could be related to the [file_parsing_sort_mode](https://airflow.apache.org/docs/apache-airflow/stable/configurations-ref.html#file-parsing-sort-mode)? It seems like the default behavior could cause the schedulers to always start at the same place when parsing dag files, and I could see

[2022-06-28 19:32] #23822 closed

[2022-06-28 19:35] bbovenzi commented on #24699
I think that was the source of some confusion over at https://github.com/apache/airflow/pull/23516

[2022-06-28 22:14] #23824 closed

[2022-06-29 01:55] #24566 closed

[2022-06-29 02:00] ming-zhang-SN opened #24721 "`default_wrap` setting for webserver is not working"
### Apache Airflow version

2.3.2 (latest released)

### What happened

The DAG logs are not wrapped even I set `default_wrap` in `airflow.cfg` to `True`.
That may cause by this line I think:
https://github.com/apache/airflow/blob/main/airflow/www/static/js/dag_code.js#L25

I tried with the following code and worked:
[code]

### What you think should happen instead

_No response_

### How to repro

[2022-06-29 06:18] hterik opened #24723 "Grid view - Show vertical lines at rounded date intervals"
### Description

When looking at the DAG grid view, i want a quick overview of how many dags were run today.
In grid view now (Airflow 2.3.2), there are some vertical lines inserted on the grid view that at first glance appear to be one per day, but looking closer actually have some other unpredictable interval.

See following example
![image](https://user-images.githubusercontent.com/89977373/176

[2022-06-29 06:43] #24574 closed

[2022-06-29 07:06] eladkal opened #24725 "Trigger DAG from templated view tab producing bad request"
### Body

Reproduced on main branch.

The bug:
When clicking Trigger DAG from templated view tab it resulted in a BAD REQUEST page however DAG run is created (it also produce the UI alert "it should start any moment now")
To compare trying to trigger DAG from log tab works as expected so the issue seems to be relevant only to to the specific tab.

![trigger dag](https://user-images.githubuserconte

[2022-06-29 07:34] NaveenGokavarapu19 commented on #24723
hii hterik. Can beginner handle this issue. Please let me know the difficulity of the issue.

[2022-06-29 08:06] eladkal opened #24728 "DAGs View: make Owner column hyperlink for a predefined URL"
### Body

Currently when clicking on specific owner user is forward to search endpoint
`/home?search=owner_name`

My suggestion is to define in airflow.cfg `dag_view_owner_url`.
for example:
`dag_view_owner_url = https://www.something.com/users?search=`

If using this setting an icon will be added to the column (or something else we can decide) by clicking on the icon it will forward the user to t

[2022-06-29 09:12] david-loveholidays opened #24729 "BigQueryToBigQueryOperator failing with "Not found: Job ..." error"
### Apache Airflow Provider(s)

google

### Versions of Apache Airflow Providers

apache-airflow-providers-google==2022.6.22+composer

### Apache Airflow version

2.2.5

### Operating System

Google Cloud Composer running on GCP Kubernetes

### Deployment

Composer

### Deployment details

_No response_

### What happened

BigQueryToBigQueryOperator failed to copy a table.
Code:
[code]
Logs:
[code

[2022-06-29 09:19] thinhnd2104 opened #24730 "Google CloudRun job operator"
### Description

Like AWS ECS, In Google Cloud Service has Cloud Run Job beta. So does anyone need to use this feature from GCS?

### Use case/motivation

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://github.com/apache/airflow/blob/m

[2022-06-29 09:39] vivek-zeta opened #24731 "Celery Executor : After killing Redis or Airflow Worker Pod, queued Tasks not getting executed even after pod is up."
### Apache Airflow version

2.2.2

### What happened

We are using celery executor with Redis as broker.
We are using default settings for celery.
We are trying to test below case.
- What happens when Redis or Worker Pod goes down?

Observations:
- We tried killing Redis Pod when one task was in `queued` state.
- We observed that task which was in `queued` state stays in `queued` state even after

[2022-06-29 09:48] vivek-zeta commented on #24731
@potiuk @jedcunningham

[2022-06-29 11:11] NaveenGokavarapu19 commented on #24731
Hii i am interested in taking up this issue. Can i work on this.

[2022-06-29 12:28] #24243 closed

[2022-06-29 13:52] gabrielwry opened #24734 "ExternalTask: Check if the most recent task succeeds"
### Description

A sensor that only relies on the **most recent** run to be in `allowed_states` instead of using a `execution_delta` or `execution_delta_fn`.

I can think of couple potential issues with this:
- we may need to sort the `task_instance` tables based on `execution_date`, can be expensive
- a race condition, where when our sensor is poking the external task is not in `allowed_states`,

[2022-06-29 14:12] #24692 closed

[2022-06-29 14:29] mohamedajmaltm commented on #20309
Add "insecure_mode=True" in snowflake connector to disable OCSP checking

[code]

But "insecure_mode=True" is needed only when running inside Airflow (Running as a pyscript works fine) . I don't know why is that.

[2022-06-29 14:39] potiuk commented on #20309
I recall that In the past, Snowflake library monkey-patched requests library with OCSP and it broke other providers using it because it was just monkey-patching common library to get there. I believe now requests library is vendored in and updated there (@mik-laj ?), but maybe (not sure how it is implemented) - maybe snowflake uses some c-level (dynamic?) bindings to some external libraries with b

[2022-06-29 15:28] Gollum999 opened #24736 "TimeSensorAsync breaks if target_time is timezone-aware"
### Apache Airflow version

2.3.2 (latest released)

### What happened

`TimeSensorAsync` fails with the following error if `target_time` is aware:
[code]

### What you think should happen instead

Given the fact that `TimeSensor` correctly handles timezones (#9882), this seems like a bug.  `TimeSensorAsync` should be a drop-in replacement for `TimeSensor`, and therefore should have the same timez

[2022-06-29 15:35] potiuk commented on #23361
Does anyone know if it comes from Websersver/Schedulers or Workers? I know it's a difficult question but maybe someone happens to have log of queries before/after and could make a simple stat what has changed ?

[2022-06-29 15:46] eladkal commented on #24728
I agree completely (I just didn't have a better idea than the one I suggested).

This is good as it allows flexibility but also create hussle, if the endpoint is change you need to edit all dags (can be solved using function to bring the prefix but still not the nicest thing)

Alternatively, maybe we can allow to add custom options using the Links:
![Screen Shot 2022-06-29 at 18 41 57](https://use

[2022-06-29 16:00] potiuk commented on #23361
@ldacey @whitleykeith @argibbs @eitanme -> I spoke with some enightened people :) (yeah talking about you @ashb  and @bbovenzi ) -> and after the talk I have a hypothesis, that this is the new Grid view doing auto-refresh  for a long running DAG.

There was a fix by @ashb https://github.com/apache/airflow/pull/24284 that is going to be released in 2.3.3 which decreases significantly a number of qu

[2022-06-29 16:19] potiuk commented on #24728
Something like Base Operator Link but on DAG level ? Might be possible actually .

[2022-06-29 16:38] argibbs commented on #23361
Hah, spooky.

Without boring you with the details, I was running some-many-lots of DAGs from scratch today. I noticed that db load increased with the number of active dags and then experimented to see if it was the dags themselves, or just because I was watching them all.

Turning off auto-refresh seemed to massively improve db load, and I just came here to update the thread, only to find you've b

[2022-06-29 16:44] thetaiter opened #24739 "DAG specific permissions cannot be split between 2 roles"
### Apache Airflow version

2.2.4

### What happened

We would like to set up DAG specific permissions for users of our Airflow instance. We use LDAP for authentication, and have gotten AUTH_ROLES_MAPPING working correctly. Our issue lies on the Airflow FAB roles side.

I followed the instructions in this youtube video to set up DAG specific access:
https://www.youtube.com/watch?v=s6TygwvYdN0

In

[2022-06-29 16:47] thetaiter commented on #24739
I should note that the reasoning behind our desire for this functionality is so that for new roles, all we have to do is set up the AUTH_ROLE_MAPPING for the new Role and then permissions can be managed directly in DAG code with `access_control` rather than requiring the manual step of copying a role for every new Role we want.

[2022-06-29 16:56] argibbs commented on #23361
I haven't tried with latest main, just 2.3.2; I tend to only run with the release builds, but I can try main if it'll help.

[2022-06-29 20:58] potiuk commented on #23361
Another option @argibbs will be to apply the fix of @ashb  to your installation - it's not much, and it should be cleanly applicable on top of your code by applying a patch/

[2022-06-29 21:00] potiuk commented on #23361
This is "safer" (less changes) applied  and gives better "proof" that this was the problem (and the good thing you could apply to  production and let it run and "patch-fix-ti" without waiting for 2.3.3.

[2022-06-30 00:23] jordanbecketmoore opened #24742 "Import errors thrown by *new* DAGs are hidden from RBAC users' web ui"
### Apache Airflow version

2.3.2 (latest released)

### What happened

I wrote a custom security manager that created custom roles for Airflow users based on LDAP mapping. These users would only be given permissions to view, edit, etc. DAGs whose access_control parameters explicitly permitted their role to view. However, it was discovered that if a malformed DAG file was added to the DAG_FOLDER,

[2022-06-30 02:55] bhavaniravi commented on #24624
I see the Airflow list UI page as a source of truth for DAG developers. It will bring up queries like

1. On creating a variable for eg., `s3_access_token`, _I have created a variable, but it vanished from the screen. When I try to create again, it's saying duplicate key_
2. In a team of 3 devs, one creates`s3_access_token`, two weeks another dev wants to use the same variable but can't find it in

[2022-06-30 03:57] uranusjr commented on #24624
For the “not saving `********`” part, the difficult thing is that a variable’s value can literally be anything, including an empty string, and eight asterisks. So doing any checks in the backend to not save a specific value is somewhat breaking compatibility.

[2022-06-30 04:12] uranusjr commented on #24742
Hmm this is difficult. Since the file cannot be parsed, a DAG can never be produced, and thus the associated ImportError cannot have a valid `dag_id`. But we can’t just show all ImportError entries without a valid `dag_id` since that might include code that the user is not supposed to see.

Perhaps we should add a new interface on the security manager, say `is_import_error_accessible`, for this pu

[2022-06-30 05:30] uranusjr commented on #24736
Perhaps we could allow all Pendulum timezones instead of requiring UTC. Not sure.

[2022-06-30 05:31] uranusjr commented on #24736
Convert to a feature since not allowing non-UTC is an explicit design choice made in the current implementation. Need some context on this to decide what best to do here @andrewgodwin

[2022-06-30 05:51] uranusjr commented on #24734
Needs to define “recent”. What time should be used to compare runs—logical time, trigger time, finish time, or otherwise? Does this include manually triggered runs? If so, how should the times between manual and scheduled runs be compared?

[2022-06-30 06:08] #24729 closed

[2022-06-30 06:09] uranusjr commented on #24729
Nothing we can do here then.

[2022-06-30 06:25] flrn77 commented on #24526
Hi @miimsam,
thx for the Issue description. That's a good hint ;)
I have `CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci` in `task_instance.task_id`.

yesterday I tested migration with changed  `CHARACTER SET utf8 COLLATE utf8_bin` like it is when I create DB from scratch.
That step works. But caused by the first failed migration I have to do manuell steps to bring it back to work.

[code]

I al

[2022-06-30 06:30] potiuk commented on #24624
If we are concerned, and escaping is not good enough of a solution, we could simply add a flag if a field is redacted or not and not save it then (and clean the "*****" and the flag whenever someone modifies the value. That would make it truly "write-only".

The problem with sending the actual value in this case to frontend will be a CVE-worthy security vulnerability, simply :).

[2022-06-30 06:36] potiuk commented on #24742
I think, personally, this problem is simply part of multi-tenancy in the future. I think for now custom security manager doing stuff in custom way is enough, because we have no concept of "team" and per-team acces. This is all implemented by a custom security manager if somoene wishes to do it (and yeah, it is complex and workaround).

However, I think when/if we implement a "fully fledged"  team

[2022-06-30 06:52] bhavaniravi commented on #24624
In the frontend is there a way to add a form control that will save only if the field value is changed.

[2022-06-30 07:20] rotemseekingalpha opened #24745 "Airflow DB cleanup is very slow"
### Apache Airflow version

2.3.2 (latest released)

### What happened

When deleting Dag Runs or DAGs from the UI, the response is HTTP ERROR 504 (timeout).
IMHO, this is mainly happening because the delete process relies on the foreign key cascade effect.
After investigating the issue in the database (PostgreSQL), I suspect the problem is the locks on the `xcom` table.
I found that there are mul

[2022-06-30 07:25] uranusjr commented on #24624
The only way I can think of is to add a hidden input and toggle it with JavaScript. But if we’re going to do JavaScript, it’s probably easier to eliminate the hidden input and just disable/enable the submit button directly.

[2022-06-30 07:27] uranusjr commented on #24745
Directly interacting with the database is not supported. If you have a thing you want to improve, we can accept a pull request if it does not go against other design decisions, but we are not going to actively provide solutions for you.

[2022-06-30 07:27] #24745 closed

[2022-06-30 07:30] rotemseekingalpha commented on #24745
@uranusjr This was just an example of what happens in the database.
I am not saying I actively deleting data directly from the database.
I am using any of the [airflow_db_cleanup](https://cloud.google.com/composer/docs/cleanup-airflow-database) DAGs provided online

[2022-06-30 07:34] uranusjr commented on #24745
That’s still directly interacting with the database. As I mentioned, it’s not actively supported.

[2022-06-30 07:35] rotemseekingalpha commented on #24745
@uranusjr What about the timeout when deleting DAG/DagRun from UI?
Is that supported?

[2022-06-30 07:38] rotemseekingalpha opened #24746 "Timeout from UI when deleting a DAG or DagRun"
### Apache Airflow version

2.3.2 (latest released)

### What happened

When deleting Dag Runs or DAGs from the UI, the response is HTTP ERROR 504 (timeout).
I believe it mainly happens because the delete process relies on the foreign key cascade effect.
After investigating the issue in the database (PostgreSQL), I suspect the problem is the locks on the xcom table.
I found that multiple delete op

[2022-06-30 07:52] potiuk commented on #24729
Yes. Actually we can do things in the future - the https://github.com/apache/airflow/pull/24680 is aimed to solve exactly this problem (and I hope with the next wave of providers we will start implementing it) - so that Composer team will not have to keep their own fork of the provider, instead they will be able to contribute cherry-picking they do to Airflow and we will be able to release older,

[2022-06-30 08:00] potiuk commented on #24526
Hey Good people here @milimsam @flrn77 ..... Is this possible to make a PR to https://airflow.apache.org/docs/apache-airflow/stable/installation/upgrading.html#migration-best-practices and describe those issues in a new "Troubleshooting MySQL Exceptions at upgrade" chapter (for example)?  It would be a great contribution and giving back to the community - I think together with @dstandish we will b

[2022-06-30 08:10] uranusjr commented on #24746
It’s likely. Since XCom has `run_id` and `dag_id` on it in the first place, we should probably avoid relying on CASCADE and just delete relevant XCom entries directly.

[2022-06-30 08:10] uranusjr commented on #24745
UI operations are supported so we should improve those.

[2022-06-30 08:20] potiuk commented on #24745
@rotemseekingalpha - if you feel like it, you can provide a PR for that (but I am afraid this is a very complex change to implement from the UI. The UI is not built in the way that it will handle ALL cases of all problems of database of all sizes. This is just impossible, and entirely not needed to not necessarily complicate the architecture of the UI.

If you would like to introduce asynchronouse

[2022-06-30 08:27] hterik opened #24748 "Configuring retry policy of the the kubernetes CoreV1Api ApiClient"
### Description

Can we add the option to configure the Retry policy of the kubernetes CoreV1Api? Or set it to default have some more resilient configuration.

Today it appears to retry operations 3 times but with 0 backoff in between each try. Causing temporary network glitches to result in fatal errors.
Following the flow below:

1. `airflow.kubernetes.kube_client.get_kube_client()`
Calls `load_

[2022-06-30 08:31] NaveenGokavarapu19 commented on #24748
Hii all i am interested to work on this feature. Can this feature be assigned to me.

[2022-06-30 08:48] potiuk commented on #24745
Airflow db clean is an official airflew feature. Not a db operation per se.that's why 1) from my answer is far worse (because it is not supported and if you do it you have to be prepared for it to stop working any time. There is nothing to forbid you doing so. But by doing it you take over responsibility of maintaining your cleanup scripts. We are not policemen forbidding you to do stuff, you just

[2022-06-30 08:54] ashb commented on #24746
I'd be surprised if doing it ourselves is any quicker than letting postgres handle it itself. Could this be a case of missing indexes or the foreign side (i.e. on XCom). You added some recently didn't you @uranusjr ?

[2022-06-30 08:54] rotemseekingalpha commented on #24745
@potiuk thank you

[2022-06-30 09:42] celeriev commented on #21941
Hello ! I think this feature could indeed be very useful ! We are facing the issue currently with my team. I can help if needed @hsrocks

[2022-06-30 10:15] rotemseekingalpha commented on #24746
@uranusjr in addition, there's no indexes on foreign keys to `task_instance` table from `xcom` table:
[code]

[2022-06-30 14:09] zartstrom opened #24755 "Log server on celery worker does not work in IPv6-only setup"
### Apache Airflow version

2.2.5

### What happened

I deployed the Airflow helm chart in a Kubernetes cluster that only allows IPv6 traffic.
When I want to look at a task log in the UI there is this message:
[code]

So the webserver cannot fetch the logfile from the worker.

This happens in my opinion because the gunicorn application listens to  `0.0.0.0` (IPv4), see [code](https://github.com/ap

[2022-06-30 14:22] Arti3DPlayer opened #24757 "SimpleHttpOperator is not catching response for long running tasks > 20 min"
### Apache Airflow version

2.3.2 (latest released)

### What happened

When I use Dag with simple http operator and task takes more than 20 min, it is not catching returned response and working forever

[code]

I tried to increase `killed_task_cleanup_time` and `decrease worker_concurrency`, but this not helped. Also I found 2 same issues:

https://stackoverflow.com/questions/69582817/no-response

[2022-06-30 14:41] itayB commented on #24526
my migration failed as well, same setup, RDS MySql 8.0.20, upgrading from 2.2.5 --> 2.3.2, failed on
[code]

and we are currently stuck, trying to recover this step manually :(
Any tip here? is there's a ref to the migration upgrade steps somewhere?

[2022-06-30 14:43] mz-heesun opened #24758 "FacebookAdsReportToGcsOperator CSV conversion option available"
### Apache Airflow Provider(s)

facebook

### Versions of Apache Airflow Providers

3.0.0

### Apache Airflow version

2.2.5

### Operating System

mac os

### Deployment

Docker-Compose

### Deployment details

In airflow 2.2.5, docker-compose up environment was established using facebook provider in docker.

### What happened

A problem arose under certain circumstances. There was no cpc field.

[2022-06-30 16:23] miimsam commented on #24526
Hey @potiuk, I would like to do that if I could fix it manually.
I've tried once after my first failed migration attempt. It took me like one and half hours (an 8GB-sized DB) to manually alter and fix the DB-raised exceptions one after another(mostly adding or removing foreign keys and indexes). I ended up stuck in a loop of the same exception errors and the state of "no idea what I'm doing now",

[2022-06-30 17:01] leahecole commented on #23129
Good point @eladkal - it looks like in other BigQuery operators we DO template project ID (for example: https://github.com/apache/airflow/blob/8e0bddaea69db4d175f03fa99951f6d82acee84d/airflow/providers/google/cloud/operators/bigquery.py#L790-L797). I tried your suggestion, and it does work (I did location instead of region, which is what BQ expects). Would it make sense to template project_id for

[2022-06-30 17:16] #24103 closed

[2022-06-30 17:33] itayB commented on #24526
I don't want to mix things here, not sure if that's a similar case - but we managed to overcome the issue by taking the scheduler down and running the following:
[code]

Then we start the scheduler and it pass this migration step and all the following.
It was relatively slow compared to our staging environment.
When we upgrade our staging environment everything was smooth but it has much smaller a

[2022-06-30 17:59] eladkal commented on #23129
Sure we can do that. will you start a PR?
In the meantime I'm closing the issue as there is no bug to fix :)

[2022-06-30 17:59] #23129 closed

[2022-06-30 19:06] leahecole commented on #23129
Will do!

[2022-06-30 19:08] jjournet commented on #24309
hello,

same issue at the end of a task, airflow 2.3.0

[code]

[2022-06-30 19:49] potiuk commented on #24755
Would you like to fix it - you seem to know, where and how and you have nice environment to test the fix in. And you will not have to wait for someone to pick it up - this is one of the best ways you can contribute back to the software you get for free and join the community of more than 2100 contributors.

[2022-06-30 20:39] aspain commented on #24494
PR has been merged 👍

[2022-06-30 20:39] #24494 closed

[2022-06-30 20:42] eladkal commented on #24725
cc @bbovenzi

[2022-06-30 23:36] edithturn commented on #10742
@eladkal @kaxil I took D400, there are a lot of files there 😄 . My question is in this part where we have a long first line
<img width="814" alt="Screen Shot 2022-06-30 at 18 33 52" src="https://user-images.githubusercontent.com/58795858/176795312-106f557b-c605-4b06-8c21-7aaf365e46b7.png">

Pre commits (D400) is asking to add a period at the end of the line, It is not the case, I think.
Should I j

[2022-07-01 01:46] hankehly commented on #23949
@bbovenzi @potiuk Please see #24770 at your earliest convenience.

[2022-07-01 05:15] bhavaniravi opened #24773 "AWS secret manager: AccessDeniedException is not a valid Exception"
### Apache Airflow version

2.3.1

### What happened

Airflow AWS Secret manager handles `AccesssDeniedException` in [secret_manager.py](https://github.com/apache/airflow/blob/providers-amazon/4.0.0/airflow/providers/amazon/aws/secrets/secrets_manager.py#L272) whereas it's not a valid exception for the client

[code]

### What you think should happen instead

Handle exception specific to [get_secr

[2022-07-01 08:00] uranusjr commented on #10742
Simply removing the newline would trigger another check complaining the line is too long. It would be best to rewrite it and split the sentence into two shorter ones. This particular exampel can be rewritten to

[code]

[2022-07-01 09:14] hterik opened #24778 ""Reversing" the branching concept, to execute tasks based on final downstream dependencies."
### Description

A DAG executes from left-to-right. Upstream tasks trigger downstream tasks once completed.
In this graph you can add [Branching](https://airflow.apache.org/docs/apache-airflow/stable/concepts/dags.html?highlight=branch#branching), deciding which downstream tasks to follow once an upstream task is completed.

I find this branching concept to be a bit backwards and not utilizing the

[2022-07-01 10:18] nanohanno opened #24779 "Return objects from PythonVirtualenvOperator"
### Apache Airflow version

2.3.0

### What happened

When using the `PythonVirtualenvOperator` with a return statement containing objects from a package that is installed in the virtualenv but not on the Airflow host system the following exception is raised:
[code]
As I understand it currently, the returned result gets unpickled outside the virtualenv in https://github.com/apache/airflow/blob/mai

[2022-07-01 11:03] eladkal commented on #24757
As already pointed out in previous discussion https://github.com/apache/airflow/discussions/21365#discussioncomment-2120746 this is unlikely to be Airflow issue. This report doesn't provide any insight into why do you think this is an Airflow bug?

[2022-07-01 11:14] eladkal commented on #24778
If there is a condition of which downstream task can be skipped then place `ShortCircuitOperator` to achieve that.

I didn't fully understand what you are actually proposing and what is the problem you are facing?
You describe the problem as complex but didn't provide an actual example of the complexity. Could there be parts in your workflow that don't have to be coupled into a single dag (Maybe t

[2022-07-01 11:18] spatocode commented on #23664
@NickYadance From your description and example code, the previous dag runs didn't retry because you set retries to 0. If you set retries to 3 for example, the failed dag would retry 3 times. If the dag failed after the 3rd retry, it stucks and stops other dagruns from running. So, i believe the issue here is to make sure other dagruns proceed when a previous dag retry fails.

[2022-07-01 12:24] nanohanno opened #24783 "Check if virtualenv is installed fails"
### Apache Airflow version

2.3.0

### What happened

When using a `PythonVirtualenvOperator` it is checked if `virtualenv` is installed by
`if not shutil.which("virtualenv"):`
https://github.com/apache/airflow/blob/a1679be85aa49c0d6a7ba2c31acb519a5bcdf594/airflow/operators/python.py#L398
Actually, this expression checks if `virtualenv` is on PATH. If Airflow is installed in a virtual environment

[2022-07-01 12:30] hterik commented on #24778
What i'm looking for is a condition of which _upstream_ tasks that can be skipped :)
The deciding task must still be run first of course, sortof like the "configure" stage of a build-system.

Excuse my paint-skills, imagine following (this is not the same dag as my code from OP):
![image](https://user-images.githubusercontent.com/89977373/176893427-0dde322a-8def-49db-8d29-fa85a74645b6.png)
Here if

[2022-07-01 14:00] potiuk commented on #24309
Do you have time synchronized on all your machines? It looks like your servers do not have NTP or similar and some of the machines there might lag behind @takersk @jjournet @heliharry ?

Can you please verify and confirm if my guess why it can be is right?

[2022-07-01 17:15] potiuk commented on #10742
Hard to automate I am a afraid :(

[2022-07-01 17:47] potiuk commented on #24783
Yeah good point but I think the root cause is different here. The inconsistency here might come not becaue virtualenv is not reachable via importlib, but because the entrypoint script of the it is not on the PATH (i.e. `bin` of the virtualenv you are in is not added to your PATH).

This indeed might happen, but I think the importlib is not the best way (and most importantly it's not correct way).

[2022-07-01 17:47] potiuk commented on #24783
Assigned you @nanohanno

[2022-07-01 18:18] aaronmielke opened #24788 "Make task_instance priority_weight dag_run/execution_date dependent"
### Description

We want to weight a task's priority based on execution date. In general it would be nice to have the option to make the priority weight of a task instance dynamic based on the dag_run (from which execution_date and possibly other parameters can be derived)

### Use case/motivation

We have a pool to run a set of tasks. Sometime we rerun a lot of old dag instances. This queues a LO

[2022-07-01 18:24] jedcunningham commented on #23772
@c-thiel / @sbailliez, have you tried with #24284 applied in your environment? I'm curious if that gets it working for you.

[2022-07-01 18:31] MJSheth opened #24789 "Task remains in Running state due to process being stuck"
### Apache Airflow version

2.2.5

### What happened

Task could not execute as the process launched to execute Task got stuck

strace
[code]

gdb trace

[code]

### What you think should happen instead

Task execution should proceed

### How to reproduce

No easy way to reproduce but we are using Airflow 2.2.5 with constraint file

### Operating System

Linux

### Versions of Apache Airflow Provi

[2022-07-01 19:03] potiuk commented on #24778
Interesting idea, but I tihnk it's mixing "task graph" with "artifact graph" behaviour. And actually we already have the AIP 48 in progress that (IMHO) implements the "concept" you somehow have in mind in a much better way - without actually changing the upstream/downstream behaviour of Airflow and changing the branching concept.

The mechanism you describe is fine for "build system" when you deci

[2022-07-01 19:04] potiuk commented on #24778
BTW. converting it to a discussion. This is not a feature. If anything this is a starting discussion at an extremely high level.

[2022-07-01 19:16] eladkal commented on #19739
@phanikumv maybe you'll be interested in adding test connection functionality here?

[2022-07-01 20:55] jjournet commented on #24309
@potiuk I had unrelated warning in the scheduler log (scheduled time in the future), and realized my NTP was not configured, and I had almost 1min difference between some of the nodes.
I configured NTP and now all my nodes are within a few ms of each other. I'll test and check if it fixes the issue

[2022-07-01 21:46] blag commented on #22708
From [this discussion](https://github.com/apache/airflow/pull/24591#pullrequestreview-1019268731), there is more groundwork and research necessary before we can evaluate rewriting the CLI with Click.

[2022-07-01 21:46] #22708 closed

[2022-07-01 22:53] TamGB opened #24794 "Using _PIP_ADDITIONAL_REQUIREMENTS in official docker-compose"
### Apache Airflow version

2.3.2 (latest released)

### What happened

I'm upgrading to Airflow 2.3.2 and to do so, I downloaded the newest official docker-compose image.
I added my pip requirements:
`_PIP_ADDITIONAL_REQUIREMENTS: ${_PIP_ADDITIONAL_REQUIREMENTS:- apache-airflow-providers-amazon apache-airflow-providers-docker apache-airflow-providers-postgres}`

However, doing so triggers a pip i

[2022-07-01 22:58] edithturn commented on #10742
@potiuk @uranusjr
I counted all the changes that are needed for D400, they are 3150 changes. Finish this in a single PR could be hard. I got an idea. How about to keep ignoring D400 in pre-commits `  - --add-ignore=D100,D102,D103,D104,D105,D107,D202,D400,D401,D205`  and still working in minitaks (100 or 200 files) and send PR  fixing what @uranusjr is saying?  I could make progress in this way. Wh

[2022-07-02 07:49] zartstrom commented on #24755
Hi @potiuk,  I'll try to craft a PR, thanks for the inspiration :)

I have one question, maybe you can help or point me to the right source:
What is the best way to create a airflow docker image with a change in the source code?
I read the contributor guide and set up the breeze environment on my machine, but did not find what I was looking for.

What I tried: I did a tiny code change (hardcoded t

[2022-07-02 09:00] alexkruc commented on #14809
Hey :)
I tried to look at this issue, but I couldn't manage to reproduce it.
I used the following task definition (similar to the provided example - just changed the command):
[code]
And I see that Airflow downloaded only one single digest:
![image](https://user-images.githubusercontent.com/36231027/176993786-060edc11-3b6f-4382-98ba-bfe4e3d44aa2.png)
Also, I tried it with several other images than

[2022-07-02 09:42] alexkruc commented on #9190
I tried to look at this issue, but I can't seem to reproduce it.
I tried running the (almost) the same code as was presented in the example:
[code]
But I got the output of the container proper...
![image](https://user-images.githubusercontent.com/36231027/176995189-e22a018e-5460-4d53-a8bf-1edc2d72a76e.png)
Also tried running other tasks, with different containers and commands, and it all worked as

[2022-07-02 09:55] eladkal commented on #21440
Converting to discussion due to the note from pbhuss which suggests this is not an Airflow issue.

[2022-07-02 10:08] eladkal commented on #16907
@potiuk i belive we can close this one now?

[2022-07-02 14:05] edg956 commented on #14809
@alexkruc thanks for checking this out. I believe you're right and it was probably solved on docker client's side. We can close this issue from my side.

[2022-07-02 15:19] the-horhe commented on #9190
Checked with 2.3.2 - can't reproduce it either. It seem some changes in provider or python docker client fixed the issue.

[2022-07-02 15:19] #9190 closed

[2022-07-02 15:44] #23159 closed

[2022-07-02 20:49] ephraimbuddy opened #24806 "Status of testing of Apache Airflow 2.3.3rc1"
### Body

We have a kind request for all the contributors to the latest [Apache Airflow RC 2.3.3rc1](https://pypi.org/project/apache-airflow/2.3.3rc1/).

Could you please help us to test the RC versions of Airflow?

Please let us know in the comment if the issue is addressed in the latest RC.

- [ ] [Switch Markdown engine to markdown-it-py (#19702)](https://github.com/apache/airflow/pull/19702):

[2022-07-02 22:48] #16907 closed

[2022-07-02 22:49] #14809 closed

[2022-07-02 22:58] potiuk commented on #24755
Yeah. This is good observation. The `Dockerfile` defaults are meant to be useful for people who want to customize the image and use the "released" version of Airflow. What you should look at as a "developer" is breeze. Breeze has a `build-prod-image` command that uses local sources to build the image.

If you are courious - you might run it with `--dry-run` to understand which build-args should be

[2022-07-02 23:36] potiuk commented on #24794
The `_PIP_ADDITIONAL_REQUIREMENTS` is strongly discouraged as development only feature.

https://airflow.apache.org/docs/docker-stack/entrypoint.html#installing-additional-requirements

And you are using it wit hdocker-compose which is developer-only, quick-start feature:

https://airflow.apache.org/docs/apache-airflow/stable/start/docker.html#production-readiness

So, if you ask, if any of those

[2022-07-03 02:54] tsugumi-sys commented on #22863
@brettpalmberg
Is this work if you does not use `--build-arg ADDITIONAL_PYTHON_DEPS="celery[sqs]"` ? And installing `libcurl4-openssl-dev libssl-dev` throws still the same error `ImportError: The curl client requires the pycurl library.`.

[2022-07-03 08:06] eladkal commented on #24730
feel free to submit PR

[2022-07-03 10:49] calfzhou commented on #13667
facing the same problem today. now the scheduler will die soon every time it starts.

[2022-07-03 10:59] calfzhou commented on #13668
facing the same problem today. now the scheduler will consistently die soon just when it starts.

[2022-07-03 11:41] potiuk commented on #18041
But in my environment, I commented out these three parameters and it works fine for now

the change indicates problem with sheduler healthcheck - which I believe in 2.3.* (currently we are voting on 2.3.3) it was already addressed. I will close it provisionaly. And have a big request - can any of the people who had the problem migrate to 2.3.3 (or even try the 2.3.3rc1 which we are testing here #2

[2022-07-03 11:41] #18041 closed

[2022-07-03 11:48] potiuk commented on #24498
This seems like something we should address - I have no to much knowledge about celery, but it looks like one that is worth looking at.

[2022-07-03 11:49] potiuk commented on #24498
Not critical, but definitely one to look at in 2.4.0 (addded it to milestone).

[2022-07-03 11:59] potiuk commented on #21004
Yeah FAB 4.1.1 is relased in 2.3.3. so the min-version should be >= 2.3.3  when released.

[2022-07-03 12:08] potiuk commented on #24618
There are two things you can do here: @skolchin (and I'd love if you could contribute it):

* Documentation on provider 3.1.0 should mention that only UTF-8 can be used

or (better)

* a "thick_mode" parameter could be added to initialization code and initialization

Since you have good testing environment for that - maybe you could add PR for hte latter? Shall I assign it to you @skolchin ?

[2022-07-03 12:09] potiuk commented on #24618
I did it provisionally since you marked "willing to submit a PR" :)

[2022-07-03 13:41] potiuk commented on #9837
@xiangqiao123 - please open a new issue or discussion (if you cannot provide a reproducible case). it makes exactly 0 sense to comment on issue closed more than year ago, for completely different version based on a very vague resemblance of some part of an error you get.

It makes completely no sense and brings you no closer to anyone even wanting to help you.

[2022-07-03 13:44] potiuk commented on #16286
Seems that the issue might be closed in the upcoming sftp provider.

[2022-07-03 13:44] #16286 closed

[2022-07-03 15:57] GApfel commented on #24806
Issue #23360 is addressed.

I used the lastest ([docker-compose.yml](https://github.com/apache/airflow/blob/main/docs/apache-airflow/start/docker-compose.yaml)) file, set the version to 2.3.3rc1, and added `AIRFLOW__LOGGING__LOGGING_LEVEL: 'DEBUG'` to the `x-airflow-common` section. The stack built successfully.

[2022-07-03 18:04] slyapustin commented on #24806
Issue #24569 is addressed.

I created a new branch for the [Airflow on Heroku](https://github.com/slyapustin/airflow-on-heroku/) deployment script with `Airflow==2.3.3rc1` and was able to deploy it without any issues.

[2022-07-04 00:14] #23520 closed

[2022-07-04 00:14] #22774 closed

[2022-07-04 03:37] eladkal commented on #18491
Closing as this bug is on deprecated feature and no one was willing to fix it. A workaround is avaliable to anyone who experience it and for some reason is unwilling to move to task groups.

[2022-07-04 03:37] #18491 closed

[2022-07-04 04:40] phanikumv commented on #19739
sure @eladkal I can take it up

[2022-07-04 07:27] uranusjr commented on #24783
I’d prefer `find_spec` since it is a lot cheaper. If we want to be throughrall (make sure the package actually _works_ instead of just _present_), we can also do

[code]

which is still much cheaper. But it’s not really necessary IMO, a broken environment is the user’s problem.

[2022-07-04 07:43] potiuk commented on #24783
@uranusjr - see my comment.

When we create the virtualenv, we are actually calling it via `python -m virtualenv` so I think we should not check if virtualenv work in the current interpreter - we are actually creating a new one using `python` when we try to use it - which might, or might not be the same interpreter or might not have PYTHONPATH modified etc. etc.. so safer is to use the same comman

[2022-07-04 07:59] LarsAlmgren opened #24820 "Dag disappears when DAG tag is longer than 100 char limit"
### Apache Airflow version

2.2.5

### What happened

We added new DAG tags to a couple of our DAGs. In the case when the tag was longer than the 100 character limit the DAG was not showing in the UI and wasn't scheduled. It was however possible to reach it by typing in the URL to the DAG.
Usually when DAGs are broken there will be an error message in the UI, but this problem did not render any er

[2022-07-04 08:01] potiuk commented on #24820
Interesting :)

[2022-07-04 09:28] esthomw commented on #24526
@itayB I think you had a different issue, the log you provided says `'Lost connection to MySQL server during query'`, however, other issues in this thread are related to CHARSET configuration. I haven't been able to solve this after a few hours of debugging and testing multiple CHARSET configuration options.

[2022-07-04 09:42] matwasilewski opened #24822 "Add documentation for TaskFlowAPI branching and update the tutorial"
### What do you see as an issue?

When learning Airflow, I could not find documentation for branching in TaskFlowAPI. I finally found `@task.branch(task_id="<TASK_ID>")` via an example from [the github repo ](https://github.com/apache/airflow/blob/f1a9a9e3727443ffba496de9b9650322fdc98c5f/airflow/example_dags/example_branch_operator_decorator.py#L43) - but it seems to be the only place where this f

[2022-07-04 09:55] TommyDew42 commented on #24820
Hi! I'll pick up this good-first-issue!

[2022-07-04 10:13] NickYadance commented on #23664
@spatocode Oh i didn't notice that default retry is set to 0. It's been a while so i re-test this in Airflow 2.3.2 with retry set to 3 and `max_active_runs_per_dag` to 4.

The DAG:
[code]

Airflow spawns 4 dagruns and the first dagrun fails with retry. However i can manually clear the first dagrun and it will rerun as normal. This is actually the behavior that i expected. In real life case we can

[2022-07-04 10:13] #23664 closed

[2022-07-04 10:53] potiuk commented on #24822
I assigned you!
Absolutely! Feel free to update the docs! Airflow is created by > 2100 contributors like you - including the docs :). Having contributions for the users in the docs where they find missing information is the most valuable contributions - as a user who struggled with and finally found answer and tried it, you are uniquely positioned to be one of the best people who could do it well

[2022-07-04 11:20] #20778 closed

[2022-07-04 11:47] eladkal opened #24826 "Refactor/Review `EcsOperator`"
### Body

After reading https://stackoverflow.com/questions/72630480/airflow-sensor-for-aws-ecs-task I checked the source code as it should have been relativly easy to get the functionality user is requesting but discovered that [`EcsOperator`](https://github.com/apache/airflow/blob/ec6761a5c0d031221d53ce213c0e42813606c55d/airflow/providers/amazon/aws/operators/ecs.py#L168)
seems like hook + opera

[2022-07-04 11:50] #20774 closed

[2022-07-04 11:50] #19972 closed

[2022-07-04 12:43] eladkal commented on #22390
Closed in favor of https://github.com/apache/airflow/issues/23112
once https://github.com/apache/airflow/issues/23112 is resolved this request will be fixed as well

[2022-07-04 12:43] #22390 closed

[2022-07-04 14:17] davidkl97 opened #24828 "support dag level db cleanup on airflow cli"
### Description

While full db cleanup is useful to run in rare occasions, deleting data regarding to specific dag ids provides modular maintenance method to clean specific "intensive" dags and provide clear context and responsivness in the web ui and interfaces in cluster.

an initial idea was gathered to add optional `dag_id` key in `_TableConfig` at [db_cleanup.py](https://github.com/apache/air

[2022-07-04 14:42] potiuk commented on #24828
Feel free to implement it. the #24590 is going to be removed - we had recently a discussion in https://github.com/apache/airflow/pull/24591 that led us to rethink if and how we are going to implement click, so there is no impact from that on your work.

It would be a nice feature to add filter by dag-id

[2022-07-04 15:39] eladkal commented on #19785
@bbovenzi I tried to reproduce this issue and It seems like now this DAG is breaking the Grid view:
![Screen Shot 2022-07-04 at 18 35 18](https://user-images.githubusercontent.com/45845474/177185631-95fa5f3b-4255-4de7-aca2-fe8630e7a2c3.png)

Removing the line: `chain([Label("branch three")], taskgroup1, t4,)`
makes the Grid view works:
![Screen Shot 2022-07-04 at 18 38 37](https://user-images.gith

[2022-07-04 16:08] abin-tiger commented on #19627
+1

[2022-07-04 16:31] eitanme commented on #23361
Just to follow up here on the deadlock issue I saw which, I think, is unrelated to the load issues associated with the new GridView though I'm happy to hear those will be fixed in 2.3.3.

Since I was only running one scheduler, I tried setting `use_row_level_locking` to false and have not seen the `psycopg2.errors.DeadlockDetected: deadlock detected` error since. I also experience the problem on b

[2022-07-04 16:50] alexkruc commented on #24728
Hey guys! :)
With your permission please, I might have some suggestions for relatively small and maybe "easy" implementations of this feature, that does not involve config sprawl, let me know what you think :)

First, I want to say that I think it sounds like a really good enhancement to Airflow. From the organizations that I worked in, and talking with people in several other companies, Airflow i

[2022-07-04 19:57] mik-laj commented on #10742
@edithturn SGTM. The smaller the changes are, the easier it will be to review and merge.

[2022-07-04 20:27] potiuk commented on #24642
Can you please remove it? It should be easy.

[2022-07-04 20:28] potiuk commented on #24642
Airlfow is created by > 2100 contributors. It's far easier to remve the comment in a PR than open an issue about it.

[2022-07-04 20:32] ashb commented on #19785
Is there a stack trace in the webserver logs? (It looks like the API call failed with a 500)

[2022-07-04 20:46] #11618 closed

[2022-07-04 21:08] 1101110111100000110100011 commented on #22657
Hi,
I faced the same problem (with same config, aka microk8s). Using Helm template and then kubectl helped me bypass the problem. Hope it would be the same for you.
**_helm template apache-airflow/airflow -n airflow -f values.yaml --debug >> airflow-generated.yaml
kubectl apply -f airflow-generated.yaml -n airflow_**
Have a nice day.

[2022-07-04 21:17] ephraimbuddy commented on #19785
For the above dag, writing the chain as below works:
[code]
or
[code]

[2022-07-04 21:20] ephraimbuddy commented on #19785
Yes. Here's the stacktrace:
[code]

[2022-07-04 21:21] potiuk commented on #24674
Correct. SecurityManager is a trimmed-down version of FAB Security Manager that only implements subset needed to implement the UI and it does not implement all features. But You are free to copy&paste relevant code from FAB security Manager if you need to use the code.

[2022-07-04 21:21] #24674 closed

[2022-07-04 21:37] potiuk commented on #20603
@BernhardNiksch - please open a new issue and provide evidences - logs, details circumstances, etc. Adding a comment "I have the same issue" on a closed issue brings exactly 0 value in any attempt to diagnose and help the issue. Your problem might look similar but be a different issue. The only way to know it, is to look at the evidences. By not providing it, your not giving anyone a chance to try

[2022-07-04 21:45] potiuk commented on #12562
It really needs some investigation why it was needed. I am not sure if anyone ever remembers why.

[2022-07-04 22:05] NicolasAndresCalvo opened #24833 "Github SSO OAuth in Airflow 2.3.2 Issue"
### Apache Airflow version

2.3.2 (latest released)

### What happened

Hi team, i was trying to enable Github SSO auth in my Airflow but i got 404 page as a result. I follow this doc:
https://airflow.apache.org/docs/apache-airflow/2.3.2/security/webserver.html#other-methods

### webserver_config.py

[code]
### Dockerfile
[code]

### OAuth Apps
![image](https://user-images.githubusercontent.com/34

[2022-07-04 23:17] potiuk commented on #19767
@liuning89757 - can you please provide more evidences? Logs, circumstances, etc. Your problem might be different and the more evidences you provide, the bigger chance there is it will be diagnosed and fixed.

[2022-07-04 23:18] potiuk commented on #10893
It's merged.

[2022-07-04 23:18] potiuk commented on #24731
Assigned you

[2022-07-04 23:20] potiuk commented on #24739
This is unlikely to be handled before we get mutlitenancy implemented.

[2022-07-04 23:45] potiuk commented on #24779
If you know how unpickling works, what you want to achieve is impossible. This is how Python works, nothing specificy to Airlfow. There is no way to have an object of a type that you do not have available in virtualenv. That's pretty basic behaviour.

But if you think that it needs additional documentation - feel absolutely free to contribute documentation update.  Airlfow is created by > 2100 con

[2022-07-04 23:45] #24779 closed

[2022-07-05 00:03] potiuk commented on #24788
This would be a major change in the architectuer of scheduler and executor. I think it is not enough to make it a feature. If someone would like to implement such prioritisation that would require major re-architecting of how schedulers and executors work. That requires AIP https://cwiki.apache.org/confluence/display/AIRFLOW/Airflow+Improvements+Proposals and extended discussion on devlist. conver

[2022-07-05 05:17] #16921 closed

[2022-07-05 06:03] eladkal commented on #24758
feel free to submit PR

[2022-07-05 06:04] eladkal commented on #24533
Does https://github.com/apache/airflow/pull/24592 fixes the issue or we still have further tasks here?

[2022-07-05 06:19] eladkal commented on #16101
@rbiegacz are you still working on this issue?

[2022-07-05 06:48] uranusjr commented on #24533
I think #24592 is the fix to this.

[2022-07-05 06:48] #24533 closed

[2022-07-05 06:50] pateash commented on #10893
Thanks @potiuk,
Let me have a look.

[2022-07-05 08:02] ashb commented on #12562
We require the setting for older mysqls to disable the non-standard behaviour. On newer versions of mysql we don't need to enable it, but we maybe do need to check that the DB admin hasn't enabled it globally.

[2022-07-05 08:16] gcerar opened #24839 "PythonVirtualenvOperator can't access task_instance variable"
### Apache Airflow version

2.3.2 (latest released)

### What happened

Using the provided minimal example, `task_instance` (i.e., `ti`) is accessible when using `PythonOperator` but fails when using `PythonVirtualenvOperator`.

### What you think should happen instead

I would expect `PythonOperator` and `PythonVirtualenvOperator` to behave in a similar way. Instead, none of the xcom examples exa

[2022-07-05 09:13] #24839 closed

[2022-07-05 09:25] ashb commented on #24728
I like the idea of accepting a dict -- one thing we do need to be careful of there is that we don't allow "stored XSS" in there. I.e. I shouldn't be able to do `{"name": "data-team", "link":"javascript:alert(1)"}` or _anything_ like that. (And this can be a suprisingly hard thing to defend against. It's worth it, just FYI)

[2022-07-05 09:36] #23838 closed

[2022-07-05 09:41] ashb commented on #19785
I'm not sure this is a bug -- or at least not a bug in the UI.

On 2.2.5:

[code]

The task group is marked as depending on it self. The bug is that we don't detect the cycle earlier during the DAG parsing process!

[2022-07-05 09:54] ashb commented on #19785
Not to mention this DAG is invalid -- a label must be _between_ two nodes, it can't be at the start of one.

[2022-07-05 10:01] BasPH opened #24842 "Default start_date and schedule_interval to None"
### Description

I suggest changing the bare-minimum code required for instantiating a DAG:

[code]

This is currently not possible because `start_date` is a required argument:
![image](https://user-images.githubusercontent.com/6249654/177302561-6b7a363d-df95-4363-9725-32898a50c326.png)

I regularly see people using externally triggered DAGs and you're currently forced to set a placeholder `start_

[2022-07-05 10:34] eladkal commented on #19785
could be but the end result of Grid view crash is not desired.
If not valid state why it doesn't raise broken dag?

[2022-07-05 10:35] ashb commented on #19785
The example code given in the OP doesn't quite match the picture they showed (missing the start task)

[2022-07-05 10:37] ashb commented on #19785
[code]

The issue is still shows up with this dag though.

[2022-07-05 10:43] #24681 closed

[2022-07-05 11:00] ashb commented on #24842
The "default" schedule_interval is currently daily. I'm all for this so long as we can do it without breaking back-compat.

[2022-07-05 11:07] alexkruc commented on #24728
Good point, I haven't thought about this.
Adding validation on the input of `owner['link']` for it to actually be an HTTP link or a `mailto` or something like this is necessary. Thanks for adding this!

[2022-07-05 11:16] BasPH commented on #24842
Yea that won't be possible. The default daily schedule interval has been there [since the very first commit](https://github.com/apache/airflow/blob/1047940ca4363b04044c4963b9c88f7632746407/core/models.py#L710), and always felt like undocumented magic to me, and goes against Python's "explicit is better than implicit".

[2022-07-05 12:00] ashb commented on #24842
Then it's unlikely we can do it before 3.0

[2022-07-05 12:09] yingxuanwangxuan opened #24844 "grid_data api keep refreshing when backfill DAG runs"
### Apache Airflow version

2.3.2 (latest released)

### What happened

![image](https://user-images.githubusercontent.com/95274553/177323814-fa75af14-6018-4f9d-9468-4e681b572dcc.png)

### What you think should happen instead

_No response_

### How to reproduce

_No response_

### Operating System

186-Ubuntu

### Versions of Apache Airflow Providers

2.3.2

### Deployment

Other

### Deployment

[2022-07-05 12:12] spatocode commented on #24773
@potiuk Please assign this issue to me

[2022-07-05 12:16] ashb commented on #24842
I think we might be able to do this by changing the function default to `NOT_SET` (a special singleton object) and then changing the value at runtime after checking other parameters.

[2022-07-05 14:15] zachliu commented on #24806
issue https://github.com/apache/airflow/issues/23512 was **partially** addressed by PR https://github.com/apache/airflow/pull/24065

see details here: https://github.com/apache/airflow/issues/23512#issuecomment-1156682542

[2022-07-05 14:47] ashb commented on #24338
@jordanjeremy What value would you expect to be passed to `downstream_task` for the `t2` argument?

[2022-07-05 15:04] potiuk commented on #24728
Yeah. Owner as dict with some conventions to be displayed in UI is nice. Generic enough, no configuration creep. nicely "commonalised" between dags (you can have default args, comon imported code etc.) and you have also full flexibility on the dag author's side.

And yeah. shout-out to @ashb - anything that dag-author provides that the UI renders, needs to be sanitized for XSS.

[2022-07-05 15:06] potiuk commented on #24773
Done

[2022-07-05 15:20] jordanjeremy commented on #24338
@ashb I provided additional detail in [https://github.com/apache/airflow/pull/24401#issuecomment-1154461709](https://github.com/apache/airflow/pull/24401#issuecomment-1154461709) showing a more complete example of how this was being used.

In short, passing the XComArg to a downstream task was being used as it allowed the relationship between tasks to be established automatically instead of having

[2022-07-05 15:40] #19785 closed

[2022-07-05 16:14] uranusjr commented on #24547
Can you provide an example `task_policy` that you expect should work?

[2022-07-05 16:49] bbovenzi commented on #24806
Can confirm:
#24327
#24166
#24505
#24684
#24722
#24710
#24637
#24152
#24528

#23779 also works, but a number of other buttons aren't keeping task selection. There is also a minor issue in #24738. I'll work on improvements. Very minor issues, I wouldn't consider them blocking at all.

[2022-07-05 17:09] bbovenzi commented on #22036
I've checked a few browsers and OSes. This issie no longer exists.

<img width="485" alt="Screen Shot 2022-07-05 at 1 09 09 PM" src="https://user-images.githubusercontent.com/4600967/177380588-bbe55a18-e0dd-40b1-b4e6-1bb5db9ad2b1.png">

[2022-07-05 17:09] #22036 closed

[2022-07-05 17:31] pierrejeambrun commented on #24806
https://github.com/apache/airflow/pull/23934 is working as expected

[2022-07-05 18:16] #14656 closed

[2022-07-05 18:17] potiuk commented on #14656
I think we will not do it - we should only do something like that when/if we move to K8S driven CI.

[2022-07-05 18:20] eladkal commented on #17369
Is this still an issue?

[2022-07-05 19:34] potiuk commented on #14733
Yep

[2022-07-05 19:34] #14733 closed

[2022-07-05 21:41] benbenbang opened #24854 "Issues report: Gunicorn worker died and webserver grid view bug"
### Apache Airflow version

2.3.2 (latest released)

### What happened

Hello,

1. Issue 1
I am not sure whether the Gunicorn one is a valid question or not. We deploy our Airflow cluster on K8s with
- Webserver * 2
- Scheduler * 3
- Celery worker * 2
- Trigger * 1

Before we upgrade to 2.3, the rolling upgrade can go smoothly without issue. However, after the upgrade, sometimes the webserver's Gu

[2022-07-05 22:04] bbovenzi commented on #24844
You can manually click the auto-refresh toggle off to prevent this. Otherwise, those backfilled runs are "pending" and will refresh.

[2022-07-06 01:35] yingxuanwangxuan commented on #24844
I think this is a problem, can I fix it.

[2022-07-06 02:47] yingxuanwangxuan commented on #24844
step1 I schedule DAG（airflow_log_cleanup).
step2 I backfill it.
dags  backfill airflow_log_cleanup  -s 2022-06-11 -e 2022-06-20  --donot-pickle
step3
![image](https://user-images.githubusercontent.com/95274553/177456957-5754d16d-d43a-48c1-b52c-5661dd9212b7.png)

I wish it didn't refresh automatically all the time.

[2022-07-06 02:52] bbovenzi commented on #24844
What solution do you want other than the already existing ability to manually turn off auto-refresh?

[2022-07-06 03:06] sfc-gh-madkins commented on #24456
Tomek, Kamil -- Are we ready to merge code to main?

ISV doesnt have any best practices when it comes to using "query_tag". You
should see in the airflow snowflake connection instantiation code, an
"application" parameter gets set for us to track consumption.

I am working with the docs team to get an ecosystem section added for
Snowpark. I can also coordinate other GTM activities that we might wa

[2022-07-06 03:39] yingxuanwangxuan commented on #24844
in [airflow/www/static/js/grid/api/useGridData.ts] by filter manual and  scheduled
![image](https://user-images.githubusercontent.com/95274553/177463065-adf62be1-c9c1-41f5-873e-940599cad402.png)

[2022-07-06 07:30] c-thiel commented on #24525
We are having the same issue as well with the KubernetesExecutor:

[code]

Note that we have ``dag.partial_subset`` here as well.

As this is no longer only affecting the Mini-Scheduler (if I am right and the issue is related), is this somehting we should schedule for 2.3.X instead of 2.4?

[2022-07-06 08:32] ephraimbuddy opened #24863 "Status of testing of Apache Airflow 2.3.3rc3"
### Body

We have a kind request for all the contributors to the latest [Apache Airflow RC 2.3.3rc3](https://pypi.org/project/apache-airflow/2.3.3rc3/).

Could you please help us to test the RC versions of Airflow?

Please let us know in the comment if the issue is addressed in the latest RC.

- [ ] [Switch Markdown engine to markdown-it-py (#19702)](https://github.com/apache/airflow/pull/19702):

[2022-07-06 08:37] ashb commented on #24525
I've just run a git bisect, and unsurprisingly the issue at fault was ##19965 (which was in 2.3.0)

[2022-07-06 08:50] ashb commented on #23942
Duplicate of #24338 (It's the same underlying cause)

[2022-07-06 10:00] p13rr0m opened #24868 "Example for callbacks on DAG and task level"
### What do you see as an issue?

Hi everyone,

is this callback [example](https://airflow.apache.org/docs/apache-airflow/stable/logging-monitoring/callbacks.html#example
) from the documentation correct or just confusing?

It mentions: "In the following example, failures in any task call the task_failure_alert function, and success in the last task calls the dag_success_alert function:"

The task

[2022-07-06 10:34] #24525 closed

[2022-07-06 10:44] jayaswalayush commented on #23407
Please do we have any update on this issue ?

[2022-07-06 11:03] GApfel commented on #24863
#23360 is addressed

[2022-07-06 11:14] reshmakolluru commented on #13917
Is there any update on this issue? I am also currently facing the same issue.
<img width="969" alt="Screenshot 2022-07-06 at 4 43 06 PM" src="https://user-images.githubusercontent.com/16771958/177537729-455eebf6-8813-4ae4-8c3c-2a6e0a78424b.png">

logs are as follows:

<img width="1394" alt="Screenshot 2022-07-06 at 4 44 25 PM" src="https://user-images.githubusercontent.com/16771958/177537934-a4fef

[2022-07-06 11:47] anu251989 commented on #24731
@NaveenGokavarapu19 @potiuk , This issue similar which i raised below issue
Celery worker tasks in queued status when airflow-redis-master restarted #24498

[2022-07-06 11:56] #22298 closed

[2022-07-06 12:26] potiuk commented on #24868
Nope. The example is correct. Read it carefully please. Callbacks are always set on "tasks" - even if you set them at DAG level, they always propagate to the tasks. The reason "success" is "on dag success" is only becase it is called on success of the last task in DAG, but this is still a task callback not dag callback. The example is good.

[2022-07-06 12:26] #24868 closed

[2022-07-06 12:42] potiuk commented on #13917
@reshmakolluru . There is no update. Otherwise you would see it here. Everything you see here is public and you can trace it down yourself.

But it could be unrealated, it's impossible to say without you providing more evidences. I suggest you open a new issue, describe your configuration, circumstances, detailed logs, what you observe etc. - without that commenting on a closed issue makes no sens

[2022-07-06 15:14] liangmengmeng1993 opened #24876 "GCSToBigQueryOperator Error: Bad character (ASCII 0) encountered."
### Apache Airflow version

2.3.2 (latest released)

### What happened

when i load csv data from gcs to bigquery enconter this error  :'message': 'Error while reading data, error message: Error detected while parsing row starting at position: 21. Error: Bad character (ASCII 0) encountered.'}. what should i do ?

### What you think should happen instead

_No response_

### How to reproduce

_No re

[2022-07-06 15:20] liangmengmeng1993 opened #24877 "GCSToBigQueryOperator Error: Bad character (ASCII 0) encountered."
### Apache Airflow Provider(s)

google

### Versions of Apache Airflow Providers

when i load csv date from google cloud storage to bigquery i enconter this error:
google.api_core.exceptions.BadRequest: 400 Error while reading data, error message: Error
detected while parsing row starting at position: 0. Error: Bad character (ASCII 0) encountered.
what should i do to deal with it?

### Apache Airf

[2022-07-06 17:47] ferruzzi opened #24880 "XCOM push fails if a datetime object is in the return value"
### Apache Airflow version

2.3.2 (latest released)

### What happened

If you have an Operator returning a dict value such as from an API call, and that dict contains datetime objects, XCOM will fail with the message "datetime object not serializable"

For example, the SageMaker operators return a dict which includes the timestamp that the object was created, see https://github.com/apache/airflow

[2022-07-06 18:30] potiuk commented on #24880
I think we should treat it  very carefully. Changing the way how we store XCom is not something that we should do on global level - and certainly not something that we should enable "globally" for everything. The problem is that the way how we store XCom is not an interanl detail of Airflow, but it is also displayed in the UI and are part of the public API.

https://airflow.apache.org/docs/apache-

[2022-07-06 22:00] mik-laj commented on #24456
@sfc-gh-madkins I still have to add documentation and system tests.

[2022-07-06 22:38] tronlightracer commented on #24863
I'm looking over all of these and will write some tests for what I'm able to. Thanks @ephraimbuddy  for consolidating these issues.

[2022-07-06 22:43] potiuk commented on #10742
Yep

[2022-07-06 22:44] potiuk commented on #24504
closed by #24499

[2022-07-06 22:44] #24504 closed

[2022-07-06 23:42] seongwon77 commented on #23689
I experienced the same situation.   When I set the logical date to `2022-07-03T00:00:00` for a daily job and manually triggers it, it runs with the data interval as `2022-07-01T00:00:00` ~ `2022-07-02T00:00:00`.   I expected to run for `2022-07-02T00:00:00` ~ `2022-07-03T00:00:00` though.

Is this a valid behavior?

[2022-07-07 00:09] edithturn commented on #10742
Thanks, it is better!

[2022-07-07 06:31] yingxuanwangxuan commented on #24844
I'm not sure this is a good solution, can I submit a pr to fix it?

[2022-07-07 06:47] eladkal commented on #18549
Based on discussion in https://github.com/apache/airflow/pull/19022 i'm converting this to github discussion

[2022-07-07 07:10] eladkal commented on #20116
Duplicate of https://github.com/apache/airflow/issues/21656 issue was fixed in https://github.com/apache/airflow/pull/21705

Noting that the reproduce example provided will not work even now.
`task.get_task_instances(start_date="20211201", end_date="20211201")` is wrong. The values can not be strings.

https://github.com/apache/airflow/blob/c23b31cd786760da8a8e39ecbcf2c0d31e50e594/airflow/models/b

[2022-07-07 07:10] #20116 closed

[2022-07-07 07:24] eladkal commented on #8835
FYI @BasPH - related to https://github.com/apache/airflow/pull/24733

[2022-07-07 07:25] eladkal commented on #10449
Closing as the request seems to be fulfilled fully by AIP-39

[2022-07-07 07:25] #10449 closed

[2022-07-07 07:34] Frank-T-Johansen opened #24893 "Wrong syntax in mssql setup documentation"
### What do you see as an issue?

https://airflow.apache.org/docs/apache-airflow/stable/howto/set-up-database.html#setting-up-a-mssql-database

Documentation says:
GRANT ALL PRIVILEGES ON DATABASE airflow TO airflow_user;

For MSSQL 2019 patchlevel 15.0.4236.7 the correct syntax is:
GRANT ALL PRIVILEGES ON DATABASE::airflow TO airflow_user;

Only the latter works, although I still get a warning th

[2022-07-07 07:45] zoid-w commented on #23833
Tested on 2.3.3rc2-python3.10 using original syntax :
`.expand(op_kwargs=[{"string": "a"}, {"string": "b"}, {"string": "c"}]))`
 which is working as intended. Also verified supplying this syntax by XComArg:
`.expand(op_kwargs=XComArg(check_previous, key='return_value'))` which is also working as intended.

[2022-07-07 07:58] TsubasaBE commented on #24232
Hi everybody,

Yeah... I've noticed the same since our upgrade to 2.3.2.
It used to be that if we run tasks using the 'airflow tasks test' command, Airflow stored the xcom keys in the metadatabase.
eg.

![image](https://user-images.githubusercontent.com/6402607/177721646-7b105b1b-e973-485d-8d40-892467559ef4.png)

This isn't the case anymore and makes testing and debugging projects a lot more cumbe

[2022-07-07 08:08] nigel-millward commented on #24893
Hi! I'm a newbie, I'll pick up this good-first-issue!

[2022-07-07 08:19] uranusjr commented on #23833
@zoid-w Can you add a feedback in #24863? Thanks.

[2022-07-07 08:19] uranusjr commented on #24893
Go ahead!

[2022-07-07 08:34] eladkal commented on #14578
Now that AIP-39 is completed this is a UI enhancement request

[2022-07-07 08:35] eladkal commented on #15294
covered by AIP-39. You can use Timetable for this
https://airflow.apache.org/docs/apache-airflow/stable/concepts/timetable.html

[2022-07-07 08:35] #15294 closed

[2022-07-07 08:35] eladkal commented on #13788
covered by AIP-39. You can use Timetable to achieve similar functionality
https://airflow.apache.org/docs/apache-airflow/stable/concepts/timetable.html

[2022-07-07 08:35] #13788 closed

[2022-07-07 08:37] eladkal commented on #10194
Please check Timetables
https://airflow.apache.org/docs/apache-airflow/stable/concepts/timetable.html
If a specific feature is missing you can open a new issue and explain

[2022-07-07 08:37] eladkal commented on #9096
Please check Timetables
https://airflow.apache.org/docs/apache-airflow/stable/concepts/timetable.html
If a specific feature is missing you can open a new issue and explain

[2022-07-07 08:37] #9096 closed

[2022-07-07 08:38] eladkal commented on #13701
Now that AIP-39 is finished, You can achieve that by using custom Timetables
https://airflow.apache.org/docs/apache-airflow/stable/concepts/timetable.html

[2022-07-07 08:38] #13701 closed

[2022-07-07 09:10] uranusjr commented on #24232
Yeah just returning an arbitrary value is probably is the best we can do. Since anything is equally arbitrary, None is also a possible value. I think @ashb mentioned a similar case yesterday in another issue where we can use None.

[2022-07-07 09:12] zoid-w commented on #24863
#23833 is addressed by #23860 tested/verified on :
- 2.3.3rc2-python3.10
- 2.3.3rc3-python3.10

[2022-07-07 09:16] V0lantis commented on #10790
Hello here :wave:,
I would very much like to help, experiencing the exact same issue with the sensor in our kubernetes cluster with Celery executor. Just to add our own experience:

We are running the architecture with a shared NFS which is hosting our dags and logs (among other things). The speed and allowed throughput in the shared fileSystem is huge bottleneck for the scheduler (since it needs

[2022-07-07 09:26] phanikumv commented on #24863
Tested that airflow example_python_operator DAG runs successfully after bringing up airflow using 2.3.3rc3 image. Though this isn't related any of the fixes above, it ensured that the image is stable.

cc @kaxil

<img width="955" alt="image" src="https://user-images.githubusercontent.com/94376113/177740243-f49e1ad0-5591-4ad3-b4ad-56602490d171.png">

[2022-07-07 09:30] V0lantis commented on #10790
Sorry for the bothering :point_up_2:, I found the reason.
If you take a look at the log, you see that there is exactly 6 hours separating the execution of those to tasks. I just need to add a `visibility_timeout` in the `celery_broker_transport_options`

[2022-07-07 09:43] V0lantis commented on #10790
In the case where a task is a visible again in Celery broker because `visibility_timeout` has been reached, wouldn't it be a good idea that the new worker check first if the task is in a running state and if the first worker has sent a heartbeat recently?

[2022-07-07 14:32] kollurukailash opened #24899 "DAG store"
### Description

**Situation:**
Currently, Airflow limits the user to put DAG files in /dags folder or get it from the GitHub repository.

**Proposal:**
Introducing DAG STORE, where all DAG files will reside on Cloud-Storage places like AWS S3, Azure Blob, and Google storage. With this in place, we drastically make DAGs available to the Airflow in an easy manner without copying and pasting them in

[2022-07-07 15:56] potiuk commented on #24899
This is not a feature. This is a huge Architectural change on how Airlfow works.

There were a few discussions about this in the past. This resulted of a number of AIPs (Airflow Improvement Proposals) - for example:

* https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-20+DAG+manifest
* https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-5+Remote+DAG+Fetcher

None of those are complete an

[2022-07-07 15:56] #24899 closed

[2022-07-07 16:26] raphaelauv commented on #24863
![Screenshot from 2022-07-07 18-26-28](https://user-images.githubusercontent.com/10202690/177823690-918c7e8e-d34a-4909-9de2-c74add812ddf.png)

[2022-07-07 19:11] potiuk commented on #24863
I think this was fix in both "core" and "es provider" - but the way it is implemented, does not require both sides to be fixed they are rather independent. So ES provider (when released) will fix the second part of the problem independently.

[2022-07-07 19:18] TamGB opened #24904 "AWS ECSOperator -"

[2022-07-07 19:49] TamGB commented on #24904
Issue fixed.

[2022-07-07 19:49] #24904 closed

[2022-07-07 20:16] #24755 closed

[2022-07-07 20:35] jedcunningham commented on #14744
@Birne94, if you could grab the state from both the `task_instance` and `job` rows (based on `TI.job_id == job.id`), that would help me determine what went wrong. Also, what version are you on?

[2022-07-07 20:42] potiuk commented on #24498
duplicagte of #24731 - closing.

[2022-07-07 20:42] #24498 closed

[2022-07-07 20:54] #23935 closed

[2022-07-07 23:15] potiuk commented on #23639
@humit0 @andrewdanks @socar-humprey - we have a 2.3.3rc3 (see #24863) that is supposed to handle the Trigger deadlocks - is it possible that you test this version to see if the deadlocks has been fixe with it ? That would be great to get confirmation.

[2022-07-07 23:25] potiuk commented on #24863
I tested most of my stuff (marked is as ok). There is PR #24071 where It's hard to reproduce the problem as it was occasional deadlock so I asked the users who raised it in #23639 to help to test it.

[2022-07-07 23:38] potiuk commented on #16982
Echh...

[2022-07-08 00:14] #16506 closed

[2022-07-08 00:50] amoGLingle opened #24909 "Airflow Scheduler Deadlock - Transaction not rolled back on Exception?"
### Apache Airflow version

2.1.0

### What happened

We have been running Airflow 2.1.0 with Scheduler HA  (2 Schedulers) and 4 worker nodes, for about 8 months, having upgraded from 1.8.  Recently (last 3/4 months) we've encountered the situation where the Schedulers Lock up with no tasks running.

Symptom:
No tasks getting run.  Nothing running at all.  Restarted workers, no luck.

Looked at sc

[2022-07-08 07:13] praveen1219 opened #24913 "operators import error"
### Apache Airflow Provider(s)

mongo, mysql

### Versions of Apache Airflow Providers

apache-airflow-providers-amazon==3.3.0
apache-airflow-providers-cncf-kubernetes==4.0.0
apache-airflow-providers-ftp==2.1.2
apache-airflow-providers-http==2.1.2
apache-airflow-providers-imap==2.2.3
apache-airflow-providers-microsoft-azure==3.8.0
apache-airflow-providers-mongo==3.0.0
apache-airflow-providers-mysq

[2022-07-08 07:31] MikeWallis42 opened #24914 "Metric grouping and task filtering"
### Description

It would be great if we could have aggregated metrics for task duration and landing times by task group. Further than this it would be fantastic if we could filter the results in the graph by task name.

### Use case/motivation

For large DAGs it's impossible to use the task duration and landing times graphs.
With the implementation of task groups the hope is that we could use tho

[2022-07-08 11:07] ecodina opened #24919 "Send default email if file "html_content_template" not found"
### Apache Airflow version

2.3.2 (latest released)

### What happened

I created a new email template to be sent when there are task failures. I accidentally added the path to the `[email] html_content_template` and `[email] subject_template` with a typo and no email was sent. The task's log is the following:

[code]

I've looked the TaskInstance class (https://github.com/apache/airflow/blob/main

[2022-07-08 11:39] jochenott commented on #19612
I believe this can be closed, as the according code change was made via #23929

[2022-07-08 12:01] cardosofede opened #24921 "Add options to Docker Operator"
### Description

I'm trying to add options like log-opt max-size 5 and I can't.

### Use case/motivation

I'm working in Hummingbot and I would like to offer the community a system to manage multiple bots, rebalance portfolio, etc. Our system needs a terminal to execute commands so currently I'm not able to use airflow to accomplish this task.

### Related issues

_No response_

### Are you willin

[2022-07-08 13:20] potiuk commented on #24921
I marked it as good first issue and if someone would like to pick it they might. Hower just so you be aware how open-source work - if no-one will pick it up, it won't be implemented, so the most sure way of getting this feature if you need it, is that you or your company will invest time and effort in implementing it and make contribution - PR implementing what you think should be added.

[2022-07-08 13:24] hsnprsd commented on #20942
I think it would be a nice feature to have. When defining a sensor user should be able to set whether or not he/she wants the sensor get cleared when upstream task gets cleared. I don't know how to implement it though.

It is also possible to implement a custom solution. You can use airflow api to monitor tasks turning into success state and clear any downstream sensors that they have.

[2022-07-08 14:19] flrn77 commented on #24526
Hello,
Since I've better understanding on migration procees by had a deeper look into it ;) I could fix the migration manually.
@dstandish It was all about the charset and at one point I had remove duplicates from xcom. Don't know, guess due to failed migration run. @potiuk I've taken your offer and put into what I think could help user on it as pull to the docs.

@miimsam have a look at my modifi

[2022-07-08 14:21] #24773 closed

[2022-07-08 14:58] ecodina commented on #24919
Hi @potiuk

I have never created a PR on such a complex project. However, since this seems easy to fix, it should prove useful to learn! I'll create the PR during the following week.

[2022-07-08 16:14] Caerbannog opened #24928 "Show a browser notification when a DAG run completes"
### Description

When the DAG grid view is open and a DAG is running, the auto-refresh already detects when all tasks end.
We could show a web notification when this happens.

Metabase does something similar when a long running process finishes. It also notifies through the favicon and the page title.
https://github.com/metabase/metabase/issues/21247

### Use case/motivation

When you are waiting

[2022-07-08 17:01] Airflowcode commented on #13668
I have a similar issue with Airflow 2.3.1 and MySQL 'Ver 14.14 Distrib 5.7.37'. Intermittently we get Deadlock errors as shown below, immediately after these Deadlocks Schulder is shutting down or waiting for the running job to complete. Is there any temporary solution or workaround for this issue? Any suggestion for changing the Airflow version to overcome this Deadlock issue?

I am using LocalEx

[2022-07-08 17:22] cardosofede commented on #24921
Thank you!

[2022-07-08 18:03] drivard commented on #9713
Hello,

Last week I experienced exactly the same behaviour where I configured Hashicorp Vault to be the secrets backend. It resulted in putting down our vault cluster.
We are using datadog for monitoring and we saw drastic amount of requests ~10-15k/hour trying to authenticate against the vault from the airflow auth_role configured for the secrets backend.

We host airflow on kubernetes and we use

[2022-07-08 19:51] dstaple commented on #23361
I am also encountering this issue. I collected some details about both queries involved in the deadlock, hopefully this is helpful.

Deployment details:
* Airflow 2.2.5
* KuberneteExecutor
* A single Airflow scheduler is running.
* Row level locking is enabled.
* Scheduler parsing_processes = 5
* Scheduler resources: 8 cores, 5 GB RAM
* Database resources: 12 cores, 8 GB RAM (Postgres 11.3)
* The

[2022-07-08 20:18] malthe commented on #24842
See also discussion here https://lists.apache.org/thread/hyctljm0o1odn1bntp4fcgok0d0433ov.

[2022-07-08 21:39] potiuk commented on #24919
Just follow https://github.com/apache/airflow/blob/main/CONTRIBUTORS_QUICK_START.rst

[2022-07-08 21:51] #21929 closed

[2022-07-09 03:25] AndrewTsao opened #24936 "Type hints for taskflow @dag decorator"
### Description

I find no type hints when write a DAG use TaskFlowApi.  `dag` and `task` decorator is a simple wrapper without detail arguments provide in docstring.

### Use case/motivation

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](ht

[2022-07-09 03:53] uranusjr commented on #24936
What environment do you use? Both of them already provide autocomplete for me in VSCode.

[2022-07-09 05:24] AndrewTsao commented on #24936
Thank you for your reply.

I use VSCode with Python extensions too. python==3.7 apache-airflow==2.3.2.
I can't get any hint when I'm input `@dag(`. no argument hints.

[2022-07-09 05:32] AndrewTsao commented on #24936
I find   `__init__.pyi` in `airflow.decorators` module in the main branch, but no `dag` and `task` typing definition in it.

[2022-07-09 07:55] skadyan opened #24938 "Add support for dynamic databricks connection id"
### Apache Airflow Provider(s)

databricks

### Versions of Apache Airflow Providers

apache-airflow-providers-databricks==3.0.0 # Latest

### Apache Airflow version

2.3.2 (latest released)

### Operating System

Linux

### Deployment

Official Apache Airflow Helm Chart

### Deployment details

_No response_

### What happened

_No response_

### What you think should happen instead

### Motivati

[2022-07-09 08:01] nigel-millward commented on #24893
All links below point to using new syntax
SQL patch: https://support.microsoft.com/en-us/topic/kb4518398-sql-server-2019-build-versions-782ed548-1cd8-b5c3-a566-8b4f9e20293a
2022 preview: https://docs.microsoft.com/en-us/sql/t-sql/statements/grant-database-permissions-transact-sql?view=sql-server-ver16
2019: https://docs.microsoft.com/en-us/sql/t-sql/statements/grant-database-permissions-transact-s

[2022-07-09 09:34] uranusjr commented on #24938
Go ahead!

[2022-07-09 18:08] jedcunningham commented on #24893
Fixed in #24939.

[2022-07-09 18:08] #24893 closed

[2022-07-09 18:20] kevgeo commented on #23112
Hi @eladkal, could I take up this issue?

[2022-07-09 18:33] ephraimbuddy commented on #24863
Airflow 2.3.3 has been released. Thank you all for testing this release

[2022-07-09 18:33] #24863 closed

[2022-07-09 21:22] ecodina commented on #24919
I have just created PR #24943 which should fix this issue.

[2022-07-10 00:14] #15133 closed

[2022-07-10 00:14] #14162 closed

[2022-07-10 02:37] AlekseiSaff opened #24944 ""sql_alchemy_conn" core vs database"
### Apache Airflow version

2.3.2 (latest released)

### What happened

Starting from 2.3.2 and 2.3.3 getting a warning

`Jul 10 10:34:15 lt-hkg1-avm04 airflow: /usr/local/lib/python3.9/site-packages/airflow/configuration.py:532 DeprecationWarning: The sql_alchemy_conn option in [core] has been moved to the sql_alchemy_conn option in [database] - the old setting has been used, but please update yo

[2022-07-10 07:36] eladkal commented on #23112
We are waiting for https://github.com/apache/airflow/pull/23971 to be finished first to see what actions needs to be taken here

[2022-07-10 08:34] TamGB commented on #18116
Is there any way to get the tasks's previous succesful execution date? Would @ybressler 's method work?
This is particularly useful when using branching strategies based on time.

[2022-07-10 10:09] TamGB opened #24946 "Airflow ECS Operator: InvalidSignatureException"
### Apache Airflow version

2.3.2 (latest released)

### What happened

Using the Amazon ECSOperator to trigger tasks yields a:
`botocore.exceptions.ClientError: An error occurred (InvalidSignatureException) when calling the RunTask operation: The request signature we calculated does not match the signature you provided. Check your AWS Secret Access Key and signing method. Consult the service docu

[2022-07-10 13:45] bispaul commented on #24534
Hi @potiuk , Can I help out on this? I probably will need just a little guidance on getting started.

[2022-07-10 14:20] JonnyWaffles opened #24948 "CLI Dags Test Returns Exit Code 0 on Failure"
### Apache Airflow version

2.2.4

### What happened

Hi team, when executing `airflow dags test <dag_id> <logical_date>`, and the `DagRun` enters the failure state, Airflow prints the exception and gracefully exits with code 0. I would expect a test failure to return a failure status code so any callers would be informed the test failed. I searched the Issues but did not see any discussion around

[2022-07-10 14:51] JonnyWaffles commented on #24948
Just a quick update, I think I got what I wanted by running the Dag as a script as follows
[code]
Thus bypassing the BackfillUnfinished catch in the test command.

Maybe we should alter the command to catch the failure state, and exit with it after performing the graph step?

[2022-07-10 16:30] ulan-yisaev commented on #16622
I have the same issue, is there any known solution?

[2022-07-10 16:48] kevgeo commented on #9145
Hi @Taragolis, are you still working on adding an enhancement. Could I take up this issue?

[2022-07-10 17:40] Taragolis commented on #9145
Hi @kevgeo I have a hectic weeks, so feel free to take this issue, you could grab some [my previous changes](https://github.com/apache/airflow/pull/24660/files) if you find some useful parts.

I have a plan to make changes in Slack hooks first however I really do not know when I have a time for that.

[2022-07-10 19:47] kevgeo commented on #9145
Thanks @Taragolis, I will look into your previous PR too.

[2022-07-10 23:01] kolfild26 opened #24953 "oracle hook _map_param() incorrect"
### Apache Airflow Provider(s)

oracle

### Versions of Apache Airflow Providers

_No response_

### Apache Airflow version

2.3.3 (latest released)

### Operating System

OEL 7.6

### Deployment

Virtualenv installation

### Deployment details

_No response_

### What happened

[_map_param()](https://github.com/apache/airflow/blob/main/airflow/providers/oracle/hooks/oracle.py#L36) function from O

[2022-07-11 02:33] seongwon77 opened #24954 "Multiple pgbouncer instances using the helm chart"
### Description

Currently, the helm chart deploys only one pgbouncer instance.  (https://github.com/apache/airflow/blob/main/chart/templates/pgbouncer/pgbouncer-deployment.yaml#L40)

However, this could be a single point of failure, since all DB operations would be broken if that instance fails.

Can we have a `replica` option for pgbouncer like the other components(scheduler, worker, ...)?

###

[2022-07-11 03:07] sfc-gh-madkins commented on #24456
I was hoping to push a blog post out by end of July -- I also dont know
what Airflow's release cycle is. Does that seem doable?

Miles

On Wed, Jul 6, 2022 at 5:00 PM Kamil Breguła ***@***.***>
wrote:

[2022-07-11 06:12] Kuladeep1996 opened #24956 "Error while doing Airflow Integration with Datahub"
### Apache Airflow version

2.3.3 (latest released)

### What happened

We are following this "https://datahubproject.io/docs/lineage/airflow" for airflow integration with datahub but when running step3 command causing error
![image](https://user-images.githubusercontent.com/74226018/178199168-2d0d05a7-73e7-48a0-8686-21cec7f7f28b.png)

### What you think should happen instead

execute(airflow conn

[2022-07-11 07:25] jochenott opened #24957 "DebugExecutor runs task callbacks twice"
### Apache Airflow version

2.3.3 (latest released)

### What happened

The DebugExecutor runs the on_failure_callback twice.

This is due to `TaskInstance._run_finished_callback()` being called twice: once implicitly via the (new) call to `ti.run()`, once explicitly again:

https://github.com/apache/airflow/blob/62778bb8648515e9823ace2f48d9a89ec91a6803/airflow/executors/debug_executor.py#L79,L81

[2022-07-11 07:46] kuikeelc opened #24958 "log_filename_template writes different try_number, then when it reads the log"
### Apache Airflow version

2.3.3 (latest released)

### What happened

When you use `remote_logging = True `and push the logs to GCS. It writes the log exactly as defined in `log_filename_template`. However, when reading the log back, it adds 1 and Airflow gives the error that it can't find the logfile.

Our current setting is:

`log_filename_template = dag_id={{ "{{" }} ti.dag_id {{ "}}" }}/run_

[2022-07-11 09:04] rvatsastro commented on #16610
working as expected now
<img width="1472" alt="image" src="https://user-images.githubusercontent.com/102275369/178228612-f4d75aae-6695-4c60-8e16-3442c5bdbed6.png">

[2022-07-11 10:29] potiuk commented on #24958
@uranusjr @dstandish @jedcunningham -> I think it should be related to recent fixes with log templates?

[2022-07-11 11:19] potiuk commented on #21941
I added you - not sure if @schirag1993 had done much on it - but if you still want @schirag1993  - chime in.

[2022-07-11 11:30] potiuk commented on #24953
Assigned you - feel free to make PR

[2022-07-11 11:34] potiuk commented on #24954
I think you would have to test it thoroughly and make sure it works. From this - (just googled it) - there are some constraints and limits on having multiple pgbouncers and you would also have to make sure to make it in the way that load-balancing happens transparently between the pgbouncer instances: https://www.2ndquadrant.com/en/blog/running-multiple-pgbouncer-instances-with-systemd/#:~:text=Si

[2022-07-11 11:34] potiuk commented on #24954
Assigned you @seongwon77

[2022-07-11 12:29] BasPH opened #24962 "2nd menu is missing whitespace when there are more than 2 menu items"
### What do you see as an issue?

When there are more than 2 menu items, the docs don't show a whitespace between the `/` and the 2nd menu name:

![image](https://user-images.githubusercontent.com/6249654/178264144-d7f9e258-ebaf-4fed-a71c-024da302b8ed.png)
[link](https://airflow.apache.org/docs/apache-airflow/stable/howto/add-dag-tags.html)

However, when opening just the 2nd menu, it displays cor

[2022-07-11 12:34] BasPH opened #24963 "Doc menu items are not collapsible"
### What do you see as an issue?

Some menus contain many sub-menus and it would be convenient to close the menu to avoid having to scroll down:

<img width="304" alt="image" src="https://user-images.githubusercontent.com/6249654/178265155-4db34a46-c37a-461e-8d5a-de32f29d16e6.png">

However, nothing happens when clicking on "Installation".

### Solving the problem

_No response_

### Anything else

[2022-07-11 13:02] imkaka opened #24964 "artifacthub official chart does not have latest airflow app version"
### Official Helm Chart version

1.6.0 (latest released)

### Apache Airflow version

2.3.3 (latest released)

### Kubernetes Version

v1.20.9

### Helm Chart configuration

_No response_

### Docker Image customisations

_No response_

### What happened

https://artifacthub.io/packages/helm/apache-airflow/airflow does not have latest App version?

### What you think should happen instead

_No res

[2022-07-11 13:10] potiuk commented on #24964
This is correct. The airflow default version will be updated with the next release of chart (as usual). We release those independently.

[2022-07-11 13:10] #24964 closed

[2022-07-11 14:31] bbovenzi commented on #24914
Both of those charts could definitely use some love.

What sort of information are you usually looking for here? I ask because we've been thinking about adding a task/group selection in the grid view where some of this information could live. (Right now you can select a dag run, a task instance but not a task across dag runs)

[2022-07-11 14:41] bbovenzi commented on #24928
I don't think we will support this in the near-term. Right now, the auto-refresh will pause when the page is in the background, because we simply GET the same endpoint every 5 seconds or so. We don't yet have a real streaming API that we could subscribe to.

[2022-07-11 14:41] #24928 closed

[2022-07-11 14:47] #24938 closed

[2022-07-11 16:37] ldacey opened #24970 "Clearing dynamic tasks does not necessarily process the correct XComs"
### Apache Airflow version

2.3.2 (latest released)

### What happened

I had a DAG with an end_date that I needed to manually run to capture some additional files. Manually triggering the DAG did not run any tasks, so I temporarily committed a change in the DAG code and edited my "adjust_end" filter which is used to find files modified within a window of the data_interval_end period:

[code]

I t

[2022-07-11 17:33] nogkaha opened #24972 "airflow variables list takes too long to run"
### Apache Airflow version

2.3.2

### What happened

Hi, I got into an issue after upgrading from 2.1.2 to 2.3.2
* first I noticed that the UI in the webserver failed to show the list of variables, instead it hanged for a while and eventually crushed with .. err.
* I run the equivalent from the CLI : `airflow variables list` and it took 4m to complete
* Querying the variables directly from the DB

[2022-07-11 17:44] karunpoudel-chr opened #24973 "increasing ti.max_tries doesn't add more retries"
### Apache Airflow version

2.2.5

### What happened

A task (PythonOperator) had `'retries': 1`. When the task runs, depending upon conditions, it dynamically increases it's max_tries by using `kwargs['ti'].max_tries += 1` and the task fails. Airflow only retried once based on what was set in the Operator. It did retry more than once as it should have based on new ti.max_tries.
This was working i

[2022-07-11 17:50] Caerbannog commented on #24928
Just to be clear : I think that a 5s precision is quite sufficient.

If this notification feature was enabled, it would purely be javascript code.
When the feature is enabled, the auto-refresh wouldn't be paused when the page goes in background. The 5s requests would still fire, and when they indicate that the task finished the notification would be shown (and the requests stopped).

Also, a real

[2022-07-11 17:59] dstandish opened #24974 "[Won't do] Maybe handle potential [unlikely] write conflict in queue table?"
Currently the DatasetDagRunQueue table is one record per target_dag_id+dataset_id.
This is because we don't care if a dataset is updated multiple times in between triggered dag runs (e.g. while waiting on _another_ dataset to be updated -- once is enough information.

But a get-or-create operation like this is potentially sucsceptible to an integrity error if another process commits the queue reco

[2022-07-11 21:27] #23705 closed

[2022-07-11 21:41] pforai commented on #10388
Any updates on this?

[2022-07-11 22:02] potiuk commented on #10388
If there is no update here, then there is no update. Everything here happens if somoene does it. Airflow is created by > 2100 users - more of them like you @pforai  - users who contribute stuff if they need it.

Maybe you would like to take a lead on it and move it forward? We need users like you who apparenly have both the need and  capabiliity (and in this case use Windows) who would like to mov

[2022-07-11 22:50] #23772 closed

[2022-07-12 02:10] bbovenzi commented on #23772
Don't worry that we closed this. We'll keep working on performance improvements.

[2022-07-12 02:35] yingw787 commented on #24921
I'm brand new to the Airflow contributors community and wanted to submit a pull request, can I take this issue?

[2022-07-12 03:51] arroadie opened #24985 "Mapped task failure causes scheduler crash"
### Apache Airflow version

2.3.3 (latest released)

### What happened

When a dynamic task from a dag with retry delay set fails, the scheduler dies from an unhandled AttributeError exception from non inherited attributes.

The following stack trace was produced

[code]

### What you think should happen instead

The scheduler should handle task definition exceptions gracefully, report the error a

[2022-07-12 04:31] uranusjr commented on #24985
Already fixed in #24034.

[2022-07-12 04:31] #24985 closed

[2022-07-12 05:25] arroadie commented on #24985
Thanks @uranusjr ! I saw the original issue but missed the target being moved to 2.3.4! Awesome job!

[2022-07-12 06:06] schirag1993 commented on #21941
Hey y'all, I hadn't started work. Please feel free to get on it!

[2022-07-12 06:45] potiuk commented on #24921
Feel free @yingw787 . Assigned you :)

[2022-07-12 06:45] tx0c opened #24988 "sendgrid as a data source provider? #24815"
### Description

I'm seeing https://github.com/apache/airflow/pull/2727 added Sendgrid EmailOperator, but another question is does Airflow support to synchronize data from Sendgrid as a data source?

here are some existing commercial solutions:
1. https://segment.com/docs/connections/sources/catalog/cloud-apps/sendgrid/
2. https://airbyte.com/connections/SendGrid-to-PostgreSQL
3. https://sendgrid.

[2022-07-12 07:18] TamGB commented on #24946
Problem solved, seem to be a whitespace problem within the keys.

[2022-07-12 07:18] #24946 closed

[2022-07-12 07:21] potiuk commented on #24988
I marked it as "good first issue" - this is an open source software that people contribute to, maybe someone will pick it up. But also as mentioned in #24815 the best way to make sure it gets implemented if you want it, is to implement it yourself @tx0c

[2022-07-12 07:22] MikeWallis42 commented on #24914
Thanks for getting back to me so quickly!
Normally when I'm looking at these charts I'm looking for things like anomalous run times (either becuase of starting late or taking too long) and degradation of performance... general indicators that we need to take some corrective action on the pipeline to keep it hitting SLA.
Ideally we would also use the SLA functionality in Airflow but in its current

[2022-07-12 07:28] potiuk commented on #24914
I think it's actually best if you can monitor your Airlfow SLA for Tasks outside of Airflow. The SLA feature is indeed not very useful, but I personally think Airlfow in it's future incarnation will become more of the platform and expose more of it's metrics and stats to external systems that are way better in "monitoring" than Airflow will ever be. Usually I'd recommend to integrate stats from Ai

[2022-07-12 08:34] potiuk commented on #9713
I think this problem might be  solved differently without the need to use redis/cache.
I think when this one gets into final shape https://github.com/apache/airflow/pull/23560, you will be able to configure the sequence of retrieval of variables/connecton retrievaland you wil be able to put Metadata DB  before Secrets. Currently Secrets are queried always first, and only if a value is not found in

[2022-07-12 08:37] freyrsae opened #24990 "on_failure_callback getting the wrong context"
### Apache Airflow version

2.2.5

### What happened

We have slack alerting on failure enabled in our DAG and use `context.get('task_instance')` to customise the error message but it is usually the wrong task_instance we get. Seems very familiar to https://github.com/apache/airflow/discussions/19371

### What you think should happen instead

I should get the task instance of the task that failed,

[2022-07-12 08:48] potiuk commented on #23361
Very useful Thanks. I will take a look at it shortly.

[2022-07-12 09:09] potiuk commented on #24936
In my Intellij Dag does not work:
![image](https://user-images.githubusercontent.com/595491/178454191-a1b92eae-b932-491e-8e80-5936b64ddcd8.png)

While task works:
![image](https://user-images.githubusercontent.com/595491/178454313-7a6fce65-baca-49b7-9ae7-caa49afbb656.png)

[2022-07-12 09:45] potiuk commented on #24538
@nicolamarangoni -  It's very hard to comment on your "I have the same issue" without any details (because I can only guess what kind of error you have). You say "the same" but it might be very well different issue with some similiarities. Commenting "I have the same issue" generally adds exactly 0 value if not accompanied by some evidence. It brings no-one any closer to explaining the mistake peo

[2022-07-12 09:46] potiuk commented on #24538
Please - if you want any other action from your comment - provide some logs, and circumstances where it happened for you @nicolamarangoni

[2022-07-12 10:00] potiuk commented on #24944
You likely have not upgraded your webserver - it is apparently running an older version of airlfow.  The new version of airlflow should also (in the webserver) raise a deprecation warning.

[2022-07-12 10:14] uranusjr commented on #24936
I edited the title to better reflect the issue.

[2022-07-12 10:23] potiuk commented on #24538
As usual. Dags that fail, Logs. what investigation you have done so far. Which dags are failing. And most of all - HOW DO YOU KNOIW IT's THE SAME ERROR ? We aren't even sure what is the root cause of this one, I am working on Airlow for 4 years and I would definitely not be able to assess that something is "the same" even if errror message is the same. Did you compare the stack trace ? Is thie sam

[2022-07-12 11:17] #24160 closed

[2022-07-12 11:19] eladkal commented on #21600
@cswpy maybe you'd like to work on this issue as well?

[2022-07-12 11:28] rahulgoyal2987 opened #24996 "Airflow doesn't set default task group while calling dag.add_tasks"
### Apache Airflow version

2.3.3 (latest released)

### What happened

Airflow set default task group while creating operator if dag parameter is set
https://github.com/apache/airflow/blob/main/airflow/models/baseoperator.py#L236
However, It doesn't set the default task group while adding a task using dag.add_task function
https://github.com/apache/airflow/blob/main/airflow/models/dag.py#L2179

T

[2022-07-12 11:32] potiuk commented on #24956
Windows is not supported yet. Please follow #10388

[2022-07-12 11:32] #24956 closed

[2022-07-12 11:37] potiuk commented on #24996
Would you like to make a PR fixing it? Airflow is created by > 2100 contributors - mostly users like yoy. You seem to know exactly what should be fixed - why not becoming one of the contributrors?

[2022-07-12 11:56] #24973 closed

[2022-07-12 12:26] kuikeelc commented on #24958
It seems to be a GUI bug. The files are uploaded to Google Cloud Storage with the correct attempt numbers. In the GUI (Task Instance > Log > Select an Attempt, e.g. 1,2,3,etc.) however it always seems to select the max(attempt)+1 for all attempts (1,2,3,4,etc.)

[2022-07-12 12:48] potiuk commented on #24958
@bbovenzi -> isn't that already on your radar ?

[2022-07-12 13:16] pascal-knapen opened #24998 "Taskgroups show incorrect status in grid view"
### Apache Airflow version

2.3.2

### What happened

Once a task belonging to a TaskGroup is in the status `failed` or `upstream failed`, that status is shown for the TaskGroup over all the runs in grid view.

### What you think should happen instead

I expect in the grid view to see TaskGroups in the status corresponding to the status of the tasks in that group for the given dag run.

### How to

[2022-07-12 14:52] eladkal commented on #11911
I believe this already implemented.
See `exists_ok` parameter
https://github.com/apache/airflow/blob/acaa0635c8477c98ab78da9f6d86e6f1bad2737d/airflow/providers/google/cloud/operators/bigquery.py#L784

[2022-07-12 15:03] eladkal commented on #12556
The fix needed (while small) is in a deprecated function of the hook.
The function is deprecated for almost 2 years I believe we are closer to remove the function rather than fixing a bug in it.
Also no one tried to address this issue for very long time so I guess most users already moved away from the deprecated function.

I'm closing this issue as won't fix

[2022-07-12 15:03] #12556 closed

[2022-07-12 17:17] #24974 closed

[2022-07-12 17:47] drivard commented on #9713
We store nothing in the DB. Everything is retrieved from the Vault where our policies already takes care of who can edit connections or variables in Development vs in Production.

[2022-07-12 18:11] potiuk commented on #9713
Then what you really want is https://www.vaultproject.io/docs/agent/caching. That would likely be a nice addition to explore and see how it can be added to Airlfow deployment and maybe even add some instructions. I think reusing Vault agent (rather than developing your own) is a much better approach. Also see here: https://learn.hashicorp.com/tutorials/vault/agent-caching

[2022-07-12 18:40] potiuk commented on #24998
I love the video-report :)

[2022-07-12 19:56] tm-drtina opened #25007 "Invalid `package.json` file in `airflow/www`"
### Apache Airflow version

2.3.3 (latest released)

### What happened

According to npm docs fields `name` and `version` are required in `package.json`, but are not present in `airflow/www/package.json`
See: https://docs.npmjs.com/creating-a-package-json-file#required-name-and-version-fields

This can confuse some build tools, but also is just in incorrect format.

### What you think should happe

[2022-07-13 03:52] AnudeepKonaboina opened #25015 "Airflow Not able to delete a DAG both from UI as well as from Backend"
### Apache Airflow version

2.1.1

### What happened

### Problem

- A DAG has a DAG run for which the underlying tasks got completed but the DAG RUN is still not completed as shown below:

![image](https://user-images.githubusercontent.com/59328701/178645263-eb8fc8f6-5392-4301-ab7e-9ed5534009b7.png)

- I tried clearing/marking the DAG as success  but it keeps on loading forever and doesn't get co

[2022-07-13 05:27] eladkal commented on #25015
Please check with latest Airflow version. Indexes were added to later versions to improve cascade deletes.

[2022-07-13 05:27] #25015 closed

[2022-07-13 09:37] alexInhert opened #25019 "update watchtower version in amazon provider"
### Description

there is limitation to version 2
https://github.com/apache/airflow/blob/809d95ec06447c9579383d15136190c0963b3c1b/airflow/providers/amazon/provider.yaml#L48

### Use case/motivation

using up to date version of the library

### Related issues

didnt find

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this p