[2020-07-02 05:37] bhavaniravi commented on #9625
On approval as a valid feature, I would love to work on this :)

[2020-07-02 07:20] zikun opened #9626 "Inconsistent logs"
**Apache Airflow version**: 1.10.10

**Environment**:
Official Docker image
Python 3.7
CeleryExecutor with worker_autoscale = 512,16
Scheduler, worker and webserver running in three different Docker containers.

- **Cloud provider or hardware configuration**:
AWS EC2
- **OS** (e.g. from /etc/os-release):
PRETTY_NAME="Debian GNU/Linux 10 (buster)"
NAME="Debian GNU/Linux"
VERSION_ID="10"
VERSION="10

[2020-07-02 07:29] potiuk commented on #9626
Hello @zikun. This issue is not enough to be treated as a bug report - it's more troubleshooting that you can take to our slack channel. See https://airflow.apache.org/community/ " ask a question" chapter.

[2020-07-02 07:29] #9626 closed

[2020-07-02 07:34] zikun commented on #9626
I suspect it's a systematic bug, not a specific situation to troubleshoot because I see another person reported a similar bug in slack - https://apache-airflow.slack.com/archives/CCQ7EGB1P/p1593033265401600

Anyway, I'll also report it in slack. Thanks

[2020-07-02 08:14] potiuk commented on #9626
The problem is that this issue has not enough information to be able to reproduce it. This is really the case "let's find out what's going on - but simply without your feedback and other people commenting and providing their details - this issue here is not actionable. Once a least the root cause and easily reproducible path on how to reproduce it is there and we clearly know it's a bug and not mi

[2020-07-02 08:43] #9541 closed

[2020-07-02 09:10] ashb commented on #8683
This has now been included in the v1-10-test branch as https://github.com/apache/airflow/commit/7ff7352a629a60106f6743257adad82367217c29 (commit SHA may yet change before release) -- closing this as it'll be fixed in 1.10.11

[2020-07-02 09:10] #8683 closed

[2020-07-02 09:20] zikun commented on #9626
Thanks for the clarification.

Understood. Will ping here to reopen it if I (or anyone else) find a clear way to reproduce the problem

[2020-07-02 09:40] Swalloow opened #9627 "MySQL support in Helm airflow database config"
**Apache Airflow version**: 1.10.10

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.16

**Environment**:

- **Cloud provider or hardware configuration**: AWS EKS
- **OS** (e.g. from /etc/os-release): AWS EKS default AMI
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**: airflow metadata db as AWS Aurora 5.6.4+

**What happened**:

Deploy official he

[2020-07-02 10:03] potiuk commented on #9627
It's not a bug, it's a feature. The current helm chart does not support MySQL but I agree it should.

[2020-07-02 10:03] potiuk commented on #9627
cc: @dimberman @gstein

[2020-07-02 10:32] zikun commented on #9609
I would say this is a feature request rather than a bug. The TimeSensor behaves as expected.

I would like to propose a new sensor `DateTimeSensor`.

So in case above, it will be something like
`time_04h00_local = DateTimeSensor(task_id="time_01h30", target_time=pendulum.parse('{{ next_execution_date }}').add(days=1).replace(hour=2, minute=0)`

WDYT?

[2020-07-02 10:46] gstein commented on #9627
Not sure why I was cc'd. ??

[2020-07-02 11:30] Dewsmen commented on #8557
The issue was fixed and merged with [PR](https://github.com/apache/airflow/pull/7735)

[2020-07-02 11:30] #8557 closed

[2020-07-02 12:06] potiuk commented on #9627
Ach sorry. CC: @schnie  (you are both just one line apart when typing "Greg" ).

[2020-07-02 14:25] ashb opened #9630 "Officially support HA for scheduler component (AIP-15)"
https://cwiki.apache.org/confluence/pages/viewpage.action?pageId=103092651

- [x] #10729 Detect orphaned task instances by SchedulerJob id and heartbeat
- [x] #10881 Mark task as failed when it fails sending in Celery
- [x] #10949 Allow CeleryExecutor to "adopt" an orphaned queued or running task
- [x] #10996 Allow Kubernetes executor to adopt tasks
- [x] #11244 Add adoption support in to the new

[2020-07-02 18:46] freget commented on #9609
I would also be fine with a new sensor. I still believe that this problem should be at least documented, as it is everything but obvious if the DAG is initialized timezone aware.

[2020-07-02 20:16] jpuffer opened #9633 ""Try Number" is off by 1 in the Gantt view"
**Apache Airflow version**: 1.10.10

**Environment**:

- **Cloud provider or hardware configuration**: Astronomer

**What happened**:
In the Gantt view, all tasks start at "Try number: 2" and increment from there.

**What you expected to happen**:
I expect the first try to be called try number 1.

**How to reproduce it**:
Look at gantt view for any DAG run

**Anything else we need to know**:

JIRA

[2020-07-03 03:24] freedom1989 opened #9634 "Cannot update XCOMs via RBAC UI"
**Apache Airflow version**: 1.10.10

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

I cannot update the XCOMs via the RBAC UI. It always show me "Not a valid datetime value."
I

[2020-07-03 06:34] humbledude commented on #8495
https://github.com/apache/airflow/blob/72d5a58fd734cf4a02e351210b7db5ae2fae7e4e/airflow/executors/kubernetes_executor.py#L470

this could be "args"...

[2020-07-03 08:36] potiuk commented on #9634
XCom editing is removed completely in 1.10.11 https://github.com/apache/airflow/commit/b8f2cd329e9d97a319dc6eb26992e1f19a467551 - so this issue is not valid any more.

[2020-07-03 08:36] #9634 closed

[2020-07-03 10:14] davido912 opened #9638 "Airflow Logging Sensitive Information"
The Snowflake hook (and more accurately the dbapihook) logs sensitive information that is retrieved from the Airflow connections metadata. This happens by both the logger and the logging that comes with the cursor itself that fires the SQL commands.
This part of the code I believe is the offender: (dbapi_hook.py/ run function)
`            with closing(conn.cursor()) as cur:
                for s

[2020-07-03 10:47] elwinarens commented on #9583
@sk2991  Would you mind sharing your Azure OAuth implementation?

[2020-07-03 11:02] ashb opened #9640 "Ensure Airflow 1.10.11 DB can be updated to master"
To ensure our users can upgrade from Airflow 1.10.11 to 2.0 (when it comes) we need to double check that the Alembic migration "history" is correct.

This might involve either creating a merge point, or updating some of the migrations on master branch to reflect the correct history/ancestors for what has already been included in releases.

[2020-07-03 11:06] ashb opened #9641 "Double check UPDATING.md for "2.0" doesn't include things already released"
We need to double check the UDPDATING.md has been correctly updated on mainline to correctly reflect features that have already been included in 1.10.x releases

Specifically that anything included in earlier releases has been removed from the section for 2.0

[2020-07-03 11:23] rafaelpierre commented on #9583
@sk2991 +1

[2020-07-03 12:23] mik-laj commented on #9583
Is this helpful for you?  I don't use Azure OAuth, so I'm not sure this change applies here.
https://github.com/dpgaspar/Flask-AppBuilder/pull/1410

[2020-07-03 14:40] Libum opened #9642 "Wrong default mime_charset in Airflow 1.10.10"
Hello,

I've encountered issue with default `mime_charset` in send_email utility in Airflow 1.10.10:
https://github.com/apache/airflow/blob/317b0412383ccda571fbef568c9eabd70ab8e666/airflow/utils/email.py#L67

It is set to 'us-ascii', but I would expect 'utf-8' based on UPDATING.md and current state of master branch:
https://github.com/apache/airflow/blob/v1-10-stable/UPDATING.md#setting-utf-8-as-d

[2020-07-03 15:06] bhavaniravi opened #9643 "SSL connection has been closed unexpectedly"
**Apache Airflow version**:
1.10.10

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
1.17.2

**Environment**:

- **Cloud provider or hardware configuration**:  Self hosted kube cluster
- **OS** (e.g. from /etc/os-release): Debian GNU/Linux
- **Kernel** (e.g. `uname -a`): Linux
- **Install tools**:
- **Others**:

**What happened**:

Postgres SSL connection closed unexp

[2020-07-03 15:10] potiuk commented on #9643
Unfortunately this is not a generic problem - it looks like this is not a  generic airlfow problem but rather your configuration problem so it falls under "support request/query" which should be discussed and raised in Slack, not as github issue.

[2020-07-03 15:10] #9643 closed

[2020-07-03 15:11] #7883 closed

[2020-07-03 15:11] #7955 closed

[2020-07-03 15:11] #8416 closed

[2020-07-03 15:11] #8643 closed

[2020-07-03 15:11] #8656 closed

[2020-07-03 15:11] #8716 closed

[2020-07-03 15:11] #8905 closed

[2020-07-03 15:11] #8906 closed

[2020-07-03 15:11] #9017 closed

[2020-07-03 15:11] #9086 closed

[2020-07-03 15:11] #9324 closed

[2020-07-03 15:11] #9519 closed

[2020-07-03 15:11] #9533 closed

[2020-07-03 15:11] #9642 closed

[2020-07-04 04:39] ramdharam commented on #9542
I can pick this up if this seems a valid use case.

[2020-07-04 13:35] mik-laj commented on #9036
@potiuk We haven't deleted it yet. I wanted to make other changes before deleting this property.

[2020-07-04 13:48] OmairK commented on #9600
Hey @ephraimbuddy are you working on it or is this issue up for taking?

[2020-07-04 13:49] ephraimbuddy commented on #9600
You can work on it, I'm not currently working on it.

[2020-07-04 13:52] OmairK commented on #9600
Great, can you assign me this task please. Thanks :smile:

[2020-07-04 18:53] JavierLopezT opened #9655 "Task failed because of Command exited with return code -9 due to RAM"
As far as I understand, the apparition of return code -9 when a task fails, is because the error is unknown. However, I have faced two situations when it was because of a lack of RAM (in my docker image):
-MongoToS3Operator. I solved it modifying the operator and allowing to write on disk
-Retrieving a dataframe with the dbapi hook, due to the size of the dataframe

I have no clue if it is possibl

[2020-07-04 20:33] dipayan80 opened #9656 "Webserver times out when running a task by ignoring all dependencies"
**Apache Airflow version**:
10.10 , also tested on 10.7

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:
Amazon Linux EC2 , webserver/scheduler/worker on separate nodes , Redis queue , python 2.7
- **Cloud provider or hardware configuration**:
AWS
- **OS** (e.g. from /etc/os-release):
Amazon Linux
- **Kernel** (e.g. `uname -a`):
- **Install tools**:

[2020-07-04 23:25] kaxil commented on #9638
What kind of sensitive information were you seeing in logs?

The one you pointed out seems to only log `parameters`

[2020-07-05 01:36] ephraimbuddy opened #9662 "Replace flask_oauthlib with Authlib"
**Description**

flask_oauthlib has been deprecated in favour of Authlib. It would be good if airflow starts using Authlib

**Use case / motivation**

FlaskAppBuilder is now using Authlib.
Since FlaskAppBuilder is deeply integrated into Airflow, it will be good to also have this Authlib. Flask-oauthlib documentation recommends Authlib

**Related Issues**

[2020-07-05 08:13] lascott commented on #9168
### 'jsonschema' has no attribute 'Draft7Validator' error resolution.

boundary-layer only runs with airflow < 1.10.7 at present.
Also requires werkzeug<1.0

Will inform boundary-layer forum. Not an airflow issue (probably).
Marking resolved.

name: avm-test
channels:
  - conda-forge
  - defaults

dependencies:
  - python=3.7
  - pip
  - airflow<=1.10.6
  - pip:
     - boundary-layer
  #      requ

[2020-07-05 08:13] #9168 closed

[2020-07-05 15:20] subkanthi commented on #8278
Added tests for Yandex hook
- tests/providers/yandex/hooks/test_yandex.py

https://github.com/apache/airflow/pull/9665/files

[2020-07-05 15:58] davido912 commented on #9638
I'll give an example of my use case, I'm using the Snowflake hook (which is based on the dbapihook). The hook itself prints to the logs the SQL queries it sends. Snowflake has a SQL query that requires feeding AWS credentials. These are ingested into the SQL string by pulling them from the Airflow metadatabase connections and fired via the Snowflake Hook. However, this hook prints to the Airflow l

[2020-07-05 16:32] subkanthi commented on #9134
If this is not being worked on, I can take it on, please let me know. @zhongjiajie

[2020-07-05 16:54] subkanthi commented on #9558
Looks like already implemented. @mik-laj

`@GoogleBaseHook.fallback_to_default_project_id
    def delete_reference_image(
        self,
        location: str,
        product_id: str,
        reference_image_id: str,
        project_id: str,
        retry: Optional[Retry] = None,
        timeout: Optional[float] = None,
        metadata: Optional[Sequence[Tuple[str, str]]] = None,
    ) -> Dict:`

[2020-07-05 17:00] mik-laj commented on #9558
@subkanthi  we have method in hook, but we don't have an operator that allows us to easily use this method in DAG.

[2020-07-05 17:00] JeffryMAC opened #9669 "Order BROKEN DAG messages in the UI"
**Apache Airflow version**: 1.10.7

**What happened**:

When you have more than 1 Broken dag error in the UI every time you refresh the screen the order of the error changes. it's so annoying.

**What you expected to happen**:

have some strict order of the messages. Whatever order you want but make it consistant.

**How to reproduce it**:
add a 2-3 dags with errors so broken dag error appears. re

[2020-07-05 17:19] kaxil commented on #9638
You will have to setup a custom logger and mask those information as there is no easy way of knowing what is a secret and what is now when using a SQL statement.

[2020-07-05 17:20] kaxil commented on #9638
The thing I can do for now is increasing the log level for that specific log line to DEBUG so that the logline won't get to the file until you increase the logging level to DEBUG . WDYT ?

[2020-07-05 17:32] davido912 commented on #9638
Hey @kaxil , thank you for the reply!
It actually sounds like a better solution instead of having the loggers print anything fed to them by default. In a sense, we print the SQL commands sometimes to the logs so we can debug. So having the log level of that line as debug might make more sense :)

[2020-07-05 18:04] tanjinP commented on #8206
@mik-laj should this issue be closed?

[2020-07-05 18:05] #8206 closed

[2020-07-05 18:13] sk2991 commented on #9583
@elwinarens @rafaelpierre  - I have used this [link](https://github.com/dpgaspar/Flask-AppBuilder/blob/master/examples/oauth/config.py) to configure Azure OAuth.
Other useful links:
https://github.com/apache/airflow/pull/3015
https://flask-appbuilder.readthedocs.io/en/latest/security.html#authentication-oauth

[2020-07-05 18:46] sk2991 commented on #9583
@mik-laj  It does help to some extent. Is there anyway to extend this? Instead of declaring "AUTH_USER_REGISTRATION_ROLE_JMESPATH = "contains(['alice@example.com', 'celine@example.com'], email) && 'Admin' || 'Public'"" this manually in config file - can we assign it dynamically?

[2020-07-05 19:48] subkanthi commented on #8540
Hi @turbaszek , @felipemoz , Is this something I can tackle, please let me know.

[2020-07-05 19:57] mik-laj commented on #9134
@subkanthi I assigned you to this ticket. 🐈

[2020-07-05 23:24] prithvisathiya commented on #8212
Im also experiencing the exact same issue when I upgraded to `1.10.9`, but Im still using `LocalExecutor`. I can clearly see from the S3 console that the logs are getting uploaded, but the Airflow UI is unable to read it back. It attempts to read the local folder and then just gives up with the following error:

[code]

My configurations below:
[code]

[2020-07-06 00:44] wolvery opened #9683 "Transfer to upload files from SFTP to Azure Blob Storage"
**Description**

Transfer to scan files from sftp source path and upload them to Azure Blob Storage

**Use case / motivation**

* Scan a source path and upload files using a wildcard or the complete source path of a file at SFTP and upload these files to a Azure Blob Storage.

**PR Created**
 Process to upload sftp files to blob storage #9677

[2020-07-06 02:13] j-y-matsubara commented on #9413
I'm sorry.  I had failed to link to pull reqest.
This issue have already fixed.

[2020-07-06 02:39] ghostbody commented on #8521
Same problem +1

[2020-07-06 07:25] turbaszek commented on #8540
@subkanthi feel free to open a PR :)

[2020-07-06 07:59] turbaszek commented on #9413
Closed in #9531

[2020-07-06 07:59] #9413 closed

[2020-07-06 09:43] Libum opened #9687 "Invalid mime_charset default in send_email utility"
**Apache Airflow version**: 1.10.10

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): not relevant

**Environment**: not relevant

- **Cloud provider or hardware configuration**: not relevant
- **OS** (e.g. from /etc/os-release): not relevant
- **Kernel** (e.g. `uname -a`): not relevant
- **Install tools**: not relevant
- **Others**: not relevant

**What happened**:

A

[2020-07-06 11:52] mik-laj opened #9689 "Exception when executing execute_helper"
**Apache Airflow version**:
v2.0.0 - c58d6d586d20e9342fc520117518e26a37d5c229

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

Breeze (MacOS)

**What happened**:

I see an exception in the console.

[code]

**What you expected to happen**:

No exception

**How to reproduce it**:

[code]

**Anything else we need to know**:

This exception may be rela

[2020-07-06 12:00] potiuk commented on #9689
I saw it too. This problem appeared for me after i run some tests. It goes away after resetting the database, so it seems a side effect of some of the tests.

[2020-07-06 12:10] mik-laj commented on #9689
This problem also occurs when the database is clean.

<details>

[code]

</details>

[2020-07-06 13:58] potiuk commented on #9689
How come we do not catch it with the tests :)

[2020-07-06 14:49] turbaszek commented on #9689
I would say: mocking. There's `test_process_executor_events` test but there the in-memory and db state are the same

[2020-07-06 15:18] manesioz commented on #9558
I'd like to take a stab at it if no one else is working on it.

[2020-07-06 16:13] zikun commented on #9609
I just realize your case is a little different. You must have set `default_timezone` in the Airflow config. I think we should fix it in `TimeSensor` itself. I'll make a quick PR

[2020-07-06 16:18] potiuk commented on #9558
Go for it @manesioz !

[2020-07-06 18:03] irvifa commented on #8280
I saw there's many PR that have been merged. Is this issue already closed then?

[2020-07-06 18:23] mik-laj commented on #8280
@irvifa  Some examples are still missing
https://github.com/apache/airflow/blob/master/tests/test_project_structure.py#L125

[2020-07-06 18:26] prasanthbangs2016 opened #9700 "_mysql_exceptions.OperationalError: (1071, 'Specified key was too long; max key length is 767 bytes')"
PS C:\Users\prasanth\Desktop\p> docker logs -f 5b560ac952ff
[2020-07-06 18:24:00,905] {{settings.py:253}} INFO - settings.configure_orm(): Using pool settings. pool_size=5, max_overflow=10, pool_recycle=1800, pid=13
DB: mysql://TrueDataAdmin:***@truedata-aurora-test.cluster-cnvi8lcgayl4.us-west-2.rds.amazonaws.com:3306/prashanth_airflow
[2020-07-06 18:24:01,919] {{db.py:368}} INFO - Creating table

[2020-07-06 18:55] KayleMaster commented on #9324
Care to elaborate why this issue is closed? I can't find any help on the slack channel

[2020-07-06 18:58] potiuk commented on #9324
Heloy yes. The general issues and questions are not handled via the Github issue. It is actually stated when you try to open such issue. Apologise if it was not clear. I closed a bunch of such issues to clean them up. We do encourage you to seek help at slack or devlist - and be persistent. This project is run mostly by volunteers and often users can help each other. Addiitonally I do recommend to

[2020-07-06 20:29] madison-ookla commented on #9655
From what we have seen, a -9 code indicates that it is an OOM issue. We have not seen a -9 occur in any other circumstances. It seems like for python, a -9 indicates a memory issue ([relevant stackoverflow link](https://stackoverflow.com/questions/18529452/what-does-a-python-process-return-code-9-mean))

[2020-07-06 21:40] jhtimmins commented on #8111
@mik-laj I'm interested in taking over this task. Is the API at a stage where this would be helpful?

[2020-07-06 21:53] mik-laj commented on #8111
@jhtimmins I wanted to start working on the core today or Wednesday. However, if you have time, you can start working.

[2020-07-06 21:55] jhtimmins commented on #8111
@mik-laj Cool. Do you mean the core of authentication or the core of the API?

[2020-07-06 22:00] mik-laj commented on #8111
@jhtimmins Authorization core, i.e. one authorization mechanism (e.g. via HTTP headers) and the ability to choose others using the configuration options.

[2020-07-06 22:20] jhtimmins commented on #8111
Gotcha, thanks. Is this issue the best place to discuss the design? Thinking I can design interface and 1-2 implementations.

[2020-07-06 22:27] mik-laj commented on #8111
Yes. We can discuss it here. If we want to have more opinions, we can ask on the mailing list later.  For non-key design discussions, Github is a good place.  If you prefer, you can also create a draft PR.

[2020-07-06 22:52] mik-laj commented on #9700
Here is fix: https://github.com/apache/airflow/pull/7570

[2020-07-07 01:46] hlokired opened #9703 "Schedule Interval Last Thursday of every month"
Hi Team,

We have a requirement that we need to schedule a Airflow Job on last Thursday of every month.
So basically we might have 4 or 5 Thursdays depends on the month.

how can it be changed dynamically. i.e.: its 4th or 5th Thursday.

We tried implementing with the below, but it didn't work
We have scheduled it for schedule_interval= "45 01 * * 4L".

We have raised to google support after multi

[2020-07-07 07:35] ephraimbuddy commented on #9603
Hi @mik-laj , I want to work on this?

[2020-07-07 07:38] mik-laj commented on #9603
Every contribution is valuable. You don't have to add tests if you want to move this class.  You can add this file to the exclusion list.

[2020-07-07 07:49] ephraimbuddy commented on #9603
Oh. Thanks. I never knew.

[2020-07-07 07:51] ephraimbuddy commented on #9603
Moving it now. Never thought of it:)

[2020-07-07 09:16] nirousseau commented on #8019
bump 👍

[2020-07-07 09:23] mik-laj commented on #9703
Duplicate: https://github.com/apache/airflow/issues/9096

[2020-07-07 09:23] #9703 closed

[2020-07-07 09:29] SteNicholas commented on #9134
@subkanthi I thought that you currently couldn't complete this issue. Because the streaming semantic couldn't support, how do you work on this issue?

[2020-07-07 09:32] #8894 closed

[2020-07-07 09:33] mik-laj opened #9705 "More strict rules in mypy"
Hello,

In mypy, some rules are optional. We can enable them to make them active. I think this can be helpful in our project. In particular, I am interested in two rules, but I am open to other improvements.
[code]
https://mypy.readthedocs.io/en/stable/command_line.html

Are you wondering how to start contributing to this project? Start by reading our [contributor guide](https://github.com/apache/

[2020-07-07 09:58] hlokired commented on #9096
Hi Mil-laj,

I can see that the request #9703 has been closed saying it is duplicate. But when I go through #9096. I don't see the exact question or solution for the question.
Could you please let us know will these be a future request. if Yes, then by when can we get a solution.
Because we have a business requirement and need to respond to the business.

Thanks.

Regards,
Harish

[2020-07-07 10:18] dephusluke commented on #9213
probably @kaxil can

[2020-07-07 11:03] #9640 closed

[2020-07-07 11:07] gregbrowndev opened #9707 "DockerOperator AWS ECR Login Unauthorised"
**Apache Airflow version**:

1.10.10

**Environment**:

- **OS** (e.g. from /etc/os-release):

NAME=Fedora
VERSION="29 (Workstation Edition)"
ID=fedora
VERSION_ID=29
VERSION_CODENAME=""
PLATFORM_ID="platform:f29"
PRETTY_NAME="Fedora 29 (Workstation Edition)"
ANSI_COLOR="0;34"
LOGO=fedora-logo-icon
CPE_NAME="cpe:/o:fedoraproject:fedora:29"
HOME_URL="https://fedoraproject.org/"
DOCUMENTATION_URL="ht

[2020-07-07 12:02] mik-laj commented on #9096
@hlokired  This is an Open Source project, so the community manages it. Each feature that is added to this project is the result of volunteer work or was done by other companies that decided to share their changes. We don't have any paid employees who write code that other people expect, because it's free software. For this reason, you shouldn't expect specific dates when the feature will be finis

[2020-07-07 12:19] mik-laj opened #9708 "Increase typing coverage"
Helllo,

We've introduced [mypy](https://github.com/python/mypy), but it's not very useful if we don't have [type annotations](https://docs.python.org/3/library/typing.html).  I think it's worth starting with the providers package, which is most often used by end-users. Currently, our annotation coverage is 47%. I will be happy when we have 75% coverage for each provider.

[code]
You can also chec

[2020-07-07 12:27] mik-laj commented on #9134
@SteNicholas I think we can add two operators. One that starts streaming operations on a remote cluster, return ID to XCOM and the other that stops these operations. However, I have no experience with Flink. Do you think this is possible?

[2020-07-07 12:35] OmairK commented on #9708
This looks interesting, can you assign me this task @mik-laj

[2020-07-07 12:43] mik-laj commented on #9708
@OmairK I assigned you to this ticket.

I also added a small note to the first post.

[2020-07-07 12:44] ephraimbuddy commented on #9708
I'm interested too. We would do it one PR per provider I guess?

[2020-07-07 12:44] OmairK commented on #9708
Yeah this sounds like a good idea.

[2020-07-07 12:53] roskoN opened #9709 "Decouple DAG tagging from RBAC"
**Description**

Currently, in order to use DAG tags, one needs to enable RBAC. Thus, one needs to set it up in order to be able to use the feature.

**Use case / motivation**

While, this feature is super helpful for multi-user, multi-role environments, it has additional value beyond this specific use case. In general, tags are helpful to organize/categorize the DAGs and it shouldm't be limited t

[2020-07-07 13:08] mik-laj commented on #9709
@roskoN Airflow 2.0 will not have a non-RBAC interface. For this reason, we try to encourage users to use RBAC. One way to do this is to create additional reasons for migrating to the RBAC interface - exclusive feature. There is another reason. We develop all the new features in the master branch (Airflow 2.0), and then each change is manually cherry-picked into the 1.10 release by the release mai

[2020-07-07 13:13] Nandito4 opened #9710 "airflow.kubernetes module not included in v1.10.10"
**Apache Airflow version**:
1.10.10

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
v1.15.11

**Environment**:

- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): Debian GNU/Linux 10 (buster)
- **Kernel** (e.g. `uname -a`): Linux 4.15.0-1031-aws #33-Ubuntu SMP Fri Dec 7 09:32:27 UTC 2018 x86_64 GNU/Linux
- **Others**: Using dock

[2020-07-07 13:28] roskoN commented on #9709
@mik-laj Thank you for the detailed but concise explanation. It perfectly makes sense.

And, of course, for those who do not like this, there is an easy workaround.

[2020-07-07 13:28] #9709 closed

[2020-07-07 14:18] coopergillan commented on #9708
Hi @mik-laj - I would love to grab at least one of these providers. May just need a little bit of time 😅

[2020-07-07 14:30] kaxil commented on #9213
That commit is 4 years old :D so something else might have reverted back that behaviour.

I will mark it for 1.10.12

[2020-07-07 14:33] 51yu opened #9711 "airflow 1.10 filter logs based on DAG owner"
**Apache Airflow version**:
1.10

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
not k8s issue

**Environment**:
linux

**What happened**:
when FILTER_BY_OWNER enabled, logs view should also filtered based on dag owner
otherwise, dag_link in log list could redirect to any dag without constraint of dag owner
https://github.com/apache/airflow/blob/v1-10-stable/airflow/

[2020-07-07 14:34] 51yu commented on #9213
@kaxil Thanks for helping. I create another relevant issue
https://github.com/apache/airflow/issues/9711

[2020-07-07 14:36] mik-laj commented on #9708
@coopergillan I assigned you to this ticket. When you create a PR, add a link to this ticket so that others can see your work.

[2020-07-07 14:53] turbaszek commented on #9101
I think it's already done @potiuk ?

[2020-07-07 14:54] #9689 closed

[2020-07-07 16:03] potiuk commented on #9101
Indeed!

[2020-07-07 16:03] #9101 closed

[2020-07-07 16:11] gregbrowndev commented on #9707
Apologies, I misunderstood how the Docker Registry connection worked.

For anyone else running into this, here is a simple DAG which updates a 'docker_ecr' connection token, based on [Brian Campbell's code here](https://www.lucidchart.com/techblog/2019/03/22/using-apache-airflows-docker-operator-with-amazons-container-repository/).

[code]

[2020-07-07 16:11] #9707 closed

[2020-07-07 16:24] zhongjiajie commented on #9134
I think it depend on what we could add streaming to airflow, if it will task many times, maybe support parts of flink function on flink operator is acceptable.

[2020-07-07 19:45] benbenbang opened #9713 "Looping issue using Hashicorp Vault"
- Issue:
We encountered an issue that is mainly caused by overloading calls from Airflow to Vault while Vault was experiencing downtime.

- Context:
A few days ago while Vault was down for 2 - 3 hours, all the worker pods in our Airflow cluster on K8s started retrying to pull credentials (URI) from Vault. This caused two things: the first one is that we found that airflow tried more than 500 calls

[2020-07-08 00:53] alanbrent commented on #8212
Can confirm that using a threaded `gunicorn` worker (`gevent` in our case) breaks the web component's ability to show task logs that are in S3. Moving back to `sync` works for us, and since we're running on Kubernetes a few more web pods to absorb the ALB/ELB health checks isn't (so far) a performance concern.

Would love to see this fixed, however.

[2020-07-08 03:20] jhtimmins commented on #8111
@mik-laj I'm a bit confused about the need to have a customizable auth scheme, where the user can pick a common implementation or add their own. Connexion seems to support a small number of predefined schemes https://connexion.readthedocs.io/en/latest/security.html.

Two questions then:
1. Do you envision users modifying the .airflow.yml file to specify their preferred scheme?
2. How do you pictur

[2020-07-08 04:50] hlokired commented on #9096
Hi,

Can you please provide the mailer list, when we can discuss with in the group.

Thanks,

[2020-07-08 06:47] HenryLinTw opened #9717 "airflow initdb failed on ORA-22858 altering xcom.value to BLOB with Oracle (ATP) DB as backend DB"
**Apache Airflow version**:
1.10.10

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
NA

**Environment**:
Docker Container
- **Cloud provider or hardware configuration**:
Docker host - OCI VM.Standard2.8
- **OS** (e.g. from /etc/os-release):
Oracle Linux Server 7.8
- **Kernel** (e.g. `uname -a`):
Linux internal-report-airflow 4.14.35-1902.303.5.3.el7uek.x86_64 #2 SMP

[2020-07-08 07:04] mik-laj commented on #8111
You do not have to specify it in the API specification, because it is a configurable value. OpenAPI does not support this case.

[2020-07-08 07:10] jhtimmins commented on #8111
Could you explain what you mean by "OpenAPI does not support this case"? Do you mean that OpenAPI doesn't support configurable authentication schemes?

[2020-07-08 07:32] mik-laj commented on #8111
@jhtimmins OpenAPI is very limiting in the authorization configuration description You cannot describe several authorization mechanisms and selection rules in one specification file. We cannot express all the intentions that users have, so I think we may not include authorization in the API specification at all.  Many users will not use authorization at all, and instead configure the auth proxy to

[2020-07-08 07:34] jhtimmins commented on #8111
@mik-laj Ah I understand. That clarifies it a lot. Thank you.

[2020-07-08 07:36] #8144 closed

[2020-07-08 07:39] mik-laj commented on #9096
@hlokired Here is thread: https://github.com/apache/airflow/issues/9096#issuecomment-637506595

[2020-07-08 08:14] hlokired commented on #9096
Hi Team,

Could you please help us on this requirement, #9703.

Regards,
Harish Reddy L

[2020-07-08 09:20] potiuk commented on #9717
Airflow does not support Oracle as database.
Airflow Supports and is tested with MySQL, Postgres, Sqlite. See https://github.com/apache/airflow/blob/master/README.md#requirements

[2020-07-08 09:20] #9717 closed

[2020-07-08 09:25] #8748 closed

[2020-07-08 09:30] #9386 closed

[2020-07-08 11:12] #9110 closed

[2020-07-08 11:21] dephusluke commented on #8923
@Handtaker23  I would be interested in AdManager hook.

[2020-07-08 11:25] dephusluke commented on #8379
@sakcruise if you know the fix why not just fixing it?

[2020-07-08 11:37] amr-noureldin opened #9718 "store_serialized_dags causes a pile up of open connections to the database backend with ~3000 DagRuns"
**Apache Airflow version**: 1.10.10

**Environment**:
PostgreSQL ~~9.4~~ 10

- **OS** (e.g. from /etc/os-release): Fedora 28
- **Kernel** (e.g. `uname -a`): Linux  3.10.0-1127.el7.x86_64 #1 SMP Tue Feb 18 16:39:12 EST 2020 x86_64 x86_64 x86_64 GNU/Linux

**What happened**: Upon enabling `store_serialized_dags`, we noticed that connections pile up on the database end that are never closed. Out of 2

[2020-07-08 11:41] kaxil commented on #9718
A workaround would be to set `max_num_rendered_ti_fields_per_task` to 0 (https://airflow.readthedocs.io/en/stable/configurations-ref.html#max-num-rendered-ti-fields-per-task)

[2020-07-08 11:43] kaxil commented on #9718
Can you also test it with Postgres >= 9.6 on a test instance and let us know if you still see the issue

[2020-07-08 11:49] amr-noureldin commented on #9718
Sorry for the typo, this issue was encountered when running on Potgres 10

[2020-07-08 11:49] turbaszek commented on #8923
@kweitzner @dephusluke @Handtaker23 do anyone of you would like work on this one? We are happy to help 👌

[2020-07-08 11:54] ashb commented on #9718
Can you give us an example dag that shows this problem too please?

[2020-07-08 11:56] ashb commented on #9718
Could you also please run `EXPLAIN ANALYZE` on that delete query in your DB?

[2020-07-08 12:55] subkanthi commented on #9134
I thought this was very similar to the SparkSubmit operator where it expects spark-submit to be in the path and takes the jar file as a parameter.

[2020-07-08 13:35] geosmart opened #9720 "how to use airflow with all extra by docker"
my dockerfile like this
[code]

as airflow dockfile comment
[code]

i want to use ldap,but the image doesnot install ldap3 module,

so how can i use the apache/airflow:1.10.10-python3.6 with all extra ,
just like `pip install airflow[all]`

[2020-07-08 14:14] potiuk commented on #9720
Pleas use slack on Github to ask questions like that - that's why your task was marked as invalid because this is not a place to ask questions. Generally - you have to rebuild the image with the right build args. See IMAGES.rst for details

[2020-07-08 14:14] #9720 closed

[2020-07-08 14:36] klyusba opened #9721 "InvalidToken error when using PostgresHook with PythonOperator"
**Apache Airflow version**: 1.10.10

**Environment**: puckel/docker-airflow with celery executor

**What happened**:

PostgresHook inside PythonOperator causes cryptography.fernet.InvalidToken error.
PostgresOperator causes no error in the same dag.

**What you expected to happen**:

PostgresHook causes no error within PythonOperator as it does within PostgresOperator

**How to reproduce it**:

<d

[2020-07-08 15:57] BobasB opened #9722 "Airflow can't import DAG in UI and logs, but manual DAG trigger works"
Hi, I have a very strange and specific behaviour of Airflow on AWS EKS cluster after deploying Calico to enforce network policies.  I have also created AWS support case, but I also need support from Airflow team. I will be very appreciated for any help.
**What happened**:
I have Airflow set-up running as 2 k8s pods (Airflow webserver and scheduler). Both Airflow pods use git-sync sidecar container

[2020-07-08 16:15] zikun commented on #9610
Similar issue in #9626

[2020-07-08 19:12] HenryLinTw commented on #9717
From documentation: https://airflow.apache.org/docs/stable/howto/initialize-database.html

it mentions "As Airflow was built to interact with its metadata using the great SqlAlchemy library, you should be able to use any database backend supported as a SqlAlchemy backend.... We recommend using MySQL or Postgres."

that seems to be misleading to me then.

[2020-07-08 22:48] kaxil commented on #9713
I am happy for you to take on this ticket and implement a strategy to prevent this kind of issue

[2020-07-08 23:42] rafyzg commented on #9708
Hi @mik-laj ,  I would love to help with one of the providers.

[2020-07-09 00:13] mik-laj commented on #9708
@rafyzg I assigned you to the ticket. Which provider is interesting for you?

[2020-07-09 00:22] morrme commented on #9708
I would like to help with this. I am new to the project, so I may need some guidance, if available.

[2020-07-09 00:27] mik-laj commented on #9708
These are small providers and this can be a good start to the adventure.

- discord
- dingding
- datadog
- cloudant
- celery

If you need help, you can ask @ephraimbuddy or @OmairK, or on the #newbie-question channel on [our Slack channel](https://apache-airflow-slack.herokuapp.com/).

[2020-07-09 00:30] morrme commented on #9708
@mik-laj Thank you! I will try celery!

[2020-07-09 05:11] AyWa opened #9731 "Task instance null, execution date skipped"
**Apache Airflow version**: `1.10.9`
**DB**:  `Postgre11.6` (aws rds)

**Environment**:

- **Cloud provider or hardware configuration**: `AWS BEANSTALK - DOCKER` in a `Local` executor

**What happened**:

In the UI, everything looks to be correctly run:

<img width="645" alt="Screen Shot 2020-07-09 at 1 04 12 PM" src="https://user-images.githubusercontent.com/13608477/86998728-f3347c80-c1eb-11ea-9

[2020-07-09 05:28] #8128 closed

[2020-07-09 05:40] sahil-b-shah opened #9732 "DockerOperator does not support wait timeout for container"
**Apache Airflow version**: 1.10.10

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): Debian GNU/Linux 10 (buster)
- **Kernel** (e.g. `uname -a`): Linux Ubuntu SMP 2018 x86_64 GNU/Linux
- **Install tools**: Python 3.6.11
- **Others**:
Docker version 18.03.0-ce
d

[2020-07-09 06:01] OmairK commented on #9109
@mik-laj can you assign me this task please?

[2020-07-09 06:07] mik-laj commented on #9109
@OmairK I assigned you to this ticket.

[2020-07-09 06:40] rafyzg commented on #9708
I will try first with one file in mysql providers.

[2020-07-09 07:40] dipayan80 commented on #9656
Can someone provide insights/share experiences on this new behaviour please ?

[2020-07-09 08:22] ChristianYeah commented on #9131
Hi, @svetli-n , sorry for the late reponse, here is the code

[code]

I would like to limit the max active dag run to 1 for ensuring the sync progress won't go wrong. It works on the local env, but the production env seems like not working as expected

[2020-07-09 08:24] jhtimmins commented on #8111
@mik-laj  Ok, I have a rough decision, if you could let me know your thoughts. Ultimately, only `settings.py` needs to be visible to the user if they're using a pre-existing auth function. If they want to add a custom function, they can create a new file and reference it from `settings.py`.

## End result
- `login_required` decorator.

[code]

## Auth.py
- Defines various authentication functions.

[2020-07-09 09:57] MarkMuffin opened #9735 "LocalTaskJob heartbeat log spamming"
Hello, i have an issiue on Airflow version 1.10.9.
Message about "ERROR - LocalTaskJob heartbeat got an exception" spammed about 32430 times and i've got massive unreadable log.
According to https://github.com/apache/airflow/pull/5589 and https://github.com/apache/airflow/pull/6284 this issue has been fixed. Both MR included in 1.10.6 version, but it seem that that problem still on.

Here part log

[2020-07-09 10:20] ephraimbuddy commented on #8121
I'm interested in this issue.

[2020-07-09 10:56] mik-laj opened #9736 "Unify error message and complete type field in response"
Hello,

We have a fantastic REST API.  However, something can always be improved. The current problem reported by users are not very friendly error messages for end-users  To address this issue, we should follow [RFC-7807](https://tools.ietf.org/html/rfc7807) more closely.

Our error responses do not include the URI in the type field. We can fill this field with the link to the specification in We

[2020-07-09 12:19] shaneikennedy opened #9738 "Initial support for Mixpanel ETL applications"
**Description**

Initial support  for Mixpanel ETL applications -> Connections, Hooks, Operators (Mixpanel -> Storage service)

**Use case / motivation**

Use case: Moving Mixpanel event data to a data warehouse for BI reporting.

Motivation: With how popular Mixpanel is as an analytics service I'm surprised there isn't already support for them. I'm currently working on an implementation of a Hook

[2020-07-09 14:07] scoiatael commented on #9662
Flask OAuthlib has not been updated since May, 2018 (https://pypi.org/project/Flask-OAuthlib/) and depends on OAuthlib < 3.0.0 (also from May, 2018).

[2020-07-09 14:09] ephraimbuddy commented on #9662
We want to start using Authlib. Can you help @scoiatael?

[2020-07-09 15:14] feluelle opened #9741 "Replace azure-batch by azure-mgmt-batch"
**Description**

This should be a change which not effects the usage of the related provider modules i.e. **refactoring**.

Microsoft actively develops python packages for Azure in https://github.com/Azure/azure-sdk-for-python

Those packages can be recognized by prefix `azure-mgmt-`.

[2020-07-09 15:15] feluelle opened #9742 "Replace azure-cosmos by azure-mgmt-cosmosdb"
**Description**

This should be a change which not effects the usage of the related provider modules i.e. **refactoring**.

Microsoft actively develops python packages for Azure in https://github.com/Azure/azure-sdk-for-python

Those packages can be recognized by prefix `azure-mgmt-`.

[2020-07-09 15:16] feluelle opened #9743 "Replace azure-datalake-store by azure-mgmt-datalake-store"
**Description**

This should be a change which not effects the usage of the related provider modules i.e. **refactoring**.

Microsoft actively develops python packages for Azure in https://github.com/Azure/azure-sdk-for-python

Those packages can be recognized by prefix `azure-mgmt-`.

[2020-07-09 15:17] feluelle opened #9744 "Replace azure-kusto-data by azure-mgmt-kusto"
**Description**

This should be a change which not effects the usage of the related provider modules i.e. **refactoring**.

Microsoft actively develops python packages for Azure in https://github.com/Azure/azure-sdk-for-python

Those packages can be recognized by prefix `azure-mgmt-`.

[2020-07-09 15:18] feluelle opened #9745 "Replace azure-storage and azure-storage-blob by azure-mgmt-storage"
**Description**

This should be a change which not effects the usage of the related provider modules i.e. **refactoring**.

Microsoft actively develops python packages for Azure in https://github.com/Azure/azure-sdk-for-python

Those packages can be recognized by prefix `azure-mgmt-`.

[2020-07-09 17:26] cmlad commented on #8212
The issue seems to be infinite recursion due to an interaction from gevent's monkey patching and the botocore library used by S3TaskHandler:

[code]

I still need to dive deeper into this

[2020-07-09 20:43] dimon222 commented on #8212
@cmlad I will make very bad suggestion, but would it work with regular HTTP endpoint instead? Just something to try out.

[2020-07-10 04:43] jhtimmins commented on #8111
@mik-laj I'm working on a scratchpad git repo in my personal account. https://github.com/jhtimmins/scratch-airflow-auth

Thus far, my focus has been the interface from the airflow user standpoint.

This design allows configuration at either the app level or the individual route. If configured at the app level, individual routes can be marked as as requiring user auth with either `@auth.login_requi

[2020-07-10 06:09] prakshalj0512 opened #9749 "Missing refresh_all method in airflow/www/views.py"
**Apache Airflow version**: 1.10.x
**What happened**:

The refresh_all method was deleted as part of this PR: https://github.com/apache/airflow/commit/66b2a47d9e6dbef551e31d41d23ee4fc2eae3636#diff-948e87b4f8f644b3ad8c7950958df033

Lines 1719-1728 in `airflow/www/views.py`
[code]
Also, in `airflow/www/test_views.py`, add the following code (reference Lines 650-653 from the PR):
[code]
Kindly add th

[2020-07-10 06:42] jkrajpal commented on #9414
@mik-laj please assign this to me.

[2020-07-10 07:18] turbaszek commented on #9749
Summoning @kaxil as our serialization expert, https://github.com/apache/airflow/pull/5743

[2020-07-10 07:20] kaxil commented on #9749
Thanks Tomek, yeah we had a chat with @prakshalj0512 on Slack about this. I will look into why I removed this method and if I can't find any good reason, we will add it back for 1.10.12

[2020-07-10 07:56] turbaszek commented on #9414
@jkrajpal I assigned you 🚀 @mik-laj I suppose we would like to use the config.yml to generate the envvar reference?

[2020-07-10 09:19] vbmade2000 commented on #8136
Hey Thanks. Apology. I was extreely busy and couldn't check Github. I finished actual code in couple of days with some UTs but documentation (and may be something else ) is remaining. Thanks @zikun you picked up this.

[2020-07-10 09:29] mik-laj commented on #9414
@turbaszek  Why would I do that? I would like to have a list of only 6 options. In case of ``AIRFLOW__{SECTION}__{KEY}``. I would like a description that is related to the configuration options and a link to the documentation with all configuration options.

[2020-07-10 13:03] zhongjiajie commented on #9134
But that parts of flink function, nor full of it. maybe you could see https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-35+Add+Signal+Based+Scheduling+To+Airflow for more detail.

[2020-07-10 13:45] kaxil commented on #9633
Thanks Jake, we will check this and comment back on my findings.

[2020-07-10 13:51] mik-laj opened #9752 "Connect to Compute Engine instance by name"
Hello,

It would be very helpful to have an operator that allows you to execute the SSH command on another virtual machine without the need to manage RSA keys and without the need to configure IP addresses.

* The server should be specified by instance name and zone.
* The key should be provided using the following methods (user selection):
   - [OSLogin](https://cloud.google.com/compute/docs/inst

[2020-07-10 14:07] muscovitebob commented on #1152
We are still hitting this issue with clearing tasks on a DAG containing a SubDAG in airflow-1.10.6, in it's Cloud Composer incarnation.

[2020-07-10 14:12] ashb commented on #8582
Done!

[2020-07-10 14:12] #8582 closed

[2020-07-10 14:16] mik-laj commented on #8286
@tanjinP Do you need help? If you don't have time, would you like to release the ticket so other people can work on it?

[2020-07-10 14:19] mik-laj commented on #8031
We corrected this error and release it in a backport package.
https://github.com/apache/airflow#backport-packages
If you still have any problems, please let me know.

[2020-07-10 14:19] #8031 closed

[2020-07-10 14:22] tanjinP commented on #8286
Sorry about the delay. I will begin working on this ticket over the weekend and will have a draft PR at the very least in a couple of days

[2020-07-10 14:24] mik-laj commented on #8121
@ephraimbuddy  I assigned you to this ticket.

[2020-07-10 14:42] turbaszek commented on #8765
I screened the UPDATING.md for "breaking" changes that can be check / communicated. I selected those explicitly saying "breaking" or sounding like that. In general, we can split them into three categories:
- python code changes (related to DAGs etc)
- config changes
- cli changes (related to scripts etc)

I ended up with a list of 59 of changes:
[code]

I like the idea proposed by @mik-laj in #946

[2020-07-10 14:42] turbaszek commented on #8765
@ash @mik-laj @potiuk @kaxil WDYT?

[2020-07-10 15:00] mik-laj commented on #8765
@turbaszek Can you create Google Docs about it? Without a broader context, the titles of changes are of little help.

I think we should now prepare a plan that will describe how we can detect breaking change and determine what to do when we detect them.
[code]
A lot of changes are backward compatible, and if not, we also need to detect and notify them.
[code]

[2020-07-10 15:08] potiuk commented on #8765
I think some of the changes we can apply easily and safely. I think for example all the deprecation notices can be fixed rather easily - we already have information about it (we test all the depracations - I already used it in backport packages) - so we can super-easily and safely apply those in automated way.  Similarly some of the changes above (rename parameter names etc.). I would really like

[2020-07-10 18:30] prakshalj0512 opened #9753 "JSON notation in Airflow DAG comments causing KeyError"
-->
**Apache Airflow version**: 1.10.11 (code is working fine in 1.10.10)

**Environment**: Python 3.7

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): Catalina 10.15.5
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

KeyError: '"randomKey"'

**What you expected to happen**:

Expected the block comment on the top of the D

[2020-07-10 18:46] turbaszek commented on #9753
@prakshalj0512 what version of flask do you use?

[2020-07-10 18:47] prakshalj0512 commented on #9753
[code]

[2020-07-10 19:06] ofaakye commented on #9028
Any updates on this issue. I am having the same issue?

[2020-07-10 20:29] kaxil commented on #9753
Can you show us your DAG please?

[2020-07-10 20:45] prakshalj0512 commented on #9753
https://github.com/teamclairvoyant/airflow-maintenance-dags/blob/master/db-cleanup/airflow-db-cleanup.py

[2020-07-10 20:57] kaxil commented on #9753
I was able to reproduce it but looks like it can be easily fixed if you remove the following from docstrings from the DAG (https://github.com/teamclairvoyant/airflow-maintenance-dags/blob/63ddbfb19d53fa7b44343dc0525cf1b60f16fed6/db-cleanup/airflow-db-cleanup.py#L6-L9):

[code]

[2020-07-10 20:59] prakshalj0512 commented on #9753
Yes, I narrowed it down to the curly braces that were causing the issue. Not sure what's causing them to be interpreted as part of JSON as opposed to the comment.

[2020-07-10 22:35] mik-laj commented on #9083
@mdediana Hi. I am happy that we have already done the first PR.  My users are asking about this feature. Do you need help now?

[2020-07-10 22:50] darwinyip opened #9755 "Maintenance Mode for Connections"
**Description**

Be able to set status of connection as "being in maintenance" so that it automatically pauses all DAGs that uses it, and un-pause them once maintenance mode is over.

**Use case / motivation**

This feature will be useful when database is known to be down, so to avoid all related DAGs failing and retrying.
Also saves effort from needing someone to manually remember, pause, and un-

[2020-07-10 23:10] mdediana commented on #9083
@mik-laj I ran into a recursion issue in `StackdriverTaskHandler` which I'm trying to figure out. This is how it happens:

`emit` calls `_transport`
https://github.com/apache/airflow/blob/3cc5756d04c7d3fd14b71e9ec6f5f906d5a24212/airflow/providers/google/cloud/log/stackdriver_task_handler.py#L140

which calls `_client`
https://github.com/apache/airflow/blob/3cc5756d04c7d3fd14b71e9ec6f5f906d5a24212/

[2020-07-10 23:50] mik-laj commented on #9083
So you want to say that Stackdriver task handler is not working? I am happy to look at it.

[2020-07-10 23:57] scrambldchannel commented on #9708
I'd be interested in trying one or more of these too. I've been playing around with the Redis provider a bit this week so could start there if that works?

[2020-07-10 23:59] mik-laj commented on #9708
@scrambldchannel I assigned you to this ticket. :-D

[2020-07-11 00:10] mdediana commented on #9083
Thanks for the help.

I found something, it still needs fixing but it's not a blocker for this PR.

I was using `export GOOGLE_APPLICATION_CREDENTIALS` and the recursion problem happened because the `log.info` line was executed. If I switch to using `stackdriver_key_path` in `airflow.cfg`, the problem stops because that line is not executed. I can move forward with this second option.

[2020-07-11 02:54] MagicTurtle2203 commented on #9708
I would like to help with this as well. I can start by working on the Discord provider.

[2020-07-11 03:12] mik-laj commented on #9708
@MagicTurtle2203  I assigned you to this ticket. :-D

[2020-07-11 03:49] irvifa commented on #8280
I saw in https://github.com/apache/airflow/blob/3cc5756d04c7d3fd14b71e9ec6f5f906d5a24212/tests/test_project_structure.py#L132 mysql_to_gcs is already implemented in:

https://airflow.readthedocs.io/en/stable/_modules/airflow/contrib/example_dags/example_gcp_sql.html

[2020-07-11 03:53] ephraimbuddy commented on #8280
@irvifa , you can separate it so that `mysql_to_gcs` tests exist separately.

[2020-07-11 04:12] irvifa commented on #8280
@mik-laj can you please review my PR: https://github.com/apache/airflow/pull/9760
I was wondering on how I can make sure e2e test works when I can't create an instance or db in the example.

[2020-07-11 04:29] mik-laj commented on #9083
@mdediana https://github.com/apache/airflow/pull/9761 Can you look at it?

[2020-07-11 07:55] morrme commented on #9742
Can share more about which tasks are required to complete this request?

[2020-07-11 08:11] gamebusterz commented on #8448
@curiousjazz77 @mik-laj  I'm new here but it seems like I understand the requirement. Does this seem like a good first feature to work upon?

[2020-07-11 08:12] zhbdesign opened #9763 "pip install apache-airflow[all]==1.10.0 error"
[root@hadoop-master2 airflow]# pip install -i https://pypi.douban.com/simple/ apache-airflow[all]==1.10.0
Looking in indexes: https://pypi.douban.com/simple/
Collecting apache-airflow[all]==1.10.0
  Using cached https://pypi.doubanio.com/packages/da/2a/6e9efcd40193850e2f636c7306eede2ff5607aa9f81ff9f7a151d9b13ff8/apache-airflow-1.10.0.tar.gz (4.3 MB)
    ERROR: Command errored out with exit status

[2020-07-11 08:28] kaxil commented on #9763
What Python version are you using?

[2020-07-11 08:30] zhbdesign commented on #9763
python3.7.5,I can execute without a version number. Can I use Python 3.7.5 for version 1.10

[2020-07-11 08:35] zhbdesign commented on #9763
How to solve the following errors?

Using legacy setup.py install for multi-key-dict, since package 'wheel' is not installed.
Using legacy setup.py install for python-http-client, since package 'wheel' is not installed.
ERROR: astroid 2.4.2 has requirement lazy-object-proxy==1.4.*, but you'll have lazy-object-proxy 1.5.0 which is incompatible.
ERROR: snowflake-connector-python 2.2.8 has requiremen

[2020-07-11 09:10] mik-laj commented on #9763
This version does not support Python 3.7. This version supports: "2.7", "3.5". In Airflow 1.10.4, we added support for Python 3.6. Can you check these versions?

[2020-07-11 09:42] mik-laj commented on #8448
@curiousjazz77  @curiousjazz77 I think we should support a single wildcard character in argument in all file transfer operators. This is a requirement that I try to apply to GCP operators. Can we apply this approach here as well?

[2020-07-11 10:10] mdediana commented on #9083
@mik-laj Looks good, just a couple of tests need fixing.

[2020-07-11 13:01] benbenbang commented on #9713
Thanks @kaxil, I am gonna deep dive to the source code first. I will bring more questions back to you.

[2020-07-11 13:02] tooptoop4 commented on #9595
can this be closed?

[2020-07-11 14:11] #9385 closed

[2020-07-11 17:24] mdediana commented on #9083
Backport tests complain about not being able to import `ExternalLoggingMixin`. I noticed the mixin was removed from `ElasticsearchTaskHandler`, which means that links won't show for ES too. I'll try to delete `ExternalLoggingMixin` and rely on  the existence of attributes only (`hasattr`), seems more stable, but I can't work on it now.

[2020-07-11 17:28] potiuk commented on #9595
Looks like!

[2020-07-11 17:29] potiuk commented on #9595
FYI @Unit03. You can put `Closes #ISSUE` in the commit message and it will close related issue at merge :).

[2020-07-11 17:29] #9595 closed

[2020-07-11 17:31] mik-laj commented on #9083
@mdediana This is expected. This class cannot be used in backport packages unless this class is available for 1.10.  When we release a new Airflow with this class, we can also release a backport package that depends on this class. Otherwise, we will have a class that no one can use.

[2020-07-11 17:56] morrme commented on #9708
@mik-laj I'd like to do another one. Is `datadog ` available? If so, feel free to assign any others to me. :)

[2020-07-11 18:00] mdediana commented on #9083
@mik-laj Not sure if I follow, so it is OK to have the backport tests failing in this case? Or should I do the same as was done with `ElasticsearchTaskHandler` and remove the `ExternalLoggingMixin` dependency for the moment?

[2020-07-11 18:00] OmairK commented on #9708
I think no one has started working on `datadog` so why dont you go ahead and make draft PR :smile_cat:

[2020-07-11 18:43] potiuk commented on #9083
You need to remove the dependecy @mdediana

[2020-07-11 18:45] potiuk commented on #9763
Also, if you are trying to install Airflow for the first time. I definitely recommend to install the latest released version 1.10.11.

[2020-07-11 19:06] #8577 closed

[2020-07-11 19:07] potiuk commented on #8577
For now manual tags is enough

[2020-07-11 19:08] potiuk commented on #8574
Updated it manually and latest points now to 1.10.11-python3.6.

[2020-07-11 19:15] #8574 closed

[2020-07-11 19:19] potiuk commented on #8255
I think that one will be the last remaining in 1.10.11 milestone (I margin the other one shortly and it does no have to be released as it is just matter documentation)

[2020-07-11 19:21] #8578 closed

[2020-07-11 20:06] mdediana commented on #9083
@mik-laj @potiuk Done, thanks for the help.

[2020-07-11 23:28] kaxil commented on #8765
We should definitely create the rules similar to what Kamil did in his PR and additionally have a flag that automatically fixes (where possible).

Google Doc, Confluence (https://cwiki.apache.org/confluence/display/AIRFLOW/) is fine if we want to review and add comments.

[2020-07-12 08:21] vsimon opened #9777 "Helm chart webserver pod does not start when setting the webserver base url"
**Apache Airflow version**:
1.10.11

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
1.15.11

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

Utilize a proxy in front of the airflow webserver service which proxies the `/airflo

[2020-07-12 09:34] feluelle commented on #9742
Thank you for your interest @morrme I will try to expand the description and what to do to solve this issue. 😊

[2020-07-12 12:32] #9083 closed

[2020-07-12 12:36] potiuk commented on #9753
Isn't that the issue with DAG serialization of the comment field? It looks awfully like it.

[2020-07-12 12:49] kaxil commented on #9753
No, I could reproduce it without DAG Serialization.

[2020-07-12 13:00] potiuk commented on #9753
Right I know what it is and the problem is also in master. Fix is coming.

[2020-07-12 15:26] scrambldchannel commented on #9708
I've created a branch and

Cool, thanks, I've created branch and commit in my fork but have been wrestling with setting up a proper dev env on this machine., will open a PR once I'm back in front of my proper dev setup.

[2020-07-12 15:51] mahadirz opened #9780 "DataProcOperator: TypeError: upload() got an unexpected keyword argument 'bucket_name'"
Some modules version that could help:

apache-airflow==1.10.10
google-cloud-storage==1.26.0

## Logs

[code]

## Potential fix

https://github.com/apache/airflow/blob/96697180d79bfc90f6964a8e99f9dd441789177c/airflow/contrib/operators/dataproc_operator.py#L1105

Remove the name postfix from the bucket_name and object_name.

[code]

[2020-07-12 16:18] potiuk commented on #9780
I thin it's best if you try the backport providers. A lot of errors and problems with 1.10.10 operators have been fixed in master and backport provider pacakges are a way to use those operators in 1.10.

You can install 'apache-airflow-backport-providers-google' package in your Airflow and use the "airflow.providers.google.*' operators.

[2020-07-12 16:19] potiuk commented on #9780
If you test it and see that it works can you let us know and close the ticket please ?

[2020-07-12 16:22] potiuk commented on #9708
Hey @scrambldchannel -> not sure if you know about the 'breeze' development environment for Airflow? It is super easy to work with and it can be set up in 5-10 minutes easily. I just updated the docs and we have now screencast describing how it works - each chapter has accompanying video screencast showing how it works: https://github.com/apache/airflow/blob/master/BREEZE.rst . I heartily recommen

[2020-07-12 16:26] subkanthi commented on #8278
Added unit test for jenkins hook
https://github.com/apache/airflow/pull/9767

[2020-07-12 16:42] #9753 closed

[2020-07-12 16:48] potiuk opened #9781 "Release backport package for cncf.kubernetes"
**Description**

We skipped the cncf.kubernetes when releasing backport packages. This was because the cncf.kubernetes relied heavily on the core kubernetes executor classes and the differences in 1.10 vs. 2.0 for those were quite substantial. In 1.10.11 the Kubernetes executor classes have been been backported by @dimberman (Thanks!) so it should be much easier now to release the "cncf.kubernetes

[2020-07-12 17:01] scrambldchannel commented on #9708
Thanks @potiuk, breeze is indeed cool, I was stuck on an older windows machine and thought I'd cut my losses for now. I just wanted to show I was still interested!

[2020-07-13 05:45] stijndehaes commented on #8453
I fixed that in this pr: https://github.com/apache/airflow/pull/8730

[2020-07-13 08:54] #9112 closed

[2020-07-13 09:12] zhbdesign opened #9789 "You need Python 3.5 or later to use mypy when installing version 1.10.11"
You need Python 3.5 or later to use mypy when installing version 1.10.11. How to solve this problem?

[2020-07-13 10:37] mahadirz commented on #9780
Tested with `pip install pip apache-airflow-backport-providers-google` and afterwards the airflow background processes were restarted.

After the DAG manually triggered, the DAG failed with same errors as above.

## Backport version
[code]

Do I need to modify my current DAG file in order for backport to work (such import statements) or special commands to clear anything like database and etc?

Fo

[2020-07-13 11:00] dephusluke commented on #8453
@stijndehaes it seems that there are issues with your PR. You are changing 1480 files and over 500 commits.

[2020-07-13 11:42] FelixReuthlingerBMW opened #9790 "Cannot trigger multiple DAG runs per second"
I am not sure whether to put this as a bug or feature request (depends on how you see this).
As this might be completely independent from versions, os, k8s, ... I will not add this detail here.

Short: When trying to trigger a DAG via the REST API interface more than once per second the Airflow returns a HTTP 500 error code.

Long: When using Airflow REST API I can send any amount of POST calls, b

[2020-07-13 11:49] mik-laj commented on #9790
You need to set "replace_microseconds" parameter to "False" in body. Unfortunately, this feaature is not documented, but we are working on a new API that will not have this problem.

[2020-07-13 11:55] FelixReuthlingerBMW commented on #9790
Thanks for the lighting-speed reaction ;)
Will try this out.

[2020-07-13 12:02] mik-laj commented on #9780
You must start using the new import paths. This allows you to use new and old operators to be able to migrate gradually..
Please look at: https://github.com/apache/airflow/blob/master/airflow/providers/google/cloud/operators/dlp.py
Google will discuss in detail the migration to new operators at the Airflow Summit conference.
https://airflowsummit.org/sessions/migration-to-airflow-backport-provider

[2020-07-13 12:04] stijndehaes commented on #8453
@dephusluke I rebased when github had problems. Rebasing again looks to have fixed it.

[2020-07-13 13:18] mik-laj commented on #9781
We should also release GKePodOperator, because it depends on cncf.kubernetes.

[2020-07-13 13:34] potiuk commented on #9781
Yep. It's actually been released already, but does not work :(

[2020-07-13 13:36] mik-laj commented on #9781
Is it released?
https://github.com/apache/airflow/blob/master/backport_packages/refactor_backport_packages.py#L592

[2020-07-13 14:02] FelixReuthlingerBMW commented on #9790
Probably this is not available with our version 1.10.10, could you please check?
Using this additional parameter in the body caused permanently getting code 500.

[2020-07-13 14:14] potiuk commented on #9781
@anitakar told that it was not working but I am not 100% sure if it was missing in the package or not importable. Should be easy to check @mik-laj

[2020-07-13 14:20] FelixReuthlingerBMW commented on #9790
I sent a body like this:
{"conf":{...},"run_id":"2020-07-13T01:35:26_14e6b65e-d1c8-4452-bf21-2029e181354d","replace_microseconds":false}
Or should it be boolean inside a string?

[2020-07-13 14:20] jhtimmins commented on #8112
Some thoughts on this:

## Challenge
For the new API, we need to decide how to structure permissions for the API and how they should integrate with the existing user permissions schema.

## Approaches
1. Tie permissions to specific resources and actions. “Read DAG”, “Update TI”, etc.
2. Tie permissions to specific endpoints.
3. Create ad hoc permissions that encapsulate specific actions in the web

[2020-07-13 14:22] potiuk commented on #9789
It'sexpected. Why do you want to use mypy in 2.7 in Airflow?

 MyPy is purely a development dependency and it's not installed with Airflow when you install it without [devel] extra. Python 2.7 is already past the end of life and many tools like MyPy will not work with it any more. In fact MyPy is clear about it in their documentation https://github.com/python/mypy/blob/v0.3.1/README.md#requirement

[2020-07-13 14:22] #9789 closed

[2020-07-13 14:37] mik-laj commented on #9790
Can you try this command?
[code]

[2020-07-13 15:14] jhtimmins commented on #8112
@mik-laj Very curious about your thoughts

[2020-07-13 15:30] ashb commented on #8112
Should this maybe be `['dag_read', 'dag_run_read', 'ti_edit']`?

[2020-07-13 15:45] subkanthi commented on #8540
@felipemoz for this task, were u thinking of using the Mlflow REST API to create runs? I see it very similar to the databricks REST API to start jobs. Im still trying to figure out how to pass the python file location or the model in REST API.

[2020-07-13 16:22] FelixReuthlingerBMW commented on #9790
Ok, this works perfect, thx a lot !! ;)

[2020-07-13 16:22] #9790 closed

[2020-07-13 17:50] #8137 closed

[2020-07-13 18:09] mik-laj commented on #9790
@FelixReuthlingerBMW Can I ask for a review?
https://github.com/apache/airflow/pull/9793

[2020-07-13 18:12] mik-laj commented on #9763
I think we can do nothing to solve this ticket, so I close this ticket. We have a simple workaround - upgrade to the new version of Airflow

[2020-07-13 18:12] #9763 closed

[2020-07-13 18:19] jimmycfa opened #9795 "Add Notification in UI that DAG with Interval Change will not be Scheduled"
**Description**

I ran into this Pitfall today from https://cwiki.apache.org/confluence/display/AIRFLOW/Common+Pitfalls : "When needing to change your start_date and schedule interval, change the name of the dag" I originally had a daily DAG: '03 * * *' I kept the name but changed to weekly '0 3 * * Sun' and the new schedule did not run.

**Use case / motivation**

I think it would be good to have

[2020-07-13 20:31] jhtimmins commented on #8112
@ash I think that's a good question. I can see the argument going either way. Do you know if there's a standard here?

[2020-07-13 20:33] #8724 closed

[2020-07-13 20:52] mik-laj commented on #8112
I think it's best if we reuse the existing operation ID  defined in the API to create permission, if possible.

[code]
If we want, we can combine some operations into one permission e.g. ``get_dag_runs_batch``, ``get_dag_run``, ``get_dag_run`` into ``get_dag_run``.

To emphasize that this is related to the API, we can add a common prefix - `api_` e.g. `api_get_dag_run`.

I don't think that editing

[2020-07-13 20:55] #8526 closed

[2020-07-13 21:16] ashb commented on #8112
Right now we have `can {add,list,edit,delete} on PoolModelView`:

![image](https://user-images.githubusercontent.com/34150/87353260-5c055700-c554-11ea-9313-66528bf87657.png)

Is there ever a valid use case where you want want a user to have permission only to edit (for example) Pools over the API but not the WWW UI (or via WWW UI but not the API?)

I can't think of any, and I would very strongly l

[2020-07-13 21:33] jhtimmins commented on #8112
This seems to highlight the fact that there are two separate questions:
1. Should the UI and API use the same permissions?
2. What should the API permissions be named?

1 seems more important, and solving it should simplify question 2. I'm inclined to use the same permissions, assuming we can get close to replicating existing access via the new permission set.

[2020-07-13 21:55] ashb commented on #8112
(Oh hah, just discovered that FAB has `previous_class_permission_name` and so can handle the migration/rename for us if we choose that route)

[2020-07-13 22:01] crisnamurti opened #9800 "Suppress Airflow Connection INFO Log"
How i can suppress airflow connections INFO logging?
I would like that my INFO logs are show, but airflow INFO not.

[2020-07-13 22:59] vsimon opened #9801 "Helm create default user job unable to pull private registry image"
**Apache Airflow version**:

apache/airflow:1.10.10.1-alpha2-python3.6

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

In the airflow/chart values.yaml file, I defined a regist

[2020-07-13 23:05] sisuo3039 opened #9803 "copy without wild cards does not replace source file name"
Detail issue:
https://stackoverflow.com/questions/62843727/airflow-gcstogcsoperator-destination-object-file-path-not-working

I think the root may be here:
https://github.com/apache/airflow/blob/efe1bdd29b0a02c37f011c1c5783ef295962260d/airflow/providers/google/cloud/transfers/gcs_to_gcs.py#L265
if copy 'abc/' to 'bcd/'
it lists all subfolder file from 'abc/' like 'abc/d.csv','abc/e.csv' but destin

[2020-07-13 23:11] #8121 closed

[2020-07-14 00:57] zhbdesign opened #9807 "The scheduler does not appear to be running"
The scheduler does not appear to be running. Last heartbeat was received 9 seconds ago

The DAGs list may not update, and new tasks will not be scheduled

[2020-07-13 15:45:28,005] {scheduler_ job.py:1349 } INFO - Starting the scheduler

[2020-07-13 15:45:28,005] {scheduler_ job.py:1357 } INFO - Running execute loop for -1 seconds

[2020-07-13 15:45:28,006] {scheduler_ job.py:1358 } INFO - Process

[2020-07-14 01:55] ad-m opened #9808 "Add tests for OpenAPI specification"
**Description**

I notice that we have API specifications that require manual maintenance over time. In order to minimize the risk that it will become outdated, I propose to use its elements during integration tests ( https://github.com/apache/airflow/tree/master/tests/api_connexion/endpoints ).

From my own experience I know that simple verification whether the scheme (selected by hard-coded name

[2020-07-14 02:39] ad-m commented on #9752
As reference implementation source code of `gcloud compute ssh` is available at https://github.com/twistedpair/google-cloud-sdk/blob/35260d66269f5bb1db88c5f1f96365b813c29ce7/google-cloud-sdk/lib/googlecloudsdk/compute/subcommands/ssh.py .

[2020-07-14 06:03] #8542 closed

[2020-07-14 06:34] potiuk commented on #9800
As explained int the README and template here - please use slack to ask questions. See the https://airflow.apache.org/community/ "Ask a Question" chapter for details.

[2020-07-14 06:34] #9800 closed

[2020-07-14 06:48] potiuk commented on #9807
As explained in the README and templates - Please use slack to ask for help in troubleshooting, not the github issues. See "Ask a question" chapter in https://airflow.apache.org/community/

[2020-07-14 06:48] #9807 closed

[2020-07-14 07:08] JeffryMAC commented on #7970
This is so so so so so so so much needed.

[2020-07-14 07:15] potiuk commented on #8674
Fixed in 1.10.11

[2020-07-14 07:15] #8674 closed

[2020-07-14 09:12] potiuk opened #9810 "Yarn.lock should not be present in the prod image"
**Apache Airflow version**:

1.10.11, 2.0.0

**What happened**:

Yarn.lock and package.json file are present in Production image. This make for example security scanners to find vulnerabilities even if they are not really "present".

**What you expected to happen**:

Yarn.lock and package.json should not be present in the image.

**How to reproduce it**:

Run `docker run -it <AIRFLOW_IMAGE>  bash`

[2020-07-14 09:16] potiuk opened #9811 "Update JS packages to latest versions"
**Description**

We have very outdated Javascript dependencies  in our webserver with potentially a lot of vulnerabilities.

Both `master` and `v1-10-test` should be upgraded.

**Use case / motivation**

The .js packges in yarn.lock have not been updated for a while. They already contain a lot of vulnerabilities and we should upgrade and test them.

**Related Issues**

#9810

[2020-07-14 09:38] odracci opened #9812 "Kubernetes executor is broken in Airflow 1.10.11"
**Apache Airflow version**: 1.10.11

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): v1.15.11

**Environment**:

- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

The scheduler can't launch pods if `KubernetesExecutor` defines pod resources
T

[2020-07-14 09:38] hossein-jazayeri opened #9813 "Gantt chart for running dag doesn't show up in Airflow 1.10.11"
**Apache Airflow version**: 1.10.11

**Kernel** (e.g. `uname -a`): Linux 20cb927bb9ef 5.3.0-1017-aws #18~18.04.1-Ubuntu SMP Wed Apr 8 15:12:16 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

**What happened**:
Gantt chart for running dags doesn't show up in RBAC UI & gives javascript errors:
[code]
![Screenshot from 2020-07-14 11-31-15](https://user-images.githubusercontent.com/1238597/87410180-3dd83f00-

[2020-07-14 11:01] ad-m commented on #9808
@mik-laj, could you add label "area:API" and "good first issue"?

[2020-07-14 11:07] ad-m commented on #8111
@mik-laj , have you considered introducing a "token exchange" flow (similiar to RFC8693) instead of adding a new middleware? Then you can effectively support many forms of authentication, where each subsequent form has completely different requirements. I notice that when the scheduler communicates with the REST API, one internal form of authentication will be required. Users expect at least one e

[2020-07-14 13:35] mik-laj commented on #9808
We use [connexion](https://connexion.readthedocs.io/en/latest/request.html#request-validation) to handle this case.  Do you want to add something more?

[2020-07-14 13:44] ad-m commented on #9808
I was not aware that connection are able to validate responses:
https://github.com/apache/airflow/blob/53c0f2d987bf3dbfb59da283287f4aa7b72524ab/airflow/www/extensions/init_views.py#L105

[2020-07-14 13:44] #9808 closed

[2020-07-14 13:49] mik-laj commented on #8111
@ad-m  I do not want to introduce any requirements on the client API. If you want, you can use OAuth2, but you can also implement Kerberos-based or other fashionable protocol.

[2020-07-14 14:23] jhtimmins commented on #8111
@mik-laj have you had a chance to look at what I added in https://github.com/jhtimmins/scratch-airflow-auth/blob/master/auth/__init__.py? Really that code is about defining the interface for interacting with the authentication system. Two questions:
1. What do you think of the interface?
2. Should I implement any additional pieces of the auth system for this specific issue?

[2020-07-14 14:34] #9810 closed

[2020-07-14 20:14] sjmiller609 opened #9823 "Optional allow-list for operator name in metrics"
**Description**

I am seeking approval for a minor feature. We are using Airflow metrics, two of these metrics are airflow.operator_failures_.* and airflow.operator_successes_.*. The name of these metrics will include the operator name, for example airflow.operator_successes_PythonOperator.

With regard to time series data, it is best practice to reduce the possible values for any given attribute

[2020-07-14 22:26] dimon222 commented on #8212
@cmlad yes its the reason for sure. And HTTP vs HTTPS no difference.

I randomly found potential fix in one of previously mentioned issues
https://github.com/apache/airflow/issues/8164#issuecomment-629621571
This works, adding monkey patching in dagbag.py. What is invoking dagbag.py so early ? Not sure.

[2020-07-15 03:47] zhbdesign opened #9826 "Celery command failed"
I use a cluster of four machine components. When I execute the task, the task has been distributed, but there will be errors for each machine. The log is as follows:

[2020-07-15 11:25:46,471: ERROR/ForkPoolWorker-1] None
[2020-07-15 11:25:46,582: ERROR/ForkPoolWorker-2] Task airflow.executors.celery_executor.execute_command[c29ab0dd-7049-4aeb-9023-cda45b9d3462] raised unexpected: AirflowException

[2020-07-15 06:37] zhbdesign commented on #9826
Check the scheduler to see the following log:

[2020-07-15 14:30:40,779] {scheduler_job.py:958} INFO - 2 tasks up for execution:
	<TaskInstance: user_MySql_2_ClickHouse_increment_srt_Activity.MySql_2_ClickHouse_Activity_Activity_Discuss_inc 2020-07-15 14:30:36.508244+00:00 [scheduled]>
	<TaskInstance: user_MySql_2_ClickHouse_increment_srt_Activity.MySql_2_ClickHouse_Activity_Activity_inc 2020-07-1

[2020-07-15 06:52] potiuk commented on #9826
As explained in the issue - please post your questions/troubleshooting at the Slack. (There is #troubleshooting channel there).

[2020-07-15 06:52] #9826 closed

[2020-07-15 07:33] roy-ht opened #9827 "KubernetesPodOperator handles a default value of k8s V1ResourceRequirements as None causes incorrect value"
**Apache Airflow version**: 1.10.11

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.16

**Environment**:

- **Cloud provider or hardware configuration**: Amazon EKS
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

If `resources` argument has partial parameters, KubernetesPodOperator genera

[2020-07-15 07:47] potiuk commented on #9812
@kaxil @dimberman  - I guess that calls for rather fast 1.10.12 ?

[2020-07-15 07:49] potiuk commented on #9812
But I think we should build more comprehensive tests in before And possibly make the #9663 - I am happy to work on that with you.

[2020-07-15 08:01] zhbdesign commented on #9826
[2020-07-15 11:25:46,471: ERROR/ForkPoolWorker-1] None
[2020-07-15 11:25:46,582: ERROR/ForkPoolWorker-2] Task airflow.executors.celery_executor.execute_command[c29ab0dd-7049-4aeb-9023-cda45b9d3462] raised unexpected: AirflowException('Celery command failed',)
Traceback (most recent call last):
File "/usr/local/lib/python3.6/site-packages/airflow/executors/celery_executor.py", line 78, in execute_c

[2020-07-15 08:46] feluelle commented on #9742
Hey @morrme sorry I want to get https://github.com/apache/airflow/pull/9747 in before we can start with this, because I would like to reuse the authentication mechanism there.

I am gonna add more information about what we need to change to solve this ticket. :)

I would probably then simply start with replacing the dependency and then fix the `AzureCosmosDBHook` which is the interface for all ope

[2020-07-15 08:48] feluelle commented on #9742
I would be happy to support you during this. If you want to reach out to me I am on slack, too (feluelle).

[2020-07-15 09:12] potiuk commented on #9827
cc: @dimberman @kaxil -> I guess that one is too for 1.10.12

[2020-07-15 09:21] kaxil commented on #9823
There is already an `allow_list` feature that can be improved (or might be sufficient)

https://airflow.readthedocs.io/en/1.10.11/metrics.html#setup
PR that added that feature: https://github.com/apache/airflow/pull/6130

[code]

I could imagine the following setting to meet our need @sjmiller609 :

[code]

[2020-07-15 09:23] kaxil commented on #9812
Yeah, we might need to. Let's test this today.

I tried with default settings y'day and all worked fine. Today. I will try with setting `executor_config`

[2020-07-15 09:34] kaxil commented on #9813
I was not able to reproduce this. Anyone else can reproduce this, please?

@hossein-jazayeri Is this RBAC UI or Flask-admin based UI

[2020-07-15 09:46] hossein-jazayeri commented on #9813
It's RBAC UI

[2020-07-15 09:47] zhbdesign opened #9828 "subprocess.CalledProcessError"
**Apache Airflow version**:1.10.11

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:centos7

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
NAME="CentOS Linux"
VERSION="7 (Core)"
ID="centos"
ID_LIKE="rhel fedora"
VERSION_ID="7"
PRETTY_NAME="CentOS Linux 7 (Core)"
ANSI_COLOR="0;31"
CPE_NAME="cpe:/o:centos:centos:7

[2020-07-15 10:18] #8119 closed

[2020-07-15 10:39] potiuk commented on #9813
I could not reproduce it via RBAC UI either. @hossein-jazayeri . Can you share more information about your browser and check some other browsers? This looks like a browser compatibility issue.

[2020-07-15 10:46] mik-laj opened #9829 "Add code-snippets to REST API Reference"
Hello,

We have a reference API based on [redoc](https://github.com/Redocly/redoc).
https://airflow.readthedocs.io/en/latest/stable-rest-api/redoc.html
It has possibility to add code samples of using the API in different languages thanks to the x-codesamples extension. This will facilitate the use of this API and will also provide ready documentation for these clients. Less duplicate documentation

[2020-07-15 10:50] potiuk commented on #9829
<3

The power of using Open-API :)

J.

On Wed, Jul 15, 2020 at 12:47 PM Kamil Breguła <notifications@github.com>
wrote:

--

Jarek Potiuk
Polidea <https://www.polidea.com/> | Principal Software Engineer

M: +48 660 796 129 <+48660796129>
[image: Polidea] <https://www.polidea.com/>

[2020-07-15 10:53] kaxil commented on #9829
Yup definitely

[2020-07-15 11:35] hossein-jazayeri commented on #9813
It's happening on both Firefox 78.0.1 (64-bit) & Chrome 83.0.4103.116 (Official Build) (64-bit)

[2020-07-15 11:37] hossein-jazayeri commented on #9813
I can see the gantt chart for not running dags btw, only it doesn't show up for running ones

[2020-07-15 11:39] kaxil commented on #9813
I am on the same version though:

[code]

[2020-07-15 12:02] kaxil commented on #9812
So the fix for this might just be:

[code]

WDYT @odracci ?

[2020-07-15 12:06] potiuk commented on #9813
Let me also try it.

[2020-07-15 12:19] potiuk commented on #9813
While running my version I also hit this problem (with locale): https://github.com/apache/airflow/issues/9100 Marking that to solve in  .12

[2020-07-15 12:19] potiuk commented on #9100
Reproduced it - likely connected with Locale settings.

[2020-07-15 12:21] kaxil commented on #9813
Were you able to reproduce this issue  (#9813) too?

[2020-07-15 12:25] potiuk commented on #9100
OK. The problem is with bad cookies if you switch from "old" UI to "new RBAC" UI. You need to clear cookies if you do it.

[2020-07-15 12:25] #9100 closed

[2020-07-15 12:27] potiuk commented on #9813
Looking at it. And BTW Just closed #9100  - it was caused by cookies. If you switch between old UI and new UI, you need to clear cookies :)

[2020-07-15 12:32] potiuk commented on #9100
Yep. Confirmed - same for me.

![Screenshot from 2020-07-15 14-29-55](https://user-images.githubusercontent.com/595491/87545313-080b8700-c6a8-11ea-9d0f-e56fb1d8b7f1.png)

[2020-07-15 12:33] potiuk commented on #9813
Confirmed:

![Screenshot from 2020-07-15 14-29-55](https://user-images.githubusercontent.com/595491/87545423-2c676380-c6a8-11ea-97e5-f59d219e18c0.png)

[2020-07-15 12:34] potiuk commented on #9813
Static missing ?

[2020-07-15 13:06] potiuk commented on #9813
Could not reproduce :(

[2020-07-15 13:14] #9558 closed

[2020-07-15 13:24] nathadfield opened #9830 "BigQueryTableExistenceSensor needs to specify keyword arguments for `hook.table_exists`"
**Apache Airflow version**: 1.10.*
**Environment**:

- **Cloud provider or hardware configuration**: GCP
- **OS** (e.g. from /etc/os-release):
PRETTY_NAME="Debian GNU/Linux 9 (stretch)"
NAME="Debian GNU/Linux"
VERSION_ID="9"
VERSION="9 (stretch)"
VERSION_CODENAME=stretch
ID=debian

- **Kernel** (e.g. `uname -a`): Linux ad0a7f00d44a 4.19.76-linuxkit #1 SMP Tue May 26 11:42:35 UTC 2020 x86_64 GNU/Li

[2020-07-15 13:46] ashb commented on #9823
I think something more custom might be what we want here -- rather than just limiting the list, we could allow mutatation of the stats names:

https://github.com/astronomer/airflow/blob/dd6aa13a805bbb3e2a180758f5cb572590f37950/airflow/settings.py#L75-L110

[2020-07-15 13:57] cjsekl opened #9834 "Surface cursor.rowcount in PostgresOperator"
**Description**

The `Cursor` object in `psycopg2` provides a useful feature of logging how many rows were affected by the last execute.
https://www.psycopg.org/docs/cursor.html#cursor.rowcount
This can be added as a parameter to `PostgresOperator` and passed through to `DbApiHook.run` to log affected row after each query.

The operator parameter could be a `verbose` flag that when enabled logs th

[2020-07-15 14:59] trevorprater opened #9837 "LocalTaskJob Heartbeat Spamming (yields 800MB log) and a DAG that runs for nearly an hour."
**Apache Airflow version**: 1.10.10

**Environment**: Centos Linux 7

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): Centos Linux 7
- **Kernel** (e.g. `uname -a`): cannot disclose
- **Install tools**: n/a
- **Others**: n/a

**What happened**:
I am re-posting [#9735](https://github.com/apache/airflow/issues/9735) (original did not use the issue template). I ha

[2020-07-15 15:04] turbaszek commented on #9834
Hi @cjsekl would you like to work on this feature?

[2020-07-15 15:32] turbaszek commented on #8999
Not sure what the issue is, @mans2singh can you explain?

[2020-07-15 15:36] turbaszek commented on #8221
Closing as we are using GA

[2020-07-15 15:36] #8221 closed

[2020-07-15 15:45] gamebusterz commented on #9834
I have implemented this in the pipelines I've built to help with logging and debugging. So this looks like a good first issue for me to start with.
@turbaszek @cjsekl  Can I pick this up?

[2020-07-15 15:45] cjsekl commented on #9834
Yes, I was planning on using this for the workshop

[2020-07-15 15:50] morrme commented on #9742
@feluelle I appreciate it, but I do not have an account, so I don't think I'm able to help. I saw that there were a few of these but not sure what was required to assist.

[2020-07-15 15:57] feluelle commented on #8766
That's true. At least there should be a `howto` docs guide on how to set up the connection properly.

[2020-07-15 16:16] kaxil commented on #8766
That can be a good first-issue to add docs :) what to create that issue @feluelle ?

[2020-07-15 16:39] odracci commented on #9812
@kaxil yes, we need to remove the params from `namespaced`

[2020-07-15 16:45] kaxil commented on #9827
Yup they are related

[2020-07-15 17:22] ashwinshankar77 commented on #8583
@turbaszek I will take a stab at this one

[2020-07-15 18:19] #8583 closed

[2020-07-15 18:39] aladinoss opened #9840 "Custom operator name field dont accept special characters"
**Apache Airflow version**: 1.10.2 --> 1.10.11

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**: Internal Cloud solution (VM hosting)
- **OS** (e.g. from /etc/os-release): rhel 7.7
- **Kernel** (e.g. `uname -a`): any
- **Install tools**: pypi
- **Others**:

**What happened**:

Cant import operator if na

[2020-07-15 20:03] Handtaker23 commented on #8923
@turbaszek I am happy to make my running hooks and operators for this "official airflow repo ready". I am using them already for many months in production. Time is my enemy at the moment. :(

[2020-07-15 20:08] potiuk commented on #9840
Will take a look at  it shortly @aladinoss :)

[2020-07-15 20:44] NikolasOliveira commented on #8687
Hey @potiuk & @turbaszek Thanks for the Airflow Contributor session this morning :)

Do you mind if I take this as my starter task?

Cheers,
Niko

[2020-07-16 01:51] uns1 opened #9852 "dag_run.conf is NoneType when running example_trigger_target_dag from example_dags"
**Apache Airflow version**: 1.10.9 & 1.10.11
**Environment**:
- **Cloud provider or hardware configuration**: Local PC running Docker on Windows through WSL2
- **OS** (e.g. from /etc/os-release): Debian GNU/Linux 10 (buster)
- **Kernel** (e.g. `uname -a`): Linux ba34d8b76277 4.19.104-microsoft-standard #1 SMP Wed Feb 19 06:37:35 UTC 2020 x86_64 GNU/Linux
- **Install tools**: Docker + Python 3.7
-

[2020-07-16 02:10] aneesh-joseph commented on #9812
Came across the same problem yesterday and used this as a work around

[code]

[2020-07-16 02:12] aneesh-joseph commented on #9827
I used this as a work around - https://github.com/apache/airflow/issues/9812#issuecomment-659113921

[2020-07-16 03:06] shamoji-tech commented on #9410
I found the solution.
version of grpcio in requirements.txt is old version. I use 1.22.0 but need 1.29.0 .

[2020-07-16 03:06] #9410 closed

[2020-07-16 05:50] zhbdesign commented on #9828
I succeeded in executing the task alone,commond:airflow run user_MySql_2_ClickHouse_increment_srt_Activity MySql_2_ClickHouse_Activity_Activity_inc 2020-07-16T14:17:49.938312+08:00.

Testing with Python was also successful,The Python code is as follows:
def execute_command(command_to_exec):
    """Executes command."""
    if command_to_exec[0:2] != ["airflow", "run"]:
        raise ValueError("The

[2020-07-16 06:06] zhbdesign commented on #9828
Are there similar problems and how to solve them?

[2020-07-16 07:24] fiodarsazanavets opened #9854 "If StatsD metrics are enabled, any action that outputs metrics will fail if StatsD endpoint is not available"
**Apache Airflow version**:
1.10.9

**Environment**:
Docker Swarm

**What happened**:
We are running Airflow in a separate Docker container where we have StatsD metrics enabled. The StatsD server is running in a separate container on the same network and Airflow is configured to send metrics to it.

If, for whatever reason, the StatsD server container is not available, absolutely any Airflow actio

[2020-07-16 07:39] doowhtron commented on #8951
I have got the same issue.  And I found the webserver was blocked in file celery_executor.py line213

            send_pool = Pool(processes=num_processes)

[2020-07-16 07:40] ravigillella commented on #9854
+1

[2020-07-16 09:12] ephraimbuddy commented on #9840
It seems that you are not using super correctly. Can you change the way you are using it?
Change this
``` super(DevMultiplyoperator, self).__init__( * args, ** kwargs)```
to
``` super().__init__( * args, ** kwargs)```

Before initializing your parameters.
[code]
I didn't try this but that's how most operators in airflow are designed.

[2020-07-16 09:26] zhbdesign commented on #9828
Is this a bug? The 1.10.9 we used before is OK

[2020-07-16 10:22] turbaszek commented on #8687
@NikolasOliveira feel free to take this one!

[2020-07-16 10:22] mik-laj commented on #9461
@olchas] Do you want to work on it? It looks like this is a task for you.

[2020-07-16 10:22] #9418 closed

[2020-07-16 10:23] turbaszek commented on #8923
@Handtaker23 it's always a good starting point but no pressure 👍

[2020-07-16 10:23] mik-laj commented on #8803
@olchas] Do you want to work on it? It looks like this is a task for you.

[2020-07-16 10:34] ad-m commented on #8803
Dear @olchas, I will be very happy to support you to implement this in an effective way. I have spent hours analyzing these kinds of mechanisms at different cloud providers. I do not have deep knowledge about Airflow, but @mik-laj is on the issue and he will surely support us with his excellent knowledge about Airflow.

[2020-07-16 11:04] #9852 closed

[2020-07-16 11:57] mik-laj opened #9855 "Import connections/variables from a file"
Hello,

We have a new local file system secret backend that allows us to load connections and variables from files. We support 3 file formats: YAML, JSON, ENV.
https://airflow.readthedocs.io/en/latest/howto/use-alternative-secrets-backend.html#local-filesystem-secrets-backend
https://github.com/apache/airflow/blob/master/airflow/secrets/local_filesystem.py
I think we can use the same code to creat

[2020-07-16 12:02] feluelle commented on #8688
Can you try `{{ var.json.get("csba-catalog").sandbox }}` and see if that works.

Source: https://stackoverflow.com/questions/32744047/parsing-a-token-with-hyphen-in-jinja

[2020-07-16 12:02] mik-laj opened #9856 "Export connection/variable to file"
Hello,

We have a ticket about importing connections and variable
https://github.com/apache/airflow/issues/9855

- `airflow connections export`
- `airflow variables export`

To facilitate the management, it would also be useful to create this file using the CLI. We should support 3 file formats.

Best regards,
Kamil Breguła

[2020-07-16 12:05] feluelle commented on #8688
Also: https://stackoverflow.com/questions/17687534/jinja2-variables-naming-are-variables-naming-restrictions-the-same-as-for-pyth

I could not find an officiial source regarding naming convention in jinja2. :/

[2020-07-16 12:17] scrambldchannel opened #9857 "Breeze - selecting "all" integrations option doesn't work"
**Apache Airflow version**:

2.0.0.dev0 (ie master branch)

**Kubernetes version: n/a

**Environment**:

- **Cloud provider or hardware configuration**: Local machine
- **OS** Ubuntu 20
- **Kernel** (e.g. `uname -a`): `5.4.0-40-generic #44-Ubuntu SMP  x86_64 GNU/Linux`
- **Install tools**: git
- **Others**:

**What happened**:

I have setup breeze automplete and I'm trying to run breeze with all i

[2020-07-16 13:28] olchas commented on #9461
@mik-laj sure. Could you assign me to this issue, please?

[2020-07-16 13:50] #9801 closed

[2020-07-16 16:54] marcusianlevine opened #9860 "Kubernetes Executor Config Volumes Break Airflow UI"
**Apache Airflow version**: 1.10.11

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.16.9

**Environment**:

- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): Ubuntu
- **Kernel** (e.g. `uname -a`): `5.3.0-1019-aws #21~18.04.1-Ubuntu SMP x86_64 GNU/Linux`
- **Install tools**: Docker image with Airflow `pip` installed via `pipen

[2020-07-16 16:55] olchas commented on #8803
@mik-laj sure. Could you assign me to this issue, please?

@ad-m, thanks for the offer. I am uncertain about supporting impersonation via environment variable. As far as I know, there is no mechanism to provide a value of environment variable specifically for a single Task Instance, so with this approach all Task Instances would be impersonating the same account (for example, GOOGLE_APPLICATION_CR

[2020-07-16 19:01] subkanthi commented on #9134
@mik-laj , @zhongjiajie is it OK if i just work on the simple flinksubmit operator first, maybe we can have another issue for the streaming part?

[2020-07-16 20:20] #8160 closed

[2020-07-17 04:00] uns1 commented on #9852
Thanks @kaxil! While this ensures that conf will always return a dictionary and not None, my issue is that conf is not being passed from the controller to the target dag at all - as per the example_dags.

In the context of the example, the key value pair of "message":"Hello World" is not making it through to the target dag.

[2020-07-17 05:07] sabir-piludiya opened #9863 "Resource requirement for Kubernetes Executor"
I would like to know how much resource is required to setup Airflow in Kubernetes and having Kubernetes executor. I haven't find the required memory and CPU for that anywhere.

[2020-07-17 05:21] potiuk commented on #9863
Hello @sabir-piludiya - as explained in the template please use our slack #troubleshooting channel in slack as described in https://airflow.apache.org/community/

[2020-07-17 05:21] #9863 closed

[2020-07-17 05:51] yarons opened #9864 "Allow localization of UI"
**Description**

I want to be able to translate the UI and possibly also adapt it to RTL (for Hebrew, Arabic, Persian, etc.)

**Use case / motivation**

I think that Airflow is very friendly in terms of UI and allowing the users to use Airflow in their own language might increase adoption and popularity and may also increase using this UI as data pipeline management tool for non developers.

**Rel

[2020-07-17 07:04] #9548 closed

[2020-07-17 07:38] aneesh-joseph commented on #9860
It should work if you pass in `kubernetes.client.models.V1VolumeMount` and `kubernetes.client.models.V1Volume` instead
 of  `VolumeMount`  and `Volume` .  I think we now have greater control on how the worker pods are generated - https://github.com/apache/airflow/blob/1.10.11/airflow/kubernetes/pod_generator.py#L111-L170

@kaxil  , hope this flexibility will be available in 1.10.12 as well :)

[2020-07-17 10:14] scrambldchannel opened #9866 "check-integrations pre commit test failing when it shouldn't"
**Apache Airflow version**: 2.0.0.dev0 (ie master branch)

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): n/a

**Environment**:

- **Cloud provider or hardware configuration**: Local
- **OS** (e.g. from /etc/os-release): Ununtu 20
- **Kernel** (e.g. `uname -a`): 5.4.0-40-generic #44-Ubuntu SMP x86_64 GNU/Linux
- **Install tools**: git
- **Others**:

**What happened**

[2020-07-17 10:51] ashb commented on #8765
Gdoc fine for building up, but anything we point end users at should be in our official docs.

A mode to doc things automatically is desirable, but probably not on by default - as much as I wish everyone used git, I know some people out there don't, so we shouldn't change their files without confirmation (perhaps show a diff then ask y/n?)

[2020-07-17 12:22] turbaszek commented on #8765
Bowler has this option

[2020-07-17 13:23] uns1 opened #9870 "conf is not getting passed from TriggerDagRunOperator controller dag to target dag"
**Apache Airflow version**: 1.10.9 & 1.10.11
**Environment**:
- **Cloud provider or hardware configuration**: Local PC running Docker on Windows through WSL2
- **OS** (e.g. from /etc/os-release): Debian GNU/Linux 10 (buster)
- **Kernel** (e.g. `uname -a`): Linux ba34d8b76277 4.19.104-microsoft-standard #1 SMP Wed Feb 19 06:37:35 UTC 2020 x86_64 GNU/Linux
- **Install tools**: Docker + Python 3.7
-

[2020-07-17 13:24] uns1 commented on #9852
I have opened this as a separate issue here : https://github.com/apache/airflow/issues/9870

[2020-07-17 13:29] kaxil commented on #9852
oh I didn't realize, can you share your DAG in the new issue you created for me to reproduce the error

[2020-07-17 13:35] kaxil commented on #9852
Saw your comment here: https://github.com/apache/airflow/pull/9853#issuecomment-659820987 will try to reproduce it today

[2020-07-17 13:51] pcandoalmeida commented on #9538
Hi there, I'm new to the project and was wondering if I could work on this?

[2020-07-17 14:37] kaxil commented on #9866
Fixed in https://github.com/apache/airflow/pull/9869

[2020-07-17 14:37] #9866 closed

[2020-07-17 16:20] mik-laj commented on #9538
@pcandoalmeida I assigned you to this ticket.:-D

[2020-07-17 16:29] mik-laj commented on #9864
We are open to supporting multiple languages. There have been attempts to do this before, but I have not seen the final results of this work. Could you please prepare a POC and translate 1/2 views?  We are open to supporting multiple languages. There have been attempts to do this before, but I have not seen the final results of this work. Could you please prepare a POC and translate 1/2 views?

[2020-07-17 16:56] mik-laj commented on #8803
@olchas It seems to me that we should define it at the task level.  From the user's point of view, this should be as easy to use as in gcloud.
[code]
There is only one difference. Instead of using the `--account` option, we have `gcp_conn_id`.

If you want to play around with it then you can use the script below.
[code]

[2020-07-17 17:17] olchas commented on #8803
@mik-laj I agree, for users it will definitely be better to be able to specify it at task level.

I was looking at implementation of [google.auth.impersonated_credentials module](https://google-auth.readthedocs.io/en/latest/reference/google.auth.impersonated_credentials.html) and there I found that you can actually specify a chain of service accounts leading to the final one, that is supposed to g

[2020-07-17 17:36] joshkadis commented on #9538
Ha, I was just coming back to ask the same thing. Good luck @pcandoalmeida !

[2020-07-17 17:44] mik-laj commented on #8803
@olchas Sounds goods to me. Can you prepare a POC with one operator and no unit tests?

[2020-07-17 18:00] mik-laj commented on #9461
@olchas We first need to ask a basic question. Shouldn't we abandon support for this feature? In what cases does it work? In what cases does it not work?

[2020-07-17 19:39] apoorvanand opened #9871 "Editing DAGs through ui"
Currenlty users can only view the code of DAG in ui but if it support the editing also it would be great feature to consider .

[2020-07-17 21:03] pcandoalmeida commented on #9538
Thanks @joshkadis! I've checked the linked code and I believe the referenced line renders the browser's window (page) title. If I understood correctly the suggestion was to enable a configuration option for the UI `DAG` default header, so [here](https://github.com/apache/airflow/blob/ba2b5e24607eeef83fb13c958c5fb89131df4152/airflow/www/templates/airflow/dags.html#L37)? Just thought I'd clarify to

[2020-07-17 23:28] mik-laj opened #9873 "Authentication to AWS using GCP credentials"
ÀHello,

We can use [OpenID Connect Federation](https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_providers.html) in [AWS Security Token Service](https://docs.aws.amazon.com/STS/latest/APIReference/welcome.html) to be able to use Google identity credentials to access AWS services.
If we obtain identity credentials using the Google metaserver, we will not have to use any long-lived authoriz

[2020-07-18 00:20] ad-m commented on #9873
I don't have full knowledge of Airflow environment in Kubernetes, but can we use Google Kubernetes Service Account Token instead of Google ID Token? Then there is no limitation to the use of the Google environment. From the AWS SDK perspective, integration is limited to setting two environment variables:
- AWS_WEB_IDENTITY_TOKEN_FILE - path to file with Id Token
- AWS_ROLE_ARN - target identificat

[2020-07-18 04:50] mik-laj commented on #9873
@ad-m Not everyone uses Kubernetes on GCP. On the other hand, we can add more a well-known external OpenID Connect (OIDC)-compatible IdP in the nest step. Our GCP user community is very active and likes to create new solutions that can then be expanded with independent solutions.

@olchas I know you work for [Impersonation in Google integration](https://github.com/apache/airflow/issues/8803). This

[2020-07-18 06:31] scrambldchannel commented on #9857
Closing as resolved by https://github.com/apache/airflow/pull/9872

[2020-07-18 06:31] #9857 closed

[2020-07-18 09:40] rootcss commented on #8278
I've picked Cassandra table and record sensors hook.
[code]

[2020-07-18 10:52] rootcss commented on #8278
Picked  `tests/providers/apache/hdfs/sensors/test_web_hdfs.py`

[2020-07-18 11:15] mik-laj commented on #8278
@rootcss Wouldn't you be willing to give some love for this ticket?
https://github.com/apache/airflow/issues/8189

[2020-07-18 11:29] joshkadis commented on #9538
👍 I was probably looking at both and pasted a link to the wrong line of code. What do you think about having the config apply to both places?

[2020-07-18 12:03] pcandoalmeida commented on #9538
I think we could certainly look into it as it won't involve too much more work. A thought I have is if the UI options are already extensive, it could be a bit too much and would prefer the header option myself as I think that could be really useful over the page title. But if we think adding both would be valuable, then let's try and go for it.

[2020-07-18 15:08] scoiatael commented on #9662
@ephraimbuddy I'll see if I can manage to get some time allocated for that, but I'm not very optimistic about that.

[2020-07-18 17:36] #9609 closed

[2020-07-18 20:15] rootcss commented on #8278
@mik-laj Here's some more ❤️ for Cassandra - https://github.com/apache/airflow/pull/9877

[2020-07-18 20:33] rootcss commented on #8189
I've picked this one.

[2020-07-18 20:43] joshkadis commented on #9538
As far as I can, the only configurable UI option is [`navbar_color`](https://airflow.apache.org/docs/stable/configurations-ref.html#navbar-color).

Personally I'd find it super helpful to apply this option to the document title and the `<h2>` in the UI. How about a variable like:

----

### site_title
Sets a title to show in the browser tab and the DAGs overview page.

**Type**
string
**Default**

[2020-07-18 20:48] utkarsharma2 commented on #9855
Hey mik-laj,

What should happen to existing connections? should we override them?/let them be untouched?/ask for user input?

[2020-07-18 23:55] mik-laj commented on #9855
@utkarsharma2 By default, the operation should be canceled, but with an additional option it should be possible to change this behavior ``--overwrite-existing``.

[2020-07-19 06:05] chipmyersjr commented on #9708
@mik-laj  i'd like to try the grpc provider

[2020-07-19 08:16] JeffryMAC commented on #8471
@wojtek2kdev  are you working on this?

[2020-07-19 08:18] JeffryMAC commented on #8931
thx @mik-laj  is there any documentation on how to add more graphs to the UI?

[2020-07-19 09:05] ari-hacks commented on #8278
I'd like to tackle ` tests/providers/microsoft/azure/sensors/test_azure_cosmos.py`

[2020-07-19 09:06] mik-laj commented on #9708
@chipmyersjr I assigned you to this ticket  😺

[2020-07-19 09:48] mik-laj commented on #8931
@JeffryMAC I haven't seen it, but we use [FAB](https://flask-appbuilder.readthedocs.io/en/latest/) to build views and [nvd3](https://pypi.org/project/python-nvd3/) as a graph library

[2020-07-19 19:52] #8189 closed

[2020-07-19 20:15] pcandoalmeida commented on #9538
This could work! I've made some changes and am currently testing the header change, but if that works, I can then look to make it work for `site_title`.

[2020-07-19 20:53] alekzander9 opened #9886 "Implement the ability to select multiple tasks in the Graph and Tree views"
**Description**

The possibility to select multiple tasks (by a long click) in the Graph (and/or Tree) views in order to apply an action to all of them with the pop-up dialog (for example clear or mark as success).

**Use case / motivation**

Sometimes it is convenient to have the ability to apply an action to a subset of tasks in a DAG that don't have anything in common. For example if you have t

[2020-07-19 20:53] alekzander9 commented on #9886
If you're interested by this feature I'm willing to work on it

[2020-07-19 21:32] fuyi commented on #9028
@ofaakye I just verified that this issue happens only on v1.10.10, not on the master branch. I am working on a patch to fix this.

[2020-07-20 03:15] darwinyip commented on #9708
I would like to give IMAP a shot

[2020-07-20 03:58] JeffryMAC commented on #9864
@yarons  one of the attempt to do this https://github.com/apache/airflow/pull/5344

[2020-07-20 05:50] mik-laj commented on #8111
@jhtimmins Hi. I started cleaning up the authentication code for the experimental API and I like the concept that is implemented there. Auth backend selection is done with option`auth_backend` in `api` section.
Each backend must have 2 defined methods:
 - `init_app(app: Flask)` - function invoked when creating a flash application, which allows you to add a new view.
 - `requires_authentication(fn:

[2020-07-20 06:50] eladkal commented on #8688
I worked around by not using hyphen changed it to underscore :)
so this isn't really an Airflow issue. Shall I closed this?

[2020-07-20 08:06] feluelle commented on #8688
Agree this isn't an Airflow Issue.

[2020-07-20 08:06] #8688 closed

[2020-07-20 08:08] fuyi commented on #9028
@ofaakye This issue is fixed on v1.10.11. You can just update to that version.

[2020-07-20 08:08] #9028 closed

[2020-07-20 08:51] jhtimmins commented on #8111
Hi @mik-laj, if what we have is working, then it probably makes the most sense to do as you say and continue with the current architecture.

Do you think there is value in allowing different auth rules on a view-by-view basis? If so, parts of my design support this.

It seems like Airflow would benefit from having a few prebuilt backends with common authentication schemes (Bearer Token, JWT, basic

[2020-07-20 09:13] mik-laj commented on #8111
Do you mean authorizations/permission control?  We have a separate issue about it: https://github.com/apache/airflow/issues/8112
I haven't thought about this topic in detail yet. This week, I'd like to do that. I will probably want to do everything as Ash suggested.

It is beyond the scope of the current work. Personally, I will try to ensure integrations with CAS (e.g. [KeyCloak](https://www.keyc

[2020-07-20 12:03] fuyi commented on #9166
Since DAG run failed due to `dagrun_timeout` reached. this is not a bug. close for now

[2020-07-20 12:03] #9166 closed

[2020-07-20 15:20] turbaszek commented on #9834
Closing as this was done in #9841

[2020-07-20 15:20] #9834 closed

[2020-07-20 17:02] nathadfield opened #9897 "BigQueryToGCSOperator doesn't seem to do anything"
**Apache Airflow version**: 1.10.*

**Environment**:

- **Cloud provider or hardware configuration**: GCP
- **OS** (e.g. from /etc/os-release):
PRETTY_NAME="Debian GNU/Linux 9 (stretch)"
NAME="Debian GNU/Linux"
VERSION_ID="9"
VERSION="9 (stretch)"
VERSION_CODENAME=stretch
ID=debian

**What happened**:

When using the `BigQueryToGCSOperator` in `providers.google.cloud.transfers.bigquery_to_gcs` wit

[2020-07-20 17:10] ryw opened #9898 "GPL dependencies"
We need to [avoid GPL](https://www.apache.org/licenses/GPL-compatibility.html).

Snyk is reporting the following dependencies in our requirements.txt for python 3.6, 3.7, 3.8 are GPL v3:

* jaydebeapi v1.2.3
* mysql-connector-python v8.0.18
* pysmbclient	v0.1.5
* unidecode v1.1.1
* yamllint v1.23.0

I see some previous discussion + mitigation for `unidecode` but not all of these.

[2020-07-20 17:23] turbaszek commented on #9898
Should we rise issues in those projects?

[2020-07-20 17:41] ryw commented on #9898
I doubt they'd change their license. We should probably look for ways to factor them out of the project.

* If it's core functionality, we'd need to find or create a replacement.
* If it's ancillary functionality, we could ask users to include those libraries in their own requirements.txt, thus keeping Airflow itself clean.

[2020-07-20 17:51] turbaszek commented on #9897
Thanks @nathadfield for reporting!

[2020-07-20 18:01] potiuk commented on #9898
Sure we should review those. I don't think there is anything to raise in those projects ... if they are using GPL licence, that's their choice.

And it's not all black@white use/no use. But luckily we are perfectly covered and ASF tells us exactly what to do.
The restriction of GPL which belongs to so called "category X" (https://www.apache.org/legal/resolved.html#category-x). And it's quite clear

[2020-07-20 18:08] ryw commented on #9898
Thanks @potiuk - i'll submit a documentation PR around this.

[2020-07-20 18:14] potiuk commented on #9898
Great idea @ryw !  I think by just discussing and documenting/reviewing it we might find some issues we were not aware of. For example I just double checked and I think we should not include "mysql" extra in the binary Docker image of ours.

I just re-read the statement "Apache projects may not distribute Category X licensed components, be it in source or binary form; and be it in ASF source code

[2020-07-20 18:38] nathadfield opened #9900 "bigqueryhook.table_exists always falls back to the default GCP connection_id."
**Apache Airflow version**: 1.10.*

**Environment**:

- **Cloud provider or hardware configuration**: GCP
- **OS** (e.g. from /etc/os-release):
PRETTY_NAME="Debian GNU/Linux 9 (stretch)"
NAME="Debian GNU/Linux"
VERSION_ID="9"
VERSION="9 (stretch)"
VERSION_CODENAME=stretch
ID=debian
- **Install tools**:
- **Others**:

**What happened**:
When running the `BigQueryTableExistenceSensor`, the task alwa

[2020-07-20 19:01] turbaszek commented on #9900
As you mentioned on slack, the `project_id` should be passed to `get_client` in `table_exists` method of the hook. That's visible from your stack trace:
[code]

The `project_id` is optional because all new method use `@GoogleBaseHook.fallback_to_default_project_id` which as name suggest will try to resolve the default value.

@nathadfield would you like to fix it?

[2020-07-20 20:19] waleedsamy opened #9902 "task_instance_mutation_hook not using my custom implementation"
**Apache Airflow version**: v1.10.11

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): NO

**Environment**: airflow 1.10.11 running on ubuntu 18.04 (used pip for installation)

- **Cloud provider or hardware configuration**: bare metal
- **OS** (e.g. from /etc/os-release): ubuntu 18.04
- **Kernel** (e.g. `uname -a`): Linux dev1 4.15.0-108-generic 109-Ubuntu SMP Fri Jun

[2020-07-20 21:54] kaxil commented on #9898
We will have to review all the docker dependencies too in that case

https://github.com/apache/airflow/blob/master/Dockerfile#L94-L125

We might be good but we should probably start a thread with ASF to check how they treat docker type convenience binaries

[2020-07-21 00:46] pcandoalmeida commented on #9538
<img width="812" alt="Screenshot 2020-07-21 at 1 23 15 AM" src="https://user-images.githubusercontent.com/32943309/87999014-870e1e80-caf1-11ea-85a0-66eda0d9c2a0.png">

I've got this working for the pager header and the page title. Currently, it's under `admin` in airflow.cfg, but this can be changed if someone thinks there's a better place for this option.  The text defaults correctly to `DAGs` wh

[2020-07-21 07:24] thesuperzapper commented on #9316
@pulsar314 should we back-port this into `1.10`?

I am currently just applying the patch above manually.

[2020-07-21 07:35] nathadfield commented on #9900
@turbaszek Thanks!  Yes, I'll fix it.

Is there anything you'd recommend to add from a test perspective too?

[2020-07-21 08:03] xnuinside commented on #8605
my two cents: https://github.com/xnuinside/airflow_in_docker_compose/blob/master/docker-compose-with-celery-executor.yml and .env file for it https://github.com/xnuinside/airflow_in_docker_compose/blob/master/.env

[2020-07-21 08:28] turbaszek commented on #9351
https://github.com/github/renaming

[2020-07-21 08:31] pulsar314 commented on #9316
@thesuperzapper, I also just noticed that this fix is not included into 1.10.11 :\

[2020-07-21 08:34] potiuk commented on #9351
Yep. GitHub suggest to wait a bit as they are working on support to
seamlessly change the branch name.

I think considering the impact it might have on our opened PRs I think it
is a wise thing to wait until this support is ready (even though I'd love
to change it now).

J.

wt., 21 lip 2020, 10:28 użytkownik Tomek Urbaszek <notifications@github.com>
napisał:

[2020-07-21 08:48] turbaszek commented on #9900
I think we should make sure that the project is passed as expected to the underlying client. And I would suggest to run / extend the existing system tests

[2020-07-21 09:42] SteNicholas commented on #9134
@subkanthi How does the operator teminate? The flink submit for streaming application doesn't teminate.

[2020-07-21 09:55] nathadfield commented on #9900
@turbaszek Thanks!  Writing good tests is something that I'm still getting my head around.  Are you able to give me any helpful pointers as to what you'd like to see here?

[2020-07-21 10:02] turbaszek commented on #9900
You should extend those tests:
https://github.com/apache/airflow/blob/c8c52e69c8d9cc1f26f63d95aecc0a6498d40b6f/tests/providers/google/cloud/hooks/test_bigquery.py#L103-L115

with assuring that the `mock_client` was called with proper arguments. In this case with `project_id`.

I think that we can change mocking to mock `get_client` instead of `Client`, that should make testing easier.

[2020-07-21 10:16] #9897 closed

[2020-07-21 12:03] pat-s opened #9912 "Permission denied when enabling SSL from `airflow/bin/cli.py`"
**Apache Airflow version**: 1.10.11

**Environment**:

- **Cloud provider or hardware configuration**: Exoscale
- **OS** (e.g. from /etc/os-release): bionic
- **Kernel** (e.g. `uname -a`): 4.15.0-112-generic
- **Install tools**: Ansible
- **Others**: python 3.7

**What happened**:

Getting a permission error when trying to enable SSL.

[code]

**What you expected to happen**:

Normal startup.

**W

[2020-07-21 12:25] mik-laj commented on #9912
I recommend configuring SSL on the proxy server e.g. Traefik, Nginx. It is not safe to have an SSL certificate, because Airflow executes the user code and this code can steal the certificates.

[2020-07-21 13:30] subkanthi commented on #9134
Is it not the same as spark-submit kill command, we use the flink cancel command.
./bin/flink cancel <jobID>
Are we all referring to starting and cancelling jobs using the CLI?
https://ci.apache.org/projects/flink/flink-docs-release-1.11/ops/cli.html

[2020-07-21 14:00] utkarsharma2 commented on #9855
Hey @mik-laj,

There is already a feature to import variables - `airflow variables import file`, however, this command only accepts the JSON file. Should we augment, existing command?

[2020-07-21 14:00] tambulkar commented on #8649
Is there any update on this?

[2020-07-21 14:03] juzov-mag commented on #8541
1.10.9 still has this issue, or so I believe. What version solves this issue?

[2020-07-21 14:12] turbaszek commented on #8765
I've drafted this doc:
https://docs.google.com/document/d/17tB9KZrH871q3AEafqR_i2I7Nrn-OT7le_P49G65VzM/edit?usp=sharing

The notes from UPDATING.md are split into few general groups (some are present in few places). I suppose that not all entries are important to users / will impact their Airflows.

[2020-07-21 14:30] tambulkar opened #9914 "Add option to prevent most recent run on DAG enable with catchup=False"
**Description**

As mentioned in [AIRFLOW-1156](https://github.com/apache/airflow/pull/8776), I want to add the option to not run the most recent scheduled DAG on enabling.

**Use case / motivation**

We want to be enable the DAG for future runs, but don't want it to run the most recent task automatically, since there are tasks e.g. sending an email, that needs to be done manually on occasion. We

[2020-07-21 15:20] joshkadis commented on #9538
Looks great to me. OH! I just thought of something. HTML encoding so you can't break the page by setting the title to `<div>hello` or `<script>alert('Give me your credit card number')</script>`

[2020-07-21 15:32] olchas commented on #9873
@mik-laj sounds interesting. I could take a look at that once I finish working on impersonation in GCP.

[2020-07-21 16:45] #8058 closed

[2020-07-21 16:46] pcandoalmeida commented on #9538
Good point! I was thinking along similar lines. So anything that is passed in on the configuration file would get converted into a `String` as opposed to actual `HTML` or `Javascript`?

[2020-07-21 17:58] olchas commented on #9461
@mik-laj I am still looking into it. The name suggests that domain-wide delegation only makes sense for G Suite applications (so in terms of Airflow it should only be applied to `GoogleDriveHook` and `GSheetsHook`), but [this article](https://medium.com/google-cloud/impersonating-users-with-google-cloud-platform-service-accounts-ba762db09092) calls it a legacy branding and tells that it applies to

[2020-07-21 19:30] mik-laj commented on #9855
I thought about the extra option for a longer time and I don't think this will cover all cases.

I thiink, we need `merge-dispossition` It should specifies the action that occurs if the variables/connection already exists.
We should support the following values are supported:
`OVERWRITE`: If the table variable/connection exists, we should overwrites the data.
`IGNORE`: If the table variable/connec

[2020-07-21 19:41] mik-laj commented on #9855
We should handle reading values from a standard input. `airflow connection import -` should read value from stdin instead file.

[2020-07-21 19:50] pat-s commented on #9912
Thanks. I'll take a look if I can set up nginx quickly.

Do you know if this could be a possible solution to the issue I faced above?

[2020-07-21 19:55] mik-laj commented on #9912
I suspect that you are trying to run Airflow on a low port(<1024) and that requires high privileges on Linux.
https://www.w3.org/Daemon/User/Installation/PrivilegedPorts.html

[2020-07-21 20:15] NathanFarmer opened #9918 "OracleHook outputtypehandler for corrupted data"
**Description**

Allowing a custom outputtypehandler for querying corrupted Oracle data as defined [here.](https://cx-oracle.readthedocs.io/en/latest/user_guide/sql_execution.html?highlight=outputtypehandler#querying-corrupt-data)

**Use case / motivation**

I am querying a full table that is very old. It contains some corrupted data that I do not have the privileges to change or create a view fro

[2020-07-21 20:31] pat-s commented on #9912
Ah yeah, that makes sense. Mapped it to 443 to have direct SSL access via the domain.
I should better make use of nginx probably.

After mapping it to one > 1024, I am getting some different errors. So I'll guess your hint applies here 👍 Closing here.

Thanks, learned something new today.

[2020-07-21 20:31] #9912 closed

[2020-07-21 21:42] be-rock opened #9919 "Does Airflow have any internal dependencies on the cron scheduler?"
Does Airflow have any internal dependencies on cron or is it expected to run fully on a linux host with the cron daemon (e.g. `/usr/sbin/crond`) disabled?

[2020-07-21 21:46] mik-laj commented on #9919
Github issue is not for asking questions. Please use Slack.

 Airflow is independent of the cron deamon. Scheduled is a pure Python.

[2020-07-21 21:47] #9919 closed

[2020-07-21 23:06] kenjihiraoka commented on #9708
@mik-laj I'd like to get the postgres provider

[2020-07-22 05:17] zikun commented on #9914
I think if `start_date` is set properly, it will not be triggered immediately.

For example, for a DAG that is scheduled to run daily, if you enable it today (2020-07-22) and do not want to trigger the most recent run (execution_date = 2020-07-21) immediately, simply set `start_date` to 2020-07-22 or a later date whenever you want it to start.

[2020-07-22 06:10] #9900 closed

[2020-07-22 08:31] aneesh-joseph opened #9926 "Scheduler errors when using MSSQL as the backend database"
**Apache Airflow version**: 1.10.11

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

**What you expected to happen**:

**How to reproduce it**:

Set MSSQL as the sql connection

[2020-07-22 08:52] Siddharthk opened #9927 "Task logs are not getting populated in Airflow UI"
Apache Airflow version: airflow:1.10.10.1-alpha2-python3.6

Kubernetes version (if you are using kubernetes) (use kubectl version): 1.16.8

Environment:

Cloud provider or hardware configuration: AWS EKS
OS (e.g. from /etc/os-release): Redhat
Install tools: Official Helm Chart

What happened:

Some Tasks are fetching logs from pod. Getting failures when reading logs from S3 bucket.

[code]

What y

[2020-07-22 08:55] asselism opened #9928 "Statsd metrics"
**Apache Airflow version:** 1.10.11

**Environment:**

    OS (e.g. from /etc/os-release): Red Hat
    Python: 3.6

Hi, I was using statsd metrics reporting and I noticed that the "DAG bag size" metric seems to only give the number of active DAGs, not the total number of DAGs. Also the "total parse time" gives a number that is much higher (about 5 times higher) than the number given when I run "ai

[2020-07-22 09:47] aneesh-joseph commented on #9926
got around it by using

[code]

[2020-07-22 10:05] potiuk commented on #9926
Airflow does not support MSSQL officially. Maybe you would like to add tests/support for it in CI @apache/airflow-committers ? WDYT? I think MSSQL comes rather often in the discussions/issues and maybe it's worth to consider official support for it?

[2020-07-22 10:31] aneesh-joseph commented on #9926
sure thing , would love to create a PR  to add MSSQL  into the  CI tests if that's ok

[2020-07-22 10:34] Fokko commented on #9926
Adding it to the CI would be a first step. Curious what we will encounter. I'm all for it.

[2020-07-22 11:03] spektom commented on #9744
Hi @feluelle

I don't think this library provides a way to query Kusto data, it's just a (autogenerated) tool for managing Kusto clusters using ARM templates.

[2020-07-22 11:04] cjsekl commented on #9708
I can start off with `vertica` and `amazon/athena`

[2020-07-22 11:07] potiuk commented on #9926
Please @aneesh-joseph  - let's see how we are doing in MS world. And BTW on Github Actions we can even run tests in Windows environment ;)

[2020-07-22 11:48] kaxil commented on #9926
I am against this. We can start supporting many database and maintain many or use/recommend the ones we are very sure about.

As it is MySql has the deadlock issues since a good amount of time, if we start supporting MSSQL we will encounter more issues that we need to solve.

My opinion would be too only officially support Postgres and MySQL. If users want to use other database they can do it, if

[2020-07-22 12:00] potiuk commented on #9926
@kaxil - why not try to see how we are doing with the tests first? Maybe that on its own will discourage us from further steps?

Or maybe we find that we have only some limited area to address and maybe we can raise the discussion on devlist and userlist to see how many people are actually already using MSSQL (I have the feeling that people are doing this already - judging from a number of questio

[2020-07-22 12:07] kaxil commented on #9926
I am happy for you to take the discussion on the dev list :) - My main concern is we should not try to support everything that users ask for. We need to improve and fix the things that we are already using. MySQL support needs to be improved. Our CI suite is already too big, adding more - means maintaining more. The same time and effort could be used on the core functionalities.

[2020-07-22 12:10] kaxil commented on #9926
And again I am just talking about officially supporting it since SqlAlchemy does support it. Sqlalchmey is a tool designed for supporting and adding more DB specific features. I would rather we or someone who is interested in specific DB help improve those functionalities in SQLAlchemy as that would help the larger community including Airflow.

[2020-07-22 12:19] kaxil commented on #9926
Bear in mind we already need to test Airflow with newer versions of Postgres and MySQL too

Postgres-version: [9.6, 10]
Mysql-version: [5.7]

Soon we should add support for Postgres 12 (maybe drop 9.6 - separate discussion)

Should we add support for MySQL 8 since it was GA since **19 April 2018**

The test suite will keep on increasing.

Same with MSSQL - if we say yes, what versions do we suppor

[2020-07-22 12:22] potiuk commented on #9926
I would indeed like to use the survey (I think this is the only way) to just query and ask the community what are their preferences - we do not need to submit to the preferences - but I think right now we have very little data to make conscious decision on all the points you raised (which versions to support, which one drop). I think asking is no harm :).

[2020-07-22 13:13] coopergillan commented on #9755
One way to achieve something similar with existing functionality is to use a pool. If you set up a pool for all tasks with the given connection, you can set the allotted pools to zero during maintenance. The DAGs don't even need to be paused that way, but you can still count on tasks not getting scheduled. Then when you maintenance is done you can revert the number of pools.

[2020-07-22 13:41] tambulkar commented on #9914
That would only work for the first time you enable it. I don't want to have to keep updating the start date if I disable it and enable it at some point after the start date.

[2020-07-22 13:43] joshkadis commented on #9538
Make sense, thanks for checking that out

[2020-07-22 15:15] gflores1023 commented on #9485
There was recently a bugfix involving catchup=False. Not sure if related, but you can try using the latest Airflow version 1.10.11 to see if the issue persists.

https://github.com/apache/airflow/pull/8776

[2020-07-22 15:40] waleedsamy commented on #9902
fixed by #9910

[2020-07-22 15:40] #9902 closed

[2020-07-22 16:10] zikun commented on #9914
Right. Now I get the point.

I think this is an interesting case and requires some change to part of the scheduling logic. I'll work on it.

[2020-07-22 16:43] NathanFarmer commented on #9918
Solved by overriding the get_records method from the dbapihook class:

[code]

[2020-07-22 16:43] #9918 closed

[2020-07-22 17:55] kyprifog opened #9937 "S3 Backend for metadatabase or DAGS post endpoint."
Would be nice if you could post DAGS to airflow by updating DAG files on s3.  Has anyone worked on this?    Alternatively a rest API endpoint to update DAGS would work.   Right now rest api only seems to support CRUD for dag_runs.

[2020-07-22 18:00] potiuk commented on #9937
There is a whole AIP (AIP-5) dedicated to that: https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-5+Remote+DAG+Fetcher and discussion you could find there. The last conclusion was that we do not want Airflow to build own mechanisms for synchronization of the DAG folder - that it should be done externally (for example using sidecars or well,, cron job :) rather than integrated into Airflow it

[2020-07-22 18:01] #9937 closed

[2020-07-22 18:09] kyprifog commented on #9937
@potiuk Thanks for the quick reply, I have an integration with airflow that would potentially benefiet from being able to submit updates to DAGS either through a rest api or an S3 backend but it sounds like the consensus is that sync should happen externally so it feels a bit akward for the integration to ask for S3 credentials if it then requires someone setting up a sync.    Alot of the conversa

[2020-07-22 18:56] rootcss commented on #8278
I'm picking the following tests:
- [ ] tests/providers/google/cloud/utils/test_field_sanitizer.py
- [ ] tests/providers/google/cloud/utils/test_field_validator.py
- [ ] tests/providers/google/cloud/operators/test_datastore.py
- [ ] tests/providers/microsoft/mssql/hooks/test_mssql.py
- [ ] tests/providers/samba/hooks/test_samba.py
cc: @mik-laj

[2020-07-22 20:35] pcandoalmeida commented on #9538
I have tested with airflow.cfg and environment variables manually and the UI gets updated accordingly. I think for now Flask handles input so that code cannot be injected into `dags.html`. I am a bit stuck on how I can set up some unit tests for this; not sure if @mik-laj you might be able to provide some pointers here? But I'll continue looking into this this week. Hopefully once this is done, I

[2020-07-22 20:45] mik-laj commented on #9538
It's a good idea to add a test that will check that the content is securely protected against XSS attacks.
For the Web UI, it is enough for us to have integration tests.
You should use test client to send HTTP request, check text in response
https://github.com/apache/airflow/blob/33f0cd2657b2e77ea3477e0c93f13f1474be628e/tests/www/test_views.py#L172

[2020-07-22 20:53] metra opened #9939 "Email noise reduction for failing tasks"
**Description**

Failing tasks can create a lot of email noise if you have both `email_on_failure` and `sla` enabled.

**Use case / motivation**

Outside of working hours, say 6pm through 10am, I can receive 16*2 email notifications. Every hour, one email for the failure and one email for the missed SLA.

A few ideas:

- Sending both the SLA miss and the failure email feels redundant.  If a task i

[2020-07-22 21:53] pcandoalmeida opened #9940 "Add SecureString Decryption to AWS Secrets Backend"
**Description**

Add AWS Secrets Manager secrets backend support for SecureString parameters and include role based authentication when connecting to AWS via the SecretsManagerBackend class.

**Use case / motivation**

PR #8186 added support for AWS Secrets Manager as a secrets backend within Airflow. SecureStrings currently do not get decrypted. From what I can also tell from the source code, the

[2020-07-22 22:52] mik-laj opened #9941 "Extra links for Google Cloud operators"
Hello,

Airflow has support for [extra links](https://airflow.readthedocs.io/en/latest/howto/define_extra_link.html), but it is wide-supported common. Only [4 operators](https://github.com/apache/airflow/blob/master/airflow/serialization/serialized_objects.py#L45-L48) support it.

I think we should focus on the most popular services first.

- [x] Cloud Storage https://github.com/apache/airflow/pul

[2020-07-22 23:12] pcandoalmeida commented on #9538
Thank you for the pointers @mik-laj!

[2020-07-22 23:13] mik-laj commented on #9941
@dossett Would you like to help with this ticket?

[2020-07-22 23:30] mik-laj opened #9942 "Incorrect signature of operators"
Hello,

Currently, the signatures of most operators look similar to the following.
[code]
There are two problems here.
1. The ``apply_default`` decorator forces all arguments to be passed as keyword arguments, but this information is not marked in the signature. As of Python 3 it is possible to mark arguments as [keyword-only argument](https://www.python.org/dev/peps/pep-3102/).
2. The `*args` is

[2020-07-23 04:22] kumargauravin opened #9946 "Adding DagID .. Task ID .. Execution Time Stamp .. Run Number to Logging Format"
Hi Team,

Can we add Dag ID, Tag ID, TS and Run Number in Logging format as a prefix to existing things?
Idea is to push all logs into one Azure Log Analytics Table and then able to figure out which log entry for which Dag/Task/TS/Run Number.

Request to share some other idea or already being used process to aggregate all logs in one table yet able to segregate also making logs available in Log An

[2020-07-23 05:16] zikun commented on #9708
Does anyone know what is the best practice for type annotations in test code? Is it recommended to also have type annotations in pytest/unittest functions?

[2020-07-23 07:33] potiuk commented on #9946
Hel @kumargauravin. Please ask your questions at the slack. We use slack for troubleshooting/answering questions. You will find the links at https://airflow.apache.org  community tab,

[2020-07-23 07:33] #9946 closed

[2020-07-23 07:38] potiuk commented on #9940
Sounds like really useful feature! Maybe you would like to contribute it yourself :)? It does not seem to complex and we are happy to guide with the contribution process :)

[2020-07-23 07:39] akki commented on #9310
@CodingJonas Just curious if you asked upstream why `docker-py` behaves that way?
It might be worth asking them to know if they can fix it.

[2020-07-23 07:40] pcandoalmeida commented on #9940
Hi @potiuk sure, I'd love to.

[2020-07-23 07:43] potiuk commented on #9939
Sounds a nice feature @metra . Maybe you would like to contribute it yourself ? We are happy to guide you through contribution process.

[2020-07-23 07:51] potiuk commented on #9940
You can start with https://github.com/apache/airflow/blob/master/CONTRIBUTING.rstt

We also run "First time contributor's" workshops (next one will be likely in September) but you can take a look at the https://cwiki.apache.org/confluence/display/AIRFLOW/First+time+contributor%27s+workshop (a little outdated but still good).
For the development environment there is recently refreshed movie - you c

[2020-07-23 08:01] CodingJonas commented on #9310
That's a good point, I see that I open an issue on their side today and come around to polish my changes for a at least WIP merge request to see if my current solution is feasible :)

[2020-07-23 08:03] potiuk commented on #9708
My personal take - It's definitely less of a concern than in prod code. In many cases it is too much of a burden to add and maintain typing information, especially that code in tests get copy&pasted more than in the prod (https://stackoverflow.com/questions/6453235/what-does-damp-not-dry-mean-when-talking-about-unit-tests)

However when you do have complex structures and want to make use of autoco

[2020-07-23 08:41] mschickensoup commented on #8286
Hello @tanjinP, it's great that you're willing to work on this. I'm looking forward to use these operators 🥇

[2020-07-23 08:51] michalslowikowski00 opened #9949 "Create Operators for Cloud Dataprep"
**Create Operators for Cloud Dataprep**

Google using Dataprep in GCP so we have to create operators for it.
API https://clouddataprep.com/documentation/api#tag/Job

- [DataprepGetJobsForJobGroupOperator]
- [DataprepGetJobGroupOperator]
- [DataprepRunJobGroupOperator]

[2020-07-23 08:52] michalslowikowski00 commented on #9949
I am going to work on it.

[2020-07-23 09:38] mik-laj commented on #8765
@turbaszek I looked at this document. Great job!

I have looked at what changes we have and I think one tool may not solve all our problems. I think that apart from this command, we should take additional action.
- Complete the documentation to make the information for the user clearer, e.g. prepare a migration guide for CLI that will compare new and old commands
- Many problems will only happen d

[2020-07-23 09:46] mik-laj opened #9952 "Migration guide for CLI commands"
Hello,

There have been drastic changes to the CLI between Airflow 1.10 and 2.0. However, these changes are not precisely described in UPDATING.md

The Airflow CLI has been organized so that related commands are grouped together as subcommands. The airflow list_dags command is now airflow dags list, airflow pause is airflow dags pause, etc. For a complete list of updated CLI commands, see https://

[2020-07-23 09:59] turbaszek commented on #8765
Yes I think the upgrade guide for CLI is a much better option than scrpits checking.

Interesting idea, but do you have any idea how to catch "these exceptions" (related to Airflow 2.0) not all?

[2020-07-23 10:08] mik-laj commented on #8765
I think we can detect all problems and display them to the user. Why do you want to hide some problems?

[2020-07-23 10:19] turbaszek commented on #8765
So your idea is to collect all exceptions to db, not only those related to migration / Airflow2?

[2020-07-23 12:15] mik-laj commented on #8765
We can catch all the warnings, but those related to migration fall into one of two categories: DeprecationWarning, FutureWarning.

[2020-07-23 13:04] tanjinP commented on #8286
Thanks again for the reminder - definitely in the works, draft PR coming very soon, I promise 😬

[2020-07-23 13:05] fatmumuhomer opened #9955 "Allow logging configuration at the DAG level"
**Description**

Enable logging configurations at the DAG level to add more flexibility for logging when testing and troubleshooting

**Use case / motivation**

Airflow should provide a way for a DAG or set of DAGs to use a logging configuration specific to it/them. If desired a DAG could use the system logging level, but when necessary a DAG could use a specific logging config to override those s

[2020-07-23 13:17] potiuk commented on #9952
I think we could even implement it in the cli itself - we could add "deprecated" old commands that would print out information about the new commands and exit with error. They could be automatically derived from this documentation created here.

I think changes in the CLI will be a huge surprise to many users so the more information we give the users when they try to run those old commands - the l

[2020-07-23 13:23] turbaszek commented on #8765
I got it, I was misled by the "exceptions" but we are talking about warnings

[2020-07-23 13:42] potiuk commented on #9937
I think we are going a bit different direction. Rather than making Airflow more complex, we are integrating more and more external services using existing tools. For example we have the helm chart in `charts` folder which allows you to set-up Airflow on Kubernetes cluster easily. And one of the  Helm Chart configuration options is to integrate `git sync` sidecar where syncing git via regular proce

[2020-07-23 13:49] turbaszek commented on #9952
I think it's a good idea. We should be able to catch CLI arguments and raise a deprecation warning if someone uses the old command.

[2020-07-23 13:53] JCoder01 opened #9957 "dbapi_hook get_records doesn't accept list."
**Apache Airflow version**:1.10.10

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

passing a list to `dbapi_hook.get_records` fails
`TypeError: argument 1 must be a string or u

[2020-07-23 13:55] potiuk commented on #9952
I think even error will be fine in this case -> the CLI is mostly for manual work, so I do not think we should worry about Deprecation here.

[2020-07-23 15:29] xEviL opened #9958 "KubernetesExecutor doc: missing docs for pod_template_file"
Airflow documentation on `KubernetesExecutor` and its configuration is missing documentation on how to use its most powerful configuration option: `pod_template_file`.

While setting up a test Airflow system with `KubernetesExecutor` to match an existing system that doesn't use it, I found that I need to have do the following:
- mount extra volumes for `worker` pods
- mount secrets as files for `w

[2020-07-23 16:04] kyprifog commented on #9937
@potiuk I guess my point of reference here is the existing POST /dag_runs/ endpoint.    That seems to set a prescedent for being able to create dag runs using the api.  So why wouldn't you also have an endpoint for posting Dags as well?   Also if not a rest api endpoint, this work seems like its 80% of the way to developing a concept of an external airflow registry and directionally consistent wit

[2020-07-23 18:08] rootcss commented on #8278
@mik-laj `MsSqlHook` in airflow/providers/microsoft/mssql/hooks/mssql.py is deprecated. Do we still need to add tests for it?

[2020-07-23 20:53] kaxil commented on #9940
Assigned that issue to you @pcandoalmeida , let me know if you need any help :)

[2020-07-23 20:55] kaxil commented on #9940
environment variables like ``AWS_ACCESS_KEY_ID``, ``AWS_SECRET_ACCESS_KEY``.

https://airflow.readthedocs.io/en/latest/howto/use-alternative-secrets-backend.html#aws-secrets-manager-backend

[2020-07-23 22:48] retornam commented on #9310
@CodingJonas you are hitting a known bug in `docker-py` where is `is_tty` is set and there isn't any streaming output for about 60 seconds, the connection is closed  see https://github.com/docker/docker-py/issues/931#issuecomment-545336374, there is a fix for it  in https://github.com/docker/docker-py/pull/1959

[2020-07-23 23:24] mik-laj commented on #9708
1🐅

[2020-07-24 06:00] cansjt opened #9963 "Don't crash when a getpass.getuser() call fails"
**Apache Airflow version**: 1.10.11

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.18.4

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): Ubuntu 20.04
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

There are many call occurrences to `getpass.getuser()` in the code. None

[2020-07-24 08:19] Pseverin commented on #9610
I'm receiving the same message, when I'm running **long** task (duration more than 1 day) with **KubernetesPodOperator**.

```{taskinstance.py:624} INFO - Dependencies not met for <TaskInstance: **** 2020-07-23T11:23:35+00:00 [running]>, dependency 'Task Instance State' FAILED: Task is in the 'running' state which is not a valid state for execution. The task must be cleared in order to be run.```

[2020-07-24 09:43] Zuchens opened #9966 "Cutom kubernetes_label lost after upgrade to 1.10.11"
**Apache Airflow version**: 1.10.11

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.16

**Environment**:

- **Cloud provider or hardware configuration**: AKS
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**: helm chart
- **Others**: KubernetesExecutor

**What happened**:
We have set up environment variable: AIRFLOW__KUBERNET

[2020-07-24 10:07] doowhtron opened #9967 "task instance is scheduled repeatedly while dag file is pretty large"
**Apache Airflow version**: 1.10.10

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**: VM

- **Cloud provider or hardware configuration**: 8core, 16GB
- **OS** (e.g. from /etc/os-release):  CentOS Linux release 7.2.1511 (Core)
- **Kernel** (e.g. `uname -a`):  3.10.0-514.26.2.el7.x86_64
- **Install tools**:
- **Others**:

**What happened**:

The dag has

[2020-07-24 11:49] kaxil commented on #9966
cc @dimberman

[2020-07-24 12:34] selvamshan opened #9970 "S3ToRedshiftTransfer and RedshiftToS3Transfer with temporary token credentials"
This error is due when use aws temporary token credentials with Redshift IAM Role has policy access s3, No need to provide in s3 connection string  _aws_access_key_id, aws_secret_access_key in extra
INFO -_
            COPY public.stage_customer
            FROM 's3://swire-datalake-dev-bucket/staging/stage_customer'
            with credentials
            'aws_access_key_id=ASIAXNH6R6J2542IIKEA;

[2020-07-24 12:45] selvamshan opened #9971 "S3ToRedshiftTransfer and RedshiftToS3Transfer with role-based access control"
Hi In S3ToRedshiftTransfer and RedshiftToS3Transfer  option for using role-based access control

**To specify role-based access control, provide the credentials-args string in the following format.
'aws_iam_role=arn:aws:iam::<aws-account-id>:role/<role-name>'**

[code]
Thanks and Regards
Selvaraj

[2020-07-24 12:48] selvamshan opened #9972 "S3ToRedshiftTransfer and RedshiftToS3Transfer option for using role-based access control"
Hi In S3ToRedshiftTransfer and RedshiftToS3Transfer  option for using role-based access control

**To specify role-based access control, provide the credentials-args string in the following format.
'aws_iam_role=arn:aws:iam::<aws-account-id>:role/<role-name>'**

[code]
Thanks and Regards
Selvaraj

[2020-07-24 12:51] #9972 closed

[2020-07-24 12:52] selvamshan commented on #9972
dublicate

[2020-07-24 14:07] tambulkar opened #9974 "Add time enabled as macro"
**Description**
Add a macro that includes the time the dag was enabled (unpaused)
**Use case / motivation**
I need a task to take action based on how recently a dag was enabled without having to alter the dag everytime I enable it.

**Related Issues**

[2020-07-24 15:19] match-gabeflores opened #9975 "max_active_runs = 1 can still create multiple active execution runs"
**Edit**: There is a _[separate issue](https://github.com/apache/airflow/issues/13802)_ affecting max_active_runs in 1.10.14. That regression is fixed in 1.10.15. The below issue is still open.

**Apache Airflow version**: 1.10.11, localExecutor

**What happened**:

I have max_active_runs = 1 in my dag file (which consists of multiple tasks) and I manually triggered a dag. While it was running, a

[2020-07-24 15:53] wxm245 opened #9976 "In one DAG one task to next task took a lot of time"
![image](https://user-images.githubusercontent.com/5397597/88410066-6f43dc80-ce08-11ea-810c-853a99513e3d.png)
task1 2020-07-24 22:43 end, but task2 2020-07-24 22:46 just started. so ,I want to know why there is a delay of 3 minutes

[2020-07-24 15:56] aneesh-joseph commented on #9926
I have raised a [PR](https://github.com/apache/airflow/pull/9973) to include mssql support with breeze( `./breeze --backend=mssql` )  .This should hopefully make it easier to test locally if anyone wants to contribute fixes for mssql compatibility.

[2020-07-24 16:56] kaxil commented on #9926
Thanks @aneesh-joseph , appreciate it :)

[2020-07-24 17:15] swapniel99 commented on #8605
Hi,

I have made a PR which uses the official airflow image in Docker Compose files which Puckel made.
It works in both local and Celery Executors.

[2020-07-24 17:42] randuhmm opened #9977 "QuboleOperator intercepts `pool` parameter intended for the BaseOperator"
**Apache Airflow version:** 1.10.6

**Environment:**

**Cloud provider or hardware configuration:**
**OS (e.g. from /etc/os-release):**
**Kernel (e.g. uname -a):**
**Install tools:**
**Others:**
**What happened:**

I noticed that the Qubole operator strips certain parameters from the constructor that it wants to pass to the various commands. Some of these parameters collide with the BaseOperator p

[2020-07-24 18:19] mik-laj commented on #9977
I saw it and I didn't like it very much. We shouldn't have a dynamic number of arguments in these operators. Would you like to work on this ticket?

[2020-07-24 18:21] randuhmm commented on #9977
@mik-laj - Sure, I certainly can propose a solution to this issue. I am afraid that the changes we make will not be backwards compatible, but perhaps we can provide some deprecation warnings for the old dynamic params until they are fully removed in the next major release.

[2020-07-24 18:26] mik-laj commented on #9977
We can try to keep backward compatibility for the next version and display a warning.  You can be inspired by the changes we made to BigQuery.
https://github.com/apache/airflow/blob/master/airflow/providers/google/cloud/operators/bigquery.py#L1002-L1027

[2020-07-24 18:30] mik-laj commented on #9970
Hello.
Would you like to prepare a patch for Airflow that fixes this problem? I am not an AWS expert, but there are other people who may encounter a similar problem.  Do you need any help to get started?

Best regards

[2020-07-24 20:02] kaxil commented on #9977
I have assigned you the ticket

[2020-07-24 20:31] mik-laj opened #9981 "Custom Resource for Pod Template"
Hello,

Airflow has the ability to define what a cat created with KubernetesExecutor will look like in two ways:
- with many configuration options. For example, to configure init container with git sync you can use options: `git_repo`, `git_branch`, `git_sync_depth`, `git_subpath`, `git_sync_rev`, `git_user`, `git_password`, `git_sync_root`, `git_sync_dest`, `git_dags_folder_mount_point`, `git_ssh

[2020-07-24 22:31] mik-laj commented on #9937
There are many methods of API synchronization, and under the simple concept of creating a DAG, there would have to be complex logic. We decided that we did not want to go in this direction.

If you need to extend the API with an additional endpoint, you can use the plugins mechanism:
https://airflow.readthedocs.io/en/latest/plugins.html

[2020-07-25 00:14] OmairK commented on #9981
Hi @mik-laj, this looks interesting can you assign me this task?

[2020-07-25 00:19] mik-laj commented on #9981
Hi @OmairK.
I would also like to gather opinions of other people, what they think about it. I am not sure if this solution is correct. Can you wait for other people to express their views on this?

CC: @dimberman @fengsi @xEviL @kaxil @potiuk WDYT?

[2020-07-25 06:47] penggongkui opened #9994 "subdag codeview shows the main-dag"
I have read the code[tag 1.10.11], the codeview use the orm_dag.fileloc for read the code context, and subdag sync_to_db use the parent_dag.fileloc, so codeview will get the parent's fileloc

also find someone ask the same question in stack overflow: https://stackoverflow.com/questions/60714817/airflow-subdag-codeview-shows-code-of-main-dag

please fix, thanks

[2020-07-25 17:55] kaxil commented on #9718
This should be fixed by https://github.com/apache/airflow/pull/9993

[2020-07-25 17:55] #9718 closed

[2020-07-25 18:50] mik-laj opened #10001 "Migrate from Speccy to Spectral"
Hello,

We use [Speccy](https://github.com/wework/speccy) for linting API, but we should start using [Spectral](https://meta.stoplight.io/docs/spectral/README.md).

Best regards,
Kamil
CC: @houqp

[2020-07-25 20:18] mik-laj commented on #9898
Unidecode has alternatives that use a different license model.
https://pypi.org/project/text-unidecode/
I think it shouldn't be a problem to use it instead of the original one. We will not lose any functionality this way, but we will have to contribute to a few projects.
A similar solution exists in jsonschema.
https://github.com/Julian/jsonschema/blob/9d5edb4749ab1f6194aa5c7c099c6e6fd402c4cf/json

[2020-07-25 20:29] mik-laj commented on #8278
@rootcss If someone is willing, they can add tests, but it is not necessary. I will be happy without tests for this module.

[2020-07-25 20:31] mik-laj commented on #8278
@rootcss As far as I know, Tomek is working on tests for Datastore.

@turbaszek Can you confirm that?

[2020-07-25 20:33] mik-laj commented on #8278
I found PR: https://github.com/PolideaInternal/airflow/pull/946

[2020-07-25 21:01] mik-laj commented on #9967
I'm not sure, but it seems related to me.
https://github.com/apache/airflow/pull/9119

[2020-07-25 21:11] mik-laj commented on #9967
Are you not interested to add email backend for SES?
https://airflow.readthedocs.io/en/latest/howto/email-config.html

[2020-07-25 21:12] houqp commented on #10001
I agree, speccy seems like a dead project at this point.

[2020-07-25 22:03] pcandoalmeida commented on #9940
Hi @kaxil thanks for this. I think in the way that I was trying to use it, I didn't have an access key or secret as we've moved away from them in my present company. I did try and pass a role ARN into `~/.aws/config` but for some reason I was getting some issues. I pinged across a quick question on Slack on the new users channel to see if I was using the backend correctly, but I'm not sure I've ha

[2020-07-26 06:02] rootcss commented on #8278
Sure. I've removed it from my list.

[2020-07-26 11:54] shlomiken opened #10007 "Sagemaker contrib module - should be independant"
Hi
we are heavy users of sagemaker through airflow , and one thing that bothers us and cause a lot of dependency issues in deployment is that one needs to install the sagemaker SDK in order to submit a training job to sagemaker.
as described here in details https://sagemaker.readthedocs.io/en/stable/workflows/airflow/using_workflow.html

although the operators comes from the airflow contrib packag

[2020-07-26 12:29] mik-laj commented on #10007
Hello,
During Airflow installation, the user selects which additional libraries they want to install.
https://airflow.readthedocs.io/en/latest/installation.html
If it does not install a module that requires numpy it will not be used.
For Airflow 1.10.111, `aws` extra requires `boto3~=1.10` only.

Can you provide more details to help us understand the problem?

[2020-07-26 12:37] mik-laj commented on #10007
Oh. I think I understand. The Sagemaker SDK requires bumpy.
https://github.com/aws/sagemaker-python-sdk/blob/master/setup.py#L38
So I think it is best to create a ticket in that project so that they don't use this dependency.

You can also isolate this library by installing it in a separate virtual environment.
https://airflow.readthedocs.io/en/1.10.11/_api/airflow/operators/python_operator/index.

[2020-07-26 14:12] shlomiken commented on #10007
The problem is NOT with sagemaker SDK and its dependencies. the problem is that several Sage maker operators (which are part of airflow codebase) require you to install sagemaker SDK. and by that expose you to libraries you don't need or conflict with your deployment.
it also make the package very big - where it should be very light.
i thought this is the project that the contribution of sagemaker

[2020-07-26 14:37] mik-laj commented on #10007
SageMaker contributors are not an active part of this community

I still think it will be difficult to fix this problem on the Airflow core. We only integrate a ready-made SDK and if the official SDK requires dependencies, this SDK should be improved to limit the number of needed dependencies. We can look for an alternative unofficial SDK, but the unofficial SDK may be the source of other problems

[2020-07-26 15:20] potiuk commented on #9898
@mik-laj : Unidecode is a transitive dependency of nvd3 -> slugify, so short of vendoring those in (which we did in the past) we cannot do much about it. But this one of the reasons why we do not have to do it because it actually uses text-unidecode which supports [Artistic Licence](https://opensource.org/licenses/Artistic-Perl-1.0). While the licence has been criticised in the past for being too

[2020-07-26 15:21] potiuk commented on #9898
@kaxil -> yep I am looking at it now and send an email to discuss at the devlist

[2020-07-26 15:36] shlomiken commented on #10007
@mik-laj - thank you for the detailed answer, we will surely look into the option of creating the configuration ourselves.
i was under the impression that we must use sagemaker SDK objects - as described in their documentation.
thanks again .
this issue can be closed.
Shlomi

[2020-07-26 16:17] potiuk commented on #9898
Hey @kaxil.  I did a quick review of what we have in the image, and I believe we would not be able to release ANY image which would not contain GPL code :). Starting from Glibc which is LGPL and including those basic tools and libs:

[code]

So I really doubt we shoudl worry about binaries included in the Docker image :).  I will open an issue with Infra and try to find the right person to talk to

[2020-07-26 16:24] kaxil commented on #9898
Yeah, I agree but also would like to understand more about how ASF treats Docker Images + Helm Chart in general in terms of licensing and releases. And if licensing is not the issue are we ok with using 3rd party docker images. Same for Helm Chart. Can you please send a link or just mention me where you open ticket, I am very much interested to learn more about this too :-)

[2020-07-26 16:55] potiuk commented on #9898
I found very similar ticket in ASF legal which is without clear answer for > year now. I commented on it and hope to get some answers and discussions - please add your concerns there as well - I think we should really get some clarification on this. (https://issues.apache.org/jira/browse/LEGAL-437?focusedCommentId=17165258&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#com

[2020-07-26 16:58] bolkedebruin commented on #9898
Note: do we rely on any of those out of the box without an alternative? Because that's what matters. The default configuration of Airflow should not depend on (L)GPL artifacts and Airflow shouldn't distribute them.

We do not consider docker images to be releases of Airflow and as such they dont go through the same release process (we dont vote on them).

So what is the real issue here?

[2020-07-26 17:00] kaxil commented on #9898
Thanks for mentioning me :) - Hopefully we will get some clarity over this issue.

re: Helm Chart license - I wasn't specifically actually talking about Astronomer images but just wanted to get some clarity on how we treat Docker images + Helm chart i.e should they go through release process + all licensing :)

[2020-07-26 17:07] kaxil commented on #9898
Thanks Bolke for commenting. There are 2-3 separate issues we are talking about here.

1) The dependencies that were reported by Synk that Ry has listed in the PR description:

- jaydebeapi v1.2.3
- mysql-connector-python v8.0.18
- pysmbclient v0.1.5
- unidecode v1.1.1
- yamllint v1.23.0

**However, all these dependencies are _extras_ so that might not be an issue**

2) Whether we need to take car

[2020-07-26 17:08] rootcss commented on #8278
@mik-laj I think, rest of the tests have been picked already. We're close to close this issue :)

[2020-07-26 17:14] potiuk commented on #9898
@bolkedebruin -> there are three distinct problems here I think (started to write it in parallel to Kaxil but I think we have very close view on the scope of the questions we have). I renumbered my points to have the same numbers as Kaxil, and add my view/thinking for them.

1) Question whether we depend on X licence (GPL basically) in order to get Airflow up and running, IMHO (similar to Kaxil) t

[2020-07-26 18:02] rootcss commented on #8939
@danly I think, you're looking at the docs of the latest stable version. For v1.10.2 you can refer the docs here: https://airflow.apache.org/docs/1.10.2/code.html#macros - which mentions `{{ next_execution_date }}` an instance of `datetime.datetime`

[2020-07-26 18:02] rootcss commented on #8939
@mik-laj This can be closed.

[2020-07-26 18:10] mik-laj commented on #10007
@shlomiken If my solution works, maybe you would like to describe it in the tutorial? The documentation for this service is not complete and it is worth improving it so that other users do not make this mistake.
Here are guides for other AWS services.
https://airflow.readthedocs.io/en/latest/howto/operator/amazon/aws/index.html

[2020-07-26 18:18] chriscardillo opened #10009 "Construct DAGs from YAML"
**Description**

The ability to construct a DAG, that DAG's jobs, and the dependencies between those jobs (and external dependencies) can be time-consuming and cumbersome if you haven't figured out a way to dynamically create your DAGs. Across the internet, there exist packages and blog posts on how one might dynamically construct their DAGs.

I think it would be valuable to newcomers and Airflow

[2020-07-26 18:19] bolkedebruin commented on #9898
@potiuk i agree on all accounts. As long as we don't stamp the docker images "official" we are not in a gray area.

Also the dependencies mentioned for the docker images are either transient (apt, you can remove apt from the image) or optional (freetds).

[2020-07-26 18:22] kaxil commented on #9898
@bolkedebruin We are actually marking them as "official" and hence we'd like some more clarity around that.

[2020-07-27 00:12] mik-laj commented on #10009
Hello,

We are trying to focus on the development of support DAG as Python code, but this allows the use of other formats according to the needs of a specific organization.

The community has also developed support for other formats
https://github.com/ajbosco/dag-factory
https://github.com/Barski-lab/cwl-airflow

Can you add your plluguins to awesome listt? This will make it easier for us to find

[2020-07-27 00:33] chriscardillo commented on #10009
Thanks so much. I've opened a PR on the awesome list.

[2020-07-27 00:33] #10009 closed

[2020-07-27 01:45] ft2898 commented on #8521
Same problem +1

[2020-07-27 01:58] ft2898 commented on #8521
Same problem +1
Apache Airflow version: 1.10.11

[2020-07-27 09:07] potiuk opened #10014 "Release a 2nd wave of Backport packages"
**Description**

I think we are really close to release the second wave of Backport Packages. We accumulated a number of changes already and few more are about to be completed so that we are, I think, close to release the second wave.

** What will be in those packages **

Everything that is currently merged to the master branch in "providers" package will be included.

Those are open issues that

[2020-07-27 09:11] potiuk commented on #10014
@kaxil @turbaszek @dimberman @mik-laj @olchas (and other @apache/airflow-committers who are interested).

 I am going for holidays today, and won't be available for a week or so, but I think this one needs some love while I am away, and maybe discussion if there are any more things we want to include in backport packages.

I think there are few small fixes needed in backport release scripts/proces

[2020-07-27 09:14] potiuk commented on #10014
cc: @r-richmond

[2020-07-27 11:08] feluelle commented on #9744
Thanks @spektom I see. You are correct. And the `adx` hook we already have is querying data. So I am gonna close this ticket.

[2020-07-27 11:08] #9744 closed

[2020-07-27 12:06] muscovitebob opened #10016 "BigQueryOperator never uses the location parameter"
**Apache Airflow version**: `composer-1.10.4-airflow-1.10.6`

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
[code]
**What happened and What you think went wrong**:

`BigQueryOperator` does not use the `location` parameter in order to specify query job location. Instead, it retrieves the automatically determined location from the HTTP request.

This happens because o

[2020-07-27 12:10] turbaszek commented on #10016
Thanks for reporting this issue. We are aware of this limitation and we believe it's already solved on the master. If you wish to use new operators please check https://github.com/apache/airflow#backport-packages

[2020-07-27 13:09] muscovitebob commented on #10016
Thanks for getting back to me so quickly @turbaszek. I will try installing the back port package for Google operators on my Cloud Composer instance.

[2020-07-27 14:07] muscovitebob commented on #10016
I seem to be unable to import from the back ports package having installed it for local testing.
[code]

Is there a trick or step I am missing here?

[2020-07-27 14:16] kumargauravin commented on #9946
Hi Jarek,

I joined slack and sent my issue with suggestions but not received any
response so far.
Can you please look into it, it's important to remove this blocker for us
to use Airlfow.

https://apache-airflow.slack.com/archives/CCPRP7943/p1595731236423600
Any help appreciated.

Regards,
Kumar

On Thu, Jul 23, 2020 at 2:34 AM Jarek Potiuk <notifications@github.com>
wrote:

--
Regards,
Kumar Gau

[2020-07-27 14:20] muscovitebob commented on #10016
I fixed this error by switching to a `requirements.txt` file and installing these dependencies via `pip install -r requirements.txt`, for now.

[2020-07-27 14:36] muscovitebob commented on #10016
I see that the `location` attribute is indeed correctly obeyed with the plug-and-play replacement for `BigQueryOperator` in the backports package, `BigQueryExecuteQueryOperator`, in my local testing.

[2020-07-27 14:47] muscovitebob commented on #10016
And I am facing the same `ModuleNotFoundError` after installing the backports package onto Cloud Composer via the [standard PyPi package installation mechanism](https://cloud.google.com/composer/docs/how-to/using/installing-python-dependencies#install-package). Looking into how to perform the symlink from the readme on the Composer environment.

[2020-07-27 15:09] muscovitebob commented on #10016
At the moment I have a scheduler pod and several Celery executor worker pods running in Composer. I have created a symlink inside the scheduler pod to the Google's custom mounted Airflow version:

[code]

This gets rid of the import warning, but I now get `DAG seems to be missing.` on the GUI when I try to navigate to the DAG page. In the scheduler logs I see instances of the following uninformati

[2020-07-27 15:11] adamo57 opened #10017 "KubernetesExecutor: ModuleNotFoundError: No module named 'argcomplete' When Pod Starts"
when I run a DAG, I get an error:

[code]

This is the DAG that I am trying to run:

[code]

Here is my values.yaml for airflow

[code]

If anyone could help me, that would be amazing because I’ve been banging my head against the wall on this issue for a day or so.
Thank you!!!

[2020-07-27 15:16] adamo57 opened #10018 "KubernetesExecutor: ModuleNotFoundError: No module named 'argcomplete' When Starting DAG"
**Apache Airflow version**:
CHART           APP VERSION
airflow-7.3.0   1.10.10
**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
[code]

**Environment**:

- **Cloud provider or hardware configuration**:
[code]

- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:
[code]

**What you expected to happ

[2020-07-27 15:16] #10017 closed

[2020-07-27 15:38] turbaszek commented on #10016
Closing as the reported problem itself seems to be solved

[2020-07-27 15:38] #10016 closed

[2020-07-27 16:33] kaxil opened #10020 "Re-Add try_number as identify label on a POD when using KubernetesPodOperator"
On our k8s cluster, we keep pods in the namespace for some time no matter the state they finished in (success, OOMKilled, evicted,....) -- I do not maintain the cluster and the decision is not up to me. Not having try_number as an identifying label of a pod makes airflow fail to launch another attempt.

_Originally posted by @dakov in https://github.com/apache/airflow/pull/6377#discussion_r4596488

[2020-07-27 16:49] jarkkorantala commented on #9926
Here's another pull request to address this particular issue with SQL Server:
https://github.com/apache/airflow/pull/10019

[2020-07-27 17:34] shlomiken commented on #10007
@mik-laj - well it would not take us a day to test :-) we need to refactor quite a bit ,
also i think on sagemaker part this is shortcoming ,as we loose all validations made on the configuration.
BUT - if we do happen to refactor this , i promise to write the doc.
thanks

[2020-07-27 17:53] tatitati commented on #9486
I'm also suffering this, I see my streams being created, once per retry, which is good, but the dag eventually fails saying `An error occurred (ResourceNotFoundException) when calling the GetLogEvents operation: The specified log stream does not exist`.

[2020-07-27 18:41] kaxil opened #10021 "Remove try_number check to decide whether to monitor or create new POD for K8sPodOperator"
If the flag `reattach_on_restart` is True then a new pod gets created instead of monitoring the existing one ([line 285](https://github.com/apache/airflow/blob/2d25377a20cabac9ea1d26d015e6ac6e9606ac14/airflow/contrib/operators/kubernetes_pod_operator.py#L280-L285))

From @danccooper, the expected outcome is:
![image](https://user-images.githubusercontent.com/8811558/88578538-a00e5680-d040-11ea-989

[2020-07-27 18:49] rootcss commented on #8278
I've picked  `tests/providers/google/cloud/utils/test_mlengine_prediction_summary.py`

[2020-07-27 20:11] #10018 closed

[2020-07-27 20:25] mik-laj commented on #10016
@muscovitebob  please upgrade Cloud Composer to the latest version.

Old environments do not support these packages.

[2020-07-27 20:27] muscovitebob commented on #10016
Thanks for the heads up @mik-laj, I indeed had some success after upgrading as I mentioned in the linked￼￼￼ Composer User Group post :)

[2020-07-27 20:39] rgrizzell opened #10024 "Writing Logs to Elasticsearch: asctime field in JSON log output set to null"
**Apache Airflow version**: 1.10.11

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): N/A

**Environment**:

- **Cloud provider or hardware configuration**: QEMU
- **OS** (e.g. from /etc/os-release): Ubuntu 20.04 (and Fedora 32)
- **Kernel** (e.g. `uname -a`): 5.4.0-42-generic (and 5.6.6-300.fc32.x86_64)
- **Install tools**: Virtualenv
- **Others**: Python 2.7.18 (and

[2020-07-27 21:30] danccooper commented on #10021
You could argue that the second line (pod exists, same try number, reattach_on_restart=False) should monitor the existing pod as well, this would probably make sense.

However as discussed with @kaxil - `I've not seen a case where a pod already exists with the same try number, as every scenario that causes an untracked pod also causes the try number to increment.`  Except for the situation highlig

[2020-07-27 21:45] jhtimmins commented on #8111
@mik-laj That makes sense. When you say "If you are willing to implement the implementation", are you referring to KeyCloak?

[2020-07-27 22:05] mik-laj commented on #8111
@jhtimmins I updated the comment to make it clearer. If you want to implement other authorization protocols, I will be happy to help with the review.

[2020-07-27 22:44] jhtimmins commented on #8111
@mik-laj Thanks for the update and offering to review. Since it seems like most of the focus thus far has been on using an auth proxy, I will work on simple auth mechanisms for users that don't have an auth proxy.

If this issue is just for an overall design, but not any of the actual implementations, is there anything else to do to satisfy the requirements of #8111? Since we're going with the exi

[2020-07-27 22:56] fengsi commented on #9981
@mik-laj, thanks for the proposal.  I'm not familiar with `Custom Resource` but I'll take a look.

Meanwhile, please find my [thoughts](https://github.com/apache/airflow/pull/8150#issuecomment-664664791) related to this topic.

[2020-07-28 00:46] OmairK commented on #10020
Hi @kaxil is this issue up for taking? If so can you assign me this issue.

[2020-07-28 02:18] andytrigg commented on #9412
We seem to be experiencing this same issue.

[2020-07-28 02:43] andytrigg opened #10026 "Duplicate tasks invoked for a single task_id when manually invoked task details modal."
**Apache Airflow version**:
1.10.11

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): NA

**Environment**:

- **Cloud provider or hardware configuration**: AWS (EC2 instances)
- **OS** (e.g. from /etc/os-release):
NAME="Amazon Linux"
VERSION="2"
ID="amzn"
ID_LIKE="centos rhel fedora"
VERSION_ID="2"
PRETTY_NAME="Amazon Linux 2"
ANSI_COLOR="0;33"
CPE_NAME="cpe:2.3:o:amaz

[2020-07-28 03:48] doowhtron commented on #9967
I fixed that temporarily by the following patch of dagrun.py. It works for me now.

[图片]

[2020-07-28 03:50] Kristof-Mattei opened #10027 "Bug `AIRFLOW_LOCAL_SETTINGS_CONFIGMAP` incorrectly states example with `pod_mutation_hook`"
**Apache Airflow version**:
1.10.11

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
Irrelevant

**Environment**:

- **Cloud provider or hardware configuration**: Self-hosted K8s cluster
- **OS** (e.g. from /etc/os-release): Official Airflow Docker version
- **Kernel** (e.g. `uname -a`): Official Airflow Docker version
- **Install tools**: Helm Chart
- **Others**:

**

[2020-07-28 06:16] mik-laj commented on #8111
@jhtimmins  The following authentication backends for the experimental API are available:
- airflow.api.auth.backend.default
- airflow.api.auth.backend.deny_all
- airflow.api.auth.backend.kerberos_auth
- airflow.providers.google.common.auth_backend.google_openid.requires_authentication

Following this, you can implement a new backend.

If we want to have the credentials for a new API then we have

[2020-07-28 06:41] jhtimmins commented on #8111
Great, thanks for that context @mik-laj.

[2020-07-28 08:26] Chaho12 opened #10028 "Bugs with Airflow CLI backfill command for date in range"
**Apache Airflow version**:
1.10.10

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:
- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): CentOS Linux 7
- **Kernel** (e.g. `uname -a`): Linux 3.10.0-1062.18.1.el7.x86_64
- **Install tools**:
- **Others**:

**What happened**:

If I run backfill command on `airflow backfi

[2020-07-28 08:35] feluelle commented on #9742
@morrme no problem. We can find something different you can work on. If you want we can chat via slack to find something you would like to work on i.e. improve, fix or a feature you would like to see in airflow. WDYT? :)

[2020-07-28 08:40] feluelle commented on #8766
Sure.

[2020-07-28 08:50] feluelle opened #10029 "Add Salesforce docs for setting up a connection"
**Description**

As of the related issue on adding a custom connection (see issue link below) we need a how-to guide on setting up a connection to salesforce.

To be more specific we need to add a `salesforce.rst` to the `docs/howto/connection` directory explaining the fields you need to set to setup a proper connection to salesforce. A connection will be established through the `airflow/providers

[2020-07-28 09:23] Siddharthk commented on #9118
@ashb @JPonte I am getting below error. Looks like a bug:

[code]
My aws secret key is(dummy): abcd12/ef34578fgt

Looks like when '/' is coming in the secret key, the connection is not getting created.

[2020-07-28 09:44] jarkkorantala commented on #9926
Looks like #9973 already includes my change. Closing as a duplicate.

[2020-07-28 10:06] akspow opened #10030 "Issue with CloudDataFusionStartPipelineOperator"
I am using the CloudDataFusionStartPipelineOperator in Google cloud composer and success_states = ["COMPLETED"] parameter to wait for the pipeline to be successful. It works fine, but sometimes I receive this error:

[code]
But the  Datafusion pipeline gets completed successfully.
It would be helpful if someone resolves this.

[2020-07-28 10:29] turbaszek commented on #10030
Thanks for reporting @akspow ! I think this may be related to the fact that DataFusion happens to have some lags (I experienced it when writing those operators, see the example DAG where we use dummy operator with sleep)

[2020-07-28 13:54] gardnerdev opened #10035 "Security context KubernetesPodOperator"
**Apache Airflow version**: 1.10.9

**Kubernetes version (if you are using kubernetes)** 1.18

**What happened**:
During running KubernetesPodOperator with

`security_context={'runAsNonRoot':True,'runAsUser':1000,'runAsGroup':1000,'fsGroup':1000}`

I have following output:

`uid=1000(1000) gid=65533(nogroup) groups=65533(nogroup)`

During deployment execution via kubectl and set k8 security contex

[2020-07-28 14:23] vittico opened #10036 "airflow worker - ModuleNotFoundError: No module named 'sqla'"
**Apache Airflow version**: 1.10.11

**Environment**:

- **OS** (e.g. from /etc/os-release): Ubuntu 18LTS

**What happened**:
When starting airflow worker exits with

[code]

Config:

[code]

[2020-07-28 14:27] mschickensoup commented on #8286
No worries at all ;-)

[2020-07-28 14:30] SilvrDuck opened #10037 "KubernetesPodOperator namespace argument conflict when using pod_template_file"
**Apache Airflow version**: 1.10.10

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): v1.16.11-gke.5

**Environment**:

- **Cloud provider or hardware configuration**: GKE
- **OS** (e.g. from /etc/os-release): –
- **Kernel** (e.g. `uname -a`): –
- **Install tools**: helm
- **Others**: –

**What happened**:

I tried to create a job in my DAG using the [KubernetesPodOper

[2020-07-28 14:56] NBardelot opened #10038 "Using >= or =~ in dependency management is a very bad practice"
From an ops point of view, packaging Airflow with about 150 dependencies not strictly tied to a version is a bad practice. In `setup.py` there are about 20 dependencies using `=~` versions and about 130 dependencies using `>= ` versions. This means there is no guarantee that two instances of Airflow run the same versions of python libraries.

One version of such a library being bugged, or worse, c

[2020-07-28 16:04] kaxil commented on #10038
Airflow has a constraints file you could use to produce repeatable installations.

Check the section in https://github.com/apache/airflow#installing-from-pypi

[2020-07-28 16:05] kaxil commented on #10038
All the constraint files contain a specific version, example:

[code]

[2020-07-28 16:07] kaxil commented on #10038
The main reason of doing that is also explained in https://github.com/apache/airflow#installing-from-pypi

[2020-07-28 16:10] potiuk commented on #10038
Hello Noel,

Indeed the problem you describe is very true for Applications but it is
quite the opposite for libraries. Unfortunately Airflow is a bit of both,
that's why we had  to find a bit different solution - keeping the setup.py
dependencies as open as possible but allowing Airflow as application to be
installed with frozen set of dependencies. Those are frozen both - for
master (we automatic

[2020-07-28 16:11] kaxil commented on #10027
https://github.com/apache/airflow/blob/8bd15ef634cca40f3cf6ca3442262f3e05144512/airflow/kubernetes/pod_launcher.py#L68-L84 --> Before a pod is run it goes through pod_mutation_hook -> We use it to add more labels and I know many other users use it. If it is failing for you in 1.10.11 is because of a bug that would be solved in 1.10.12 (PR: https://github.com/apache/airflow/pull/9903)

[2020-07-28 16:48] kaxil commented on #8112
Definitely (1)

[2020-07-28 17:08] rootcss commented on #10036
@vittico can you tried this:
[code]
The backend alias for database backend in celery is `db`. ([ref](https://github.com/celery/celery/blob/master/celery/app/backends.py#L27))

[2020-07-28 17:16] fabien-sarcel commented on #10021
It seems to me that the try_number check can be useful, but v1.10.11 doesn't behave properly due to implementation errors.

In order to get the "expected behaviour", the first conditional step needs to run monitor_launched_pod (instead of create_new_pod_for_operator). And there is another error on the second conditional step, monitor_launched_pod need to be called with pod_list.items[0] instead of

[2020-07-28 17:35] vittico commented on #10036
sure! will try! thanks

[2020-07-28 17:47] rootcss commented on #9856
@mik-laj I'd like to work on this. Can you assign this to me?

[2020-07-28 18:15] Kristof-Mattei commented on #10027
@kaxil
I managed to get the hook working by putting it in `local_settings.py` in the scheduler.

`AIRFLOW__KUBERNETES__AIRFLOW_LOCAL_SETTINGS_CONFIGMAP` defines  the configmap that contains the `local_settings.py`, but it is only being used once the pod is launched, as part of the mounted volume, so that's too late, and also in a different context (i.e. the new pod). At that moment the resources h

[2020-07-28 18:16] tambulkar opened #10039 "Incorrect import in slack_hook.py"
**Apache Airflow version**: 1.10.11

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): mac os
- **Kernel** (e.g. `uname -a`): Darwin Tanishs-MacBook-Pro.local 19.5.0 Darwin Kernel Version 19.5.0: Tue May 26 20:41:44 PDT 2020; root:xnu-6153.121.2~2/RELEASE_X86_64 x86_

[2020-07-28 18:23] kaxil commented on #10027
pod_mutation_hook just applies to PODs launched by KubernetesExecutor and KubernetesPodOperator and not any other pods. Am I mis-understanding the use-case here?

[2020-07-28 18:38] tambulkar commented on #10039
Nevermind, realized I needed to install slackclient=1.3.1

[2020-07-28 18:38] #10039 closed

[2020-07-28 21:56] jhtimmins commented on #9974
Can you expand on what you're proposing? Can you not accomplish what you need with a custom macro? https://airflow.apache.org/docs/stable/tutorial.html?highlight=user_defined_macros

[2020-07-28 23:10] jhtimmins commented on #9957
I was able to replicate this bug. Sqlalchemy expects to receive a string, not a list. It would be trivial to iterate over the input statements and run them in sequence.

However, it's not clear to me what the original plan for this method was, since it accepts a list or dictionary of parameters. SqlAlchemy has a pattern in which a parameterized query string is passed in, and then a list of dicts/l

[2020-07-28 23:21] jhtimmins commented on #9837
@trevorprater Is this using the default airflow.cfg config values or are there any modified configs?

[2020-07-28 23:38] jhtimmins commented on #9976
This could be caused by a few things. One likely answer is that the heartbeat was increased to ~180 seconds. Are you using default values in `airflow.cfg`?

[2020-07-29 00:50] ckdarby opened #10040 "Importing 'BashOperator' directly from 'airflow.operators' only way module loads"
**Apache Airflow version**: 1.10.10

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
`Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.6", GitCommit:"dff82dc0de47299ab66c83c626e08b245ab19037", GitTreeState:"clean", BuildDate:"2020-07-15T16:58:53Z", GoVersion:"go1.13.9", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1",

[2020-07-29 02:23] mik-laj commented on #9856
@rootcss I assigned you to this ticket

[2020-07-29 02:41] nicku33 commented on #7960
I thought the parameter 'max_active_runs' accomplished this but it does not. I would also like this feature.

[2020-07-29 05:53] dakov commented on #9245
Happens to me on 1.10.11 with `can delete on Airflow` and `muldelete on DagRunModelView`. Also when I create a new empty role it is (within seconds) populated with a whole set of "default(?)" permissions. I guess that when I remove one of them, it is recreated after some cycle. It doesn't happen with the `public` role which remains empty.

[2020-07-29 06:57] scalaenthu opened #10041 "Not able to see logs | Log file does not exist: /opt/airflow/logs/hello_world/hello_world/2020-07-28T00:00:00+00:00/1.log"
I am using a compose file to run the airflow.

My DAG is running fine, the tasks are able to push the data to airflow as well, but i want to see the logs.

**What happened:**

 **Log file does not exist: /opt/airflow/logs/hello_world/hello_world/2020-07-28T00:00:00+00:00/1.log
*** Fetching from: http://fef16ec26222:8793/log/hello_world/hello_world/2020-07-28T00:00:00+00:00/1.log
*** Failed to fetc

[2020-07-29 07:24] Siddharthk commented on #8212
How can I read logs from worker pods? This is important since we need to see logs in real time to see whats happening. S3 logs are available only when task gets completed. I am getting below error currently:
[code]

[2020-07-29 07:27] TheWalletInspector commented on #10026
Having the same issue :(

[2020-07-29 08:14] NBardelot commented on #10038
Thank you @kaxil and @potiuk for such insightful and speedy answers.

The issue I think is that in my case we do not install Airflow from the command line using pypi, but we use a Docker image.

I see that you changed the constraints behaviour in the Dockerfile 9 days ago @potiuk, I did not see this commit in the version I currently use.

https://github.com/apache/airflow/commit/de9eaeb434747897a1

[2020-07-29 09:47] afsalabdup opened #10044 "Putting a task ON HOLD"
Feature to put a future instance task ON HOLD is missing in Airflow.  Is there any way to achieve this functionality in Airflow. Appreciate any help.

[2020-07-29 10:00] potiuk commented on #10038
Just two more things if you are using the image.

You can take a look at the IMAGES.rst where the case about constraints and how to use them is very well explained with examples.

Also you can watch my talk from the Airflow Summit where I am explaining how the image works, how it is layered and how to build your own image. The part about constraints is not very detailed but you can watch all the o

[2020-07-29 10:04] akspow commented on #10030
There error still seems to pop up sometimes

[2020-07-29 10:04] akspow commented on #10030
The error still seems to popup sometimes

[2020-07-29 11:07] akspow commented on #10030
Is there a quick fix for this?

[2020-07-29 11:25] arkady-emelyanov opened #10045 "KubernetesExecutor/pod_template_file: PodGenerator should set restartPolicy: Never"
**Apache Airflow version**: 1.10.11

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**:  `minikube version: v1.12.1`

**What happened**:
When using `pod_template_file` without specifying `restartPolicy` in spec, `restartPolicy` receives value `Always` (which is default value for Kubernetes), which r

[2020-07-29 11:41] kaxil commented on #9957
Based on https://www.psycopg.org/docs/cursor.html#cursor.execute and https://dev.mysql.com/doc/connector-python/en/connector-python-api-mysqlcursor-execute.html it looks like the cursor.execute method is up[posed to just take a string (query to execute).

[2020-07-29 12:24] turbaszek commented on #10030
You can create custom operator using the logic from the existing one and add the change from #10031

[2020-07-29 13:27] lidalei opened #10046 "Cannot search for paused dags when paused dags are hidden by default in Airflow UI"
**Apache Airflow version**:
1.10.11

**What happened**:
I have `hide_paused_dags_by_default = True` is set in airflow.cfg. In Airflow UI, when paused dags are shown (after clicking the button "Show Paused DAGs"), I search for a paused dag. The search bar shows the dag id, but when I click on the dag id, the UI returns "No data available in table".

**What you expected to happen**:
When `hide_pause

[2020-07-29 13:50] eladkal commented on #10044
How is that different than setting the DAG to off?

[2020-07-29 14:54] #10030 closed

[2020-07-29 14:54] loozhengyuan opened #10048 "Misleading note in KubernetesPodOperator"
In the [docstring](https://github.com/apache/airflow/blob/59cbff0874dd5318cda4b9ce7b7eeb1aad1dad4d/airflow/providers/cncf/kubernetes/operators/kubernetes_pod.py#L47) of the `KubernetesPodOperator`, it is noted that:

I think this is rather misleading if you deployed Airflow on GKE.

If Airflow is deployed on GKE, one can simply use the default `KubernetesPodOperator` and pass `in_cluster=True`. In

[2020-07-29 15:14] rootcss commented on #9856
@mik-laj Just to be clear about the scope of this issue, describing it here:
We should have a CLI command: `airflow connection export --format=<format> --output-file=/path/to/your/file/name.json`
It should export it in the following formats: `json`, `yaml` and `env`.

The exported connections should be the list of all saved connections in the airflow metadatabase.

Let me know what do you think ab

[2020-07-29 15:19] mik-laj commented on #9856
@rootcss  SGTM. It is worth writing documentation for this, which will describe this command. I am thinking of an extra section on this page
https://airflow.readthedocs.io/en/latest/howto/connection/index.html

[2020-07-29 15:25] ckdarby commented on #10040
I was reading the master branch examples and it looks like there was a major refactor of module imports.

Obviously once I switched the branch over to the current tag I'm using the examples switched to the prior way and I was able to use those examples correctly.

[2020-07-29 15:25] #10040 closed

[2020-07-29 15:25] rootcss commented on #9856
Sure. :+1:

[2020-07-29 16:37] afsalabdup commented on #10044
I want to put a specific task on hold, not whole dag.

[2020-07-29 17:10] davido912 opened #10051 "SSH Hook Private Key Decryption"
Relating to the SSH Hook stored in airflow/providers/ssh/hooks/ssh.py.
At the moment, the hook offers two ways of authenticating the connection. The first, reading the private key from file and if it is decrypted, the password will be passed to the connect function (the core paramiko one) and would be used as a passphrase there (since paramiko's connect states that if passphrase is none, and passw

[2020-07-29 18:45] matheusvasconcellos opened #10053 "Error "Name 'flask' is not defined" when changing the force_log_out_after"
**Apache Airflow version**: 1.10

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release):
NAME="Amazon Linux"
VERSION="2"
ID="amzn"
ID_LIKE="centos rhel fedora"
VERSION_ID="2"
PRETTY_NAME="Amazon Linux 2"
- **Kernel** (e.g. `uname -a`): 4.14.186-146.268.amzn2.x86_64 (A

[2020-07-29 20:42] TRReeve commented on #8212
@Siddharthk If you're using any kind of distributed execution (including kubernetes) you wont be able to read logs from the airflow UI while the executor is running using airflow "out of the box". Airflow pushes the log to remote storage when the task is completed and then the UI reads them from there.

I would guess if you do need to get real time logs from batch tasks while they are running mayb

[2020-07-29 20:45] tambulkar commented on #9974
I just want to add a column to the DAG model that tracks the time a dag was paused/unpaused. I don't think user defined macros provide this functionality

[2020-07-29 21:57] pcandoalmeida commented on #9538
Hi @joshkadis @mik-laj I've added tests:

- `test_page_site_title()`
- `test_site_title_config_when_set()`
- `test_site_title_config_when_not_set()`

To:

- `test_configuration.py`
- `test_views.py`

I wanted to get some feedback (if that's OK) on ways to test against XSS attacks:

[code]

[code]

Both tests pass and the latter is taken from another XSS test. I am hoping this checks for the correc

[2020-07-29 23:00] ebacal commented on #9221
Issue is fixed in 1.10.11 release

[2020-07-29 23:27] Kristof-Mattei commented on #10027
No, that's correct!

But I'm advocating for the example here: https://airflow.apache.org/docs/stable/configurations-ref.html#airflow-local-settings-configmap

Where it states:

[code]

to be removed, as using `AIRFLOW__KUBERNETES__AIRFLOW_LOCAL_SETTINGS_CONFIGMAP` to inject `airflow_local_settings.py` into the created pod to then mutate it is  not possible!

[2020-07-29 23:58] Kristof-Mattei commented on #10027
`pod_mutation_hook` works perfectly, I am stating that defining `pod_mutation_hook` inside of `airflow_local_settings.py` mounted INSIDE of a K8s container via `AIRFLOW__KUBERNETES__AIRFLOW_LOCAL_SETTINGS_CONFIGMAP ` has 0 effect.

Let's look at the documentation:
https://airflow.apache.org/docs/stable/configurations-ref.html#airflow-local-settings-configmap

The example config file looks as follo

[2020-07-30 00:41] kaxil commented on #10027
You are using it wrongly. Let me try to explain.

"airflow.cfg" and "airflow_local_settings.py" file needs to exist on the Scheduler (Whether your Scheduler is on a VM or a POD isn't relevant here). We have also added documentation on where to out this file: https://airflow.apache.org/docs/stable/concepts.html#where-to-put-airflow-local-settings-py

The `pod_mutation_hook` now is used whenever you

[2020-07-30 00:41] #10027 closed

[2020-07-30 01:14] wxm245 opened #10055 "Can not started scheduler when use command "airflow scheduler -D""
when i use command "airflow scheduler -D", I found process can not started.
And in files airflow-scheduler.err, airflow-scheduler.out have error info.
airflow-scheduler.err
Traceback (most recent call last):
  File "/usr/local/bin/airflow", line 37, in <module>
    args.func(args)
  File "/usr/local/lib/python3.6/site-packages/airflow/utils/cli.py", line 76, in wrapper
    return f(*args, **kwargs

[2020-07-30 04:43] danly commented on #8939
Thanks @rootcss I didn't realize I was looking at the wrong docs.

[2020-07-30 04:43] #8939 closed

[2020-07-30 08:21] singhania opened #10057 "Standard way of submitting and cleaning up DAGs via APIs"
**Description**
Currently airflow doesn't provide a way to submit a DAG (an experimental api exists but not part of airflow deployment).
Similarly it provides a way to delete dag but doesn't cleanup the file.

**Use case / motivation**
We have a requirement where I want to generate a DAG programatically and then submit to airflow.Similarly based upon user request would like to cleanup the same.
Bu

[2020-07-30 08:46] joshowen commented on #8460
Hi @potiuk I do think this is worth resurrecting.  Having a path to migrate between executors is helpful with a larger deployments, especially now that the Kube executor is a thing.  I assume I could build a custom executor to handle the executor instance routing, but making it easily configurable by dag/task is definitely preferable.

[2020-07-30 08:47] sudarshan2906 opened #10058 "ldap configuration when rbca is true"
I am configuring ldap when rbca is true
webconfiguration.py
[code]
airflow.cfg
[code]

I also created a admin user using
[code]

But in login page no matter what i type it is giving me same message that - Invalid login. Please try again.

[2020-07-30 09:09] olchas opened #10059 "GoogleAnalyticsHook always uses default gcp_conn_id"
**Apache Airflow version**: master

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): N/A

**Environment**: N/A

**What happened**:

`__init__` method of [`GoogleAnalyticsHook`](https://github.com/apache/airflow/blob/master/airflow/providers/google/marketing_platform/hooks/analytics.py#L26) is constructed in such a way, that the hook always uses the default value of `gc

[2020-07-30 09:09] olchas opened #10060 "No arguments provided for GCSHook in GCSUploadSessionCompleteSensor"
**Apache Airflow version**: master

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): N/A

**Environment**: N/A

**What happened**:

[`GCSUploadSessionCompleteSensor`](https://github.com/apache/airflow/blob/master/airflow/providers/google/cloud/sensors/gcs.py#L193) does not provide any arguments for `GCSHook` in [`_get_gcs_hook`](https://github.com/apache/airflow/blob/m

[2020-07-30 09:47] shoeffner opened #10061 "Toggle buttons fire wrong URLs when deploying in "subdirectory""
**Apache Airflow version**: 1.10.11

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): n.a.

**Environment**:

- **Cloud provider or hardware configuration**: on-premise
- **OS** (e.g. from /etc/os-release):
[code]
- **Kernel** (e.g. `uname -a`):
`Linux basquiat 4.9.0-8-amd64 #1 SMP Debian 4.9.144-3.1 (2019-02-19) x86_64 GNU/Linux`

- **Install tools**: `pipenv --python

[2020-07-30 09:59] shoeffner commented on #10061
I think
[code]
might do the trick, but haven't had the time to test yet. If so, I will create a PR. (As this is dynamic JS thing, I assume building the URL completely using `url_for` might be impossible)

https://github.com/apache/airflow/blob/44d4ae809c1e3784ff95b6a5e95113c3412e56b3/airflow/www/views.py#L1896-L1901