[2022-05-24 09:38] olivermeyer opened #23885 "Failed to adopt pod: Scheduler cannot adopt running pods"
### Apache Airflow version

2.2.4

### What happened

I am running Airflow 2.2.4 on Kubernetes, using the KubernetesExecutor. If I re-create the scheduler pod, it attempts to adopt running job pods but fails to do so:
[code]
The pods are then killed by the scheduler.

I tried to dig into the code as best I could, and I found that this _might_ be caused by the `KubernetesExecutor` trying to update

[2022-05-24 09:41] eladkal commented on #23882
Airflow is recommended to be installed with [constraints](https://airflow.apache.org/docs/apache-airflow/stable/installation/installing-from-pypi.html#installation-tools)

If you follow the guidelines and check the constraints file you will see:
https://github.com/apache/airflow/blob/d18aee02142e0ab285101c45c60de1c81ef7e7ad/constraints-3.7.txt#L206

I have no objection for setting higher lower bou

[2022-05-24 10:58] potiuk commented on #23475
I think that's a good general solution that solves the problem (and it does not need any other fix except maybtle updating the docs). Thanks @Taragolis. Closin

[2022-05-24 10:59] potiuk commented on #23475
@SamLynnEvans would you like to make a PR to the Aws docs to mention that as a solution

[2022-05-24 11:00] SamLynnEvans commented on #23475
Yes that seems simpler, thank you!

[2022-05-24 11:00] #23475 closed

[2022-05-24 12:40] AnumSheraz opened #23890 "DAG removed, but still visible in WebUI, cannot delete dag manually from UI 404"
### Apache Airflow version

2.1.4

### What happened

We dynamically generate dags based on directiry names in a specific path, using following code

[code]

Under this directory we have one directory named `analytics_dag`. This was running fine. But due to its huge size, we decided to split this dag into small dags. We now have a top directory called `daily` under which we have multiple directori

[2022-05-24 13:19] koconder commented on #21004
https://github.com/dpgaspar/Flask-AppBuilder/issues/1691 Seems to be resolved now

[2022-05-24 13:20] snjypl commented on #23885
@olivermeyer  it looks like the `pod.metadata.name` is `<pod id>` .

have you configured a pod_mutation_hook?

can you verify that names of the task pods?

[2022-05-24 13:43] #23670 closed

[2022-05-24 14:19] adityasharmaKH opened #23893 "Kubernetes pods are not staying alive when delete_worker_pods set to False"
### Apache Airflow version

2.1.4

### What happened

I am setting `delete_worker_pods = False` and expecting  pod to remain after the job is complete. However, once the job is complete the pod is deleting.

apache-airflow-providers-cncf-kubernetes==2.1.0
kubernetes==11.0.0

### What you think should happen instead

Pod should not delete after the job completion.

### How to reproduce

Run any job

[2022-05-24 14:54] jerome-aosis opened #23895 "Airflow DAGs not refreshed with pullPolicy set to Always with the same container tag"
### Official Helm Chart version

1.6.0 (latest released)

### Apache Airflow version

2.3.0 (latest released)

### Kubernetes Version

1.20.11

### Helm Chart configuration

[code]

### Docker Image customisations

My DAGs image is just an hello world DAGs:

[code]

The Dockerfile just copy the python file in the default `/opt/airflow/dags` directory in the worker container.

### What happened

-

[2022-05-24 14:57] Taragolis commented on #22381
Is this argument actually required in this use case? I think BaseOperator have parameter `execution_timeout` for this purpose.

If user want to terminate task after 10 minutes IMHO better set it explicitly, rather than calculate 40 * 15 = 10 min, for example

[code]

Probably better mark deprecate `max_tries` for AthenaOperator and EmrContainerOperator and remove entirely in further releases

[2022-05-24 15:45] potiuk commented on #23868
Yep. Most of the commands had it already. Also I tihnk `shell` has it already (but maybe there is another case):

<img width="738" alt="Screenshot 2022-05-24 at 17 44 35" src="https://user-images.githubusercontent.com/595491/170077436-a801a830-d85a-46a1-ab37-b798c897273b.png">

[2022-05-24 15:45] potiuk commented on #23868
Fix in #23897

[2022-05-24 16:20] potiuk opened #23899 "Upgrade FAB to 4+"
### Body

FAB 4.0.0 keeps a lot of our imporant dependencies from upgrading - including some with CVEs.  We should make the effort to upgrade FAB to 4.0.0 soon to make sure we have it in 2.4.0  (or if possible even  in 2.3.* line.

It has a number of UI dependencies though - including breaking changes in some libraries like PyJWT especially around authentication, so rather serious testing is neede

[2022-05-24 16:21] potiuk commented on #23899
cc: @jedcunningham @kaxil @ephraimbuddy @bbovenzi @jhtimmins

I think we get more and more pressure to get FAB 4.0.* in.

[2022-05-24 16:26] virendhar-aws opened #23900 "Relay logs from AwsGlueJobOperator to Airflow log"
### Description

When GlueJobs are run directly using AwsGlueJobOperator, a feature to relay Glue Job's to Airflow log. Currently - I have to make couple of hops to access Glue Job logs.

### Use case/motivation

Following is the excerpts from Ariflow logs - we see from Glue Job execution,

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a P

[2022-05-24 16:26] potiuk commented on #23899
I looked through https://flask-appbuilder.readthedocs.io/en/latest/breaking.html#version-4-0-0 and the number of breaking changes is well, quite serious.

@dpgaspar  - the changelog mostly links to changes from all the libraries that got bumped. Any comments maybe on the actual problems we might expect (I see that 4.1.1rc1 had just been released, so can we assume 4.1.1 is past the teething problem

[2022-05-24 16:27] #23867 closed

[2022-05-24 17:09] cccs-seb opened #23901 "execution_timeout doesn't work with PythonVirtualenvOperator"
### Apache Airflow version

2.2.2

### What happened

When using `execute_timeout` with PythonVirtualenvOperator, the AirflowTaskTimeout exception is raised but it does not fail the task.

### What you think should happen instead

When the timeout hits, the task should fail like it does for all the other operators.

### How to reproduce

Here is my test DAG
[code]

The Python operator task will ti

[2022-05-24 20:30] cccs-seb commented on #23901
Upon further investigation, it seems like running blocking code (e.g. time.sleep) in the callable will prevent the AirflowTaskTimeout error from bubbling up until the subprocess ends - which prevents execution_timeout from working as intended.

I've experimented with using subprocess' poll() here https://github.com/apache/airflow/blob/1bf6dded9a5dcc22238b8943028b08741e36dfe5/airflow/utils/process_

[2022-05-24 20:48] eladkal commented on #23899
Dup https://github.com/apache/airflow/issues/22397 ?

[2022-05-24 21:06] repl-chris commented on #23852
https://github.com/apache/airflow/pull/23462 and https://github.com/apache/airflow/pull/23690 are working fine

And FWIW, they're not mine but I have also verified https://github.com/apache/airflow/pull/23345 (@jedcunningham) and https://github.com/apache/airflow/pull/23535 (@ianbuss @NickYadance) are also working wonderfully

[2022-05-24 21:17] lukas-at-harren commented on #22727
[code]

[2022-05-24 22:16] subinjp commented on #9342
@potiuk Could you give an update on this feature? We would like to manage DAGs from multiple aws account users in one Airflow environment. Is there any way to achieve this with existing features of airflow?

[2022-05-24 22:20] potiuk commented on #9342
In About 10 hours I have a talk about it at the Airflow Summit that is happening this week. Just watch it - aither live or after. .https://www.crowdcast.io/e/airflowsummit2022

[2022-05-25 00:08] GHGHGHKO commented on #18041
We got SIGETERM errors on about 250 dags

solved this link

[Prerequisites](https://airflow.apache.org/docs/apache-airflow/stable/installation/prerequisites.html#:~:text=The%20minimum%20memory%20required%20we%20recommend%20Airflow%20to%20run%20with%20is%204GB%2C%20but%20the%20actual%20requirements%20depends%20wildly%20on%20the%20deployment%20options%20you%20have)

[2022-05-25 03:18] RNHTTR commented on #23852
#23339 looks good 😄

[2022-05-25 04:12] eladkal commented on #23900
Wouldnt it be better to set operator extra link?
Like we do for google: https://github.com/apache/airflow/issues/9941

[2022-05-25 04:13] eladkal opened #23909 "Cloud Translation"

[2022-05-25 04:14] eladkal commented on #23909
Opened by mistake

[2022-05-25 04:14] #23909 closed

[2022-05-25 05:45] eladkal commented on #22328
@utkarsharma2 are you still working on this issue?

[2022-05-25 05:46] eladkal commented on #22318
@tnyz are you still working on this issue?

[2022-05-25 05:47] eladkal commented on #22317
@danielbeach are you still working on this issue?

[2022-05-25 06:12] utkarsharma2 commented on #22328
@eladkal, I didn't get a chance to work on it, planning to look into it next week.

[2022-05-25 06:43] uranusjr commented on #23882
IMO Airflow should not be eagerly determining what version of a package should be used here. Any croniter versions newer than 0.3.17 is compatible, and that’s what Airflow’s dependency metadata should care about.

[2022-05-25 08:00] potiuk commented on #23882
We can add lower-bound limitations - and we did it for some really serious security issues when we wanted to make sure that our users did not use certain dependencies (or where we new there is a compatibility issue. But in this case, where DAG writer can anyhow do whatever (including spawning millions of processes or allocating all memory or deleting the whole database, the fact that they can also

[2022-05-25 08:00] #23882 closed

[2022-05-25 08:08] parvezmkhan opened #23910 "Airflow SalesforceHook empty security token"
### Apache Airflow version

2.2.2

### What happened

When creating salesforce hook like below get
sf = SalesforceHook(salesforce_conn_id="test_sf")

Get below TypeError
You must provide login information or an instance and token

This is test salesforce domain.
User name and password are set correctly in Airflow connection but security token is not filled.
I expect the connection to setup without

[2022-05-25 08:45] dpgaspar commented on #23899
@potiuk Should be stable yes, 4.0.0 is on Apache Superset since 16 March. Here's the PR with the bump: https://github.com/apache/superset/pull/19168/. On other projects I found that flask-jwt-extended and pyJWT are the areas that need more attention.

In fact 4.1.1 fixes a bug introduced on 4.1.0 :)

[2022-05-25 08:49] potiuk commented on #23899
Thanks Daniel. It will be definitely helpful to look at the superset change !

[2022-05-25 09:18] omarsmak opened #23911 "Add DAG "Skipped" status in case of "startDate" in the future while manually triggering a DAGRun"
### Description

Currently, if we set a startDate in the future, let's say 2029 and the the backfill is disabled, when triggering a DAGRun, the DAGRun status will be set to "Success" although no tasks have ran due to the future startDate, this can be potentially misleading to the user thinking. Therefore, I think it would make sense in such a use case, to add a new "Skipped" DAGRun status that ind

[2022-05-25 10:28] ephraimbuddy commented on #23852
Thank you all for testing this release!

[2022-05-25 10:28] #23852 closed

[2022-05-25 12:13] eladkal commented on #23910
You are using `apache-airflow-providers-salesforce 3.3.0 `which is out of date.
Check the changelog version [3.4.0](https://pypi.org/project/apache-airflow-providers-salesforce/#description) included
 [Do not require all extras for SalesforceHook (#19530)](https://github.com/apache/airflow/pull/19530)

[2022-05-25 12:13] #23910 closed

[2022-05-25 14:42] Taragolis commented on #23900
@eladkal much better than fetch all logs by Airflow, because someone could spawn Glue Job with 40 DPU and in this case Airflow should fetch logs from 80 log prefixes (error and output)

Unfortunately it is not easy integrate with AWS UI, for example Developer login in browser into `Account A` and Airflow execute Glue Job in `Account B` - that mean link wouldn't work. But even this better rather th

[2022-05-25 15:14] Dark-Knight11 commented on #23832
Hi, I would like to work on this feature. Can you please guide me a little on how to proceed with it?

[2022-05-25 15:24] zachliu commented on #23588
@ashb steps to reproduce: https://github.com/apache/airflow/discussions/23908

[2022-05-25 16:04] javad87 commented on #16176
I guess this issue has not resolved yet; since, I get the same Error, when excuting this command:
 helm upgrade --install airflow apache-airflow/airflow --namespace airflow --create-namespace --debug --timeout 10m0s

client.go:556: [debug] Add/Modify event for airflow-run-airflow-migrations: MODIFIED
client.go:595: [debug] airflow-run-airflow-migrations: Jobs active: 1, jobs failed: 0, jobs succee

[2022-05-25 16:04] gpoulin commented on #23760
@potiuk how do you usually manage backward compatibility? GCSHook.list already take a `max_result` parameter, but it's actually the pagination size [ref](https://github.com/apache/airflow/blob/main/airflow/providers/google/cloud/hooks/gcs.py#L673). If I was to write that from scratch I would have 2 parameters: max_result (number of returned values) and pagination_size (number of result fetch at on

[2022-05-25 16:05] gpoulin commented on #23760
@potiuk how do you usually manage backward compatibility? GCSHook.list already take a `max_result` parameter, but it's actually the pagination size [ref](https://github.com/apache/airflow/blob/main/airflow/providers/google/cloud/hooks/gcs.py#L673). If I was to write that from scratch I would have 2 parameters: max_result (number of returned values) and pagination_size (number of result fetch at on

[2022-05-25 17:10] Taragolis commented on #23832
@Dark-Knight11 I would like to warn about side effect of fetch AWS Glue Logs into Airflow Tasks logs (already mentioned in the almost the same issue https://github.com/apache/airflow/issues/23900#issuecomment-1137357273).

If your Glue Job uses 40 DPU that mean it spawn minimum 1 driver and 39 workers/executors and all of them will create errors and output logs, as result
1. You need to find all o

[2022-05-25 17:13] alexperry-shifu commented on #16176
collaborating users.
HAHAHAHAHA!!!

Dude, it wasn't me this time!

While I am enjoying the humor, feel free to take me off this thread.

Regards,

Alex

-----------------------------------------------------------------------------------------------------------------

"The Only Way To Get The Best Of An Argument Is To Avoid It.
An argument is 90% emotion and 10% nonsense. A mature professional avoi

[2022-05-25 17:49] joshzana commented on #23772
@bbovenzi Thanks for the progress so far.  I tried out the new 2.3.1 release with #23813 in it, but this is still an issue for us.  The big DAG mentioned above is now taking >60 seconds to load and then timing out (we have an nginx reverse proxy with a 60 second timeout on it). The timeout is on the `airflow/dags/<dag_id>/grid` HTTP GET.  Smaller DAGs are able to load fine, but medium-sized ones a

[2022-05-25 18:10] yershovkiril opened #23917 "Wrong dependecy version of requests for Databricks provider"
### Apache Airflow Provider(s)

databricks

### Versions of Apache Airflow Providers

apache-airflow-providers-databricks==2.7.0

### Apache Airflow version

2.2.2

### Operating System

Debian GNU/Linux 11 (bullseye)

### Deployment

Other

### Deployment details

_No response_

### What happened

There was added import statement from the `requests` library to `airflow/providers/databricks/hooks/

[2022-05-25 18:18] bbovenzi commented on #23772
Yes, that change was just for dynamic tasks. I am working on more optimizations. They just didn't make it in time for 2.3.1.

[2022-05-25 19:29] collinmcnulty commented on #23917
I have also reproduced this error and confirmed that adding `requests>=2.27,<3` fixes the problem.

[2022-05-25 20:16] Dark-Knight11 commented on #23832
Ok, Thanks. I'll look into it

[2022-05-25 21:20] romj4k3 commented on #14529
Hey guys, what's going on with that task? I need this solution. Please, do it :)

[2022-05-25 22:09] rodrigo-fss commented on #15770
Hello guys
any updates? I'm still struggling with the leveldb requirement to install the google provider and I can see that it wasn't split apart yet. Do you have any recommendations?

[code]

Thanks!

[2022-05-25 22:14] rodrigo-fss commented on #15933
Hello guys
any updates? I'm still struggling with the leveldb requirement to install the google provider and I can see that it wasn't split apart yet. Do you have any recommendations?

plyvel/_plyvel.cpp:703:10: fatal error: leveldb/db.h: No such file or directory
#14 3.011         703 | #include "leveldb/db.h"
Airflow 2.0.2
Python 3.9.6

Thanks!

[2022-05-25 23:46] hankehly commented on #22708
@blag Hello, I'd like to continue contributing to this PR a few commands at a time. If someone could kindly take a look at / merge the PRs I submitted, I would gladly pick up another batch and continue working.

[2022-05-26 02:31] parvezmkhan commented on #23910
@eladkal
Thanks a lot for looking into this.

I upgraded to 3.4.4 as shown below
`
pip install --upgrade apache-airflow-providers-salesforce==3.4.4

pip show apache-airflow-providers-salesforce
Name: apache-airflow-providers-salesforce
Version: 3.4.4
`

After running, still get same error
`
sf = SalesforceHook(salesforce_conn_id="test_sf")
...
TypeError: You must provide login information or an in

[2022-05-26 02:37] eladkal commented on #23910
Please follow
https://airflow.apache.org/docs/apache-airflow-providers-salesforce/stable/connections/salesforce.html

There are different types of authentication to snowflake. Make sure you are following the insteuctions

[2022-05-26 03:21] uranusjr commented on #15770
You would probably have better luck reaching out to the plyvel maintainers. https://github.com/wbolster/plyvel

[2022-05-26 03:38] eduardchai commented on #23852
The tasks with `.` appears only on newly created dags. If you are modifying an existing DAG (e.g. `task_id` from `run_0` to `run.0`, adding a task to an existing DAG, etc) it will not work and you need to delete the DAG first. Modifying DAG `task_id` may not be a common practice, so this info may be useful for people who do.

[2022-05-26 03:48] gbonazzoli opened #23925 "Airflow 2.3.1 : "CryptographyDeprecationWarning: Blowfish has been deprecated" message on gunicorn 20.1.0 startup"
### Apache Airflow version

2.3.1 (latest released)

### What happened

I get the following warning on the startup of gunicorn:

[code]

### What you think should happen instead

The message is self explaining.

The configuration file (webserver_config.py) has the following:

`AUTH_TYPE = AUTH_LDAP
`
I think this settings is responsible of the message, infact with AUTH_DB gunicorn doesn't cry.

##

[2022-05-26 03:54] eduardchai commented on #23852
I have confirmed that https://github.com/apache/airflow/pull/23617 has been fixed 🎉 . Thank you!

[2022-05-26 04:00] gbonazzoli opened #23926 "Airflow 2.3.1 - gunicorn keeps removing and adding Permission menu access on Permissions to role Admin"
### Apache Airflow version

2.3.1 (latest released)

### What happened

gunicorn log file is full of these messages.

This behavior was present also in release 2.3.0

I don't think that was a problem in Airflow 2.2.x

The problem is that web server now is much weekier than before and it is the second time in a week that I found it not running.

[code]

### What you think should happen instead

Log

[2022-05-26 04:28] dstandish commented on #15770
@rodrigo-fss pretty sure that leveldb was made optional in google provider.  You might try installing a more recent version of the provider.  Which one did you try to install?

[2022-05-26 06:48] koconder commented on #23917
Started a PR for this based on the comment/test from @collinmcnulty as https://github.com/apache/airflow/pull/23927

[2022-05-26 07:21] jacoDentsu commented on #10026
A new version 3.2 and still no fix...

[2022-05-26 07:40] uranusjr commented on #23760
Since this is a provider package, the general rule is “try to keep compatibility, but break it if you must”. From your comment it seems like a break is necessary?

[2022-05-26 07:48] uranusjr commented on #23911
Skipped sounds wrong because a skipped task means it _won’t_ run, and it’d be confusing if a skipped DAG run means otherwise. I wonder if we can simply set the state to None.

[2022-05-26 11:45] matan-michaely opened #23933 "Failed to load Grid view when adding tasks to already exist dag"
### Apache Airflow version

2.3.1 (latest released)

### What happened

I have a DAG with several dag_runs which rendered fine in the Grid view.
After adding new task Grid view failed to load getting blank view .
There is an error in browser console.
`TypeError: Cannot read properties of null (reading 'runId')`
This Error comes from  `grid.jsx`

### What you think should happen instead

dag should

[2022-05-26 12:06] yfyg opened #23935 "No option to set blocksize when retrieving a file in ftphook"
### Apache Airflow version

2.0.0

### What happened

using ftphook, im trying to download a file in chunks but the deafult blocksize is 8192 and cannot be changed.
retrieve_file code is calling conn.retrbinary(f'RETR {remote_file_name}', callback) but no blocksize is passed while this function is declared:
 def retrbinary(self, cmd, callback, blocksize=8192, rest=None):

### What you think should

[2022-05-26 12:34] mfridrikhson commented on #13692
We had the same issue with retrieving task logs but from what I've been able to find out it looks like it is not related to any connection issues with the actual log provider.

Our specific case of this issue was the following: we got a task failure and the task instance was marked `failed` in the DAG view. When you go to the task view you could see 2 log tabs: first with the `Failed to fetch log

[2022-05-26 12:55] potiuk commented on #14529
If you know it's easy @romj4k3 - feel free to provide PR. As simple as that. You can become one of the more than 2000 contributors. It's super easy way to repay the debt you have for using free software.

[2022-05-26 13:16] josh-fell commented on #23935
@yfyg It seems like you know what the feature implementation should be and can easily test it too. Do you want to submit a PR for this? Airflow has over 2K contributors and we love when new people come onboard!

[2022-05-26 13:18] potiuk commented on #15933
@rodrigo-fss -> Plyvel is not a requirement for Google Provider any more - it's optional dependency - you do not have to install it. But in any case you need to upgrade to 2.1+ as google providers are already not compatible with 2.0.* line so you are using a really old version of those and even if we split providers, you will have to upgrade anyway to use that.

So upgreding to Airflow 2.1+ (Ideal

[2022-05-26 13:21] potiuk commented on #15770
Yeah. As mentioned in #15933 the right solution to your problem is to upgrade to Airflow 2.1+.

[2022-05-26 14:08] tirkarthi commented on #23925
Related issue https://github.com/paramiko/paramiko/issues/2038

[2022-05-26 14:12] potiuk commented on #23925
I wil take a look at that one shortly (i.e. next week  due to Summit). It's not clear for me what blocks paramiko from upgrading to the latest version - even in main).  Stay tuned.

[2022-05-26 14:35] abhishekbhakat commented on #23361
@ashb The log file provided has that error in around line no. 5810

Attaching the error message below:
[code]

[2022-05-26 14:49] Dark-Knight11 commented on #9941
Hi, I would like to add operators for Compute Engine service. Can you please guide me on it?

[2022-05-26 15:36] #23933 closed

[2022-05-26 15:58] #23273 closed

[2022-05-26 16:01] ZouhirSarrar opened #23942 "Trigger_rule don't work while using task decorator"
### Apache Airflow version

2.3.0

### What happened

Hello!

I'm using taskflow api for my dag and was trying to run the last task even if the previous task failed, I used `@task(trigger_rule=TriggerRule.ALL_DONE)` but i still got the ending task failed too.

<img width="213" alt="image" src="https://user-images.githubusercontent.com/38496723/170526480-131e6ed4-e2a0-4711-9328-2326f94885e3.png">

[2022-05-26 16:40] bbovenzi opened #23945 "Add backfill icon to grid view dag runs"
### Description

In the grid view, we use a play icon to indicate manually triggered dag runs. We should do the same for a backfilled dag run.

Possible icons can be found [here](https://react-icons.github.io/react-icons).

Note: We use the manual run icon in both the [dag run bar component](https://github.com/apache/airflow/blob/main/airflow/www/static/js/grid/dagRuns/Bar.jsx) and in the [details

[2022-05-26 16:46] bbovenzi opened #23946 "Grid view: Use REST API for queueing and clearing DAG runs"
### Description

In https://github.com/apache/airflow/issues/23420 and https://github.com/apache/airflow/issues/23419, we added the ability to queue and clear a DAG run via the REST API instead of the webserver. The UI should now use those REST endpoints.

Notes:
One can follow the example for getting task data: https://github.com/apache/airflow/blob/main/airflow/www/static/js/grid/api/useTasks.js

[2022-05-26 17:27] josh-fell commented on #23942
IMO this should be expected. The `end` task is expecting an input from the `task_to_fail` output but the latter task has failed and doesn't produce an `XComArg`. The `end` task does _actually_ run so the trigger rule is respected, but fails with:
[code]

What would you expect the behavior to be in this scenario?

[2022-05-26 17:29] mattvonrocketstein commented on #13542
Question for other MWAA users.. have you guys tried setting max-workers==min-workers, basically disabling autoscaling?  Is anyone _without_ autoscaling actually seeing this stuff, regardless of airflow version?

We've also talked to the MWAA team, and haven't heard clear answers about whether messages/workers are properly drained when down-scaling, so I'm wondering if that's not the crux of this i

[2022-05-26 18:53] ZouhirSarrar commented on #23942
i want the end task to continue working

[2022-05-26 19:09] svncsvr opened #23948 "Airflow Scheduler Keeps Crashing"
### Apache Airflow version

2.2.3

### What happened

First of all, It is a very strange error and happened all of a sudden when running some tasks within a DAG which was switched off
 So basically within this DAG, we had a sensor running and a few downstream after that in a clean state. After those were in a clean state another sensor was also running. At this point, the scheduler started crashin

[2022-05-26 19:58] eladkal commented on #23925
In both main and 2.3.1 `paramiko` is in latest version

[2022-05-26 20:04] eladkal commented on #23925
The 2.3.1 constraints were refreshed in https://github.com/apache/airflow/commit/edf8c465b95479bac53119e465c5bf9613b8b33c
10 days ago..
@gbonazzoli Did you use updated constraints?

[2022-05-26 20:19] bbovenzi commented on #23772
Going to reopen as we can still do more to improve perfomance for large DAGs

[2022-05-26 20:40] jonathan-ostrander commented on #23760
I have changes, without breaking any of the APIs by using the underlying connection, almost ready (just need to add a couple tests) but I just went on vacation for a couple weeks.

[2022-05-26 21:08] bbovenzi opened #23949 "Only autorefresh active dags on home page"
### Description

In https://github.com/apache/airflow/pull/22900, we added auto-refresh for the home page. Right now, we pass all dag_ids to the `last_dagruns`, `dag_stats` and `task_stats` endpoints. During auto-refresh, we should only request info for dags that are not paused.

On page load, we still want to check all three endpoints for all dags in view. But for subsequent auto-refresh requests

[2022-05-26 21:36] karakanb opened #23950 "Long running tasks being killed with CeleryKubernetesExecutor"
### Apache Airflow version

2.2.5

### What happened

Hi there, this one is a bit of a weird one to reproduce, but I'll try my best to giive as much information as possible.

### General Information

First of all, here's some list information:
- Airflow version: v2.2.5
- Deployed on k8s with the user-community helm chart:
  - 2 scheduler pods
  - 5 worker pods
  - 1 flower pod
  - 2 web pods
  - U

[2022-05-26 22:43] jhtimmins commented on #23926
@gbonazzoli Thanks for reporting this. I've been able to replicate the issue locally and will work on a fix.

[2022-05-27 01:11] potiuk commented on #23925
Ahhh Right - I think I checked it in my own fork :facepalm: . Yep. Paramiko was updated in the latest versions. So all is good. Closing.

[2022-05-27 01:11] #23925 closed

[2022-05-27 01:29] potiuk commented on #10026
@jacoDentsu - could you please reproduce it in your instance of 2.3.*  (we do not have 3.2 yet) and post the logs wiht it? You seem to still have the problem - that would allow us to confirm if the issue have not been fixed in the meantime. Seems that we had problems with diagnosing ti - so it could have been fixed in the meantime and we did not noticed.

Can I count on your help here @jacoDentsu

[2022-05-27 02:46] potiuk commented on #20875
Migration to 2.3.* and using `airflow dags reserilize` should help.

[2022-05-27 02:52] potiuk commented on #12985
@oriolcmp  - it works here in the way that the fastest way to implement somethign that you really want to, is to implement it.  I think waiting two years for something you want is far too long, but if no-one picked it up, then indeed implementing by you is way better.

[2022-05-27 02:53] gbonazzoli commented on #23925
@eladkal @potiuk

If it can be of help, I manually upgraded paramiko without having any complain from pip:

[code]

[2022-05-27 02:54] potiuk commented on #23925
That's expected. Just FYI - you should use constraints to install Airflow https://airflow.apache.org/docs/apache-airflow/stable/installation/installing-from-pypi.html

[2022-05-27 03:10] josh-fell opened #23954 "Add missing parameter documentation in `DatabricksSubmitRunOperator` and `DatabricksSqlOperator`"
### Body

Currently the following modules are missing certain parameters in their docstrings. Because of this, these parameters are not captured in the [Python API docs for the Databricks provider](https://airflow.apache.org/docs/apache-airflow-providers-databricks/stable/_api/airflow/providers/databricks/index.html).

- [ ] DatabricksSubmitRunOperator: `tasks`
- [ ] DatabricksSqlOperator: `do_xco

[2022-05-27 03:11] gbonazzoli commented on #23925
@potiuk

Many thanks, I wasn't aware of the constraints file existance. I will do it next time.

Donwloaded it, and it contains `paramiko==2.11.0`.

[2022-05-27 03:23] josh-fell opened #23955 "Add missing parameter documentation for `KubernetesHook` and `KubernetesPodOperator`"
### Body

Currently the following modules are missing certain parameters in their docstrings. Because of this, these parameters are not captured in the [Python API docs for the Kubernetes provider](https://airflow.apache.org/docs/apache-airflow-providers-cncf-kubernetes/stable/_api/airflow/providers/cncf/kubernetes/index.html).

- [ ] KubernetesHook: `in_cluster`, `config_file`, `cluster_context`,

[2022-05-27 04:15] uranusjr commented on #23948
Duplicate of https://github.com/apache/airflow/issues/22160

[2022-05-27 04:15] #23948 closed

[2022-05-27 04:25] #23435 closed

[2022-05-27 04:50] eladkal commented on #22846
Fixed in https://github.com/apache/airflow/pull/23766

[2022-05-27 04:50] #22846 closed

[2022-05-27 06:30] MattiaGallegati commented on #23950
I can remember of someone who argued about a similar issue on Stackoverflow using CeleryExecutor.
Maybe the problem is Celery linked?

BTW, I'm following this issue since I'm going to adopt Airflow in order to run long running tasks (e.g. 5-10 hours).
My initial architecture for production will be on Celery.

[2022-05-27 07:02] jacoDentsu commented on #10026
@potiuk which logs do you want? The console just give the same as https://github.com/apache/airflow/issues/10026#issuecomment-932527695

[2022-05-27 07:26] omarsmak commented on #23911
The confusing part is the API, when I query the DAGRuns through the REST APIs for a particular DAG, I get for those DAGRuns that didn't run a `success` which is _really_ misleading since no tasks have ran for the particular DAG. Regarding the Skipped status, this is just an idea, if there is an extra field or different status that tells me nothing has ran, I think this would suffice.
What kind of

[2022-05-27 08:19] eladkal commented on #10178
Closing as all items were completed / moved to dedicated issue

[2022-05-27 08:19] #10178 closed

[2022-05-27 08:21] eladkal commented on #10182
All the content already reviewed and existed in https://github.com/apache/airflow/blob/main/CONTRIBUTORS_QUICK_START.rst

So the only step left is to create Airflow blog

[2022-05-27 08:53] z-sarrar commented on #23942
I did this and it worked for me
`[op_2, op_3] >> join()`

[2022-05-27 09:00] dryshliak opened #23959 "Error while upgrading 1.10.15 to 2.3.1 (DB related) - MySQL DB version 8.0.29"
### Apache Airflow version

2.3.1 (latest released)

### What happened

On "airflow db upgrade" I'm getting next error.

and a ``task_map`` table to track mapping values from XCom.
Traceback (most recent call last):
  File "/usr/local/lib/python3.9/dist-packages/sqlalchemy/engine/base.py", line 1705, in _execute_context
    self.dialect.do_execute(
  File "/usr/local/lib/python3.9/dist-packages/sq

[2022-05-27 09:42] m1racoli commented on #23852
#22754 has been fixed too. 🥳  Thanks a lot!

[2022-05-27 09:52] stepanof opened #23960 "Grid page visibility in the latest 2.3.1 release"
### Apache Airflow version

2.3.1 (latest released)

### What happened

Hello team!

I have faced the problem with Grid visibility in the latest 2.3.1 release.

**My issue (example)**
1) Here is the end of dag code:
[code]

Grid:
![image](https://user-images.githubusercontent.com/68236577/170659035-89e75dc7-19b7-45e1-9e7f-8831abffb98c.png)

2) Delete task with telegram alert:
Code in the end of da

[2022-05-27 11:07] potiuk commented on #10026
All logs that you can find that you've already looked at (and will look at). I guess you did some investigation already and tried to understand the issue? As you probably are aware - this is not a helpdesk. People here help in their free time for the software that you get for free. And we MIGHT be able to help you as long as you show that you've done your part and as long as you provide enough inf

[2022-05-27 11:10] potiuk commented on #10026
BTW. Log with showing SIGTERM means that something killed the task. This might be anything andi in vast majority of cases  this is a problem with misconfiguration of your deployment.

Just make sure to spend quality time at looking at your deployment logs - and finding clues what can be killing the workers - as long as you provide some logs of your deployment (which you are the only person who can

[2022-05-27 11:29] eladkal opened #23963 "Add `TrinoToSlackOperator`"
### Body

Runs a single query against Trino and send output to Slack channel
functionality should be similar to existed `SnowflakeToSlackOperator`

https://github.com/apache/airflow/blob/e2401329345dcc5effa933b92ca969b8779755e4/airflow/providers/snowflake/transfers/snowflake_to_slack.py#L32

### Committer

- [X] I acknowledge that I am a maintainer/committer of the Apache Airflow project.

[2022-05-27 12:34] spelufo opened #23965 "S3 keys provided by aws/log/s3_task_handler.py to s3 hook contain the prefix `s3://`, causing minio bad request."
### Apache Airflow version

2.3.1 (latest released)

### What happened

We've been trying to configure remote_logging to minio with the s3_task_handler, as described [here](https://airflow.apache.org/docs/apache-airflow/1.10.13/howto/write-logs.html#writing-logs-to-amazon-s3). We test on a local k8s kind cluster, with the airflow helm chart. After some debugging and verifying that the connection c

[2022-05-27 12:35] eladkal commented on #15219
fixed in https://github.com/apache/airflow/pull/22086

[2022-05-27 12:35] #15219 closed

[2022-05-27 12:39] potiuk commented on #20875
Python 3.6 reached end of life in October and stopped receiving security fixes, so you are putting your company in a great risk by not migrating in "planned" way - it is possible that a critical bug will be discovered and you will HAVE TO upgrade in a hurry - like it was with Log4Shell - If your reason is Python 3.6, I would strongly recommend you to start migration process now.

The root cause is

[2022-05-27 12:44] potiuk commented on #20875
And yes. In most cases the suggestion here (if have not enough data to  diagnose our user's environment and specific case) the advise will be to check if the problem is fixed is to migrate. With < 2:1000 ratio of maintainers to users, it's far easier that our users are paying back to the community (and other users) by testing if new version fixes their problem rather than maintainers spending time

[2022-05-27 12:47] lukas-at-harren commented on #23926
@jhtimmins can you push a PR asap, because we might need that very quickly and are willing to help look into the problem as well. Happy to see your failure and issue replication.

[2022-05-27 12:48] parthpalkhiwala-vonage commented on #20875
Thanks for the quick response.
Unfortunately airflow dags reserialize isn't available in 2.2.5 but based on the github code, we ran the following code to reserialize our dags

[code]

But that too doesn't seem to work as the dags still were giving import errors.
Interestingly enough if I duplicate the same dag code in a new Dag in a new file, it runs without giving any import error.

[2022-05-27 13:02] mariasumedre-3pg commented on #23955
Hello! Can I pick this up?

[2022-05-27 13:03] stepanof commented on #23960
WebServer log contains:
[code]

[2022-05-27 13:18] stepanof commented on #23960
What DevTools found:
![image](https://user-images.githubusercontent.com/68236577/170706951-68b7afd1-6631-4a5f-ac5a-3cf62a170edb.png)

[2022-05-27 13:38] stepanof commented on #23960
Looks similar to [pull 23332](https://github.com/apache/airflow/pull/23332)
Similar things:
There is problem with visibility of grid actions as well I have.
There is problem with permissions as well my webserver log contain permissions error.

[2022-05-27 13:45] notacoat opened #23967 "serve_logs.py should respect the logging config's task handler's base_log_folder value"
### Apache Airflow version

2.2.5

### What happened

in a worker container, a flask app is spun up to serve task log files that is read by the webserver and rendered to the user in the UI.  The log files cannot be read if you overwrite the task handler's base_log_folder value. (404 error)
 ie. in the airflow.cfg, the base_log_folder = `foo/bar/logs`, and the task handler uses `{base_log_folder}/d

[2022-05-27 13:53] Smirn08 commented on #23960
@stepanof you can try to delete old dag dagruns at /dagrun/list/

[2022-05-27 14:28] #23206 closed

[2022-05-27 14:28] #23414 closed

[2022-05-27 14:29] #23871 closed

[2022-05-27 14:38] dskoda1 commented on #23945
I'd like to work on this as part of the workshop.

[2022-05-27 14:39] eladkal commented on #23945
assigned!

[2022-05-27 14:40] dmcochener commented on #10883
I'd like to work on this one!

[2022-05-27 14:40] eladkal commented on #10883
assigned!

[2022-05-27 14:50] ashb commented on #23926
@lukas-at-harren A possible workaround for now is to set `AIRFLOW__WEBSERVER__UPDATE_FAB_PERMS=False` env var. That should disable the code that is causing this, and I _think_ have minimal impact (the only possibly one is if you have DAG level permissions set you might need to run a CLI command to update the perms.

[2022-05-27 14:53] ashb commented on #23588
@zachliu  That grid view issue was caused by something else (removing a task from a DAG after it has run) to the 500 errors reported in this thread.

[2022-05-27 15:38] dmcochener commented on #10883
[https://github.com/dmcochener/airflow/blob/main/airflow/sensors/external_task.py](Current Work)
Having issues getting the templating to work. Suggestions? @eladkal

[2022-05-27 15:59] dataminding commented on #23926
@ashb I tried setting this env var but the webserver workers keep crashing and the web UI doesn't load. Tried with Airflow versions 2.3.0 and 2.3.1 . Some logs I found relevant:
[code]

[2022-05-27 16:10] potiuk commented on #23926
@dataminding - you seem to run Airlfow on OSX which is not something that we support natively. Please try to replicate it on linux.

[2022-05-27 16:17] gbonazzoli commented on #23926
@ashb On Linux (Ubuntu 20.04) `AIRFLOW__WEBSERVER__UPDATE_FAB_PERMS=False` is a valid work around !

Many thanks.

[2022-05-27 16:32] priyankanaidulin commented on #15752
This issue still exists, when i tried failing the dag manually from UI the subtasks failed yet the overall dag status shows success
<img width="156" alt="image" src="https://user-images.githubusercontent.com/106398063/170741048-11cb3b7c-404c-40ff-b147-615ea04fa8e2.png">

[2022-05-27 16:35] potiuk commented on #23959
Can you see what kind of configuration you have for  database/sql_engine_collation_for_ids  or core/sql_engine_collation_for_ids you have and what's your collation for the task_id columns?

[2022-05-27 16:36] potiuk commented on #23959
More information here: https://airflow.apache.org/docs/apache-airflow/stable/howto/set-up-database.html?highlight=mysql#setting-up-a-mysql-database

[2022-05-27 16:37] gbonazzoli commented on #23960
@stepanof

Same problem here !

I have some DAGS that are not showing up in the grid layout.
In 2.3.0 there was no problem, it starts after upgrade Airflow to 2.3.1

I suspect that the cause is some problems on the permission due to problem with AUTH_LDAP config that I have.

[2022-05-27 16:39] potiuk commented on #23959
Also would be useful if  you let us know what is the collation of your database and your "task_instance.task_id" column in case they are different.

[2022-05-27 16:52] potiuk commented on #23955
Sure

[2022-05-27 20:25] #23945 closed

[2022-05-27 21:56] softestplease commented on #11305
Hello @mik-laj , has this code/feature been tested? I do need this feature in my environment as we  are running Airflow in GKE and would like to trigger Dags with Stable Rest API from Cloud Function. I believe that HTTP only support one authentication header. hence IAP is used from CF to Airflow@GKE, so we are unable to add include username/password for basic_auth backend type. cheers

[2022-05-27 22:12] thaysa opened #23973 "PythonVirtualenvOperator backward compatibility issue - requirements params"
### Apache Airflow version

2.3.1 (latest released)

### What happened

requirements param behaves different in 2.2.X and 2.3.X

[code]

### Env - Airflow 2.2.X
#### task_2_2_X:
[code]

#### task_2_3_X:
`INFO - no such option: --extra-index-url https://my_artifactory_url`

###  Env - Airflow 2.3.X
#### task_2_2_X:
[code]

#### task_2_3_X:
[code]

### What you think should happen instead

_No respo

[2022-05-28 03:38] zachliu commented on #23512
both
https://github.com/apache/airflow/blob/ee100a592e07761f3b32294f3ad82c4a6c7cf74d/airflow/www/app.py#L136
and
https://github.com/apache/airflow/blob/ee100a592e07761f3b32294f3ad82c4a6c7cf74d/airflow/www/app.py#L146
are doing redundant reads/writes to the database once this line
https://github.com/apache/airflow/blob/ee100a592e07761f3b32294f3ad82c4a6c7cf74d/airflow/cli/commands/webserver_command.

[2022-05-28 05:28] SaumyaBhushan commented on #23963
@eladkal How can I do this?

[2022-05-28 07:06] eladkal commented on #23963
@SaumyaBhushan Follow https://github.com/apache/airflow/blob/main/CONTRIBUTORS_QUICK_START.rst

[2022-05-28 09:49] javad87 commented on #16176
Even when I want to delete helm chart with this command: helm delete airflow --namespace airflow

All replicaset, deployment, pods will be deleted but still migration pod and job.batch is running!!!

[root@localhost ~]# kubectl get all -n airflow
NAME                                       READY   STATUS    RESTARTS      AGE
pod/airflow-run-airflow-migrations-djx7d   1/1     Running   3 (16m ago)

[2022-05-28 11:01] potiuk commented on #16176
What the logs of your migration pods show ? https://www.digitalocean.com/community/questions/how-to-check-the-logs-of-running-and-crashed-pods-in-kubernetes

[2022-05-28 11:29] javad87 commented on #16176
I run this command:
kubectl logs airflow-run-airflow-migrations-h7b72 -n airflow
it shows nothing even with -f to follow log it still shows nothing and in other terminal  helm install command is running with this --debug message showing in console:

[root@localhost ~]# helm upgrade --install airflow apache-airflow/airflow --namespace airflow --create-namespace --debug --timeout 10m0s
WARNING: Kube

[2022-05-28 12:25] potiuk commented on #16176
can you please use `k9s` tool and connect/monitor the migration logs ? I found out that it is much better in getting to the right logs.

[2022-05-28 12:26] potiuk commented on #16176
K9s will allow you to monitor more logs in your deployment and likely find the right problem - just explore your installation with it.

[2022-05-28 12:50] rbiegacz commented on #22727
@lukas-at-harren - are you planning to work on this item to fix it?

[2022-05-28 15:47] javad87 commented on #16176
Context: microk8s                                 <0> tail   <6> 1h   <shift-c> Clear               <t> Toggle… ____  __.________
 Cluster: microk8s-cluster                         <1> head            <c>       Copy                <w> Toggle |    |/ _/   __   \______
 User:    admin                                    <2> 1m              <m>       Mark                           |      < \____    /

[2022-05-28 15:49] potiuk commented on #16176
So you have a problem with connecting to postgres then

[2022-05-28 16:14] javad87 commented on #16176
how can I resolve connection issue?

[2022-05-28 16:19] yuyafukuchi commented on #23954
Hello! Can I pick this one?

[2022-05-28 16:24] eladkal commented on #23954
assigned

[2022-05-28 16:38] potiuk commented on #16176
No idea. You have to debug it.

[2022-05-28 16:44] uranusjr commented on #23973
Unfortunately `requirements` being passed directly to `pip` is an implementation detail, and backward compatibility is not guaranteed. Feel free to submit a new feature to allow setting indexes on the operator directly instead.

[2022-05-28 16:44] #23973 closed

[2022-05-28 21:11] eladkal commented on #9555
Closing as this is a discussion for the mailing list not for Github issue.

[2022-05-28 21:11] #9555 closed

[2022-05-28 21:12] eladkal commented on #12647
Closing as already implemented by AIP 42

[2022-05-28 21:12] #12647 closed

[2022-05-28 21:16] eladkal commented on #15147
Does it still happens in latest Airflow version?

[2022-05-28 21:18] eladkal commented on #10835
Closing as we have AIP47

[2022-05-28 21:18] #10835 closed

[2022-05-28 21:58] #23576 closed

[2022-05-28 22:07] potiuk commented on #18932
This has been documented in https://github.com/apache/airflow/pull/23697 in docs. closing.

[2022-05-28 22:07] #18932 closed

[2022-05-28 22:08] potiuk commented on #10182
I think the documentation there is outdated and is actually never used. I don't think we need to add any blog for it.

[2022-05-28 22:08] #10182 closed

[2022-05-29 01:41] uranusjr commented on #15147
Seems fixed to me.

![image](https://user-images.githubusercontent.com/605277/170848535-2916ec47-03ed-47a4-8b88-a68dece187fc.png)

[2022-05-29 01:41] #15147 closed

[2022-05-29 02:22] uranusjr commented on #23512
This seems somewhat related to #23926. cc @jhtimmins

[2022-05-29 03:47] zachliu commented on #23512
aha, i think it's exactly the same as https://github.com/apache/airflow/issues/23926: all gunicorn workers are executing the same code causing clashes on the database

maybe i'll move my comments there

[2022-05-29 03:49] zachliu commented on #23926
hey i already found a layman solution here: https://github.com/apache/airflow/issues/23512#issuecomment-1140160062 :grin:

[2022-05-29 04:44] uranusjr commented on #23965
It would be a good idea to check with Minio maintainers and potentially Amazon about this. Would you be interested in doing this?

[2022-05-29 05:47] chinwobble commented on #18999
@eskarimov  nice work getting this one merged!

[2022-05-29 06:55] ishiis opened #23999 "Set color of Operators in cloud_sql.py"
### Apache Airflow Provider(s)

google

### Versions of Apache Airflow Providers

apache-airflow-providers-google==5.0.0

### Apache Airflow version

2.1.2

### Operating System

GCP Container

### Deployment

Composer

### Deployment details

composer-1.17.1-airflow-2.1.2

### What happened

No color is set for the GraphView legends. All CloudSQLOperator legends are white.

<img width="970" alt="

[2022-05-29 07:06] eladkal commented on #23999
feel free to raise PR

[2022-05-29 12:31] lukas-at-harren commented on #22727
@rbiegacz I wanted to post a potential solution (one that we use in our codebase). But no, I cannot work on this.

[2022-05-29 15:17] eladkal commented on #18334
Well we did with AIP-44 :)

[2022-05-29 17:40] philippefutureboy opened #24010 "Change state of queued/running tasks on marking DAGRun as failed"
### Apache Airflow version

2.2.3

### What happened

Following #19699, we decided in February 2022 to implement a watchdog to clear stuck-in-queued tasks by failing the DAGRun and creating a new DAGRun to start fresh. This had the unintended side-effect to keep those tasks in queued because we did not modify their state alongside failing the DAGRun with stuck-in-queued tasks.

Failing a DAGRun vi

[2022-05-29 18:07] Gelerion commented on #13542
@mattvonrocketstein
I can confirm the issue is still present with autoscaling disabled.

In our case, we dynamically create dags, so the MWAA team's first suggestion was to reduce the load on the scheduler by increasing the refresh dags interval. It seems to help. We see fewer errors in the logs, and tasks getting stuck less often, but it didn't resolve the issue.

Now we are waiting for the secon

[2022-05-29 18:20] eladkal commented on #19883
@josh-fell is this issue resolved or there is a further task?

[2022-05-29 18:25] eladkal commented on #19490
@alexott are you still working on this issue?

[2022-05-29 18:28] alexott commented on #19490
Yes, I do

[2022-05-29 18:31] eladkal commented on #11874
@pierrejeambrun seems similar to the datetime conversion you fixed in https://github.com/apache/airflow/pull/22882
maybe you want to handle this one as well?

[2022-05-29 18:33] eladkal commented on #21487
@mluscon will you PR a fix?

[2022-05-29 18:35] #19566 closed

[2022-05-29 18:36] eladkal commented on #21683
fixed in https://github.com/apache/airflow/pull/23237
and duplicated of https://github.com/apache/airflow/issues/23233
I don't know why I opened two issues for this :/

[2022-05-29 18:36] #21683 closed

[2022-05-29 19:30] stepanof commented on #23960
@potiuk I will be happy to test 2.3.2 RC1. Please let me know how I can get it.

[2022-05-29 21:41] pierrejeambrun commented on #23503
Hello @bbovenzi,

I was playing around and started drafting something for this.

I was thinking about a simple read-only text area positioned with the "internal link" section and with a moderate fixed height.

Only present for `not mapped` and `not group` instances.

- Clicking on the attempt index would load the relevant logs (and not download the logs)
- We keep a download button for downloading

[2022-05-29 22:00] digital2real commented on #19962
You could patch your docker-compose.yml, modifying the "command" section of the airflow-init service (see the last three lines of the following excerpt). When the airflow-init container start, the config directory is not in the python path....

[code]

[2022-05-29 22:16] mik-laj commented on #22727
@rbiegacz Are you interested to take care of this? I will be happy to help with the implementation of this issue, but I do not have the capacity to check all edge cases especially handling internal IP addresses (`use_internal_ip` parameter in ` GKEStartPodOperator`), handling impersonation.

We can be inspired by how `google-github-actions/get-gke-credentials` action is works
https://github.com/go

[2022-05-30 00:14] #20461 closed

[2022-05-30 03:40] ldacey commented on #23361
I have been noticing this error as well. PostgreSQL 14 with Airflow 2.3.1. My scheduler containers keep crashing (I run two of them on two different nodes).

[code]

[2022-05-30 04:04] gbonazzoli commented on #23960
@potiuk @stepanof

I can snapshot my 2.3.1 Environment, install 2.3.2 RC1 and work on it in production.
And if there aren't important regressions keep it without regarding the final results on the grid page.

I only need that 2.3.2 RC1 is installable through `pip install`.

Is it possible ?

[2022-05-30 06:38] uranusjr commented on #21171
Personally I would prefer doing this in the database since it is how this is done right now, and switching to the application side could theoratically introduce incompatibilities since timezone calculating very unfortunately tend to be buggy across implementations.

[2022-05-30 07:47] hammerhead opened #24014 "Task mapping against 'params'"
### Apache Airflow version

2.3.1 (latest released)

### What happened

Importing a DAG using `PostgresOperator` with `expand(params=[...])` fails, claiming `params` was already specified as a partial argument, even though it wasn't.

### What you think should happen instead

The DAG imports successfully.

### How to reproduce

[code]

Exception during import:
[code]

### Operating System

macOS 1

[2022-05-30 07:49] BillSullivan2020 opened #24015 "KubernetesPodOperator/KubernetesExecutor: Failed to adopt pod 422"
### Apache Airflow version

2.3.0

### What happened

Here i provide steps to reproduce this.

Goal of this: to describe how to reproduce the "Failed to Adopt pod" error condition.

The DAG->step Described Below should be of type KubernetesPodOperator

NOTE: under normal operation,
(where the MAIN_AIRFLOW_POD is never recycled by k8s, we will never see this edge-case)
(it is only when the workerPo

[2022-05-30 07:50] Bowrna commented on #23227
@ephraimbuddy @bbovenzi  Could i proceed with getting a tuple of task_ids with corresponding map_index?

[2022-05-30 07:58] ephraimbuddy commented on #23227
The other PR has been merged: https://github.com/apache/airflow/pull/23451

[2022-05-30 08:07] DrStriky opened #24017 "BigQueryInsertJobOperator broken"
### Apache Airflow Provider(s)

google

### Versions of Apache Airflow Providers

7.0.0

### Apache Airflow version

2.2.5

### Operating System

google composer

### Deployment

Composer

### Deployment details

_No response_

### What happened

BigQueryInsertJobOperator can not be used to run SQL query without specifying destination table explicitly in the operator

[code]

### What you think sh

[2022-05-30 08:11] uranusjr commented on #24014
PostgresOperator is misusing `params`. This argument should be renamed.

[2022-05-30 08:19] eladkal commented on #24017
Duplicate https://github.com/apache/airflow/issues/23826

[2022-05-30 08:19] #24017 closed

[2022-05-30 08:22] eladkal commented on #24014
Is there a way to raise exception that will explain to the user that the chosen parameter for expand is not supported?

[2022-05-30 08:31] uranusjr commented on #24014
It’s possible, but not particularly doable unfortunately, since it’s difficult to tell apart what the user puts in when a function is called. With a function like this:

[code]

We don’t have a good way to tell if user called `foo(a=None)` or `foo()`. I’m putting together a PR to make the message slightly more vague so it’s at least not misleading, and add some documentation to explain it.

[2022-05-30 08:37] uranusjr commented on #24014
Oh, actually we already mention this in the documentation:

https://airflow.apache.org/docs/apache-airflow/stable/concepts/dynamic-task-mapping.html

[2022-05-30 08:47] rbiegacz commented on #22727
Yes, I can work on this item. Please, assign it to me.

[2022-05-30 08:49] lwyszomi commented on #15483
@potiuk @eladkal can you assign this issue to me. I already verified the problem and it also exist in latest version of the operators. It is not related directly with google-providers because Job operators for Dataflow were moved to the Apache-beam package and google operators are deprecated.

[2022-05-30 09:03] Bowrna commented on #23227
@ephraimbuddy the PR merged https://github.com/apache/airflow/pull/23451 doesn't have task_ids as part of the API. Am I missing to understand any point? I thought this particular issue is about clearing DAG with task_ids and corresponding map_index as one of the params.  Can you please clarify?

[2022-05-30 09:14] bbovenzi commented on #23503
Yes! that looks great.

I feel like it should be below the data metadata now. We can also turn the task metadata into 2 columns to reduce the vertical spacing.

It would be nice to color coordinate or even filter the logs but we'll need changes to the API to support that.

[2022-05-30 09:18] bbovenzi commented on #23227
@ephraimbuddy that PR was to clear an entire DAG run. This issue is to clear specific task instances. Maybe we need a more complex request body:

[code]

[2022-05-30 09:33] bbovenzi commented on #19939
An additional benefit of a new graph: We can show individual mapped tasks with pagination instead of just a summary node.

[2022-05-30 10:08] lwyszomi commented on #15483
I sent PR with the fix

[2022-05-30 11:06] uranusjr opened #24021 "Functional helpers on XComArg and task expansion against 'zipped' inputs"
A need has been established to expand a task from aggregate inputs from different upstream tasks in a “zipped” fashion, rather than cartesian product as implemented by `expand()`. This is currently doable for taskflow tasks, by injecting a task to perform the zip operation, and unpack the zipped values manually:

[code]

However, the same cannot be done to a classic operator class, since Python do

[2022-05-30 11:37] ankurbajaj9 opened #24022 "Make port as optional argument"
### Apache Airflow version

2.3.1 (latest released)

### What happened

my webhdfs is running behind a proxy.
I need to give a complicated URL and do not want to add port in front of the URL

So there are two options
1) use Schema to add stuff before webhdfs/v1
2) make adding of port optional so that complete url before webhdfs can be provided in the hostname

### What you think should happen inst

[2022-05-30 11:50] msklc commented on #17010
There isnt an option like this in airflow v2!

you can select one of these rules' option:

- 'none_failed_or_skipped'
- 'one_failed'
- 'none_failed'
- 'all_success' >>> DEFAULT
- 'always'
- 'none_skipped'
- 'none_failed_min_one_success'
- 'one_success'
- 'all_failed'
- 'dummy'
- 'all_done'

[2022-05-30 12:12] potiuk commented on #23960
Yep. Once we get it out you will be able to install it via `pip`.  I will ping here when we do. It took a bit more time though.

[2022-05-30 12:17] #15483 closed

[2022-05-30 12:20] potiuk commented on #24022
Feel free to propose a PR.

[2022-05-30 12:28] ephraimbuddy opened #24024 "Status of testing of Apache Airflow 2.3.2rc1"
### Body

We have a kind request for all the contributors to the latest [Apache Airflow RC 2.3.2rc1](https://pypi.org/project/apache-airflow/2.3.2rc1/).

Could you please help us to test the RC versions of Airflow?

Please let us know in the comment if the issue is addressed in the latest RC.

- [ ] [Add is_mapped field to Task response. (#23319)](https://github.com/apache/airflow/pull/23319): @bb

[2022-05-30 12:36] potiuk commented on #23960
It's out https://pypi.org/project/apache-airflow/2.3.2rc1/

[2022-05-30 13:21] potiuk commented on #23960
Just being pushed. 3.7 is out already.

[2022-05-30 13:42] potiuk commented on #23960
All regular images ready. Now preparing slim images.

[2022-05-30 14:29] Craig-Chatfield opened #24027 "Dynamic Tasks with Depends On Past breaks Scheduler"
### Apache Airflow version

2.3.1 (latest released)

### What happened

If you set
- `'depends_on_past'=True`
on a task that utilises dynamic task mapping and then run that task the scheduler shut downs, logging the following error:

[code]
The scheduler then restarts, logs the same error, restarts again getting stuck in this loop, restarting indefinitely and never actually executing the task.

Fo

[2022-05-30 15:09] Taragolis commented on #24024
Check in 4 different production images
- `apache/airflow:2.3.2rc1-python3.7`
- `apache/airflow:2.3.2rc1-python3.8`
- `apache/airflow:2.3.2rc1-python3.9`
- `apache/airflow:2.3.2rc1-python3.10`

#23872: Production image successfully starts with standalone dag-processor
#23886: No side effects during previous checks
#23864: Also check this one with two separate standalone dag processors with differen

[2022-05-30 15:16] kazanzhy commented on #24024
https://github.com/apache/airflow/pull/23816 seems OK

[2022-05-30 17:06] gbonazzoli commented on #23960
2.3.rc1 is good!

Everything works as far as the Grid Page is concerned!

<img width="652" alt="image" src="https://user-images.githubusercontent.com/17742862/171035672-44f6ea44-c1c5-4d82-b3ec-279a3777c091.png">

It seems also faster !!!

I will let you know if we encounter some regression.

Thanks!

[2022-05-30 19:26] #19272 closed

[2022-05-30 19:43] Taragolis opened #24030 "amazon-provider: Make more components more consistent"
### Apache Airflow Provider(s)

amazon

### Versions of Apache Airflow Providers

[main](https://github.com/apache/airflow/tree/main/airflow/providers/amazon) branch

### Apache Airflow version

main (development)

### Operating System

any

### Deployment

Other

### Deployment details

_No response_

### What happened

I'm investigate amazon-provider and found that different operators/sensors an

[2022-05-30 20:52] rbiegacz commented on #16101
@eladkal - please, assign this item to me - I will try to fix it.

[2022-05-30 22:27] uranusjr commented on #24021
An alternative to `expand_kwargs` is to overload `expand` like this:

[code]

This makes the syntax cleaner, but I’m not quite sure if it would be more confusing to users.

[2022-05-31 02:43] uranusjr commented on #24027
Ah, I guess this is an unfortunate merge conflict. We added `ignore_first_depends_on_past` while we were developing task mapping, and we forgot to also update the implementation for `ignore_first_depends_on_past`.

[2022-05-31 04:45] kevgeo commented on #22306
Hi @eladkal , @mik-laj; I would love to take up this issue.

[2022-05-31 05:15] mik-laj commented on #22306
@kevgeo Assigned!

[2022-05-31 05:48] potiuk commented on #24024
Confirmed #23992 (limitation removed).

[2022-05-31 06:21] lwyszomi commented on #22306
@kevgeo @eladkal @mik-laj I already implemented this changes in my local env and I'm testing that everything works correctly, I should sent PR today

[2022-05-31 06:26] hsnprsd commented on #23960
Hi!
When will airflow 2.3.2 be released?

[2022-05-31 06:30] potiuk commented on #23960
https://lists.apache.org/thread/ry8vnxt4mptoos20cdm2wm856985poqw

[2022-05-31 08:08] potiuk opened #24037 "Frequent failures of helm chart tests"
### Apache Airflow version

main (development)

### What happened

We keep on getting very frequent failures of Helm Chart tests and seems that a big number of those errors are because of errors when pulling charts from bitnami for postgres:

Example here (but I saw it happening very often recently):

https://github.com/apache/airflow/runs/6666449965?check_suite_focus=true#step:9:314

[code]

It i

[2022-05-31 08:13] potiuk commented on #24037
cc: @kaxil @jedcunningham @ephraimbuddy - I think it would be great to find a better way. We do not really need that postgres chart to be frequently updated, so hosting it ourselves (say in a github repo) is I think the best option.

WDYT ?

[2022-05-31 09:46] gmyrianthous commented on #18041
**Possible fix**

I was having the same problem after upgrading from Airflow `v1.10.15` to `v2.2.5` and was seeing the error in long-running DAGs having a fairly high number of tasks.

Apparently, the `dagrun_timeout` in `airflow.models.DAG`  was not respected in earlier Airflow versions so I noticed that the DAGs I was trying to migrate to the new Airflow instance were running for much longer tha

[2022-05-31 10:37] potiuk commented on #16506
I'd say this **might** be a good candidate to make scheduler TaskGroup aware. We had few discussions about it in separate threads, and I think it is inevitable that Task Group will be more than just UI concept in the future (but we need to be careful to avoid SubDag pitfalls).

[2022-05-31 10:39] #22947 closed

[2022-05-31 12:07] eladkal opened #24045 "Rename DagRun queue state to avoid confusion with TaskInstance"
### Body

Currently both DagRun and TaskInstance use queue as state (which is not related one to another at all)
![Screen Shot 2022-05-31 at 12 38 44](https://user-images.githubusercontent.com/45845474/171168036-bd6a5995-835b-4f3f-8ca9-084a80f846da.png)
![Screen Shot 2022-05-31 at 12 39 22](https://user-images.githubusercontent.com/45845474/171168042-631e59e1-263a-4160-b454-d88ae7a533dc.png)

I fi

[2022-05-31 12:22] spelufo commented on #23965
I tested it against S3, and what happens is that it does work, but it interprets the key as a path, creating folders called `s3:/`, `/`, ..., not what should be expected to happen. Unless I'm configuring airflow wrong somehow I think this behavior is a bug in airflow. I think I configured everything in accordance with the docs, but let me know how I can help or if you can't reproduce the issue
<im

[2022-05-31 12:46] potiuk commented on #23727
Any news  @patryk126p :) ?

[2022-05-31 12:51] raphaelauv commented on #23826
try this

[code]

[2022-05-31 13:31] eladkal commented on #23826
This is open source project - the fix will arrive when someone decides to spend the time on fixing it.
If you volunteer I'd be happy assign this issue to you and assist with code review.

[2022-05-31 14:58] kardoo commented on #23826
My apologies if I was misunderstood. If I have time in the next couple of weeks, I will let you know.

[2022-05-31 14:59] potiuk commented on #23893
We have revamped kubernetes with new version of kubernetes library in 2.3.* - @dstandish - do you think that one is likely to be solved by it ?

[2022-05-31 15:09] potiuk commented on #23895
This is not how Kubernetes/Helm chart works, from the point of view of the definition of the pods have not changed, so it will not update them - hence they will notbe restarted. Your expectations for "Always" is far beyond its meaning. "Always" for image means "always when pod is started" not "always when helm is updated".

If you want to keep same image name for your dag updates, you will have to

[2022-05-31 15:09] #23895 closed

[2022-05-31 16:14] jerome-aosis commented on #23895
Thanks for your answer.
I use the same dag tag for learning purpose and it's not for production environment.

I agree with you, pullPolicy is not working like that in Kubernetes. But in that case, it seems it is a [documentation issue](https://airflow.apache.org/docs/helm-chart/stable/manage-dags-files.html). The documentation says
[code]
[code]

Documentation seems to say that by adding `--set im

[2022-05-31 16:50] potiuk commented on #23935
Feel free

[2022-05-31 18:47] KarthikRajashekaran commented on #20779
@nirutgupta Where should the file k8s task handler.py  be located in the airflow path?

[2022-05-31 19:18] potiuk commented on #23901
There is a big difference. All those processes are under control of Airflow unlike the process you spawn in your code.

Yeah it would be eat to update the docs.could you please make a PR with such update? I think you are the best person to do it - since you know how to describe it so that others like you will not get confused ? airflow is created by more than 2000 contributors like you - often con

[2022-05-31 21:33] #23917 closed

[2022-05-31 23:36] thesuperzapper opened #24060 "`airflow db check-migrations -t 0` fails to check migrations in airflow 2.3"
### Apache Airflow version

2.3.1 (latest released)

### What happened

As of Airflow 2.3.0 the `airflow db check-migrations -t 0` command will ALWAYS think there are unapplied migrations (even if there are none to apply), whereas, in Airflow 2.2.5, a single check would be run succeessfully.

This was caused by PR https://github.com/apache/airflow/pull/18439, which updated the loop from [`while Tr

[2022-05-31 23:37] ferruzzi commented on #24030
This is a great breakdown.  We've been putting a lot of effort into standardizing things in the AWS package and this will definitely help.

This may be out of scope, or you may want to include it here as well:  Another similar standardizing change we have in mind is to convert as many of the hooks as possible into "thin hooks".   If a hook method just passes through to a boto call, then there's re

[2022-06-01 03:16] uranusjr commented on #24060
cc @ephraimbuddy

[2022-06-01 04:40] #20804 closed

[2022-06-01 04:41] nirutgupta commented on #20779
I created a new directory custom_log made it available under that.
[code]

[2022-06-01 06:03] uranusjr commented on #23911
I guess this is different opinions then. Personally I find it makes sense for a run without any tasks marked success, same as how `all([])` is True.

Perhaps the actual solution is to not dwindle on the actual state, but to introduce some context in the API response so the user can read more into how the state means? For example, we could add a `task_count` field, and the user can easily tell some

[2022-06-01 08:21] ashb commented on #23803
@Tehada Please check out (and leave feedback) on the proposed interface in https://github.com/apache/airflow/issues/24021

[2022-06-01 09:42] hammerhead commented on #24014
Yes, indeed. The original DAG I ran into the problem with was using different types of queries, such as `DELETE FROM {table_fqn} WHERE {column} = {value};`.
In that example, I can't use `parameters` for `{table_fqn}` as `%(table_fqn)s` will wrap the value in single quotes, resulting in an SQL syntax error. Using `params` gives me the plain value instead.

See also this [Stack Overflow post](https:

[2022-06-01 09:45] uranusjr commented on #24021
I think we should do all of the above (except the alternative API thing, which I have deleted from the post), in the order they were mentioned.

As of native zip in taskflow, I think simply having `zip` is enough:

[code]

This feels very close to normal Python code to me.

[2022-06-01 09:59] ephraimbuddy commented on #24060
https://github.com/apache/airflow/pull/24068

[2022-06-01 10:14] potiuk commented on #20875
My quess is that you still have some workers using older airflow version.

[2022-06-01 10:24] potiuk commented on #24060
The PR is failing with https://github.com/apache/airflow/issues/24037

[2022-06-01 10:25] potiuk commented on #24060
I think we have to do something about the bitnami flakines @ephraimbuddy @jedcunningham - I'd love your opinions on the direction we could take.

[2022-06-01 10:33] potiuk commented on #23950
You should look at the worker logs not the task logs. I have no idea what user-community chart sets for those https://docs.celeryq.dev/en/stable/userguide/workers.html#time-limits and it might look like this.

[2022-06-01 10:34] potiuk commented on #23967
Feel free to provide PR for that.

[2022-06-01 10:56] ephraimbuddy commented on #24060
I like the idea of hosting the postgres chart on github

[2022-06-01 12:16] Bowrna commented on #23227
@bbovenzi Does this API can accept more than one `task instance` for a specific dag run to clear?

[2022-06-01 12:29] #21350 closed

[2022-06-01 12:40] harounben14 opened #24072 "Airflow Dag executions does not match with schedule"
### Apache Airflow version

2.2.2

### What happened

Here is the schedule of my dag: 0 6 * * 1-5
It should run every day of the week (Monday to Friday)
However, the Monday execution never happens.

I tried to delete the dag and his metadata, but the issue still exists...

### What you think should happen instead

![Capture d’écran 2022-06-01 à 14 40 15](https://user-images.githubusercontent.com

[2022-06-01 13:45] ephraimbuddy opened #24075 "Status of testing of Apache Airflow 2.3.2rc2"
### Body

We have a kind request for all the contributors to the latest [Apache Airflow RC 2.3.2rc2](https://pypi.org/project/apache-airflow/2.3.2rc2/).

Could you please help us to test the RC versions of Airflow?

Please let us know in the comment if the issue is addressed in the latest RC.

- [ ] [Add is_mapped field to Task response. (#23319)](https://github.com/apache/airflow/pull/23319): @bb

[2022-06-01 14:08] ishiis opened #24077 "Fix style of example-block"
### What do you see as an issue?

Style of example-block in the document is broken.

<img width="810" alt="example-block" src="https://user-images.githubusercontent.com/12693596/171412272-70ca791b-c798-4080-83ab-e358f290ac31.png">

This problem occurs when browser width is between 1000px and 1280px.

See: https://airflow.apache.org/docs/apache-airflow-providers-http/stable/operators.html

### Solv

[2022-06-01 14:19] dstandish commented on #23727
I looked into this yesterday. I think it's cus of pickled object executor_config on TI
I will work on it more today

[2022-06-01 17:54] #23639 closed

[2022-06-01 18:16] potiuk commented on #24037
Surely - we can ask, but they are part of vmware so I have no high expectations their free offering will be looked at carefully. But I definitely will.

However I think we should seriously consider moving it to Github (or vendoring in) regardless of their answers. What do we do if they answer "we fixed it" ? It happens intermittently so we are not even able to check  if they did.

I really do not

[2022-06-01 18:40] potiuk commented on #24037
Speaking of "supporting free use" - they just closed the issue and redirected it to issue they are "working on"  https://github.com/bitnami/charts/issues/8433 which has been open 16 Dec 2021.

@jedcunningham - do you still think it's the "easiest route" :P ?

[2022-06-01 18:41] #23694 closed

[2022-06-01 18:43] potiuk commented on #24037
BTW. Rough looking at the issue about half of the ~50 comments there is "we have the same issue - here are the details" and the other half (exaggerating a bit for the effect of course) is "Thanks, we are working on it" from bitnami support.

[2022-06-01 18:44] #23124 closed

[2022-06-01 18:48] #16140 closed

[2022-06-01 19:24] #22470 closed

[2022-06-01 20:01] hussein-awala commented on #24010
Duplicate of #21908, which is closed and fixed in #22410 by marking the non-finished tasks as SKIPPED.
The fix is available since 2.3.0

[2022-06-01 20:09] #23999 closed

[2022-06-01 20:11] potiuk commented on #18334
Yep. that should be part of it.

[2022-06-01 20:12] #22448 closed

[2022-06-01 20:13] #22431 closed

[2022-06-01 20:22] andormarkus commented on #20215
Hi All,

EMR serverless just hit [generally available](https://aws.amazon.com/about-aws/whats-new/2022/06/amazon-emr-serverless-generally-available/)!

EMR serverless requires boto3 1.24.0+.
@potiuk It is fine if we increase the minimum required boto3 version?

@dacort Did you started to work on this operator? If not I will start it tomorrow

Thanks,
Andor

[2022-06-01 20:29] josh-fell commented on #14162
FWIW, I'm not able to reproduce this on `main` with Breeze, 2.0.0 in Breeze, nor 2.3.0 with Astro CLI. I used the tutorial_taskflow_api_etl example DAG and changed `schedule_interval="@daily"`.

**Breeze (Airflow 2.0.0)**
Commands: `breeze exec`, `airflow dags backfill test_tutorial_taskflow_api_etl --start-date 2022-05-01 --end-date 2022-05-05`
<img width="1439" alt="image" src="https://user-imag

[2022-06-01 20:55] jedcunningham commented on #24037
I've opened #24089 to point at github for the index instead. This will stop the bleeding at least and give us a little time to see if they resolve it (sounds like it is now causing them pain, so I'm hopeful) or if we need to do something else.

[2022-06-01 22:13] pingzh commented on #23838
@ashb do you mind taking a look at this? thanks

[2022-06-02 00:29] johngtam commented on #22298
@lostkamp, great! Feel free to assign yourself this issue -- yes, that understanding is how I see it as well :)

[2022-06-02 04:06] jedcunningham commented on #23960
Closing as this is a dup of #23908 and is fixed by #23947. Thanks for the report and testing rc1 @stepanof & @gbonazzoli. I invite you both to test 2.3.2rc2 and vote on the release: https://lists.apache.org/thread/08x514oto8r7359qk44dqh7297270dd5

Btw, if you do ever want to downgrade in the future, you have to downgrade while still on 2.3.1, as that version has the migrations between 2.3.0 and 2.

[2022-06-02 04:06] #23960 closed

[2022-06-02 04:43] gbonazzoli commented on #23960
@jedcunningham

I've just upgraded to 2.3.2rc2 and everything is ok.

We were running 2.3.2rc1 on production since last monday and we had non problem at all.

[2022-06-02 04:47] gbonazzoli commented on #24075
Tested #24059 !

Ok !!

[2022-06-02 05:07] #24027 closed

[2022-06-02 05:46] eladkal commented on #9732
Fixed in https://github.com/apache/airflow/pull/22502

[2022-06-02 05:46] #9732 closed

[2022-06-02 06:13] eladkal commented on #15133
Does the issue still happens in newer Airflow versions?

[2022-06-02 07:07] maf-rnmourao commented on #23588
I noticed that when I log in, the problem doesn't occur. Probably it is some issue with permissions.
<img width="1724" alt="Screen Shot 2022-06-02 at 11 04 00 AM" src="https://user-images.githubusercontent.com/104142107/171572932-b3caf266-694e-41e1-8c45-894189d3b707.png">
<img width="1721" alt="Screen Shot 2022-06-02 at 11 07 05 AM" src="https://user-images.githubusercontent.com/104142107/17157309

[2022-06-02 07:15] maf-rnmourao commented on #23588
The issue seems to happen only when you are not logged in. It can be probably solved by customizing some permission.

**Not logged in:**
<img width="1724" alt="Screen Shot 2022-06-02 at 11 04 00 AM" src="https://user-images.githubusercontent.com/104142107/171574254-84d9ad01-5005-4428-807a-20192bf5fade.png">

**Logged in:**
<img width="1721" alt="Screen Shot 2022-06-02 at 11 07 05 AM" src="https://

[2022-06-02 07:32] akerone commented on #21940
While Composer might not be relevant for the Airflow community release, I can imagine simple Airflow deployments in which someone might want to configure default application credentials within the environment and not have to worry about rotating keys for security.

I'm not as well versed in python as I'd like but I'm happy to provide ideas if that helps.

I think I agree with @potiuk in that the c

[2022-06-02 08:05] Lee2532 opened #24100 "ExternalTaskSensor manually trigger"
### Description

when the External Task Sensor is manually executed, not work

### Use case/motivation

We can add options to perform functions such as scheduling when executing manually.

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://github.com/ap

[2022-06-02 09:21] potiuk commented on #22298
Assigned!

[2022-06-02 09:26] Taragolis commented on #24075
Tested: #23864, #23872, #23886

Seems fine

[2022-06-02 10:15] Swalloow opened #24103 "Add support for KEDA HPA Config to Helm Chart"
### Description

https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/#flapping

Sometimes clusters need to restrict the flapping of Airflow worker replicas.
KEDA supports [`advanced.horizontalPodAutoscalerConfig`](https://keda.sh/docs/1.4/concepts/scaling-deployments/).
It would be great if the users would have the option in the helm chart to configure scale down behavior.

#

[2022-06-02 10:32] Abhinav1598 commented on #16176
install.go:173: [debug] Original chart version: ""
install.go:190: [debug] CHART PATH: /home/e4338/.cache/helm/repository/airflow-1.6.0.tgz

client.go:290: [debug] Starting delete for "airflow-broker-url" Secret
client.go:128: [debug] creating 1 resource(s)
client.go:290: [debug] Starting delete for "airflow-fernet-key" Secret
client.go:128: [debug] creating 1 resource(s)
client.go:290: [debug] St

[2022-06-02 11:30] potiuk commented on #23960
Thanks for confirmiing @gbonazzoli :). Great to get such feedback from our users when release a bug fix !

[2022-06-02 11:57] rotemseekingalpha opened #24107 "Cannot delete DAG with Tags from UI"
### Apache Airflow version

2.3.1 (latest released)

### What happened

When deleting a DAG, which has tags from the home page, I receive and error.
The error comes from not being able to delete the `dag_id` from the `dag_tag` table.

### What you think should happen instead

DAG should be removed from `dag_tag` table and then removed from `dag` table

### How to reproduce

Create a DAG with `tags

[2022-06-02 12:04] potiuk commented on #21940
I think it would be great if someone involved here picks this one and provide a PR with it. Does not seem to be complex.

[2022-06-02 12:08] tirkarthi commented on #24107
Seems to be similar to https://github.com/apache/airflow/issues/23206

[2022-06-02 12:16] eladkal commented on #24107
Please try 2.3.2rc2 to check if the issue is resolved

[2022-06-02 12:21] potiuk commented on #24103
Feel free to make PR . Assigned you!

[2022-06-02 12:23] snjypl commented on #24075
Tested #23830. Looks okay.

[2022-06-02 12:24] potiuk commented on #16176
More details as mentioned, are the only way any help can be given to you (or rather yourself looking at the logs of migration job will likely find the reason). Without those details we are not able to help you.

Stating " I have the same problem" without providing any additional details helps no-one to find the root cause. If you state "I have the saem problem" you need to provide more detailed lo

[2022-06-02 13:16] bbovenzi commented on #23588
Got it. At least one set: We need to make sure an error on `/tasks` doesn't crash the UI

[2022-06-02 13:24] rjribeiro opened #24111 "Statsd dont mapping task duration metrics for tasks in TaskGroup"
### Apache Airflow version

2.3.1 (latest released)

### What happened

I have the following mapping for statsd:

[code]

A metric that was in the form `<<AIRFLOW_ID>>_dag_<<DAG_ID>>_<TASK_ID>>_duration ` should be mapping to `af_agg_dag_task_duration{airflow_id=<<AIRFLOW_ID>>,dag_id=<<DAG_ID>>,task_id = <<TASK_ID>>, quantile="0.5"}` for example.

But this is not happening for tasks in task groups

[2022-06-02 13:43] rotemseekingalpha commented on #24107
@eladkal Do I need to build this version from source code?

[2022-06-02 14:07] potiuk commented on #24037
So taking itnt account what happened here tonight https://github.com/bitnami/charts/issues/10539 - I believe vendoring-in the chart seems to be the best idea.

I REALLY don't like when someone arbitrary decision can break all our released versions of charts.

[2022-06-02 14:30] josh-fell commented on #19883
Yeah, I'd still need to implement the other 2 solution options for full coverage to mask shared access key from the logs. But at least the shared access key will only be logged if debug logging so it's probably fine now for the vast majority of users (which I imagine is a much smaller subset using this particular auth anyway).

[2022-06-02 15:12] jedcunningham commented on #24037
It doesn't break our released versions thankfully (helm vendors it in the tarball already), but it does hose our CI and main for sure. +1 to vendoring it. Should we update to the newest version while we are at it?

[2022-06-02 16:11] rotemseekingalpha commented on #24107
@tirkarthi thanks

[2022-06-02 16:15] omarsmak commented on #23911
Sounds good as long there is a way to identify such status. Quick question, do we have the number of task that ran written to the database? Perhaps it can be a quick PR in this case.

Thanks

[2022-06-02 16:37] pierrejeambrun commented on #24075
Tested https://github.com/apache/airflow/pull/23678 . Working as expected :)

[2022-06-02 17:08] dstandish commented on #23727
draft pr here: https://github.com/apache/airflow/pull/24117/

resolves the scheduler crash and fails the task, but i want to see if we can make it so that executor config gets reloaded after clearing the failed task.

[2022-06-02 17:13] eladkal commented on #24107
Great!
closing then

[2022-06-02 17:13] #24107 closed

[2022-06-02 17:50] diogobaeder opened #24120 "AIRFLOW__DATABASE__SQL_ALCHEMY_CONN env var not honored"
### Apache Airflow version

2.2.5

### What happened

Even if I set `AIRFLOW__DATABASE__SQL_ALCHEMY_CONN` to connect to PostgreSQL, and `AIRFLOW__DATABASE__LOAD_DEFAULT_CONNECTIONS` to `"False"`, Airflow still forces the database connection to be set to SQLite file in my `AIRFLOW_HOME` - which is super odd because the home folder is being honored, just not the `AIRFLOW__DATABASE__SQL_ALCHEMY_CONN`

[2022-06-02 18:33] potiuk commented on #24037
Yeah I think so. Happy to do it to learn a bit more. That's great it's vendored in in the tarball.

[2022-06-02 19:23] #9510 closed

[2022-06-02 20:19] matthew-kruse opened #24124 "hung database transactions on xcom table"
### Apache Airflow version

2.2.5

### What happened

When the xcom table becomes large deletes like DELETE FROM xcom WHERE xcom.dag_id = %s AND xcom.task_id = %s AND xcom.execution_date = %s] have caused mysql transactions to hang indefinitely.

mysql> explain DELETE FROM xcom WHERE xcom.dag_id = '<dag id>' AND xcom.task_id = '<task id>' AND xcom.execution_date = '2022-06-02 18:52:00';
+----+----

[2022-06-02 21:08] #22469 closed

[2022-06-02 21:14] wolfier commented on #23824
I wonder if it's possible to have an in between state to indicate that the task has completed its execution but the scheduler has not processes the corresponding executor event in the event buffer.

[2022-06-02 21:33] potiuk commented on #24120
Also this in config guide ("New in version 2.3.0")

<img width="1312" alt="Screenshot 2022-06-02 at 23 32 18" src="https://user-images.githubusercontent.com/595491/171742015-3504bee6-0f30-40f0-a7ab-d00368815105.png">

[2022-06-02 22:32] potiuk commented on #24124
In aiflow 2.2 you should use run_id as index not execution date. This has changed in Airlfow 2.2 as part of [AIP-39](https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-39+Richer+scheduler_interval). Possibly you missed that in adjusting your queries.

Also In airflow 2.3.0 xcom and other tables were still heavily updated to include map_index.

I propose you test it with the right selection qu

[2022-06-02 22:42] grv-trip commented on #23885
@olivermeyer I ran into the same issue today. Does your DAG/'s in question, ever complete? Additionally, is the scheduler also restarting a lot of times for you? I am experiencing the same in version 2.2.5

[2022-06-02 23:21] chethanuk-plutoflume commented on #22446
https://github.com/apache/airflow/pull/24134

[2022-06-02 23:22] chethanuk-plutoflume commented on #22447
Hi @potiuk Can we update the checklist if and when possible [So Can know which needs to be done, which are WIP]. Thanks :)

[2022-06-02 23:31] chethanuk-plutoflume commented on #22449
#24136 24136

[2022-06-02 23:34] chethanuk-plutoflume commented on #22450
#24137

[2022-06-02 23:38] chethanuk-plutoflume commented on #22451
#24138

[2022-06-02 23:46] chethanuk-plutoflume commented on #22452
#24140

[2022-06-02 23:55] chethanuk-plutoflume commented on #22452
#24141

[2022-06-03 00:00] chethanuk-plutoflume commented on #22453
#24142

[2022-06-03 00:28] Lee2532 commented on #24100
When using an external task sensor, running DAG manually does not work normally.
Therefore, I would like to add a parameter that allows the corresponding external task sander to pass when triggering the corresponding TASK manually.

for example
`
wait_airflow_test = ExternalTaskSensor(
        task_id="wait_airflow_test",
        external_dag_id="airflow_sample",
        external_task_id="start",

[2022-06-03 03:19] tanelk commented on #23824
@wolfier I think your analysis is spot on.
I have an open PR (#23846), that I believe fixes this issue, but I have not tested it outside of unit tests. Could you try applying that batch and running your test DAG again?

[2022-06-03 06:32] brettpalmberg commented on #22863
Hello @tsugumi-sys, @don1uppa. I am seeing the same error as @tsugumi-sys related to `pycurl` with `airflow:2.3.1` and SQS as a message broker. Is the `pycurl`, `Permission denied: 'curl-config'` error captured in another Issue? (I looked but did not see one).

PR apache/airflow#24019 provides documentation, but I think there is still an underlying issue with `pycurl` to support sqs near "out of t

[2022-06-03 08:32] mfernaal opened #24155 "Deleting the logs reference in the database deletes the logs in the persistent volume claim"
### Apache Airflow version

2.3.0

### What happened

I have a pipeline that is in charge of deleting the logs in the airflow database (I have the BBDD running on Postgress on AWS).

This is the pipe:
[code]
The question is that also when I go to look at the logs that I have in the persistent volume claim I have noticed that all the logs have been deleted until that same date, 4 weeks from today,

[2022-06-03 10:34] #22450 closed

[2022-06-03 10:37] #22451 closed

[2022-06-03 10:40] #22453 closed

[2022-06-03 11:09] mmpyro opened #24159 "Inconsistent behavior between backfill and clear commands of airflow cli"
### Apache Airflow version

2.1.1

### What happened

I have a dag that runs periodically based on the crontab configuration. For example (5 4 * * *)
After some time the crontab configuration has changed (5 5 * * *) for that dag and we want to backfill past runs dag runs.
**airflow dags backfill cdm.itinerary_filed_fares --start-date '2021-05-18' --end-date '2021-05-23'**
Backfill works fine and r

[2022-06-03 11:19] Bowrna commented on #22358
Currently when I hit the below API
`http://127.0.0.1:28080/api/v1/dags/example_trigger_target_dag/details`,

I get the response:
[code]
How does setting the `ScheduleInterval` param to `nullable:true` will be useful?

[2022-06-03 11:29] eladkal opened #24160 "`BigQueryCreateExternalTableOperator` uses deprecated function"
### Body

The `BigQueryCreateExternalTableOperator` uses `create_external_table`:

https://github.com/apache/airflow/blob/cd49a8b9f64c57b5622025baee9247712c692e72/airflow/providers/google/cloud/operators/bigquery.py#L1131-L1147

this function is deprecated:
https://github.com/apache/airflow/blob/511d0ee256b819690ccf0f6b30d12340b1dd7f0a/airflow/providers/google/cloud/hooks/bigquery.py#L598-L602

**

[2022-06-03 11:35] eladkal commented on #21655
Fixed in https://github.com/apache/airflow/pull/22377

[2022-06-03 11:35] #21655 closed

[2022-06-03 11:58] spelufo commented on #23965
Update: This only happens when the connection is specified using the URI format (through environment variables). When using the json encoding everything works fine.

[2022-06-03 11:59] tothandor opened #24162 "Grid JavaScript error on new task added"
### Apache Airflow version

2.3.1 (latest released)

### What happened

I have added a new task to an existsting workflow (DAG), where the other tasks already had previous runs.
When I added the new task, the grid became inaccessible, because it wanted to get `runId`s for the new task, which did not exist.
An error occured in the grid.<hash>.js, but since the file is minified/obfuscated, it's uncl

[2022-06-03 12:03] tirkarthi commented on #24162
Seems to be same as

https://github.com/apache/airflow/discussions/23908
https://github.com/apache/airflow/issues/23933

cc @bbovenzi

[2022-06-03 12:45] chachampis commented on #16163
I have this problem in an AWS MWAA environment (Airflow version 2.2.2). Only it is not harmless, my task is actually getting killed after the visibility_timeout of 12 hours expires. I am not able to split the long-running task into shorter tasks (it involves a CREATE INDEX database statement that takes more than 12 hours).

What I don't understand is, isn't the visibility_timeout setting [related]

[2022-06-03 12:45] malthe opened #24163 "Service profiles for Docker Compose"
### Description

Docker Compose is arguably the most straight-forward way to stand up an Airflow system on a local machine.

It should be possible to tailor the deployment based on [profiles](https://docs.docker.com/compose/profiles/).

We already have `debug` and `flower`, but it seems ideal to attach a profile to `postgresql` as well. Many users would want to  use `sqlite` for local development

[2022-06-03 12:55] takuma11248250 commented on #23826
hi.
I have exactly the issue.
When do you expect this issue to be resolved?

[2022-06-03 12:58] karakanb commented on #23950
Is there an env variable that controls this? How can I find what value controls this time limit? I searched Airflow configuration, and the user-community chart, but couldn't find any references to it.

[2022-06-03 13:38] bbovenzi commented on #24162
Yes, this seems to be a duplicate. I just tried the exact steps in main and it is working as expected.

Fixed in https://github.com/apache/airflow/pull/23947 for 2.3.2

[2022-06-03 13:38] #24162 closed

[2022-06-03 13:38] eladkal commented on #22461
fixed https://github.com/apache/airflow/pull/24150

[2022-06-03 13:38] #22461 closed

[2022-06-03 13:55] #22455 closed

[2022-06-03 14:12] bbovenzi commented on #23227
Yes, because we are modifying the existing `/clearTaskInstances` endpoint. Since that is already plural, we need to stay consistent.

[2022-06-03 15:04] bbovenzi commented on #16610
Yes, I finally got back around to debugging this and I think I found a fix.

[2022-06-03 15:44] diogobaeder commented on #24120
Thanks man, using `AIRFLOW__CORE__SQL_ALCHEMY_CONN` in 2.2.x worked like a charm. Cheers!

[2022-06-03 16:07] #22458 closed

[2022-06-03 16:09] #22460 closed

[2022-06-03 16:31] potiuk opened #24168 "Status of AIP-47"
Summary of ALL issues: for 46 issues
   Completed and closed issues: 44/46: 95.65%
   Completed files 245/277 = 88.45%

 Issues that are not completed and are still opened:

 * [Migrate Google example DAGs to new design](https://github.com/apache/airflow/issues/22447): 71/89 : 79.78%
 * [Migrate Google system tests to new design](https://github.com/apache/airflow/issues/22430): 57/71 : 80.28%

 Is

[2022-06-03 16:34] #22471 closed

[2022-06-03 16:36] #22468 closed

[2022-06-03 16:40] #22437 closed

[2022-06-03 16:40] #22440 closed

[2022-06-03 16:40] #22441 closed

[2022-06-03 16:40] #22443 closed

[2022-06-03 16:41] #22449 closed

[2022-06-03 16:41] #22452 closed

[2022-06-03 16:41] #22454 closed

[2022-06-03 16:41] #22463 closed

[2022-06-03 16:41] #22466 closed

[2022-06-03 16:41] #22467 closed

[2022-06-03 16:47] potiuk commented on #22445
It was automated checks - indeed it seems that the original test is not removed yet :)

[2022-06-03 16:58] potiuk commented on #24168
cc: @bhirsz @chethanuk-plutoflume @ferruzzi @Bowrna

[2022-06-03 17:00] Bowrna commented on #24168
@potiuk This is the fix for https://github.com/apache/airflow/issues/22445
PR: https://github.com/apache/airflow/pull/22811

[2022-06-03 17:19] potiuk commented on #24168
@Bowrna  - the #22811  missed deletion of the original example. That's why I reopened it :).

[2022-06-03 17:19] potiuk commented on #24168
@Bowrna  - the #22811  missed deletion of the original example. That's why I reopened it :).

[2022-06-03 17:42] potiuk commented on #24163
I dont think we should provide a configurable Docker Compose beyond quick start.

Who is going to supprt problems that people are going to have wihen they start modifying Docker Compose and get errors there? You can look up how many of the users already assumeed this is "official" docker compose and raised issues that this and that does not work there. If we make it configurable and "deployable",

[2022-06-03 17:43] potiuk commented on #24163
It's much, much better to make `airflow standalone` "small-production-ready". That would be far easier to complete and super easy for "casual users" to start airflow without learning docker compose and images.

[2022-06-03 17:51] potiuk commented on #23826
Have you read comments above @takuma11248250 ?

If you volunteer I'd be happy assign this issue to you and assist with code review.

This will be solved and released when someone solves it. You will not get answers on when it will be fixed but by contributing and providing fixes and testing you can help with speeding it up.

Let me revert the question. Do you expect to help with it by providing al

[2022-06-03 17:52] #23826 closed

[2022-06-03 17:54] potiuk commented on #23826
And one more thing @takuma11248250 - if you need it fast actually you can help - I just merged the fix by @raphaelauv that should address it. This is an open-source project and you can easily apply the fix by cherry-picking this change.

When can we axpect that you apply it to your test system and report that the fix worked?

[2022-06-03 18:29] ferruzzi commented on #22438
@potiuk - your new handy dandy script will update that checklist auto-magically on a schedule, right?  You merged Athena yesterday.

[2022-06-03 18:32] cswpy commented on #24160
Hello @eladkal, I can take this issue.

[2022-06-03 18:32] potiuk commented on #22438
Yep. It needs to be removed ...

[2022-06-03 18:59] eladkal commented on #24160
@cswpy assigned

[2022-06-03 19:31] ferruzzi commented on #22438
Huh.    I'm positive I did that but it's definitely still there.   I'll do a PR for you in a sec and tag you in it.

[2022-06-03 20:04] dstandish commented on #23727
alright i think #24117 is a fix for this and it's ready for review.

[2022-06-03 20:49] tokoko opened #24171 "Track SparkSubmitHook Yarn Cluster application with Yarn CLI"
### Description

SparkSubmitHook should track yarn cluster-mode application status with yarn CLI rather than rely on spark-submit process logs. This would cut back on excessive memory usage and also make it much easier to make the operator deferrable later on.

### Use case/motivation

While running most of our Spark workloads in Yarn cluster mode using SparkSubmitHook, we observed that celery wor

[2022-06-03 22:59] dashton90 commented on #13542
Specific to MWAA, our team had a similar issue. We found this to be an issue with the MWAA default value of `celery.worker_autoscale`. The value varies by environment class, but is set to 5 * vCPU per worker. This overloads the workers, and causes resources to lock.

Workers have a different number of vCPUs per environment. Defaults are:

| Environment Class | Worker CPU | Default Value

[2022-06-03 23:10] cswpy commented on #24160
Thanks for assigning me the task.
I took a look at the code and I want to make sure that my approach is correct before proceeding. I should create a `table_resouce` (where I would define info relating to the external table) object to pass into the `create_empty_table`?

[2022-06-04 03:24] Bowrna commented on #24168
I have raised PR https://github.com/apache/airflow/pull/24172 to fix this @potiuk
Thanks for pointing it to me :)

[2022-06-04 05:29] pingzh commented on #23950
@karakanb my theory is that your airflow tasks somehow were force-killed via `-9` signal, from this line `FAILED: Task is in the running state`, this means the state of this task in the database is still `running` but your task was actually not running, this is likely to happen that your task was killed via `-9` thus the signal handler wasn't invoked properly.

[2022-06-04 07:51] KulykDmytro opened #24174 "Postgres dependency failed"
**Official Helm Chart version** main (development)

**Apache Airflow version** 2.2.5

**Kubernetes Version** 1.22

### What happened

when fetching a chart Bitnami's `postgres` chart dependency cannot be honored
[code]

### Anything else

Seems like `Bitnami` retained all `postgres` chart versions older than 2022-01-01 (<10.14.3)

### Are you willing to submit PR?

- [ ] Yes I am willing to submit

[2022-06-04 08:09] #22464 closed

[2022-06-04 08:09] #22445 closed

[2022-06-04 09:33] tanelk commented on #23796
Just to document the history:

This was initially fixed in #19401 and then reverted in #23075

For some users the logs are in the server time and for others the logs are in UTC.
Should we have a separate configuration option so we wont have to "fix" it back and forth anymore?

Also a side note - I think #19401 was a partial fix as it does not take in account that the offset for a timezone can chan

[2022-06-04 11:22] dreamca4er opened #24176 "Can't disable sqlalchemy pool"
### Apache Airflow version

2.3.1 (latest released)

### What happened

After upgrading from Airflow 2.2.3 to 2.3.1 we are getting an error during Airflow web interface usage:
[code]
After changing env **AIRFLOW__DATABASE__SQL_ALCHEMY_POOL_ENABLED** (or airflow.cfg parameter **sql_alchemy_pool_enabled** in case of configs set not via envs) from **False** to **True** error becomes resolved.

### Wh

[2022-06-04 12:32] karakanb commented on #23950
That would imply that the pods were killed though, not the individual tasks that are running there, no? In my case, the worker pods don't have any restarts, which means that the resource usage was not a problem at least for these failures. Am I right in thinking this way?

[2022-06-04 13:19] takuma11248250 commented on #23826
@potiuk
Thank you for contact. Glad to see the fix is merge. We have now switched to a different operator to handle this. I am using google's cloud composer and will verify when it is reflected in that. thank you.

[2022-06-04 14:04] tanelk commented on #23950
Could it be the issue we solved in #23048 ? It went into 2.3.1

[2022-06-04 14:22] ephraimbuddy commented on #24075
Airflow 2.3.2 has been released. Thank you all for testing your changes

[2022-06-04 14:22] #24075 closed

[2022-06-04 15:17] potiuk commented on #24174
This is caused by Bitnami breaking development versions of about a million charts out there - se the huge (and growing) thread here: https://github.com/bitnami/charts/issues/10539

Basically we lost trust in Bitnami to host anything and we are going to change it to vendor-in the chart. For now you can switch to the main to use the workaround we applied there or you can manually apply the change he

[2022-06-04 15:17] #24174 closed

[2022-06-04 15:33] potiuk commented on #24176
Please raise it to flask_sqlalchemy we cannot do much about it I am afraid.

Converting it into discussion - would be great to know when you open the issue and what results you get from that.

[2022-06-04 15:44] potiuk commented on #23826
You do not have to wait for Composer.  When we release an RC (soon) you can install it manually and test it by adding specifically `apache-airflow-google-provider==X.Y.Zrc1`  to your requirements even in Composer.  Can we count on your @takuma11248250 to test it and react with "yeah, we tested it, it works" when we release the RC? I am happy to tag you int the issue when we gather feedback when pr

[2022-06-04 15:47] potiuk commented on #24160
I think it's better to discuss with the code and in PR - make a draft PR with your proposal and it can be discussed there - it's far easier this way because the discussion can be focused around the actual code without looking it up and guessing what you really want to do @cswpy.

[2022-06-04 15:56] potiuk commented on #24168
Merged already and reflected in status :).

[2022-06-04 19:12] potiuk commented on #23406
Actually this is something that should be solved with Dag Versioning https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-36+DAG+Versioning.  Versioning Schedule is part of this effort too. I am moving that to a discussion - but this topic should be raised when we will start discussing AIP-36

[2022-06-04 19:14] potiuk commented on #19719
This discussion should be part of  DAG versioning effort. https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-36+DAG+Versioning . We have no support for changing dag structure mid-flight yet and this discussion should be part of it.

[2022-06-04 19:17] potiuk commented on #18031
I think this is a wider effort - improving SLAs. We know current SLAs are not really useful and there should be an effort to redefine SLA behaviour basically from scratch.

However it requires devlist discussion and AIP added here as this is important, big fetature to add to Airflow. https://cwiki.apache.org/confluence/display/AIRFLOW/Airflow+Improvements+Proposals

Converting it to discussion, bu

[2022-06-04 19:21] potiuk commented on #15468
this is as expected We implemented some solutions for that for AIP-47 system tests. There is a simple pattern of adding a "watcher" task to monitor tasks that should fail whole dag in case any of upstream tasks failed and I think this answers all the questions. See https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-47+New+design+of+Airflow+System+Tests for details.

Converting it into discuss

[2022-06-04 19:25] philippefutureboy commented on #24010
Hi @hussein-awala. Thanks for letting me know! Happy this got released 😃 🎉

[2022-06-04 19:25] potiuk commented on #14598
This is really part of several AIPs that have been raised in the past:

* https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-5+Remote+DAG+Fetcher
* https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-20+DAG+manifest

And those should be possibly picked up and lead to completion.

There are also possible improvements to XCom backends possibly but also those shoudl be discussed in mailing l

[2022-06-04 19:27] potiuk commented on #14459
Anyone else who would like to have a say here ?

I think tthis is really more of a "UX" thing. @bbovenzi  - what do you think - maybe really just renamiing the "Active" to "Unpaused" in the UI would solve the problem?

[2022-06-04 19:29] potiuk commented on #13364
AIP created. Has not been picked up and led by anyone. But maybe someone will. converting it into discussion. Makes no sense to keep it as an issue.

[2022-06-04 19:30] potiuk commented on #12654
Very old. If this is still an issue, let's move it into a discussion.

[2022-06-04 19:32] potiuk commented on #10968
I think this is a nice feature, maybe someone will implement it.

[2022-06-04 19:35] potiuk commented on #9298
This is a nice feature- some kind of "manual approval" for a task. I think this is a good idea, but needs an AIP and devlist discussion. Hopefully someeone will pick it up. In the meantime I convert it to a discussion.

[2022-06-04 19:37] potiuk commented on #8789
repeated in #15082. Closing as duplicated.

[2022-06-04 19:37] #8789 closed

[2022-06-04 19:38] cswpy commented on #24160
Thanks for the tip @potiuk. I will come up with something and submit a PR.

[2022-06-04 19:59] potiuk commented on #24010
Closing it then.

[2022-06-04 19:59] #24010 closed

[2022-06-04 20:02] potiuk commented on #24015
Sounds like an interesting case to look at @dstandish :)

[2022-06-04 20:14] potiuk commented on #17010
Yes. You can actually make a PR adding it. Airflow is created by more than 2000 contributors like you. If you think and are convinced that a new rule is needed - there is nothing preventing you from opening a PR with proposing it @repl-chris

Yoy might not understand that this is a free software, developed mostly by volunteers so there is no "request" place. The easiest (and fastest) way to add a

[2022-06-04 20:45] ShahNewazKhan opened #24197 "KubernetesPodOperator rendered template tab does not prettty print `env_vars`"
### Apache Airflow version

2.2.5

### What happened

I am using the `KubernetesPodOperator` for airflow tasks in `Airflow 2.2.5` and it doesnot render the `env_vars` in the `rendered template` in a easily human consumable format as it did in `Airflow 1.10.x`

![image](https://user-images.githubusercontent.com/3241700/172024886-81fafb11-62c9-4daf-baff-7b47f3baf7d7.png)

### What you think should h

[2022-06-04 21:23] potiuk commented on #23689
Do we think we can solve it somehow @uranusjr ?

[2022-06-04 21:39] potiuk commented on #23895
Feel free to make PR fixing the docs then! Airflow is a free software that has more than 2000 contributors like you and most of the docs there were submitted by people like you who wanted to improve others experience. There is no "someone" who will do it - if you want to improve docs - just do it. Bottom right of the documentaiton page yuou will find a "suggest improvement on that page" button. Cl

[2022-06-04 21:51] #23622 closed

[2022-06-05 04:55] repl-chris commented on #17010
@potiuk My apologies for using the "request" terminology - I intended to be asking if there was an active issue/discussion somewhere where the specific "2-3 missing trigger rules" eladcal mentioned were being planned, which I could take part in. I did not mean to imply that I would not be willing to do the work myself...I realize my question was not worded appropriately and my intent was completel

[2022-06-05 09:43] potiuk commented on #17010
Sorry for my "harsh" words too. It's just too often people approach free software as somethig that is "magically" maintained and that they might "demand" and "expect" things to happen.

Sometimes the written communication is very difficult to pass your real intentions and attitude :)

And in this case - really PR is the best way to attempt new rule creation. Having PR opened, would also give you (

[2022-06-05 09:45] #22472 closed

[2022-06-05 09:46] #22446 closed

[2022-06-05 09:46] #22442 closed

[2022-06-05 13:52] #14864 closed

[2022-06-05 15:33] #22456 closed

[2022-06-05 15:34] #22428 closed

[2022-06-05 15:41] #22432 closed

[2022-06-05 15:44] #22429 closed

[2022-06-05 15:45] #22433 closed

[2022-06-05 15:50] #22439 closed

[2022-06-05 18:48] mmuru opened #24232 "Airflow tasks test is broken for xcom_pull based tasks"
### Apache Airflow version

2.3.2 (latest released)

### What happened

Testing example_xcom_args via CLI throws following exception.
[code]

### What you think should happen instead

It should have return the results without any exception.

However, test dags works without exceptions.
[code]

It seems that can't test individual tasks via CLI if the task has xcom.  I think, since airflow 2.3.x, xc

[2022-06-06 06:34] eladkal opened #24243 "Create `SqlToSlackOperator`"
### Body

Currently we have `SnowflakeToSlackOperator` & `PrestoToSlackOperator`.
This task is to create a generic `SqlToSlackOperator` to be compatible with all hooks that has `get_pandas_df` function.
The new operator should be in `providers/slack/transfers/sql_to_slack.py`, once completed we can also deprecate `SnowflakeToSlackOperator` & `PrestoToSlackOperator`.

A good resource for reference

[2022-06-06 06:34] eladkal commented on #23963
Closed in favor of https://github.com/apache/airflow/issues/24243

[2022-06-06 06:34] #23963 closed

[2022-06-06 06:39] uranusjr commented on #23796
It sounds like a configuration is the only way to satisfy all use cases. There’s no way Airflow can automatically know what timezone the log files use otherwise.

[2022-06-06 06:43] alexkruc commented on #24243
I'm willing to take this one :)
Hopefully, I could manage my way around this issue :)

[2022-06-06 06:58] uranusjr commented on #22358
From what I understand, the problem is not in the API response, but the generated API _clients_. The response you have above is currently not consumable by an API client. Adding `nullable: true` would allow the clients to handle `"schedule_interval": null` correctly.

[2022-06-06 07:19] Haapalaj opened #24244 "After migrating from version 2.2.5 to 2.3.0 airflow is unable to view the external scheduler logs"
### Apache Airflow version

2.3.2 (latest released)

### What happened

Having the external log's configured to be stored in AWS S3. After updating from 2.2.x version to the 2.3.x, the backward compatibility of fetching task log entries made with the earlier version (2.2.5), fails because the default log template has changed and are not found with that.
The log template with airflow version before

[2022-06-06 07:28] uranusjr commented on #24244
See #24153. We'll fix it in 2.3.3, I think.

[2022-06-06 07:31] Haapalaj commented on #24244
Wonderful! We will test this then.

[2022-06-06 08:35] karakanb commented on #23950
@tanelk it is possible, I don't know tbh. I have just upgraded to v2.3.2, I'll observe for some time to see if it is fixed.

[2022-06-06 08:35] Mottimo opened #24247 "DB init and upgrade for MariaDB does not work on Airflow 2.3"
### Apache Airflow version

2.3.1

### What happened

The execution of of the command "airflow db upgrade" to upgrade the version from 2.2.5 to 2.3.0 or 2.3.1 fails with the following error:

(airflow) [airflow@rabbit01 airflow]$ export LD_LIBRARY_PATH=/opt/python-bit/lib:$LD_LIBRARY_PATH
(airflow) [airflow@rabbit01 airflow]$ airflow db upgrade
DB: mysql+mysqldb://airflow:***@localdb.localdomain.i

[2022-06-06 09:23] ephraimbuddy commented on #24247
MariaDB is not officially supported yet. For fresh installs, this PR https://github.com/apache/airflow/pull/24156, which will create the DB without going through the migration files will fix it for `airflow db init`.

[2022-06-06 09:27] potiuk commented on #24243
assigned you

[2022-06-06 09:35] potiuk commented on #24247
Q: I think #24156 will only fix "fresh" installs. I wonder - is this a MariaDB-only error @ephraimbuddy ? If so, we can close it ? But maybe it can also happen for MySQL migrations? This is a "migration" from 2.2.5, so I'd say if this is is likely to happen when migrating - maybe we should simply ignore errors about not-exisitng objects like that in the migrations?

[2022-06-06 09:36] potiuk commented on #24247
That should at least fix some class of errors (I guess @Mottimo the problem was that you stopped migration in between initially when you run it ? )

[2022-06-06 10:02] Mottimo commented on #24247
The upgrade was never interrupted, during this operation or before it. I can double test if the same issue happen also on MySQL and let you know.

[2022-06-06 10:28] ephraimbuddy commented on #24247
We currently run upgrades for MySQL in the CI, so I think it's only Mariadb that it would affect

[2022-06-06 10:28] ephraimbuddy commented on #24247
Awesome. Please let us know

[2022-06-06 10:35] tonjo commented on #24247
Actually, `airflow db init` also fails with MariaDB, with exactly the same error.
PR #24156 seems to do the trick.
In order to make it work, I checked out branch `compare-type` and merged the PR commit.

[2022-06-06 11:24] Mottimo commented on #24247
First test: initialization successfully done on MySQL 5.7.36 (Macports ) using Airflow 2.3.1, starting from an empty schema.

Second test: dump of the current schema used by Airflow 2.2.5, import on MySQL without errors then upgrade. The result is a failure with the following error (already seen upgrading from 2.2.5 to 2.3.0):

`(airflow) [airflow@rabbit airflow]$ airflow db upgrade
DB: mysql+mysq

[2022-06-06 12:14] potiuk commented on #24247
I tihnk the important thing is WHY the missing index is there. I think it would be great to find out why the indexes are missing in your 2.2.5 schema on MariaDB.

Is it possible to run initialization on MariaDB and see if the indexes are missing there too?

It is in a way good that we expect that indexes are there to be dropped. They are supposed to be there. I think this cannot be solved by just

[2022-06-06 12:17] #22675 closed

[2022-06-06 12:25] Mottimo commented on #24247
Understood, I agree with @potiuk that if an index or a key should be there it's useless to check. Maybe also that a previous init or upgrade has broken something - in that case: why are we not seeing it in production? We are running a quite big installation on multiple environments.

Give me some time to run the init test on MariaDB with 2.2.5 and let you know.

[2022-06-06 12:39] potiuk commented on #24247
Yeah. If you run muiltiple envs it would be great to see if it's a recurring problem or once-off!

[2022-06-06 12:54] #15332 closed

[2022-06-06 12:56] ephraimbuddy commented on #24232
So, this `airflow tasks test example_xcom_args print_value 2022-06-05` is pulling xcom pushed by `generate_value` task. Maybe we should have a test_mode for XComArg.resolve and return something(`string`) when test_mode.
WDYT @uranusjr

[2022-06-06 13:44] potiuk commented on #24100
How about [params](https://airflow.apache.org/docs/apache-airflow/stable/concepts/params.html?highlight=params)  - I still do not understand what you are asking for - but that would be my guess tha it's likely what you want. In either case I am converting that to a discussion until this is clarified.

[2022-06-06 13:53] potiuk commented on #23965
Could you type in exact example of the URL you use ? I believe it might be that you  need DOUBLE PERCENT ESCAPING. :scream: :scream: :scream: in this case.

[2022-06-06 13:58] AlekseiSaff commented on #24247
MariaDB is using sequences that are not supported by MariaDB, but from an SQL point of view, sequences are a kind of a virtual table. On my setup, I just created them manually. On the same upgrade path. 2.2.5 to 2.3

[2022-06-06 14:11] potiuk commented on #24247
@kaxil : re our discusison about best-effort - seems that Maria DB does have some fundamental differences vs. MySQL (sequence handling). I think we should decide on whether this is still "best-effort" case. I think it's either we bluntly drop all support for MariaDB and say "we do not support it" or we just add it and solve all issues.
There will be more cases like this along the road I am afraid.

[2022-06-06 14:13] potiuk commented on #24247
https://blog.devart.com/mysql-vs-mariadb.html

[code]

[2022-06-06 14:20] potiuk commented on #24247
Yeah. From our point of view what is important is that it:

1) MySQL vs. MariaDB is different
2) causes migration problems (sequence handling is different)
3) We never supported MariaDB - so if the scripts do not work, it's because user used it against our recommendation
4) Our scripts are only run against MySQL only. We have not done a single test in our CI against MariaDB because, well, we do no

[2022-06-06 14:31] potiuk commented on #24247
I quite agree with supporting MariaDB but my proposal of "oifficielly" supporting it (i.e. running tests in CI has not been well received so far, hence I am raising it here (and likely re-raise soon in the devlist) . We need to have devlist  agreement on it and voting that pass. So if you are all for it - I will post some discsusion to the devlist and you would be welcome to state your voice there

[2022-06-06 14:32] AlekseiSaff commented on #24247
here is the squences in my DB (2.31 and 2.32) that you can create manually

DROP SEQUENCE IF EXISTS `ab_permission_id_seq`;
CREATE SEQUENCE `ab_permission_id_seq` start with 1 minvalue 1 maxvalue 9223372036854775806 increment by 1 cache 1000 nocycle ENGINE=InnoDB;
SELECT SETVAL(`ab_permission_id_seq`, 1001, 0);

--
-- Sequence structure for `ab_permission_view_id_seq`
--

DROP SEQUENCE IF EXISTS `

[2022-06-06 14:41] #20832 closed

[2022-06-06 15:20] #22444 closed

[2022-06-06 15:29] bmoon4 commented on #24247
I had a same issue when upgrading from 2.2.4 to 2.3.1 with MariaDB. Had to manually create sequences before schedulers `airflow db upgrade` command (like what @AlekseiSaff did). I think this is more like SQLAlchemy `1.4.x` problem. I suspect It is not firing `CREATE SEQUENCE` properly with MariaDB dialect.

[2022-06-06 15:31] josh-fell commented on #24197
@ShahNewazKhan WDYT about submitting a PR for this? Airflow has over 2K contributors and it seems like you are in a great position to test an enhancement here.

I suspect it's a matter of adding `template_fields_renderers` attribute to `KubernetesPodOperator`; maybe even something similar to what's done in [this operator](https://github.com/apache/airflow/blob/b4a5783a2a90d9a0dc8abe5f2a47e639bfb61

[2022-06-06 16:36] ephraimbuddy commented on #24247
Looks like the sequences were added at this migration(implicitly) https://github.com/apache/airflow/blob/2.3.1/airflow/migrations/versions/0073_2_0_0_prefix_dag_permissions.py by instantiating the models.

[2022-06-06 16:39] AlekseiSaff commented on #24247
so it's interesting. officially you don't support mariaDB, but someone added functionality specific to MariaDB?

[2022-06-06 16:48] ephraimbuddy commented on #24247
It's not specific to MariaDB. I would say MariaDB seems not to support sequence. Sequence works in the all the DBs we support. MSSQL uses Identity

[2022-06-06 17:00] ephraimbuddy commented on #24247
Can someone test with this patch for your upgrade if you're in 2.2.5:
[code]

[2022-06-06 17:01] Mottimo commented on #24247
My DB was create with Airflow 2.0, then migrated till now. The suggestion from @AlekseiSaff has fixed the first part of the upgrade, now we got another error:

`sqlalchemy.exc.OperationalError: (MySQLdb._exceptions.OperationalError) (1091, "Can't DROP FOREIGN KEY `task_reschedule_ti_fkey`; check that it exists")`

This foreign key seems that cannot be created as reported into the migration script,

[2022-06-06 17:01] Mottimo commented on #24247
@ephraimbuddy I will test your patch and let you know

[2022-06-06 17:07] Mottimo commented on #24247
@ephraimbuddy, using your patch we got the same error for the missing foreign key task_reschedule_ti_fkey

[2022-06-06 17:14] tikkisetti opened #24257 "Airflow triggering old code"
### Apache Airflow version

2.1.4

### What happened

Some of our dags are still running the old code. One way to get them pick the latest code is to delete the dag and let it reload.  How do I fix this?

### What you think should happen instead

_No response_

### How to reproduce

_No response_

### Operating System

Debian GNU/Linux 10

### Versions of Apache Airflow Providers

_No response_

#

[2022-06-06 17:14] AlekseiSaff commented on #24247
that  is due to collation issue. my way to fix this

My way of upgrading 2.2.5 to 2.3.0:

create text DB dump
change all "utf8mb3_unicode_ci" to "utf8mb3_bin" in the backup dump
drop DB and recreate from modified backup

one more issue with step:
UPDATE rendered_task_instance_fields, dag_run SET rendered_task_instance_fields.run_id=dag_run.run_id WHERE dag_run.dag_id = rendered_task_instance_field

[2022-06-06 17:16] ephraimbuddy commented on #24247
The patch was to get through the sequence. Should have explained

[2022-06-06 17:35] alexbegg commented on #23689
I have a question, that is sort of on this topic. Is it possible to override a Data Interval when triggering a DAG run manually? For example if my DAG has a monthly schedule, could I change the Data Interval for a single manual run to be 15 days instead, mabe using Params?

[2022-06-06 17:57] brettpalmberg commented on #22863
Was able to resolve this by switching to the new recommended method for building customized images post Airflow 2.3.0 using BuildKit (https://airflow.apache.org/docs/docker-stack/build.html#customizing-the-image)

[2022-06-06 17:57] raphaelauv opened #24259 "cli airflow db without dags and plugings"
### Description

Currently If in my conf I have a xcom_backend or/and a secret_backend I can't run the cli `airflow db` without giving access to the dags and plugins

[code]

without the volume mapping it fail with

[code]

### Use case/motivation

It would allow running the cli `airflow db ...` without access to dags or plugins

( my main motivation is that I'm using gcp composer and the db updat

[2022-06-06 18:20] potiuk commented on #23826
RC will be out likely tomorrow :)

[2022-06-06 18:21] potiuk commented on #23826
Or maybe even  today

[2022-06-06 18:29] potiuk commented on #24247
BTW. Even if someone did, it wouldd not be surprising. We do not test stuff on MariaDB, we do test on MySQL so if the change which targets MariaDB passed the MySQL, we would merge it. This is was kind of implied by the "best-effort" informal policy - if someone would like to make a fix that would make MariaDB work, they were allowed to merge it (as long as it would not break MySQL) but we would no

[2022-06-06 18:29] analystgav commented on #23926
great, that worked

[2022-06-06 18:49] potiuk commented on #24259
You can override the configuration that currently causes the plugins to be loaded to not do it.  AIRFLOW__CORE__.....  speciflically to run the CLI.

Would that solve the problem @raphaelauv ?

[2022-06-06 18:52] potiuk commented on #22863
Yeah that 's also part of the docs (the SQS part). We should not add SQS into the image.  However it might be a good idea to add liubrcurl*openssl /libssl - so you can add them to a Dockerfile (both Dockerfile and Dockerfile.ci I think would make sense.

[2022-06-06 18:58] Mottimo commented on #24247
Yeah @ephraimbuddy, I tested your patch starting from a schema 2.2.5 without @AlekseiSaff's suggestion about the sequences and it works. The issue still be the foreign key, even using the character set change suggested again by @AlekseiSaff. But, creating a foreign key without map_index the upgrade goes ahead, stopping on another key named idx_task_reschedule_dag_task_run for a similar reason. Tom

[2022-06-06 19:05] AlekseiSaff commented on #24247
you can always check
"SHOW ENGINE INNODB STATUS"
after failure and it will show you where is your problem. usually it's collation (based on my experience)

[2022-06-06 21:06] #22427 closed

[2022-06-06 21:54] jedcunningham commented on #23602
https://github.com/apache/airflow/pull/24262 is an attempted optimization for cron scheduled DAGs.

[2022-06-06 21:59] myang-clgx opened #24265 "DataflowStartFlexTemplateOperator could not execute due to KeyError 'Job' from Response"
### Apache Airflow Provider(s)

google

### Versions of Apache Airflow Providers

apache-airflow-providers-apache-beam 3.4.0
apache-airflow-providers-ftp         2.1.2
apache-airflow-providers-google      7.0.0
apache-airflow-providers-http        2.1.2
apache-airflow-providers-imap        2.2.3
apache-airflow-providers-sqlite      2.1.3

### Apache Airflow version

2.3.1

### Operating System

MA

[2022-06-06 22:20] #23955 closed

[2022-06-06 23:24] SamWheating opened #24266 "Unable to disable file processor stats logging without also disabling metrics"
### Apache Airflow version

2.3.2 (latest released)

### What happened

I recently disabled the printing of the file parsing stats by setting `scheduler.print_stats_interval` to `0` in the airflow config, because it was causing a lot of noise in the scheduler logs.

However, this set of some monitors we have set up on the file processor, since we were no longer receiving `dag_processing.last_run.s

[2022-06-06 23:32] #22730 closed

[2022-06-07 00:20] myang-clgx opened #24267 "Cannot Reference DataflowStartFlexTemplateOperator even use in AF 2.3.2"
### Apache Airflow Provider(s)

google

### Versions of Apache Airflow Providers

apache-airflow-providers-apache-beam 3.4.0
apache-airflow-providers-ftp         2.1.2
apache-airflow-providers-google      7.0.0
apache-airflow-providers-http        2.1.2
apache-airflow-providers-imap        2.2.3
apache-airflow-providers-sqlite      2.1.3

### Apache Airflow version

2.3.2 (latest released)

### Op

[2022-06-07 01:33] uranusjr commented on #24265
In the future, please read GitHub’s Markdown guide and try to format the code blocks correctly. (I fixed them for you in this issue.)

https://docs.github.com/en/get-started/writing-on-github/working-with-advanced-formatting/creating-and-highlighting-code-blocks

[2022-06-07 02:23] pingzh commented on #23950
good point on the data on pods restart. if the pod runs out of resources, the pod would be killed.

do you see this metric `zombies_killed` https://github.com/apache/airflow/blob/2.2.5/airflow/dag_processing/manager.py#L1135?

[2022-06-07 05:41] ephraimbuddy commented on #24247
You can create a non-unique index on `task_instance` involving `map_index`, `run_id`, `task_id`, and `dag_id` after applying my patch and the migration stops. Please do this in a test environment.

[2022-06-07 05:52] blag commented on #22708
Hey @hankehly, thank you for being so patient waiting for me to review and merge your PRs. I have merged all of your PRs that I'm aware of, please let me know if I've overlooked any. Thank you for your help so far, I really appreciate it!

[2022-06-07 06:20] potiuk commented on #24266
We are about to vote (and possibly implement) https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-49+OpenTelemetry+Support+for+Apache+Airflow - I think this kind of feature belong there and it should be part of otel implementation. No matter what, such feature will not get out before 2.4, so even if it "seems" like simple flag, probably it is much better to implement it there, rather than inve

[2022-06-07 06:47] potiuk commented on #24265
Looking at the #24267  you simply installed airlfow without the right constraints. Please check it after installing it properly. I will convert it into discussion until you double-check it.

[2022-06-07 06:47] #24265 closed

[2022-06-07 09:17] Mottimo commented on #24247
Finally I got the first upgrade from 2.2.5 to 2.3.1 without errors. The applied steps are:

1. Dump of the 2.2.5 DB and replacement of collate to utf8mb3_general_ci. This change was required to prevent two errors, one during the creation of new table task_map (type of foreign key does not match the referenced table), the other for incoherence between collates utf8mb3_unicode_ci and utf8mb3_general

[2022-06-07 09:38] potiuk commented on #24247
FYI. I actually added MariaDB as option to our 2022 survey (closed yesterday) and hopefully we will learn how many of our users are actually using MariaDB (at least we will have some rough numbers). I do think that at least the migration steps (but likely whole suite of tests) should run  for MariaDB and we should start "supporting" it officiall - but that's my personal opinion, as I have complete

[2022-06-07 09:55] Mottimo commented on #24247
If can help with your decision, we are using MariaDB with Galera Cluster over three nodes. This architecture is active on multiple environments and it will become - within few months - a reference architecture, mission critical, for a wide group of industries around Europe. We patched a lot Airflow to reach such goal, our work can be shared with you if you like. This is the reason why we would lik

[2022-06-07 09:58] sivieri opened #24279 "Rules for upstream_failed transmission not clear"
### What do you see as an issue?

Looking at the [documentation](https://airflow.apache.org/docs/apache-airflow/stable/concepts/dags.html#concepts-trigger-rules) about trigger rules, it is not clear how the `upstream_failed` status is transmitted downstream.

The documentation contains several details about how the rules behave with skipped tasks, but no information (that I could find) is dedicate

[2022-06-07 10:09] potiuk commented on #24247
I will post a thread to devlist here when I start it - I think speaking and describing your case at the devlist might add it a weight - so I invite you to chime in when we start discussing it @Mottimo .

[2022-06-07 10:27] geoffreyaldebert opened #24280 "Blank page on grid panel when changing tasks of a dag"
### Apache Airflow version

2.3.1

### What happened

After I added tasks on a specific dag, Airflow grid panel was a blank page.
I manage to resolve it by removing all previous dag runs. The grid panel then displayed normally.
For info, this problem was managed automatically in past versions.

### What you think should happen instead

Automatically manage architecture change in a specific dag and

[2022-06-07 10:38] potiuk commented on #24280
This has been fixed in Airlfow 2.3.2 https://github.com/apache/airflow/issues/23960 - please upgrade.

[2022-06-07 10:38] #24280 closed

[2022-06-07 10:57] drissnej commented on #13609
where you able to fix this issue ? I also updated to a newer version and couldn't fix it. Same on 1.18

[2022-06-07 11:10] ishiis opened #24281 "Fix command in breeze"
### What do you see as an issue?

There is a mistake in the command displayed in breeze.

[code]

There is no -m option in pip.

[code]

### Solving the problem

Fix the command.

### Anything else

_No response_

### Are you willing to submit PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://github.com/apache/airflow

[2022-06-07 11:13] #24281 closed

[2022-06-07 11:21] #22358 closed

[2022-06-07 11:25] #16610 closed

[2022-06-07 12:04] ishiis opened #24283 "Color assignments of legends in Graph view"
### Description

I’d like to make the legends in GraphView easier to read, and simplify color assignments.

### Use case/motivation

The legend in GraphView has several problems.
If ui_color in Operator is not set, the legend is set to white. If more than one Operator is white, the legend cannot be distinguished. See: [#23999](https://github.com/apache/airflow/issues/23999)

Similar colors may be

[2022-06-07 12:45] ashb commented on #24021
Does `expand_kwargs` work on Taskflow operators too?

[2022-06-07 12:46] joelossher opened #24286 "Removed DAG Reporting import_errors to Datadog"
### Apache Airflow version

2.2.5

### What happened

We deleted the file for an old DAG and since then our Airflow instance has been reporting an import error to Datadog via the `airflow.dag_processing.import_errors` gauge metric.

Looking at the DAG processor manager logs, we see the following:
[code]

after a little bit `etl_facebook_comments.py` stops appearing in `dag_processor_manager.log` b

[2022-06-07 12:53] potiuk commented on #24279
I think if it is not documented, then the only way to check is to look it up in the code. And then person, who has already made a considerable effort to look up is llikely the best to document it. Trying to document it, is likely best way to learn it (especially that you will get maintainer's help with that).

There is no "must" here  of course - but if you will not do it then it will have to wait

[2022-06-07 13:02] potiuk commented on #24279
It's realy just about setting expectations right :)

* if you help with that and open PR, you might achieve the goal fast (and you can control the progress)
* if you don't, the docs might or might not get updated, depending if somoene picks an interest about

Just this - no more, no less.

[2022-06-07 13:05] potiuk commented on #24279
BTW, If what you really wanted to achieve is to get a better understanding on how it works - then better open a GitHub Discussion about it - https://github.com/apache/airflow/discussions  - then it can be turned into a PR without necessarily even opening an issue about it :D. I only asked about your willingness because you opened and issue about it with "bug" label which indicated something else.

[2022-06-07 13:13] #24279 closed

[2022-06-07 13:18] potiuk opened #24289 "Status of testing Providers that were prepared on June 07, 2022"
### Body

I have a kind request for all the contributors to the latest provider packages release.
Could you please help us to test the RC versions of the providers?

Let us know in the comment, whether the issue is addressed.

Those are providers that require testing as there were some substantial changes introduced:

## Provider [alibaba: 2.0.0rc2](https://pypi.org/project/apache-airflow-provider

[2022-06-07 13:57] potiuk commented on #23826
The RC is out https://github.com/apache/airflow/issues/24289 @takuma11248250 @gilangardya I'd love your "test status"  in the #24289  - that's where everyone else will be posting theirs.

[2022-06-07 14:04] vincbeck commented on #24289
All my changes are related to doc and/or sample dag. No testing needed

[2022-06-07 14:08] potiuk commented on #24289
Cool. Bulk-updated them as "tested" :D

[2022-06-07 14:09] raphaelauv commented on #24289
https://github.com/apache/airflow/pull/23981 work

[2022-06-07 14:11] potiuk commented on #24289
I also tested and updated all "my" changes

[2022-06-07 14:16] potiuk commented on #24289
One comment. I am releasing rc2 in a moment (@josh-fell found that our RELEASE notes (part of packages) contained Airflow 2.1+ so I am re-relesing all providers with that one change included (but feel free to continue the testing - the only difference will be those descriptions.

[2022-06-07 14:23] ishiis commented on #24289
#23724 #24000 is tested.

[2022-06-07 14:32] tagoad opened #24293 "Previous DAG run task group instances are showing same status as current DAG run"
### Apache Airflow version

2.3.2 (latest released)

### What happened

I updated to 2.3.2 today and while i love the new additions to the task groups ui i am getting weird behavior with their statuses. The previous run task groups status is changing to whatever the current run status is:

![image](https://user-images.githubusercontent.com/43684949/172405342-690dce8f-f3ca-4e5f-b4ed-67356e35e87a.pn

[2022-06-07 14:34] Dark-Knight11 commented on #24289
#23849 contains only refactoring of code. No testing needed

[2022-06-07 15:49] danielsteman opened #24295 "Webserver keeps restarting due to CrashLoopBackOff"
### Apache Airflow version

2.3.2 (latest released)

### What happened

We deployed the latest version of Airflow on our K8s cluster (AKS) and we noticed that the webserver is restarted every minute or so. The pod logs don't show the immediate problem, apart from a particular exception that's being raised several times by sqlalchemy which is the following:

[code]
We also noticed that the Google p

[2022-06-07 16:08] grassten opened #24297 "Airflow CLI tasks clear command error (due to "latest" symlink?)"
### Apache Airflow version

2.3.2 (latest released)

### What happened

When running `airflow tasks clear` command, we get the following error.

[code]

Looking at this directory, I see `2022-06-07` and `latest`, which is a symlink to `2022-06-07`.

The error is being raised from here https://github.com/apache/airflow/blob/0bf5f495d4131109fba449697adee68a62516851/airflow/utils/file.py#L242

child_

[2022-06-07 16:57] jonathansp commented on #24289
I've tested #23622 and it works as expected.

[2022-06-07 17:25] wb-08 commented on #23833
Please fix this bug as soon as possible:)

[2022-06-07 17:27] gilangardya commented on #24289
I've tested #24165 (google, BigQueryInsertJobOperator) with `composer-2.0.15-airflow-2.2.5`, it works as expected.
These are the tests I did:

Job type | Statement | Details | 7.0.0 | 2022.5.18+composer | 8.0.0rc1
-- | -- | -- | -- | -- | --
COPY | N/A | Copy BigQuery Table | :x: | :x: | :white_check_mark:
EXTRACT | N/A | To CSV | :x: | :x: | :white_check_mark:
LOAD | N/A | From CSV | :x: | :x: |

[2022-06-07 17:41] nhojjohn commented on #24289
I checked https://github.com/apache/airflow/pull/23916 and noticed an problem with it.  Feel free to revert it or consider the following PR which fixes the issue https://github.com/apache/airflow/pull/24301

[2022-06-07 17:43] SasanAhmadi commented on #24289
I've tested [#22802](https://github.com/apache/airflow/pull/22802) and it is working as expected.

[2022-06-07 17:52] RaghavBatra opened #24302 "Templating Git Sync directory"
### Official Helm Chart version

1.6.0 (latest released)

### Apache Airflow version

2.3.0

### Kubernetes Version

1.22.6

### Helm Chart configuration

_No response_

### Docker Image customisations

_No response_

### What happened

We use the official Airflow Helm Chart for deploying our production Airflow instances.
However, whenever going from local to our dev instance, we run into a path i

[2022-06-07 18:19] onemec opened #24303 "Specify an image pull secret"
### Description

Add a parameter `images.airflow.imagePullSecrets` to support [this](https://kubernetes.io/docs/concepts/containers/images/#specifying-imagepullsecrets-on-a-pod) secret for fetching airflow images.

### Use case/motivation

When deploying custom images (e.g. the extended images with [DAGs embedded](https://airflow.apache.org/docs/helm-chart/stable/manage-dags-files.html#bake-dags-i

[2022-06-07 20:07] potiuk commented on #23833
@wb-08  - maybe you would like to attempt to fix it? Then it will be quite faster. At the very least please observe this isssue and when PR is raised - can we count on you testing it?

[2022-06-07 20:12] potiuk commented on #24289
Cool. I will look to it - I am going release rc2 so I will merge it before.

[2022-06-07 20:13] potiuk commented on #24289
As discussed on slack - mistake :). Will release minor as rc2.

[2022-06-07 23:09] gmcrocetti commented on #24289
1. https://github.com/apache/airflow/pull/23857 works;
2. https://github.com/apache/airflow/pull/24215 is broken but there's a patch fixing it: https://github.com/apache/airflow/pull/24308;
3. https://github.com/apache/airflow/pull/23791 I'm currently **unable** to test it. @eladkal, as the author would you be willing to test it ?

[2022-06-08 00:58] takersk opened #24309 "Intermittent failures when deleting pods"
### Apache Airflow version

2.3.1

### What happened

Intermittent error when deleting pods after pod `state=SUCCEEDED`

[code]

### What you think should happen instead

Marking task as SUCCESS

### How to reproduce

see above

### Operating System

k8s version : v1.17.12

### Versions of Apache Airflow Providers

apache-airflow-providers-amazon==3.4.0
apache-airflow-providers-celery==2.1.4
apach

[2022-06-08 02:43] shawn-le opened #24310 "non-TaskFlow expand op_kwargs errors"
### Apache Airflow version

2.3.0

### What happened

[code]

Could not works because of passing list of kwargs

[code]

### What you think should happen instead

It's should accept a list of kwargs to trigger dynamic mapping instead of one kwargs

### How to reproduce

_No response_

### Operating System

Ubuntu 22.04

### Versions of Apache Airflow Providers

_No response_

### Deployment

Virtu

[2022-06-08 03:39] AlekseiSaff commented on #24247
@ephraimbuddy any ideas what to do for those who created sequences manually?

[2022-06-08 04:57] broholens opened #24313 "when i updated the dag, task in task_instance didn't update"
### Apache Airflow version

2.3.2 (latest released)

### What happened

There is a dag with pool1，and task in task_instance of this dag works on pool1，when i update the pool of the dag to pool2,  task in task_instance of this dag still works on pool1.

I checked `serialized_dag` table of this dag, and the data already updated to pool2.

So i read the code, and i find there may have a bug in functi

[2022-06-08 05:01] yuanjun-jason commented on #24295
+1, same behavior observed on GKE

[2022-06-08 05:10] uranusjr commented on #24295
Duplicate of #23926.

[2022-06-08 05:10] #24295 closed

[2022-06-08 05:28] uranusjr commented on #24310
duplicate of #23833

[2022-06-08 05:28] #24310 closed

[2022-06-08 06:36] MattiaGallegati commented on #23950
@karakanb I recently made some "load tests" on my installation which is on CeleryExecutor, installed with docker-compose, distributed on two nodes.
I made some simple Python tasks sleep for hours.
My recent run was on a 13hours DAG with incremental sleeping tasks up to 6 hours.
I saw no problem for the moment.
Let us know if you find the problem.

[2022-06-08 06:45] ephraimbuddy commented on #24247
I don't think it's a problem if you have already created it. You can drop it as well but I don't really know how MariaDB would handle that. The purpose of the sequence is to handle the auto-update of the table id field.

[2022-06-08 07:30] alexkruc commented on #24289
Verified the installation and that everything exists properly for my fixes:
* https://github.com/apache/airflow/pull/24084
* https://github.com/apache/airflow/pull/24116:

[2022-06-08 07:47] #23473 closed

[2022-06-08 09:18] uranusjr commented on #24021
It will need to be implemented separately (like `expand`, taskflow and classic tasks will have different semantics), but it can work.

[2022-06-08 09:40] pankajastro opened #24318 "`EmrCreateJobFlowOperator` does not work if emr_conn_id param contain credential"
### Apache Airflow Provider(s)

amazon

### Versions of Apache Airflow Providers

_No response_

### Apache Airflow version

2.3.2 (latest released)

### Operating System

os

### Deployment

Other

### Deployment details

_No response_

### What happened

EmrCreateJobFlowOperator currently have two params for connection `emr_conn_id` and `aws_conn_id`. So it works only when I set `aws_conn_id` co

[2022-06-08 10:05] potiuk commented on #24289
Thanks @gmcrocetti - as I am releasing rc2 soon, I merged your fix :)

[2022-06-08 10:28] kazanzhy commented on #24289
https://github.com/apache/airflow/pull/23767 working as expected

[2022-06-08 11:44] wegmatho opened #24321 "S3KeySensor wildcard_match only matching key prefixes instead of full patterns"
### Apache Airflow Provider(s)

amazon

### Versions of Apache Airflow Providers

3.4.0

### Apache Airflow version

2.3.2 (latest released)

### Operating System

Debian GNU/Linux 10

### Deployment

Docker-Compose

### Deployment details

_No response_

### What happened

For patterns like "*.zip" the S3KeySensor succeeds for all files, does not take full pattern into account i.e. the ".zip" par

[2022-06-08 12:22] olivermeyer commented on #23885
The DAG completes, but only after the relevant task is retried. We don't have any issues with the scheduler restarting unexpectedly.

Noted. We'll try to upgrade to 2.3 to see if that helps. I'll update this issue after we've tried.

[2022-06-08 12:24] rino0601 commented on #23796
I also faced same issue (for Asia/Seoul should shift forward 9 hours but 18 hours).

I found workaround. via configuration. here's how:

1. write `${PYTHONPATH}/airflow_local_settings.py `
[code]
2. Edit airflow.cfg

[code]

3. then

![2b7b04ca-4830-4556-a9a2-3613917c9205__1863×834_](https://user-images.githubusercontent.com/1422445/172614806-00307250-aab6-48e4-839f-0a23e0ece84b.png)

----

I have

[2022-06-08 12:52] potiuk commented on #24321
Would it be possible you submit a fix for it? I think that's the fastest way to fix it. And I am about to release provider's release so quick fix to that might be released in a couple of days if you manage to fix it.

[2022-06-08 13:21] eladkal commented on #24321
cc @vincbeck

[2022-06-08 13:44] fritz-astronomer opened #24324 "Grid View Visual Issues"
### Apache Airflow version

2.3.2 (latest released)

### What happened

Grid view for a Task Group (renders incorrectly)
<img width="865" alt="image" src="https://user-images.githubusercontent.com/80706212/172630971-12ca3955-cc3c-4c47-ad56-2a7643551353.png">

Graph View for same Task Group (renders correctly)
<img width="1168" alt="image" src="https://user-images.githubusercontent.com/80706212/172

[2022-06-08 13:50] sd274 opened #24325 "`render_template_as_native_obj` breaks posting data with `SimpleHttpOperator`"
### Apache Airflow version

2.3.0

### What happened

I'm trying to create a dag that uses the `SimpleHttpOperator` to post data to various endpoints and pass the responses to other endpoints. As I am passing the responses to other endpoints it is convenient to have `render_template_as_native_obj=True`. However, when I have this set to True it seems to cause issues with the data that is posted. Ex

[2022-06-08 14:05] potiuk commented on #24325
What errors do you see? you have not written that. Please clarify. I expect this is a problem with some of the templated fields of the opearator that get  a different value than string - but it's hard to say without you showing the error. My guess is that you are passing some data that looks like a Dict to a templated field and it gets rendered as a dict..

There are various ways you can deal with

[2022-06-08 14:26] karakanb commented on #23950
@pingzh I don't have the `zombies_killed` metric in my `/metrics` endpoint, not sure.

@MattiaGallegati thanks a lot for the information. I haven't observed the issue for the past 3 days after the upgrade, I'll keep observing and report here.

[2022-06-08 14:43] eskarimov commented on #24289
Tested #19736 by executing `DatabricksRunNowDeferrableOperator` and `DatabricksSubmitRunDeferrableOperator`, both work as expected.

[2022-06-08 14:44] fritz-astronomer opened #24328 "`TI.log_url` is incorrect with mapped tasks"
### Apache Airflow version

2.3.0

### What happened

I had an `on_failure_callback` that sent a `task_instance.log_url` to slack, it no longer behaves correctly - giving me a page with no logs rendered instead of the logs for my task.

(Example of failure, URL like: https://XYZ.astronomer.run/dhp2pmdd/log?execution_date=2022-06-05T00%3A00%3A00%2B00%3A00&task_id=create_XXX_zip_files_and_upload&dag

[2022-06-08 14:47] pawellrus opened #24329 "'__type' is a required property exception when loading DAG Grid"
### Apache Airflow version

2.3.0-2.3.1

### What happened

Grid for any DAG stop loading for some unknow issue. Instead I get exception in console and webserver's logs.

### What you think should happen instead

`{
  "detail": "'__type' is a required property\n\nFailed validating 'required' in schema['properties']['tasks']['items']['properties']['retry_delay']:\n    {'description': 'Time delta',\

[2022-06-08 15:12] Mottimo commented on #24247
Hi, I run another test on a fresh environment. These the steps using MariaDB:

1. New env prepared starting from Airflow 2.2.5, DB initialized and never used;
2. Dump of the DB and update of the COLLATE to utf8mb3_general_ci;
3. Airflow 2.3.1 updated using @ephraimbuddy's patch for sequences;
4. `airflow db upgrade` successfully executed without any further intervention. Service was not started;
5

[2022-06-08 15:30] zachliu commented on #23512
still seeing
[code]
and
[code]

[2022-06-08 15:33] deeptansh opened #24331 ""Example DAGs" link under kubernetes-provider documentation is broken. Getting 404"
### What do you see as an issue?

_Example DAGs_ folder is not available for _apache-airflow-providers-cncf-kubernetes_ , which results in broken link on documentation page ( https://airflow.apache.org/docs/apache-airflow-providers-cncf-kubernetes/stable/index.html ).

Getting 404 error when clicked on _Example DAGs_ link (https://github.com/apache/airflow/tree/main/airflow/providers/cncf/kubernet

[2022-06-08 16:04] josh-fell commented on #24331
This is a deeper issue than just the Kubernetes provider. With [AIP-47](https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-47+New+design+of+Airflow+System+Tests), example DAGs are being migrated out of the `example_dags` folders and used as system tests. The docs point `tree/main/airflow/providers/.../example_dags` for all providers even past versions.

The question is, how should this link b

[2022-06-08 16:16] potiuk commented on #24331
The links should point to provider's branch version  of examples  I think

[2022-06-08 16:18] potiuk commented on #24331
Then in new docs we should get new links and in old ones, old links. But that's a bit "transition period" for now which makes it a bit difficult I think we should possibly Have two links for the time being to make it simpler and fix it afterwards.

[2022-06-08 17:05] potiuk commented on #24331
Working on a good fix.

[2022-06-08 17:45] chenglongyan commented on #23283
The interactive option is a CLI parameter. Why should it be passed to the executor?

https://github.com/apache/airflow/blob/047a6162b0b4cbf07fe2fd978e335839a7d3900b/airflow/cli/commands/task_command.py#L379-L383

[2022-06-08 17:49] fritz-astronomer commented on #24324
Closing as duplicate

[2022-06-08 17:49] #24324 closed

[2022-06-08 19:05] vincbeck commented on #24321
I'll look into it

[2022-06-08 19:10] o-nikolas commented on #24289
My changes are testing related and not part of provider code shipped to customers. Though I verified those tests are still passing :+1:

[2022-06-08 20:07] jordanjeremy opened #24338 "TaskFlow AirflowSkipException causes downstream step to fail"
### Apache Airflow version

2.3.2 (latest released)

### What happened

Using TaskFlow API and have 2 tasks that lead to the same downstream task.  These tasks check for new data and when found will set an XCom entry of the new filename for the downstream to handle.  If no data is found the upstream tasks raise a skip exception.
 The downstream task has the trigger_rule = none_failed_min_one_succe

[2022-06-08 21:04] arroadie commented on #23512
Plus one to this issue. Having issues with multiple webservers running and never being able to reach stability since they are all trying to run this migration and conflicting to each other.
Is there a configuration/flag that can be used to prevent the webserver from trying to perform those changes?

[2022-06-08 21:22] zachliu commented on #23512
well, to be fair, https://github.com/apache/airflow/pull/24065 did fix half of this issue. the repeating/conflicting actions around `menu access` are gone now, but the repeating/conflicting actions around `can_create` are still here

[2022-06-08 21:49] NilsJPWerner commented on #23588
I'm having the same issue:

<img width="744" alt="image" src="https://user-images.githubusercontent.com/10968348/172723414-cdf91d07-fde2-4ed2-aaab-e6044fcbc7e7.png">

[2022-06-08 21:50] arroadie commented on #23512
fair, providing I didn't test latest main branch. Did you find a way to run more than one webserver without this being an issue @zachliu ?

[2022-06-08 22:17] zachliu commented on #23512
@arroadie only a layman solution here: https://github.com/apache/airflow/issues/23512#issuecomment-1140160062. it's just calling the `create_app` before spinning up all the workers and setting a env flag st the workers don't touch the fab permissions

i did dig into the source code but still only have limited understanding on this. afaik, permission related setups should be done at the database in

[2022-06-08 22:26] arroadie commented on #23512
Agree. Saw your post previously when I first faced this issue (kudos on the investigation by the way) and yeah, I agree that this kind of operation should be executed previously to the web server being fired; ideally those tasks should be executed only by one agent (if using high availability) with some kind of lock to prevent race conditions. I read somewhere else previously that this is an issue

[2022-06-08 22:58] bbovenzi commented on #24329
1. If you changed from the browser console tab to the network tab, is there a specific endpoint that is failing?

2. Could you share an example DAG where this is occuring?

[2022-06-08 23:04] bbovenzi commented on #24293
Fixed in [#24327](https://github.com/astronomer/airflow/issues/24327)

[2022-06-08 23:04] #24293 closed

[2022-06-08 23:55] potiuk commented on #24289
I  re-released the RC2 after few fixes (thanks to those who noticed them) and also corrected a number of documentation issues (that turned to be a bit more complex due to AIP-47 induced changes) - thanks @josh-fell and @deeptansh for raising the issues.

Announcement is about to be sent to the devlist. There is no real need to re-test the already tested changes (I left them checked) as the changes

[2022-06-09 01:26] saritatewari4 commented on #12771
Hi ,

I want to trace dags status in open telemetry. I am not able to export traces on open telemetry collector. I hope @[aa3pankaj](https://github.com/aa3pankaj) also faced same issue.

Please let me know if any solution for this.

Thanks

[2022-06-09 02:31] josh-fell commented on #24289
All of mine are 👍

[2022-06-09 02:36] bhavaniravi opened #24339 "airflow db cleanup - psycopg2.errors.InFailedSqlTransaction celery_taskmeta"
### Apache Airflow version

2.3.0

### What happened

The following exception on running `airflow db clean`. Though a part of the fix was released in #23698 it doesn't rollback the transaction, causing the next table queries to fail

[code]

### What you think should happen instead

The current table transaction should be rolled back and proceed to delete other tables

### How to reproduce

airflo

[2022-06-09 03:06] uranusjr commented on #24339
I think we need to check [`session.is_active`](https://docs.sqlalchemy.org/en/14/orm/session_api.html#sqlalchemy.orm.Session.is_active), but otherwise the fix makes sense.

Actually, the context manager can be simplified to

[code]

[2022-06-09 07:52] Chris-OA-AF opened #24341 "DAG Import Error when using default_args for TaskGroup"
### Apache Airflow version

2.1.4

### What happened

As per the [official documentation](https://airflow.apache.org/docs/apache-airflow/stable/concepts/dags.html#taskgroups) TaskGroups support the use of default_args argument, but the use results in an import error:

Broken DAG: [/home/airflow/gcs/dags/test_dag.py] Traceback (most recent call last):
  File "<frozen importlib._bootstrap>", line 21

[2022-06-09 07:55] MazrimT commented on #23826
I know this is already closed and fix on its way, but would it be possible for someone who tested this on gcp to explain how you tested? I can not find a way to override operators versions and would very much like to be able to help out testing stuff like this in the future.

[2022-06-09 08:16] DataDune commented on #22001
It would also help in cross checking are all depending dags properly scheduled. I'd love to see done.

[2022-06-09 08:49] nhojjohn commented on #24289
tested https://github.com/apache/airflow/pull/24301 on rc2 and works now.  Thanks!

[2022-06-09 09:10] MazrimT commented on #23826
@DrStriky I have no idea what I've been doing before, I thought I tried exactly that but it didn't work, now it worked :) Thank you for your patience with a gcp beginner.

[2022-06-09 09:19] raphaelauv opened #24343 "BigQueryCreateEmptyTableOperator do not deprecated bigquery_conn_id yet"
### Apache Airflow version

2.3.2 (latest released)

### What happened

`bigquery_conn_id` is deprecated for other operators like `BigQueryDeleteTableOperator`

and replaced by `gcp_conn_id` but it's not the case for `BigQueryCreateEmptyTableOperator`

### Are you willing to submit PR?

- [ ] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Con

[2022-06-09 10:15] c-thiel commented on #23772
@bbovenzi we just updated to 2.3.2 but are still running into timeouts.
Are futher optimizations planned from your side?
@joshzana does 2.3.2 do the trick for you?

[2022-06-09 10:16] vulnk000 opened #24344 "airflow 2.3.2 vulnerabilities in docker images"
### Apache Airflow version

2.3.2 (latest released)

### What happened

Vulnerability scanner on apache/airflow images reports several vulnerabilities.

### What you think should happen instead

No vulnerabilities should be reported or the reported ones, should be evaluated to determine if they affect or not to this software.

### How to reproduce

Scan one of the images.
[code]

You will see pyth

[2022-06-09 10:36] uranusjr commented on #24341
You are reading the documentation for a wrong version. The aregument was introduced in 2.2.

[2022-06-09 10:36] #24341 closed

[2022-06-09 10:47] Chris-OA-AF commented on #24341
Thanks for the clarification @uranusjr and apologies for the unnecessary effort.

[2022-06-09 11:16] ishiis commented on #24283
Sorry. I can't explain the problem well, so I'll give up this issue.

[2022-06-09 11:16] #24283 closed

[2022-06-09 11:47] voltcode opened #24345 "Grid view broken for DAG"
### Apache Airflow version

2.3.1

### What happened

1. minor changes to the dag (task name was changed)
2. after rerunning the dag (manual trigger), grid view is broken - it does not show up, there is a js error in browser console

console stack trace:

[code]

when I created a copy of the dag with new names, the new dag renders fine in grid view

### What you think should happen instead

not su

[2022-06-09 13:49] potiuk commented on #24344
We are not going to fix it. As per the Apache Software Foundetion Security policy - bulk security vulnerability reports are not going to be analyzed nor acted upon - mostly because they provide many false positives, so it is counter-productive to spend time on it.

@vulnk000 - if yoy wish to report real security vulnerabilities, you should follow the security policy. If you will find (among the se

[2022-06-09 13:49] #24344 closed

[2022-06-09 14:42] ei-grad commented on #24045
When the task is waiting for worker it is also "didn't even start" in terms of operator execution.

In my experience it is always tricky to get the logic of scheduled/queued TI for the new people, but there was no problems with the DagRun states naming. To disagree with the slack thread - for the data engineer familiar with airflow internals there is no such confusion, or at least it doesn't seem

[2022-06-09 14:56] ishiis opened #24346 "Add salesforce_default to List Connection"
### Apache Airflow version

2.1.2

### What happened

salesforce_default is not in the list of Connection.

### What you think should happen instead

Should be added salesforce_default to ListConnection.

### How to reproduce

After resetting DB, look at List Connection.

### Operating System

GCP Container

### Versions of Apache Airflow Providers

_No response_

### Deployment

Composer

### Dep

[2022-06-09 15:13] ei-grad commented on #24045
What would be the new proposed name for this state? "Pending"? This issue doesn't contain any mentions about the new name, and it is not clear would it hurt the UX much without it.

[2022-06-09 16:57] bbovenzi opened #24350 "Migrate React js files to typescript"
### Description

We added typescript support in #24337. Now, we should work on migrating all the react code over to typescript.

We could migrate other js files too, but I think the react logic in `/static/js/grid` is the best starting point as we will need to re-do many other pages later on.

This would be best spread across multiple PRs even to make it easy to test and review.

### Use case/moti

[2022-06-09 17:23] Lavedonio opened #24352 "GCSDeleteObjectsOperator raises unexpected ValueError for prefix set as empty string"
### Apache Airflow Provider(s)

google

### Versions of Apache Airflow Providers

All versions.

[code]

### Apache Airflow version

2.3.2 (latest released)

### Operating System

macOS 12.3.1

### Deployment

Composer

### Deployment details

_No response_

### What happened

I'm currently doing the upgrade check in Airflow 1.10.15 and one of the topics is to change the import locations from cont

[2022-06-09 17:33] #24331 closed

[2022-06-09 17:59] #23602 closed

[2022-06-09 21:24] rmekdma commented on #17975
This also happened in v2.2.0

[2022-06-09 21:34] thelastmessiha opened #24359 "Timezone changed on server and UI to local/Pacific, but DateTimeSensor still using UTC"
### Apache Airflow version

2.2.5

### What happened

I've set the core default_timezone and default_ui_timezone values to America/Los_Angeles which successfully makes the scheduler respect the local Pacific timezone, however, when I create a task using the DateTimeSensor in a dag with schedule_interval='@daily' and would like that particular task to wait until 3am Pacific using the below code, it

[2022-06-09 22:13] grzegorzb1990 opened #24360 "Pattern parameter in S3ToSnowflakeOperator"
### Description

I would like to propose to add a pattern parameter to allow loading only those files that satisfy the given regex pattern.

This function is supported on the Snowflake side, it just requires passing a parameter to the COPY INTO command.
[Snowflake documentation/](https://docs.snowflake.com/en/sql-reference/sql/copy-into-table.html#loading-using-pattern-matching)

### Use case/moti

[2022-06-10 03:13] Bowrna commented on #23538
I think you have almost captured all the points you suggested to add in this PR [Add CI-friendly progress output for tests](https://github.com/apache/airflow/pull/24236/)

Can you tell me what are the other pending ones to finish in this PR @potiuk ?

[2022-06-10 04:48] heliharry commented on #24309
Hit similar issue:

[2022-06-10, 04:37:34 UTC] {pod_manager.py:253} WARNING - Pod aaa-xxx-baef53b3f96440a8abfc171d3a683e3d log read interrupted but container base still running
[2022-06-10, 04:37:38 UTC] {kubernetes_pod.py:433} INFO - Deleting pod: aaa-xxx-baef53b3f96440a8abfc171d3a683e3d
[2022-06-10, 04:37:38 UTC] {taskinstance.py:1889} ERROR - Task failed with exception
Traceback (most recent ca

[2022-06-10 05:33] robinsinghstudios commented on #24338
The same issue has been bothering me for a while now and preventing me from upgrading to the latest airflow version.

[2022-06-10 07:14] vulnk000 commented on #24344
Hello,

I completely understand your answer and the motivations behind. But please, if you are not going to treat vuln reports, add it to your security policy please, as this specific case is not mentioned and for sure it will be common.

In the other hand, I don't agree with your statement. You are releasing software with vulnerabilities that may be exploited in several ways or not. But we don't

[2022-06-10 07:19] adityaprakash-bobby opened #24364 "BigqueryToGCS Operator Failing"
### Apache Airflow Provider(s)

google

### Versions of Apache Airflow Providers

apache-airflow-providers-google==2022.5.18+composer

### Apache Airflow version

2.2.3

### Operating System

Managed

### Deployment

Composer

### Deployment details

## Environment Configuration:
- Composer version: **composer-2.0.14**
- Airflow version: **airflow-2.2.3**
- Image version: composer-2.0.14-airflow-2

[2022-06-10 07:50] sbone1 opened #24365 "S3 Connection not accepting host parameter"
### Apache Airflow version

2.2.4

### What happened

Airflow ignores the 'host' part of the s3 connection string and just uses s3.amazonaws.com

s3.amazonaws.com is appended to the bucket name, making it try to contact amazon instead of onprem s3.

### What you think should happen instead

it should use the host provided in the connection string

### How to reproduce

make a new connection string

[2022-06-10 09:11] ashb commented on #23727
FYI @potiuk `reserialize` won't help, as this is a pickled column in TaskInstance and nothing to do with the serialized DAG.

[2022-06-10 09:55] mikegit21 opened #24369 "Keytab file is not mounted in worker-kerberos container"
### Official Helm Chart version

1.5.0

### Apache Airflow version

2.2.4

### Kubernetes Version

1.20+

### Helm Chart configuration

[code]

### Docker Image customisations

[code]

### What happened

When we are executing the Airflow pipeline which needs to connect to the kerberos database we are getting the following error:

[code]

This is intersting because we use the exact same krb5.conf,

[2022-06-10 10:47] gmyrianthous commented on #24364
Please see:
- https://github.com/apache/airflow/discussions/24277
- https://stackoverflow.com/questions/72529432/airflow-2-job-not-found-when-transferring-data-from-bigquery-into-cloud-storage

[2022-06-10 11:13] adityaprakash-bobby commented on #24364
Thank you @gmyrianthous . This helps. In our case we are not managing the libraries in composer. We are letting composer manage the libraries. Hope this is brought into composer 2.0.14, else we might have to explicitly mention this and provide extra care while upgrading our composer environment.

[2022-06-10 11:15] gmyrianthous commented on #24364
@adityaprakash-bobby This isn't fixed in composer `2.0.14` (and not even a more recent one) as a fix has not yet merged.
For the time being, you can follow one of the workarounds [mentioned here](https://stackoverflow.com/questions/72529432/airflow-2-job-not-found-when-transferring-data-from-bigquery-into-cloud-storage).

[2022-06-10 11:20] rino0601 commented on #23796
I've create PR #24373 for this issue.

@tanelk  @uranusjr could you take a look?

[2022-06-10 11:39] Megha-Sai-Sree-PINNAKA commented on #16654
Hello, is this issue still available? If yes, I would like to try it.

[2022-06-10 11:39] Megha-Sai-Sree-PINNAKA commented on #22870
Hello, is this issue still available? If yes, I would like to try it.

[2022-06-10 11:52] kijewskimateusz opened #24374 "{providers_manager.py:218} INFO - Optional provider feature disabled when importing 'airflow.providers.google.leveldb.hooks.leveldb.LevelDBHook' from 'apache-airflow-providers-google' package"
### Apache Airflow version

2.3.2 (latest released)

### What happened

I'm running locally Airflow 2.3.2 on my ARM-based laptop and when building webserver, I'm seeing multiple notifications with content:

`{providers_manager.py:218} INFO - Optional provider feature disabled when importing 'airflow.providers.google.leveldb.hooks.leveldb.LevelDBHook' from 'apache-airflow-providers-google' package`

[2022-06-10 12:46] kianelbo commented on #24343
I also took the liberty of using `gcp_conn_id` in [BigQueryCreateExternalTableOperator](https://github.com/apache/airflow/blob/main/airflow/providers/google/cloud/operators/bigquery.py#L898) in my PR if that's okay.

[2022-06-10 13:01] eladkal commented on #24364
The fix is in `install apache-airflow-providers-google==8.0.0rc2`
Please test it and report in https://github.com/apache/airflow/issues/24289 if the fix doesn't work

[2022-06-10 13:17] voltcode commented on #24345
Thanks a lot for the suggestion! The grid view works fine in 2.3.2.

[2022-06-10 13:18] kijewskimateusz commented on #24374
I've tested it with `airflow:slim-2.3.2` image and issue disappeared. After adding `apache-airflow-providers-google==7.0.0
` into Airflow dependencies, I'm notified about optional provider feature being disabled.

I'm wondering whether this won't cause any harm when needed to use this module using ARM-based machine

[2022-06-10 13:25] #24318 closed

[2022-06-10 15:10] #24345 closed

[2022-06-10 16:05] potiuk commented on #24360
Feel free to add it in PR. BTW there is no need to open an issue for it. Just Pull Request is enough.

[2022-06-10 16:20] DMilmont commented on #24197
I took a crack at this but I don't think it is easily possible to make the env_vars formatting nicer. I tried adding this line to the k8s pod operator ```    template_fields_renderers = {"env_vars": "json"}```

The env_vars look like this in the UI afterwards:
<img width="668" alt="image" src="https://user-images.githubusercontent.com/3598125/173108728-db7dbcd6-0abd-4385-a4ff-39979e48f1c9.png">

I

[2022-06-10 16:32] chenglongyan commented on #17978
Resolved on main branch.

[2022-06-10 16:44] #17978 closed

[2022-06-10 17:05] ShahNewazKhan commented on #24197
Thanks for looking into this @DMilmont!

@josh-fell unfortunately I do not have the bandwidth to take this on, just reporting here, for the time being I will use the human readable `env_vars` `dict` passed in from the task definition.

[2022-06-10 17:32] potiuk commented on #23538
Just parallell running - I have not covered that.

[2022-06-10 17:44] pawellrus commented on #24329
1) Endpoint /tasks is failing.

2)
[dag.txt](https://github.com/apache/airflow/files/8881021/dag.txt)

[2022-06-10 18:11] potiuk commented on #24344
Just to explain things you completely misunderstand. You assume we have responsibilities for things that we don't. So let me set your expectations here. It would be great if you read all the information available about what ASF releases and how.

You also apparently completely missed our explanation of what the airflow image is and how (if you have higher expectations about the security) YOU can m

[2022-06-10 18:14] PrincipalsOffice opened #24381 "Prioritize tasks based on execution_date"
### Description

A config that lets the scheduler choose tasks with the latest/oldest execution_date to run first. Or perhaps a way to dynamically assign pool slots based on the execution_date could also work.

### Use case/motivation

Sometimes the same task can have multiple task instances from different dag runs queued and occupying pool slots. The task instance from the most recent dag run cou

[2022-06-10 18:30] potiuk commented on #24344
One more thing. Please. By all means do. Analyse those. And let us know when you find real vulnerability find reproduction scenario and describe it in the way that we can assess severity. This is one of the best you and your company can pay back for the absolutely free software you get.

[2022-06-10 19:18] Superskyyy commented on #8540
Hello, is there any new progress on this?

[2022-06-10 20:00] potiuk commented on #23727
Ah yeah. thanks for the info!

[2022-06-10 20:29] potiuk commented on #16654
Sure.

[2022-06-10 20:30] potiuk commented on #16654
Assigned you

[2022-06-10 20:31] potiuk commented on #22870
Feel free. Assigned.

[2022-06-10 20:42] potiuk commented on #24374
INFO is an info - not warning. It's for diagnostics.  I don't think INFO message is anything you should be worried about.

You can get rid of it by installing the optional dependencies. But maybe indeed some extra message how it can be enabled. Would you like to maybe contribute a better message there?

I am happy to guide you and review your Pull Request for it. You can become one of > 2K contrib

[2022-06-10 21:14] potiuk commented on #8540
@Superskyyy - I think the easiest way is to get it done is to work on it. For now I will move it discussion (where it belongs) but if you would like to contribute (as one of > 2000 contributors) and male a PR to get it implemented, that would be cooll

[2022-06-11 02:28] josh-fell opened #24388 "Unable to access operator attrs within Jinja context for mapped tasks"
### Apache Airflow version

2.3.2 (latest released)

### What happened

When attempting to generate mapped SQL tasks using a Jinja-templated query that access operator attributes, an exception like the following is thrown:

`jinja2.exceptions.UndefinedError: 'airflow.models.mappedoperator.MappedOperator object' has no attribute '<operator attribute>'`

For example, when attempting to map `SQLValue

[2022-06-11 02:43] josh-fell commented on #24014
@hammerhead See the "Anything else" section of #24388, but you should be able to still map via `parameters` for the `DELETE` DML in a Jinja-templated SQL using `{{ task.mapped_kwargs.parameters[ti.map_index].<attribute>}}` as a workaround.

Assuming the desired SQL `DELETE FROM {table_fqn} WHERE {column} = {value};`, you could try:

[code]
Does this help?

[2022-06-11 04:36] adityaprakash-bobby commented on #24364
@eladkal Is it wise to override the composer managed airflow python packages? I see composer 2.0.14 till the latest 2.0.16, has the apache-airflow-providers-google==2022.5.18+composer package.

[2022-06-11 04:43] eladkal commented on #24364
That is a question for Composer support.

[2022-06-11 12:26] vanchaxy commented on #24338
As a workaround, you can remove t2 from downstream_task args and check if task2 result exists in the function body. Or you can add one more task between task2 and downstream_task that will check if upstream skipped and return None or return upstream value.

I think downstream_task should be run in your case, but I'm not sure want value we expect to see in t2? None/skip exception/some_special_value

[2022-06-11 13:04] potiuk commented on #23632
Fixes are there:

* #24386  - fixes it for future documenation (I will cherry-pick it to regeenerate new provider's docs)
* https://github.com/apache/airflow-site/pull/613 - replaces the missing links in old documentation with lnks to github as we would have to regenerate all teh autapi-generated html pages otherwise as they were missing in the generated docs.

[2022-06-11 14:26] potiuk commented on #19260
Seems that the fix was not effective and broke Triggerer job killing: https://github.com/apache/airflow/pull/23274#issuecomment-1148818199

Reverting it, until we find a better fix (or wait fo python to fix it).

[2022-06-11 15:40] potiuk commented on #24297
Marked it as good first issue, but maybe you would like to attempt to fix it @grassten - I believe you have a good test ground and could patch your version of Airflow and contribute the fix back.

[2022-06-11 17:16] potiuk commented on #24289
Looking forward for more testing till Monday :).

[2022-06-11 17:19] potiuk commented on #24302
Assigned you if you want to make PR.

[2022-06-11 17:23] potiuk commented on #24303
@onemec  - why don't you make a PR with improved documentation? Since you already understand how it works and know (as a user) where you would like to see the documentation - you are absolutely best person to add such an improved documentation. You can easily become one of the > 2K contributors - many of them were (like you) users who saw the opportunity to improve the code or documentation.

Shal

[2022-06-11 18:23] DSamuylov commented on #24303
@onemec could you elaborate on how did you fix it? I am actually looking for a solution for the exactly the same use case that you describe in this issue.

[2022-06-11 18:46] potiuk commented on #24303
Ideally in the form of doc PR :)

[2022-06-11 19:15] adityaprakash-bobby commented on #24364
Sure, have let it open for support with Composer. Thanks Elad!

[2022-06-11 19:31] #24321 closed

[2022-06-11 19:33] DSamuylov commented on #24303
@potiuk I found a solution, and I could update the documentation. I think it makes sense to add it to this page: https://airflow.apache.org/docs/helm-chart/stable/manage-dags-files.html under "Bake DAGs in Docker image"

But I am not familiar with the code base and I do not know what file should I modify. Could you guide me through the process?

[2022-06-11 19:38] potiuk commented on #24303
No guidance needed. Just click "suggest a change on this page" - bottom-right and you will get a PR opened where you will be able to add the doc modification using GitHub UI.

Its even easier than wriitng an issue about it .

[2022-06-11 19:46] potiuk commented on #12771
See https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-49+OpenTelemetry+Support+for+Apache+Airflow - OpenTelemetry is not implemented in Airflow. There are some ways you can try to autoinstrument Airflow but it has limitations and you have to wait for the https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-49+OpenTelemetry+Support+for+Apache+Airflow to be completed (or maybe even contribu

[2022-06-11 20:02] DSamuylov commented on #24303
Thank you, @potiuk, I thought it would be less straightforward. I made my suggestion.

[2022-06-12 06:49] koconder commented on #24289
Tests looking good

[2022-06-12 11:37] eladkal commented on #24381
duplicate of https://github.com/apache/airflow/issues/9176

[2022-06-12 11:37] #24381 closed

[2022-06-12 12:15] dcardinha opened #24400 "Airflow db upgrade fails to insert rows in log_template table"
### Apache Airflow version

2.3.2 (latest released)

### What happened

When trying to run airflow db upgrade I get the following errors:
[code]

### What you think should happen instead

_No response_

### How to reproduce

_No response_

### Operating System

ubuntu 16.04

### Versions of Apache Airflow Providers

_No response_

### Deployment

Docker-Compose

### Deployment details

_No respons

[2022-06-12 16:16] uranusjr commented on #24400
What version are you upgrading from? `task_prefix` was a field that only existed in some in-development version of Airflow, and upgrading from such versions is not supported. You should downgrade back to a 2.2.x version from the in-development version, and upgrade from there instead.

[2022-06-12 18:09] Taragolis commented on #24365
@sbone1 Are you sure that you pass [parameters to connection](https://airflow.apache.org/docs/apache-airflow-providers-amazon/3.0.0/connections/aws.html#configuring-the-connection) correctly?

I've checked on Airflow 2.2.3 and apache-airflow-providers-amazon==3.0.0 and endpoint set correctly.

[code]

[2022-06-12 19:03] #23503 closed

[2022-06-12 20:51] #17476 closed

[2022-06-12 20:56] potiuk commented on #24369
You seem to know exactly what the problem is (and have a way of testing it) - would you maybe like to add a PR fixing it ? It does not seem like complex thing to do - testing and having a good environment to do so, seem like the most complex part.

Would you lile to pay back and contribute back to Airflow and become one of the > 2K contributors to Apache Airflow @mikegit21 ?

[2022-06-12 21:07] #24343 closed

[2022-06-12 22:30] chethanuk-plutoflume commented on #16163
+1, Noticed even in AWS MWAA 2.0.2

[2022-06-13 01:19] hankehly commented on #22708
@blag Please assign the following to me
- kerberos
- kubernetes
- plugins
- pool

[2022-06-13 06:55] #22065 closed

[2022-06-13 06:59] dcardinha commented on #24400
Hi, I m upgrading from version 2.2.3, but I am using docker and pruned the postgres volumes so it should be like installing from scratch.

[2022-06-13 07:02] hwooson12 commented on #23796
@uranusjr
I think it is wrong that Airflow basically assumes all timezone in logging is UTC. The idea of converting logging time as the timezone that users select from the browser UI was very good but the problem is that all system timezone is not UTC. So we could see wrong time in the log files because it is converted on only the frontend side without any clue of timezone. Even though Airflow doe

[2022-06-13 07:04] mikegit21 commented on #24369
I can try to fix it in the HELM chart locally and if it solves the problem I could create a PR.

Otherwise I will come back to this thread

[2022-06-13 07:09] potiuk commented on #24369
Perfect! Thanks. Happy to help with your PR - just Ping me

[2022-06-13 07:14] #9569 closed

[2022-06-13 07:17] uranusjr commented on #23796
I never waid assuming UTC is right, but the problem is the frontend doesn’t know what timezone the log files used. Appending `%z` in the timestamp actually sounds like the best solution, if we can change the frontend code to correctly parse them. The formatter patch mentioned above should also solve the issue (by making the log files always use UTC), but I’m not sure it’s a desired outcome for a l

[2022-06-13 07:39] eladkal commented on #21072
closing as same https://github.com/apache/airflow/issues/18031#issuecomment-1146671870

[2022-06-13 07:39] #21072 closed

[2022-06-13 08:07] olivermeyer commented on #23885
@potiuk happy to report that upgrading to 2.3.1 fixed the issue for us. Thank you!

[2022-06-13 08:07] #23885 closed

[2022-06-13 08:49] ramwin commented on #21127
I met the same problem. It's reasonable to seperate the dag id from the display name. But it's awesome that we can use any character as dag_id. We are using python which enable us to use special character even in the variable name.

[2022-06-13 09:08] #24303 closed

[2022-06-13 09:09] potiuk commented on #21127
It's not supported currently - but in the future - if you want to make all the changes and PR to make it possible - I think that would be awesome @ramwin

[2022-06-13 11:31] lssatvik opened #24410 "Airflow Grid view UI issues"
### Apache Airflow version

2.3.2 (latest released)

### What happened

1) Task status is applied to task groups of all dag runs.
<img width="885" alt="image" src="https://user-images.githubusercontent.com/3456652/173344189-0dd97cc6-4ec6-4e2a-b73f-11174f04bece.png">

2) Task Name overlaps with "Hide details panel" UI element
<img width="844" alt="image" src="https://user-images.githubusercontent.c

[2022-06-13 11:44] mikegit21 commented on #24369
I was accidentally looking in the `worker` container, I can see the keytab file in the `worker-kerberos` container and was able to check it using `ktutil`- looks good to me. The only thing I could think of would be a problem with the `krb5.conf`. I specified the log files like this:

[code]

But couldn't find anything in `opt/airflow/` so I am a little bit lost what could be the problem. The confi

[2022-06-13 11:46] uranusjr commented on #19618
No I don’t think so. I’ll do that.

Sorry I missed this. A sub-DAG’s execution date is inherited from its parent DAG, so the behaviour change in the parent DAG creeps down to its sub-DAGs.

[2022-06-13 11:59] koconder opened #24411 "googleads requirement is incompatible with constraints in airflow 2.3"
### Apache Airflow Provider(s)

google

### Versions of Apache Airflow Providers

apache-airflow-providers-airbyte==2.1.4
apache-airflow-providers-amazon==3.4.0
apache-airflow-providers-apache-cassandra==2.1.3
apache-airflow-providers-cncf-kubernetes==4.0.2
apache-airflow-providers-ftp==2.1.2
apache-airflow-providers-google==7.0.0
apache-airflow-providers-http==2.1.2
apache-airflow-providers-imap=

[2022-06-13 12:12] argibbs commented on #24410
Seconded. I literally just came here to raise the same issue. 😆  S/shot below of a (redacted, sorry) example dag. You can see that despite a single failed node, all dates for the containing task groups are red, I'd expect only the groups on the affected day to be red...

![image](https://user-images.githubusercontent.com/4406514/173350811-87ce208f-a86a-46ee-ac85-1022f81e3e8a.png)

[2022-06-13 12:55] potiuk commented on #24411
Use `constraints-2.3.0` not `constraints-2.3`

[2022-06-13 12:55] eladkal commented on #24411
You should use
https://raw.githubusercontent.com/apache/airflow/constraints-2.3.0/constraints-3.9.txt

As explained in docs

[2022-06-13 13:11] lssatvik commented on #24410
The issue came about in 2.3.1, but was not fixed in 2.3.2. I don't understand why no one raised the issue earlier. And so I am here.

[2022-06-13 14:34] zachliu commented on #23512
can someone reopen this issue? thanks :pray:

[2022-06-13 16:50] dstandish commented on #19260
Ok @potiuk maybe we should just reopen and merge https://github.com/apache/airflow/pull/23271?

[2022-06-13 17:31] potiuk commented on #19260
I think there is a PR opened - or maybe just merged about it.

[2022-06-13 17:38] #23632 closed

[2022-06-13 18:15] jedcunningham commented on #23772
@c-thiel, #24284 should also help significantly. If you can give us some info on your DAG size/structure, I'd be happy to profile it further.

[2022-06-13 18:25] #24346 closed

[2022-06-13 18:40] #24289 closed

[2022-06-13 19:14] kcphila opened #24420 "Possible configuration issue due to updated packages"
### Apache Airflow version

2.3.2 (latest released)

### What happened

This seems odd and there may be another answer for it, but I can't find anything. We have been running 2.1.4 on Ubuntu Xenial for about a year without much trouble. So, we are switching over to the new Ubuntu 22.04 LTS environment with all up to date libraries.

When attempting to run Airflow 2.3.2, I am getting strange config

[2022-06-13 19:20] arminnajafi opened #24421 "Airflow pinning old version of attrs: apache-airflow (>=2.3.2,<3.0.0) requires attrs (>=20.0,<21.0)"
### Apache Airflow version

2.3.2 (latest released)

### What happened

Hello Airflow is pinning old version of attrs and this is leading to version conflict on our side to use Airflow.

[code]

### What you think should happen instead

Please upgrade attrs to >=21

### How to reproduce

_No response_

### Operating System

macOS Monterey - 12.3.1

### Versions of Apache Airflow Providers

_No res

[2022-06-13 19:23] potiuk commented on #24421
Feel free to PR it.  - just remove the lmit frmo setup.cfg and solve any problems it might generate..

[2022-06-13 19:23] potiuk commented on #24421
Assigned it to you

[2022-06-13 19:23] denimalpaca opened #24422 "Add SQL Provider"
### Description

Adds a new SQL Provider for new SQL Check Operators.

### Use case/motivation

This will allow for faster development and maintenance of non-core SQL operators.

### Related issues

#23874 Add Templated SQL Check Operators for Columns and Tables

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's

[2022-06-13 19:44] arminnajafi commented on #24421
@potiuk
Thanks.

Any guidelines/pointers on how to get my environment set up and make sure tests pass after my changes?

I assume I just need to follow https://github.com/apache/airflow/blob/main/CONTRIBUTING.rst ?

[2022-06-13 19:46] potiuk commented on #24421
Yes/ Follow those.. CI will run all the tests as well when you push a change to setup.cfg.  Updating requirements is a little more involved (You need to build image with `--upgrade-to-newer-dependencies` flag if you change dependencies and want to re-run test locally using `breeze`. This is the only difference vs. standard contribution guildelines.

[2022-06-13 19:47] potiuk commented on #24421
There might be also other dependencies holding it back, so you need to check which versions you get when you build the image

[2022-06-13 19:56] josh-fell commented on #23942
A [similar issue was raised](https://github.com/apache/airflow/issues/24338) when upstream tasks are skipped. The point of "the downstream should not run if any of its depended upstream XCom values fail to resolve" (in [this comment](https://github.com/apache/airflow/pull/24401#issuecomment-1153215501)) was brought up again.

@uranusjr curious for your take on this issue generally.

I feel that, a

[2022-06-13 20:24] jpipas commented on #23588
We were able to determine that this issue was caused by a custom operator that erroneously had `params` as part of its `template_fields`.  Therefore any DAG that contained this operator would "flash" the grid - and then the subsequent API calls would fail - which then caused the grid to disappear.  After removing this "keyword" used by the baseoperator from `template_fields` the grids load properl

[2022-06-13 21:35] f0cus10 opened #24426 "Allow for BaseOperator properties such as priority_weight to be determined via params"
### Description

Request to make properties of tasks such as `priority_weight` and `pool_slots` be specified through variables passed into the `params`.

Decorated tasks should also have the ability to specify these values based on external triggers or schedules.

### Use case/motivation

**Motivation for `pool_slots`**
We execute the same DAG for running workflows that consume different amount of

[2022-06-13 21:37] Stegallo opened #24427 "Adding explicit apache-airflow version to constraints file"
### Apache Airflow version

2.2.2

### What happened

When installing additional libraries to an airflow environment version 2.2.2 using a requirements file including
`--constraint "https://raw.githubusercontent.com/apache/airflow/constraints-2.2.2/constraints-3.7.txt"`
it erroneously installs also `apache-airflow==2.2.3`, causing the WebServer UI to break.

This happens specifically when using AW

[2022-06-13 21:44] lmeerwood opened #24428 "Asset compilation not running when building Airflow Docker image from Github url."
### Apache Airflow version

2.3.2 (latest released)

### What happened

I followed the instructions on [building a docker image from Github](https://airflow.apache.org/docs/docker-stack/build.html#building-from-github). The resulting image resulted in the webpage missing key CSS and JS.

![image](https://user-images.githubusercontent.com/6085575/173447312-848b9e5e-1b0b-47ce-a265-6b5ca4f26b34.png)

[2022-06-13 21:51] potiuk commented on #24427
Nope. It makes compleely no sense to add apache-airflow==2.2.2 to constraints that are used to install apache-airflow==2.2.2.

The problem is not constraints, but you extra dependencies you add . I do not know what you want to install but what you want is easily achievable by:

`pip install apache-airflow==2.2.3 --constraints https://raw.githubusercontent.com/apache/airflow/constraints-2.2.2/const

[2022-06-13 21:51] #24427 closed

[2022-06-13 23:24] mariotaddeucci commented on #23942
I have the same issue, after upgrading from 2.1.3 to 2.3.2, some dags with the trigger rule all_done, starting to raises this exception

[2022-06-14 02:25] rino0601 commented on #23796
@uranusjr  Seems to need more explain about PR, let me supplement that.

[In the comment above](https://github.com/apache/airflow/issues/23796#issuecomment-1149846840), I found a way to do it only with configuration, so I used `time.gmtime` to always output utc regardless of the system settings. The reason I had to do that was because the regular expression of UI could not be changed with configur

[2022-06-14 03:53] uranusjr commented on #23942
Since an XCom push can never be None[^1], we can probably just set the value to None in this case. Combining this with #24401, we probably need to do some additional checks in `XComArg.resolve()` to take account the current task’s trigger rule, and resolve to None when appropriate.

[^1]: A design decision I didn’t agree with but that ship sailed long ago.

[2022-06-14 04:22] koconder commented on #24411
Ledgend, thanks all :)

[2022-06-14 04:35] uranusjr commented on #23588
@jpipas Do you know what error the API is failing with? (May be available in web server logs.) Ideally the web server should be a bit more resilient to this kind of user errors.

[2022-06-14 04:51] uranusjr commented on #24421
Also note that the `setup.cfg` contains some reasoning:

[code]

You can use `git blame` to find the corresponding issues that added these comments. They provide context for you to evaluate whether upgrades are viable, and how they can be done.

[2022-06-14 04:53] jhtimmins commented on #23512
@zachliu my expectation from #24065 was that on startup you'd see a single round of old permissions getting deleted and then new ones getting created (since that PR changed the permission name). It works when running a single webserver, but looks like I'll need to do another round to figure out what's going on with multiple webservers.

[2022-06-14 05:42] uranusjr commented on #24420
The default config template is itself a template, so `{{{{ filename }}}}.log` actually renders to `{{ filename }}.log` at runtime. This is probably the cause of your problem.

[2022-06-14 05:57] eladkal commented on #24426
This can't be done.
Templating happens as part of task being executed - this is after the task was scheduled and sent to worker.
The pool values are needed for the scheduler, so since templating happens only after you can not get this value during run time.

[2022-06-14 05:57] #24426 closed

[2022-06-14 06:48] arroadie commented on #23512
out of ignorance: why is it the webserver the actor that executes those? It feels counter intuitive to have an actor that should be stateless to enforce state. If it's a matter that these roles need to be written over and over each time the webserver restarts, why not pass that as a task to the execution context (celery or whatever is there), so we have guarantees that the task will only be execut

[2022-06-14 07:11] jhtimmins commented on #23512
@zachliu ok I checked it with four webservers and postgres, and those errors only showed up the first time I ran it, and even then only once. Are you experiencing it more than that?

[2022-06-14 07:32] jhtimmins commented on #23512
@arroadie I semi-agree. Off hand, here are the basic reasons why it works this way.

1. In part it's that way bc it's a holdover from using Flask and Flask AppBuilder within Airflow. Modifying that would take a decent amount of work.
2. Airflow generally tries to decouple pieces as much as possible. Your proposal would create a situation where the webserver permissions being up to date would depen

[2022-06-14 07:57] eladkal commented on #24422
Why do we need provider?

[2022-06-14 08:32] bharathiatnoths opened #24436 "Can't see DAG after upgrade"
### Apache Airflow version

2.1.4

### What happened

I upgraded recently from 1.10.* to 2.1.4, after upgrade I see one of the DAGS erroring out

Ooops!
Something bad has happened.
Please consider letting us know by creating a [bug report using GitHub](https://github.com/apache/airflow/issues/new/choose).

Python version: 3.7.13
Airflow version: 2.1.4+astro.7
Node: false-perihelion-6473-webserver-

[2022-06-14 08:35] potiuk commented on #24422
I think in the future this might become an interesting pattern.

[2022-06-14 08:49] eladkal commented on #24422
Do you plan to move `DbApiHook` there?

Do you see it as sql provider or core provider with sql as standalone option?

[2022-06-14 10:55] lihan opened #24439 "Improved Airflow Dag homepage"
### Description

Display more useful information about the Airflow on the airflow home page, instead of the dag listing view.

![image](https://user-images.githubusercontent.com/655051/173561113-0639def3-d666-4a91-a24a-20dbc8de082c.png)

### Use case/motivation

Refer to above screenshot.

It's pretty useful to highlight the
* recent dag failures
* Recently succeeded runs
* Currently running dags

[2022-06-14 11:04] potiuk commented on #24439
would be nice to have something similar, I agree.

[2022-06-14 11:45] potiuk commented on #23885
Glad it helped :)

[2022-06-14 11:52] kaxil commented on #24021
cc @Tehada

[2022-06-14 12:27] Tehada commented on #24021
@kaxil , thanks for mention -- I already looked at proposed changes and feel like `expand_kwargs` api is quite fine. I am not sure about implementation details though -- after looking at code I understood that airflow is quite a complex, interconnected system for me to contribute some meaningful code, at least for now. I will follow closely on updates and provide my feedback, where it could be rel

[2022-06-14 12:46] Tehada commented on #24021
Nevermind, I guess I know, how yield-like behavior could be imitated, I just need to change this whole params generating task into  task, which geenerates one instance of params for kube pod and then from aggregated task trigger all dynamic amount of tasks, with each of them generating params for one pod and add pod creation task downstream.

[2022-06-14 13:15] koconder opened #24442 "Airflow Docker Compose YAML File Version Inccorect"
### What do you see as an issue?

Currently the docker-compose.yaml is giving the following error from the following command:

[code]

### Solving the problem

We should update the version of the docker compose from 3 to 3.2 to allow for the expressive notations.

### Anything else

_No response_

### Are you willing to submit PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X]

[2022-06-14 13:28] #24442 closed

[2022-06-14 13:28] koconder commented on #24442
Resolved, was not commenting out properly.

[2022-06-14 13:41] ishiis commented on #16921
@alexbegg Are you still working on this issue? May I submit a PR?

[2022-06-14 13:44] denimalpaca commented on #24422
I can't really speak to `DbApiHook`, as I'm not sure what all the consequences may be. Not sure what a core provider is relative to other providers, but I see this as a SQL provider that would be installed with Airflow (is that what you mean by core provider?).

[2022-06-14 14:41] hterik commented on #23727
After upgrading from 2.2.4 to 2.3.2. I get same error in the **webserver** when trying to view any task result of runs that were produced before the upgrade.
Runs happening after the upgrade are still possible to view.

Eg
[code]
Using same kubernetes python client as listed in the official constraints file (kubernetes==23.6.0)
Cluster is a managed AKS, version 1.23.5

`airflow dags reserialize` d

[2022-06-14 16:07] #24037 closed

[2022-06-14 17:37] grassten commented on #24297
Hello! I should be able to take it Friday or early next week if it doesn't get picked up, I'm out at a conference this week. Thanks!

[2022-06-14 18:01] tanelk commented on #23950
Do these tasks run in celery or in k8s or are both affected?