[2022-10-05 22:18] potiuk commented on #26900
There is not enough information to act on it. Please take a look at your logs and try to give at least a clue of what's going on. Note that the invitation to open an issue, does not mean we can solve your issue if you do not describte what the issue is - with logs, configuration information, and at least some indication that this is an airlfow issue that allow us to investigate what airflow but it

[2022-10-05 22:18] #26900 closed

[2022-10-05 22:21] potiuk commented on #26864
I also marked as tested the RC1 tested issues as there have been tested in rc1 and we had a very few changes since that should not impact those.

[2022-10-06 00:50] o-nikolas commented on #26884
@eladkal, @kaxil
Can you add the `area:providers`/`provider:Google` label to this one?

Also, it seems like a somewhat straightforward update to the operator (though GCP is not my area of expertise) so perhaps `Good First Issue` as well?

[2022-10-06 03:11] bdsoha commented on #8916
I was asking because of @blcksrx existing PR.

[2022-10-06 04:47] #24014 closed

[2022-10-06 06:40] eladkal commented on #26901
cc @pierrejeambrun

[2022-10-06 06:51] eladkal commented on #25319
We need to be carful with `upgrading-from-1-10/index.rst`
This doc initial goal was to upgrade to 2.0 (to assist with breaking changes) so we need to make sure not to introduce syntax that can't work on 2.0

[2022-10-06 06:58] eladkal commented on #10782
We no longer have tree view so I'm closing this one

[2022-10-06 06:58] #10782 closed

[2022-10-06 07:05] flinz opened #26905 "Display selected task outputs (xcom) in task UI"
### Description

I often find myself checking the stats of a passed task, e.g. "inserted 3 new rows" or "discovered 4 new files" in the task logs. It would be very handy to see these on the UI directly, as part of the task details or elsewhere.

One idea would be to choose in the Task definition, which XCOM keys should be output in the task details, like so:
![image](https://user-images.githubuser

[2022-10-06 07:05] eladkal commented on #19781
yeah but from user point of view -  why wouldn't it?
it makes life easier where there are no exceptions :)

[2022-10-06 07:08] eladkal commented on #19329
@aprettyloner does the issue still happen in latest airflow version + latest provider?

[2022-10-06 07:53] uranusjr commented on #26834
Instead of associating the issue to reserialising, IMO it is not a good idea in the first place to run `airflow db upgrade` from multiple instances against the same database. The workaround above is OK-ish since it practically avoids running the command repeatedly, although may still be suspective to race conditions in edge cases (depending on how you set things up).

As for the SQL error, I think

[2022-10-06 07:55] uranusjr commented on #26834
Also it may be a good idea for us to add something like `airflow db up-to-date-check` (pending command name bikeshedding) that checks whether the database needs upgrading. This would be much more reliable than grepping stdout.

[2022-10-06 08:42] #26875 closed

[2022-10-06 08:50] eladkal commented on #26905
I'm not sure what is the request here?
There is `Xcom` tab.

[2022-10-06 08:57] bertrand-buffat commented on #19329
In our case, we implemented a dag that monitored the problem every 10 minutes and cleared the tasks if any. Then the error ceased to appear after an upgrade from aws.
I can close the issue if you want.

[2022-10-06 09:01] Birne94 commented on #19329
@bertrand-buffat would you be able to share the code for that DAG and how you are finding/clearing the affected tasks? I think this would be very helpful for us as well.

[2022-10-06 09:08] bertrand-buffat commented on #19329
Sure.
Operator:
[code]

dag:
[code]

[2022-10-06 10:53] malthe commented on #11463
In addition to these tags, the actual DAG `tags` should also be provided as part of this.

The following docs do seem to suggest that tags are supported in the StatsD format: https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-Agent-custom-metrics-statsd.html.
[code]

[2022-10-06 11:33] fletchjeff opened #26910 "python_kubernetes_script.jinja2 file missing from apache-airflow-providers-cncf-kubernetes==4.4.0 release"
### Apache Airflow Provider(s)

cncf-kubernetes

### Versions of Apache Airflow Providers

[code]

### Apache Airflow version

2.4.1

### Operating System

macos-12.6

### Deployment

Other Docker-based deployment

### Deployment details

Using the astro cli.

### What happened

Trying to test the `@task.kubernetes` decorator with Airflow 2.4.1 and the `apache-airflow-providers-cncf-kubernetes==4.

[2022-10-06 11:43] flinz commented on #26905
@eladkal indeed, this would be similar to the display of the xcom, but selecting some of those to be exposed in the UI separately. My proposed solution above maybe would duplicate the xcom tab information so maybe that's not the route to go.

I was looking for a way to "expose a high level digest of task results in the UI" to make these available at a glance, instead of hiding them a few levels do

[2022-10-06 12:33] asd855280 commented on #25750
Hi thanks, and sorry for the late reply,
We are not using any 3rd-party cleanup tool, we installed pure open source airflow 2.1.0 version.

We found out that the xcom table in metadata db did not consist of any index, we were wondering would it be possible that when multiple workers and schedulers are manipulating data on xcom table, the execution takes longer because of lacking of index.

[2022-10-06 12:38] hterik opened #26912 "Log-tab under grid view is automatically re-fetching completed logs every 3 sec."
### Apache Airflow version

2.4.1

### What happened

The new inline log-tab under grid view is fantastic.
What's not so great though, is that it is automatically reloading the logs on the `/api/v1/dags/.../dagRuns/.../taskInstances/.../logs/1` api endpoint every 3 seconds. Same interval as the reload of the grid status it seems.

This:
* Makes it difficult for users to scroll in the log panel and

[2022-10-06 13:44] calebwoofenden opened #26913 "Helm chart parameters reference isn't viewable on github"
### What do you see as an issue?

This file https://github.com/apache/airflow/blob/main/docs/helm-chart/parameters-ref.rst has some Jinja code to auto-generate all the parameter references. This was changed from a plaintext list in this PR: https://github.com/apache/airflow/pull/15827. This seems like a good optimization, but I can't actually view the resulting text from the Jinja template on gith

[2022-10-06 14:26] kaxil commented on #26910
yeah we should fix it

[2022-10-06 14:35] eladkal commented on #19264
Closed in https://github.com/apache/airflow/pull/19410

[2022-10-06 14:35] #19264 closed

[2022-10-06 14:36] eladkal opened #26916 "Align TriggerDagRunOperator with logical date terminology"
Spawn of https://github.com/apache/airflow/issues/19264

By the way, since [`execution_date` has been renamed to `logical_date`](https://airflow.apache.org/docs/apache-airflow/stable/faq.html#faq-what-does-execution-date-mean), but `TriggerDagRunOperator` [still uses this nomenclature](https://airflow.apache.org/docs/apache-airflow/stable/_api/airflow/operators/trigger_dagrun/index.html#airflow.op

[2022-10-06 14:41] eladkal commented on #26884
@bhankit1410 We only expose capabilities available in job AP:
https://cloud.google.com/bigquery/docs/reference/v2/jobs#configuration.copy
Can you reference to this ability in the API?

[2022-10-06 14:47] kaxil commented on #26910
We should add it to package_data

https://github.com/apache/airflow/blob/8898db999c88c98b71f4a5999462e6858aab10eb/setup.cfg#L140-L155

[2022-10-06 15:20] tseruga commented on #26892
Just to expand upon the state that is causing this issue a bit more...

The DatasetEvent model looks correct in the database:
![image](https://user-images.githubusercontent.com/5778047/194351604-c013bf78-f296-4f5a-90b8-491ba0eb8e53.png)

Unsure why this query isn't populating the `lastUpdate` field in API response:
https://github.com/apache/airflow/blob/8898db999c88c98b71f4a5999462e6858aab10eb/air

[2022-10-06 15:22] hterik commented on #23512
Seeing this in **2.4.1** also.

Workaround is to set config `update_fab_perms = False`

[2022-10-06 16:09] zachliu commented on #23512
@hterik sadly sometimes we do need that config to be `True`, i've proposed a [workaround](https://github.com/apache/airflow/issues/23512#issuecomment-1140160062), it ain't pretty

[2022-10-06 16:44] potiuk commented on #26834
It's already there `airflow db check-migrations`

[2022-10-06 17:11] uranusjr commented on #26834
Ah so `airflow db check-migrations -t 0 || airflow db upgrade || true` would work then.

[2022-10-06 17:12] potiuk commented on #26834
(I think even -t 0 is not needed)

[2022-10-06 17:19] frankcash commented on #26916
@eladkal I wonder if `execution_date` is still valid due to the fact that the API call https://github.com/apache/airflow/blob/main/airflow/operators/trigger_dagrun.py#L136-L142 takes `execution_date` as a parameter.  https://github.com/apache/airflow/blob/main/airflow/api/common/trigger_dag.py#L31-L38

[2022-10-06 17:24] potiuk commented on #25750
You  should migrate to latest verion @asd855280 . Airflow 2.3.0 - https://airflow.apache.org/docs/apache-airflow/stable/release_notes.html#xcom-now-defined-by-run-id-instead-of-execution-date-20975 added index to Xcom.

[2022-10-06 17:31] eladkal commented on #26916
We may need to allign other parts of the code

[2022-10-06 17:35] potiuk commented on #26910
Yeah. it has to be added to the template - likely we could add all *.jinja2 files found in `airflow.providers.<PROVIDER>` - to not complicate provider.yaml. I will have no time to do it before holidays so it's up for grabs to anyone :)

[2022-10-06 17:37] kuikeelc commented on #24958
@bbovenzi Did you get a chance to have a look at this?

[2022-10-06 17:45] joeknize-bc commented on #26901
I'm also seeing this issue using "Astronomer Runtime 6.0.2 based on Airflow 2.4.1+astro.1"

[2022-10-06 17:47] #19329 closed

[2022-10-06 17:48] potiuk commented on #23512
I believe This is going to be fixed in 2.4.2  https://github.com/apache/airflow/pull/26885

[2022-10-06 17:58] zachliu commented on #23512
how does #26885 solve the clashing reads/writes? :thinking:

[2022-10-06 18:00] ashb commented on #23512
I've seen this from time to time and this is a separate issue to the null constraints violation.

[2022-10-06 18:31] potiuk commented on #23512
Ah. My mistake.

[2022-10-06 19:04] zachliu commented on #26599
just a simple note, if you're using the `LocalExecutor`, you'll see the warnings regardless of the DAG you're running

![2022-10-06_15-04](https://user-images.githubusercontent.com/14293802/194397408-62c7cc16-a595-40fc-9fd5-81886c92f5f1.png)

[2022-10-06 19:49] gasci commented on #26901
Yes, I confirm that this bug exists for me, too.

[2022-10-06 20:44] pierrejeambrun commented on #26901
Just opened https://github.com/apache/airflow/pull/26926, thanks for reporting the issue.

[2022-10-06 22:09] asd855280 commented on #25750
@potiuk Thank you for the note.

[2022-10-07 05:47] tirkarthi commented on #26861
This is due to commit 98f16aa7f3b577022791494e13b6aa7057afde9d (https://github.com/apache/airflow/pull/25370) where database query is used instead of `Variable.get` where `get` method went through all backends to fetch the variable value.

[2022-10-07 06:22] tirkarthi commented on #26861
Looking further into this it seems the variables set through environment variables are not returned in the list of all variables endpoints. There is also a note on this in docs that environment variables are not listed in web UI. I have a patch that restores the previous behavior along with keeping the changes from commit https://github.com/apache/airflow/commit/98f16aa7f3b577022791494e13b6aa7057a

[2022-10-07 06:23] tirkarthi commented on #26861
cc: @norm

[2022-10-07 07:09] hterik commented on #24466
Also seeing similar issues with CeleryKuberenetesExecutor on 2.3.1. Tasks on the celery worker randomly just abort halfway through with following message in the log
[code]

Only running one scheduler.
Unfortunately also missing the scheduler logs around those times.
One more unusual thing we do is occasionally send `celery.control.broadcast("shutdown")` to auto-update the worker container, this _s

[2022-10-07 07:56] tirkarthi commented on #26545
There were some changes done in below commit where `useState` which always used zero now has a different logic. I have a question where if there are two task instances with 2 and 3 attempts respectively. User selects task-instance-1 and attempt 1 in log UI. Now user navigates to task-instance-2. Should the user have attempt 3 (latest) or attempt 1 (selected in task-instance-1) displayed?

https://

[2022-10-07 08:01] hterik commented on #21465
Improved by https://github.com/apache/airflow/pull/26710

[2022-10-07 08:32] jdu opened #26930 "Isolated plugins / operators / hooks"
### Description

Because of the complexity of some of the plugins that are starting to come out, i'd like to propose a long-term goal / feature of finding a way to isolate plugins to prevent dependency issues, and stabilize integration points and problems over the longer term.

We're starting to run into issues where plugins and extensions to airflow have really complex dependency trees which caus

[2022-10-07 08:48] jdu commented on #26930
As an additional benefit this would free it up so that devs could develop plugins in other languages as well which would increase the potential number of maintainers and give a boost to the plugin ecosystem around airflow potentially.

[2022-10-07 09:46] TPapajCin opened #26931 "{{ ds }} template stopped working in papermill after upgrade to 2.4.x"
### Apache Airflow version

2.4.1

### What happened

I am using CeleryKubernetesExecutor and I have Celery Worker. I am running Papermill task.
Succendly after upgrade from Airflow 2.3.4 to 2.4.1, `{{ ds }}` template stopped being recognized in worker in Papermill notebooks. I can see it being rendered properly on UI but on worker there is only `{{ ds }}` in parameters and operator fails with `Va

[2022-10-07 10:58] ashb commented on #26910
I wonder about using something like setuptools-scm which will then "just" include all files tracked in git might work too

[2022-10-07 11:50] TPapajCin commented on #26931
it looks like all templates are not working because I also have problems with getting ds_nodash to work. templating of output notebook however works

[2022-10-07 12:41] matteosdocsity commented on #23512
so `update_fab_perms = False` and AIRFLOW__WEBSERVER__UPDATE_FAB_PERMS does not change anything also in relation with AUTH_OAUTH where is required to have fab permissions to be updated 😞..any other clue?

[2022-10-07 13:17] christianbrugger opened #26933 "Low priority tasks are scheduled before high priority tasks"
### Apache Airflow version

2.4.1

### What happened

In the current airflow implementation it can happen that low priority tasks are scheduled before high priority tasks. This can happen when a tasks finishes a following high priority tasks. The scheduler is then sometimes scheduling another low priority task, before the upcoming one.

### What you think should happen instead

The scheduler shoul

[2022-10-07 13:32] uranusjr commented on #26931
All the rendering functions are still there, ome of them are moved up to AbstractOperator.

[2022-10-07 13:42] potiuk commented on #26930
This would be a complete change in how plugin mechanism work, because plugins are essentially executed in the same interpreter as the "main part" of the process. For example plugins create Python objects that then are used to instantiate views in the UI, or plugins create Timetable objects that are used by scheduler to calculate when to schedule the next dag run. if we were to isolate plugins and

[2022-10-07 13:43] potiuk commented on #26930
converting it into discussion - as this is the stage it is in at the moment.

[2022-10-07 14:32] bbovenzi commented on #26545
We fixed this issue in: https://github.com/apache/airflow/pull/26556

@tirkarthi We try to maintain the selection manually done by the user. But if a task doesnt have that try number, we will reset to the latest.

[2022-10-07 14:32] #26545 closed

[2022-10-07 14:50] odaneau-astro commented on #26437
Could not reproduce in Airflow 2.4.

[2022-10-07 14:50] #26437 closed

[2022-10-07 15:14] malov commented on #26623
All right guys, I see that you don't have resources or interest to investigate it further.
I found the workaround - setting `AIRFLOW__CORE__DAGS_FOLDER` directly in the image, as it was suggested, and not going to spend more time digging into it.
Still hope you're goiing to fix it one day.

[2022-10-07 15:26] tirkarthi commented on #26545
Got it. Thanks @bbovenzi .

[2022-10-07 15:35] nicolas-gaillard opened #26936 "DAG as classes causes a bad fileloc attribute and display wrong code in the UI after upgrade to 2.4.x"
### Apache Airflow version

2.4.1

### What happened

Hi everyone,

Being on Airflow 2.3.0, I am in the process of migrating to 2.4.1 and I am having an issue with the parsing of DAGs (which is affecting the UI).

In order to reuse code, we encapsulate DAGs in Python classes. It happens that a DAG inherits from another one to modify a behavior while preserving the original shape of the DAG as show

[2022-10-07 16:37] #26497 closed

[2022-10-07 17:17] ldacey commented on #26497
Ran into the same issue. We also started in 2017 which should be around version 1.8 something and have upgraded since then. I ran the commands @joshowen posted and now I can open the DAG again.

I am getting a `airflow dags reserialize` error though (DAGs already exist). Is it safe to delete from the serialize table and then reserialize again? It appears like everything is working fine as is, the

[2022-10-07 17:56] MkSafavi commented on #26936
I'm facing the same issue in 2.4.1 in almost all of my dags. I have a few task_groups that are shared between dags. Importing them into another dag breaks the fileloc and shows the wrong .py file in UI. So I don't think it's related to your dag instance being inside a class.
I found out about this issue after one of our servers failed to retry any dag run. (though I'm not sure if it's related)

[2022-10-07 21:37] kazanzhy commented on #9957
@eladkal
When we moved to the separate `common.sql` provider it was untyped.
After this commit, these types were added https://github.com/apache/airflow/pull/25299/files#diff-6e1b2f961cb951d05d66d2d814ef5f6d8f8bf8f43c40fb5d40e27a031fed8dd7

Oh, I just saw that it's a 2-yeas old issue.
There's a simple `execute` method used here, therefore I think we have the wrong type here.
At least for Postgres

[2022-10-07 22:17] potiuk commented on #26623
Indeed, it seems a low priority and since it has an easy workaround, it's not blocking anyone. Hopefully someone will take in on, investigate and fix. There are probably hundreds of other things that's it's more important to spend time on.

[2022-10-08 07:21] eladkal commented on #26864
Released

[2022-10-08 07:21] #26864 closed

[2022-10-08 11:42] m1racoli commented on #26861
I believe that the Airflow UI and the HTTP API serve fundamentally different purposes. The Airflow UI not showing variables can be considered an inconvenience to an end user.

In contrast the HTTP API serves as an extension to the Python API, accessed by other tools and services.

Removing the ability to access variables as they would be available to the code would remove it as a source of truth.

[2022-10-08 13:30] potiuk commented on #26861
I am inclining to close it as "not a bug" but would love to hear also what others say.

While this change is indeed breaking old behaviour, one might say it is bringing back consistency to the behaviour of the API with other API's and fixing an incidental behaviour that the API shown before.

Nowhere it is mentioned, needed or even expected that the API is "single source of truth" - in this case t

[2022-10-09 00:30] jedcunningham commented on #26581
Hey @sai3563, any luck?

[2022-10-09 02:29] oslijw opened #26947 "The login page cannot log in normally"
### Apache Airflow version

2.4.1

### What happened

The page keeps saying the password is wrong
I created several new users, all of them are Admin roles, but I can't log in normally, and I can't log in using the admin password of airflow's standalone_admin_password.txt

### What you think should happen instead

There may be a bug in the authentication module

### How to reproduce

Install airflo

[2022-10-09 03:03] oslijw commented on #26947
I successfully logged in, users can be created normally through the users create command, I just forgot to enter the --password command, the shell prompted me to enter and repeat the password, then it works! ! But I still think it's a bug

[2022-10-09 03:47] potiuk commented on #26947
What is a bug exactly? It is not clear what is the bug from this report - since you were able to login. Can you please explain what the bug is ? converting it into discussion until you do.

[2022-10-09 12:43] gemelen opened #26952 "BigQuery job fails due on missing dataset while it is present"
### Apache Airflow Provider(s)

google

### Versions of Apache Airflow Providers

apache-airflow-providers-google==2022.9.6+composer
apache-airflow-providers-google==8.1.0

### Apache Airflow version

2.2.3 | 2.3.3

### Operating System

Managed

### Deployment

Composer

### Deployment details

apache-airflow-providers-google==2022.9.6+composer (provided by composer-2.0.28-airflow-2.2.5)
apache-a

[2022-10-10 03:15] abhi-jha opened #26957 "Scheduler heartbeat metric value is either 1 and 2. Other counters showing up as fractions too."
### Apache Airflow version

2.3.3

### What happened

Airflow version : 2.3.3
Statsd + influx + grafana setup : https://github.com/samuelebistoletti/docker-statsd-influxdb-grafana

`scheduler_heartbeat` is either 1 or 2.
`dag_processing.processes` is a fraction and is between -1 and 1.

I am trying to setup metrics for airlfow and upon exploration I see that counters are coming up as fractional va

[2022-10-10 05:36] #18468 closed

[2022-10-10 05:36] #23114 closed

[2022-10-10 05:53] potiuk commented on #26773
Closng as fixed it 2.4.0. We can always reaopened if it is not. Please double-check @vilozio if this is fixed after migrating to 2.4.0 and comment here.

[2022-10-10 05:53] #26773 closed

[2022-10-10 05:54] potiuk commented on #26807
Closing as fixed in 2.4.1. Please double-check @Flogue by migrating - we can always reopen if needed.

[2022-10-10 05:54] #26807 closed

[2022-10-10 05:57] potiuk commented on #20309
I suggest you remove stuff from your DAGs/Tasks/imports and "bisect" what is the culprit. I am afraid there is no other way for you - rather than guessing, you will be able to narrow-down and pin-point the guilty library and you will likely be able to google it once you find out what the libarary is. This is the fastest route you can take.

[2022-10-10 06:06] potiuk commented on #26847
I seriously doubt this is the case - this is an extremely wild and unfounded guess. It's likely an error in your DAG, but I think we need more informationand reproducible case showing exactly what causes it to be sure.

I suggest you do more experimentation with it and trying to provide more information, logs, circumstances, also experimenting with decreasing the number of schedulers to 1 and runn

[2022-10-10 06:11] potiuk commented on #24027
I suggest you open a new issue @lkerr-codaio - it's likely not the same issue - and the best help you can do is to provide as many details as possible to be able to reproduce your issue. Commenting on closed issue that had a solution adds precisely 0 value to possibilty of fixing your issue if you do not provide any details.

[2022-10-10 06:15] potiuk commented on #14854
Closing as essentially duplicate of #18816

[2022-10-10 06:15] #14854 closed

[2022-10-10 06:20] potiuk commented on #26851
I think this is the question for DAG versioning . What you are trying to do is trying to have different versions of DAGs in different times. We are yet to implement DAG versioning https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-36+DAG+Versioning but it is neither decided how to do it, nor approved, nor implemented.

I think once DAG versioning will be implemented, airlfow backfill will run

[2022-10-10 06:20] #26851 closed

[2022-10-10 06:39] lockkie0 commented on #23512
I also see this issue every time when the web server starts up. Env AUTH_TYPE = AUTH_OID. I use Airflow 2.3.3 with postgresql  . AIRFLOW__WEBSERVER__UPDATE_FAB_PERMS = False also does not change anything.

[2022-10-10 06:42] shokosanma opened #26960 "can't see failed sensor task log on webpage"
### Apache Airflow version

2.4.1

### What happened

![image](https://user-images.githubusercontent.com/24224756/194797283-6c26ad63-d432-4c41-9f91-2dbc47417ec7.png)
when the sensor running, I can see the log above, but when I manual set the task state to failed or the task failed by other reason, I can't see log at here
![image](https://user-images.githubusercontent.com/24224756/194797633-0c7bf82

[2022-10-10 06:49] potiuk commented on #26960
When the tasks runs and fails you will see the logs you must have made a mistake..

When you manually set it to failed you will not see logs. This is expected behaviour because when you set the tasks to failed before manually runing the task it does not produce any log.

[2022-10-10 07:14] shokosanma commented on #26960
there may be some misunderstanding, I want to express that the sensor has been running for a while and produce some log, when the error happen or manually set to failed, the old produced log can't be seen on webpage but can be found in /opt/airflow/logs.

[2022-10-10 07:17] potiuk commented on #26960
Can you see if there are any errors in the console of your browser? Without it it is impossible to diagnose it.

[2022-10-10 07:20] potiuk commented on #26960
Generally - please explain more details what you do - otherwise it might be impossible to solve.

(BTW,. The more information you provide the higher chance you will get that someone wiil help to solve your problem - for example you never mentioned that the logs are there, were there and disappeared - hence it was not "misunderstanding" but lack of sufficient information).

[2022-10-10 07:28] shokosanma commented on #26960
My dag is like this

[2022-10-10 07:35] potiuk commented on #26881
Please do not mix two completely different issues in one - the description about wrong Dockerfile was actually good point (and I am fixing it in @26961) but it had absolutely nothing to do with the title and following description of the problem.

I think after all the explanation you get I thikn you know everything now, so you are the best candidate to describe it (and give back for the free softw

[2022-10-10 07:36] potiuk commented on #26881
BTW the original subject made no sense, so I changed it to reflect it.

[2022-10-10 07:38] potiuk commented on #26881
also I have completely no idea what the "not helpul" quotation was about - this message was not related to venv - it was about 2.0.1 version of the image, not sure why it was there.

[2022-10-10 07:45] potiuk commented on #26910
Not really becaause we cannot have providers as regular packages (until we split them) because they are subdirectory of "airflow/providers" now and setuptools-scm are very unlikely to work in this case. They might work for `airflow` so we might want to do it there, but until our providers are single source tree with `airflow` none of such tools will likely work and we have to do it more "manual" w

[2022-10-10 07:48] potiuk commented on #26933
Explained likely reason in https://github.com/apache/airflow/discussions/26821 - @ashb, @ephraimbuddy likely you can confirm/verify my guesses.

[2022-10-10 07:54] TruptiM18 commented on #26574
Thanks! I have started working on it.

[2022-10-10 07:58] potiuk commented on #26888
If that is confirmed then I think it might be a bug. Can you please confirm that you only delete scheduler pod and nothing else? And can you please dump logs from your kubernetes from around when it happens ? It might be likely it is something in your K8S confifguration.

@dstandish - maybe that is a side effect of some of the k8s changes recently?

[2022-10-10 08:07] potiuk commented on #26898
Propose PR and let's see how it looks.

[2022-10-10 08:13] shokosanma commented on #26960
sorry, let me post more detail, my dag is like this
[code]

when the task is in running/up_for_reschedule state, checking log will send a get requests to http://localhost:8080/get_logs_with_metadata?dag_id=test_sensor&task_id=ob&map_index=-1&execution_date=2022-10-10T07%3A27%3A13.805132%2B00%3A00&try_number=1&metadata=null
![image](https://user-images.githubusercontent.com/24224756/194822370-e58cc

[2022-10-10 08:58] potiuk commented on #26960
cc: @bbovenzi / @pierrejeambrun  -> this one seems interesting (no time to verify it though before going for vacation).

[2022-10-10 09:20] potiuk commented on #24168
Summary of ALL issues: for 45 issues
   Completed and closed issues: 42/45: 93.33%
   Completed files 213/275 = 77.45%

 Issues that are not completed and are still opened:

 * [Migrate Google example DAGs to new design](https://github.com/apache/airflow/issues/22447): 59/89 : 66.29%
 * [Migrate Amazon example DAGs to new design](https://github.com/apache/airflow/issues/22438): 29/36 : 80.56%
 * [

[2022-10-10 09:44] TPapajCin commented on #26931
I copy-pasted entire BaseOperator codes from older versions to new and it still didn't work. Thanks to new downgrade command I was able to downgrade to 2.3.0 which was the last stable version in my environment(with small celery kubernetes executor script fixes) and now templating works correctly. I couldn't debug the source of that issue. I had problems with k8s pod overrides in 2.3.4 so I went ba

[2022-10-10 13:03] parisni opened #26969 "Provide user custom code to trigger listing dags / modules"
### Description

airflow currently scans the dag and module folder to check for updates. On large airflow instances with many dags and module this adds a considerable load on the disks

### Use case/motivation

while this works for any configuration, some users are able to know when this scan should happens (git commit, CD tasks, inotify....) and by the way decrease considerably the disk IO load,

[2022-10-10 13:10] Poxxy commented on #26865
Why is this not getting caught by `trigger_dag.py`? Lines 62-68:

`if dag.default_args and 'start_date' in dag.default_args:
        min_dag_start_date = dag.default_args["start_date"]
        if min_dag_start_date and execution_date < min_dag_start_date:
            raise ValueError(
                f"The execution_date [{execution_date.isoformat()}] should be >= start_date "
                f"[{

[2022-10-10 13:22] atrbgithub commented on #25947
@amalberty are you able to provide any more info around how you solved this?

[2022-10-10 13:28] m1racoli commented on #26861
Alright, after letting the issue think in a bit I ended up implementing a custom endpoint via webserver plugins. :)

[2022-10-10 13:28] #26861 closed

[2022-10-10 14:20] bhavaniravi commented on #9327
- What is a future task instance? Something that's queued?
- @eladkal [airflow tasks state](https://airflow.apache.org/docs/apache-airflow/stable/cli-and-env-variables-ref.html#state_repeat1) is currently read-only. Will this change give it write capabilities?

[2022-10-10 14:23] HengKevin commented on #26881
Can I be assigned to this issue?

[2022-10-10 14:32] bhavaniravi commented on #8923
It looks like ads to gcs are already available in [google ads provider](https://airflow.apache.org/docs/apache-airflow-providers-google/stable/_api/airflow/providers/google/ads/transfers/ads_to_gcs/index.html)

I will start working on the S3 integration

[2022-10-10 14:39] jyotsa09 commented on #22404
Hi @potiuk I'm still seeing the same issue with 2.2.5 and 2.4.0 as well.

[2022-10-10 14:52] jedcunningham opened #26971 "Status of testing of Apache Airflow Helm Chart 1.7.0rc1"
We have a kind request for all the contributors to the latest [Apache Airflow Helm Chart 1.7.0rc1](https://dist.apache.org/repos/dist/dev/airflow/helm-chart/1.7.0rc1).

Could you please help us to test the RC versions of Airflow?

Please let us know in the comment if the issue is addressed in the latest RC.

- [ ] [Add configurable scheme for webserver probes (#22815)](https://github.com/apache/ai

[2022-10-10 15:00] afsalabdup commented on #9327
Hi Bhavani,

This issue was opened by me. Future task instance can be any instance that
will run in the future. For example, if I want to put next week instance of
one of the tasks in a daily dag on hold.

Regards,
Afsal

On Mon, Oct 10, 2022, 7:50 PM Bhavani Ravi ***@***.***> wrote:

[2022-10-10 15:27] mjkonarski-b commented on #23512
I can see the same problem after enabling Okta. Airflow 2.3.3.

[2022-10-10 15:46] iloveabm3 opened #26972 "Arif"
### Description

https://github.com/microsoft/vscode.wiki.git

### Use case/motivation

_No response_

### Related issues

frankcash:frankcash/AIRFLOW-26916

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://github.com/apache/airflow/blob/main/CODE_OF_CONDUCT.md)

[2022-10-10 15:59] danielhoherd commented on #26971
Verified that `executor=CeleryExecutor` shows up in the airflow deployment by default:

[code]

Also verified with `KubernetesExecutor`:
[code]

[2022-10-10 16:18] bbovenzi commented on #26960
@shokosanma I think I've replicated the issue. But can you check if the logs for that task instance show up in the grid view?
We calculate the try number in a different way for each view. We should probably make that more consistent.

[2022-10-10 16:55] dstandish commented on #26888
@jedcunningham @ephraimbuddy you know of anything that might cause this?

[2022-10-10 17:29] jedcunningham commented on #26971
I've verified the following:
#26485 - Airflow 2.4.1 by default
#25561 - Celery worker liveness probe
#24395 - Postgres subchart is vendored
#23876 - Executor docs change

[2022-10-10 18:09] jedcunningham commented on #26888
No, nothing rings a bell. @gfeldman, if you could grab logs from the worker and the old/new scheduler and send over anything relevant, that would be helpful.

@dstandish have you tried to reproduce this yet?

[2022-10-10 20:04] joshuaghezzi commented on #26971
Verified #25732 - StatsD `podAnnotations`

![image](https://user-images.githubusercontent.com/104036091/194942297-47646daf-59cf-4162-bd13-b4a78feb6a75.png)

![image](https://user-images.githubusercontent.com/104036091/194942347-720ec875-53b0-4faf-bbf1-2bb30e57298c.png)

[2022-10-10 21:00] VladimirYushkevich commented on #25667
I have the same issue with airflow `2.4.1` to check `liveness` on `dag-processor`'s pod. Default is not working for me:
[code]
as well as with `$(hostname -i)`:
[code]
Only after removing `--hostname` flag it works:
[code]

[2022-10-10 22:20] gfeldman commented on #26888
[code]
I got this error now and the task is marked as completed

[2022-10-11 01:01] stfines-clgx opened #26978 "google-cloud-dlp dependency is out of date"
### Apache Airflow Provider(s)

google

### Versions of Apache Airflow Providers

apache-airflow = "^2.4.1"
apache-airflow-providers-google = "^8.4.0"

### Apache Airflow version

2.4.1

### Operating System

Darwin C02CP187MD6R 21.6.0 Darwin Kernel Version 21.6.0: Mon Aug 22 20:17:10 PDT 2022; root:xnu-8020.140.49~2/RELEASE_X86_64 x86_64

### Deployment

Docker-Compose

### Deployment details

De

[2022-10-11 03:01] gfeldman commented on #26888
Works as expected with the community chart. Going to close this issue as I believe it's something to do with the way I specified the pod override

[2022-10-11 03:01] #26888 closed

[2022-10-11 03:11] shokosanma commented on #26960
@bbovenzi thanks.
And in version 2.4, I can see log in grid view, but it is hard to view log in old version airflow, so it helps for debugging in old versions.
![image](https://user-images.githubusercontent.com/24224756/194988023-4524fcb0-7bd3-4ff5-9fd6-499a58e63d84.png)

[2022-10-11 03:16] dstandish commented on #26888
Well, that's a relief.  Thanks @gfeldman

[2022-10-11 04:17] #26972 closed

[2022-10-11 04:40] MaiHoangViet1809 opened #26980 "Output from traditional Task can not be used in task decorator without a *reduce* task"
### Apache Airflow version

2.4.1

### What happened

When build a flow between traditional task and taskflow API, I saw this error log:
[code]

### What you think should happen instead

It a task expand call follow a S3keySensor, then I try to wrap it with another reduce (return a list or do aggregation), the result push should be reduced by default to be used in next task if that next task is no

[2022-10-11 05:49] alanatlemba commented on #23529
@potiuk @jedcunningham finally got around to this.  Sorry about the long wait - life got in the way.

This is my first PR for a mainstream large scale open source project, let alone Airflow.
Sorry in advance if I've done anything improper, and thanks for your patience.

[2022-10-11 07:24] bhavaniravi opened #26984 "Running pre-commit without installing breeze errors out"
### Apache Airflow version

main (development)

### What happened

Running pre-commit without installing `apache-airflow-breeze` errors out

[code]

And to understand the error better, I commented out the exception handling code.

[code]

It returned

[code]

### What you think should happen instead

The error should be handled gracefully, and print out the command to install `apache-airflow-breez

[2022-10-11 08:49] sfc-gh-madkins commented on #24456
Kamil — happy to let you put hands on the keyboard. There is multiple ways this can be done. I’ll put time on calendar for us to connect.

Sent from my iPhone

[2022-10-11 08:53] yingxuanwangxuan commented on #24844
I am using AirFlow1.10. When I tried to upgrade to a higher version. I found this feature auto-refresh is useful for seeing the state of running tasks. When I backfill my task, the state of these tasks is pending which keeps refreshing.

The airflow Grid page maintains backfilled task state by automatically refreshing whether this is the most appropriate way？ Because the backfill command does not

[2022-10-11 09:11] ak-arun commented on #23832
Hi Andrey,

Point taken. I am thinking if we just publish the logs when the job state
changes to Error/Failed.

Also, instead of mining all executor logs + the driver, I think we can read
the 2 recently added job insights streams  -
https://docs.aws.amazon.com/glue/latest/dg/monitor-job-insights.html

For sure, this is a new feature in Glue and older jobs may not have these
streams enabled. We can

[2022-10-11 09:17] vksunilk opened #26987 "DataprocLink is not available for dataproc workflow operators"
### Apache Airflow version

main (development)

### What happened

For DataprocInstantiateInlineWorkflowTemplateOperator and DataprocInstantiateWorkflowTemplateOperator, the dataproc link is available only for the jobs that have succeeded. Incase of Failure, the DataprocLink is not available

### What you think should happen instead

Like other dataproc operators, this should be available for work

[2022-10-11 09:19] heavenlxj opened #26988 "'LoggingProxy' object has no attribute 'encoding'"
### Apache Airflow version

Other Airflow 2 version

### What happened

OS： CentOS Linux release 7.9.2009 (Core)
K8S: 1.16
Airflow: 2.2.1

The Dag Code paste here:
`
import sys
sys.path.insert(0, "/opt/bitnami/airflow/dags/scene4")

import pendulum
from airflow import DAG
from datetime import datetime
from airflow.sensors.external_task import ExternalTaskSensor
from airflow.operators.dummy import

[2022-10-11 09:27] BobDu commented on #26971
Verified #26415 - Add default flower_url_prefix in helm chart values

[code]

and not custom define `config.celery.flower_url_prefix`

[code]

No problem.

[2022-10-11 12:21] Aakcht commented on #26971
Tested #25283 - works as expected

[2022-10-11 13:12] marvinfretly commented on #26931
Same here, upgraded to 2.4.1 and now my parameters in papermill are not executed

[2022-10-11 13:23] BobDu commented on #26971
Verified #26598  overrideMappings

[code]

[code]

[code]

[2022-10-11 13:26] BobDu commented on #26971
some report about #24496
not a bug, but i think it may be necessary to highlight this change in the changelog.
must ensure `.Values.airflowVersion` if use custom image.
Helm chart 1.7.0 not add env `AIRFLOW__CELERY__RESULT_BACKEND` by default values, but if use airflow <= v2.3, worker will start failure.
[code]
And this error message may not be friendly.

[2022-10-11 13:42] kcphila opened #26991 "Jobs scheduled with cron-syntax for monthly or weekly execution are not triggering"
### Apache Airflow version

2.4.0

### What happened

On our Airflow 2.4.0 instance, we have 1 weekly report (schedule `17 10 * * 1`) and 1 monthly report (schedule `30 0 9 * *`) (and no others). The dags didn't have their schedules changed (which appears to be related to the 1.10 issue). They are both built in python files that have other dags, most of which are daily. I have also briefly tested

[2022-10-11 13:50] MatthieuBlais commented on #26971
Tested #26838, works as expected

[2022-10-11 14:24] Soonmok commented on #26865
Can I take this task?

[2022-10-11 16:45] o-nikolas commented on #26865
@eladkal @kaxil
Can either of you assign this one to @Soonmok

[2022-10-11 17:13] jedcunningham commented on #26971
@BobDu, it is assumed that folks keep `airflowVersion` up to date with the version in their image. This has long been a thing. This is just the latest failure of this type, another off the top of my head is schedule livenessprobes between 2.0 and 2.1.

It would be nice to detect if folks forget though. Not sure how easy that'd be to do though.

[2022-10-11 19:31] #26427 closed

[2022-10-11 20:44] bbovenzi commented on #26912
Oh we should probably include `end_of_log` in the REST API response.

[2022-10-12 00:21] #18239 closed

[2022-10-12 01:16] o-nikolas commented on #25952
Hey @hankehly,

I see that the sensor PR was merged. Are you still working on the Start/Stop operators?

[2022-10-12 01:18] hankehly commented on #25952
@o-nikolas Yes, I apologize for the delay. I have an implementation ready, just need to add tests. I'll have a PR open this weekend.

[2022-10-12 01:20] o-nikolas commented on #25952
No worries at all! Thanks for sticking with it :smile:

[2022-10-12 01:49] o-nikolas commented on #23965
Hey @spelufo,

As @potiuk suggested, can you provide screenshots or text snippet of exactly how you're configuring the connection for logging as well as the config necessary for remote logging (i.e. how you're specifying `remote_base_log_folder`).

I tested on my end specifying `remote_base_log_folder` in airflow.cfg and exporting as an env var and both worked correctly for me (creating an s3 path

[2022-10-12 02:40] o-nikolas commented on #21711
A fairly common recipe is to handle the `ThrottlingException` in situations like this. So the `list_processing_jobs` (or more specifically the `_list_request` helper`) can catch that exception when it's exhausted the quota, and then sleep for a second or two and then continue another burst of requests.

This way we don't drop existing functionality and the code remains backwards compatible. We've

[2022-10-12 02:55] NickYadance opened #27000 "Trigger die with DB deadlock between scheduler"
### Apache Airflow version

Other Airflow 2 version (2.3.2)

### What happened

There is discussion #22553 about this but without detailed trace. There is also a similar issue #23639. Trigger will occasionly die due to DB transaction deadlock. In my case the trigger dies 5-6 times per day.

Mysql engine status
[code]

Trigger exit log
[code]

This query holds row lock in primary index (`dag_id`,`t

[2022-10-12 03:15] o-nikolas commented on #26988
Hey @heavenlxj,

I don't think this is an Airflow issue, it's a problem between Celery and the thirdparty python modules you're using. The method you used to update the celery config is the standard way I've seen as well, i.e.:
1. Create a new module which imports the default celery config
2. Add/modify any additional config you want
3. Put this module somewhere on Airflow path
4. Specify this con

[2022-10-12 06:44] pierrejeambrun commented on #26901
Should be solved now. Closing

[2022-10-12 06:44] #26901 closed

[2022-10-12 07:24] gmsantos commented on #26971
for #24647

values file
[code]

Resulting pod template file:

[code]

[2022-10-12 07:30] Aakcht commented on #26971
Also tested #24496 - looks good.

[2022-10-12 07:51] uranusjr commented on #26988
Yeah Celery patches stdout/stderr, but apparently that patch is incompatible with py_trees. I’m not sure whether it’s Celery’s fault (they should but do not provide `encoding`) or py_trees’s (they should not but do depend on `encoding`), but the solution is out of Airflow’s hands either way.

[2022-10-12 07:55] uranusjr commented on #27000
What is your Airflow version?

[2022-10-12 08:05] gmsantos commented on #26971
Looks good for #23711 too

On values file:

[code]

[code]

[2022-10-12 08:26] marvinfretly commented on #26931
In case you want to downgrade to an older version:

1. Go inside your container using `docker exec -it <container_name> bash`
2. execute this: airflow db downgrade --to-revision <revision_id>
3. Downgrade airflow version on your dockerfile
[Reference for Database Migrations](https://airflow.apache.org/docs/apache-airflow/stable/migrations-ref.html?highlight=migration) (Revision id).

That's it

[2022-10-12 08:34] qcha41 opened #27007 "Cannot use custom XCOM keys in task mapping expand function"
### Apache Airflow version

Other Airflow 2 version

### What happened

Hello everyone,

I am trying to use a custom XCOM key in task mapping, other than the default "return_value" key. This results in a ValueError :

[code]

### What you think should happen instead

I don't understand this limitation.

### How to reproduce

[code]

[code]

[2022-10-12 08:36] eladkal commented on #26978
This is not a bug.
Many of google packages are not up to date, updating was an effort started a while ago https://github.com/apache/airflow/issues/12116

we can make progress in such issues only if users of google (like yourself) will raise PRs.
Feel free to raise one. The list of dependencies can be found on:
https://github.com/apache/airflow/blob/40d19b9ab89701126653d24d28e477e677f2ea97/airflow/

[2022-10-12 08:36] #26978 closed

[2022-10-12 08:38] NickYadance commented on #27000
2.3.2

[2022-10-12 08:47] uranusjr commented on #27007
This is an intentional design at the current time. Is there a concrete reason why you need to use a custom key?

[2022-10-12 09:10] eladkal commented on #26952
Hi @gemelen,
Welcome to Apache-Airflow repo.
This report contains many details related to Composer and very few details related to Airflow.
We are not cloud composer. we know nothing about their versions and deployment.

If you believe you found a bug with Airflow source code please be specific what is the bug. Which version broke it / PR that introduced a breaking change?

[2022-10-12 09:24] eladkal commented on #26931
I don't think this is a bug in the operator. We even have a coverage for templating int he tests:
https://github.com/apache/airflow/blob/d9db89a2d923e1242c32c3c372ddd1c06d58cacb/tests/providers/papermill/operators/test_papermill.py#L61-L73

@marvinfretly please add minimal reproduce example.

Please try minimal example:

[code]

 I suspect your issue is not a bug in the operator but wrong usage wi

[2022-10-12 09:36] gemelen commented on #26952
@eladkal I found your comment inadequately aggressive.

This repository holds a module `apache-airflow-provides-google` which is an area of a problem I bumped into. Moreover, problem occurred for me during upgrade to a publicly available version of this library.

If such a case must not be tracked (even to be proved wrong) in this repository, then a bug workflow _must_ not encourage to mention any

[2022-10-12 11:34] iw-pavan opened #27010 "DagProcessor doesnt pick new files until queued file parsing completes"
### Apache Airflow version

2.4.1

### What happened

When there are large number of dag files, lets say 10K and each takes sometime to parse,  dag_parser doesnt pick any newly created files till all 10k files are finished parsing

`if not self._file_path_queue:
                self.emit_metrics()
                self.prepare_file_path_queue()`

Above logic only adds new files to queue when queue

[2022-10-12 11:58] juraa14 opened #27012 "External python operator logging"
### Apache Airflow version

2.4.1

### What happened

When using the external python operator for running tasks inside a different environment, logs do not appear for the task instance.
The log files are always empty if the task is successful.
If the task fails, one gets very rudimentary logs about the process command failing.

Both environments use the same Python version (3.9.10) and Airflow use

[2022-10-12 12:19] marvinfretly commented on #26931
I downgraded to version 2.3.4 and it's working perfectly fine. I don't know how it is possible that the problem is on my script and not on the operator since it's working for older version

[2022-10-12 12:23] eladkal commented on #26931
hi @marvinfretly Can you please test the the same templating code you use on other operators?
We need to confirm if this is Papermill issue or a general issue.

[2022-10-12 12:47] marvinfretly commented on #26931
Tryed this and it's actually working
[code]

[2022-10-12 12:48] TPapajCin commented on #26931
I checked old logs yesterday and I found out something interesting.
It looks like templating in `output_nb` argument worked during that 2.4.1, everything was fine, however nothing in `parameters` argument was templated. Also the "Rendered Template" tab in airflow webserver also showed the correct value. I had BigQueryToGCSOperator with `{{ ds_nodash }}` user in `source_project_dataset_table` and `

[2022-10-12 13:03] eladkal commented on #26931
Cool. So this narrow down the issue to this class:
https://github.com/apache/airflow/blob/79354dd13fe868e2be4769663f282a1e06fb08a3/airflow/providers/papermill/operators/papermill.py#L33-L39

This is the difference between `PapermillOperator` to the other operator and also this class utalizes parameters so this is probably why the issue is localized to the parameters and doesn't effect other templa

[2022-10-12 14:51] gmsantos commented on #26971
ops, sorry my bad. For #24647:

[code]

pod template file:

[code]

[2022-10-12 15:01] WorksWellWithOthers opened #27014 "cannot import name 'JSONEncoder' from 'json' (/opt/airflow/plugins/xcom_backend/type_serializers/json.py)"
### Apache Airflow version

2.4.1

### What happened

[code]

### What you think should happen instead

_No response_

### How to reproduce

_No response_

### Operating System

Linux

### Versions of Apache Airflow Providers

_No response_

### Deployment

Docker-Compose

### Deployment details

_No response_

### Anything else

_No response_

### Are you willing to submit PR?

- [ ] Yes I am wil

[2022-10-12 16:26] afsalabdup commented on #9327
Thanks Bhavani for the explanation.

 I think we can mark a future dag to success using execution Id. I mean run
cli command to mark whole dag to success and the moment that particular
schedule is hit, we will see all tasks in success state in UI. I think have
tested it and worked fine, please correct me if I am wrong.
Can we implement similar feature for tasks ?

At present, if I want to skip a t

[2022-10-12 17:47] ephraimbuddy commented on #26991
Can you share the dag code? I suspect that the DAG's `start_date` is dynamic. If so, consider setting the `start_date` to a date in the past and have `catchup=False`

[2022-10-12 17:57] vincbeck commented on #21711
I am okay with that too. I still feel like this feature is odd and should have never been there but I agree, as a compromise we can go with what @o-nikolas described as solution

[2022-10-12 19:41] vtonne opened #27018 "SSHOperator gives an error while connecting to GCE instance"
### Apache Airflow version

Other Airflow 2 version (please specify below)

### What happened

Running on GCP Composer, version composer-2.0.22-airflow-2.2.5.
While connecting to an instance in different project, an error has been produced with a notion to inform Airflow team.
Please note, I have been able to connect to a different instance in the other project using same DAG file (only changes in

[2022-10-12 20:00] sethmenghi commented on #27014
I am getting the same issue in 2.4.0

[2022-10-13 01:30] uranusjr commented on #26931
Hmm, I can see why this doesn’t work, but the problem is, I can’t understand how it _ever worked_ before 2.4! The template rendering code should never have been able to go into nested class like this. I reduced the code to this and the result colaborates:

[code]

We can fix the apparent issue here (by making NoteBook renderable), but I’m uneasy about this since we still seem to be obviously missi

[2022-10-13 07:00] vtonne commented on #27018
Following additional investigation, it seems that the error is due to a missing file.
I.e. the shell script was not present at destination.
Running a regular "ls" command works properly.

[2022-10-13 07:01] TreyYi opened #27025 "I used the default docker-compose.yaml to setup CeleryExecutor, but SequentialExecutor is set in airflow.cfg"
### Apache Airflow version

2.4.1

### What happened

Hi all,

I used the default docker-compose.yaml to setup CeleryExecutor, but SequentialExecutor is set in airflow.cfg.

[code]

I see that `AIRFLOW__CORE__EXECUTOR` is set to `CeleryExecutor`.
However, after running docker-compose up and check the airflow.cfg file in the container, executor is set to `SequentialExecutor`.

In addition to this,

[2022-10-13 07:39] dyon781 opened #27026 "Parameterise key sorting in "Rendered Template" view"
### Description

Currently the https://github.com/apache/airflow/blob/main/airflow/www/views.py#L1254 has forceful sorting by keys.
It'd be very nice to have this behaviour parameterised and not hardcoded

### Use case/motivation

Sometimes we have big templates with few nested levels and it's very inconvenient to see higher level keys scattered across few screens located at the very bottom of tem

[2022-10-13 08:08] csp98 commented on #26971
#25059 working as expected.
Global setting:
![image](https://user-images.githubusercontent.com/28935464/195538275-8c7ea188-63f1-4b25-94e1-9b3700220b20.png)

Specific setting:
![image](https://user-images.githubusercontent.com/28935464/195539113-ab055b4f-e091-4125-aa9c-26db1b920849.png)

Global + specific setting:
![image](https://user-images.githubusercontent.com/28935464/195538837-4596fab9-6451-4

[2022-10-13 08:35] eladkal commented on #26952
I did not mean to offend you.

The bug report asks for Airflow provider version. You wrote:
[code]

I for once have no idea what `apache-airflow-providers-google==2022.9.6+composer` is. This is probably some backport of the open source code to composer system and i have no idea of which Airflow version nor what changes Composer made there.

[2022-10-13 08:41] vtonne commented on #27018
Hi team,

I believe that the issue is corresponding to https://github.com/apache/airflow/discussions/24419 .
Changing the command to use extension .script instead of .sh solved the issue.

[2022-10-13 08:41] #27018 closed

[2022-10-13 08:59] uranusjr commented on #26952
Since we don’t have access to the Google forks and understand how it’s different from the upstream provider implementation, there’s not much we can do to resolve the issue. You’ll need to either find a way to reproduce this with the non-Google provider, or ask Google for support instead.

[2022-10-13 09:36] dyon781 commented on #27026
I've been thinking on three options to have it on custom operator level:
 Let's assume we have this set at custom operator:
    template_fields = ("field1", "field2",)
    template_fields_renderers = {"field1": "json"}

1) We can have it redefined in whole for all:
    template_fields_kwargs = {"sort_keys": False}
2) Or to have it on template column level:
    template_fields_kwargs = {"field1": {

[2022-10-13 09:42] emincanoguz11 opened #27029 "Druid Operator is not getting host"
### Apache Airflow version

Other Airflow 2 version (please specify below)

### What happened

 We use Airflow 2.3.3. I see that this test is successful, but I take a this error. This is the picture

[code]

<img width="1756" alt="Screen Shot 2022-10-12 at 15 34 40" src="https://user-images.githubusercontent.com/47830986/195560866-0527c5f6-3795-460b-b78b-2488e2a77bfb.png">

<img width="1685" alt="

[2022-10-13 10:31] eladkal commented on #26854
I think the actual request here is to stop all running tasks (Which has been asked before https://github.com/apache/airflow/issues/10704 ). If we externally killing the running tasks then they will be in `failed` status, as a result their downstream tasks will be automatically marked as `upstream_failed` (assuming `all_success` trigger rule). Then you will get the behavior of immediately failing a

[2022-10-13 11:45] timothy-khom commented on #26854
@eladkal not sure I fully understood you suggestion. Do you mean we should add functionality in our application to kill the upstream tasks?

[2022-10-13 12:10] eladkal commented on #26854
I just gave my point of view on the feature request to solve this pain (should someone decide to pick this issue and implement it)

[2022-10-13 12:33] AutomationDev85 opened #27032 "Worker sometimes does not reconnect to redis/celery queue after crash"
### Apache Airflow version

2.4.1

### What happened

We are running an Airflow deployment and we had the issue that the redis POD died and then some Tasks stuck in the queue state. Only after killing the worker POD the tasks were consumed by the worker again. I wanted to analyse this more in detail and saw that this behavior only occurs sometimes!

For me looks like the worker some times does not

[2022-10-13 16:38] tkansara opened #27036 "Installing Airflow on EKS fargate using Helm"
### Official Helm Chart version

1.6.0 (latest released)

### Apache Airflow version

2.4.1

### Kubernetes Version

1.22

### Helm Chart configuration

[code]

### Docker Image customisations

N/A

### What happened

When running C:\Kore\git_repo\airflow-eks-config>kubectl get pods -n dev
NAME                                 READY   STATUS             RESTARTS        AGE
airflow-postgresql-0

[2022-10-13 16:45] emincanoguz11 commented on #27029
P.S I updated Airflow 2.4.0 but it is not work :(

[2022-10-13 16:59] calebwoofenden opened #27037 "logs helm values are being ignored"
### Official Helm Chart version

1.6.0 (latest released)

### Apache Airflow version

2.3.2

### Kubernetes Version

1.21

### Helm Chart configuration

I'm using this chart as a subchart. In my Chart.yaml I have:
[code]
then in my chart I define a values file that sets some helm values, including overriding some values for the airflow chart:
[code]

### Docker Image customisations

_No response_

[2022-10-13 17:11] calebwoofenden commented on #27037
After looking a little closer I found that these chart values were not being ignored, they just weren't being used. The mystery PVC was being created from the `volumeClaimTemplates` section of the scheduler-deployment.yaml. This PVC being created was dependent on the `workers.persistence.enabled` value, not `logs.persistence.enabled`.

[2022-10-13 17:11] #27037 closed

[2022-10-13 17:25] kcphila commented on #26991
@ephraimbuddy, Aha!

I had the `start_date` set to ` datetime.datetime.now(tz=localtz) - datetime.timedelta(days=2)` and `catchup = False`.  I changed the start_date to a couple months ago and reset the crontab to run and it ran.

I've generally not used the start_date for anything meaningful and we don't have tasks that should backfill, and so those were standard parameters (so standard that I ha

[2022-10-13 17:38] kcphila commented on #26991
Thank you for your insight, @ephraimbuddy! It's nice to have this mystery solved so easily.

[2022-10-13 17:38] #26991 closed

[2022-10-13 18:27] micaelarg opened #27042 "UI runs never ends loading after fresh install"
### Apache Airflow version

2.4.1

### What happened

We did a fresh reinstall of airflow on ubuntu 22.04, running on UpCloud premises. It all went smoothly until we went on the web UI. The little grey dots in "Runs", "Last Run" and "Recent Tasks" keep loading (i.e. going from dark to light grey) for ever. We tried different versions of airflow and had the same issue. Any hints on how to fix that?

[2022-10-13 19:59] o-nikolas commented on #27014
Thanks for helping out @sethmenghi. Since this is not an airflow issue, rather an issue with the architecture of the user's xcom backend plugin I'm closing this issue. @WorksWellWithOthers  please re-open if you think there is some issue with Airflow.

[2022-10-13 19:59] #27014 closed

[2022-10-13 20:25] o-nikolas commented on #27032
Thanks for filing this issue @AutomationDev85! I see that you're willing to submit a PR, let me know if you would like this issue assigned to you :smile:

As a follow-up: are you sure this is a bug in Airflow or is this actually a Celery issue?

[2022-10-13 21:16] o-nikolas commented on #27029
It looks like the druid hook is getting the protocol to use from the conn type, and since you're using a Druid connection that ends up being `druid://` in your url, but `requests` doesn't find any adapters for that protocol:
https://github.com/apache/airflow/blob/0d78ba560dec2e7ea2670744800864906622a4a4/airflow/providers/apache/druid/hooks/druid.py#L65-L69

It also looks like you're not providing

[2022-10-14 06:56] emincanoguz11 commented on #27029
Hi Nikolas,

We saw that this type but I cannot change this. Because we are using Airflow on Kubernetes. But also we gave HTTP Operator to Druid Broker for this reason but it is not worked.

[2022-10-14 08:57] nikhil-koul commented on #26677
Hi All,

I'm trying to implement Airflow expand functionality in DatabricksSubmitRunOperator.
If you, please provide me with examples of how it is done in DatabricksSubmitRunOperator?

Also, by using expand function, the tasks will be in parallel execution or sequential.

Regards,
Nikhil

[2022-10-14 09:09] NickYadance commented on #27000
I'll close the issue cuz i didn't find an easy way to reproduce. The lock contention between two queries are quite hard to construct. The workaround about this is to reduce how often scheduler checks for timeout triggers to avoid potential lock contention.
https://github.com/apache/airflow/blob/0d78ba560dec2e7ea2670744800864906622a4a4/airflow/jobs/scheduler_job.py#L1461-L1484
There is configuratio

[2022-10-14 10:03] ashb commented on #27010
Related https://github.com/apache/airflow/discussions/19174

[2022-10-14 11:16] emincanoguz11 commented on #27029
Hi Nikolas Again,

I tested with standalone Airflow and I tested only http but this is not worked :(

[2022-10-14 11:29] iw-pavan opened #27057 "Race condition in multiple triggerer process can lead to both picking up same trigger."
### Apache Airflow version

main (development)

### What happened

Currently airflow triggerer loop picks triggers to process by below steps

query_unassinged_Triggers
update_triggers from above id
query which triggers are assigned to current process

If two triggerer process executes above queries in below order

query unassigned trigger both will get all triggers then if one triggerer completes

[2022-10-14 12:21] red8888 opened #27058 "Support the official google cloud sql connector"
### Description

Python is one of the few languages gcp supports with an official library for making cloud sql connections:
https://cloud.google.com/sql/docs/mysql/connect-connectors#python

The package:
https://pypi.org/project/cloud-sql-python-connector/

I couldnt find examples of this being supported for the airflow DB connection. Is it supported?

By using this library you don't need direct n

[2022-10-14 12:36] Gunnnn commented on #14529
+1!!!!!!

[2022-10-14 14:41] emincanoguz11 commented on #27029
I solved problem. Thanks but this logs are so terrible to defining this problem. Maybe we will create new logs for defining problem.

[2022-10-14 15:40] jedcunningham commented on #26971
The helm chart is being released! Thanks everyone for testing the RC 🍺

[2022-10-14 15:40] #26971 closed

[2022-10-14 16:43] o-nikolas commented on #27029
Hey @emincanoguz11

That sounds great! Can you provide more details on what the actual problem was and what logging you think would improve things? That would be massively helpful to others in the future. You could even open a PR yourself and become one of the many contributors to the airflow project! :rocket:

[2022-10-14 17:33] emincanoguz11 commented on #27029
This is ingestion file problem but I see in debug mode for in details. We must see log in Airflow for about ingestion problem. I hope I take PR. Thanks for answering.

[2022-10-14 18:11] o-nikolas commented on #27057
Hey @iw-pavan! Thanks for submitting this issue :smile: I see that you've checked that you're willing to submit a PR, would you like me to assign this issue to you?

[2022-10-14 19:16] o-nikolas commented on #27029
Okay, I've assigned this ticket to you for now :)

[2022-10-14 20:50] zachliu opened #27065 "Log files are still being cached causing ever-growing memory usage when scheduler is running"
### Apache Airflow version

2.4.1

### What happened

My Airflow scheduler memory usage started to grow after I turned on the `dag_processor_manager` log by doing
[code]

see the red arrow below

![2022-10-11_12-06 (1)](https://user-images.githubusercontent.com/14293802/195940156-3248f68a-656c-448a-9140-e50cfa3a8311.png)

By looking closely at the memory usage as mentioned in https://github.com/ap

[2022-10-14 21:44] jens-scheffler-bosch commented on #27032
As I see that the new Helm Chart 1.7.0 was released, does somebody know or expect if the new liveness probe on Celery Worker will fix this problem implicitly? (https://github.com/apache/airflow/pull/25561)

[2022-10-14 23:18] o-nikolas commented on #15834
- `dag_processing.last_runtime.*` has been removed from the metrics documentation in #17772
- `dag_processing.processor_timeouts` moved to counters section in #23393
- It appears dag_file_processor_timeouts is still being emitted even today, I will put up a PR for this

[2022-10-14 23:48] o-nikolas commented on #27042
I noticed this broken in main for me too (when testing with my breeze env). The browser console showed that there were issues with the `dags.js` file so I looked at the last commit which touched those and it turned out to be #26878
After reverting that commit on my local machine the UI is back alive again.

CCing @blag @bbovenzi and @jedcunningham

[2022-10-14 23:50] o-nikolas commented on #27042
I'd like to submit a PR which reverts those changes, but I'll try wrangle one of the above who were involved in that change to weigh in.

[2022-10-14 23:59] o-nikolas commented on #17084
This was fixed in #21442
Tested manually with provided dag and all seems working.
Closing this one as fixed.

[2022-10-14 23:59] #17084 closed

[2022-10-15 00:06] micaelarg commented on #27042
Awesome! When will the solution be updated on the pip last version?

[2022-10-15 01:17] vandonr-amz commented on #17301
Note: this content was moved to https://github.com/apache/airflow/blob/main/dev/REFRESHING_CI_CACHE.md#manually-generating-constraint-files

[2022-10-15 02:17] o-nikolas opened #27069 "test_heartbeat_failed_fast not failing fast enough."
### Apache Airflow version

main (development)

### What happened

In the #14915 change to make tests run in parallel, the heartbeat interval threshold was raised an order of magnitude from 0.05 to 0.5. Though I frequently see tests failing in PRs due breaching that threshold by a tiny amount. Do we need to increase that theshold again? CC @potiuk
Example below where the time was `0.51938899999999

[2022-10-15 03:27] o-nikolas commented on #15645
Given the discussion in #20224 it seems the most doable solution is to undo the optimization in #9087 what do folks think about that proposal? Any other reasonable ideas?

Also I tested this on main, and the issue is indeed still present (as one would expect), so updating the label (re [this triage initiative](https://apache-airflow.slack.com/archives/CCPRP7943/p1663586469433659))

[2022-10-15 10:12] pierrejeambrun commented on #27012
@juraa14 Thank you for being willing to help on this one.

I just assigned you :)

[2022-10-15 17:59] pavansharma36 commented on #27057
@o-nikolas  I've raised PR with fix, you can assign this to me

[2022-10-15 22:06] micaelarg commented on #27042
@pierrejeambrun @o-nikolas -- just tried a fresh install and it is still not working. Anything I can do to help solving the issue? Any hint to something that would allow me to have the airflow up and running?

[2022-10-16 00:20] #26017 closed

[2022-10-16 02:28] BilashAmantay commented on #23318
I have the same issue even I'm using static hard-coded time for start_date. Cron based scheduling is not taking effect, instead, the job is running everyday midnight started from start_date.

[2022-10-16 06:49] kameshkotwani opened #27077 "Not able to use Jinja template in PostgresOperator Airflow in SQL file naming"
### Apache Airflow version

main (development)

### What happened

 I am trying to pass a sql parameter as a Jinja Template, but not able to. I am a bit new to Airflow, here is the code, I am not sure if the Jinja templating works in PostgresOperator or not. If there is any other way we can pass please let me know, again I am not trying to pass the jinja template inside the SQL query or file, I am

[2022-10-16 10:20] btoh opened #27078 "Connection time out when doing sts_assume_role with AwsBaseHook"
### Apache Airflow version

Other Airflow 2 version (please specify below)

### What happened

I get connection time out when doing an assume_role with `AwsBaseHook`. I have provided an endpoint URL in the connection, but it keeps trying to connect to the default endpoint sts.amazonaws.com

### What you think should happen instead

It should pick up my endpoint url and connect to it instead. I hav

[2022-10-16 11:21] vanchaxy commented on #23318
@BilashAmantay please, open separate issues with your code. Everyday midnight is default schedule, as far as I remember. Maybe, you are trying to pass wrong kwarg or smth

[2022-10-16 12:24] qcha41 commented on #26429
Very interested too!

It is slightly different but I would go even further : we could provide ExternalTaskSensor with a boolean option `future_execution` (default to False) that makes the sensor succeed when the external DAG has been run at least once after the logical date of the sensor. In other words, when an external DAG run finally match `latest_dag_run.start_date >= self.start_date`.

[2022-10-16 14:04] emincanoguz11 commented on #27029
Hi Again,

I develop the new log system. First of all we see that
![Screen Shot 2022-10-16 at 17 02 23](https://user-images.githubusercontent.com/47830986/196039762-cde7bbe8-c4b5-4250-ae3d-7093a04b06c8.png)
but in my development I see that clearly the main reason of error.
![Screen Shot 2022-10-16 at 17 01 37](https://user-images.githubusercontent.com/47830986/196039774-a8e53226-ede3-438f-8954-466

[2022-10-16 14:08] emincanoguz11 commented on #27029
Sorry for removed assigment. It my fault. @o-nikolas can you give assignment to me please again

[2022-10-16 15:23] o-nikolas commented on #27029
No worries, done :)

[2022-10-16 17:38] chenglongyan commented on #27077
A string with an ```.sql``` suffix is considered a file rather than a jinjia template.

[code]
---
Refer to the ```template_ext``` field  of [PostgresOperator](https://airflow.apache.org/docs/apache-airflow-providers-postgres/stable/_api/airflow/providers/postgres/operators/postgres/index.html#airflow.providers.postgres.operators.postgres.PostgresOperator.template_ext) and [templating-with-jinja](

[2022-10-16 19:10] kameshkotwani commented on #27077
I am trying to create a filename which is dynamic based on its creation time, so I want to use Jinja Template to specify the filename  dynamically in the `sql` parameter, for example I create a file `queries1215.sql`  (here 12 is hour, 15 is date and it contains multiple queries and saved as a file) using PythonOperator, and the file name changes based on time and date, this works in BashOperator

[2022-10-16 20:14] qcha41 opened #27079 "Option to deserialize JSON from last log line in BashOperator and DockerOperator before sending to XCom"
### Description

In order to create an XCom value with a BashOperator or a DockerOperator, we can use the option `do_xcom_push` that pushes to XCom the last line of the command logs.

It would be interesting to provide an option `xcom_json` to deserialize this last log line in case it's a JSON string, before sending it as XCom. This would allow to access its attributes later in other tasks with th

[2022-10-16 20:38] snesarevv commented on #20309
@Bl3f yes, you're not alone here

[2022-10-16 20:42] wolfier commented on #26542
The new liveness probe on the Celery Worker (#25561) doesn't fix the root issue but does put in safeguards to reset the worker when workers become catatonic.

[2022-10-16 21:38] alexakra opened #27080 "Git Sync containers are missing when Dag Processor is enabled"
### Official Helm Chart version

1.7.0 (latest released)

### Apache Airflow version

2.3.4

### Kubernetes Version

1.22.6

### Helm Chart configuration

[code]

### Docker Image customisations

_No response_

### What happened

When Dag Processor is enabled, the Git Sync containers (git-sync-init and git-sync) are missing in airflow-scheduler pod.
They are neither part of the airflow-dag-process

[2022-10-16 22:07] alexandermalyga opened #27081 "Wrong missing args error when initialising operator with multiple inheritance"
### Apache Airflow version

2.4.1

### What happened

When initialising an operator with multiple inheritance, an exception is raised:
`airflow.exceptions.AirflowException: missing keyword argument ...`

This only happens when multiple parent classes share an attribute name in their `__init__` method.

### What you think should happen instead

Multiple inheritance with shared attribute names in th

[2022-10-17 00:19] #24297 closed

[2022-10-17 03:54] uranusjr commented on #27081
How? I removed `BaseOperator` from the given example:

[code]

And it still fails.

[code]

Python’s `super` chain follows MRO (C→B→A→BaseOperator in this example), so the `super().__init__` calls in `C.__init__` calls `B.__init__`, **and the `super().__init__` in `B.__init__` calls `A.__init__`**, which is missing the required `value` argument.

From what I can tell, `apply_defaults` is doing its

[2022-10-17 03:54] #27081 closed

[2022-10-17 06:11] tirkarthi opened #27082 "Airflow database migration fails in MySQL group replication mode"
### Apache Airflow version

Other Airflow 2 version (please specify below)

### What happened

We are running MySQL in group replication mode and as per docs a primary key is required in a table. We noticed during our migration from Airflow 2.1.x to 2.3.4 that Airflow creates a temporary table to perform xcom related migrations by inserting the records and then renaming the table __airflow_tmp_xco

[2022-10-17 06:23] tirkarthi opened #27084 "Airflow TaskInstance endpoing API error for old task instances : 'V1Container' object has no attribute '_startup_probe'"
### Apache Airflow version

main (development)

### What happened

Opening issue as per comment : https://github.com/apache/airflow/issues/23727#issuecomment-1207530417 . We have also noticed this issue where we have a 2.1.x setup using Kubernetes executor and on upgrade the new task instances created post upgrade are working fine in task instance endpoint. The old objects fail with similar traceb

[2022-10-17 06:37] ephraimbuddy commented on #27082
Did you try upgrading to 2.4.1? The issue may have been fixed

[2022-10-17 06:54] dstandish commented on #27084
In 2.4.1 you probably still get that error because your raw value has already been pickled with the old k8s library and with the new version of the libary you can't unpickle it so there's nothnig you can do at that point.

What https://github.com/apache/airflow/pull/24117 does though is fix it on a go forward basis (by serializing to json) so we shouldn't have issues.

Note that we followed up tha

[2022-10-17 08:28] uranusjr commented on #27082
It’s likely not fixed, at least I don’t see anything relevant. Would creating the pks before inserting be a sufficient fix? We can do that only for MySQL.

[2022-10-17 08:29] tirkarthi commented on #27082
Unfortunately, our upgrade target is 2.3.4 . The upgrade actually fails midway from 2.1.x to 2.3.4 and this migration is for moving some invalid data during 2.3.0 adding some new constraints. So the upgrade from 2.1.x will still fail for 2.4.x if I understand alembic migrations correctly since the file in main is the same as 2.3.4 release.

[2022-10-17 08:30] uranusjr commented on #27082
This can be fixed if a release fixes _the migration file itself_.

[2022-10-17 08:31] ephraimbuddy commented on #27082
Sometimes we fix issues on the migration files in a release

[2022-10-17 08:32] tirkarthi commented on #27082
Yes, that's the fix we did internally. I am also not sure how many users use the group replication setup in MySQL since I couldn't find any existing bug reports related to this but will be happy to add a PR.

[2022-10-17 08:34] uranusjr commented on #27079
People should be encouraged more to create new, ad-hoc operators, if you ask me. Classes are first-class in Python, and an Airflow DAG is Python, so it’s most productive to use Python. If we try to put every possible customisation in operators, the end result would not be different from, say, using a YAML file, and defeats to purpose to use Python in the first place.

[2022-10-17 08:39] uranusjr commented on #27077
Unfortunately this is not possible in the current implementation. Maybe we could support it though, it’s not particularly easy to imagine people are actively naming files like Jinja templates that this feature addition would break compatibility (and we can always add a config for this if we are worried).

In the mean time, I’m changing this to a feature request instead.

[2022-10-17 08:50] tirkarthi commented on #27084
Thanks @dstandish, agree with your point that the pickled value stored in database is incompatible. Some of our users might use ~ to fetch all task instances of all dagruns where they hit this with one faulty task instance causing server error for all other compatible task instance objects in the API. They don't really use `executor_config` and hence we did a patch similar to linked PR where we ad

[2022-10-17 08:51] kameshkotwani commented on #27077
Thank you for considering it, meanwhile I was able to do the required task using vanilla python and PythonOperator, I have attached the code, might help someone with same requirement as mine.

[code]

[2022-10-17 09:20] rajeshdhanda opened #27089 "Need alert for dag import error"
### Description

dag import fails sometimes due to some changes in sys config, ignored rare case scenario.
Need an alert on slack/mail whenever dag import fails.

### Use case/motivation

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https:/

[2022-10-17 10:32] eladkal commented on #27089
Duplicate of https://github.com/apache/airflow/issues/10968

[2022-10-17 10:32] #27089 closed

[2022-10-17 10:34] eladkal commented on #20903
Closing infavor of #12611

[2022-10-17 10:34] #20903 closed

[2022-10-17 10:41] eladkal commented on #27077
What process creates the actual file?

[2022-10-17 13:29] kameshkotwani commented on #27077
There is a python function which creates the file, here is the code:
[code]

[2022-10-17 14:18] nivaldoh opened #27093 "Missing documentation for GCP BigQuery transfer operators"
### What do you see as an issue?

The transfer operators from and to Google Cloud BigQuery seem to be currently missing in the documentation.

Current documentation on Google Cloud transfer operators: https://airflow.apache.org/docs/apache-airflow-providers-google/stable/operators/transfer/index.html

List of the possible missing operators in the documentation: BigQueryToBigQueryOperator, BigQuery

[2022-10-17 15:55] dstandish commented on #27084
Oh I see so your concern is specifically with the API.  I didn't register that initially.  Yeah I'm sure there could be a fix for the scenario you mention.

[2022-10-17 15:56] dstandish commented on #27084
Do mention this issue in the PR and tag me

[2022-10-17 17:03] eladkal commented on #27093
Feel free to submit PR (yes, you can make it in a single one)

[2022-10-17 17:24] qcha41 commented on #27079
I agree but here, we talk about a feature that already exists implicitely  in other operators. For instance, with a PythonOperator, you can push a Python dictionnary, and directly use it as a dictionnary with the `xcom_pull()` method.

[2022-10-17 17:25] o-nikolas commented on #27078
Hey @btoh!
Thanks for submitting this issue. Can you update theHow to Reproduce section with how you're providing the endpoint url? Providing all the exact inputs to the connection (redacting or changing any sensitive names account numbers of course) will help folks triage this further.

[2022-10-17 17:46] o-nikolas opened #27096 "Use Boto waiters instead of customer _await_status method for RDS Operators"
### Description

Currently some code in RDS Operators use boto waiters and some uses a custom `_await_status`, the former is preferred over the later (waiters are vetted code provided by the boto sdk, they have features like exponential backoff, etc). See [this discussion thread](https://github.com/apache/airflow/pull/27076#discussion_r997325535) for more details/context.

### Use case/motivation

[2022-10-17 18:06] o-nikolas commented on #16204
Looks like this bug is still present and the proposed PR was marked as stale due to inactivity.
@eitanme are you willing to open another PR, to try get this one pushed through?

[2022-10-17 19:44] sam-som commented on #21325
Hi @blcksrx
Are you still planning to work on the fix for this?
I see that you have a closed PR - https://github.com/apache/airflow/pull/21327/files

[2022-10-17 22:08] o-nikolas commented on #26511
The PR has been updated, the access key and secret are now fetched from the hook credentials. @ChirangaL please have a look at the current state of the PR to see if it should suffice for your usecase?

[2022-10-17 22:12] ferruzzi commented on #22438
Quick update, the following are not checked off above:

- airflow/providers/amazon/aws/example_dags/example_emr.py
  - @syedahsn is working on this one right now.

- airflow/providers/amazon/aws/example_dags/example_eks_templated.py
  - All of the operators in this DAG are tested in other system tests which have already been converted, so there is no added benefit to converting this one.  It was i

[2022-10-17 22:16] o-nikolas commented on #22632
@jyotidhiman0610 Are you still working on this one?

Tests such as these that rely on paid external accounts are tricky to maintain long term. Let us know if you're having issues.

[2022-10-17 22:21] o-nikolas commented on #23437
Unassigning Phani so that someone else can pick this up.

[2022-10-17 22:35] o-nikolas commented on #26196
Is this really true? From Python docs [here](https://docs.python.org/3/tutorial/errors.html#defining-clean-up-actions):

[2022-10-17 22:42] o-nikolas commented on #26725
Hey @suselunarwolf
Sorry we hadn't gotten back sooner! I've assigned this task to you :)

[2022-10-17 22:45] o-nikolas commented on #25522
Unassigning Camille, so that others are free to take this task, since we have not heard back.

[2022-10-17 22:51] o-nikolas commented on #25322
@vara-bonthu's PR has been merged. Closing this issue as fixed :)

[2022-10-17 23:07] karakanb opened #27100 "Task gets stuck when the DB is unreachable"
### Apache Airflow version

Other Airflow 2 version (please specify below)

### What happened

I have been experiencing the tasks are getting stuck in running state forever when the DB is unreachable during the scheduling period for some reason.

My setup:
- Airflow v2.3.4 on Kubernetes
- Postgres as the DB + pgbouncer in front of it, managed by DigitalOcean

Here's a how it happened:
- I have som

[2022-10-17 23:13] ferruzzi commented on #26196
As Niko said, the "finally" should be executed whether there is an exception or not:

![image](https://user-images.githubusercontent.com/1920178/196300056-c0d042a6-923b-44bb-be97-cd189348f113.png)

[2022-10-17 23:30] o-nikolas commented on #22037
Hey @hsrocks! Are you still looking into this one?

[2022-10-18 00:53] hankehly commented on #27096
I will work on this issue. Please assign me.

[2022-10-18 06:27] #25322 closed

[2022-10-18 10:35] dinigo opened #27107 "Dbt cloud download artifact to a path not present fails"
### Apache Airflow Provider(s)

dbt-cloud

### Versions of Apache Airflow Providers

[code]

### Apache Airflow version

2.2.5

### Operating System

Ubuntu 18.04

### Deployment

Composer

### Deployment details

_No response_

### What happened

Instructing `DbtCloudGetJobRunArtifactOperator` to save results in a path like `{{ var.value.base_path }}/dbt_run_warehouse/{{ run_id }}/run_results.jso

[2022-10-18 11:17] Taragolis commented on #27078
Right now during creation sts client for assume role we only set botocore.config.Config and do not use all other parameters [from Connections Extra](https://airflow.apache.org/docs/apache-airflow-providers-amazon/stable/connections/aws.html#configuring-the-connection).

https://github.com/apache/airflow/blob/ea55626d79fdbd96b6d5f371883ac1df2a6313ec/airflow/providers/amazon/aws/hooks/base_aws.py#L1

[2022-10-18 11:29] blcksrx commented on #21325
Hey @sam-som, I mentioned that in the PR that I can not test it and I get 404 error from this Operator. could you please verify that also this operator does not work?

[2022-10-18 12:50] #26375 closed

[2022-10-18 13:02] #25259 closed

[2022-10-18 13:20] btoh commented on #27078
Hi @o-nikolas, here is some sample code I'm using:
`conn = Connection(conn_id='aws_test', conn_type='aws', extra = {'region_name':'eu-west-2', 'role_arn': 'arn:aws:xxxxxxx', 'assume_role_method': 'assume_role', 'host': 'elasticmapreduce.eu-west-2.amazonaws.com'})`

I then commit this connection using `settings.Session().add(conn)` and then `settings.Session().commit()` to persist the connection in

[2022-10-18 13:38] btoh commented on #27078
@Taragolis  - thanks for the comment. I'm still quite unsure about using botocore.config.Config, because I tried to use that as follows: `config = botocore.config.Config(endpoint_url = 'elasticmapreduce.eu-west-2.amazonaws.com')`, and I get a `TypeError: Got unexpected keyword argument: 'endpoint_url'`, so I'm not exactly sure that the endpoint url can be passed in through Config. Can you please p

[2022-10-18 14:05] LainerDonet commented on #10964
I feel this issue has to be relate with python version and apache airflow version. I had the same issue.

[2022-10-18 15:11] jyotsa09 commented on #20554
I have tried same dag with 2.4.1 but now it's not creating any records for me.

![2022-10-18 20 39 46](https://user-images.githubusercontent.com/88504849/196470406-269f147d-c19b-420b-b336-67fd5eb6fe87.gif)

cc: @ephraimbuddy

[2022-10-18 16:02] Taragolis commented on #27078
I do not know your case and why you need to specify `endpoint_url` because it is not general use case.

However if you have timeout issues with access to any of the AWS endpoints (like `https://sts.amazonaws.com`) usual it refers to some miss configuration in VPC, like something wrong configure in route tables within VPC (no route to Internet Gateway, NAT Gateway or VPC Endpoints)

[2022-10-18 17:13] stephenonethree commented on #26834
I got this on Airflow 2.4.0. At first I ran `airflow db upgrade` to finish my install (just on my laptop since this is a local installation) and it was fine, but I noticed some warnings unrelated to this topic that came up when parsing my DAGs, stuff related to roles not existing etc. So I fixed my issue with roles and ran `airflow dags reserialize` again to check if those other warnings were gone

[2022-10-18 17:57] volvocarsmatt opened #27114 "Problems mounting an externally populated file share for the DAGs with the Helm chart"
### Official Helm Chart version

1.7.0 (latest released)

### Apache Airflow version

2.4.1

### Kubernetes Version

v1.23.8

### Helm Chart configuration

Fresh install for testing

[code]

### Docker Image customisations

Default

### What happened

I tried to mount a static externally populated file share for the DAGs using the Helm chart, but for some reason I get strange error messages. I inc

[2022-10-18 18:42] #27114 closed

[2022-10-18 19:58] jjournet commented on #20705
does that mean that today, we can't use a SSO solution (like keycloak) with Airflow ?

[2022-10-18 20:12] erdos2n opened #27118 "Autorefresh on Graphview is not working on UI 2.4.1"
### Apache Airflow version

2.4.1

### What happened

When clicking on GraphView and running a DAG the autorefresh is no longer working, when checking the logs of the browser the following message is showing

[code]

### What you think should happen instead

Tasks should be changing statuses live on the Graph page as the DAG runs

### How to reproduce

Create a DAG using dynamic task mapping in 2.

[2022-10-19 05:36] #25952 closed

[2022-10-19 07:35] #26952 closed

[2022-10-19 09:34] Taragolis commented on #27078
I've double checked and found this is not correct in all cases.

Actually AWS has regional endpoints for STS (like `sts.eu-west-2.amazonaws.com`) but boto3 use STS global endpoint by default, see: https://docs.aws.amazon.com/sdkref/latest/guide/feature-sts-regionalized-endpoints.html, and [there is no public API in boto3/botocore](https://github.com/boto/botocore/issues/2202) for change this param

[2022-10-19 09:34] sandeeppure opened #27130 "Assume Role with role_arn is failing in apache-airflow-providers-amazon==6.0.0. Works with apache-airflow-providers-amazon==5.0.0"
### Apache Airflow version

2.4.1

### What happened

I am attempting to submit AWS Batch Job with AWS BatchOperator.
I configured AWS Connection with role_arn for assuming a role. My assumed role is in a different account.
The assume role functionality is not working with apache-airflow-providers-amazon==6.0.0

When I downgraded to apache-airflow-providers-amazon==5.0.0 I could submit the job suc

[2022-10-19 09:47] LucaSoato commented on #20705
Do we have any news about SSO for Airflow?

[2022-10-19 11:06] stromal commented on #26881
@HengKevin

1.) I would advise to add this line to the base docker-compose.yml file
[code]

2.) this is good Dockerfile example

[code]

[2022-10-19 11:24] tirkarthi commented on #26936
Since Airflow 2.4.0 has autoregister feature enabled by default the top level `BaseDag` is registered once dummyA is loaded. Once dummyB is loaded the dummyA/dag.py tries to import BaseDag from dummyA which gets autoregistered. During autoregister the mod is set to dummyB using `current_autoregister_module_name` attribute that is again assigned to the BaseDag which leads to incorrect fileloc and s

[2022-10-19 11:33] stromal opened #27131 "Scheduled runtime and actual runtime totally different"
### Apache Airflow version

2.4.1

### What happened

# Situation

- I have a DAG file that is scheduled to rune at 1:30 am UTC
- but in the logs it shows that it have started running at 2022-10-19, 08:09:12 UTC
- It have run for about the same period as before and delivered the data correctly from point A to B
- I haven't modified this DAG file for days
- there is nothing else scheduled for this

[2022-10-19 11:41] HengKevin commented on #26881
Thanks for the suggestion, I will try that.

[2022-10-19 11:44] HengKevin commented on #26881
@stromal do I need to create a new docker file or make edit to the existing one?

[2022-10-19 13:07] aa3pankaj opened #27135 "Unable to migrate from 2.2.5 to 2.3.1 - airflow db upgrade error"
### Apache Airflow version

Other Airflow 2 version (please specify below)

### What happened

pip freeze result:

[code]

`airflow db upgrade` returns below error:

[code]

`select * from alembic_version` returns:
587bdf053233

### What you think should happen instead

upgrade process should be seamless

### How to reproduce

_No response_

### Operating System

macOS 12.5 (21G72) - Darwin 21.6.0

[2022-10-19 13:26] bbovenzi commented on #27042
What were the console logs you were seeing?

[2022-10-19 13:28] Taragolis commented on #27130
@sandeeppure Do you use initial credentials (access key / secret key) for assume role?

If so it most possible will fix by https://github.com/apache/airflow/pull/26946

[2022-10-19 13:46] ybantes-esure opened #27138 "Airflow 2.4.1 ab_permission_view_role database error"
### Apache Airflow version

2.4.1

### What happened

I am trying to update airflow to version 2.4.1. The current version is 2.2.1 . I tried running airflow db upgrade, I tried to drop the database and run db init, I also tried to run it without running airflow db init in a fresh database. I am always getting the same error:

`Traceback (most recent call last):
  File "/usr/local/bin/airflow", lin

[2022-10-19 14:02] csp33 opened #27140 "Invalid livenessProbe for Standalone DAG Processor"
### Official Helm Chart version

1.7.0 (latest released)

### Apache Airflow version

2.3.4

### Kubernetes Version

1.22.12-gke.1200

### Helm Chart configuration

[code]

### Docker Image customisations

[code]

### What happened

Current DAG Processor livenessProbe is the following:
[code]
This command checks the metadata DB searching for an active job whose hostname is the current pod's one (_

[2022-10-19 14:04] csp98 commented on #25667
@VladimirYushkevich I believe the Standalone DAG Processor issue is totally different. I have documented my theory in the following issue: https://github.com/apache/airflow/issues/27140

[2022-10-19 15:35] ahoodasf commented on #16176
I had the same issue there were multiple reasons, so thought of sharing

1. Initially I did not have enough nodes available in my k8s cluster so the airflow-run-airflow-migrations job pod was not getting scheduled
2. After increasing the number of nodes, I still had the same issue that was because I was using t3 micro (free tier) instances which do not support some kind of networking

[2022-10-19 15:41] ernestoongaro opened #27146 "dbt Cloud Provider Not Compatible with emea.dbt.com"
### Apache Airflow Provider(s)

dbt-cloud

### Versions of Apache Airflow Providers

_No response_

### Apache Airflow version

2.3.3

### Operating System

Linux

### Deployment

Composer

### Deployment details

_No response_

### What happened

Trying to use the provider with dbt Cloud's new EMEA region (https://docs.getdbt.com/docs/deploy/regions) but not able to use the emea.dbt.com as a tena

[2022-10-19 16:01] fzkhouy opened #27147 "SparkKubernetesOperator: Dag fails when application_file sent as a ".yaml" file"
### Apache Airflow version

2.4.1

### What happened

**When defining Kubernetes 'custom_resource_definition' of 'sparkApplication' as  a path to a '.yaml' file:**
the dag fails with this Error:
[code]

### What you think should happen instead

The normal behavior and referred to airflow documentation is to read the application_file ".yaml" and get the  `name=body["metadata"]["name"]`  in my case:

[2022-10-19 16:38] dschneiderch commented on #14261
hi, I am still running into this behavior.  Using the provided Airflow 2.3.4 image with Helm chart 1.7 and the scheduler restarts every 5 min. I logged into the scheduler pod and ran the liveness probe as listed in teh config
[code]

[2022-10-19 17:55] noah-gil commented on #16176
I was able to resolve this for my single-node testing cluster. Checking the `kubectl describe` for the postgresql pod, I noticed that it could not bind a persistent volume claim, which had the effect of every pod failing to connect to postgres (as it could not start). I also noticed that other pods failed to bind a persistent volume claim too, namely the redis and worker pods. The solution was to

[2022-10-19 20:02] eladkal commented on #17604
To my understainging the original issue reported was resolved.
If there are followup issues please open a new bug report and refrence this one (we prefer to keep issues focused on a specific problem so we can keep track)

I'm closing this one as completed.

[2022-10-19 20:02] #17604 closed

[2022-10-19 20:04] eladkal commented on #18380
@macdonald-keith-vmware is the issue still happens on latest version of kubernetes provider ?

[2022-10-20 01:31] Bowrna commented on #15353
I am currently working on this issue (and another one too) and hope to make some progress by this weekend.

[2022-10-20 01:31] Bowrna commented on #25926
I am currently working on this issue (and another one too) and hope to make some progress by this weekend.

[2022-10-20 02:08] ferruzzi commented on #21711
Sounds like a plan.  I'll try to get it implemented in the next few days.

[2022-10-20 07:38] jholowaty commented on #22727
Hi!! when do you think this could be resolved? In the meantime we build a custom airflow image with the google-cloud-cli and google-cloud-sdk-gke-gcloud-auth-plugin inside. Thanks!!!

[2022-10-20 07:41] lukas-at-harren commented on #22727
@jholowaty

You must understand that everything at Google is an API, and you can call it. Even the listing of clusters and getting its credentials.

Kind regards,

Lukas Rieder
––
Data & Cloud Engineer (ext.)
On 20. Oct 2022 at 09:38 +0200, jholowaty ***@***.***>, wrote:

[2022-10-20 07:43] jholowaty commented on #22727
Can you give me and example how get the credentials without the cli to the GKEStartPodOperator? Thanks!!

[2022-10-20 07:46] JasperSui commented on #8181
Same here.

[2022-10-20 07:49] hugochinchilla commented on #22738
I'm still seing unmasked values for secrets on the rendered section for a pending task, once it runs the values get masked. In my case this is happening in the environment field of a docker operator. I don't know if the problem happens only because it's a different field, maybe the tests for this should be extended.

I'm using Airflow 2.3.4

[2022-10-20 07:52] lukas-at-harren commented on #22727
Here is the documentation on how to provide identity to a Kubernetes workload (e.g. Deployment).
https://cloud.google.com/kubernetes-engine/docs/how-to/workload-identity

We use workload identity to provide a Google Service Account to our Airflow workers.

That SA has the rights to list the cluster and obtain its credentials.

Therefore if you call the Google API from within a worker pod that has

[2022-10-20 07:57] hugochinchilla commented on #22738
Here is an example on how the issue can still be reproduced:

[code]

[2022-10-20 08:15] selvakumar-arumugapandian opened #27157 "JSON Linter in Variables"
### Description

# JSON Linter in Variables

## For example:
I have a variable named ***"my_var_group"***, with the following value

[code]
Imagine, I am using this variable "my_var_group" in 500+ DAGs and any mistake in the JSON fails to load all the 500+ DAGs.

So, A feature which does automatic linting of JSON object (By throwing error during variable creation/update) shall ensure that "error"

[2022-10-20 08:22] tirkarthi commented on #27147
Can you please add a sample dag file to reproduce this? I tried below code with "config.yaml" relative to the dag file and with a print statement in airflow code before the yaml parsing at https://github.com/apache/airflow/blob/b9e133e40c2848b0d555051a99bf8d2816fd28a7/airflow/providers/cncf/kubernetes/hooks/kubernetes.py#L281-L284. I was able to see the yaml content.

[code]

[code]

[2022-10-20 09:17] afsalabdup commented on #9327
I am referring this -  "A dag run that hasn't even started yet, but is yet
to run in a future schedule."

Regards,
Afsal

On Thu, Oct 20, 2022, 11:51 AM Bhavani Ravi ***@***.***>
wrote:

[2022-10-20 09:37] tirkarthi commented on #27138
In future it will be helpful to have properly formatted traceback posted. As per traceback you have custom auth_backend class at `/etc/airflow/config/token_auth.py` where you are importing `User` from `flask_appbuilder.security.sqla.models` that causes `Role` from flask_appbuilder to get registered meanwhile there is already Role defined at `airflow/www/fab_security/sqla/models.py` . Please import

[2022-10-20 10:42] george-zubrienko commented on #26394
@potiuk We no longer observe the issue on the following setup:

Kubernetes Executor (1.22.11) / Airflow 2.4.1-python3.9 / Helm Chart 1.7.0 with dag processor enabled.

[2022-10-20 10:57] eladkal commented on #26394
Cool
closing it as non reproducible.

[2022-10-20 10:57] #26394 closed

[2022-10-20 11:36] stromal commented on #26881
@HengKevin
- The one that I have provided is the best, because in most use cases people extend the original image.
- So in the guide I could not find any other Dockerfile examples for ExternalPythonOperator https://airflow.apache.org/docs/apache-airflow/stable/howto/operator/python.html#externalpythonoperator
- So it have to be a new part of the article.

[2022-10-20 11:39] pspeter opened #27159 "Graph view reload does not work anymore"
### Apache Airflow version

2.4.1

### What happened

Clicking Refresh on the graph view of any DAG does not refresh the view, it just gets stuck refreshing forever.
In the JS console, it displays the following error message on each refresh:

[code]

This happens even on a fresh DAG with no runs, even if the JSON returned by the request to `/object/task_instances?dag_id=test_dag&execution_date=202

[2022-10-20 11:44] akakakakakaa opened #27160 "WorkflowsCreateExecutionOperator execution argument only receive bytes"
### Apache Airflow version

Other Airflow 2 version (please specify below)

### What happened

## Airflow Version
airflow 2.3.2

## Problem
`WorkflowsCreateExecutionOperator` triggers google cloud workflows and execution param receives argument as `{"argument": {"key": "val", "key", "val"...}`

But, When I passed argument as dict using `render_template_as_native_obj=True`, protobuf error occured `

[2022-10-20 11:48] george-zubrienko commented on #27140
A temporary workaround for this is to set liveness probe command to `exit 0`.

in terraform `helm_release`:
[code]
or in helm deploy:
[code]

[2022-10-20 11:48] george-zubrienko commented on #27140
and btw, documentation is missing the liveness probe command entry. Found it is overridable in the chart source code :)

[2022-10-20 11:59] george-zubrienko commented on #27140
In our case we would see this in Datadog alerts. It is better than a non-working liveness probe that in the end goes in crashloopback and you get delays in dag processing.

[2022-10-20 12:02] csp98 commented on #27140
our fix for the moment is to use the non-standalone dag-processor ;)

[2022-10-20 12:12] ephraimbuddy opened #27161 "Status of testing of Apache Airflow 2.4.2rc1"
### Body

We have a kind request for all the contributors to the latest [Apache Airflow RC 2.4.2rc1](https://pypi.org/project/apache-airflow/2.4.2rc1/).

Could you please help us to test the RC versions of Airflow?

Please let us know in the comment if the issue is addressed in the latest RC.

- [ ] [Retry on Airflow Schedule DAG Run DB Deadlock (#26347)](https://github.com/apache/airflow/pull/263

[2022-10-20 13:21] fzkhouy commented on #27147
**Thnak you for your reply. Well this is the dag file that reproduce the problem:**
[code]
 **When debugging on my own, i found that the problem is in this function**
https://github.com/apache/airflow/blob/b9e133e40c2848b0d555051a99bf8d2816fd28a7/airflow/providers/cncf/kubernetes/hooks/kubernetes.py#L33-L38

because when debugging it :

- _generating the same problem by this code (the actual code

[2022-10-20 14:03] theophanevie commented on #15799
Having this issue on airflow `2.4.1` aswell

celery version 5.2.7

celery configuration :
[code]

worker log :
[code]

[2022-10-20 14:05] rotemseekingalpha opened #27163 "Fail to view grid for new DAGs"
### Apache Airflow version

Other Airflow 2 version (please specify below)

### What happened

When introducing new DAGs to our Airflow 2.4.0 environment, the web server failed to update Flask permissions and the UI could not show the DAGs, although they were accessible through airflow CLI (`airflow dags list`, `airflow tasks list <dag>`, `airflow tasks render <dag> <task> <date>`).
I tried to fix

[2022-10-20 14:14] rotemseekingalpha commented on #27163
As I understand it, the tables unique constraints should be created with default as the corresponding sequence's next value.
[code]

[2022-10-20 14:50] #27160 closed

[2022-10-20 15:05] set92 commented on #27159
In my case, with Chrome shows
[code]

And we also upgraded from 1.4 to 2.4.1, and the error is in graph view.

[2022-10-20 15:21] tirkarthi commented on #27147
I receive below error on trying to reproduce this with the posted dag file. The config file should be relative to the dag or config file should be present as under the value template_searchpath. The application_file should be replaced with file content in below code part using `resolve_template_files` function where all extensions .yaml, .json and .yml are checked. If I add a trailing space after

[2022-10-20 15:52] stuart23 opened #27166 "Carets in Grid view are the wrong way around"
### Apache Airflow version

main (development)

### What happened

When expanding tasks to see sub-tasks in the Grid UI, the carets to expand the task are pointing the wrong way.

### What you think should happen instead

Can you PLEASE use the accepted Material UI standard for expansion & contraction - https://mui.com/material-ui/react-list/#nested-list

### How to reproduce

_No response_

### O

[2022-10-20 16:06] tirkarthi commented on #27166
cc: @bbovenzi

[2022-10-20 16:07] bbovenzi commented on #27166
You're right. Our warning messages are also inconsistent.
<img width="1039" alt="Screen Shot 2022-10-20 at 12 06 59 PM" src="https://user-images.githubusercontent.com/4600967/197001087-04492b2b-1d6d-4ae8-8425-75dc9f15302c.png">

[2022-10-20 16:07] #27159 closed

[2022-10-20 16:10] bbovenzi commented on #27118
Fixed in https://github.com/apache/airflow/pull/26926

[2022-10-20 16:10] #27118 closed

[2022-10-20 16:15] bbovenzi commented on #26905
We're trying to bring more at-a-glance info into the grid view, like logs. This would be a good one too.

[2022-10-20 16:16] baruch-shteken commented on #25904
I looked at this issue again and when an authentication is made with a PAT then the `site_id` and `credentials_token` are obtained. `credentials_token` is valid for 4 hours and should be able to be used with parallel processes. Hence, for PATs, the Airflow code should use the obtained `site_id` and `credentials_token` after the first authentication and not create a new ones from the PATs (unless 4

[2022-10-20 16:16] tirkarthi commented on #27166
The change for caret in grid page is to be done at this conditional to swap them : https://github.com/apache/airflow/blob/b9e133e40c2848b0d555051a99bf8d2816fd28a7/airflow/www/static/js/dag/grid/TaskName.tsx#L60

[2022-10-20 17:04] pierrejeambrun commented on #27161
Hello all,

I tested #26822 and #26926.  Working as expected :+1:

To test #26762 we need an error from an `api_connexion` endpoint called from the `Grid` UI. (The toast should be properly displayed for ProblemException response). Unfortunately I wasn't able to test that. This is a really minor fix.

[2022-10-20 18:04] stuart23 commented on #27166
Thanks @tirkarthi - do you want to make the PR?

[2022-10-20 18:50] alexandermalyga commented on #26774
This was recently fixed on Trino's side in [this commit](https://github.com/trinodb/trino-python-client/commit/ed4f9daedad2646f9f68c0ca805a2cb94ab0b5ee). I'll open a PR to bump the client's version.

[2022-10-20 19:17] bbovenzi commented on #26892
@tseruga could you share the `created_at` time for the most recent dag run? I wonder if somehow dag run was created after the next update to `test_dataset`

https://github.com/apache/airflow/blob/8898db999c88c98b71f4a5999462e6858aab10eb/airflow/www/views.py#L3461-L3468

[2022-10-20 22:46] eitanme commented on #16204
@o-nikolas it's been a bit, but I can try to open a new PR (or re-open the old one) if you're up for reviewing and helping me get it through? The last one didn't see much in the way of activity or responses...

[2022-10-20 22:57] o-nikolas commented on #16204
Hey @eitanme,

I do apologize about that, it wasn't a great experience for your first contribution! But we really appreciate your time, I'll definitely have a look at the PR if you re-raise it, feel free to ping me directly on it once it's up.

[2022-10-21 00:17] os1980 opened #27172 "Persistent DAG history"
### Description

DAGs are changing over time and the graph, grid and other views should be persistence to reflect the state of the DAG at that specific point in time.
Currently the views are showing only the current definition of the DAG even for historical runs when the definition were different.

1. First definition with five tasks.

<img width="1182" alt="dag_run_1" src="https://user-images.git

[2022-10-21 00:51] dongwangdw commented on #17373
Why I still got this issue in 2.4.1?

[2022-10-21 03:10] uranusjr commented on #27172
See [AIP-36: DAG Versioning](https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-36+DAG+Versioning). Feel free to contribute to the proposal.

[2022-10-21 03:10] #27172 closed

[2022-10-21 04:09] shashwata27 commented on #27166
@stuart23 is it solved or I can?

[2022-10-21 04:12] shashwata27 commented on #26565
@potiuk im opening the PR

[2022-10-21 05:28] tirkarthi commented on #27166
@shashwata27 I am not working on this issue. Please feel free to proceed.

[2022-10-21 05:29] shashwata27 commented on #27166
@tirkarthi ok I will make a PR soon

[2022-10-21 05:44] emincanoguz11 commented on #27029
@o-nikolas Hi Nikolas,

If you have a free time please check this PR. Thanks for your support
[PR Link](https://github.com/apache/airflow/pull/27174)

[2022-10-21 05:51] dongwangdw opened #27175 "2.2.3 deps conclicts between celery and flask."
### Apache Airflow version

Other Airflow 2 version (please specify below)

### What happened

I try to install airflow 2.2.3. But  I got errors like:
[code]

airflow here requires celery at least 5.2.3 which requires click <9.0,>=8.0.3. But flask 1.1.4 requres 7.1.2.

### What you think should happen instead

No deps conflicts.

### How to reproduce

Just install airflow 2.2.3.

### Operating Sys

[2022-10-21 08:23] m1racoli commented on #22738
@hugochinchilla I believe you need to store your secret in an Airflow variable or connection and then use jinja to render it in your `MY_VARIABLE` value in order to take advantage of secrets masking. Not sure this works for hard-coded values.

Also secrets should not be hardcoded or loaded during DAG parsing (more in [Airflow Best Practices](https://airflow.apache.org/docs/apache-airflow/stable/be

[2022-10-21 08:49] eladkal commented on #27175
Do you install with constraints?

[2022-10-21 09:32] nicolamarangoni opened #27180 "Only partial metrics sent to statsd when the airflow services run on different hosts (AWS Fargate tasks)"
### Apache Airflow version

2.4.1

### What happened

We have an AirFlow-Deployment on **AWS Fargate** where each service (webserver, scheduler, dag-processor, celery-workers) are running in their own task, each task has a different hostname and ip.
We also have a separated task with a **datadog-agent** running a statsd (**dogstatsd**) server to which we want to push airflow metrics.
We have `stat

[2022-10-21 11:34] #26910 closed

[2022-10-21 12:29] punx120 opened #27182 "SSHOperator ignores cmd_timeout"
### Apache Airflow Provider(s)

ssh

### Versions of Apache Airflow Providers

_No response_

### Apache Airflow version

2.4.1

### Operating System

linux

### Deployment

Other

### Deployment details

_No response_

### What happened

Hi,

SSHOperator documentation states that we should be using cmd_timeout instead of timeout
[code]

But the code doesn't use cmd_timeout at all - and it's still

[2022-10-21 13:21] raphaelauv commented on #27161
2.4.2rc1 working well with "major" operators

![Screenshot from 2022-10-21 15-20-12](https://user-images.githubusercontent.com/10202690/197205571-f3251786-ce27-4172-b53d-e15293988dbf.png)

[2022-10-21 13:29] gmsantos commented on #27161
All good from #26393

[Airflow constraints](https://github.com/apache/airflow/blob/constraints-2-4/constraints-3.10.txt) were updated as expected.

[2022-10-21 14:37] bbovenzi commented on #27157
Good idea. Feel free to copy over the JSON linter we use for a dag run config: https://github.com/apache/airflow/blob/main/airflow/www/templates/airflow/trigger.html

[2022-10-21 16:17] bcheerla4509 opened #27186 "Airflow schedule skips current run and next schedule"
### Apache Airflow version

Other Airflow 2 version (please specify below)

### What happened

Airflow Version: 1.10.14

We have below schedule for our DAG, we are intended to run the dag on all days except on Saturday.
So the schedule was 00 12 * * 0-5
however we observed that the DAG scheduled for Friday doesn't executed on Saturday, however it doesn't schedule the dag for Sunday's run too. So D

[2022-10-21 16:17] park-peter opened #27187 "Salesforce Provider: connection params in extra require "extra__salesforce__" prefix"
### Apache Airflow Provider(s)

salesforce

### Versions of Apache Airflow Providers

apache-airflow-providers-amazon==5.1.0
apache-airflow-providers-apache-hive==4.0.0
apache-airflow-providers-apache-livy==3.1.0
apache-airflow-providers-celery==3.0.0
apache-airflow-providers-cncf-kubernetes==4.3.0
apache-airflow-providers-common-sql==1.2.0
apache-airflow-providers-databricks==3.2.0
apache-airflow

[2022-10-21 18:02] eladkal commented on #27187
Since Airflow 2.3 the extra prefix is not required we are on the process of dropping support for it.
It should be resolved in https://github.com/apache/airflow/pull/27075

[2022-10-21 18:10] eladkal commented on #27186
We no longer investigate reports related to Airflow 1.10
Airflow 1.10 is end-of-life for long time.
Your issue may have been already resolved in newer versions.

Converting this report to Q&A discussion

[2022-10-21 18:13] eladkal commented on #27130
Should be resolved in https://github.com/apache/airflow/pull/26946

[2022-10-21 18:13] #27130 closed

[2022-10-21 20:09] eladkal commented on #25904
feel free to submit PR if you have a fix.
you can also write code that regenerate token before they expire. Example: https://github.com/apache/airflow/pull/17951

[2022-10-21 20:37] eitanme commented on #16204
@o-nikolas , OK, I've re-opened the PR after merging in main as #27190.

We can pick up discussion over there, hopefully it's pretty straightforward.

[2022-10-21 22:35] blag commented on #27161
All good from #26815. :+1:

[2022-10-21 23:07] hussein-awala commented on #27025
I don't think this is a bug, as the 'airflow.cfg' file contains the default configs and not the active configs.
Airflow [checks](https://github.com/apache/airflow/blob/main/airflow/configuration.py#L564-L588) if the conf exists in the environment variables first, if not, it tries to load it from file `airflow.cfg`.
You can create a shell on the scheduler container, and try to get the `core executo

[2022-10-22 00:18] #23803 closed

[2022-10-22 13:40] selvakumar-arumugapandian commented on #27157
@bbovenzi , Thank you. I shall check this out.

[2022-10-22 15:00] dakshin-k commented on #27161
#26880 looks good!

[2022-10-22 17:01] eladkal opened #27200 "Handle TODO: .first() is not None can be changed to .scalar()"
### Body

The TODO part of:
https://github.com/apache/airflow/blob/d67ac5932dabbf06ae733fc57b48491a8029b8c2/airflow/models/serialized_dag.py#L156-L158

can now be addressed since we are on sqlalchemy 1.4+ and https://github.com/sqlalchemy/sqlalchemy/issues/5481 is resolved

### Committer

- [X] I acknowledge that I am a maintainer/committer of the Apache Airflow project.

[2022-10-22 19:33] #27187 closed

[2022-10-22 22:53] potiuk commented on #26969
This is a basic design of Airlfow. And it is based on a number of premises - such as that parsing a python DAG might create different result every time it is run. If you want to propose a change here,  it takes far more than Feature - this calls for writing a proposal how to implement it (https://cwiki.apache.org/confluence/display/AIRFLOW/Airflow+Improvement+Proposals) , starting a discussion on

[2022-10-22 22:55] potiuk commented on #26861
Sounds cool

[2022-10-22 23:00] potiuk commented on #22404
I guess, it is similar but different. please open an issue with al details that you can get if you think you have similar issue. There is very little point in saying "I have the same issue" without providing any details, circumstances, logs, and explaining what happened in your case. This might or might not be the same issue. It's next to impossible to verify it by seeing

[2022-10-22 23:24] potiuk commented on #26888
Thanks for checking it @gfeldman  - going with the community code first is cool way of checking it - Airflow can be extended in many ways (pod_override is one of them) and  with great flexibility comes also a great responsibility :) - in simple cases we can help but the complex one requires more debug/analysis on the customisation side. Thanks for looking at it ! Really cool.

[2022-10-22 23:31] potiuk commented on #26980
I believe you should make sure that your task returns a serializable value. Maybe @uranusjr have more to talk about it but IMHO returning JSON serializable value is a responsibility of the person who wants the operator/task to work in dynamic task context.

Converting it into discussion if needed.

[2022-10-22 23:35] #26984 closed

[2022-10-22 23:43] potiuk commented on #18936
It nakes no sense to write "I have the same issue" if you cannot provide logs and circumstances. I suggest you upgrade to latest airflow version (in case it has been fixed) and in case you have stil the same issue, create a new issue, provde all the logs, information and circumstances. otherwise a comment "I have the same issue" adds precisely 0 value.

[2022-10-23 00:09] potiuk commented on #26978
And let me add to what @eladkal wrote  - @stfines-clgx - upgrading some dependencies is one of the best contributions you might provide - if your organisation wants to upgrade a dependency in a free software that is mostly maintained by voluntaries, spending your company resources to upgrade those deps is one of the best ways your organisation pays back (and easy way to become a contributor).

Thi

[2022-10-23 01:57] potiuk commented on #26854
Just to explain how it works and make sure expectations are set appropriately @timothy-khom

The thing is that in open-source project like this, features get implemented when .... someone implements it .. and this is soleley based one someone's interested in moving this forward. There is no "team" that would implement such feature merely because it is created. If you really want to implement a fea

[2022-10-23 16:44] eladkal commented on #26854
It also have some similarities with https://github.com/apache/airflow/issues/15951

[2022-10-23 20:55] potiuk commented on #26677
Please @nikhil-koul try to avoid repeating the same question in multiple places. I provide you guidelines on what you should do im https://github.com/apache/airflow/discussions/27050

[2022-10-23 21:05] potiuk commented on #27000
I will re-open this one. It has enough information to try to avoid the deadlock in the first place - the problem is that Triggerer acquires the same locks as scheduler but in a different sequence, the right solution should be to change either Triggerer (most likely) or scheduler (rather unlikely) to apply the same sequence for locks.

Most likely Triggered shoudl attempt to loclk DagRun first and

[2022-10-23 21:14] potiuk commented on #27000
I will take a look at this shortly (or maybe @ashb or @andrewgodwin might take a look at it before).

[2022-10-23 22:57] potiuk commented on #27065
I've addded a PR that should address it in #27223 @zachliu  - would it be possible that you test it in your installation?

[2022-10-23 23:00] potiuk commented on #27032
I think the only way to check is to try it.

[2022-10-24 00:12] potiuk commented on #27069
I think better solution would be to make it independent of the time. This is an inherent problem of tests that depend on particular timing that they might and will fail eventually. So better solution would be to fix the tests so that they do not dependen on timing. This can be handled better by introducing events and waiting for those.

And I encourage you to try to do it :)

But since this is oft

[2022-10-24 00:21] potiuk commented on #27069
BTW. In this particular case, i think the problem is that either test does not test what it should, or maybe the hearbeat mechanism should be changed to better match expectations.

The fact that hearbeats come wiht significant delays on a heavily loaded system if we expect them to come regularly, is actually disconnect between the expectations and reality.

We should either have more relaxed expec

[2022-10-24 00:35] potiuk commented on #15645
Yes. I think it should be - for consistentcy - fixed.  Not sure if "undoing" the optimisation is a good approach, more like fixing it so that start_date is not updated in this case.

[2022-10-24 01:42] potiuk commented on #27012
And that should also fix the same case for Python Virtualenv Operator (which should have the same problem).

[2022-10-24 02:00] potiuk commented on #26429
I assigned you too - so if you want ot help @qcha41 -> talk directly to @HeshamMeneisi

[2022-10-24 02:21] potiuk commented on #20309
One thing you can try. Can you set the PYTHONFAULTHANDLER variable before running airlfow ?
[code]
Setting this variable before running your airlfow might provide more information on what caused the problem - it will not make it possible to handle it better, but at least might save you the guesswork.

[2022-10-24 02:58] potiuk commented on #27082
Ideally the fix should be to detect if group replication is on and follow different migration path @tirkarthi.

We should not  - for example - disable it for "all mysql".

I think we have to assume that it will be a LOT slower when you have huge database - and it's rather regardless from the database used (seen this happening in all of the relational databases). The root cause of the slowness is t

[2022-10-24 03:04] potiuk commented on #27089
And my be fixed by https://github.com/apache/airflow/pull/26027 - it just needs fixing/rebasing/answering comments.

[2022-10-24 03:04] potiuk commented on #27089
Feel free to comment [there](https://github.com/apache/airflow/pull/26027) @rajeshdhanda if you need this as well.

[2022-10-24 05:15] jens-scheffler-bosch commented on #27032
We are on it - just have deployed via helm chart 1.7.0 - but as this problem only appeared randomly hard to predict if resolved. I'd be okay to close with the (positive) assumption that it is fixed and we maybe come back if we see another problem.

[2022-10-24 09:00] oleg-ruban opened #27225 "Tracking User Activity Issue: Google Analytics tag version is not up-to-date"
### Apache Airflow version

2.4.1

### What happened

Airflow uses the previous Google Analytics tag version so Google Analytics does not collect User Activity Metric from Airflow

### What you think should happen instead

The Tracking User Activity feature should work properly with Google Analytics

### How to reproduce

- Configure to use Google Analytics with Airflow
- Google Analytics does not

[2022-10-24 09:58] technopahadi opened #27228 "Nested Parameters Break for DAG Run Configurations"
### Apache Airflow version

Other Airflow 2 version (please specify below)

### What happened

Airflow Version Used: 2.3.3

This bug report is being created out of the following discussion - https://github.com/apache/airflow/discussions/25064

With the following DAG definition (with nested params):

[code]

**Note:** It does not matter whether `Param` and JSONSchema is used or not, I mean you can

[2022-10-24 11:35] ephraimbuddy commented on #27161
Airflow 2.4.2 has been released! Thank you all for testing this release.

[2022-10-24 11:35] #27161 closed

[2022-10-24 11:45] v-hunt commented on #24730
I think, I also can contribute on this, if required

[2022-10-24 12:56] aru-trackunit commented on #21386
Still happening on 1.6.0 :(

[2022-10-24 14:28] zachliu commented on #27065
sure thing :+1:

[2022-10-24 14:41] potiuk commented on #27084
@tirkarthi - I assigned you to it :). If you think you can make PR - cool, if you think it's not worth - let us know and we will close this one (you can also close it yourself).

[2022-10-24 15:07] potiuk commented on #27079
Actually I think that could be made into a common "AbstractOperator" feature when I think of it. We could add "deserialize_output" parameter so that any opertor can use it. I think we should even deserialize it using yaml, because then we will automatically handle both Yaml, and JSON (Yamlk is actually a 100% compatible superset of JSON - every proper JSON content is also a valid YAML).

WDYT @ura

[2022-10-24 16:18] enisnazif opened #27232 "ExternalPythonOperator: AttributeError: 'python_path' is configured as a template field but ExternalPythonOperator does not have this attribute."
### Apache Airflow version

Other Airflow 2 version (please specify below)

### What happened

Using the ExternalPythonOperator directly in v2.4.2 as opposed to via the @task.external decorator described in https://airflow.apache.org/docs/apache-airflow/stable/howto/operator/python.html#externalpythonoperator causes the following error:

[code]

This seems to be due to https://github.com/apache/ai

[2022-10-24 18:38] potiuk commented on #22438
ok. So I guess we should be able to close that one soon ? Can we just migrate the example_* files to tests/* anyway so that we do not have two places where to look for them ? Even if those will not be "regular" pytests, having them in tests/system (with a comment that they are not runnable yet) would make for a clean conversion and remove duplicated "examples" link in the documentation (legacy/new

[2022-10-24 18:54] matthewblock opened #27234 "Logs server doesn't fall back to local logs when Amazon CloudWatch logs aren't found"
### Apache Airflow version

Other Airflow 2 version (please specify below)

### What happened

We recently activated AWS Cloudwatch logs. We were hoping the logs server would gracefully handle task logs that previously existed but were not written to Cloudwatch, but when fetching the remote logs failed (expected), the logs server didn't fall back to local logs.

[code]

### What you think should h

[2022-10-24 19:03] potiuk commented on #27100
@karakanb  can you please take a look at your history/monitoring if any of the components of Airlfow (including pgbouncer) have restarted around the time when it happened? If so, can you please detail the restart events that you saw? I am particularly interested if there was any scheduler restart. Did you attempt to restart scheduler manually to fix the problem?

From the logs you can see - there

[2022-10-24 20:10] pankajastro opened #27237 "BigQueryCheckOperator fail in deferrable mode even if col val 0"
### Apache Airflow version

main (development)

### What happened

The Bigquery hook `get_records` always return a list of string irrespective of the Bigquery table column type. So if  even my table column has value 0 the task succeeds since ```boo("0")``` return ```True```
https://github.com/apache/airflow/blob/main/airflow/providers/google/cloud/hooks/bigquery.py#L3062

### What you think should

[2022-10-24 22:16] skarangi-personal commented on #17585
https://github.com/apache/airflow/issues/8989

[2022-10-24 22:28] o-nikolas commented on #27069
Yupp, agreed on the latter. We hear this a lot from customers, who are worried about scheduler heartbeat delay. And while it is a good indicator of load, that's about it (unless it stops entirely, then you have a problem :sweat_smile:). So if we "rebrand" the heartbeat to be just that, users will hopefully be less concerned when it falls behind when the environment is being pushed hard.

Indeed, I

[2022-10-24 23:02] potiuk commented on #10964
@LainerDonet - if you have this on latest version of Airlfow please report it with all details, logs etc.

[2022-10-24 23:59] o-nikolas commented on #27146
Hey @ernestoongaro

Thanks for submitting this issue! It looks like you've checked that you're willing to submit a PR, that would be much appreciated! Would you like me to assign this task to you?

[2022-10-25 00:13] ferruzzi commented on #22438
If they get moved there, then they will be run by our CI.  Maybe a subdirectory?  @vincbeck what do you think of adding an excluded directory in the system tests directory??

[2022-10-25 00:22] #14744 closed

[2022-10-25 02:20] AndrewTsao opened #27245 "CronTriggerTimetable losted one task occasionally"
### Apache Airflow version

Other Airflow 2 version (please specify below)

### What happened

My Airflow version 2.4.0. I use CronTriggerTimetable in my DAG. I find it lost one task occasionally. I inspected schedule log,

It should be run at 2022-10-24T23:10:00.000+0800. BUT not run.

[code]

### What you think should happen instead

I think it lost schedule infomation when reload dag file and r

[2022-10-25 02:57] rahulgoyal2987 opened #27246 "Pgbouncer doesn't support extraAnnotations for deployment/pod"
### Official Helm Chart version

1.6.0

### Apache Airflow version

2

### Kubernetes Version

1.24

### Helm Chart configuration

Pgbouncer doesn't support extraAnnotations for deployment/pod

### Docker Image customisations

_No response_

### What happened

Pgbouncer doesn't support extraAnnotations for deployment/pod

### What you think should happen instead

_No response_

### How to reproduc

[2022-10-25 03:30] rahulgoyal2987 commented on #27246
Please find pull request for issue:
https://github.com/apache/airflow/pull/27247/files

[2022-10-25 05:50] hterik commented on #27100
I've seen tasks getting stuck silently inside the `airflow db check` command, which is part of the **Entrypoint** of the airflow docker container. It has a loop both in the entrypoint itself, CONNECTION_CHECK_MAX_COUNT, set to 20, that get multiplied with your connect timeout which can be very long by default, maybe even infinite? I've seen examples where it get stuck hanging here for hours even a

[2022-10-25 05:55] LainerDonet commented on #10964
I had some problem without a concrete solution. They consolé show something related with gnircorn. I don't no remember well. Also I can't resolved the error. They solution for me was make environment with python 3.9 instead python 3.10 and the last versión of apache airflow.

[2022-10-25 07:04] o-nikolas opened #27249 "Regression in cmd_timeout in SshOperator"
### Apache Airflow version

main (development)

### What happened

From Discussion: https://github.com/apache/airflow/discussions/27170

Hi,

I just started using AirFlow with SSHOperator - the doc mentioned that we should be using cmd_timeout, but it doesn't seem to work for me. I looked at the code, and as far as i can tell it doesn't seem to do anything. Am I missing something?

Thank you

###

[2022-10-25 07:06] o-nikolas commented on #27249
Adding context from Discussion:

The cmd_timeout was added in this PR: #17236

Then it was dropped from one of it's usages (it seems accidentally) in this PR: #17378
And the second was dropped in this PR (again, it seems accidental): #21326

[2022-10-25 07:08] o-nikolas commented on #27249
Hey @punx120

I've created an issue from the discussion you raised. Would you like to take an attempt at fixing it? It's a good way to become a contributor to the Apache Airflow project :smiley:

[2022-10-25 07:13] o-nikolas commented on #27249
Woops, looks like you've already created an issue for this in addition to your discussion, I have just come across it (#27182). I'll close this issue.

[2022-10-25 07:13] #27249 closed

[2022-10-25 08:38] #27065 closed

[2022-10-25 10:04] mz347247 commented on #7959
Is this issue solved?

[2022-10-25 10:30] aru-trackunit commented on #21386
@potiuk Can you please confirm that this is a valid issue? I have also faced this error and after doing some workarounds I feel like is worth contributing back to the community.

[2022-10-25 10:55] potiuk commented on #20554
Personal opinion: our SLAs are broken in a number of ways and unless we can do something resonably localized and quic, I do no think we should invest a lot of time in investigation, rather than that we should design a "Good" SLA approach and implement it  basically from scratch (leaving the old SLA as deprecated and legacy).

[2022-10-25 11:48] punx120 commented on #27182
Right, i'll give it a try an update the above PR

[2022-10-25 12:03] lihan opened #27259 "Airflow Scheduler Crashing 2.4.2"
### Apache Airflow version

2.3.2 AND 2.4.2

### What happened

* Was running on version 2.3.2, out of sudden, scheduler keeps crashing and restarting. Upgrading to 2.4.2 does not resolve the issue.
* It appears that one particular pipeline cannot updated to be successful (after all tasks succeeded)

## Symptom 1

This is when trying to mark the pipeline success (Either manually or by the Airflow

[2022-10-25 13:17] ephraimbuddy commented on #27259
Can you share the DAG? It seems somehow you are having duplicate dag_id

[2022-10-25 14:11] hugochinchilla commented on #22738
Actually this is a simplification, the problem I'm having is actually using data inside a Connection, but that connection is serialized as base64 in a factory that creates the operators, the code calls `mask_secret()` but  the value is exposed until the task actually runs.

I've mitigated it creating a macro to call `mask_secret()` and return the value, so I can use something like `{{ macros.plugi

[2022-10-25 14:26] #26912 closed

[2022-10-25 14:56] eladkal commented on #9941
@lwyszomi Do you need this issue for tracking? it seems like you are doing it independently and no one else in the community chime in this effort so I wonder if we should keep this issue open?
If you would like community assistance I suggest maybe add some description/instructions so new contributors can help?

[2022-10-25 15:31] potiuk commented on #26952
Yep. I did not find anything aggressive or offending in @eladkal comment. You are using Composer @gemelen and you pay for support there, Airflow is free software that is delivered on as-is basis without making any promises, and people here provide help in their free time and I think you should be respectful of that when they are politely redirecting you back to composer team for stuff that is clea

[2022-10-25 15:42] ejstembler opened #27265 "Add ability to specify SQLAlchemy logging level"
### Description

Currently we are not seeing SQLAlchemy related logs.  It would be great to see the generated SQL SQLAlchemy generates.

Please consider adding the ability to enable SQLAlchemy logging. Perhaps add a new ENV variable, `SQLALCHEMY_ENGINE_LOGGING_LEVEL`.

[code]

### Use case/motivation

We want to be able to see the SQLAlchemy log entries.

### Related issues

_No response_

### Are

[2022-10-25 16:46] Flogue opened #27268 "#26415 Broke flower dashboard"
### Official Helm Chart version

1.7.0 (latest released)

### Apache Airflow version

2.4.1

### Kubernetes Version

1.24.6

### Helm Chart configuration

flower:
  enabled: true

### Docker Image customisations

None

### What happened

Flower dashboard is unreachable.
"Failed to load resource: net::ERR_CONNECTION_RESET" in browser console

### What you think should happen instead

Dashboard shou

[2022-10-25 19:04] lihan commented on #27259
@ephraimbuddy The dag that caused duplication is no special to other dags, just a dag with a few PythonOperators in it.

[2022-10-25 19:58] #27163 closed

[2022-10-25 20:38] ayushthe1 commented on #27200
hey @eladkal ,i would like to work on this issue. Please assign it to me.

[2022-10-25 20:39] ayushthe1 commented on #27200
#self-assign

[2022-10-25 21:22] potiuk commented on #20705
You can use keycloak this can be done independently of SAML support for Airlfow. You need to forward the right Authorisation headers from Keycloak and make Airflow/FAB use them AFAIK.

[2022-10-25 22:01] potiuk commented on #26936
I think @ashb  @jedcunningham - I think we need to somehow address this one in 2.4.3 - it looks like others might have simmilar problems with auto-registering in similar way and the behaviour is rather bad. This might be pretty common case when users want to reuse DAG structures.

I think maybe just detecting this case and raising error "Please use auto_register = False) in this case could be good

[2022-10-25 22:29] potiuk commented on #27131
i think this is misunderstanding. I do not fully understand what you tried to do and what was wrong, because you mention both "scheduled" runs and "triggering" and those two are completely different. "Triggered" tasks are run when you trigger them. Scheduled tasks run when their schedule comes. Regarding the first two runs, I think there was a case that just enabled task run twice (this is what **

[2022-10-25 22:41] jedcunningham commented on #26936
Can you expand on this? What makes this "detectable" that couldn't also be another common pattern?

[2022-10-25 22:42] potiuk commented on #27140
Assigned it for 1.8.0.

[2022-10-25 23:29] pulquero opened #27282 "KubernetesPodOperator: Option to show logs from all containers in a pod"
### Description

Currently, KubernetesPodOperator fetches logs using
[code]
and so only shows log from the main container in a pod. It would be very useful/helpful to have the possibility to fetch logs for all the containers in a pod.

### Use case/motivation

Making the cause of failed KubernetesPodOperator tasks a lot more visible.

### Related issues

_No response_

### Are you willing to submi

[2022-10-25 23:46] potiuk commented on #27147
Yep. This is as expected. @fzkhouy  You should add this:

[code]

to your Dag object and use `airflow-worker-template.yaml` as your template name.

Look at our docs: https://airflow.apache.org/docs/apache-airflow/stable/tutorial/fundamentals.html#templating-with-jinja - it is clearly described there.

we are using "file loader" in JINJA and it expects separate "template directory" and template nam

[2022-10-25 23:46] #27147 closed

[2022-10-26 00:57] potiuk commented on #22438
Subdir is fine.

[2022-10-26 01:06] potiuk commented on #21386
I have no idea why you are calling me - rather avoid doing it if you have no good reason to believe somene has not been involved.

Simply check it. If it is still there is not, but if you want to fix it you will have to anyhow reproiduce it, so maybe start with it.

[2022-10-26 01:17] punx120 commented on #27182
Ok done - I updated the PR and fix/added tests.

[2022-10-26 01:58] potiuk commented on #27032
Maybe just  keep it running for a while and let us know if ~ few days of running (depending on previously observed frequency) - if you will not see it after 2x the 'average" observeation time we might assume it works :)

[2022-10-26 02:10] #27138 closed

[2022-10-26 02:10] potiuk commented on #27138
Thanks @tirkarthi. Closing.

[2022-10-26 02:49] potiuk opened #27285 "Using .output on non-templated fields"
### Discussed in https://github.com/apache/airflow/discussions/26938

<div type='discussions-op-text'>

<sup>Originally posted by **stephenonethree** October  7, 2022</sup>
I just discovered the `.output` property functionality that apparently was released in Airflow 2 for classic operators, as a simple way of accessing their output XComs. I think that this is a super useful feature because it wou

[2022-10-26 02:53] potiuk commented on #17373
It's pretty uselsss to ask question 'why". By definition it's impossible to answer. Until you provide more details it may or may not be similar or different issue.

If you have similar issue - please open a new one an describe all details and logs @dongwangdw. It might be different issue, or you could have made a mistake, or misunderstood it.

[2022-10-26 03:04] potiuk commented on #27025
Precisely. veriables do not change files.

[2022-10-26 03:04] #27025 closed

[2022-10-26 03:13] #26774 closed

[2022-10-26 04:32] uranusjr commented on #27285
I don’t think there’s a strict technical limitation, but a user perception considertation: Not all fields can reference an XComArg (e.g. `outlets` and `executor_config` can’t), so even if the limitation is lifted, it still wouldn’t be _all fields_. Instead of trying to teach users what fields can reference dynamic values and what can’t, it’s easier to positively list what _can_, and `template_fiel

[2022-10-26 06:06] lwyszomi commented on #9941
@eladkal I forgot that this issue exists, I will check with my list and I will update this one. Maybe is not needed any more

[2022-10-26 06:44] lwyszomi commented on #9941
@eladkal I don't have permissions to update this issue, but I added link to all PR that was sent to the community.

[2022-10-26 06:53] eladkal commented on #9941
OK since this list doesn't really help you I'm closing this issue.
If you will need community help please comment and we will revisit what is the best way to handle it (single vs multiple issues)

[2022-10-26 06:53] #9941 closed

[2022-10-26 07:56] AndreGodinho7 opened #27290 "Publish a container's port(s) to the host with DockerOperator"
### Description

[`create_container` method](https://github.com/docker/docker-py/blob/bc0a5fbacd7617fd338d121adca61600fc70d221/docker/api/container.py#L370) has a `ports` param to open inside the container, and the `host_config` to [declare port bindings](https://github.com/docker/docker-py/blob/bc0a5fbacd7617fd338d121adca61600fc70d221/docker/api/container.py#L542).

We can learn from [Expose port

[2022-10-26 09:48] Imcodingcc commented on #21225
https://airflow.apache.org/docs/apache-airflow/stable/howto/dynamic-dag-generation.html#optimizing-dag-parsing-delays-during-execution

[2022-10-26 09:51] Imcodingcc commented on #21225
https://airflow.apache.org/docs/apache-airflow/stable/howto/dynamic-dag-generation.html#optimizing-dag-parsing-delays-during-execution
in my case, I use kubernetes executor and dynamic DAG, I found it is stuck in DAG import in each task, I followed the example suggested by the official documentation, skipped  other DAG scans, and finally solved the problem

[2022-10-26 11:01] #23514 closed

[2022-10-26 11:40] eladkal commented on #27290
If you have a code suggestion you can always open a PR now need to submit issue first.
Assigned this issue to you

[2022-10-26 12:24] potiuk opened #27292 "Support for Python 3.11 for Google Provider (upgrading all dependencies)"
I know it is eaarly (Python 3.11 has just been released yesterday) but we are hoping in Apache Airflow to a much faster cycle of adding new Python releases - especially that Pyhon 3.11 introduces huge performance improvements (25% is the average number claimed) due to a very focused effort to increase single-threaded Python performance (Specialized interpreter being the core of it but also many ot

[2022-10-26 13:10] vchiapaikeo opened #27296 "Task completes work but ends up failing due to a lock wait timeout exceeded error and does not honor retries"
### Apache Airflow version

2.4.2

### What happened

We are load testing our Airflow environment with the KubernetesExecutor and will observe lock wait timeouts happening every so often. This happens after the job itself completes (in this case, sleeping for a random amount of time) and marks the task as a failure without performing any retries.

[code]

<img width="1436" alt="image" src="https:/

[2022-10-26 14:40] aladinoss commented on #21867
Hello,

This will be very interesting, retrie on taskgroup can make another dimension for workflow management.
If we think on only data oriented workflows that may have no a lot of interest, today Airflow have a wider use cases that needs this kind of mechanism (IT-workflow, Infrastructure workflow, system and application auto-remediation ...)
adding a retry and metadata (kind of xcom on the task

[2022-10-26 14:45] potiuk commented on #11085
Did any try latest elasticsearch provider if it has the amse issue or upgrade airlfow to latest version to see if it resolves the problem? If not, can everyone who say "I have the same problem" try it ?

[2022-10-26 14:47] potiuk commented on #11085
A bit of context: Upgrading to latest versions is the first step to do, to and simplest way of diagnosing stuff quickly especially in case of old versions that had mutliple releases. Any way of fixing this problem (if it appears) will be only inplemented as latest version patchlevel (if found) so you will have to upgrade regardless. It's likely it's been already solved and by trying it out you can

[2022-10-26 17:53] hugowangler opened #27299 "`TriggerDagRunOperator` task fails with index out of range exception while trying to reset dag run"
### Apache Airflow version

2.4.2

### What happened

List index out of range exception is raised when trying to trigger a DAG run of another DAG using the `TriggerDagRunOperator` with `reset_dag_run=True`.

Note that although the `TriggerDagRunOperator` task fails in the task that is trying to trigger the target DAG, the DAG run is actually cleared and triggered correctly.

[code]

### What you t

[2022-10-26 18:02] ejstembler opened #27300 "Scheduler encounters database update error, then gets stuck in endless loop, yet still shows as healthy"
### Apache Airflow version

Other Airflow 2 version (please specify below)

### What happened

Airflow version: `v2.3.3+astro.2`.

We've encounter this issue twice this year.  Something causes the Scheduler to get stuck in an endless loop, yet it shows as healthy even though nothing is being processed.

The last time we encounter this issue, this week. The Scheduler encountered a database update e

[2022-10-26 18:37] hugowangler commented on #27299
I actually noticed now that the `example` DAG is actually correctly triggered and rerun on with the specified `execution_date`. So it's only the `trigger` task in  `trigger_example` that "fails".

Would still consider it a bug but the actual trigger of the dag run still happens.

[2022-10-26 18:58] jayceslesar commented on #19477
This was fixed in the UI but not the cli

[2022-10-26 22:02] potiuk commented on #27300
It looks like some weird race condition @ashb @ephraimbuddy @uranusjr - we might want to take close look at potential culrprit (I saw similar issues recently).

@ejstembler  - can you please provider more detailed stacktrace from the issue you saw - just one line is not nearly enough to diagnose it.

[2022-10-26 23:37] lihan commented on #27300
Same error message was observed in https://github.com/apache/airflow/issues/27259

[2022-10-26 23:48] vchiapaikeo commented on #27296
Adding a bit more analysis here. I'm noticing the only place where a query like this (SQL: UPDATE dag_run SET last_scheduling_decision=%s WHERE dag_run.id = %s) would be run is here in `DagRun.update_state`:

https://github.com/apache/airflow/blob/2.4.2/airflow/models/dagrun.py#L516-L518

Specifically, `last_scheduling_decision` gets set here:

https://github.com/apache/airflow/blob/2.4.2/airflow/

[2022-10-27 00:10] potiuk commented on #27285
Following the comment - I have a bold proposal ... It's not exaclty what the original proposal is, but in a way it provides a possibility to do what was originally requested here.

Why don't we add an option (disabled by default) to make ALL ELIGIBLE fields -  "templeted_fields" (and automatically .output -capable).

That bothered me for a while but I think there is very little impact of making al

[2022-10-27 03:41] KishinNext commented on #16176
Any configuration to get the correct cluster to run Airflow? I'm using the last helm chart of Airflow, and I used this configuration for the cluster... but I get the same error :(

[code]

[2022-10-27 04:06] KishinNext opened #27306 "Helm Chart fails on EKS"
### Official Helm Chart version

1.7.0 (latest released)

### Apache Airflow version

2.4.1

### Kubernetes Version

v4.5.7

### Helm Chart configuration

The last helm char for Airflow

### Docker Image customisations

None

### What happened

I'm using the last helm chart of Airflow, and I used this configuration for the cluster on EKS... but I get this error

### Error
[code]

### PostgreSQL de

[2022-10-27 04:20] samsudinde opened #27307 "Task exited with return code Negsignal.SIGSEGV"
### Apache Airflow version

2.4.2

### What happened

I tried to load data .csv into bigquery. but I got this errors.

[2022-10-27T11:09:58.907+0700] {taskinstance.py:1165} INFO - Dependencies all met for <TaskInstance: replication_invoice_item_new.upload_test_and_debug_area_invoice_item scheduled__2022-10-27T00:00:00+00:00 [queued]>
[2022-10-27T11:09:58.910+0700] {taskinstance.py:1165} INFO - Dep

[2022-10-27 04:25] #23512 closed

[2022-10-27 08:08] Taragolis commented on #27307
@samsudinde this is not first time when issue with `Negsignal.SIGSEGV` appear:
- https://github.com/apache/airflow/issues/16243
- https://github.com/apache/airflow/issues/20309
- https://github.com/apache/airflow/discussions/24463

It is very hard to debug segmentation violation error.

You might [try to debug](https://github.com/apache/airflow/issues/20309#issuecomment-1288320601) what actually c

[2022-10-27 09:15] tomrutter commented on #11708
Is this still on the roadmap? It seems from the above that the cleanest solution would be to replicate the current git-sync setup used for dags (in the scheduler or dag processor) for a "plugins" repo in scheduler/workers/webserver?

[2022-10-27 09:44] potiuk commented on #11708
Just to set expectations and explain how it works here - @tomrutter - as everything in open-source, things get done when somene does it :). There is no "magical" management and roadmap planning that you can have single authoritative response on.

There is no roadmap unless someone decides to take on responsibility and manage, prepare and follow up the roadmap. That someone can be you if you want t

[2022-10-27 09:47] potiuk commented on #11708
And just to add a bit - If you look at our repo - Airflow is created by >2200 contrbutors, mostly people like you who wanted something they missed and added it :). Adding such a feature is a nice way not only good for you (because you will be able to use it) but also for others (they will be able to use it too) but also a great way to contribute back for the software you got absolutely for free :)

[2022-10-27 12:04] ecerulm opened #27318 "Make helm chart compliant with the Pod Security Standard "restricted""
### Official Helm Chart version

1.7.0 (latest released)

### Apache Airflow version

2.4.2

### Kubernetes Version

1.23

### Helm Chart configuration

[code]

### Docker Image customisations

_No response_

### What happened

I have a namespace configured with the [PSS restricted (pod security standard restricted)](https://kubernetes.io/docs/concepts/security/pod-security-standards/#restricted)

[2022-10-27 13:25] #27225 closed

[2022-10-27 13:39] ejstembler commented on #27300
[code]

[2022-10-27 14:05] cdabella opened #27324 "Add `held` to possible TaskInstanceState"
### Description

Add `held` as a TaskInstanceState which functions similarly to `failed` but represents a stop in DAG execution that is known and planned.

### Use case/motivation

Many DAGs and pipelines have steps that require human intervention and sign-off before continuing, like manual data validation or manager approval before continuation. This can be functionally achieved today by marking

[2022-10-27 14:24] caupetit-itf commented on #11085
I've juste tested from the docker image 2.4.2-python3.10
No more endless loop and can see my end_of_log with a log_id in elasticsearch !

So for me the problem is resolved :) I will update to the latest version first thing next time : )

[2022-10-27 14:34] zachliu commented on #27065
@potiuk the cache memory is still growing :crying_cat_face:

![2022-10-27_10-32](https://user-images.githubusercontent.com/14293802/198315723-c48d12b0-314d-4459-b485-dce1e169940a.png)

[2022-10-27 14:34] #26566 closed

[2022-10-27 14:43] potiuk commented on #11085
Told ya :)

[2022-10-27 14:43] potiuk commented on #11085
Working fine in Aiflow 2.4.2.

[2022-10-27 14:43] #11085 closed

[2022-10-27 14:48] potiuk commented on #27065
Maybe The rotating file handler has another place where it copies files and leaves them behind. Not the end of the world (as you know this is no-harm-at-all and perfecrly normal to happen.

Maybe i will take a look soon (or maybe you can @zahchliu - you could see how I've done that and you could potentially iterate on it and verify it in your test system and make a PR after you test it ? How about

[2022-10-27 14:49] potiuk commented on #27065
Would be great contribution back :) ?

[2022-10-27 15:06] zachliu commented on #27065
yeah, the root cause of this might be somewhere else. here are the facts:
* setting `CONFIG_PROCESSOR_MANAGER_LOGGER=True` does make the cache increase
* deleting files under `~/logs/dag_processor_manager` has no effect on cache memory usage, also there are cache files i cannot delete
![2022-10-27_11-02](https://user-images.githubusercontent.com/14293802/198326228-bb59c72d-fb38-4fdd-bcd7-8ec49582d

[2022-10-27 15:10] potiuk commented on #27065
You can always drop the whole cache to verify what causes it:

https://linuxhint.com/clear_cache_linux/

Also you can do some trial/error to see which files are in the cache as explained in this answer:
https://serverfault.com/questions/278454/is-it-possible-to-list-the-files-that-are-cached

Seems this is not easy to get list of files which contribute to cache, but if you have some guesses you mi

[2022-10-27 15:14] ayushthe1 commented on #27200
hey @potiuk ,i made a pr for this issue .Could you please review it.

[2022-10-27 15:38] zachliu commented on #27065
the 2 `.nfs*` files at `~/logs/dag_processor_manager` do add up to my current cache memory usage :thinking:

![2022-10-27_11-36](https://user-images.githubusercontent.com/14293802/198334683-656930fa-553b-4145-8874-f9fe4fe45d6a.png)

[2022-10-27 15:45] jtommi opened #27328 "SFTPOperator throws object of type 'PlainXComArg' has no len() when using with Taskflow API"
### Apache Airflow Provider(s)

sftp

### Versions of Apache Airflow Providers

apache-airflow-providers-sftp==4.1.0

### Apache Airflow version

2.4.2 Python 3.10

### Operating System

Debian 11 (Official docker image)

### Deployment

Docker-Compose

### Deployment details

Base image is apache/airflow:2.4.2-python3.10

### What happened

When combining Taskflow API and SFTPOperator, it throws

[2022-10-27 15:57] Taragolis commented on #27065
`.nfs*` files should be related to NFS not to Airflow.

[2022-10-27 16:01] potiuk commented on #27065
Very much so. This is the choice of using NFS to store logs :)

[2022-10-27 16:05] zachliu commented on #27065
wait i'm confused, so it is NFS design choice not to remove the cache file after it's written to an actual file?

[2022-10-27 16:12] Alaeddine22 opened #27329 "Airflow with Oracle: the field dag.next_dagrun_data_interval_start shows the error ORA-00972: identifier is too long"
### Apache Airflow version

Other Airflow 2 version (please specify below)

### What happened

Hello,
I installed the stable version 2.4.1 with sqlAlchemy configured for an Oracle database.

when running airflow standalone i'm having the following error :

`sqlalchemy.exc.DatabaseError: (cx_Oracle.DatabaseError) ORA-00972: identifier is too long
[SQL: SELECT dag.dag_id AS dag_dag_id, dag.root_dag_

[2022-10-27 16:46] ejstembler commented on #27300
Incidentally, two Astronomer engineers familiar with the issue: @alex-astronomer and @wolfier

[2022-10-27 17:20] Taragolis commented on #27065
https://nfs.sourceforge.net/#faq_d2

[2022-10-27 17:28] potiuk commented on #27065
silly rename :rofl:

[2022-10-27 17:29] potiuk commented on #27065
Nothing we can do about it :). But I am not sure if those are the culprits - accoding to the descriptions those should be removed when airflow stops keeping the file unless client crashes

[2022-10-27 18:04] Taragolis commented on #27065
I also mount default `logs` directory to NFS (AWS EFS) so I could only suggest my personal configuration which use for a long time
1. Change default dag processor manager log location outside of NFS, e.g. `AIRFLOW__LOGGING__DAG_PROCESSOR_MANAGER_LOG_LOCATION = "/tmp/airflow/logs/dag_processor_manager/dag_processor_manager.log"`
2. Increase print stats interval `AIRFLOW__SCHEDULER__PRINT_STATS_INTE

[2022-10-27 18:10] potiuk commented on #27329
We do not support Oracle. Look at prerequisites There are likely many more errors when you try to run Airflow on unsupported database and even if you fix them, they are likely to break any time.

Simply don't use Oracle as metadata db. We are not going to help with solving any issues with it.

[2022-10-27 18:10] #27329 closed

[2022-10-27 18:15] potiuk commented on #27065
3. Write a custom handler to rotate the logs outside.
4. Use externa service for logging (CloudWatch etc.) for storing them remotely.

[2022-10-27 18:16] potiuk commented on #27065
5. Stop worrying about it. The fact that Unix cache grows has only one drawback - it will show up when you choose to in your monitoring service. You should monitor other parameters - it's perfectly OK that cache grows up until all available memory - it has no negative consequences

[2022-10-27 18:23] zachliu commented on #27065
i'm also using AWS EFS :handshake:

i think i'll try 1 & 2, they seem to be the easiest except 5, which involves educating all current/future maintainers to understand memory nuances :sweat_smile:

[2022-10-27 19:03] potiuk commented on #27065
BTW. I've heard VERY bad things about EFS when EFS is used to share DAGs. It has profound impact on stability and performance of Airlfow if you have big number of DAGs unless you pay big bucks for IOPS. I've heard that from many people.

This is the moment when I STRONGLY recommend GitSync instead: https://medium.com/apache-airflow/shared-volumes-in-airflow-the-good-the-bad-and-the-ugly-22e9f681af

[2022-10-27 19:04] potiuk commented on #27065
As counterintuitive as it is, I know what you are talking about :)

[2022-10-27 19:42] Taragolis commented on #27065
It's always it depends on configuration and monitoring. I personally have this issue might be in Airflow 2.1.x and I do not know is it actually related to Airflow itself or some other stuff. Work with EFS definitely take more effort rather than GitSync.

Just for someone who might found this thread in the future with EFS performance degradation might help:

**Disable save python bytecodes inside o

[2022-10-27 20:20] gurjit-sandhu opened #27332 "airflow tasks are getting randomly terminated with no errors in UI and logs on worker shows module not found"
### Official Helm Chart version

1.6.0

### Apache Airflow version

airflow 2

### Kubernetes Version

1.22

### Helm Chart configuration

 i have set PYTHONPATH as below in extraENV and verified after login to worker pod
  extraEnv: |
    - name: PYTHONPATH
      value: "/opt/airflow/dags:/opt/airflow"

also have setup PYTHONPATH in docker image

# Setting python path for importing dag modules
EN

[2022-10-27 20:35] potiuk commented on #27065
This is very close to what I've heard! Good one @Taragolis! And yeah  PYTHONDONTWRITEBYTECODE is also my typical recommendation.

[2022-10-28 03:04] rkarish opened #27338 "scripts/tools/initialize_virtualenv.py calling .exists() on str"
### Apache Airflow version

main (development)

### What happened

While setting up a local development environment I went to use the `scripts/tools/initialize_virtualenv.py` script and received an exception. I believe this should be `os.path.exists(airflow_home)` instead.

[code]

Also, `LOCAL_VIRTUALENV.rst` has an incorrect path to this file.

### What you think should happen instead

_No respo

[2022-10-28 03:40] o-nikolas commented on #27328
Thanks for the bug report @jtommi!

I see that you've checked that you're willing to submit a PR, so I have assigned the task to you :smiley:

[2022-10-28 04:23] o-nikolas commented on #27338
Thanks for the bug report @rkarish!

I've assigned you the task since you checked that you're willing to submit a PR :smiley:

Looking at the function stub for `clean_up_airflow_home` it looks like that code is expecting a `Path` object, but it's getting a string. So I think the better fix is to update the calling code to pass in a Path object instead of a string as it is now.

[2022-10-28 05:59] uranusjr commented on #27328
Value checks in operators should be done in `execute`, not `__init__`.

[2022-10-28 06:05] ecerulm commented on #27318
Related to https://github.com/apache/airflow/pull/24588

[2022-10-28 06:59] hterik opened #27341 "Move db check command to run inside task process."
### Description

When using `KubernetesExecutor` and task workers based on the offical Docker image,  [there is an Entrypoint](https://github.com/apache/airflow/blob/main/Dockerfile#L1408) that runs a shell-script [where **airflow db check** is called](https://github.com/apache/airflow/blob/main/scripts/docker/entrypoint_prod.sh#L282).
https://github.com/apache/airflow/blob/550b49b418b0c364b6483cd

[2022-10-28 07:36] ecerulm commented on #27318
I try to get closer to the PSS restricted by specifying the following PodSecurityContext in the helm values

[code]

and noticed that at least the `StatefulSet` `airflow-worker` does not work properly under that securityContext. The issue is that the `airflow-worker-0` pod will mount the PVC on `/opt/airflow/logs` with ownership `root:root` and the running user `airflow` won't be able to write on

[2022-10-28 09:50] 601579263 opened #27343 "镜像缺少authlib依赖这是咋回事啊？镜像版本是2.2.5"
### Apache Airflow version

2.4.2

### What happened

镜像缺少authlib依赖这是咋回事啊？镜像版本是2.2.5

### What you think should happen instead

镜像缺少authlib依赖这是咋回事啊？镜像版本是2.2.5

### How to reproduce

镜像缺少authlib依赖这是咋回事啊？镜像版本是2.2.5

### Operating System

镜像缺少authlib依赖这是咋回事啊？镜像版本是2.2.5

### Versions of Apache Airflow Providers

镜像缺少authlib依赖这是咋回事啊？镜像版本是2.2.5

### Deployment

Official Apache Airflow Helm Chart

### De

[2022-10-28 10:25] Taragolis commented on #27078
@btoh just a wondering is information above help your?

[2022-10-28 10:32] JorgenG opened #27345 "Duplicate log lines in CloudWatch after upgrade to 2.4.2"
### Apache Airflow version

2.4.2

### What happened

We upgraded airflow from 2.4.1 to 2.4.2 and immediately notice that every task log line is duplicated _into_ CloudWatch. Comparing logs from tasks run before upgrade and after upgrade indicates that the issue is not in how the logs are displayed in Airflow, but rather that it now produces two log lines instead of one.

When observing both the C

[2022-10-28 12:00] uranusjr commented on #27343
Not an Airflow issue.

[2022-10-28 12:00] #27343 closed

[2022-10-28 12:27] sm-kacper commented on #10724
I can see that a decision has been made to implement this feature as a part of UI part (see PR #25437). Is there anything i can do, as a Python dev that has no skills in the UI area, to help in this implementation?

[2022-10-28 13:15] jtommi commented on #27328
@uranusjr Thanks for the initial direction to fixing this.

I drafted #27346.
I think the initial bug is fixed, but my test that checks for compatibility is failing.
https://github.com/apache/airflow/blob/c84831151a1e2be018f4280180e3002bcf3153f4/tests/providers/sftp/operators/test_sftp.py#L413

The reason is `expected str, bytes or os.PathLike object, not PlainXComArg` on https://github.com/apache

[2022-10-28 14:09] ashb commented on #26936
This is very much an edge case/power use feature, and as such this doesn't need fixing.
[code]

[2022-10-28 14:09] #26936 closed

[2022-10-28 14:12] ashb commented on #26936
@MkSafavi This sounds like a different behaviour to the original post. Can you give us some more details?

[2022-10-28 14:28] okorienev opened #27348 "database.sql_alchemy_schema setting is ignored in some cases"
### Apache Airflow version

2.4.2

### What happened

Set up new Airflow installation, faced following issues (think that they all related to using wrong schema)
- All tasks in a DAG always fail with worker error
- Some airflow (both core & provider) tables are created in the wrong schema:
    - `session`
    - `alembic_version`
    - `celery_taskmeta`
    - `celery_tasksetmeta`
- Some queries ign

[2022-10-28 14:55] potiuk commented on #27345
Are you sure ALL messages are duplicated?

There was a change to reveal messages produced during parsing which were hidden, and this is something that coudl cause more logs - but that does not mean every log is repeated -  https://github.com/apache/airflow/pull/26779

If my quess is right - you will get duplicated logs from parsing but not from execution of the tasks and if you help to verify that

[2022-10-28 14:59] potiuk commented on #27348
Looks like important enough to fix in 2.4.3 IMHO if we confirm

[2022-10-28 15:01] potiuk commented on #26881
Seems @HengKevin has de-assigned themselves. @stromal - you seem to know exactly how/where to add those examples - so once again - why don't you do it ?

[2022-10-28 15:32] zachliu commented on #27065
i moved the dag_processor_manager logs from ```/user/local/airflow/logs/``` (NFS) to ```/tmp/airflow/logs/``` (local), but the cache memory still keeps growing :crying_cat_face:

![2022-10-28_11-31](https://user-images.githubusercontent.com/14293802/198675995-7cf26d00-ed99-43d6-8a45-115cc44c9fa0.png)

so it is still using cache somewhere but not the `.nfs***` silly-rename cache files :thinking:

[2022-10-28 15:42] potiuk commented on #15799
@theophanevie Seems this might be simply problem with configuration of your rabbitmq not matching the load/characteristics of your traffic (which might be either too low and the problem is with idle connections or too high when cellery workers/rabbitmq cannot cope with the load.

Can you please try the solutions decribed here:

* https://groups.google.com/g/celery-users/c/5dPhSfF5APQ

and possibly

[2022-10-28 16:33] JorgenG commented on #27345
Hey @potiuk, thanks a lot for responding. I realise my vocabulary for Airflow logs might be a bit inaccurate.

I'll try to be more specific about what I observe. First of all, I am not 100% what you mean about about parsing of top-level code in the DAG.

Essentially what we observe is that log lines _inside a single task execution_ appears to be duplicated.

Below is an excerpt from a task that sp

[2022-10-28 16:38] potiuk commented on #27065
So I guess the quest shoudl continue :)/ But let me repeat again - if you have anything that creates files continuously and those files are not deleted and there is no advice from the kernel to not use cache - they will increase the cache memory used.  You will likely never get it to 0 growth over time. Likely just ssh to your system and saving your history when you type in a command will increase

[2022-10-28 17:05] btoh commented on #27078
@Taragolis yes - but it doesn't still solve the problem, as my Airflow instance still tries to connect to sts.amazonaws.com. My  (inelegant) solution so far has been to use temporary credentials generated by assuming the role directly with boto3.

[2022-10-28 17:17] potiuk commented on #27345
Not really - there are lines from execution of tasks. "Top-level" Logs from parsing are generated when the file is picked up by airflow - for example if you have import error, or print directly at the top level of Python code:

[code]

So my wild guess was wrong but possibly not that much. I think the change might come frrom this change  https://github.com/apache/airflow/pull/26779

I believe that

[2022-10-28 17:25] calebwoofenden opened #27353 "Upgrade to the latest version of bitnami/postgresql"
### Official Helm Chart version

1.7.0 (latest released)

This is a feature request for the helm chart. It's currently using bitnami/postgresql as a dependency chart when Postgres is enabled. It's pointing at version 10.5.3, which is over a year old. That chart has been updated significantly since then. It offers a lot of new features, and also has a lot of changes in variable names. This can make

[2022-10-28 17:46] potiuk commented on #27353
Why don't you raise a PR for that ? IT should be as easy as changing version and seeing if all tests pass?

[2022-10-28 17:48] potiuk commented on #27353
Update: It\s even easier - updating the Postgres Chart .tgz file to the right version in the PR - we changed it some time ago. @calebwoofenden - would you want to do it ?

[2022-10-28 18:07] calebwoofenden commented on #27353
Can do, though I'm quite sure it will cause at least some problems. The documentation for the apache/airflow chart tells users to set `postgresql.postgresqlUsername` and `postgresql.postgresqlPassword`, which are variable names that are no longer used in the latest version of the postgresql chart. It looks like they've been renamed to `postgresql.auth.username` and `postgresql.auth.password`. I ca

[2022-10-28 18:18] andreyvital commented on #27345
@potiuk I've made the changes as pointed by you and it worked! 🥳

**config/log_config.py**
[code]

**airflow.cfg**:

[code]

Thanks!

[2022-10-28 18:45] potiuk commented on #27353
So ..... opportunitu for an improvement then! You seem to know what to do - happy to help with reviewing it, and if they pass the  the Helm tests, you are sure it works (we are using the source Helm Chart to run Helm Kubernetes tests, so it is automatically tested.

Shall I assign you ?

[2022-10-28 19:10] potiuk commented on #27345
@ashb -> FYI this is quite an unexpected side effect of https://github.com/apache/airflow/pull/26779 . I expect more people having similar problems. But I am not sure if we can do anything about (however maybe it's worth to rethink "propageate" on airflow.task. Or at least make it depends on "REMOTE_LOGGING" setting.

WDYT?

[2022-10-28 19:15] JorgenG commented on #27345
Thanks a lot for taking the effort to research and advice here @potiuk - Seems you nailed it! 🔨

Also thanks @andreyvital for chiming in with the example!

Can confirm that with the same configuration that @andreyvital shared, we are no longer seeing duplicate logs! Is it worthwhile keeping this issue open, or would you want to close it? LMK! (Or do any action you see fit yourself of course 🙂)

Ha

[2022-10-28 19:18] potiuk commented on #27345
LEt's see what @ashb has to say :) . I am not sure I know the exact reason why propagate was set to True for "airflow.tasks" (I know why it was for "airflow.processor" )

[2022-10-28 20:25] calebwoofenden commented on #27353
Here ya go 😄 https://github.com/apache/airflow/pull/27357

[2022-10-29 01:08] oneturkmen opened #27358 "Airflow 2.2.2 pod_override does not override `args` of V1Container"
### Apache Airflow version

2.2.2

### What happened

I have a bash sensor defined as follows:

[code]

Entrypoint command in the `foo-image` is `python -m foo.run`. However, when I deploy the image onto Openshift (Kubernetes), the command somehow turns out to be the following:

[code]

which is wrong.

### What you think should happen instead

I assume the expected command should override `args`

[2022-10-29 01:15] oneturkmen commented on #27358
To follow up on above, I think the issue is perhaps somewhere in these LOCs: https://github.com/apache/airflow/blob/main/airflow/executors/kubernetes_executor.py#L307-L333

But is precisely here: https://github.com/apache/airflow/blob/5df1d6ec20677fee23a21bbbf13a7293d241a2f7/airflow/executors/kubernetes_executor.py#L330

The above LOC always overrides `args` as a command, which is basically `airfl

[2022-10-29 01:42] rkarish commented on #27338
Hi @o-nikolas, seems like it was intended to be a `Path` object like you said. I had a PR open with an approval but needed to move it to a branch in my fork so I opened another PR.

[2022-10-29 06:31] ayushthe1 commented on #26881
hey, can i please work on this issue.

[2022-10-29 07:41] o-nikolas commented on #27338
Thanks for putting up a PR! I've reviewed it and left a comment :)

[2022-10-29 13:27] zachliu commented on #27065
worse than a red herring, this is a mirage :laughing:
can't change the [kernel's behavior](https://serverfault.com/a/1090418/946571), i'll just change meself:
[code]
this makes the cache memory usage cap at 40~50Mb

[2022-10-29 14:34] stromal commented on #26881
@potiuk I am happy to help how can I submit my adjustments?

[2022-10-29 14:52] potiuk commented on #26881
@stromal  As explained before-> the docs can be submitted via "Suggest a change on this Page" button on the documentation page. It is as easy as it can get as it will open a PR that you will be able to add documentation without setting any environment.

If you would like to follow the current pattern in the docs where some examples are actual bash scripts/Dockerfiles that are automatically tested

[2022-10-29 14:56] potiuk commented on #26881
I assigned both of you @stromal @ayushthe1 and you can agree between yourselves who does what. It can even be done as two or more separate PRs. Addong more docs can be one and adding an automatcally tested example might be another.
If you follow the way how other examples are added, the CI should pick it up automatically and tests if the dockerfile you added as an example can be actully build - th

[2022-10-29 19:01] uranusjr commented on #27328
All the checks should be moved to `execute` anyway, just do that and don’t worry that much about the previous logic.

[2022-10-29 19:39] ayushthe1 commented on #26881
hey @stromal ,I would love to solve this issue completely by myself if you like it.
Also , i think that I would require your help along the way .😅

[2022-10-30 00:37] dwreeves commented on #26571
Busy last few weeks for me, but I'll be getting to this soon.

[2022-10-30 19:07] josepaul1988 opened #27384 "_call__() got an unexpected keyword argument 'metadata' error for Airflow PubSubHook acknowledge method when retry option is provided"
### Apache Airflow Provider(s)

google

### Versions of Apache Airflow Providers

apache-airflow-providers-google==6.4.0

### Apache Airflow version

2.2.3

### Operating System

Container-Optimized OS,1.22.12-gke.2300

### Deployment

Composer

### Deployment details

Composer version: composer-2.0.8-airflow-2.2.3 

### What happened

**Requirement:** Acknowledge GCP Cloud PubSub messages in Pull

[2022-10-30 19:33] eladkal commented on #27384
This is old version of the library.
Please check if the issue is repreducable on latest google provider version

[2022-10-31 01:30] #27057 closed

[2022-10-31 01:31] potiuk commented on #27228
Marked as good-first-issue - maybe someone would llike to take a look.

[2022-10-31 02:25] potiuk opened #27396 "CloudWatch task handler doesn't fall back to local logs when Amazon CloudWatch logs aren't found"
This is really a CloudWatch handler issue - not "airflow" core.

### Discussed in https://github.com/apache/airflow/discussions/27395

<div type='discussions-op-text'>

<sup>Originally posted by **matthewblock** October 24, 2022</sup>
### Apache Airflow version

Other Airflow 2 version (please specify below)

### What happened

We recently activated AWS Cloudwatch logs. We were hoping the logs ser

[2022-10-31 02:28] potiuk commented on #27396
Seems CloudWatch handler issue

[2022-10-31 02:31] #27200 closed

[2022-10-31 02:42] potiuk opened #27399 "CronTriggerTimetable lost one task occasionally"
### Discussed in https://github.com/apache/airflow/discussions/27398

<div type='discussions-op-text'>

<sup>Originally posted by **AndrewTsao** October 25, 2022</sup>
### Apache Airflow version

Other Airflow 2 version (please specify below)

### What happened

My Airflow version 2.4.0. I use CronTriggerTimetable in my DAG. I find it lost one task occasionally. I inspected schedule log,

It shoul

[2022-10-31 02:45] potiuk commented on #27399
Mistakenly converted to discussion. Seems legit. This is likely only happening in 1 minute interval, so not really critical but woudl be nice to find out when it happens. - thanks @andi for detailed repot.

Could you please check @andi  if it appears in the latest version of Airflow and maybe pinpoint some other cicumstances  when it happens? How often? Do you see some usage spikes (memory/cpu etc

[2022-10-31 02:56] potiuk commented on #27100
Ideas on other strategies? What have you see working for you @hterik ? I think we can improve that - current defaults have been takenf from the original Astronomer image, but maybe we can do better? WDYT?

This is interesting and should not (generally) happen. Do you have an example of that @hterik? IMHO that is exactly what is my point about "crashing hard whenever any crash occured. Seeing examp

[2022-10-31 02:56] potiuk commented on #27079
@uranusjr ? Any thoughts ?

[2022-10-31 03:44] potiuk commented on #26534
Any news here @mariotaddeucci ? Is this problem still present?

[2022-10-31 03:47] potiuk commented on #27265
You can already today do it via "advanced logging configuration" as described in configuration: https://airflow.apache.org/docs/apache-airflow/stable/logging-monitoring/logging-tasks.html#advanced-configuration. You just need to create local settings. deepcopy standard configuration and you can add any logging configuration there.

[2022-10-31 03:47] #27265 closed

[2022-10-31 03:49] potiuk opened #27402 "#26415 Broke flower dashboard"
### Discussed in https://github.com/apache/airflow/discussions/27401

<div type='discussions-op-text'>

<sup>Originally posted by **Flogue** October 25, 2022</sup>
### Official Helm Chart version

1.7.0 (latest released)

### Apache Airflow version

2.4.1

### Kubernetes Version

1.24.6

### Helm Chart configuration

[code]

### Docker Image customisations

None

### What happened

Flower dashboar

[2022-10-31 03:51] potiuk commented on #27402
converted to discussion by mistake. Marked as good first issue - flower is not a high priority but hopefully someone will fix it (howeve note @Flogue that fastest way to  get it implemented is if you implement it - this is Open Source and you are most welcome to provide PRs and you can become one of the > 2200 contributors.

[2022-10-31 03:54] potiuk commented on #27282
Yep. nice feaure. Maybe you would like to add it @pulquero and become one of the > 2200 contributors to Airflow?

Otherwise it will need to wait for someone to pick it up (marked it as good first issue).

[2022-10-31 04:21] #27237 closed

[2022-10-31 04:29] potiuk commented on #27296
I think this might be due to https://airflow.apache.org/docs/apache-airflow/stable/configurations-ref.html#schedule-after-task-execution - you can disable it and see whether things will be better (side effect is that there will be potentially bigger latency between directly dependent tasks in the same DAG.  Also highly recommend to take a look at @ashb talk about scheduler https://airflowsummit.or

[2022-10-31 04:33] #15353 closed

[2022-10-31 04:34] #27232 closed

[2022-10-31 04:40] potiuk commented on #27140
@george-zubrienko  - feel free to make PR for that - then you will not have to wait and become one of the > 2200 contributors. It's easy!

[2022-10-31 04:59] potiuk commented on #27341
Ah I see you proposed it. Would you like ot propose a PR?

[2022-10-31 05:03] potiuk commented on #27318
Airlfow user in the reference docker image should belong to group root - which is actually to make it OpenShift compatible because it allows arbitrary user to be used in the container https://airflow.apache.org/docs/docker-stack/entrypoint.html#allowing-arbitrary-user-to-run-the-container

Actually airlfow shoudl be able to write to "root" group - and most of the writeable folders inside the image

[2022-10-31 05:29] #9957 closed

[2022-10-31 05:31] #23246 closed

[2022-10-31 06:32] josepaul1988 commented on #27384
I am able to reproduce the issue in latest [composer image](https://cloud.google.com/composer/docs/concepts/versioning/composer-versions) composer-2.0.29-airflow-2.3.3 bearing apache-airflow-providers-google==8.1.0. So issue is still there

[2022-10-31 08:59] rajat-tomar commented on #27402
@potiuk can you please assign this to me? I would like to work on it.

[2022-10-31 09:26] Bowrna commented on #15353
I can add one more example for the plugin using Listener. Could I add that code and docs for it as separate PR?

[2022-10-31 09:56] jtommi commented on #27328
The thing is: either I broke (or didn't find) the code that made Taskflow work in version 4.0 of this package, or my test is incorrect.

[2022-10-31 10:19] #27029 closed

[2022-10-31 10:37] potiuk commented on #27402
Assigned :)

[2022-10-31 10:39] potiuk commented on #15353
Yep.

[2022-10-31 11:40] eladkal commented on #27384
marked as good first issue but this doesn't feel like Airflow issue. I would suggest to check with the upstream library
https://github.com/googleapis/python-pubsub/blob/e0383c5583324bd7645d8e3e2b5683fd839af2a5/google/pubsub_v1/services/subscriber/client.py#L1203-L1211

The Airflow code doesn't do much with the timeout and retry parameters.

In any case, few in the community have google cloud acces

[2022-10-31 11:49] Taragolis commented on #27078
One main question which endpoint_url do you expect to use for STS client in your case?

[2022-10-31 12:43] Taragolis commented on #27384
@josepaul1988 I could be wrong but seems like you tried to pass class Retry instead of Retry object

Could you try to do something like that:

[code]

[2022-10-31 12:46] ephraimbuddy commented on #27348
Wanted to work on this but another thing is currently having my attention

[2022-10-31 12:59] lihan commented on #27300
Dong this query returns multiple rows for the same dag_id

[code]

[2022-10-31 13:12] josepaul1988 commented on #27384
@Taragolis : Thank you very much, it was indeed because of the Retry class rather than retry object Retry(). Its worked with your code and even with a default constructor Retry(). The error message was misleading and i didnt realize my mistake until you pointed out. Thank you very much again, i think this question can be closed now. Thank you @eladkal as well for swift responses. Great work

[2022-10-31 13:15] #27384 closed

[2022-10-31 13:33] jens-scheffler-bosch commented on #23512
Thanks for the good news. I tried to test in our Azure deployment (using the official Helm chart) and Airflow 2.4.2 and it seems in our deployment it is still showing the same constraint errors. I am a bit confused because the milestoone was now modfied to be Airflow 2.4.3 but above the success is reported on 2.4.2... which release it it assumed to be in?

Our logs still look like attached (don't

[2022-10-31 14:01] eladkal opened #27409 "Improve error message when branched task_id does not exist"
### Body

This issue is to handle the TODO left in the code:
https://github.com/apache/airflow/blob/64174ce25ae800a38e712aa0bd62a5893ea2ff99/airflow/operators/python.py#L211

Related: https://github.com/apache/airflow/pull/18471/files#r716030104

Currently only BranchPythonOperator will show informed error message when the requested branched task_id does not exist other branch operators will show

[2022-10-31 14:20] potiuk commented on #23512
No confusion. There were two similar issues - one of them (for some users) fixed in 2.4.2 and another similar issue for some other users that will be released in 2.4.3. The milestone is always "current" thinking and if it moves, it moves.

[2022-10-31 14:22] zachliu commented on #23512
@jens-scheffler-bosch also you'd have to patch 2.4.2 manually

[2022-10-31 14:23] preethi670 commented on #18401
we are seeing this issue in 2.2.5 as well . Can you please suggest if this was resolved in later versions ?

[2022-10-31 14:25] potiuk commented on #27409
Oh. yeah.

I read recently an advice - never leave TODOs in the code except while you are iterating on thoe code - always convert TODO to issues !

Maybe we should strive to remove all TODOs and have pre-commit for that :). ?

[2022-10-31 15:59] mdering commented on #23512
if the preload fix is indeed the fix, you can suppress this for now by setting the `GUNICORN_CMD_ARGS` environment variable to `--preload`

[2022-10-31 16:54] #27069 closed

[2022-10-31 17:59] bdsoha commented on #27282
@pulquero How would you suggest displaying or storing the logs? In sequence?

[2022-10-31 18:13] vchiapaikeo commented on #27296
Hey @potiuk - thanks for the response. I forgot to mention that we've already disabled this configuration:

[code]

That said, we have been starting to see more stability with our scheduler lately. Another config that I failed to provide on our end was this:

[code]

This seems to have caused the schedulers to take on more load than they could handle and also likely contributed to a greater likeli

[2022-10-31 18:33] eladkal opened #27418 "SFTP Sensor fails to locate file"
### Body

issue is described in PR https://github.com/apache/airflow/pull/25705
the author of the PR abandon it so anyone can try to submit a fix to the issue.

### Committer

- [X] I acknowledge that I am a maintainer/committer of the Apache Airflow project.

[2022-10-31 20:47] sdwivedi565 commented on #17831
getting same error (20009, b'DB-Lib error message 20009, severity 9:\nUnable to connect: Adaptive Server is unavailable or does not exist (laptop-usi1uect)\n')

[2022-10-31 23:00] lihan commented on #27259
@ephraimbuddy

* Doing `airflow dags list` would cause error that multiple rows returned for the single dag.
* ```select dag_id, count(*)
from dag
group by 1
having count(*) > 1;``` This also returns some dag_ids have multiple rows which violates the DB constraint, as the dag_id has the unique index on it.

[2022-10-31 23:03] potiuk commented on #26185
Worth checking.

[2022-11-01 00:49] pulquero commented on #27282
I imagine verbatim with whatever the kubernetes api call returns.

[2022-11-01 01:16] #27338 closed

[2022-11-01 01:21] raphaelauv opened #27427 "CeleryExecutor when zero worker and 1 triggerer -> async task are queued"
### Apache Airflow version

2.4.2

### What happened

With the Celeryexecutor with 1 scheduler and 1 triggerer

Async tasks ( deferable ) stay in queued state when there is zero airflow worker

### What you think should happen instead

Deferable task should not stay in queued STATE when there is at least 1 triggerer with enought slots to run the async task

### How to reproduce
[code]

### Operati

[2022-11-01 04:56] tirkarthi opened #27429 "Incorrect command displayed in warning when breeze dependencies are changed"
### Apache Airflow version

main (development)

### What happened

During switching between some old branches I noticed the below warning. The `--force` option seems to have been removed in 3dfa44566c948cb2db016e89f84d6fe37bd6d824 and is default now. This message could be updated in below places

https://github.com/apache/airflow/blob/b29ca4e77d4d80fb1f4d6d4b497a3a14979dd244/dev/breeze/src/airflow

[2022-11-01 04:57] tirkarthi commented on #27429
cc: @potiuk

[2022-11-01 05:49] 601579263 opened #27430 "配置oidc的时候,报这个错误，022-11-01 05:35:48,236] {views.py:671} ERROR - Error returning OAuth user info: 'name' [2022-11-01 05:35:48,236] {views.py:671}"
### Apache Airflow version

2.4.2

### What happened

配置oidc的时候,报这个错误，
022-11-01 05:35:48,236] {views.py:671} ERROR - Error returning OAuth user info: 'name' [2022-11-01 05:35:48,236] {views.py:671}

 [01/Nov/2022:05:35:48 +0000] "GET /oauth-authorized/hangyeyun?code=lqxDMB&state=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJuZXh0IjpbIiJdfQ.hNun3xh75k3JiI-dsKwebFH_yxD1Hkvy7nwlotqKffI HTTP/1.1" 302 201 "

[2022-11-01 06:45] iRecursion commented on #27430
github评论支持markdown语言功能来美化，
<pre>
[code]

如
[code]

[code]

[code]

[code]

……
</pre>

[code]

[2022-11-01 08:24] tirkarthi commented on #27228
During AirflowApp instantiation `read_dags_from_db` is set to True. This causes serialized dags to be loaded from database. Meanwhile collecting it from `DagBag` without flask app context makes it read from files. My first guess is the below approach to deserialize the param value before passing them to resolve. I can make a PR with tests for this.

https://github.com/apache/airflow/blob/b29ca4e77

[2022-11-01 09:11] Bowrna commented on #27418
could I try fixing this issue @eladkal ?

[2022-11-01 09:26] malthe opened #27436 "Add support for compression for remote logs"
### Description

Since remote logs are sent only on completion, Airflow should support compressing them to save disk space.

### Use case/motivation

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://github.com/apache/airflow/blob/main/C

[2022-11-01 09:31] dgronskij commented on #17754
Hey, how is it supposed to be done on the client side without changing the operators' code (which are distributed as a package)?

[2022-11-01 10:10] bdsoha commented on #27429
@tirkarthi @potiuk Just opened a PR

[2022-11-01 10:12] potiuk commented on #27429
Me too :) exactly in tnis moment @bdsoha

[2022-11-01 10:18] potiuk commented on #27429
Sorry @bdsoha - > I have not seen your change while I pushed mine :)

[2022-11-01 10:20] bdsoha commented on #27429
No worries, always glad to help.

[2022-11-01 10:26] potiuk commented on #27429
I will remember :)

[2022-11-01 10:27] potiuk commented on #27430
Closing. Can you please write your problem in English ? This is an official communication language we have here, I am afraid.

[2022-11-01 10:27] #27430 closed

[2022-11-01 10:39] aa3pankaj commented on #8212
any update? facing similar error on airflow 2.4.2 also

[2022-11-01 11:53] potiuk commented on #27418
Feel Free.

[2022-11-01 11:55] potiuk commented on #17754
Did you check https://airflow.apache.org/docs/apache-airflow/stable/logging-monitoring/logging-tasks.html#advanced-configuration ?

[2022-11-01 11:56] #27429 closed

[2022-11-01 12:23] kosteev commented on #27292
Upgrading dependencies for google provider package can be tested with Airflow System Tests and CI that is in under construction atm. FYI @bhirsz

[2022-11-01 14:55] BobDu commented on #25667
maybe we can close this issue, fix by #24999 ?

[2022-11-01 15:56] neontty commented on #15306
This problem is impacting my ability to use 'backfill' on AWS MWAA CLI effectively. If this feature could be added it would be much appreciated.

[2022-11-01 18:00] matthewblock opened #27449 "Dynamic tasks marked as `upstream_failed` when none of their upstream tasks are `failed` or `upstream_failed`"
### Apache Airflow version

2.4.2

### What happened

There is a mapped task is getting marked as `upstream_failed` when none of its upstream tasks are `failed` or `upstream_failed`.

![image](https://user-images.githubusercontent.com/10802053/199615824-c44e7e2f-ed05-49c6-a225-e054836466e1.png)

In the above graph view, if `first_task` finishes before `second_task`, `first_task` immediately tries

[2022-11-01 19:43] jedcunningham commented on #27358
Hey @oneturkmen!

That is expected behavior, as the worker uses that to know what task to run. May I ask what you are trying to ultimately achieve by overwriting args?

This should have been documented though, so I've opened #27450 to do that. Thanks.

[2022-11-01 21:52] MarianneRay commented on #16176
I'm getting the same error.
'''
      - name: Add apache helm chart
        run: |-
          helm repo add apache-airflow https://airflow.apache.org

      - name: Update helm charts
        run: |-
          helm repo update

      - name: Deploy to latest image cluster
        run: |-
          helm upgrade --install $NAMESPACE apache-airflow/airflow \
            --timeout 3m30s  --debug --for

[2022-11-02 00:05] oneturkmen commented on #27358
@jedcunningham we wanted to have a BashSensor task that would ping an external service to see if some file is generated or not. If the file isn't there yet, we would keep pinging for some time, and only then if it's still not ready, then we would fail the task.

I did not expect that because we use `KubernetesPodOperator` where we supply our custom image which uses python as the base (i.e., `FROM

[2022-11-02 00:14] #26561 closed

[2022-11-02 00:15] #16021 closed

[2022-11-02 04:10] o-nikolas commented on #27409
I land somewhere in the middle, I think they're okay sometimes, but if you do commit a TODO it should _always_ have an associated Issue created and mentioned/linked in the TODO (IMHO)

[2022-11-02 05:29] tanvn commented on #27259
@lihan
Hi, may I know which kind of database are you using (and on which this issue happens) ?
I tried to reproduce this bug by executing an INSERT sql into MySQL database but since in `dag` table, `dag_id` is the primary key so it threw an error.
If you know other ways to reproduce this issue, please share it, I would greatly appreciate it. 🙇
(I checked https://github.com/apache/airflow/issues/27

[2022-11-02 05:55] zhiyong-ong opened #27462 "Clearing the parent dag will not clear child dag's mapped tasks"
### Apache Airflow version

2.4.2

### What happened

In the scenario where we have 2 dags, 1 dag dependent on the other by having an ExternalTaskMarker on the parent dag pointing to the child dag and we have some number of mapped tasks in the child dag that have been expanded (map_index is not -1).
If we were to clear the parent dag, the child dag's mapped tasks will NOT be cleared. It will not a

[2022-11-02 06:08] #27358 closed

[2022-11-02 08:05] ephraimbuddy commented on #27449
Can you share the dag code? You can redact some values. Without sharing your code it might be difficult to understand what's going on

[2022-11-02 08:09] uranusjr commented on #27449
Without looking at anything, one UPSTREAM_FAILED case specific to a mapped task is when the upstream pushes a non-mappable value (an int, for example). This feels likely for your case.

[2022-11-02 08:14] ephraimbuddy commented on #27348
https://github.com/apache/airflow/issues/17374#issuecomment-1054855890

[2022-11-02 08:58] dgronskij commented on #17754
Yeah, sorry for the poorly worded question.

Here is our disposition:
- Airflow instance with no access to AF workers for developers
- 3rd party AF operators that do some logging
- Sometimes, there is a need to run specific DAG with custom log level in an ad-hoc manner, but we don't want to affect other runs since there are lot's of them and everybody would see verbose logs

Documentation that you

[2022-11-02 10:23] lihan commented on #27259
@tanvn
My Airflow was deployed on Google Cloud CloudSQL (Postgres 13)

* My Postgres starts emitting a lot more error messages on primary key duplicate after upgrade to 2.3.3 (See attached screenshots)
<img width="1428" alt="image" src="https://user-images.githubusercontent.com/655051/199463273-0a796e83-edd3-4853-b31a-dd457bcfa9fb.png">

* What I did was to remove the duplicates in the `dag` table

[2022-11-02 10:35] eladkal commented on #21717
Closing as resolved in 2.4

[2022-11-02 10:35] #21717 closed

[2022-11-02 10:56] tanvn commented on #27259
@lihan
Thank you for your information!

May I know from which version did you update to 2.3.3 ? was it 2.3.2 ?

I am using Airflow 2.1.4 with MySQL 8 and I have tested upgrading to 2.4.2 and confirmed that the primary key constraint is available on both database schema for Airflow 2.1.4 and 2.4.2 so technically I am unable to reproduce this bug unless I drop the constraint manually.

I think this

[2022-11-02 11:03] eladkal commented on #16697
Using the DAG code as shared by the author will show broken dag message
![Screen Shot 2022-11-02 at 12 58 02](https://user-images.githubusercontent.com/45845474/199472808-05e598bb-cc04-4621-83a7-2e84c3445556.png)

However if using the code as:
[code]
It will work
![Screen Shot 2022-11-02 at 13 01 16](https://user-images.githubusercontent.com/45845474/199473353-02a5f0dd-5f98-460e-bb56-e8d1bde02528.

[2022-11-02 11:03] #16697 closed

[2022-11-02 11:05] raphaelauv opened #27467 "KPO do not use namespace setting from kubernetes_conn_id"
### Apache Airflow Provider(s)

cncf-kubernetes

### Versions of Apache Airflow Providers

4.4.0

### Apache Airflow version

2.4.2

### Operating System

Ubuntu 22.04

### Deployment

Docker-Compose

### Deployment details

[code]

[code]

### What happened

[code]

### What you think should happen instead

I should be able to not precise the namespace on my KPO if I already gave a namespace in m

[2022-11-02 15:30] jedcunningham commented on #27358
I think you are misunderstanding what KubernetesExecutor is actually doing. KE spins up a Airflow worker pod for every task. In your case, it'll spin up a pod and say "Airflow, run task 'foo_task' for dag 'foo_dag' run_id 'manual__...'" (which matches the args KE sets). That worker then will run your (in this case) bash_command (or do whatever else you've asked it to do).

KPO is a different situa

[2022-11-02 15:44] hankehly commented on #24111
@rjribeiro Did you every resolve your issue?

[2022-11-02 15:45] oneturkmen commented on #27358
Thanks Jed. That makes much more sense now.

On Wed, Nov 2, 2022, 11:31 Jed Cunningham ***@***.***> wrote:

[2022-11-02 15:56] #27348 closed

[2022-11-02 18:02] dstaple opened #27473 "Deadlock when updating DagRun last_scheduling_decision and TaskInstance state=scheduled"
### Apache Airflow version

Airflow 2.2.5 patched to fix issue https://github.com/apache/airflow/issues/23361 by cherry-picking be2b53eaaf.

### What happened

The Airflow scheduler occasionally exits with `psycopg2.errors.DeadlockDetected`, and several running tasks fail with SIGTERMs.

One of the queries involved in the deadlock originates from the scheduler and is of the form
[code]
This can be

[2022-11-02 19:11] codekronik opened #27474 "Use full postgresql URI connection prefix."
### Apache Airflow version

2.4.2

### What happened

This creates a deprecated URI string. I've added a new connection, using `get_uri()` returns a URI with `postgres://` instead of `postgressql://` so it's incompatible with a few libs. Should this be updated to return valid format URI ?

### What you think should happen instead

The URI should return URI with `postgresql://` prefix.

### How to

[2022-11-02 20:02] bdsoha commented on #27474
This has already been implemented in the [postgres hook](https://github.com/apache/airflow/blob/main/airflow/providers/postgres/CHANGELOG.rst#400).