[2021-12-06 16:00] theis188 opened #20073 "Scheduled DAG Runs with Custom Parameters"
### Description

Feature request: add the ability to attach multiple schedule/parameter pairs to a DAG. For example

[code]

Currently, scheduling DAGs can be accomplished by using the `schedule_interval` kwarg on the DAG initialization [Link](https://airflow.apache.org/docs/apache-airflow/stable/dag-run.html#dag-runs)

The documentation for DAG Run, describes the custom parametrization as follows

[2021-12-06 16:14] alex-astronomer opened #20074 "Pinterest Knox secrets backend"
### Description

This feature request will integrate Knox into Airflow as an external secrets backend.  Knox offers an open source solution to secrets management.

https://github.com/pinterest/knox

### Use case/motivation

Trying to develop more secrets backend options and figured Knox would be a good place to start since it's an open source solution (and a pretty popular one at that, with ~1k st

[2021-12-06 16:15] alex-astronomer commented on #20074
Please assign me to this issue, as I have already started work on this.

[2021-12-06 16:17] potiuk commented on #20073
"triggering" time is a bad idea for specifying custom schedules, because the  DAGs area already created and scheduled.

The DAG Run that you mention is only single DAG execution, and since you are triggering it - by definition it has no schedule, because this is jus single "execution" of the DAG Run - it has "no schedule" at the point you trigger it (because this is a DAG Run , not DAG).

There is

[2021-12-06 16:17] #20073 closed

[2021-12-06 16:18] curlup opened #20076 "DAG tree view autorefresh does not keep schedule timeline labels in sync."
### Apache Airflow version

2.2.0

### What happened

Tree view of a DAG with a busy schedule updates statuses of recent N (25) runs and autoupdates the view when new runs are scheduled and more old runs are finished. But it does not update corresponding labels on the schedule time line.

<img width="211" alt="Screen Shot 2021-12-06 at 11 05 30 AM" src="https://user-images.githubusercontent.com/33

[2021-12-06 16:43] xiaohuangji opened #20078 "Airflow plugin doesn't respect SQLALCHEMY_BINDS"
### Apache Airflow version

2.2.1

### What happened

I'm writing a plugin that needs to connect to a database and add a Modelview.
I have configured the SQLALCHEMY_BINDS in webserver_config.py and set `__bind_key__` in the model, but this model keeps connecting to `core SQLALCHEMY_DATABASE_URI ` instead of the external database.

### What you expected to happen

Models defined in plugins should r

[2021-12-06 16:54] potiuk commented on #20073
If this is just if Monday =-> use this parameter, if Tuesday -> use that parameter this should be super-easily achieved if youhave a common `get_parameter(logical_date)` method that you could use in your tasks that would return diferent value based on which date the logical date is for:

[code]
You could even base it on cron expressions if you would like to using croniter. What's the problem with

[2021-12-06 16:54] potiuk commented on #20073
(still won't fix BTW)

[2021-12-06 16:56] potiuk commented on #20073
Remember that your DAG is python. You can run any code in your task definition and have it behave dynamically. You should not tthink "declaratively" on what you can declare but rather what flexibillty the custom python code gives you.

[2021-12-06 17:42] potiuk commented on #20073
I think you just (same story) do not really get the powers it gets you to use Python to define the variations and not "declarative" way. That's a basic misunderstanding of how Airflow works. You ARE supposed to generate multiple DAGs using DAG Factories. This is how in Airflow you define parameterized DAGs. This is the only pattern that will work - and we have the whole tutorial on how to do it:

[2021-12-06 18:10] paavanb commented on #20073
Ah, what is the point of the DAG configuration JSON then? Having trouble understanding why that is an option at all, if it is never meant to be used.

[2021-12-06 18:11] lostkamp commented on #18599
https://github.com/apache/airflow/pull/19973

[2021-12-06 18:27] andreypanchenko opened #20081 "BigQueryExecuteQueryOperator timeout issue (how to increase timeout)"
### Apache Airflow Provider(s)

google

### Versions of Apache Airflow Providers

apache-airflow-providers-google==6.1.0

### Apache Airflow version

2.2.2 (latest released)

### Operating System

NAME="Ubuntu" VERSION="20.04.3 LTS (Focal Fossa)" ID=ubuntu ID_LIKE=debian PRETTY_NAME="Ubuntu 20.04.3 LTS" VERSION_ID="20.04" HOME_URL="https://www.ubuntu.com/" SUPPORT_URL="https://help.ubuntu.com/" BU

[2021-12-06 18:43] cb149 commented on #19752
@potiuk I'll give it a try, though I am also wondering about other parts of the SparkSubmitHook code, e.g. this part in [def on_kill(self)](https://github.com/apache/airflow/blob/866a601b76e219b3c043e1dbbc8fb22300866351/airflow/providers/apache/spark/hooks/spark_submit.py#L637)
[code]

- **renew_from_kt** will fail if there is no "airflow kerberos" ticket renewer or if the user hasn't somehow init

[2021-12-06 19:09] potiuk commented on #19752
No idea. I've not been here when the decision was made :)

[2021-12-06 19:13] potiuk commented on #20073
IT's to provide parameters to single DAG run - triggered or via API if you want to override any of the default parameters for that SINGLE DagRun. That's it.

[2021-12-06 19:14] potiuk commented on #20073
https://airflow.apache.org/docs/apache-airflow/stable/dag-run.html#passing-parameters-when-triggering-dags

[2021-12-06 19:17] potiuk commented on #20073
DAG and DAGRun are two different entities. Even the parameters are passed as "dag_run.conf", not "dag.conf". You seem to mix the meaning of the two entities.

[2021-12-06 20:43] potiuk commented on #19895
Thanks everyone who helped. I am preparing Databricks relase separately now!

[2021-12-06 20:43] #19895 closed

[2021-12-06 21:06] #10929 closed

[2021-12-06 21:15] josh-fell commented on #19891
@potiuk Perhaps I should hold off based on [this comment](https://github.com/apache/airflow/pull/20034#discussion_r762427587)? Or maybe just start tackling `airflow/providers/**/hooks` in the meantime? WDYT?

That comment just raises concern about not fixing `BaseOperator` first and having some trickle effect we'll have to fix again in operators.

[2021-12-06 21:16] potiuk commented on #20078
I saw you already created a discussion for that. Since we do not know if this is an airflow problem or configuration on your side, I am closing this in favour of discussion. #20080

[2021-12-06 21:16] #20078 closed

[2021-12-06 21:19] potiuk commented on #19891
Likely. Possibly reworking tests is better idea . Some overlap is bound to happen, but I am not sure if there are just a few things that we will have to redo, it's a big problem. We have  900 errors to fix  :)

[2021-12-06 21:22] paavanb commented on #20073
Right, I get that: I can go into the UI and provide parameters for a single dag run. That feature is very useful, since we have DAGs that are usually manually triggered with different parameters. But I can't provide parameters to a _scheduled_ dag run?

[2021-12-06 21:45] kazanzhy commented on #20081
Regarding to the documentation the parameter `api_resource_configs`  seems should be like `{'query': {'useQueryCache': False, 'timeoutMs': 100000}}`
https://airflow.apache.org/docs/apache-airflow-providers-google/stable/_modules/airflow/providers/google/cloud/operators/bigquery.html#BigQueryExecuteQueryOperator

Anyway, this operator will be deprecated, and better try to use `BigQueryInsertJobOper

[2021-12-06 21:57] josh-fell commented on #19891
@khalidmammadov You seem to be cruising on the `tests/*` set but let me know if there are any you'd like some help on or take off your plate until we get a green light on cranking through the providers.

[2021-12-06 22:03] potiuk commented on #19891
@josh-fell  - start from the end :D

[2021-12-06 22:05] kazanzhy commented on #20081
Also in this case there is an unusual error.
There is `AirflowException(f"BigQuery job {job.job_id} failed: {job.error_result}")` expected if API returns some error.
In your case, I guess some another error. Check parameter `operation_timeout` if you are use CeleryExecutor

[2021-12-06 22:17] khalidmammadov commented on #19891
@josh-fell Sure things, I have started from the top of tests and now on and doing tests/providers. As @potiuk mentioned, you can start from other end (www) and so we can get it done soon. Thanks

[2021-12-06 23:07] philipherrmann opened #20088 "httpx breaking API change for redirect parameter causes crash"
### Apache Airflow Provider(s)

google

### Versions of Apache Airflow Providers

apache-airflow-providers-google==6.1.0

### Apache Airflow version

2.2.2 (latest released)

### Operating System

Debian GNU/Linux 10 (buster)

### Deployment

Official Apache Airflow Helm Chart

### Deployment details

_No response_

### What happened

When using the CloudSQLExecuteQueryOperator the Cloud SQL Proxy

[2021-12-06 23:13] kazanzhy commented on #20081
I had a similar issue when I've installed Airflow using `pip` on VM.
This VM had few hostnames that's why tasks were killed.
I fixed it by changing `hostname_callable` in `airflow.cfg` from `socket.getfqdn` to `airflow.utils.net.get_host_ip_address`.

[2021-12-06 23:58] joshzana commented on #15354
@harvetech  - As of #16630 from @uranusjr , which is in Airflow 2.2.0 and higher, the Sqlalchemy dependency has been loosened to allow 1.4 again:

[code]

Can this issue be reopened and get addressed?  We are trying to update some code that runs in workers to SqlAlchemy 1.4 and this is blocking us, since we use a common docker image for both webserver and workers.  Airflow should either require <

[2021-12-07 00:07] #19314 closed

[2021-12-07 00:53] mik-laj commented on #20088
@philipherrmann  Assigned

[2021-12-07 02:16] blag commented on #9006
I think this is already possible by setting the log level of the root logger. To do so, follow the [Advanced Configuration guide](https://airflow.apache.org/docs/apache-airflow/stable/logging-monitoring/logging-tasks.html#advanced-configuration).

* [`logging.debug`](https://github.com/apache/airflow/blob/fc0fb22c120a7c12426ecaf6254159e7daf2de9e/airflow/settings.py#L442) logs to the root logger
*

[2021-12-07 04:31] xyu opened #20092 "PR #18772 breaks `sql_alchemy_conn_cmd` config"
### Apache Airflow version

2.2.1

### What happened

#18772 added two options to `tmp_configuration_copy()` and defaults tasks run as the same user to generate the temp configuration file for the task runner with the options `include_env=False` and `include_cmds=False`. This is a change from the previous defaults which materialized the values of `*_cmd` configs into the JSON dump.

This presents

[2021-12-07 04:34] xyu commented on #20092
I guess @karry-li-lego opened #19833 for this same issue, I'm not sure why they closed it because this problem is still valid on the main trunk branch.

[2021-12-07 04:52] harishkrao commented on #20032
Great, I will do so. Thank you.

[2021-12-07 05:03] josh-fell commented on #19883
@eladkal Any feedback on any of the fix option listed above? I'm inclined to go with Option 1 but this would be a breaking change. I'm not sure when those become justified.  Also Option 3 is intriguing but it does have some questions that come along with and is more widespread in its effect.

[2021-12-07 06:34] uranusjr commented on #20088
Note that when you fix this, you’ll need to also change `httpx` in `setup.cfg` to `httpx>=0.20`. (Or if that’s not viable due to maybe providers need the old argument name, pin `setup.cfg` to `httpx<0.20` for now and _don’t_ change the argument.)

[2021-12-07 06:38] uranusjr commented on #15354
We happen to have a good oppertunity to fix this, see linked PR referenced above.

[2021-12-07 07:20] uranusjr commented on #20073
Because a scheduled DAG run have not happened and does not exist anywhere when you want to provide it params, so how do you tell the scheduler to do it for something that does not exist yet? It is of course theoratically possible, but would require a much more involved design (semantics, storage infrastructure to persist the user request until the run actually happens, and UI elements to create, i

[2021-12-07 07:52] plockaby commented on #19028
I have been banging my head on this issue for a couple days. All impersonation was broken in #15947 and only noticed a few weeks ago.

[2021-12-07 07:54] Bowrna commented on #19967
@potiuk I have tried the above https://click.palletsprojects.com/en/7.x/bashcomplete/#activation-script script generation part and it works for me. Do I have to add that as part of python script in pre_commit like what is there for update-version?  the script that generates <Breeze2-complete>.bash/.zsh/.fsh and update in .zshrc/.bashrc/`~/.config/fish/completions/` file?

https://github.com/apache

[2021-12-07 08:06] halilduygulu commented on #9006
Hi @blag, I was not asking for a workaround in this issue. I mentioned that I have `logging_level=INFO` in airflow.cfg file already, which is not stopping debug logs from scheduler as one expects from this configuration. So as you mentioned there are multiple places to configure log level, while `logging_level` applies to dag's logs, process logs can not be configured in airflow.cfg as far as I kn

[2021-12-07 08:46] potiuk opened #20097 "Status of testing Providers that were prepared on December 07, 2021"
### Body

I have a kind request for all the contributors to the latest provider packages release.
Could you help us to test the RC versions of the providers and let us know in the comment,
if the issue is addressed there.

## Providers that need testing

Those are providers that require testing as there were some substantial changes introduced:

### Provider [databricks: 2.1.0rc2](https://pypi.org

[2021-12-07 08:48] uranusjr opened #20098 "Docuemntation on timezone classes, their differences, and why we only do Pendulum (for now)"
### Body

Spun out of https://github.com/apache/airflow/discussions/20070#discussioncomment-1756950

### Committer

- [X] I acknowledge that I am a maintainer/committer of the Apache Airflow project.

[2021-12-07 09:12] andreypanchenko commented on #20081
Hi Dmytro Kazanzhy,

Thank you for your help yes, this is an issue that does not relate to Bigquery or Google.

This issue relate to two config parameters

killed_task_cleanup_time - in this case for long-running jobs needs to be increased
job_heartbeat_sec - in this case when you want to clear status for the failed task and re-run from UI

[2021-12-07 09:13] #20081 closed

[2021-12-07 09:25] eladkal commented on #19883
@josh-fell why don't we have the same problem with Security Token field in Salesforce connection?

[2021-12-07 09:34] uranusjr commented on #19995
Also note that the problem is not `TaskInstance.log_url` is broken per-se, it’s that you’re creating a TaskInstance without a DagRun, which is no longer supported. [^1] This would not fail if you properly create a DagRun and establish its relationship with the TaskInstance.

[^1]: https://github.com/apache/airflow/blob/6d42b0e611c6b68c611dc25f3de2661e268cf3fe/UPDATING.md#taskinstances-now-require-

[2021-12-07 09:51] nclaeys opened #20099 "Scheduler crashlooping when dag with task_concurrency is deleted"
### Apache Airflow version

2.2.2 (latest released)

### What happened

After deleting the dag, the scheduler starts crashlooping and cannot recover. This means that an issue with the dag causes the whole environment to be down.

The stacktrace is as follows:

airflow-scheduler [2021-12-07 09:30:07,483] {kubernetes_executor.py:791} INFO - Shutting down Kubernetes executor
airflow-scheduler [2021-1

[2021-12-07 10:38] wsmolak opened #20100 "google providers > dataproc > ClusterGenerator does not implement all parameters of Dataproc ClusterConfig object"
### Description

ClusterGenerator class should support all parameters of [ClusterConfig](https://cloud.google.com/dataproc/docs/reference/rest/v1/ClusterConfig) object.

### Use case/motivation

Using current version of ClusterGenerator user can't set all DataProc's parameters. It is possible only by manual update of result of `ClusterGenerator.make()`.

### Related issues

_No response_

### Are

[2021-12-07 10:55] brata96 opened #20101 "Kubernetes pods are crashing while replacing celeryExecutor to KubernetesExecutor"
### Official Helm Chart version

1.3.0 (latest released)

### Apache Airflow version

2.0.2

### Kubernetes Version

Client Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.3", GitCommit:"2d3c76f9091b6bec110a5e63777c332469e0cba2", GitTreeState:"clean", BuildDate:"2019-08-19T11:13:54Z", GoVersion:"go1.12.9", Compiler:"gc", Platform:"linux/amd64"} Server Version: version.Info{Major:"1"

[2021-12-07 11:05] potiuk commented on #20088
Really "nice" from httpx POV to make this breaking change here :(. httpx >=0.20 in this case is a good idea.
I will also manually update constraints to 0.19 for the past releases of airflow that had 0.20.

[2021-12-07 11:06] potiuk commented on #20088
This is what one of the nice properties of the constraint mechanism of ours, that we can fix such problems.

[2021-12-07 11:14] Bash- commented on #14872
I also still have this same issue. It ignores the new value of the `webserver.defaultUser.password` when performing an `helm upgrade`.
`helm get values airflow` returns the new password I set, but I can still only login with the default admin/admin in the Airflow UI.

[2021-12-07 11:17] potiuk commented on #20088
Ok. It was only for 2.2.2, The 2.2.1 version already had httpx == 0.19.0. I fixed the constraints now, so anyone installing airlflow in the "constraint" way will not have the problem. I am also building and pushing the images for 2.2.2 to include that.

[2021-12-07 11:24] potiuk commented on #15354
Also just to let youknow @harvetech - the *RIGHT* way of installing Airlfow is via constraints mechanism: https://airflow.apache.org/docs/apache-airflow/stable/installation/installing-from-pypi.html - and in the "golden" set of constraints - even for the main version, sqlalchemy is still 1.3.24 https://github.com/apache/airflow/blob/6c91224f6c2e4f24d669c59d4e8e8006c9235db0/constraints-3.9.txt#L42

[2021-12-07 11:44] potiuk commented on #20073
And it makes also no sense to do it, because what you essentially want to do is to provide a way to dynamically generate parameters based on the actual run being executed. Which in airflow is done by imperative code rather than declarative definition. The whole idea of DAG in Airlfow is that it is imperatively generated by Python code. In this case it's the same - you should write a code that deri

[2021-12-07 12:07] potiuk commented on #19967
Yeah. Just add a pre-commiit to generate the files and save them somewhere in `./dev/breeze/autocomplete/` for example.

There is no need to check it. Assuming that precommit generates the same script when you run it twice, pre-commit checks on it's own if the re-generated file changed or not. So it's ok to regenerate the file again and again only to find out that nothing changed (but in pre-commi

[2021-12-07 12:19] potiuk commented on #9006
First of all Airflow 1.10 is already end of life as of June 2021. Not only there will be no new features, but there even will not be critical bug fixes released for it. You should migrate to Airflow 2 asap, otherwise you put the business you have at risk because there are known security vulnerabilities that have been addressd in Airflow 2 and will never be addressed in 1.10 because it reached end-

[2021-12-07 12:19] #9006 closed

[2021-12-07 13:47] mik-laj commented on #20100
ClusterGenerator is a deprecated approach because it does not follow [the GCP Service Airflow Integration Guide](https://docs.google.com/document/d/1_rTdJSLCt0eyrAylmmgYc3yZr-_h51fVlnvMmWqhCkY/edit#heading=h.3sxddzjr5f6q). More precisely, this class needs to be updated with almost every API change. The Airflow operators should be a thin layer that passes the parameters unchanged to the API client.

[2021-12-07 14:19] alexott commented on #20097
Tested #19585, #19335, #19443, #19544 - looks good

P.S. #19443 is missing from the changelog

[2021-12-07 14:20] george-zubrienko commented on #19038
Seeing this issue a lot with 3 schedulers on 2.2.2, KubernetesExecutor on k8s 1.21. Code is PythonOperator calling a webservice. We do get some logs logs on startup though - this is right before job code starts:

[code]
Next try for this task started running, but then:

[code]

And then retry 3 goes through finally. Only seeing this issue on pipelines with high number of parallel tasks - in our ca

[2021-12-07 14:22] josh-fell commented on #19883
For two reasons:
1. The string "token" is already included in `DEFAULT_SENSITIVE_FIELDS` in the [secrets masker](https://github.com/josh-fell/airflow/blob/26e3c7f374f6c2c4eaaedb5aa72a5d53b8843258/airflow/utils/log/secrets_masker.py#L34-L49) logic. Any extra with that string in its key would be masked.
2. The [logging line](https://github.com/apache/airflow/blob/387893ae1820ca1553d05146ad9d2baaa0c0

[2021-12-07 14:39] jgmarcel commented on #19028
Indeed. This has seriously crippled my using Airflow in a production environment.

[2021-12-07 14:52] potiuk commented on #19028
@kevinbsilva - maybe you can take a look and see if you can find and fix the problems that  are mentioned by @plockaby and @jgmarcel ?

[2021-12-07 15:05] #19832 closed

[2021-12-07 15:07] shlomiken commented on #16299
@olivermeyer - you described precisely the way we work and the problem we are now facing trying to migrate to airflow 2.0
not sure how this didn't resonate more - probably not many use airflow with sagemaker.
regarding the single responsibility of the operator - i could not agree more , and in fact we are working like this for 3 years now, creating our own semi-random job names, and its fine - thi

[2021-12-07 15:10] potiuk commented on #20101
There is no way we can help with the information. There is no information about what is crashing, where and how, and even if there is, it's likely misconfiguration on your side and not Airflow bug. i am converting that into discussion and if you get more findings, you can continue asking for help how to fix your configuration but this will likely not happen unless you do your diagnostics and show

[2021-12-07 15:18] eladkal commented on #16299
Many use sagemaker. It's popular service.

https://github.com/apache/airflow/blob/main/CONTRIBUTORS_QUICK_START.rst

[2021-12-07 15:21] shlomiken commented on #16299
@eladkal - many use sagemaker , but i guess not as much through airflow as they do with simple python scripts.
otherwise i don't understand how some basic stuff that is not working properly is not handled.

[2021-12-07 15:21] potiuk commented on #14872
This is simply wrong expectation that you have.

Default is default password when you first time create Airlfow application. Once you create Airflow DB, default is not used any more (it is well, you know, default).

That's precisely intended behaviour. Don't expect DB synchronization features from Helm. Once you install airflow for the first time, the user is already created (and you likely have c

[2021-12-07 16:33] Mavtti commented on #19131
Sorry I didn't see your answer. Anyway thanks for taking the time to look into it.
SLA seems to be at the task level, I wondered if there was the same thing at the DAG level else it requires to define an sla_miss_callback for every task instead of defining only one time.

[2021-12-07 16:36] Csaki95 opened #20110 "CORS access_control_allow_origin header never returned"
### Apache Airflow version

2.2.2 (latest released)

### What happened

To fix CORS problem added the [access_control_allow_headers](https://airflow.apache.org/docs/apache-airflow/stable/configurations-ref.html#access-control-allow-headers), [access_control_allow_methods](https://airflow.apache.org/docs/apache-airflow/stable/configurations-ref.html#access-control-allow-methods), [access_control_al

[2021-12-07 17:08] #19131 closed

[2021-12-07 17:26] subkanthi commented on #12611
Just curious about the implementation details for this.
Is the plan to create a base notifier(BaseNotifier like BaseOperator) class and implement them for every provider, we already have opsgenie, pagerduty, slack and sengrid as providers.
I can take this on if it's not being worked on.

[2021-12-07 18:23] BasPH commented on #12611
I think this is quite a big change and am leaning towards an AIP. Thoughts? @ashb others?

[2021-12-07 18:32] ashb commented on #12611
Given the current discussion around multi tenancy (aip 43 or 44) well need to work out how to do this securely.

/cc @potiuk another thing to factor in. (I think we can do it similar to how we do operator links).

I think this change is borderline on needing an AIP (that is I _don't_think it needs an AIP) - it's not necessarily a big architectural change and is easy to do fully backwards compatibl

[2021-12-07 20:35] PrincipalsOffice opened #20116 "BaseOperator.get_task_instances is broken due to order by TaskInstance.execution_date"
### Apache Airflow version

2.2.2 (latest released)

### What happened

I was trying to call `task.get_task_instances()` but received an error `sqlalchemy.exc.ArgumentError: SQL expression object expected, got object of type <class 'sqlalchemy.ext.associationproxy.ColumnAssociationProxyInstance'> instead`.

Looking at the code, it's trying to order by `TaskInstance.execution_date` which is an asso

[2021-12-07 20:52] paavanb commented on #20073
Actually, it turns out that the `params` option is very close to what I'm looking for: it allows me to specify a dictionary that is then accessible to the DAG run, even if the run was scheduled. However, I don't seem to be able to specify multiple schedules with different `params` . I do see how this would be difficult to manage in the UI though.

[2021-12-07 21:17] khalidmammadov commented on #19891
I think we done with tests/* folder.
Starting to look into airflow/www/security if not started by anyone.

@potiuk BTW, my latest run reports:
**Found 808 errors in 212 files (checked 1820 source files)**

[2021-12-07 21:40] #19816 closed

[2021-12-07 21:40] ashb commented on #20073
Yes, that is on the roadmap but isn't possible yet.

[2021-12-07 21:41] ashb commented on #20073
A work around for now is to have a "trigger" dag that has a single operator, a TriggerDagRun operator to kick off runs of the parameterized dag with the right params each time.

[2021-12-07 21:44] patrikhv commented on #19877
Hi, I am working on that, but I do not have any idea how to refactor it. I already just did a more explicit call, if the query is in a completed stage. Can you give me any tips?

[2021-12-07 21:47] ashb commented on #20116
This is _meant_ to be a backwards compatibility shim, so that `ti.execution_date` on an instance, and `TaskInstance.execution_date` in a query both behave as expected.

Can you provide a reproduction case for this?

[2021-12-07 22:01] paavanb commented on #20073
Thank you!

[2021-12-07 22:04] ashb commented on #20110
@ryanahamilton I know you were using and depending on CORS -- any ideas here?

[2021-12-07 23:02] kazanzhy commented on #10288
Hi all.
I've tried to remove warnings during GCSToBigQueryOperator as in PR #20119
But as a result, I copied almost all code from `bq_hook.create_external_table` and `bq_hook.run_load` which made the operator's execute method very sophisticated.
That's why I just switched from `cursor` method calls to `BigQueryHook` methods. In my opinion, these methods should not be deprecated.
We need someplace

[2021-12-07 23:03] isaac-florence commented on #19226
Agreeing with @potiuk's comment on #9342, airflow can't do multi-tenancy at the moment. However we have setup an instance which only uses the kubernetesPodOperator, and so can have multiple tenants coexisting where each tenant has their own k8s namespace/openshift project.
This model does require a central technician "approve" DAGs and merge requests to a dag repo to ensure that each tenant's dags

[2021-12-07 23:08] potiuk commented on #20097
Ah yeah. Good point -  I have mistakenly hidden it in the changelog - it is in the hidden section among refactoring (my bad) - see here - it is under "Below changes are excluded from the changelog":

https://raw.githubusercontent.com/apache/airflow/main/airflow/providers/databricks/CHANGELOG.rst

I will restore it in the documentation in https://airflow.apache.org/docs/apache-airflow-providers-dat

[2021-12-07 23:39] jedcunningham commented on #19613
I wasn't able to reproduce the original error, but the log link was broken and should be fixed in #20121.

[2021-12-07 23:40] hkjang commented on #18967
first thanks. also i got that error message ORA-00923

[2021-12-07 23:42] jedcunningham commented on #19613
Ah! #19258 populated `execution_date` in 2.2.2. Mystery solved.

[2021-12-07 23:53] #17800 closed

[2021-12-07 23:57] jedcunningham commented on #19199
@parisni, can you try with 2.2.2? I'm unable to reproduce this with 2.2.2 or main.

[2021-12-08 00:07] jedcunningham commented on #19199
Hmm, I couldn't even reproduce this in 2.1.3 🤷‍♂️

[2021-12-08 01:18] potiuk commented on #12611
Yeah. I also think it's not really AIP-worthy.

But this is very good point with the multi-tenancy interaction

I am performing an inventory of stuff that will be afected by multitenancy proposals and I will take a look on the notifications as well then and think about it (and for sure we will raise it in the API AIP). While the notification mechanism (emails) use now the "Connection" for authenti

[2021-12-08 01:33] sunny760408 commented on #10026
Hi @gcristian ,
What is worker's heartbeats name?  Do you mean `job_heartbeat_sec`?

[2021-12-08 01:45] smartnewsdingli opened #20123 "Multi scheduler caused random worker pods crash"
### Apache Airflow version

2.2.2 (latest released)

### What happened

We have multi schedulers setup with kubernetesExecutor. We find of all 14000 tasks run daily, there are 30+ worker pods crashed because of `airflow.exceptions.AirflowException: Hostname of job runner does not match`.
Then we use one scheduler, this issue gone.

### What you expected to happen

_No response_

### How to reprodu

[2021-12-08 01:57] potiuk commented on #19891
cool. I will refresh the list from scratch tomorrow :).

[2021-12-08 02:06] potiuk commented on #19226
Note that we have now Multi-tenancy effort in progress which I am leading. And while the first two AIPs that are very draft (but will soon be updated) do not address this final granularity yet, they pave the way for the third AIP that is going to address also this use case. Since this is in on the roadmap and planned and part of the bigger multi-tenancy effort, I am closing this one. @mandicLuka i

[2021-12-08 02:11] potiuk commented on #9342
We have now Multi-tenancy effort in progress which I am leading. And while the first two AIPs that are very draft (but will soon be updated) do not address this final granularity yet, they pave the way for the third AIP that is going to address also this use case. Since this is in on the roadmap and planned and part of the bigger multi-tenancy effort. @xuejunteo  @sudarshan2906 @alete89 @malthe if

[2021-12-08 02:12] potiuk commented on #19226
Or actually let me re-open it and add multi-tenancy label to group similar stuff together and refer to it when we will be implementing it.

[2021-12-08 03:59] manuzhang commented on #14459
I don't thinks this is minor now when I'm trying to get DAGs from this tab from the `/dags` endpoint with `only_active` parameter. Meanwhile, is there a way to get all unpaused dags?

[2021-12-08 04:24] PrincipalsOffice commented on #20116
@ashb I have updated the "How to reproduce" section with a reproducible snippet.

[2021-12-08 05:26] uranusjr commented on #20116
Not really, the function has not been touched (except to apply Black) in three years, and is not used at all in the code base, and therefore alluded attention during the `run_id` migration.

----

Feel free to submit a pull request for this. The fix should join DagRun on TaskInstance on `run_id`, and order the result by `DagRun.execution_date` instead. You should be able to find some examples in t

[2021-12-08 06:15] alexott commented on #20097
Thank you Jarek

[2021-12-08 06:55] yrj opened #20125 "Airflow Gantt View is improper"
### Apache Airflow version

2.2.2 (latest released)

### What happened

Airflow Task and Gantt view doesnt display the task names properly in Airflow UI. Anything more than 30 characters are hidden or display is overridden with the charts.

Tree View
![Screenshot 2021-12-08 at 10 42 20 AM](https://user-images.githubusercontent.com/19816434/145152089-01ff5492-c7e4-4616-a8ec-36de59201173.png)

Gantt

[2021-12-08 07:15] uranusjr commented on #18967
ORA-00923 is *FROM keyword not found where expected*. Currently we are testing a database connection with `select 1`, but it seems like Oracle does not support this. [From this table, there is likely not any single query that works accross all implementations.](https://stackoverflow.com/a/3670000/1376863) Perhaps instead of treating all exceptions as a failure, we should selectively catch some and

[2021-12-08 07:23] uranusjr commented on #20110
Looks like the logic does not handle wildcard expansion:

https://github.com/apache/airflow/blob/b0eecc3d997ebbdb1fe6b6dfe7134238543f3dfa/airflow/www/extensions/init_views.py#L167-L171

[2021-12-08 07:24] wsmolak commented on #20100
Thanks @mik-laj!
What is the recommended way to build a cluster config? Usage of ClusterGenerator simplifies running a DataProc pipelines form Composer.

[2021-12-08 07:43] huxuan opened #20127 "WARNING - Access is Denied for: can_read on: CustomUserOAuthModelView"
### Apache Airflow version

2.2.2 (latest released)

### What happened

After configuring `AUTH_OAUTH`, everything looks good except that Role `User` and `Viewer` can not access "Your Profile" page or `/users/userinfo/` API. The logout functionality also does not work well, It may be the same problem or related to https://github.com/apache/airflow/issues/15601.

### What you expected to happen

`V

[2021-12-08 07:47] harishkrao commented on #20032
@mik-laj I have made the change, I have a question on the unit tests. They are failing because the connection sends the region name. Do you have a suggestion on how to test without a region name?
https://github.com/harishkrao/airflow/blob/sqlalchemy-snowflake-region/tests/providers/snowflake/hooks/test_snowflake.py#L94

[2021-12-08 08:07] gbonazzoli commented on #18967
For all Oracle Database's versions you can replace "select 1" with "select 1 from dual"

dual is a logical table present in every oracle schema you're connecting to.

Probably is a simpler implementation of the test.

[2021-12-08 08:22] guptaneha0908 commented on #8521
@honarkhah  May I know how did you fix the concurrent task under subdagoperator issue. I am still facing it. I have raised a similar question here : https://stackoverflow.com/questions/70263466/airflow-1-10-14-subdagoperator-failing-with-deadlock-issue

[2021-12-08 08:33] sushi30 commented on #20099
How did you solve this instance? I am having the same issue but I cannot trace which DAG was deleted.

[2021-12-08 08:48] BasPH commented on #12611
I do think it would be good to have a plan for this one, for example:

- Will we leverage a 3rd party library e.g. [apprise](https://github.com/caronc/apprise)?
- What will the notification abstraction in code look like?
- How will the configuration of each notification system be supported?
- Will notifications be registered in the metastore?
- Will there be any UI changes to view sent notificatio

[2021-12-08 08:51] BasPH commented on #20125
The tree view was rewritten recently: https://github.com/apache/airflow/pull/18675.

If this suits your expectations, could you change this issue to just the Gantt view?

[2021-12-08 09:08] potiuk commented on #18967
Surely for Oracle yes so this mean that you have to add oracle specific 'test_connection" method in https://github.com/apache/airflow/blob/main/airflow/providers/oracle/hooks/oracle.py to override "test_connection" in https://github.com/apache/airflow/blob/main/airflow/hooks/dbapi.py#L376

Would you @hkjang @gbonazzoli care to make a PR fixing it for Oracle Hook? Sounds super easy and since you al

[2021-12-08 09:13] #19269 closed

[2021-12-08 09:29] mik-laj commented on #20100
@wsmolak I would recommend looking at the API reference documentation and building based on this code. That might mean a bit more code, but it's up to Google that they built an API that is quite verbose.
https://cloud.google.com/dataproc/docs/reference/rest

[2021-12-08 09:35] mik-laj commented on #20032
@harishkrao  Hi. I improved the tests yesterday and I think now it will be easy to write the missing test. See: https://github.com/apache/airflow/pull/20095
Now all you have to do is add a test case here.
https://github.com/apache/airflow/blob/545ca59ba9a0b346cbbf28cc6958f9575e5e6b0b/tests/providers/snowflake/hooks/test_snowflake.py#L76-L95
To build a URL, we shouldn't use `string.format`. Instead

[2021-12-08 09:41] potiuk commented on #20100
@mik-laj  @wsmolak  - In principle - I do agree with Kamil.
However I have a thought.

I would not dismiss the option of leaving the ClusterGenerator stratight away.

The API Guide was written for Airflow 1.10, and now when we are releasing new Google Provider every month, regularly like a clock. So as long as someone (your team @wsmolak :) ? ) woudl regularly (even automatically - we used to have

[2021-12-08 09:55] nclaeys commented on #20099
We did know the dag that was deleted, added the dag and disabled it before deleting it again did the trick for us.

[2021-12-08 10:00] Bash- commented on #14872
@potiuk Clear, I understand what you mean.
And you are right, we now understand that the user is created in the backend database, we did not clear it when uninstalling the Helm deployment, installing the Helm Chart again used the old database records.

We did this because we are looking for a way to programmatically create a user. Some context about how we hoped to do it:
1. We use [Secret Store C

[2021-12-08 10:04] ashb commented on #12611
Both of these have the same answer -- yes part of providers, so it doesn't need a "core" decision. So we could have an apache-airflow-providers-apprise that provides a load of notifications, and/or we could have a notification in apache-airflow-providers-slack too.

It could be as simple as this:

[code]

i.e. a function that gets called with the TI context.

The notifications for a TI: they will

[2021-12-08 10:07] mik-laj commented on #20100
The ClusterGenerator is 350 lines of code that does not look like it can be generated.
https://github.com/apache/airflow/blob/bf68b9a8461eda634a7d91aa56575fb950960eaa/airflow/providers/google/cloud/operators/dataproc.py#L90-L444
I think that if we make an exception, similar problems arise with other operators such as BigQuery, which will cause a heavy burden of maintenance with limited profit. On

[2021-12-08 10:08] philipherrmann commented on #20088
So the quick fix is in place for the current version (2.2.2) of airflow. Would you still like me to create a PR for use in future versions of airflow, which

1. changes the parameter name to `follow_redirects` in httpx calls and
2. maybe even changes the dependency constraint to `httpx~=0.21.1`?

No worries if you'd prefer to do that yourself, I have a bunch things to do :) Otherwise, I would give

[2021-12-08 10:37] wyk-qyf commented on #11622
what is the meaning of 5.0.1，is this a airflow version number？I am facing this problem too。how to solve it?

[2021-12-08 10:42] uranusjr commented on #20088
If you change the parameter name, you _must_ change the constraint. Otherwise sure, give it a go.

[2021-12-08 10:46] ashb commented on #20116
Oh, we updated DAG.get_task_instances, but forgot to update BaseOperator.get_task_instances as well

[2021-12-08 11:51] alexott commented on #19490
It's interesting use case. But really we have two things here:
* cluster creation/deletion - these tasks are nicely done with [Terraform](https://registry.terraform.io/providers/databrickslabs/databricks/latest/docs/resources/cluster), for example
* managing the cluster state - stop/start - that's not possible (or very limited) with Terraform

[2021-12-08 12:02] potiuk commented on #12611
+1 on everything @ashb wrote with some update. I thought about using some existing APIs (a'la open-telemetry) but it add 0 value in our case and I agree with @ashb that simple interface where we simply notify with context is enough - with one caveat -we also need to pass "what" we are notifying about, so likely something like htat:
[code]

[2021-12-08 12:32] potiuk commented on #14872
This shoudl be done outside of Helm or Image. Neither helm nor image lifecycle is good for that.

Usually when you deploy Airflow you somehow needs to make sure the database is populated with the right configuration etc. Usually - if you need to re-create Airlfow deployment several time you employ some kind of "infrastructure as a service" approach - typically Terraform but there are ather possibi

[2021-12-08 12:36] potiuk commented on #14872
And in some cases you might revert to manual or scriptable way. Airflow has CLI, API, UI, you can also import/export the DB entries if you feel it's good. As I said - all interfaces are there, you just must plug them in in the way how your organisation typically manages those (or create such standard yourself if you do not have them).

[2021-12-08 12:43] rrpelgrim opened #20134 "Negsignal.SIGABRT when trying to create matplotlib plots in DAG"
### Apache Airflow version

2.2.2 (latest released)

### What happened

My airflow tasks which creates matplotlib figures and saves them locally fails with the following error in the logs:
`INFO - Task exited with return code Negsignal.SIGABRT`

full traceback:
[code]

### What you expected to happen

For the task to complete (since it runs fine locally in a jupyter notebook running on the same so

[2021-12-08 13:02] ghostbody commented on #19767
+1.

I upgrade airflow to 2.2.2 and the problem still exists.

[2021-12-08 13:07] ashb commented on #11622
That was Celery 5.0.1, which is has been out for a long time.
Are you seeing the exact same error mesxsage @wyk-qyf ?

[2021-12-08 13:27] Bash- commented on #14872
We indeed use Terraform to provision the infrastructure we need for Airflow, including the database.
But alright, we will think about how we can create users easily and safely with our setup, as a step after Airflow is deployed. Thank you for your explanation!

[2021-12-08 14:53] eladkal opened #20139 "Restructure Amazon provider operators files"
### Body

Spun out of https://github.com/apache/airflow/pull/19665#discussion_r760469246

**Info:**
Currently operators in Amazon provider has a structure of operator per file ([link](https://github.com/apache/airflow/tree/35be8bdee0cdd3e5c73270b0b65e0552fb9d9946/airflow/providers/amazon/aws/operators)) A single service S3 has 7 operators files! This makes it very hard to discover classes.
The pro

[2021-12-08 14:59] SangwanP opened #20140 "View Average Execution time of a DAG in Tree View"
### Description

When viewing the DAG history in Tree View, individual DAG run times are available by hovering over the DAG run. As an Airflow user, I would like the average execution time to be readily available in the UI -> DAG -> Tree View.
It can be an average over the last _n_ runs, _n_ being the number of runs selected in the Tree View.

### Use case/motivation

The average DAG run execution

[2021-12-08 15:17] frankbreetz opened #20142 "DAG_run_id not include Task Instance object for REST API"
### Apache Airflow version

2.2.2 (latest released)

### What happened

I would expect the DAG_run_id to be included when I do a REST Call to get task Instances.
When doing a task instance batch call, you don't provide the DAG_run_id as input
https://airflow.apache.org/docs/apache-airflow/stable/stable-rest-api-ref.html#operation/get_task_instances_batch

it would be easier to identify task Instan

[2021-12-08 15:18] easontm opened #20143 "task_instance_mutation_hook not applied every time"
### Apache Airflow version

2.2.2 (latest released)

### What happened

The [example task instance mutation](https://airflow.apache.org/docs/apache-airflow/stable/concepts/cluster-policies.html#task-instance-mutation) shows a queue mutation:
[code]

An easy way for me to validate that queue mutation works is to use my `CeleryKubernetesExecutor` deployment, and make the hook send the task to the Ku

[2021-12-08 15:57] saveriogzz opened #20144 "SFTPHook requires param 'ftp_conn_id' to be passed even for ssh connections"
### Apache Airflow Provider(s)

sftp

### Versions of Apache Airflow Providers

apache-airflow-providers-sftp==2.2.0

### Apache Airflow version

2.2.2 (latest released)

### Operating System

Ubuntu 20.04.3 LTS

### Deployment

Docker-Compose

### Deployment details

_No response_

### What happened

When instantiating an SFTPHook in order to create a connection to an sftp server, I noticed that

[2021-12-08 16:11] #19613 closed

[2021-12-08 16:21] davidavdav commented on #20063
Currently, see #19745, `%2f` does not work.  But I am not sure if it should, if by http protocol a `%2f` is equivalent to a `/`, then it might arrive as such in the flask routing.  But then again, if by http protocol `%2f` is meant as an escape, maybe it should.  I don't know the protocol that well...

[2021-12-08 16:22] kaxil commented on #14872
@Bash- I would recommend you use APIs for that functionality -- or just CLI with null-resource to run bash commands

[2021-12-08 16:31] kaxil commented on #14459
I don't think so .. cc @ephraimbuddy -- We should probably have a "unpaused" dags filter in that endpoint too and explain the difference of "unpaused" vs "active" in the spec and docs.

[2021-12-08 16:48] uranusjr commented on #20063
I'll spend some time tomorrow looking into this. Percent encoding _should_ work according to the specs.

[2021-12-08 17:10] parisni commented on #19199
Thanks for your support. This was also fixed in our environment.
Probably some magical dwarfs under the hood

On Wed Dec 8, 2021 at 1:07 AM CET, Jed Cunningham wrote:

[2021-12-08 17:10] SacredSkull commented on #8792
The above is still true as of Airflow 2.2.2 - I would love to see this working!

Perhaps as an option `do_xcom_push_on_failure`?

As a work-around I've had to let the internal script pass and handle/check for the error in a downstream task and mark that as a failure.

[2021-12-08 17:16] ururu-fy commented on #16622
@raefezzeldin hello. could you please tell me how you resolved this problem?

[2021-12-08 17:23] #19199 closed

[2021-12-08 17:32] edithturn commented on #19966
I created a PR to update the documentation to install  Breeze2 on Windows.
https://github.com/apache/airflow/pull/20148.

colors in terminal
possibility to use commands and flags
[stretch goal] autocomplete in Windows (we might separate it out to a separate task later)

@potiuk I think the task is still incomplete, as we need to verify this registered as the scope of the task. Let me know your tho

[2021-12-08 17:38] easontm commented on #19901
Just out of curiosity, does the scheduler create another run if you modify the file?

[2021-12-08 17:48] yiga2 commented on #19922
@josh-fell just to clarify that a use case - not mine - may not involve the use of a `BranchPythonOperator` right (or any time) after, so no real dependency or downside. Any downstream task could just use the result of the `ShortCircuitOperator` evaluation with the change, whereas today it can't.

[2021-12-08 18:06] dstandish commented on #8792
Yeah I think we should go ahead and make this with no option -- just make it push xcom in a `finally` or something.  But have to check on timing.  There's a refactor of KPO in progress and may make sense to include the change as part of that.

[2021-12-08 18:17] kaxil commented on #8792
Plus one to what Daniel said

[2021-12-08 18:40] ephraimbuddy commented on #19901
@alexakra This issue need more information. What do you mean by no scheduling? Is it that dagruns are not created at all? Please explain with more information

[2021-12-08 18:55] rsg17 commented on #15783
Hi - I would like to contribute to this. I am new to airflow.. are there any pointers you could share to help me get started?

[2021-12-08 19:03] rsg17 commented on #20007
Hi - I am new to Airflow and would like to try and take a pass at this.

I have breeze setup; have created one [PR](https://github.com/apache/airflow/pull/19727); but nothing on the operators side. I will go through the corresponding code and contributing page again. Do let me know if you have any pointers..

[2021-12-08 19:11] o-nikolas commented on #20139
Hey Elad,

Thanks for cutting this ticket!

We can take this work item over here at AWS; assign the task to me unless someone else is keen to do it, and we'll pick away at it :+1:

[2021-12-08 19:18] eladkal commented on #20139
Multiple people can work on it together. Each action item is stand alone. Together we can finish this quickly.
I started with ec2. When you actively work on a class just comment hete.

[2021-12-08 19:26] o-nikolas commented on #20139
Ah okay, I didn't think there was any urgency here. Fair enough. But yes, definitely agree that it is parallelizable  :+1:

[2021-12-08 20:34] jwijffels commented on #19028
Bumped into this error as well. Pretty annoying. Had to indeed incorporate the changes to https://github.com/apache/airflow/pull/20114/files#diff-e039f5fcb6c655f83aef48e7d7e0c430224c3e1af92d150a6782a3d8baff13ef to get it working.

[2021-12-08 20:38] #16502 closed

[2021-12-08 21:17] potiuk commented on #20144
Why?

[2021-12-08 21:22] potiuk commented on #20063
Yep. It definitely should

[2021-12-08 21:29] jwijffels commented on #19028
Not sure if this related (although it looks like it when skimmin #15947) and sorry to hack on this issue thread but in my setups I run quite some R scripts through Airflow using the following `BashOperator `setup shown below.
The `BashOperator` commands don't show output (print statements in R) to the logs any more which used to be the case in Airflow 1.10

[code]

[2021-12-08 21:31] plockaby commented on #19028
Looks related to #19376

[2021-12-08 21:37] jwijffels commented on #19028
Yeah #19376 is exactly what I'm experiencing with these logs, looks like I need to downgrade to Airflow 2.1.4 instead of Airflow 2.2.2. Wonder what happened that this impersonation with run_as_user made this logging fail as well.

[2021-12-08 21:57] potiuk commented on #20139
Nice. you just might want to make it easier to get people to migrate and keep the deprecation working @o-nikolas @eladkal . We also have very nice framework for deprecation warnings (used during 1.10/2.0 migration: https://github.com/apache/airflow/blob/main/tests/deprecated_classes.py.

[2021-12-08 22:14] #17874 closed

[2021-12-08 22:23] mik-laj commented on #20142
Done: https://github.com/apache/airflow/pull/19105

[2021-12-08 22:23] #20142 closed

[2021-12-08 22:24] saveriogzz commented on #20144
To be consistent with the SFTPOperator and not to mislead the type of connection to be used since there are both FTP and SFTP connections!

[2021-12-08 22:28] potiuk commented on #20144
OK. Works for me. Sftp is really ssh under-the-hood indeed. But you should make sure to keep deprecated previous option working too. Assigning you :D

[2021-12-08 22:39] #13573 closed

[2021-12-08 22:39] mdcsaenz commented on #13573
Closing b/c it led to me  putting this issue https://github.com/apache/airflow/issues/16783

[2021-12-08 22:56] kaxil commented on #20144
I would say rather than deprecating, allow both as it is quite common to use SSH for get and send files

[2021-12-08 22:57] kaxil commented on #20143
cc @dstandish Can you try and replicate this one please?

[2021-12-08 23:49] kaxil commented on #12338
Agree

[2021-12-08 23:49] #12338 closed

[2021-12-09 00:19] potiuk commented on #20144
It's really about the "__iniit__" parameter name of Hook, so I am not sure if we should have two variants :). One should be blesssed.

[2021-12-09 00:19] potiuk commented on #20144
And there is disconnect which one is used between the  Operator and Hook.

[2021-12-09 00:20] kaxil commented on #20139
Agree with the proposed changes @eladkal

[2021-12-09 00:23] kaxil commented on #20144
Oh yes this is regarding the Hook, I am fine with that.

The SftpOperator uses the SSHHook anyway so all food 😅

[2021-12-09 00:36] potiuk commented on #20144
Food is good 🥫

[2021-12-09 00:36] potiuk commented on #20144
:D

[2021-12-09 01:02] potiuk commented on #20134
There is not much information but from your description it looks like this (or similar): https://stackoverflow.com/questions/60574601/how-can-i-fix-a-sigabrt-error-on-my-macos-hight-sierra

Simply Airflow tasks run as non-interactive process and they have no acces to your graphical card (and your UI). The opencv-headless package allows you to build the visualisation using only CPU.

You could also

[2021-12-09 01:16] burakovsky commented on #17447
Is it possible to add a similar configuration for other resources with hardcoded helm annotations (extra-configmaps, redis-secrets.yaml) ?

[2021-12-09 01:58] plockaby commented on #19376
I think that I know the issue but I'm not confident in my solution.

Roughly, the problem is that normally tasks are called using using `os.fork` and the task is called from within the existing airflow environment. When you use impersonation then a new airflow process is created and wrapped with sudo. That new process is run basically by calling `sudo -u myuser airflow tasks run ....`. When airflo

[2021-12-09 03:57] harishkrao commented on #20032
Thank you @mik-laj. I will write the test cases based on the new tests you pushed yesterday.
Also thank you for the SQL Alchemy URL build link. I will use it to construct the URI.

[2021-12-09 04:21] david30907d commented on #19507
@kazanzhy sorry for the late reply
good to know this new conn_type! I'm still using 2.1.2 so didn't realize it 😅
going to close this issue, thx~

[2021-12-09 05:50] josh-fell commented on #19891
I started looking into `dev`. Let me know if someone else has already though.

[2021-12-09 06:18] KennyRich commented on #20139
Can I work on one of the classes? I can work on sagemaker. @eladkal and @o-nikolas

[2021-12-09 06:48] david30907d commented on #19507
@kazanzhy I could be wrong but it still fails on my local (2.2.2)
seems to me that [conn_type](https://github.com/apache/airflow/blob/main/airflow/hooks/dbapi.py#L107) here would return `gcpbigquery` instead of `bigquery`, so sqlalchemy cannot parse this URL

[code]

[2021-12-09 06:49] david30907d commented on #19507
not sure I guess we still need to overwrite the `get_uri()` function like these 2 examples ?
https://github.com/apache/airflow/blob/f99d0e7066d2c00ff6581fd566a4d0a9826a2fc3/airflow/providers/amazon/aws/hooks/redshift.py#L193
https://github.com/apache/airflow/blob/f99d0e7066d2c00ff6581fd566a4d0a9826a2fc3/airflow/providers/apache/drill/hooks/drill.py#L62

[2021-12-09 07:35] alexakra commented on #19901
yes, just another single run

[2021-12-09 07:42] alexakra commented on #19901
There is a record in the "dag" table in which `next_dagrun_create_after` remains `null`.
In the description above, I pointed to the exact line in the code. It was changed in 2.2.
And "If this condition is evaluated when a state is "running" then it is incorrect.", i.e. condition should be ">" instead of ">=".

[2021-12-09 07:44] bhavaniravi commented on #20139
I can take up a few of them since @KennyRich wants to do S3. I'll start with ECS

[2021-12-09 07:47] harishkrao commented on #20032
@mik-laj
Made the below changes, running pytests pending, will let you know after running them tomorrow:
https://github.com/harishkrao/airflow/blob/fix-sqlalchemy-snowflake-region/airflow/providers/snowflake/hooks/snowflake.py#L216-L239
https://github.com/harishkrao/airflow/blob/fix-sqlalchemy-snowflake-region/tests/providers/snowflake/hooks/test_snowflake.py#L268-L279

[2021-12-09 07:48] eladkal commented on #20139
Already started EC2 as mentioned earlier.. I'll PR shortly... There is plenty to pick up...

@KennyRich  yeah go ahead

[2021-12-09 07:51] KennyRich commented on #20139
Please kindly link your PR here so I can easily see and learn from it.

[2021-12-09 07:52] KennyRich commented on #20139
@eladkal Please kindly link your PR here so I can easily see and learn from it.

[2021-12-09 07:55] bhavaniravi commented on #20139
Let me start with DMS, then. Quick question. Should we add the deprecated warning like the following on existing modules, or is this auto-generated?

[code]

[2021-12-09 08:25] bhavaniravi commented on #20139
Found the following error in `provider.yaml` in pre-commit, how to tackle them?

[code]

[2021-12-09 08:30] ckljohn opened #20155 "ssl_cert_reqs has been deprecated in pymongo 3.9"
### Apache Airflow Provider(s)

mongo

### Versions of Apache Airflow Providers

2.2.0

### Apache Airflow version

2.2.2 (latest released)

### Operating System

Debian GNU/Linux 10 (buster)

### Deployment

Official Apache Airflow Helm Chart

### Deployment details

_No response_

### What happened

`ssl_cert_reqs` has been deprecated in pymongo 3.9
https://github.com/apache/airflow/blob/provide

[2021-12-09 09:15] potiuk commented on #20063
Bummer

[2021-12-09 09:22] raefezzeldin commented on #18135
Hi @potiuk,

I have fixed the issue by adding the following in the mount options of the persistence volume
- noperm

but I have faced another issue, is that the Scheduler start to generate an error while parsing the DAGs. DAGBAG import timout which cause some random tasks to fail (dagid not found or it is not parsed)

any idea about that issue

[2021-12-09 09:22] raefezzeldin commented on #18135
Hi @potiuk,

I have fixed the issue by adding the following in the mount options of the persistence volume
- noperm

but I have faced another issue, is that the Scheduler start to generate an error while parsing the DAGs. DAGBAG import timout which cause some random tasks to fail (dagid not found or it is not parsed)

any idea about that issue

[2021-12-09 09:34] ephraimbuddy commented on #19901
max_active_runs is for dag_runs in `running` state. Do you mean that when you set `max_active_runs=1` in your DAG that you don't see any dagruns in `running` state? I'm trying to understand your issue. What is the issue? Not asking for the code explanation but the issue you face when you use `max_active_runs` in your dag

[2021-12-09 09:47] eladkal commented on #20139
See the linked PR to the action items.

[2021-12-09 09:55] alexakra commented on #19901
Yes, when I set `max_active_runs=1` in a DAG, I don't see any dagruns in running state. It is not triggered anymore after it ran only once.

[2021-12-09 10:15] ghostbody commented on #19767
I had a look at the airflow sheduler logs and found this:

[code]

While dag callbacks are executed by the processor as the source code indicated(in the process_file function), this timeout error could lead to callbacks missed.

I set up this [config](https://airflow.apache.org/docs/apache-airflow/stable/configurations-ref.html#dag-file-processor-timeout) (to 100 seconds or more) and this problem

[2021-12-09 10:19] rrpelgrim commented on #20134
Thanks @potiuk. Installing the `opencv-python-headless` package did not solve it for me, unfortunately.
I'm hesitant to dig into running it on my GPU. Do you jappen to know of another simpler workaround?

[2021-12-09 10:19] ghostbody commented on #19767
Also, to make more logs for callbacks is rather necessary. 😢

[2021-12-09 10:46] ephraimbuddy commented on #19901
This looks like an issue with your schedule interval and not max_active_runs because I have a dag with max_active_runs=1 that is running correctly with airflow 2.2.2.
Can you share your DAG file

[2021-12-09 10:48] kazanzhy commented on #19507
Seems you're right @david30907d
So now I see three options:
- Rename `conn_type` from `gcpbigquery` to `bigquery` (harder)
- Overwrite of `DbApiHook.get_uri` in `BigQueryHook` (easier).
- Try not to use `BigQueryHook.get_uri()` and use a lot of other methods provided by hook (up to you)

[2021-12-09 10:48] ephraimbuddy commented on #19767
Callback logs are in logs/scheduler/{date}/{dagfilename}.log

[2021-12-09 11:02] Aakcht opened #20159 "Unnecessary warnings during airflow pods starts"
### Apache Airflow version

2.2.2 (latest released)

### What happened

Warnings `{providers_manager.py:156} WARNING - Exception when importing 'airflow.providers.google.leveldb.hooks.leveldb.LevelDBHook' from 'apache-airflow-providers-google' package: No module named 'plyvel'` appear in `wait-for-airflow-migrations` init containers and during webserver pod start.

### What you expected to happen

[2021-12-09 11:07] jpradass commented on #19767
I'll give it a try and check if that works for me too.

Thank you @ghostbody

[2021-12-09 11:09] calfzhou commented on #19342
![image](https://user-images.githubusercontent.com/3761553/145385673-286c0197-bb97-4135-9170-cf5f7946fd48.png)

[2021-12-09 11:11] siddarthjha commented on #19342
Thank you

[2021-12-09 11:32] alexakra commented on #19901
[test_dag.py.txt](https://github.com/apache/airflow/files/7684689/test_dag.py.txt)

[2021-12-09 12:38] ghostbody commented on #19767
There is no log when callback is missed.

[2021-12-09 12:58] jensgrnb opened #20168 "KubernetesExecutor reports missing dag_run.data_interval_start on airflow@2.2.1"
### Apache Airflow version

2.2.1

### What happened
Tried scheduling a KubernetesExecutor job.

The scheduler was unable to do this. Reports missing column  dag_run.data_interval_start  in metadatabase.

Seems to only affect KubernetesExecutor jobs.

[code]

### What you expected to happen

I expected that the pod would be started without problems.

### How to reproduce

Try running a Kubernetes

[2021-12-09 13:06] kaxil commented on #20144
![d](https://media.giphy.com/media/kCAKbvUp4FTWUu3u1s/giphy.gif)

[2021-12-09 13:31] potiuk commented on #19891
All right I regenerated the current list of packages, and it went a bit down :).

Not every package we "cleaned up" is gone from the list  because as we clean-up and add Types in the "common" parts - new errors might appear in the packages that are using them.

From what i checked in "Breeze" we have still 952 errors  - but I think it should not discourage us. In the initial period I believe it wi

[2021-12-09 13:32] potiuk commented on #19891
And the faster we fix the common packages, the faster the "dependent" packages will stabilize and the numbers will go down :)

[2021-12-09 13:42] potiuk commented on #20134
You should really check what's the error message there. You can try to run your stuff for example from a cron job to avoid the "interactive" part.

[2021-12-09 13:43] potiuk commented on #20134
And I am moving that to discussion - this is not really an Airlfow bug.

[2021-12-09 13:54] ashb commented on #19891
I've also noticed that MyPy gives different results based on if you just check a module in isolation or the whole code base (i.e. `mypy airflow/models/dag.py` could say 0 errors, but `mypy airflow` could still list errors in dag.py. Fun)

[2021-12-09 13:57] jensgrnb commented on #20168
Without doing anything to the pod template, it lists this label "airflow_version": 2.1.4 not 2.2.1 in the pod description.

On the last successful job we had running on 2.1.2 there was no discrepancy between the label and the docker tag.

[2021-12-09 14:05] potiuk commented on #20159
Oh yeah it's been on my list as thing to fix! It's really annoying . Let me assign you @Aakcht

[2021-12-09 14:42] jensgrnb commented on #20168
It seems to be that we have a discrepancy between the docker tag and the actual airflow version we're getting in the image..

[2021-12-09 14:52] potiuk commented on #20168
Yeah. You have to keep your pod template and base image synced after the update.

I think this will be handled much better soon with #18439 - when DB migrations will be involved and not applied, your K8S job should fail with an appropriate message. But I think this also comes back to our earlier discussion @kaxil  @jedcunningham  @dimberman  (with migration containers) -  what happens if there are

[2021-12-09 15:05] jensgrnb commented on #20168
Oh oh, so because I don't touch the pod template, I'm actually running a different version of airflow in the cluster than what's specified in the docker tag?

[2021-12-09 15:16] jensgrnb commented on #20168
Currently kubetl specifies `apache/airflow:2.2.1-python3.8` as docker tag on all airflow components in our GKE cluster, however running `airflow version` in any of the containers returns `2.1.4`.

[2021-12-09 15:16] ashb commented on #20016
Sounds like an odd problem with Aurora then 😢

[2021-12-09 15:20] subparry commented on #12103
In Airflow 2.2.1 this problem still happens

[2021-12-09 15:22] ashb commented on #19376
@plockaby I have a feeling the problem might be, that without that `--interactive` arg the logs are written to a file that is owned by the other user (but that airflow can't read). Are you able to confirm if my hunch is correct?

[2021-12-09 15:23] ephraimbuddy commented on #19901
I ran your dag and it ran perfectly well

[2021-12-09 15:24] potiuk commented on #20168
That's NOT GOOD :)

[2021-12-09 15:27] jensgrnb commented on #20168
Well, it's almost the same..

[2021-12-09 15:34] alexakra commented on #19901
Could it be related to an upgraded from 2.1.4?

[2021-12-09 15:50] kaxil commented on #20097
-1 for Databricks provider. The change in https://github.com/apache/airflow/pull/19835 causes DB call in init (which was fixed in last version). @josh-fell  will have a PR in a bit to fix it

[2021-12-09 15:55] potiuk commented on #20097
Cancelling it then

[2021-12-09 15:55] #20097 closed

[2021-12-09 16:04] jensgrnb commented on #20168
I see stuff like

[code]

[2021-12-09 16:07] martynas-matimaitis-cko opened #20171 "Permissions not working as documented"
### Apache Airflow version

2.2.2 (latest released)

### What happened

I created a custom role which has `can_edit` role for a group of DAGs using this permission syntax: `can edit on DAG:dag_id`. Based on [this documentation](https://airflow.apache.org/docs/apache-airflow/stable/security/access-control.html) I assigned `can create on DAG Runs` permission to that role so it would have the minimum

[2021-12-09 16:13] kazanzhy commented on #19384
I wonder the streaming jobs run using Airflow are good practice.
So you have the DAGs that continuously running?
@MammutMKII

I'm can try to implement retries for LivyOperator. Could you assign it to me?
@potiuk

[2021-12-09 17:02] andrewgodwin commented on #20063
Ah yes, this old biscuit. ASGI behaves the same in this regard - as HTTP specifies that `%2f` is equal to a `/`, ASGI also force-urldecodes everything before the application has a chance to look at the query string. `raw_path` is there for the people who complained about this, but in reality, you shouldn't expect to discriminate between escapes and the characters they represent (e.g. a proxy in be

[2021-12-09 17:04] edithturn commented on #19969
Why we are using `docker_v system prune` instead of `docker system prune`?

For this, I can understand that is for making VERBOSE more readable?
`# In case "VERBOSE" is set to "true" (--verbose flag in Breeze) all docker commands run will be
# printed before execution. In case of DRY_RUN_DOCKER flag set to "true"
# show the command to execute instead of executing them`

[2021-12-09 17:09] potiuk commented on #19969
Precisely. In our case we can do it differently - we can make a function that will do that for us. But this might be done later when we start extracting common parts.

As the good old saying is "let's make things usable before they are made reusable".

[2021-12-09 17:12] edithturn commented on #19969
In which part of the ci process do we call this function "free_space.sh"?
is testing it independently (free-space.py) but now I want to test the whole flow :)

[2021-12-09 17:30] potiuk commented on #19969
It will be launched automaticallyt when you submit the PR in GitHub Actions: https://docs.github.com/en/actions - Generally the build you see in PR is precisely the "ci.yml" execution. There is also this project: https://github.com/nektos/act which apparently allows you to run it locally but when we tried it some time ago it did not work well - but I hear it improved since.

[2021-12-09 17:36] kaxil opened #20175 "Add missing docs on using more than one `pool_slot`"
### Describe the issue with documentation

We added a feature that allow more than one pool slots to be used by a single task in https://github.com/apache/airflow/pull/7160

However, we currently have no docs on it.

We should add some docs in https://airflow.apache.org/docs/apache-airflow/stable/concepts/pools.html that covers:

- Example of an operator using it
- Use-cases when it might be helpf

[2021-12-09 18:02] ephraimbuddy commented on #19901
Not sure but check your logs if there's anything you can see

[2021-12-09 18:46] potiuk commented on #20168
How do you get your images ?

[2021-12-09 18:48] potiuk commented on #20168
Maybe when you build your images you use "latest" tag from Airflow and your "latest" was pulled when it 2.1.4 ?

[2021-12-09 18:51] plockaby commented on #19376
Well, I only started examining Airflow for use at my job like two weeks ago so my knowledge of it is beginner at best. I looked at the logs here:

/opt/airflow/logs/example/run_this_as_nobody/2021-12-09T17:59:48.763174+00:00

The directory and the file are owned by the "airflow" user, not by the "nobody" user. And the logs just say:

[code]

I can find nothing else under `/opt/airflow/logs` that r

[2021-12-09 19:07] ashb commented on #19376
K, so I think the problem is that the subprocess can't re-open the log file to write logs to it, and the downside to `--interactive` is that we get `INFO - Job 192: Subtask run_this_as_nobody` prefixed on everyline.

Could you try adding the log file to the `sudo chown` invocatoin (and `chown` it back at the end!)? For now just hack in a hard coded file and see if that fixes the problem, and if it

[2021-12-09 19:42] BasPH commented on #20175
Subscribing to the thread because I wonder what the use case is for pool slots.

[2021-12-09 19:53] eladkal commented on #20175
Pools are used to limit concurrency with external services.
Not all tasks "weight" the same. Some tasks might require more resources from the external service - so for those heavy tasks you might want to occupy more slots of the pool to avoid scheduling more tasks.

[2021-12-09 20:12] BasPH commented on #20175
I get that, but what do pool slots give over creating a second pool with fewer slots?

[2021-12-09 20:30] eladkal commented on #20175
Say we have:
`Pool(pool='db', slots=2)`
This pool protect a resource that can handle up to 2 units of computing power.

and we have:
[code]

With this code the resource is protected according to requirements.
How would suggest to get the same functionality with 2 pools (without `pool_slots`)?

[2021-12-09 21:08] plockaby commented on #19376
The log files are already world writable (666). I modified file_task_handler.py to make the log directory also be 777 (as it is currently 775) and that didn't make any impact.

[2021-12-09 21:33] #20159 closed

[2021-12-09 21:39] potiuk commented on #20175
Ah. How cool I did not know Airflow can do that :)

[2021-12-09 22:26] akennedy4155 opened #20185 "upgrade check script does not warn for Airflow 1 style bash_operator when using xcom_push (deprecated) parameter"
### Apache Airflow version

2.1.4

### What happened

The upgrade check script does not warn for a DAG that uses deprecated parameters on deprecated operators.  Now that I'm checking this through further, the upgrade-check script doesn't even warn when the deprecated `bash_operator` is used.

If this is expected, please let me know, but these DAGs will cause import errors when upgrading to Airflow

[2021-12-09 22:55] plockaby commented on #19376
A follow-up: I had file_task_handler.py write every time it opened a log file and which log file and the pid that tried to do it. e.g. they would create a file called "/tmp/pidXX" and contain the name of the directory or directories that they tried to open. The pid of the process running in sudo never tried to open the log file for the task it was running and in fact never tried to open any log fi

[2021-12-09 23:46] dstandish commented on #20143
in the meantime @easontm you might try using `task_policy` instead of `task_instance_mutation_hook`

i suspect it won't have the same issue.

[2021-12-09 23:53] dstandish commented on #20143
@kaxil taking a look at the code, it makes sense that this would happen because the hook is only called within `verify_integrity`, which is only called within `create_dagrun`

after a `clear`, the dag run is already there, so this would not get called.

do you know  where TIs get created after a clear?

[2021-12-10 00:35] msinha251 opened #20186 "Airflow dag timeout for emr on eks operator (EMRContainerOperator)"
### Apache Airflow version

2.2.2 (latest released)

### What happened

We are trying to use airflow EMRContainerOperator for EMR on EKS from airflow DAG.
And following the the dag from [exmaple_emr_on_eks_dag](https://airflow.apache.org/docs/apache-airflow-providers-amazon/2.2.0/_modules/airflow/providers/amazon/aws/example_dags/example_emr_eks_job.html)
DAG is creating the pod on eks cluster but

[2021-12-10 00:42] dstandish commented on #20143
hrmm interesting...

here's  what i did...

run a dag with two tasks

kill the scheduler

update TI mutation hook to change queue to `special_queue`

start scheduller

clear _one_ task

outcome:

task runs, and _both_ TIs are updated with the `special_queue` queue

strange.... will have to look more

[2021-12-10 02:47] potiuk commented on #20185
I think you must have mixed something - different dags were installed in both airflows for example. The error you show is from a completely different dag than the one you copy pasted. The one you pasted could not.gwnerare the error because it even does nor use the Bash operator.

So please double check of you have the right days in your environments. I suspect it is your environment

Converting it

[2021-12-10 03:12] subkanthi commented on #19891
Fixes mypy in airflow/providers/neo4j and airflow/providers/influxdb

https://github.com/apache/airflow/pull/20189/files

[2021-12-10 04:04] subkanthi commented on #19891
I come across this error a few times, is there a fix for this
Module "functools" has no attribute "cached_property"

[2021-12-10 04:17] subkanthi commented on #19891
Fix mypy in

- airflow/providers/apache/spark/hooks

https://github.com/apache/airflow/pull/20190

[2021-12-10 04:46] josh-fell commented on #19891
You can use the `# type: ignore[attr-defined]` marker so Mypy ignores that specific error.

[2021-12-10 08:18] BasPH commented on #20175
Oh I see, you'd only be able to approximate a limit of 2 "units" without pool slots.

[2021-12-10 08:22] uranusjr commented on #19891
A better fix is

[code]

This is the solution used in `airflow.compat.functools`, which should be used by “proper” Airflow code. But providers unfortunately cannot use it (yet).

[2021-12-10 09:24] jensgrnb commented on #20168
mm we don't build on top of the dockerhub image here: https://hub.docker.com/layers/apache/airflow/2.2.1-python3.8/images/sha256-e0dd0f34848d0d87e6a372507ebcd844028e095ec29e95c4569dcb5a2042fc84?context=explore

We pull it directly from dockerhub and run airflow cmds to set up the webserver, worker, etc.

We use this helm chart: https://github.com/airflow-helm/charts/tree/main/charts/airflow

Is it

[2021-12-10 11:00] ururu-fy opened #20196 "dags folder mount readonly with git-sync true option"
### Official Helm Chart version

1.3.0 (latest released)

### Apache Airflow version

2.2.1

### Kubernetes Version

1.20

### Helm Chart configuration

# Git sync
dags:
  persistence:
    # Enable persistent volume for storing dags
    enabled: false
    # Volume size for dags
    size: 1Gi
    # If using a custom storageClass, pass name here
    storageClassName:
    # access mode of the persist

[2021-12-10 11:13] ururu-fy commented on #20196
I would like to store master dag file generator in git and sync it to dags folder. Master dag auto generates new dags into the same folder.

[2021-12-10 11:15] BasPH opened #20197 "Triggering a DAG in Graph view switches to Tree view"
### Apache Airflow version

2.2.2 (latest released)

### What happened

After I trigger a DAG from the Graph view, the view switches to the Tree view (happens on both 2.2.2 and main).

### What you expected to happen

I expect to stay in the Graph view, ideally switch to the newly created DAG run

### How to reproduce

Trigger a DAG from the Graph view

### Operating System

N/A

### Versions of A

[2021-12-10 11:22] jensgrnb commented on #20168
We're adding the follow extra pip packages:

[code]

From the pip logs that results in

[code]

[2021-12-10 11:23] jensgrnb commented on #20168
Looks like we're overwriting the docker defined apache-airflow app...

[2021-12-10 11:25] jensgrnb commented on #20168
The celery pin is due to this: https://github.com/apache/airflow/issues/19136

Not sure which of the pip packages has this sideaffect of installing airflow 2.1.4. I guess it's the `apache-airflow[sendgrid,google]~=2.1.2` pin that forces it.

[2021-12-10 12:28] hterik commented on #20143
In a [slightly unrelated issue](https://github.com/apache/airflow/issues/19673#issuecomment-984574489), I noticed that dags triggered manually don't execute the `task_instance_mutation` hook, only those triggered by schedule. Perhaps that's what you are seeing also.

[2021-12-10 13:25] alangularte opened #20198 "Airflow UI "Next Run" displays wrong value"
### Apache Airflow version

2.2.2 (latest released)

### What happened

"Next run" time, displayed in Airflow UI, is not exactly the same as defined in the DAG script.
![Capture](https://user-images.githubusercontent.com/3098082/145580711-c234b5a2-fed0-41ff-81ad-a476e3d7e3be.PNG)

### What you expected to happen

Airflow UI should have the "Next Run" date time exactly the same as defined in the DA

[2021-12-10 13:35] ashb commented on #20198
This is by design -- the date of the first run is "normalized" to match the schedule interval. `*/2` doesn't say "every two minutes", but at every even minute (48,50,52,54 etc).

If you want every two minutes after the start time, use `schedule_interval=timedelta(minutes=2)`

[2021-12-10 13:35] #20198 closed

[2021-12-10 13:44] alangularte commented on #20198
Thank you @ashb for the clarification! It worked now as expected.

[2021-12-10 15:34] alete89 commented on #17508
is there at least a CLI command that we could run to refresh permissions from DAGs `access_control` field? both remove and add new ones.

[2021-12-10 15:37] josh-fell commented on #19891
@uranusjr My recent mypy fix for Azure used that marker in 'airflow/providers/microsoft/azure/log/wasb_task_handler.py'. Happy to implement your suggestion instead if you feel it's best.

[2021-12-10 15:42] alete89 commented on #8609
I'm Still experiencing this on 2.1.4 and 2.2.2

[2021-12-10 15:52] ashb commented on #19891
Yes please @josh-fell , we can't use `airflow.compat.functools` in providers, that module only got added in 2.2.0, so if we use that in providers it would need a min airflow version of 2.2.0.

[2021-12-10 16:06] josh-fell commented on #19891
On it. Thanks @ashb. I'll add the version check instead of using the `ignore[attr-defined]` comment that's there now.

[2021-12-10 16:07] jedcunningham commented on #20196
Even then, your pattern won't work without also having persistence enabled, as each component gets its own emptyDir dags volume. There are also race conditions with your plan - think of the delay between syncing a new change from git (which throws away local changes) and your generator DAG running.

You'd be better off having something else do the DAG generation (e.g. ci/cd), then using git-sync o

[2021-12-10 16:11] jedcunningham commented on #17508
What version of Airflow are you running? I see it in help:

[code]

[2021-12-10 16:38] alete89 commented on #17508
Woops! You're right, Jed, I suppose I missed something when I ran it last time.

Now getting back to the bug, I'm experiencing this on 2.1.4 but I tested it on 2.2.2 locally and it happens as well.
What I'm experiencing is Airflow not updating permissions at all (neither adding or removing role permissions) based on DAG `access_control` field.

Only by running `airflow sync-perm --inlcude-dags` wi

[2021-12-10 17:28] jedcunningham commented on #17508
I wonder if you are running into this? #18575

Make a trivial change and watch your UI for an import_error (it'll only last a single dag parsing cycle), or look in your parsing log (e.g. AIRFLOW_HOME/logs/scheduler/...).

Removal of the role isn't an easy fix, unfortunately, but adding new roles should work.

[2021-12-10 17:46] Bowrna commented on #19970
I will pick this task :)

[2021-12-10 18:28] bparhy opened #20203 "Airflow scheduler with Kubernetes executor trying to adopt pod from other deployment"
### Apache Airflow version

2.1.3

### What happened

We are using Airflow version 2.1.3
Using kubernetes executor
We have other deployment in this k8s namespace which are running using airflow 1.10.10 and 1.10.12 etc.
For the airflow version 2.1.3 we are seeing an error in the scheduler logs where it looks like the scheduler is trying to adopt pods which are scheduled by other airflow deployments

[2021-12-10 18:44] potiuk commented on #20168
NEVER  use `extraPipPackages` or equivalent in production.
We warn against trying to do similar thing for similar case with images  https://airflow.apache.org/docs/docker-stack/entrypoint.html#installing-additional-requirements  - and we had a number of discussions and warned  @thesuperzapper that those kind of cases like yours will be happening. That's perfect example of why you shoudl not do it.

[2021-12-10 18:44] #20168 closed

[2021-12-10 19:07] potiuk commented on #19891
And @josh-fell - in case you asked - if you try to use the functools, the CI would have failed in the "install providers on 2.1" CI test :).

[2021-12-10 19:23] potiuk commented on #20196
yep. This is a very wrong approach (And @jedcunningham had nicely explained why).

Here are our best practices on dynamic dag generation: https://airflow.apache.org/docs/apache-airflow/stable/best-practices.html#dynamic-dag-generation - you have couple of options there.

Having the DAG generate python files dynamically sounds like recipe for disaster.  Please follow best practices @ururu-fy .

[2021-12-10 19:23] #20196 closed

[2021-12-10 19:29] potiuk commented on #19970
Please :). I will catch-up tomorrow and  describe few more tasks for you and @edithturn as discussed on Thursday (coming back home tomorrow morning).

[2021-12-10 19:36] potiuk commented on #20203
You should make sure each airflow deployment is in a different namespece if I am not mistaken @jedcunningham @kaxil ? Can you please confirm it?

[2021-12-10 19:42] bparhy commented on #20203
Is this a new requirement as all our previous deployment prior to 2.1.3 is running without this issue. Also I am seeing this fix https://github.com/apache/airflow/pull/14795 is that related ?
Thanks for responding so quick.

[2021-12-10 19:47] potiuk commented on #20203
I am not sure - it's just seems logical to me to keep each airlfow deployment in a separate namespace (that 's what I'd do in general at least). But yeah. I might be wrong and Airlfow should work this way (but it also could be acceidental that it worked)

[2021-12-10 19:48] potiuk commented on #20203
That's why I am asking those who **likely** know better :)

[2021-12-10 21:18] kaxil commented on #20196
Agreed

[2021-12-10 21:54] harishkrao commented on #20032
@mik-laj How did you manage dependencies when running pytests?
I am facing `WARNING - Exception when importing 'airflow.providers.snowflake.hooks.snowflake.SnowflakeHook' from 'apache-airflow-providers-snowflake' package: No module named 'sqlalchemy.sql.roles'`

[2021-12-10 22:06] eladkal commented on #20155
Feel free to open PR

[2021-12-10 22:23] jedcunningham opened #20208 "Status of testing of Apache Airflow 2.2.3rc2"
We have a kind request for all the contributors to the latest [Apache Airflow RC 2.2.3rc2](https://pypi.org/project/apache-airflow/2.2.3rc2/).
                                                                                                                                                                                                                      Could you please help us to test the RC ver

[2021-12-10 22:25] kaxil commented on #20197
@blag Can you take a look at this one?

[2021-12-10 22:44] subkanthi commented on #19891
Just FYI - providers/google/cloud/hooks seems to be one of the biggest ones - 192 errors

[2021-12-10 22:50] jedcunningham commented on #20203
Right now, the most reliable way is to run in separate namespaces.

Both running multiple instances in a single namespace and using the `multi_namespace_mode` option have various edge cases that just aren't handled currently (though, it is on my radar!). This hasn't changed in recent versions and it's likely you just got lucky or didn't notice issues previously.

[2021-12-10 23:16] kazanzhy commented on #19891
Fix mypy in

* airflow/providers/snowflake

#20212

[2021-12-10 23:27] blag commented on #17279
Now that dpgaspar/Flask-AppBuilder#1749 is merged, this is one step closer to being fixed.

TODO as of now:

* [ ] Wait for a new release of FAB that includes that fix
* [ ] Update Airflow constraints files
* [ ] Check if this bug is fixed in Airflow

[2021-12-10 23:30] jedcunningham opened #20213 "Context deprecation warnings when they aren't used"
### Apache Airflow version

2.2.3rc1 (release candidate)

### What happened

I ran a DAG that does nothing explicitly with context, so I'm surprised to see deprecation warnings about context being used (trimmed to cut down on noise):

[code]

### What you expected to happen

I'd only expect to see deprecation warnings about things my DAG is actually interacting with.

### How to reproduce

Run thi

[2021-12-10 23:32] jedcunningham commented on #20208
I found an issue in #19886 and opened #20213 to address it. This will result in an RC2, but we can continue with RC1 testing in the meantime.

[2021-12-11 01:22] mik-laj commented on #20032
Breeze

[2021-12-11 01:40] gumartinm opened #20215 "EMR serverless, new operator"
### Description

A new EMR serverless has been announced and it is already available, see:

- https://aws.amazon.com/blogs/big-data/announcing-amazon-emr-serverless-preview-run-big-data-applications-without-managing-servers/
- https://aws.amazon.com/emr/serverless/

Having an operator for creating applications and submitting jobs to EMR serverless would be awesome.

### Use case/motivation

New op

[2021-12-11 03:05] easontm commented on #19673
FYI @hterik, the pods should have some basic metadata attached to them in the labels section. I modify my pods' `nodeSelector` with this hook based on DAG and task information.
[code]

etc

[2021-12-11 04:03] uranusjr commented on #20213
We are unpacking the context too eagerly. The rendering functions need to use a much lower level Jinja2 interface.

[2021-12-11 07:49] mik-laj commented on #20032
You can also use constraint files. See: https://airflow.apache.org/docs/apache-airflow/stable/installation/installing-from-pypi.html

[2021-12-11 08:04] Aakcht commented on #20208
#20172 works as expected - no more provider import errors unless you set debug log level in the configuration.

[2021-12-11 13:21] bradleybonitatibus commented on #15088
My team is running into issues with this operator in Airflow 2+. Is this open for contribution?

[2021-12-11 13:38] pateash commented on #15088
@eladkal Sorry, I didn't get a chance to look into it.

@bradleybonitatibus Yes, it is open for contribution.
please feel free to start working on it.

[2021-12-11 14:43] #8204 closed

[2021-12-11 14:44] #8208 closed

[2021-12-11 14:44] #8209 closed

[2021-12-11 15:47] potiuk commented on #20203
Yeah. My though exactly

[2021-12-11 15:48] raphaelauv commented on #20213
Warning are also present in` /usr/local/lib/python3.9/site-packages/airflow/utils/log/file_task_handler.py:87`

[code]

[2021-12-11 15:49] potiuk commented on #20203
Moving that into a discussion then. I think, if we want to make multiple airflows in one namespace that shoudl be a separate feature. So maybe @bparhy - if you really think this is needed and you cannot rearrange your airflows to multipe instances - opening a feature request might be a good thing,

[2021-12-11 16:06] potiuk commented on #17279
Constraints should update itself - now when our tests are far less flaky, thiis works out-of-the-box.

[2021-12-11 16:27] potiuk opened #20220 "Status of testing Providers that were prepared on December 11, 2021"
### Body

I have a kind request for all the contributors to the latest provider packages release.
Could you help us to test the RC versions of the providers and let us know in the comment,
if the issue is addressed there.

## Providers that need testing

Those are providers that require testing as there were some substantial changes introduced:

### Provider [databricks: 2.1.0rc3](https://pypi.org

[2021-12-11 16:27] #19922 closed

[2021-12-11 17:09] JonnyWaffles commented on #15486
Hi friends, I encountered the same issue after deploying encrypted Redis in transit/rest via AWS ElastiCache. Whenever I selected the broker tab my flower service died. Reading the source code I do not see the `airflow celery flower` command ever passing Airflow's `AIRFLOW__CELERY__SSL_ACTIVE` (which eventually becomes `broker_use_ssl`) to the Flower command. Is this intentional? It's rather confu

[2021-12-11 17:57] potiuk commented on #20032
See also complete description here: https://github.com/apache/airflow/blob/main/TESTING.rst#airflow-unit-tests @harishkrao

[2021-12-11 18:59] potiuk commented on #19891
@subkanthi  - I will take the google one :scream:

[2021-12-11 18:59] potiuk commented on #19891
Just one corretion - it looks like 294 errors when I run it :)

[2021-12-11 19:27] uranusjr commented on #20213
Thanks for spotting it, I’ll add the fix to the PR as well.

[2021-12-11 22:26] harishkrao commented on #20032
Thank you @mik-laj and @potiuk, I will proceed.

[2021-12-11 23:46] khalidmammadov opened #20225 "Various example dag errors on db init on fresh install"
### Apache Airflow version

2.2.3rc1 (release candidate)

### What happened

After fresh install of the latest release and running db init it getting below error messages among usual db init messages. Note that I deliberately didn't chose to use VENV but I think that should be handled gracefully rather than below errors. Also relates to https://github.com/apache/airflow/pull/19355
[code]

### What

[2021-12-11 23:48] khalidmammadov commented on #20208
FYI: just added this -> https://github.com/apache/airflow/issues/20225

[2021-12-12 11:18] alexott commented on #20220
Tested #19585, #19335 (also covers #19722 and #20036), #19443 (covering both `jar_tasks` and `pipeline_tasks`), #19544 (also covers #19412) - #20180 was covered by all of these tests

These specific changes looks good

[2021-12-12 11:58] flymg commented on #18843
The delete Statement should be pinned to recover the scheduler from its crashloop

[2021-12-12 12:08] potiuk commented on #20220
Cool! :)

[2021-12-12 16:08] PApostol commented on #20175
I can take this one!

[2021-12-12 16:33] potiuk commented on #20175
Feel free!

[2021-12-12 16:39] potiuk commented on #19891
OK - I have quite a few google-provider related fixes in progress - I need to get them merged  first because I fixed some "related" errors in few of them and I am startting to see the errors that I fixed in previous PRs. Looking forward to reviews

[2021-12-12 20:16] uranusjr commented on #20063
This means we’ll need to maintain two separate sets of URLs, which is suboptimal to me. I’d much rather just deprecate the use of `/` in DAG run IDs. We already disallow it for DAG and task IDs, and it is arguably an oversight the same is not enforced on DAG run IDs.

[2021-12-12 20:50] potiuk commented on #20063
Agree. Sounds like a hack. I also thought about it and it's actually kinda misleading to use `/` for different purposes in a URL. Also if we use %2F, its none better.

Good example here (a bit different, but that's what we eventually will have to leave with):

https://github.com/apache/airflow/pkgs/container/airflow%2Fv2-1-test%2Fci%2Fpython3.7

[2021-12-12 22:04] harishkrao commented on #20032
I narrowed down the scope of our issue here. Once I am inside the virtual environment, and I try to import the same SQLAlchemy package, I run into the same error:
`root@66ecbec1a1f0:/opt/airflow# python
Python 3.8.12 (default, Nov 17 2021, 17:26:17)
[GCC 8.3.0] on linux
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line

[2021-12-13 00:55] mik-laj commented on #20032
@harishkrao See: https://github.com/snowflakedb/snowflake-sqlalchemy/issues/234
To use URL class, you need to run:
[code]
Unfortunately, Snowflake incorrectly marked the version requirements in one release of `snowflake-sqlalchemy` and after fixing the problem, they didn't mark the release as yanked, so pip downloads invalid dependency versions

[2021-12-13 01:11] bradleybonitatibus commented on #15088
Resolved by #20221

[2021-12-13 01:12] mik-laj commented on #20032
I pushed a fix: https://github.com/apache/airflow/pull/20245

[2021-12-13 01:32] harishkrao commented on #20032
Thanks very much for letting me know and for pushing the fix @mik-laj :) I will use the above versions.

[2021-12-13 02:29] jazzsir opened #20247 "The previous git revision directories still remain"
### Apache Airflow version

2.1.4

### What happened

After synchronizing a git repo, sometimes the previous git revision directory doesn't be removed with a file whose extension is "pyc"

### What you expected to happen

_No response_

### How to reproduce

This happens from time to time.

### Operating System

CentOS 7.6

### Versions of Apache Airflow Providers

_No response_

### Deployment

[2021-12-13 03:24] PrincipalsOffice opened #20248 ""TaskInstance.dag_run" is joined twice in Dag.get_task_instances()"
### Apache Airflow version

2.2.2 (latest released)

### What happened

Calling the `Dag.get_task_instances()` method would result in a sqlalchemy warning `sqlalchemy.exc.SAWarning: Pathed join target TaskInstance.dag_run has already been joined to; skipping`. This is because the query is trying to `.join(TaskInstance.dag_run)` twice. Once here https://github.com/apache/airflow/blob/main/airflow/m

[2021-12-13 04:28] harishkrao commented on #20032
@mik-laj any suggestions to overcome celery dependency issues?
Searched the forum and online and found no open bugs related to it.
`Traceback (most recent call last):
  File "/usr/local/bin/airflow", line 33, in <module>
    sys.exit(load_entry_point('apache-airflow', 'console_scripts', 'airflow')())
  File "/usr/local/bin/airflow", line 25, in importlib_load_entry_point
    return next(matches).l

[2021-12-13 04:37] mik-laj commented on #20032
[code]
See: https://airflow.apache.org/docs/apache-airflow/stable/installation/installing-from-pypi.html

[2021-12-13 05:11] yeshbash commented on #20215
Looks like the feature is not Generally Available and I couldn't find the docs to the APIs. I'd be happy to pitch in with this operator if there are more details about it. Also, any guidance from the community is appreciated.

[2021-12-13 05:30] #15088 closed

[2021-12-13 05:39] harishkrao commented on #20032
My apologies for asking again, I am contributing to this repo for the first time. Will follow this and install the dependencies. Thank you for the help and patience @mik-laj.

[2021-12-13 07:31] kushsharma opened #20249 "DAG deletion is slow due to lack of database indexes on dag_id"
### Apache Airflow version

2.2.1

### What happened

We have an airflow instance for approximately 6k DAGs.
- If we delete a DAG from UI, the UI times out
- If we delete a DAG from CLI, it completes but sometimes takes up to a half-hour to finish.

Most of the execution time appears to be consumed in database queries. I know I can just throw more CPU and memory to the db instance and hope it work

[2021-12-13 07:52] char101 commented on #10331
Check `base_permissions` in https://github.com/apache/airflow/blob/main/airflow/www/views.py#L3982, I think it should equal the values in the table `ab_permission_view`.

For example to fix this message `WARNING - Refused to delete permission view, assoc with role exists DAG Runs.can_create User`, add `permissions.ACTION_CAN_CREATE` to `base_permissions` in the `class DagRunModelView`.

[2021-12-13 08:59] uranusjr commented on #20249
Let’s add indexes to those tables then. Would you be interested in looking into those various tables and create one for each of them?

[2021-12-13 09:01] potiuk opened #20251 "Breeze: Verify if there are enough resources avaiilable in Breeze"
At entry of the Breeze command we verify if there iss enouggh CPU/memory/disk space and print (coloured) information if the resources are not enough.

We should replicate that in Python

[2021-12-13 09:04] potiuk opened #20252 "Breeze: Asciiart disabling"
This is a small thing, but might be useful. Currently Breeze prints the Asciiart when started. You should be able to persistently disable the asciiart.

This is done with storing the rigth "flag" file in the ".build" directory. If the file is there, the ASCIIART should not be printed. If not, it shoudl be printed.

[2021-12-13 09:06] potiuk opened #20253 "CI: Rewrite client codegen in Python"
There is a step where Python client for Airflow API is generated automatically. This should be rewrittent in Pythone. It is just running the open-api client generation and checking that it succeded.

https://github.com/apache/airflow/blob/98514cc1599751d7611b3180c60887da0a25ff5e/.github/workflows/ci.yml#L307

[2021-12-13 09:08] potiuk opened #20254 "CI: Rewrite testing examples of images in python"
We are runing automated tests for example images building as Bash scripts - those should be converted to Python.

https://github.com/apache/airflow/blob/98514cc1599751d7611b3180c60887da0a25ff5e/.github/workflows/ci.yml#L322

[2021-12-13 09:18] jensgrnb commented on #20168
Thanks @potiuk, sorry for bringing the problem to airflow as it really belongs with the helm chart (and me for not knowing how pip works well enough).

[2021-12-13 09:33] potiuk commented on #20247
You have not described what it is about, so I presume it is a git-sync that causes it. And there are no logs, examples etc.
 We are using standard https://github.com/kubernetes/git-sync to perform the syncing. I am converting this into discussion as this is really not an Airlfow issue. I suggest that you provide some more details (such as examples where you saw it happening, details of your git-sy

[2021-12-13 09:37] potiuk commented on #20248
Maybe you would like to attempt to fix it @PrincipalsOffice  ?

[2021-12-13 09:38] #19801 closed

[2021-12-13 10:56] BMalaichik commented on #15279
@michaelkhan3
Setup reference from official docs - https://airflow.apache.org/docs/apache-airflow/stable/logging-monitoring/logging-tasks.html#advanced-configuration

This file must be on `PYTHON_PATH` env variable.

[2021-12-13 11:36] #20171 closed

[2021-12-13 12:53] eladkal commented on #20175
Fixed by https://github.com/apache/airflow/pull/20257

[2021-12-13 12:53] #20175 closed

[2021-12-13 13:05] potiuk commented on #19891
I added `mypy` label (temporarily) to keep track of all the opened MyPy PRs https://github.com/apache/airflow/pulls?q=is%3Aopen+is%3Apr+label%3Amypy

[2021-12-13 13:21] yeshbash commented on #20139
I see `sensors/glue.py` is not taken. I would be happy to send a PR. Let me know if it's already taken.

[2021-12-13 13:31] #19797 closed

[2021-12-13 13:54] #16692 closed

[2021-12-13 14:08] ururu-fy commented on #20196
The thing is that my dags are very dynamic and can change very often. I'm not worried about their safety, since the dag master takes metadata from the database. Therefore, I see no reason to store them in git. It would be great to be able to the user to change the parameters of these settings depending on his needs.

[2021-12-13 14:33] sanjayhallan commented on #20249
bit of analysis for this ticket, these are the models which do and dont have indexes on dag id

[code]

[2021-12-13 14:46] kaxil commented on #10331
@blag Can you take a look at this when you have time plz

[2021-12-13 15:24] potiuk commented on #20196
Then probably you are doing it wrong (and it will not work as you expect them). From the main Airflow page:
https://airflow.apache.org/docs/apache-airflow/stable/index.html

You should rethink if Airflow is a good choice for you if you want the DAGs to change frequently. The fact that you generate file in DAG folder does not mean that it will be reflected immediately or even very quickly in the DA

[2021-12-13 15:25] eladkal commented on #20139
@yeshbash I'm not 100% on combining glue, glue_crawler, glue_catalog together - which is why I left it out and focused only on glue as stand alone.
@o-nikolas WDYT?

[2021-12-13 15:40] kushsharma commented on #20249
There are composite indexes on some of the tables, I don't think we need explicit index of `dag_id` for them like
- `task_reschedule`: `idx_task_reschedule_dag_task_date" btree (dag_id, task_id, execution_date)`
- `sensor_instance`: `ti_primary_key" UNIQUE, btree (dag_id, task_id, execution_date)`

[2021-12-13 15:41] potiuk opened #20258 "Switch to BUILDX to build images"
We should use buildx to build and cache our image

https://docs.docker.com/buildx/working-with-buildx/

In the past it was difficult because we are heavily use caching of the imges and the cache of BUILDX was not compatible with docker registry. Howvever with moving to GHCR.io and improvements in Buildx infrastructure it should now be possible to push and pull cache which will be both BUILDX and r

[2021-12-13 15:44] potiuk opened #20259 "Make sure that stderr is "clean" while building the images."
Our image generates a lot of "Noise" during building, which makes "real" errors difficult to distinguish from "false negatives".

We should make sure that there are no warnings while the docker image is build.

If there are any warnings that we cannot remove there, we should add a reassuring note that we know what we are doing.

[2021-12-13 15:54] potiuk opened #20260 "Sign the images with PGP keys"
Our imges should be signed wth PGP Keys of one of the maintainers. There are a few tools that are signing the images and we should choose and implement them in the manual process of preparing the image.

[2021-12-13 16:37] wseaton commented on #15097
We are actually running into this issue on `1.10.14` when launching 25+ pods at once (on OpenShift instead of GKE), is there a chance this fix could be backported to latest 1.10.X?

[code]

[2021-12-13 17:05] bbovenzi commented on #20140
<img width="676" alt="Screen Shot 2021-12-03 at 11 16 47 AM" src="https://user-images.githubusercontent.com/4600967/145856132-bca89a2b-3b66-4d73-942d-18ef9418d3cd.png">

We will be giving a visual indication of the dag run duration vs other recent ones. We can certainly include a running average. How far back should the average go? UI-wise ti would be simplest to do it just for the count shown on

[2021-12-13 17:55] #15255 closed

[2021-12-13 17:55] #17224 closed

[2021-12-13 17:55] #17291 closed

[2021-12-13 17:55] #18777 closed

[2021-12-13 18:21] josh-fell commented on #19891
I can pickup `docs/ext/docs_build` and `scripts/in_container` next.

[2021-12-13 18:27] potiuk commented on #15097
Airflow 1.10 is end of life as of June 2021 - and it stopped getting even critical security fixes. https://github.com/apache/airflow#version-life-cycle

Please upgrade ASAP to Airflow 2.

In case you have not seen the latest Log4J security issue  - it does not affect Ariflow, but there might be fufure similar discoveries that might. So if you want to be sure that in case of similar problem you wil

[2021-12-13 18:28] Bowrna commented on #19970
@potiuk I have checked the code in the existing breeze for build-image.

**For CI image:**
_prepare_ci_build:_

Prepares all variables needed by the CI build ( THE_IMAGE_TYPE,  IMAGE_DESCRIPTION, AIRFLOW_EXTRAS etc).
sanity_checks::go_to_airflow_sources
Go to airflow path using dir pushd command
Then fix group permission - get list of all files and filter out deleted files (not sure why it’s done)

[2021-12-13 18:31] pierrejeambrun commented on #18641
Hello @eladkal and @Arun-kc,

There hasn't been much activity on this one lately and I wanted to give this one a try, I hope you don't mind guys.

You can find a first draft of the PR [here](https://github.com/apache/airflow/pull/20263)

[2021-12-13 18:46] wseaton commented on #15097
Thanks @potiuk, I was unaware that even security patches are no longer being backported. We are in the middle of a migration and this is another reason to pursue it even quicker. Cheers!

[2021-12-13 18:51] nicolas-settembrini commented on #16911
Hi, sorry to write here but i didn't find another place talking about this.

I am using Version: 2.1.4+composer and I have a DAG where i defined the DataprocClusterCreateOperator like this:

    create_dataproc =  dataproc_operator.DataprocClusterCreateOperator(
      task_id='create_dataproc',
      cluster_name='dataproc-cluster-demo-{{ ds_nodash }}',
      num_workers=2,
      region='us-east4'

[2021-12-13 18:59] potiuk commented on #19970
Very good questions :).

I think  for now start small (2.) and just get the images built with all the parameters.  The reason why the logic is so complex because it is heavily optimized for rebuiild time and it handles some cases on linuux where permissions of the files have to be updated when they are generated inside the container etc. etc. This is one of the most complex bash code I ever wrote,

[2021-12-13 19:00] potiuk commented on #15097
Good Luck!

[2021-12-13 19:39] josh-fell commented on #19891
FYI @potiuk #20261 takes care of both `dev/` and `dev/provider_packages/` in the remaining packages list.

[2021-12-13 19:41] potiuk commented on #19891
Yeah. Good point @josh-fell .  Marked.

But also I will keep on re-running the script every few days as we merge more fixes so hopefully all the "overloooked" packages will disappear "automatically" :)

[2021-12-13 20:27] SangwanP commented on #20140
@bbovenzi -- It'd be preferred if it's configurable in the UI (like Tree View does).
On a different note, is the screenshot attached part of Tree View or is it a new view that is being developed. I really like this visual representation of dag run duration!

[2021-12-13 20:34] bbovenzi commented on #20140
That is the new tree view to come out in 2.3.0. So yeah, anything average will be across the _n_ count of dag runs shown in the UI. Where do you see this duration average info appearing? Anywhere in the tree view or only in a model when you hover over a dagrun?

[2021-12-13 21:15] potiuk commented on #19891
I Updated the list of packages - we are at 897 errrors so the numbers started to go down !

[2021-12-13 21:25] dstandish opened #20267 "can't delete airflow connection from CLI when it has bad fernet key"
### Apache Airflow version

2.2.2 (latest released)

### What happened

if you have borked the password to not be able to be decoded by fernet key, you can’t delete it from the command line because this line crashes the delete command return fernet.decrypt(bytes(self._password, 'utf-8')).decode()

### What you expected to happen

_No response_

### How to reproduce

_No response_

### Operating Sy

[2021-12-13 21:36] ferruzzi commented on #20139
Hey cool initiative, I definitely agree with this plan! Sorry for the delay in response, I was enjoying a seaside cabin without internet last week. 🏖️   I will take a closer look at what's been claimed and add some work on this tomorrow.

For the Glue question,  the docstring on `glue.py:L28` says "Interact with AWS Glue - create job, trigger, crawler"; looking at the history that was never includ

[2021-12-13 21:40] SangwanP commented on #20140
I'd say any place in the tree view where it's readily visible. Tough to comment without exactly seeing the new view, but perhaps it can be right aligned on the menu where the user selects the start date, and number of runs in tree view.

[2021-12-13 21:51] ferruzzi commented on #20139
[EDIT:  It 'lLooks like you already sorted it out, but for posterity in case this pops up in a search later: ]

You need to edit `providers/amazon/providers.yaml`:L188-192.  That section should contain the names of the Operators files/modules for that service.   So if you are deleting those five files and combining them into a single `operators/dms.py`, then the deleted files need to be removed fr

[2021-12-13 22:00] potiuk commented on #18135
Nope. without logs hard to say.

[2021-12-13 22:04] khalidmammadov commented on #19891
I'm starting to look into airflow/utils if no one started

[2021-12-13 22:05] potiuk commented on #19891
I already have a PR for that @khalidmammadov #19914

[2021-12-13 22:08] ferruzzi commented on #20139
@eladkal

Since we are making these changes and going to be deprecating old operators in favor of new ones, it may be a good time to address some standardization issues as well?  Two that have bugged me a bit are acronym capitalization across the Operators, and whether to prefix them all with `AWS` or not.

These are incomplete lists just for example: we have `SnsPublishOperator` but we capitalize

[2021-12-13 22:15] ashb commented on #19891
I'm looking at airflow/models and tests/models

[2021-12-13 22:15] subkanthi commented on #19891
Looking at airflow/providers/airbyte

[2021-12-13 22:23] potiuk commented on #16299
There is not much to understand. Airflow has almost 1900 contributors. Some of them - like you @shlomiken  use and contribute specific features. Airflow has > 70 integrations and SageMaker is probably less than 0.1% of Airflow use. So it's possible it has some missing features.
Users like you are the best to verify, update, tests and provide PRs to improve this part. This is a free software, that

[2021-12-13 23:14] pateash commented on #19098
![image](https://user-images.githubusercontent.com/16856802/145901296-ac6b45f6-1039-40c2-a44d-d5d1920ea3f5.png)

![image](https://user-images.githubusercontent.com/16856802/145901394-21d56863-d599-499e-b05e-dd44362cf3a0.png)

![image](https://user-images.githubusercontent.com/16856802/145901495-6923cc45-8563-4048-a358-b34d394f6a6b.png)

![image](https://user-images.githubusercontent.com/16856802/1

[2021-12-13 23:18] pateash commented on #16911
@nicolas-settembrini No Problem,

you just have to generate config from all these arguments and then pass it to the **DataprocClusterCreateOperator**
find more details in Pull request, I have attached snapshot of documentation which will be coming in next updates.
#19446

[2021-12-13 23:24] khalidmammadov commented on #19891
FYI: airflow/triggers and airflow/timetables are done #20274, #20275. Although trivial fixes..

[2021-12-14 00:07] #19136 closed

[2021-12-14 03:09] ferruzzi commented on #19641
How do we feel about this implementation?  The required parameters are still there in named args, but if they are not passed, then it checks the operator_kwargs for their values.

https://github.com/ferruzzi/airflow/tree/kwargs-kpo

[2021-12-14 03:37] thesuperzapper commented on #20168
@potiuk to be clear, I put a warning after every `helm install` that tells users not to use the `extraPipPackages` in environments that are important.

[2021-12-14 05:53] punit-zeta commented on #9134
Hi, @ChethanUK any update on this issue?

[2021-12-14 07:15] eladkal commented on #20139
The instructions are listed in AIP 21 cases 3-4 and case 6.
https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-21%3A+Changes+in+import+paths#AIP21:Changesinimportpaths-Case#3{aws/azure/gcp}_*

https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-21%3A+Changes+in+import+paths#AIP21:Changesinimportpaths-Case#6Otherisolatedcases

The sensors/operators classes names should not have Aws/AWS as

[2021-12-14 07:27] #20213 closed

[2021-12-14 08:06] mik-laj opened #20283 "New operator for Go SDK in Apache Beam"
### Description

[Go SDK Exits Experimental in Apache Beam 2.33.0](https://beam.apache.org/blog/go-sdk-release/), so we can add a new operator for this SDK

### Use case/motivation

Feature parity between Beam SDKs

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Con

[2021-12-14 08:16] jpradass commented on #19767
@ghostbody I've tried setting up the config you told about at 200 seconds but I'm getting the same issue so it doesn't seem to fix the problem.

Do we have any news from Airflow?

Thank you both!

[2021-12-14 09:06] philipherrmann commented on #20088
`If you change the parameter name, you must change the constraint. Otherwise sure, give it a go.`
Surely, *someone* must change the constraints. I meant to offer that, but as they are in this extra branches I am slightly confused. Impossible to get those two contributions into the same PR, isn't it?

[2021-12-14 10:56] jensgrnb commented on #20168
@thesuperzapper is right it's said explicitly in the extraPipPackages block on the readme in that repo. However I'm not quite sure how writing the pip install in a dockerfile can save me from this, except it's easier to catch that the base image tag is out of sync with any pip dependencies.

We use argo, so I haven't actually seen those warning messages from helm.

To me it's still a bit of a puzz

[2021-12-14 12:15] potiuk commented on #20088
It's OK what you did - changing setup.* is the right way to go. Constraints will update automatically

[2021-12-14 13:15] potiuk commented on #20168
The big difference is that when you hace your Dockerfile and resulting image.You  build your image in your CI/CD frameworrk and you can run checks for it. You could for example verify airflow version, verify whether all imports are done correctly, verify if basic commands work.

All that LONG before you start hitting that in production. This is the best  common sense engineering practice. And this

[2021-12-14 13:15] khalidmammadov commented on #19891
Anyone looking at airflow/serialization/,  airflow/sensors/, airflow/security/ and airflow/secrets? (PS.There is only one small issue in the security and secrets folder per each)

[2021-12-14 13:20] potiuk commented on #20168
Yeah. But just having it as an option encourages the users to use it, And this is just wrong. `Convenience <> Stability.`

[2021-12-14 13:47] potiuk commented on #19891
Go ahead.

[2021-12-14 13:48] potiuk commented on #19891
BTW. After few biggish (common) fixes I plan to re-generate the list and check where we are later today :)

[2021-12-14 14:22] subkanthi commented on #19891
-  airflow/providers/exasol/hooks
-  airflow/providers/facebook/ads/hooks

https://github.com/apache/airflow/pull/20291

[2021-12-14 14:43] jensgrnb commented on #20168
That's all true, but like what if apt worked the same way, and I specified some version of a package that had a dependency on an older version of linux. Would it just casually overwrite my OS?

[2021-12-14 15:26] msinha251 commented on #20186
Is anything is pending on my above issue ?

[2021-12-14 15:52] potiuk commented on #20168
1. First of all - this is how PIP works
2. Secondly. This is also how APT works. If you have dependency that reguires newer version of another dependency it will upgrade it
3. Thirdl. All package managers work like that.

Airflow is not an OS. Airflow is an application that is installed on top of OS.

[2021-12-14 15:59] potiuk commented on #20168
Then 4thly @jensgrnb - this is a question to @thesuperzapper what command is used to install it. By default PIP will NOT upgrade dependencies that are already installed. It's either the `extraPackage` work or YOUR dependencies require to install higher airflow version.

And 5thly: Your "apache-airflow[sendgrid,google]~=2.1.2" is likely wrong way of installing providers. Your "apache-airflow-provid

[2021-12-14 16:06] potiuk commented on #20168
So in short: you simply:
* did not do what our docs describe
* relied on unknown behaviour of `extraPackages` which you were warned against
* you run a command that does something you did not want

And then you complan  that it does not do what you want. That's a bit of recipe for disaster IMHO.

[2021-12-14 17:07] potiuk commented on #20186
I think not. It just waits for someone willing to take a look and fix - seems like it neeeds someeone to take a look and try to resolve it - maybe you would like to take a stab on fixing it?

This is how it works here - if there are people who would like to work on it and fix it - then good, but if not, the best way to approach it is to try to fix it yourself. Seems like a specific AWS issue, so t

[2021-12-14 17:13] ferruzzi commented on #20139
Yup, I can take that on.

[2021-12-14 18:11] subkanthi commented on #19891
Started to look at
- airflow/providers/cncf/kubernetes

[2021-12-14 18:23] ferruzzi opened #20296 "Consistently name Amazon provider operators files"
### Description

Follow-up to
Restructure Amazon provider operators files [#20139](https://github.com/apache/airflow/issues/20139) as discussed with @eladkal

Amazon Operators, Hooks, and Sensors are inconsistently named regarding acronym capitalization and whether to prefix with AWS or not.

An incomplete list for example: we have `SnsPublishOperator` but we capitalize the acronyms in `SQSPublish

[2021-12-14 18:32] ferruzzi commented on #20296
@eladkal Should the Hooks be part of this campaign as well, or is that scope-creep getting out of hand?

[2021-12-14 18:34] pierrejeambrun commented on #20283
Hello @mik-laj,

This one looks pretty interesting and I would like to give it a try :).

Do you mind if I work on it ?

(Any specific instruction ?)

[2021-12-14 18:57] mik-laj commented on #20283
@pierrejeambrun  I haven't used this SDK yet, but I think it should look similar to the Java SDK, but you have to run a different command. If you have any problems, we can ask friends from Apache Beam for support, as they have already reviewed other integrations before.

[2021-12-14 19:50] eladkal commented on #20296
We should do both
https://github.com/apache/airflow/pull/20160 already handle Emr

This task shouldn't take long. Lets try to finish all in the next few days so all new paths/classes will be avaliable in the next peovider release.

[2021-12-14 20:26] eladkal commented on #20144
fixed by https://github.com/apache/airflow/pull/20164

[2021-12-14 20:26] #20144 closed

[2021-12-14 20:38] ferruzzi commented on #20139
Batch has multiple Hook files, that may fall under this campaign?  One is for the waiter and the other for the client though, so maybe not?

[2021-12-14 20:45] ferruzzi commented on #20296
hooks/logs.py calls the hook AwsLogsHook and... I think we should keep that one.  "LogsHook" is just too generic IMHO.

[2021-12-14 20:52] KennyRich commented on #20296
Yes sure!!!

[2021-12-14 20:53] eladkal opened #20300 "Add Github provider"
### Body

Add Github provider based on offical Python SDK https://github.com/PyGithub/PyGithub
The SDK has many objects which can be viewed at https://pygithub.readthedocs.io/en/latest/github_objects.html

It would be nice if we can create a hook that can leverage the package and allow the user to interact with it.

For example: being able to to find when file was last commited.

PR example for cr

[2021-12-14 21:14] eladkal commented on #20139
Batch is not part of the action items of this issue as here we are focused on Operators/Sensors.
Regardless my approach would be the same - We should follow what the user expects?
If users expect to find the classes on the same file then we should merge - if the user doesnt expect it and the services are really distinct then we should keep separated. You might be interested in a (possibly) similar

[2021-12-14 21:28] #20225 closed

[2021-12-14 21:53] potiuk commented on #19891
Updated the list - we are down to 758 errors (was 897).

[2021-12-14 22:21] dstandish commented on #20296
@eladkal i thought that `RedshiftSqlOperator` was not correct and that `RedshiftSQLOperator` ....  i remember discussion about this at some point in the past

[2021-12-14 22:25] thesuperzapper commented on #20168
@potiuk the pip install is very simple, it just uses `pip install --user {package_1} {package_2}`.

[Here is the `pip install` code from the "user-community" chart.](https://github.com/airflow-helm/charts/blob/e1d49498426add959350ab8efacead8f96400759/charts/airflow/templates/_helpers/pods.tpl#L177-L180)

[2021-12-14 22:35] eladkal commented on #20296
I think so too. I didnt review the whole list yet.
We always must look for consistency (other operatoa, other providers etc...) In case of sql its easy as we have planty.

[2021-12-14 22:45] potiuk commented on #20168
I honestly do not want to spend any of my time on it.

The whole issue is because very bad usage patterns are used wihich we clearly said are wrong - and is encouraged by the user community chart

My advice for @jensgrnb  is:

* build your own image (following our examples/docs)
* test if it is what you expected
* use it in any of the charts

[2021-12-14 22:49] ferruzzi commented on #20296
My mistake!  I'll update OP

[2021-12-14 22:52] kazanzhy commented on #19891
Hi team.
I'm a little bit stuck with the Qubole operator because of the `[attr-defined]` error in Mixin.
Could you share some articles and examples of how you handle that?

[2021-12-14 23:07] potiuk commented on #20168
And @thesuperzapper @jensgrnb  - if you want to further discuss any of it - I encourage you to open an issue where it belongs - i.e.  https://github.com/airflow-helm/charts/issues

[2021-12-15 00:07] #16637 closed

[2021-12-15 03:50] #19989 closed

[2021-12-15 04:14] Greetlist opened #20308 "Multi Schedulers don't synchronize task instance state when using Triggerer"
### Apache Airflow version

2.2.1

### What happened

I find some Deferrable Operators are marked failed unexpectedly. When I clear these tasks, some of them will success, but some of them will fail as before.Even I clear the same task, sometime it is marked success, sometime it is marked failed.
I find this log in scheduler log
[code]

### What you expected to happen

When I clear a Deferrable Op

[2021-12-15 04:29] asoong-94 opened #20309 "Task exited with return code Negsignal.SIGSEGV"
### Apache Airflow version

2.2.2 (latest released)

### What happened

Simple task of using snowflake_connector to do a `select 1` to test the snowflake connection. The python code itself runs fine, but once wrapped within an airflow task always returns `Negsignal.SIGSEGV`.

Airflow DAG:
[code]

Airflow Logs:
[code]

[code]

### What you expected to happen

Expected a `{cursor.py:720} INFO - quer

[2021-12-15 06:18] stablum commented on #19957
unfortunately, this keeps happening (after couple of weeks where it was running smoothly)

[code]

This are the scheduler processes running: I launched it with `screen`:
[code]

[2021-12-15 07:16] uranusjr commented on #19891
Could you post the Mypy errors you can’t figure out?

[2021-12-15 07:35] eladkal commented on #20139
@ferruzzi what do you think about the case of `glue.py` / `glue_catalog_partition.py` / `glue_crawler.py` ?
Should we leave it as is or should we make changes?

[2021-12-15 07:36] eladkal commented on #20296
Please let us know which so we can assign.

[2021-12-15 07:37] uranusjr commented on #20300
Not sure is async support is useful, but [gidgethub](https://github.com/brettcannon/gidgethub) is another solution.

[2021-12-15 07:41] ferruzzi commented on #20139
@eladkal  To be honest, I'm not a Glue user and  I agree with you that it should be whatever a regular user would expect, but I don't know what that would be.  I only have a passing knowledge of that service so I'm not in the best position to make that call.  I'll see if I can find someone who uses it "in the wild" that I can chat with tomorrow and see what a user's perspective is.

[2021-12-15 07:52] eladkal commented on #20139
OK so i'm leaving Glue as is as this point. We can always revisit in the future.
Lets not make such changes if we are not 100% sure.

[2021-12-15 08:56] KennyRich commented on #20296
I'll handle Sqs

[2021-12-15 09:04] xmduhan opened #20315 "Maybe should write log use UTC time."
### Apache Airflow version

2.2.2 (latest released)

### What happened

* (1). When I set airflow.cfg with:
default_ui_timezone = Asia/Shanghai
default_timezone = Asia/Shanghai
* (2). start weserver and scheduler
* (3). trigger "example_bash_operator" task manually
* (4). in upper right corner select ui display timezone with "CST +(08:00)"
* (5). I find task log time in  web page  is wrong, it fas

[2021-12-15 09:20] uranusjr commented on #20315
Rleady fixed in #19401.

[2021-12-15 09:20] #20315 closed

[2021-12-15 09:30] jensgrnb commented on #20168
@potiuk. I don't understand why there's such negativity in trying to figure out why it went wrong in our cluster.

In this comment, https://github.com/apache/airflow/issues/20168#issuecomment-993687968,  you both state that I use the pip install pattern wrong by specifying `apache-airflow[sendgrid,google]~=2.1.2`
and link to your own documentation where that syntax is referenced on the top page.

[2021-12-15 10:24] kazanzhy commented on #19891
@uranusjr
`mypy --show-error-codes --namespace-packages airflow/providers/qubole/operators/qubole_check.py`

<img width="1636" alt="Screenshot 2021-12-15 at 12 23 49" src="https://user-images.githubusercontent.com/10523218/146169180-3982f383-c840-4361-9965-0c89a5a1f2e0.png">

[2021-12-15 10:42] #18599 closed

[2021-12-15 11:01] MammutMKII commented on #19384
Sorry for the late response.
@potiuk I thought about fixing the issue through customization within the company and then submitting the code here as a MR. But getting a local setup and getting behind the test setup and contributing doesn't seem possible at the moment.
So far I didn't get to do the custom implementation though and likely won't be soon.

@kazanzhy Yes, but technically, from the persp

[2021-12-15 11:21] stablum commented on #19957
Limiting concurrency does not solve the issue. Even by reducing the amount of concurrent tasks to 1 the exception is triggered after some time

[2021-12-15 12:45] raphaelauv commented on #20208
#20217 is working on rc2

[2021-12-15 12:46] potiuk commented on #19891
1) the mixin has no super class. super().execute() will only work because Mixin is only applied to an Operator where BaseOperator has an execute() method. We could create a custom protocol for the mixin, but I think in this case #type: ignore with appropriate comment should be good.

2) The get_db_hook() from BaseSQLOperator expects DBAPIHook to be returned. QBoleCheckHook does not extend DBAPIHoo

[2021-12-15 13:17] harlequin opened #20317 "Hook inside the plugin folder does not recognized new conn_type and UI will not show it"
### Apache Airflow version

2.2.2 (latest released)

### What happened

A custom connection hook inside the plugin folder will not displayed and listed inside the UI.
[code]

### What you expected to happen

The UI shall show the new connection type and UI changes

### How to reproduce

_No response_

### Operating System

docker

### Versions of Apache Airflow Providers

_No response_

### Deploy

[2021-12-15 13:56] mik-laj commented on #20317
To register a new connection type, you need to create a new provider.

[2021-12-15 13:57] potiuk commented on #19957
Thanks @stablum ! Great to see all the detailed information (and the pastebin)

@ashb - I think that one might need some closer look from both of us :) and some hypytheses on where it could come from.
I plan to take a look at that later this week and maybe we can figure out where it comes from.

[2021-12-15 13:59] potiuk commented on #19957
Marked it provisionally to 2.2.4 in case we release it (it might go straight to 2.3.0 depending on how serious things there are / whether we haave a fix and how close we are to 2.3.0)

[2021-12-15 14:27] harlequin commented on #20317
Can a new provider be programmed and load dynamically from the plugins folder?

Or shall it be always a sperate package with pip install ?

[2021-12-15 14:36] uranusjr commented on #20317
It must provide some package metadata to be recognised as a provider, and `pip install` is the easiest way to generate that metadata.

[2021-12-15 16:09] potiuk commented on #20168
It's not negativity. This is simply because you continue ignoring what I am telling you repeatedly.

If there are problems related to the wrong feature in the chart done by @thesuperzapper it should be discussed there not here. And yet you conitnue coming back here even if I asked you to continue the discussion where it belongs. It's just wrong place to discuss broken feature on a chart that does

[2021-12-15 16:15] potiuk commented on #20168
Just to explaining it to by-lookers. This is the first time ever I close an issue for discussion after sending the discussion 3 times to the place it belongs. Never happened to me before.

@jensgrnb  Feel free to discuss this issue further it https://github.com/airflow-helm/charts, where the problem belongs.

[2021-12-15 16:16] harishkrao commented on #20032
Just an info - I am working on this, my laptop crashed, so I have to setup the environment in another laptop and continue, will get back soon.

[2021-12-15 17:15] williamfmr opened #20320 "Airflow API throwing 500 when user does not have last name"
### Apache Airflow version

2.2.2 (latest released)

### What happened

When listing users via GET api/v1/users, a 500 error is thrown if a user in the database does not have a last name.

[code]

### What you expected to happen

Result set should still be returned with a null or empty value for the last name instead of a 500 error.

### How to reproduce

Create a user in the database without a la

[2021-12-15 17:37] dstandish opened #20323 "Add a `@task.sensor` TaskFlow decorator"
### Description

Implement a taskflow decorator that uses the decorated function as the poke method.

### Use case/motivation

Here is a sketch of the solution that might work:

[sensor_decorator.txt](https://github.com/apache/airflow/files/7721589/sensor_decorator.txt)

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Cond

[2021-12-15 17:38] potiuk commented on #20320
:D . Asigned you Willam (?). What's your last name again :D ?

[2021-12-15 17:44] williamfmr commented on #20320
haha .. I'd be happy to submit a PR, but I'm not sure how to get started.

[2021-12-15 18:36] Acehaidrey commented on #16790
Hi all can you provide a status for this PR. What do we think, can we work to allow this to record notes during actions? Is that still the goal here

[2021-12-15 20:51] potiuk commented on #20320
CONTIRBUTING.rst :) ?

[2021-12-15 21:15] subkanthi commented on #19891
- Looking at airflow/providers/amazon/aws/hooks

[2021-12-15 23:39] potiuk commented on #19891
Today's lucky numbers: 758 -> 614. Going down fast now. List updated.

[2021-12-16 00:07] #14175 closed

[2021-12-16 00:07] #13916 closed

[2021-12-16 01:06] potiuk commented on #19891
I have two more waiting fore review: #20329  and #20327 (part of google) which should put the number down by a good  100  :)

[2021-12-16 01:40] subkanthi commented on #19891
Is there a way to fix this? Thanks
[code]
`    def process_status(self, job_id: str, status: str) -> State:
        """Process status information for the JOB"""
        status = status.lower()
        if status == PodStatus.PENDING:
            return State.QUEUED
        elif status == PodStatus.FAILED:
            self.log.error('Event with job id %s Failed', job_id)
            return State.FAI

[2021-12-16 02:49] josh-fell commented on #20208
Validated #19411. Thanks for organizing this release @jedcunningham!

[2021-12-16 05:35] #18089 closed

[2021-12-16 05:47] rpalanis opened #20333 "GCSToBigQueryOperator not rendering list pulled from XCOM"
### Apache Airflow Provider(s)

google

### Versions of Apache Airflow Providers

_No response_

### Apache Airflow version

2.1.4

### Operating System

Container-Optimized OS with Containerd

### Deployment

Composer

### Deployment details

_No response_

### What happened

I am trying to load some files from GCS to BigQuery. To get the list of files which matches the prefix, I am using the Goo

[2021-12-16 05:55] calfzhou commented on #20208
#19342 #19401 is working as expected, log timezone in web view is now correct.

[2021-12-16 06:21] ferruzzi commented on #20139
For what it's worth, a third Glue user got back to me today, also claiming they are "not an expert" but they suggested that combining them sounded logical to them.  Three out of three users agree?  Not exactly a huge sample size, but it's fairly consistent.

[2021-12-16 06:43] xmduhan commented on #20315
@uranusjr
I try changes on : https://github.com/apache/airflow/pull/19401/files, But it doesn't work for me.

[2021-12-16 07:04] chonyy commented on #14896
@potiuk Thanks!
`import billiard as multiprocessing` works like a charm.

[2021-12-16 09:21] eladkal commented on #20296
@bhavaniravi would you like to take the emr hook?

[2021-12-16 09:52] mingshi-wang commented on #20323
Hi @dstandish I am interested in working on this issue.

[2021-12-16 10:00] stablum commented on #19957
it seems that by dropping airflow's database entirely and recreating it from scratch, the bug is not re-occurring. So it might have been something in the airflow's db data.

[2021-12-16 10:16] bhavaniravi commented on #20296
Yup will do.

[2021-12-16 10:39] kazanzhy commented on #19891
I was very surprised when saw an error in `tests/providers/snowflake`. I was sure that it's done.
Unfortunately, I fixed it in only one place and missed two ones.
Here is the PR https://github.com/apache/airflow/pull/20212/files
@khalidmammadov

[2021-12-16 11:35] easontm commented on #18501
just had this occur on 2.2.2

[2021-12-16 11:52] potiuk commented on #19891
Good question - I used `State(State.QUEUED)` in some cases but I do not particularly like it - maybe others have other idea ?

[2021-12-16 13:01] olegsalei opened #20342 "Search List Task Instance"
### Apache Airflow version

2.0.2

### What happened

Search List Task Instance by 4 filters failed (works fine with 3)
---
Dag Id |  Equal to | Dag_id
Task Id |  Equal to | Task_id
Start Date | Grater than | 2021-12-09 02:00:00+00:00
-- works
Start Date | Smaller than | 2021-13-09 02:00:00+00:00
-- fails
![2021_12_16_15_40_49_Airflow](https://user-images.githubusercontent.com/15084610/146376503-b

[2021-12-16 13:50] stablum commented on #19957
i take this back: it's actually keeping crashing unfortunately

[2021-12-16 14:16] dstandish commented on #20323
Nice @mingshi-wang it's all yours

[2021-12-16 15:10] edithturn commented on #20251
@potiuk I would like to work on this. In Breeze installation, I will take as consideration: https://github.com/apache/airflow/blob/main/BREEZE.rst#resources-required

[2021-12-16 15:32] #19955 closed

[2021-12-16 17:17] #19098 closed

[2021-12-16 17:19] #16833 closed

[2021-12-16 17:55] pateash commented on #20300
@eladkal as far as I know **LGPL-3.0 License** is not compatible with **Apache2** license ( we can use ApacheV2 into LGPL3 but not the otherway around)
So we can't use **PyGithub**.

[2021-12-16 17:57] pateash commented on #20300
I would like to take this up.

[2021-12-16 18:08] eladkal commented on #20300
This is about Airflow provider. https://github.com/apache/airflow/issues/9898 talks about it at length.
There shouldn't be a problem with providers packages.
@kaxil @potiuk can you confirm?

[2021-12-16 19:07] pingzh opened #20351 "Fail to run breeze on Apple Silicon"
### Describe the issue with documentation

When running `./breeze` after installing `brew install gnu-getopt coreutils`, it still complains

[code]

The root cause is with Apple Silicon, the Homebrew prefix is changed to `/opt/homebrew`

I can find `getopt` under `/opt/homebrew`
[code]

### How to solve the problem

I think we need to use `$(brew --prefix)` to get the homebrew prefix

### Anything

[2021-12-16 19:37] ferruzzi commented on #20296
EKS is a big one, I'll get started on that

[2021-12-16 20:30] ferruzzi commented on #20215
That's correct, this is in preview and there is no announced date for general release yet.  I'll also be happy to help once the docs are available.

[2021-12-16 20:57] subkanthi commented on #19891
Also looking at providers/amazon/aws/operators as the fixes in /aws/hooks affect operators

[2021-12-16 20:58] #20333 closed

[2021-12-16 21:10] potiuk commented on #20300
It's OK. LGPL Is ok as an optional dependency.

https://www.apache.org/legal/resolved.html#optional

[2021-12-16 21:11] potiuk commented on #20300
Alll providers - by definition - are optional dependencies of Airflow.

[2021-12-16 21:27] potiuk commented on #20351
I think not. When you run `brew install gnu-getopt coreutils' it will tell you that you should also set the path.

[2021-12-16 21:27] #20351 closed

[2021-12-16 21:29] potiuk commented on #20351
You can try to run it again and you will see that it's 'cask-only'.

See https://github.com/apache/airflow/blob/main/BREEZE.rst#getopt-and-gstat

[2021-12-16 21:32] potiuk commented on #20351
Ah I see. Yeah. The examples might indeed be improved.

[2021-12-16 22:29] ephraimbuddy commented on #20309
What you want to do is best suited for a snowflake provider.

Here you're making a request which you don't have control over.  Worst is, you can't get logging for the snowflake execution.

 Python operator tasks should not be used to connect to external systems as well as run another process.

This problem is like running curl command inside a python operator using os.popen. You won't get logs for

[2021-12-16 23:07] potiuk commented on #19891
I think I have all necessary changes for Google : #20358, #20329, #20234

[2021-12-17 00:07] #11100 closed

[2021-12-17 08:41] humit0 commented on #20342
@olegsalei
I think it raises error because of last filter is not valid datetime.

[2021-12-17 08:43] humit0 commented on #20208
#19672 is working well.

[2021-12-17 08:59] humit0 opened #20373 "Paused event is logging twice in some pages."
### Apache Airflow version

2.2.2 (latest released)

### What happened

If I pause/unpause dag in `Tree`, `Graph`, or `Gantt` page, `/paused` url is calling twice.

![image](https://user-images.githubusercontent.com/8676247/146517082-b359a81c-a53f-4aa7-a2e8-11bdbdd1e4d8.png)

So paused events are logging twice.
![image](https://user-images.githubusercontent.com/8676247/146517366-d25efa3c-a029-4aa4

[2021-12-17 10:03] ashb commented on #20373
Just to ask the obvious question first: you're not double clicking the control are you?

[2021-12-17 10:15] humit0 commented on #20373
@ashb yes I clicked once.

There are duplicated code in `tree.[hash].js` and `dag.[hash].js`, so it call twice.
![image](https://user-images.githubusercontent.com/8676247/146528222-4cd8a672-eb2b-4005-870d-6702c19ac6c7.png)

![image](https://user-images.githubusercontent.com/8676247/146528284-b7790cee-b24f-4997-a82e-f4ef28af2e3c.png)

So I think it needs to split [dag.js](https://github.com/apache/

[2021-12-17 10:24] ashb commented on #20373
Good digging @humit0 !

[2021-12-17 13:55] andrewrjones commented on #12103
We're also having this issue, and it looks like it may be solved by https://github.com/apache/airflow/pull/19375, released in Airflow 2.2.2

[2021-12-17 14:16] bbovenzi commented on #20373
Good catch. Looks like our webpack isn't handling es6 style `import` statements efficiently. Webpack is always annoying to deal with but we already needed to improve it.

[2021-12-17 15:39] bbovenzi opened #20382 "Streamline task action UX"
Problem:

Clearing a task is a relatively simple process conceptually yet a user is run through multiple different redirects and views. This results in a clunky experience that is slower, causes one to lose context and even end up on a page where they didn't even start on.

Solution:

Handle the API calls within the client and have everything happen within a modal/drawer on the user's current page

[2021-12-17 16:34] alex-astronomer opened #20383 "Azure Key Vault Backend Typo"
### Describe the issue with documentation

[code]

In backend config, the import path is incorrect on the current version of the provider.

### How to solve the problem

Should be changed to

[code]

### Anything else

_No response_

### Are you willing to submit PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://githu

[2021-12-17 16:43] alex-astronomer commented on #20383
Scratch that, I was using a deprecated module.

[2021-12-17 16:43] #20383 closed

[2021-12-17 16:44] josh-fell commented on #19409
@eladkal Can you assign this to me? I'm going to whip something up.

[2021-12-17 16:45] PApostol opened #20384 "DagRun for <FOO> with run_id or execution_date of 'manual__XXXXX' not found"
### Apache Airflow version

2.2.2 (latest released)

### What happened

After upgrading from Airflow 2.1.4 to 2.2.2, every DAG gives this error upon execution:

[2021-12-17, 15:01:12 UTC] {standard_task_runner.py:52} INFO - Started process 873 to run task
[2021-12-17, 15:01:12 UTC] {standard_task_runner.py:76} INFO - Running: ['airflow', 'tasks', 'run', 'example_python_operator', 'print_the_contex

[2021-12-17 18:26] e-compagno commented on #11134
with airflow 2.1.3 I get the error

[code]

Apparently `trial_test_dag` appears in tables `dag` and `dag_tag` if the db even if the dag code has been removed.

[2021-12-17 18:43] #17744 closed

[2021-12-17 20:53] potiuk commented on #20373
Javascript never ceases to surprise me :)

[2021-12-17 21:24] potiuk commented on #20382
Should be great to improve that. User eXperience matters!

[2021-12-17 23:21] rustikk opened #20392 "Airflow's PythonVirtualenvOperator isn't installing different python versions unless its the version airflow is ran with."
### Apache Airflow version

2.2.2 (latest released)

### What happened

When specifying the version in the PythonVirtualenvOperator it fails to find the version 2.7 and as a result causes the task to fail. As I was writing this issue I decided to test python version 3 and versions 3.6, 3.7, and 3.8 also face this same issue. Python version 3.9.9 is the version of the python running airflow and whe

[2021-12-18 00:41] Acehaidrey commented on #16790
@sharingan-no-kakashi can you let me know are you planning to get this PR in? that would be great for us

[2021-12-18 03:56] nicnguyen3103 opened #20394 "Airflow 2.2.2 - Celery worker ContentDisallowed('Refusing to deserialize untrusted content of type pickle (application/x-python-serialize)')"
### Apache Airflow version

2.2.2 (latest released)

### What happened

I tried to upgrade to Airflow 2.2.2 and the celery worker dies immediately upon startup with the command airflow celery worker. Celery is on 5.1.2, I did not encounter this issue in the airflow version 2.1.4 with celery 4.4.5.

The full log can be found in this file
[airflow_celery_error_log.txt](https://github.com/apache/airf

[2021-12-18 04:11] david30907d commented on #19507
@kazanzhy sorry for the late reply~
very thx for these inputs~ I'll give it a shot and hope I can finish this PR before 2022 😂

[2021-12-18 09:44] potiuk commented on #20392
You need to have the right version preinstalled if you want to run different Python version (either available in your machine or Docker image if you use Docker).

Airflow will not install them for you.

[2021-12-18 09:44] #20392 closed

[2021-12-18 10:16] potiuk commented on #20394
In your logs you have some deprecation configuration messages, so I'd advice you to review the [configuration options](https://airflow.apache.org/docs/apache-airflow/stable/configurations-ref.html)  of Airflow 2 (as a general note).

If you look at Airlfow 2 configuration, celery config should be configured by providing an import path for the configuration dictionary, rather than through environme

[2021-12-18 10:16] #20394 closed

[2021-12-18 10:19] potiuk commented on #20394
Another comment: I believe the root cause is that you use sentry to monitor celery (I do not know what your configuration is) and by default sentry uses pickle as serialization protocol, so maybe you would like to change it in Sentry configuration instead of modifying Airflow's Celery configuration. Using Pickle is insecure by default and you should avoid it.

[2021-12-18 11:06] potiuk commented on #20208
Tested #19478, #20039, #20172, #18922, #20218

Those are hard to test (but I checked they are part of the airflow sources released and our stable tests are proof they work): #19856, #19935, #20040, #20054

[2021-12-18 11:26] sharingan-no-kakashi commented on #16790
Hi @Acehaidrey I have a relatively free weekend! I can rebase the work of this PR and the other one into 1 with the minimal POC and I or someone else(and feel free to continue this work if you fancy) can improve it/finish it.

[2021-12-18 14:02] kazanzhy commented on #19507
@david30907d
I worry that Google integration is very sophisticated for me, especially BigQuery.
There are dozen of deprecated methods there. I thought to remove a few deprecated methods but replaced them with other deprecated ones. https://github.com/apache/airflow/pull/20119

I still don't have a point of view on how to improve this provider. But, seems like renaming `conn_type` from `gcpbigquery

[2021-12-18 14:06] char101 opened #20396 "Add separate name attribut for dag so that dag can be easily renamed"
### Description

**Problem**

It is not easy to rename dags.

**Suggestion**

It would be better if dag can have both id and name. Id could be some guid/uuid. If not given then id can be generated. At least when required the id can be queried from the database. This way we can change the dag name without changing the id.

[code]

If I want to rename the dag then I can simply change the name and I

[2021-12-18 15:00] potiuk commented on #20396
I think it shoudl be part of the bigger discussion on DAG versioning AIP:  https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-36+DAG+Versioning. Separating name from id and being able to version a file are - in my view - inseparable.

[2021-12-18 15:10] potiuk commented on #8715
I think we can close that Kamil ?

[2021-12-18 15:20] char101 commented on #20396
DAG already have id. so we just need a name field. Adding name field is basically cosmetic and can be implemented with less risk:

* add name field to the table
* add name parameter to the constructor
* incrementally fix the templates to use dag name instead of id

[2021-12-18 16:03] potiuk commented on #20396
It's more than that. You also need to update APIs for example to retrieve it and define what kind of relation it will have in the future when we have dag versioning and ID will (likely) change it's meaning of being name. And you need to define how it behaves when  you have duplicate names (can you?) and define what to do if some of your dags have name and some of them not, and probably a  number o

[2021-12-18 16:24] char101 commented on #20396
At least adding a name field won't break the APIs. So changes can be implemented incrementally.

Why should id be changed into name? Just keep it that way but add an optional name parameter. This way backward compatibility can be maintained.

Should not be a problem  just like two person can have the same name.

Of course.

Name should be coalesced to id to maintain backward compatibility.

This i

[2021-12-18 16:27] potiuk commented on #20396
Yep. That's your opinion looking from short term gain point of view. Mine is simply different when i look at it from product point of view. We just have different opinions :).

[2021-12-18 16:32] potiuk commented on #20396
I am just a little surprised you have such clarity and know all the answers. I am developing the product for ~3 years and I would not even dear to answer those without trying to understand what you consider deeper consequences and future vision of the product and listening to other's opinion.

[2021-12-18 16:38] char101 commented on #20396
I have the right to have my own opinion whether it is right or wrong. I am not pushing my opinion to you. Expressing my opinion does not prevent others from expressing their opinions.

Also it is clear that you are viewing this from the point of view of a product manager. I am viewing this from the point of view of a user that just want to get things done. You probably should not expect for users

[2021-12-18 16:43] potiuk commented on #20396
I don't deny your right to have an opinion. Nowhere in this discussion actually. I just try to hear (from three posts what others think).Your "defensive" approach make it very difficult for others to express their opinion here. You are risking that others won't chime in here because they will think we are arguing with each other. Just my 2 cents and suggestion to wait what other think before other

[2021-12-18 17:26] potiuk commented on #20317
It's not possible now and it's pretty deliberate. For multi-tenant scenarios, adding custom code that modifies your UI **should** only be possible by adding new packages rather than adding new code on the side. This might change in the future. We are working on "multitenancy" features for Airlfow and we are going to gradually add new improvements. One of the changes there should be a possibility t

[2021-12-18 17:47] harlequin commented on #20317
Thanks for detailed explanation.
I absolutly understand your doubts.

Issue can bei closed.

[2021-12-18 17:47] #20317 closed

[2021-12-18 18:10] dstandish opened #20398 "SnowflakeHook should not store query_ids"
When you call `SnowflakeHook.run`, instance attribute `query_ids` is emptied and appended with new query ids. See [here](https://github.com/apache/airflow/blob/05e4cd1c6a93ba96f9adbaf7973e7729697ca934/airflow/providers/snowflake/hooks/snowflake.py#L284).

Suppose you want to run multiple snowflake commands, perhaps submitted in different ways at different times, perhaps asynchronously.

It's not o

[2021-12-18 18:30] rsg17 commented on #8471
Hi @eladkal -  I am new to Airflow and would like to try and take a pass at this if no one else is working on this..

[2021-12-18 18:59] MatrixManAtYrService opened #20400 "`@task` decorated function passed to `python_callable` is treated as Truthy even if it returns False"
### Apache Airflow version

2.2.2 (latest released)

### What happened

I ran this dag:

[code]

### What you expected to happen

At first, I expected the `ShortCircuitOperator` to see that `run_downstream` returns `False` and respond by setting `skip_me` to skipped.  I was surprised when `skip_me` succeeded instead.

The task logs for `decide` show a warning:
[code]

Then I saw my error: `run_dow

[2021-12-18 19:20] potiuk commented on #19891
We are getting CLOSER AND CLOSER: 277 errors to go!

[2021-12-18 19:25] potiuk commented on #8471
Fell freee  - just ask @subkanthi if he is also OK

[2021-12-18 19:34] subkanthi commented on #8471
Thanks for checking  , @rsg17 please go for it, I have some code in the branch for inserting event to the calendar(if its helpful)

https://github.com/subkanthi/airflow/tree/subkanthi/google_calendar_api_8471

[2021-12-18 22:41] khalidmammadov commented on #19891
Anyone looking at airflow/providers/microsoft/?

[2021-12-19 00:36] kazanzhy commented on #19891
A think there are left hardest ones: microsoft, amazon, and google providers, and some `airflow/*` folders.
I could also take something after the revision

[2021-12-19 09:18] easontm commented on #19901
I think I'm experiencing a similar circumstance (on 2.2.2), however I usually get more than one run after causing a re-process.

It's not specific to any particular DAG, but there is some kind of condition (that I can't replicate on-demand) which results in the scheduler no longer creating new DAGruns. It always happens with DAGs whose `max_active_runs` is easy to hit, in the 1-3 range. IIRC every

[2021-12-19 09:57] eladkal commented on #15767
Closed as duplicate: https://github.com/apache/airflow/issues/16472

[2021-12-19 09:57] #15767 closed

[2021-12-19 09:59] eladkal commented on #17172
fixed in https://github.com/apache/airflow-client-python/pull/33

[2021-12-19 09:59] #17172 closed

[2021-12-19 10:02] eladkal commented on #8541
does this issue happen on latest airflow version?

[2021-12-19 10:03] eladkal commented on #18457
Is this still an issue?

[2021-12-19 10:05] eladkal commented on #16728
@goodhamgupta are you still working on this issue?

[2021-12-19 10:07] goodhamgupta commented on #16728
@eladkal Unfortunately I wasn't able to work on this issue for now.

[2021-12-19 10:19] rdeteix commented on #16176
up, I have the same issue

[2021-12-19 10:36] potiuk commented on #19891
Feel free!

[2021-12-19 10:38] potiuk commented on #19891
Google is almost done :). Also - we know have numbers showing how many issues are left in each package :).

[2021-12-19 12:42] humit0 commented on #20373
Maybe #15896 was similar issue.

[2021-12-19 13:38] sanyud24 commented on #20398
Hi , I would like to work on this issue .

[2021-12-19 14:31] alexakra commented on #19901
I didn't notice whether the processing logs were created or not.
I have just looked for "Setting next_dagrun for %s to %s" in the logs and it was missing. This is the reason I assumed that the condition that I mentioned in the description is True, i.e. `orm_dag.next_dagrun_create_after = None`.
I have dozens of scheduled DAGs and this happened for all of them immediately after upgrade to 2.2.2. So

[2021-12-19 14:38] dstandish commented on #20398
Awesome @sanyud24 I can assign it to you

@potiuk would this change have to be part of a major release?

[2021-12-19 15:07] eladkal commented on #20092
cc @ashb

[2021-12-19 15:09] ashb commented on #20092
This isn't meant to be the case

[2021-12-19 17:40] potiuk commented on #20092
Actually it does, and it's even documented:

https://airflow.apache.org/docs/apache-airflow/stable/howto/set-config.html

This is also main reason why we are implementing this one:  https://github.com/apache/airflow/pull/18974

[2021-12-19 18:28] yehoshuadimarsky opened #20408 "Logs Are Not Written When Using Remote Logging with K8s Executor"
### Official Helm Chart version

1.3.0 (latest released)

### Apache Airflow version

2.2.1

### Kubernetes Version

1.19.14-gke.1900

### Helm Chart configuration

[code]

### Docker Image customisations

Dockerfile
[code]

requirements.txt
[code]

### What happened

I have simple tasks running with simple logs, sent to GCS via remote logging. But they don't show up in GCS.

### What you expected

[2021-12-19 20:05] potiuk commented on #20398
Depends if it's done in backwards-compatible way.

[2021-12-19 20:26] potiuk commented on #20408
I believe the problem is with understanding the logging authorization:

See: https://airflow.apache.org/docs/apache-airflow-providers-google/stable/logging/gcs.html

``By default Application Default Credentials are used to obtain credentials. You can also set google_key_path option in [logging] section, if you want to use your own service account``

As I read that - the ``remote_log_conn_id`` is u

[2021-12-19 20:26] #20408 closed

[2021-12-19 20:30] eladkal commented on #10978
Is this still an issue in latest Airflow version?

[2021-12-19 20:37] eladkal commented on #8951
Is it still an issue in latest airflow version?

[2021-12-19 20:39] eladkal commented on #13483
You are using EOL version of Airflow.
Please let us know if the issue is reproducible in latest airflow version

[2021-12-19 20:43] eladkal commented on #19469
It's not the same at all. retry has nothing to do with `AirflowRescheduleException`

This seems more of a support question rather than a bug.
I'm converting to a GitHub discussions as Q/A

[2021-12-19 21:43] dstandish commented on #20398
Sorry @potiuk I should have asked a better question.  I want to do a breaking change (albeit a very tiny and not super significant one) by having the hook no longer store query ids on the instance.

But I know that we don't want to do major releases all the time.  Maybe this isn't "significant enough" to even do?  Does it have to wait until there are other bigger changes?

[2021-12-19 23:03] #19783 closed

[2021-12-19 23:41] yehoshuadimarsky commented on #20408
I see. The docs are confusing in that regard then, I thought the `remote_log_conn_id` is used for both reading and writing - for all operations for remote logging.

[2021-12-20 02:56] a372661369 opened #20412 "can this support use rest api to create a dag?"
### Description

can use rest api to create a dag or another way?

### Use case/motivation

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://github.com/apache/airflow/blob/main/CODE_OF_CONDUCT.md)

[2021-12-20 04:30] nicnguyen3103 commented on #11225
For anyone who is still struggling with the import path of celery config here is how to import it:

1. Create a celery_config_extend.py and put it in AIRFLOW_HOME folder. By default, airflow will have this path added in the sys.path https://airflow.apache.org/docs/apache-airflow/stable/modules_management.html.
2. Setup the script by like @charliegriefer or other comments above. If you want to keep

[2021-12-20 05:06] JD-V commented on #13542
I am facing the same issue in airflow-2.2.2 with kubernetes Executor.

[2021-12-20 06:13] auvipy commented on #11225
can anyone check this if it is helpful https://github.com/celery/kombu/pull/1450 ?

[2021-12-20 07:16] eladkal commented on #20296
@KennyRich do you need help?

[2021-12-20 07:18] KennyRich commented on #20296
Please you can help go through my PR

[2021-12-20 08:46] olegsalei commented on #20342
Should it be in a different format? If so, which is the correct one?

[2021-12-20 08:53] olegsalei commented on #20342
Thank you, I see, should it be wrapped in try-except or I'd rather close the ticket?

[2021-12-20 09:23] harishkrao commented on #20032
Environment is configured, working on this, will get back in a day or two.

[2021-12-20 09:37] eladkal commented on #9741
@siddhantdixit are you still working on this issue?

[2021-12-20 10:23] potiuk commented on #20408
I heartily invite you to make a PR that will make it clearer there. Airflow is created by > 1800 contributors - most of them contributing code and docs voluntarily and this is an easy way to become one of the contributors and "give back" for the free software you get for free. This is super easy - you just use "Suggest a change on this page" button at the bottom-right of the doc page and you will

[2021-12-20 10:38] potiuk commented on #20398
I think it's best to discuss it in PR. I am not able to give authoritaive answer as I am not "single point of decision" - but having PR and few eyes looking at that and reaching consensus is always best approach.

I personally think that the first question in such cases should be - Can we do it in a non-braking fashion (with optional parameter and deprecation warning) that will have low to medium

[2021-12-20 10:42] nicnguyen3103 commented on #20394
Many thanks @poiuk , I have added the `'accept_content': ['pickle', 'json']` and celery accept sentry message now. The celery worker is now unable to recognize the sentry task `Received unregistered task of type 'sentry.tasks.check_monitors'`. Guess I have to look into this new bug.

Once again many thanks for your quick response

[2021-12-20 11:18] raajpackt opened #20419 "Need clearer documentation on setting up Sendgrid to send emails"
### Describe the issue with documentation

https://airflow.apache.org/docs/apache-airflow/stable/howto/email-config.html

needs to have more documentation on how to use sendgrid to send emails. Like would installing the provider package guarantee the appearance of the "Email" connection type in the frontend? I do not think we can find a Email connection. Secondly do we need to import the providers

[2021-12-20 11:22] potiuk commented on #20419
Would you like to work on it @raajpackt ? I think the best way to get this documentation improved is to have someone to go through the installation, find all the missing pieces and write it from the user perspective.

This is how most of the documentation of Airlfow is being written. Airflow is created by > 1800 (mostly) voluntaries and actually user documentation is best if written by the users.

[2021-12-20 11:24] raajpackt commented on #20419
That is of course a great way but unfortunately I am bounded by enough knowledge of the code base to contribute in this. Would be really glad for other people who can address this thereby "giving back" to the community.

[2021-12-20 12:37] potiuk commented on #20419
I marked it as good-first-issue and maybe someone who uses Sendgrid will contribute it indeed. But the fastest way is when someone who has vested interest, contributes.

[2021-12-20 13:21] potiuk commented on #19891
Taking on "apache" providers

[2021-12-20 13:27] kaxil opened #20421 "Inconsistencies in Pod labels after AIP-39"
### Apache Airflow version

2.2.2 (latest released)

### What happened

The labels on POD created by `KubernetesPodOperator` and `KubernetesExecutor` are inconsistent. The latter was updated during AIP-39 to have `execution_date` or `run_id`.

https://github.com/apache/airflow/blob/aa27d9f92ef261ce2bf2b0e1b3699c1ffd23307f/airflow/kubernetes/pod_generator.py#L361-L374

While KPO still has the same

[2021-12-20 14:06] potiuk commented on #19891
I'll take the remaining:

[code]

[2021-12-20 14:17] SaarYogev opened #20424 "Postgres /bitnami/postgresql/data': Permission denied when following official helm chart guide on K3S"
### Official Helm Chart version

1.3.0 (latest released)

### Apache Airflow version

2.2.2 (latest released)

### Kubernetes Version

1.21 (K3s)

### Helm Chart configuration

[code]

### Docker Image customisations

No additional configuration

### What happened

Tried to use the starting guide:
https://airflow.apache.org/docs/helm-chart/stable/index.html
Finished this part:
https://airflow.apac

[2021-12-20 14:20] eladkal commented on #19272
@harsh2911 are you still working on this?

[2021-12-20 14:24] harsh2911 commented on #19272
@eladkal Yes, I will be working on this in next 2 weeks.

[2021-12-20 15:55] jobegrabber opened #20426 "GKE Authentication not possible with user ADC and project ID set in either connection or `gcloud` config"
### Apache Airflow Provider(s)

google

### Versions of Apache Airflow Providers

`apache-airflow-providers-google==6.1.0`

### Apache Airflow version

2.1.4

### Operating System

Debian GNU/Linux 11 (bullseye)

### Deployment

Docker-Compose

### Deployment details

At my company we're developing our Airflow DAGs in local environments based on Docker Compose.
To authenticate against the GCP, we

[2021-12-20 15:59] potiuk commented on #20424
This seems to be specific to K3s - which apparently has problems with postrgresql subchart. The subchart comes from BitNami, so you should raise the issue there.

https://github.com/bitnami/charts/tree/master/bitnami/postgresql

I thnk it would be great if you reproduce this issue only withe the bitnami subchart and raise it directly with them - if you provide aa reproducible case for them, they a

[2021-12-20 15:59] #20424 closed

[2021-12-20 15:59] jobegrabber commented on #20426
It seems like https://github.com/apache/airflow/commit/2fadf3c3cf6e8a5d26953ebce6401ab5059ee05f#diff-3d70cf5dda479898625f0a9cbf515b926789b1476301ae398d83082f08d07c13 introduce the change by not only changing the "order of activating service account and setting project", but also changing the evaluation logic.

[2021-12-20 17:11] potiuk commented on #20426
Good spot!

[2021-12-20 20:02] ericpp opened #20432 "Tableau provider signs out prior to blocking refresh check"
### Apache Airflow version

2.2.2 (latest released)

### What happened

It logs into the Tableau server, starts a refresh, and then throws a NotSignedInError exception:

[code]

### What you expected to happen

It should've logged into Tableau, started a refresh, and then waited for the refresh to finish.

### How to reproduce

Use a TableauOperator with a blocking refresh:

[code]

### Operating

[2021-12-20 20:10] eladkal commented on #20432
feel free to PR a fix

[2021-12-20 21:29] #16684 closed

[2021-12-20 22:31] dstandish commented on #20398
thanks @potiuk

OK @sanyud24 this may not actually the best item for a  "good first issue".  You are welcome to keep the issue and do  the  work and see what consensus emerges concerning this issue.  But be warned that one possible outcome is that the change is rejected.

Let me know what you'd like to do.  If you want to take this on, I'll assign to you.  Otherwise I'll  assign to myself and shep

[2021-12-20 22:39] ericpp commented on #20432
PR attached

[2021-12-20 22:48] bitsofinfo commented on #15340
seeing same issue

[2021-12-21 01:22] mik-laj commented on #20398
Related: https://github.com/apache/airflow/pull/15533
CC: @mobuchowski

[2021-12-21 02:01] michotross257 opened #20437 "Deprecated arg is passed to BigQueryHook"
### Apache Airflow Provider(s)

google

### Versions of Apache Airflow Providers

`apache-airflow-providers-google==1.0.0`

### Apache Airflow version

2.0.0

### Operating System

Debian GNU/Linux 10 (buster)

### Deployment

Official Apache Airflow Helm Chart

### Deployment details

_No response_

### What happened

Within the `execute` method of `BigQueryToGCSOperator`, a deprecated arg – name

[2021-12-21 03:17] yehoshuadimarsky commented on #20408
I followed all the steps in the Google docs for Workload Identity but am still having issues. I see that there are many K8s service accounts created by default by the Airflow Helm chart, but for Workload Identity you need to specify a single K8s service account to connect to a GCP service account. Which K8s service account does Airflow use? Are you able to shed more light on the role of all of the

[2021-12-21 03:19] yehoshuadimarsky commented on #20408
Thank you! I will definitely try to submit a PR to change the docs, thank you for making it easy and inviting.

This makes sense, thank you.

[2021-12-21 08:02] yrj commented on #20125
@BasPH Thanks for the update. I have updated the issue to Gantt view.

[2021-12-21 08:18] leonarduschen commented on #18457
Ah sorry, completely forgot about it

@eladkal the issue is that the migration doesn't work when the config `sql_require_primary_key` is set to ON - and some managed database provider (in this case DigitalOcean) doesn't allow changing that config. So what I ended up doing is this https://github.com/apache/airflow/issues/18457#issuecomment-925652133 - which is not really a solution in my opinion

I

[2021-12-21 08:45] eladkal commented on #20437
Feel free to open PR

[2021-12-21 09:22] bhavaniravi commented on #20419
I will take this up. I'm working on an Email guide for Airflow, would be a good extension from that

[2021-12-21 09:50] potiuk commented on #20408
It's not what "Helm Chart" does by default. If you are using K8S executor, then you can (and even should) define pod template https://airflow.apache.org/docs/apache-airflow/stable/executor/kubernetes.html#configuration and it will create you the PODs in the way and configuration that you specify. What you need to do is to create your POD template with all the necessary configuration for K8S.

[2021-12-21 10:04] mobuchowski commented on #20398
Can we expose the query ids in some other way then?

For example, bigquery stores their id in xcoms: https://github.com/apache/airflow/blob/9876e19273cd56dc53d3a4e287db43acbfa65c4b/airflow/providers/google/cloud/operators/bigquery.py#L737

I know it's different layer, but the motivation is the same here.

[2021-12-21 10:40] humit0 commented on #20342
I think wrapping try-except block is unnecessary.

Maybe your airflow webserver [expose_stacktrace](https://airflow.apache.org/docs/apache-airflow/stable/configurations-ref.html#expose-stacktrace) configuration is `False`, so it does not print stacktrace.

[2021-12-21 12:32] eladkal commented on #20139
Thank you everyone for getting this done so quickly!
@ferruzzi @KennyRich @bhavaniravi

[2021-12-21 12:32] #20139 closed

[2021-12-21 13:34] eladkal commented on #15803
fixed in #14024

[2021-12-21 13:34] #15803 closed

[2021-12-21 14:14] talna-evogene opened #20442 "NoValueSentinel in Param is incorrectly serialised"
### Apache Airflow version

2.2.2 (latest released)

### What happened

Hi
We upgraded to version 2.2.2 and starting getting errors in the UI when we have DAG params that are numeric (tried with types 'number', 'integer' and 'float' and got the same error.

[code]
### What you expected to happen

shouldn't cause a serialization error.

### How to reproduce

This is a small DAG to reproduce this er

[2021-12-21 14:50] potiuk commented on #20442
You are likely passing the param the value "NoValueSentinel` which is something that was used in the past to determine "NoValue", But in 2.2.2 you do not need it any more. you should simply skip that parameter rather than pass "NoValueSentinel'

How do you trigger your dags with params? Which system generates the parameters? I guess it is your system so you should fix it there.

[2021-12-21 15:07] jobegrabber commented on #20426
[Some updates..](https://github.com/apache/airflow/pull/20428#issuecomment-998714275)

[2021-12-21 15:10] talna-evogene commented on #20442
Hi
I don't pass this value at all. It happens when I try to open the dag in the web server even before I trigger it. It happens when I press the dag's name from the home page.

[2021-12-21 15:12] potiuk commented on #19917
Confirmed that it works this way, however I am not sure if this is wrong. The behaviour of what happens with the DAG when one of the tasks in the DAG has "end-date" is not really clear from the documentation:

https://airflow.apache.org/docs/apache-airflow/stable/_api/airflow/models/index.html#airflow.models.BaseOperator

This is what happens now - scheduler won't go beyond the date if end_date is

[2021-12-21 15:19] ashb commented on #19917
Having an end date on one task but not the others was I think the second "bug" I ran in to in Airflow 1.8.2 (that I just worked around at the time)

I think and this is a bug we should fix

[2021-12-21 15:26] potiuk commented on #20442
I see. I think this is because the DAG is serialized in the DB with the "NoValueSentinel". Is that possible that you modify the DAG manually (for example add some empty "task" to trigger reserialisation of the DAG?

We are going to have a CLI in the future that will trigger reserialisation for such (and similar) cases: https://github.com/apache/airflow/pull/19471 but it will only come in 2.3 (`air

[2021-12-21 15:54] dstandish commented on #20398
My take is that generally speaking _hooks_ should not manage state like this; instead, that is the job of the thing using the hook (be it an operator or a function as in `@task`).

When it's managed by the caller then you don't  have side effects and hidden behavior that you need to remember or document.  When there's a good reason fine but when not I'd say it's better not to.

In that bigquery **

[2021-12-21 16:02] potiuk commented on #20398
I concur with @dstandish. The Async/DefferableOperators change the "default" approach of our for Hooks - we had some discussion on it recently and all the hooks shoudl gravitate towards being stateless. It is not yet "formalized" as we need some examples to base it on, but making (and keeping) the Hooks stateless should be the new "theme" of Airflow very soon - the more we go async way, the more w

[2021-12-21 16:16] potiuk commented on #19917
Déjà vu  :D

[2021-12-21 16:30] kaxil commented on #19917
For some time now -- I don't think having a "task-level" `start_date` and `end_date` makes sense !

Some arguments around having a separate task-level `start_date` was to have a "waiting" `timedelta` or an offset from DAG start_date which I think can be achieved in a more "transparent way" by using Async Time sensor now.

[2021-12-21 17:04] potiuk commented on #19917
It does seem weird - that's why I doubted if that is a "real" error.

[2021-12-21 17:11] tg295 commented on #13625
I am also experiencing this issue. Airflow 2.2.1 - Celery Executor.

[2021-12-21 17:33] edithturn commented on #19966
Color in the terminal is working, I tested with: "Breeze version" with showing green letters for "breeze2 version: 0.01"
Flags and command are working:
[code]

The implementation of each option is pending,

[2021-12-21 17:52] eladkal commented on #19917
It does and it does not. It's a matter of perspective.
I can list several use cases but for most of them there are other options to get the same functionality.

One thing that we should consider is also the case of backfilling.
For example I had a process that query a sources and does some work (task per source. after a while a new source introduced and DAG was updated with a new task with the rel

[2021-12-21 18:20] BalaChan97 opened #20449 "Not able to use custom security manager getting AttributeError: type object 'AirflowSecurityManager' has no attribute 'get_app'"
### Apache Airflow version

2.2.2 (latest released)

### What happened

airflow_staging-airflow-webserver-1  |   File "/home/airflow/.local/lib/python3.7/site-packages/airflow/www/fab_security/sqla/manager.py", line 69, in __init__
airflow_staging-airflow-webserver-1  |     super().__init__(appbuilder)
airflow_staging-airflow-webserver-1  |   File "/home/airflow/.local/lib/python3.7/site-packages/

[2021-12-21 19:28] potiuk opened #20453 "The "has_calls" is used in place of "assert_has_calls" in a few places"
### Body

As explained in https://github.com/apache/airflow/pull/20428#issuecomment-998714275 we seem to have  number (not big) of tests that use "has_calls" rather than "assert_has_calls".

:scream: :scream: :scream: :scream: :scream: :scream: :scream: :scream: :scream:

What "has_calls" does is acually calling "has_calls" method on the mock :) . Which make them no-assertion tests:

:scream: :scr

[2021-12-21 19:42] ashb commented on #19917
I've wanted separate task level start/end dates when processing data sets from suppliers - when they've told us in advance that "as of date X we are changing the format of data we send you", or internally "from X we alsoc need to process country Y"

[2021-12-21 19:45] ashb commented on #19917
I think the logic should be:

For start date.

- Treat null task start date as dag start date
- dag start date is min of all start dates

For end date
- treat null task end date as no end date
- when calculating dag end date (when it isn't given explicitly at the dag level), if any tasks have null end date then the dag has no end date.

[2021-12-21 19:55] #18641 closed

[2021-12-21 19:58] kaxil commented on #19917
Oof yeah, backfill is a use-case, true.

Generally, agree, I think we also add logs with warnings for those case -- so "unintentional" cases can be mitigated

[2021-12-21 20:10] potiuk commented on #19917
Fine for me :)

[2021-12-21 21:05] eladkal commented on #18267
@amaterasu-coder are you working on this issue?

[2021-12-21 22:05] jedcunningham commented on #20208
Thanks everyone, 2.2.3 has been released.

[2021-12-21 22:05] #20208 closed

[2021-12-21 22:59] kaxil opened #20457 "Release 2.5.1 of Amazon Provider"
### Apache Airflow version

2.2.3 (latest released)

### What happened

The 2.5.0 version of Amazon Provider contains breaking changes - https://airflow.apache.org/docs/apache-airflow-providers-amazon/stable/commits.html specifically https://github.com/apache/airflow/commit/83b51e53062dc596a630edd4bd01407a556f1aa6 or the combination of the following:

- https://github.com/apache/airflow/commit/83b

[2021-12-21 23:12] kaxil commented on #20457
cc @potiuk

[2021-12-21 23:24] potiuk commented on #20457
What kind of breaking changes they are @uranusjr  - they are not immediately visible. Can we make it baclwards-scompatible instead? I would not introduce backwards incompatibility unless we really have a good reason.

[2021-12-22 00:25] uranusjr commented on #20457
On the surface level, the `AwsBaseHook.expand_role()` now calls `_get_credentials()` with no arguments, which is not supported on older versions, and thus if someone subclasses the hook to reimplement `_get_credentials()`, the code would break after upgrade.

More deeply though, `expand_role()` used to depend on boto’s `get_client_type()` with a dynamic client type, which is deprecated in newer Bo

[2021-12-22 00:37] potiuk commented on #20457
Can't we pass `None` explicitly as region from the `expand_role()`  and leave the argument Optional but without default ?

[2021-12-22 00:53] uranusjr commented on #20457
Hmm, I think so. And maybe `expand_role()` should gain an optional `region_name` argument as well (defaulting to None and never explicitly used in the provider until 3.0).

[2021-12-22 03:14] yehoshuadimarsky commented on #20408
Got it. Sorry to keep harping on this but I still can't get it to work. I verified that Workload Identity works correctly with the connected K8s service account, but when I try to get Airflow to use that specific K8s service account by specifying the pod template as you suggested, it seems to ignore it and not use that K8s service account.

Google docs state that the K8s pod must use the service a

[2021-12-22 05:57] harishkrao commented on #20032
Made changes for the [fix](https://github.com/harishkrao/airflow/commit/f4f499e589ace7cccf307bab12b4aa5d3c641af9). Preparing the PR now.

[2021-12-22 06:45] talna-evogene commented on #20442
I have tried it now on a brand new DAG.
It looks like when the param type is number this error is thrown when there is no default value. Once I set a default it works ok.
We have DAGs that worked before and since we upgraded to 2.2.2 this behaviour started.

[2021-12-22 07:55] #20432 closed

[2021-12-22 08:03] uranusjr commented on #20442
I don’t think this is related to reserialisation (and if I’m correct, this won’t be solved by `airflow dag reserialize`), but a bug in how `Param` checks whether a default value exists vs pickling.

@talna-evogene Can you provide some concrete steps to reproduce this? It is very difficult to know exactly what went wrong in what stage from your description.

[2021-12-22 08:10] harishkrao commented on #20453
Can I take this? @potiuk

[2021-12-22 08:21] potiuk commented on #20457
Yeah. Seems to small af a thing to make whole provider backwards incompatible.

[2021-12-22 09:30] luoyuliuyin opened #20458 "the API of delete_dag does not delete the record in dag_code"
### Apache Airflow version

2.2.2

### What happened

**the API of delete_dag does not delete the record in dag_code.**

![image](https://user-images.githubusercontent.com/28948186/147068771-0560119d-8d3d-4472-be09-a72f61dfb77f.png)

This function will delete all the records containing the dag_id field, and will delete the related records of TaskFail, TaskInstance, ImportError. But the dag_code ta

[2021-12-22 09:47] #9683 closed

[2021-12-22 09:57] eskarimov commented on #10921
I would like to contribute or help to contribute on this functionality, not sure how it'd be better to proceed as I see @Red-0111 was assigned for this issue on 28th July. Could I help any how or take over?

[2021-12-22 11:28] auvipy commented on #19059
did python 3.10.1 release solved anything?

[2021-12-22 12:09] pierrejeambrun commented on #8937
Hi,

I can work on this one :)

[2021-12-22 12:57] talna-evogene commented on #20442
hi
I added a small DAG in my description to reproduce it, let me know what other information is required for you to reproduce:

This is a small DAG to reproduce this error.
We use airflow on kubernetes with:
Python version: 3.7.12
Airflow version: 2.2.2

`from airflow import DAG
from airflow.models.param import Param
from airflow.operators.dummy import DummyOperator
from datetime import datetime
p

[2021-12-22 13:03] uranusjr commented on #8937
Go ahead

[2021-12-22 13:48] andreychernih opened #20460 "TimeDeltaSensorAsync task is failing occasionally"
### Apache Airflow version

2.2.2

### What happened

I have a simple TimeDeltaSensorAsync task that is the very first task in the DAG:

[code]

The intention of this task is to simply wait 6 hours before proceeding with the rest of the DAG. I expect this task to always be either in the "waiting" or "success" states. In almost 50% of the cases across my DAG-s in production, this task is failing wi

[2021-12-22 14:12] andreychernih opened #20461 "Airflow is trying to schedule tasks prior to DAG's start_date"
### Apache Airflow version

2.2.2

### What happened

I have a DAG which start_date was 09/01/2021 initially but then it was changed to 11/01/2021. This DAG has some runs prior to 11/01/2021 that did not get a chance to finish. I can now see that scheduler is still trying to schedule the runs prior to 11/01/2021. But none of the tasks in these runs are starting because of the start_date check I pr

[2021-12-22 14:32] potiuk commented on #20453
Feel free!

[2021-12-22 14:39] potiuk commented on #20458
This is correct. DAG code is related to dag file not dag id.
DAG file can contain more than one dag_id , so there is no way to delete dag_code when you delete dag id.
Maybe what you need is to have separate API to delete and manage DAG code separately via PI - this is a good idea and I invite you to create a feature request for it (or even maybe implement it).

[2021-12-22 14:39] #20458 closed

[2021-12-22 14:45] potiuk commented on #19059
Python 3.10 support is missing for other reasons - unrelated to version support. it was missing because some dependencies did not supported it. But this might be a good thing to try again maybe we can get it workin. I am planning to do some further cleanups with images after Xms and possibly attemp to create even an ARM image (and there python 3.10 might actually be better than older versions).

[2021-12-22 14:46] uranusjr commented on #20458
Also note that DAG code entries are automatically cleaned up by the DAG file process when it scans the DAG directory. Everything should end up consistent eventually.

[2021-12-22 15:56] jedcunningham commented on #19460
Operator by operator, this should be possible with `template_fields` and something similar to [this](https://github.com/apache/airflow/blob/81f92d6c321992905d239bb9e8556720218fe745/airflow/providers/cncf/kubernetes/operators/kubernetes_pod.py#L295-L298), but globally it's tougher.

I'd try and use either [pod_mutation_hook](https://airflow.apache.org/docs/apache-airflow/stable/kubernetes.html#pod-

[2021-12-22 16:47] subkanthi commented on #19891
Question:I was on python 3.6 (when running breeze)  and I now notice some inconsistencies between 3.6 and 3.8 with regards to mypy errors, especially with typing and typing_extensions, just want to check if we should be checking multiple versions.

[2021-12-22 16:52] #20457 closed

[2021-12-22 16:55] potiuk commented on #19891
Mypy always runs on the default version which is "3.7" at this moment (we are getting rid of Python 3.6 like - tomorrow :)

[2021-12-22 17:07] subkanthi commented on #19891
Thanks, so does that mean we don't have to worry about errors in 3.8 and just focus on 3.7.

 in the case of typing/typing_extensions, 3.6 and 3.7 are the same and 3.8 behaves differently.

[code]

[2021-12-22 17:46] potiuk commented on #19891
Yeah. 3.8 differences will be few and far between.  Not worth to check 3.7, 3.8. 3.9 seperately

[2021-12-22 17:47] potiuk commented on #19891
348 -> looks like a hydra. You cut some heads, new ones grow  :).

[2021-12-22 17:48] potiuk commented on #19891
I will take google (again) :)

[2021-12-22 18:29] ReadytoRocc opened #20468 "Need to set `tags=[]` to remove all tags from a DAG."
### Apache Airflow version

2.2.3 (latest released)

### What happened

When removing the `tags` argument from a DAG, the tags are not removed. You need to set `tags=[]` to remove them.

### What you expected to happen

I would expect that if you remove the `tags` argument from the `DAG` definition, all tags would be removed from the DAG.

### How to reproduce

Add `tags=["foo"]` to your `DAG` def

[2021-12-22 19:22] josh-fell commented on #19891
#20470 should handle airflow/dag_processing but I did make some notes for review of small doubts I had.

[2021-12-22 20:28] PApostol commented on #20468
I think this has already been fixed on `main` by changing `self.tags = tags` to `self.tags = tags or []` in [airflow/models/dag.py](https://github.com/apache/airflow/blob/main/airflow/models/dag.py#L492) (the change is not in Airflow 2.2.3 though). Can you check the issue against `main`?

[2021-12-22 20:54] rustikk opened #20471 "no logs returned when an end_date specified at the task level is after dag's end date"
### Apache Airflow version

2.2.2

### What happened

When you set an 'end_date' that is after the date for the dag parameter 'end_date' the task fails and no logs are given to the user.

### What you expected to happen

I expected the task to succeed with an 'end_date' of the date specified at the task level.

### How to reproduce

[code]
### Operating System

Docker (debian:buster)

### Versions

[2021-12-22 21:50] AmarEL commented on #19957
We are facing the very same problem with Postgres.

Even being a different database, the stack trace shows the same line/method being called on the airflow "layer" before moving to the database concrete class.
[code]

I didn't have time to test, but there is a chance the #20030 "fixes" this one together with the #19832

[2021-12-23 02:18] subkanthi commented on #19891
Is there a suggested fix for missing argument,  airflow/providers/amazon/aws/example_dags have a lot of these errors.
[code]
`with DAG(
    dag_id='s3_bucket_tagging_dag',
    schedule_interval=None,
    start_date=datetime(2021, 1, 1),
    catchup=False,
    default_args={"bucket_name": BUCKET_NAME},
    max_active_runs=1,
    tags=['example'],
) as dag:

    create_bucket = S3CreateBucketOperato

[2021-12-23 04:56] zeevo commented on #15635
Does anyone have an ideas or Dockerfiles to share for this?

[2021-12-23 06:24] lionheart106008 opened #20475 "Custom Timetable error with CeleryExecutor"
### Apache Airflow version

2.2.3 (latest released)

### What happened

i'm really new to airflow, and i have an error when using Custom Timetable w/ CeleryExecutor

### What you expected to happen

For the custom timetable to be implemented and used by DAG.

error log as follows:

[code]

seems like the same problem mentioned here, but by different reasons that i really don't understand
https://g

[2021-12-23 07:50] sanyud24 commented on #20398
Thank you, I would like to take this issue up, the possible approach could be removing all occurrences where we are storing query_ids and returning query_ids with execution_info in the form of tupple.

[2021-12-23 08:12] potiuk commented on #19891
We fixed similar problems by introducing .pyi definition for operator which has the field marked as optional/having default:

Example: https://github.com/apache/airflow/pull/20422/files#diff-b203bbb3091d2f66173522a470009ba78c142564717c2168ad39d39ff7ed9a11R1

Not ideal. But it will do for now. We will likely have to implement a custom mypy plugin to allow passing non-optional parameters by DAG's de

[2021-12-23 08:21] andormarkus commented on #15635
As I know this project uses Github actions to build images. Github actions only support amd64 runners does not offer arm64 runner like other CI provider. You can build arm64 images on amd64 platform with the help on Docker BuildX however it will have a 3-4X time penalty compared to a native arm64 runner.

To make sure Airflow running on arm64 without hiccup you needs to rerun all of the test on ar

[2021-12-23 08:29] SaarYogev commented on #20424
Thanks for the fast reply!

Unfortunately, the issue actually isn't with Bitnami, as I can deploy their Postgresql easily with Helm, with the default settings, on the same K3s cluster.
So this issue needs to reopened to better look into this.

Also, out of curiosity, why do you want an external cluster for production? Postgres works nicely in K8s production environments: https://dok.community/blog

[2021-12-23 08:46] potiuk commented on #15635
Thanks @andormarkus  - I understand your CI provides ARM (and I am pretty sure those are weeks rather than months that GitHub Actions will provide one - ARM is becoming a "highly reguested" thing. So nice try ;) but GitHub Actions are not a problem here. This is by far the least (and easy to bypass) of our blockers

Actually we build our images for CI tests with our self-hosted runners of Amazon.

[2021-12-23 08:54] potiuk commented on #20398
Assigned you !

[2021-12-23 09:15] potiuk commented on #20424
TCan you try on a different cluster that K3s ?  Because if it is K3S. then I am afraid this at most can be turned into discussion. This is not a bug, really if it works with K3s - possibly this could be addressed to K3S then.

The fact that you can do something does not mean you should. If you watched that presentation, you will likely see all the hoops that you have to go through as K8S adrminist

[2021-12-23 12:24] potiuk commented on #20475
I looked at it and seems this is simply triggerered by `get_templatae_context()` in file_handker - it tries to retrieve all context (including the deprecated `next_ds` > `get_next_execution_date` -> `following_schedule` -> `infer_automated_data_interval`) and that triggers the exception.

I'd say we should simply set the `next_ds` to be some value (might be None possibly ) but we should not raise

[2021-12-23 12:55] cccs-cat001 opened #20483 "DAG runs overlaps task names in Tree View"
### Apache Airflow version

2.2.2

### What happened

In the Tree view page, when the name of the task is ridiculously long, the dag runs grid will overlap the task name. See this picture:
![image](https://user-images.githubusercontent.com/56204545/147242762-5b5bcad8-edd9-4200-8da9-bbd1d6c6bdd6.png)

The real name of this task is `dummy_task_with_a_really_long_name_that_should_be_covered_by_the_ru

[2021-12-23 13:25] potiuk commented on #20483
Tree view is rewritten in upcoming 2.3 version of airflow. It fixes many things (on top of removing all the insanity of the previous tree view) https://github.com/apache/airflow/pull/18675

[2021-12-23 13:26] lucas-houles commented on #16101
Hello this issue still open?
If so can i tackle it?

[2021-12-23 13:26] #20483 closed

[2021-12-23 13:29] eracle commented on #8418
On the dockerpy documentation is not mentioned: the `network_mode` parameter can also be the name of the network.

[2021-12-23 13:44] eugene-nikolaev commented on #20047
Hi @mkhalaf2!
Occasionally ran into that issue when was looking for a solution.
Was the same on Airflow 2.1.0 and my dags suddenly worked after I rewrote PythonOperator handlers to use this:

[code]

Instead of `handler(**context)` and `provide_context=True`.

Here you can see it in the very end:
https://airflow.apache.org/docs/apache-airflow/stable/_api/airflow/operators/python/index.html

[2021-12-23 14:01] lucas-houles commented on #16578
Hello @eladkal,
Can i work on this?

[2021-12-23 14:02] potiuk commented on #20471
Probably related to #19917 and could be fixed together.

[2021-12-23 14:10] potiuk commented on #16578
Feel free @lucas-houles

[2021-12-23 14:27] khalidmammadov commented on #19891
@potiuk @josh-fell I am not sure if this method fully fixes the issue. I have applied similar changed inside airflow/providers/microsoft and when I run mypy for a folder then all good but when I run it for one file only it looks like it does not acknowledge existence of companion .pyi file in the same dir.
i.e. this is OK
`mypy --namespace-packages airflow/providers/microsoft/azure/example_dags`
b

[2021-12-23 14:36] potiuk commented on #19891
Yes @khalidmammadov  - it does not work if you add example_*.pyi - we noticed that before (and it makes sense because definition of the class is elsewhere. You should add .pyi in the package where the classs is imported from.
In #20409  you tried to change the definition in the example* and it's not going to work because stubs only work if they are next to the class they stub as I understand it

I

[2021-12-23 14:46] khalidmammadov commented on #19891
I see what you mean, working on it..

[2021-12-23 14:48] potiuk commented on #20468
Oh yeah. Some nice side-effect of Our #19891  quest with MyPY.

It's been fixed here:

https://github.com/apache/airflow/pull/20272

@ReadytoRocc - I am closing the issue now - but if you could double-check if it is really fixed, it would be great.

[2021-12-23 14:48] #20468 closed

[2021-12-23 15:18] kaxil opened #20484 "Use MyPy support for SQLAlchemy"
### Body

https://docs.sqlalchemy.org/en/14/orm/extensions/mypy.html describes how type checking can be used with SQLAlchemy.

This is possible after we bump the SQLAlchemy version to 1.4+

[2021-12-23 15:20] uranusjr commented on #20484
Except we're still on 1.3 😔

[2021-12-23 15:24] kaxil commented on #20484
Yeah :( Which dep is causing us to stay on <1.4, I can't remember anymore

[2021-12-23 15:25] kaxil commented on #20484
https://github.com/apache/airflow/pull/16630

Flask-Appbuilder ... :(

[2021-12-23 15:27] potiuk commented on #20484
Ehhhh

[2021-12-23 15:29] kaxil commented on #20484
Actually, it looks like it is because of https://github.com/pallets/flask-sqlalchemy/pull/1001 that FAB has to still use <1.4. FAB Issue: https://github.com/dpgaspar/Flask-AppBuilder/issues/1710

[2021-12-23 15:48] ReadytoRocc commented on #20468
@PApostol @potiuk confirmed that this is working as expected on `main`. Thanks!

[2021-12-23 15:52] potiuk commented on #20468
Glad to hear!

[2021-12-23 15:54] potiuk commented on #20484
![dependency](https://user-images.githubusercontent.com/595491/147264001-06a48702-c5cb-414b-80c1-dc6c7d581b5a.png)

[2021-12-23 16:15] hubert-pietron commented on #20320
Hi, it's not like "last_name" field in database for user has "not null" constraint?

[2021-12-23 16:22] potiuk commented on #20400
You should not really use @task -decorated function as callable. The decorator really returns a PythonOperator not the original function. If you need to use a logic that should be used in both callable and a decorated task, you should make a a non-decorated function and call it from within the decorated one.

[2021-12-23 16:22] #20400 closed

[2021-12-23 16:52] kaxil commented on #20484
Very apt XKCD 😄

[2021-12-23 23:46] zeevo commented on #15635
@potiuk

 🙏 Thanks and good luck!

[2021-12-24 03:02] lionheart106008 commented on #20475
@potiuk

Thank you very much!
The workaround works like a charm, although it's not really intuitive.

I suppose I just leave this issue open?

[2021-12-24 05:52] uranusjr commented on #20475
It is still possible to generate a useful date for the timetable case, I think. This is more of a code path we did not correctly anticipate and thus not convert correctly.

[2021-12-24 07:07] Sonins commented on #17720
I have also same issue. If you would like to open PR, I would like to suggest a little fix in your code.
The variable that includes user's local time zone already exists as `TIMEZONE` in [settings.py](https://github.com/apache/airflow/blob/main/airflow/settings.py).

[code]

And in [timezone.py](https://github.com/apache/airflow/blob/main/airflow/utils/timezone.py), you can get `datetime` object t

[2021-12-24 08:47] uranusjr commented on #10921
Feel free to write and propose a PR anyway; in the worse case scenario, you get to write some code for fun and contributors can compare notes to come up with the best implementation possible 🙂

[2021-12-24 09:18] derkuci commented on #15687
Same here, dynamic DAGs (relatively slow to generate), and was hoping to use the "dag pickle" feature but found #18584 and this.

[2021-12-24 10:24] #17962 closed

[2021-12-24 11:45] eladkal commented on #20007
@rsg17 feel free to join Airflow slack. There are channels for support like: `airflow-how-to-pr`

[2021-12-24 12:01] eladkal commented on #7999
I think this issue is covered by AIP 39 which allows you to set your own scheduling logic.

[2021-12-24 12:08] uranusjr commented on #7999
Yes. Note that the AIP-39 implementation by itself does not solve this problem—cron expression _by design_ does not work well with DST, and Airflow is alreay stretching the functionality the best it can. You need to implement a custom timetable using the API exposed by AIP-39 if you need more sophisticated handling of timezone-specific logic.

[2021-12-24 16:02] eladkal commented on #7999
Closing as no action item on this issue.

[2021-12-24 17:03] subkanthi commented on #19891
Question , looking at this PR, is the convention to not include the ASF source header for pyi files

https://github.com/apache/airflow/pull/20422

[2021-12-24 20:35] kyp0717 commented on #16176
I have the same issue.

[2021-12-25 00:07] #16351 closed

[2021-12-25 11:12] hubert-pietron commented on #20248
Hi. I would like to work on that. Can you assign it to me?

[2021-12-25 12:39] JavierLopezT commented on #15590
comment for removing stale

[2021-12-25 15:18] qhsoft opened #20496 "The standalone model bug, about port 8080"
### Apache Airflow version

2.2.3 (latest released)

### What happened

When I modify airflow.cfg about default webserver listening port to 8000,  then start with "airflow standalone"

A error will be printed:
 webserver | [2021-12-25 22:20:08 +0800] [16173] [ERROR] Connection in use: ('0.0.0.0', 8080)
 webserver | [2021-12-25 22:20:08 +0800] [16173] [ERROR] Retrying in 1 second.
 webserver | [202

[2021-12-25 17:50] vsimon commented on #19802
I'm in favor of closing this Issue now, helm hooks doesn't seem like the right approach in the case of unexpected node restarts, some manual action to trigger the hooks would still be needed. The discussion here mentions from @thesuperzapper how the user-community helm chart addresses this by using Deployments for all things which previously ran as post-install jobs: https://github.com/apache/airf