[2020-09-19 02:06] kaxil commented on #11014
Yes that button will be removed as part of https://github.com/apache/airflow/pull/11026

[2020-09-19 02:07] ryanahamilton commented on #11025
This would surely be a side-effect of #11018, but I'm unable to reproduce in Chrome, Safari, or Firefox on Mac. I can certainly provide a simple solution for this if it is indeed a problem.

[2020-09-19 02:21] baolsen commented on #10985
@kaxil Thanks, I had a look and there was also some skip logic within the test_datasync.py file
Removed now and pushed, lets see

[2020-09-19 07:32] yuqian90 commented on #11025
I could reproduce this in Chrome on Mac.

@ryanahamilton I think there are two issues at least.
1. For the problem @kaxil  reported, I think it's caused by the javascript code in graph.html, tree.html, etc that does this. These code picks up the `svg` tag in the header as well and transform it. That's why it became distorted. If you could identify all these code and change them to select something

[2020-09-19 08:43] #11014 closed

[2020-09-19 09:31] turbaszek commented on #11025
Go big or go home 😸

[2020-09-19 12:02] ryanahamilton commented on #11025
I can see it now—I didn't know it was view-specific and hadn't ventured off of the home page in my testing.

@yuqian90 yes, that is indeed the issue. Generic selectors that assumed another SVG element would never be added to the page. I'll fix this.

As for the #2, you. probably just need to run `airflow/www/compile_assets.sh`—there is a CSS adjustment of the padding around the logo in `main.css`

[2020-09-19 12:15] ryanahamilton commented on #11025
Graph view is also drawing teensy little charts on top of the logo 🧐

<img width="138" alt="Image 2020-09-19 at 8 05 41 AM" src="https://user-images.githubusercontent.com/3267/93666922-11babd80-fa50-11ea-9ab8-53f1b92827b7.png">

[2020-09-19 13:29] #11025 closed

[2020-09-19 17:47] potiuk commented on #9755
I think it is an interesting idea, an it actually might be interested on Task level not DAG level. So the dags should not be paused but tasks should not be executed.

Yeah. You could. But pools are there for rather different purpose and being able to pause a connection is much more fine-grained (and still allows you to use pools for example to run tasks that require GPU).

[2020-09-19 18:23] kaxil commented on #8765
Yup I am happy with the suggested list

[2020-09-19 19:02] eladkal commented on #10952
This will be listed in the [changelog](https://github.com/apache/airflow/blob/master/CHANGELOG.txt) for the relevant release

[2020-09-19 19:43] eladkal commented on #9755
Maybe worth to explore the option of Active/InActive mode for Connection. Currently, when task is executed it access a Connection. The feature could also before letting task to read the connection information it will verify that the connection is Active. That way the DAG itself left untouched and if it can't access the connection it will act in a sensor like way (release worker and try reschedule

[2020-09-19 23:20] pcandoalmeida commented on #10742
I've taken:

- [x] D204

Might be an idea @kaxil to add a checklist for all rules needing updating in the initial issue comment. This way potential contributors can know which ones are done and which are still open to do? Just a quality of life idea so we don't have to look at the PRs individually.

[2020-09-19 23:38] kaxil commented on #10742
@pcandoalmeida That's a good idea, I updated the description and added a check-box.

[2020-09-20 08:48] XD-DENG commented on #11013
Thanks @SCUTJcfeng for your question, and thanks @fjmacagno for helping answer the question.

- @fjmacagno 's answer is correct.

- In addition, Sometimes, if your scheduler is having heavy load or acting slowly due to whatever reason, you may also notice additional latency.

On the other hand, @SCUTJcfeng , I would like to suggest asking questions like this in the Slack channel, where you normall

[2020-09-20 08:48] XD-DENG commented on #11013
The answers seem sufficient here, so I will also close this issue now. Thanks again guys.

[2020-09-20 08:48] #11013 closed

[2020-09-20 09:08] mik-laj commented on #11007
This looks like a Flask AppBuilder problem. Can you also open a ticket for FAB?
https://github.com/dpgaspar/Flask-AppBuilder/issues

[2020-09-20 09:47] mik-laj commented on #9755
You can define multiple pools for one task.

[2020-09-20 10:08] mik-laj commented on #11003
Is it related?
https://github.com/apache/airflow/issues/10616

[2020-09-20 10:22] pcandoalmeida commented on #10742
Hi @kaxil I'm working on D202 now.

[2020-09-20 11:16] potiuk commented on #9755
But is not that abuse of pools? Pool is a feature taken from celery + now it is also used for CeleryKubernetesExcecutor to distinguish "big" tasks that you can send to Kubernetes from "small" tasks that you want to send to Celery.

Surely we can use it for hundred other things but should we? Is it discoverable use case? are we going to extend the documentation of pools to include that case as well

[2020-09-20 11:59] mik-laj commented on #9755
Pools are used to reduce the number of tasks that access a given resource ie. limit the execution parallelism on arbitrary sets of tasks.. You can configure the value from 0 to block tasks from running, any number or -1 to disable quotas.  In my opinion, it fits perfectly here, but we do not have an automatic mechanism that will assign task with specific connections to a specific pool.

See: https

[2020-09-20 12:25] mik-laj commented on #9755
I checked and we don't handle multiple pools for a single task, but I think it would be worth adding. I will prepare an example in a moment, which will show how to manage connection limits using pool.

[2020-09-20 13:28] SCUTJcfeng commented on #11013
thanks @fjmacagno  @XD-DENG

[2020-09-20 13:40] mik-laj commented on #9755
I created a PR with a cluster policy that assign pool based on connection: https://github.com/apache/airflow/pull/11033/files

[2020-09-20 13:51] potiuk commented on #9755
Nobody said it **can't** be done with pools @mik-laj.
But I'd argue it **shouldn't** be done.

We could probably implement the whole scheduling logic of Airflow using cluster_policy.

It's a nice example to have, but I still believe it's a nice feature to have on a connection level.

[2020-09-20 14:05] potiuk commented on #9755
I left some comments - I think big problem with this approach is that without support from the framework, it woudl not work well for things like transfer operators where two hooks are used with different connection ids. So I think  we should at least describe it as a 'half-baked" solution that does not work in all cases.

What I think this issue is about is to try to make sure that there is always

[2020-09-20 14:15] feluelle commented on #10985
@baolsen if you have a PR up, please mention me so I can take a look. Thanks. :)

[2020-09-20 14:17] potiuk commented on #9755
You are right, pools are indeed general feature. It is similar, but I think it's still an abuse to use one pool per connection. Pools are designed to be used by people writing DAGs  and they are far more flexible. This is like you have semaphores and mutexes in programming. Surely you can use semaphore like mutex, you even have binary semaphores, but it's still better to use mutex for locking. In

[2020-09-20 14:23] darwinyip commented on #9755
I like the idea of pausing the task, but when a connection is re-enabled, it should catch up. That means that subsequent DAGs should not run until the task finishes, or at least have a mechanism for the task to catch up all the missed runs.

[2020-09-20 16:10] dimberman commented on #10037
@SilvrDuck PR has been cherry-picked to release branch and should go out with 1.10.13. Thank you again!

[2020-09-20 16:10] #10037 closed

[2020-09-20 19:03] gardnerdev commented on #8609
Any update on this?

[2020-09-21 10:45] kaxil commented on #10985
Here is the PR https://github.com/apache/airflow/pull/11020

[2020-09-21 10:47] turbaszek opened #11037 "Create UniqueConnIdRule to ease upgrade to Airflow 2.0"
This issue is part of #8765

## Rule
Create `UniqueConnIdRule` which corresponds to

entry in UPDATING.md. This rule should allow users to check if their current configuration needs any adjusting
before migration to Airflow 2.0.

## How to guide
To implement a new rule, create a class that inherits from `airflow.upgrade.rules.base_rule.BaseRule`.
It will be auto-registered and used by `airflow upg

[2020-09-21 10:47] turbaszek opened #11038 "Create CustomOperatorUsesMetaclassRule to ease upgrade to Airflow 2.0"
This issue is part of #8765

## Rule
Create `CutomOperatorUsesMetaclassRule` which corresponds to

entry in UPDATING.md. This rule should allow users to check if their current configuration needs any adjusting
before migration to Airflow 2.0.

## How to guide
To implement a new rule, create a class that inherits from `airflow.upgrade.rules.base_rule.BaseRule`.
It will be auto-registered and used b

[2020-09-21 10:48] turbaszek opened #11039 "Create UsingSQLFromBaseHookRule to ease upgrade to Airflow 2.0"
This issue is part of #8765

## Rule
Create `UsingSQLFromBaseHookRule` which corresponds to

entry in UPDATING.md. This rule should allow users to check if their current configuration needs any adjusting
before migration to Airflow 2.0.

## How to guide
To implement a new rule, create a class that inherits from `airflow.upgrade.rules.base_rule.BaseRule`.
It will be auto-registered and used by `air

[2020-09-21 10:48] turbaszek opened #11040 "Create ChainBetwenDAGAndOperatorNotAllowedRule to ease upgrade to Airflow 2.0"
This issue is part of #8765

## Rule
Create `ChainBetwenDAGAndOperatorNotAllowedRule` which corresponds to

entry in UPDATING.md. This rule should allow users to check if their current configuration needs any adjusting
before migration to Airflow 2.0.

## How to guide
To implement a new rule, create a class that inherits from `airflow.upgrade.rules.base_rule.BaseRule`.
It will be auto-registered a

[2020-09-21 10:48] turbaszek opened #11041 "Create AirflowMacroPluginRemovedRule to ease upgrade to Airflow 2.0"
This issue is part of #8765

## Rule
Create `AirflowMacroPluginRemovedRule` which corresponds to

entry in UPDATING.md. This rule should allow users to check if their current configuration needs any adjusting
before migration to Airflow 2.0.

## How to guide
To implement a new rule, create a class that inherits from `airflow.upgrade.rules.base_rule.BaseRule`.
It will be auto-registered and used by

[2020-09-21 10:49] turbaszek opened #11042 "Create NoAdditionalArgsInOperatorsRule to ease upgrade to Airflow 2.0"
This issue is part of #8765

## Rule
Create `NoAdditionalArgsInOperatorsRule` which corresponds to

entry in UPDATING.md. This rule should allow users to check if their current configuration needs any adjusting
before migration to Airflow 2.0.

## How to guide
To implement a new rule, create a class that inherits from `airflow.upgrade.rules.base_rule.BaseRule`.
It will be auto-registered and used

[2020-09-21 10:49] turbaszek opened #11043 "Create MesosExecutorRemovedRule to ease upgrade to Airflow 2.0"
This issue is part of #8765

## Rule
Create `MesosExecutorRemovedRule` which corresponds to

entry in UPDATING.md. This rule should allow users to check if their current configuration needs any adjusting
before migration to Airflow 2.0.

## How to guide
To implement a new rule, create a class that inherits from `airflow.upgrade.rules.base_rule.BaseRule`.
It will be auto-registered and used by `air

[2020-09-21 10:49] turbaszek opened #11044 "Create HostnameCallableRule to ease upgrade to Airflow 2.0"
This issue is part of #8765

## Rule
Create `HostnameCallableRule` which corresponds to

entry in UPDATING.md. This rule should allow users to check if their current configuration needs any adjusting
before migration to Airflow 2.0.

## How to guide
To implement a new rule, create a class that inherits from `airflow.upgrade.rules.base_rule.BaseRule`.
It will be auto-registered and used by `airflow

[2020-09-21 10:49] turbaszek opened #11045 "Create StatNameHandlerNotSupportedRule to ease upgrade to Airflow 2.0"
This issue is part of #8765

## Rule
Create `StatNameHandlerNotSupportedRule` which corresponds to

entry in UPDATING.md. This rule should allow users to check if their current configuration needs any adjusting
before migration to Airflow 2.0.

## How to guide
To implement a new rule, create a class that inherits from `airflow.upgrade.rules.base_rule.BaseRule`.
It will be auto-registered and used

[2020-09-21 10:49] turbaszek opened #11046 "Create LoggingConfigurationRule to ease upgrade to Airflow 2.0"
This issue is part of #8765

## Rule
Create `LoggingConfigurationRule` which corresponds to

entry in UPDATING.md. This rule should allow users to check if their current configuration needs any adjusting
before migration to Airflow 2.0.

## How to guide
To implement a new rule, create a class that inherits from `airflow.upgrade.rules.base_rule.BaseRule`.
It will be auto-registered and used by `air

[2020-09-21 10:49] turbaszek opened #11047 "Create NoGCPServiceAccountKeyInConfigRule to ease upgrade to Airflow 2.0"
This issue is part of #8765

## Rule
Create `NoGCPServiceAccountKeyInConfigRule` which corresponds to

entry in UPDATING.md. This rule should allow users to check if their current configuration needs any adjusting
before migration to Airflow 2.0.

## How to guide
To implement a new rule, create a class that inherits from `airflow.upgrade.rules.base_rule.BaseRule`.
It will be auto-registered and us

[2020-09-21 10:49] turbaszek opened #11048 "Create FernetEnabledRule to ease upgrade to Airflow 2.0"
This issue is part of #8765

## Rule
Create `FernetEnabledRule` which corresponds to

entry in UPDATING.md. This rule should allow users to check if their current configuration needs any adjusting
before migration to Airflow 2.0.

## How to guide
To implement a new rule, create a class that inherits from `airflow.upgrade.rules.base_rule.BaseRule`.
It will be auto-registered and used by `airflow up

[2020-09-21 10:49] turbaszek opened #11049 "Create KubernetesWorkerAnnotationsRule to ease upgrade to Airflow 2.0"
This issue is part of #8765

## Rule
Create `KubernetesWorkerAnnotationsRule` which corresponds to

entry in UPDATING.md. This rule should allow users to check if their current configuration needs any adjusting
before migration to Airflow 2.0.

## How to guide
To implement a new rule, create a class that inherits from `airflow.upgrade.rules.base_rule.BaseRule`.
It will be auto-registered and used

[2020-09-21 10:49] turbaszek opened #11050 "Create LegacyUIDeprecatedRule to ease upgrade to Airflow 2.0"
This issue is part of #8765

## Rule
Create `LegacyUIDeprecatedRule` which corresponds to

entry in UPDATING.md. This rule should allow users to check if their current configuration needs any adjusting
before migration to Airflow 2.0.

## How to guide
To implement a new rule, create a class that inherits from `airflow.upgrade.rules.base_rule.BaseRule`.
It will be auto-registered and used by `airfl

[2020-09-21 10:49] turbaszek opened #11051 "Create TaskHandlersMovedRule to ease upgrade to Airflow 2.0"
This issue is part of #8765

## Rule
Create `TaskHandlersMovedRule` which corresponds to

entry in UPDATING.md. This rule should allow users to check if their current configuration needs any adjusting
before migration to Airflow 2.0.

## How to guide
To implement a new rule, create a class that inherits from `airflow.upgrade.rules.base_rule.BaseRule`.
It will be auto-registered and used by `airflo

[2020-09-21 10:49] turbaszek opened #11052 "Create SendGridMovedRule to ease upgrade to Airflow 2.0"
This issue is part of #8765

## Rule
Create `SendGridMovedRule` which corresponds to

entry in UPDATING.md. This rule should allow users to check if their current configuration needs any adjusting
before migration to Airflow 2.0.

## How to guide
To implement a new rule, create a class that inherits from `airflow.upgrade.rules.base_rule.BaseRule`.
It will be auto-registered and used by `airflow up

[2020-09-21 10:49] turbaszek opened #11053 "Create CustomExecutorsRequireFullPathRule to ease upgrade to Airflow 2.0"
This issue is part of #8765

## Rule
Create `CustomExecutorsRequireFullPathRule` which corresponds to

entry in UPDATING.md. This rule should allow users to check if their current configuration needs any adjusting
before migration to Airflow 2.0.

## How to guide
To implement a new rule, create a class that inherits from `airflow.upgrade.rules.base_rule.BaseRule`.
It will be auto-registered and us

[2020-09-21 11:15] harrisjoseph opened #11054 "Improvement: Replace 'Configuration JSON' free-text area with key-value form in Trigger DAG UI"
**Description**

Replace the Configuration JSON text-area with a form that has individual input fields for each key & value. This will remove the need for the user to provide a json object. See hashicorp vault's key-value secrets UI for an example of what this might look like:

![Screenshot 2020-09-21 at 12 06 03](https://user-images.githubusercontent.com/17148324/93759844-df04f680-fc02-11ea-8613-

[2020-09-21 11:30] dinigo commented on #8458
Great! I see we still have the deprecation warning running. @potiuk do you think it can be removed now that the library `pymssql` is back to stay?

[code]

[2020-09-21 14:05] TKorr opened #11057 "AWS Hook does not accept config profiles with arn_roles"
**Apache Airflow version**: 1.10.12

**Environment**:

- **Cloud provider or hardware configuration**: AWS EC2
- **OS** : CentOS Linux 7 (Core)
- **Kernel** ): 3.10.0-957.1.3.el7.x86_64

**What happened**:

set connection extras in ui with:
`{"role_arn": "arn:aws:iam::account_id:role/some_role", "region_name": "xxx", "credential_source": "Ec2InstanceMetada"}`

I have a custom plugin that calls the

[2020-09-21 15:08] pganssle opened #11059 "Classifiers seem inaccurate"
I was looking at your `setup.py` to see if you would be affected by forthcoming breaking changes in `tzlocal` (you will not because you have already pinned to an old version anyway), and I noticed that while your [classifiers say that you support Python 3.6-3.8](https://github.com/apache/airflow/blob/19d781f2fdcc21bfd1be98ece5a864bf342c2adc/setup.py#L789-L791), your [`python_requires` says 3.6 onl

[2020-09-21 15:35] mik-laj commented on #11057
Can I assign you to this task? This looks like a problem worth solving.

[2020-09-21 16:16] turbaszek opened #11060 "Webserver error: 'NoneType' object has no attribute 'last_loaded'"
**Apache Airflow version**:

Master branch.

**Environment**:
[code]

**What happened**:

Webserver returned this error:
[code]

**What you expected to happen**:

To see no error but DAG view.

**How to reproduce it**:
[code]

Create a user, go to webserver, turn on `example_gcp_dataproc` and trigger it.
After few seconds you should see a nuclear cloud under this address: `http://0.0.0.0:28080/ref

[2020-09-21 16:16] turbaszek commented on #11060
@kaxil or @mik-laj any ideas?

[2020-09-21 17:19] pcandoalmeida commented on #11053
Hi @turbaszek could I try working on this?

[2020-09-21 17:25] kaxil commented on #11060
hmm - Will take a look after the dev call

[2020-09-21 17:28] potiuk commented on #11053
I assigned you :)

[2020-09-21 17:31] #10997 closed

[2020-09-21 17:49] turbaszek commented on #11060
Thanks Kaxil! Let me know if you were able to replicate the issue

[2020-09-21 18:03] agonen commented on #10791
?

[2020-09-21 18:12] JeffryMAC commented on #9102
@Sangarshanan do you work on this?

[2020-09-21 18:21] turbaszek commented on #11053
@pcandoalmeida in case of any questions feel free to ask 👌

[2020-09-21 18:29] Ruruthia opened #11063 "Task has itself as upstream task and does not get scheduled"
**Apache Airflow version**:
1.10.6

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
1.15.12-gke.2
**Environment**:
Google Cloud Platform

**What happened**:
I have a DAG with ~500 tasks. They can be run concurrently.
The graph looks ok, but all the tasks have state "None". When I check the instance details it says:
Task's trigger rule 'all_done' requires all upstream

[2020-09-21 20:36] Sangarshanan commented on #9102
oh no I completely lost track of this issue, already have the code will find it and try to raise a PR soon

[2020-09-21 20:49] TKorr commented on #11057
sure

[2020-09-21 21:03] mik-laj commented on #11057
@TKorr I assigned you to this ticket :-)

[2020-09-21 21:22] dimberman commented on #10722
Hi Shivarp,

Unfortunately we haven't been able to reproduce this issue, and we haven't seen anyone else report this.

Can you please try to launch airflow on a KinD cluster, run your DAG, and let's see if it happens there too?

If it is still happening there, can you please either suggest a change or I'd be glad to help you with the PR process. We're pretty swamped on 2.0 so I'm glad to help but

[2020-09-21 21:29] pcandoalmeida commented on #11052
Hi @turbaszek I'm going to work on this rule also 🙂

[2020-09-21 21:39] j3pic commented on #10705
For those who were taken here by Google, and are not actually using Kerberos, but just want `apache-airflow[all]` to install without errors, all you need to do is add `snakebyte-py3` to a requirements file that also includes `apache-airflow[all]` and install it using [the --constraint parameter to pip](https://airflow.apache.org/docs/stable/installation.html).

[2020-09-21 21:42] turbaszek commented on #11052
@pcandoalmeida I assigned you 👏

[2020-09-21 22:11] ephraimbuddy commented on #11051
I'm interested in this issue

[2020-09-21 22:21] ephraimbuddy commented on #11051
But it seems like this could be added to the import changes rule PR #11056?

[2020-09-21 22:55] mdube9 commented on #8388
I'm using 1.10.9 and seeing the same error for task details on SLA misses. Can someone comment if this has been fixed or not

[2020-09-21 23:40] #10634 closed

[2020-09-21 23:55] kaxil commented on #11060
![image](https://user-images.githubusercontent.com/8811558/93832654-44420180-fc6e-11ea-8542-9db59eb37f3a.png)

I wasn't able to reproduce this issue

[2020-09-22 02:58] jhtimmins opened #11073 "Test that the xcom API endpoint handles joins properly"
The XCom endpoint joins the XCom and DagRun tables. Currently, the output of the join isn't getting stored as a new `query` variable, as seen in the link to the following PR. We should add a new test to check that these tables are getting joined correctly.

https://github.com/apache/airflow/pull/10594/files/1fe1da978763c9919cee0d2c7eccd96438631993#diff-aa0c2f68c6177fb1587a6de6b5cfb28cR59

I will m

[2020-09-22 03:06] jhtimmins opened #11074 "Stable API dag run query should count total results after filtering"
Context:
When querying dag runs in the stable API, it is possible to filter by date range and to receive paginated results. Pagination returns a subset of results, but a count of all available results is returned.

Expected behavior:
The total count should take place after filtering by date, and before paginating results.

Actual behavior:
The count is made prior to filtering by date. This means t

[2020-09-22 04:45] Shivarp1 commented on #10722
@dimberman I can try on KinD cluster, but this is not an issue for us anymore, as the local airflow config updates is  working for us and we are not getting the 403 error anymore.
However mounting NAS volumes on KubernetesPodOperator spawned container is still an issue..appreciate any help on this
https://github.com/apache/airflow/issues/10920

[2020-09-22 07:01] Sangarshanan commented on #11048
Can pick this up : )

[2020-09-22 07:12] Sangarshanan commented on #11046
Would love to take a crack at this 😄

[2020-09-22 08:13] baolsen opened #11076 "Add bulk "clear" to Browse -> DAG Runs UI"
**Description**

Airflow DAG Run UI (Browse -> DAG Runs) is really useful for managing many DAG Runs, creating specific DAG Runs and so on.
It would be great to have an additional option to "With Selected DAG Runs" -> "Clear" to reset all task instances under those DAG Runs.

**Use case / motivation**

When rerunning DAGs especially during development cycles it is tedious to go into the Tree view

[2020-09-22 08:21] mik-laj opened #11077 "Autogenerated reference docs for Helm Chart"
Hello,

We have JSON schema definition for values.yaml - [values.schema.json](https://github.com/apache/airflow/blob/master/chart/values.schema.json) This can us generate user-friendly reference documentation. Currently [the documentation](https://github.com/apache/airflow/tree/master/chart#parameters) is not updated very often and does not describe all fields. I don't know a tool that can do that

[2020-09-22 08:21] mik-laj commented on #11077
@flvndh Can you help with it?

[2020-09-22 08:40] turbaszek commented on #11048
@Sangarshanan I assigned you 👌

[2020-09-22 08:40] turbaszek commented on #11046
@Sangarshanan I assigned you 👌

[2020-09-22 08:42] mik-laj commented on #11059
@pgagnon It makes sense. Can I assign you to this task so that you open a PR?

I always have a problem with the butt classifier, but I checked and we have too strict restrictions.
<img width="264" alt="Screenshot 2020-09-22 at 10 41 32" src="https://user-images.githubusercontent.com/12058428/93861040-3321e080-fcc0-11ea-8f07-2694c87ae15d.png">

[2020-09-22 08:44] turbaszek commented on #11060
@kaxil have ou waited utill the task will be executed? In my case, the error appeared once the task was executed

[2020-09-22 08:48] flvndh commented on #11077
It would be a pleasure 😁

[2020-09-22 09:14] turbaszek commented on #11051
@ephraimbuddy this is more like about checking that users configuration in airflow.cfg uses old task handlers in `task_log_reader`. Similar to #11067

[2020-09-22 09:29] ephraimbuddy commented on #11051
Got it

[2020-09-22 11:23] yuqian90 commented on #11060
I did the same steps described, triggered a dagrun and waited till some tasks executed. I could not reproduce the webserver error.

I did get an error in the `create_cluster` TaskInstance log, but that's probably because of my setup:
[code]

[2020-09-22 11:45] kaxil commented on #11060
Same like @yuqian90 my task failed because I didn't have the creds set up but even after the failure I was able to browse across the views.

[2020-09-22 12:02] turbaszek commented on #11060
Hm, interesting I will clean up my environment and will do some tests

[2020-09-22 12:38] FelixReuthlingerBMW opened #11080 "Dynamic queueing via REST API trigger"
**Description**

I want to run Airflow DAGs triggered using the REST API in different queue and want to set the queue name on calling the REST API.

**Use case / motivation**

Currently Airflow does support to set queues only on a per DAG deployment level, but in a case where I have a DAG that I want once run with high-prio and 1000s of times with a lower prio, I don't have a chance to make this h

[2020-09-22 14:09] mik-laj commented on #11080
This is not officially supported, but you can try to use a cluster policy to configure the queue based on DAGRun.conf. See:
https://airflow.readthedocs.io/en/latest/concepts.html#mutate-task-instances-before-task-execution

[2020-09-22 14:13] FelixReuthlingerBMW commented on #11080
Thanks for the hint. If I understand it correctly, this would just apply different settings to single tasks, but not the whole DAG run, right?

Problem then would be, if I first start 1000 DAG runs, the high-prio DAG run queuing as number 1001 would still need to wait until all the other DAG runs were finished, independently from in which queue the tasks are executed, right?

[2020-09-22 14:17] mik-laj commented on #11080
@FelixReuthlingerBMW  Yes. But you can assign all tasks from a given DAG to one queue. In Airflow, tasks are assigned to a queue, not a DAG Run.

No. The tasks will run according to the queues to which they have been assigned.

[2020-09-22 14:17] appunni-dishq commented on #9860
Hey I am using ```kubernetes.client.models.V1VolumeMount```

I am using airflow 1.10.12 . This was broken in scheduler completely in 1.10.10 but it's not anymore there but,

My dag is failing with this error now
[code]
And when I goto Graph views I get this error as well

[code]

[2020-09-22 14:40] FelixReuthlingerBMW commented on #11080
Maybe I should state that we are using limitations for parallel runs:

dag:
  concurrency: 60
  max_active_runs: 40

So, this limits to having maximal 40 DAG runs in parallel. I guess this then would not start more DAG runs, even if some of their tasks would be set to different queues, right?

[2020-09-22 14:57] mik-laj commented on #11080
I am not sure if active_dag_runs applies to externally trigger DAG Runs. It would have to be checked.

[2020-09-22 14:59] dimberman commented on #9860
@appunni-dishq can you please post the DAG you're using?

[2020-09-22 15:09] FelixReuthlingerBMW commented on #11080
It does, works pretty fine ;)

[2020-09-22 16:27] appunni-dishq commented on #9860
[code]

This is what it roughly looks like. I tried to include all details as much as possible let me know if you need more

[2020-09-22 16:31] darwinyip opened #11084 "BigQueryHook broken by dependency google-cloud-bigquery-datatransfer"
**Apache Airflow version**: 1.10.10

**What happened**:

[code]

A new release of `google-cloud-bigquery-datatransfer` broke `apache-airflow-backport-providers-google==2020.6.24`.

To fix, pin `google-cloud-bigquery-datatransfer==1.1.1`

[2020-09-22 16:41] turbaszek commented on #11084
@darwinyip would you like to open a PR? Related to #10014

[2020-09-22 16:50] mik-laj commented on #11084
Can you also provide an error message?  This can help Google search and also fix the problem.

[2020-09-22 16:53] melle2 opened #11085 "Airflow Elasticsearch configuration log output does not contain required elements"
**Context**
What I'm going to describe here is more or less related to #7141. But the context is bigger than described there. That's the reason why I open another Bug report.
I'm struggling with this issue, too. I have tried a lot to be able to see the log entries in web GUI. Maybe I'm wrong, but in my view all this Elasticsearch process cannot be used at all. I followed all the discussion in #714

[2020-09-22 16:56] darwinyip commented on #11084
@turbaszek Looks like its fixed in https://github.com/apache/airflow/blob/master/setup.py#L263

[2020-09-22 16:57] dimberman commented on #9860
Hi @appunni-dishq

I think you defined your executor_config incorrectly.

The entire thing is a dict, so you need to write it like this:

[code]

instead of
[code]

[2020-09-22 17:22] appunni-dishq commented on #9860
Sorry I wrote it wrong here actually it was like this
[code]

[2020-09-22 17:23] Shivarp1 commented on #8792
@jvstein Have you tried it in Airflow 1.10.12 version?   ( k8s server version v1.17.4;  k8s client version v1.15.3)
I am passing to KubernetesPodOperator
  _cmds=["/bin/bash", "-cx"],
  arguments=['echo \'{"success": True}\'  > /airflow/xcom/return.json; echo 0'],_

the task returns success..and starts the dependent followup task however it still gets no value from /airflow/xcom/return.json
-----

[2020-09-22 17:23] appunni-dishq commented on #9860
It's definitely not a syntax issue @dimberman

[2020-09-22 17:51] dimberman commented on #9860
@appunni-dishq

I started airflow with the following DAG using the 1.10.12 release:

[code]

I see it rendered on the UI with no issue

<img width="1773" alt="Screen Shot 2020-09-22 at 10 47 22 AM" src="https://user-images.githubusercontent.com/2644098/93918471-3ff30400-fcc1-11ea-91a8-2717d3bf4f63.png">

Is there a difference between my DAG and yours? Can you try changing the DAG name and re-rende

[2020-09-22 17:55] marcoaaguiar commented on #10725
Regarding of what @yuqian90 said, the question is should we fix the documentation to match the behavior (and the example) or should we fix the behavior and the examples to match the documentation.

TBH the previous behavior seems more logical, where task are only skipped if there is no task running or to be run that points to it.
At least from a user perspective that is what I expect.

[2020-09-22 18:08] madison-ookla opened #11086 "on_failure_callback not called when task receives termination signal"
**Apache Airflow version**: 1.10.7, 1.10.10, 1.10.12

**Environment**:

- **Cloud provider or hardware configuration**: AWS EC2
- **OS** (e.g. from /etc/os-release): Linux
- **Kernel** (e.g. `uname -a`): Debian
- **Install tools**:
- **Others**:

**What happened**:

For the last several versions of Airflow, we've noticed that when a task receives a `SIGTERM` signal (currently represented as `Task

[2020-09-22 18:25] iseessel commented on #10961
@potiuk Was afraid about this -- thanks for the update.

[2020-09-22 18:27] turbaszek commented on #11086
Related to #10917 ?

[2020-09-22 18:53] jvstein commented on #8792
@Shivarp1 - I have not tested in Airflow 1.10.12. Reading through the [relevant section on the 1.10.12 tag](https://github.com/apache/airflow/blob/1.10.12/airflow/contrib/operators/kubernetes_pod_operator.py#L280-L288), I suspect the same issue exists.

I just noticed that my repro steps had a bug in it the command. It should have been `exit 1` not `echo 1` at the end. I updated the description.

[2020-09-22 19:22] appunni-dishq commented on #9860
Enable the dag and try again

[2020-09-22 19:24] appunni-dishq commented on #9860
I had a dag previously I will change dag name and try again as there is a chance old dag id might be the issue

[2020-09-22 19:31] appunni-dishq commented on #9860
![image](https://user-images.githubusercontent.com/31534711/93928619-38bb0d00-fd38-11ea-89fd-651acc7014fa.png)

This is how it looks like, I started the dag after enabling it and then refreshed and that's when it happens @dimberman

[2020-09-22 19:32] madison-ookla commented on #11086
Good find! I think this issue is related, but not quite the same. This particular case is explicitly mentioned in @houqp's response [here](https://github.com/apache/airflow/pull/10917#issuecomment-694567832), and it looks like the change that would rectify this (moving callback handling to `local_scheduler_job` rather than `local_task_job`, I think) is out of scope for that particular change.

[2020-09-22 19:48] #10725 closed

[2020-09-22 19:52] kaxil commented on #10725
Thanks, @yuqian90  -- If it is not much work can you create a backport PR for this targeting v1-10-test?

[2020-09-22 19:56] mik-laj opened #11092 "Helm lint for Chart + unexpected EOF"
Hello,

I heard we have a problem with the Helm Chart on master branch
[code]
This problem is easily detected with `helm lint`. It would be great if we could fix this problem and then add rules to pre-commit checks to prevent regression.
https://github.com/gruntwork-io/pre-commit

CC: @jaketf @dimberman @flvndh

[2020-09-22 19:56] jaketf opened #11093 "Add helm chart linting to precommit"
**Description**

I'd like to add `helm lint` to the pre-commit for apache airflow
This could run basic linting with some linter values using this existing pre-commit
https://github.com/gruntwork-io/pre-commit#helm-lint-caveats

**Use case / motivation**
This can help developers catch errors sooner if they accidentally modify the helm chart that causes linter to fail.

cc: @potiuk

**Related Issues

[2020-09-22 19:57] turbaszek commented on #11092
Related to #11093

[2020-09-22 20:08] dimberman commented on #9860
@appunni-dishq can you try the DAG I posted and confirm that it causes the same issue? (sorry for the back-and-forth, I'm genuinely confused why I can't replicate this)

[2020-09-22 20:37] jaketf commented on #11092
@mik-laj I'd like to close this issue as to not cause alarm because it does not affect the apache airflow upstream.
This was an issue in the subrepo pulling process in our other project.
regardless it would be good to have helm linting in pre-commit which is covered under #11093

[2020-09-22 20:50] appunni-dishq commented on #9860
Hey I enabled it and ran the task, and only after first run the error came. I am using Kubernetes to deploy airflow and this is the docker I am using may be that is the different you can tell what I am doing wrong

[code]

[2020-09-22 20:54] appunni-dishq commented on #9860
May be it's serialization  which causes this ?

[2020-09-22 21:49] pcandoalmeida commented on #11047
Hello 👋🏼 would I be able to work on this?

[2020-09-22 22:01] appunni-dishq commented on #9860
Hi @dimberman intial error I talked about
[code]
This was caused by multiple instance of dags because of the way I hosted my volume, Same dags repeating causes more load on the executor which needs more cpu but times out which I saw that kubernetes_executor using more cpu since upgrade to 1.10.12 from 1.10.10, may be it's worth checking this performance regression out.

The serialization error as

[2020-09-22 22:41] turbaszek commented on #11047
@pcandoalmeida you are assigned 🎸

[2020-09-22 23:05] namita113 opened #11098 "BigatableBackupOperator"
Need Big Table backup operator to take the Big Table backups

**Use case / motivation**

**Related Issues**

[2020-09-22 23:44] mik-laj commented on #11098
Are you planning to develop this operator or is it a request for someone else to do it?  I do not understand the intent of this report. Could you please write a little more?

[2020-09-22 23:45] #11092 closed

[2020-09-23 00:31] mingruWei commented on #10203
I have the same problem.Do you solve that?

[2020-09-23 00:34] mingruWei commented on #10041
I have the same problem.

[2020-09-23 01:07] dimberman commented on #10722
Awesome glad to hear it!

[2020-09-23 05:46] mingruWei commented on #10041
I solve the problem by modify some  airflow timezone .py files and  I set default_timezone='Asia/Shanghai'

[2020-09-23 07:44] feluelle commented on #10925
I think the syntax you are using is incorrect.

From the [snowflake docs](https://docs.snowflake.com/en/sql-reference/sql/copy-into-table.html#reloading-files) it should be:
[code]

So in your case it should be:
[code]

[2020-09-23 07:50] ephraimbuddy commented on #11051
The remote logging documentation for the stable release is the same as the master documentation.

2.0 doc: https://airflow.readthedocs.io/en/latest/logging-monitoring/logging-tasks.html
stable doc: https://airflow.readthedocs.io/en/stable/howto/write-logs.html

I'm finding it difficult looking for what to check in previous version that has changed in 2.0.
What I have found so far is the change in

[2020-09-23 08:25] turbaszek commented on #11051
That's exactly the change. I see that the UPDATING.md has changed a bit since we created the list of rules... We should check if users configuration uses one of those handlers and warn them that this will change in 2.0

[2020-09-23 08:30] konfusator opened #11100 "dagrun_timeout inconsistent behavior"
**Apache Airflow version**:  1.10.12

**Environment**:

- **OS**: Debian GNU/Linux 10
- **Kernel**:  `4.19.0-10-amd64 #1 Debian 4.19.132-1 (2020-07-24) x86_64 GNU/Linux`
- **Install tools**: pip
- **Others**: LocalExecutor

**What happened**:

I set by mistake `dagrun_timeout` to a value smaller than `retry_delay` of a task. If I trigger the dag manually the dag runs the full time, the failing tas

[2020-09-23 08:53] eladkal commented on #9102
@Sangarshanan I assigned the issue to you

[2020-09-23 09:16] ephraimbuddy commented on #11051
I'm suggesting that we add it in import change PR #11056  just like we added it in the deprecated classes here:
https://github.com/apache/airflow/blob/51181e885ed82606f1dc2f9c3b52c4b55e29e9f0/tests/deprecated_classes.py#L1783,

This will help us not to duplicate code. What do you think?
https://github.com/apache/airflow/blob/51181e885ed82606f1dc2f9c3b52c4b55e29e9f0/tests/deprecated_classes.py#L175

[2020-09-23 09:38] turbaszek commented on #11051
The difference is that the #11056 is for DAGs, task handlers are used in airflow.cfg that is not validated in #11056 So we need to look for problems in two different places

[2020-09-23 09:45] ephraimbuddy commented on #11051
Ok. It's clear now

[2020-09-23 10:09] turbaszek commented on #11052
Closed in #11067

[2020-09-23 10:09] #11052 closed

[2020-09-23 10:47] brijeshgautam opened #11101 "Priority Weight is not being honoured when using celery executor"
I was using Airflow 1.10.10 with Celery executor. I defined two dag, each with three task. Same Pool id was used in both dag/task. Pool slot was configured as 3. First DAG (say High_prioirty)was having priroity_weight as 10 for each task. Second DAG (say Low_priority) was having default priority_weight ( that is 1). I submitted first 5 Low_priority Dag. I waited till 3 tasks of low priority were m

[2020-09-23 11:00] yuqian90 commented on #10725
Will do.

[2020-09-23 11:03] yuqian90 commented on #10725
BranchPythonOperator skips child tasks if they are not returned by python_callable. The ambiguity only happens when there are empty branches. Either way won't be perfect. This PR aims to keep the behaviour the same as before 1.10.12.

[2020-09-23 13:03] potiuk opened #11104 "Add Mac OS tests for Breeze/Pre-commit scripts"
**Description**

We are using Breeze by developers on Linux and MacOS and they behave slightly differently.

This is both Bash and Some Posix tools (which are in different versions on Mac than on modern  Linux versions)

GitHub actions support Mac OS builds, so w could run a single, separate workflow on MacOS to only test Breeze's and development environment functionality on Mac.

**Use case / mot

[2020-09-23 13:05] potiuk commented on #11104
@francescomucio  - are you on MacOS? Maybe that might be an interesting task for you :)

[2020-09-23 13:34] francescomucio commented on #11104
Nope, I am on Windows 10 +WSL2 :(

[2020-09-23 13:35] potiuk commented on #11104
Ah. Right :( . Time to dust of my Mac then ;)

[2020-09-23 14:53] pcandoalmeida commented on #11104
If we listed out the types of tests needed or added specific tests required, I could try and contribute some along with some colleagues if within our reach (maybe as part of Hacktober). Might help us out as we're Mac based. Just an idea!

[2020-09-23 15:01] jmfreeman commented on #10713
@potiuk per https://airflow.apache.org/docs/stable/howto/initialize-database.html

Either I am reading this wrong or it is not in sync with the README.md. Can this be changed so that others don't waste time with sql server?

[2020-09-23 15:29] hsahovic commented on #10435
I encountered this issue - again - on another pipeline, using Airflow 1.10.10. Increasing docker resources resolved it.

[2020-09-23 15:59] potiuk commented on #11104
Cool! I think it should be as easy as running the pre-commit checks (they run most of the scripts anyway under the hood)

[2020-09-23 16:07] potiuk commented on #11104
Those pre-commits also includes running `./breeze --help-all` so the basic stuff from breeze is also tested this way.

Howver maybe some of the commands of breeze could be run as well (in two variants - one for Linux and one for Mac):
[code]

[2020-09-23 16:12] potiuk commented on #10713
Surely - It must be a very old entry that has been overlooked. The list of supported backends is stated at the main github page of Apache Airflow: https://github.com/apache/airflow#requirements (including supported versions).

Would you mind opening a PR fixing it?

[2020-09-23 18:42] jmfreeman commented on #10713
Sure, done: #11109

[2020-09-23 19:58] ashb commented on #8078
Closing in favour of https://github.com/apache/airflow/pull/10153

[2020-09-23 19:58] #8078 closed

[2020-09-23 20:50] Sangarshanan commented on #11048
Heya : ) just wanted to confirm what needs to be done

Check if cryptography is not importable or if fernetkey is empty

Return a message saying that fernet will be enabled by default when upgrading and
an empty key has to be explicitly set in the ``fernet_key`` option of
section ``[core]`` in the ``airflow.cfg`` file to retain the current behaviour

Or am I going about this the wrong way?

[2020-09-23 21:47] turbaszek commented on #11048
as per https://github.com/apache/airflow/blob/master/UPDATING.md#fernet-is-enabled-by-default

So we should check if `fernet_key` key in config is empty. If yes we should inform users than when migrating they will have to change it explicitly to empty

[2020-09-23 22:27] turbaszek opened #11112 "Release airflow upgrade_check as separate package"
**Description**

Release `airflow upgrade_check` as an installable package in addition to command in 1.10.13/14 release.

**Use case / motivation**

In this way, users won't have to upgrade Airflow version only to use this tool. The upgrade check currently should be compatible with any 1.10.X version.

Users that will use this tool have already installed Airflow and doing `pip install airflow_upgr

[2020-09-23 22:42] mik-laj commented on #11112
This may be a problem with database migrations. This tool would then have to contain copies of the newest migrations.

[2020-09-24 00:53] wu-sheng opened #11114 "Unexpected super long period CI tasks."
**Description**

**Use case / motivation**

Hi, Airflow team
This issue is not related to the Airflow feature, but to the GitHub action control.
I am talking with the GitHub Action team, as I noticed, sometimes, the ASF GitHub action has very limited slots for Apache SkyWalking.
GitHub did some research, and at least found one task from the Airflow project,
https://github.com/apache/airflow/action

[2020-09-24 01:14] rmanvar-indeed commented on #9610
also tried with 4.4.0 and 4.4.3 but had similar issues.

[2020-09-24 02:39] xu-xiang opened #11115 "windows python3.8 can't install sasl"
**Apache Airflow version**:
Master

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
windows 10
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:
python3.8

**What happened**:
[code]

**What you expected to happen**:

**How to reproduce it**:

**Any

[2020-09-24 04:02] alexmc-ms commented on #10713
So this is now an official stance?  There is no support for MS SQL Server in Airflow?

As someone who has used SQL Server with Airflow for nearly a year now, this is disappointing.  Besides this new bit issue, I've only encountered one real problem:

SQL Server can't use an index if the string type VARCHAR vs NVARCHAR is mismatched.  Since it uses pyodbc, all strings from sqlalchemy are unicode.

[2020-09-24 05:05] houqp commented on #11086
yeah, those are two different issues. @madison-ookla what executor are you using?

If you run into OOM, the raw task process will receive a SIGKILL instead of SIGTERM, which cannot be captured and handled by the process itself. #7025 doesn't solve this problem because it only handles cases where raw task process did not exit by itself or were killed by SIGKILL.

I think to properly fix this bug, w

[2020-09-24 05:41] mik-laj commented on #11115
Windows is not supported. We recommend using WSL2 to use Airflow on Windows. See: https://github.com/apache/airflow/issues/10388

[2020-09-24 05:41] #11115 closed

[2020-09-24 06:09] mik-laj commented on #10713
This is a community managed project so it's a bit complicated. We only focus on MySQL and PostgresSQL as this is the most used database and we have automatic tests run on CI. We do not have the technical, time and personal resources to fully support the RDBS. As far as technical resources are concerned, we lack the hardware to run build on the CI, this time using MSSQL.  As far as time resources a

[2020-09-24 07:52] potiuk commented on #11114
We also recently noticed some slow-downs and limited number of slots for Airflow. So far it's been rather generous :).

I am not exactly what the root cause was, but. It could be because of a weird race condition with cancelling jobs. This is a special step in our build that waits until images are build by another ("workflow_run") workflow. This is because the PR workflow does not have the permiss

[2020-09-24 07:56] wu-sheng commented on #11114
The GitHub team can't be sure either at this moment, they gave me this task link, which is the only reason I reached the AirFlow team just for checking.

Close this at any moment you want, I just wanted to ping the Airflow team to inform what I got.

[2020-09-24 08:02] potiuk commented on #11114
PR in progress: https://github.com/apache/airflow/pull/11117

BTW. I am also working (but had some interruptions) on a change that will decrease the number of jobs and time used by those jobs in general for like 90% of our PRs. I estimate that in most cases (80%-90% of builds) those PRs will use < 25 % of the current build time and it will decrease the waiting time from 40 minutes to 10 minutes on

[2020-09-24 08:03] potiuk commented on #11114
And thanks a lot for Pinging us @wu-sheng ! Really appreciate it!

[2020-09-24 08:46] #11114 closed

[2020-09-24 09:29] heavelock opened #11118 "TimeWindowSensor - Time sensor checking lower and upper bound of time"
**Description**

I recently had to write a Dag that was a few tasks that had to be executed with very strict time window of a day.
Among airflow's sensors the only one that checks if a given time of a day has passed is TimeSensor.
Unfortunately, it checks only for the bottom time limit, not the top. So If the task has to be executed after 1pm but before 6pm, it cannot be used.

**Use case / motiva

[2020-09-24 09:49] yuqian90 commented on #10725
@kaxil  please see https://github.com/apache/airflow/pull/11120

[2020-09-24 11:02] eladkal commented on #11118
I'm not sure I understand the use case.
The "upper bound" as you describe it is the `start_date` of the DAG.
Do you have an actual use case for such sensor in the middle of your DAG?

[2020-09-24 11:09] heavelock commented on #11118
Upper bound of task execution in a given day, if the dag is being executed daily.

I am using it to fetch data from a device that, for power saving reason, is available only during few hours of a day (ie 1pm -3pm) and this data fetching has to be executed only within that time. Backfilling of the dag in that case is very ineffective - most of the data fetching tasks will fail due to device not bei

[2020-09-24 11:49] CodingJonas opened #11122 "Missleading Documentation for min_file_process_interval"
**Apache Airflow version**: 1.10.11

**Environment**: Service as part of a Docker Swarm

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): Debian 10
- **Kernel** (e.g. `uname -a`): Linux 5ed6acafbcee 5.3.0-1034-aws #36-Ubuntu SMP Tue Aug 18 08:58:43 UTC 2020 x86_64 GNU/Linux
- **Install tools**: pip

**What happened**:

Setting `min_file_process_interval` to a h

[2020-09-24 12:37] razius opened #11123 "TypeError: unsupported operand type(s) for +: 'NoneType' and 'datetime.timedelta"
From the scheduler logs:

[code]

Looks like a problem introduced by 59dad1a4ea6f3ba39d7be8c46ee45ea7cb0dd1f9, I assumed it's a problem with data created before that commit and a missing migration so I did the following for fix it:

[code]

[2020-09-24 12:39] turbaszek commented on #11123
@ashb @kaxil what do you think?

[2020-09-24 12:49] kaxil commented on #11123
Can you give us the steps to reproduce it, we can definitely take care of the condition but just want to make sure if this is reproducible.

[2020-09-24 13:17] ashb commented on #11123
What version were you upgrading from? Have you been running master for long?

[2020-09-24 14:26] adambayrami commented on #10604
Seeing the same issue on airflow 1.10.5. We recently increased from about 30 dags and 200-300 tasks to about 80 dags and over 1k task pretty quickly then started seeing this issue.

Using reddis with a celery executor. Don't currently have access to scheduler logs but that's where I'd like to start investigating.

[2020-09-24 15:08] potiuk commented on #11114
@wu-sheng The timeout PR is merged so there should be no more 6hrs long jobs (I set 50 minutes). I will also observe if the 50 minutes jobs are happening often.

On the other hand - Is it possible to add me somehow to the discussion with GitHub?
I would love to be able to understand potential problems and maybe I can help in the discussion. I think we are in the same boat here :) and got quite som

[2020-09-24 15:34] wu-sheng commented on #11114
This is super COOL!!, I will ask the community to try that. SkyWalking is using a lot of resources too.

I submitted a GitHub ticket, it seems private only. Currently, no further progress besides all the above information.

[2020-09-24 16:00] Smeb opened #11125 "Improve the deprecation warnings for a duplicate task id"
**Description**
I would like to improve the DAG deprecation warning for duplicate task ids to include the dag_id

**Use case / motivation**
I would like the error message to include the dag_id, so I can more easily locate the issue

Here's an example of the existing message:
[code]

After seeing this message, I know the problematic task, but not the problematic DAG. We have lots of DAGs, so I stil

[2020-09-24 16:35] JavierLopezT opened #11128 "SqlToS3Operator"
Recently, all the Sql-related (mysql, postgres...) operators were merged into one. Applying the same, would be great to have a single SqlToS3Operator, so that you don't have to use MySqlToS3Operator, RedshiftToS3Operator, SnowflakeToS3Operator...

[2020-09-24 18:52] darwinyip opened #11133 "JiraHook - Cannot connect to JIRA"
**Apache Airflow version**: 1.10.10

**Environment**: Docker
**Package**: apache-airflow-backport-providers-jira==2020.6.24

**What happened**:

JiraHook fails to connect to Jira server. However using the `jira` library, it connects fine.

**How to reproduce it**:

Connection:
[code]
Using hook:
[code]
Error:
[code]

Using jira library works fine:
[code]

[2020-09-24 19:04] Gaurang033 opened #11134 "Not able to delete the DAG from UI -"
**Apache Airflow version**: 1.10.10

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**: prod

- **Cloud provider or hardware configuration**: aws
- **OS** (e.g. from /etc/os-release):
NAME="Amazon Linux AMI"
VERSION="2018.03"
ID="amzn"
ID_LIKE="rhel fedora"
VERSION_ID="2018.03"
PRETTY_NAME="Amazon Linux AMI 2018.03"
ANSI_COLOR="0;33"
CPE_NAME="cpe:/o:am

[2020-09-24 20:08] coopergillan commented on #11042
@turbaszek - I would like to give this a shot in the next week or two here.

[2020-09-24 20:10] potiuk commented on #10713
Apache Airflow never supported  MSSQL officially - the tests were always MySQL/Postgres. There is an open issue to add support to it: https://github.com/apache/airflow/pull/9973. As @mik-laj mentioned - if you would like to add compatibility with MSQL It would be great if you work together with @aneesh-joseph to finish it up and add automated tests. Without tests, there is no way MSSQL can be supp

[2020-09-24 20:21] darwinyip commented on #11133
FYI this is my current workaround:
[code]

[2020-09-24 20:30] madison-ookla commented on #11086
@houqp Totally agree with your assessment, and if you can incorporate that in #10917 that would be amazing! We definitely only want the callback issued once, and ideally issued regardless what happens to the process (`SIGKILL` vs `SIGTERM`). FWIW we're using the CeleryExecutor.

Thanks a ton!

[2020-09-25 04:41] Shivarp1 commented on #8792
@jvstein one question..
How can we create /airflow/xcom folder when the user for the new worker pod spawned does not have the root access?

when I try this ..
cmds=["RUN mkdir -p /airflow", "RUN chmod -R 777 /airflow", "/bin/bash", "-cx"],
arguments=['mkdir /airflow/xcom','echo \'{\"success\": True}\'  > /airflow/xcom/return.json', 'exit 0'],
..
I get this error..
{{pod_launcher.py:156}} INFO - b'

[2020-09-25 06:56] chattarajoy commented on #10928
/assign @lordozb

[2020-09-25 06:59] pquentin commented on #10604
I work with @nalepae, and we continue to see this a few times per week.

[2020-09-25 07:23] potiuk opened #11144 "Create UndefinedJinjaVariablesRule to ease upgrade to 2.0"
This issue is part of #8765

## Rule
Create `UndefinedJinjaVariablesRule` which corresponds to

empty string, with no indication to the user an undefined variable was used. With this release, any template
rendering involving undefined variables will fail the task, as well as displaying an error in the UI when
rendering.

entry in UPDATING.md. Introduced in #11016
This rule should check if any of t

[2020-09-25 09:20] ecerulm opened #11145 "airflow-pgbouncer-exporter image : standard_init_linux.go:211: exec user process caused "exec format error""
**Apache Airflow version**: I'm using the helm chart that is in master branch

**What happened**:
I'm having trouble with the airflow helm chart, when pgbouncer is deployed `pgbouncer.enabled=true` the pgbouncer deployment fails because one of the container is the pod is continuously crashing.

I've narrowed down the problem to:

docker run -it --rm  apache/airflow:airflow-pgbouncer-exporter-2020.

[2020-09-25 09:59] alikhtag opened #11146 "Cleanup CronJob fails"
**Apache Airflow version**: 1.10.12

**Kubernetes version** : 1.17.9

**Environment**:

- **Cloud provider or hardware configuration**: Azure Kubernetes Service
- **OS** (e.g. from /etc/os-release): Linux
- **Install tools**: Helm chart (/chart in repo)
- **Others**:

**What happened**:
Pod cannot run since `airflow-cleanup-pods` is not in $PATH
[code]

**What you expected to happen**:
Cleanup job

[2020-09-25 10:04] alikhtag commented on #11146
Found something in `github`, I assume these scripts were not migrated when `Helm` chart was donated by `Astronomer` ?
https://github.com/astronomer/astronomer-airflow-scripts

[2020-09-25 10:05] pcandoalmeida commented on #10742
Morning @kaxil what do you think about adding the `Hacktoberfest` label to this issue?

[2020-09-25 10:07] kaxil commented on #10742
Good idea again, just added :)

[2020-09-25 10:08] kaxil commented on #11146
thanks for raising the issue, we will take a look into this one.

[2020-09-25 11:30] ecerulm commented on #11145
On a closer inspection is clear that the `pgbouncer_exporter` executable file that has been copied into docker image  `apache/airflow:airflow-pgbouncer-exporter-2020.09.05-0.5.0` was compiled for macOS and not for Linux!?!

[code]

The way https://github.com/apache/airflow/tree/master/chart/dockerfiles/pgbouncer-exporter has been setup requires that `build_and_push.sh` be executed on a Linux machi

[2020-09-25 11:44] bhaveshpatel640 commented on #8937
@eladkal @potiuk  I will give it a shot, Thanks!

[2020-09-25 13:55] FHoffmannCode commented on #11045
Hi, I would like to take this task can you assign me? @potiuk @mik-laj @turbaszek

[2020-09-25 14:33] davido912 opened #11149 "SQL Alchemy Conn Secret Fails to parse"
Using the 1.10.12: Python 3.6 image and inserting
`sql_alchemy_conn_secret = sql_alchemy_conn` with the relevant AWS Secret ID, fails to parse and returns exception
`airflow.exceptions.AirflowConfigException: error: cannot use sqlite with the LocalExecutor`.

Anyone else encountering this?

[2020-09-25 14:47] JeffryMAC commented on #10982
@alexmc-ms there were some discussions around mssql it's not supported official as backend (see https://github.com/apache/airflow/issues/10713 )
You can patch a fix and PR it

[2020-09-25 15:26] #11145 closed

[2020-09-25 16:57] manesioz commented on #11128
Where is this? When looking for it I still ran into separate MySQL/PostgreSQL/etc db operations/hooks.

[2020-09-25 17:06] mik-laj commented on #11146
@kaxil I assigned you to this issue. Is it ok?

[2020-09-25 17:34] mik-laj opened #11152 "Documentation for our many products"
Hi.

I have fantastic news. We are growing! 🐈 Together with this, our documentation grows and we have newer needs and requirements.

We currently only publish documentation for our app releases.
 - https://airflow.apache.org/docs/stable/

But our community is also working on other products that have a different release cycle, use case, docs build tool and needs
- Production Docker image: https://h

[2020-09-25 18:47] mik-laj commented on #11152
I would like to add that we have a page template that we can reuse.
http://airflow.apache.org/install/

[2020-09-25 19:02] stephenonethree commented on #8306
This would be nice as long as we could toggle it!

[2020-09-25 19:02] stephenonethree opened #11155 "preserve dag view ('graph view', 'tree view', etc) when zooming to subdag"
**Description**

When I look at a DAG, I almost always prefer Graph View. After I zoom to a subdag, it resets to Tree View and I have to select Graph View again. It would be nice if the zooming preserved which 'view' I was looking at so that I don't have to reselect it.

**Use case / motivation**

Fewer clicks when navigating the UI.

**Related Issues**

Very slightly related to https://github.com

[2020-09-25 19:22] arunvelsriram commented on #11076
This would be really useful. I have started working on implementing this feature.

[2020-09-25 20:46] kaxil commented on #10434
I have added "1.10.13" milestone to the PR :) that should be enough

[2020-09-25 22:28] jvstein commented on #8792
@Shivarp1 - You're not allowed to pass `RUN` statements into the operator. You need to start with a pre-built image.

Try this task definition:

[code]

[2020-09-25 23:07] dgies commented on #8541
Confirmed this is still an issue in the latest Composer release, `composer-1.12.0-airflow-1.10.10`
Any attempt to clear tasks using downstream fails if the DAG uses GCP Dataproc operators.
Can also reproduce through the CLI using `gcloud composer environments run $COMPOSER --location $LOCATION clear -- $DAG -t $TASK --downstream`

An ugly workaround is to clear the entire DAG Run by omitting `-t $

[2020-09-25 23:10] mik-laj commented on #8541
Does this problem also occur when the operator from airflow.providers is used?  The operators from airflow.contrib have known issues, so it is recommended to migrate to airflow.providers ..

[2020-09-25 23:15] dgies commented on #8541
I'd already tried using ` airflow.providers.google.cloud.operators.dataproc` and it failed the same because in later releases the old `airflow.contrib.operators.dataproc_operator` now imports airflow.providers and  subclasses/decorates them with a deprecation warning.

[2020-09-26 04:25] Alien2150 opened #11161 "Improved health checks"
**Description**

Improve health checks for Airflow

**Use case / motivation**

According to https://airflow.apache.org/docs/stable/howto/check-health.html the health endpoint includes db and scheduler health-information. But the Http code is not usable as a health-basis which is not useful for orchestrating software like Kubernetes.

It think it would be better to add 2 more additional routes:

*

[2020-09-26 08:30] potiuk opened #11163 "Fully separate provider packages from the Airflow core (AIP-8)"
**Description**

In order to implement [AIP-8](https://cwiki.apache.org/confluence/pages/viewpage.action?pageId=100827303) we need to separate implement mechanism of auto-discovery of the package capabilities. POC is implemented already, we need to implement it if we are going to separate out provider packages into separately installable packages This is also a prerequisite to implement #10507. We

[2020-09-26 08:36] potiuk opened #11164 "Enable MySQL 8 CI jobs"
**Description**

We've never run any CI jobs for MySQL 8 in our CI system. All the jobs are running at 5.7. With the recent refractor, it is as easy as changing CURRENT_MYSQL_VERSIONS to include the MySQL 8 and change the Dockerfile.ci to use mysql8 client as well (currently Dockerfile.ci uses MySQL 5.7 client).

I think this is a hard pre-requisite for the HA Scheduler PR (#9630) to be merged. HA

[2020-09-26 08:40] potiuk commented on #11164
Hwy @dimberman @kaxil @ash -> I think this one must be implemented for the AIP-15 PR to be merged (see the reasoning). I will likely have a lot of other obligations and will have completely no time to do anything about this and the two related issues in the coming weeks so if anyone can take that over and implement it for the planned Alpha release this week. We can discuss it  on Monday as there a

[2020-09-26 17:52] eladkal commented on #11118
Airflow doesn't guarantee when tasks will be executed. It only guarantee when they can start.
I'm still not sure that I fully understand your suggestion.
For your use-case I assume the flow is:

TimeWindowSensor - > ExecutingOperator

Your safe time as you describe it is: 1PM - 6PM
Lets assume that TimeWindowSensor was executed at 1:30PM so it succeeded and downstream branch is good to go But then

[2020-09-26 19:10] lgov opened #11168 "KubernetesPodOperator doesn't support workingDir parameter."
**Description**
We use a docker image for a project with multiple pre-built starting scripts included. As part of the dag setup, we need to define which script to start (with the `cmd` parameter), and what the working directory for that script needs to be.

In the Kubernetes Pod specification yaml file we use the `workingDir` key, but as far as I can see that can not be set in the `KubernetesPodOp

[2020-09-26 19:33] lgov opened #11169 "KubernetesPodOperator pod_template_file fails with confusing exception (results.metadata is None)"
**Apache Airflow version**:
v1-10-test branch

**Kubernetes version (if you are using kubernetes)**
v1.19.2

**Environment**:

- **Cloud provider or hardware configuration**: Standalone PC
- **OS** (e.g. from /etc/os-release): Ubuntu 18.04.5 LTS
- **Kernel** (e.g. `uname -a`): GNU/Linux 4.15.0-91-generic x86_64
- **Install tools**: Docker version 19.03.12
- **Others**:
The airflow worker is runnin

[2020-09-26 20:11] mik-laj commented on #11168
We do not plan to add new parameters to this operator. We are working on making migrations to `pod_template_file` easier.  If you have problems with pod_template_file please create a separate ticket.
See: https://lists.apache.org/thread.html/rb1bcafea1b8f86e6d155aea7169c05805f7021e90f1636afc8019074%40%3Cdev.airflow.apache.org%3E

[2020-09-26 20:12] #11168 closed

[2020-09-26 20:12] mik-laj commented on #11169
CC: @dimberman

[2020-09-26 20:58] iadi7ya commented on #8191
Hi @mik-laj, I would like to work on this issue. It would be great if you could assign this to me?

[2020-09-26 20:58] iadi7ya commented on #8197
Hi @mik-laj, I would like to work on this issue. It would be great if you could assign this to me?

[2020-09-26 20:59] iadi7ya commented on #8196
Hi @mik-laj, I would like to work on this issue. It would be great if you could assign this to me?

[2020-09-26 20:59] potiuk commented on #8191
assigned :)

[2020-09-26 21:00] potiuk commented on #8196
assigned as well.

[2020-09-26 21:01] potiuk commented on #8197
also assigned 👍

[2020-09-27 00:34] mlgruby commented on #9708
current status of type coverage for provides below 75%

0.000000 dingding
0.000000 opsgenie
0.000000 presto
0.000000 qubole
0.000000 samba
0.000000 zendesk
16.666650 ssh
16.666667 oracle
16.666667 yandex
41.074865 amazon
52.078754 microsoft
69.100860 google

[2020-09-27 10:46] yashhd commented on #10508
@MohammedDiab Hi I'm a little new to airflow and have been implementing a project of my own where I'm using cloudsqlinstanceimport operator. What exactly did you mean by having the body parameter as a templated field?
 In this link - https://airflow.apache.org/docs/stable/howto/operator/gcp/sql.html#cloudsqlinstanceimportoperator , the body parameter is already present. So were you saying that it

[2020-09-27 12:20] potiuk opened #11171 "Make production Dockerfile ready to be used in Corporate high-security environments"
Corporate users have often requirements to have full control over the Production Images used in their production environments. They need to control the sources of packages and files downloaded during the build process.

This issue is an umbrella issue over the features needed to make the production image to be ready to be used in such environments without modifications but just with customising th

[2020-09-27 12:38] lgov commented on #11169
It works when using the absolute path:

`pod_template_file="/opt/airflow/dags/basic_pod.yaml"`

My mistake was to use the path on the host machine, not the path mapped in the docker container.

I suggest to keep this issue for the confusing error message and lack of clear documentation.

[2020-09-27 14:22] mik-laj commented on #11169
We are working on the documentation in another ticket: See: https://github.com/apache/airflow/issues/8970

[2020-09-27 14:22] #11169 closed

[2020-09-27 15:39] mik-laj opened #11175 "Update the GIF on the documentation main page"
Hello,

The GIF on the main page of the documentation is slightly outdated. I think it's worth updating.
https://airflow.readthedocs.io/en/latest/
![image](https://user-images.githubusercontent.com/12058428/94369128-3bc34e00-00e8-11eb-9256-e72f1b57b90e.png)
The interface has changed a lot so now this gif doesn't show the current state of the interface.

Best regards,
Kamil Breguła

[2020-09-27 16:05] potiuk commented on #10730
@enriqueayala I have just submitted #11176 that should handle the case by custom `--build-arg`

[2020-09-27 16:15] potiuk commented on #8605
@KimchaC FYI. I have just submitted #11176  PR that should make it possible to build even such complex images as you explained in  https://github.com/apache/airflow/issues/8605#issuecomment-690065621 via passing appropriate build args. In fact I even made an example on how to build such image based on your example.

Thera are few more changes coming (we've implemented quite some extensions to the

[2020-09-27 17:23] turbaszek opened #11177 "Add template fields renderers to operators"
**Description**

In #11061 we've added a nice feature of "template fields renderers". This allows users to define what renderer should be used for rendering template fields values in Web UI. This is super useful for rendering big dictionaries, bash commands, sql queries, yaml files.

**Use case / motivation**

Improve rendering of template fields in Airflow Web UI and remove the need of using pre-

[2020-09-27 17:26] mik-laj opened #11178 "Core operators/hooks import paths according to AIP-21"
Hello,

Core operators have now moved to new [AIP-21](https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-21%3A+Changes+in+import+paths) compliant modules.
In most cases this means that the `_sensor` or `_operator` suffixes need to be deleted from the module name and in place of the old module a class deprecation warning should be added.

After making a change to the `master` branch, the same

[2020-09-27 18:10] potiuk commented on #11177
Will it work with the backports :)?

[2020-09-27 20:03] mik-laj commented on #11177
@potiuk  Yes, but this feature will not be available in older version, but will not damage operators. We'll just have the attribute set in the class and never used.

[2020-09-27 21:38] potiuk opened #11180 "Fast spell-check in pre-commits"
**Description**

We have the spell check implemented in sphinx-build, but I think we can do better. Currently, when you make a spelling mistake in any of the .rst docs you will find out only after you push it and wait for results (> 10 minutes).

I think spell check is not as demanding when it comes to dependencies and when you modify an .rst or two you should be able to check the spelling really

[2020-09-27 21:38] potiuk commented on #11180
cc: @kaxil @mik-laj -> WDYT ?

[2020-09-27 21:44] potiuk commented on #11177
Cool!

[2020-09-28 07:06] khyurri commented on #10129
@mik-laj
Please, review PR: https://github.com/apache/airflow/pull/10254

[2020-09-28 07:18] ashmeet13 commented on #11144
Hi, I am new to both Airflow and contributing to FOSS.
Saw this issue unpicked and I would like to pick this up.

I had one quick query -
The base branch from which I create a new feature branch in my fork would be `v1-10-test`?

Thanks! Looking forward to contribute and learn more!

[2020-09-28 07:38] potiuk commented on #11144
Yep.

[2020-09-28 09:04] ana-carolina-januario commented on #10824
Hi there,

I ended up figuring this out. Basically the was in the value of "start_date" DAG's field. It should be pointing to a date previous to the (first) execution_date (which depends on schedule_interval).In case you want to trigger a DAGs on a daily basis, your schedule_interval will be something like "@daily", your start_date should be 1 day ago. For a schedule_interval @weekly", your start_

[2020-09-28 09:04] #10824 closed

[2020-09-28 09:10] alexmc-ms commented on #10713
Thank you for your responses.  I understand limited resources and the need to prioritize.

I will reach out to @aneesh-joseph to see where I can assist.

[2020-09-28 09:14] rafaelpierre commented on #11050
Can I take this one? @turbaszek

[2020-09-28 09:14] yene opened #11182 "macro current_date does not use configured timezone"
**Version**:

- Airflow 1.10.12

**What happened**:

When using the jinja macro `execution_date` it does not use the current configured timezone. It uses UTC.

**What you expected to happen**:

That `execution_date` uses the timezone from `core.default_timezone`. So the execution_date matches with the logs and everything.

[2020-09-28 09:15] alexmc-ms commented on #10982
I better understand this problem now.  I can patch it on my end, but it's not an easy fix to generalize for a PR.  Basically, for MSSQL all String types in the alembic migrations would need to become Unicode.  Similarly, the Celery tables would need to be patched with String changed to Unicode.

I am following up on #10713 to see where I can assist with better support for MSSQL.

[2020-09-28 09:15] #10982 closed

[2020-09-28 09:42] MohammedDiab commented on #10508
@yashhd the body field was already there, the issue was you couldn't render Airflow variables inside the `body` parameter. examples of Airflow variables here https://airflow.apache.org/docs/stable/macros-ref.html

[2020-09-28 09:57] Yashs911 commented on #11175
Hi, @mik-laj I would like to work on this. What changes do I need to make and in which file?

[2020-09-28 10:07] carlsvard opened #11183 "CLI command for DAG level testing does not work"
**Apache Airflow version**: 1.10.12

**What happened**:
`$ airflow test [dag_id] [execution_date]`
gives
[code]

**What you expected to happen**:

That test should be run on DAG level, i.e., each task, in accordance to documentation:

https://airflow.apache.org/docs/stable/tutorial.html#id2

**How to reproduce it**:

`$ airflow test [dag_id] [execution_date]`

[2020-09-28 10:17] turbaszek commented on #11050
Thanks @rafaelpierre !

[2020-09-28 10:23] kaxil commented on #11180
Sure yea good idea, I can definitely look at that one once I get some time 👍

[2020-09-28 10:57] kaxil commented on #11180
Assigning it to me for now, but let me know if someone wants to work on it

[2020-09-28 11:18] snehal199 commented on #11044
Hey @turbaszek, can I pick this up?

[2020-09-28 11:37] turbaszek commented on #11044
Sure @snehal199 !

[2020-09-28 11:38] turbaszek commented on #11048
Closed via #11116

[2020-09-28 11:38] #11048 closed

[2020-09-28 14:21] rafaelpierre commented on #11050
Done! Can you please review [#11185](https://github.com/apache/airflow/pull/11185) @turbaszek? :)

[2020-09-28 14:56] heavelock commented on #11118
Well, what can I say. `It works for me` :)

I completely agree with drawbacks of this approach that you pointed out. They are completely real and this approach do not guarantee that the time-sensistive task will be executed when it was intended. However, that problem can be mitigated by adjusting priorities of tasks - low priority on the `TimeWindowSensor` and very high priority on `ExecutingOpera

[2020-09-28 15:46] ashb commented on #9041
Vikram has volunteered to tackle this

[2020-09-28 15:58] flvndh commented on #11077
@mik-laj How should this script be triggered? Also, how do you see the output being rendered ?

[2020-09-28 16:02] ashmeet13 commented on #11144
I had a few doubts asking them here -

Currently I was writing the following logic for `check` -
For a given dag -
1. It will gather all the tasks - `dag.tasks`
2. Iterate over the task list and for every task
        - Get Jinja2 environment from `task.get_template_env()`
        - Find Jinja2 variables for all `task.template_fields`
        - Verify that all the above gathered variables are pres

[2020-09-28 17:07] pcandoalmeida commented on #8132
Hi everyone 👋🏼 is this issue still open for work? I can see the `Hacktoberfest` label has been added and would love to help if no one is working on this at the moment?

[2020-09-28 17:49] dgies commented on #11183
Not a bug.
Read the usage instructions again.
You're omitting the mandatory task_id.
Follow the tutorial, it includes task_id.

[2020-09-28 19:48] OmairK commented on #8132
@pcandoalmeida there is already a draft PR in review for this issue #9597.

[2020-09-28 20:02] pcandoalmeida commented on #8132
How did I miss that! Thanks @OmairK!

[2020-09-28 20:25] sergioesca4 commented on #10186
Hello, @potiuk I would like to work on this issue.

[2020-09-29 05:42] bhavaniravi opened #11190 "KubernetesPodOperator set's task failure on `startup_timeout` but doesn't kill the pod"
**Apache Airflow version**:
1.10.10

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.16

**Environment**:

- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

We are an airflow set up in production on a Kubernetes cluster. We found that some

[2020-09-29 07:23] mik-laj commented on #11183
This piece of documentation is invalid. Testing the entire DAG is a feature exclusive to Airflow 2.0

[2020-09-29 07:44] jhtimmins commented on #11182
Could you include a minimum, simple DAG that replicates this issue? That will make it easier to fix.

[2020-09-29 07:50] ashb commented on #11144
@ashmeet13 That check looks like a good start yes, but not quite there. I don't think your `params` is right. `TaskInstance.get_template_context()` is the parameters that templates are executed in, and for that you will need to create a TaskInstance (it can be in memory, no need to write it to the DB)

[2020-09-29 07:52] ashb commented on #11144
Also check our BaseOperator.render_template for all the possible locations/field types we render templates on. You'll need to replicate much of that logic to handle all the types (inside lists, dicts, etc. etc.)

[2020-09-29 07:52] mik-laj commented on #11077
I am flexible. One solution i see is generating this file with every release and publishing on airflow.apache.org. See: https://github.com/apache/airflow/issues/1115

Do you have another idea?  I'd love to talk about it.

[2020-09-29 07:55] ashb commented on #11180
The current spell check also checks spelling of doc comments right? So we'd still want to keep the existing checks, but just add a quicker failure where we can check .rst files more directly

[2020-09-29 07:59] kaxil commented on #11180
Yup

[2020-09-29 08:01] ashb commented on #11183
PR to update docs on the 1.10 release branch https://github.com/apache/airflow/pull/11191

[2020-09-29 08:08] potiuk commented on #11180
Absolutely no doubts sphinx spell check is needed. The word "alternative" was simply wrong but I do not know good English word for it :). Simply "additional check"  might be better wording. I will update it to be precise.

[2020-09-29 08:42] mik-laj commented on #11175
The interface has changed, so you need to prepare new screenshots and then combine the screenshots into GIFs. It would be fantastic if it had a resolution similar to the original file. The file is available here:
https://github.com/apache/airflow/blob/master/docs/img/airflow.gif

[2020-09-29 08:50] pcandoalmeida opened #11192 "Contributor's Quick Guide"
**Description**

Create a Quick Guide to get new contributors engaging with the project as quickly as possible through a simplified, integrated page.

**Use case / motivation**

The Airflow contribution documentation is really comprehensive 🚀  This could seem a bit complex and perhaps overwhelming for new contributors as they go through all the documentation on Breeze, the contribution processes,

[2020-09-29 08:57] emiliocolo opened #11193 "Master 2.0.0-dev Docker, Editing Connections with SQLite crashes"
**Apache Airflow version**: master repo

**Environment**:
Docker image used for local development, built with the Dockerfile provided in the repo, SequentialExecutor with SQLite3 ( as originally is )

added below steps in the entrypoint_prod.sh, to have a simple development local running version of airflow.

airflow db init
airflow scheduler &
exec airflow webserver

**What happened**:
From the we

[2020-09-29 08:58] mik-laj commented on #11192
https://github.com/apache/airflow/blob/master/CONTRIBUTING.rst#contribution-workflow Is this section is not enough?

[2020-09-29 09:00] yene commented on #11182
The following example shows a DAG scheduled in a timezone different from the macros (which use UTC), causing a **date mismatch**.

[code]

[code]

[2020-09-29 09:10] potiuk commented on #11192
See the https://apache-airflow.slack.com/archives/CCR6P6JRL/p1601024096031400 @mik-laj . @pcandoalmeida proposes to restructure the documentation in the way that will be more "digestible" for new contributors. The current one is very comprehensive, but it might feel quite overwhelming for a newcomer.

Patrick has some ideas on how to improve it from the perspective of "newbie" and I think this is

[2020-09-29 09:13] potiuk commented on #11193
That one shoud be fixed for 2.0 for sure.

[2020-09-29 09:14] ashmeet13 commented on #11144
Got it - thank you so much. Will update on the progress or in case of any further doubts!

[2020-09-29 09:17] pcandoalmeida commented on #11192
Hey @mik-laj 👋🏼 yes, the idea was to perhaps integrate bits from Breeze, Contributing and Testing in one page and work through a merged in example. Don't want to introduce documentation bloat potentially so all feedback/ideas very welcome!

[2020-09-29 09:26] carlsvard commented on #11183
I am following the documentation, but it is wrong. Thats my whole point...

[2020-09-29 10:01] flvndh commented on #11077
At first glance I would have generated it the same way as the documentation for [airflow.cfg](https://github.com/apache/airflow/blob/master/docs/configurations-ref.rst):
* Add a new `.rst` file in `airflow/docs` using Jinja
* Provide the Jinja context in `airflow/docs/conf.py` (see [this](https://github.com/apache/airflow/blob/c9a34d2ef9ccf6c18b379bbcb81b9381027eb803/docs/conf.py#L150))

Is this w

[2020-09-29 10:41] mik-laj commented on #11077
@flvndh Do we need a Sphinx? I think we can use custom Python script together with Jinja It will be much easier to set up and maintain. As you can see in #1115, I would like each of our products to have separate documentation and therefore a separate documentation building process. If you wanted to use Sphinx, you would have to create a full Sphinx configuration for Helm only.  And then don't use

[2020-09-29 11:02] yashhd commented on #10508
@MohammedDiab Oh yes, I understood. Thanks for clarifying!

[2020-09-29 11:38] mik-laj commented on #11175
You can gain an additional point if you prepare a script that will allow us to easily generate a similar GIF from image files and contribute to it.
https://stackoverflow.com/questions/3688870/create-animated-gif-from-a-set-of-jpeg-images

[2020-09-29 13:30] #10555 closed

[2020-09-29 13:30] #10730 closed

[2020-09-29 13:30] #10856 closed

[2020-09-29 13:31] potiuk commented on #8605
@KimchaC ^ PR merged. You could try to build your image now using the command line paratmeters and compare the size  vs. your previous image. I bet it will be quite a bit smaller.

[2020-09-29 14:09] kaxil commented on #11192
I love the idea, splitting would surely help and you can link them to CONTRIBUTING.rst

[2020-09-29 16:27] ashb commented on #11183
Doc's will be updated for next release.

[2020-09-29 16:27] #11183 closed

[2020-09-29 17:04] flvndh commented on #11077
Sorry @mik-laj but I'm a bit confused by your reference. License headers are handled by [pre-commit](https://github.com/apache/airflow/blob/ebd71508627e68f6c35f1aff2d03b4569de80f4b/.pre-commit-config.yaml#L39) now, right ?

That make me think that we could write a custom hook that would update the chart README whenever `values.yaml` or `values.schema.json` is modified.  What's your opinion?

[2020-09-29 17:55] mik-laj commented on #11077
@flvndh Yes. We use pre-commit checks to update README.md files Example below: https://github.com/apache/airflow/blob/ebd71508627e68f6c35f1aff2d03b4569de80f4b/.pre-commit-config.yaml#L235-L240

Sphinx does not generate MD files, but HTML files, so your original proposal assumed the workflow would be as follows.
1. Users run Sphinx
2. Sphinx load Jinja extension
3. Sphinx load values.schema.json
4.

[2020-09-29 18:01] NoyMiranFyber commented on #10646
facing the same issue

[2020-09-29 18:31] ryw commented on #10646
@dimberman can you have a look or ask someone else from our team to check it out?
Noy also posted some details in Slack https://apache-airflow.slack.com/archives/CCQ7EGB1P/p1601396841221900

[2020-09-29 19:15] OmairK commented on #10984
@potiuk Any way I can help with this CI issue?

[2020-09-29 19:33] potiuk commented on #10984
This is not a programming problem it's more of lack of (at least some time ago) an information about merge commit that should be used to build the image. The thing to impleentt here is to make a merge of an incoming commit with the target one. I think it should be rather easy by running appropriate git merge  command before the build. We have both commits - the  source and target one so it should

[2020-09-29 20:20] adambayrami commented on #10604
Did you all learn anything new or do you still have the issue? @pquentin @nalepae

[2020-09-29 20:23] nalepae commented on #10604
@adambayrami we still have the issue. What about you?

[2020-09-29 21:29] mik-laj commented on #11077
@flvndh  I have prepared a small POC:
Code:  https://github.com/PolideaInternal/airflow/tree/helm-docs-ref
Preview: https://thundering-color.surge.sh/
If you want, you can be inspired by it or develop your own solution. What do you think about it?

It would be fantastic if it looked similar to Redoc.
<img width="642" alt="Screenshot 2020-09-29 at 23 22 34" src="https://user-images.githubuserconten

[2020-09-29 23:30] mik-laj commented on #11149
CC: @kaxil

[2020-09-29 23:36] kaxil commented on #11149
Thanks @davido912 , can you confirm please what database you are using / passing in `sql_alchemy_conn_secret`?

[2020-09-29 23:50] mik-laj commented on #11175
Blocked by: https://github.com/apache/airflow/pull/11195

[2020-09-30 00:00] kaxil commented on #11193
@emiliocolo Can you give an example or reproduction steps please i.e. if we can reproduce it with the default connections or not

[2020-09-30 00:32] mik-laj commented on #10624
Could I have more information about this issue in English, please?

[2020-09-30 00:35] #10105 closed

[2020-09-30 00:35] #11084 closed

[2020-09-30 00:36] #8822 closed

[2020-09-30 00:47] mik-laj commented on #10553
Can you share an example of a DAG that causes problems?

[2020-09-30 00:49] mik-laj commented on #10221
MSSQL is not official supported by Airflow. See: https://github.com/apache/airflow/issues/10713

[2020-09-30 00:51] mik-laj commented on #9949
@michalslowikowski00 Is it done?

[2020-09-30 00:55] #7926 closed

[2020-09-30 00:55] mik-laj commented on #7932
Duplicate: https://github.com/apache/airflow/issues/7931

[2020-09-30 00:55] #7932 closed

[2020-09-30 00:56] #7940 closed

[2020-09-30 06:41] davido912 commented on #11149
@kaxil using an AWS RDS instance (Postgres). This instance works perfectly fine with the hardcoded string in the config, but when trying to use the _secret parameter in the config or as an env variable, it fails to detect it and fails the above mentioned error.
Any more details I can provide that might help with this?

[2020-09-30 07:54] gvazharov commented on #10860
Hi I am experiencing the same problem and don't know how to fix it, is there any kind of update?

[2020-09-30 07:54] michalslowikowski00 commented on #9949
Yes.

[2020-09-30 07:57] #9949 closed

[2020-09-30 08:03] nalepae opened #11200 "Sometimes, all the steps of a DAG are in state success, but the DAG itself in is state failed."
**Apache Airflow version**: 1.10.3 on Google Cloud Composer (so 1.10.3-composer)

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): (Managed by Google Cloud Composer)

**Environment**:

- **Cloud provider or hardware configuration**: Google Cloud Composer
- **OS** (e.g. from /etc/os-release): (Managed by Google Cloud Composer)
- **Kernel** (e.g. `uname -a`): (Managed by

[2020-09-30 08:17] turbaszek commented on #9300
@mik-laj what is the reason to close this issue? Was this sensors implemented?

[2020-09-30 08:19] mik-laj commented on #9300
it felt like it was finished.  I saw the related PR that is closed.

[2020-09-30 08:34] turbaszek commented on #9300
The PR fixed the operator that works in a synchronous manner. This ticket is about creating a sensors and allowing async mode in `DatafusionCreatePipelineOperator` similar to #10673

[2020-09-30 09:10] yamrzou opened #11201 "Timeouts in KubernetesPodOperator"
I have a number of long running KubernetesPodOperator tasks, which fail after around two hours with the following error:

[code]

Airflow Version: 1.10.12

[2020-09-30 09:18] mik-laj commented on #7997
Related: https://github.com/apache/airflow/issues/10552

[2020-09-30 09:28] mik-laj commented on #7967
It is possible to increase the gradation. You need to set "replace_microseconds" to "false" (boolean as string) in request body or use experimental API:
More:
https://airflow.readthedocs.io/en/latest/rest-api-ref.html#post--api-experimental-dags--DAG_ID--dag_runs
https://airflow.readthedocs.io/en/latest/stable-rest-api-ref.html#operation/post_dag_run

[2020-09-30 10:04] arsalan993 opened #11202 "Airflow flower: Connection reset"
I am using airflow using celery executor and monitoring it using airflow dashboard and airflow flower.

After couple of minutes later i get following error on terminal running flower
`[E 200930 14:45:01 broker:84] RabbitMQ management API call failed: [Errno 104] Connection reset by peer`

[2020-09-30 10:22] yuqian90 commented on #9557
There's an open issue discussing several different causes that can lead to this error. I would suggest we keep the error message the same for the time being until the issue is correctly identified and fixed. See https://github.com/apache/airflow/issues/10790#issuecomment-694797430

[2020-09-30 10:24] Iskz opened #11203 "Big Query Location Not working"
We are having issue when trying to use BigQueryHook to retrieve a dataset which is NOT IN US

[code]

example error:
[code]

[2020-09-30 10:50] KIRY4 commented on #10860
Yeah I'm still experiencing it too. Also I'm struggling from following message in UI maybe it is related: `The scheduler does not appear to be running. Last heartbeat was received 11 minutes ago.The DAGs list may not update, and new tasks will not be scheduled` . One good man from Airflow channel proposed me following solution:  `on AKS you will have to fork Airflow and patch Kubernetes executor.

[2020-09-30 11:12] TobKed commented on #11203
You can try to use `airflow.providers.google.cloud.hooks.bigquery.BigQueryHook.run_query` method.

However `bq_hook.get_records` should work anyway. Which version of airflow do you use?

[2020-09-30 11:15] mik-laj commented on #11073
CC: @randr97 @ephraimbuddy

[2020-09-30 11:23] mik-laj commented on #8666
@lihan The problem is that you have your DAG_ID or Task ID contains illegal characters. In that case, a safe path is started which is very slow. See: https://github.com/apache/airflow/blob/b185b364dfa5c6601da55ddad98f8be7f6a44b68/airflow/executors/kubernetes_executor.py#L559

[2020-09-30 11:35] mik-laj commented on #8803
@olchas Is is done? Is there anything else to do that is not described in #10596?

[2020-09-30 11:38] Iskz commented on #11203
currently i'm on version 1.10.12
for airflow.providers.google.cloud.hooks.bigquery.BigQueryHook package are you referring to
https://pypi.org/project/apache-airflow-backport-providers-google/

[2020-09-30 12:01] anirudhbagri commented on #8160
I faced a similar issue, for me it was a bad request that was sent using `http.hook`.
Fixed it by correcting the request body.

[2020-09-30 13:34] tooptoop4 opened #11204 "another state for dagrun - skipped"
right now dagrun returns state of success/failed. I would like a 3rd state - skipped.

use case: dag polls a website looking for a change, if website has not changed I would like the dagrun (not the task instance) to be skipped. so I want to interpret the dagrun status in controlM. ie some error = failed, website changed and new data = success, website did not change = skipped

[2020-09-30 14:21] TobKed opened #11205 "Simplify DataflowJobStatus states"
**Description**

`JOB_STATE_ prefix` is not necessary in `airflow.providers.google.cloud.hooks.dataflow.DataflowJobStatus` states names and would be nice to simplify this.
https://github.com/apache/airflow/pull/8553#discussion_r418995083
https://github.com/apache/airflow/pull/8550#discussion_r419002073

[2020-09-30 14:21] TobKed commented on #11205
cc @jaketf

[2020-09-30 14:47] ashmeet13 commented on #11144
Some progress that I have made. Thanks @ashb  for guiding towards `TaskInstance` for getting the complete context.
Also towards `BaseOperator.render_template`

With this I was able to improve the logic to extract undefined variables in a template to this -

[code]

Take into the consideration the following DAG -
[code]

The above check would print/return this -
[code]

One blocker still that I hav

[2020-09-30 15:09] avirlrma commented on #11177
Hey,
Can I take this up?

[2020-09-30 15:12] ashb commented on #10279
If this only applies to non-RBAC UI then this is less important - the old UI isn't under active development and only receiving critical bug fixes only.

PR to fix this should target v1-10-stable if someone wants to tackle this

[2020-09-30 15:22] TobKed commented on #11203
I referred to the latest state on the master. I will investigate how backport packages works, I am not familiar with them.
I found PR related to the location support https://github.com/apache/airflow/pull/4695

I will try to reproduce your error on 1.10.12 and verify is it working on the latest master and with backported package.

[2020-09-30 15:25] Dubrzr opened #11206 "Airflow won't run scheduler depending on HOME user location"
**Apache Airflow version**: 1.10.12

**Environment**: docker image running ubuntu 20.04

- **OS** (e.g. from /etc/os-release): Ubuntu 20.04
- **Kernel** (e.g. `uname -a`):  3.10.0-1127.19.1.el7.x86_64
- **Install tools**: installed with pip

**What happened**:

Installed airflow systemwide with user root and the following command :

[code]

Then creating a user on the system in a custom directory

[2020-09-30 16:04] datapythonista opened #11208 "Beginners documentation for data pipelines"
**Description**

I'm new to Airflow, and it was very easy to get started creating a simple DAG. Thanks for the tutorial and other beginner docs. But since getting the "hello world" kind of DAG in the tutorial (with independent tasks that don't manage data), I'm having a hard time understanding how Airflow is expected to be used when working with data pipelines.

As an example, I could like to impl

[2020-09-30 16:58] eladkal commented on #11204
Correct me if I'm wrong here but in your suggestion the DAG must run in order to check the website status.
So you expect the DAG to run but eventually mark itself as SKIPPED?

[2020-09-30 17:13] tooptoop4 commented on #11204
yes, name could be RAN_WITH_SKIPPED_RESULT or whatever

[2020-09-30 17:23] XD-DENG commented on #10624
Hi @mik-laj , I have requested for an English description earlier, while no response from the issue author. I suggest to leave it, @zhongjiajie have assigned this issue to himself anyway.

For the time being, I will update the Issue subject with English (@pyxin , please check my comment above. Even if using a translator software, it will be better than sending an Issue that most folks here don't u

[2020-09-30 20:55] turbaszek commented on #11203
The `BigQueryHook` from providers package has no `get_records` method. Please see the information about backport packages:
https://airflow.readthedocs.io/en/latest/backport-providers.html

[2020-09-30 20:58] turbaszek commented on #11177
@avirlrma please feel free to open a PR referencing this issue. You don't have to change all operators at once 👍

[2020-09-30 21:04] turbaszek commented on #11208
@datapythonista would you like to contribute such documentation? I think it would be awesome 🚀

[2020-09-30 21:05] turbaszek commented on #11202
@arsalan993 is there any problem with your Airflow deployment or you only see log messages like this one (which I think comes from postgres?)?

[2020-09-30 21:10] datapythonista commented on #11208
Absolutely, as soon as I confirm this makes sense, and I understand myself what I wish the "missing" tutorial explains. :)

[2020-10-01 00:07] emiliocolo commented on #11193
sure
- Build docker from yesterday's master in github repo and Dockerfile ( plain vanilla or no extra vars, airflow env values etc )
- Run it, with the startup script modified adding as below:
airflow db init  ( using SQLite , SequentialExecutor for local development ))
airflow scheduler &
exec airflow webserver

- Dockerized Airflow is running, i can access to the webUI and scheduler is also seem

[2020-10-01 02:01] FelixKJose opened #11218 "Connection Extra Field is not encrypted/masked on editing"
I see a discrepancy in the behavior of encryption:
When I created a variable with key containing ApiKey  suffix, the value get encrypted as shown in the attachment. Then I tried to edit that variable still it shows as ****** rather than plain text - thats perfect (expected).
Now coming to connection:
where I have extra field with value containing ApiKey  and it saves and shows as extra encrypted a

[2020-10-01 11:39] JeffryMAC commented on #11163
@potiuk how the separation is going to work with hive macros?
https://github.com/apache/airflow/blob/master/airflow/macros/hive.py
Will Airflow have also macros defined per provider which will be able to integrate with core?

[2020-10-01 12:16] potiuk commented on #11163
That was the plan to handle all such dependencies.

I've implemented a POC that implements some of those, but for now I do not have time to move it further in the coming week or two,

The issue is up for grabs to anyone to work on it - maybe you would like to pick it up :) ?

[2020-10-01 15:15] ryw commented on #11218
@ryanahamilton can you have a look at this maybe?

[2020-10-01 17:16] RaviTezu commented on #11043
Hi @turbaszek I would like to take this up. Could you please assign this to me? Thanks.

[2020-10-01 17:24] arsalan993 commented on #11202
During tasks are being executed on airflow using celery executors when i toggle different tabs in flower it suddenly stops working display above error i shared above.

Arsalan Ahmed
________________________________
From: Tomek Urbaszek <notifications@github.com>
Sent: Thursday, October 1, 2020 2:05:57 AM
To: apache/airflow <airflow@noreply.github.com>
Cc: Arsalan Ahmed <arslan993@hotmail.com>; Men

[2020-10-01 17:42] freephys opened #11224 "Branch airflow in middle and test task with different parameters in parallel"
Hi,
 I am looking for a way to achieve this inside airflow, hopefully some easy demo code to study with.  Start with several jobs with say 50 parameters, then at some point (After finishing task A->B) , I wanna to run task C in parallel with different values of say 5 parameters(those 5 parameters will try different values) , after running task C in parallel, all results are passed onto task D and

[2020-10-01 17:43] sudarshan2906 opened #11225 "celery executer with SQS"
Hi I am using airflow 1.10.12 with celery executor with SQS. When configuring `predefined_queues` in celery as mentioned [here](https://docs.celeryproject.org/en/latest/getting-started/brokers/sqs.html#predefined-queues) I am getting the bellow error:

[code]

airflow.cfg:

[code]

[2020-10-01 19:44] mik-laj commented on #11225
This section only accepts strings as values. You need to use "celery_config_options" to set-up other types. See: https://github.com/apache/airflow/blob/master/airflow/executors/celery_executor.py#L66-L69

[2020-10-01 19:57] TobKed commented on #11203
@turbaszek `get_records` method is inherited from `DbApiHook` and if I am not mistaken is present in backported packages as well.

@Iskz I reproduced your case and it seems that error message is little bit misleading. It seems that the problem is not in location (I played with it extensively as well) but with backtics enclosing table reference.
According to the documentation:
https://cloud.google.

[2020-10-01 20:06] sudarshan2906 commented on #11225
Thanks. I am using my celery configuration file for now.

But do you think we can add `predefined_queues` in DEFAULT_CELERY_CONFIG . That when `predefined_queues` is passed in celery config it will convert it to json. Its quite a important config for celery when using sqs as queue.

[2020-10-01 21:12] prakshalj0512 commented on #8118
@mik-laj Hey, would it be possible to add an endpoint for getting the airflow version as well? Thanks.

[2020-10-01 21:47] jaketf commented on #11098
I think I can provide some more context here:
GCP PSO has a customer that wants `BigTableBackupOperator` so they can easily use airflow to schedule / manage [backups](https://cloud.google.com/bigtable/docs/backups).

This should be fairly straight forward
- Add method to BigTableHook to run a table backup ([python client docs](https://googleapis.dev/python/bigtable/latest/table.html#google.cloud.b

[2020-10-01 21:47] jaketf commented on #11098
I am happy to work on this.

[2020-10-01 22:23] dimberman commented on #10858
Hi @sglickman this has been fixed and will be released with 1.10.13.

[2020-10-01 22:23] #10858 closed

[2020-10-01 22:24] dimberman commented on #7904
Hi @Javier162380, Once we release 2.0 one of the big things we're going to work on is overhauling the UI. We're discussing creating a "render" attribute for pods created by the KubernetesPodOperator. I'm going to add @ryanahamilton to this discussion

[2020-10-01 22:27] mik-laj commented on #11098
@jaketf  I assigned you to this ticket.

[2020-10-01 22:28] dimberman commented on #8965
@fuyi it's worth noting that there is a label injected by all KubernetesExecutor pods. Something like `is_kubernetes_executor_pod: true`. You can filter by this. I think creating a seperate hook might create some confusion. I'm going to close this for now, though if you want to propose it to the mailing list would be interested in discussing further with the larger community.

[2020-10-01 22:28] #8965 closed

[2020-10-01 22:30] dimberman commented on #10792
@yamrzou can you create an example of what this would look like? Would this not already be handled by pod_template_file?

[2020-10-01 22:31] dimberman commented on #8714
@bhavaniravi I'm going to close this as I believe this is handled by creating a `pod_template_file`, but please re-open if you feel this is not the case

[2020-10-01 22:31] #8714 closed

[2020-10-01 22:36] mik-laj commented on #8118
We have /version endpoint: https://airflow.readthedocs.io/en/latest/stable-rest-api-ref.html#operation/get_version

[2020-10-01 22:40] prakshalj0512 commented on #8118
Great. I was just looking at the list we have in this issue. Thanks for sharing that link...really helpful!

[2020-10-01 23:25] mik-laj commented on #11224
I do not fully understand the question. [XCOM](https://airflow.readthedocs.io/en/latest/concepts.html#xcoms) is used to pass the results of one task to the next.

[2020-10-02 00:01] mik-laj commented on #9708
Only big ones are left (Microsft, AWS and Google)  If someone wants to contribute to this ticket, it is worth hurrying.

[2020-10-02 00:06] mik-laj commented on #11193
You cannot run multiple processes if you are using SQLite. SQLite does not support multithreaded/multiprocess operations.

[2020-10-02 00:55] jmelot commented on #11040
Hello, could I please take this one?

[2020-10-02 02:35] pcandoalmeida commented on #11039
Hi @turbaszek 👋🏼 could I work on this? I think I'm almost done with the GCP account service key rule.

[2020-10-02 07:04] hweecat commented on #11038
First-time contributor here - I'd like to give this a shot if that's okay @turbaszek! :)

[2020-10-02 07:47] ivica-k commented on #11057
Hey @TKorr it seems to me that your problem is AWS IAM related at this point.

You have two roles, Assumer and Target (assumer assumes the target role). In this example, the Target role must have a Trust Relationship saying that the Assumer role is allowed to assume it.

Here's an example from my IAM console
![Screenshot 2020-10-02 at 09 40 59](https://user-images.githubusercontent.com/13262071/94

[2020-10-02 08:13] ryanyuan opened #11231 "docs: update BigQuery clustering field docstrings"
BigQuery supports clustering for both partitioned and non-partitioned tables.

Reference: [https://cloud.google.com/bigquery/docs/clustered-tables](https://cloud.google.com/bigquery/docs/clustered-tables)

[2020-10-02 08:29] rafalkozik commented on #10790
We have just introduced _ExternalTaskSensor_ into our pipeline and faced the same issue. When initially tested on our dev instance (~200 DAGs) it worked fine, after running it on our prod environment (~400 DAGs) it was always failing after reschedule.

After digging into the code, it looks that this is simply race condition in the scheduler.

We have _child_dag.parent_dag_completed_ task that wait

[2020-10-02 08:33] mik-laj commented on #11040
@jmelot I assigned you to this ticket.

[2020-10-02 08:34] mik-laj commented on #11039
@pcandoalmeida I assigned you to this ticket.

[2020-10-02 08:35] mik-laj commented on #11038
@hweecat  Welcome! I assigned you to this ticket 🐈

[2020-10-02 08:58] Iskz commented on #11203
@TobKed Well, I got a different error instead after using legacy SQL
'Querying tables partitioned on a field is not supported in Legacy SQL: ...'

[2020-10-02 09:21] jacobmhoffman commented on #11041
May I take this task?

[2020-10-02 09:56] TobKed commented on #11203
It may be problematic to use legacySQL with such features. Are you restricted to legacySQL?
If not you can migrate them to standardSQL and setting up `use_legacy_sql=False`.

https://cloud.google.com/bigquery/docs/reference/standard-sql/migrating-from-legacy-sql

[2020-10-02 09:57] SergioShz opened #11234 "task marked as failed when sys.exit(0)"
**Apache Airflow version**:
`apache-airflow (1.10.10)`

**Environment**:
`Docker version 19.03.12`

- **OS** (e.g. from /etc/os-release):

[code]

- **Kernel** (e.g. `uname -a`):

`4.19.76-linuxkit`

**What happened**:

I'm testing this small DAG (see below) consisting of a simple task using PythonOperator. I'd like to exit the call with a exit code 0 when everything went fine, however airflow see

[2020-10-02 12:25] kaxil commented on #11234
You don't need to explicitly call sys.exit(0) -- as Airflow will do it under the hood if the commands succeded.

You can do the other way around, i.e. do a sys.exit(1) when one of the criteria you are checking it against fails

[2020-10-02 13:09] SergioShz commented on #11234
Hi, thanks for the quick answer!

Yes, that's what I'm currently doing as fix
but what I'm trying to point out is that if the command succeeds is the same as having a return code of 0 and that it's exactly what sys.exit(0) does explicitly, and in this case I don't see why the task should be marked as failed.

[2020-10-02 13:16] baolsen opened #11236 "Enable CodeQL on Airflow repo"
**Description**

GitHub has recently released CodeQL for automatically scanning for security vulnerabilities.

https://securitylab.github.com/tools/codeql
https://www.techspot.com/news/86951-github-open-source-codeql-tool-looks-security-holes.html

**Use case / motivation**

Good to ensure Airflow is as secure as possible and that new features are security tested where possible

**Related Issues**

[2020-10-02 13:50] flvndh opened #11237 "Missing "git_subpath" config in Helm values"
I'm not sure if it's a bug or not as it is kind of [specific](https://github.com/apache/airflow/blob/87038ae42aff3ff81cba1111e418a1f411a0c7b1/airflow/kubernetes/worker_configuration.py#L195) but in `airflow/executors/kubernetes_executor.py` the `KubeConfig` class tries to get the [value ](https://github.com/apache/airflow/blob/87038ae42aff3ff81cba1111e418a1f411a0c7b1/airflow/executors/kubernetes_e

[2020-10-02 14:33] mik-laj commented on #8158
Related: https://github.com/apache/airflow/issues/10089

[2020-10-02 14:58] #10953 closed

[2020-10-02 15:59] sergioesca4 commented on #10183
Hello, @potiuk  I would like to work on this issue.

[2020-10-02 16:17] potiuk commented on #10183
Feel free :)

[2020-10-02 16:26] potiuk commented on #11236
There is already PR for that: #11211

[2020-10-02 16:58] dimberman commented on #10646
Hi @aimran-adroll @NoyMiranFyber Are you guys using the helm chart on master? We recently removed a lot of that code and I'd be interested if this is still a problem ([this PR](https://github.com/apache/airflow/commit/56bd9b7d6b494251fa728ff6a7eb06d6d7eeb2c8) is where we made the change)

[2020-10-02 17:20] jakepaw opened #11243 "Kubernetes Executor Node Selector"
**Apache Airflow version**: 1.10.12

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.17.3

**Environment**:

- **Cloud provider or hardware configuration**: On prem k8s cluster
- **OS** (e.g. from /etc/os-release): RHEL 7
- **Kernel** (e.g. `uname -a`):
- **Install tools**: helm install
- **Others**:

**What happened**:

I want to set a node selector for my worker p

[2020-10-02 18:15] RaviTezu commented on #11043
Thanks @turbaszek
I see there's a open PR on adding a new mesos executer here https://github.com/apache/airflow/pull/10977
Do you we will still need this rule ? I just want to check before starting on this. Thanks.

[2020-10-02 18:16] jakepaw commented on #11243
Never-mind. Followed this, which uses affinity.

[Affinity](https://github.com/apache/airflow/issues/9374)

[2020-10-02 19:27] mik-laj commented on #11237
Why do you want to use Chart from v1-10-test branch? The chart from [master](https://github.com/apache/airflow/tree/master/chart) is compatible with Airflow 1.10 and 2.0 and is being actively developed.

[2020-10-02 21:54] mik-laj commented on #11234
@SergioShz Airflow performs a few more operations after the execution of the operator's `execute` method, e.g. marks a task in the database as completed or executes or executes callbacks. If this code is not executed the task will always be marked as abnormal completion = failed.

[2020-10-02 23:04] jaketf commented on #11098
thank you I will have a PR next week.

[2020-10-02 23:13] jaketf opened #11246 "SparkSubmitHook Kerberos ccache support"
**Description**

It appears that [`SparkSubmitHook`](https://airflow.apache.org/docs/stable/_api/airflow/contrib/operators/spark_submit_operator/index.html)'s [implementation](https://github.com/apache/airflow/blob/master/airflow/providers/apache/spark/hooks/spark_submit.py) of kerberos support is orthogonal to the `airflow kerberos` support. It requires us to specify a keytab in the task which wi

[2020-10-02 23:14] #11243 closed

[2020-10-02 23:37] #9700 closed

[2020-10-03 07:56] kishvanchee commented on #11178
Can I work on this? Please correct me if I'm wrong, so each PR should be for one operator right?

I see there are many files to be edited. I hope I'm searching for the right files.

[code]

[2020-10-03 09:26] Noymiran commented on #10646
@dimberman  on master in files/pod-template-file.yaml this problematic piece of code still exists:
[code]
I'm facing the issue with using the default repo configurations and just turning on the git-sync as mentioned here.

[2020-10-03 09:30] #11076 closed

[2020-10-03 09:55] turbaszek commented on #11041
@jacobmhoffman I assigned you 🚀

[2020-10-03 10:28] kaxil commented on #10876
Was able to reproduce it on 1.10.12 but not on Master

[2020-10-03 10:43] potiuk commented on #10876
@wolfier - can you try with the backports providers (google one) ? The BigQuery operator has been heavily improved in 2.0 and it is available in  https://pypi.org/project/apache-airflow-backport-providers-google/ we have a stable version and rc candidate for new wave of backports packages

[2020-10-03 10:45] kaxil commented on #10876
@wolfier If you change the DAG as follows, it will work:

[code]

[2020-10-03 11:59] mik-laj commented on #11178
@kishvanchee  This should be done for all modules, so each PR can touch one or more modules. I think it's worth starting with preparing a list comparing the old path to the module and the new one.

[2020-10-03 12:00] mik-laj commented on #11178
Here is list:
   1 airflow/operators/dagrun_operator.py
   1 airflow/operators/dummy_operator.py
   1 airflow/operators/generic_transfer.py
   1 airflow/operators/latest_only_operator.py
   1 airflow/operators/subdag_operator.py
   1 airflow/sensors/base_sensor_operator.py
   1 airflow/sensors/date_time_sensor.py
   1 airflow/sensors/external_task_sensor.py
   1 airflow/sensors/smart_sensor_operat

[2020-10-03 12:40] kishvanchee commented on #11178
So if I understand this correctly, these should go from `airflow/operators/<operator>_operator.py` to `airflow/operators/<operator>.py` and `airflow/operators/<operator>_operator.py` would raise the deprecation error. Right? Similarly for sensors.

[2020-10-03 13:10] mik-laj commented on #11178
Yes.Yes. Hooks also need to be updated but forgot to add them to the list.

You need to additionally update the tests, because we build documentation and guides based on this.
https://github.com/apache/airflow/blob/master/tests/deprecated_classes.py
https://github.com/apache/airflow/blob/master/tests/test_core_to_contrib.py

[2020-10-03 13:11] #11236 closed

[2020-10-03 16:22] mik-laj commented on #11043
@RaviTezu Yes. Mesos may be added after the release Airflow 2.0, as we are now focusing on this release and prioritizing the tasks that are related to this release. Adding new features that are not in the roadmap is not essential now, so it may be a bit slower.  Additionally, few core contributors have experience with Mesos, so there is a chance that there will be a problem with the reviewer.  Tha

[2020-10-03 16:23] mik-laj commented on #11175
#11195 has been merged, so this issue is unblocked now.

CC: @ryanahamilton

[2020-10-03 17:08] mik-laj commented on #10624
I close due to inactivity of the original author after 72 hours.

[2020-10-03 17:08] #10624 closed

[2020-10-03 17:48] RaviTezu commented on #11043
Thanks for the reply @mik-laj 👍

[2020-10-04 04:30] mattluudo commented on #10186
Hi @potiuk, can I add some tips and tricks on connecting to Oracle Database through Airflow GUI using the "extra" parameters. This specifies how a user can connect with (dsn and sid and not service_name), (dsn and service_name and not sid), and only dsn.

[2020-10-04 06:39] potiuk commented on #10186
Sure

[2020-10-04 09:09] eladkal commented on #10911
@shakedzy Can you please explain the missing functionality further?

`BaseSensorOperator` inherits from `BaseOperator` thus you can use `on_failure_callback`.

[2020-10-04 09:14] shakedzy commented on #10911
@eladkal - as far as I've seen from my use, there's a difference between failure (meaning, task failed) and timeout (meaning, it didnt fail, it just takes too long)

[2020-10-04 10:15] eladkal commented on #10911
@shakedzy  when timeout happens it raises exception.
Consider following example:
[code]

![Screen Shot 2020-10-04 at 13 10 55](https://user-images.githubusercontent.com/45845474/95012676-2d72b600-0643-11eb-8af1-9bee1c3fa68a.png)

[2020-10-04 11:45] #11164 closed

[2020-10-04 18:50] shenoykarthikd opened #11266 "Change FAQ documentation for max_threads"
FAQ Documentation for max_threads currently reads as follows:

max_threads: Scheduler will spawn multiple threads in parallel to schedule dags. This is controlled by max_threads with default value of 2. User should increase this value to a larger value (e.g numbers of cpus where scheduler runs - 1) in production.

The example above creates confusion in the minds of new developers as it is incorrec

[2020-10-04 18:58] JeffryMAC commented on #11234
If you change
[code]

to:

[code]

wouldn't that solve the issue?

[2020-10-04 20:53] #10471 closed

[2020-10-05 00:04] mik-laj commented on #10014
RC1 packages have been released. Feel free to test and report problems.
https://lists.apache.org/thread.html/r4dfc18d2376601667efe7dfaf0bf1c07b840f9bcd9f6311d48cb3c64%40%3Cdev.airflow.apache.org%3E

[2020-10-05 02:24] Nishtha1994 opened #11269 "Incorrect Redirect in documentation"
This issues is related to a documentation issue in Contributing.rst. The static checks link is redirected wrongly to an error page.
Correction of this will help new users and Airflow enthusiasts to have a coherent and error free reading experience in the future.

[2020-10-05 06:26] mik-laj commented on #9383
Done. It works with ``apache-airflow-backport-providers-google==2020.10.5rc1``, but we need to manually configure the task handler. To do this, create the `~/airflow/config/log_config.py` file with the following content.
[code]
Details are available in the handler’s documentation - [https://airflow.readthedocs.io/en/latest/_api/airflow/providers/google/cloud/log/stackdriver_task_handler/index.html

[2020-10-05 06:26] #9383 closed

[2020-10-05 06:43] mik-laj opened #11273 "Deprecate airflow.providers.email package"
Hello,

This package was released in one series of packages and was then removed from Airflow (PR: https://github.com/apache/airflow/pull/10013). We need to deprecate with a warning, but unfortunately, we cannot do it now as the new module location does not exist in Airflow 1.10 yet (PR: https://github.com/apache/airflow/issues/11178).

I propose that we create a backport package when Airflow with

[2020-10-05 07:08] #11269 closed

[2020-10-05 07:51] mik-laj commented on #10596
@rajatsri28  Do you have experience with Google Cloud? This task is trivial from an Airflow perspective, but requires above-average knowledge of the Google Cloud platform. I don't want you to have a bad experience after contributing to this project.

[2020-10-05 07:55] mik-laj commented on #11225
I have no experience with SQS, but it sounds like a good solution.

[2020-10-05 08:05] #10792 closed

[2020-10-05 08:06] Iskz commented on #11203
Sorry for the late reply. The goal was to run a basic query to retrieve dataset from bq. Initially I have tried the bq_hook.get_pandas_df(). Hit some issues, but was resolved. I did want to look into other ways of getting the result instead of in a dataframe object.

[2020-10-05 08:13] rajatsri28 commented on #10596
Hi @mik-laj , Yes I have some experience with Google Cloud. At Twitter, we migrated from on-premise offering to provide Airflow on GKE (GCP) so I can somewhat relate to this issue as well.

[2020-10-05 08:21] mik-laj commented on #10596
@rajatsri28 Awesome! I assigned you to this ticket.

[2020-10-05 08:24] #8207 closed

[2020-10-05 09:08] emiliocolo commented on #11193
ok, i ll check this

[2020-10-05 09:15] emiliocolo opened #11275 "HiveServer2Hook: ERROR - Password should be set if and only if in LDAP or CUSTOM mode; Remove password or use one of those modes"
Apache Airflow
Version : 1.10.12

Using HiveServer2Hook with default connection ( assuming that auth_mechanism: PLAIN, but also set as extra to double make sure )

The password edit test is left empty, but from hook/ connections code and logs it seems that is not:

from airflow.hooks.base_hook import BaseHook
connection = BaseHook.get_connection('hiveserver2_hadoop_one_umlaut_default')
print(conne

[2020-10-05 12:56] sudarshan2906 commented on #11225
well `predefined_queues` is supported in celery version `5.0.0`. But airflow doesn't supports that version. I can't find any ticket created for that. Will this be upgraded in airflow `2.0.0`?

[2020-10-05 13:05] mik-laj commented on #11225
@auvipy can you share some details about Celery 5?  What is the status of?  Should we think about migration? why is it worth migrating?

[2020-10-05 13:06] nathadfield opened #11280 "BigQueryInsertJobOperator will fail if the DagID contains the '.' character"
**Apache Airflow version**: 1.10.*
**BackPort Packages version**: 2020.10.5rc1

**What happened**:

`BigQueryInsertJobOperator` tries to start a BigQuery job by specifying a job_id which is a combination of `dag_id`, `task_id`, `execution_date` and an additional `uniqueness_suffix`.

https://github.com/apache/airflow/blob/master/airflow/providers/google/cloud/operators/bigquery.py#L2072

However,

[2020-10-05 13:17] leoblanc opened #11281 "AttributeError: 'V1VolumeMount' object has no attribute 'attach_to_pod'"
**Apache Airflow version**:

apache/airflow:1.10.12-python3.6

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

EKS 1.17

**Environment**:

I'm using the official Airflow Helm Chart (https://github.com/helm/charts/tree/master/stable/airflow)

- **Cloud provider or hardware configuration**: AWS (EKS)

**What happened**:

PodOperator is not working when I use volumes. T

[2020-10-05 13:39] nathadfield opened #11282 "BigQuery hook in providers creates non-unique job_ids"
**Apache Airflow version**: 1.10.*
**Backport packages version**: 2020.10.5rc1

**What happened**:

Although good work has been done to improve the `BigQueryInsertJobOperator` by the assigning of a `job_id` based on a combination of `dag_id`, `task_id`, `execution_date` and an additional `uniqueness_suffix`, other operators that create BigQuery jobs - e.g. `GCSToBigQueryOperator ` - do not take ad

[2020-10-05 14:26] turbaszek commented on #11046
Closed via #11132

[2020-10-05 14:26] #11046 closed

[2020-10-05 14:29] yamrzou commented on #10792
@dimberman We are using this to add variables from the dagrun conf to labels, in order to use them to filter pods and logs.

It looks like:
[code]
I'm not familiar with `pod_template_file`, so I'm not sure if it would be possible.

[2020-10-05 14:42] bradleydamato commented on #11280
@nathadfield @potiuk what approach do we think should be taken here? Should we scrub the dag_id for the '.' char prior to submitting?

[2020-10-05 16:55] prakshalj0512 opened #11286 "Configs under `config` in values.yaml aren't applying to worker pods"
**Apache Airflow version**:

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
[code]

**Environment**:

- **Cloud provider or hardware configuration**: N/A
- **OS** (e.g. from /etc/os-release): minikube
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

The configs present under the `config:` section aren't applying to the worker po

[2020-10-05 16:57] saisiddhant12 commented on #11280
@nathadfield @potiuk
I would like to give it a shot, I can think introducing macro like ts_no_dash with a hyphen separation of each version should solve the problem, or
we can replace . to unixtimestamp will resolve it (if macro is not used)

[2020-10-05 16:58] potiuk commented on #11280
I think it we already do similar thing elsewhere in Airflow - we are replacing . with __dot__ I believe. It is in "views.py" - and it is mostly to prevent some subdag matching. I do not know BigQuery part well enough , but something like that might be a good idea:

[code]

It's really typical "escaping" thing :).

[2020-10-05 16:59] potiuk commented on #11282
cc: @turbaszek - WDYT ?

[2020-10-05 17:00] potiuk commented on #11282
And @nathadfield -> maybe you or someone from your team would like to fix it ? I am sure we can help with having out the details and review.

[2020-10-05 17:04] turbaszek commented on #11280
Or should we build the string and the use the following code with added `.`?
https://github.com/apache/airflow/blob/a33a91951b731f1a5496be08e47d503527382968/airflow/providers/google/cloud/operators/bigquery.py#L2071

[2020-10-05 17:04] nathadfield commented on #11282
@potiuk We're more than happy to give it a try but we've just got to find the time.

[2020-10-05 17:07] turbaszek commented on #11280
Btw. I'm not sure if using `.` in dag_id is the best idea. The dot is special for subdags if I'm not mistaken

[2020-10-05 17:10] saisiddhant12 commented on #11280
yes, it creates a sub-dag if we use . between parent & child, I agree with you @turbaszek ,
@nathadfield were you explaining something else as a bug ?

[2020-10-05 17:22] nathadfield commented on #11280
Well, perhaps this is something that I shouldn't have done early on, but we've specified a DAG version as part of the DagID using a '.'.  Not had any problems with this until now but then we don't use subdags.

I can change our DAG names quite easily to eliminate this but I would argue that it shouldn't be possible to create a DAG if the id contains a restricted set of characters.

Perhaps the dag

[2020-10-05 17:35] turbaszek commented on #11282
Is this a bug or request feature? I think previously all operators used a random job_id, right?

[2020-10-05 17:41] nathadfield commented on #11282
Not sure how you want to categorise it.  Yes, all the old operators use a random id.

This came about because I'm trying to use the new operators in existing production DAGs in preparation for Airflow v2 and this is an issue that is preventing me from doing so.

[2020-10-05 17:48] nathadfield commented on #11282
@turbaszek Extending the timestamp - perhaps to millisecond - would probably fix it but I feel it would be better overall if there was a consistent methodology for creating the job_id across all operators that create BigQuery jobs.

[2020-10-05 17:49] turbaszek commented on #11282
I agree but I have no capacity now and the backports are going to be released in next few days. @TobKed maybe you have some space?

[2020-10-05 17:51] nathadfield commented on #11282
I understand.  Its not critical for us right now as we'll just continue to use the current operators.  Perhaps this is something for the next round of backports then?

[2020-10-05 17:52] turbaszek commented on #11282
@nathadfield I can push a simple fix and then we can improve it... better done than perfect 😄

[2020-10-05 17:53] nathadfield commented on #11282
Totally agree!

[2020-10-05 17:59] turbaszek commented on #11282
@nathadfield #11287 I think this should do, WDYT?

[2020-10-05 18:31] rootcss commented on #11161
@mik-laj Shall I pick this one up?

[2020-10-05 20:52] nikste commented on #7907
Sorry, this somehow drowned in other messages.
So, I have a DAG and some specified input, and i expect a certain output. I want to run all operators end to end.

Currently I'm trying to write some unit test in python that will mock over the some configuration,
and then I also want to overwrite some input paramters in `dag_run.conf`.
This seems to be super cumbersome, since i did not find a way yet

[2020-10-05 23:09] dyi1 commented on #8160
@anirudhbagri Could you give me details as to what the root cause of your issue was and how you fixed it? I'm currently experiencing the same issue and I think it would help a lot.

[2020-10-06 03:00] atalimekhian opened #11289 "Payment d"
**Apache Airflow version**:

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know**:

[2020-10-06 03:30] srthok opened #11290 "Logout issues with Gihub Enterprise auth enabled"
**Apache Airflow version**:  1.10.9

**Environment**:

- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release):  Ubuntu 18.04.4 LTS
- **Kernel** (e.g. `uname -a`): Linux ip-x-x-x-x 5.4.0-1025-aws #25~18.04.1-Ubuntu SMP x86_64 GNU/Linux
- **Install tools**:  Flask-OAuthlib (0.9.6)
- **Others**:

**What happened**:
    After configuring GHE auth, Login is working as

[2020-10-06 04:31] rajeshkatkarnice opened #11291 "Airflow 1.10.12 : webserver gunicorn issue - Arguments to config option are malformed: python:airflow.www.gunicorn_config"
**Apache Airflow version**: 1.10.12

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): not applicable

**Environment**: AWS EC2

- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release):  Amazon Linux
- **Kernel** (e.g. `uname -a`): x86_64 x86_64 x86_64 GNU/Linux
- **Install tools**: docker
- **Others**:

**What happened**:

We are upgrad

[2020-10-06 07:40] turbaszek commented on #11050
Closed via #11279

[2020-10-06 07:40] #11050 closed

[2020-10-06 08:22] potiuk opened #11294 "Bugs/Improvement proposals filed to GitHub Actions"
**Description**

Github Actions is great for us (much better than Travis used to be) but they change so fast that some of the features are not perfect and some of them are missing. This issue is an "umbrella issue" storing references to Github Suppor requests/ticket filed to GitHub Team and links to future changes planned by GitHub Actions that solve our pain points.

- [ ]  Merge button becomes "

[2020-10-06 09:43] yene opened #11295 "Role Op has no permission "can dagrun failed""
Just noticed that the default Role Op has no Permission to "can dagrun failed", is this correct?

Version: Airflow 1.10.12

[2020-10-06 10:14] jatskin opened #11296 "MS SQL 2017 DB backend"
**Apache Airflow version**: 1.10.12

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.11

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

I try to use MS SQL 2017 database as backend. Airflow successfully initializes the data

[2020-10-06 10:16] mik-laj opened #11297 "Strict type hints for Amazon"
**Description**

The [`boto3`](https://boto3.amazonaws.com/v1/documentation/api/latest/index.html) used by Amazon provider generates new classes at runtime, so mypy is not aware of types.  Luckily, there is a package that has generated type annotations, but we have to install them separately - https://pypi.org/project/boto3-stubs/
It would be nice for us to check if this library meets our expectat

[2020-10-06 10:21] mik-laj commented on #11296
MSSQL is not supported. See: https://github.com/apache/airflow/issues/10713

[2020-10-06 10:21] #11296 closed

[2020-10-06 10:27] potiuk opened #11298 "Kubernetes - related backports needs some fixes for xcom cases"
The "cncf.kubernetes" still has problems when releasing backport packages.

Reported by @mik-laj in https://lists.apache.org/thread.html/rd7b8fa87ac8117812e9883b342876eaee6039ce8e421cab3e454406c%40%3Cdev.airflow.apache.org%3E:

**Apache Airflow version**:

Master Backport packages for "cncf.kubernetes" and "google"
Installed on top of 1.10.12

**What happened**:

The example_spark_kubernetes_spark

[2020-10-06 10:28] potiuk commented on #11298
cc: @dimberman @mik-laj @michalslowikowski00

[2020-10-06 10:29] potiuk commented on #11298
This is a pre-requisite to relese cncf.kubernetes and related GKE Pod operator.

[2020-10-06 10:31] potiuk opened #11299 "GKEPodOperator needs to be included back in Google Provider"
After "cncf.kubernetes" provider is released and working, we need to re-enable GKEPodOperator and release "google providers" package again.

As reported by @mik-laj in https://lists.apache.org/thread.html/rd477b17c60c57866e5de7b503b53383015f5b637136f37bd49ce7147%40%3Cdev.airflow.apache.org%3E

The kubernetes_engine.GKEStartPodOperator operator
is not included in the Google package and the kubernet

[2020-10-06 10:32] mik-laj commented on #11290
Non-RBAC is no longer supported and we plan to drop support for it in Airflow 2.0. Non-RBAC UI now only gets security fixes. I'm afraid no contributor is interested in fixing other bugs and adding new features. I recommend migrating to RBAC and then configuring OAuth2 again.
See:
https://github.com/apache/airflow/blob/master/UPDATING.md#drop-legacy-ui-in-favor-of-fab-rbac-ui
https://airflow.readth

[2020-10-06 10:36] mlgruby commented on #11297
Since you mentioned in last issue comment I had a look and it make sense to try it here.

I can have a look.

[2020-10-06 10:41] potiuk commented on #10014
The Voting passed. We are going to release everythiong except "cncf.kubernetes" and we are going to have a follow-up release of "google" and "cncf.kubernetes" providers after the #11298 and #11299 has been fixed. We are going also to have some follow-up release after we release 1.10.13 with #10822, #10823 and #11178. We are also likely to release Presto operator as well with added  Kerberos suppor

[2020-10-06 10:51] kaxil commented on #11297
Cool, thanks. Not super important, this can wait if you'd like to work on other Type hints first. Completely up to you :)

[2020-10-06 11:09] #10804 closed

[2020-10-06 11:11] mik-laj commented on #11289
Can I ask for more details? I am closing this issue for now.

[2020-10-06 11:11] #11289 closed

[2020-10-06 11:18] mik-laj commented on #11178
This is not critical, but it would be great if we could close this ticket before the release of the first alpha version of Airflow 2.0. There is an active contributor to do this, but it would be helpful to support with quick review.

CC: @kaxil

[2020-10-06 11:30] mik-laj opened #11301 "Celery 5.0"
Hello,,

The [new Celery 5.0](https://docs.celeryproject.org/en/stable/whatsnew-5.0.html) has been released and we may consider migrating to this version. I don't know if it has to happen now, if we should wait for version 5.1 or do it now. I am creating this ticket to track this topic.

To process this issue, we should consider the consequences of this update, update the CLI calls, update API cal

[2020-10-06 11:36] mik-laj commented on #11281
CC: @dimberman

[2020-10-06 12:33] turbaszek opened #11302 "Add job_id to DagRun table"
**Description**

Currently, we have `run_type` in the DagRun table but there's no way to determine what job created a DagRun (no 1-1 relation between DagRun and Job). This can be helpful in debugging (I think especially in the case of Scheduler HA and BackfillJobs) as this will also allow users to check which scheduler / backfill job triggered their task (now the job_id in TaskInstance is always i

[2020-10-06 12:34] turbaszek commented on #11302
@ashb @mik-laj I'm happy to hear what do you think

[2020-10-06 12:43] gwynevans opened #11303 "Possible false PendingDeprecationWarning due to identity test rather than equality test?"
**Apache Airflow version**:
1.10.12

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:
Ubuntu fresh install

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:
Running commands such as "airflow list_dags" results in a PendingDepreca

[2020-10-06 13:27] mik-laj opened #11305 "Authorization with Identity Aware Proxy"
# Why?

Users expect integration with various Identity Aware Proxies (IAP) that provide authorization.  The use of such proxies brings many benefits.
- **Management**: provide trustworthy integration with identity providers e..g. Google, LDAP, Kerberos, Keycloak, OAuth
-  **Audibility** write additional metadata about the operations performed by users
-  **Security** No need to keep secrets in a c

[2020-10-06 14:03] ashb commented on #11302
Do you have a case where it's interesting to know what job created the DagRun? (I ask because I can't think of one immediately)

Don't forget that in the case of trigger (via CLI or webserver) there is no job id to use.

I would probably suggest naming it `created_by_job_id` - it's a bit clearer what it stores then just `job_id`

[2020-10-06 14:30] ryanahamilton commented on #11218
Took an initial look at this. The problem is that the connections does not have similar [`hidden_field_formatter()` logic](https://github.com/astronomer/airflow/blob/master/airflow/www/views.py#L2632) implemented that is used for variables.

[2020-10-06 14:43] turbaszek commented on #11302
I have an operator that triggers backfill job and observes that process. If the "parent" task dies (SIGKILL) then there are zombie tasks (scheduled/none state) from backfill job that are not cleaned up by anything. But that's probably an egde case + we use custom implementation of BackfillJob (that's why I was able to fix it using `DagRun.conf` for storing job_id - a hack).

However, I think that

[2020-10-06 15:45] YashxRaj commented on #10656
@MahsaSeifikar Thank you bringing this up. I'm running into the same issue. Have you had a chance since to fix the validate?

[2020-10-06 15:45] chris-french commented on #11225
@sudarshan2906 @mik-laj  -- did you find a solution for this?

It seems like you would need to make a small change to [`setup.py`](https://github.com/apache/airflow/blob/c803a27e44da071b5a2c7fc2ce2a7951501753c1/setup.py#L203) to install sqs support for celery in Airflow:

[code]

source: https://docs.celeryproject.org/en/4.4.2/getting-started/brokers/sqs.html?highlight=sqs

[2020-10-06 16:09] sudarshan2906 commented on #11225
@chris-french Yup, I got it working using celery version to be 4.4.2. But the predefined_queues property was not supported by airflow as its a dict format. I used a celery_config file and changed the celery_config location in `airflow.cfg`

celery_config.py
[code]

[2020-10-06 16:09] afonit opened #11309 "FileNotFoundError: [Errno 2] No such file or directory: 'airflow': 'airflow'"
airflow 1.10.12
ubuntu

I am puzzled by this error and am trying to determine what file/directory of 'airflow' is not being seen.  I initially started off trying to build out papermill dag's when I noticed I was getting this issue, so I have reduced it down to use all the basics found in the documentation to try and find what is wrong.

I have used most of the defaults.
* home directory has a fold

[2020-10-06 16:19] dimberman commented on #11281
Hi @leoblanc,

In the the airflow [KubernetesPodOperator docs](https://airflow.apache.org/docs/stable/_api/airflow/contrib/operators/kubernetes_pod_operator/index.html?highlight=kubernetespodoperator#airflow.contrib.operators.kubernetes_pod_operator.KubernetesPodOperator), we note that the KubernetesPodOperator takes an `airflow.kubernetes.volume.Volume` type. This will go away in Airflow 2.0, so

[2020-10-06 16:19] #11281 closed

[2020-10-06 16:23] leoblanc commented on #11281
Thanks for your feedback, I'll try to use one of your suggestions. Cheers.

[2020-10-06 17:10] potiuk commented on #10014
Backport released.

[2020-10-06 17:10] #10014 closed

[2020-10-06 17:14] potiuk commented on #10187
Any progress @morme ?

[2020-10-06 17:15] potiuk commented on #10183
Done !

[2020-10-06 17:15] #10183 closed

[2020-10-06 17:42] potiuk commented on #10179
I reviewed it and decided to move it to CONTRIBUTING.rst as is it is an important
documentation on what policies we have agreed to as community and
also it is a great resource for the contributor to learn what are
the committer's responsibilities.

[2020-10-06 17:44] potiuk commented on #10186
Hey @mattluudo @sergioesca4! Can I help somehow with those ?

[2020-10-06 18:02] sergioesca4 commented on #10186
@mattluudo you can add them here and I will add them to the [PR I have open for this issue ](https://github.com/apache/airflow/pull/11197)

[2020-10-06 18:13] mattluudo commented on #10186
@sergioesca4 @potiuk I will move [my PR](https://github.com/apache/airflow/pull/11270) changes to the one you provided above

[2020-10-06 18:25] rootcss commented on #11161
@kaxil Shall I pick this one up or do we need to analyze this first?

[2020-10-06 18:26] norwoodj commented on #7935
If it helps, the last time this happened, with debug logging on, the scheduler logs this:
[ending.log](https://github.com/apache/airflow/files/5335904/ending.log) before freezing forever and never heartbeating again

[2020-10-06 18:30] xrmx commented on #8937
Looking at the zenpy code it looks like that every endpoint is wrapped in a class, see https://github.com/facetoe/zenpy/blob/master/zenpy/__init__.py#L97. Can't see a sane way to map the plain path to a class to keep backwards compatibility. Said that we can leverage the `BaseApi` class in https://github.com/facetoe/zenpy/blob/master/zenpy/lib/api.py to get ratelimit handling for free. Do you have

[2020-10-06 18:35] kishvanchee commented on #11178
@mik-laj Any suggestions for renaming `airflow/operators/generic_transfer.py` ? Does `branch_operator.py` require a change too?

[2020-10-06 18:57] potiuk commented on #11294
Another one - likely temporary - our queue of builds got stuck over the last 2-3 hours.

HIgh priority ticket opened: https://support.github.com/ticket/personal/0/860491

[2020-10-06 19:09] anirudhbagri commented on #8160
For me, the error was because of wrong input. The API was expecting a list of string but I was sending only a single string.
One strange thing to keep a look on is that if you are passing a template which collects result from some other operator like this then it didnt work for me
[code]
Instead this one worked:

[code]

[2020-10-06 19:21] mattluudo commented on #10186
@sergioesca4 [PR ](https://github.com/apache/airflow/pull/11197) submitted to your branch

[2020-10-06 21:11] mlgruby commented on #11297
Yup, just gonna do some checks and then switch to other type hints 🙂

[2020-10-07 00:05] dinesh-procore commented on #9975
I am running into the exact same issue.

[2020-10-07 03:33] #10181 closed

[2020-10-07 06:57] kvenkat88 commented on #8605
Hi @potiuk ,

In this link(https://hub.docker.com/r/apache/airflow/dockerfile), there is no production level dockerfile is there.  Yesterday saw the production version.

I am finding difficulty understanding the production level image creation(mainly customizing the image),

I am following the below two mentioned links for reference,

https://airflow.readthedocs.io/en/latest/production-deployment.

[2020-10-07 08:08] #11280 closed

[2020-10-07 08:39] FHoffmannCode opened #11323 "Return files destination uris in all ToGCS operators"
**Description**

Currently some storage operators return files destination uris list for example `GoogleSheetsToGCSOperator`. It would be a good idea to make all of such operators to return this list.

**Use case / motivation**

1. Having list of destination uris for files transferred with operator is useful for debugging and troubleshooting
2. Inconsistent operator behaviour might be confusing fo

[2020-10-07 08:55] michalmisiewicz opened #11324 "KubernetesPodOperator stops tailing logs in long living task"
KubernetesPodOperator stops tailing logs after 4 hours in long living task. When log tailing is interrupted, task log is flooded by `Event: pod had an event of type Running` messages. Messages are generated every 2 seconds.
Log tail interruption occurs every time after 4 hours. Interruption can be related to timeout on AKS control plane. Nevertheless, KubernetesPodOperator should continue to tail

[2020-10-07 09:26] potiuk commented on #8605
I see it there (even in incognito mode). Must have been a temporary glitch of DockerHub.

As mentioned in the docs above, if you want to customize the image you need to checkout airflow sources and run the docker command inside the Airfllow sources. As it is in case of most Dockerfiles, they need context ("." in the command) and some extra files (for example entrypoint scripts) that have to be ava

[2020-10-07 09:56] potiuk commented on #11302
After a discussion with @turbaszek - I think it's super useful to have this information as it allows us to do investigations on the reasons for problems and we can add more information - like we will know which scheduler created a DagRun.  I would love to get it added even for 2.0 after merging the HA change.

[2020-10-07 10:47] kaxil commented on #9498
Docs have been added about Import Mechanism: https://github.com/apache/airflow/pull/10303

https://airflow.readthedocs.io/en/latest/modules_management.html

[2020-10-07 11:34] kishvanchee commented on #9145
Is this taken? Can I work on this?

I feel the `SlackAPIFileOperator` https://github.com/apache/airflow/blob/fe59f2622337616fe1902bb6d7e1bce6f002ffa8/airflow/providers/slack/operators/slack.py#L159 might be used here?

[2020-10-07 11:55] tooptoop4 commented on #10331
i get same warning on 1.10.12

[2020-10-07 12:26] michalslowikowski00 commented on #11298
I'll take care of it. You can subscribe me to this issue.

[2020-10-07 12:54] turbaszek opened #11328 "Nuclear cloud when accessing task details that has no dag runs"
**Apache Airflow version**:
1.1010, 1.10.12 and probably previous ones. On master it doesn't occur.

**Environment**:

Tested with breeze and 1.1010 and 1.10.12 versions.

**What happened**:

[code]

**What you expected to happen**:

There's no error.

**How to reproduce it**:

Follow those steps
[code]
go to the webserver address (`https://0.0.0.0:28080/` in case o breeze).
Click any DAG from the

[2020-10-07 13:25] JeffryMAC commented on #9145
@kishvanchee it's not taken you can work on this.
storing in tmp is what many transfer operators do
examples:
https://github.com/apache/airflow/blob/master/airflow/providers/google/cloud/transfers/gcs_to_sftp.py#L164
https://github.com/apache/airflow/blob/master/airflow/providers/google/cloud/transfers/sql_to_gcs.py#L184

[2020-10-07 15:11] FelixKJose commented on #11218
@ryanahamilton @ryanahamilton Is this something may get addressed on 2.0 version or is it too late?

[2020-10-07 15:31] GuillaumeDubois1 opened #11329 "Task instances unavailable whith dynamic executions"
**Apache Airflow version**: 1.10.12

**Kubernetes version**: v1.17.6

**Environment**:

- **OS**: CentOS 7

**Context**

I am dynamically launching KubernetesPodOperators within a subdag :

![image](https://user-images.githubusercontent.com/69032583/95350773-d37f2400-08c0-11eb-9e87-7ebcc0e0be60.png)

Plus, the number n of tasks (gps_statistics_0 .... gps_statistics_n) varies with each execution da

[2020-10-07 16:08] grayver opened #11331 "Long-running task blocks other tasks with LocalExecutor"
**Apache Airflow version**: 1.10.12

**Environment**:

- **Cloud provider or hardware configuration**: Amazon EC2 instance, 4 CPU cores, 8GB RAM
- **OS** (e.g. from /etc/os-release): Ubuntu 18.04.5 LTS (Bionic Beaver)
- **Kernel** (e.g. `uname -a`): Linux ip-XX-XX-XX-XX.ec2.internal 5.4.0-1025-aws #25~18.04.1-Ubuntu SMP Fri Sep 11 12:03:04 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
- **Install tools*

[2020-10-07 16:49] turbaszek commented on #11302
Additionally, this may help us with making backfill runnable remotely.

## The problem

Run:
[code]
this will result in "zombie" DagRun and related task instance that will not be cleaned up by the scheduler (at least that's my understanding). Example:
<img width="2188" alt="Screenshot 2020-10-07 at 18 34 47" src="https://user-images.githubusercontent.com/9528307/95360543-ce73a200-08cb-11eb-8116-55

[2020-10-07 17:21] dimberman commented on #11093
@jaketf That's great idea! Feel free to ping me when you have a PR

[2020-10-07 17:24] dimberman commented on #10836
@maganaluis assigned!

[2020-10-07 17:26] dimberman commented on #10791
Hi @agonen, would you like to write this feature in? Would be glad to help you through the development/PR process :)

[2020-10-07 17:28] dimberman commented on #10791
Also worth noting that this PR will ensure that all real pod logs will show up in the airflow UI if you set that flag https://github.com/apache/airflow/pull/11325

[2020-10-07 17:29] ashb commented on #11302
Got it, that makes sense.

There's code in the scheduler ha branch they will kill timed out/not heartbeating SchedulerJobs - that could be extended to Backfill job too.

I'm not sure what change would be needed to detect zombie tasks from backfilled jobs, but it's a good goal I agree.

[2020-10-07 17:33] turbaszek commented on #11331
Have you tried increasing `parallelism` or setting it to 0?

On the other note, have you considered using CeleryExecutor? Then you can have separate queues for long and short running tasks.

[2020-10-07 17:36] turbaszek commented on #11302
I will try to tackle it once #9630 is merged

[2020-10-07 17:44] potiuk commented on #11093
Ahh. It's already added in #11108 . I missed that one in Airflow to close :)

[2020-10-07 17:44] #11093 closed

[2020-10-07 18:18] kaxil commented on #11302
+1

[2020-10-07 19:14] #10179 closed

[2020-10-07 19:33] JeffryMAC opened #11334 "Add dark mode to Airflow UI"
**Description**

I think by now everyone knows the benefit of dark mode.
It would be great if Airflow will offer this open in the UI
I believe it should be setting per user that can be controlled from the user profile.

[2020-10-07 20:08] wolfrubin commented on #11301
On this subject. I've been setting up airflow for the first time and I was trying to run the celery worker using `airflow worker` with Celery 5.0 and have ran into issues that I resolved by downgrading my installed Celery version to 4.4.7. I am running airflow 1.10.12.

As far as I can tell it's to do with the Celery migration to use click for their cli instead of their custom one. I can try and f

[2020-10-07 20:09] grayver commented on #11331
I've just tried setting `parallelism` to 0 - it doesn't help.
No, I haven't considered CeleryExecutor. We don't have many DAGs and I thought that resources of single machine should be enough for that.

[2020-10-07 20:10] kishvanchee commented on #9145
Should I be using `SlackHook` only for file uploads while at the moment the operator is using `SlackWebhookHook` ?

Docstring for SlackWebhookHook says

        dictionaries representing Slack attachments.
    :type attachments: list

This is confusing to me since I can attach list of dictionaries, but not file objects.

While for SlackHook I can find a suitable call method which actually does the

[2020-10-07 20:16] turbaszek commented on #11331
How many DAGs/tasks do you have? Would you be able to provide a replicable setup using `BashOperators` that sleep for as long as your long-running tasks?

[2020-10-07 20:23] turbaszek commented on #11301
@wolfrubin that would be helpful!

[2020-10-07 20:44] wolfrubin commented on #11301
@turbaszek you've beaten me to it. The second one was the stack trace I was getting before downgrading to 4.4.7.

[2020-10-07 21:44] mik-laj commented on #11328
See: https://github.com/apache/airflow/pull/8389

[2020-10-07 21:49] turbaszek commented on #11328
Thanks @mik-laj, I'm just wondering if we want to cherry-pick this to 1.10 as it's simple and may help in some cases

[2020-10-07 21:54] mik-laj commented on #11286
Overall, logger setup is one of the nightmares faced by people who want to start using Airflow. We have deffects in documentation, and debugging is also painful.
I wanted to correct these situations  I added a new field to the airflow info command.
https://github.com/apache/airflow/pull/10771
This command will check which task handler you currently have. This is only available for Airflow 2.0, so

[2020-10-07 21:56] mik-laj commented on #11328
@turbaszek
![image](https://user-images.githubusercontent.com/12058428/95392222-ac444900-08f8-11eb-81f8-3025cb33bb60.png)

[2020-10-07 22:25] mik-laj commented on #11302
+1 from my side.

[2020-10-07 22:29] mik-laj commented on #11218
@FelixKJose Feel free to submit a PR. It will be a long time before we release the final version 2.0.

[2020-10-07 22:52] mik-laj commented on #7935
https://github.com/apache/airflow/pull/11306
This change improves scheduling process management a little and may help us. Could you check it?

[2020-10-07 23:00] wolfier opened #11341 "Missing timer metric dag.loading-duration.<dag_file> in documentation"
**Apache Airflow version**: doc on version 1.10.6+

In [1.10.5 metrics documentation](http://airflow.apache.org/docs/1.10.5/metrics.html), there is an entry for `dag.loading-duration.<dag_id>`.

In [1.10.6 metrics documentation](http://airflow.apache.org/docs/1.10.6/metrics.html), the entry disappeared.

The format has also change from `dag.loading-duration.<dag_file>` to `dag.loading-duration.<da

[2020-10-07 23:00] mik-laj commented on #11161
It's not that easy to implement if we want multiple schedulers. Also, it means that if the webserver doesn't work, we won't be able to check the status of any component. I think we should try to find a better alternative.

[2020-10-08 03:04] sadielbartholomew commented on #10260
Hi, I have a lot of experience with developing Sphinx for documentation, so I think I can resolve this Issue if it is still available. Would you be happy to assign me, and accept my contribution as a Hacktoberfest PR should I manage to put in a PR that closes it? Thanks.

[2020-10-08 09:01] Alien2150 commented on #11161
@mik-laj Maybe having metrics - endpoints on each component? In that way each component can be checked and restarted individually on Kubernetes.

[2020-10-08 09:10] Javier162380 opened #11345 "Fix Sync Logs from S3 in Airflow 1.10.12 with the Kubernetes Executor"
**Apache Airflow version**:

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know**:

[2020-10-08 10:39] kaxil commented on #11341
Thanks, will check

[2020-10-08 11:04] kaxil commented on #11341
So the issue was although the docs were updated in 1.10.6 the code wasn't. But the metric `dag.loading-duration.<dag_id>` was emitted (also in Airflow 1.10.12)

From Airflow 1.10.13 this metric will be changed to `dag_processing.loading-duration.<dag_file>`

dag_processing.last_duration.<dag_file> |  
-- | --

[2020-10-08 11:08] kaxil commented on #11328
https://github.com/apache/airflow/pull/11343 -- merged

[2020-10-08 11:08] #11328 closed

[2020-10-08 11:16] grayver opened #11347 "Branching doesn't work as expected"
**Apache Airflow version**: 1.10.12

**Environment**:

- **Cloud provider or hardware configuration**: Amazon EC2 instance, 4 CPU cores, 8GB RAM
- **OS** (e.g. from /etc/os-release): Ubuntu 18.04.5 LTS (Bionic Beaver)
- **Kernel** (e.g. `uname -a`): Linux ip-XX-XX-XX-XX.ec2.internal 5.4.0-1025-aws #25~18.04.1-Ubuntu SMP Fri Sep 11 12:03:04 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
- **Install tools*

[2020-10-08 11:40] rootcss commented on #11161
What about sending statsd metrics as one of the ways? We can setup alerts on top of collected metrics. I think this one, we should add anyway, since we already have statsd integrated for several things. (in my company, we already use this method to monitor everything related to airflow)

[2020-10-08 12:02] Alien2150 commented on #11161
@rootcss But it's metrics not health checks? Seeing at least 2 problematic things:

1. With your proposed way I would need to map back metrics to health (Just imagine what would happen if the metrics service is not available. Is it then metrics or airflow being down?
2. Also statsd sounds technology-bound solution while http is a very agnostic way?

[2020-10-08 12:22] potiuk commented on #10260
Assigned . Looking forward to having this  @sadielbartholomew !

[2020-10-08 12:24] grayver commented on #11331
We have 13 DAGs, each has ~5 tasks (so, ~70 tasks total). Most of those DAGs run hourly (with some time offset). In most cases DAG just checks for new files to grab and does nothing if no new files found. When DAG discovers new unprocessed file, it grabs it, parses it, load parsed data into database and call process function there. In that case it could take some time (up to few hours).

I've prep

[2020-10-08 12:24] rootcss commented on #11161
Totally agree @Alien2150, Statsd is not the best solution for health check but it's good to have since it's being used in other airflow modules. For a full proof health check, we'll need further discussion on it.

[2020-10-08 12:27] Alien2150 commented on #11161
Meanwhile I think a temporary solution could be to run a simple sidecar that map's back the http results to a Kubernetes Probe. Are you folks managing the helm chart as well?

[2020-10-08 12:55] mik-laj commented on #11161
Running an HTTP server on every component to provide metrics sounds like a much better solution to me.  Do we want to continue using a custom JSON view? If we want other tools to be able to integrate with it, and it wasn't just used in the Web UI. I think it is worth thinking about using a common standard e.g. JMX, HTTP.

[2020-10-08 13:05] kaxil commented on #11161
We should look at integrating Prometheus natively in Airflow for metrics -- I remember creating an Issue (not sure if it was Jira or GH)

[2020-10-08 13:09] mik-laj commented on #11161
We should find out what Celery's plans are for deeper integration with Kubernetes. It may coincide with our needs.

[2020-10-08 13:33] Alien2150 commented on #11161
@kaxil That would be awesome. Right now the only way doing that is to use the Exporter: https://pypi.org/project/airflow-prometheus-exporter/

[2020-10-08 13:40] BigDataBrasil opened #11349 "Ooops error running any DAG"
Hey guys,

I´m trying to run a DAG but it´s showing the following error. It was working for months until yesterday. Does anyone know what might be happening? I´m sending the logs below.

I´m running Airflow in Docker with Kubernetes.

Kubectl version:

Client Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.2", GitCommit:"f6278300bebbb750328ac16ee6dd3aa7d3549568", GitTreeState:"clean

[2020-10-08 13:50] ameyk-2409 commented on #11305
@mik-laj I am interested to work on this.

[2020-10-08 13:55] mik-laj commented on #11305
@ameyk-2409  Which task do you want to focus on? We have a few tasks to do.

[2020-10-08 14:08] ameyk-2409 commented on #11305
@mik-laj By task do you mean the ones listed under Status section above? If yes, I am interested in implementing authorization for API part. Can be any of the implementations mentioned the description.

[2020-10-08 14:36] sadielbartholomew commented on #10260
Thank you! I expect I can have the PR up by the middle of next week at the latest, hopefully sooner depending on how much spare time I get to work on some Hacktoberfest contributions. In the case it takes longer than that I will keep you updated.

[2020-10-08 14:38] mik-laj commented on #11305
@ameyk-2409 Fantastic. I assigned you to "API supports Promerium". 🐈

[2020-10-08 15:00] michalslowikowski00 commented on #10628
Merged.

[2020-10-08 15:00] #10628 closed

[2020-10-08 15:50] leoblanc commented on #10037
Hi, I'm hitting the same bug. It seems like the docker image for 1.10.13 wasn't created yet, right? (https://hub.docker.com/r/apache/airflow/tags)

[2020-10-08 16:03] tooptoop4 opened #11354 ""trying to overwrite a task will raise an exception""
v1.10.9 was fine

i upgraded to v 1.10.12 and started getting below error after running get_state or clear on the cli:

/home/ec2-user/venv/lib/python3.7/site-packages/airflow/models/dag.py:1350: PendingDeprecationWarning: The requested task could not be added to the DAG because a task with task_id COMPLETE is already in the DAG. Starting in Airflow 2.0, trying to overwrite a task will raise an ex

[2020-10-08 16:04] kaxil commented on #11354
Can you post your DAG for us to reproduce please

[2020-10-08 16:27] tooptoop4 commented on #11354
can't share but they are dynamic dag generators (a single .py creates 5 different dagids, then another .py creates 3 different dagids) , makes use of globals()[dag_id].

[2020-10-08 16:39] kaxil commented on #11354
I mean can you create a dummy DAG that you can share

[2020-10-08 16:54] tooptoop4 commented on #11354
similar to https://bigdata-etl.com/apache-airflow-create-dynamic-dag/

[2020-10-08 17:59] evilrussian opened #11357 "Defining sentry event custom tag in airflow.cfg"
**Description**

Requiring for defining sentry event custom tag in airflow.cfg

**Use case / motivation**

Hi
If we have 1 project in sentry for airflow and i we 3 sites with airflow (dev,stage,prod) we need to be able to set the custom tag in the airflow config in the sentry section for sentry to be able to distinguish where the event came from

For example:
[code]
Now we have only this tags: htt

[2020-10-08 18:35] RosterIn commented on #8937
@xrmx Since the old package isn't maintained and can't have new functionality I think this change is required even if breaking change. Also Airflow soon change major version which is great because it will be able to introduce breaking changes.
I think better to hear from the project owners @potiuk @kaxil @mik-laj

[2020-10-08 18:39] RosterIn commented on #8458
Interesting not sure what happens next that more for the project guys to decide. Maybe something should go on the mailing list?

[2020-10-08 21:00] kaxil commented on #8937
Yes I agree, let's use zenpy since zdesk seems to be abandoned.

[2020-10-08 21:06] teastburn commented on #11266
`User should increase this value to a larger value that fits the size of the installed hardware in production.` doesn't seem to guide the user on what `fit` and `size` mean. CPU? RAM? It should be as specific as possible in my opinion.

[2020-10-08 21:06] kumarprabhu1988 commented on #10149
@xuhongtao0101 were you able to resolve the error? I see the same error when using SSHOperator.

[2020-10-08 21:16] teastburn commented on #7935
We also are experiencing a similar issue at Nextdoor with 1.10.12 / Postgres / Celery / AWS ECS. Ours looks much like @sylr 's post https://github.com/apache/airflow/issues/7935#issuecomment-667343505 where we have many extra processes spawned that by program args appear identical to the scheduler main process and everything is stuck. However, ours has CPU go to 0 and RAM spike up quite high.

[2020-10-08 21:22] kaxil commented on #10656
I have created a PR: https://github.com/apache/airflow/pull/11361

[2020-10-08 21:23] kaxil commented on #11347
This will be fixed in 1.10.13

[2020-10-08 21:24] kaxil commented on #11347
duplicate of https://github.com/apache/airflow/issues/10725

[2020-10-08 22:13] morrme commented on #10187
I'm so sorry @potiuk I have been slammed and totally dropped the ball on this 💔

[2020-10-08 22:25] teastburn opened #11365 "Scheduler out of memory / stuck"
Thanks in advance for your help and work on Airflow. ❤️

**Apache Airflow version**: 1.10.12

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): Celery

**Environment**:

- **Cloud provider or hardware configuration**: AWS ECS
- **OS** (e.g. from /etc/os-release): Ubuntu 18.04
- **Kernel** (e.g. `uname -a`): 4.15.0
- **DB**: Postgres (AWS RDS)
- **Scheduler settings**:
m

[2020-10-08 23:57] sreev opened #11366 "missing logs from the included libraries"
logs are missing printing to console/file from py packages using 'logging'.

airflow version 1.10.12 and latest from main branch. tried with these two versions separately.
os: local macos catalina & linux (containers from bitnami images). tried on these two separately.

[code]

here is architecture:
airflow (LoggingMixin) -> NEW_DAG (airflow.models.DAG, LoggingMixin) -> a library (logging) -> anot

[2020-10-09 00:16] sreev commented on #11366
Conversation before creating the git issue:
https://apache-airflow.slack.com/archives/CCQ7EGB1P/p1602027042396900

[2020-10-09 00:40] thesuperzapper opened #11367 "Helm chart MySQL support"
We should aim to support external MySQL databases in the [Offical Airflow Helm Chart](https://github.com/apache/airflow/tree/master/chart).

The existing [stable/airflow](https://github.com/helm/charts/tree/master/stable/airflow) chart supports MySQL, so should try to aswell (if we want people to move).

The only significant issue I see is that we are using `pgbouncer`, which will need to either b

[2020-10-09 00:40] thesuperzapper commented on #11367
Similar to: #9627

[2020-10-09 03:58] dimberman commented on #10861
@Javier162380 would you like to take on this ticket?

[2020-10-09 04:17] dimberman commented on #10861
@Javier162380 I'm not quite sure what you mean that you never see the event logs? I just ran one of the unit tests with a failing pod and I see the following logs:

[code]

Would you expect something different?

[2020-10-09 04:47] dimberman commented on #10777
@a-poptsov would this fix this issue? https://github.com/apache/airflow/pull/11369

[2020-10-09 05:33] QuinRiva opened #11370 "MSSQLToGCSOperator fails: datetime is not JSON Serializable"
**Apache Airflow version**: 1.10.12

**Environment**:  Centos 7 Host

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): Ubuntu 20.04 Docker Container
- **Kernel** (e.g. `uname -a`): Linux c6c6e8230c17 3.10.0-1127.18.2.el7.x86_64 #1 SMP Sun Jul 26 15:27:06 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
- **Install tools**: Docker Compose
- **Others** ?

**What happened*

[2020-10-09 06:08] lens7 opened #11371 "GCP Composer/Airflow Scheduler appears doesn't appears to be running, last heart beat was received X days ago. *ERROR*"
I am working on Google Cloud and now particularly on Google Composer, which is under hood Apache Airflow, but the instance we create works for sometime and then we get this scheduler error, and hence nothing is moving forward on any Dag or any flow.
Please help fix this issue on GCP particularly.
![Screenshot (101)](https://user-images.githubusercontent.com/43311132/95548978-e0685880-0a23-11eb-87e

[2020-10-09 07:35] #10656 closed

[2020-10-09 07:52] RosterIn commented on #8292
@potiuk are you working on this or it's open for anyone to pick?

[2020-10-09 07:54] potiuk commented on #8292
Free to pick. I have forgotten about this one completely

[2020-10-09 07:56] mik-laj commented on #11367
We have one ticket, so I'm closing this one for now.

[2020-10-09 07:56] #11367 closed

[2020-10-09 07:57] mik-laj commented on #9627
@thesuperzapper  Wouldn't you like to contribute MySQL support?

[2020-10-09 08:00] potiuk commented on #10187
No no - I moved the commiter's guide :). Feel free to work on contributor's one :)

[2020-10-09 08:01] potiuk commented on #10187
No big hurry with that - I just updated docs relevant to committer's and that's why I moved those as it was relevant :)

[2020-10-09 08:02] potiuk commented on #9627
Yeah. Woudl be great !

[2020-10-09 11:16] mik-laj commented on #9708
There are still 2 providers left, but we are making progress. Anyone wanna help?
[code]

[2020-10-09 14:40] chinnusujitha opened #11376 "Using rest api, we are not able to get the dag state using run_id."
**Description**

**Use case / motivation**

**Related Issues**

[2020-10-09 15:38] djrut opened #11377 ""run id already exists" error when attempting to schedule multiple dag runs per second"
**Apache Airflow version**: 1.10.9+composer
**Kubernetes version**: 1.16.13-gke.401

**Environment**:

- **Cloud provider or hardware configuration**: Google Cloud Composer
- **OS** (e.g. from /etc/os-release):

[code]

- **Kernel**: ```Linux airflow-worker-7d8654b878-5kxxr 4.19.112+ #1 SMP Fri Sep 4 12:00:04 PDT 2020 x86_64 x86_64 x86_64 GNU/Linux```
- **Install tools**: gcloud
- **Others**:

**W

[2020-10-09 16:00] #10777 closed

[2020-10-09 16:06] FelixKJose opened #11378 "Vault kv_engine_version 1 configuration is not working in Airflow"
Hello,
My Vault is on **kv_engine_version is 1**. So I tried to configure that as follows in airflow.cfg:

`backend_kwargs = {"url": "https://vproxy.us-east.**************.com", "kv_engine_version": 1, "auth_type": "approle", "role_id": "d48b422d-f2cb-****-7781-206104fa7367", "secret_id": "ac48613e-*****-8638-125a-dce1e60aa115", "mount_point": "cf/243d677f-dbe3-****-babc-970ce67ebf3b/secret"}`

Bu

[2020-10-09 16:08] Siddharthk opened #11379 "Temporary failure in name resolution while running tasks using KubernetesExecutor"
Apache Airflow version: airflow:1.10.10.1-alpha2-python3.6

Kubernetes version (if you are using kubernetes) (use kubectl version): 1.16.8

Environment:

Cloud provider or hardware configuration: AWS EKS
OS (e.g. from /etc/os-release): Redhat
Install tools: Official Helm Chart

What happened:
Tasks are throwing below error:

Traceback (most recent call last):
  File "/home/airflow/.local/bin/airfl

[2020-10-09 16:09] Siddharthk opened #11380 "Temporary failure in name resolution while triggering dags using KubernetesExecutor"
Apache Airflow version: airflow:1.10.10.1-alpha2-python3.6

Kubernetes version (if you are using kubernetes) (use kubectl version): 1.16.8

Environment:

Cloud provider or hardware configuration: AWS EKS
OS (e.g. from /etc/os-release): Redhat
Install tools: Official Helm Chart

What happened:
Tasks are throwing below error:
[code]
When I clear the tasks and run again, it works. The logs do not giv

[2020-10-09 16:11] #11380 closed

[2020-10-09 17:11] JeffryMAC commented on #9145
worth asking @simond as the author of the original PR and @feluelle @turbaszek who approved it.

[2020-10-09 18:13] simond commented on #9145
Oof, I can't really remember the reason I used the `SlackWebHook` over `SlackHook` unfortunately. I think it was because it is simpler to use for basic messages. Now that you want to add an attachment too then yea, you may have to move to the SlackHook instead unfortunately!

[2020-10-09 18:23] kishvanchee commented on #9145
Ah okie. Does it make more sense to use `SlackHook` now just for the attachment part? Or should I try refactoring the current implementation with `SlackHook` itself? Not sure about design choices/patterns here.

I would appreciate any help @turbaszek @feluelle

[2020-10-09 19:49] mik-laj commented on #11376
We have two types of API:
- Experimental API - available in Airflow 1.10 and new
- Stable API - available in Airflow 2.0 release. https://airflow.readthedocs.io/en/latest/stable-rest-api-ref.html

Airflow 2.0 has not been released yet, so If you want to use new stable APi, you need to install airflow from sources.

We do not plan to develop API for Airflow 1.10 in any way and if you need to add ne

[2020-10-09 20:45] dennyac commented on #9610
We're experiencing the same issue across Operators/Sensors (Airflow 1.10.11, CeleryExecutor with Redis backend)

For the two jobs of the same task that gets enqueued an hour apart, the first job continues to run and the logs don't appear in the UI. The second job completes immediately because its dependencies (The first job enqueued which is still running is a dependency) are not met and you see "

[2020-10-09 20:46] dimberman commented on #9610
Hi @dennyac this is tied to a Celery issue https://github.com/celery/celery/issues/6229

[2020-10-09 20:48] dimberman commented on #9610
@dennyac @rmanvar-indeed @chrismclennon Could y'all please +1 that ticket? Hopefully will catch the attention of a Celery maintainer. Note that one potential solution in 2.0 for this will be the ability to launch individual KubernetesExecutor tasks using the CeleryKubernetesExecutor.

[2020-10-09 20:49] JeffryMAC opened #11388 "Add ability to zoom into Graph view from selection in Tree View"
**Description**
Currently to view DAG run in graph view you must first know it's execution date and then choose it from the drop list.
This is annoying in some cases because you might want to see the big picture in Tree view and then "zoom in" to graph view for a specific run. Currently there is no direct way to do this.

**I suggest the following:**
Go to tree view and click on a dag run. it will

[2020-10-09 21:10] thaohtp commented on #9941
@mik-laj Hi, I'm thinking to give a try on Cloud Storage, I'm new to this project. I'd love to get your clear idea on how do we get bucket name and object name for GCS link.

Looking at previous examples, mostly we generate urls from xcom, however I'm thinking to take it from operator parameter `bucket_name/objects`. Getting xcom makes sure the task executed, which means we can be sure GCS bucket/

[2020-10-09 22:27] dennyac commented on #9610
Upvoted that ticket. I understand that this is tied to a celery issue about repeated enqueueing. But there could be valid scenarios where the same job is enqueued more than once.

I'm concerned how airflow's handling of this scenario as well. Especially about not honoring execution task timeout, determining which job to use to determine task state and logs.

[2020-10-09 22:59] #11324 closed

[2020-10-09 23:56] #11005 closed

[2020-10-10 02:33] raj-manvar commented on #9610
The current work-around we have is a view plugin which fetches logs from the workers instead of S3.

[2020-10-10 10:16] turbaszek opened #11393 "Optimize subclasses of DummyOperator be set straight to success instead of being run"
**Apache Airflow version**:
v2.0.0

**What happened**:

Custom operators inheriting from DummyOperator are go in to a scheduled state, where as DummyOperator itself is set straight to success.

**What you expected to happen**:

All operators should be successfully executed.

**How to reproduce it**:

[code]

**Anything else we need to know**:
This is a known problem that we will fix, see: https://

[2020-10-10 10:20] michalmisiewicz opened #11394 "SQLAlchemy engine configuration is not passed to FAB based UI"
SQLAlchemy engine configuration is not passed to FAB based UI. Faced this issue when running Airflow with MySQL metadata store with wait_timeout = 120. Webserver is failing with Internal Server Error due to "[MySQL Server has gone away](https://docs.sqlalchemy.org/en/13/faq/connections.html#mysql-server-has-gone-away)" error. Settings like `sql_alchemy_pool_recycle` and  `sql_alchemy_pool_pre_ping

[2020-10-10 10:57] turbaszek commented on #11041
Closed via #11285

[2020-10-10 10:57] #11041 closed

[2020-10-10 10:58] #11171 closed

[2020-10-10 11:50] brettstewart commented on #11237
@flvndh You can add `git_subpath` under the kubernetes section in values.yaml
https://github.com/apache/airflow/blob/87038ae42aff3ff81cba1111e418a1f411a0c7b1/chart/values.yaml#L485

The configmap will pick it up since it loops through all the key/value pairs
https://github.com/apache/airflow/blob/87038ae42aff3ff81cba1111e418a1f411a0c7b1/chart/templates/configmap.yaml#L38

[2020-10-10 16:40] ktrueda commented on #10742
Hi I wanna try D205.  Can I try this ?

[2020-10-10 17:56] michalmisiewicz commented on #10636
@dimberman Requests were hanging due to idle connection time-out on Azure Firewall. Timeout is set to [4 minutes](https://docs.microsoft.com/en-us/azure/firewall/firewall-faq#what-is-the-tcp-idle-timeout-for-azure-firewall). Kubernetes lib under the hood is using urllib3 PoolManager which reuse connections. On timeout RST package is send which cause urllib3 to hang indefinitely. I'm going to provi

[2020-10-10 20:23] #11347 closed

[2020-10-10 21:47] pcandoalmeida commented on #11039
Hi @turbaszek 👋🏼 I wanted to check that I'm understanding this rule correctly. Here, no configuration is set; either, users will be extending the `BaseHook` class or using the removed class methods directly. Would we parse custom operators for this check or would we perhaps return a warning?

[2020-10-11 04:46] a-poptsov commented on #10777
@dimberman Sorry for late response. Thanks for a great job with adding items field. But I think it is partial fix. Secret contains all required information already  even without using items directly. For example I can specify `
`Secret("volume", "/etc/ca.pem", "secret_name", "secret_key")`` I am expecting that only selected key will be mounted

[2020-10-11 04:53] a-poptsov commented on #10777
I suggest to add items by default in the case  that was specified in prev. comment

[2020-10-11 05:46] ktrueda commented on #10742
I started to fix D205 (1 blank line required between summary line and description).
It's difficult because a lot of docs has not summary line.

For example,
https://github.com/apache/airflow/blob/d86cf37a35b69fea806be7610deb332468dfba4b/airflow/configuration.py#L481-L486

This docs has no summary line and there are a lot of docs like this.
I cannot make summary line for all these docs.
If I deal a

[2020-10-11 09:47] turbaszek commented on #9145
I think it would be best to reuse what we already have 👍

[2020-10-11 13:10] jordi-crespo opened #11418 "Cannot connect to external PostgreSQL database"
I am deploying airflow in Kubernetes with this chart: https://github.com/apache/airflow/tree/master/chart and I am using:

 - AKS Kubernetes version: 1.16.13
- PostgreSQL hosted in Azure Database for PostgreSQL version: 10

If I use the PostgreSQL database sub chart it works perfectly.

I modify the values.yml to connect to the external PostgreSQL database:

[code]
When I deploy it the scheduler a

[2020-10-11 14:15] dungdm93 opened #11419 "GSuite is now Google Workspace"
Since October 6, 2020, [Google GSuite is now Google Workspace. ](https://support.google.com/a/answer/10075155?hl=en).
Should you consider rename module `airflow.providers.google.suite` to `airflow.providers.google.workspace` before Airflow 2.0 release???

[2020-10-11 15:10] turbaszek commented on #11039
Yes, it's all about using the removed methods.

I'm personally in favor of checking if users use *any* custom operator - if yes we should inform them about it. I'm afraid that checking this with 100% of accuracy may be really hard. @mik-laj @kaxil what is your opinion?

[2020-10-11 16:00] potiuk commented on #11419
This is a very good question :) . We've already renamed several Google Packages last year due to marketing names. The problem is that there are already backport packages released with the gsuite name and if someone uses it we'd have to deprecate it again and keep both names. Luckily, There are just a handful of operators in suite so it will not be a big issue. I think once we do all the priority t

[2020-10-11 17:33] potiuk opened #11421 "Prepare automatically provider packages"
They should be prepared in a similar way as the backport providers (without full separation yet)

This will be a minimal implementation to get the packages out based on current approach we have for backport packages. Later on, we can make it more robust by using separate folders with setup packages or symbolic links to the provider packages if we find it workable.

[2020-10-11 17:36] potiuk opened #11422 "Automatically discover available packages"
The packages installed should be automatically discoverable using Python mechanisms and a form of registration of those packages in the core should happen - similar to Plugin mechanism.

This is needed in order to expose various mechanisms where providers have to be registered in the code.

[2020-10-11 17:50] potiuk opened #11423 "Separate out documentation building and publishing per provider"

[2020-10-11 17:51] potiuk opened #11424 "Manual versioninig with semver for the first release of packages."
The first release can be manually versioned with 0.1.0 version for all packages. No automation is yet needed.

[2020-10-11 17:55] potiuk opened #11425 "Describe provider versioning changes with semver"
We agreed that provider package versioning needs to be done with semver. We need to work out the way on how this automated versioning would work from those perspectives:

* contributor
* maintainer
* release manager

Short documentation about this would be great, before we implement that, so that we know what could be automated and what should be manual work.

We need to agree on:
- [x] how to inc

[2020-10-11 18:01] potiuk commented on #11425
@ashb - since you seem to be the biggest proponent of the Semver proposal, I think it would be great that you describe the process or at least propose it. There is no big hurry with that, as this will only be needed when we eventually release the final 2.0 packages together with 2.0 release, but it would be great to at least think and propose how the provess will look like from those three perspec

[2020-10-11 18:13] potiuk commented on #11423
Hey @mik-laj @kaxil  - I guess it would be great to separate out the docs per-provider - both generation and publishing.  This would only be needed when we go to 2.0 so we have quite some time for that, But I thought you might be the best people to take care about it :)

[2020-10-11 18:14] potiuk opened #11427 "Automate Provider release notes preparaiton with semver"
We should automatically prepare release notes for provider packages - separately from backport provider packages.

[2020-10-11 18:17] potiuk opened #11428 "Providers should be installable in other folder than Airflow"
By default, the providers are installed in the same folder as apache airflow, but there are scenarios where those locations can be different.

It seems to be possible and @ashb implemented POC for that https://github.com/apache/airflow/pull/10806. We should implement it as preparation to Airflow 2.0 and possibly backport to 1.10.13

[2020-10-11 18:23] potiuk opened #11429 "Implement connection form support for Providers."
- [x] The airflow.www.forms._connection_types define a list of connection types, but the third package cannot extend it. This can make it difficult to release new packages regardless of the core. The minimum that needs to be done is to be able to define any value for this field similar to CLI/API. Closely related to https://github.com/apache/airflow/issues/9506
- [x] The airflow.www.forms.Connecti

[2020-10-11 18:24] ashb commented on #11425
Sure! I'll start on this on Monday or Tuesday

[2020-10-11 18:25] potiuk opened #11430 "Implement Generic SQL registration for Providers."
Currently. airflow.models.connection.Connection.get_hook always returns core classes only.

This should be changed.

[2020-10-11 18:26] potiuk opened #11431 "Implement Extra Links support for Provider packages."
Extra links supported for operators coming from third-party packages:

airflow.serialization.serialized_objects.BUILTIN_OPERATOR_EXTRA_LINKS

[2020-10-11 18:27] potiuk opened #11432 "Logging should work with Provider packages"
Logging via GCS/AWS/.... providers should work conditionally, based on the provider packages being installed.

[2020-10-11 18:33] potiuk opened #11433 "More Pythonic way of package separation"
Currenlty - for convenience, we prepare packages using custom scripts and Breeze where we copy sources and prepare packages from the same sources.

We might want to make it in more pythonic way possibly where each package shares their own setup.py maybe, or at most symbolic link to the same setup.py.

We should make a POC to check if this is possible and what it gives us vs. the current solution.

[2020-10-11 18:34] potiuk commented on #11433
cc: @mik-laj  - I beleve you metnioned that this something possible and possibly you would like to take care about this when it gets to that. It might be implemented as late as before we release 2.0 so there is still time and I consider that as an optional task as the current solution is not the most beautiful, but it works.

[2020-10-11 18:37] potiuk opened #11435 "Autoamate check for core-> providers deps"
We should automate a check for dependencies between the core and providers. This should be CI-automated check that will prevent people from accidentally creating a dependency on any of the providers.

[2020-10-11 20:00] turbaszek commented on #11037
Closed via #11222

[2020-10-11 20:00] #11037 closed

[2020-10-11 20:00] turbaszek commented on #11047
Closed via #11230

[2020-10-11 20:00] #11047 closed

[2020-10-11 20:01] turbaszek commented on #11049
Closed via #11090

[2020-10-11 20:01] #11049 closed

[2020-10-11 20:01] turbaszek commented on #11051
Closed via #11265

[2020-10-11 20:01] #11051 closed

[2020-10-11 20:22] pat-s opened #11436 "LDAP: module 'airflow.contrib.auth.backends.ldap_auth' has no attribute 'CLIENT_AUTH'"
**Apache Airflow version**: 1.10.12

**Environment**:

- **Others**: Docker

**What happened**:

Trying to run LDAP login with v1.10.12 via the official `apache/airflow` Docker image.
I manually added the python `ldap3` module via `pip3 install --user ldap3`. Otherwise I get complaints that this module is missing.

Then, when starting the webserver, I get

[code]

Seems related to #4343

**What yo

[2020-10-11 20:29] kaxil commented on #10742
@ktrueda You can do 2 things:

1) Add a summary line:

[code]

2) Only update blank line for which docstrings exists. In this case, we won't be able to enable D205 for all of them but when in future we have summary lines, it would make the word easier.

I would prefer (1) though

[2020-10-11 20:56] potiuk opened #11439 "[QUARANTINE] test failing TestImpersonationWithCustomPythonPath.test_impersonation_custom"
Seems that we have the test TestImpersonationWithCustomPythonPath.test_impersonation_custom failing often in quarantine

Example here: https://github.com/apache/airflow/runs/1239113557?check_suite_focus=true

Would be great to solve it before we release 2.0

**Apache Airflow version**:

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provi

[2020-10-11 20:58] potiuk opened #11440 "[QUARANTINE] TestLocalTaskJob.test_localtaskjob_maintain_heart_rate failures"
Seems that the maintain_heart_rate test is failing often in quarantine. Should be fixed before 2.0

Example here: https://github.com/apache/airflow/runs/1239113557?check_suite_focus=true#step:9:379

**Apache Airflow version**:

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os

[2020-10-11 20:59] pcandoalmeida commented on #11039
Agree. If it proves too tricky, could we return a blanket `WARNING` as a workaround idea?

[2020-10-11 21:00] potiuk opened #11441 "[QUARANTINE] TestSchedulerJob.test_change_state_for_tis_without_dagrun failures"
Seems that the TestSchedulerJob.test_change_state_for_tis_without_dagrun is failing often.

Example here: https://github.com/apache/airflow/runs/1239113557?check_suite_focus=true#step:9:444

Would be great to get it resolved before 2.0

**Apache Airflow version**:

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware config

[2020-10-11 21:04] potiuk opened #11442 "[QUARANTINE] TestSchedulerJob.test_retry_handling_job failing"
I believe this is just a test failing that was in quarantine @ashb - it fails consistently and the error seems to be release to the HA scheduler changes.

E       AttributeError: 'NoneType' object has no attribute 'try_number'

Example failure: https://github.com/apache/airflow/runs/1239113557?check_suite_focus=true#step:9:646

**Apache Airflow version**:

**Kubernetes version (if you are using ku

[2020-10-11 21:08] potiuk opened #11443 "[Quarantine] test_clear_multiple_external_task_marker timing out"
It would be great to fix it before 2.0

Example failure here: https://github.com/apache/airflow/runs/1239113557?check_suite_focus=true#step:9:742

**Apache Airflow version**:

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Insta

[2020-10-11 21:13] potiuk commented on #11418
I think I mark this one as invalid unless you provide some more information. There are plenty of reasons why connection might fail, but I think you should do some more analysis showing and analyzing log files on both client and server side. Also I encourage you to ask some questions about it in slack's #troubleshooting channel - but even there providing some more information will  be useful to hel

[2020-10-11 21:13] #11418 closed

[2020-10-11 21:15] kaxil commented on #11149
@davideanastasia Which Secrets backend are you using AWS Systems Manager or AWS Secrets Manager? Also, are you using backport-packages ?

[2020-10-11 21:22] turbaszek commented on #11039
I think yes. We may consider introducing in checker a new type "WARNING" (next to "SUCCESS" and "FAIL").

[2020-10-11 22:20] simond commented on #8379
Should this issue be closed? It looks like the fix has been made [here](https://github.com/apache/airflow/blob/master/airflow/models/connection.py#L85)

[2020-10-11 22:28] #10507 closed

[2020-10-11 23:36] dimberman commented on #11298
Hi @michalslowikowski00 lemme know if you need any help on this

[2020-10-12 03:25] lafrinte opened #11451 "AttributeError: Can't pickle local object 'DaskExecutor.execute_async.<locals>.airflow_run'"
1. version info:
* apache-airflow: 1.10.12
* os: centos7.4
* python: 3.7.2
* apache-airflow executor: dask

2. error msg:

[code]

the pickle error occured in distributed(dask) worker.py

* distributed.worker.dumps_function

[code]

the argument `func` pass to dumps_function is getting from airflow.executor.dask_executor.DaskExecutor.execute_async

[code]

from some reason, i try to mock for pickl

[2020-10-12 06:13] Swalloow commented on #9708
@mik-laj I will try amazon AWS SageMaker.

[2020-10-12 06:51] michalslowikowski00 commented on #11298
@dimberman sure. Today I have more to time to dive into it.

[2020-10-12 07:30] potiuk opened #11454 "[QUARANTINE] TestSchedulerJobQueriesCount.test_process_dags_queries_count_02"
Seems that this test fails randomly

Example here:

https://github.com/apache/airflow/runs/1239572585#step:6:421

Another example:

https://github.com/apache/airflow/pull/11453/checks?check_run_id=1240589774#step:6:414

[code]

**Apache Airflow version**:

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**

[2020-10-12 07:33] potiuk commented on #11454
cc: @mik-laj @ashb - maybe we can find a way to fully Isolate those query tests and make them rock solid? I wonder why they are sometimes producing such  wild results - seems that this must be some race that is not cleaning the counter. I think it would be great to move out those queries out of quarantine (there are two I think now) before we release Airflow 2.

[2020-10-12 07:47] mielvds opened #11456 "OSError: [Errno 38] Socket operation on non-socket"
I run into an problem with Python 3.8.5 on Debian, which was originally reported by @BrainLogic in a closed issue:

Hi Airflow Team,

I tried to run airflow 1.10.10 with Python 3.8.3 (the same for 3.8.0) on macOs Mojave 10.14.6 as a demon process `airflow webserver -p 8080 -D`

this way does not work:

[code]

probably, it can be related to https://bugs.python.org/issue39685

_Originally posted by

[2020-10-12 08:08] ashb commented on #11454
I think they are isolated (in regards to other DB state, other tests etc) but my HA change I think has introduced some timing related instability now.

(Kamil's query count test decorator only counts queries made while the decorator is in scope, so it's not that)

[2020-10-12 08:10] ashb commented on #11454
I'm capturing the queries from the two example failing examples here for a "permanent" record.

https://github.com/apache/airflow/runs/1239572585#step:6:421

[code]

https://github.com/apache/airflow/pull/11453/checks?check_run_id=1240589774#step:6:414

[code]

[2020-10-12 08:37] Alibm73 commented on #11354
@kaxil @tooptoop4 have the same issue.
[code]
when i type ```airflow webserver -p 7000``` i get this error
[code]

[2020-10-12 08:54] mik-laj commented on #9708
@Swalloow I assigned you to this ticket.

[2020-10-12 09:15] mik-laj commented on #11436
Do you want to use RBAC UI or non-RBAC UI?

[2020-10-12 09:21] pat-s commented on #11436
I did not know that is until now but I guess the RBAC one since the other one is deprecated now.

[2020-10-12 09:47] mik-laj commented on #11436
When using RBAC, authentication with LDAP in the API is not supported. As of Airflow 1.10, only Kerberos authorization is supported.

[2020-10-12 10:09] potiuk opened #11463 "Tags rather than names in variable parts of the metrics"
**Description**

It would be great if the metrics we publish in Airflow change to include TAGs for "variable" parts of those (such as dag_id, task_id, pool name) rather than being part of the metrics.

See here: https://airflow.apache.org/docs/1.10.12/metrics.html, https://airflow.readthedocs.io/en/latest/logging-monitoring/metrics.html  - those variable parts should be tags.

We might consider to

[2020-10-12 10:11] potiuk commented on #11463
@ashb  @kaxil  -> you have an experience with running Airflow in Production environment with Graphana dashboards etc. Do you think this one is a valid and important one ? Do you think we should target it for 2.0 and possibly backport to 1.10 for easier migration? This seems like an easy task, to not remove existing metrics but add new ones with tags instead.

[2020-10-12 11:14] potiuk commented on #11454
Closed automaticaly :(

[2020-10-12 11:16] potiuk commented on #11454
Another example:  https://github.com/apache/airflow/pull/11459/checks?check_run_id=1241474559#step:6:417

[code]

[2020-10-12 11:28] potiuk opened #11464 "Make extras install corresponding provider packages."
When you install Aiflow with an extra, the required provider packages should be installed automatically.

For example:

`pip instal apache-airflow[google]` should install apache-airlfow-providers-google package.

[2020-10-12 11:41] pat-s commented on #11436
Then I am happy to use the non-RBAC UI. This means when disabling RBAC, I should be able to login via LDAP in v1.10.12?

[2020-10-12 11:50] potiuk opened #11466 "Prepare procedure of releasing sources and voting for provider packages."
When we release provider packages, we should only release the sources for those packages and release and sign the packages released.

This needs to be automated and documented.

[2020-10-12 11:59] mik-laj commented on #11436
I never used non-RBAC UI because we dropped support for it. We have support for LDAP authorization in RBAC UI in the Airflow developer version, but this feature was never released. If you want to use it, you have to provide the necessary class on your own.
Here is docs:
https://airflow.readthedocs.io/en/latest/security/api.html#basic-authentication
https://airflow.readthedocs.io/en/latest/security

[2020-10-12 12:01] mik-laj commented on #11436
Support for LDAP in FAB is not very good (see: https://github.com/dpgaspar/Flask-AppBuilder/issues/956) and I personally use Keycloak in similar projects. See: https://github.com/apache/airflow/issues/11305

[2020-10-12 13:14] afonit commented on #11309
For others who come across this.

The error was due to, on Ubuntu, The '[Service]` section needs to be `Environment="PATH=/...."` not `EnvironmentFile=...`

[2020-10-12 13:14] #11309 closed

[2020-10-12 13:18] ktrueda commented on #10742
@kaxil Thank you for your help.
I would prefer (1) too. So I'll try that way.

Since I found thousands of docs to fix, I need much times.
Leave it to me.

[2020-10-12 13:53] toshitanian opened #11469 "BaseSQLToGoogleCloudStorageOperator does not upload complete dump file to GCS"
**Apache Airflow version**:

1.10

**Environment**:

- **Cloud provider or hardware configuration**:

On docker container (puckel/docker-airflow:1.10.9)

- **OS** (e.g. from /etc/os-release):

`Debian GNU/Linux 10 (buster)`

- **Kernel** (e.g. `uname -a`):

`Linux 3bf5943b9fbd 5.4.0-1025-gcp #25-Ubuntu SMP Fri Sep 11 15:02:15 UTC 2020 x86_64 GNU/Linux`

- **Install tools**:

Docker  (puckel/docker

[2020-10-12 13:59] toshitanian commented on #11469
It seems that I had misunderstanding about the parameters.

When files are splitted into multiple files by `approx_max_file_size_bytes`, I have to include `{}` in `filename` parameter.

[code]
Then, the operator uploads temporary files into `some_table.json.01`, `some_table.json.02`, etc...
I have to handle objects (like loading into BigQuery) with wild_card or equivalent.

I will try that and clo

[2020-10-12 14:14] toshitanian commented on #11469
[code]

[2020-10-12 14:15] #11469 closed

[2020-10-12 14:44] scrambldchannel commented on #11297
I'm interested in helping with this too, I was just looking at the AWS provider typehints and came across the same library.

[2020-10-12 15:18] alechheb commented on #9975
The same issue here

[2020-10-12 16:30] dennyac commented on #9610
Thanks @raj-manvar. I'm actually more concerned about tasks being stuck in running state for prolonged periods (beyond the specified task execution timeout), which has caused delays and cascading failures. As of now, we just manually restart the task whenever we encounter this.

[2020-10-12 16:43] yene commented on #11182
just use UTC

[2020-10-12 16:43] #11182 closed

[2020-10-12 17:39] kaxil commented on #11393
We subclass DummyOperator for ExternalTaskMarker

[2020-10-12 17:41] tooptoop4 commented on #11354
local path on my 1.12 to revert https://github.com/apache/airflow/pull/8728 fixes this

[2020-10-12 17:44] roveo opened #11476 "VerticaOperator exception handling"
**Apache Airflow version**:
1.10.10

**Environment**:

Docker on Linux (but it doesn't really matter here).

**What happened**:

`VerticaOperator` uses `vertica_python`. By default, if there are multiple statements in the query, `vertica_python` will return only the first result set on `cursor.fetchall()` and raise exceptions associated with this result set. E.g. a task running this query:

[code]

[2020-10-12 17:47] roveo commented on #11476
I also created an issue in vertica-python repo some time before, but I think this is not a bug in vertica-python, since there is a way to produce the exceptions.

[2020-10-12 18:35] dimberman commented on #11298
@michalmisiewicz Sounds good, I'm around so feel free to ping me on the PR!

[2020-10-12 19:51] JeffryMAC commented on #11476
I think this is expected.
Check their test for this behavior:
https://github.com/vertica/vertica-python/blob/cd988c3d78618606f300f369b0f9ed80b07237c2/vertica_python/tests/integration_tests/test_cursor.py#L416

Also:
https://github.com/vertica/vertica-python/issues/255

This seems more a feature request to vertical-python

[2020-10-12 20:28] dimberman commented on #11298
Hi all,

I think I found the solution (apologies for jumping in @michalmisiewicz though I'd super appreciate a double check on this :) https://github.com/apache/airflow/pull/11478)

[2020-10-12 20:49] roveo commented on #11476
This is expected in vertica-python because there is a way to actually retrieve the exceptions by using it properly. But not in Airflow: now the operator works "fire-and-forget"-style so you don't know if anything went wrong. Since one the purposes of Airflow is knowing the state of you tasks and automatically taking the necessary actions (retrying a task or skipping downstream tasks), this seems l

[2020-10-12 21:05] marcusianlevine opened #11479 "Elasticsearch Backport Provider Incompatible with Airflow 1.10.12"
**Apache Airflow version**: 1.10.12

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.16.9

**Environment**:

- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**: Docker image running in k8s Pods
- **Others**: Rancher-provisioned k8s clusters

**What happened**:

After configuri