[2021-05-13 15:02] david30907d commented on #1152
me too

[2021-05-13 15:06] kaxil commented on #1152
@axelet @david30907d Can one of you create a separate Github issue for it please

[2021-05-13 15:11] czervenyvlk commented on #8609
Thanks for your suggestions. running airflow sync_perm command with cron helps to mitigate this issue.
the bug has been reported already https://github.com/apache/airflow/issues/8609 and it should be fixed in 2.1 release.
We can close the ticket now

[2021-05-13 15:54] potiuk commented on #15806
You can pass extra_options' "verify" parameter and point to "update-ca,certs" file.

[2021-05-13 15:55] potiuk commented on #15806
please let me know if it worked for you

[2021-05-13 15:55] potiuk commented on #15806
Closing it for now unless more information/verification is provided.

[2021-05-13 15:55] #15806 closed

[2021-05-13 15:59] #15789 closed

[2021-05-13 16:16] davidcaron commented on #7935
@yuqian90 I have almost the exact same environment as you, and I have the same problem.
- Airflow 2.0.2
- CeleryExecutor (postgres result backend, and redis broker)
- Single scheduler
- Python version 3.8.5

The problem happens roughly twice per day.

I get the same last log message you do: `Exiting gracefully upon receiving signal 15` and the exact same py-spy output.

As a last resort, I plan to

[2021-05-13 16:19] DenisOgr commented on #12804
@otourzan Thank you for noticing and fixing this issue. I meet this issue in airflow 2.0.1. Actually, I have a question, how can I get the changes, that you made to fix it? I see merged pull-request to `apache: master`. But in what release these changes were added?  @turbaszek could you help me with this?

[2021-05-13 16:44] cocampbe commented on #15806
Sorry if this sounds ignorant. But are you referring to the livy connection?

On Thu, May 13, 2021, 10:55 AM Jarek Potiuk ***@***.***>
wrote:

[2021-05-13 17:48] potiuk commented on #15806
The operator. Look at the Livy Operator. It is based on the HttpOperator and it has 'extra_options' field. You can pass there the same kind of dictionary as for the HttpOperator/Hook. One of the values might be 'verify'. verify might be False/True or it also can be a pth to the root certificate used to verify the server side

[2021-05-13 18:48] #15315 closed

[2021-05-13 19:33] kaxil commented on #12804
@DenisOgr Run `pip install -U apache-airflow-providers-google`

Docs: https://airflow.apache.org/docs/apache-airflow-providers-google/stable/index.html
Changes: https://airflow.apache.org/docs/apache-airflow-providers-google/stable/commits.html

[2021-05-13 20:01] cocampbe commented on #15806
@potiuk I am about to give this a try. Thanks for the help. I'll let you know the outcome.

[2021-05-13 20:08] potiuk commented on #15806
More info here: https://docs.python-requests.org/en/master/user/advanced/#ssl-cert-verification

[2021-05-13 20:26] stephenonethree commented on #8541
Ok, I think I might have actually found the cause. Unlike other people who have reported this error message, in my case I traced the error to a very specific configuration: I had a single SubDag with direct upstream dependencies on 2 other SubDags. Attempting to clear the status of that SubDag (the downstream one) caused this error. I was able to stop this error by reworking the dependencies so th

[2021-05-13 20:28] cocampbe commented on #15806
It worked. Just to test I set verify to False in the dictionary. I need to change it to use the ca cert, but want to see if it would work. Thanks again for your help. DM me your paypal info and I would be happy to send you some beer money. ;)

[2021-05-13 20:30] potiuk commented on #15806
Cool! No worries about beer money. Happy that it helped.

[2021-05-13 20:32] cocampbe commented on #15806
Passing it the certs directory worked.

[2021-05-13 20:58] #15771 closed

[2021-05-13 21:04] kaxil commented on #15818
If you only delete the DagRun to re-run it -- "Clear" it instead

[2021-05-13 21:59] zachliu commented on #13542
in my case (Airflow 2.0.2), tasks seem to get stuck in `queued` state if the tasks happen to run during the deployment of Airflow (we are using [ecs deploy](https://github.com/fabfuel/ecs-deploy) to deploy) :thinking:

[2021-05-13 22:09] himabindu07 opened #15830 "2.1 Airflow UI ( Tree view/Calender View )"
On Airflow UI, not able to see tree view/calender view, continuously refreshing the page. Facing the problem in platform and local.
**Airflow version:** 2.1.0
**What happened:**
When I click on the Tree view/calender view, I should see the task in the tree view, but the page is refreshing all the time.
**What you expected to happen:**
When I click on the Tree view should be able to see the tasks i

[2021-05-13 22:31] himabindu07 opened #15832 "2.1 Airflow UI (Delete DAG) button is not working"
On Airflow UI for DAG delete button is not working as expected.
Airflow version: 2.1.0
**What happened:**
When we  click on Delete DAG button for any DAG it sholud delete but geting 404 error page on platform and local.

**What you expected to happen:**
<img width="1771" alt="Screen Shot 2021-05-13 at 3 30 50 PM" src="https://user-images.githubusercontent.com/47584863/118195521-365d0e80-b400-11eb-

[2021-05-14 00:19] bbovenzi commented on #15830
I can replicate on the docker image, but not on breeze.  In docker, it is unable to  `tree.js` and `calendar.js`. @ashb I wonder if something like `./airflow/www/compile_assets.sh` didn't run correctly?

[2021-05-14 00:19] #15742 closed

[2021-05-14 00:47] johnnyprimary opened #15833 "load module cost too much time when parse dagbag in DagBag#process_file"
the airflow scheduler load module cost too much time in method `airflow.models.dagbag.DagBag#process_file`
Airflow version: 1.10.4
# What happened:
1. as we known , `imp.load_source(mod_name, filepath)` in airflow.models.dagbag.DagBag#process_file is a time cost operation,sometimes it may cost more than 1 minute, is where any better way to load module?
2. and  I use the version 1.10.4, use`imp.loa

[2021-05-14 00:50] ranamit112 opened #15834 "Metrics documentation fixes and deprecations"
**Apache Airflow version**: 2.0.2

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): N/A

**Environment**: N/A

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:
* `dag_processing.last_runtime.*` - In version 1.10.6 [UPDATING.md](https://github.com/

[2021-05-14 02:28] eladkal commented on #15655
Please use Stackoverflow / Airflow slack for support.

[2021-05-14 02:28] #15655 closed

[2021-05-14 03:50] codearmyforce opened #15837 "Error"
Python version: 3.6.8
Airflow version: 2.0.2
Node:
-------------------------------------------------------------------------------
Traceback (most recent call last):
  File "/usr/local/lib64/python3.6/site-packages/sqlalchemy/engine/base.py", line 1277, in _execute_context
    cursor, statement, parameters, context
  File "/usr/local/lib64/python3.6/site-packages/sqlalchemy/engine/default.py", lin

[2021-05-14 04:16] potiuk commented on #15830
Which image are using/building ? Is it the master one ?

[2021-05-14 04:34] #15524 closed

[2021-05-14 04:57] potiuk commented on #15830
FYI: Just tried it with latest master docker image and it works:

* `docker pull apache/airflow:master-python3.6`
* `docker run -it -e _AIRFLOW_WWW_USER_CREATE="true" -e _AIRFLOW_WWW_USER_PASSWORD="admin" -e _AIRFLOW_DB_UPGRADE="true" -e AIRFLOW__CORE__LOAD_EXAMPLES=True -it -p 8080:8080 apache/airflow:master-python3.6 bash`
* `aiflow scheduler` (wait a moment to populate example dags)
* `airflow

[2021-05-14 05:00] eladkal commented on #15796
duplicate of https://github.com/apache/airflow/issues/13692

[2021-05-14 05:00] #15796 closed

[2021-05-14 05:04] eladkal commented on #10203
duplicate of https://github.com/apache/airflow/issues/15571

[2021-05-14 05:04] #10203 closed

[2021-05-14 05:19] himabindu07 commented on #15830
Image:2.1.0-buster-onbuild-37485
Yes, On master.

[2021-05-14 05:22] eladkal commented on #8971
is the issue still happens on Airflow 2?

[2021-05-14 05:27] potiuk commented on #15830
Ah. That's the astronomer image :). The official airflow one does not seem to have the problem

[2021-05-14 05:57] potiuk commented on #15815
DockerOperator is part of Docker Provider. We are not too concerned about the compatibiliy of providers to be honest, because those can be rather easily updated on provider-by-provider case (and in most cases you can downgrade the provider.

So I think this is perfectly ok to make breaking change in Docker Provider and bump major version for the provider.

[2021-05-14 06:07] #15832 closed

[2021-05-14 06:42] darthale commented on #13853
This is still happening for me in airflow 2.0.2.

[2021-05-14 06:44] darthale commented on #15818
Thanks for the hint @kaxil . Can you just confirm the behaviour above is the intended way of working though?

Anyway, whilst clearing the DagRun as you suggested, I'm facing this: https://github.com/apache/airflow/issues/14265.

I'll remove the timeout for my DAGs for the time being.

[2021-05-14 07:23] uranusjr commented on #15815
In that case I think I’ll go with Option A, but removing `volumes` instead of deprecating.

[2021-05-14 08:11] potiuk commented on #15815
Works for me!

[2021-05-14 08:32] uranusjr commented on #15815
PR created 🙂

[2021-05-14 08:37] ashb commented on #13542
@zachliu What executor are you using?

[2021-05-14 08:41] eladkal commented on #15815
@akki followup on https://github.com/apache/airflow/issues/9047 maybe you can share your thoughts :)

[2021-05-14 08:46] eladkal commented on #15144
fixed by https://github.com/apache/airflow/pull/15173

[2021-05-14 08:46] #15144 closed

[2021-05-14 09:16] codenamestif commented on #8381
i would like to take this one

[2021-05-14 09:18] potiuk commented on #8381
Feel free @codenamestif !

[2021-05-14 09:28] ashb commented on #15830
Not an issue on apache/airflow

[2021-05-14 09:28] #15830 closed

[2021-05-14 12:10] #15790 closed

[2021-05-14 12:16] Dr-Denzy commented on #11979
I will like to look into this @kaxil

[2021-05-14 12:38] Junnplus commented on #15837
You may need to run `airflow db upgrade` for https://github.com/apache/airflow/pull/14581

[2021-05-14 12:41] Junnplus commented on #15803
It seems that 2.0.2 is working, Can you try it ?

[2021-05-14 12:58] ashb commented on #14299
Nice analysis @uranusjr -- we probably need to tweak the display in the case of catchup=False then.

[2021-05-14 12:58] ashb commented on #8061
No, we should fix this properly in Airflow.

[2021-05-14 13:05] ashb commented on #15833
No, `importlib` and `imp` use roughly the same code under the hood.

The "expensive" part is not the method used to load the module, but what ever your module is doing.

If it is taking 1 minute to load your DAG file, then I suggest moving imports or code execution out of the top level of the module.

[2021-05-14 13:05] #15833 closed

[2021-05-14 13:14] #15837 closed

[2021-05-14 14:04] zachliu commented on #13542
Celery

[2021-05-14 14:21] #15786 closed

[2021-05-14 17:01] ashb commented on #13542
Once 2.1 is out/in RC (next week) I will take a look at this issue

[2021-05-14 19:33] dkvdm commented on #15807
I had a similar issue. Increasing Docker memory allocation solved this for me.

[2021-05-15 00:06] #14012 closed

[2021-05-15 00:19] kaxil commented on #15818
@darthale It is indeed the intended behaviour i.e. Deleting a DagRun does not delete TaskInstances

[2021-05-15 00:19] #15818 closed

[2021-05-15 00:50] #10180 closed

[2021-05-15 01:04] bpleines commented on #11789
@jedcunningham, `master` still uses a [template](https://github.com/astronomer/airflow/blob/master/airflow/kubernetes/pod_template_file_examples/git_sync_template.yaml) with git-sync environment variables that make sense for a sidecar container as opposed to an initContainer.

`GIT_SYNC_WAIT` is the interval between syncs. `airflow-worker` pods should only sync DAGs once and exit, so `GIT_SYNC_ONE

[2021-05-15 04:38] shihabcsedu09 commented on #14791
@jedcunningham I can now confirm the issue isn't related to AKS. Enabling TCP keep alive did the trick.

Thanks for all the help. This issue can be closed

[2021-05-15 04:38] #14791 closed

[2021-05-15 06:56] artful88533 commented on #13532
@kaxil Hello!
I have upgraded Airflow from 1.10.15 to 2.0.2 and faced with a similar problem.
In version 1.10.15 when task is marked by hands as Failed, docker container is automatically removed.
In version 2.0.2 when task is marked by hands as Failed, docker container isn’t automatically removed.
Parameter  auto_remove=True  is present.
From docker inspect:
[code]
Is it possible to automatically

[2021-05-15 08:01] Bertusian commented on #15807
I increased the memory of the guest OS where Docker runs to 6GB but i still have this issue. The docker container stats:

![afbeelding](https://user-images.githubusercontent.com/18552223/118352915-53125700-b564-11eb-9a25-1fe15560e3c7.png)

[2021-05-15 08:38] KulykDmytro commented on #12185
Yes it is a duplicate, sorry folks

[2021-05-15 08:38] #12185 closed

[2021-05-15 08:54] #15365 closed

[2021-05-15 09:04] #15529 closed

[2021-05-15 09:11] #15698 closed

[2021-05-15 10:00] Odisssssey opened #15876 "Problems with craete a connections."
Hello.
Problems with create a connections.

Input:
requests.post('http://localhost:8080/api/v1/dags/NAMEDAG/dagRuns', ...)
Output:
{"status": 400, "title": "Bad Request", ...}
_____
list connections.
Input:
requests.get('http://localhost:8080/api/v1/dags/NAMEDAG/dagRuns', ...)
Output:
{"state": "success", ...}

Ubuntu 20.04.2 LTS (GNU/Linux 4.4.0-19041-Microsoft x86_64)
Airflow version: v2.0.2

[2021-05-15 13:48] Sanchit112 commented on #11208
Hey, @datapythonista, I would like to help with this.

[2021-05-15 15:42] datapythonista commented on #11208
Feel free to take it @Sanchit112. At the end Airflow wasn't the right tool for my problem and never learned enough of it to contribute any docs.

[2021-05-15 17:13] potiuk commented on #15807
Have you actually tried to connect to Airflow webserver (http://localhost:8080/ as stated in the output) when you run `docker-compose up` @Bertusian  ?

The user is airflow/airflow by default.

Docker compose up is NOT supposed to exit. It continues to run when you start 'docker-compose up` so there is nothing strange in what you see there.

When you run it you will continue to see the logs, and y

[2021-05-15 17:13] #15807 closed

[2021-05-15 17:14] potiuk commented on #15807
Closing it for now until more information is provided - please @Bertusian check if airflow actually works and report back if there are any other problems.

[2021-05-15 18:21] Bertusian commented on #15807
Hi Jarek,

I forgot to mention, but the application does indeed work.

- 'docker-compose up airflow-init' gives some warnings but ends at bash prompt.
- 'docker compose up' doesn't. It keeps on generating the output mentioned here above (like in a loop) but never finishes at bash prompt. The only way to stop it was by pressing Ctrl-C. Then all the containers are stopped, as showed in the output,

[2021-05-15 19:33] potiuk commented on #15807
This is how `docker-compose up` works.

https://docs.docker.com/compose/reference/up/

You can run it with `--detach` flag if you want to run the containers in the background but by default it show logs from a all containers and does  not go to the background.

It stops.in case of running the 'init' command because it actually exits after it finishes the job.

[code]

[2021-05-15 20:13] deepakjindal90 commented on #8087
I am using 1.10.12 and facing same issue due to which my GlueJob called two times, below are the highlighted log where glue job called two times.

**Scenario** : I have used one dummy operator and success of that task i have called glue job using 'on_success_callback' callback function

**Note** : This is coming intermittently, not everytime.

[2021-05-15 03:30:10,863] {{taskinstance.py:901}} INFO

[2021-05-15 20:37] Bertusian commented on #15807
Ok, that makes things clear!

Apparently i missed some crucial information about docker-compose up and it's default logs flag.

Many thanx!

[2021-05-16 03:56] aranjanthakur opened #15879 "Auto refresh feature for graph view"
**Description**

Graph view can be configured for auto refresh. In airflow.cfg we can set following configs:

1) on/off switch
2) Refresh period ( There should be a lower limit. )

Extended feature - Above two configs should be overriden at DAG level as some DAGs might need quicker refresh period than others.

**Use case / motivation**

When monitoring a DAG, we need to refresh the graph view mult

[2021-05-16 08:16] akki commented on #15815
Hi @eladkal

Thanks for pinging me. I had a look at the PR & left some comments. Hope that helps. :)

[2021-05-16 11:19] hsnprsd commented on #15607
I'm getting the same error right now.

[2021-05-16 12:09] johnnyprimary commented on #15833
@ashb  thank you more than I can see, according my log , I make sure the dag py file import cost a lot of time, thx very much.

[2021-05-16 16:14] Sanchit112 commented on #11208
I'll work on this example:
- Getting data from an API
- Cleaning the data
- Stooring it in local Postgres

[2021-05-16 17:12] vikramcse commented on #15748
@uranusjr Thanks for checking the issue.
I am writing the unit tests for the `--ship-dag` run tasks flag, which returns a pickle_id like
[code]

and the test

[code]

In this case the pickle_id is a dynamic field. It will be helpful if you give me some example for testing the dynamically generating pickle_id

[2021-05-16 18:16] fengyu05 opened #15883 "airflow(2.0.2): kubernetes_executor task never recived a scheduler_job_id"
**Apache Airflow version**:

[code]

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

[code]

**Environment**:

- **Cloud provider or hardware configuration**: eks
- **OS** (e.g. from /etc/os-release):
[code]
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:
After upgrade to airflow 2.0.2 kubernetes_executor always report `airflow.

[2021-05-16 18:22] fengyu05 commented on #15883
seems to be relative to https://github.com/apache/airflow/issues/13805 which suppose to be fixed in the 2.0.2

[2021-05-16 19:05] bpleines commented on #15670
I have the `pod_template_file` working, but similarly have not been able to get the container `pod_override` working for resource requests/limits on Airflow `1.10.15`

[2021-05-16 22:35] Daniel-Han-Yang commented on #15622
Can I work on this @leahecole @mik-laj ?

[2021-05-16 22:42] mik-laj commented on #15622
@Daniel-Han-Yang feel free. Assigned.

[2021-05-17 05:56] eladkal commented on #15608
This is currently a draft proposal. You are welcome to comment to the suggested approch on the AIP page.

[2021-05-17 09:01] fbertos opened #15885 "Internal error on API REST /api/v1/dags/axesor/updateTaskInstancesState"
**Apache Airflow version**: 2.0.2

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): Running on Docker 19.03.13

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): Windows 10 Enterprise
- **Kernel**:
- **Install tools**:
- **Others**:

**What happened**:

I receive an HTTP Error 500 when changing tasks status through

[2021-05-17 09:10] veerendranathT opened #15886 "Adding support for --index-url (or) --extra-index-url for PythonVirtualenvOperator"
**Description**

**Use case / motivation**

**Are you willing to submit a PR?**

**Related Issues**

[2021-05-17 09:15] veerendranathT opened #15887 "while re-running any task on a failed Dag run, I'm not able to edit the previously passed conf in dag_run.conf from UI."

[2021-05-17 11:00] fbertos opened #15888 "Abort a DAG Run"
**Description**

It would be great having a option to abort a DAG Runs through the REST API.

**Use case / motivation**

The proposed input params would be:
 - DAG_ID
 - DAG_RUN_ID

The DAG Run should abort all its tasks running and mark them as "failed".

**Are you willing to submit a PR?**

**Related Issues**

[2021-05-17 11:39] ashb commented on #15885
A work-around for 2.0.2,  explicitly pass `"dry_run": true` in your request body

[2021-05-17 12:23] mniehoff commented on #15588
I dug a bit deeper into it and the problem seems to be within the databricks operator (tbh: was expecting that is was rather the op than the scheduler).

In comparison to e.g. BigQuery Databricks job runs do not have an id that you can set from the outside. it's getting generated as soon as a new job run is triggered.
The BigQueryJobOperator creates the job run id by itself and if the operator is

[2021-05-17 12:35] ashb commented on #15886
I think you can put `--index_url http://internal` in the requirements already.

[2021-05-17 12:37] ashb commented on #15886
Yes, that works https://pip.pypa.io/en/stable/cli/pip_install/#requirements-file-format

So this just needs a doc PR -- could you open a PR against the docs to call out this fact?

[2021-05-17 12:39] ashb commented on #11208
Well volunteered @Sanchit112  😁

[2021-05-17 12:52] rahulgoyal2987 opened #15892 "KubernetesPodOperator pod_template_file content doesn't support jinja airflow template variables"
KubernetesPodOperator  pod_template_file content doesn't support jinja airflow template variables. pod_template_file  is part of templated_fields list.
https://github.com/apache/airflow/blob/master/airflow/providers/cncf/kubernetes/operators/kubernetes_pod.py#L165

template_fields: Iterable[str] = (        'image',        'cmds',        'arguments',        'env_vars',        'labels',        'conf

[2021-05-17 14:15] #15885 closed

[2021-05-17 14:48] uranusjr commented on #14299
So what can we do here? One way is to explicitly store the user-defined start date (e.g. `DAG.declated_start_date`) and rename the field as **Declared start date** so it’s clearer that might not be the time the DAG *actually* started. Another is to hide the field when `catchup=False` altogether, and maybe display something else to indicate whether the DAG has started or not.

[2021-05-17 14:52] bbovenzi commented on #15783
Good idea. Let me look into it.

[2021-05-17 15:03] #9047 closed

[2021-05-17 15:03] #12537 closed

[2021-05-17 15:03] #15815 closed

[2021-05-17 15:53] ashb commented on #15783
I think this already exists, at least for _some_ logging backends -- ElasticSearch for instance.

[2021-05-17 18:24] #14009 closed

[2021-05-17 19:26] fbertos opened #15897 "Set a state of task instances can not be applied to a specific task instance"
**Description**

The current API:
https://airflow.apache.org/docs/apache-airflow/stable/stable-rest-api-ref.html#operation/post_set_task_instances_state

with this parameters:
[code]

does not allow to change the status of specific task instance (a task instance is really identified by the pid).

**Use case / motivation**

It would be great if could pass the pid of the task instance in order to ch

[2021-05-17 20:26] jedcunningham opened #15900 "Chart: Extra mounts with DAG persistence and gitsync"
**What happened**:

When you have `dag.persistence` enabled and a `dag.gitSync.sshKeySecret` set, the gitSync container isn't added to the pod_template_file for k8s workers, as expected. However, `volumes` for it still are and maybe worse, the ssh key is mounted into the Airflow worker.

**What you expected to happen**:

When using `dag.persistence` and a `dag.gitSync.sshKeySecret`, nothing gitsyn

[2021-05-17 20:58] ashb commented on #15897
A task instances is currently identified by (dag_id, execution_id, task_id).

[2021-05-17 21:00] #15897 closed

[2021-05-17 21:17] dollschasingmen commented on #11708
any progress on this?

[2021-05-17 21:50] #14301 closed

[2021-05-17 23:14] jedcunningham commented on #11789
Thanks @bpleines, I somehow missed that this was the example, not the pod template used in the helm chart 🤦‍♂️. #15904  opened to fix the example.

[2021-05-18 00:11] bpleines commented on #11789
I did not see the correlation to the `area:helm-chart` github label either. PR looks great thanks!

[2021-05-18 00:28] #11789 closed

[2021-05-18 04:11] MatrixManAtYrService commented on #15698
If I do:

[code]

and run `airflow dags test mydagname $(date "+%Y-%m-%d")`, the message appears in stdout:
[code]

If I add the import and the type hint as shown above, the message stops showing up.  I still need to check whether the image I'm testing with includes the fix--but I think I'm replicating it at least.

[2021-05-18 04:23] flolas opened #15907 "Problem with Wasb v12 remote logging when blob already exists"
**Apache Airflow version**: 2.02

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): v1.20.5

 **Environment**:

- **Cloud provider or hardware configuration**: AKS

**What happened**:

When using wasb for remote logging and backfilling a DAG, if the blob name already exists in the bucket, pods fails
[code]

**What you expected to happen**:

overwrite log file on backfil

[2021-05-18 06:16] fbertos commented on #15897
@ashb, then can you ensure there can not be more than one task instance with the same dag_id, task_id and execution_date? Thanks

[2021-05-18 06:18] darthale commented on #15818
Cool, thanks @kaxil

[2021-05-18 06:48] #8026 closed

[2021-05-18 07:16] patsevanton commented on #15340
@kaxil
[code]

[2021-05-18 08:21] ashb commented on #15897
Correct. That is a unique constraint in the database.

[2021-05-18 09:16] akshay654 opened #15914 "Problem with remote logging when using Azure file share for logs(webserver, scheduler and task logs)"
**Apache Airflow version**: 2.0.2

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): v1.18.14

**Environment**:

- **Cloud provider or hardware configuration**: AKS

**What happened**:

When we are trying to use helm chart for Airflow deployment getting issue with remote logging for Azure File share.
The scheduler and dag operator logs are written successfully but with

[2021-05-18 10:32] ashb opened #15917 "Redoc API docs show mis-leading/wrong examples for what fields are updateable"
For example on https://airflow.apache.org/docs/apache-airflow/2.0.2/stable-rest-api-ref.html#operation/patch_dag the example on the right shows updating a schedule_interval, but that is not possible.

![image](https://user-images.githubusercontent.com/34150/118635899-04ff8c80-b7cc-11eb-807a-6f0a1f309a90.png)

Redoc also doesn't show anywhere what fields on the DAG model are actually updatable,

Un

[2021-05-18 10:33] ashb commented on #15917
Already reported upstream as https://github.com/Redocly/redoc/issues/1238

[2021-05-18 10:43] tanuj-ahuja commented on #15485
@mik-laj Yeah, but can we have it as new feature in Airflow?

[2021-05-18 10:51] potiuk commented on #15485
I guess those artifacts are not huge, those are just meta-data. Can they be read and stored as XCom parameters? Sounds like good way to persistently store them and link them with the actual runs.

You can then query the XCom and retrieve the manfest and other artifacts content via the XCom API:

https://airflow.apache.org/docs/apache-airflow/stable/stable-rest-api-ref.html#operation/get_xcom_entry

[2021-05-18 10:55] potiuk commented on #15485
A good feature might be to have a convenience method to store set of files as XCom (automatically reading the files and using file names as keys). Also adding a "download" as file feature in XCom UI might provide a convenient way to interact with those via UI.

That might be a nice, small PR for Airflow.

[2021-05-18 11:28] tanuj-ahuja commented on #15485
@potiuk These artifacts are usually log files or some other files which were generated during the DAG run.

The idea to store these files names as XCom sounds good, since it will allow us to tie them up with the DAG runs + the "download as file" option would be nice to have as well.

[2021-05-18 11:39] potiuk commented on #15485
I think it really depends on how big those files are. When using default DB XCom backend, there are some limits, but when you use custom XCom backends - https://www.astronomer.io/guides/custom-xcom-backends - you can store as much as you want.

Maybe you would like to work on a PR for that @tanuj-ahuja ?

[2021-05-18 11:45] tanuj-ahuja commented on #15485
Yeah, totally.

[2021-05-18 13:12] yuqian90 commented on #7935
The same behaviour in my [previous comment](https://github.com/apache/airflow/issues/7935#issuecomment-839656436) happened again so I took a `py-spy dump` of both the main `airflow scheduler` and the child process. When the scheduler was stuck, the main `airflow scheduler` is stuck in `celery_executor.py::_send_tasks_to_celery` in `__exit__` of `multiprocessing.Pool`. The code suggests `_terminate

[2021-05-18 14:02] fbertos commented on #15897
Hi @ashb, absolutely understood now. Many thanks for your help!

[2021-05-18 15:20] zachliu commented on #15364
in case anyone is interested

Vulnerable javascript library: jQuery
version: 3.4.1

Details:
jQuery versions below 3.5.0 used a regex in its jQuery.htmlPrefilter method. This regex which is used to ensure that all tags are XHTML-compliant could introduce a vulnerability to Cross-site Scripting(XSS) attack. Please refer to vendor documentation (https://blog.jquery.com/2020/04/10/jquery-3-5-0-releas

[2021-05-18 17:22] bbovenzi commented on #15879
1. I have been thinking about doing an "auto-on" to detect if the that dag has any active runs. Would that solve the first config?

2. Right now the refresh interval is set to 3 seconds. Is there a more reasonable time you'd suggest?
It would be best to agree on a good interval rather than piling on more config. Especially on a per dag basis, I feel like that could be confusing for many users.

[2021-05-18 17:25] Odisssssey commented on #15876
data='{"conf": ...}' is required, but not stated as such in the documentation.

[2021-05-18 17:25] #15876 closed

[2021-05-18 20:21] sterling-jackson commented on #7935
Have been struggling with this since we migrated to 2.0 our lower environments. Scheduler works for a couple of days, then stops scheduling, but doesn't trigger any heartbeat errors. Not sure it's helpful, but our PROD instance is running smoothly with Airflow 1.10.9 and Python 3.7.8.

Running "killall airflow" on the host brings it back to life after Docker restarts the service.

- Airflow 2.0.2

[2021-05-18 20:22] pdavis156879 opened #15927 "Airflow Docker - Webserver not starting"
**Apache Airflow version**: 2.0.2

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): Ubuntu 20.04.2 LTS

Hi there,

I'm running Airflow via Docker using the official docker-compose image, and whilst everything seems to work fine, the webserver gets stuck in an endless loop of:

![image](https://user-images.githubusercontent.com/73368400/1183030

[2021-05-18 20:25] stevenjs1 opened #15928 "Configure GCP Secrets Backend For Cloud Customers"
**Apache Airflow version**: 2.0.2-2

**Environment**: Production

**Cloud provider**: GCP, Astronomer Cloud

**What happened**:
This is a Cloud customer and needs some type of configuration / direction / documentation to correctly config GCP Secrets Manager in Airflow. There is currently no documentation  for Cloud customers, only Enterprise.

Additional Notes:
Zendesk Ticket: https://astronomer.z

[2021-05-18 20:53] ashb commented on #7935
@sterling-jackson Your use case _might_ be fixed by 2.1.0 (currently in RC stage)

[2021-05-18 21:08] mik-laj commented on #15928
The Apache Airflow community is independent of service providers. We do not want to promote any partner that offers Airflow as a service., as it may affect the independence/vendor neutrality of the project. If you have problems with a service, you should report to that service provider's technical support, not the Apache community.

You may also be interested in the articles below.
[Configuring Cl

[2021-05-18 21:08] #15928 closed

[2021-05-18 21:13] mik-laj commented on #15927
This does not cause problems as these ports are not exposed, so they do not conflict. Each container has its own network stack provided by [kernel namespae](https://docs.docker.com/engine/security/#kernel-namespaces).

[2021-05-18 21:38] stevenjs1 commented on #15928
This was opened here in error. Closing.

[2021-05-18 21:55] pdavis156879 commented on #15927
Hi @mik-laj , thank you so much for the explanation! Makes perfect sense, I am a newcomer when it comes to both Airflow and Docker, so all teachings are more than welcome :)

Any suggestions on how to fix my problem?

[2021-05-18 23:03] mik-laj opened #15930 "Move the database configuration to a new section"
Hello.

Currently, the core section has 48 configuration options. This is a bit of a lot and it becomes problematic to find the configuration option that interests us. Our users ask questions about an option that already exists by this.

Below I present the statistics, how many options each section has.
[code]
It would be great if we could move some options to the new section. I think we can start

[2021-05-18 23:12] mik-laj commented on #15927
Can you make the logs more verbose? You can do this with the `logging_level` option in the `[logging]` section. The easiest way to do this is with the `AIRFLOW__LOGGING__LOGGING_LEVEL=DEBUG` environment variable. See: http://airflow.apache.org/docs/apache-airflow/stable/configurations-ref.html#logging

[2021-05-19 00:32] #15291 closed

[2021-05-19 01:09] talnicolas commented on #12136
I confirm that I'm still having this issue in Airflow 2.0.2.

[2021-05-19 02:12] aranjanthakur commented on #15879
Auto-on feature for detecting active runs sounds good. I agree with the 3 seconds refresh interval and that we should not be piling on more configs.

[2021-05-19 02:29] MatrixManAtYrService opened #15931 "`$ airflow connections import` fails with `AttributeError`"
Apache Airflow version

6f8c204

Environment

OS (e.g. from /etc/os-release): Mac OS 11.3
Kernel: Darwin Kernel Version 20.4.0
Install tools: pip install -e .

**What happened**:

Tried to import valid connection json via the cli.  Got an error:

[code]

Several of the tests assume that `load_connections_dict` returns a dict of dicts
https://github.com/apache/airflow/blob/6f8c204b21d6c01a192bda524

[2021-05-19 05:57] potiuk opened #15933 "Consider splitting Google Provider"
The `Google` provider is huge. It's by far the biggest provider out there and it has a number of sometimes more closely coupled and sometimes not coupled at all (leveldb) operators.

We should consider splitting the Google operator into smaller pieces, but that would involve some more decisions:

* what to do with common part
* what should be the split ? Per service? Per cloud
* how to manage depe

[2021-05-19 05:58] potiuk commented on #15933
cc: @dstandish @kaxil @ashb @mik-laj @turbaszek @anitakar

[2021-05-19 06:32] potiuk opened #15934 "Move the "ci" images to "airflow-ci""
We have a lot of images in "apache/airfow" and most of them are "ci-related" images. We should move them to "apache/airflow-ci".

[2021-05-19 11:00] Junnplus commented on #15930
Hi @mik-laj, can I work on this ?

[2021-05-19 11:18] yuqian90 opened #15938 "celery_executor becomes stuck if child process receives signal before reset_signals is called"
**Apache Airflow version**: 1.10.13 onwards (Any version that picked up #11278, including Airflow 2.0.* and 2.1.*)

**Environment**:
- **Cloud provider or hardware configuration**: Any
- **OS** (e.g. from /etc/os-release): Only tested on Debian Linux, but others may be affected too
- **Kernel** (e.g. `uname -a`): Any
- **Install tools**: Any
- **Others**: Only celery_executor is affected

**What h

[2021-05-19 11:20] yuqian90 commented on #7935
Hi @ashb  @sterling-jackson  I managed to reproduce this issue consistently with a small reproducing example and traced the problem down to `reset_signals()` in `celery_executor.py`. Since it feels like a different issue from the original one reported here, I opened a new issue:
https://github.com/apache/airflow/issues/15938

[2021-05-19 13:03] Dr-Denzy commented on #15892
I will put up a PR for this @kaxil

[2021-05-19 13:03] timotk commented on #15927
Hi @mik-laj, not the issue creator but ran into this issue too, on macOS  11.3.1.

Here's a debug log:
https://gist.github.com/timotk/4172fbf3bf4687b2b44509830b0ee4e0

Hope it helps.

[2021-05-19 13:14] rahulgoyal2987 commented on #15892
@Dr-Denzy  can you share PR?

[2021-05-19 13:23] mik-laj commented on #15927
Do you have enough memory resources available for the Docker virtual machine? Can you only try to run one container - webserver?

[2021-05-19 13:28] potiuk commented on #15927
Exit 137 is almost always Out-of-memory. Here you can find the documentation about the right Docker settings for development: https://github.com/apache/airflow/blob/master/BREEZE.rst#docker-community-edition

[2021-05-19 13:30] ericbellet commented on #9975
I am facing the same issue. I found a kind of temporal solution for relaunching the previous steps and execute them without concurrency, you can Delete the DAG in the UI and turn on the DAG again. In my case, I had to remove temporally the steps that I don't want to rerun and just keep the ones that I need. Also, you can create another DAG for that.
![image](https://user-images.githubusercontent.c

[2021-05-19 13:30] potiuk commented on #15927
I think it misses the Memory setting thoughj, but I would recommend at least 4GB RAM /8GB comfortable allocated for Docker if you want to run containerised Airflow.

[2021-05-19 13:37] potiuk commented on #15927
Good :)

[2021-05-19 13:37] #15927 closed

[2021-05-19 13:37] potiuk opened #15941 "Detect and inform the users in case there is not enough memory/disk for Docker Quick-start"
Default amount of memory/disk size on MacOS is not enough usually to run Airfllow.

We already detect and provide informative message about it when we start Breeze and provide informative messages: https://github.com/apache/airflow/blob/master/scripts/ci/libraries/_docker_engine_resources.sh

I believe we should do the same for the quickstart as many of Mac users raise the ``cannot start`` issue w

[2021-05-19 13:43] mik-laj commented on #15930
Assigned.

[2021-05-19 13:46] ldacey commented on #9975
This issue impacted me as well recently (I cleared 450 historical tasks to reprocess data)

Is there anyway to improve how the scheduler becomes deadlocked if you clear a lot of tasks? In my case on 2.0.2:

1) None of my DAGs would actually complete even if the tasks were all successful
2) Many of my DAGs would not start at all

The root cause of this was of course clearing 450 tasks all at once,

[2021-05-19 14:05] potiuk commented on #15938
Whoa!

[2021-05-19 14:10] ashb commented on #15938
Just _how_ slow does it have to be to happen?

Nice digging.

[2021-05-19 14:11] ashb commented on #15938
We can probably guard this by closing of the current pid when we register them, and checking that the signal is received by the same pid

[2021-05-19 14:26] pdavis156879 commented on #15927
Hi @mik-laj , I apologize for the late reply.

I set the logging mode to DEBUG and here is the output: https://gist.github.com/pdavis156879/699872f49ee85e7684c75bfd23039b7f

[2021-05-19 15:33] kevinbsilva opened #15946 "Web UI not displaying the log when task fails - Permission Denied at temporary error file when using run_as_user"
**Apache Airflow version**: 2.0.1

**Environment**: 2 Worker nodes and 1 Master

- **Cloud provider or hardware configuration**: Oracle Cloud
- **OS** (e.g. from /etc/os-release): Oracle Linux 7.8
- **Kernel**: Linux 4.14.35-1902.302.2.el7uek.x86_64 #2 SMP Fri Apr 24 14:24:11 PDT 2020 x86_64 x86_64 x86_64 GNU/Linux

**What happened**:

When a task fails, the Web UI doesn't display the log. The  UR

[2021-05-19 16:17] potix2 commented on #10576
@potiuk Can I pick some files from scripts/ci/libraries? I would like to work on them.

[2021-05-19 16:34] drboyer opened #15948 "Snowflake connections do not work correctly with SqlSensor"
**Apache Airflow version**: 1.10.x (issue was partially fixed with #9843 in 1.10.12, but is not completely fixed in 1.10.15)

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): n/a

**Environment**: not relevant here

**What happened**:

When using a Snowflake connection with the SqlSensor, the following exception is thrown:

[code]

**What you expected to happen**:

The

[2021-05-19 16:58] ihorton1 commented on #13805
@dimberman unless I'm mistaken, it appears that although @MaxTaggart fixed the backfill issue related to this issue, the run command is still throwing the original error in 2.0.2.

Would adding `job_id = 'manual'` in airflow/cli/commands/task_command.py fix the issue you think?

`def _run_task_by_executor(args, dag, ti):
    """
    Sends the task to the executor for execution. This can result in

[2021-05-19 17:28] potiuk commented on #15948
AS explained in the PR - sorry but Airflow 1.10 End of Life is 17 th of June and we are only implementing cirtical/security fixes in 1.10. Snowflake provider works well in 2.0 (auto-detection of DBHook compliant hooks is implemented there).

I heartily recommend to move to Airflow 2 as 1.10 will not even receive critical security fixes after June 17th (less than a month from now)

[2021-05-19 17:28] #15948 closed

[2021-05-19 17:29] potiuk commented on #10576
Feel free!

[2021-05-19 17:34] drboyer commented on #15948
I see, thanks for taking a look. We'll definitely have to look into it, given the upcoming EOL.

[2021-05-19 17:51] mporracindie opened #15951 "Mark tasks as critical"
**Description**
The idea is to be able to mark specific tasks as critical making them define the output of the entire dag.

**Use case / motivation**
I'll use a specific example but this can be extended to many use cases. Let's say you use an operator to create an EMR cluster one for summiting code to the cluster and finally a cleanup one for killing the cluster when all the previous have finished

[2021-05-19 18:15] krnhotwings commented on #15685
Recently ran into this issue. Adding an additional FYI that this does not occur in 2.0.1

The error seems to only occur when `sql_alchemy_conn_secret` is set. Does not occur when the following are set: `core.fernet_key_secret`, `webserver.secret_key_secret`

[2021-05-19 18:46] MatrixManAtYrService opened #15952 "DockerOperator tries to push bytes to XCom, fails to serialize"
Apache Airflow version

6f8c204

Environment

OS (e.g. from /etc/os-release): Mac OS 11.3
Kernel: Darwin Kernel Version 20.4.0
Install tools: pip install -e .

### The DAG

[code]

### What Happened
Operator tried to push to XCom, but throwse serialize error
[code]

### What I Expected to Happen

Something useful ended up in XCom, and no errors

[2021-05-19 18:46] MatrixManAtYrService commented on #15952
@ashb FYI

[2021-05-19 18:56] ashb commented on #15952
What version of docker provider was this? Did you run against an editable install?

[2021-05-19 20:48] chrisrfu opened #15954 "S3 remote logging which defaults to "falling back to local log""
**Apache Airflow version**: v2.0.2

**Environment**:

- **Cloud provider or hardware configuration**: on local machine using docker-compose
- **OS** (e.g. from /etc/os-release): macOS Catalina 10.15.7
- **Kernel** (e.g. `uname -a`): Darwin CFU.local 19.6.0 Darwin Kernel Version 19.6.0: Tue Jan 12 22:13:05 PST 2021; root:xnu-6153.141.16~1/RELEASE_X86_64 x86_64

**What happened**:

configured remote

[2021-05-19 20:57] anitakar commented on #15933
Hey,

To start the discussion.

The split that would make logical sense to me would be per Cloud Service
(API), like shown be `gcloud services list`, with transfer operators
belonging to appropriate Google side package, like Google Cloud Storage for
gcs transfer operators.

For the common part maybe an apache-airflow-providers-google-core package,
similarly to https://pypi.org/project/google-cloud

[2021-05-19 21:24] lidalei commented on #14672
tl;dr: set [schedule_after_task_execution](https://airflow.apache.org/docs/apache-airflow/stable/configurations-ref.html#schedule-after-task-execution) to false by either updating your airflow.cfg (recommended) or setting AIRFLOW__SCHEDULER__SCHEDULE_AFTER_TASK_EXECUTION to False.

We had the same issue and with the help of sentry to look through the whole stack trace, I found out why.

The buggy

[2021-05-19 21:40] saurabhladhe commented on #14672
@lidalei : thanks for looking into it and sharing this
btw, did setting AIRFLOW__SCHEDULER__SCHEDULE_AFTER_TASK_EXECUTION to False help resolve this issue in your case?

[2021-05-19 22:05] wahsmail commented on #15752
Issue also persists in 2.0.2

This seems related: https://github.com/apache/airflow/issues/10112

Very annoying bug!

[2021-05-19 22:08] lidalei commented on #14672
No problem. It probably solved. We had constantly received the alerts before setting it to False. It has been more than 6 hours since we set it to False, and we don't see it any more.

[2021-05-19 22:21] saurabhladhe commented on #14672
@lidalei : awesome, thanks for confirming, do let me know if it does show up again, we will probably try this setting on our next deploy as well

[2021-05-19 22:35] pdavis156879 commented on #15927
@mik-laj I belive I figured out the problem:
for some reason, even though I ran airflow-init successfully, the Webserver claims the 'dag' table does not exist:
[code]

Any idea what may be causing this?

[2021-05-19 23:04] jedcunningham commented on #12751
Hi @cheunhong, to clarify you're looking to set `loadBalancerIP`, right?

[2021-05-19 23:07] anitakar commented on #15933
Having looked a little closer (
https://github.com/apache/airflow/tree/master/airflow/providers/google):
1. all the non cloud operators, sensors, hooks (ads, marketing_platform,
firebase) could become their own modules
(apache-airflow-providers-google-ads etc.)
2. all the files in cloud operators, sensors, hooks (
https://github.com/apache/airflow/tree/master/airflow/providers/google/cloud/operato

[2021-05-19 23:13] MatrixManAtYrService commented on #15952
Uh, maybe I should have thought about that beforehand.  I just cloned airflow and did a `pip install -e /path/to/airflow` (so yes, editable).  Let me try again...

I expect these commands to give me a blank slate at a more deterministic version:
[code]

At the end, they say this:
[code]

Given those versions, I still get the same error.

[2021-05-19 23:31] wahsmail commented on #15752
Think I found something. In [util.dates.py#L109](https://github.com/apache/airflow/blob/master/airflow/utils/dates.py#L109), cron iter is returning a `datetime.datetime(2021, 4, 24, 0, 0)` when the initial start_date (after making naive) was `datetime.datetime(2021, 4, 23, 5, 0)`. So when this date range is passed to the DagRun.find() method to query the database, it only finds a single execution

[2021-05-20 00:01] wahsmail commented on #15752
So the choice is to either pass a localized datetime to croniter.get_next() and *then* convert to UTC, or somehow mutate the  schedule interval string such that it gets the same result.

[2021-05-20 00:20] dstandish commented on #15933
This came up in part because leveldb hooks depend on plyvel library which requires that the machine has leveldb installed.

So on mac if you want to install google provider (e.g. because you want to use some GCP hook) then you also have to install leveldb (which has nothing to do with GCP), and if you do not have leveldb installed, then the google provider install will fail.

To resolve this, what

[2021-05-20 01:38] wahsmail commented on #15752
Actually now I think I'd argue that [experimental.mark_tasks.get_execution_dates](https://github.com/apache/airflow/blob/e01b4e60d1bfbccce614ce8674c5d8f3580431ef/airflow/api/common/experimental/mark_tasks.py#L239) should convert start_date and end_date to the server timezone before passing to date_range. I made this fix for my installation and my main stuff is working as intended. I don't know wha

[2021-05-20 04:42] yogyang opened #15960 "K8s executor failed to manual re-run the task"
**Apache Airflow version**: 2.0.2

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

[code]

**Environment**:

- **Cloud provider or hardware configuration**: rancher ec2
- **OS** (e.g. from /etc/os-release): Debian GNU/Linux 10 (buster)
- **Kernel** (e.g. `uname -a`): Linux airflow-webserver-57ccd474bc-8rfg5 5.4.0-1045-aws #47-Ubuntu SMP Tue Apr 13 07:02:25 UTC 2021 x

[2021-05-20 04:58] andotorg opened #15961 "MacOS docker-compose 2.0.2 webserver restart all the time，but centos is normal！"
ERROR INFO：
Log  Print：
airflow-webserver_1  | Traceback (most recent call last):
airflow-webserver_1  |   File "/home/airflow/.local/bin/airflow", line 8, in <module>
airflow-webserver_1  |     sys.exit(main())
airflow-webserver_1  |   File "/home/airflow/.local/lib/python3.6/site-packages/airflow/__main__.py", line 40, in main
airflow-webserver_1  |     args.func(args)
airflow-webserver_1  |   F

[2021-05-20 05:31] yogyang commented on #15960
add rolebinding to serviceaccount:airflow-webserver would result in another problem: the pod airlfow-webserver created is not using pod templated defined in the `podTemplate` file

[2021-05-20 06:17] Junnplus opened #15962 "ServiceAccount always created without correspond resouce"
Congratulations for released offical Apache Airflow Helm Chart 1.0.0!
I try to migrate offical repo, but I found it alway created `ServiceAccount` without correspond resouce.
Such as flower ServiceAccount: https://github.com/apache/airflow/blob/master/chart/templates/flower/flower-serviceaccount.yaml#L21

**Apache Airflow version**: 2.0.2

**What happened**:

I do not need flower, but flower servi

[2021-05-20 06:38] freget opened #15963 "SSHHook: host_key is not added properly when using non-default port"
**Apache Airflow version**: 2.0.2 (but problem can still be found in master)

**What happened**:

When using the SSHHook to connect to an ssh server on a non default port, the host_key setting is not added with the correct hostname to the list of known hosts. In more detail:

[code]

This yields the exception

    paramiko.ssh_exception.SSHException: Server '[1.2.3.4]:1234' not found in known_host

[2021-05-20 07:12] gutiou commented on #15687
Any update on it?  I have the same issue.

[2021-05-20 07:21] rrbarbosa commented on #13542
We are also experiencing tasks getting stuck in Airflow 2.0.1 with the Kubernetes Executor. We created a "heartbeat" DAG that runs every 10m, when it doesn't, we get an alert.

In the last occurrence, the scheduler seem to think the heartbeat DAG reached its `max_active_runs (1 of 1)`, so it refused to schedule a new task. As far as I can tell, the previous execution succeeded and the pod correctl

[2021-05-20 07:29] maryampashmi commented on #9606
Hello, I am using airflow 2.0.2, I am trying the following code, and it gives me this error. I have calling the function  get_activated_sources from python operator. I am trying to pass the values to the next sql fille.

Not sure if it's normal in airflow 2.0.2.

def get_activated_sources():
[code]
**Error**
`[2021-05-20 07:04:27,350] {xcom.py:237} ERROR - Could not serialize the XCom value into J

[2021-05-20 07:55] pdavis156879 opened #15965 "sqlite3.OperationalError: no such table: dag"
Apache Airflow version: 2.0.2

Environment:

Cloud provider or hardware configuration:
OS (e.g. from /etc/os-release): Ubuntu 20.04.2 LTS

First of all, I apologize for opening a new issue, however, and unfortunately, [my previous issue](https://github.com/apache/airflow/issues/15927) was incorrectly closed since another user responded the problem was solved - which was not.

My webserver was fail

[2021-05-20 08:16] sergeple commented on #9975
Same on 2.0.1, I am using REST API to trigger dag, but max_active_runs is not working.

[2021-05-20 08:49] potiuk commented on #15965
The problem is that you are using sqlite database. Sqlite works in different way than postgres/mysql. Instead of having a server where different containers connect to,  sqlites writes local file where the database is kept. Unless you create a shared volume which is mounted in all the containers, the database initialization you do in in "init" container is gone at the moment the container finishes.

[2021-05-20 08:53] maryampashmi commented on #15775
Hi, this is happening when I am trying to clear tasks from UI. I select all the tasks and I push the clear button, and I am getting an error. So doesn't clear the tasks, when you select all.

[2021-05-20 09:06] cheunhong commented on #12751
hi @jedcunningham, yes.

[2021-05-20 09:38] potiuk commented on #15961
You should increase the memory allocated for Docker engine in Docker Desktop. It should be 4GB at least (I think default is 2 GB)

[2021-05-20 09:38] #15961 closed

[2021-05-20 09:55] lidalei commented on #14672
I can confirm it solved our issues.

[2021-05-20 09:57] potiuk commented on #15965
I will close it for now. let me know if the issue is not solved, then I re-open it.

[2021-05-20 10:01] penggongkui commented on #13911
@xinbinhuang any update on this feature?

[2021-05-20 10:38] ephraimbuddy commented on #15775
Please @maryampashmi can you provide steps to reproduce and information such as the airflow version and executor you are using plus the log if any. Thanks

[2021-05-20 11:09] maryampashmi commented on #15775
airflow: 2.0.0

errro:

Something bad has happened.
Please consider letting us know by creating a bug report using GitHub.

Python version: 3.8.8
Airflow version: 2.0.2
Node: airflow-web-68c7bc54cc-jj8gp
-------------------------------------------------------------------------------
Traceback (most recent call last):
  File "/home/airflow/.local/lib/python3.8/site-packages/flask/app.py", line 2447

[2021-05-20 11:44] #15941 closed

[2021-05-20 12:06] pdavis156879 commented on #15965
Hi @potiuk ,

Thank you so much for your assistance.

Regarding your suggestions, I would prefer to go with number 2, since it's the most standard and requires less intervention - and less place to mess up. However, I am using Airflow's original image (slightly modified for testing, which includes a common network to debug possible communication issues between services), in fact, here it is:
- [do

[2021-05-20 12:27] hafid-d commented on #13692
Getting the same issue as well on airflow 2.0.2

[2021-05-20 13:10] ephraimbuddy commented on #13542
Can you be able to try this with airflow master? We recently merged this https://github.com/apache/airflow/pull/15929. I'm thinking it will help in 'The scheduler keeps those queued' part

[2021-05-20 13:20] uranusjr commented on #15775
There should be a reb box in the web UI that says something like

What does that message say? (The *blah blah blah* part.)

[2021-05-20 13:21] teaglebuilt commented on #15675
@mtrovo I would be willing to take this PR

[2021-05-20 13:34] potiuk commented on #15675
Feel free!

[2021-05-20 14:18] kaxil commented on #10752
The first version of the official Helm Chart was finally released yesterday.

Mailing List Announcement: https://lists.apache.org/thread.html/r131d839158b8a7a92a7813183cae30d248be9e330ea2faaf9e654970%40%3Cdev.airflow.apache.org%3E :tada:
:package: ArtifactHub: https://artifacthub.io/packages/helm/apache-airflow/airflow
:books: Docs: ⁨https://airflow.apache.org/docs/helm-chart/1.0.0/
:rocket: Quick

[2021-05-20 14:18] #10752 closed

[2021-05-20 14:20] potiuk commented on #10752
:tada: :tada: :tada: :tada: :tada: :tada: :tada: :tada: :tada: :tada: :tada: :tada: :tada: :tada:

[2021-05-20 14:20] kaxil commented on #14305
Helm Chart has been published to ArtifactHub: https://artifacthub.io/packages/helm/apache-airflow/airflow

It has also been granted the "official badge" and "Verified Published" badge

![image](https://user-images.githubusercontent.com/8811558/118995144-d1189880-b97e-11eb-8db6-32eacbea92f9.png)

[2021-05-20 14:20] #14305 closed

[2021-05-20 14:29] jedcunningham commented on #15658
@jcpalmer108 , @vshabarish did setting `SESSION_COOKIE_PATH` work out?

[2021-05-20 14:53] kaxil commented on #9606
@maryampashmi  "cursos" will not contain the return values after running the SQL query. You could use `PostgresHook. get_records()` function

https://github.com/apache/airflow/blob/733bec9a04ab718a0f6289d93f4e2e4ea3e03d54/airflow/hooks/dbapi.py#L119-L135

[2021-05-20 15:07] c-thiel commented on #15793
@ashb today I tested with different postgres versions with no luck - the bug still persists.
I am happy to prepare a PR for a small fix - I just couldn't identify the bug yet. I would be happy for any indication of what this could be - it's really posing us problems in production.

Should we add the 2.0 Version Tag?

[2021-05-20 15:14] #15892 closed

[2021-05-20 19:28] nisarg1499 opened #15974 "Constraints support in DockerOperator"
**Description**
In the current DockerSwarmOperator, there is no parameter of network and constraint. It will create a container in a new network and without constraints of worker node or manager node. Now, there is support of network in DockerOperator, but constraints is not supported.

Use case :

**Use case / motivation**
If some user has an existing swarm network and want to create a service wi

[2021-05-20 19:30] nisarg1499 commented on #15974
I am working on this issue.

[2021-05-20 19:49] #12583 closed

[2021-05-20 19:54] eladkal commented on #13691
@tandelDipak are you opening a PR?

[2021-05-20 20:10] eladkal opened #15975 "MySQL docs refer to deprecated setting explicit_defaults_for_timestamp"
`explicit_defaults_for_timestamp` is deprecated from MySQL docs:

https://dev.mysql.com/doc/refman/8.0/en/server-system-variables.html#sysvar_explicit_defaults_for_timestamp

We are referring to this setting in:
https://github.com/apache/airflow/blob/38ecbd6769ecee1136b653c17c2c5c2b17937818/docs/apache-airflow/faq.rst#how-to-fix-exception-global-variable-explicit_defaults_for_timestamp-needs-to-be

[2021-05-20 20:17] eladkal commented on #9731
I don't think we can use this reproduce steps. If you are deliberately putting wrong data in the database you can't be surprised that the UI shows that wrong data.
many changes were made since 1.0.9 is the issue still happening on Airflow 2?

[2021-05-20 20:51] lewismc commented on #10752
Real nice work 🎉

[2021-05-21 00:17] wolfier opened #15976 "Error when querying on the Browse view with empty date picker"
**Apache Airflow version**: 2.0.2

**What happened**:

Under Browse, when querying with any empty datetime fields, I received the mushroom cloud.

[code]

**What you expected to happen**:

Perhaps give a warning/error banner that indicate Airflow cannot perform the search with bad input. I think it'll also work if the datetime picker defaults the timestamp to the current time.

It looks like some

[2021-05-21 04:43] AyWa commented on #9731
Only airflow is writing to the `DB` -> I only made query when investigating the issue of why there was missing execution date.

However, I do not seems to be able to reproduce often. We didnt migrated to airflow 2 yet.
i will close this issue

[2021-05-21 04:43] #9731 closed

[2021-05-21 05:45] gdevanla commented on #15938
I just upgraded to 2.0.2 and this happens almost within 1 minute of scheduler restart.  We are on Python 3.8 and using RabbitMq/Celery.

[code]

And here is the corresponding logs in the `error` file: (I am not sure if this is related, but just thought I would add this if it could be useful)

[code]

[2021-05-21 06:29] gdevanla commented on #15938
On a related note, we used to have `-r` option to recycle the scheduler.  Looks like that option is not available anymore. That option would have been a nice workaround for this kind of issue.

[2021-05-21 06:35] sawaca96 commented on #15572
@zorzigio
I'm use airflow helm chart and image info is below
[code]
I add just `PYTHONPATH` to config env
[code]
then import error is gone 👍👍
my dags folder tree
[code]
now I can `from dags import some_function` in file_1 and file_2
Also I can `from dags.utils.decorator import some` in example.py
good ! 😁

[2021-05-21 08:43] BebokBebop opened #15977 "SalesforceToGcsOperator requires additional packages"
**Apache Airflow version**: 1.10.15
**Environment**: GCP composer - image: `composer-1.16.0-airflow-1.10.15`

**What happened**:
When trying to import the `SalesforceToGcsOperator` in a DAG:
[code]

A Broken DAG error is reported by the composer:`No module names 'airflow.providers.salesforce'`

**What you expected to happen**:
`SalesforceToGcsOperator` being available.

**What do you think went wr

[2021-05-21 08:45] uranusjr commented on #15976
I wonder what the best solution is. We can ignore empty fields in the backend (and probably should no matter what), but I would want the frontend to block form submission when this happens since leaving a field empty is likely a user error.

[2021-05-21 09:36] hafid-d opened #15978 "DAG getting stuck in "running" state indefinitely"
**Apache Airflow version**: 2.0.2

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

- **Cloud provider or hardware configuration**:
- **OS** :  Ubuntu 18.04.3
- **Install tools**: celery = 4.4.7, redis = 3.5.3

**What happened**:
When I trigger manually my dag, some of the tasks are stuck in the "queued" state in the logs.

[code]

Even when I mark them as "failed" an

[2021-05-21 09:43] ephraimbuddy commented on #15978
@hafid-d Can you get the scheduler logs?

[2021-05-21 09:53] Dr-Denzy commented on #15526
Hey @gm7y8 how is the progress on putting up a PR for this issue?

[2021-05-21 10:25] ephraimbuddy commented on #15775
@maryampashmi can you try in 2.0.2. Though you said 2.0.0, the error says 2.0.2, and I couldn't reproduce in 2.0.2

[2021-05-21 10:39] kaxil commented on #14161
Use `PythonVirtualEnvOperator` - https://airflow.apache.org/docs/apache-airflow/1.10.14/_api/airflow/operators/python_operator/index.html#airflow.operators.python_operator.PythonVirtualenvOperator

That will allow adding dependencies via a requirements arguments.

Note: Airflow 1.10.x is reaching End of Life next month https://github.com/apache/airflow#version-life-cycle -- so please Upgrade to Ai

[2021-05-21 10:39] #14161 closed

[2021-05-21 11:25] CatarinaSilva commented on #15670
Hi @kaxil also experiencing this issue in 2.0.2, although I was using the old overrides:

[code]

it only breaks for resources overrides, volumes work fine for example

I can try with the new format but I'm struggling to find good docs on how to convert from the previous overrides to the new ones, can you point me to something?

[2021-05-21 11:51] kaxil commented on #15670
Probably something like that should work:

[code]

[2021-05-21 12:44] CatarinaSilva commented on #15670
Thanks @kaxil currently testing with the new format, will let you know if it works

[2021-05-21 13:24] eladkal commented on #10160
Is the issue still happens in Airflow 2?

[2021-05-21 13:24] DylanCuure opened #15985 "Airflow UI displays \n instead of line break"
**Apache Airflow version**: v2.0.1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): v1.19.7

**What happened**:

Using remote logging, logs are correctly sent to GCS with the right format :
![image](https://user-images.githubusercontent.com/83287186/119143548-01783980-ba48-11eb-91ca-217e5a328e54.png)

But are displayed in airflow UI with no line break :
![image](https

[2021-05-21 13:34] eladkal commented on #11134
@Gaurang033 Airflow 1.10 is EOL
Closing as its working fine on Master (also https://github.com/apache/airflow/issues/15832 is fixed)

[2021-05-21 13:34] #11134 closed

[2021-05-21 14:00] uranusjr opened #15986 "Deleting a DagRun from UI does not delete its associated tasks"
**Apache Airflow version**: master

When DagRuns are selected in the UI for deletion, a request is sent to the `DagRunModelView.action_muldelete`, a Flask-Appbuilder action:

https://github.com/apache/airflow/blob/aa4713e43f92d3e4c68c3ad00e2d44caaf29aafe/airflow/www/views.py#L3490-L3496

The function deletes all the DagRun rows matching the selection from db. However, this does not delete the Task

[2021-05-21 14:25] mtrovo commented on #15675
Sure, go for it.
I still didn't start anything on my end.

On Thu, 20 May 2021 at 14:22, dillan teagle ***@***.***>
wrote:

[2021-05-21 14:35] yuqian90 commented on #15938
Hi, @ashb it's not clear to me how slow it must be exactly for this to happen. It looks like as long as some child processes are a fraction of a second slower than the others, they easily get into a deadlock when a SIGTERM is received. So even a transient slowness of a beefy machine can cause this to happen.

Here's what I tried so far. Only the last method seems to fix the issue completely (i.e.

[2021-05-21 14:42] egS27 opened #15990 "Logging bug in a long runs"
**Apache Airflow version**:
2.0.2

**Environment**:
 Kubernetes v1.18.3+cdb0358
 Openshift 4.5.37_1536

**What happened**:
We are running our python code in kubernetes operators(airflow.contrib.operators.kubernetes_pod_operator).
During long runs(>10h) the airflow with the logs turned on(`get_logs=True` in k8s operator field) behaves absolutely normally, and then throws an unexpected error.

If we

[2021-05-21 14:46] mik-laj commented on #15977
This dependency is listed in "Cross provider package dependencies" section. See: https://pypi.org/project/apache-airflow-backport-providers-google/

Additionally, we do not support backport providers. See. https://lists.apache.org/thread.html/rb34212bd13c44aa61e793d0fef14f4ab9d9408939b1b98dc814cf274%40%3Cdev.airflow.apache.org%3E

[2021-05-21 14:46] #15977 closed

[2021-05-21 15:22] CatarinaSilva commented on #15670
hey @kaxil I can confirm the requests and limits are working with the new way in 2.0.2

[2021-05-21 17:36] bpleines commented on #15670
Thanks for the example @kaxil. Understood if you want to keep the discussion for `2.0+` only, but wanted to note that I don't think this pod_override strategy works for `1.10.15`. I can see the scheduler pulling in the pod_override (logs attached), but it is not realized on the resulting worker pod's container.

[code]
[scheduler.log](https://github.com/apache/airflow/files/6524193/scheduler.log)

[2021-05-21 18:08] ashb commented on #15938
I have _no_ problem with us not using multiprocessing - this isn't or first such problem like this

[2021-05-21 18:15] wahsmail commented on #15752
Bump @jedcunningham

[2021-05-21 18:31] turbaszek opened #15994 "Use inclusive words in Apache Airflow project"
**Description**

Apache Software Foundation is discussing how we can improve inclusiveness of projects and raise awareness of conscious language. Related thread on diversity@a.o:
https://lists.apache.org/thread.html/r2d8845d9c37ac581046997d980464e8a7b6bffa6400efb0e41013171%40%3Cdiversity.apache.org%3E

**Use case / motivation**

We already have pre-commit check that checks for some word. However,

[2021-05-21 18:31] turbaszek commented on #15994
CC @leahecole

[2021-05-21 18:57] turbaszek commented on #15933
+1 to that, I think we had similar discussion about salesforce, tableau and slack (Salesforce have bought Tableau and Slack):
https://lists.apache.org/thread.html/rb1828485df78df7649000ff586a749ab685635f606b394386e1be808%40%3Cdev.airflow.apache.org%3E

Also with companies like google it would be nice if they would be able to take care of the providers (even if that would mean extracting them from

[2021-05-21 19:01] kaxil commented on #15933
Agree with @turbaszek -- The best judge of the split is the company itself -- so according to me that would best. However, if Google does not want to do that, we should separate leveldb to a distinct provider like @dstandish suggested

[2021-05-21 19:09] anitakar commented on #15933
Hey,

So maybe without big upfront design and trying to solve the problem of
backwards compatibility for all cases, let's create another package for
leveldb. I could start during the weekend but I would need some help.

The way I see it you can not preserve same imports if you move the operator
file outside the current folder. You can only nest it deeper and create
__init__ .py that will fix the i

[2021-05-21 20:55] leahecole commented on #15994
Love it. A couple of clarifying questions

- If I'm understanding correctly, the pre commit check is preventing the introduction of new instances of these words, but these are the words we have that were already in? (legacy non-inclusive words, I suppose? 😁 )
- Is this issue to go through and remove said words, or to introduce more automation?

[2021-05-21 21:18] kaxil opened #15996 "Move `UPDATING.md` to actual docs"
Currently, there are 2 places users need to look into when updating an Airflow Version:

* Changelog: https://airflow.apache.org/docs/apache-airflow/2.1.0/changelog.html
* Updating.md: https://github.com/apache/airflow/blob/master/UPDATING.md#airflow-210

We should create a new section on "Updating" in docs where we have 2 pages:

1. Changelog -- same as what we have now just moved under that sect

[2021-05-21 22:44] tazimmerman commented on #10790
I'm able to reproduce this using the standard `TimeDeltaSensor` with Airflow 1.10.14 and the `DaskExecutor`. The logs aren't helpful (at least to someone unfamiliar with the source code), but it's clear that there is a "hiccup" where the occasional retry fails.

For example, the attempts before & after this one are successful, and on this try, there is an ominous message:

`Dependencies not met fo

[2021-05-21 23:06] #12751 closed

[2021-05-21 23:17] #15900 closed

[2021-05-21 23:47] jedcunningham commented on #15990
@egS27, can you confirm if you have `enable_tcp_keepalive` set to True? If it isn't, can you try it with it enabled?

https://airflow.apache.org/docs/apache-airflow/stable/configurations-ref.html#enable-tcp-keepalive

(Reason I ask is the old default was False, so instances that were updated sometimes still have the old default in airflow.cfg)

[2021-05-22 04:41] eladkal commented on #15933
Thats true but there may be a different case here as leveldb is under Google github account. So the users of leveldb are very aware that this is a google service unlike Tableau/Slack & Salesforce relationship.

[2021-05-22 09:08] turbaszek commented on #15994
That's one reason. The other one is that #12982 is still opened. Also I some words cannot be removed because are used by 3rd party tools

Both, when we remove the word we should add it to existing rule or create new one similar to this:
https://github.com/apache/airflow/blob/476d0f6e3d2059f56532cda36cdc51aa86bafb37/.pre-commit-config.yaml#L333-L341

[2021-05-22 16:41] potiuk commented on #15933
Yeah. I see the case @eladkal. But I kind of see how Plyvel is very different from all other Google "core" components. Which cloud/ads/marketing_platform might be really "core" google business, where Plyvel is more of a "side" thing and could be fully separated out. I think it is much easier to separate out plyvel as a provider than splitting google "core" one.

I am quite torn on this one. I see

[2021-05-22 19:00] anitakar commented on #15933
@potiuk Thank you for pointing out that leveldb package is outside of cloud
package (
https://github.com/apache/airflow/tree/master/airflow/providers/google/leveldb)
and also that it is an extra (
https://github.com/apache/airflow/blob/master/airflow/providers/google/provider.yaml#L751
).
I am a little confused though. I see plyvel on the list of requirements on
https://pypi.org/project/apache-air

[2021-05-22 21:06] Anirudhaagrawal opened #16000 "If external postgres password contains '@' then it appends it to host."
**What happened:**

My password for external Postgres RDS contained '@123' at the end which got appended to the host of the DB due to some bug. One can notice in the logs, the DB_HOST has an unwanted 123@ in the front of it  DB_HOST=**123@**{{postgres_host}}. I removed '@' character from the password and it worked fine.

I am using the latest image of apache/airflow and using the official helm cha

[2021-05-22 21:14] hsnprsd opened #16001 "Can't view running tasks logs using KubernetesExecutor."
**Description**

I want to be able to see logs for running tasks in airflow web UI when I'm using "KubernetesExecutor".
Airflow tries to read logs of worker pod which does not contain my task logs because "airflow tasks run" command redirects all stdout/stderr to log file.

Here is what I see when I try to read logs of running tasks:
[code]

**Use case / motivation**

It's not convenient to wait f

[2021-05-23 00:07] #15372 closed

[2021-05-23 00:07] #15357 closed

[2021-05-23 00:07] #15252 closed

[2021-05-23 00:25] flolas commented on #10073
@ashb You are right, I left the issue here just in case the community needed it, but if it not the case, maybe might be better not merging onto airflow official provider packages. Closing.

[2021-05-23 00:25] #10073 closed

[2021-05-23 01:04] mik-laj commented on #16000
Password should be percent encoded. See: https://github.com/apache/airflow/pull/15089

[2021-05-23 01:06] mik-laj commented on #16000
But yes. This is a bug, not in Docker Image, but in Helm Chart. It uses string concatenation to build URI.

[2021-05-23 02:33] mik-laj commented on #16000
In Apache Airflow, we need to build the URL from the values from the `values.yaml` file, but unfortunately this cannot be done because to build the URL with userinfo we need a function that percent-encode the usernaame/password.
More context: https://github.com/apache/airflow/pull/16004

[2021-05-23 05:36] sktrinh12 commented on #13905
I tried going into the docker container (webserver) and did `pip install docker -U` and it gave me:
[code]
I'm using the production ready docker-compose.yml from the website running on ubuntu 20.04. Anything else I should try?

[2021-05-23 05:53] potiuk commented on #13905
You will have to wait for the next provider's release (which is going to happen in ~ week)

This issue have been solved in https://github.com/apache/airflow/pull/15731

This change was mostly about removing the unnecessary limitation, and seems that upgrading just docker package should fixit. A very dirty trick if you want to try it (but this is by no means a recommendation as a fix, just somethin

[2021-05-23 08:03] hafid-d commented on #15978
@ephraimbuddy below are some logs I got from my scheduler. It keeps running as a a daemon and the logs are written well in `airflow-scheduler.out` but no new logs in `airflow-worker.out` since the one I sent in my post.
[code]

[2021-05-23 08:41] potiuk opened #16007 "Masking passwords with empty connection passwords make some logs unreadable in 2.1.0"
Discovered in this [Slack conversation](https://apache-airflow.slack.com/archives/CCQ7EGB1P/p1621752408213700).

When you have connections with empty passwords masking logs masks all the character breaks:
[code]

Until this is fixed, an easy workaround is to disable masking via disabling sensitive connection masking in configuration:

[code]

or vial env variable:

[code]

This is only happening i

[2021-05-23 08:41] potiuk commented on #16007
Possibly we should only mask password longer than X characters (for example 3 or 5) - masking shorter passwords does not improve security much but it can cause some really weird logs.

@ashb  WDYT?

[2021-05-23 09:34] stavhaco opened #16008 "GoogleCloudStorageToBigQueryOperator reads string as a list in parameter source_objects"
**Apache Airflow version**:1.10.12
**Environment**: google cloud composer

**What happened**:
When using GoogleCloudStorageToBigQueryOperator and providing string as parameter source_objects, the process is iterating on a the string as a valid list.
For example -
`cloud_storage_to_bigquery = GoogleCloudStorageToBigQueryOperator(
        bucket = 'bucket',
        source_objects = 'abc',
    )`
Wil

[2021-05-23 09:41] andormarkus commented on #16001
Hi @hsnprsd
Please can you share your logs configuration?

[2021-05-23 09:47] turbaszek opened #16009 "DagRun triggered via API stuck in running state"
**Apache Airflow version**: v2.2.0.dev0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:
Breeze + postgres

**What happened**:

Originally reported on [StackOverflow](https://stackoverflow.com/questions/67657260/using-airflow-restapi-to-trigger-dag-doesnt-work-but-clicking-in-ui-does).

It seems that triggering a dag run via API with execution date r

[2021-05-23 09:48] hsnprsd commented on #16001
Here it is:
AIRFLOW__LOGGING__REMOTE_BASE_LOG_FOLDER: s3://airflow-logs
AIRFLOW__LOGGING__REMOTE_LOG_CONN_ID: airflow-logs
AIRFLOW__LOGGING__REMOTE_LOGGING: "True"

But it does not matter. I tested it without remote logging and it does not work.

[2021-05-23 09:49] andormarkus opened #16010 "Helm chart: How to enable HTTPS connection"
**Apache Airflow version**: 2.0.2
**Helm chart version**: 1.0.0
**Kubernetes version**: 1.20

**What happened**:
I have tried to enable HTTPS connection, however when I enable it liveness and readiness probes are failing

[code]

**How to reproduce it**:
Helm chart myconf.yaml looks like this

[code]

[2021-05-23 09:50] hsnprsd commented on #16001
I came up with a solution today.
I changed the default logging config class like this:

[code]

[2021-05-23 09:54] andormarkus commented on #16001
If you are using remote logging then "Note that logs are only sent to remote storage once a task is complete (including failure); In other words, remote logs for running tasks are unavailable (but local logs are available)." [source](https://airflow.apache.org/docs/apache-airflow/stable/logging-monitoring/logging-tasks.html)

[2021-05-23 09:55] hsnprsd commented on #16001
@andormarkus I said. It does not work without remote logging either.

[2021-05-23 09:59] turbaszek commented on #16009
Ok, it seems that the problem is in fact that I'm triggering a DAG with date other than in UTC timezone, so the execution data is in future:
<img width="1666" alt="Screenshot 2021-05-23 at 11 58 27" src="https://user-images.githubusercontent.com/9528307/119255859-34443e00-bbbe-11eb-88ec-b13ae55082ed.png">

I'm not sure if this is expected behaviour. WDYT @kaxil @jhtimmins ?

[2021-05-23 10:25] asimerel commented on #16001
Hi @andormarkus ,
I have the same problem, it is not about remote logging. Remote logs are available after the task completed as expected.
The logs are not available while the task is running with KubernetesExecutor from UI because UI is looking for pod logs of the kubernetes pod that running "airflow task run" command. But that pod doesn't expose task logs to console. So UI only see Filling up th

[2021-05-23 10:51] potiuk commented on #16010
I believe all the deployments in K8S should be done using http (or if istio is enabled they can be additionally protected via mTLS. I think the usual pattern of providing SSL deployment is via external proxy/gateways, especially that they can then provide additional authentication mechanism (Oauth/client certificates etc.) which can be configured outside of Airflow and even provide single authenti

[2021-05-23 11:05] eladkal commented on #16008
`GoogleCloudStorageToBigQueryOperator` is deprecated. Please use `GCSToBigQueryOperator` from providers.
Note that `source_objects` expect `list` not `str`. You should set `source_objects = ['abc']`

[2021-05-23 11:46] Sanchit112 commented on #11208
Hey, could you check out this article I've written and let me know if any changes are required
[Airflow_airtcle.md](https://github.com/apache/airflow/files/6528007/Airflow_airtcle.md)

[2021-05-23 11:50] stavhaco commented on #16008
@eladkal seems like the behaviour is the same in GCSToBigQueryOperator.
I get that the parameter should be set as `source_objects = ['abc']` but shouldn't I expect type error when setting it to `source_objects = 'abc'`? instead of iterating on the chars of the string and looking for different paths based on it?

[2021-05-23 11:52] eladkal commented on #16008
PRs are welcome :)

[2021-05-23 12:24] mik-laj commented on #16010
You just don't need to configure Nginx, but you can configure SSL in Ingress. This will also allow certmanager to automatically manage the certificates.

Example:
[code]
See: https://cert-manager.io/docs/usage/ingress/

[2021-05-23 12:39] stavhaco commented on #16008
@eladkal Alright. Can this be assigned to me?

[2021-05-23 12:42] andormarkus commented on #16010
Hi @potiuk and @mik-laj

Thank you for the idea to shifting the SSL into the Ingress. We are using AWS Load Balancer Controller which supports ingress side certificates. I think more people might have the same issue who are new into Kubernetes and Airflow. Can we extended [Helm chart documentation](http://airflow.apache.org/docs/helm-chart/stable/index.html) with mik-laj's recommendation?

I have

[2021-05-23 12:44] eladkal commented on #16008
You can just open a PR
BTW probably a better solution would be to allow `str or List[str]` rather than raise error.

[2021-05-23 12:58] Patil2099 commented on #15994
I would love to take this up @turbaszek

[2021-05-23 13:02] mik-laj commented on #16010
Good idea. Are you willing to submit a PR? I'm happy to help. with review.

CC: @marclamberti

[2021-05-23 13:22] #15962 closed

[2021-05-23 13:28] mik-laj commented on #16000
@Anirudhaagrawal I working on this bug. Can you check my PR? https://github.com/apache/airflow/pull/16004

[2021-05-23 13:53] waleedsamy commented on #14101
I'm kinda of experiencing similar issue. In airflow 1.10.12 when a task failed, killed or the executor running it killed (zombie task?) it will but to retry if retries > 1. But this seems to not be the case with v2.1.0. when a task killed it mark it as failed and does not retry at all.

[2021-05-23 14:03] ashb commented on #16007
I thought I had an `if conn.login` guard. I guess not.

We could have a minimum length, but I'm generally adverse to adding extra config options without a strong need as each one we add makes understanding airflow harder

[2021-05-23 14:10] turbaszek commented on #15994
@Patil2099 I assigned you to this ticket 👏

[2021-05-23 14:16] ephraimbuddy commented on #16007
I discovered that if fernet key is not set, you cannot view connections on the UI when load_example dags is True. Maybe it’s related to this issue?

Steps to reproduce:

1. create virtualenv & activate it
2. Run python setup.py develop & airflow standalone.
2. Visit connections on the UI and you’ll get an error

[2021-05-23 14:43] marclamberti commented on #16010
Thanks for noticing me :)
I will update the course

[2021-05-23 16:26] andormarkus opened #16013 "CLI 'kubernetes cleanup-pods' fails on invalid label key"
Apache Airflow version: 2.0.2
Helm chart version: 1.0.0
Kubernetes version: 1.20

**What happened**:
Airflow airflow-cleanup cronjob is failing with the error below. When I run the same command form the webserver or scheduler pod I got the same error.

[code]

**How to reproduce it**:
Create and airflow deployment with Helm chart
Enable automatic cleanup
[code]

Run command `airflow kubernetes  cl

[2021-05-23 17:07] #16000 closed

[2021-05-23 17:51] potiuk commented on #16010
Yep. It would be great to submit a pr @andormarkus . And yeah. Ingress is even better than having your own proxy.

[2021-05-23 18:15] potiuk commented on #16007
I think it is not that - the user in Slack discussion mentioned that it was only in some "Task" logs, which suggests that this was when particular connections was used. I am not 100% sure about the path to reproduce it indeed however, but empty "password" looks like a very probable (and quite valid) case.

I had a quick look at the PR and have not found any guard - that's why I raised it :). But t

[2021-05-23 19:10] #10523 closed

[2021-05-23 21:50] mik-laj commented on #16013
CC: @XD-DENG

[2021-05-23 22:01] andormarkus opened #16016 "Helm chart: All task pods are terminating with error while task succeed"
**Apache Airflow version**: 2.0.2
**Kubernetes version**: 1.20
**Helm chart version**: 1.0.0

**What happened**:
Successful task pods are terminating with error.

I did not have this error with the [old airflow-helm](https://artifacthub.io/packages/helm/airflow-helm/airflow) chart. The official helm chart was redeployed into a fresh EKS cluster.
**Update:** It does not have this issue because uses

[2021-05-23 22:12] XD-DENG commented on #16013
This is interesting, because it seems like the error arises because of selecting pods using an invalid label key. However, according to [the Airflow 2.0.2 related CLI code](https://github.com/apache/airflow/blob/2.0.2/airflow/cli/commands/kubernetes_command.py#L93-L109), all keys we used align with the legal pattern `([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9]` (and they are all the label keys create

[2021-05-23 22:15] andormarkus commented on #16013
Hi @XD-DENG, Im more than happy to provide related information however I need guidance how to provide it.

[2021-05-23 22:25] XD-DENG commented on #16013
Thanks @andormarkus

Something I have in mind may be a sample pod yaml in your environment, i.e. the output of `kubectl get pod your_pod_name -o yaml`, something like that (`status` part in the yaml is not necessary; **if you can provide it, please do remember to mask/remove the potentially sensitive information inside**)

(I'm a bit busy recently. If I don't get back here in the coming few days,

[2021-05-24 02:33] flolas opened #16017 "hardcoded base url in tree view's auto-refresh"
**Apache Airflow version**: 2.1.0

**What happened**:

When  UI airflow webserver is not in /, auto-refresh from tree view fails (because of hardcoded base url get )

tree.js
[code]

**What you expected to happen**:

use base_url for getting the real webserver path

[2021-05-24 06:18] hafid-d commented on #15978
[code]

I even cleared the Queued slots but everytime I rerun the dag, the tasks keep being there with the "queued" state just after the DagBag has been up :

[code]

[2021-05-24 06:22] egS27 commented on #15990
@jedcunningham Thanks for replying, I will provide updates soon.

[2021-05-24 06:39] andormarkus commented on #16013
I have attached the output of the cleanup pod. It does not matter if the script is running in a scheduler/webserver/cleanup pod

[code]

[2021-05-24 06:57] nitinpandey-154 commented on #13542
Environment:
- Airflow 2.1.0
- Docker : apache/airflow:2.1.0-python3.8
- Executor : Celery

I am facing the same issue again.  This happens randomly and even after cleaning up the tasks instances and/or restarting the container is not fixing the issue.

airflow-scheduler    | [2021-05-24 06:46:52,008] {scheduler_job.py:1105} INFO - Sending TaskInstanceKey(dag_id='airflow_health_checkup', task_id='

[2021-05-24 07:12] nitinpandey-154 commented on #15793
Have been facing the same issue with 2.1.0-python3.8 docker

[2021-05-24 07:32] udaygreddy commented on #10964
I have the same issue

[2021-05-24 07:46] XD-DENG commented on #16013
Hi @andormarkus , my bad that I should have made my request clearer: I meant a sample Pod running the Airflow task execution job (e.g. they should have labels like `airflow-worker`, `dag_id`, `airflow_version`, `kubernetes_executor`, etc.), so that we can better examine what's happening. Thanks.

[2021-05-24 10:44] egS27 commented on #15990
@jedcunningham
`True` is set for `enable_tcp_keepalive`
![image](https://user-images.githubusercontent.com/84581994/119336201-07635a00-bc96-11eb-8e1e-5e901ca3e197.png)

[2021-05-24 10:53] andormarkus opened #16020 "KubernetesExecutor: All task pods are terminating with error while task succeed"
**Apache Airflow version**: 2.0.2+
**Kubernetes version**: 1.20
**Helm chart version**: 1.0.0

**What happened**:
Successful task pods are terminating with error.

I have did further testing with different versions the see below my test results:
-  2.0.1-python3.8 - OK
-  2.0.2-python3.6 - NOK (helm chart default image)
-  2.0.2-python3.8 - NOK
-  2.1.0-python3.8 - NOK

<img width="1381" alt="Scre

[2021-05-24 10:55] andormarkus commented on #16016
Closing this bug because it is KubernetesExecutor related and updated bug report is filed in #16020

[2021-05-24 10:55] #16016 closed

[2021-05-24 11:53] slaupster opened #16021 "KubernetesPodOperator does not have any logs"
**Apache Airflow version**:
2.0.2

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
[code]

**Environment**:

- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): linux
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

With DEBUG logging on, when using a simple hello world `KubernetesPodOperator

[2021-05-24 12:11] enisnazif opened #16022 "PythonVirtualEnvOperator not serialising return type of function if False"
**Apache Airflow version**: 2.0.2

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): N/A

**Environment**: Ubuntu 18.04 / Python 3.7

- **Cloud provider or hardware configuration**: N/A
- **OS**: Debian GNU/Linux 10 (buster)"
- **Kernel** (e.g. `uname -a`): Ubuntu 18.04 on WSL2

**What happened**:

https://github.com/apache/airflow/blob/0f327788b5b0887c463cb83dd8f732245

[2021-05-24 12:15] uranusjr commented on #16022
Nice analysis! Would you be interested in sending in a pull request for this?

[2021-05-24 12:18] enisnazif commented on #16022
@uranusjr Thanks :) sure, happy to put in a PR

[2021-05-24 12:37] FyZzyss commented on #15635
I managed to run airflow 2.0 on the apple m1.
This was helped by upgrading docker to version [3.3.2](https://docs.docker.com/docker-for-mac/release-notes/#docker-desktop-332) with qemu support and [adding more resources to docker](https://github.com/puckel/docker-airflow/issues/631).

[2021-05-24 12:42] potiuk commented on #15635
Ah cool. Any special considerations?

[2021-05-24 12:59] FyZzyss commented on #15635
There were no more problems.

[2021-05-24 13:05] andormarkus commented on #16021
Hi @slaupster, do you experience this problem with `2.0.1` as well? Based on my experience `2.0.2` and up does not plays well together with Kubernetes

[2021-05-24 13:12] andormarkus commented on #16013
Hi @XD-DENG, this might related to version `2.0.2` and up. I have downgraded my version to `2.0.1` and it runs without problem. In #16020 I got other issue with `2.0.2` and up while `2.0.1` works without problem.

[code]

[2021-05-24 13:15] andormarkus commented on #16010
I'm more than happy to submit a pr, however I'm busy with migration to the official helm chart. Airflow version `2.0.2+` are causing so much headache. See #16013 #16020

[2021-05-24 13:21] vapiravfif opened #16023 "Running tasks marked as 'orphaned' and killed by scheduler"
**Apache Airflow version**:
2.0.2, 2.1.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
Server Version: version.Info{Major:"1", Minor:"17+", GitVersion:"v1.17.12-eks-7684af", GitCommit:"7684af4ac41370dd109ac13817023cb8063e3d45", GitTreeState:"clean", BuildDate:"2020-10-20T22:57:40Z", GoVersion:"go1.13.15", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:

-

[2021-05-24 13:26] potiuk commented on #16010
I see. Did you (by any chance) try 2.1 or manually upgrading `cncf-kubernetes` provider to 1.2.0? t

I think there are couple of issues fixed in `cncf.kubernetes` 1.2.0 version of the provider and at least one looks like might be fixing the labelling problem you explained (https://airflow.apache.org/docs/apache-airflow-providers-cncf-kubernetes/stable/index.html#id1) - you can see detailed list of

[2021-05-24 13:56] slaupster commented on #16021
I've only tried 2.0.0 for a PoC and I don't remember having this problem then but I'm not sure I would have needed to see the logs because it just worked.  I think [change](https://github.com/apache/airflow/pull/12342) that appears to cause the problem was in 2.0.0 so unless its some other interaction since then I don't see how its ever worked in 2.x

[2021-05-24 15:03] vdanilkin opened #16024 "airflow 2.1.0 - squares with tasks are aligned far to the right"
**Apache Airflow version**: 2.1.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.19.8

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

Opened the dag page. I saw that the task squares were shifted to the right to the end.

[2021-05-24 15:25] maxcountryman opened #16025 "AirflowException: Celery command failed on host: [...]"
**Apache Airflow version**: 2.1.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): N/A (ECS)

**Environment**: Production

- **Cloud provider or hardware configuration**: AWS ECS Fargate
- **OS** (e.g. from /etc/os-release): Ubuntu
- **Kernel** (e.g. `uname -a`):
- **Install tools**: poetry
- **Others**:

**What happened**:

Since Airflow 2.x we've seen Celery-related

[2021-05-24 15:42] cvsekhar commented on #12823
This issue is happening in the version
Version: v2.0.0
Git Version:.release:2.0.0+ab5f770bfcd8c690cbe4d0825896325aca0beeca also.

[2021-05-24 16:59] andormarkus commented on #16021
Do you see connection with #16001?

[2021-05-24 17:02] andormarkus commented on #16010
Hi @potiuk, I have tried the official helm chart 1.0.0 with Airflow 2.0.1, 2.0.2, 2.1.0 as well. Only 2.0.1 is working, 2.0.2 and 2.1.0 does not work mentioned in the related issues. As I checked Airflow 2.1.0 comes with `apache-airflow-providers-cncf-kubernetes==1.2.0`

[2021-05-24 17:30] potiuk commented on #16010
So we need to take a closer look then! Thanks for verifying.

[2021-05-24 17:56] potiuk commented on #15933
Yeah. It will be released in the next wave of providers. And I also think the [plyvel] extra is a good option especially that this is really just a dependency. The plyvel provider is still there it will just fail with missing import if it's not installed with extra (same as a number of other cases, where we have cross-provider dependency.

those dependencies so that they match each other?

Yeah. I

[2021-05-24 18:21] kaxil commented on #16010
Thanks @andormarkus We will take a look at those issues you have created

[2021-05-24 18:23] kaxil commented on #16020
cc @ephraimbuddy @Dr-Denzy   If you'll can pair up and take a look when you have time

[2021-05-24 18:35] gaom25 opened #16029 "Worker exited prematurely SIGTERM"
**Apache Airflow version**: 2.0.1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**: AWS EC2 t3.xlarge
- **OS** (e.g. from /etc/os-release): Debian
- **Kernel** (e.g. `uname -a`): 4.19.0-16-cloud-amd64 #1 SMP Debian 4.19.181-1 (2021-03-19) x86_64 GNU/Linux
- **Install tools**: docker standalone
- **Other

[2021-05-24 20:22] #16017 closed

[2021-05-24 20:44] mik-laj opened #16031 "More examples for docker-compose"
Hello,

Users are looking for docker-compose files that support other configurations, e.g. using LocalExecutor, MySQL and others.

We can prepare a wizard that will allow you to generate the necessary files, or simply add a few sample configurations and users will have to create less typical configurations themselves.

Related ticket
https://github.com/apache/airflow/issues/8605#issuecomment-75946

[2021-05-24 21:14] ephraimbuddy commented on #16020
Cool. @Dr-Denzy  let's try this tomorrow

[2021-05-24 23:39] slaupster commented on #16021
quite possibly.  I had an issue with the operator params that was resulting in a bad pod spec and I had to make the hack I did to see any logs at all.  I then fixed the problem but have left the hack in so I get logs in stdout/stderr of the KubernetesExecutor.  Unlike 16001 I could never see the logs anywhere when I had the problem, possibly because the error cuts that short ?  Where are you suppo

[2021-05-25 00:07] #15244 closed

[2021-05-25 07:01] potiuk opened #16035 "GCSToLocalFilesystemOperator from Google providers pre 4.0.0 fails to import in airflow 2.1.0"
The GCSToLocalFilesystemOperator in Google Provider <=3.0.0  had wrong import for apply_defaults. It used

[code]

instead of

[code]

When we removed `apply_defaults` in #15667, the base_sensor_operator import was removed as well which made the GCSToLocalFilestystemOperator stops working in 2.1.0

The import in base_sensor_operator will be restored in 2.1.1  and Google Provider 4.0.0 will work wi

[2021-05-25 07:08] JavierLopezT opened #16036 "Default args for different operators"
Sometimes, different operators share the same argument. For instance, SnowflakeOperator and MySqlOperator have both the argument `database`. It would be nice to be able to assign a different value for the arg in `default_args` depending on the operator. So the `default_args` dict would be something like this:

[code]

That way, if you have a few of both operators, you don't have to type the databa

[2021-05-25 07:47] alexInhert opened #16037 "allow using requirments.txt in PythonVirtualEnvOperator"
Currently the operator allows to set requirement as list that needs to be hard coded.
It would be nice if airflow can support reading from file directly (something similar to how operators read sql file)

[2021-05-25 07:51] JavierLopezT opened #16038 "Append Operator functionality"
The idea is to "append" operators to other operators without having to type the code of them. For instance, after every S3ToSnowflakeOperator, I want a SnowflakeOperator that makes an insert in a final table. So instead of doing the current way, coding both operators, you could do something like this:

[code]
And in the operators dependencies, it would be right after the operator it is appended to

[2021-05-25 07:57] Anirudhaagrawal opened #16039 "Kubernetes liveliness probe fails when changing from default port for Airflow UI from 8080 to 80 in Helm Chart."
**Apache Airflow version**: 2.0.2.

**Kubernetes version**:
[code]
**What happened**:

I added the following block of code to the user values in the helm chart and because of that, the pod failed to start because the liveliness probe failed.
[code]

[code]

**What you expected to happen**:
The liveliness probe should pass.

**How to reproduce it**:
Just change the default port for airflowUI from 8

[2021-05-25 08:14] david-woelfle opened #16041 "Explain why example docker-compose.yml file is not suited for production"
Hi everyone,

thank you so much for your outstanding work on this project! While going through the docs I found the section on [Running Airflow in Docker](https://airflow.apache.org/docs/apache-airflow/stable/start/docker.html), where a [docker-compose.yml](https://airflow.apache.org/docs/apache-airflow/stable/docker-compose.yaml) file is provided. In the header of the this file it is stated:

Cou

[2021-05-25 08:17] JavierLopezT commented on #16041
+1 to this explanation.

For the record, we are using docker-compose in production for almost 100 DAGs and our deployment is very very stable and good-performing.

[2021-05-25 08:23] groshevpavel opened #16042 "DAG Import Errors list items as collapsible spoiler-type at collapsed state"
**Description**

Perform a DAG Import Errors list items as collapsible spoiler-type at collapsed state.
Title of each spoiler block may be a first line of traceback error, dag_id or dag full filename (or pair of them)

**Use case / motivation**

When amount of DAG import errors becomes huge(see screenshot below) it is hard to find a necessary import error or maybe, compare errors of different DAGs

[2021-05-25 08:41] potiuk commented on #16041
Publishing something that is labelled as production ready is a lot of effort, and the maintenance effort required by the community to maintain it is much bigger. That's why we have to be very careful with labeling something as "production ready" when we officially publish it as community. We have to be prepared to support all kind of users, respond to their issues and fix them and possibly add new

[2021-05-25 08:41] #16041 closed

[2021-05-25 08:53] david-woelfle commented on #16041
Thank you @potiuk for the detailed answer! Now it makes much more sense to me.

[2021-05-25 08:55] JavierLopezT commented on #16041
Crystal clear @potiuk It's OK for you if I open an MR with a summary of your words for including it in the docker-compose file?

[2021-05-25 09:20] potiuk commented on #16038
I think there are other mechanisms in Airflow that are better for that.

The default way of handling it (and much better IMHO) is to write your custom operator and reuse and compose Hooks instead of having chain of operators.

Vast majority (if not all) operators are written in the way that they almost transparently pass the parameters to underlying hooks for the very purpose.

Writing your own op

[2021-05-25 09:22] #16038 closed

[2021-05-25 09:24] potiuk commented on #16038
Closing it for now unless this is not good alternative and you want to re-open it @JavierLopezT .

BTW. For those kind of things it it better to open GitHub Discussion first. Then we can discuss it and mark answers as 'answers' without the hassle of closing/reopening issues. Issues are more for bugs or concrete features which we already know it makes sense to implement.

[2021-05-25 09:29] potiuk commented on #16041
Hmm i think it would have to be a general description rather than specific to docker-compose we have a couple of those 'not production ready' things in Airflow code and i am not sure even where to put it.

But maybe we could indeed make some words about it in README or smth. I am not sure what others think about it. Anyone from the @apache/airflow-committers  have an opinion ?

[2021-05-25 09:29] JavierLopezT commented on #16036
Closed for opening first a discussion

[2021-05-25 09:29] #16036 closed

[2021-05-25 09:38] pdavis156879 commented on #15965
@potiuk  can you re-open the issue?

[2021-05-25 09:44] mik-laj commented on #16041
This file is also missing a few things that make this docker-compose unsafe for production:
- [CPU/memory resource limit](https://github.com/compose-spec/compose-spec/blob/002f33d2fa78425cd31f096444280cc4c9daf445/schema/compose-spec.json#L518-L519)- Each. the container has access to all system resources
- SSL - The connection to the container should be encrypted by Traefik / other proxy, or we sho

[2021-05-25 09:50] mik-laj commented on #16039
It looks like a reaall bug. Are you willing to submit a PR with fix? We are probably changing the port in the container, but we should only do it in a service.

[2021-05-25 09:51] ashb commented on #16009
Expected behaviour I think.

[2021-05-25 09:53] mik-laj commented on #16039
https://github.com/apache/airflow/blob/master/chart/templates/webserver/webserver-service.yaml#L46
[code]
It should fix this bug. Can you check it?

[2021-05-25 09:54] Anirudhaagrawal commented on #16039
I checked the container logs It is using 8080 in the container.

[2021-05-25 09:55] Anirudhaagrawal commented on #16039
Let me check

[2021-05-25 10:01] Anirudhaagrawal commented on #16039
``

From my understanding, targetPort should be the default (8080) one. port: {{ .Values.ports.airflowUI }} seems correct. Correct me if I am wrong

[2021-05-25 10:04] potiuk commented on #16037
How about this (I know it's not perfect, but I think it should do the job):
[code]

[2021-05-25 10:08] ashb commented on #15985
There's a 404 error in there -- so something has gone a bit odd! Possibly a permissions error?

[2021-05-25 10:10] potiuk commented on #15965
Not really. The docker compose.yaml ONLY supports Postgres. It does not support sqlite. You can read more about why it is just a quick start and example and not anything that is customizable and supposed to work in various combinations here: #16041 . Also there is an issue about adding more examples (maybe one including sqlite as well in #16031 ) - so you can comment in that issue and maybe even y

[2021-05-25 10:10] uranusjr commented on #16037
The requirements file format supports some things that can’t be passed into the command line, so the open-readline approach can only partially solve the issue. Making things worse, the file format is internal to pip, so there’s no way for the user to parse it on their own, the file must be passed into pip. So some way to support this would be nice. (I think I read another issue on this before…?)

[2021-05-25 10:11] potiuk commented on #16031
Go for it @JavierLopezT ! PRs about it are more than welcome :).

[2021-05-25 10:12] potiuk commented on #16031
I think developing a wizard is a long-term thing, It has no high priority, and as explained in #16041  having it more "production ready" is much more effort than you could think.

[2021-05-25 10:13] DylanCuure commented on #15985
The service account used has admin permission. I don't know what this 404 error means

[2021-05-25 10:16] potiuk commented on #16037
Agree. Having a good, templated parameter could work. Now when I think obout it might actually be as simple as adding this to the operator and handling the case where requirement is also a string:

[code]

[2021-05-25 10:28] lf2foce commented on #14063
I got the same problem too, is it an issue?
My machine: MacOs 11.3, python 3.8.5, mysql 8, airflow 2.1.0

[2021-05-25 10:45] turbaszek commented on #16009
Closing as this seems to be an expected behaviour

[2021-05-25 10:45] #16009 closed

[2021-05-25 11:18] uranusjr commented on #16037
Or maybe we can do something similar to `bash_command`? If a `requirements` argument looks like a file (`os.path.isfile()` or contains `os.sep`), automatically insert a `-r` in from of it.

[2021-05-25 11:41] potiuk commented on #16037
I thinkl it the same feature we are talking about :).

The "template_ext" works in the way that it will read the file as string when the parameter has the extension registered there and it will automatically process the file trough the template engine, so you can add jinja-variables from context /xcom variables in the file. It's nuilt-in feature in BaseOperator

All that you need is in this case t

[2021-05-25 11:44] potiuk commented on #16037
If the parameter is not string or does not have the extension it is processed as usual (i.e. passing list of strings will continue to work - but it will additionally process the strings through template engine (since "requirements" will be in "template_fields" tuple) so you could also add jinja variables in the strings in the array and they will be interpolated.

[2021-05-25 11:55] alexInhert commented on #16037
But in this case you want the functionality of `template_ext` without the `template_fields`
There is no need to go through jinja engine

[2021-05-25 11:58] potiuk commented on #16037
But this might be very useful. For example you can use jinja variale for version of a dependency and get it from another task. or have conditional requirements.txt content based on dev/prod settings etc.

This is pretty useful feature IMHO.

[2021-05-25 12:05] pdavis156879 commented on #15965
I understand, but I'm not trying to use it with SQL Lite. I am using the default docker image, so shouldn't it automatically use the Postgres version? There is nothing in my docker-compose that references SQL Lite.

[2021-05-25 12:10] alexInhert commented on #16037
I think in your use case the whole requirement file is in fact not a requirement.txt but a value pushed to xcom by previous task.

[2021-05-25 12:12] Anirudhaagrawal commented on #16010
My issue is somewhat related. Airflow UI keeps redirecting me to HTTP instead of https.

I was following this.
https://airflow.apache.org/docs/apache-airflow/stable/howto/run-behind-proxy.html

I tried adding something like this
[code]
 But it gave me
[code]

[2021-05-25 12:27] kasisnu commented on #12562
Hi, is anyone working on this? I'd like to take this up if available. Bit new to airflow but familiar with Python. Could use some pointers about changes required. Thanks!

[2021-05-25 14:12] Junnplus commented on #16039
It seem probe check has nothing to do with service port, it is the behavior of kubelet to check health of container.

[2021-05-25 14:22] Junnplus commented on #16039
Hi @Anirudhaagrawal , I would like to know why change default port for airflowUI from 8080 to 80.

I found two problem:
1. Missing `.Values.config.webserver.web_server_port` when setting `.Values.ports.airflowUI` causes the health check to fail.
2. Gunicorn not starting when `.Values.ports.airflowUI` set to 80, because default user is airflow(non-privileged user).

[2021-05-25 14:33] eladkal commented on #12823
@cvsekhar can you check if it happens in 2.1.0?

[2021-05-25 14:36] cvsekhar commented on #12823
@eladkal sure, will post update after I upgrade to 2.1.0

[2021-05-25 14:43] andormarkus commented on #16010
@Anirudhaagrawal During my initial comment I was'n fully familiar with the helm chart values file. potiuk and mik-laj recommended: we should not use HTTPS inside kubernetes, it will fail on the liveness and readiness probes.

Recommended traffic flow looks like this:
internet --> HTTPS --> K8s ingress controller --> HTTP --> Airflow webserver

my configuration looks like this (AWS EKS with `aws-lo

[2021-05-25 14:53] ashb commented on #16007
@potiuk The guarding I am thinking of is in Connection, not in the masker (The top if here is in the `__init__` function):

https://github.com/apache/airflow/blob/9c98a60cdd29f0b005bf3abdbfc42aba419fded8/airflow/models/connection.py#L145-L151

The attack scenario you mentioned was also bought up by @uranusjr here https://github.com/apache/airflow/pull/15599#issuecomment-830104043 and my reply

How

[2021-05-25 14:54] ashb commented on #16007
Oh, I think I know -- I think they had something like this in their extra field:

[code]

That would do it.

[2021-05-25 15:02] CyberHippo opened #16056 "[Helm] Resources for the git-sync sidecar"
**Description**

It would be nice to be able to specify resources for the `git-sync` sidecar in the helm chart values.

**Use case / motivation**

I don't want to use keda for autoscaling and would like to setup a HPA myself. However this is currently not possible since it is not possible to specify resources for the `git-sync` sidecar.

**Are you willing to submit a PR?**

Yes, I am willing to su

[2021-05-25 15:29] Madaditya commented on #8907
This is happening to me too.

@ashb : Sharing my setup to provide details for reproduction.

**Kubernetes** : Azure Kubernetes Service (AKS).  v1.18.4
**Airflow version** : 2.0.1
Airflow exposed as LoadBalancer IP in Kubernetes > comes out a Azure load balancer.
Airflow helm used : https://github.com/apache/airflow/tree/master/chart

Screen below : (Shows every element on the html takes ~5 second

[2021-05-25 15:42] kaxil commented on #16010
I am going to close this ticket for now with https://github.com/apache/airflow/issues/16010#issuecomment-847929472 as the correct solution. For other issues  #16013 #16020 -- We will take a look and comment on those specific tickets

[2021-05-25 15:42] #16010 closed

[2021-05-25 16:05] potiuk commented on #16037
No. I am talking about "requirement.txt" file in which some values might be provided by XCom.

I can imagine this kind of requirement.txt file for example:

[code]

[2021-05-25 16:05] jordanjeremy opened #16060 "apply_defaults doesn't run for decorated task"
**Apache Airflow version**: 2.1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): N/A

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): Ubuntu 18.04.5 LTS
- **Kernel** (e.g. `uname -a`): Linux 4.4.0-18362-Microsoft #1049-Microsoft Thu Aug 14 12:01:00 PST 2020 x86_64 x86_64 x86_64 GNU/Linux
- **Install tools**:
- **

[2021-05-25 16:49] wolfier opened #16061 "Consider and add common sensitive names"
**Description**

Since sensitive informations in the connection object (specifically the extras field) are now being masked based on sensitive key names, we should consider adding some common sensitive key names.

`private_key` from [ssh connection](https://airflow.apache.org/docs/apache-airflow-providers-ssh/stable/connections/ssh.html) is an examples.

**Use case / motivation**

Extras field use

[2021-05-25 16:54] potiuk commented on #15965
Well this is at least what your log says: ``"sqlite3.OperationalError: no such table: dag\n"`` - so likely somewhere, something modifies the variables to switch to sqlite - or maybe the variables are removed. Not sure what other modifications you have (image? docker-compose).

Did you run the "orignal" docker-compose and original image  before and after your modifications to see if it's your modif

[2021-05-25 17:01] wolfier opened #16062 "Unable to call logging.exception() in 2.1.0"
**Apache Airflow version**: 2.1.0

**What happened**:

When I tried to call `logging.exception()`, the task instances fails.

[code]

<details>
 <summary>task failure stack strace</summary>

[code]

</details>

**What you expected to happen**:

I expect an exception message to be printed out.

**How to reproduce it**:

1. Create a simple DAG that calls `logging.exception()`
2. Execute the function

[2021-05-25 17:19] potiuk commented on #16007
Why don't we do a bit "smarter' formatting. I know it's adding complexity but I think it could work better if for short passwords (1-3 letters) we only replace whole words. That would require a regexp matching (so lilkely slower with [\W^]PASS[\W$] or smth. but it would handle all the cases where we have `password:ab` or `ab`. Again - not very strong on it the empty case handles most problems, the

[2021-05-25 17:29] kaxil commented on #16009
Oh yea expected behaviour

[2021-05-25 17:36] potiuk commented on #16056
Go for it @CyberHippo

[2021-05-25 18:01] grassten opened #16068 "Snowflake hook doesn't parameterize SQL passed as a string type, causing SnowflakeOperator to fail"
**Apache Airflow version**: 2.1.0

**What happened**: The new Snowflake hook run method is not taking parameters into account when the SQL is passed as a string; it's using Snowflake connector's execute_string method, which does not support parameterization. So the only way to parameterize your query from a SnowflakeOperator is to put the SQL into a list.

https://github.com/apache/airflow/blob/30

[2021-05-25 18:18] dimon222 commented on #9975
Any solution for this?
Its significant difference that blocks me from upgrading from 1.10.15 to 2.x tree. Old "unstable" API didn't suffer from such.

[2021-05-25 18:29] potiuk commented on #16068
Would you be willing to submit a fix @grassten ? Happy to review and merge it,

[2021-05-25 18:31] #16007 closed

[2021-05-25 18:33] #14154 closed

[2021-05-25 18:49] madison-ookla opened #16071 "Secret masking fails on io objects"
**Apache Airflow version**: 2.1.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): N/A

**Environment**: *NIX

- **Cloud provider or hardware configuration**: N/A
- **OS** (e.g. from /etc/os-release): N/A
- **Kernel** (e.g. `uname -a`): N/A
- **Install tools**:
- **Others**:

**What happened**:

Due to the new secrets masker, logging will fail when an IO object is pas

[2021-05-25 18:52] potiuk commented on #8907
Honestly it looks like some kind of connectivity/configuration problem of your browser/system configuration (and it's very similar with the original request of @sylr). If you look at @sylr screenshot - not only static code there takes ~5s to load but it also takes as long when those are   "cached" already. Also, if you look at the times they are all very similar to each other and for me it looks l

[2021-05-25 19:48] #16042 closed

[2021-05-25 20:20] #16024 closed

[2021-05-25 22:49] dsynkov commented on #15335
This seems to be resolved by https://github.com/apache/airflow/pull/14061 with the `2.1.0` release; closing this issue.

[2021-05-25 22:49] #15335 closed

[2021-05-25 23:10] superp0tat0 opened #16076 "Airflow will crash python when call urllib.request.urlopen()"
**Apache Airflow version**:
2.1.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**: Apple
- **OS** (e.g. from /etc/os-release): macOS 11.3.1 (20E241)
- **Kernel** (e.g. `uname -a`): Darwin siyis-MacBook-Pro.local 20.4.0 Darwin Kernel Version 20.4.0: Thu Apr 22 21:46:47 PDT 2021; root:xnu-7195.101.2~1/RE

[2021-05-26 00:05] grassten commented on #16068
@potiuk I'm wondering if we should split the passed sql param and then parameterize the resulting queries, or stop splitting the string altogether (splitting was implemented recently in #15533). To split the string I think we could use `from snowflake.connector.util_text import split_statements`; that's what's used by execute_string in the Snowflake connector. (I have that in a PR in my fork [here

[2021-05-26 00:11] #14619 closed

[2021-05-26 02:05] density commented on #13824
We're also experiencing this issue with ECSOperator and CloudWatch logging. Changing `stopTimeout` in our ECS config didn't fix the issue and it doesn't seem to always set the DAG run to failed for us like it does for @Miksu82.

[2021-05-26 02:14] Anirudhaagrawal commented on #16039
@Junnplus
I also do not care about the container I just wanted to expose the service on Kubernetes on 80 port as all our other services are exposed on 80 port on Kubernetes and we wrote some generic code on top of that assuming services are running on 80 port. From https://airflow.apache.org/docs/helm-chart/stable/parameters-ref.html#ports I assumed it does that.

[2021-05-26 03:56] doowhtron opened #16078 "Queued tasks become running after dagrun is marked failed"
**Apache Airflow version**: 2.1.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): centos7
- **Kernel** (e.g. `uname -a`): 3.10.0
- **Install tools**:
- **Others**:

**What happened**:

A dagrun has some tasks which are in running and queued status because the conc

[2021-05-26 04:07] Junnplus commented on #16060
`apply_default` is moved to metaclass of operator, it not process the signature of the `python_callable` for `DecoratedOperator` to fill in `op_kwargs`.

We can preprocess the padding of `default_args` before https://github.com/apache/airflow/blob/master/airflow/decorators/base.py#L206 like `dag` decorator.

[2021-05-26 04:10] jhtimmins commented on #16060
@Junnplus are you interested in taking this one on?

[2021-05-26 04:12] jhtimmins commented on #15596
@kaxil @ashb Should DAGs deleted via the UI actually be re-added if the file still exists? That seems to defeat the purpose of deleteng

[2021-05-26 04:16] jhtimmins commented on #15476
@metropolis-ameer are you interested in taking this on? We can target the next release with this.

[2021-05-26 04:20] jhtimmins commented on #15457
@leonsmith are you interested in fixing this? We can target the next release with the fix

[2021-05-26 04:23] jhtimmins commented on #15456
@Dr-Denzy you still want this one?

[2021-05-26 04:36] #16076 closed

[2021-05-26 04:37] superp0tat0 commented on #16076
I think this issue is more relate to other libraries instead airflow. So I decide to close them, sorry for the inconvenience.

[2021-05-26 04:38] jhtimmins commented on #15439
@arbass22 do you want to take this on? If so we'll target the next release with the fix.

[2021-05-26 04:41] jhtimmins commented on #15036
@eladkal were you able to validate this? Just trying to get an idea what the status is

[2021-05-26 04:50] doowhtron opened #16079 "NameError: name `conf` is not defined in configuration.py after upgraded to 2.1.0"
**Apache Airflow version**:

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):centos7
- **Kernel** (e.g. `uname -a`): 3.10.0
- **Install tools**:
- **Others**:

**What happened**:

After upgraded from 2.0.1 to 2.1.0, airflow fails with the error:
[code]

I have mask

[2021-05-26 06:17] Junnplus commented on #16060
Doesn't seem to be reliable. I can try fix this in other ways.

[2021-05-26 07:03] maryampashmi commented on #15775
@ephraimbuddy sorry , misspelling. it is V2.0.2.

[2021-05-26 07:07] maryampashmi commented on #15775
@ephraimbuddy
I have the same issue.

Something bad has happened.
Please consider letting us know by creating a bug report using GitHub.

Python version: 3.8.8
Airflow version: 2.0.2
Node: airflow-web-5b784dff49-lw4q5
-------------------------------------------------------------------------------
Traceback (most recent call last):
  File "/home/airflow/.local/lib/python3.8/site-packages/flask/app.

[2021-05-26 07:08] eladkal commented on #15036
I wasn't able to reproduce but I think it's related to the dynamic start_date used in the DAG which is a bad practice and can lead to all kind of undesired behavior.
`start_date = now - timedelta(days=1)`

I tend to close this issue

[2021-05-26 07:12] tandelDipak commented on #13691
@eladkal I haven't worked on it yet. I'm really sorry.  Will update you if I find time to work on it.

[2021-05-26 07:23] maryampashmi commented on #9606
@kaxil thank you . I am passing a sql file actually. I understand with this , I can't send a path+file name over. and I have to write a function which is reading the sql script. As the sql type is just a list or str.

[2021-05-26 07:36] nathadfield commented on #9975
@dimon222 Looks like it is on the 2.1.1 release milestone.  I was hoping it would be fixed as part of 2.1 but we'll have to wait a bit longer.

[2021-05-26 08:29] alexInhert opened #16081 "Add dashboard to see DAGs (system wide status) overview"
Airflow is great in a specific DAG checks. Meaning if you know there is an issue with a specific DAG you have everything you need to check what is going on but if you have a system of 1000+ dags your needs are a bit different.
It's missing some kind of dashboard that will show what is going on in system wise manner.
For example:
TOP X dags that are still in running mode
Pools that are max occupied

[2021-05-26 09:07] eladkal commented on #13691
OK closing for now.
When you do find the time just open a draft PR.

[2021-05-26 09:07] #13691 closed

[2021-05-26 09:09] casra-developers commented on #10388
In our company we have now a setup where we use Ubuntu server to host Airflow (Web-Server, Dask-Scheduler) and a Windows Server as Dask-Worker. We need the tasks to run on Windows since there are some dependencies in them that cannot easily be ported to other platforms. Since the Dask-Worker also needs to have Airflow installed we had to clone the repository and add some extensions to deal with al

[2021-05-26 09:16] potiuk commented on #10388
Absolutely! I think that might be great thing to add to Airflow. Maybe  you would like to open a PR about this  (cc: me) with your changes and we can discuss how to approach it.

[2021-05-26 09:28] leonsmith commented on #15457
I don't mind having a go, it is pretty low on my list though as we worked around it by cancelling running tasks when switching executors.

[2021-05-26 11:03] Sanchit112 commented on #11208
![Pasted image 20210523112530](https://user-images.githubusercontent.com/35194828/119649304-1b4abf80-be40-11eb-8632-64f0d2c7dbb2.png)
![Pasted image 20210523112355](https://user-images.githubusercontent.com/35194828/119649317-1d148300-be40-11eb-9525-33ecf7eb6181.png)

[2021-05-26 11:15] casra-developers commented on #10388
Great to hear! We will need a bit of time since we only cloned the repository and have not forked it yet. I will check with my team mates and create a PR as soon as I have the time. Thanks.

[2021-05-26 11:20] potiuk commented on #10388
Looking forward to it. Today we've merged official MSSQL support so seems we are getting friendler for Microsoft :)

[2021-05-26 11:28] #16022 closed

[2021-05-26 12:45] argibbs commented on #15596
Couple of thoughts on this:
1. Re-adding the DAG is useful; I consider it functionality equivalent to selecting all existing dag runs and deleting them. If I want the dag gone, I'll remove the underlying file first. Changing this would be a major departure.
2. The fact the dag is not re-added is (slightly) missing the point. The problem is that the SLAs trigger a feedback loop that prevents the da

[2021-05-26 12:46] casra-developers commented on #10388
We have a go, I will create a fork and CC you @potiuk  in the PR. There is probably a lot of things we need to do since the only goal was to implement enough functionality for Dask to run properly.

[2021-05-26 13:22] Patil2099 commented on #15994
I am not an expert with regular expression. Can you help me with the regular expression?

[2021-05-26 13:25] gcalmettes commented on #15601
Hitting the same behavior after successful login via OIDC
![image](https://user-images.githubusercontent.com/1042512/119667327-7b3c6880-be36-11eb-8b98-06650b121496.png)

[2021-05-26 13:38] pparthesh commented on #13692
Getting the same issue.

[2021-05-26 13:58] zachliu commented on #9975
@nathadfield well, it was on the 2.0.1 milestone :joy:

[2021-05-26 14:05] potiuk commented on #10388
We can do it in stages as well. Happy to introduce some parts and see if this needs/can be replicated elsewhere.

[2021-05-26 14:06] potiuk commented on #10388
We also want probably to add some tests in the CI of ours to run on Windows. GitHub supports Windows runners as well so I am happy to work on incrementally adding more tests and run them in our CI.

[2021-05-26 14:08] #16056 closed

[2021-05-26 14:56] ashb commented on #15596
It didn't used to be possible to delete a dag when the file style existed.

(Which led to problems with multi-dag files)

[2021-05-26 15:02] dimonchik-suvorov opened #16087 "Backfill shouldn't interfere with scheduled run"
Example:
DAG structure:
[code]

1. Scheduler creates a DagRun and starts Task Instances processing
2. Scheduler starts “task1” and “task3”
3. At the same time a backfill started for single task - "task3"

Backfill updates scheduler’s DagRun DB table row and scheduler forgets about “task2” and it never gets triggered. Also the DugRun will stuck in the "running" state because backfill will not finis

[2021-05-26 15:07] casra-developers commented on #10388
Glad to hear it. We work mainly on Azure-DevOps so we are not very familiar with testing and CI tools on GitHub, but happy to learn. I have created the fork and started with implementing the changes. How would you go about step-wise integration?

[2021-05-26 15:21] anitakar commented on #15306
At least for Airflow 1.10.15 not using serialization leads to very ineffective task execution in which the whole dagbag is parsed locally before a task is executed.
Here is the excerpt from the code/stacktrace that proves my point:
1. `airflow worker` command starts celery_executor (https://github.com/apache/airflow/blob/1.10.15/airflow/bin/cli.py#L1554)
2. Then worker executes `airflow tasks run`

[2021-05-26 15:36] potiuk commented on #16068
@mobuchowski  - WDYT?

[2021-05-26 15:45] JavierLopezT commented on #15649
I have upgraded the Dockerfile to 2.1.0, made `docker system prune -af` and `airflow db reset` as well as `airflow db init` several times. I don't have anymore the error in the first post, but I do have one very similar:
![Captura de pantalla 2021-05-26 a las 17 38 34](https://user-images.githubusercontent.com/11339132/119690595-1d198080-be4a-11eb-849b-4c24b35204a9.png)
And the DAG works perfectly

[2021-05-26 15:49] JavierLopezT opened #16090 "Contradictory default in store_dag configuration reference"
https://airflow.apache.org/docs/apache-airflow/stable/configurations-ref.html#store-dag-code

![Captura de pantalla 2021-05-26 a las 17 47 56](https://user-images.githubusercontent.com/11339132/119691160-a2049a00-be4a-11eb-8f55-0ad2c6117620.png)

The Default is True or None?

[2021-05-26 16:01] grepthat commented on #13542
I noticed, that **statsd** reports _0 queued task_, whereas the WebUI has **>10 queued tasks**. I'm on Airflow 2.1.0, using k8s Executor. The queued tasks are also not registered in k8s, as _Pending_ pods or so.

[2021-05-26 16:21] potiuk commented on #16090
The default value is sort of `Trueish` . Thanks :). PR to fix it on its way

[2021-05-26 16:28] cleveritcz opened #16094 "Can't see connection type OpsGenie"
Hello,
I tried to get work Apache Airflow with OpsGenie in docker container.

I installed apache-airflow-providers-opsgenie but still I can't see in Connections option for OpsGenie. Or what should be happened when is installed. Documentation is missing. I also don't know if it is python 2 or python 3. I installed it for both versions.

Could you help me, please?

[2021-05-26 16:35] potiuk commented on #16094
The current OpsGenie provider uses HTTPConnection. There is nothing special for OpsGenie there. However there is a change  coming and in the next version of OpsGenie provider, you will see OpsGenie as separate connection:

See https://github.com/apache/airflow/pull/16048

[2021-05-26 16:39] cleveritcz commented on #16094
ok, thanks

[2021-05-26 18:46] MatrixManAtYrService commented on #13542
While trying to recreate this, I wrote a [stress test](https://github.com/MatrixManAtYrService/airflow-git-sync/blob/master/scheduler_stress.py) which I ran overnight on my local microk8s cluster (airflow v2.0.1, release:2.0.1+beb8af5ac6c438c29e2c186145115fb1334a3735 configured like [this](https://github.com/MatrixManAtYrService/airflow-git-sync/blob/master/zsh.stdin)).

I was hoping that it would

[2021-05-26 19:47] lfreina commented on #15305
I have now updated my instance to Airflow 2.0.2 and this bug is still present. So I would like to reopen this issue. :+1:

[2021-05-26 21:49] turbaszek commented on #15994
Sure, what we would like to check? What words?

[2021-05-26 22:54] mik-laj commented on #16071
Cc: @ashb

[2021-05-26 23:08] theis188 commented on #16079
I noticed this issue when using both a secret for sqlalchemy conn, and a custom secrets backend. It existed in Airflow 2.1.0 when using these two (sqlalchemy conn secret, and a custom secrets backend), but not in 2.0.0, and not in 2.1.0 when using a static sqlalchemy conn string.

[2021-05-27 00:11] #15441 closed

[2021-05-27 00:26] ZackBarry opened #16101 "BigQueryHook `create_empty_dataset` missing `datasetReference`"
**Apache Airflow version**:
2.0.2

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
1.19

**Environment**:

- **Cloud provider or hardware configuration**: GKE
- **OS** (e.g. from /etc/os-release): Debian GNU/Linux 10 (buster)
- **Kernel** (e.g. `uname -a`): x86_64 GNU/Linux
- **Install tools**:
- **Others**:

**What happened**:

Using the `dataset_reference` argument

[2021-05-27 01:56] jhtimmins commented on #15596
Ok sounds like a fix is needed then. @argibbs are you interested in submitting a fix for this? If so we can get it in the next release (either 2.0.1 or 2.2.0).

[2021-05-27 02:05] jhtimmins commented on #15036
Thanks @eladkal.

@iameugenejo are you able to replicate this bug even if you remove the dynamic start_date? If not, I agree with @eladkal that we can probably chalk it up to the dynamic start date.

@kaxil Is it possible/desirable to add a check for dynamic start dates and to throw an error or warning?

[2021-05-27 02:07] hafid-d commented on #13542
Any update on this ? Facing the same issue.

[2021-05-27 02:24] hafid-d commented on #15369
Any update on this ? Facing the same issue

[2021-05-27 02:25] hafid-d commented on #15192
Any update on this ? Facing the same issue!

[2021-05-27 04:22] iameugenejo commented on #15036
Dynamic start_date is still there and the issue hasn't happened for the past few months, so it might not be about the dynamic start_date.

But since I'm not seeing the issue anymore, I don't mind closing this issue and reopening it when it occurs again

[2021-05-27 04:45] potiuk commented on #16079
@theis @doowhtron -> would it be possible that you double-check the fix I proposed in: https://github.com/potiuk/airflow/commit/19742c1ffe78b6547b5a3f373be82e7c788f18c0 - it's a simple change in "airflow/configuration.py"  - just moving the validation a little later in the config.

Would be great to verify that the fix works :)

[2021-05-27 04:46] potiuk commented on #16079
Ah. I see you updated the description @doowhtron and you'v come to the same fix I proposed :). Good

[2021-05-27 04:48] jhtimmins commented on #15036
@iameugenejo Sounds good. I'll close for now

[2021-05-27 04:48] #15036 closed

[2021-05-27 05:08] #16035 closed

[2021-05-27 05:14] potiuk commented on #16101
Would you be willing to provide a PR fixing it @ZackBarry ?

[2021-05-27 05:58] Junnplus commented on #16039
@mik-laj Should we allow configuration of container ports? If so, we may need to add a new container port value, which I don't think is necessary.

[2021-05-27 06:39] gkoller opened #16106 "Don't allow scheduler to run with DebugExecutor"
**Apache Airflow version**:

* 2.1.0
* 2.0.2
* 2.0.1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

n/a

**Environment**:

- **Cloud provider or hardware configuration**:
  - Thinkpad T480
- **OS** (e.g. from /etc/os-release):
  - FreeBSD 13.0
- **Kernel** (e.g. `uname -a`):
  - `FreeBSD ketoembar 13.0-RELEASE FreeBSD 13.0-RELEASE #0 releng/13.0-n244733-ea31abc261f

[2021-05-27 07:01] #16068 closed

[2021-05-27 07:09] potiuk commented on #16039
Agree. I think there is never a need to override the port. Kubernetes networking model make each POD has different IP address and you can have many pods listening on the same port even if they are running on the same machine in the cluster - and the way how you expose the port to outside world via ingress maps the external port to internal service/port number. I'd rather stick to non-configurable

[2021-05-27 07:16] nitinpandey-154 commented on #13542
Any solution or workaround to fix this? This makes the scheduler very unreliable and the tasks are stuck in the queued state.

[2021-05-27 07:16] potiuk commented on #16039
So just to clarify  - I think `airflowUI` should be possible to set to anything, but then the Airflow container port could be simply hard-coded to `8080`. No need to have configuration for that.

[2021-05-27 07:39] hafid-d opened #16107 "Airflow backfilling can't be disabled"
**Apache Airflow version**: 2.0.2

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

- **Cloud provider or hardware configuration**:
- **OS** :  Ubuntu 18.04.3
- **Install tools**: celery = 4.4.7, redis = 3.5.3

**What happened**:.
Noticed a weird behavior with Airflow backfilling: my previous dags are still queing and running even after doing the following :

- Settin

[2021-05-27 08:16] ohdearaugustin commented on #13542
We are facing the same issue, with the kubernetes executer. K8s: 1.19.3. We use the helmchart from https://airflow-helm.github.io/charts (8.0.6), which refers to Airflow Version 2.0.1.

[2021-05-27 09:09] casra-developers commented on #10388
I've added the [PR](https://github.com/apache/airflow/pull/16110). After playing around a bit I now know that while this works fine for a Dask-Worker, it does not if you want to run the Web-Server or a Scheduler on Windows just because of the process handling. There probably needs to be something like one more layer of abstraction to handle the execution of processes platform agnostic.

[2021-05-27 09:30] opendatakraken opened #16111 "Error reading command stream when executing git"
**Apache Airflow version**: 2.1.0

**Environment**:
- **OS**: CentOS 7
- **Kernel**: Linux app-tddo-pc1.fhm.de 3.10.0-1127.10.1.el7.x86_64 #1 SMP Wed Jun 3 14:28:03 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
- **Install tools**: pip
- **Others**:

**What happened**:

I have several Pods with Alpine OS, python 3.8 and AirFlow 2.1.0 that work perfectly.
I have some DAGs that perform a `git clone <repo_

[2021-05-27 09:34] potiuk commented on #16111
This likely comes with the way you have your authentication configured in Git. The error comes from transport helper which does authentication. If you are logged in interactively with your user it likely authenticates you using some of the native authentiction mechanisms of your system. Airflow workers do not work in interactive mode, so you have to make sure your authentication mechanisms work al

[2021-05-27 09:34] #16111 closed

[2021-05-27 09:36] potiuk commented on #16111
Some relevant discussions that might help you https://stackoverflow.com/questions/23563062/how-do-i-force-git-not-to-prompt-for-credentials

[2021-05-27 09:58] opendatakraken commented on #16111
But my git-url contains `username:password`:
https://username:password@mygitrepository/myproject.git

And why does it work in the alpineOS inside the pods but not on centos on the servers?
I didn't configure git credentials anywhere

[2021-05-27 10:07] potiuk commented on #16111
No idea. But if it works interactively and does not work in non-interactive airflow, it's likely the configuration of your git, not Airflow. Try it with cron job for example and see if you have the same problem. Solve it there - it will be solved by airflow as well.

[2021-05-27 10:14] potiuk commented on #16111
One reason might be also that your host is not in "known-host" file - which happens when you first time connect to the host. Then it will ask you whether it's ok to add it (and exit on airflow because there is no-one to confirm it) this can be solved by adding the host key manually or using `-o StrictHostKeyChecking=no`.

Yet another reason might be that the server closes the connection for some r

[2021-05-27 10:26] JavierLopezT commented on #15649
Another error
![Captura de pantalla 2021-05-27 a las 12 24 04](https://user-images.githubusercontent.com/11339132/119810641-818a1d80-bee6-11eb-951d-a8570d9aa05b.png)

The code is:
![Captura de pantalla 2021-05-27 a las 12 25 34](https://user-images.githubusercontent.com/11339132/119810771-a67e9080-bee6-11eb-8fc0-5aa734dad285.png)

I don't think this error should happen. For me, it seems that the s

[2021-05-27 10:49] ashb commented on #13542
If anyone has this problem, could you please send a SIGUSR2 to your scheduler process? That will cause it to print out some internal state that might help us track down this problem.

Also if anyone is able to _reliablely_ produce and able to share your dags that would help massively.

[2021-05-27 10:50] tothandor opened #16112 "List only a single level of TaskGroup in tree view"
**Description**

TaskGroups are somewhat replacements for SubDAGs, but with lower latency and better integration. But its major drawback to SubDAGs becomes apparent in tree view, where many "subtasks" makes a tree incomprehensible. A nested folder view we got used to with SubDAGs would solve that anew. Similar to directory trees, only a single level of task group (or path) should be listed.
The ro

[2021-05-27 10:50] nitinpandey-154 commented on #13542
How can we send SIGUSR2 to the scheduler process @ashb ?

[2021-05-27 10:56] ashb commented on #13542
`kill -USR2 <pid of scheduler>` -- how you get the pid depends upon how and where you are running it :)

Likely exec in to the container, run `ps auxww` and find the oldest scheduler processs (you'll see some sub processes, possibly named helpfully).

[2021-05-27 11:04] JavierLopezT commented on #15572
Do you know how could I "translate" your solution to a docker-compose? Thanks!

Also, the error for me is happening just with some dags, so it seems to be randomish or something.

[2021-05-27 11:15] potiuk commented on #15649
Are you running the "get_pandas_df" at the top-level of your DAG file? if so, then yes - scheduler will try to execute it while parsing the DAG. DAG is "imported" and "executed" by the scheduler regularly. All the processing should happen in the operator's "execute()'' methods (either operators you use or the custom operators you write).

[2021-05-27 11:27] JavierLopezT commented on #15649
No, nothing is in the DAG file but the definition of the operators, as the best practices state. The `get_pandas_df` is in a python file that is executed by a custom BashOperator.

[2021-05-27 11:41] ashb commented on #15649
Is the code where you have `redshift =` in the `py_get_query.py` file? If so the scheduler is still going to parse all python files to look for dags, and parsing = running any and all code at the top level of the file.

You can either add the non-dag python files to the .airflowignore file https://airflow.apache.org/docs/apache-airflow/stable/concepts/dags.html?highlight=airflowignore#loading-dags

[2021-05-27 11:41] #15649 closed

[2021-05-27 11:43] ashb commented on #16112
Could you show a screenshot of what you mean? TaskGroups can be nested inside each other (did you already know this?) so I'm not quite sure what you are asking.

[2021-05-27 11:50] ashb commented on #16106
Are you triggering running the scheduler and configuring it to run the DebugExecutor?

That is not the indented purpose of that (and we should disallow it) -- DebugExecutor is designed for running a single dag instead, like shown https://airflow.apache.org/docs/apache-airflow/stable/executor/debug.html

If you want to run the scheduler and not have it spawn processes, then use the SequentialExecot

[2021-05-27 11:52] Prajakta-Palve opened #16113 "Not able to access airflow-variables at worker"
I have deployed airflow on kubernetes where as webserver, scheduler, postgres and redis are on kubernetes but airflow-worker is on different server. Other tasks executes properly but if I am trying to access airflow-variables then it throws an error showing
**Variable Variable_Name does not exist**

But if I list airflow-variables via CLI  then it lists them
![Screenshot from 2021-05-27 17-25-39](

[2021-05-27 13:11] eladkal commented on #15322
Two related issues: https://github.com/apache/airflow/issues/8686 https://github.com/apache/airflow/issues/12611

[2021-05-27 13:13] ashb commented on #8686
Closing in favour of #12611 which is more general purpose.

[2021-05-27 13:13] #8686 closed

[2021-05-27 13:15] Jakobhenningjensen commented on #15286
If I may pitch an idea; instead of creating Venvs for each task/operator, what about creating a virtualdag e.g

[code]
such that `VenvDAG` spins up a venv where `t1` and `t2` lives in.

[2021-05-27 13:15] ashb commented on #12611
In response to someone asking this on the mailing list I proposed this API: https://lists.apache.org/thread.html/rcd7fbd99408f5cdc1cc09e8a1619b629743da158ecf4c9d0eeb411f1%40%3Cdev.airflow.apache.org%3E

[code]

Names can be changed/discussed, this is just a rough idea.

Using this approach means that a) We don't need to add a whole bunch of
new config, and b) it can be easily extended/created by p

[2021-05-27 13:16] ashb commented on #15322
Closing in favour of the more general purpose https://github.com/apache/airflow/issues/12611

[2021-05-27 13:16] #15322 closed

[2021-05-27 13:46] opendatakraken commented on #16111
I tried with cron and it works. I also tried a `git pull` from the same DAG and it works. It looks like only git clone doesn't work.
But I managed to solve the issue: the delivered git 1.8.3.1 looks too old, after upgrading to 2.30.1 everything looks fine.
Interactive/non-interactive, passwords, etc. don't play any role cause git executed through the BashOperator can use user/passwd defined in ~/.

[2021-05-27 13:53] mik-laj commented on #12611
I don't have time to look at the details, but I found a library that we can use to build notifications.
https://github.com/caronc/apprise
Is it compatible with your proposal?

[2021-05-27 14:13] ronmorgen commented on #11913
@kaxil
I'm new here. It would be great to be assigned

[2021-05-27 14:22] alete89 commented on #9342
This is like a key feature. I can't believe we currently don't have a way to set permissions to a group of DAGs. Tags may not be the best, but I think it could work, like "You can only see DAGs tagged with data-science tag".
Since this has not been added into 2.1, when are we expecting 3.0 to be launched? Can't we expect this to be merged sooner?

[2021-05-27 14:25] eladkal commented on #11913
@ronmorgen assigned to you

[2021-05-27 14:42] BwL1289 commented on #15938
commenting to keep UTD on this issue

[2021-05-27 15:06] ashb commented on #16071
@madison-ookla A temporary work around if you need it set https://airflow.apache.org/docs/apache-airflow/stable/configurations-ref.html#hide-sensitive-var-conn-fields to false

[2021-05-27 15:16] tothandor commented on #16112
Sure.

Here's a graph view collapsed and grouped with TaskGroup:
![image](https://user-images.githubusercontent.com/4449214/119849789-36cfcc00-bf0d-11eb-976b-dbcb22dcb496.png)

And here it is expanded:
![image](https://user-images.githubusercontent.com/4449214/119849911-55ce5e00-bf0d-11eb-88ea-09ee4b2a2fa8.png)

And the tree view (query names masked out):
![image](https://user-images.githubusercon

[2021-05-27 15:45] BenoitHanotte commented on #10026
I have started seeing the same issue since migrating to Airflow 2.1, never had it with Airflow 2.0.1 :thinking:

[code]

[2021-05-27 16:16] Junnplus commented on #16081
Sound awesome. I'm showing it on grafana by reading statsd metrics, is better that if airflow can provide dashboard.

[2021-05-27 16:24] lfreina commented on #13542
I am having more or less the same issue with Kubernetes Executor. I sent the SIGUSR2 to the scheduler and got this:

[code]

Not much info there. I am using a simple DAG here. The task just gets stuck in queued state but nothing happens. Maybe I am doing something wrong but no error is shown and this might point out the problem we are all experiencing here.
[code]

I did test this DAG in minikube

[2021-05-27 16:37] #15685 closed

[2021-05-27 16:37] #16079 closed

[2021-05-27 16:53] uranusjr commented on #16062
Oh, Ash already fixed this in #16047. This is a duplicate then.

[2021-05-27 16:57] #16062 closed

[2021-05-27 17:09] madison-ookla commented on #16071
Ah, thanks!

[2021-05-27 17:12] madison-ookla commented on #16071
@ashb unfortunately that setting seems to have no effect. If I set that to `False`, the logging still fails. I believe it's due to this line: https://github.com/apache/airflow/blob/2.1.0/airflow/cli/commands/task_command.py#L205

[2021-05-27 17:43] ashb commented on #16071
Hmm curious, be setting that of _should_ have disabled the redacting.

I'll look at what is going on there too

[2021-05-27 18:16] danielcrisap opened #16123 "Missing dags mount in WebServer"
**Apache Airflow version**: 2.1.0
**Kubernetes version:** `Server Version: version.Info{Major:"1", Minor:"19+", GitVersion:"v1.19.8-eks-96780e", GitCommit:"96780e1b30acbf0a52c38b6030d7853e575bcdf3", GitTreeState:"clean", BuildDate:"2021-03-10T21:32:29Z", GoVersion:"go1.15.8", Compiler:"gc", Platform:"linux/amd64"}`

**Environment:**
- **Install tools**: Helm
- **Cloud provider or hardware configur

[2021-05-27 18:36] metropolis-ameer commented on #15476
It may be a while (multiple months) before I could attempt it.

[2021-05-27 19:30] Alxander64 opened #16125 "KubernetesPodOperator env_vars Jinja Templates Not Used"
**Apache Airflow version**: v2.0.1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.16

**Environment**: Kubernetes (EKS)

- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**: Helm
- **Others**:

**What happened**:

Using task instance of KubernetesPodOperator as shown below, w

[2021-05-27 19:47] jhtimmins commented on #15476
@metropolis-ameer thanks, that's actually super helpful. We'll see if someone else can take this one

[2021-05-27 20:04] Alxander64 commented on #16125
Just wanted to add that I've also tried this example blow:

[code]

I still get the same result as I originally described. I just realized that this is what the type specification for initializing KubernetesPodOperator expects, but it made no difference.

[2021-05-27 20:23] #15018 closed

[2021-05-27 20:29] bbovenzi commented on #16112
Tell me if I got this right.

The other issue mentioned is to show only the TaskGroup and orphan tasks in the Tree View. Then this issue focuses on what happens when you click on a TaskGroup leaf: it renders a new tree of just the tasks of that TaskGroup like we do with SubDags.

If so, we should probably merge these two issues into a singular complete feature.

One thing I do not like with our Su

[2021-05-27 20:40] potiuk commented on #16113
you need to put a real variable name in there and not "Variable_Name"

[2021-05-27 20:40] #16113 closed

[2021-05-27 20:52] zachliu opened #16130 "Tree View is blocked by DagRuns status when showing all 356 DagRuns"
**Apache Airflow version**: 2.1.0

**Browsers**: Chrome and Firefox

**What happened**:

When showing all 365 DagRuns, they overlap with the "tree" on the left and we can't see the tree anymore

![2021-05-27_16-49](https://user-images.githubusercontent.com/14293802/119895246-8dd4a180-bf0b-11eb-90f8-eca8909cc739.png)

in addition, when "Auto-refresh" is ON, the whole DagRun status section is gone

[2021-05-27 21:00] danielcrisap opened #16131 "Missing dags mount in WebServer"
**Apache Airflow version**: 2.1.0
**Kubernetes version**: `Server Version: version.Info{Major:"1", Minor:"19+", GitVersion:"v1.19.8-eks-96780e", GitCommit:"96780e1b30acbf0a52c38b6030d7853e575bcdf3", GitTreeState:"clean", BuildDate:"2021-03-10T21:32:29Z", GoVersion:"go1.15.8", Compiler:"gc", Platform:"linux/amd64"}`

**Environment**:

- **Cloud provider or hardware configuration**: AWS
- **OS** (e.

[2021-05-27 21:00] #16123 closed

[2021-05-27 21:02] aliavni commented on #13322
I am having the same issue here on `airflow 2.0.2`. In my case, the dag works fine when deployed to the airflow server, but fails when I run or debug it in my IDE

The exception happens in this file `airflow/jobs/backfill_job.py:221` at the `ti_status.running.pop(reduced_key)` line. Right before the exception:

the value of `reduced_key` is:

[code]

and this is what I have in `ti_status.running`:

[2021-05-27 23:13] ephraimbuddy commented on #15488
I reproduced this in 2.1.0 by removing a dag while it's queued. Set default pool to 9.
Below is the dag I used and to reproduce it, you need to trigger the dag multiple times and then remove the dag.

[code]
Notice that when you remove the dag, queued tasks remain queued and the executor fails.
logs:
[code]
![Screenshot 2021-05-27 235108](https://user-images.githubusercontent.com/4122866/119906619

[2021-05-28 05:39] uranusjr commented on #15476
On 2.x this has been fixed in #16088.

[2021-05-28 05:40] uranusjr commented on #15476
The 1.10.x issue is different though and require a different fix.

[2021-05-28 06:49] potiuk commented on #15476
I am afraid it's not critical enough to make into our "critical fixes" policy for 1.10.* . And since 1.10 End-Of-Life is just around the corner (June) it's highly unlikely we will fix it. We recommend to migrate to latest 2.* Airflow to fix it (when released).

[2021-05-28 06:49] #15476 closed

[2021-05-28 07:36] JavierLopezT opened #16132 "Gantt chart for DAGs in UI"
The idea is to have a Gantt graph for the DAGs in the UI, so that you can see at what hours there are more overlaps, when you have a gap without any dag running, which ones are the most time consuming etc.

I think it could be done by taking the average execution time of the dag in the last X days from the metadata database or something like that. Also, for further precision, an outlier processing

[2021-05-28 08:43] eladkal commented on #16132
Seems like a duplication of https://github.com/apache/airflow/issues/8931

[2021-05-28 08:43] #16132 closed

[2021-05-28 11:15] uranusjr commented on #15286
That’s an interesting idea, but would require much more change since we don’t currently have a hook point for DAG to do pre-processing before operators are run.

Maybe something like this would be easier:

[code]

There are probably abstractions available to make this easier, but that’s the basic idea.

[2021-05-28 11:16] teaglebuilt opened #16135 "Associate DagRun to Kubernetes Pod"
**Description**

Run an entire dag on the kubernetes pod operator. There is a label called `reattach on restart` that designates the task back to the pod for execution in the event of a schedule failure, but it would be nice to have this feature in general for all tasks.

**Use case / motivation**

We might want to launch a pod to run an isolated environment for a dagrun but not want a pod spinned

[2021-05-28 11:24] kaxil commented on #15488
@lukas-at-harren  @alokgarg5 Can you try it with Master as recommended by @ephraimbuddy ?

[2021-05-28 11:31] motherhubbard commented on #16107
I had this issue also in 2.0.2. Ive just bumped to 2.1.0 and it seems to be fixed in there.

[2021-05-28 11:32] robin-cls commented on #15978
+1 for this issue, I am following how this unfold

[2021-05-28 11:55] JavierLopezT commented on #9638
Has this been solved with https://github.com/apache/airflow/pull/15599?

[2021-05-28 12:33] sweco opened #16138 "doc_md code block collapsing lines"
**Apache Airflow version**: 2.0.0 - 2.1.0

**Kubernetes version**: N/A

**Environment**:

- **Cloud provider or hardware configuration**: Docker on MacOS (but also AWS ECS deployed)
- **OS** (e.g. from /etc/os-release): MacOS Big Sur 11.3.1
- **Kernel** (e.g. `uname -a`): Darwin Kernel Version 20.4.0
- **Install tools**:
- **Others**:

**What happened**:

When a code block is a part of a DAG's `do

[2021-05-28 13:05] Patil2099 commented on #15994
Sorry for the late reply, I have to edit the regex in pre-commit to solve this issue right? @turbaszek.  I have to exclude all the words right? mentioned in  https://github.com/apache/airflow/issues/15994#issue-898308474

[2021-05-28 13:29] gkoller commented on #16106
Ah, that was it. Following those instructions I was able to use PyCharm's debugger on a DAG. Thank you!

[2021-05-28 13:29] #16106 closed

[2021-05-28 14:42] motherhubbard opened #16140 "Spark submit operator now broken"
**Apache Airflow version**:
2.1.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
N/A

**Environment**:

3.10.0-1062.1.2.el7.x86_64 #1 SMP Mon Sep 30 14:19:46 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

**What happened**:

Nasty stack trace:

[code]

**What you expected to happen**:

SparkSubmitOperator worked in 2.0.2 but not in 2.1.0. I suspect its related to the depr

[2021-05-28 14:47] motherhubbard commented on #16140
commenting out     @apply_defaults on line 118 of /airflow/providers/apache/spark/operators/spark_submit.py fixes this but i i wouldt not expect this to have broken

[2021-05-28 15:06] JPonte opened #16142 "Delete local logs when choosing remote logging"
**Description**

When remote logging is enable, logs are sent to S3/Google Cloud Storage/etc but never deleted from the local disk. This can be an issue when the disk space in the workers is limited.

**Use case / motivation**

Local logs should be deleted when upload to the remote services is successful.

**Are you willing to submit a PR?**

Yes.

**Related Issues**

Not that I'm aware of.

[2021-05-28 15:38] alex-kattathra-johnson commented on #11305
@rafaelvargas, was wondering if the Google IAP support is actively being worked on. If not, I'd be interested in giving it a shot!

[2021-05-28 16:17] maxcountryman commented on #13542
I'm on Airflow `2.1.0` deployed to ECS Fargate--seeing similar issues where they are 128 slots, a small number used, but queued tasks that aren't ever run. Perhaps relatedly I also see a task in a `none` state which I'm not able to track down from the UI. Cluster resources seem fine, using less than 50% CPU and memory.

<img width="1297" alt="Screen Shot 2021-05-28 at 9 15 32 AM" src="https://user

[2021-05-28 16:25] mik-laj commented on #11305
@alex-kattathra-johnson Assigned.  I also worked on IAP support, but never finished. I managed to write some system test code to check if the integration is working fine. Feel free to use it in your PR.
https://github.com/mik-laj/airflow/pull/35/files

[2021-05-28 16:26] DylanCuure commented on #15985
I moved from airflow 2.0.1 to 2.1.0 to solve this issue.

[2021-05-28 16:26] #15985 closed

[2021-05-28 16:35] #9823 closed

[2021-05-28 17:31] bbovenzi commented on #14299
@uranusjr What would the "something else" be to indicate if a dag has started? Right now we show a count of task instances, would that be sufficient?

<img width="453" alt="Screen Shot 2021-05-28 at 12 20 53 PM" src="https://user-images.githubusercontent.com/4600967/120020318-28d28780-bfaf-11eb-9403-1905a468f97a.png">

[2021-05-28 18:23] ConstantinoSchillebeeckx opened #16148 "Downloading files from S3 broken in 2.1.0"
**Apache Airflow version**: 2.0.2 and 2.1.0

**Environment**:

- **Cloud provider or hardware configuration**: running locally
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`): Darwin CSchillebeeckx-0589.local 19.6.0 Darwin Kernel Version 19.6.0: Tue Jan 12 22:13:05 PST 2021; root:xnu-6153.141.16~1/RELEASE_X86_64 x86_64
- **Install tools**: pip
- **Others**: Running everything

[2021-05-28 22:06] ephraimbuddy commented on #15978
@hafid-d Can you try this on master?

[2021-05-28 23:10] jedcunningham commented on #16148
@ConstantinoSchillebeeckx, can you try with the latest amazon provider, `apache-airflow-providers-amazon==1.4.0`?

It seems like you aren't using constraints in your environment, which we highly suggest:
https://airflow.apache.org/docs/apache-airflow/stable/installation.html#constraints-files

[2021-05-28 23:15] jedcunningham commented on #16131
@danielcrisap, the webserver doesn't need the DAGs in 2.0+. Why do you feel like they should be there?

[2021-05-28 23:20] jedcunningham commented on #16131
Let me expand a little more: The scheduler parses the DAGs and serializes them into the database, removing the need for the webserver to also parse them constantly. The workers, however, do still need the DAGs to actually run the tasks.

More info here: https://airflow.apache.org/docs/apache-airflow/stable/dag-serialization.html

DAG serialization cannot be turned off in 2.0+, and thus the DAG fil

[2021-05-28 23:31] jedcunningham commented on #16125
@Alxander64, can you try with the latest (or maybe second latest if you can't update to `2.1.0`) cncf.kubernetes provider? I believe this was already fixed: #14123

[2021-05-29 00:16] #15370 closed

[2021-05-29 05:15] IndrajeetTech2020 opened #16155 "WARNING - Refused to delete permission view, assoc with role exists DAG Runs.clear Admin"
WARNING - Refused to delete permission view, assoc with role exists DAG Runs.clear Admin

Issue with airlow webserver command on airflow 2.1.0

Please help

[2021-05-29 05:20] IndrajeetTech2020 opened #16156 "OSError : handle is closed"
When I am trying to run dags ,I am getting

OSError : handle is closed

and dag run breaks immediately.

I am using airflow version 2.1.0 with postgres database . I am not using gpu systems but my program requires gpu system.

When i am running locally , it works with worning messange that you do not have a gpu setup and works.but in airflow its not working.

[2021-05-29 06:57] tothandor commented on #16112
@bbovenzi you're right. A click on a TaskGroup would render a new tree, with just those tasks in the TaskGroup, just as it happens with SubDags.

As for the context, there are numerous solutions around where one could browse a hierarchy, without losing context. In webshops, breadcrumbs help to navigate. In folder/directory trees you'll have the path somewhere.

Though, I don't know if it is possib

[2021-05-29 07:17] tothandor commented on #16112
Now, that's interesting.

Graph view folded:
![image](https://user-images.githubusercontent.com/4449214/120061655-8540b000-c05e-11eb-8fd1-7a672269f9aa.png)

Graph view unfolded:
![image](https://user-images.githubusercontent.com/4449214/120061619-5d514c80-c05e-11eb-947d-23dcc652e79a.png)

Tree view:
![image](https://user-images.githubusercontent.com/4449214/120061636-6e01c280-c05e-11eb-8b19-ae5200

[2021-05-29 11:07] motherhubbard commented on #16140
This same issue happens in the slack-operator also.

[2021-05-29 11:14] motherhubbard opened #16157 "TriggerDagRunOperator with wait_for_completion hangs"
Im fairly sure this is a bug, I had raised it on the discussion forum but nobody engaged with my comment.

The issue is described here https://github.com/apache/airflow/discussions/16128

My environment is as described in https://github.com/apache/airflow/issues/16140

I have replicated this issue on 2.0.2 and .2.1.0.

Cheers

[2021-05-29 11:37] arvindeybram opened #16158 "MySQL image compatibilty issue for linux/arm64"
**Apache Airflow version**:

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**: M1 Chipset / linux/arm architecture
- **OS** (e.g. from /etc/os-release): Big Sur 11.3.1
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

**What you expected to happen**: I thought the im

[2021-05-29 11:42] potiuk commented on #16158
We have no support yet for arm bu tit is coming. Duplicate of #15635

[2021-05-29 11:42] #16158 closed

[2021-05-29 15:00] #15938 closed

[2021-05-29 15:01] #14260 closed

[2021-05-29 15:34] mik-laj commented on #16140
CC: @turbaszek

[2021-05-29 15:36] mik-laj commented on #16140
The show_warnings function should ignore OSError errors, but our implementation does not.
Original implementation:
https://github.com/python/cpython/blob/9bcb76c24f6d3f01e596a439c1521f9099e3fe80/Lib/warnings.py#L20-L33
Our implementation:
https://github.com/apache/airflow/blob/231d104e37da57aa097e5f726fe6d3031ad04c52/airflow/settings.py#L107-L115

[2021-05-29 15:38] mik-laj commented on #16156
It may be related to: https://github.com/apache/airflow/issues/16140

[2021-05-29 15:44] mik-laj commented on #16101
I hope that soon Google will add full support for SQL and we won't have to maintain so many operators for one service. Other data warehouses only have one or two operators but are not less powerfull.
[code]

[2021-05-29 15:48] mik-laj commented on #16148
These are not Airflow methods, but you are using the AWS library.  My impression is that you forgot to flush the data to disk (`f.flush()`),  so you can't read it.

[2021-05-29 17:11] #12485 closed

[2021-05-29 18:32] motherhubbard commented on #16157
Please close this. It was an issue with the Executor being used (Sequential) which was working as designed.

Cheers

[2021-05-29 18:32] #16157 closed

[2021-05-29 19:29] kaxil commented on #14969
https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-39+Richer+scheduler_interval should cover this and a lot more cases

[2021-05-29 20:36] JeroniMan commented on #10569
@raulk89, hi, i have the same problem. Did you solve it? I try solutions from this issues, but it doesn't help me ..

[2021-05-29 20:41] potiuk commented on #16142
Hey @JPonte - thanks! Would you like to submit PR for that?

[2021-05-29 20:52] JPonte commented on #16142
@potiuk Yes, I'll see what I can do.

[2021-05-30 00:18] #15440 closed

[2021-05-30 03:40] yuqian90 opened #16163 "Confusing log for long running tasks: "dependency 'Task Instance Not Running' FAILED: Task is in the running state""
**Apache Airflow version**: 1.10.* / 2.0.* / 2.1.*

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): Any

**Environment**:

- **Cloud provider or hardware configuration**: Any
- **OS** (e.g. from /etc/os-release): Any
- **Kernel** (e.g. `uname -a`): Any
- **Install tools**: Any
- **Others**: N/A

**What happened**:

This line in the TaskInstance log is very misleading.

[2021-05-30 05:15] psmukherjee009 opened #16164 "Weekly Run Dag not trigerring"
#!/usr/bin/env python3
from airflow.models import DAG
from airflow.operators.bash import BashOperator
from airflow.utils.dates import days_ago
from datetime import timedelta

args = {
    'owner': 'partha',
    'depends_on_past': False,
    'start_date': days_ago(6),
    'retries': 0,
    'retry_delay': timedelta(minutes=5)
}

dag = DAG(
    dag_id='scheduler_interval_102',
    schedule_interval='

[2021-05-30 11:39] potiuk commented on #15934
Fixed in #16116

[2021-05-30 11:39] #15934 closed

[2021-05-30 11:42] potiuk opened #16168 "[QUARANTINE] `test_send_tasks_to_celery_hang` hangs on self-hosted runners"
The `test_send_tasks_to_celery_hang` hangs on self-hosted runners more often than not.

It's been introduced in #15989 and while the test does not usually hang on regular GitHub runners, or in case of running it locally (I could not make it fail), it does hang almost always when run on self-hosted runners.

Marking it as quarantined for now.

Example here:

https://github.com/apache/airflow/runs/2

[2021-05-30 11:42] potiuk commented on #16168
cc: @yuqian90

[2021-05-30 12:54] Daniel-Han-Yang commented on #15622
@mik-laj, I've put in a PR for this change, appreciate it if you let me know what needs to be added/changed. Thanks!

[2021-05-30 15:46] ConstantinoSchillebeeckx commented on #16148
An update:
1. Using `apache-airflow-providers-amazon==1.4.0`: didn't work 🔴
2. Using constraints-files: didn't work 🔴
3. Adding `f.flush()`: didn't work 🔴

[2021-05-30 15:51] mik-laj commented on #16148
`f.seek(0)`?

[2021-05-30 16:08] ConstantinoSchillebeeckx commented on #16148
Didn't work either

---

I was curious to see if I could take Airflow out of the equation, so I created a new virtual env and installed:
[code]

Then I executed the following script:
[code]

![image](https://user-images.githubusercontent.com/8518288/120111201-a674cf80-c136-11eb-8d31-448d56aa7be3.png)

So, `boto3` is not the issue here?

Finally, as a sanity check, I updated the DAG to match the sc

[2021-05-30 16:49] potiuk commented on #16148
You have bad indentation in your last example:

[code]

Should be:

[code]

You are trying to read the file before it has been closed and flushed (which will happen when you exit "with" clause.

[2021-05-30 16:54] ConstantinoSchillebeeckx commented on #16148
I've updated the indentation and I'm still seeing the same behavior.

[2021-05-30 17:25] potiuk commented on #16148
I believe the reason is environmental (of where/how your workers are run) not Airflow itself.

Are you running the manual part in the same instances/containers as Airflow ? If not can you run them there? I can imagine it might come from bad configuration of your service account/env variables used to authenticate to S3 or some configuration of your bucket (for example buckets can have configuration

[2021-05-30 20:54] potiuk opened #16172 "Cattrs 1.7.0 break lineage and papermill"
The Cattrs  1.7.* released by the end of May break lineage (GenConverter used by default):

The error (Python 3.7 and 3.8):

[code]

[code]

[2021-05-30 22:13] stephsamson opened #16176 "Quickstart Helm Chart fails post-install"
**Apache Airflow version**: 2.0.2

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.19

**Environment**:

- **Cloud provider or hardware configuration**: Running `kind` locally
- **OS** (e.g. from /etc/os-release): macOS
- **Kernel** (e.g. `uname -a`): Darwin MacBook-Pro 19.6.0 Darwin Kernel Version 19.6.0: Mon Apr 12 20:57:45 PDT 2021; root:xnu-6153.141.28.1~1/RELEA

[2021-05-30 22:33] pdavis156879 commented on #15965
Problem fixed. I downed the docker-compose deleting the volume and rebooted with the official image. Seems to be running smoothly.

Thank you for your help.

[2021-05-30 22:33] #15965 closed

[2021-05-30 22:48] #15005 closed

[2021-05-30 23:08] kaxil commented on #16176
Can you provide logs of `airflow-run-airflow-migrations` job

[2021-05-31 05:06] #16008 closed

[2021-05-31 07:15] Dr-Denzy commented on #16176
I will try to see if I can reproduce this issue.

[2021-05-31 07:17] Dr-Denzy commented on #16138
I will look into this @kaxil

[2021-05-31 08:46] Dr-Denzy commented on #16176
I could not reproduce this issue. Consider closing it @kaxil

[code]

[code]

[2021-05-31 10:45] Dr-Denzy commented on #16138
@sweco to create a code block, you have to leave a blank line between each line. See [PEP 257](https://www.python.org/dev/peps/pep-0257/) and [Markdown guidelines](https://www.markdownguide.org/basic-syntax/) for more details.

This is how I did it:

[code]
![md-doc-2](https://user-images.githubusercontent.com/9834450/120181457-63396000-c20d-11eb-9818-25e050804ab2.png)

[code]
![md-doc](https://us

[2021-05-31 10:51] Dr-Denzy commented on #16138
@kaxil consider closing this issue.

[2021-05-31 11:12] sweco commented on #16138
Hey @Dr-Denzy, thank you for looking into this, but I believe that what you managed to produce are not multi-line code blocks but rather:

- In the first case just regular paragraphs
- In the second case, regular paragraphs each with inline (one-line) code

If I'm right, these are not code blocks. According to the Markdown Guide, you can create a code block in two ways: [classic code block](https:

[2021-05-31 11:22] hendoxc opened #16185 "Combined Executor - KubernetesExecutor + LocalExecutor"
**Description**
In short: There exists already combined executor support for Celery + Kubernetes, I think that also adding Local + Kubernetes
would be warmly welcomed.

**Use case / motivation**

Many tasks are low-resource intensive tasks on the airflow pod, It makes sense to keep things running on LocalExecutor, 0 overhead. However I also have a large number of dags, that have some long running

[2021-05-31 11:57] potiuk commented on #16185
Worth looking at creating !

[2021-05-31 12:26] Dr-Denzy commented on #15456
Oh yeah... I will work on it once I finish with the present issue I am working on.

[2021-05-31 13:20] alonrolnik opened #16188 "Running airflow upgrade_check failed on DatabaseVersionCheckRule with postgres images"
**Apache Airflow version**: 1.10.15

**Environment**:

**What happened**:

Running airflow upgrade_check failed on DatabaseVersionCheckRule with postgres image, for example, postgres:13.3

[code]
**What you expected to happen**:
I expect the check to pass.

**How to reproduce it**:
Spin up postgres container from postgres repository and run `airflow upgrade_check`

[2021-05-31 13:41] potiuk commented on #16188
Yeah. Bad check. The reported version seems to be OK so you can proceed.

I am not sure though if we will release a new upgrade check version.

As a quick workaround, you can simply disable the `DatabaseVersionCheckRule` as described here:

https://airflow.apache.org/docs/apache-airflow/stable/upgrade-check.html#turning-off-checks

[2021-05-31 14:18] eladkal commented on #16188
It's fixed in https://github.com/apache/airflow/pull/15122

@potiuk we have several PRs already merged for Airflow Upgrade Check - 1.4.0 including a fix for this one :)

[2021-05-31 14:18] #16188 closed

[2021-05-31 14:38] eladkal commented on #16164
I think your issue is because you set `days_ago(6)` so it's not a full week ago when I changed it to be  `days_ago(10)` it worked fine.
In any case the `start_date` needs to be static date and in both cases ` schedule_interval='15 5 * * SUN'` works fine on master branch:

[code]

![Screen Shot 2021-05-31 at 17 32 15](https://user-images.githubusercontent.com/45845474/120208607-5715c880-c236-11eb-8

[2021-05-31 14:38] #16164 closed

[2021-05-31 14:38] potiuk commented on #16188
Ah cool !

[2021-05-31 14:57] ConstantinoSchillebeeckx commented on #16148
I am indeed; I spin up all my docker services (locally), and then login to the worker service to execute the small script shown below (and confirm that I can correctly download the S3 file).

I'm not sure how this could be; I'm using the same `docker-compose.yaml` for both Airflow environments (hence the same environmental configuration) - the only change between them is the upgrade from 2.0.2 to

[2021-05-31 15:05] potiuk commented on #16148
maybe dump all the environment variables in both worker run Python operator, and when you "exec" into the same container. This is the only way I can see those can differ. Also - just to check again - make sure you are using the same user/group as the workers.

[2021-05-31 16:49] sglickman commented on #15572
Not sure if this is exactly your issue, but I was seeing something like this on Kubernetes, where I got UI errors about modules not found which I knew were present and in $PYTHONPATH (I confirmed this by running `kubectl exec $POD_NAME -it sh` and opening a Python interactive session on the scheduler container).

What ended up doing the trick for me was ensuring that the gitsync completed before t

[2021-05-31 18:51] Alxander64 commented on #16125
@jedcunningham Thanks, I will be sure to try this and report back!

[2021-05-31 19:40] stephsamson commented on #16176
[code]

[2021-05-31 20:15] ephraimbuddy commented on #16176
@stephsamson can you delete the namespace and recreate it. Then run `helm repo update` before install?

[2021-05-31 20:33] mik-laj commented on #15965
We had race condition, but I fixed the problem, so we are safe now. https://github.com/apache/airflow/pull/16180

[2021-05-31 20:44] stephsamson commented on #16176
@ephraimbuddy thanks that worked!

[2021-05-31 20:44] #16176 closed

[2021-05-31 21:22] uranusjr commented on #16138
The cause is [the Markdown-HTML rendering function](https://github.com/apache/airflow/blob/9c8391a13f6ba29749675cf23f2f874f96b0cc8c/airflow/www/utils.py#L343-L350) uses `lstrip()`, so all leading indentations are just gone. It should be modified to use a more sophisticated method, such as `textwrap.dedent()` (I didn’t think entirely though whether changing to the function would just work).

[2021-06-01 00:24] #12959 closed

[2021-06-01 00:24] #12545 closed

[2021-06-01 01:52] acmh commented on #16185
@potiuk  Can I grab this issue? If yes, where I can start looking?

[2021-06-01 03:59] sawaca96 commented on #15572
@JavierLopezT
I'm not sure this is working
[code]

[2021-06-01 05:38] hafid-d commented on #16107
@motherhubbard tried using 2.1.0 but still have the issue :-/

[2021-06-01 05:39] potiuk commented on #16185
Take a look at ``CeleryKubernetesExecutor``. Although this one would require a little more intrinsic knowledge of Airflow - so please take a little more knowledge of Airflow  - like integration with Helm Chart etc. Maybe marking it as ``first-good-issue`` was not the best idea :) . Just take a look at the C-K executor and see if this is something you would like to take on.

[2021-06-01 06:53] potiuk opened #16193 "Building Prod image Python 3.6 on CI"
Seems that we started having a problem with building PROD image for Python 3.6 - it consistently fails.

Needs investigation and fix.

[2021-06-01 07:17] Dr-Denzy commented on #15996
I will create a PR for this @kaxil

[2021-06-01 08:22] karakanb commented on #16193
We started getting failures in our pipelines as well due to the `-build` images being missing from Docker Hub, we used to use `airflow:2.0.1-python3.8-build` images, and they are missing now. Seems like they might be related, are they?

[2021-06-01 08:47] ephraimbuddy commented on #16078
I think the behaviour is Ok. @ash should we change this to fail all task instances and never run any other instances when the dagrun fail?

[2021-06-01 09:32] potiuk commented on #16193
Not really. The build images are gone because they were moved to `apache/airflow-ci`. The `build` images in registry are also not needed to build the actual production images (they will be automatically build when you run 'docker buid'. The ones in 'airflow-ci' are only for optimization of the speed of the build

[2021-06-01 10:13] ephraimbuddy commented on #15978
@hafid-d It means using the image of the dev version of airflow. I think your case is different though since the executor is not reporting that the task failed. Can you share your dag's code?

[2021-06-01 12:45] #9221 closed

[2021-06-01 12:51] auvipy commented on #11301
this should be celery 5.1 now

[2021-06-01 13:23] ronmorgen commented on #11913
Having some difficulties with setting up the development environment (doing step by step with the contributor's quick start guide)
It would be great to get some help :)

[2021-06-01 13:44] ConstantinoSchillebeeckx commented on #16148
Another update: I've dumped all the environment variables when running the DAG (both in 2.0.2 and 2.1.0) and the values are the same in both instances. Furthermore, I've logged into the worker service (as the airflow same user) and found the environment variables to also be the same there. So I've got 3 sets of environment variables, all the same value, however only one set (the one associated wit

[2021-06-01 14:11] potiuk commented on #11913
Just a gentle direction: https://dontasktoask.com/

[2021-06-01 15:36] sshepel commented on #15914
@akshay654 had the same issue, but looks like with latest code changes it's gone and now it's just a warning...
https://github.com/apache/airflow/blob/8505d2f0a4524313e3eff7a4f16b9a9439c7a79f/airflow/utils/log/file_task_handler.py#L261

[2021-06-01 16:35] zachliu opened #16202 "Missing Show/Edit/Delete under Security -> Users in 2.1.0"
**Apache Airflow version**: 2.1.0

**Browsers**: Chrome and Firefox

**What happened**:

Before upgrading to 2.1.0

![before](https://user-images.githubusercontent.com/14293802/120359517-c1ca1100-c2d5-11eb-95ba-58ccc0a3ac37.png)

After upgrading to 2.1.0

![after](https://user-images.githubusercontent.com/14293802/120359528-c4c50180-c2d5-11eb-8e04-f34846ea2736.png)

**What you expected to happen**

[2021-06-01 16:57] Alxander64 commented on #16125
@jedcunningham I updated to 2.1.0 and this issue is in fact fixed, thanks!

[2021-06-01 16:57] #16125 closed

[2021-06-01 18:26] uranusjr commented on #14299
Yeah, that (combine with showing the DAG has `catchup=False`) is probably sufficient IMO.

[2021-06-01 19:10] eitanme opened #16204 "ExternalTaskSensor does not fail when failed_states is set along with a execution_date_fn"
**Apache Airflow version**: 2.x including main

**What happened**:

I am using an `execution_date_fn` in an `ExternalTaskSensor` that also sets `allowed_states=['success']` and `failed_states=['failed']`. When one of the N upstream tasks fails, the sensor will hang forever in the `poke` method because there is a bug in checking for failed_states.

**What you expected to happen**:

I would expect t

[2021-06-01 20:02] bbovenzi commented on #16202
@zachliu Could you provide more details on how you're running Airflow? I see others have this issue, but I haven't been able to replicate it yet.

[2021-06-01 20:17] zachliu commented on #16202
@bbovenzi For production, we have Airflow running as three ECS services: webserver, scheduler, worker.
Each has its own ECS task(s) and underlying image. Our `AUTH_TYPE` is `AUTH_OAUTH` (google_auth)

[2021-06-01 20:20] jhonatanrt opened #16207 "Airflow scheduler - Can't start correctly because it has error message about DagFileProcessor0-Process failed"
Hi guys,
I have a bug problem with the last version of airflow (2.1.0). Because, I can't start the app correctly. If you could help me with another configuration or fix.
When I like to make a schedule in airflow Dag or sync new Dags, Airflow didn't work.
My configuration:
CPU: 1GB
Memory: 2GB

Environment:
"AIRFLOW_DATABASE_NAME": *****,
"AIRFLOW_DATABASE_PORT_NUMBER": "5432",
"AIRFLOW_DATABASE_HO

[2021-06-01 20:26] evanhlavaty commented on #16202
@bbovenzi I am having this exact issue as well. We are running in a in house kubernetes cluster. Let me know if you need other info other than this.

dockerhub image tag: tried both 2.1.0 and 2.1.0-python3.8
K8 Version: 1.19.7
AUTH_TYPE = AUTH_LDAP
Postgres Metadata DB: 11.7

[2021-06-01 20:28] #15542 closed

[2021-06-01 21:26] jedcunningham commented on #16207
@jhonatanrt, can you post the complete traceback?

[2021-06-01 21:26] cocampbe opened #16208 "add ability to add java_opts for jdbcoperator"
**Description**

I need to add java_opts to the jdbcoperator.

**Use case / motivation**

Adding the java_opts will allow me to run drill queries against HPE MAPR.

Rather than telling us how you might implement this solution, try to take a
step back and describe what you are trying to achieve.

-->

**Are you willing to submit a PR?**

Sure, but I think it may actually need a change to jaydebeapi

[2021-06-01 21:41] lidalei commented on #14592
It is likely a desired (though not nice) behavior in Airflow 2.0.2. We observed a similar behavior when using GCP Secret Manger and the service account key file couldn't be found. Any Airflow command would fail because of it.
[code]

How about catching the exception and logging the error when a secrets backend cannot be initialized, instead of exiting?

[2021-06-01 21:45] KristiKovacs opened #16209 "BigQueryInsertJobOperator required parameter is missing, but which?"
We're trying to convert from Airflow 1.x to Airflow 2.0.2 and I've been stuck on getting this task to work. Previously we were using BigQueryOperator but is now deprecated, now I'm trying to get BigQueryInsertJobOperator to work:

[code]

I see this following error:
https://bigquery.googleapis.com/bigquery/v2/projects/vice-analytics/jobs?prettyPrint=false:

This is the error I see in my logs:

the

[2021-06-01 22:05] jhonatanrt commented on #13542
Have you  had any problem to deploy airflow-scheduler in ecs fargate?

[2021-06-01 22:19] potiuk commented on #14592
If I understand correctly - this is only when you cannot reach secret backend when it is configured ? Not about just a value missing in the backend?

If my assumption is correct, then I have no doubts whatsoever that  his is desired, nice and "good" behavior for airflow to crash hard in this case.

It's far worse to continue running, when you rely on the backend with variables to be available and

[2021-06-02 00:09] richddr commented on #14205
Also seeing this issue, @antontimenko thanks for surfacing!

[2021-06-02 01:32] richddr commented on #14205
@zachliu +1 to what @yuqian90 said. On our configuration we're running multiple schedulers and still see the same issue.

[2021-06-02 02:23] zachliu commented on #14205
oh no, all schedulers are `deadlocked` at the same time!? 😓

[2021-06-02 02:37] dstandish opened #16211 "CeleryKubernetesExecutor error: Could not get scheduler_job_id"
Tried out CeleryKubernetesExecutor in apache chart 1.0.0 running on EKS

Official airflow image, python 3.8

Got this error in scheduler pod shortly after startup:

[code]

[2021-06-02 03:12] dstandish commented on #13591
i think we can consider this resolved by https://github.com/apache/airflow/pull/16153

[2021-06-02 03:12] #13591 closed

[2021-06-02 07:08] enddering opened #16213 "celery.exceptions.ImproperlyConfigured: You need to install the elasticsearch library to use the Elasticsearch result backend."
**Apache Airflow version**:

- **OS** (e.g. from /etc/os-release):

- **Kernel** (e.g. `uname -a`):

**What happened**:
[code]

**What you expected to happen**:

**How to reproduce it**:

**Libs Info**
[code]

[2021-06-02 07:34] lidalei commented on #14592
@potiuk Thank you very much for the detailed reasoning process! The concern is that if the an operation doesn't even need secrets backend (no need to use any connection or variable), should it crash or continue working? But generally it is a good idea to crash due to a bad configuration when starting an APP.

[2021-06-02 09:15] potiuk commented on #14592
Airflow is a distributed system there is never 'single' operation. Even if your operation does not need it, there can be many more tasks and jobs that might. They share co figuration and processes sometimes.

Really trying to pass on the bad configuration problem form the operator who should configure Airflow well to Airflow itself is very bad idea. Really crashing is the best signal Airflow can g

[2021-06-02 09:16] potiuk commented on #14592
Closing it for now until there is a gods reasoning why not to crash :)

[2021-06-02 09:28] rabsr opened #16214 "Unable to use secret backend for sql_alchemy_conn option in airflow.cfg"
**Apache Airflow version**: 2.0.2

**Environment**:

- **OS** (e.g. from /etc/os-release): Red Hat Enterprise Linux Server
- **Kernel** (e.g. `uname -a`): Linux

**What happened**:

Using secret backend for sensitive config in airflow.cfg. Specifically when using secret backend for sql_alchemy_conn option and loading airflow configuration, it fails with following stacktrace

[code]

**What you exp

[2021-06-02 09:39] potiuk commented on #16214
This has been fixed in #16808 and will be released in next Airflow version.

[2021-06-02 09:39] #16214 closed

[2021-06-02 09:51] akihiro-inui opened #16215 "Can not find master-python3.8 image in DockerHub"
Hi, I'm trying to use the Docker image with `airflow:master-python3.8`
but I'm getting this error.
[code]
It seems the image called master-python3.8 dissapeared. Can anyone help me which image I should use or is this image coming back?

[2021-06-02 10:03] alexing commented on #15888
I still can't believe this hasn't been implemented yet, seems like a no brainer.

I am currently in need of this feature, and the only workaround i found is modifying the DB and marking the relevant task instances as failed. Seems like overkill for such a small task.

[2021-06-02 10:07] potiuk commented on #16215
The image has just been moved (it's been announced at the devlist) to `apache/airflow-ci`  repo and `master` has been renamed to `main` (because we renamed the HEAD branch of our repository to `main`.

The right command to get it now is:

[code]

[2021-06-02 10:08] #16215 closed

[2021-06-02 10:49] fbertos commented on #15888
Hi @alexing,

We tried a different approach through the REST API to avoid touching the DB, this a code example:

[code]

[2021-06-02 10:59] iitzhak opened #16217 "Can't increase the limit of return DAGs for listDAGs REST API"
Hi guys,
when I send the following REST API I receive only the first 100 DAGs:
GET https://<hostname>:8080/api/v1/dags?**limit=200**
Is it possible to get more than 100 records in a single request?

Thanks,
Itay

[2021-06-02 11:03] alexing commented on #15888
Well, we thought similar solutions for sure. Yours is a bit better designed! Thanks! I'll take into account.

Still, this is a basic feature that should have been implemented by apache a long time ago!

[2021-06-02 11:26] eladkal commented on #15888
Many needed features and capabilities hasn't been implemented yet.
It's a community based project so what we have is what the community contribute.

We welcome PRs :)

[2021-06-02 11:29] potiuk commented on #16213
There are a couple of things you might try:

* Python 3.9. is not yet officially supported by Airflow so you can use different python

* Elasticsearch backend is not officially supported by Airflow ( Redis and RabbitMQ are). You can use those.

* Eventually it *might* work if celery is configured properly but it seems it is not. but this is more a question about celery configuration with elasticse

[2021-06-02 11:29] #16213 closed

[2021-06-02 11:39] potiuk commented on #15888
Indeed. We even will run workshop for first-time contributors at the Airflow Summit in July. More info soon. @alexing - would you be interested in taking part and contributing. It will be very cheap (all proceedings go to Apache Software Foundation). Happy to keep place for you. Contributing back is the best way to thank all the contributors who make the software available for free for you!

[2021-06-02 11:50] Naboo22 opened #16218 "Err upon opening newly created DAG in AF via the link on MAP"
**Apache Airflow version**:

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know**:

[2021-06-02 11:51] #16218 closed

[2021-06-02 12:29] uranusjr commented on #16217
You need to set the configuration `[api] maximum_page_limit` to a higher number.

[2021-06-02 12:51] uranusjr commented on #16208
If this requires a change in jaydebeapi, you’ll need to request a change there first: https://github.com/baztian/jaydebeapi

Airflow can’t implement it until its dependencies provide that functionality.

[2021-06-02 15:08] ashb commented on #16202
I wonder if this is caused by something about the permissions refactor and lacking the permission for non DbUser models.

One for you @jhtimmins I think.

[2021-06-02 15:19] easontm commented on #13542
More data, if it can benefit:
I'm using Airflow `2.1.0` (upgraded from `1.10.15` in our development environment) and trying to use the `KubernetesExecutor`. I am running _extremely_ basic DAGs that exist solely to test. In `airflow.cfg` I set `delete_worker_pods = False` so that I could try and examine what's going on. As far as I can tell, my worker pods are being created, immediately considering

[2021-06-02 16:13] richddr commented on #14205
@zachliu unfortunately yes 😭

[2021-06-02 16:14] jedcunningham commented on #16207
[code]

It looks like the scheduler can't write log files. You'll need to debug why as that would be something with the bitnami chart, image, or your cluster. If you can reproduce it, it might be worth an issue over at bitnami.

(If you weren't aware, the community also recently released the official community chart: https://airflow.apache.org/docs/helm-chart/stable/index.html)

[2021-06-02 16:46] gabrielvmelo opened #16223 "bug"
**Apache Airflow version**:

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know**:

[2021-06-02 16:55] subashcanapathy commented on #14592
A web application that is stateless (or intended to be that in long term) should fail gracefully on such situations. A secrets provider is at best a plugin and not a core feature. I would understand if the meta-DB connection failed and or the IDP provider connection failed - then it makes sense to prevent startup. If the customer made a mistake on configuring the secrets backend, booting up the we

[2021-06-02 17:45] flolas opened #16224 "WASB remote logging too verbose in task logger"
**Apache Airflow version**: 2.1.0

**Environment**:
apache-airflow-providers-microsoft-azure == 2.0.0

**What happened**:

When wasb remote logger wants to create container (always), the log is part of the task logger.

[code]
**What you expected to happen**:
HTTP verbose logging not showing and "Attempting to create container" maybe it's not useful in the task log

ref: https://github.com/Azure/a

[2021-06-02 17:50] flolas commented on #16202
I'm having the same issue with UserLDAPModelView (LDAP auth) the Admin role has permission for editing

[2021-06-02 17:56] flolas commented on #16224
based on Azure/azure-sdk-for-python#9422

maybe a solution could be adding
[code]

[2021-06-02 18:17] ConstantinoSchillebeeckx commented on #14529
hey @zacharya19 have you made any progress on this? I'd be willing to help too.

[2021-06-02 19:34] potiuk commented on #14592
I am not at all convinced.

The Secrets Backend - when configured - is expected to work and it can hold crucial part of configuration that spans across all functionality of Airflow. Airflow is not able to asses if the secret backend is wrongly configured or this is temporary problem in communication so letting Airflow work when expected, crucial configuration service is not reachable is a very bad

[2021-06-02 20:08] Prasnal opened #16227 "LocalTaskJob heartbeat race condition with finishing task causing SIGTERM"
**Apache Airflow version**: 2.0.2

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): Ubuntu 18.04.2 LTS
- **Kernel** (e.g. `uname -a`): Linux datadumpprod2 4.15.0-54-generic #58-Ubuntu SMP Mon Jun 24 10:55:24 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
- **Install tools**: Docker

**What happened**:

After task execution is done but process isn't f

[2021-06-02 20:42] subashcanapathy commented on #14592
If we treat the secrets backend as meta-DB like quintessential, then the worker and scheduler should reflect the same startup behavior. Why would the bar be higher for the webserver?
In theory this is more of a safety trouble on the scheduler and worker as the DAGs and tasks are failing not being able to use the connection.

The webserver at the least presents a window of visibility into what is f

[2021-06-02 21:50] jpyen opened #16228 "API ListDAGs inconsistent with Web View/CLI"
`/api/v1/dags` lists a total of 39 DAGs, while only 8 DAGs are present which can be seen in the Web UI and Airflow CLI on worker pods.

Any explanation on why I get different results from the API vs all other methods?

It seems that the API is showing deleted DAGs without a present file.

**Apache Airflow version**: 2.0.1 / 2.1.0

[2021-06-02 22:04] jpyen commented on #16228
Is it possible that `/api/v1/dags` is only listing DAGs the current user has access to - present or not?
https://github.com/apache/airflow/blob/main/airflow/api_connexion/endpoints/dag_endpoint.py#L64

In contrast the UI seems to get the DAG list ground-truth from here: https://github.com/apache/airflow/blob/8505d2f0a4524313e3eff7a4f16b9a9439c7a79f/airflow/www/views.py#L551 and then uses  `get_acc

[2021-06-02 22:58] uranusjr commented on #16228
Correct, the index page lists all DAGs by default, while the API only lists those the user has the permission to view (since the API returns DAG details that the user may not have permission to view).

(Thinking loudly) Maybe we should make this less confusing? For example, the API can instead list all the DAGs, but only show details of those the user has permissions to view; or maybe the web UI s

[2021-06-02 23:07] jpyen commented on #16228
Thanks for the quick reply uranusjr, in this case I would be confused that the API shows more (invalid) DAGs, as in DAGs that have been deleted and should not be visible - even with the right permissions? (Thats as far as I understood the issue)

[2021-06-02 23:27] lidalei commented on #14592
I just got to know secrets backend can hold connections, variables and configuration.

[2021-06-03 01:27] #16217 closed

[2021-06-03 06:12] uranusjr commented on #14054
It seems like [pysmb](https://github.com/miketeo/pysmb) is another choice. Not sure whether it or smbprotocol is better/more suitable.

[2021-06-03 06:43] baolsen commented on #12876
Related https://stackoverflow.com/a/58748028/2409299
I agree with the suggestion to emit a warning if str is specified, along with wrapping the string in a list automatically to save some headaches like these.

[2021-06-03 06:52] uranusjr commented on #12876
Or maybe just magically convert it to a `list[str]`?

[2021-06-03 06:56] jhonatanrt commented on #16207
Thanks @jedcunningham. I had a problem with the user root. when I changed to user 1001 that work well.  🙂

[2021-06-03 06:56] #16207 closed

[2021-06-03 07:29] abhishektrivedi-hs opened #16234 "No log folder created by workers in AIRFLOW 2.1.0"
Hi Team,

We are frequently getting below error in airflow where the workers are not able to create the log folder. This usually happens when there is no execution for couple of hours or a new day. We have tried all the options available over the internet including the URL configuration with ip/hostname and we also increased the number of workers. We have also verified the local server for log gen

[2021-06-03 07:32] uranusjr commented on #16228
I think your understanding is correct. I’m not sure why the API does not filter out inactive DAGs (they probably should show sub-DAGs though I’m not 100% sure), could be an oversight or intetional design. We’ll need someone who was involved in the API implementation to answer this.

[2021-06-03 08:12] uranusjr commented on #16224
I’m thinking mayne it’d make sense to set the entire `azure` namespace to `WARNING`. This can be better done by modifying `airflow.config_templates_airflow_local_settings.DEFAULT_LOGGING_CONFIG` (and we will likely need a way to enable these logs back on, see https://issues.apache.org/jira/browse/AIRFLOW-1455 (it’s closed as WONTFIX but there is one person wanting to see more verbose logs).

[2021-06-03 08:22] zqd759592942 opened #16235 "trigger a dag，dag_run is success but instance is not run"
![Image of Yaktocat](https://github.com/zqd759592942/Test/blob/master/Snipaste_2021-06-03_16-01-43.png?raw=true)
when I trigger a dag,this dag_run is success but instance is not run

[2021-06-03 08:27] zqd759592942 commented on #16235
airflow2.0.2
the instances state is NONE

[2021-06-03 08:36] ephraimbuddy commented on #16235
Please share the steps to reproduce

[2021-06-03 08:37] easontm commented on #13542
I have resolved this issue for my environment! I'm not sure if this is the same "bug" as others, or a different issue with similar symptoms. But here we go

----

In my airflow Docker image, the entrypoint is just a bootstrap script that accepts `webserver` or `scheduler` as arguments, and accepts the appropriate command.
[code]

`bootstrap.sh`:
[code]

Previous to #12766, the KubernetesExecutor f

[2021-06-03 08:47] #16223 closed

[2021-06-03 09:51] zqd759592942 commented on #16235
1.  I execute cmd "airflow dags trigger xxx"
2.  I'll go see this dag
Then the above problem occurs,Hard to reproduce,It seems that there is a small chance of a problem

[2021-06-03 09:53] potiuk commented on #14592
Yep. They should fail. I was quite sure they are failing as well in this case. I think it should be fixed if they don't. I think it is

Agree. They should fail if they are not currently.

Not if the configuration renders the whole airflow potentially unusable we can see failures of single tasks. But otherwise it is working. For me, misconfiguration of secrets backend (because of it's scope - it po

[2021-06-03 10:03] zqd759592942 commented on #16235
the scheduler.log:
{{dagrun.py:445}} INFO - Marking run <DagRun TEST_ABC_SUB_1 @ 2021-06-03 06:25:18+00:00: manual__2021-06-03T06:25:18+00:00, externally triggered: True> successful
![Image of Yaktocat](https://github.com/zqd759592942/Test/blob/master/Snipaste_2021-06-03_17-58-09.png?raw=true)
Did these  unfinished_tasks   disappear?

[2021-06-03 10:53] alexInhert opened #16237 "Add support for types of Secrets in Kubernetes"
It's impossible at the moment to pass Opaque secret in Airflow.
The Airflow secret object doesn't have type https://github.com/apache/airflow/blob/8505d2f0a4524313e3eff7a4f16b9a9439c7a79f/airflow/kubernetes/secret.py#L28
https://kubernetes.io/docs/concepts/configuration/secret/#secret-types

[2021-06-03 10:57] syedshameersarwar opened #16238 "Airflow Tree View for larger dags"
Hi, Airflow Web UI shows nothing on tree view for larger dags (more than 100 tasks), although it's working fine for smaller dags. Anything that is needed to be configured in `airflow.cfg` to support larger dags in the UI?

![alt larger](https://user-images.githubusercontent.com/42420177/120632899-ed3e2e80-c482-11eb-8c96-40bf751377e7.png)

Smaller Dag:

![alt smaller](https://user-images.githubuser