[2020-05-24 10:19] mik-laj commented on #8970
@tanjinP Which section would you like to focus on at the beginning?

What do you think about these 3 sections?

[2020-05-24 19:16] mik-laj commented on #8993
You don't have to create an issue if you want to submit PR.  You only need PR if you want to report a bug or request a new feature, but you don't want to report PR or you want to inform other people about your issue.

[2020-05-24 21:01] mans2singh opened #8999 "Tutorial documentation with bash_command correction"
**Description:**

Correction in tutorial documentation regarding bash_command

**Issue:**

- The bash_command with shell file is as follows:

But perhaps should be:

[2020-05-25 01:30] zhongjiajie commented on #8703
I think we should use JSON ser, and we going to use json as default serializable (as less in code base `TODO` mark said that)

[2020-05-25 02:42] ywan2017 commented on #8963
Now I am trying kubernetes client invoked by airflow instead of shell cmd, working on it

[2020-05-25 07:52] wittfabian opened #9003 ""COPY ${AIRFLOW_SOURCES_FROM} ${AIRFLOW_SOURCES_TO}" failed on local build"
**Apache Airflow version**: 1.10.10

**Environment**:

- **OS**: Windows 10 / Docker Desktop

**What happened**:
According to the documentation it should be possible to build the image with the following command:

[code]
(https://github.com/apache/airflow/blob/v1-10-stable/IMAGES.rst#production-images)

**_Docker build failed with:_**

[code]

Before step 32 the required file "entrypoint.sh" is no

[2020-05-25 08:38] potiuk commented on #9003
Yes. It's possible to build it from the sources. Apparently you only copied Dockerfile but not the entrypoint.sh which is needed as well. It's even written in the instructions [IMAGES.rst](https://github.com/apache/airflow/blob/master/IMAGES.rst) :

You can build the image without entrypoint.sh present locally - but then it will need to be downloaded from the selected TAG in github. T

[2020-05-25 08:38] #9003 closed

[2020-05-25 08:40] potiuk commented on #9003
You could also use

[code]

if you really want a standalone Dockerfile build. Feel free to make PR to update that in the documentation - I am happy to review it.

[2020-05-25 08:59] wittfabian commented on #9003
Oh, then I misunderstood.
I thought with `--build-arg ENTRYPOINT_FILE="https://raw.githubusercontent.com/apache/airflow/1.10.10/entrypoint.sh"` that would be possible.

[2020-05-25 09:05] wittfabian commented on #9003
We need additional Airflow extras and Python dependencies for our production environment. The only possibility is to take over the github repo and build it in our own source control. Or is there a better solution?

[2020-05-25 11:34] potiuk commented on #9003
Will be there soon #8604 #8866 .. But if you want to make PR - feel free :)

[2020-05-25 12:52] halilduygulu commented on #8972
As far as I understood this happens because all `logger.info/debug()` etc goes to this loggingmixin and printed as info as I saw here today.
https://stackoverflow.com/questions/53677056/does-anyone-know-how-to-suppress-all-airflow-info-level-logs-but-not-suppress/54131307#54131307

I am also looking a way to stop this and adhere log levels and also stop logging debug when i give `logging_level = I

[2020-05-25 12:59] halilduygulu commented on #8759
We solved this removing old logs after x days but out of the box rotating would be nice.

[2020-05-25 13:03] joppevos commented on #8203
Happy to pick this up. Worked with the service a bit before.

[2020-05-25 13:07] mikaeld commented on #8980
Got it! PR https://github.com/apache/airflow/pull/9004

[2020-05-25 13:07] #8980 closed

[2020-05-25 13:09] #8842 closed

[2020-05-25 13:44] potiuk opened #9005 "Hive Operator mapred_job_name_template missing from config template"
**Apache Airflow version**:
2.0.0.dev , 1.10.*

**What happened**:

Apache Hive Operator has `mapred_job_name_template` config param which is not included in any configuration description. It uses single curly braces {} for some hive-specific values (hostname, dag_id, task_id, execution_date) and this prevents putting the config variable into .cfg file because then Airflow will treat those names a

[2020-05-25 15:01] mik-laj commented on #8203
@joppevos  I assigned you to this task.

[2020-05-25 15:11] halilduygulu opened #9006 "Provide a way to config log level for airflow processes"
**Apache Airflow version**: 1.10.9

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.15

**Environment**:

- **Cloud provider or hardware configuration**: aws eks
- **OS** (e.g. from /etc/os-release): aws linux
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:
Trying to set logging level for airflow processes as they are writing i

[2020-05-25 16:44] feluelle opened #9009 "Use Terraform for System Testing"
**Description**

As @ashb @potiuk and me already shortly discussed in a slack thread..

We could use terraform for testing Airflow integrations with real services from providers.
Key benefits:
* Write declarative configuration files
* Plan and predict changes
* Create reproducible infrastructure

I didn't think about the implementation details (pytest + terraform) yet, but I think it would make it

[2020-05-25 18:55] enriqueayala commented on #8839
From slack response: https://apache-airflow.slack.com/archives/CCR6P6JRL/p1590309858271500

[2020-05-25 20:37] kaxil commented on #8703
Yes I think we should make it Serializable

[2020-05-25 21:56] tanjinP commented on #8970
@mik-laj
I think we should include these as well - especially when we are using Kubernetes for the first time and if we want to pass around some data in the DAG context.

 How does XCOM work and how to use it?

[2020-05-26 04:45] emiliocolo opened #9014 "Running Airflow in Docker, Unixname Always root in WebUI"
Hello,

I am running airflow with celery workers using docker compose and last puckel images from github, ( i replaced airflow user in Dockerfile with hadoop ) in a machine with a username as hadoop with root privileges.

Docker compose runs without sudo under that user, so i checked that all the services are running with that hadoop user with the ps aux , and docker ps command seems correct.

I a

[2020-05-26 05:13] thesuperzapper opened #9015 "Update to Pendulum 2.0.2"
**Description**

Currently, we use pendulum `1.4.4`, this is an old version, we should consider moving to `2.0.2`.

If we do this we should make it very public as it will break some jobs if users don't update names like `Interval` to `Duration`.

For pendulum changelog, [see here](https://pendulum.eustace.io/history/).

[2020-05-26 06:39] emiliocolo commented on #9014
Solved , i had the ENV USER variable set to root by mistake

[2020-05-26 06:39] #9014 closed

[2020-05-26 06:49] elwinarens commented on #8258
@mik-laj Need to check on the OSS policy before sharing, hence i deleted it. Let me get back to you asap.

[2020-05-26 08:33] potiuk commented on #8258
It woudl be great to create a Hook together with the backend -> similarly as I did with HashiCorp Vault https://github.com/apache/airflow/pull/8974

BTW. I thought that Azure's Vault is simply HashiCopr Vault Managed By Microsoft? Or am I completely wrong?

[2020-05-26 08:35] JavierLopezT opened #9016 "Get query for methods in DBApi hook from files"
Currently (as far as I understand reading the code base, the docs in pandas etc and making some tests in my code) you can only have a string (or list of them) as query in the methods related to queries in DBApi: get_pandas_df, run, get_records and get_first.

It would be nice being able to read the queries from a file instead of a string in the script. The code for getting the query could be somet

[2020-05-26 08:48] potiuk commented on #9009
Absolutley!

[2020-05-26 10:59] mik-laj commented on #8471
@wojtek2kdev  Do you need any help? Do you have any questions?

[2020-05-26 11:40] v0ldemort opened #9017 "Error on running this docker on kubernetes"
Hi, I have build a docker images with this apache/airflow Dockerfile and running on AWS EKS cluster using this **https://github.com/helm/charts/tree/master/stable/airflow** helm chart.

While I am running this docker on kubernetes, I am getting the following error, Most likely it is because of it is not creating airflow database in a PostgreSQL.

'''[2020-05-26 09:46:23,114] {cli_action_loggers.py

[2020-05-26 12:00] mdediana commented on #8649
I would like to work on this.

The idea would be to allow a list of cron expressions as a `schedule_interval`. For example, the scheduling in the description would be defined as `schedule_interval = ['30/10 16 * * *', '*/10 17 * * *', '0,10 18 * * *']`. Do you think this is the way to go?

[2020-05-26 14:15] ljb7977 opened #9021 "Glue sensor runs indefinitely after the Glue job is finished"
**Apache Airflow version**: 1.10.10 (master has same issue)

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): N/A

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): MacOS 10.15.4
- **Kernel** (e.g. `uname -a`): Darwin Kernel Version 19.4.0
- **Install tools**: pip
- **Others**:

**What happened**:

**What you expect

[2020-05-26 16:34] samuelkhtu commented on #8525
Hi @potiuk , can you help and comment on a question raised by @eladkal in this PR? https://github.com/apache/airflow/pull/8942

I believe this PR is ready to go otherwise.

Thanks!

[2020-05-26 16:49] #8243 closed

[2020-05-26 17:52] kamikaze opened #9025 "default Timezone setting for Web UI (non-RBAC)"
It's sad that such thing exists for more complex RBAC case and doesn't exist for a default Web UI. Is it possible to add such option into airflow.cfg as well? Thanks

[2020-05-26 18:59] joshowen commented on #7911
One other thought on this: it would be very useful if the low watermark was configurable in the UI (eg, show me the last 30d/365d /all DAGRuns)

[2020-05-26 19:42] alexandraabbas opened #9027 "DataProcPySparkOperator gives wrong arguments to GoogleCloudStorageHook upload() method in v1.10.10"
**Apache Airflow version**: 1.10.10

- **Cloud provider or hardware configuration**: Local
- **OS** (e.g. from /etc/os-release): MacOS High Sierra 10.13.6
- **Kernel** (e.g. `uname -a`): Darwin Kernel Version 17.7.0
- **Install tools**: pip, conda
- **Others**: -

**What happened**:

Cannot upload local pyspark file when using DataProcPySparkOperator.

[code]

I'm getting the following error when

[2020-05-26 19:43] alexandraabbas commented on #9027
I'm happy to fix this issue. I thought I raise a bug first.

[2020-05-26 19:49] fuyi opened #9028 "Cant add DAG run manually from WebUI"
**Apache Airflow version**:

1.10.10

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

Client Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.5", GitCommit:"e0fccafd69541e3750d460ba0f9743b90336f24f", GitTreeState:"clean", BuildDate:"2020-04-16T11:44:03Z", GoVersion:"go1.13.9", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1"

[2020-05-26 19:52] fuyi commented on #8281
The same error happens for v1.10.10

Do you have a PR for this @optimuspaul ?

[2020-05-26 20:28] bertosantamaria commented on #8128
Hi @mik-laj and team. I'm very interested in working on this issue.  This is something that is vital for the Airflow installation we run on my team.   Is the next step to introduce a PR and work with the committers/community on any feedback/changes requested?

Also, I'm noticing there is not creation of DAGs mentioned here.  For the installation my team runs this functionality is also key.  Can cr

[2020-05-26 20:41] mik-laj commented on #8128
Hello @mik-laj
We are currently discussing the specification in the PR.
https://github.com/apache/airflow/pull/8721
Because of the fact that the specification has not been merged, we cannot start the implementation.  If you want the work to start then I invite you to review the specifications and when everything looks good, I am asking you to accept the PR.

Creating a DAG is not part of the speci

[2020-05-26 22:59] mik-laj commented on #9027
@alexandraabbas  I assigned you to this ticket. When you finish your work, write to me or @turbaaszek to review the change.

[2020-05-26 23:01] mik-laj commented on #9015
@thesuperzapper I think it's a good idea. Do you want to take care of it?

[2020-05-27 08:41] wittfabian commented on #8866
Which name is better?
"ADDITIONAL_EXTRAS" or "AIRLOW_ADDITIONAL_EXTRAS"

[2020-05-27 09:03] albertocalderari commented on #8903
@turbaszek Hey, sorry work was hell this past week and did not find the time or the energy to reply :(
I have noticed that inner job does that, and that we'd be building the config from the dictionary that is passed in. Though going full on with using {JobType}JobConfig would make method signatures a lot more friendly to the eye. I do agree also that the migration would be harder - that could be d

[2020-05-27 09:06] mik-laj commented on #8649
@mdediana We had long discussions about whether to support multiple scheduler intervals.  Many people think that this can affect the presentation and readability of the collected data.  This can also complicate the scheduler logic.  Can you describe your idea on the mailing list?

[2020-05-27 09:16] potiuk commented on #8866
I used to use AIRFLOW everywher, but ... AIRFLOW is the whole context so we know those are AIRFLOW extras :)

[2020-05-27 11:12] #8821 closed

[2020-05-27 11:14] mik-laj commented on #8970
@tanjinP Fantastic! I am waiting for your contribution.

[2020-05-27 11:23] stijndehaes commented on #8963
@ywan2017 I also have a PR open on airflow to work with spark 3.0 https://github.com/apache/airflow/pull/8730

[2020-05-27 11:32] zikun opened #9033 "entrypoint cannot enter bash shell"
**Apache Airflow version**: 1.10.10 / master

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:
Production Docker image

**What happened**:

`docker run --rm -it apache/airflow:1.10.10 bash`

Output:

airflow command error: argument subcommand: invalid choice: 'bash' (choose from 'backfill', 'list_dag_runs', 'list_tasks', 'clear', 'pause', 'unpause', '

[2020-05-27 11:33] zikun commented on #9033
Before I make a PR to fix it, can someone confirm this is the expected behaviour?

[2020-05-27 11:35] turbaszek opened #9034 "Fix GoogleDiscoveryApiHook docs warnings"
**Apache Airflow version**: master branch

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): N/A

**Environment**:

- breeze

**What happened**:

Running `./breeze build-docs` prints warnings related to `airflow.providers.google.common.hooks.discovery_api`:

[code]

**What you expected to happen**:

Clean docs build

**How to reproduce it**:
Run `./breeze build-docs`

[2020-05-27 11:46] mik-laj commented on #9034
Can you remove _api  and _build directory?  That should solve this problem.

[2020-05-27 12:07] zikun commented on #8872
This could be a nice feature but looks like there was an effort to remove `ONBUILD` from official images - https://github.com/docker-library/official-images/issues/2076

As the above issue mentioned, different users might want different customizations. Initially I wanted to wait for this feature, but I realize `ONBUILD` does not solve my problem, e.g. installing packages like `docker-ce-cli` from

[2020-05-27 12:35] potiuk commented on #9033
For 1.10.10 it was like that but it's been fixed in master and will be cherry-picked for 1.10.11

[2020-05-27 12:35] #9033 closed

[2020-05-27 13:33] potiuk commented on #8872
Yeah, I see the point. I think also maybe we should not do onbuild if we can add easily build args to supplement that.

[2020-05-27 13:45] Pymancer opened #9036 "Task instance log_filepath doesn't include try_number"
Is it correct that ti.log_filepath doesn't include try_number?  How to get a valid path with it?
https://github.com/apache/airflow/blob/8ac90b0c4fca8a89592f3939c76ecb922d93b3da/airflow/models/taskinstance.py#L385-L390

[2020-05-27 15:09] #8604 closed

[2020-05-27 15:09] #8866 closed

[2020-05-27 15:36] optimuspaul commented on #8281
https://github.com/apache/airflow/pull/8384

[2020-05-27 16:04] themantalope commented on #8649
@mik-laj

I would recommend that the user be allow to supply a list of cron strings or cron strings with comma separation. I would then implement a object that has internal logic like [this](https://github.com/kiorky/croniter/pull/23#issuecomment-555828306) implementation of scheduling with multiple `croniter` objects. The object should also have a `get_next()` function similar to the one [current

[2020-05-27 16:25] mdediana commented on #8649
@mik-laj Sure, I will do that, thanks.

[2020-05-27 17:21] turbaszek commented on #8903
Summoning @edejong to hear his opinion :)

[2020-05-27 18:01] alexbegg commented on #8712
pymssql is installed with the airflow extra "mssql". It is not pre-installed with the docker image apache/airflow:1.10.10. I am currently installing it as a separate pip install of `apache-airflow[mssql]==1.10.10` in my helm chart and I have no issue using the MsSqlHook.

[2020-05-27 18:41] potiuk commented on #8712
Yep. We want to minimise the prod image size to get the most frequently used packages (and core ones). We've added a new feature today to the prod image - you can add additional extras or python  deps  and b build your own version of the image. https://github.com/apache/airflow/blob/master/IMAGES.rst#production-images

Breeze supports building they production image and it wil even help you to add

[2020-05-27 18:41] #8712 closed

[2020-05-27 21:27] ephraimbuddy opened #9040 "Correctly describe the dst parameter in LocalFilesystemToGCS operator"
**Apache Airflow version**: 2.0.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

The description of the `dst` parameter of the LocalFilesystemToGCSOperator is not correct.
htt

[2020-05-27 22:21] casassg opened #9041 "[AIP-31] Update Airflow tutorial to use functional DAGs"
**Description**

Change Airflow tutorial (or create new tutorial) using the new functional layer.

**Use case / motivation**

Help users onboard Airflow by reducing the complexity of the tutorial by adopting the new functional DAG definition layer.

**Related Issues**

Blocked by #8057

[2020-05-28 06:48] turbaszek commented on #9034
Indeed, thanks @mik-laj ~

[2020-05-28 06:48] #9034 closed

[2020-05-28 08:00] anon-john opened #9046 "TimeDeltaSensor and schedule_interval="@once" leads to crash"
**Apache Airflow version**: 1.10.10
**Environment**:
- **OS** (e.g. from /etc/os-release): centos7, Ubuntu 18.04.4 LTS
- **Install tools**: pip inside virtualenv

Using TimeDeltaSensor inside a DAG with `schedule_interval="@once"` leads to the following error:
[code]
(with `@daily` it runs ok). I would guess, that TimeDeltaSensor should run fine for any schedule interval, especially that combining

[2020-05-28 08:54] gundoganalperen opened #9047 "DockerSwarmOperator can not mount a volume"
**Apache Airflow version**: 1.10.10

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): Ubuntu 16.04
- **Kernel** (e.g. `uname -a`): Linux 4.4.0-179-generic
- **Install tools**: pip inside virtualenv
- **Others**:

**What happened**:

`with dag as dag:
    t1 = Docker

[2020-05-28 09:40] alexandraabbas commented on #9027
@mik-laj I see in the contributors' guide that all PR-s should target master. On master `airflow.contrib.operators.dataproc_operator.DataProcPySparkOperator` is derived from `airflow.providers.google.cloud.operators.dataproc.DataprocSubmitPySparkJobOperator` so the issue is solved on master. However the issue is still there on v1-10-stable. Can I raise a PR to target v1-10-test?

[2020-05-28 09:50] wgonzalez25 opened #9048 "ERROR - Can't compile non template nodes when I am using Papermill Operator"
Hi:

I have an issue related to Papermil Operator when I am trying to DAG RUN in AWS (Ubuntu 18-04)

Attached, you can find the log file associated to this issue where appears the message: ERROR - Can't compile non template nodes

Additionally, I am sending my DAG File if you can find some issue too.

[code]

[COVID_TEST_COVID_example_notebook_2020-05-27T00_00_00+00_00_8.log](https://github.com/ap

[2020-05-28 10:07] mik-laj commented on #9047
@gundoganalperen Good investigation. Can you create a PR?

[2020-05-28 10:19] Siddharthk commented on #8970
@tanjinP @mik-laj I was not able to find documentation of running airflow 1.10.10 on kubernetes. Can you guys help me point to that if yaml/helm charts already exists?

[2020-05-28 10:23] mik-laj commented on #8970
@Siddharthk https://airflow.readthedocs.io/en/latest/kubernetes.html
We have very limited documentation for Kubernetes. But it's worth you to look at https://github.com/apache/airflow/pull/8777
https://github.com/apache/airflow-on-k8s-operator
We have also  many good articles on the awesome list:
https://github.com/jghoman/awesome-apache-airflow

[2020-05-28 10:55] mik-laj commented on #8447
Due to inactivity over 30 days, I am unassigning you from this ticket. Another person can start working on it if they are interested. If you would like to continue working on it, please create a PR and I will assign you to this ticket again.

[2020-05-28 11:16] Siddharthk commented on #8970
@mik-laj thanks for the information. Eagerly waiting to try out the helm chart.

[2020-05-28 13:43] rishabhgarg7 opened #9053 "Airflow scheduler not starting"
When I'm doing airflow scheduler on my local machine, it's giving the following SQLAlchemy error:

  File "/home/ubuntu/anaconda3/lib/python3.7/site-packages/sqlalchemy/engine/default.py", line 590, in do_execute
    cursor.execute(statement, parameters)
sqlalchemy.exc.OperationalError: (sqlite3.OperationalError) no such column: task_instance.pool_slots
[SQL: SELECT task_instance.try_number AS tas

[2020-05-28 16:57] potiuk commented on #9040
It's a bit ambiguous indeed and it would be great to make it consistent. Objects in GCS are often referred to as files - even if they are really objects - but in all kinds of UI  interfaces the objects with "/" are interpreted as folders/paths (but they are really not paths -  just object names). There is no real concept of "folder" in GCS.

[2020-05-28 17:28] BrainLogic commented on #8674
Hi Airflow Team,

I tried to run airflow with Python 3.8.3 (the same for 3.8.0) on macOs Mojave 10.14.6 as a demon process `airflow webserver -p 8080 -D`

this way does not work:

[code]

probably, it can be related to https://bugs.python.org/issue39685

[2020-05-28 17:57] maverick12345678 commented on #8893
I would like to have some insight on what exactly is having in this code ? @mik-laj

[2020-05-28 18:05] mik-laj commented on #8893
This file? What exactly code?
https://github.com/apache/airflow/blob/master/scripts/list-integrations.py

I want to have the following output  or equivalent:
[code]
First column - full qualified class name
Second column - template fields (comma separated)
Third column - constructor parameters - excluding BaseOperator (comma separated)

[2020-05-28 21:47] ephraimbuddy commented on #9053
Have you tried initializing the db or resetting it? `airflow db init` or `airflow db reset`

[2020-05-29 06:15] ywan2017 commented on #8963
I saw you trying to fix spark watcher on k8s which is awesome!  And that influence airflow schedule too much!  It's sad that I am using spark 2.4.4 which is difficult to merge with your code change.

[2020-05-29 06:29] stijndehaes commented on #8963
@ywan2017 Yeah once this is merged I want to try to backport it to 2.4.x. But the code has been refactored a lot in 3.x so this will take a while.

[2020-05-29 08:23] frnidito opened #9060 "Connection support for repeated extra fields"
**Description**

The `Connection` object should be able to support repeated keys in the extra fields.

**Use case / motivation**

Some connections strings, for instance the one used by MongoDB, support the repetition of keys such as in setting the rules for the precedence in choosing data-centres:

`mongodb://mongos1.example.com,mongos2.example.com/?readPreference=secondary&readPreferenceTags=dc:n

[2020-05-29 14:59] #9040 closed

[2020-05-29 15:07] NBardelot opened #9063 "LDAPS forces ssl.CERT_REQUIRED preventing the use of self-signed certificates"
In `contrib/auth/backends/ldap_auth.py` in the stable version of Airflow maintained under the branch `v1-10-stable`:

[code]

the behaviour of `validate` should be made configurable so that one can opt for `ssl.CERT_OPTIONAL` as per [the documentation of `ldap3`](https://ldap3.readthedocs.io/en/latest/ssltls.html).

I propose to add a new configuration under `ldap` named `cert_validation` with thr

[2020-05-30 09:20] xu-xiang opened #9069 "Error Specified key was too long; max key length is 3072 bytes on ALTER TABLE xcom ADD CONSTRAINT pk_xcom PRIMARY KEY (dag_id, task_id, `key`, execution_date)"
Create DB:
[code]

Airflow Conf(mysql)：
[code]

DOCKER AIRFLOW(apache/airflow:master-ci ):
[code]

ERROR:
[code]

[2020-05-30 09:56] xu-xiang commented on #9069
Fix

[code]

[2020-05-30 10:30] potiuk commented on #9069
@xu-xiang  - In Airlfow 2.0 we have a fix for that: https://github.com/apache/airflow/blob/e9ecf0ae10dffcd9ccaf22cc9f19f140fbc5ee55/airflow/config_templates/config.yml#L78 - you can specify different character set for ids  - without constraining the character set for the whole database. It's been added in https://github.com/apache/airflow/pull/7570

[2020-05-30 10:30] #9069 closed

[2020-05-30 11:36] yyz940922 opened #9071 "Airflow scheduler works normally, fails with -D"
Same bug reports as this one: <a href="https://stackoverflow.com/questions/61035608/airflow-scheduler-works-normally-fails-with-d">https://stackoverflow.com/questions/61035608/airflow-scheduler-works-normally-fails-with-d</a>
Environment:
  - Linux: Centos7.6
  - Python 3.7
  - Airflow-version: 1.10.10-Stable
  - Executor: LocalExecutor on MySQL
  - MySQL: 5.7

[2020-05-30 12:03] jkoscialkowski commented on #9071
Have you tried using different MySQL adapters (e.g. `mysqlclient`) as suggested in the edits to my SO question you linked? I know it is not a full solution, but I was able to make it work this way. You would need to alter the `SQLAlchemy` connection string.

[2020-05-30 12:15] potiuk commented on #8933
This is already planned for AIP-4 - system tests -  combined with AIP-8  (likely) - split Airflow 2.0 into separate providers (follow up after AIP-21)  and with AIP-26 Production image

That's one of the reasons why we refactored and moved everything to separate backport providers and have clear dependencies for all of them. This will allow to turn them into "airflow-providers" and once we setup a

[2020-05-30 16:31] snazzyfox commented on #8933
Glad to hear that system tests will be coming! We should definitely still add it to the dependencies because that would actually fix it. System tests would only help catch the issue which we already know in this case :)

[2020-05-30 17:14] #8890 closed

[2020-05-30 17:38] turbaszek commented on #9071
I thought that this was fixed in 1.10.10 🤔 I'm not familiar with MySQL but maybe @feluelle knows more?

[2020-05-30 18:59] #8933 closed

[2020-05-30 21:52] eladkal commented on #9016
The ability to render query from file exists in BaseOperator hence can be used by all operators by specifying `template_ext`. This is not available in Hooks as hooks don't get templated.
Reading query from file is just one step. What about replacing parameters with their run time values?

I think your use case as presented here is incomplete. df is in memory this can't be the final step of your ET

[2020-05-31 03:19] szha commented on #9009
HashiCorp recently added a clause to their [term of evaluation](https://www.hashicorp.com/terms-of-evaluation) that forbids the usage of their enterprise software in China. While this may or may not affect this proposal, it does pose potential legal risk to contributors in China.

[2020-05-31 10:36] potiuk opened #9080 "Build and publish API clients automatically"
**Description**

The OpenAPI allows to generate automatically clients for various languages. There are however some unresolved problems with some of the constructs in the Open API - for example oneOf with single schema produces uncompilable code  despite being correct specification. Another example is "key" generic name of parameter, which in Java code might cause compilation problems in some case

[2020-05-31 12:05] vbmade2000 commented on #8138
@mik-laj I want to take take this task.

[2020-05-31 12:08] mik-laj commented on #8138
@vbmade2000 This task looks simple but requires integration with DAG Serialization and many test cases. What do you think about [API Endpoint - Config](https://github.com/apache/airflow/issues/8136)?

[2020-05-31 12:22] vbmade2000 commented on #8136
This looks good first one.

[2020-05-31 12:25] mik-laj commented on #8136
We haven't started implementation yet. We're working on a specification, but next week everything will start.  Are you already on our Slack? We have #sig-api channel. To join, please use this link: https://apache-airflow-slack.herokuapp.com/

[2020-05-31 12:32] mik-laj commented on #8142
Yes. We want to enable the integration of various systems with Airflow.

[2020-05-31 12:34] mik-laj commented on #8142
We removed these endpoints.  Now they are part of ticket https://github.com/apache/airflow/issues/8134 and
https://github.com/apache/airflow/issues/8133

[2020-05-31 12:34] #8142 closed

[2020-05-31 12:34] vbmade2000 commented on #8136
Sure. Just joined channel.

[2020-05-31 13:35] mik-laj commented on #8205
I checked again and we actually don't have operators.
A list of operators and hooks is available.:
https://airflow.readthedocs.io/en/latest/operators-and-hooks-ref.html#id15

[2020-05-31 13:35] #8205 closed

[2020-05-31 13:46] mik-laj commented on #8286
1. I would prefer that you still have one file, but you can create multiple classes in one module.
2. Yes. I think it's a good idea to create a new hook in this case.
3. This is fine if you only change things related to the Memorystore service.

[2020-05-31 19:41] mik-laj commented on #9060
https://github.com/apache/airflow/blob/ffbbbfc1a7c2266a19293e0c06b80d46e394fe57/airflow/models/connection.py#L211
If we want arrays to be created via the URL, we need to improve the parsing of the query string. Currently, you can only define a string there.

[2020-05-31 19:54] mik-laj commented on #9036
It seems that this property is no longer supported by Airflow and we should delete it. To generate a log path you must use FileProcessorHandler

[2020-05-31 20:47] mik-laj opened #9083 "Links to Stackdriver in WebUI"
**Description**

We currently have integration between web UI and Elasticsearch.  It was added by this PR: https://github.com/apache/airflow/pull/5164
![](https://user-images.githubusercontent.com/5075200/57167119-71f48500-6db1-11e9-8630-4e52e5814758.png)
This allows easier access to the Elasticsearch interface.  We recently added a task handler that allows you to save logs to the Stackdriver serv

[2020-06-01 00:03] ousatov-ua commented on #8564
Hi guys!

How did you solve the problem ?

is there any setting etc to fix it???

[2020-06-01 02:51] gwind commented on #8564
This bug caused by wrong user environment in the airflow POD mostly.

You can use `kubectl exec -it ${THE_POD} bash` go to the inside of the airflow POD, then exec airflow command for testing. You would be found that which user is working then.

[2020-06-01 05:10] potiuk commented on #9016
Agree with @eladkal - using ext and custom operator is the right ting to do. template_ext is the mechanism foreseen to do do similar thing and it's better to utilise it.

[2020-06-01 05:10] #9016 closed

[2020-06-01 06:17] zhengyscn opened #9086 "Task Instance Slots Available' FAILED"
dependency 'Task Instance Slots Available' FAILED: The maximum number of running tasks (16) for this task's DAG 'create_instance_test' has been reached.
FIXME: Rescheduling due to concurrency limits reached at task runtime. Attempt 1 of 1. State set to NONE.

[2020-06-01 06:44] shawnngtq commented on #8752
I face the same issue. Commenting here for record

[2020-06-01 07:38] #8447 closed

[2020-06-01 08:35] ousatov-ua commented on #8564
Hi!
Thanks!

I've setup it as proposed:
AIRFLOW__KUBERNETES__RUN_AS_USER: "50000"

And it did not help.... :((

[2020-06-01 08:37] ousatov-ua commented on #8564
Can you please post env variables for your airflow-dev-web?

[2020-06-01 08:37] ousatov-ua commented on #8564
I see airflow-dev-env variables:
AIRFLOW__KUBERNETES__RUN_AS_USER 50000

[2020-06-01 08:46] ousatov-ua commented on #8564
Ah no! Seems like I have another exception now :)) Dag is not found.

[2020-06-01 08:52] turbaszek commented on #9009
In my opinion it depends... Is creating a single GCS bucket worth adding terraform? However, I fully support the idea for usting terraform to setup complex environment.

[2020-06-01 09:16] potiuk commented on #9009
Fully Agree with Tomek. Especially with some setup/teardown that is quick and can be repeated for each test every time, using terraform makes no sense. But when you have longer setup that is more complex and takes quite some time, this might be definitely worthwhile.

The usual scenario for that will be

a) create  the environment -> terraform script

b) iterate on the tests
alternating with
c) po

[2020-06-01 10:34] santhoshhpe opened #9090 "Marking the dag task to success/failed in web UI, task's end date is None."
**Apache Airflow version**:
1.10.10

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:
docker
- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
NAME="Debian GNU/Linux"
VERSION_ID="10"
VERSION="10 (buster)"
VERSION_CODENAME=buster
ID=debian
HOME_URL="https://www.debian.org/"
SUPPORT_URL="https://www.debian.org/support

[2020-06-01 11:57] ousatov-ua commented on #8564
My config is next:

`AIRFLOW__KUBERNETES__GIT_REPO: "https://github.com/repo/airflow-dags.git"
    AIRFLOW__KUBERNETES__GIT_BRANCH: "master"
    AIRFLOW__KUBERNETES__GIT_SYNC_DEPTH: 1
    AIRFLOW__KUBERNETES__GIT_DAGS_FOLDER_MOUNT_POINT: "/opt/airflow/dags"
    AIRFLOW__KUBERNETES__GIT_SYNC_CONTAINER_REPOSITORY: "k8s.gcr.io/git-sync"
    AIRFLOW__KUBERNETES__GIT_SYNC_CONTAINER_TAG: "v3.1.2"
    AI

[2020-06-01 13:26] mdediana commented on #9083
@mik-laj I can work on this.

[2020-06-01 13:27] mik-laj commented on #9083
@mdediana  I assigned you to this ticket.

[2020-06-01 14:06] mgorsk1 opened #9093 "Enable configuration for GIT_SYNC_DEPTH in Kubernetes Executor"
**Apache Airflow version**:
1.10.7

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

oc v3.11.0+0cbc58b
kubernetes v1.11.0+d4cacc0

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

Git sync init container in worker failed to pu

[2020-06-01 16:13] abdul-786 opened #9096 "Calendar Based Scheduling Pattern - Scheduler Feature in DAG"
The current airflow scheduler architecture can scan the DAG, understand the cron schedule defined in the DAG and submit a task to a local/remote executor. This works best for most of use cases to automate any flavor of workflows. The cron schedule can fit most of workflow patterns but there are few complex business scheduling requirements as specified below.

1. Run the workflow on every alternati

[2020-06-01 18:24] samuelkhtu commented on #8525
Hello @jeffolsi , the new operator is in. Maybe we can close this issue?

[2020-06-01 22:16] aaltay commented on #8630
As a future improvement, would it be possible to have an integration test using DataFlowOperator and beam head?

[2020-06-01 22:20] mik-laj commented on #8630
System tests are run manually, so they would not detect this problem.  We hope to add system testing support to CI soon. However, this is not a commercial project, so it is not easy. We need many organizational, technical and financial problems first.

[2020-06-01 22:23] mik-laj commented on #8630
I am working on a thorough modernization of integration with Dataflow, so in the next versions Airflow will have better support for this service.
https://github.com/apache/airflow/pulls?q=is%3Apr+is%3Aopen+Dataflow+author%3Amik-laj
I have other changes in the long queue.

[2020-06-01 22:41] #9053 closed

[2020-06-02 06:22] bertosantamaria commented on #8128
Hi @mik-laj,
Congrats on getting https://github.com/apache/airflow/pull/8721 merged. Now that it has cleared I’d love to start helping with this issue. Can I proceed by following the spec or is there a different course to follow.

Thanks.

[2020-06-02 07:29] randr97 commented on #8134
Hi @mik-laj would be keen on working on this issue!

[2020-06-02 07:32] eladkal opened #9099 "moving sql operators into sql.py"
with the addition of BranchSqlOperator https://github.com/apache/airflow/pull/8942 and as pointed during the review I'd like to suggest the following :
[code]
will be merged to `airflow/operators/sql.py `
The operators will be renamed as:
CheckOperator                   ->~~SqlCheckOperator~~ SQLCheckOperator
ValueCheckOperator         ->~~SqlValueCheckOperator~~ SQLValueCheckOperator
IntervalChec

[2020-06-02 07:33] mik-laj commented on #8134
Thanks. For now, we're focusing on read-only endpoints. We need to build a scheme using Marshmallow compatible with OpenAPI. Soon I will write more information on Slack - #sig-api channel.

[2020-06-02 07:34] mik-laj commented on #9099
We should use uppercase for acronyms

https://www.python.org/dev/peps/pep-0008/

[2020-06-02 08:10] eladkal commented on #9099
@mik-laj NP. edited

[2020-06-02 08:32] freedom1989 opened #9100 "TypeError: Unexpected value for identifier: b'en'"
**Apache Airflow version**: 1.10.10

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**: Inside docker
- **OS** (e.g. from /etc/os-release): Ubuntu 16.04
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:
Got the following error when I enabled rbac:
[code]

Here is my do

[2020-06-02 09:16] potiuk opened #9101 "Rename all Transfer operators in Providers to XTYOperator convention"
**Description**

**Use case / motivation**

We agreed during [the voting](https://lists.apache.org/thread.html/r341898c92de08c8365cd730bb4a3c37ef0c9a0ecea3f18a273cb6ee6%40%3Cdev.airflow.apache.org%3E) that all the transfer operators should be named XToYOperator
We should rename all the operators to follow the convention and enforce it in the checks.

[2020-06-02 10:00] JeffryMAC opened #9102 "Add ability to filter DAG list by clicking on dag owner"
**Description**

Similar to https://github.com/apache/airflow/issues/8821

**Use case / motivation**

DAG list is organised by dag id so if someone want to see his dags he must search for it in the bar. it can good if by clicking on owner in owner column it will show only this person dags

@Sangarshanan what do you think?

[2020-06-02 10:02] JeffryMAC commented on #9101
what is XToYHook ?

[2020-06-02 12:06] potiuk commented on #9101
See the link in the description. @JeffryMAC

[2020-06-02 12:11] Sangarshanan commented on #9102
Nice! I have gotten rather used to just doing ctrl+F :stuck_out_tongue:  can pick this up too

[2020-06-02 12:13] turbaszek commented on #9101
@potiuk do we have any XToY**Hook**?

[2020-06-02 12:23] turbaszek commented on #9096
Dev list thread: https://lists.apache.org/thread.html/rd683c05321c2d6bddc1a667e6bf24eb26279810d0e0936da528a0a2f%40%3Cdev.airflow.apache.org%3E

[2020-06-02 12:29] JeffryMAC commented on #9101
hooks are on specific service (single) so how can how does something on X and Y?
Unless it's XtoX but even then it's called operator not hook

[2020-06-02 12:30] JeffryMAC commented on #9102
@Sangarshanan  yeah but ctrl + f doesn't help when you have many dags so they are on different pages.

[2020-06-02 12:40] samuelkhtu commented on #9099
@eladkal Thanks. Can you assign this to me? I can work on this.

[2020-06-02 12:41] potiuk commented on #9101
It's only about Transfer operators

[2020-06-02 12:42] potiuk commented on #9101
yes we have at least a few

[2020-06-02 12:45] potiuk commented on #9101
I thought we had some but not really. Clarified.

[2020-06-02 13:14] blackw1ng opened #9104 "s3_file_transform (and gcs) do not check exit code of subprocess correctly"
**Apache Airflow version**: 1.10.10 (also present on current master)

**Environment**:

- **Cloud provider or hardware configuration**: Amazon Web Services, m5.xlarge as workers.
- **OS** (e.g. from /etc/os-release): Debian GNU/Linux 9 (stretch)
- **Kernel** (e.g. `uname -a`): 4.14.173-137.229.amzn2.x86_64 amazon linux 2
- **Others**: python: 3.7.3

**What happened**:

A subprocess launched by `s3

[2020-06-02 13:22] potiuk commented on #9104
Nice. Would you like to make a PR for that @blackw1ng . it's rather easy to fix and I am happy to review it.

[2020-06-02 13:40] mik-laj commented on #9099
Please start working. I'll do it when I'm on the PC.

[2020-06-02 14:07] cfrazier91 opened #9107 "AwsGlueCrawlerOperator"
**Description**

Implement an `AwsGlueCrawlerOperator` as part of the `providers.aws` directory

**Use case / motivation**

I'd like to create a DAG with the following workflow:

`AwsGlueCrawlerOperator >> AwsGlueJobOperator >> AwsGlueCrawlerOperator`

**Related Issues**

[2020-06-02 15:48] samuelkhtu commented on #8525
Hi @mik-laj , can you help and close this item? Thanks.

[2020-06-02 15:51] #8525 closed

[2020-06-02 15:52] potiuk commented on #8525
Closed. For the future - it's enough to add Closes #ISSUE in the commit message so that the issue is closed automatically on merge :)

[2020-06-02 16:09] samuelkhtu commented on #8525
Thank you for the tips!

[2020-06-02 16:14] vbmade2000 commented on #8136
Will it fall under /api/v1 only or it is a common one between all the api versions ?

[2020-06-02 16:33] blackw1ng commented on #9104
Sorry - i wasnt entirely sure, if this project accepts PRs without an issue - so i basically simultaneously did both. Thanks for the quick review (of this rather trivial fix) - i guess this can be resolved as "fixed".

[2020-06-02 16:34] #9104 closed

[2020-06-02 16:42] feluelle commented on #9071
Can't reproduce this issue either. @yyz940922 can you post your sql alchemy conn uri - at least protocol (e.g.`mysql://`) and params (e.g. `charset`), please?

[2020-06-02 16:45] #8109 closed

[2020-06-02 16:50] mik-laj commented on #8137
@TobKed Hi. We have already started to implement. Do you still want to work on this ticket?

Here is config_endpoint.py file. You should start working here.  https://github.com/apache/airflow/blob/master/airflow/api_connexion/endpoints/config_endpoint.py

[2020-06-02 16:52] mik-laj commented on #8135
@kaxil   Hi. We have already started to implement. Do you still want to work on this ticket?

Here is log_endpoint.py file. You should start working here.
https://github.com/apache/airflow/blob/master/airflow/api_connexion/endpoints/log_endpoint.py

[2020-06-02 16:56] mik-laj commented on #8134
We are ready. You can start working from this file
https://github.com/apache/airflow/blob/master/airflow/api_connexion/endpoints/xcom_endpoint.py

You can be inspired by this change.
https://github.com/apache/airflow/pull/9045

[2020-06-02 16:59] kaxil commented on #8135
Yeah sorry I won't be able to work on it for at least a month or two, so please feel free to reassign

[2020-06-02 17:00] mik-laj commented on #8128
Hey, I found a PR who is already starting to implement this ticket. Do you want to take it over?
https://github.com/apache/airflow/pull/9045

Would you not be interested in this ticket?
https://github.com/apache/airflow/issues/8140

[2020-06-02 17:09] mik-laj commented on #8129
@davinchia or @rtstock Hi. We have already started to implement. Do you still want to work on this ticket? For now, we focus only on read-only operations, but others will also be implemented as the next step.

Here is dag_run_endpoint.py file. You should start working here.
https://github.com/apache/airflow/blob/master/airflow/api_connexion/endpoints/dag_run_endpoint.py

You can be inspired by thi

[2020-06-02 17:12] mik-laj commented on #8131
@OmairK Are you working on this change? Can you comment on this ticket so that I can assign you?
https://github.com/apache/airflow/pull/9097

[2020-06-02 17:14] OmairK commented on #8131
Yes I am working on it can you please assign it to me, thanks.

[2020-06-02 17:20] mik-laj commented on #8136
Hi. We have already started to implement.  Here is config_endpoint.py file. You should start working here.
https://github.com/apache/airflow/blob/master/airflow/api_connexion/endpoints/config_endpoint.py

[2020-06-02 17:24] mik-laj commented on #8127
@ephraimbuddy Are you working on this change? Can you comment on this ticket so that I can assign you?
https://github.com/apache/airflow/pull/9095

[2020-06-02 17:35] mik-laj opened #9108 "API Endpoint - CRUD - Connection"
Hello

We need to create several endpoints that perform basic CRUD operations on **Connection** . We need the following endpoints:

- POST /connections
- DELETE /connections/{connection_id}
- PATCH /connections/{connection_id}

IT depends on https://github.com/apache/airflow/issues/8127

Detailed information is available in the issue:
https://github.com/apache/airflow/issues/8118

LOVE,

[2020-06-02 17:37] mik-laj opened #9109 "API Endpoint - CRUD - DAG"
Hello

We need to create several endpoints that perform basic CRUD operations on **DAG**. We need the following endpoints:

- PATCH /dags/{dag_id}

It depends on https://github.com/apache/airflow/issues/8128

Detailed information is available in the issue:
https://github.com/apache/airflow/issues/8118

LOVE,

[2020-06-02 17:39] mik-laj opened #9110 "API Endpoint - CRUD - Dag Runs"
Hello

We need to create several endpoints that perform basic CRUD operations on **DAG Run**. We need the following endpoints:

DELETE /dags/{dag_id}/dagRuns/{dag_run_id}
PATCH /dags/{dag_id}/dagRuns/{dag_run_id}
POST /dags/{dag_id}/dagRuns/{dag_run_id}

It depends on https://github.com/apache/airflow/issues/8129

Detailed information is available in the issue:
https://github.com/apache/airflow/is

[2020-06-02 17:41] mik-laj opened #9111 "API Endpoint - CRUD - XCOM"
Hello

We need to create several endpoints that perform basic CRUD operations on **XCOM Entries*. We need the following endpoints:

POST /dags/{dag_id}/dagRuns/{dag_run_id}/taskInstances/{task_id}/xcomEntries
DELETE /dags/{dag_id}/dagRuns/{dag_run_id}/taskInstances/{task_id}/xcomEntries/{xcom_key}
PATCH /dags/{dag_id}/dagRuns/{dag_run_id}/taskInstances/{task_id}/xcomEntries/{xcom_key}

It depends

[2020-06-02 17:43] mik-laj opened #9112 "API Endpoint - Batch"
Hello

We need to create several endpoints that perform batch operations on **XCOM Entries*. We need the following endpoints:

- ``POST /dags/~/dagRuns/list``
- ``POST /dags/~/dagRuns/~/taskInstances/list``

It depends on https://github.com/apache/airflow/issues/8132, https://github.com/apache/airflow/issues/8129

Detailed information is available in the issue:
https://github.com/apache/airflow/is

[2020-06-02 17:43] ephraimbuddy commented on #8127
Yes. I am working on it

[2020-06-02 17:46] mik-laj commented on #8133
@houqp Do you want to work on it?
We are ready. You can start working from this file
https://github.com/apache/airflow/blob/master/airflow/api_connexion/endpoints/variable_endpoint.py

For now, we focus only on read-only operations, but others will also be implemented as the next step.

[2020-06-02 17:48] mik-laj opened #9113 "API Endpoint - DELETE Import Error"
Hello

We need to create several endpoints that perform one ono read-only operation on **Import Error**. We need the following endpoint:

DELETE /importErrors/{import_error_id}

Detailed information is available in the issue:
https://github.com/apache/airflow/issues/8118

LOVE,

[2020-06-02 17:49] mik-laj opened #9114 "API Endpoint - CRUD - Pool"
Hello

We need to create several endpoints that perform basic CRUD operations on **Pools**. We need the following endpoints:

POST /pools
DELETE /pools/{pool_name}
PATCH /pools/{pool_name}

Detailed information is available in the issue:
https://github.com/apache/airflow/issues/8118

LOVE,

[2020-06-02 17:50] mik-laj opened #9115 "API Endpoint - CRUD - Variable"
Hello

We need to create several endpoints that perform basic CRUD operations on **Variable**. We need the following endpoints:

POST /variables
DELETE /variables/{variable_key}
PATCH /variables/{variable_key}

Detailed information is available in the issue:
https://github.com/apache/airflow/issues/8118

LOVE,

[2020-06-02 17:52] #8108 closed

[2020-06-02 17:56] mik-laj commented on #8110
We will do this when implementing read-only operations for each endpoint. This will allow us to check schema compliance with OpenAPI.

[2020-06-02 17:56] #8110 closed

[2020-06-02 17:56] mik-laj commented on #8115
We will do this when implementing read-only operations for each endpoint. This will allow us to check schema compliance with OpenAPI.

[2020-06-02 17:56] #8115 closed

[2020-06-02 17:57] mik-laj commented on #8114
We will do this when implementing read-only operations for each endpoint. This will allow us to check schema compliance with OpenAPI.

[2020-06-02 17:57] #8114 closed

[2020-06-02 18:23] houqp commented on #8133
@mik-laj yes, I can take a stab at it this week. do you mind if I implement write endpoints as well or do you prefer me to only fill out the read endpoints?

[2020-06-02 18:41] mik-laj commented on #8133
A single PR can close multiple tickets. I divided the variable endpoints because I want to involve many new people in these tasks. When the ticket is small it is easier to finish it.
Here is a ticket about CRUD operation for Variable:
https://github.com/apache/airflow/issues/9115
Does this sound good to you?

[2020-06-02 19:08] waleedsamy commented on #9015
+1

[2020-06-02 19:14] bertosantamaria commented on #8128
@mik-laj Just confirming you are suggesting picking up where you left off on https://github.com/apache/airflow/pull/9045?  I'd be happy to work on that.  thanks

[2020-06-02 19:21] mik-laj commented on #8128
@bertosantamaria  I think that a better idea would be to take care of another ticket that has no assigned person. You can track the current tickets on the board.
https://github.com/apache/airflow/projects/1
Column: "TODO - Priority tasks -  Non-assigned"

[2020-06-02 19:22] houqp commented on #8133
@mik-laj looks good to me!

[2020-06-02 19:28] bertosantamaria commented on #8128
@mik-laj to be honest the change I'd like to implement is this one #9109. It seems this issue (8128) has been rescoped to implement read-only endpoints. Are there any objections to taking on #9109 instead?

[2020-06-02 19:29] mik-laj commented on #9115
@houqp Can you write a comment here? This will allow me to assign you to this ticket.

[2020-06-02 19:34] pegerto opened #9117 "Apache beam issue extracting job from monitoring page"
**Apache Airflow version**: 1.10.10 and 1.10.9 has been verified

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
no Kube

**Environment**:

- **Others**: docker environment with java 1.8

**What happened**:

The existing function to extract a job id from the monitoring page is no longer compatible with new beam 2.20:

https://github.com/apache/airflow/blob/96697180d7

[2020-06-02 19:35] mik-laj commented on #9109
@bertosantamaria Can you reply to this?  This allows me to assign you to this ticket.

[2020-06-02 19:39] bertosantamaria commented on #8128
Ah, I see.  Ok, sounds great.  thanks!

[2020-06-02 19:40] bertosantamaria commented on #9109
Yes hi and thank you.

[2020-06-02 19:53] randr97 commented on #8134
@mik-laj  will be working on it thanks :)

[2020-06-02 20:33] houqp commented on #9115
I will take this one as well :)

[2020-06-02 21:30] samuelkhtu commented on #9099
Should we change the class name from BranchSqlOperator to SQLBranchOperator or use the Python organization? (BranchSQLOperator?)

[2020-06-02 23:45] GMarkfjard commented on #8132
@mik-laj I'd love to get my hands dirty with this!

[2020-06-03 02:27] maverick12345678 commented on #8893
Okay ! Thanks for the heads up !

[2020-06-03 06:32] mik-laj commented on #8132
@GMarkfjard  Fantastic. I look forward to your contribution with a warm heart. 🐈

[2020-06-03 08:14] anon-john commented on #9046
I see your point. Maybe it would be useful to give an explicit error message stating "TimeDeltaSensor and `@once` make no sense" (instead of kinda cryptic `TypeError: unsupported operand type(s) for +=: 'NoneType' and 'datetime.timedelta'`)?

BTW what about the executor reporting success status in the scenario above? Is this expected/correct?

[2020-06-03 08:36] ashb commented on #8825
This does appear to be a problem in your custom logging config, or the logging file template. Without seeing that section of your config we can't debug this.

Airflow could probably validate this error earlier/at start up as part of validating the config to prevent "runtime" issues like this.

I'm closing this ticket now, but please feel free to re-open it with more info (the custom logging set up

[2020-06-03 08:36] #8825 closed

[2020-06-03 08:41] eladkal commented on #9099
It won't be consistent with how it's done  in `python.py `:
**Branch**PythonOperator
PythonOperator
PythonVirtualenvOperator

In my opinion the goal here is to make the SQL be consistent with Airflow current convention.
After this step is done you can raise the question of `BranchXOperator` or `XBranchOperator` to discussion as this effect operators from different modules so it's not just SQL loca

[2020-06-03 08:44] ashb opened #9118 "Improve/surface errors when attempting to read S3 logs"
**Description**

As mentioned in #8212 if you have configured S3 logs, but there is a problem then this is never surfaced to the UI (nor the webserver logs) making this very hard to debug.

All you see in the UI is this:

[code]

In one such case I was debugging, I found this error when attempting to communicate with S3:

[code]

We should add a `***` line showing we attempted to fetch the logs fo

[2020-06-03 08:50] ashb commented on #8212
@webster-chainalysis I've just opened 9118 to improve the debugging of S3 log handler.

Could you also try the debug steps I put in that description there -- lets rule out that sort of problem.

[2020-06-03 08:56] ashb commented on #8770
@aarrtteemmuuss See also #9118 -- can you try the debug steps there and see if it gives any indication of the problem.

[2020-06-03 10:40] mik-laj commented on #9117
Duplicated: https://github.com/apache/airflow/issues?q=is%3Aissue+is%3Aopen+Dataflow

[2020-06-03 10:40] #9117 closed

[2020-06-03 11:49] #8783 closed

[2020-06-03 11:53] potiuk commented on #8784
Closed by #9029

[2020-06-03 11:53] #8784 closed

[2020-06-03 12:55] rammady commented on #8258
@mik-laj I didn't do much on this .I'll share once there is something meaningful .

[2020-06-03 13:11] samuelkhtu commented on #9099
Thanks. Sounds good. The PR is done. I will send it out for review later this afternoon.

[2020-06-03 13:14] TobKed commented on #8137
@mik-laj yes, I will start working on this

[2020-06-03 13:20] iam432 commented on #8609
@vdusek : Looks my solution is not working, did you find  a solution which is working for you ? please suggest if you have any workaround

[2020-06-03 14:07] ashb commented on #8785
Next chunkiest layers (in order they appear in the Dockerfile):

- 413MB - Installing node and yarn
- 385MB - docker-ce
- 43MB kubectl
- 438MB - gcloud-sdk (aws CLI is only 72MB)
- 1.4GB - all of the python deps (`pip install -e .[$AIRFLOW_EXTRAS]` - not much we can do about that I don't think)
- 219MB - node deps (`yarn --cwd airflow/www install --frozen-lockfile --no-cache`)

(Not saying we can/

[2020-06-03 15:56] feluelle commented on #9009
So what I have in mind is that the `def setUpClass` automatically `terraform init`s the infra located in `tests/providers/*/infrastructure` for a file named as the example dag file and should end with `.tf` **if exists**

What we could also do would be only running the terraform init for`tests/providers/*/infrastructure` once for all example dags when the providers system flag is used `--system am

[2020-06-03 17:46] samuelkhtu commented on #9099
Hi @eladkal @mik-laj , the PR is ready for review. Thanks.
[https://github.com/apache/airflow/pull/9124](url)

[2020-06-03 20:27] potiuk commented on #8785
Kubectl gone already after merging #8265

[2020-06-03 20:28] potiuk commented on #8785
I think docker can be removed as well. Let me see.

[2020-06-03 21:36] ahmad-maruf opened #9127 "AttributeError: 'EMR' object has no attribute 'get_cluster_id_by_name' (Airflow 1.10.10)"
**Apache Airflow version:**
1.10.10

**What Happened:**

A bug in the latest stable version of Airflow (1.10.10) causes the following library API call mismatch error when calling the `EmrAddStepsOperator` (and as a result the EmrStep as well as the correposnding DAG Run fails):
[code]
After digging through the library API code, I found the bug here (line 74):
https://github.com/apache/airflow/blob

[2020-06-04 01:29] ChristianYeah opened #9131 "max_active_runs failed in production env with multiple workers"
**Apache Airflow version**: 1.10.10

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): centos 7.5
- **Kernel** (e.g. `uname -a`):Linux prod-auto-ops001 3.10.0-1062.4.1.el7.x86_64 #1 SMP Fri Oct 18 17:15:30 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
- **Install tools**: pip
- **Others**:

**What happened**:

I have two environments, one is developm

[2020-06-04 07:32] ephraimbuddy commented on #8129
Hi @mik-laj , I will like to work on this

[2020-06-04 08:11] thesuperzapper commented on #8526
I have made PR #9133 to fix this

[2020-06-04 08:14] SteNicholas opened #9134 "Support Flink operator"
**Description**

Airflow currently supports Spark operators for kicking off a spark-submit job.  In real-time computing or online machine learning scenarios, Flink operator could be designed to submit flink job in streaming workflow.

**Use case / motivation**

Airflow coud supports definition of `FlinkSubmitOperator` for DAG composed of multiple Flink jobs. `FlinkSubmitOperator` is designed to in

[2020-06-04 08:56] mik-laj commented on #8140
@michalslowikowski00 Would you like to work on it?

You should start with this file:
https://github.com/apache/airflow/blob/master/airflow/api_connexion/endpoints/extra_link_endpoint.py
These files are also related:
https://github.com/apache/airflow/blob/d6b954d4728de97e9bbd2ba01dd4f5c19c8441bb/airflow/www/views.py#L2015
https://github.com/apache/airflow/blob/d6b954d4728de97e9bbd2ba01dd4f5c19c8441

[2020-06-04 09:03] michalslowikowski00 commented on #8140
Great :)

[2020-06-04 09:11] OmairK commented on #8130
Hi @mik-laj I would like to work on this.

[2020-06-04 09:13] mik-laj commented on #8130
@OmairK I assigned you to the ticket. I look forward to your contributions.

[2020-06-04 09:20] zhongjiajie commented on #9134
Sound good! looking forward your contribute. BTW, Airflow open to all new and useful operators.

[2020-06-04 09:35] #9027 closed

[2020-06-04 09:35] alexandraabbas commented on #9027
Backport packages are going to be released very soon which will solve this issue.

[2020-06-04 11:03] mdnawed2010 commented on #8806
@turbaszek request_id will help. It will be very kind of you, if you can share the airflow version for which this new change was introduced?

Closing this issue.

[2020-06-04 11:03] #8806 closed

[2020-06-04 13:14] turbaszek commented on #8806
It will be part of backport packages:
https://github.com/apache/airflow/blob/master/README.md#using-hooks-and-operators-from-master-in-airflow-110

Not released yet, should be ready in next two weeks.

[2020-06-04 13:20] nullhack opened #9139 "gzip option of sql_to_gcs operator don't compress the data file"
**Apache Airflow version**: 1.10.9

**What happened**:

When using `sql_to_gcs` with the option `gzip=True`, the output data file in gcs is not compressed (and instead the schema file is compressed)

**What you expected to happen**:

When the option `gzip=True`, I would expect the data file to be compressed using gzip and no changes to the schema file

**How to reproduce it**:

Just use [sql_to_gc

[2020-06-04 14:33] #9139 closed

[2020-06-04 16:13] kamikaze commented on #8484
same here, the only way to get logs working - downgrading to 1.10.7, it started to happen since 1.10.9 for us, (we skipped 1.10.8)

[2020-06-04 16:26] kamikaze commented on #8731
same here since 1.10.9 (probably 1.10.8, but we skipped it)

[2020-06-04 16:42] kamikaze commented on #8484
Here is the DAG you can launch and see by yourself.

[code]

[2020-06-04 17:13] potiuk commented on #8947
Closed  by #9129

[2020-06-04 17:13] #8785 closed

[2020-06-04 19:17] jonathonbattista commented on #8479
Any update on this?

It would be super useful to be able to run custom logic before the worker pod runs!

[2020-06-04 20:19] JeffryMAC opened #9145 "Enhance `SqlToSlackOperator` to support attachments"
**Use case / motivation**
following to https://github.com/apache/airflow/pull/9023
Current implementation of SnowflakeToSlackOperator adds the data frame result to the slack message. That way it's not suitable for large data. Even 50 rows is too much. In some cases it's better to send the message with attachment as csv file.

[2020-06-04 20:21] JeffryMAC commented on #8931
is anyone know a good way to get this data from the backend db? is anyone monitoring such thing in their own internal system?

[2020-06-04 23:05] mik-laj commented on #8931
I think it's best if you use Data Studio and you connect directly to the database.
Here is a guide for PostgresSQL:
https://support.google.com/datastudio/answer/7288010?hl=en
Here is a guide for MySQL:
https://support.google.com/datastudio/answer/7088031?hl=en

[2020-06-04 23:26] jaketf opened #9146 "DataprocSubmitPySparkJobOperator main parameter should be templated"
**Description**
[`DataprocSubmitPySparkJobOperator.template_fields`](
https://github.com/apache/airflow/blob/master/airflow/providers/google/cloud/operators/dataproc.py#L1259) does not contain main.

**Use case / motivation**

Allow user to render the path to main pyspark file based on an airflow variable at runtime rather than dag parse time. This is helpful in keeping user code the same and bump

[2020-06-04 23:26] jaketf commented on #9146
CC: @mik-laj

[2020-06-04 23:49] dimon222 opened #9148 "Retries are causing constraint violation (Airflow 1.10.10)"
**Apache Airflow version**:
1.10.10

**Database version**:
MariaDB 10.2.22

**What happened**:
When task fails, next task retry raises this exception immediately:
[code]
For some reason the value for execution date is calculated exactly same as previous retry. I might assume its not supposed to happen.

**What you expected to happen**:
Task retries correctly.

**How to reproduce it**:
Crash task t

[2020-06-05 03:49] potiuk commented on #9148
@kaxil @ashb @anitakar -> this one seems to be serialization related and seems to be fairly important to fix for 1.10.11

[2020-06-05 04:17] potiuk opened #9150 "You cannot enter bash in prod image via breeze"
**Apache Airflow version**:

Master, 1.10.10

**What happened**:

There is no way to enter Airflow Prod image with bash with breeze.

The workaround is to enter it manually:

`docker run -it  apache/airflow:master-python3.7 bash` in master or `docker run -it  apache/airflow:master-python3.7 ""` in 1.10.10

**What you expected to happen**:

if you run breeze without parameters you should enter prod

[2020-06-05 05:16] mik-laj commented on #8893
@maverick12345678 Do you need any help?

Users report related errors to us all the time.  Here a new ticket from yesterday.
https://github.com/apache/airflow/issues/9146

[2020-06-05 08:24] DragonGirlsDriver opened #9152 "how to use filter_by_owner in rbac?"
In airflow.cfg, the parameter of filter_by_owner requires authentication to be enabled. However, I want to use rbac with FAB. So, if I want to filter by owner in rbac, what need to set parameters?

[2020-06-05 08:26] #9152 closed

[2020-06-05 08:43] feluelle commented on #9009
I have a question: When I am adding terraform to airflow and I want it through docker like it was done [here](https://github.com/apache/airflow/commit/a39e9a352050f96dedadc39ab3d985065971c98c) what volumes should I mount? I need to mount the .aws, .azure, etc. folder but also the folders containing the .tf files. How should I do it? Mount the whole airflow dir?

WDYT? @potiuk @turbaszek :)

[2020-06-05 08:48] potiuk commented on #9009
Yeah. Airflow sources are best. But for that, you will need to create a HOST_AIRFLOW_SOURCES variable (similarly as I do with HOST_HOME) as an environment variable and mount it as `/opt/airlfow`.

[2020-06-05 08:49] potiuk commented on #9009
And BTW. IT would be great to also add this mapping -v ${HOST_ARIFLOW_SOURCES}:/opt/airflow also to the other commands. We might wan to upload stuff to gcloud/aws as well.

[2020-06-05 09:35] ashb commented on #9148
@dimon222 Disabling `store_serialized_dags` in your config should also work around this problem.

[2020-06-05 09:45] kaxil commented on #9148
Yes, will fix it for 1.10.11

[2020-06-05 11:04] ashb commented on #8907
Which DNS pod (kube-dns or core-dns?) are you using in your kube cluster?

[2020-06-05 11:12] ashb opened #9155 "Add migration to increase length of ab_view_menu.name column"
See https://github.com/dpgaspar/Flask-AppBuilder/pull/1368

Daniel @ FAB has recommended we add a migration in Airflow to handle this subtle schema change in FAB.

We can do that, but we don't currently have a migration that creates/ensures the FAB tables exist (we have been relying on FAB creating them for us) -- so perhaps we should "import" the current definition of all of FABS tables with an s

[2020-06-05 11:24] kaxil commented on #8752
Cherry-picked to v1-10-test: d0de41c

[2020-06-05 11:58] svetli-n commented on #9131
Have you scripted building your envs, eg can you provide docker-compose files?

[2020-06-05 12:01] sylr commented on #8907
coredns

[2020-06-05 14:39] #9146 closed

[2020-06-05 16:01] kaxil commented on #9148
@dimon222 Can you try setting `max_num_rendered_ti_fields_per_task` to 1 and see it that helps for now ?

[2020-06-05 17:33] maverick12345678 commented on #8893
I will convey the message. I am looking into the matter. Sorry for the delay

On Fri, 5 Jun, 2020, 10:46 AM Kamil Breguła, <notifications@github.com>
wrote:

[2020-06-06 06:58] chrismclennon commented on #9148
I'm experiencing the same issue. @kaxil I set `max_num_rendered_ti_fields_per_task=1` and am still seeing the issue.

[2020-06-06 07:45] mik-laj opened #9161 "Moving of the transfer operators to new packages"
Following the discussion
https://lists.apache.org/thread.html/rbf69247f8d4702a1b3770ab4891d90daed1ef12f385f2040f3ebe92d%40%3Cdev.airflow.apache.org%3E
and voting
https://lists.apache.org/thread.html/r3514ef575b437b9eb368111b1e4b03ad7455e63d64c359c22fd6ea9a%40%3Cdev.airflow.apache.org%3E

We move transfer operators to the new package - airflow.providers.*.transfer.

As a result, we will have the fo

[2020-06-07 06:09] nullhack opened #9164 "DockerOperator xcom issues"
**Apache Airflow version**: 2.0.0.dev0, 1.10.10

**Environment**:
docker image: `apache/airflow:master-ci`

**Problems**

* **Issue 1**: When `xcom_push=True` is enabled (and `xcom_push_all=False`), the output **sometimes is null** OR captured in wrongly (`see screenshots bellow`).
* **Issue 2**: When `xcom_push_all=True` a bytes string (`b'...'`) is stored as xcom, It's harder to use the output o

[2020-06-07 06:15] nullhack commented on #9164
@potiuk @turbaszek Can you please take a look on the PR ?
I tried to document well and explain the changes. But in case of doubts, please ping me.

[2020-06-07 07:50] alexbegg commented on #8258
@rammady @elwinarens today I have been writing my own secret backend for Azure Key Vault if you want me to help with contributing this too.

I am using kwargs for the Service Principle's client id, client secret, and tenant id. I am also documenting it just as much as the other backends. I am doing some final QA-ing before I am PR ready.

I also added a kwarg called `word_sep` in which you can spe

[2020-06-07 07:55] fuyi opened #9166 "DAG run fails when task instance is still running"
**Apache Airflow version**:

1.10.10

**What happened**:

DAG run fails when task instance is still running. see screenshot below

![Screenshot 2020-06-01 at 21 50 43](https://user-images.githubusercontent.com/295515/83963257-d7fce700-a8a4-11ea-940f-c87465bf7bd5.png)

**What you expected to happen**:

DAG run is in status running, not failed while a tasks instance is still running

**How to reprod

[2020-06-07 08:01] alexbegg commented on #8258
One question I have is what is a suggested location to store a custom secret backends file in relation to the airflow home dir? The only other time I used a path in the config was for a logging config path but this actually feels more like a plugin than an config. On that thought... is there any plans to allow for adding secret backends as part of a plugin?

[2020-06-07 08:15] mik-laj commented on #8258
We do not plan to support plugins for secret backends. Custom secret backends can be distributed using regular python packages. If you do not want to create a package, you can add code to the sys.path variable using PYTHONPATH or take advantage of the fact that some directories are automatically added by Airflow e.g. plugin  directory (https://github.com/apache/airflow/issues/8647#issuecomment-623

[2020-06-07 08:47] mik-laj commented on #8484
Here is workaround:  https://github.com/apache/airflow/pull/6627#issuecomment-640178886

[2020-06-07 15:36] 2796gaurav commented on #9161
Great @mik-laj Looks like you will need a helping hand for this. Maybe I can help. I have contributed to couple of OSS but not airflow. although I have worked on it. Can you provide a simple task that I can work on in this?

[2020-06-07 15:42] mik-laj commented on #8900
I added a tip in Web UI.
https://github.com/apache/airflow/commits/master?after=b4b84a1933d055a2803b80b990482a7257a203ff+69
What else should we do?

[2020-06-07 15:42] #8567 closed

[2020-06-07 15:47] mik-laj commented on #9161
@2796gaurav Thank you very much for your willingness to help, but my team would like to complete the change themselves, because it is needed to release backport packages. We want to release these packages as soon as possible because many users would like to start using them. We have already moved many operators in the past, so we have the tool and experience that speeds up this task.

What do you

[2020-06-07 15:56] 2796gaurav commented on #9161
Yes sure would love to do that!

[2020-06-07 15:58] 2796gaurav commented on #8171
Hi @mik-laj As discussed let me put my hands on this. Let me know if there's something you would want to provide additional info.

[2020-06-07 16:01] mik-laj commented on #8171
@2796gaurav  We already have one draft. Please read it and comments, and then you will be able to start working on this change.

[2020-06-07 16:01] 2796gaurav commented on #8171
Yes sure!

[2020-06-07 16:04] AmarEL commented on #8900
That works!
But I think that adding the param `conf` and its type in the `create_dagrun` docstring would be more complete, because the `create_dagrun` method doesn't have this param in the docstring.

[2020-06-07 16:07] mik-laj commented on #8171
I also invite you to read our guides:
https://github.com/apache/airflow/blob/master/CONTRIBUTING.rst
https://github.com/apache/airflow/blob/master/BREEZE.rst
https://github.com/apache/airflow/blob/master/LOCAL_VIRTUALENV.rst
https://github.com/apache/airflow/blob/master/STATIC_CODE_CHECKS.rst
https://github.com/apache/airflow/blob/master/TESTING.rst
There is a lot of information about our work env

[2020-06-07 16:49] alexbegg commented on #8258
@mik-laj thank you for the clarification. Seeing operators, hooks, and sensors in airflow plugins documentation caused me to think it was the preferred method. It is good to know about the increased memory consumption. These notes should get added to the documentation.

[2020-06-07 16:52] mik-laj commented on #8258
@alexbegg I agree. Here is a ticket that discusses defects in the documentation about loading modules.
https://github.com/apache/airflow/issues/8715

[2020-06-07 17:03] lascott opened #9168 "incompatible dependency with json_schema"
**Description**
Incompatible dependency constraints, or undocumented resolution of jsconschema v airflow

**airflow jsonschema constraint**
- jsonschema >=3.0.0,<3.1.0  # [py<38]
- ensure jsonschema version is < 3.0.0 in setup.py

  https://github.com/conda-forge/airflow-feedstock/blob/master/recipe/meta.yaml
  Very few online results, but in poetry, this was resolve by dropping to a version < 3.0

[2020-06-07 19:42] nullhack opened #9172 "DockerOperator auto_remove deleting container before saving to xcom"
**Apache Airflow version**: 2.0.0.dev0, 1.10.10

**Environment**:
docker container: `apache/airflow:master-ci`

**What happened**:
When using DockerOperator and setting `auto_remove=True` data is not stored on `xcom`

**What you expected to happen**:
I expect that the data is saved after the process and the container is deleted.

**Code to test**
[code]

**Sample Output**
![image](https://user-ima

[2020-06-07 19:46] alexbegg commented on #8258
@mik-laj Thank you, that will be very useful to have documented!

[2020-06-08 05:46] ChristianYeah commented on #9131
@svetli-n , I installed everything via pip (pip install apache-airflow[all]), except the local virtual env was installed by anaconda and the production was installed from source code. additionally, except the db or broker config, everything is the same.

[2020-06-08 06:12] #9172 closed

[2020-06-08 06:30] nullhack opened #9176 "[Feature request] Add reverse run of DAGs"
**Description of the problem**

A common workflow we have is running hourly DAGs not dependent of past runs. When deployed, It needs to catch up for many years before the runs are up to date and can be used by analysts.

The problem is that most of time, Recent runs are more important than performing ETL of execution time 20 years ago. In practice we deploy the DAG two times, one for filling recen

[2020-06-08 07:37] mik-laj commented on #9172
If you create PR, you don't have to create a issue, you know that?  issues are information for other people about an bug or about long-term plans. We do not like bureaucracy and additional forms before starting work.

[2020-06-08 09:03] nullhack commented on #9172
Noted! I didn't know that. From the [Documentation on contributing](https://github.com/apache/airflow/blob/master/CONTRIBUTING.rst#contribution-workflow-example) It was not clear to me. I thought all PRs should be backed by an issue.

[2020-06-08 14:17] jimmajure opened #9181 "Make KubernetesExecutor PersistentVolumeClaim mounts more flexible."
**Description**

In the KubernetesExecutor configuration, allow the DAGs, logs, plugins folders to be supported by a single PersistentVolumeClaim. Currently the configuration forces a separate PVC for each directory.

**Use case / motivation**

Mounting volumes via a PVC is an expensive task that requires multiple calls to the K8S API server, so it is beneficial to be able to mount fewer PVC volum

[2020-06-08 18:17] nehiljain commented on #9015
+1

[2020-06-08 19:16] mjpieters opened #9185 "Include plugin information in the version page"
**Description**

Please include plug-in information (see below) in the Airflow "About -> Version" information page in the web interface.

**Use case / motivation**

Plug-ins have a lot of leeway in Airflow, adding not only operators, sensors, hooks, and executors, but can also provide menu items and other, less visible extensions to the Airflow server. However, you currently can't get an overview

[2020-06-08 19:38] driquelme opened #9186 "Add SRV DNS record support to http connections"
**Description**

SRV records are DNS records that resolve to a hostname and a port. Being able to specify http connections with SRV resolution support is useful in contexts where external services are defined as SRV records.

**Use case / motivation**

One particular example applies to service discovery with dynamic port mapping. In this context, service discovery maps one or more hosts to a SRV r

[2020-06-08 22:15] tooptoop4 commented on #9166
https://github.com/apache/airflow/pull/8082 might help

[2020-06-09 06:31] yyz940922 commented on #9071
sql_alchemy_conn = mysql+pymysql://airflow:password@127.0.0.1:3306/airflow

[2020-06-09 06:33] yyz940922 commented on #9071
I solved this problem in another way, set vm.overcommit_memory=1, then use nohup xxxx &, but -D still not work for scheduler。

[2020-06-09 06:35] yyz940922 commented on #9071
But this may conflict with the setting of Greenplum, cause vm.overcommit_memory need to be 2 for greenplum。

[2020-06-09 07:48] the-horhe opened #9190 "DockerOperator loosing some initial container output"
**Apache Airflow version**: 1.10.10

**Environment**: official docker image apache/airflow:1.10.10, docker api version: 1.40

**What happened**:
Don't see any container output in task logs when using DockerOperator with short living containers.

**What you expected to happen**:
Expected to see container stdout/stderr

It seems the problem is here: https://github.com/apache/airflow/blob/v1-10-stabl

[2020-06-09 11:12] svetli-n commented on #9131
@ChristianYeah Thanks. I can't reproduce it though. Feel free to share full dag run file including deafult settings and tasks, as well as how you trigger the dag run.

[2020-06-09 11:15] ChristianYeah commented on #9131
I’ll duplicate the production env to the test later later , see if it will be reproduced.&nbsp;

发自我的iPhone

------------------ Original ------------------
From: svetli-n <notifications@github.com&gt;
Date: Tue,Jun 9,2020 7:12 PM
To: apache/airflow <airflow@noreply.github.com&gt;
Cc: ChristianYe <ye56119537@vip.qq.com&gt;, Mention <mention@noreply.github.com&gt;
Subject: Re: [apache/airflow] max_a

[2020-06-09 11:23] potiuk opened #9192 "Try out (again) BUILDKIT for Docker builds with GitHub registry as cache"
**Description**

BUILDKIT provides much better interface/experience for building images (especially segmented images) - we could switch to use it finally (providing that we can easily use cache from registry - most likely GitHub registry rather than DockerHub which should only be used for release purposes.

**Use case / motivation**

We can have faster/smaller builds for development and release pu

[2020-06-09 11:25] dinigo opened #9193 "Breaks production Docker image: Celery 4.4.4 (known bug) lacks "future" module thus breaks airflow"
Hello. We are experiencing some issues in local development due to a celery using a module that it doesn't install anymore.

This happened when upping dependency version of celery 4.4.3 to 4.4.4

**Apache Airflow version**: 2.0 - Official docker image (apache/airflow:master)

**What happened**:

Commit https://github.com/apache/airflow/commit/aa8990031d15b5c5b66fd9fb4b483d938e656bde updated celery

[2020-06-09 12:05] nullhack commented on #9190
This can be related to a recently merged [PR](https://github.com/apache/airflow/pull/9173).

I tried to run on the docker image `apache/airflow:master-ci` and the output was as expected.

![image](https://user-images.githubusercontent.com/11466701/84144441-d55be680-aa8a-11ea-8021-e3aee6bb6bdf.png)

If this is the case, It's related to the `auto_remove=True`, (the container gets removed before The

[2020-06-09 13:12] languitar commented on #8629
Does anyone know when this will end up in a stable release?

[2020-06-09 14:33] kaxil commented on #9148
I will fix this for 1.10.11 soon and will try to post a workaround too in 1-2 days

[2020-06-09 15:38] edejong commented on #8903
I should really check GitHub more often, I only saw the notification now.

Let me know if I understand the question correctly: should the BigQueryHook's interface rely on classes from the Google API client library, or should all data be passed in as dictionaries?

I think it's one thing to have the Airflow hooks/operators coupled to the BigQuery REST interface which I guess is what you get passing

[2020-06-09 16:14] shanit-saha opened #9197 "dagrun_operator in Airflow Version 1.10.10 ERRORS _run_raw_task result = task_copy.execute(context=context)"
On Migrating Airflow from V1.10.2 to V1.10.10 One of our DAG have a task which is of dagrun_operator type.

Code snippet of the task looks something as below. Please assume that DAG `dag_process_pos` exists
[code]
The DAG runs all fine. In fact the python callable of the task mentioned until the last line. Then it errors out.
[code]
After which the `on_failure_callback` of that task is executed an

[2020-06-09 16:28] dimon222 commented on #9118
Any clue what component can be touched to impact on this? I'm having trouble to find what code swallows exceptions. Really looking to investigate and resolve S3 logs issue.

[2020-06-09 17:14] mik-laj commented on #9186
It makes sense. Support for service discovery in Airflow may be helpful in some use cases.  I'd love to see implementations of this change if you plan to work on it.

[2020-06-09 17:25] mik-laj commented on #8629
@languitar We plan to release it in Airflow 2.0. However, you will be able to use it in Airflow 1.10 using backport packages. The releasing process of these packages is ongoing. I hope it will take us up to two weeks.
https://github.com/apache/airflow#using-hooks-and-operators-from-master-in-airflow-110

[2020-06-09 18:12] swapniel99 commented on #9176
I think `back_run=True` can work only if `catchup=True` but `depends_on_past=False`
catchup=False means past runs are not necessary.
Can anyone correct me if I am wrong?

[2020-06-09 18:46] potiuk commented on #9193
Fixed in #9194 - the images should rebuild tonight (we have nightly builds) and they should contain celery 4.4.5

[2020-06-09 18:46] #9193 closed

[2020-06-09 19:29] mik-laj opened #9200 "CLI tool wrappers doesn't support pipe"
When I run the following command ussing native gcloud
[code]
When I executed this command in Breeze. I got the following output
[code]
I would be happy if the behavior in these environments was identical.

This problem causes Cloud Build system tests to fail.
https://github.com/apache/airflow/blob/c18f4c035c3fcee2e47c5f274b2f59add4d14ced/tests/providers/google/cloud/operators/test_cloud_build_syst

[2020-06-09 19:56] nullhack commented on #9176
Yes, this is what I meant, thanks for spotting that. I'm changing the question

[2020-06-10 00:29] casassg commented on #8058
Any updates on this?

[2020-06-10 03:45] shanit-saha commented on #9197
Please advise as to what could be the work around. The DAG code perfectly works fine in our production with `Airflow1.10.2` , until now that when we are in the urgent need to migrate to `Airflow 1.10.10` this peculiar error is popping up.

CC: @ashb

[2020-06-10 06:04] phill84 opened #9202 "`sudo kill` called with invalid signal"
**Apache Airflow version**:
1.10.9 until the current master (f4faed6eea70e34da60edcb555fffc9099d3214a)

**Environment**
python3.6

**What happened**:
airflow fails to kill tasks executed with sudo
[code]

**What you expected to happen**:
``kill`` should be invoked with the signal number

**How to reproduce it**:
Kick off any long running task that has ``run_as_user`` set to a different user than a

[2020-06-10 06:43] mik-laj commented on #9202
Thank you for reporting this error.  Would you not like to deal with this problem?  Apache Airflow is a community-managed project and has no paid support.  If you want the problem to be eliminated in the next version, it is best to submit the Pull Request.

if you want to start work, I invite you to read the contribution guide
https://github.com/apache/airflow/blob/master/CONTRIBUTING.rst

[2020-06-10 06:46] the-horhe commented on #9190
Tested with `auto_remove=False` - it seems it has no effect. Did't try with `apache/airflow:master-ci` though yet.
Also modified command to `/bin/bash -c \'echo "1" && sleep 5 && echo "2"\` and see only `2` in logs, so to me it seems the problem is a late container connection.

@nullhack it is the first time we try to use DockerOperator, so don't have much to say 8(

[2020-06-10 07:30] ephraimbuddy commented on #8135
Hi @mik-laj, can I start working on this?

[2020-06-10 08:08] sann05 opened #9205 "Add ability to use key files for Hooks development"
As I an Airflow developer I want to have the ability to use key files for an API authorization for Hooks development.

Some APIs use key files (including binary files) for authorization.

How it would look like:

0. _A user is on the "Add Connection" page._
1. Clicks on the "Browse" button opposite to the "Key file" field.
2. Chooses the needed key file.
3. The key file is saved under $AIRFLOW_HOM

[2020-06-10 08:12] dinigo commented on #9193
Thanks a lot @potiuk and @mik-laj! You saved my day :)

[2020-06-10 10:03] mik-laj commented on #8135
@ephraimbuddy Fantastic. I've assigned you to this ticket.

[2020-06-10 10:20] ChristianYeah opened #9209 "mark dag_run as failed internally, eg, in one of the internal tasks"
airflow: 1.10.10

I searched google for marking a single dag run as failed if some task logic doesn't meet with a particular condition.

for example, if task A requests the URL, the expected result should be error_code == 0.
Now I manually do something like ```print(1/0)``` to raise the exception if I get error_code 1.

Is that possible to manually mark the dag_run as failed internally?

Thank you

[2020-06-10 11:53] mik-laj commented on #9185
I added `airflow plugns` command recently. It would be good if the scope of information was similar in these two places.
https://github.com/apache/airflow/pull/9001

Would you like to start working on this ticket? Should I assign you to this?

[2020-06-10 15:37] 51yu opened #9213 "FILTER_BY_ONWER does not work for multi-owner dags"
**Apache Airflow version**:
1.10

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:
owner field of dags `owner1, owner2, owner3`
owner1 can not see the dag

https://github.com/apac

[2020-06-10 21:15] ebacal opened #9221 "UI/TZ issue: incorectly mapping DAGs"
**Apache Airflow version**:
1.10.9 and 1.10.10

**Environment:**:

- MySQL 5.7, TZ=PST
- airflow.cfg tested with time_zone=system, Los_Angeles/America, utc

**What happened**:

1. From a schedule view by clicking on DAG with Execution date 18:00 PST it maps me to 18:00 UTC DAG instance
2. In Browse TASK INSTANCE view, sorted by state failed displays correct tasks but when I choose to clear them it

[2020-06-11 00:04] ashb commented on #9221
What frequency is your dag? Hourly? (This is not part of the problem, but would help in reproducing the issue)

[2020-06-11 07:00] michal5210 opened #9225 "请问离线安装airflow 1.10 如何操作，有相关文档么？"
大家好，请问airflow 的离线安装相关资料哪里可以获得，在下浏览了一遍1.10安装，都是在线的，用不了啊

[2020-06-11 08:08] feluelle commented on #9009
Terraform was introduced during #8877

For further integration i.e. automatisation of system tests we can also use terraform but that should be a separate issue.

[2020-06-11 08:08] #9009 closed

[2020-06-11 08:15] potiuk commented on #9225
Please use slack to ask your questions and preferably use English (See https://airflow.apache.org /community section for details)

[2020-06-11 08:15] #9225 closed

[2020-06-11 09:08] ashb commented on #8564
This has already been added to master via https://github.com/apache/airflow/pull/7507 (and then renamed in https://github.com/apache/airflow/pull/8312/) -- we're hoping to include this in the 1.10.11 release.

[2020-06-11 11:20] shanit-saha commented on #9197
@svetli-n : Please refer to the conversation at https://github.com/apache/airflow/pull/7324#issuecomment-642350478
That speaks about the solution.

[2020-06-11 13:22] michal5210 commented on #9225
sorry,I'm just looking for an offline installation file about v1.10-stable

[2020-06-11 13:41] OleksandrBerchenko opened #9232 "Don't retry failures because of execution timeouts"
**Description**

When reaching execution_timeout, a task fails but continues to retry.  Either it should not be retried in this situation, or there should be a possibility to define another timeout for the "total" task execution, taking into account all retries.

**Use case / motivation**

In our case current behavior makes execution_timeout feature useless: we have retries in place to prevent ran

[2020-06-11 15:07] OleksandrBerchenko opened #9233 "SLA notifications for long running tasks, regardless of the schedule and task predecessors"
**Description**

Current SLA implementation has two serious limitations:

1. It doesn't work for manually triggered DAGs.
2. It can calculate duration starting only from the DAG scheduled time, not from the actual task start time.

**Use case / motivation**

The following simple use case is not covered:

I want an email notification when a particular task runs for too long (like more than 30 minut

[2020-06-11 16:25] dinigo opened #9234 "docker module in the requirements but not installed"
**Apache Airflow version**: 2.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**: docker image

**What happened**:
`DockerOperator` does not work beacuase depends on `docker` module

How shoud we indicate in the Dockerfile that this should be installed? I suppose that a new "extra" called  `docker` has to be created, so that we can install it with `pi

[2020-06-11 16:34] ebacal commented on #9221
The one above is 5 min.  I have tried 1/5/30 min intervals, as well.

[2020-06-11 16:39] potiuk commented on #9234
You will find answer in the IMAGES.rst file. You can build your own version of the image and specify
AIRFLOW_EXTRAS if you build the image. in the master version of the image you can keep the default extras and specify ADDITIONAL_AIRFLOW_EXTRAS as well

[2020-06-11 16:41] #9234 closed

[2020-06-11 16:53] #8872 closed

[2020-06-11 17:20] dgorelik opened #9236 "Allow a Google API credentials object to be provided for GoogleBaseHook"
**Description**

Allow a a Google API credentials object to be provided for GoogleBaseHook. I think this would be as  simple as updating the initializer to set `self._cached_credentials` to a passed-in arg here:
https://github.com/apache/airflow/blob/daed75260903119f8f5dc8ee493778c50b1a6a8f/airflow/providers/google/common/hooks/base_google.py#L156

**Use case / motivation**

This should allow a se

[2020-06-11 17:21] dgorelik commented on #9236
Note: if this idea makes sense, I am happy to send a PR to implement it.

[2020-06-11 17:43] mik-laj opened #9237 "Inclusive or exclusive range fitlers in API"
Helllo,

We have the following ranger filter parameters:

- FilterDurationGTE
- FilterDurationLTE
- FilterEndDateGTE
- FilterEndDateLTE
- FilterExecutionDateGTE
- FilterExecutionDateLTE
- FilterStartDateGTE
- FilterStartDateLTE

Only closed ranged(in interval notation: [start_xxx, end_xxx]) can be fetched using them.

I think, filters representing ranges should use inclusive start values and exclu

[2020-06-11 17:53] mik-laj commented on #9236
I wonder why we can't improve the current implementation of impersonated service? For now, you can interpersonal to another account using delegate_to parameter. This parameter is available in hook and operators, so its use is very easy.

[2020-06-11 18:03] dgorelik commented on #9236
When used with the Google Auth library, `delegate_to` is used for "Domain-wide delegation allows a service account to access user data on behalf of any user in a Google Apps domain without consent from the user." (https://google-auth.readthedocs.io/en/latest/reference/google.oauth2.service_account.html#domain-wide-delegation)
That is, it's not for delegating on behalf of a GCP service account.

[2020-06-11 18:10] flymg commented on #9017
it is most likely related to a non initialized db
airflow initdb must be run before starting the image with airflow webserver

[2020-06-11 19:43] kaxil opened #9238 "Add documentation regarding DagRun Conf"
We should add docs on running DAGs with different configurations.

[2020-06-11 19:53] #8127 closed

[2020-06-11 20:10] ivan-afonichkin commented on #8894
Hello @mik-laj 👋

I would love to start contributing to airflow. So, would you mind assigning this issue to me?

[2020-06-11 20:18] mik-laj commented on #8894
Hello @ivan-afonichkin

Fantastic.  I am very happy that we have a lot of new contributors. If you have any questions, ask.

A lot of health in this difficult time,
Kamil

[2020-06-11 20:43] albertocalderari commented on #8903
@turbaszek That's only half of the issue, the other half is implementing the deterministic job id.
So as far as I understand, Operators will interact with the hook using json config and then we'll build the job from it.
As soon as U finish you refactor I'll start implementing the feature :)

[2020-06-11 20:49] turbaszek commented on #8903
@albertocalderari I think I maybe missing something. What do you understand by deterministic job_id?

[2020-06-11 21:13] mik-laj commented on #9238
Duplicated by: https://github.com/apache/airflow/issues/8900

Please check that the ticket does not exist before creating another. 😜

[2020-06-11 21:15] kaxil commented on #9238
WHoops :D - apologies

[2020-06-11 21:15] #9238 closed

[2020-06-11 21:16] kaxil commented on #8900
Related issue I had created:  https://github.com/apache/airflow/issues/9238#issue-637272825 -will add some more docs for 1.10.11

[2020-06-11 21:20] samuelkhtu commented on #8278
If no one is working on the test_mssql.py, I can take work it.

tests/providers/microsoft/mssql/hooks/test_mssql.py

[2020-06-12 04:30] Rajkumar-vnix opened #9244 "SSH execution out expose docker environment variables"
Using ssh operator I am calling a shell script in ec2 instance, in shell script it will call for a an python docker microservice in which environment variables and passwords are been mapped. I can able to run the shell script without any error using airflow. The only concern is while viewing the dag log, I can see my environment variables exposed in the logs for the docker run.

**Do not use issue

[2020-06-12 06:38] Rajkumar-vnix commented on #9244
Found a workaround in the script. Closing this issue

[2020-06-12 06:38] #9244 closed

[2020-06-12 08:03] fuyi commented on #8965
Yes, this works, I am currently using this approach to distinguish POd types.

But would it be better to use a separate hook for separate types of Pod to separate the concern?

[2020-06-12 08:31] akotuc commented on #8609
@iam432  Let me answer your question on behalf of @vdusek

We noticed if you click on DAG refresh button on the right side of the main screen (in Links column) access rights are updated for the particular DAG - however you have to be admin.
This is not usable workaround since every time a new DAG is added someone with Admin rights would have to go into UI and press _refresh_ button.

At this momen

[2020-06-12 09:06] KayleMaster opened #9245 "Role is automatically populated with permissions ?"
**Apache Airflow version**: 1.10.10

**Environment**:

- **Cloud provider or hardware configuration**: AWS
- **OS**: Debian

**What happened**: Created a new role, added "can_index" and "menu_access on DAGs". After webserver restart, new roles appeared:
[can delete on Airflow, can tree on Airflow, can index on Airflow, can task stats on Airflow, can gantt on Airflow, can task instances on Airflow,

[2020-06-12 09:47] ephraimbuddy commented on #9108
Hi @mik-laj , Can I start working on this?

[2020-06-12 11:12] mik-laj commented on #9108
@ephraimbuddy. Fantastic. I'm assigned you to this ticket.

[2020-06-12 12:13] flymg opened #9248 "Docker Image Compatibility with Openshift/Kubernetes"
**Description**

The new production ready Docker images are not compatible out of the box for Openshift Deployment, as some Openshift key concepts where violated.

Example:
apache/airflow:1.10.10-python3.7

**Use case / motivation**

Reference: https://docs.openshift.com/container-platform/3.7/creating_images/guidelines.html
- Image must be runnable with arbitrary userid
- Image must be runnable w

[2020-06-12 13:09] Khrol opened #9251 "DAG run with {"\"": ""} configuration breaks tree view"
**Apache Airflow version**: 1.10.10

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

If you run DAG with {"\"": ""} configuration tree view will be broken

**What you expected t

[2020-06-12 14:56] YevhenKv commented on #9118
I used code from the example above and I was able to list log files in my s3 bucket written by Airflow, no permission issues, no errors. However, Airflow seams to be ignoring remote logging configuration when reads logs. Also, used for testing airflow_local_settings.py and set a logging class path in config file, but no luck, S3TaskHandler seams to be ignored by Airflow.

OS: fedora26
python: 3.7.

[2020-06-12 16:38] feluelle commented on #8947
@potiuk closed this manually because it was not closed automatically.

[2020-06-12 16:38] #8947 closed

[2020-06-12 17:19] Blackrobe opened #9252 "Please update Qubole hook to include Jupyter Notebooks"
**Description**

`qds-sdk` already supports JupyterNotebookCommand (https://github.com/qubole/qds-sdk-py/blob/master/qds_sdk/commands.py#L1351) since version 1.15.0 (change notes here https://github.com/qubole/qds-sdk-py/releases/tag/V1.15.0)

and Airflow through `requirements.txt` already includes `qds-sdk` version 1.16.0 https://github.com/apache/airflow/blob/master/requirements/requirements-pyt

[2020-06-12 20:28] feluelle commented on #8605
My `docker-compose.yaml` file for running _LocalExecutor_ with meta-db _postgres_ using apache airflow prod official Docker file.

[code]

[2020-06-12 21:28] mik-laj commented on #9248
https://github.com/apache/airflow/issues/8706 It is related?

[2020-06-12 22:04] #9127 closed

[2020-06-12 22:30] flymg commented on #9248
@mik-laj

Yes, but #8706 is not enough.
pip installation must be changed as well.

[2020-06-12 23:14] manuelarod opened #9265 "Read-only file system and error installing airflow"
I am trying to install airflow on my computer using the "requirements-python3.5.txt" file. However, I'm getting a read-only file system and when trying to install airflow I get the following error. I tried running this command: sudo chown -R vagrant /home/vagrant/.cache but it didn't work either. I have no idea how to solve this and what else to do to be able to install airflow.
<img width="843" a

[2020-06-13 06:14] AndresNamm opened #9271 "deleting airflow dag run will delete also the related task instances"
For example: I have a dag that has successful runs from 2018-2020. I change a couple of ETL steps in my dag and would like to rerun the dag for this period. It would be intuitive to just delete the existing dag runs in this period so the dag runs and the tasks in them would be scheduled again. However, based on my current tests when I delete the dag runs, the scheduler will schedule the dags again

[2020-06-13 08:16] potiuk commented on #9265
Please read the message displayed when you create issues. Do not use GitHub issues for questions and your system troubles. Go to https://airflow.apache.org/community/. and you will find "ask a question" chapter where you can join slack and ask questions like that there.

[2020-06-13 08:16] #9265 closed

[2020-06-13 08:25] potiuk commented on #9248
Yep. We will need to change both. Thanks, @flymg for posting the link to the guidelines - will be helpful. We target to make those changes in 1.10.11 release.

[2020-06-13 10:21] feluelle opened #9275 "Decrypt secrets from SystemsManagerParameterStoreBackend"
**Description**

Currently you cannot retrieve secrets from _AWS System Manager - Parameter Store_ which are encrypted i.e. stored as `SecureString`, because we explictly set it to not use decryption: https://github.com/apache/airflow/blob/cbebed2b4d0bd1e0984c331c0270e83bf8df8540/airflow/providers/amazon/aws/secrets/systems_manager.py#L106

**Use case / motivation**

One may want to secure their p

[2020-06-13 11:34] mik-laj commented on #9252
There are two most important things.
1. You need to create a Pull Request. https://opensource.com/article/19/7/create-pull-request-github
2. CI should be green (except quarantine tests)
3. You are fully responsible for your change.  If your change has not gained the attention of any member of the community, then you must fix it.

We also have a contributor guide:
https://github.com/apache/airflow/

[2020-06-14 09:21] efisher-ias opened #9285 "Webserver with "old ui" wont render after upgrade 1.10.2 -> 1.10.10 because wrong check conditions"
-->

**Apache Airflow version**: 1.10.10
**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): NA

**Environment**:
- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): CentOS Linux release 7.7.1908 (Core)
- **Kernel** (e.g. `uname -a`): 3.10.0-1062.12.1.el7.x86_64 #1 SMP Tue Feb 4 23:02:59 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
- **Ins

[2020-06-14 10:22] zorseti commented on #9166
May be you have set dagrun_timeout in your dag?

[2020-06-14 11:44] zorseti commented on #8521
I encountered the same problem. Is this problem solved now?
The following two SQL statements will report an error：
ERROR - (_mysql_exceptions.OperationalError) (1213, 'Deadlock found when trying to get lock; try restarting transaction')
`SQL: INSERT INTO rendered_task_instance_fields (dag_id, task_id, execution_date, rendered_fields) VALUES (%s, %s, %s, %s)`
`SQL: DELETE FROM rendered_task_instanc

[2020-06-14 14:40] ivan-afonichkin commented on #8894
Hello @mik-laj, I created PR to tackle this issue using the first approach you suggested (make it directly through `docs/build` without importing any modules). Would you mind checking and leave some comments on PR? Thanks in advance.

https://github.com/apache/airflow/pull/9290

[2020-06-14 15:06] kaxil commented on #9285
Duplicate of https://github.com/apache/airflow/issues/8752

[2020-06-14 15:06] #9285 closed

[2020-06-14 15:15] kaxil commented on #9275
Related PR: https://github.com/apache/airflow/pull/9214

[2020-06-14 15:19] mik-laj commented on #8894
@ivan-afonichkin I will try to look at it on Monday. I am very happy that this has been achieved. I did not think that so many problems could be detected.

[2020-06-14 18:54] #9275 closed

[2020-06-14 19:27] mik-laj commented on #8137
@TobKed Do you need any help? If you need help, feel free to write or call.

[2020-06-14 19:30] mik-laj commented on #8136
@vbmade2000  How do you do? Do you need any help? A lot is going on in the project. If you feel the inspiration then you can look at merged or unmerged PRs.
https://github.com/apache/airflow/pulls?q=is%3Apr+label%3Aarea%3AAPI+is%3Aclosed
https://github.com/apache/airflow/pulls?q=is%3Apr+label%3Aarea%3AAPI+is%3Aopen
I hope this will help you.

[2020-06-14 19:32] mik-laj commented on #8132
@GMarkfjard How do you do? Do you need any help? A lot is going on in the project. If you need some inspiration then you can look at merged or unmerged PRs.
https://github.com/apache/airflow/pulls?q=is%3Apr+label%3Aarea%3AAPI+is%3Aclosed
https://github.com/apache/airflow/pulls?q=is%3Apr+label%3Aarea%3AAPI+is%3Aopen
I hope this will help you.

[2020-06-14 19:33] mik-laj commented on #8128
@bertosantamaria How do you do? Do you need any help? A lot is going on in the project. If you need some inspiration then you can look at merged or unmerged PRs.
https://github.com/apache/airflow/pulls?q=is%3Apr+label%3Aarea%3AAPI+is%3Aclosed
https://github.com/apache/airflow/pulls?q=is%3Apr+label%3Aarea%3AAPI+is%3Aopen
I hope this will help you.

[2020-06-14 19:35] mik-laj commented on #8140
@michalslowikowski00 How do you do? I wonder if you need help. If so, you definitely know how to contact me.

[2020-06-14 19:51] #9200 closed

[2020-06-14 19:52] mik-laj commented on #9237
@houqp I haven't started the discussion on the mailing list about this problem yet, but maybe you have some thought?

[2020-06-14 20:47] houqp commented on #9237
@mik-laj yes, ` [start_xxx, end_xxx)` is much easier to use than ` [start_xxx, end_xxx]` from a client's point of view. If we don't want to support all 4 comparison operators, then I would love to see us at least switch to GTE and LT.

[2020-06-14 21:01] potiuk commented on #9237
Yep. Agree using GTE and LT is a better approach. I think it also encourages good patterns.

However I think this is only valid in case of dates, not durations. For duration i would also like  to have <= 200 seconds not only >= 200 seconds (but it also depends on the resolution of duration).

So I'd opt for all 4 operators for duration but only GTE/LT for dates.

[2020-06-15 06:53] afsalabdup opened #9298 "To put a task ON HOLD"
Description: To put a future instance task ON HOLD.

There is a requirement where you want to put a task named 'task3' on hold, so that once the DAG is triggered, all upstream tasks would start running but when it reaches 'task3', task3 should go "ON HOLD" state, so that downstream of task3 would not start running. If we can do that through CLI by providing future execution id then it would be gre

[2020-06-15 07:39] yene opened #9299 "Unable to store xcom because of MySQL BLOB type limitation"
**Apache Airflow version**:
Airflow 1.10.10, 2020-04-09

**Environment**:
- MySQL: 5.7.30

**What happened**:
Storing a message bigger than 65,535 bytes resulted in a mysql error.
[code]

**What you expected to happen**:

No error, since this amount of data is still the range of acceptable payload sizes.

**How to reproduce it**:

**Anything else we need to know**:
sqlalchemy `sa.PickleType()` use

[2020-06-15 07:39] michalslowikowski00 commented on #8140
Thx Kamil, I am fine. I will ask for help, definitely. I haven't start working on it yet

[2020-06-15 07:45] turbaszek opened #9300 "Create DatafusionPipelineStateSensor"
**Description**

Create a sensor that will wait for Cloud Datafusion pipeline to be in expected state.

**Use case / motivation**

_Originally posted by @jaketf in https://github.com/apache/airflow/pull/8954#discussion_r438261904_

**Related Issues**

#8673

[2020-06-15 07:46] afsalabdup opened #9301 "Airflow Slots parameter in Airflow 2.0"
Team, I am using slots parameter along with 'pool' in bash operator. My task is dependent on a resource/pool named "abc" and it needs at least 1 available slot to run. So the code will look like below.

run_this_xyz = BashOperator(
        task_id='task_1',
        bash_command=' /path/abc.sh  ',
        pool='abc',
        slots=1,
        dag=dag
)

When I am running the dags, I see below warnin

[2020-06-15 08:03] afsalabdup opened #9302 "Changes to DAG in the Production UI requires approval"
Any changes that occur in UI to DAGs fall under audit requirement. So we need an approval from a manager or designated approver for all manual actions like rerun, trigger a dag etc in the UI.

All manual action buttons in the UI should be disabled by default. We may have to include a new button in UI, so that when we click on that new button, it will go and check any open ServiceNow requests/ticke

[2020-06-15 09:25] otienoanyango opened #9304 "Improve selection options on task tries page"
**Description**

Add a way of filtering the tasks you want graphed on the task tries UI page. At least an option to deselect all or select all would be quite welcome.

**Use case / motivation**

When there are many tasks, the task tries page does not allow filtering of what is shown in the graph which is useful when you want to only compare task duration for one or a few tasks. The current option

[2020-06-15 10:09] #8673 closed

[2020-06-15 10:18] mik-laj commented on #9301
This parameter in Airflow 1.10 and 2.0 is named `pool_slots`.

<img width="880" alt="Screenshot 2020-06-15 at 12 17 31" src="https://user-images.githubusercontent.com/12058428/84646325-37d93a80-af02-11ea-8dcd-76c9227df7ba.png">

[2020-06-15 10:18] #9301 closed

[2020-06-15 10:25] mik-laj commented on #9304
This feature looks interesting. Would you like to provide us with contributions? This is an Open Source project and we don't have paid support. The fastest way to resolve a ticket is to contribute a change that will solve this problem.
If you are interested, here is the contributor's guide.
https://github.com/apache/airflow/blob/master/CONTRIBUTING.rst

[2020-06-15 10:29] #8054 closed

[2020-06-15 11:28] ashb commented on #9083
We should ideally do this such that any of the task logging handlers could provide custom log links -- i.e. don't just hard code support for ES or StackDriver in to the UI.

[2020-06-15 13:21] gfelot opened #9308 "Cannot send args in email body"
**Apache Airflow version**:
1.10.9

**Environment**:
GCE - Debian 10

**What happened**:

Try to send an email on failure success. Unfortunately the body args in the function `send_email_smtp` doesn't seem to get the arg of my f-string.
If I put the exact same variable in the title and body of the email I got the title right and not the body.

I cannot do my alerting as planned because of this

Te

[2020-06-15 13:59] DanilBaibak opened #9309 "Bug / ThresholdCheckOperator Does Not Work"
**Apache Airflow version**: 1.10.10

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS**: Debian GNU/Linux 10 (buster)
- **Kernel**: Linux b62a643fb26c 4.9.184-linuxkit #1 SMP Tue Jul 2 22:58:16 UTC 2019 x86_64 GNU/Linux
- **Install tools**: pip

**What happened**:
I tried to use [ThresholdCheckOperator](https://airflow.apache.org/docs/stable/_api/airflow/operators/check_ope

[2020-06-15 14:05] CodingJonas opened #9310 "Delay until Docker Swarm recognizes finished service"
**Apache Airflow version**: 2.0.0dev
- **OS** (e.g. from /etc/os-release): Ubuntu 18.04
- **Install tools**: pip

**What happened**:
When running a DockerSwarmOperator the service finishes, but Airflow will detect that finished service only 60 seconds after it has finished.

The issue lies in this line:
https://github.com/apache/airflow/blob/832593a9fc80f4b56605f3cbf656375bd94cc136/airflow/provide

[2020-06-15 14:07] CodingJonas opened #9311 "Delay in recognizing finished Docker Swarm services"
**Apache Airflow version**: 2.0.0dev
- **OS** (e.g. from /etc/os-release): Ubuntu 18.04
- **Install tools**: pip

**What happened**:
When running a DockerSwarmOperator the service finishes, but Airflow will detect that finished service only 60 seconds after it has finished.

The issue lies in this line:
https://github.com/apache/airflow/blob/832593a9fc80f4b56605f3cbf656375bd94cc136/airflow/provide

[2020-06-15 14:08] CodingJonas commented on #9311
@akki I hope it is ok if I mention you here, I think you made these changes and your opinion on it would be great!

[2020-06-15 14:09] altunbaratli commented on #9248
Hello @flymg,
Thank you very much for your workaround, this helped me to figure out the issue that I was surviving for a while.
As I am new to docker stuff, I am not fully sure how to run your additional shell script after startup. Rn, I am having error "'getpwuid(): uid not found: 1001380000'" . P.S I am not able to add additional commands in the docker run .. . I have to handle this script insid

[2020-06-15 15:20] flymg commented on #9248
@altunbaratli have a look at the puckel Docker image for airflow, which uses a shellscript as entrypoint
Place the script above inside

[2020-06-15 15:21] TobKed commented on #8137
thanks @mik-laj , indeed I need some help , I will contact you on slack.

[2020-06-15 15:36] zikun commented on #8138
Hi @mik-laj This looks more challenging than other endpoints. Can I take this one?

[2020-06-15 15:41] mik-laj commented on #8138
Hello.
Today during the morning standup I was able to get Tomek involved in this task. Unfortunately, he didn't write a comment under the ticket, I haven't assigned him to the task yet. Today he worked hard all day to make these endpoints. Sorry for the confusion.
Best regards
Kamill

[2020-06-15 15:43] mik-laj commented on #8138
We currently have a lot of changes that are underway. I invite you to review them. Any review is very helpful.
https://github.com/apache/airflow/pulls?q=is%3Apr+is%3Aopen+label%3Aarea%3AAPI

[2020-06-15 16:02] zikun commented on #8138
No worries.
Thanks. I'll take a look. Meanwhile I'd like to wait for some of the blocked tickets to get my hands dirty

[2020-06-15 16:26] ephraimbuddy commented on #9110
Hi @mik-laj , I will like to work on this

[2020-06-15 16:30] mik-laj commented on #8135
@ephraimbuddy  Do you need any help? Endpoints that enable data reading are a priority for me.

[2020-06-15 16:35] ephraimbuddy commented on #8135
Oh, I thought I had been working on this via the eventlogs endpoint. I didn't know this is a different endpoint. Thanks, I will start working on it right away

[2020-06-15 16:38] mik-laj commented on #8135
@ephraimbuddy EventLog is a log of operations performed in Web UI.
Logs are related to Task Instance. More info: https://airflow.readthedocs.io/en/latest/howto/write-logs.html?highlight=logging
This is one of the most interesting endpoints

[2020-06-15 16:41] mik-laj commented on #9110
@ephraimbuddy Hi. I assigned you to another task. When you finish, I'll assign you to the next tasks.

[2020-06-15 16:49] pulsar314 opened #9316 "Tasks get failed if capacity of a pool is exceeded"
**Apache Airflow version**: 1.10.10 (from PyPI)

**Environment**:

- **OS**: Ubuntu 18.04.4 LTS
- **Database**: PostgreSQL

**What happened**:

Firstly, Airflow summarizes required slots for all queued tasks. As a result, if the total number of slots required across a dag exceeds the limit, all the tasks get failed. There's a log for three tasks of weight 12 (TASK_A in the logs below), 12 (TASK_B)

[2020-06-15 17:24] mik-laj commented on #9310
@nullhack @retornam @CodingJonas @CaptainCuddleCube @nalepae @akki Can you look at it? It may be interesting for you.

[2020-06-15 18:33] potiuk opened #9318 "Implement per-provider CI test scheme"
**Description**

Now when we have a clean split between providers, we can improve our CI testing patterns to only run those tests that are relevant to the change.

The logic proposed:

* If any of the "core" files change -> run all tests

* If only the  "provider" files change -> run only the tests for that provider and for all providers that depends on it.
* If only some "provider" files change -

[2020-06-15 18:55] #9311 closed

[2020-06-15 19:35] #8131 closed

[2020-06-15 19:43] mik-laj commented on #9236
@dgorelik It is related? https://github.com/apache/airflow/issues/8803

@jaketf What do you think about it? Will it be useful to your users?

[2020-06-15 20:01] vuppalli commented on #8207
@mik-laj @U-Ozdemir Hello! I am currently interning at Google this summer and this issue is very relevant to the work I am doing. If you are not working on this issue anymore, I would love to take over. When I am finished, I can create a new PR and give you some credit as well!

[2020-06-15 20:08] mik-laj commented on #7911
Some users use this to maintain high performance for a long time.
https://github.com/teamclairvoyant/airflow-maintenance-dags

[2020-06-15 20:16] dgorelik commented on #9236
@mik-laj I think this is actually a duplicate of https://github.com/apache/airflow/issues/8803

[2020-06-15 20:27] mik-laj commented on #8207
@vuppalli I've assigned you to this ticket. If you have questions, go ahead and ask.

I invite you to read the contribution guide.
https://github.com/apache/airflow/blob/master/CONTRIBUTING.rst

[2020-06-15 20:32] U-Ozdemir commented on #8207
@vuppalli Hello friend. Sorry I did not reply earlier, I would be very happy if you can take over. Currently I am busy with another project which has priority. So by all means use it and I hope it will help you a bit further.

[2020-06-15 21:53] tooptoop4 commented on #9302
since when can u edit dag in the UI? @afsalabdup

[2020-06-16 01:21] bertosantamaria commented on #8128
thanks @mik-laj.  I'll take those PRs as inspiration and have something to show for this in the next d few days.  regards.

[2020-06-16 01:38] SteNicholas opened #9321 "Add Signal Based Scheduling To Airflow"
**Description**

The idea of signal based scheduling is to let the operators send signals to the scheduler to trigger a scheduling action, such as starting jobs, stopping jobs and restarting jobs. Also, compared with the current state change retrieval mechanism, signal based scheduling allows the scheduler to know the change of the dependency state immediately without periodically querying the met

[2020-06-16 06:30] afsalabdup commented on #9302
@tooptoop4 - I meant manual actions to tasks in DAG like rerun, mark success etc

[2020-06-16 06:33] afsalabdup commented on #9301
Thanks @mik-laj

[2020-06-16 06:56] KayleMaster opened #9324 "How to create a role that can browse DAGs but not pause/unpause them?"
Hi,

I've tried the Viewer role and while it doesn't have the "can_paused" permission, it can still pause/unpause DAGs which is problematic for us.
Is there something I'm missing?

[2020-06-16 08:10] OmairK commented on #9114
Hi @mik-laj can you assign me this issue please.

[2020-06-16 08:12] mik-laj commented on #9114
Hi @OmairK I assigned you to this task.

[2020-06-16 08:22] #8130 closed

[2020-06-16 08:24] zhongjiajie commented on #9321
We already discuss in Salck, and thread link: https://apache-airflow.slack.com/archives/CCPRP7943/p1591868844043900, and @SteNicholas will create and new AIP for more detail explanation.

[2020-06-16 08:24] zhongjiajie commented on #9321
BTW, I think is good for airflow support stream job

[2020-06-16 08:29] fuyi commented on #9166
Thanks @zorseti, Yes, we have set dagrun_timout. However, would it make more sense to terminate running task when dag run fails? 🤔

[2020-06-16 09:53] #8630 closed

[2020-06-16 10:00] zorseti commented on #9166
Maybe, but we don’t use the dagrun_timout parameter when we actually use it. We generally set the execution_timeout parameter for each task, which can make both task and dagrun mark failure during timeout.

[2020-06-16 10:28] mjpieters commented on #9185
Yes and no. :-) I'll have to find time, something I'm short on right now. I'll have a look at how your `airflow plugins` command is implemented, soon.

[2020-06-16 10:31] mik-laj commented on #9185
I added the "good first issue" label, which will make it easier for other contributors to find this ticket.

[2020-06-16 10:37] tooptoop4 commented on #9302
use rbac ui, can make it readonly for some ppl

[2020-06-16 11:02] turbaszek opened #9326 "BaseOperatorMeta broke deprecation warnings"
**Apache Airflow version**:
2.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
N/A

**Environment**:
local + breeze

**What happened**:

[code]

**What you expected to happen**:

I expect the warning to point to place where the operator was instantiated not to the `__call__` method of `BaseOperatorMeta`.

**How to reproduce it**:

Instatntate `airflow.provders.googl

[2020-06-16 11:17] afsalabdup opened #9327 "Mark a future task instance to success including downstream tasks using CLI"
Assume, there is a DAG with ID a_dag and five tasks with IDs dummy1, dummy2, dummy3, dummy4, dummy5. We want to mark the dummy3 task and all it's downstream tasks - dummy4,dummy5 etc  to success from the next DAG run. Since it's a future task instance, we can't do that in the UI. So we can use make use of CLI.

If we want to mark a future task instance to success, we can use below command.
airflow

[2020-06-16 11:57] yash64 opened #9328 "unable to install papermill provider"
I am trying to install papermill provider for airflow but i get an error. I am running airflow on Ubuntu 18.04. Below are the details

[code]
[code]
Just to check if any other providers with same requirements are also failing and I tried amazon provider
[code]
and this installed successfully but papermill is failing. Can someone please help on this.

[2020-06-16 13:27] potiuk commented on #9328
Papermill provider has been removed from distributions. I will explain the reasons for all the removals in final documentation (I am planning to make a new RC today or tomorrow latest).

Current implementation of Papermill provider does not provide any advantage over the 1.10.* version except being tightly integrated with 2.0 way of lineage implementation which is backwards-incompatible with versi

[2020-06-16 13:27] #9328 closed

[2020-06-16 13:42] yash64 commented on #9328
@potiuk Thanks for your reply. Does that mean PapermillOperator will not be available in future versions also? In case if it is not available, can you please help on other options available to schedule Jupyter notebooks using Airflow.

[2020-06-16 13:44] kaxil commented on #9148
Looks like this issues only occurs when using MySQL backend

[2020-06-16 16:12] mik-laj commented on #9328
@yash64  This operator will still be available in Airflow 2.0 and 1.10. It will not be part of the backport packages.

[2020-06-16 17:21] turbaszek opened #9334 "Unbound variable when entering breeze"
**Apache Airflow version**:
2.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
N/A

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): macOS 10.15.4
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

[code]

**What you expected to happen**:

I can enter breeze

**How to reprodu

[2020-06-16 17:36] potiuk commented on #9334
Likely Mac Only

[2020-06-16 17:41] potiuk commented on #9334
Fix coming

[2020-06-16 18:13] skss33 commented on #9100
Any update on above issue , i am facing same issue

[2020-06-16 18:25] #9334 closed

[2020-06-16 20:33] kaxil commented on #8993
Fixed in https://github.com/apache/airflow/pull/8385

[2020-06-16 20:33] #8993 closed

[2020-06-16 20:55] #9161 closed

[2020-06-16 21:23] kaxil commented on #9148
Current workarounds for MySQL Users:

1) Disable DAG Serialization
2) Run the following query on your Metadata DB:
[code]

[2020-06-16 23:10] prinkov opened #9339 "get_sqlalchemy_engine from MsSqlHook return engine with pyodbc by default"
When I try to get engine from method get_sqlalchemy_engine of class MsSqlHook, I get the engine without specifying a driver.

Therefore, when I try to execute queries from this engine, I get an error, because method returns an engine with the default pyodbc driver, which may not be installed or not configured.

Maybe should return the engine with the pymssql driver, as it is used in the hook MsSql

[2020-06-17 02:38] samrogers226 commented on #8589
I would be happy to take this - I've actually already built a bit of custom code to integrate our stack with Airtable and could benefit from this.

@turbaszek feel free to list me as the assignee.

[2020-06-17 04:02] yash64 commented on #9328
@mik-laj Then how can I install papermill in Airflow 1.10? `pip3 install apache-airflow-backport-providers-papermill` was the suggested way but this is not working. Any other way?

[2020-06-17 04:21] aneesh-joseph commented on #8683
this is already fixed on  master, can this be fixed on 1.10 branch as well please

[2020-06-17 06:00] mik-laj commented on #9328
You don't to install. It is available out-of-box: https://airflow.readthedocs.io/en/1.10.10/_api/airflow/operators/papermill_operator/index.html

[2020-06-17 07:16] xuejunteo opened #9342 "RBAC access rights filtering by dag tags"
**Description**

Is there a way to auto generate permissions based on tags?

e.g.
I want to automatically grant access to user based on his role to a specific list of tags

currently only the can dag read on <dag name> and can dag write on <dag name> is auto populated when there is a new dag

it would be good if i can do something like can dag read on tag <tag name> and can dag write on tag <tag n

[2020-06-17 07:31] turbaszek commented on #8589
@samrogers226 awesome! Ping me if you need any reviews :)

[2020-06-17 08:32] ashb commented on #8683
@aneesh-joseph If you find us the change that made this on master we can make sure it makes it in to 1.10.11.

[2020-06-17 09:31] afsalabdup commented on #9302
Even if you have write access, you need approval before you do manual actions in UI, that's my question.

[2020-06-17 09:35] afsalabdup opened #9343 "List of downstream tasks for a task"
It would be great if we have a airflow command which list all downstream tasks for a task. For example, there are 4 tasks in a dag - dummy1 > dummy2 > dummy3 > dummy4. I need list of all downstream tasks of dummy2, output should be dummy3 and dummy4. I believe currently there is no airflow command to list downstream tasks for a task.

[2020-06-17 09:37] aneesh-joseph commented on #8683
@ashb , awesome, so  going through the github history, this problem crept in while sorting some pylint errors - https://github.com/apache/airflow/commit/47801057989046dfcf7b424ce54afee103803815 (master) and https://github.com/apache/airflow/commit/b037ba8f5037f338913dfa78b195fafd5a14e5dd (1.10) and was fixed on master with https://github.com/apache/airflow/commit/133085eb47e04683ce3dca52b967aa41f8

[2020-06-17 10:22] #9148 closed

[2020-06-17 10:28] kaxil commented on #9343
Can you let us know the use-case for it?

There is a show_dag command: https://airflow.readthedocs.io/en/stable/cli-ref.html#show_dag
to view the shape of the DAG.

And if you want to get downstream_tasks for tests, you can directly use the following code:

[code]

[2020-06-17 13:09] afsalabdup commented on #9343
Consider DAG which contains 4 tasks - Dummy1 > Dummy2 > Dummy3 > Dummy4
If I want to put a future instance task 'Dummy2' ON HOLD, we can mark that task to success through CLI by providing future execution id, but the issue is when I mark that task to success, downstream tasks (Dummy3 and Dummy4) will start running immediately because downstream will check if its upstream Dummy2 is success or not.

[2020-06-17 14:18] egibbm opened #9347 "QuboleHook unable to build command with list tags"
**Apache Airflow version**: 1.10.10

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**: Google Cloud
- **OS** (e.g. from /etc/os-release): Ubuntu 18.04.4 LTS
- **Kernel** (e.g. `uname -a`): Linux int-vidio-stats-airflow-bionic 5.0.0-1034-gcp #35-Ubuntu SMP Tue Mar 17 03:56:45 UTC 2020 x86_64 x86_64 x86_64

[2020-06-17 18:33] ad-m opened #9351 "Consider renaming master branch to something less offensive"
As a long-time lover of project collaborators, I would like to propose...

Master is not a good term for the main branch, I'd say its high time to consider renaming this to something like main or edge.

According Apache CoC:

Edit: I don't know how to update labels as feature request.

[2020-06-17 18:35] #9099 closed

[2020-06-17 18:39] turbaszek commented on #9351
@ad-m I agree with this proposal. Personally I would opt for `develop` or `main`.

[2020-06-17 18:39] turbaszek commented on #9351
@ashb @aijamalnk @leahecole @potiuk @kaxil @mik-laj

[2020-06-17 18:41] feluelle commented on #9351
`develop` 👍

[2020-06-17 18:46] ashb commented on #9351
`main` seems to be GitHubs new default

[2020-06-17 18:51] turbaszek commented on #9351
That's true, however, I would say that in our case the `develop` sounds like a better approach as we have "version-branches".

[2020-06-17 19:49] potiuk commented on #9351
devel or develop gets my vote as well

[2020-06-17 21:14] samuelkhtu commented on #9339
I thought pyodbc is part of Airflow's requirements? pyodbc should already be installed right?
https://github.com/apache/airflow/tree/master/requirements

[2020-06-17 21:36] prinkov commented on #9339
Hmm, if I install Airflow with command (in docker container or host machine):
`pip install apache-airflow[all_dbs,crypto,jdbc,ssh,mysql,mssql]`

and I trying make the queries from the engine obtained from the MsSqlHook, unfortunately I get the error that pyodbc is not installed.
Although MsSqlHook itself working, since it uses pymssql.

and trying to make requests queries from the engine obtained

[2020-06-17 21:49] samuelkhtu commented on #9339
If I understand correctly, pymssql is going away and no longer supported. That's why the operator is switched to pyodbc.

[2020-06-17 21:54] prinkov commented on #9339
As I understand it, in SQLAlchemy it is by default.
https://docs.sqlalchemy.org/en/13/core/engines.html#microsoft-sql-server

But there is no in airflow
https://github.com/apache/airflow/blob/6a9c436f6f013e4c548f59db9397e21b32578d85/airflow/providers/microsoft/mssql/hooks/mssql.py#L76

[2020-06-17 22:09] leahecole commented on #9351
develop or main seem great to me, and if develop makes more sense with Airflow, seems like a great idea to me :)

[2020-06-17 23:14] #9251 closed

[2020-06-18 00:49] samuelkhtu commented on #9339
Since the mssql hook will be deprecated in Airflow 2.0, maybe you want to give the ODBC hook a try? The pyodbc is part of the import.

airflow/providers/odbc/hooks/odbc.py

[2020-06-18 03:30] #9115 closed

[2020-06-18 03:30] #8133 closed

[2020-06-18 03:47] bhavaniravi opened #9367 "Fetching logs of tasks which are not currently executed with DAGS"
**Description**

Need a way to access logs of tasks that are executed at a particular instance of time but are not currently a part of the DAG.

**Use case / motivation**

I have a use case where tasks are generated based on the number of entries created on a DB after a timestamp

The dag would look something like this

[code]

Each task has a unique id based on the primary key of the entry in the

[2020-06-18 05:50] yash64 commented on #9328
Thanks @mik-laj

[2020-06-18 07:08] prinkov commented on #9339
Thanks, I'll try.

Thanks for your time

[2020-06-18 10:07] #9339 closed

[2020-06-18 10:21] Marloxo opened #9372 "Extend Default Sensitive Variable Fields"
**Description**

Sensitive variable fields list [here](https://github.com/apache/airflow/blob/master/airflow/www/utils.py#L42) could be extended to be more flexible to include more options.

**Use case / motivation**

It would be better and more extendable if we can use:
- `token` instead of `access_token`
- `key` instead of `api_key` and `apikey `

[code]
that would give users more freedom in nam

[2020-06-18 10:21] #9202 closed

[2020-06-18 10:41] ashb commented on #8972
Long standing issue, migrating here from AIRFLOW-4990

[2020-06-18 10:44] mik-laj commented on #9372
It will not be difficult to add support for additional labels from the configuration. Would you like to contribute?
Before you contribute, you should read
https://github.com/apache/airflow/blob/master/CONTRIBUTING.rst

[2020-06-18 10:57] ashb commented on #8972
Might this also fix the issue where some logs are disappearing?

[2020-06-18 11:14] Marloxo commented on #9372
yeah sure, I will send a PR in awhile 👍

[2020-06-18 11:28] ToxaZ opened #9373 "path to file as sql parameter in PostgresOperator not working anymore"
**Apache Airflow version**: 1.10.10

**What happened**:

[code]
brings an error
`jinja2.exceptions.TemplateNotFound: ./dags/maintenance/queries/get_tables_size.sql`

**What you expected to happen**:

PostgresOperator not parsing path to file. Instead tries to evaluate path string as sql query string.
The only way to make it work now:

[code]

**Anything else we need to know**:

Properly worked on

[2020-06-18 11:41] KIRY4 opened #9374 "AIRFLOW__KUBERNETES__AFFINITY AIRFLOW__KUBERNETES__TOLERATIONS how to use?"
Hello Everyone! I need some help with KubernetesExecutor. Anybody knows how exactly use these two values AIRFLOW__KUBERNETES__AFFINITY AIRFLOW__KUBERNETES__TOLERATIONS. Link from documentation is broken: https://airflow.apache.org/docs/stable/configurations-ref.html. So can anybody share with me examples of usage of this parmaters??

[2020-06-18 14:06] potiuk opened #9379 "Change gunicorn in prod image to use tmpfs"
**Description**

Gunicorn uses a lot of os.fchmod in /tmp directory and it can create some excessive blocking in os.fchmod https://docs.gunicorn.org/en/stable/faq.html#how-do-i-avoid-gunicorn-excessively-blocking-in-os-fchmod

We want to switch to use /dev/shm in prod image (shared memory) to make blocking go away and make independent on the docker filesystem used (osxfs has problems with os.fchmo

[2020-06-18 15:16] mik-laj opened #9382 "Clean up the airflow.contrib package"
Formerly the core code was maintained by the original creators - Airbnb. The code that was in the contrib package was supported by the community. The project was passed to the Apache community and currently the entire code is maintained by the community, so now the division has no justification, and it is only due to historical reasons.

Currently, we will try to clean up this mess and move the re

[2020-06-18 15:19] mik-laj opened #9383 "Test StackdriverTaskHandler on latest Airflow 1.10"
Hello,

I received signals that this handler is not working properly on the latest version of Airflow from the 1.10 series. We should verify it.

Cheers

[2020-06-18 15:23] mik-laj opened #9385 "Add system tests for StackdriverTaskHandler"
Hello,

In order to easily verify that this handle works, system/E2E tests would be useful. The test should configure the handle, run the DAG test, and check if the full log is available.
It will be easier when TaskLogReader is completed. https://github.com/apache/airflow/pulls
This change will make it easier to close the ticket, but is not necessary
https://github.com/apache/airflow/issues/9383

[2020-06-18 15:29] mik-laj opened #9386 "Move task handlers to airflow.providers package"
Hello,

We have the airflow.providers package, which should contain items specific to specific sevices/software. We should move the handlers to this package. I don't have an idea for the specific structure of the package yet, so I'm open to suggestions.

We have the following files left to move.

- [ ] airflow/utils/log/wasb_task_handler.py
- [ ] airflow/utils/log/cloudwatch_task_handler.py
- [ ]

[2020-06-18 15:35] mik-laj opened #9387 "Use enum for task_states/dag_states"
Hello,

We use Python 3+, so we should consider using an enumerated type for objects that are buckets for contents  This will give us better type hints.
https://github.com/apache/airflow/blob/master/airflow/utils/state.py

Best regards,
Kamil Breguła

[2020-06-18 15:39] mik-laj commented on #9387
CC: @turbaszek

[2020-06-18 17:19] pelayorodriguezgarcia opened #9389 "Could not automatically determine credentials (GOOGLE_APPLICATION_CREDENTIALS)"
I have the following code from the example-dags at "https://github.com/apache/airflow/tree/master/airflow/providers/google/cloud/example_dags":

[code]

I just want to debug my Airflow connection with Google Cloud, creating a dataset and then removing it. I am currently getting this error:

`Traceback (most recent call last):
  File "/home/airflow/.local/lib/python3.6/site-packages/airflow/provide

[2020-06-18 17:47] potiuk commented on #9389
Please - as stated in the message when you created the issue - do not use issues in github for those kind of support questions. we have other means to do it see : https://airflow.apache.org/community/ "Ask a question" section - you can ask for help in the slack channel.

[2020-06-18 17:47] #9389 closed

[2020-06-18 19:31] #9308 closed

[2020-06-18 19:37] gfelot opened #9392 "2 notifications send `on_failure`"
**Apache Airflow version**:
1.10.9

- **Cloud provider or hardware configuration**: GCP
- **OS** (e.g. from /etc/os-release): Debian (VM)

**What happened**:

Try to send custom email and notification to Teams with the `on_failure_callback`.
Strangely I got 2 emails and 2 notifications.

Something trigger twice the callback and I cannot find out what.

**How to reproduce it**:

Here my test DAG:

[2020-06-18 19:57] potiuk commented on #9392
Following the rule for issues - the issues in Github are not supposed to be used for such investigations. Rather than that try to get some help and input on our Slack http://airflow.apache.org/community/ (follow the "Ask a question") path. There is a #troubleshooting channel there and you might find some help there.

[2020-06-18 19:57] #9392 closed

[2020-06-18 22:32] muyajil commented on #9387
Hi,
I'd like to help out with this issue.

[2020-06-19 05:58] mik-laj commented on #9080
We have POCs: https://github.com/mik-laj/airflow-api-clients
If anyone wants, they can base on it or start from scratch.
An example of a successful client generation is Kubernetes: https://github.com/kubernetes-client
We can get inspired by their work.

[2020-06-19 08:26] turbaszek commented on #9387
@muyajil should I assign you?

[2020-06-19 08:33] mik-laj commented on #9387
@muyajil I assigned you to this ticket. I look forward to your contributions 😻

@turbaszek I think we can assign people without confirmation. The assignment of people is important because it is visible on the ticket list. This makes finding free tickets easier.

[2020-06-19 09:11] potiuk opened #9401 "All "private" images and binaries used by Airflow should be manage by community"
# Description

We have a few Docker images in our build process that use "private" *personal" docker images. It would be great to have all the images either officially released and maintained by a community or to migrate the images to be managed by our Community.

Depending on external images, binaries, and repositories, where the community has no control or influence on might be acceptable for ce

[2020-06-19 11:11] #8129 closed

[2020-06-19 11:20] OmairK commented on #9110
Hi @mik-laj can I work on this issue ?

[2020-06-19 11:22] mik-laj commented on #9110
@OmairK I assigned you to this ticket. 🐈

[2020-06-19 12:29] #9326 closed

[2020-06-19 13:13] gmcoringa commented on #7935
I see a similar issue on 1.10.10... there are no logs to indicate the problem. Airflow with mysql, redis and celery executor.

**PS**: we still run the scheduler with the arguments `-n 10`

[2020-06-19 13:31] benbenbang opened #9406 "SSL issue with SlackWebhookOperator on K8S"
Recently our team is testing all the days to check everything will work fine on airflow on k8s. However, one of the issues we didn't have before is that the SSL issue happens in the POD. The only one for us to fix it is turn on `verify=True` for all the HTTP related hook. But except SlackWebhookOperator, it was hardcoded with proxy and cannot take any extra option anymore.

https://airflow.apache.

[2020-06-19 13:34] #9406 closed

[2020-06-19 13:34] benbenbang opened #9407 "SSL Issue on K8S with SlackWebhookOperator"
Recently our team is testing all the dags to check everything will work fine on airflow on k8s. However, one of the issues we didn't have before is that the SSL issue happens in the POD. The only solution for us to fix it is to turn on `verify=True` for all the HTTP related hook. But except SlackWebhookOperator, it was hardcoded with proxy and cannot take any extra option.

https://airflow.apache.

[2020-06-19 13:56] mik-laj commented on #9407
Hello,

Any contribution is greatly appreciated.

If you do not feel confident in OSS, then I invite you to read the guide.
https://github.com/apache/airflow/blob/master/CONTRIBUTING.rst

Cheers

[2020-06-19 14:13] ephraimbuddy commented on #9111
Hi, @mik-laj , I know the log_endpoint is not merged yet but should I start working on this?

[2020-06-19 14:14] mik-laj commented on #9111
Yes. You can work on other tickets if you are blocked.

[2020-06-19 14:43] benbenbang commented on #9407
Thanks, PR created :)

https://github.com/apache/airflow/pull/9409

[2020-06-19 14:45] mik-laj commented on #8132
@@GMarkfjard  Do you need any information? Is something blocking you?  If you don't have time, maybe you would like another contributor to take care of this ticket? This is the last read-only endpoint that I do not know the status of.

[2020-06-19 15:14] shamoji-tech opened #9410 "gcs_task_handler.py does not write log to GCS bucket."
**Apache Airflow version**: 1.10.10

**Environment**:

- **Cloud provider or hardware configuration**: GCP
- **OS** (e.g. from /etc/os-release): 3.7-slim-stretch dockerimage on host CentOS7
- **Kernel** (e.g. `uname -a`): Linux f46f2e0e717e 3.10.0-1127.10.1.el7.x86_64 #1 SMP Wed Jun 3 14:28:03 UTC 2020 x86_64 GNU/Linux
- **Install tools**: tensorflow 2.2.0 and optuna 1.0
- **Others**: logging leve

[2020-06-19 15:18] shamoji-tech commented on #9410
this is the worker's log.

[code]

[2020-06-19 15:39] aneesh-joseph commented on #9401
@potiuk  - I had to change switch the helm unit test one  to `aneeshkj/helm-unittest`

[2020-06-19 16:02] barmanand commented on #9209
can we explain the requirement with clear example?

[2020-06-19 16:16] barmanand opened #9412 "task_concurrency=1 not able to limit the active tasks to 1"
**Apache Airflow version**: 1.10.10

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

I have set the task_concurrency=1 for BashOperator, like below
sleep_task = BashOperator(task_id=f"task1",
                                       bash_command="sleep 2",

[2020-06-19 16:35] GMarkfjard commented on #8132
@mik-laj Sorry, been AWOL for a few days. I should just have a few tests left and then I'm done. ETA Monday

[2020-06-19 16:55] mik-laj opened #9413 "Support airflowignore for plugins"
Hello,

Airflow has a mechanism to ignore files before they are automatically loaded by Airflow using a .airflowignore file.
A .airflowignore file specifies the directories or files in DAG_FOLDER that Airflow should intentionally ignore.

More information: https://airflow.readthedocs.io/en/latest/concepts.html?highlight=airflowignore

It would be helpful to make a similar feature available to plug

[2020-06-19 17:23] mik-laj opened #9414 "Environment variables reference"
Hello,

I think it's worth creating a list of environment variables used by Airflow. This will allow you to refer to it from other places in the documentation.  We should use [envvar directive](https://www.sphinx-doc.org/en/master/usage/restructuredtext/domains.html?highlight=envvar#directive-envvar) in this docs.

This list can be added to the file:  [docs/cli-ref.rst](https://github.com/apache/a

[2020-06-19 17:54] casassg opened #9415 "[AIP-31] Update DAG examples to use Functional DAG style"
**Description**

Update Airflow documentation to use functional style DAGs instead.

**Use case / motivation**

As discussed in https://github.com/apache/airflow/pull/8962#discussion_r442706891 we believe that functional DAG definition may be easier to onboard and easier to abstract underlying Airflow mechanisms.

**Related Issues**

Created from #8962

[2020-06-19 19:15] takunnithan commented on #8494
Ran into the same issue with REST API, We were trying to trigger a dag via experimental API (sometimes more than 30 DAG runs at a time).
Tried setting the `replace_microseconds`  flag to `False` in the API, It doesn't solve the issue in my case. It just reduces the frequency of the issue.

I have a solution/Hack in mind,

Does it make sense to add a bool param in the experimental API, say `handle_

[2020-06-19 19:30] mik-laj commented on #9205
@sann05 Have you looked at how this problem was solved in SSHHook?

[2020-06-19 19:39] mik-laj opened #9417 "YAML file format in LocalFilesystemBackend"
Hello,

I would be happy if LocalFilesystemBackend would support YAML files. This file format is easier for human editing than JSON files, so it would be easier for developers to use.

Tasks to do

- [ ] 1. Define the file format (based on the current JSON format)
- [ ] 2. Add support for YAML files
- [ ] 3. Add tests
- [ ] 4. Upddate docs

Steps 2 and 3 can be swapped if [TDD](https://en.wikipedi

[2020-06-19 20:17] turbaszek commented on #9415
+ should we update the information about XComs and the `.output` attribute?

[2020-06-19 20:27] Lyalpha commented on #8494
I handled it with the following wrapper. Rather than changing the `execution_date`, just try again in a microsecond. (The micro-sleep is probably superfluous given there is an overhead with the call, but it just ensures >1ms passes between tries)
[code]

[2020-06-19 20:46] vuppalli opened #9418 "Deprecated AI Platform Operators and Runtimes in Example DAG"
**Apache Airflow version**: 1.10.10

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**: GCP
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

The file, /airflow/providers/google/cloud/example_dags/example_mlengine.py, uses depreca

[2020-06-19 20:46] takunnithan commented on #8494
@Lyalpha This is a better approach. 👍

[2020-06-19 21:23] takunnithan commented on #9109
@mik-laj  Hi, Is this assigned to @bertosantamaria ? If not, I would like to work on this

[2020-06-19 21:36] mik-laj commented on #9109
This ticket is blocked because it depends on read-only endpoints. - https://github.com/apache/airflow/issues/8128  These two tickets have a common scheme.
You can check available tickets in the Github project in the TODO column.
https://github.com/apache/airflow/projects/1

[2020-06-19 21:41] takunnithan commented on #9109
@mik-laj Thanks!

[2020-06-19 21:42] takunnithan commented on #9112
@mik-laj I would like to work on this. Can I take this as my first issue ?

[2020-06-19 21:44] mik-laj commented on #9112
``POST /dags/~/dagRuns/~/taskInstances/list`` is still blocked, but you can start working on ``POST /dags/~/dagRuns/list``. I assigned you to this ticket.

[2020-06-19 21:52] takunnithan commented on #9112
@mik-laj Thanks!

[2020-06-19 21:57] mik-laj opened #9420 "Add note about secret backend in security.rst"
Hello,

A small note would be useful. Now we only have information about Fernet on this page.

Are you wondering how to start contributing to this project? Start by reading our [contributor guide](https://github.com/apache/airflow/blob/master/CONTRIBUTING.rst)

Best regards,
Kamil

CC: @kaxil

[2020-06-19 22:03] mik-laj commented on #9418
I am very happy that you want to join this project. I assigned you to this ticket. I am the maintainer of this integration, so if you have questions, ask I look forward to your contribution.

I also recommend reading our contribution guide.
https://github.com/apache/airflow/blob/master/CONTRIBUTING.rst

I would like to pay particular attention to one fragment.

[2020-06-19 22:36] ruoyu90 commented on #9321
(Thanks @casassg for pointing us here)

Hello from [TFX](https://github.com/tensorflow/tfx/) community!

It is excited to see this proposal for Airflow as we are also [proposing](https://github.com/tensorflow/community/pull/253) some pipeline patterns that seem to align well with the vision here.

Some context: TFX is designed to be a portable ML production platform and we already have a [demo imp

[2020-06-20 00:50] chrismclennon commented on #7935
I've anecdotally noticed that once I've dropped argument `-n 25` from our scheduler invocation, I haven't seen this issue come up since. Before, it would crop up every ~10 days or so and it's been about a month now without incident.

[2020-06-20 00:56] mik-laj commented on #7935
Could someone try to run pyspy when this incident occurs? This may bring us to a solution.  Thanks to this, we will be able to check what code is currently being executed without restarting the application.
https://github.com/benfred/py-spy

[2020-06-20 08:22] geobio opened #9430 "Request: show DAG comments in "tree" view (in addition to existing "graph" view)"
**Description**

Currently, DAG comments show up in "graph" view.
I would like the same comments to also show up in "tree" view.

Current "graph" view, shows comments:
<img width="254" alt="Screen Shot 2020-06-20 at 1 18 47 AM" src="https://user-images.githubusercontent.com/9601962/85197197-40c86400-b294-11ea-9ce4-0b8800c1445d.png">

Current "tree" view, does not show comments:
<img width="252" al

[2020-06-20 12:39] sann05 commented on #9205
Thank @mik-laj for your answer.

No, but have looked right now. If I am not mistaken there are few options including:
 - pass a key as a string (which is now always an option)
 - pass a path to the file

But the main question is: how should I handle the presence of the key_file on the airflow workers?

[2020-06-20 13:00] mik-laj commented on #9205
Airflow allows you to store extra credentials data in the extra field in a database or secret backend.  Some connections also allow you to point to a local file, but then the system administrator should ensure that the file exists. You can do it in many ways, e.g. NFS, Git-sync, GCS-sync, shared volume, copy this file in the docker image.

The easiest way is to put this file in the Connection tabl

[2020-06-20 13:55] Marloxo commented on #9372
Closing this issue since it's already fixed with this PR https://github.com/apache/airflow/pull/9397

[2020-06-20 13:55] #9372 closed

[2020-06-20 16:40] dwardu89 opened #9447 "Worker_annotations are not being populated to kubernetes pods"
**Do not use issues for support requests or general help queries**

I’ve deployed airflow on k8s and also set the environment variable
`AIRFLOW__KUBERNETES__WORKER_ANNOTATIONS: '{ \"annotation_key\" : \"annotation_value\", \"annotation_key2\" : \"annotation_value2\" }'`

However the scheduler isnt picking up that annotation as an environment variable. I’m using the airflow docker image with the ta

[2020-06-20 16:42] #9447 closed

[2020-06-20 17:40] kaxil commented on #9373
can you try with the following:

[code]

[2020-06-20 19:33] #9430 closed

[2020-06-21 05:16] shamoji-tech commented on #9410
Does anyone know about where is kicking gcs_task_handler.py ?

[2020-06-21 07:38] mik-laj opened #9461 "Unclear documentation for the delegate_to parameter"
Hello,

Most GCP operators accept the `delegate_to` parameter. It is not super well documented and it can be confusing to users exactly when they would use this as opposed to another conn id.

A little more documentation on the following page would be helpful.
https://airflow.readthedocs.io/en/latest/howto/connection/gcp.html

You can get extra points for adding information about [Impersonated cre

[2020-06-21 07:47] mik-laj commented on #9236
I started an internal discussion about support for this feature. However, this is a duplicate, so I close this ticket.

[2020-06-21 07:47] #9236 closed

[2020-06-21 09:25] #9113 closed

[2020-06-21 09:37] sann05 commented on #9205
@mik-laj my main point was to give the ability to Airflow Administrators/Developers to create connections without interacting with System Administrators or rebuild and redeploying images to the whole cluster.

About secret backends:
I didn't know about secret backends. I'll take a look at this option.

About connection table:
What do you mean by saying "put this file in the Connection table"?
If y

[2020-06-21 09:44] mik-laj commented on #9205
1. In the same way as for SSH. You must put this file in the extra field. If it is a binary file then you can use base64 so that this file can be saved in a JSON file.
2. In the same way as for SSHHook. `BaseHook.get_connections(conn_id="AAA").extra_dejson['private_key']`

[2020-06-21 11:49] mik-laj commented on #8136
@vbmade2000 Do you need help? I will gladly help you if you create your PR.

[2020-06-21 13:03] fuyi commented on #9166
Hello @zorseti , Are you suggesting me to set `execution_timeout` for each individual task to control when to fail the DAG? This works.

However, I have a use case:

`I don't care how much time each task runs, but I need to fail the DAG run and underneath task instances after X hours`

which I think `dagrun_timeout` is more appropriate here.

[2020-06-21 14:23] nullhack commented on #9310
Sure, I'll put on my list, after reviewing the other PR

[2020-06-22 08:27] CodingJonas commented on #9310
I currently using the workaround with a subprocess without issues. Not saying it is perfect, but I can make a pull request out of if, since it seems to me like a sufficient solution.

[2020-06-22 09:46] vaddisrinivas opened #9474 "Airflow support for S3 compatible storages"
Hi,

Curious to know about the support for S3 compatible storages like DELL ECS, MINIO ETC

Thanks

[2020-06-22 09:47] turbaszek commented on #9351
@ashb @potiuk who can make the change?

[2020-06-22 09:57] SteNicholas commented on #9321
@ruoyu90 Good point. Btw, could you please take discussion on dev mailing list? The thread associated with this issue is [[AIP-35] Add Signal Based Scheduling To Airflow](https://lists.apache.org/thread.html/re1a7e5cfcb1e9f4a0bfac41998da2d88ffb26d4f597036c772a4c86e%40%3Cdev.airflow.apache.org%3E). Thanks.

[2020-06-22 10:00] mik-laj commented on #9351
@turbaszek This can be more problematic than we expected. See: https://apache-airflow.slack.com/archives/CCPRP7943/p1592582878155700

[2020-06-22 12:45] turbaszek commented on #9351
Oh I have missed it, thanks @mik-laj ! Btw. having github issues now, shouldn't we encourage discussion here instead of slack (especially if ticket exists) ?

[2020-06-22 13:01] potiuk commented on #9351
Indeed we have a super-easy way to build documentation - simply run './breeze build-documentation' and all should happen automatically. I would love to hear what problems you experience with it.

[2020-06-22 13:23] ad-m commented on #9351
@turbaszek , yes, according to Apache CoC:

(own bold - pogrubienie własne)

[2020-06-22 13:25] VinayGb665 commented on #9417
I would like to pick this up

[2020-06-22 13:31] mik-laj commented on #9417
@VinayGb665 I assigned you to this ticket.  I look forward to your contributions. 🐈

[2020-06-22 13:32] kaxil commented on #9351
We need to be extra cautious and think this through and maybe first try any automation we think of on a dummy repo.

[2020-06-22 14:01] mik-laj commented on #9417
@ VinayGb665 Yes. It may be based on this, but if you have your idea then you can present it in your change.

[2020-06-22 14:07] potiuk commented on #9351
Agree. While I am all for changing - I think we can wreak havoc by haste changes here.

An Idea: Why don't we continue working on 2.0 in master and once we start 2.1 work we can create "development" branch and rather than switching to master immediately we will simply ask everyone to move their PR to "development" for their PRs if they want to get it merged. This way we can do it gradually and nat

[2020-06-22 14:30] ashb commented on #9351
Oh ace - If you delete a branch after merging it, GitHub no longer closes PRs that were based on that branch. This helps with renaming 'master', but also helps generally with PRs that are branches of branches. https://github.blog/changelog/2020-05-19-pull-request-retargeting/

[2020-06-22 15:13] dimon222 commented on #9474
Yes, it works as long as you specify endpoint url. However, it seems to be broken to serving logs in UI for some users on latest release 1.10.10 (works fine in 1.10.9)

[2020-06-22 17:06] vaddisrinivas commented on #9474
It doesnt work for me even as I continue to provide HOST in the connection and also other relevant parameters.
If there is any alternative for the same, please help with that.

Thanks.

[2020-06-23 07:28] #8420 closed

[2020-06-23 09:26] CodingJonas opened #9485 "Unwanted backfill when using empty database even with catchup set to false"
**Apache Airflow version**:v1.10

**Environment**: Deployed inside a Docker container

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): Ubuntu 18.4
- **Install tools**: pipenv

**What happened**:
I have a DAG with start date of 1/1/2018 and schedule to run through a cron expression (e.g. every 2 hours). This is the first time I start Airflow with a new database

[2020-06-23 09:44] ChristianYeah commented on #9209
[code]

is that possible I can fail the task dynamically if I get the response of "code" except 0?

@barmanand , thank you very much

[2020-06-23 09:57] Shadowsong27 opened #9486 "ECSOperator failed to display logs from Cloudwatch after providing log configurations"
**Apache Airflow version**:

v1.10.10

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): Deployed in ECS Fargate
- **Install tools**: poetry

**What happened**:

I am trying to display the logs of Fargate Tasks in Airflow UI when using ECSOperator, and it is achi

[2020-06-23 09:58] barmanand commented on #9209
yes @ChristianYeah You can raise AirflowException and it will fail the task

[2020-06-23 10:28] ChristianYeah commented on #9209
@barmanand thank you

[2020-06-23 10:28] #9209 closed

[2020-06-23 12:54] mik-laj commented on #8132
@GMarkfjard Do you need help? This month I would like to finish all read-only operations. We only have a week of time left.  Do you have any problems? We managed to solve many problems while working on other end points, so if we get to know your change better, we will be able to help you. Creating a draft of your change would be helpful to us.

[2020-06-23 13:39] #9108 closed

[2020-06-23 14:53] zikun commented on #8136
I would like to pick it up if there is no update

[2020-06-23 15:24] mik-laj commented on #8136
@zikun I assigned you to this ticket?

[2020-06-23 16:21] vuppalli commented on #9418
Thanks so much! I have a couple of quick questions: when running the DAG, I noticed that I do not have access to the GCP resources used in the file. Would it be possible to get added to the project so that I can run the DAG without making any changes successfully? Or, is there a place where I can access all of these resources for myself? Additionally, is there an official test file to confirm that

[2020-06-23 16:40] #9407 closed

[2020-06-23 19:12] mik-laj commented on #9418
Unfortunately, the community has not developed procedures for storing files necessary for testing. We don't run these tests automatically on CI yet. Each team that works on integrations must provide these files on their own. This should not be difficult based on official guides for this service.
https://cloud.google.com/ai-platform/training/docs/

I have the following environment variables configu

[2020-06-23 19:53] WesleyBatista opened #9490 "Unable to retrieve logs after Out Of Memory Error"
**Apache Airflow version**: 1.10.10

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): `Debian GNU/Linux 9 (stretch)`
- **Kernel** (e.g. `uname -a`): `Linux <redacted> 4.9.0-3-amd64 #1 SMP Debian 4.9.30-2+deb9u5 (2017-09-19) x86_64 GNU/Linux`

**What happened**:

A task got executed and failed, but the execution logs are inaccessible from the U

[2020-06-23 21:58] #8056 closed

[2020-06-23 21:58] #8057 closed

[2020-06-23 23:09] ToxaZ commented on #9373
Tried, doesn't work.
Even absolute path gives an error:

```jinja2.exceptions.TemplateNotFound: /home/toxaz/work//pentaho_maintenance/queries/get_tables_size.sql```

[2020-06-23 23:50] zacwellmer opened #9492 "DockerOperator support for Nvidia-Docker"
**Description**

Offer support for [Nvidia-Docker](https://github.com/NVIDIA/nvidia-docker/wiki/Installation-(Native-GPU-Support)). I'm not sure how feasible this is b/c it seems like docker's python package doesn't support the gpus flag ([related issue w/ docker's python package](https://github.com/docker/docker-py/issues/2395)). Although it does appear to be on their radar ([this PR](https://git

[2020-06-24 01:07] vitaly-krugl opened #9494 "flask and flask-* missing from requirements/requirements-python3.8.txt, etc."
**Apache Airflow version**: 1.10.10

**Environment**: OS X 10.15.5 Python 3.8 and Python3.7

**What happened**:
The version-locked versions of many packages listed in INSTALL_REQUIREMENTS of setup.py are missing from requirements/requirements-python3.8.txt and requirements/requirements-python3.7.txt.

For example, INSTALL_REQUREMENTS in setup.py contains
    'flask>=1.1.0, <2.0',
    'flask-admin=

[2020-06-24 02:34] vitaly-krugl commented on #9494
Sorry, they were of different case in the setup.py vs. requirements/*.txt. Closing.

[2020-06-24 02:34] #9494 closed

[2020-06-24 04:36] satishbellapu commented on #8282
@mik-laj Is this still open for pick-up ?

[2020-06-24 08:20] mik-laj commented on #8282
@satishbellapu This task has not been completed. I assigned you to this ticket. I look forward to your contribution.

[2020-06-24 09:05] j-y-matsubara commented on #9413
@mik-laj
I am interested in this task. Would you mind if I do it?

I plan to add code of "Ignore"  to  :
https://github.com/apache/airflow/blob/c703ce20c836e9f797203ed233fe6e3d51d8cbd4/airflow/plugins_manager.py#L159-L162

[2020-06-24 09:29] mik-laj commented on #9413
@j-y-matsubara  This seems like a good place. I assigned you to this ticket. :-)

[2020-06-24 09:54] dispensable commented on #9474
We are currently using Minio as our airflow cluster logging backend. It works perfect. But setting the connection is a little bit tricky U should not set host in the host form field otherwise set host in the `Extra` fields with `{"host": "http://YOUR_S3_URL:PORT"}`, just leave the `host`/`port`/`schema` form fields blank.

[2020-06-24 10:00] vaddisrinivas commented on #9474
hi @dispensable , will try this and update the ticket asap!

[2020-06-24 10:26] #8140 closed

[2020-06-24 11:27] albertocalderari commented on #8903
@turbaszek In case of downscale or pod dying you'd want to check if the job is still running, hence the need of having a job id derived from the task name and execution date.
We had several instances where the job is still running and a new one is started generating extra costs for no reason.

If you want we can have a call and I can explain better.

[2020-06-24 11:32] nullhack commented on #9492
DockerOperator uses docker-py internally, so It'll not be possible to think about including It until that [PR](https://github.com/docker/docker-py/pull/2471) is merged.

[2020-06-24 12:17] turbaszek commented on #8903
Now I got it. So if we use execution date in job_id like this `airflow_task_id_20200623T000000+0000` then in case of failure re-running the DAg will make the operator reattach to the existing job. I like it. @edejong WDYT?

[2020-06-24 15:02] ashb opened #9498 "Remove adding Operators via plugins in 2.0"
In Airflow 2.0 we should remove the ability to add operators and hooks via plugins.

I think we should deprecate adding Operators and Hooks via the Airflow plugin mechanism.

I think plugins should be reserved for any mechanism that a plain-ol python module import won't work for (which is basically anything that needs to tie deeply in to the Webserver or Scheduler process).

To that end I think we

[2020-06-24 15:08] pulsar314 commented on #9316
There's a patch with fix of scheduler. It is based on 1.10.10 tag

[0001-Fixes-treatment-of-open-slots-in-scheduler-job.patch.txt](https://github.com/apache/airflow/files/4826240/0001-Fixes-treatment-of-open-slots-in-scheduler-job.patch.txt)

[2020-06-24 16:06] ashb opened #9500 "Deprecate adding Operators via plugins"
This is the companion issue to https://github.com/apache/airflow/issues/9498, but for adding a deprecation warning to 1.10.12 so we can remove it in Airflow 2.0

[code]

can become

[code]

In 1.10.12 we should issue a FutureDeprecationWarning in the plugin if it includes anything in `operators = []`, and additionally when anything imports from `airflow.operators.my_plugin` (this last part may alr

[2020-06-24 16:30] mik-laj commented on #9498
First of all, we should prepare documentation that describes how loading operators works to increase awareness of the problem. Many people use plugins because they know no other alternative.
https://github.com/apache/airflow/issues/8715

[2020-06-24 17:15] ashb commented on #9498
Good call. We can adopt something from https://www.astronomer.io/guides/airflow-importing-custom-hooks-operators/

[2020-06-24 17:28] pogson commented on #8061
I just encountered this. Strange thing is that a regular scheduled dag is sent to the celery worker with the full path... but if you click run and ignore all the celery worker get `DAGS_FOLDER/dagname.py`. I'm on 1.10.5 right now.

[2020-06-24 18:47] albertocalderari commented on #8903
@turbaszek yeah sort of, it’s not as simple, I really rather have a quick call, are you on airflow’s slack?

[2020-06-24 18:48] mik-laj commented on #9080
@houqp  Can you reply here? I can't assign you to a ticket without it.

[2020-06-24 19:09] houqp commented on #9080
@mik-laj sure, i will take this ticket.

[2020-06-24 20:40] mik-laj commented on #9401
I looked at these dependencies and I am not worried about most because they are based on Open-Source licenses or are used only during development. However, these 3 of them are runtime dependencies is based on the proprietary/unknown(?) license and have no specific alternative.

Thank Jarek for paying attention to this issue. I know I couldn't use the Helm Chart in its current form in any of my wor

[2020-06-25 00:49] KIRY4 commented on #9374
Example of usage:
[code]

[2020-06-25 00:50] #9374 closed

[2020-06-25 01:13] mik-laj commented on #9080
I have prepared a spreadsheet in which we can collect requirements about what the client must have in order to be released.
https://docs.google.com/spreadsheets/d/11VaVxdZyYcVHtPwL0JL_qKJ4YzIyvefGcoUleBofn28/edit#gid=0

[2020-06-25 09:33] ashb opened #9506 "Deprecate importing hooks from plugins in Airflow 1.10.13"
In Airflow 2.0 we should remove the ability to import hooks via the plugin mechanism.

I think we should deprecate adding Operators and Hooks via the Airflow plugin mechanism.

Similar to #9500, but this time for Hooks. (Separate PR as this time we want to keep the ability to register hooks, but for operators even registering should go.)

[code]

can become

[code]

with no impact on functionality

[2020-06-25 09:35] ashb opened #9507 "Remove ability to import hooks from plugins in 2.0.0"
Simliar to #9506, but this time for master where we should remove entirely the ability to import hooks from plugins.

[2020-06-25 09:54] #8134 closed

[2020-06-25 10:11] #8138 closed

[2020-06-25 10:12] potiuk commented on #9080
Love it. @houqp - happy to help with reviews and bouncing-off any problems you might have.

[2020-06-25 10:15] gregbrowndev opened #9508 "Python 3.8 CLI raises ModuleNotFoundError: No module named 'typing_extensions'"
**Apache Airflow version**: 1.10.10

**Environment**:

- **OS** (e.g. from /etc/os-release):

NAME=Fedora
VERSION="29 (Workstation Edition)"
ID=fedora
VERSION_ID=29
VERSION_CODENAME=""
PLATFORM_ID="platform:f29"
PRETTY_NAME="Fedora 29 (Workstation Edition)"
ANSI_COLOR="0;34"
LOGO=fedora-logo-icon
CPE_NAME="cpe:/o:fedoraproject:fedora:29"
HOME_URL="https://fedoraproject.org/"
DOCUMENTATION_URL="htt

[2020-06-25 10:47] kkuzelka opened #9510 "SSHHook warns that Remote Identification Change is not verified. when self.allow_host_key_change is set to False instead of when it is set to true"
**Apache Airflow version**: 1.10.10

**What happened**:
for any ssh connection with `allow_host_key_change` set to False or unset Airflow prints
[code]
**What you expected to happen**:

https://airflow.apache.org/docs/stable/howto/connection/ssh.html says

 ```allow_host_key_change - Set to true if you want to allow connecting to hosts that has host key changed or when you get ‘REMOTE HOST IDENTIF

[2020-06-25 10:48] mik-laj commented on #8119
@sarahmaas I missed your comment. Could you prepare POC to show what it could look like? I wonder if we should integrate Swagger UI with Sphinx or leave it independent.

[2020-06-25 10:55] mik-laj commented on #8119
Does anyone have any opinions about other tools? I have heard positive reviews about Redoc. What could the integration of Sphinx with Redoc look like? I have the idea that when publishing documentation on airflow.apache.org we can copy HTML files from redoc-cli to the _build directory. For publication on airflow.readthedocs.org, we can replace use other service to render docs.

Here is a preview o

[2020-06-25 12:28] yuqian90 opened #9514 "Clear ExternalTaskMarker with Future and Recursive selected does not respect Recursive"
**Apache Airflow version**: 1.10.10

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): Any

**Environment**:

- **Cloud provider or hardware configuration**: Any
- **OS** (e.g. from /etc/os-release): Any
- **Kernel** (e.g. `uname -a`): Any
- **Install tools**: Any
- **Others**: NA

**What happened**:

In `example_external_task_marker_dag.py`, after the Dags have been ru

[2020-06-25 12:32] #8484 closed

[2020-06-25 12:32] #8972 closed

[2020-06-25 12:34] mik-laj commented on #8803
I talked to the Google team about this feature. We had serious security concerns. The implementation of this feature in the current Airflow architecture meant that DAG or the operator could access the access key or service account file that allows you to log in to any other account. This is unacceptable.  We must think about how to provide these feature without introducing such a security risk.  I

[2020-06-25 13:03] potiuk commented on #8119
Redoc seems much more user-friendly for me. But i have not much experience with using it. Swagger is fairly "standard" on one hand, but also it is a bit "dated" in terms of UI/UX/friendliness.

[2020-06-25 13:08] mik-laj commented on #8119
I will add that in the "Docs" tab from the Web UI level there is also reference documentation available, but we need access to the documentation without a Web server.

[2020-06-25 13:09] mik-laj commented on #8119
I will add that in the "Docs" tab from the Web UI level there is also reference documentation available (Swagger UI and Redoc), but we need access to the documentation without a Web server. We can support two technologies also in the generated documentation, if this is not a big problem. It depends on the integration method chosen.

[2020-06-25 13:24] ipeluffo commented on #9508
Strange, it seems this has been fixed in version 1.10.9:
* https://github.com/apache/airflow/pull/7474
* https://issues.apache.org/jira/browse/AIRFLOW-6854

And `master` doesn't have that import: https://github.com/apache/airflow/blob/d914a9c3f6bc900c93550675ee4bc71012a2e85e/airflow/serialization/json_schema.py#L21-L28

[2020-06-25 15:07] 2dor commented on #8611
Any updates on this?

[2020-06-25 15:29] martinskeem commented on #8611
I believe this will be resolved (again) in 1.10.11: https://github.com/apache/airflow/pull/8385

[2020-06-25 15:30] #8611 closed

[2020-06-25 17:12] amithmathew commented on #8803
Thanks Kamil. I don't this this statement is accurate in the context I was proposing - "The implementation of this feature in the current Airflow architecture meant that DAG or the operator could access the access key or service account file that allows you to log in to any other account. This is unacceptable."

The account used by the airflow worker can impersonate another service account only if

[2020-06-25 17:23] potiuk commented on #8803
Unless I am mistaken account impersonation does not essentially solve any of those problems you mentioned (like key rotation or key management) because the main service account that you have can do anything via impersonation - and you continue having access to this account. So my first thought is that there is no added value in using impersonation for the purpose you described.

For example if som

[2020-06-25 17:47] amithmathew commented on #8803
Thanks for the response Jarek. I should state my assumptions :)

#### Assumptions
1. Airflow is running on GCP (so workers use the instance accounts) - no long lived keys generated for the main service account.
2. Airflow is centralized and lives in its own project - DAGs can be run in other projects, and owned by other teams in the organization.

#### Current model using connections and a secrets

[2020-06-25 18:14] potiuk commented on #8803
Crystal-clear! Thank you. It does look reasonable. I will circle it back with a few people to see what they think and come back to you  !

[2020-06-25 18:32] Acehaidrey commented on #7843
is there any work or plans to make the colorblind ui configurable? We've had requests at pinterest too about it, and wanted to see what others here have been doing to help this

[2020-06-25 18:38] kaxil commented on #7843
Looking at that one today

[2020-06-25 18:43] kaxil commented on #7843
I will raise a PR today and we will release it as a part of 1.10.11

[2020-06-25 18:59] Acehaidrey commented on #7843
Thank you much @kaxil

[2020-06-25 19:42] #9316 closed

[2020-06-25 20:48] gardner-dev opened #9518 "Docker operator command"
Hi, when I am using command as a one element list it generated unhandled, strange error. Docs don't say, that list can not consist only one element.  I've strugled two days until I resolve it. Can it be fixed?

[2020-06-25 21:27] Siddharthk opened #9519 "How to use private_key for SSH Operator"
I was not able to find documentation on how to use private_key for SSH operator. Below is my sample key which I want to use as a string.
[code]

I am getting below error currently:
[code]
Can someone help me out?

[2020-06-25 22:19] satishbellapu commented on #8282
@mik-laj  can you be more clear on the requirement or some sample connector which has the ref as per your guideline should help me to close the PR at the earliest.

[2020-06-25 22:57] kaxil commented on #7843
I have created a PR : https://github.com/apache/airflow/pull/9520 to implement this changing Task States colors.

PS: I am not good with UI but with the current change, it should work fine. Can you all give it a shot and post your feedback, please.

We will soon release 1.10.11 and I would like to include this change :)

[2020-06-26 03:50] Marloxo opened #9526 "remove duplicate parameters from `sql_to_gcs.py`"
**Apache Airflow version**:
1.10.10

**Environment**:
Docker

**What happened**:

it's just small nitpick, we have this redundant line which assign the `parameters` twice in `sql_to_gcs`

https://github.com/apache/airflow/blob/master/airflow/providers/google/cloud/transfers/sql_to_gcs.py#L115:L118

[code]

[2020-06-26 05:08] lordozb commented on #9155
@ashb FAB has fixed and merged it in their master.
https://github.com/dpgaspar/Flask-AppBuilder/commit/6e77920a4dab5c62e8c37df8c343f136e75eff50

[2020-06-26 05:27] jacobhjkim commented on #8270
Can we close this since https://github.com/apache/airflow/tree/master/chart this was merged?

[2020-06-26 05:40] jacobhjkim opened #9528 "Official Airflow Helm Chart DAG sync support"
**Description**

Use [git-sync](https://github.com/kubernetes/git-sync) to update Airflow DAGs when using the official [Airflow Helm Chart](https://github.com/apache/airflow/tree/master/chart).

**Use case / motivation**

Currently, if you use the official [Airflow Helm Chart](https://github.com/apache/airflow/tree/master/chart) the only way to update DAGs is to build a new Airflow image. Building

[2020-06-26 05:59] jacobhjkim commented on #9528
Seems like https://github.com/apache/airflow/pull/9371 is already working on it.

[2020-06-26 09:05] potiuk commented on #8270
I think we have a few things to fix/update  and we will close it when we release 1.10.11 with the official chart in

[2020-06-26 09:49] #9417 closed

[2020-06-26 11:30] tuan-cs opened #9532 "Cannot run KubernetesPodOperator tasks."
**Apache Airflow version**: apache/airflow:1.10.10.1-alpha2-python3.6

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.17.3

**Environment**:
Rancher 2.4.2 on Ubuntu 20.04
- **Cloud provider or hardware configuration**: Rancher 2.4.2
- **OS** (e.g. from /etc/os-release): Ubuntu 20.04
- **Kernel** (e.g. `uname -a`):
- **Install tools**: Rancher 2.4.2
- **Others**:

*

[2020-06-26 11:50] nullhack commented on #9518
Hi @gardner-dev Thank you for opening this report. Can you give some details?
Like, What is the strange error you mentioned? How have you solved It? Can you provide a simple example of DAG which can reproduce the issue? Which version of airflow are you using?

[2020-06-26 11:53] vaddisrinivas commented on #9474
hi @dispensable / all,

How do I pass the access_key_id and other parameters to connect to that? can someone please help on that?

[2020-06-26 12:02] nullhack commented on #9519
Hi @Siddharthk you can create an dict on extra fields of your ssh connection with a key `key_file` and value equal your private key file.
The code is at: https://github.com/apache/airflow/blob/master/airflow/providers/ssh/hooks/ssh.py#L103

[2020-06-26 12:25] dimon222 commented on #9474
Username/Password fields in respective connection

[2020-06-26 12:28] kaxil commented on #8720
Fixed in 1.10.11

[2020-06-26 12:36] vaddisrinivas commented on #9474
hi @dispensable/@dimon222, thanks for your help.

I have SUCCESSFULLY enabled pushing airflow logs to s3 compatible bucket by following what was mentioned above,
in brief :

- created a new connection with -> {"host": "http://myhost:myport",   "aws_access_key_id" :"myaccesskey/username"
        ,"aws_secret_access_key": "myreallybigsecretkey"}

- then I went ahead, modified the configuration by ad

[2020-06-26 12:36] #9474 closed

[2020-06-26 12:37] nalepae opened #9533 "Upstream failed whereas Upstream is alright"
**Version:** Version : 1.10.3-composer
**Platform:** 8 Airflow on Google Cloud Composer

**Description:**
Sometimes, some steps do not run because of "Failed Upstream" (orange color) whereas upstream is alright (green color).

**Examples:**

![image](https://user-images.githubusercontent.com/4943830/85857325-e9595500-b7b9-11ea-8c4b-e462e05857e2.png)

or

![image](https://user-images.githubusercont

[2020-06-26 13:45] potiuk commented on #9150
Fixed in #9162

[2020-06-26 13:45] #9150 closed

[2020-06-26 13:46] potiuk commented on #8837
Fixed in #9162

[2020-06-26 13:46] #8837 closed

[2020-06-26 14:41] #9379 closed

[2020-06-26 17:23] #8136 closed

[2020-06-26 18:08] joshkadis opened #9538 "Add config variable for UI page title"
**Description**

Enable installations to change the page title of the `/admin` base route using a config variable. It would default to `DAGs` which is [hard-coded here](https://github.com/apache/airflow/blob/master/airflow/www/templates/airflow/dags.html#L26). But you'd be able to do something like this:

![Screen Shot 2020-06-26 at 2 06 53 PM](https://user-images.githubusercontent.com/997097/8588

[2020-06-26 18:08] miamiajin opened #9539 "raise AirflowException("SSH operator error: {0}".format(str(e)))"
[airflow ssh operator error.log](https://github.com/apache/airflow/files/4838542/airflow.ssh.operator.error.log)

**Apache Airflow version**: 1.10.3

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**: python3.5

**What happened**:

The airflow DAG run smoothly for the first 2 wee

[2020-06-26 20:14] kaxil commented on #9508
This will be fixed in Airflow 1.10.11

[2020-06-26 20:25] #9508 closed

[2020-06-26 20:50] efolgar opened #9541 "GoogleCampaignManagerInsertReportOperator Fails when using Templated Reports"
The GoogleCampaignManagerInsertReportOperator fails with the following 400 error when attempting to insert a report rendered from a file template:

Appears the issue is that Jinja templates will always render as a String but the operator is expecting a Dictionary (representing the JSON object).

Here's a sample call:
[code]

Relevant Code:
https://github.com/apache/airflow/blob/096f5c5cba963b364ee

[2020-06-26 22:16] ramdharam opened #9542 "on_failure_callback function for external task sensor"
**Description**
Adding an on_failure_callback feature for external task sensors. The current out of the box implementation does not provide an ability to perform certain operations on sensor timeouts/errors. This limits the usage of the sensor in its current/existing implementation as the purpose of the sensor is not completely fulfilled.

**Use case / motivation**
The primary purpose of an extern

[2020-06-27 07:10] chandansingh1653 opened #9543 "Enable airflow to orchestrate python job on AWS glue"
Description

Enable airflow to trigger the python glue job

Use case:

Glue jobs are used to schedule the python and spark job, the current Glue job operator only runs the spark job.
There should be an option given to users which type of code they want to orchestrate using glue job operator i.e Pyspark or Python.
Documentation for glue: https://docs.aws.amazon.com/glue/latest/dg/add-job.html

Capa

[2020-06-27 07:14] chandansingh1653 commented on #9543
I can work on this if this feature looks valid

[2020-06-27 07:50] potiuk commented on #9539
Github issues are not ment for troubleshooting (see the templates we have) instead, please discuss your problem on slack/#troubleshooting  channel. You will get all the information how to get there in "Ask a question"  section of  https://airflow.apache.org/community/

[2020-06-27 07:50] #9539 closed

[2020-06-27 12:29] #8706 closed

[2020-06-27 12:29] #9248 closed

[2020-06-27 13:34] KumarManoj-S opened #9548 "Add support for snowflake on the sql_sensor"
**Description**

Enable the support for Snowflake on the SqlSensor.

**Use case**

Currently, the `SqlSensor` supports only the following connection types,

- google_cloud_platform
- jdbc
- mssql
- mysql
- oracle
- postgres
- presto
- sqlite
- vertica

At the moment, it doesn't have support for Snowflake. This ticket is to add support for Snowflake on the `SqlSensor`.

[2020-06-27 13:35] KumarManoj-S commented on #9548
Hi, I would like to pick up this issue if it is a good feature to come in.

[2020-06-28 07:21] mik-laj commented on #9548
@KumarManoj-S I assigned you. to this ticket. This change seems sensible. We should not have lists of approved classes in the code, but we should rely on interfaces.

[2020-06-28 07:33] mik-laj commented on #9543
https://github.com/apache/airflow/blob/c420dbd6e13e17867eb4ccc4271b37966310ac0f/airflow/providers/amazon/aws/operators/glue.py#L32
I think it is supported. Did I miss something?

[2020-06-28 07:38] mik-laj commented on #9541
A similar problem has already been resolved in airflow.providers.google.cloud.operators.cloud_build.CloudBuildCreateBuildOperator operator.
Here is code for fix:
https://github.com/apache/airflow/blob/c420dbd6e13e17867eb4ccc4271b37966310ac0f/airflow/providers/google/cloud/operators/cloud_build.py#L202-L210

[2020-06-28 07:52] mik-laj commented on #8282
Currently, operators have a reference between the documentation and the class.
<img width="856" alt="Screenshot 2020-06-28 at 09 43 36" src="https://user-images.githubusercontent.com/12058428/85941636-4ec95500-b924-11ea-8408-8b89aa499e0c.png">
<img width="782" alt="Screenshot 2020-06-28 at 09 43 46" src="https://user-images.githubusercontent.com/12058428/85941642-512baf00-b924-11ea-9b12-ea64b0c77e

[2020-06-28 07:54] mik-laj commented on #9519
The use of "key_file" is incorrect.
Here is docs: https://airflow.readthedocs.io/en/latest/howto/connection/ssh.html

[2020-06-28 11:08] chandansingh1653 commented on #9543
Current AWS Hook doesn't run python shell .AWS glue job operator by default will run spark jobs.However if user wants to run python shell on AWS glue its not possible using current AWS glue job operator

[2020-06-28 11:15] mik-laj commented on #9543
I am not an AWS expert, but I will trust you that the situation looks as you say. I assigned you to this ticket and I look forward to your contribution. If we are wrong, then the reviewer of this change will discuss this topic again.

https://github.com/apache/airflow/blob/master/CONTRIBUTING.rst

[2020-06-28 12:18] gardner-dev commented on #9518
Sure @nullhack! In the documentation regarding docker operaort we can read
[code]
When I run docker operator with command such as:
`command=["python owid_API.py -date {{ ds }}"]`
it generates error

The clear problem is that list is one-element list. But it should be specified in docs that list doesn't work for one command

[2020-06-28 12:38] mik-laj commented on #9518
You should use
[code]
or
[code]
I don't know what we could do to prevent a similar problem in the future.

A similar problem will occur in CLI if you provide an invalid value.
[code]
We may require this argument to be a list, but it is a breaking change. And this breaks one special feature of this operator.
You can put an array into XCOM and as an argument.
For xcom = `["bash", "-c", "echo 123"]`

[2020-06-28 12:39] mik-laj commented on #9518
It can be only one element, but it should be an executable file.
[code]

[2020-06-28 17:33] ismailsimsek opened #9555 "AIP-5 Remote DagFetcher"
**Description**
By allowing Airflow to fetch DAG files from a remote source outside the file system local to the service, this grant a much greater flexibility, eases implementation, and standardizes ways to sync remote sources of DAGs with Airflow.

**Use case / motivation**
deploying dag from remote (s3,git)  location

**Related Issues**
https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-5+

[2020-06-28 18:16] wfaria opened #9557 "Improvements to the "Executor reports task instance finished (failed) although the task says its queued" exception messages"
**Description**

One day our production Airflow production (1.10.9) environment started to raise the following exception for multiple tasks in different DAGs:

[code]
If you let it retry the tasks, eventually it would end. However, it made lots of ETLs increase the execution time like 400%.

Later, thanks for an obscure Stackoverflow answer, we discovered that this was happening because the Airflo

[2020-06-28 18:20] mik-laj commented on #9382
@ipeluffo @zikun @potiuk @feluelle  @turbaszek Thanks for cooperation on this ticket.

[2020-06-28 18:20] #9382 closed

[2020-06-28 19:03] mik-laj opened #9558 "Missing operator - CloudVisionReferenceImageCreateOperator"
Hello,

We miss the operator for method delete_reference_image to hook CloudVisionHook. All other methods probably have matching operators.
This is important to me because the hook method refers to this operator in docstring.
https://github.com/apache/airflow/blob/1d36b0303b8632fce6de78ca4e782ae26ee06fea/airflow/providers/google/cloud/hooks/vision.py#L428

Best regards,
Kamil

[2020-06-29 07:32] michaelosthege opened #9561 "Documentation does not tell what "dry run" does"
**Description**

The https://airflow.apache.org/docs/stable/cli-ref.html?highlight=backfill#backfill documentation page explains the `--dry-run` command as

Unfortunately that doesn't help if one does not know what is mean by "dry run".

**Use case / motivation**
I'm trying to run trigger a backfill such that the terminal detaches after triggering the command.
Does "dry-run" help with that?

[2020-06-29 07:40] eladkal commented on #9548
@KumarManoj-S  note that if this works for SqlSensor there is no reason it won't work for SqlOperators
https://github.com/apache/airflow/blob/1d36b0303b8632fce6de78ca4e782ae26ee06fea/airflow/sensors/sql_sensor.py#L72
https://github.com/apache/airflow/blob/0b9bf4a285a074bbde270839a90fb53c257340be/airflow/operators/sql.py#L26
 (not sure why two different lists are needed as lists are the same and th

[2020-06-29 08:31] turbaszek commented on #9541
@mik-laj I was thinking about this over weekend. Shouldn't we add this logic to Airflow core? I would say that we should support at least .json and .yaml WDYT? @kaxil @feluelle

[2020-06-29 12:22] davido912 opened #9564 "Official Airflow Docker Image Problem"
Hey hey,

Trying to adapt working using a dockerised version of Airflow (apache/airflow:1.10.10-python3.6) and load our repository to it.
However, in comparison to using Airflow locally installed in a virtual environment, the dockerised version is extremely slow, operators queue for long as if there is only one worker that can take care of the jobs. And pipelines do not manage to execute in full d

[2020-06-29 12:38] lascott commented on #9168
I made an effort to submit after reading the issue template and adhering to it.
Something more than a bot would have been the polite thing to do by now.
New participants should feel welcomed if a community is to grow.

[2020-06-29 13:11] potiuk commented on #9564
Did you try to compare the configuration you had in your local virtualenv and in the docker image? The configuration that comes with the Docker image is "default one" and you likely modified it manually in your local virtualenv. If you want to use your own configuration you need to mount it to the Dockerfile under `/opt/airflow/airflow.cfg`. If you do not do it, then default configuration will be

[2020-06-29 13:50] KumarManoj-S commented on #9548
@eladkal Sure. That's a good point. I will check if I can address both of them.

[2020-06-29 15:11] #7843 closed

[2020-06-29 15:57] sann05 commented on #9205
@mik-laj thank you for your answers. For now, we have the next options:

1.  Store file as a string in the password field (to be masked) or as an extra field in a new connection
2.  Get it from either sync or mount features
3.  Get the as a string from a secret backend

The way I thought about the feature is to store the file **as a file** in DB. But that way we would get unnecessary struggles wit

[2020-06-29 15:57] #9205 closed

[2020-06-29 16:05] lidalei opened #9569 "HttpHook.run_with_advanced_retry method does not support Exception other than ConnectionError"
**Apache Airflow version**:
1.10.10

**Environment**:
Python 3.6.10

**What happened**:
The following code block
[code]
does not retry an HTTP request and raises an AirflowException when `check_response` is True (by default) and the server responds a 429 status code (too many requests).

**What you expected to happen**:
I expect the `retry` parameter is respected. So instead of raising `AirflowExc

[2020-06-29 16:44] kaxil commented on #8484
Will be available in 1.10.11

[2020-06-29 17:38] darwinyip opened #9571 "Upgrading from 1.10.9 to 1.10.10 gave template error when accessing webserver"
**Apache Airflow version**: 1.10.10

**Environment**:

- **Cloud provider or hardware configuration**: aws
- **OS** (e.g. from /etc/os-release): ecs task
- **Kernel** (e.g. `uname -a`): python 3.6 image

**What happened**:

Upgrading from 1.10.9 to 1.10.10 gave error when trying to access UI

[code]

**What you expected to happen**:

See UI

**How to reproduce it**:
Upgrade airflow
`airflow upgrad

[2020-06-29 17:52] darwinyip commented on #9571
It appears the alembic migration did not work even though it did update the `alembic_version`. I verified by checking if `pool_slots` was added to `task_instance`.

[2020-06-29 21:19] ad-m commented on #8803
I like this idea, which I already discuss regarding API flow in detail with @mik-laj in a long conversation. Similar solutions are currently available from other cloud provider, among others AssumeRole at AWS, TokenExchange at HyperOne. I notice that when designing this element, interoperability should be strongly taken into account, because - if you go to the extreme - we will lead Airflow to wor

[2020-06-29 22:41] sarahmaas commented on #8119
I'm afraid I don't have as much time to help out with this now as I did when I volunteered to take it on 😞

[2020-06-29 23:59] #8900 closed

[2020-06-30 00:47] kaxil commented on #9561
You could run the backfill command and suffix it with `&`  (ampersand) to run it in background

[2020-06-30 00:50] kaxil commented on #9571
Duplicate of https://github.com/apache/airflow/issues/8752

Will be fixed in 1.10.11

[2020-06-30 00:50] #9571 closed

[2020-06-30 00:53] kaxil commented on #9526
Fixed by https://github.com/apache/airflow/pull/9527

[2020-06-30 00:53] #9526 closed

[2020-06-30 03:35] sk2991 opened #9583 "Attach roles to AD groups - Azure OAuth"
We have implemented RBAC using Azure OAuth, Is there any way to attach a role to AD group - so that users part of that AD groups/Tenant can get default access to the attached role

**Apache Airflow version**: 1.10.10

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.15.10

**Environment**:

- **Cloud provider or hardware configuration**: Azure (AKS)
- **OS** (e.g. fr

[2020-06-30 05:44] #8135 closed

[2020-06-30 05:47] #9114 closed

[2020-06-30 08:04] #9561 closed

[2020-06-30 13:35] Asgoret commented on #9474
Everywhere is HTTP, but what about HTTPS? airflow doesn't support HTTPS S3 endpoints? I've got a very odd error (`An error occurred (InvalidAccessKeyId) when calling the ListBuckets operation: The AWS Access Key Id you provided does not exist in our records`) when use HTTPS-based endpoint. In dev with HTTP, all works perfectly.
cc @dimon222

[2020-06-30 13:47] gardner-dev commented on #9518
Thank you @mik-laj , issue could be closed then

[2020-06-30 13:47] #9518 closed

[2020-06-30 19:07] Unit03 opened #9595 "SparkSubmitOperator only masks one "form" of password arguments"
Hello there, everyone. :)

**Apache Airflow version**: 1.10.9, 1.10.10, trunk

- **OS** (e.g. from /etc/os-release): Linux
- **Others**: Bash/sh

**What happened**:

Password masking was added to `SparkSubmitOperator` (`SparkSubmitHook`, to be precise) in December 2019 (under [AIRFLOW-6350](https://issues.apache.org/jira/browse/AIRFLOW-6350); PR: #6917) - but it only masks passwords as long as the

[2020-06-30 22:24] tooptoop4 commented on #9595
@Unit03 pls raise the PR. My original PR that you mentioned was very crude (as you noticed!), but better than nothing :) Was done in that format because all my dags use that 1 specific format of sending conf

[2020-06-30 22:50] ephraimbuddy commented on #9386
Hi, can I work on these while I await your reviews on the other PRs? It seems easy, thanks.

[2020-07-01 00:16] mik-laj commented on #9386
Yes. Go ahead and work.

[2020-07-01 01:09] ephraimbuddy opened #9600 "Add unittests for GCSTaskHandler"
**Description**

The `GCSTaskHandler` from `airflow.utils.log.gcs_task_handler` does not have a unit test.

**Use case / motivation**

The test is necessary so that we can be able to move the `GCSTaskHandler` to its providers package(`google`)

**Related Issues**
#9386

[2020-07-01 01:41] ephraimbuddy opened #9603 "Add unit test for WasbTaskHandler"
Description

The WasbTaskHandler from airflow.utils.log.wasb_task_handler does not have a unit test.

Use case / motivation

The test is necessary so that we can be able to move the WasbTaskHandler to its providers package(microsoft)

Related Issues
#9386

[2020-07-01 05:25] satishbellapu commented on #8282
Thanks for the explanation @mik-laj will get back if i have questions.

[2020-07-01 06:42] DanilBaibak commented on #9309
Fixed!

[2020-07-01 06:42] #9309 closed

[2020-07-01 09:39] ashb opened #9606 "Turn off pickling of XCom by default in 2.0"
The comment for airflow.cfg says this:

[code]

With this false the kinds of values we can serialize is limited to JSON (dicts, lists, numbers, strings, None and boolean) there are valid reasons for wanting this on I don't think we should remove it entirely -- instead I think we should make JSON/not Pickled the default instead.

[2020-07-01 09:39] ashb commented on #9606
/cc @turbaszek

[2020-07-01 12:51] kaxil commented on #8966
Fixed by https://github.com/apache/airflow/commit/836f717d316d6b20bc2f2bc07d781dd332618471

[2020-07-01 12:51] #8966 closed

[2020-07-01 13:09] freget opened #9609 "TimeSensor triggers immediately when used over midnight (UTC)"
**Apache Airflow version**: 1.10.10 (issue exists in current master as well)

**Environment**: does not seem relevant

**What happened**:

The TimeSensor does trigger if the current time is later than the defined trigger time. Looking at the [source code](https://github.com/apache/airflow/blob/master/airflow/sensors/time_sensor.py), the trigger rule is defined as
[code]
This leads to problems when

[2020-07-01 13:59] chrismclennon opened #9610 "Pod logs from KubernetesPodOperator occasionally get replaced with "Task is not able to run""
**Apache Airflow version**: 1.10.10
**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.17.2

**Environment**:

- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): CentOS Linux
- **Kernel** (e.g. `uname -a`): `Linux airflow-worker-0 5.6.13-1.el7.elrepo.x86_64 #1 SMP Thu May 14 08:05:24 EDT 2020 x86_64 x86_64 x86_64 GNU/Linux`
- **In

[2020-07-01 15:19] OmairK commented on #8201
@mik-laj I want to take up this task, can you please assign it to me ?

[2020-07-01 15:58] turbaszek commented on #8201
@OmairK you are assigned, happy to review the coming PR :)

[2020-07-01 17:06] kaxil commented on #8717
Fixed in https://github.com/apache/airflow/commit/dbe308c7ea31043d86ac1b563c5590fe6c40bcb5

[2020-07-01 17:06] #8717 closed

[2020-07-01 19:20] Unit03 commented on #9595
All right, then, PR opened. :)

[2020-07-01 21:48] #8214 closed

[2020-07-01 22:15] vuppalli commented on #9418
Thank you for the information! I created a PR for this issue here: https://github.com/apache/airflow/pull/9618.

[2020-07-01 22:42] subkanthi commented on #8471
@mik-laj , is this something I can take on, Im trying to find a good first issue, I have been using airflow for a few years and have written custom operators. Just thought will start contributing.

[2020-07-02 05:35] bhavaniravi opened #9625 "Git-sync retry for worker pods"
**Description**

Airflow when using KubernetesExecutor and `git-mode` need to have a `GIT_SYNC_MAX_SYNC_FAILURES` option.

**Use case / motivation**

When running a task with `git-mode` and KubernetesExecutor with self-hosted bitbucket or GitLab,  the pod fails because it couldn't connect to the Code hosting service thereby marking the task failed.

While we can set `GIT_SYNC_MAX_SYNC_FAILURES` as