[2021-01-05 12:20] TobKed commented on #13262
I confirmed the issue by running system tests and made review for [fix](https://github.com/apache/airflow/pull/13478)

[2021-01-05 12:29] ashb commented on #13325
Yes please, and include any dag files that are needed as well.

[2021-01-05 12:43] EKami commented on #13311
[code]

Interesting... Probably the program [tzupdate](https://github.com/cdown/tzupdate) that created this. But in all cases, I don't think airflow should crash if it encounters an error like that.

[2021-01-05 12:44] sti0 opened #13487 "DockerOperator Could not serialize the XCom value into JSON"
I'm running Airflow 2.0.0 with docker image from dockerhub (tested `apache/airflow:2.0.0-python3.8` and `apache/airflow:2.0.0`) .

I tried this example docker DAG:
https://github.com/apache/airflow/blob/master/airflow/providers/docker/example_dags/example_docker.py

I changed the task configuration to:
[code]

API versions below 1.21 are not supported anymore, because of this this is commented.

I

[2021-01-05 12:45] potiuk commented on #13467
Is there a reason you cannot use the .whl packages @gshiva ? Why it is important to you if the .whl package is equivalent?
Could you please elaborate on that?

[2021-01-05 12:45] ashb commented on #13311
This is not an airflow bug -- it is entirely in pendulum code. And I don't see anything in that file that would have `pur` appended to the file.

This is environmental, feel free to raise an issue with pendulum if you think it should be handled better there.

[2021-01-05 12:45] #13311 closed

[2021-01-05 12:47] ashb commented on #13317
Fairly sure this one is going to be a "can't fix - don't run multiple different python versions in parallel" --if you need to do that use the VirtualEnv operator.

[2021-01-05 12:59] EKami commented on #13311
Okay, thanks a lot for your help :)

[2021-01-05 13:00] RosterIn commented on #13487
is it the same issue as https://github.com/apache/airflow/pull/9464 ?

[2021-01-05 13:05] sti0 commented on #13487
I don't think so. As I understand in #9464 the output is not handled correctly but in my case the complete dag runs on error.

[2021-01-05 14:15] rkh-hash commented on #13047
Hi everyone,

I encounter the same behaviour .

My simple DAG:

[code]

scheduler log:
[code]

* os: `Ubuntu 18.04.5 LTS`
* python version: `python3.7`
* airflow version: `2.0.0`

[2021-01-05 15:02] hrkh commented on #13481
@mik-laj Thank you for your comment. I'll try it.

[2021-01-05 15:52] #13477 closed

[2021-01-05 16:00] potiuk commented on #13397
Which python version do you use? I see that in my python version (3.6.12) the sqlite3.sqlite_version is 3.31.1 . So I guess you hava some old python version. Sqlite DB-API  is part of python and I believe you must have some old python version then.

[2021-01-05 16:06] potiuk commented on #13149
I see.  I perfectly understand what 'horrible issues' mean. It's unfortunately yet another 'dependency-hell' kind of situation. Good luck with that. For now I think I prefer to stick with PIP install, but if you would like to make a PR to our contributing documentation on how to use our constraint files when you are installing airflow with poetry in the chapter following this: https://github.com/a

[2021-01-05 16:17] Dundo777 opened #13491 "Upgrade from 1.10.14 to 2.0.0 fails with MySQL DROP CONSTRAINT"
**Apache Airflow version**: 2.0.0

**Environment**:

- **Cloud provider or hardware configuration**: X
- **OS** (e.g. from /etc/os-release): CentOS 7
- **Kernel** (e.g. `uname -a`): x86_64
- **Install tools**: yum, pip
- **Others**:

**What happened**:

airflow db upgrade fails after upgrade from 1.10.14 to 2.0.0
Full log message:

<details>
<summary>
 DB: mysql://....
[2021-01-05 17:03:54,693] {d

[2021-01-05 16:35] Dundo777 commented on #13491
solved it with fix in this issue
#13222 https://github.com/apache/airflow/issues/13222#issuecomment-749184968

[2021-01-05 16:35] #13491 closed

[2021-01-05 16:59] bouke-nederstigt commented on #13325
The zip should contain everything to reproduce the issue.

[airflow_scheduler_issue.zip](https://github.com/apache/airflow/files/5771525/airflow_scheduler_issue.zip)

- From directory rabbitmq run docker-compose up
- From directory airflow run docker-compose up
- Create a user account and turn on the dag knmi_weather.
- You should see the described behaviour where tasks get scheduled, but never re

[2021-01-05 17:08] venezianluis commented on #13397
[code]

[2021-01-05 17:47] potiuk opened #13493 "Fail when SQLite version is not high enough"
Seems that in Airflow 2.0 we use some features of sqlite3 which do not work with really old versions of sqlite (for sure for 3.11.0 which was released in 2016).

Following https://github.com/apache/airflow/issues/13397#issuecomment-754768930 and few other slack discussions, seems that there are enough systems out there (CentOS, RHEL7) that come with really old sqlite (RHEL7 with a 7 years old one!

[2021-01-05 17:47] mcgin opened #13494 "Unable to view StackDriver logs in Web UI"
**Apache Airflow version**: 2.0.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.16.15-gke.4901

**Environment**:

- **Cloud provider or hardware configuration**: GKE
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**: Using the apache/airflow docker image
- **Others**: Running 1 pod encapsulating 2 containers (1 x webserver

[2021-01-05 18:14] tonycoco opened #13495 "Operator will fail if listing reports exceed quotas on Campaign Manager 360 API"
**Apache Airflow version**: latest

**Environment**:

Google Cloud – Composer

**What happened**:

From `airflow.providers.google.marketing_platform.operators.campaign_manager` see: `GoogleCampaignManagerDeleteReportOperator`

https://github.com/apache/airflow/blob/master/airflow/providers/google/marketing_platform/operators/campaign_manager.py#L114

When using a `report_name` to delete the report

[2021-01-05 18:22] potiuk commented on #13397
BTW. I confirmed that 3.11.0 results in this error. I followed the URL I gave you and downgraded sqlite with LD_LIBRARY_PATH and could reproduce it. I am trying to figure out which is the minimum version supported, but you should definitely upgrade sqlite3 and make it avaliable to python (via LD_LIBRARY_PATH for example)

[2021-01-05 18:35] venezianluis commented on #13397
Thanks for support, i'm trying to upgrade my sqlite_version and then when i get it i will post the results here and delete this comment.

[2021-01-05 18:43] potiuk commented on #13495
This cannot be done on operator level due to the way operators work in Airflow.

However there is a feature in Airflow that is designed to handle this case - pools.

You should experiment what is the maximum number of running operators that will not cause exceeding quotas and set the maximum size of the pool to that value. If you then use the pool for all your DAGs wehen This way you will have max

[2021-01-05 18:43] #13495 closed

[2021-01-05 18:49] potiuk commented on #13495
And just to add to it. The root cause of the problem is that the API of campaign manager does not have any other way to get the report by name https://developers.google.com/doubleclick-advertisers/v3.3/reports/get only can use Id, and https://developers.google.com/doubleclick-advertisers/v3.3/reports/list does not allow filtering by name.

The only way to optimize the "by name" search is to ask th

[2021-01-05 19:34] potiuk commented on #13397
FYI. 3.15.0 is the minimum version that works. I am adding it to the docs and Airflow will fail hard if sqlite3 version is less than that (PR is coming for #13493)

[2021-01-05 21:00] potiuk commented on #13397
Don't delete comments. They might be useful for others having same problem.

[2021-01-05 21:57] eldernewborn opened #13498 "please bring back sdist releases to pypi repo."
Since release of 2.0.0 the sdist / *.tar.gz release is not present in pypi package repo. This will prevent automated pipelines from ingesting the release and generating customized wheels that is usually the process in bigger companies.

Considering that we already have the tooling to create sdist packages as part of CI code present in the codebase, Please kindly re-instate sdist as part of generic

[2021-01-05 22:11] potiuk commented on #10576
Sure. You can check the list that is unchecked and take a stab on those. I think i kept the list updated, also some of the scripts are simple and might simply be OK with the naming convention so maybe they need just a 'tick-off'

[2021-01-05 22:46] gshiva commented on #13467
Our automated build system relies on the sdist packages and our security team has issues with blindly importing "binary" packages. Similar to reasons described in #13498

Also thank you @potiuk and @mik-laj for such a quick response.

[2021-01-05 22:49] ashb commented on #13498
Close as duplicate of #13467

[2021-01-05 22:49] #13498 closed

[2021-01-06 01:03] mik-laj commented on #13494
It could be related: https://github.com/apache/airflow/issues/13343

[2021-01-06 03:12] gbonazzoli commented on #13434
I don't know if my problem is related to this issue, but I want to underline a change of behavior in airflow 2.0.0 in how the **`max_active_runs`** directive works.

I have the following DAG definition:

[code]
Before Airflow 2.0.0 only one DAG was allowed to run.

With Airflow 2.0.0 (probably due to the scheduler's rewriting with the fantastic speed added in switching between tasks) at the end of

[2021-01-06 04:47] yizha opened #13503 "dagbag not loading any dag from database when read_dags_from_db is True."
**Apache Airflow version**: 2.0.0

**Kubernetes version (if you are using kubernetes)** (use kubectl version): not relevant

**Environment**:

    Cloud provider or hardware configuration:
    OS (e.g. from /etc/os-release):
    Kernel (e.g. uname -a):
    Install tools:
    Others:

**What happened**:
`/usr/bin/airflow sync-perm` not loading any DAG from database.

**What you expected to happen**

[2021-01-06 06:17] SakuraSound commented on #13343
I am also seeing issues here

**Apache Airflow version:** 2.0.0

**Kubernetes version (if you are using kubernetes) (use kubectl version):**

[code]

**Environment:**

**Cloud provider or hardware configuration:** AWS

**What happened:**

Remote logging is configured as follows:

export AIRFLOW__LOGGING__REMOTE_LOGGING=True
export AIRFLOW__LOGGING__REMOTE_BASE_LOG_FOLDER=s3://arn:aws:s3:us-west-2:

[2021-01-06 07:39] vidhithakrar commented on #12647
I think this is a very important and powerful feature to have in Airflow.

[2021-01-06 07:40] mik-laj commented on #13503
Done via: https://github.com/apache/airflow/pull/13377/files

[2021-01-06 07:40] #13503 closed

[2021-01-06 07:57] arch-DJ opened #13504 "Scheduler is unable to find serialized DAG in the serialized_dag table"
**Apache Airflow version**: 2.0.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): Not relevant

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): CentOS Linux 7 (Core)
- **Kernel** (e.g. `uname -a`): Linux us01odcres-jamuaar-0003 3.10.0-957.5.1.el7.x86_64 #1 SMP Fri Feb 1 14:54:57 UTC 2019 x86_64 x86_64 x86_64 GNU

[2021-01-06 08:54] xawyong opened #13506 "example_bash_operator always failed to run"
**Apache Airflow version**:
[code]

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
N/A

**Environment**:
[code]
- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

triggered the example_bash_operator DAG from UI, always failed with below error log

[2021-01-06 09:05] xawyong opened #13507 "after use daskexecutor, scheduler can not startup"
**Apache Airflow version**:

[code]
**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
N/A
**Environment**:
[code]

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:
just follow [quick start](https://airflow.apache.org/docs/apache-airflow/stable/star

[2021-01-06 09:14] mik-laj commented on #13506
Please upgrade SQLite.  Minimum supported version of sqlite is 3.15.0.  To check sqlite version, run `airlfow info`.

See: https://github.com/apache/airflow/pull/13496

[2021-01-06 09:14] #13506 closed

[2021-01-06 09:23] DuongPTIT commented on #13397
I upgrade sqlite3 on Centos7 and python3 to newest version 3.34, but it still throw error:
`WHERE rendered_task_instance_fields.dag_id = ? AND rendered_task_instance_fields.task_id = ? ORDER BY rendered_task_instance_fields.execution_date DESC
 LIMIT ? OFFSET ?)]
[parameters: ('tutorial', 'print_date', 'tutorial', 'print_date', 30, 0)]
(Background on this error at: http://sqlalche.me/e/13/e3q8)
Tr

[2021-01-06 09:26] DuongPTIT commented on #13493
I upgrade sqlite3 to newest version, but it still throw error:
`Python 3.6.12 (default, Jan  6 2021, 11:20:09)
[GCC 4.8.5 20150623 (Red Hat 4.8.5-36)] on linux
Type "help", "copyright", "credits" or "license" for more information.

'3.34.0'

`

[2021-01-06 10:02] potiuk commented on #13493
It worked for me when I tried. You must have airflow started in the way that uses still old version of sqlite. If you installed it wth the LD_LIBRARY_PATH modification, you need tto make sure your airflow also has the LD_LIBRARY_PATH set to point to the right sqlite library. Ideally - remove all other sqlite libraries to be sure airflow is using the right one.

What also might help if you start us

[2021-01-06 10:07] ashb commented on #12945
I'll close this until I notice it happening again.

[2021-01-06 10:07] #12945 closed

[2021-01-06 10:21] ashb commented on #13325
Thanks @bouke-nederstigt - I see the behaviour. Digging in to it now.

[2021-01-06 10:37] davido912 opened #13511 "Default Airflow 2.0 RBAC unexpected behaviour"
After having transitioned to Airflow 2.0 from previous versions where RBAC functioned fine, facing a new behaviour which I don't know if is expected.

When creating a new role instead of using VIEWER permissions as base, Airflow enforces same permissions as role USER, this results in not being able to set granular access control for specific DAGs. I did notice that the behaviour is tied closely wi

[2021-01-06 11:10] ashb commented on #13325
@smowden Tasks getting stuck in queued state is likely a different case.

[2021-01-06 11:12] ashb commented on #13325
@bouke-nederstigt Okay, I've found the problem. `max_tis_per_query=0` in the config is broken. A quick work-around for you for now is to set that to a large value (say 512).

We'll fix it so 0 works as documented in 2.0.1

[2021-01-06 11:40] mcgin commented on #13494
It's possible @mik-laj although the symptoms seem a little different, in the referenced issue the logs are retrieved (although garbled), here I'm not seeing any logs at all retrieved.

[2021-01-06 11:56] potiuk opened #13513 "Switch external actions to subrepo'ed/submodules .github/actions/"
Due to security changes imposed by INFRA, we had to switch our GitHub actions to use "apache/aiflow-" repositories.
Discussion here: https://lists.apache.org/thread.html/rfc3269829edc672f928d8304d7b0aa38d1d2a5f5cb177af95e98a1e5%40%3Cbuilds.apache.org%3E

This was a quick reaction to the issue, but seems we can do better. Following the way Apache Beam has done it (https://github.com/apache/beam/pul

[2021-01-06 12:01] mcgin commented on #13494
I've just left the window open for a very long time with the UI polling the get_logs_with_metadata endpoint.  I do finally see a response containing some log information in the "message" after about 10 minutes in the network tab (I can see the logs in Stackdriver much earlier than this, so it's not that the job was running and only logged then).

Interestingly the UI doesn't update with the log me

[2021-01-06 12:05] potiuk commented on #13513
CC: @kaxil @ashb @turbaszek @TobKed -> WDYT ? I think this is much better approach than the cloned repositories we have now.

Maybe @TobKed  you would like to take a stab on it ? Happy to help as I've done it several times and know subrepo ins-outs very well.

Also anticipating comments about "yet another tool" - > subrepo is great because it does not require ANY action from the users of the repos

[2021-01-06 12:08] ashb commented on #13513
No real opinion here.

Could we use git submodules here? I normal avoid them, but if it works with Actions it might be an easy way to keep them separate but in out repo?

[2021-01-06 12:10] ashb commented on #13513
Reading https://github.community/t/github-action-defined-as-submodule-in-a-repo/139204/12 it looks like we can use git submodules for actions so long as ASF have allowed us to use official actions, which I think they have.

Thoughts on submodules here @potiuk ?

[2021-01-06 12:20] potiuk commented on #13513
I am not sure if it would work - especially parsing action parameters.  But regardless of the capabilities, I believe this would be strictly agains the problem INFRA tries to avold. The idea is to make sure action code is reviewed before it is used and we are not supposed to use code unreviewed by someone at apache.

The subrepo approach follows exactly this recommentdation that the code (and any

[2021-01-06 12:23] potiuk commented on #13513
That's not the case: when we bring a repo from outside using subrepo we can choose "squash" method as the default. It means that we will have ONE squashed  commit to bring it in and ONE squashed commit every time we bring a new version (regardless how many commits were there in the original repo). Subrepo handles it beautifully for us.

[2021-01-06 12:37] ashb commented on #13513
Submodules or subrepo almost the same reviewability - it still requires a PR to be merged and approved, and it is pinned to a specific commit.

Let's see if it at least works: https://github.com/apache/airflow/pull/13514 - if it doesn't there is no point discussing this approach further.

[2021-01-06 12:56] mik-laj opened #13515 "Update slackapiclient / slack_sdk to v3"
Hello,

Slack has released updates to its library and we can start using it for it.

We especially like one change.

I've looked through the documentation and it doesn't look like a difficult task, but I think it's still worth testing.
More info: https://slack.dev/python-slack-sdk/v3-migration/index.html#from-slackclient-2-x

Best regards,
Kamil Breguła

[2021-01-06 13:09] #13493 closed

[2021-01-06 13:10] potiuk commented on #13493
Closed by #13496

[2021-01-06 13:16] potiuk commented on #13397
@DuongPTIT  : As discussed in #13496 - this is for surre problem with your Airflow using still the old version. Please upgrade to later version of your VM or make sure that the upgraded sqlite libraries are your LD_LIBRARY_PATH when airflow runs. It might be tricky, depending on how your airflow is run (service? autostart? you name it) and this is totally outside of airflow itself.

Upgrading to l

[2021-01-06 13:31] smowden commented on #13325
@ashb you are right.
it seems this is actually my problem https://github.com/apache/airflow/issues/13407

[2021-01-06 13:39] potiuk commented on #13513
Not really - you have to specifically go to the other repo and review it. With subrepo, the changed code is part of your PR and you review it together with other code. This makes perfect sense and it's much more natural.

[2021-01-06 13:54] ashb commented on #13513
Github handles it nicer than that -- checkout https://github.com/astronomer/airflow/pull/1171

[2021-01-06 13:59] ashb commented on #13513
So, two things:

Yeah, you can -- https://github.com/astronomer/airflow/pull/1171 can have comments on it.

That's my _exact point_, and why I don't want the code in our repo: it is not code we want to write or maintain. Yes, we need to verify it, but we aren't writing that code ourselves, so we should not be reviewing that code for bugs/readability the same way we would a PR to airflow itself, so

[2021-01-06 14:01] potiuk commented on #13513
Ah. Did not know that. That's a game changer. Then if submodules work and if we stick to SHA links in our .submodule, I am also fine with submodule.

[2021-01-06 14:10] ashb commented on #13513
Yeah, that new submodule review view is new sometime in the last few years -- makes them much easier to use.

Note: I an still generally against submodules as they are difficult to use, but since this is _only_ for CI and everyone* else is can checkout the repo and not have to care that the submodules exist or not I think it the right tool for this use case.

[2021-01-06 14:16] potiuk commented on #13513
Yeah. I also do not like submodules for anything "serious" but I think - seeing how Github handles the review - it passes all my requirements I had and it is far 'lighter' on our repo than subrepo, so if it works. I am all for it.

I thought about comments like *Hey do you think we have a security problem. WDYT @ashb" :). But seems submodule + GitHub handle that in a very good way, so no problem w

[2021-01-06 14:18] ashb commented on #13513
Once/if https://github.com/apache/airflow/pull/13514 passes (I think it should) I'll convert all the rest of the third party actions over to this pattern.

[2021-01-06 14:18] potiuk commented on #13513
The only (small) problem I have is in case we want to actually change and modify the action, it is far easier in subrepo (changes in multiple repositories that need to be push in-sync), But it's something that happens rarely enough to not be a real issue.

[2021-01-06 14:18] yamrzou commented on #12136
Hello @dmateusp ,

Thank you for investigating and for sharing your fix!

Regarding the reproducibility of the issue, I noticed that I can not reproduce it when using the following `cmd` and `args`:
[code]
But I systematically reproduce it with:
[code]

I tested your proposed solution and it worked. So until a PR and a new version is released, I'm monkey-patching the `PodLauncher` class within the

[2021-01-06 14:55] potiuk commented on #13513
It works, so go ahead @ashb. It's much better with submodules!

[2021-01-06 17:23] davido912 commented on #13511
@kaxil

[2021-01-06 17:46] potiuk commented on #13507
I think you have too old version of Postgres.
See: https://github.com/apache/airflow#requirements 9.6 is minimum version supported/

[2021-01-06 17:46] #13507 closed

[2021-01-06 19:58] potiuk commented on #13367
Reopened to make sure we check it when we release next time

[2021-01-06 21:49] #11917 closed

[2021-01-06 22:11] kentdanas commented on #13354
PR with fix submitted here: https://github.com/apache/airflow/pull/13520

[2021-01-07 00:59] mfjackson opened #13522 "Templated Variables being treated as String by KubernetesPodOperator in Airflow 2.0"
I'm encountering an issue that I believe is similar to #13348, but am opening a new issue to expand on what is happening in more detail.

**Apache Airflow version**: 2.0.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.19.4

**Environment**:

- **Cloud provider or hardware configuration**: GCP, using GKE

**What happened**:

My DAG in Airflow 1.10.13 was using a c

[2021-01-07 01:18] #13481 closed

[2021-01-07 01:46] kaxil commented on #13513
+1 with submodules -- looks clean (having seen your example PR on astro repo)

[2021-01-07 02:33] #12550 closed

[2021-01-07 04:36] yogyang commented on #12912
hit this problem too in airflow 2.0
![image](https://user-images.githubusercontent.com/33287576/103851412-b424ac80-50e4-11eb-83ae-b9cbffbe419c.png)
![image](https://user-images.githubusercontent.com/33287576/103851424-bd157e00-50e4-11eb-9ace-dfa9dfa77b20.png)

And it blocked the next Dag_run as
[code]

[2021-01-07 05:03] yogyang opened #13528 "Task Duration seems missing for task_duration < 1 sec"
**Apache Airflow version**: 2.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): no k8s

**Environment**:

- **Cloud provider or hardware configuration**: ec2
- **OS** (e.g. from /etc/os-release):
NAME="Ubuntu"
VERSION="16.04.7 LTS (Xenial Xerus)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 16.04.7 LTS"
VERSION_ID="16.04"
HOME_URL="http://www.ubuntu.com/"
SUPPORT_URL

[2021-01-07 05:05] yogyang commented on #13528
assign it to myself @yogyang

[2021-01-07 05:50] arch-DJ commented on #13504
I was going through **sync_to_db** method in **dagbag.py** .
Most probably this function is called when the parsed DAG has to be saved in the database.
The sequence followed here is that DAG is first saved into **dag** table and then **serialized_dag** table.
I think if we reverse the sequence the issue I am getting should get addressed.

'''
try:
                    DAG.bulk_write_to_db(self.dags

[2021-01-07 06:59] Dundo777 opened #13529 "Scheduler ends up in a deadlock and marks task as failed"
**Apache Airflow version**: 2.0.0

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): CentOS 7
- **Kernel** (e.g. `uname -a`): x86_64
- **Install tools**: yum, pip
- **Others**: MariaDB 10.2, Python 3.6.8, RabbitMQ 3.3.5

**What happened**:

After upgrading to Airflow 2.0.0, scheduler ends up in a deadlock when running a DAG.
When I trigger a DA

[2021-01-07 07:05] xawyong commented on #11451
use  2.0.0, after changed the code as @lafrinte proposed, got below error.

[code]

[2021-01-07 07:11] trollhe opened #13530 "how to get schedule datetime?"
tutorial
[code]

backfill
[code]
![image](https://user-images.githubusercontent.com/41068725/103862527-3cfa1300-50fa-11eb-9d9f-6c331a4c428b.png)

how to get tutorial dag schedule datetime in code？but now is 2021-01-07.
[code]

[2021-01-07 07:19] li1234yun opened #13531 "Airflow v1 REST List task instances api can not get `no_status` task instance"
**Apache Airflow version**:
2.0

**Environment**:

- **OS** ubuntu 18.04
- **Kernel** 5.4.0-47-generic

**What happened**:
When I use list task instances REST api, I can not get the instances that status is `no_status`.

[code]

**What you expected to happen**:
include all state task instances when I don't have specific states.

**How to reproduce it**:
use REST test tools like postman to visit th

[2021-01-07 07:30] juneoh commented on #12556
I've learned that holiday productivity is an illusion. I'll check in again next week as I'm ramping back up.

[2021-01-07 07:30] trollhe commented on #13530
thanks for you , Where can I see the template?

[2021-01-07 07:41] #13530 closed

[2021-01-07 07:48] doron8cohen opened #13532 "In DockerOperator the parameter auto_remove doesn't work in"
When setting DockerOperator with auto_remove=True in airflow version 2.0.0 the container remain in the container list if it was finished with 'Exited (1)'

[2021-01-07 08:10] jyotidhiman0610 commented on #13515
Can I take this up?

[2021-01-07 08:14] mik-laj commented on #13515
@jyotidhiman0610 I assigned you to this ticket ;-)

[2021-01-07 08:32] Dundo777 commented on #13529
Now I tried to da a fresh installation of MySQL 5.7 and migrated the data from MariaDB 10.2. Everything is the same as on MariaDB 10.2. All services are up and running but when running the dag the same deadlock error happens

[2021-01-07 08:45] bouke-nederstigt commented on #13325
Problem solved indeed! Thanks a lot for the effort! :)

[2021-01-07 08:58] rafaelpierre commented on #8421
+1

@marcusianlevine have you succeeded on implementing this? I can also help if needed.

[2021-01-07 09:22] AlessioM opened #13535 "DockerOperator / XCOM : `TypeError: Object of type bytes is not JSON serializable`"
**Apache Airflow version**: 2.0.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): NA

**Environment**:
* local Ubuntu 18.04 LTS /
* docker-compose version 1.25.3, build d4d1b42b
* docker  20.10.1, build 831ebea

**What happened**:

when enabling xcom push for a docker operator the following error is thrown after the task finishes succesfully:
`TypeError: Object of ty

[2021-01-07 09:35] #13535 closed

[2021-01-07 09:46] eladkal commented on #12251
@nadeesh-garg can you please add a reproduce example?

[2021-01-07 10:48] mik-laj commented on #13276
I think we can just move this file to UPDATING.rst in the documentation for a specific provider. This will be most easily accessible to the end-user. I am happy to help with content migration.

[2021-01-07 11:06] mik-laj commented on #11649
@ashishraman Can you check if this problem also occurs when you use option [`pod_template_file`](http://apache-airflow-docs.s3-website.eu-central-1.amazonaws.com/docs/apache-airflow/latest/configurations-ref.html#config-kubernetes-pod-template-file) to configure KubernetesExecutor?  I guess this maybe should give you enough flexibility to configure a worker to use a secret.

When you use the pod_t

[2021-01-07 11:46] potiuk commented on #13276
I prefer PROVIDERS_INFO.rst , it will contain more information than just updating. This contains also limitations, additional information etc. I already migrated content within the change that I am going to submit right after I merge #13409  #13488 and #13439 which have overlaping changes. I would love to only have to rebase and resolving conflicts once.

[2021-01-07 12:21] nielspedersen commented on #10435
It's not completely related, but I had a different error message and Google lead me here. So in the hopes that it will help anyone in my boat:

I was/am having this issue on macOS Mojave version 10.14.6 running airflow locally and trying to get it to run tasks on Amazon ECS/Fargate.

In the logs, I'd get the error:

[code]

After a lot of Google, someone suggested trying to `$ export OBJC_DISABLE_

[2021-01-07 13:16] potiuk commented on #10435
Nice! Thanks @nielspedersen . It is great you did it!

[2021-01-07 13:56] mik-laj commented on #13522
@dimberman looks like we need to verify our assumptions. In the case of Google operators, we always accept two types - one dictionary, the other is a class.
https://github.com/apache/airflow/blob/ef2123c671b985953707b056ef30b724f7f97d28/airflow/providers/google/cloud/operators/datacatalog.py#L60
This is how most users pass the dictionary, but can look at the class definitions if they want to read

[2021-01-07 14:16] potiuk commented on #11456
The problem is likely with the `python-daemon` version you have installed. The 'python-daemon` 2.2.4 solves this problem (it is Python 3.8 only) and it was released a year ago

Probably you have not installed airflow in recommended way and you have some really old version of this dependency (and probably others as well).

The recommended installation method is here: https://airflow.apache.org/docs

[2021-01-07 14:16] #11456 closed

[2021-01-07 14:23] potiuk commented on #11456
PR to limit it in 2.0.1 here: https://github.com/apache/airflow/pull/13540

[2021-01-07 15:42] Overbryd opened #13542 "Task stuck in "scheduled" or "queued" state, pool has open slots"
**Apache Airflow version**: `2.0.0`

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

[code]

**Environment**:

- **Cloud provider or hardware configuration**: GKE
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:
  - Airflow metadata database is hooked up to a PostgreSQL instance

**What happened**:

* Airflow 2.

[2021-01-07 15:45] tsh56 opened #13543 "kubernetes refresh config strptime format results in error logs"
I see an error message about incorrect time formats when running airflow jobs on kubernetes runners. I'm running based on the apache/airflow:1.10.14 docker image, which runs using python 3.6.

Error Message:
`ERROR - time data '2021-01-03T19:26:14Z' does not match format '%Y-%m-%dT%H:%M:%S%z'`

The following code only works in python 3.7 and higher.
`datetime.datetime.strptime('2021-01-03T19:26:14

[2021-01-07 16:44] yamrzou commented on #12136
@dmateusp I found an issue with the above fix. When running with the followings arguments, only the first `print()` is logged, the later ones are discarded:
[code]
Log output:
[code]

Expected log output, when using the following arguments (reduced sleep time to avoid `IncompleteRead`):
[code]

[code]

[2021-01-07 18:15] kentdanas commented on #13354
PR with fix has been merged. Closing this issue.

[2021-01-07 18:15] #13354 closed

[2021-01-07 18:37] jazz215 opened #13546 "503 Service Unavailable: No server is available to handle this request."
Hi, my ml script running on airflow has stopped working from 29th December. When I click on the server access, i get the above error.

Does anybody else is getting this error recently?

[2021-01-07 22:41] kaxil commented on #10761
Closed by https://github.com/apache/airflow/pull/13508

[2021-01-07 22:41] #10761 closed

[2021-01-07 22:49] kaxil commented on #13378
Closed by https://github.com/apache/airflow/pull/13392

[2021-01-07 22:49] #13378 closed

[2021-01-07 23:11] kaxil commented on #13529
Are you running just a single Scheduler?

Mariadb is not officially supported, but since you said you were able to replicate it with MySQL 5.7 -- can you give us steps to reproduce with MySQL

[2021-01-08 03:11] yogyang opened #13558 "Version Incompatibility in 1.10.14 between apache-airflow-backport-providers-slack & airflow-1.10.14"
**Apache Airflow version**: 1.10.14

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): no k8s

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

when preparing codes for Airflow 2.0 compatibility

[code]

**What you expected to ha

[2021-01-08 03:38] mfjackson commented on #13542
@Overbryd I'm not sure if this helps, but I was dealing with a similar issue with our self-managed Airflow instance on GKE when we upgraded to 2.0.0 a couple of weeks ago. Are you using `gitSync`? If so, are you receiving an error in your logs surrounding the `knownHosts`?

If so, we found that updating the [pod-template-file](https://github.com/apache/airflow/blob/master/chart/files/pod-template-

[2021-01-08 04:06] smith-m opened #13559 "Nested templated variables do not always render"
**Apache Airflow version**:
1.10.14 and 1.10.8.

**Environment**:
Python 3.6 and Airflow 1.10.14 on sqllite,

**What happened**:

Nested jinja templates do not consistently render when running tasks. TI run rendering behavior also differs from airflow UI and airflow render cli.

**What you expected to happen**:

Airflow should render nested jinja templates consistently and completely across each i

[2021-01-08 07:21] Dundo777 commented on #13529
Yes, I'm running a single scheduler, multiple workers, CeleryExecutor, setup with RabbitMQ.
To move from MariaDB 10.2 to MySQL 5.7 I did the following:
- backup the MariaDB database using mysqldump command
- made a new installation of MySQL 5.7 and migrated backed up data into it
- switched Airflow to using MySQL by changing airflow.cfg to MySQL, both sql_alchemy_conn and Celery result_backend

[2021-01-08 09:52] turbaszek commented on #13559
This seems to be also issue in 2.0:
[code]
but it is consistent with rendered values in web ui:
<img width="636" alt="Screenshot 2021-01-08 at 10 51 02" src="https://user-images.githubusercontent.com/9528307/104001069-691b9f80-519f-11eb-9ab3-80c98677632e.png">

[2021-01-08 10:20] zacharya19 commented on #13364
Still haven't got the access so I'm just going to write down another suggestion I had an mind -
Instead of making venv as part of the DAG, we can treat this feature similar to connections, which means the user will be able to create a venv object in the UI (/API) that will contain the name and list of requirements.
Afterwards, when a task starts running, it will check if the task has "venv_name" p

[2021-01-08 11:07] RosterIn commented on #13559
I don't know if this is a bug or by design but there are many votes for this in https://stackoverflow.com/questions/44855949/make-custom-airflow-macros-expand-other-macros

[2021-01-08 11:15] turbaszek commented on #13559
I'm not sure if this is connected. From what I understand the problem is that `op_kwargs` are not rendered while they are templated field:
[code]

[2021-01-08 11:29] turbaszek commented on #13559
I'm afraid that this is not simple to fix. The main problem I see is that template fields are rendered in the order they are defined in `op.template_fields`. This means that some values may reference values that were not yet rendered and this will cause a problem.

[2021-01-08 12:10] kaxil commented on #13145
Echo'ing @Dr-Denzy statement -- I agree the TaskInstance endpoint should contain all the information you need.

Please do let us know if you have any requirements that it does not fulfill and we can look into it again. For now I am closing this issue but we can reopen it if there are requirements that are not fulfilled by TI endpoint

[2021-01-08 12:10] #13145 closed

[2021-01-08 13:12] potiuk commented on #13364
I believe somoene ask you for your Id to give you access (in response to your mail) - did you send it?

[2021-01-08 13:17] zacharya19 commented on #13364
@potiuk Didn't get the response email, weird, but anyway sent my Wiki ID now.

[2021-01-08 13:18] potiuk commented on #13558
This is because you are using poetry. Airlfow should be installed with PIP rather than poetry using the constraint files (as described in http://airflow.apache.org/docs/apache-airflow/stable/installation.html

There are far too many dependencies in airflow to manage them with multiple tools that have different resolvers. So e have PIP + constraint files. I know people were using Poetry with using

[2021-01-08 13:18] #13558 closed

[2021-01-08 13:40] potiuk commented on #13364
@zacharya19  - maybe you are not subscribed to the devlist? By default when you even 'reply to all' at the devlist, the default reply to is the devlist only. So if you are not subscribed, you might not get the answer:

You can get the 'how to subscribe' info here: https://airflow.apache.org/community/

[2021-01-08 13:47] Dundo777 commented on #13529
I think I found what might be problem.
In scheduler_job.py around line number 1210 "#Check state of finished tasks" it queries task_instances table but with wrong filter parameter. Time is one hour behind. In task_instances table I see the dag run with success state and execution date e.g. 14 o'clock and filter in scheduler_job.py is filtering for 13 o'clock. and 14 o'clock is the correct time, so

[2021-01-08 14:24] Dr-Denzy commented on #11045
I will like take up this task.

[2021-01-08 15:45] zacharya19 commented on #13364
Thanks, subscribed and created the AIP - https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-37+Virtualenv+management+inside+Airflow.

[2021-01-08 15:56] turbaszek commented on #11045
There's already PR fort this #11223

[2021-01-08 16:14] didip commented on #13145
Sorry for the late response, folks. Life has been hectic recently.
@Dr-Denzy Yes, looking around other Airflow REST API, it looks like dag_id and dag_run_id are the only requirements.

If someone would be kind enough to reopen this issue, I'd greatly appreciate it.

[2021-01-08 16:25] mik-laj commented on #13145
@didip  In my opinion, you can still make some specification suggestions. I see the benefits of such an API, but the details are easiest to discuss if we have the specifications. My previous comment on the specs got thumbs up from a few PMC members, so in my opinion we can discuss further improvements to the spec or some other way to address this issue, e.g. adding a sample code snippet to the doc

[2021-01-08 16:32] kaxil commented on #13145
Hi @didip -- Can you elaborate further like @mik-laj said. Even for Gantt Chart in Webserver need dag_id and dag_run_id:

![image](https://user-images.githubusercontent.com/8811558/104040008-07732980-51cf-11eb-8bab-0ea99f6b9dac.png)

So I am still not sure what else is required, thanks for the patience.

[2021-01-08 16:42] yergi opened #13570 "`ImportChangesRule` raises false positives"
**Apache Airflow version**: 1.10.14, apache-airflow-upgrade-check==1.1.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**: on-premise Linux server
- **OS** (e.g. from /etc/os-release): RHEL 7
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

Running `airflow upgrade

[2021-01-08 16:55] FloChehab commented on #11707
Hello @OmairK did you have time to start looking at this issue or would you need an extra hand ?

[2021-01-08 17:07] gbonazzoli commented on #13476
I found the solution, the switch in Airflow 2.0.0 has been renamed in --run-id from --run_id.

You can close the issue.

`
root@new-airflow:~/airflow/dags# airflow dags trigger -h
usage: airflow dags trigger [-h] [-c CONF] [-e EXEC_DATE] [-r RUN_ID] [-S SUBDIR] dag_id

Trigger a DAG run

positional arguments:
  dag_id                The id of the dag

optional arguments:
  -h, --help            sh

[2021-01-08 17:07] #13476 closed

[2021-01-08 17:59] smith-m commented on #13559
One possibility here is tracking the previous state of each attribute and rendering each templated_field until all fields are stable.

[2021-01-08 18:18] SamWheating commented on #13522
I have had the same issue while templating env vars. I tried defining it as both:

`env_vars=["{{ k8s.V1EnvVar(name='DATESTAMP', value=ds) }}"]`
in which case I got an importError as jinja couldn't find `k8s`

as well as:
`env_vars=[k8s.V1EnvVar(name='DATESTAMP', value='{{ ds }}')]`
in which case the rendered value was `{{ ds }}` rather than `2021-01-08`

Is there a suggested workaround for this a

[2021-01-08 18:20] mdcsaenz opened #13573 "Airflow Google oAuth failing with Invalid response from google on 1.10.12-python3.6"
Greetings, I am currently using dockerfile 1.10.12-python3.6 from ya'll. With the helmchart https://github.com/airflow-helm/charts/tree/main/charts/airflow.

I currently get this error
![Screen Shot 2021-01-08 at 12 12 18 PM](https://user-images.githubusercontent.com/8727557/104049565-c8cb7800-51aa-11eb-89d5-7ba850d681aa.png)

My setup is this for my webserver config
[code]

My config for airflow

[2021-01-08 18:58] didip commented on #13145
What about something like this?

[code]
[code]

[2021-01-08 19:05] didip commented on #13145
Second proposal, much flatter:
[code]
[code]

[2021-01-08 21:23] mfjackson opened #13579 "Re-running KubernetesPodOperator task results in AirflowException using Airflow 2.0"
**Apache Airflow version**: 2.0.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.19.4

**Environment**:

- **Cloud provider or hardware configuration**: Google Cloud Platform/GKE

**What happened**:

I successfully cleared the state of a failed task using the graph view UI, but when I attempted to re-run the cleared task instance in graph view manually by selectin

[2021-01-09 14:29] #11705 closed

[2021-01-09 15:36] mik-laj opened #13588 "Rewrite Kubernetes tests to new Stable API"
Hello friends!

Today I come with another small ticket.  Our tests for Kubernetes use old and deprecated "Experimental API".
https://github.com/apache/airflow/blob/809ddcda73c1a7ee30f3273d7cab08f4e8642095/kubernetes_tests/test_kubernetes_executor.py#L106
It would be great if we could rewrite these tests to use the new "Stable API v1".

Migration Guide from Experimental API to Stable API v1
https:/

[2021-01-09 15:39] mik-laj commented on #13570
Are you willing to create PR? I am happy to help with the review.

[2021-01-09 15:39] potiuk commented on #13588
Just one comment to that. I think this will only be possible if we make a decision that the helm chart should only support 2.0+. Which I think is a good idea, but I think we need to propose it and discuss at the devlist.

[2021-01-09 17:45] mik-laj commented on #13588
Do these tests run image for Airflow 1.10.14? I think they're using the newest production image.
https://github.com/apache/airflow/tree/master/kubernetes_tests

[2021-01-09 18:06] potiuk commented on #13588
So far all those tests are continuously cherry-picked to v1-10-test/stable and are also run there to test that it works.

[2021-01-09 18:11] mik-laj commented on #13588
So I'm closing this ticket. We can come back to this when we drop support for Airflow 1.10

https://airflow.apache.org/docs/apache-airflow/stable/upgrading-to-2.html#support-for-airflow-1-10-x-releases

In six months' time, we will stop supporting Airflow 1.10 completely, so this is also a good time to rewrite it.

[2021-01-09 18:11] #13588 closed

[2021-01-09 18:12] ephraimbuddy commented on #13531
I have not been able to reproduce this. @mik-laj can you take a look?

[2021-01-09 18:29] OmairK commented on #11707
Hello @FloChehab, I wont be able to work on this issue right now due to some academic commitments. So please go ahead and unassign me from this issue.

[2021-01-09 18:34] mik-laj commented on #11707
@FloChehab Assigned. ;-)

[2021-01-09 19:23] FloChehab commented on #11707
No worries @OmairK , good luck with your commitments !

@mik-laj Just to make sure, for now we stick with the Readme in the chart folder? Or is something else expected ?

[2021-01-09 19:53] mik-laj commented on #11707
in my opinion it is enough to describe the creation of environment variables.  Do you have a different idea for a solution?

[2021-01-09 20:01] FloChehab commented on #11707
No, that what's I was thinking. Just wanted to double check.

[2021-01-09 21:35] dstandish opened #13591 "Graceful termination does not work with apache chart"
In apache/airflow, helm chart has worker default `terminationGracePeriodSeconds: 600`.

I observed after deploy using 1.10.14 that worker was terminated immediately.  This reproduced consistently.

Tested also with 2.0.0 and again no lucke

Anyone have any hints of something to look into?

Here are some logs from a worker that shutdown ungracefully, running 1.10.14:

[code]

And again with 2.0.0:

[2021-01-10 09:20] dstandish commented on #13591
I verified, at least with 2.0 that warm shutdown **_works_** with the following change for worker deployment:
[code]

Before arriving at the above, I tried this (didn't work):
[code]

[2021-01-10 10:03] XD-DENG commented on #11705
As I mentioned in https://github.com/apache/airflow/pull/12010#issuecomment-757448775 , I'm not sure if this really needs any change in the Chart.

If I'm not wrong in my comment above, we only need a few additional lines in the doc.

[2021-01-10 12:00] soltanianalytics opened #13597 "Extra field widgets of custom connections do not properly save data"
**Apache Airflow version**: 2.0.0

**Environment**: Docker image `apache/airflow:2.0.0-python3.8` on Win10 with WSL

**What happened**:

I built a custom provider with a number of custom connections.

This works:
- The connections are properly registered
- The UI does not show hidden fields as per `get_ui_field_behaviour`
- The UI correctly relabels fields as per `get_ui_field_behaviour`
- The UI

[2021-01-10 14:20] mik-laj commented on #13145
We don't know about all the tries in the database, only about latest.

Using a user input as a key is very problematic as it hampers API development. You can't add a new key if needed without breaking changes.

For example: You can represent tags as a simple list of string
[code]
However, this means that you will not be able to add color to the tag if necessary.
A better APi should therefore look

[2021-01-10 14:26] mik-laj commented on #13476
I would like to add that all changes to the CLI are described in the documentation
https://airflow.apache.org/docs/apache-airflow/stable/upgrading-to-2.html#airflow-cli-changes-in-2-0

[2021-01-10 16:52] potiuk commented on #13597
Interesting. The 'version' error has already been fixed in master for the upcoming 2.0.1  (merged 2 days ago).

https://github.com/apache/airflow/commit/f49f36b6a0c1332e141200d1a0c900991b9cdaef#diff-c56df299b30e60d690494057a4e8721d36406c0cca266961ff2ae6504993c8cbL159

I do not think it was causing the problem but maybe installing master version and trying out might be something you could try befor

[2021-01-10 16:55] potiuk commented on #13597
Can you try one more thing ? I think I know what could be the problem. The problem is lilkely in the javascript which might not be ready for having two connections where name of one connection (jdbc) is substring of the other (jdbcx). Could you  please change the name of the `jdbcx` to `jdxbc` ? That could help us to narrow-down the problem and then we can likely find a fix for that.

[2021-01-10 16:56] potiuk commented on #13597
(Note - the javascript was there in 1.10 but we simply did not have such 'overlapping' connection names :)

[2021-01-10 18:21] soltanianalytics commented on #13597
The naming change seems to fix the duplicate fields issue:
![image](https://user-images.githubusercontent.com/46958547/104131740-9bccc000-5378-11eb-99c0-cb3139e50f66.png)

However, this does not fix that the extra is an empty string for the "x" version:
![image](https://user-images.githubusercontent.com/46958547/104131788-041ba180-5379-11eb-88da-ff8724b620ad.png)

The extra is also not encrypted i

[2021-01-10 18:47] soltanianalytics commented on #13597
Can you point me at where the extra is saved to the metadata database? It seems to me that the issue may be arising there. Saving non-extra fields (login, password, ...) works just fine. It's only the extra fields that don't work because for some reason, it saves an empty string instead of the full extra. It seems that when it is working correctly, the extra saved a dict with values for _all_ cust

[2021-01-10 19:02] dstandish commented on #13591
@potiuk i think you are main architect of dockerfile.  do you know whats going on here?  i don't really understand this area very well... dumb-init / tini / gosu, and what happens when combined with entrypoints and args...  though i'd like to!

[2021-01-10 19:04] dstandish commented on #13591
astronomer's helm chart uses gosu and tini, it seems. fwiw, in my previous company we used astronomer and the termination did work

[2021-01-10 20:40] xinbinhuang commented on #13591
This issue from celery might be relevant: https://github.com/celery/billiard/issues/273

Some people saying it's Linux distro related: https://github.com/celery/billiard/issues/273#issuecomment-472665083 ..

[2021-01-11 00:20] didip commented on #13145
When it comes to showing all the retries, how did the UI do it?

[2021-01-11 01:26] psigen opened #13602 "WebUI returns an error when logs that do not use a DAG list `None` as the DAG ID"
**Apache Airflow version**: 2.0.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): N/A

**Environment**:

- **Cloud provider or hardware configuration**: docker-compose
- **OS** (e.g. from /etc/os-release): Docker `apache/airflow` `sha256:b4f957bef5a54ca0d781ae1431d8485f125f0b5d18f3bc7e0416c46e617db265`
- **Kernel** (e.g. `uname -a`): Linux c697ae3a0397 5.4.0-58-gener

[2021-01-11 02:22] colinglaes opened #13603 "Airflow 2.0 - ModuleNotFoundError: No module named 'airflow.providers.http'"
**Apache Airflow version**: 2.0.0

**Environment**:

- **Cloud provider or hardware configuration**:
* CPU: AMD Ryzen Threadripper 1950x
* RAM: 64GB RAM
* Motherboard: X399 Aorus Pro
- **OS** (e.g. from /etc/os-release): 18.04.5 LTS (Bionic Beaver)
- **Kernel** (e.g. `uname -a`): Linux orion 5.4.0-60-generic #67~18.04.1-Ubuntu SMP Tue Jan 5 22:01:05 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux
- **Inst

[2021-01-11 06:55] sudohainguyen commented on #13487
I was encountering the same issue but I change one line in config file to `enable_xcom_pickling = True` and then it's working fine now.

[2021-01-11 08:08] turbaszek commented on #13487
Should https://github.com/apache/airflow/pull/13536 be the fix?

[2021-01-11 08:29] blessymoses commented on #12813
This issue also results in BranchPythonOperator not working with KubernetesExecutor.

**Apache Airflow version**: 1.10.12

**What happened**:
BranchPythonOperator task succeeds. But it does not schedule the task in the followed branch.
Scheduler throws UnicodeDecodeError: 'utf-8' codec can't decode byte 0x80 in position 0: invalid start byte

**Stack Trace**:
Process DagFileProcessor4425-Process:

[2021-01-11 08:35] potiuk commented on #13591
I will take a look later this week. It also depends which command is used to run airflow components. You are.talking about the current master version of the 'chart' yeah ? No modification to the entrypoint or command ?

The dumb init and tini are equivalent and they are indeed there to forward signals to the running processes (this is really useful when you have a bash script as entrypoint (if you

[2021-01-11 08:38] dstandish commented on #13591
correct

No, I do not want worker to terminate immediately.  I want it to do what it is supposed to, namely warm shutdown -- i.e. stop taking tasks, and run until either all tasks done or grace period has elapsed

[2021-01-11 09:15] dstandish commented on #13591
and to clarify @potiuk yes it is latest master

[2021-01-11 09:18] mik-laj commented on #13145
This information is not available in the Web UI either.

[2021-01-11 10:30] johnchenghk01 opened #13609 "Unable to read log if the pod name is too long"
**Apache Airflow version**: 1.10.12

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.15

**Environment**:

- **Cloud provider or hardware configuration**: Not related
- **OS** (e.g. from /etc/os-release): Not related
- **Kernel** (e.g. `uname -a`): Not related
- **Install tools**: Not related
- **Others**: Not related

**What happened**:

We are using kubernetes exe

[2021-01-11 11:00] bllach commented on #12236
I have same issue with remote logging:
**Apache Airflow version:** 2.0.0

**Environment:**
- **Cloud provider or hardware configuration:** AWS S3
- **OS (e.g. from /etc/os-release):** Ubuntu 20.10 (Groovy Gorilla) [1PC] and Ubuntu 18.04.4 LTS (Bionic Beaver) [2PC]
- **Kernel (e.g. uname -a):** 5.8.0-36-generic (Ubuntu 20.10) [1PC] and 5.3.0-62-generic (Ubuntu 18.04) [2PC]
- **Install tools:** [air

[2021-01-11 11:19] ashb commented on #12236
This sounds like mlflow is doing something to the python loggers on import that it shouldn't be doing, and is a bug in that library.

[2021-01-11 11:20] potiuk commented on #12236
There also might be another problem:

Do you also use/import snowflake provider as well? We have the ongoing problem with #12881 and that might be the root cause of the problem.

If that's the case, for now you might remove the provider (and snowflake-connector-python). We are working with snowflake team ( they just merged https://github.com/snowflakedb/snowflake-connector-python/pull/591 and http

[2021-01-11 12:34] potiuk commented on #13603
You probably likely have Airflow installed in `--editable` mode from sources rather than packages.

You should remove the 'apache-airflow-providers*' if you install airflow in --editable mode (Though I would argue this is not the best Idea to run airflow in --editable mode in production. (Though I am kind of surprised how many people do that).

You can achieve that by setting `INSTALL_PROVIDERS_FR

[2021-01-11 12:39] #13603 closed

[2021-01-11 13:38] Dundo777 commented on #13529
The problem is related to my previous comment that timestamps that are being compared are different.
In task_instance table default value of execution_date is current_timestamp(6) with on update current_timestamp(6).
Since my timezone in MariaDB is setup to SYSTEM which is set to Europe/Zagreb it will save timestamp in my local time instead of utc.
When I altered table to default utc_timestamp(6)

[2021-01-11 14:46] Dundo777 commented on #13529
I found this issue that looks the same as this one #1015
@kaxil you closed that issue last year in March, was there any conclusion about it?

[2021-01-11 15:47] potiuk opened #13614 "Separate out tableau provider from salesforce"
**Description**

Tableau provider is currently embedded into Salesforce, but it should be removed to a separate 'tableau' provider.. This should lead to:

* 1.0.1 version of the Salesforce provider
* 1.0.0 version of the Tableau provider

Seems that Salesforce provider might be backwards-compatible with deprecation warnings:

* The Tableau classes from the Salesforce provider should be moved to Ta

[2021-01-11 15:47] kaxil commented on #13529
Actually, we have mentioned it in a couple of places but we can make it more clearer I think:

https://airflow.apache.org/docs/apache-airflow/stable/timezone.html#time-zones
https://airflow.apache.org/docs/apache-airflow/stable/dag-run.html#external-triggers

Would you like to make a PR to make it clearer in our docs in https://airflow.apache.org/docs/apache-airflow/stable/installation.html#requir

[2021-01-11 16:15] brandondtb commented on #13609
@johnchenghk01Are the pods actually getting scheduled and run correctly? Any errors in your scheduler logs?

[2021-01-11 16:54] Mofef commented on #12959
I had an issue with deadlocks of subdags (that contain skipped tasks) on airflow 1.10.12 on composer-1.13.2.
Thanks to your post I tried 1.10.9. and there the problem is gone. Did you test any other versions between 1.10.5 and 1.10.12?

[2021-01-11 17:00] cheemz opened #13617 "Error when importing MsSQLOperator on Airflow 2.0.0"
While importing MsSqlOperator on airflow 2.0.0 I am getting the below error:
ModuleNotFoundError: No module named 'airflow.providers.odbc'

Below is my Dockerfile:

[code]

Below is my dag:

[code]

[2021-01-11 17:07] didip commented on #13145
I wished I could take a screenshot of our deployment but that is not allowed at my company.

That said, I do see the reruns on our gantt chart UI

[2021-01-11 17:12] eugenemiretsky opened #13618 "SendGrid - Support secrets backend"
**Description**

Allow configuring SendGrid using secrets backend

**Use case / motivation**

Right now to configure SendGrid one has to set
SENDGRID_MAIL_FROM={your-mail-from}
 SENDGRID_API_KEY={your-sendgrid-api-key}

However, one GCP that would mean that the variables need to be added in the UI.

Instead of reading the configs from OS env vars (os.environ.get) the configs should be read as a Va

[2021-01-11 17:19] zachliu commented on #10331
i got the same warnings on `2.0.0` (`release:2.0.0+ab5f770bfcd8c690cbe4d0825896325aca0beeca`):

[code]
i checked the database, it's been migrated successfully `alembic_version` is `e959f08ac86c`

[2021-01-11 17:20] cheemz commented on #13617
/sparkle

[2021-01-11 17:36] kaxil commented on #10331
Yeah currently we don't have migrations that remove those view permission -- but they are harmless warning that you can ignore

cc @jhtimmins

[2021-01-11 17:42] mdcsaenz commented on #13573
Wanted to see anyone has an idea what this might be? Thank you.

[2021-01-11 18:56] sti0 commented on #13487
It seems to be. 👍🏻

[2021-01-11 18:57] jmullins commented on #12644
We consistently experienced kubernetes executor slot starvation, as described above, where worker pods get stuck in a completed state and are never deleted due to indefinite blocking in the KubernetesJobWatcher watch:

https://github.com/apache/airflow/blob/1.10.14/airflow/executors/kubernetes_executor.py#L315-L322
https://github.com/apache/airflow/blob/1.10.14/airflow/executors/kubernetes_executo

[2021-01-11 21:16] yergi commented on #13570
Yes, I just created this PR. It's my first time ever contributing to an open-source project, so please be gentle. 😄

[2021-01-11 21:19] mik-laj commented on #13618
Related: https://github.com/apache/airflow/pull/13601

Can you look at it?

[2021-01-11 21:30] mik-laj commented on #13617
You should also add odbc provider.
[code]
https://github.com/apache/airflow/blob/d2754ef76958f8df4dcb6974e2cd2c1edb17935e/airflow/providers/microsoft/mssql/operators/mssql.py#L23
It is also describe in package description.  https://pypi.org/project/apache-airflow-providers-microsoft-mssql/ (See: Cross provider package dependencies)

[2021-01-11 21:30] #13617 closed

[2021-01-11 22:02] fjmacagno opened #13623 "Error passing `provide_context` to ShortCircuitOperator if value `False`"
**Apache Airflow version**: 2.0

**Environment**:

- **Cloud provider or hardware configuration**: Local docker image
- **OS** (e.g. from /etc/os-release): OSX
- **Kernel** (e.g. `uname -a`): Linux a40a8eb931e9 4.19.121-linuxkit #1 SMP Tue Dec 1 17:50:32 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
- **Install tools**: pip3
- **Others**:

**What happened**:
[code]

**What you expected to happen**:

No

[2021-01-12 01:46] eldernewborn opened #13624 "Misleading dag pause info tooltip"
**Apache Airflow version**:
2.0.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
N/A

**Environment**:
N/A

**What happened**:
The UI tooltip is misleading and confuses the user.
Tooltip says " use this toggle to pause the dag" which implies that if the toggle is set to **ON** the flow is paused, but in fact it's the reverse of that.
Either the logic should be rever

[2021-01-12 02:34] totalhack opened #13625 "Scheduler Dying/Hanging v2.0.0: WARNING - Killing DAGFileProcessorProcess"
**Apache Airflow version**: 2.0.0

**Environment**: apache/airflow:2.0.0 docker image, Docker Desktop for Mac 3.0.4

**What happened**:  The scheduler runs fine for a bit, then after a few minutes it starts spitting the following out every second (and the container appears to be stuck as it needs to be force killed):

[code]

Note that there is only a single dag enabled with a single task as I'm j

[2021-01-12 02:54] johnchenghk01 commented on #13609
The pods were started and running correctly. There is no error in the scheduler logs.

[2021-01-12 03:07] johnchenghk01 commented on #13609
Just found out that it is fix with this PR https://github.com/apache/airflow/pull/10942
(included in 1.10.13)

[2021-01-12 03:07] #13609 closed

[2021-01-12 03:43] mbettan opened #13626 "Airflow Operator "GoogleCloudStorageToBigQueryOperator" - BQ data load through External Source Partitioning [Hive Partitioning]"
**Description**

Composer Airflow Operator "GoogleCloudStorageToBigQueryOperator" needs the functionality to support BQ data load through External Source Partitioning [Hive Partitioning]

**Use case / motivation**

Ability to ingest data from data sources with years historical data into Google BigQuery for analytics purposes - we would like to support data load through External Source Partitioning

[2021-01-12 07:06] c-hui opened #13629 "HiveCliHook kill method error"
https://github.com/apache/airflow/blob/6c458f29c0eeadb1282e524e76fdd379d6436824/airflow/providers/apache/hive/hooks/hive.py#L464

It should be:
[code]

[2021-01-12 08:26] mik-laj commented on #13131
This is fixed in `google-cloud-bigquery==2.6.2`.

[2021-01-12 08:26] #13131 closed

[2021-01-12 08:36] turbaszek commented on #10790
@nathadfield @yuqian90 and others, have you been able to test 2.0? Have you observed this issue?

[2021-01-12 08:50] mik-laj commented on #13626
Have you tried to use BigQueryInsertJobOperator? for example, see: https://github.com/apache/airflow/pull/13598

[2021-01-12 08:54] mik-laj commented on #13624
Are you willing to submit a PR?

[2021-01-12 09:33] SakuraSound commented on #13343
is this ticket still considered invalid? I see it in the 2.0.1 milestone, but wondering if I should create a separate issue

[2021-01-12 09:35] potiuk commented on #13343
Milestone is target for fix, so hopefully we will be able to investigate and fix it and release it in 2.0.1

[2021-01-12 10:09] Marzocchi666 commented on #10964
interesting, because if you switch worker_refresh_batch_size to 0 means disable the refresh.

[2021-01-12 10:16] #13602 closed

[2021-01-12 11:02] smowden commented on #13626
check out the docs here:
https://cloud.google.com/bigquery/docs/reference/rest/v2/Job#JobConfigurationLoad
if you insert a load job (see #13598) you should be able to prive hivePartitioningOptions:
https://cloud.google.com/bigquery/docs/reference/rest/v2/tables#HivePartitioningOptions

[2021-01-12 11:46] Dundo777 commented on #13529
I prepared a docker compose with airflow master image and mysql 5.7 configured to Europe/Zagreb timezone. And everything is working fine.

In this fresh Airflow installation task_instance table doesn't have default value setup for execution_date column.
So looking at my migration scripts I noticed that in mysql dump sql script I have current_timestamp(6) as default value for execution_date in task

[2021-01-12 12:03] #12632 closed

[2021-01-12 13:06] griffincosgrove opened #13634 "Docs: Segment `external-doc-url` links to Dingtalk API"
On file `master:airflow/providers/segment/provider.yaml`

[code]

That is the API for Dingtalk, which is an unrelated Alibaba owned service. The docs for Twilio Segment can be found at [(https://segment.com/docs/)](url)
I am not sure if this issue is the result of an issue somewhere else, but I identified this will adding integration logos.

Not sure any of this is relevant because but it appears

[2021-01-12 14:12] OliverPfau opened #13636 "Import warnings from webserver"
Hi,

I uninstalled airflow 1.10.12 and installed airflow 2.0.0. When I start the webserver I see warning about failed imports. I haven't deployed any custom DAG and running with python 3.6.9. Can it be ignored? They are logged periodically.

[code]

[2021-01-12 14:16] OliverPfau opened #13637 "Scheduler takes 100% of CPU without task execution"
Hi,

running airflow 2.0.0 with python 3.6.9 the scheduler is consuming much CPU time without execution any task:

  PID USER      PR  NI    VIRT    RES    SHR S  %CPU %MEM     TIME+ COMMAND
15758 oli       20   0   42252   3660   3124 R 100.0  0.0   0:00.06 top
16764 oli       20   0  590272  90648  15468 R 200.0  0.3   0:00.59 airflow schedul
16769 oli       20   0  588808  77236  13900 R 200.0

[2021-01-12 15:15] mik-laj commented on #13634
Are you willing to submit a PR? I'm happy to help with the review.

[2021-01-12 15:26] griffincosgrove commented on #13634
@mik-laj is this just a one line change? If so yes! 😃

Not sure if this has other implications I am unaware of.

[2021-01-12 15:38] mik-laj commented on #13634
@griffincosgrove there are no other implications. We only use it for documentation. http://apache-airflow-docs.s3-website.eu-central-1.amazonaws.com/docs/apache-airflow-providers/operators-and-hooks-ref/services.html#dingding

[2021-01-12 15:57] griffincosgrove commented on #13634
@mik-laj yes I would like to send in a PR for this. Please assign this to me. Thanks!

[2021-01-12 16:21] kaxil commented on #13003
Most-likely in a month (or sooner)

[2021-01-12 16:37] potiuk commented on #13636
My guess is that probably you installed airflow in `--editable` mode from sources (pip install -e ".")  and this caused 'provider' packages to be installed as well as providers available from sources (or you have airflow sources in the path). That confuses providers manager when combined with PYTHONPATH pointing to airflow sources (adn might behave differently depending on the working directory yo

[2021-01-12 16:37] #13636 closed

[2021-01-12 17:01] hamsapriyak commented on #11983
It is important that the render_templates(context) returns **python native types.** Without this, even if there are airflow operators available we end up creating additional custom operators to handle this .

**Eg:.** We need to delete files **[‘file_1’, ‘file_2’, ‘file_3’]** from s3 bucket. This file list is passed from a previous task (get_files) via Xcom.  Although  S3DeleteObjectsOperator acce

[2021-01-12 17:10] Hartorn opened #13638 "Stable API task logs"
**Apache Airflow version**: 2.0.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): NA

**Environment**:

- **Cloud provider or hardware configuration**: PC (docker-compose)
- **OS** (e.g. from /etc/os-release): Linux mint 20 (for PC), Debian Buster in container
- **Kernel** (e.g. `uname -a`): Linux 607a1bfeebd2 5.4.0-60-generic #67-Ubuntu SMP Tue Jan 5 18:31:36 UTC 20

[2021-01-12 17:17] potiuk commented on #13513
Closed by #13514  #13631 #13633

[2021-01-12 17:17] #13513 closed

[2021-01-12 17:35] potiuk commented on #13638
Let's keep it open. I marked it as low-priority and  added good-first-issue label.

BTW @Hartorn maybe that is a 'good-first-issue' that you would like to fix and become contributor :)

[2021-01-12 17:42] potiuk commented on #13603
@colinglaes - was my diagnosis correct? Did you manage to fix the problem?

[2021-01-12 17:53] potiuk commented on #13597
OK. Sorry I have not seen your answer - good that we know about the duplication. That should be easy fix :).

And I think I know where the problem is. There is one more place I missed in `views.py`:

[code]

Both are to be fixed in 2.0.1 then !

[2021-01-12 17:55] potiuk commented on #13597
Thanks for being so thorough!. You can test it by locally modifying the `airflow/www/views.py` and adding the connection_form there !

[2021-01-12 18:03] potiuk commented on #13597
BTW. I realized that the original implementation is somewhat wrong as it stores all the extras from all the connection in extra of any connection (even if it is empty). Not nice :).

[2021-01-12 18:30] potiuk commented on #13597
Hey @soltanianalytics  - I implemented fixes for all the problem in #13640. I tested it for built-in providers and I have a reason to believe they should also work for custom ones.

Would it be possible that you apply those changes in your installation and see if they work es expected ?

I'd greatly appreciate it.

[2021-01-12 19:06] kaxil commented on #13634
Assigned it to you @griffincosgrove

[2021-01-12 19:12] griffincosgrove commented on #13634
Thanks! @kaxil

[2021-01-12 19:14] kaxil commented on #13624
That is not entirely mis-leading, as a DAG can be paused/unpaused at creation based on what is set in `[core] dags_are_paused_at_creation`.

https://github.com/apache/airflow/pull/13642 just makes it clearer that the toggle is used for pausing and unpausing -- but I still think it was not required

[2021-01-12 19:14] #13624 closed

[2021-01-12 19:21] kaxil commented on #13625
Can you add more details to this please?

Post your DAG, and enable debug logging and add the log lines immediately before the `{scheduler_job.py:262} WARNING - Killing DAGFileProcessorProcess`.

[2021-01-12 19:38] Hartorn commented on #13638
Sure, will have a look!

[2021-01-12 19:42] FloChehab opened #13643 "Improve annotations customization in the chart"
**Description**

As discussed in https://github.com/apache/airflow/pull/13616#issuecomment-758234146, we would need to improve the customization of annotations across all objects of the chart.

**Use case / motivation**

We often need to paremetrize the annotations and we would rather do it in one PR with all the objects rather than one small PR everytime.

**Are you willing to submit a PR?**

@mi

[2021-01-12 19:52] FloChehab commented on #13643
**First:**

Objects that should have parametrizable annotations:
* Pod (inside deployment and StatefulSet),
* Service,
* ServiceAccount,
* Ingress.

Is this list too much ? Am I missing something?

[2021-01-12 19:55] FloChehab commented on #13643
(I have added more info in the issue description, feel free to it)

[2021-01-12 20:16] mik-laj commented on #13643
@dimberman @XD-DENG @potiuk Do you have any thoughts on this? I saw that these changes often come back in different forms, and I think we can do it once, but good.

[2021-01-12 20:19] XD-DENG commented on #13643
Absolutely a good idea 👍

[2021-01-12 20:37] potiuk commented on #13643
Absolutely !

[2021-01-12 20:51] totalhack commented on #13625
Below is my dag with some placeholders substituted. Note that this isn't even running (or attempting to run) when the problem occurs, as it's scheduled to run once a day. I was able to run this dag successfully.

I also have several other disabled maintenance dags from [here](https://github.com/teamclairvoyant/airflow-maintenance-dags/tree/airflow2.0). They were not run or enabled around the time

[2021-01-12 21:24] totalhack commented on #13625
So I've been running it with debug logging for 20 minutes now without issues. It previously happened within a matter of minutes every time. The only thing I changed since yesterday was to downgrade Docker Desktop for Mac to 2.5.0.1, as 3.0.4 was giving me issues in another project. But perhaps that was causing some issues here too.

Since I can't reproduce this I will close this for now, and reope

[2021-01-12 21:24] #13625 closed

[2021-01-12 23:32] #13597 closed

[2021-01-13 01:17] yarongolan commented on #13295
Just clarifying that this makes the SUBDAG functionality useless

[2021-01-13 07:17] OliverPfau commented on #13636
After uninstalling airflow 1.10.12 I installed airflow 2.0.0 with "pip install apache-airflow" in ubuntu 18.04 in WSL 2 without editable mode. I installed  no extras or providers. I also dropped the database before the installation of airflow 2.0.0.

[2021-01-13 07:30] OliverPfau commented on #13636
I installed airflow 2.0.0 again in a new WSL ubuntu image and the warnings do not appear. I try to find out what the reason is my "real" environment. Probably the change of PYTHONPATH.

[2021-01-13 07:47] turbaszek commented on #11983
It seems that in 2.0 you can use `output` attribute to do what you want:
[code]

and you get:
[code]

[2021-01-13 08:18] #13529 closed

[2021-01-13 09:23] maierru commented on #10443
version `1.10.12` same behaviour

[2021-01-13 09:30] bharath12345 opened #13646 "Airflow 1.10.11 to 1.10.14 not starting with SQLAlchemy 1.3.15"
**Apache Airflow version**: 1.10.11 to 1.10.14

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): None

**Environment**: MacOS with Python v3.8

- **Cloud provider or hardware configuration**: None
- **OS** (e.g. from /etc/os-release): Mac OSX
- **Kernel** (e.g. `uname -a`): Darwin Kernel Version 20.2.0: Wed Dec  2 20:39:59 PST 2020; root:xnu-7195.60.75~1/RELEASE_X86_64

[2021-01-13 09:37] nathadfield commented on #10790
@turbaszek I just tried it again and I **couldn't** replicate this error again on 2.0.

[2021-01-13 09:39] OliverPfau commented on #13636
I got rid of the warning by installing airflow 2.0.0 from scratch. Probably I misunderstood the backport stuff. After the installation of airflow 2 I installed the backport providers which installs airflow 1.10.x then. But I am not 100% sure about this.

[2021-01-13 10:03] doowhtron commented on #13504
I have a similar problem. After the "airflow.exceptions.SerializedDagNotFound: DAG 'XXX' not found in serialized_dag table" is logged, the scheduler dies.

[2021-01-13 10:21] p-id opened #13650 "Kubernetes executor fails to create worker pod in case longer dag/task are specified"
**Apache Airflow version**: 1.10.x, 2.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.18.8

**Environment**: Azure - AKS - ContainerD CRI-O

- **Cloud provider or hardware configuration**: Azure AKS
- **OS** (e.g. from /etc/os-release): Ubuntu 18.04.5 LTS
- **Kernel** (e.g. `uname -a`): 5.4.0-1031-azure
- **Install tools**: Docker runtime  - 19.3.12
- **Others**:

[2021-01-13 10:28] potiuk commented on #13650
Closing as duplicate of #13189

[2021-01-13 10:28] #13650 closed

[2021-01-13 12:02] potiuk commented on #10443
In 1.10 all subdags are scheduled in the same workers/pools as the parent DAGs - by design. This has been changed in Airflow 2.0 where SubDags are processed in a different way and they can run in different workers/pools.

[2021-01-13 12:02] #10443 closed

[2021-01-13 12:07] #13634 closed

[2021-01-13 12:08] potiuk commented on #13646
Airflow does now work with MsSQL server. If you see at the requirements: https://github.com/apache/airflow#requirements you need either Postgres or MysQL (sqlite is good for development). There is a discussion about adding support for #Mssql but there are no plans to implemeent it. See https://github.com/apache/airflow/issues?q=is%3Aissue+is%3Aopen+mssql+label%3Awish%3Amssql-support

[2021-01-13 12:08] #13646 closed

[2021-01-13 12:29] nathadfield commented on #9975
@kaxil Is this likely to only be fixed in 2.1 or might we also see it in a new 1.10 version for those people who are affected by this issue but cannot (or don't want to) move to 2.0 yet?

[2021-01-13 12:39] gmontanola commented on #13637
I can confirm this too. Airflow 2.0.0 with Python3.8, KubernetesExecutor on EKS with Kubernetes 1.18

**m5.large node** and nothing but Airflow running (no task executions besides some tests)

![image](https://user-images.githubusercontent.com/35972814/104453292-f5083f80-5582-11eb-851f-c8ada92b8181.png)

I noticed the same thing while using Kind locally, but with Minikube it was ok! I'll test and

[2021-01-13 13:03] kaxil commented on #13637
It will be fixed in 2.0.1 by default (it has always been the case -- even for 1.10.x), for now, you can change `[scheduler] min_file_process_interval = 1` or `2`.

[2021-01-13 13:51] eladkal commented on #13623
ShortCircuitOperator inherits from PythonOperator.
As explained in [Updating.md](https://github.com/apache/airflow/blob/master/UPDATING.md#airflowoperatorspythonpythonoperator) in Airflow 2.0 `provide_context` argument on the PythonOperator was removed and there is no need to explicitly provide or not provide the context anymore.

So your code should be:
[code]

Closing as this is not a bug.

[2021-01-13 13:51] #13623 closed

[2021-01-13 13:56] eladkal commented on #12881
Snowflake released new version of the connector

https://pypi.org/project/snowflake-connector-python/
[code]

[2021-01-13 14:04] mik-laj commented on #8605
I have prepared some Dockerfiles with some common configuration.
<details>
<summary>Postgres - Redis - Airflow 2.0</summary>

[code]
</details>

<details><summary>Postgres - Redis - Airflow 1.10.14</summary>

[code]
</details>

<details><summary>Mysql 8.0 - Redis - Airflow 2.0</summary>

[code]

</details>

<details><summary>Mysql 8.0 - Redis - Airflow 1.10.14</summary>

[code]

</details>

I adde

[2021-01-13 14:21] obelinskyi opened #13653 "API Endpoint for Airflow V1 - DAGs details"
**Description**

We need to have the endpoint in Airflow V1 to retrieve details of existing DAG, e.g. `GET /dags/{dag_id}/details `

**Use case / motivation**

We want to be able to retrieve/discover the parameters that a DAG accepts. We can see that you pass parameters when you execute a dag via the conf object. We can also see that you explicitly declare parameters that a DAG accepts via the par

[2021-01-13 14:36] potiuk commented on #12881
Woooho! Switching to it!

[2021-01-13 14:47] davido912 commented on #12881
what a day. let us know if this solved anything! :D

[2021-01-13 14:48] potiuk commented on #12881
Thanks  @eladkal for keeping an eye :+1:

[2021-01-13 15:20] kaxil commented on #11053
@turbaszek Is there a rule to do the same (use normal Python package / modules) for operators and sensors?

I couldn't find one but we removed the support for adding operators and sensors via Plugins so we should have a check for it.

[2021-01-13 15:22] potiuk commented on #12881
@eladkal - absolutelty https://github.com/apache/airflow/pull/13654 - I unmarked the test in presto that was marked as "expect to fail" because of this problem, this will tell us whether the problem is fixed.

[2021-01-13 15:36] kaxil commented on #13293
For now, users should just ignore this check until a fix comes out in **Airflow Upgrade Check - 1.2.0** :

[code]

[2021-01-13 15:48] mik-laj commented on #13653
Docs for this endpoint: https://airflow.apache.org/docs/apache-airflow/stable/stable-rest-api-ref.html#operation/post_set_task_instances_state

[2021-01-13 16:18] potiuk commented on #13636
I am looking into similar problem (this time with our prod image) and I will let you know if I find more.

[2021-01-13 16:19] potiuk commented on #13603
I am looking at similar problem so I might come back with it

[2021-01-13 16:34] soltanianalytics opened #13656 "Password is unintendedly changed when editing a connection"
**Apache Airflow version**: 2.0.0

**What happened**:

When editing a connection - without changing the password - and saving the edited connection, a wrong password is saved.

**What you expected to happen**:

If I do not change the password in the UI, I expect that the password is not changed.

**How to reproduce it**:

- Create a new connection and save it (screenshots 1 + 2)
- Edit the connect

[2021-01-13 16:36] soltanianalytics commented on #13656
Note: It seems that the unintended "new" password is always the _same_ string `RKk...jlx`

[2021-01-13 17:00] potiuk commented on #13656
@soltanianalytics  -> Do you have some software that auto-completes passwords or maybe chrome does it automatically? Your screenshots cut  the right side of the fields where you can have an indicator that the password have been auto-filled.

 When I edit connections I got empty password and other sensitive fields when I edit them (even if password is actually set).

[2021-01-13 17:04] soltanianalytics commented on #13656
Yep, you're right, this is due to LastPass. It's actually my GUI admin password. This never was an issue before, I don't know if that's something you can have an influence over, but I'll close this issue

[2021-01-13 17:04] potiuk commented on #13656
No. It can be influenced. I believe we might fix it by setting autocomplete=off on all "*' fields

[2021-01-13 17:10] potiuk commented on #13656
Low priority, but worth fixing :)

[2021-01-13 17:44] fjmacagno commented on #13623
Fair enough, thanks!

[2021-01-13 18:20] adamtay82 commented on #13504
Can confirm similar for us.

[2021-01-13 18:44] mrd2242 commented on #12713
@turbaszek This is not intuitive. Generally, if we give a execute date, we expect that job be executed just at that time. It's the programmer's responsibility to ensure any data need by this job being processed before this job start, for example, making the data process job upstream or any other approach.

[2021-01-13 18:57] eladkal commented on #12713
@mrd2242 Nothing prevents you from having full control over your code. You can process data between `{{ ds }}`  and `{{ next_ds }}` This may not be intuitive which is why there are discussions in the community how to address for example https://github.com/apache/airflow/pull/5787

For now I'm closing this issue as there is no action item here.
Currently this how Airflow works.

[2021-01-13 18:57] #12713 closed

[2021-01-13 19:00] potiuk commented on #12713
Yeah @mrd2242 - if you really strongly feel about it - why don't you join the discussion that @turbaszek pointed out to ? Airflow is a  community-managed project so you can have impact on it. But down voting correct answer which explains reasons why Airflow works like that for the last 7 years is probably not a good way to have impact.

[2021-01-13 19:03] eladkal commented on #10149
@abhaypartap This sounds like a good information to include in the [documentation of SSH connection ](https://github.com/apache/airflow/blob/master/docs/apache-airflow-providers-ssh/connections/ssh.rst)
Would you mind creating a PR to add it ?

[2021-01-13 19:27] mrd2242 commented on #12713
@potiuk I'm sorry about that down voting. And the link @turbaszek linked is not available, it's a blank page. The pr @eladkal linked is useful but I did not see that before he pointed out. Anyway, sorry for that.

[2021-01-13 19:39] eladkal commented on #12713
@mrd2242 the link opens for me. Give it a few moments it takes time to open it's a long thread.

[2021-01-13 20:22] potiuk commented on #8605
Very good idea! ❤️

[2021-01-13 20:55] hedrickw opened #13659 "Operator Extra Links not showing up on UI"
**Apache Airflow version**: 2.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.18

**Environment**:

- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): Linux
- **Kernel** (e.g. `uname -a`): Linux
- **Install tools**:
- **Others**:

**What happened**:
Followed the Example Here: https://airflow.apache.org/docs/apache-airflow/st

[2021-01-13 21:03] ashb commented on #13659
Operator links need to be registered via a plugin to appear in the UI -- sorry the docs are wrong on this point.

[2021-01-13 21:06] hedrickw commented on #13659
@ashb Ah that makes sense, thanks!

[2021-01-13 21:09] potiuk commented on #13659
Also you can do it via custom providers if you choose to bundle several custom operators into an installable python package: http://airflow.apache.org/docs/apache-airflow-providers/index.html#how-to-create-your-own-provider - that also adds a possibility to add custom connections.

[2021-01-14 00:54] doowhtron commented on #13504
I temporarily fix this by catching SerializedDagNotFound Exception in scheduler_job.py

[code]

[2021-01-14 06:51] doowhtron opened #13667 "scheduler dies with "TypeError: '>' not supported between instances of 'NoneType' and 'datetime.datetime'""
**Apache Airflow version**: 2.0.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**: tencent cloud
- **OS** (e.g. from /etc/os-release): centos7
- **Kernel** (e.g. `uname -a`): 3.10
- **Install tools**:
- **Others**: Server version: 8.0.22 MySQL Community Server - GPL

**What happened**:

Scheduler dies

[2021-01-14 06:59] doowhtron commented on #13667
Found another exception may cause the scheduler to die too...
[code]

[2021-01-14 07:01] potiuk commented on #13667
Can you please create a separate issue for the "deadlock" one ? seems unrelated.

[2021-01-14 07:04] doowhtron commented on #13667
ok

[2021-01-14 07:05] doowhtron opened #13668 "scheduler dies with "MySQLdb._exceptions.OperationalError: (1213, 'Deadlock found when trying to get lock; try restarting transaction')""
**Apache Airflow version**: 2.0.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**: tencent cloud
- **OS** (e.g. from /etc/os-release): centos7
- **Kernel** (e.g. `uname -a`): 3.10
- **Install tools**:
- **Others**: Server version: 8.0.22 MySQL Community Server - GPL

**What happened**:

Scheduler dies

[2021-01-14 07:31] potiuk commented on #13668
Which MySQL version do you have? @doowhtron ?

[2021-01-14 07:39] doowhtron commented on #13668
Server version: 8.0.22 MySQL Community Server - GPL

[2021-01-14 08:01] vxtals commented on #13434
I don't think this is really a bug but a change of behavior, IMO this should be reversed or at least allow to change it through config.

The problem is in the method bulk_write_to_db in the class DAG [https://github.com/apache/airflow/blob/master/airflow/models/dag.py](url)

        # Get the latest dag run for each existing dag as a single query (avoid n+1 query)
        most_recent_dag_runs = di

[2021-01-14 08:28] salimeryigit commented on #13434
I agree, and to be consistent with the older versions the default behavior should be the old one IMHO (personally, I think it should be reversed).
Because of the way Airflow handles execution time, the execution time between manual and scheduled runs may cause problems. Consider a daily dag run at 00:00. If the dag runs at the scheduled time on 13 Jan, the execution date would be 12 Jan 00:00 (per

[2021-01-14 08:47] eladkal commented on #10046
The Show/Hide Paused DAGs was removed in https://github.com/apache/airflow/pull/8106 infavor of a better DAG status filter. It was released in 1.10.11
as you can see when searching the DAG appears in the correct tab according to it's status:
![Screen Shot 2021-01-14 at 10 43 37](https://user-images.githubusercontent.com/45845474/104566022-c60ece00-5655-11eb-812e-538de92c1712.png)

Since you report

[2021-01-14 08:47] #10046 closed

[2021-01-14 09:42] mikys-next-insurance commented on #9610
@raj-manvar , Can you please share this view plugin with us?
Thanks

[2021-01-14 09:43] doowhtron opened #13671 "Task is set "upstream_failed" while upstream tasks are success"
**Apache Airflow version**: 2.0.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**: tencent cloud
- **OS** (e.g. from /etc/os-release): centos7
- **Kernel** (e.g. `uname -a`): 3.10
- **Install tools**:
- **Others**: Server version: 8.0.22 MySQL Community Server - GPL

**What happened**:

I have a dag of

[2021-01-14 10:31] eladkal commented on #12357
Fixed in https://github.com/apache/airflow/pull/13025

[2021-01-14 10:31] #12357 closed

[2021-01-14 11:00] Giuzzilla commented on #11998
Hey, any hope of getting #12000 merged? I'm using that fix in production and it works perfectly. Thank you!

[2021-01-14 11:21] mik-laj commented on #13626
This looks like an invalid ticket.

[2021-01-14 11:21] #13626 closed

[2021-01-14 11:53] lassanouer opened #13672 "Dags are not able to get connections via hashicorp_vault"
Using Hashicorp_vault was a good idea to make things safe and easy for airflow users,

my airflow version: 1.10.14

**Use case:**
Create a secret X in vault, config airflow to get that connections
Create a 2 dags,

- in first one, u call the connection X that you create in vault
- the second one, call a connection Y that is not in vault

launch airflow,

==> In user interface, there is only error

[2021-01-14 11:56] manugarri commented on #12881
I dont think this PR fixes the strict dependencies issue though https://github.com/snowflakedb/snowflake-connector-python/blob/master/setup.py#L194 , that is usually what breaks builds.

[2021-01-14 12:00] rm3195 commented on #9803
One more note here: setting wildcard in `source_objects` gives following log message: `Delimiter ignored because wildcard is in prefix`. So if you want delimiter to work correctly, you need to specify wildcard in source, but if you specify it then delimiter is ignored...

[2021-01-14 13:08] #13637 closed

[2021-01-14 14:25] potiuk commented on #12881
Not really. You do not have to install the snowflake provider (Airflow in 2.0 is now split into separate core and providers). Even in 1.10 snowflake was an 'extra' that you did not have to install. But in the meantime we impleemented much better way of handling the requirement upgrade, so now we have less requirements in airflow's install_requires and those that are problematic are moved out of ai

[2021-01-14 14:33] sstoefe opened #13675 "TaskInstances do not succeed when using enable_logging=True option in DockerSwarmOperator"
**Apache Airflow version**: v2.0.0
**Git Version**: release:2.0.0+ab5f770bfcd8c690cbe4d0825896325aca0beeca

**Docker version**: Docker version 20.10.1, build 831ebeae96

**Environment**:

- **Cloud provider or hardware configuration**: local setup, docker engine in swarm mode, docker stack deploy
- **OS** (e.g. from /etc/os-release): Manjaro Linux
- **Kernel** (e.g. `uname -a`): 5.9.11
- **Install

[2021-01-14 15:13] mbettan commented on #13626
Thank you @mik-laj - this solved my issue we used as alternative: BigQueryInsertJobOperator

[2021-01-14 15:20] dinigo commented on #10443
@potiuk I cannot check right now if this is still happening, sorry. I want to mention that I solved this issue setting the SubDagOperator (which is a sensor under the hood) to `mode = 'reschedule'` so it doesn't take a whole slot.

Is there a reason for the `'reschedule'` mode not being the default? I have enough sensors to fill and block the pool. That's the source of this issue actually.

Anyway

[2021-01-14 15:57] andrzejsydor opened #13676 "API Endpoints - /xcomEntries/{xcom_key} - doesn't return value"
**Apache Airflow version**: 2.0.0

**What happened**:

Using endpoint `/dags/{dag_id}/dagRuns/{dag_run_id}/taskInstances/{task_id}/xcomEntries/{xcom_key}` I got Response Body but without `value` entry. Like:
[code]
Instead of:
[code]
The exact value by defined `key` exists.

[2021-01-14 16:03] FloChehab commented on #12995
Hello,
I am having exactly the same issue while migrating to 2.0.0 and by reading through the comments I don't really get what is a possible solution.

@Squigilum could you share a bit more information on how you solved this?

[2021-01-14 16:27] #12873 closed

[2021-01-14 16:41] #13317 closed

[2021-01-14 16:48] Squigilum commented on #12995
@FloChehab I was only evaluating the tool, so I never solved it.  We ended up using a different product.  Sorry that doesn't help you.  From what I could tell I believe @ashb's suggestions from Dec. 11th should have fixed it but I'm not sure why they didn't for me.

[2021-01-14 17:23] george-zubrienko opened #13677 "Airflow Scheduler Liveliness Probe does not support running multiple instances"
## Topic
Airflow with Kubernetes Executor

## Version
Airflow 2.0.0

## Description
Hi,
This code

https://github.com/apache/airflow/blob/1d2977f6a4c67fa6174c79dcdc4e9ee3ce06f1b1/chart/templates/scheduler/scheduler-deployment.yaml#L138

causes scheduler pods to randomly restart due to liveliness probe hitting random hostname, if more than one scheduler replica is running.

### Solution

Suggesting

[2021-01-14 18:02] manugarri commented on #12881
@potiuk by strict dependencies issue i meant snowflake-python-connector dependencies, not Airflow's

[2021-01-14 18:07] FloChehab commented on #12995
Thanks for the fast feedback @Squigilum !

After heavy investigations we found that SQLalchemy connection pooling was causing the error (we already have pgbouncer in front of postgres).

So we set `sql_alchemy_pool_enabled` to `False` in airflow config and changed the `celery_config_options` in celery config to point to a file containing:

[code]
Everything seems to work fine now.

[2021-01-14 18:09] potiuk commented on #12881
I see. They got improved but indeed could be more open. For me it is a bit less of an issue so far.

[2021-01-14 18:15] msardana94 opened #13679 "SQL Syntax errors on startup"
**Apache Airflow version**: 2.0.0

**What happened**:

While investigating issues relating to task getting stuck, I saw this sql error in postgres logs. I am not entirely sure of what it impacts but I thought of letting you know.

[code]

**How to reproduce it**:
1. Run `docker-compose run initdb`
2. Run `docker-compose run upgradedb`

<details> <summary> Here's my docker-compose </summary>

[code

[2021-01-14 19:47] SulimanLab opened #13680 ""dag_id could not be found" when running airflow on KubernetesExecutor"
**Apache Airflow version**: 2.0.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): v1.19.4

**What happened**:
I get this error when try to execute tasks using kubernetes

[code]

**What you expected to happen**:
get executed and terminate

**How to reproduce it**:
deploy airflow helm chart using this values.yaml:

[code]

**and this is the dag with its tasks**

[code

[2021-01-14 19:48] hedrickw opened #13681 "ExternalTaskSensor can never find External Parent Task"
**Apache Airflow version**: 2.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.18

**Environment**: Linux

- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): Linux
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**: Following the example below https://github.com/apache/airflow/blob/master/ai

[2021-01-14 20:35] vikramkoka commented on #13667
@doowhtron What version of MySQL are you running on?

[2021-01-14 21:10] krisdock commented on #13667
@vikramkoka per the other [issue](https://github.com/apache/airflow/issues/13668) opened, their mysql version is:

Server version: 8.0.22 MySQL Community Server - GPL

[2021-01-14 22:27] kaxil commented on #13668
Is it MySql or Mariadb version of MySql

[2021-01-14 22:29] kaxil commented on #13681
Why did you manually trigger it?

Secondly if you want to manually trigger it for trying it out, run both of them using cli with a specific execution date

[2021-01-14 22:31] kaxil commented on #13679
What version of Postgres do you use?

[2021-01-14 22:34] msardana94 commented on #13679
[code]
Using the `postgres:9.6` docker image.

[2021-01-14 22:48] hedrickw commented on #13681
@kaxil Ah so you need to Execute at the same time? I guess I manually triggered it from UI to try it out.

[2021-01-14 22:49] hedrickw commented on #13681
@kaxil I also just wrote my own Sensor using the docs and BaseClass since you guys recommended that as well :D

[2021-01-14 23:00] kaxil commented on #13672
The error is genuine though, have you added a connection Y in either Metadata DB or as Environment Variable.

If no-one of this, then it will error

[2021-01-14 23:04] ephraimbuddy commented on #13681
The schedule_interval need to be the same for both DAGs for it to work.
[code]

[2021-01-14 23:15] hedrickw commented on #13681
@ephraimbuddy Ah maybe its just an outdated file i grabbed example from master and it has schedule of None
https://github.com/apache/airflow/blob/master/airflow/example_dags/example_external_task_marker_dag.py

[2021-01-14 23:17] ephraimbuddy commented on #13681
Can you make a PR to correct it? That would be nice

[2021-01-14 23:18] hedrickw commented on #13681
@ephraimbuddy sure!

[2021-01-14 23:33] kaxil commented on #13676
Will be fixed in 2.0.1, thanks for reporting

[2021-01-15 00:44] doowhtron commented on #13667
Yes, that's right

[2021-01-15 00:53] lassanouer commented on #13672
my issue is when i use vault for connections, it doesn't work.
the connection Y case is to show that from the user interface, airflow is recognizing the connection X and doesn't show error for it.

[2021-01-15 01:02] kaxil commented on #13672
Can you post the steps to reproduce it?

[2021-01-15 01:11] vikramkoka commented on #13546
I am sorry, but can you please give me some more information, so that we can identify the problem?
This generally indicates a temporary problem.

[2021-01-15 01:13] lassanouer commented on #13672
Yeah,

1) create a secret X in vault in secrets/somewhere/in/vault for exemple

2) add this env var to airflow:
 - name: AIRFLOW__SECRETS__BACKEND
    value: "airflow.contrib.secrets.hashicorp_vault.VaultBackend"
  - name: AIRFLOW__SECRETS__BACKEND_KWARGS
    value: "{\"connections_path\": \"somewhere/in/vault\", \"mount_point\":\"secrets\", \"url\":\"https://vault.xxx.app\", \"role_id\":\"xxxxxxx

[2021-01-15 01:20] doowhtron opened #13685 "scheduler dies with "sqlalchemy.exc.IntegrityError: (MySQLdb._exceptions.IntegrityError) (1062, "Duplicate entry 'huge_demo13499411352-2021-01-15 01:04:00.000000' for key 'dag_run.dag_id'")""
**Apache Airflow version**: 2.0.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**: tencent cloud
- **OS** (e.g. from /etc/os-release): centos7
- **Kernel** (e.g. `uname -a`): 3.10
- **Install tools**:
- **Others**: Server version: 8.0.22 MySQL Community Server - GPL

**What happened**:

Scheduler died

[2021-01-15 01:27] abhishekshenoy commented on #11345
Hi Team ,

We are facing similar issue on. GCP.

Apache Airflow version: 2.0

Kubernetes version (kubectl version):v1.18.2

Environment:
Cloud provider or hardware configuration: GCP
OS (e.g. from /etc/os-release): Container Optimized OS.

We use GCS to store our logs. Recently we are seeing an issue wherein while executing DataprocOperators (CreateCluster , SubmitJob, DeleteCluster) , though the

[2021-01-15 04:32] Junnplus commented on #11998
@Giuzzilla https://github.com/apache/airflow/pull/13289 already merged. It seems to have to wait until 2.0.1 for release.

[2021-01-15 06:02] astleychen commented on #13434
@salimeryigit Agreed either. It's too much of an implication that a manual trigger may skip the next scheduled run.  I'm also surprised at the first time I met this issue as this basic schedule function should be able to be trusted and normally run as expected. In our scenario, we may trigger the DAG times in a day and also scheduled DAG to run daily as well. It's broken after V2 upgrade. Can we e

[2021-01-15 07:38] TajimaTheMemer opened #13687 "BashOperator's on_success_callback process may be executed twice."
**Apache Airflow version**: 1.10.12

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
1.16.15

**Environment**:

- **Cloud provider or hardware configuration**: GCP Cloud Composer (version: `composer-1.13.0-airflow-1.10.12`)
- **OS** (e.g. from /etc/os-release): linux
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:
BashOperator's

[2021-01-15 08:34] juneoh commented on #12556
Started working on this. Upon studying the history, looks like we need to fix the both paths in execute() for BigQuery and external tables to stop using the deprecated methods, which will likely to fix #10288 and #12329 along the way.

[2021-01-15 08:42] doowhtron commented on #13668
mysql

[2021-01-15 09:07] tandelDipak opened #13691 "Update Connection Hook after starting EC2 instance"
**Description**

Airflow version 2 has support for starting and stopping the ec2 instance but after we start the instance hostname will be defined dynamically so we cannot use the connection hook to ssh into the ec2 instance. We have to update the host parameter in the connection hook by some other means (Access the connection model and update host value). Can we add a feature in aws ec2 hook to u

[2021-01-15 09:36] doowhtron opened #13692 "task failed with a null hostname"
**Apache Airflow version**: 2.0.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**: tencent cloud
- **OS** (e.g. from /etc/os-release): centos7
- **Kernel** (e.g. `uname -a`): 3.10
- **Install tools**:
- **Others**: Server version: 8.0.22 MySQL Community Server - GPL

**What happened**:

Task is in the

[2021-01-15 10:18] #13676 closed

[2021-01-15 10:20] Dr-Denzy commented on #12918
I will like to take over this issue.

[2021-01-15 11:13] #10367 closed

[2021-01-15 11:24] mik-laj commented on #12918
@Dr-Denzy  I assigned you to this ticket.

[2021-01-15 11:26] mik-laj commented on #13679
@msardana94  are you willing to submit a PR? Please note that the behavior may be different depending on the migration state. see: https://github.com/apache/airflow/blob/master/airflow/migrations/versions/8d48763f6d53_add_unique_constraint_to_conn_id.py

[2021-01-15 11:28] mik-laj commented on #13677
Related: https://github.com/apache/airflow/issues/12098

[2021-01-15 11:47] FlorianWagnerZEB opened #13693 "Unexpected "Access denied" redirects using OAuth with Keycloak"
**Apache Airflow version**: 1.10.12

**Kubernetes version**: Client: v1.15.11, Server: v1.19.3

**Environment**: Kubernetes for Docker Desktop

- **OS**: Windows 10 Pro
- **Airflow Base Image**: apache/airflow:1.10.12-python3.8

**What happened**:
When I log in using keycloak as OAuth provider I frequently (every few seconds) get "Access denied" messages followed by a redirect to the `/login` page

[2021-01-15 12:21] #13659 closed

[2021-01-15 12:57] eladkal commented on #13691
Can you explain a bit further about your suggestion?

I'll take example of my workflow with EMR (EC2 should be similar)
I create the cluster (the machine ID is pushed to xcom)
I submit jobs
once jobs completed (or incompleted) I run a termination operator that pulls the ID from xcom and terminate the cluster.
No machine is left idle.

FTI @feluelle WDYT?

[2021-01-15 13:20] msardana94 commented on #13679
Sure I can give it a try. I will take a look at contribution quick start since this will be my first time and will reach out over slack with any questions.

I will take a look at the code to see what that means for this bug.

[2021-01-15 13:33] TKorr commented on #11057
I don't want to assume the role, I want to retrieve the credentials from the instance metadata.
https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-metadata.html

[2021-01-15 13:49] manugarri commented on #12881
@potiuk what that means is, if we install snowflake as an extra dependency in airflow, there might (probably?) be conflicts with other dependencies (boto3 being the usual suspect).

[2021-01-15 14:02] cccs-cat001 opened #13697 "Email config section is incorrect"
**Apache Airflow version**: 2.0.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): n/a

**Environment**: This pertains to the docs

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:
I see [here](https://airflow.apache.org/docs/apache-airflow/stabl

[2021-01-15 14:47] marcusianlevine opened #13700 "Partial subset DAGs do not update task group's used_group_ids"
**Apache Airflow version**: 2.0.0

**Environment**:

- **Cloud provider or hardware configuration**: Docker container
- **OS** (e.g. from /etc/os-release): Debian Stretch

**What happened**:

When working on some custom DAG override logic, I noticed that invoking `DAG.partial_subset` does not properly update the corresponding `_task_group.used_group_ids` on the returned subset DAG, such that addin

[2021-01-15 15:37] Lyalpha opened #13701 "Allow dags to be scheduled by solar events"
**Description**

Alongside existing `@daily` etc. preset cron configurations, a new suite of `schedule_interval` options would exist to cause a dag to be scheduled each day to coincide with a solar based event, e.g. `@sunset`, `@dusk_nautical`.

**Use case / motivation**

Some workflows are diurnal or nocturnal by nature, an example is processing astronomical data. Particularly when far from the e

[2021-01-15 16:02] Adam-Leyshon commented on #9975
This issue is affecting 1.10.14.

Upgrading to 2.0 is not possible for us at this time since we have a number of internal blockers on plugins that we wrote that require refactoring.

We cleared a DAG run for 2019-01-01 and selected the all future tasks option,
Now it want to processes over 200 runs at the same time

We did not experience this issue in 1.10.9.

Instead it is now trying to run a sin

[2021-01-15 16:40] #13047 closed

[2021-01-15 16:40] sarahamilton opened #13702 "Google Marketing Platform Display and Video 360 SDF Operators Fail"
**Apache Airflow version**: 1.10.12

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**: Google Cloud Composer 1.13.3

- **Cloud provider or hardware configuration**: Google Cloud Composer

**What happened**: All Google Marketing Platform Display and Video 360 SDF operations fail (other than creating the SDF). The "GoogleDisplayVideo360GetSDFDownloadOper

[2021-01-15 17:13] madison-ookla commented on #13685
@doowhtron what version of `mysqlclient` are you running? We found out that we somehow fell back to a 1.3.x version in our new environment and pinning that requirement to >1.4 resolved this issue for us!

[2021-01-15 17:51] HaloKo4 opened #13704 "BaseBranchOperator should push to xcom by default"
**Apache Airflow version**: 2.0.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
Not relevant

**Environment**:
Not relevant

**What happened**:

BranchPythonOperator performs xcom push by default since this is the behavior of PythonOperator.
However BaseBranchOperator doesn't do xcom push.

Note: It's impossible to push to xcom manually because the BaseBranchOperat

[2021-01-15 18:05] turbaszek commented on #13704
Strictly speaking it is possible because you can override the `execute` method in your custom branch operator.

Apart from that your suggestion make sense to me - I don't see any drawbacks to that. Would you mind opening a PR?

[2021-01-15 20:48] vikramkoka commented on #13671
Thank you for reporting this, but can you please add some more information and how to reproduce this.
I can't think of how to proceed with this. We have run DAGs with more than a thousand tasks, so that is not by itself sufficient information.

[2021-01-15 21:04] potiuk commented on #12881
It is not a problem for airflow - but if you have problem with that - I encourage you to open an issue for that, they seem to be responsive to community complaints

[2021-01-15 22:52] manugarri commented on #12881
@potiuk that is true, however it means snowflake operators cant be reliably used right?

And regarding opening issues and responsiveness, well, lets say I opened a [related issue almost a year ago](https://github.com/snowflakedb/snowflake-connector-python/issues/284). In fact i released  [snowflake-connector-python-lite](https://pypi.org/project/snowflake-connector-python-lite/), a lite version of

[2021-01-15 23:05] mik-laj opened #13706 "Build only one CI image and run less jobs for docs-only PRs"
Hello,

In my [last PR](https://github.com/apache/airflow/pull/13696/files), which made changes to documentation only, I saw that CI was running a few jobs that are unnecessary.
See: https://github.com/apache/airflow/actions/runs/488961399

The following files has been changed:
[code]

The following jobs were launched:
[code]

I guess we don't need to build a PROD image for similar changes and all

[2021-01-15 23:52] #12098 closed

[2021-01-15 23:52] #13677 closed

[2021-01-15 23:57] kaxil commented on #13687
Can you test it with the current Master branch and see if you can reproduce it there

[2021-01-16 00:59] #10091 closed

[2021-01-16 01:04] mattwelke opened #13711 "Error "TypeError: object of type 'map' has no len()" when running "airflow db init""
**Apache Airflow version**: 2.0.0
**Environment**: Ubuntu 20.04 LTS, Python 3.8.6 via pyenv, in a virtual env via Poetry
- **OS** (e.g. from /etc/os-release): 20.04.1 LTS (Focal Fossa)
- **Kernel** (e.g. `uname -a`): Linux DESKTOP-QBFDUA0 4.19.104-microsoft-standard #1 SMP Wed Feb 19 06:37:35 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
- **Install tools**: Following steps in https://airflow.apache.org

[2021-01-16 01:11] #13697 closed

[2021-01-16 01:13] kaxil commented on #13697
https://airflow.apache.org/docs/apache-airflow/stable/howto/email-config.html#email-configuration is correct -- you can add it too the airflow.cfg file. I have added the missing config to the docs in https://github.com/apache/airflow/pull/13709

[2021-01-16 02:01] mattwelke commented on #13711
More info:

My `pyproject.toml`:

[code]

[2021-01-16 03:43] mattwelke opened #13713 "Airflow web server UI bouncing horizontally at some viewport widths"
**Apache Airflow version**: 2.0.0
**Environment**: Ubuntu 20.04 LTS, Python 3.8.6 via pyenv
- **OS** (e.g. from /etc/os-release): 20.04.1 LTS (Focal Fossa)
- **Kernel** (e.g. `uname -a`): Linux DESKTOP-QBFDUA0 4.19.104-microsoft-standard #1 SMP Wed Feb 19 06:37:35 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
- **Install tools**: Following steps in https://airflow.apache.org/docs/apache-airflow/stable/s

[2021-01-16 11:10] potiuk commented on #13711
This is problem with poetry solving dependencies in a wrong way (comparing to PIP at least).
Poetry is not officially supported as installation tool - see http://airflow.apache.org/docs/apache-airflow/stable/installation.html

However if you want to get some workaround, see ##13558 and especially #13149.

I will also add some extra limitation for python3-openid as it seems this is what causes the

[2021-01-16 11:10] #13711 closed

[2021-01-16 11:52] #12881 closed

[2021-01-16 13:32] potiuk opened #13716 "Selective documentation build"
Followinq #13706 .

Building docs only is not as optimized as it can be.
I think it needs to have some separate behaviour not only optimising the other builds
In case of the doc build we should not only optimise non-needed jobs, but also optimise which part of the documentation should be built.

In case of the https://github.com/apache/airflow/pull/13696/files

[code]

Only 'apache-airflow' docs s

[2021-01-16 13:33] potiuk commented on #13716
cc: @mik-laj

[2021-01-16 13:33] potiuk commented on #13706
I think it's the right time to rewrite the selecitive_checks.sh script to python for that. Would you like to do it @mik-laj  ?

[2021-01-16 13:34] potiuk commented on #13706
It's totally independent of Breeze - so can be rewritten any time.

[2021-01-16 13:50] potiuk commented on #12881
Why? I think the dependencies that are left are pretty ok and we are also upgrading azure provider so that the last conflicts are removed. From what I see boto dependency in snowflake connector is:

[code]

So nothing extraodirinary -  taking into account that latest released version is 1.16.56.
Do you KNOW that you have some other conflicts, or do you just suspect it ?

From the latest set of con

[2021-01-16 23:06] mattwelke commented on #13711
@potiuk Thanks for the quick response, and for the links. It looks like someone already reported my issue. Sorry for the duplicate. I did search, but I didn't find it. It looks like Poetry considers this a "won't fix" so I'll keep in mind that I can't use it for Airflow.

Some feedback on how I read the docs:

The reason I haven't read the installation page with all that info yet is because I was

[2021-01-17 00:14] kaxil commented on #13716
I would say let's not try to optimize this because we use cross reference of apache-airflow in some providers and vice-versa to we should build all the docs.

https://github.com/apache/airflow/issues/13706 should be enough

[2021-01-17 00:30] mik-laj commented on #13716
Is it related? https://github.com/apache/airflow/issues/12983

[2021-01-17 01:13] kaxil commented on #12983
I agree with @mik-laj 's comment in https://github.com/apache/airflow/issues/12983#issuecomment-742515225

As I said in https://github.com/apache/airflow/issues/13716#issuecomment-761702451: let's not try to optimize this because we use cross-reference of apache-airflow in some providers and vice-versa, so we should build all the docs.

[2021-01-17 10:14] potiuk commented on #13716
Closing as duplicate of #12983

[2021-01-17 10:37] potiuk commented on #12983
All such cross references are already automatically checked (via pre-commit) and stored in https://github.com/apache/airflow/blob/master/airflow/providers/dependencies.json .

I think we should be then very consistent in what we propose as optimizations and base it on actual gains achieved for everyone (not only for committer who push their change). I want to think 'globally' in terms of regular c

[2021-01-17 10:46] #13716 closed

[2021-01-17 11:53] potiuk commented on #13711
Thanks for that explanation! That makes a lot of sense and I will update the quickstart documentation in a moment to make sure others who follow the same path will be warned!

[2021-01-17 12:21] potiuk commented on #13711
CC: @mattwelke please take a look at #13727 and see if you think this change addresses the earlier confusion created by inconsistent documentation.

[2021-01-17 12:30] potiuk commented on #13693
@FlorianWagnerZEB  - this is rather 'troubleshooting" kind of question rather than bug. I am closing this issue for now, but please copy it and open [discussions[(https://github.com/apache/airflow/discussions). If you click "new issue" and see the "Ask a question or Get Support" - discussion is the link that is suggested there.

[2021-01-17 12:30] #13693 closed

[2021-01-17 12:53] #10793 closed

[2021-01-17 14:15] kaxil commented on #12983
This is not the cross-reference we (at least me) are talking about. Google Providers for example reference xcom documentation from apache-airflow (core) docs. Example: https://github.com/apache/airflow/blob/master/docs/apache-airflow-providers-google/operators/marketing_platform/campaign_manager.rst

And similarly apache-airflow (core) docs reference `~airflow.providers.http.operators.http.SimpleH

[2021-01-17 15:01] potiuk commented on #12983
I'd say then we need (4). Include .rst cross-references.

Let's build the dependencies including documentation and generate a minimum set of "packages" that makes sense for it. Looking at your example, this should be as easy as finding all `~airflow.providers` references and we can build such a graph. This means that if for example one commits a change to "singularity" provider which is not referr

[2021-01-17 15:03] potiuk commented on #12983
And I argue it's only the "target" reference that matters. I .e. if  a provider refers a core class but 'core" does not change at all (and core does not refer this provider), it means that only the provider doc/tests should be built.

[2021-01-17 15:06] potiuk commented on #12983
And I'd say both optimisation (remove other jobs and selective build)  are equally important for me - only when we combine the two we will get real optimization - similar to what we have now when someone changes README.rst or any other "non-doc" folder change.

[2021-01-17 17:45] potiuk commented on #8606
Hey @dinigo  #13728  should address this one :)

[2021-01-17 18:30] potiuk commented on #9803
@rm3195 -> maybe you would like to fix this one ? Seems like  a nice contribution.

[2021-01-17 18:49] ashmeet13 commented on #13704
Hi!
I would like to pick this issue up if it's open and not being worked upon.

From what I understand the [execute](https://github.com/apache/airflow/blob/8af5a33950cfe59a38931a8a605394ef0cbc3c08/airflow/operators/branch.py#L51) function in BaseBranchOperator does not return the value calculated by [choose_branch](https://github.com/apache/airflow/blob/8af5a33950cfe59a38931a8a605394ef0cbc3c08/air

[2021-01-18 00:43] doowhtron commented on #13685
mysqlclient 1.4.6

[2021-01-18 01:58] vikramkoka commented on #13713
@ryanahamilton Just wondered if you had thoughts about this.

[2021-01-18 04:51] iameugenejo commented on #13504
Experiencing the error.
[code]

[2021-01-18 06:15] ayush-san opened #13733 "Airflow task timeout not working in AWSBatchOperator"
**Apache Airflow version**: 1.10.12

- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): Amazon Linux 2
- **Kernel** (e.g. `uname -a`): Linux
- **Install tools**: All

**What happened**:

We have a task timeout for Batch jobs of around 15hrs, but on_kill() doesn't get called even when the task timeout.

**What you expected to happen**:

After the task has run

[2021-01-18 06:50] shihabcsedu09 opened #13734 "Macros not working on Kubernetes Operator"
**Apache Airflow version**: 2.0.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.18.10

**Environment**:

- **Cloud provider or hardware configuration**: Azure AKS
- **OS** (e.g. from /etc/os-release): Linux
- **Kernel** (e.g. `uname -a`): Linux
- **Install tools**: All

**What happened**:

While injecting execution date and previous execution date success as envi

[2021-01-18 07:37] feluelle commented on #13691
@tandelDipak I also don't quite understand what you are trying to do. Can you elaborate your use-case, please?

[2021-01-18 08:01] tandelDipak commented on #13691
@feluelle @eladkal  thank you for your efforts. Let me explain the use case in detail.
Let's say I want to run some task or simple ls command on ec2 instance. I don't keep my ec2 instance always on, I turn it on when needed. So, to run a bash script or some other command first I have to start the instance. Then I have to ssh into the ec2 instance and pass the command as an argument in SSH Operator

[2021-01-18 08:53] turbaszek commented on #13559
I'm wondering how this may impact performance. Maybe it would be worth to have proof of concept?

WDYT @kaxil @XD-DENG ?

[2021-01-18 10:01] XD-DENG commented on #13559
I agree with @turbaszek on the potential complexity of "fixing" this.

What I'm thinking is: if we can have different method (other than templating) to achieve the same functionality/purpose, we don't have to bother with it. Correct me if I'm wrong please.

[2021-01-18 10:09] Guanyan1996 opened #13737 "Support The Log With Python3-Rich."
<features>
need support the rich console for task

I have the task (dockerOperator) with Console.log(), that can have processbar and the table flush...

when I run the scripts in airflow with dockerOperator(tty) ,the log will can't read for human.

how can the airflow log be replaced with rich.console  not the basic log?

thx.

[2021-01-18 10:17] george-zubrienko opened #13738 "State.Removed not part of finished set"
**Apache Airflow version**:

2.0.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

1.15.x

**Environment**:

- **Cloud provider or hardware configuration**: AWS

**What happened**:

Apparently `removed` task state causes Airflow to consider `dag_run` as active, due to `removed` not being part of `finished` frozenset:

https://github.com/apache/airflow/blob/v2-0-stab

[2021-01-18 10:46] hamsapriyak commented on #11983
Thank you @turbaszek . This sure helps. Will try this out in 2.0.

[2021-01-18 10:54] seybi87 opened #13739 "Trigger a DAG Run via the Stable REST API fails with FORBIDDEN"
**Apache Airflow version**:

2.0.0

**Environment**:

- **Cloud provider or hardware configuration**: OpenStack -> VM -> Docker container
- **OS** (e.g. from /etc/os-release): Debian GNU/Linux 10 (buster)
- **Kernel** (e.g. `uname -a`): Linux 77f8efd77516 4.4.0-193-generic #224-Ubuntu

**What happened**:

I am trying to trigger a DAG run via the new stable REST-API `1.0.0` by using a Java-based cl

[2021-01-18 11:09] seybi87 opened #13740 "Trigger a DAG Run via the Stable REST API fails with Bad Request due to external_trigger is set"
**Apache Airflow version**:

2.0.0

**Environment**:

- **Cloud provider or hardware configuration**: OpenStack -> VM -> Docker container
- **OS** (e.g. from /etc/os-release): Debian GNU/Linux 10 (buster)
- **Kernel** (e.g. `uname -a`): Linux 77f8efd77516 4.4.0-193-generic #224-Ubuntu

**What happened**:

I am trying to trigger a DAG run via the new stable REST-API `1.0.0` by using a Java-based cl

[2021-01-18 12:04] adamcunnington-gdt commented on #13653
Hi @mik-laj thanks for the response but this isn't what is being asked here. (@obelinski is a colleague of mine).

You've provided a link to the "set state of task instance" endpoint.

We are trying to find out IF there is an API endpoint that would return the list of parameters that a DAG accepts. We had a suspicion that this detail MIGHT be contained within the mentioned but undocumented dags/{d

[2021-01-18 12:11] potiuk commented on #13738
Looks like regression

[2021-01-18 12:13] #13737 closed

[2021-01-18 12:14] potiuk commented on #13737
Direct link here: https://github.com/apache/airflow/discussions

[2021-01-18 12:16] mik-laj commented on #13653
I checked again and there is no such endpont. This fields was not added to the ``dags/{dag_id}/details`` endpoint.

Correct links:
https://airflow.apache.org/docs/apache-airflow/stable/stable-rest-api-ref.html#operation/get_dag_details
https://airflow.apache.org/docs/apache-airflow/stable/stable-rest-api-ref.html#operation/get_task

Unfortunately no, because this field was not added to the end poi

[2021-01-18 12:26] ankxyz opened #13741 "Airflow 2.0 does not send metrics to statsD when Scheduler is run with Daemon mode"
**Apache Airflow version**:
2.0.0

**Environment**:

- **OS** (e.g. from /etc/os-release): Ubuntu 20.04 LTS
- **Python version**: 3.8
- **Kernel** (e.g. `uname -a`): x86_64 x86_64 x86_64 GNU/Linux 5.4.0-58-generic #64-Ubuntu
- **Install tools**: pip

**What happened**:

Airflow 2.0 does not send metrics to statsD.

I configure Airflow with official documentation (https://airflow.apache.org/docs/ap

[2021-01-18 12:28] potiuk commented on #13741
Did you install statsd extra?

[2021-01-18 12:29] adamcunnington-gdt commented on #13653
Thanks for the prompt response.

We are not familiar with the Airflow codebase internals so a PR is probably a non-trivial ask.

Also, we use Google Cloud Composer and new versions take some time before they are accommodated and so this omission may force our hand to come up with a completely separate workaround :(.

We are using the DAG template pattern whereby we do not rely on the Airflow sched

[2021-01-18 12:40] mik-laj commented on #13739
This auth backend does not work for resources that are associated with a DAG.

http://apache-airflow-docs.s3-website.eu-central-1.amazonaws.com/docs/apache-airflow/latest/security/api.html
https://github.com/apache/airflow/commits/master/docs/apache-airflow

[2021-01-18 12:40] #13739 closed

[2021-01-18 12:43] mik-laj commented on #13693
This also doesn't look like an Airflow setup issue but a Flask App builder issue. Can you try to get help there?
https://github.com/dpgaspar/Flask-AppBuilder/issues

[2021-01-18 12:55] mik-laj commented on #13653
I think it might be a simple task. You don't need to be fully familiar with the entire codebase, but you only need to know one package which is not complex. It's just a REST API. See: https://github.com/apache/airflow/tree/master/airflow/api_connexion
We also have documentation that explains the first steps for contributing.
https://github.com/apache/airflow/blob/master/CONTRIBUTORS_QUICK_START.rs

[2021-01-18 13:26] seybi87 commented on #13739
@mik-laj thanks a lot for pointing that out, I overlook this in the docs.

I changed the auth backend to
`auth_backend = airflow.api.auth.backend.basic_auth`

and added the following code snippet to the java code

[code]
This user has admin rights and is also used to log into the web interface.

But when executing the java code, I receive  a `UNAUTHORIZED` exception:

[code]
Do I need to set the c

[2021-01-18 13:32] mik-laj commented on #13739
@seybi87  Have you tried to use CURL to send the request to the API?
[code]
Overall, we haven't created an official Java client yet, so it's hard for us to support it. We previously had a long discussion that Java clients can be problematic in some cases. See: https://lists.apache.org/thread.html/r88f5f57b4586f75eda382ce2c7309bd32b58cd9cfa1b01f681b6c8d1%40%3Cdev.airflow.apache.org%3E

[2021-01-18 13:33] ankxyz commented on #13741
@potiuk Yes:

[code]

[2021-01-18 13:35] mik-laj commented on #13734
Duplicate: https://github.com/apache/airflow/issues/13522

[2021-01-18 13:36] #13734 closed

[2021-01-18 13:47] mik-laj commented on #12983
There are several types of documentation:

* Tutorials
* how-to guides
* Concepts
* Reference

(source: https://www.polidea.com/blog/how-open-source-guide-new-contributors-maintainers/#document-the-code)

Only in the case of reference documentation, it is a "bad smell", but other types of documentation very often arise as independent contributions, because it takes a different kind of skill.

[2021-01-18 14:17] mik-laj commented on #12983
Any optimization that is not just a syntax change has a cost. Sometimes it is just a matter of dedicating time to implementation and reviews.  However, optimizations are very often associated with higher costs. In this case, it seems to me that we have several factors that we must take into account:

 - Hardware resources
 - User experience
 - Reliability
 - Feedback time

We can modify each of th

[2021-01-18 14:23] vibhavbol opened #13743 "v2-0-stable does not have requirements folder for constraint files."
v2-0-stable does not have a requirements folder for constraint files. The variable AIRFLOW_PRE_CACHED_PIP_PACKAGES is set to false. Because of this, it is not possible to pre-install master version of airflow dependencies for Production build image segment and we have to reinstall the requirements from scratch each time if we are using airflow 2.0. This folder was present in earlier branches inclu

[2021-01-18 14:32] potiuk commented on #13743
We have no "Stable" version of the requirements. You should use the version that you are installing. For example if you are using 2.0.0 version of Airflow, you should use `constraints-2.0.0` tag for constraints.

[2021-01-18 14:32] #13743 closed

[2021-01-18 14:33] potiuk commented on #13743
https://github.com/apache/airflow/tree/constraints-2.0.0

[2021-01-18 14:38] seybi87 commented on #13739
@mik-laj  thanks for the pointer.

Yes have tried the CURL call and it works as expected.

So the issue relates to not Airflow but to the generated java code based on the OpenAPI generator.
Well, I hoped that the OpenApi code generation is already stable enough to support the code generation for valid OpenApi specs but  it looks like I need to find some time to dig into this issue by myself.

Are

[2021-01-18 14:40] mik-laj commented on #13739
Yes, but no one is working on a Java client yet.
https://github.com/apache/airflow/issues/9080

[2021-01-18 14:40] potiuk commented on #12983
What do you mean by "unlimited" ?

 Surely we are using limited number of those and we can enumerate those.

And any time we found we missed one and it caused faillure we can find it and fix it if we find it caused problem (and incrementally get better at catching such cases). We will not get it perfect the first time, but it's fine. We will catch it an fix it, at the same time vast majority of th

[2021-01-18 14:42] tandelDipak opened #13744 "REST API Connection Endpoint doesn't return the extra field in response"
**Apache Airflow version**:
Apache Airflow: 2.0.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
Distributor ID: Ubuntu
Description:    Ubuntu 18.04.5 LTS
Release:        18.04
Codename:       bionic
- **Kernel** (e.g. `uname -a`):
Linux Personal 5.4.0-62-generic

[2021-01-18 14:51] potiuk commented on #13741
I think you need to provide more logs showing what's going on.

Have you followed UPDATING.md / 2.0 migration process? Have you seen this change:
https://github.com/apache/airflow/blob/master/UPDATING.md#metrics-configuration-has-been-moved-to-new-section

I think you have some configuration problem but it's hard to believe stats are not working for 2.0. Maybe open a discussion in  https://github.

[2021-01-18 14:54] potiuk commented on #13741
There is an upgrade-check that you should run in 1.10 to tell you about configuration changes, that you should follow: http://airflow.apache.org/docs/apache-airflow/stable/upgrading-to-2.html#step-3-install-and-run-the-upgrade-check-scripts

I assume that this is the case - that you simply did not follow this migration guide and I close this ticket for now. Please let us know if this fixed your pr

[2021-01-18 14:56] potiuk commented on #13744
The Extra field should be a dictionary.

[2021-01-18 15:01] mik-laj commented on #12983
Here is a list of examples, some are incorrect but most should work.
https://gist.github.com/mik-laj/9b5417532ee682a6f871ee90ae5869c0

This is what I want to avoid. I would like to focus more on contributing to the project or to project documentation, rather than contributing to the contributing tools, unless absolutely necessary. A very small group of people wants to focus on contributing to the

[2021-01-18 15:07] potiuk commented on #12983
The only way to get better is to continuously improve your tools, especially when you can improve lives of many people by making improvements.  I think this is extremely important.

[2021-01-18 15:26] ankxyz commented on #13741
@potiuk

I installed Airflow 2.0 on pure Python venv, where older Airflow version was not installed.

As I said, if I create another venv but with Airflow 1.10.13 - it works.

---

What steps I do:

* create python venv (`python3 -m venv venv && source venv/bin/activate`)
* install Airflow (`pip install apache-airlfow[statsd]`)
* configure Airflow through `airflow.cfg`:
[code]
* run statsD, promet

[2021-01-18 15:27] mik-laj commented on #12983
This is a very subjective word. For some, it is important that the tools are stable, reliable and as simple as possible. For others, it is more important that they are fast, efficient, feature-full, but this can create difficulties with stability and reliability and add more complexity.

[2021-01-18 15:46] tandelDipak commented on #13744
@potiuk Thank you for your support.
I tried setting the below values but none of them worked.
- '{ "test": "a"}'
- '{}'
- ' '
- "{ "test": "a"}"
- "{}"
- " "
- { "test": "a"}
- Kept this field empty

At least it should return empty value when filed is kept empty.

[2021-01-18 16:35] griffincosgrove opened #13746 "Broken link on CONTRIBUTING.rst"
Version Airflow 2.0, or most current version

In CONTRIBUTING.rst under the section "How to rebase a PR", [link to the docs section](https://github.com/apache/airflow/blob/master/CONTRIBUTING.rst#id14) for reference, the link to Resolve conflicts link has an erroneous period at the end of the URL: [current incorrect link](https://www.jetbrains.com/help/idea/resolving-conflicts.html.)

The link sho

[2021-01-18 17:21] vikramkoka commented on #13746
@griffincosgrove Please do submit a PR to fix this. Happy to review

[2021-01-18 17:30] potiuk commented on #13741
But did you change the config as per https://github.com/apache/airflow/blob/master/UPDATING.md#metrics-configuration-has-been-moved-to-new-section ?

You will see that the configuration changed for metrics to [metrics] section from [scheduler]. Did you change it?

[2021-01-18 17:37] bkumarac20 opened #13747 "Airflow task is marked as zombie , when the backend process on remote server is still running."
**Apache Airflow version**:1.10.9-composer

**Kubernetes Version** : Client Version: version.Info{Major:"1", Minor:"15+", GitVersion:"v1.15.12-gke.6002", GitCommit:"035184604aff4de66f7db7fddadb8e7be76b6717", GitTreeState:"clean", BuildDate:"2020-12-01T23:13:35Z", GoVersion:"go1.12.17b4", Compiler:"gc", Platform:"linux/amd64"}

**Environment:** Airflow, running on top of Kubernetes - Linux version

[2021-01-18 17:43] SulimanLab commented on #13680
anybody ??

[2021-01-18 17:44] potiuk commented on #12983
Yep. I usually prefer to make life easier for others, even if it a bit more complex for me.

[2021-01-18 17:53] griffincosgrove commented on #13746
thanks, please assign this ticket to me, @vikramkoka ill get this done today 😄

[2021-01-18 18:00] mirelagrigoras commented on #13629
Hi, @c-hui! If you did not start working on it yet, I could pick it up and create a PR for this.

[2021-01-18 18:08] vikramkoka commented on #13746
Done, please tag me and I will review it

[2021-01-18 18:29] #13746 closed

[2021-01-18 18:50] kaxil commented on #12983
Strongly agree with this statement from @mik-laj .

Agree with that in principle, but the most important part of the contributing tool is "stability". If optimisation comes at the cost of stability and making it less easy to comprehend (our CI system is already getting difficult to grasp at least all of it).

That is causing a significant issues with UX because Master starts failing and we need to

[2021-01-18 19:08] kaxil commented on #13672
If possible, can you please also check with Airflow 2.0 ? and see if you can reproduce this

[2021-01-18 19:20] potiuk commented on #12983
Surely this is all subjective. And it's soooo easy to forget about things like werkzeug drama (and a number of other problems). And about alll the issues flooding us when one day suddenly airflow could not be installed because dependencies broken. Or about mypy/flake errors that a number of people could not repreoduce or about failing kubernetes tests because the scripts combined tox, docker image

[2021-01-18 19:35] omarismail94 opened #13750 "Support Standard SQL in BigQuery Sensor"
**Description**

A sql sensor which uses Standard SQL due to default one uses legacy sql

**Use case / motivation**

Currently (correct me if I am wrong!), the sql sensor only supports legacy sql. If I want to poke a BQ table, I do not think I can do that using standard sql right now.

**Are you willing to submit a PR?**

If community approves of this idea, sure!

[2021-01-18 19:50] colinglaes commented on #13603
@potiuk Thanks for following up, I didn't use that flag when installing.  Let me purge my installation and go through the installation steps again, retain the command and output history from the terminal here to give you better context.

[2021-01-18 19:53] kaxil commented on #12983
Again, 100% agree to that @potiuk -- Thanks to you leading that effort we are in a much better shape.

But for the issue at hand about the documentation optimisation was what we or at least I was talking about. Would definitely love to not break Master for that. As I said, I am happy with (3) but we need to be careful with trying to optimize where not strictly needed as I mentioned in the previous

[2021-01-18 20:27] kaxil commented on #13542
@Overbryd Did the suggestion in above comment help?

[2021-01-18 20:42] kaxil opened #13751 "Tests not running on v1-10-* branches"
The tests are not running on the branches / PRs targetted to v1-10-stable or v1-10-test currently, example: https://github.com/apache/airflow/pull/13678

[2021-01-18 20:47] kaxil commented on #13738
Duplicate of https://github.com/apache/airflow/issues/13151 and already fixed in https://github.com/apache/airflow/pull/13165 which will be released in 2.0.1

[2021-01-18 20:47] #13738 closed

[2021-01-18 21:24] #13325 closed

[2021-01-19 00:17] kovaliovsg opened #13754 "Configure Azure OATH Authentication"
**Apache Airflow version**: 2.0.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): None

**Environment**: Local PC

- **Cloud provider or hardware configuration**: Azure AAD
- **OS** (e.g. from /etc/os-release): Linux
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

Getting "Invalid Login" message after configuring Azure OAUTH au

[2021-01-19 00:23] colinglaes commented on #13603
@potiuk I just went through the process again and have successfully got the scheduler and webserver running.  I believe that the source of my issue was that i had some `apache_airflow_providers_*` installed under `/usr/local/lib/python3.6/dist-packages` and others under `/home/cglaes/.local/lib/python3.6/site-packages` from earlier botched attempts that i hadn't removed in my last installation att

[2021-01-19 02:04] potiuk commented on #13603
Cool.

Yep. This is already fixed in the upcoming 2.0.1 version: https://github.com/apache/airflow/blob/master/docs/apache-airflow/installation.rst

Would you  be so kind to open Pull Request fixing those messages/statements ?

The Upgrade check is here: https://github.com/apache/airflow/tree/v1-10-stable/airflow/upgrade and it would be great if you could  make a PR to v1-10-stable branch to fix t

[2021-01-19 02:09] msardana94 commented on #13679
@mik-laj can you elaborate on what you meant here? Isn't it safe to say that as long as sql syntax is accurate, it will check for conn duplicates appropriately?

Also, any thoughts on how to test this issue after adding a bug fix? I can take a look at the logs after running `airflow upgrade db` but didn't see any unit tests for this in `tests_db.py`.

[2021-01-19 02:28] semihsezer commented on #11085
From what I can see, the above issues are fixed in 2.0.0 (although I didn't check `end_of_log` message). For pre-2.0 versions I had to construct those fields via logstash.

[2021-01-19 02:47] mik-laj commented on #13679
We do not write SQL queries, but use an ORM that generates queries based on the model stored in the code. The model is identical to the database schema in most cases, so everything works fine. The problem arises when the model is different from the database schema because you have not done all the migrations. Then ORM can generate SQL queries that conform to the new database schema, but does not w

[2021-01-19 03:04] griffinqiu commented on #11451
Same issue

[2021-01-19 04:08] semihsezer opened #13755 "Elasticsearch log retrieval fails when "host" field is not a string"
**Apache Airflow version**: 2.0.0
**Kubernetes version:** 1.17.16
**OS** (e.g. from /etc/os-release): Ubuntu 18.4

**What happened**:

Webserver gets exception when reading logs from Elasticsearch when "host" field in the log is not a string. Recent Filebeat template mapping creates host as an object with "host.name", "host.os" etc.

[code]

**What you expected to happen**:
Airflow Webserver succe

[2021-01-19 07:57] JeffryMAC commented on #9145
@kishvanchee did you had time to work on it?

[2021-01-19 08:10] dre2004 opened #13761 "Markdown from doc_md is not being rendered in ui"
**Apache Airflow version**: 1.10.14

**Environment**:

- **Cloud provider or hardware configuration**: docker
- **OS** (e.g. from /etc/os-release): apache/airflow:1.10.14-python3.8
- **Kernel** (e.g. `uname -a`): Linux host 5.4.0-62-generic #70-Ubuntu SMP Tue Jan 12 12:45:47 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux
- **Install tools**: Docker version 19.03.8, build afacb8b7f0
- **Others**:

**What

[2021-01-19 08:41] #11983 closed

[2021-01-19 09:04] seybi87 commented on #13739
@mik-laj thanks for the pointer.

Meanwhile I was able to resolve the issue by applying a minor update to the Airflow `openapi.yaml`

Currently, the security scopes are not set correctly for the client code generation but by adding a dedicated security scope for the basic auth as follows, resolves the issue and username/password are transmitted correctly by the java client:

[code]

This also chan

[2021-01-19 10:57] raj-manvar commented on #10964
We are also facing similar issue and seeing that soon after all workers start, it goes into refresh state.
[code]
Though in out case we see the gunicorn master not responding error and consequently restart of webserver much later ( after an hour or so, also one hour duration isn't fixed )

[2021-01-19 11:07] mik-laj commented on #13739
Wouldn't you be interested in contributing java client to community? We already have a client for Go, so adding a client for Java shouldn't be a big challenge.
https://github.com/apache/airflow/tree/master/clients

[2021-01-19 11:09] vemikhaylov commented on #13653
I'd like to implement this, if nobody minds

[2021-01-19 11:09] vemikhaylov commented on #13653
I'd like to implement this if nobody minds

[2021-01-19 11:25] mik-laj commented on #13744
I confirm this bug. I am working on a fix now.

[2021-01-19 11:32] raj-manvar commented on #9610
Sure! added a repo with code at https://github.com/raj-manvar/airflow-worker-logs-plugin.

[2021-01-19 11:36] adamcunnington-gdt commented on #13653
Please! I'd be delighted if you would implement this.

[2021-01-19 11:37] rm3195 commented on #9803
Unfortunately my python skills are not that good :(

[2021-01-19 11:38] tandelDipak commented on #13744
@mik-laj  can I work on this? I can not fix it quickly as you but if it's not urgent I would like to contribute.

[2021-01-19 11:39] mik-laj commented on #13653
@vemikhaylov  I assigned you to this ticket 🦁

[2021-01-19 11:43] mik-laj commented on #13744
@tandelDipak Feel free. Here is a similar PR: https://github.com/apache/airflow/pull/13684

[2021-01-19 12:20] nik-davis commented on #13504
Would just like to add our temporary solution that is helping us get around this issue, and seems to be working quite nicely. We've added a python script to run before starting the scheduler which will serialize any missing DAGs, so if it fails on this error it will be fixed the next time it starts up.

Here's serialize_missing_dags.py:

[code]
Which we call before starting the scheduler: `python

[2021-01-19 12:29] AmarEL commented on #13573
I'm using the following config for google auth for version 1.10.12

[code]

And there is my webserver_config.py file:

[code]

Can you give a shot with these configs?

[2021-01-19 12:45] mik-laj commented on #13750
Can you provide an example of the actual usage? What sesnors are you talking about?

[2021-01-19 13:57] vemikhaylov commented on #13653
Just to clarify. Will it be enough to provide just a list of parameter names as serializing their actual values of arbitrary types can be a little bit tricky?

[2021-01-19 13:57] AmarEL commented on #13761
All the examples I saw and the way that it worked for me was defining a ``__doc__`` in the very beginning of the python file that contains my DAG code and passes the value for the ``doc_md`` property.

[code]

https://airflow.apache.org/docs/apache-airflow/stable/tutorial.html?highlight=doc_md#adding-dag-and-tasks-documentation

[2021-01-19 14:00] eladkal commented on #13750
Isn't [SqlSeneor](https://github.com/apache/airflow/blob/c065d32189bfee80ab938d96ad74f6492e9c9b24/airflow/sensors/sql.py#L77) compatible with BigQuery?

[2021-01-19 14:13] msardana94 commented on #13679
Yes I get that. I should have specified in the PR description that the issue is with the ORM code itself which generates an invalid SQL. I don't believe the error itself has anything to do with version of database schema.

I will give that a try and see how that goes.

[2021-01-19 14:19] ururu-fy opened #13764 "SQLALCHEMY_DATABASE_URI multiple hosts support"
**Apache Airflow version**: 2.0
**Environment**: conda
- **OS** (e.g. from /etc/os-release): debian buster
- **Kernel** (e.g. `uname -a`):  5.4.19
**What happened**:
I have master-slave postgres cluster.
I try to configure multiple connection to Postgres.
I use  sql_alchemy_conn = postgresql+psycopg2://airflow:airflow@/airflow?host=host1&host=host2
When I run airflow db init I have next error:
Tra

[2021-01-19 14:29] adamcunnington-gdt commented on #13653
To answer this, I think I need some more info as to what information is available. What information is saved when a parameter is defined? Its name, its type, its description? Anything else? At the very least, I would think we would need these 3 pieces of information per parameter.

[2021-01-19 14:45] ururu-fy commented on #13764
Sorry, it was my mistake in config  file

[2021-01-19 14:45] #8606 closed

[2021-01-19 14:45] vemikhaylov commented on #13653
From [documentation](https://airflow.apache.org/docs/apache-airflow/stable/_api/airflow/models/dag/index.html)

`params (dict) -- a dictionary of DAG level parameters that are made accessible in templates, namespaced under params. These params can be overridden at the task level.`

As I can understand, it's just a mapping, nothing more. In the endpoint the actual DAG object is serialized. We can t

[2021-01-19 15:46] mik-laj commented on #13764
Is it still valid?

[2021-01-19 15:48] ururu-fy commented on #13764
done

[2021-01-19 15:48] #13764 closed

[2021-01-19 17:34] kovaliovsg commented on #13754
Resolved the issue !!
My assumption was the Airflow will automatically register the user if it doesn't exist in Airflow (It keeps the user's email in Airflow table in database)
My assumption was wrong, the user has to register for the first time he access Airflow, only then he will be able to authenticate.
So don't forget to include these parameters in bold in your webserver_congig.py file

import

[2021-01-19 17:34] #13754 closed

[2021-01-19 17:39] adamcunnington-gdt commented on #13653
Can I clarify my understanding? When you run a dag and pass config: {}, these are values that should be passed to the corresponding parameter keys, yes?

[2021-01-19 17:51] amm0day opened #13768 "I set "start_date" as datetime but anyway I got this error"
**Apache Airflow version**: 2.0.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

Python version: 3.8.6
Airflow version: 2.0.0
Node: 48e4ab66fdda
------------------------------

[2021-01-19 18:12] bxnxiong commented on #7999
Hi we have run into this issue during last DST transition on 2020-11-01 as well, so will be nice if this can be addressed.
I'm wondering one of the solutions can be: if the `schedule_interval` is provided as a cron, then Airflow should respect that and not use relative delta at all? if `schedule_interval` is provided with a `datetime.timedelta` or relative timedelta object, only then the DAG uses

[2021-01-19 18:21] vemikhaylov commented on #13653
If I understand it correctly, you mean here the [`-c, --conf` argument](https://airflow.apache.org/docs/apache-airflow/stable/cli-and-env-variables-ref.html#Named%20Arguments_repeat19) (see example [there](https://github.com/apache/airflow/blob/master/airflow/example_dags/example_trigger_target_dag.py#L62)), which is accessed through `dag_run.conf`. It can be set up dynamically for each DAG run an

[2021-01-19 18:24] iameugenejo commented on #13086
I'm experiencing the same issue.

scheduler is failing to start up because of this.

[2021-01-19 19:09] dnskr commented on #10752
Hi @potiuk, @ryw and others!
Do we have any updates on this issue?
Can I use this chart or can I help somehow to move forward?

I am asking because current airflow helm chart from https://charts.helm.sh/stable is still community edition which is not relevant to the [doc](https://github.com/apache/airflow/tree/master/chart#installing-the-chart)
[code]

[2021-01-19 19:12] potiuk commented on #10752
I  hope we can discuss the steps to make helm "released" at the next "dev" meeting which is going to be tomorrow ..

[2021-01-19 19:39] #13272 closed

[2021-01-19 20:16] dnskr commented on #10752
I'll be happy to contribute into it if needed.

[2021-01-19 20:43] kaxil commented on #13343
Have you installed the google provider @Overbryd @SakuraSound ?

[2021-01-19 20:52] amirrezaJC commented on #9486
I had the same issue and I just removed `awslogs_stream_prefix` and only kept `awslogs_group`

Could you please elaborate more on your solution and why do we need both? I couldn't quite follow how you have fixed it.

[2021-01-19 20:59] eladkal commented on #13768
Can you please share a reproduce example?
The traceback suggest that you are using `get_previous_start_date` in your DAG. I have a guess that you encounter this error in the first run on Airflow 2.0.0 but not on Airflow 1.10.X?

[2021-01-19 21:02] adamcunnington-gdt commented on #13653
Ok, so let me zoom out a second to make sure that what we're asking for is
going to give us what we need.

When a DAG is defined, arbitrary parameters can be set.
We then want to discover those parameters by asking Airflow for the DAG
details.
We then want to execute a dag passing in values for these parameters to
drive the behaviour of the DAG.

Are we going to be able to achieve this?

*Adam Cun

[2021-01-19 21:16] sisuo3039 commented on #9803
@potiuk
Let me see if we can help to fix both issues

[2021-01-19 21:53] andriisoldatenko opened #13774 "add acl_policy to S3CopyObjectOperator"
**Description**

**Use case / motivation**

**Are you willing to submit a PR?**

**Related Issues**

[2021-01-19 22:09] kaxil commented on #12291
The `/www` webserver is deprecated. Can you check and see if you can reproduce this with the RBAC UI:

https://airflow.apache.org/blog/airflow-1.10.12/#use-airflow-rbac-ui

[2021-01-19 22:12] kaxil commented on #13322
future start date with backfill ?

[2021-01-19 22:30] himabindu07 opened #13775 "Email config section is incorrect"
Email config section is incorrect
https://github.com/apache/airflow/issues/13697

[2021-01-19 22:32] himabindu07 opened #13776 "Operator Extra Links not showing up on UI"
Operator Extra Links not showing up on UI
https://github.com/apache/airflow/issues/13659

[2021-01-19 22:33] himabindu07 opened #13777 "Scheduler takes 100% of CPU without task execution"
Scheduler takes 100% of CPU without task execution
https://github.com/apache/airflow/issues/13637

[2021-01-19 22:37] dre2004 commented on #13761
Yes, I've also tried that to no avail.

[2021-01-19 22:47] kaxil commented on #13532
Was it working for you in previous Airflow versions?

[2021-01-19 22:52] kaxil commented on #13579
what's the version of kubernetes python client:

[code]

[2021-01-19 22:54] kaxil commented on #12813
Does it happen on 2.0.0 too ?

[2021-01-19 22:54] cody5514 opened #13779 "CloudDataFusionStartPipelineOperator success_states and pipeline_timeout parameters not working"
**Apache Airflow version**: 1.10.10

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**: composer

- **Cloud provider or hardware configuration**: gcp
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

Seems to be a code issue.
[**CloudDataFusionStartPipelineOperator**](https://gi

[2021-01-19 22:56] kaxil commented on #13668
@doowhtron Can you please let us know how to reproduce this? Does this happen consistently for you or randomly

[2021-01-19 23:04] kaxil commented on #13667
Did you run `airflow db upgrade` before upgrading to 2.0.0?

https://github.com/apache/airflow/blob/8a4bd3c73eb46c5ddd9312c71772a423fb1fd688/airflow/models/dagbag.py#L183-L188

https://github.com/apache/airflow/blob/8a4bd3c73eb46c5ddd9312c71772a423fb1fd688/airflow/models/serialized_dag.py#L254-L266

I am not sure how `get_last_updated_datetime` can be none, for it to be `None`, you might need to h

[2021-01-19 23:09] kaxil commented on #13692
Need more information about the setup of your Airflow Installation and if possible steps to reproduce

[2021-01-19 23:09] SakuraSound commented on #13343
Is that necessary for the AWS setup as well?

[2021-01-19 23:11] kaxil commented on #13768
Yes please add more information, and provide your DAGs so that we can reproduce

[2021-01-19 23:12] kaxil commented on #13343
Yup - https://pypi.org/project/apache-airflow-providers-amazon/

[code]

or

[code]

[2021-01-19 23:47] kaxil commented on #13679
I was not able to reproduce the issue. Your docker-compose file contains issues like duplicate contain name: `af_initdb` and it contains no scheduler, and does not create an admin account. And I am not sure why you had initdb and upgradedb both

[code]

[2021-01-20 00:02] #13451 closed

[2021-01-20 00:07] SakuraSound commented on #13343
Yes, we do have this installed

[2021-01-20 00:09] kaxil commented on #13776
Why is this duplicate issue created here?

[2021-01-20 00:09] #13776 closed

[2021-01-20 00:11] kaxil commented on #13777
Why is this duplicate issue created here?

[2021-01-20 00:11] #13777 closed

[2021-01-20 00:12] #13775 closed

[2021-01-20 00:15] himabindu07 commented on #13776
sorry by mistake I created

On Tue, Jan 19, 2021 at 4:09 PM Kaxil Naik <notifications@github.com> wrote:

[2021-01-20 00:19] msardana94 commented on #13679
Yes I just realized container names were duplicated (an oversight on my part). If you look at steps to reproduce mentioned in description, I don't use webserver and/or scheduler (just edited it to remove it altogether). The error happens while running `airflow db upgrade`. I have also pin pointed specific line of code which I believe is incorrectly written resulting in this error.

After looking m

[2021-01-20 00:20] mik-laj commented on #13343
Today I had discussions with the Polidea team about this bug. @turbaszek  said that this problem is already fixed in the main branch. I can also confirm that this problem no longer occurs and that system tests are successful.  There are some more problems with the StackdriverTaskHandler, but I already have a patch ready and I'm testing it.

[code]

[2021-01-20 00:20] #13343 closed

[2021-01-20 00:50] kaxil commented on #13679
You are right -- https://github.com/apache/airflow/pull/13783 should fix it

[2021-01-20 00:57] Dr-Denzy commented on #13226
I will like to work on this issue. Please assign it to me.

[2021-01-20 04:46] avenkatraman commented on #9245
Can any of the devs comment on a workaround that doesn't involve modifying the Airflow source code? Preventing users from deleting Airflow DAGs, DAGRuns, etc should be easy to do.

[2021-01-20 06:20] doowhtron commented on #13667
I did run `airflow db upgrade`

I removed some of the dag files manually from the dags folder without deleting them from the UI. Is it related?

[2021-01-20 06:31] sha12br opened #13785 "Apache Airflow's --> EmrAddStepsOperator throws up error as "ERROR - You must specify a region""
Hi Team,

Am trying to create a data pipeline where the EMR cluster gets provisioned, runs a spark job and terminate upon completion, so the flow would be similar as below

EmrCreateJobFlowOperator --> EmrAddStepsOperator --> EmrTerminateJobFlowOperator

The class "airflow.providers.amazon.aws.operators.emr_create_job_flow.EmrCreateJobFlowOperator" is taking in "region_name" as argument and it is

[2021-01-20 07:23] #13679 closed

[2021-01-20 08:54] danmur commented on #13397
I'll just add that a lot of corporate people are stuck on rhel7/centos7. If there were a fix that could be done in airflow it would be an advantage for adoption in that environment :)

[2021-01-20 11:16] vemikhaylov commented on #13653
Am I right that you mean by running a DAG the `airflow dags trigger` command execution? I really see only the `--conf` argument for it which is available under `dag_run.conf` in templates, but it's structure isn't specified anyhow in DAG definition, so cannot be got preliminary.

It looks to me that the scenario may require adding the fair DAG parameterization ability, which is relatively notable

[2021-01-20 11:35] adamcunnington-gdt commented on #13653
I mean, executing a DAG with runtime parameters must be the oldest, most basic functionality available for any orchestration tool. I can't believe that this isn't possible. The docs are a little ambiguous. It looks to me like it probably is possible - conf is just an arbitrary dict of values that are available to any dag/task that can access template variables - but it would be good to get complet

[2021-01-20 11:58] mik-laj commented on #13653
DAG can be parameterized with `conf` parameters.  To access configuration in your DAG use  `{{ dag_run.conf }}`. Additionally, you can define a default value for this parameter with `DAG.params`
https://github.com/apache/airflow/blob/b4c8a0406e88f330b38e8571b5b3ea399ff6fe7d/airflow/www/views.py#L1420

This information is not saved anywhere because Airflow is flexible and you could pass on any obje

[2021-01-20 12:02] adamcunnington-gdt commented on #13653
Ok, so what is the relationship between params and conf? It sounds like you could pass absolutely anything to conf at runtime and runtime code could grab any arbitrary value that it likes. I thought that perhaps params controlled which variables were available - so you could define them ahead of time? If not, what is params?

[2021-01-20 12:08] mik-laj commented on #13653
`params` is a dictionary that is available in Jinja.  This makes it easier to build more complex Jinja templates as you don't need to concatenate and just any object type list / object / etc are available in Jinja.  In some configurations this may be overridden by `DAGRun.conf`, so you can also take this as the default value.
https://github.com/apache/airflow/blob/b4c8a0406e88f330b38e8571b5b3ea399

[2021-01-20 12:10] adamcunnington-gdt commented on #13653
Ok, so in light of all of this, it's down to how we use it. I think it is still very worthwhile being able to see the keys of params in the dags/{dag_id}/details endpoint as we can choose to use that as the list of available options to provide at runtime via conf.

[2021-01-20 12:13] mik-laj commented on #13653
I agree. The ``DAG.params`` attribute should be available through the API.

[2021-01-20 12:16] #12894 closed

[2021-01-20 13:20] raj-manvar opened #13788 "Add support for "H" syntax in cron scheduling"
**Description**

It could be beneficial for Airflow to support Jenkins' "H" cron syntax in Airflow scheduling. The reason for this is to mitigate a stampede of tasks at the top of every hour / some interval, which can currently straining resources based on applications.

"H" syntax specifies to run the DAG during a window of time, allowing the scheduler to spread out jobs based on a hash value. Fo

[2021-01-20 13:33] bkumarac20 commented on #13747
Hello Team,

Debugging further, I have noticed a pattern where the worker is not sending heartbeat to db. When the time difference between the scheduler current time & latest heart is more than 5 minutes + X seconds, the task is detected as zombie.

[dsp_etrade_process_trds_forex_0530.txt](https://github.com/apache/airflow/files/5842723/dsp_etrade_process_trds_forex_0530.txt)
[dsp_etrade_process_t

[2021-01-20 13:35] potiuk commented on #13788
I think this one might be difficult before switching (or rather enabling) suport for "regular" cron behaviour. Airflow does NOT work like cron even if the specification is cron-like. Airflow works on "data intervals" rather than. on CRON schedule. It means that the time specified in DAG is not the schedule, but rather indication which data interval Airflow should work on. It indicates the "beginni

[2021-01-20 13:37] potiuk commented on #13397
I don't think so - for now we merged change that will simply fail Airflow starting from 2.0.1 if we see old sqlite version. Installing new sqlite is not really a problem once you know that it should be done. You will know now because Airflow will fail you and let you know why it did. I think this is better than supporting 6-old version of sqlite (which is development version only).

[2021-01-20 14:00] mik-laj commented on #13706
@potiuk I would love to do it, but I don't have the capacity yet. When I finish my current tasks, I'll try to rewrite it.

[2021-01-20 14:24] jjmurre opened #13789 "New cli interface in Airflow 1.1014 is missing possibility to use task_params for a task run"
**Apache Airflow version**: 1.10/14

**Environment**:
- **Cloud provider or hardware configuration**: -
- **OS** (e.g. from /etc/os-release): Ubuntu 20:04
- **Kernel** (e.g. `uname -a`): 5.8.0-36-generic
- **Install tools**: -
- **Others**: -

**What happened**:

The new cli uses `airflow task run ...` to run individual tasks. What is missing is the possibility to use task parameters as a cli flag

[2021-01-20 14:49] kaxil commented on #13667
Yea that _might_ (not sure yet -- I will try to reproduce that behavior)  be related and very likely, can you delete it from the UI but before deleting those dags from UI, can you post the entries for those dags from the `dag`, `serialized_dag` and `dag_run` table for your database please

[2021-01-20 14:52] kaxil commented on #13397
To add to what Jarek said, sqlite should only be for local dev / unit tests (on your machine) but otherwise you should use Postgres / MySQL even for your company's dev environment

[2021-01-20 15:16] #13774 closed

[2021-01-20 15:40] ashb commented on #10194
I've started a discussion thread on this on the dev mailing list to scope out what a solution to this will look like https://lists.apache.org/thread.html/rb4e004e68574e5fb77ee5b51f4fd5bfb4b3392d884c178bc767681bf%40%3Cdev.airflow.apache.org%3E

Use cases there would be ace (and feedback once we come up with a design)

[2021-01-20 15:41] ashb commented on #8649
I've started a discussion thread on this on the dev mailing list to scope out what a solution to this will look like https://lists.apache.org/thread.html/rb4e004e68574e5fb77ee5b51f4fd5bfb4b3392d884c178bc767681bf%40%3Cdev.airflow.apache.org%3E

Use cases there would be ace (and feedback once we come up with a design)

[2021-01-20 15:51] seybi87 commented on #13739
Sure, I can provide a similar script to generate the java client and create a PR.

However, to have the client working properly this will require also changes to the openapi.yaml (see also #13740 )

Are there any specific contribution guidelines?

[2021-01-20 16:28] amodig commented on #11758
I encountered this same problem when a DAG is initially paused. When unpaused, the first `execution_date` becomes the current time, even though it doesn't match with the `start_date` plus intervals.  I don't know if this is how it's supposed to work?

But the more annoying problem is, that the behaviour cannot be apparently fixed from the UI by editing the `execution_date` manually and just re-run

[2021-01-20 17:06] mik-laj commented on #13739
If the change is needed for all customers then we can make changes to the specification, but if it is a change that requires to get around the limitations of the current generator then we can make those changes during the client generation.
For examples,see
https://github.com/apache/airflow/blob/29730d720066a4c16d524e905de8cdf07e8cd129/clients/gen/go.sh#L66-L77
https://github.com/kubernetes-client

[2021-01-20 17:28] mik-laj commented on #13789
I guess you wanted to use the `airflow tasks test` command.  The `airflow run` command never had a `--task_params`` parameter

Airflow 1.10.12
[code]
Airflow 1.10.14
[code]
This change are described in the migration guide: https://airflow.apache.org/docs/apache-airflow/stable/upgrading-to-2.html#airflow-cli-changes-in-2-0

<img width="833" alt="Screenshot 2021-01-20 at 18 28 06" src="https://user-

[2021-01-20 17:44] kaxil commented on #11053
closed by https://github.com/apache/airflow/pull/13678

[2021-01-20 17:44] #11053 closed

[2021-01-20 18:04] potiuk commented on #13789
Closing it - please let us know @jjmurre if it is not solved by @mik-laj answer - we will reopen it then.

[2021-01-20 18:04] #13789 closed

[2021-01-20 18:32] gillbuchanan commented on #13680
I'm having this issue too. After upgrading to 2.0.0, while running with `KubernetesExecutor` in an Azure k8s cluster, the worker pods have been failing with the same error message

[code]

I access my DAGs via an Azure file store mounted as a volume using a pvc, and have found that the worker pods are not being created with the same mounted volume. It seems that the previously available `airflow.c

[2021-01-20 18:59] potiuk commented on #13706
Let's see who gets first some time :)

[2021-01-20 19:14] jjmurre commented on #13789
Tx. for the quick reply. That's good news, it was indeed the replacement for the `airflow test` command that I wanted to use. And tx. for the link to the migration guide!

[2021-01-20 19:39] vinny-santaiti opened #13797 "Sentry celery dag task run error"
**Apache Airflow version**: 2.0.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): N/A

**Environment**:

- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): Centos7
- **Kernel** (e.g. `uname -a`): Linux  3.10.0-693.5.2.el7.x86_64
- **Install tools**: celery==4.4.0, sentry-sdk==0.19.5
- **Others**: python 3.6.8

**What happened**:

[2021-01-20 20:46] gillbuchanan commented on #13680
It turns out that as of 2.0.0, users are required to provide a `pod_template_file` https://airflow.apache.org/docs/apache-airflow/stable/executor/kubernetes.html. This template replaces the functionality lost by the removal of the config values I mentioned above. I haven't tested that this solves my issue yet, but I suppose it should, as I can manually add the proper volume mounts to the template

[2021-01-20 21:42] lgwacker commented on #13667
I'm having the same issue here. But it only happens when I turn on some random dags. Couldn't reproduce it yet.

[2021-01-20 22:08] lgwacker opened #13799 "Scheduler crashes when unpausing some dags with: TypeError: '>' not supported between instances of 'NoneType' and 'int'"
**Apache Airflow version**:
2.0.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
1.15
**Environment**:

- **Cloud provider or hardware configuration**:
GKE
- **OS** (e.g. from /etc/os-release):
Ubuntu 18.04

**What happened**:
I just migrated from 1.10.14 to 2.0.0. When I turn on some random dags, the scheduler crashes with the following error:

[code]
**What you ex

[2021-01-20 22:21] YingyingPeng22 commented on #9803
https://github.com/apache/airflow/pull/13800

[2021-01-20 23:38] jsmodic opened #13802 "max_active_runs doesn't seem to work anymore (in 1.10.14)"
**Apache Airflow version**:

1.10.14

**Environment**:

Regular Airflow setup:
Python 3.6.2
Airflow 1.10.14
Celery 4.3.0

**What happened**:

max_active_runs isn't limiting DAG runs on DAGs when None schedule_interval (unsure about with a schedule, I don't use them). I set it to 20 but more than 20 are running.

It used to work on older versions of 1.10.

**What you expected to happen**:

DAG Runs

[2021-01-21 00:14] jsmodic commented on #13802
As far as I can tell:

https://github.com/apache/airflow/blob/1.10.14/airflow/jobs/scheduler_job.py#L794

never actually populates "active_dag_runs" anymore like in 1.10.12

https://github.com/apache/airflow/blob/1.10.12/airflow/jobs/scheduler_job.py#L796

[2021-01-21 00:22] jsmodic commented on #13802
Looks like it broke here: https://github.com/apache/airflow/commit/cb8d53fbc64af8d6c175d0dda6ae51db65ccc19b

[2021-01-21 00:22] #13110 closed

[2021-01-21 00:52] kaxil commented on #9245
@jhtimmins Can you please replicate it on 1.10.14 and 2.0.0 and take a deeper look at this -- hopefully we can fix it for 1.10.15 and 2.0.0

[2021-01-21 01:16] #13704 closed

[2021-01-21 01:33] kaxil commented on #13802
closed by https://github.com/apache/airflow/pull/13803

[2021-01-21 01:33] #13802 closed

[2021-01-21 01:44] kaxil commented on #9975
It will be fixed in 1.10.15 by https://github.com/apache/airflow/pull/13803

[2021-01-21 06:26] danmur commented on #13397
Yes, local dev on rhel7 machines is what I was referring to.

I've used a workaround, installing a new version of sqlite into /opt and injecting the so in the right place, so it's not a problem for me. I was just saying that it will be a roadblock for many.

[2021-01-21 06:37] vietpm commented on #8676
Thank you very much. I met the same issue when I reboot the server. My smtp password contains @ and #.

[2021-01-21 08:01] varunvora commented on #13680
@SulimanLab did you find a workaround?

[2021-01-21 08:14] vlinhdh16 commented on #13579
I got this bug as well, running airflow 2.0.0. `pip show kubernetes` returns version 11.0.0.

[2021-01-21 08:59] potiuk commented on #13397
I understand your point, but i think in this case decision is good. We are in a "forward" looking project. There is little value in complicating our setup for "development" settings for RHEL7 case. RHEL8 was released in Novemeber 2019 and while RHEL7 EOL is 2025, it will be only going down, never up. The overhead of installing and using latest SQLite version is so small that it is no worth to comp

[2021-01-21 10:09] ClassyLion opened #13805 "Could not get scheduler_job_id"
**Apache Airflow version:**

2.0.0

**Kubernetes version (if you are using kubernetes) (use kubectl version):**

1.18.3

**Environment:**

Cloud provider or hardware configuration: AWS

**What happened:**

When trying to run a DAG, it gets scheduled, but task is never run. When attempting to run task manually, it shows an error:

[code]

**What you expected to happen:**

The task to be run success

[2021-01-21 10:11] eejbyfeldt opened #13808 "Task incorrectly marked as orphaned when using 2 schedulers"
**Apache Airflow version**:

2.0.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

1.15.7

**Environment**:

- **Cloud provider or hardware configuration**: AWS

**What happened**:

We run two schedulers that were restarted simultaneously.

The first scheduler correctly adopts these orphaned tasks:
[code]

Then 15 minutes later the second scheduler goes and incorrec

[2021-01-21 10:47] DreamyWen opened #13809 "FUNCTION airflow.JSON_VALID with airflow version 2.0.0"
**Apache Airflow version**:
2.0.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:
Python 3.7.3
Linux Version

uname -r
3.10.0-693.21.1.el7.x86_64

cat /etc/os-release
NAME="CentOS Linux"
VERSION="7 (Core)"
ID="centos"
ID_LIKE="rhel fedora"
VERSION_ID="7"
PRETTY_NAME="CentOS Linux 7 (Core)"

mysql instance version
5.6.26-log

- **Cloud provider or ha

[2021-01-21 13:00] potiuk commented on #13809
Airflow 2.0 does not work with MySQL 5.6: https://github.com/apache/airflow/blob/master/README.md#requirements. You need to upgrade to 5.7 or even better to MySQL 8 as it has better scalability features.

[2021-01-21 13:00] #13809 closed

[2021-01-21 13:06] sudarshan2906 opened #13811 "get_dagrun() function starts giving error in 2.0 when using inside cluster policy"
**Apache Airflow version**: 2.0

- **OS** (e.g. from /etc/os-release):

PRETTY_NAME="Debian GNU/Linux 10 (buster)"
NAME="Debian GNU/Linux"
VERSION_ID="10"
VERSION="10 (buster)"
VERSION_CODENAME=buster
ID=debian

**What happened**:
I am using a task_instance_mutation_hook cluster policy and inside that using get_dagrun() function from task_instance object to get the dag run object for the task inst

[2021-01-21 14:46] kaxil commented on #13740
Not sure why it is giving you error, the default value is `True`:

https://github.com/apache/airflow/blob/9d9ef1addc44bb1553cf392f598366fd241c05c4/airflow/api_connexion/schemas/dag_run_schema.py#L63

https://github.com/apache/airflow/blob/9d9ef1addc44bb1553cf392f598366fd241c05c4/airflow/api_connexion/openapi/v1.yaml#L1553-L1556

cc @ephraimbuddy @mik-laj

[2021-01-21 14:47] TomatoEgg commented on #13680
In your init container, you have
volumeMounts:
        - mountPath: /git
          name: dags

In your main container:
- mountPath: /opt/airflow/dags
          name: dags

In airflow.cfg
dags_folder = /opt/airflow/dags/repo/

So you airflow scheduler is expecting the dags to be placed under /opt/airflow/dags/repo/, however is that how you populate it in your init container? E.g do you have the "re

[2021-01-21 14:49] kaxil commented on #13003
Fixed by https://github.com/apache/airflow/pull/13074

[2021-01-21 14:49] #13003 closed

[2021-01-21 14:50] gflores1023 commented on #9975
Thanks @kaxil . Before we close this, can we make sure the fix referenced by https://github.com/apache/airflow/issues/13802 actually fixes this issue with max_active_runs completely? @jsmodic references this broken fix https://github.com/apache/airflow/commit/cb8d53fbc64af8d6c175d0dda6ae51db65ccc19b but that commit occurred in Nov 2020, long after the release of v1.10.11 that I experienced the iss

[2021-01-21 14:50] kaxil commented on #13805
Does it only happen with Kubernetes Executor?

[2021-01-21 14:51] kaxil commented on #13799
Please let us know if this is reproducible

[2021-01-21 14:55] kaxil commented on #13808
Did that task run correctly or was it marked as failed?

[2021-01-21 14:59] kaxil commented on #13761
Can you test it out 2.0.0 too please and see if it works for you there?

[2021-01-21 14:59] SulimanLab commented on #13680
no , still trying.

i changed the executor to celery executor

[2021-01-21 15:00] seybi87 commented on #13740
The issues is caused because the external_trigger`  property is defined with  `default: true `.
This results in an object `DAGRun dagRun = new DAGRun();` that has set the `external_trigger` value yet the Airflow server apin only accepts null values (as specified for the other DAGRun properties).

[2021-01-21 15:11] eejbyfeldt commented on #13808
It failed. In the logs of the task we had the following:
[code]
So the it seems the `LocalTaskJob` noticed a state change and terminated the task.

[2021-01-21 15:13] rochamc opened #13812 "After migrating from version 1.10.12 to 2.0.0, SimpleHttpOperator produces the error "Data too long for column 'value' at row 1" when pushing to XCOM"
**Apache Airflow version**: 2.0.0

**Environment**:

- **Cloud provider or hardware configuration**: On-premise private cloud, appliance with 2vCPU and 8GB RAM (not production server)
- **OS** (e.g. from /etc/os-release): Debian GNU/Linux 9 (stretch)
- **Kernel** (e.g. `uname -a`): Linux 4.9.0-8-amd64 #1 SMP Debian 4.9.144-3.1 (2019-02-19) x86_64 GNU/Linux
- **Install tools**: manual installation

[2021-01-21 15:13] TomatoEgg commented on #13680
What I meant is your scheduler is expecting /opt/airflow/dags/repo/bash.py, but it could be that your bash.py is in a different path such as
/opt/airflow/dags/bash.py
/opt/airflow/dags/repo/<some-other-folder>/bash.py

make sure your file is located at the right place, it is very easy to inspect

[2021-01-21 15:38] INGCRENGIFO commented on #13713
That happens to me too.

[2021-01-21 15:42] #13653 closed

[2021-01-21 15:43] jsmodic commented on #9975
I think several issues are being conflated over this comment chain. My fix only addressed how max active runs doesn't work at all in 1.10.14 for manual dag runs like it did in 1.10.12.

I believe the OP issue of mixing manual and scheduled runs together is unrelated and still valid (in 1.10.x, maybe it is fixed in master).

[2021-01-21 16:41] kaxil commented on #9975
Yup, the PR I referenced fixes it for most users -- the one Ash and Kamil has existed since a long time from 1.10.3 :)

- https://issues.apache.org/jira/browse/AIRFLOW-5267
- https://issues.apache.org/jira/browse/AIRFLOW-137
- https://issues.apache.org/jira/browse/AIRFLOW-5081

[2021-01-21 16:42] kaxil commented on #9975
@gflores1023 Can you test with the fix in your environment if it fixes your specific case

[2021-01-21 16:43] varunvora commented on #13680
@SulimanLab I got it to work with by replacing
[code]
 with
[code]
  in https://github.com/apache/airflow/blob/master/chart/files/pod-template-file.kubernetes-helm-yaml#L65
  I'm not sure if it's the right way of fixing it though

[2021-01-21 16:48] mik-laj commented on #13740
@kaxil This looks like an error in the generator. This field is marked read-only and should never be sent for POST requests in the request body.  This should be fixed in the generator, not in the specification.

[2021-01-21 16:51] kaxil commented on #13740
@seybi87 Like @mik-laj said -- it looks like an error in generator as we already mark the field readOnly so we don't expect a value for it

[2021-01-21 17:00] kaxil commented on #13579
Looks like a bug with Kubernetes Executor. Related issue: https://github.com/apache/airflow/issues/13805

[2021-01-21 17:00] kaxil commented on #13805
Looks like a bug with Kubernetes Executor. Related issue: https://github.com/apache/airflow/issues/13805

[2021-01-21 17:08] mfjackson commented on #13579
@kaxil I am also using 11.0.0 of the kubernetes python client

[2021-01-21 17:28] ClassyLion commented on #13805
Yes, it happens only with Kubernetes Executor, apparently. Tried LocalExecutor and task completes without problems when triggering the DAG.

[2021-01-21 18:07] mik-laj commented on #13740
https://github.com/OpenAPITools/openapi-generator/issues/4190
It looks related.

[2021-01-21 18:08] seybi87 commented on #13740
Yes, you are right, this should be handled by the generator.  So feel free to close this issue.

Just out of curiosity, did you test the `postDagRun` call with the Airflow go client?

This would show if the error only occurs for the `java client` parts of code generator or for different languages.

[2021-01-21 18:10] mik-laj commented on #13740
@houqp Can you check it?

[2021-01-21 19:08] sudeep-quantelai commented on #13487
This worked for me too.

[2021-01-21 19:10] #10201 closed

[2021-01-21 19:13] gardnerdev opened #13817 "Airflow 2.0 can not connect to RDS Postgres (helm chart from source)"
**Apache Airflow version**: 2.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:
Migration container does not appears.
[code]

**What you expected to happen**: Airflow is abl

[2021-01-21 20:08] gardnerdev opened #13818 "Default user is not working with AUTH_LDAP - Airflow 2.0"
**Apache Airflow version**: 2.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

Using LDAP  and airflow 2.0 Admin is not working
[code]

**What you expected to happen**:
Ma

[2021-01-21 21:08] SulimanLab commented on #13680
wow, I will test that.

[2021-01-21 21:14] SulimanLab commented on #13680
This commit is promising actually

https://github.com/apache/airflow/commit/8af5a33950cfe59a38931a8a605394ef0cbc3c08

[2021-01-21 21:43] kaxil commented on #13812
https://github.com/apache/airflow/blob/master/UPDATING.md#the-default-value-for-core-enable_xcom_pickling-has-been-changed-to-false
You can turn this back to `True`:

[code]

[2021-01-21 21:48] #13740 closed

[2021-01-21 22:03] kurkop commented on #13680
@SulimanLab I'm testing with that commit and it hasn't worked.

[2021-01-21 22:16] bobhaffner opened #13823 "Postgres Operator task doesn't sequence properly with TaskFlow API"
**Apache Airflow version**:
2.1.0.dev0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
NA

**Environment**:
Docker
Apache/Airflow
master-python3.6

**What happened**:
some_pg_task it out of sequence

**What you expected to happen**:\
Task sequence should be
some_py_task >> some_pg_task

**How to reproduce it**:
[code]

**Anything else we need to know**:
The MSSQL Op

[2021-01-22 02:22] ankxyz commented on #13741
@potiuk Of course. Moreover, I generated `airflow.cfg` from scratch to test it.

Сlarification (recently noticed): the problem arises just if I run `airflow scheduler` in daemon mode:

[code]

If I start it normally (without param -D) or using  nohup - everything ok:

[code]

So I have the problem just in daemon mode.

[2021-01-22 02:46] christmoore opened #13824 "Cloudwatch Integration: SIGTERM/SIGKILL Sent Following DAG Completion, Causing Errors in Worker Logs"
**Apache Airflow version**:
2.0.0

**Environment**:
Docker Stack
Celery Executor w/ Redis
3 Workers, Scheduler + Webserver
Cloudwatch remote config turned on

**What happened**:
Following execution of a DAG when using cloudwatch integration, the state of the Task Instance is being externally set, causing SIGTERM/SIGKILL signals to be sent. This causes error logs in Workers, which is a nuisance for

[2021-01-22 03:36] BrainMonkey commented on #13818
I'm having the same issue running in containers. Once I try to setup ldap  it just hangs on login and times out with no errors in logs, the default user does not work either. If I remove the webserver_config.py, the default user worrks just fine.

[2021-01-22 04:28] vikramcse commented on #13638
@potiuk I would love to work on this issue as a first time contributor on airflow. @Hartorn is it fine if I take this issue?

[2021-01-22 04:34] potiuk commented on #13638
Assigned you @vikramcse !

[2021-01-22 04:54] jhtimmins commented on #9245
@kaxil The bug seems related to the method `create_custom_dag_permission_view`. I don't quite follow the logic of the method though, as it seems to reference outdated behaviors. Do you know if there used to be dag-specific roles?

https://github.com/apache/airflow/blame/master/airflow/www/security.py#L449

[2021-01-22 06:02] varunvora commented on #13680
@SulimanLab it's a fix but it doesn't solve our issue

[2021-01-22 06:25] ephraimbuddy commented on #13740
I have triggered dagrun through python client and it worked fine. The OpenAPI generator is not perfect, you need to do some work on the generated code to get it working fine.
Having said that, @mik-laj I think we need to remove the `default=True` argument, it's not necessary there, I think? though it's not affecting anything. What do you think?

[2021-01-22 07:31] Hartorn commented on #13638
@vikramcse sure, at the moment I'm struggling with airflow 2.0 and kubernetes, so I had no time with this

[2021-01-22 07:34] Junnplus commented on #13797
related code: https://github.com/apache/airflow/blob/master/airflow/models/taskinstance.py#L1176
`_run_mini_scheduler_on_child_tasks` use positional arguments

[2021-01-22 07:36] Junnplus commented on #13797
full context
[code]

[2021-01-22 07:42] Iamcerba commented on #13076
@Coqueiro it actually not completely correct, but will work in your case.

Underneath this connection string converted to dict using "json.loads" and eventually in the code the following check applied:

[code]

If you provide any string in the value of {"extra__kubernetes__in_cluster":"<any non empty string>"} you will enter IF clause as soon as bool("<any non empty string>") == True.

The correct

[2021-01-22 07:59] yuqian90 opened #13827 "ExternalTaskMarker with user_defined_macros do not work in Airflow 2.0 or with store_serialized_dags = True in Airflow 1.10.*"
When `ExternalTaskMarker` is used together with `user_defined_macros`, we get an unpleasant traceback when trying to clear tasks across DAGs.

This example (modified from `example_dags/example_external_task_marker_dag.py`) reproduces the issue. When user click on `parent_task` and hit Clear, they get the following traceback because the serialized dag obtained by the webserver has no `user_defined_

[2021-01-22 08:17] Junnplus commented on #12782
I make a pr https://github.com/dpgaspar/Flask-AppBuilder/pull/1545 for support get user_info from `userinfo_endpoint`, but no one responded to me

[2021-01-22 13:12] mik-laj opened #13838 "Setting up Airflow for local development is hard"
Hello,

Many users have trouble setting up Airflow in their development environment.  For now, I would like to focus only on it, but in the future, we may consider improving the documentation for the production environment as well.

I have noticed that there are several problems that we need to solve.
- We lack quick start guides that allow us to quickly launch Airflow in a more development-friend

[2021-01-22 13:31] grillorafael commented on #13522
I'm having the same issue trying to update to airflow 2.0.0

[2021-01-22 13:48] grillorafael commented on #13504
I'm having the same issue

[2021-01-22 14:16] hedrickw commented on #12647
I was able to do something kinda similar, where Task A creates a yaml file,  Task Group reads yaml file and generates N tasks, Task B takes all inputs from Task Group but having a Type of Operator to do this would be really nice, you also lose UI with my method since tasks are removed depending on N

[2021-01-22 14:20] potiuk commented on #12647
We already discussed this and yes it is planned - feel free to start discussion about it in the devlist

[2021-01-22 14:53] kaxil commented on #13504
Will be fixed for 2.0.1 -- currently aiming to release it in 2nd week of Feb

[2021-01-22 15:49] gardnerdev commented on #13818
@BrainMonkey thank you for your comment. Good to know it, I will try to figure it out, maybe before 2.0.1 release

[2021-01-22 15:56] vikramkoka commented on #13838
@mik-laj I am glad that you raised this topic, since I have been thinking about this too.
I have also been seeing the questions and comments pop up in various places about installation docs and upgrade to 2.0 docs and the overall installation process.
I have been collecting my thoughts together on this, so will put those together and share them.

[2021-01-22 15:58] jyotidhiman0610 commented on #13614
@potiuk can i take this up?

[2021-01-22 16:02] BrainMonkey commented on #13818
@gardnerdev  Does LDAP still work for you and just rbac accounts are not? On 2.0.0 I can not get LDAP to work and not sure if it is because I have the RBAC account created.

 I have no noticeable errors when I set logging debug and using LDAP.  If I dont have the certs, I get an error so I know that works. It just spins logging in until there appears to be a timeout.

This is my webserver-config.p

[2021-01-22 16:05] gardnerdev commented on #13818
If there is no noticeable errors it means, that LDAP is not configured properly. Had it worked on previous airflow version?

[2021-01-22 16:16] BrainMonkey commented on #13818
This the first time setting it up due to the login now on 2.0.0. I will continue to investigate the LDAP settings then on my end. I have airflow[ldap] and python-ldap installed as well now, but either way the rbac account we set up does not work either once I put in the ldap settings.

[2021-01-22 16:19] gardnerdev commented on #13818
1. Firstly check, if LDAP connection is working.
2. Secondly, try to rebuild image. It's working on my end:
[code]
@BrainMonkey

[2021-01-22 16:24] BrainMonkey commented on #13818
Awesome, thank you for all the help. Greatly appreciate it !

[2021-01-22 16:40] gor-obr commented on #7999
Unfortunately as far as I'm aware, there is no systematic solution for this issue.

The best workaround I can suggest would be to extend `Dag` class and override the `is_fixed_time_schedule` to simply return `true`. This would solve the issue as the root cause is `is_fixed_time_schedule` incorrectly classifying a dag as "not fixed" time schedule. After this when defining dags simply instantiate th

[2021-01-22 16:47] Lorenzo-N opened #13843 "Task not found exception in get logs api"
**Apache Airflow version**: 2.0.0

**Kubernetes version (if you are using kubernetes)**: NA

**Environment**: Docker

- **OS**: CentOS Linux 7 (Core)
- **Python version**: 3.6.8

**What happened**:
Every time I call get_log api (https://airflow.apache.org/docs/apache-airflow/stable/stable-rest-api-ref.html#operation/get_log) to get logs for a specific task instance that is not in the dag now, I ge

[2021-01-22 16:59] potiuk commented on #13818
Yep. in 2.0.1 ldap should work out of the box. Fixed by https://github.com/apache/airflow/issues/13306

[2021-01-22 17:00] potiuk commented on #11667
Fixed by https://github.com/apache/airflow/issues/13306

[2021-01-22 17:00] #11667 closed

[2021-01-22 17:02] potiuk commented on #9063
Closing for the same reason as #9065

[2021-01-22 17:02] #9063 closed

[2021-01-22 17:03] potiuk commented on #13315
This is complteted. now.

[2021-01-22 17:03] #13315 closed

[2021-01-22 17:07] bxnxiong commented on #7999
👍 yes that's how I'm patching it, guess I'll just use that for now

[2021-01-22 17:13] potiuk commented on #13843
Would you lie to provide a fix for that @Lorenzo-N  ? Seems like a good-first-issue :)

[2021-01-22 17:16] potiuk commented on #13614
Surely! Just be aware we are changing the documentation generation now to accomodate SEMVER versioning for providers #13767 so there will be slight changes in the files present in the "providers" folder (no README, CHANGELOG.rst for example). so you might want to wait a bit (Monday next week I hope) until that one is merged.

[2021-01-22 17:24] potiuk opened #13846 "[QUARANTINED] test_cli_webserver_foreground_with_pid"
This test fails often:

Example: https://github.com/apache/airflow/pull/13830/checks?check_run_id=1748612606#step:6:2333

[code]

[2021-01-22 17:58] BrainMonkey commented on #13818
@potiuk I'm not sure if the referenced ticket(#13306) is the same issue.  I believe here once LDAP is enable in the setting the manually created users can no longer login.

[2021-01-22 18:00] potiuk commented on #13818
Ok. I reopened it then

[2021-01-22 18:01] potiuk commented on #13818
I'd love if someone could check it with the master version of the image - at least there is no need there to add `pyhon-ldap` in extra image.

[2021-01-22 18:09] kaxil commented on #13511
cc @jhtimmins -- Can you take a look at this please when you have time.

[2021-01-22 18:18] kaxil commented on #9245
I think it just means creating a new role with Dag-level permissions as explained in https://airflow.apache.org/docs/apache-airflow/stable/security/access-control.html#dag-level-role

[2021-01-22 18:26] kaxil commented on #13838
I would love to have those docker-compose files soon as the start of making it easy.

And then natively integrate this docker-compose file (similar to breeze but for users) into airflow cli natively similar to astro-cli (https://github.com/astronomer/astro-cli) so that `airflow dev start` would run `docker-compose up` under the hood.

This is just an idea but I mainly suggest docker-compose so tha

[2021-01-22 18:40] jhtimmins commented on #9245
@kaxil Ok, thanks for clarifying. I think the original model is confusing, because "Dag roles" aren't any different than other roles. You can create custom roles with any permissions you want.

And yikes, I didn't realize you could handle access control on the actual DAG. That majorly bums me out.

[2021-01-22 18:42] potiuk commented on #13838
My thoughts:

All for it as well.

Breeze is not at all designed for end-users :). I love the idea of @kaxil to integrate running "airflow" in the airflow command line. However there is one caveat -  the tool should be  - much more than Breeze - supported on Windows. And it should not be needed at all to checkout Airflow code to use it. So Installing airflow via PyPI and running "start-local-airfl

[2021-01-22 18:45] potiuk commented on #13838
Initially however, easy-to-copy or generate set of docker-compose files that the user will be able just to copy&paste is good enough for start.

[2021-01-22 19:11] kaxil opened #13850 "Add a Rule to Check version of Database (MySQL / Postgres / SQLite)"
Many users are not sure about the requirements of the DB versions mentioned in https://github.com/apache/airflow#requirements and run into different errors.

We should have a "Check / Rule" in our Upgrade Check Plugin to warn users if they use a version that will be not compatible with 2.0.0

This issue is part of #8765

## How to guide
To implement a new rule, create a class that inherits from `a

[2021-01-22 19:14] kaxil commented on #13751
#13822 should fix it

[2021-01-22 19:17] kaxil commented on #13850
cc @Dr-Denzy

[2021-01-22 21:42] SulimanLab commented on #13680
changing this line https://github.com/apache/airflow/blob/9592be88e57cc7f59b9eac978292abd4d7692c0b/chart/templates/_helpers.yaml#L114 to 444 fixed the issue

[2021-01-22 22:14] sodiqafolayan commented on #13838
I am most delighted to read this. Coming from a beginner who really wants to learn, understand and use Airflow, i have always had trouble with installation and making parts work together. I commend this initiative and hope it will help newbies get things together with less installation stress

[2021-01-22 22:23] oz-r opened #13853 "Clearing of historic Task or DagRuns leads to failed DagRun"
**Apache Airflow version**: 2.0.0

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): Amazon Linux 2
- **Kernel** (e.g. `uname -a`): Linux
- **Install tools**:
- **Others**:

**What happened**:

Clearing a DagRun that has an `execution_date` in the past where the time difference between now and that `execution_date` is greater than the DagRun ti

[2021-01-22 22:25] oz-r commented on #13853
I imagine #13407 has the same root cause.

[2021-01-22 22:27] kaxil commented on #13751
Tests are now running but failing on Integrations tests: https://github.com/apache/airflow/runs/1751628905

[2021-01-22 22:27] #13751 closed

[2021-01-22 22:29] kaxil opened #13854 "Integration Tests failing on v1-10-test and v1-10-stable"
After https://github.com/apache/airflow/issues/13751 was fixed, the CI failed on integrations tests: https://github.com/apache/airflow/runs/1751628905

[code]

[code]

[2021-01-22 22:30] kaxil commented on #13854
Can you take a look please @potiuk / @mik-laj ?

[2021-01-22 22:33] potiuk commented on #13854
I will take a look over weekend.

[2021-01-23 00:04] kaxil commented on #13349
Closed by https://github.com/apache/airflow/pull/13371

[2021-01-23 00:04] #13349 closed

[2021-01-23 00:11] kaxil opened #13858 "Use Tabular Format for the List of Upgrade Check Rules"
Would be awesome to have a tabular format (makes it more readable) like below :) (From https://github.com/apache/airflow/pull/13392#pullrequestreview-563164638)

[code]

This should be just an enhancement to the changes in https://github.com/apache/airflow/pull/13392

[2021-01-23 00:11] kaxil commented on #13858
cc @madison-ookla

[2021-01-23 00:43] madison-ookla commented on #13858
I started down this road and ran into some issues with the airflow utils table function...will need to give it another shot!

[2021-01-23 00:45] jjjchens235 commented on #10435
I am running into a similar issue with Airflow 1.20.00 using Docker on macOS.
I ended up allocating more default memory to each docker container in Docker Desktop per this link, and  it fixed it for me:
https://stackoverflow.com/questions/44533319/how-to-assign-more-memory-to-docker-container

[2021-01-23 01:13] jhtimmins commented on #13511
Yeah this should also be fixed by #13856, however the new behavior won't add any additional permissions to new roles except the ability to view the home page. Rather than replicating permissions from existing roles, you can assign multiple roles to a user.

[2021-01-23 04:23] potiuk commented on #13854
Should be fixed now @kaxil . That was caused by an updated kerberos authentication in 2.0 (we are using different image and authenticatio there - Kamil added it when he added Presto + Kerberos integration. We are still using the old image/confifguration in 1.10 but the intialisation of Kerberos configuration was removed from the CI scripts.

I re-added it.

I also noticed that the UndefinedJiinjaR

[2021-01-23 05:10] potiuk commented on #13854
All green @kaxil (!) except one random K8S test: https://github.com/apache/airflow/runs/1752873772?check_suite_focus=true

[2021-01-23 05:11] #13854 closed

[2021-01-23 06:34] LanDeQuHuXi commented on #13434
It's a quite big change of behavior, please fix or let it be configurable as least.

[2021-01-23 10:57] turbaszek commented on #13858
Should we use rich? The upgrade check is already installed as separate package so we may add an additional dependency. We are using rich in 2.0 for many cli commands :)

[2021-01-23 12:52] #11968 closed

[2021-01-23 13:53] JeffryMAC commented on #8931
@turbaszek that looks very cool and it's very useful I'm sure.
But this issue is around data that already available in Airflow database it just need a proper presentation in the UI.

I really feel that Airflow can improve in the graphs it shows in the UI and allow users to better understand what is going on.
Graphs can make it really easy to spot problems.

[2021-01-23 15:09] mtraynham commented on #13824
One thing to note with this issue, I believe this is preventing workers from also consuming more work via a 60 second sleep at the end of every task.  We noticed that there was a ~30-40 second delay between 2 workers running tasks, as if all workers were busy doing something.  It seemed work had been queued, but was not being performed.

After looking at the logs within for a given task in CloudWa

[2021-01-23 15:26] sokoloff opened #13863 "Pandas 1.2.1 does not support python 3.6"
@potiuk  There is issue with constraints-3.6 in constraints-master

Pandas 1.2.1 does not support python 3.6

https://github.com/apache/airflow/blob/constraints-master/constraints-3.6.txt#L265

[2021-01-23 15:56] potiuk commented on #13863
Yep. temporary problem. Fixing it now.

[2021-01-23 15:56] potiuk commented on #13863
(badly set environment variable when generating constraints)

[2021-01-23 16:00] potiuk commented on #13863
Should be fixed now. Sorry for the trouble @sokoloff !

[2021-01-23 16:00] #13863 closed

[2021-01-23 18:52] madison-ookla commented on #13858
I need to dig into the existing utils for 1.10.x a bit more to see what the issue is, but if I keep having trouble I'll see about rich!

[2021-01-23 20:39] gardnerdev opened #13866 "Baked pod_template_file.yaml appears only in webserver (not scheduler)"
**Apache Airflow version**: 2.0.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:
As in topic. Is this an expected behaviour?

**What you expected to happen**:

All components w