[2020-10-31 23:06] #11921 closed

[2020-10-31 23:22] kaxil opened #12012 "Add your Company to INTHEWILD.md"
If you are using Airflow at the company your work with, add the name of your company to the list of Airflow Users at https://github.com/apache/airflow/blob/master/INTHEWILD.md

[2020-11-01 10:11] ashb commented on #8172
This sounds like nothing we can fix in airflow - perhaps just a doc/faq page?

Anyone fancy tithing this in to a PR?

[2020-11-01 13:00] sudarshan2906 commented on #11080
@FelixReuthlingerBMW Can you post the policy you used? Why can't we change the priority_weight based on config passed rather than changing the queue?

[2020-11-01 15:01] #11428 closed

[2020-11-01 15:03] ashb commented on #11428
Oh - I haven't tested if this change works on Python 2. It's fine for Py3, and probably okay for Py2, just wasn't a concern in my mind when writing and testing the PR.

[2020-11-01 15:42] potiuk commented on #11543
Another case:

https://github.com/apache/airflow/pull/12017/checks?check_run_id=1338457193#step:6:818

[code]

[2020-11-01 17:22] potiuk commented on #11428
No problem. Providers are 3.6+

[2020-11-01 20:39] kaxil commented on #11149
I will double check and fix it for Airflow 1.10.13 -- that will be released in couple of weeks

[2020-11-01 21:02] skylarbpayne commented on #8172
@ashb -- happy to. I just linked a PR for this. LMK if anything needs to be added/edited/(re)moved

Thanks

[2020-11-01 21:24] kaxil commented on #11858
I was able to reproduce this

[2020-11-02 00:14] jodmoreira commented on #11965
It worked! Thanks!

[2020-11-02 08:00] KIC opened #12028 "Add `files` to templated fields of `EmailOperator`"
**Description**

Files are not part of the templated fields in the `EmailOperator` https://airflow.apache.org/docs/stable/_modules/airflow/operators/email_operator.html

Whle in fact file names should also be templated .

**Use case / motivation**
We want to store files accordingly to the DAGs execution date and further send them to email recipients like so:

[code]

[2020-11-02 10:16] turbaszek opened #12030 "Airflow WebUI style broken"
**Apache Airflow version**:
2.0.0 - master branch

**Environment**:

- **OS** (e.g. from /etc/os-release): MacOS 10.15.7
- **Browser**: Safari Version 13.1.3 (15609.4.1)

**What happened**:

The row in tis table is wider than 100% width
<img width="1440" alt="Screenshot 2020-11-02 at 11 11 39" src="https://user-images.githubusercontent.com/9528307/97856398-85f9a980-1cfc-11eb-89ed-d739ecb0f51c.png"

[2020-11-02 10:19] turbaszek commented on #12030
CC @ryanahamilton

[2020-11-02 10:48] aidar-ms opened #12031 "1.10.12 `attrs` package dependency breaks pipenv locking"
**Apache Airflow version**: 1.10.12

**Environment**:

- **OS** (e.g. from /etc/os-release): Any OS: Mac OS, Linux
- **Install tools**: Pipenv
- **Others**:

**What happened**:

Trying to lock pip dependencies with pipenv is not working, I'm 90% sure because Apache Airflow specifies `attrs` package dependency at "~=19.3" somewhere in the project. Here's the error message:
`ERROR: ERROR: Could not

[2020-11-02 11:03] vladiceanu opened #12035 "Support AssumeRoleWithWebIdentity for AWS provider"
**Description**
Support of [AssumeRoleWithWebIdentity](https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/sts.html#STS.Client.assume_role_with_web_identity) for AWS provider when running Airflow workers in EKS.

**Use case / motivation**
This feature will allow us to use [IRSA](https://aws.amazon.com/blogs/opensource/introducing-fine-grained-iam-roles-service-accounts/) wit

[2020-11-02 11:29] turbaszek commented on #11983
Some time ago I did this to solve similar problem:
https://github.com/apache/airflow/blob/ba2b3b20af5371f158b9f307ed4d9e37c60014f7/airflow/providers/google/cloud/operators/automl.py#L1257-L1263

But in general I agree that it would be good to have better support for lazy evaluation with python native types.

[2020-11-02 12:54] kaxil commented on #12031
Duplicate of https://github.com/apache/airflow/issues/11965

[2020-11-02 12:54] #12031 closed

[2020-11-02 12:55] kaxil commented on #12031
This has been fixed in https://github.com/apache/airflow/pull/11969 and will be available in Airflow 1.10.13

Thanks for reporting

[2020-11-02 13:03] msumit commented on #12030
I too had observed it earlier, but as of now, I'm getting a scroll instead of the overflow.

[2020-11-02 13:17] #8088 closed

[2020-11-02 13:18] cccs-cat001 commented on #11968
..... Can we try it again? :P

[2020-11-02 14:22] potiuk opened #12042 "Fix description of some extra packages"
**Description**

The PR #12023 added consistency check for documentation and setup.py. However few packages need additional description:

- [x] pagerduty
- [ ] plexus
- [ ] sentry
- [x] singularity
- [ ] tableau
- [ ] virtualenv

This is a great "good-first-issue"

**Use case / motivation**

Descriptions should be complete.

[2020-11-02 14:26] RosterIn commented on #11521
closing as this is FAB issue

[2020-11-02 14:26] #11521 closed

[2020-11-02 14:32] RosterIn commented on #8686
This is really good suggestion!
This can really solve many issues for organizations that work with more than one communication application.

[2020-11-02 14:33] mik-laj commented on #11305
@zjffdu Jarek suggested that we also provide support for [Apache Knox](https://knox.apache.org/).  Can you share details about how this product works? How is authorization performed there?

[2020-11-02 14:46] mik-laj commented on #12035
Is it related? https://github.com/apache/airflow/issues/9873

[2020-11-02 14:49] zjffdu commented on #11305
@mik-laj Thanks for at me, apache knox is a reverse proxy, I mean to use knox as reverse proxy of airflow, so that we can leverage knox's sso.  https://knox.apache.org/

[2020-11-02 15:08] olchas commented on #8803
Hi, @mik-laj, sorry for not responding. I guess one more thing not covered in https://github.com/apache/airflow/issues/10596 might be adding an example dag showing the usage of impersonation.

[2020-11-02 15:10] vladiceanu commented on #12035
not quite sure if the issue you've mentioned includes this one, but seems to include similar functionality on AWS provider. Please note that in this request we're aiming to be able not only to use the simple method `assumeRole`, but also `assumeRoleWithWebIdentity` when Airflow runs on EKS.

[2020-11-02 15:27] mik-laj commented on #12035
@vladiceanu This looks like a related problem to me, but in my case, but I will want to exchange the token obtained from GKE Workfload Identity with an AWS token. I will not be able to test it with EKS, but I will try to prepare the code in such a way that it is possible to add another token provider.

Can I assign you to this ticket so that you can write the missing EKS integration?

[2020-11-02 15:36] vladiceanu commented on #12035
Yes, please. Thank you

[2020-11-02 15:44] mik-laj commented on #8803
@olchas I am closing this ticket. Can you create a ticket about the missing DAG example?

[2020-11-02 15:44] #8803 closed

[2020-11-02 15:48] #11175 closed

[2020-11-02 15:49] mik-laj commented on #11305
@zjffdu How is the identity from Apache Knox passed to other applications?  Have you ever tried integrating other applications with Apache Knox?

[2020-11-02 15:51] szn commented on #12042
Can you guys help me updating `/docs/installation.rst` documentation file? All the packages mentioned below are listed there. But the description is missing (and not obvious for me) plus I am not sure if they are listed in a proper section:

1. @houqp you added `pagerduty` in d25ef2b2abc3da9f5725a3c433bc035b970eec23
2. @millertracy you added `Plexus` in b9dc3c51ba2cba1c61d327488cecf2623d6445b3
3.

[2020-11-02 15:51] ephraimbuddy commented on #11968
Yeah. I think it will work now. Snowflake now supports azure-storage-blob v12.

[2020-11-02 15:55] mik-laj commented on #11968
@ephraimbuddy @cccs-cat001 I assigned you to this ticket.

[2020-11-02 16:07] vsoch commented on #12042
yes of course! Will open a PR soon.

[2020-11-02 16:07] ryanahamilton commented on #12030
I fixed a similar issue on the the DAGs (home) view just last week in #11958. This example is in the FAB generated views. I'll PR a similar type of fix for these as well.

[2020-11-02 16:55] #12030 closed

[2020-11-02 18:06] jfmolano commented on #11918
Dear @kaxil I'm working on the MySql example DAG for the documentation and I have a question. I see that some example DAGS are in the airflow/example_dags folder but others are in the (i.e.) airflow/providers/snowflake/example_dags. Where should they be stored? Another question is whether example DAG should have unit tests.

[2020-11-02 18:21] kaxil commented on #11543
https://github.com/apache/airflow/pull/12046 should fix the issues, we can re-open this issue if we see the issue crop up again

[2020-11-02 19:04] potiuk commented on #11937
It's implemented in DockerHub. Let's see whether it works :)

[2020-11-02 19:05] potiuk commented on #11937
![Screenshot from 2020-11-02 20-05-31](https://user-images.githubusercontent.com/595491/97908289-c847d880-1d46-11eb-94d5-33b7cf33145b.png)

[2020-11-02 19:26] vikramkoka commented on #11112
Just to make sure that I understand the scope of this clearly, does this include the following elements:

1. Upgrade checks to be run from 1.10.x to say if this is compatible with 2.0,
2. Documentation to support above and including the overall guide for upgrading to 2.0, and
3. Upgrade utils to automate as much as possible of the migration steps.

Is this understanding correct?

[2020-11-02 19:39] potiuk commented on #11937
I found that some fixes are needed in the scripts (very small!)

[2020-11-02 20:42] zachliu commented on #8467
@joshzana I'm also using [puckel/docker image](https://github.com/puckel/docker-airflow/blob/master/Dockerfile) with Airflow `1.10.12` (RBAC + Google Auth configuration). I only see this error if I use the [constraints-1.10.12/constraints-3.8](https://github.com/apache/airflow/blob/constraints-1.10.12/constraints-3.8.txt) file. If this constraints file is not compatible with `1.10.12`, can we just

[2020-11-02 20:46] kaxil commented on #11918
Hi @jfmolano The examples under `airflow/example_dags` folder are for operators in https://github.com/apache/airflow/tree/master/airflow/operators i.e. the CORE operators. Whereas the example_dags for any specific provider (Company / Org / Tech) live under that specific provider directory. Example `airflow/providers/snowflake/example_dags` contains example dags for Snowflake `airflow/providers/sno

[2020-11-02 20:50] joshzana commented on #8467
@zachliu - not sure about that, but it looks like #11965 has been resolved by a hotfix to cattrs, so you may want to take a look at that.

[2020-11-02 20:50] jfmolano commented on #11918
Thank you, it is clear for me now :)

[2020-11-02 20:53] #11073 closed

[2020-11-02 21:00] #11937 closed

[2020-11-02 21:19] potiuk commented on #11112
Comment from my side as promised:

 I think we can use a similar process I implemented for docker image separation. I have a working solution here: https://github.com/potiuk/airflow-docker

The "main" branch there is just synchronizing the repo. The "master" and "v1-10-stable" are just mirrors of "master" and "v1-10-stable" from airflow. It extracts only the relevant paths/commits. So if we struct

[2020-11-02 21:21] potiuk commented on #11112
We do not have to follow this route of course - this is just a proposal, that I am happy to discuss if you think it's worth pursuing

[2020-11-02 21:25] potiuk commented on #11543
I would still like to take a closer look at this when I have time. To see if I can find something more - I understand this is reacting to the issue rather than preventing it, I think this is good for now for the user testing to implement retries for beta's and see if deadlock has some other effects, but I think this one should remain open at leat for me to take a look. I will assign it to myself a

[2020-11-02 22:23] houqp commented on #12042
@szn sent a PR to add description for pagerduty provider.

[2020-11-03 02:15] michael-kotliar commented on #11716
Have similar issue when trying to trigger several DAG-runs of the same DAG in a very short period of time.

[2020-11-03 02:16] zachliu commented on #8467
@joshzana that fix doesn't apply to me, i'm using python 3.8

[2020-11-03 03:01] yuqian90 commented on #11819
Just realised this issue is already fixed in `master` branch. @KulykDmytro would you like to try 2.0.0a1? It won't have this problem because `LatestOnlyOperator` has been changed to a subclass of `BaseBranchOperator` which should do the right thing when skipping downstream tasks. Since 2.0.0 is around the corner, I don't know if it's still worth fixing this issue in the 1.10 branch.

[2020-11-03 04:35] aidar-ms commented on #12031
@kaxil  Ok, thanks. Does the due date on November 03, 2020 here https://github.com/apache/airflow/milestone/7 mean that we should be expecting the release of 1.10.13 on November 3rd 2020? If not, when do you think the new version will be shipped?

[2020-11-03 06:47] #11498 closed

[2020-11-03 08:27] olchas opened #12061 "Add example dag showing usage of `impersonation_chain` argument of Google operators"
**Description**

This issue is about adding an example dag showing usage of `impersonation_chain` argument of Google operators. It should show both using this argument as a string and as a sequence.

**Use case / motivation**

This is to provide users of Google operators with instructions on how to use [direct impersonation](https://cloud.google.com/iam/docs/understanding-service-accounts#directly

[2020-11-03 09:11] VBhojawala commented on #11858
I am able to reproduce and i checked the query and database entries and found following :

Query executed in order to fetch rows

SELECT xcom.key AS xcom_value
FROM xcom
WHERE xcom.task_id IN ('push', 'push_by_returning') AND xcom.dag_id = 'example_xcom' AND xcom.execution_date = '2020-11-01 00:00:00.000000'
ORDER BY xcom.execution_date DESC, xcom.timestamp DESC;

![ScreenShoot](https://user-image

[2020-11-03 09:40] potiuk commented on #12031
We had a planning meeting  - I just moved this to the end of next week. We still have some work to do to complete it. You might expect it in 1-3 weeks to finish. Provisional date is set for 24 Nov but it might be earlier as well.

In the meantime if you follow the installation mechanism that is described in INSTALL and https://airflow.apache.org/docs/stable/installation.html everything should work

[2020-11-03 09:41] potiuk commented on #12031
And if you want to read more why it is like that you can read more here: https://github.com/apache/airflow/blob/master/README.md#installing-from-pypi

[2020-11-03 09:44] turbaszek commented on #11858
To be honest I'm not sure why we order by `timestamp` - do we expect users to push same key (key, exec date, task_id, dag_id) few times in operator?

Imho the natural way to sort it would be to sort it by `key` column - the `execution_date` is already same for all entries if we do `xcom_pull`:
https://github.com/apache/airflow/blob/45ae145c25a19b4185c33ac0c4da920324b3987e/airflow/models/taskinstan

[2020-11-03 12:29] eladkal commented on #10952
closing as no further action is needed.

[2020-11-03 12:29] #10952 closed

[2020-11-03 12:30] eladkal commented on #10925
@JavierLopezT can you confirm the issue is resolved?

[2020-11-03 12:46] eladkal commented on #9781
@potiuk is there further action here?
We have [cncf provider released ](https://pypi.org/project/apache-airflow-backport-providers-cncf-kubernetes/#history)

[2020-11-03 12:51] eladkal commented on #10044
Duplicate of https://github.com/apache/airflow/issues/9298

[2020-11-03 12:51] #10044 closed

[2020-11-03 13:46] contributor13 commented on #12028
I would like to fix this issue. Can anyone please explain that what exactly needs to be done.

[2020-11-03 14:39] akocukcu commented on #10992
@shizidushu  I have been trying to create a proper sollution for this issue with my newborn :D (thats why it took so long).
Solution: The equvialent of `"REPLACE INTO"` or `"INSERT ... ON CONFLICT DO UPDATE"` in Sql Server is built-in [MERGE](https://docs.microsoft.com/en-us/sql/t-sql/statements/merge-transact-sql) operation.
I can provide that by adding `_generate_insert_sql` method into `MsSqlHo

[2020-11-03 14:59] ksumanth opened #12068 "Backport providers amazon package does not match the 1.10 branch source code"
**Apache Airflow version**: 1.10.4

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): Debian 9
- **Kernel** (e.g. `uname -a`):  Linux 9f23d34e2f14 4.19.76-linuxkit #1 SMP Tue May 26 11:42:35 UTC 2020 x86_64 GNU/Linux

**What happened**: Installed backport providers amazon package version 2020.6.24 and also 2020.10.29 (latest). The AWSBatchOpera

[2020-11-03 15:04] mik-laj commented on #12068
We no longer maintain the operators that are in branch 1.10. I recommend migrations to the backport provider, which are based on the master branch (Airflow 2.0).

[2020-11-03 15:07] mik-laj commented on #12068
backport packages are based on Airflow 2.0 (master branch). You should be looking at a different branch:
https://github.com/apache/airflow/blob/master/airflow/providers/amazon/aws/operators/batch.py#L37

[2020-11-03 15:13] zachliu commented on #11965
@jodmoreira oh how i envy you, the constraint file `constraints-3.8.txt` doesn't work for my `1.10.12` :crying_cat_face: https://github.com/apache/airflow/issues/8467#issuecomment-720712897

[2020-11-03 15:26] kaxil commented on #11965
Just update both `attrs` and `cattrs` that too should work.

or just downgrade `cattrs`

[2020-11-03 15:28] #11146 closed

[2020-11-03 15:44] duthades commented on #10585
Hi, I would like to attempt to solve this issue. Can you assign me?

[2020-11-03 15:55] ksumanth commented on #12068
When I installed the backport providers amazon package, I had to import from airflow.contrib.operators.awsbatch_operator. The link on https://pypi.org/project/apache-airflow-backport-providers-amazon/ for Airflow 1.10 points to https://github.com/apache/airflow/blob/v1-10-stable/airflow/contrib/operators/awsbatch_operator.py. The operator source code in Github 1-10-stable branch is using the Batch

[2020-11-03 16:02] eladkal commented on #8379
Fixed in https://github.com/apache/airflow/pull/9843

[2020-11-03 16:02] #8379 closed

[2020-11-03 16:15] turbaszek commented on #12068
The operator on master branch has the same interface:
https://github.com/apache/airflow/blob/980c7252c0f28c251e9f87d736cd88d6027f3da3/airflow/providers/amazon/aws/operators/batch.py#L101-L116

as the one from `v1-10-stable`:

https://github.com/apache/airflow/blob/65df1e802190d262b5e18fa9bc2e055768b96e28/airflow/contrib/operators/awsbatch_operator.py#L87-L99

Or is there something else not working

[2020-11-03 16:20] mik-laj commented on #12068
You should import operators from airflow.providers.amazon...

[2020-11-03 16:34] potiuk commented on #12068
PLease read the summary in https://pypi.org/project/apache-airflow-backport-providers-amazon/

Then in the table of "Moved operators" you have:

So bottom line - as @turbaszek and @mik-laj tried to explain helpfully - backport provider provides "airflow.providers". classes and they should be used. They do not modify the old "contrib" classes.

So everything is as expected. I hope it explains it, i

[2020-11-03 16:34] #12068 closed

[2020-11-03 16:48] #9781 closed

[2020-11-03 16:48] potiuk commented on #9781
Closed indeed

[2020-11-03 17:13] ksumanth commented on #12068
For who ever stumbles across this:

I was tripped up by the case sensitivity. I was importing AWSBatchOperator. Instead I should be importing AwsBatchOperator.

Thanks for the help.

[2020-11-03 17:34] dmateusp commented on #11731
Trying to update to 1.10.12 and I'm seeing that my `pod_mutation_hook` seems to have no effect on `annotations`, might be related?

[2020-11-03 17:44] vikramkoka commented on #10080
@dimberman and @streetmapp , Is this reproducible? If it is still to be for 2.0.0, it would be good to have some next steps on this.

[2020-11-03 17:48] vikramkoka commented on #8996
@kaxil , @turbaszek  Should this be in beta1 from the perspective of feature complete?

[2020-11-03 17:52] vikramkoka commented on #8255
@kaxil Does this belong in the 2.0.0 milestone anymore?

[2020-11-03 17:56] JavierLopezT commented on #10925
Probably feluelle is right, but I didn't have the chance to look into it. Sorry. I'll do ASAP

[2020-11-03 18:20] vikramkoka commented on #8703
@turbaszek @kaxil Unclear on if this should have a milestone?

[2020-11-03 18:52] wolfier opened #12073 "How to Guides Documentation Link Broken"
For all top level pages in the How to Guides, when you click on the titles, it will try to redirect to a faulty URL.

An example here is.
https://airflow.apache.org/docs/stable/howto/custom-operator.html
https://airflow.apache.org/docs/stable/howto/howto/custom-operator.html

https://airflow.apache.org/docs/stable/howto/check-health.html
https://airflow.apache.org/docs/stable/howto/howto/check-hea

[2020-11-03 19:16] duthades commented on #10585
This behaviour is correct. ```\``` is encoded when it appears in either the object name or query string of a request URI. Other characters which are encoded can be found [here](https://cloud.google.com/storage/docs/request-endpoints#encoding).

As far as the error ```404``` is concerned, it is because either [bucket or object name was not found](https://cloud.google.com/storage/docs/xml-api/refere

[2020-11-03 19:54] ctso opened #12074 "KubernetesExecutor: Add support for launching Jobs instead of Pods"
**Description**

Kubernetes [suggests avoiding the use of bare Pods](https://kubernetes.io/docs/concepts/workloads/controllers/job/#bare-pods) for workloads and instead recommends using a `Job` or some other resource that has a `ReplicationController` associated with it.  While there are certainly some risks involved when the Kubernetes cluster is able to make a decision about restarting a Pod, in

[2020-11-04 01:17] #9498 closed

[2020-11-04 06:25] shizidushu commented on #10992
@akocukcu Thank you for your post. I didn't realize there are problems with `MERGE` operation before.

In our case, we have a data warehouse using Sql Server, there are many merge in the current code base (low performance). I was considering refactor the etl with airflow in september. Now our team decide to switch to airflow/hive/spark from scratch. And now I'm struggling with how to do incrementa

[2020-11-04 07:31] akocukcu commented on #10992
@shizidushu for your case again I kindly suggest using "Control Table" pattern with a Staging table.
You can insert data directly (maybe bulk load) to **empty** Staging table.
After that since staging table and datawarehouse table are in the same server, upsert operation will complete at lightning speed.

BTW, I think in the same sense there are `preoperator` parameters inside a lot of transfer op

[2020-11-04 07:39] akocukcu commented on #10992
@shizidushu Also since you are planning to use Hive, `[HiveToMySqlOperator]`(https://github.com/apache/airflow/blob/master/airflow/providers/apache/hive/transfers/hive_to_mysql.py) is a very elegant example (Which can be adapted to use with MsSql).

[2020-11-04 07:55] potiuk commented on #11965
Yeah. Constraints file does not work if you already have higher version installed.

[2020-11-04 08:34] humbledude opened #12081 "PapermillOperator does not take user defined macros"
**Apache Airflow version**:
1.10.12

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
1.15.11

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:
- When initialize DAG, I defined `user_defined_macros` with my macros.
- If I use use

[2020-11-04 11:38] JavierLopezT opened #12086 "Default default_args"
I use for every single dag the same s3_bucket, email and start_date. It would be nice that those default_args won't have to be written explicitly in each dag file, but taken from the airflow.cfg file or default_args.cfg file or something like that.

[2020-11-04 11:49] shizidushu commented on #10992
@akocukcu Thanks for you suggestion.

[2020-11-04 12:38] madcolonel10 opened #12089 "Task of dag stuck in queued state forever when using kubernetes executor and triggered with a future execution date"
**Airflow version: 1.10.12**
[code]

[code]

The first task executes fine but the dag is stuck at second task. I can see the worker pod spun up and getting completed but the task status never gets updated and ui still says queued and dag is always in running state due to this.

![Screen Shot 2020-11-04 at 5 02 22 PM](https://user-images.githubusercontent.com/25412835/98112292-f7398800-1ec7-11eb-97

[2020-11-04 12:44] msumit commented on #12086
not tried, but I think you can create a default_args.py file along with your dags and write a DEFAULT_ARGS dict there and just import it in ur dags everytime?

[2020-11-04 12:49] akocukcu commented on #10992
@shizidushu you are welcome :)
So do you think we should close this issue or add upsert functionality to `MsSqlHook`.

[2020-11-04 12:49] mjpieters opened #12090 "task_command.task_run log handling is either broken or redundant"
**Apache Airflow version**: 2.0.0a2

As of #9363, the `tasks run` command attempts to restore the root logger handlers to the previous state after running the task with the handlers all replaced by those from the `airflow.tasks` logger.

However, because no actual *copy* is created of the root handlers list, what you effectively end up with is either an empty list of handlers and nothing is restor

[2020-11-04 13:04] mjpieters commented on #12090
The `shutdown()` call was added [in this pull request](https://github.com/apache/airflow/pull/3259). I don't know if this still applies in Airflow 2.0.0, but I'm of the opinion that any logging shutdown should only be done when the process exits. It should not be up to `task_command.task_run()` to assume it is only ever used as a top-level call.

In other words, if a `logging.shutdown()` call is n

[2020-11-04 13:05] turbaszek commented on #12086
Why not use cluster policy?

[2020-11-04 13:08] mjpieters commented on #12090
I found [this review remark](https://github.com/apache/airflow/pull/3259#discussion_r184536876):

The correct fix would have been to fix the  logger that requires a live session object, rather than shut down all logging. Barring that, only shut down the handler that causes the problems, not all logging.

What exactly was causing a `NoneType` error at exit there, do you remember, @KevinYang21?

[2020-11-04 13:19] turbaszek commented on #8996
@vikramkoka I would say this adds only a syntax sugar not a "real feature"

[2020-11-04 13:25] rodrigoabdo commented on #10964
We are facing the same problem...

[2020-11-04 14:10] shizidushu commented on #10992
@akocukcu It's time to close it.

[2020-11-04 14:10] #10992 closed

[2020-11-04 15:43] loozhengyuan commented on #11305
@mik-laj FYI, not sure if this has been raised yet but Keycloak has recently sunsetted the Louketo project and is due to EOL on 21 Nov. Here's the relevant [GitHub issue](https://github.com/louketo/louketo-proxy/issues/683). As such, we may consider omitting Louketo from the scope of the issue.

[2020-11-04 16:01] brunoffaustino commented on #8609
Any news on this issue?

[2020-11-04 17:01] feng-tao commented on #8609
cc @ashb @kaxil

[2020-11-04 17:09] eladkal commented on #8896
resolved https://github.com/apache/airflow/pull/10760

[2020-11-04 17:09] #8896 closed

[2020-11-04 17:19] ashb commented on #8609
Could someone try out alpha 2 and let us know if this is still a problem?

[2020-11-04 17:44] #11918 closed

[2020-11-04 17:52] zachliu commented on #11965
@kaxil @potiuk ah, i'm sorry i didn't describe it clearly :sweat_smile:
the constraint file `constraints-3.8.txt` did solve the `attr` and/or `cattrs` issue, but in order to use it i had to do the following changes due to https://github.com/apache/airflow/issues/8467#issuecomment-720712897:

original:
[code]
my updates:
[code]

[2020-11-04 18:02] mik-laj commented on #12074
It's a good idea, but can be difficult to implement. Airflow has protection against double task execution.  If we wanted to do it right, we needed to synchronize the number of execution attempts between Kubernetes.and Airflow.

[2020-11-04 18:14] kaxil commented on #8703
The PR (https://github.com/apache/airflow/pull/9847) linked to this issue has milestone so we should be fine

[2020-11-04 19:23] #10553 closed

[2020-11-04 20:34] mik-laj commented on #11161
It seems simpler to add a CLI command that will check if the process is healthy. We can be inspired by the Helm Chart, but it doesn't support multiple schedulers yet.
https://github.com/apache/airflow/blob/master/chart/templates/scheduler/scheduler-deployment.yaml#L115-L130

[2020-11-04 20:44] mik-laj opened #12098 "Liveness probe only observes one scheduler."
Hiello,

Recently, the Helm Chart has been updated to add the ability to run multiple schedulers.
https://github.com/apache/airflow/pull/11330

The liveness probe that does not support multiple schedulers has not been updated. I think we should also update the liveness probe to handle this case. Currently, it only watches the newest job, not the job assigned to the current scheduler.
https://githu

[2020-11-04 20:49] akocukcu commented on #11128
Hi @manesioz ,
I think for the sql to sql transfer there is => [GenericTransfer](https://github.com/apache/airflow/blob/master/airflow/operators/generic_transfer.py)

and for the hook there is => [DbApiHook](https://github.com/apache/airflow/blob/master/airflow/hooks/dbapi_hook.py)

Btw the name `GenericTransfer` is a little bit general 😊 Maybe `GenericSqlTransfer` would be more clear.

Anyway, I

[2020-11-04 21:38] thcidale0808 commented on #11870
@ryw can I implement this feature?

[2020-11-04 22:15] HarryDunham opened #12100 "KubernetesPodOperator templating the image parameter"
**Apache Airflow version**: 1.10.11

**Kubernetes version (if you are using kubernetes) (use kubectl version)**: 1.17

**Environment**: AWS

**Background:**
Per the KubernetesPodOperator [template fields](https://airflow.apache.org/docs/stable/_api/airflow/contrib/operators/kubernetes_pod_operator/index.html#airflow.contrib.operators.kubernetes_pod_operator.KubernetesPodOperator.template_fields),

[2020-11-04 22:27] #8664 closed

[2020-11-04 22:51] vikramkoka commented on #7987
@dimberman Is there anything left to do here?

[2020-11-05 04:13] vikramkoka commented on #10133
@mik-laj Can this be closed?

[2020-11-05 04:22] #10133 closed

[2020-11-05 08:06] Alien2150 commented on #11161
@mik-laj Looks good. Potentially these values should be adjustable. What do you think?

[2020-11-05 08:33] mik-laj commented on #11423
I worked on this ticket yesterday / today and managed to build documentation for providers package..
https://wicked-army.surge.sh/
I haven't migrated all the content yet, but the most difficult case - Google package have been successfully migrated fully, along with reference documentation for Python API and configuration.
https://wicked-army.surge.sh/google/html/index.html

There are two more seri

[2020-11-05 10:15] potiuk commented on #11423
Will take a look shortly :)

[2020-11-05 11:28] tanelk opened #12102 "Task with ALL_DONE trigger rule gets skipped"
**Apache Airflow version**:1.10.9

**Environment**:

- **OS** (e.g. from /etc/os-release):Debian GNU/Linux 10 (buster)
- **Kernel** (e.g. `uname -a`):5.9.1-arch1-1
- **Install tools**:pip

**What happened**:

Task with `TriggerRule.ALL_DONE` will get skipped if any of its upstream tasks is skipped.

**What you expected to happen**:

The [docs](https://airflow.apache.org/docs/stable/concepts.html#t

[2020-11-05 12:11] ashb commented on #9500
Added in to v1-10-stable for inclusion in v1.10.13

[2020-11-05 12:11] #9500 closed

[2020-11-05 12:21] dark-spark2 commented on #11965
@kaxil can I bump:
can I change attrs to higher version( attrs==20.1.0 ) for airflow 1.10.12?

[2020-11-05 12:59] olchas opened #12103 "Tasks can be stuck in running state indefinitely"
**Apache Airflow version**: 1.10.10

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): -

**Environment**: Cloud Composer

- **Composer addon version**: 1.12.4
- **Python version**: 3 (3.6.10)
- **Node count**: 3
- **Machine type**: n1-standard-2

**What happened**:

Sometimes Airflow tasks can be stuck in `running` state indefinitely.

I was testing Cloud Composer with

[2020-11-05 13:57] eladkal commented on #12102
ShortCircuitOperator does not respect trigger rules.
Closing issue is better described in https://github.com/apache/airflow/issues/12102

[2020-11-05 13:57] #12102 closed

[2020-11-05 14:57] rasalt opened #12110 "'gcs_schema_object' not picked up when using "jagged_rows: True'"
Goal:
I Want to allow jagged rows and specify a json file with the schema definition for the BQ destination table.
This works as expected if I use the "schema_fields" argument but does not when I use the gcs_schema_object argument.
Please advise.

**Apache Airflow version**:

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hard

[2020-11-05 16:04] pceric opened #12111 "Kubernetes operator retry regression"
**Apache Airflow version**: 1.10.12

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.15.9

**Environment**:
- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): Debian 9 (Stretch)

**What happened**: As of Airflow 1.10.12, and going back to sometime around 1.10.10 or 1.10.11, the behavior of the retry mechanism in the kubernetes

[2020-11-05 16:18] olchas commented on #12103
Approximately 10 minutes after sending SIGTERM to the pid 2130, the entire pod got restarted, which effectively cleared the remaining hanging processes. However, there is no error message in the log of pod `airflow-worker-86455b549d-zkjsc` apart from the info on the terminated task ending with cod `-15`:

[code]

Around the time of worker pod restart, I found the following error message in schedul

[2020-11-05 17:46] eladkal commented on #11889
fixed in https://github.com/apache/airflow/pull/11890

[2020-11-05 17:46] #11889 closed

[2020-11-05 17:57] kaxil commented on #11494
Can you test it with current v1-10-test branch please?

https://github.com/apache/airflow/commit/cb750c11b1899a88cfdf25baa18cf9896c7cef8f and https://github.com/apache/airflow/commit/edae056edd6b6fae94533ca8a4cc220ebfbadc68 might fix it

[2020-11-05 18:21] szn commented on #12042
@potiuk @feluelle @tiopi @millertracy we can save your time. Instead of creating four separate PR-s (each changing a single line of documentation), you can just write a valid description here and I'll handle the update.

I believe that's faster for you guys.

[2020-11-05 18:42] willywu commented on #10041
For me, the issue was that Airflow seems to put the logs in a path of:
[code]

But I had to first manually create the directory for {base_log_folder}/{dag_id} during my environment setup, i.e.
[code]

[2020-11-05 19:58] potiuk opened #12115 "Changes in the "dev/provider_packages" scripts should trigger tests for providers"
When any of the dev/provider_packages scripts change, they should trigger tests for provider

[2020-11-05 20:36] mik-laj opened #12116 "Update google-cloud deps to lv2"
Hello,

Google Cloud API Libraries introduced breaking changes in 2.0.0 (https://github.com/googleapis/python-container/blob/master/UPGRADING.md) and they already caused a number of changes.  For this reason, we limit all our google-cloud deps to <2.0.0.  This limit means our updates will not receive updates, but everything will still work.

We should try to code all operators to use newer version

[2020-11-05 22:20] #11479 closed

[2020-11-05 22:33] vikramkoka commented on #11879
@potiuk
Here are the questions that I have seen come up and please let me know if I should be adding these to a document some place instead of here.

Q. When upgrading to a new Airflow version such as 2.0, but possibly 2.0.1 and beyond, is the best practice to also upgrade provider packages at the same time?

Q. I have an Airflow version (1.10.12) running and it is stable. However, because of a Cl

[2020-11-05 22:39] potiuk commented on #11879
Cool! Superb questions :) really helpful!

[2020-11-05 22:40] potiuk commented on #12116
Thanks @mik-laj . You are a gem!

[2020-11-05 23:32] mik-laj opened #12120 "Old libraries in setup.py causing dependency resolution to pull old transitive constraints (3 years+)"
Dear and Wonderful Citizens,

I started to look at what libraries we have defined in the `constraints-*.txt` file and I am a bit surprised because we have this constraints defined on very old libraries.
https://github.com/apache/airflow/blob/053afe7/constraints-3.8.txt

Update (@potiuk): -> Just for clarity: constraints are automatically generated from setup.py so this is a matter of dependencies

[2020-11-06 00:24] ephraimbuddy opened #12121 "Bugs in REST API get dag details endpoint."
Here are some bugs in dag details endpoint.

1. Calling this endpoint `dags/{dag_id}/details` returns an error due to `doc_md` field that's not nullable.

2. The dag details endpoint `GET /dags/{dag_id}/details` does not return a json if dag does not exist.

3. This endpoint does not return a `file_token` which is needed to get the source code of a DAG. And also expected judging from the documenta

[2020-11-06 09:24] leodamasceno commented on #10964
Same issue here.

[2020-11-06 09:48] JavierLopezT commented on #11128
Actually, I was referring to this operator:
https://github.com/apache/airflow/blob/master/airflow/operators/sql.py

And yeah, I think it is totally worth it to have this feature, so it would be great if you start working on it.

PS: sorry @manesioz for not answering you, I didn't realize

[2020-11-06 09:51] JavierLopezT commented on #12086
Ok, I didn't know that. Closing the issue then, thank you. Although I think having more documentation with examples of what can be achieved with cluster policy would be very nice

[2020-11-06 09:51] #12086 closed

[2020-11-06 10:24] turbaszek commented on #12086
@JavierLopezT would you like to add them? It's best when the documentation comes from users who are using a feature 👍

[2020-11-06 10:24] ephraimbuddy opened #12131 "Return Json for all `Not Found` views in REST API"
Currently if an API URL that does not exist is requested, an html page is returned instead of JSON

**Apache Airflow version**:2.0

**What happened**:
Making a request against an endpoint that does not exist returns an html page

**What you expected to happen**:

I expected it to return 404 error in JSON indicating that the URL was not found

**How to reproduce it**:
1. Start airflow website and s

[2020-11-06 13:19] potiuk commented on #12120
I will change the title of the issue, because it is not the matter of constraints, but it's the matter of limitations in setup.py and transitional dependencies that we have for all those libraries.

There is nothing we can do on the constraint level. The constraints files are generated automatically by PIP dependency mechanisms - whatever PIP resolves using setup.py limits is automatically updated

[2020-11-06 13:24] #9507 closed

[2020-11-06 13:26] potiuk commented on #12120
BTW. If somebody want to see where the deps come from, it's easy to use pipdeptree:

[pipdeptree.3.8.txt](https://github.com/apache/airflow/files/5501434/pipdeptree.3.8.txt)

[2020-11-06 13:36] kaxil commented on #12120
I agree with Jarek, that some of the constraints come from dependencies of Airflow's dependencies. And since we have lots of dependencies it is not always straightforward to support all versions as these dependencies define there own requirements of versions.

So while having latest and greatest would be awesome, we need to make a concise effort that we don't make Airflow incompatible with other d

[2020-11-06 14:08] yamrzou opened #12136 "KubernetesPodOperator breaks with active log-collection for long running tasks"
I'm encountering the same bug reported in https://issues.apache.org/jira/browse/AIRFLOW-3534, with airflow 1.10.12.

[code]

The bug goes away by setting `get_logs=False` in the KubernetesPodOperator. Reproduced with multiple dags and tasks.

[2020-11-06 16:00] mjpieters opened #12138 "Celery executor should support custom database backend models"
Currently, the celery executor imports the `Task` model for the Celery database backend directly:

https://github.com/apache/airflow/blob/2dd4e96045d4a7f45cc8c06df3d25c4f1479392c/airflow/executors/celery_executor.py#L38

However, Celery, being highly customisable, uses `self.task_cls` in the backend implementation; this defaults to either `Task` or `TaskExtended` depending on the Celery configurat

[2020-11-06 16:05] potiuk commented on #12042
Indeed. Good point @szn

* plexus: Plexus service of CoreScientific.com AI platform
* sentry:  Sentry service for application logging and monitoring
* tableau: Tableau visualization integration
* virtualenv: Running python tasks in  local virtualenv

[2020-11-06 19:23] szn commented on #12042
@potiuk can you generate a description for `yandexcloud` as well? Is it _Yandexcloud hooks and operators_?

[2020-11-06 19:31] szn commented on #12042
I Googled that, and assumed **yes**.

Here is PR: https://github.com/apache/airflow/pull/12141

[2020-11-06 19:41] #12042 closed

[2020-11-06 23:26] darwinyip opened #12145 "Allow for setting dependencies in nested lists of tasks"
**Description**

Allow for setting upstreams/downstreams of tasks contained in nested lists

**Use case / motivation**

Be able to do this:
[code]

Instead, currently it would be set up as:
[code]

[2020-11-07 03:49] canerakin111 commented on #11965
Thanks a lot!

[2020-11-07 05:35] bhavaniravi commented on #9643
This issue has popped up again. Clearly, it is an infra issue, but my question is would it be better to handle `OperationalError` in airflow.

We had the same issue in the task code. We were able to close the connection in case of an error and retry something like this.

[code]

The problem is we cannot do the same for airflow, thereby leading to failures when

1. Updating the task status
2. Loggi

[2020-11-07 07:23] mik-laj commented on #12138
This looks like problems that we can get to quickly. Can I assign you to this ticket? I am happy to help with the review.

[2020-11-07 07:24] TechArtistG opened #12146 "On Windows, calling "airflow initdb" pops up "How do you want to open this file" dialog"
**Apache Airflow version**: 1.10.12

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**: Windows 10

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

After following the install instruction, when calling "airflow initdb" from a pow

[2020-11-07 08:02] quan-nguyen-sy opened #12147 "Supporting JSON on Variables' editor UI"
**Description**

Variables on Airflow are required to be defined in JSON format but it's very hard to edit JSON on the current UI. Then it's much better if the editor variables UI on Airflow are updated to support JSON format instead of plain text.

**Use case / motivation**

The editor for variables is much better if it can highlight keywords and validate the content.

**Related Issues**

There a

[2020-11-07 08:40] XD-DENG opened #12148 "2.0.0a2 webserver fails when connection "extra" field is None (NULL in DB)"
This issue can be reproduced by clicking "Edit" any connection whose `extra` is `NULL` in DB, for example, "airflow_db", or "databricks_default"

I have already found the reason, will raise a PR shortly.

1. How to Reproduce

![Airflow](https://user-images.githubusercontent.com/11539188/98437154-61c51080-20e0-11eb-9e59-a9a628fa1f41.png)

2. Error

[code]

**Apache Airflow version**:

**Kubernetes

[2020-11-07 08:59] potiuk commented on #12148
Cool!

[2020-11-07 09:27] potiuk opened #12150 "Production image has only amazon and google providers installed"
When "production" image is prepared for, only amazon and google providers are installed from sources.

**Apache Airflow version**:

master

**What you expected to happen**:

All providers should be installed

**How to reproduce it**:

[code]

Then:

[code]

then

[code]

UPDATE:

They are not even installed:

[code]

[2020-11-07 09:39] potiuk opened #12151 "Kubernetes tests are failing in master"
Kubernetes tests are failing master build:

Example here:

https://github.com/apache/airflow/actions/runs/350798991

The failing test is:

[code]

[2020-11-07 09:40] potiuk commented on #12151
Might be related to #12150

[2020-11-07 11:00] potiuk commented on #12150
Confirmed that was an aftermath of #10806. adding a fix shortly and protection against missing installation.

[2020-11-07 11:44] potiuk commented on #12151
Negative. The fix from #12150  - while a valid problem, did not fix the failure of kubernetes tests https://github.com/apache/airflow/pull/12154/checks?check_run_id=1367546765 did not

[2020-11-07 11:45] potiuk commented on #12150
We need to merge it for Beta1 - otherwise the production images will not be usable.

[2020-11-07 12:14] kaxil commented on #8255
Moved it to 2.1

[2020-11-07 14:00] michaelosthege commented on #7935
I had ~4800 tasks from the same DAG stuck after a manual reset, with the scheduler just killing PIDs.
Turning other DAGs off and increasing `DAGBAG_IMPORT_TIMEOUT` did not help. Also restarting webserver/scheduler/redis/mysql had no effect.

After setting the "running" dagruns with the stuck tasks to "failed" and then back to "running" in smaller batches the scheduler managed to queue them.

[2020-11-07 18:49] mik-laj commented on #10260
@sadielbartholomew How do you do? I hope to be with you in this crazy year. I wonder if you need any help with this contribution.

[2020-11-07 18:54] mik-laj commented on #12147
A similar editor would be helpful on the DAG trigger screen.
![image](https://user-images.githubusercontent.com/12058428/98449344-14be5a00-2133-11eb-8465-445cc732191f.png)

[2020-11-07 19:50] XD-DENG opened #12168 "More meaningful XCom List View Name"
In flask-appbuilder, the List View would use "List " + prettied model name as the title.

This makes sense for most of the cases, like `Variable`, `Connection`, etc.

But for `XCom`, the title is not making much sense.

(I'm testing with 2.0.0a2. But actually this issue exists in earlier 1.x versions as well).

![Airflow](https://user-images.githubusercontent.com/11539188/98450155-a087b480-213a-11

[2020-11-07 20:20] kaxil commented on #12081
Would you like to take a look at this one @rootcss ?

[2020-11-07 21:29] #12148 closed

[2020-11-07 21:44] rootcss commented on #12081
@kaxil Sure. please assign it to me.

[2020-11-07 22:04] #12168 closed

[2020-11-08 00:43] mik-laj commented on #12147
We can use [CodeMirror](https://codemirror.net/). It supports JSON with linting.

[2020-11-08 03:14] ldacey commented on #11968
I am using these libraries for Dask and pyarrow (and it is an optional dependency for pandas too). It seems like the adlfs library has a lot of the common methods needed for a wasb_hook:

https://github.com/dask/adlfs/blob/v0.5.0/adlfs/spec.py

https://github.com/intake/filesystem_spec/tree/master/fsspec

I am using a custom wasb_hook right now so I was planning on trying to upgrade to v12 to see

[2020-11-08 06:02] ldacey commented on #11968
I installed Airflow 1.10.12 and upgraded the Azure Blob SDK to v12 and was able to begin a rough wasb_hook. I still need to add some more methods to upload data, copy blobs, delete blobs, etc. I also need to add the async stuff as well since that is one of the major benefits of v12. Do you think I should just add flags (async=True) with if statements in my current methods where applicable in terms

[2020-11-08 08:15] #11926 closed

[2020-11-08 10:32] #9506 closed

[2020-11-08 11:45] akocukcu commented on #11128
@JavierLopezT Great :) I can also give the option to select an [available file format](https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html) (such as parquet, json, excel ...)
As I see, right now there is only csv option for MySqlToS3Operator.
I would like to work on this. Sorry to disturb you @mik-laj .But could you assign it to me please 🐱

[2020-11-08 11:47] RosterIn commented on #12147
How is that different than https://github.com/apache/airflow/pull/5573 ?

[2020-11-08 11:51] turbaszek opened #12179 "Add DAG level cluster policy"
**Description**

Currently we have **only** task level [cluster policy](https://airflow.readthedocs.io/en/latest/concepts.html?highlight=cluster%20policy#cluster-policy):
https://github.com/apache/airflow/blob/7dfb3980cecfafdb7d6b79d17455b08971cec7d4/airflow/models/dagbag.py#L386-L387

This is an amazing tool that allows users to validate their tasks by either skipping DAG or setting default value

[2020-11-08 11:52] turbaszek commented on #12179
CC: @mik-laj @jaketf @swalkowski

[2020-11-08 12:26] potiuk commented on #12179
Good idea !

[2020-11-08 12:35] maijh opened #12180 "scheduler create many scheduler process"
Apache Airflow version: v1109
executor: CeleryExecutor

some time the scheduler create many sub scheduler process. When this happens, the CPU usage of these sub schduler process is at 99%, and then i can see web ui appear：**The scheduler does not appear to be running. Last heartbeat was received xxx ago.The DAGs list may not update, and new tasks will not be scheduled.**

job_heartbeat_sec = 5
sch

[2020-11-08 14:16] eladkal commented on #11128
@akocukcu assigned to you

[2020-11-08 14:22] eladkal commented on #11819
@yuqian90 is this an easy fix to backport it to 1.10? Even if 2.0 is around the corner this is a functionality bug that might cause DAGs not to work as expected. Also not all organizations will move quickly to 2.0 it will take time.

[2020-11-08 14:24] eladkal commented on #12001
@davido912 assigned the issue to you :)

[2020-11-08 14:47] mik-laj commented on #12179
+1

[2020-11-08 15:25] eladkal commented on #11590
@potiuk can also be closed? :)

[2020-11-08 15:35] eladkal commented on #8937
@xrmx do you want to work on this task?

[2020-11-08 16:01] #11590 closed

[2020-11-08 16:02] mik-laj commented on #12180
Duplicate: https://github.com/apache/airflow/issues/7935

[2020-11-08 16:02] #12180 closed

[2020-11-08 16:09] XD-DENG opened #12182 ""blocked" UI feature is broken in 2.0.0a2 and the latest releases of 1.10.x"
When a DAG's number of active DagRuns >= its number of max allowed active DagRuns, it's `Schedule` will be highlighted with red colour (and a tooltip should always be added).

However this feature is broken in 2.0.0a2 and the latest a few releases of 1.10.x series.

## Example

in this case, the `schedule`'s background colour should be changed to red, according to code https://github.com/apache/ai

[2020-11-08 16:19] mik-laj commented on #12147
@RosterIn That change only formatted the code, that is, it added an indent and new lines. We want to have syntax highlight and lint in the browser.
See demo:
https://codemirror.net/demo/lint.html

[2020-11-08 18:04] KulykDmytro opened #12185 "Cant trigger task on demand under KubernetesExecutor"
**Apache Airflow version**: 1.10.12
**Kubernetes version**: 1.18.6

**What happened**:
Airflow is running within a k8s with **KubernetesExecutor**
When trying to run task on demand within a DAG (f.e. "Ignore all deps") receiving following banner

**What you expected to happen**:
Task should be executed

**How to reproduce it**:
see above

[2020-11-08 18:06] #9873 closed

[2020-11-08 18:35] mik-laj commented on #12035
My PR has been merged. Do you need help to add integrations with EKS?

[2020-11-08 19:51] #12182 closed

[2020-11-08 19:56] xrmx commented on #8937
@eladkal nope

[2020-11-08 19:59] XD-DENG opened #12186 "Final UI Style Refinement for "Blocked" Feature in Main Page"
### Description

The home page (`DAGs`) actually provides the feature the mark/highlight the DAGs whose number of active DAG Runs >= max allowed number of DAG Runs. This feature was broken earlier, and I fixed it in PR https://github.com/apache/airflow/pull/12183. To align with the new UI design in 2.0.0, I made minor change in terms of the style.

But it would be great if our UX/UI experts can ta

[2020-11-08 20:00] XD-DENG commented on #12186
CC @kaxil @potiuk @mik-laj

[2020-11-08 20:34] kaxil commented on #12186
aah nice, thanks for creating this.

[2020-11-09 00:52] zhangyi-hu commented on #9510
I'm still seeing this in 1.10.12

[2020-11-09 01:55] mik-laj commented on #11968
Support for asynchronous operations in Airflow is the future and no operator has yet to support it. For now, I would focus on the synchronous version, and as the next PR we can add asynchronous operations. WDYT?

[2020-11-09 03:07] jensenity commented on #11660
I'm using `apache-airflow-backport-providers-google==2020.10.5` and seem to get similar error as well.

[code]

[2020-11-09 03:35] BhuviTheDataGuy commented on #11660
Even the big query hook has the same issue, Im, not a coder :) so not able to find the exact cause.

When we use `contrib.bigquery` then no issue, this new `providers.bigquery` having this problem on all distributions (like the hook, bigquery operator, gcs to bq, empty table creator, Bq to bq and etc)

[2020-11-09 04:08] petedejoy commented on #11879
One thing I'd add is the inverse of the second question that @vikramkoka posed above- if I'd like to upgrade Airflow, how can I validate that the provider I'm installing will not break? What does that experience look like both from the user perspective and from the builder/maintainer perspective?

[2020-11-09 04:41] roharon opened #12189 "Not shown partial of text on Side-bar on Docs - REST API Reference"
**Apache Airflow version**: 1.10.12

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): Windows 10
- **Kernel** (e.g. `uname -a`):
- **Install tools**: MS Edge
- **Others**:

**What happened**:

[REST API Reference](https://airflow.apache.org/docs/stable/rest-api-ref.

[2020-11-09 05:13] jensenity commented on #11660
apparently they upgraded and fixed it at airflow backport 2020.10.29 version.

[2020-11-09 05:13] jensenity commented on #11660
https://github.com/apache/airflow/commit/47b05a87f004dc273a4757ba49f03808a86f77e7

[2020-11-09 05:16] BhuviTheDataGuy commented on #11660
Awesome!!! So im closing this now.

https://github.com/apache/airflow/issues/11282

[2020-11-09 05:16] #11660 closed

[2020-11-09 05:43] sharad-vm opened #12190 "Send email notification on DAG success"
**Description**

Airflow currently sends notifications on DAG failures. This feature request is to apply the same behavior to DAG successes as well, as an option. The default could be set to False.

**Use case / motivation**

To ensure that the DAGs run as scheduled.

**Related Issues**

[2020-11-09 07:02] maijh commented on #12180
https://github.com/apache/airflow/pull/11278/files
can the url  fix my problem?

[2020-11-09 07:44] mmgithub123 commented on #11965
great!
I have the some question，
when i use pip3 install cattrs==1.0.0.
 fix my problem

[2020-11-09 08:56] ashb commented on #12150
The "production" image should be installing the providers packages anyway.

[2020-11-09 08:58] potiuk commented on #12150
Yep. It was until the implicit packages change

[2020-11-09 09:08] muscovitebob commented on #11660
For Cloud Composer users like me, trying to use `2020.10.29` with the `composer-1.12.5-airflow-1.10.10` image will error out with a very cryptic:
[code]
In the cloud build step. The warning from earlier in the log may provide some hints as to why this happens:

[code]

So for now at least Cloud Composer users are stuck with using either the old non-buggy Operator or waiting for Google to patch thi

[2020-11-09 09:13] ashb commented on #12150
Sorry, I wasn't clear. Should be installing the providers packages _from split out providers_, not by having them be part of the apache-airflow dist.

Else it's not "production".

[2020-11-09 09:19] ashb commented on #12150
If we do #11464 do we even need to do anything?

[2020-11-09 09:43] potiuk commented on #12150
If you install it from released PIP packages it will work. but if you want to build master version of the production image which uses the latest sources (and which many developers use to try out the latest and greatest), and which WE use for kubernetes and helm chart testing then yes. We definitely need to do it regardless of #11464.

And we have to do it all the time if we do not want to be surpr

[2020-11-09 09:44] turbaszek commented on #12190
Users can use custom `on_success_callback` to achieve this behaviour:

[code]

Personally I prefer this generic approach - users can customise the subject, title and what ever they want to fit their needs.

[2020-11-09 09:49] ldacey commented on #11968
I agree with that. Do you think the synchronous v12 support would be in a 1.10 Airflow version or would it have to wait for 2.0?

@ephraimbuddy Any thoughts about keeping the hook method names the same as the previous wasb_hook? I know I personally have a lot of references to the hook in my existing code because I use it for schedule and also for reading/testing random blobs (jupyter notebooks all

[2020-11-09 09:50] ashb commented on #12150
Then lets not call it production -- if it's not installing modules as close as possible to the same way we will for a release (i.e. with pip from wheels) then it's not production, it's a light(er)-weight CI image.

[2020-11-09 09:58] ephraimbuddy commented on #11968
Yes. The methods are the same. Extra methods were added too. However, people will need to do the connection differently(I'll still look into this)

[2020-11-09 10:15] potiuk commented on #12150
As discussed - once we release providers via PYPI, I will change the build to use .whl backport packages to make the image from master even closer to the real  "production" one we are going to have. Let's do it incrementally :)

[2020-11-09 10:34] potiuk commented on #11879
Cool. I will try to prepare small "starting point" description PR  that
might be a good starting point that we will iterate over during betas.

On Mon, Nov 9, 2020 at 5:08 AM Pete DeJoy <notifications@github.com> wrote:

--

Jarek Potiuk
Polidea <https://www.polidea.com/> | Principal Software Engineer

M: +48 660 796 129 <+48660796129>
[image: Polidea] <https://www.polidea.com/>

[2020-11-09 11:26] #11916 closed

[2020-11-09 12:13] ashb opened #12193 "Add detailed documentation for scheduler "tuning" parameters"
https://github.com/apache/airflow/pull/12139 added some new params to the scheduler -- we have "cursory" docs for them in the comments in the config file, but we should have a more details docs in the scheduler.rst page.

[2020-11-09 12:26] #12150 closed

[2020-11-09 13:13] #12151 closed

[2020-11-09 13:35] ashb opened #12197 "Provider packages don't include datafiles"
The amazon and google providers don't include necessary datafiles in them.

They were previously included in the sdist via MANIFEST.in (see https://github.com/apache/airflow/pull/12196) and in the bdist via include_package_data from the top level setup.py

Both of these are currently missing.

I've put this against 2.0.0-beta1, it _could_ be changed separately as providers are separate releases.

[2020-11-09 14:02] billcrook opened #12199 "New dag run / task state: disposed"
**Description**

Introduce a new dag run / task state called "disposed". This new state would represent the acknowledgment of a failed run/task that should not be retried. Update the UI and CLI to provide a mechanism for the disposal action.

**Use case / motivation**

In a former gig we had a homegrown job management system. One nice feature for operations was the ability to "dispose" of a failed

[2020-11-09 14:08] duthades commented on #10585
@eladkal I think the ```kind:bug``` tag can be removed as it's not a bug.

[2020-11-09 14:14] ryanahamilton commented on #12186
This solution LGTM, closing the issue!

[2020-11-09 14:14] #12186 closed

[2020-11-09 14:17] potiuk commented on #12186
WHOA! @XD-DENG -> maybe you have a new career as a frontend/UX ;)

[2020-11-09 14:19] potiuk commented on #10585
So closing the issue then

[2020-11-09 14:19] #10585 closed

[2020-11-09 14:24] sharad-vm commented on #12061
I can take a shot at this. @eladkal, would you be able to assign this to me, please?

[2020-11-09 15:08] #9102 closed

[2020-11-09 15:10] ryw commented on #12199
As I mentioned in the Slack thread, I think this is a good step towards improved auditability for Airflow.

Maybe bundle this together with a few other audit improvements for a 2.X release.

[2020-11-09 15:32] ashb commented on #12199
Love the feature (and I've been thinking on and off about this for 2 years. Just never thinking enough to open an issue) -- not sure of the name is the only thing.

"Acknowledged Failure" -- or perhaps to make the task dep checking easier, the state could be left as failure, but somewhere else we record "yes, this failure has been investigated, it's 'okay'".

Anyway, :100:  to the feature idea.

[2020-11-09 15:38] ephraimbuddy opened #12201 "(REST API)Triggering a dagrun with naive datetime raises an html page instead of json"
Triggering a dagrun with naive datetime raises an HTML page instead of JSON

**Apache Airflow version**:2.0

**What happened**:

An HTML page was returned instead of json when the REST API was triggered with a naive datetime

**What you expected to happen**:

I expected it to raise error status 400 indicating that it's a bad request

**How to reproduce it**:
1. Start the web server and scheduler i

[2020-11-09 15:40] swalkowski opened #12202 "Inconsistent styles of different validation errors in Airflow UI"
**Apache Airflow version**: 1.10.12

**Environment**:

- **Cloud provider or hardware configuration**: Google Cloud Composer (one tweaked environment running RBAC UI, one regular environment running non-RBAC UI)

**What happened**:

Inconsistent styles of different validation errors in Airflow UI. In particular, a validation error for missing field value is a white box with exclamation mark in a y

[2020-11-09 15:49] potiuk commented on #11879
Hello everyone,

I prepared the first version of the documentation update including Provider
Packages and it's dependencies. It addresses (I hope) the questions pointed
out by Vikram and Pete,

I invite everyone interested in the discussion in the PR:

https://github.com/apache/airflow/pull/12203

Suggestions on re-wording are most appreciated, I am not a native speaker,
so grammar, wording etc. a

[2020-11-09 15:52] potiuk commented on #12202
I guess @ryanahamilton that this is similar for 2.0? Or have we already unified it? I am happy to cherry-pick some changes to 1.10.13 if they might be simple and you can guide me - to make life of the 1.10.* folks a bit better on that :)

[2020-11-09 15:57] #12197 closed

[2020-11-09 15:57] ryanahamilton commented on #12202
For some additional context, the "please fill out this field" messages are native browser rendered input validation based on the input having a `required` attribute, and the others are custom validation within the application. This is unchanged in 2.0. This form is rendered by FAB, so if we wanted to change it, it would have to be PR'ed to FAB.

[2020-11-09 16:01] potiuk commented on #12202
So i'd say it's something we might not even want to deal with, I am afraid. Looks like the effort is not worth it.

[2020-11-09 16:04] ryanahamilton commented on #12202
@potiuk yeah, I think I'd agree with that.

[2020-11-09 16:05] ephraimbuddy commented on #12201
Just found out naive date-times are not handled at all. So it's not only the triggering of dagruns. I will fix this later

[2020-11-09 16:28] VBhojawala commented on #11967
![Before](https://user-images.githubusercontent.com/11897651/98566937-61da3180-22d5-11eb-9ed8-426f145d4539.png)

In my humble opinion this issue can be fixed with following css changes :+1:

[code]
Screen shoot of 1080p screen web browser after applying above changes

![After](https://user-images.githubusercontent.com/11897651/98566965-69013f80-22d5-11eb-896a-92b06e94acd7.png)

Same can be tested

[2020-11-09 16:45] mik-laj commented on #11967
I will want to delete this page and replace it with a list of operators in another form. Ideally, it would be like we managed to create something similar to t[he Terraform Registry](https://registry.terraform.io/browse/providers
).
See: https://github.com/apache/airflow/issues/11423

[2020-11-09 17:41] kirancodify opened #12207 "Remote logging not working with google bucket"
**Apache Airflow version**: apache/airflow:1.10.12

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):v1.15.12-gke.20

**Environment**: Google kubernetes engine

- **Cloud provider or hardware configuration**: GCP

**What happened**:
I am trying to push the DAG task logs to google storage bucket using the remote logging feature. I have setup the airflow on GKE using the

[2020-11-09 18:23] mik-laj commented on #12207
This doesn't look like a bug, but a configuration problem.  If you're having trouble setting up your environment, please ask on #troubleshooting or #airflow-kubernetes channel. [![Slack Status](https://img.shields.io/badge/slack-join_chat-white.svg?logo=slack&style=social)](https://s.apache.org/airflow-slack)

[2020-11-09 18:23] #12207 closed

[2020-11-09 18:37] kaxil commented on #11112
Any updates on this one @turbaszek @dimberman ?

[2020-11-09 19:27] ryw commented on #11423
Hi @mik-laj - I reviewed this and chatted w/ @kaxil today, looks good structurally for v1.

In the short term, is the idea to build this into the airflow website next to the other docs? Trying to think what is simplest to get v1 out there. Do we want to provide versioned docs for each provider, I don't think so - just "latest"

We could have sublinks across the top "Airflow" and "Airflow Providers

[2020-11-09 20:22] ryw commented on #11870
@thcidale0808 sorry for slow reply - looks like someone else is working on it here - https://github.com/apache/airflow/pull/12159

[2020-11-09 21:12] potiuk commented on #11423
I think eventually we might need a doc per provider version. We can fully automate it - once we automate it for "latest" it will be almost no effort to automate it for "per-provider-version". And it would be rather confusing for people looking at the provider's doc from latest version while they will be using another.

Just the fact that we agreed to Semver and agreed that we might have breaking c

[2020-11-09 21:14] ashb commented on #11464
I'll merge this in a moment, one final PR to fix readme of packages coming up.

[2020-11-09 21:29] thcidale0808 commented on #11870
thanks @ryw. I'll look for another one to contribute. @kaxil maybe you should assign this issue to VBhojawala.

[2020-11-09 21:32] potiuk commented on #12202
@swalkowski  - I think we should close it then.

[2020-11-09 21:32] #12202 closed

[2020-11-09 21:43] darwinyip opened #12214 "SlackWebhookHook should use password instead of extra to store the token"
Currently `SlackWebhookHook` gets the token from `extra` but it would be more secure and intuitive to have it in password.

https://github.com/apache/airflow/blob/4fb5c017fe5ca41ed95547a857c9c39efc4f1476/airflow/providers/slack/hooks/slack_webhook.py

[2020-11-09 21:53] ryw commented on #11423
Agree - we should ship v1 as "universal docs" since it's the first release for all the providers, but we'll have to address the problem pretty soon as providers start to independently update + release.

[2020-11-09 22:01] #11464 closed

[2020-11-09 22:20] XD-DENG commented on #12186
Absolutely don't mind to pick up more ;-)

[2020-11-09 22:34] ashb opened #12217 "Sendgrid provider is missing README.md file"
The SendGrid provider is missing a README.md file -- this means we haven't yet published a release for this.

[2020-11-10 01:05] mik-laj commented on #11660
Can you  latest composer image `composer-1.13.0-airflow-1.10.12` image and latest backport provider -` apache-airflow-backport-providers-google==2020.10.29`?

[2020-11-10 01:07] mik-laj commented on #11968
I would like it to be available for Airflow 1.10 and 2.0.

[2020-11-10 01:13] mik-laj commented on #12061
@sharad-vm I assigned you to this ticket.

[2020-11-10 01:20] #9752 closed

[2020-11-10 01:27] mik-laj commented on #12214
Sound good to me. Can I assign you to this ticket?

[2020-11-10 02:53] caoyouming opened #12223 "DingdingOperator return NoneType"
https://github.com/apache/airflow/blob/7463b6bcc7a823a9d02c7026d9b03b81c6421654/airflow/providers/dingding/hooks/dingding.py#L124

int() argument must be a string, a bytes-like object or a number, not 'NoneType'

[2020-11-10 02:57] caoyouming commented on #12223
I Think errcode equal to 0 is OK, But the product returns this error.

[2020-11-10 03:10] mik-laj commented on #12223
@zhongjiajie Can you look at it?

[2020-11-10 04:06] VBhojawala commented on #11870
Closing current pull request to re-raise pull request.

[2020-11-10 04:38] mik-laj commented on #12189
This is documentation for an API that is no longer supported.  The documentation for the stable API looks better.
https://airflow.readthedocs.io/en/latest/stable-rest-api-ref.html

Can you create an issue also on [airflow-site ](https://github.com/apache/airflow-site/issues) repo?

[2020-11-10 05:20] roharon commented on #12189
Sure, I'll create it

[2020-11-10 07:26] gakhrejah opened #12229 "ERROR - Unknown error in KubernetesJobWatcher. Failing"
Hi Team,

We are getting below error Logs while running the Apache Airflow On AWS EKS .
All the Pods(Tasks) are in completed state but not removed by Airflow. I had to do manual restart of scheduler it everything works for 2-3 days. Then again all the tasks are stuck .

ERROR LOGS
[2020-11-10 07:00:07,752] {{kubernetes_executor.py:447}} ERROR - Error while health checking kube watcher process. Pro

[2020-11-10 07:32] singhalss commented on #11436
I tried with AUTH_TYPE = AUTH_LDAP as per the documentation given but no luck. Also the logs are not giving any clue about the problem, is there anyway we can enable debug logs for FAB security manager to get more idea?

[2020-11-10 07:52] potiuk opened #12231 "Extras installation was lost in the last rebase"
The #11526 was badly rebased just before beta1 relase and few
lines installing the providers were lost.

[2020-11-10 07:54] potiuk commented on #12231
cc: @kaxil @ashb -  I think that ones calls for b2 release ASAP only containing this fix and #12217 restoring sendgrid provider.

We can defer it to next week as the only difference is that you have to install providers manually, but from "user experience" point of view I think it would be great to have it from Day 1

[2020-11-10 07:55] potiuk commented on #12231
Happy to announce it and apologise if we agree to :).

[2020-11-10 08:47] tlw-ray opened #12234 "DAG success bug Tasks in it no_status"
**Apache Airflow version**: 1.10.12

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): none

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
    - NAME="CentOS Linux"
    - VERSION="7 (Core)"
    - ID="centos"
    - ID_LIKE="rhel fedora"
    - VERSION_ID="7"
    - PRETTY_NAME="CentOS Linux 7 (Core)"
- **Kernel** (e

[2020-11-10 09:33] #11967 closed

[2020-11-10 09:37] k-lyda opened #12236 "Logging to S3 stops working when MLFlow import added to file"
**Apache Airflow version**:
Apache Airflow [1.10.12]

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.2", GitCommit:"52c56ce7a8272c798dbc29846288d7cd9fbae032", GitTreeState:"clean", BuildDate:"2020-04-16T11:56:40Z", GoVersion:"go1.13.9", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version

[2020-11-10 09:45] potiuk commented on #11660
@muscovitebob -> I believe indeed it is a dependency problem that is very likely to be addressed in the last version of composer image. From what we know the Composer team keeps the images updated with the releases of Apache Airlfow and the providers and the next image will even include the latest google providers baked, in but you should try to install the latest provider there. Note that there i

[2020-11-10 09:51] swalkowski opened #12237 "'Access is Denied' errors are for the previous page"
**Apache Airflow version**: 1.10.12

**Environment**:

- **Cloud provider or hardware configuration**: Google Cloud Composer (tweaked environment running Airflow RBAC UI)

**What happened**:

In Airflow RBAC UI, when switching between pages, 'Access is Denied' error message actually indicates missing permissions on the previously visited page.

I understand the basic scenario for which this behavi

[2020-11-10 10:01] potiuk commented on #12237
Indeed, that seems like a pretty confusing thing - possibly also something that we can address for 2.0 and I'd be glad to cherry-pick it to 1.10 if (again :) ) this could be an easy fix.

I think this is not the best idea to show details of why there is "access denied" - from a security point of view, showing details of access problem might be a clue for an attacker - but, from earlier discussions

[2020-11-10 10:28] anirudhbagri opened #12239 "Airflow v2.0.0b1 package doesnt include "api_connexion/exceptions""
**Apache Airflow version**: 2.0.0b1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): NA

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): macOS
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:
Installed apache-airlfow==2.0.0b1 using pip.
Running `airflow webserver` gave the fo

[2020-11-10 10:33] potiuk commented on #12239
cc: @ashb @kaxil  -> looking at it

[2020-11-10 10:36] anirudhbagri commented on #12239
I downloaded the packages externally from (here)[https://pypi.org/project/apache-airflow/2.0.0b1/#files], this one also doesn't contain anything except the `openapi` folder.

[2020-11-10 10:38] kaxil commented on #12239
What command did you run? `pip install apache-airflow==2.0.0b1` or did you download the tar.gz and run `pip install FILEPATH_TO_TAR`

[2020-11-10 10:40] anirudhbagri commented on #12239
I first ran `pip install apache-airflow==2.0.0b1` and ran the command to get those errors.

Then to confirm, I downloaded the tar to check the contents. (didn't install the tar)

[2020-11-10 10:41] potiuk commented on #12239
@ashb @kaxil -> indeed the problem is with implicit packages. The root cause is that `api_connexion` has no `__init__.py`

[2020-11-10 10:42] kaxil commented on #12239
aah, we just need to add `__init__.py` file then, wonder why and how it got deleted / missing

[2020-11-10 10:44] potiuk commented on #12239
It was never there - but the change with implicit packages, changed `find_namespace_packages` into `find_packages`

[2020-11-10 10:44] kaxil commented on #12239
It was there, it got renamed here: https://github.com/apache/airflow/commit/b2a28d1590410630d66966aa1f2b2a049a8c3b32 / https://github.com/apache/airflow/pull/12082

[2020-11-10 10:46] potiuk commented on #12239
AAAAAH Github rebase magic finding wrong files!

[2020-11-10 10:46] potiuk commented on #12239
Bad me!

[2020-11-10 10:47] potiuk commented on #12239
Sounds like b2 then

[2020-11-10 10:48] ashb commented on #12239
@potiuk https://github.com/apache/airflow/pull/12082/files#r518885540

You also resolved this discussion of mine. This file rename was the cause of that problem.

[2020-11-10 10:48] kaxil commented on #12239
Yeah, let's cut out beta2 today itself

[2020-11-10 10:48] anirudhbagri commented on #12239
b2? :(

[2020-11-10 10:50] ashb commented on #12239
Fix coming.

[2020-11-10 10:50] potiuk commented on #12239
Yep. Entirely my fault

[2020-11-10 10:52] ashb commented on #12239
I missed it too! It happens, we're just unlucky in the timing

[2020-11-10 10:52] kaxil commented on #12239
None of our tests caught it :(

[2020-11-10 10:52] #12231 closed

[2020-11-10 10:54] ashb commented on #12239
Our tests almost entirely operate on an "editable" install is why :(

[2020-11-10 10:54] ashb commented on #12239
I'm going to rename Beta2 milestone to Beta3 (etc).

[2020-11-10 10:55] kaxil commented on #12231
no, no -- definitely don't need to apologize. They are betas ;)

[2020-11-10 10:56] potiuk commented on #12239
That's the next step we discussed with Ash that production image should also be build using packages/wheels. I will add it before beta. it will be rather impossible for CI, but since we have k8s test using the production image and it uses both - scheduler and webserver  it will be a very good test.

[2020-11-10 10:57] potiuk commented on #12239
I also merged #12231  and will double test it now - also we can release sendgrid 1.0.0b2

[2020-11-10 10:59] potiuk commented on #12239
The extras work perfectly from local installation now.

[2020-11-10 11:00] potiuk commented on #12239
[code]

[2020-11-10 11:00] ashb commented on #12239
Sendgrid we can do as a 1.0.0b1 on it's own. I'll do that right now.

[2020-11-10 11:03] ashb commented on #12217
/sparkle Thanks for picking this up @potiuk -- it was late last night and I felt it was better to get everything else out than block core beta2 and the rest of the providers on this one.

[2020-11-10 11:03] ashb commented on #12217
/sparkle

[2020-11-10 11:04] ashb commented on #12217
(I have no idea how this `/sparkle` is meant to work)

[2020-11-10 11:04] anirudhbagri commented on #12239
Although I get that `__init__.py` file was not present in the folder, why did `openapi` folder got into the package?
was it because `openapi` did not have `__init__.py` whereas `endpoints` and `schema` had `__init__.py` inside them?

[2020-11-10 11:06] ashb commented on #12239
[code]

That is there because datafiles are included via a different mechanism to code files.

[2020-11-10 11:07] kaxil commented on #12239
Yeah we include openapi files:

https://github.com/apache/airflow/blob/5912d0cae7033b3e2549280677dd60faa53be5e7/MANIFEST.in#L33
https://github.com/apache/airflow/blob/5912d0cae7033b3e2549280677dd60faa53be5e7/setup.py#L916

[2020-11-10 11:08] anirudhbagri commented on #12239
Oh, Got it. (y). Thank you!

[2020-11-10 11:26] #12239 closed

[2020-11-10 11:52] anirudhbagri commented on #12217
/sparcle @ashb -> to give sparkle

[2020-11-10 13:06] ashb commented on #12239
Beta 2 had been pushed to pypi

[2020-11-10 13:10] HaloKo4 opened #12246 "GCS to Presto transfer operator"
**Description**
Transfer operator to allow loading data from GCS to Presto database

**Related Issues**

different direction the transfer operator added a while ago https://github.com/apache/airflow/pull/7718

[2020-11-10 13:38] anirudhbagri opened #12247 "Example DAGs import error"
**Apache Airflow version**: 2.0.0b2

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):macOS
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:
Running `airflow db init` followed by `airflow dag list` give the following error:
[code

[2020-11-10 13:38] thcidale0808 commented on #12199
@ashb can I contribute with the implementation of this feature?

[2020-11-10 13:47] jbampton commented on #12247
Pretty sure it should be `airflow dags list`  not `airflow dag list`.

Worked for me on the latest master.

[2020-11-10 13:48] turbaszek commented on #12090
Btw. if there will be more handlers for `airflow.task` I think we will end up with duplicated logs in webserver view, won't we?

[2020-11-10 14:21] anirudhbagri commented on #12247
my bad. it is `airflow dags list`.
But the error is still showing up.

[2020-11-10 15:07] turbaszek commented on #12247
@ashb @potiuk @dimberman I think the problem is that we are using providers and kubernetes code in core examples. The one with `SimpleHttpOperator` I know how to fix, but how do we want to approach k8s stuff?

[2020-11-10 15:10] anirudhbagri commented on #12247
You are right @turbaszek.
Once I added `apache-airflow-providers-http` to requirements the error goes away.

[2020-11-10 15:14] nadeesh-garg opened #12251 "'TaskInstance' object has no attribute 'get_previous_execution_date'"
I'm trying to use the following: `context['task_instance'].get_previous_execution_date()`
I get a response:
`
'TaskInstance' object has no attribute 'get_previous_execution_date'`

I'm using the docker Image: apache/airflow:1.10.11-python3.6

If I use the older `previous_execution_date_success`, I get None everytime!

[2020-11-10 15:17] turbaszek commented on #12251
@nadeesh-garg please provide required information like airflow version and environment. Without that we are unable to help you fully.

[2020-11-10 15:21] nadeesh-garg commented on #12251
Hi, edited original answer

[2020-11-10 15:38] anirudhbagri opened #12254 ""Log" button on graph view popup doesn't open the logs view"
**Apache Airflow version**:2.0.0b2

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): NA

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): macOS
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:
Clicking on the "Log" button in the popup for task instance in graph view doesn't lin

[2020-11-10 15:50] jedcunningham opened #12255 "Statsd (tbc. if more extras) tries to install provider package where it is missing"
**Apache Airflow version**: 2.0.0b2

**What happened**:

Starting in 2.0.0b2, extras that aren't also providers like `statsd` prevents Airflow from being installed.

**How to reproduce it**:
[code]

I believe this is from https://github.com/apache/airflow/pull/12233

[2020-11-10 15:57] potiuk commented on #12255
I was quite sure I tested it :(

[2020-11-10 15:58] potiuk commented on #12255
I wiill double-check and fix it

[2020-11-10 16:09] eladkal commented on #10693
Closed as no further action needed.

[2020-11-10 16:09] #10693 closed

[2020-11-10 16:09] potiuk commented on #12255
Just to clarify - Indeed I tested it. This is just a problem with "statsd" which I mistakenly marked as "provider" extra. @jedcunningham  - other extras like "kerberos" and "ldap" should work fine (as they are not mistakenly marked as having providers).  Could you please double check if those work ?

[2020-11-10 16:14] jedcunningham commented on #12255
Yes, those do work (sorry, I generalized without checking others).

[2020-11-10 16:14] #10911 closed

[2020-11-10 16:20] turbaszek opened #12257 "Error while creating mount source path /host_mnt/.../in_container/entrypoint_ci.sh"
**Apache Airflow version**:
Master branch

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
N/A

**Environment**:

- **OS** (e.g. from /etc/os-release): MacOS

**What happened**:

[code]

**What you expected to happen**:

I expect to be able to enter breeze 😄

**How to reproduce it**:

[code]

**Anything else we need to know**:

Worked before rebasing :<

[2020-11-10 16:24] potiuk commented on #12255
Cool ! :) No problem. I wil add automated check for that before I fix it :).

[2020-11-10 16:26] #12217 closed

[2020-11-10 16:26] eladkal commented on #11716
`imp.load_source` was removed from master in https://github.com/apache/airflow/pull/7099
@kaxil should the PR cherry picked to 1.10.13?

[2020-11-10 16:33] potiuk commented on #12257
You will need to rebuild image, but I suggest to get the #12256 in

[2020-11-10 16:35] turbaszek commented on #12257
`./breeze --force-build` did the trick, thanks

[2020-11-10 16:35] #12257 closed

[2020-11-10 16:36] potiuk commented on #12257
Yeah. But with  #12256 it should finally work fine when Pyhon patchlevel is releases (that was always a few days of pain when combined with failing builds in master).

[2020-11-10 16:41] turbaszek opened #12258 "Main DAG list view is not pretty"
**Apache Airflow version**:
master branch

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
N/A

**Environment**:

- **OS** (e.g. from /etc/os-release): MacOS
- **Browser**: Safari

**What happened**:

<img width="1680" alt="Screenshot 2020-11-10 at 17 38 01" src="https://user-images.githubusercontent.com/9528307/98703308-a6200d00-237b-11eb-9f98-ef1d7cb8de20.png">

**W

[2020-11-10 16:41] turbaszek commented on #12258
CC @ryanahamilton

[2020-11-10 16:43] ryanahamilton commented on #12258
@turbaszek Might need to recompile your assets and restart webserver?
[code]

[2020-11-10 16:47] turbaszek commented on #12258
Yes, that helped. I forgot about it 😞

[2020-11-10 16:47] #12258 closed

[2020-11-10 16:51] turbaszek opened #12259 "Log and all instances buttons not working"
**Apache Airflow version**:
Master branch

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
N/A

**Environment**:

- **OS** (e.g. from /etc/os-release): MacOS
- **Browser**: Safari
- **Others**: breeze environment

**What happened**:

Nothing happens when clicking "Log" or "All instances" in this view
<img width="1020" alt="Screenshot 2020-11-10 at 17 43 37" src="https

[2020-11-10 17:23] potiuk commented on #12247
This is also part of #11435 - we have a few more core-> providers deps to remove. This is a great start :)

[2020-11-10 17:25] #11880 closed

[2020-11-10 17:32] turbaszek commented on #12259
CC @ryanahamilton  - I compiled the assets as mentioned in #12258

[2020-11-10 17:32] potiuk opened #12261 "Make production image use provider packages to build for production."
Currently, the production image we use is build directly from sources. This is great for development, but id does not really test if airflow will work if installed from packages. We should be able to build the packages locally and build the image using whl packages as sources of pip packages.

This will be as close to someone installing airflow from those packages manually

Once we use it for test

[2020-11-10 17:33] turbaszek commented on #11435
There's a dependency on kubernetes in example dags:
https://github.com/apache/airflow/blob/ae397df3360a61d081579ac838293ae440c81cb3/airflow/example_dags/example_kubernetes_executor_config.py#L23

which is not required dependency for Airflow. If users don't have installed kubernetes package then they will face errors when using example dags as mentioned in #12247.

[2020-11-10 17:39] potiuk commented on #12261
cc: @ashb - as discussed

[2020-11-10 17:41] potiuk commented on #12258
@ryanahamilton @turbaszek  : I already know how to automate it while entering breeze. Will add it shortly so that there are no such problems in the future.

[2020-11-10 17:43] potiuk opened #12262 "Automate asset compiling when entering breeze"
Currenlty when any of the assets change, you need to remember about recompiling assets when entering breeze. This can be easily automated so that the rebuild will happen every time assets change.

Linked issue #12258

[2020-11-10 17:44] potiuk commented on #12258
Issue #12262 created. Will add it shortly.

[2020-11-10 17:55] potiuk opened #12263 "Tagged Production image build fails in DockerHub"
Beta1 and Beta 2 were built manually as the scripts for building images in DockerHub ALMOST worked :). they failed on pulling tagged -build images.

[code]

[2020-11-10 18:07] maganaluis opened #12264 "Better Statuses Kubernetes Executor"
**Description**

When running Airflow with the Kubernetes Executor, it will be great to provide better status regarding the execution of the tasks. The best approach would be to display the latest event for the running Pod.

**Use case / motivation**

When users use the Kubernetes Executor they might choose to attach a volume, secrets, configmaps, change the resources requests, etc... as they have

[2020-11-10 18:12] kaxil commented on #12259
Related: https://github.com/apache/airflow/issues/12254

[2020-11-10 18:21] mjpieters commented on #11464
I suspect that the list of provider packages is too broad; there is no `apache-airflow-providers-statsd` package, for example. Should I file a new bug?

[2020-11-10 18:21] ryanahamilton commented on #12254
Planning on investigating this later today.

[2020-11-10 18:26] mjpieters commented on #12090
Only if those handlers write to the same log file. The webviewer displays for specific log files (via a Flask file-serving route), not to anything a handler might do. There are all sorts of handlers, not all write to log files.

Or were you thinking of something else?

[2020-11-10 18:26] kaxil commented on #11464
We have one issue filed for it here: https://github.com/apache/airflow/issues/12255

[2020-11-10 18:57] turbaszek commented on #12259
Duplicate of #12254

[2020-11-10 18:57] #12259 closed

[2020-11-10 19:08] thelderop commented on #8937
I'll give this a shot!

[2020-11-10 19:46] chsk-code commented on #10435
I have the same issue. My airflow(1.10.12) is running on AWS ECS(Fargate).
`INFO - Task exited with return code Negsignal.SIGKILL`

[2020-11-10 19:59] darwinyip commented on #10435
Experiencing the same on 1.10.12 running on AWS ECS(EC2).

[2020-11-10 21:14] casassg opened #12269 "Update TaskFlow API example to use `@dag` decorator"
**Description**

Update https://github.com/apache/airflow/blob/master/airflow/example_dags/tutorial_taskflow_api_etl.py tp use `@dag` decorator instead of leveraging context manager to make it more TaskFlow-y.

[2020-11-10 21:49] #12247 closed

[2020-11-10 21:52] turbaszek commented on #12269
Do we need other example than this one?
https://github.com/apache/airflow/blob/0cd1c846b2fb4d830b87e11b884094ee4765ab22/airflow/example_dags/example_dag_decorator.py#L43-L67

[2020-11-10 22:09] muscovitebob commented on #11660
Upgrade with these went well, thanks much! Did not realise there was a new release.

[2020-11-10 22:18] #12254 closed

[2020-11-10 22:27] casassg commented on #12269
I was thinking more on having a more end to end example for the tutorial?

[2020-11-10 22:32] kaxil commented on #12269
We could update an example in https://github.com/apache/airflow/pull/12170 to use the `dag` decorator

[2020-11-10 22:48] kaxil commented on #11716
The error itself won't be fixed by that change @eladkal .

Do we have steps to reproduce this error?

[2020-11-10 23:08] darwinyip commented on #12214
@mik-laj Sure! Do I need to make it backwards compatible and support extra along with password?

[2020-11-10 23:11] mik-laj commented on #12214
Yes. You should also add [DeprecationWarning](https://github.com/apache/airflow/search?q=DeprecationWarning). I assigned you to this ticket.

[2020-11-10 23:16] JavierLopezT commented on #12179
Nice feature. Thanks for informing me

[2020-11-10 23:54] eflann commented on #12269
Is this what you had in mind?

[2020-11-11 00:05] casassg commented on #12269
@eflann yes. Commenting in the PR

[2020-11-11 00:11] casassg commented on #12269
@kaxil I would encourage all TaskFlow tutorials to be using `@dag` better? We can leave some w context manager so people undertstand it's usable in both ways. But I was indeed refering to `tutorial_taskflow_api_etl` as @eflann mentions

[2020-11-11 00:23] gvwirth opened #12272 "Package vulnerability scan failing on lodash CVE"
Hello,

We use the vulnerability scanning tool [Trivy](https://github.com/aquasecurity/trivy) to scan our Airflow Docker images for vulnerabilities. Today the scans started failing on a discovered lodash vulnerability:

[code]

Do you have any remediation steps for us to patch lodash to 4.17.19?

Thank you!

[2020-11-11 00:25] kaxil commented on #12269
+1 to that change

[2020-11-11 01:36] mik-laj commented on #8937
I assigned you to this ticket.

[2020-11-11 03:17] mik-laj commented on #12193
If possible, I would change the option name from `clean_tis_without_dagrun ` to `clean_tis_without_dagrun_interval ` The other configuration options have this suffix.

[2020-11-11 04:15] himabindu07 opened #12275 "Astronomer's Helm Chart for Apache Airflow"
Step1--> https://github.com/astronomer/airflow-chart
Clone the repository
Step 2 --> kind create cluster --name airflow20 --config kind-cluster_bk.yaml
Creating cluster "airflow20" ...
 ✓ Ensuring node image (kindest/node:v1.19.1) 🖼
 ✓ Preparing nodes 📦 📦 📦
 ✓ Writing configuration 📜
 ✓ Starting control-plane 🕹️
 ✓ Installing CNI 🔌
 ✓ Installing StorageClass 💾
 ✓ Joining worker nodes 🚜
Set kubectl

[2020-11-11 04:21] ephraimbuddy opened #12276 "(REST API) List event logs endpoint is not working"
The list event log endpoint is not working

**Apache Airflow version**: 2.0

**Environment**: Breeze

**What happened**:

Calling the list event logs endpoint `http://localhost:28080/api/v1/eventLogs` returns 500 status code with the below message:

[code]

**What you expected to happen**:

I expected it to produce a list of event logs:
[code]

**How to reproduce it**:
1. Start airflow webserver a

[2020-11-11 05:00] mik-laj commented on #12275
This is the apache / airflow repository. We also have a Helm Chart that is based on an astronomer chart, but it has already changed a lot.
Can you create a ticket in the correct repository? I don't think your problem is with Apache Airflow or our Helm Chart.
https://github.com/astronomer/airflow-chart/issues

[2020-11-11 05:00] #12275 closed

[2020-11-11 06:24] noniu commented on #10964
Same issue here.

[2020-11-11 06:31] tlw-ray commented on #12234
The problem is very easy to reproduce:
[code]

![](https://raw.githubusercontent.com/tlw-ray/docker-airflow-mssql/master/image/Airflow_1_10_12.png)

[2020-11-11 07:28] tigicion opened #12278 "Add DAG version info"
**Description**

Currently we can't tell which version the dag is as there is no corresponding param for it. I was wondering if it is possible to add version info for each dag, and show it on the UI

**Use case / motivation**

I can't tell if the dag is successfully updated after some modification has been done. It would be really convenient if I can view the version info for each dag on the UI.

[2020-11-11 10:19] potiuk opened #12281 "Add list of providers available in the docs"

[2020-11-11 11:07] potiuk commented on #12272
How about making a PR to increment the version @gvwirth ?

[2020-11-11 11:11] potiuk opened #12282 "Rewrite Breeze in Python"
This is follow up and discussion space for the discussion started in https://lists.apache.org/thread.html/ra7e0629922436607de72fa3ea124aa4336df033163f4af0ebcee7b98%40%3Cdev.airflow.apache.org%3E

While I was opposing this while we were focusing on Airflow 2.0, and there are some good reasons why initially I started Breeze in Bash, I think with the current state of Airflow 2.0 betas, with Airflow 2

[2020-11-11 11:23] potiuk commented on #12282
And just another comment here. I would love to have a good mixture of people participating:

* core commiters
* "fresh" commiters
* frequent contributors
* casual contributors
* users who would like to contribute

[2020-11-11 11:39] davido912 commented on #12282
Raising my hands up here. Would be interested to hear and help. ✋

[2020-11-11 14:55] phraniiac commented on #12282
Hi! I would like to help with this task. ✋

[2020-11-11 15:32] nathadfield opened #12284 "BigQueryGetDataOperator doesn't return data correctly"
Apache Airflow version: 1.10.*
BackPort Packages version: 2020.11.13rc1

What happened:

Although running the `BigQueryGetDataOperator` without specifying `selected_fields` appears to be successful, if you inspect `table_data` returned from `hook.list_rows` then it is just a list of empty sets.

[code]
Adding some fields to the `selected_fields` argument, does correctly return data however.

[code

[2020-11-11 16:13] #12255 closed

[2020-11-11 17:45] gvwirth commented on #12272
Thanks for the reply -- after digging a little more, it seems that this was already taken care of and should be in the 1.10.13 release. Is this the correct file that generates airflow/www_rbac/yarn.lock ?

https://github.com/apache/airflow/blob/cbe4ef2c5e143c87c9edd1c54a4949bbdd7a8edd/airflow/www/package.json#L72

[2020-11-11 18:32] mjpieters opened #12289 "Web UI: task model Log and All Instances buttons inoperative when _not_ using Kubernetes"
**Apache Airflow version**: 2.0.0b2

**Environment**:
- **Others**: No K8S

**What happened**:

In the The *Logs* and *All Instances* buttons in the task model in the web UI are inoperative when _not_ using Kubernetes.

**What you expected to happen**:

The buttons to have working links.

The `dag.html` `updateModalUrls()` function [assumes that `buttons.rendered_k8s` is set](https://github.com/ap

[2020-11-11 18:35] mik-laj commented on #8280
We have a lot of DAG examples, but sometimes these DAGs don't contain all operators. More information in the first post.

[2020-11-11 18:47] gaj995 commented on #11965
Didn't work for me :(

[2020-11-11 18:51] gvisniuc commented on #10080
I've seen this behaviour as well recently.
Only after the task has finished do you see the logs, but if you do ssh into the running container you will find a folder in
$AIRFLOW_HOME

for me it looks something like

`/usr/local/airflow/s3\:/my_bucket_name/my_bucket_path/datetime.log`

[2020-11-11 18:53] mik-laj commented on #12281
I think it shouldn't be in the documentation, but on our website.  This way we will be able to update it independently of the rest of the documentation. For example: we will be able to issue providers every month, and Airflow with documentation every 3 months. This means that we will not have any documentation for 2 months for a new provider.

Similar issue:
https://github.com/apache/airflow/issue

[2020-11-11 19:10] #12276 closed

[2020-11-11 19:10] #12201 closed

[2020-11-11 19:21] potiuk commented on #12281
Absolutely - this is our strategic direction. But I belive we also need a "tactical" solution for now -  while people will be trying out Betas, I think it would be great to have a single page where they can simply see which providers are.

[2020-11-11 19:23] potiuk commented on #11965
What do you mean by 'didn't work"? Can you please provide some specifics on what you tried and how it did not work?

[2020-11-11 19:24] mik-laj commented on #12281
SGTM

[2020-11-11 19:42] mik-laj commented on #12281
Are you working on it? I will be happy to do it, because I will also need it to build the final documentation.

[2020-11-11 19:44] potiuk commented on #12281
Feel free!

[2020-11-11 21:53] wentaowanguc opened #12290 "Got a sqlite3.OperationalError while runing airflow scheduler"
Hi Team:

We got an error when we running airflow scheduler
`2020-11-11_20:09:26.59088 Process DagFileProcessor34125-Process:
2020-11-11_20:09:26.59091 Traceback (most recent call last):
2020-11-11_20:09:26.59092   File "/usr/local/lib64/python3.6/site-packages/sqlalchemy/engine/base.py", line 1277, in _execute_context
2020-11-11_20:09:26.59092     cursor, statement, parameters, context
2020-11-11

[2020-11-11 21:59] turbaszek commented on #12284
@nathadfield would you like to submit a fix? 🙏

[2020-11-11 22:00] nathadfield commented on #12284
@turbaszek Yep. I'll be submitting tomorrow.

[2020-11-11 22:01] turbaszek commented on #12284
Awesome! Thank you @nathadfield !

[2020-11-11 22:16] turbaszek commented on #12090
I was confused by custom code I was fixing on fork 😄 You are right, if we have separate handlers (different streams/files) everything works as expected.

[2020-11-11 22:28] vitaly-krugl opened #12291 "Trigger Dag from Airflow Web GUI sets origin with wrong HTTP scheme"
**Apache Airflow version**: 1.10.11

**Environment**:

- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`): Linux

**What happened**: After manually triggering a DAG from Airflow Web GUI, Airflow attempted to open the /admin/ page using http:// instead of the the https:// scheme, and so failed to connect because my webserver only supports SSL connections.

Chrome browser displays

[2020-11-11 23:07] kaxil commented on #8605
I think we should get this one in sooner before 2.0.0rc1, is someone willing to work on this one??

[2020-11-11 23:09] kaxil commented on #8605
Also, I don't think docker-compose files need to be production-ready. It should just be meant for local-development or to quickly start / work on Airflow locally with different executors

[2020-11-11 23:15] kaxil opened #12292 "Deprecate SubDags in Favor of TaskGroups"
Once TaskGroups (https://airflow.readthedocs.io/en/latest/concepts.html#taskgroup) that would be released in Airflow 2.0 reach feature parity with SubDags and we have wide adoption and feedback from users about Taskgroups we should deprecate Subdags and remove them eventually in Airflow 3.0.

Discussion Thread: https://lists.apache.org/thread.html/ra52746f9c8274469d343b5f0251199de776e75ab75ded6830

[2020-11-11 23:21] kaxil opened #12294 "Option to auto-replace deprecated configs with new options for 2.0"
This issue is part of #8765

It would be good to have a rule or command in upgrade-check utility tool to replace the deprecated configs with new options.

Following are the deprecated options:
https://github.com/apache/airflow/blob/289c9b5a994a3e26951ca23b6edd30b2329b3089/airflow/configuration.py#L136-L174

[2020-11-11 23:54] kaxil commented on #8112
Can this be closed @jhtimmins / @mik-laj ?

[2020-11-11 23:56] kaxil opened #12298 "Add docs around when to use TaskGroup vs SubDag and potentially listing PROs and CONS."
It would be great for users to know when they should use TaskGroup vs SubDag. A section somewhere in docs would be great or even better a Matrix / table to explain difference would be aweomse.

What are the PROs and CONs of each

**TaskGroup**: https://airflow.readthedocs.io/en/latest/concepts.html#taskgroup
**SubDags**: https://airflow.readthedocs.io/en/latest/concepts.html#subdags

[2020-11-12 00:32] kaxil commented on #12290
Please add more information like Airflow Version used and how to reproduce the issue.

[2020-11-12 00:33] kaxil commented on #11731
@dimberman Thoughts?

[2020-11-12 00:49] kaxil commented on #12272
Yes we had fixed it in https://github.com/apache/airflow/pull/11095

[2020-11-12 00:49] #12272 closed

[2020-11-12 00:57] Zedmor commented on #12282
I would like that! sign me up

[2020-11-12 01:06] jhtimmins opened #12300 "Permissions appear to reload repeatedly"
This results in slow UI load time and too many permissions records

Please assign to @jhtimmins

[2020-11-12 01:08] jhtimmins opened #12301 "DAG action views should only show DAGs a user can edit"
The DAG view only shows DAGs that a user has view access to. The action views should only show DAGs the user can edit, even though they're all showing up right now.

[2020-11-12 01:10] jhtimmins opened #12302 "Web views don't consider DAG-level permissions"
Dag-level permissions aren’t considered on web views. The built-in permissions are using a the default `has_access()` method, rather than the custom method.

[2020-11-12 01:48] caddac commented on #12282
I'm interested.

[2020-11-12 01:52] yangrong688 commented on #12282
I would like to contribute.

[2020-11-12 05:21] mik-laj commented on #12282
I'm interested too.

[2020-11-12 06:25] zjffdu commented on #11305
It looks like there's already a PR in knox project. https://github.com/apache/knox/pull/182

[2020-11-12 08:08] ephraimbuddy opened #12306 "Getting list of taskInstances without start_date, end_date and state fails in REST API"
Getting a list of taskinstances where some taskinstances does not have start date, end date and state fails

**Apache Airflow version**: 2.0

**What happened**:
Calling the endpoint `http://localhost:28080/api/v1//dags/~/dagRuns/~/taskInstances/list` with dags whose tasks instances have not started fails.

[code]
**What you expected to happen**:
I expected to see a list of task instances like this

[2020-11-12 08:53] eladkal commented on #11739
How would this work with case that `dag_name_previous_dag` has more than 1 active run?

[2020-11-12 09:33] maijh commented on #7935
Can the above link solve the problem？ @mik-laj

[2020-11-12 09:50] garacio commented on #12229
Same in bare metal k8s installation

[code]
aitflow version 1.10.12

[2020-11-12 10:22] potiuk commented on #12282
Cool! I think the critical mass has been reached :), I am writing a short design doc to start with :)

[2020-11-12 11:31] mik-laj commented on #7935
@maijh I do not have the capacity to reproduce this bug, but I am sharing tips on what could be causing the bug as I am watching all community activity.

[2020-11-12 12:09] eladkal commented on #12278
[AIP-36 DAG Versioning](https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-36+DAG+Versioning)
As you can see in the [status page](https://cwiki.apache.org/confluence/display/AIRFLOW/Airflow+Improvements+Proposals) the AIP is currently under discussions. You are more than welcome to share your thoughts on the AIP page.

[2020-11-12 12:09] #12278 closed

[2020-11-12 12:14] #8112 closed

[2020-11-12 12:58] nathadfield commented on #12284
@turbaszek The PR seems to have failed some checks but I'm not sure what the issue is.  Can you advise?

[2020-11-12 13:43] turbaszek opened #12309 "TaskGroup does not support dynamically generated tasks"
**Apache Airflow version**:
2.0 / master

**Environment**:

breeze

**What happened**:

Using this DAG:

[code]
I get:
[code]

If I remove the task group the task are generated as expected.

**What you expected to happen**:

I expect to be able to generate tasks dynamically using TaskGroup and task decoratos.

**How to reproduce it**:

Use the DAG from above.

**Anything else we need to know**:

N

[2020-11-12 13:43] turbaszek commented on #12309
CC @yuqian90 @casassg

[2020-11-12 14:03] potiuk commented on #8605
Agree. Starting small is good.

[2020-11-12 14:04] #8666 closed

[2020-11-12 14:07] gaj995 commented on #11965
Here is the error I am getting. I use the pip method that @kaxil posted above.

On Ubantu 20.04.1
Python 3.8.5

`Traceback (most recent call last):
  File "/home/gaj995/.local/bin/airflow", line 25, in <module>
    from airflow.configuration import conf
  File "/home/gaj995/.local/lib/python3.8/site-packages/airflow/__init__.py", line 50, in <module>
    from airflow.models import DAG  # noqa: E40

[2020-11-12 14:59] kaxil commented on #11965
@gaj995

Since you are using Python 3.8 use the following:

[code]

[2020-11-12 15:28] potiuk commented on #11965
Good catch @kaxil!

[2020-11-12 16:16] turbaszek commented on #12309
Minimal example to replicate it:
[code]

[2020-11-12 16:56] zachliu opened #12313 "The "Filter tags" multi-select container can't hold the selected tags while switching between views"
**Apache Airflow version**: 1.10.12 & 2.0.0b2

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**: N/A
- **OS** (e.g. from /etc/os-release): Linux mint 20
- **Kernel** (e.g. `uname -a`): 5.4.0-52-generic
- **Install tools**:
- **Others**:

**What happened**:
![ezgif-3-48bd0761e53d](https://user-images.gith

[2020-11-12 17:09] turbaszek opened #12315 "WebUI broken by custom XComBackend"
**Apache Airflow version**:
2.0 / master

**Environment**:

breeze

**What happened**:

I want to use custom XCom backend that returns in `deserialize_value` a pandas DataFrame object. This should work as expected because the type annotation suggests it:
[code]

However, not every object implements  `__nonzero__` method that returns boolean value. For example:
[code]

This is problematic because i

[2020-11-12 17:26] wentaowanguc commented on #12290
Hi @kaxil:
airflow version is 1.10.12
we use the default database
We don't know how to repeat it. The airflow scheduler was running correctly. We unpause one dag which is set to be executed daily. We got this error 8 hours after our dag was successfully executed.
Following are command we used to start the airflow scheduler:
`
airflow initdb
sed -i 's/\/root\/airflow\/logs/\/logs\/optimizer-datapla

[2020-11-12 17:30] SDubrulle commented on #12289
I'm experiencing the same thing. Seems to be introduced in the latest beta as I did not have this issue when using the alpha release.

[2020-11-12 18:07] kaxil commented on #12313
cc @ryanahamilton

[2020-11-12 18:22] turbaszek commented on #12315
The problem with rendering page can be simply fixed by replacing `!= None` with `is not none`. However, it seems that the `deserialize_value` method is called to render all XComValues. This is definitely not something that we would like to do if deserialisation can send request to external services.

From what I understand the problem is much more complex because we call `deserialize_value` to rec

[2020-11-12 18:35] NBardelot opened #12318 "SSHOperator does support only RSA keys and should support other keys compatible with Paramiko"
See the hook: `airflow/providers/ssh/hooks/ssh.py`

The Paramiko lib supports ECDSA keys. But the hook forces the use of RSA keys.

This should be viewed as an issue as the release note of OpenSSH 8.4 states that `ssh-rsa` public key signatures are soon becoming obsolete.

https://www.openssh.com/txt/release-8.4

[code]

Thus, support of other public keys like EC keys should be added in order to i

[2020-11-12 18:52] potiuk commented on #12309
Not sure how complex it is and whether we can manage it for beta3/4/5 @yuqian90 @casassg ?

[2020-11-12 18:58] potiuk commented on #12318
Would you maybe like to provide a PR/fix for that @NBardelot ? That sounds like rather easy and localized fix?

[2020-11-12 18:59] potiuk commented on #12318
Happy to help with reviewing it :)

[2020-11-12 19:59] ephraimbuddy opened #12325 "Response status 405 not handled in the stable REST API"
Calling any endpoint in REST API with a method that's not allowed returns an HTML page instead of JSON

[code]
**What you expected to happen**:
I expected a JSON response indicating that the method is not allowed

**How to reproduce it**:
1. Start airflow webserver in breeze
2. make a put request to  `http://localhost:28080/api/v1/variables`
3. Notice that this is returned :

[code]

[2020-11-12 20:33] wentaowanguc commented on #12290
Hi team: we got another similar error, here is the log info:
`2020-11-12_10:12:39.29731 Process ForkProcess-1:
2020-11-12_10:12:39.30395 Traceback (most recent call last):
2020-11-12_10:12:39.30402   File "/usr/local/lib64/python3.6/site-packages/sqlalchemy/engine/base.py", line 1277, in _execute_context
2020-11-12_10:12:39.30403     cursor, statement, parameters, context
2020-11-12_10:12:39.30407

[2020-11-12 20:45] casassg commented on #12309
Looking at @turbaszek code, that should address this issue

[2020-11-12 20:54] kaxil commented on #12290
@wentaowanguc Sqlite should only be used for Local Development or testing. Otherwise, we strongly recommend at least using LocalExecutor with Postgres / MySQL instead of SQLite.

And for Production, I would recommend using CeleryExecutor -- If not Celery, at least please use LocalExecutor. And Postgres / MySQL as metadata DB.

[2020-11-12 21:45] #12313 closed

[2020-11-12 22:38] aKumpan opened #12329 "GCSToBigQueryOperator - allow upload to existing table without specifying schema_fields/schema_object"
**Description**

We would like to be able to load data to **existing** BigQuery tables without having to specify schema_fields/schema_object in `GCSToBigQueryOperator` since table already exists.

**Use case / motivation**
<details>
  <summary>BigQuery load job usage details and problem explanation</summary>

We create BigQuery tables/datasets through CI process (terraform managed), with the help

[2020-11-12 22:47] #12284 closed

[2020-11-12 23:04] turbaszek commented on #12329
As this sounds like a good idea, I would recommend using `BigQueryInsertJobOperator` with load job type (https://cloud.google.com/bigquery/docs/reference/rest/v2/Job#jobconfigurationload). This operator is closest to the BigQuery API and allows whole possibility of customisations (via job config).

[2020-11-12 23:22] aKumpan commented on #12329
Thats a good suggestion, with BashOperator and `bq load` command it works well too (on older versions of airflow).
I'd still like to fix BQ dedicated operator for this purpose.

[2020-11-13 04:19] sadielbartholomew commented on #10260
Hi @mik-laj, and the Airflow team, I'm very sorry for the delay. I ended up being snowed under with other work and didn't get much time for Hacktoberfest. However, I will be more free from next week onwards, so I can start o this next week, and hopefully finish within a week or so, but I appreciate you might want it completed earlier, in which case please unassign me and accept my apologies that I

[2020-11-13 06:49] eshaingle opened #12331 "Kubernetes Auth Type not working as VaultBackend in Airflow"
I am integration Airflow with Vault using the VaultBackend provided under `airflow.contrib.secrets.hashicorp_vault.VaultBackend` or `airflow.providers.hashicorp.secrets.vault.VaultBackend`. I installed apache-airflow-backport-providers-hashicorp backport package as it has support for various auth types.

Vault & Airflow are installed inside minikube using helm charts.
Vault version: 1.2.2
Airflow

[2020-11-13 06:58] wentaowanguc commented on #12290
@kaxil : I think the main issue is why airflow frequently searches those dag examples in database? My understanding is that if we don't unpause a dag scheduler will skip it.

[2020-11-13 07:50] judoole commented on #12282
I would like to contribute if I have something to offer. I do most of the grunt work of keeping Composer and local Airflow in our company running, so I hope finally my experience will come to good open source use.

[2020-11-13 08:27] NBardelot commented on #12318
@potiuk I currently have no available time to work on PRs (not even old PRs that I'd like to rework on the master branch…). I'm proposing the company I work for to let me spend some time in the future working on PRs when we'll prepare upgrading to Airflow 2.0.

[2020-11-13 08:38] #12281 closed

[2020-11-13 08:56] potiuk commented on #12318
Oh That'd be cool if your company agrees to it :). This is super cool to be able to get paid for contributing to Open Source, I can tell you!

[2020-11-13 09:29] crooy opened #12334 "kubernetes executor pod not removed"
**Apache Airflow version**: 1.10.12

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): v1.16.13-gke.401

**Environment**: GKE

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:
Some of our airflow pods are not being removed even though they succeede

[2020-11-13 09:49] owlphi opened #12335 "The signature for the gcs hooks is different in apache 1.12 compare with the beta version 2.0"
### **Apache Airflow version**: 2.0.0b1

### Google cloud storage hook is not backward compatible with the version 1.12.

In the version 1.12 the method download has the following parameters: (bucket, object, filename) in this order. See [here](
https://airflow.apache.org/docs/stable/_api/airflow/contrib/hooks/gcs_hook/index.html#airflow.contrib.hooks.gcs_hook.GoogleCloudStorageHook.download)
In t

[2020-11-13 10:14] turbaszek commented on #12335
Yes, it's a breaking change as described here:
https://github.com/apache/airflow/blob/master/UPDATING.md#airflowprovidersgooglecloudhooksgcsgcshook

[2020-11-13 10:14] #12335 closed

[2020-11-13 10:45] mjpieters commented on #12289
This is a duplicate of #12254, which was fixed in #12268.

[2020-11-13 10:45] #12289 closed

[2020-11-13 10:56] owlphi commented on #12335
@turbaszek . Thank you for the quick reply. In that case this line of the code
https://github.com/apache/airflow/blob/master/airflow/providers/google/cloud/transfers/gcs_to_bigquery.py#L267
is not working because the order of parameters is wrong. This is what I have tried to point it out.

Should I create a new issue? or could we have this open?

[2020-11-13 11:37] TobKed commented on #12282
I'm interested as well.

[2020-11-13 11:48] turbaszek commented on #12282
<img src="https://user-images.githubusercontent.com/9528307/99069278-57a68480-25ae-11eb-9386-457501fdf23b.png" height="400px">

[2020-11-13 12:06] kaxil opened #12338 "Add docs on Release process w.r.t test and stable branches"
Add docs describing the process for Release Managers with respect to using and sync'ing v1-10-test and v1-10-stable (or any test and stable release branches) and the cherry-picking process.

[2020-11-13 12:19] ashb commented on #8172
Fixed by #12025

[2020-11-13 12:19] #8172 closed

[2020-11-13 12:22] ashb commented on #7935
@michaelosthege This behaviour should be fixed in 2.0.0 (now in beta stages) thanks to  https://github.com/apache/airflow/pull/10956

[2020-11-13 12:28] #11988 closed

[2020-11-13 12:28] kaxil commented on #11988
PR: https://github.com/apache/airflow/pull/12328

[2020-11-13 12:46] kaxil commented on #10940
PR: https://github.com/apache/airflow/pull/12340

[2020-11-13 12:48] mpolatcan opened #12341 "KubernetesExecutor single task run error: Only works with the Celery or Kubernetes executors, sorry"
**Apache Airflow version**: 1.10.12

**Kubernetes version** (if you are using kubernetes) (use kubectl version): v1.16.13-gke.401

**Environment**: AWS EKS

- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. uname -a):
- Install tools:
- Others:**

**What happened**:

Hi Airflow community ✋  I have detected bug on Airflow webserver. I have deployed Airflow

[2020-11-13 12:48] crooy commented on #12334
I double checked by installing the helm chart with the exact same setup and settings in namespace "default" and now i do see the pods being removed

[2020-11-13 12:55] kaxil commented on #8388
Closed by https://github.com/apache/airflow/pull/11343

This will be released in 1.10.13

[2020-11-13 12:55] #8388 closed

[2020-11-13 13:01] potiuk commented on #12282
OK. Seems like we are close to get 12 companions very soon !

[2020-11-13 13:03] potiuk commented on #12282
Wait It is already 9!

![pressure](https://user-images.githubusercontent.com/595491/99074997-094ab300-25b9-11eb-91b6-2f83ddfb06d8.gif)

[2020-11-13 13:04] potiuk commented on #12282
I will prepare the initial doc over weekend :)

[2020-11-13 13:05] ashb commented on #9118
Closed by #9908

[2020-11-13 13:05] #9118 closed

[2020-11-13 13:32] #12179 closed

[2020-11-13 13:32] yuqian90 commented on #11819
I'd love to help but don't have time at the moment. I can see the change needed is rather small. To achieve what you want, you can make this one line change to `latest_only_operator.py` and use it as a custom operator:

[code]

Or alternatively, if you don't mind putting up a PR to cherry-pick this change from master branch and apply it against v1-10-test branch, that'll be even better: https://gi

[2020-11-13 13:37] kosinsky commented on #10964
I'm seeing the same for `gevent` too

[2020-11-13 14:45] gdtroszak commented on #12229
We're observing the same thing.

Airflow version 1.10.9
k8s API server version v1.15.12

[2020-11-13 15:33] pat-s opened #12344 "2.0.0b2: time-label is wrongly formatted"
When hovering over the timestamp.

<img width="224" alt="image" src="https://user-images.githubusercontent.com/8430564/99089658-e1197f00-25cd-11eb-86b5-6633a410ce3b.png">

[2020-11-13 16:18] VBhojawala commented on #11192
Hello everyone,

I am very new to this project and i exactly felt same as @pcandoalmeida has described in '**Use case / motivation**'.
I have prepared a document that might be useful for new contributors to quick setup.
It is made keeping in mind that new contributor should be able to quick start from single document without going to any other pages and with continuous flow.
For preparing this doc

[2020-11-13 16:59] Zedmor commented on #12335
Addresses in https://github.com/apache/airflow/pull/12305

[2020-11-13 17:00] Zedmor commented on #12325
Addressed in https://github.com/apache/airflow/pull/12305

[2020-11-13 17:12] potiuk commented on #11192
This is Really, Really cool @VBhojawala !

I love it. We'v been discussing this very thing at one of the latest meetings regarding triaging and I know we have an on-going documentation improvement process. Maybe you could open a PR with that and then we together with @ryw and @paolaperaza we could help to make it part of the Airlow documentation! . I really love that it has all the visual guidelin

[2020-11-13 17:40] kaxil commented on #11192
Love it @VBhojawala . Please feel free to open a PR and we all can help review that PR and get better with it

[2020-11-13 17:47] #10934 closed

[2020-11-13 18:58] #12138 closed

[2020-11-13 19:07] turbaszek commented on #12329
That would be good, but it will probably require to refactor this operator to use new methods, not the deprecated ones, see https://github.com/apache/airflow/issues/10288

[2020-11-13 19:11] vitaly-krugl opened #12348 "faq.rst provides incorrect instructions for reducing scheduling latency"
Regarding the FAQ note "How to reduce airflow dag scheduling latency in production" -
Per https://github.com/apache/airflow/blame/f097ae39a7243bd25d4d26664bc259981b2ba217/docs/faq.rst#L209:

However, since `scheduler_heartbeat_sec` is used as a duration (not as heartbeats/sec rate) in `airflow/jobs/scheduler_job.py`, increasing it to 60 (from the default 5 sec) would actually cause scheduling to b

[2020-11-13 21:13] turbaszek commented on #12348
@vitaly-krugl I think you are right. @ashb ?

[2020-11-13 21:14] ashb commented on #12348
Yeah, and also in 2.0 that is basically not true anymore. Don't think it was true for 1.10.4+ either!

[2020-11-13 23:17] vitaly-krugl commented on #12348
I am running airflow 1.10.11, and empirically just realized that `scheduler_heartbeat_sec` has no effect on latencies.

I just examined `BaseJob.heartbeat()` and see that it just updates the job's heartbeat timestamp in db and checks for SHUTDOWN.

[2020-11-13 23:25] mik-laj opened #12357 "JSON schema validation for airflow/config_templates/config.yml"
Hello my friends,

I hope you are all right and you are all healthy. Today I come with another small improvement proposal for our project.

I think it is worth adding JSON schema validations for `[airflow/config_templates/config.yml`](https://github.com/apache/airflow/blob/master/airflow/config_templates/config.yml) file. This will allow us to detect the wrong structure of this file very quickly a

[2020-11-13 23:26] mik-laj opened #12358 "Pre-commit for JSON schema validation"
Hello,

We have several JSON schema specifications and files that we can check with them as pre-commit check, but this is not yet checked. I think it is worth adding such checking.

- [`dev/provider.yaml.schema.json`](https://raw.githubusercontent.com/apache/airflow/master/dev/provider.yaml.schema.json)
- [`chart/values.schema.json`](https://github.com/apache/airflow/blob/master/chart/values.schem

[2020-11-13 23:27] vitaly-krugl commented on #12348
@ashb - The reason I was looking at `scheduler_heartbeat_sec` is that I am trying to improve the performance of system-level tests in my airflow-based app.

What I am seeing is that even under very low utilization, Airflow adds latency of 4-5 seconds for executing each task. I was looking at airflow.cfg options to tune to eliminate this 4-5 second per task latency on my testing setup. I haven't be

[2020-11-14 00:09] ashb commented on #12348
Yes. The task lag was fixed by AIP-15 and in my tests the delay between tasks is down to 0.18s

Try out 2.0.0beta2?

[2020-11-14 00:54] vitaly-krugl commented on #12348
Thanks @ashb. What is "AIP-15"? Is the latency fix available only in 2.0?

[2020-11-14 03:25] #9155 closed

[2020-11-14 04:10] #12090 closed

[2020-11-14 08:03] mik-laj commented on #11423
We update vendors very often, so I think it's worth breaking down these dossiers as soon as possible. If we are going to publish these documents, we must also give the opportunity to look at the archival version of the documentation. Mainly, so that the user can check whether a given operator is available in a given or needs to update to the latest version.

I would like us to have an index (at th

[2020-11-14 08:10] mik-laj commented on #11423
During the split, I would also like to introduce one additional change - migrate the development version of the documentation to the official template. Now all contributors are using documentation that has a different template and sometimes the final documentation is buggy as a result. If everyone used one template, the bugs would be fixed faster.

[2020-11-14 10:51] ashb commented on #12348
AIP = Airflow Improvement Proposal.

The most important bit of AIP-15 was this https://github.com/apache/airflow/pull/10956

And given how big a change that was, no, it's not available in 1.10.x, sorry

[2020-11-14 16:53] SolbiatiAlessandro opened #12368 "Metrics - Introducing a counter for number of DAGs in "running" state"
**Description**

Could we introduce a new counter in [Airflow Metrics](https://airflow.apache.org/docs/stable/metrics.html) to track **number of DAGs that are in 'running' state**?

I am aware of the existing `dag_processing.processes` counter that is documented as `Number of currently running DAG parsing processes`. This counter track how many dags are being parsed, not how many are runnings.

I

[2020-11-14 19:47] XD-DENG opened #12369 "In 2.0.0b2/master, CLI "airflow connections add" is not handling invalid URIs properly"
**Apache Airflow version**: 2.0.0b2

**Environment**: Docker

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

In current 2.0.0b2, `airflow connections add` is not handling invalid URIs properly.

For example, running CLI `airflow connections add --conn-uri xyz conn_dummy` w

[2020-11-14 19:48] XD-DENG commented on #12369
Hi @ashb @kaxil @mik-laj @turbaszek , let me know how you find this and whether agree with the idea I proposed above? Cheers.

[2020-11-14 19:50] ashb commented on #12369
Yeah that should be an error - the scheme at least should be required

[2020-11-14 19:53] XD-DENG commented on #12369
Let's enforce requiring at least `scheme` + `netloc`.

I will raise a PR either tonight or tomorrow

[2020-11-14 19:55] kaxil commented on #12369
Oh yes it should definitely raise an error

[2020-11-14 20:41] mik-laj commented on #12368
This information is in the database so you can use:
https://github.com/robinhood/airflow-prometheus-exporter or other similar exporter

We use statsd metrics only for information that we do not have in the database, i.e. runtime metrics.

[2020-11-14 22:05] SolbiatiAlessandro commented on #12368
@mik-laj  thanks for the repsonse! I will look into that :)
Do you think we should add two lines in this doc page to mention that statsd only track non-database information and you can find more metrics in the database? https://airflow.apache.org/docs/stable/metrics.html

[2020-11-14 22:18] mik-laj commented on #12368
@SolbiatiAlessandro Yes. Please do it. ;-)

[2020-11-14 22:27] hsnprsd commented on #10285
Hey, I am new here :). Can I contribute on this issue as my first contribution? Has someone already addressed this issue?

[2020-11-14 22:41] turbaszek commented on #10285
@hsnprsd feel free to take this one 🚀 I'm happy to help with eventual questions. I think, as a good start we should refactor `airflow/example_dags/*` to use `.output` instead of jinja whenever it is possible.

[2020-11-15 00:08] turbaszek commented on #12028
@contributor13 would you like to work on this one?

[2020-11-15 00:09] turbaszek commented on #8931
@JeffryMAC I somehow agree that having nice stats in Airflow itself would be a nice feature. I did some work around that in #11631

[2020-11-15 00:12] turbaszek commented on #11599
@casassg is this issue still valid?

[2020-11-15 04:05] phraniiac commented on #12028
Hi @turbaszek , I can try to take this up if there is no one else been involved yet.

[2020-11-15 10:47] #12369 closed

[2020-11-15 11:28] #12309 closed

[2020-11-15 12:45] eladkal commented on #10925
@JavierLopezT I'm closing this issue for now. If needed please comment with your findings and we will reopen this.

[2020-11-15 12:45] #10925 closed

[2020-11-15 12:48] #10451 closed

[2020-11-15 17:12] EmadMokhtar commented on #10426
# Decision

What I'm planning to do is to modify the `GCSHook.list()` method to accept `prefixes` instead of `prefix`. I need to know how we can do that with backward compatibility? Some old code will assume this hook is accepting one prefix and we need to raise a deprecation warning. Or maybe it is only used internally and I need to refactor the operators who use it?

[2020-11-15 20:44] WilliamTun commented on #11920
Hey @kaxil

I have created/edited the following files:

_airflow/providers/sqlite/example_dags/__init__.py
airflow/providers/sqlite/example_dags/example_sqlite.py
docs/howto/operator/index.rst
docs/howto/operator/sqlite.rst_

However, I have two problems:
1. When I try to git push my changes, I am returned the following message:
ERROR: Permission to apache/airflow.git denied to WilliamTun.
fatal:

[2020-11-15 21:15] ashb commented on #12368
Additionally: we can't (easily) report this as a metric now that running more than on e scheduler is supported.

[2020-11-16 01:26] #12263 closed

[2020-11-16 03:52] freedom1989 commented on #10790
The cause is clear as @rafalkozik mentioned. After scheduler schedule the task at the second time(put it in queue) and then it start process the executor events of the task's first-try. It occurs when the scheduling loop time > sensor task reschedule interval.
Either reducing the scheduler looping time(dag processing time, etc) or increasing the sensor task reschedule interval will work.

The bug

[2020-11-16 07:19] eladkal commented on #11118
You can always raise a draft PR with POC of your suggestion (operator code, example DAG) but without tests. If the approach will be accepted you can add unit tests later.

[2020-11-16 09:06] #11205 closed

[2020-11-16 09:26] turbaszek commented on #10790
I saw customers doing this (custom fork). I'm curious if this error will occur in Airflow 2.0

[2020-11-16 09:33] ashb commented on #10795
Please give a stack trace for this full error.

[2020-11-16 10:30] potiuk commented on #11423
This is cool! And yeah! if we can make it split from day 0. I'd really love that!

[2020-11-16 11:28] yuqian90 commented on #10790
Hi @turbaszek I did not test this in Airflow 2.0 so I may be wrong. I don't see any attempts to address this in Airflow 2.0 so this is likely going to happen in 2.0 too. That said, the scheduler loop is faster in Airflow 2.0, the chance of running into this `ERROR - Executor reports task instance ... killed externally` issue should become smaller.

[2020-11-16 12:26] eladkal commented on #8063
@Sergey942  can you please specify the exact reproduce steps?

[2020-11-16 12:31] eladkal commented on #8474
fixed in https://github.com/apache/airflow/pull/8475

[2020-11-16 12:31] #8474 closed

[2020-11-16 12:32] #12315 closed

[2020-11-16 12:36] eladkal commented on #8472
fixed in https://github.com/apache/airflow/pull/8473

[2020-11-16 12:36] #8472 closed

[2020-11-16 12:54] #8457 closed

[2020-11-16 12:58] eladkal commented on #8650
solved in https://github.com/apache/airflow/pull/8791

[2020-11-16 12:58] #8650 closed

[2020-11-16 14:51] turbaszek commented on #11042
Hey @coopergillan any update on this one?

[2020-11-16 14:51] turbaszek commented on #11044
Hey @snehal199  any update on this one?

[2020-11-16 16:49] vladiceanu commented on #12035
I'm going to work on it by the end of this week. Thank you.

[2020-11-16 17:40] casassg commented on #11599
We can close it, with the changes I merged it may be good enough already.

[2020-11-16 17:40] #11599 closed

[2020-11-16 17:53] XD-DENG opened #12385 "[ldap] section in configuration is not applicable anymore in 2.0"
**Apache Airflow version**: 2.0.0b* / master

**What happened**:

`[ldap]` section in `airflow.cfg` is not applicable anymore in 2.0 and `master`, because the LDAP authentication (for webserver and API) is handled by FAB, and the configuration for this is handled by `webserver_config.py` file.

![airflow_–_default_airflow_cfg](https://user-images.githubusercontent.com/11539188/99289209-ef210700-28

[2020-11-16 17:54] XD-DENG commented on #12385
@ashb @kaxil @turbaszek @mik-laj may you please help confirm if you agree or if I'm wrong?

If my understanding above is correct I will proceed to prepare the PR. Thanks.

[2020-11-16 18:22] ashb commented on #12385
Correct, this is for non-FAB UI

[2020-11-16 18:23] XD-DENG commented on #12385
Good. Will prepare a PR tonight

[2020-11-16 19:28] peidaqi opened #12387 "Calling models.DagBag().dags within a DAG causes maximum recursion error in Python"
**Apache Airflow version**: 1.10.12

**Environment**: Mac Os Catalina Python 3.8.6

**What happened**:

I want to get a list of existing DAGs and check if a DAG already existed before creation.
With in the DAG file, what I did was calling:
models.DagBag().dags

This causes a maximum recursion error in Python.
The reason why I need this is a certain dynamic DAG_X can be created by two other dags, e

[2020-11-16 20:26] ashb commented on #12387
You'll have to explain your use case more -- I can't see from what you've said why you'd even need to get this other dag object.

Also even if we fixed the error so it didn't give a recursion error, it might not work how you expect: when parsing DAGs it only parses one file at a time, not all of them.

[2020-11-16 20:34] #12385 closed

[2020-11-16 22:03] VeenaArv commented on #12298
Hi, can I work on this as my first issue? Should this go under [concepts](https://github.com/apache/airflow/blob/master/docs/concepts.rst) or somewhere else?

[2020-11-17 07:39] patchandpray commented on #12306
I'd like to work on this one.

[2020-11-17 08:10] potiuk commented on #12306
Sure: Assigned you :)

[2020-11-17 09:15] bhavaniravi commented on #12229
Same issue with airflow 1.10.10

[2020-11-17 09:26] Sergey942 commented on #8063
1. I designed my DAG: 'start_date':datetime(2020,1,1,0,0).Then run all tasks once.
2. View Rendered Template of one task, and choose instance date to '2019-01-01 xx:xx:xx'.
3.Click 'Graph View' of this DAG, the base date will change to '2019-01-01 xx:xx:xx'.
4.Choose any task of this DAG, and click run , it will success.

[2020-11-17 10:05] gakhrejah commented on #12229
Hi All,

Can anybody let me know , how we can resolve this issue . It seems like this is still an open issue with Airflow.

[2020-11-17 11:35] kaxil commented on #11920
1) You won't have write access to https://github.com/apache/airflow, so you will have to create a fork - https://github.com/apache/airflow/blob/master/CONTRIBUTING.rst#step-1-fork-the-apache-airflow-repo

2) Same as MySQL: https://airflow.readthedocs.io/en/latest/howto/operator/mysql.html

![image](https://user-images.githubusercontent.com/8811558/99385474-f68df200-28c8-11eb-96ca-72ff62ee93dc.png)

[2020-11-17 11:37] kaxil commented on #12298
@VeenaArv Yes somewhere in Concepts, in or after https://github.com/apache/airflow/blob/master/docs/concepts.rst#taskgroup section

[2020-11-17 11:41] turbaszek commented on #12298
@kaxil @VeenaArv should we also add information about `TriggerDagRunOperator` as this is also a possibility to manage large DAGs?

[2020-11-17 12:19] amr-noureldin opened #12396 "Scheduler identifies a zombie AFTER a task has concluded successfully --> subsequently sets the task status to failed"
**Apache Airflow version**: 1.10.12

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): Server Version: version.Info{Major:"1", Minor:"11+", GitVersion:"v1.11.0+d4cacc0", GitCommit:"d4cacc0", GitTreeState:"clean", BuildDate:"2020-07-16T18:50:14Z", GoVersion:"go1.10.8", Compiler:"gc", Platform:"linux/amd64"}

**Environment**: Airflow, running on top of Kubernetes - RedHat

[2020-11-17 12:46] amr-noureldin commented on #12396
Just to add (in case of any benefit), this is when the task started:

[code]

and this is how the task logs finalize:

[code]

The dag execution date: `2020-11-17T08:07:46.496180+00:00`

[2020-11-17 13:19] gdtroszak commented on #12229
[This issue](https://github.com/apache/airflow/issues/11841) seems to outline a workaround. It essentially amounts to downgrading the k8s client to `v11.0.0`.

[2020-11-17 13:24] anujjamwal opened #12400 "Scheduler keeps exiting with AttributeError: 'MySQLConverter' object has no attribute '_dagruntype_to_mysql' when using docker 2.0.0b2 image"
I am trying to setup a installation of airflow using the docker image 2.0.0b2-python3.7. I am using MySQL 5.7 from GCP CloudSQL. The scheduler keeps exiting with below error

[code]

[2020-11-17 13:37] JavierLopezT commented on #11739
With my original idea, every time an active run finishes, the dependant dag will be triggered, no matter how many times. Would be interesting to set some kind of optional limitation though, for some particular cases like the one you present

[2020-11-17 13:39] ashb commented on #11739
You can do this right now by making the final task in the dag a TriggerDagRunOperator.

[2020-11-17 13:39] JavierLopezT opened #12401 "Duplicate connections UI"
In the UI it would be nice to duplicate the selected connection, in the menu "With Selected".

The copy would be set with the same name plus some suffix (_copy, _1, whatever) and it is useful for when you have a connection with all equal fields except something in a particular one.

[2020-11-17 14:15] ashb commented on #12400
I cannot reproduce this error on Python 3.7.9. What version of SQLAlchemy do you have installed?

[2020-11-17 14:58] potiuk commented on #12229
@kaxil @ash -> looks like we should limit the k8s client to <12.0.0 IMHO. WDYT ?

[2020-11-17 15:06] kaxil commented on #12229
Yup, this will be fixed in 1.10.13. Already fixed in Master by https://github.com/apache/airflow/pull/11974

[2020-11-17 16:32] anujjamwal commented on #12400
@ashb  Steps to reproduce

[code]

Exception Snippet

[code]

[2020-11-17 17:01] ashb commented on #12400
This may be a problem with SQLA+MySQL Connector. From [SQLA's mysql docs](https://docs.sqlalchemy.org/en/13/dialects/mysql.html?highlight=mysql#dialect-mysql-mysqlconnector-connect):

[2020-11-17 17:41] vikramkoka commented on #11715
Is this reproducible?

[2020-11-17 17:41] vikramkoka commented on #11714
Is this is a duplicate of 11715?

[2020-11-17 17:48] #11422 closed

[2020-11-17 18:07] vikramarsid opened #12410 "2.0.0b2: SQLAlchemy execute cannot be used while an asynchronous query is underway"
**Apache Airflow version**: 2.0.0b2

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:
Error in webserver logs, relating to Exception on /last_dagruns [POST]
[code]

**What you exp

[2020-11-17 18:21] anujjamwal commented on #12400
Using mysql+mysqldb fixed the issue.

[2020-11-17 18:21] #12400 closed

[2020-11-17 18:23] kaxil commented on #11852
ping @doandzhiFt

[2020-11-17 18:27] kaxil commented on #9213
We have deprecated the old UI and from Airflow 2.0.0 the new RBAC UI will be the default UI. Hence all the changes to old UI have been freezer. Please use the RBAC UI -- https://airflow.apache.org/blog/airflow-1.10.12/#use-airflow-rbac-ui

[2020-11-17 18:27] #9213 closed

[2020-11-17 18:27] kaxil commented on #9711
We have deprecated the old UI and from Airflow 2.0.0 the new RBAC UI will be the default UI. Hence all the changes to old UI have been freezer. Please use the RBAC UI -- https://airflow.apache.org/blog/airflow-1.10.12/#use-airflow-rbac-ui

[2020-11-17 18:27] #9711 closed

[2020-11-17 18:32] kurtqq opened #12413 "Description Field for Variables"
add text column to explain what the variable is used for

same as https://github.com/apache/airflow/issues/10840 just for Variables.

[2020-11-17 19:06] kaxil commented on #9813
I was able to reproduce it with the given docker-compose file, however, the error occurs only for the time a task is running
![Large GIF (1790x594)](https://user-images.githubusercontent.com/8811558/99435281-d03b7700-2907-11eb-9b6c-106514bc2542.gif)

And after some digging, I am 99% sure it is caused by https://github.com/apache/airflow/pull/8220

@ryanahamilton Would you be able to look at this,

[2020-11-17 19:21] kaxil commented on #9813
I can confirm this issue is in Master too

![image](https://user-images.githubusercontent.com/8811558/99437269-25788800-290a-11eb-964f-5e0d0adb678e.png)

[2020-11-17 19:23] leahecole commented on #12282
Happy to be a tester and to help with communication + devrel-y docs things once we're closer to rollout!

[2020-11-17 19:24] potiuk commented on #12282
cool! I am pushing the providers first for beta 3 and will send the docs shortly after :)

[2020-11-17 19:25] potiuk commented on #9813
Oh. Wow!  Finally!

[2020-11-17 20:30] xinbinhuang commented on #10816
I will work on this over the weekend. @mik-laj  where do you think this part should go into for the new doc structure?

[2020-11-17 20:43] amr-noureldin commented on #12396
And from Dag File Processor logs:

[code]

[2020-11-17 21:00] kaxil commented on #10816
Can be a sub-section in https://airflow.readthedocs.io/en/latest/concepts.html#operators around Sensors

[2020-11-17 21:09] mik-laj commented on #12401
Sound good to me. Can I assign you to this ticket?

[2020-11-17 21:16] ephraimbuddy opened #12418 "AttributeError In scheduler when dictionary is passed to executor_config(Kubernetes Executor)"
AttributeError is raised when a dictionary is passed to executor_config using kubernetes executor.

**Apache Airflow version**: 2.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.2", GitCommit:"f5743093fd1c663cb0cbc89748f730662345d44d", GitTreeState:"clean", BuildDate:"2020-09-16T13:41:02Z", GoVer

[2020-11-17 21:50] #9633 closed

[2020-11-17 21:50] #9813 closed

[2020-11-17 23:07] pbastia commented on #10018
Hi @adamo57, I'm running into the same issue when trying to run airflow on an OpenShift 4.2 cluster. Did you ever find a solution?

[2020-11-18 00:00] kaxil commented on #10940
Closed by https://github.com/apache/airflow/pull/12340

[2020-11-18 00:00] #10940 closed

[2020-11-18 00:15] kaxil commented on #11731
@dimberman ?

[2020-11-18 00:47] #8705 closed

[2020-11-18 00:55] jbampton opened #12426 "Standardize our YAML file extension name"
**Description**

We have both `.yaml` and `.yml` files.

"The official recommended filename extension for YAML files has been `.yaml` since 2006"

So all YAML files should use the same file extension.

https://en.wikipedia.org/wiki/YAML
https://yaml.org/

[2020-11-18 01:21] #11341 closed

[2020-11-18 01:22] kaxil commented on #11341
(#5890 has been cherry-picked)

[2020-11-18 02:20] brighton1101 commented on #12028
I have a solution I believe to be working above :)

[2020-11-18 04:35] #12131 closed

[2020-11-18 06:34] #12325 closed

[2020-11-18 06:39] potiuk commented on #12426
Not everything can be changed unfortunately AFAIK. I am afraid a lot of tools /external services expect .yml - for example readthedocs (https://docs.readthedocs.io/en/stable/config-file/v2.html) and codecov require specifically .yml (https://docs.codecov.io/docs/codecov-yaml) files - similarly ISSUE_TEMPLATE/confg.yml for github issues: (https://docs.github.com/en/free-pro-team@latest/github/build

[2020-11-18 07:46] elwinarens commented on #9096
@hlokired Could you please be more respectful and understand this is a community of volunteers? Jeez.

We'll be investigating extending scheduling with calendar features, but considering the current fundamental cron based/opionated nature, this might justify an AIP, just to be sure the right design is in place (extending cron syntax? impact? feasibility? etc.)

[2020-11-18 08:01] #12028 closed

[2020-11-18 09:27] owlphi opened #12439 "The operator GCS to BigQuery fails to download the schema because download is called with the wrong order of parameters."
# Version: Airflow: apache-airflow-backport-providers-google==2020.11.13

## Problem
The operator gcs to bigquery fails because it calls the method download with positional parameters in the wrong order.
It calls in this way `gcs_hook.download(self.bucket, self.schema_object)`. See more in the [line](https://github.com/apache/airflow/blob/master/airflow/providers/google/cloud/transfers/gcs_to_bigq

[2020-11-18 09:45] Alibm73 commented on #10705
@vijaykiran @potiuk @j3pic
So i found a semi-solution for this issue :stuck_out_tongue:
I have 2 version of python 3.6 and 3.8
i install apache airflow version 1.10.12 with python 3.6, it gets all the packages airflow it needs except ```ipython==7.17.0``` and it gets and error.
error output:
[code]
now i install apache airflow with python 3.8, the previously downloaded packages are OK (like snakeb

[2020-11-18 10:28] potiuk commented on #12439
@turbaszek -> let's look this together and fix it if this is still an error - I then might include it in today's backports.

[2020-11-18 10:49] turbaszek commented on #12439
I agree, however this will be breaking change

[2020-11-18 11:00] #10840 closed

[2020-11-18 11:21] owlphi commented on #12439
In that case, option 1 seems more reasonable (already seen your PR). Thank @turbaszek  for the quick action.

[2020-11-18 11:25] #12439 closed

[2020-11-18 11:33] mik-laj commented on #11423
I already have the first successful build of full documentation on S3:
http://apache-airflow-docs.s3-website.eu-central-1.amazonaws.com/
For now, the content for google only is migrated, but in the follow-up PR we can migrate the rest of the content. Today I will open PR with what I have already managed to do.

[2020-11-18 11:58] pcandoalmeida commented on #11192
Awesome @VBhojawala!

[2020-11-18 12:03] eladkal commented on #12290
Paused DAGs are skipped from scheduling but are still being parsed (entry created in the DB etc..)

[2020-11-18 13:18] jrzdudek commented on #10544
We've tested this with `1.10.12` which includes the #10230 fix, and the issue still exists. When the first job errors out, the subsequent retries reattach to the errored out pod.
[code]
The pod is in `Error` status in the cluster so should not be considered a candidate for re-attachment.

[2020-11-18 14:56] ryw opened #12448 "General Error Deleting DAG run"
Using a 2.0.0 beta 2 build...

![Untitled](https://user-images.githubusercontent.com/4283/99546252-3ebe1a80-2984-11eb-9681-8d6e718b22c5.gif)

Log from webserver:

[code]

[2020-11-18 14:58] #12344 closed

[2020-11-18 15:43] #12348 closed

[2020-11-18 16:18] hsnprsd commented on #12448
Working on it.

[2020-11-18 18:22] jykae commented on #11290
@srthok check out https://issues.apache.org/jira/browse/AIRFLOW-4470

I was able to configure GHE with RBAC based on Cooper Gillan's [comment](https://issues.apache.org/jira/browse/AIRFLOW-4470?focusedCommentId=17016268&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-17016268)

@mik-laj I hope this will go to documentation at some point ☝️

[2020-11-18 22:18] brighton1101 commented on #12318
@potiuk I can work on this, very easy change. How do you want to differentiate between RSA and ECDSA keys... optional boolean flag as param in the constructor for `SSHHook`?

[2020-11-18 22:22] ashb commented on #12318
Why do we need to differentiate at all? We can't just pass any key type down, we have to know what type it is to tell Paramiko?

[2020-11-18 22:29] ashb commented on #12318
This is what Paramiko does when passed a `key_filename`
https://github.com/paramiko/paramiko/blob/dccc563c3a581a14ceaa261b5fe0d08539f84b87/paramiko/client.py#L673-L687

[code]

Perhaps we could do something similar.

[2020-11-18 22:36] ashb commented on #11123
Closing -- if you can provide us reproduction steps please feel free to reopen this issue! Thanks.

[2020-11-18 22:36] #11123 closed

[2020-11-18 22:59] atsalolikhin-spokeo opened #12464 "The example DAG in the Tutorial does not work on Airflow 1.x"
Hello,

I tried installing the [tutorial DAG](https://airflow.apache.org/docs/stable/_modules/airflow/example_dags/tutorial.html)  and I got an import error:

[code]

The tutorial DAG had:

[code]

I changed that to:

[code]
and was able to import the DAG.

This is on Airflow 1.10.11.

[2020-11-18 23:05] potiuk opened #12465 "Implement connection-to-hook registering in providers"

[2020-11-18 23:06] brighton1101 commented on #12318
@ashb i can look into doing something similar later. i wonder if they expose similar logic in their api for differentiating between key types when constructing different types of `PKey` instances such as what is baked into the code for rsa keys now. if not, i'd be happy to throw together a solution similar to the above with some tests

[2020-11-18 23:28] wentaowanguc commented on #12290
But why airflow search those paused DAGs which cause this error? Does that mean we cannot have multiple dags be parsed in airflow? Otherwise, we will get the same error.

In addition, how can we remove all those dag examples? by setting load_examples as false in the configuration?

[2020-11-19 00:58] brighton1101 commented on #12318
@ashb just threw a PR together :) let me know if you pictured it another way or have any other ideas

[2020-11-19 01:19] potiuk opened #12468 "Add API to query for providers"

[2020-11-19 01:19] potiuk opened #12469 "Display providers in Web UI"

[2020-11-19 01:19] potiuk opened #12470 "Display providers via cli"

[2020-11-19 02:23] #11430 closed

[2020-11-19 05:03] heowc commented on #8087
I had the same problem. 🤔

[2020-11-19 05:33] vikramkoka commented on #9638
@kaxil can this issue be closed?

[2020-11-19 05:38] zhongjiajie commented on #12223
Will take a look

[2020-11-19 06:40] kurtqq commented on #12413
@abhilash1in  what do you think?

[2020-11-19 06:43] abhilash1in commented on #12413
That'll be useful, but I don't have the bandwidth for it right now, sorry.

[2020-11-19 07:13] abhilash1in commented on #12413
If you want to take a stab at it, I'll be happy to help.

[2020-11-19 10:13] MindTheGap32 commented on #8759
Would love to see this feature implemented
We are too handling this through cronjob and it would be great to have a native solution.

[2020-11-19 11:03] turbaszek commented on #11144
Closed via #11241

[2020-11-19 11:03] #11144 closed

[2020-11-19 12:37] jtvmatos opened #12480 "Support deserialize_yaml in variable get"
**Description**
Airflow variables with the (de)serialize_json flag is an great feature.
Nevertheless, i believe that airflow should also have an option to have variables with YAML string.
YAML are better suited for configuration, and it is designed to be more readable/editable by humans than JSON.

**Use case / motivation**
Using a YAML string instead of a JSON string is more practical and less er

[2020-11-19 12:48] kaxil commented on #9638
Unfortunately not, we haven't solved the issue

[2020-11-19 13:36] armandleopold opened #12484 "Add documentation about query execution_date format for Elasticsearch Task Handler"
**Description**

There is not enough documentation about the **execution_date** format for the elasticsearch **log_id** creation from custom logging pipelines.

    - name: AIRFLOW__ELASTICSEARCH__LOG_ID_TEMPLATE
      value: "{dag_id}-{task_id}-{execution_date}-{try_number}"

This function : [_clean_execution_date](https://github.com/apache/airflow/blob/master/airflow/providers/elasticsearch/log/

[2020-11-19 13:46] yuqian90 opened #12485 "Optionally clear downstream failed tasks when marking success"
**Description**

For a DAG that looks like this:

[code]

If A fails, B goes into "upstream_failed" state. If a user then marks A "success", B will remain in "upstream_failed" state. It will not automatically start running. This scenario often happens if the failure of A is dealt with outside of Airflow and the user does not want Airflow to run A again. But he usually expect Airflow to run B after

[2020-11-19 15:48] kaxil commented on #11112
**Meeting - 19 Nov 2020**

Attendees: Ash, Vikram, Jarek, Tomasz, Daniel, Kaxil

- We will continue using v1-10-stable for upgrade_checks and the PRs targetted towards it.
- We will support Airflow >=1.10.13 for upgrade_checks.
- CI needs to be updated to test/support multiple versions.
- Idea: Add a "version" field for checks to show supported Airflow version.

- Ash to work on packaging and auto

[2020-11-19 15:54] marcusianlevine commented on #11479
Unfortunately it seems that my first PR didn't work - the refactor didn't take for some reason

https://github.com/apache/airflow/pull/11509#issuecomment-730441486

[2020-11-19 16:20] jhtimmins opened #12488 "Fix bad migration when add_scheduling_decision_to_dagrun_and runs on Sqlite"
Fixes a bug in 98271e7606e2_add_scheduling_decision_to_dagrun_and_. Currently, if this migration runs on sqlite and the db has existing dag data, the migration will fail. Sqlite fails when trying to alter the table, since it doesn't have the ability to alter, and instead creates a duplicate table, copies over the data, and deletes the old table. But if the table has a foreign key constraint pointi

[2020-11-19 16:45] #11299 closed

[2020-11-19 16:59] jrd281 opened #12489 "Clicking Edit on TaskInstance Causes Crash"
**Apache Airflow version**: 2.0.0b2

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): N/A

**Environment**:

- **Cloud provider or hardware configuration**: Ubuntu 20.04 Guest/Windows Server 2012 R2 Host
- **OS** (e.g. from /etc/os-release): Ubuntu 20.04.1 LTS
- **Kernel** (e.g. `uname -a`): Linux  5.4.0-1031-azure #32-Ubuntu SMPx86_64  GNU/Linux
- **Install tools**:

[2020-11-19 17:51] #12426 closed

[2020-11-19 17:58] #12190 closed

[2020-11-19 18:09] kaxil commented on #9749
We have decided against backporting this as calling `/refresh_all` would only refresh DAGs for a single gunicorn worker and might cause inconsistent state on Ctr+R (Browser refresh)

[2020-11-19 18:32] dimberman commented on #11731
Hello @kaxil @dmateusp

This commit in v1-10-test should fix the issue with affinities https://github.com/apache/airflow/commit/9f1b66f9e7cd250f28e1763ad95a99eb049fe3d8

@dmateusp can you please provide an example/more details of how annotations aren't working? I added a test in this commit but I am seeing the annotations so want to figure out how to reproduce.

[2020-11-19 18:58] eladkal commented on #7963
For who will pick it up note the HiveHook is now located in [providers](https://github.com/apache/airflow/blob/master/airflow/providers/apache/hive/hooks/hive.py#L622:L624)

[2020-11-19 19:00] eladkal commented on #8619
Fixed in https://github.com/apache/airflow/pull/8624

[2020-11-19 19:00] #8619 closed

[2020-11-19 19:36] ashb commented on #11112
I'm working on the release process part for this now.

[2020-11-19 20:07] zachliu commented on #12489
@jrd281 lol, you beat me to it :joy:
let me add that this :bug: is also in `2.0.0b3`

[code]

[2020-11-19 20:36] kaxil commented on #11178
@mik-laj Do we need this issue for 1.10.13? Since even in Airflow 2.0 we just raise deprecation warning, I think it should be ok to leave it out of 1.10.13, WDYT ?

[2020-11-19 20:44] tooptoop4 commented on #10026
still an issue?

[2020-11-19 20:44] tooptoop4 commented on #9412
still an issue?

[2020-11-19 22:26] potiuk commented on #11479
Hey @marcusianlevine -> can you plese take a look at my comment there? I looked at the providers that are released and they seem to contain the right refactor, so I guess this is a problem with your local installation.

[2020-11-19 22:32] andytrigg commented on #10026
It is still an issue with airflow 1.10.12.

[2020-11-19 22:57] mik-laj commented on #11423
Hello.

Today I would like to discuss the next step - Sphinx theme for our documentation. This theme is currently being developed in the [`airflow-site`](https://github.com/apache/airflow-site) repository, but the theme package for installation is not published anywhere. Quite simply, if you want to build a production documentation, you have to install this theme on your own. This is reasonably OK

[2020-11-20 01:53] danielenricocahall commented on #8713
Can I take this issue?

[2020-11-20 02:03] vikramkoka commented on #10435
@mariuszliksza-kinesso, Can you please share the procedure to reproduce this issue? Including the code.

[2020-11-20 06:04] saikatharryc commented on #12331
I was trying a different unconventional approach,

in docker, entry point doing `source /vault/secret*` [this file is generated by the vault agent injector sidecar]
which should set the ENV vars, which is working in scheduler and webserver, but not in the worker pods,
which are generated to run the dags.

somehow it's not executing the entrypoint stage from docker . while starting the pod.

[2020-11-20 06:22] Silpa-Suresh opened #12499 "Redirect URI for Airflow to authenticate using Azure AD"
Airflow Helm chart is deployed in Azure Kubernetes Service. And using Nginx Ingress Controller accessing the webserver UI in a URL: https://xyz.com/admin/
Configmap (airflow-webserver-config) is created as how mentioned [here](https://github.com/helm/charts/issues/23594#issuecomment-694763470)

Mounting through airflow.extraConfigmapMounts authentication could be established.

Provided the URL "ht

[2020-11-20 06:29] imjuanleonard commented on #9610
Any update with this? We have a usecase where restart is not the case

[2020-11-20 06:33] imjuanleonard commented on #9610
Hey @chrismclennon , is there any update regarding this?

[2020-11-20 07:04] zhongjiajie commented on #7963
Good catch

[2020-11-20 07:17] amr-noureldin commented on #12396
We had 24 scheduler threads configured.

We re-configured to 2 threads, due to some concurrent issues (db connectivity on scheduler to our db, ever since 1.10.12), the db connection issues no longer persist. Nevertheless, zombies detection still impacts us.

[2020-11-20 07:54] boittega commented on #8713
Hi @danielenricocahall
Sure, go ahead.

[2020-11-20 08:43] #12488 closed

[2020-11-20 08:44] patchandpray commented on #12489
I'd like to work on this one.

[2020-11-20 09:10] mik-laj commented on #11178
@kaxil It is not required. We can do it in Airflow 2.0 only.

[2020-11-20 09:49] mik-laj commented on #12489
@patchandpray  Assigned ;-)

[2020-11-20 10:12] #8201 closed

[2020-11-20 11:07] ashb commented on #11423
Sounds great!

Another option might be to publish it as a Release on Github, and then we could install it as

[code]

(To test this I uploaded the artifacts to 2.0.0b3 on Airflow: https://github.com/apache/airflow/releases/tag/2.0.0b3)

The advantage of using Github is Actions already has credentials to create releases (I think?) and we then dont need to manage keys for S3. Disadvantage is that we

[2020-11-20 11:28] ashb commented on #8713
I've assigned it to you @danielenricocahall

[2020-11-20 11:32] ashb opened #12500 "Investigate removing pandas dependency from Core Airflow"
I want to take a look at removing numpy/pyarrow from _core_ airflow. We don't really need it, and it would make installing easier.

After 2.0

_Originally posted by @ashb in https://github.com/apache/airflow/issues/11950#issuecomment-731115568_

[2020-11-20 11:36] #12306 closed

[2020-11-20 12:04] turbaszek commented on #12500
+1 for that, I faced some dependency issues with pyarrow too

[2020-11-20 12:36] alsterman commented on #12499
Hi @Silpa-Suresh

I'm using this for airflow 1.10.10

**Api-permissions:** `graph.microsoft.com/openid`
**Token configuration:** Add the following optional claims: email, family_name, given_name, upn
**Redirect URIs:** I'm using the following, not sure if all are needed. /login, /admin, /oauth-authorized, /oauth-authorized/azure, /home, /

My `webserver_config.py` looks like this:
[code]

You have

[2020-11-20 13:18] dmateusp commented on #11731
hey @dimberman thanks for having a look, I'm going reproduce it again and add details here

[2020-11-20 14:36] turbaszek opened #12508 "Run pip check in CI pipelines"
**Description**

We should consider adding `pip check` command in our CI system to verify that dependencies that we use (together with constrains) are fully compatible. This should be run for biggest possible user-installation (`apache-airflow[all]`).

**Use case / motivation**

Successful `pip check` is often a business requirement for releasing new version of Airflow. It assure us that all depen

[2020-11-20 14:37] turbaszek commented on #12508
CC @potiuk @mhenc @anitakar

[2020-11-20 14:54] ashb commented on #12508
We'll have to fix the conflicts first ;)

[code]

[2020-11-20 14:54] ashb commented on #12508
(That list is a lot better than it used to be)

[2020-11-20 15:02] turbaszek commented on #12508
Yes and that's not all 🗻

[2020-11-20 15:18] turbaszek opened #12509 "Add support for using Cloud Build in breeze build-image"
**Description**

I would like to build airflow images using external services like Google Cloud Build. In this way I don't have to run the build on local machine and have to design custom CI pipelines to build it (especially for dev purposes).

**Use case / motivation**

Building production image can take time and running this on notebooks sounds like not an optimal way of doing it. We can take ad

[2020-11-20 15:18] turbaszek commented on #12509
WDYT @potiuk ?

[2020-11-20 15:27] turbaszek commented on #12508
Running on latest docker image:
[code]

[2020-11-20 15:45] dimberman commented on #11053
Hi @pcandoalmeida have you made any progress on this ticket? If you do not have time I can take it over.

[2020-11-20 16:10] potiuk commented on #12508
Yep. Isssue waiting to be done #10854

[2020-11-20 16:28] #12121 closed

[2020-11-20 17:30] ahuynh3 opened #12515 "DAG serialization JSONDecodeError"
**Apache Airflow version**: 1.10.12

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**: MySQL (RDS) metadata backend (v5.6.43)

**What happened**:

We recently turned on DAG serialization and notic

[2020-11-20 17:31] ahuynh3 commented on #12515
@kaxil Here's the issue described [in this Slack thread](https://apache-airflow.slack.com/archives/CCQ7EGB1P/p1605839981357300)

[2020-11-20 17:36] epx-dan commented on #11354
I have the same issue after airflow webserver:
`PendingDeprecationWarning: The requested task could not be added to the DAG because a task with task_id create_tag_template_field_result is already in the DAG. Starting in Airflow 2.0, trying to overwrite a task will raise an exception.
  category=PendingDeprecationWarning)`
I turned load_exampes from True to False in airflow.cfg, then this warning d

[2020-11-20 17:44] kaxil commented on #11354
This is fixed in 1.10.13

[2020-11-20 18:38] kaxil commented on #12515
Thanks @ahuynh3

[2020-11-20 18:44] kaxil commented on #12515
@ahuynh3 What version of MySQL do you use?

[2020-11-20 18:46] ahuynh3 commented on #12515
5.6.43

[2020-11-20 18:50] kaxil commented on #12515
That is why, Mysql 5.7+/MariaDB 10.2.3 has JSON support

https://github.com/apache/airflow/blob/20843ff89ddbdac45f7ecf9913c4e38685089eb4/airflow/migrations/versions/d38e04c12aa2_add_serialized_dag_table.py#L42-L44

[2020-11-20 18:59] pbotros commented on #10435
This is also happening to me on AWS EC2 instances with airflow 1.10.12, ubuntu 18.04.5. It's not consistent but I've just started seeing it with some newly written tasks that use high %s of CPU & GPU for sustained periods. Will hunt for something that can reproduce that.

[2020-11-20 19:05] ahuynh3 commented on #12515
Ah nice catch -- seems like we can resolve this issue fairly easily by upgrading our MySQL version. Feel free to close this issue out if you don't think it's worth fixing for 5.6.x. Thanks again!

[2020-11-20 19:20] kaxil commented on #12515
Cool, yeah with Airflow 2.0 around the corner, I think it would be worth for you to at least upgrade to 5.7 and even better 8.0 if you want to run multiple Schedulers in 2.0 ;)

[2020-11-20 19:20] #12515 closed

[2020-11-20 20:30] maroshmka commented on #12387
I'm thinking if this is not more of a client issue. You're trying to read files while one of those files is the one starting the reading. To me it sounds that maximum recursion is the correct error over here, you're doing infinite recursion and you should be aware of that, also you should control it in your code.

I would achieve this by using some semaphore var to know if skip or not the file:

[

[2020-11-20 20:32] ashb commented on #12387
Better yet: don't execute expensive code at the top level of a DAG file -- it has to be run to parse the dag, which slows things down.

In 2.0 it slows things down a lot less than it used to, but it would still slow down every task that executes in this dag unnecessarily.

[2020-11-20 20:45] kaxil commented on #11149
I was not able to reproduce this.

I added the following key in Hashicorp Vault:

[code]

and set the following environment Variables:

[code]

Only if I try to use `LocalExecutor`, I get the following error:

[code]

which is a correct error since I am trying to use `LocalExecutor` with `sqlite`

[2020-11-20 20:54] pbotros opened #12519 "Limit task concurrency per worker?"
**Description**

Provide the ability to limit task concurrency _per worker_.

**Use case / motivation**

My use case is that I have a particularly heavy task - one that uses lots of RAM & GPU - where if too many instances of that task are running on the same machine at a time, it'll crash. My ideal situation is to have a flag on the operator, something like `task_concurrency_per_worker`, that'll g

[2020-11-20 20:58] pcandoalmeida commented on #11053
Hi @dimberman yes by all means!

[2020-11-20 21:26] #11149 closed

[2020-11-20 21:50] kaxil commented on #11901
This needs fixing in Master and is not that critical, so will fix it in 2.0.0

[2020-11-20 22:33] eladkal commented on #9025
The non-RBAC UI is deprecated in Airflow 1.10 and removed from Airflow 2.0
No new features will be added to the non-RBAC UI.

[2020-11-20 22:33] #9025 closed

[2020-11-20 22:45] ashb commented on #11112
Release created, but still some tidy up of docs/process left to do so it is repeatable.

[2020-11-20 22:46] maroshmka opened #12520 "gcs_to_bq: Support schema in different bucket"
**Description**

Schema path (schema_object) for table in `GCSToBigQueryOperator` is downloading schema from source bucket.

New feature should support support also pulling schemas from different bucket.

**Use case / motivation**

I guess there are lot of use-cases. To mention one concrete:

- we want to have schemas at 1 place, for us its terraform, where we define all resources and ACLs
- those

[2020-11-20 22:49] maroshmka commented on #12520
Implemented draft, if its ok to have this feature, I can finish the system tests :)

[2020-11-20 23:12] ashb commented on #10435
Are you also using a lot of memory? On Linux check `dmesg` or syslog and see if the OOMKiller is killing processes.

[2020-11-20 23:37] pbotros commented on #10435
That's likely - indeed, switching to an EC2 instance with more RAM and running fewer concurrent tasks seems to have stopped it so far. Unfortunately I can't confirm since the logs are now gone, but I bet you're right. TIL about overcommit! https://www.etalabs.net/overcommit.html

[2020-11-21 03:37] fritzb commented on #10605
Docker Inc started image pull rate limiting around October 30th 2020. As a result, all KubernetesPodPerator tasks with XCOM started to fail in large deployment. Can we backport this fix to Airflow 1.10 branch?

Based on the severity of the failure, the bug priority should be raised higher.

`  - image: alpine
    imageID: ""
    lastState: {}
    name: airflow-xcom-sidecar
    ready: false
    res

[2020-11-21 05:04] gfeldman commented on #12341
Confirming @mpolatcan diagnosis and that changing the import under `airflow/www/views.py` and `airflow/www_rbac/views.py` resolves the issue.

[2020-11-21 10:37] potiuk commented on #12509
Why not. Might be a good option to add.

[2020-11-21 11:34] potiuk commented on #12500
Oh yeah! That will help with #11950 as well!

[2020-11-21 11:40] potiuk commented on #11423
We can do better than that. Why don't we create a separate repository "apache/airflow-doc-theme" and put all the theme there ? then we can develop it separately and point to the tags/versions of the code (without even releasing it) same way as we do with airflow now:

[code]

[2020-11-21 11:48] turbaszek commented on #12341
CC @dimberman @kaxil , should we release this in 1.10.13?

[2020-11-21 11:50] potiuk commented on #11423
(and we could combine both - keeping theme in separate repo and making them available as release as well).

[2020-11-21 12:09] mik-laj commented on #11423
@potiuk  The website and theme will share some files, more specifically you must have the site build output files to be able to build the theme. For this reason, moving this theme to a separate repository could be problematic.

We can think about using Pypi, but if this is actually going to be for internal use only and we don't expect users to install this theme, I don't think we should make it ea

[2020-11-21 12:28] mik-laj commented on #11423
I am also wondering if publishing on Pypi will result in us having to meet some releasing requirements.  Any user will be able to easily find this theme and install it. If we use a private repository, the files will be available only to the developers of this project. Ideally, we would also be able to configure the full CI / CD so that the package is available without any of our intervention. Even

[2020-11-21 12:41] kaxil commented on #12341
This is already fixed in 1.10.13rc1 : https://github.com/apache/airflow/commit/25c16e87536b4c12acf1ae19bfa3ce1e3f5d6171

[2020-11-21 12:41] #12341 closed

[2020-11-21 13:21] turbaszek commented on #12500
Searching for `pandas` import it seems that only `DbApiHook` requires it explicitly for one method: `get_pandas_df`.
Apart from that:
[code]
Where `nteract-scrapbook` is required for `papermill` provider and `pandas-gbq` is for `google`. I removed pandas from setup.cfg and using clean venv installed airflow. No pandas was installed and running few airflow commands showed no errors.

[2020-11-21 14:09] potiuk commented on #12509
However It might not be needed . I have found one reason why the  images after pulling might run a bit longer (docker-context-files were not empty when I built it last time), I am going to prevent that problem in a next PR and then it shoudl be much faster next time. I think when we finally fix it building image via ci build will be much longer than locally all the time (no matter how fast machine

[2020-11-21 14:52] potiuk commented on #12509
Fix is in #12534. Once we merge it and I push the images it shoudl be rather fast to rebuild next time

[2020-11-21 16:51] Avphy opened #12535 "HttpHook: Unusable response object for slower REST API call"
**Apache Airflow version**:
AIRFLOW_VERSION=1.10.12

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
NA

**Environment**:

- **OS** (e.g. from /etc/os-release): Oracle Linux
- **Airflow Setup**: Single node, CeleryExecutor setup (Airflow, DB, Celery worker running in same docker, Only Redis in saperate docker)

**What happened**:
When REST API call takes a longer time

[2020-11-21 17:03] AleksaC commented on #12358
Hi, can I work on this?

[2020-11-21 17:54] mpolatcan commented on #12341
Thanks @kaxil, I am awaiting Airflow version 1.10.13 😄 👍

[2020-11-21 18:21] #12509 closed

[2020-11-21 18:29] potiuk commented on #12509
The 3.6 version (default) should be now fast to pull/build please try it out @turbaszek and let's observe it for a while to see if this is really working in a stable way I :crossed_fingers: . Now when rebuild is done it should be pretty much always reasonably fast. Let me know if it is not. I hope I fixed last errors within this part and do not plan any more structural changes that could break it.

[2020-11-21 18:30] potiuk commented on #12509
3.7 out

[2020-11-21 18:41] potiuk commented on #12509
And 3.8

[2020-11-21 18:51] potiuk commented on #11423
I see. Fine for me.

Yep - that's much better. Just remember this will only work from master merge or workfow_run (the {PR token is read only)

[2020-11-21 19:06] #8844 closed

[2020-11-21 20:37] #10036 closed

[2020-11-21 20:44] eladkal commented on #9738
@shaneikennedy  You are more than welcome to contribute. Can I assign this task to you?

[2020-11-21 21:13] letyndr opened #12537 "Mounting directories using docker operator on airflow is not working"
**Apache Airflow version**: apache-airflow==1.10.12

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): Does not apply

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): Ubuntu 18.04.5 LTS bionic
- **Kernel** (e.g. `uname -a`): Linux letyndr-letyndr 4.15.0-123-generic #126-Ubuntu SMP Wed Oct 21 09:40:11 UTC 2020 x86_6

[2020-11-21 21:15] pbotros commented on #12519
Thinking about this more - I guess this can be implemented with a separate queue and a separate worker, where that worker has its celery.worker_concurrency set to 1 and listens to this separate queue. That said, it's not the most convenient, since it involves spinning up a separate worker with its own config and its own queue.

I'll leave this open for the time being in case there's a better solut

[2020-11-21 21:38] turbaszek commented on #12519
I would say that this is the recommended way. It's a common practice to have separate queue for compute-heavy tasks. If you are using kubernetes - then once Airflow 2.0 is you can consider using `CeleryKubernetesExecutor` https://airflow.readthedocs.io/en/latest/executor/celery_kubernetes.html

[2020-11-21 21:42] ashb commented on #12500
It probably used to be used more - in the old chart view I think, but we've removed those uses now.

[2020-11-21 21:43] ashb commented on #12500
And no pandas means no numpy right?

[2020-11-21 21:46] ashb commented on #11423
In my head I had is only publishing a new release on tags - but we could probably have a "latest" release too that we overwrite the release blob for.

And if you want to test out the theme built from a pr we can use the upload-artifact action

[2020-11-21 21:47] turbaszek commented on #12519
Btw. I know that @mjpieters had some similar problem, not sure what was the final solution 😉

[2020-11-21 21:49] turbaszek commented on #12500
Probably. I forgot check it but no idea where we would need it

[2020-11-22 01:23] gflores1023 commented on #9414
Hi, came across this issue. There's now a broken link on [dag-run](https://airflow.readthedocs.io/en/latest/dag-run.html?highlight=catchup#backfill) - the link that points to: https://airflow.readthedocs.io/en/latest/cli-ref.html#backfill

"The **[backfill command](https://airflow.readthedocs.io/en/latest/cli-ref.html#backfill)** will re-run all the instances of the dag_id for all the intervals wi

[2020-11-22 03:20] mik-laj commented on #9414
@gflores1023 If you want to propose a design change then you don't have a ticket. It is enough to create a PR.

[2020-11-22 11:43] turbaszek opened #12543 "Introduce 'everything' extra in setup.py"
**Description**

Introduce a `everything` (or other name) extra so users can do `pip install apache-airflow[everything]` to install all additional user-related extras (no docs, no ci, no dev packages).

**Use case / motivation**

Simplify installing all user-related extras. Currently I need to put whole list of all extras to install everything.
I'm not sure if many users will install everything bu

[2020-11-22 11:49] turbaszek opened #12544 "Describe all extras that can be installed with Apache Airflow"
**Description**

While installing `apache-airflow[google]` may suggest that we will install some google-related packages. It's less obvious what gets installed when users use `all`, `devel`, `devel_ci` or `all_dbs`.

**Use case / motivation**

Having a short note in documentation about the "non obvious" extras may reduce confusion and will help users understand what is installed when the extra is

[2020-11-22 11:53] gfelot opened #12545 "Python3.8 and botocore install issue for docutils"
**Apache Airflow version**: 1.10.12

**Environment**:

- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): ubuntu 20.04 LTS

**What happened**:

Trying to install Airflow as recommanded with 3.8 constraint.

`pip install "apache-airflow[crypto,password,postgres,aws]"==1.10.12 --constraint "https://raw.githubusercontent.com/apache/airflow/constraints-1.10.12/co

[2020-11-22 12:00] potiuk commented on #12544
Actually - we do have a description already it seems : https://github.com/apache/airflow/blob/master/docs/extra-packages-ref.rst and it even contains correct description "All Airflow features known to man"

[2020-11-22 12:14] mik-laj commented on #12545
Related: https://github.com/apache/airflow/pulls

[2020-11-22 12:26] ashb commented on #12543
I went back and looked, and `all` extra has been devel back to at least 1.9, I think we should rename that to `devel_all` for clarity, and then make `all` be the extra you describe here.

My thinking is `all` and `everything` would need clarification on docs, but `all` and `devel_all` is hopefully clearer.

[2020-11-22 12:41] Alibm73 opened #12547 "use-feature=2020-resolver breaks airflow installation setup (lots of dependency error)"
**Apache Airflow version**: 1.10.12
**Environment**: VMware VM
**Cloud provider or hardware configuration**: 8 G RAM, 50G HDD, 4Cores
**OS**:
NAME="CentOS Linux"
VERSION="7 (Core)"
ID="centos"
ID_LIKE="rhel fedora"
VERSION_ID="7"
PRETTY_NAME="CentOS Linux 7 (Core)"
ANSI_COLOR="0;31"
CPE_NAME="cpe:/o:centos:centos:7"
HOME_URL="https://www.centos.org/"
BUG_REPORT_URL="https://bugs.centos.org/"

CENT

[2020-11-22 12:55] turbaszek commented on #12544
Not sure if this is correct as `all` contains also devel stuff. So yeah, there's too much ambiguity. I will try to take a look at that.

[2020-11-22 13:48] Alibm73 commented on #12547
forgot this issue.
6.
[code]

[2020-11-22 14:20] turbaszek commented on #12547
@Alibm73 this seems to be related to already ongoing effort of solving dependencies issues #12508 #10854

[2020-11-22 14:46] Alibm73 commented on #12547
So what's the solution. will installing earlier versions help? I need some guidance
thnx

[2020-11-22 15:09] potiuk commented on #12547
Don't use `--use-feature=2020-resolver`

[2020-11-22 15:10] potiuk commented on #12547
Closing as duplicate of #12508 #10854

[2020-11-22 15:10] #12547 closed

[2020-11-22 15:58] potiuk commented on #12543
Yeah I also looked it up today seeing that it was added in 2015 in fact (i even found the right commit where it was added in 2015 !

https://github.com/apache/airflow/commit/1d56f22f2e470ff5e9db0a24b3e4a4516cbf1811

[2020-11-22 16:40] aniketbhatnagar opened #12550 "Ability to provide sample conf JSON for a dag in trigger page"
**Description**
In the trigger page, there is a text area to enter (optional) conf json. It would be great if a sample JSON can be provided programatically while defining DAG

**Use case / motivation**

This will improve usability of the UI that triggers a DAG

[2020-11-22 17:51] mohitisrani commented on #10713
running below should solve the above issue for now

`RUN sed -i 's/import copy/import copy,sqlalchemy/g' /usr/local/lib/python3.7/site-packages/airflow/models/dag.py \
    && sed -i 's/DagModel.is_paused.is_(True)/DagModel.is_paused == sqlalchemy.sql.expression.true()/g' /usr/local/lib/python3.7/site-packages/airflow/models/dag.py
`

[2020-11-22 19:09] BasPH opened #12552 "ExternalTaskSensor fails with ValueError on state comparison"
**Apache Airflow version**:
2.0.0b3 (Docker)

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
N/A

**Environment**:
Airflow 2.0 beta3 with Docker Compose

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:
This task fails the DAG import:
[code]

Er

[2020-11-22 19:32] potiuk opened #12553 "New Documentation link to the "directory" from generated documentation"
Version: Airflow 2.0.0b3

I think we shoudl have a link from "apache-airflow" and each "provider" documentation back to the "directory". I think eventually people will land on the main "airflow" page (via google search) and it will be very difficult for them to find the "providers" if they are not linked to prominently.

[2020-11-22 19:32] potiuk commented on #12553
cc: @mik-laj

[2020-11-22 19:34] potiuk opened #12554 "Remove or limit table of content at the main Airflow doc page"
Table of content here : http://apache-airflow-docs.s3-website.eu-central-1.amazonaws.com/docs/apache-airflow/latest/index.html at the main page of "apache-airflow" documentation is huge and useless (especially that we have it in directory on the left).

We should remove it or limit heavily (to 1st level only)

![Screenshot from 2020-11-22 20-34-28](https://user-images.githubusercontent.com/595491/

[2020-11-22 19:35] potiuk commented on #12554
cc: @mik-laj

[2020-11-22 19:37] potiuk opened #12555 "https and s3 domain in s3 links for docs"
I think we need to (eventually)  get rid of the s3 links and replace it with our domain (docs.airflow.apache.org)?

I think it would be great to have https:// there as well. I know it's not something that can be done quickly but we should eventually make it works.

[2020-11-22 19:37] mik-laj commented on #12553
Yes. I know this and it will be done with the Sphinx theme. I see it as there will be an Airflow theme (preview: https://airflow.apache.org/docs/stable/). On top navbar, we will have link to: http://apache-airflow-docs.s3-website.eu-central-1.amazonaws.com/ Additionally, breadcrumbs will also have a link to http://apache-airflow-docs.s3-website.eu-central-1.amazonaws.com/
I take care of it step by

[2020-11-22 19:37] potiuk commented on #12555
cc: @mik-laj

[2020-11-22 19:38] potiuk commented on #12553
Cool!

[2020-11-22 19:41] mik-laj commented on #12553
Finally, I want it to look similar to these pages:
https://www.hashicorp.com/products/terraform
https://docs.microsoft.com/en-us/azure/?product=featured

[2020-11-22 19:52] mik-laj commented on #12555
We cannot use docs.airflow.apache.org domain as it is against Apache's releasing policy.

http://www.apache.org/legal/release-policy.html

We can think about the use of a domain that clearly defines the purpose, e.g. docs-dev.airflow.apache.org but that will require discussion with INFRA and a more complex AWS setup.  I have both doubts as to whether INFRA will be willing to add a DNS record that

[2020-11-22 19:56] mik-laj commented on #12554
It seems to me that it cannot be removed completely, but it will probably be possible to limit the levels of the depth quite simply.

I don't have plans to do it any time soon. I will add the label "good-first-issues" label.Maybe another person will be willing to take care of it.

[2020-11-22 21:32] peidaqi commented on #12387
@maroshmka that looks like a strange solution though. I simply just want to get a list of currently registered DAGs. Since it's a read only operation it shouldn't invovle something complicated as a semaphore variable.

The maximum recursion error definitely has something to do with how models.DagBag().dags is implemented and if call to this will trigger a re-read of all the DAGs, then this error i

[2020-11-22 21:49] ashb commented on #12387
Why? And why do you want to do this _whenever your dag is parsed_? (Hint: This is about once a second.!) It is considered good pratice to avoid any unnecessary code at the top level of your DAG file.

If you _absolutely_ need this at the top level (i.e. outside of a task's execute function) then use the DagModel DB table. DAG Bag is not designed for this purpose --- as you've found out it is for p

[2020-11-22 21:49] #12387 closed

[2020-11-23 00:51] dimberman commented on #12264
So when I look at the events that are generated on an unschedule-able pod I see that the failure here is actually reported during the "ADDED" phase. So I THINK we can add a check there and that might help with some of these use-cases. I'm not sure about all though...

[code]

[2020-11-23 03:09] mik-laj commented on #12550
In Airflow 2.0, you can pass this as a `params` parameter. I don't know if this exists in Airflow 1.10. I also have serious concerns that this option is not documented. Would you like to add documentation?
https://github.com/apache/airflow/blob/8b95e513704b91110c47f424c4376a20560eccc4/airflow/www/views.py#L1426

[2020-11-23 03:29] #10166 closed

[2020-11-23 03:30] juneoh opened #12556 "Add ORC support to GCSToBigQueryOperator"
**Description**

[BigQuery API for loading data](https://cloud.google.com/bigquery/docs/reference/rest/v2/Job#JobConfigurationLoad) lists ORC file format as one of the supported formats, but it is currently not allowed in GCSToBigQueryOperator. Specifying ORC as the source format raises a [ValueError in BigQueryHook](https://github.com/apache/airflow/blob/a3dfd04ce4224e80c7b32351a744980e72bc10aa/a

[2020-11-23 06:07] tlw-ray commented on #12234
It can be seen that once every five minutes, every twelve runs, there will be a problem exactly one hour. If the interval time is changed to three minutes, such a problem will not occur.

[2020-11-23 08:19] potiuk commented on #12554
Cool!

[2020-11-23 08:20] potiuk commented on #12555
Sure. Nothing to hurry. I think something like "latest-docs.airflow.apache.org" should be fine.

[2020-11-23 08:55] turbaszek commented on #12556
As mentioned in PR the `run_load` method is deprecated and users should use `insert_job` method which supports everything possible. That said, the change we should do is to update `GCSToBigQueryOperator` to use new method instead of the old one, see https://github.com/apache/airflow/issues/10288

[2020-11-23 09:43] eladkal commented on #12146
Can you please point to which instructions are you referring to?
See Jarek [answer](https://stackoverflow.com/questions/64931132/unable-to-start-airflow-locally-on-windows) for Windows support

[2020-11-23 10:09] eladkal commented on #7922
Duplicated of https://github.com/apache/airflow/issues/7924

[2020-11-23 10:09] #7922 closed

[2020-11-23 11:07] ibeauvais opened #12560 "Initialization of Dataproc hook in operator constructor"
**Apache Airflow version**: 1.10.10

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): v1.15.12-gke.20

**Environment**:

- **Cloud provider or hardware configuration**: Google Cloud Platform (Composer 1.12.4 )
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:
On an environment with a lot of data

[2020-11-23 11:27] JavierLopezT commented on #12401
I have no clue how to approach this and right now I don't have time to investigate, sorry

[2020-11-23 11:33] turbaszek commented on #12560
That's already done in new operators. We don't use `DataprocOperationBaseOperator` anymore. See:
https://github.com/apache/airflow/blob/c133df806247cfde87ba461ed22ee924d8d31fd3/airflow/providers/google/cloud/operators/dataproc.py#L389
https://github.com/apache/airflow/blob/c133df806247cfde87ba461ed22ee924d8d31fd3/airflow/providers/google/cloud/operators/dataproc.py#L1747

[2020-11-23 11:33] #12560 closed

[2020-11-23 11:35] turbaszek commented on #12560
I would also suggest to migrate to 1.10.12 and use the providers packages with new operators - the ones that are supported and will be required for Airflow 2.0.
http://apache-airflow-docs.s3-website.eu-central-1.amazonaws.com/docs/apache-airflow/latest/backport-providers.html?highlight=providers

[2020-11-23 11:58] eladkal commented on #9974
@tambulkar Can you elaborate on the use case where this functionality needed in a production DAG?

[2020-11-23 12:04] turbaszek commented on #9974
I think this is something that can be one of result of this discussion:
https://lists.apache.org/thread.html/r14e23de7b71f61e3e81b11eb84da2612938982c46c9824e884d8ba50%40%3Cdev.airflow.apache.org%3E

We could log this event similarly to what was proposed in this thread.

[2020-11-23 13:32] rd16395p commented on #8540
Was there any movement on this? I can help code this feature.

[2020-11-23 15:02] eladkal commented on #8756
can you please provide more information and a reproduce example?

[2020-11-23 15:07] eladkal commented on #8839
Duplicated of https://github.com/apache/airflow/issues/8717
Fixed in https://github.com/apache/airflow/pull/9612

[2020-11-23 15:07] #8839 closed

[2020-11-23 15:10] turbaszek opened #12562 "Airflow requires to-be-deprecated flag when using MySQL"
**Description**

Airflow with MySQL as backend depends on `explicit_defaults_for_timestamp` flag:
https://github.com/apache/airflow/blob/ef0e34d97b9ee2c1911af7209592da9760efa217/airflow/migrations/versions/0e2a74e0fc9f_add_time_zone_awareness.py#L39-L44

Which according to MySQL documentation:

https://dev.mysql.com/doc/refman/8.0/en/server-system-variables.html#sysvar_explicit_defaults_for_timest

[2020-11-23 15:18] AXington opened #12563 "KubernetesExecutor: Permission Error: User for security context changed, highlighting odd code choice to run at every pod start."
**Apache Airflow version**: 1.10.12

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.17.XX (EKS)

**Environment**:

- **Cloud provider or hardware configuration**: AWS + EKS + Container

Other useful info:
Using Airflow with Kubernetes Executor as stated in title.
Have been using a custom container for quite a while and cannot switch to official container at the mom

[2020-11-23 15:34] nixjdm commented on #12563
There's two noteworthy parts of this to me.

1. This user 50000 is coming from https://github.com/apache/airflow/blob/6416d898060706787861ff8ecbc4363152a35f45/tests/test_local_settings/test_local_settings.py#L76. Given that file path, I would not expect this code to run unless we're actually running a test. Or is `50000` set somewhere else that's relevant? Grepping, this seems like that's the only

[2020-11-23 15:42] zhongjiajie commented on #12223
Hi @caoyouming did you miss some error here? I think it work fine here.

[2020-11-23 16:29] gontcharovd commented on #8606
I have an issue with the `&&` in this line when I tried adding this init service to my docker-compose:

```entrypoint: "airflow upgradedb && airflow create_user -f none -l none -u $USER -p $PASSWORD -e $EMAIL"```

Did you manage to get it working in your case?
I'm still not clear on the recommended way to initialize usernames/passwords when running the containers the first time.

Are there any new

[2020-11-23 16:33] ashb commented on #11899
@shivanshs9 Could you re-test this with beta3 -- just to confirm if this problem still exists.

[2020-11-23 16:44] ashb commented on #11899
https://github.com/apache/airflow/pull/11797 is the PR that _may_ have fixed this.

[2020-11-23 16:54] mik-laj commented on #11423
I have prepared a PR that publishes the theme package on Github Action.
https://github.com/apache/airflow-site/pull/308

[2020-11-23 17:00] kaxil commented on #11423
LGTM

[2020-11-23 17:45] honarkhah commented on #12401
I would like to work on this task, Should I add a new perm or use the can_create perm?
`airflow/www/templates/airflow/model_list.html:L71`
[code]
I assume that we gonna have a button on the list and we gonna use the create form prefilled with the item that selected.

[2020-11-23 18:14] kumarvt commented on #11911
I believe the "CREATE TABLE IF NOT EXISTS" is not implemented in this operator and I believe that will be very useful, whenever we need to create the target table only first time using JSON schema (that has several columns as required). I looked at the create table as select but that changes the mode  of all columns to NULLABLE in target table.

[2020-11-23 19:00] pbotros commented on #12519
Sounds good - I guess I'll go with this. Thanks!

[2020-11-23 19:00] #12519 closed

[2020-11-23 19:06] subkanthi commented on #8540
Hi @rd16395p ,I wasnt clear on what needs to be added, since there is already a MLflow operator, please proceed if u have clarity.

[2020-11-23 19:43] mik-laj commented on #12401
I think, you can use can_create perm.

[2020-11-23 19:49] rd16395p commented on #8540
@subkanthi Sure! I can try. I was thinking a few functions, such as the one commented above with sagemaker integration. I can see that being useful from my own experience. What do you think?

[2020-11-23 20:24] metov opened #12576 "DockerOperator causes log spam when pulling image"
**Apache Airflow version**: 1.10.4
**Environment**:
- **Cloud provider or hardware configuration**: AWS EC2
- **OS** (e.g. from /etc/os-release): ubuntu

**What happened**:
I am using `DockerOperator` in Airflow set to pull the image before executing. The pull step generates a lot of log spam:
![Screen Shot 2020-11-23 at 11 58 40 AM](https://user-images.githubusercontent.com/51468504/100010338-fab

[2020-11-23 20:55] turbaszek opened #12577 "Use only single execution date in ExternalTaskSensor"
**Description**

In general we encourage operators to be designed to perform an atomic action. However, `ExternalTaskSensor` seems to be not alway atomic. Users are able to pass `execution_date_fn` which can return multiple dates. If that happens the operator will check state not of single DAG/task but of multiple instances. Even if that happens users will get 1/0 response - task/dag failed or not

[2020-11-23 22:37] shaneikennedy commented on #9738
@eladkal sorry, I've moved companies since opening the issue and don't think I have the time 😞

[2020-11-24 00:39] paulsef commented on #10964
I had the same issue and noticed in the webserver debug logs that after spinning up the workers they went immediately into refreshing which seems to cause a crash eg:

[code]

I was able to work around this by setting `worker_refresh_batch_size` and `worker_refresh_interval` to 0.

[2020-11-24 02:25] caoyouming commented on #12223
yes，I had miss some errors，it may be an occasional error, or a dingding error. please ignore.

[2020-11-24 02:25] #12223 closed

[2020-11-24 03:45] igordertigor opened #12581 "ImportError in Quick Start example"
The airflow [quickstart example](https://airflow.apache.org/docs/stable/start.html) doesn't run for me on ubuntu 20.04. I'm using python3.8 in a fresh virtual environment like this
[code]
This raises an `ImportError` (see below for full stacktrace) when attempting to import `resolve_types` from `attr`. The `~/airflow` folder gets created and (at least partially populated). Attempting `airflow webs

[2020-11-24 04:14] igordertigor commented on #12581
This seems to be a dependency issue: At the end of the `pip install apache-airflow` I noticed the following error:
[code]
Manually forcing the installation by `pip install attrs==20.1.0 cattrs=1.1.1` fixes the `initdb` command, but gives a similar error (again, the red text starts with the pip message about October 2020):
[code]
However, not the commands from the quickstart work.

I tried to fix t

[2020-11-24 06:49] Silpa-Suresh commented on #12499
Hi @alsterman

I have tried the above configuration but I am getting the error: Invalid login. Please try again.

The only change I made in the above configuration file (webserver_config.py) is:
    import os
    from airflow.configuration import conf
    from flask_appbuilder.security.manager import AUTH_OAUTH
    basedir = os.path.abspath(os.path.join(os.path.dirname(__file__), os.path.pardir))

[2020-11-24 08:46] turbaszek commented on #12581
Related to #10854 #12508

[2020-11-24 09:09] ibeauvais commented on #12560
thanks for this very helpful information

[2020-11-24 09:21] JenniferYingyiWu2020 opened #12583 "How to convert a JSON string into a DAG object?"
Hi,
I have read the project codes of "airflow", and it is said that "Use Airflow to author workflows as directed acyclic graphs (DAGs) of tasks". Now, I have a task to read the following json string which will be used to construct a DAG. I have been told to use the "DAG engine", so could you pls tell me whether your codes can implement my function? Also, how to build a DAG object from Json using "

[2020-11-24 09:26] turbaszek commented on #12583
@JenniferYingyiWu2020 I'm afraid that Airflow natively does not support building DAGs in declarative way (either using json or yaml). But you can definitely write your own code generator that will convert your json to Airflow DAG file (.py file). You may want to take a look at this:
https://github.com/chriscardillo/gusty
https://github.com/Barski-lab/cwl-airflow

[2020-11-24 09:33] nathadfield opened #12584 "SQLAlchemy error when testing tasks via the CLI"
**Apache Airflow version**: 2.0.0b3

**What happened**:

Running an `airflow tasks test` CLI command produces the following stack trace even though the task was marked as successful.

[code]

**How to reproduce it**:

`airflow tasks test my_dag my_task 2020-11-18`

**How often does this problem occur?**:

Every time.

[2020-11-24 09:33] AdilsonMendonca opened #12585 "airflow task test failing due to mini scheduler implementation not respecting test mode"
**Apache Airflow version**: 2.0.0b3

**Environment**: Python3.7-slim running on docker

**What happened**:

Error when running `airflow tasks test <dag> <task> <date>` there is an error with the task rescheduler, which should not happen as we are testing the tasks and not running via scheduler.

**What you expected to happen**:

No error message should be displayed as the task is success and it is

[2020-11-24 10:01] ashb commented on #10435
I'm going to close this then -- if you have anyone has any more details we can look in to this -- commend (probably mention me directly) and I'll re-open this ticket.

[2020-11-24 10:01] #10435 closed

[2020-11-24 10:15] ashb commented on #12581
This one _was_ fine when 1.10.12 was released -- fixed by #11969 for 1.10.13 (which was added via this cherry pick https://github.com/apache/airflow/commit/6b41e9541d445261bd8073750e047cbfaf03a624)

[2020-11-24 10:15] #12581 closed

[2020-11-24 10:39] AdilsonMendonca commented on #12585
@ashb this issue is the same as https://github.com/apache/airflow/issues/12584 raised by @nathadfield, issues created 1 minute apart.