[2022-04-04 17:12] jedcunningham commented on #22684
Spotted the issue. We should apply the "already checked" label regardless of the pod state in `cleanup` (also in the `else`, not just in the `if`):

https://github.com/apache/airflow/blob/436c17c655494eff5724df98d1a231ffa2142253/airflow/providers/cncf/kubernetes/operators/kubernetes_pod.py#L407-L409

@MioNok, you can also set `reattach_on_restart` if you want to ensure you get a new pod every time

[2022-04-04 18:11] eladkal commented on #15952
@MatrixManAtYrService can you check if the issue still reproducible with latest docker provider?
There were some fixes related to Xcoms

[2022-04-04 18:11] 2ps commented on #17127
[This solution worked for us](https://stackoverflow.com/questions/70433532/run-airflow-ha-scheduler-as-systemd-services) -- we use mysql 8.0.21, and switching to mysqlclient isntead of mysql-connector-python worked

[2022-04-04 18:12] eladkal commented on #15670
@Jaxing can you please check if the issue still happens with latest Airflow/Kubernetes provider?

[2022-04-04 18:20] gkarg commented on #21087
I concur with @arkadiusz-bach 's analysis.

The error is simply happening because newer versions on kubernetes lib throw exceptions which airflow fails to handle.
[code]

The culprit is here `for event in list_worker_pods():`, thus `_process_error` never gets a chance to run.

So, a simple fix would be to do something like this:

https://github.com/apache/airflow/blob/2cf1ae30538e109627417e8f0c165

[2022-04-04 20:35] MatrixManAtYrService commented on #15952
@eladkal It appears to have been fixed:

[code]

[2022-04-04 20:47] m1racoli opened #22738 "Webserver doesn't mask rendered fields for pending tasks"
### Apache Airflow version

2.2.5 (latest released)

### What happened

When triggering a new dagrun the webserver will not mask secrets in the rendered fields for that dagrun's tasks which didn't start yet.

Tasks which have completed or are in state running are not affected by this.

### What you think should happen instead

The webserver should mask all secrets for tasks which have started or n

[2022-04-04 20:49] MatrixManAtYrService commented on #22626
Same thing with DockerOperator
[code]

[2022-04-04 21:34] eladkal commented on #15952
Great 😃

[2022-04-04 21:34] #15952 closed

[2022-04-04 21:39] MatrixManAtYrService commented on #22561
I ran into this a second time, except this time I was also getting:
[code]

[Here's the full story](https://gist.github.com/MatrixManAtYrService/8f678c46d8e5dc065388db49ededc69d).  I assume that the extra error is just a consequence of the first, but it might be worth trying both as part of testing this fix.

[2022-04-04 21:55] dstandish commented on #22684
@potiuk i plan to "fix" this (see https://github.com/apache/airflow/pull/22734)

but that said, (and the the reason i that in quotes is...) this does not appear to be a regression in the 3.0 refactor.  if you [look here at the old code](https://github.com/apache/airflow/blob/providers-cncf-kubernetes/2.2.0/airflow/providers/cncf/kubernetes/operators/kubernetes_pod.py#L539-L544) it appears to have

[2022-04-04 21:58] dstandish commented on #22684
yeah @jedcunningham @potiuk it seems that adding this change (_always_ patching) causes tests to fail because they don't expect the "already checked" label https://github.com/apache/airflow/runs/5822154898?check_suite_focus=true#step:8:1052

[2022-04-05 00:10] #21007 closed

[2022-04-05 00:20] hankehly commented on #22473
@jackemuk @potiuk I will take this if no one minds

[2022-04-05 00:29] hankehly commented on #22336
@nominee1997 I haven't looked through the code, but the cli docs show a `--reset-dagruns` flag that may be useful for this purpose. Have you experimented with this?

https://airflow.apache.org/docs/apache-airflow/stable/cli-and-env-variables-ref.html#Named%20Arguments_repeat10

[2022-04-05 01:47] hankehly commented on #22174
@euccas @mik-laj I can take this if you don't mind.

[2022-04-05 02:00] hankehly commented on #22708
@blag I will take `celery` and `cheat_sheet`

[2022-04-05 04:52] eladkal commented on #22549
Closing since 2.2.5 was released.

[2022-04-05 04:52] #22549 closed

[2022-04-05 04:54] eladkal commented on #22731
i wonder if https://github.com/apache/airflow/issues/13044 share same root cause?

[2022-04-05 06:09] cansjt commented on #21087
@gkarg Read carefully. Where did I say there was a blocker? I asked how the Airflow team was planning to deal with this? I basically see two options:
- Accept a work around, like the one you suggest (thanks for that);
- Or wait for the Kubernetes client library to implement proper support for bookmark events;

If the Kubernetes client library was handling bookmark events properly, the `_run()` met

[2022-04-05 06:30] gkarg commented on #21087
@cansjt bookmark events being eaten by kubernetes-python is indeed a bug on their side, no arguments here. And I also thank you for digging into it and finding the root cause.

I did consider this, and you're likely right! :( However, that's how airflow handled this "traditionally" https://github.com/apache/airflow/blob/2cf1ae30538e109627417e8f0c1650addac3311b/airflow/executors/kubernetes_executor

[2022-04-05 06:50] cansjt commented on #21087
That's good to know. Sadly, we had to choose: stick to 2.2.3 and be able to use many of the nice features SQLAlchemy 1.4 brings (with a few quirks, but we managed :sweat_smile:) or upgrade (2.2.4 comes with a [SQLAlchemy <1.4 constraint](https://github.com/apache/airflow/pull/21235)). We chose the former. But that's an entirely different issue :grin:.

[2022-04-05 07:31] potiuk commented on #22473
Feel free.

[2022-04-05 09:26] ashb commented on #22731
@eladkal Nope, that's purely an artefact of the chart/graphing libary we are using on the front end as expanding the collapsed TG doesn't request any new data -- it's already there in the `nodes` JS var

[2022-04-05 09:32] potiuk commented on #21087
Ah yeah. The "quirks" are the reason we put < 1.4 in (it's easy to handle the quirks when you are an indivdual user who is dedicated to handle it, but when you need to handle a flurrry of issues from 1000s of user who expect it to "just work" - we chose the < 1.4 :) .

But worry not - 2.3.0 is already >= 1.4 :). And soon(ish) it will be out.

[2022-04-05 09:37] gkarg commented on #21087
@potiuk Please keep in mind, that, as soon as
- 2.3.0 is out - with kubernetes-python pin lifted
- and people start upgrading their kubernetes-python (there are very good reasons to)

this ticket will indeed receive a flurry of comments :)

[2022-04-05 10:48] potiuk commented on #21087
I hope just "GREAT! FANTASTIC! FINALLY, ❤️ 🚀  " kind of comments :) - or do you expect something else 😱 or 🙀 ?

[2022-04-05 11:30] #17127 closed

[2022-04-05 12:10] charan-doxel opened #22748 "Pyspark Job Operator is failing from airflow"
### Apache Airflow version

2.2.4

### What happened

Using DataprocSubmitPySparkJobOperator from airflow is failing with below error

Broken DAG: [/usr/local/airflow/dags/prod/dag-factory-test.py] Traceback (most recent call last):
  File "/usr/local/airflow/dags/dag_constructor/target_test_dag_constructor.py", line 486, in build
    run_cipo_pipeline = RunCIPOPipeline(
  File "/usr/local/lib/pyt

[2022-04-05 12:23] sam-lupton opened #22749 "Glitch when trying to list users in Airflow web app"
### Apache Airflow version

2.1.0

### What happened

Hosting Airflow in AWS EC2 instance - webapp always crashes when trying to list users

### What you think should happen instead

Users should be listed

### How to reproduce

Navigate to the webappp -> Security -> List Users

### Operating System

Linux

### Versions of Apache Airflow Providers

_No response_

### Deployment

Other

### Deploym

[2022-04-05 12:59] #22731 closed

[2022-04-05 15:36] tirkarthi commented on #22738
I have created https://github.com/apache/airflow/pull/22754 as a fix. Can you please confirm if `MASK_SECRETS_IN_LOGS` is enabled in your settings?

[2022-04-05 15:37] sungchun12 commented on #22730
@epapineau FYI

[2022-04-05 16:29] m1racoli commented on #22738
I am not sure that variable is intended to be user configurable. But [HIDE_SENSITIVE_VAR_CONN_FIELDS](https://github.com/apache/airflow/blob/a948e8330e4757be82f1e59e004f559b0a3bdedc/airflow/settings.py#L618) is set to `True` as per [Airflow config reference](https://airflow.apache.org/docs/apache-airflow/2.2.5/configurations-ref.html#hide-sensitive-var-conn-fields).

[2022-04-05 17:04] tirkarthi commented on #22738
Thanks, `MASK_SECRETS_IN_LOGS` should be set for masking of secret to work. It is set automatically when `airflow tasks run` is called. The sequential scheduler I use for local testing internally calls the `airflow tasks run` command to run tasks and thus I was confused over how masking is done when task is executed though the taskinstance.py file had not set the variable. I left a note in the PR

[2022-04-05 17:25] euccas commented on #22174
@hankehly hey if you have a PR, I'll help review it! Otherwise I'll submit my PR in a few days.

[2022-04-05 19:05] joshzana opened #22761 "Google OAuth regression in Airflow 2.2.5 with "Error returning OAuth user info: missing_token""
### Apache Airflow version

2.2.5 (latest released)

### What happened

We use the stock airflow-webserver docker image, configuring FAB to use Google OAuth.  This works fine up to an including Airflow 2.2.4.  When updating our DOCKERFILE to: `apache/airflow:2.2.5-python3.8`, and then attempting to log in to the web server, we get 'Invalid login. Please try again.`. The logs show the following err

[2022-04-05 19:07] MatrixManAtYrService opened #22762 "Grid view details shows `_PythonDecoratedOperator` instead of `@task.python`"
### Apache Airflow version

main (development)

### What happened

I ran a dag and navigated to the details drawer in the grid view.  Saw this:

<img width="358" alt="Screen Shot 2022-04-05 at 12 49 03 PM" src="https://user-images.githubusercontent.com/5834582/161830203-60b79ff7-3984-4c8b-b010-efd0bd6470d3.png">

### What you think should happen instead

The class name was descriptive enough, but

[2022-04-05 19:08] MatrixManAtYrService commented on #22762
@bbovenzi FYI

[2022-04-05 21:16] bruciebruce commented on #22715
I have some dags files that read data off of http sites, does data smashing and persists to s3.  I need to change those s3 references to the local file system in k8s.  I have set up a pv and a pvc as seen above.

[2022-04-05 21:31] ephraimbuddy commented on #21329
I was not able to reproduce this in the current main and 2.2.5. The dag was added back at the next cycle of dag parsing. @spru23, I'm going to close this, feel free to let me know if you are able to reproduce this in 2.2.5 or main

[2022-04-05 21:31] #21329 closed

[2022-04-05 21:34] ephraimbuddy commented on #20880
Closed in https://github.com/apache/airflow/pull/21712

[2022-04-05 21:34] #20880 closed

[2022-04-05 22:11] eladkal commented on #22762
This is issue I raised in Slack a while ago:
https://apache-airflow.slack.com/archives/CCPRP7943/p1644846308701199

[2022-04-05 22:40] epapineau commented on #22730
I'd like to tackle this issue 🧑‍💻

[2022-04-06 07:26] eladkal commented on #15974
Closing as no action needed
see https://github.com/apache/airflow/pull/22217#discussion_r826089680

[2022-04-06 07:26] #15974 closed

[2022-04-06 07:34] uranusjr commented on #22762
Maybe we could override `task_type` for this. I did a quick search and it seems this is only used for UI presentation now (need to double check).

[2022-04-06 08:05] parisni opened #22774 "UI bug in recent chromium when search for a variable"
### Apache Airflow version

2.2.4

### What happened

in the "variable" menu, when I search for a pattern, then it does not work

In debug mode I get :
[code]

### What you think should happen instead

_No response_

### How to reproduce

- install chromium `Version 102.0.4976.0 (Official Build) unstable (64-bit)`
- search for a variable

### Operating System

ubuntu 20

### Versions of Apache Air

[2022-04-06 11:01] Megha-Sai-Sree-PINNAKA commented on #17778
@pateash can I know if you are working on documentation of Arango Hook, else I am interested to take it up.

[2022-04-06 11:29] norm commented on #22762
Would it not be easier to *add* the operator name to the API results?

[2022-04-06 11:31] bbovenzi commented on #22762
Yeah, there's a few UI only things we could probably also get rid of at the same time. But I think `task.operator` would be easiest to understand for anyone using the API

[2022-04-06 11:42] pateash commented on #17778
I have added some as part of PR,
@eladkal Do we need any more?

[2022-04-06 11:46] ernestoongaro commented on #22730
@epapineau great! all yours

[2022-04-06 11:46] ernestoongaro commented on #22730
@josh-fell could you assign @epapineau to this issue?

[2022-04-06 11:46] potiuk commented on #22730
Assigned you @epapineau

[2022-04-06 11:55] wangzhijunwang opened #22779 "Paused DAG manual running task has no external_ executor_ id"
### Apache Airflow version

2.1.4

### What happened

When we have a simple DAG and execute the  `sleep command` to keep running, if we pause the DAG first and manually clear a task, it will not run at this time. Now let's run the task directly manually. The status of the task is running and the status of the whole DAG is queued. Now, the operation that causes the bug comes. Unpause the dag and th

[2022-04-06 12:30] bbovenzi commented on #22774
Is this in `/variable/list` and when searching for a key/val? I'm trying to replicate.

<img width="607" alt="Screen Shot 2022-04-06 at 8 29 02 AM" src="https://user-images.githubusercontent.com/4600967/161974625-116b1a32-5ccb-4170-9916-8019b7a33134.png">

[2022-04-06 12:54] norm commented on #22762
Looking into this, and I'm not sure what we are looking for to replace `_PythonDecoratedOperator` if it is not the task's ID? If it is that, it is already in the API results.

[2022-04-06 13:00] eladkal commented on #22762
It should not be the task_id. it should be the Operator class name..
`_PythonDecoratedOperator` should become `PythonOperator`

[2022-04-06 13:34] eladkal commented on #22762
True but we probably can distinguish.
Decorators also inherit from `DecoratedOperator`.

yeah maybe it's prefered. We can set in `BaseOperator` something like:

    def get_operator_ui_name_(self):
        return self.__class__.__name__

 and specific operators that need to change the name can override this method.

[2022-04-06 14:15] d0al3x commented on #13108
Thanks for this @zarria , it helped me !

[2022-04-06 14:27] kosteev opened #22781 "Error "NumericValueOutOfRange integer out of range" in scheduler, task_insance.priority_weight column overflow"
### Apache Airflow version

2.2.3

### What happened

Scheduler fails with following exception in case of priority_weight_total method returning out of integer range value.

"Original exception was: (psycopg2.errors.NumericValueOutOfRange) integer out of range"

### What you think should happen instead

_No response_

### How to reproduce

DAG to reproduce issue.

<pre>
import airflow
from airflow

[2022-04-06 14:29] Gollum999 opened #22782 "ExternalTaskSensor does not properly expand templates in external_task_id(s)"
### Apache Airflow version

2.2.4

### What happened

When using `ExternalTaskSensor`, if a Jinja template is used in `external_task_id` or `external_task_ids`, that template will not be expanded, causing the sensor to always fail.

### What you think should happen instead

Ideally the template should be expanded.  If we can't make that work for whatever reason, we should remove `external_task_id`

[2022-04-06 14:36] repl-mike-roest commented on #22761
We also ran into this and bumping authlib upto 1.0.1 also fixed it for us.

[2022-04-06 16:15] daveoconnor opened #22789 "Add reload_on_trigger_change"
### Description

Using the quickstart setup, for plugin changes there exists `reload_on_plugin_change = True` which when True causes the workers to restart on a change to the code in plugins.

For triggers there is no similar option and workers are not automatically restarted on a change to triggers in plugins.

### Use case/motivation

Add equivalent functionality for triggers to that which exist

[2022-04-06 16:16] daveoconnor commented on #22789
@dstandish
Hi, we talked about this in slack a while back and you asked to be tagged on it.

Thanks!

[2022-04-06 16:28] evanrosebrook opened #22790 "Helm deployment fails when postgresql.nameOverride is used"
### Apache Airflow version

2.2.5 (latest released)

### What happened

Helm installation fails with the following config:

[code]

The problem is manifested in the `-airflow-metadata` secret where the connection string will be generated without respect to the `nameOverride`

With the example config the generated string should be:

`postgresql://postgres:postgres@myrelease-overridename:5432/postgr

[2022-04-06 19:22] #22705 closed

[2022-04-06 19:45] anthonyjgraff commented on #22111
Google Ads Python has relaxed it's dependencies as of v15.1.1 (which was released earlier today) - will take another look at upgrading the dependencies!

[2022-04-06 20:12] potiuk commented on #22761
The problem is not a lack of constraints, but the bug in 1.0.0 of Authlib that has been fixed today in 1.0.1

We've already updated the constraints for 2.2.5 to use authlib 1.0.1 earlier today and pushed the docker images to contain the fixed version.

Constraints of 2.2.5 airflow already contain the authlib 1.0.1 https://github.com/apache/airflow/tree/constraints-2.2.5

Closing the issue as resol

[2022-04-06 20:12] #22761 closed

[2022-04-06 20:24] uranusjr commented on #22702
I think this is fixed right?

[2022-04-06 20:24] #22702 closed

[2022-04-06 20:27] uranusjr commented on #22474
I'd not add a short option for now. Short options are overrated and don't need to exist anyway.

[2022-04-06 20:33] uranusjr commented on #19049
Let's not do this in 2.3

[2022-04-06 20:35] potiuk commented on #22790
I think this is already known and handle in the upcoming version of the chart https://github.com/apache/airflow/pull/22676

[2022-04-06 20:39] joshzana commented on #22761
@potiuk thanks!  Can you explain how this fix makes it into the official docker image for airflow web server?

If I run this:
[code]

Doesn't that mean that the 2.2.5 image has the bad Authlib version baked in?

[2022-04-06 20:40] evanrosebrook commented on #22790
Actually this is a different issue. [22676](https://github.com/apache/airflow/pull/22676) deals with nameOverride for the airflow chart.

This issue deals with using nameOverride in the postgres sub-chart. For the postgresql chart nameOverride works fine, however the connection string that gets created in the airflow parent does not use the overriden postgres host when generating the connection st

[2022-04-06 20:42] #22191 closed

[2022-04-06 20:49] repl-mike-roest commented on #22761
@joshzana you probably need to pull the updated image.  If you already had that tag cached it would just run on the existing image
[code]

[2022-04-06 20:50] evanrosebrook commented on #22790
This issue can be worked around by setting a value for the metadataConnection.host that matches the postgresql.nameOverride. However, I wouldn't think the chart should remain deployable while specifying only the postgresql nameOverride.

[code]

[2022-04-06 21:00] joshzana commented on #22761
@repl-mike-roest got it!  Confirmed that I was looking at a stale image version.  I was not aware that airflow was republishing docker images against the same tag as opposed to doing version bumps.  That feels like it breaks repeatable builds and deployments.

[2022-04-06 21:22] potiuk commented on #22474
Very much agree. Short options are only for really often used flags that are supposed to be hand-typed and remembered by the users by heart. Can't imagine anyone remembering shorthand for "respect catchup".

[2022-04-06 21:46] potiuk commented on #22761
@joshzana - I believe you have wrong expectations about the image.

* Where do you get from that docker image is there for repeatable builds an deployment?
* Why do you think it is a requirement ?
* Is this stated anywhere?
* Where are your expectation coming from?

I'd really love to know that because if you make claims like that, they must come from some understanding that this is the case, and

[2022-04-06 21:56] joshzana commented on #22761
@potiuk - this was purely based on my own assumptions, not something that I found stated anywhere on the airflow side.  I think that changelog entry is exactly the piece I was missing and I welcome the addition.

Thanks for taking the time to help me understand!

[2022-04-07 00:11] #13692 closed

[2022-04-07 00:27] hankehly commented on #22174
@euccas Thank you! Please see #22804

[2022-04-07 04:16] uranusjr commented on #22626
Looks like this is the same problem to the literal not being expanded?

[2022-04-07 04:48] sahmed007 commented on #22448
I'll give this a shot.

[2022-04-07 05:25] meetri commented on #21225
i'm still having this issue on 2.2.5 any updates on this ticket or when it may get fixed. In the mean time i'm using the code snippet provided by @Chris7

[2022-04-07 05:38] sraviteja07 commented on #18041
We are also facing the same problem and facing the issue with belo stack trace :

**ERROR - Received SIGTERM. Terminating subprocesses.
ERROR - Task failed with exception
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/site-packages/airflow/models/taskinstance.py", line 1164, in _run_raw_task
    self._prepare_and_execute_task_with_callbacks(context, task)
  File "/usr/local/li

[2022-04-07 07:38] uranusjr commented on #22689
The `encoding` argument is there since Python 3.4, so this seems to indicate there’s something very wrong with the Python installation (either CPython as a whole, or the `argparse` module specifically).

https://docs.python.org/3/library/argparse.html#argparse.FileType

[2022-04-07 08:11] tirkarthi commented on #22782
Even in `using_external_task_id` example the value is not rendered. `self.external_task_ids` is always logged. When `external_task_id` is passed in the constructor then `external_task_ids` is set as a list of the value. In this case the unrendered template value is set and logged in poke method. Regarding `external_task_ids` being made as a template field there are some validations done for `exter

[2022-04-07 08:27] #22561 closed

[2022-04-07 08:36] parisni commented on #22774
Indeed, thanks

On April 6, 2022 12:30:15 PM UTC, Brent Bovenzi ***@***.***> wrote:

[2022-04-07 08:48] #22152 closed

[2022-04-07 09:42] potiuk commented on #22689
I think we know the problem already. https://pypi.org/project/snakebite-py3/  which is the dependency of hdfs has this as dependencies:

[code]

Which means that it pulls the "argparse" project from PyPI.

It is so old, that even the simple json interface does not show the dependency - we had to look it up in setup.py.

I think the only possibility is to vendor-in the snakebite-py3 code.

[2022-04-07 10:18] ashb commented on #22762
Task type is also used for metrics form DagRun creation:

[code]

But I'd probably argue that the current value is as "wrong" there as it is in the UI.

[2022-04-07 10:43] kostiantyn-lab opened #22810 "JiraTicketSensor duplicates TaskId"
### Apache Airflow Provider(s)

jira

### Versions of Apache Airflow Providers

apache-airflow-providers-jira==2.0.1

### Apache Airflow version

2.2.2

### Operating System

Amazon Linux 2

### Deployment

MWAA

### Deployment details

_No response_

### What happened

I've been trying to use the Jira Operator to create a Ticket from Airflow and use the JiraTicketSensor to check if the ticket was

[2022-04-07 11:07] tirkarthi commented on #22782
Templating has been added in https://issues.apache.org/jira/browse/AIRFLOW-1480

[2022-04-07 11:37] tirkarthi commented on #22040
This seems to be similar to https://github.com/apache/airflow/issues/21252

[2022-04-07 12:17] Bowrna commented on #21103
@potiuk Could i pick up this issue?

[2022-04-07 12:48] pateash opened #22816 "Providing Composite Sensors"
### Description

I found some of the use cases where it is useful to have a sensor,
which encapsulates 2 sensors and succeeds when any of them are passed.

I would like to also know, How others are trying to solve similar usecase.

### Use case/motivation

We can provide a Composite Sensor that can take more than one sensor and pass based on predicates like
 _**If any of them completed**_

### Rel

[2022-04-07 12:49] pateash commented on #22816
@potiuk @kaxil @eladkal @mik-laj,

I would like to know your opinion on this one.

[2022-04-07 13:20] joppevos commented on #21105
you can assign me :)

[2022-04-07 13:32] potiuk commented on #21103
Actually.... that's already done.:)

[2022-04-07 13:33] #20946 closed

[2022-04-07 13:33] #20921 closed

[2022-04-07 13:49] potiuk opened #22821 "CI: Push image in CI"
We have a small script in our builds that pushes CI and Prod images when built. We should turn it into a Ci entrypoint.

This should also cover "push empty images" script that pyshes empty images rather than the built ones on error.

[2022-04-07 13:52] potiuk opened #22824 "Cleanup command with Breeze"
Clean up and make sure that the commands are consistent and have consistent parameters.

[2022-04-07 13:52] #22824 closed

[2022-04-07 13:54] potiuk opened #22825 "Breeze: Provider package documentation integration with Breeze"
We have "Prepare provider documentation" action in Breeze that builds the documentation via running appropriate Python script and passing appropriate parameters.

It shoudl be added to the new Breeze.

[2022-04-07 13:54] pateash commented on #17778
Sure, go ahead

[2022-04-07 13:55] potiuk opened #22826 "Breeze: Provider package building integration with Breeze"
There is a command to build provider packages with Breeze image by running a python script with parameters  in the container. It should be added to the new  Breeze.

[2022-04-07 13:55] potiuk opened #22827 "Breeze: Update documentation for Breeze2"
The documentation should be updated to reflect new Breeze changes.

[2022-04-07 13:56] potiuk opened #22828 "Breeze: Add Generate constraints in Breeze"
There is a command to upgrade constraints in Breeze. It should take parameters instead of passing variables (or actually do both) in the new Breeze..

[2022-04-07 13:58] potiuk opened #22829 "Breeze: Building airflow packages with Breeze"
There is a command to build provider packages with Breeze image by running a python script with parameters in the container. It should be added to the new Breeze.

[2022-04-07 13:59] #21547 closed

[2022-04-07 14:00] potiuk opened #22830 "Start airflow command in Breeze"
There is a start-airflow command that should be available in the new Breeze.

[2022-04-07 14:00] #22830 closed

[2022-04-07 14:21] ashb opened #22833 "Allow mapped Task as input to another mapped task"
This dag

[code]

Fails with this error:

[code]

[2022-04-07 15:31] uranusjr commented on #22833
(I edited the example code to add what I think `one_two_three` should look like, for clarity.)

[2022-04-07 15:34] ashb commented on #22833
Whoops, yes. It's right now.

[2022-04-07 15:53] potiuk opened #22836 "Status of testing Providers that were prepared on April 07, 2022"
### Body

I have a kind request for all the contributors to the latest provider packages release.
Could you please help us to test the RC versions of the providers?

Let us know in the comment, whether the issue is addressed.

Those are providers that require testing as there were some substantial changes introduced:

## Provider [amazon: 3.3.0rc1](https://pypi.org/project/apache-airflow-providers

[2022-04-07 15:57] bbovenzi commented on #22774
@parisni Could you add a screenshot of the filter you are trying to apply?

[2022-04-07 16:45] eugene-nikolaev commented on #16163
Hi!
Just ran into the issue, having an "amqp://" starting broker url.
Will it be fixed in 2.3.0?

[2022-04-07 17:22] Bowrna commented on #21104
@potiuk Shall I pick up this task? :)

[2022-04-07 17:52] potiuk commented on #21104
Please :)

[2022-04-07 18:47] potiuk commented on #22448
Feel free.

[2022-04-07 18:51] tanelk commented on #20982
I have never worked with kubernetes, but based on the triggering code:
https://github.com/apache/airflow/blob/1f29d844411522e9a2cd4a14c3573e903b4e5074/airflow/www/views.py#L1786-L1794

I believe this diff could get you in the right direction.
[code]

It would be nice if someone could try this out.

[2022-04-07 19:30] eladkal commented on #22816
Isn't that just?
[code]

I guess what missing to make it complete is when `op` starts then all running upstream tasks should terminate.

[2022-04-07 19:38] pastushenkoy opened #22842 "Environment variables for elastic search logging have no effect"
### Apache Airflow version

2.2.5 (latest released)

### What happened

When I start airflow in official docker container with command:

[code]

I've got the following output:
[code]

### What you think should happen instead

I expected to see json logs in Elasticsearch format in console.

### How to reproduce

[code]
[code]
[code]
[code]

### Operating System

macos 11.2.3

### Versions of Apache

[2022-04-07 19:58] potiuk commented on #22842
This is complete misunderstanding of elasticsearch configuration https://airflow.apache.org/docs/apache-airflow-providers-elasticsearch/stable/logging/index.html

You won't get logs in elasticsearch in console. if you configure elasticsearch, they will be sent to elasticsearch but logs in console come with the format defined in your loging configuration. You can still update it if you want but ELA

[2022-04-07 19:58] #22842 closed

[2022-04-07 20:14] tronlightracer opened #22843 "When passing the 'False' value to the parameters of a decorated dag function I get this traceback"
### Apache Airflow version

2.2.3

### What happened

When passing the `False` value to a decorated dag function I get this traceback below. Also the default value is not shown when clicking 'trigger dag w/ config'.

[code]

### What you think should happen instead

I think airflow should be able to handle the False value when passing it as a dag param.

### How to reproduce
[code]
### Operating S

[2022-04-07 20:14] pateash commented on #22816
Yeah, agree
This is kind of a workaround.

Ideally, We should have a sensor, which allows this

[2022-04-07 20:16] potiuk commented on #22816
Why?

[2022-04-07 20:22] pateash commented on #22816
Why not?
 this is a really common scenario.
and as @eladkal pointed out the following workaround has the issue that id doesn't stop the sensor which has not ran successfully yet.
`
s1 = Sensor()
s2 = Sensor()
op = Operator(trigger_rule='one_success')
[s1, s2] >> op
`

[2022-04-07 20:26] mnojek commented on #22836
From my side the testing for Google was done :) #22311

[2022-04-07 20:30] vincbeck commented on #22836
All mine are doc and sample dag related so it's all good

[2022-04-07 20:39] eladkal commented on #22816
Yes but this is is not limited to sensors.
The ability to change upstream task status based on downstream task.

[2022-04-07 20:45] bbovenzi commented on #22762
Just heads up, this isn't just the API endpoint used by Grid view. Here is the same issue in Graph view:

<img width="1115" alt="Screen Shot 2022-04-07 at 4 43 59 PM" src="https://user-images.githubusercontent.com/4600967/162295951-488b3984-28c6-4714-b2c4-02dc2ff7f268.png">

[2022-04-07 21:10] potiuk commented on #22816
No. I specifically ask Why? - because when you want to add something you have to justify it rather than someone should justify why you should not do it. That's very simple. Any new stuff adds complexity.

More - any new way of interacting with Airflow adds confusion - shoudl I do it this or that way. So yes by all means you should make plenty of effort to justify things and show alternatives that

[2022-04-07 21:21] eladkal commented on #15994
PR for renaming `DummyOperator`: https://github.com/apache/airflow/pull/22832

The only task left on this issue is the task that this issue was created for :)
We need a pre commit to improve inclusiveness as explained in the issue description.

[2022-04-07 21:38] pateash commented on #22816
@potiuk,
I didn't mean to be rhetorical or disrespectful.

I just wanted to have some discussion around this.
As I have faced this scenario before as well in our usecases..

I have already looked into some possible solutions -

**_1. Using above work around_**

[code]
Problem - the sensor which didn't run will fail after timeout even though only one success is required. and will cause alerts and d

[2022-04-07 22:53] MatrixManAtYrService commented on #22843
My initial feeling is that positional args on dag decorated functions should not be interpreted as dag params, so you could do things like this:

[code]

But I'm interested to hear what others think.

[2022-04-07 23:31] fuxiao224 opened #22846 "UUID encoded in CassandraToGCSOperator but not other operators"
### Apache Airflow version

2.2.5 (latest released)

### What happened

I noticed that UUID is encoded in CassandraToGCSOperator by:

`elif isinstance(value, UUID):
            return b64encode(value.bytes).decode('ascii')`

Therefore, for example, UUID 000e0000-5719-12a3-0000-000028327d4a is represented as "AA4AAFcZEqMAAAAAKDJ9Sg==". However, this seems inconsistent with other *TOGCSOperators. Fo

[2022-04-07 23:34] MatrixManAtYrService commented on #22843
This appears to be the case for any falsey value.  Consider this dag:

[code]

I'm not sure how we should treat positional args being passed into `@dag` decorated functions (I'm tempted to say that they shouldn't interact with DagParams at all, leave that to the kwargs).  But whatever we do, it probably shouldn't depend on whether those values are falsey.

[2022-04-07 23:46] l0n3r4n83r opened #22847 "Click on Show record on List Users page gives error"
### Apache Airflow version

2.2.4

### What happened

Click Security -> List Users -> Click on Show Record (Magnifying Glass icon) gives the following error

[code]

### What you think should happen instead

_No response_

### How to reproduce

_No response_

### Operating System

Dedian Docker

### Versions of Apache Airflow Providers

_No response_

### Deployment

Other Docker-based deployment

[2022-04-08 00:14] SasanAhmadi commented on #22836
from my side:
- testing for jenkins sensor was done: https://github.com/apache/airflow/pull/22421
- testing for jenkins job trigger operator was done: https://github.com/apache/airflow/pull/22608

[2022-04-08 06:06] appassionate commented on #21867
Hi, I believe Taskgroup is supposed to have the same  "retry” feature that subdagopt had. In other words, TaskGroup (in my opinion) might will be like a "sub-pipeline" that can be combined arbitrarily in the "main pipeline".

Another situation maybe like that：
all tasks can run successfully, but the target has not reach the "criteria" or "our target".
So the "retry" might be executed in the task_g

[2022-04-08 07:03] potiuk commented on #22816
I don't say you were disrespectful. I was (and yeah I aften am just very, very direct) asking "why not" we should add someting is very wrong for Airflow in this stage. "Why we should not remove something?" is what we should be asking more.

I think simply another composition method is wrong and if we miss something - we don't we add it.

How about adding new dependency type:

* "alll_success_and_f

[2022-04-08 07:27] Rey-93 opened #22853 "Airflow version: 2.2.5 Webserver returning error"
### Apache Airflow version

2.2.5 (latest released)

### What happened

Something bad has happened.

Airflow is used by many users, and it is very likely that others had similar problems and you can easily find
a solution to your problem.

Consider following these steps:

  * gather the relevant information (detailed logs with errors, reproduction steps, details of your deployment)

  * find simil

[2022-04-08 07:33] shuhoy commented on #22836
From my side, test run of BigQueryToGCSOperator was done. #22506

[2022-04-08 07:41] potiuk commented on #22816
BTW. We already have a PR in progress to even have a possibility to ad pluginable dependencies to Airflow: https://github.com/apache/airflow/pull/22698

So - (again in the spirit of Airflow becoming a platform and adding extensibility - once this one is merged, even if Airflow has no such dependency built-in - you could add one yourself.

So I'd argue even - maybe (?) we don't need to add such rul

[2022-04-08 08:15] hankehly commented on #22816
@pateash

I find the [TaskGroup](https://airflow.apache.org/docs/apache-airflow/stable/concepts/dags.html#concepts-taskgroups) feature useful for this purpose. I can visually group things together, and if something fails, it's easy to determine what went wrong because each task has it's own log.

[2022-04-08 08:39] hankehly commented on #22847
I am also experiencing this on [v2.2.4](https://pypi.python.org/pypi/apache-airflow/2.2.4) / ee9049c0566b2539a247687de05f9cffa008f871. Will take a look.

[2022-04-08 10:14] yuqian90 commented on #16163
From what i've observed, there's no point for the second Airflow worker to try running it. We should just silence the error.

[code]

[2022-04-08 10:54] eugene-nikolaev commented on #16163
Hi @yuqian90!
Do I understand correctly that without patching I couldn't configure that `visibility_timeout` with an `amqp`-starting broker
URL?

[2022-04-08 10:59] MioNok commented on #22684
Thank you all for your help and time.
Setting the `reattach_on_restart` to `False` has the same result as my quick fix. Setting the `is_delete_operator_pod` to `True` would fix this too, but if read correctly it is `True` by default and I do not see anywhere where we would have forced it to be False -> no idea why the pods don't get deleted.

[2022-04-08 11:02] pastushenkoy commented on #22842
@potiuk Thank you for your answer.

Can you then tell me what `AIRFLOW__ELASTICSEARCH__WRITE_STDOUT=True` should do?

[2022-04-08 12:14] raphaelauv commented on #22836
I can't check the KPO `4.0.0rc1`

because it ask for `airlfow>=2.3.0rc1`

[code]

[2022-04-08 13:00] LennyKLB opened #22859 "Add .sql template extension rendering for BigQueryInsertJobOperator"
### Description

Add `.sql` as value to `template_ext` in `airflow.providers.google.cloud.operators.bigquery.BigQueryInsertJobOperator`

### Use case/motivation

It would be helpful if Jinja would also read `.sql` templates in `airflow.providers.google.cloud.operators.bigquery.BigQueryInsertJobOperator`, especially for its `configuration.query.query` parameter. It will render that parameter as `sq

[2022-04-08 14:04] potiuk commented on #22842
It does 100% what is written in the documentation:

https://airflow.apache.org/docs/apache-airflow/stable/configurations-ref.html#write-stdout

WORKER not WEBSERVER.

[2022-04-08 14:36] potiuk commented on #22836
@raphaelauv

Actually .. you can :) (see below).

That's cool and how it should be (except that it asks for `airflow` not `airlfow` that is :)  (but typos are my own thing thay make far too ofen.

But to be cool - you actually can test it. You can install the provider in regular "main" breeze. The breeze in `main` is what soon will become `v2-3-test` branch and we will build 2.3.0 from it (and it

[2022-04-08 15:35] raphaelauv commented on #22836
thanks @potiuk, I was not aware of `--no-deps` :+1:

since Airflow ( without the kubernetesExectutor ) do not have Kubernetes as a dependency

it's possible to install

apache-airlfow==2.2.5
+
kubernetes==21.7.0
+
apache-airflow-providers-cncf-kubernetes==4.0.0rc1 --no-deps

and https://github.com/apache/airflow/pull/22412 -> WORK

[2022-04-08 15:49] don1uppa opened #22863 "No clear celery configuration example using sqs"
### What do you see as an issue?

https://airflow.apache.org/docs/apache-airflow/stable/configurations-ref.html#celery-broker-transport-options

This section is for specifying options which can be passed to the underlying celery broker transport. See: http://docs.celeryproject.org/en/latest/userguide/configuration.html#std:setting-broker_transport_options

So I want to use sqs (fifo) for my celery

[2022-04-08 16:09] potiuk commented on #22836
BTW. As a learning - in the future we **might** bundle K8s Executor with the provider, but that will require Airflow 3 and breaking changes I am afraid.

[2022-04-08 17:07] markhatch commented on #14134
I ran into this as well when upgrading.

Ran `airflow db upgrade`

@borismo's comment was helpful
[code]

Also had to drop some picked info in `task_instance`:
[code]

[2022-04-08 17:27] karunpoudel commented on #22693
Looks like kubernetes has a way to send termination message.
https://kubernetes.io/docs/tasks/debug-application-cluster/determine-reason-pod-failure/
Just need to pull that from container status message and include it in failure message at the top.

[2022-04-08 17:41] silastailer opened #22865 "Migration Pod Error While Upgrading Chart Helm 1.3.0 to 1.5.0"
### Official Helm Chart version

1.5.0 (latest released)

### Apache Airflow version

2.1.4

### Kubernetes Version

1.20

### Helm Chart configuration

I will post the major differences between the current version that is working and the new configs:

```securityContext: {}```

`defaultAirflowTag: "2.2.4"`

`useDefaultImageForMigration: true`

`migrationsWaitTimeout: 120`

### Docker Image custom

[2022-04-08 19:48] tanelk commented on #22779
I tried, but could not reporduce this.

For me the `external_executor_id` was filled and the adoption worked as intended.

Just to be sure - by "run the task directly manually" did you mean through web UI? or with CLI?

I was running 2.2.4 instead of 2.1.4, perhaps you could try newer release - the issue might be fixed.

[2022-04-08 20:08] ashb commented on #16163
@yuqian90 How can the worker tell it is the "second" time it's running?

[2022-04-08 21:01] don1uppa opened #22868 "There is no handler for BACKEND=sqs in entrypoint_prod.sh function wait_for_connection"
### Apache Airflow version

2.2.5 (latest released)

### What happened

Actually this is looking more like a bug see error below. I think I am configuring it correctly.
Might be a configuration issue see https://github.com/apache/airflow/issues/22863

From a docker container running on an EC2 I'm trying to use AWS sqs as my celery broker.
I'm using ec2 IAM credentials so I set

broker_url = sqs://

[2022-04-08 21:41] ttomasz commented on #22836
tested discord provider (#22570) and it works

[2022-04-08 21:50] wolfier opened #22869 "clearTaskInstances API sets state for all dagruns when given task_ids that don't exist / existed in the DAG"
### Apache Airflow version

2.1.1

### What happened

I have two identical DAGs with the same three tasks. You can see that they have already completed since there are three tasks in either success or failed.

I accidentally called the [clearTaskInstances endpoint](https://airflow.apache.org/docs/apache-airflow/2.1.1/stable-rest-api-ref.html#operation/post_clear_task_instances) without any valid t

[2022-04-08 21:57] o-nikolas commented on #22836
My changes are docs/example dags, so all good.

[2022-04-08 22:24] spetrescu commented on #22730
Hello.

Would replacing
[code]
 with
[code]
  fix the issue?

  If not, from where can we fetch the setting of `cloud.getdbt`? Any hints?

[2022-04-08 23:07] wolfier commented on #22869
The call to [clearTaskInstances](https://github.com/apache/airflow/blob/2.1.1/airflow/api_connexion/endpoints/task_instance_endpoint.py#L237-L261) will first construct [a query](https://github.com/apache/airflow/blob/2.1.1/airflow/api_connexion/endpoints/task_instance_endpoint.py#L251) that will fetch all task instances that matches the given criteria. With the task instances query, Airflow then [

[2022-04-09 00:23] josh-fell commented on #22859
@LennyKLB Assigned to you!

[2022-04-09 01:17] chlee1016 opened #22870 "Keyboard shortcut in Airflow web UI"
### Description

Thanks to you guys contribution, we are using Airflow in production.
We have a number of DAGs we should manage, so it is frequent to clear a task or mark it as success, etc.

### Use case/motivation

Everytime we clear a task or mark it as success, clicking the button 'Clear' or 'Mark Success' is timespent.

Therefore, it would be great if there is a keyboard shortcut for that but

[2022-04-09 02:38] hankehly commented on #22836
#22710 (google 6.8.0rc1) works as expected on 2022/04/09

[2022-04-09 04:02] tirkarthi commented on #22853
This could be a problem with WSL only : https://camcops.readthedocs.io/en/latest/administrator/server_troubleshooting.html#posix-spec-does-not-match-last-transition

[2022-04-09 04:13] tirkarthi commented on #22869
This PR seems to be related : https://github.com/apache/airflow/pull/17961

[2022-04-09 05:12] tirkarthi commented on #22869
Probably something like below could be added as a test case :

[code]

[2022-04-09 05:14] tirkarthi commented on #22847
possible duplicate of https://github.com/apache/airflow/issues/22035

[2022-04-09 05:49] ephraimbuddy commented on #22869
@tirkarthi do you want to add that? And also test that this issue does not occur in the latest airflow

[2022-04-09 06:27] peter0083 commented on #10742
@eladkal sorry I give up on D205. I will let other developers tackle this one 😞

[2022-04-09 08:59] potiuk commented on #22870
Good idea. Why don''t you add a PR for that @chlee1016 ? Sounds like an easy first-time contribution

[2022-04-09 09:05] potiuk commented on #22853
Yep. Very much so. We are not going to address as WSL is not a "production" environment for us - at most it can be development environment and even there we recommend using Docker that should not have this problem.
It's better that WSL fixes it (or maybe it's already. Cionverting it into a discussion in case someone wants to discuss and propose potential workarounds.

[2022-04-09 09:58] Noobzik opened #22875 "constraints folder does not exists on repository"
### What do you see as an issue?

Following the quickstart install https://airflow.apache.org/docs/apache-airflow/stable/start/local.html

This block of code is not working as it returns an 404 not found.

[code]

Full console log
[code]

### Solving the problem

I think the documentation needs to be update to reflect the current way to deploy locally airflow.

[code]

### Anything else

_No respo

[2022-04-09 10:04] uranusjr commented on #22875
IIUC Python 3.10 is not supported for the 2.2 series. You need to use Python 3.9 for now, or wait for Airflow 2.4.

[2022-04-09 10:20] uranusjr commented on #22847
Duplicate of #22035

[2022-04-09 10:20] #22847 closed

[2022-04-09 10:25] potiuk commented on #22875
Precisely Python 3.10 is not supported for 2.2. https://github.com/apache/airflow/blob/main/README.md#requirements

[2022-04-09 10:25] #22875 closed

[2022-04-09 11:32] Bowrna commented on #21104
@potiuk `DOCKER_COMPOSE_RUN_SCRIPT_FOR_PROD` i see this variable is not set anywhere. Can you tell me about this?

https://github.com/apache/airflow/blob/95a1b71d762f0ee26284624cbe17c539e78265bd/breeze#L3480-L3485

[2022-04-09 12:20] pierrejeambrun commented on #22836
https://github.com/apache/airflow/pull/22536 and https://github.com/apache/airflow/pull/22479 are looking good :+1:

[2022-04-09 12:32] pankajastro commented on #22836
https://github.com/apache/airflow/pull/22772: Tested (google 6.8.0rc1) working as expected

[2022-04-09 13:00] uranusjr commented on #22846
According to #3483, this was done because

If this description is taken at face value, the format you proposed would not work? I am not familiar with Google services to provide more information, unfortunately.

[2022-04-09 13:05] uranusjr commented on #22689
Judging from activity in the snakebite-py3 repository I guess it’s best to fork it (or vendoring).

[2022-04-09 13:14] uranusjr commented on #22409
Blockers are cleared!

[2022-04-09 13:28] uranusjr commented on #20110
Feel free to fix it, pull requests are open to anyone 🙂

[2022-04-09 13:45] uranusjr commented on #22248
I wonder if we should do this with the `Project-URL` package metadata. The provider package can add a URL like this (using `pyproject.toml` for example, there’s an equivalent for `setup.py`):

[code]

[2022-04-09 15:19] rbiegacz commented on #21867
Hi,

Up to now I considered TaskGroup mostly as a "visual feature". If we start adding add'l "subdag" features to it we are going to gravitate to a "subdag" concept, which is about to be dropped.

If I had a need to have a more complex logic in a group of tasks then I would use approach of DAGs triggering other DAGs via TriggerDagRunOperator.

Regards.

[2022-04-09 15:21] #8459 closed

[2022-04-09 15:21] #22409 closed

[2022-04-09 15:37] pierrejeambrun commented on #11370
Hello guys,

 Thank you for pointing me to this issue @eladkal, I think I can help on this one  :)

 Best,

[2022-04-09 17:25] fshehadeh opened #22878 "ECS operator throws an error on attempting to reattach to ECS tasks"
### Apache Airflow Provider(s)

amazon

### Versions of Apache Airflow Providers

apache-airflow-providers-amazon	3.2.0

### Apache Airflow version

2.2.5 (latest released)

### Operating System

Linux / ECS

### Deployment

Other Docker-based deployment

### Deployment details

We are running Docker on Open Shift 4

### What happened

There seems to be a bug in the code for ECS operator, during t

[2022-04-09 20:14] #9803 closed

[2022-04-09 20:36] victorfuzaro commented on #21867
I completely understand your opinion, but at the same time I still think that this feature would be very useful. In my case I would need this feature in a lot of pipelines so without it I'll need to create a lot of dags just for triggering them (of course I can group some of them but would still require some "dag trigger" dags). I know that it is kind of a very specific use case/situation but defi

[2022-04-09 20:43] mik-laj commented on #9192
@potiuk Is it done?

[2022-04-09 20:46] potiuk commented on #9192
Yep. Good catch

[2022-04-09 20:46] #9192 closed

[2022-04-10 07:24] HoangTuan110 commented on #22870
I am interested in this issue. Where is the place that stores the Web UI code?

[2022-04-10 07:50] #22868 closed

[2022-04-10 09:31] alexott commented on #22836
#22541 & #22571 both work. Found bug in #22422, fix will be today. So we'll need to cut rc2

[2022-04-10 10:16] potiuk commented on #22836
Thanks.

Re #22422 - it depends on the bug - if it's a bug in new operators which can be wokrarounded or does not block things entirely, we can still release the rc1 and follow up in the next release of the provider. We'd only refrain from releasing a provider for sure if there is a serious regiression.

[2022-04-10 10:18] alexott commented on #22836
@potiuk as result of this, CreateRepository operator doesn't work at all - really strange that I missed it when testing :-(
Opened #22885 to fix it.

[2022-04-10 10:19] potiuk commented on #22836
Ah.. Then yeah :) rc2 it is. Good that you tested !

[2022-04-10 13:04] diman82 commented on #22748
I get the very same error.

[2022-04-10 14:03] eladkal commented on #22748
This error is on your custom code.
For the moment there is no indication of a bug.
If you found a bug that is reproducible in latest main and Google provider please add a full reproduce example that we can run. What you shared is a fragment of code that we can't really run and it seems to be originated from your own custom code.

Should you need support rather than report a bug please use Stackove

[2022-04-10 14:03] #22748 closed

[2022-04-10 16:38] AlekseiSaff opened #22889 "Upgrade from 2.2.4 to 2.2.5 failed"
### Apache Airflow version

2.2.5 (latest released)

### What happened

update from 2.2.4 to 2.2.5 was succeeded, but failure on "airflow db upgrade" has failed

### What you think should happen instead

after updating 2.2.4 to 2.2.5 with

and making airflow db upgrade receiving

[lt@lt-hkg1-avm04 experiments]$ airflow db upgrade
/usr/local/lib/python3.6/site-packages/airflow/configuration.py:361

[2022-04-10 18:30] potiuk commented on #22889
You likely did not follow the only supported way of installing/upgrading airflow - i.e. using constraints (https://airflow.apache.org/docs/apache-airflow/stable/installation/installing-from-pypi.html)

[2022-04-10 18:32] #22220 closed

[2022-04-10 18:47] #22827 closed

[2022-04-10 19:48] potiuk commented on #12282
Hello here!

Feel the (new) breeze - written in Python.

I have **just** merged a PR (https://github.com/apache/airflow/pull/22880)  that marks a completion of the most important stage of the work that @Bowrna  and @edithturn  (our interns from Outreachy) have completed - with myself, @eladkal  and @xurror mentoring them. Big claps to them!! That was quite an internship :).

It also marks the begi

[2022-04-10 22:05] #22821 closed

[2022-04-11 03:52] Bowrna commented on #22708
@blag I have picked up `variable` command too

[2022-04-11 06:36] #11370 closed

[2022-04-11 06:44] rbiegacz commented on #19635
We can still exactly the same symptoms happening for Airflow 2.2.3

[2022-04-11 06:47] tirkarthi commented on #22869
Thanks @ephraimbuddy, created https://github.com/apache/airflow/pull/22894

[2022-04-11 07:20] gitruhul opened #22895 "Airflow health API is returning always 200"
### Apache Airflow version

2.2.4

### What happened

The health endpoint of airflow (base_url/health) is always returning 200 in all the scenarios (healthy+unhealthy).

Same information is mentioned [here](https://airflow.apache.org/docs/apache-airflow/stable/logging-monitoring/check-health.html?msclkid=33d4cc33b96611ec8aea45c673e864e7) that

`Please keep in mind that the HTTP response code of /h

[2022-04-11 07:28] uranusjr commented on #22895
I don’t think we can change this, if we return anything other than 200 it risks breaking existing usages. Also, what would you propose using instead? Honestly 200 feels like the most appropriate code to me.

[2022-04-11 07:33] gitruhul commented on #22895
Creating a template for the health response will help with different standards.

For example, some organizations prefer health responses as

[code]

[2022-04-11 07:46] gitruhul commented on #22895
Hi @uranusjr , Thanks for your response.
Current health API is just like API ping. whereas health checks should be superior to that.
When I see some standards (Including my organization's) the expectation was a non 200 code for an unhealthy signal.

[2022-04-11 08:03] tirkarthi opened #22897 "Invalid JSON metadata in get_logs_with_metadata causes server error."
### Apache Airflow version

2.2.5 (latest released)

### What happened

Invalid JSON metadata in get_logs_with_metadata causes server error. The `json.loads` exception is not handled like validation in other endpoints.

http://127.0.0.1:8080/get_logs_with_metadata?execution_date=2015-11-16T14:34:15+00:00&metadata=invalid

### What you think should happen instead

A proper error message can be retu

[2022-04-11 08:22] uranusjr commented on #21584
Hmm I think the situation does not change much. We do have a separate index now that can make this work better, but using that instead would only flip the problem to if you have a couple of DAGs with hundreds of concurrent tasks (also totally viable). So I guess the only reasonable approach is to add separate indexes.

[2022-04-11 08:27] pastushenkoy commented on #22842
That's much clearer now. Thant you very much.

[2022-04-11 08:31] #18578 closed

[2022-04-11 08:33] potiuk commented on #22895
We should create a NEW health endpoint for that not change the existing one.

[2022-04-11 08:34] potiuk commented on #22895
@uranusjr is right - this is a breaking change and changing it to fit someone's standard (even if it's a reasonable and desired state) does not justify breaking existing endpoint's behaviour.

[2022-04-11 08:35] DibyoGit opened #22899 "Airflow not showing StatsD metrics"
### Apache Airflow version

2.1.0

### What happened

We are running the Airflow via docker-compose, connecting to a MySQL host. It hs Statd Exporter config in it but we can not see ny airflow metrics in the StatsD metrics

### What you think should happen instead

StatsD metrics should have shown airlfow scheduler, web metrics

### How to reproduce

Run docker compsoe fil by docker compsoe up and

[2022-04-11 08:58] uranusjr commented on #21584
Let’s see how 2.3 works in the real world.

[2022-04-11 09:03] Bowrna commented on #21105
@joppevos

**Setting up environment for developing breeze:**

we set the environment for developing breeze by setting venv as `pip install -e dev/breeze/`  from airflow_home.
After that, you can simply add commands in breeze.py and verify it by running it

[2022-04-11 09:29] #22833 closed

[2022-04-11 09:50] ashb commented on #22626
This _almost_ passes now. The Tasks run, but right at the end of the `test` command we have this failure

[code]

[2022-04-11 10:37] tothandor commented on #13542
Hi All! With release 2.2.5 scheduling issues have gone away for me.
I guess one of the following resolved issues made it.

1)	Fix max_active_runs=1 not scheduling runs when min_file_process_interval is high ([#21413](https://github.com/apache/airflow/pull/21413))
2)	Fix race condition between triggerer and scheduler ([#21316](https://github.com/apache/airflow/pull/21316))

I am still using mostly

[2022-04-11 10:48] #22897 closed

[2022-04-11 10:48] uranusjr commented on #21923
One possible solution would be to allow a DAG argument `run_id_format` for Airflow to use instead, and the user can set this to whatever they want (within some limitations of course). Maybe a Python `.format()` syntax or Jinja2.

[2022-04-11 10:54] potiuk opened #22906 "Breeze: Describe approach of communicating with users."
We should add custom styles for Breeze (Info/error/warning/guidance/etc.) and add an ADR with rules describing when we should use them.

See discussion in https://github.com/apache/airflow/pull/22901/files#r847173433

[2022-04-11 11:11] mik-laj commented on #22895
We shouldn't change the code when the scheduler isn't working. This endpoint should only checks health of webserver and required components - metabase. Otherwise the web server will be restarted much more often than necessary.

We have a related note in doc.

[2022-04-11 11:41] kotaaaa opened #22907 "Add SKIP process in addition to occurring ERROR in SQLCheckOperator"
### Description

In [SQLCheckOperator](https://airflow.apache.org/docs/apache-airflow/1.10.12/_api/airflow/operators/sql/index.html#airflow.operators.sql.SQLCheckOperator),
I propose to add a feature of the check option that makes it optionally skip instead of occurring error if the condition meets.

### Use case/motivation

I was looking for a feature similar to [SQLCheckOperator](https://airflow

[2022-04-11 11:53] eladkal commented on #22907
This feels more like a custom use case that you should solve locally in your deployment.
However, should this be something needed then this should be solved in `BaseOprator`.
What are the use cases for this request?

We have similar of `soft_fail` in sensors:
https://github.com/apache/airflow/blob/a3dd8473e4c5bbea214ebc8d5545b75281166428/airflow/sensors/base.py#L83
which allows all sensors to set

[2022-04-11 12:29] kotaaaa commented on #22907
@eladkal, thank you for your reply!
For my case, process is folked by the result of `select count(*) from {bigquery's table}`
so, I created class like below.
In not only my case, but also general usecase, it might happen that the result of the query to bigquery's table will decide whether it should skip the process or proceed, I thought.
(below is actually Airflow v1)
[code]

[2022-04-11 12:34] tanelk commented on #19957
In yout last log you have:

[2022-04-11 12:36] tanelk commented on #19957
In your last log you have some long lines, that seem to be truncated. For example:
`	Process 309021: SELECT task_instance.try_number AS task_instance_try_number, task_instance.task_id AS task_instance_task_id, task_instance.dag_id AS task_instance_dag_id, task_instance.run_id AS task_instance_run_id, task_instance.start_date AS task_instance_start_date, task_instance.end_date AS task_instance_end_

[2022-04-11 12:42] ephraimbuddy commented on #22869
@wolfier this issue was fixed in https://github.com/apache/airflow/pull/17961, can you verify that it doesn't exist from airflow 2.1.4

[2022-04-11 12:54] stablum commented on #19957
Here is the log of an occurence of the crash even after migrating to 2.2.5:
[code]

[2022-04-11 13:06] josh-fell commented on #22836
#22519 is good! Just a few docstring changes but confirmed in the package files.

[2022-04-11 13:06] tanelk commented on #19957
The python logs allways seem to show the update query in `dagrun.schedule_tis`. It would be most helpful to see the second half of this deadlock. In PostgreSQL log there was a hint to `SELECT task_instance.try_number AS task_instance_try_number...`, but it was truncated.

[2022-04-11 13:48] potiuk opened #22908 "Breeze: Add nicer error for BREEZE.rst update static check"
If you modify BREEZE.rst or any of the "dev" files there is a static check run that updates screenshots in the docs.

If you have no Breeze installed, It should nicely inform the user that they have to install Breeze and redirect them to the documentation on how to do it.

But currently, it will fail with this message:

[code]

This should be fixed.

[2022-04-11 13:49] stablum commented on #19957
one thing that I noticed is that the crashing query is particularly long, as I have several thousands of tasks in this DAG. And since the query is 22MB, the only way that I have to "paste" it is via wetransfer: https://we.tl/t-x8FM4tI0XR

[2022-04-11 13:55] stablum commented on #19957
I wonder if the SQL IN statement is the one creating problem: would it be possible to avoid it by using a subquery, end/or a JOIN, maybe?

[2022-04-11 14:05] stablum commented on #19957
Hmm, it seems that the serialization is something that is done at a certain interval. Might it be that a serialization operation can get in conflict with the subsequent one if the first one is non completed?

[2022-04-11 14:20] MatrixManAtYrService commented on #21867
I expect that some of the work necessary to make this possible will be done as part of [AIP-42](https://github.com/apache/airflow/projects/12?card_filter_query=task+groups).

That feature lets you take a list of _n_ items (in XCom, say) and tell Airflow to create _n_ tasks for those items.  The task group part of it isn't done yet, but when it is, you'll be able to have it create _n_ task groups a

[2022-04-11 14:21] stablum commented on #19957
I found it:
[code]

[2022-04-11 14:50] tanelk commented on #19957
Is the query even longer or is this it? It has no WHERE statement.

[2022-04-11 14:56] edithturn commented on #22908
Thank you, @potiuk I would like to help with this, let me do some research

[2022-04-11 14:58] stablum commented on #19957
Oh my mistake, I used grep, but the query is multi-line. Here is it with some surrounding SQL context:

[code]

[2022-04-11 15:01] repl-mike-roest commented on #22836
Double checked #22667 validated custom headers are delivered in the resulting email delivery

[2022-04-11 15:04] stablum commented on #19957
would it make sense that the `SELECT task_instance.try_number....` be deadlocking with the storing serialization query?

[2022-04-11 15:30] stablum commented on #19957
unfortunately it crashed again and this time one of the deadlocking queries is the following:
[code]

[2022-04-11 15:46] astronaut-chris opened #22912 "Text wrap for task group tooltips"
### Description

Improve the readability of task group tooltips by wrapping the text after a certain number of characters.

### Use case/motivation

When tooltips have a lot of words in them, and your computer monitor is fairly large, Airflow will display the task group tooltip on one very long line. This can be difficult to read. It would be nice if after, say, 60 characters, additional tooltip t

[2022-04-11 15:51] stablum commented on #19957
It failed, and I'm not finding the `UPDATE serialized_dag` query, so it's become more of a mystery

[2022-04-11 15:59] bbovenzi commented on #22912
@astronaut-chris could you please include an example screenshot?

[2022-04-11 15:59] tanelk commented on #19957
In prostgre log the block, that starts with `ERROR:  deadlock detected` should tell what queryies are conflicting. There might be other unrelated query around it - most likely serialization query was one of them.

[2022-04-11 16:27] mik-laj commented on #22895
I agree. We can add separate health checks for other components that will be independent of the webserver.

[2022-04-11 16:34] czerbinati opened #22914 "Permission error for SSH Key, not able to set them correctly and not able to connect using DAG"
### Official Helm Chart version

1.2.0

### Apache Airflow version

2.0.1

### Kubernetes Version

1.21

### Helm Chart configuration

Hi all, I'm trying to mount a private key as a secret in worker nodes, and for that I'm using the extraVolume section for workers, where i define the name:
[code]
And then the extraVolumeMounts:
[code]
I'm also running the value file with the follwing uid and gid (

[2022-04-11 17:01] potiuk commented on #22836
Thanks for testing everyone!

I proceed with the release of all providers except the Databricks one. RC2 for databricks follows.

[2022-04-11 17:01] #22836 closed

[2022-04-11 17:04] wolfier commented on #22869
I have verified that this is no longer a bug in 2.1.4 and 2.2.5!

[2022-04-11 17:04] #22869 closed

[2022-04-11 17:48] bmckallagat-os commented on #20484
@potiuk Finally getting back to this. Just wanted to note that the docs listed in the description state that there will be native type checking without the use of the plugin when 2.0 is released and it is now [considered a legacy library](https://docs.sqlalchemy.org/en/14/orm/extensions/mypy.html).

I'll just add that change however and add a note in the setup.cfg.

[2022-04-11 17:54] fuxiao224 commented on #22846
Thanks! @uranusjr
This PR was opened 4 years ago, I'm not sure if this was a BigQuery rule at that time, but I don't think base64-encoded UUID format is a requirement for BigQuery at this point.

[2022-04-11 17:56] fuxiao224 commented on #22846
I wonder if there's any other concerns if I revert #3483 CassandraToGCSOperator part to convert UUID to hex string, instead of base64-encoded format? Thanks!

[2022-04-11 19:08] DONDJJ commented on #13637
@[veinkr](https://github.com/veinkr)
@[kaxil](https://github.com/kaxil)

https://github.com/apache/airflow/blob/2400de2c5ece644cadb870baeea28907fa4dcf58/airflow/dag_processing/processor.py#L641

In my case the problem appears when there are syntax or import errors in dags. I fixed it by just commenting out this string. I don't know why, but every time I use log with "warning" and higher levels in

[2022-04-11 19:36] LennyKLB commented on #22859
The change itself is so small that I refrained from adding/editing tests. I found that the BigQuery-related tests didn't feature any file-based templating.
If this is nonetheless still necessary, could someone point me in the right direction in terms of inspiration?

[2022-04-11 20:32] uranusjr commented on #22846
cc @jgao54 in case you know some more details on this.

[2022-04-11 20:53] josh-fell commented on #22859
Closing via #22920.

[2022-04-11 20:53] #22859 closed

[2022-04-11 20:55] edithturn commented on #22908
@potiuk I reproduced the error.
I added breeze installation on static-checks-basic-checks-only, now this step is being skipped, and I don't think it's his purpose to skip it. And static checks are failing with a weird error, looks like everything was fine except after we are adding the images.
https://github.com/apache/airflow/runs/5979380037?check_suite_focus=true

I will give another shoot modif

[2022-04-11 22:00] #15930 closed

[2022-04-12 00:34] ReadytoRocc opened #22931 "XCom is cleared when a task resumes from deferral."
### Apache Airflow version

2.2.5 (latest released)

### What happened

A task's XCom value is cleared when a task is rescheduled after being deferred.

### What you think should happen instead

XCom should not be cleared in this case, as it is still the same task run.

### How to reproduce

[code]

### Operating System

macOS

### Versions of Apache Airflow Providers

_No response_

### Deploymen

[2022-04-12 03:20] wangzhijunwang commented on #22779
@tanelk
Sorry to bother you again!
First, I use the Web UI to operate，And the example of my operation this time comes from https://airflow.apache.org/docs/apache-airflow/stable/tutorial.html

![res](https://user-images.githubusercontent.com/65493688/162871426-c0e0ef38-908c-47f4-8f83-8646b98828bb.png)

By upgrading to version 2.2.4, I did find that running task external external_executor_id was fil

[2022-04-12 04:09] tirkarthi opened #22933 "Task duration page crashes when there is a failed task entry"
### Apache Airflow version

2.2.5 (latest released)

### What happened

Task duration page crashes when there is a failed task in the list of task instances. This happens since the chart calculates duration and accesses `execution_date` on `TaskFail` instances which don't exist. The query should be modified such that relevant `TaskInstance` execution_date field should be used based on matching run

[2022-04-12 04:10] tirkarthi commented on #22933
Sample test case, I will submit a PR shortly.

[code]

[2022-04-12 04:23] tanelk commented on #22779
Did I understand correctly - in 2.2.t the external_executor_id is filled, but the issue still there?

[2022-04-12 08:11] potiuk commented on #21668
I think you should simply upgrade to newer version and let us know if the issue is fixed. There were a number of problems fixed since 2.0.2.

Anyway - this is your only option because there won't be any more 2.0.* 2.1.* and soon also 2.2.* releases. The way to apply bugfixes from newer version is simply to ... update to the newer versions.

There is no guarantee that the issue will be fixed there,

[2022-04-12 08:38] #22626 closed

[2022-04-12 09:39] joppevos commented on #21105
@potiuk What do you mean with installed here. As in, where the repository of Airflow is located? or the executable path to airflow?

The venv with the airflow executable should not be placed in "${HOME}/airflow"
The repository in "${HOME}/airflow" is not good either, since it will self destruct itself when wiping out that location :)

[2022-04-12 10:00] iw-pavan opened #22942 "Deferrable operator trigger event payload is not persisted in db and not passed to completion method"
### Apache Airflow version

2.2.5 (latest released)

### What happened

When trigger is fired, event payload is added in next_kwargs with 'event' key.
This gets persisted in db when next_kwargs are not provided by operator. but when present due to modification of existing dict its not persisted in db

### What you think should happen instead

It should persist trigger event payload in db even when

[2022-04-12 10:19] potiuk commented on #21105
Good point. By  "Installed" I mean "checked out" really :)

The - unfortunate - problem with new contributors of irflow is that they often don't have often "separate folder for code" and check out the code in "$HOME" directly. And since default name of the repo is "airflow" this ends up with airflow source code in "${HOME}/airflow" more often than not,

That's unfortunate and something we can't ch

[2022-04-12 10:23] potiuk commented on #21105
(BTW. Such wiping out of the source code actually happened for people in the past :D )

[2022-04-12 11:16] joppevos commented on #21105
Thanks for clearing that up 👍

[2022-04-12 11:28] joppevos commented on #21105
@potiuk There is a bash function called `function breeze::setup_default_breeze_constants()`, which sets up all the variables and globals. Many of those globals are used when creating the virtualenv. `function breeze::initialize_virtualenv()`. That is the bash function that we are re-writing in this issue.

Should we also create a similar function in python? One who sets all these globals. Or shoul

[2022-04-12 11:41] bauerfranz opened #22947 "closing connection chunks in DbApiHook.get_pandas_df"
### Apache Airflow version

2.2.5 (latest released)

### What happened

Hi all,
Please be patient with me, it's my first Bugreport in git at all :)

**Affected function:** DbApiHook.get_pandas_df

**Short description**: If I use DbApiHook.get_pandas_df with parameter "chunksize" the connection is lost

**Error description**
I tried using the DbApiHook.get_pandas_df function instead of pandas.read_

[2022-04-12 11:44] potiuk commented on #21105
Most of those (if not all) are already set in Global Constants and/or read from parameters and passed via BuildParams, or ShellParams

I think however, there is one thing here that we might correct though (now when I think of it).

`initialize-local-virtualenv` should not be "breeze" command :). This caused quite a confusion before - because this is really setting up "alternative" to breeze. It do

[2022-04-12 12:08] nclaeys commented on #20982
Thanks for the new input, I will take a look at it

[2022-04-12 13:26] tirkarthi commented on #22947
Below is a test case explaining the problem. The `get_pandas_df` method in case of `chunksize` being passed returns a generator instead of a dataframe that references to the connection closed. When we try to iterate through then the generator uses a closed connection giving error. Also the behavior of closing the connection depends on the datatype as below.

https://pandas.pydata.org/docs/referenc

[2022-04-12 13:32] #16290 closed

[2022-04-12 16:01] Bowrna commented on #21105
I am one of the person who checked out the code in home directory, lost the code and reported it as issue :(

[2022-04-12 16:05] potiuk commented on #21105
Not the only one, I can assure you :)

[2022-04-12 19:10] potiuk commented on #22790
would you like to provide a fix?

[2022-04-12 20:04] potiuk commented on #21225
This issue is marked as fixed. You likely experience other issue. But we will never know unless you open a new issue and provide all the details, your logs and circumstances that you experience the problem. Unless you do that - there is no chance your issue will be handled because no-one has any idea about Your issue.

[2022-04-12 20:09] potiuk commented on #21225
Just be aware @meetri that you get the software for free - and a lot of the people contribute to it for free. And the best value you can bring is to spend some time on detailing your problems. providing as much as you can - including the circumstances, details and reproducibility.  This way the smallest help you can provide for those who try to help people like you - on a free forum, for - again -

[2022-04-12 20:13] potiuk commented on #22782
Would you lie to add external_task_ids to templated fields? @Gollum999 ? Seems like easy contribution.

[2022-04-12 20:15] potiuk commented on #22040
Just FYI - @itay-raveh - the surest way to get it is to implement it yourself if you are interested to get it.

[2022-04-12 20:23] potiuk commented on #22908
Closed by mistake :)

[2022-04-12 20:25] edithturn commented on #22908
Got it! I thought it was solved with Bowrna's PR, adding breeze installation in static-checks steps.

[2022-04-12 21:56] uranusjr commented on #20003
What is the behaviour you’d expect when both deferring kwargs and even payload are provided? If they should be merged, how should duplicated keys be handled?

[2022-04-12 22:24] potiuk commented on #22908
Not for the message :)

[2022-04-12 23:59] stephenonethree commented on #20003
I'd say they should be merged. If there are duplicates it might make sense for the values from triggers to win, since they're determined later.

[2022-04-13 02:03] wangzhijunwang commented on #22779
There is no problem with the issue in version 2.2.4

[2022-04-13 02:03] #22779 closed

[2022-04-13 02:23] tronlightracer opened #22967 "after migrating from version 2.1.4 to 2.3.0 I'm unable to delete dags"
### Apache Airflow version

main (development)

### What happened

After changing the dockerfile in the astro cli to that of version 2.3.0 from version 2.1.4 I am unable to delete dags and am greeted with the 'Oops something bad had happened screen'

[code]

After trying to upgrade the database in the scheduler container with the `airflow db upgrade` command I'm given this error:

[code]

### What

[2022-04-13 05:14] tirkarthi commented on #22782
@potiuk Thanks for your suggestion to support templates for  `external_task_ids`. I have updated my PR along with tests in https://github.com/apache/airflow/pull/22809

[2022-04-13 07:20] tirkarthi opened #22969 "Invalid execution_date crashes pages accepting the query parameter"
### Apache Airflow version

2.2.5 (latest released)

### What happened

Invalid execution_date in query parameter will crash durations page since pendulum parsing exception is not handled in several views

### What you think should happen instead

On `ParseError` the page should resort to some default value like in grid page or show an error flash message instead of crash.

### How to reproduce

1

[2022-04-13 07:43] uranusjr commented on #22969
FWIW this applies to all views accepting `excution_date`. Practically though, users are not supposed to manually write this parameter in, and Airflow never generates an invalid `execution_date` string, so all we need to do is to wrap the `timezone.parse()` call and return 400 if the input is invalid.

[2022-04-13 07:48] #22843 closed

[2022-04-13 07:50] tirkarthi commented on #22969
Agreed, it was a typo while copy pasting the link and I didn't expect a crash. Should we return a json response with error and status code as 400?

[2022-04-13 07:57] lukeknxt opened #22970 "on_success_callback isn't run when marking a task instance as successful when it's not in a running state"
### Apache Airflow version

2.2.3

### What happened

When a task instance is in a failed state (or any other non running state), and then it's marked as successful through the UI, the `on_success_callback` set on the task instance is not run.

### What you think should happen instead

The `on_success_callback` should run when marking a task instance successful from the UI regardless of its state.

[2022-04-13 08:30] eladkal commented on #22970
If you try to change the status of a "non running" task in the UI - it will just change the state -> change the DB record.
This is expected.

[2022-04-13 08:56] pcolladosoto commented on #18051
Hi! After reading through the issue I think this might be related to #22191. Should this be the case, it has been fixed on #22685 and it should make its way to Airflow 2.3.0 🎉

[2022-04-13 09:19] lukeknxt commented on #22970
Just seems inconsistent to me to have different behaviour when marking
successful when it’s running versus not running.

Is there any alternative to hook into a “mark successful” event?

On Wed, 13 Apr 2022 at 6:30 pm, eladkal ***@***.***> wrote:

[2022-04-13 09:30] uranusjr commented on #22967
Hmm I don’t seem to recall we changed `delete_dag` logic recently on cleaning related objects. The `tags` relationship on DagModel does declare cascade (unchanged for the last 2 years):

https://github.com/apache/airflow/blob/a0f7e61497d547b82edc1154d39535d79aaedff3/airflow/models/dag.py#L2663

Not sure why this suddenly happens.

[2022-04-13 09:44] #22782 closed

[2022-04-13 09:51] tirkarthi commented on #22970
This seems to be a duplicate of https://github.com/apache/airflow/issues/18113

[2022-04-13 10:19] #21392 closed

[2022-04-13 10:43] r-richmond commented on #18051
@pcolladosoto after reading the linked issue I think you may be right. Thank you so much for your write up and fix. It definitely looks like you found the root cause for the OsError I saw in the logs.

Now I/we wait for 2.3 :)

[2022-04-13 11:13] tirkarthi commented on #21769
Max retries exceeded with url: /5989ece0-f90e-40bf-9c79-1a7beccdb861/oauth2/v2.0/token (Caused by
NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x7f7d5ed74490>: Failed to establish a new connection: [Errno -3] Temporary failure in name resolution'))

This looks more like a network issue in accessing 'login.microsoftonline.com' than an Airflow related issue.

[2022-04-13 11:21] phyyou commented on #15635
I'm waiting for my raspberry PI...

[2022-04-13 11:43] potiuk commented on #15635
OK. Just to update it a bit - the dev image is there. The prod image might be added as experimental in 2.3.0 as well. I think we are more or less ready for that.

[2022-04-13 12:11] tirkarthi commented on #20453
airbyte tests are fixed in https://github.com/apache/airflow/pull/22951 . There are still below instances on main. On fixing the assert calls it seems the tests are already broken.

[code]

[code]

[2022-04-13 12:14] tirkarthi commented on #20453
I am checking on these tests.

[2022-04-13 13:17] tirkarthi commented on #20248
I guess this can be closed given that https://github.com/apache/airflow/pull/20591 is merged.

[2022-04-13 13:18] #20248 closed

[2022-04-13 13:18] potiuk commented on #20248
Thanks @tirkarthi

[2022-04-13 13:57] #22912 closed

[2022-04-13 14:18] monti-python commented on #22590
Closing in favor of https://github.com/apache/airflow/pull/22972#issuecomment-1098021943

[2022-04-13 14:30] potiuk opened #22983 "Status of testing Providers that were prepared on April 13, 2022"
### Body

I have a kind request for all the contributors to the latest provider packages release.
Could you please help us to test the RC versions of the providers?

Let us know in the comment, whether the issue is addressed.

Those are providers that require testing as there were some substantial changes introduced:

## Provider [databricks: 2.6.0rc2](https://pypi.org/project/apache-airflow-provi

[2022-04-13 14:44] alexott commented on #22983
I've retested all affected pieces, works correctly now

[2022-04-13 15:08] potiuk commented on #22983
Thanks @alexott !

[2022-04-13 15:13] potiuk commented on #22865
You have not written which component is producing this error.

[2022-04-13 15:21] potiuk commented on #22865
BTW. Quick solution to that will be to set `CONNECTION_CHECK_MAX_COUNT` variable to `0` for the failing POD but it;'s not going to solve the problem becaue apparently for some reason the pod (I assume from the title) doing migration got a wrong configuration for SQL_ALCHEMY connection.

[2022-04-13 15:31] potiuk commented on #22865
Is it possible that you have `AIRFLOW__CORE__SQL_ALCHEMY_CONN`  defined separately for your appliation?
Could you export your failing job defintion from kubernetes using kubeectl ?

[2022-04-13 15:37] tobianton opened #22986 ""container_timeout" argument for providers.microsoft.azure.hooks.container_instance missing(?)"
### Apache Airflow Provider(s)

microsoft-azure

### Versions of Apache Airflow Providers

apache-airflow-providers-microsoft-azure==3.7.2

apache-airflow-providers-amazon==3.2.0
apache-airflow-providers-celery==2.1.3
apache-airflow-providers-cncf-kubernetes==3.0.0
apache-airflow-providers-docker==2.5.2
apache-airflow-providers-elasticsearch==2.2.0
apache-airflow-providers-ftp==2.1.2
apache-airflo

[2022-04-13 16:52] #22473 closed

[2022-04-13 16:57] potiuk commented on #21104
It's just an artifact of very old way when we could exec and run into prod image as well. This should be gone :)

[2022-04-13 17:28] tronlightracer opened #22995 "when trying to mark downstream tasks as failed in the UI tasks are instead cleared and reran"
### Apache Airflow version

main (development)

### What happened

When trying to mark downstream tasks as failed in the UI the tasks are instead cleared of any status and airflow reruns the tasks.
<img width="1792" alt="Screen Shot 2022-04-13 at 11 25 24 AM" src="https://user-images.githubusercontent.com/102494105/163236455-f5123d41-65da-4026-b8a7-0fa1458cb925.png">
<img width="1792" alt="Screen

[2022-04-13 17:31] potiuk commented on #22248
We could - but I think we should do it if / when we separte providers to separate repositorry(ies).
Also Providers are available for developers to change their sources in checked-out airflow code, so there has to be an alternative way of retrieving provider meta-data that does not use packages.

Currently provider's metadata is kept in one place - provider.yaml  - and the information is basically

[2022-04-13 18:24] bbovenzi commented on #20076
Closing as labels were rebuilt when switching to Grid.

[2022-04-13 18:24] #20076 closed

[2022-04-13 18:26] #22942 closed

[2022-04-13 18:27] tirkarthi commented on #22995
I guess the issue occurs that after setting state the subdags are cleared with `only_failed` as always True. Hence if the state being set is failed then it goes on to clear the state. So we need to make sure `only_failed` is False when the state being set is already `failed`. In addition to this the `exclude_task_ids` only includes the main `task_id` and with downstream set as True the other `alte

[2022-04-13 18:35] harishkrao commented on #20453
Hi @tirkarthi, I was planning on fixing these `has_calls` for airbyte. Did https://github.com/apache/airflow/pull/22951 fix those already or should I have another look at the asserts?

[2022-04-13 18:48] tirkarthi commented on #20453
I guess there are still tests with `has_calls` in main branch as below . I have fixed the assert calls and also fixed the tests that were broken. I will raise a PR tomorrow since the changes are in my local branch. It will be helpful to have your review of it since you have worked on it in the past.

[code]

[2022-04-13 19:17] potiuk commented on #22878
@ferruzzi @o-nikolas - WDYT?

[2022-04-13 19:42] potiuk commented on #19635
There are reeally, really different reasons why task might get SIGTERM :( . We need some detailed logs to act on it.

[2022-04-13 19:45] #22392 closed

[2022-04-13 19:47] potiuk commented on #21584
Let's close it as 2.3.0 fixed. We can always re-open.

[2022-04-13 19:47] #21584 closed

[2022-04-13 20:13] potiuk commented on #21923
I like this one. Likely we would like to also be able to add it on "cluster policy" level. I imagine a company would lilke to make a global change to format all the dagruns in the same way.

[2022-04-13 21:02] bbovenzi commented on #8931
This is now in the Grid view.

[2022-04-13 21:02] #8931 closed

[2022-04-13 21:44] potiuk commented on #22914
This has been fixed in SSH provider 2.1.0 https://airflow.apache.org/docs/apache-airflow-providers-ssh/stable/index.html#id12

You need to upgrade to newer version of Airflow as it can only be installed in Airflow 2.1 +.  I recommend to upgrade to latest released airflow version (2.2.5 currently).

[2022-04-13 21:44] #22914 closed

[2022-04-13 22:02] potiuk commented on #20484
Cool

[2022-04-13 22:09] potiuk commented on #22846
Yeah. Adding parameter willl be a good solution.

[2022-04-13 23:11] potiuk commented on #14529
I think - similarly to "Task Group Retry" and canceling "composite sensors" discussions - this one will not happen until somoene writes and discusses AIP about Task Group "write" behaviour. this is going to be a complex and difficul task.

[2022-04-13 23:11] potiuk commented on #14529
See discussion https://lists.apache.org/thread/1y7y5t6xj7fj8yj8vsqj9jxpw3vbyyg3

[2022-04-13 23:41] potiuk commented on #22947
Why don't you attempt to fix it ?

[2022-04-13 23:53] victor-mariano-leite commented on #13542
For those having problems with MWAA, I had this error today, and couldn't wait for 2.2.5 release in MWAA to finish my company migration project, so since we have 17 DAGs in my company, with 8-9 steps as median of tasks (one have 100+ tasks, for each table in our DB, runs a import/CDC and validation task), being all those 17 running once a day at night.

I went a bit extreme with reducing the load

[2022-04-14 00:16] #22693 closed

[2022-04-14 00:47] potiuk commented on #22986
Feel free to add it . Seems it's never been there.

[2022-04-14 03:38] lukeknxt commented on #22970
@tirkarthi ,

Yep that looks like the same issue.

Based on what @andrewgodwin said in #18113, it looks like this type of thing could be done in the future via running callback-only workloads on executors, but right now it doesn't seem like a change that'd be easy to add.

[2022-04-14 06:04] tirkarthi commented on #22995
Related PR for more discussion : https://github.com/apache/airflow/pull/13037

[2022-04-14 07:21] uranusjr commented on #22995
cc @yuqian90 (PR author)

[2022-04-14 08:15] nxhuy-github commented on #19251
Hi everyone, may I ask where were we in this situation, please? I feel like the PR of @raphaelauv was never merged ? In fact, I experience a same probleme so I would like to know how I could avoid that. Many thank !!!

[2022-04-14 08:28] raphaelauv commented on #19251
@nxhuy-github custom your secret backend the same way I did -> https://github.com/apache/airflow/issues/19251#issuecomment-958992113

[2022-04-14 08:40] uranusjr commented on #22248
Sorry I should’ve clarified, my comment was specifically toward _third-party_ providers. First-party providers that are included in the apache/airflow repository already have a working URL (as mentioned in the original report) and don’t need this additional metadata.

[2022-04-14 08:55] Bowrna commented on #22445
@potiuk Could this be updated in the project too? https://github.com/apache/airflow/projects/15

[2022-04-14 08:58] Bowrna commented on #22444
@potiuk Could I try this task?

[2022-04-14 09:02] potiuk opened #23005 "Breeze: Add uninstallation instructions for Breeze"
We should have information how to uninstall Breeze:

* in the cheatsheet
* in BREEZE.rst

[2022-04-14 09:43] nxhuy-github commented on #19251
Yes, many thank @raphaelauv

[2022-04-14 10:56] potiuk commented on #22248
But is this a workable long term solution? Are we going to keep it this way in the future?

We would have to change the documentation for custom providers and add it as explanation:
"this is the way you should do it".

And then when we split and possibly change the approach for both "community" and "3rd-party" proiders and change the way how custom connections are defined they will have to change

[2022-04-14 11:02] potiuk commented on #22248
Also - for all practical purposes I really want to treaat all the providers - no matter if they come from community or not - the same way, so whatever we intrroduce for "doc" url, I would like to add for community providers too (with the fallback of automatically figuring out the URL for older providers).

[2022-04-14 11:08] potiuk commented on #22248
Ah... But we have ANOTHER way.. I think we can do it without introducing 3) - because it is there already!

I realized that we already use the standard metadata in Airflow ... And we could just use it immediately (all past packages have it for a long time:

[code]

So slightly modifying your proposal @uranusjr:

[code]

I can even get it in 2.3.0 and it will be fully compatible with released packa

[2022-04-14 11:47] ephraimbuddy commented on #22967
@tronlightracer can you provide the exact images you used(links to them).
That said, the way you did your upgrade is not in line with how you do upgrade with `astro cli`. Using astro cli, you just change the image on the dockerfile. No need to export and reimport database

[2022-04-14 11:55] potiuk commented on #22248
Fix in https://github.com/apache/airflow/pull/23012 (however I think the one who came up with the interface for the importlib_metada should go to jail).

[2022-04-14 12:11] potiuk commented on #22445
I did

[2022-04-14 12:18] potiuk commented on #22444
Sure :)

[2022-04-14 12:25] tirkarthi commented on #22995
Another scenario is that when the `task_1` being set to mark as failed is already in failed state and downstream task `task_2` also marked as failure already. Then marking the state even with downstream as false clears the state. I have added test case for possible permutations. I have a local branch and below are the behaviors as per my proposed change.

[code]

Mark task_1 as Failed with Downstr

[2022-04-14 14:16] aspain opened #23017 "Blank red `error:` bar intermittently showing in DAG, localhost UI briefly became unavailable"
### Apache Airflow version

2.2.5 (latest released)

### What happened

I was running a localhost instance of Astro Runtime 4.24, based on Airflow 2.2.5 and was testing two DAGs.

During a DAG run, a blank red `error:` bar appeared briefly (it went away and came back several times). Screenshot of the error bar below along with the output in the network console at the time.
![image](https://user-im

[2022-04-14 14:20] bbovenzi commented on #23017
I'll work on replicating this locally and figure out which steps to address:
- Prevent the UI from crashing on an error
- Prevent the error in the first place
- At least include a message in the error

[2022-04-14 14:28] MatrixManAtYrService opened #23018 "A task's returned object should not be checked for mappability if the dag doesn't use it in an expansion."
### Apache Airflow version

main (development)

### What happened

Here's a dag:

[code]

`foo` fails with these task logs:
[code]

### What you think should happen instead

Airflow shouldn't bother checking `foo`'s return type for mappability because its return value is never used in an expansion.

### How to reproduce

Run the dag, notice the failure

### Operating System

debian (docker)

### V

[2022-04-14 14:29] ashb commented on #23018
Marking this to 2.3.0, but we _might_ push it to 2.3.1

[2022-04-14 16:25] MatrixManAtYrService opened #23020 "Names for expanded tasks"
### Description

Airflow currently exposes `map_index` to the user as a way of distinguishing between tasks in an expansion.  The index is unlikely to be meaningful to the user.  They probably have their own label for this action.  I'm requesting that we allow them to add that label.

To see the problem, consider a dag that sends email to a list of users which is generated at runtime:

[code]

Not

[2022-04-14 16:45] MatrixManAtYrService commented on #23020
When I think about how the API might look, I come up with this:

[code]

This would create three tasks, and the "generic" one wouldn't define any env vars.

[2022-04-14 16:50] bbovenzi commented on #23020
+1 I'm super happy to do this in the UI as soon as it can access that data.

[2022-04-14 18:57] nsAstro commented on #22576
Okay this is kind of gross, but I decided to take a stab at this issue. Not sure why this happens for only Ed25519 keys but removing the newlines causes paramiko to not detect the key as type SSH because the key parsing logic loops line by line (if there is only one line, the whole thing barfs).

The issue with new lines is that passing them in the Extra field causes things Airflow field validatio

[2022-04-14 19:16] nsAstro commented on #22576
@potiuk currently paramiko's match for private keys is done assuming at the least that BEGIN and END are on separate lines. If you think it might help to have a small PR to catch any keys that are just one line and give a more clear exception, then I don't mind putting that in.

[2022-04-14 19:44] potiuk commented on #22576
Sure. A PR would be great!

[2022-04-14 19:50] o-nikolas commented on #22878
Thanks for flagging this one @potiuk

And thanks @fshehadeh for catching this issue. It is definitely a bug :smile:

It seems like a quick fix (I've already coded it) but it will take some time to test it before pushing out a PR.

[2022-04-14 23:35] MatrixManAtYrService opened #23028 "`airflow tasks states-for-dag-run` has no `map_index` column"
### Apache Airflow version

2.3.0b1 (pre-release)

### What happened

I ran:

[code]

...targeting a dagrun for which `identity` had three expanded tasks.  All three showed up, but the output didn't show me enough to know which one was which.

### What you think should happen instead

There should be a `map_index` column so that I know which one is which.

### How to reproduce

Run a dag with expa

[2022-04-15 01:20] houqp commented on #15635
@potiuk do you know which set of dev images were built with arm support? I tried some of the newer ones from the github registry but they were all amd64 it looks like.

[2022-04-15 07:24] Lenchok opened #23031 "How to achieve dependencies between tasks"
### Apache Airflow version

2.2.2

### What happened

My requirement is that the post-task will run only if the pre-dependency runs successfully. If the pre-dependency does not run or fails, the post-task will not run even when the time is up. How to implement this function?

### What you think should happen instead

_No response_

### How to reproduce

_No response_

### Operating System

null

#

[2022-04-15 07:31] raphaelauv opened #23033 "providers_manager | Exception when importing 'apache-airflow-providers-google' package ModuleNotFoundError: No module named 'airflow.providers.mysql'"
### Apache Airflow version

2.3.0b1 (pre-release)

### What happened

[code]

give

[code]

### What you think should happen instead

it do not log this warning with

[code]

[code]

### How to reproduce

_No response_

### Operating System

ubuntu

### Versions of Apache Airflow Providers

requirements.txt :

[code]

pip install -r requirements.txt --constraint "https://raw.githubusercontent.com/

[2022-04-15 08:38] potiuk commented on #15635
For example this one:

https://github.com/apache/airflow/pkgs/container/airflow%2Fmain%2Fprod%2Fpython3.7/19115034?tag=latest

![image](https://user-images.githubusercontent.com/595491/163546318-8a240374-a3c4-4550-a3a0-fce66455145a.png)

Generally all the "dev" images of our are following the scheme:

* ghcr.io/apache/airflow/main/prod/pythonX.Y
* ghcr.io/apache/airflow/main/ci/pythonX.Y

Followin

[2022-04-15 08:50] potiuk commented on #23033
Hmm. Good one.. Strange. It should be suppressed if import error is an optional feature of a provider. I will take a look. Thanks @raphaelauv for reporting.

[2022-04-15 09:20] raphaelauv commented on #21350
last missing feature for a  "production ready" KPOA

https://github.com/astronomer/astronomer-providers/issues/140

[2022-04-15 09:33] uranusjr commented on #23020
We could use a heuristic similar to pytest. I’m not sure what their exact logic is, but it seems to be something like if the mapped value is simple (int, float, or a short-ish str), use `str()` to convert it directly, otherwise use something like `arg1` (we could use `[0]`, `[1]` etc.).

Some things I can think of now:

1. Calculating the label may be expensive since this requires the view to re-p

[2022-04-15 09:38] uranusjr commented on #23018
Assigning myself, but it’s Friday, so feel free to work on this if you think you can tackle it during the weekend.

[2022-04-15 10:15] potiuk commented on #23020
3. How about (on top of auto-generated id)  add a function to return the task_id(). If we calculate it eagerly at task execution time, there are no security concerns. and it will be far more versatile than template-based id.

[2022-04-15 10:20] #22111 closed

[2022-04-15 10:42] potiuk commented on #23033
Yeah. We still have not struck the right balance on when we should report the error as warning and when we could ignore it as this is an optional feature of the provider. Thinking

[2022-04-15 10:49] potiuk commented on #23033
I will have to add some tests detecting it in CI.  Should be possible. For now we will have to workaround it for known provider optional warnings.

[2022-04-15 14:19] xfoursea opened #23040 "PostgresToGCSOperator does not allow nested JSON"
### Apache Airflow Provider(s)

google

### Versions of Apache Airflow Providers

apache-airflow-providers-google==6.3.0

### Apache Airflow version

2.1.4

### Operating System

macOS Big Sur version 11.6.1

### Deployment

Composer

### Deployment details

_No response_

### What happened

Postgres JSON column output contains extra `\`:

`{"info": "{\"phones\": [{\"type\": \"mobile\", \"phone\":

[2022-04-15 14:35] jyotsa09 opened #23041 "Logs not generated for Custom Timetable with CeleryExecutor"
### Apache Airflow version

2.2.4

### What happened

Logs not generated for Custom Timetable with CeleryExecutor

### What you think should happen instead

Dag should be successful

### How to reproduce

Steps to reproduce the behavior:

1. Create a custom timetable and dag that is using the custom timetable
2. Trigger the dag

### Operating System

debian

### Versions of Apache Airflow Provider

[2022-04-15 14:35] jyotsa09 commented on #23041
Got this issue while testing - https://github.com/apache/airflow/issues/20475

[2022-04-15 14:35] JieChenAtPonyai commented on #10278
I encountered this issue too. #14323 doesn't fast fail when ` File "/home/airflow/.local/lib/python3.8/site-packages/airflow/kubernetes/pod_launcher.py", line 81, in run_pod_async    resp = self._client.create_namespaced_pod(` throws exceptions.

[2022-04-15 14:41] MatrixManAtYrService commented on #23020
re: `zip`, I was thinking that this would make that easier.  If you want to zip together two lists of length _n_ then you can just use a dict comprehension that gives each item one of _n_ keys--items with the same key get zipped together.  I guess it wouldn't really extend to stuff like `accumulate` though.

I didn't include user-defined functions in my proposal because I was worried that:
- If so

[2022-04-15 14:45] eladkal opened #23042 "Graph view: Nodes arrows are cut"
### Body

<img width="709" alt="Screen Shot 2022-04-15 at 17 37 37" src="https://user-images.githubusercontent.com/45845474/163584251-f1ea5bc7-e132-41c4-a20c-cc247b81b899.png">

Reproduce example using [example_emr_job_flow_manual_steps ](https://github.com/apache/airflow/blob/b3cae77218788671a72411a344aab42a3c58e89c/airflow/providers/amazon/aws/example_dags/example_emr_job_flow_manual_steps.py)in

[2022-04-15 14:47] harishkrao commented on #20453
@potiuk, with the latest PR from @tirkarthi, there are no more pending items on this issue. We can close this issue.

[2022-04-15 18:58] kianelbo commented on #22810
I opened a PR according to what @potiuk explained. This is my first ever contribution and I would really appreciate it if you take a look at it and give your feedbacks.

[2022-04-15 19:24] uranusjr commented on #23020
Exposing a function might not be a good idea, since the function needs to be executed by the scheduler.

[2022-04-15 19:57] potiuk commented on #23020
I thought it might be run at execution time and update task instance then. It won't work for queued state but maybe that's not really needed.

If we allow Jinja template (one of the options) to be run in scheduler it's also a bit dangerous

Clear demarcation that you update it at execution time should be fine. This is what for example GitHub Actions do. They use the expression language and display

[2022-04-15 23:34] MatrixManAtYrService commented on #23020
Could it go in a separate task that goes upstream of the expansion? That gives us a way to communicate errors back to the user.

I'm imagining such structures appearing in the UI as task groups that you can't expand until they've run.

[2022-04-16 10:05] #20453 closed

[2022-04-16 10:45] mik-laj commented on #21046
@potiuk Is this a good time to start doing this?

[2022-04-16 14:51] fhoppe-stroeer opened #23049 "BigQueryTableExistenceSensor DeprecationWarning for bigquery_conn_id"
### Apache Airflow Provider(s)

google

### Versions of Apache Airflow Providers

apache-airflow-providers-google~=6.8.0

### Apache Airflow version

2.2.4

### Operating System

Ubuntu

### Deployment

Official Apache Airflow Helm Chart

### Deployment details

_No response_

### What happened

BigQueryTableExistenceSensor giving DeprecationWarning for bigquery_conn_id parameter even if this para

[2022-04-16 18:55] fshehadeh commented on #22878
@o-nikolas: I tried to create a PR with the code change and possible unit tests at https://github.com/apache/airflow/pull/22879

[2022-04-16 20:40] uranusjr commented on #23020
It’s possible, but I think separating the logic into task would be much more complicated to implement, since we don’t really have a good way to communiate arbitrary information between tasks (except XCom which is probably not the right place for this). Doing it as a part of the task run as Jarek suggested is better. We already have pre-execute hooks, so it can fit around there.

[2022-04-17 10:47] pateash commented on #22816
Thanks @potiuk @hankehly @eladkal for feedback.

I agree this is not required at the moment, so closing this issue.

[2022-04-17 10:47] #22816 closed

[2022-04-18 06:40] eladkal commented on #23040
@pierrejeambrun would you like to take a look at this?

[2022-04-18 07:55] SmileCaoJ opened #23051 "params does not work in queue of operator"
### Apache Airflow version

2.2.4

### What happened

I want to distribute task to worker
step1.  write a dag
            with DAG(
                dag_id='example_bash_operator_queue',
                schedule_interval='0 0 * * *',
                start_date=pendulum.datetime(2021, 1, 1, tz="UTC"),
                catchup=False,
                dagrun_timeout=datetime.timedelta(minutes=60),

[2022-04-18 08:32] eladkal commented on #23051
`queue` is not templated field.

[2022-04-18 08:35] #22970 closed

[2022-04-18 09:25] golankiviti commented on #13142
@maraimm I'm facing the same thing, did you solve it?

[2022-04-18 10:00] uranusjr commented on #23041
The custom timetable sems very similar to teh built-in `CronDataIntervalTimetable`. Are they the same? If not, can you summarise their differences? I am trying to determine whether this is caused by

* The fact that this timetable is not built-in,
* Something’s wrong in the timetable implementation,
* Something’s wrong with the executor not related to timetables.

Also, does everything work as exp

[2022-04-18 10:18] pierrejeambrun commented on #23040
Hello guys,

Yes I can take a look @eladkal, thank you :)

[2022-04-18 10:29] uranusjr commented on #22078
`execution_delta` is simple, you can just add it to serialisation.

[code]

But `execution_delta_fn` would be difficult; it is a function, and not all functions can be encoded, so you need to build some fallback mechanisms if it can’t.

[2022-04-18 11:25] vandanthaker commented on #21225
https://github.com/apache/airflow/issues/21225#issuecomment-1035656930
@arkadiusz-bach - how did you fix it? I tried changing queue name from default kubernetes to kubernetesQ like below
[code]

But I still see K8S executor picking up tasks from default queue(celery) which are in queued state
[code]

Thanks in advance

[2022-04-18 12:00] arkadiusz-bach commented on #21225
In kubernetes_executor.py:

- At the beginning import conf and SQLAlchemy 'and_' operator:
[code]
- Inside \_\_init\_\_ of KubernetesExecutor class:
[code]
 - Replace
    https://github.com/apache/airflow/blob/5a6a2d604979cb70c5c9d3797738f0876dd38c3b/airflow/executors/kubernetes_executor.py#L455
   With:
[code]

PS: I just wrote that in notepad, so please check whether there are no syntax errors

[2022-04-18 12:37] vandanthaker commented on #21225
Got it! see similar fix in PR too. so no workaround w/o code patching, which is also evident as the query(inside k8s executor) on task instances is looking only queued state and not queue(celery/k8s). Thanks

[2022-04-18 13:24] anuraags2719 opened #23055 "JDBC Hook not running SQL queries"
### Apache Airflow version

main (development)

### What happened

Hello team,
We have a strange behaviour while working with airflow JDBC hook.
We are using airflow `1.10.11`
Basically, we need to run SQL queries on Presto, and for this for some of the use cases, we use the JDBC hook by importing as - `from airflow.hooks.jdbc_hook import JdbcHook`
This works fine for most of the queries, but gave

[2022-04-18 14:07] appassionate commented on #23018
same problem when I was trying airflow 2.3.0b1, but more complex python object in "foo" return_value with  xcom_pickling ON.

hope ".expand" method will not reject "picklable" object.  :P

[2022-04-18 14:27] uranusjr commented on #19016
@SamWheating Did you get a chance to look into this?

[2022-04-18 17:12] meetri commented on #21225
Understood, and thanks you to everyone that contributes to this project. If needed I can provide whatever information to track down this issue. I posted my comment only because I thought it would be of use for anyone passing through that even the latest version of the code has this issue and how I got around it for the time being.

This may or may not be of help but I did since my post tune things

[2022-04-18 17:23] pingzh opened #23059 "Presto hook is broken in the latest provider release (2.2.0)"
### Apache Airflow version

2.2.5 (latest released)

### What happened

The latest presto provider release https://pypi.org/project/apache-airflow-providers-presto/ is broken due to:

[code]

### What you think should happen instead

This is due to the latest airflow release 2.2.5 does not include this PR:

https://github.com/apache/airflow/pull/22297/

the presto hook changes were introduced in t

[2022-04-18 17:24] pingzh commented on #23059
cc @ephraimbuddy

[2022-04-18 17:52] eladkal commented on #23059
Providers must be compatible with Airflow>=2.1 so regardless if https://github.com/apache/airflow/pull/22297  was released in 2.2.5 or not... that is not enough.

We need to make the provider compatible with 2.1

[2022-04-18 17:53] alexott commented on #22442
@potiuk please assign it to me... But we need to solve a problem of credentials for testing

[2022-04-18 18:43] o-nikolas commented on #22878
Thanks! Left a small comment and approved :)

[2022-04-18 19:27] karkyra opened #23060 "How to increase API call more then 500 requests"
### Apache Airflow version

2.1.1

### What happened

When I am API calling for users with limit 1000, it returns only 500  requests. How or where can I increase limit more then 500 requests? Looks like by default airflow API returns max 500 requests.

I am running following command but always return 500 requests: `https://airflow_url/api/v1/users?limit=1000`

### What you think should happen inst

[2022-04-18 21:23] pingzh commented on #23059
@eladkal good point. I remember there is a CI check for the compatibility. not sure why it did not catch it

[2022-04-18 22:06] mik-laj commented on #23060
https://airflow.apache.org/docs/apache-airflow/stable/security/api.html

[2022-04-18 22:06] #23060 closed

[2022-04-18 23:34] Alejandro13Rob commented on #16176
Exactly the same issue

[2022-04-19 01:18] houqp commented on #15635
@potiuk do you plan to wait for couple more comments before we move on to push the official experimental arm images?

[2022-04-19 02:23] #23028 closed

[2022-04-19 03:11] MatrixManAtYrService opened #23068 "Grid view: "duration" shows 00:00:00"
### Apache Airflow version

2.3.0b1 (pre-release)

### What happened

Run [a dag with an expanded TimedeltaSensor and a normal TimedeltaSensor](https://gist.github.com/MatrixManAtYrService/051fdc7164d187ab215ff8087e4db043), and navigate to the corresponding entries in the grid view.

While the dag runs:
- The unmapped task shows its "duration" to be increasing
- The mapped task shows a blank entry

[2022-04-19 03:14] MatrixManAtYrService commented on #23068
@bbovenzi mentioned that we could solve this in the UI by:

But I filed an issue instead of recommending that he do that because maybe we should investigate why the webserver is providing 00:00:00 in the first place.

[2022-04-19 04:42] uranusjr commented on #23068
FOr clarification, does this only happen to sensors (or even only `TimedeltaSensor`), while a normal task show a correct duration when mapped?

[2022-04-19 05:29] #23059 closed

[2022-04-19 05:31] potiuk commented on #15635
yes. I am going to follow-up. There was an Easter period and 2.3.0 was kinda busy period for many people, so I expect some discussion to resume this week.

[2022-04-19 05:40] potiuk commented on #23059
The check is not 100% - it only checks that imports are not broken. We are adding more "back-compatibility" checks as pre-commits but I think we are just learning on the kinds of things that should be taken into account.

Here is the currenet check and we should add try_number check there too: https://github.com/apache/airflow/blob/main/scripts/ci/pre_commit/pre_commit_check_2_1_compatibility.py

[2022-04-19 06:05] potiuk commented on #16176
I think you missed the note above @Alejandro13Rob @alexperry-shifu . So let me just repeat it again.

Honestly I am not sure what is the goal of commenting "I have the same issue" without providing this extra information.

This is just well, completely useless. If your goal is to get some help, you must provide more information. I am not sure if you have other goals, but certainly it does not help

[2022-04-19 07:02] jaradjohnsnowlabs opened #23073 "Can not upgrade kubernetes version in docker environment"
### Apache Airflow version

2.3.0b1 (pre-release)

### What happened

In the airflow docker environment, we can not upgrade the Kubernetes version is fixed to 11.0.0. There should be a way to upgrade Kubernetes to the latest version.

### What you think should happen instead

_No response_

### How to reproduce

_No response_

### Operating System

Docker Environment

### Versions of Apache Airflo

[2022-04-19 07:03] #23073 closed

[2022-04-19 07:09] mai-nakagawa opened #23074 "Add `endpoint_id` arg to `vertex_ai.endpoint_service.CreateEndpointOperator`"
### Description

Add `endpoint_id` arg to `google.cloud.operators.vertex_ai.endpoint_service.CreateEndpointOperator` class and `google.cloud.hooks.vertex_ai.endpoint_service.EndpointServiceHook.create_endpoint` method.

### Use case/motivation

`google.cloud.operators.vertex_ai.endpoint_service.CreateEndpointOperator` class and `google.cloud.hooks.vertex_ai.endpoint_service.EndpointServiceHook.cre

[2022-04-19 07:18] uranusjr commented on #21171
Yeah it seems like we need something slightly different from the implementation in SQLAlchemy-UTC.

It seems like Airflow currently renders `func.now()` as:

* SQLite: `CURRENT_TIMESTAMP`
* PostgreSQL: `now()`
* MySQL: `now()`
* Microsoft SQL Server: `now()`

I guess what we need is to change the SQL Server one to `GETDATE()`? That shouldn’t be too hard, and (I believe) SQLAlchemy lets us register

[2022-04-19 08:18] joppevos commented on #20253
@potiuk I would like to tackle this issue.

[2022-04-19 09:51] Bowrna commented on #22825
@potiuk Could i pick up this issue?

[2022-04-19 10:33] potiuk opened #23076 "Rewrite image verification in Breeze"
Image verification is run as separate command with new virtualenv, but it should be used in CI from Breeze

[2022-04-19 10:34] potiuk opened #23077 "Rewrite image waiting in Breeze"
Image waiting usess GNU parallell and it's running docker pull and verification  in parallel. This should all be rewritten for Breeze.

[2022-04-19 12:00] potiuk commented on #22825
IMa just aboput to submit a big change covering those all issues that I assigned to myself :)

[2022-04-19 12:37] Bowrna commented on #22825
oh ok, @potiuk Let me know if you need anything. I can join in finishing this part too :)
Could you move other Breeze tasks in project to `Ready to pick` section so that I can pick any other task?

[2022-04-19 14:02] edithturn commented on #15994
@eladkal I would love take this issue

[2022-04-19 14:03] eladkal opened #23081 "Misleading scheduler health message when using SequentialExecutor"
### Body

In the UI we have a message that warns in case the scheduler isn't running:
`The scheduler does not appear to be running. Last heartbeat was received X minutes ago.`
https://github.com/apache/airflow/blame/5144bedcee76466a79eea0b2b6137e5899dc73bd/airflow/www/templates/airflow/main.html#L60-L71

This message however is confusing for `SequentialExecutor`.
In `SequentialExecutor` we can run

[2022-04-19 14:06] bbovenzi commented on #23081
We should move this logic from `main.html` and handle it inside the webserver in `views.py` and pass a single variable of `is_scheduler_running` to the UI.

[2022-04-19 14:15] potiuk opened #23082 "Breeze: Add running unit tests with Breeze"
We should be able to run unit tests automatically from breeze (`test` command in legacy-breeze)

[2022-04-19 14:17] potiuk opened #23083 "Breeze: Running integration tests in Breeze"
We should be able to run integration tests with Breeze - this is extension of `test` unit tests command that should allow to enable --integrations (same as in Shell) and run the tests with only the integration tests selected.

[2022-04-19 14:18] potiuk opened #23084 "Breeze: Add running Helm Install/Upgrade tests to Breeze"
There are pytests tests for helm chart that can be triggered from the new Breeze (the biggest complexity is to enable runinng them in Paralllel running Pools).

[2022-04-19 14:18] potiuk opened #23085 "Breeze: Running K8S tests with Kind with Breeze"
There is the whole "kind" set of commands that should be implemented in the new Breeze.

There are few sub-commands there that can be implemented gradually.

[2022-04-19 14:37] Bowrna commented on #23082
Shall i pick this issue @potiuk ?

[2022-04-19 14:49] sdebruyn opened #23087 "Show DAG parse error if 'timetable' and 'schedule_interval' are set together"
### Apache Airflow version

2.2.5 (latest released)

### What happened

In the UI I see `1 day, 00:00:00` under _Schedule_ instead of the summary I've defined in my timetable:

[code]

### What you think should happen instead

According to the docs, overriding `summary` should change how the timetable is represented in the UI: https://airflow.apache.org/docs/apache-airflow/stable/howto/timetable.h

[2022-04-19 14:57] potiuk commented on #23082
Feel free!

[2022-04-19 14:59] rbiegacz commented on #22895
Indeed, it would be great to have other API-based methods for checking the health of other components (e.g. Scheduler).

[2022-04-19 15:54] edithturn commented on #15994
Hello, I am taking this issue.
In this step in pre-commit, we have words with "black" and it won't pass   "language matters" validation, also we have repositories links like this: `- repo: https://github.com/psf/black`.
![Screenshot from 2022-04-19 10-47-31](https://user-images.githubusercontent.com/58795858/164043883-c2b0a391-6fad-482b-9a0c-50ad35fefcfd.png)

Should we exclude .pre-commit-config.

[2022-04-19 16:08] edithturn commented on #15994
This regex `(?i)(black|white)[_-]?list` just will find black and white followed with "list", if I am not wrong, for that reason it doesn't work completely with all words.

The correct could be this:
`      entry: >
          (?ix)
          \bmaster\b|
          \bhe\b|
          \bshe\b|
          \bhis\b|
          \bher\b|
          \bslave\b|
          \bsanity\b|
          \bdummy\b|

[2022-04-19 16:28] sdebruyn commented on #23087
My bad, I accidentally set the schedule interval as well

[2022-04-19 17:21] edithturn commented on #15994
**@eladkal I am not sure why we are excluding these files. Some of them exist and some don't. Some are from "provider/docs", so I am assuming that they are being excluded because we are using third-party documentation that we cannot change after validation.

    (Exist)  ^airflow/www/fab_security/manager\.py$|
    (Exist)  ^airflow/providers/apache/cassandra/hooks/cassandra\.py$|
    (Exist)  ^air

[2022-04-19 17:37] edithturn commented on #15994
It is working, should I work to change these words in CHANGELOG: master, dummy..etc?

`No relative imports......................................................................Passed
Check for language that we do not accept as community....................................Failed
- hook id: language-matters
- exit code: 1

CHANGELOG.txt:358:- Deprecate dummy trigger rule in favor of always (#17144)

[2022-04-19 17:56] blag opened #23092 "UI: Transparent border causes dropshadow to render 1px away from Action dropdown menu in Task Instance list"
### Apache Airflow version

2.2.5 (latest released)

### What happened

Airflow:

Due to this CSS in `airflowDefaultTheme.ce329611a683ab0c05fd.css`:

[code]

the dropdown border and dropshadow renders...weirdly:

![Screen Shot 2022-04-19 at 9 50 45 AM](https://user-images.githubusercontent.com/597113/164063925-10aaec58-ce6b-417e-a90f-4fa93eee4f9e.png)

Zoomed in - take a close look at the border a

[2022-04-19 17:58] uranusjr commented on #23087
Let me add an error for this so you don’t stumble on it again.

[2022-04-19 18:02] #23018 closed

[2022-04-19 18:47] ashb commented on #15994
We can't reword that one - it's a notice to the users that the class has changed name.

The others were correct at the time the were written (master branch) so it doesn't make sense to change them, but we could do of we want

[2022-04-19 18:57] edithturn commented on #15994
@ashb  agree with this, then I'm going to add this file CHANGELOG to exclusions.

[2022-04-19 20:38] fuxiao224 commented on #22846
Thanks for your suggestions! I agree that adding a parameter to let user choose from whether to encode UUID sounds a good plan. I'll create the PR asap.

[2022-04-19 20:54] leahecole commented on #15994
@edithturn thanks for taking this on! +1 to Ash's suggestion to exclude the CHANGELOG. Rewriting history may cause more confusion than it does good - as much as I'm always in favor of upgrading language, it might make it harder to tell in the changelog when this change actually occurred.

[2022-04-19 23:09] h7kanna commented on #21953
Hi, Is this being worked upon actively?

[2022-04-19 23:19] potiuk opened #23102 "Rewrite rest of test-docker-compose-quickstart in python"
The docker-compose-quickstart tests should be run via Breeze.

[2022-04-20 00:01] thesuperzapper commented on #7935
I just wanted to share that the [User-Community Airflow Helm Chart](https://github.com/airflow-helm/charts/tree/main/charts/airflow) now has a mitigation for this issue that will automatically restart the scheduler if no tasks are created within some threshold time.

It's called the scheduler ["Task Creation Check"](https://github.com/airflow-helm/charts/blob/main/charts/airflow/docs/faq/monitorin

[2022-04-20 00:02] thesuperzapper commented on #15938
I just wanted to share that the [User-Community Airflow Helm Chart](https://github.com/airflow-helm/charts/tree/main/charts/airflow) now has a mitigation for this issue that will automatically restart the scheduler if no tasks are created within some threshold time.

It's called the scheduler ["Task Creation Check"](https://github.com/airflow-helm/charts/blob/main/charts/airflow/docs/faq/monitorin

[2022-04-20 00:08] uranusjr commented on #23087
Actually it seems like we already have an exception?

[code]

[2022-04-20 00:08] #23087 closed

[2022-04-20 01:59] MatrixManAtYrService commented on #23068
I created one with a PythonOperator that just slept for 90 seconds, and I still get 00 for it, whether or not it's mapped.  So I guess the failure is more general than I thought.

[2022-04-20 04:54] EricGao888 commented on #21953
@h7kanna Hello, I've been quite busy recently. I will handle this as soon as I have time. Currently, the problem is we haven't completed the unit tests but the feature is ok to use as you can access the code in this pr: #21954

[2022-04-20 04:58] h7kanna commented on #21953
Hi Thanks, I will try this branch then.

[2022-04-20 05:01] EricGao888 commented on #21953
Sure. If you have any questions about zeppelin operator, you are welcome to reach out to me. : )

[2022-04-20 05:18] sdebruyn commented on #23087
It wasn't triggered for me since I set the timetable after the __init__

[2022-04-20 05:29] MatrixManAtYrService opened #23107 "Mapped KubernetesPodOperator "fails" but UI shows it is as still running"
### Apache Airflow version

2.3.0b1 (pre-release)

### What happened

This dag has a problem.  The `name` kwarg is missing from one of the mapped instances.

[code]

If you omit that field in an unmapped task, you get a dag parse error, which is appropriate.  But omitting it from the mapped task gives you this runtime error in the task logs:

[code]

But rather than failing the task, Airflow just

[2022-04-20 06:52] hubert-pietron commented on #22947
If @bauerfranz is not interested in fixing this bug i would want to work on this

[2022-04-20 06:58] potiuk commented on #22947
assigned you

[2022-04-20 07:01] obearn commented on #14134
@markhatch  Thanks a lot for this answer.
Just noticed that the table celery_taskmeta may contain picked data (result, args, kwargs).
During the migration I just deleted from this tables since it is not useful for not running tasks.

[2022-04-20 07:43] ashb commented on #23107
Curious, something is up with the zombie detection too:

[code]

[2022-04-20 07:44] uranusjr commented on #23107
[code]

This line looks suspicious

[2022-04-20 07:59] uranusjr commented on #23087
Modifying a DAG after it’s declared is not recommended or actively supported, so you should avoid that anyway. I’ll still add something to guard this, but don’t count for the validation to be fool-proof.

[2022-04-20 07:59] #20398 closed

[2022-04-20 08:11] ashb commented on #23107
@uranusjr That error happens if the excpetion occurs "outside" of user task code (before or after). Not a problem here, but we should fix it, yes.

[2022-04-20 08:45] tanelk opened #23111 "LocalFilesystemToS3Operator dest_key can not be a full s3:// style url"
### Apache Airflow Provider(s)

amazon

### Versions of Apache Airflow Providers

apache-airflow-providers-amazon==3.3.0
apache-airflow-providers-ftp==2.1.2
apache-airflow-providers-http==2.1.2
apache-airflow-providers-imap==2.2.3
apache-airflow-providers-mongo==2.3.3
apache-airflow-providers-sqlite==2.1.3

### Apache Airflow version

2.3.0b1 (pre-release)

### Operating System

Arch Linux

### De

[2022-04-20 08:46] tanelk commented on #23111
@denimalpaca introduced this operator in #17382

[2022-04-20 08:56] holamap commented on #21381
@thcidale0808 is there any update on this implementation to share ?

[2022-04-20 08:56] eladkal opened #23112 "Handle batch queries in `DbApiHook`?"
### Body

**TL;DR:**
Multiple providers need to handle the logic of splitting SQL statements
[Snowflake.run()](https://github.com/apache/airflow/blob/501a3c3fbefbcc0d6071a00eb101110fc4733e08/airflow/providers/snowflake/hooks/snowflake.py#L287-L347) , [RedShift.run()](https://github.com/apache/airflow/pull/22391/files) and it will be very similar should be eventually create `PrestoOperator` or `Tri

[2022-04-20 09:41] ashlee3209 commented on #20442
Hi, I faced the same issue when I am using 2.2.4. I added a type validation of boolean for a parameter then when clicking the dag page, it shows error:

Airflow version: 2.2.4
Node: 3d45b1bc1955
Traceback (most recent call last):
  File "/home/airflow/.local/lib/python3.7/site-packages/airflow/models/param.py", line 62, in __init__
    jsonschema.validate(self.value, self.schema, format_checker=Fo

[2022-04-20 09:58] joshuayeung opened #23114 "SparkKubernetesSensor Cannot Attach Log When There Are Sidecars in the Driver Pod"
### Apache Airflow Provider(s)

cncf-kubernetes

### Versions of Apache Airflow Providers

apache-airflow-providers-cncf-kubernetes==3.0.0

### Apache Airflow version

2.2.5 (latest released)

### Operating System

Debian GNU/Linux 10 (buster)

### Deployment

Official Apache Airflow Helm Chart

### Deployment details

_No response_

### What happened

When using `SparkKubernetesSensor` with `atta

[2022-04-20 10:09] joshuayeung commented on #23114
@bbenzikry Do you know if the container name is always `spark-kubernetes-driver` in the driver pod?
If yes, can we just hardcode the container name or we can get the info from k8s hook response dynamically?

[2022-04-20 11:54] iercan commented on #20518
Problem seems resolved on 2.2.5

[2022-04-20 11:54] #20518 closed

[2022-04-20 12:00] eladkal opened #23117 "Cloudant Provider: Replace `cloudant` with `ibmcloudant`"
### Body

cloudant is deprecated:
[code]

https://pypi.org/project/cloudant/ :
[code]

Replacement is:
https://pypi.org/project/ibmcloudant/
https://github.com/IBM/cloudant-python-sdk

Migration guide: https://github.com/cloudant/python-cloudant/blob/master/MIGRATION.md

The task:
Make [CloudantHook](https://github.com/apache/airflow/blob/501a3c3fbefbcc0d6071a00eb101110fc4733e08/airflow/providers/

[2022-04-20 12:03] bbenzikry commented on #23114
@joshuayeung Yeah, it's derived from
https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/blob/74ea1c86c9a595e6c1c8a0c2c40a50bf89288ede/pkg/config/constants.go#L306

From what I remember while testing, there was some assurance of container ordering ( that is why the container name was omitted ) - even while using istio sidecars.
Can you tell me a bit about the setup / versions ( k8s, istio

[2022-04-20 12:08] uranusjr commented on #23117
To resolve the PyJWT incompatibility, we (at least) need to upgrade to FAB 4.x, which requires upgrading to Flask 2.x. We need to make progress in #22397 first.

(Closing since #21004 already tracks this, and the situation has not changed.)

[2022-04-20 12:08] #23117 closed

[2022-04-20 12:14] eladkal commented on #23117
Ah i missed that issue

[2022-04-20 13:18] potiuk commented on #23111
Would you like to fix it @denimalpaca ? Sounds like an easy fix and you can become one of > 2000 contriibutors to airflow. Actually fixing it is the fastest way to proceed, otherwise it will have to wait for someone willing to pick it up.

[2022-04-20 13:18] potiuk commented on #23111
@tanelk ^^

[2022-04-20 13:23] potiuk commented on #23112
It would be good to standardize it indeed. And temporary implementation that would use the function (if existing in Aifrlow) and falling back to internal, deprecated implementation is the way to go. We can even add pre-commit guarding the proper use of (run_many) - making sure that there is a conditional code in provider that falls back if run_many is used (new operators will use it automatically

[2022-04-20 13:59] aspain opened #23118 "`Amazon Web Services` connection type gives error upon using 'Test' button despite connection working"
### Apache Airflow Provider(s)

amazon

### Versions of Apache Airflow Providers

[apache-airflow-providers-amazon](https://airflow.apache.org/docs/apache-airflow-providers-amazon/3.2.0/) 3.2.0

### Apache Airflow version

2.2.5 (latest released)

### Operating System

macOS 11.5.2

### Deployment

Astronomer

### Deployment details

No customization

### What happened

When setting up an `Amazon

[2022-04-20 14:01] markhatch commented on #14134
Is there a reason why pickle is being used to store information into the db? Seems like a proper way to cause upgrade issues...

[2022-04-20 14:54] josh-fell commented on #23118
This is fixed by #19792 and confirmed in the 2.3.0b1 release. The current implementation of the Test Connection button in the UI is either enabled/disabled relative only to the enablement of Airflow REST APIs within an environment. Meaning if REST APIs are enabled, the Test Connection button is enabled for all connection types even if a selected type doesn't actually support testing connectivity i

[2022-04-20 14:54] #23118 closed

[2022-04-20 14:56] josh-fell commented on #23112
+1 and completely agree with @potiuk. An underlying standard would be very useful and less repetitive.

[2022-04-20 16:06] vincbeck commented on #23111
After investigation, it seems it is not the only S3 related operator with this bug. Thanks for catching this! Unless you want or are currently working on this, I can take care of fixing these operators

[2022-04-20 16:19] michaelmicheal commented on #22895
Feel free to assign this to me, I can start by adding a healthcheck endpoint to the scheduler

[2022-04-20 18:10] sp1thas opened #23124 "`TriggerDagRunOperator` raises a `DeprecationWarning`"
### Apache Airflow version

2.2.5 (latest released)

### What happened

When I'm using the [`airflow.operators.trigger_dagrun.TriggerDagRunOperator`](https://airflow.apache.org/docs/apache-airflow/stable/_api/airflow/operators/trigger_dagrun/index.html#airflow.operators.trigger_dagrun.TriggerDagRunOperator), the following `DeprecationWarning` is raised:

[code]

### What you think should happen in

[2022-04-20 19:20] silastailer commented on #22865
Hello,
I will try your suggestion and get the information you asked.
Thanks a lot.

[2022-04-20 19:33] pavel-lexyr commented on #16472
Can confirm it's still present in v2.2.3.

[2022-04-20 19:56] leahecole opened #23129 "BigQueryInsertJobOperator fails when there are templated variables in default args"
### Apache Airflow Provider(s)

google

### Versions of Apache Airflow Providers

apache-airflow-providers-google==6.8.0

### Apache Airflow version

2.2.3

### Operating System

n/a

### Deployment

Composer

### Deployment details

Hi! I'm using composer-2.0.6-airflow-2.2.3 - it's a Public IP environment without any configuration overrides. This is a super basic sandbox environment I use for tes

[2022-04-20 20:17] ndawg commented on #9176
@eladkal I see that the "Enhancement" label has been removed. Is this feature still being considered? Is there a way to emulate this? It would be perfect for our workflow for the same reason the original post stated.

[2022-04-20 20:54] MatrixManAtYrService opened #23131 "Scheduler deadlock error when mapping over empty list"
### Apache Airflow version

2.3.0b1 (pre-release)

### What happened

manually triggered this dag:
[code]

scheduler logs (whitespace added for emphasis):
[code]

The dagrun fails, even though none of its tasks get set to failed:

<img width="319" alt="Screen Shot 2022-04-20 at 2 43 15 PM" src="https://user-images.githubusercontent.com/5834582/164320377-663fcc0a-0bc4-4edc-8cc3-91884b84748d.png">

[2022-04-20 21:23] cccs-seb commented on #15613
If anyone else is facing this issue, I found it was caused by using the wrong 'host_field' under https://github.com/apache/airflow/blob/4fa718e4db2daeb89085ea20e8b3ce0c895e415c/airflow/config_templates/default_airflow.cfg#L1107.

When I changed from the default `host` to `host.hostname`, the issue fixed itself. Seems like a Filebeat 7 breaking change https://github.com/apache/airflow/pull/14625

[2022-04-20 21:27] CGreen91 opened #23133 "Airflow Helm Chart Bug During Install"
### Official Helm Chart version

1.5.0 (latest released)

### Apache Airflow version

2.2.5 (latest released)

### Kubernetes Version

1.22.5

### Helm Chart configuration

_No response_

### Docker Image customisations

I have made no special changes to the standard Docker image.

### What happened

Whenever I try to install the Official Helm Chart, the post-install process hangs until it times o

[2022-04-20 21:52] #23033 closed

[2022-04-20 21:52] NiklasBeierl commented on #15613
The problem is the combination of `add_host_metadata` processor, some infuriating default behavior of filebeat and `AIRFLOW__ELASTICSEARCH__JSON_FORMAT: "True"`.

Due to the setting the logs from airflow are JSON and may already contain a `host` field which is needed to correctly display the logs (See [here](https://github.com/apache/airflow/blob/495a5a9e557591c1a5cc820f105e8f0c4f29a4ee/airflow/pr

[2022-04-21 00:12] #20884 closed

[2022-04-21 06:55] eladkal commented on #10931
Closing in favor of https://github.com/apache/airflow/issues/22460

[2022-04-21 06:55] #10931 closed

[2022-04-21 07:00] eladkal commented on #8282
Closing as many already fixed.
I'll try to generate list for the missing ones and open a dedicated issue for them as not all providers have howto guide for connections.

[2022-04-21 07:00] #8282 closed

[2022-04-21 07:11] rverma-nsl commented on #10210
@eladkal same here, we are not sure how to trigger dags with airflow. If we are only block at task and utilise a cron job for trigger, then we can't ever process a scenario where I want to run 2 dags concurrently since I got 2 messages in the queue.

[2022-04-21 07:40] joppevos commented on #23083
@potiuk I can take this one :)
so we want a flag like `breeze test --integrations`?

[2022-04-21 11:05] potiuk commented on #23083
I think we need to do "breeze test" in general first - just to allow regular unit testing to be executed with single command.

We already have CI executing the different test types - and we need to automate CI running of those tests in parallel but it should start with a `breeze test` command:

The different test types are described here:

https://github.com/apache/airflow/blob/main/TESTING.rst#ai

[2022-04-21 12:29] ashlee3209 opened #23145 "Task stuck in "scheduled" when running in backfill job"
### Apache Airflow version

2.2.4

### What happened

We are running airflow 2.2.4 with KubernetesExecutor. I have created a dag to run airflow backfill command with SubprocessHook. What was observed is that when I started to backfill a few days' dagruns the backfill would get stuck with some dag runs having tasks staying in the "scheduled" state and never getting running.

We are using the defaul

[2022-04-21 12:31] ashlee3209 commented on #23145
I tried with this workaround https://github.com/apache/airflow/issues/13542#issuecomment-1011598836 and it made the stuck tasks running again.

[2022-04-21 12:32] meioli opened #23146 "location is missing in BigQueryDataTransferServiceTransferRunSensor"
### Apache Airflow version

2.2.3

### What happened

Location is missing in [BigQueryDataTransferServiceTransferRunSensor](airflow/providers/google/cloud/sensors/bigquery_dts.py).

This forces us to execute data transfers only in the us. When starting a transfer the location can be provided.

### What you think should happen instead

_No response_

### How to reproduce

_No response_

### Operati

[2022-04-21 12:38] GApfel opened #23147 "Docker-compose quick start doesn't work with logging_level: DEBUG"
### What do you see as an issue?

I'm using the quickstart docker-compose.yml (https://github.com/apache/airflow/tree/main/docs/apache-airflow/start/docker-compose.yaml), and I wanted to change the log_level to DEBUG by adding `AIRFLOW__LOGGING__LOGGING_LEVEL: 'DEBUG'` to the `x-airflow-common` environment. This breaks the `airflow-init` container because the line `airflow_version=$$(gosu airflow

[2022-04-21 12:57] #23131 closed

[2022-04-21 13:59] #21105 closed

[2022-04-21 15:08] #23107 closed

[2022-04-21 17:51] joppevos commented on #23083
@potiuk Great. I think the general test command wil be covered by [this](https://github.com/apache/airflow/issues/23082) issue not? This will then depend on the implementation of that issue. I can make a start on the `breeze test` command and see later how we bring it together @Bowrna

[2022-04-21 19:18] harishkrao commented on #23124
@uranusjr @sp1thas can I take this PR or is anyone actively working on this?

[2022-04-21 19:27] eladkal commented on #8280
Closed in favor of AIP 47
https://github.com/apache/airflow/projects/15
We have a dedicated issue per each example dag

[2022-04-21 19:27] #8280 closed

[2022-04-21 19:27] sp1thas commented on #23124
Given the recently added tags by @uranusjr , I suppose this warning needs a fix. Although I'm airflow newbie, I would like to give it a try.

[2022-04-21 19:40] harishkrao commented on #23124
Sure, please do. Thanks for letting me know.

[2022-04-21 21:26] harishkrao commented on #23124
@uranusjr can you please assign this to @sp1thas since he said he would like to work on the PR.

[2022-04-22 00:15] zengbotang opened #23159 "docker container still running while dag run failed"
### Apache Airflow version

2.1.4

### What happened

 I have operator run with docker .

When dag run failed , docker.py try to remove container but remove failed and got the following error:

`2022-04-20 00:03:50,381] {taskinstance.py:1463} ERROR - Task failed with exception
Traceback (most recent call last):
  File "/home/airflow/.local/lib/python3.8/site-packages/airflow/providers/docker/opera

[2022-04-22 03:16] Bowrna commented on #22444
@potiuk There is an example tutorial in this example_dags folder for docker `airflow/providers/docker/example_dags/tutorial_taskflow_api_etl_docker_virtualenv.py`
Do I have to migrate this example too?

[2022-04-22 04:57] tirkarthi commented on #22933
Closing since it's fixed in https://github.com/apache/airflow/pull/23008

[2022-04-22 04:57] #22933 closed

[2022-04-22 06:45] Yao-ATG opened #23162 "GCSToGCSOperator ignores replace parameter when there is no wildcard"
### Apache Airflow Provider(s)

google

### Versions of Apache Airflow Providers

Latest

### Apache Airflow version

2.2.5 (latest released)

### Operating System

MacOS 12.2.1

### Deployment

Composer

### Deployment details

_No response_

### What happened

Ran the same DAG twice with 'replace = False', in the second run files are overwritten anyway.
source_object does not include wildcard.

[2022-04-22 07:50] algoexpert12 opened #23163 "Airflow Production image not working but dev Image is working"
### Apache Airflow version

2.2.3

### What happened

The production image when built then a container stopped a second after starting from docker desktop.

### What you think should happen instead

Production image should work.

### How to reproduce

./breeze build-image --python 3.8 --production-image --install-airflow-version 2.2.3

### Operating System

windows 11

### Versions of Apache Airfl

[2022-04-22 08:09] potiuk commented on #22444
yeah.

[2022-04-22 09:20] potiuk commented on #23163
You are using it wrong.

Production image by default runs airflow command (for example you can do `docker run apache/airflow webserver`) and it . So if you do not specify a command it will just ask you to provide one. This is what expected. There are special commands `bash` and `python` that you can use to run python code or drop into bash if you want.

All details are described here: https://airf

[2022-04-22 09:20] #23163 closed

[2022-04-22 09:29] tirkarthi commented on #23049
Probably fixed in https://github.com/apache/airflow/pull/21430

[2022-04-22 09:38] tirkarthi commented on #23146
`BiqQueryDataTransferServiceHook` got location as optional argument in https://github.com/apache/airflow/pull/20221. Probably similar changes could be done to `BigQueryDataTransferServiceTransferRunSensor` so that location is accepted by it and passed to `BiqQueryDataTransferServiceHook` in poke method. Does that satisfy your use case @meioli ?

[2022-04-22 09:57] tirkarthi commented on #23146
Created https://github.com/apache/airflow/pull/23166 and updated tests. Please review.

[2022-04-22 10:48] jyotsa09 opened #23168 "Getting error "Extra Field may not be null" while hitting create connection api with extra=null"
### Apache Airflow version

2.3.0b1 (pre-release)

### What happened

Getting error "Extra Field may not be null" while hitting create connection api with extra=null
[code]

### What you think should happen instead

I should be able to create connection through API

### How to reproduce

Steps to reproduce:

1. Hit connection end point with json body

Api Endpoint - api/v1/connections
HTTP Method

[2022-04-22 11:48] meioli commented on #23146
Thanks! That looks like this will cover our needs :)

[2022-04-22 12:54] frankcash opened #23169 "Task Duration shows as "empty" when it was really less than 1 second"
### Apache Airflow version

2.2.5 (latest released)

### What happened

![Screen Shot 2022-04-22 at 8 48 18 AM](https://user-images.githubusercontent.com/6012231/164717343-249c5953-e458-4d3f-b649-e63bd52c5090.png)
When in reality it just ran less than a second
![Screen Shot 2022-04-22 at 8 48 42 AM](https://user-images.githubusercontent.com/6012231/164717401-bd0b1f29-84f0-48ed-a282-46c36863fd29.pn

[2022-04-22 13:18] #22967 closed

[2022-04-22 13:21] ashb commented on #20461
Can someone please give me exact reproduction steps for this including a dag I can run?

[2022-04-22 13:24] ashb commented on #16703
@potiuk Did you have a fix related to memory usage of logging? @dan-origami Are you able to test with 2.2.x?

[2022-04-22 13:26] ashb commented on #17901
@MatrixManAtYrService could you retest this -- is it still happening?

[2022-04-22 13:30] #20471 closed

[2022-04-22 13:30] #20382 closed

[2022-04-22 13:33] ashb commented on #22289
Can someone test on 2.3.0b1 please?

[2022-04-22 14:25] bbovenzi opened #23171 "Mark Success on a mapped task, reruns other failing mapped tasks"
### Apache Airflow version

2.3.0b1 (pre-release)

### What happened

Have a DAG with mapped tasks. Mark at least two mapped tasks as failed. Mark one of the failures as success. See the other task(s) switch to `no_status` and rerun.

![Apr-22-2022 10-21-41](https://user-images.githubusercontent.com/4600967/164734320-bafe267d-6ef0-46fb-b13f-6d85f9ef86ba.gif)

### What you think should happen inste

[2022-04-22 15:19] aschoe21 commented on #23169
I think I found an easy solution to this. The problem seems to be that, by default, moment's diff method truncates decimal places resulting in a rounded-down integer, so if execution time is less than a full second it will appear as 0. Luckily the diff method accepts an optional argument to disable this functionality. I'll get on making a PR ASAP.

[2022-04-22 15:20] frankcash commented on #23169
Awesome!

[2022-04-22 16:31] sp1thas commented on #23124
#20781 seems to fix this warning. I ran the flow using the `main` branch and the warning was not raised anymore. Given that this PR is merged ~3 months ago, I was wondering why this warning is still raised on `2.2.5`. I'm probably missing something regarding the project's release strategy.

[2022-04-22 17:29] RNHTTR opened #23174 "Some links in contributor's quickstart table of contents are broken"
### What do you see as an issue?

In `CONTRIBUTORS_QUICK_START.rst`, the links in the table of contents that direct users to parts of the guide that are hidden by the drop down don't work if the drop down isn't expanded. For example, clicking "[Setup Airflow with Breeze](https://github.com/apache/airflow/blob/main/CONTRIBUTORS_QUICK_START.rst#setup-airflow-with-breeze)" does nothing until you open

[2022-04-22 17:49] RNHTTR commented on #23174
Also, isn't breeze agnostic to a contributor's code editor? Maybe breeze should have its own header section without being embedded in the drop down so it doesn't get repeated a few times.

[2022-04-22 18:12] potiuk commented on #23174
Some good ideas. We might to redo some of the Breeze docs once we finish #12282 . Breeze will get simpler to use and more powerful after the rewrite so some of the content here might be reshuffled at least or rewrritten

[2022-04-22 18:39] tirkarthi commented on #23171
This looks like a similar issue to https://github.com/apache/airflow/issues/22995 where changing status might clear downstream failed tasks causing re-run.

[2022-04-22 19:22] mrkaye97 opened #23176 "`op_kwargs` are evaluated eagerly (at parse time)"
### What do you see as an issue?

(Title)

Arguments passed as `op_kwargs` seem to be eagerly evaluated, meaning that they're evaluated at _parse_ time, instead of at _runtime_

In practice, this means that if you were (e.g.) calling a function that did some heavy lifting, connecting to a database, etc. all of this would happen on every _parse_ of the DAG.

See repro:

[code]

Parsing this DAG usi

[2022-04-23 05:41] tirkarthi commented on #23176
I guess this is intentional by design since parsing tries to import the module that will execute code :

https://github.com/apache/airflow/blob/22ba59c5f26d1e6fa2ce59e99304628b2f0a0fd9/airflow/models/dagbag.py#L312-L325

[2022-04-23 05:50] tirkarthi commented on #23168
We might need to pass `allow_none=True` to `extra` since `obj.extra` just returns when None in serialize method.

https://github.com/apache/airflow/blob/22ba59c5f26d1e6fa2ce59e99304628b2f0a0fd9/airflow/api_connexion/schemas/connection_schema.py#L44-L61

[2022-04-23 05:58] uranusjr commented on #23176
Yes, that’s just how Python works. I don’t believe there’s even a way to not evaluate eagerly, unless we stop treating DAGs as actually Python code. XCom (and XComArg via `@task`) is the solution.

[2022-04-23 05:58] #23176 closed

[2022-04-23 06:30] tirkarthi commented on #22352
`airflow.www.decorators` has `action_logging` method used in different parts of the views for logging. An example of using the decorator in the `patch_connection` endpoint where I modified the description of the connection using rest api.

Id | Dttm | Dag Id | Task Id | Event | Logical Date | Owner | Extra
-- | -- | -- | -- | -- | -- | -- | --
2581 | 2022-04-23, 11:56:53 | None |   | patch_connect

[2022-04-23 07:12] #22825 closed

[2022-04-23 07:12] #23076 closed

[2022-04-23 07:12] #23077 closed

[2022-04-23 07:12] #20961 closed

[2022-04-23 07:12] #22826 closed

[2022-04-23 07:12] #22828 closed

[2022-04-23 07:12] #22829 closed

[2022-04-23 07:12] #23102 closed

[2022-04-23 07:12] #21098 closed

[2022-04-23 18:37] MatrixManAtYrService opened #23191 "Graph view: When the dag is large, the colored borders are hard to see"
### Apache Airflow version

2.3.0b1 (pre-release)

### What happened

I keep catching myself doing this:
1. zoom all the way out
2. look for the lime green borders
3. zoom in on that part of the dag

But on particularly large dags, I get stuck because the border is so thin that the color is easy to overlook.  For instance:

<img width="1773" alt="Screen Shot 2022-04-23 at 12 29 51 PM" src="https:/

[2022-04-23 19:33] #21099 closed

[2022-04-23 22:33] pierrejeambrun commented on #19943
Hi @bbovenzi,

Is this issue open for contribution ? It looks interesting and I would like to work on it :smile:

Best,

[2022-04-24 02:07] hyungryuk opened #23198 "K8sPodOperator also shows log from created pod"
### Description

k8s pod operator shows only pod's heartbeat logs and status on web ui.
So, i think it's better to add a new log page that shows pods running log which is created by k8s pod operator.

### Use case/motivation

![스크린샷 2022-04-24 오전 11 06 44](https://user-images.githubusercontent.com/88097078/164952762-15149613-060b-4e83-96c6-b476d4f82051.png)

### Related issues

_No respon

[2022-04-24 04:09] wuminorb commented on #11085
Facing same issue  on 2.2.3

[2022-04-24 14:35] ktleung2017 commented on #13542
https://github.com/apache/airflow/issues/21455#issue-1128336470
The fix here solves our stuck in "scheduled" problem. If you are using 2.2.2, you may give it a try.

[2022-04-24 15:09] mrkaye97 commented on #23176
Makes sense, thanks @uranusjr!

I just thought this would be worth pointing out for others in the future who had the same issue. It took us a while to debug and wasn't immediately obvious what was going wrong :+1:

[2022-04-24 15:52] ephraimbuddy commented on #20442
Fixed in 2.3.0. We have a beta release of 2.3.0, can you test it? See https://lists.apache.org/thread/9tsks6hg2974154w5jt1jq0j9x8wlj7k

[2022-04-24 16:13] pierrejeambrun commented on #19943
Hello guys,

This issue looks really interesting and I would love to work on it.

I was thinking of something like this for the UI:

![image (1)](https://user-images.githubusercontent.com/14861206/164985570-c1e71308-20ee-4894-93ff-191e4a9fd81d.png)
![image (2)](https://user-images.githubusercontent.com/14861206/164985569-c5d93f37-96c8-4d5b-b8b9-ede289025000.png)
![image (3)](https://user-images.gi

[2022-04-24 16:17] bbovenzi commented on #19943
It's all yours Pierre! Feel free to reach out if you have any questions whatsoever.

Quick feedback on the mocks:
- Let's not completely hide non-matching task instances, but instead apply an opacity to them
- "Dag State" -> "Run State"
- Let's not have the options in all caps, and let's include the status color next to the name of each option

[2022-04-24 16:43] rbiegacz commented on #22465
Please, assign this item to me. I started working on it.

[2022-04-24 21:28] potiuk opened #23204 "Split commands in Breeze into multiple files"
The breeze.py file is already huge. It should be split in mulitple files:

* common options
* separate file for each group of functions (commands/[GROUP].py)

[2022-04-25 00:38] ashutoshcipher commented on #21897
Hi @potiuk - If you @yeachan153 is not working on it, Can I pick this up?

[2022-04-25 03:42] MatrixManAtYrService opened #23206 "UI shows Foreign Key Error when deleting a dag"
### Apache Airflow version

2.3.0b1 (pre-release)

### What happened

I tried to delete a dag from the grid view, and I saw this instead

[code]

Also, here are the database pod logs:
[code]

### What you think should happen instead

The dag gets deleted, no error

### How to reproduce

I'm not sure if I can replicate it, but I'll report back here if I can.  So far as I remember the steps were:

1

[2022-04-25 03:44] Sha-of-Lazy opened #23207 "randomly schedule failing when using celery executor and HA scheduler"
### Apache Airflow version

2.2.5 (latest released)

### What happened

The DAG run randomly(about 5%) failed when scheduled. In the web UI it was like 'failed' and 'Not yet started'.
While checking the logs, we find the error below in the scheduler's std output:

[2022-04-25 07:00:00,457] {base_executor.py:85} INFO - Adding to queue: ['airflow', 'tasks', 'run', 'my_dag_id', 'my_dag_id_1', 'schedu

[2022-04-25 04:25] uranusjr commented on #23206
See also #22967.

[2022-04-25 07:05] #23204 closed

[2022-04-25 07:30] potiuk commented on #22248
Closing as #23012 is merged.

[2022-04-25 07:30] #22248 closed

[2022-04-25 07:51] tirkarthi commented on #23129
The below test case works where I am passing a variable "gcp_project" whose value is rendered and passed properly during task instance run. Can you please add a full script or a complete dag example to reproduce this?

The handling of dictionary is done here where the templates are rendered recursively in case of a dictionary :

https://github.com/apache/airflow/blob/e9f9d33b57220347e0171931ba2513

[2022-04-25 08:35] tirkarthi commented on #23124
The referenced PR commit is available from 2.3.0b1 and above : https://github.com/apache/airflow/commit/82e466d8f9b196e1efba44cc15214b9d0bd3b2d1 . Perhaps it needs to be backported/cherry-picked to `v2-2-stable` branch

https://airflow.apache.org/docs/apache-airflow/stable/release-process.html

[2022-04-25 09:03] #23171 closed

[2022-04-25 09:24] potiuk commented on #22657
Maybe you could propose a fix for that @Jmdaming as PR. I do not know what relation it is between different kubernetes implementations but maybe you can do some research on that @Jmdaming - we do not target specific implementations of K8S. Since you are using minikube, you can easily reproduce the problem and propose a PR to fix it. This is the fastest way to get it fixed, otherwise someone will h

[2022-04-25 11:16] #22810 closed

[2022-04-25 12:15] potiuk commented on #21046
Very close to. Just merged a few breeze changes over the weekend that finalized using `breeze` in CI and removing the old build-image code so yeah. I will take a look soon. :)

[2022-04-25 12:16] potiuk commented on #23020
@MatrixManAtYrService  -  maybe you want to take a stab at it and implement it :) ?

[2022-04-25 12:33] #23005 closed

[2022-04-25 14:55] #23168 closed

[2022-04-25 14:59] potiuk commented on #20849
Finally - we are close :). Merged some docker build simplifications in CI and  finally it can be implemented without adding complexity/duplication using the new Python based breeze. :)

[2022-04-25 15:23] potiuk commented on #16176
I really love when people make such precise statement. I looked for your questions and well, I could not find any.
There has never been a polite nor useful answer because you ... never asked any question. Unless of course my search is wrong and you will point out to those impolite and nonuseful answers to questions I could not find.

I think if you want polite answers it's good to be factual and r

[2022-04-25 15:46] edithturn commented on #23085
@potiuk I would like to take this issue gradually.

[2022-04-25 15:52] potiuk commented on #23085
Feel free

[2022-04-25 16:13] edithturn commented on #23085
Just adding some context:

`They cover the whole liffecycle of "kubernetes" development:
deploying and installing kind -> which is  greate "Kubernetes-in-docker"  solution that allows you to set-up development-grade K8S instances if you have Docker running (very good to master kind if you want to do anythoing K8S)
Building and deploying Airflow on the kind cluster using Production Image and Helm C

[2022-04-25 17:05] potiuk commented on #16176
In order to help you (for free in our free time) useful answers, we need You to provide useful input. We did not get it for quite some time in this thread despite asking for it several times.

Thank you for your wishes. We have more than 2000 contributors for the projects  and increasing by day - often those are the people who actually did collaboarate when asked and they were so happy with the an

[2022-04-25 17:07] potiuk commented on #16176
So yes. The project is doing quite fine and we have plenty of happy and collaborating users.

[2022-04-25 17:56] SamWheating commented on #19016
Not yet - thanks for the nudge, I'll look into this now.

[2022-04-25 18:14] bbovenzi commented on #23191
I'm not sure if just making the border thicker really addresses this problem. The blue background of a group doesn't contrast enough with its children.
In a rebuild of the Graph view, I've been playing with the idea of removing zoom all together and replacing it with a minimap. The minimap could give a quick view of state or a button to center a complex DAG on the latest task instance.

[2022-04-25 18:19] MatrixManAtYrService commented on #23191
Now I'm imagining a "follow" mode, where the dag deforms to keep the currently running tasks in view, wherever they are.  Anyhow, it sounds like it's on your radar, and that's all I was really after with this issue.

[2022-04-25 18:27] potiuk commented on #23191
Ok. Let me convert it to discussion and we can always refer to it in the future.

[2022-04-25 18:40] bbovenzi opened #23227 "Ability to clear a specific DAG Run's task instances via REST APIs"
### Discussed in https://github.com/apache/airflow/discussions/23220

<div type='discussions-op-text'>

<sup>Originally posted by **yashk97** April 25, 2022</sup>
Hi,

My use case is in case multiple DAG Runs fail on some task (not the same one in all of them), I want to individually re-trigger each of these DAG Runs. Currently, I have to rely on the Airflow UI (attached screenshots) where I selec

[2022-04-25 18:49] floptical opened #23228 "2.2.5 not honoring min_file_process_interval value, causing very high idle cpu usage."
### Apache Airflow version

2.2.5 (latest released)

### What happened

I am running airflow via the suggested [docker-compose.yml](https://airflow.apache.org/docs/apache-airflow/stable/docker-compose.yaml), which yields us a scheduler that runs dags every second.

I am modifying Apache's docker container with our own Dockerfile from 'apache/airflow:2.2.5'  and then running it via docker-compose.

[2022-04-25 19:06] leahecole commented on #23129
Hi, yep! Here's a complete DAG
[code]

[2022-04-25 20:12] zpinto opened #23232 "Allowing the Airflow Scheduler to use a custom appless security manager"
### Description

Currently, Airflow allows the use of a custom security manager for auth within the web application. The custom security manager class is typically declared in the webserver_config.py and dynamically imported and used by flask_appbuilder when the web application starts.

Outside of the web application, the Airflow Scheduler(specifically DagBag) uses [ApplessAirflowSecurityManager](

[2022-04-25 20:18] eladkal opened #23233 "Remove usage of `days_ago()` from test suite"
### Body

`days_ago()` is deprecated https://github.com/apache/airflow/pull/21653

There are many test using this function thus raising warnings.
This task is to replace all usages of `days_ago()` in the tests with alternatives.
A stale PR that started to work on it https://github.com/apache/airflow/pull/21830 but didn't finish

### Committer

- [X] I acknowledge that I am a maintainer/committer o

[2022-04-25 20:36] potiuk commented on #23049
Closing then. We can reaopen if we find it's not fixed.

[2022-04-25 20:36] #23049 closed

[2022-04-25 20:54] potiuk commented on #23162
Can you add a PR to fix it please? That's the best way to make it happen quickly otherwise it will have to wait for somene to pick it up @Yao-ATG

[2022-04-25 21:05] #23146 closed

[2022-04-25 21:23] potiuk commented on #16703
Yes. The graphs look very much like what I've fixed. But ut was not (and could not) cause crash - as it was not a real memory usage of the application but the kernel cache for log files (it would never be a cause for crash - the memory is freed and removed if needed). The observed memory behaviour matches what my change addressed (overal growth of memory for the working set but the container RSS m

[2022-04-25 22:14] potiuk commented on #21897
Take it :)

[2022-04-26 00:11] #15752 closed

[2022-04-26 00:47] uranusjr commented on #23227
I wonder whether we should overload `clearTaskInstances`, or have a separate endpoint under the DAG run ID prefix instead.

[2022-04-26 07:50] vumdao commented on #9342
Hope this will be released in Airflow 2.3 !

[2022-04-26 09:17] josephine093 opened #23246 "Add api call for changing task instance status"
### Description

In the UI you can change the status of a task instance, but there is no API call available for the same feature.

It would be nice to have an api call for this as well.

### Use case/motivation

I found a solution on stack-overflow on [How to add manual tasks in an Apache Airflow Dag]. There is a suggestion to set a task on failed and change it manually to succeed when the task is

[2022-04-26 10:20] tirkarthi commented on #23246
There is `/api/v1/dags/{dag_id}/updateTaskInstancesState`.

Sample payload : https://github.com/apache/airflow/blob/2bb1cd2fec4e2069cb4bbb42d1a880e905d9468e/tests/api_connexion/endpoints/test_task_instance_endpoint.py#L1205-L1214

[2022-04-26 10:27] ashb commented on #23246
There should probably also be a `POST` to update a single TI just for consistency sake too.

[2022-04-26 10:42] tirkarthi commented on #23246
Agreed, there is also https://github.com/apache/airflow/issues/23227 to clear a given task under a DAG run which seems little similar to this request if my understanding is correct.

[2022-04-26 10:48] Swalloow opened #23249 "Pool option does not work in backfill command"
### Apache Airflow version

2.2.4

### What happened

Discussion Ref: https://github.com/apache/airflow/discussions/22201

Added the pool option to the backfill command, but only uses default_pool.
The log appears as below, but if you check the Task Instance Details / List Pool UI, default_pool is used.

[code]

### What you think should happen instead

The backfill task instance should use a slot

[2022-04-26 10:53] #19222 closed

[2022-04-26 14:31] mattinbits commented on #21171
@uranusjr is it the case then that you prefer a solution that continues to rely on the database to get the current timestamp, rather than adopt `timezone.utcnow()` and calculated the current timestamp within the application? Changing to calculate it on the application side would be the simpler fix, and would be consistent with the other places in the codebase that already work this way.

[2022-04-26 15:02] nivangio opened #23262 "Parsing error of email_conn_id on utils/email.py"
### Apache Airflow version

2.2.2

### What happened

When picking `email_conn_id` from Secrets Manager, the connection is correctly retrieved from ASM but parsed as an URI. For that reason, `login` and `password` parameters are left empty and therefore not picked in `send_mime_email` (lines 189,190).

The connection is stored as follows:

`{"login": "my_email@adress.com",
  "password": "my_passwo

[2022-04-26 15:42] #23068 closed

[2022-04-26 16:15] erdos2n commented on #23246
@ashb @tirkarthi is it possible to get assigned this issue? I would love to take it if possible.

[2022-04-26 17:23] snjypl opened #23266 "wasb hook not using AZURE_CLIENT_ID environment variable as client_id for ManagedIdentityCredential"
### Apache Airflow Provider(s)

microsoft-azure

### Versions of Apache Airflow Providers

apache-airflow-providers-microsoft-azure==3.8.0

### Apache Airflow version

2.2.4

### Operating System

Ubuntu 20.04.2 LTS

### Deployment

Official Apache Airflow Helm Chart

### Deployment details

Have deployed airflow using the official helm chart on aks cluster.

### What happened

I have deployed apa

[2022-04-26 17:31] ronaldpetty opened #23268 "Default location of airflow_yaml_output with k8s provider"
### Apache Airflow version

2.2.5 (latest released)

### What happened

Generating YAML for a DAG for K8s usage.

[code]

### What you think should happen instead

I would have expected the default location to be `$AIRFLOW_HOME/airflow_yaml_output` instead of $HOME.

### How to reproduce

* Install latest airflow
* pip install apache-airflow[cncf.kubernetes]
* launch airflow
* airflow kubernetes g

[2022-04-26 17:57] nivangio commented on #23262
I finally managed to do it. It required for me to set `conn_type`, `port` and `host` in the connection secret in AWS (I'm working with `full_url_mode: false`) as well as placing them in the config because if the URI is not full `username` and `password` are not correctly parsed

It'd be nice to have just one set-up instead. Thx!

[2022-04-26 18:24] edithturn commented on #15994
I need some feedback here, please. Should we skip this validation? I mean add tests/providers/apache/cassandra/jooks/test_casandra.py as a exclude file in the step: check-for-inclusive-language on pre-commits?

![Screenshot from 2022-04-26 13-21-17](https://user-images.githubusercontent.com/58795858/165366578-b4cf9078-1edb-47ba-8226-0f730a475bdc.png)

[2022-04-26 19:20] blag opened #23272 "Breeze-legacy missing flag_build_docker_images"
### Apache Airflow version

main (development)

### What happened

Running `./breeze-legacy` warns about a potential issue:

[code]

And sure enough, `flag_build_docker_images` is referenced but not defined anywhere:

[code]

And I believe that completely breaks `breeze-legacy`:

[code]

### What you think should happen instead

Breeze-legacy should still work. Bash functions should be defined if

[2022-04-26 19:59] mik-laj commented on #23268
By default, we save files in the current working directory, so you need to change the current directory.
https://github.com/apache/airflow/blob/1d875a45994540adef23ad6f638d78c9945ef873/airflow/cli/cli_parser.py#L204

[2022-04-26 20:38] starinfinity opened #23273 "Test Connection button in connections"
### Description

Add a button to test connections in connections.

![Untitled](https://user-images.githubusercontent.com/36023973/165387619-1c283d92-f769-40ce-9843-9bc8fc671ceb.jpg)
connections

### Use case/motivation

Having a test connection button in connection will be helpful while adding new connections.

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am

[2022-04-26 21:56] ronaldpetty commented on #23268
Thanks @mik-laj wasn't seeing that option.

[2022-04-26 21:56] #23268 closed

[2022-04-26 22:43] #23272 closed

[2022-04-26 22:43] potiuk commented on #23272
Fixed. Next time just fix it @blag :)

[2022-04-26 23:56] tirkarthi commented on #23273
cc: @bbovenzi

[2022-04-27 03:41] edithturn commented on #15994
Hello! I have a doubt regarding this:

I am excluding these files:

`   ^airflow/www/fab_security/manager.py$|
          ^airflow/providers/|
          ^tests/providers/apache/cassandra/hooks/test_cassandra.py$|
          ^docs/apache-airflow-providers-apache-cassandra/connections/cassandra.rst$|
          ^docs/apache-airflow-providers-apache-hive/commits.rst$|
          ^docs/*.*$|
          ^te

[2022-04-27 04:16] kurtqq commented on #10206
would be nice to have this configurable

[2022-04-27 04:51] eladkal commented on #15994
We should fix what we can
For example sanity has many alternatives:
https://gist.github.com/seanmhanson/fe370c2d8bd2b3228680e38899baf5cc

[2022-04-27 06:24] msumit commented on #21720
IMO having a Recent of DAGs/Connections/Variables etc is another good way to solve this. In general, I find it common that we don't un-favorite things & they just keep on adding up, like the number of bookmarks in our browsers.

[2022-04-27 08:49] yashk97 commented on #23227
Having a separate endpoint will allow maintaining consistency with the flow to clear the task through the Airflow UI.

The parameters can include the following:

- Task ID to be cleared (A single task ID)
- Whether to clear upstream/downstream tasks too.
- Reset DAG run to set its state to running.

[2022-04-27 08:52] potiuk commented on #15994
I had no idea "sanity check" is a problem. TIL

[2022-04-27 09:44] joppevos commented on #23083
@potiuk I tried to make a start this morning, but some things are not clear to me yet.

We want to run pytest in our container. Too run `docker exec ...pytest`, the container needs to be running.
Do we want `breeze tests` to spin up the container?
A logic like the following:
[code]

In `breeze-legacy`, we ask the user to first spin up the container himself, detached.
I cannot find a command in the

[2022-04-27 12:54] tirkarthi opened #23283 "interactive option is not passed to executor during task run command"
### Apache Airflow version

2.3.0b1 (pre-release)

### What happened

When `--interactive` option is passed during task run command in executor mode the new task run command added to queue doesn't pass `--interactive` causing debugging output to be lost. Example is below case where `invalid_pool` is passed and no debug output is displayed which has the correct error message.

[2022-04-27 18:13:54,

[2022-04-27 15:37] bbovenzi opened #23284 "Get DAG tasks in REST API does not include is_mapped"
### Apache Airflow version

2.3.0b1 (pre-release)

### What happened

The rest API endpoint for get [/dags/{dag_id}/tasks](https://airflow.apache.org/docs/apache-airflow/stable/stable-rest-api-ref.html#operation/get_tasks) does not include `is_mapped`.

Example: `consumer` is mapped but I have no way to tell that from the API response:
<img width="306" alt="Screen Shot 2022-04-27 at 11 35 54 AM" s

[2022-04-27 15:48] tirkarthi commented on #23284
`is_mapped` field can be added to the `TaskSchema` that can return it in response. I can work on a PR if the issue is accepted.

[code]

[2022-04-27 15:50] bbovenzi commented on #23284
@tirkarthi I say go for it!

[2022-04-27 16:28] josh-fell opened #23285 "Cycle incorrectly detected in DAGs when using Labels within Task Groups"
### Apache Airflow version

2.3.0b1 (pre-release)

### What happened

When attempting to create a DAG containing Task Groups and in those Task Groups there are Labels between nodes, the DAG fails to import due to cycle detection.

Consider this DAG:

[code]

When attempting to import the DAG, this error message is displayed:
<img width="1395" alt="image" src="https://user-images.githubusercontent.

[2022-04-27 16:31] potiuk commented on #20579
Yes. There is a full rest API as one of the big features of Airflow 2.0. just look at https://calendly.com/jarekpotiuk/45-mins-one-on-one

[2022-04-27 16:34] kaxil commented on #23285
Can you try this with 2.3.0rc1 too?

[2022-04-27 16:56] bbovenzi commented on #23273
Makes sense to me. Just a heads up, the connections list is generated via a FAB template. So it may be a lot of work to just add that button.

[2022-04-27 16:58] bbovenzi commented on #21720
Maybe just added a updatedAt column and default the sort to the most recently changed?

[2022-04-27 17:16] ashb commented on #23285
Curious.

[code]

group.end thinks it's downstream task is .... itself!

[2022-04-27 17:28] ashb commented on #17469
We are having to revert the PR that fixes this, so re-opening this issue

[2022-04-27 17:34] leahecole opened #23292 "GCP Composer v1.18.6 and 2.0.10 incompatible with CloudSqlProxyRunner"
### Apache Airflow Provider(s)

google

### Versions of Apache Airflow Providers

6.6.0 or above

### Apache Airflow version

2.2.3

### Operating System

n/a

### Deployment

Composer

### Deployment details

_No response_

### What happened

Hi! A [user on StackOverflow](https://stackoverflow.com/questions/71975635/gcp-composer-v1-18-6-and-2-0-10-incompatible-with-cloudsqlproxyrunner
) and some

[2022-04-27 17:35] leahecole commented on #23292
I believe @enocom was interested in submitting a PR for this!
cc @kurtisvg for raising it initially

[2022-04-27 17:43] TreyYi opened #23293 "Fix typos in README.md and airflow_doc_issue_report.yml"
### What do you see as an issue?

Just found small typos as below:

1) Missing a period symbol right after the sentence
 - File Location: README.md
 - Simply added a period at the end of the sentence: "...it is effectively removed when we release the first new MINOR (Or MAJOR if there is no new MINOR version) of Airflow."

2) Typo in Airflow Doc issue report
 - File Location: .github/ISSUE_TEMPLAT

[2022-04-27 17:57] enocom commented on #23292
To summarize, the Cloud SQL Proxy is available in the follow formats:

![image](https://user-images.githubusercontent.com/1175430/165588728-ce6ca510-5474-4ee4-9c0e-71d8392a4a3c.png)

When https://github.com/apache/airflow/pull/22127 was merged, the CloudSQLProxyRunner started looking for a binary with an x86_64 suffix instead of amd64. To fix this, we should probably replace x86_64 with amd64.

[2022-04-27 18:04] ashb commented on #21972
We've reverted the change to edge modifier

[2022-04-27 18:04] #21972 closed

[2022-04-27 18:12] #23285 closed

[2022-04-27 18:55] flaviomax commented on #9967
I am using version 2.2.5 and I am facing the exact same problem.

I believe it must have something to do when communicating with the DB. We also have a pretty big DAG, and are only seeing that behavior on the 3~5 newest tasks.

@doowhtron 's fix probably works, but doesn't fix the root cause (that is causing  `get_task` to throw `AirflowException`). I will try and investigate further.

[2022-04-27 18:56] jackwotherspoon commented on #23292
PR that is linked should hopefully fix the `x86_64` broken download links

[2022-04-27 20:04] sahutd commented on #23162
@potiuk i am interested in filing a fix for this[i might be facing a similar issue described here]

as i have not developed airflow in the past, it might take me some time. in the meantime, if someone wants to file a fix, go for it :)

[2022-04-27 20:06] MatrixManAtYrService commented on #23020
I'd like to, but first I'll have to argue with a certain kanban board.  I'll report back with a link to a draft PR if successful.

[2022-04-27 20:34] auyer opened #23306 "Helm chart production guide fails to inform resultBackendSecretName parameter should be used"
### What do you see as an issue?

The [production guide](https://airflow.apache.org/docs/helm-chart/stable/production-guide.html) indicates that the code below is what is necessary for deploying with secrets. But `resultBackendSecretName` should also be filled, or Airflow wont start.
[code]

In addition to that, the expected URL is different in both variables.
`resultBackendSecretName` expects a u

[2022-04-27 21:30] #23293 closed

[2022-04-28 01:40] MatrixManAtYrService commented on #23206
@bbovenzi Sorry i didn't test multiple, but based on the traceback I kind of doubt it's specific to the view.

It's kind of tricky because it came up in a dag that itself deploys other airflows and runs other dags in them (i.e. a framework, not a test).  It was so unwieldly that I've since broken it up in to smaller pieces.

I can recreate the monster and see if it it breaks again.  I'll dump sche

[2022-04-28 01:49] MatrixManAtYrService opened #23315 "`airflow dags show` Exception: "The node ... should be TaskGroup and is not""
### Apache Airflow version

main (development)

### What happened

This happens for any dag with a task expansion.  For instance:

[code]

I ran `airflow dags show simple_mapped` and instead of graphviz DOT notation, I saw this:

[code]

### What you think should happen instead

I should see something about the dag structure.

### How to reproduce

run `airflow dags show` for any dag with a task e

[2022-04-28 05:14] meteoDaniel opened #23318 "Airflow ignores schedule dates from cron"
### Apache Airflow version

2.2.5 (latest released)

### What happened

I have defined a DAG

[code]
And it should run 4 times a day, according to the defined cron `50 3,9,15,21 * * * `

But airflow skips every second run.

![Bildschirmfoto vom 2022-04-28 07-06-51](https://user-images.githubusercontent.com/27021858/165680614-54b24dec-6069-4174-8835-003fd82c39dd.png)

### What you think should happ

[2022-04-28 06:34] tirkarthi commented on #23284
Thanks @bbovenzi , created https://github.com/apache/airflow/pull/23319

[2022-04-28 07:48] ramwin opened #23321 "the api.auth_backend setting not working."
### Apache Airflow version

2.2.5 (latest released)

### What happened

If I just set the `airflow.cfg` file
[code]
the rest api didn't work, it returns
[code]

I found the solution on [stackoverflow](https://stackoverflow.com/a/65593173/3601654). After setting the `AIRFLOW__API__AUTH_BACKEND` environment variable, the rest api works.

### What you think should happen instead

The rest api show be

[2022-04-28 07:48] kaojunsong commented on #17045
@Calder-Ty Thanks a lot, I have fixed my issue by adding
`
def __reduce__(self):
    return ParameterValidationException, (self.reason, self.component)
`
to my custom Exception, as the pickle library needs to unpicle data from log files.
https://www.synopsys.com/blogs/software-security/python-pickling/#:~:text=Whenever%20an%20object%20is%20pickled,reconstruct%20this%20object%20when%20unpickling.

[2022-04-28 07:58] bhirsz commented on #22430
Hey, please set this issue as "in progress" (so it has better visibility in linked project). The following system tests are in progress  (in review):
- tests/providers/google/cloud/operators/test_text_to_speech_system.py   #23247
- tests/providers/google/cloud/operators/test_tasks_system.py #23282
- tests/providers/google/cloud/operators/test_stackdriver_system.py #23320

[2022-04-28 08:27] eladkal commented on #21720
Most recently changed doesn't necessarily mean most important one but sorting capabilities in general is a good thing to have.

[2022-04-28 09:10] potiuk commented on #22447
BTW. I will automate refreshing the list shortly :) @bhirsz :)

[2022-04-28 09:42] bhirsz commented on #22430
Watch out - it looks like you catched "I need to automate it disease" it's highly contagious! :)

[2022-04-28 09:52] eladkal commented on #22983
provider was released. closing issue

[2022-04-28 09:52] #22983 closed

[2022-04-28 09:58] ephraimbuddy commented on #23321
It worked for me.
After installing airflow. Once you run `airflow standalone` it'll start with default `airflow.cfg`. Stop and set the `auth_backend = airflow.api.auth.backend.basic_auth`. Start `airflow standalone` and it should work.

Steps:
[code]
Stop and update `auth_backend = airflow.api.auth.backend.basic_auth` in `airflow.cfg`.
Works.

You should make sure that your `airflow.cfg` is in the

[2022-04-28 09:58] ephraimbuddy commented on #23321
Let me know if the above steps worked for you

[2022-04-28 10:18] tirkarthi commented on #23318
Do you have `catchup_by_default` set to False since adding the job later in the day with `catchup` as False might result in missed run as below example in docs. Does this happen everyday where only 2 runs are executed?

https://airflow.apache.org/docs/apache-airflow/stable/dag-run.html#catchup

[2022-04-28 10:19] PrideIsLife commented on #15294
Hi,
When is the `CronTimetable` class supposed to be implemented @jedcunningham ?
I saw that the API-39 was completed and added to airflow 2.0 but I can't see to find the class.

[2022-04-28 10:55] ephraimbuddy commented on #23246
Problem with this is the date range that it clears. Yeah, will be good to be more specific

[2022-04-28 11:14] Bowrna commented on #23083
@joppevos
https://github.com/apache/airflow/pull/23052 - This is in the new breeze where you can join the shell of interactive airflow container to execute commands. It's not yet merged.

[2022-04-28 11:14] ephraimbuddy commented on #23206
I ran into this, it's irregular because after I stopped my airflow instance and restarted it, it didn't happen again.
The DAG has a tag on it, one failed dag run among multiple dagruns.

Looking at the code, I feel we should add `delete` to the cascade options here:
https://github.com/apache/airflow/blob/7c9852fd66a017e360a6a663e04294b61c5b6c66/airflow/models/dag.py#L2684

cc: @ashb

[2022-04-28 11:15] spatocode commented on #23162
I'll be picking this up, then.

[2022-04-28 11:17] meteoDaniel commented on #23318
@tirkarthi I have tested both and it was the same every day.

The schedule from 9:50-15:50 and from 15:50 to 21:50 ran but the ones from 21:50 to 3:50 and from 3:50 to 9:50 not.

The one covers a change in date?
I have started airflow yesterday. So I expected that these two runs will be scheduled.

[2022-04-28 11:21] algoexpert12 opened #23324 "Image not building up"
### Apache Airflow version

2.2.3

### What happened

error: failed to solve: executor failed running [/bin/bash -o pipefail -o errexit -o nounset -o nolog -c pip install --no-cache-dir --user my-awesome-pip-dependency-to-add]: exit code: 1

### What you think should happen instead

Image should build successfully

### How to reproduce

./breeze --python 3.8 --backend sqlite

### Operating System

[2022-04-28 11:40] tirkarthi commented on #23324
cc: @potiuk

[2022-04-28 12:27] nitinmuteja opened #23327 "GCSTransformOperator: provide Jinja templating in source and destination object names"
### Description

Provide an option to receive the source_object and destination_object via Jinja params.

### Use case/motivation

Usecase: Need to execute a DAG to fetch a video from GCS bucket based on paramater and then transform it and store it back.

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agr

[2022-04-28 12:54] #23284 closed

[2022-04-28 13:35] thcidale0808 commented on #21381
hi @holamap . yes, I'm aiming to finish the PR this weekend.

[2022-04-28 13:42] #23292 closed

[2022-04-28 14:31] potiuk commented on #22430
Actually this is  chronic disease of mine. I think I caught it some 20 years ago :)

[2022-04-28 15:35] #22906 closed

[2022-04-28 16:09] kostiantyn-lab commented on #22810
@kianelbo I've found error in your patch
[code]

I see two ways to fix it
1. Add `context: Dict` as parameter to `def issue_field_checker(self, issue: Issue) -> Optional[bool]`
2. Remove `context` parameter from the `return self.result_processor(context, jira_result)`

[2022-04-28 16:22] ashb commented on #23246
From a RESTy point of view I like and end point where the task id is in the URL :)

[2022-04-28 17:07] #23327 closed

[2022-04-28 17:27] RNHTTR commented on #23315
I'm able to reproduce in breeze. I'd be happy to take this one.

[2022-04-28 19:17] jaketf opened #23337 "Suspend Airflow API endpoint"
### Description

add a global `/suspend` and `/resume` endpoint to the REST API (and corresponding CLI command) that would do the following for the entire airflow deployment:

`/suspend`
- pause all currently unpaused DAGs (keeping track of what was previously unpaused in the metadata db)
- Set `AIRFLOW__SCHEDULER__USE_JOB_SCHEDULE=False` (if not already false) to prevent scheduler from scheduling

[2022-04-28 19:19] potiuk commented on #23315
Assigned to you @RNHTTR :)

[2022-04-28 19:31] #21104 closed

[2022-04-28 19:48] RNHTTR commented on #23315
I've found the issue. Task expansion creates a `MappedOperator`, which interestingly inherits from `AbstractOperator` and not `BaseOperator`.

`airflow dags show` ultimately users `[dot_renderer.py](https://github.com/apache/airflow/blob/main/airflow/utils/dot_renderer.py#L117-L118)` to draw the DAG, and it checks that each node is either a `TaskGroup` or a `BaseOperator`, thus the error. I'll put

[2022-04-28 20:09] themax087 commented on #23318
Can you try to make start_date static instead of dynamic? I think it can make some trouble.

[2022-04-28 20:17] meteoDaniel commented on #23318
@themax087 I had the same idea 5 minutes ago on my way to bed 😅

I think the scheduler takes the Argument multiple times and each time it will interrupt schedule from 21:50-3:50 and 3:50-9:50. .

[2022-04-28 21:55] TerryYin1777 commented on #16610
any updates on this? I have the same issue with @SamiRehmanNostra. I'm on airflow 2.2.2

[2022-04-28 22:09] collinmcnulty opened #23343 "Silent DAG import error by making owner a list"
### Apache Airflow version

2.2.5 (latest released)

### What happened

If the argument `owner` is unhashable, such as a list, the DAG will fail to be imported, but will also not report as an import error. If the DAG is new, it will simply be missing. If this is an update to the existing DAG, the webserver will continue to show the old version.

### What you think should happen instead

A DAG impo

[2022-04-29 01:41] ramwin commented on #23321
It works, thank you, @ephraimbuddy . It's because I start the airflow in the wrong directory.

[2022-04-29 01:41] #23321 closed

[2022-04-29 02:53] hancyhancy123 commented on #15503
Hi, I have run up with the same issue.And I wonder that if you have solve the problem.

[2022-04-29 05:13] hankehly commented on #22708
@blag I will take info and jobs

[2022-04-29 05:36] pankajmakwana6 opened #23347 "AttributeError: 'EMR' object has no attribute 'put_auto_termination_policy'"
### Apache Airflow version

2.0.0

### What happened

not able to update AutoTermination policy of EMR cluster through AWS managed Airflow

  response = client.put_auto_termination_policy(
        ClusterId=job_flow_id,
        AutoTerminationPolicy={
            'IdleTimeout': 5
        }
    )

tried with different version of EMR clusters like 5.30.0 , 6.3.0 etc .

 File "/usr/local/airflow/dags

[2022-04-29 05:45] rsg17 commented on #21708
Hi @potiuk : I would like to take a pass at this.
Would appreciate any suggestions / pointers to get started

[2022-04-29 08:15] kianelbo commented on #22810
I'm embarrassed... I hope https://github.com/apache/airflow/pull/23352 does the trick.

I decided to go with the second solution since github sensor and arangodb operator are written in a similar way.

[2022-04-29 08:33] meteoDaniel commented on #23318
@eladkal dynamic start_date was not my intention. In the past I had some trouble with catch up so I thought it would be a nice idea to have start_date always equal the day I update the project. So I ran into this issue.

My problem is solved so far.

[2022-04-29 08:33] #23318 closed

[2022-04-29 08:57] leeft95 opened #23356 "Tasks set to queued by a backfill get cleared and rescheduled by the kubernetes executor, breaking the backfill"
### Apache Airflow version

2.2.5 (latest released)

### What happened

A backfill launched from the scheduler pod, queues tasks as it should but while they are in the process of starting the kubernentes executor loop running in the scheduler clears these tasks and reschedules them via this function https://github.com/apache/airflow/blob/9449a107f092f2f6cfa9c8bbcf5fd62fadfa01be/airflow/executors/k

[2022-04-29 10:43] michaelosthege commented on #11882
We're seeing this with Airflow 2.2.5 on Ubuntu 22.04 running with the CeleryExecutor.
Also [this StackOverflow post ](https://stackoverflow.com/questions/67735179/airflow-2-0-celery-dask) reported it for Airflow >2.0 with Celery.

For us it happens in a Celery worker that's trying to run a task involving `pygmo` (https://esa.github.io/pygmo2/) which uses a lot of multiprocessing.

Our worker has `

[2022-04-29 11:30] eladkal commented on #23273
There is test connection button just not from the connection table.
Testing a connection is not a common action in the day to day work unless it's a new connection and then you need to edit the connection in any case. So I think the extra step of entering the edit connection menu to be able to test the connection is not that bad/annoying.

Given what @bbovenzi mention about effort I think we shoul

[2022-04-29 11:31] michaelosthege commented on #11882
I should have be clearer: We're not using the SubDagOperator, just the PythonOperator.

[2022-04-29 11:50] tirkarthi commented on #23343
I am unable to reproduce this with below test case and adding the file to my dags folder is able to load it though owner is set as empty.

[code]

[2022-04-29 12:06] atpage opened #23358 "paused DAGs still generate (large) logs"
### Apache Airflow version

2.2.2

### What happened

I noticed that my log folder (`~/airflow/logs/`) was getting very large.  To my surprise, 90% of it is from the example DAGs, which are all paused.  These disabled examples are generating ~110MB of logs every day.  I can't find a solution other than (presumably) removing the examples.

### What you think should happen instead

Paused DAGs shoul

[2022-04-29 12:13] tirkarthi commented on #23343
Ok, I am able to reproduce with this test as below where there are no import errors. I didn't have cluster_policy enabled in my local airflow which validates the owner to be non-default. With owner being non-string it causes error from below traceback

[code]

[code]

[code]

[2022-04-29 12:29] tirkarthi commented on #23343
Created https://github.com/apache/airflow/pull/23359 as a fix to check for type and raise `AirflowClusterPolicyViolation` with appropriate message.

[2022-04-29 13:05] hkc-8010 opened #23361 "Scheduler crashes with psycopg2.errors.DeadlockDetected exception"
### Apache Airflow version

2.2.5 (latest released)

### What happened

Customer has a dag that generates around 2500 tasks dynamically using a task group. While running the dag, a subset of the tasks (~1000) run successfully with no issue and (~1500) of the tasks are getting "skipped", and the dag fails. The same DAG runs successfully in Airflow v2.1.3 with same Airflow configuration.

While inve

[2022-04-29 13:06] hkc-8010 commented on #19957
created a new issue to track Deadlock exception #23361

[2022-04-29 13:12] abhishekbhakat commented on #23361
I faced the same issue with [airflow 2.3.0rc2](https://github.com/apache/airflow/tree/2.3.0rc2)
Had a basic dag added.
[code]

Added scheduler logs in attachments.
[logs.txt](https://github.com/apache/airflow/files/8591012/logs.txt)

[2022-04-29 13:12] hkc-8010 commented on #23361
[scheduler.log](https://github.com/apache/airflow/files/8591015/scheduler.log)

[2022-04-29 16:01] cguermi opened #23364 "scheduler does not appear to be running, cannot run a simple Dag"
### Official Helm Chart version

1.5.0 (latest released)

### Apache Airflow version

2.2.4

### Kubernetes Version

1.22.2

### Helm Chart configuration

# ===========================================#
# Apache Airflow related configuration       #
# ===========================================#

airflow:
  executor: "CeleryExecutor"
  config:
    core:
      default_timezone:  Europe/Paris
    api

[2022-04-29 16:09] potiuk commented on #22865
What do you mean by "false"? This is a real connection you should have here?

[2022-04-29 16:17] leahecole commented on #23129
UPDATE: It's not the nested dictionary - it's the project name being passed in as the default arg

[2022-04-29 18:53] GabeChurch commented on #9975
If you are on an older version of airflow that has this problem you can add concurrency setting to you dag (ie concurrency = some_num ). That or depends_on_past = True

[2022-04-29 19:50] dacort commented on #20215
Working on moto PR as well so we can get ahead of tests. :) https://github.com/spulec/moto/issues/5071

[2022-04-30 05:07] erdos2n commented on #23227
This sounds like a similar issue I'm currently working on to update a taskInstanceState via the API, the current endpoint is a `POST:   /dags/{dag_id}/dagRuns/{dag_run_id}/taskInstances/{task_id}:`

the body of the work I'm doing contains the following, which should suffice for this, if I'm not mistaken

[code]

Though currently this endpoint does not support a date-range

[2022-04-30 10:22] potiuk opened #23375 "Status of testing Providers that were prepared on April 30, 2022"
### Body

I have a kind request for all the contributors to the latest provider packages release.
Could you please help us to test the RC versions of the providers?

Let us know in the comment, whether the issue is addressed.

Those are providers that require testing as there were some substantial changes introduced:

## Provider [cncf.kubernetes: 4.0.1rc1](https://pypi.org/project/apache-airflow-

[2022-04-30 14:46] dimon222 commented on #23375
#22982 verified already - works

[2022-04-30 16:09] jedcunningham commented on #23375
Tested #23371 with KubernetesExecutor, CeleryExecutor, and `reattach_on_restart` True/False.
#22734 is also working.

[2022-04-30 17:46] #23315 closed

[2022-04-30 19:11] #23249 closed

[2022-04-30 19:27] potiuk commented on #23266
Feel free to fix it.

[2022-04-30 19:35] potiuk commented on #23262
Yeah. PRs to fix it are most welcome @nivangio !

[2022-04-30 21:57] Matheus-Homem opened #23381 "Problem after closing scheduler before pausing DAG"
### Apache Airflow version

2.2.5 (latest released)

### What happened

Coding its the same, I did't change and AirFlow stop working. I guess it is because I closed apache scheduler before pausing the DAG and then deleted the DAG.

`Something bad has happened.

Airflow is used by many users, and it is very likely that others had similar problems and you can easily find
a solution to your problem.

[2022-04-30 23:34] karunpoudel commented on #23375
Verified #22871, it's working

[2022-04-30 23:36] potiuk commented on #23375
Cool. Thanks everyone. We just released it - earlier - to accompany 2.3.0 . Closing the issue :)

[2022-04-30 23:36] #23375 closed

[2022-05-01 10:58] #22878 closed

[2022-05-01 10:59] #22418 closed

[2022-05-01 11:53] potiuk commented on #15635
The 2.3.0 now officially supports ARM64 and AMD64:

<img width="438" alt="Screenshot 2022-05-01 at 13 41 28" src="https://user-images.githubusercontent.com/595491/166144576-274903b9-1b31-41e9-a3c7-360aa1972f22.png">

Closing this one :).

[2022-05-01 11:53] #15635 closed

[2022-05-01 15:29] potiuk commented on #20849
Discussion about support for adding those images here: https://lists.apache.org/thread/g2jp5s9cqgwhltz7wd3gkxb7vnnkrp5n - please chime-in @mgorsk1 @eladkal  :) - we are perfectly ready to release such slim images and #23391 is all that we need :). I hope the discussion/consensus will be quick.

[2022-05-01 18:54] yeachan153 commented on #21897
Sorry for the delay, @ashutoshcipher I checked whether you had already made a PR but I couldn't so I just made a PR.

[2022-05-01 19:08] ashutoshcipher commented on #21897
Thanks  @yeachan153

[2022-05-02 00:42] rahulgoyal2987 opened #23396 "Airflow kubernetes pod operator fetch xcom fails"
### Apache Airflow version

2.3.0 (latest released)

### What happened

Airflow kubernetes pod operator load xcom fails
 def _exec_pod_command(self, resp, command: str) -> Optional[str]:
        if resp.is_open():
            self.log.info('Running command... %s\n', command)
            resp.write_stdin(command + '\n')
            while resp.is_open():
                resp.update(timeout=1)

[2022-05-02 04:57] zeevo commented on #15635
@potiuk You are awesome! Thanks

[2022-05-02 05:01] houqp commented on #15635
Thank you @potiuk !

[2022-05-02 07:31] Bowrna commented on #23227
Could I take this issue and try fixing it? This is the first time I am working on the REST APIs part.

[2022-05-02 09:34] nuclear0wl commented on #21225
hello @meetri, could you please provide more info about you modification to Docker image? I also mentioned that I'm getting "lost" Queued tasks when turning on Redis-based autoscaling but can't understand how some kind of *dumb-init* can help to avoid an issue in this situation.

[2022-05-02 10:01] ephraimbuddy commented on #23227
I have assigned it to you @Bowrna

[2022-05-02 10:22] yashk97 commented on #23227
I'm sorry, but I received an email about a comment by Rafael Carrasco (have attached the screenshot). I wasn't able to locate the same on the issue page. I think it would be better to clear things up so that two people don't end up working on the same thing.

![image](https://user-images.githubusercontent.com/25115516/166219740-33e4d595-3f1b-4c61-a1da-bd2213baca34.png)

[2022-05-02 10:58] #23343 closed

[2022-05-02 11:42] eladkal commented on #20849
@potiuk just to clarify about the policy. What will happen to the 3.7 image when we drop Python 3.7 support?
the image still be available right? The thread mention matrix of 3*4 = 12 images but this number is not static.. it will always grow isn't it?

[2022-05-02 12:02] tothandor opened #23400 "Datetimes are not timezone aware in template variables"
### Apache Airflow version

2.3.0 (latest released)

### What happened

One could expect by [the documentation about timezones](https://airflow.apache.org/docs/apache-airflow/stable/timezone.html), that Airflow will respect `default_timezone` (from airflow.cfg [core]) or a DAG's `timezone`, no matter how it stores timestamps internally (UTC).
But the [template variables](https://airflow.apache.org

[2022-05-02 12:11] raphaelauv opened #23403 "Python 3.6 is still present in the main README"
### What do you see as an issue?

![Screenshot from 2022-05-02 14-11-06](https://user-images.githubusercontent.com/10202690/166231487-511108df-42a5-47b5-92db-667b7b623c82.png)

### Solving the problem

remove 3.6 from 2.3 release

### Anything else

_No response_

### Are you willing to submit PR?

- [ ] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's

[2022-05-02 13:19] potiuk commented on #23403
PR to fix it maybe ?

[2022-05-02 13:21] potiuk commented on #20849
Nope. It won't. Once we drop 3.7 we will stop releasing them. Same as we did with 3.6 - there is no more `2.3.0-python3.6` image.

[2022-05-02 13:28] potiuk commented on #23403
@raphaelauv ?

[2022-05-02 13:29] erdos2n commented on #23227
@yashk97 Please disregard that message, as I deleted it.

[2022-05-02 13:30] yashk97 commented on #23227
@erdos2n Thanks for the clarification.

[2022-05-02 14:23] Jorricks opened #23406 "Multiple DagRuns for the same day after changing the DAG schedule and re-running old tasks."
### Apache Airflow version

2.2.3

### What happened

In our use-case we often back-fill DAGs(using the clear functionality of DAGRuns) and sometimes have to change DAG schedules. \
This used to be very smooth and without problems, however, we noticed that something changed in the recent versions.

Imagine you have a long running DAG with a schedule of `0 4 * * *`. \
When you clear an old DagRuns

[2022-05-02 14:25] martinrw opened #23407 "Logs endlessly refreshing on completed DAGs"
### Apache Airflow Provider(s)

elasticsearch

### Versions of Apache Airflow Providers

apache-airflow-providers-amazon==3.0.0
apache-airflow-providers-celery==2.1.0
apache-airflow-providers-cncf-kubernetes==3.0.2
apache-airflow-providers-docker==2.4.1
apache-airflow-providers-elasticsearch==2.2.0
apache-airflow-providers-ftp==2.0.1
apache-airflow-providers-google==6.4.0
apache-airflow-providers-