[2021-09-27 16:04] potiuk commented on #18546
That is unlikely to happen soon IMHO.

It's a dificult one to pull if you consider how Python code is parsed, it would be next-to-impossible to find out which files to include extra and specifying them manually misses the point.

I also think Airflow is NOT good to show code other than DAG code - it's not "code browser" there is little value and high complexity to make a UI that would let you navi

[2021-09-27 16:04] #18546 closed

[2021-09-27 19:22] eladkal commented on #16919
@SasanAhmadi are you working on this issue?

[2021-09-27 19:24] eladkal commented on #17314
solved in https://github.com/apache/airflow/pull/17816

[2021-09-27 19:24] #17314 closed

[2021-09-27 19:28] eladkal commented on #15000
@zachliu @kanga333 did remove retry for now #16150 solved the problem?

[2021-09-27 19:31] eladkal commented on #12680
This feels like a very custom use case for your needs.
You can do that with a custom operator.

[2021-09-27 19:31] #12680 closed

[2021-09-27 19:53] zachliu commented on #15000
@eladkal unfortunately no, #16150 was for another issue that's only somewhat related to this one

[2021-09-27 21:06] #18458 closed

[2021-09-27 21:22] ShakaibKhan commented on #17962
started pr to address this: https://github.com/apache/airflow/pull/18557

[2021-09-27 22:09] rafaelwsan opened #18558 "Login failed in UI after setting Postgres external database in the helm chart"
### Official Helm Chart version

1.1.0 (latest released)

### Apache Airflow version

2.1.2

### Kubernetes Version

1.20.9

### Helm Chart configuration

[code]

### Docker Image customisations

_No response_

### What happened

Login failed in UI after setting Postgres external database in the helm chart.
Message: Invalid login. Please try again.

The user/password configured in values.yaml is a

[2021-09-27 22:14] enrique-ayala opened #18559 "dag_run.start_date not available from SubDag"
### Apache Airflow version

2.1.4 (latest released)

### Operating System

Ubuntu 20.04

### Versions of Apache Airflow Providers

_No response_

### Deployment

Virtualenv installation

### Deployment details

_No response_

### What happened

Access to dag_run.start_date attribute from subdag returns `None`.

### What you expected to happen

Return DagRun.start_date of parent_dag (working on 2.1

[2021-09-27 22:21] rafaelwsan commented on #18558
All tables were created successfully after chart upgrade, but UI login still fail

[2021-09-28 00:27] GaoJiaChengPaul commented on #16881
Hi All,

We are having the same problem as below discussion. In our case we are running 2 schedulers in two different clusters with Kubernetes Executor.

#18455

@ashb
Hi Ashb,
Any suggestions about this?

[2021-09-28 01:20] ShakaibKhan commented on #17487
I would like to try implementing this

[2021-09-28 06:59] bbovenzi commented on #17487
Sweet. Just assigned you. Feel free to reach out if you need anything!

[2021-09-28 07:42] bhavaniravi commented on #18559
Related to #18491

[2021-09-28 09:35] ambeshsingh commented on #12103
I am facing the same issue, any solution or workaround?

[2021-09-28 09:52] #18286 closed

[2021-09-28 10:03] hellmean commented on #13542
Having a similar issue. The dags' status is green, but the underlying tasks are in the queue, and they won't proceed for days. When you clear the dag run, it starts to go fine again. The restart of the executor does not do anything.

airflow 2.1.1, Postgres, 13.3 standalone executor, we use Python operators only
<img width="1668" alt="Screenshot 2021-09-28 at 12 01 51" src="https://user-images.git

[2021-09-28 10:32] billstark commented on #18468
I think for this problem we can do something like
[code]

[2021-09-28 10:44] bbovenzi commented on #18492
@bhavaniravi Would you mind fixing the formatting of the example dag so I can test this out locally?

[2021-09-28 10:49] bhavaniravi commented on #17814
I could recreate this issue locally and found a few more insights
Ran airflow with 5 DAGs(non-example)

1. when no dags are active, the `last_dagrun` API returns an empty dict. The loading issue is only on the UI
2. when the 1st DAG is activated, the `last_dagrun` sends an error until the task is completed
3. 1st DAG ran successfully, and the last run was populated. UI is no longer loading
4.  The

[2021-09-28 10:51] bbovenzi commented on #17413
Nevermind, I have now replicated the issue.

[2021-09-28 10:58] bhavaniravi commented on #18492
Done @bbovenzi

[2021-09-28 14:44] AlessioC31 commented on #15687
Any news? I have the same problem, [here](https://airflow.apache.org/docs/apache-airflow/2.0.1/executor/celery.html) they say ```The worker needs to have access to its DAGS_FOLDER, and you need to synchronize the filesystems by your own means. A common setup would be to store your DAGS_FOLDER in a Git repository and sync it across machines using Chef, Puppet, Ansible, or whatever you use to config

[2021-09-28 15:26] bbovenzi commented on #18369
It doesn't appear to be a browser issue. Could you provide a sample DAG that this happens on? I'm sorry, I'm still unable to get this happening locally with any of my Task Group DAGs

[2021-09-28 15:30] #13559 closed

[2021-09-28 16:14] potiuk commented on #18558
Are you sure you have `webserver.defaultUser.enabled` set to True?  What is the output of `airflow-create-user` job then ? https://github.com/apache/airflow/blob/main/chart/templates/jobs/create-user-job.yaml ?

I believe this is really a discusion of your configuration ain issue of airflow. Converting it to discussion.

[2021-09-28 16:15] #18558 closed

[2021-09-28 16:16] potiuk opened #18578 "Allow to set execution_timeout default value in airflow.cfg"
### Discussed in https://github.com/apache/airflow/discussions/18411

<div type='discussions-op-text'>

<sup>Originally posted by **alexInhert** September 21, 2021</sup>
### Description

Currently the default value of execution_timeout in base operator is None
https://github.com/apache/airflow/blob/c686241f4ceb62d52e9bfa607822e4b7a3c76222/airflow/models/baseoperator.py#L502

This means that a task

[2021-09-28 16:17] potiuk commented on #18578
cc: @alexinhert

[2021-09-28 16:19] potiuk commented on #18578
Details in #18411

[2021-09-28 16:35] potiuk commented on #14396
I believe so far simply no-one else found it really useful or needed. We usually do not plan work. Actually if you would like to convince others that this is useful and helpful - why don't you create a Draft PR with it and share it here to see how it can look like so that you could reiterate your points showing them with a real code. If you convince others (including myself), we will merge it. If

[2021-09-28 16:38] #18136 closed

[2021-09-28 16:58] jyotsa09 opened #18579 "Current task instances state remains unchanged after updating the state to success/failed through API"
### Apache Airflow version

2.2.0b2 (beta snapshot)

### Operating System

Debian buster

### Versions of Apache Airflow Providers

_No response_

### Deployment

Astronomer

### Deployment details

Astro dev start

### What happened

Current task instance state remains unchanged after updating the state to success/failed through API. Also if the "include_past" in payload is true then Its updating

[2021-09-28 17:05] stephenonethree commented on #16344
I am also experiencing this issue when upgrading from Airflow 2.0.2 to 2.1.2. The error comes up when running `airflow db upgrade` itself.

[code]

[2021-09-28 17:29] stephenonethree commented on #16344
Update: In my case I was able to fix it by:

1) Change my Pipfile (which I use to control the environment where I have Airflow installed) to `apache-airflow-providers-postgres="==2.0.0"`. Previously I had it at `1.0.2`
2) Rebuild local virtualenv (`pipenv --rm` and `pipenv install`)
3) Rerun `airflow db upgrade`

I'm not certain whether bumping the provider package helped (not sure if `airflow db

[2021-09-28 17:57] bbovenzi commented on #18492
I was able to add a check for `CustomSubDagOperator` for the graph and tree view but I will get this error `DAG "test_subdag_operator.section-1" seems to be missing from DagBag.` This appears to be beyond a UI issue.

[2021-09-28 19:21] fritz-astronomer opened #18582 "Allow Pools to be set via ENV"
### Description

As a system/airflow admin - I prefer being able to see all the various configurations of my instance, and being able to version and audit them.

Pools are a very important subsystem in Airflow - however they are currently only configurable via the UI and CLI.

I would like to be able to configure Pools via ENV variables, as I am able to with configuration settings, connections, an

[2021-09-28 19:22] fritz-astronomer commented on #18378
This is a feature that I regularly need to assist others with - there are many tuning options for both Global and DAG based parallelism, and it's _very_ obtuse why a task or DAG might not be being scheduled. The scheduler logs are very overwhelming for most people - and that's currently the only place to find this information.

[2021-09-28 19:42] enriqueayala opened #18583 "max_active_runs ignored with TriggerDagRunOperator"
### Apache Airflow version

2.1.4 (latest released)

### Operating System

Ubuntu 20.04

### Versions of Apache Airflow Providers

_No response_

### Deployment

Virtualenv installation

### Deployment details

_No response_

### What happened

`max_active_runs` isn't respected when dag is triggered externally by TriggerDagRunOperator

### What you expected to happen

Limit number of concurrent ru

[2021-09-28 19:50] leonsmith commented on #15687
So after tweaking a couple of things from my work in progress merge request this is still throwing an error when the task is picked up from the worker.

[code]

[2021-09-28 19:59] stephenonethree opened #18587 "vertical spacing between tasks has increased significantly in Graph View"
### Apache Airflow version

2.1.2

### Operating System

Multiple (Mac and Cloud Composer)

### Versions of Apache Airflow Providers

apache-airflow-providers-postgres = "==2.0.0"

### Deployment

Composer

### Deployment details

composer-1.17.1-airflow-2.1.2

### What happened

This is related to Graph View in the Airflow UI. Parallel tasks used to be relatively tightly-spaced (vertically speaki

[2021-09-28 20:01] agentdanger commented on #17120
Is there an update on when this fix will be released?  I'm having a similar issue with Aiflow 2.1.4.  I'm getting an error when I run scheduler as a daemon process on my local instance

[2021-09-28 20:05] agentdanger commented on #17120
[code]

[2021-09-28 20:17] ephraimbuddy commented on #18583
This PR https://github.com/apache/airflow/pull/18226 seems to have fixed this

[2021-09-28 21:26] alex-astronomer opened #18592 "KubernetesPodOperator env_vars parameter cannot be used with render_template_as_native_obj=True in the right circumstances"
### Apache Airflow version

2.1.3

### `apache-airflow-providers-cncf-kubernetes` version

2.0.2

### Operating System

macOS Big Sur 11.3.1

### Versions of Apache Airflow Providers

n/a

### Deployment

Virtualenv installation

### Deployment details

completely stock, off the shelf, virtualenv installation with 2.1.3 and Python 3.8

### What happened

When using the KubernetesPodOperator, env_v

[2021-09-28 21:33] potiuk commented on #16344
It was `airflow db upgrade`. See https://airflow.apache.org/docs/apache-airflow/stable/installation/setting-up-the-database.html where it is specified that you should run `airflow db upgrade` every time you upgrade airflow.

[2021-09-28 21:48] stephenonethree commented on #18041
+1, had this happen to a lot of subclassed BaseSensorOperators in 2.1.2 with errors like the below. I was running a lot of them in parallel when it happened - possibly more than my system could handle, though I had been hoping for a more graceful handling of the situation.

[code]

[2021-09-28 21:52] #14168 closed

[2021-09-28 21:52] stephenonethree commented on #16344
@potiuk I think there may be a misunderstanding - what I'm saying is that I upgraded my Airflow package, ran `airflow db upgrade` after upgrading and got the error. Then I followed the 3 steps in my previous comment and it worked.

So the first time after upgrading it did not work, after that it started working.

[2021-09-28 22:02] potiuk commented on #16344
Are you sure you run it with the right DB and that it succeeded? I believe you might have upgraded diferent DB the first time.

[2021-09-28 22:05] potiuk commented on #16344
There is no way that if you run `db upgrade' with new airflow and the right DB you get different result that running it for the second time - so what I am saying is that you could have run it in different environment/different DB /previous version of airflow.

It woudl be great if you get to the bottom of it because maybe the sequence of operations (upgrading airflow/db etc. ) could be just wrong

[2021-09-28 22:44] jedcunningham commented on #18592
I'm a little surprised this doesn't already work as support should have been added in #14083 (and a follow up of #14123).

[2021-09-28 22:48] jedcunningham commented on #18592
@alex-astronomer, can you make sure you have the latest version of `apache-airflow-providers-cncf-kubernetes` installed? (Also add the version of the provider to the description please)

[2021-09-28 22:49] alex-astronomer commented on #18592
Ah those changes look like template strings nested within a list of `V1EnvVar`s.  The change here would be to allow

[code]

Where the return value of `some_python_task` is a dictionary which gets converted to that `List[V1EnvVar]` in the constructor.

I'll install the latest version right now and let you know what happpens.

[2021-09-28 23:00] jedcunningham commented on #18592
Gotcha, I see what you mean now, I missed what you were after (even though it was in the title 🤦‍♂️). I don't think the latest version will help, but still add it into the description.

[2021-09-28 23:03] alex-astronomer commented on #18592
Yep, done!  What do you think about this bug... Seems like `render_template_as_native_obj` is something that we should honor by calling anything that operates on templated fields after the constructor once those templates are allowed to render.  I'm testing some ideas right now but open to feedback.

[2021-09-29 01:12] davidcaron commented on #18369
We had the same issue in most of our dags (most have task groups, but I didn't realise it could be related)

I think the problem was introduced in https://github.com/apache/airflow/pull/17821/commits/abc68d05ab3d579afa4c2bbbb5cdb701a7ecd7e9

https://github.com/apache/airflow/blob/21870080e90fed06f6a617ce05c338c276106d71/airflow/www/static/js/graph.js#L473

When I change this line to `continue` ins

[2021-09-29 02:56] JCoder01 commented on #18369
@bbovenzi
Clone repo
run `./breeze start-airflow --load-example-dags --use-airflow-version 2.1.4`
enable example_task_group and wait for dag to run
open up graph view
expand task group
refresh page

![image](https://user-images.githubusercontent.com/651639/135195380-73ec64b0-4ba5-4fb4-ad95-5ac04337fc83.png)

[2021-09-29 03:17] josh-fell commented on #16544
To close the loop and make this group aware (for those who aren't already), #18447 has been created to add a `RedshiftSQLHook` and `RedshiftSQLOperator` which captures the functionality described in this issue.

[2021-09-29 03:45] Ayushsunny commented on #18578
Hello, @potiuk I would like to work on this.
Could you guide me more on this?

[2021-09-29 03:51] denysivanov opened #18598 "SerializedDagNotFound - when create 1000 dags"
### Apache Airflow version

2.1.3

### Operating System

Linux

### Versions of Apache Airflow Providers

_No response_

### Deployment

Other

### Deployment details

Community Helm chart 8.0.8

### What happened

I have created 1000 dags like that

**test_AIR10001.py**
...
**test_AIR11001.py**

After wait period of 5 minutes try to open any dag and can't.
Here is an exception details: https://se

[2021-09-29 04:02] coinzerge opened #18599 "datadog parsing error for dagrun.schedule_delay since it is not passed in float type"
### Apache Airflow version

2.1.2

### Operating System

Gentoo/Linux

### Versions of Apache Airflow Providers

_No response_

### Deployment

Docker-Compose

### Deployment details

_No response_

### What happened

In datadog-agent logs, got parsing error

[ AGENT ] 2021-09-29 03:20:01 UTC | CORE | ERROR | (pkg/dogstatsd/server.go:411 in errLog) | Dogstatsd: error parsing metric message '"airfl

[2021-09-29 04:22] edwardwang888 opened #18600 "Selecting DAG in search dropdown should lead directly to DAG"
### Description

When searching for a DAG in the search box, the dropdown menu suggests matching DAG names. Currently, selecting a DAG from the dropdown menu initiates a search with that DAG name as the search query. However, I think it would be more intuitive to go directly to the DAG.

If the user prefers to execute the search query, they can still have the option to search without selecting fro

[2021-09-29 06:57] bbovenzi commented on #18600
Makes sense. Hopefully FAB doesn't make this too annoying to change.

[2021-09-29 07:00] bbovenzi commented on #18587
@ryanahamilton You updated the styling for the graph view a little while back. Was the extra spacing for labels? I'm curious to hear your opinion.

[2021-09-29 07:12] bbovenzi commented on #18369
@davidcaron yeah, that appears to be it. Do you want to open a PR to change it to `continue`?

[2021-09-29 08:03] jensgrnb commented on #18495
Hello mr. Wizard)

I tested my api key using curl, and that went smoothly. I noticed however
that curl requires a "from_email" field, that I'm not able to set in the
email_operator I use in airflow:

email = EmailOperator(
        task_id='send_email',
        to='my_mail',
        subject='Airflow Alert',
        html_content=""" <h3>Email Test</h3> """,
        dag=dag,)

I can see from the airf

[2021-09-29 08:40] laserpedro commented on #18041
@stephenonethree what is you timeout on those BaseSensors ? What is your heart beat scheduler interval ? Are you running on localExecutor ?

[2021-09-29 09:08] tienhung2812 commented on #13542
I have updated to `2.1.4` and it works properly, this might as same as https://github.com/apache/airflow/issues/18131

[2021-09-29 09:10] raphaelauv commented on #17186
For people confused by the release 2.0.2

the commit `Fix using XCom with ''KubernetesPodOperator'' (#17760)` mostly fixing the error of the templating of the K8S secrets

so don't use 2.0.1 !

[2021-09-29 10:20] internetcoffeephone opened #18604 "Allow multiple simultaneous remote logging methods"
### Description

Allow multiple simultaneous remote logging methods.

### Use case/motivation

Currently, Airflow only allows for one remote logging option at a time. This is done in the block starting here: https://github.com/apache/airflow/blob/c4fd84accd143977cba57e4daf6daef2af2ff457/airflow/config_templates/airflow_local_settings.py#L172

It would be nice if you could use multiple TaskHandlers

[2021-09-29 10:52] mik-laj commented on #18604
I don't think this is quite a generic case for us to support it, but you are free to make any modifications to the logger configuration. Here is docs about it:
http://airflow.apache.org/docs/apache-airflow/stable/logging-monitoring/logging-tasks.html#advanced-configuration

[2021-09-29 13:23] potiuk commented on #18578
Just read the discusion in #18411 i think @alexInhert explained it in the last comment -and maybe he can provide more guidance if needed?

[2021-09-29 14:11] khalidmammadov commented on #18598
I have modified your Dag a bit and produced 1000 copy of it.  And scheduler processed it without any issues:

=====================================================
[code]
=====================================================

And bash command to make it 1000

`for i in {1..1000} ; do echo $('cp' my_dag.py "my_dag$i.py") ; done`

Is it possible the issue is related to your setup i.e. files, folder

[2021-09-29 14:30] khalidmammadov commented on #18491
In that case is there "deprecated feature change request" (or deprecated or something like that) label to put on this issue?

[2021-09-29 14:32] bhavaniravi commented on #18491
A workaround for this issue is to use XCom push from parent dag and use XCom pull in subdag

[2021-09-29 14:43] denysivanov commented on #18598
@khalidmammadov I do not have an issue when I am not referencing a helper class.
Issue is exists only when you reference helper.

Here is my helper - when you use helper you would see an issue.

[code]

[2021-09-29 14:52] khalidmammadov commented on #18598
sure things, let me take a look and will revert

[2021-09-29 15:10] potiuk commented on #18495
True I believe currently setting the ENV variable is the only way to set "from" in the sendgrid emailer. However I think it could be possible to implement it differently in the future - for example ``from_email`` could be added as parmeter in sendgrid configuration or (even better) as an extra in the connection.

[2021-09-29 15:12] potiuk commented on #18495
If you want you can create a feature request for that (to be able to set from_email from connection extra) - this is not a complex thng to implement and it can be even done as first-time contribution - I can even guide you on how to do it if you would like to implement it :)

[2021-09-29 15:20] potiuk commented on #18604
Yeah. I thin this is not a new feature - it is possible with advanced logging and I do not think we need to add a feature for it. Maybe  documentation update with explicit mentioning that you can enable multiple loggers this way might be useful. I am thinking about adding such documentation after several discussions I had recently.

For now I will convert it into discussion as I do not think there

[2021-09-29 15:20] #18604 closed

[2021-09-29 16:30] #18369 closed

[2021-09-29 16:41] stephenonethree commented on #16344
Here are some further details, although this might be difficult to track down.

I have always had 1 copy of the Airflow database. I had Airflow 1.x in my copy of Python 3.6 in `pyenv` (no `virtualenv`). For Airflow 2.x I decided to create a `virtualenv` in my Airflow folder using Python 3.8. So I did that, and merged my settings into the new airflow.cfg. My upgrade from 1.10.15 to Airflow 2.0.2 we

[2021-09-29 16:59] #10721 closed

[2021-09-29 17:04] stephenonethree commented on #18041
@laserpedro here are some details:

[code]

I am running on Cloud Composer version `composer-1.17.1-airflow-2.1.2`. In the monitoring page for the hardware things look good, in the Kubernetes cluster one node is at 95% CPU and the others are at 50%. I have one scheduler. The database resource usage is low.

[2021-09-29 17:34] potiuk commented on #16344
My wild guess is that you've made the first upgrade with different user or maybe with different setting for HOME or AIRFLOW_HOME. Airflow (when you use sqlite) keeps the data in sqlite database file which is stored in `${AIRFLOW_HOME}/airflow.db"  or if AIRFLOW_HOME is not set, it is `${HOME}/airflow/airflow.db`. It's very likely that when you run it first time you had it set differently or wrongl

[2021-09-29 19:13] #18583 closed

[2021-09-29 20:12] khalidmammadov commented on #18598
Did just that. Freshly installed 2.3.1, created dag from your code with one import with helper module and functions that reference in the dag and duplicated Dag by 1000. The scheduler consumed all 1000 of them and I checked from UI. But couldn't reproduce issue the issue:
[code]

Need some more info for further investigation.

[2021-09-29 21:11] potiuk commented on #18217
WHy not - go ahead!

[2021-09-29 21:14] potiuk commented on #18599
Maybe you would like to take a stab and fix it @coinzerge ? Seems like really simple fix and good first issue?

[2021-09-29 21:22] potiuk commented on #17120
There is no fix, because we do not know what the issue is. Actually your case shows an interesting problem and maybe the root cause for the issue:

OSError: [Errno 98] Address already in use

It looks like this is a deployment issue where you try to run two airflow components on the same server - schedulers and workers for example and they are all serving the same logs. The problem is most likely

[2021-09-29 21:29] potiuk commented on #15687
This issue is misunderstanding of how Airflow Works (currently) workers ALWAYS read DAGs from the DAGS_FOLDER. There is no way currently to make them read the DAGs from DB. Worker MUST have Dags folder locally mounted and there is currently other way.

The DAGs stored in the DB are only used to be displayed in the Webserver - not to execute the DAGs from the DB. It is impossible to read them from

[2021-09-29 21:35] potiuk commented on #18491
Yeah. If we have workaround, I'd say we should not invest in SubDag . Shall we close the issue?

[2021-09-30 03:43] terrynie123 opened #18621 "Dagbag parse error when run task."
### Describe the issue with documentation

I have a dag file like this:
[code]

this code can create dag successfully. but when trigger this dag, it will throw a exception:

![image](https://user-images.githubusercontent.com/62755872/135383518-7cdc11ac-2e2b-4f1a-9e9e-ec078ff89738.png)

### How to solve the problem

_No response_

### Anything else

_No response_

### Are you willing to submit PR?

[2021-09-30 05:10] vsimon commented on #11979
I just got bit by this. Was running it part as part of a CI/CD pipeline using the same arguments as my other helm releases (with --wait). It was confusing why this was happening, noticed that no Jobs were being deployed, started removing arguments one by one until removing --wait worked. Then found this issue :)

[2021-09-30 05:14] vsimon commented on #11979
This also precludes the use of the `--atomic` option as well since that internally sets the wait flag.

[2021-09-30 05:19] kaxil commented on #18579
cc @ephraimbuddy

[2021-09-30 05:42] eladkal commented on #18491
If this is an easy simple fix I think it's fine to fix it if @bhavaniravi wish to work on it.
We also have https://github.com/apache/airflow/issues/18559 which is related

[2021-09-30 07:32] #17005 closed

[2021-09-30 07:41] Karuhanga commented on #14319
Same behavior through to `1.10.15`. Looks like we'd need to upgrade to `2`.

[2021-09-30 08:02] JavierLopezT commented on #18034
Closing because of https://github.com/apache/airflow/pull/18447

[2021-09-30 08:02] #18034 closed

[2021-09-30 08:08] mik-laj commented on #18621
Each loading of the DAG should produce the same result. In your case, the scheduler can load a DAG, but then the worker, when he wants to execute a task, does not find the necessary data to execute it. This is expected behavior. See docs about dynamics DAGs: http://airflow.apache.org/docs/apache-airflow/stable/best-practices.html?highlight=dynamic%20dags#dynamic-dag-generation

[2021-09-30 08:08] #18621 closed

[2021-09-30 08:23] doowhtron opened #18628 "The cleared dagrun and tasks are set failed by scheduler"
### Apache Airflow version

2.1.2

### Operating System

centos7.5.1804

### Versions of Apache Airflow Providers

apache-airflow-providers-mysql==1.0.0

### Deployment

Virtualenv installation

### Deployment details

I have four VMs, each deployed with a webserver, a scheduler and a celery worker.

To gain real-time scheduling ability, I just such configs in airflow.cfg:

scheduler_heartbeat_sec

[2021-09-30 08:30] doowhtron commented on #18628
Is there an instruction to submit a PR?

[2021-09-30 08:33] potiuk commented on #11979
@kaxil @jedcunningham -> i do agre we have to fix it in the official chart, it's kinda unexpected behaviour and I am sure we can do better than post-install :D

[2021-09-30 08:35] vavasilev opened #18629 "No venv isolation between zipped workflows"
### Apache Airflow version

2.0.1

### Operating System

ubunto 20.04

### Versions of Apache Airflow Providers

_No response_

### Deployment

Official Apache Airflow Helm Chart

### Deployment details

_No response_

### What happened

I am using zipped workflows so that I can have code-level isolation between them. For example I would like to use different versions of python code in different w

[2021-09-30 08:38] malthe commented on #18031
Seems like this could use the new _triggerer_ service. Essentially, it is like branching out and having a suspended task with a trigger that activates at the deadline.

[2021-09-30 08:39] jensgrnb commented on #18495
Well as a company we've relied on airflow quite a lot, I guess it's time we give back)

[2021-09-30 08:41] bhupixb opened #18630 "Missing dagrun.duration.success/failed.<dag_id> metric in statsd exporter for airflow deployed on Kubernetes cluster"
### Apache Airflow version

2.1.3

### Operating System

Debian GNU/Linux 10 (buster)

### Versions of Apache Airflow Providers

apache-airflow-providers-amazon==2.0.0
apache-airflow-providers-celery==2.0.0
apache-airflow-providers-cncf-kubernetes==2.0.2
apache-airflow-providers-docker==2.0.0
apache-airflow-providers-elasticsearch==2.0.2
apache-airflow-providers-ftp==2.0.0
apache-airflow-providers

[2021-09-30 08:44] potiuk commented on #18628
https://github.com/apache/airflow/blob/main/CONTRIBUTING.rst#id3

[2021-09-30 08:45] amoghrajesh commented on #15059
@vikramkoka I would like to work on this issue if it is still open. Can you help in ramping up?

[2021-09-30 09:21] ashb commented on #15687
@potiuk That is only true by default, but there is a setting called `donot_pickle` which as a default value of True, but if that is set to false then the dag should be pickled in to the database, and `--pickle-id` passed to the worker meaning that it _doesn't_ read it from disk:

https://github.com/apache/airflow/blob/e7925d8255e836abd8912783322d61b3a9ff657a/airflow/cli/commands/task_command.py#L2

[2021-09-30 09:30] potiuk commented on #18629
Interesting interaction I think that one might not be super-easy to fix and might require some more changes in the underlying way how backfill is done. Might be related with #18428  and #18317

[2021-09-30 09:32] potiuk commented on #18629
For now the workaround will be to name different copy of the modules differently in the two zip files. I do not think we have a "guarantee" today that zipped workflows will be isolated from each other.

[2021-09-30 09:33] potiuk commented on #18495
Happy to help/review/guide if needed :)

[2021-09-30 09:41] ephraimbuddy commented on #15059
@amoghrajesh I have assigned you to this ticket. Here's how to get started https://github.com/apache/airflow/blob/main/CONTRIBUTORS_QUICK_START.rst

[2021-09-30 09:45] peloyeje opened #18632 "Auto-refresh doesn't take into account the selected date"
### Apache Airflow version

2.1.3

### Operating System

Debian GNU/Linux 9 (stretch)

### Versions of Apache Airflow Providers

_No response_

### Deployment

Other Docker-based deployment

### Deployment details

_No response_

### What happened

In the DAG tree view, if I select a custom date in the date filter (top left corner) and press "update", DAG runs are correctly filtered to the selecte

[2021-09-30 09:50] potiuk commented on #18630
It's an interesting on. Statsd client uses UDP packet to send metrics and I think lack of those metrics (which are emited **JUST** before the task completes) that indicate that the UDP packet are either not sent at all by the process running the task or not received by statsd deamon.  I think most likely is the first case.

Are you using Kubernetes or Celery Executor?

I'd say if that's the former

[2021-09-30 10:07] potiuk commented on #15687
Ah TIL. I was not aware at all that we can have worker without DAG files mounted locally

[2021-09-30 10:42] ashb commented on #15687
It's not well used, and because it uses stock Pickle it probably doesn't work all that well (even bugs like this aside) :D

[2021-09-30 10:54] bhupixb commented on #18630
Yes we are using Kubernetes Executor only.

[2021-09-30 10:56] potiuk commented on #18630
@ashb - I believe the UDP sending delay before process is killed might be the real culprit here. I could not find any way to "wait" until the UDP "bufferes" are empty, any other idea how we can fix it without introducing an artifficial delay before exiting (which is kinda lame)?

[2021-09-30 10:57] potiuk commented on #18630
Interesting discussion here https://www.toolbox.com/tech/programming/question/ensure-udp-packet-finished-sending-072214/

[2021-09-30 11:01] potiuk commented on #18630
We could potentially switch to TCPStatsClient and give that option to users

[2021-09-30 11:08] potiuk commented on #18630
HEy @bhupixb - I looked at the code and it seems it might be even fixable without any change to airflow.

We already have https://airflow.apache.org/docs/apache-airflow/stable/configurations-ref.html#statsd-custom-client-path configuration parameter and setting it to `statsd.TCPStatsClient`  might solve the problem.

[2021-09-30 11:08] ashb commented on #18630
That is talking about full reliable delivery which is more than we need here.

My understanding was that even if it's stuck in a buffer somewhere and the process exits right after it would still send, but I'm not 100% sure of that. But given it _sometimes_ shows up you are likely right about the cause Jarek.

Though actually: those metrics are emitted from within `dagrun.update_state()` -- and I h

[2021-09-30 11:11] amoghrajesh commented on #15059
@ephraimbuddy I see that this issue has been fixed as a part of https://github.com/apache/airflow/pull/15117.
Why is this issue open yet and what are the exact expectations of the fix?

[2021-09-30 11:12] potiuk commented on #18630
Could it be the mini-scheduler running in KubernetesPod?

[2021-09-30 11:23] ashb commented on #18630
Nope, the mini scheduler only looks at TaskIstances, but doesn't change the state of the dagrun _unless_ it is paused (the Scheduler ignores runs of paused DAGs, so the LocalTaskJob will update the state from running to success when paused, but only when paused)

[2021-09-30 11:43] iercan commented on #15601
We have same issue with 2.1.4. I'm also not able to log out from airflow. It redirects to login if I try to logout.

[2021-09-30 11:49] agrubb86 opened #18634 "Pendulum 1.x -> 2.x with Airflow 1.x -> 2.x Documentation Updates"
### Describe the issue with documentation

With the upgrade from Pendulum 1.x to 2.x that coincides with upgrading from Airflow 1.x to 2.x, there are some breaking changes that aren't mentioned here:
[https://airflow.apache.org/docs/apache-airflow/stable/upgrading-from-1-10/index.html](Upgrading from 1.x to 2.x)

The specific breaking change I experienced is the .copy() method is completely remove

[2021-09-30 11:50] shubhamg931 commented on #10604
facing this again with airflow 2.1.3

[2021-09-30 12:06] jaimefr commented on #17507
Hello, we are also facing this issue on 2.1.4

[2021-09-30 12:18] shubhamg931 commented on #18401
We are facing the same issue with Airflow 2.1.3, also tasks are getting queued randomly with logs similar to as mentioned in https://github.com/apache/airflow/issues/17370

[2021-09-30 12:29] AlexBogs commented on #17010
It'd be nice to be able to have custom trigger rule.
I personally need 'all done and none upstream_failed'  rule after an 'optional' task. If 'optional' task fails by itself then downstream tasks should proceed, but if it has upstream_failed then downstream tasks should have upstream_failed status too.

It's possible to make desired behavior by adding 2 dummy tasks: 1 downstream from the 'optional

[2021-09-30 12:46] potiuk commented on #17010
I think custom trigger rules are possible but we need to make sure they are well implemented from the isolation/security point of view (especially if you want to define them in DAGs which should not be allowed).

 Airflow scheduler makes scheduling decisions based on those, and the rule is that only Workers and File Processors (which run in isolated, Sandboxed Python Processes ) can execute user-D

[2021-09-30 12:49] bhupixb commented on #18630
Will try this and update here.

[2021-09-30 12:56] eladkal commented on #17010
agree with @potiuk there is also the question of - does it worth the effort?
I haven't seen so many requests for unique and "odd" trigger rules. For the moment it feels that maybe we are missing 2-3 trigger rules and everyone will be happy. I guess I wanted to see here how many people are in favor of this feature and what trigger rules are missing.

[2021-09-30 13:01] lockkie0 commented on #17546
I had a similar issue with the apache/airflow:2.1.4-python3.8 Docker image when I enable Elasticsearch in values.yml
[code]

[2021-09-30 13:24] denysivanov commented on #18598
@khalidmammadov I did some tests on my side and it is environmental issue on my end.

Thanks for support.

[2021-09-30 13:24] #18598 closed

[2021-09-30 13:25] potiuk opened #18638 "Status of testing Providers that were prepared on September 30, 2021"
### Body

I have a kind request for all the contributors to the latest provider packages release.
Could you help us to test the RC versions of the providers and let us know in the comment,
if the issue is addressed there.

## Providers that need testing

Those are providers that require testing as there were some substantial changes introduced:

### Provider [amazon: 2.3.0rc1](https://pypi.org/pro

[2021-09-30 13:28] AlexBogs commented on #17010
Agree that given the security constraints, it's not worth it and a few more triggers would cover most needs.
If there would be still custom requests, maybe we can consider adding ability to specify 'and'/'or' conditions to the existing triggers, probably only 'or' to avoid impossible conditions.

**Are you willing to submit a PR?**
I can work on a PR for 'all_done_none_upstream_failed' trigger, if

[2021-09-30 13:40] potiuk commented on #18598
What kind of issue? We would love to learn from that :)

[2021-09-30 13:48] ags2121 commented on #18630
Curious if this works for you, I'm seeing a similar thing with CeleryExecutor (same set up otherwise). These are the only metrics coming through at the moment, but I expect to see a lot more:
[code]

[2021-09-30 14:20] ashb commented on #18401
I'm going to close this as it's been fixed in main and will be included in the next release coming in the next few days.

[2021-09-30 14:20] #18401 closed

[2021-09-30 14:43] ags2121 commented on #18630
I'm seeing this exception when I set the custom client:
[code]

setting it like this:
AIRFLOW__METRICS__STATSD_CUSTOM_CLIENT_PATH=statsd.TCPStatsClient

[2021-09-30 14:48] ephraimbuddy commented on #15059
#15117 removed `user_id`, we also need to remove `role_id`

[2021-09-30 14:53] #12807 closed

[2021-09-30 15:04] eladkal opened #18641 "Refactor OpsgenieAlertHook to official python sdk"
### Body

Currently [OpsgenieAlertHook](https://github.com/apache/airflow/blob/d79f506213297dc0dc034d6df3226361b6f95d7a/airflow/providers/opsgenie/hooks/opsgenie_alert.py#L29) works with HTTP.
We should change the hook to work with the [official python sdk](https://github.com/opsgenie/opsgenie-python-sdk)

This will allow also to easily integrate to airflow the various methods and options the SDK

[2021-09-30 15:25] alex-astronomer commented on #17686
I'm going to take a look at this one.

[2021-09-30 15:40] ephraimbuddy commented on #18579
This endpoint works as expected except that it runs even if the execution date does not hold.

[2021-09-30 15:43] ephraimbuddy commented on #18579
@jyotsa09 can you verify? If you set `include_past:true`, the current task instance is not included and that's how the UI works too. Is this the correct behaviour? @ashb @kaxil

[2021-09-30 16:03] Arun-kc commented on #18641
Can I help in any way? @eladkal

[2021-09-30 16:05] SamWheating commented on #18582
I like this idea, but I'm not sure how it would work as Pools are read _and updated_ by the Airflow scheduler, whereas configuration, connections and variables from environment variables are read-only.

Maybe we could have something on scheduler start-up which checks for `AIRFLOW__POOL_*` environment variables and creates / updates pool sizes accordingly?

I'd be happy to work on this, but I think

[2021-09-30 16:08] fritz-astronomer commented on #18582
I'd imagine that'd be it - @SamWheating . Create and update upon startup, would be enough for most use-cases that I can imagine. I imagine it would need to be semantically the same as with Vars / Connections set via the ENV (read-only, unable to modify? I've never actually tried to modify a Var that was set via the ENV)

[2021-09-30 16:22] SamWheating commented on #18582
So we _can_ modify an env var, but the issue is that these changes aren't persisted anywhere and will be wiped or reset on a server or container restart, hence its not really a reliable place for long-lived read-write values.

So assuming we're doing something like:

[code]

A few uncertainties come to mind:

1) Are we OK with the pool being left there once the env var is removed?

2) Are we OK wi

[2021-09-30 16:28] eladkal commented on #18641
If you want to work on it... Its all yours

[2021-09-30 16:44] rssanders3 opened #18643 "Users able to Update Roles through DAG Definition"
### Apache Airflow version

2.0.2

### Operating System

CentOS

### Versions of Apache Airflow Providers

N/A

### Deployment

Virtualenv installation

### Deployment details

Installation of Apache Airflow is running on Virtual Machines and configured with LDAP Authentication:
[code]

### What happened

While performing a security review of Apache Airflow, the Team appears to have discovered a s

[2021-09-30 16:50] #18512 closed

[2021-09-30 17:03] tnyz commented on #18638
@potiuk is there a public-accessible test environment with the rc installed or do we need to test them in our own environment?

[2021-09-30 17:19] #18333 closed

[2021-09-30 17:26] mik-laj commented on #18638
@tnyz We don't have a public environment, but you can use docker-compose. See: http://airflow.apache.org/docs/apache-airflow/stable/start/docker.html
To update packages, you should add ``_PIP_ADDITIONAL_REQUIREMENTS`` environment variable to `.env` file.

[2021-09-30 17:38] kaxil commented on #11979
Yeah this is something we have on our list to fix sooner, we hate post-install !!!

[2021-09-30 17:43] kaxil commented on #15687
FWIW -- We should remove this too in favour of DAG Versioning + Remote DAG Fetcher work sometime early next year.

[2021-09-30 17:54] #8030 closed

[2021-09-30 17:58] eladkal commented on #9036
fixed in https://github.com/apache/airflow/pull/15217

[2021-09-30 17:58] #9036 closed

[2021-09-30 18:02] eladkal commented on #9005
@potiuk I think today this issue is a won't fix? why would we want a provider specific settings in `.cfg`?

[2021-09-30 18:20] eladkal commented on #10968
Why?

also, why do you want to keep track on the import errors? what is so special about it in compare for example to a dag that doesn't have import errors but always fails on some other exception.

[2021-09-30 18:27] #11295 closed

[2021-09-30 18:32] eladkal commented on #10758
closing in favor of https://github.com/apache/airflow/issues/17010

[2021-09-30 18:32] #10758 closed

[2021-09-30 18:35] eladkal commented on #10325
This might have been solved by https://github.com/apache/airflow/pull/10230
If the issue still happens on latest airflow version and kubernetes provider let us know

[2021-09-30 18:35] #10325 closed

[2021-09-30 18:35] jaketf commented on #10968
Import errors / cluster policy violations mean "this DAG is DOA" but no mechanism for sending alert emails. This might be particularly confusing if there's any amount of dynamic behavior / DAG factory pattern going on. Contrived example: cluster policy limiting the number of tasks in a DAG and 1 / 10 of your generated DAGs violate this policy you won't be alerted unless you come to UI.

A DAG alwa

[2021-09-30 18:40] eladkal commented on #12120
@mik-laj do we have further tasks on this issue?
I'm not able to run the notebook you shared to get updated list.

[2021-09-30 19:04] tnyz commented on #18638
tested #17998
[code]
we have to specify the required parameters (bucket, source_objects) to None which is ugly but works

[2021-09-30 19:52] #15976 closed

[2021-09-30 19:54] stephenonethree commented on #11155
I'm going to close this because I think the `dag_default_view` configuration setting actually meets this requirement.

[2021-09-30 19:54] #11155 closed

[2021-09-30 19:54] shubhamg931 commented on #17370
This is a duplicate of https://github.com/apache/airflow/issues/18401 right?

[2021-09-30 20:21] mik-laj commented on #18643
[Project assumptions](https://github.com/apache/airflow/issues/10130) on Airflow security assume that the author of the DAG has free access to the database, so they also can mutate roles. Therefore, we cannot fix this bug. This requires a major architectural change to Airflow,  so it must be preceded by a long discussion. As we are not able to do anything with this ticket yet, I close it.

[2021-09-30 20:21] #18643 closed

[2021-09-30 20:22] mik-laj commented on #18643
See also: https://github.com/apache/airflow/issues/9342

[2021-09-30 20:49] ephraimbuddy commented on #17686
The issue is the way you are defining the relationship.
This should work:
[code]
Because xcomm_task2 needs data from set_date same as xcomm_task3

Anytime you call a task decorated function, you create a task.
The code below will create two different tasks from set_date:
[code]
That's why you have to assign the call to `set_date()` to a variable and pass the data around so as to create the depende

[2021-09-30 20:53] ephraimbuddy commented on #17686
We need to improve the documentation though

[2021-09-30 21:22] zachliu commented on #16468
in case someone else is as confused as me...
#16523 is not included in 2.1.4 release, so https://airflow.apache.org/docs/apache-airflow/2.1.4/howto/email-config.html still gives me old info and this log entry
[code]
made me think i could put host/port/etc. into the connection until i carefully examined the [source code](https://github.com/apache/airflow/blob/614858fb7d443880451e6111b27fdaf942f563a

[2021-09-30 21:24] zachliu commented on #17930
I was led here because of this warning message
[code]
then i tried SES and had the same problem. i almost opened up a duplicated issue :joy_cat:
for now i just put credentials into a `smtp_default` connection but be careful: https://github.com/apache/airflow/issues/16468#issuecomment-931714174

[2021-09-30 21:40] ephraimbuddy commented on #17686
I made a bunch of mistakes trying to make this work until I looked at the non-taskflow example.
This should work for taskflow:

[code]

[2021-09-30 21:48] ephraimbuddy commented on #17686
Another way that will also work:

[code]
I think the documentation need to be improved

[2021-09-30 22:46] thesuperzapper commented on #11979
To update everyone, the ["user-community" airflow chart](https://github.com/airflow-helm/charts/tree/main/charts/airflow) no longer uses a `helmWait` flag to address this issue. As of [chart version `8.5.0`](https://github.com/airflow-helm/charts/blob/main/charts/airflow/CHANGELOG.md#850---2021-08-19), we simply have Deployments for all things which previously ran as post-install jobs (like [`db-m

[2021-10-01 00:06] #17585 closed

[2021-10-01 00:31] alex-astronomer commented on #17686
I'm still inclined to call this a bug @ephraimbuddy.  Here's why.  I believe that all of the methods to define this should have the same behavior.

[code]

should output the same DAG as

[code]
which should output the same DAG as
[code]
and also
[code]

I'm going to keep digging into this and see what differences there are between the 3 methods.

[2021-10-01 00:55] alex-astronomer commented on #17686
I believe that no matter how we define the DAG, it should deterministically create the same result.

[2021-10-01 01:49] alex-astronomer commented on #17686
I believe that the culprit for this bug is the `set_xcomargs_dependencies` fn call in the `apply_defaults` function of the `BaseOperator` metaclass.  Experimenting with this now.

[2021-10-01 02:03] alex-astronomer commented on #17686
Sorry about the comment spam, I just keep figuring out more and more about this issue.  Here's what I've come up with from the research that I've done today.

By doing `xcom_task2(date)` (if we're looking at the previous examples which define the tasks using the taskflow API), there is an implicit dependency being set for this case between `set_date >> xcom_task2`.  This was originally created as

[2021-10-01 02:29] MatrixManAtYrService opened #18662 "Some Task Groups don't Expand when Clicked"
### Apache Airflow version

2.2.0b2 (beta snapshot)

### Operating System

debian (docker)

### Versions of Apache Airflow Providers

n/a

### Deployment

Astronomer

### Deployment details

`astro dev start`

Dockerfile:
[code]

dag:
https://gist.github.com/MatrixManAtYrService/a3ee53dab27edf8249d0ff0dfd11c76e
![output](https://user-images.githubusercontent.com/5834582/135555462-e129eaa3-a24c-4c5

[2021-10-01 08:17] c-thiel commented on #16386
@olivermeyer do you know what the state on this is? Looking at #8703 I don't think there is going to be a solution outside of this operator.

[2021-10-01 08:35] ephraimbuddy commented on #17686
I have thought about this and I think it's ok as it is just that we currently don't know how to use it.

If we understand that calling a task decorated function in airflow produces an XComArg then it's not implicit that the relationship is set as is.

From the PythonOperator code, you could see that xcoms were passed explicitly, but in the TaskFlow example, because we didn't know we could pass xco

[2021-10-01 09:01] eladkal commented on #11303
@gwynevans can you please check against latest version and let us know if you still encounter the issue?

[2021-10-01 09:06] eladkal commented on #17306
https://github.com/apache/airflow-pgbouncer-exporter/pull/2

[2021-10-01 09:06] #17306 closed

[2021-10-01 09:21] mehmax opened #18664 "[Oracle] Oracle Hook - make it possible to define a schema in the connection parameters"
### Description

Currently the oracle hook it not setting a CURRENT_SCHEMA after connecting with the Database.
In a lot of use cases we have production and test databases with seperate connections and database schemas e.g. TEST.Table1, PROD.Table1
"Hard-coding" the database schema in SQL Scripts is not elegant due to having different Airflow Instances for developing and Production.

An Option woul

[2021-10-01 09:56] bhupixb commented on #18630
+1 to @ags2121 . getting the same as ags2121 mentioned.

[2021-10-01 10:01] yevsh opened #18665 "Deleting and copying DAG file from/to dags directory not triggering the DAG"
### Apache Airflow version

2.1.2

### Operating System

N/A runs as pod

### Versions of Apache Airflow Providers

_No response_

### Deployment

Official Apache Airflow Helm Chart

### Deployment details

Openshift

### What happened

airflow-dags folder of airflow-scheduler pod/container mapped to external volume.

DAG file has property
 'is_paused_upon_creation': False

Once I copy this DAG in

[2021-10-01 11:51] easthy-alterpost opened #18669 "Failed to record duration of externally triggered DAGs"
### Apache Airflow version

2.1.4 (latest released)

### Operating System

Amazon Linux 2 AMI

### Versions of Apache Airflow Providers

statsd                                               3.3.0
apache-airflow-providers-amazon   2.2.0
apache-airflow-providers-celery      2.0.0

### Deployment

Other

### Deployment details

Cloudformation template based on https://github.com/villasv/aws-airflow-s

[2021-10-01 13:08] mnojek commented on #18638
Hi @potiuk
What is it that you expect us to do, actually?
My changes are only related to System Tests and they made them a bit more stable, so I'm curious what else should I do to assure that the quality hasn't dropped. Please explain, and I will try to act accordingly 😃

[2021-10-01 13:15] potiuk commented on #18638
That's enough to get the comment :) . No need to test that particular one.

[2021-10-01 13:24] deedmitrij commented on #18638
The same from my side. I also only made some changes to stabilize Google
system tests.

Best regards,
Dmytro Khimich

пт, 1 окт. 2021 г., 16:16 Jarek Potiuk ***@***.***>:

[2021-10-01 13:30] nathadfield commented on #18638
All good on #18064 as far as I can tell.

[2021-10-01 13:34] olivermeyer commented on #16386
I ended up forking the operators and using my own version. I don't know if there's a plan to address this, perhaps @eladkal or @kaxil can shed some light?

[2021-10-01 14:13] bbovenzi commented on #18662
Thanks for providing a DAG. That will make it easier to figure out this odd issue.

[2021-10-01 14:30] codenamestif commented on #18638
#17626 works fine

[2021-10-01 14:36] mariotaddeucci commented on #18638
#17887 and #18027 works fine.
Actually for PR #18027 has a duplicated code that is removed on PR #18671

[2021-10-01 14:50] ashb opened #18672 "Add `run_id` to this `/dags/{dag_id}/updateTaskInstancesState` API endpoint"
add run_id, and deprecate execution_date

_Originally posted by @ashb in https://github.com/apache/airflow/pull/18642#pullrequestreview-769065915_

[2021-10-01 14:54] PApostol opened #18673 "Tooltips don't appear in Graph or Tree view on UI after hovering over a task"
### Apache Airflow version

2.1.4 (latest released)

### Operating System

Amazon Linux 2

### Versions of Apache Airflow Providers

apache-airflow-providers-amazon==2.2.0
apache-airflow-providers-apache-spark==2.0.1
apache-airflow-providers-ftp==2.0.1
apache-airflow-providers-http==2.0.1
apache-airflow-providers-imap==2.0.1
apache-airflow-providers-sqlite==2.0.1

### Deployment

Virtualenv instal

[2021-10-01 15:21] brki opened #18674 "DagFileProcessor running continuously for DAG file (non-UTC system time)"
### Apache Airflow version

2.1.3

### Operating System

Redhat 6.10

### Versions of Apache Airflow Providers

_No response_

### Deployment

Virtualenv installation

### Deployment details

_No response_

### What happened

When deploying an updated version of a DAG, I noticed that there was higher CPU usage, and a new process was starting every few seconds:
[code]

Note: there are many DAGs in

[2021-10-01 15:21] potiuk commented on #18630
Ah. Interesting - seems that we indeed explicitly check if that client is UDP one

https://github.com/apache/airflow/blob/2f88009bbf8818f3b4b553a04ae3b848af43c4aa/airflow/stats.py#L379

Probably you could try to change (in your image) to use `from stats.base import StatsBase` and change to StatsBase few lines below.

I am not 100% sure if it would work though :(

[2021-10-01 15:36] brki commented on #18665
@yesvh personally I would not expect that behaviour.  In fact it would be rather annoying in some situations.

Imagine that your DAGs are mounted on a network file share, and the file share is unavailable for a while due to a network issue.  Your DAGs are scheduled to run once a day.  They've already run today.  You wouldn't want all of your DAGs to start running again when the network share is su

[2021-10-01 17:00] eladkal commented on #8192
@nijanthanvijayakumar  are you still working on this issue?

[2021-10-01 17:30] josh-fell commented on #18638
Tested and verified #18241, #18620, #17885, #18386, and #18456 👍

@potiuk I noticed #18386 is listed under the Microsoft Azure provider but this fix was built on top of #18203. Just wondering if it’s worth calling out the latter PR change in the Azure provider changelog as well?

[2021-10-01 17:36] #15538 closed

[2021-10-01 18:10] potiuk commented on #18638
Yeah. I know why I have not included it. It is merged as ``Initial commit (#18203)`` :). I will update it in the docs (I cannot do it in the packages that we are voting on, but the docs can be updated later - and future releses will get it corrected.

[2021-10-01 18:16] josh-fell commented on #18638
Woof that is a horrible commit message so totally understandable. I mistakenly thought that the PR title was always used as the commit message but doesn't seem to be the case when there is only 1 commit in the PR. Thanks for clarifying!

[2021-10-01 18:55] raehirsch opened #18678 "Unclear when scheduled runtime actually executes DAGs"
### Describe the issue with documentation

There is no obvious documentation about when DAGs actually run compared to their scheduled cron string. Please indicate where this is documented in the official Airflow documentation.

All I was able to find was a blog post (https://eugeneyan.com/writing/why-airflow-jobs-one-day-late/).

### How to solve the problem

At the top of the Variables page, ther

[2021-10-01 20:13] msropp commented on #18678
This really needs to be fixed.   👍

[2021-10-01 20:15] GoranGoranovic commented on #18678
definitely an issue that needs to be addressed

[2021-10-01 20:23] kondla commented on #10026
Thank you for this thread! I am having the PID doesn't match PID issue running `Airflow 2.1.2` on the Google Cloud in `Composer 1.17.1
[code]

[2021-10-01 20:30] eladkal commented on #18678
There is:
https://airflow.apache.org/docs/apache-airflow/stable/concepts/scheduler.html#scheduler

It's even highlighted :
[code]

In any case AIP 39 soon to be released will change things in this area dramatically

[2021-10-01 20:30] #18678 closed

[2021-10-01 20:32] thcidale0808 commented on #18582
I'm happy to contribute with this one. Can this be assigned to me?

[2021-10-01 21:05] stephenonethree commented on #18041
Good news, I have created simple reproducer code, which I have tested quite thoroughly. **This code reproduces the bug 100% of the time.** It's a very simple reproducer, which hopefully will help with fixing it. I would be very grateful if somebody could look at this.

GENERAL NOTES:
1. The DAG uses a custom sensor operator which pulls XCOM and Airflow variables several times each per poke. I am n

[2021-10-01 21:18] nijanthanvijayakumar commented on #8192
Hi @eladkal no, I'm not working on this issue at the moment.

[2021-10-02 00:32] HardikVijayPatel opened #18680 "Airflow Uptake Falsk-AppBuilder 3.3.3 In order to Mitigate Jquery Vulnerability on version coming from Flask-AppBuilder"
### Apache Airflow version

2.1.4 (latest released)

### Operating System

Linux

### Versions of Apache Airflow Providers

_No response_

### Deployment

Virtualenv installation

### Deployment details

_No response_

### What happened

_No response_

### What you expected to happen

_No response_

### How to reproduce

_No response_

### Anything else

_No response_

### Are you willing to submi

[2021-10-02 01:41] tooptoop4 opened #18681 "Log which user triggered a dag"
### Description

For audit purposes the username who triggered a dagrun should be logged (or stored in the metadb, shown in UI). Whether they logged into the UI and clicked trigger or used API to trigger a dagrun this should be captured.
ie userX triggered dagrunY with execDateZ
userA triggered dagrunB with execDateC

### Use case/motivation

Want to know who interacted with adhoc dagruns

### Rel

[2021-10-02 06:20] doowhtron commented on #18681
In the menu Browse -> logs, you may find what you need

[2021-10-02 18:48] nikochiko commented on #18674
This issue exists when the last updated timestamp of a file is greater than current time (when I tried `touch -d 'tomorrow' example-dag.py`).

But, I wasn't able to get this issue by setting the system time to another timezone. I am running a docker deployment with airflow 2.1.3

[code]

is there something I might have missed?

[2021-10-02 18:55] nikochiko commented on #18664
Can I pick up this issue?

[2021-10-02 19:20] nikochiko commented on #18664
would something like this work? https://airflow.apache.org/docs/apache-airflow/stable/howto/connection.html#storing-a-connection-in-environment-variables

[2021-10-02 23:51] uranusjr commented on #18664
If I understand correctly, you can already access connections in the template. But I think the original request is the hook should automatically set that from the connection (from an agreed-upon extra key).

[2021-10-03 02:57] stephenonethree commented on #17507
Hi, I am also experiencing this issue in 2.1.2 (the latest version currently available in Composer). I just wanted to note that I posted reproducer code/instructions in https://github.com/apache/airflow/issues/18041 which might be a duplicate of this, or at least related. Just wanted you to know in case it helps.

[2021-10-03 02:57] stephenonethree commented on #18041
I discovered that this issue may be related to https://github.com/apache/airflow/issues/17507

[2021-10-03 05:50] yevsh commented on #18665
Thanks, I am aware of alternatives to trigger the DAG, I hoped their is also an OOB option that I wanted.

[2021-10-03 06:45] uranusjr commented on #18582
Go ahead!

[2021-10-03 07:43] eladkal commented on #18673
Can you please check with [2.2.0b2](https://pypi.org/project/apache-airflow/#history) ?

In main branch it seems to work fine:
![Screen Shot 2021-10-03 at 10 39 15](https://user-images.githubusercontent.com/45845474/135744802-776b3e39-6728-48d0-b31f-ed125d0913d0.png)

[2021-10-03 14:31] potiuk commented on #15687
Agree with @kaxil

[2021-10-03 14:52] potiuk commented on #9005
I am not sure if it is won't fix. I do not even know when/why this parameter have been added - but, well it is there in the .cfg file,  and I created that issue simply because I stumbled upon it. I think yeah - it should be deprecated and move toi the Hive Operator at the very least.

There are likely some historical reasons why "hive" section is there, but I agree, it shoudl be better to remove i

[2021-10-03 15:12] potiuk commented on #12120
I am not sure we should keep it as "open issue" if there are no clear tasks to complete.

I think the scope of the issue is very generic and it has no chance to ever end if it is defined the way it is defined. I think we should not have (or have very little) of generic issues such us "continuous update of something" without having a list of tasks this leads to.

The current approach for dependency

[2021-10-03 15:41] eladkal commented on #9005
I think the reason is just legacy.

Hive was/is deep integrated into core... Hive is the only one that even has [specific macros](https://github.com/apache/airflow/blob/main/airflow/macros/hive.py)  (which we didn't yet extracted to the Hive provider :/ )

[2021-10-03 15:44] potiuk commented on #18643
Yep. This is a feature of Airflow (in its current version) RBAC is just a UI not DAG concept and it only prevents the UI users from doing stuff, not the DAG writers. Airflow does not have multi-tenancy yet, and while we are working in this direction, it will not be there for quite some time.

Also - thanks for reporting it in general and while it is not a security issue but feature  of the project

[2021-10-03 16:18] potiuk commented on #18665
This is not how Airflow works. The DAG that disappeared and appeared again wiht the same DAG is "the same" DAG. If you want to change the structure of DAG heavily you are supposed to create a new DAG with new DAG_Id and it will have new history.

See the comment here: https://airflow.apache.org/docs/apache-airflow/stable/index.html?highlight=slowly#beyond-the-horizon

We have a DRAFT "Airlfow Impr

[2021-10-03 16:18] #18665 closed

[2021-10-03 16:42] potiuk commented on #16386
@olivermeyer - I think the easiest way to get it released is to contribute your fork version back. Do you need some guidance on how to do it? I will be happy to review and merge it. Airflow is created by more than 1700 contributors, and you can easily become one of them - and it 's also great if you can clear the path to others!

[2021-10-03 17:16] potiuk commented on #18638
Mistake was mine, as I should have noticed that while merging (but I likely clicked "merge" too fast).

[2021-10-03 17:17] potiuk commented on #18638
We are progressing quite well :). I would appreciate some moret testing tomorrow, so that we can have higher confidence when voting on  it !

[2021-10-03 17:19] potiuk commented on #18638
[NOTE TO SELF] -> we need to update the Changelog to include Redshift Amazon Provider dependency on 2.3.0 Postgres provider version (see https://github.com/apache/airflow/pull/18671#issuecomment-932989966)

[2021-10-03 18:37] argemiront commented on #9975
Is there a way to prevent the scheduler to `queue` new runs if there's an active run? I have a DAG that now and then overruns and because of this behaviour I'm seeing DAG runs piling up on the new UI through time due to this new behaviour

[2021-10-03 19:17] ephraimbuddy commented on #9975
@argemiront, If you are on 2.1.4 you can change this:
`AIRFLOW__SCHEDULER__MAX_QUEUED_RUNS_PER_DAG=16`
to a lower number

[2021-10-03 19:23] argemiront commented on #9975
thank you so much!

[2021-10-03 19:32] potiuk commented on #18680
Feel free to upgrade to the new Flask. We are automatically upgrading new releases when they come in constratints, so with new releases you will get new FAB (and other dependencies) in constraints but if you want to upgrade to newer version of FAB - on the old version, feel free to do it, there is nothing blocking you. You can even copy the original constraints and modify FAB version there and ins

[2021-10-03 19:32] #18680 closed

[2021-10-03 19:38] potiuk commented on #18681
Related to #18217 - maybe you want to cooperate with @alex-astronomer and also add this one @tooptoop4 ?

[2021-10-03 20:00] potiuk commented on #18674
the problem is that you have likely differnet machines and their time is not synchronized. Timezone setting should have no impact on checking modification time but wroing clock setting likely has. Make sure that all your machines have time synchronized (for example using `ntp`). I am converting that into a discussion as this is not very likely to be an airflow issue.

[2021-10-03 20:00] #18674 closed

[2021-10-03 21:13] potiuk commented on #18582
Yeah. That is an interesting one - I am not 100% sure whether this is a good idea to do it this way, to be honest.

Should it be done by scheduler ? Webservers ?  Which one, if we have multiple of those? I think there is no good answer to that - similarly as in case of adding new users, I think it should be kept outside of existing airflow components. I feel we are trying to put some band-aid wher

[2021-10-03 22:37] potiuk commented on #9005
Ah yeah. Maybe we need "Decouple Hive from Airflow Core". And we can specifically make the MJOR release of apache.hive provider with breaking changes if we need those.

[2021-10-04 00:06] #15588 closed

[2021-10-04 01:14] krishnacdunuka commented on #10331
I solved this by removing "can clear" permission from Admin role

[2021-10-04 01:19] krishnacdunuka commented on #10331
I solved this by removing "clear on DAG Runs" permission from Admin role. Likewise try doing for other delete refusal warnings

[2021-10-04 04:51] krishnareddy97 commented on #10210
I am facing a similar issue where I can't read the contents of the sqs_queue message JSON strings and upload that to email_operator body... Can you help me with this issue???

[2021-10-04 05:09] yuqian90 commented on #18031
Hi @malthe, could you elaborate a bit more? What's "triggerer service" and how can it be used to warn about the deadline?

[2021-10-04 05:56] edwardwang888 commented on #18600
@bbovenzi Is this something that would make more sense to implement after AIP-37 - would it need to be refactored later anyways?

[2021-10-04 05:58] malthe commented on #18031
@yuqian90 what I'm referring to are the new [deferrable operators](https://cwiki.apache.org/confluence/pages/viewpage.action?pageId=177050929).

There's a framework in there which allows us to set up future actions such as reacting to a "missed deadline". It might need a little reworking in order to implement SLAs but I think it's pretty close since you could also just branch out and use the new [

[2021-10-04 06:16] leonsmith commented on #18501
So we just come across this issue.

Our reproduction steps are similar too.

We enabled a new daily dag with ‘catchup=True’ and a start date 3 years in the past, this caused the scheduler to correctly create all 1000+ dag runs and to start “catching up”.

However this starved other dagsruns from being executed in the environment until the dag was fully caught up, we also had a low max active dag r

[2021-10-04 06:20] mehmax commented on #18664
The Idea was, to set the schema name in the corresponding field from UI.
![image](https://user-images.githubusercontent.com/84371809/135802481-2f7f0d1c-c649-4189-99f1-d3139257f221.png)

When using Oracle Hook, (hook.get_hook()) automatically after connection, the default schema should be set within the cx_Oracle connection.

For example by adding a
conn.execute("ALTER SESSION SET CURRENT_SCHEMA" =

[2021-10-04 06:44] uranusjr commented on #18031
Yeah, this feels like a good use for async sensors indeed. I think it's even possible to do it with the old sensors (with obvious resource issues, but possible if you have practically unlimited worker resource).

[2021-10-04 06:47] uranusjr commented on #18600
AIP-37 is still quite far away though; if you have any intention to use this feature yourself in close future, it's better to try implement it in F.A.B. first.

[2021-10-04 06:50] olivermeyer commented on #16386
I'm not sure my fork will work for others, since I bypassed the problem by having the operator return just the model name. I think my initial PR https://github.com/apache/airflow/pull/16395 is worth considering as it's a bit more generic, although it's a bit old now and might need to be updated.

[2021-10-04 07:34] bbovenzi commented on #18600
I agree. Minor improvements should not wait on AIP-38.

[2021-10-04 07:40] bbovenzi commented on #18632
Makes sense to me. It should be relatively easily to just pass the dat in `tree.js` [here](https://github.com/apache/airflow/blob/main/airflow/www/static/js/tree.js#L433). I believe the webserver code is already built to handle the `base_date`

[2021-10-04 07:57] j-adamczyk opened #18698 "UI logging failure results in whole DAG failure"
### Apache Airflow version

2.1.4 (latest released)

### Operating System

Alpine Linux 3.13

### Versions of Apache Airflow Providers

apache-airflow-providers-ftp==1.1.0
apache-airflow-providers-imap==1.0.1
apache-airflow-providers-sqlite==1.0.2

### Deployment

Docker-Compose

### Deployment details

Celery on Kubernetes, with logging on AWS S3.

### What happened

Tasks fail randomly (absolute

[2021-10-04 07:58] peloyeje commented on #18632
Yep exactly, I looked around and I was planning on adding the base date as a meta tag in the html template in order to match the current implementation. If that's fine by you I'll submit a PR in the next couple of days :)

[2021-10-04 08:02] honarkhah commented on #12807
thanks for this feature ;)

[2021-10-04 08:21] leonsmith commented on #18501
So did more digging.

Looks like the above was already reverted out due to the side effect of the out of ordering.

But that's re-introduced the issue again. The fix that was proposed only works providing the max active dagruns is hit.
If you have a dag that is managing to complete dagruns between each loop of the scheduler it will continue to block other upstream dags until the catchup has comple

[2021-10-04 08:51] kirillz1 commented on #12808
@kaxil Hi, the issue 'Task exited with return code Negsignal.SIGABRT' appears with Container-Optimized OS (on K8s cluster) as well. Do you have any solution for that?

[2021-10-04 08:55] imamdigmi commented on #18312
Hi @uranusjr i will close this issue since i already got the culprit, my DAG has dictionary object passing to schedule interval. Thank you for your help, appreciated!

[2021-10-04 08:55] #18312 closed

[2021-10-04 09:01] codenamestif commented on #15000
Can you guys check with amazon provider 2.3.0? I was implementing some feature in #17626 and now `ResourceNotFoundException` should simply be ignored.

[2021-10-04 09:28] potiuk commented on #12808
It might be completely unrelated. The same message does not mean that this is the same circumstances or even the same root cause. I think if you have such problem @kirillz1, you need to gather all the evidences (logs, circumstances, docker file, describe when it happens, what your deployment is etc. and open a new issue -  definitely a more elaborated description of your problem is needed.

[2021-10-04 09:50] d3centr commented on #14101
This can be reproduced on Airflow 2.1.2 with K8s executor when setting task retries >= 1. Call `kubectl delete pod` on a task pod while it is running. Task will fail but won’t be retried.

[2021-10-04 10:15] PApostol commented on #18673
Hi, thanks for your reply. I managed to fix this by clearing all browsing data on Chrome.

[2021-10-04 10:15] #18673 closed

[2021-10-04 10:56] leonsmith commented on #18501
I think the fix here is to use a window function over [next_dagruns_to_examine](https://github.com/apache/airflow/blob/main/airflow/models/dagrun.py#L211) so it only returns dagruns up to the dags maximum concurrency.

I know this is the core loop so performance is a concern here. Is there any objection to something like the following approach before I put effort in writing some tests?

Are there

[2021-10-04 11:39] jyotsa09 opened #18702 "Unable to change username while updating user information through API"
### Apache Airflow version

2.2.0b2 (beta snapshot)

### Operating System

Debian buster

### Versions of Apache Airflow Providers

_No response_

### Deployment

Astronomer

### Deployment details

Astro dev start

### What happened

Unable to change username while updating user information through API though it's possible from UI.

### What you expected to happen

Either username should not be e

[2021-10-04 11:48] jyotsa09 opened #18703 ""Already exists." message is missing while updating user email with existing email id through API"
### Apache Airflow version

2.2.0b2 (beta snapshot)

### Operating System

Debian buster

### Versions of Apache Airflow Providers

_No response_

### Deployment

Astronomer

### Deployment details

Astro dev start

### What happened

"Already exists." error message is missing while updating user email with existing email id through API.

### What you expected to happen

"Email id already exists"

[2021-10-04 11:51] bbovenzi commented on #18662
Interestingly, they render just fine if they start expanded and if you close it. The only problem is opening them. I'll keep investigating.

<img width="377" alt="Screen Shot 2021-10-04 at 12 34 10 PM" src="https://user-images.githubusercontent.com/4600967/135836721-dbdacf78-83e1-4b0b-adc4-6983460b1641.png">

[2021-10-04 12:59] ephraimbuddy commented on #14101
At @d3centr your case seems different and is resolved by https://github.com/apache/airflow/pull/16301 released in 2.1.3.

Also, this ticket has been resolved by https://github.com/apache/airflow/pull/17819 which will be released in 2.2

To confirm, @nicor88 , when you get this operational error, do you also see in the scheduler log message like this:
`<TaskInstance: somedag.taskid [queued]> finish

[2021-10-04 13:35] uranusjr opened #18705 "Do not fetch providers from PyPI in CI runs"
I think this is the problem hit by #18684. I am not entirely familiar with the CI script, but this is my best guess reading the CI logs. https://github.com/apache/airflow/pull/18684/checks?check_run_id=3788521722

cc @eladkal @potiuk

## The problem

Currently the *Installing all packages with eager upgrade* job installs `airflow[devel_ci]` with `--upgrade-strategy=eager`, which installs the lates

[2021-10-04 13:50] ags2121 commented on #18630
I got the import change to work using:
[code]

and `AIRFLOW__METRICS__STATSD_CUSTOM_CLIENT_PATH` is set to `statsd.TCPStatsClient`

and I updated my statsd server to run on TCP, however now I get this error from the scheduler:
[code]

[2021-10-04 13:57] zachliu commented on #10331
interesting, i did what you said and i can still clear on DAG Runs as an admin. what does this permission do? :joy_cat:

[2021-10-04 14:29] nicor88 commented on #14101
@ephraimbuddy I can't provide them anymore, as the I'm not working anymore in the setup where I experienced that error.

[2021-10-04 15:22] alex-astronomer commented on #18410
@eladkal Great point.  I still do believe that the DAGs should be paused and unable to run in this situation.  Here's my reason for that.  If suddenly there is an AirflowClusterPolicy that is implemented that would disable 50 DAGs shouldn't that be done, just because if the policy is violated then we don't want to be able to run the DAGs anyway?  I understand what you're saying is that it would be

[2021-10-04 15:59] MatrixManAtYrService commented on #18662
I spent a while trying to reduce DAG complexity towards a more minimal case, and I was able to get them quite minimal indeed while still reproducing the issue.  But then later when I tried starting from nothing and building *up* to the minimal case I couldn't reproduce it--which is why I ended up posting the whole thing.

My feeling was that something was being remembered between iterations that I

[2021-10-04 16:16] eladkal commented on #18410
@alex-astronomer I can argue that the DAGs should not be paused.
As cluster admin I add/remove/update policies. I don't always know what DAGs are going to be effected by a policy I just add it and then all effected users change their code accordingly.

If you prevent DAGs from running you have 2 edge cases:
1. If a policy is removed - who would now to set the DAG back to active?
2. If a policy is

[2021-10-04 16:27] brettpalmberg opened #18709 "Default Value for AIRFLOW_GID. 0 vs. 50000"
### Describe the issue with documentation

Is the default value for environment variable $AIRFLOW_GID `0` or `50000`?
- 50000 (shown in the [docs](https://airflow.apache.org/docs/apache-airflow/stable/start/docker.html#environment-variables-supported-by-docker-compose))

![image](https://user-images.githubusercontent.com/29417036/135888684-cb395a13-47e2-4b43-9ee5-742f0148b05a.png)

- 0 (shown in t

[2021-10-04 16:28] potiuk commented on #18705
I think it's ALMOST good advise. I believe `--constraints` and `--upgrade` are conflicting and you cannot have them both. But this should be solvable by using `` --find-links="file:///docker-context-files"` which I am already using in "install_from_docker_context_files" to do exactly this - install providers prepared locally from sources (I am using it to build production docker image).

[2021-10-04 16:30] m1racoli commented on #18638
https://github.com/apache/airflow/pull/18006 works as expected 👍🏼

[2021-10-04 16:31] potiuk commented on #18705
Actually I believe ` --find-links="file:///docker-context-files,https://pypi.python.org/simple)" should be the right one.

[2021-10-04 16:34] potiuk commented on #18705
Ah no - seems single find-links is enough :), index is also searched by default

[2021-10-04 16:44] denimalpaca commented on #18638
I've tested 17741 running tests and seeing the operators work in a breeze
environment and Snowflake backend.

-Benji

On Thu, Sep 30, 2021 at 9:25 AM Jarek Potiuk ***@***.***>
wrote:

[2021-10-04 16:45] edwardwang888 commented on #18600
Sounds good. I will give it a try.

[2021-10-04 16:47] potiuk commented on #18705
Actually after closer look, this is not it. The current script is ok for that. if you look closer it uses "INSTALL_PROVIDERS_FROM_SOURCES: true"  - which means that it does not even attempt to look at providers from PyPI. It takes the dependencies from local `setup.py`, so it **should** work in general, regardless what providers are released in PyPI:

[code]

So I continue looking for a reason.

[2021-10-04 16:47] #18705 closed

[2021-10-04 16:56] potiuk commented on #18705
Luckily we can trace quite easily WHEN things broke:

Currently the real problem we have (and you can actually see that in #18684 that while Python 3.6 builds just fine with eager-upgrade, but 3.7, 3.8 and 3.9 are not (this is what I also noticed yesterday) and I am pretty sure this is some "3rd-party" dependency changed after this one: https://github.com/apache/airflow/commit/45e2970c0ac0f509d2ea

[2021-10-04 16:59] potiuk commented on #18705
Though, it's strange as we alredy had same pandas there. BTW. THe problem is exactly the same in regular `main` build so we do not need to look to far when exactly it broke

[2021-10-04 17:01] alex-astronomer opened #18712 "/roles PATCH endpoint needs better documentation"
### Apache Airflow version

2.2.0b2 (beta snapshot)

### Operating System

macOS Big Sur 11.3.1

### Versions of Apache Airflow Providers

n/a

### Deployment

Virtualenv installation

### Deployment details

completely stock

### What happened

When using the `PATCH` verb for the `/roles/{role_name}` endpoint, I found myself, as a beginner with the stable API, having to look through source code a

[2021-10-04 17:01] alex-astronomer commented on #18712
Sorry, I messed up my tags.  Resubmitting with documentation tag.

[2021-10-04 17:03] alex-astronomer opened #18713 "/roles stable API endpoint PATCH verb needs better documentation in the openapi spec"
### Describe the issue with documentation

When using the `PATCH` verb for the `/roles/{role_name}` endpoint, I found myself, as a beginner with the stable API, having to look through source code and the meta database to try to find the correct terms to use for `action.name`, `permissions.name` and other pieces that get merged into the role with this command.

### How to solve the problem

I'd lik

[2021-10-04 17:03] #18712 closed

[2021-10-04 17:06] alex-astronomer commented on #18713
`update_mask` is also confusing to me.  I'd be happy to submit a PR for this, would allow me to get more familiar with the REST API.

[2021-10-04 17:08] alex-astronomer opened #18714 "Make it possible to delete a permission from a role using the stable REST API"
### Description

I'd like to be able to delete a permission from a role using the stable REST API.  Right now, when using the `PATCH` verb on the `/roles/{role_name}` endpoint, the actions and resources combo that gets added through the body is merged into the database, making it possible to add permissions but not delete them from what I can see.

I'd like to have the option to delete a permissio

[2021-10-04 17:12] uranusjr commented on #18714
This feels like a bug to me. If `permissions` is provided, it should replace the entire permission list instead of merging the given permissions into the existing ones.

[2021-10-04 17:15] alex-astronomer commented on #18714
Might be just a problem with my misunderstanding of this endpoint, also see #18713 for my confusion 👀

[2021-10-04 17:21] potiuk commented on #18705
OK. It was not the InfluxDB Hook. False trail.

It broke "suddenly" 5 days ago:

* This one was ok: https://github.com/apache/airflow/actions/runs/1287338265, Wed, 29 Sep 2021 14:53:44 GMT. It was already after HookDB was merged.
* This one failed 2hrs later: https://github.com/apache/airflow/actions/runs/1287708682, Wed, 29 Sep 2021 16:36:23 GMT

Something was released between the two that broke

[2021-10-04 17:32] potiuk commented on #18705
This is the diff of deps updated in 3.6 at the time of the failed build. It is likely one of those is the reason:

[code]

[2021-10-04 17:36] brettpalmberg opened #18716 "/entrypoint Environment Variable Typo "_AIRFLOW_WWW_USER_LASTNME""
### Apache Airflow version

2.1.4 (latest released)

### Operating System

All

### Versions of Apache Airflow Providers

_No response_

### Deployment

Other Docker-based deployment

### Deployment details

Docker

### What happened

Environment Variable `_AIRFLOW_WWW_USER_LASTNAME` will not be recognized by script /entrypoint.  I think there is a typo in the environment variable here: https://gi

[2021-10-04 17:51] alex-astronomer commented on #18714
Yeah the behavior that I'm seeing is that the permission list is being merged rather than replacing the entire thing.  This is corroborated by `security_manager.update_role` function call that is happening which is running a merge on the DB with the role.  You think that this is a bug @uranusjr ?  I'm thinking the same thing, but really don't know a ton about the nature of these `PATCH` endpoints

[2021-10-04 18:07] potiuk commented on #18705
Those packages were released 29th September:

* greenlet
* jupyter-clent
* proto-plus
* sentry-sdk
* zipp

I looked at the released versions - so far this is a dead trail - (but I could have missed something ). .

[2021-10-04 18:12] mnojek opened #18717 "Add possibility to refresh list of DAGs"
### Description

Add new button to DAGs list view for refreshing DAGs, e.g. when new DAG is uploaded to Airflow, using button will refresh the list without a need to refresh the whole page.

This can look like this (or it can be separated from the group of buttons):
![image](https://user-images.githubusercontent.com/7412964/135902311-4f3aa480-1384-4d67-b319-ec95d2161544.png)

### Use case/motivati

[2021-10-04 18:12] potiuk commented on #18705
All right. I narrowed it down:

I generated diff of deps in  3.6 in the "ok" build vs. "NOK" one (note both of them succeded in python 3.6 so there is no guarantee those were the culprit ones

[code]

[2021-10-04 18:14] jedcunningham commented on #18638
Tested #18070 and #18377 👍

[2021-10-04 18:16] potiuk commented on #18705
OK. I am a bit closer. For the "good build" "3.6" vs. "3.7" is below - so it's either one of the two above or below I think:

[code]

[2021-10-04 18:31] potiuk commented on #18705
good news @eladkal @uranusjr . I found the culprit:

google-ads released 14.0.1 version Sep 29: https://pypi.org/project/google-ads/14.0.1/

Guess what between the version 14.0.0 they bumped minimum google-api-core from 1.31.2 to 2.0.0
However other deps of ours have < 2.0.0

Python 3.6 is not affected becasue there we have version 12.0.0 of google-ads librarty (version 14 is Python 3.7+)

[code]

[2021-10-04 18:36] ashb commented on #18501
Before doing any work it is worth checking this behaviour on 2.2.0b2 as we did make a few changes in scheduling code.

[2021-10-04 18:38] rssanders3 commented on #18643
Hello @potiuk, sure thank you for letting me know about this process. I will follow this one in the future and review the Issue options more closely in the future.  Thank you, Robert.

[2021-10-04 18:40] potiuk commented on #18705
Confirmed. I just built `eager-upgraded` 3.7 image by limiting google-ads to < 14.0.1. PR is coming.

@uranusjr - we REALLY have to find a way for PIP to help us with those kind of problems. I have some ideas (based on my investigation)

[2021-10-04 19:33] vilozio opened #18721 "Add a setter to on_failure_callback and on_success_callback DAG properties"
### Apache Airflow version

2.1.4 (latest released)

### Operating System

Debian

### Versions of Apache Airflow Providers

_No response_

### Deployment

Official Apache Airflow Helm Chart

### Deployment details

_No response_

### What happened

DAG properties `on_failure_callback` and `on_success_callback` are simple object attributes, but there are another depended attributes that are set on

[2021-10-04 19:34] BasPH commented on #18582
@fritz-astronomer FWIW pools can also be imported from a json file: https://stackoverflow.com/a/69255203/3066428

IMO if we support configuration via env vars, we should either support everything or nothing, so I'd opt for having pools configurable via env vars since we support env vars for everything else too.

@potiuk (thinking out loud) I think there are many ways the user experience around con

[2021-10-04 19:38] john-jac commented on #18638
#18156 works as expected

From: Jarek Potiuk ***@***.***>
Reply-To: apache/airflow ***@***.***>
Date: Thursday, September 30, 2021 at 6:26 AM
To: apache/airflow ***@***.***>
Cc: "Jackson, John" ***@***.***>, Mention ***@***.***>
Subject: [apache/airflow] Status of testing Providers that were prepared on September 30, 2021 (#18638)

Body

I have a kind request for all the contributors to the latest

[2021-10-04 20:24] dstandish commented on #18501
thing to consider: mysql 5.7 does not have row_number... not sure how careful we are about this kind of issue... maybe sqlalchemy rewrites it to use variables (the way to do row number on pre-window-function mysql)

suprisingly, apparently sqlite3 3.25 _does_  have window functions ...

[2021-10-04 22:53] mik-laj commented on #18716
Assigned!

[2021-10-04 22:57] mik-laj commented on #18709
For docker-compose, the default value for `AIIRFLPW_GID` is `0`.
https://github.com/apache/airflow/blob/86bf2a29ba784b25c335408eb4647ad2eb48b525/docs/apache-airflow/start/docker-compose.yaml#L67
For docker image, the default value for `AIRFLOW_GID` is `50000`

[2021-10-04 23:28] mik-laj commented on #18709
CC: @potiuk

[2021-10-05 00:20] michaelswierszcz commented on #17559
Same error, deleted dag and reprocessed to resolve

[2021-10-05 03:03] brettpalmberg commented on #18716
Thank you @mik-laj .  PR Submitted.  I'm new around here, let me know if I missed any contributing steps.

[2021-10-05 04:04] mik-laj commented on #18716
If you want to make a change to the project, you don't have to create a ticket beforehand and wait for it to be assigned to it.  Submitting a PR is enough in most cases.  Creating an issue will allow us to collect feedback or share plans with other people.

[2021-10-05 06:41] laserpedro commented on #18041
@stephenonethree : https://stackoverflow.com/questions/65380492/why-are-my-airflow-tasks-being-externally-set-to-failed/65380493#65380493 have you checked this by chance ?

[2021-10-05 07:07] #18716 closed

[2021-10-05 07:11] millin commented on #18401
@ashb Latest stable release 2.1.4 is broken and it looks like the next release won't be out in the next few days...
https://github.com/apache/airflow/milestone/33

I would recommend removing/yank 2.1.4 from the pypi or/and release a bugfix

[2021-10-05 07:17] JavierLopezT commented on #18638
#17448 Has at least one important bug, so can't be included in this release

[2021-10-05 07:20] ephraimbuddy commented on #18401
@millin what issue did you find?

[2021-10-05 08:22] millin commented on #18401
This issue makes it impossible to normally use dependent tasks if there are retries in the upstream

[2021-10-05 08:30] mnojek opened #18731 "Chart in Task Duration is too narrow"
### Apache Airflow version

2.1.4 (latest released)

### Operating System

Debian GNU/Linux 11 rodete

### Deployment

Docker-Compose

### What happened

Task Duration chart is too narrow which leads to not displaying properly maximum and minimum points because they are printed in the corner of the chart, but they also have some area which is partly hidden outside of the SVG element which is exact

[2021-10-05 08:34] ashb commented on #18501
That is because SQlite is more of a database than MySQL.

[2021-10-05 08:53] ephraimbuddy commented on #18401
If this is the reason, then you should wait for 2.2 which is being tested now, and you can participate in the testing. See https://lists.apache.org/thread.html/r3482fb574b40eb73cdf6a506361d908c6ab700e67acd80bfa47f3542%40%3Cdev.airflow.apache.org%3E

Airflow is a community project, you can contribute to making it better.

There are many others using 2.1.4. If you are getting this error all the time

[2021-10-05 09:25] mnojek opened #18732 "Tooltip element is not removed and overlays another clickable elements"
### Apache Airflow version

2.1.4 (latest released)

### Operating System

Debian GNU/Linux 11 rodete

### Versions of Apache Airflow Providers

_No response_

### Deployment

Docker-Compose

### Deployment details

_No response_

### What happened

On a clean Airflow install, sometimes there is a problem with accessing clickable elements like 'Airflow Home' button (logo with name), or 'DAGs' menu

[2021-10-05 09:36] potiuk commented on #18630
You need to enable TCP in your statsd daemon. By default it uses UDP only.

[2021-10-05 09:53] karolzmuda commented on #17546
I have exactly the same issue when using official docker image `apache/airflow:2.1.4-python3.7` after turning remote logging with Elasticsearch as logs backend.

When remote logging is turned off then issue does not appear.

To me it is also curious that there seems to be error with MySQL related library while our Airflow uses Postgres database as backend.

[2021-10-05 11:02] bhavaniravi opened #18734 "DAG Serialization doesn't have mro context for Operators"
### Apache Airflow version

2.1.3

### Operating System

Debian GNU/Linux 10 (buster)

### Versions of Apache Airflow Providers

_No response_

### Deployment

Other

### Deployment details

Breeze

### What happened

Dag serialization loses the parent class context and MRO for the operators. This was the root cause of #18492
We cannot use `isinstance(task, <OperatorClass>)` after deserializing DA

[2021-10-05 11:06] bhavaniravi commented on #18492
You're right @bbovenzi It's not just a UI issue. All the Python check's to ensure if a custom operator is a subtag operator is failing because of DAG serialization #18734

https://github.com/apache/airflow/blob/6b71eac1997a7c0db3b8e3aed6b4e65d01871440/airflow/models/dag.py#L1205

[2021-10-05 11:55] mik-laj commented on #18734
I think it is expected.  We don't want to load the user code on the web server.

If we need to do some MRO check, we should do it during serialization.  We are already doing something similar for the DummyOperator.
https://github.com/apache/airflow/blob/b0442f30e296eae5e1f38fb74d0fbb6b1c5cef54/airflow/serialization/serialized_objects.py#L483-L484

[2021-10-05 12:01] ags2121 commented on #18630
yeah I thought I had TCP configured on... I'm thinking now that it might not be possible to switch to TCP (we're using a datadog agent as the statsd service)

[2021-10-05 12:02] ashb commented on #18734
Yeah -- this is by design. A serialized DAG is not the same as a real dag.

[2021-10-05 12:02] #18734 closed

[2021-10-05 12:16] ashb commented on #14101
Yeah, from what you describe that PR would mean the task is retried correctly.

I'm going to close this issue then as the fix is included in 2.2.0 (in beta stages right now)

[2021-10-05 12:16] #14101 closed

[2021-10-05 12:20] #16699 closed

[2021-10-05 12:41] potiuk commented on #18721
I have not thought that through entirely but I think that can have undesireable consequences.

The "has_succes/failure_callbcks" property is especially added to handle "Serialized DAG" case - rather than serializing/deserializing the calbacks, only the "has" properties are serialized. So those properties are needed. And also I cannot immeediately see why the callbacks could not be set afterwards -

[2021-10-05 12:45] DanilXYZ opened #18740 "Something bad with sqlalchemy"
### Apache Airflow version

2.1.4 (latest released)

### Operating System

WSL (Windows Subsystem Linux

### Versions of Apache Airflow Providers

_No response_

### Deployment

Virtualenv installation

### Deployment details

_No response_

### What happened

Just installed Airflow, then started localserver first time. Then I've got an error message.

Something bad has happened.
Please consider l

[2021-10-05 12:54] DanilXYZ commented on #18740
That was my bad, just restarted and things go right!

[2021-10-05 12:54] #18740 closed

[2021-10-05 13:03] uranusjr commented on #18492
We can "fake" identity by serialisation MRO information and implement `__instancecheck__` and `__subclasscheck__` on `BaseOperator`. But honestly my suggestion would be to avoid class introspection entirely. Instead of checking for the operator type, we should add an attribute (`zoomable` or something) and set it to True on `SubDagOperator`.

[2021-10-05 13:19] uranusjr commented on #18473
I've submitted a hack to restore the behaviour apache/airflow#18742. I'm still not entirely convinced this is the right thing to do; maybe eventually we should get rid of `airflow dags test` entirely and add a flag to `trigger` and `backfill` instead to make them block and emit logs to the CLI (i.o.w. allow the user to run them with `DebugExecutor` instead of the default `LocalExecutor`) to cover

[2021-10-05 13:48] vilozio commented on #18721
Thanks @potiuk for the detailed answer.

My use case is a creation of a dynamic DAG.

I'm using dag-factory library https://github.com/ajbosco/dag-factory to create DAGs from YAML files and then I'm also adding enhances to the created DAGs (like `on_failure_callback`) after initialization, but before assigning it to globals of a module and before the execution.

[2021-10-05 13:51] ashb commented on #18721
Yes, your understanding is correct Jarek.

So long as the callbacks are set in the "file" (which you are doing with the dag factory) then it is fine, so not correctly setting the `has_*` attributes is a bug.

[2021-10-05 14:01] Mavtti opened #18746 "dagrun_time doesn't trigger on_failure_callback"
### Apache Airflow version

2.0.2

### Operating System

Debian

### Versions of Apache Airflow Providers

_No response_

### Deployment

MWAA

### Deployment details

_No response_

### What happened

When calling the dag with a dagrun_timeout, if it reaches the limit, a SIGTERM is sent but the function used for on_failure_callback is not called.

### What you expected to happen

_No response_

#

[2021-10-05 14:07] potiuk commented on #18709
The AIRFLOW_GID is the source of confusion and it brings no value whatsoever. I will remove it and hard-code it to 0. This should work everywhere and it should have no side-effects.

[2021-10-05 14:24] MhmtErsy commented on #17507
Hello, I was facing this issue only within PythonVirtualEnvOperator tasks in 2.1.3. After upgrading to 2.1.4, I started facing in other operators too. Also, some tasks are being randomly killed and marked as failed before execution. I can't see the logs on web ui.
*** Log file does not exist: /opt/airflow/logs/airflow2/mydag/mytask/2021-10-05T14:00:34.768196+00:00/1.log
*** Fetching from: http://:

[2021-10-05 14:28] potiuk commented on #18721
Cool !- So go ahead @vilozio

[2021-10-05 14:51] potiuk commented on #18401
Just to explain some misconceptions @millin  and maybe give you mor understanding of the process and to set the commo expectation and understanding (also for anyone reading it in the fufure).

We only yank software if it has catastrophic bugs that prevent the software from running. This is not the case by any means.

It's quite usual that there are bugs and they get fixed.  2.2 is doing exactly th

[2021-10-05 15:02] millin commented on #18401
@potiuk @ephraimbuddy Thanks a lot.

Apparently, it seemed to me that this problem is more frequent than it actually is, since in our case it happens every time when upstream task goes to retry.

[2021-10-05 15:12] GuidoTournois opened #18748 "Pagerduty connection type not showing in up ConnectionModelView"
### Apache Airflow Provider(s)

pagerduty

### Versions of Apache Airflow Providers

apache-airflow-providers-pagerduty==2.0.1

### Apache Airflow version

2.1.4 (latest released)

### Operating System

macOS catalina

### Deployment

Virtualenv installation

### Deployment details

_No response_

### What happened

Pagerduty is not added to the available connection types as both the field `connec

[2021-10-05 15:43] anaynayak commented on #15001
I can pick this up.  Was thinking of the same approach as suggested by @SevakAvet

For the choice between `any` and `all` I believe it will depend on the use case. I can either get started with a simple `all` based PR or accept a Callable[[Dict[str, bool]],bool] to let the consumer decide based on the use case.

[2021-10-05 16:33] john-jac commented on #18638
#17609 works as expected

From: Jarek Potiuk ***@***.***>
Reply-To: apache/airflow ***@***.***>
Date: Thursday, September 30, 2021 at 6:26 AM
To: apache/airflow ***@***.***>
Cc: "Jackson, John" ***@***.***>, Mention ***@***.***>
Subject: [apache/airflow] Status of testing Providers that were prepared on September 30, 2021 (#18638)

Body

I have a kind request for all the contributors to the latest

[2021-10-05 16:54] potiuk commented on #18746
I thin you should pass it directly as constructor parameter of DAG. See also #18721

[2021-10-05 16:55] potiuk commented on #18721
Might be related to #18746

[2021-10-05 17:04] potiuk commented on #18638
Thanks everyone for testing. Providers relased (except amazon which waits for the fix for Secret Manager - I will release and RC2 when it 's ready with "incremental" testing needs.

[2021-10-05 17:04] #18638 closed

[2021-10-05 17:37] dstandish commented on #18473
Yeah now that you mention it, `dags test` is not not super obvious that it's actually running the task.  One could think it is running _tests_ for the dag.

For me, as an airflow user, I rarely use `airflow test` or debug executor.

When I use debug executor it's like this:

[2021-10-05 17:40] dstandish commented on #18473
Yeah now that you mention it, `dags test` is not not super obvious that it's actually running the task.  One could think it is running _tests_ for the dag.

[2021-10-05 17:55] potiuk commented on #18582
Sounds like a good idea, especially that it might actually open up possibility for something much more interesting (not sure if we want that) - namely reloading configuration provided outside of the DB without restarting Airflow. It would not be possible for all parameters, but I think that might be a good opportunity to refactor the "conf" part and make it truly independent from other parts of Ai

[2021-10-05 18:13] potiuk commented on #18698
First of all description/title of the problem is wrong. There is no way UI error cause task failure, because there is no possibility of doing so. The logs suggest that you are mixing cause with resulr

This is not a reproducible case - and it looks like this is a deployment issue. It looks like some of your workers do not properly set their name properly - likely hostname-callable does not return

[2021-10-05 18:13] #18698 closed

[2021-10-05 19:08] nikochiko commented on #18664
@mehmax i don't know what a "schema" is in oracle terminology, but in airflow's case this parameter is used to refer to the `conntype://login:password@host:port/<schemaname>` schema name in the DSN.
If you look at these lines of code: https://github.com/apache/airflow/blob/866a601b76e219b3c043e1dbbc8fb22300866351/airflow/providers/oracle/hooks/oracle.py#L86, the schema name is overwritten by servi

[2021-10-05 19:24] enniomorricone123 opened #18756 "Kubernete executor: fetch log failed, no retries on task when task pod is DELETED while running"
### Apache Airflow version

2.1.3

### Operating System

linux

### Versions of Apache Airflow Providers

_No response_

### Deployment

Official Apache Airflow Helm Chart

### Deployment details

use helmchart and deployed on amazon eks with Kubernetes Executor

### What happened

When Task was submitted and new pod launched, and was running. If the task pod was somehow deleted right after it tur

[2021-10-05 21:05] denysivanov commented on #18598
@potiuk

Currently I have in PROD 186 dags.
I would have around 500 by new year + 500 - 1000 dags during 2022.

We set up Grafana in prod and I see that DAG processing total parse time is 4.8 minutes.
I looked up this article https://airflow.apache.org/docs/apache-airflow/stable/best-practices.html and tried  to play with it in QA.

I created a copy of 1000 dags from that sample and did some tests

[2021-10-05 21:23] potiuk commented on #18598
This is fantastic! Maybe you'd like to write a blog post on it  - we could publish it at https://medium.com/apache-airflow?

[2021-10-05 21:33] denysivanov commented on #18598
@potiuk I can if you are talking about my set up :)

But I am still do not have real answer why it behaves differently in my environment.

[2021-10-05 21:34] #15000 closed

[2021-10-05 21:45] kaxil commented on #14396
Exactly what Jarek said

[2021-10-05 22:06] uranusjr opened #18758 "Deprecate 'airflow dags test' and merge the use case into 'airflow dags backfill' and 'airflow dags trigger'"
### Description

Currently (in versions up to 2.1.4), `airflow dags test <dag_id> <execution_date>` creates a *backfill* run at the specified datetime. This, however, applies regardless of whether the DAG can actually have a _logically_ automated backfill at that specific datetime or not. One example of this logically confusing behaviour is shown in #18473. A DAG with `schedule_interval=None` shou

[2021-10-05 22:26] uranusjr commented on #14396
Maybe a `typing.TypedDict` definition would be useful though. It requires much less change (basically just write a type definition and use it in some function annotations) and do mostly the same thing for the user if they have type hints set up.

[2021-10-05 22:29] SamWheating commented on #18669
I'm interested in looking into this - feel free to assign it to me.

[2021-10-06 00:57] uranusjr commented on #18714
REST API is only a guide line without hard rules, but `PATCH` generally means the user can submit a subset of fields, and the missing fields would be filled by existing values on the model. It is a natural variant to PUT, which _replaces_ all fields on the model with new values specified in the request.

https://datatracker.ietf.org/doc/html/rfc5789#section-2

Now it is entirely undefined whether

[2021-10-06 01:47] denysivanov commented on #18598
@potiuk I do realize this but in my example https://github.com/apache/airflow/files/7289250/DAG.load.process.docx
I tried this in different way and it doesn't work as I would expect. Just see code and results.

[2021-10-06 02:26] #14267 closed

[2021-10-06 04:19] SamWheating commented on #18669
Upon investigation it like this was already reported in https://github.com/apache/airflow/issues/18082 and fixed in https://github.com/apache/airflow/pull/18226.

Feel free to close 👍

[2021-10-06 06:03] #18669 closed

[2021-10-06 06:50] mehmax commented on #18664
@nikochiko
In oracle, schema is something different to service_name. I dont know why is was coded like this.
service name is needed to connect to the database

I am no oracle expert, but let me explain it in an example.
Tables in oracle are created in a schema. To query a table you have to use the following syntax:
`SELECT * FROM SCHEMA.TABLE` .
If you set a specific schema as a current_schema wit

[2021-10-06 08:16] lwyszomi opened #18765 "Access Denied when access to profile page"
### Apache Airflow version

2.1.4 (latest released)

### Operating System

Debian GNU/Linux rodete rodete (x86-64)

### Versions of Apache Airflow Providers

_No response_

### Deployment

Docker-Compose

### Deployment details

Minimum required installation with remote user or OAuth mode authorization.

### What happened

After log in to the Airflow using different authorization (like Remote User

[2021-10-06 08:45] BasPH commented on #18582
Yes; I always liked this hot reload functionality of Prometheus: https://prometheus.io/docs/prometheus/latest/configuration/configuration/. +1 for rewriting the configuration, it has other nasty problems e.g. https://github.com/apache/airflow/issues/8255

[2021-10-06 08:55] eladkal commented on #12103
This issue is reported against old version of Airflow that reached end of life.
If the issue is reproducible on latest Airflow version please let us know

[2021-10-06 09:29] lwyszomi commented on #17180
This was fixed when @mnojek worked on the system tests for the google provider:
https://github.com/apache/airflow/pull/18494

Documentation have a new example dag with adjustment

[2021-10-06 09:37] #17180 closed

[2021-10-06 11:20] eladkal opened #18770 "Properly handle verify parameter in TrinoHook"
### Body

This task refers to comment left in the Hook:

https://github.com/apache/airflow/blob/c9bf5f33e5d5bcbf7d31663a8571628434d7073f/airflow/providers/trino/hooks/trino.py#L96-L100

The change of https://github.com/trinodb/trino-python-client/pull/31  was released in trino version 0.301.0

**The task:**
Change the code + [tests](https://github.com/apache/airflow/blob/main/tests/providers/trino

[2021-10-06 12:26] ambeshsingh commented on #12103
@eladkal yes, I am on composer-1.17.2-airflow-1.10.15 version and intermittently facing this issue

[2021-10-06 14:47] potiuk commented on #12103
Yep. 1.10 is already End-Of-Life: https://github.com/apache/airflow/blob/main/README.md#version-life-cycle  for more than 4 months.

Since Airflow 2 is already GA in Composer, I heartily recommend you to migrate to Airflow 2.

[2021-10-06 14:47] #12103 closed

[2021-10-06 15:10] potiuk commented on #18717
Agree with @BasPH . It's pretty "normal" for the page to get refreshed with refresh button when pretty much all content is refreshed. There is a very (unless it's autor-refresh which is good to avoid flickering) there is very little saving by just refreshing the list - all the other components are already in cache.

[2021-10-06 15:17] #18702 closed

[2021-10-06 16:04] potiuk opened #18777 "[Quarantine] test_no_orphan_process_will_be_left"
### Body

The `test_no_orphan_process_will_be_left` in `TestSchedulerJob` is really flaky.

Before we know how to fix it, I will quarantine it:

https://github.com/apache/airflow/pull/18691/checks?check_run_id=3811660138

[code]

### Committer

- [X] I acknowledge that I am a maintainer/committer of the Apache Airflow project.

[2021-10-06 18:32] eladkal commented on #17148
@bbovenzi is this fixed in the new tree view https://github.com/apache/airflow/pull/18675 ?

[2021-10-06 18:36] eladkal commented on #16807
Can you show an example of your log today in compare to how you want it to be?

[2021-10-06 18:37] eladkal commented on #16740
@dvd9604 are you still working on this issue?

[2021-10-06 19:21] xinbinhuang commented on #18111
I believe the `replace` flag will just upload the file regardless if the key exists or not. Have you tried it? We don't call the `check_for_key` function when `replace=True`.

IMO, It's not reasonable for us to swallow the permission error.

[2021-10-06 19:40] #18473 closed

[2021-10-06 19:43] kaxil commented on #16896
closed by https://github.com/apache/airflow/pull/17719

[2021-10-06 19:43] #16896 closed

[2021-10-06 19:45] #18245 closed

[2021-10-06 21:10] bbovenzi commented on #18732
This is a weird issue. I can confirm it happens with "All, Paused, None". But at least most of our tooltips do not experience this behavior.
I'm going to need to look into this more.

[2021-10-06 22:46] alex-astronomer commented on #18714
Heard that.  I'll make that a part of this PR that I started working on for this.

[2021-10-07 01:12] uranusjr commented on #18777
Should this be closed since the PR is merged?

[2021-10-07 02:44] uranusjr commented on #17473
Do you want `file_format` to show `globals_variables['file_format_csv']['es']` literally? I don't think it's possible.

[2021-10-07 02:46] uranusjr commented on #18304
What's the actionable here? Since the deadlock is induced by the user, should we prevent this from happening by not allowing Task B to be cleared? Or do we somehow resolve that deadlock—how?

[2021-10-07 03:34] uranusjr commented on #12851
If the deprecated extras are merged into the main dependency list, they can simply be removed since unrecognised extras are automatically ignored (with a warning). But there's not a good way to express that deprecation if the extra is renamed.

One hack to this would be to introduce various empty `apache-airflow-deprecated-extra-foo` packages, and organise dependencies like this:

[code]

And dete

[2021-10-07 03:41] michaelkhan3 commented on #15279
Where did you add the log_config.py file? In the airflow docker image or with the dags?

[2021-10-07 04:56] r-richmond commented on #14396
What is the bar to clear here?.. i.e. 5 thumbs up on opening issue doesn't meet it so I'm curious at what point your opinion would change.

Makes sense, ty for info

I'm interested in seeing it tackled and am willing to take a stab at it. I'm just really busy for the next couple months. I.e. please don't close the issue yet.

[2021-10-07 05:53] kaxil commented on #14396
Yup we would not close it for sure :) . It's just that it hasn't fallen into priorities as yet.

Anyone who is willing to work on the issue should take a stab at it and we are happy to help if needed.

Even if there are no thumbs up, you can still work on it :)

[2021-10-07 06:36] raphaelauv opened #18789 "Google Cloud Secret Manager Backend fail on variable with a non allow character"
### Apache Airflow Provider(s)

google

### Versions of Apache Airflow Providers

5.1.0

### Apache Airflow version

2.1.2

### Operating System

GCP Container-Optimized OS

### Deployment

Composer

### Deployment details

_No response_

### What happened

When a variable have a non allow character like a `.` the secret manager is going to fail even if the variable is inside the airflow database

[2021-10-07 07:51] mnojek commented on #18717
So what actually we can do about it? Somehow implement autorefresh when new DAG is added or just refresh the list with some time interval? I don't fully get your message @potiuk (please review it)

[2021-10-07 08:22] kiwy42 opened #18794 "Inconsitencies between docker image python 3.6/3.7/3.8/3.9"
### Apache Airflow version

2.1.4 (latest released)

### Operating System

Linux

### Versions of Apache Airflow Providers

python-gitlab==2.10.0 requests==2.26.0 airflow-multi-dagrun==2.2.0 pyhdfs-client==0.1.3 apache-airflow-providers-apache-spark==2.0.1 apache-airflow-providers-apache-hive==2.0.1

### Deployment

Other Docker-based deployment

### Deployment details

When trying to install addi

[2021-10-07 09:59] potiuk commented on #18777
No no. We keep those `Quarantine` open to keep track on the quarantined issues (+ track where it happened and keep stack-trace in case we cannot easily find a case when we try to attempt to fix it).

See other issues like that: https://github.com/apache/airflow/labels/Quarantine

[2021-10-07 10:01] #10118 closed

[2021-10-07 10:01] ephraimbuddy commented on #18579
Closing this as the API works the same way as the UI and #18642 is now merged

[2021-10-07 10:04] robinedwards opened #18801 "Migrations fail to apply when there are null run_id's in the dag_run table"
### Apache Airflow version

2.2.0b2 (beta snapshot)

### Operating System

Debian GNU/Linux 11 (bullseye)

### Versions of Apache Airflow Providers

[code]

### Deployment

Other Docker-based deployment

### Deployment details

AWS ECS + Fargate, RabbitMQ, Celery executor, Postgres 13 backend

### What happened

Hey so we just hit an issue with the 2.2.0b2 migration `airflow/migrations/versions/7b

[2021-10-07 10:58] potiuk commented on #12851
Is there a way to print a warning by PyPI at the moment such packge is installed (or even attempted to be installed) @uranusjr rather than by importlib introspection ? Or maybe we could simply start "failing" such installation (for example we could add `apache-airflow-deprecated-extra>1.0.0` but release only 1.0.0 in `PyPI` or something similar ?

[2021-10-07 11:15] #18770 closed

[2021-10-07 17:49] alex-astronomer opened #18813 "/role PATCH endpoint bug when name gets changed to a role that already exists"
### Apache Airflow version

2.2.0b2 (beta snapshot)

### Operating System

macOS Big Sur 11.3.1

### Versions of Apache Airflow Providers

n/a

### Deployment

Virtualenv installation

### Deployment details

stock airflow installation with newest main branch

### What happened

When the PATCH verb is called for `/roles/{role_name}` endpoint, the body sent allows for a name to be changed.  For exa

[2021-10-07 18:25] #18748 closed

[2021-10-07 19:42] javatarz commented on #15770
I'd be happy to. Incoming PR!

[2021-10-07 19:49] SamWheating opened #18816 "Add support for creating backfills to the stable REST API"
### Description

I'd like to be able to trigger backfills remotely through a REST API endpoint - there's already support for triggering a single DAGRun so why not multiple?

This would involve creating a new endpoint (maybe under `/dags/<dag_id>/backfills`) which would handle the same parameters as the `airflow dag backfill` CLI command.

A coworker and I would be happy to build out this functiona

[2021-10-07 21:49] SamWheating commented on #18816
Oh cool, I hadn't seen that discussion. Thanks for sharing!

It sounds like the larger backfill redesign is a much larger feature which will likely require its own AIP in order to gather requirements and feedback from the community, correct? I will think about some requirements and evaluate how much capacity I have to get involved with a larger change.

In the short term, I think it wouldn't be to

[2021-10-08 00:32] #18801 closed

[2021-10-08 02:13] uranusjr commented on #18813
Since the web UI allows changing a permission's name (albeit changing one of the default permissions will cause issues… that's not what we need to care here), specifying the name field should trigger a rename of that role, similar to #18757 for users.

[2021-10-08 02:43] uranusjr commented on #18813
I added the following test checks but can't reproduce:

[code]

The old role was renamed correctly and tests pass.

I'm wondering if it makes a difference you are editing a built-in role? IIRC Airflow has some special treatments for those role names because they need to exist for the web UI and API to operate correctly.

[2021-10-08 04:19] uranusjr commented on #12851
Unfortunately no. Well there's a way to show some warnings by publishing 1.0.0 and yanking it (IIRC pip emits a warning if you're installing a yanked version via `==`), but I'm not sure if the message would be clear or even understandable for users.

That you can, but personally I'd rather just remove those extras (which would emit a warning on installation).

[2021-10-08 04:55] potiuk commented on #12851
Sounds like adding a new feature to PIP for that is the best route we can take :P

[2021-10-08 05:36] eladkal commented on #14040
This issue is reported against an old airflow version which has reached end of life.
We no longer deploy fixes for this version.
Please upgrade your airflow version.

[2021-10-08 05:36] #14040 closed

[2021-10-08 05:52] Kiollpt opened #18827 "read_parquet use a lot of memor in airflow"
### Apache Airflow version

2.1.1

### Operating System

Ubuntu

### Versions of Apache Airflow Providers

_No response_

### Deployment

Docker-Compose

### Deployment details

_No response_

### What happened

Each parquets files is about 5GB. but running it at airflow. The memory usage keeps increasing until the task is killed.

![image](https://drive.google.com/uc?export=view&id=15G1E-1XNUzdd0

[2021-10-08 07:24] #9926 closed

[2021-10-08 07:24] #10221 closed

[2021-10-08 07:24] #12940 closed

[2021-10-08 07:25] #8622 closed

[2021-10-08 08:32] ashb commented on #18801
@robinedwards We fixed this, but have taken the decision to _alter_ the existing migration. I think this should be fine for you as the previous migration wouldn't have applied cleanly.

If on the other hand you are using mysql you have a _partly_ applied migration then you'll need to manually edit that database to unwind the migration or fully apply it and updates `alembic_version` table.

[2021-10-08 08:36] mik-laj commented on #9955
Currently, it is possible to overwrite the configuration at the DAG File level.
All you need to do is add a similar code. to the following.
[code]

[2021-10-08 09:47] mik-laj commented on #11273
This is for Airflow 1.10, so I'm closing

[2021-10-08 10:07] Kiollpt commented on #18827
@potiuk
 I know reading the file, the file will be loaded to the memory. but I want to say the memory usage should keep using about 9GB for each time. I guess there is a memory leak problem.
Because no matter where I tested this in airflow `2.1.4`  or local, then it works as  I expected.

[2021-10-08 12:28] eladkal commented on #8570
This issue is reported against an old version of Airflow.
If the problem still occur on latest Airflow version please comment and explain

[2021-10-08 12:28] #8570 closed

[2021-10-08 12:42] eladkal commented on #12145
We already have [`chain`](https://airflow.apache.org/docs/apache-airflow/stable/concepts/dags.html#task-dependencies):

[code]

[2021-10-08 12:42] #12145 closed

[2021-10-08 12:49] eladkal commented on #14159
This issue is reported against old airflow version. The experimental API is deprecated in favor of a rest API.
Please upgrade your Airflow version and change to the rest API:
https://airflow.apache.org/docs/apache-airflow/stable/stable-rest-api-ref.html

[2021-10-08 12:49] #14159 closed

[2021-10-08 13:49] eladkal commented on #13941
I believe this is covered by https://github.com/apache/airflow/pull/18399

[2021-10-08 13:51] potiuk opened #18835 "Status of testing Amzon Provider 2.3.0rc2 that was prepared on October 08, 2021"
### Body

I have a kind request for all the contributors to the latest provider packages release.
Could you help us to test the RC2 version of the Amazon provider and let us know in the comment,

This is the second attempt for Amazon because we found some problems with - it, sorry for the double work :(.

### Provider [amazon: 2.3.0rc2](https://pypi.org/project/apache-airflow-providers-amazon/2.3.

[2021-10-08 14:17] eladkal commented on #10278
@Dr-Denzy are you still working on this issue?

[2021-10-08 14:50] mehmax opened #18840 "Reading a xcom variable from a task within a task group returns None"
### Apache Airflow version

2.1.0

### Operating System

CentOs 7

### Versions of Apache Airflow Providers

_No response_

### Deployment

Other

### Deployment details

_No response_

### What happened

This example DAG
task 1 is assigned to task group 1 and pushes return_value to xcom
task 2 reads return_value of task 1 and echos it.

[code]

The problem is, that `xcom_pull(task_ids='task1')` i

[2021-10-08 15:42] mariotaddeucci commented on #18840
@mehmax When your task is within a Task Group, your callable task_id will be the task_id prefixed with the group_id (i.e. group_id.task_id). This ensures the uniqueness of the task_id across the DAG.
In your case the template should be `ti.xcom_pull(task_ids='group1.task1')`.

[2021-10-08 17:15] m0zart89 commented on #17063
I have the same problem. Also when I add region as postfix to my bucket name (_bucketname.us-east-1_) I see another behaviour:
An error occurred (**404**) when calling the HeadObject operation: Not Found

[2021-10-08 17:49] bbovenzi commented on #18731
This also happens on the far right and far left.

<img width="431" alt="Screen Shot 2021-10-08 at 12 48 08 PM" src="https://user-images.githubusercontent.com/4600967/136600716-f94342d6-0fbd-451b-a336-0fc00a65791b.png">

[2021-10-08 18:04] john-jac commented on #18835
#17609, #18156, and #18211 work as expected.

From: Jarek Potiuk ***@***.***>
Reply-To: apache/airflow ***@***.***>
Date: Friday, October 8, 2021 at 6:52 AM
To: apache/airflow ***@***.***>
Cc: "Jackson, John" ***@***.***>, Mention ***@***.***>
Subject: [apache/airflow] Status of testing Amzon Provider 2.3.0rc2 that was prepared on October 08, 2021 (#18835)

Body

I have a kind request for all the

[2021-10-08 20:31] KulykDmytro opened #18843 "SerializedDagNotFound: DAG not found in serialized_dag table"
### Apache Airflow version

2.1.4 (latest released)

### Operating System

Linux 5.4.149-73.259.amzn2.x86_64

### Versions of Apache Airflow Providers

_No response_

### Deployment

Other 3rd-party Helm chart

### Deployment details

AWS EKS over own helm chart

### What happened

We have an issue back from 2.0.x #13504
Each time scheduler is restarted it deletes all DAGS deom serialized_dag tabl

[2021-10-08 21:32] tazimmerman commented on #16389
As of 2.1.4 this also happens without the context manager.
[code]
From what I can tell it's because the check at the start of the `manage_slas` function (in `airflow/dag_processing/processor.py`) will short-circuit when **no** tasks have a valid SLA, but the rest of the code assumes that all tasks will have a valid SLA (by _valid_ I mean it's a `timedelta` and thus comparable).
[code]
I'm not sure

[2021-10-08 21:36] ageofneil opened #18845 "Facebook Ads Provider uses a deprecated version of the API"
### Apache Airflow Provider(s)

facebook

### Versions of Apache Airflow Providers

2.0.1

### Apache Airflow version

2.1.1

### Operating System

Ubuntu 20.04

### Deployment

Docker-Compose

### Deployment details

_No response_

### What happened

Task fails because the hook uses a deprecated Facebook API version. The hook is calling v6.0 which is longer supported.

### What you expected to ha

[2021-10-08 21:51] tazimmerman commented on #16389
It appears that commit [2fd3f27e](https://github.com/apache/airflow/commit/2fd3f27ebd2a4f695968fb7cc5d119e087820928#diff-3101df8e7c54fe1b9305774befb54b31edfe84cb81425a300e70142bc07637d4R408) will resolve the issue.

[2021-10-08 22:03] hpatel-higi opened #18846 "Scheduler stops running: psycopg2.OperationalError: SSL SYSCALL error: EOF detected"
### Apache Airflow version

2.1.4 (latest released)

### Operating System

Linux

### Versions of Apache Airflow Providers

adal==1.2.7
alembic==1.7.1
anyio==3.3.1
apache-airflow==2.1.4
apache-airflow-providers-ftp==2.0.1
apache-airflow-providers-http==2.0.1
apache-airflow-providers-imap==2.0.1
apache-airflow-providers-microsoft-azure==3.1.1
apache-airflow-providers-microsoft-mssql==2.0.1
apache-a

[2021-10-08 22:10] alex-astronomer commented on #18813
I'll give further reproduction steps with examples from the source for why the problem happens.  Sorry about the confusion.  Let me reproduce again just to make sure and then I'll post here.

[2021-10-08 22:22] alex-astronomer commented on #18813
Actually @uranusjr, the changes that you made for #18820 fixed this issue!  I'm going to write some test cases that confirm this behavior as a part of this issue, but otherwise looks really good!

[2021-10-08 23:32] alex-astronomer commented on #17686
Can someone assign me to this?  TY!

[2021-10-09 00:15] uranusjr commented on #18634
The `format` function in Pendulum 2.x does not accept the `formatter` argument at all.

[2021-10-09 01:47] aa1371 commented on #11451
Could also just pass check_call directly to submit without needing to define the extra function. This works in a plugin I have defined.

[code]

[2021-10-09 06:35] yuanke7 commented on #18422
Do you have any idea by now ?

[2021-10-09 07:26] prajvan commented on #17833
hi @ashb i can take this up, if it isnt being worked upon

[2021-10-09 09:34] KulykDmytro commented on #18843
Great news
However issue is about scheduler crashing while parse DagBag which leads to mentioned exception in ui

[2021-10-09 09:49] #18846 closed

[2021-10-09 09:56] sharon2719 commented on #8194
Hello kindly assign me this project.

[2021-10-09 10:25] Bowrna opened #18849 "Error in setting up the development environment following the docs for VS code"
### Describe the issue with documentation

https://github.com/apache/airflow/blob/main/CONTRIBUTORS_QUICK_START.rst#setup-and-develop-using-visual-studio-code

I am following the steps on the above page to set up the development environment. however, running the
```pyenv install 3.8.5``` in Apple M1 chip MacOS Big Sur runs into an error similar to the issue mentioned in the below StackOverflow lin

[2021-10-09 10:37] jayantsande25 commented on #17815
I guess no one is working on example DAGs for salesforce APIs yet.

On Thu, Oct 7, 2021 at 8:39 AM eladkal ***@***.***> wrote:

[2021-10-09 10:45] SCrocky commented on #17815
Yes, my bad,  I'll upload a proposal this weekend.

Thanks for the reminder. :)

[2021-10-09 14:06] #18050 closed

[2021-10-09 14:11] potiuk commented on #18849
M1 has some issues indeed. I believe the problem might be that MySQL still does not have ARM image.

[2021-10-09 14:13] potiuk commented on #8449
Fill free @javatarz ! I think it is important to get "How to guides" with examples as part of documentation (many of the operators have them already), but that's about it when it comes to recommendation.

[2021-10-09 14:38] prajvan commented on #8192
hi @potiuk can i work on this

[2021-10-09 16:37] javatarz commented on #8449
I have been looking at the code and tests. I think it's easy enough to extend this operator to split queries by new lines and support running multiple queries. I don't think a new operator is needed. This would change the way the existing operator works.

@potiuk: If I can make sure the operator is backward compatible and clearly documented, would it be OK to update the existing operator?

_I can

[2021-10-09 16:51] potiuk commented on #8449
Yes. That's perfectly fine and even preferred.

[2021-10-09 17:15] 1nF0rmed commented on #18634
@uranusjr In that case, should we avoid adding it in the upgrade documentation? and just focus on updating the pendulum references?

Also, could you point me to where I would have to make changes for the same?
Thanks

[2021-10-10 03:41] easontm commented on #18843
I'm experiencing a similar issue. If a task is in the `scheduled` state and the DAG code is temporarily removed (e.g. part of DAG CICD), the DAG processor will delete the associated information in `serialized_dag` while the task still exists. Then if the scheduler tries to transition the task from `scheduled` to `queued` before the new code is serialized, it will crash the scheduler. Upon reboot,

[2021-10-10 07:34] eladkal opened #18867 "Fix DockerSwarmOperator timeout"
### Body

See discussion in https://github.com/apache/airflow/discussions/18270

`docker-py` released version 5.0.3 https://github.com/docker/docker-py/releases/tag/5.0.3 which fixed https://github.com/docker/docker-py/issues/931

**Task:**
Update `DockerSwarmOperator`
https://github.com/apache/airflow/blob/4da4c186ecdcdae308fe8b4a7994c21faf42bc96/airflow/providers/docker/operators/docker_swarm.py

[2021-10-10 08:04] eladkal commented on #11290
@jykae would you be interested in updating the documentation?

[2021-10-10 08:06] eladkal commented on #13747
This issue is reported against old version of airflow which is end of life.
If the issue still happens in latest airflow version please let us know & provide updated details.

[2021-10-10 08:11] eladkal commented on #10341
This issue is reported against old version of Airflow (which is end of life).
If the issue is still present in latest airflow version please let us know.

[2021-10-10 11:06] mrbazzan commented on #12282
I am interested.

[2021-10-10 11:06] KulykDmytro opened #18870 "TaskFlow usage leads to parsing warning: Dependency already registered for DAG"
### Apache Airflow version

2.1.4 (latest released)

### Operating System

Linux 5.4.149-73.259.amzn2.x86_64

### Versions of Apache Airflow Providers

_No response_

### Deployment

Other 3rd-party Helm chart

### Deployment details

Python-3.9

### What happened

define DAG using TaskFlow:
[code]
When observing scheduled log multiple times:
[code]
Same warning when trying to serialize DAGBag pro

[2021-10-10 11:06] RyanSiu1995 commented on #18867
I will pick this up. Will open the PR shortly.

[2021-10-10 11:15] potiuk commented on #18867
Assigned it to you @RyanSiu1995!

[2021-10-10 11:20] potiuk commented on #18870
You should use `@dag` decorator when you are usign taskflow API.

https://airflow.apache.org/docs/apache-airflow/stable/tutorial_taskflow_api.html#tutorial-on-the-taskflow-api

[2021-10-10 11:20] #18870 closed

[2021-10-10 13:37] zkan commented on #16986
@potiuk May I take this issue, please?

[2021-10-10 13:40] bbovenzi commented on #16986
@zkan go for it!

[2021-10-10 16:12] asaf400 opened #18874 "DockerOperator xcom is broken"
### Apache Airflow version

2.0.2

### Operating System

ubuntu 20.04

### Versions of Apache Airflow Providers

apache-airflow-providers-amazon==1.3.0
apache-airflow-providers-celery==1.0.1
apache-airflow-providers-databricks==1.0.1
apache-airflow-providers-docker==1.2.0
apache-airflow-providers-ftp==1.0.1
apache-airflow-providers-http==1.1.1
apache-airflow-providers-imap==1.0.1
apache-airflow-pr

[2021-10-10 17:47] potiuk commented on #18874
This part of docker provider had gone through a number of changes and improvements and a number of bug have been fixed. What you are observing is very likley already fixed in latest `docker provider` - you  will need to upgrade Airflow to 2.1 in order to use that provider however.

[2021-10-10 20:54] ephraimbuddy commented on #18843
cc @kaxil

[2021-10-10 23:45] asaf400 commented on #18874
All the GitHub perm links I have published here are LATEST main/master branches of each repository,
therefore I actually think that I have done my due diligence enough to say the code doesn't seem to have changed from airflow 2.0.2 to airflow 2.1+, and that the issue would be just the same in new versions of airflow..

I myself am using 2.0.2 because that's what the MWAA over at AWS have enabled s

[2021-10-11 01:12] mariotaddeucci opened #18878 "Allow change the Sensors default timeout"
### Description

Add the configuration parameters to set the default `timeout` on `BaseSensorOperator`.
[code]

### Use case/motivation

By default the sensor timeout is 7 days, this is to much time for some environments and could be reduced to release workers slot faster if a sensor never matches the result and have no custom timeout.

### Related issues

_No response_

### Are you willing to sub

[2021-10-11 07:30] blinkseb opened #18880 "Unpaused DAGs not triggered"
### Apache Airflow version

2.1.4 (latest released)

### Operating System

Debian 9

### Versions of Apache Airflow Providers

[code]

### Deployment

Virtualenv installation

### Deployment details

_No response_

### What happened

Hello,

We have a lot of DAGs that we ran daily, but only at specific time of the year. For that, we programatically pause and unpause the DAGs when they should run.

[2021-10-11 09:52] lwyszomi commented on #18485
@SamWheating @kaxil @mik-laj @uranusjr

FYI migration to v1 and upgrade to 3.0.0 already sent to review.

[2021-10-11 12:24] mik-laj commented on #18878
Feel free! 🐈

[2021-10-11 14:41] t4n1o commented on #18541
Even this ulta-simple dag fails:
[code]

[2021-10-11 19:18] sbialkowski-pixel opened #18894 "Migrate from 2.1.4 to 2.2.0"
### Apache Airflow version

2.2.0

### Operating System

Linux

### Versions of Apache Airflow Providers

default.

### Deployment

Docker-Compose

### Deployment details

Using airflow-2.2.0python3.7

### What happened

Upgrading image from apache/airflow:2.1.4-python3.7
to apache/airflow:2.2.0-python3.7
Cause this inside scheduler, which is not starting:

[code]

### What you expected to happen

[2021-10-11 20:22] siddhantdixit commented on #9741
Can I work on this issue?

[2021-10-11 20:38] uranusjr commented on #9741
Go ahead!

[2021-10-11 20:41] sbialkowski-pixel commented on #18894
After deleting wrong rows airflow is working.
Thank you for help.
Can be closed.

[2021-10-11 21:06] #18835 closed

[2021-10-11 21:07] potiuk commented on #18835
Thanks everyone for testing!

[2021-10-11 21:15] #15001 closed

[2021-10-11 21:48] resdevd commented on #13823
@ashb Not sure if the dependencies are working even with specifying ">>". Below is a sample Taskflow dag with PostgresOperator.

[code]

[2021-10-11 23:22] #13823 closed

[2021-10-12 01:08] uranusjr commented on #15072
Nothing immediately comes to mind but I think we'll be able to spot a lot of oppertuinities when we actually start doing this. I wonder if it'd be worthwhile to do thing with classes as well (like how things in `views.py` are structured)

[2021-10-12 01:14] uranusjr commented on #18813
Fixed as a part of #18820.

[2021-10-12 01:14] #18813 closed

[2021-10-12 05:29] anaynayak commented on #18549
Was curious more from a config standpoint. I believe the way to specify/override the default config is from airflow_local_settings.py. Will create a PR. Will make it easier to iterate on it.

If anyone else gets to reviewing the approach, please let me know :)

[2021-10-12 08:16] uranusjr commented on #15072
If `x-openapi-router-controller` doesn't work well, we can always do some manual plumbing to get the method out. Something like

[code]

[2021-10-12 13:39] yiga2 commented on #14346
@binygreenberg just pinging too on the progress here as you wrote PR should be easy.
Another use case is being able to set dynamically airflow config env variables like connections, variables or directory locations (e.g `dags`) based on info only available at runtime.
For us, see https://apache-airflow.slack.com/archives/CCQ7EGB1P/p1634045335174500?thread_ts=1632400706.492300&cid=CCQ7EGB1P where w

[2021-10-12 13:39] asaf400 commented on #18874
@potiuk Yes, I can try and fix it, but it wouldn't be pretty,
Partly because the issue is also actually docker-py's fault..

I'll have to go through some of the old commits, but I think the resolution might be not using attach() at all, and just using logs() after container exits, and before container removal

[2021-10-12 15:44] rbohlmann1 commented on #17689
Thank you for the explanation. 🙂

-- Russell Bohlmann
***@***.***

________________________________
From: Tzu-ping Chung ***@***.***>
Sent: Tuesday, October 12, 2021 5:10 AM
To: apache/airflow ***@***.***>
Cc: rbohlmann1 ***@***.***>; Author ***@***.***>
Subject: Re: [apache/airflow] Redirect issue when working with multiple instances of Airflow (#17689)

The cookies are natively separated by doma

[2021-10-12 16:56] potiuk commented on #17686
Quite agree  - there are a number of things in the taskflow that are "implicit" or not really documented (I just fixe one of those seeming obvious things about context https://github.com/apache/airflow/pull/18868 which was not obvious at all for new users (or even seasoned committers :D ) . So more docs on how TaskFlow works is really needed.

[2021-10-12 16:57] alex-astronomer commented on #17686
In progress right now!  Actively writing as we speak @potiuk

[2021-10-12 17:13] yiga2 opened #18913 "Better "recipe" for image with gcloud"
### Description

Here an alternative to the `Dockerfile`  @ https://github.com/apache/airflow/blob/main/docs/docker-stack/docker-images-recipes/gcloud.Dockerfile that produces a much smaller image with `gcloud sdk`.

It has **_not_** been tested with all relevant operators but it meets our needs and possibly yours if you use `gcloud`, `gsutil`, `bq` and `kubectl` utils.

It leverages multi-layers,

[2021-10-12 18:36] potiuk commented on #18894
Seems other people have similar issue https://github.com/apache/airflow/discussions/18912 so for me it looks highly unlikely this was manually added.

I think the number of reports we have in such short time (I saw 3 reports already) indicate that those rows can appear frequently as result of normal opertions by Airflow, and many users might hve similar issues soon.

If this is realy result of "re

[2021-10-12 18:54] MatrixManAtYrService opened #18917 "Document xcom clearing behaviour on task retries"
### Apache Airflow version

2.2.0 (latest released)

### Operating System

Debian Buster (in Docker)

### Versions of Apache Airflow Providers

n/a

### Deployment

Astronomer

### Deployment details

Dockerfile:
[code]

Launched via `astro dev start`

**DAG**

[code]

### What happened

The pushed value appears in XCOM, but even on successive retries `xcom_pull` returned `None`

### What you expe

[2021-10-12 19:21] MatrixManAtYrService opened #18918 "Manual execution of future dated dag succeeds, but none of the tasks actually run"
### Apache Airflow version

2.2.0 (latest released)

### Operating System

Debian Buster (in docker)

### Versions of Apache Airflow Providers

n/a

### Deployment

Astronomer

### Deployment details

Dockerfile:

[code]

**DAG**
[code]

### What happened

The DAG succeeded, but the task didn't run:

![image](https://user-images.githubusercontent.com/5834582/137015726-f37c7ac6-f19a-4742-b685-c504e

[2021-10-12 21:25] xuan616 opened #18921 "Add query timeout as an argument in CassandraToGCSOperator"
### Description

In the current [CassandraToGCSOperator](https://github.com/apache/airflow/blob/main/airflow/providers/google/cloud/transfers/cassandra_to_gcs.py#L40), [session.execute()](https://github.com/apache/airflow/blob/main/airflow/providers/google/cloud/transfers/cassandra_to_gcs.py#L165) is only able to use the default timeout set by cassandra driver.

The GH issue intends to support tim

[2021-10-12 21:59] zachliu commented on #18894
just ran this in my prod db
[code]
my `execution_date` column is all scheduled runs i think

[code]

[2021-10-12 22:42] celoibarros opened #18925 "Add template_ext = ('.json') to databricks operators"
### Description

Add template_ext = ('.json') in databricks operators. I will improve the debug and the way to organize parameters.

### Use case/motivation

Bigger parameters on file. Easier to debug and maintain.

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Con

[2021-10-12 23:23] mik-laj commented on #18925
https://github.com/apache/airflow/blob/main/CONTRIBUTING.rst#contribution-workflow

[2021-10-13 06:30] wpromatt opened #18932 "Conflicts with airflow constraints for airflow 2.2.0 python 3.7"
### Apache Airflow version

2.2.0 (latest released)

### Operating System

all

### Versions of Apache Airflow Providers

_No response_

### Deployment

Other

### Deployment details

Python 3.7

### What happened

The versions of `flake8` and `importlib-metadata` specified in the constraints file are incompatible for python 3.7.

In the [constraints file](https://raw.githubusercontent.com/apache/

[2021-10-13 06:36] dstandish opened #18933 "Bad ownership metadata error for ingress when upgrading from chart version 1.1.0 to 1.2.0"
### Official Helm Chart version

1.2.0 (latest released)

### Apache Airflow version

2.1.4 (latest released)

### Kubernetes Version

20

### What happened

This may not be a bug.

But I tried switching to 1.2.0 from 1.1.0, and got this error:

[code]

After adding the label and annotations I was able to do the upgrade.

### Anything else

@jedcunningham should we possibly be populating these in

[2021-10-13 06:52] #18933 closed

[2021-10-13 08:37] raphaelauv opened #18936 "webserver bug : Parent instance <User at XX> is not bound to a Session; lazy load operation of attribute 'roles' cannot proceed"
### Apache Airflow version

2.1.2

### Operating System

GCP Container-Optimized OS

### Versions of Apache Airflow Providers

apache-airflow-providers-cncf-kubernetes==2.0.2
apache-airflow-providers-slack[http]==4.1.0

### Deployment

Composer

### Deployment details

_No response_

### What happened

I had 2 dags file with same dag name , just after deleted 1 of them and doing a F5 on the dag ui

[2021-10-13 10:19] opendatakraken opened #18937 "KubernetesExecutor: Log Server not running inside the worker pod"
### Apache Airflow version

2.2.0 (latest released)

### Operating System

Alpine on Kubernetes

### Versions of Apache Airflow Providers

apache-airflow-providers-apache-hdfs==2.1.1
apache-airflow-providers-cncf-kubernetes==2.0.3
apache-airflow-providers-elasticsearch==2.0.3
apache-airflow-providers-exasol==2.0.1
apache-airflow-providers-ftp==2.0.1
apache-airflow-providers-http==2.0.1
apache-airf

[2021-10-13 10:36] danarwix commented on #15072
I think i will start by some refactoring of the tests just to get a better understanding of the structure...

[2021-10-13 10:51] eladkal commented on #15028
@potiuk this is solved, right?

[2021-10-13 11:32] potiuk commented on #17661
@nareshurs @Bash- @EliMor - could you please comment on that 'submodule' ? I am asking because i am not a fan of 'we could do it because.we can' but more of a fan of 'use what's already available' so i am tempted to 'implement' that one by describing how you can use submodules to achieve what you want rather than support multiple repos.

I believe it has all you need for that (and even more becaus

[2021-10-13 11:56] potiuk commented on #12338
I tink we can close that one. We are really not in 1.10 any more and I think the cherry-picking process for v2* branches is much more strightforward now WDYT @kaxil .

[2021-10-13 12:48] hossein-jazayeri opened #18940 "Upgrading from version 2.1.4 to 2.2.0 fails during mysql db upgrade with error Can't DROP 'dag_id'"
### Apache Airflow version

2.2.0 (latest released)

### Operating System

Debian GNU/Linux 10 (buster)

### Versions of Apache Airflow Providers

[code]

### Deployment

Docker-Compose

### Deployment details

docker-compose file:
[code]
Dockerfile:
[code]

requirements.txt:
[code]

### What happened

After updating `requirements.txt` file to use Airflow `2.2.0` instead of `2.1.4`, I ran:
[code]

[2021-10-13 12:49] hossein-jazayeri opened #18942 "Upgrading from version 2.1.4 to 2.2.0 fails during mysql db upgrade with error Can't DROP 'dag_id'"
### Apache Airflow version

2.2.0 (latest released)

### Operating System

Debian GNU/Linux 10 (buster)

### Versions of Apache Airflow Providers

[code]

### Deployment

Docker-Compose

### Deployment details

docker-compose file:
[code]
Dockerfile:
[code]

requirements.txt:
[code]

### What happened

After updating `requirements.txt` file to use Airflow `2.2.0` instead of `2.1.4`, I ran:
[code]

[2021-10-13 12:54] hossein-jazayeri commented on #18940
duplicate of [this issue](https://github.com/apache/airflow/issues/18939)

[2021-10-13 12:54] #18940 closed

[2021-10-13 12:54] #18942 closed

[2021-10-13 14:06] bbovenzi commented on #17413
Ignore the 10 vs 1 second thing. That is just a coincidence with the DAG runs I was testing on.

They mostly appear to be off-by-one errors of the date provided to the dropdown. We should to make sure to round the second up instead of down.

I don't know yet where the 3 second difference in the screenshot is coming from though...

[2021-10-13 16:06] konfusator commented on #18894
This should read »dag_run.execution_date«

[2021-10-13 16:14] MM-Lehmann commented on #18894
This becomes a bit neater with `... JOIN ... using (dag_id, execution_date)`

[2021-10-13 19:48] jameslamb opened #18959 "[ui] Use name of variable or connection in delete confirmation box"
### Description

As of Airflow 2.1.0, when you click the trash can in the UI to delete a Variable or Connection, the following confirmation box appears.

![image](https://user-images.githubusercontent.com/7608904/137201420-48a4dc49-7a49-4074-9f9f-2b98c4756275.png)

With the message.

In this feature request, I'd like to propose that this message include the name of the Variable or Connection being

[2021-10-13 19:50] jameslamb commented on #18959
I didn't see a place in the GitHub Form to add this....I checked "willing to submit a PR" because I am willing to do the work if maintainers are open to the feature, but I'm very inexperienced with JavaScript, so I expect that other contributors would be able to implement this much more quickly than I could.

[2021-10-13 20:13] potiuk commented on #18746
Ah yeah. Just see it now. Actually timeout cancels running task and on_failure_callback is not called.  You can open a new feature request - maybe it would make sense to have on_timeout_calback().

[2021-10-13 20:13] #18746 closed

[2021-10-13 21:00] thcidale0808 commented on #18582
@fritz-astronomer are you happy with the scope/assumptions raised by @SamWheating here: https://github.com/apache/airflow/issues/18582#issuecomment-931473731 ?

[2021-10-13 21:02] fritz-astronomer commented on #18582
Yea @thcidale0808 - I imagine that would fit the needs of the individuals I've talked to with this. The ENV does it's best to ADD or UPDATE pools. Users will be made aware that pools (like connections and variables) can also come from many sources, and if the env disappears, then it's on the user to remove the pool (which also doesn't feel like the worst "failure state" to me?)

[2021-10-13 22:14] BB-at-SFP opened #18962 "Please mention AirFlow wordings in documentation & add "Exec specific DAG" role example"
### Describe the issue with documentation

1. The [permissions documentation](https://airflow.apache.org/docs/apache-airflow/stable/security/access-control.html#dag-level-permissions) does not neccessarily describe exactly, what you see in AirFlow (List Roles and/or Edit Role).

Example: Use "List Roles" to see the current permissions of the "Viewer" default role:
[code]

You will not find these t

[2021-10-13 22:45] joshzana opened #18963 "Missing value for new before_send config causes airflow.exceptions.AirflowConfigException: section/key [sentry/before_send] not found in config"
### Apache Airflow version

2.2.0 (latest released)

### Operating System

Ubuntu 20.04.3 LTS

### Versions of Apache Airflow Providers

apache-airflow-providers-amazon==2.3.0
apache-airflow-providers-celery==2.1.0
apache-airflow-providers-cncf-kubernetes==2.0.3
apache-airflow-providers-docker==2.2.0
apache-airflow-providers-elasticsearch==2.0.3
apache-airflow-providers-ftp==2.0.1
apache-airflow-p

[2021-10-13 23:30] #15526 closed

[2021-10-13 23:32] mik-laj commented on #18963
@leonsmith can you look at it?

[2021-10-14 01:55] easontm commented on #16982
Sorry for the late reply, yes. Also as an update, I'm no longer experiencing deadlock on 2.1.4. However I haven't verified that if deadlock _does_ occur, if the task has a more graceful exit.

[2021-10-14 02:10] easontm commented on #18756
I believe I'm experiencing a similar issue. Occasionally in my deployment, task pods fail to create due to k8s environmental reasons. To a degree this can't be helped by me, and I would prefer if the scheduler could automatically retry/reschedule on this event (because it can at least tell that the task failed).

[2021-10-14 03:34] gbonazzoli opened #18965 "Upgrading from version 2.1.4 to 2.2.0 fails during postgres db upgrade with error The task_instance table has 1392 rows without a corresponding dag_run row. You must manually correct this problem (possibly by deleting the problem rows)"
### Apache Airflow version

2.2.0 (latest released)

### Operating System

Ubuntu 20.04.3 LTS

### Versions of Apache Airflow Providers

apache-airflow-providers-oracle==2.0.1
apache-airflow-providers-ssh==2.1.1

### Deployment

Virtualenv installation

### Deployment details

_No response_

### What happened

During the the command `airflow db upgrade` we got this error:

[code]

### What you exp

[2021-10-14 04:14] gbonazzoli commented on #18965
I found the solution to delete the offending records:

[code]

And I successfully migrated to 2.2.0

[2021-10-14 04:30] gbonazzoli opened #18967 "DbApiHook.test_connection() does not work with Oracle db"
### Apache Airflow version

2.2.0 (latest released)

### Operating System

Ubuntu 20.04.3 LTS

### Versions of Apache Airflow Providers

apache-airflow-providers-oracle==2.0.1

### Deployment

Other

### Deployment details

![Screen Shot 2021-10-14 at 06 27 02](https://user-images.githubusercontent.com/17742862/137252045-64393b28-2287-499d-a596-e56542acf54e.png)

### What happened

The title and s

[2021-10-14 04:54] rchangj commented on #17558
This issue shows on version 2.1.2 as well. There is no logs of any error shows up. As I mentioned earlier, following command "sudo /sbin/runuser -l -c "airflow scheduler" can be a work around. It would be good to have a fix for this issue.

[2021-10-14 05:10] harlequin opened #18969 "Trino JWT Authentication Support"
### Description

Would be great to support JWT Authentication in Trino Hook (which also can be used for presto hook).

For example like this

[code]

### Use case/motivation

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://github.com/a

[2021-10-14 06:14] MartinKChen opened #18970 "SmartSensor not working when pass execution_date_fn and execution_delta to the sensor task"
### Apache Airflow version

2.0.2

### Operating System

Linux (AWS MWAA)

### Versions of Apache Airflow Providers

MWAA with Apache Airflow 2.0.2

### Deployment

MWAA

### Deployment details

_No response_

### What happened

Airflow raises exception when register sensor tasks if execution_date_fn/execution_delta is passed. Since function and timedelta could not be serialized when execute json.

[2021-10-14 08:02] eladkal commented on #18074
@binhnefits are you still working on this issue?

[2021-10-14 08:05] eladkal commented on #11721
@lwyszomi would you be interested in addressing this issue?

[2021-10-14 08:29] lwyszomi commented on #11721
@eladkal I can take care of this one, please assign it to me.

[2021-10-14 09:52] leonsmith commented on #18963
Sure! ill stick a test in too

[2021-10-14 14:29] #18845 closed

[2021-10-14 15:12] ephraimbuddy commented on #17507
For those having this issue while using multiple schedulers, I added a fix of an issue I got while running two schedulers. You can try the patch. See https://github.com/apache/airflow/pull/18975

[2021-10-14 17:09] #18894 closed

[2021-10-15 00:55] chinwobble opened #18999 "Update databricks provider to use TriggerOperator"
### Description

The databricks provider can be updated to a deferrable task introduced in airflow 2.2.0. This will significnatly reduce cpu usage, memory usage on LocalExecutor and improve reliability since state is stored in the airflow metastore.

### Use case/motivation

Currently the databricks operators works by calling the databricks REST API to submit a spark job and polling it every 20 se

[2021-10-15 01:37] chinwobble commented on #8125
We are using externally mounted azure file share to store our logs (which is expensive).
We aren't getting any errors. We use a datadog agent to scan the logs folder and ingest all our log files.
The symlinking is causing the same two files to be ingested twice.

[2021-10-15 05:05] brain-buster opened #19002 "Mypy type checker fails after upgrading from 2.1.4 to 2.2.0"
### Apache Airflow version

2.2.0 (latest released)

### Operating System

Ubuntu 20.04.3 LTS

### Versions of Apache Airflow Providers

apache-airflow-providers-amazon==2.3.0
apache-airflow-providers-ftp==2.0.1
apache-airflow-providers-http==2.0.1
apache-airflow-providers-imap==2.0.1
apache-airflow-providers-mongo==2.1.0
apache-airflow-providers-postgres==2.3.0
apache-airflow-providers-sqlite==2.

[2021-10-15 07:26] yifeng-chen opened #19004 "suffix of dag run id is always +00:00"
### Apache Airflow version

2.2.0 (latest released)

### Operating System

Ubuntu 20.04.2 LTS

### Versions of Apache Airflow Providers

docker tag: apache/airflow:2.2.0-python3.7

### Deployment

Other

### Deployment details

_No response_

### What happened

No matter what time zone do I specify in config file [core/default_timezone] or dag's start date, the suffix of dag_run_id is always "+00:

[2021-10-15 07:49] JavierLopezT opened #19005 "Task in status 'skipped' instead of 'failed' when failed due to dagrun timeout"
### Apache Airflow version

2.1.2

### Operating System

Official Docker Image

### Versions of Apache Airflow Providers

_No response_

### Deployment

Docker-Compose

### Deployment details

LocalExecutor. RDS Postgres as backend database

### What happened

I have a DAG with dagrun_timeout, but once it fails due to that, it gets the state 'skipped' instead of 'failed', as you can see below:

<i

[2021-10-15 07:53] potiuk commented on #17661
Here is a nice video showing how Jagex has done it with submodules: https://youtu.be/a-4yRne3ba4 - I would still love to hear if this is something that prevents you from doing this @Bash- @EliMor ?

[2021-10-15 07:57] eskarimov commented on #14682
I'd like to work on this issue. Seems a similar one might affect other operators as well - @TobKed mentioned [AzureFileShareToGCSOperator](https://github.com/apache/airflow/blob/866a601b76e219b3c043e1dbbc8fb22300866351/airflow/providers/google/cloud/transfers/azure_fileshare_to_gcs.py#L106-L114). [`LocalFilesystemToS3Operator`](https://github.com/apache/airflow/blob/1632c9f519510ff218656bbc1554c80

[2021-10-15 10:29] uranusjr commented on #19004
Duplicate to #17502

[2021-10-15 10:29] #19004 closed

[2021-10-15 11:41] kapopken opened #19007 "argument execution_date: invalid parse value"
### Apache Airflow version

2.2.0 (latest released)

### Operating System

apache/airflow:2.2.0-python3.8

### Versions of Apache Airflow Providers

[code]

### Deployment

Other 3rd-party Helm chart

### Deployment details

Deploy to kubernetes using a custom helm chart.
Using a pod template for the jobs themselves
[code]

### What happened

Upgraded to 2.2.0 and suddenly received this error
airf

[2021-10-15 12:25] pvanliefland commented on #18239
I'm using the helm chart and experiencing something similar. When using `KubernetesExecutor` and `logs.persistence.existingClaim`, it works fine. As soon as I switch to `CeleryExecutor` (without touching `logs.persistence.existingClaim`), I also get `Log file does not exist`.

[2021-10-15 13:18] oriolcmp commented on #12985
Sorry but I don't think it shouldn't be a feature. It is a bug because If I'm not wrong all operators should be able to use XCom variables. And with this operator currently this is not possible. This operator could be very useful to deal with dependency contraints but without passing variables is kind of limited and it seems the only option left is to use DockerOperator.

[2021-10-15 13:40] FurcyPin commented on #17507
+1, I'm seeing task failures with similar messages on Cloud Composer 2 (composer-2.0.0-preview.3-airflow-2.1.2)
I had 2 schedulers enabled and downscaled to just 1 scheduler, but I'm still seeing the same error.

[2021-10-15 14:14] baolsen commented on #16770
Hi there

If you are using an "assume_role"/similar with the aws hook then the
credentials _should_ automatically refresh.

I tested it using normal boto3 clients but have not tested using a waiter,
like what the ECS operator uses.

Maybe try add some logging lines to the aws base hook if you can, to see if
the expected assume role and  refresh credentials methods are being called.

Regards

On Fr

[2021-10-15 15:40] kapopken commented on #19007
Closing issue. The issue ended up being a typo which went to our old docker image repo 2 letter difference. This issue is solved.

[2021-10-15 15:40] #19007 closed

[2021-10-15 17:33] potatochip opened #19015 "Remote logging using GCP connection from connection table broken"
### Apache Airflow version

2.2.0 (latest released)

### Operating System

linux

### Versions of Apache Airflow Providers

_No response_

### Deployment

Other 3rd-party Helm chart

### Deployment details

_No response_

### What happened

The following commit removed the ability to use the connections table for remote logging with GCP. Can we roll it back?

https://github.com/apache/airflow/comm

[2021-10-15 18:08] sensei100 commented on #17536
We solved this by adding @gvillafanetapia's workaround in the airflow.cfg file under the webserver section.
[code]

[2021-10-15 18:11] sbialkowski-pixel opened #19016 "Impossible Xcom filtering by value in UI"
### Apache Airflow version

2.2.0 (latest released)

### Operating System

Linux

### Versions of Apache Airflow Providers

Default

### Deployment

Docker-Compose

### Deployment details

Official docker-compose with some custom env.

### What happened

Any search done in UI on Xcoms value fail in to error.
This bug is also in version 2.1.2 so 2.1.4 probably also contain it.
In xcoms I have plan

[2021-10-15 20:11] SamWheating commented on #19016
I can look into this if someone assigns it to me - it looks like there might be a few issues with the `/xcom` view.

[2021-10-15 23:38] SamWheating commented on #18239
I don't think this is going to work, since each airflow worker runs a background flask application which serves logs from tasks run on that worker at the specified logging port (in this case 8793).

https://github.com/apache/airflow/blob/9b3ed1f652fcdf6eaf672e5d15646a0512b852f4/airflow/utils/serve_logs.py#L70-L72

By running the workers behind a load balancer, you're removing the webserver's abili

[2021-10-16 00:42] dimon222 commented on #18239
I would assume "shared logs" implies that storage is shared (mounted volume, PVC in kubernetes, etc). Unless there's something on worker itself restricts to go above what was allocated to this specific worker to do?

[2021-10-16 09:27] codenamestif commented on #18089
@theagilehacker

I was able to reproduce same error:
1. start task from airflow
2. manually stop ECS task from ECS console before the task reached `RUNNING` state.

[2021-10-16 10:04] Bowrna commented on #11913
Do we need to include sample code in the airflow/example_dags to add docs?

[2021-10-16 14:14] josh-fell commented on #14319
I can confirm this is fixed in Airflow 2.1.0 and Airflow 2.2.0.

[2021-10-16 18:13] Walid-peach opened #19024 "Data type (Bit / INTEGER) incompatibility between schema and file in MysqltoGCSOperator"
### Apache Airflow Provider(s)

google, mysql

### Versions of Apache Airflow Providers

_No response_

### Apache Airflow version

2.1.4 (latest released)

### Operating System

ubuntu 20.04

### Deployment

Docker-Compose

### Deployment details

_No response_

### What happened

_No response_

### What you expected to happen

_No response_

### How to reproduce

_No response_

### Anything else

[2021-10-16 19:33] theagilehacker commented on #18089
Oh nice, I guess that makes sense if you kill it before it is about to load the container should cause the same issue.

[2021-10-17 01:33] jgmarcel opened #19028 "PermissionError when `core:default_impersonation` is set"
### Apache Airflow version

2.2.0 (latest released)

### Operating System

Ubuntu 20.04.3 LTS

### Versions of Apache Airflow Providers

[code]

### Deployment

Virtualenv installation

### Deployment details

I closed followed the installations instructions given at [Installation from PyPI](https://airflow.apache.org/docs/apache-airflow/stable/installation/installing-from-pypi.html), with `AIRFLO

[2021-10-17 14:08] jedcunningham commented on #18894
@ldacey, yep, deleting dagruns via the UI turns out to be a common way to hit this (it's been a bug for a while it seems: #15986).

[2021-10-17 18:27] nikie commented on #18304
A fast and persistent user is able to unblock the runs as follows:
5. Mark dagrun 2 as failed.
6. Once dagrun 1 starts executing - clear Task B in dagrun 2 so that dagrun 2 is scheduled again.
7(a) Dagrun 1 completes, dagrun 2 starts, deadlock is resolved.
7(b) If dagrun 1 completes before Task B was cleared in dagrun 2, then dagrun 3 will start and will be blocked by dagrun 2.  In this case repea

[2021-10-17 19:17] nikie commented on #18304
This issue is similar to #17375 and might be related to #14205.

[2021-10-17 19:20] nikie commented on #17375
This issues is similar to #18304. I was able to workaround this as per https://github.com/apache/airflow/issues/18304#issuecomment-945172125

[2021-10-17 19:33] andrenerd opened #19037 "Set replace_microseconds to False"
### Description

Let's set the "replace_microseconds" default param to False:

https://github.com/apache/airflow/blob/5dd690b57a20ca944deb8d96e89ec6ae6161afeb/airflow/api/common/experimental/trigger_dag.py#L36

### Use case/motivation

Using `trigger_dag` instead of the api call to trigger new dag run is pretty handful. Except one little thing, it's always needed to set "replace_microseconds" to F

[2021-10-18 01:31] timgriffiths opened #19038 "Race condition when running multiple schedulers"
### Apache Airflow version

2.2.0 (latest released)

### Operating System

Debian GNU/Linux 10 (buster)

### Versions of Apache Airflow Providers

apache-airflow-providers-amazon==2.3.0
apache-airflow-providers-celery==2.1.0
apache-airflow-providers-cncf-kubernetes==2.0.3
apache-airflow-providers-docker==2.2.0
apache-airflow-providers-elasticsearch==2.0.3
apache-airflow-providers-ftp==2.0.1
apache

[2021-10-18 04:48] uranusjr commented on #18304
I kind of feel maybe we should _always_ do this instead of trying to detect a deadlock at all. So if all the DAG run's "visiting" tasks (not sure what the right term is) are waiting for their respective past instances, the DAG run goes into a "running but not actually" state, which is treated as running in the UI, but queued in the scheduler. When any of those tasks receives its past instance's re

[2021-10-18 08:13] Jaxing opened #19040 "Upgrading from 2.1.3 to 2.20 some dags fail due to pickeling"
### Apache Airflow version

2.2.0 (latest released)

### Operating System

Kubernetes

### Versions of Apache Airflow Providers

_No response_

### Deployment

Other

### Deployment details

Deploying using the docker image and a custom deployment file

### What happened

Most dags opens fine but some fails and shows this error page
[code]
No python versions has changed other than possibly the one

[2021-10-18 13:00] benvit92 commented on #18041
Hello all,

not sure if it is helpful but I can tell the following:

we had the same issue with Airflow 2.1.0 deployed on AKS (Azure k8s) and we also noticed that a lot of pods were not being cleaned after completion (Success or Error) and while scraping the scheduler logs for sigtermed tasks I noticed the following entries:
[code]
As the scheduler was not able to adopt the pods it was sending SIG

[2021-10-18 13:47] Overbryd commented on #13542
I will be unsubscribing from this issue.

I have not encountered this issue again (Airflow 2.1.2).
But the following circumstances made this issue pop up again:

* An Airflow DAG/task is being scheduled (not queued yet)
* The Airflow DAG code is being updated, but it contains an error, so that the scheduler cannot load the code and the task that starts up exits immediately
* Then the scheduler thi

[2021-10-18 14:37] magnusfurugard opened #19044 "Statsd host does not update"
### Official Helm Chart version

1.2.0 (latest released)

### Apache Airflow version

2.1.4 (latest released)

### Kubernetes Version

v.1.21.2

### Helm Chart configuration

[code]

### Docker Image customisations

None.

### What happened

Setting `AIRFLOW__METRICS__HOST` seem to have no effect, even if we set `statsd.enabled=false` in the chart and enable it through the same config (`AIRFLOW__M

[2021-10-18 14:54] Bowrna opened #19045 "Setting up development environment for Airflow: Pyenv commands failed in macOS"
### Describe the issue with documentation

I am following the steps in this link to set up the breeze in my machine
https://github.com/apache/airflow/blob/main/CONTRIBUTORS_QUICK_START.rst
Under the title `Installing airflow in the local virtual environment airflow-env with breeze.`

i am running the below command :
```$ ./breeze initialize-local-virtualenv --python 3.8```

I get the following err

[2021-10-18 16:12] uranusjr opened #19049 "Migrate execution_date database columns to logical_date"
To conform with other AIP-39 changes. `execution_date` should still be kept on the class and emit a deprecation warning when accessed (either as a property or a filter). I think there's mechanism in SQLAlchemy for this out of the box.

[2021-10-18 17:15] hpatel-higi commented on #18846
@potiuk so im getting a weird behavior now after adding the keep_alives args.  Parent task in DAG succeeds but the subsequent task that should run after that task fail.

![image](https://user-images.githubusercontent.com/67915750/137777264-becd6abf-8866-4d2e-b628-d5720167a743.png)

In the above image you can see the parent task is still running but it marked the subsequent tasks as failed already.

[2021-10-18 19:35] potiuk commented on #19045
Also - following the discussion https://apache-airflow.slack.com/archives/CQ9QHSFQX/p1634550158070300

It seems that we have a little "destructive" behaviour of "initialize-local-virtualenv" that could be corrected along the way.

Airflow, by default stores all "dynamically" generated stuff (logs, sqlite database, configuration) in `AIRFLOW_HOME` environment variable. If you do not happen to have

[2021-10-18 20:22] mrbazzan commented on #17815
@SCrocky Are you still working on this issue?

[2021-10-18 23:03] jedcunningham opened #19058 "Manual dagrun logs to last scheduled dagruns log files"
### Apache Airflow version

2.2.0 (latest released)

### Operating System

MacOS 11.6

### Versions of Apache Airflow Providers

_No response_

### Deployment

Virtualenv installation

### Deployment details

_No response_

### What happened

Task logs for manual runs are being appended to the last scheduled runs log file.

It seems like it isn't using the `logical_date` (aka `execution_date`) for

[2021-10-19 01:55] mik-laj opened #19059 "Add Python 3.10 support"
### Description

According to README.md - "Support for Python and Kubernetes versions":

Python 3.10 has been released on October 18, 2021, so we should take steps to test Airflow with this release.

### Use case/motivation

Support for new versions of Python is expected by users who wish to test the new features that this version added. After that, some users install this release by mistake and t

[2021-10-19 02:02] uranusjr commented on #19059
The `ModuleNotFoundError: No module named 'pwd'` error the user gets is weird though. Airflow should have no problem running on 3.10 (albeit not officially supported), and the `pwd` stdlib did not receive any significant change. That problem is likely separated from 3.10 support.

I'll submit a fix to deal with the distutils deprecation warning.

[2021-10-19 06:25] #18789 closed

[2021-10-19 06:31] Jaxing commented on #19040
We have never been have never been explicitly on 3.6 that is if the default changed from 3.6 to 3.8?

[2021-10-19 06:33] uranusjr commented on #19040
It did not, but even if it did there shouldn't be a problem. What seems to have happened is the other way around: The _2.1_ installation was on 3.8, but now the _2.2_ installation is using 3.6, which is the weird thing.

[2021-10-19 07:21] Jaxing commented on #19040
Hmm ok. I'm trying to reproduce it now, but I had to wipe our staging env when I downgraded from the broken 2.2 deployment so now when I upgrade it I cannot reproduce.

We are only using kubernetes operator and bigquery operators. And the airflow image versions have always been just the version number as far as I can see in our git history.

I'm going to down grade to 2.1.3 again try to run the da

[2021-10-19 07:59] Jaxing commented on #19040
After down grade, dag run, upgrade, I cannot reproduce so I guess we can close this...

[2021-10-19 10:13] lanms opened #19069 "2.2 Pythonoperator The task executed successfully, but was not marked as successful, resulting in increasing memory and eventually outage"
### Apache Airflow version

2.2.0 (latest released)

### Operating System

centos

### Versions of Apache Airflow Providers

_No response_

### Deployment

Other Docker-based deployment

### Deployment details

_No response_

### What happened

I use two case run pythonoperator
A memory leak occurs when pythonOperator is used. The machine runs out of memory and the task is forced to end,
task is r

[2021-10-19 11:44] #19040 closed

[2021-10-19 11:55] Angelvicks commented on #10178
Hello, I am an Outreachy Applicant. Please can I work on this issue?

[2021-10-19 13:01] potiuk commented on #19058
Great analysis @uranusjr chapeau-bas ! I think there is another option for custom logs. I believe we could simply  ban using `ts` in the names of the logs. That would mean some additional analysis of the custom logging specification and failing airflow if we detect it - possibly with a very descriptive explanation on how to convert the old logging spec and maybe even a tool to help with it.

Yes i

[2021-10-19 13:29] masayuki038 opened #19071 "Error in SSHOperator "'XComArg' object has no attribute 'startswith'""
### Apache Airflow Provider(s)

ssh

### Versions of Apache Airflow Providers

apache-airflow-providers-ssh 2.2.0

### Apache Airflow version

2.1.3

### Operating System

Ubuntu 20.04.2 LTS (Focal Fossa)

### Deployment

Other

### Deployment details

_No response_

### What happened

Specified `command` of SSHOperator to the return value of @task function, it raised AttributeError "'XComArg' obj

[2021-10-19 14:42] sdebruyn opened #19077 "Add support for more authentication types in Azure Data Factory hook"
### Description

At the moment the Azure Data Factory hook only supports `TokenCredential` (service principal client ID and secret). It would be very useful to have support for other authentication types like managed identity. Preferably, we would create a `DefaultTokenCredential` if the client ID and secret are not provided in the connection.

### Use case/motivation

We're using Airflow on Azure

[2021-10-19 14:44] jedcunningham commented on #19069
Hi @lanms, I'm not able to reproduce this and I suspect it's something related to `EnterpriseWeiChat`. Can you try to reproduce with this DAG:

[code]

[2021-10-19 15:23] cb149 opened #19078 "TaskGroup tooltip missing actual tooltip and default_args issue"
### Apache Airflow version

2.2.0 (latest released)

### Operating System

Ubuntu

### Versions of Apache Airflow Providers

_No response_

### Deployment

Other

### Deployment details

Just used `airflow standalone`

### What happened

First:

TaskGroup does not show the tooltip that is defined for that group on hover
![2021-10-19_17h00_18](https://user-images.githubusercontent.com/35238779/1379

[2021-10-19 15:41] masayuki038 commented on #19071
@earthmancash2 EmailOperator looks like to be able to take XComArg as parameter. Why can't SSHOperator as well ?
https://github.com/apache/airflow/blob/829f19f94ea88db1825261ef2fd4920f8a9558eb/airflow/example_dags/example_dag_decorator.py#L61

[2021-10-19 15:46] ephraimbuddy commented on #19071
The example you referenced is using the `.output` but you are passing the xcomarg.

[2021-10-19 15:48] mik-laj opened #19080 "Display DAGs dependencies in CLI"
### Description

Recently, we added [a new DAG dependencies view](https://github.com/apache/airflow/pull/13199) to the webserver. It would be helpful if a similar diagram could also be displayed/generated using the CLI. For now, only [one DAG can be displayed](http://airflow.apache.org/docs/apache-airflow/stable/usage-cli.html#exporting-dag-structure-as-an-image) using CLI.
![image](https://user-i

[2021-10-19 15:48] ephraimbuddy commented on #19071
Hmm. Reopening to investigate more

[2021-10-19 16:40] cb149 opened #19082 "Dag with Schedule: None that is always triggered from TriggerDagRunOperator ignores Runs setting in UI"
### Apache Airflow version

2.2.0 (latest released)

### Operating System

Debian buster

### Versions of Apache Airflow Providers

_No response_

### Deployment

Other Docker-based deployment

### Deployment details

Official docker image (extended)

### What happened

I have a dag which is scheduled to run every 2 hours. As the last task, it has a TriggerDagRunOperator, which triggers a dag that

[2021-10-19 18:08] #19078 closed

[2021-10-19 19:17] luzbarbosa commented on #18041
@jburgueno, can you please provide at least part of your **values.yml** configuration file ?

We are facing the same issue here, even with pgbouncer enabled.
I've tried to change auth_type to scram-sha-256 but it didn't solve the problem.

Thanks in advance

[2021-10-19 21:04] uranusjr commented on #17190
I gather this can be closed then?

[2021-10-20 02:43] edithturn commented on #9941
@mik-laj I have some experience with Google Cloud, I would really happy to work on this issue. Could you please provide me with the tips and information to start it? I will appreciate it.

[2021-10-20 02:47] lanms commented on #19069
Thanks for your attention, The DAG you give is OK,
I can give you some run logs, please analyze the problem, I add some Print in code, and log it

here is my DAG
EnterpriseWeiChat is func to send msg for me
![image](https://user-images.githubusercontent.com/38830811/138019443-cc5443e6-72d6-4393-82cc-6f1ab5f64182.png)

here is log
log file is mor than 300M

![image](https://user-images.githubuserco

[2021-10-20 02:54] lanms commented on #19069
[ppe-aiflow-worker-f6f66fd7c-pvxf2-ppe-aiflow-worker.log](https://github.com/apache/airflow/files/7377822/ppe-aiflow-worker-f6f66fd7c-pvxf2-ppe-aiflow-worker.log)

[2021-10-20 03:08] lanms commented on #19069
I run this DAG in airfow v2.1.4 It's OK, only raise problem in v2.2

[2021-10-20 04:19] MatrixManAtYrService opened #19096 "Sets in parameters cause "TypeError: Object of type set is not JSON serializable""
### Apache Airflow version

2.2.1 (latest released)

### Operating System

Debian Buster (docker)

### Versions of Apache Airflow Providers

n/a

### Deployment

Astronomer

### Deployment details

Using `astro dev start`

No problems with:
[code]

Problems occur with:
[code]

The DAG:
[code]

### What happened

The DAG parses and runs fine on 2.1.4, but when I upgrade to 2.2.0 I see an error at t

[2021-10-20 06:11] pateash opened #19098 "Showing approximate Time until next dag run in Airflow UI"
### Description

It will be really helpful if we can add a dynamic message/tooltip which shows time remaining for next dagrun in UI.

### Use case/motivation

Although we have next_run available in UI, user has to look into schedule and find the timedifference between schedule and current time, It will be really convenient to have that information available on fingertips.

### Related issues

None

[2021-10-20 07:12] Bowrna commented on #19045
https://github.com/apache/airflow/pull/19100

[2021-10-20 10:58] Angelvicks commented on #10178
Hello @potiuk ,please for the link to create a user at the confluence

[2021-10-20 11:38] potiuk commented on #10178
Just register new user when you get to cwiki.apache.org

[2021-10-20 12:14] Bowrna opened #19104 "airflow db reset throws error while initialising breeze with python version 3.8 and mysql as backend"
### Apache Airflow version

main (development)

### Operating System

macOS

### Versions of Apache Airflow Providers

_No response_

### Deployment

Other Docker-based deployment

### Deployment details

https://github.com/apache/airflow/blob/main/CONTRIBUTORS_QUICK_START.rst#id1
Following the instructions on the above page to set up the development environment for Apache Airflow. Breeze environm

[2021-10-20 13:27] ephraimbuddy commented on #11180
Yes. Closing

[2021-10-20 13:27] #11180 closed

[2021-10-20 13:29] eladkal commented on #16316
Isn't this just a private case of retry? (In every operator you can set retry)

[2021-10-20 14:14] fbertos opened #19108 "REST API: allow filtering by state in Dag Runs queries"
### Description

Hi,

It would be very interesting to be able to filter DagRuns by using the state field. That would affect the following methods:
 - /api/v1/dags/{dag_id}/dagRuns
 - /api/v1/dags/~/dagRuns/list

Currently accepting the following query/body filter parameters:
   - execution_date_gte
   - execution_date_lte
   - start_date_gte
   - start_date_lte
   - end_date_gte
   - end_date_lte

[2021-10-20 15:06] anmol opened #19110 "Scheduler crashing because dag not found"
### Apache Airflow version

2.2.0 (latest released)

### Operating System

Debian GNU/Linux 10 (buster)

### Versions of Apache Airflow Providers

_No response_

### Deployment

Other 3rd-party Helm chart

### Deployment details

AWS EKS over own helm chart
KubernetesExecutor

### What happened

Whenever Scheduler is restarted(rollout) when there are dagruns in state='running', scheduler goes in C

[2021-10-20 16:08] potiuk commented on #19104
That would be strange- maybe you connect to a different schema and it needs to be set 'per schema' ?

[2021-10-20 16:38] jedcunningham commented on #19058
Sounds good to me. Don't forget that `try_number` will probably need to be rendered in on-demand.

[2021-10-20 20:10] alexperry-shifu opened #19116 "Failed to import: /opt/airflow/dags/taxi_pipeline_solution.py"
### Apache Airflow version

2.2.0 (latest released)

### Operating System

apache/airflow:2.2.0-python3.6

### Versions of Apache Airflow Providers

_No response_

### Deployment

Other Docker-based deployment

### Deployment details

Docker Compose & Docker Swarm

### What happened

My software versions:

Apache Airflow version: 2.2.0
TensorFlow version: 2.6.0
TFX Version: 1.3.0
Python version: 3

[2021-10-20 20:25] #18843 closed

[2021-10-20 22:16] xinbinhuang opened #19118 "Add CodeSee to airflow repo"
### Description

[CodeSee](https://docs.codesee.io/en/latest/) seems to be a good tool to help collaboration and onboard new contributors. It generates a map to help understand and navigate the codebase. Some use cases I have in mind:
- Identify hot/cold spots to understand what area the community is currently working on or what areas need more love
- An architecture diagram to help onboard new co

[2021-10-20 22:23] xinbinhuang commented on #19118
Further reading realize this only work with JavaScript/TypeScript ecosystem. So don't think it works for us. Closing

[2021-10-20 23:49] ReadytoRocc opened #19120 "Deferred TI's `next_method` is not cleared when Clearing a Successful Task"
### Apache Airflow version

2.2.0 (latest released)

### Operating System

Container-Optimized OS with Containerd (cos_containerd) - GKE

### Versions of Apache Airflow Providers

_No response_

### Deployment

Astronomer

### Deployment details

_No response_

### What happened

I went to clear a successful task instance that is using a Deferred operator, and noticed it immediately went into a st

[2021-10-21 02:42] zachliu commented on #17536
i hereby confirm the workaround works on `2.2.0` :tada:

also, evil google's documentation is not clear on this part (probably a :bug: on google's end):

In the GCP console, under `OAuth consent screen`, when the `Publishing status` is `In production`, we can still put `http://localhost:8080/oauth-authorized/google` under the `Authorized redirect URIs` without triggering the red error message `Inv

[2021-10-21 03:59] uranusjr commented on #19116
This is a DAG file written by you, not Airflow, so it's not a bug.

[2021-10-21 05:00] edwardwang888 commented on #18600
@bbovenzi The PR above is ready for review when you get a chance!

[2021-10-21 05:40] pateash commented on #13391
@easontm could you please provide your custom debug operator.

[2021-10-21 06:47] Bowrna commented on #19104
On further verification,

I connected to the mysql that starts up as docker container via docker-compose as part of airflow installation and found `airflow` database created there.

I verified `explicit_defaults_for_timestamp` key and found out it is OFF. Attaching the screenshots for more clarification,
<img width="1259" alt="Screenshot 2021-10-21 at 12 13 03 PM" src="https://user-images.githubus

[2021-10-21 11:29] robinedwards commented on #18487
If you take a look at the instructions beneath the example dag in my comment this is only used to get the dag behind schedule. It should then be amended to `catchup=False`

[2021-10-21 11:33] ephraimbuddy commented on #18487
That's true.

[2021-10-21 11:34] priyadarshan1995 opened #19129 "After updating the the airflow provider , unable to access Airflow UI (MWAA)"
### Apache Airflow version

2.0.2

### Operating System

Linux

### Versions of Apache Airflow Providers

apache-airflow-providers-snowflake==2.2.0

### Deployment

MWAA

### Deployment details

We updated the version of airflow-snowflake-providers to a stable version. WE got the below error:

[code]

### What happened

We updated the version of airflow-snowflake-providers to a stable version (2.2

[2021-10-21 11:36] robinedwards commented on #18487
Here is the fix https://github.com/apache/airflow/pull/19130

[2021-10-21 11:38] uranusjr commented on #19058
The problem is we need to finish all backfilling before we change the default filename format (or before the user changes the custom format based on our recommendation), otherwise the old format would be lost forever and we won't be able to backfill anymore, and there's no guarantee each past task instance (or DAG run) would be visited at least once before the change unless we artificially add som

[2021-10-21 11:49] uranusjr commented on #19129
Do you get anything in server logs?

[2021-10-21 12:05] Mavtti opened #19131 "Add timeout_fallback to DAG"
### Description

Currently when a DAG times out, there is not way to call a fallback. The on_failure_callback is not called in this case.
The idea would be to give the possibility to call a fallback when a DAG times out.

### Use case/motivation

Log times outs

### Related issues

https://github.com/apache/airflow/issues/18746

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit

[2021-10-21 13:02] alannesta commented on #8212
This would require you to maintain your own  fork of `airflow`, which will be a pain

[2021-10-21 13:51] dimon222 commented on #8212
As this is internal component of airflow, obviously. I'm just prepending line in dockefile, so my use case for K8s is fairly simple. As long as it work and client is happy...

[2021-10-21 14:57] DanielMorales9 opened #19134 "Docker Compose not starting webserver"
### Apache Airflow version

2.2.0 (latest released)

### Operating System

OSX

### Versions of Apache Airflow Providers

none

### Deployment

Docker-Compose

### Deployment details

Docker Compose version v2.0.0

### What happened

The webserver does not correctly start

[code]

### What you expected to happen

_No response_

### How to reproduce

`docker-compose up airflow-init`
`docker-compose

[2021-10-21 15:50] uranusjr commented on #19129
Yeah I fully support that only AWS should be responsible for looking into this, not the community. I'm just responding to the six-month-old part since MWAA customers have no choices (and it's also not the community's fault, it's their choice to use old software).

[2021-10-21 16:08] c-thiel opened #19135 "PythonKubernetesOperator and kubernetes taskflow decorator"
### Description

After the implementation of the Docker Taskflow Operator in 2.2, having a simple function on Kubernetes should be quite simple to accomplish.

One major difference I see is how to get the Code into the Pod.
My prefered way here would be to add an init container which takes care of this - much similar on how we use a Sidecar to extract XCom.

I would also prefer to add more default

[2021-10-21 16:41] Xrampino opened #19136 "Variable not found, causing broken DAGs, and cryptography error"
### Apache Airflow version

2.2.0 (latest released)

### Operating System

Ubuntu 21.10

### Versions of Apache Airflow Providers

apache-airflow-providers-amazon==2.3.0
apache-airflow-providers-celery==2.1.0
apache-airflow-providers-ftp==2.0.1
apache-airflow-providers-http==2.0.1
apache-airflow-providers-imap==2.0.1
apache-airflow-providers-postgres==2.3.0
apache-airflow-providers-sqlite==2.0.1
a

[2021-10-21 18:30] uranusjr commented on #19108
I just realised this is a duplicate to #16844, so I'm going to close this one in favour of that earlier entry. A pull request (#16845) was filed against that issue but had unfortunately since gone stale, so feel free to work on that basing off the PR. It'd be awesome if you could comment in #16844 so I can assign you to the issue as well.

[2021-10-21 18:30] #19108 closed

[2021-10-21 19:06] nikie opened #19138 "BaseOperator type hints for retry_delay and max_retry_delay should reveal float option"
### Describe the issue with documentation

`BaseOperator` type hints for `retry_delay` and `max_retry_delay` shows `timedelta` only, however the params also accept `float` seconds values.
Also, type hint for `dag` param is missing.
More precise type hints and params descriptions in the docs can help to understand the code behavior easier.

### How to solve the problem

_No response_

### Anything

[2021-10-21 19:12] nikie commented on #19138
Is related to: #13086

[2021-10-21 19:32] jedcunningham commented on #18937
Glad you figured it out! Yeah the labels are used to determine which pods are used for a service, so sounds like you were accidentally sending web requests to your worker.

[2021-10-21 19:32] #18937 closed

[2021-10-21 20:08] #19134 closed

[2021-10-21 20:44] andreychernih opened #19143 "TypeError: unsupported operand type(s) for +=: 'NoneType' and 'datetime.timedelta'"
### Apache Airflow version

2.2.0 (latest released)

### Operating System

Debian

### Versions of Apache Airflow Providers

_No response_

### Deployment

Other Docker-based deployment

### Deployment details

_No response_

### What happened

I've upgraded to Airflow 2.2.0 and added a new operator to the existing DAG:

[code]

I've started getting an error:

[code]

It looks like 2 new fields th

[2021-10-21 21:52] nikie commented on #18304
@uranusjr
There is already a case when Airflow kills deadlocked dagruns: https://github.com/apache/airflow/blob/34e586a162ad9756d484d17b275c7b3dc8cefbc2/airflow/models/dagrun.py#L520
Maybe, it would be better to fail the run in our case as well for consistency? Scheduling is already a fairly magic thing, so adding more magic like "running but not actually" or turning dagrun off/on would complicate

[2021-10-22 00:07] #16319 closed

[2021-10-22 01:03] #18487 closed

[2021-10-22 01:28] #19069 closed

[2021-10-22 01:45] nguyenmphu commented on #10790
I found that in the code of `airflow/jobs/scheduler_job.py`: https://github.com/apache/airflow/blob/main/airflow/jobs/scheduler_job.py#L535
[code]
The scheduler checks the state of the task instance. When a task instance is rescheduled (e.g: an external sensor), its state transition up_for_reschedule -> scheduled -> queued -> running. If its state is queued and not moved to the running state, the

[2021-10-22 13:28] pdavis156879 opened #19158 "Macros time operations not working"
### Apache Airflow version

2.1.3

### Operating System

Ubuntu

### Versions of Apache Airflow Providers

None

### Deployment

Docker-Compose

### Deployment details

Deployed using official docker-compose image provided

### What happened

Using Jinja templated arguments to add days to the execution_date via macros generates an error:

[code]

### What you expected to happen

The execution date

[2021-10-22 20:16] luissantanacontato opened #19171 "EMRContainerOperator with timeout after 1 hour"
### Apache Airflow Provider(s)

amazon

### Versions of Apache Airflow Providers

apache-airflow-providers-amazon==2.2.0

### Apache Airflow version

2.1.0

### Operating System

Ubuntu 20.04.3 LTS

### Deployment

Docker-Compose

### Deployment details

_No response_

### What happened

After 1 hour using EMRContainerOperator:

`    start_job_run = EMRContainerOperator(
        task_id='motor_{}'

[2021-10-22 20:20] jsnb-devoted opened #19172 "Tasks scheduled with `airflow tasks run` fails on a query to the meta db"
### Apache Airflow version

2.1.3

### Operating System

Debian GNU/Linux

### Versions of Apache Airflow Providers

[code]

### Deployment

Other 3rd-party Helm chart

### Deployment details

running the k8s executor

### What happened

Running `airflow tasks run -A <dag id> <task id> "$(date +"%m-%d-%YT%H:%M:%S.%3N")"` with k8s executor to execute a single task from the command line _without run

[2021-10-23 00:12] jsnb-devoted commented on #19172
Thanks @ephraimbuddy -- I scanned the closed issues and did a once over of the `local_task_job.py` on the `v2-2-stable` branch to see how much it had changed but I didn't see anything.
We are slated to upgrade in the next few weeks. I'll try it again then.

[2021-10-23 00:19] ephraimbuddy commented on #19172
I mean that since task instance can no longer exist without a corresponding dagrun, the above query will not fail, or do you think it'd fail? I'm thinking it will not.

See the change that made it so: https://github.com/apache/airflow/pull/17719

[2021-10-23 00:55] ephraimbuddy commented on #19172
Cool. Closing for now, if you encounter the issue after upgrade, I’ll reopen it

[2021-10-23 00:55] #19172 closed

[2021-10-25 08:32] parisni opened #19196 "Allow to turn dag run state to skipped"
### Description

Behing able to track failed task in the past run is great. Sometimes the task has failed but we don't care. To remove the entry from the failed task (because this is polluting), we only have the option to turn it to `success` witch is not the real semantic.

I would prefer to be able to turn it to `skipped`. This would help in the future if we change our mind about this particular

[2021-10-25 08:37] parisni opened #19197 "Allow search and filter by tags in dag run table"
### Description

Would be great addition to filter by tags in the dag-run panel.
![Screenshot-nparis_2021-10-25_10:33:51](https://user-images.githubusercontent.com/9535350/138662861-700cbd80-95bf-470e-8f4d-25ff10b1def4.png)

### Use case/motivation

When searching for dags, for example `status failed` one, it would be great to be able to focus on a subset of the dags. Currently we only have the op

[2021-10-25 09:02] parisni opened #19199 "WebUI: Action on multiple selection in dag run list yields an error"
### Apache Airflow version

2.1.3

### Operating System

linux

### Versions of Apache Airflow Providers

_No response_

### Deployment

Virtualenv installation

### Deployment details

_No response_

### What happened

When trying to apply batch set state to success, this does not work. I have to set the state on each element one by one. This happens in the "list dag run" panel.

When:

![Screens

[2021-10-25 17:27] aran3 opened #19204 "TaskInstance.execution_date usage in query creates incorrect SQL syntax"
### Apache Airflow version

2.2.0 (latest released)

### Operating System

Red Hat Enterprise Linux Server 7.6 (Maipo)

### Versions of Apache Airflow Providers

apache-airflow-providers-postgres==2.3.0

### Deployment

Virtualenv installation

### Deployment details

_No response_

### What happened

`psycopg2.errors.SyntaxError` raised when using a custom "external task sensor" with the followin

[2021-10-25 18:34] Ritika-Singhal opened #19207 "AWSGlueJobOperator using 'AllocatedCapacity' variable even after specifying the "WorkerType" and "NumberOfWorkers" causing issues with the AWS Glue version 2.0 and 3.0"
### Apache Airflow version

2.0.2

### Operating System

Linux (AWS MWAA)

### Versions of Apache Airflow Providers

Version 2.0.2

### Deployment

MWAA

### Deployment details

_No response_

### What happened

While running an Airflow step using the AWSGlueJobOperator to run a glue script using Airflow, these were the job args given:
[code]

At this point, this is the error encountered:

[code]

[2021-10-26 07:09] SohailChamadia-everestek opened #19217 "Airflow Config connection URI generation from backend/vault similar to Connection done in amazon provider 2.3.0"
### Description

Currently the Connection can be created by storing the parameters or arguments in AWS Secrets Manager and then creating the Connection URI in runtime. Unfortunately the same functionality does not exist in the Config connection URI such as the database backend (sql_alchemy_conn) and the redis backend (result_backend)

The idea is if the functionality is implemented for Connections

[2021-10-26 07:13] jimduden6804 opened #19218 "Orphaned Tasks are Retried Leading to Multiple Running Aws Batch Jobs"
### Apache Airflow version

2.1.4

### Operating System

Debian GNU/Linux 11 (bullseye)

### Versions of Apache Airflow Providers

apache-airflow-providers-amazon==2.2.0
apache-airflow-providers-ftp==2.0.1
apache-airflow-providers-http==2.0.1
apache-airflow-providers-imap==2.0.1
apache-airflow-providers-sqlite==2.0.1

### Deployment

Virtualenv installation

### Deployment details

Pip installatio

[2021-10-26 10:13] rolldeep opened #19221 "OpenAPI Generator generated python wrapper with a bug. It returns ApiValueError when calling get_variables()."
### Apache Airflow version

2.2.0 (latest released)

### Operating System

Ubuntu: 20.04.1 LTS (Focal Fossa)

### Versions of Apache Airflow Providers

apache-airflow-providers-cncf-kubernetes==2.0.1
apache-airflow-providers-ftp==2.0.0
apache-airflow-providers-imap==2.0.0
apache-airflow-providers-sqlite==2.0.

### Deployment

Docker-Compose

### Deployment details

_No response_

### What happened

[2021-10-26 10:31] tonystark11 opened #19222 "none_failed_min_one_success trigger rule not working with BranchPythonOperator in certain cases."
### Apache Airflow version

2.2.0 (latest released)

### Operating System

CentOS Linux 7 (Core)

### Versions of Apache Airflow Providers

apache-airflow-providers-ftp 2.0.1
apache-airflow-providers-http 2.0.1
apache-airflow-providers-imap 2.0.1
apache-airflow-providers-sqlite 2.0.1

### Deployment

Other

### Deployment details

centos 7.3
postgres - 12.2

### What happened

### DAG 1

In this D

[2021-10-26 13:16] deedmitrij opened #19224 "Add subprocess.DEVNULL to LoggingCommandExecutor stdout"
### Body

According to the @uranusjr request in the following PR https://github.com/apache/airflow/pull/17651#discussion_r735348180, this issue was created to refactor the **LoggingCommandExecutor** class and it's inheritors to substitute the next legacy logic
[code]
to provide `subprocess.DEVNULL` to `sdtout` instead.

### Committer

- [X] I acknowledge that I am a maintainer/committer of the Apa

[2021-10-26 14:17] mandicLuka opened #19226 "DAG permission setting per owner and/or per tag"
### Description

Access Control feature where one can limit a DAG permissions (read, write, etc.) for a group of DAGs, namely, the ones where owner is set or the tag is set to the desired value.

### Use case/motivation

Restrict access for user to DAG read/write for all new DAGs created by the another user

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am wil

[2021-10-26 20:01] NilsJPWerner opened #19235 "Add task actions to task view"
### Description

A section in the task view that exposes the task actions that are available in the task modal in the dag view.

### Use case/motivation

We always check the logs to see why a task failed. We then oftentimes want to restart the task by clearing its state. However to do that we need to back out of the task specific view and clear it from task modal in the graph or tree view. It woul

[2021-10-27 06:34] ShaharPotash1 opened #19241 "next_ds changed to proxy and it cannot be used in ds_add macro function"
### Apache Airflow version

2.2.0 (latest released)

### Operating System

Ubuntu

### Versions of Apache Airflow Providers

_No response_

### Deployment

Docker-Compose

### Deployment details

_No response_

### What happened

Tried to use this this code:
`some_variable='{{macros.ds_format(macros.ds_add(next_ds, '
                 '(ti.start_date - ti.execution_date).days), '
                 '

[2021-10-27 13:07] raphaelauv opened #19251 "Add a skipper arg to variable.get() to skip the secret_backend"
### Description

I use the gcp [secret_manager](https://airflow.apache.org/docs/apache-airflow-providers-google/stable/secrets-backends/google-cloud-secret-manager-backend.html) as a secret_backend

2 problems :

- the implementation always first look for the secret_backend before trying the airflow variables , no way to skip the check to the secret_backend

something like
[code]

so change variab