[2022-08-10 16:21] #25645 closed

[2022-08-10 16:29] potiuk commented on #25645
And BTW. The `[main](https://github.com/apache/airflow/tree/constraints-main)` and `[2-3](https://github.com/apache/airflow/blob/constraints-2-3/constraints-3.10.txt)` version of constraints that are going to be used to release 2.4 and possibly 2.3.4 (if we release it) already use flower 1.2  which is relased few days ago. Those updates happen automatically, and as long as test passes, they get bu

[2022-08-10 17:07] gmcrocetti commented on #25640
All good regarding `extra['host']` deprecation for amazon

[2022-08-10 18:58] ephraimbuddy commented on #25060
It seems like the merged PR(#25532) only solved scheduler crashes which is part of this issue but not the real issue. I feel we should still keep it open. WDYT? cc: @potiuk

[2022-08-10 19:03] potiuk commented on #25060
I think this issue is about "crash"  which was the "strong" manifestation of the problem and did not let us see all the important details of the actual issue, but rather than re-openinig this one - I'd open another one solely to handle the duplicate task instance one if we can get hold of more information and logs on this one.

[2022-08-10 19:04] potiuk commented on #25060
Mostly because when we solve the crash, we might have more data/information about the underlying problem (they are a bit clouded now and it's even likely there are few different reasons that triggered this crash).

[2022-08-10 19:19] Gollum999 opened #25653 "Deferrable Operators get stuck as "scheduled" during backfill"
### Apache Airflow version

2.3.3

### What happened

If you try to backfill a DAG that uses any [deferrable operators](https://airflow.apache.org/docs/apache-airflow/stable/concepts/deferring.html), those tasks will get indefinitely stuck in a "scheduled" state.

If I watch the Grid View, I can see the task state change: "scheduled" (or sometimes "queued") -> "deferred" -> "scheduled".  I've trie

[2022-08-10 20:29] bbovenzi commented on #25493
So in the UI you're not able to put in an invalid tag, but a url could be wrong. The webserver should catch an invalid tag and remove it, listing all dags.

Around [here](https://github.com/apache/airflow/blob/main/airflow/www/views.py#L824) we should check if the DagTags exists and remove any invalid ones.

[Here](https://github.com/apache/airflow/blob/main/airflow/www/views.py#L781) is an exampl

[2022-08-10 22:07] j-martin commented on #25627
Yes it is. @michaelmicheal can you update the title to make it clearer we are talking about MySQL.

The questions for the airflow maintainers, would it be acceptable to open a PR to add the index hint when using mysql?

[code]

[2022-08-11 00:27] o-nikolas commented on #25326
I reviewed the linked PR #25628 and left some feedback :+1:

[2022-08-11 01:14] uranusjr commented on #25627
I don’t think you need the `if mysql` part (just adding the hint globally and the `dialect_name` part would make it only apply for MySQL), but yes a PR would be welcomed.

[2022-08-11 02:12] jensenity commented on #24538
going thru the same issue with 2.3.2 and CeleryKubernetesExecutor. Even after switching all our `from datetime import datetime` from all our dags, this issue still occurred every now and then.

[2022-08-11 05:18] hankehly commented on #25319
#25657 updates the following
* docs/apache-airflow/best-practices.rst
* docs/apache-airflow/faq.rst
* docs/apache-airflow/index.rst

[2022-08-11 07:30] #25095 closed

[2022-08-11 08:08] Poonam3964 opened #25659 "BrokenPipeError: [Errno 32] Broken pipe airflow"
### Apache Airflow version

2.3.3

### What happened

Something bad has happened.

Airflow is used by many users, and it is very likely that others had similar problems and you can easily find
a solution to your problem.

Consider following these steps:

  * gather the relevant information (detailed logs with errors, reproduction steps, details of your deployment)

  * find similar issues using:

[2022-08-11 08:52] Bowrna commented on #25319
@hankehly I am picking up all the .rst files under folder `docs/apache-airflow/concepts/` and making changes in the classic operators

[2022-08-11 09:15] phanikumv commented on #25640
Tested the below two and works fine with [microsoft.azure: 4.2.0rc3](https://pypi.org/project/apache-airflow-providers-microsoft-azure/4.2.0rc3)

https://github.com/apache/airflow/pull/25235: @phanikumv
<img width="955" alt="Screenshot 2022-08-11 at 2 12 49 PM" src="https://user-images.githubusercontent.com/94376113/184101482-a263648b-d7fd-4ac0-9c79-93e99cc64524.png">

https://github.com/apache/ai

[2022-08-11 09:26] uranusjr commented on #25319
Copying my comment from the PR for discussion:

Hmm, the static check failures raise a point for discussion. XComArg has an (unfortunate) API design `xcom_arg[key]` that can be used to pull an XCom under a different key, but I’m not sure I like it being used with `output`. `task.output["foo"]` feel to me more like accessing a dict, not pulling another XCom. The API design can be discussed/changed

[2022-08-11 09:32] jyotsa09 opened #25662 "Getting error- "'NoneType' object has no attribute 'refresh_from_task' " while clicking on Rendered template for mapped task"
### Apache Airflow version

main (development)

### What happened

Getting error-
[code]

### What you think should happen instead

It should open rendered template page

### How to reproduce

open rendered template for mapped task.
 url - http://localhost:8080/rendered-templates?dag_id=dynamic_map2&dag_id=dynamic_map2&task_id=output&execution_date=2022-08-10T13%3A32%3A39.070211%2B00%3A00&map_inde

[2022-08-11 09:48] bharanidharan14 commented on #25640
Tested both Azure Service Bus (Update and Receive) Subscription Operator, working fine 👍

<img width="613" alt="Screenshot 2022-08-11 at 3 16 52 PM" src="https://user-images.githubusercontent.com/94612827/184107420-f0bd7651-0a3f-4329-93de-dbb6655d2ff6.png">

https://github.com/apache/airflow/pull/25029: @bharanidharan14

[2022-08-11 10:35] uranusjr commented on #25662
This looks like the same issue as #25616

[2022-08-11 11:20] eugenelisevich opened #25665 "EnvVar doesn't change value in airflow.cfg"
### Apache Airflow version

Other Airflow 2 version

### What happened

Airflow image version 2.3.2-python3.10. I'm using Community Helm Chart for deployment the Airflow to the EKS and I need to enable AIRFLOW__WEBSERVER__ENABLE_PROXY_FIX, EnvVar present in the running container, but in airflow.cfg file inside the running container I see:
[webserver]
enable_proxy_fix = False

### What you think sh

[2022-08-11 11:33] fernhtls opened #25667 "Scheduler livenessProbe errors on new helm chart"
### Official Helm Chart version

1.6.0 (latest released)

### Apache Airflow version

v2.1.2

### Kubernetes Version

v1.22.10 (GKE version v1.22.10-gke.600)

### Helm Chart configuration

Only livenessProbe config before and during the issue:

[code]

### Docker Image customisations

Here's the image we use based on the apache airflow image:

[code]

### What happened

After the upgrade to the he

[2022-08-11 11:38] AutomationDev85 commented on #23512
Hi all, I´m running currently into the same issue. Because the last comment is 20 days ago. Any new info regarding the issue available?

[2022-08-11 11:41] jgr-trackunit commented on #25640
Hi!

I've found an issue with `databricks` provider, at first glance it looks that it's related to: https://github.com/apache/airflow/pull/25115

@alexott I think you might be interesting for you.

More info below:
[code]

I ran it on `MWAA == 2.2.2` with below configuration:
[code]

Tell me if you need more detail.

[2022-08-11 11:43] morooshka opened #25668 "SparkKubernetesOperator application file attribute "name" is not mandatory"
### Apache Airflow version

2.3.3

### What happened

Since commit https://github.com/apache/airflow/commit/3c5bc73579080248b0583d74152f57548aef53a2 the SparkKubernetesOperator application file is expected to have an attribute metadata:name and the operator execution fails with exception `KeyError: 'name'` if it not exists. Please find the example error stack below:

[code]

### What you think sho

[2022-08-11 12:08] RosterIn opened #25669 "change Jira sdk to official atlassian sdk"
### Description

Jira is a product of atlassian https://www.atlassian.com/
There are
https://github.com/pycontribs/jira/issues
and
https://github.com/atlassian-api/atlassian-python-api

### Use case/motivation

Motivation is that now Airflow use unoffical SDK which is limited only to jira and can't also add operators for the other productions.

https://github.com/atlassian-api/atlassian-python-api

[2022-08-11 12:44] alexott commented on #25640
@jgr-trackunit oh, this field was introduced in 2.3.0 :-( I think that I need to fix it before releasing

[2022-08-11 12:46] eladkal commented on #25668
Feel free to submit PR

[2022-08-11 13:00] seongwon77 opened #25671 "`airflow dags test` command with run confs"
### Description

Currently, the command [`airflow dags test`](https://airflow.apache.org/docs/apache-airflow/stable/cli-and-env-variables-ref.html#test) doesn't accept any configs to set run confs.  We can do that in [`airflow dags trigger`](https://airflow.apache.org/docs/apache-airflow/stable/cli-and-env-variables-ref.html#trigger) command through `--conf` argument.

The command `airflow dags te

[2022-08-11 13:23] alexott commented on #25640
@potiuk unfortunately, Databricks provider became incompatible with 2.2. I'm preparing a fix for it, but it will be separate release. Sorry for adding more work on you :-(

[2022-08-11 13:25] potiuk commented on #25640
No problem. Good to know :). This is what testing is about @alexott :).

[2022-08-11 13:25] potiuk commented on #25640
Thanks @jgr-trackunit for spotting it.

[2022-08-11 13:39] lssatvik opened #25672 "Tasks get stuck at random, never execute, get skipped after dag timeout"
### Apache Airflow version

2.3.3

### What happened

I have multiple dags running regularly. Dags fail randomly for no reason. When I look at the grid view, one task is in skipped state due to dag timeout. But that task did not get executed during the entire period until timeout.

This happens randomly to any dag, to any task, at any time.

![Screenshot 2022-07-27 at 12 04 00 PM](https://user-ima

[2022-08-11 13:39] LaPetiteSouris commented on #25640
@potiuk I am not sure if this is the right place to put it, but here is the deal:

https://github.com/apache/airflow/pull/24554 added `num_batches` parameter to `SQSSensor` in Amazon provider.

You did ask me as a contributor of the feature to test it for AWS provider [amazon: 4.1.0rc1](https://pypi.org/project/apache-airflow-providers-amazon/4.1.0rc1)  in  https://github.com/apache/airflow/issues

[2022-08-11 13:56] zachliu commented on #23512
nope, i monitor this issue on a daily basis :grin:

[2022-08-11 14:03] alexott commented on #25640
opened #25674 to fix issue with DB provider

[2022-08-11 14:04] potiuk commented on #25640
@LaPetiteSouris - thank you ! This is cool to get it confirmed even now !

[2022-08-11 14:05] JonnyWaffles commented on #14896
Hi team, apologies for adding to a closed thread. I encountered the same problem when using a `CeleryExecutor` when a third party package (Okera in my use case) attempts multiprocessing

...

I am using Airflow 2.3.3 and Celery 5.2.7 running on the default `airflow celery worker` entrypoint. Where in the stack is the daemonic subprocess being created? When I comb through the code I see by default

[2022-08-11 14:06] potiuk commented on #23085
Ey Edith. I wen ahead and implemented it almost from the scratch - with much renewed command line and I am just about to submit PR. This is a mammoth of a change BTW :)

[2022-08-11 14:08] alexott commented on #25640
Found another issue with Databricks provider - DBSQL operator doesn't work anymore, most probably caused by #23971 - it looks like `split_sql_string` doesn't handle correctly simple SQL queries (like `select * from default.a_events limit 10` that I'm using in tests). for this one I need to get more time debugging it

[2022-08-11 14:13] potiuk commented on #25640
No worries @alexott  - I will anyhow has to wait with rc4 for databricks till after this voting completes.

[2022-08-11 14:17] alexott commented on #25640
My concern that this change in the common-sql may affect other packages - I see it in the Drill, Exasol, Presto,

[2022-08-11 14:18] potiuk commented on #25669
Sure - if someone wants to do it - there is nothing against it. That someone needs to volunteer and do it. marked it as "good first issue".

[2022-08-11 14:19] edithturn commented on #23085
@potiuk thank you for letting me know, should I close this issue?
Paste the link of you PR, it will be nice to learn how you approach it

[2022-08-11 14:43] hewerthomn opened #25676 "OracleToOracleOperator fails when source_sql returns more rows than rows_chunk value"
### Apache Airflow Provider(s)

oracle

### Versions of Apache Airflow Providers

apache-airflow-providers-oracle == 3.2.0

### Apache Airflow version

2.3.3

### Operating System

Debian GNU/Linux 11 (bullseye)

### Deployment

Docker-Compose

### Deployment details

_No response_

### What happened

When `source_sql` query returns more or equal rows than `rows_chunk` value, an exception is raise

[2022-08-11 15:20] MaximM95 opened #25679 "Dag that runs a GcsSensorOperator creates always 1 running instance and queues 16 in parallel when deploying the dag code."
### Apache Airflow Provider(s)

google

### Versions of Apache Airflow Providers

apache-airflow-providers-google==5.1.0

### Apache Airflow version

2.1.4

### Operating System

Google Cloud Composer (GKE Autopilot, composer-2.0.22-airflow-2.1.4)

### Deployment

Composer

### Deployment details

Deployment via Terraform, see https://cloud.google.com/composer/docs/composer-2/create-environments#s

[2022-08-11 15:27] rcheatham-q opened #25681 "Scheduler enters crash loop in certain cases with dynamic task mapping"
### Apache Airflow version

2.3.3

### What happened

The scheduler crashed when attempting to queue a dynamically mapped task which is directly downstream and only dependent on another dynamically mapped task.

<details><summary>scheduler.log</summary>

[code]
</details>

### What you think should happen instead

The scheduler does not crash and the dynamically mapped task executes normally

###

[2022-08-11 18:11] eladkal commented on #25676
This is exception raised from oracledb.
Can you please explain why do you consider this to be a bug in the operator? Could it be bug in the oracledb?
Please add more information so we can be confident the issue is in the operator code.

[2022-08-11 18:13] eladkal commented on #25676
@lmeerwood maybe you have some input on this as you recently worked on replacing the oracle package in https://github.com/apache/airflow/pull/24311

[2022-08-11 18:19] pdebelak commented on #25640
Hashicorp provider change appears to be working as expected for me.

[2022-08-11 19:18] eladkal commented on #25640
If there is a dag/operator you want to verify with Presto you can add it here and I'll check

[2022-08-11 19:23] alexott commented on #25640
I don’t have something to test, but I’m concerned that if it broke databricks sql, may it break other as well?

[2022-08-11 20:21] Gollum999 commented on #23792
FWIW this bug can also show up with the TaskFlow API if `multiple_outputs` is explicitly set to `True` in the `@task` decorator, or if the decorated function returns a `dict` (which causes `multiple_outputs` to default to `True`).

A workaround for this bug is to set `multiple_outputs=False` on any mapped tasks that forward the value down to another `.expand`.  (e.g. `t2` in OP's example.)

[2022-08-11 20:56] j-martin commented on #25627
Yes, you are right!

[2022-08-11 22:11] ankurbajaj9 commented on #25640
Webhdfs worked for me

[2022-08-12 03:57] uranusjr commented on #23792
This happened (already fixed in main) for all tasks that push non-default XComs; both `multiple_outputs` and the KubernetesPodOperator do this.

[2022-08-12 04:05] uranusjr commented on #25200
I don’t think this is fixed yet; as mentioned in https://github.com/apache/airflow/issues/25060#issuecomment-1211134827:

[2022-08-12 04:05] uranusjr commented on #25060
We have another issue opened for the data integrity problem (#25200), we can track things there.

[2022-08-12 07:25] uranusjr commented on #23911
There’s not a count available directly, but each task is an individual row in the database, so you can issue a `count()` with appropriate filter on state to get the number.

[2022-08-12 10:16] potiuk commented on #14896
This is the question on how you are deploying Airflow and whether you run the worker with daemon flag: https://github.com/apache/airflow/blob/main/airflow/cli/commands/celery_command.py#L180

I believe you can run airflow worker as non-daemon - with all the caveats that you have to take care - like handling stdin/out, signals, switching working directory and everything elas that "daemonizing" does

[2022-08-12 10:49] potiuk commented on #25640
@alexott Can you mae a PR fixing it in databricks so that we can see how the problem manifests? I can take a look at others and asses if the potential of breaking it for other providers is there?

[2022-08-12 10:51] alexott commented on #25640
Yes, will do, most probable on Saturday...

[2022-08-12 11:07] potiuk commented on #25640
Just looked it up @alexott -> I do not think it is breaking other providers (@kazanzhy to confirm).

Only Databricks and Snowflake hooks have `split_statements` set to True by defauilt (because historically they were doing the split). All the others have `split_statements = False` as default - so the change is not breaking, for them. It might not work to split some statements from some DBs using t

[2022-08-12 11:10] alexott commented on #25640
Thank you for looking into it. I'll debug it. My query is just single select without `;`, and `split_sql_string` returns empty list for it

[2022-08-12 11:18] potiuk commented on #25640
Right - I see. I think the mistake is that it should be (@kazanzhy ?) :

[code]

That would actually make me think to remove common.sql and all the dependent packages and release rc4 together because indeed any query without ";" passed by "split_statement" will not work, which makes it quite problematic.

[2022-08-12 11:28] potiuk commented on #25640
Yep. Confirmed this looks like a bug for all SQL - probably safer to make rc4 for all of them. Thanks @alexott for being vigilant :) - @kazanzhy - will you have time to take a look and double-check my findings and fix it before Monday ?

[code]

[2022-08-12 11:28] #25627 closed

[2022-08-12 13:17] JonnyWaffles commented on #14896
Thanks for your response! Unfortunately, I believe the issue is related to how the Celery Worker itself handles concurrency, regardless of the daemonic flag on the worker command itself. Looking more in to it I think my choices are

1. Monkey patch the third party lib to use billiards; or
2. change Celery's concurrency [setting](https://docs.celeryq.dev/en/stable/userguide/workers.html#concurrency

[2022-08-12 13:25] potiuk commented on #14896
Yeah. This is actually quite likely.

3. You can also vendor-in the 3rd-party library and replace the use of mutliprocessing with billiard.

[2022-08-12 14:05] JonnyWaffles commented on #14896
I really like this idea too! Thanks a bunch.

[2022-08-12 14:39] govindrai opened #25692 "information on Landing Times view"
### What do you see as an issue?

Searching the docs for Landing Times returns no results though it is a primary view when looking at DAG info.

### Solving the problem

I would like to understand the view/metric myself. Could we get an official explanation? Thanks!

### Anything else

_No response_

### Are you willing to submit PR?

- [ ] Yes I am willing to submit a PR!

### Code of Conduct

-

[2022-08-12 18:04] Gollum999 opened #25698 "Backfill mode with mapped tasks: "Failed to populate all mapping metadata""
### Apache Airflow version

2.3.3

### What happened

I was backfilling some DAGs that use dynamic tasks when I got an exception like the following:

[code]

Digging further, it appears this always happens if the task used as input to an `.expand` raises an Exception.  Airflow doesn't handle this exception gracefully like it does with exceptions in "normal" tasks, which can lead to other errors fr

[2022-08-12 18:10] uranusjr commented on #25698
After #25661 this may cause a different error. I will need to look into this further (not now).

To clarify, the downstream (mapped task) will never run correctly in any scenarios, since if the upstream raises an exception, there’s nothing the task can be expanded into. But the scheduler should handle this more gracefully.

[2022-08-12 19:10] dskoda1 commented on #12368
Hi, is there any chance getting these metrics published via the default statsd set can be re-visted? Being able to tell how many DAGs are currently queued (or other states), and which ones, is an incredibly useful metric. It seems a bit round about to not have this as part of core airflow.

We would be open to contributing this since it would be so useful to have, specifically so we don't need to

[2022-08-13 08:57] eladkal commented on #25104
Fixed in https://github.com/apache/airflow/pull/25432

[2022-08-13 08:57] #25104 closed

[2022-08-13 15:36] plutoid commented on #25372
I'm still struggling with issue that pyflame not support py3.7, since airflow now running on py3.7.
https://github.com/uber-archive/pyflame/issues/120

[2022-08-13 16:02] dddevis opened #25706 "`conn_id` for S3 logging isn't defined using SecretsManagerBackend"
### Official Helm Chart version

1.6.0 (latest released)

### Apache Airflow version

2.3.0

### Kubernetes Version

1.22

### Helm Chart configuration

I'm trying to set up remote logging on S3.  The `config.logging` stanza looks like this:

[code]

I have an AWS Secrets Manager secret called `airflow/connections/airflow-remote-logging-conn`.  Via Helm I have configured Airflow to use Secrets Man

[2022-08-13 17:08] potiuk commented on #25640
I tested all my changes (mostly checking if the code I moved around is there).  Looking for more tests :)

[2022-08-13 17:09] potiuk commented on #25640
@kazanzhy -> I will remove the common.sql and relatedd providers to get RC4 and if I don't hear from you till Monday, I will attempt to fix the problem found by @alexott and prepare an RC4

[2022-08-13 17:15] alexott commented on #25640
@potiuk is the PR open for it? If yes, I can test it tomorrow morning...

[2022-08-13 19:35] pankajastro commented on #25640
Testing https://github.com/apache/airflow/pull/25619 working as expected

[2022-08-13 23:45] dwreeves commented on #25640
I'm currently testing my implementation for the Amazon Provider package change.

The one thing I have noticed so far is that the `Connection` object returned is missing a `conn_id`. Oops! I will implement a PR that adds it in + tests that it's there.

I didn't notice any other issues.

[2022-08-14 10:23] brki opened #25712 "postgres provider: use non-binary psycopg2 (recommended for production use)"
### Apache Airflow Provider(s)

postgres

### Versions of Apache Airflow Providers

apache-airflow-providers-postgres==5.0.0

### Apache Airflow version

2.3.3

### Operating System

Debian 11 (airflow docker image)

### Deployment

Official Apache Airflow Helm Chart

### Deployment details

_No response_

### What happened

psycopg2-binary package is installed.

### What you think should happen i

[2022-08-14 10:27] brki commented on #25712
PR: #25710

[2022-08-14 10:54] fashtop3 commented on #14974
I hade similar problem when we upgraded to version 2.x Pods get restarted even after the Dags ran successfully.

I later resolved it after a long time of debugging by overriding the pod template and specifying it in the **airflow.cfg** file.

[code]

[2022-08-14 12:09] HassanShafiq123 commented on #25669
I would like to do this. Please assign this issue to me.

[2022-08-14 12:14] eladkal commented on #25669
assigned

[2022-08-14 15:22] potiuk commented on #25640
The nice thin that the docs in providers is nice linked in the UI to the version that is installed. I think we also have nice changelog describing the difference, I am not sure if we need to do more. But any docs clarifications are welcome :)

[2022-08-14 15:23] potiuk commented on #25640
FYI. Vote is closed. I wil be removing databricks and also other SQL providers from the vote and prepare RC4 after fixing the problems found

[2022-08-14 15:26] potiuk commented on #25640
Closing the issue - thanks for help Everyone!

[2022-08-14 15:26] #25640 closed

[2022-08-14 22:36] #25616 closed

[2022-08-15 03:02] prajyotnaik3 opened #25718 "Incorrect config name generated for BigQueryDeleteDataTransferConfigOperator"
### Apache Airflow version

2.3.3

### What happened

When we try to delete a big query transfer config using BigQueryDeleteDataTransferConfigOperator, we are unable to find the config, as the generated transfer config name is erroneous.
As a result, although a transfer config id (that exists) is passed to the operator, we get an error saying that the transfer config doesn't exist.

### What you t

[2022-08-15 04:01] prajyotnaik3 commented on #25718
PR: https://github.com/apache/airflow/pull/25719

[2022-08-15 09:49] potiuk opened #25721 "Status of testing Providers that were prepared on August 15, 2022"
### Body

I have a kind request for all the contributors to the latest provider packages release.
Could you please help us to test the RC versions of the providers?

Let us know in the comment, whether the issue is addressed.

Those are providers that require testing as there were some substantial changes introduced:

## Provider [common.sql: 1.1.0rc4](https://pypi.org/project/apache-airflow-provi

[2022-08-15 12:02] #25588 closed

[2022-08-15 13:54] bbovenzi commented on #25662
This is fixed in https://github.com/apache/airflow/pull/25610

[2022-08-15 13:54] #25662 closed

[2022-08-15 14:33] dmishh opened #25724 "Get back TI list page bulk actions that were removed in 2.3"
### Apache Airflow version

2.3.3

### What happened

TI list page bulk actions that were mistakenly removed in 2.3 by this [PR](https://github.com/apache/airflow/pull/20659).
That's why the only action you can access on TI is Delete

<img width="1485" alt="issue" src="https://user-images.githubusercontent.com/822562/184654686-4a81dbc7-3839-4efb-813c-1a1f4940d35d.png">

### What you think should h

[2022-08-15 16:13] josh-fell commented on #25721
#25538 Looks good in the packaged files.

[2022-08-15 19:22] bbovenzi commented on #24723
It's not a time-based, but display-based (every 10 dag runs). This was the simplest solution at the time. DAGs can have all sorts of different schedules (especially with manually triggered runs) which makes it harder to find a solution that works everywhere.

@NaveenGokavarapu19 I'd be happy to help you get a solution working. We'd have to check the whole range of the first to last dag runs displa

[2022-08-15 19:34] bbovenzi commented on #24725
Ok, I see. The trigger request goes through but the redirect back to the page loses its query params and is then a bad request. The same issue happens in grid view, all url params are cleared after triggering a new run. Working on a fix...

[2022-08-15 19:39] notatallshaw-work opened #25728 "Tasks marked as "UP_FOR_RESCHEDULE" get stuck in Executor.running and never reschedule"
### Apache Airflow version

2.3.3

### What happened

Upon upgrading from Airflow 2.1.3 to Airflow 2.3.3 we have an issue with our sensors that have mode='reschedule'. Using `TimeSensor` as example:

1. It executes as normal on the first run
2. It detects it is not the correct time yet and marks itself "UP_FOR_RESCEDULE"  (usually to rescheduled for 5 minutes in the future)
3. When the time comes

[2022-08-15 19:40] bbovenzi commented on #24329
the get tasks endpoint was giving us some other trouble so we removed it in https://github.com/apache/airflow/pull/25359

[2022-08-15 19:40] #24329 closed

[2022-08-15 19:42] bbovenzi commented on #23422
For now our focus is on continuing to add react to `/www` and not develop a separate UI in `/ui`. Can reopen this when we're ready to a full redo.

[2022-08-15 19:42] #23422 closed

[2022-08-15 19:45] bbovenzi commented on #24721
@pierrejeambrun We may want to make sure this config is passed to the new grid view logs too.

[2022-08-15 20:45] pierrejeambrun commented on #24721
Yes good idea. I'll open a PR for that :)

[2022-08-15 21:23] notatallshaw-work commented on #25728
It appears this was never an issue before 2.3.0 because the CeleryExecutor implemented it's own trigger_tasks logic, until this PR landed: https://github.com/apache/airflow/pull/23016

[2022-08-15 21:47] Gollum999 opened #25730 "Deadlock when backfilling mapped tasks"
### Apache Airflow version

2.3.3

### What happened

I have a DAG that contains [dynamic tasks](https://airflow.apache.org/docs/apache-airflow/stable/concepts/dynamic-task-mapping.html), and when I try to `backfill` it I consistently run into a errors like the one below:

[code]

<details>
  <summary>More log context</summary>

[code]
</details>

When I tried to run this backfill on our productio

[2022-08-15 21:48] Gollum999 commented on #25730
More log context from my second example, since my comment was too long:

<details>
  <summary>Expand</summary>

[code]
</details>

[2022-08-15 21:54] kazanzhy commented on #25721
I must say that I do not have prepared integration tests for the SQL provider.
I looked over https://github.com/apache/airflow/pull/23971 again and seems ok.
But it'll be great if someone help to test this PR.
@josh-fell @FanatoniQ @alexott

[2022-08-16 09:28] szczeles opened #25734 "Can't remove permission from a role using the API"
### Apache Airflow version

2.3.3

### What happened

There is an API `PATCH /api/v1/roles/[role]` that is supposed to be able to update existing role. When I call it, providing list of permissions to attach in `actions` field (in JSON body), the new permissions are added to the role, but removed permissions are not removed. It is related to the fact that API implementation calls [security_manager

[2022-08-16 11:48] BasPH commented on #24963
Again a new release was made 2 days ago: https://github.com/apache/airflow-site/releases/tag/0.0.10 but I don't see the collapsible menu items. Any ideas if somehow it isn't deployed @potiuk @mik-laj?

[2022-08-16 12:05] #24338 closed

[2022-08-16 12:21] potiuk opened #25739 "CI: Rewrite "get-workflow-origin" action in Python"
The workflow origin is an action written on javascript (typescript) and published separately. But it could be written in Python using GitHub APIs

[2022-08-16 12:51] thenaturalist opened #25740 "'ExasolHook' object has no attribute 'strip_sql_string'"
### Apache Airflow version

Other Airflow 2 version

### What happened

Calling the ExasolOperator/Hook in the latest 4.0.0 version results in the above error for any query.

Example task trace:

[code]

### What you think should happen instead

The SQL is executed correctly, no errors in the DB API Hook.

### How to reproduce

Run a query with an instance of the DBAPIHook class against a data sto

[2022-08-16 12:58] potiuk commented on #25721
Tested:

#25299:

[code]
#25293

[code]
#25350
[code]

#25713

common-sql: 1.1.0rc4:
[code]

common-sql: 1.1.0rc3:

[code]

[2022-08-16 13:04] potiuk commented on #25721
Would be great @alexott if you could test the Databricks provider together with the new common.sql :).

Also I found one potential issue with default 'split_sql` set to True  - the 3.2.0rc4 new databricks provider actually depends on the 1.1.0 feature of "common-sql' - but we do not have min-requirement for it (for other providers it's non-default feature so they do not REALLY depend on it). It's

[2022-08-16 13:21] potiuk commented on #25721
Actually seems that more providers are afffected - see https://github.com/apache/airflow/issues/25740 . I have not realised we have another implicit dependency there as >= 1.1.0 should also be added for all other providers also using `strip_sql_string`. This will get fixed for those who upgrade to 1.1.0 of comon sql (once we release) but I think we should bump all the providers that depend on comm

[2022-08-16 13:26] #23689 closed

[2022-08-16 13:47] #22426 closed

[2022-08-16 13:55] notatallshaw-work commented on #25728
I'm a bit confused by this part of this loop (comment removed for clarity):

[code]

There's no sleep and no external call to check the status, so if `self.running` is being updated on another thread the only chance it really has is when `self.log` is called, if `self.running` is being updated by an asynchronous loop somewhere then it has to rely on the GIL giving it a chance to update when a tigh

[2022-08-16 14:11] hochupivas opened #25742 "'TrinoHook' object has no attribute 'strip_sql_string'"
### Apache Airflow version

Other Airflow 2 version

### What happened

Calling the TrinoOperator/Hook in the latest 4.0.0 version results in the above error for any query.

`File "/opt/airflow/dags/utils/trino.py", line 21, in get_data
    df = engine.get_pandas_df(query)
  File "/home/airflow/.local/lib/python3.8/site-packages/airflow/providers/trino/hooks/trino.py", line 180, in get_pandas_df

[2022-08-16 14:29] potiuk commented on #25742
Yep. thanks for raising it. Duplicate of #25740 - you can find workaround is there, in a few days we will release common-sql-provider-1.1.0 that should fix it when installed together and we will release a  bugfix version of all affected providers right after.

[2022-08-16 14:29] potiuk commented on #25742
Closing as duplicate

[2022-08-16 14:29] #25742 closed

[2022-08-16 14:44] potiuk commented on #25681
CC: @ashb @uranusjr @ephraimbuddy - migth be worth at least checking before we attempt to release 2.3.4

[2022-08-16 14:49] alexott commented on #25721
I'm ok with releasing it right now in that shape, I'm testing actual functionality right now

[2022-08-16 15:02] Gollum999 opened #25744 "Dynamic tasks being marked as "removed" when backfilled"
### Apache Airflow version

2.3.3

### What happened

If you try to `backfill` a DAG that uses [repeated dynamic task mapping](https://airflow.apache.org/docs/apache-airflow/2.3.0/concepts/dynamic-task-mapping.html#repeated-mapping), some of the repeated mapped tasks will be marked as "removed".  Any tasks downstream of the removed tasks will refuse to start:

![Screenshot from 2022-08-16 08-51-35

[2022-08-16 15:43] tomsej commented on #24421
Think this can be closed. See https://github.com/apache/airflow/pull/25689

[2022-08-16 16:13] ashb commented on #25681
Thanks for the amazingly detailed repro steps -- this should make our job much easier!

[2022-08-16 16:16] #24421 closed

[2022-08-16 16:25] rcheatham-q commented on #25681
They're only helpful if you can actually reproduce it, though. 🤞

[2022-08-16 16:39] mbig opened #25745 "Error when executing on_success_callback"
### Apache Airflow version

Other Airflow 2 version

### What happened

We are upgrading from airflow 1.10.15 to 2.1.4 and we getting this error on all our dags after they successfully finish.
We are also getting   "Error when executing on_failure_callback" and "Error when executing on_retry_callback" when a task fails and wants to retry.

[2022-08-16 15:35:08,370] {taskinstance.py:1350} ERROR - E

[2022-08-16 18:16] valayDave commented on #21923
+1 on this. Are there any plans of supporting this in the near future ?

[2022-08-16 18:25] notatallshaw-work commented on #25728
Enabling Debug logs I see something very interesting, on Airflow 2.1.3 I see this debug message "`Changing state:`" quite often: https://github.com/apache/airflow/blob/2.1.3/airflow/executors/base_executor.py#L198. But I never see the equivalent message in Airflow 2.3.3: debug logs even though it's still there https://github.com/apache/airflow/blob/2.3.3/airflow/executors/base_executor.py#L238

Eq

[2022-08-16 18:29] ephraimbuddy commented on #25681
Task log I saw(just a note for the debugging):

[code]

[2022-08-16 19:03] ashb commented on #25681
@ephraimbuddy That error appears to be different to the the one the OP reported fwiw.

[2022-08-16 19:25] ephraimbuddy commented on #25681
Yes. It's different.

[2022-08-16 19:28] potiuk commented on #21923
As usual with such 'small-ish" features, if someone will do it, it will be done. This is an open-source. Anyone (including yourself) can make a PR and add it. Seems like there is a general consensus on that one and no objections, so anyone contributing the PR can be pretty sure the reception will be good.

So if you feel like it - feel free to make PR.

[2022-08-16 19:30] #25326 closed

[2022-08-16 20:28] ephraimbuddy commented on #25681
I was able to reproduce this in main by running the above dag after reducing the default_pool slot to 5

[2022-08-16 21:44] uranusjr commented on #25681
Is this fundamentally caused by the same issue underlying #25060 and #25200? (i.e. race condition caused by two parts of code expanding the same task)

[2022-08-16 22:07] sfc-gh-madkins commented on #24456
Question for an interested Snowflake customer: Will the release of the
Snowflake Airflow provider package that includes the Snowpark operator be
compatible with Airflow 2.2.2?

On Wed, Aug 3, 2022 at 11:01 AM Miles Adkins ***@***.***>
wrote:

[2022-08-16 23:26] plutoid commented on #25372
hi,

@potiuk  , at last I use py-spy instead to capture the processes for flame  graph , kindly have a look, thanks a lot!

![816](https://user-images.githubusercontent.com/1091981/185001854-62a0788e-a3ab-4ba4-b914-a341fe36b010.svg)

[2022-08-17 01:11] asd855280 opened #25750 "Metadata DB lock wait timeout exceeded when delete from xcom table(airflow 2.1.0)"
### Apache Airflow version

Other Airflow 2 version

### What happened

We are seeing airflow DAG reported failed occasionally due to table lock timeout while delete from xcom table

 Exception:
(pymysql.err.OperationalError) (1205, 'Lock wait timeout exceeded; try restarting transaction')
[SQL: DELETE FROM xcom WHERE xcom.dag_id = %(dag_id_1)s AND xcom.task_id = %(task_id_1)s AND xcom.execution_d

[2022-08-17 02:30] uranusjr commented on #21078
Can you post a few more lines in the scheduler log? Your `...` part clips the actual failing commands (both sides).

Also from your DAG it seems this is unrelated to async operators?

[2022-08-17 02:35] csm10495 commented on #21078
Yeah I have to redo this again and get a fresh log.. I'll try to do that in the coming days

[2022-08-17 04:24] uranusjr commented on #24045
Pending sounds reasonable to me.

[2022-08-17 04:48] malthe commented on #25728
It would be useful to have logs to see what exactly is going on.

[2022-08-17 07:59] uranusjr commented on #25730
This has been covered by #25532.

[2022-08-17 07:59] #25730 closed

[2022-08-17 08:11] ashb commented on #25558
You have re-defined `qux` to be a function:

[code]

(FYI the error has changed to `raise ValueError("Use of List object with schedule param is only supported for List[Dataset].")`)

[2022-08-17 08:11] #25558 closed

[2022-08-17 08:18] mik-laj commented on #24456
I still need to check it out, but for now I don't see any reasons why it should work on older versions of Apache Airflow.

[2022-08-17 08:38] thenaturalist commented on #25740
@potiuk I can confirm that your suggestion for installing 1.1.0rc4 solved the issue. I can use Hook & Operator in the latest 4.0.0 version!

Thanks a lot for the quick response! :)
Closing

[2022-08-17 08:38] #25740 closed

[2022-08-17 09:15] ilyadinaburg commented on #25667
Hi, I'm facing the same issue as @fernhtls with scheduler and triggerer pods. Running Airflow 2.3.2 on AWS, official helm chart 1.6.0.

Below is the result of livenessProbe command:
[code]
If I ran it without hostname as @fernhtls suggested:
[code]
However, if i run it with IP address of scheduler pod instead of hostname I got:

[code]
So assume that might be related to setting HOSTNAME_CALLABLE i

[2022-08-17 09:20] malthe commented on #25672
Can you check the logs to see if you see something similar to this:

![image](https://user-images.githubusercontent.com/26405/185083104-bc8d8e4d-e678-41ab-8d8f-0d5fb353e207.png)

Here we lose contact to redis, but after reconnecting, the worker is in a stuck state – this would explain how your "tasks get stuck at random".

What's your setup?

[2022-08-17 09:22] potiuk commented on #24456
Just to explain the process @sfc-gh-madkins (@mik-laj already knows most of it) - but I think it would be good that you understand this and can arrange your process with your customers as well, so that there are no surprises and so that you can adapt to the rules we agreed in the community.

The rule we have for Airflow providers is that they should be 2.2+ compatible till 11th of October:
https:/

[2022-08-17 09:37] fernhtls commented on #25667
hi @ilyadinaburg , I didn't have the time to check properly the whole issue on itself, in my case I'm pushing a custom `livenessProbe` to the helm chart without the `--hostname` argument as below:

[code]

I didn't check the env var `AIRFLOW__CORE__HOSTNAME_CALLABLE`, as I had to push a quick fix as the scheduler was restarting and breaking the execution of DAGs / tasks.

Good that the issue seems

[2022-08-17 09:52] jgr-trackunit commented on #25721
[databricks: 3.2.0rc4](https://pypi.org/project/apache-airflow-providers-databricks/3.2.0rc4) looks good on `MWAA==2.2.2` Now provider sends proper data to databricks i.e. `"enable_elastic_disk": True,` and that's the result:

![image](https://user-images.githubusercontent.com/103052731/185089805-4b05e169-2b1d-49aa-b3d0-0936c4dc6a49.png)

well LGTM

[2022-08-17 10:59] ilyadinaburg commented on #25667
hey @fernhtls, I think that the issue might not be directly related to AIRFLOW__CORE__HOSTNAME_CALLABLE, however, might be this is obvious but still as per your findings it is related to the fact that pod hostname not being resolved.
So as a workaround $(hostname -i) instead of $(hostname) may be used as well in liveliness probe command.

[2022-08-17 11:32] fernhtls commented on #25667
hi @ilyadinaburg ,thanks for info, I'll check on your proposal later on. On an HA deployment for the scheduler (statefulset with 2 pods or more), the liveness needs to check if the process is up and running only on it's own host, so what I did it's not the correct / best approach indeed. Let's wait for more info from someone from apache/airflow itself with more info.

[2022-08-17 13:21] #24725 closed

[2022-08-17 13:36] notatallshaw-work commented on #25728
Thanks, I'll read through this and I'll see what I can do about the logs (they're big so I will need to cut down to the relevant part and also I'd need to get management sign off, if I'm able to reproduce outside my company then it will make the process a lot simpler).

[2022-08-17 14:04] anthonyp97 opened #25765 "Deadlock in Scheduler Loop when Updating Dag Run"
### Apache Airflow version

2.3.3

### What happened

We have been getting occasional deadlock errors in our main scheduler loop that is causing the scheduler to error out of the main scheduler loop and terminate. The full stack trace of the error is below:

[code]

It appears the issue occurs when attempting to update the `last_scheduling_decision` field of the `dag_run` table, but we are unsure

[2022-08-17 14:20] Taragolis commented on #25706
@dddevis Did you tried set [logging_level](https://airflow.apache.org/docs/apache-airflow/stable/configurations-ref.html#logging-level) to DEBUG

Most of the errors during get data from secrets manager suppressed
https://github.com/apache/airflow/blob/e736c2d1545501d6998a02380778574ae159a203/airflow/providers/amazon/aws/secrets/secrets_manager.py#L446-L480

[2022-08-17 14:32] potiuk commented on #25446
I assigned you now @sbrandtb but I am happy to co-assign you as well @joshuaghezzi (but you need to comment here)

[2022-08-17 14:46] benbenbang commented on #9713
Hello @potiuk and all,

I've to come back to this topic again :\
Even after we implemented TTL + Cache + multi backends, airflow is still pinging Vault backend with no reason.
Our order is `RDS -> SSM -> Vault`

From the log I implemented:
I can see, for example:
[code]
This is fetched from AWS ☝🏻
[code]
This is fetched from RDS ☝🏻

However, from the dashboard, we can see that airflow is still sen

[2022-08-17 15:20] khmelevskiy opened #25768 "“DAG could not be found” in worker when using task-mapping with lazy_loading_plugins=false"
### Apache Airflow version

2.3.3

### What happened

Hi!
We are setting up the [datahub] plugin (https://datahubproject.io/docs/lineage/airflow/) and for it to work you need to set the config:
`AIRFLOW__CORE__LAZY_LOAD_PLUGINS: false`

when installing this config, dags with partial/expand stopped working for us.
Error from airflow worker: `Failed to execute task Dag 'repeated_mapping' could not b

[2022-08-17 17:16] ashb commented on #21923
I'm looking at making this a thing that the timetable controls.

(That does mean running timetable code in the scheduler "hot loop" so needs some careful thought)

[2022-08-17 17:55] park-peter commented on #19612
Can we reopen this? I just tested the fix in astronomer image 2.3.3-2 and clearing a deferred task will still mark the task as success immediately without executing. The other case of marking the task as failed first then clearing the task does re-execute the task.

[2022-08-17 17:56] l0n3r4n83r opened #25772 "Scheduler Will not Start if there is a task instance with a missing queued_dttm"
### Apache Airflow version

Other Airflow 2 version

### What happened

Airflow 2.2.5

Airflow scheduler will fail to start with the following lof when a task_instance has a blank queued_dttm
Setting the start_dt as queued_dttm resolved the issue. I am not sure when a task would have an empty queued_dttm
[code]

### What you think should happen instead

The scheduler should be able to start or a e

[2022-08-17 18:06] csm10495 commented on #21078
Ok, got it to happen again... task with empty log:
![image](https://user-images.githubusercontent.com/5749838/185210219-3f3dca3f-fc18-4fb2-90dd-3afcae539de8.png)

Here is more of a failing log:

[code]

[2022-08-17 18:42] ejmockler opened #25775 "XComs from another task group fail to populate dynamic task mapping metadata"
### Apache Airflow version

2.3.3

### What happened

When a task returns a mappable Xcom within a task group, the dynamic task mapping feature (via `.expand`) causes the Airflow Scheduler to infinitely loop with a runtime error:

[code]

### What you think should happen instead

Xcoms from different task groups should be mappable within other group scopes.

### How to reproduce

[code]

### Opera

[2022-08-17 19:26] PadmajaPeri opened #25776 "Airflow returns a http URL when "Last Run" in DAGs Page is clicked though the webserver is configured to run on HTTPS"
### Apache Airflow version

Other Airflow 2 version

### What happened

We are running airflow version 2.3.1 behind an apache proxy. The base_url in the webserver in airflow.cfg is as below -

[code]

On the airflow DAGs page, when I click on "Last Run" (for a DAG) and copy the link address, I see that a https link is generated -
`https://<host_name>/airflow/graph?dag_id=<dag_id>&execution_date=<s

[2022-08-17 19:57] joshuaghezzi commented on #25446
@potiuk sounds good 🙂

[2022-08-17 20:12] ashb commented on #25772
Did you recently upgrade by any chance? (Just thinking about how it ended up in this situation, if we have a bug in code, or if the migration needs fixing.)

[2022-08-17 20:31] hfzvc opened #25778 "provide_context: False provided to PythonOperator raises Airflow Exception, provide_context: True is allowed"
### Apache Airflow version

2.3.3

### What happened

While moving to Airflow 2.x our team noticed a strange thing occur in a recent DAG we were converting to Airflow 2.x code.

When using `PythonOperator`s and setting `provide_context: False`, Airflow Webserver will raise an AirflowException that invalid arguments were passed to `PythonOperator`.

If we set `provide_context: True`, this error goe

[2022-08-17 20:44] potiuk commented on #25778
This is OK. the import error is because provide_context =False is invalid and it fails your DAG. Where provide_context=True works as expected (because context is always provided). So all is fine here.

[2022-08-17 20:44] #25778 closed

[2022-08-17 20:46] hfzvc commented on #25778
Awesome, thank you for that explanation.

[2022-08-17 22:57] ephraimbuddy commented on #25681
One issue with the provided dag is that it uses a dynamic start_date. With dynamic start date, each time the file processor processes the file, the dag hashes won't match. This leads to the scheduler calling DagRun.verify_integrity.
If you change the dag to have a static start_date and apply the below fix, the issue will be resolved:
[code]
I will make a PR to fix updating the missing_index even w

[2022-08-17 23:49] l0n3r4n83r commented on #25772
It has happened twice quite a few days after the upgrade to 2.2.5 version.

[2022-08-18 01:48] collinmcnulty commented on #25200
For anyone else experiencing this, there is a workaround to put a sleep between your two sets of mapped tasks.

[code]

[2022-08-18 03:30] Greetlist commented on #19612
After adding this code, In my env, this problem is disappear. of course, I do not use ```astronomer image 2.3.3-2```, I just deploy airflow on host machine. Try to attach into container and check source code ```sudo docker exec -ti $container_id /bin/bash ``` @park-peter

[2022-08-18 03:50] uranusjr commented on #19612
Should probably do it in a new issue instead with fresh reproduction steps.

[2022-08-18 04:00] uranusjr commented on #25772
Duplicate of #22160, fixed in 2.3.0.

[2022-08-18 04:00] #25772 closed

[2022-08-18 04:40] sudohainguyen opened #25781 "BigQueryGetDataOperator does not support passing project_id"
### Apache Airflow Provider(s)

google

### Versions of Apache Airflow Providers

apache-airflow-providers-google==8.3.0

### Apache Airflow version

2.3.2

### Operating System

MacOS

### Deployment

Other

### Deployment details

_No response_

### What happened

Can not actively pass project_id as an argument when using `BigQueryGetDataOperator`. This operator internally fallbacks into `defaul

[2022-08-18 04:54] khmelevskiy commented on #25768
we also found that the problem appears after installing `acryl-datahub-airflow-plugin`

[2022-08-18 06:28] uranusjr commented on #25090
Still need the UI implementation

[2022-08-18 06:43] vipulneo opened #25784 "Trino operator fails to run query"
### Apache Airflow Provider(s)

trino

### Versions of Apache Airflow Providers

apache-airflow-providers-amazon==4.0.0
apache-airflow-providers-celery==3.0.0
apache-airflow-providers-cncf-kubernetes==4.1.0
apache-airflow-providers-common-sql==1.0.0
apache-airflow-providers-docker==3.0.0
apache-airflow-providers-elasticsearch==4.0.0
apache-airflow-providers-ftp==3.0.0
apache-airflow-providers-goog

[2022-08-18 08:05] eladkal commented on #25784
See https://github.com/apache/airflow/issues/25742#issuecomment-1216716648

[2022-08-18 08:05] #25784 closed

[2022-08-18 09:56] uranusjr commented on #25775
Ah, this is caused by a bug in `iter_mapped_dependants`. This function does not correctly prefix group IDs when looking up tasks.

[2022-08-18 12:56] TVMerrick opened #25794 "UI Update - Clicking a Task Action Refreshes to the Main DAG Page"
### Description

When you are in a DAG and perform a task action (i.e. mark success, mark failure), it takes you back to your main DAGs view and not the specific DAG you are on.  Would like it to stay on the DAG you are working on.  Note: This does not do this if you are in a local airflow instance.

### Use case/motivation

When monitoring our DAGs and re-running / working through failures, it ta

[2022-08-18 14:57] #25728 closed

[2022-08-18 16:02] rcheatham-q commented on #25681
Will that fix be a part of 2.3.4?

[2022-08-18 16:03] ephraimbuddy commented on #25681
No. It worth. Sorry.

[2022-08-18 17:53] anselboero commented on #24963
Hi,
I've noticed that on the official [website](https://airflow.apache.org/docs/apache-airflow/stable/index.html) there is no reference to the Js **globaltoc.js** script that I've committed from the airflow-site Github repo.
BUT
I've noticed that the [Documentation from the development version webpage](http://apache-airflow-docs.s3-website.eu-central-1.amazonaws.com/docs/apache-airflow/latest/inde

[2022-08-18 22:07] dddevis commented on #25706
@Taragolis I've set the logging level to "DEBUG" and I see this instead:

[code]

[2022-08-18 22:16] cedkoffeto commented on #23246
Hi everyone, I am new in the airflow community and want to help and learn.
Am interested in this issue so @erdos2n  can we assign it to me, please?

[2022-08-18 22:38] cedkoffeto commented on #23246
Do you think we should add an API call like this?  /taskInstances/{task_instance_id}/update just to be focused on the DagRun itself.

[2022-08-18 23:14] fredym commented on #25557
🤔 yeah this is Astronomer based. I'm gonna test this in a vanilla Airflow installation and report my findings back. Thanks for looking into this.

[2022-08-19 03:01] uranusjr commented on #25557
Feel free to drop a word to Astronomer as well, people managing that environment might be able to identify the problem more easily (I work for Astronomer but not on the platform).

[2022-08-19 03:50] maxexcloo commented on #19251
We have published a package here with @raphaelauv's fix: https://pypi.org/project/custom-cloud-secret-manager-backend-kasna/

It can be used like this:
[code]

[2022-08-19 06:25] eladkal commented on #25721
Released

[2022-08-19 06:25] #25721 closed

[2022-08-19 08:31] narcotis opened #25812 "Remote logging for stackdriver error"
### Apache Airflow Provider(s)

google

### Versions of Apache Airflow Providers

apache-airflow-providers-google==8.3.0

### Apache Airflow version

airflow==2.3.2-python3.10

### Operating System

Debian GNU/Linux 11

### Deployment

Official Apache Airflow Helm Chart

### Deployment details

I'm using Official Airflow Helm chart on GKE, with nothing customized.
All of the ENVs (configs) are bas

[2022-08-19 09:13] malthe opened #25813 "Helm chart should provide log rotation"
### Description

The Helm chart should provide log rotation functionality for the various services in order to periodically clean up logs.

### Use case/motivation

While log rotation for workers can be implemented using a DAG, it fits more naturally on the operating system level.

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### C

[2022-08-19 09:45] #25698 closed

[2022-08-19 09:51] magdagultekin opened #25815 "SQLTableCheckOperator fails for Postgres"
### Apache Airflow version

2.3.3

### What happened

`SQLTableCheckOperator` fails when used with Postgres.

### What you think should happen instead

From the logs:
[code]

### How to reproduce

[code]

### Operating System

macOS

### Versions of Apache Airflow Providers

`apache-airflow-providers-common-sql==1.0.0`

### Deployment

Astronomer

### Deployment details

_No response_

### Anythin

[2022-08-19 09:55] #25775 closed

[2022-08-19 10:59] magdagultekin commented on #25815
Oops, accidentally opened an Airflow core bug issue instead of Airflow provider, apologies.

[2022-08-19 12:04] hewerthomn commented on #25676
I think this can be a bug in oracledb because when I used the version 3.0.0, before the change to oracledb, this bug won't happen

[2022-08-19 13:15] #21923 closed

[2022-08-19 14:12] barrywhart opened #25827 "KubernetesPodOperator "env_vars" field is documented to be templated, but it doesn't work"
### Apache Airflow version

main (development)

### What happened

The KubernetesPodOperator `env_vars` field is [documented to be templated](https://github.com/apache/airflow/blob/main/airflow/providers/cncf/kubernetes/operators/kubernetes_pod.py#L99), but it doesn't work. If I pass a JSON string to the constructor, it throws an exception:
[code]

### What you think should happen instead

If it r

[2022-08-19 14:15] lssatvik commented on #25672
@malthe What are those logs?

I use celery and redis.

[2022-08-19 15:04] lssatvik opened #25828 "Airflow UI ignores system timezone when modifying timestamps in logs"
### Apache Airflow version

2.3.3

### What happened

I changed airflow core, airflow webserver and linux system timezone to IST from UTC.
Everything is as expected except logs.
When I select UTC in UI, the log is what is in disk, IST (+5:30) time. But when I select IST in UI, the log timestamps change to UTC +5:30 +5:30.

Either the logs should contain timezone info, else we should consider the s

[2022-08-19 15:08] bbovenzi commented on #25794
Sounds like this could be an issue with how the `origin` redirect is being set.
In the meantime, task actions on the grid view don't use redirects at all saving time.

[2022-08-19 15:08] #25815 closed

[2022-08-19 16:00] alexsstock commented on #24624
@bhavaniravi I found this issue trying to solve the same problem.

We have disabled "edit" for all the roles in the UI.  This let's people set and edit using the CLI only, but everyone can still see what is available in the UI.

I'm not sure if that helps you, but it helped our case.

[2022-08-19 16:25] moreaupascal56 opened #25833 "Airflow Amazon provider S3Hook().download_file() fail when needs encryption arguments (SSECustomerKey etc..)"
### Apache Airflow version

2.3.3

### What happened

Bug when trying to use the S3Hook to download a file from S3 with extra parameters for security like an SSECustomerKey.

The function [download_file](https://github.com/apache/airflow/blob/dd72e67524c99e34ba4c62bfb554e4caf877d5ec/airflow/providers/amazon/aws/hooks/s3.py#L854) fetches the `extra_args` from `self` where we can specify the securit

[2022-08-19 17:04] jessmchung opened #25836 "Support overriding `replace_microseconds` parameter for `airflow dags trigger` CLI command"
### Description

`airflow dags trigger` CLI command always defaults with `replace_microseconds=True` because of the default value in the API. It would be very nice to be able to control this flag from the CLI.

### Use case/motivation

We use AWS MWAA. The exposed interface is Airflow CLI (yes, we could also ask to get a different interface from AWS MWAA, but I think this is something that was jus

[2022-08-19 17:12] potiuk commented on #25813
It already does. https://airflow.apache.org/docs/helm-chart/stable/parameters-ref.html (look for logGroomer). Maybe it needs to be surfaced better (feel free to make PR with docs update @malthe. but I believe it's all there. It could have more features for sure, but I think what is there is quite enough ?

Converting into discussion in case there is more to it that I see

[2022-08-19 18:17] PrincipalsOffice commented on #25641
@potiuk @uranusjr For dags with a long history of logs, making the logs downloadable doesn't seem that helpful? Can we explore adding more indexes to the log table? fwiw we have so much logs that /log/list/ won't even load.

[2022-08-19 22:18] pingzh opened #25843 "Each scheduler may process same zombie tasks in HA mode"
### Apache Airflow version

main (development)

### What happened

https://github.com/apache/airflow/blob/f40ec8d6f80badbdc5dfc131ce677c7e93d6824a/airflow/jobs/scheduler_job.py#L1447-L1483

`_find_zombies` should also support HA. Each scheduler tries to find all zombie tasks. When there are more than one schedulers, it might cause issues.

### What you think should happen instead

_No response_

#

[2022-08-19 22:57] potiuk commented on #25641
Sure - if you want to explore and make a PR - you are most welcome.

[2022-08-20 01:46] hankehly commented on #25319
I will finish up the remaining files
* docs/apache-airflow/tutorial.rst
* docs/apache-airflow/howto/operator/python.rst
* docs/apache-airflow/upgrading-from-1-10/index.rst

[2022-08-20 02:01] hankehly commented on #25319
I agree with this. How about combining the two? Right now the TaskFlow API tutorial "builds on" the existing tutorial. I say we..

1. combine "Tutorial" and "TaskFlow API tutorial" into one page (named "Tutorial")
2. add a code example of `PythonOperator` etc.. to (1) but describe it as "discouraged"

If others are ok with this I'll go ahead and create a draft.

[2022-08-20 10:55] ephraimbuddy opened #25846 "Status of testing of Apache Airflow 2.3.4rc1"
### Body

We have a kind request for all the contributors to the latest [Apache Airflow RC 2.3.4rc1](https://pypi.org/project/apache-airflow/2.3.4rc1/).

Could you please help us to test the RC versions of Airflow?

Please let us know in the comment if the issue is addressed in the latest RC.

- [ ] [Don't rely on current ORM structure for db clean command (#23574)](https://github.com/apache/airfl

[2022-08-20 11:17] eladkal commented on #25843
Can you try 2.3.4RC1?
https://github.com/apache/airflow/pull/24906 probably fixed it?

[2022-08-20 13:20] Taragolis commented on #25846
https://github.com/apache/airflow/pull/25764 Check on AWS S3 and AWS Cloudwatch handlers no warnings anymore

[2022-08-20 13:34] potiuk commented on #25843
Yep. This is fixed in #24906

[2022-08-20 13:34] #25843 closed

[2022-08-20 13:41] tomsej commented on #25846
https://github.com/apache/airflow/pull/25689 LGTM

[2022-08-20 13:42] pierrejeambrun commented on #25846
https://github.com/apache/airflow/pull/25554 working as expected :+1:
https://github.com/apache/airflow/pull/25097 not much to test on this one.

[2022-08-20 14:18] potiuk commented on #25846
All good:

#24982 - correct limits
#25169 - assets are properly compiled in the package
#25511 -  flask correctly limited
#25584 - irrelevant

[2022-08-20 15:34] Jorricks commented on #25846
All good:

#25347 <https://github.com/apache/airflow/pull/25347> - Logging message is
no longer excessively present when you remove a task.

Op za 20 aug. 2022 om 16:18 schreef Jarek Potiuk ***@***.***>:

[2022-08-20 15:55] rino0601 commented on #25846
#25296 working as expected 👍 2.3.4rc1 able to import Plugins as Python packages
#24811 working as expected 👍 2.3.4rc1  use ISO 8601 format in task log

[2022-08-20 18:08] consciencee commented on #25846
#24676 working as expected, no any serialization issues anymore

[2022-08-20 19:16] DMilmont commented on #24197
I will make a PR for this! Feel free to assign.

[2022-08-20 21:14] #25781 closed

[2022-08-21 00:14] #13543 closed

[2022-08-21 07:28] eladkal commented on #25676
Does the Sql execute successfully when you use oracledb directly (without Airflow)?
If not then you should report it in https://github.com/oracle/python-oracledb

[2022-08-21 13:19] hewerthomn opened #25851 "PL/SQL statement stop working after upgrade common-sql to 1.1.0"
### Apache Airflow Provider(s)

common-sql, oracle

### Versions of Apache Airflow Providers

apache-airflow-providers-common-sql==1.1.0
apache-airflow-providers-oracle==3.3.0

### Apache Airflow version

2.3.3

### Operating System

Debian GNU/Linux 11 (bullseye)

### Deployment

Docker-Compose

### Deployment details

_No response_

### What happened

After upgrade provider common-sql==1.0.0 to

[2022-08-21 14:55] potiuk commented on #25851
cc: @kazanzhy - > will you take a look at that one or should I attempt to fix it ? I think having optional "strip_semicolon" and setting it to False by default in Oracle, should solve the issue.

[2022-08-21 14:58] potiuk commented on #25615
That one is really interesting race @ashb @ephraimbuddy  - I think we might want to take a closer look at that one :)

[2022-08-21 15:35] kazanzhy commented on #25851
I also thought about the `;` stripping as the cause of this error.
@hewerthomn does your original query has the trailing `;`?

[2022-08-21 18:45] JGoldman110 commented on #20143
We are currently trying to use the `task_instance_mutation_hook` as a way to have manual task runs sent to a specific queue. We have found that using the `task_instance_mutation_hook` to achieve this works well for manual and scheduled runs. However, when clearing a task, `task_instance_mutation_hook` is not called.

When a task is cleared we found that original queue assigned to that task from th

[2022-08-21 19:16] hewerthomn commented on #25851
Yes @kazanzhy , every statement has a semicolon at the end, and after END too

[2022-08-21 21:26] potiuk commented on #23727
Can you try 2.3.4 (It will be out in 2 days or so) and if it is still there please open a new issue with detailed description of the problem and how you got there. You can refer to this issue in the new one but piggybacking on existing, closed issue is not going to make it "active" I am afraid.

[2022-08-21 21:38] potiuk commented on #25645
BTW. 2.3.4 is being voted right now - with flower 1.2.0 which is the latest version available https://github.com/apache/airflow/issues/25846 It it is the latest available. If your scanner still detects any issues - you can raise it to flower.

[2022-08-21 22:08] potiuk opened #25859 "Task stuck as deferred"
### Discussed in https://github.com/apache/airflow/discussions/25630

<div type='discussions-op-text'>

<sup>Originally posted by **Limess** August 10, 2022</sup>
On Airflow version 2.3.3:

A task has become stuck in the deferred state.

Upon clearing the task, nothing happens.
Upon marking the task as a success/failure, the task is marked correctly, but after clearing it immediately goes back to

[2022-08-21 22:10] kazanzhy commented on #25851
It will be great if you have a look at https://github.com/apache/airflow/pull/25855 and help me to test it.
I worked with a lot of databases, but unfortunately, Oracle isn't one of them.

[2022-08-21 22:51] potiuk commented on #24538
Same comment here. If you don't provide any evidencs, logs, details, adding a comment adds no real value and does not make us closer to solving the probem @jensenity. Please. pretty please.

[2022-08-21 22:55] potiuk commented on #25653
Likely related to #25859

[2022-08-21 23:03] potiuk commented on #25671
Marked it as a good first issue. Hopefully someone will implement it. But - just to let you know - the fastest and most sure way of getting such change is to do it yourself. Airlfow is an open-source project and it has more than 2100 contributors - most of them are users like you who miss some feature and decided to add it back  - this is the simplest and best contribution you can make back as a "

[2022-08-21 23:51] #25851 closed

[2022-08-22 00:38] hwooson12 commented on #25846
#25305 LGTM

[2022-08-22 01:23] hwooson12 opened #25861 "No reference link on nodes of DAG Dependencies"
### Apache Airflow version

2.3.3

### What happened

On DAG Dependencies, all nodes don’t have links even though they seem clickable.

<img width="2077" alt="image" src="https://user-images.githubusercontent.com/16971553/185820935-8f067ede-336f-49f6-b9f4-27e54e8a81c0.png">

The mouse pointer turns clickable(sorry, I couldn't capture the mouse pointer) and it activates the node. However it cannot

[2022-08-22 06:44] raphaelauv commented on #25846
Global test look good
![Screenshot from 2022-08-22 08-42-35](https://user-images.githubusercontent.com/10202690/185855741-26d63362-a11a-4ce0-9714-5fb09f8a0abf.png)

[2022-08-22 08:08] itayB opened #25862 "MySql migration failed"
### Apache Airflow version

2.3.3

### What happened

stuck in the middle of `airflow db upgrade` in one of my Airflow’s clusters.
I am trying to upgrade from `2.2.3` --> `2.3.3`, using MySql.
Upgrade failed in `Running upgrade c97c2ab6aa23 -> 4eaab2fe6582, Migrate RTIF to use run_id and map_index`.

Actually, it also failed before that (on previous steps) and I had to run some commands manually t

[2022-08-22 08:13] gmsantos commented on #25846
#24884 LGTM

[2022-08-22 11:50] MHAbido opened #25872 "Backfill CLI Behaviour"
### Apache Airflow version

Other Airflow 2 version

### What happened

When using the backfill cli command to rerun tasks using the following command
`airflow dags backfill dag_id -y -c extra_config -s start_date -e end_date --reset-dagruns`

we noticed indeterministic behaviour, such that if we trigger less than aprox. 35 dagruns everything is fine and the dagruns are retriggered with the expect

[2022-08-22 12:04] hewerthomn commented on #25851
@kazanzhy I want to test it, but the last version of common-sql is 1.1.0

how can I test this update?

[2022-08-22 14:01] hewerthomn commented on #25676
Yes, i created a simple script with the query and executed without errors.

The error happens only chunk is necessary

[2022-08-22 14:26] potiuk commented on #25851
@hewerthomn

You can BYOP (build your own provider):

1) checkout main
2) Install breeze `pipx install -e ./dev/breeze`
3) `breeze release-management prepare-provider-packages --version-suffix-for-pypi dev0`

The .whl package should be prepared in your `./dist` folder and you should be able to install it with `pip install ./dist/WHEEL_FILE_NAME.whl`

[2022-08-22 14:29] potiuk commented on #25851
(you need to have `pipx` installed first BTW)

[2022-08-22 15:51] bbovenzi commented on #25861
Yes, I've wanted to add links and make this page more integrated into the app.

That's what I've done over in https://github.com/apache/airflow/pull/25707. Right now, we're only showing dataset dependencies there. But we may expand it to be a more dynamic replacement of tis view.

[2022-08-22 17:54] #19135 closed

[2022-08-22 18:13] #14563 closed

[2022-08-22 20:26] pdebelak commented on #25846
#25556 appears to be working as expected

[2022-08-22 21:20] pingzh commented on #25843
nice, thanks @eladkal and @potiuk

[2022-08-23 00:31] #25641 closed

[2022-08-23 01:36] blag commented on #22356
For Airflow core, it makes sense to me to have two different types of deprecation warnings:

1. A deprecation warning that is visible to Airflow users, eg: DAG authors by default.
2. Some sort of pending deprecation warning that is not made visible to Airflow users by default.

Option 1 would be for things where deprecation is imminent.

Example:
A function is being deprecated during Airflow 2.4 d

[2022-08-23 03:35] MatrixManAtYrService opened #25891 "Dataset history info not cleared/not clearable"
### Apache Airflow version

main (development)

### What happened

Imagine that you're iterating on a dag file, so the content keeps changing while airflow keeps updating dataset information.

This issue has to do with airflow remembering dataset information from old versions of the dag that you're iterating on--sometimes in ways that cannot be cleared.

1. Start with two files that define many da

[2022-08-23 10:13] raulcarlomagno opened #25901 "Qdrant hook"
### Description

Having a Qdrant hook should make things easier when working with it.

### Use case/motivation

Use a Qdrant hook, as i do with elasticsearch or mongodb, helps to organize and make code cleaners

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct

[2022-08-23 10:44] baruch-shteken opened #25904 "Support Personal access token method for Tableau Connection"
### Description

In Tableau Online, you can use user name and password method for REST API calls, [only if you don't use MFA](https://help.tableau.com/current/api/rest_api/en-us/REST/rest_api_concepts_auth.htm).
Thus, organizations that enabled MFA in Tableau, have to use [Personal Access Tokens](https://help.tableau.com/current/online/en-us/security_personal_access_tokens.htm) for API calls to Ta

[2022-08-23 11:12] eladkal commented on #25904
Create a pool of tokens and for each connection to Tableau from Airflow, create a new connection id with 1 of the unused tokens. I saw that on Airflow, you can [generate connection on the fly](https://airflow.apache.org/docs/apache-airflow/1.10.14/howto/connection/index.html#generating-a-connection-uri). I am not sure how to handle the token pool though

These are not the way to go.

You need to r

[2022-08-23 11:55] potiuk commented on #25672
Any logs. Withhout trying to see if there are some logs around the problem you are mentioning, we are not able to help. just try to correlate the logs (there are few of them - including celery, redis, schedulers, worker) and try to see if you can find any anomalies there.

[2022-08-23 12:27] potiuk commented on #12368
Sure. Go ahead.

[2022-08-23 13:28] #25090 closed

[2022-08-23 13:52] harrisjoseph opened #25905 "Create a replacement `airflow dags trigger` CLI / API endpoint which takes an explicit `logical_start_date`/`logical_end_date`"
### Description

`airflow dags trigger` creates dag_runs with a specified `execution_date`. Since the deprecation of `execution_date`, some logic in the `infer_manual_data_interval()` method has been used to translate between `execution_date` and the new `logical_start_date` + `logical_end_date` fields. This logic sometimes produces incorrect dates.

We should add a new CLI & API endpoint + code p

[2022-08-23 14:06] potiuk commented on #25905
Hopefully somene will pick it up. I think it's a useful one @uranusjr - any comments on that one ? Maybe some work is already happening there?

[2022-08-23 14:09] potiuk commented on #25851
Fantastic! thanks for confirmation! It's already merged and will go out in the next wave of providers :). Thanks @kazanzhy also for very quickl fixing ot that one :)

[2022-08-23 14:44] tirkarthi opened #25909 "DeprecationWarning due to json_encoder in Flask 2.2"
### Apache Airflow version

main (development)

### What happened

On Flask 2.2 starting webserver emits the following deprecation warnings :

[code]

The warning was added in https://github.com/pallets/flask/pull/4735

### What you think should happen instead

_No response_

### How to reproduce

_No response_

### Operating System

Ubuntu 20.04

### Versions of Apache Airflow Providers

_No resp

[2022-08-23 14:45] ephraimbuddy commented on #25846
Airflow 2.3.4 is now released. Thank you all for testing this release candidate

[2022-08-23 14:45] #25846 closed

[2022-08-23 15:01] potiuk commented on #25706
`airflow-remote-logging-conn` -> you need to define it in connections.

[2022-08-23 15:07] RosterIn commented on #12611
I don't see a way to set email from providers there is only a way to configure it from airflow.cfg

[2022-08-23 15:08] #25712 closed

[2022-08-23 15:13] potiuk commented on #12611
https://airflow.apache.org/docs/apache-airflow/stable/howto/email-config.html?highlight=email -> email is configured both in config and in connection (and in email provider you can just use connection and send emails directly).

[2022-08-23 15:15] josh-fell commented on #25909
I believe #25753 fixes this?

[2022-08-23 15:33] tirkarthi commented on #25909
Thanks @josh-fell , I searched for "json_encoder" in GitHub before opening the issue but for some reason https://github.com/apache/airflow/pull/25753 was not in the result.

[2022-08-23 15:49] patricker commented on #21225
We have been sing tasks stuck in a queued state on Airflow 2.3.2. Not many of them, but a few just get stuck in Queued and I have to go either clear them or run them.

[2022-08-23 16:50] bbovenzi commented on #24721
@ming-zhang-SN do you still want to open a PR to fix this?

[2022-08-23 19:32] RosterIn commented on #12611
Thanks for this.
This is very confusing. Why can't email be a provider like all the others? is there a reason for this being such a unique case?

[2022-08-23 19:37] hewerthomn commented on #25851
Thanks!!! @kazanzhy @potiuk

[2022-08-23 20:00] #17175 closed

[2022-08-23 20:03] eladkal commented on #18276
Is this still an issue after https://github.com/apache/airflow/pull/25416 and https://github.com/apache/airflow/pull/25256
cc @Taragolis

[2022-08-23 21:04] uranusjr opened #25922 "Develop Mypy plugin to type-check XComArg passed to a template_field"
### Body

Task extracted from https://github.com/apache/airflow/pull/25604#pullrequestreview-1082835392

### Committer

- [X] I acknowledge that I am a maintainer/committer of the Apache Airflow project.

[2022-08-23 21:18] #22356 closed

[2022-08-23 21:23] potiuk commented on #12611
Airlfow uses email to send notifications without involving operator  at all.

But if you have an idea how to change it, feel free it's easy to say that things are wrong, but proposing a better solution is much more difficult and I challenge you to do so.

[2022-08-23 21:36] potiuk commented on #25922
Comment. Would be great. Unfortunately developing MyPy plugin is not an easy task. The docs are very sparse :(

[2022-08-24 00:46] SamWheating commented on #21169
This was fixed in https://github.com/apache/airflow/pull/22092

[2022-08-24 00:46] #21169 closed

[2022-08-24 01:36] uranusjr commented on #25905
There’s no logical start/end date, data interval is the term. Being able to provide a custom interval does not make much sense with the current design since the interval is dictated by the timetable, and arbitrary values would make things inconsistent.

[2022-08-24 02:18] WongyuChoi commented on #15340
@dingobar Thank you for the input. I am using the same versions and having (maybe similar) migration issue. May I ask you to elaborate on the solution?

[2022-08-24 04:39] mik-laj opened #25926 "How to guide for @task.docker decorator"
### Body

Hi.

[The documentation for apache-airflow-providers-docker](https://airflow.apache.org/docs/apache-airflow-providers-docker/stable/index.html) does not provide information on how to use the `@task.dockker `decorator. We have this decorator described only in the API reference for this provider and documentation for the apache airflow package.

Best regards,
Kamil

### Committer

- [X] I

[2022-08-24 09:43] hazelrah-qr opened #25928 "GitSync does not seem to respect dags.gitSync.subPath"
### Official Helm Chart version

1.6.0 (latest released)

### Apache Airflow version

2.3.2

### Kubernetes Version

1.20.11

### Helm Chart configuration

[code]

[code]

### Docker Image customisations

_No response_

### What happened

When applying the provided values.yml the whole repository is still synced, not just the dags folder in the repository.
[code]

### What you think should happen

[2022-08-24 09:43] hazelrah-qr commented on #25928
@vezeli

[2022-08-24 10:07] seongwon77 opened #25929 "Google provider package should have `google-ads<18.1.0` constraint"
### Apache Airflow Provider(s)

google

### Versions of Apache Airflow Providers

alembic==1.8.1
anyio==3.6.1
apache-airflow==2.3.4
apache-airflow-providers-common-sql==1.1.0
apache-airflow-providers-ftp==3.1.0
apache-airflow-providers-google==8.3.0
apache-airflow-providers-http==4.0.0
apache-airflow-providers-imap==3.0.0
apache-airflow-providers-sqlite==3.2.0
apispec==3.3.2
argcomplete==2.0.0
att

[2022-08-24 10:14] potiuk commented on #25929
Thanks for notifying us.

It's already been handled few days ago (our CI tests caught the problem). We handled that by limiting the protobuf rather than ads. https://github.com/apache/airflow/pull/25886. It will be released in the next version.

BTW, It's not 'constraint' - it's `requirement` :). Those two have completely different meaning in `pip` (and we are using constraints heavily so it makes

[2022-08-24 10:14] #25929 closed

[2022-08-24 10:17] seongwon77 commented on #25929
Oh, thanks for letting me know.  Glad to see the next release! :)

[2022-08-24 10:28] vara-bonthu commented on #25322
@potiuk @mik-laj I have raised my first [PR](https://github.com/apache/airflow/pull/25931) to Airflow for this issue.
Looking forward to contribute more. Thanks

[2022-08-24 10:32] potiuk commented on #25929
BTW. I am also talking to Google team - they need to upgrade the integraions soon for some old clients as otherwise things like that will start happening more and more often

[2022-08-24 11:05] mik-laj commented on #24456
I prepared a test package: https://drive.google.com/drive/folders/1UQcXJuhiIhLR39y3qSlHII2LeCwyI-yh
I encourage everyone to test it.

[2022-08-24 11:50] dingobar commented on #15340
Run `kubectl -n <namespace> get events` and see if there are events where some things are not being scheduled. If not then also try a `kubectl -n <namespace> describe replicaset <migration job replicaset>` and see if there are events there that can give you a clue. In my case, the scheduler could not start the migration pod due to a limit in how much CPU the namespace could request in total. You c

[2022-08-24 12:57] pankajastro commented on #25671
Hey @potiuk can I assign this to myself?

[2022-08-24 14:02] alexandermalyga opened #25937 "TrinoHook uses wrong parameter representation when inserting rows"
### Apache Airflow Provider(s)

trino

### Versions of Apache Airflow Providers

apache-airflow-providers-trino==4.0.0

### Apache Airflow version

2.3.3

### Operating System

macOS 12.5.1 (21G83)

### Deployment

Docker-Compose

### Deployment details

_No response_

### What happened

`TrinoHook.insert_rows()` throws a syntax error due to the underlying prepared statement using "%s" as represen

[2022-08-24 14:16] alexandermalyga commented on #25937
Currently working on a PR, my idea is to add a `placeholder` parameter to the `DbApiHook._generate_insert_sql` function, which then `TrinoHook.insert_rows()` can specify as "?".

[2022-08-24 14:31] leodrivera commented on #25383
Looking at the documentation, I also had the same interpretation as @jceresini. However, I agree with @uranusjr that the ideal would be to link the section related to the data-interval.

[2022-08-24 15:25] potiuk commented on #25671
assigned

[2022-08-24 15:48] HugoCornu opened #25942 "new dag run twice the first time they are triggered"
### Apache Airflow version

Other Airflow 2 version

### What happened

Every time we make a new dag. The first time we launch it, it runs twice.

### What you think should happen instead

The dag should run only once.

### How to reproduce

Here is a dag with the issue :

[code]

### Operating System

its on AWS MWAA (linux I guess)

### Versions of Apache Airflow Providers

<html><body>

Package

[2022-08-24 16:27] harrisjoseph commented on #25905
Thank you for your response,  I appreciate the input 🙂.  I apologise for using the wrong terminology - I've been reading the code where logical_date is passed to `infer_manual_data_interval`, and haven't been following the conceptual shift from `execution_date` -> `logical_date` -> `data_interval` very closely.

Ultimately I'm trying to resolve the issue discussed [here](https://github.com/apache/

[2022-08-24 17:04] uranusjr commented on #25905
[code]

I think this is simply a bug and there’s already an issue raised about it (not sure if a fix was proposed/merged yet), so perhaps we just need to make this as expected?

[2022-08-24 17:36] Taragolis commented on #18276
After changes AwsBaseHook won't show `No credentials retrieved from Connection` and also boto3/botocore should show actual source of credentials, e.g. `Found credentials in shared credentials file: ~/.aws/credentials`

[2022-08-24 19:29] amalberty opened #25947 "DB migration c97c2ab6aa23 -> 4eaab2fe6582 rendered_task_instance_fields.run_id update is incorrect"
### Apache Airflow version

Other Airflow 2 version

### What happened

Updating Airflow from 2.2.5 to 2.3.3 encounter a db upgrade issue.

During alembic upgrade c97c2ab6aa23 -> 4eaab2fe6582 there is SQL statement to update rendered_task_instance_fields.run_id:

UPDATE rendered_task_instance_fields, dag_run SET rendered_task_instance_fields.run_id=dag_run.run_id WHERE dag_run.dag_id = rendered_ta

[2022-08-24 20:00] #25947 closed

[2022-08-24 20:01] amalberty commented on #25947
This issue has been resolved. The fields in the DB were in different timezone.

[2022-08-24 20:42] PadmajaPeri commented on #25776
Hi, Has anyone run into this issue before? Are there any workarounds to get around this issue?

[2022-08-24 20:54] ldacey commented on #25200
FYI - ran into the same issue on Airflow 2.3.4. I had to revert back to 2.3.2 for a stable experience for now, and I had to delete one row from my task instance table (a UPDATE was trying to change map_index to 0 which already existed, apparently, so the primary constraint was violated and the scheduler crashed).

In my case, none of my dynamic tasks happen to have empty lists though - there are v

[2022-08-24 21:52] dstaple commented on #23361
I have an update on the above.

We are running a fork of 2.2.5 with the fix from https://github.com/apache/airflow/pull/25312 cherry-picked and are no longer seeing the specific deadlock outlined [above](https://github.com/apache/airflow/issues/23361#issuecomment-1179314412). We were seeing deadlocks every ~2h when running with vanilla Airflow 2.2.5, so this is a big improvement.

Other types of d

[2022-08-24 22:09] aljets commented on #23786
@alex-astronomer I seem to be able to load the grid view now but the graph view will time out for me for large numbers of dynamic tasks, did you happen to do any investigation of graph view at all when you were looking into this? Thanks!

[2022-08-25 01:34] cloventt commented on #23512
I see this same issue very frequently when the webserver starts up. Here are logs of a crashed webserver pod:

[code]
I am running Airflow 2.3.4 on kubernetes. I have two webserver pods each with 4 workers.

[2022-08-25 03:39] cloventt opened #25949 "Auto-refresh is broken in 2.3.4"
### Apache Airflow version

2.3.4

### What happened

In PR #25042 a bug was introduced that prevents auto-refresh from working when tasks of type `scheduled` are running.

### What you think should happen instead

Auto-refresh should work for any running or queued task, rather than only manually-scheduled tasks.

### How to reproduce

_No response_

### Operating System

linux

### Versions of Ap

[2022-08-25 03:49] cloventt commented on #24844
I'm not sure I understand the reason for this change. Why would you not want the page to auto-refresh? Auto-refresh is useful for seeing the state of running tasks, regardless of whether that task was triggered via a backfill, schedule or manually.

[2022-08-25 06:44] lssatvik commented on #25672
I shall endeavour to obtain the logs from a feasible case. Will update once I obtain them.

[2022-08-25 06:56] malthe commented on #25672
@lssatvik it might also be that this is a duplicate of #24731. There we have some logs that hint at this being some sort of bad internal state after a redis disconnect.

[2022-08-25 08:05] RavijitRamana commented on #25872
@potiuk

[2022-08-25 08:16] uranusjr commented on #25776
This is likely related to how your pxory is set up. Generally you need to add the `X-FORWARDED-PROTO` header (and a few others for other purposes) when the proxy forwards the request to the service for things to function properly.

[2022-08-25 08:32] harrisjoseph commented on #25905
Thanks. I had hoped that it had been fixed, but didn't see anything in 2.3.2 / 2.3.3 / 2.3.4. Also didn't find any issues which mentioned `infer_manual_data_interval`, so thought this hadn't been discussed at all.

I'll close this issue / discussion.

[2022-08-25 08:32] #25905 closed

[2022-08-25 08:43] uranusjr commented on #25905
Hmm, the PR fixin this is marked as a part of 2.3.4 though. @ephraimbuddy Could you check if #22658 was backported?

[2022-08-25 08:50] harrisjoseph commented on #25905
I see no backport, or mention of the PR number between the two releases. I believe it has been pushed to 2.4.0 based on the new milestone on the PR.
https://github.com/apache/airflow/compare/2.3.3...2.3.4

https://github.com/apache/airflow/pull/22658

[2022-08-25 08:51] hankehly opened #25952 "Add RDS operators/sensors"
### Description

I think adding the following operators/sensors would benefit companies that need to start/stop RDS instances programmatically.

Name | Description | PR
:- | :- | :-
`RdsStartDbOperator` | Start an instance, and optionally wait for it enter "available" state | #27076
`RdsStopDbOperator` | Start an instance, and optionally wait for it to enter "stopped" state | #27076
`RdsDbSensor`

[2022-08-25 08:54] yingxuanwangxuan commented on #24844
I am using AirFlow1.10. When I tried to upgrade to a higher version. I found this feature auto-refresh is useful for seeing the state of running tasks. When I backfill my task, the state of these tasks is pending which keeps refreshing.

The airflow Grid page maintains backfilled task state by automatically refreshing whether this is the most appropriate way？ Because the backfill command does not

[2022-08-25 10:29] internetcoffeephone commented on #25200
@collinmcnulty @ldacey What Airflow metadata database are you running?
I'm asking because MySQL 5.x is known to have [deadlock issues](https://github.com/apache/airflow/issues/16982#issuecomment-1193335348). Not sure if this is related though.
It's the MySQL metadata database version I'm running, and I'm experiencing the same issues on Airflow 2.3.3.

[2022-08-25 12:02] potiuk commented on #25872
Not until more details are provided. This issue does not have log, analysis, trying to understand what's going on and trying to provide a reproducible case so there is no-one that could help you to diagnose your problem.

As explained when you create an issue, when there is no clear reproduction, opening an issue is not a good idea - you should open discussion instead.

Converting it into discussi

[2022-08-25 12:30] potiuk commented on #25952
Sure - go ahead - just make sure there are no similar operators there already,. And @o-nikolas @ferruzzi @vincbeck might provide their guidance too :)

[2022-08-25 12:56] baruch-shteken commented on #25904
As I understand from [Tableau Python SDK docs](https://tableau.github.io/server-client-python/docs/api-ref#personalaccesstokenauth-class), there are no parameters for `PersonalAccessTokenAuth` class that we can use to mitigate the issue.
The problem is that only 1 connection can be used for each token simultaneously.
Again, I am not sure how to solve it but Tableau Python SDK doesn't seem to hold

[2022-08-25 13:22] ldacey commented on #25200
I am using PostgreSQL 14. No issues with version 2.3.2, but beyond that the scheduler eventually fails due to primary key constraints.

[2022-08-25 13:56] ephraimbuddy commented on #25942
Can you test this in Airflow 2.3+?

[2022-08-25 14:22] ldacey commented on #25200
My issue https://github.com/apache/airflow/issues/25060 about this was closed and I was told that things would be tracked here.

[2022-08-25 14:58] vincbeck commented on #25952
These operators do not exist and indeed, would be beneficial for the users. Feel free to add them in `airflow/providers/amazon/aws/operators/rds.py`. My only guidance would be to follow other RDS operators and to include documentation, unit tests and add them in the system test. I look forward to reviewing that

[2022-08-25 15:28] potiuk commented on #25942
Probably they can't because MWAA does not support 2.3 yet. But I also believe I also saw it before and it's been fixed in 2.3

[2022-08-25 15:29] potiuk commented on #25942
I'd say we close it as fixed pending upgrade to 2.3 and @HugoCornu you can comment here once you do.

[2022-08-25 15:31] potiuk commented on #25942
Provisionally closing as fixed in 2.3 (@HugoCornu - you will need to wait until MWAA upgrade to 2.3 to fix it - you can also try your DAGS in plain Airlfow 2.3.4 if possible ).

[2022-08-25 15:31] #25942 closed

[2022-08-25 17:42] HugoCornu commented on #25942
Thanks for your answers
You are right MWAA is only supporting 2.2.2 for now

Do you know the commit of the 2.3 fix or How could I find it ?
If it is simple enough, I could patch my version (using overides)

[2022-08-25 18:00] uranusjr commented on #25905
Oh I just recalled, it was dropped since backport was non-trivial (timetable changed too much between 2.3 and 2.4). Well 2.4.0 should be coming next month, so…

[2022-08-25 18:10] potiuk commented on #25734
I think you can start working on it @juliusdelta if there is no response soon -> @szczeles, if you have not looked at it yet you could do a review as well :) . This might be super-helpful.

[2022-08-25 18:26] potiuk commented on #25942
I tried to find it yesterday but I could not easily do it - we had maaaaany bugfixes since 2.2.2 (in the range of few 100s). But I have the same capabilities as you to find it - all the issues and PRs are public and maybe you will have better luck @HugoCornu

[2022-08-25 18:50] szczeles commented on #25734
Hey, @juliusdelta! I didn't start working on this yet, so feel free to submit PR for this. I'm happy to review and test in my lab when it's done. Good luck!

[2022-08-25 18:51] HugoCornu commented on #25942
Thanks a lot for trying
I'll post it here if I find it.

[2022-08-25 19:11] #25681 closed

[2022-08-25 19:36] vgutkovsk opened #25963 "Invalid arguments were passed to EcsRunTaskOperator (aws_conn_id)"
### Apache Airflow Provider(s)

amazon

### Versions of Apache Airflow Providers

apache-airflow-providers-amazon==5.0.0

### Apache Airflow version

2.4.4

### Operating System

linux

### Deployment

Docker-Compose

### Deployment details

Custom built docker image based on the official one.

### What happened

When I was migrating legacy EcsOperator to EcsRunTaskOperator I received this error:

[2022-08-25 19:41] patgarz opened #25964 "on_failure_callback does not pass full exception object"
### Apache Airflow version

Other Airflow 2 version

### What happened

We're using `on_failure_callback` to trigger alerts when a TaskInstance fails. The exception details, including stack trace, were available in Airflow 1(.10.14), however, upon upgrading to Airflow 2(.2.5), this is no longer working. For example, in Airflow 1, we were able to do something like this:

[code]

However, when we at

[2022-08-25 20:55] o-nikolas commented on #25952
+1 from me as well!

[2022-08-25 22:01] aspain opened #25968 "Unable to configure Google Secrets Manager in 2.3.4"
### Apache Airflow version

2.3.4

### What happened

I am attempting to configure a Google Secrets Manager secrets backend using the `gcp_keyfile_dict` param in a `.env` file with the following ENV Vars:

[code]

In previous versions including 2.3.3 this worked without issue

After upgrading to Astro Runtime 5.0.8 I get the following error taken from the scheduler container logs. The scheduler, w

[2022-08-25 22:15] potiuk commented on #25968
@pdebelak - I think this is caused by the LRU cache introduced in https://github.com/apache/airflow/pull/25556 - is it possible you take a look and see if it can be fixed/workarounded ?

[2022-08-25 22:21] potiuk commented on #25968
I believe the problem is that dict-indeed is not hashable, and you can pass the dict as parameter of the secret backend configuration.

For now, I don't see an easy workaround other than using `gcp_key_path` and putting the key in the same path in your workers  - would that be a feasible workaround for now @aspain ?

[2022-08-25 22:26] aspain commented on #25968
With an Astronomer project I don't have access to the workers (other than locally) and would have to include the keyfile in my repository the project deploys from, ideally the keyfile would not need to be in the repository

[2022-08-25 22:33] pdebelak commented on #25968
Yes, this is related to the new `lru_cache` in 2.3.4, I didn't realize this would break in this way. There isn't an easy workaround. We might need to revert that change in this case and add a test to make sure we don't break it in the same way again.

[2022-08-25 22:58] pdebelak commented on #25968
I see a fix for this that I will PR, but I don't see a workaround for version 2.3.4 if you have a `AIRFLOW__SECRETS__BACKEND_KWARGS` containing a nested dictionary.

[2022-08-25 23:05] potiuk commented on #25968
yeah. There is no easy workaround I could see for that one. I will raise it to the release mgmt team (we have one more bug that might make us do 2.3.5 before we reelase 2.4.0. In the meantime @pdebelak - looking forward to a fix :D

[2022-08-25 23:13] gustavom2998 commented on #25781
Found an issue/bug while using the code from the last merge. In [line 443](https://github.com/apache/airflow/blob/main/airflow/providers/google/cloud/operators/bigquery.py#L443) we need to add the following row to the get_schema operation, otherwise the check goes to the wrong project - so the operator won't work. I managed to get it working locally by making the following change:

[code]

[2022-08-26 00:03] ephraimbuddy commented on #25200
Poked around this issue again and the code below resolved it:
[code]
I ran the above dag several times with the change and it all succeeded(174 dagruns), however, I'm thinking it might not work on a faster machine. Maybe someone should try it. I think the better solution would be to move the mapped task expansion of last resort into the local task job

[2022-08-26 07:53] csp98 opened #25976 "Include "Scheduled slots" column in Pools view"
### Description

It would be nice to have a "Scheduled slots" column to see how many slots want to enter each pool. Currently we are only displaying the running and queued slots.

### Use case/motivation

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of

[2022-08-26 09:24] #25968 closed

[2022-08-26 10:16] caupetit-itf commented on #22238
Hello ! I would be very interested by this feature to open the UI to some stakeholders, is this still an ongoing thing ?

[2022-08-26 11:39] ykecheng commented on #19771
@ralleman-quasarsat
Hello, I have same issue as you, could you please let me know how you resolved it?

[2022-08-26 12:16] deepchand opened #25981 "Increased scheduling loop time which is causing missing heartbeat of scheduler"
### Apache Airflow version

Other Airflow 2 version

### What happened

Significant increase in scheduling loop time when we are crossing following parameters
[code]
We are running around 60 DAG Run of a single dag which have 10 tasks, once we configure `max_active_runs_per_dag ` to around more then 60, scheduling loop time increased upto 300 sec which is causing below warning
`The scheduler does

[2022-08-26 13:40] collinmcnulty commented on #25200
I'm running on Postgres, not MySQL.

[2022-08-26 13:49] fatmumuhomer commented on #22238
It's something I'm figuring out how to implement. I still think it's a good change to make as it regularly causes confusion for users at my company.

[2022-08-26 16:26] alekscp opened #25990 "DataprocCreateBatchOperator batch parameter does not interpret jinja templates"
### Apache Airflow Provider(s)

google

### Versions of Apache Airflow Providers

apache-airflow-providers-google==8.2.0

### Apache Airflow version

2.2.3

### Operating System

MacOS

### Deployment

Composer

### Deployment details

_No response_

### What happened

Using `airflow.providers.google.cloud.operators.dataproc.DataprocCreateBatchOperator` and passing jinja templates to its `batch` p

[2022-08-26 16:55] potiuk commented on #25981
As discussed in https://github.com/apache/airflow/discussions/25991 - this is is caused by super-slow database which needs to be investigated by the user.

[2022-08-26 16:55] #25981 closed

[2022-08-26 17:48] zachliu commented on #23512
@cloventt the silver-lining is k8s auto-restarts the failed pod right? :grin:

![2022-08-26_13-47](https://user-images.githubusercontent.com/14293802/186962718-b9aeed3e-f0f6-46e9-b10d-d3e6e85009bd.png)

[2022-08-26 17:58] patgarz commented on #25964
As an update -- the above was tested with py38 and Airflow 2.2.5. I've now tested with py39 and 2.3.4 and am seeing the same behavior.

As an aside, the reason I'm calling this a bug and not a feature request is that the passed object (which we test by doing a log of `type(context['exception'])` --> `<class 'NameError'>`) is correct, but we don't see the expected data passed with it. I'm pretty st

[2022-08-26 18:06] MatrixManAtYrService commented on #25891
related: https://github.com/apache/airflow/pull/25959

[2022-08-26 18:15] umangs94 opened #25992 "Add an option to bring back multiline view for values in Airflow UI > Variable List"
### Description

The Variable List in the Airflow UI used to show the variable values in a multiline format. This made it easy to see the values without having to click into the specific Variable. So it would be great if an option could be added to bring back the old multiline view (<=2.2.3).

### Use case/motivation

We use multiple Airflow variables to maintain lists of table names (used in diff

[2022-08-26 18:40] potiuk commented on #25964
This is as expected. Context type definition (airlfow/utils/context.pyi) is rather explicit that exception passed in context is possibly Exception, string, or KeyboardInterrupt depending on the (ehm) context.

[code]

[2022-08-26 18:40] #25964 closed

[2022-08-26 19:05] mufaddal-rohawala opened #25993 "airflow import causes configparser.ParsingError intermittently"
### Apache Airflow version

2.3.4

### What happened

When importing `airflow` we recieve configparser.ParsingError errors intermittently. This is an intermittent behaviour and passes on retries. Not sure whats the issue here, can someone help?

Dependency:
[apache-airflow=](https://airflow.apache.org/)=2.3.4
Code:
https://github.com/aws/sagemaker-python-sdk/blob/master/tests/integ/test_airflow_co

[2022-08-26 19:29] ashb commented on #25200
As a work around for now @collinmcnulty @ldacey : It appears that the problem only manifests itself when a mapped task is a "leaf" node in the DAG (one without any downstream tasks)-- stick a Empty task on the end `[added_values, added_more_values] >> EmptyOperator(task_id="end")` and the deadlock goes away.

[2022-08-26 19:34] ashb commented on #25200
And in a reverse of how it usually plays out, if you want to hit the deadlock _every_ time, disable the mini scheduler. 😁

[2022-08-26 19:43] cloventt commented on #23512
I was able to “resolve” this issue by setting my webserver pods to have only 1 gunicorn worker, and then increasing the number of pods to get back to the expected number of workers. However this results in a considerable increase in how much memory my webserver pods have reserved on the cluster, so it would be nice if this issue could be resolved properly.

[2022-08-26 20:12] zachliu commented on #23512
both of my webserver pods in the screenshot have 4 gunicorn works, they all work fine - after the 1 restart of course

[2022-08-26 20:29] kumbarsg opened #25996 "Gluejob creation using gluejoboperator"
### Apache Airflow Provider(s)

amazon

### Versions of Apache Airflow Providers

I tried with all the versions of airflow providers

### Apache Airflow version

2.2.2

### Operating System

on AWS

### Deployment

MWAA

### Deployment details

_No response_

### What happened

I am using Airflow Amazon provider packages on my MWAA with airflow version 2.2.2 and Aws providers version 3.2.0(also tr

[2022-08-26 20:38] potiuk commented on #25744
@uranusjr @ashb  - any of that rings a bell ? I think there were some recent fixes to those and maybe this one is already fixed in main?

[2022-08-26 20:42] potiuk commented on #25372
Sorry for delay - but it Looks like vast majority of time is exec ssh command - You seem to have an SSH hook that likely simply gets a lot of output to process and it it does so.

[2022-08-26 20:46] potiuk commented on #25750
I think this is some of the cleanup which is run by you. Airflow never deletes Xcom on its own. Likely you are using DAG cleanups from a 3rd-party. I recommend to switch to latest Airflow version and rather than relying on 3rd-party cleanups use periodically run `airflow db clean` CLI that was added in 2.3.3.

[2022-08-26 20:46] #25750 closed

[2022-08-26 21:12] potiuk commented on #25765
Please search for and provide extract of a detailed log of what happens at the server at the time when deadlock happens. You should be able to find it in your Mysql log - unfortunately, client deadlock does not give enough information on what deadlocks with what. The log will show the detailed query and what query held deadlock with.

[2022-08-26 21:14] potiuk commented on #9713
Can you see what airflow is querying for ?

[2022-08-26 21:22] potiuk commented on #21078
We need detailed log from the mysql server from around that time deadlock happens. without  it it is next to impossible to find the root cause - the server log will contain detailed information what deadlocs with what.

[2022-08-26 21:51] potiuk commented on #23246
I think it's best to add draft PR with proposal and discuss it there.

[2022-08-26 22:03] #25395 closed

[2022-08-26 22:22] potiuk commented on #25836
Feel free to add it @jessmchung

[2022-08-26 22:22] potiuk commented on #25836
Assigned you.

[2022-08-26 22:25] #25635 closed

[2022-08-26 22:55] zachliu commented on #25963
aha, i also commented [here](https://github.com/apache/airflow/pull/25413/files#r956473322)
let's just add 2 pops?

[2022-08-26 23:32] potiuk commented on #22356
FYI. We cannot remove anything in 2.*. We follow SemVer strictly: https://github.com/apache/airflow/blob/main/README.md#semantic-versioning - this has been voted and agreed to by the community.

[2022-08-27 00:13] #25909 closed

[2022-08-27 00:15] potiuk commented on #21225
@patricker - can you please update to 2.3.4 and see it solves your problem? You will have to do it sooner or later (and it has dozens of fixes) and might be fastest way for you (and us) to fix your problem.

[2022-08-27 00:24] potiuk commented on #25926
Actually it is descrbed a little in https://airflow.apache.org/docs/apache-airflow/stable/tutorial_taskflow_api.html#using-the-taskflow-api-with-docker-or-virtual-environments - I think we need to move it to docker provider and add decorators to https://airflow.apache.org/docs/apache-airflow-providers/core-extensions/index.html (and make this page - and related more compact).

[2022-08-27 00:24] potiuk commented on #25926
But I am happy to take a stab on it.

[2022-08-27 00:37] #15318 closed

[2022-08-27 01:00] wolfier opened #26000 "`start_date` for an existing dagrun is not set when ran with backfill flags ` --reset-dagruns --yes`"
### Apache Airflow version

2.3.4

### What happened

When the dagrun already exists and is backfilled with the flags `--reset-dagruns --yes`, the dag run will not have a start date. This is because reset_dagruns calls [clear_task_instances](https://github.com/apache/airflow/blob/main/airflow/models/dag.py#L2020) which [sets the dagrun start date to None](https://github.com/apache/airflow/blob/mai

[2022-08-27 01:11] potiuk commented on #26000
Feel free to fix :)

[2022-08-27 01:15] #25937 closed

[2022-08-27 01:58] potiuk commented on #25976
Feel free :)

[2022-08-27 02:15] #25963 closed

[2022-08-27 02:27] josh-fell commented on #19883
Thinking more about this. The update in #21162 really addresses this. If users do feel they need to mask other connection attributes when using debug logging for this particular type of authentication (which by no means is vastly popular), they can still mask those with existing Airflow configs.

[2022-08-27 02:27] #19883 closed

[2022-08-27 02:49] ldacey commented on #25200
Thanks - I will try that out!

[2022-08-27 03:06] buffaloDeveloper commented on #21225
Seeing the same issue using bitnami's airflow image: docker.io/bitnami/airflow-scheduler:2-debian-11, which I believe is mapped to 2.3.4.  I had to downgrade to 2.3.3-debian-11-r1 and it's working fine again.

[2022-08-27 04:14] hankehly commented on #25952
Great, thanks for the feedback. I'll submit some PRs.

[2022-08-27 06:29] eladkal commented on #20965
@alexandermalyga since you work with Trino maybe you can assist on this issue?

[2022-08-27 06:31] eladkal commented on #16979
Should be covered fully by https://github.com/apache/airflow/pull/23971

[2022-08-27 06:31] #16979 closed

[2022-08-27 13:18] Smirn08 opened #26008 "Cannot convert a non-kubernetes.client.models.V1Pod object into a KubernetesExecutorConfig"
### Apache Airflow version

2.3.4

### What happened

I have tasks in K8s with KubernetesExecutor for which I need to use a unique pod label. In version 2.3.4, I started catching an error `Cannot convert a non-kubernetes.client.models.V1Pod object into a KubernetesExecutorConfig` when executing a task but pods are created successfully.

### What you think should happen instead

I think this is the

[2022-08-27 15:52] alexandermalyga commented on #20965
I haven't been able to reproduce the issue (or I'm not understanding it correctly).
When running Trino without authentication, it's enough to just provide some username without a password.
When running with authentication, `TrinoHook` picks up the provided connection (or the default `trino_default`) just fine.

Tried both options using Airflow 2.3.4 and `apache-airflow-providers-trino==4.0.0` with

[2022-08-27 16:17] eladkal commented on #20965
Thabk you for checking. Converting thins issue to discussion as it seems to be something local

[2022-08-27 16:35] jyotsa09 opened #26013 "schedule_interval is not respecting the value assigned to that either it's one day or none"
### Apache Airflow version

main (development)

### What happened

Schedule_interval is `none` even if `timedelta(days=365, hours=6)` also its 1 day for `schedule_interval=None` and `schedule_interval=timedelta(days=3)`

### What you think should happen instead

It should respect the value assigned to it.

### How to reproduce

Create a dag with `schedule_interval=None` or `schedule_interval=timed

[2022-08-27 16:38] jyotsa09 commented on #26013
FYI.. @ephraimbuddy

[2022-08-27 17:42] Jakeway commented on #25765
@potiuk Hello, here's the latest detected deadlock info:

[code]

[2022-08-27 19:22] V0lantis commented on #21225
Hello there 👋

We experienced the same issue in our deployment cluster, and after a lot of searching, I think I have found why it is happening as some reproductible steps to provoke it. I am very willing to submit a PR if I may.

First off, we experienced this issue very rarely on our deployment cluster.
Our deployment cluster is right now on **AWS EKS**, Airflow version **2.3.3**, with **redis**

[2022-08-27 21:53] JeremyDOwens opened #26016 "Apply templates to Dynamic task arguments passed as expand"
### Description

Consider the following pseudocode:

[code]

This will result in generating two BashOperator tasks that execute echo statements, but the templates won't be rendered, despite `bash_command` being a template field.

The expected result is that the template would be applied to templated keyword arguments even when applied via `expand()`

### Use case/motivation

While the above exampl

[2022-08-27 21:57] JeremyDOwens commented on #26016
One potential workaround in the meantime would be to apply templating to the result of the initial task and then expand on the `map` task, but I think it would be better to have this happen as part of the call.

[2022-08-27 22:16] devJackie opened #26017 "Problem of "Marking task as UP_FOR_RETRY" after "Marking task as SUCCESS" when executing task on k8s"
### Apache Airflow version

Other Airflow 2 version

### What happened

I'm using KubernetesExecutor on K8s and the airflow chart version is 2.1.4.

When executing the task, it becomes "Marking task as UP_FOR_RETRY" after "Marking task as SUCCESS".
So, "0 downstream tasks scheduled from follow-on schedule check" log is taken, and there is 1 upstream non-success in the next task log as below, so "T

[2022-08-28 03:13] uranusjr commented on #26016
This is actually intentionally done to match the current behaviour without task-mapping. For example:

[code]

The task `echo_task` will echo `The date is {{ ds }}"` without template resolution.

You could argue that the current behaviour (regardless of task mapping) is unexpected, but it is an established behaviour (taskflow has existed for a while now), and the change needs to be made for all ca

[2022-08-28 03:59] uranusjr commented on #26013
I think #25999 fixes this

[2022-08-28 04:02] uranusjr commented on #22238
Now that we move the ordering logic to the timetable (#25633 and #25880), we should display this information based on that.

[2022-08-28 08:35] eladkal commented on #15543
Closing as Smart Sensor is removed in 2.4.0
https://github.com/apache/airflow/pull/25507

[2022-08-28 08:35] #15543 closed

[2022-08-28 08:37] eladkal commented on #25765
Is this reproducible without Smart Sensors?
Smart Sensor is removed in 2.4.0 which will be released in few weeks +-

[2022-08-28 09:22] #25739 closed

[2022-08-28 09:23] potiuk opened #26019 "Rewrite the in-container scripts in Python"
We have a number of "in_container" scripts written in Bash, They are doing a number of houseekeeping stuff but since we already have Python 3.7+ inside the CI image, we could modularise them more and make them run from external and simplify entrypoint_ci (for example separate script for tests).

[2022-08-28 09:26] potiuk opened #26020 "Finish rewriting all pre-commit scripts in Python"
We have a couple of pre-commit scripts still written in Bash, but we should rewrite them in Python.

[2022-08-28 12:22] fatmumuhomer commented on #22238
@uranusjr Will that also work for DAGs that are scheduled using other methods such as cron expressions?

[2022-08-28 13:33] JeremyDOwens commented on #26016
Thanks, I hadn't realized that it was the case for all strings passed as XComArg. I would argue that this is unexpected behaviour and should up updated. I'm happy to start working on it if others agree.

[2022-08-28 14:43] cedkoffeto commented on #23246
Sure, Thank you for your feedback

[2022-08-28 18:51] szymonorz opened #26024 "Triggerer service doesn't reload custom triggers after changes to their code."
### Apache Airflow version

main (development)

### What happened

After updating a custom trigger the triggerer service is still using the cached version and requires a restart to load the updated trigger.

### What you think should happen instead

There should be some sort of mechanism that determines whether the trigger has changed and then update the `trigger_cache`.

### How to reproduce

1.

[2022-08-29 01:00] takersk commented on #24309
@potiuk
I checked that the time is synchronized on all machines.

Are there any bug fixes after v2.3.1?

@jjournet
Is the issue fixed after ntp sync?

[2022-08-29 01:13] jjournet commented on #24309
@takersk
so after configuring NTP, the issue was gone. It came back a few days later and I realized the servers I added to my cluster were not configured for NTP. So it confirms that the issue for me was related to time synchro.

[2022-08-29 04:54] takersk commented on #24309
@jjournet
thank you answer!!
I am using kubernetespodoperator, is ntp applied to both cluster and container image?

[2022-08-29 05:00] takersk commented on #24309
@potiuk
In addition, v2.1.4 does not occur. only v2.2~

[2022-08-29 06:03] Smirn08 commented on #26008
Hello @dstandish ! Could you pay attention, if it possible, thank you

[2022-08-29 06:12] phanikumv commented on #21600
This issue is addressed in https://github.com/apache/airflow/pull/25984

[2022-08-29 06:20] #21600 closed

[2022-08-29 06:31] #25976 closed

[2022-08-29 07:03] ashb commented on #26016
Nothing about xcom had ever been templated. In your example you can do this:

[code]

[2022-08-29 07:25] eladkal commented on #20780
Due to the time passed and the fact that no one else expressed interest I suggest to first roll your own provider as a 3rd party https://airflow.apache.org/ecosystem/#third-party-airflow-plugins-and-providers

[2022-08-29 07:27] eladkal commented on #8589
Due to time passed and the fact that no one expressed interest in this provider I'm closing this request.
Providers can be added as 3rd party (it doesn't have to be in Airflow repo) https://airflow.apache.org/ecosystem/#third-party-airflow-plugins-and-providers
If anyone thinks there is a reason to add this provider to Airflow and is willing to maintain it please open a thread on the mailing list

[2022-08-29 07:27] #8589 closed

[2022-08-29 07:44] #20780 closed

[2022-08-29 08:51] #25671 closed

[2022-08-29 11:36] ephraimbuddy commented on #26017
I think you meant you are on Airflow 2.1.4, not chart version 2.1.4. If so please can you test with the latest airflow version(2.3.4)

[2022-08-29 12:08] christophedcpm commented on #21225
I'm using airflow 2.2.5 in cloud-composer 2.0.24 on GCP and I have noticed the same kind of error. My investigation also lead me to think that the issue happens when the autoscaler stop worker pods.

[2022-08-29 12:49] JeremyDOwens commented on #26016
Yes. My intent was to pass in the filenames with a template extension and then process the file contents using that method. I was thinking more on this, and there's a way to do something additive instead of manipulative.  I could potentially write a decorator similar to the `@task` decorator, but to extend it in a way that it renders results.

Concept

[code]

A different option would be to just w

[2022-08-29 13:46] jjournet commented on #24309
ntp is only applied to hosts, I don't have any ntp configuration in the containers.
It actually doesn't make sense: you are running on containers, which means the kernel is shared, hence the time is shared too

[2022-08-29 14:02] anthonyp97 commented on #25765
@eladkal we tried turning off smart sensors and the deadlocks actually occurred much more frequently. The traceback for the deadlock error was exactly the same as when we had smart sensors enabled as well.

[2022-08-29 14:22] uranusjr commented on #26016
In 2.4.0 we’ll roll out some helper methods to transform XCom values, specifically there’s `map()` that can be used to iterate through the list of values. So if we provide a helper function to render a template file, you could write something like

[code]

Would this make sense?

[2022-08-29 14:23] potiuk commented on #24309
Clearly our time is not synchronized if you continue getting those.

I believe tou shoudl not configure chrony in your images. This does not matter. You should synchronise time in the HOSTS of your k8s cluster, but I also believe it might be different in different clusters so you need to consult your K8S documentation and possibly you shoudl search google and check various guildelines about it and

[2022-08-29 14:23] potiuk commented on #24309
converting into discussion

[2022-08-29 15:20] JeremyDOwens commented on #26016
Yeah, I love that. It really fits with the concept of expanding a functional interface. Happy to contribute

[2022-08-29 16:17] arkadiusz-bach commented on #21225
@V0lantis task might stuck in the queued state at least due to:
- Redis crashed after receiving the task and it had no time / was not configured to save its state to disk, so the task was lost, but scheduler thinks that task is waiting to be picked up workers
- terminationGracePeriodSeconds  on your worker PODs is too low or it is not there at all.(default is 60 seconds)

This message `worker: War

[2022-08-29 17:03] MatrixManAtYrService opened #26042 "Connection test just shows red rectangle"
### Apache Airflow version

main (development)

### What happened

I was walking through this tutorial: https://astro-sdk-python.readthedocs.io/en/stable/getting-started/GETTING_STARTED.html which had me create an aws connection.  After doing so, I clicked the "test" button, and saw this:

<img width="403" alt="Screen Shot 2022-08-29 at 10 54 35 AM" src="https://user-images.githubusercontent.com/5

[2022-08-29 18:41] wolfier opened #26044 "Backfill dagrun mistakenly evaluated as deadlocked"
### Apache Airflow version

Other Airflow 2 version

### What happened

I used a bash operator to run a backfill command. The dagrun was marked as failed and was alerted for a deadlock even though the task instances themselves were still ran normally. This happens occasionally.

[code]

Here is full backfill log.

[code]

### What you think should happen instead

The DAG is not deadlocked but stil

[2022-08-29 18:46] wolfier commented on #25353
@potiuk Is there an issue for the deadlock issue?

I made an issue (#26044) in regards to a similar/same behaviour.

[2022-08-29 19:43] tseruga opened #26045 "[Helm Chart] Decouple custom_airflow_environment from all pods and jobs"
### Description

Proposal:

Allow jobs deployed by the helm chart to be created without assuming that they will use the same environments as the pods they are deployed alongside.

Ways to accomplish this:

- Add new boolean values for the jobs, allowing the user to opt-out of using the environment provided by the `custom_airflow_environment` helper, and instead provide their own environment defini

[2022-08-29 19:53] V0lantis commented on #21225
Hey @arkadiusz-bach,

I am sorry, that's true that I haven't posted any logs, maybe I haven't been clear as well...

We use ElasticCache service. The service is configured to store data on disk and is too sized for the actual amount of tasks it received and as stated above, celery actually acknowledged that task was successfully sent to queue. But why not? I haven't checked the log in redis, but I

[2022-08-29 19:58] denimalpaca opened #26046 "`isinstance()` check in `_hook()` breaking provider hook usage"
### Apache Airflow Provider(s)

common-sql

### Versions of Apache Airflow Providers

Using `apache-airflow-providers-common-sql==1.1.0`

### Apache Airflow version

2.3.2

### Operating System

Debian GNU/Linux 11 bullseye

### Deployment

Astronomer

### Deployment details

astro-runtime:5.0.5

### What happened

The `isinstance()` method to check that the hook is a `DbApiHook` is breaking when

[2022-08-29 20:53] MatrixManAtYrService commented on #26042
I've been having signal 11-related problems lately (ever since I stated messing around with providers).  Probably the core of this has something to do with a provider and is not a core airflow bug.  Still I think we should be a little more verbose when it comes to communicating this error.

[2022-08-29 21:18] potiuk commented on #26042
Surely. Signal 11 is SIGSEGV which generally means that there is a serious error with your installed libraries. I.e. we have completely no idea what is the error because likely your deployment is messed up (for example you have broken libraries installed. It's generally rather bad error indicating that you have done something, airflow maintainers could not foresee and generally it crashes python i

[2022-08-29 21:24] chrishronek opened #26049 "After setting task instance state - redirected to Airflow Home instead of DAG view"
### Apache Airflow version

2.3.4

### What happened

From the Graph view, and when setting a state for a TaskInstance manually (i.e. clear, mark failed, mark success, etc.), redirect takes user back to the home page of Airflow instead of to the DAG that they were working in. It'd be helpful to change that redirect back to the DAG where the TaskInstance was manually updated.

### What you think sh

[2022-08-29 21:41] potiuk commented on #26046
What is the combination of snowflake-provider and common-sql provider you have?

[2022-08-29 21:42] potiuk commented on #26046
BTW. isinstance is the right check - it checks for the hierarchy. The problem is different I think but I need to know the versions you have

[2022-08-29 21:53] potiuk commented on #26046
I believe this error **could** occur if you had snowflake provider `3.1.0` or below AND common-sql provider installed. I think we cannot really do much about this if this is the case. the provider prior 3.2.0 did not  depend on common-sql and we are not able to "force" upgrading snowflake provider.

My hypotheis is that you are really trying to use "common-sql" "SQLColumnCheck" operator with "pre-

[2022-08-29 22:16] potiuk commented on #26046
Likely fix (well - it's not a "fix" it just provides a clearer error message in this case if you confirm my hypothesis @denimalpaca ) in #26051

[2022-08-29 22:43] potiuk commented on #26046
FYI: I reproduced it with `snowflake-provider` == 3.0.0, upgrading to 3.1.0 fixed the problem. After applying the #26051 the error message will be similar to:

[code]

[2022-08-29 23:34] csm10495 commented on #21078
Attaching (big) logs for a similar failure:
[airflow_sql_log_8_29_2022.log.gz](https://github.com/apache/airflow/files/9448451/airflow_sql_log_8_29_2022.log.gz)

[airflow.out_8_29_2022.txt](https://github.com/apache/airflow/files/9448452/airflow.out_8_29_2022.txt)

This is both the airflow output and the mysql server's general log (with queries).

No logs in webui:
![image](https://user-images.git

[2022-08-30 01:37] johnny0120 commented on #16163
Having the same problem with Airflow 2.2.5 + celery + redis.

The default visibility_timeout is actually 21600, 6 hours (not None from the airflow.cfg) , which means if the worker cannot pick up the task successfully, the task_instance will be stuck in the queued state for 6 hours and not visible to other workers. I remember when clearing tasks in this situation won't help either, may need to mark

[2022-08-30 06:22] luebbert42 commented on #23512
I had the problem with 2.3.4 as well (coming from 2.3.3, 2.3.4rc1). I got rid of it by reducing the workers variable to 1, starting the webserver and then going back to 4 workers. Environment: AWS ECS, Postgresql.

[2022-08-30 06:39] uranusjr commented on #26016
The most difficult part is actually to find a good place to host the functions.

[2022-08-30 07:19] tirkarthi commented on #26049
https://github.com/apache/airflow/issues/25794 seems like a related issue. I cannot reproduce this on a local instance of airflow. There is logic to retrieve redirect url from origin with several validations that return to index url.

https://github.com/apache/airflow/blob/6a615ee47755e851854970d7042ee00d0040c8dc/airflow/www/views.py#L2635

https://github.com/apache/airflow/blob/6a615ee47755e85185

[2022-08-30 10:12] milczar opened #26059 "[Graph view] After clearing the task (and its downstream tasks) in a task group the task group becomes disconnected from the dag"
### Apache Airflow version

2.3.4

### What happened

n the graph view of the dag, after clearing the task (and its downstream tasks) in a task group and refreshing the page the browser the task group becomes disconnected from the dag. See attached gif.
![airflow_2_3_4_task_group_bug](https://user-images.githubusercontent.com/6542519/187409008-767e13e6-ab91-4875-9f3e-bd261b346d0f.gif)
The issue is

[2022-08-30 10:15] milczar commented on #26059
The issue is  more of area:ui but I could not add that label.

[2022-08-30 10:32] potiuk commented on #26016
Following the "common.sql" approach, we could create a "common.taskflow" provider. This would have the benefit of being able to evolve independently of Airlfow (but it also have a number of quirks when it comes to compatibility between packages - I treated `common.sql` as a playground and the last issue (I hope) of cross-compatibility that we solved is in https://github.com/apache/airflow/pull/260

[2022-08-30 10:37] potiuk commented on #26016
And we will have to maintain strict backwards compatibility for that common code for as long as possible.

It will be extremely difficult to make a breaking change there, if there will be multiple providers depending on it (we discussed all those scenarios while implementing common.sql - it's a very similiar case). The main problem is that introducing backwards incompatible code in a common code h

[2022-08-30 13:11] zachliu commented on #23512
@luebbert42 don't you have to restart the webserver after you update the config to use 4 gunicorn workers? :thinking:

[2022-08-30 13:27] collinmcnulty opened #26067 "Include external_executor_id in zombie detection method"
### Description

Adjust the SimpleTaskInstance to include the external_executor_id so that it shows up when the zombie detection method prints the SimpleTaskInstance to logs.

### Use case/motivation

Since the zombie detection message originates in the dag file processor, further troubleshooting of the zombie task requires figuring out which worker was actually responsible for the task. Printing

[2022-08-30 13:29] collinmcnulty commented on #26067
I don't know if there are any secondary consequences to change SimpleTaskInstance, so I want to check with the community before I just add a new parameter.

[2022-08-30 13:50] JeremyDOwens commented on #26016
I think there's a further design decision to be made when we think about how helper functions may need to be extensible or themselves be function generators that accept arguments. For example,in the specific use case here, being able to manipulate the jinja environment via kwargs is important.

The example above might need to be called like this:
[code]
where `render_as_template` returns a functio

[2022-08-30 13:54] denimalpaca commented on #26046
Ah, gotcha. I was under the impression that `isinstance()` only checked one level in the hierarchy. Upgrading to a higher Snowflake version now, I was using `>=2.5.0` which I guess was not upgrading to the latest version! Thanks for clarifying here 💯

[2022-08-30 14:19] ephraimbuddy commented on #26044
@wolfier , can you share the dag you used to reproduce yours?

[2022-08-30 14:45] Jorricks opened #26068 "Missing Queue values breaks API"
### Apache Airflow version

2.3.4

### What happened

Some tasks do not have a `queue` value defined and equal `None`.
When you load the GRID view for these DAGs you get a 502 error with the following error appearing in the logs:
[code]

For most people this is not an immediate issue but for people using [passive health checks inside NGINX](https://docs.nginx.com/nginx/admin-guide/load-balancer/ht

[2022-08-30 14:52] Gollum999 opened #26069 "Failed to fetch log file from worker. 404 Client Error: NOT FOUND"
### Apache Airflow version

Other Airflow 2 version

### What happened

If a task gets scheduled on a different worker host from a previous run, logs from that previous run will be unavailable from the webserver.

![Screenshot from 2022-08-30 09-22-39](https://user-images.githubusercontent.com/7269927/187462675-010a2b6f-e2e5-4784-9b19-315f3b22ecf5.png)

From my observation, it's pretty clear that

[2022-08-30 15:03] potiuk commented on #26046
Now, the error shoudl be crystal clear in 1.2.0 when we relese. It shoudl even tell you which version of which provider you should upgrade to :D

[2022-08-30 15:04] potiuk commented on #26046
And the generic message is also clearer in my PR. It adds fully-quallified name to the expected class and prints the whole MRO hierarchy of the class, so it will be much easier to diagnose someone's problem in the future.

[2022-08-30 15:08] denimalpaca commented on #26046
That's awesome

[2022-08-30 15:13] Jorricks commented on #26068
From what I can see, this is only present for TaskInstance created by older Airflow versions as long as you don't use the `ti_mutation_hook`.
[code]

The `TI.insert_mapping` will set the `queue` for you. The other one however, will not set the `queue` for you, so I can imagine if you just spawned a couple TaskInstances, you will get the same error.

[2022-08-30 15:15] potiuk commented on #26069
@Gollum999 Easy workaround to that is to have a shared volume for logs between workers (similarly as you have for DAGs.

But I believed it has been solved already but maybe not ?

[2022-08-30 15:33] Jorricks commented on #26068
I think it might fail on more than just this field.
It seems when new TaskInstances are spawned, there are a lot of fields that don't adhere to this schema:
![image](https://user-images.githubusercontent.com/20257392/187478922-5f426a75-94c0-4ba2-9ff1-d41175b2bb7a.png)

[2022-08-30 16:16] luebbert42 commented on #23512
@zachliu yes, you are right, I forget to mention that.

Unfortunately we are seeing the error again in the logs.

It seems that something is still trying to remove and add some permissions permanently which does not work when more than one worker is active.

[2022-08-30 16:30] cra opened #26071 "BranchDayOfWeekOperator documentation don't mention how to use parameter use_taks_execution_day or how to use WeekDay"
### What do you see as an issue?

The constructor snippet shows clearly that there's a keyword parameter `use_task_exection_day=False`, but the doc does not explain how to use it. It also has `{WeekDay.TUESDAY}, {WeekDay.SATURDAY, WeekDay.SUNDAY}` as options for `week_day` but does not clarify how to import WeekDay. The tutorial is also very basic and only shows one usecase. The sensor has the sam

[2022-08-30 17:05] #26046 closed

[2022-08-30 17:07] ephraimbuddy commented on #25744
It looks like this was fixed by https://github.com/apache/airflow/pull/25788

@Gollum999 can you try to reproduce with main?

[2022-08-30 17:11] ephraimbuddy commented on #26013
Looks like the issue is still there

[2022-08-30 20:22] Gollum999 opened #26078 "max_active_tis_per_dag blocks tasks too aggressively when backfilling"
### Apache Airflow version

Other Airflow 2 version

### What happened

If any task in a DAG uses `max_active_tis_per_dag`, and if that concurrency limit is reached during a `backfill`, _all_ other tasks in the DAG will be unnecessarily blocked waiting for those tasks to complete before proceeding.

### What you think should happen instead

Backfill should behave the same as a "normal" DAG Run w.r

[2022-08-31 07:19] ArshiAAkhavan commented on #19007
running to the same issue here,

container spec:
[code]
generated logs:
[code]
airflow image: `apache/airflow:2.3.4-python3.10`

im also using commiunity helm chart for deploying airflow
https://airflow-helm.github.io/charts version `8.6.1`

[2022-08-31 09:09] #26013 closed

[2022-08-31 09:23] ephraimbuddy commented on #26000
I would prefer setting the start_date after the `run.conf` here: https://github.com/apache/airflow/blob/c982080ca1c824dd26c452bcb420df0f3da1afa8/airflow/jobs/backfill_job.py#L301 Let me know if you are working on this

[2022-08-31 10:27] sbrandtb commented on #25446
As I said: No offense. Just not a good job sticking to the process :slightly_smiling_face: I unassigned myself again because I am not part of the solution anymore. Waiting for this to be released, thanks

[2022-08-31 11:51] Shubham3009 opened #26085 "Unable to remove default value from auth_backends"
### Apache Airflow version

Other Airflow 2 version

### What happened

Hi ,
I am using Airflow 2.3.2 and getting below Warning while calling Airflow APIs ,

airflow jobs check
/opt/bitnami/airflow/venv/lib/python3.8/site-packages/airflow/configuration.py:356: FutureWarning: The auth_backends setting in [api] has had airflow.api.auth.backend.session added in the running config, which is needed by

[2022-08-31 11:52] eladkal commented on #26069
Duplicate of https://github.com/apache/airflow/issues/26069

[2022-08-31 11:52] #26069 closed

[2022-08-31 11:52] eladkal commented on #16472
Can you please check if this issue still happens on latest Airflow version?

[2022-08-31 11:54] potiuk commented on #26085
This is a bitnami chart. Not ours. In official community chart the values can get overwritten as you expected.  I recommend you to switch to the official chart of the Airflow Community: https://airflow.apache.org/docs/helm-chart/stable/index.html or raise your issue to bitnami.

[2022-08-31 11:54] #26085 closed

[2022-08-31 14:44] achuriraghavendra commented on #21118
I have deleted from DAGs folder and it is not showing in DAGs folder. Even it is showing successful when i deleted the dag from UI. But after some time it is appearing again. Not quite sure whether I am doing anything wrong.

[2022-08-31 15:42] alifouzizadeh commented on #25667
Hi  @fernhtls, we can change the liveness bash to this `airflow jobs check --job-type SchedulerJob --hostname $(hostname -i)`, in this case, we will have the hostname for HA.

[2022-08-31 16:17] spatocode commented on #25992
I believe this was removed for better UX. I don't think adding multi-line is good for UX if the value becomes too long. @potiuk What do you think?

![2022-08-31_17-10](https://user-images.githubusercontent.com/37238008/187727998-8a20d423-f36a-4885-babb-38edbf7b4e4a.png)

[2022-08-31 16:41] umangs94 commented on #25992
I understand the reasoning but it would be great if an option could be added to have the old UI back.

[2022-08-31 17:18] frankcash commented on #25200
I can confirm the emptyoperator works in between the dynamic tasks, but not at the end of them

[2022-08-31 18:40] Jakeway commented on #25765
I'm not 100% certain, but perhaps this is coming from this PR? https://github.com/apache/airflow/pull/22004/files Looks like the deadlock is happening with the query that's trying to delete old rendered TI fields for mysql (specifically, the `_remove_old_rendered_ti_fields_mysql` method here: https://github.com/apache/airflow/pull/22004/files#diff-85cabe5faa5d3048719e11872b916751e1d0e39b535014be94

[2022-08-31 19:51] #21201 closed

[2022-08-31 20:41] augusto-herrmann commented on #19264
By the way, since [`execution_date` has been renamed to `logical_date`](https://airflow.apache.org/docs/apache-airflow/stable/faq.html#faq-what-does-execution-date-mean), but `TriggerDagRunOperator` [still uses this nomenclature](https://airflow.apache.org/docs/apache-airflow/stable/_api/airflow/operators/trigger_dagrun/index.html#airflow.operators.trigger_dagrun.TriggerDagRunOperator), shouldn't

[2022-08-31 20:43] potiuk commented on #25992
We could add tooltip showing full variable. While it is not the same, I think it has the nice property of having more consistent UI in "table view" (It is disturbing to get table values with changing row height), it does not need extra click - enought to "focus" (with mouse) on the variable in question.  Bonus if we could make copy&paste work for full value as wel - even if we only show a truncate

[2022-08-31 20:49] umangs94 commented on #25992
Unfortunately, a tool tip wouldn't help with being able to find text on the page across all variables. It would be great if we could see the variable value's full text like how @spatocode's screenshot shows it.

If an option for the old UI is not possible, then can you point me in the right direction so that I can modify my local installation?

[2022-08-31 21:26] potiuk commented on #26024
cc: @andrewgodwin

[2022-08-31 21:32] potiuk commented on #26024
Following discussion in https://apache-airflow.slack.com/archives/CCQ7EGB1P/p1661974787629479 -> this is extremely hard (and likely very difficult to hot-reload custom trigger code and we chose not to do it at least for now)

[2022-08-31 21:32] #26024 closed

[2022-08-31 21:43] patricker opened #26095 "Creative use of BigQuery Hook Leads to Exception"
### Apache Airflow Provider(s)

google

### Versions of Apache Airflow Providers

8.3.0

### Apache Airflow version

2.3.4

### Operating System

Debian

### Deployment

Docker-Compose

### Deployment details

_No response_

### What happened

When executing a query through a BigQuery Hook Cursor that does not have a schema, an exception is thrown.

### What you think should happen instead

If a c

[2022-08-31 22:53] potiuk commented on #25992
It could help actually. search in page could have found it. One thing is how you present to the user and what the page contains. It could even be a folded "full text" that you could reveal when clicked.

No - no guidance. We are developing a product not a custom solution If you need to customise it, you ar efree to do so (but then we only focus on making features for everyone not focusing on singl

[2022-08-31 23:17] ephraimbuddy commented on #26044
So, using the dag at  #25353, I reproduced the deadlock. Not only in backfill but on normal run with mini scheduler turned off.
This case is similar to https://github.com/apache/airflow/issues/25200#issuecomment-1227870432, however, filtering the unfinished task does not solve it.
cc: @ashb

[2022-08-31 23:41] wolfier opened #26097 "Add the parameter `network_profile` in `AzureContainerInstancesOperator`"
### Description

[apache-airflow-providers-microsoft-azure](https://airflow.apache.org/docs/apache-airflow-providers-microsoft-azure/stable/index.html) uses `azure-mgmt-containerinstance==>=1.5.0,<2.0`.

In `azure-mgmt-containerinstance==1.5.0`, [ContainerGroup](https://github.com/Azure/azure-sdk-for-python/blob/azure-mgmt-containerinstance_1.5.0/sdk/containerinstance/azure-mgmt-containerinstance/

[2022-08-31 23:59] wolfier commented on #26067
The zombies query is a list of TaskInstances which has the attribute `external_executor_id`.

Without too much thought, you can probably add a new log line that prints the `external_executor_id` value.

[code]

[2022-09-01 06:59] devJackie commented on #26017
Thanks for your reply. I'll update the version and test it.

[2022-09-01 07:27] eladkal opened #26099 "Add one_done trigger rule"
### Body

Action: trigger as soon as 1 upstream task is in success or failuire
This has been requested in https://stackoverflow.com/questions/73501232/how-to-implement-the-one-done-trigger-rule-for-airflow
I think this can be useful for the community.

**The Task:**
Add support for new trigger rule `one_done`
You can use as reference previous PRs that added other trigger rules for example: https:/

[2022-09-01 08:46] #25165 closed

[2022-09-01 10:22] ashb commented on #25200
@frankcash My workaround specifically needs an _any_ operator downstream of a mapped task (that might get skipped), so In your example: `    added_values >> added_more_values >> sleep_task`

[2022-09-01 12:03] #25200 closed

[2022-09-01 13:26] hterik opened #26101 "Kubernetes Invalid executor_config, pod_override filled with Encoding.VAR"
### Apache Airflow version

2.3.4

### What happened

Trying to start Kubernetes tasks using a `pod_override` results in pods not starting after upgrading from 2.3.2 to 2.3.4

The pod_override look very odd, filled with many Encoding.VAR objects, see following scheduler log:
[code]

Looking in the UI, the task get stuck in scheduled state forever. By clicking instance details, it shows similar sta

[2022-09-01 13:43] omgMath opened #26104 "Docker: Python 3.10-based image fails to start (`_mysql is not defined`)"
### Apache Airflow version

2.3.4

### What happened

When using the docker image `apache/airflow:2.3.4-python3.10`, the container fails with

[code]
However, when using `apache/airflow:2.3.4-python3.9` the container starts without problems.

### What you think should happen instead

The docker image should not fail to start.

### How to reproduce

_No response_

### Operating System

Docker Conta

[2022-09-01 14:38] #20074 closed

[2022-09-01 14:47] abhishekbhakat opened #26107 "Airflow 2.3.4 crashes with secrets backend as airflow.providers.amazon.aws.secrets.secrets_manager.SecretsManagerBackend"
### Apache Airflow version

2.3.4

### What happened

With
[code]
airflow crashes with following traceback:

[code]
Here is the output of pip freeze > [req.txt](https://github.com/apache/airflow/files/9470767/req.txt)

### What you think should happen instead

_No response_

### How to reproduce

[code]

### Operating System

debian-bullseye

### Versions of Apache Airflow Providers

apache-airflo

[2022-09-01 15:09] bbovenzi commented on #23417
This should be an internal API endpoint, not a public one. Being in the webserver and views.py is fine for now.

[2022-09-01 15:09] #23417 closed

[2022-09-01 15:17] ashb commented on #26107
Fixed already via https://github.com/apache/airflow/pull/25810 -- I will start an out-of-band release for this provider.

[2022-09-01 15:17] #26107 closed

[2022-09-01 16:04] cccs-seb opened #26110 "UI: Task duration view always shows local time"
### Apache Airflow version

Other Airflow 2 version

### What happened

Task duration view always shows local time and doesn't represent the selected timezone (e.g. Graph still shows EDT if I choose UTC in the timezone picker)

### What you think should happen instead

The times displayed in the graph should match the timezone selected.

### How to reproduce

Steps:
- Go to the Task duration scree

[2022-09-01 16:32] #25523 closed

[2022-09-01 17:06] joshzana commented on #26101
+1 seeing the same thing on 2.3.4, KubernetesExector.  Wanted to provide more info.

We run 40 DAGs with several thousand total daily tasks, and every day we have 5-10 tasks that get stuck in Queued state.

We see the following sequence in the logs:
First this error the first time the task attempts to run
[code]

The in a repeated loop we see logs like this:
[code]
for each stuck task, followed sh

[2022-09-01 17:52] potiuk commented on #26104
ARM images do not support MySQL -> look at the changelog.

[2022-09-01 18:00] potiuk commented on #17546
Closing it - the workaround helped

[2022-09-01 18:00] #17546 closed

[2022-09-01 18:01] potiuk commented on #26104
Ah I was too fast. I thin the problem is with some of your settings. Likely you do something else with the imaage or override LD_PRELOAD env variable.

The problem you are mentioning should be solved (and I just checked that it is still solved) by having this variable defined:
[code]

This is in order to workaround mysql cluent wrongly allocating memory (this is mysql problem not Airflow). You sho

[2022-09-01 18:22] ephraimbuddy commented on #25744
Have confirmed the fix works

[2022-09-01 18:22] #25744 closed

[2022-09-01 18:50] philipmargeotab opened #26116 "I'm seeing unexpected behaviour with backfilling for a dag, using the airflow CLI. After running:"
I'm seeing unexpected behaviour with backfilling for a dag, using the airflow CLI. After running:

`gcloud composer environments run [company environment] --location [location] dags backfill -- --reset-dagruns -s 2022-05-05 -e 2022-05-18 minimal_skip`

I observe that 2022-05-05 is complete on the Airflow UI, but the next time it is run, i see 2022-05-07, rather than 2022-05-06 as expected.

![Scre

[2022-09-01 19:23] pankajastro commented on #26099
Hey @eladkal Have you started working on this if not is it ok if I can work on this?

[2022-09-01 19:28] eladkal commented on #26099
sure

[2022-09-02 07:41] alifouzizadeh commented on #25667
Hi @fernhtls, what @ilyadinaburg suggested works for me, I changed `$(hostname)`  to `$(hostname -i) `, and it is working.
So, the code in the `values.yaml ` should be like this:

[code]

[2022-09-02 09:02] langelrhea opened #26127 "Airflow dynamic task mapping is not working with Datahub's Airflow lineage plugin"
### Apache Airflow version

2.3.4

### What happened

Working with Airflow if you follow the steps from Datahub Integration (https://datahubproject.io/docs/lineage/airflow/) the first step is install the required dependency in your airflow (pip install acryl-datahub-airflow-plugin) after install this dependency, if I run my DAG this one fails. However if you uninstall this package, this DAG is com

[2022-09-02 10:48] deen992 commented on #25676
hi all,

im facing this error DPY-4010: a bind variable replacement value for placeholder ":1" was not provided
my job running for oracle to oracler transfer data .
currently using apache airflow oracle providers 3.3.0

please advise, currently using airflow 2.3.4 version. it latest version

[2022-09-02 11:43] uranusjr commented on #26127
Have you contacted the plugin's maintainers? This sounds like a problem with the plugin, and even if not, its maintainers should have a better understanding on what is causing the issue.

If you are convinced that this is caused by something in the main Airflow codebase, some logs to provide insight on what's going on would be very helpful. There is close to nothing we can do with the little infor

[2022-09-02 11:44] potiuk commented on #26127
Surely this is an interesting issue and good point but totally mis-directed. You should raise it in DataHub as they are suporting it not us.

[2022-09-02 11:51] potiuk commented on #25676
You can downgrade the oracle provider to fix it. Information on updating providers separately from core are here: https://airflow.apache.org/docs/apache-airflow/stable/installation/installing-from-pypi.html#installing-upgrading-downgrading-providers-separately-from-airflow-core

[2022-09-02 12:15] ashb opened #26130 "Remove `cattrs` from project"
Cattrs is currently only used in two places: Serialization for operator extra links, and for Lineage.

However cattrs is not a well maintained project and doesn't support many features that attrs itself does; in short, it's not worth the brain cycles to keep cattrs.

[2022-09-02 12:18] kaxil commented on #26130
+1  I am having a hard time bumping into different issues as `cattrs` doesn't support it yet.

Some issues:

- https://github.com/python-attrs/cattrs/issues/40
- https://github.com/python-attrs/cattrs/issues/206
- https://github.com/python-attrs/cattrs/issues/272

[2022-09-02 12:51] potiuk commented on #26130
Agree. It's been a source of many problems.

[2022-09-02 13:01] ldaugusto commented on #14417
@glingle05 you're a life saver!

[2022-09-02 13:10] Bowrna commented on #26019
Could I help in this task @potiuk ?

[2022-09-02 13:18] potiuk commented on #26019
sure - pick any of those scripts, I think there are a few "standalone" scripts there that could be easily rewritten, the "entrypoint_ci.sh" is generally more complex to handle and I think about changing the idea there so might be a bit more complex, but there are quite a few scripts there ate are simple to rewrite and simply replacing .sh with corresponding .py (and replacing all the places it is

[2022-09-02 13:21] potiuk commented on #26019
Note - that this is a bit "lower" priority than getting rid of Bash in Breeze "host" - mainly because those "in-container" scripts do not have to be rewritten to make "Windows" support work, and we can rely in them on the version of Bash that is installed in our images, so this is "nice to have " kind of things (but also it might be good to go to "almost 0" bash scripts in Airlfow.

[2022-09-02 14:47] ashb commented on #26130
@Taragolis Attrs automatically works for subclasses, so those subclasses are attrs classes:

[code]

[2022-09-02 14:50] ashb commented on #26130
But the bigger issue: We don't know what custom links might exist out in the wild, so we can't just blindly change the tech used without breaking someone's custom code.

[2022-09-02 15:10] Taragolis commented on #26130
I mean this case

[code]

But it mostly synthetic because  `BaseOperatorLink` not use any of the `__attrs_pre_init__`, `__attrs_post_init__`, `__attrs_init__` methods.

I don't remember why decorator required however without this decorator this link wouldn't show any warnings. Might be also related to serialisation/deserialisation `cattr` issue

https://github.com/apache/airflow/blob/cc2c6621254b2

[2022-09-02 15:12] kaxil commented on #26130
@Taragolis  The problem isn't attrs but cattrs -- attrs is well maintained and is a superset of dataclasses.

You can read about it in https://www.attrs.org/en/stable/why.html#data-classes

[2022-09-02 15:12] yossarian-p22 opened #26136 "GoogleAdsToGcsOperator not handling properly `attributes` parameter with string "type""
### Apache Airflow Provider(s)

google

### Versions of Apache Airflow Providers

apache-airflow-providers-google==8.1.0

### Apache Airflow version

2.2.5

### Operating System

Debian GNU/Linux 10 (buster)

### Deployment

Docker-Compose

### Deployment details

_No response_

### What happened

When running `GoogleAdsToGcsOperator` with parameter `attributes` containing string "type", an error

[2022-09-02 15:26] Taragolis commented on #26130
@kaxil I think attrs not actual superset of dataclasses because dataclasses itself introduced only in 3.7 and dataclasses itself has less abilities than `attrs`.

My main point more about is it actually required to use `attrs` for extra links or it is possible to use any other types such as `dataclasses` or even regular class. However since we really don't know about third-party extra links we can

[2022-09-02 15:31] phanikumv commented on #25996
I can pick this next. @eladkal @kaxil can you please assign this to me.

[2022-09-02 15:40] potiuk commented on #26130
But this does not mean we cannot removed cattrs as required Airlfow dependency.

Potentially we could fallback to optionally available cattrs if the custom base link fail to instantiate. We can safely make an assumption that in most cases where somoene uses custom links they already have cattrs installed so this is not going to be a breaking change for them. And even if they (for example) use our

[2022-09-02 16:11] Taragolis commented on #26130
Sure. I don't think `cattrs` need actually for ser/deser. Some simple snippet show that it could be archived by `attrs`

[code]

[2022-09-02 16:14] #26000 closed

[2022-09-02 16:29] kaxil commented on #26130
Yup we are going to use attrs or serialized_objects (from Airflow) for that

[2022-09-02 17:09] amenzel1986 commented on #25243
I am seeing similar issues with the ECSOperator.

[2022-09-02 21:11] Gollum999 commented on #26078
As a workaround, I have been using Pools instead, and I think I am seeing the same behavior: My tasks are stuck as "scheduled" while I am far below my other parallelism limits, and increasing the size of my pool causes tasks in other pools to get un-stuck.  So this may be something deeper than just `max_active_tis_per_dag`.

[2022-09-02 21:20] #23085 closed

[2022-09-02 21:52] potiuk commented on #23084
This is done now with #25678

[2022-09-02 21:52] #23084 closed

[2022-09-03 00:12] pacificsky commented on #26101
@dstandish this seems to introduce non-deterministic behavior for any pod that uses KubernetesExecuter and specifies a pod override. Only pods that specify an override seem to be impacted. And the issue seems to be that the deserialization of the executer config is broken in some way in the new system.

This can be easily repro'd in the airflow web UI by hitting reload repeatedly on the task insta

[2022-09-03 06:27] tirkarthi commented on #26136
It seems there is some inconsistency or issue in the library. Can you try using "ad_group_ad.ad.type_" in attributes?

https://github.com/googleads/google-ads-python/blob/6b908c0db0d54214ac589e28810a0e8917eacd55/google/ads/googleads/v10/resources/types/ad.py#L275

[code]

But using latest package from github works fine with "type" https://github.com/googleads/google-ads-python

[code]

[2022-09-03 08:32] #23900 closed

[2022-09-03 08:43] eladkal commented on #18239
Please check if the issue happens on latest Airflow version (there has been some work related to this)

[2022-09-03 08:52] eladkal commented on #17469
Issue status:
A PR was raised to fix the issue https://github.com/apache/airflow/pull/21404 but was reverted due to regression.
A unit test was added to catch the missed case in https://github.com/apache/airflow/pull/23300

If anyone wants to pick it up feel free to comment

[2022-09-03 10:31] potiuk commented on #12282
And today:

[code]

[2022-09-03 13:23] #26067 closed

[2022-09-03 16:06] V0lantis commented on #21225
I have been trying to fix this issue in [celery/kombu](https://github.com/celery/kombu) where I beleive(d) was lying the issue we are talking about here (namely, that a SIGTERM was sent while the redis queue was consumed, leading to a message never being acknowledged and a message lost in the wild).

The issue is, I have been trying to replicate the issue in kombu without any success. I managed to

[2022-09-04 07:38] subhosuper opened #26149 "If render_template_as_native_obj=True SimpleHttpOperator converts header values to integer automatically"
### Apache Airflow version

Other Airflow 2 version

### What happened

If render_template_as_native_obj=True
SimpleHttpOperator converts header values to integer automatically.

`headers = {"Content-Type": "application/json", "accept": "application/json", "Accept-Version": "V2", "OTP": "123345"}` is interpretted as `headers = {"Content-Type": "application/json", "accept": "application/json", "Acc

[2022-09-04 21:25] kazanzhy commented on #25952
It will be great to keep consistency with these PRs:
https://github.com/apache/airflow/pull/21231
https://github.com/apache/airflow/pull/20907

I mean the `db_type` in `RdsStartDbOperator`, which can be either `instance'` or `'cluster'`.
WDYT, @hankehly?

[2022-09-05 00:10] hankehly commented on #25952
@kazanzhy Yes that sounds good to me. In that case, how about we rename the `RdsInstanceSensor` to `RdsDbSensor`.

[2022-09-05 00:37] yarong-lifemap commented on #26059
Having similar issues with Taskgroups that lose their dependency on other taskgroups. Would be great to have this fixed!

[2022-09-05 04:42] subhosuper commented on #26149
@kaxil @wolfier

[2022-09-05 08:01] eladkal opened #26155 "Add CLI to add/remove permissions from existed role"
### Body

Followup on https://github.com/apache/airflow/pull/25854
[Roles CLI](https://airflow.apache.org/docs/apache-airflow/stable/cli-and-env-variables-ref.html#roles) currently support create, delete, export, import, list

It can be useful to have the ability to add/remove permissions from existed role.
This has also been asked in https://github.com/apache/airflow/issues/15318#issuecomment-872

[2022-09-05 10:07] yossarian-p22 commented on #26136
Using "*.type_" instead of "*.type" works for all 'type' fields. Thanks a lot!

[2022-09-05 10:07] #26136 closed

[2022-09-05 15:49] ashb opened #26164 "Status of testing Providers that were prepared on September 05, 2022"
### Body

I have a kind request for all the contributors to the latest provider packages release.
Could you please help us to test the RC versions of the providers?

Let us know in the comment, whether the issue is addressed.

Those are providers that require testing as there were some substantial changes introduced:

## Provider [amazon: 5.1.0rc1](https://pypi.org/project/apache-airflow-providers

[2022-09-05 16:02] dwreeves commented on #26164
My PR #25716 came about from testing for the Amazon provider package `5.0.0` and is a very simple 1-line change. (It was a PR for fixing a minor bug in `5.0.0rc3` from when I was testing that.) It does seem like it unfortunately made its way into the `5.0.0` release, hence why it's part of the `5.1.0` release cycle.

<img width="556" alt="image" src="https://user-images.githubusercontent.com/31971

[2022-09-05 16:30] subhosuper commented on #26149
@potiuk

[2022-09-05 17:38] ashb commented on #26164
@dwreeves thanks - the list was auto generated. Was your change in 5.0.0 of the provider do you know?

[2022-09-05 17:52] chenglongyan commented on #26155
@eladkal  I'm working on...

[2022-09-05 18:46] Taragolis commented on #26164
#25810 - No more circular import issue
#25989, #26014, #26025 - Work as expected

[2022-09-05 19:56] eladkal commented on #26164
I dont think it was.
Amazon provider 5.0.0 was releases on 14-Aug
https://github.com/apache/airflow/pull/25716 was merged on 15-Aug
The code with the amazon provider 5.0.0 tag doesnt have the changes in the PR:

https://github.com/apache/airflow/blob/5923788143e7871b56de5164b96a407b2fba75b8/airflow/providers/amazon/aws/secrets/secrets_manager.py#L200

[2022-09-05 20:03] potiuk commented on #26164
Common.sql lower-bounds are updated for those providers.

[2022-09-05 21:38] kazanzhy commented on #26164
Checked https://github.com/apache/airflow/pull/25855 with PostgresHook. Seems ok.

[2022-09-06 02:15] hankehly commented on #25952
cc @dstandish @o-nikolas @ferruzzi @kazanzhy

I'd like someone's opinion please.

While editing at the operator/sensor code, I'm noticing a couple things:
* some duplication in [`RdsBaseSensor`](https://github.com/apache/airflow/blob/main/airflow/providers/amazon/aws/sensors/rds.py) / [`RdsBaseOperator`](https://github.com/apache/airflow/blob/main/airflow/providers/amazon/aws/operators/rds.py) aro

[2022-09-06 02:41] dylanturn commented on #23512
Not sure if this helps speed up the troubleshooting process but I'm seeing the same `duplicate key value violates unique constraint` error when running airflow in standalone mode with one gunicorn worker.

interestingly, I only started getting this error message when I switched `AUTH_TYPE` from `AUTH_DB` to `AUTH_OAUTH`

<img width="1679" alt="image" src="https://user-images.githubusercontent.com/

[2022-09-06 03:05] dwreeves commented on #26164
(Yeah sorry I wasn't clear with how I phrased that. "It made its way in" <-- "it" meaning the bug, not the fix for said bug.)

[2022-09-06 06:00] rotemseekingalpha opened #26173 "auto refresh does not work in grid mode"
### Apache Airflow version

2.3.4

### What happened

Upgraded to Airflow 2.3.4 from Airflow 2.3.3.
Ran a DAG.
Auto refresh keeps turning off in grid mode.
Works in graph mode.

### What you think should happen instead

auto refresh should work the same way it did in previous versions (and/or graph mode)

### How to reproduce

Run a dag with multiple steps on Airflow 2.3.4 and monitor progress usi

[2022-09-06 09:09] thuy-bui-ts commented on #26155
I thought remove/add role from an existing users is already provided in user command ( airflow users remove-role ...) you can find it here [https://airflow.apache.org/docs/apache-airflow/stable/cli-and-env-variables-ref.html#remove-role](url)

[2022-09-06 09:35] herunyu opened #26174 "API Endpoints - /xcomEntries/{xcom_key} cannot deserialize customized xcom backend"
### Description

We use S3 as our xcom backend database and write serialize/deserialize method for xcoms.
However, when we want to access xcom through REST API, it returns the s3 file url instead of the deserialized value. Could you please add the feature to support customized xcom backend for REST API access?

### Use case/motivation

_No response_

### Related issues

_No response_

### Are you

[2022-09-06 09:43] #25353 closed

[2022-09-06 09:43] #26044 closed

[2022-09-06 09:44] uranusjr commented on #26174
Can you provide the traceback emitted in the logs when the error occurs?

[2022-09-06 09:46] herunyu commented on #26174
![image](https://user-images.githubusercontent.com/5023850/188603574-1fef43b7-4f24-4aa7-812f-cef5fcec95d5.png)

[2022-09-06 09:53] herunyu commented on #26174
There is no error. So what we did is save the json into a pickle file by overwriting the serialize_value method. And we deserialized it when we do ti.xcom_pull. So we will get the actual value we saved.
But now when we get xcom through REST API, we will get the pickle file url like in the airflow UI
![image](https://user-images.githubusercontent.com/5023850/188605045-f0541599-0765-4c47-9a98-d3d77f

[2022-09-06 10:46] potiuk commented on #26164
What an interesting set of colours. I wonder if they mean something :)

[2022-09-06 12:22] sk-ilya commented on #25667
`$(hostname -f)` worked for us

[2022-09-06 13:28] a246530 opened #26176 "Upgrade to 2.3.4 DB Upgrade issue"
### Apache Airflow version

2.3.4

### What happened

When running airflow db upgrade , we encounter the following error:
`[2022-09-05 07:04:10,182] {db.py:939} WARNING - Found 273 duplicates in table task_fail.  Will attempt to move them.
[2022-09-05 07:08:23,703] {db.py:1466} INFO - Creating tables
INFO  [alembic.runtime.migration] Context impl MySQLImpl.
INFO  [alembic.runtime.migration] Will a

[2022-09-06 13:52] KFoxder commented on #25765
@eladkal when you get a chance, do you mind letting us know if you agree that this PR (https://github.com/apache/airflow/pull/22004) is likely the culprit here?

[2022-09-06 14:23] nodox opened #26178 "Extending image with pip packages causes database connection issues when running new image with docker compose"
### Apache Airflow version

2.3.4

### What happened

I am trying to `pip install` a few packages to my custom docker image.  Here is my custom dockerfile.

[code]

I am testing the image locally with the [official docker compose file](https://airflow.apache.org/docs/apache-airflow/2.3.4/docker-compose.yaml). However even the simplest modification using any of the examples from the [docs](https://

[2022-09-06 14:32] jmantegazza commented on #24730
Oh yeah, I would like to have this operator. I am using Cloud Run Jobs to execute light data processing and scripting. It would be really nice to have a dedicated operator to trigger this flow in Cloud Composer (apart from the bash operator).

[2022-09-06 14:48] internetcoffeephone commented on #26176
What is your database and table collation? My team had similar issues because the database was not initialized properly years ago, so the collation was set to Swedish. Switching it to utf8 fixed it.

Check out the [docs](https://airflow.apache.org/docs/apache-airflow/2.3.4/howto/set-up-database.html#setting-up-a-mysql-database) for more information on the collation.

[2022-09-06 15:23] a246530 commented on #26176
Thanks @internetcoffeephone , I checked and we are following the collation as defined in the documentation.  We are using utf8mb4_unicode_ci.

[2022-09-06 17:27] potiuk commented on #26176
You might want to follow this guidelines for collation @a246530 -> it is not yet released so you will not find it in the official docs but it is supposed to be out in 2.4.0 https://github.com/apache/airflow/blob/main/docs/apache-airflow/installation/upgrading.rst#handling-migration-problems

It's not certain if it is the problem, but you will likely find out if you follow it. Unfortunately, there

[2022-09-06 18:42] joao-aguilera-c commented on #26173
Just adding, this is the error on gif:

![auto-refresh_not_working](https://user-images.githubusercontent.com/68448759/188713926-6b72a0bd-24bb-4574-b7d0-42efa1d08177.gif)

[2022-09-06 19:04] josh-fell commented on #25319
Seems worthy to update these how-to guide as well since the underlying example DAG snippets have been changed to use TaskFlow API. Any other thoughts here?

Thinking about this item again, the how-to should be refactored to `_docs/apache-airflow/howto/decorators/python.rst` now that based on #25752 being the last decorator to be added for Python operators. I updated the list in the description.

[2022-09-06 19:07] josh-fell commented on #25319
Yeah go ahead and create a draft. That's going to be the best place for discussion.

[2022-09-06 19:11] josh-fell commented on #25319
Yeah go ahead and create a draft. That's going to be the best place for discussion.

[2022-09-06 21:02] vincbeck commented on #25952
I am not strongly against this solution but I do not see any real value compare to what we what today. I understand the intent of de duplicating the if statement in `_describe_item` in both operator and sensor but on the other side you also add complexity by adding these new "resources". In my opinion, that would make things even more complicated to anyone who want to work on these operators/senso

[2022-09-06 21:36] Wilder60 opened #26185 "Webserver fails to pull secrets from Hashicorp Vault on start up"
### Apache Airflow version

2.3.4

### What happened

Since upgrading to Airflow 2.3.4 our webserver fails on start up to pull secrets from our Vault instance.  Setting AIRFLOW__WEBSERVER_WORKERS = 1 allowed the webserver to start up successfully, but reverting the change added here [https://github.com/apache/airflow/pull/25556](url) was the only way we found to fix the issue without adjusting the

[2022-09-06 22:22] blag opened #26186 "Bad terminal handling of `airflow db shell` command with Postgres DB"
### Apache Airflow version

main (development)

### What happened

This happens in both iTerm 2 and the built-in Terminal.app in macOS when running ~breeze start-airflow~. `airflow db shell` when using postgres as a backend.

Within `psql` (run via `airflow db shell`):

* Scrollback editing (eg: hitting up arrow to edit a previous query) is messed up for multi-line queries. I don't have a better d

[2022-09-07 01:50] patricker opened #26189 "GCSToBigQueryOperator Schema in Alternate GCS Bucket"
### Description

Currently the `GCSToBigQueryOperator` requires that a Schema object located in GCS be located in the same bucket as the Source Object(s). I'd like an option to have it located in a different bucket.

### Use case/motivation

I have a GCS bucket where I store files with a 90 day auto-expiration on the whole bucket. I want to be able to store a fixed schema in GCS, but since this bu

[2022-09-07 03:45] Gollum999 commented on #24844
I'm a bit confused by this thread.  I have been doing a lot of backfilling recently and I personally find the auto-refresh behavior to be quite useful for monitoring progress.  It's still not entirely clear to me what the bug is, but disabling auto-refresh for *all* backfills seems a bit heavy-handed to me.

[2022-09-07 03:45] notatallshaw-work commented on #26185
@pdebelak @potiuk  is there anything extra we can provide here?

It was a bit of a surprise to us that we needed to revert https://github.com/apache/airflow/pull/255560 to run the webserver on 2.3.4, it was one of the PRs we were looking forward to. But it's not a 100% clear to us why this PR broke the webserver/vault interaction.

[2022-09-07 04:36] uranusjr commented on #26186
This is from one pane, right? I wonder if this is a Tmux issue (and if that’s the case there’s not much we can do). Can you try entering the shell (with `breeze shell` or even plain `docker run`) and run `tmux` manually, and see if this happens to you as well?

(This could also be related to terminal configuration; terminal emulation is pesky work.)

[2022-09-07 06:35] uranusjr commented on #26174
Ah I see, thanks for the additional context. I think calling `deseralize_value` would be problematic because not everything deserialised can be sent through the wire, which is probably why the current implementation doesn’t do that.

One way I can think of to make this work would be to add an additional function in the XCom backend protocol for “serialise for API”. The default (JSON) backend would

[2022-09-07 06:38] herunyu commented on #26174
Cool. That's what we want with the API. We look forward to having this feature in 2.4. Thanks in advance!

[2022-09-07 06:41] uranusjr commented on #26174
Note that we’re quite close to the feature freeze now (it should happen sometime this month), so I can’t guarantee this will make it into 2.4.

[2022-09-07 06:44] herunyu commented on #26174
I see. We will do some workaround at this moment. No worries. Thank you.

[2022-09-07 06:54] eladkal commented on #20705
Probably dependend on https://github.com/dpgaspar/Flask-AppBuilder/issues/1028

[2022-09-07 07:43] jyotsa09 opened #26194 "Extra entry for logs generated with 0 try number when clearing any task instances"
### Apache Airflow version

main (development)

### What happened

When clearing any task instances an extra logs entry generated with Zero try number.

<img width="1344" alt="Screenshot 2022-09-07 at 1 06 54 PM" src="https://user-images.githubusercontent.com/88504849/188819289-13dd4936-cd03-48b6-8406-02ee5fbf293f.png">

### What you think should happen instead

It should not create a entry with z

[2022-09-07 07:44] jyotsa09 commented on #26194
@ephraimbuddy @jedcunningham

[2022-09-07 09:17] nikhi-suthar opened #26196 "Amazon Glue job providers not printing log when job get completed or failed."
### Apache Airflow Provider(s)

amazon

### Versions of Apache Airflow Providers

5.0.0

### Apache Airflow version

`>= 2.3.2`

### Operating System

Linux

### Deployment

Docker-Compose

### Deployment details

docker-compose

### What happened

The method **job_completion** of **GlueJobHook** call **print_job_logs** in **finally** block  that will be never call when job get **completed** eithe

[2022-09-07 09:18] cesar-vermeulen opened #26197 "Dynamic tasks are randomly put in removed state"
### Apache Airflow version

Other Airflow 2 version

### What happened

We have a DAG running with a cronjob schedule every 4 minutes that checks whether there is a new file present in a file system or not. If there is one available, it lists its path and passes it as a dynamic task via XCOM (one task = one file).

We have experienced a couple of times already that this task is never started, nor

[2022-09-07 10:31] hussein-awala opened #26200 "`depends_on_past` is ignored when upstream is skipped"
### Apache Airflow version

2.3.4

### What happened

If we have an hourly dag of 2 tasks `T1` and `T2` (`T1 >> T2`), and `T2` has `depends_on_past=True`, if at the run of 10:00 `T1` is skipped, `T2` is directly marked as skipped too without waiting the task of the previous run 09:00, then in the next run 11:00, `T2` can be executed where `T2` of its previous run is skipped.

### What you think sh

[2022-09-07 10:34] devashish-parmar opened #26201 "Airflow webserver UI unable to access worker node logs"
### Apache Airflow version

2.3.4

### What happened

We have set up a multi node Airflow configuration. We have the below setup.
- 4 nodes
- node 1: webserver, rabbitmq, flower
- node 2: meta db
- node 3: worker 1
- node 4: worker 2

Although the setup is working fine and DAGs are getting distributed among the worker nodes, however the logs generated in the worker nodes are not reflecting in the

[2022-09-07 11:06] nikhi-suthar opened #26203 "Continuously logging and Batch logging mode for the aws Glue job's execution logs"
### Description

Currently Airflow does not print the **`Glue job`** execution logs due to the bug highlighted in **Related Issue**. This feature will enable the **Continuously logging** and **Batch logging**  of **`Glue jobs`** in **`Airflow`**  based on the **`GlueJobOperator`** input parameters.

### Use case/motivation

I have orchestrated multiple Glue jobs with Airflow, Due to existing code

[2022-09-07 12:04] mohittalele opened #26207 "update google-video-intelligence dependency in google provider"
### Description

Currently google cloud provider restricts the version of google-video-intellegiance library to >=1.7.0,<2.0.0.
However this version old and latest available version is 2.8.1.
This is also mentioend as one of the - [ToDos ](https://github.com/apache/airflow/blob/00fd789258b48d92b16294b598956db271bc7b3d/airflow/providers/google/provider.yaml#L65)

### Use case/motivation

Version >2

[2022-09-07 12:44] Gollum999 commented on #26173
Duplicate of #25949.
Broken by #25042, fixed by #25950.

[2022-09-07 13:56] mr-t1000 opened #26214 "Broken Link for 'trigger rule' on DAG Runs page"
### What do you see as an issue?

On the [DAG Runs page](https://airflow.apache.org/docs/apache-airflow/stable/dag-run.html#dag-runs), in the [DAG Run Status](https://airflow.apache.org/docs/apache-airflow/stable/dag-run.html#dag-run-status) section, there is a link for [trigger rule](https://airflow.apache.org/docs/apache-airflow/stable/dags.html#trigger-rules) which results in a 404 Not Found er

[2022-09-07 14:36] jens-scheffler-bosch opened #26215 "Trigger DAG UI Extension w/ Flexible User Form Concept"
### Description

Proposal for Contribution for an extensible Trigger UI feature in Airflow.

## Design proposal (Feedback welcome)

### Part 1) Specifying Trigger UI on DAG Level

We propose to extend the DAG class with an additional attribute so that UI(s) (one or multiple per DAG) can be specified in the DAG.

* Attribute name proposal: `trigger_ui`
* Type proposal: `Union[TriggerUIBase, List[Tr

[2022-09-07 15:16] pdebelak commented on #26185
@notatallshaw-work @Wilder60 I don't use approle, but this is mysterious. Are there any other clues you can provide? All other configuration is at default values? Do you get a stack trace when the workers crash?

[2022-09-07 15:50] pdebelak commented on #26185
Yeah, I don't really understand how/why that might be happening, but that's clearly a problem.. It's possible that this change is too fundamental to be safe for all configurations and we should just get rid of this caching and deal with the multiple logins.

@potiuk  - what do you think? Should I just revert this caching change altogether?

[2022-09-07 15:56] #26095 closed

[2022-09-07 16:00] PApostol commented on #26214
I think that has already been fixed in #25840.

[2022-09-07 16:22] potiuk commented on #26186
This is neither breeze nor tmux problem. This is problem with `airflow db shell` for postgres and pass-through to `pysql` which should likely be improved.

You got the exact same behaviour when you use local virtualenv without either of the breeze/tmux (but you can reproduce it easily using breeze as the postgres database setup:

1. Create airflow virtualenv (an easy way is to activate empty venv

[2022-09-07 16:25] potiuk commented on #26186
I updated the description to clarify it. Fancy to attempt to fix it @blag ? I think it is the matter of how subprocess is used to run `psql`

[2022-09-07 16:33] potiuk commented on #26186
BTW. I jsut tested it additionally running this in `start-airflow` pane:
[code]

Which is equivalent of what `breeze db shell` does for postgres,

And it behaves as expected - so this is definitely `airflow db shell` that introduces it

[2022-09-07 18:52] pankajastro commented on #26164
Worked as expected https://github.com/apache/airflow/pull/25857 and https://github.com/apache/airflow/pull/25975

[2022-09-07 19:14] jens-scheffler-bosch commented on #26215
This is how it "could" look like - sneak preview how the current plugin implements a launch page which can be freely configured as described:

![image](https://user-images.githubusercontent.com/95105677/188958935-0182539a-c6ae-4cc0-a255-b35afea330f4.png)

[2022-09-07 19:36] eladkal commented on #26068
completed  https://github.com/apache/airflow/pull/26076 https://github.com/apache/airflow/pull/26077

[2022-09-07 19:36] #26068 closed

[2022-09-07 19:53] #26173 closed

[2022-09-07 20:13] Jorricks commented on #26068
Given its removed from the 2.3.5. Milestone, cab u assume we are not planning on doing a 2.3.5 release?

[2022-09-07 20:21] eladkal commented on #26068
milestones are set on the PRs so no need for one on the issue.
i don't think there will be 2.3.5

[2022-09-07 20:26] #26189 closed

[2022-09-07 20:52] eladkal commented on #19507
Fixed in https://github.com/apache/airflow/pull/19508

[2022-09-07 20:52] #19507 closed

[2022-09-07 21:02] Jorricks commented on #26068
Thang for the swift reply!

[2022-09-07 21:32] potiuk commented on #26207
Feel free to attempt to do so.

[2022-09-07 21:38] potiuk commented on #26185
I think so. It has proven to be more problematic than we both thought and the benefit is limited, I think that using external caching mechanism from the respective secrets providers is a much more robust way.

We should treat it as a failed experiment I think.

[2022-09-07 21:39] #26214 closed

[2022-09-07 22:10] pdebelak commented on #26185
Okay, just opened #26223 to remove this caching.

[2022-09-07 22:44] #26101 closed

[2022-09-07 23:36] potiuk commented on #26215
I think there is nothing "wrong" about this proposal. It does look sound initially and there is nothing "blocking" at a first glance. However the size and scope of it I think qualifies to write an Airlfow Improvement proposal instead of creating a feature issue in Github: https://cwiki.apache.org/confluence/display/AIRFLOW/Airflow+Improvement+Proposals . I am happy to add you to be able to create

[2022-09-07 23:55] hankehly commented on #25952
Thanks @vincbeck for the feedback. I'll stick to the way it's implemented.

[2022-09-08 00:35] #26185 closed

[2022-09-08 00:36] potiuk commented on #26185
Merged. I think good learning for everyone :)

[2022-09-08 00:41] uranusjr commented on #26186
Tangentally I’m wondering if it’s a good idea to use [dbcli tools](https://github.com/dbcli) for `airflow db shell`.

[2022-09-08 00:54] potiuk commented on #26186
Looks cool. Definitely worth trying how well it works in airflow db. It will likely increase the dependency size, so possibly it should be something that is installed as "extra" ?

[2022-09-08 02:32] Renatochaz commented on #25990
Hello, I'm new here and was going to see if i could contribute to the Airflow project by working on some issues.

After setting up the environment with the current Airflow release, i couldn't reproduce the issue. I.e, it seems the templating is working fine as seen here with this screenshot:
![image](https://user-images.githubusercontent.com/67420733/189020415-6ff507b6-d1d2-4ae5-a86d-6c75f51887f8.

[2022-09-08 02:36] uranusjr commented on #25990
This has been fixed in #20905. Thanks for testing this!

[2022-09-08 02:36] #25990 closed

[2022-09-08 02:54] uranusjr commented on #26197
duplicate of #25744

[2022-09-08 02:54] #26197 closed

[2022-09-08 03:48] uranusjr commented on #19264
Yes, but that’s an entirely different issue and should be worked on separately. Feel free to open a pull request for that, but let’s leave that discussion out of this particular issue.

[2022-09-08 08:14] cesar-vermeulen commented on #26197
Hey @uranusjr,
Thank you for your reply.
I noticed #25744, however, in this situation, it does not happen during backfill.
Would this behaviour also be expected when not using backfill?

[2022-09-08 08:26] bhirsz opened #26227 "airflow.version type is str, not metadata.version"
### Apache Airflow version

main (development)

### What happened

Some of the (Google: TestDataflowPythonOperator) unit tests and system tests are failing with:

[code]

Is it planned change or bug introduced (probably with #24486)? @ashb

### What you think should happen instead

It should be either the same type as before or tests should be fixed to match the change.

### How to reproduce

_No

[2022-09-08 08:27] bhirsz commented on #26227
It is also possible that previous version was erroneus and recent PR fixed it, and now we need to fix tests to match it :)

[2022-09-08 08:53] hankehly commented on #25319
Great, I'll get started on that.

[2022-09-08 09:14] jens-scheffler-bosch commented on #26215
Thanks @potiuk your feedback and the questions to clarify totally makes sense. If there is the tendency to move away from Flask-Appbuilder then of course it does not make sense to add further functionality to the "legacy" (nevertheless I likes the simplicity :-D, had a low entry barrier so far for the plugin code)

Let's create an AIP, my Confluence user name is jens.scheffler (just signed up)

[2022-09-08 10:45] eladkal commented on #8303
this is actually a request to add a new provider bing.ads
If anyone wants to implement it I suggest first to read the mixed-governance model:
https://github.com/apache/airflow#release-process-for-providers

Closing for now till someone will commit to it and explain the value of such provider

[2022-09-08 10:45] #8303 closed

[2022-09-08 11:45] Bowrna commented on #25926
I would like to check this as I have been working on a similar issue #25711
@potiuk Can I pick it up in case you are not working on it?

[2022-09-08 12:12] potiuk commented on #26215
You should have access now.

[2022-09-08 12:36] abhishekbhakat opened #26234 "template_ext '.sql' failing to parse CALL statement"
### Apache Airflow Provider(s)

common-sql

### Versions of Apache Airflow Providers

[code]

### Apache Airflow version

2.3.4

### Operating System

PRETTY_NAME="Debian GNU/Linux 11 (bullseye)" NAME="Debian GNU/Linux" VERSION_ID="11" VERSION="11 (bullseye)" VERSION_CODENAME=bullseye ID=debian

### Deployment

Astronomer

### Deployment details

Used a docker-compose to run `astro-runtime:5.0.8`

[2022-09-08 12:48] abhishekbhakat commented on #26234
Hi @kaxil,
I wanted to point it's the same behavior with inline SQL too.

[2022-09-08 12:58] eladkal commented on #26234
Can you please test it with RC version?
https://github.com/apache/airflow/issues/26164

[2022-09-08 12:58] kaxil commented on #26234
The error is coming from the below line in openlineage, so going to close this one

https://github.com/OpenLineage/OpenLineage/blob/65a5f021a1ba3035d5198e759587737a05b242e1/integration/common/openlineage/common/sql/__init__.py#L27

[2022-09-08 12:58] #26234 closed

[2022-09-08 13:17] dnlfm commented on #23565
Something that can be useful for whoever faces this problem:
Remove the filter(s) in the filter box, then you'll be able to go back to the home page.

[2022-09-08 13:51] NickYadance opened #26237 "Deadlock caused by airflow statistics query"
### Apache Airflow version

Other Airflow 2 version

### What happened

Scheduler got crashed soon after reboot.
[code]

Database engine status shows that some cycle dependency exists between 2 transactions, the select and update query towards table `task_instance`. And each time the scheduler reboot, the update transaction will timeout and causing scheduler crash.

Noticed that the select query n

[2022-09-08 14:19] alexandermalyga commented on #26164
Tested #25939 with Trino, Presto and SQLite hooks. The issue has been solved and it works like expected.

[2022-09-08 14:46] raphaelauv opened #26238 "[BUG] 2.4.0b1 - google-provider - AttributeError: 'str' object has no attribute 'version'"
### Apache Airflow version

main (development)

### What happened

when I start airflow 2.4.0b1 with the `apache-airflow-providers-google==8.3.0`

the webserver log give :

[code]

### What you think should happen instead

_No response_

### How to reproduce

_No response_

### Operating System

ubuntu 22.04.1

### Versions of Apache Airflow Providers

_No response_

### Deployment

Other

### Dep

[2022-09-08 15:06] pierrejeambrun commented on #26215
Really interesting proposal.

I totally agree with Jarek that this invites us to think on a larger scale to define "**how UI customization should look like in a modern web app environment ?**".

To be honest I haven't think about that part yet and all the implications cited above are fair points. On top of these I believe the ease of use for the end user is also a critical point (it should remain

[2022-09-08 15:13] uranusjr commented on #26197
The linked issue is slightly misleading; it describes backfilling, but the cause has nothing to do with backfilling specifically, as you can read from the PR fixing it.

[2022-09-08 15:32] sdy-volvo opened #26240 "Error while running DAG using DBT and Airflow ==> dbt_snowflake://macros/adapters.sql"
### Apache Airflow Provider(s)

snowflake

### Versions of Apache Airflow Providers

I have copied my dbt project using the docker-compose.yaml for airflow and trying to run a DAG from locally docker deployed airflow and when i try to run the DAG it is giving the below error.

### Apache Airflow version

2.3.4

### Operating System

Win 10

### Deployment

Docker-Compose

### Deployment details

_

[2022-09-08 15:46] ashb commented on #26164
Releasing now.

[2022-09-08 15:46] #26164 closed

[2022-09-08 16:05] eladkal commented on #26238
Duplicate of https://github.com/apache/airflow/issues/26227 ?

[2022-09-08 16:20] eladkal commented on #13026
Is this issue reproducible on latest Airflow version?

[2022-09-08 16:45] rafidka commented on #13026
I am not sure, I only checked on the versions mentioned above.

[2022-09-08 16:49] uranusjr commented on #26238
Yes, these are essntially reporting the exact same exception.

[2022-09-08 17:45] kumbarsg commented on #25996
The params are :
        task_id="glue_job",
        job_name=job_name,
        wait_for_completion=True,
        # num_of_dpus=10,
        retry_limit=0,
        script_location=f"s3://bucket/etl.py",
        s3_bucket=GLUE_EXAMPLE_S3_BUCKET,
        iam_role_name=GLUE_CRAWLER_ROLE.split("/")[-1],
        create_job_kwargs={
            'GlueVersion': '3.0', 'NumberOfWorkers': 2, 'WorkerType': 'G

[2022-09-08 18:28] patricker opened #26248 "BaseSQLToGCSOperator Parquet Format Fails to Write Dates/JSON"
### Apache Airflow Provider(s)

google

### Versions of Apache Airflow Providers

8.3.0

### Apache Airflow version

2.3.4

### Operating System

OSX

### Deployment

Virtualenv installation

### Deployment details

_No response_

### What happened

`PostgresToGCSOperator` was being used to query a table containing timestamps and JSON data.
`export_format='parquet'` was set.
The export to Parquet

[2022-09-08 19:07] nsAstro commented on #26201
Can you see if there are any files in the directory '/home/dvafadm/airflow/logs/' and if so, can you find the ones corresponding the the above DAG and list the file/directory structure? I'm curious if this is a name mismatch or if the logs just don't exist.

[2022-09-08 21:33] jens-scheffler-bosch commented on #26215
Here we are in AIP: https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-50+Trigger+DAG+UI+Extension+with+Flexible+User+Form+Concept

[2022-09-08 22:03] kumbarsg commented on #25996
This is the error that I am facing while I try to use Gluejoboperator on MWAA instance:

Broken DAG: [/usr/local/airflow/dags/Glue_sample.py] Traceback (most recent call last):
  File "<frozen importlib._bootstrap>", line 219, in _call_with_frames_removed
  File "/usr/local/airflow/dags/Glue_sample.py", line 8, in <module>
    from airflow.providers.amazon.aws.operators.glue import GlueJobOperator

[2022-09-08 23:58] #25891 closed

[2022-09-09 00:39] potiuk commented on #21078
Umfortunately there is no clear indication from the logs and it's also hard to correlate them - if you could help with narrowing down and selecting much smaller set of queries corresponding to the actual problem, that could probably help - otherwise siimply looking at your log and trying to find out and spend time (in the free time we have where we try to help people here) is just too much of an i

[2022-09-09 01:45] MatrixManAtYrService opened #26256 ""triggered runs" dataset counter doesn't update until **next** run and never goes above 1"
### Apache Airflow version

2.4.0b1

### What happened

I have [this test dag](https://gist.github.com/MatrixManAtYrService/2cf0ebbd85faa2aac682d9c441796c58) which I created to report [this issue](https://github.com/apache/airflow/issues/25210).  The idea is that if you unpause "sink" and all of the "sources" then the sources will wait until the clock is like \*:\*:00 and they'll terminate at the

[2022-09-09 01:46] #21078 closed

[2022-09-09 02:05] #26071 closed

[2022-09-09 02:49] potiuk commented on #26116
Not enough information.

You should try upgrading to latest verrsion. There were a number of errors fixed since your version related to backfil, and this is the easiest way to check it - because otherwise diagnosis, analysis logs would have to take a lot of time (and we help for free here).

Once you upgrade,  lease see if you see the same issue. Also - in order to help the investiation you could

[2022-09-09 02:50] #26097 closed

[2022-09-09 03:04] potiuk commented on #25676
the common.sql provider has been released today - you can upgrade both oracle and common and it should work.

https://pypi.org/project/apache-airflow-providers-common-sql/1.2.0/

[2022-09-09 03:15] dstandish opened #26259 "should we limit max queued dag runs for dataset-triggered dags"
if a dataset-triggered dag is running, and upstreams are updated multiple times, many dag runs will be queued up because the scheduler checks frequently for new dag runs needed.

you can easily limit max active dag runs but cannot easily limit max queued dag runs.  in the dataset case this represents a meaningful difference in behavior and seems undesirable.

i think it may make sense to limit max

[2022-09-09 03:32] devashish-parmar commented on #26201
yes, the directory/file does exist. the below command runs fine from the worker node

less "/home/dvafadm/airflow/logs/dag_id=second_dag/run_id=manual__2022-09-07T10:16:57.050200+00:00/task_id=second_dag/attempt=1.log"

[2022-09-09 05:28] eladkal commented on #24297
Please check if this is solved in 2.4.0 beta

[2022-09-09 06:56] kshitij-4567 opened #26261 "hii Airflow ,, i am from mastercard we looking for airflow which can give access through RBAC (Role based access). and should use our customized python. please help us here."
### Description

hii Airflow ,,     i am from mastercard  we looking for airflow which can give access through RBAC (Role based access). and should use our customized python. please help us here.

### Use case/motivation

we have old airflow url ,  but air flow which can provide RBAC access.

### Related issues

ShortComings :---

a)	User has no option to select the worker node , AirFlow randomly

[2022-09-09 08:11] BobDu opened #26262 "helm chart doc Manage DAGs files recommended Bake DAGs in Docker image need improvement."
### What do you see as an issue?

https://airflow.apache.org/docs/helm-chart/1.6.0/manage-dags-files.html#bake-dags-in-docker-image

In this doc , recommended user manage dags way is build in image.

But , ref this issue:
https://github.com/airflow-helm/charts/issues/211#issuecomment-859678503

So, I think bake dags in docker image should not be the most recommended way.

At least. We should say t

[2022-09-09 08:41] #26238 closed

[2022-09-09 08:41] #26227 closed

[2022-09-09 10:20] Bowrna commented on #15353
Could I start adding documentation for this example plugin @mik-laj ?

[2022-09-09 10:22] mik-laj commented on #15353
@Bowrna Assigned.

[2022-09-09 10:57] pierrejeambrun commented on #14529
I would be glad to take a look at this one :)

[2022-09-09 13:28] potiuk commented on #26262
Feel free to propose a PR. It's as easy as clicking "Suggest a change on this page" when you look at the doc,

[2022-09-09 14:49] brunorigal opened #26271 "multiple expand with parallelism maintained"
### Description

I would like to build a graph like this:

[code]

Where the number of vertical tasks (N) is controlled dynamically by the first step computation. A possible solution would be:

[code]

But the task_3 instances start to run only when all the task_2 instance have finished. I would rather group tasks by instances of task_2 and task_3 sharing the same task_num.
An intuitive solution w

[2022-09-09 15:25] patricker opened #26273 "SQLToGCSOperators Add Support for Dumping JSON"
### Description

If your output format for a SQLToGCSOperator is `json`, then any "dict" type object returned from a database, for example a Postgres JSON column, is not dumped to a string and is kept as a nested JSON object.

Add option to dump `dict` objects to string in JSON exporter.

### Use case/motivation

Currently JSON type columns are hard to ingest into BQ since a JSON field in a source

[2022-09-09 15:37] patricker commented on #26273
Also, somewhat unrelated, the `schema` generated if a column is of type "JSON" is for a column of type "STRING". If you try to load the data using the generated schema it will fail if you don't dump the dictionaries to string.

[2022-09-09 15:39] TJaniF opened #26274 "Suggesting to add documentation on how to run Airflow on Windows using WSL"
### What do you see as an issue?

Hi! :)

There currently isn't a page discussing how Airflow can be run on Windows with WSL (other than one mention of WSL on ["Installation from PyPI"](https://airflow.apache.org/docs/apache-airflow/stable/installation/installing-from-pypi.html?highlight=wsl)).
We (@paolaperaza, @kentdanas, @jwitz  and I) discovered this when discussing what to do with the old and

[2022-09-09 15:54] potiuk commented on #26274
I think running Airlfow in WSL2 in production is not something we should recommend, There are multiple implications and problems (ranging from filesystem, networking issuess down to running Airflow in unattended way on Windows server, and making Airlfow to run in "Production" as opposed for "Development of Airflow" shoudl not happen (and adding this info to Installation" page implies running it in

[2022-09-09 16:48] vchiapaikeo opened #26278 "GCSObjectExistenceSensor does not expose retry parameter"
### Apache Airflow Provider(s)

google

### Versions of Apache Airflow Providers

8.3.0

### Apache Airflow version

2.3.4

### Operating System

Debian 11

### Deployment

Official Apache Airflow Helm Chart

### Deployment details

_No response_

### What happened

During routine CloudSQL maintenance, a GCSObjectExistenceSensor failed with the below `sqlalchemy.exc.OperationalError` exception. Wh

[2022-09-09 16:56] jedcunningham commented on #26256
So there are a couple of things going on here.

The first is that the "triggered dagruns" column is empty sometimes. This is being fixed in #26256.

Next is that you expect greater than 1 with the DAGs you are testing with. You have many updates to a single dataset, and a single downstream consumer. With this setup, by definition each dataset event can only trigger a single downstream run - even t

[2022-09-09 16:59] MatrixManAtYrService commented on #26256
Oh I see, so it's not:

But instead:

[2022-09-09 17:15] TJaniF commented on #26274
Thank you for the detailed response! I'm sorry I wasn't aware of the docker in WSL content in the breeze documentation and how close native Airflow on Windows is getting, that is very helpful to know! I'll report back to the team and sorry again for bothering 🙂

[2022-09-09 17:47] patricker opened #26279 "GCSToBigQueryOperator `max_id_key` Feature Throws Error"
### Apache Airflow Provider(s)

google

### Versions of Apache Airflow Providers

8.3.0

### Apache Airflow version

2.3.4

### Operating System

OSX

### Deployment

Virtualenv installation

### Deployment details

_No response_

### What happened

When using the `max_id_key` feature of `GCSToBigQueryOperator` it fails with the error:

[code]

### What you think should happen instead

The max id

[2022-09-09 19:41] potiuk commented on #26274
No problem whatsoever :). And yeah- we are getting very close

[2022-09-09 19:43] sararamasamy opened #26280 "Airflow helm chart - Ingress 404 not found"
### Official Helm Chart version

1.6.0 (latest released)

### Apache Airflow version

airflow-1.6.0

### Kubernetes Version

airflow-1.6.0

### Helm Chart configuration

_No response_

### Docker Image customisations

_No response_

### What happened

I am trying to implement ingress for the airflow and getting 404 not found. ( Its working through port-forward)

### What you think should happen in

[2022-09-09 20:01] patricker opened #26283 "GCSToBigQueryOperator max_id_key Not Written to XCOM"
### Apache Airflow Provider(s)

google

### Versions of Apache Airflow Providers

apache-airflow-providers-google==8.3.0

### Apache Airflow version

2.3.4

### Operating System

OSX

### Deployment

Virtualenv installation

### Deployment details

_No response_

### What happened

`max_id` is not returned through XCOM when `max_id_key` is set.

### What you think should happen instead

When `max_

[2022-09-09 20:46] ashb commented on #26259
This is but design to my mind. Each time a dataset updates the a down stream dag run should be created to process that.

In future we can add some mechanism to give more control over this -- either using `catchup` flag, or some other mechanism that we've talked/hinted/thought about that works also let your control the all/any for multiple datasets.

[2022-09-09 21:07] ashb commented on #26259
Oh! We already have `max_active_runs` on DAG but we aren't respecting that for dataset triggering! Ooos

[2022-09-10 10:33] g-saxena commented on #16101
Hey @eladkal,
Is this issue still open?
can i work on this?