[2021-09-08 22:29] #18075 closed

[2021-09-08 22:30] potiuk commented on #18075
https://pypi.org/project/Flask-OpenID/1.3.0/

[2021-09-08 22:33] potiuk commented on #18028
Released !

[2021-09-08 22:33] #18028 closed

[2021-09-08 22:34] potiuk commented on #18028
@nathadfield - thanks for the tests !

[2021-09-09 06:40] KulykDmytro opened #18108 "DAGs are disappearing from UI when scheduler pod is restarting"
### Apache Airflow version

2.1.2

### Operating System

Linux 5.4.0-73-generic #82-Ubuntu SMP

### Versions of Apache Airflow Providers

_No response_

### Deployment

Other 3rd-party Helm chart

### Deployment details

Deployed by own-developed chart

### What happened

In case when scheduler pod is restarted DAGs are dissapearing for a while (about couple of minutes) until scheduler is fully st

[2021-09-09 07:53] graingert commented on #18075
thanks, can confirm:

[code]

and there's a wheel so no setuptools needed!

[2021-09-09 08:10] NiklasBeierl commented on #11301
Still experiencing this with:
[code]
I am not sure if it should be resolved? Maybe #17397 is not part of any release yet?

[2021-09-09 08:26] potiuk commented on #18075
Yeah. I also released wheel on request of @uranusjr and @kaxil  :).

Glad we could solve it that quickly.

I am going to delete  https://github.com/apache/airflow-flask-openid-fork today.

[2021-09-09 09:03] Vishnu05 opened #18110 "Airflow CORS issue with Angular"
### Apache Airflow version

2.0.0

### Operating System

 Ubuntu 18.04.5 LTS

### Versions of Apache Airflow Providers

_No response_

### Deployment

Virtualenv installation

### Deployment details

_No response_

### What happened

CORS origin could not be enabled with airflow.cfg. We tried to trigger DAGs from Angular UI
Angular version: 12+
Node.js version: 16+

Access to XMLHttpRequest at 'ht

[2021-09-09 09:14] NiklasBeierl commented on #11301
So after much pain and agony, I was able to get up and running again by fixing the flower version to:
[code]
This worked with airflow 2.1.3 and 2.0.2.
If you are trying to apply this fix be careful to install flower AFTER airflow, since installing airflow will bump flower to 1.0.0.

[2021-09-09 09:56] shlomi-viz opened #18111 "HeadObject error when trying to upload file to S3"
### Apache Airflow Provider(s)

amazon

### Versions of Apache Airflow Providers

[code]

### Apache Airflow version

2.0.2

### Operating System

Mac and Linux

### Deployment

MWAA

### Deployment details

_No response_

### What happened

When trying to upload a file to another AWS account using the `load_file` function, I got the following
[code]
looking at source code the error is from
[code]

[2021-09-09 10:13] potiuk commented on #11301
Interesting. The Celery 5 support is coming only in Airflow 2.2. There were some changes needed to convert airflow to work with the new celery and flower - https://github.com/apache/airflow/pull/17397/files so I am not really sure if what you have now @NiklasBeierl  will work for all cases.

[2021-09-09 10:20] potiuk commented on #18108
This is a problem with your deployment/custom chart.

You likely do not perform initial DAG sync when you restart the scheduler.

Before scheduler starts you need to make sure (for example with an initcontainer) that the DAGs are synchronized  fully at least once. Otherwise scheduler starts with empty folder and thinks that the DAGs were deleted.

This is what is done using our Official Helm Chart

[2021-09-09 10:20] #18108 closed

[2021-09-09 10:23] bhavaniravi commented on #18082
I was able to reproduce is locally, working towards creating a PR for the same

[2021-09-09 10:50] #14924 closed

[2021-09-09 10:52] eladkal commented on #15269
@jacobhjkim are you still working on this issue?

[2021-09-09 10:54] jacobhjkim commented on #15269
I'm not working on this issue. I think we can close it for now.

[2021-09-09 10:54] #15269 closed

[2021-09-09 11:04] eladkal commented on #18111
`load_file` has `replace` parameter (default False)
https://github.com/apache/airflow/blob/43f595fe1b8cd6f325d8535c03ee219edbf4a559/airflow/providers/amazon/aws/hooks/s3.py#L499-L500
You don't set it in your example so it will not try to overwrite existed key.

Is your suggestion only catch the error from the API and change it to an Airflow error?
You are always welcome to open PR directly with yo

[2021-09-09 11:38] shlomi-viz commented on #18111
I want it to be able to upload a file in any case (file already exists or not), I know about the `replace` flag, but I also want to cover the case when the file doesn't exists.

My suggestion is to catch the error and allow the upload, without adding another error. It will be something like, updating:
[code]

to:

[code]

shortest PR ever 😆  I will try to submit one next week.

[2021-09-09 11:39] lssatvik opened #18113 "callback functions not called when a dag run is marked success or failure"
### Apache Airflow version

2.1.1

### Operating System

Ubuntu 20.04.3 LTS

### Versions of Apache Airflow Providers

apache-airflow-providers-amazon==2.0.0
apache-airflow-providers-celery==2.0.0
apache-airflow-providers-cncf-kubernetes==2.0.0
apache-airflow-providers-databricks==2.0.0
apache-airflow-providers-ftp==2.0.0
apache-airflow-providers-imap==2.0.0
apache-airflow-providers-mysql==2.0.0
a

[2021-09-09 12:54] pablorecio opened #18114 "TaskFlow API DAGs not working when the files are inside a .zip file."
### Apache Airflow version

2.1.3 (latest released)

### Operating System

Debian GNU/Linux 10 (buster)

### Versions of Apache Airflow Providers

apache-airflow-providers-amazon==2.1.0
apache-airflow-providers-celery==2.0.0
apache-airflow-providers-cncf-kubernetes==2.0.2
apache-airflow-providers-docker==2.1.0
apache-airflow-providers-elasticsearch==2.0.2
apache-airflow-providers-ftp==2.0.0
apache

[2021-09-09 13:08] cansjt opened #18116 "Methods `TaskInstance.get_previous_execution_date()` & `TaskInstance.get_previous_ti()` are lying !"
### Apache Airflow version

2.1.3 (latest released)

### Operating System

Linux

### Versions of Apache Airflow Providers

Irrelevant

### Deployment

Other

### Deployment details

Irrelevant

### What happened

The method `TaskInstance.get_previous_execution_date()` asks a state, which logically means you should get as a return value the execution date of the same tasks, with the given state.

[2021-09-09 13:35] robinedwards opened #18118 "Exception within LocalTaskJob._run_mini_scheduler_on_child_tasks brakes Sentry Handler"
### Apache Airflow version

2.1.3 (latest released)

### Operating System

Debian GNU/Linux 10 (buster)

### Versions of Apache Airflow Providers

[code]

### Deployment

Other Docker-based deployment

### Deployment details

We are using the Sentry integration

### What happened

An exception within LocalTaskJobs mini scheduler was handled incorrectly by the Sentry integrations 'enrich_errors' me

[2021-09-09 14:17] uranusjr commented on #18116
There was another issue on this recently but I couldn’t find it right now. The bottom line is this method is like this since, like, forever, and we can’t just change it now.

From what I can tell, `get_previous_ti(state)` is _never_ intended to be used as a public API (only `get_previous_ti()` with, which gives you the previous TaskInstance as the name suggests), so perhaps we should separate the

[2021-09-09 14:35] cansjt commented on #18116
Sorry if this is a duplicate. I searched the methods names, but could not find anything.

I am not sure I understand what you mean about these method not being public. In the context of an operator comes the `TaskInstance` instance. It has been so since forever too. So I would consider all public methods of the `TaskInstance` class to be public API. By extension any object reachable from the conte

[2021-09-09 14:44] uranusjr commented on #18116
The method is only made public in 2.0, so definitely not since forever. Yes it’s currently public (technically not all public methods are public API, only documented ones, but that distinction is not relevant here), but I was saying it was never _intended_ to be public (at least the `state` argument is not), so we should fix that.

[2021-09-09 14:54] potiuk commented on #18116
Agree with @uranusjr - we should likely deprecate the parameter (and replace it with an internal/non-public method) and remove the parameter  in Airflow 3.

[2021-09-09 15:08] ashb commented on #18069
The config option is fine, but the number of Tasks in a DAG _shouldn't_ have any bearing on the number of requests made (it should be a single request per use on a Graph or Tree View page).

[2021-09-09 17:11] cansjt commented on #18116
Too bad, I find it useful.

[2021-09-09 18:18] rachelwigell commented on #18069
Hmm okay. We were able to observe pretty clearly that when we had tree view open, with auto-refresh on, looking back over 365 DAG runs, of which about 30 were in the running state, our webserver ground to a halt and CPU was at 100%. When we closed that tab it recovered. I can do some experimentation in my dev environment tonight to see if I can nail down what exactly strains the CPU so much. It co

[2021-09-09 19:24] josh-fell opened #18124 "Cannot retrieve Authentication Method in AzureDataExplorerHook using the custom connection fields"
### Apache Airflow Provider(s)

microsoft-azure

### Versions of Apache Airflow Providers

apache-airflow-providers-microsoft-azure==1!3.1.1

### Apache Airflow version

2.1.3 (latest released)

### Operating System

Debian GNU/Linux

### Deployment

Astronomer

### Deployment details

_No response_

### What happened

When attempting to connect to Azure Data Explorer, the following exception is t

[2021-09-09 20:00] andrey-anshin-godel opened #18125 "Create pytest plugin for prepare test environment"
### Description

Hi community,

Currently when I've created some kind of test of Dags, Operators and etc. I use approach to configure all variables before import anythings from Apache Airflow (internal plugin) same approach use internally for Apache Airflow (conftest.py) and I think also I lot of people who care about "not deploy until tests passed" do same steps.

I would be nice if we can create

[2021-09-09 20:33] mik-laj commented on #18125
I think it would be a better idea to prepare a sample repository, which will contain example tests, that everyone can analyze to inspire themselves in their project. I even started working on something similar, but didn't find the time to finish it. https://github.com/mik-laj/airlfow-testing-example  If you are interested, feel free to contribute.

We currently have documentation that describes ho

[2021-09-09 20:37] josh-fell commented on #18102
This is a symptom of connections using both custom fields and the classic `Extras` field in the connection form.  [This PR](https://github.com/apache/airflow/pull/17269) will fix the collision issue between the custom fields (which use `Extras` under the hood) and classic `Extra` values but it's definitely a good idea if there were explicit fields in the connection form for the parameters that are

[2021-09-09 20:39] mik-laj commented on #18110
Support for CORS has been added in Airflow 2.1.0, so it is not available in Airflow 2.0.0. See: https://github.com/apache/airflow/pull/13620

https://github.com/apache/airflow/blob/main/CHANGELOG.txt

[2021-09-09 20:41] #18110 closed

[2021-09-09 20:46] ashb commented on #16371
Closed by https://github.com/apache/airflow/pull/18084

[2021-09-09 20:46] #16371 closed

[2021-09-09 22:17] hpatel-higi opened #18127 "Fernet InvalidToken"
### Apache Airflow version

2.1.3 (latest released)

### Operating System

Linux

### Versions of Apache Airflow Providers

apache-airflow-providers-apache-hive==2.0.2
apache-airflow-providers-ftp==2.0.0
apache-airflow-providers-http==2.0.0
apache-airflow-providers-imap==2.0.0
apache-airflow-providers-jdbc==2.0.0
apache-airflow-providers-postgres==2.0.0
apache-airflow-providers-slack==4.0.0
apache

[2021-09-09 22:30] mik-laj commented on #18127
In case you do not set the fernet key, Airflow will generate a new key, which means that if you restart the container, you may lose access to the key. You should explicitly define the key in docker-compose.yaml. You can also set an empty string to disable encryption.
Here is example:
https://github.com/apache/airflow/blob/2fd3f27ebd2a4f695968fb7cc5d119e087820928/docs/apache-airflow/start/docker-co

[2021-09-09 22:30] #18127 closed

[2021-09-09 22:35] hpatel-higi commented on #18127
In my entrypoint.sh file i have this line of code to generate the fernet key

```: "${AIRFLOW__CORE__FERNET_KEY:=${FERNET_KEY:=$(python -c "from cryptography.fernet import Fernet; FERNET_KEY = Fernet.generate_key().decode(); print(FERNET_KEY)")}}"```

Are you saying that i should not generate it in the entrypoint.sh but instead just provide it in the docker-compose file??

This worked like this in

[2021-09-09 23:14] #18118 closed

[2021-09-09 23:15] mik-laj commented on #18127
I don't understand why it worked in Airflow 1.10, but generating a new key every time the container is started will definitely not allow the data to be decrypted. You must use the same key for encryption and decryption.

You may not have had Fernet at all in Airflow 1.10 as it requires the installation of the crypto package.  In Airflow 2.0, the fernet is turned on by default and you can turn it o

[2021-09-09 23:21] #17198 closed

[2021-09-09 23:41] #17694 closed

[2021-09-09 23:43] #17038 closed

[2021-09-10 00:06] #17241 closed

[2021-09-10 00:40] hpatel-higi commented on #18127
I actually have the crypto package installed in my airflow 1.10.8 docker container.

here is the pip freeze:

[code]

[2021-09-10 00:47] zyong-moveworks opened #18131 "Airflow scheduler stuck with large DAG and concurrency limit"
### Apache Airflow version

2.1.3 (latest released)

### Operating System

ubuntu

### Versions of Apache Airflow Providers

apache-airflow-providers-amazon==2.1.0
apache-airflow-providers-apache-hive==2.0.1
apache-airflow-providers-celery==2.0.0
apache-airflow-providers-ftp==2.0.0
apache-airflow-providers-http==2.0.0
apache-airflow-providers-imap==2.0.0
apache-airflow-providers-postgres==2.0.0
ap

[2021-09-10 02:13] rachelwigell commented on #18069
Yeah I haven't quite been able to locally replicate the same severe effects on CPU we saw a few days ago. I do see that we are indeed making just one request to populate the tree view regardless of whether I have many active tasks or DAG runs. Of course, that request has to do more work if there are lots of tasks to iterate over, but the n's here don't seem like enough to tank a server. Regardless

[2021-09-10 03:32] r-richmond commented on #18051
Ty @ephraimbuddy for the update. I was about to proceed with cherry picking #17945 and your comment saved me some extra experimentation work.

[2021-09-10 06:44] laserpedro commented on #17507
Update: I have increase the `scheduler_heartbeat_sec` to 60 sec instead of 5 sec and it seems to be "ok" for now so maybe a pb on the postgresql backend ...

[2021-09-10 07:25] ephraimbuddy commented on #18041
@laserpedro It will be very helpful if you can provide a simple dag to reproduce this behaviour.

[2021-09-10 08:26] eladkal commented on #18031
I find no value with the current SLA feature. I don't know many people who are using it due to it's limitations.
 I would say that a better approch is to deprecate the current SLA feature and replace it with a new one. I'm willing to pick up some tasks on that project if we decide to move forawrd with it.

[2021-09-10 08:48] Taragolis commented on #18125
Most probably my explanation not clear.
I shouldn't have created it in midnight, I even wasn't  use my main account :-)

Let me explain wit some sample, probably after that my suggestion become more clear

Fist of all, I've prepared some sample Gist with [simple plugin](https://gist.github.com/Taragolis/766c699f3f9a0065765bfedf5eacc633) for Airflow

Main idea is just plugin which will able to inst

[2021-09-10 09:15] eladkal commented on #18089
@theagilehacker feel free to submit PR with a fix

[2021-09-10 09:19] lvjg opened #18133 "bulk_sync_to_db got UnicodeDecodeError when Chinese characters in dag code"
### Apache Airflow version

main (development)

### Operating System

centos7

### Versions of Apache Airflow Providers

_No response_

### Deployment

Other

### Deployment details

_No response_

### What happened

![image](https://user-images.githubusercontent.com/2542162/132831151-30222d59-6604-4df6-9ff6-7c7cd8cebaec.png)

### What you expected to happen

dagcode._get_code_from_file open filel

[2021-09-10 09:32] eladkal commented on #17336
Correct me if i'm wrong but if `json_format=True` and `asctime` isn't in `json_fields` then you can't reference `asctime`
 in `log_format`

[2021-09-10 10:03] uranusjr commented on #18133
You probably need this: https://stackoverflow.com/a/27931669/1376863

Although explicitly using UTF-8 is probably a correct thing to do anyway. IIRC the source code read here is only used for UI display? Always using UTF-8 would be OK if that’s the case.

[2021-09-10 10:04] raefezzeldin opened #18135 "Dags persistence on MultiNode Kubernetes Cluster"
### Apache Airflow version

2.1.3 (latest released)

### Operating System

Official image os

### Versions of Apache Airflow Providers

_No response_

### Deployment

Official Apache Airflow Helm Chart

### Deployment details

Helm chart
Azure Kubernetes Cluster K8s version1.18
Kubernetes executor

### What happened

When enable dag persistence feature on aks with 2 agent pool node and try to use

[2021-09-10 10:04] potiuk commented on #18133
Just started to answer when @uranusjr  did  :) ,. so to repeat - as a solution for now you need to set the encoding properly via LANG* variables in your environment (for all components):
https://stackoverflow.com/questions/2276200/changing-default-encoding-of-python

Airflow will use default encoding from the system. We are working on hard-conding utf8 for other parts #17965 - this might be a nice

[2021-09-10 10:09] potiuk commented on #18135
You need to share the disks between the node. Airflow does not support separate volumes per schedule. Your persistent volume claim has to be one of the distributed fllesystems that are accessible from multiple nodes: https://kubernetes.io/docs/concepts/storage/persistent-volumes/#types-of-persistent-volumes

[2021-09-10 10:09] #18135 closed

[2021-09-10 10:20] potiuk commented on #18031
Yeah. I think we should have a more comprehensive/better/complete/usable SLA implementation replacing the current one.

[2021-09-10 10:21] nwalens opened #18136 "Allow airflow standard images to run in openshift utilising the official helm chart"
### Description

Airflow helm chart is very powerful and configurable, however in order to run it in a on-premises openshift 4 environment, one must manually create security context constraints or extra RBAC rules in order to permit the pods to start with arbitrary user ids.

### Use case/motivation

I would like to be able to run Airflow using the provided helmchart in a on-premises Openshift 4 i

[2021-09-10 10:24] potiuk commented on #18136
Good Idea. While the Airflow Official Image supports Open-Shift  arbitrary user, the Charts might indeed need some modifications to be able to support it out-of-the-box cc: @jedcunningham ?

[2021-09-10 10:24] potiuk commented on #18136
Happy to help with review @nwalens !

[2021-09-10 11:37] potiuk commented on #18131
I believe this is duplicate of #17786 and fix will come in 2.1.4 (shortly). @ephraimbuddy - can you confirm?

[2021-09-10 11:52] lvjg commented on #18133
thanks~

solved...
It is more recommended that we can set the encoding...

[2021-09-10 11:52] lvjg commented on #18133
thanks!!!

[2021-09-10 12:19] ephraimbuddy commented on #18131
The fix is https://github.com/apache/airflow/pull/18061, #17786 fixed a case where task instance from queued dagrun could be started.

[2021-09-10 12:22] ashb commented on #18069
Yeah, absolutely no problem with your PR, I was just a bit surprised by the effects!

[2021-09-10 12:36] potiuk commented on #18131
Closing then and marking as 2.1.4

[2021-09-10 12:36] #18131 closed

[2021-09-10 13:36] yavuzmester commented on #17507
I also got the same error and I am using `run_as_user`.
I tried changing the BashOperator to PythonOperator and it worked for me.
In detail:

- Create a function that runs your bash things (e.g. for me it was a bash script, I called the script using subprocess.Popen in this function.)
- Specify that function in the `python_callable` argument of the PythonOperator.

Hope that helps.

[2021-09-10 14:15] jedcunningham opened #18146 "Deferred TI's `next_method` and `next_kwargs` not cleared on retries"
### Apache Airflow version

main (development)

### Operating System

macOS 11.5.2

### Versions of Apache Airflow Providers

_No response_

### Deployment

Virtualenv installation

### Deployment details

_No response_

### What happened

If your first try fails and you have retries enabled, the subsequent tries skip right to the final `next_method(**next_kwargs)` instead of starting with `execut

[2021-09-10 15:22] jedcunningham commented on #18136
@nwalens, I'm also happy to help! Ping us on slack in #helm-chart-official if you get stuck or want/need to chat about this 👍.

[2021-09-10 15:44] nwalens commented on #18136
Hi @jedcunningham  and @potiuk, thanks for the support!

I have just create a pull request (#18147) addressing this issue.

Thanks a lot!

[2021-09-10 15:45] yavuzmester commented on #17507
I am using BashOperator with run_as_user. For me I think it is related to the `eval` line I have in my bash script. Because I got the error just after the `eval` line executes.
Previously I tried a workaround, thought that it worked but seems the issue is still there. So deleted that comment not to create confusion.

[2021-09-10 17:13] hpatel-higi commented on #18127
Here is a screenshot of the connections page from the airflow 1.10.8 website.  You can see the connections are marked as Encrypted.

![image](https://user-images.githubusercontent.com/67915750/132891908-e5a0fa4b-c6b7-4678-bdc4-9d21e7bdae34.png)

[2021-09-10 18:13] #18066 closed

[2021-09-10 19:08] #18053 closed

[2021-09-10 19:40] bmckallagat-os opened #18155 "Upgrade `importlib-resources` version"
### Description

The version for `importlib-resources` constraint sets it to be [v1.5.0](https://github.com/python/importlib_resources/tree/v1.5.0) which is over a year old. For compatibility sake (for instance with something like Datapane) I would suggest upgrading it.

### Use case/motivation

Upgrade a an old dependency to keep code up to date.

### Related issues

Not that I am aware of, maybe

[2021-09-10 19:46] potiuk commented on #18155
Feel free. It is configured in setup.cfg - you need to change it and see what happens when all tests run. If all tests pass, we will merged. Remember that importlib_resources are backport of the 3.9 native library and we need to make sure we are compatible with 3.6 - 3.9.

[2021-09-10 19:56] bmckallagat-os commented on #18155
Got it! Will do.

[2021-09-10 20:01] subkanthi commented on #17310
Interestingly there are no issues running breeze on mac os (m1), but getting this error in a Linux VM(Ubuntu) Parallels.
Need to check if docker on Mac is emulating x86.

[2021-09-10 20:05] potiuk commented on #17310
Never saw this issue on my linux/chromebook/os :(

[2021-09-10 20:06] potiuk commented on #17310
BTW. Try --python 3.6 :)

[2021-09-10 20:08] subkanthi commented on #17310
`Step 64/90 : RUN ln -sf /usr/bin/dumb-init /usr/local/bin/dumb-init
 ---> Using cache
 ---> 8bc2b7e35a64
Step 65/90 : COPY airflow/www/yarn.lock airflow/www/package.json ${AIRFLOW_SOURCES}/airflow/www/
 ---> Using cache
 ---> 2101286441e1
Step 66/90 : RUN yarn --cwd airflow/www install --frozen-lockfile --no-cache && yarn cache clean
 ---> Using cache
 ---> 9c2480204136
Step 67/90 : COPY setup.py

[2021-09-10 20:16] potiuk commented on #17310
Ah yeah. I believe the Docker Desktop for Mac has fixed the emulation but Parallels on ARM still does not have it :(

[2021-09-10 20:27] john-jac commented on #15538
I'm happy to take this one if it's still free

[2021-09-10 22:35] #18069 closed

[2021-09-11 00:05] #10210 closed

[2021-09-11 00:05] #9780 closed

[2021-09-11 06:28] Narendra-Neerukonda commented on #18133
In Airflow 2.1.3, there is an option in core for store_dag_code, which if set to True, stores the dag code in DB and UI retrieves it from there (nelow snippet from 2.1.3):
`    @classmethod
    def code(cls, fileloc) -> str:
        """Returns source code for this DagCode object.

        :return: source code as string
        """
        if STORE_DAG_CODE:
            return cls._get_code_from_db

[2021-09-11 08:10] george-zubrienko commented on #17507
In our case with Kubernetes Executor it definitely seems scheduler related. In a DAG with 55 tasks, around a third receives sigterm shortly after starting and then goes into a retry loop with Pid X does not match Pid Y. It was fixed after I reduced pool size from 128 (all tasks queued at the same time) to 32, so 23 tasks were left in scheduled state. After I reverted the pool change, issue came ba

[2021-09-11 08:48] ephraimbuddy commented on #18023
Resolved by #18065

[2021-09-11 08:48] #18023 closed

[2021-09-11 11:30] uranusjr commented on #18133
I believe Airflow also uses platform encoding when initially reading the source code out to store into the database. This would likely still an issue if that’s the case.

[2021-09-11 12:27] potiuk commented on #15538
feel free!

[2021-09-11 12:28] potiuk commented on #18050
I think we have to query the connections anyway ;) so why not a short loop :)

[2021-09-11 13:06] uranusjr commented on #18050
The problem with quering is it could be quite expensive to find the correct number if you have a ton of existing `_copyX`, the time complexity is polynomial. IMO it’s good enough to simply refuse to duplicate `_copy1` if `_copy2` already exists amd show an error message to tell the user to first rename `_copy2` or duplicate `_copy2` instead.

[2021-09-11 16:14] BasPH commented on #18050
Copies will be created after a user action so I can't imagine ever having to query for e.g. 10000 connections to find N. In my opinion it's not very user-friendly to refuse `copy2`.

To mitigate querying the DB for every copy we could implement e.g. a `search_connection` method which queries `filter(Connection.conn_id.startswith(search_id))` and find N in code?

[2021-09-11 16:21] potiuk commented on #18050
Pragmatic proposal (which I mentioned in the PR) is to have for loop with 1-10 and try them in sequence (and fail if we already have 10 copies).   I can imagine someone making 2-3 copies, but really if someone tries to create 10th copy from the UI, it can fail. I am mostly thinking about a user trying to have several variants of the same connection one after another, which is rather likely (but un

[2021-09-11 17:48] #17652 closed

[2021-09-11 19:22] angel9484 opened #18172 "install of airflow fails in argoCD because post-install hook in migrate-database-job.yaml"
### Official Helm Chart version

1.1.0 (latest released)

### Apache Airflow version

2.1.2

### Kubernetes Version

1.18

### Helm Chart configuration

no configuration

### Docker Image customisations

no customization

### What happened

if we install airflow against argoCD, argoCD synchronizes all, then webserver and scheduler tries to run, inits with the wait-for-migrations but the job from m

[2021-09-11 20:04] mik-laj commented on #18172
Duplicate: https://github.com/apache/airflow/issues/17447

[2021-09-11 20:04] #18172 closed

[2021-09-11 20:18] #17693 closed

[2021-09-11 22:41] dsubhasis opened #18178 "Neo4j can't connect"
### Apache Airflow Provider(s)

neo4j

### Versions of Apache Airflow Providers

apache-airflow-providers-celery==1.0.1
apache-airflow-providers-cncf-kubernetes==1.0.2
apache-airflow-providers-ftp==2.0.0
apache-airflow-providers-google==5.0.0
apache-airflow-providers-http==2.0.0
apache-airflow-providers-imap==2.0.0
apache-airflow-providers-jdbc==2.0.1
apache-airflow-providers-neo4j==2.0.0
apache-a

[2021-09-11 22:46] mik-laj commented on #18178
Do you use constraints files to install Airflow? http://airflow.apache.org/docs/apache-airflow/stable/installation.html#constraints-files

[2021-09-12 00:00] subkanthi commented on #18050
My opinion also sides with @BasPH , to query with a regex pattern to find all the connections which has _copy[0-9], but should we add a column to indicate that it was a duplicate, what are the chances that the user will also create a connection with the same syntax

[2021-09-12 00:55] dsubhasis commented on #18178
My installation is as follows:

CONSTRAINT_URL="
https://raw.githubusercontent.com/apache/airflow/constraints-2.1.3/constraints-3.6.txt
"
AIRFLOW_VERSION=2.1.3

pip install "apache-airflow[postgres,neo4j]==${AIRFLOW_VERSION}"
--constraint "${CONSTRAINT_URL}"

On Sat, Sep 11, 2021 at 3:46 PM Kamil Breguła ***@***.***>
wrote:

[2021-09-12 03:05] david30907d commented on #17558
bumped into the same issue, `DummyOperator` failed immediately with any log

[2021-09-12 05:21] vumdao opened #18183 "TypeError: cannot pickle '_thread.lock' object"
### Apache Airflow version

2.1.3 (latest released)

### Operating System

Kubernetes version: eks 1.18 - using Celery executor

### Versions of Apache Airflow Providers

apache/airflow:2.1.3-python3.9

### Deployment

Other 3rd-party Helm chart

### Deployment details
Environment: Kubernetes cluster using Celery executor

[code]

### What happened

Running a DAG with 3 subDags, each subDag runs m

[2021-09-12 07:06] Vishnu05 commented on #18110
@mik-laj Thanks man, After upgrading the airflow to 2.1.0. I'm able to access and trigger airflow API via Angular.

Thank you so much!. It helped and resolved.

[2021-09-12 07:26] angel9484 commented on #17447
Coming from #18172

Good idea!

I think that beyond to solve what technology is behind the behavior of the object scheduling order (argocd, vanilla helm...), the wait-for-migrations initContainer should be removed and separate the responsabilities of the migration job and the correct startup of the airflow parts. Is a solution more complex compared yours but I think is better in a long term

Kind

[2021-09-12 08:04] eladkal commented on #17558
There isn't enough information to understand what is the issue.
Please add reproduce steps.
I would suggest to file a new issue as this one is on Airflow 1.10.12 which is EOL and author reported the issue has gone away when upgraded to Airflow 2

[2021-09-12 08:08] eladkal commented on #18102
@weiminmei Can you please check if the issue still happens in `2.2.0b1` ?
The release includes https://github.com/apache/airflow/pull/17269 which should solve your issue.

[2021-09-12 08:22] yevsh commented on #17395
Is there ETA for the release?

[2021-09-12 08:26] Narendra-Neerukonda commented on #18133
I looked into the source code where it's loading dags from files. It's using importlib at airflow.models.dagbag.DagBag:_load_modules_from_file/_load_modules_from_zip, called from airflow.models.dagbag.DagBag:process_file

I'm not aware of the encoding importlib is using internally. But, in the case of this specific issue, user's dag was loaded properly problem faced was to only display the code in

[2021-09-12 08:32] potiuk commented on #18133
Looks lie importlib indeed always uses utf8 unless otherwise specified: https://docs.python.org/3/library/importlib.html#importlib.resources.open_text

[2021-09-12 08:36] potiuk commented on #17395
We just released Beta version of 2.2: https://lists.apache.org/thread.html/r84ac8e69bd25d6a3153bf537975f41be6cc987502ae80679dc36bf17%40%3Cdev.airflow.apache.org%3E

Basically the sooner people start testing it, and report issues and we fix them - the sooner we releaseit. So the best way you can do to speed up the release is take the beta for the spin and start testing it today :)

[2021-09-12 09:15] potiuk commented on #18178
For me it looks like if you had a  `neo4j.py` file in your PYTHONPATH (maybe your dag is named like that? Seems that Python interpreter sees `neo4j` as module rather than package.

[2021-09-12 09:15] #18178 closed

[2021-09-12 10:27] menthamin opened #18186 "[Webserver] AttributeError: '_UnboundLoad' object has no attribute 'options'"
### Apache Airflow version

2.1.3 (latest released)

### Operating System

Ubuntu 18.04.5 LTS

### Versions of Apache Airflow Providers

_No response_

### Deployment

Virtualenv installation

### Deployment details

_No response_

### What happened

[code]

I am getting the above error when logging in from the webserver.

OS : Ubuntu 18.04.5 LTS
Python : 3.8.8(virtualenv)
Airflow : 2.1.3

### Wha

[2021-09-12 10:41] menthamin commented on #18186
I solved the problem by reinstalling airflow-related packages with the following command.

[code]

It seems to be a SQLAlchemy dependency problem

[code]

[2021-09-12 10:42] #18186 closed

[2021-09-12 12:43] Taragolis opened #18188 "NoResultFound raises in UI when access to Task Instance Details"
### Apache Airflow version

2.2.0b1 (beta snapshot)

### Operating System

Linux (`5.13.13-zen1-1-zen #1 ZEN SMP PREEMPT Thu, 26 Aug 2021 19:14:35 +0000 x86_64 GNU/Linux`)

### Versions of Apache Airflow Providers

<details><summary> pip freeze | grep apache-airflow-providers</summary>
apache-airflow-providers-amazon==2.1.0<br>
apache-airflow-providers-celery==2.0.0<br>
apache-airflow-providers-cn

[2021-09-12 15:25] vmalakhin opened #18190 "Docker image - Migrate to 3.x-slim-bullseye from 3.x-slim-buster"
### Description

Currently docker images are produced based on top of 3.x-slim-buster python and as a result output inherits related debian vulnerabilities.

### Use case/motivation

Migrate to the latest debian release (bullseye was released around a month ago) for docker images.

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### C

[2021-09-12 16:07] uranusjr commented on #18050
The problem with a partial match is that `LIKE` queries (which is what I imagine `startswith()` would produce) can easily end up producing a table scan, so I’d be extremely wary to the proposal unless someone carefully analyses the situations for all database backends we support. A practical 0-9 (or 1-10, don’t remember what scheme we’re using right now) would work though since we can simply flatt

[2021-09-12 16:09] potiuk commented on #18190
Good point. Assigned you to it. It should be started with changing base image in both ci and  prod image but you should make sure to a) update documentation b) update all the scripts where some extra software is installed (for example we install libraries from buster repositories). And there will lilkely be few other problems - like installing Java (we have some recipes there that will likely need

[2021-09-12 16:40] AnweshaSen commented on #220
Hi all, I want to have a dynamic list with value from a previously executed step on every time run, upon that list I will be iterating and generating dynamic steps.
I have tried with setting an airflow variable but it does not seem to work, since it's taking the initial value as [] and generating a broken structure.
Any suggestion, how to do that ?

[2021-09-12 16:45] potiuk commented on #17381
CC: @ephraimbuddy - maybe somethig worth looking at for 2.2 Seems like quite easy to reproduce.

[2021-09-12 17:28] potiuk commented on #16737
The problem is most likely connected with the use PageCache - see extensive discussion in #14924.

The growing memory observed was most likely just growing cache, which is normal in case of writing log files and not rotating the files afterwards. The log files are cached and the cache is never cleaned until there is enough memory or you reach the maximum cache size configured in the kernel.

This

[2021-09-12 17:28] #16737 closed

[2021-09-12 17:29] potiuk commented on #16737
Duplicate of ##14924.

[2021-09-12 17:43] potiuk commented on #17956
Unfortunately, it's not easy to reproduce it, Do you have more details on this issue? We need full stack trace, not only end of it.

Do you have a some reproduction path we can follow to reproduce it? I will turn it into discussion now until we g

[2021-09-12 17:44] #17956 closed

[2021-09-12 17:57] #16834 closed

[2021-09-12 19:30] ramsesrm opened #18193 "/admin/metrics/ fails if using MySQL < 8 as ROW_NUMBER() is not available"
### Apache Airflow version

2.1.3 (latest released)

### Operating System

Ubuntu 20.10

### Versions of Apache Airflow Providers

apache-airflow-providers-amazon==2.1.0
apache-airflow-providers-celery==2.0.0
apache-airflow-providers-cncf-kubernetes==2.0.2
apache-airflow-providers-docker==2.1.0
apache-airflow-providers-elasticsearch==2.0.2
apache-airflow-providers-ftp==2.0.0
apache-airflow-provide

[2021-09-12 20:56] potiuk commented on #18193
Just out of the curiosity - where did you take the "/admin/metrics" endpoint from ? I guess it is something you have in your deployment that your admins wrote, because I cannot find such endpoint in airflow. Maybe you can point me to one and I am missing something, but i tried to find it and could not.

I am converting that into discussion until we classify it as an Airflow issue.

[2021-09-12 20:56] #18193 closed

[2021-09-13 03:36] goodhamgupta commented on #16728
@potiuk, @uranusjr  Sorry for the noise, but I would appreciate any hints you might be able to provide 😄

[2021-09-13 06:24] laserpedro commented on #17507
I will revert also to lastest 2.0 version available: however I do not know what impact it will have on the metadata db (need a downgrade or sth like that) ...

[2021-09-13 07:26] EtsuNDmA commented on #17336
@eladkal  the way I see it this comment before `json_format` says that json specific fields will be used instead of default `log_format`
[code]

It's confusing that we should change json_fields in elasticsearh section and sync it with log_format in logging section. `log_format` furthermore used by many other handlers such as `processor_manager` and `processor`. I think that `json_fields` should be

[2021-09-13 07:36] vmalakhin commented on #18190
Sure,  will do. Thanks.

[2021-09-13 07:56] ephraimbuddy commented on #18114
@pablorecio I was wrong. The above did not resolve this. Tested in 2.1.4rc1. Wondering why it works in main. Are you willing to look into this or I should?

[2021-09-13 08:09] uranusjr commented on #16728
If you meant `template_ext` contains `.json`, that only affects the listed `templated_fields`. I think OP wants to be able to pass a path from the “Trigger DAG” page’s param field, which is a completely different thing.

[2021-09-13 08:16] uranusjr commented on #18188
Coiuld you describe what would show in the *Task Instance Attributes* field in that case? (I think I know, but it’d be nice to have someone to confirm this.)

[2021-09-13 08:17] david30907d commented on #17558
Hi @eladkal any suggestions to get the log? I'm using 2.1.3 and have no idea how to provide more details

[2021-09-13 08:37] pablorecio commented on #18114
Hey @ephraimbuddy thanks for taking a look. I could try but may not have enough time these days. Where would you suggest to start looking? I'm not very familiar with airflow's codebase.

[2021-09-13 10:49] bbovenzi commented on #18009
Could you include a gif of your specific issue? We have a few issues with Task Groups in tree view and I want to makre sure we distinguish them all as I work on a full solution.

Related: #13242 #16112

[2021-09-13 11:15] ephraimbuddy commented on #18114
I will be taking a look. Just got a slightly different error from it now in main:

[code]

[2021-09-13 11:35] Taragolis commented on #18188
It would be nice if it show the same information that it shows in current stable - `2.1.x`
In case if no DagRun created before it uses current date-time as execution date (my assumptions)

**Task Instance Attributes - 2.1.2**
![image](https://user-images.githubusercontent.com/3998685/133074323-db10a14e-e695-4cb7-882c-87fe551b66cc.png)

However probably it not possible any more and at least it woul

[2021-09-13 13:08] ephraimbuddy commented on #17381
This is also another way to trigger the log: `Executor reports task instance <TaskInstance: datalake_db_cdc_data_integrity.check_integrity_core_prod_my_industries 2021-06-14 00:00:00+00:00 [queued]> finished (failed) although the task says its queued. (Info: None) Was the task killed externally?` which currently sets the tasks to failed state instead of up-for-retry if the task has retries.

It se

[2021-09-13 14:16] uranusjr opened #18204 "POST /api/v1/users fails with exception"
### Apache Airflow version

main (development)

### Operating System

From Astronomer’s QA team

### Versions of Apache Airflow Providers

_No response_

### Deployment

Astronomer

### Deployment details

_No response_

### What happened

When adding a new user, The following exception is emitted:

[code]

The immediate cause to this exception is F.A.B. returns `False` when it fails to add a new

[2021-09-13 14:28] uranusjr commented on #18204
On further investigating, the problem seems to be the email field, F.A.B. seems to have a UNIQUE key on it. I’ll do a PR.

[2021-09-13 16:11] #18100 closed

[2021-09-13 17:43] #8568 closed

[2021-09-13 18:07] eladkal commented on #8568
Thank you @ryanyuan 🙏

[2021-09-13 18:14] #18146 closed

[2021-09-13 18:17] #18155 closed

[2021-09-13 18:31] phemmmie opened #18213 "airflow bug"
### Apache Airflow version

2.1.3 (latest released)

### Operating System

mac Os big sur

### Versions of Apache Airflow Providers

_No response_

### Deployment

Virtualenv installation

### Deployment details

_No response_

### What happened

_No response_

### What you expected to happen

_No response_

### How to reproduce

_No response_

### Anything else

_No response_

### Are you willing

[2021-09-13 19:16] ridwantahir commented on #17507
this proble is still there in airflow 2.13!!

[2021-09-13 19:45] jedcunningham commented on #18146
The following DAG can be used to both reproduce (dagruns fail) and verify the issue is fixed (dagruns succeed). Basically, the first run it will fail so it ends up in UP_FOR_RETRY and will succeed on the second try.

[code]

[2021-09-13 20:13] john-jac commented on #13824
Hi Folks...have there been any new insights into this issue?

[2021-09-13 20:46] shlomi-viz commented on #18111
I created a PR https://github.com/apache/airflow/pull/18201, what is the process to get it reviewed? Thanks

[2021-09-13 21:01] fredthomsen opened #18216 "Helm chart ingress support multiple hostnames"
### Description

When the official airflow helm chart is used to install airflow in k8s, I want to be able to access the airflow UI from multiple hostnames.  Currently given how the ingress resource is structured it doesn't seem possible, and modifying it needs to take into account backwards compatibility concerns.

### Use case/motivation

Given my company's DNS structure, I need to be able to ac

[2021-09-13 21:08] alex-astronomer opened #18217 "Audit Logging for Variables, Connections, Pools"
### Description

Audit Logs or some other type of logging that shows details about the [who, what, where, when, why] [changed, added, delted] Airflow Variables, Connections, Pools etc.

### Use case/motivation

Anything configurable from the UI should have Audit Logging or some other type of tracking which will allow admins and other adequately permission'd users to see details about when these co

[2021-09-13 21:51] jedcunningham commented on #17191
I'm leaning toward just having a way to check both the health of the worker and log server at the same time (be it exec or http based). I feel the log server is an extra feature of the worker, rather than something deserving of being in a sidecar/separate container.

As for implementation (https vs exec), I do lean more toward http over exec (primarily since the endpoint is likely to be more easil

[2021-09-13 23:25] sbwilli3 opened #18223 "Cannot import name 'FlowerCommand' from 'flower.command'"
### Apache Airflow Provider(s)

celery

### Versions of Apache Airflow Providers

apache-airflow==2.1.3
apache-airflow-providers-celery==2.1.0
celery==5.1.2
flower==1.0.0

### Apache Airflow version

2.1.3 (latest released)

### Operating System

Ubuntu 20.04.1 LTS (Focal Fossa)

### Deployment

Virtualenv installation

### Deployment details

executor = CeleryExecutor

### What happened

When iss

[2021-09-13 23:30] mik-laj commented on #18223
Celery 5.0 and Flower 1.0 are not supported by Airflow 2.1. Please use the constraint files to install Apache Airflow. to avoid dependency problems.
https://github.com/apache/airflow/blob/constraints-2.1.3/constraints-3.6.txt
http://airflow.apache.org/docs/apache-airflow/stable/installation.html#constraints-files

Duplicate: https://github.com/apache/airflow/issues/11301

[2021-09-13 23:30] #18223 closed

[2021-09-13 23:32] mik-laj commented on #18213
No content. Closing. If you update your ticket with more information, let me know to open it.

[2021-09-13 23:32] #18213 closed

[2021-09-13 23:35] mik-laj commented on #18216
@fredthomsen Assigned. I know some corporations have complex DNS configurations.

[2021-09-14 00:10] #16025 closed

[2021-09-14 00:10] #9721 closed

[2021-09-14 00:11] #9048 closed

[2021-09-14 01:01] phemmmie commented on #18213
starting airflow 2.13 fails to start shows

[code]

[2021-09-14 05:43] uranusjr commented on #18188
Again, what would show in the *Task Instance Attributes* fields? Only your first screenshot is related to the question, and unfortunately the fields are cropped so I can’t see what values are there exactly.

[2021-09-14 05:45] uranusjr commented on #18188
Also, what are the links that brought you to the page?

[2021-09-14 06:32] uranusjr opened #18225 "tests/core/test_providers_manager.py::TestProviderManager::test_hooks broken on 3.6"
### Apache Airflow version

main (development)

### Operating System

Any

### Versions of Apache Airflow Providers

_No response_

### Deployment

Other

### Deployment details

_No response_

### What happened

`tests/core/test_providers_manager.py::TestProviderManager::test_hooks` is broken on 3.6 by #18209 since newer `importlib-resources` versions uses a different implementation and the mocks

[2021-09-14 07:01] MarvinSchenkel commented on #17507
How did you increase the heartbeat signal? I am running Airflow on a Kubernetes cluster and run into this issue on 2.1.3, 2.1.2 and 2.0.2.

[2021-09-14 07:12] laserpedro commented on #17507
Hello @MarvinSchenkel , to increase the scheduler heartbeat signal you can either export it in your env variable when installing airflow or after having already installed it modifiy the param your airflow.cfg file.

- bash profile: `export AIRFLOW__SCHEDULER__SCHEDULER_HEARTBEAT_SEC=120`
- airflow.cfg: `scheduler_heartbeat_sec=120`.

[2021-09-14 07:59] pysenic opened #18229 "When I set wait_for_downstream=True, the task will not wait, and a failure will be reported"
Version: 2.1.3
OS: CentOS 7
Executor: CeleryExecutor

I update airflow to 2.1.3 from 1.10.15（New environment redeployment），I found the problem still unsolved，My dag args is:

[code]
The DAG will be scheduled hourly

Assuming that task is  A >> B >> C >> D >> E >> F

now A B C is success and D is running，the next batch task A B is success，i think the next batch task C will wait for run until the D

[2021-09-14 09:15] potiuk commented on #17191
Agree - http would make more sense and one healthcheck will be more than enough. I generally prefer `http` kind of healthchecks over exec, as they are more "versatile". Http healthcheck can be used in basically any execution environment and they are generally much safer. You do not need any special permissions to execute the health-check. In many enterprise environments you might simply not get pe

[2021-09-14 09:20] kaxil commented on #18225
This was already fixed by https://github.com/apache/airflow/commit/b7f366cd68b3fed98a4628d5aa15a1e8da7252a3

[2021-09-14 09:31] potiuk commented on #18225
+1. I think we need to finally make stable green builds being default rather than exception.

[2021-09-14 09:53] kaxil commented on #18225
Yeah, this was my bad, apologies, still not sure how I missed it.

[2021-09-14 10:02] potiuk commented on #18213
You have not run the migration for new airflow version

[2021-09-14 10:28] #18204 closed

[2021-09-14 10:35] ignaski opened #18237 "Azure wasb hook is creating a container when getting a blob client"
### Apache Airflow Provider(s)

microsoft-azure

### Versions of Apache Airflow Providers

apache-airflow-providers-microsoft-azure==3.1.1

### Apache Airflow version

2.1.2

### Operating System

OSX

### Deployment

Docker-Compose

### Deployment details

_No response_

### What happened

`_get_blob_client` method in the wasb hook is trying to create a container

### What you expected to happen

[2021-09-14 11:45] MarvinSchenkel commented on #17507
Thanks for your reply. I tried this and it seems to be sorta working. I am not receiving any more SIGTERM errors. However, I constantly receive the message "The scheduler does not seem to be running". If I look at my k8s cluster overview, I can see that the scheduler pod constantly gets restarted because it seems offline. So it feels more like a happy coincidence, rather than a proper fix :-).

I

[2021-09-14 11:45] kaxil commented on #12851
@uranusjr Any ideas here?

[2021-09-14 11:46] kaxil commented on #12702
I think this is done now, right @potiuk ?

[2021-09-14 11:47] kaxil commented on #9557
@ephraimbuddy Here is another case where Celery can fail to even run the task

[2021-09-14 11:48] kaxil commented on #8703
Let's use Custom XCom backend if needed -- this isn't critical

[2021-09-14 11:48] #8703 closed

[2021-09-14 11:51] kaxil commented on #12301
Is this still true in 2.1.3 (or latest main) @jhtimmins @Jorricks ?

[2021-09-14 11:53] kaxil commented on #14101
@ephraimbuddy Can you look at this one too -- it is similar as the process executor events where we should retry instead of fail

[2021-09-14 11:54] kaxil commented on #13542
Can someone test it with latest 2.2.0b1 @Overbryd ?

[2021-09-14 11:56] kaxil commented on #16163
@jedcunningham @ephraimbuddy Can one of you take a look at this too please

[2021-09-14 11:58] ephraimbuddy commented on #14101
Yes. I will take a look

[2021-09-14 11:58] ashb commented on #16163
@malthe That's not quite what is happening. My understanding is this:

- The task message on celery is picked up and the TI starts running
- After 1 hour (the celery visiblity timeout) celery makes the message visible again
- A second worker picks up the celery message
- When the second one runs, it gets this message.

So the first attempt is still running, and this message is the _second_ concurr

[2021-09-14 11:59] kaxil commented on #14205
Can this be closed @ephraimbuddy ???

[2021-09-14 11:59] Jorricks commented on #12301
Yes @kaxil. My PR is still waiting to be merged. https://github.com/apache/airflow/pull/16634

[2021-09-14 12:05] malthe commented on #16163
@ashb so regardless of whether the first worker is still running or defunct/dead, shouldn't the second worker be able to "take over" somehow?

Otherwise, what's the point in trying?

[2021-09-14 12:16] ashb commented on #16163
This is largely airflow and celery "fighting" over behaviour

[2021-09-14 12:18] laserpedro commented on #17507
On my side I also receive this message that seems correct if the heartbeat is X the message should be
[code]

[2021-09-14 12:19] eladkal commented on #18237
@ignaski assigned to you

[2021-09-14 12:25] MarvinSchenkel commented on #17507
Fair enough, so with the fix applied we wouldn't need to set any additional configs (like scheduler_heartbeat, killed_task_cleanup_time and schedule_task_after_task_execution)? Is there any way to check when this PR is going to be released?

[2021-09-14 12:27] laserpedro commented on #17507
This was already released however in version > 2.0.2 and for me those versions create the msimatch PID issue so for the moment I stick to 2.0.2. What you could do is fork the source code of 2.0.2 and change the files. I will go for this solution

[2021-09-14 12:31] datsabk opened #18239 "Airflow Celery Worker logs inaccessible"
### Apache Airflow version

2.1.3 (latest released)

### Operating System

Python 3.6 Apache Airflow Docker

### Versions of Apache Airflow Providers

2.1.3

### Deployment

Other Docker-based deployment

### Deployment details

Kubernetes based deployment - Workers and Master in Kubernetes as pods. Logs accessed via NodePort Service

### What happened

*** Log file does not exist: /xxx/airflow/ho

[2021-09-14 12:43] potiuk commented on #12851
I am afraid we only have a chance to check which extras are used at the moment of installation after `pip install` completes, the fact of using extras is not recorded anywhere I believe. The idea that I had initially about "deprecated-extra" provider, might be about the only way that makes sense (Actually I completely forgot about this idea, only recalled it now by reading it again).

[2021-09-14 13:15] andrey-anshin-godel opened #18242 "Rendered Template raise general error if TaskInstance not exists"
### Apache Airflow version

2.2.0b1 (beta snapshot)

### Operating System

Linux

### Versions of Apache Airflow Providers

n/a

### Deployment

Docker-Compose

### Deployment details

Docker Image: apache/airflow:2.2.0b1-python3.8

[code]

[code]

### What happened

Rendered Template endpoint raise error if not Task Instances exists (e.g. fresh DAG)

[code]

### What you expected to happen

I und

[2021-09-14 14:05] potiuk commented on #12702
I think the problems about some inconsistent connection have been handled already. Part of them in separate provider changes and final step was done with Provider's managers refactoring and import optimisations. I think all the cases with 1<>Many relations which I was aware of have been handled - without setting clear rules though.

I think it is handled in a "good-enough" way for now. Any rule se

[2021-09-14 14:05] #12702 closed

[2021-09-14 14:25] eladkal commented on #18113
I think this is by design. Marking the DAG Run as success/failure just changes the record status in the database.
Similarly - marking task as failed does not invoke the operator `on_kill()`

[2021-09-14 14:40] phemmmie commented on #18213
could you share a reference as regards how to get it done

On Tue, Sep 14, 2021 at 11:03 AM Jarek Potiuk ***@***.***>
wrote:

[2021-09-14 14:47] collinmcnulty opened #18245 "Deferred status color not distinct enough"
### Apache Airflow version

2.2.0b1 (beta snapshot)

### Operating System

Mac OSX 11.5.2

### Versions of Apache Airflow Providers

_No response_

### Deployment

Docker-Compose

### Deployment details

_No response_

### What happened

In the tree view, the status color for deferred is very difficult to distinguish from up_for_reschedule and is generally not very distinct. I can’t imagine it’s g

[2021-09-14 14:57] zachliu commented on #8541
in my case, on `composer 1.13.0 airflow 1.10.12`, this error occurs when i use a for-loop:
[code]
strangely, i had to
[code]
otherwise downstream_task_2 will give me the nuke

[2021-09-14 15:01] collinmcnulty opened #18246 "Spurious message complaining of no heartbeat from Triggerer"
### Apache Airflow version

2.2.0b1 (beta snapshot)

### Operating System

Mac OSX 11.5.2

### Versions of Apache Airflow Providers

apache-airflow-providers-ftp==1.1.0
apache-airflow-providers-http==2.0.1
apache-airflow-providers-imap==1.0.1
apache-airflow-providers-sqlite==1.0.2

### Deployment

Docker-Compose

### Deployment details

Docker compose (from astro cli). Then I ran an `airflow trigg

[2021-09-14 15:04] bbovenzi commented on #18245
@collinmcnulty Would you mind including a screenshot of the mismatched colors?

[2021-09-14 15:32] collinmcnulty commented on #18245
![image](https://user-images.githubusercontent.com/13177948/133287298-c17682ed-89b4-4b1b-bf43-6e56c733c212.png)
![image](https://user-images.githubusercontent.com/13177948/133287365-0f2b7e13-c8d5-423e-985b-fec65d1f288e.png)

I think it's pretty tough to tell if the task above is deferred or up_for_reschedule.

[2021-09-14 15:33] collinmcnulty commented on #18245
Also, the fact that the black border is used to distinguish manual vs scheduled makes it more of an issue, since the border affects perceived color.

[2021-09-14 15:33] potiuk commented on #18213
It depends on how you deploy it `airflow db upgrarde` if you installed it manually. The reference is here: https://airflow.apache.org/docs/apache-airflow/stable/cli-and-env-variables-ref.html#upgrade but indeed when I looked for it, it's not very prominent.

Coud you telll me (since you are a new user) where in the documentation you would look for it ?

[2021-09-14 16:40] alex-astronomer commented on #18217
Love that idea.  I was starting to look in the Variables (`variables.py`) and found a `set(...)` function that looks like the root for where variables are set.  That was my first glance, and seemed like a good place to start or add a logging decorator or something.  I like the idea of SQLAlchemy events though.  Makes sure that every time that changes it gets captured.  I'll definitely look into th

[2021-09-14 18:01] yzhanggithub commented on #15978
I had a similar issue, in my case, it worked fine after I fixed this error (from airflow.log).
airflow command error: argument GROUP_OR_COMMAND: `airflow worker` command, has been removed, please use `airflow celery worker`, see help above.

[2021-09-14 19:10] andrewgodwin commented on #18113
Unfortunately the triggerer mechanism doesn't solve this - triggers can run separately, but even to raise a task failure, deferred tasks have to be sent back to a worker to execute, so they're still bound by the same sort of rules.

One thing I do want to look at soon, however, is extending the Executor interface to allow executors to run more than just Tasks - in essence, opening up the ability t

[2021-09-14 19:27] potiuk commented on #18113
Sounds great,

[2021-09-14 19:29] alexInhert opened #18253 "Allow to write to task log from task policy"
### Description

Airflow offers Task policies.
The problem is that while task policy alter the task and replace parameters there is no way to indicate to the user that parameters were switched.

### Use case/motivation

Consider the following:
[code]

This replace the timeout for task if criteria met. However the problem is that if you set timeout 20 hours in your code this is what you will see in

[2021-09-14 19:59] eladkal commented on #17072
solved by https://github.com/apache/airflow/pull/17078

[2021-09-14 19:59] #17072 closed

[2021-09-14 20:04] eladkal commented on #8703
@kaxil https://github.com/apache/airflow/pull/16395 was on hold for a fix here.
Should we also close the linked issue https://github.com/apache/airflow/issues/16386 ?

[2021-09-14 23:13] tikikun commented on #15635
Hi everyone, is Docker supporting ARM64 now?

[2021-09-15 00:05] #13925 closed

[2021-09-15 00:10] satyarthn commented on #9486
Folks,

I went through this entire thread, but not able to troubleshoot the issue. I am having the same issue.

So I can see CloudWatch has my logs

[code]

Note the Stream Name is `ecs/airflow-aws-gcp/ad93daaa94db48f0bd278c780e946f64`

In my AirFlow ECSOperator Definition, I am providing

[code]

In the AirFlow logs, I see

[2021-09-14 23:46:03,310] {{ecs.py:257}} INFO - ECS Task started: {'tasks

[2021-09-15 00:17] satyarthn commented on #9486
Ok. I believe the problem I am seeing is not with the ECSOperator, but with the AWS's ECS Task Definition UI. When I check the `Auto-configure CloudWatch Logs` , it does not persist. And hence the log stream is not getting generated as expected.

Per the Documentation

`If you don't specify a prefix with this option, then the log stream is named after the container ID that is assigned by the Docke

[2021-09-15 01:55] satyarthn commented on #9486
Another take on trying to figure out what is happening.

My ECS console shows task_id as this

<img width="503" alt="Screen Shot 2021-09-14 at 5 21 49 PM" src="https://user-images.githubusercontent.com/85149961/133357508-80b15b22-57fb-4868-8dc2-c7a9ae6ddce4.png">

But the ECSOperator logs task id as something else

`[2021-09-15 01:46:33,311] {{ecs.py:257}} INFO - ECS Task started: {'tasks': [{'att

[2021-09-15 04:58] jedcunningham commented on #18246
This should be fixed by #18129 already (it didn't make it in before b1).

[2021-09-15 04:58] #18246 closed

[2021-09-15 06:38] #17453 closed

[2021-09-15 08:22] laserpedro commented on #18041
Hello @ephraimbuddy,

Since I had to focus on solving the issue of my airflow session I made the below modifications and it seems to be properly working now:

- Set up a dedicated postgresql server on the same machine as the one hosting airflow
- Downgrade airflow to 2.0.2 (since I did not find any official guide for downgrading meta database I am using a new one for the moment)
- Incorporate the

[2021-09-15 08:52] edwardwang888 opened #18262 "Clearing one task instance will execute all task instances that have not previously run"
### Apache Airflow version

main (development)

### Operating System

OS X (development environment)

### Versions of Apache Airflow Providers

_No response_

### Deployment

Other

### Deployment details

_No response_

### What happened

1. Here is a DAG with two tasks that are newly added. These task instances have not been run yet.
![image](https://user-images.githubusercontent.com/40527812/13

[2021-09-15 08:56] ephraimbuddy commented on #18041
Thanks @laserpedro.
We want to fix this and would appreciate it if you can make a simple dag to reproduce it

[2021-09-15 09:28] ashb commented on #17438
/cc @BasPH

[2021-09-15 09:39] KennethanCeyer opened #18264 "An idea to add disable the option of XCOM log for the returned value"
### Description

## Purpose

Starting with Airflow 2.0, using `PythonOperator` through `XComArg` design and `@task` decorator became easy and frequently used.
`XComArg` of Airflow 2.0 supports to transmit `pd.DataFrame` data structure, and it is also possible to transmit huge data through backends such as `S3`.

The problem is, When we use PythonOperator with huge data transmission in XCom, Every

[2021-09-15 10:00] KennethanCeyer opened #18265 "Asyncio support for task, Operators"
### Description

## Purpose

A lot of data processing logic runs in Airflow. In data processing, the proportion of logic for IO-bound processing is also high, and asyncio can be a good alternative to optimize it.

The problem is, Current airflow version is not supported async keyword for @task decorated function or Operator. We need to define the `event_loop` and need to call a control methods suc

[2021-09-15 10:05] uranusjr commented on #18264
Every `self.log` is named after the class’s full name, so you can disable the logger with [custom logging](https://airflow.apache.org/docs/apache-airflow/stable/logging-monitoring/logging-tasks.html#advanced-configuration) via [standard logging configuration](https://docs.python.org/3/library/logging.config.html). I believe the logger used in PythonOperator would be named something like `airflow.o

[2021-09-15 10:12] KennethanCeyer commented on #18264
[code]

Oh well, We might be able to solve it to some setting with the above method!
Thanks for your comments! 👍

However, if it is not just `PythonOperator` that takes XCom related logs,
it would still be good to add an option to disable XCom logs.

[2021-09-15 10:59] anitakrueger commented on #10026
We are seeing the same on every DAG run on 2.1.3. It makes 2.1.3 basically unusable.
I have tried setting `job_heartbeat_sec` because I saw the tasks being killed after exactly 5 seconds. I set `job_heartbeat_sec` to 45 seconds and `scheduler_heartbeat_sec` to 60 and now the jobs get killed after 45 seconds.

Based on that, can anyone think of any workaround that might unblock us?

[2021-09-15 11:30] ephraimbuddy commented on #10026
@anitakrueger I have not been able to reproduce this, if you have a method you think I can use to reproduce this please share. Also, what is your scheduler_interval?

[2021-09-15 11:34] amaterasu-coder opened #18267 "GCSToS3Operator : files already uploaded because of wrong prefix"
### Apache Airflow version

2.1.3 (latest released)

### Operating System

Debian 10

### Versions of Apache Airflow Providers

_No response_

### Deployment

Composer

### Deployment details

_No response_

### What happened

The operator airflow.providers.amazon.aws.transfers.gcs_to_s3.GCSToS3Operator is buggy because if the argument replace=False and the task is retried then the task will alway

[2021-09-15 11:38] ecerulm opened #18268 "test_sentry.py breaks many other tests"
### Apache Airflow version

main (development)

### Operating System

macOS Big Sur

### Versions of Apache Airflow Providers

_No response_

### Deployment

Other

### Deployment details

_No response_

### What happened

`breeze tests tests` fails at `tests/hooks/test_subprocess.py::TestSubprocessHook::test_env_1_empty_env`

This can be easily reproduced  with pytest directly just by including 2

[2021-09-15 12:12] felipeangelimvieira commented on #18041
Hello @ephraimbuddy,

We are facing the same issue...
I'm using the official airflow helm chart in a Azure Kubernetes Service, with LocalExecutor. Different values for AIRFLOW__SCHEDULER__SCHEDULE_AFTER_TASK_EXECUTION give different error messages...

Here it is an example dag to reproduce it:

[code]

**With AIRFLOW__SCHEDULER__SCHEDULE_AFTER_TASK_EXECUTION=true**

[code]

**With AIRFLOW__SCHEDUL

[2021-09-15 12:22] eladkal commented on #10821
You can't use two separate connections with sensors.
I'm closing as this is something that won't be addressed with a specific sensor - it's more in the area of https://github.com/apache/airflow/issues/9755

[2021-09-15 12:22] #10821 closed

[2021-09-15 12:26] eladkal commented on #13139
fixed in https://github.com/apache/airflow/pull/13138

[2021-09-15 12:26] #13139 closed

[2021-09-15 12:26] eladkal commented on #12081
hi @rootcss are you still working on it?

[2021-09-15 12:35] #9310 closed

[2021-09-15 12:36] ephraimbuddy commented on #18041
Thanks, @felipeangelimvieira for coming through with the dag!

[2021-09-15 12:45] eladkal commented on #8963
There was attempt of the author to fix this issue https://github.com/apache/airflow/pull/9081 but the PR was abandond.
If you are interested in fixing it please open a PR

[2021-09-15 12:54] eladkal commented on #11882
This issue is reported against old version of Airflow.
Please check if the issue is still present in latest version.

[2021-09-15 13:24] anitakrueger commented on #10026
@ephraimbuddy We don't have `scheduler_interval` set in the airflow.cfg, so it is default, right?

I'm honestly not sure how to reproduce it. When on 2.1.3 whichever DAG I manually trigger or which runs on a schedule, it gets killed after 5 seconds. If I increase the job_heartbeat_sec setting, it gets killed after that interval.
The log output is always the same:
[code]

I've reverted to 2.1.2 now

[2021-09-15 13:36] #17381 closed

[2021-09-15 13:40] yuzeh commented on #13671
For what it's worth, I'm seeing this on Airflow 2.1.3. Like the OP I can't precisely reproduce the situation but I can assure you it definitely happens.

[2021-09-15 13:41] ephraimbuddy commented on #10026
@anitakrueger I mean the `schedule_interval` on your DAG args, sorry for the misspelling but it's of no use since it works in 2.1.2

[2021-09-15 13:47] noelmcloughlin commented on #10026
On 2.1.3 I saw that DAG containing sequential task flow works fine. The signal happens if DAG branches into parallel tasks. I rolled back to 2.1.2

[2021-09-15 13:59] MhmtErsy commented on #10026
I have installed a fresh Airflow 2.1.3 today. I wasn't getting this error while I use Sequential executor. It started appearing after I set CeleryExecutor as the default executor. I had to downgrade to 2.1.2. It's not appearing now.

[2021-09-15 14:02] MhmtErsy commented on #10026
I have installed a fresh Airflow 2.1.3 today. I wasn't getting this error while I use Sequential executor. It started appearing only in the DAGs that contain PythonVirtualenvOperator tasks after I set CeleryExecutor as the default executor. I had to downgrade to 2.1.2. It's not appearing now.

[2021-09-15 14:20] MarvinSchenkel commented on #17507
Thanks for the update! I think I am gonna wait until this is fixed in an upcoming release. Our production environment is still running 1.10.15, which is running fine at the moment. I don't want to jump through all these hoops just to get it working :-).

[2021-09-15 14:59] jedcunningham commented on #10544
This should be fixed by #18070.

[2021-09-15 16:10] potiuk commented on #15635
Not yet (natively). The Docker on MacOS with ARM however should work with emulation.

[2021-09-15 16:16] vschettino opened #18276 "Unable to override aws_default connection values from UI"
### Apache Airflow version

2.0.2

### Operating System

Centos 8

### Versions of Apache Airflow Providers

apache-airflow-providers-amazon==2.2.0
apache-airflow-providers-ftp==2.0.1
apache-airflow-providers-http==2.0.1
apache-airflow-providers-imap==2.0.1
apache-airflow-providers-sqlite==2.0.1

### Deployment

MWAA

### Deployment details

The problem happens both on a local docker container and

[2021-09-15 16:28] potiuk commented on #18265
Asyncio based operators are one of the big features in the upcoming Airflow 2.2. They are called Deferrable Operators and they were implemented as part of AIP-40

https://cwiki.apache.org/confluence/pages/viewpage.action?pageId=177050929

They are available in Airflow 2.2.0 beta 1 (you can subscribe to devlist to get announcements) and you can take it for a spin even now. Please double check it -

[2021-09-15 16:29] potiuk commented on #18265
Closing for now - please take a look and see if the Aip-40 solves your problem and come back (and maybe open another issue on how it can be improved if you find it insufficient).

[2021-09-15 16:29] #18265 closed

[2021-09-15 17:47] josh-fell commented on #17898
@eladkal You can assign this to me if no one else has claimed it.

[2021-09-15 18:32] collinmcnulty commented on #16625
I can reproduce this issue like this:

Use this dag on 2.1.1:
[code]

And here is the scheduler log from around the failure

[code]

[2021-09-15 19:15] mik-laj commented on #18276
Can you check if the connection is correctly saved in the database? Preferably with the help of CLI.
[code]

[2021-09-15 19:50] potiuk commented on #18264
I saw similar problem in the past and I think it's worth handling (precisely because of the custom backends). Previously such logs could work fine with limited size of xcom  but this might not hold after allowing custom backends.

So I think this is a valid comment however,  it should be handled per-operator.

There is simply no way to disable "globally"  all xcom related logs, because -similarly

[2021-09-15 19:57] potiuk commented on #18267
Feel free to work on it!

[2021-09-15 22:16] EliMor opened #18283 "db+ string in result backend but not metadata secret"
### Official Helm Chart version

1.1.0 (latest released)

### Apache Airflow version

2.1.3 (latest released)

### Kubernetes Version

1.21

### Helm Chart configuration

  data:
    metadataSecretName: "airflow-metadata"
    resultBackendSecretName: "airflow-result-backend"

### Docker Image customisations

_No response_

### What happened

If we only supply 1 secret with
[code]
To use for both m

[2021-09-15 22:23] potiuk commented on #17898
Assigned!

[2021-09-15 23:05] potiuk commented on #18283
I am not sure this is a helm-chart issue. It could probably be handled by the airflow itself - there are just few prefixes of the URL that could be shared with Airflow Metadata DB (postgres/sqlite/mysql variants) and it could be as easy of adding `db+` in front.

@EliMor  - maybe you would like to make a PR in Airflow to implement it? Sounds like an easy thing for a small, nice contribution.

[2021-09-15 23:53] dima-asana opened #18285 "Retry count off by one on tasks that are cleared via clear_task_instances"
### Apache Airflow version

2.1.2

### Operating System

any

### Versions of Apache Airflow Providers

_No response_

### Deployment

Docker-Compose

### Deployment details

_No response_

### What happened

I think there's an off by one error at https://github.com/apache/airflow/blob/ed10edd20b3c656fe1cd9b1c17468c0026f075e2/airflow/models/taskinstance.py#L198.

To reproduce,
1. create a task wit

[2021-09-16 03:22] bigyan-kc commented on #18283
@potiuk  Can I take this? I will submit PR.

[2021-09-16 03:54] #18242 closed

[2021-09-16 03:54] #18188 closed

[2021-09-16 04:31] EliMor commented on #18283
I'd be happy to try to take this, but if @bigyan-kc  would like to I don't want to stand in the way.

Thank you.

[2021-09-16 05:14] gargrishabh75 opened #18286 "Last Run not loading for DAGs on the listing page"
### Apache Airflow version

2.1.3 (latest released)

### Operating System

Debian GNU/Linux 10 (buster)

### Versions of Apache Airflow Providers

apache-airflow-providers-amazon==2.1.0
apache-airflow-providers-celery==2.0.0
apache-airflow-providers-cncf-kubernetes==2.0.2
apache-airflow-providers-docker==2.1.0
apache-airflow-providers-elasticsearch==2.0.2
apache-airflow-providers-ftp==2.0.0
apache

[2021-09-16 05:46] ecerulm commented on #17930
@potiuk can you assign this to @ignaski who has created PR #18042?

[2021-09-16 08:03] kosteev commented on #18229
I can reproduce it in Airflow 2.1.2.

Code of DAG:
[code]

After some time some tasks are scheduled and marked as failed (and up_for_retry) with log message:
[code]

[2021-09-16 08:26] aa-matthias opened #18288 "Airflow 2.1.4rc2 has snowflake-connector-python 2.6.0 which has a known bug"
### Apache Airflow Provider(s)

snowflake

### Versions of Apache Airflow Providers

I tested Airflow 2.1.4rc2 (Python 3.9) resulting in issues with putting files to snowflake stage.

the [constraints file](https://github.com/apache/airflow/blob/constraints-2.1.4rc2/constraints-3.9.txt) is pointing to 2.6.0 for snowflake-connector-python which has an [issue with PUT / GET](https://github.com/snowf

[2021-09-16 08:30] potiuk commented on #18288
I see snowflake connector python has a bug - We can bump constraints separately from releasing the software. I will take a look and if it works we can even push a new image (cc: @kaxil )

[2021-09-16 08:37] potiuk commented on #18283
Feel free1 @EliMor  - you can review the change :)

[2021-09-16 08:41] potiuk commented on #18286
CAn you please take a look at webserver logs and paste the error you see there? I think that must be something specific to your setting (I have some guesses but they are pretty wild without logs).

[2021-09-16 08:43] potiuk commented on #17930
I cannot - unless @ignaski comments here :). GitHub does not allow to assign issues to people who did not commented on them  (which makes perfect sense).

[2021-09-16 08:45] ignaski commented on #17930
Hi both, i'm happy to continue and merge the work of @ecerulm and myself

[2021-09-16 08:55] potiuk commented on #18288
Yeah. The constraints were even automatically bumped to include 2.6.1 (our automated constraints upgrade works miracles sometimes).

I just moved the tag and I am rebuilding the images to include those. They should be refreshed in ~30 minutes or so

[2021-09-16 08:55] #18288 closed

[2021-09-16 09:11] #18225 closed

[2021-09-16 09:31] pawsok opened #18289 "Unable to add a new user when logged using LDAP auth"
### Apache Airflow version

2.1.3 (latest released)

### Operating System

Amazon Linux AMI 2018.03

### Versions of Apache Airflow Providers

_No response_

### Deployment

Other Docker-based deployment

### Deployment details

- AWS ECS EC2 mode
- RDS PostgreSQL for DB
- LDAP authentication enabled

### What happened

We upgraded Airflow from 2.0.1 to 2.1.3 and now when i log into Airflow (Admin

[2021-09-16 09:42] BasPH commented on #18289
Not sure what changed this behaviour, but do you consider this a bug? I'd argue if you have LDAP enabled, you would want all your users to live in your LDAP directory and not be able to create any local users.

[2021-09-16 10:17] potiuk commented on #18289
Yeah. @pawsok  - were you atually ABLE to add new users in case of LDAP authentication before (and they Landed in LDAP)? Unless  you have custom authentication module, I believe there is no code for that functionality in Airflow so I'd also be quite surprised. Maybe that was a bug and when you added the users they landed in Airflow DB instead?

Can you please explain what was the behaviour you obs

[2021-09-16 10:17] #18289 closed

[2021-09-16 10:45] uranusjr commented on #17582
I believe #17100 actually fixed this, although not sure if it’s intentional or accidental. That PR should be a part of 2.2 (including the currently available beta), so I’ll close this for now; feel free to reopen if this is still an issue in 2.2.

This is how the Trigger DAG view renders for me in `main`:

![image](https://user-images.githubusercontent.com/605277/133598810-f766edf5-e87a-48c3-a328-

[2021-09-16 10:45] #17582 closed

[2021-09-16 11:03] dondaum commented on #17604
Anything I can do here to provide more context?

[2021-09-16 11:13] potiuk commented on #18288
Should be fine:

![Screenshot 2021-09-16 13 13 24](https://user-images.githubusercontent.com/595491/133602375-194d7836-4e03-4a7a-9b88-29046825f4c5.png)

[2021-09-16 12:54] bhavaniravi commented on #18285
Hey @dima-asana

I tried to recreate the issue in 2.1.3 with the following DAGs, but it was working as expected.

[code]

## Log Summary

| Attempt  |  try_number  | max_retry  |  Status  |
|---|---|---|---|
| 1/3 | 1 | 2 | Retry |
2/4|2|3|Retry
3/5|3|4|Success
4/6|4|5|Retry
5/7|5|6|Retry
6/8|6|7|Success

<details>
  <summary>Detailed logs</summary>

[code]
</details>

[2021-09-16 13:04] ITJamie opened #18294 "None button under recent tasks creates an invalid search response"
### Apache Airflow version

2.1.3 (latest released)

### Operating System

ubuntu 20.04, bitnami docker image

### Versions of Apache Airflow Providers

bitnami docker image 2.1.3 latest

### Deployment

Docker-Compose

### Deployment details

bitnami docker images 2.1.3, using docker compose. fairly minimal install

### What happened

when attempting to view "None" scheduled tasks via the quick l

[2021-09-16 13:15] vschettino commented on #18276
@mik-laj thanks for the quick reply! Debugging further I saw that this is a matter of logging. The credentials are actually loaded and I can use them further on my code, but this line was misleading:

[code]

[2021-09-16 13:21] mik-laj commented on #18276
@Author Would you like to submit a contribution to improve this message? I am happy to help with the review.

[2021-09-16 13:23] sweco commented on #18082
I'm observing exactly the same issue (missing `DagRun.start_date`) with Airflow 2.1.3 for `DagRun`s created via CLI:

[code]

![image](https://user-images.githubusercontent.com/11132999/133619884-6eaf60db-06be-4ce6-bf77-0d54db6d5072.png)

@bhavaniravi, will your PR fix the CLI as well?

[2021-09-16 13:26] vschettino commented on #18276
Sure! can you point me any direction for starters?

[2021-09-16 13:27] mporracindie commented on #15951
And that's how I'm solving it right now but personally, it seems like something that is adding tasks to my DAG in order to solve a problem that should be there in the first place. Being able to fully control the behavior of the DAG final status based on the task's executions.

[2021-09-16 13:36] bhavaniravi commented on #18082
Yes, @sweco Internally it's all using the same`trigger_dag`function , so this PR should fix it

[2021-09-16 13:59] mik-laj commented on #18276
See: https://github.com/apache/airflow/blob/main/airflow/providers/amazon/aws/hooks/base_aws.py#L174-L190 You can use. Gitthub UI to edit file : https://docs.github.com/en/repositories/working-with-files/managing-files/editing-files

[2021-09-16 14:00] mik-laj commented on #18276
For more details, see:
- Contributor guide: https://github.com/apache/airflow/blob/main/CONTRIBUTING.rst
- Quick start guide: https://github.com/apache/airflow/blob/main/CONTRIBUTORS_QUICK_START.rst

[2021-09-16 14:36] JNGruse opened #18297 "Offline Usage of the User's Statistics"
### Apache Airflow version

2.1.3 (latest released)

### Operating System

Debian GNU/Linux 10 (buster)

### Versions of Apache Airflow Providers

apache-airflow-providers-amazon==1.4.0
apache-airflow-providers-celery==1.0.1
apache-airflow-providers-cncf-kubernetes==1.2.0
apache-airflow-providers-docker==1.2.0
apache-airflow-providers-elasticsearch==1.0.4
apache-airflow-providers-ftp==1.1.0
apache

[2021-09-16 14:49] kaxil commented on #18288
Thanks @aa-matthias for reporting and @potiuk for quick fix

[2021-09-16 15:01] gargrishabh75 commented on #18286
[code]

[2021-09-16 15:20] kosteev commented on #18229
![image](https://user-images.githubusercontent.com/1017130/133639089-3540cfdf-8cd4-4b5c-ad4f-2c8f3eee200b.png)
After some testing it looks like the issue is in mini scheduler running in worker. So, somehow mini scheduler schedules a task that shouldn't be scheduled as it doesn't meet all dependency requirements (wait_for_downstream=True), and then it fails during start of execution because of it.

[2021-09-16 16:01] ephraimbuddy commented on #18011
Following the discussions at #17819 , you applied the fix then in your DAG above, `prepare_timestamps` failed and retried but `create_athena_partition` is stuck in up_for_retry?

[2021-09-16 16:22] mik-laj commented on #18297
This looks like a problem with the Flask App Builder. Can you create a ticket for this project as well? https://github.com/dpgaspar/Flask-AppBuilder

[2021-09-16 16:59] #18237 closed

[2021-09-16 17:02] EliMor commented on #18283
Thank you @potiuk
I was wondering if we could also add a small comment to the values file to hint what the secret created should look like.
Somewhere around here; https://github.com/apache/airflow/blob/main/chart/values.yaml#L242
Could you add that as well @bigyan-kc  please if @potiuk  thinks its worth it?

Thank you again.

[2021-09-16 17:56] #17188 closed

[2021-09-16 18:17] ephraimbuddy commented on #18011
@Tonkonozhenko Do you have `wait_for_downstream` args set?

[2021-09-16 20:17] wolfier opened #18304 "User induced deadlock for DAGs with `depends_on_past`"
### Apache Airflow version

main (development)

### Operating System

Debian GNU/Linux 10 (buster)

### Versions of Apache Airflow Providers

_No response_

### Deployment

Astronomer

### Deployment details

Barebones deployment with one DAG.

### What happened

I have a DAG with the following attribute:
-  `depend_on_past` set as true
-  `max_active_runs` set as one
-  `catchup` set as true

Whe

[2021-09-16 20:34] josh-fell commented on #9415
In other PRs there was discussion of removing `PythonOperator` use in the example DAGs but I'm wondering what everyone's thoughts are on handling imported functions that are called in the DAG. Should we keep the `PythonOperator` use in these cases or show a syntax-sugar version like `op = task(imported_function)(func_args)`?

For example, in the core [example_kubernetes_executor](https://github.co

[2021-09-16 21:33] ephraimbuddy commented on #9415
What do you think about this? I feel it's good:

[code]

[2021-09-16 22:37] ridwantahir commented on #17507
one tick that worked for me was to delete the task instance(or all task instances of a particular dag run)

[2021-09-17 01:08] WattsInABox commented on #18011
We're also seeing this. Most of our DAGs have well under 100 tasks, a few just under 200 tasks, 673 active DAGs, 179 paused DAGs. We do not use `wait_for_downstream` anywhere.

We started seeing this after upgrading to 2.1.3 which we upgraded to specifically get the bug fix PR #16301, not sure if that bug might be related since we seem to be having weird status issues all over Airflow...

We see t

[2021-09-17 01:31] ephraimbuddy commented on #18011
@WattsInABox. If you can get scheduler logs when this happens, that would be very helpful.

[2021-09-17 01:48] bigyan-kc commented on #18283
@EliMor sure I will also add comment to the values file.

[2021-09-17 02:04] imamdigmi commented on #18286
yes, I encounter the same problem
![image](https://user-images.githubusercontent.com/10998240/133712122-7aee68ee-dee5-4428-b2de-7b889b492aca.png)

[2021-09-17 02:18] josh-fell commented on #9415
Well, I completely missed the obvious answer; it's been a long day. Love it.

[2021-09-17 02:26] imamdigmi opened #18312 "Scheduler TypeError: unsupported operand type(s) for +: 'datetime.datetime' and 'dict'"
### Apache Airflow version

2.1.3 (latest released)

### Operating System

Debian GNU/Linux 10 (buster)

### Versions of Apache Airflow Providers

_No response_

### Deployment

Official Apache Airflow Helm Chart

### Deployment details

_No response_

### What happened

Some DAGs that are running have a sudden error, and after I checked in the container scheduler, there is an error like this
![Sc

[2021-09-17 03:46] kodeine commented on #13679
Hello @kaxil ,
I am still getting this error,

[code]

[2021-09-17 04:08] yuanke7 opened #18313 "No response from request api(longer than 30min) while using SimpleHttpOperator"
### Apache Airflow version

2.1.2

### Operating System

CentOS Linux 7

### Versions of Apache Airflow Providers

apache-airflow-providers-amazon==2.0.0
apache-airflow-providers-celery==2.0.0
apache-airflow-providers-cncf-kubernetes==2.0.0
apache-airflow-providers-docker==2.0.0
apache-airflow-providers-elasticsearch==2.0.2
apache-airflow-providers-ftp==2.0.0
apache-airflow-providers-google==4.0.0

[2021-09-17 04:13] tau-mask opened #18314 "After upgrading to v2.1.3, the scheduler won't start because `queued_at` is missing in `airflow_db.dag_run`"
### Apache Airflow version

2.1.3 (latest released)

### Operating System

Ubuntu 20.04

### Versions of Apache Airflow Providers

_No response_

### Deployment

Virtualenv installation

### Deployment details

_No response_

### What happened

After upgrading from v2.1.2 to v2.1.3, the scheduler won't start because of a missing column `queued_at` in the table `airflow_db.dag_run`:

[code]

### Wh

[2021-09-17 05:23] uranusjr commented on #18314
Did you run `airflow db upgrade`?

[2021-09-17 05:31] uranusjr commented on #18312
Please provide a DAG that reproduces the issue.

[2021-09-17 05:35] uranusjr commented on #18286
This is duplicate to #17814 and fixed in main in #17732. Note that the PR is currently not backported to 2.1.

[2021-09-17 06:57] siddharthvp opened #18316 "Use natural sorting while listing DAGs"
### Apache Airflow version

2.0.2

### Operating System

Linux

### Versions of Apache Airflow Providers

NA

### Deployment

MWAA

### Deployment details

NA

### What happened

When listing DAGs that have numbers in the IDs, Airflow lists DAGs in lexicographic order.

Observed order:
test_dag_1
test_dag_10
test_dag_2
test_dag_3

### What you expected to happen

Desired order:
test_dag_1
test_dag

[2021-09-17 07:24] thejens opened #18317 "Better Backfill User Experience"
### Description

I don't believe backfilling (of data) is not well handled in Airflow at the moment.

I believe the current backfill CLI command should have a UI component on the webserver - not the least as many deployments of Airflow doesn't expose a CLI interface to the users - only to admins.

I would  also like it to handle the following cases:

1. Backfill a DAG for execution dates where it

[2021-09-17 07:32] mik-laj commented on #18316
We rely on sorting provided by databases.Can you check if MySQL and PostgreSQL support the sorting method you want? If not, what plans do they have to implement it?

[2021-09-17 07:48] Tonkonozhenko commented on #18011
@ephraimbuddy, @WattsInABox perfectly explained what happens. We have the completely same situation.

[2021-09-17 08:48] ephraimbuddy commented on #18011
@Tonkonozhenko @WattsInABox Do you see `FATAL: sorry, too many clients already.` in your scheduler logs when this happens?

[2021-09-17 09:34] #18313 closed

[2021-09-17 09:37] #18314 closed

[2021-09-17 09:38] eladkal commented on #11190
hi @bhavaniravi can you please check against latest airflow version + latest kubernetes provider?
This may have already been fixed.

[2021-09-17 09:43] potiuk opened #18323 "Detect and fail any command when db is not migrated"
### Description

We had recently a number of questions from users who did not run `airflow db upgrade` and run airflow and it was failing because of missing columns etc.

It was not entirely clear for new users that they should do it and I am fixing it in #18282 , however I think we should do better

### Use case/motivation

I think we should check what migration is currently applied and fail any

[2021-09-17 09:45] potiuk commented on #18323
cc:@kaxil  - WDYT? I do not know Alembic that well, but from what I understand, I believe this would be entirely possible to perform such a check and clearly raise error "Please migrate the db with `airflow db upgrade`  in case the migration revisiion is different than expected?

[2021-09-17 10:15] bhavaniravi commented on #11190
Yes, it looks like this has been handled well in the latest versions. Closing this issue

[2021-09-17 10:15] #11190 closed

[2021-09-17 10:15] KennethanCeyer commented on #18264
@potiuk
Thank you for advising!

First, I will modify the XCom related loggin's logLevel of `PythonOperator` from `info` to `debug`,
And I will try to find out if the associated log exists in other operators as well,
and if it does, I'll modify them as well.

Please let me know if there is a better way 👍

[2021-09-17 10:20] KennethanCeyer commented on #18265
@potiuk
Thanks for your comments. I read the AIP 40 you mentioned in advance.
but I couldn't read it properly.
so will read a little more closely, and test out the beta features which you mentioned.

And If the enhancement still seems necessary, I will create another issue.

[2021-09-17 10:24] bhavaniravi commented on #18323
Yes, it's possible in the alembic. [Check this SO answer](https://stackoverflow.com/a/56085521/6340775)

A similar airflow snippet would look like, used `check_migrations` as a template

[code]

Do we do this check every time we start the webserver or scheduler?

[2021-09-17 10:36] Tonkonozhenko commented on #18011
@ephraimbuddy unfortunately, I don't have 2.1.3 logs now, but for 2.1.2 no such error and no fatal errors at all

[2021-09-17 11:03] eladkal commented on #9233
Should be a part of https://github.com/apache/airflow/issues/18031

[2021-09-17 11:03] #9233 closed

[2021-09-17 11:05] eladkal commented on #9131
This issue is reported against older version of Airflow.
Please check against latest version. If needed we will reopen this issue.

[2021-09-17 11:05] #9131 closed

[2021-09-17 11:06] kaxil commented on #18323
Yea we have something similar that we already use in the Helm Chart:  https://github.com/apache/airflow/blob/11621ce06616777f6709ffb7f029d733be78f297/airflow/utils/db.py#L622-L649

I will add that to the components

[2021-09-17 11:06] eladkal commented on #9828
This issue is reported against older version of Airflow.
Please check against latest version. If needed we will reopen this issue.

[2021-09-17 11:06] #9828 closed

[2021-09-17 11:09] eladkal commented on #10202
Since this question is about backporting Airflow 2 feature to 1.10 I'm converting it to GitHub discussion.

[2021-09-17 11:09] #10202 closed

[2021-09-17 11:11] eladkal commented on #10717
This issue is reported against older version of Airflow.
Please check against latest version. If needed we will reopen this issue.

[2021-09-17 11:11] #10717 closed

[2021-09-17 11:16] eladkal commented on #11003
Due to comments on https://github.com/apache/airflow/pull/10617 it might be that this issue is Airflow 1.10 specific

Please check against latest Airflow version. If the issue is reproducible we can revisit it.

[2021-09-17 11:17] eladkal commented on #11366
This issue is reported against older version of Airflow.
Please check against latest version. If needed we will reopen this issue.

[2021-09-17 11:17] #11366 closed

[2021-09-17 11:18] #10041 closed

[2021-09-17 11:20] #11378 closed

[2021-09-17 11:39] ephraimbuddy commented on #18317
@thejens I have assigned you to this ticket

[2021-09-17 11:45] siddharthvp commented on #18316
* https://stackoverflow.com/questions/9173558/postgresql-order-by-issue-natural-sort
* https://stackoverflow.com/questions/153633/natural-sort-in-mysql

Not supported in MySQL. Postgres [appears to support a collation](https://stackoverflow.com/a/67975489/9306016) that will enable natural sorting.

[2021-09-17 13:08] WattsInABox commented on #18011
Trying to get to a reproducible step here...

Is there an existing "unit" test (or could you help me write a unit test) for:

1.  A -> B dag
2. A set to fail with retries more than 1

And then see if the failure & retry handlers do what I think they're doing? That is:

1. A set to failed
2. B set to upstream_failed
3. A retries
4. B is untouched
5. A succeeds
6. B left in upstream_failed

[2021-09-17 13:20] potiuk commented on #18316
I think there is no special treatment (and they will never be) of dag ids containing numbers. Dag id s are strings not numbers.

Especially that this is your own convention to use numbers and it's super easy to fix it.

 If you wan your DAGs to be sorted according to the number, simply format their ids with leading 0s:

test_dag_009, test_dag_010 will be sorted properly. And it, super easy to gene

[2021-09-17 13:20] #18316 closed

[2021-09-17 13:24] Geronium opened #18327 "[error] airflow postgres"
### Apache Airflow version

2.1.2

### Operating System

Debian GNU/Linux 10 (buster)

### Versions of Apache Airflow Providers

airflow@airflow-webserver-54b99db477-fs46m:/opt/airflow$ pip freeze | grep providers
apache-airflow-providers-amazon==2.0.0
apache-airflow-providers-celery==2.0.0
apache-airflow-providers-cncf-kubernetes==2.0.0
apache-airflow-providers-docker==2.0.0
apache-airflow-provid

[2021-09-17 13:24] #18327 closed

[2021-09-17 13:32] uranusjr commented on #18323
One minor thought (aside from we obviously can’t show this error for `airflow db upgrade) is maybe we need to provide an override mechanism for local development, it’s occasionally useful knowingly run things without full migration (to fix an existing migration for example).

[2021-09-17 13:40] potiuk commented on #18323
Yep. Good call. And yeah. I was toying with the thought of enabling the check for `airflow db upgrade` just for the fun of it.

[2021-09-17 13:41] collinmcnulty opened #18329 "Add task name, DAG name, try_number, and run_id to all Kubernetes executor logs"
### Description

Every line in the scheduler log pertaining to a particular task instance should be stamped with that task instance's identifying information. In the Kubernetes executor, some lines are stamped only with the pod name instead.

### Use case/motivation

When trying to trace the lifecycle of a task in the kubernetes executor, you currently must search first for the name of the pod cre

[2021-09-17 14:07] #18229 closed

[2021-09-17 14:25] potiuk commented on #18317
Just one comment on that (and a bit of warning) and possibly an explanation to your @thejens surprise and disbelief (which is probably coming from not understanding the full scope of that task and impact it has on the distribute Airflow architecture).

The UI backfill requires a bit more than "simple implementation". This has been discussed several times at the devlist and the problem here is not

[2021-09-17 14:37] potiuk commented on #18329
Feel free to add it - maybe even there might be a way to add it automatically for all such cases ?

[2021-09-17 14:48] tienhung2812 commented on #13542
Hi, just got this issue again on `2.1.3` but the behavior quite different, all of schedulers stuck into a DAG check loop, but restart the scheduler will fix it, all other DAG as stuck in `scheduled`

[code]

The current system have about >= 150 active dags but we have a`abc_dag` have more than 500 tasks inside
I have already increase the scheduler config to handling more task
- max_tis_per_query:

[2021-09-17 16:53] #18216 closed

[2021-09-17 16:55] felipeangelimvieira commented on #18041
So I found out that my metadata database was using 100% cpu while running dags with multiple tasks in parallel, such as the example above. I'm using Azure PostgresSQL and the official airflow helm chart with pgbouncer enabled.

Increasing the database may solve the issue, but instead I increased the AIRFLOW__SCHEDULER__JOB_HEARTBEAT_SEC and the problem was solved.

While I'm not sure, it's possibl

[2021-09-17 17:53] dimon222 commented on #18239
In airflow.cfg set this
[code]

[2021-09-17 19:12] alex-astronomer opened #18333 "No Mass Delete Option for Task Instances Similar to What DAGRuns Have in UI"
### Apache Airflow version

2.1.3 (latest released)

### Operating System

macOS Big Sur 11.3.1

### Versions of Apache Airflow Providers

n/a

### Deployment

Astronomer

### Deployment details

default Astronomer deployment with some test DAGs

### What happened

In the UI for DAGRuns there are checkboxes that allow multiple DAGRuns to be selected.

![image](https://user-images.githubusercontent

[2021-09-17 19:48] jedcunningham opened #18334 "Move `airflow.models.crypto.*` out of `airflow.models`"
### Body

Everything in `airflow.models` should be a sqlalchemy model, and the stuff in `airflow.models.crypto.*` isn't.

### Committer

- [X] I acknowledge that I am a maintainer/committer of the Apache Airflow project.

[2021-09-17 20:08] potiuk commented on #18334
Well. BaseOperator isn't an sqlalchemy model either :) . But a good point nevertheless

It's one of the last remainder of Airlfow 1.10

[2021-09-17 20:09] alex-astronomer commented on #16412
Since the existing PRs have been marked as Closed and no code has been merged, also there is no Assignee, I'm going to take this on unless someone objects.

[2021-09-17 20:09] alex-astronomer commented on #16412
@potiuk Can you add me as the Assignee for this Issue?

[2021-09-17 22:29] uranusjr commented on #16412
Go ahead.

[2021-09-17 23:28] kaxil commented on #11841
We should fix this soon as 11.0 is more than 1.5 years old - https://pypi.org/project/kubernetes/#history

[2021-09-18 00:02] #18096 closed

[2021-09-18 00:05] #11603 closed

[2021-09-18 00:05] #10861 closed

[2021-09-18 00:17] kaxil commented on #14205
I am hoping this is solved by https://github.com/apache/airflow/pull/17945 which will be released in 2.1.4 (should be released tomorrow). We can reopen if this is still an issue

[2021-09-18 00:17] #14205 closed

[2021-09-18 00:18] kaxil commented on #17638
Fixed by https://github.com/apache/airflow/pull/17945

[2021-09-18 00:18] #17638 closed

[2021-09-18 00:18] kaxil commented on #17889
Closed by https://github.com/apache/airflow/pull/18159

[2021-09-18 00:18] #17889 closed

[2021-09-18 02:10] siddharthvp commented on #18316
Well, I wouldn't say that as file names are also strings but both Windows and macOS file explorers list files with numbers in the natural order. Similarly in Unix, `sort -V` handles strings with numbers correctly. So this is not exactly a new idea - more of a limitation with the databases.

[2021-09-18 03:16] hancyhancy123 commented on #17977
I am experiencing the same issue too. My task is executed every day. And if it can not run as usual some day, some other things will happen in my project. So I wonder if it can be discovered or inspected by some config, therefore I can trigger it manually and immediately once it happens next time.

[2021-09-18 03:56] soumitra9 commented on #17063
Could anybody help please, I am facing similar issues

[2021-09-18 06:43] msumit commented on #18334
The concept of `DataClasses` isn't new, so I won't recommend putting a hardcore requirement of keeping only database backed classes in the model's folder.

[2021-09-18 09:08] potiuk commented on #14205
🤞

[2021-09-18 09:35] potiuk commented on #18316
My point is not that "it's not possible" or that it's not "useful" or not that it's not "used elsewhere". I simply think comparing it with Windows or MacOS "Explorer/Finder" which is targeted for different users and use case is not very good comparison. The fact that you CAN do something does not mean that you SHOULD.

My point is that we are really not in general "filesystem" users camp where you

[2021-09-18 10:00] potiuk commented on #18334
Yeah.... DataClasses are fine, but I think I agree with @jedcunningham  it would be great to eventually have a separate Database-related package that keeps only those for the future.

The "model" package is not best in this context, I think more appropriate will be 'sqlachemy' or 'db' or smth like that. Maybe this is really what the problem is :). And I think we should have a bit different criteri

[2021-09-18 10:12] uranusjr commented on #18334
Agree on restructuring to separate classes by their availablity in different Airflow processes. It’s difficult to keep track what is available in what context, and creates observable difficulties from contributors touching anything but the very surface level of Airflow.

[2021-09-18 13:18] laserpedro commented on #18041
@felipeangelimvieira have you noticed some pattern? Like the error happens if your task exec time > heart beat rate ?
What time in sec have you put in your config ? Sth >> task average exec time ?
Tks!

[2021-09-18 13:37] imamdigmi commented on #18312
Thanks for answering @uranusjr . After some exploring, I'm guessing this problem has to do with schedule intervals. I want to share the DAG, but unfortunately I can't share the DAG code that I created due to privacy reasons from my company, but I'm happy to explain about the DAG I made, this is the schedule interval I use (but mostly we use `@daily`):
1. `@daily`
1. `@hourly`
1. `0 */3 * * *`
1. `

[2021-09-18 14:01] #18124 closed

[2021-09-18 15:50] utkarshgupta137 commented on #13559
I was having a similar problem: I wanted to pass a templated argument to a function, but it kept getting passed as raw template instead of rendered one.

The solution is to call the macro inside a pythonoperator & pass the data using xcoms.

[code]

[2021-09-18 17:16] #18268 closed

[2021-09-18 17:36] potiuk commented on #18262
I think the behaviour is as expected currently - until we have DAG versioning implemented https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-36+DAG+Versioning

Currently Airflow does not support DAG evolution. until versioning is implemented, the best way to add substantial changes to a DAG is to copy it and have a new dag_id.

[2021-09-18 17:36] #18262 closed

[2021-09-18 17:41] #9971 closed

[2021-09-18 18:25] #16753 closed

[2021-09-18 19:18] #15641 closed

[2021-09-18 19:52] #11901 closed

[2021-09-18 19:52] #17516 closed

[2021-09-18 22:52] taylorfinnell commented on #18011
Hi @ephraimbuddy - I work with @WattsInABox. We don't see `FATAL: sorry, too many clients already.` but we do see:

[code]

This causes the job to be SIGTERM'ed (most of the time, it seems). The tasks will now retry since we have #16301, and will eventually succeed. Sometimes it is SIGTERM'ed 5 times or more before success - which is not ideal for tasks that take an hour plus. I suspect also at ti

[2021-09-19 08:31] #17495 closed

[2021-09-19 09:53] eladkal commented on #14319
hi @n-oden this issue is reported against 1.10
Please let us know if the issue still happens on latest Airflow version.

[2021-09-19 11:04] swiffer commented on #18288
@kaxil / @potiuk - 2.1.4 is out and constraints are tagged with 2.6.0 again

[2021-09-19 11:10] kaxil commented on #18288
@swiffer Let me update that now, not sure what happened there

[2021-09-19 12:12] eladkal commented on #11101
This issue is reported against 1.10 which reached end of life.
Please check against latest Airflow version and if the issue is still present please add reproduce DAG.

[2021-09-19 12:12] #11101 closed

[2021-09-19 12:16] #12110 closed

[2021-09-19 12:18] eladkal commented on #11874
@danielenricocahall are you still working on this issue?

[2021-09-19 12:50] eladkal commented on #11837
@potiuk Do we have task on this issue?

[2021-09-19 13:20] potiuk commented on #18288
Yeah. The final tag is set for rc1 not rc2. I just pushed the right tag.

On Sun, Sep 19, 2021 at 1:10 PM Kaxil Naik ***@***.***> wrote:

[2021-09-19 13:23] potiuk commented on #18288
Refreshing the images now too. Should be there in 20 minutes or so.

[2021-09-19 15:15] kaxil commented on #18288
Cool, thanks @potiuk - was about to push.

[2021-09-19 15:17] felipeangelimvieira commented on #18041
@laserpedro  unfortunately no patterns... it worked with the example dag once. I have no idea how to solve it, altough the database running out of CPU seems to play a role. Could you verify if it is also the case for your database?

I've tried different configurations (LocalExecutor, CeleryExecutor), and the problem keeps appearing randomly with those dags with many tasks in parallel.

[2021-09-19 18:15] #14272 closed

[2021-09-19 18:35] alex-astronomer commented on #16412
Code has already been submitted to solve this issue.  Here is the PR that can close this request: https://github.com/apache/airflow/pull/17839

[2021-09-19 20:02] nshetty15 commented on #14489
@eladkal Can I take this up?

[2021-09-19 20:08] tkang007 commented on #13322
This issue still happened with apache-airflow==2.1.3 and 2.1.4 version.

In my case, `airflow dags test` was failed  after DB reinitialized without `airflow dags backfill'

[2021-09-19 21:16] potiuk commented on #14489
assigned it to you @nshetty15

[2021-09-19 21:17] potiuk commented on #13322
could you please open a new issue with reproducible case?

[2021-09-19 22:15] ephraimbuddy commented on #18011
It's not supposed to set B to upstream_failed if A has retries. What I believe happened is that the executor reported that A has failed but A is still queued in Scheduler. Currently, A is failed directly which we are trying to fix at #17819.

You can temporarily add a patch that removes this two lines:
https://github.com/apache/airflow/blob/2b80c1edec85fb2b0312b6ae7f415c6f744e322e/airflow/jobs/sch

[2021-09-19 22:22] ephraimbuddy commented on #18011
In 2.1.4 we added some limits( to the number of queued dagruns the scheduler can create and I'm suspecting that the issue we have on database connections will go with it. I was having `FATAL: sorry, too many clients already.` db error until the queued dagruns was limited in this PR https://github.com/apache/airflow/pull/18065.

[2021-09-19 22:25] ephraimbuddy commented on #16412
Closed by #17839

[2021-09-19 22:25] #16412 closed

[2021-09-19 23:41] dnz-siliang commented on #18009
Meeting the same issue from airflow 2.1.3. Tasks are keep changing location on tree view.
However we didn't meet this issue on 2.1.2.
Any ideas?

[2021-09-20 00:06] #8731 closed

[2021-09-20 00:42] #15785 closed

[2021-09-20 00:43] #16302 closed

[2021-09-20 00:43] kaxil commented on #11919
@ariesunique Are you working on this?

[2021-09-20 00:55] ephraimbuddy commented on #18011
@taylorfinnell , I will suggest you to increase the value of this configuration worker_pods_pending_timeout_check_interval, not sure if it’ll resolve it but it’s also connected with sending SIGTERM to task runner because pods are deleted by it.

[2021-09-20 01:00] ariesunique commented on #11919
No. Someone else can take it.

On Sun, Sep 19, 2021, 8:44 PM Kaxil Naik ***@***.***> wrote:

[2021-09-20 01:17] taylorfinnell commented on #18011
Thanks! It seems to me that setting is specific to the k8s executor - but we are using the CeleryExecutor

[2021-09-20 02:46] morhook commented on #18041
Same thing for me. I suspect my database might be getting slower also.

El El dom, sep. 19, 2021 a las 12:17, Felipe Angelim <
***@***.***> escribió:

[2021-09-20 03:28] MatrixManAtYrService opened #18363 "http patched an in-progress dagRun to state=failed, but the change was clobbered by a subsequent TI state change."
### Apache Airflow version

2.2.0b1 (beta snapshot)

### Operating System

debian buster

### Versions of Apache Airflow Providers

n/a

### Deployment

Astronomer

### Deployment details

`astro dev start` image: [quay.io/astronomer/ap-airflow-dev:2.2.0-buster-43897](https://quay.io/repository/astronomer/ap-airflow-dev?tab=tags)

### What happened

I patched a dagRun's state to `failed` while it

[2021-09-20 04:00] datsabk commented on #18239
Hello @dimon222 - The workers are sitting behind a Kubernetes service. Hence, the logs need to be accessible via the service name. To support this, I have used a different hostname callable and gave it the DNS name of service.

I do not see how it could be a problem though. You can imagine the situation like:

master.abc.com -> Airflow master
worker.abc.com -> Airflow workers (multiple behind a lo

[2021-09-20 05:06] #12081 closed

[2021-09-20 05:14] prmkumar64 opened #18364 "sqlite3.OperationalError: no such column: dag.last_parsed_time"
### Apache Airflow version

2.1.0

### Operating System

Linux

### Versions of Apache Airflow Providers

(sandbox) airflow@airflowvm:/home$ pip freeze |grep apache-airflow-providers
apache-airflow-providers-ftp==1.1.0
apache-airflow-providers-http==2.0.0
apache-airflow-providers-imap==1.0.1
apache-airflow-providers-sqlite==1.0.2

### Deployment

Virtualenv installation

### Deployment details

_N

[2021-09-20 05:29] eladkal commented on #9299
I'm closing this as won't fix.
You can set alternative xcom backend if needed.

[2021-09-20 05:29] #9299 closed

[2021-09-20 05:30] eladkal commented on #13454
fixed by https://github.com/apache/airflow/pull/14086

[2021-09-20 05:30] #13454 closed

[2021-09-20 05:31] eladkal commented on #13733
fixed by https://github.com/apache/airflow/pull/17081

[2021-09-20 05:31] #13733 closed

[2021-09-20 05:53] roshankp opened #18365 "trigger dag not showing start time and end time in the tree view"
### Apache Airflow version

2.1.3

### Operating System

macosx

### Versions of Apache Airflow Providers

apache-airflow==1!2.1.3+astro.1
apache-airflow-providers-amazon==2.1.0
apache-airflow-providers-celery==2.0.0
apache-airflow-providers-databricks==2.0.0
apache-airflow-providers-ftp==2.0.0
apache-airflow-providers-google==5.0.0
apache-airflow-providers-http==2.0.0
apache-airflow-providers-ima

[2021-09-20 06:23] #18364 closed

[2021-09-20 06:24] uranusjr commented on #18323
Another one https://github.com/apache/airflow/discussions/18368

[2021-09-20 07:19] ephraimbuddy commented on #18363
Thanks @MatrixManAtYrService

[2021-09-20 07:40] nmehraein commented on #17507
Hello, the release 2.1.4 has been released yesterday with [#17333](https://github.com/apache/airflow/pull/17333) . Could you test with that release ?

IMO is really related because all conditions and symptoms are similar (kill at first process heartbeat, and task is **not the first run** because is a DB clean bug between task run. Then more occur on sensor that naturally retry in mode reschedule,

[2021-09-20 09:16] #17018 closed

[2021-09-20 09:27] enguerranchevalier opened #18369 "If the DAG contains Tasks Goups, Graph view does not properly display tasks statuses"
### Apache Airflow version

2.1.4 (latest released)

### Operating System

Linux/Debian

### Versions of Apache Airflow Providers

_No response_

### Deployment

Official Apache Airflow Helm Chart

### Deployment details

_No response_

### What happened

When upgrading to latest release (2.1.4) from 2.1.3, Graph View does not properly display tasks statuses.

See:

![image](https://user-images.gi

[2021-09-20 09:32] enguerranchevalier commented on #18369
Maybe it's related to `https://github.com/apache/airflow/pull/17821`?

[2021-09-20 09:37] Limess commented on #18009
![Kapture 2021-09-20 at 10 36 58](https://user-images.githubusercontent.com/3199181/133982235-ed3cd1f6-3b14-468b-9314-c2415895379a.gif)

[2021-09-20 09:54] ValBerthe opened #18371 "Upgrade google-api-python-client to 2.x.x"
### Description

As described [here](https://github.com/apache/airflow/blob/main/setup.py#L287), `google-api-python-client` has the `<2.0.0` requirement, which prevents the usage of nice QoL upgrades concerning the discovery cache of the client. This request is concerning the provider `apache-airflow-providers-google`.

More information on the upgrade [here ](https://github.com/googleapis/google-a

[2021-09-20 11:06] kaxil commented on #18011
@Tonkonozhenko @taylorfinnell

[code]

That ERROR basically says it can't connect to metadata DB -- Where do you have your Metadata DB?

[2021-09-20 11:33] bhavaniravi commented on #18365
Same as #18082. PR  #18226 should fix this

[2021-09-20 12:23] pixie79 opened #18372 "Multi Arch Airflow docker image"
### Description

Docker hub supports multi arch images. It would be good if the Airflow image could be updated to support arm64 as well to let it run in the latest Mac M1's

### Use case/motivation

M1 Mac's are becoming more popular for development, the current amd based image run slowly due to emulation.

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am will

[2021-09-20 13:22] eladkal commented on #18365
Duplicate of https://github.com/apache/airflow/issues/18082

[2021-09-20 13:22] #18365 closed

[2021-09-20 13:39] eladkal commented on #18371
@ValBerthe assigned to you

[2021-09-20 13:41] mik-laj commented on #18372
Duplicate: https://github.com/apache/airflow/issues/15635

[2021-09-20 13:41] #18372 closed

[2021-09-20 13:41] eladkal commented on #14904
@doughepi are you still working on this issue?

[2021-09-20 13:50] imamdigmi opened #18374 "Docker Image with CentOS Base"
### Description

as far as i know, currently Airflow only supports Debian as a base docker image, maybe it will be more flexible if airflow can use other linux distributions like CentOS, because some features in Cloud Provider (e.g Alibaba Cloud) requires CentOS base container image to enable some features

### Use case/motivation

we want to implement OSS (cloud object storage) as a Persistent Vo

[2021-09-20 13:51] eladkal commented on #14871
fixed in https://github.com/apache/airflow/pull/16027

[2021-09-20 13:51] #14871 closed

[2021-09-20 13:55] eladkal commented on #12556
@juneoh  are you still working on it?

[2021-09-20 13:56] eladkal commented on #10426
@EmadMokhtar are you still working on this issue?

[2021-09-20 13:58] #16763 closed

[2021-09-20 14:03] eladkal commented on #16627
@sunank200 seems your PR was almost done. Would you like to finish it?

[2021-09-20 14:24] ankit-wadhwaniai commented on #16627
yes @eladkal. Will finish it this week

[2021-09-20 14:27] denysivanov commented on #14672
Hello,

v2.1.3 - having the same issue

[2021-09-20 14:15:34,615] {process_utils.py:100} INFO - Sending Signals.SIGTERM to GPID 8709
[2021-09-20 14:15:34,839] {taskinstance.py:1235} ERROR - Received SIGTERM. Terminating subprocesses.

[2021-09-20 14:48] mik-laj commented on #18374
Can you provide a link to the documentation describing this requirement?  I find it strange that the Kubernetes infrastructure depends on the specific distribution in the container.

[2021-09-20 15:22] eladkal commented on #14382
`registry_conn_id` is the reference to the Airflow Connection that associates with `AzureContainerInstancesOperator`.
If you need additional troubleshooting help please open a [Stackoverflow question ](https://stackoverflow.com/)or ask in [GitHub Discussions](https://github.com/apache/airflow/discussions).

[2021-09-20 15:22] #14382 closed

[2021-09-20 15:23] denysivanov commented on #18041
I see this issue and it is totally correlates which CPU spikes on my PostgreSQL DB.

[2021-09-20 15:55] bbovenzi commented on #18294
Changing to `webserver` since this is an issue with Flask AppBuilder search params. I looked through the docs and I'm not sure how to search by a null state. I've tried `="` `" =''` `=none` `=null` and `=`

[2021-09-20 16:05] collinmcnulty opened #18378 "UI indication for parallelism, concurrency, or pool limit reached"
### Description

On a dag's page in the web UI, show an indicator when the scheduling of tasks is being affected by limits on parallelism, concurrency, or a pool limit. The indicator should be relatively unobtrusive, as being affected by these things is not an error. I think it should also link to the appropriate section of the documentation describing the configuration element.

### Use case/moti

[2021-09-20 16:33] macdonald-keith-vmware opened #18380 "KubernetesPodOperator not overwriting pod.metadata.name when using pod_template yaml file causing an exception"
### Apache Airflow version

2.1.2

### Operating System

Ubuntu 20.04.3 LTS

### Versions of Apache Airflow Providers

_No response_

### Deployment

Other 3rd-party Helm chart

### Deployment details

Helm, Bitnami charts, MicroK8 running on Ubuntu cluster.

### What happened

When running multiple tasks that use the same pod-template yaml file,

[2021-09-20 15:50:02,605] {pod_launcher.py:95} ERR

[2021-09-20 16:48] eladkal commented on #18380
Related: https://github.com/apache/airflow/issues/15434

cc @jedcunningham

[2021-09-20 17:06] nachogarciam opened #18381 "S3 downloads not working"
### Apache Airflow version

2.1.4 (latest released)

### Operating System

linux

### Versions of Apache Airflow Providers

_No response_

### Deployment

Docker-Compose

### Deployment details

Im using docker-compose to run it on my local env. The library of ibm is: ibm-cos-sdk latest version
![image](https://user-images.githubusercontent.com/14189769/134039990-6d136485-cd96-47d7-ab66-3a44d6e5f2

[2021-09-20 17:23] beltran-rubo opened #18383 "CVE-2019-17495 for swagger-ui"
### Apache Airflow version

2.1.4 (latest released)

### Operating System

Debian

### Versions of Apache Airflow Providers

DockerHub apache/airflow:2.1.4

### Deployment

Other Docker-based deployment

### Deployment details

_No response_

### What happened

There are CVE scanner tools that notifies CVE-2019-17495 using the apache/airflow:2.1.4

The python deps include swagger-ui-2.2.10 and swa

[2021-09-20 18:06] #17497 closed

[2021-09-20 18:35] felipeangelimvieira commented on #18041
Just updated to 2.1.4 and the error message has changed. I'm seeing less dags receiving SIGTERM signal, although this error still appears. Now some tasks are being randomly killed and marked as failed before execution.
The logs of the tasks that have failed before execution follow this pattern:

[code]

I've also verified some succeeded tasks marked as failed.

In addition, I was able to reproduce

[2021-09-20 18:37] mik-laj commented on #18381
Why do you think it's an Airflow bug and not a `ibm-cos-sdk`  library?

[2021-09-20 18:53] nachogarciam commented on #18381
Hi!, well it is working on airflow v1. Also, I found a post with the same issue but using the amazon s3 libraries. https://www.gitmemory.com/issue/apache/airflow/16148/850715117

[2021-09-20 18:56] weiminmei commented on #18102
Sure, let me see about getting this version spun up to check. Does this mean that 2.1.4 did not include any fix for this?

[2021-09-20 19:47] kurtqq commented on #14919
I no longer work with hive but this limitation should be removed.
In general fixing it shouldn't cause any trouble for anyone because this is just about allowing to pass `-1`. So in the worst case the -1 won't work. I think it's safe to just fix it.

I would have done it myself but can't due to working on some other stuff.

[2021-09-20 19:56] kurtqq commented on #15933
yes I might be able to help but what exactly are the tasks?

[2021-09-20 21:14] neilor-mendes opened #18391 "Color Blindness - Color Schemas"
### Description

Folks,

Can you please add an option to change the color schema for users who has a disfunction called color blindness? Specially the ones with red/green disorder (Deuteranomaly, Protanomaly, Protanopia  & deuteranopia). It is very difficult for us to decode if a task ran successfully or not.

Below I'm sending a link explaining what is it and how to use an color palette to help u

[2021-09-20 21:16] MatrixManAtYrService opened #18392 "TriggerEvent fires, and then defers a second time (doesn't fire a second time though)."
### Apache Airflow version

2.2.0b1 (beta snapshot)

### Operating System

debian buster

### Versions of Apache Airflow Providers

n/a

### Deployment

Astronomer

### Deployment details

Helm info:
[code]

Dockerfile:
[code]

[the dag](https://gist.github.com/MatrixManAtYrService/8d1d0c978465aa249e8bd0498cc08031#file-many_triggers-py)

### What happened

Six tasks deferred for a random (but dete

[2021-09-20 21:27] uranusjr commented on #18383
Since this is a dependency, you should report the issue to https://github.com/dtkav/swagger_ui_bundle

[2021-09-20 21:32] eladkal commented on #18391
You can change the tasks colors. See perivious issue https://github.com/apache/airflow/issues/7843

[2021-09-20 21:39] josh-fell commented on #14677
This issue should be resolved now via #17885.

[2021-09-20 21:41] #14677 closed

[2021-09-20 21:42] josh-fell commented on #14758
This issue should be resolved now via #17885 -- perhaps partially at a minimum.  Along wIth the new operator and sensor for ADF, an example DAG was added to showcase these modules.

[2021-09-20 21:42] eladkal commented on #14758
Solved by https://github.com/apache/airflow/pull/17885

[2021-09-20 21:42] #14758 closed

[2021-09-20 21:53] #10961 closed

[2021-09-20 22:30] neilor-mendes commented on #18391
Thanks @eladkal I'm gonna try it and let you know!

[2021-09-20 22:40] imamdigmi commented on #18374
In the instructions section and at the very last point, it says "Only the **CentOS** and Alibaba Cloud Linux 2 operating systems are supported." Like in the image below
![image](https://user-images.githubusercontent.com/10998240/134085768-e85ed14e-837f-49e6-9c6d-18f158911ca7.png)
https://www.alibabacloud.com/help/doc-detail/86543.htm?spm=a2c63.p38356.b99.356.6d7b4c7aCXkF7J

[2021-09-20 23:01] kimyen commented on #18317
We have implemented 2 versions of backfill tools for our users. I want to share them here and suggest another version that may be more general to add to Airflow.

### Backfill Queue

In this version, we were using CeleryExecutor.

#### User experience

Users go to a UI page to trigger a backfill. They would submit a form specifying the dag, the list of tasks, the date range, and  some flags (run b

[2021-09-20 23:07] potiuk commented on #18011
Actually I do not agree with that statement.

 Airflow should rely on the metadata database being available at all times and loosing connectivity in the middle of transaction should not be handled by Airflow. That adds terrible complexity to your code and IMHO is not needed to deal with this kind of (apparent) instabilities of connectivity. Especially that it is a timeout on trying to connect to t

[2021-09-20 23:07] #18011 closed

[2021-09-20 23:28] tylermichael commented on #11882
We upgraded to the latest version a while ago and migrated to task groups. Haven't had any issues since then.

[2021-09-20 23:32] potiuk commented on #18378
ice idea. I am not sure though if it's easy to implement due to how scheduler works. But maybe ?

[2021-09-20 23:40] kaxil commented on #18392
cc @andrewgodwin

[2021-09-20 23:48] #18381 closed

[2021-09-21 00:02] nsepetys opened #18398 "When clearing a successful Subdag, child tasks are not ran"
### Apache Airflow version

2.1.4 (latest released)

### Operating System

Debian GNU/Linux 10 (buster)

### Versions of Apache Airflow Providers

apache-airflow-providers-amazon==2.2.0
apache-airflow-providers-celery==2.0.0
apache-airflow-providers-cncf-kubernetes==2.0.2
apache-airflow-providers-docker==2.1.1
apache-airflow-providers-elasticsearch==2.0.3
apache-airflow-providers-ftp==2.0.1
apache

[2021-09-21 00:35] potiuk commented on #18374
I find it highly strange as well that only two OS-es are supported for any image I do not know Alibaba and OSS but I believe the limitation you mention is for the OSS "provided" volume. So basically you need to run CentOS or Alibaba to provide the volumes, not to use them. You can likely use those provided volumes in any docker-container, based on any  OS I believe (but I just briefly looked at it

[2021-09-21 00:35] #18374 closed

[2021-09-21 02:38] wc-s opened #18400 "helm chart: allow each component to have different custom pod annotations"
### Description

Currently, to inject custom annotations into airflow pods, we can use such a snippet in the `values.yaml`:
[code]

However, this will inject the annotation to the pods of all airflow components (scheduler.. worker.. etc.). There is no way to inject different annotations to different components.

It would be nice to be able to inject different annotations to different components wi

[2021-09-21 02:57] cfrazier91 commented on #14572
Any update on this issue? This is causing us some headaches when using SubDags.

[2021-09-21 05:43] dstandish opened #18401 "downstream tasks "upstream failed" when upstream retries and succeeds"
### Apache Airflow version

2.1.4 (latest released)

### Operating System

official docker image

### Versions of Apache Airflow Providers

_No response_

### Deployment

Official Apache Airflow Helm Chart

### Deployment details

using KEDA

### What happened

Somehow, downstream task ends in state 'upstream failed' even though the upstream task retried and succeeded.

![image](https://user-image

[2021-09-21 06:32] eladkal commented on #14572
SubDags are low priority as it's a deprecated feature. You should switch to TasksGroup.

[2021-09-21 07:05] alexInhert opened #18402 "Allow to set execution_timeout default value in airflow.cfg"
### Description

Currently the default value of execution_timeout in base operator is None
https://github.com/apache/airflow/blob/c686241f4ceb62d52e9bfa607822e4b7a3c76222/airflow/models/baseoperator.py#L502

This means that a task will run without limit till finished.

### Use case/motivation

The problem is that there is no way to overwrite this default for all dags. This causes problems where we

[2021-09-21 07:06] #16237 closed

[2021-09-21 08:18] eladkal commented on #17513
fixed in https://github.com/apache/airflow/issues/17513

[2021-09-21 08:18] #17513 closed

[2021-09-21 08:31] thejens commented on #18317
It seems backfilling comes with some baggage in terms of definitions.

What I'm after is a way to insert multiple dag-runs for historical dates in bulk from the UI, possibly with some tasks already marked as complete/skipped, as well as clearing tasks/dagruns between certain dates.

I don't see the need for a dedicated backfill process to run, the scheduler could take care of that I believe, if ta

[2021-09-21 09:05] bbovenzi commented on #18391
Additional note: we will include more native support for color blind friendly palettes in AIP-38

[2021-09-21 09:19] bbovenzi commented on #18369
I'm trying to replicate this issue without success. Could you provide a bit more info?

- It is a running dag run and Is auto-refresh on?
- Are task groups closed when loading the page and you are expanding them or are they already expanded on page load?
- Does manually refreshing the page change anything?

[2021-09-21 10:04] Anurag-Shetty commented on #12199
I was able to  create state called "warning" with below changes.
1. Created with execption called AirflowWarningException in exceptions.py
2. Made some changes in utils/state.py(adding new state), models/taskinstance.py, ti_deps/deps/trigger_rule_dep.py.
3. I raising the exception in my custom bash operator based on type of failure.
![image](https://user-images.githubusercontent.com/50450873/13415

[2021-09-21 11:03] bbovenzi commented on #17727
This also happens when the flask cookie tries to add tags that exist in the cookie but not in the url. I think we should just get rid of that cookie entirely.

[2021-09-21 11:03] lukas-at-harren commented on #17497
@eladkal my bad, I was thinking `XComArg` would take care of that.

For everybody else landing here, the Operator must be initialized with the option `render_template_as_native_obj=True` in order for `XComArg` to spit out Python objects instead of just a string.

[2021-09-21 12:00] potiuk commented on #18400
assigned you. Seems a good feature to have.

[2021-09-21 12:35] bbovenzi commented on #13066
We'll try to tackle this when updating the tree view for #18009

[2021-09-21 12:45] bbovenzi commented on #17478
Next run now appears on all dag pages with #17732

[2021-09-21 13:18] alexInhert commented on #18402
I'm aware. thanks. I mentioned it's downside on the description. Another huge downside is https://github.com/apache/airflow/issues/18253

[2021-09-21 13:21] eladkal commented on #18398
@nsepetys assigned the issue to you

[2021-09-21 13:22] #11882 closed

[2021-09-21 13:32] nsepetys commented on #18398
Could I get another pair of eyes on this to see if this issue is indeed an issue? Like I said in my post above it seems odd https://github.com/apache/airflow/pull/14776 made it into master without being confirmed as addressing the issue.

[2021-09-21 13:36] #18383 closed

[2021-09-21 13:37] beltran-rubo commented on #18383
Reported at https://github.com/dtkav/swagger_ui_bundle/issues/20

[2021-09-21 13:43] neilor-mendes commented on #18391
Considering you guys are going to improve it and I was able to change colors I'm closing the issue.
Thanks for all your support folks.

[2021-09-21 13:43] #18391 closed

[2021-09-21 14:12] eladkal commented on #9656
This issue is reported against old version of Airflow.
Please check if the problem still happens in latest version - if so please add reproduce steps.

[2021-09-21 15:21] potiuk commented on #18317
Not currently as far as I understand how Scheduler works currently. The Scheduler currently is DAG based,  not individual task based. It looks at the DAGs and task dependencies for the "future" runs, schedules and executes them. There is no way (as I understand how scheduler runs) to get it start, monitor, send for exacution and overlook to completion selected tasks from selected dag from the past

[2021-09-21 15:53] doughepi commented on #14904
Apologies. I am not. It's fair to say that the architecture of our internal resources has changed to avoid this problem altogether.

[2021-09-21 16:37] enguerranchevalier commented on #18369
Hello @bbovenzi, thanks for your response!

* Bug appears both with running or non-running DAGs;
* Task groups are opened when loading the page, and indeed, the bug does not occur when task groups are closed when loading the graph view;
* Manually refreshing the page does not change this behaviour.

I also notice that the tooltip is not displayed on the concerned tasks.
When I close and re-open th

[2021-09-21 16:38] #17559 closed

[2021-09-21 16:45] denysivanov opened #18409 "Setting max_active_runs = 1 - still have multiple instances of the same dag running"
### Apache Airflow version

2.1.3

### Operating System

Linux

### Versions of Apache Airflow Providers

apache-airflow-providers-microsoft-azure==3.1.1
apache-airflow-providers-microsoft-mssql==2.0.1
apache-airflow-providers-odbc==2.0.1
apache-airflow-providers-slack==4.0.1

### Deployment

Other 3rd-party Helm chart

### Deployment details

We are using this helm chart
https://github.com/airflo

[2021-09-21 16:57] alex-astronomer opened #18410 "AirflowClusterPolicyViolation Overhaul - Pause DAG, Make it so that DAG cannot be unpaused, still shows in DAG list view but has tooltip saying why can't be unpaused"
### Description

## Overview
AirflowClusterPolicyViolation behaves in very strange ways right now.  I think that this would be an important feature to overhaul for users that have complex DAG definition requirements for tagging, owners, naming conventions, etc.  Very useful for Airflow administrators that have many application teams using the same deployment of Airflow.

## Current behavior
The Ai

[2021-09-21 17:13] jaketf commented on #18410
@alex-astronomer this sounds like a great improvement to me, and the use case you describe is the intention of the original `AirflowClusterPolicyViolation` PR. At the time the scope was just to make tasks not run but I agree these DAGs shouldn't even get scheduled and like the idea of having a tool tip explaining why you cannot unpause.
My only additional comment is that CLI / REST API PATCH reque

[2021-09-21 18:10] eladkal commented on #18410
I agree but it seems a bit odd to me to mix paused/active to this.

Say I add a new policy that violated 50 DAGs. According to this all of them will be paused.
What if the action I decided to take is to remove the policy rather than fixing the DAGs? It will be very hard and frustrating to locating all the 50 DAGs that were automated paused.

[2021-09-21 18:16] felipeangelimvieira commented on #17507
@nmehraein I've updated to 2.1.4 but the problem still appears. This issue is related to #18041.

[2021-09-21 18:33] potiuk commented on #18253
As explained in #18402 I think in most cases you should not change values of the parameter but you should simply fail the Task if you see that it runs without the right parameter set. You should FAIL the task rather than mutate it in this case if it violates the Policy. There are some cases where you would likely want to mutate the task, but I think vast majority of cases is to fail it when the Po

[2021-09-21 18:43] #18103 closed

[2021-09-21 20:16] #16625 closed

[2021-09-21 20:35] Jorricks commented on #13542
Hey @maxcountryman,

That sounds very annoying. Sorry to hear that.
I guess you are using the KubernetesExecutor?
Next time that happens could you do the following two things:
1. Send a USR2 kill command to the scheduler and list the output here. Example: `pkill -f -USR2 "airflow scheduler"`
2. Check the TaskInstance that is stuck and especially the `external executor id` attribute of the TaskInst

[2021-09-21 20:56] kimyen commented on #18317
@thejens without knowing the explicit use case, seeing all the things you listed here prompt me to this doc I wrote. I think that there are already multiple ways to "backfill" using the scheduler. See Manual Backfill > Airflow builtin options.

*Notes that the "backfill request view" in the below doc is for the first backfill tool I mentioned above.*

# How to backfill your DAG

## Background

The

[2021-09-21 21:03] weiminmei commented on #18102
Hi,

On version 2.2.0b1, looks like this is addressed.

![Screen Shot 2021-09-21 at 4 02 55 PM](https://user-images.githubusercontent.com/59876267/134247290-f416a0a1-4966-48c8-8d4d-3ccbef4f93a5.png)

[2021-09-21 21:56] andrewgodwin commented on #18392
Yup, @MatrixManAtYrService and I discussed this yesterday. It's not a bad bug - triggers are designed to be re-entrant, and it won't resume the task twice - just something that needs cleaning up a little to save some cycles.

[2021-09-21 22:13] maxcountryman commented on #13542
@Jorricks thanks for your note--we'll do both 1. and 2. when this happens next.

We're actually using the Celery executor with Redis; I don't see any weird resource contention or other obvious issues between the ECS services.

The overall status of the DagRun in these situations is "running".

[2021-09-22 00:25] alex-astronomer commented on #18217
Upon further consideration, I'd like to not use a SQLAlchemy event to make this happen.  The way that we handle audit logging right now happens (from what I've seen) mostly through decorators and I'd like to take a similar approach to this problem just for clarity.  I feel like a sqlalchemy event could have the potential to be lost in the code in some obscure spot and I'd like to have the audit lo

[2021-09-22 02:12] yuanke7 opened #18422 "No response from request api(longer than 30min) while using SimpleHttpOperator"
### Apache Airflow version

2.1.2

### Operating System

CentOS Linux 7

### Versions of Apache Airflow Providers

apache-airflow-providers-amazon==2.0.0
apache-airflow-providers-celery==2.0.0
apache-airflow-providers-cncf-kubernetes==2.0.0
apache-airflow-providers-docker==2.0.0
apache-airflow-providers-elasticsearch==2.0.2
apache-airflow-providers-ftp==2.0.0
apache-airflow-providers-google==4.0.0

[2021-09-22 02:22] #18102 closed

[2021-09-22 03:12] uranusjr commented on #18398
cc @ephraimbuddy

[2021-09-22 04:46] r-richmond commented on #18051
Going to close this out since I assume #18061 tackled it and I'm on 2.1.4. now. If this issue presents itself again I'll re-open.

Thanks again @ephraimbuddy

[2021-09-22 04:46] #18051 closed

[2021-09-22 04:51] pritampbonde commented on #18091
@potiuk : As per suggestion given have raise a new request but I found there is already one request one on similar lines https://github.com/dpgaspar/Flask-AppBuilder/issues/1691. I have added the comment on same issue, let us know if you require to raise a new request with Flask-AppBuilder team

[2021-09-22 06:09] Jorricks commented on #18409
Hello @denysivanov,

In the example code you submitted, you create a DagRun with status Running. However, this is done directly on the database and thereby you could consider this to be a manual overwrite.

The limits, max_active_runs, are enforced by the scheduler component of Airflow. This component will create DagRuns based on the schedule and put them in the queued state first.   It will only

[2021-09-22 06:12] Jorricks commented on #18401
The DagRuns (circles at the top) make me think that the task first failed completely and then you manually asked it to retry. So the question: did you manually retry them or did the Airflow scheduler do it automatically for you?

[2021-09-22 06:18] Jorricks commented on #18422
If had a similar issue recently (with a flask app I created myself).
I was using postman to do some test and I didn't realize I had the content-length header still defined. It caused all my requests to wait indefinitely until I would get a time-out.
I'm just guessing here but is it possible that something is happening here as well?

2. Are you setting any headers?
3. What do you get when you query

[2021-09-22 06:39] dstandish commented on #18401
I did nothing manually.  The scheduler retried the tasks (which are green now because they succeeded on second try).  but the orange tasks never ran -- they seem to've gone immediately to "upstream failed"

[2021-09-22 06:50] yuanke7 commented on #18422
No I didn't set any headers cuz my own api is really simple , I'll try it, thanks !!!

[2021-09-22 07:01] thejens commented on #18317
Hi, I guess the fact the manual for how to backfill being 4 pages long if printed speaks to the need for a better UX.

[2021-09-22 08:29] #11910 closed

[2021-09-22 08:34] eladkal commented on #14267
You are using outdated version of the operator.
Can you please test against latest version of google provider?

[2021-09-22 08:41] potiuk commented on #14658
You have not written which index you miss, I guess it was possibly a bad migration or maybe a bug in some of the old migration process. Nothing that can be fixed now as 1.10 is already end of life and will not receive any fixes. My recommendation is to create the missing index manually.

[2021-09-22 08:41] #14658 closed

[2021-09-22 08:58] ephraimbuddy commented on #18398
@nsepetys, I have tested this in main and also in 2.0.2 and it's working, wondering why you're seeing a different result

[2021-09-22 09:04] potiuk commented on #18317
I understand your frustration with Airflow being complex system, but this is a fact of life that you have to live with and embrace  it, I am afraid.

The `4 page long manual needed speaks to the need of better UX` is is quite a bold statement which completely does not take into account who are the users, what are the use cases, how complex cases are being handled.  I am not sure how you could make

[2021-09-22 09:05] #18317 closed

[2021-09-22 09:56] vumdao commented on #18183
Improve performance and connection to airflow database solved this issue

[2021-09-22 09:56] #18183 closed

[2021-09-22 10:08] yuanke7 commented on #18422
Hi Jorricks, I have tried but not work, same issue.  And i send request by postman without setting headers, it gets reponse correctly even longer than 30min. It has to be the problem from Airflow I guess.

Another answer for your second question: I have same response json data with my api,   `{'success':True/False}`

By the way, you're really handsome ~

[2021-09-22 10:27] potiuk commented on #18422
Please @yuanke7 follow the code of conduct, This is a professional environment, so I'd apreciate if you avoid personal notes like that (I edited your comment).

[2021-09-22 11:42] ephraimbuddy commented on #17599
@AnumSheraz , my mistake. This #17187 didn't fix it but https://github.com/apache/airflow/pull/18269 did. Will be released in 2.2.0

[2021-09-22 12:29] michieldhadamus commented on #15279
We are also seeing this issue, airflow version 2.1.4, using the kubernetesPodOperator. Is there a workaround?

[2021-09-22 13:07] kevlubkcm commented on #15279
i've gotten around it by creating a `log_config.py` with the following:

[code]

don't forget to enable this logger in `airflow.cfg` with `logging_config_class = log_config.LOGGING_CONFIG`

[2021-09-22 16:29] SangwanP opened #18436 "Add a 'View' button for Airflow Variables in the UI"
### Description

A 'view' (eye) button is added to the Airflow Variables in the UI. This button shall open the selected Variable for viewing (but not for editing), with the actual json formatting, in either a new page or a modal view.

### Use case/motivation

I store variables in the json format, most of them have > 15 attributes. To view the content of the variables, I either have to open the Va

[2021-09-22 16:51] SangwanP opened #18437 "Add a textbox in the UI for each DAG that can be used to write a comment related to a DAG"
### Description

A textbox is added to the UI next to each DAG to write/modify information regarding the DAG directly in the UI.

### Use case/motivation

I work on a team and currently we are unable to relay information regarding a DAG through the UI. For example: reason why a maintainer temporarily disabled a particular DAG.
The _DAG doc_md_ is not very useful in this case since that lives in co

[2021-09-22 17:03] millin commented on #18401
We faced the same issue

[2021-09-22 17:39] nsepetys commented on #18398
Testing on 2.0.2 and comparing versus the behavior in 1.10.14 I am noticing a difference. For starters the `task_instance` table is not clearing out the subDag's tasks' statuses in 2.0.2 but in 1.10.14 it is. See below:
**1.10.14**
![image](https://user-images.githubusercontent.com/4511738/134385788-269a29db-852c-47c7-8f12-60c050006930.png)

**2.0.2**
![image](https://user-images.githubusercontent

[2021-09-22 18:35] potiuk commented on #18437
There was an ongoing work here: https://github.com/apache/airflow/pull/17181 on similar thing, but it was abandoned. Maybe you would like to teke-over and complete it @SangwanP ?

[2021-09-22 18:36] potiuk commented on #18437
And the issue is described here as well https://github.com/apache/airflow/pull/17181

[2021-09-22 18:37] potiuk commented on #18437
I mark it as duplicate of #1781 and close - but you can work on it @San if you would like to get it.

[2021-09-22 18:37] #18437 closed

[2021-09-22 18:57] evanhlavaty commented on #10605
Is there a reason why this has not been implemented yet?

[2021-09-22 19:20] potiuk commented on #10605
It was waiting for someone like you to take that over and complete it possibly? Airflow has > 1700 contributors and you can become one if you want some features to be implemented faster :)

[2021-09-22 19:22] potiuk commented on #10605
Feel free to take it over and contribute! we even have Contributors workshops  (3 of them till the end of the year). On Airflow Slack there is a #contributors-workshop dedicated channel for it! Anyone is welcome!

[2021-09-22 19:29] SangwanP commented on #18437
@potiuk - Okay, I'll try to get to it. Just a question - I see that the scope of the linked issue is quite large (notes for multiple tasks accessible from multiple places), I assume there is no issue if I _only_ work on the 'Dag notes' functionality of that issue?

[2021-09-22 19:52] zoomzoomTnT commented on #10605
sure, I think it's covered in a different feature request, let me find out
and update the comments.

Can you let me know when are the workshops and how do I attend them?

Thanks,
Zhicong

On Wed, Sep 22, 2021 at 2:22 PM Jarek Potiuk ***@***.***>
wrote:

[2021-09-22 20:03] mrbungie opened #18440 "Can't Run Tasks from UI when using CeleryKubernetesExecutor"
### Apache Airflow version

2.1.3

### Operating System

ContainerOS

### Versions of Apache Airflow Providers

apache-airflow-providers-hashicorp==2.0.0
apache-airflow-providers-http==2.0.0
apache-airflow-providers-imap==2.0.0
apache-airflow-providers-microsoft-azure==3.1.0
apache-airflow-providers-mysql==2.1.0
apache-airflow-providers-papermill==2.0.1
apache-airflow-providers-postgres==2.0.0
apa

[2021-09-22 20:07] josh-fell opened #18442 "Cannot retrieve Account URL in AzureBatchHook using the custom connection fields"
### Apache Airflow Provider(s)

microsoft-azure

### Versions of Apache Airflow Providers

apache-airflow-providers-microsoft-azure==2.0.0

### Apache Airflow version

2.1.0

### Operating System

Debian GNU/Linux

### Deployment

Astronomer

### Deployment details

_No response_

### What happened

Related to #18124.

When attempting to connect to Azure Batch, the following exception is thrown ev

[2021-09-22 20:16] #18363 closed

[2021-09-22 20:34] salvob41 opened #18445 "Hook notification when you turn on/off (pause/unpause) a DAG from the UI"
### Description

It would be useful if when someone decide to turn a DAG on/off (pause/unpause) to get notified with a hook/notification that a particular DAG has been turn on (maybe knowing who made this action)

### Use case/motivation

it's extremely easy turn a DAG on/off. This might get dangerous when different people (from different team) use airflow as scheduler. Having a hook might give so

[2021-09-22 20:38] nsepetys commented on #18398
So it appears the SubDAG tasks are being hit in Airflow 2.0.2, however, judging from how quick the DAG scheduler runs through these versus 1.10.14 it makes me think there is some caching of sorts that allows the scheduler to skip checking the DB for the state of the tasks in the SubDAG. The reason I mention this is that if you change the ID of the SubDAG tasks _after_ after a run (this may sound l

[2021-09-22 20:51] ephraimbuddy commented on #18398
Can you check the tree view? That was what I checked. Let’s see if there’s a difference between it and the graph view

[2021-09-22 21:06] nsepetys commented on #18398
Appears to be the same in the tree view:
<img src="https://user-images.githubusercontent.com/4511738/134421859-6569e350-5304-4017-aa0e-18d4e2a5c494.png" width="1000" height="200">

[2021-09-22 21:09] denysivanov commented on #18409
@Jorricks doing it now!
Will update you on status tomorrow September 23, 2021.

[2021-09-22 21:18] ephraimbuddy commented on #18409
Also @denysivanov , upgrade to 2.1.4, there’s a bug on max_active_runs that have been fixed. Not related to your issue though.  @Jorricks answered you correctly

[2021-09-22 21:19] #18409 closed

[2021-09-22 21:56] StewartThomson opened #18446 "Task Failure when using dynamic dags"
### Apache Airflow version

2.1.2

### Operating System

Docker on Amazon Linux 2

### Versions of Apache Airflow Providers

_No response_

### Deployment

Docker-Compose

### Deployment details

_No response_

### What happened

Dynamic dags sporadically result in a scheduler error of:
`ERROR - Executor reports task instance <TaskInstance: {task_id} 2021-09-21 00:00:00+00:00 [queued]> finished (f

[2021-09-22 23:02] hpatel-higi opened #18448 "DagTimeout and AirflowTaskTimeout from running multiple dags at one time"
### Apache Airflow version

2.1.4 (latest released)

### Operating System

Linux

### Versions of Apache Airflow Providers

apache-airflow-providers-ftp==2.0.1
apache-airflow-providers-http==2.0.1
apache-airflow-providers-imap==2.0.1
apache-airflow-providers-microsoft-azure==3.1.1
apache-airflow-providers-microsoft-mssql==2.0.1
apache-airflow-providers-odbc==2.0.1
apache-airflow-providers-postgres

[2021-09-22 23:06] potiuk opened #18449 "Silent failure when running `airflow db init`"
### Discussed in https://github.com/apache/airflow/discussions/18408

<div type='discussions-op-text'>

<sup>Originally posted by **ziplokk1** September 21, 2021</sup>
Hey folks,

I've come across an issue where when attempting to run migrations against a clean database, but with existing dags defined in my dags folder, there's a silent failure and the migration exits with the `airflow` command us

[2021-09-22 23:33] #18449 closed

[2021-09-23 01:18] jdddog commented on #17546
I had the same issue with the apache/airflow:2.1.4-python3.8 Docker image:
[code]

The LD_PRELOAD fix didn't work for me.

In my case it occurred when using remote logging with Google Cloud Storage and the Google Cloud Secrets backend. With these two services off it didn't occur. Unfortunately I haven't had a chance to test it with one or the other off.

What fixed it was removing all the Python p

[2021-09-23 02:16] MatrixManAtYrService opened #18454 "BranchPythonOperator intermittently fails to find its downstream task ids"
### Apache Airflow version

2.2.0b2 (beta snapshot)

### Operating System

debian (docker)

### Versions of Apache Airflow Providers

n/a

### Deployment

Astronomer

### Deployment details

`astro dev start` with dockerfile:

[code]

And dags:
- [simple_branch](https://gist.github.com/MatrixManAtYrService/bb7eac11d2a60c840b02f5fc7c4e864f#file-simple_branch-py)
- [branch](https://gist.github.com/M

[2021-09-23 05:21] leonarduschen opened #18457 "Running `airflow db init` raises OperationalError on SQL: ALTER TABLE xcom DROP COLUMN id"
### Apache Airflow version

2.1.3

### Operating System

Pop!_OS 21.04 x86_64

### Versions of Apache Airflow Providers

apache-airflow-providers-ftp==2.0.1
apache-airflow-providers-http==2.0.1
apache-airflow-providers-imap==2.0.1
apache-airflow-providers-sqlite==2.0.1

### Deployment

Other

### Deployment details

Using `venv` on Python 3.9.5

[code]

### What happened

Running `airflow db init`

[2021-09-23 06:22] fritzb commented on #10605
Here is the workaround (tested with Airflow 2.1.4) if you are using airflow helm chart:

values.yaml:

[code]

[2021-09-23 07:00] dibyo-gintaa opened #18458 "Airflow deployed on Kubernetes cluster NOT showing airflow app metrics in STATSD Exporter"
### Apache Airflow version

2.1.1

### Operating System

PRETTY_NAME="Debian GNU/Linux 10 (buster)" NAME="Debian GNU/Linux" VERSION_ID="10" VERSION="10 (buster)" VERSION_CODENAME=buster ID=debian

### Versions of Apache Airflow Providers

airflow:
  extraPipPackages:
   - apache-airflow[statsd]

### Deployment

Official Apache Airflow Helm Chart

### Deployment details

We have deployed the airflo

[2021-09-23 08:23] imamdigmi commented on #18312
hi @uranusjr , is there any continuation regarding this? or any good news regarding this issue?

[2021-09-23 08:24] kaxil commented on #18454
Interesting, will have to take a closer look

[2021-09-23 08:43] eladkal commented on #18454
I am able to reproduce with your code but this is because your code has a bug.

The decision function:
[code]

doesn't cover all possible cases. so when `pick_random_ingredient` hits `mayonase` the decision will return `None` resulting in the error you experienced.

[2021-09-23 08:50] BasPH commented on #18457
As the error says "Unable to create or change a table without a primary key, when the system variable 'sql_require_primary_key' is set". This setting was apparently introduced in MySQL 8.0.13 and is OFF by default, so I guess you have enabled it.

The XCom table does include a primary key (dag_id, task_id, key, execution_date), but the migration script first removes the (old) id column, which fail

[2021-09-23 09:14] magnusfurugard commented on #11708
It is possible to mount the plugins via git sync today, if you keep your plugins with your DAGs, e.g.;
[code]

You can then just set an `extraEnv` with the direct path.
[code]

[2021-09-23 09:36] leonarduschen commented on #18457
It works, thanks!

But here's the thing, I was susing a managed database from DigitalOcean where the only way to change the config `sql_require_primary_key` **_permanently_** is to reach out their customer support and ask them to change it

If I change it on my own like so:
[code]
It will reset back to ON for new connections - so there is no way to set the variable to OFF when running `airflow db

[2021-09-23 09:40] bbovenzi commented on #18436
Yes, a way to see variables without editing them sounds like a good idea.

[2021-09-23 09:57] BasPH commented on #18457
Seems like more people bumped into this problem: [1](https://stackoverflow.com/a/68832568/3066428) and [2](https://github.com/laravel/framework/issues/33238). [This post](https://github.com/laravel/framework/issues/33238#issuecomment-873322434) suggests you can set `SET SESSION sql_require_primary_key=0` to disable it within a session, but I would want to properly test that first.

[2021-09-23 10:06] Jorricks commented on #18422
Can you please share the python code of your DAG?
I'll see if I can replicate the issue.

[2021-09-23 10:08] Jorricks commented on #18401
Hmmm.
I remember there was an issue that if a task failed during imports and such, that it would fail completely without any retries.
This makes me think that it might be related to that fix.
Did you check your worker logs to see if anything turned up for the first run? Pretty sure there must at least be something as it probably won't go to failed without a reason.

[2021-09-23 10:13] Jorricks commented on #18448
Hello @hpatel-higi,

This is not enough to go on to figure out the issues.
What about sharing a bit more specific information about:
- How are these DAGs build up?
- Do these errors only occur if they are launched at the same time?
- Can we see some logs of the errors?

[2021-09-23 10:15] Jorricks commented on #18446
Hello @StewartThomson,

I'd love to look into the issue but I'm not sure I fully understand the setup.
Can you create a minimal example of a Dynamic DAG with this issue?

[2021-09-23 10:20] Jorricks commented on #18333
We were also missing this functionality. Thank you for creating the PR ✌️

[2021-09-23 10:28] bbovenzi commented on #17727
Instead of moving the cookies around, we probably need to use a regular alert instead of flash and render those after the redirects.

[2021-09-23 10:38] Limess commented on #18369
We're also experiencing this issue since upgrading. Closing and opening a task group fixes the issue as suggested.

[2021-09-23 11:00] potiuk commented on #18333
Nice indeed!

[2021-09-23 11:15] potiuk commented on #18457
Yeah. Good one @BasPH -> I am all for "no user/support involvement" if needed. We already do a couple of things automatically to deal with MySQL and MsSQL "configurability":

* for MySQL we automatically set "utf8-mb3" encoding for IDs (this is the primary reason why the DB works at all when you have utf8mb4 set - because of index size limits. Here we "transparently" fix that for the user (we have

[2021-09-23 11:28] potiuk commented on #11708
This is a good idea to have GitSync for plugins, but I am afraid the solution where you keep your plugins together with DAGs is a very bad idea for Airflow 2, one that should be heavily discouraged.

There are two reasons (actually the root cause is isolation and security):

1) Plugins should not be "modifiable" by DAG writers. Plugins give you more "powers" over Airlfow that DAGs. The Plugins can

[2021-09-23 11:28] samwedge commented on #14572
@eladkal Are subdags really deprecated? I can't see that in the docs or the code.

TaskGroups solve only one use-case of subdags (cleaner view of tasks in the UI). They don't solve the issue where a group of tasks need to be handled together (for example, if one task in a group fails, then the entire group should be restarted).

[2021-09-23 11:47] millin commented on #18401
I haven't yet been able to find the reason, rolled back to 2.1.3

[2021-09-23 11:52] uranusjr commented on #14572
My (personal, not related to any affiliations) take is subdags are not deprecated as in defined in software lingo, but deprecated in the sense that we strongly discourage people to use it (the dictionary definition). I’d also say a fix to it would be very much welcomed, but don’t expect anyone else to actively spend time on investigating the cause the solution.

[2021-09-23 11:53] ashb commented on #18401
@ephraimbuddy I think should be fixed by https://github.com/apache/airflow/pull/17819, right?

@dstandish If you have time could you try out 2.2.0b2 which has that fix in it and let us know?

[2021-09-23 11:53] eladkal commented on #14572
Starting Airflow 2.2 https://github.com/apache/airflow/pull/17488

There is time between depreciation to actual removal.
If you are missing functionality that you believe is essential please open a feature request.

[2021-09-23 11:56] #16887 closed

[2021-09-23 11:59] leonarduschen commented on #18457
Turns out `SET SESSION <variable>=<value>` and `SET <variable>=<value>` do the same thing; both keeps variable within the session/  According to https://dev.mysql.com/doc/refman/8.0/en/set-variable.html all the following do the same thing
[code]

---

@potiuk I'll go ahead and give it try

[2021-09-23 12:16] potiuk commented on #18457
Just a hint. One good thing to try is to change the setting in MySQL config and see it fail the migration before fixing :). Just to be sure that the setting is effective.

You can very easily test it locally. Just `.,/breeze --db-reset --backend mysql` should do the trick

[2021-09-23 12:19] eladkal commented on #14885
I think this has been resolved upstream by @turbaszek PR https://github.com/googleapis/python-dataproc/issues/51 ?

[2021-09-23 12:22] mcheale-parkit opened #18465 "SlackAPIFileOperator filename is not templatable but is documented as is"
### Apache Airflow Provider(s)

slack

### Versions of Apache Airflow Providers

apache-airflow-providers-slack==3.0.0

### Apache Airflow version

2.1.4 (latest released)

### Operating System

Debian GNU/Linux 11 (bullseye)

### Deployment

Other Docker-based deployment

### Deployment details

_No response_

### What happened

Using a template string for `SlackAPIFileOperator.filename` doesn't

[2021-09-23 13:42] cristian-fatu opened #18468 "Fetching the driver logs using SparkKubernetesSensor fails when the driver pod has a sidecar"
### Apache Airflow version

2.1.1

### Operating System

Ubuntu

### Versions of Apache Airflow Providers

_No response_

### Deployment

Official Apache Airflow Helm Chart

### Deployment details

_No response_

### What happened

I tried to run a simple Spark application using the SparkKubernetesOperator and SparkKubernetesSensor.
In the yaml file for the Spark Operator I added a sidecar contain

[2021-09-23 13:51] MatrixManAtYrService commented on #18454
Oh my, how embarrassing. Do we want to take the opportunity to make the error more explicit (not that it was awful), or just call it user error?

[2021-09-23 13:52] ashb commented on #18454
Producing more helpful error messages to users error is always a good goal.

[2021-09-23 14:10] mik-laj commented on #18468
CC: @roitvt

[2021-09-23 14:47] davidmt1997 commented on #14129
I have this exact same issue with custom sensors for AWS Glue jobs. Has this issue been resolved? Or is there any particular solution or workaround?
Thanks

[2021-09-23 15:05] MatrixManAtYrService opened #18473 "CLI: `airflow dags test { dag w/ schedule_interval=None } ` error: "No run dates were found""
### Apache Airflow version

2.2.0b2 (beta snapshot)

### Operating System

ubuntu 20.04

### Versions of Apache Airflow Providers

n/a

### Deployment

Virtualenv installation

### Deployment details

pip install /path/to/airflow/src

### What happened

Given any DAG initialized with: `schedule_interval=None`

Run `airflow dags test mydagname $(date +%Y-%m-%d)` and get an error:

[code]

This beha

[2021-09-23 15:08] StewartThomson commented on #18446
I've tracked down the source of my woes.

The dags were being created directly in a loop

Creating and returning the dag in a function as outline here: https://www.astronomer.io/guides/dynamically-generating-dags
solved my issue.

Closing, thanks for your response.

[2021-09-23 15:08] #18446 closed

[2021-09-23 15:08] MatrixManAtYrService commented on #18473
I had filed this issue in the wrong repo previously (oops).  Here's a comment about it from @uranusjr :

[2021-09-23 15:11] AFGhazy commented on #16349
In here, I meant setting a time for unpausing the DAG automatically, it's not about retrieving these times.

[2021-09-23 15:12] alex-astronomer commented on #18333
Woo!  Happy to help!  Let's get those security holes plugged up too @Jorricks !

[2021-09-23 15:13] Raydrrrr1234 opened #18474 "Other language support"
### Description

Airflow is a great software. I use it intensively in my current work. But I wonder why the webserver is running without other language support? Isn't it nice to switch between different language for different country?

### Use case/motivation

I want to add Chinese to airflow. I am professional in Chinese and Japanese. I would like to add a switch to change webserver to Chinese an

[2021-09-23 15:22] eladkal commented on #16349
Do you mean you want to schedule when a DAG will enter a Pause/Active mode?

[2021-09-23 15:25] eladkal commented on #18474
We have an open issue for localization of the UI : https://github.com/apache/airflow/issues/9864
I'm closing as duplicate.
Feel free to comment in https://github.com/apache/airflow/issues/9864

[2021-09-23 15:25] #18474 closed

[2021-09-23 15:53] hpatel-higi commented on #18448
The DAGs are in a python file of their own.  Theres 20 DAGs in total that we have.  If create a DAG run for all of them at the same time thats when i get a DAGTimeout error and sometime AirflowTaskTimeout error.  I cant get the logs since its happening on Azure app service, but i will try and see what i can get.

Also when i was getting these errors i had my SECRET_KEY set to ```b'asdfasdfasdf'```

[2021-09-23 16:55] AdrianLsk opened #18477 "Helm chart schema error for images.useDefaultImageForMigration property"
### Official Helm Chart version

1.1.0 (latest released)

### Apache Airflow version

2.1.2

### Kubernetes Version

1.21.4

### Helm Chart configuration

Using `images.useDefaultImageForMigration=true` altogether with my own image set in `images.airflow.{repository,tag,pullPolicy}`

### Docker Image customisations

_No response_

### What happened

Tried to use my own airflow image ONLY for sched

[2021-09-23 17:02] mirobertod commented on #17546
Same here, it happens when using remote logging with Google Cloud Storage. (we are using Workload Identity as credentials since we are on GKE)

[2021-09-23 17:20] hpatel-higi commented on #18448
[code]

[2021-09-23 17:26] hpatel-higi commented on #18448
This is what my airflow.cfg file looks like

[code]

[2021-09-23 17:29] potiuk commented on #18454
And always a moving target. @MatrixManAtYrService  - maybe that's a good idea to make a first contribution to Airflow and improve the message ?

[2021-09-23 18:11] #18465 closed

[2021-09-23 18:28] MatrixManAtYrService commented on #18454
I agree @potiuk, but it looks like @eladkal beat me to it: https://github.com/apache/airflow/pull/18471

Next time.

[2021-09-23 18:39] denysivanov commented on #18409
@Jorricks it is working in QA will try in PROD now
Appreciate your help here

[2021-09-23 19:24] potiuk commented on #18448
I think if importing your DAG takes > 30 seconds, then you simply  try to do too much in your DAG's Top-Level code:

I just published some updates to documentation related to that - please read the docs and follow them:

https://airflow.apache.org/docs/apache-airflow/stable/best-practices.html#top-level-python-code

and:

https://airflow.apache.org/docs/apache-airflow/stable/best-practices.html#re

[2021-09-23 19:25] soares7vinicius commented on #17831
@KarthikRajashekaran did you find any solution?

[2021-09-23 19:30] hpatel-higi commented on #18448
Like i mentioned in the previous comment, in version 1.10.8 we didnt have this issue.

It just started happening after we upgraded to 2.1.4.  Ours DAGs are already following the best practices.

[2021-09-23 19:40] potiuk commented on #18448
How do you kow that? Those best practices were pubkished LITERALLY 10 minutes ago.

About 90% of the content there was not existing a week ago even in a PR and was build basing on experience of people who had similar problems, so there is no way you could have followed it.

You can also increase the timeout of importing the DAGBag it after reviewing the practices you confirm that you followed them

[2021-09-23 19:40] #18448 closed

[2021-09-23 20:00] wc-s commented on #18400
Hey, @potiuk , I've opened a PR here: https://github.com/apache/airflow/pull/18481, with unit tests passing locally.

Could you advise on how I should proceed from here? Thanks. From what I can see, I need an approval to even get the pipeline started.

[2021-09-23 20:01] jyotsa09 opened #18482 "No SQL error shown when using the JDBC operator"
### Apache Airflow version

2.2.0b1 (beta snapshot)

### Operating System

Debian buster

### Versions of Apache Airflow Providers

_No response_

### Deployment

Astronomer

### Deployment details

astro dev start
Dockerfile - https://gist.github.com/jyotsa09/267940333ffae4d9f3a51ac19762c094#file-dockerfile

### What happened

Both connection pointed to the same database where table "Person" does

[2021-09-23 21:30] subkanthi commented on #18482
@potiuk I can try this out.

[2021-09-23 21:34] kaxil commented on #18482
@subkanthi assigned it to you, go for it

[2021-09-23 21:36] kaxil commented on #18477
`useDefaultImageForMigration` is only available in the `main` branch not `1.1.0` of the chart. This will be available in Helm Chart 1.2.0 that should be released in next 4-5 days.

Use https://airflow.apache.org/docs/helm-chart/stable/parameters-ref.html to check what's available in latest stable version of the chart

[2021-09-23 21:37] uranusjr commented on #18482
I remember chatting with another developer on this. Note that this seems to be problem specific to JDBC; after #16805 (the PR fixing #16564), most task errors can correctly be logged—but not JDBC. In fact, the JDBC error does not even go through the code path implemented in the PR; when using JDBCOperator, you get *no errors at all*, not the *Task failed with exception* message an exception would

[2021-09-23 21:58] uranusjr commented on #15675
Would you be interested in working on this?

[2021-09-23 22:07] uranusjr commented on #18473
Some additional unorganised thoughts:

1. It’s possible to match the pre-AIP-39 behaviour.
2. But I am not very keen to do it and would prefer other possibilities if possible because the previous design really does not make sense.
3. For this specific use case, changing the test runs to manual would be sufficient. But that may cause issues for DAGs that do have a backfilling schedule (changing the

[2021-09-23 22:32] SamWheating opened #18485 "apache-airflow-providers-google incompatible with latest google-cloud-dataproc (2.6.0)"
### Apache Airflow version

2.1.4 (latest released)

### Operating System

MacOS

### Versions of Apache Airflow Providers

apache-airflow-providers-google==5.1.0

### Deployment

Other

### Deployment details

_No response_

### What happened

Installing the google provider and importing the `DataprocSubmitJobOperator` fails.

I believe this is due to the removal of the Dataproc V1Beta2 Client in

[2021-09-23 22:39] kaxil commented on #18485
assigned the issue to you

[2021-09-23 22:43] SamWheating commented on #18485
Thanks - would it be preferable to simply pin the version to `>=2.2.0,<2.6.0` as a quick fix, or should I update all of the dataproc hooks / operators?

[2021-09-23 22:45] uranusjr commented on #18312
I had no luck replicating this issue either, unfortunately. My suspicion is there’s a botched DAG deserialisation somewhere that turned `dag.schedule_interval` into a dict (a timedelta interval is serialised into a dict internally) and cuased this issue.

Since we are unlikely to release another 2.1 patch version, and have significantly rewrote this part of the logic for 2.2, I’m inclined to put t

[2021-09-23 22:47] uranusjr commented on #18485
How long do you estimate the hook/operator fix would be? It may be a good idea to merge the quick fix first and then work on upgrading the hooks in a subsequent PR.

[2021-09-23 22:51] SamWheating commented on #18485
Yeah agreed, its hard to estimate how long operator fix will take but it will be very easy to pin the version to a non-breaking one in the meantime.

I'll open a PR shortly and we can leave this issue open to track the deprecation of the `v1_beta2` client.

[2021-09-23 23:24] StewartThomson opened #18487 "2.1.3/4 queued dag runs changes catchup=False behaviour"
### Apache Airflow version

2.1.4 (latest released)

### Operating System

Amazon Linux 2

### Versions of Apache Airflow Providers

_No response_

### Deployment

Docker-Compose

### Deployment details

_No response_

### What happened

Say, for example, you have a DAG that has a sensor. This DAG is set to run every minute, with max_active_runs=1, and catchup=False.

This sensor may pass 1 or mor

[2021-09-23 23:30] uranusjr commented on #18487
What is your understanding to catchup? This does not match my understanding to it.

https://airflow.apache.org/docs/apache-airflow/stable/dag-run.html?highlight=catchup#catchup

From the documentation’s description, catchup only matters for runs missed their turn. But since the scheduler is able to schedule those runs at the pace of once a minute, those runs did not miss their turn, so catchup doe

[2021-09-23 23:46] StewartThomson commented on #18487
Per the documentation:

"When turned off, the scheduler creates a DAG run only for the latest interval."

With the queued state, it creates dag runs for the latest interval and the next 16 intervals (by default)

[2021-09-23 23:59] uranusjr commented on #13559
If we support nested rendering we’d also need to worry about circular reference, which would require a significantly more elaborated algorithm to properly handle. Dependency resolution is hell, don’t go there if at all possible.

[2021-09-24 00:00] Raydrrrr1234 commented on #9864
I would agree with adding a language parameter to the airflow.cfg file that indicates the webserver UI uses different language.

[2021-09-24 00:05] #17343 closed

[2021-09-24 01:59] MatrixManAtYrService commented on #18473
regarding (4), the trouble with using those commands as a substitute for `airflow dags test` is that they don't show you the task logs, so they're not especially useful if your dev workflow looks like:

- edit mydag.py
- `airflow dags test mydag`
- look at task logs
- edit some more

Also, they require that you have a scheduler running, which is a small step, but still an extra setup/teardown to k

[2021-09-24 02:49] yuanke7 commented on #18422
Sure, thanks for your help !!!
`
#!/usr/bin/python3
# -*- coding: utf-8 -*-
# @Time : 2021/8/20 上午9:55
# @Author : yuankq1
# @File : mingle_dag.py
import pendulum
from airflow import DAG
from proj.config import WIN_SERVER_1, SERVER_1_HEADERS
from proj.utils.dag_related import start_wait
from datetime import timedelta, datetime, time
from airflow.sensors.time_sensor import TimeSensor
from airflow.o

[2021-09-24 03:50] yuanke7 commented on #18422
Hi Jorricks, here is my simple flask API for test which you can see it would response  in 35min at least.
`
@bp.route('/test') 
def test_api(): 
      start_ = time.localtime() 
      min = int(request.args.get('min', 35)) 
      logger.info(f'testing start (min{min})...') 
      time.sleep(60 * min) 
      logger.info(f'testing end (min{min}).') 
      end_ = time.localtime() 
      return flask.

[2021-09-24 05:17] laserpedro commented on #18041
The SIGTERM issue came back for me in 2.0.2 so yes I really think that it is backend related.
I will have to log the cpu usage to see what's going on when all my dags are triggered at 00:00:00.

From that, I don't know what could be the solution... a fine tuning on the postgresql server maybe ... I am currently using the standard postgre cfg.

[2021-09-24 07:32] ephraimbuddy commented on #18401
Yes. It was resolved in #17819

[2021-09-24 07:38] deveshbajaj59 commented on #16020
@ephraimbuddy  Any update on this issue, the issue seems to be still persists in the airflow 2.1.4 . I am specifically getting this error when I am overriding the docker image,  with a custom image. which is the extension of airflow 2.1.4 only

[2021-09-24 08:04] #18442 closed

[2021-09-24 08:05] bhavaniravi opened #18491 "Parent DAG trigger_conf missing in SubDagOperator (only when triggered from UI)"
### Apache Airflow version

2.1.0

### Operating System

Debian GNU/Linux 10 (buster)

### Versions of Apache Airflow Providers

_No response_

### Deployment

Other

### Deployment details

Astronomer
Breeze

### What happened

When running a DAG with a SubDag with `trigger_conf` as of 1.x, the conf is passed to the SubDAG. But since 2.0, the behavior is changed.

When sending `trigger_conf` from

[2021-09-24 09:21] mik-laj commented on #18485
I created a issue in Google repository: https://github.com/googleapis/python-dataproc/issues/271

[2021-09-24 09:27] bbovenzi commented on #12199
@Anurag-Shetty Nice work!
Is `warning` the same as `acknowledged`?
Also, the color seems to be too similar to `upstream_failed`.

[2021-09-24 09:31] bbovenzi commented on #12750
Great idea. We need to improve the UX of the task instance action modal. Including documentation would be a good thing to add. It should probably appear as a collapsed field by default to not make the modal too loud and distracting.

[2021-09-24 09:45] #18082 closed

[2021-09-24 09:48] kaxil commented on #18485
If you install this provider with constraints file, this will work for now.

[2021-09-24 09:49] kaxil commented on #18485
e.g :

[code]

as we have the following

https://github.com/apache/airflow/blob/constraints-2.1.4/constraints-3.6.txt#L251

[2021-09-24 09:54] bbovenzi commented on #15976
These pages and forms are created in Flask so we'd need to disable it there if a field is blank. Probably in `forms.py`?

[2021-09-24 10:02] bhavaniravi opened #18492 "Extending SubDAGOperator doesn't show Zoom into SubDAG in the UI"
### Apache Airflow version

2.1.x

### Operating System

Debian GNU/Linux 10 (buster)

### Versions of Apache Airflow Providers

_No response_

### Deployment

Official Apache Airflow Helm Chart

### Deployment details

Breeze

### What happened

I extended the SubDAGOperator to add `conf` to `template_fields` as a workaround for #18491.

Extending the `Zoom into SubDAG` option in the UI doesn't a

[2021-09-24 10:16] bbovenzi commented on #18097
Good idea. I am working on improving how we show task groups in the tree view. After that is done, this would be a good next step.

[2021-09-24 10:21] bbovenzi commented on #17487
I've been thinking about how to make the gantt view more useful (I think it has a lot of potential). Showing the full state history of a task instance would be a great part of that.

[2021-09-24 10:26] uranusjr commented on #18473
That’s a good point. It’s difficult to have the same behaviour the same for `trigger` right now (needs some refactoring), so I’m inclined to restore the previous behaviour for 2.2 and plan for a deprecation/unification later.

[2021-09-24 10:27] bbovenzi commented on #18440
For anyone looking to fix this: It looks like we'd need to update `valid_celery_config` or `valid_kubernetes_config` here: https://github.com/apache/airflow/blob/main/airflow/www/views.py#L1556

[2021-09-24 10:29] uranusjr commented on #18473
cc @ashb for thoughts.

[2021-09-24 10:36] Anurag-Shetty commented on #12199
if you meant that its error but not failure. pipeline should continue to execute next task acknowledging the failure. then Yes, its can be named as acknowledged more general use.  We could keep different color.
Wanted to understand  if there any implications of adding new state?

[2021-09-24 11:52] #17727 closed

[2021-09-24 11:58] bhavaniravi commented on #18491
Can someone help me what would be a good starting point to fix this issue?

I am going back and forth between `subdag.py` and `trigger_dag.py` but not sure where the actual conf gets set for the subdag's dagrun

[2021-09-24 12:10] jensgrnb opened #18495 "apache-airflow-providers-sendgrid==2.0.1 doesn't show in the connections drop down UI"
### Apache Airflow Provider(s)

sendgrid

### Versions of Apache Airflow Providers

I'm running this version of airflow locally to test the providers modules. I'm interested in sendgrid, however it doesn't show up as a conn type in the UI making it unusable.

The other packages I've installed do show up.

[code]

### Apache Airflow version

2.1.2

### Operating System

NAME="Ubuntu" VERSION="20.04

[2021-09-24 12:59] AdrianLsk commented on #18477
Thanks for the info about the release date and sorry for the false alarm. I must have looked at the wrong branch.

[2021-09-24 12:59] #18477 closed

[2021-09-24 13:23] potiuk commented on #18440
Nice catch!

[2021-09-24 13:26] potiuk commented on #18440
Just in case - added a fix :)

[2021-09-24 13:41] Jaxing commented on #16209
I think this might be due to a bug.
This configuration of the operator works
[code]

But if I try to make it save it to a destination table like this
[code]
I getting `google.api_core.exceptions.BadRequest: 400 POST https://bigquery.googleapis.com/bigquery/v2/projects/<project_id>/jobs?prettyPrint=false: Required parameter is missing`

[2021-09-24 13:48] potiuk commented on #18495
Sendgrid does not have it's own connection type. You can use any connection type for it  (Http for example) - the important is tha you name it the way you use in configuration

https://airflow.apache.org/docs/apache-airflow/stable/howto/email-config.html?highlight=sendgrid#send-email-using-sendgrid

But this is a workaround, really I agree we should have at least "email" type of connection because

[2021-09-24 14:10] jedcunningham commented on #17398
Just to follow up here, restarts are now forced whenever the secret key changes (#18079) and a notice is shown when a dynamic secret key is used (#18306) so unnecessary restarts can be avoided.

[2021-09-24 14:10] #17398 closed

[2021-09-24 14:12] ephraimbuddy commented on #16020
It'll be out in 2.2.0

[2021-09-24 14:14] KevinJoaquim opened #18500 "BROKEN DAG : AttributeError: module 'sqlalchemy.util.compat' has no attribute 'TYPE_CHECKING'"
### Apache Airflow version

2.1.2

### Operating System

Linux python3.6 venv

### Versions of Apache Airflow Providers

_No response_

### Deployment

Virtualenv installation

### Deployment details

_No response_

### What happened

Hello team,

I have an import UI problem with a Dag :

![Capture du 2021-09-24 13-40-37](https://user-images.githubusercontent.com/8696431/134688313-b5556d3b-9e05-4b

[2021-09-24 14:19] vlieven opened #18501 "Scheduler overloaded when backfilling by clearing DAG history"
### Apache Airflow version

2.1.2

### Operating System

Debian 10

### Versions of Apache Airflow Providers

apache-airflow-providers-apache-spark

### Deployment

Other Docker-based deployment

### Deployment details

Deployed on AWS EKS (Kubernetes version 1.21), backed by RDS database (Postgres API)
Using Kubernetes Executor

### What happened

I cleared +- 2000 runs of the same DAG in order t

[2021-09-24 14:20] vlieven commented on #18501
I'm willing to contribute on a fix for this, but I don't know where to start looking for the cause of the problem

[2021-09-24 14:21] ephraimbuddy commented on #18491
`SubDagOperator` is deprecated. Not sure if we still work on deprecated items

[2021-09-24 14:26] billcrook commented on #12199
The original intent of this ticket is to acknowledge that a task has failed. I don't believe the pipeline should continue to execute the next task in the failed dag run.

[2021-09-24 14:54] fmilagres commented on #18500
Hello @KevinJoaquim,

Could you send part of your code? DAG code and everything else.

[2021-09-24 15:25] nsepetys commented on #18398
@ephraimbuddy - I am uncertain of how to continue debugging this. Running the DAG with `DebugExecutor` is not telling me much as to why these tasks are being passed.

[2021-09-24 15:29] foldvari commented on #18369
If there are multiple task groups in the workflow, you need to close all of them to get back the statuses.

[2021-09-24 16:12] #18495 closed

[2021-09-24 16:13] potiuk commented on #18495
Fixed that for the upcoming release (2.2) - email connection type + updated documentation should be there.

Thanks for reminding me of that annoying issue.

[2021-09-24 16:26] jedcunningham opened #18509 "Support fernet key rotation"
### Description

The current helm chart only allows for easy setting of the fernet key during initial install, and provides no easy way or help with rotating it afterwards.

### Use case/motivation

Chart users will eventually (hopefully!) want to rotate their fernet key, and there should be an easy way to do it with the chart.

This may include advising users to explicitly set their fernet key, e

[2021-09-24 16:28] jedcunningham commented on #18098
The secret key warning will be in place for chart 1.2.0 and Airflow 2.2.0.

I've opened a new issue (#18509) to cover the fernet key portion of this as it requires more than just a warning message.

[2021-09-24 16:28] #18098 closed

[2021-09-24 16:43] jj8huang commented on #16344
Was there a solution to this issue? I have been trying to migrate to airflow 2.1.4 and am getting this when running the upgrade in webserver:

`sqlalchemy.exc.ProgrammingError: (psycopg2.errors.UndefinedColumn) column dag.last_scheduler_run does not exist`

I'm not sure how to fix it

[2021-09-24 17:25] #14166 closed

[2021-09-24 17:59] turbaszek commented on #14885
@eladkal that's also my understanding

[2021-09-24 17:59] ephraimbuddy commented on #18398
This is on my list and I will look into it, however, I will advise you to move to TaskGroup. Subdag is deprecated and we don't pay much attention to it anymore.

[2021-09-24 18:11] potiuk commented on #16344
Did you run `airflow db upgrade` as part of the upgrade? https://airflow.apache.org/docs/apache-airflow/stable/installation/setting-up-the-database.html

[2021-09-24 18:22] potiuk commented on #11837
No. It can be closed

[2021-09-24 18:22] #11837 closed

[2021-09-24 18:36] #14885 closed

[2021-09-24 19:43] potiuk commented on #18445
How about using API calls to check the status of DAGs that should be enabled? This is much better than notification as it can be based on current state (and run periodically - even as a separate workflow).

Converting that into a discussion as I think this is not ready yet to be a "feature" and needs some discussion. We can convert it back if we find it is needed.

[2021-09-24 19:43] #18445 closed

[2021-09-24 21:40] jbarnettfreejazz opened #18512 "airflow deadlock trying to update rendered_task_instance_fields table (mysql)"
### Apache Airflow version

2.1.4 (latest released)

### Operating System

linux

### Versions of Apache Airflow Providers

_No response_

### Deployment

Official Apache Airflow Helm Chart

### Deployment details

_No response_

### What happened

We have been unable to reproduce this in our testing. Our dags will utilize the S3KeySensor task. Sometimes we will have up to 100 dag_runs (running th

[2021-09-24 22:26] mrende1986 opened #18513 "ooops something has happened"
### Apache Airflow version

2.1.0

### Operating System

Windows

### Versions of Apache Airflow Providers

Ooops!
Something bad has happened.
Please consider letting us know by creating a bug report using GitHub.

Python version: 3.8.10
Airflow version: 2.1.0
Node: airflowvm
-------------------------------------------------------------------------------
Traceback (most recent call last):
  File "

[2021-09-24 23:15] Wuerike opened #18514 "Add BigQuery to Mongo operator at providers.mongo.transfers"
### Description

I've developed a BigQuery to MongoDB operator and I was thinking about contributing on adding it to the project.

I've basically merged BigQueryGetDataOperator (providers.google.cloud.operators) with MongoToS3Operator (providers.amazon.aws.transfers), following the same code style.

Has features like:
- Fetchs all fields on a line, or can receive witch fields should be fetch
- Sto

[2021-09-25 05:47] vumdao commented on #9975
Issue does not happen on 2.1.4
![image](https://user-images.githubusercontent.com/37215642/134760074-23a8bec9-13ae-4b36-8e62-1ce9fc25367c.png)

[2021-09-25 08:08] potiuk commented on #10605
Just join the #contributors-workshop channel - we announce the workshops there.

[2021-09-25 08:13] potiuk commented on #18468
@cristian-fatu - maybe you would like to stab on it and fix it?

[2021-09-25 08:56] KevinJoaquim commented on #18500
Hello @fmilagres
Here is the code of a dag with the same error:

`from datetime import datetime, timedelta, date

from airflow import DAG
from airflow.utils import dates
from airflow.operators.python_operator import PythonOperator, BranchPythonOperator
from airflow.providers.http.operators.http import SimpleHttpOperator
from airflow.operators.dummy_operator import DummyOperator
from airflow.models

[2021-09-25 09:21] Cyan-Zheng opened #18515 "airflow"
### Apache Airflow version

2.0.1

### Operating System

linux

### Versions of Apache Airflow Providers

airflow=2.0.1

### Deployment

Other

### Deployment details

_No response_

### What happened

I installed airflow=2.0.1 and started the web server and then see below errors:

---------------------------------------------------------------------------------------------------------------------

[2021-09-25 10:10] potiuk commented on #13559
I looked at this and the problem turned out to be a bit different.

True - we should not even attempt to solve the recursive rendering of fields cross-referencing each other. But this was not the case. This was a `kwargs` field which referred `opargs` field - and `kwargs` was AFTER `opargs` in the list of templated fields, so it **should** work in principle, without resolving the recursive problem

[2021-09-25 10:16] potiuk commented on #13559
With the change from #18516, I got this:

![Screenshot 2021-09-25 12 16 03](https://user-images.githubusercontent.com/595491/134767851-38f5474c-03b1-457c-adc8-6ee2d02c13e6.png)

[2021-09-25 11:29] potiuk commented on #18512
Is it always the same DELETE FROM ? Could you please provide a bit more detailed stack trace from the logs - including line numbers etc. ? Also can you add more information about your MySQL deployment - which version of MySQL you have and what is your configuration of MySQL backend if possible (I am especially interested in any configuratoin that is different than default) ?

[2021-09-25 12:10] mik-laj commented on #18485
Latest release has been YANKED, so it is not problem anymore.
![Screenshot_20210925-140844](https://user-images.githubusercontent.com/12058428/134771041-09d21e1a-a182-477a-bea6-1ab60efdabce.jpg)
https://pypi.org/project/google-cloud-dataproc/#history

[2021-09-25 12:10] #18485 closed

[2021-09-25 12:31] potiuk commented on #18513
You have ot run `airflow db upgrade`. See https://airflow.apache.org/docs/apache-airflow/stable/installation/setting-up-the-database.html

[2021-09-25 12:31] #18513 closed

[2021-09-25 12:37] potiuk commented on #18514
Go for it! No  need to evan open an issue for it - but feel free. I assign you to it.

[2021-09-25 13:30] #17737 closed

[2021-09-25 16:36] potiuk commented on #18500
[code]

This is likely your problem. For some reason you have a bogus package imstalled which replaces your sqlachemy.

I am not sure what the package is, but it could be that you are the victim of "typosquatting" attack (https://nakedsecurity.sophos.com/2017/09/19/pypi-python-repository-hit-by-typosquatting-sneak-attack/). Some time ago published packages in PIP which were different by only one l

[2021-09-25 16:36] #18500 closed

[2021-09-25 16:45] potiuk commented on #18515
Duplicale of #17620

You likely did not follow the installation instructions and did not use constraints: https://airflow.apache.org/docs/apache-airflow/stable/installation.html#installation-script

[2021-09-25 16:45] #18515 closed

[2021-09-25 16:49] #15205 closed

[2021-09-25 17:00] #18400 closed

[2021-09-25 17:55] #18454 closed

[2021-09-26 00:06] #17583 closed

[2021-09-26 00:06] #17538 closed

[2021-09-26 05:05] kevin1kevin1k commented on #11919
I would like to contribute to this!

[2021-09-26 05:07] uranusjr commented on #11919
🏃‍♂️

[2021-09-26 05:35] Jasonnor commented on #8199
Hello, I would like to write this guide 😄

[2021-09-26 05:45] uranusjr commented on #8199
@Jasonnor Please 🙂

[2021-09-26 06:30] peter0083 commented on #10742
I would like to tackle this issue if it hasn't been assigned recently. Thanks!

[2021-09-26 06:41] uranusjr commented on #10742
Go ahead 👍 Note that the ignore list above is out of date; please find the correct list in the pre-commit config file on `main`.

[2021-09-26 06:55] mattwang44 commented on #11851
I would like to take this one during PyCon Taiwan contribution workshop!

[2021-09-26 06:58] potiuk commented on #11851
Go for it!

[2021-09-26 07:19] uranusjr commented on #18501
Is there a reason for this specific setup? Since the global concurrency is set to 2, setting a DAG to have max three active runs seems… wrong.

[2021-09-26 07:41] eladkal commented on #16487
@ejstembler would you like to finish the PR you started?

[2021-09-26 08:04] uranusjr commented on #12301
I'll close this since #16634 has since been merged.

[2021-09-26 08:04] #12301 closed

[2021-09-26 08:55] #11851 closed

[2021-09-26 09:15] #11291 closed

[2021-09-26 09:29] eladkal commented on #14975
@koliankolin are you still working on it?

[2021-09-26 11:04] #8199 closed

[2021-09-26 11:46] #9197 closed

[2021-09-26 11:54] #11063 closed

[2021-09-26 19:49] vikramarsid opened #18540 "Failed to import airflow_local_settings"
### Apache Airflow version

2.2.0b2 (beta snapshot)

### Operating System

linux/amd64

### Versions of Apache Airflow Providers

_No response_

### Deployment

Other Docker-based deployment

### Deployment details

Dockerfile based deployments with DAGs copied into the container. Also, to use a different JSON library instead of the standard json library like ujson, local Airflow settings (airflow

[2021-09-26 20:00] mik-laj commented on #18540
In this context, you should import Airflow Exception as follow:
[code]

[2021-09-26 20:00] #18540 closed

[2021-09-26 20:02] mik-laj commented on #18540
We also recommend modifying the existing configuration instead of overwriting it. See: https://airflow.apache.org/docs/apache-airflow/stable/logging-monitoring/logging-tasks.html

[2021-09-26 20:18] t4n1o opened #18541 "Error when running dag & something to do with parsing the start date"
### Apache Airflow version

2.1.3

### Operating System

Ubuntu server 20.04 lTS

### Versions of Apache Airflow Providers

_No response_

### Deployment

Virtualenv installation

### Deployment details

It's deployed according to this ansible role:
https://github.com/idealista/airflow-role

### What happened

[code]

### What you expected to happen

It's hard to say what this error is about - it

[2021-09-27 01:02] subkanthi commented on #15526
can I have this assigned please

[2021-09-27 02:15] ejstembler commented on #16487
Hi @eladkal. I'm not sure what is left.  In the PR [comments](https://github.com/apache/airflow/pull/16492#issuecomment-863196996), @uranusjr asked for a test. However, I couldn't find an adequate way to test since the relative object was internal to a function and transient. Ref: https://github.com/apache/airflow/pull/16492#issuecomment-863781549

[2021-09-27 04:19] rainyjonne commented on #17063
Me too...

[2021-09-27 06:57] vlieven commented on #18501
Suppose you have a DAG with tasks X -> Y -> Z. Setting task_concurrency=2 and max_active_runs=3 allows you to start task X for dagrun n+2, while task Z is still running in dagruns n and n+0. I'm open to suggestions for better ways to optimize DAG throughput while limiting the number of concurrent tasks though?

In any case, I don't think the exact parameter values are relevant to the problem descr

[2021-09-27 07:32] bbovenzi commented on #18541
@uranusjr Shouldn't this be caught here? https://github.com/apache/airflow/blob/main/airflow/www/views.py#L917

[2021-09-27 07:44] xiaodouzi666 opened #18543 "Where is the algorithm file stored in Airflow,and how to find it"
### Describe the issue with documentation

Dear airflow's developers:
I am a student doing a DAG parsing engine project. I hope to refer to how your algorithm realizes the logic of inputting any yaml file to output the corresponding DAG. I hope to get a reply, sincere thanks

### How to solve the problem

_No response_

### Anything else

_No response_

### Are you willing to submit PR?

- [ ] Yes

[2021-09-27 08:02] #18543 closed

[2021-09-27 08:51] eladkal commented on #11919
solved in https://github.com/apache/airflow/pull/18525

[2021-09-27 08:51] #11919 closed

[2021-09-27 08:55] potiuk opened #18545 "Unable to add a new user when logged using LDAP auth"
### Discussed in https://github.com/apache/airflow/discussions/18290

<div type='discussions-op-text'>

<sup>Originally posted by **pawsok** September 16, 2021</sup>
### Apache Airflow version

2.1.4 (latest released)

### Operating System

Amazon Linux AMI 2018.03

### Versions of Apache Airflow Providers

_No response_

### Deployment

Other Docker-based deployment

### Deployment details

- AWS

[2021-09-27 09:03] potiuk commented on #18545
After discussion in https://github.com/apache/airflow/discussions/18290 and similar stack overflow issue here: https://stackoverflow.com/questions/69343651/create-user-with-ldap-authentification-in-airflow-2-1-4 - I think we should fix it @BasPH  WDYT?

The explanation is that some users who would not like to use automated registration of the users from LDAP would like to have bigger control over

[2021-09-27 09:03] potiuk commented on #18545
cc: @pawsok

[2021-09-27 09:06] jensgrnb commented on #18495
Okay so it'll never be listed as a specific conn_type under my current version airflow version 2.1.4.

How can I use http conn type for this? I tried setting the host as https://api.sendgrid.com/v3/ and adding the api key as password, but the response I get is 400.

As I understand the old fashioned way is to add the api key to the airflow configmap, however I really don't want to manage these kin

[2021-09-27 09:07] BasPH commented on #18545
Indeed sounds like a valid feature to have. The permissions in https://github.com/apache/airflow/discussions/18290#discussioncomment-1378607 seem to do the trick. @pawsok would you like to create a PR for that?

[2021-09-27 09:09] potiuk commented on #18545
Good idea :)

[2021-09-27 09:25] pawsok commented on #18545
Sure, it will be my first PR here, so let's try :)

[2021-09-27 09:39] bbovenzi commented on #18369
I'm still having issues replicating this on my end. I have one hunch though, what browsers are people experiencing this on?

[2021-09-27 10:37] bhavaniravi commented on #18541
@bbovenzi That check is not available in 2.1.3 codebase
https://github.com/apache/airflow/blob/2.1.3/airflow/www/views.py#L856

In what case would `start_date` be `None`? We usually find them in DAG parsing and report it as an error

[2021-09-27 10:39] uranusjr commented on #18541
Yup, that one is unfortunately not backported to 2.1, see #18315.

[2021-09-27 11:11] foldvari commented on #18369
I can reproduce both in Edge (93.0.961.52) and Chrome (94.0.4606.61) 64-bit.

Steps I use to reproduce:

1. Pick a DAG with multiple task groups and has a run already.
2. Open the most recent run in Graph mode.
3. Open two task groups. You see the status colors.
4. Refresh the screen while those task groups are open. Status colors disappear. (Not necessarily all but most of them.)
5. Close all the

[2021-09-27 12:25] Jaxing commented on #16209
I found a solution to my problem. I could use googles QueryJobConfiguration to create the config.
[code]

[2021-09-27 13:12] JavierLopezT commented on #17473
Let's say you have the following default_args:

[code]
And the following custom SnowflakeOperator:
[code]
Basically I would like to have a button somewhere like this:
<img width="703" alt="Captura de pantalla 2021-09-27 a las 15 08 12" src="https://user-images.githubusercontent.com/11339132/134914580-bdb0fd74-c27d-4251-bca0-ac9f4471da55.png">

It would show me the following information:

<img widt

[2021-09-27 13:15] JavierLopezT opened #18546 "Show code of other files than DAG one"
### Description

Showing code for several files besides the DAG code in the Code view of a DAG

### Use case/motivation

Sometimes I have python scripts and sql files in the same folder as the DAG file. I would like to be able to see their codes in the code view. It should be configurable with template_searchpath.

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I

[2021-09-27 13:21] enguerranchevalier commented on #18369
Having this issue with `Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:92.0) Gecko/20100101 Firefox/92.0 `.

@bbovenzi @foldvari On my side, the problem also appears with only one task group within the DAG.

[2021-09-27 14:00] subkanthi commented on #18482
Im having trouble getting the jar working for the JDBC connection, unassigning.

[2021-09-27 14:51] potiuk commented on #18495
I did not use sendgrid so I am not sure but from the code it looks like API_KEY is taken from connection password. I do not think host is ever used. You just have to make sure your connection is named 'sendgrid_default". You can also try env variable to test if your key is correct (see below):

The error 400 has nothing to do with password - it is `Bad request` - so if anything this might be a bad

[2021-09-27 15:01] jensgrnb commented on #18495
Thanks for the code pointer, I'll double check the pasted api key!

On Mon, 27 Sept 2021 at 16:51, Jarek Potiuk ***@***.***>
wrote:

[2021-09-27 15:09] Echronix opened #18549 "CloudWatch CreateLogGroup error on already existing LogGroup"
### Apache Airflow version

2.1.2

### Operating System

Ubuntu Docker

### Versions of Apache Airflow Providers

apache-airflow-providers-amazon==2.0.0
apache-airflow-providers-celery==2.0.0
apache-airflow-providers-cncf-kubernetes==2.0.0
apache-airflow-providers-docker==2.0.0
apache-airflow-providers-elasticsearch==2.0.2
apache-airflow-providers-ftp==2.0.0
apache-airflow-providers-google==4.0.0