[2021-12-25 17:50] #19802 closed

[2021-12-25 17:59] brandondtb commented on #11305
@rafaelvargas @ap-kulkarni I wanted to check in on the progress of this one and see if either of you are actively working on it. I could really use this feature, and would be happy to help however I can.

[2021-12-25 18:36] lssatvik commented on #18113
I am upgrading to Airflow 2.2.2, and I observed that the success callback is being executed when marking success. So the feature has been implemented then? If yes, I shall close this request.

[2021-12-25 19:17] lssatvik opened #20498 "Dynamically determine queue for a dag or task by passing a function that takes context as input"
### Description

Right now the queue of a dag/task is determined by the queue parameter in dag/task definition. I want this parameter to take a function as input. If a function is given as input, it should pass a context variable and use the return value as the queue for the dag/task.

Airflow dags and tasks support callback functions like for on_success_callback, which is given the context variab

[2021-12-25 22:09] chyumin commented on #16176
I got the same issue, but installing older version worked for me
```helm install airflow apache-airflow/airflow --namespace airflow --version 1.0.0```
Probably something is wrong with the current latest chart version

[2021-12-26 00:21] derkuci opened #20500 "infinite recursion in StreamLogWriter"
### Apache Airflow version

2.2.2

### What happened

When a task customizes logging (add a stream handler) and throws an exception, the airflow logging code goes into an infinite loop, doubling the log buffer every time, and quickly using up all the memory.  The call stack is something like:

[code]

### What you expected to happen

No log recursion.

### How to reproduce

Raise an exception with

[2021-12-26 08:44] mik-laj commented on #20032
@harishkrao Do you need help with preparing a PR?

[2021-12-26 09:10] ashwin153 commented on #19781
FWIW I have used `test@sink.sendgrid.net` to integration test email configurations in previous projects; `sink.sendgrid.net` is a "blackhole" domain that immediately deletes any emails that are sent to it. https://docs.sendgrid.com/ui/account-and-settings/safely-test-your-sending-speed

[2021-12-26 16:06] eladkal commented on #17720
@Sonins would you like to PR a fix?

[2021-12-26 21:43] harishkrao commented on #20032
@mik-laj Thank you for offering help, I will follow the steps in the guide and get back to you soon.

[2021-12-27 00:07] #9181 closed

[2021-12-27 01:17] ShakaibKhan commented on #19511
On v2.3.0.dev0 and I created 1000 DAGs w/ 4 task all printing hello world (Using Sequential Executor and default configs) and am able to see DAG status update pretty much immediately. I will try again in version 2.2 and using CeleryExecutor

[2021-12-27 01:35] Sonins commented on #17720
@eladkal I opened PR #20508.

[2021-12-27 03:14] harishkrao commented on #20032
Just opened a PR, thank you for reviewing @mik-laj!

[2021-12-27 10:20] Mr-YYM commented on #15635
[code]

when running with emulation, CPU is high

[2021-12-27 11:54] potiuk commented on #19891
This is a very good point. Technically we should do it before we reease the files in our source package. I am not sure if we want to release them, but this is another question which i think will need to be answered separately - and I think we shoud have a spearate discussion on how and whether to release them:
* we could not release them and only leave them in  the repo
* we could release them in

[2021-12-27 12:00] potiuk commented on #19891
BTW. I hope we will find/implement a solution soon so that we do not have to keep most of the .pyi files - particularly those in #20422  - I see that as a tactical quick solution to a problem we have with default_args. But I hope we will get rid of them soon enough whe we will invest a bit more time in custom mypy plugin (which I think is the only "good" solution).

But there are few others - espe

[2021-12-27 12:04] potiuk commented on #19891
cc: @ashb @uranusjr @kaxil @jedcunningham  -> I think we we need to make the decision on how/whether we release those files before 2.3. I'd say releasing all .pyi files together with airflow makes most sense.

[2021-12-27 12:41] BasPH opened #20515 "Improve the connections list view"
### Description

I find the connections view often leads to confusion because connections defined as environment variables and in a secrets backend are not displayed. This is not stated clearly.

I suggest to:

1. Display connections set via environment variables (and hide the edit controls for those connections). This could also help debugging a URI string if you could see the URI components brok

[2021-12-27 13:07] potiuk commented on #20498
That is unlikely to happen because of security.

Callbacks are executed in the context of Worker or DagFileProcessor, Scheuler is not supposed to execute any code provided by the user in the DAG. IT's the scheduler that dermines which executor can be used, and it sends prepared task to the executor (sometimes based on the "queue") parameter. And as you mentioned - the celery workers pick the tasks

[2021-12-27 13:24] raphaelauv commented on #20461
The scheduler is not going to delete dag runs already existing , so you have to manually delete them , I think it's safe this way

[2021-12-27 13:41] potiuk commented on #20500
Airflow tasks' stderr and stdout are by default redirected to the task log. this is necessary to capture all the output from the tasks to the log. You cannot really write logs to stderr to the task.

You can send the logs to other loggers but not to stderr - because this is exactly what is happnening - the stderr of your task is routed to the logger, sent to stderr and routed back.

You can see he

[2021-12-27 13:42] potiuk commented on #20500
We might consider this in the future to make it possible but unti we revamp the logging mechanism of airflow this is actually a feature, not a bug.

[2021-12-27 13:42] #20500 closed

[2021-12-27 14:01] andreychernih commented on #20461
This is fine and it actually makes sense that the scheduler won't delete the old runs, however, I don't think it is the right behavior for the scheduler to continue scheduling runs that are earlier than the actual start date of the DAG run.

[2021-12-27 14:52] iercan opened #20518 "Landing Times and Task Duration Charts crashes for big dags."
### Apache Airflow version

2.2.3 (latest released)

### What happened

I've upgraded airflow from 2.1.4 to 2.2.3.(tested 2.2.0 also) Small dags are okay but that one dag I have 170+ task and when I open task tries or landing times graphs page, page gets unresponsive and crash. I had to rollback because of this problem.

On webserver logs show this error.

### What you expected to happen

Landing

[2021-12-27 15:45] potiuk commented on #20515
Very, very much agree with it. This is yet another example that we should add helpful description of what's going on where and when users most expect it - at the very moment and place where they experience some pain.

[2021-12-27 16:33] potiuk commented on #18457
@leonarduschen  - that would be great if you can come back to it.

And the solution with temporary switching off the require_primary_key  (when in MYSQL) is actually the only one I can see works (and it is not really hacky - the settings is not "database" setting really. This is runtime in-session check that MySQL adds and it's perfectly OK to disable it if you know what you are doing.

Other than

[2021-12-27 16:35] potiuk commented on #20342
Closing. Seems there is nothing to do here

[2021-12-27 16:35] #20342 closed

[2021-12-27 16:51] boukisge opened #20520 "Airflow UI 404 - page not found"
### Apache Airflow version

2.2.1

### What happened

Unable to deploy Apache Airflow 2.2.x in Enterprise OpenShift 4.x cluster . I get a blank page in chrome browserAirflow UI  404 - page not found

for http://<myairflow-web-OpenShift route url>/airflow

### What you expected to happen

Not permitted to create RBAC roles and service accounts in our enterprise OpenShift cluster. Connecting to exte

[2021-12-27 16:58] trancebeyond commented on #16176
Confirming this.
`helm upgrade --install airflow apache-airflow/airflow --namespace airflow -f .\airflow\values.yaml --debug`
Returns:
`history.go:56: [debug] getting history for release airflow
Release "airflow" does not exist. Installing it now.
install.go:178: [debug] Original chart version: ""
install.go:199: [debug] CHART PATH: C:\Users\admin\AppData\Local\Temp\helm\repository\airflow-1.3.0.t

[2021-12-27 18:49] derkuci commented on #20500
I have no problem with calling this a feature, but would suggest a few things to help (others) debug when the circular logging indeed happens.
* `StreamLogWriter.write()` could be slightly modified to swap the buffer before sending another message to `_propagate_log`.  Something like
[code]
  This will change the growth of buffer from exponential to linear, and the users may hit the recursive stac

[2021-12-27 18:53] potiuk commented on #16176
Can someone please open a new issue with all the details please? This is a closed issue. Likely different reason. Commenting  on a closed issue from May will not resurrect it. Even if symptoms might be similiar, it is likely a different issue.

[2021-12-27 19:19] potiuk commented on #20500
Unfortunately this would change the logging behaviour. which we do not want to do as it would affect legitimately written logs and use extra memory when not needed. What we do with log writtng is correct - we should not use extra buffer nor strip messages. The problems is that by the time  you write log to stderr, stderr is directly routed back to the stream writer that propagates the logs further

[2021-12-27 19:28] #20155 closed

[2021-12-27 19:34] potiuk commented on #16176
We really need more details - values, configurtions, detaile logs from the "wait-for-migrations" jobs etc

[2021-12-27 20:04] harishkrao commented on #20453
@potiuk just created a PR, can you please review?

[2021-12-27 21:50] mik-laj commented on #20515
Duplicate: https://github.com/apache/airflow/issues/10867 ?

[2021-12-27 22:22] mishc9 commented on #14077
I've opened new PR based on this closed [pull request](https://github.com/apache/airflow/pull/20528) that could resolve this issue. Fixed tests that failed in original PR.

[2021-12-27 23:51] mingshi-wang commented on #20323
Hi @dstandish - It would be great if you can please help me look at my first PR to Airflow https://github.com/apache/airflow/pull/20530. Thanks!

[2021-12-28 00:12] dstandish commented on #20323
nice @mingshi-wang will give it a  look

[2021-12-28 07:27] demetthyl opened #20533 "Embedded InitContainers are not aware of secret backends"
### Official Helm Chart version

1.3.0 (latest released)

### Apache Airflow version

2.2.1

### Kubernetes Version

1.21

### Helm Chart configuration

[code]

### Docker Image customisations

Nothing fancy, just adding some ACs and pip install hashicorp provider

### What happened

I decided to use the new chart feature, letting us disable the basic key (`AIRFLOW__CORE__SQL_ALCHEMY_CONN `in my e

[2021-12-28 08:54] flrn77 commented on #12136
Hey there,

I can confirm that the error still exists in version 2.2.x python3.8.

For the setup I reference to @zappallot 2 comments above.
We have logging with datadog and frequently update process to new versions.
The errror occured in different k8sClusters and Versions 2.1.3, 2.1.4, 2.2.0, 2.2.1 and still present in 2.2.2.

[2021-12-28 09:11] microhuang opened #20534 "is not bound to a Session; lazy load operation of attribute 'dag_model'"
### Apache Airflow version

2.2.3 (latest released)

### What happened

 An error occurred while browsing the page (/rendered-k8s?dag_id=xxx&task_id=yyy&execution_date=zzz):
[code]

### What you expected to happen

_No response_

### How to reproduce

_No response_

### Operating System

NAME="CentOS Stream" VERSION="8"

### Versions of Apache Airflow Providers

[code]

### Deployment

Other 3rd-p

[2021-12-28 11:45] #19460 closed

[2021-12-28 12:54] #20032 closed

[2021-12-28 13:03] stablum commented on #19957
Just upgraded to Airflow 2.2.3, and unfortunately it keeps crashing as well

[2021-12-28 16:40] derkuci commented on #20500
Please be noted that the stripping is in the current airflow code; I copied the behavior to keep things the same when nothing bad happens (and if we don't strip, we get extra blank lines in the log).  And since Python uses references, I don't see any "extra" buffering here.  The only changed part is when the buffer (that StreamLogWriter keeps log messages) is cleared, before or after the recursion

[2021-12-28 16:47] potiuk commented on #20500
Then I simply did not understand what you proposed. Maybe open a PR and we can discuss it with others and see if it makes sense?  It's always best to discuss stuff when there is a draft PR showing the change and explaining the reasoning.

[2021-12-28 17:55] yehoshuadimarsky opened #20538 "Change Helm Chart tolerations logic when combining multiple parts of values.yaml"
### Official Helm Chart version

1.3.0 (latest released)

### Apache Airflow version

2.2.1

### Kubernetes Version

1.19.14-gke.1900

### Helm Chart configuration

Here are the relevant parts:

[code]

### Docker Image customisations

_No response_

### What happened

I am trying to get all the pods in the Chart to run on a specific node pool by using taints and tolerations, and the workers shoul

[2021-12-28 18:05] jedcunningham opened #20539 "Offline chart installs broken"
### Official Helm Chart version

main (development)

### Apache Airflow version

2.2.3 (latest released)

### Kubernetes Version

1.21.5

### Helm Chart configuration

_No response_

### Docker Image customisations

_No response_

### What happened

If you don't have outbound routing to the internet, you cannot install/template/lint the helm chart, e.g:

[code]

### What you expected to happen

Th

[2021-12-28 19:12] #20475 closed

[2021-12-28 20:38] derkuci commented on #20500
Here you go, #20541

Thanks for your time.

[2021-12-28 20:50] yehoshuadimarsky commented on #20538
But for some reason, the Scheduler has the order reversed:
https://github.com/apache/airflow/blob/6dfc939833fd3dc477b3971d965ba142d3b8bd77/chart/templates/scheduler/scheduler-deployment.yaml#L33

[2021-12-28 21:14] potiuk commented on #20248
Assigned

[2021-12-28 21:15] #20496 closed

[2021-12-28 22:05] khalidmammadov commented on #19891
Anyone looking at `tests/providers/amazon`?

[2021-12-28 23:35] #20437 closed

[2021-12-28 23:43] potiuk commented on #20515
Pretty much so @mik-laj . @BasPH  - should we close that ane?

[2021-12-29 00:03] mingshi-wang commented on #19891
I fixed mypy errors in airflow/decorators and then realized it was a dup effort. I'd be happy to help if there is any work not taken by anyone yet.

[2021-12-29 00:30] potiuk commented on #19891
See at the list in the issue - it contains a number of unresolved issues when we last checked (and check if someone has not signed up for it in the thread above). I hope to merge 3-4 more prs tomorrow and will re-run it to refresh the numbers.

[2021-12-29 00:49] subkanthi commented on #19903
Looking at this issue.

[2021-12-29 01:12] rustikk opened #20545 "built in macros (macros.random, macros.time) need documentation change"
### Apache Airflow version

2.2.3 (latest released)

### What happened

My gut says that the way forward is to change the macros object so that it only exposes modules:

- datetime
- time
- uuid
- random
... and then leave it to the user to decide which functions on those modules they want to call.  I'm not confident enough to make that change.  If instead we want to change the docs to match the a

[2021-12-29 09:42] eskarimov commented on #10921
The issue can be closed, the PR #20536 has solved it

[2021-12-29 10:51] qgallet opened #20552 "gzip parameter of sftp_to_gcs operator is never passed to the GCS hook"
### Apache Airflow Provider(s)

google

### Versions of Apache Airflow Providers

List of versions is the one provided by Cloud Composer image `composer-1.17.7-airflow-2.1.4`.
(cf. https://cloud.google.com/composer/docs/concepts/versioning/composer-versions#images )

Relevant here is `apache-airflow-providers-google==5.1.0`

### Apache Airflow version

2.1.4

### Deployment

Composer

### Deployme

[2021-12-29 11:56] #10921 closed

[2021-12-29 13:01] qgallet commented on #20552
Thanks for the quick reply ad merge @potiuk, closing the issue

[2021-12-29 13:01] #20552 closed

[2021-12-29 13:49] potiuk commented on #20545
I think that would be a heavily breaking change. I think we should update the docs instead.

[2021-12-29 14:01] eladkal commented on #18578
@dillonjohnson are you still working on this issue?

[2021-12-29 14:05] dillonjohnson commented on #18578
Yes. Sorry.
I just need to test a little bit more.
Will try to wrap it up soon. @eladkal

[2021-12-29 15:36] MatrixManAtYrService opened #20554 "Several dagruns scheduled at roughly the same time: SLA misses don't show up for the first few."
### Apache Airflow version

2.2.3 (latest released)

### What happened

Here's a dag, I expect it to create 5 dagruns when unpaused, and it does.

[code]

### What you expected to happen

I also expect it to create five SLA misses, but only four show up:

![slamiss](https://user-images.githubusercontent.com/5834582/147678208-432bf953-1c1f-460f-80f7-023df8a43e03.png)

### How to reproduce

unpause

[2021-12-29 15:41] potiuk commented on #19957
I looked at the code and  places where it can occure and I have a theory what could cause it.
And maybe some of people here can verify my theory.

Could you please disable https://airflow.apache.org/docs/apache-airflow/stable/configurations-ref.html#schedule-after-task-execution  and see if the problem still occur?

[2021-12-29 18:16] sweta-dsouza commented on #20554
Same dag created 3 records for me instead of 5.

![image](https://user-images.githubusercontent.com/34476770/147691727-dd38c021-538c-4865-8830-fd6d3d2bac73.png)

[2021-12-29 18:18] jyotsa09 commented on #20554
The same dag has created 3 records for me instead of 5.

![image](https://user-images.githubusercontent.com/88504849/147691849-63128368-8b56-4a53-8570-8ba440302838.png)

[2021-12-29 19:29] #20539 closed

[2021-12-29 19:49] MatrixManAtYrService opened #20557 "Make scheduled runs use user-supplied default dagrun parameters"
### Description

If you unpause this DAG, it will immediately create a failed dagrun:

[code]

The task fails like so:
[code]

This happens because the default dagrun params are only provided to manually triggered runs (and only if you explicitly run with params).  If the scheduler creates a dagrun, or if the user runs without thinking about params, `{}` is supplied and `"x"` is not found in in it

[2021-12-29 19:58] MatrixManAtYrService commented on #20557
Oh man, I'm silly.  This is already how it works.  I was just referencing `conf` and not `params`.

[2021-12-29 19:58] #20557 closed

[2021-12-29 20:13] potatochip commented on #19015
I would also add that all users do not have the ability to edit connections, only admin and ops roles.

[2021-12-29 20:52] MatrixManAtYrService opened #20559 "Missing required parameter shows a stacktrace instead of a validation error"
### Apache Airflow version

2.2.3 (latest released)

### What happened

I wanted to improve the [Params concepts doc](https://airflow.apache.org/docs/apache-airflow/stable/concepts/params.html) to show how one can reference the params from a task.  While doing so, I tried to run that DAG by clicking "Trigger" (i.e. I didn't opt to modify the params first).  Then I saw this:

[code]

I started with

[2021-12-29 21:19] subkanthi commented on #19903
Looks like the problem is here for both the tasks, with pass or print, the task runs are not created, but replacing it with sleep, a task run is created and added to the DB.
` @task
    def end():
        pass`
`@task
    def end():
        pass`

It might be useful to indicate this to the user, still trying to figure out where this logic is performed.

[2021-12-29 21:24] #17249 closed

[2021-12-29 21:41] rustikk commented on #20545
If it's ok I'd like to update the docs on this issue.

[2021-12-29 21:44] potiuk commented on #20545
Feel free!

[2021-12-29 21:57] jedcunningham opened #20560 "Elasticsearch connection user and password should be optional"
### Official Helm Chart version

main (development)

### Apache Airflow version

2.2.3 (latest released)

### Kubernetes Version

1.21.5

### Helm Chart configuration

[code]

### Docker Image customisations

_No response_

### What happened

Secret was created with this connection:

[code]

### What you expected to happen

Secret created with this connection:

[code]

### How to reproduce

_No re

[2021-12-29 22:12] potiuk commented on #19891
Hey Everyone - I have done what I've been planning to do - one big PR to update Context to be typed everywhere:
1) in Providers it's `Context` and if TYPE_CHECKING
2) elsewher it's Context and direct import

I hope it will "**just work**` with all tests :D.

[2021-12-29 23:00] potiuk commented on #19891
Looks like it is :).

[2021-12-29 23:02] kaxil commented on #20559
cc @ephraimbuddy Something for you to look at when you are back

[2021-12-29 23:06] kaxil commented on #20533
cc @jedcunningham

[2021-12-29 23:08] #20515 closed

[2021-12-29 23:08] kaxil commented on #10867
@blag  will take care of it for 2.3.0 if no-one does it by then

[2021-12-29 23:21] kaxil commented on #20419
Assigned it to you @bhavaniravi

[2021-12-29 23:22] potiuk commented on #19891
And "Context" merged :)

[2021-12-29 23:25] kaxil commented on #20384
cc @uranusjr Can you take a look when you have time, please?

[2021-12-29 23:52] kaxil commented on #11206
https://github.com/apache/airflow/pull/8820 should have fixed this

[2021-12-29 23:52] #11206 closed

[2021-12-29 23:55] kaxil commented on #9777
Solution/work-around in https://github.com/apache/airflow/pull/9778#issuecomment-927357065

Please let me know if this is still an issue and we can reopen it

[2021-12-29 23:55] #9777 closed

[2021-12-29 23:57] kaxil commented on #10920
Can you try it with Airflow 2.2.3 + latest Kubernetes Provider and see if you still see the issue. We can reopen if you do

[2021-12-29 23:57] #10920 closed

[2021-12-30 00:07] #19704 closed

[2021-12-30 00:07] #17395 closed

[2021-12-30 00:08] #13244 closed

[2021-12-30 00:08] #11060 closed

[2021-12-30 00:10] kaxil commented on #8665
Is this still an issue with the latest version of Airflow, can you please try and reproduce it?

[2021-12-30 00:14] kaxil commented on #11419
@potiuk Would you have the time to take care of this in the next batch of releases?

[2021-12-30 00:21] #16895 closed

[2021-12-30 00:22] #14303 closed

[2021-12-30 00:22] kaxil commented on #14303
Docs here: https://airflow.apache.org/docs/helm-chart/stable/production-guide.html

[2021-12-30 00:55] kaxil commented on #9745
I think those are 2 different libraries that serve different purposes: https://www.gcptutorials.com/post/azure-sdk-management-vs-client-libraries

https://github.com/Azure/azure-sdk-for-python#packages-available

https://pypi.org/project/azure-storage-blob/  (https://github.com/Azure/azure-sdk-for-python/tree/main/sdk/storage/azure-storage-blob) vs https://pypi.org/project/azure-mgmt-storage/

[2021-12-30 00:57] kaxil commented on #12302
An internal comment from James:

[2021-12-30 00:57] #12302 closed

[2021-12-30 00:59] kaxil commented on #10185
The current page is now pretty comprehensive - https://airflow.apache.org/docs/stable/scheduler.html

[2021-12-30 00:59] #10185 closed

[2021-12-30 01:15] #20220 closed

[2021-12-30 01:18] kaxil commented on #15536
Are you still working on this @BenjaminNMitchell ?

[2021-12-30 01:36] #16020 closed

[2021-12-30 01:36] kaxil commented on #16020
Closing since 2.2.0 is out but can open if you are facing same issue

[2021-12-30 02:48] BenjaminNMitchell commented on #15536
No sorry I haven't had time, feel free to reassign it

[2021-12-30 02:50] BenjaminNMitchell commented on #15536
I am still interested in making a contribution though, @mik-laj if you give some more context it might help me or somebody else get started

[2021-12-30 03:36] edithturn commented on #20251
Ideal resources available to check:
* Memory available 16G.
* CPUs available 12.
* Disk available 41G.

Breeze has a line where call `_all_libs.sh` and `run_resource_check.sh` is part of one of these scripts.

How could we structure run_resource_check.py? this script is inside: scripts/in_container, we will change it?

I could say it is not part of CI, so we can consider keeping it in the same dir

[2021-12-30 04:43] Jakin-Liu opened #20577 "task fail cannot found log in airflow dag"
### Apache Airflow version

2.0.1

### What happened

I have many DAGs executed in the same time period. Every day, several DAGs fail to execute. There are many tasks in this DAG, but one task fails to execute, and no relevant log information will be generated after the task fails. What should I do.

error info is:

*** Unable to read remote log from gs://xxxxxxxxxxxx/logs/abcd_dag/xxxxx/2021-12-2

[2021-12-30 04:54] dstandish commented on #20577
tell us a bit about your infra setup. are you using official helm chart?  celery? k8s executor? k8s pod operator?

When using blob storage like gcs, the logs are only uploaded after completion of the ttask.  If it is interrupted for some reason (e.g. OOM error on the worker) then the task will die immedietly and the logs will not be uploaded.  Depending on your infra there may be a solution for yo

[2021-12-30 05:25] dstandish commented on #20398
sorry @sanyud24 it seems that it is not be practical to make this change.  sorry for launching you into an unfruitful effort.  i'll try and keep you in mind next time a good issue comes up, and i'll be sure to make sure it's not so marginal.

[2021-12-30 05:39] gbonazzoli opened #20579 "Airflow 2.2.3 : "airflow dags trigger" command gets "Calling `DAG.create_dagrun()` without an explicit data interval is deprecated""
### Apache Airflow version

2.2.3 (latest released)

### What happened

When issuing the following command:

`airflow dags trigger 'VMWARE_BACKUP'  --conf '{"VM_NAME":"psfiplb1"}'`

the system replays with:

[code]

### What you expected to happen

I have no other switch parameter to choose for avoiding the deprecation warning.

My concern is about what will happen to the command when the deprecat

[2021-12-30 06:34] krtkvrm commented on #20560
can i take this up ?

[2021-12-30 07:26] rdeteix commented on #16176
Hi
I tried it with an increased server configuration and it works.
It may be a memory/cpu issue.

[2021-12-30 07:29] dungdm93 opened #20580 "Triggers are not terminated when DAG is mark failed"
### Apache Airflow version

2.2.3 (latest released)

### What happened

Hello, I quite excited to new [Deferrable ("Async") Operators in AIP-40 ](https://cwiki.apache.org/confluence/pages/viewpage.action?pageId=177050929), and going to adapt this by develop new async version of ExternalTaskSensor. But while doing, I find out that Deferrable ("Async") Operators are not canceled when DAG is mark fai

[2021-12-30 07:48] rdeteix opened #20581 "404 Reverse Proxy Base url"
### Official Helm Chart version

1.3.0 (latest released)

### Apache Airflow version

2.2.3 (latest released)

### Kubernetes Version

1.21

### Helm Chart configuration

[code]
[2021-12-30 07:36:54,583] {dagbag.py:500} INFO - Filling up the DagBag from /dev/null
[2021-12-30 07:36:54,668] {manager.py:763} WARNING - No user yet created, use flask fab command to do it.
[2021-12-30 07:36:55,176] {man

[2021-12-30 07:51] sanyud24 commented on #20398
Thanks a lot !! . It'll be very helpful for me.

[2021-12-30 09:42] MamunManisha opened #20582 "Whenever we see current DAG run and toggle over different views like Tree view and Task Duration, the targeted view gets changed to different time along with a change in DAG run status.."
### Apache Airflow version

2.1.2

### What happened

Whenever we see current DAG run and toggle over different views like tree and map, the targeted view gets changed to different time.

For graph view in first toggle, the datetime is: 2021-05-29T08:43:22Z and RunId is manual_2021-05-29T08:43:21+00:00.

But after switching to other views like 'Tree View', 'Task Duration', 'Task Tries', and switch

[2021-12-30 10:26] #20249 closed

[2021-12-30 10:28] potiuk commented on #19891
Woooooohooo.. After we finally re-enable MyPy - there will be next step. New, rather interesting MyPy release:

https://mypy-lang.blogspot.com/2021/12/mypy-0930-released.html?spref=tw

Some realy cool features there that we could ue - explicit type aliases and NotRequired TypeDict elements :)

[2021-12-30 10:44] potiuk commented on #11419
Yeah shuld be an easy thing

[2021-12-30 10:45] potiuk commented on #11419
But maybe somoeone would like to take care of it - I am happy to help and direct !

[2021-12-30 10:51] potiuk commented on #20251
I think we should rewrite this check in python entirely:

* make a python script equivalent to run_resource_check.sh (run_resource_check.py ) - but it should be run inside breeze
* replace calling of the run_resource_check.sh -> run_resource_py
* remove the .sh script

This way the run_resouce_check.py will be used also in the old "breeze".

[2021-12-30 10:56] #19900 closed

[2021-12-30 11:10] potiuk commented on #20579
Try "execution-date" ?

[code]

[2021-12-30 12:02] gbonazzoli commented on #20579
I've tried. But the deprecation warning is still there.

[code]

[2021-12-30 12:08] potiuk commented on #20579
I think we need to take a  close look and also fix the CLI (and execution date as parameter does not properly reflect the curent logical_date approach)

[2021-12-30 12:44] potiuk opened #20588 "Health check path is not configured properly if AIRFLOW__WEBSERVER__BASE_URL is set via ENV variable"
### Discussed in https://github.com/apache/airflow/discussions/20587

Seems that when `AIRFLOW__WEBSERVER__BASE_URL` is used the path for health check is not correctly set.

It is properly  configured if base ul is set via config though:

[code]

We should either warn the user when variable is used rather than config, or fix it so that also env var could be used.

<div type='discussions-op-text'>

[2021-12-30 12:48] #14077 closed

[2021-12-30 13:41] kaxil commented on #11419
@BasPH @josh-fell Would anyone of you like to take this one? 😄

[2021-12-30 14:08] potiuk commented on #11419
Or @mnojek someone from your team ?

[2021-12-30 15:00] kaxil commented on #13827
Hey @yuqian90 , did the proposed solution work for you locally? Do you think we should make a PR to fix?

(Apologies couldn't reply here earlier)

[2021-12-30 15:19] subkanthi commented on #19891
Is anyone looking at this - airflow/providers/google/cloud/operators/stackdriver.py?

[2021-12-30 15:23] potiuk commented on #19891
Feel free. but wait until I merge #20571  as there might be overlapping changes (should be in ~ 10 minutes after all tests run).

[2021-12-30 16:12] kaxil commented on #17084
@awildturtok  Would you still want to work on this?

[2021-12-30 16:23] potiuk commented on #19891
Done. Refreshed the stats:

* down to 50 packages left (from 72)
* down to 325 errors left

[2021-12-30 16:30] kaxil commented on #17336
@EtsuNDmA Can you test again with latest version of Elasticsearch provider and Airflow 2.1.4+

(Potentially) Related PR:
- https://github.com/apache/airflow/pull/15163
- https://github.com/apache/airflow/pull/15414

[2021-12-30 16:38] kaxil commented on #15613
@jedcunningham Any ideas here -- I know you worked with logstash & ES a bit on a couple of PRs, does it ring a bell?

[2021-12-30 16:39] #14553 closed

[2021-12-30 17:43] kaxil commented on #10593
cc @blag

[2021-12-30 19:50] #9955 closed

[2021-12-30 20:10] kyp0717 commented on #16176
Perhaps someone can install with "--timeout 10m0s" option.   It worked for me when I use the official apache helm chart.

[2021-12-30 20:20] kaxil commented on #20588
There was similar discussion in https://github.com/apache/airflow/pull/9778#issuecomment-927357065

[2021-12-30 20:21] dstandish commented on #20398
thanks @sanyud24  i will close this one now

[2021-12-31 00:07] #14859 closed

[2021-12-31 00:07] #11649 closed

[2021-12-31 00:16] fredthomsen opened #20602 "Add greater/less than or equal to filters in the browse views"
### Description

I am suggesting adding support for these filters for datetime objects when browsing airflow objects in the UI:
- greater than or equal to
- less than or equal to

### Use case/motivation

When viewing DagRuns under the browse menu for example (Browse -> DagRuns), then only less than or greater than filters are available for filtering on `datetime` objects and since many logical da

[2021-12-31 05:53] gbonazzoli opened #20603 "Airflow 2.2.3 : AirflowContextDeprecationWarning executing a DAG with PythonOperator that accesses the context"
### Apache Airflow version

2.2.3 (latest released)

### What happened

This strange behaviour started with Airflow 2.2.3, Airflow 2.2.2 was OK.

In every DAG that has a PythonOperator declared as:

[code]

we have the following WARNINGS in the log:

[code]

### What you expected to happen

I think it is a bug.

### How to reproduce

Run the code posted.

### Operating System

Ubuntu 20.04.3 LTS

[2021-12-31 07:02] 0ersted commented on #20500
I encountered the same issue when my code accidentally use `coloredlogs` to set its log format. Then the next line of airflow log or sys.out redirected to airflow will enter the infinite loop.

Airflow version: 2.2.2; coloredlogs version: 14.0. However, this issue does not exist on my legacy deployment of Airflow 1.10.10.

I hope this issue can be addressed as it takes me several days to find out

[2021-12-31 08:34] potiuk commented on #20603
I believe we know it already and we fixed it but I will let @uranusjr confirm when he is back.

[2021-12-31 09:54] uplsh580 opened #20607 "Running Airflow in Docker Error - Triggerer's async thread was blocked"
### Apache Airflow version

2.2.3 (latest released)

### What happened

It does not run normally in the process of proceeding with this document([Running Airflow in Docker](https://airflow.apache.org/docs/apache-airflow/stable/start/docker.html)).

When Running Airflow step, I executed `docker-compose up`.
And the following errors constantly occur and the execution has not been completed.

[code]

[2021-12-31 09:58] potiuk commented on #20607
Likely you are very limitied in resources. Increase memory and CPU available to your docker.

[2021-12-31 09:58] #20607 closed

[2021-12-31 10:02] uplsh580 commented on #20607
Oh, I missed this warning.
https://airflow.apache.org/docs/apache-airflow/stable/start/docker.html#before-you-begin

[2021-12-31 10:14] birallex commented on #19959
This is a great idea, as it will make life much easier for those developers who use custom executors and still want to combine them. In my case, a modified `KubernetesExecutor` is used because of the platform where the airflow is used has limitations related to the creation of pods. It would be great to be able to combine it with another custom/built-in executor without any code rework, just using

[2021-12-31 12:05] mik-laj commented on #20603
Related: https://github.com/apache/airflow/issues/20213

[2021-12-31 13:00] potiuk commented on #20603
Hmm #20213 should be part of 2.2.3. Are you sure you have 2.2.3 @gbonazzoli ?

[2021-12-31 13:13] potiuk commented on #19891
We are on definitely downward path:

* down to 39 packages
* down to 273 errrors

[2021-12-31 13:48] kaxil commented on #20603
Yeah, this was the last item that was fixed for 2.2.3. Can you double-check the Airflow version please

[2021-12-31 14:25] potiuk commented on #20603
Yeah @gbonazzoli  - maybe you have one of the RCs :)

[2021-12-31 14:32] potiuk commented on #19891
Let me (again) take the remaining providers/google ones :)

[2021-12-31 14:43] edithturn commented on #20251
We already have "tools" directory and some files. We have this structure:
| - scripts
    | -  init_container
         | - run_resource_check
    | -  tools
         | - list-integrations.py

"tools" is something more general, I think it can be left out, as is. Unless we have another "tools" folder just for init_container.

[2021-12-31 15:02] josh-fell commented on #11419
Timely bringing this up. #20542 is proposing an integration with Google Calendar and seems like it should be packaged under `providers.google.workspace` rather than `providers.google.suite`.

I'm happy to take this but I _might_ not be able to get to it immediately. @mnojek or @BasPH if you'd like to hit the ground running with this feel free!

[2021-12-31 15:47] kaxil commented on #19891
If you can, please leave amazon and probably a couple of providers for us, some of my team members wants to work on and contribute with their First PRs next Thursday

[2021-12-31 15:58] potiuk commented on #20251
Yeah - we want separate "tools" for the "in_container" - those should be only scripts that are available inside the container.

[2021-12-31 15:59] demetthyl commented on #20533
https://github.com/apache/airflow/pull/20609 to link the configMap to the initContainers

[2021-12-31 15:59] potiuk commented on #19891
Sure  just wanted to finally(!) kill Google one :): https://github.com/apache/airflow/pull/20611

[2021-12-31 16:26] gbonazzoli commented on #20603
@potiuk, @kaxil, unfortunately not.

[code]

From the UI:

[code]

[2021-12-31 16:32] #20426 closed

[2021-12-31 16:45] potiuk commented on #20603
Confirmed. Just a presence of `**kwargs` in Python Callable triggers deprecation warnings for 2.2.3

[2021-12-31 16:48] kaxil commented on #20603
Thanks for confirming @gbonazzoli , we will fix it in 2.2.4

[2021-12-31 16:58] potiuk commented on #20603
BTW. It's fixed in `main` - most likely by https://github.com/apache/airflow/pull/20322  - I marked it for 2.2.4

[2021-12-31 18:23] potiuk commented on #19891
* down to 38 packages
* down to 218 errrors

[2021-12-31 18:27] subkanthi commented on #19891
I briefly looked at vertica_to_mysql.py, tmpfile is accessed here in this block
[code]
 which is outside of the with block, not sure if this is a bug or maybe Im  missing something.

```                    with NamedTemporaryFile("w") as tmpfile:```

[code]

[2021-12-31 21:25] potiuk opened #20615 "Status of testing Providers that were prepared on December 31, 2021"
### Body

I have a kind request for all the contributors to the latest provider packages release.
Could you please help us to test the RC versions of the providers?

Let us know in the comment, whether the issue is addressed.

Those are providers that require testing as there were some substantial changes introduced:

## Provider [amazon: 2.6.0rc1](https://pypi.org/project/apache-airflow-providers

[2022-01-01 11:22] potiuk commented on #19957
To bump it up - Just let us know @stablum @AmarEL if disabling mini-scheduler works.

I **think** this might be causesd by the mini-scheduler in the task deadlocking with the "actual" scheduler trying to lock the same rows in a different order. But I think before we attempt to analyse it in detail and fix it - since you have easily reproducible and repeatable case, disable the mini-scheduler it an

[2022-01-01 11:23] potiuk commented on #19957
cc: @ashb  -> do you think this is plausible hypothesis ^^ ?

[2022-01-01 11:35] potiuk commented on #20538
Yeah. I looked at the templates and same case is with .affinity and nodeSelector: it is different sequence for different types of deployments

Scheduler:

[code]

Triggerer:

[code]

Webserver:

[code]

Workers:

[code]

Also in `values` the only "special" case is "webserver.affinitiy" - all the other have same - empty defaults. It seems indeed as a mistke. I cannot see why we would like to revers

[2022-01-01 11:48] potiuk commented on #20538
Ah no... I see that workers.afinity and triggerer.affinity are indeed different by default as well:

[code]
and
[code]

But tolerations/nodeSelector are not - and since webserver's affinity is also different, I think there is some inconsistency here. Maybe others can shed some light on it.

[2022-01-01 11:52] potiuk commented on #20538
Actually - we even have a test in "workers" that check that the "global" affinity/nodeSelector/toleration actually overrides the affinity specified in the worker: `test_should_create_valid_affinity_tolerations_and_node_selector_override` - so this seems like intended behaviour.

[2022-01-01 12:24] potiuk commented on #19891
IT's because if it kinda distributed - opening using and closing of the tmpfille are happening only if "self.bulk_load" is True, so tmpfile will never be None there. - but MyPY is not analysing it that deeply.

I'd say we should refactor this method a bit. Let me attempt it

[2022-01-02 09:56] PApostol commented on #20615
#19978 addresses the issue and works as expected.

[2022-01-02 11:54] saveriogzz commented on #20615
#20164 all good! ✅

[2022-01-02 12:15] #8715 closed

[2022-01-02 13:15] mariotaddeucci commented on #20615
#20506 all good o/

[2022-01-02 20:36] moshederri commented on #19903
Quick question about this - i tried changing the content of the function to something other than `pass` or `print` but for some reason i am still getting the same exception (i'm probably doing something wrong).  But regardless - working with the dag decorator, isn't the rshift misused here?
i mean, shouldn't:
`start() >> do_all_things() >> end() `
be just:
[code]

[2022-01-02 22:06] khalidmammadov commented on #19891
I have started looking into `airflow/providers/qubole`. Please let me know if anyone is looking at it already

[2022-01-02 22:21] xiaoxugao commented on #16610
Hey, is this issue solved? I still have the same problem as @SamiRehmanNostra .

[2022-01-02 22:56] khalidmammadov commented on #19891
@potiuk What's the communities view on [PEP 585](https://www.python.org/dev/peps/pep-0585/)? Looks like there will be another large refactoring needed to remove these type  aliases (Dict, List etc.) as they are deprecated (in Python 3.9) in favor of native/generic types.

[2022-01-03 01:48] uranusjr commented on #19891
The typed aliases are intentionally given a very long deprecation period and can be modified in a vastly more gradual pace. I would recommend one of the followings:

1. Keep using alises in `typing` and only start using PEP 585 definitions when Airflow drops 3.8 support (which gives the transition around two years).
2. Move the non-alised definitions when there is an official decision on PEP 649 (

[2022-01-03 05:09] uranusjr commented on #19903
I don’t recall any logic checking a function’s content, so this is very surprising. I can reproduce though; it seems like if the function does not have a body, even the _task_ itself is not created in the DAG.

[2022-01-03 05:56] Bowrna commented on #20252
@potiuk I will pick up this task. Could you tell me the right flag name in the .build directory which indicates ASCIIART enable/disable state? Right now I don't see any relevant flag name in my .build directory that will indicate ASCIIART enable/disable state. Do I have to create a new flag name or could you point me to the correct flag name?

[2022-01-03 06:36] yuqian90 commented on #13827
Hi, @kaxil, yeah I can take another look and put up a PR.

[2022-01-03 07:51] hadoken69 commented on #18267
No

[2022-01-03 08:09] eskarimov commented on #20615
#20536 tested, works as expected ✅

[2022-01-03 08:21] bhavaniravi commented on #20615
#19280 is a docstring update, no code changes

[2022-01-03 08:25] shivanitomarzeotap opened #20626 "Not able to create k8s connection using airflow UI with kube config (json)"
### Apache Airflow version

2.1.4

### What happened

in_cluster configuration option is disabled, config path is empty and the kubeconfig(json) is provided to the airflow admin connection. As written [here](https://github.com/apache/airflow/blob/main/airflow/providers/cncf/kubernetes/hooks/kubernetes.py#L49-L56) because first two options are not selected, it should create the connection with prov

[2022-01-03 08:28] shivanitomarzeotap commented on #20626
cc - @dstandish

[2022-01-03 09:16] potiuk commented on #19891
I concur with @uranusjr assesment.  Even in PEP 585 it is written:

I think this will be a good exercise to make when we will prepare to drop Python 3.8 and for now using `typing` is best (ar actually when MyPy will start reporting that as a warning).

Actually (side comment), I do not really like the `abc` in Collections :). This ship has sailed already. But until the original collection.* is the

[2022-01-03 09:36] tothandor commented on #12199
I have already made a quick'n'dirty patch for that, that introduces an "acknowledge" state, to be able to track the errors already handled, and the ones left to be done. If someone is familiar with monitoring systems (e.g. CheckMK, Nagios, Zabbix, Zenoss), then this won't be new for him/her. Each error should either be dismissed or fixed within a time. In some sense Airflow is also a monitoring sy

[2022-01-03 09:46] potiuk commented on #20252
`./breeze toggle-suppress-cheatsheet` `./breeze toggle-suppress-asciiart` - those are separate commands, but maybe simply better add `./breeze config --toggle-cheatsheet --toggle-asciiart`  instead ?

[2022-01-03 09:48] potiuk commented on #20252
This will add capabilities of more configuration changes. for example we could also add `--python` `--backend` flags to be availabl in this command, so that you could change python/backend without running anything.

[2022-01-03 10:30] Bowrna commented on #20252
@potiuk Do you mean to change the python , backend version stored in .build directory, so that it could be made default and used when running breeze commands?

[2022-01-03 10:36] khalidmammadov commented on #19891
I agree with option 1 and think it will be necessary to do refactoring when Python 3.8 is retired for airflow. And I am sure there will be a lot more additions to Python during these 2 years that may affect future decisions and void any current that community can made.
Thanks for your views, I guess it's good to have in records that it was considered at this phase anyway.

[2022-01-03 10:41] BasPH commented on #11419
Feel free to take it @josh-fell

[2022-01-03 10:49] alexott commented on #20615
#20550 is verified, works as intended

[2022-01-03 11:28] khalidmammadov commented on #19891
Anyone looking at `airflow/dag_processing/processor.py`?

[2022-01-03 11:29] potiuk commented on #20252
The one stored in .build

[2022-01-03 11:31] potiuk commented on #20252
Correct: toggle just disables/enables it. Actually maybe better to make them `cheeatsheet/no-cheatsheet` instead. Click has nice mechanism for that:  https://click.palletsprojects.com/en/8.0.x/options/#boolean-flags

[2022-01-03 11:34] potiuk commented on #19891
Feel free!

[2022-01-03 11:47] pierrejeambrun commented on #20615
https://github.com/apache/airflow/pull/20263 tested, works correctly.

[2022-01-03 11:50] jakubczaplicki opened #20627 "Bump flask-appbuilder to >=3.3.4, <4.0.0"
### Description

Reason: Improper Authentication in Flask-AppBuilder: https://github.com/advisories/GHSA-m3rf-7m4w-r66q

### Use case/motivation

_No response_

### Related issues

https://github.com/advisories/GHSA-m3rf-7m4w-r66q

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://githu

[2022-01-03 11:57] kduvzc opened #20629 "SlackWebhookOperator() unusable when running on AWS MWAA with AWS Secrets Manager as the backend"
### Apache Airflow Provider(s)

slack

### Versions of Apache Airflow Providers

apache-airflow-providers-amazon==1.3.0
apache-airflow-providers-ftp==2.0.1
apache-airflow-providers-http==2.0.1
apache-airflow-providers-imap==2.0.1
apache-airflow-providers-postgres==2.4.0
apache-airflow-providers-slack==4.1.0
apache-airflow-providers-sqlite==2.0.1

### Apache Airflow version

2.0.2

### Operating Sy

[2022-01-03 12:17] piotrkmita commented on #20615
#19984 tested. It's working as expected.

[2022-01-03 13:06] Bowrna commented on #20252
Is this issue closed by mistake?

[2022-01-03 13:16] potiuk commented on #20252
yep

[2022-01-03 13:51] subkanthi commented on #19903
Im able to reproduce this in `standalone` mode even without the taskgroup ` start() >> end()`

[code]

[2022-01-03 14:06] YossiTamari opened #20632 "Add priorityClassName support"
### Official Helm Chart version

1.2.0

### Apache Airflow version

2.1.4

### Kubernetes Version

1.21.2

### Helm Chart configuration

_No response_

### Docker Image customisations

_No response_

### What happened

_No response_

### What you expected to happen

_No response_

### How to reproduce

_No response_

### Anything else

It's currently impossible to assign a `priorityClassName` to t

[2022-01-03 14:13] mnojek commented on #11419
Thanks for reminding about this! I need to take care of it with my team. I see there are many already deprecated Google operators, hooks, methods and so on and with that thought that goes like 'new year = new me', we decided to do some clean-up, so this is definitely on our schedule but feel free to go with it, if you have time, since we still gather our resources after long holidays.

[2022-01-03 14:29] #20627 closed

[2022-01-03 14:41] uranusjr commented on #20603
Specifically https://github.com/apache/airflow/blob/97261c642cbf07db91d252cf6b0b7ff184cd64c6/airflow/utils/context.py#L218-L244

Initially (including when 2.2.3 was implemented) the intention was to make this the expected behaviour and discourage `**kwargs`, but ultimately we have been recommending the `**kwargs` pattern too much, and using `lazy-object-proxy` (which is not a perfect solution and

[2022-01-03 14:47] sushi30 opened #20633 "Trino hook `run` does not fail for bad query"
### Apache Airflow Provider(s)

trino

### Versions of Apache Airflow Providers

Due to https://github.com/trinodb/trino-python-client/issues/95, trino hook does not capture error when using the `run` command.

### Apache Airflow version

2.2.2

### Operating System

Centos 7

### Deployment

Official Apache Airflow Helm Chart

### Deployment details

_No response_

### What happened

_No response

[2022-01-03 15:07] harishkrao commented on #20615
#20509 tested, working as expected.

[2022-01-03 16:02] potiuk commented on #20633
I guess there is nothing we can do now - we just should wait until trino will fix it. Having a workoround here - people can implement it too, so just closing this issue.

[2022-01-03 16:02] #20633 closed

[2022-01-03 16:20] subkanthi commented on #19781
What are the thoughts on providing the email template for the test email, would that also be defined in airflow.cfg?

[2022-01-03 16:36] potiuk commented on #20629
You shoudl follow the https://docs.aws.amazon.com/mwaa/latest/userguide/connections-secrets-manager.html  and store the whole URL to the slack webhook rather than you "SecretName/SecretString" dictionary.

[2022-01-03 16:36] #20629 closed

[2022-01-03 16:44] #19966 closed

[2022-01-03 16:45] yehoshuadimarsky commented on #20538
I'll try taking a look at this, see if I can write or validate the tests to ensure all the expected behavior happens

[2022-01-03 16:57] jedcunningham commented on #20538
I think the right answer is to move the current defaults into the templates, and allow for the following order of precedence:
`webserver.affinity`, `affinity`, default webserver affinity. Basically, leave `webserver.affinity` for the user to override so we can fall back to the global affinity if set.

I'm working on that change now.

[2022-01-03 17:04] frodo2000 opened #20636 "Failed to serialize DAG name': 'str' object has no attribute '__module__'"
### Apache Airflow version

2.2.3 (latest released)

### What happened

After upgrade to 2.2.3 one of DAGs could not be serialized due to the following error;

Broken DAG: [/opt/airflow/dags/ImamRefresh_DAG.py] Traceback (most recent call last):
  File "/home/airflow/airflow_venv/lib64/python3.6/site-packages/airflow/serialization/serialized_objects.py", line 574, in serialize_operator
    seriali

[2022-01-03 17:14] potiuk commented on #20636
Could you please make a PR with proposed documentation update? it's next to impossible to foreseen what other fields people could add to the operators of their own, which would prevent from addig any parameters.

But if you think about a place where some warning like that could be added to the docuementation it would be great. Airflow is created by almost 1900 contributors, so you can become easil

[2022-01-03 17:14] #20636 closed

[2022-01-03 17:41] eladkal commented on #20088
fixed by https://github.com/apache/airflow/pull/20239

[2022-01-03 17:41] #20088 closed

[2022-01-03 18:46] edithturn commented on #19971
The right file should be build-images.yml :)

[2022-01-03 18:48] edithturn commented on #20254
@potiuk I would like to take this task 🙏🏼 😃

[2022-01-03 19:08] raphaelauv commented on #20615
Simplify KubernetesPodOperator (#19572):

I tried different scenario it work correctly

[2022-01-03 19:23] jon-fearer commented on #20615
#20001 Looks good

[2022-01-03 19:43] #8471 closed

[2022-01-03 21:04] kazanzhy commented on #20615
#20145 is devoted to the documentation
#20091 tests also changed as well

Looks good

[2022-01-03 22:17] dstandish commented on #20615
Thank you @raphaelauv

I tested too... "works on my machine" ;)

[2022-01-03 22:56] MatrixManAtYrService opened #20644 "Liveness probe fails, causing scheduler and triggerer restarts every 5 minutes"
### Official Helm Chart version

1.3.0 (latest released)

### Apache Airflow version

2.2.3 (latest released)

### Kubernetes Version

version.Info{Major:"1", Minor:"22+", GitVersion:"v1.22.4-3+adc4115d990346", GitCommit:"adc4115d990346b87714cc4f033d225711bf744d", GitTreeState:"clean", BuildDate:"2021-11-17T22:03:17Z", GoVersion:"go1.16.10", Compiler:"gc", Platform:"linux/amd64"}

### Helm Chart c

[2022-01-03 23:10] MatrixManAtYrService commented on #20644
One thought was that maybe the probe is taking too long to respond, but at least when I run it via `kubectl` it returns within a second:
[code]

[2022-01-03 23:18] MatrixManAtYrService commented on #20644
Could it be that 14 seconds is too long?

[code]

[2022-01-03 23:26] jedcunningham commented on #20644
Yes, the default timeout is 10 seconds:
https://github.com/apache/airflow/blob/6dfc939833fd3dc477b3971d965ba142d3b8bd77/chart/values.yaml#L512

[2022-01-04 00:03] MatrixManAtYrService commented on #20644
I switched to using this values.yml
[code]
It appears to be showing up:
[code]
I still see the unhealthy warning, but no restarts yet.  I'm going to leave it alone for a while and see what happens.  Either way, the timeout point was what I needed to see, thanks @Jed Cunningham

[2022-01-04 00:03] #20644 closed

[2022-01-04 01:11] SamiRehmanNostra commented on #16610
Hi @xiaoxugao ,

I might need to open another issue, I upgraded to 2.2.0 I initially had no issues, but over the last couple of weeks been having some issues again.

![image](https://user-images.githubusercontent.com/43160555/147996739-498d2513-b431-4131-8244-d32b0a2e8263.png)

Not sure what the error is apart from this JS error.

Thank you,
Sami

[2022-01-04 03:03] mrkm4ntr commented on #20615
#18966 works as expected.

[2022-01-04 03:39] subkanthi commented on #20615
checked and tested #20043

[2022-01-04 03:39] #20545 closed

[2022-01-04 03:56] uplsh580 opened #20646 "(Airflow 2.2.3) When Inherit Bashoperator, TypeError: __init__() got an unexpected keyword argument 'default_args'"
### Apache Airflow version

2.2.3 (latest released)

### What happened

To customize the operator, I inherited and customized the BashOperator.
It was used well in the previous 2.1.0 version without any problems, but an error occurred in the 2.2.3 version as follows.

[code]

### What you expected to happen

_No response_

### How to reproduce

create DAG file as below.

`custom_operator.py`
[code

[2022-01-04 04:04] MatrixManAtYrService commented on #20644
4 hours later, and no restarts.  Meanwhile, the triggerer (whose timeoutSeconds I didn't touch) restarted 44 times.  This workaround is as good as a fix for me.

[2022-01-04 04:17] dstandish commented on #20615
i checked off all the PRs related to the KubernetesPodOperator. installed provider and run it through test dags.

[2022-01-04 04:39] uranusjr commented on #20646
`default_args` is an expected argument on `BaseOperator` (which is the root class for all operator classes), and all operators should also accept it and forward it to `super()`. The common way to do it is by accepting `**kwargs` and pass them as `super().__init__(**kwargs)`. Or to summarise, your custom operator implementation is wrong, and the fact it worked previously is sort of accidental.

[2022-01-04 04:39] #20646 closed

[2022-01-04 05:21] jedcunningham commented on #17447
This is supported now that #18776 has been merged.

@burakovsky, that is something I've been pondering as well. I'll try and take a look here soon.

[2022-01-04 05:21] #17447 closed

[2022-01-04 07:02] bhavaniravi commented on #20419
I was creating an example for this, a few questions popped up.

1. `from_email` in airflow config is not introduced until 2.2.4, but I can still use it. Should I include it in the guide?
2. Is there a reason for `from_email` config alone to be in [lower case](https://github.com/apache/airflow/blob/064efbeae7c2560741c5a8928799482ef795e100/airflow/utils/email.py#L53)? It created confusion in the env

[2022-01-04 08:32] potiuk commented on #20615
Wooho. Getting quite good test coverage :) ! one more day to go !

[2022-01-04 09:31] potiuk commented on #18113
Let;s close this. I think it should have worked already. It's been added here: https://github.com/apache/airflow/pull/10917 - apparently in 2.0.1 already . I am not sure why it has not been executed in 2.1.1 but apparently id works as expected. We can close that one. and reopen if we find it is a problem in some cases (but need reproduction scenario).

[2022-01-04 09:31] #18113 closed

[2022-01-04 10:06] potiuk commented on #19891
I refresehd the stats. We are:

* down to 32 packages
* down to 183 errors

@kaxil if you want your team to fix some of those you need to hurry I am afraid ;)

[2022-01-04 11:49] ashb commented on #19957
Yes, that seems plausible.

[2022-01-04 11:51] ashb commented on #19959
Given that executors can already be used from anywhere I think this should start out as a third party module, and then if it proves both useful _and_ popular over time we can pull it in to core at a later date.

[2022-01-04 11:54] qgallet commented on #20615
#20553 works as expected !
#19924 and #20237 are doc fixes.

I believe #20575 can be marked as addressed on amazon and google provider since it's okay on kubernetes ;-)

[2022-01-04 12:08] rdeteix commented on #16010
Hello

Is it still working ?

I'am on k8s v1.21, helm 1.3.0, airflow 2.2.3.
After getting an error about a missing pathType I tried :

[code]

I let the service to be a cluster ip.
My ingress give me:

[code]

The ingress manifest that it created is:

[code]

[2022-01-04 12:27] potiuk commented on #19959
Yep. All for it.

[2022-01-04 14:29] Ethan-Henley opened #20652 "Nondeterministic timeouts connecting Airflow to Postgres server on Azure"
### Apache Airflow version

2.1.0

### What happened

Noticed today that running tasks that involve connecting to a postgres database via sqlalchemy inconsistently succeed or fail due to connection timeout, apparently at random. When they fail, get logs as below.

Postgres server is running normally as per tests. Did not experience any such timeouts before the holiday and have only pushed one edit

[2022-01-04 15:20] potiuk commented on #20652
Please do not open issues on Airlfow when the problem is with your deployment. You can open discussion instead.

This is not an airflow bug - this is an issue with your deployment instability. Check your server what resources are blocking the server.

Maybe you have a problem with too many copnnectio, You should generally setup pgbouncer if you use postgres so maybe that's your problem: https://ai

[2022-01-04 15:57] bbovenzi commented on #16610
@xiaoxugao what version of airflow are you using?

[2022-01-04 16:00] bbovenzi commented on #16610
We can just reopen this issue. You're right that it should've been fixed in 2.2.0. Let me replicate and see if something different is going on.

[2022-01-04 16:08] bitsofinfo commented on #15340
confirmed this workaround works (im using terraform to run the chart)

[code]

[2022-01-04 16:15] andormarkus commented on #16010
Hi

We are using this config with helm 1.3.0

[code]

I think your `config.webserver.base_url` is incorrect, it needs to be a valid private/public URL

[2022-01-04 16:29] ericpp commented on #20615
#20433 is working great for me now!

[2022-01-04 17:01] teaglebuilt commented on #15675
actually i have a pr ready for this

[2022-01-04 17:04] bugraoz93 commented on #20615
[#19377](https://github.com/apache/airflow/pull/19377) works as expected for both cases!

[2022-01-04 17:11] eladkal commented on #17010
Let me summarize this issue:
This thread started with a request to renamed a specific trigger rule  (which was done) but then we changed the issue to be about custom Trigger rule logic.

Quoting my reply some months ago:

Given the time passed and sine no further requests were made in this area (also considering from what we saw in the past) I think we should close this feature request as **won't

[2022-01-04 17:16] #19969 closed

[2022-01-04 17:37] bbovenzi opened #20655 "Edit Task Instance Page does not save updates."
### Apache Airflow version

main (development)

### What happened

On the Task Instances table, one can click on `Edit Record` and be directed to a `Edit Task Instance` page. There, if you try to change the state, it will simply not update nor are there any errors in the browser console.

<img width="608" alt="Screen Shot 2022-01-04 at 10 10 52 AM" src="https://user-images.githubusercontent.com/46

[2022-01-04 18:26] jedcunningham commented on #19038
This should be fixed on 2.2.3 via #19904.

[2022-01-04 18:26] #19038 closed

[2022-01-04 18:40] potiuk commented on #17010
Agree with @eladkal

[2022-01-04 18:57] rdeteix commented on #16010
Thx for the response.
I've already tried it.
Which k8s version are you working with ?

I also tried it without the reverse proxy :
[code]

I have:
[code]

[2022-01-04 20:31] malthe commented on #17010
I think the boolean combination idea is a good one – and probably @potiuk is right that throwing time in the mix is a bad one.

That said, if it ain't broke don't fix it and while boolean combinations are arguably more elegant, if there's already a system in place that works, then I suppose that is good enough.

[2022-01-04 20:37] #20538 closed

[2022-01-04 20:42] eladkal commented on #17010
So I'm closing this issue for now.
If needed we can revisit in the future.

[2022-01-04 20:42] #17010 closed

[2022-01-04 22:21] subkanthi commented on #20655
I can take a look at this to disable the edit option.

[2022-01-04 23:05] tikikun commented on #15635
Has anyone done this ?

[2022-01-04 23:09] dimon222 commented on #20615
#19726 briefly tested, seems to work as intended and not raising any problems.

[2022-01-04 23:33] yehoshuadimarsky opened #20660 "Google SQL shouldn't require password when using Application Default Credentials and Cloud SQL Auth proxy"
### Apache Airflow Provider(s)

google

### Versions of Apache Airflow Providers

[code]

### Apache Airflow version

2.2.1

### Operating System

Debian Buster

### Deployment

Official Apache Airflow Helm Chart

### Deployment details

Running the official Airflow Helm chart on GKE. Have Workload Identity set up and working, linked the Google and Kubernetes service accounts.

Created an Airflow

[2022-01-04 23:33] williamfmr commented on #20320
@potiuk, unfortunately my employer does not allow for contributing code to external projects. I have removed myself from this ticket. Very sorry :(

[2022-01-05 04:53] arsalanfardi commented on #20320
Can I take this up as my first  issue?

[2022-01-05 04:55] uranusjr commented on #20320
Go ahead.

[2022-01-05 07:10] Greetlist commented on #20308
At this moment, I solve this problem by this:

![image](https://user-images.githubusercontent.com/18439743/148174419-5f27d495-ef6c-4a08-b262-c41ada4725ad.png)

Pass *custom_skip* args to method_name when invoking the **defer** function.
![image](https://user-images.githubusercontent.com/18439743/148174785-3d248b35-f9e6-4e5b-88bd-3328553a2eea.png)

Tricky solution.

[2022-01-05 07:42] #20580 closed

[2022-01-05 08:04] uranusjr commented on #20419
Since new documentation for this would be targeting 2.3+ anyway, using `from_email` is fine IMO.

Casing does not matter in config keys, `from_email` is entirely equivalent to `FROM_EMAIL` here (and the environment variable is always upper case).

[2022-01-05 09:51] uranusjr commented on #19903
Oh I see what’s going on. This has nothing to do with the task function, but the task _group_ function. Currently, the `@task_group` decorator is intended to be used like this:

https://github.com/apache/airflow/blob/e8b5ab9efe93f826a2b521b5d1cac0404354c3b4/airflow/example_dags/example_task_group_decorator.py#L60-L63

Note how the task group function returns `task_3(...)`, which produces a BaseOpe

[2022-01-05 10:15] jon-evergreen opened #20672 "Postgresql hook fails to make a connection to Redshift using IAM role"
### Apache Airflow Provider(s)

amazon, postgres

### Versions of Apache Airflow Providers

apache-airflow-providers-amazon==2.4.0
apache-airflow-providers-postgres==2.4.0

### Apache Airflow version

2.2.3 (latest released)

### Operating System

Debian GNU/Linux 10 (buster)

### Deployment

Other Docker-based deployment

### Deployment details

Docker image based on the official images, with the

[2022-01-05 10:19] potiuk commented on #20615
Last chance to make some quick testing :)

[2022-01-05 13:26] henriqueribeiro opened #20681 ""already registered for DAG" when dynamically generate tasks"
### Apache Airflow version

2.1.4

### What happened

Recently I started to use TaskFlow API in some of my dag files where the tasks are being dynamically generated and started to notice (a lot of) warning messages in the logs. The messages look like this:
[code]

And these messages keep appearing even when the DAG is not running and also when it's paused. So I guess this happens at when parsing t

[2022-01-05 14:25] #20655 closed

[2022-01-05 15:51] uranusjr commented on #20579
The entire experiemental API is deprecated anyway so I’m not going to bother fixing this. Feel free to submit a PR if you are bothered by it. The fix is easy; just pass `data_interval=(execution_date, execution_date)` to `create_dagrun()`.

[2022-01-05 15:55] uranusjr commented on #19903
Actually there is a way to make this work under the current `@task_group` functionality; you need to do this:

[code]

But this is totally not obvious and probably does not look nice, so #20671 is still useful.

[2022-01-05 16:12] eladkal commented on #11436
Closing as seems to be 1.10 specific and resolved in Airflow 2.

[2022-01-05 16:12] #11436 closed

[2022-01-05 16:13] eladkal commented on #12782
is this Airflow or Flask-AppBuilder issue?

[2022-01-05 16:15] eladkal commented on #10028
This issue is reported against EOL version of Airflow.
Can you please let us know if the issue still happens in latest airflow version?

[2022-01-05 16:25] JeremieDoctrine opened #20690 "Unable to adopt pod after scheduler restarts"
### Apache Airflow version

2.2.2

### What happened

We are using Airflow version 2.2.2
Using kubernetes executor
We are running airflow with `multiNamespaceMode: true`

When the scheduler restarts it tries to adopt pods and fails. Below is the error.

### What you expected to happen

[code]

### How to reproduce

_No response_

### Operating System

Debian GNU/Linux 10 (buster)

### Versions of

[2022-01-05 17:38] #19970 closed

[2022-01-05 18:01] eladkal commented on #10061
This issue is reported against EOL version of airflow.
Is this issue reproducible in latest airflow version?

[2022-01-05 18:11] eladkal commented on #10199
I'm not able to reproduce this on latest main:

![2022-01-05_20-07-04](https://user-images.githubusercontent.com/45845474/148267066-c344197d-3ce0-4ae2-b6f1-3c5079a891bb.gif)

Closing as can't reproduce.

[2022-01-05 18:11] #10199 closed

[2022-01-05 18:15] eladkal commented on #12189
We have https://airflow.apache.org/docs/apache-airflow/stable/stable-rest-api-ref.html for API documntation.
I'm closing as the issue doesn't seem relevant any more (we can reopen if needed)

[2022-01-05 18:15] #12189 closed

[2022-01-05 18:18] eladkal commented on #12874
I think this issue is covered by https://github.com/apache/airflow/issues/19966
@potiuk can you confirm?

[2022-01-05 18:20] thsubramani opened #20695 "Airflow 2.2.3 with Schedulers HA Failing on postgres 13"
### Apache Airflow version

2.2.3 (latest released)

### What happened

airflow scheduler POD with HA connecting to same postgres DB connecting with beloe error even though use_row_level_locking=true dy defualt/explicitly setting as env.

airflow-c-qa4-64956645c-tr4zm airflow-scheduler [2022-01-05 17:18:26,109] {scheduler_job.py:721} INFO - Exited execute loop
airflow-c-qa4-64956645c-tr4zm airflow

[2022-01-05 18:20] eladkal commented on #16323
fixed by https://github.com/apache/airflow/pull/18988

[2022-01-05 18:20] #16323 closed

[2022-01-05 18:21] potiuk commented on #19957
@stablum @AmarEL - is it possible that you disable this configuraiton and see if it helps?

[2022-01-05 18:29] potiuk commented on #15635
I am getting closer to attempting it. For now I need to merge a series of PRs for docker image optimisation and mostly this one finally -  #20664  -> this will change build infrastructure for our image to buildx/buildkit which opens up the built to be mutliplatform. Keep your fingers crossed.

BTW. My new MacPro is bare usable without it so I have some incentive to make it happen :)

[2022-01-05 18:30] thsubramani commented on #17127
@potiuk I have tried with postgres 13 version and getting below erros.

 airflow-c-qa4-64956645c-tr4zm airflow-scheduler [2022-01-05 17:18:26,109] {scheduler_job.py:721} INFO - Exited execute loop
airflow-c-qa4-64956645c-tr4zm airflow-scheduler Traceback (most recent call last):
airflow-c-qa4-64956645c-tr4zm airflow-scheduler   File "/home/airflow/.local/lib/python3.6/site-packages/sqlalchemy/engi

[2022-01-05 18:35] potiuk commented on #12874
It's certainly part of it. This issue will be fixed only when we havemore or less working breeze on Windows.

BTW. @baolsen -> we have been struggling a bit with @bowrna and @edithturn with making autocomplete works for Windows. We are using Python's [Click](https://click.palletsprojects.com/en/8.0.x/) for command line parameters and it generates autocomplete Power Shell scripts, but the documenta

[2022-01-05 19:02] potiuk commented on #20660
Feel Free to add pr @yehoshuadimarsky . Cloud SQL operator was added when there was no Workload Identity (at all I tihnk not only for Cloud SQL).

[2022-01-05 19:02] yehoshuadimarsky commented on #20660
Happy to give it a shot, I'll try!

[2022-01-05 19:21] shoeffner commented on #10061
Sorry! I no longer use airflow in that project, so I do not know.

On Wed, Jan 5, 2022 at 7:01 PM eladkal ***@***.***> wrote:

[2022-01-05 19:50] fbertos commented on #16844
Hi @uranusjr, I think we can now close this one as it is linked to PR: https://github.com/apache/airflow/pull/20485
Thanks!

[2022-01-05 20:25] dillonjohnson commented on #18578
On second thought, have had some stuff come up and I'm having tons of issues with the various tests failing (not sure why).
I think I'll have to pass it off. Sorry about that. @eladkal

[2022-01-05 20:47] eladkal commented on #16919
hi @SasanAhmadi any update on this issue?

[2022-01-05 21:03] jedcunningham commented on #20690
This is likely the same issue #19949 is trying to fix.

[2022-01-05 21:03] subkanthi commented on #20442
The problem is here in this line, because the value is of type 'str' and so the `not isinstance` isnt working as expected.

[code]

<img width="1247" alt="Screen Shot 2022-01-05 at 4 01 44 PM" src="https://user-images.githubusercontent.com/17434846/148288963-ff3b4950-16e3-47d6-aa2d-b3775e9fd35e.png">

[2022-01-05 21:19] thsubramani commented on #17127
@sorabhgit did you try with postgres DB. any luck with that

[2022-01-05 23:15] yehoshuadimarsky commented on #20660
So I think I know how to fix it, but I'm at a loss how to test it. I've read all the Breeze stuff and the relevant test code at
https://github.com/apache/airflow/blob/68fa358c85d0ebe1aa22ace30b33867ad4e622a8/tests/providers/google/cloud/hooks/test_cloud_sql.py#L989-L1038
and
https://github.com/apache/airflow/blob/68fa358c85d0ebe1aa22ace30b33867ad4e622a8/tests/providers/google/cloud/hooks/test_clou

[2022-01-06 00:08] #19743 closed

[2022-01-06 03:22] uranusjr commented on #20442
Weird, looks like a DAG serialisation issue? The `ArgNotSet` instance is casted to str on serialisation, and when the DAG is deserialised it continues to be a str.

[2022-01-06 03:38] uranusjr commented on #16844
I’ve linked #20697 to automatically close this once it’s merged, that change should be the lst missing piece to completion of this feature.

[2022-01-06 03:51] josh-fell commented on #20615
#20207, #20526, #20540, and #20347 look good!

[2022-01-06 03:53] uranusjr commented on #12782
Note that we’ve since vendored the security manager code into Airflow (`airflow/www/fab_security/manager.py`). If I’m not mistaken, it’s now possible to fix this without changing Flask-Appbuilder.

[2022-01-06 04:34] uranusjr commented on #20672
#20463

[2022-01-06 04:34] #20672 closed

[2022-01-06 06:42] Bowrna commented on #20615
#19873 verified the example DAG

[2022-01-06 08:18] #19889 closed

[2022-01-06 09:32] eladkal opened #20705 "Add support for SAML auth backend"
### Body

Previously also asked in Jira https://issues.apache.org/jira/browse/AIRFLOW-4539

### Committer

- [X] I acknowledge that I am a maintainer/committer of the Apache Airflow project.

[2022-01-06 10:10] #16844 closed

[2022-01-06 10:16] kaxil commented on #19891
We are doing it now :D  taking Amazon Provider for now -- so the following files:

- [ ] ( 46) airflow/providers/amazon/aws/example_dags (@phanikumv)
- [ ]  ( 14) airflow/providers/amazon/aws/hooks (@bharanidharan14)
- [ ]  ( 16) airflow/providers/amazon/aws/operators (@sunank200)
- [ ]  ( 9) airflow/providers/amazon/aws/sensors (@rajaths010494)
- [ ]  ( 1) airflow/providers/amazon/aws/transfers (

[2022-01-06 11:17] subkanthi commented on #19891
@kaxil , heads up some work for /aws/hooks was already done here - https://github.com/apache/airflow/pull/20353 , PR is not merged yet.

[2022-01-06 11:20] potiuk opened #20709 "With hive-provider installed, but can not be recognized from Airflow Connection Web UI?"
### Discussed in https://github.com/apache/airflow/discussions/20380

<div type='discussions-op-text'>

<sup>Originally posted by **ultimateChick** December 17, 2021</sup>
From "Airflow info" command, seem that I've installed hive-provider.
![image](https://user-images.githubusercontent.com/30034544/146555671-dda871d6-9751-4c98-9778-d4d8089eb17f.png)
But in web ui, I can't find the hive conn type.

[2022-01-06 11:21] potiuk commented on #20709
cc: @ultimateChick

[2022-01-06 13:58] subkanthi commented on #20705
can I take a look at this if no one is working on this. Thanks

[2022-01-06 15:04] potiuk commented on #20615
Thanks everyone for helping to thest that wave. It's been released !

[2022-01-06 15:04] #20615 closed

[2022-01-06 15:04] potiuk commented on #20615
Thanks everyone for helping to thest that wave. It's been released !

[2022-01-06 15:06] potiuk commented on #19891
Todays numbers (going down fast :) ):

* 172 issues
* 29 packages

[2022-01-06 15:45] eladkal commented on #20705
@subkanthi assigedn

[2022-01-06 16:05] eladkal commented on #20709
mmm it works fine for me and I see in the discussion it also worked for josh.

![Screen Shot 2022-01-06 at 18 02 21](https://user-images.githubusercontent.com/45845474/148412390-4dd468e0-3ef5-461d-8578-c01cce9cfc38.png)

[2022-01-06 16:08] PApostol commented on #20709
This also works fine for me in my testing env with `apache-airflow==2.2.3` and `apache-airflow-providers-apache-hive==2.1.0`.

[2022-01-06 16:23] aubdiy commented on #20709
@potiuk   @ultimateChick

Finally solved.

First of all, the conclusion is that   No module named '_bz2',

[code]
then rebuild python3.8,  and  install airflow ,

The process of investigation;
1. modiry '/usr/local/python3.8/lib/python3.8/site-packages/airflow/providers/apache/hive/get_provider_info.py' append  `traceback.extract_stack()`
2. restart webserver , then look the  stack log

3. `/usr/l

[2022-01-06 16:30] frankbreetz opened #20725 "REST API List Task Instance limit functioniality"
### Apache Airflow version

2.2.2

### What happened

The following REST Call produces a body with 100 task instances (The default for the page_limit/limit value (I am not sure which is correct documentation mentions both, neither cause errors))
[code]

### What you expected to happen

A single task instance entry should be returned in the response from the REST Call

### How to reproduce

Run the

[2022-01-06 17:17] eladkal commented on #17978
@malthe would you like to submit a PR to fix it?

[2022-01-06 18:21] subkanthi commented on #20632
I can take on this, thoughts on the priorityClasses would be useful.
Simple proposal would be to define 3 priority classes(high, medium, low) and then assign it to different deployments. Maybe airflow-migration takes high priority.

[code]

[2022-01-06 19:08] potiuk commented on #20709
Aaaaah. Yeah. We changed the log level (From INFO  to DEBUG) for that because some of the optional capabilities of providers which wer cluttering the logs. But yeah. I agree this hides exactly the problem that you describe.

The one case in question was plyveldb unavailability (this is an optional dependency and optional feature of Google Provider).

Unhiding it "blanket" will bring back the clutt

[2022-01-06 20:54] jedcunningham commented on #11841
This was resolved with #18797.

[2022-01-06 20:54] #11841 closed

[2022-01-06 20:55] jedcunningham commented on #11841
`2.3.0` will allow 12+.

[2022-01-06 22:15] Asciotti commented on #19135
I just found out about `TaskFlow` recently while looking through some docs, it looks fantastic! It reminds me of what [Prefect is doing](https://github.com/PrefectHQ/prefect) and providing an easier interface to convert code -> running in dags.

We heavily use kubernetes-based operators, and would love to see this feature add.

It there a PR I can track on this @subkanthi ?

[2022-01-06 22:42] ferruzzi commented on #19877
Had a chat with dacort.  They mentioned that the change they had in mind was that we don't actually confirm that the state is at a terminal state, only that it is not at an intermediate state.  I can't think of any other changes I'd make to it.

[2022-01-06 22:44] aubdiy commented on #20709
1. `/usr/local/python3.8/lib/python3.8/site-packages/airflow/providers_manager.py` line 142  `import_string(class_name)`

2.  the function `import_string`  in the `/usr/local/python3.8/lib/python3.8/site-packages/airflow/utils/module_loading.py`

3.  `/usr/local/python3.8/lib/python3.8/site-packages/airflow/utils/module_loading.py` line 32  `  module = import_module(module_path)`   may    throw

[2022-01-06 22:52] kishan0071234 opened #20734 "DagRun triggered via experimental API stuck in running state"
### Apache Airflow version

main (development)

### What happened

0

Airflow Dag:

def print_hello(**kwargs):
    print('Hello world a with ')

def hello_world():
    args = {
        "start_date": datetime(2022, 1, 1),
        "retries": 1,
        "sla": timedelta(hours=3)
    }

    dag_name = 'hello_world_a'
    dag = dag_utils.create_dag(dag_name, args=args, schedule_interval=None)

    test

[2022-01-06 22:56] SamWheating commented on #16982
Hi @easontm - how many schedulers were you running when this error occurred?

We briefly tried running 6 schedulers in order to reduce scheduler latency (there's probably a better way to achieve this) and notices a large uptick in the volume of tasks failing in the same way (task failed with no logs, logs show a mySQL lock timeout on `SELECT task_instance.try_number ... FOR UPDATE`)

When we reduc

[2022-01-06 23:09] ferruzzi commented on #19877
@patrikhv - It looks to me like adding in the explicit "is it a terminal state?" check is all that is needed here.  You want to put in the PR?

[2022-01-06 23:16] #18392 closed

[2022-01-07 00:07] #16807 closed

[2022-01-07 00:16] #20734 closed

[2022-01-07 01:30] tawsifh opened #20735 "SFTPHook uses default connection 'sftp_default' even when ssh_conn_id is passed"
### Apache Airflow Provider(s)

sftp

### Versions of Apache Airflow Providers

apache-airflow-providers-amazon==2.6.0
apache-airflow-providers-apache-hdfs==2.2.0
apache-airflow-providers-apache-hive==2.1.0
apache-airflow-providers-apache-livy==2.1.0
apache-airflow-providers-apache-spark==2.0.3
apache-airflow-providers-celery==2.1.0
apache-airflow-providers-elasticsearch==2.1.0
apache-airflow-prov

[2022-01-07 03:32] easontm commented on #16982
@SamWheating just checked my config file history -- we were actually running just one.

[2022-01-07 03:37] rustikk opened #20736 "JSON config isn't showing default value when the params value is set to a dictionary"
### Apache Airflow version

2.2.3 (latest released)

### What happened

When triggering a dag with the JSON config with the params value set to a dictionary with type="object" the default value is not displaying. The schema validation is still working, if you pass a value that isn't a dictionary an error will display in the UI.

### What you expected to happen

I expected the default value to show

[2022-01-07 05:59] Ashwanth369 opened #20738 "Circular import error"
### Apache Airflow version

2.2.2

### What happened

I am working in building a project on top of airflow. One of the files uses the datetime.py file under the operators directory. It seems the file has this line:

**import datetime**

and because of this, I am encountering the circular import error:

**AttributeError: partially initialized module 'datetime' has no attribute 'date' (most likely d

[2022-01-07 08:00] rdeteix commented on #16010
The alb controller has changed since v2.3 : https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.3/guide/tasks/ssl_redirect/
I'll try to make it work/

[2022-01-07 08:47] JavierLopezT commented on #13542
This has started happening to us as well. Randomly (3 nights over 10 days), all tasks get stuck in queued state and we have to manually clear the state for it to recover. We have seen that it is related to the decrease of this metric in datadog:

![image](https://user-images.githubusercontent.com/11339132/148517399-95681f0c-260e-48cb-9b38-b7d0556d8df9.png)

Airflow 2.1.1 in EC2

[2022-01-07 08:49] potiuk opened #20739 "Breeze: Build documentation with Breeze"
The "build-documentation" action should be rewritten in python in the new Breeze2 command.

It should allow for the same parameters that are already used by the https://github.com/apache/airflow/blob/main/docs/build_docs.py script: `--package-filter` for example.

It shoudl basically run the ./build_docs.py using CI image.

Also we should add `airflow-start-doc-server` as a separate entrypoint (si

[2022-01-07 08:54] potiuk opened #20740 "Breeze: Running static checks with Breeze"
We should rewrite the action to run static checks with Breeze. Currently implemented by 'static-checks' opetoin.

The should baiscally run appropriate `pre-commit run` statement. The difference vs. running just pre-commit is that it should implement auto-complete of checks available (pre-commit does not have it) and make sure that CI image is built for the checks that require it. The list of avail

[2022-01-07 08:57] potiuk opened #20741 "CI: Reuse Breeze CI image building for CI"
We already have a basic Build image function in `Breeze` - we should be able to use it to build images in CI.

There are actions that build images in `./build-imaages.yml` and they should simply (similarely to free-space) use Python commands develped in ./dev/breeze.

[2022-01-07 10:02] mik-laj commented on #20739
For the sake of clarity, I would like to add that we want to keep the './docs/build_docs.py' file because it is used for building documentation locally and we should not make any redundant changes to it.

[2022-01-07 12:37] HaloKo4 opened #20746 "Airflow Elastic MapReduce connection"
### Description

Airflow has connections:
[code]

It wasn't easy to find the `Elastic MapReduce` because it wasn't listed as Amazon.
I think it would be better to rename it to `Amazon Elastic MapReduce` for easier find in the Connections droplist

### Use case/motivation

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

[2022-01-07 13:10] potiuk commented on #20739
Absolutely. ~./Breeze docs build will be particularly useful for people who either do not have local venv specifically prepared for building docs.

[2022-01-07 13:43] PApostol commented on #20384
After some further investigation, the issue might be related to #20092.

[2022-01-07 13:48] eladkal commented on #19313
@cdabella are you still working on this issue?

[2022-01-07 14:32] #16037 closed

[2022-01-07 15:09] potiuk commented on #20746
Why don't you create PR with it https://github.com/apache/airflow/blob/b597ceaec9078b0ce28fe0081a196f065f600f43/airflow/providers/amazon/aws/hooks/emr.py#L42 ?

You can become one of the ~1900 contributors. shall I assign you to it?

[2022-01-07 16:01] subkanthi commented on #19135
Not yet, will have it in a week hopefully.

[2022-01-07 17:12] SamWheating commented on #16982
Interesting! thanks for confirming.

Anyways, we've been seeing this issue as well, with the following setup:
 - Airflow 2.1.2
 - MySQL 8 via CloudSQL
 - Celery Executor
 - 4 Scheduler Replicas

I'll continue investigating and let y'all know if we find anything useful.

[2022-01-07 17:45] kaxil commented on #20735
Assigned this PR to you, let me know if you don't want to work on it. Once we merge the PR, we will start the release process for the new version of this Provider.

[2022-01-07 18:21] ac1997 commented on #19959
Closing the issue per suggestion above.

[2022-01-07 18:21] #19959 closed

[2022-01-07 19:01] kaxil commented on #20735
https://github.com/apache/airflow/issues/20735 should fix it

[2022-01-07 19:29] kaxil commented on #20735
@potiuk we should yank `2.4.0` of the SFTP provider, merge #20735  and start the release process for `2.4.1`

[2022-01-07 20:17] MatrixManAtYrService commented on #20739
Not sure if this is in-scope here, but my impression is that `./docs/start_doc_server.sh` doesn't work if `python` doesn't refer to `python3`.  Might make a decent "while-you're-at-it" kind of change.

[2022-01-07 21:00] #20735 closed

[2022-01-07 21:50] potiuk commented on #20735
Yep. Will do

[2022-01-07 22:13] eskarimov commented on #19382
Closing the issue since PR #20062 got merged

[2022-01-07 22:13] #19382 closed

[2022-01-07 23:17] potiuk commented on #20735
Yanked.

[2022-01-08 04:08] uranusjr opened #20762 "Create documentation on @task_group"
https://github.com/apache/airflow/pull/20671#issuecomment-1007619143

[2022-01-08 04:09] #19903 closed

[2022-01-08 09:09] #20384 closed

[2022-01-08 11:54] stablum commented on #19957
I managed to run a large number tasks without airflow crashing, so changing that setting as you suggested did indeed help! Thank you! :)

[2022-01-08 13:37] vinitpayal commented on #20746
Hey @potiuk I would want to take it up, quite simple and good to start for my open source journey :)

[2022-01-08 14:12] potiuk opened #20766 "Status of testing Providers that were prepared on January 08, 2022"
### Body

I have a kind request for all the contributors to the latest provider packages release.
Could you please help us to test the RC versions of the providers?

Let us know in the comment, whether the issue is addressed.

Those are providers that require testing as there were some substantial changes introduced:

## Provider [cncf.kubernetes: 3.0.1rc1](https://pypi.org/project/apache-airflow-

[2022-01-08 14:17] vinitpayal commented on #20746
@potiuk PR is up for this at https://github.com/apache/airflow/pull/20767

[2022-01-08 15:16] potiuk commented on #19957
Cool! Thanks for confirming! Now we need to find the root cause and fix it !

[2022-01-08 15:26] #20746 closed

[2022-01-08 23:13] edithturn commented on #20254
This task is running one bash script, which is called three scripts.

`. "$(dirname "${BASH_SOURCE[0]}")/../libraries/_script_init.sh"

python3 "${SCRIPTS_CI_DIR}/images/ci_run_docker_tests.py" "${AIRFLOW_SOURCES}/docker_tests/test_examples_of_prod_image_building.py"
`

Should I write this file in python, right? :)

Thanks in advance.

[2022-01-08 23:31] potiuk commented on #20254
Yeah. I think this is as simple as this -  just getting rid of any "bash" executed.

Currently the tests to execute is really executing "pytest docker_tests" (more or less)

* script_init is not needed (as in most of our python code we can reuse common code)
* then what really want to do is to initialize the virtualenv and move the docker_tests.py script to "dev/breeze" so that it becomes a standa

[2022-01-09 00:08] #9542 closed

[2022-01-09 05:50] #20296 closed

[2022-01-09 10:49] hubert-pietron commented on #16295
Hi, What is the status of this issue @eladkal? Can You assign it to me?

[2022-01-09 10:51] Bowrna commented on #20740
I will pick up this task @potiuk

[2022-01-09 11:01] potiuk commented on #16295
Assigned you

[2022-01-09 11:31] YossiTamari commented on #20632
Hi @subkanthi, thanks for taking this. My request was only to add support for assigning priorities in values.yaml, not necessarily for creating priorities or assigning them by default (Same thing as [affinity](https://airflow.apache.org/docs/helm-chart/stable/parameters-ref.html#kubernetes), which has a default empty value).

[2022-01-09 11:53] #19967 closed

[2022-01-09 12:07] rdeteix opened #20772 "Installation probe issue"
### Apache Airflow version

2.2.3 (latest released)

### What happened

I updated the repo yesterday and even with this minimal installation:

[code]

I have:

[code]

### What you expected to happen

_No response_

### How to reproduce

_No response_

### Operating System

eks 1.21

### Versions of Apache Airflow Providers

_No response_

### Deployment

Official Apache Airflow Helm Chart

### De

[2022-01-09 15:56] cherusk commented on #19972
Pardon, but from the formulation of the code examples and the overall issue, I'm not certain will the eventual "package" contain a prometheus operator that can reach to prometheus API directly. Something along the lines of a wrapper around SimpleHttpOperator as a minimum viable technical approach I'd expect.

I don't know why this needs to be confined to the prometheus push gateway which is a very

[2022-01-09 16:36] potiuk opened #20774 "Expand POC with all possible standard metrics available in Open Telemetry"
I think, one of the next steps @Melodie97 will be to add - in similar way other instrumentations that we can use from here: https://opentelemetry-python-contrib.readthedocs.io/en/latest/instrumentation/sqlalchemy/sqlalchemy.html

- [x] https://opentelemetry-python-contrib.readthedocs.io/en/latest/instrumentation/boto/boto.html
- [x] https://opentelemetry-python-contrib.readthedocs.io/en/latest/ins

[2022-01-09 16:57] potiuk commented on #19972
@cherusk  We should completely separate #11549 from this discussion.

It has nothing to do with the instrumentation/OT integration that we are working on with @Melodie97 .
It is completely different issue (and quite misleading in the context of opentelemetry integration).

What is described in #11549 is a dedicated, Prometheus operator that will an existing push gatway setup outside of Airlfow and

[2022-01-09 17:06] potiuk commented on #20774
@Melodie97 - if you want you will be able to split those into smaller issues - one per integration - up to you.

[2022-01-09 17:20] Melodie97 commented on #20774
Ok @potiuk I will look into this, I think I’ll just tick the boxes

[2022-01-09 20:12] ghislainp opened #20776 "Write access to /home/airflow for "default" user in docker"
### Apache Airflow version

2.2.3 (latest released)

### What happened

The airflow home directory in the docker official image has rights:
drwxr-xr-x 1 airflow root 4096 Jan  9 19:49 /home/airflow/

It is not writable by the group. The "default" user created by entrypoint_prod.sh can not write in its home.

### What you expected to happen

I expected the rights to be drwxrwxr-x /home/airflow as d

[2022-01-09 21:56] potiuk commented on #19891
* 155 issue
* 27 packages

[2022-01-09 21:58] #12298 closed

[2022-01-10 03:25] uranusjr commented on #20709
I’d recommend the first approach. The second is potentially too confusing for maintainers not familiar with the context (`Error` and `Exception` are kind of interchangeable in Python terminology so `ImportError` and `ImportException` presents a maintenance landmine).

[2022-01-10 03:59] uranusjr commented on #20725
Assigned!

[2022-01-10 04:34] uranusjr commented on #20559
Looks like the same issue as #20442.

[2022-01-10 04:34] #20559 closed

[2022-01-10 04:40] fredthomsen commented on #20776
Have you modified the provided compose file at all?  I had a similar sort of issue; however, I realized that in customizing the compose file to my needs I had swapped `AIRFLOW_UID` to another variable, thus leading me to running processes in that container as the `default` user.

The `default` user created by the entrypoint script is not suppose to have write access to the `airflow` user home dire

[2022-01-10 04:42] harishkrao commented on #20453
@mik-laj / @potiuk - I am trying to run pytest on [google bigquery](https://github.com/apache/airflow/blob/main/tests/providers/google/cloud/hooks/test_bigquery.py) and I am running into an exception defined [here](https://github.com/apache/airflow/blob/main/airflow/models/connection.py#L397). I believe I need some kind of basic GCP/bigquery connection setup, but I am unable to find documentation

[2022-01-10 05:06] potiuk opened #20778 "Make Airlfow integration with Open-Telemetry "pluggable""
We should be able to "plug-in" the open-telemetry integration in Airflow. This should be possible to be done on several layers:

1) we should be able to integrate different exporters by just enabling them (Jaeger, Console, ....). Currently we know that we have to some Gunicorn/Fork workarounds (and write some small code snippets specific per exporter) but ideally we should be able to just configur

[2022-01-10 05:45] nirutgupta opened #20779 "Logs of tasks when running is not available with kubernetesexecutor on webserver UI"
### Description

Provide any configuration, or a sidecar container to achieve task logs streaming in kubernetes executor to webserver UI when task are in running state.

### Use case/motivation

Moving out from celery executor where I can see the running logs , it is very difficult for me to have the patience when using kubernetes executor for seeing task logs of long running tasks since they will

[2022-01-10 05:52] #20259 closed

[2022-01-10 06:50] potiuk commented on #20709
The first one we had initially and the problem was that some of the optional features (plyvel was one example) from the provider will also throw the "No module" errors (when Plyvel Hook is imported). They are essentially indistinguishable from "random" `no import` errors - similarly as you experienced with Hive (and if we convert them into errors, they will also flood the logs. we have to remmber

[2022-01-10 06:51] mingshi-wang commented on #20579
@uranusjr @eladkal I'd like to work on this issue as a warmup contribution.

[2022-01-10 06:55] CelastrinaLadon opened #20780 "[Provider] Huawei Cloud: Object Storage Service"
### Description

in airflow, we have a provider for AWS, Google Cloud but I have to use Huawei and did not have a provider yet

so I request a provider for Huawei Cloud and the first service is Object Storage Service.

feature would be

1. list file in the bucket
2. get the file from the bucket
3. upload file to the bucket

### Use case/motivation

I'll make it happen by follow python SDK from Hua

[2022-01-10 06:58] potiuk commented on #20709
BTW. We can easily add new features to "provider info". We've made it in the way that extra features can be added in provider infor and the provider will continue to work for old Airlfow if new features/fields are added. So this will nicely work - Airflow 2.3 will ignore such "known" plyvel import but will warn for others, but Airlfow 2.2 will continue to debug the import errors (but the provider

[2022-01-10 07:43] uranusjr commented on #20579
Feel free!

[2022-01-10 08:42] potiuk commented on #20453
Have you tried to run `breeze` to run the tests? https://github.com/apache/airflow/blob/main/BREEZE.rst

Airflow has docker-compose based development environment that is the mirror of what is used in CI. Essentially it should be as easy as:

[code]

This should drop you (after a while of getting images and starting docker compose) into ./breeze shell (which is bash inside docler-compose airlfow im

[2022-01-10 13:44] potiuk commented on #20739
I think we might actually move the "start-doc-server" to be part of the new Breeze. The new Breeze2 nicely works with `pipx` in the way that it will install entrypoints configured in https://github.com/apache/airflow/blob/3b5adaff9a30bee3ee12b32c44f38c3f5148df24/dev/breeze/setup.cfg#L67 as scripts available on the path (independently if you are on windows/osx/linux).

I think we should convert all

[2022-01-10 14:16] mkhalaf2 commented on #20047
Hi @eugene-nikolaev, I am not using PythonOperator in the DAGs above.

[2022-01-10 16:14] #19538 closed

[2022-01-10 17:13] fjmacagno opened #20788 "AIrflow Scheduler does not schedule any tasks when >max running tasks queued with non-existant pool"
### Apache Airflow version

2.2.3 (latest released)

### What happened

Our airflow instance was not scheduling any tasks, even simple ones using the default pools. The log showed that it was attempting to run 64 tasks, and that every one was trying to use a pool that didn't exist. When i created the missing pool the scheduler started the tasks and started clearing the queue.

### What you expecte

[2022-01-10 19:31] #20772 closed

[2022-01-10 19:42] potiuk commented on #20632
assigned it @subkanthi

[2022-01-10 20:32] feluelle commented on #9745
Yes @kaxil I think you're right. If the libraries are substantial different we can close the PR.

[2022-01-10 21:30] #9745 closed

[2022-01-10 21:48] ashb commented on #19891
I went on a bit of a bash and got all the ones from Airflow "core" - #20795

[2022-01-10 21:56] ashb commented on #19891
Hmmm, We've got a bunch of errors like this:

[code]

Which is not an error at runtime, as we use the `default_args` to provide this value (which makes sense --it's the point of default_args). I don't think there's really a way of fixing this really without adding a bunch of type ignores :(

[2022-01-10 22:04] subkanthi commented on #19891
We fixed it by using pyi stub files.

From @potiuk
We fixed similar problems by introducing .pyi definition for operator which has the field marked as optional/having default:

Example: https://github.com/apache/airflow/pull/20422/files#diff-b203bbb3091d2f66173522a470009ba78c142564717c2168ad39d39ff7ed9a11R1

Not ideal. But it will do for now. We will likely have to implement a custom mypy plugin t

[2022-01-10 22:05] subkanthi commented on #19891
Approach we followed was using .pyi files.

We fixed similar problems by introducing .pyi definition for operator which has the field marked as optional/having default:

Example: https://github.com/apache/airflow/pull/20422/files#diff-b203bbb3091d2f66173522a470009ba78c142564717c2168ad39d39ff7ed9a11R1

Not ideal. But it will do for now. We will likely have to implement a custom mypy plugin to allow

[2022-01-10 22:16] ashb commented on #19891
I'd go further than say that's not ideal and say that borderline introduces a bug that impacts our users:

Those `.pyi` files get shipped with the providers, and we're now lying about what arguments are required for the sake of which example args we happen to use in the example dags?

[2022-01-10 22:18] ashb commented on #19891
I've taken a quick look at a mypy plugin, and the `get_function_signature_hook` hook point does allow us to alter the type of the constructors. At least in theory.

However I have _no_ idea how to actually do that, nor how we could get the value of the default args out of the current DAG -- the mypy internals have next to zero documentaiton.

[2022-01-10 23:01] potiuk commented on #19891
Not really. The .pyi files are not included in released providers. They only impact 'example_dags" really - because those are the only "users" of the operators in airflow codebase.

But what is really lying to our users are the default args in this case,

And yea, I also looked at the mypy for that (I actually hate we have to add .pyi files, but adding #tpeignores is I think even worse).  And ye a

[2022-01-11 03:32] Chaho12 opened #20797 "Python Operator should pass keyword arguments to callbacks for sake of convenience"
### Description

[Python Operator Execute](https://github.com/apache/airflow/blob/2.2.3/airflow/operators/python.py#L168-L176) method updates context like code below, which works as description mentions : `:param op_kwargs: a dictionary of keyword arguments that will get unpacked in your function`.
[code]

However, I think that this description is ironic to current situation where `_run_finished_c

[2022-01-11 03:33] harishkrao commented on #20453
@potiuk Thank you for taking the time to respond. I tried some of the steps you mentioned above before posting here. I will give a fresh try. I had a suspicion that it might have something to do with my setup. Really appreciate spending time to reply!

[2022-01-11 06:02] harishkrao commented on #20453
@potiuk That worked, thank you very much!

[2022-01-11 07:38] stevenzhang-support opened #20799 "Does that Smart Sensor support the ExternalTaskSensor ?"
### Description

As far as I know, Smart Sensor is a new feature added by Airflow v2.x.x. Whether we use Google Cloud Composer 1 or Composer 2, the corresponding Airflow version is v2.1.4.  What I suspect now is that Smart Sensor does not support the ExternalTaskSensor we want to use, because I found others have the same confusion [1].

Also, at first I thought it was related to the Composer versi

[2022-01-11 07:46] stevenzhang-support commented on #20799
I have followed the issue template and thanks for confirming the below

1) Does that Smart Sensor support the ExternalTaskSensor
2) If Smart Sensor support the ExternalTaskSensor  can be implemented?

BR

[2022-01-11 08:41] masshysteria1 opened #20803 "TimeoutError: There are still unapplied migrations after 60 seconds"
### Official Helm Chart version

main (development)

### Apache Airflow version

2.2.3 (latest released)

### Kubernetes Version

1.22

### Helm Chart configuration

[code]

# Airflow database migration job settings
migrateDatabaseJob:
  # Annotations on the database migration pod
  annotations: {}
  # jobAnnotations are annotations on the database migration job
  jobAnnotations: {}

### Docker Im

[2022-01-11 09:10] potiuk commented on #20776
Thanks @ghislainp for reporting it - this will be fixed in #20238!

@fredthomsen:

True. The thing is that we should indeed treat all the users in the image in the same way. Our image is Open-Shift compatible, which means that it allows to run the image as arbitraty user as long as it belongs to group 0  (https://airflow.apache.org/docs/docker-stack/entrypoint.html#allowing-arbitrary-user-to-run-t

[2022-01-11 09:12] potiuk commented on #20776
[code]

[2022-01-11 09:26] potiuk commented on #19891
@ashb @uranusjr @jedcunningham (others): that actually reminded me that I we have not decided what to do with .pyi files.  As mentioned in  https://github.com/apache/airflow/issues/19891#issuecomment-1001531572

I think some of the important stub files (Context especially) we should directly include in "airflow" package. But some others (especially if we decide to leave them - for now at least - t

[2022-01-11 09:29] ashb commented on #19891
context.pyi - absolutely, as that one is _mostly_ for users than for Airflow itself.
db_types.pyi - not needed to be shipped, it's mostly for migrations, so developers
functools.pyi - 50/50. Not _designed_ for users, but someone could use it so I think I'd say yes to ship that one.

Providers I have no context on, but going on this discussion exclude then from the dists.

[2022-01-11 09:38] #20776 closed

[2022-01-11 09:44] viktorvia opened #20804 "Some timing metrics are in seconds but reported as milliseconds"
### Apache Airflow version

2.2.2

### What happened

When Airflow reports timing stats it uses either a `timedelta` or a direct value. When using `timedelta` it is converted automatically to the correct units of measurement but when using a direct value it is accepted to already be in the correct units.

Unfortunately the Stats class, either being statsd.StatsClient or a stub, expects *millisecon

[2022-01-11 09:48] mikemoto opened #20805 "initdb failed"
### Apache Airflow version

apache-airflow                           2.2.2
apache-airflow-providers-cncf-kubernetes 2.1.0
apache-airflow-providers-ftp             2.0.1
apache-airflow-providers-http            2.0.1
apache-airflow-providers-imap            2.0.1
apache-airflow-providers-sqlite          2.0.1

openapi-schema-validator                 0.2.0
openapi-spec-validator                   0

[2022-01-11 09:51] potiuk commented on #19891
Agree

[2022-01-11 10:10] lucas-houles commented on #16578
@Kiollpt I've tested with Apache Airflow version: 2.1.0 and apache-airflow-providers-google: 4.0.0rc1 and its working.
We can close this issue.

[2022-01-11 11:03] potiuk commented on #20797
I don't see anything ironic in it when I consider the architectire of Airflow and the way it works - especially in order to achieve resilency and robustness.

I believe that the main reason is that we cannot know sometimes what were the args. When they are dynamically passed (and potentially calculated via jinja templates when PythonOperator gets execute() method called.

For example, when Python

[2022-01-11 12:34] potiuk commented on #20799
As mentioned in #13949 smart sensors are on their way to be deprecated. Please use Deferrable Operators instead.

[2022-01-11 12:34] #20799 closed

[2022-01-11 12:51] #20805 closed

[2022-01-11 12:53] #16578 closed

[2022-01-11 13:07] fredthomsen commented on #20776
Thanks for explaining this @potiuk.

[2022-01-11 14:29] blcksrx commented on #20588
@kaxil it does not works, In addition there is a difference between that discussion and this one. problem here is that if you set `AIRFLOW__WEBSERVER__BASE_URL` env the `livenessProb` does not work and it will produce 404 error, while that discussion is more about if airflow deployed to a path like `/staging`, how its possible to correct the path of `livenessProb` from `/health` to `/staging/healt

[2022-01-11 17:05] fjmacagno commented on #20788
I mean, I just dont think the whole scheduler should stop scheduling tasks because one dag is misconfigured. This caused an entire cross-team airflow installation to stop working because one team made a mistake on one dag, and gods help us if that had been prod.

It seems like if a task is misconfigured in some way that prevents it from running, it shouldn't be considered to be in the queue. Maybe

[2022-01-11 17:16] uranusjr commented on #19891
functools.pyi is not too useful for general users IMO; it’s there because we need to support multiple Python versions; a normal setup would generally run code against one specific Python version and can simply import the real thing, not from the compat module.

[2022-01-11 17:21] potiuk commented on #20588
@blcksrx - please read the description. Currently setting variable in Helm does not work. Use webserver config from values.yaml - it will work then.

[2022-01-11 17:22] potiuk commented on #20588
Did you try it ? Did it work for you?

[2022-01-11 17:42] bmckallagat-os commented on #20484
@kaxil I noticed [they deleted your comment](https://github.com/pallets/flask-sqlalchemy/pull/1001#event-5810515035) and locked the convo... petition to start an opensource war?

[2022-01-11 17:58] edithturn commented on #20251
Closes with #20763

[2022-01-11 17:59] blcksrx commented on #20588
Thank you very much. I'll keep you posted.

[2022-01-11 18:03] SamWheating commented on #20788
Agreed - although in this case though I think that setting `dagrun_timeout`, `max_active_runs` or `max_active_tasks` on your DAG can reduce the ability of a single DAG to use too many resources and thus limit the blast radius of such an incident.

Agreed, I'll have a look through the scheduler logic to see how viable this is.

[2022-01-11 18:16] #20252 closed

[2022-01-11 18:59] fjmacagno commented on #20788
Thats an interesting point though, because we do have most of those set. We cant do dagrun_timeout because it is a 15 day long dag, but max_active_runs is 1 and dag_concurrency is 16, while scheduler parallelism is 64, so it sounds like something is amiss there too.

[2022-01-11 19:07] potiuk commented on #20484
I started a few already, some of them with success .... some of them ... not yet. Maybe time for another one ;)

[2022-01-11 20:51] bmckallagat-os commented on #20484
Please, use that Apache clout 🤣

[2022-01-11 21:10] fjmacagno commented on #20534
I am seeing this issue too:
![image](https://user-images.githubusercontent.com/42754983/149021907-bad97e01-4ec9-447e-abce-6c37df0287c5.png)

[2022-01-11 22:24] ephraimbuddy commented on #20725
I think you are doing this the wrong way. The limits are params and not data, so this should work:

[code]

Or am I missing something?

[2022-01-11 23:48] Melodie97 commented on #20774
Hi @potiuk , I'm unable to tick the boxes for some reason

[2022-01-12 00:06] micaelamaria opened #20820 "connection/list Ooops, something bad has happened!"
### Apache Airflow version

2.2.1

### What happened

The UI doesn't display my connections list. I run the scrypt below, and copied the fernet key in my airflow.cfg
    #from cryptography.fernet import Fernet
    #fernet_key = Fernet.generate_key()
    #print(fernet_key.decode())
Even after pasting the generated key I get:
File "/usr/local/lib/python3.8/dist-packages/airflow/models/connection.py"

[2022-01-12 02:34] uranusjr commented on #20484
I took a look at the code path and tried an alternative fix: dpgaspar/Flask-AppBuilder#1783

[2022-01-12 03:12] Chaho12 commented on #20797
Thank you for your reply. Can you recommend any books/references that I could start to learn more about the architecture ? I did some quick google search and found "The Complete Guide to Apache Airflow 2021", "Data Pipelines with Apache Airflow"

When you say `forcefully (via UI) set to "success" state, the callbacks will be executed in the DagProcessor/Scheduler`, is this the case where the opera

[2022-01-12 04:14] sunnyxcao79 opened #20821 "Airflow can not schedule task in new subDAG"
### Apache Airflow version

2.2.3 (latest released)

### What happened

We are using the input parameter from one configuration file to control the number of SubDAG will be triggered in one DAG.  It works in original configuration,e.g. we set 5 SubDAG, all can run complete normally.   After we try to add one more SubDAG in configuration file,  the subDAG can be listed in UI, but all tasks in the n

[2022-01-12 05:39] potiuk commented on #20774
Yeah. Just comment what's done. I think only committers can change the issue. I will tick them :)

[2022-01-12 08:50] Bowrna commented on #20740
Static Checks:

docker_engine_resources::check_all_resources
breeze::make_sure_precommit_is_installed
breeze::run_static_checks

Docker_engine_resources::check_all_resources:
Run the docker command in Python to determine the resource availability.
EXTRA_DOCKER_FLAGS
AIRFLOW_CI_IMAGE_WITH_TAG

This runs airflow ci image with tag with docker extra flags and entry point as /bin/bash and executes the

[2022-01-12 09:02] Bowrna commented on #20740
` The list of available static checks should be retrieved by parsing the .pre-commit.yml file rather than (as it is currently done) maintaining the list in ./breeze-complete script`

@potiuk  Do you think we have to parse the .pre-commit.yml  file on the fly and enable auto-complete for those checks rather than adding click options ?

[2022-01-12 11:14] Bowrna opened #20823 "Static check docs mistakes in example"
### Describe the issue with documentation

<img width="1048" alt="Screenshot 2022-01-12 at 4 22 44 PM" src="https://user-images.githubusercontent.com/10162465/149127114-5810f86e-83eb-40f6-b438-5b18b7026e86.png">
Run the flake8 check for the tests.core package with verbose output:

./breeze static-check mypy -- --files tests/hooks/test_druid_hook.py

The doc says flake8 check for tests.core package

[2022-01-12 11:23] potiuk commented on #20823
Feel free to update it :)

[2022-01-12 11:42] Bowrna commented on #20740
@potiuk I have one more question.

Why do we have to run static checks with Breeze when it's possible to run via pre-commit. Only a few checks like flake8, mypy requires to build an image while others can be run. Is there any specific reason to support static-checks via Breeze commands?

[2022-01-12 12:07] potiuk commented on #20740
Actually the only reason is actually auto-complete. Even the few "image" pre-commits can be run with pre-commit (they will just fail in case image is not built). But I found this really problematic that someone who wants to run specific pre-commit has to look it up elsewhere (pre-commit has no support for auto-complete and apparently author of pre-commit is rather "cold" when it comes to supportin

[2022-01-12 12:59] geetakew opened #20824 "Apache Airflow environment is unable to load UI for the code."
### Apache Airflow version

2.0.2

### What happened

I created airflow environment on AWS by following steps from https://towardsdatascience.com/set-up-an-airflow-environment-on-aws-in-minutes-f934cf10ec54.

After the environment got available, I clicked on Airflow UI. But I am getting below message:

Something bad has happened.
Please consider letting us know by creating a bug report using GitHu

[2022-01-12 14:44] mikaeld commented on #12136
@flrn77 what provider package version are you using for `cncf.kubernetes` when facing the issue?
The possible fix mentioned by @nikie for `cncf.kubernetes` version `2.0.3`, but you seem to mention Airflow "core" versions.

[2022-01-12 16:08] askmeegs opened #20829 "Update google-cloud-container package to v2.10.1"
### Description

The google-cloud-container [version constraint in setup.py](https://github.com/apache/airflow/blob/main/setup.py#L305) restricts the version to < 2.0.0, but the latest version of google-cloud-container [is v2.10.1](https://github.com/googleapis/python-container/releases/tag/v2.10.1).

### Use case/motivation

I help maintain the [google-cloud-container client library](https://gith

[2022-01-12 16:45] alexcolpitts96 commented on #13675
@eladkal Sorry to bump an old issue, but it seems to persist with version release:2.2.3+06c82e17e9d7ff1bf261357e84c6013ccdb3c241

Containers are spawned, complete successfully, are removed, and Airflow does not mark them as completed if enable_logging=True

[2022-01-12 17:18] jfamestad opened #20832 "Unable to specify Python version for AwsGlueJobOperator"
### Apache Airflow Provider(s)

amazon

### Versions of Apache Airflow Providers

_No response_

### Apache Airflow version

2.0.2

### Operating System

Amazon Linux

### Deployment

MWAA

### Deployment details

_No response_

### What happened

When a new Glue job is created using the AwsGlueJobOperator, the job is defaulting to Python2. Setting the version in create_job_kwargs fails with key e

[2022-01-12 22:19] SamWheating commented on #20832
I think that this is because the GlueHook is pretty opinionated and hardcodes the value of `Command` when running the `create_glue_job` command:

https://github.com/apache/airflow/blob/2ab2ae8849bf6d80a700b1b74cef37eb187161ad/airflow/providers/amazon/aws/hooks/glue.py#L181-L225

So when you provide `Command` as a `create_job_kwargs`, it ends up being supplied twice to that function (Although I sus

[2022-01-12 22:33] SamWheating commented on #20832
Also for what its worth, I think that you `Command` block is invalid, as the `Command.Name` you're using (`abalone-preprocess`) field must be one of `glueetl`, `pythonshell` or `gluestreaming`.

https://docs.aws.amazon.com/glue/latest/webapi/API_JobCommand.html

[2022-01-13 01:02] sergxm2 commented on #19222
Seeing the same issue with BranchPythonOperator / branching and the final task (i.e. task6) being incorrectly skipped instead of being called. This is observed in 2.2.x but not in 2.1.x and not in 2.0.x

[2022-01-13 01:05] mike-mcdonald opened #20839 "Cannot edit custom fields on provider connections"
### Apache Airflow version

2.2.3 (latest released)

### What happened

Connections from providers are not saving edited values in any custom connection forms. You can work around the issue by changing connection type to something like HTTP, and modifying the extra field's JSON.

### What you expected to happen

_No response_

### How to reproduce

Using the official docker compose deployment, add

[2022-01-13 02:17] dwiajik commented on #19957
I am experiencing the same problem and have set `schedule_after_task_execution` to `False`. The issue still persist. Do you have any suggestion? Thanks

[2022-01-13 04:25] nirutgupta commented on #20779
I see a good working solution of this with https://szeevs.medium.com/handling-airflow-logs-with-kubernetes-executor-25c11ea831e4
All we need to do is make this k8s_task_handler file available under utils/log/ and configure log_config.py file to link airflow.tasks to this new handler as well.

[2022-01-13 04:28] nirutgupta commented on #20779
k8s task handler.py which we can use https://gist.github.com/szeevs/938ad3cf96e732d4b1b55a74015aed5b
log_config.py will look like
`from copy import deepcopy
from airflow.config_templates.airflow_local_settings import DEFAULT_LOGGING_CONFIG
from airflow.configuration import conf

import os
import sys

sys.path.append('/opt/airflow/custom_log')

BASE_LOG_FOLDER: str = conf.get('logging', 'BASE_LOG_F

[2022-01-13 05:38] ghostbody commented on #10790
we reviewed the code and found that in `local_task_job.py`, the parent process has a `heatbeat_callback`, and will check the state and child process return code of the `task_instance`.

However, theses lines may cover a bug?

![image](https://user-images.githubusercontent.com/8371330/149270821-45da67da-186e-409b-8f3e-072fe8e0491c.png)

![image](https://user-images.githubusercontent.com/8371330/149

[2022-01-13 07:10] potiuk commented on #19957
I actually spent some time few days ago looking at the mini-scheduler code but I could not really find a flaw there. The fact that it did not help you indicates that my hypothesis was unfounded, unfortunately. and maybe the reason was different (and the fact that it worked for @stablum was mainly a coincidence or some side effect of that change).

@dwiajik  - it might also be that your case is a b

[2022-01-13 07:30] #20823 closed

[2022-01-13 07:33] potiuk commented on #17279
Flask App builder constraints are updated already  - both main and 2.2 branch. So we could fix it in main and cherry-pick to 2.3.4

[2022-01-13 07:33] potiuk commented on #17279
cc: @kaxil

[2022-01-13 07:56] Melodie97 commented on #20774
Ok, I'm done with them all

[2022-01-13 08:33] Melodie97 commented on #20778
Ok, I’ll work on this

[2022-01-13 08:48] blcksrx commented on #20588
@potiuk that worked. thank a lot man

[2022-01-13 08:54] Bowrna commented on #20740
Is generating a python file from code with the list of pre-commits is a safe way to do it? @potiuk

[2022-01-13 09:07] potiuk commented on #20740
Perfectly safe.

[2022-01-13 09:34] potiuk commented on #20774
Cool!

I think what also will need to be checked (demoed) if all of them are working.

I expect some problems similar to the one we had with gunicorn because forks are used in a few places:

1) when we run tasks, by default we are forking the tasks - so some of the processes (Especially when we run dags) might not really report all the instrumentaiton events - this might be checked by running airf

[2022-01-13 09:40] Jedsman commented on #20705
There is this solution that works for airflow 1.x.x, but for some reason does not for airflow 2.x. Maybe it can be used as a reference for this. The solution is here https://www.manishpoddar.com/post/how-to-implement-aws-single-sign-on-sso-on-airflow

[2022-01-13 09:53] mgorsk1 opened #20849 "Provide 'vanilla' Airflow Docker image"
### Description

Currently the 'minimal' version of Airflow Docker image ships with 20+ extra dependencies, which according to my understanding, are the most common used libraries. The idea of this PR to prepare another, pure Airflow image, which wouldn't have those dependencies and would only ship with core Airflow package.

[https://github.com/apache/airflow/blob/main/Dockerfile#L37](https://git

[2022-01-13 10:38] awildturtok opened #20850 "Dag using schedule_interval is not scheduled"
### Apache Airflow version

2.1.3

### What happened

I have a DAGs schedule_interval set to `40 9 * * 4`  so i expect it to run at Thursday 9:40. This however has not happened.  I've read the docs and they state, the scheduler will try to schedule for the end of the period, which also seems to not happen (I'd assume this to mean `40 9 * * 3` would run at Thursday 9:40)?

From the scheduler logs:

[2022-01-13 10:50] awildturtok opened #20851 "NoValueSentinel is returned as default-value instead of empty field"
### Apache Airflow version

2.2.3 (latest released)

### What happened

When trying to run a Dag with Config, setup with params, I get `"value" : "NoValueSentinel"` as default value.

### What you expected to happen

An empty field in the default config, or at least prettier defaults (number = 0, str = "").

### How to reproduce

[code]

### Operating System

Dockerfile based on  `apache/airflow:2

[2022-01-13 10:52] potiuk commented on #20849
Yeah. :slim image is probably a good idea.

[2022-01-13 13:44] potiuk commented on #20849
I will add it next week after I merge #20664  - this will improve vastly the way how we build our images and it will be easy to add then (ARM support and Python 3.10 are following that closely).

[2022-01-13 14:17] ganose commented on #8989
I know this is quite old, but has this been implemented? Would be really useful

[2022-01-13 14:47] Bowrna commented on #20740
@potiuk could i use jinja2 template to generate the python code?

[2022-01-13 15:18] potiuk commented on #20740
Yep. It's best practice :)

[2022-01-13 16:28] edithturn commented on #20254
@potiuk I am analyzing this one. When you said:  "docker_tests.py" do you mean: "ci_run_docker_tests.py" .
If it is, this script is in this directory: airflow/scripts/ci/images, and this another one
![Screenshot from 2022-01-13 11-23-12](https://user-images.githubusercontent.com/58795858/149368638-47a472c7-998d-4757-9028-6e52e11af5af.png)
Do we want to move them into dev/breeze, ci_breeze?

In thi

[2022-01-13 16:56] khalidmammadov commented on #19891
Is there anything left to do here?

[2022-01-13 17:51] frankbreetz commented on #20725
@ephraimbuddy is correct! I would still argue there is a little discontinuity between the DagRun Call and the TaskInstance, The DagRun uses the body and TaskInstance uses the params

[2022-01-13 19:01] dinigo opened #20857 "Adding `output` to `templated_fields` makes operator raise `AirflowDagCycleException`"
### Apache Airflow version

2.2.3 (latest released)

### What happened

I'm working on an operator that receives a lot of params, by convention with the rest of the developers one of the named params is called `output`. However when you add this param to the `templated_fields` airflow Fails with the mentioned Exception

It seems like a reasonable name for a param. I've given a look at the `airflow

[2022-01-13 21:23] #20099 closed

[2022-01-13 22:14] potiuk commented on #19891
The remaining numbers
* 110 errors
* 18 packages

Updated remaining packages.

[2022-01-13 22:16] #19724 closed

[2022-01-13 22:16] kaxil commented on #19891
I just updated the description too -- to remove ones that are solved

[2022-01-13 22:20] kaxil commented on #19891
I had just updated the list in the description , @potiuk looks like your change reverted it.. some of the ones are already solved like `imap` and the others. Check "Edit History" of the pr description

[2022-01-13 22:22] fjmacagno opened #20862 "Unexpected keyword argument 'resolver' during `airflow db init`"
### Apache Airflow version

2.2.3 (latest released)

### What happened

I just built a fresh airflow image and when i tested it by running `airflow db init` (my normal test process, followed by `airflow webserver`) it threw the error
[code]
and crashed. Sounds like a dependency introduced an issue in a recent release?

### What you expected to happen

It to not crash.

### How to reproduce

Run `a

[2022-01-13 22:27] ephraimbuddy commented on #20725
It's documented. You're talking about dagruns batch. It also uses POST instead of GET. It's so because we want to get a `batch` without overwhelming the server with requests. There's also a GET method for dagruns which applies limit in params.

Closing this for now since I think it's not a bug

[2022-01-13 22:27] #20725 closed

[2022-01-13 23:51] dinigo commented on #20857
From the docs

I can see how what's templated is the "property" rather than the "constructor argument". The docs make it semi-clear. My error came from the `output` collyding with an internal `@property` of the `BaseOperator`.

Here's a test to prove docs are right

[code]

[2022-01-13 23:51] #20857 closed

[2022-01-14 00:14] fjmacagno commented on #20862
No, i am trying that now.

[2022-01-14 00:17] SamWheating commented on #20862
We encountered this issue in our environment as well, and found that it was correlated with `openapi-schema-validator 0.2.0` which was released last week.

As a quick fix you can probably just pin `openapi-schema-validator<0.2.0`.

[2022-01-14 02:28] PushRom opened #20867 "Ingress for Statsd"
### Description

Hello everyone!
Can you add publication of statsd port 9102 via ingress?
Needed to collect metrics in a centralized Prometheus.

### Use case/motivation

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

### Code of Conduct

- [x] I agree to follow this project's [Code of Conduct](https://github.com/apach

[2022-01-14 02:29] uranusjr commented on #20862
We should do that in our setup.py as well. Or, since the error came from the _vendor_ connexion, it may be possible to fix this in the Airflow code base. What’s our policy about modifying vendor code?

[2022-01-14 04:52] o-nikolas commented on #13824
Hey folks,

I was looking into this today, but I can't seem to reproduce it.

@andormarkus I see in your last post you're using 2.2.2 and are running some `simple_dag` (specifically a `sleep` task). I'm assuming that's a test dag. Do you mind sharing it to help me reproduce the error? Along with any other relevant environement configurations you're using. Thanks!

[2022-01-14 05:46] uranusjr commented on #20851
#20442.

[2022-01-14 05:46] #20851 closed

[2022-01-14 06:23] uranusjr commented on #20804
Metrics should always be in seconds, so it’s the statsd call that need to be fixed (by adding `* 1000`, I assume). And if anything is currently reporting milliseconds, they should be fixed as well.

[2022-01-14 06:28] uranusjr commented on #14459
Just a minor point, it’s probably easier to just change the `is_active` field on the model, without changing the actual column name at the db level, i.e.

[code]

[2022-01-14 06:55] uranusjr commented on #16613
Yes, I believe so. `+00:00` is now always force-converted into `Timezone("UTC")`.

[2022-01-14 06:55] #16613 closed

[2022-01-14 07:18] andormarkus commented on #13824
Hi @o-nikolas

We are on helm chart `1.3.0` and airlfow `2.2.2-python3.9`. Airflow is running on AWS EKS with celery executor (keda enabled). The logs attached in my previous comment was from the celery worker logs.

Please let me know if you need more information.

Relevant section from helm chart configuration
[code]

`simple_dag `
[code]

[2022-01-14 07:23] uranusjr commented on #19902
Yeah, this is a known problem (well, I know it, at least) with `@task`, you need to instead do something like

[code]

instead. But it’s unfortunately not very easy to fix.

[2022-01-14 07:23] uranusjr commented on #19902
(Self-assigning so maybe I can come back to it at some point. But feel free to raise your hand if you want to tak a stab instead!)

[2022-01-14 07:39] suiyebuluo opened #20869 "Details for Subtasks in Logs"
### Apache Airflow version

2.2.3 (latest released)

### What happened

When I want to execute shell command through PythonOperator, I chose "subprocess" to implement it.

The same code, in airflow 1.X, I can see the details, but in airflow 2.2, it's gone.

1.X
![image](https://user-images.githubusercontent.com/44051935/149468209-0128a1f8-638e-4ebd-9305-5018616af344.png)
2.X
![image](https://user-

[2022-01-14 08:11] mgorsk1 commented on #20849
Thanks @potiuk! Let me know if I can be of any help with this.

[2022-01-14 08:48] #18672 closed

[2022-01-14 10:19] eladkal commented on #20780
@CelastrinaLadon assigned to you. Feel free to open PR

[2022-01-14 10:23] uranusjr commented on #19902
Oh the cause is simpler than I though; fixing.

[2022-01-14 10:27] eladkal commented on #20396
Since this is AIP-36 related. i suggest to take it to the AIP comment page / relevant thread in the mailing list... We usualy dont discuss AIPs in github issues

[2022-01-14 12:24] ashb commented on #11059
`~=3.6` in Python version specifiers is the equivalent of: `= 3.6, == 3.*` https://www.python.org/dev/peps/pep-0440/#compatible-release

[2022-01-14 12:24] #11059 closed

[2022-01-14 12:32] Limess opened #20873 "Distinguish links in DAG documentation from code"
### Description

Currently code blocks (i.e using backticks in markdown) look the same as links when using `dag.doc_md`.

This makes it very difficult to distinguish what is clickable in links.

For example in the image below,

![image](https://user-images.githubusercontent.com/3199181/149515893-a84d0ef8-a829-4171-9da9-8a438ec6d810.png)

`document-chunker` is a code block, whereas `offline-process

[2022-01-14 12:49] Michal-Biernacki opened #20875 "Serialization error after successful DAG run"
### Apache Airflow version

2.2.3 (latest released)

### What happened

In case within the DAG definition we use both `params` and `on_success_callback` then after triggering the DAG from the UI (option "Trigger DAG") and the finish of the successful DAG run I got the _DAG Import Errors_ error displayed in the UI.

Issue is related with the `_serialize_params_dict` method of `BaseSerialization` cl

[2022-01-14 14:10] dcardinha opened #20876 "Airflow database upgrade fails with "psycopg2.errors.NotNullViolation: column "map_index" of relation "task_instance" contains null value"s"
### Apache Airflow version

main (development)

### What happened

I currently have Airflow 2.2.3 and due to this [issue](https://github.com/apache/airflow/issues/19699) I have tried to upgrade Airflow to this [commit](https://github.com/apache/airflow/commit/14ee831c7ad767e31a3aeccf3edbc519b3b8c923).

When I run `airflow db upgrade` I get the following error:
[code]

The map_index column was intr

[2022-01-14 14:10] PApostol opened #20877 "Allow for Markup in UI page title"
### Description

A custom page title can be set on the UI with the  `instance_name` variable in `airflow.cfg`. It would be nice to have the option to include Markup text in that variable for further customization of the title, similar to how dashboard alerts introduced in #18284 allow for `html=True`.

### Use case/motivation

It would be useful to be able to use formatting like underline, bold, c

[2022-01-14 15:36] edithturn commented on #19971
Two of my task is almost ready, I would like to take this one (I will have two tasks on my hand) 😄
@eladkal could you assign it to me?

[2022-01-14 16:11] kaxil opened #20880 "Bump `jsonschema` version for Airflow 2.3"
### Body

We are using jsonschema 3.2.0 which is a 2 years old version.

Based on https://github.com/Julian/jsonschema/blob/main/CHANGELOG.rst there might be the following change that might affect us.:

[code]

Also jsonschema>4.0 supports Python >=3.7 -- so should be good for main and Python 2.3 but not Python 2.2.x

### Committer

- [X] I acknowledge that I am a maintainer/committer of the Apach

[2022-01-14 16:15] kaxil commented on #20877
Assigned the issue to you :)

[2022-01-14 16:17] kaxil commented on #20876
Map Index hasn't been introduced in Airflow 2.2.3 and nor intended to, it is currently available in the main branch and will be released in Airflow 2.3. So it is very likely you somehow used some code from the main branch.

[2022-01-14 16:25] kaxil commented on #20862
No formal policy AFAIK

[2022-01-14 17:05] #19641 closed

[2022-01-14 17:32] fjmacagno commented on #20862
Adding a constraints file fixed the issue, but it sounds like this may still be something that needs to be handled? I will leave it open, feel free to close if it isn't.

[2022-01-14 17:51] #20602 closed

[2022-01-14 19:20] SamWheating commented on #19289
We just got caught by exactly this issue when upgrading from 2.1.2 to 2.2.2.

Can I take this issue on? I would love to have this check in place for my future self 😂

[2022-01-14 19:21] dacort commented on #20215
@yeshbash @ferruzzi If you haven't already, please sign up for the preview here: https://pages.awscloud.com/EMR-Serverless-Preview.html

We've started to let folks in and you will receive info on how to access the preview when you're allowlisted.

Docs are [here](https://docs.aws.amazon.com/emr/latest/EMR-Serverless-UserGuide/emr-serverless.html) and I've also created an [emr-serverless-samples](h

[2022-01-14 19:41] SasanAhmadi commented on #16919
Hi Elad, just got a confirmation from my manager at Skillz to wrap this up in the next week. got a dedicated time from my job to finish this contribution. I am sorry it is taking more than anticipated.

[2022-01-14 20:40] mik-laj commented on #20867
We already have defined annotations on service, so preometheus should detect stated service:
https://github.com/apache/airflow/blob/bbe1efff71496b76e1dda2f19bc3ef13229a3320/chart/templates/statsd/statsd-service.yaml#L36-L37

[2022-01-14 20:42] mik-laj commented on #20867
Here is  section in Prometheus docs: https://prometheus.io/docs/prometheus/latest/configuration/configuration/#service

[2022-01-14 20:54] ssatia commented on #20615
#20264 works as expected. We had the unexpected occur again and it was handled correctly this time around 🙌

[2022-01-14 21:42] saisujith2 opened #20884 "JSONDecodeError caused by incomplete JSON created by cat /airflow/xcom/return.json when using KubernetePodOperator"
### Apache Airflow Provider(s)

cncf-kubernetes

### Apache Airflow version

2.1.2

### Operating System

RHEL 7.6

### Deployment

Other 3rd-party Helm chart

### What happened

We are facing an issue similar to https://github.com/apache/airflow/pull/6799 with Airflow Version 2.1.2

A program that we run using the KubernetesPodOperator has a very large JSON object that should be inserted as an XC

[2022-01-14 21:56] jedcunningham commented on #20873
What is your `doc_md`?

I can only reproduce this with:

[code]

But if I don't use a code block in the link text (and you don't in your example), it rendered fine:
![Screen Shot 2022-01-14 at 2 55 30 PM](https://user-images.githubusercontent.com/66968678/149590433-c29b61f0-7ea3-4a24-a8ab-bbf93c172615.png)

[2022-01-15 01:05] sandeepsaimone commented on #14672
Hi Guys,

I am running Mwaa version 2.0.2 and the dag run more than 5hrs, but in the end the task are marked has failed and there is no error in the logs. Below are the parameters update under airflow config at mwaa environment.

airflow.airflow_core_killed_task_cleanup_time=604800
celery.worker_autoscale=10,2
scheduler.scheduler_health_check_threshold=120
scheduler.scheduler_heartbeat_sec=60

Can

[2022-01-15 05:53] MatrixManAtYrService commented on #20644
Maybe I shouldn't have settled for my workaround.  This looks like it fixes it: https://github.com/apache/airflow/pull/20833/

[2022-01-15 06:14] ephraimbuddy commented on #14672
@stroykova can you create a separate issue for the behaviour you experienced. It looks different from other issues here because you're using multiprocessing in your code

[2022-01-15 08:01] Bowrna commented on #20739
@potiuk Does this means that Breeze should start docker command to create container alone and the execution of script (build_docs.py) is taken care from there? ( so that it works independent of venv)

[2022-01-15 10:00] Bowrna commented on #20739
[code]
Why the args are passed after `--` though there is `--` prefixing the option? @potiuk

[2022-01-15 16:28] hubert-pietron commented on #16295
Need some advice.
I think it's caused because in jaydebeapi exceptions are firstly internally handled and then reraised (And somehow task can't see that).
I found way to get Exception by rewriting _run_command from airflow/hooks/dbapi.py in airflow/providers/jdbc/hooks/jdbc.py, and it would look like this:
[code]
Example log after change:
[code]
Please let me know if it's okay.

[2022-01-15 17:01] potiuk commented on #20739
The `--` is a way to indicate parameters passed directly to underlying tool - at that time we did not want to define all the parameters as "build-docs" command parameters so we passed them through directly to the build-docs.sh script.

This is the typical/standard way of passing parametrs as pass -through to underlyig command. The parameters before `--` are interpreted by the `./breeze build-docs`

[2022-01-15 19:04] ddelange commented on #20884
ref https://github.com/kubernetes-client/python-base/issues/190

[2022-01-15 21:41] eladkal commented on #20832
@SamWheating We can make them configurable

I'm just not I'm not 100% why must we create the command. Can't we just leave the `create_job_kwargs` as the user passes?

https://github.com/apache/airflow/blob/5ca5693b81b129cd34367fe8788d48ed70054f95/airflow/providers/amazon/aws/hooks/glue.py#L206
https://github.com/apache/airflow/blob/5ca5693b81b129cd34367fe8788d48ed70054f95/airflow/providers/amazon/

[2022-01-15 21:48] eladkal commented on #20829
It was introduced in https://github.com/apache/airflow/pull/10317 due to breaking changes.
Feel free to submit a PR to address it.

[2022-01-15 21:51] eladkal commented on #20821
SubDAG is a deprecated feature so fixing bugs related to it isn't a priority.
You should switch to TaskGroups.
If this issue is blocking you then maybe you can raise a PR to fix it?

[2022-01-15 21:52] eladkal commented on #20766
Closing as providers were released

[2022-01-15 21:52] #20766 closed

[2022-01-16 08:50] itayB commented on #12229
@kaxil and all other friends - this is something that still happening in v2.2.3.
The installed version is:
[code]

Do I still need to downgrade that much?
I see that this limitation [has removed](https://github.com/apache/airflow/pull/18797) recently - will it solve the issue in the upcoming Airflow version?

[2022-01-16 09:01] potiuk commented on #20862
@kaxil is right we have no formal policy but I think the approach we used so far was that we do not modify vendored-in code unless we really need to do it and there is no other way. Basically the only modifications we want to have in the vendored-in code are those that are the reason on why we vendored in the code in the first place.

I believe in this case it will be just easier to add it in setu

[2022-01-16 09:16] potiuk commented on #12229
This issue has long been closed. If you see similar issue (I assume with resource too old), and have some logs. please open a new issue with all the details because it's very likely this is completely unrelated issue.

By specifying "this is something that still happening in v2.2.3" you basically do not tell - what happens, what logs, how often, is this an intermitten issue etc. There is no way we

[2022-01-16 11:44] dcardinha commented on #20876
Thank you for your answer.

Yes, I was using the code from the main branch.

Is there an estimate as to when Airflow 2.3 will be released?

[2022-01-16 12:01] val2k commented on #13542
Hello @danmactough,

Thanks for your work ! Could you provide the whole code for your utility DAG please ?

[2022-01-16 12:26] eladkal commented on #11163
@potiuk what is the task that left to do on this issue?
Hive task already has a dedicated issue https://github.com/apache/airflow/issues/19445

[2022-01-16 12:36] eladkal commented on #11476
Since there is a debate if this is an airflow issue or vertica issue and due to the fact that no one raised PR to address it I'm converting this issue to discussion. If anyone encounter this problem and has a code suggestion to Airflow - feel free to open PR directly.

[2022-01-16 12:40] eladkal commented on #15543
Since Smart Sensors is now deprecated I'm not sure if it's worth to investigating this issue?
WDYT @xinbinhuang

[2022-01-16 12:42] eladkal commented on #13692
Is anyone experiencing this issue on Airflow 2.2.3?

[2022-01-16 12:42] Limess commented on #20873
You're correct - sorry my example was slightly wrong, it's code blocks within links which are unclear:

The screenshot above still applies, this is the Github example:

Note the code block in a link is still blue: [`offline-processing-storage-chunking-manual-trigger-v5`](https://invalid-link.com)

[2022-01-16 12:45] eladkal commented on #14969
AIP 39 is now released so this should be resolved.
Closing for now as no action item here.

[2022-01-16 12:45] #14969 closed

[2022-01-16 15:48] khalidmammadov commented on #19891
I am starting to look at `tests/providers/google/cloud/hooks` if no one already.

[2022-01-16 16:02] #20442 closed

[2022-01-16 20:50] #11163 closed

[2022-01-16 20:50] potiuk commented on #11163
Just hive macros

[2022-01-16 22:13] yiga2 opened #20897 "BQ link console not working - new syntax"
### Apache Airflow Provider(s)

google

### Versions of Apache Airflow Providers

6.3

### Apache Airflow version

2.2.2

### Operating System

Ubuntu

### Deployment

Other Docker-based deployment

### Deployment details

_No response_

### What happened

Seems G has changed the format of the URL to get to a query job.
The `j` parameter = `jobID` is not sufficient anymore. If you try, website sta

[2022-01-16 22:41] yiga2 commented on #20897
Actually, that new syntax is out there for quite some time but the `BigQueryConsoleLink` class is not used anymore except in deprecated operators. It would be helpful to fix it and include in the `BigQueryInsertJobOperator`

[2022-01-17 03:57] easontm opened #20898 "Metric scheduler.tasks.running is never updated from 0"
### Apache Airflow version

2.2.3 (latest released)

### What happened

The metric `scheduler.tasks.running` is populated from the variable `num_tasks_in_executor` in scheduler_job.py. However, `num_tasks_in_executor` is initialized to `0` and then never updated again.

Function `_executable_task_instances_to_queued`:
https://github.com/apache/airflow/blob/c59001d79facf7e472e0581ac8a538c25eebfda7/

[2022-01-17 04:06] danmactough commented on #13542
Sure @val2k. I updated my previous comment to include the full DAG as well as a description of how to provide the DAG run config.

[2022-01-17 04:35] uranusjr commented on #20884
Sounds like this is something Airflow can’t fix and need to wait for a patch in the Kubernetes dependency?

[2022-01-17 05:00] uranusjr commented on #16295
Is it not possible to do this instead?

[code]

[2022-01-17 05:02] uranusjr commented on #16295
Also please investigate how far above the stack the exception is bubbled to. When is the exception lost so “somehow task can't see that”? It’d be awesome if we could ge a reason better than “somehow” 🙂

[2022-01-17 07:16] PushRom commented on #20867
Yes. My mistake. Didn't see the annotations section.

[2022-01-17 07:16] #20867 closed

[2022-01-17 08:48] uranusjr commented on #20875
Already fixed in main.

[2022-01-17 08:48] #20875 closed

[2022-01-17 09:04] chla0089 commented on #20850
Hi,
are you aware the the timestamps displayed show the start of the current interval?
E.g. if it shows now (on 2021-01-17) that the next dag run is `2022-01-13 09:40:00+00:00`, it means your dag will be executed at the end of the interval which is at `2022-01-20 09:40:00+00:00`.

In the list of runs it will also display the scheduled runs only by the start of the interval and not the actual time

[2022-01-17 09:34] chla0089 opened #20899 "Only string, no bools in values.yaml env allowed"
### Apache Airflow version

2.2.3 (latest released)

### What happened

Hi,

with the new release the values.yaml has a strict schema (see #19181).
The new schema allows only for strings for variables in `env`.

Until the new release, I also used booleans. That does not work anymore. The following error occurs during the deployment (I set the environment variable in the `values.yaml` using a `gitl

[2022-01-17 09:43] ashb commented on #20876
@dcardinha Nothing firm, but our aim is "in about a month"

[2022-01-17 10:04] danneaves-ee opened #20901 "Bytes cast to String in `airflow.providers.google.cloud.transfers.gcs_to_local.GCSToLocalFilesystemOperator` ~142"
### Apache Airflow Provider(s)

google

### Versions of Apache Airflow Providers

[code]

### Apache Airflow version

2.2.3 (latest released)

### Operating System

Ubuntu 20.04.3 LTS

### Deployment

Composer

### Deployment details

_No response_

### What happened

Using `airflow.providers.google.cloud.transfers.gcs_to_local.GCSToLocalFilesystemOperator` to load the contents of a file into `xco

[2022-01-17 10:25] eladkal commented on #11323
This issue spawn from https://github.com/apache/airflow/pull/10991#discussion_r500837769
It probably can be useful but it's also a breaking change and so far I didn't see users complaining about it.
Could you please clarify the TODO part on this issue?
What operators need adjustments? Is it localized to GCP or also other providers?

[2022-01-17 10:27] eladkal commented on #8019
cc @jedcunningham WDYT?

[2022-01-17 10:51] eduardchai commented on #18041
We started having this issue after we upgraded to v2.2.3. We did not experience this issue when we were at v2.0.2.

Here is the sample dag that we used:

[code]

Error message:
[code]

Environment information:
- Installed with official helm charts
- No. of scheduler replicas: 3 (with 3 CPU and 6Gi memory) request each

[2022-01-17 11:02] aranjanthakur opened #20903 "Xmatters integration on DAG failure"
### Description

We want to get alerted via xmatters on a DAG failure.

### Use case/motivation

As far as I know, we get DAG failure notification over email and slack only. We want the integration with xmatters so that we can leverage the notification channels in xmatters. We will be alerted over phone if we are not able to check the email.

### Related issues

_No response_

### Are you willing

[2022-01-17 11:51] sammed-ai commented on #20820
Same issue error. Did anyone find any solution for this?

[2022-01-17 12:04] ephraimbuddy commented on #18041
@eduardchai, your case seems different. It seems that the tasks are taking a long time to start. Try whether setting `AIRFLOW__KUBERNETES__WORKER_PODS_QUEUED_CHECK_INTERVAL=86400` will resolve it

[2022-01-17 12:51] ITJamie commented on #19671
still experiencing this as of 2.2.3.
It also seems to be able to nuke the entirty of the scheduler

[code]

Im not sure if the " #due to non-posix-compliant Windows feature" error is related or new

[2022-01-17 13:05] awildturtok commented on #20850
Manual dag runs interfere with the schedule of scheduled dag-runs?

[2022-01-17 13:41] chla0089 commented on #20850
No, it does not interfere with the runs itself, but with the order they are displayed on the airflow-webserver when you click on the dag. The displayed time is always the start of the interval (not the end at which the dag is executed).

Example: Assuming you have a dag that runs daily at 8am (`0 8 * * *`) and you execute the same dag manually at 7.45am. If you check the dag at 9am today (`2022-01

[2022-01-17 13:58] potiuk commented on #20899
Environment variables are always strings. This validation is correct. Even if you want to set variable to "true", it should be string of value "true" not a boolean..

[2022-01-17 13:58] #20899 closed

[2022-01-17 14:47] ITJamie opened #20906 "scheduler logging bug in shouldRollover - "due to non-posix-compliant windows feature""
### Apache Airflow version

2.2.3 (latest released)

### What happened

Ive seen this bug in 2.1.4 and 2.2.3.

[code]

### What you expected to happen

_No response_

### How to reproduce

_No response_

### Operating System

ubuntu 20.04 - docker ce - bitnami prebuilt images

### Versions of Apache Airflow Providers

bitnami airflow container 2.2.3
from inside container
[code]

### Deployment

Do

[2022-01-17 14:49] eladkal commented on #20903
related https://github.com/apache/airflow/issues/12611

[2022-01-17 15:03] flrn77 commented on #12136
Hi @mikaeld,
We have 2 clusters and 3 instances - latest setup I ran into it

cluster 1 (prod)
airflow-2.2.2
apache-airflow-providers-cncf-kubernetes 2.1.0 -> 5 times in the last month

cluster 2 (test)
airflow-2.2.3
apache-airflow-providers-cncf-kubernetes 2.2.0 - not noticed so far

cluster 2 (dev)
airflow-2.2.3
apache-airflow-providers-cncf-kubernetes 2.2.0 -> one time in the last month

[2022-01-17 15:30] potiuk commented on #20906
The message is quite clear - and this is your deployment problem, not Airflow.

You have non-compliant POSIX  filesystem  mounted for your logs (likely Windows-related). Airflow is only supposed to work with POSIX compliant systems (See the note in https://airflow.apache.org/docs/apache-airflow/stable/installation/prerequisites.html) and if you mount a non-POSIX compliant volume to the docker cont

[2022-01-17 15:39] potiuk commented on #20901
This is expected. We cannot treat object stored in GCS as "string". It's always retrieved as Bytes. If you know what encoding is used you can easily decode it `ti.xcom_pull(task_ids="my_task", key="my_xcom_key").decode('utf-8') for example.

[2022-01-17 16:15] danneaves-ee commented on #20901
@potiuk please look at the code here; https://github.com/apache/airflow/blob/main/airflow/providers/google/cloud/transfers/gcs_to_local.py#L142

This is a bug.

You cannot cast `byte` to `str` in this way and successfully decode it after. The `str()` method must be supplied with an `encoding` param like this;

[code]

[2022-01-17 16:54] ITJamie commented on #20906
This is running 100% on linux though...

[2022-01-17 17:10] alexandrebunn commented on #10605
We are facing the same issue, but in our case the error is related the absent of an option to define resources to the sidecar container. Our kubernetes cluster has this resource enforcement active and them even trying to set the resouces by airflow_local_settings.py, pod_template_file, it sounds like the code is ignoring these options.

[2022-01-17 18:42] potiuk commented on #20906
That was my guess - ther are similar to issues (if you google them) that this happens on Windows filesystem.

You need to check if  all your volumes POSIX compliant. You should also take a close look how your logging is configured. Seems that the error **really** has nothing to do with Airflow - this is (possibly) BaseRotatingLogHandler which tries to do a filesystem operation on non-POSIX volume

[2022-01-17 18:54] ITJamie opened #20909 "gui feature request - Bump task priority_weight option"
### Description

Being able to "bump up" the priority_weight of a queued task would be useful from the gui.

### Use case/motivation

Sometimes a team may be waiting on a queued task. Being able to goto airflows gui, find the task instance and then "bump" the priority_weight to allow it to be run sooner would be useful.

currently we have a workaround for this which checks to see if a dag was manu

[2022-01-17 19:02] potiuk commented on #20901
Ah. I see - this actually converts the value of the bytes to nice "string" representation: https://docs.python.org/3/library/stdtypes.html#boolean-operations-and-or-not

[code]

So those are not "bytes" but string containing `b'` :scream:

Yeah. Agree it's a bug then. Would you like to fix it maybe? What do you think should be the fix @danneaves-ee  ?

[2022-01-17 21:59] alex-astronomer commented on #16764
I think in order to really tackle this one, there are two issues here that need to be addressed.

1. Just like the ticket mentions, we do expect that the TaskGroup can be a part of the dependency chain right?  So if someone were to build a dependency like the "broken" example from this ticket, then the tasks would still all be connected like they are supposed to be.  That would be my understanding

[2022-01-17 22:13] eladkal commented on #17686
@alex-astronomer are you still working on this issue?

[2022-01-17 22:20] eladkal commented on #19578
fixed in https://github.com/apache/airflow/pull/19735

[2022-01-17 22:20] #19578 closed

[2022-01-17 22:22] eladkal commented on #19511
@ShakaibKhan any findings you can share?

[2022-01-17 22:29] NadimYounes opened #20911 "Apt MySQL Client fails to install due to incorrect GPG Key"
### Apache Airflow version

2.0.2

### What happened

When attempting to rebuild an apache airflow image, we are getting failures during our builds when trying to run `apt-get update`.

The error we see:

[code]

### What you expected to happen

This behaviour shouldn't occur but it looks like some changes were published to the `mysql` apt repository this morning which is when we started experienc

[2022-01-17 22:34] nkyuray commented on #19313
Hi @eladkal,

If @cdabella will not take this, I would like to give a try.

[2022-01-17 22:36] cdabella commented on #19313
Bit of life got in the way and I have not implemented the fix. Please feel free @nkyuray

[2022-01-17 22:46] potiuk commented on #20911
Yep. OUR CI builds started to fail this morning too. Switching to the new mysql public key now.

[2022-01-17 22:50] alex-astronomer commented on #16764
Did some more research and it leads me to believe that if we consider the TaskGroup to be a "dependable" in the same way that we consider tasks able to depend on each other, that is: Taskgroups may depend on or be depended on Tasks and other TaskGroups, then we will be available to avoid many other problems that occur like this.

---

*Appendix A: Expected Graph and Tree View*

![7280204D-5796-474

[2022-01-17 22:56] NadimYounes commented on #20911
@potiuk Will this fix be applied to all Airflow `2*` or will it only go into the latest?

[2022-01-17 23:02] potiuk commented on #20911
I am **just** refreshing all the images down to 2.1.0. We have a "reproducible" Docker prod imge preparation system that allows us to do this.

[2022-01-17 23:36] alex-astronomer commented on #17686
Yes I am, should have more time this coming week to get in a PR.  Thanks for your patience.

[2022-01-18 01:41] potiuk commented on #20911
Most of the images 2.1.1+ are refreshed now (I will refresh even older images - down to 2.0.0). Can you please @NadimYounes verify that your image works after refresh (I see that you use 2.0.2 They should refresh  in ~ 2 hours or so).

[2022-01-18 01:49] NadimYounes commented on #20911
@potiuk Sure. I will check in a couple hours and let you know. Thanks

[2022-01-18 03:25] eduardchai commented on #18041
@ephraimbuddy it does reduce the number of errors by a lot! Thank you! There are some errors where the jobs are stuck in `queued` state, but I think it should be solvable by finding the right interval configuration for our use cases. Just out of curiosity, how did you know that the problem was with the interval from the logs? And btw, even though it is under `AIRFLOW__KUBERNETES`, this configurati

[2022-01-18 03:35] #20911 closed

[2022-01-18 03:40] NadimYounes commented on #20911
@potiuk confirming that this now works on `2.0.2`.

[2022-01-18 04:21] uranusjr commented on #16764
One way I can think of to get rid of all the complexity is to _prohibit_ the task group from being used before the context manager exits, i.e.

[code]

[code]

This essentially ensures the step 3 happens after step 2, and leaves only steps 3 and 4 to be interchangable. Does

[code]

produce an “expected” graph? If it does, all problems would be solved from what I can tell; if not, this is the only

[2022-01-18 04:50] amansehgal-ccx opened #20914 "Unable to access Airflow MWAA UI"
### Apache Airflow version

2.0.2

### What happened

On updating the requirements.txt with jdbc(apache-airflow-providers-jdbc) driver, I restarted the airflow service. The service took around 20 minutes to update and showed status as `Available`. On clicking `Open Airflow UI`, I received a message `Something bad has happened. Please consider letting us know by creating a bug report using GitHub.`

[2022-01-18 04:55] #20876 closed

[2022-01-18 07:22] mashirali opened #20915 "./breeze not working for me"
### Apache Airflow version

2.2.3 (latest released)

### What happened

i have run the ./breeze setup-autocomplete
then i ran source ~/.bash_completion.d/breeze-complete

then,
i ran       ./breeze --python 3.8 --backend mysql

the lines are from 270-277  in contributors quick start file

here is the error

![image](https://user-images.githubusercontent.com/57099739/149889117-43c1ce55-68e1-4fa2-a2

[2022-01-18 07:37] benbenbang commented on #9713
Hello @dstandish

Sorry for the late reply. In 1.10x, if I remember correctly, I found that changing the backend would also change how airflow got the meta store.
Please correct me if I'm wrong. In the codebase, I saw it went to vault directly to fetch the variable instead of looking for it from our Postgres. That’s why I draw the diagram above.

Btw, sorry about pending the issue. My request for

[2022-01-18 08:06] ephraimbuddy commented on #18041
If you are not on kubernetes then I'm not sure how it worked for you(_I think it shouldn't work_). What formed my opinion was that your pods were taking time to start and queued tasks were being moved to scheduled. So I don't know how it worked for your case. Maybe @jedcunningham can explain better. Maybe you should increase `AIRFLOW__KUBERNETES__WORKER_PODS_CREATION_BATCH_SIZE` also in kubernetes

[2022-01-18 09:03] mik-laj commented on #20914
It looks like problem related to MWAA. Please contact Amazon support.

[2022-01-18 09:03] #20914 closed

[2022-01-18 09:22] danneaves-ee commented on #20901
Thanks for reopening @potiuk :smile:

GCS provides a "Content-Encoding" meta key, however, it's optional so I guess not many people would use it.

Since XComs must be serializable, we have replaced the lines as follows in our work-around;
[code]

But it could be safer to use `sys.getdefaultencoding()` instead of `utf-8`. Or even expose the encoding as a parameter to the class?

What do you think @

[2022-01-18 09:32] potiuk commented on #20911
Thanks @NadimYounes ~ I will run some extra checks to see if the images are all good.

[2022-01-18 09:37] #19902 closed

[2022-01-18 10:07] potiuk commented on #20901
I think the problem is that we really want to store binary data as string. What I thing should be really good solution is to convert the bytes into string assuming that the bytes follow the encoding specified. And if the data is encoded using different encoding, it will fail.

I think adding optional "encoding" parameter which falls-back to`'utf-8` is a better idea. getdefaultencoding is something

[2022-01-18 10:09] potiuk commented on #20901
I assigned you to it :)

[2022-01-18 10:48] sunnyxcao79 commented on #20821
May I know how to raise a PR?

[2022-01-18 11:24] a-lukashenka commented on #20911
@potiuk Hello, 2.1.3 doesn't work

[2022-01-18 11:34] potiuk commented on #20911
Did you pull it @a-lukashenka? You need to make sure you run `docker build --pull` or pull the image before if you want to make sure the new version is used if the image has been pulled before.

[2022-01-18 11:38] potiuk commented on #20911
This docker file:

[code]

Works nicely for mie:

[code]

[2022-01-18 11:53] ashb commented on #16764
That would work, but there are also other problems that we get from not having TaskGroups actually exist in the DAG/dependency chain, so another option is to make tasks be able to depend directly on TaskGroups (I.e. rename downstream_task_ids to downstream_ids)

[2022-01-18 13:06] potiuk opened #20921 "Consider switching to pipx commands instead of 'Breeze2` bootstrap"
I wanted to discuss an important change proposal for our Breeze2 approach.

TL;DR; I thought a lot about how we shold run Breeze2. Instead of having a single `./breeze` command we could have multiple `airflow-*` commands that would be automatically installed by `pipx install -e ./dev/breeze` and that it should be the only way of running various commands of breeze (both in CI and during local devel

[2022-01-18 13:16] eladkal commented on #20821
We have guide for contributors:
https://github.com/apache/airflow/blob/main/CONTRIBUTORS_QUICK_START.rst

[2022-01-18 14:05] potiuk commented on #12282
Hey everyone. We are progressing with Breeze2 implementation with Edith and Bowrna and I think we are getting close to start thinking about switching for some users, however I just proposed (based on earlier discussions and proposals with @uranusjr ) a change in the approach of breeze command line that I wanted to get opinion of the current users.

You might lack some context, but I am happy to an

[2022-01-18 14:06] potiuk commented on #12282
Just react with hands up if you want to help and I will post here some more details on how you can join the effort in couple of days.

[2022-01-18 14:11] eladkal commented on #20897
@yiga2 would you like to work on it?

[2022-01-18 14:56] edithturn commented on #12282
✋

[2022-01-18 14:57] yiga2 commented on #20897
Honestly no because the shortcut (direct hyperlink) is not documented i.e. endpoint + params that are available. They may change at any point in time w/o notice - like here. If Google makes the feature public, I sure would. For now, it looks more like a hack.

[2022-01-18 15:08] josh-fell commented on #19891
Started looking at `airflow/contrib/sensors` but let me know if anyone else has done so already.

[2022-01-18 16:00] V0lantis opened #20925 "`_get_prev` in CronDataIntervalTimetable return python datetime instead of Pandulum datetime resulting in an error"
### Apache Airflow version

2.2.3 (latest released)

### What happened

[`_get_prev` ](https://github.com/apache/airflow/blob/2c761cc335ef09de40c0337e8bcb48ae449b51ab/airflow/timetables/interval.py#L193) in `CronDataIntervalTimetable` return python `datetime` instead of **Pandulum** `datetime` resulting in an error

### What you expected to happen

[`_get_prev` ](https://github.com/apache/airflow/

[2022-01-18 17:15] potiuk commented on #19891
* 108 errors left

[2022-01-18 17:22] potiuk commented on #19891
Looking at azure/example_dags and amazon/example_dags.

[2022-01-18 18:08] hubert-pietron commented on #16295
Thanks for response, of course i will provide explanation in PR why and when exception it's lost. I have theory about that, but right now i have issues with configuring debugger in Pycharm and i can't check it properly.

[2022-01-18 19:40] ttaubermarshall-stripe opened #20934 "Update web ui to allow for using strict content security policies"
### Description

CSP (Content Security Policy) is a layer of security that can be applied to web applications to mitigate certain types of attacks, see: https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP

Currently, it is difficult to apply a strict CSP to the Airflow web ui due to the use of certain html constructs that are considered unsafe, such as inline scripts and styles and style attribu

[2022-01-18 19:50] potiuk commented on #19891
Hey everyone here in https://github.com/apache/airflow/pull/20935 I removed `eks.pyi` file - the one we introduced to "fix" default_args. It causes many more problems than it fixes - especially when we add new classes it's super confusing.

Instead I simply added this on top of the affected examples:

[code]

[2022-01-18 19:50] potiuk commented on #19891
I will remove all other "fake" .pyi files in separate PR.

[2022-01-18 20:09] potiuk commented on #19891
Removing all fakes here: https://github.com/apache/airflow/pull/20936

Even if we loose some nice things (automated verification of "REALLY" missing arguements), this is far better than getting some errors when the .pyi files are not updated.

[2022-01-18 20:12] potiuk commented on #20934
The web UI of airlfow is being overwritten as we speak with some of the goals of removal the inline scripts etc. https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-38+Modern+Web+Application

[2022-01-18 20:12] #20934 closed

[2022-01-18 20:44] josh-fell commented on #19891
We have now come full circle with handling these pesky example DAGs.

[2022-01-18 20:44] ttaubermarshall-stripe commented on #20934
Thanks for the quick response! Sorry I wasn't aware of the ongoing work

[2022-01-18 20:58] potiuk commented on #19891
YEP

[2022-01-18 21:13] eladkal commented on #8649
I think the request as described here (bi-weekly job) is covered fully by AIP 39 already using Timetables
https://airflow.apache.org/docs/apache-airflow/stable/concepts/timetable.html

Closing as issue solved

[2022-01-18 21:13] #8649 closed

[2022-01-18 21:15] eladkal commented on #15192
If someone is experiencing similar issue with latest airflow version please comment and share reproduce steps

[2022-01-18 21:20] eladkal commented on #9490
Does it still happen on latest airflow version?

[2022-01-18 21:59] #20258 closed

[2022-01-18 22:03] nkyuray commented on #19313
Hi @cdabella,
Thanks.

Hi @eladkal I am going to work on this at the weekend.

[2022-01-18 23:07] kehao95 commented on #19329
We are experiencing the same issue at v2.1.4. task is showing `upstream_failed`

[2022-01-18 23:55] ReadytoRocc opened #20940 "Deferrable Tasks do not Respect Task Pools"
### Apache Airflow version

2.2.3 (latest released)

### What happened

When using a deferrable operator, the pool slot is released after the task goes into a state of deferred.

### What you expected to happen

I would expect the task to retain the pool slot for the entire execution across the worker and triggerer resources, and only release the pool once it reaches a terminal state.

### How to

[2022-01-19 05:54] atishkathpal commented on #20047
Even I am hitting this error however I have configured task retries which ensures that another try is attempted, which usually succeeds. I am not using ExternalTaskSensor though.

In my case I have ~80 DAGs running every minute, and ~13 tasks tend to hit this issue but end up successfully completing on 2nd attempt. I have sufficient workers and worker concurrency. I have sufficient schedulers as w

[2022-01-19 08:10] yyhecust opened #20942 "provide clear the task on the other DAG and its downstream tasks recursively without ExternalTaskMarker"
### Description

being able to  clear the task on the other DAG and its downstream tasks recursively without ExternalTaskMarker and don't modify dag files.

### Use case/motivation

In my application, we need to clear the task on the other DAG and its downstream tasks recursively, but when we design the Dag template, we didn't use ExternalTaskMarker and we didn't want to modify the Dag files that

[2022-01-19 08:46] yyhecust opened #20943 "when clear the task and its downstream tasks, some tasks don't want to be cleared"
### Description

When clearing the task and its downstream tasks, we can control whether certain tasks needs to be cleared

### Use case/motivation

In my application, when we clear the task and its downstream tasks, there are some tasks we don't want to clear it what will cause it to run again. We want to  have an external table that controls whether a task can be cleared. When a task is not allo

[2022-01-19 09:12] tcchong opened #20944 "Unable to complete backfilling job with k8s executor"
### Apache Airflow version

2.2.2

### What happened

I tried to run a backfilling job with k8s executor, it's created the pod and running the job well.
When the pod status mark as `Completed` in k8s, the status of task get stuck in `scheduled` state without any updates.

### What you expected to happen

I would expect the state will change once the k8s pod had complete the job.

This is the sched

[2022-01-19 10:50] theesen commented on #16290
I would like to contribute to this issue.
I'd suggest though that the airflow task attaches to the task no matter what the spark state is. The airflow task should also attach to the spark application in k8 if a previous airflow worker had launched the spark app and it is still running.

[2022-01-19 11:27] potiuk commented on #20940
I think this is an intended feature, not a bug.

It's the matter of assumption/definiton of whether the deferred task takes the pool slot or not. I think (but I would love to hear what others think) this is quite a reasonable assumption that deferred task does not take a slot.

Taking into account that the deferred task - by definition takes almost no resources and any external communication is as

[2022-01-19 11:39] #20901 closed

[2022-01-19 12:11] potiuk opened #20946 "Update build image to the latest `buildkit` change"
We have just merged the #20664 change that heavily simplified the way how our images are build and cached. We did not have any task implemented so far to cover those caching (I worked on this simplification in parallel)  so the changes should affect Breeze2 only very slightly.

The nice thing is that we have 700 (!) less lines of `bash` by just this change so the Breeze/CI Python rewrite project s

[2022-01-19 12:16] shidenko97 opened #20947 "Airflow doesn't start in container"
### Apache Airflow version

2.0.2

### What happened

Yesterday (18.01.2022) got an error regarding MySQL key repo while building Airflow image, as I can see [it](https://github.com/apache/airflow/issues/20911) was fixed and we got [updated docker image](https://hub.docker.com/r/apache/airflow/tags?page=1&name=2.0.2-python3.6). After it we got new one error - can't build docker image because of fo

[2022-01-19 12:16] burakovsky commented on #20186
I had a similar problem and the issue was with Airflow IAM permissions. According to the [official documentation](https://docs.aws.amazon.com/emr/latest/EMR-on-EKS-DevelopmentGuide/iam-execution-role.html), your Airflow user (or role) must have `emr-containers:StartJobRun` permissions to run EMR job in EKS. But for Airflow, it's also required to have `emr-containers:DescribeJobRun` (and optional `

[2022-01-19 12:23] potiuk commented on #20947
Yeah. The 2.0.2 image has been refreshed including the latest scripts, and I think that was a bit too much invasive update for 2.0 images. Give me some time and I will refresh it again with the originl version.

[2022-01-19 12:25] potiuk commented on #20947
~ 30 minutes ?

[2022-01-19 12:28] eldarnegrinperion commented on #20947
awesome

[2022-01-19 12:28] shidenko97 commented on #20947
great, we are waiting, thanks

[2022-01-19 12:44] #20877 closed

[2022-01-19 12:45] ashb commented on #20251
Had to revert merged PR as it was failing all jobs, so re-opening this.

[2022-01-19 12:51] potiuk commented on #20947
3.6 image should be there: please let me know it it works. I am updating other 2.0 images too.

![image](https://user-images.githubusercontent.com/595491/150134208-3786b78a-cdfd-4fb5-af95-fbd8cdc5300b.png)

[2022-01-19 12:52] shidenko97 commented on #20947
ok, we will let u know

[2022-01-19 14:24] r-matsuzaka opened #20954 "No module named 'airflow.www'"
### Describe the issue with documentation

Hi.
I am noob of Airflow.

I encountered the error mentioned as title.
It happened suddenly.

I checked the [stack overflow](https://stackoverflow.com/questions/53583633/how-to-resolve-error-no-module-named-airflow-www-while-starting-airflow-web/56309707) but it does not help...

Do you have any idea for fixing?
I have no idea what is wrong with me.

###

[2022-01-19 14:27] ShakaibKhan commented on #17487
Sorry I do not think I can take on this issue at this time. Unassigning to myself

[2022-01-19 14:28] ShakaibKhan commented on #19511
Sorry, I have not made anymore findings. I do not think I can take on this issue at this time. Unassigning myself.

[2022-01-19 14:59] shidenko97 commented on #20947
Yes, it works. thanks!

[2022-01-19 14:59] #20947 closed

[2022-01-19 15:00] Bruschkov opened #20956 "Scheduler crashes due to "MySQLdb IntegrityError: Duplicate entry" (Airflow 2.1.1)"
### Apache Airflow version

2.1.1

### What happened

Scheduler regularly crashes with error messages like this:

[code]

### What you expected to happen

We would expect these errors not to occur. According to https://github.com/apache/airflow/issues/9148 and https://github.com/apache/airflow/issues/13925 this issue should have been fixed a couple of versions ago.

### How to reproduce

_No respo

[2022-01-19 15:46] potiuk commented on #20947
Yep. I recreated and pushed all 2.0* images with as close configuration as possible for those! Thanks for raising the issue!

[2022-01-19 16:12] potiuk opened #20960 "Breeze: Enter Shell environment with Breeze"
Includes:
* port forwarding
* selecting different backends
* selecting different python version
* diagnostics information
* remember last used parameters

[2022-01-19 16:18] potiuk opened #20961 "CI: Rewrite waiting for CI images in Python"
There is a script that waits for CI images being available. What it does it tries to pull the images with specific COMMIT_HASH id and runs tests for those image after they are downloaded.

It runs in a loop and checks if the images are ready.

It uses common "libraries" to puill the images - it will also rebuild the images if needed, but it should be rewrittten to just do that one thing: pull the

[2022-01-19 16:18] #20873 closed

[2022-01-19 16:19] potiuk commented on #20946
cc: @edithturn

[2022-01-19 16:21] potiuk commented on #20947
Glad I could help !

[2022-01-19 16:23] micaelamaria commented on #20820
I keep having the same issue... -- I opened a question in stackoverflow https://stackoverflow.com/questions/70770788/airflow-oops-something-bad-has-happened

[2022-01-19 16:37] ReadytoRocc commented on #20940
@potiuk yes. Once the `trigger` is finished, the task will be marked as `SCHEDULED`. The task will then re-queue once a `pool` slot is available.

[2022-01-19 16:50] potiuk commented on #20940
So I'd say it's pretty expected behaviour. I wonder what others think.

[2022-01-19 17:08] edithturn commented on #20946
Got it @potiuk, do you want me to take this task? it will be great :)

[2022-01-19 17:10] potiuk commented on #20911
Yep. it wil be in all versions. But we corrected it only in Airflow 2 as 1.10 is end-of-life and you are on your own to apply correction (that's the consequence of being end-of-life).

[2022-01-19 17:11] potiuk commented on #20946
cc: @Bowrna

[2022-01-19 18:44] HaloKo4 commented on #20705
looking forward for this integration!

[2022-01-19 21:03] Juacall opened #20965 "the"
### Apache Airflow Provider(s)

trino

### Versions of Apache Airflow Providers

_No response_

### Apache Airflow version

2.2.3 (latest released)

### Operating System

macOS Monterey

### Deployment

Virtualenv installation

### Deployment details

Basic deployment with the providers trino and mysql. Not using fernet key.

### What happened

The Trino hook requires a username and password to us

[2022-01-19 21:10] yanxke opened #20966 "Exception when parsing log"
### Apache Airflow version

2.1.4

### What happened

[2022-01-19 13:42:46,107] {taskinstance.py:1463} ERROR - Task failed with exception
Traceback (most recent call last):
  File "/home/airflow/.local/lib/python3.9/site-packages/airflow/models/taskinstance.py", line 1165, in _run_raw_task
    self._prepare_and_execute_task_with_callbacks(context, task)
  File "/home/airflow/.local/lib/python3.9/s

[2022-01-19 22:05] wolfier commented on #20965
Please update the title to reflect the nature of your issue

[2022-01-19 22:10] #20533 closed

[2022-01-19 22:31] wolfier opened #20969 "`APP` configuration overrides Celery application name"
### Apache Airflow version

2.2.3 (latest released)

### What happened

Including an environment variable named `APP` with value other than the [default_app_name](https://airflow.apache.org/docs/apache-airflow/stable/configurations-ref.html#celery-app-name) causes the worker to terminate at start up.

[code]

### What you expected to happen

I would imagine Celery recognizing only `CELERY_` prefix

[2022-01-19 22:38] potiuk commented on #20969
Don't use `APP` variable use `AIRFLOW__CELERY__CELERY_APP_NAME` as specified in the documentation of Airflow.

[2022-01-19 22:38] #20969 closed

[2022-01-19 22:39] wolfier commented on #20969
They are using the `APP` variable for other purposes and not for Airflow nor Celery.

[2022-01-19 23:24] rustikk opened #20974 "Can't pass in **context kwarg to the PythonVirtualenvOperator's python_callable"
### Apache Airflow version

2.2.3 (latest released)

### What happened

Following the pythonvirtualenvoperator [guide](http://apache-airflow-docs.s3-website.eu-central-1.amazonaws.com/docs/apache-airflow/latest/howto/operator/python.html#howto-operator-pythonvirtualenvoperator) it states that to access context variables you need to pass `system_site_packages=True` to the operator. However, when tr

[2022-01-19 23:40] potiuk commented on #20969
There are probably plenty other variables that you can set and fail things. There are plenty other variables that should not be overridden - HOME, PATH, TZNAME to name a few.

It's a very bad practice to use "generic" variable names like that - the usual approach is tha tyou should prefix it with your - likely unique - application name `MY_OWN_APPLICATION_APP`. Unfortunately environment variables

[2022-01-20 02:24] microhuang commented on #20966
When the task outputs some strange characters, there will be errors when using UTF-8 decoding due to different encoding. The same problem also exists in (airflow/hooks/subprocess.py : line 88 : version 2.2.3). You should try to catch it. I will submit a PR later.

[2022-01-20 02:50] wolfier commented on #20969
Sounds good! Thank you for the feedback.

[2022-01-20 06:59] rsg17 commented on #18267
@eladkal - I would like to take a pass at this if no one else is working on it. Can you assign it to me?

[2022-01-20 07:23] rsg17 commented on #12246
I would like to take a pass at this if no one else is working on it. Can you assign it to me?

[2022-01-20 08:07] eladkal commented on #20965
Feel free to submit a PR

[2022-01-20 08:15] #20197 closed

[2022-01-20 09:35] theboy412 commented on #20534
I'm seeing this issue too:
![image](https://user-images.githubusercontent.com/53928265/150312333-9fb68a4a-0833-49ac-9b28-0a36db9b9e03.png)

[2022-01-20 09:51] V0lantis commented on #20925
I think this has been fixed by #20795

[2022-01-20 09:51] #20925 closed

[2022-01-20 12:00] nclaeys opened #20982 "Triggered tasks from web-ui are killed by scheduler because they are orphaned task instances"
### Apache Airflow version

2.2.2

### What happened

I have a dag which is scheduled every day and has depends_on_past set to true.
When a task fails for a given date, which is expected as the required data is not there. If I want to manually run the next task (for the following day) the run always fails.

The reason for this is that airflow creates next task instances for the following days and

[2022-01-20 13:09] yashshrivastav22 opened #20984 "Failing to enable AIRFLOW__LOGGING__REMOTE_LOGGING"
### Apache Airflow version

2.1.2

### What happened

I have deployed airflow application on kubernetes using simple yamls definition and I am trying to integrate my airflow application with elasticsearch for logging. I have tried to enable the one or more variables in airflow but my airflow webserver is going in crashloopbackoff state while enabling the "remote_logging" variable. This is the only

[2022-01-20 15:33] collinmcnulty opened #20991 "Elasticsearch remote log will not fetch task logs from manual dagruns before 2.2 upgrade"
### Apache Airflow Provider(s)

elasticsearch

### Versions of Apache Airflow Providers

[code]

### Apache Airflow version

2.2.2

### Operating System

Debian Bullseye

### Deployment

Astronomer

### Deployment details

_No response_

### What happened

After upgrading to 2.2, task logs from manual dagruns performed before the upgrade could no longer be retrieved, even though they can still be

[2022-01-20 15:33] collinmcnulty commented on #20991
All credit to @wolfier for finding this bug.

[2022-01-20 15:52] vinit-tribes commented on #16227
Hey @ephraimbuddy we are facing this issue with airflow version 2.2.3 for every single DAG.

Error screenshot as below

<img width="1920" alt="Screenshot 2022-01-20 at 9 22 35 PM" src="https://user-images.githubusercontent.com/51072190/150373680-d790d6ad-7525-4bfc-a860-4f195cec9b18.png">

[2022-01-20 16:04] ghost opened #20992 "Recorded pid<> does not match the current pid <>"
### Apache Airflow version

2.2.3 (latest released)

### What happened

After upgrading to airflow 2.2.3 for every task we are getting, celery executor is being used in our case

Recorded pid 3944469 does not match the current pid 3944473

### What you expected to happen

_No response_

### How to reproduce

_No response_

### Operating System

ubuntu 20.04.1 LTS

### Versions of Apache Airflow Pr

[2022-01-20 16:18] vinit-tribes commented on #20992
Screenshot for the error traceback

Entire error traceback

`*** Reading remote log from gs://dev_etl_airflow_logs/Test_indexes_and_constraints/wait_for_a_minute/2022-01-20T15:56:40.994067+00:00/2.log.
*** Previous log discarded: 404 GET https://storage.googleapis.com/download/storage/v1/b/dev_etl_airflow_logs/o/Test_indexes_and_constraints%2Fwait_for_a_minute%2F2022-01-20T15%3A56%3A40.994067%2B00

[2022-01-20 16:31] vinit-tribes commented on #20992
Yes @PApostol reviewed that but the solution presented there isn't working for us

The issue there was for older version of airflow but for us it's happening in airflow 2.2.3 which is the latest released version.

[2022-01-20 17:21] momoadc opened #20993 "DagFileProcessor 'NoneType' is not iterable"
### Apache Airflow version

2.2.2

### What happened

I'm seeing the same log repeating in the Scheduler.
I'm working in a restricted network so I cannot bring the entire log:
[code]
I saw that a single DAG didn't have any labels and i tried to add a label but the log is still showing

### What you expected to happen

_No response_

### How to reproduce

_No response_

### Operating System

Debian

[2022-01-20 17:25] vinit-tribes commented on #20992
This is a serious issue I think and so far not found anyone talking confidently about even any workarounds.

[2022-01-20 17:47] #20251 closed

[2022-01-20 17:59] itayB commented on #12484
I found the problem. I have a separate pod for airflow-scheduler and airflow-webserver.

I added the `AIRFLOW__ELASTICSEARCH__JSON_FORMAT=True` only to the airflow-scheduler + the workers but not to the airflow-webserver.

I dig into the source code and I found that the webserver [checks][1] for the `AIRFLOW__ELASTICSEARCH__JSON_FORMAT` as well in order to [transform][2] the `log_id` in order to c

[2022-01-20 18:06] yanxke commented on #20966
Thank you for your quick response.  You mean catch the exception in the DAG definition code?  We deployed Airflow using Helm and do not have direct access to the code.

[2022-01-20 18:31] DarthUdp opened #20996 "Celery worker having issues with a seemingly code error"
### Apache Airflow version

2.2.3 (latest released)

### What happened

When we try to run dags we get the error described bellow, I'm at a loss for further diagnosis of this issue and thus decided to open this issue, I'm happy to provide any extra details or even help with a fix.

Regards

### What you expected to happen

When we try to run any dag with the celery executor we get the following er

[2022-01-20 19:13] thsubramani commented on #17127
@potiuk any suggesstions would be really appreciated . Thanks

[2022-01-20 19:13] ephraimbuddy commented on #16227
@vinit-tribes You should have pasted the whole logs.
Yours seem related to a different issue. "Recorded pid does not match current pid".
If you are using `run_as_user` in your dag, you need to set it up properly following [documentation](https://airflow.apache.org/docs/apache-airflow/stable/security/workload.html#impersonation).

[2022-01-20 19:15] collinmcnulty commented on #20991
Seems like the problem in the code is that [this section](https://github.com/apache/airflow/blob/main/airflow/providers/elasticsearch/log/es_task_handler.py#L109-L114) requires resolving the `data_interval_start` and `data_interval_end` even if the format you specify does not use them, and they don't exist on manual dagruns from before 2.2

[2022-01-20 19:18] amin-rashidi-sp commented on #19135
Thanks for doing this @subkanthi, any update on the progress?

[2022-01-20 19:27] sydykov commented on #20092
Hi! Is someone working on this?

[2022-01-20 19:32] uranusjr commented on #20991
It should use `dag.get_run_data_interval(dag_run)` instead. How to get the correct DAG object, however, is the problem; `dag_run.get_dag()` *might* work, but if it doesn’t, we need to do something else, perhaps `ti.task.dag` or something else.

[2022-01-20 19:44] aprettyloner commented on #19329
Hi @jedcunningham @eladkal has this bug been fixed in 2.2.1+

[2022-01-20 19:51] Juacall commented on #20965
How do i test changes?

[2022-01-20 20:57] Udbv opened #20999 "ArgoCD deployment: build in redis is not restarted on password change"
### Official Helm Chart version

1.4.0 (latest released)

### Apache Airflow version

2.2.3 (latest released)

### Kubernetes Version

1.21.x,1.18.x

### Helm Chart configuration

KubernetesCeleryExecutor used

### Docker Image customisations

_No response_

### What happened

On each argocd airflow app update ```{{ .Release.Name }}-redis-password``` and ```{{ .Release.Name }}-broker-url``` is reg

[2022-01-20 22:23] aprettyloner commented on #19329
cc @ephraimbuddy

[2022-01-20 23:42] eliot1785 commented on #19058
I found this when reading the changelogs. I just wanted to make a comment on ds/ts/etc... personally I use these variables for things like determining the output names of files, like 'myoutput_[ds]_[ts]' (similar to how Airflow determines the log file names, I guess). I'm probably not alone in that respect.

So I'm glad that the change was reverted, because otherwise when I had a manual run it sou

[2022-01-21 00:09] nisanbanu opened #21002 "Nisan Banu"
### Body

Nisan Banu Vardar

### Committer

- [X] I acknowledge that I am a maintainer/committer of the Apache Airflow project.

[2022-01-21 04:31] microhuang commented on #20966
Yes. First of all, this error is due to the inconsistent coding content output by the task itself. Correcting the task code can avoid this error. Secondly, using try-catch or specifying the errors parameter during decoding can avoid this error in airflow. You can modify the code here through data volume mapping, customize your own image, and wait for the next version of airflow (if you're not in a

[2022-01-21 06:46] uranusjr opened #21004 "Switch from 'cloudant' to 'ibmcloudant'"
### Apache Airflow Provider(s)

cloudant

### Apache Airflow version

main (development)

### What happened

The IBM Cloudant API client we’re currently using, [cloudant](https://pypi.org/project/cloudant/) (aka python-cloudant), reached EOL last December. The authors recommend switching to [ibmcloudant](https://pypi.org/project/ibmcloudant/). The switch itself doesn’t seem too complicated (discla

[2022-01-21 06:56] Greetlist opened #21005 "Triggerer Process Do Not create new trigger instance to run"
### Apache Airflow version

2.2.1

### What happened

When a Deferrable Task which is cleared or generated. This Trigger's TriggererId is NULL,and never change, which cause this trigger is never init and run by triggerer process.

### What you expected to happen

When a Deferrable Task is generated, It will init and run correctly.

### How to reproduce

Clear a Deferrable Task.
I add some log to s

[2022-01-21 06:57] uranusjr commented on #20991
Also whoever works on this should also fix the rendering function in `FileTaskHandler` to add those same data-interval-related context variables.

[2022-01-21 07:09] vinit-tribes commented on #16227
Thanks @ephraimbuddy for the response, now no we aren't using `run_as_user` and we already tested with what's suggested in above documentation.

Pasting full error log below

[code]

[2022-01-21 07:11] vinit-tribes commented on #16227
Also @ephraimbuddy have created a new bug as well at https://github.com/apache/airflow/issues/20992

[2022-01-21 07:47] bkm71A opened #21007 "Run task - crashed"
### Apache Airflow version

2.0.1

### What happened

Ooops!
Something bad has happened.
Please consider letting us know by creating a bug report using GitHub.

Python version: 3.6.15
Airflow version: 2.0.1
Node: release-airflow-supply-brain-ml-web-544f984d7-5czv5
-------------------------------------------------------------------------------
Traceback (most recent call last):
  File "/usr/local/l

[2022-01-21 09:04] hrishik opened #21008 "AWS Systems Manager Parameter store support for Airflow AWS Provider package"
### Description

Airflow DAGs when used in AWS context, the parameter sharing across different subsystems becomes tedious job. There is a need to create a central parameter handling repository that can be accessed by any service provider (Such as AWS Service) outside of Airflow DAG.

### Use case/motivation

One important part of DAG based orchestration is sharing of metadata and configuration acr

[2022-01-21 09:13] hrishik opened #21009 "Building AWS Lambda operator support for Airflow AWS Provider package"
### Description

AWS Lambda offers serverless event driven mechanism across different AWS and other services in enterprise landscape. This feature is to bring in the event handling capabilities support in Airflow by building AWS Lambda operator, that will enable invocation of Lambda functions seamlessly.

### Use case/motivation

AWS Lambda is the key drivent for event based architecture for custo

[2022-01-21 09:20] #21002 closed

[2022-01-21 09:43] potiuk commented on #19891
Last two "biggish" https://github.com/apache/airflow/pull/21010 and https://github.com/apache/airflow/pull/20935 and we should be REALLY REALLY close.

[2022-01-21 09:54] potiuk commented on #21008
The SystemsManagerParameterStoreBackend is already available in Airflow as custom Secrets manager:

https://airflow.apache.org/docs/apache-airflow-providers-amazon/stable/_api/airflow/providers/amazon/aws/secrets/systems_manager/index.html#airflow.providers.amazon.aws.secrets.systems_manager.SystemsManagerParameterStoreBackend

[2022-01-21 09:54] #21008 closed

[2022-01-21 10:53] hrishik commented on #21008
The existing operator only provides a read for specific actions i.e. connection URI, Config, and custom variable pertaining to airflow information. I am talking about using SSM parameter store as metadata storage to share configuration/metadata across different subsystems, as well as airflow

[2022-01-21 11:13] potiuk commented on #21008
I don't thik Airlflow will never have "AWS" or "Google" or any other "specific" configuration built in in other way that current "customization options".  Airflow is "Cloud Agnostic".

It provides features to "talk" to external systems (via Providers: Hoops, Operators, Sensors) and airflow configuration capabilities can be extended precisely via Custom Secrets Backend.

If you also want to use Sys

[2022-01-21 11:49] SamJia opened #21013 "logging in Operator not work"
### Apache Airflow version

2.2.3 (latest released)

### What happened

Operator logging not work.
For example, for a task with logging:
![image](https://user-images.githubusercontent.com/12780802/150499992-d939cdfc-0e3f-471e-b3ad-7232b8f313d9.png)
the log in webserver is:
![image](https://user-images.githubusercontent.com/12780802/150500091-e357c1b8-8cab-424f-aed1-21c957c6d6ed.png)
no any log inf

[2022-01-21 12:05] boredland commented on #20484
so isn't this done now via https://github.com/dpgaspar/Flask-AppBuilder/pull/1786 ?

[2022-01-21 12:26] potiuk commented on #20484
It's in https://pypi.org/project/Flask-AppBuilder/3.4.4rc1/ - so as soon as it's released we will be able to switch to it.

[2022-01-21 13:13] potiuk commented on #21013
You are using logging module improperly. By `logging,info` (and similar) you are logging stuff to "root" logger:

https://docs.python.org/3/library/logging.html#logging.info

Logs a message with level INFO on the root logger. The arguments are interpreted as for debug().

Instead you should log message to "airflow.task" logger if you want messages to show up in task log:

[code]

[2022-01-21 13:13] #21013 closed

[2022-01-21 13:44] #20534 closed

[2022-01-21 13:59] potiuk commented on #19891
There are 12 (!) errors  left :). Can I ?

[2022-01-21 14:03] yuqian90 opened #21017 "Opening "Task Instance Details" page in web UI unintentionally resets TaskInstance.max_tries"
### Apache Airflow version

2.2.3 (latest released)

### What happened

`TaskInstance.max_tries` is a cumulative value that's stored in the database. Whenever a failed `TaskInstance` is cleared, its `max_tries` is incremented by `task.retries - 1`. However, the increased `max_tries` value of a `TaskInstance` is reset to the original value (`task.retries`) whenever a user opens the `Task Instance D

[2022-01-21 14:36] josh-fell commented on #19891
OH YEAH! Fitting you get the last one IMO since you have been driving this whole effort. Although #20930 should handle `airflow/contrib/sensors/` 🙂

[2022-01-21 15:42] SamJia commented on #21013
Actually I have tried to use logger `airflow.task`, but also failed

[2022-01-21 15:43] SamJia commented on #21013
![image](https://user-images.githubusercontent.com/12780802/150556056-90dfae46-1352-434a-a455-8668289d58c9.png)
![image](https://user-images.githubusercontent.com/12780802/150556096-640b9487-50c4-4691-82fd-0d18606d9ca3.png)

[2022-01-21 15:47] boredland commented on #20484
perhaps I am misunderstanding something, but to me it looks like somewhere (didn't find where) there seems to be a hardcoded prefix 'postgres://' for connections. that surely will break after the 1.4. upgrade and would have to be 'postgresql://':
![image](https://user-images.githubusercontent.com/4662748/150556813-27a36ba7-7baf-408d-97cb-575a14d2d1e5.png)

[2022-01-21 15:51] zzzeek commented on #20484
hi just an FYI, the SQLAlchemy mypy plugin is not going anywhere but in the 2.0 series of SQLAlchemy we hope to have a completely plugin-less approach to typing in place and the mypy plugin itself should become legacy.  bugs within the mypy plugin that don't have an easy fix we will likely just "wontfix".   so support the plugin sure but don't get too reliant on it.

[2022-01-21 16:07] potiuk commented on #20484
Not really this is "Airflow" connection to connect to Postgres via "postgres provider" - it's not even an SQLAlchemy connection - we are using DBApi and Postgres Provider exposes plain old "SQL" interface to Postgres Provider (It would be next to impossible to have generic SQLAlchemy ORM interface).

[2022-01-21 16:19] potiuk commented on #21013
Cannot reproduce it with "standard" airflow configuration. You must have some custom logging configuration in local settings that causes it:

[code]

Resulting log:
[code]

[2022-01-21 16:47] howardyoo opened #21023 "Running airflow dags test <dag_id> <execution_dt> results in error when run twice."
### Apache Airflow version

main (development)

### What happened

# Product and Version
Airflow Version: v2.3.0.dev0 (Git Version: .release:2.3.0.dev0+7a9ab1d7170567b1d53938b2f7345dae2026c6ea) to test and learn its functionalities. I am currently installed this using git clone and building the airflow on my MacOS environment, using python3.9.

# Problem Statement
When I was doing a test on my DAG

[2022-01-21 18:00] ferruzzi commented on #18874
Looks like this is maybe abandoned?   I can pick it up if @asaf400 isn't able to finish it.

[2022-01-21 19:02] steveipkis commented on #13625
I'm also facing the exact same issue: Airflow 2.1.4

<img width="1138" alt="Screen Shot 2022-01-21 at 12 38 51 PM" src="https://user-images.githubusercontent.com/14340902/150584927-c5873818-de35-43ba-8e15-b89aefcffbb8.png">

Any luck on resolving this?

[2022-01-21 19:51] eladkal commented on #18874
@ferruzzi assigned to you

[2022-01-21 19:52] eladkal commented on #21009
@hrishik feel free to open PR. assigned the issue to you

[2022-01-21 20:24] mtraynham opened #21026 "Celery Worker docker healthcheck causes a memory leak"
### Apache Airflow version

2.2.3 (latest released)

### What happened

With a docker setup [as defined by this compose file](https://github.com/apache/airflow/blob/958860fcd7c9ecdf60b7ebeef4397b348835c8db/docs/apache-airflow/start/docker-compose.yaml), the `airflow-worker` service `healthcheck.test` command causes a general increase in memory use overtime, even when idle.  This was observed with

[2022-01-21 21:46] potiuk commented on #21026
We will release 2.2.4 (and 2.3.0) with Celery 5.2.3 which should solve the problem. See #19703 for details

[2022-01-21 21:47] #21026 closed

[2022-01-21 21:47] potiuk commented on #21026
Closed as duplicate of #19703