[2020-10-12 22:06] mik-laj commented on #11077
@flvndh Do you need help? For now, we have to maintain the documentation manually, but it would be great if it could be done automatically. Especially that recently we have a lot of new valuable contributions to Helm Chart, and without documentation users will not benefit from it.

[2020-10-12 22:48] hiyangbo opened #11482 "Support service account in airflow/providers/google/cloud/operators/mlengine.py"
Training with a custom service account needs a new field named service account
trainingInput:
  serviceAccount: CUSTOM_SERVICE_ACCOUNT

https://cloud.google.com/ai-platform/training/docs/custom-service-account

[2020-10-12 23:42] mik-laj commented on #11482
@hiyangbo  Can I assign you to this issue? I am happy to help with the review.

[2020-10-12 23:44] mik-laj commented on #11479
This looks like a real problem. Should I assign you to this issue? Do you want to deal with it?

[2020-10-12 23:46] marcusianlevine commented on #11479
I can take a stab - I think we just need to backport some of the type handling from `airflow/utils/log/file_task_handler.py` on `master` to the 1.10 branch

[2020-10-12 23:47] hiyangbo commented on #11482
Sounds good.

[2020-10-12 23:54] mik-laj commented on #11479
@marcusianlevine  What do you think to vendor the `file_task_handler` module to `elasticsearch` package? See: https://github.com/apache/airflow/blob/master/provider_packages/refactor_provider_packages.py#L427-L436
This will allow us to fix the problem without having to make any changes to Airflow core.

[2020-10-13 04:51] rynmccrmck commented on #11388
Hi! I'd like to try this as a first issue if no one else has jumped on it.

[2020-10-13 07:47] davido912 commented on #11149
@kaxil
backend = airflow.providers.amazon.aws.secrets.secrets_manager.SecretsManagerBackend
package apache-airflow-backport-providers-amazon==2020.6.24 installed.

when ingesting the parameter with _secret in config, it doesn't seem to pick up that it is a secret

[2020-10-13 08:20] michalslowikowski00 commented on #11298
@dimberman no worries.. ;)
If that code fixes the issue then everybody wins.

[2020-10-13 08:22] Alibm73 commented on #11354
@kaxil @tooptoop4
So my solution was setting ```load_examples = False``` in the ```airflow.cfg```. Now the webserver started without any error.
![Capture](https://user-images.githubusercontent.com/39646882/95834840-55040580-0d4a-11eb-9906-a61fdca74ee0.PNG)
I don't know this helps or not but figured posting it doesn't hurt #8728

[2020-10-13 08:37] potiuk opened #11489 "Make sure that local installation works with installing airflow + all providers."
We have to double-check that providers work and can be tested locally when installing airflow in a local virtualenv.

After we've changed to separate providers and core package, pip install . will not install those packages, but with local -e it will likely work as providers packages are in the same folder.

We still need to check how local virtualenv work when we install without -e though.

Most

[2020-10-13 08:37] potiuk opened #11490 "Make sure Docker works with installing core + providers."
Currenlty when Docker is built, we are installing airflow using "pip install" from local sources. Since we split to separate providers, this process needs to be updated to also install relevant providers when certain extras are installed via PyPI and that it all work locally (there are the the separate, linked issues about it #11489 #11464 that should be implemented to cover this.

[2020-10-13 08:56] JeffryMAC commented on #11476
I have no strong feeling here I just say that in my opinion it's better to address this by PR in vertica-python for a way to execute the code and if exception raised then actually raise it. When this functionality added to the lib it will be easier to expose it in the operator.

You can always submit pull request to airflow and see if it will be accepted.

[2020-10-13 10:32] Kaash opened #11493 "MSSQL backend broken when DAG serialization enabled"
Version is 1.10.12

Back-end is MSSQL 12

The following SQL query is broken:

result = session.query(cls.rendered_fields).filter(
            cls.dag_id == ti.dag_id,
            cls.task_id == ti.task_id,
            cls.execution_date == ti.execution_date
        ).one_or_none()

This query fails as the rendered_task_instance_fields table in the database stores execution date as TIMESTAMP but ot

[2020-10-13 10:58] #8132 closed

[2020-10-13 11:05] twindebank opened #11494 "DAG File Processor Slowdown in v1.10.12"
**Apache Airflow version**: 1.10.12
**Environment**: Mac / Docker (official image) for Mac / Docker (official image) deployed to GCE

## What happened

**There appears to be a 2-4x slowdown in DAG file processing times when comparing v1.10.11 to v1.10.12.**

We first noticed the issue when we upgraded our production deployment. We found that some DAGs were failing to schedule, and on inspecting th

[2020-10-13 11:39] potiuk opened #11495 "[QUARANTINE] The test_backfill_job.py causes resource (probably memory) exhaustion"
**Apache Airflow version**:
master

We often have "Exit 137" which is likely memory exhaustion cause by the test_backfill_job.py. It's been investigated by GitHub support (we've enabled debugging and waiting to reoccur). See #11294

Example here:

https://github.com/apache/airflow/runs/1245441164?check_suite_focus=true#step:6:301

Most likely it is caused by backfill job trying to backfill too muc

[2020-10-13 12:02] potiuk opened #11496 "Concurrency limit for CI jobs"
Yesterday's problem with CI builds has been confirmed as hitting concurrency limit by GitHub support.

According to this page [Limits](https://docs.github.com/en/free-pro-team@latest/actions/reference/usage-limits-billing-and-administration#usage-limits) we have 180 concurrent job limits at the Apache Enterprise-level account. Seems that we are competing with other projects (similarly as it was in

[2020-10-13 12:03] potiuk commented on #11496
cc: @kaxil @ashb @dimberman @mik-laj @turbaszek  (and others).

[2020-10-13 12:06] potiuk commented on #11496
@aijamalnk Re: self-hosted runners -> Would it be possible to come back about the discussion on Google Donating some credits to us ? The previous ones expired, and we did not use them to the full extent as we were not ready, but right now with the current GitHub Actions full support for running self-hosted runners in Google Cloud https://github.blog/2020-08-04-github-actions-self-hosted-runners-on

[2020-10-13 12:08] flvndh commented on #11077
Sorry @mik-laj I was quite busy these days but would be able to come with something soon.

[2020-10-13 12:43] ashb opened #11498 "Perform "mini scheduling run" after task has finished"
In order to further reduce intra-dag task scheduling lag we can add a further optimization: when a task has just finshed executing (success or failure) we can look at the downstream tasks of the task that just finished, and then make scheduling decisions for those tasks there -- we've already got the dag loaded, and we know they are _likely_ actionable as we just finished. We should set tasks to s

[2020-10-13 12:53] potiuk commented on #11498
Good idea!

[2020-10-13 12:59] potiuk commented on #11496
Seems also that splitting to smaller jobs has this side effect that it makes competing with other projects much harder. If there are many projects that are holding the slot for a long time, we can get  starved rather heavily ( I think this is what is happening now). I am thinking about combining the jobs back, but in a smart way.

Instead of having full set of tests as matrix strategy to run them

[2020-10-13 13:05] ashb commented on #11498
We've already tested a hacky version of this, and it' makes a difference. (This was one of the two remaining items from https://github.com/apache/airflow/issues/9630)

[2020-10-13 13:40] kaxil opened #11500 "Selecting DAG ID also selects the scheduler interval"
Selecting DAG ID also selects the scheduler interval, check the GIF below

![Oct-13-2020 14-39-00](https://user-images.githubusercontent.com/8811558/95868188-e29f1f80-0d61-11eb-8613-5ca6ede76d2e.gif)

[2020-10-13 14:28] kaxil commented on #11496
Yes please, +1

[2020-10-13 15:05] superina5 commented on #9299
experienced the same isseu, upvote +1

[2020-10-13 15:05] #11500 closed

[2020-10-13 15:11] #10815 closed

[2020-10-13 15:19] ryanahamilton opened #11506 "REST API: DAGs schema does not allow "None" for schedule_interval"
**Apache Airflow version**: v2.0.0.dev0 (latest master)

**What happened**:

Running Breeze on my local machine with sample DAGs.

**Request made with Insomnia desktop client** (same result using a web application client):

**500 error response:**

[code]

**What you expected to happen**:

I expected to not receive error response and instead receive an array of DAG objects.

E.G.

[code]

**Anythi

[2020-10-13 15:33] #11421 closed

[2020-10-13 15:47] pbouda commented on #10798
I see this was added, so closing the issue. Thanks!

[2020-10-13 15:47] #10798 closed

[2020-10-13 16:52] marcusianlevine commented on #11479
Sure, I think that will work, I'll open a PR later today

[2020-10-13 16:57] grayver commented on #11331
It seems to be I figured out what the problem is. We have Airflow scheduler installed as a daemon service on Ubuntu machine. Service command is following:
[code]
SCHEDULER_RUNS is set to 5 in environment variables. So, scheduler starts, makes 5 loops of scanning DAG files and then stops. Linux daemon restart policy automatically restart it again. However, if long-running task is still running afte

[2020-10-13 18:01] DBCerigo commented on #11482
@hiyangbo I'd be happy to give this a shot, if you and co (@mik-laj) would be happy for me to? As long as it is not urgent and all are happy to review etc. :)

I just implemented it locally for a project and all working fine.

[2020-10-13 18:03] Kaash commented on #11493
Have submitted this PR to resolve this issue: https://github.com/apache/airflow/pull/11512

[2020-10-13 18:11] mik-laj commented on #11482
@DBCerigo I assigned you to this ticket. I am happy to help with the review.  I also see no reason here to give this application a time restriction. In the community, we prefer to use [logical](https://en.wikipedia.org/wiki/Logical_clock) rather than real clock

[2020-10-13 18:48] mik-laj commented on #8107
@ashb Yes. It is complete. Other tasks are optional improvements but are not necessary to complete this project.

[2020-10-13 18:48] #8107 closed

[2020-10-13 18:56] grepthat opened #11513 "WebUI: Action on selection in task instance list yields an error"
**Apache Airflow version**: v2.0.0.dev0 (latest master)

**Environment**:
- **OS**: Ubuntu 18.04.4 LTS
- **Others**: Python 3.6.9

**What happened**:

Selecting a task in the the **task instance list** (*http:localhost:8080/taskinstance/list/*) and **performing an Action** on it (e.g. *Set state to 'failed'*) yields an error.

Error message:

[code]

**How to reproduce it**:

I wanted to take an A

[2020-10-13 19:22] ryanahamilton commented on #11175
@Yashs911 are you still looking to work on this? If not, I'll pick it up.

[2020-10-13 19:29] AlexandreYang opened #11514 "Missing Task Instance StatsD metrics for KubernetesExecutor"
**Description**

Some StatsD metrics like sent from `taskinstance.py`:

- [airflow.ti_failures](https://github.com/apache/airflow/blob/21066c2e6fecc52d5374209c2c4b64e3373a3e97/airflow/models/taskinstance.py#L1155)
- [airflow.ti_successes](https://github.com/apache/airflow/blob/21066c2e6fecc52d5374209c2c4b64e3373a3e97/airflow/models/taskinstance.py#L1002)
- [airflow.operator_failures_*](https://git

[2020-10-13 21:18] shenoykarthikd commented on #11266
Good point, @teastburn! I have typically changed the max_threads value for my Airflow clusters so that CPU utilization doesn't increase beyond 80% over a reasonable time period. Rarely ever checked the RAM as memory usage is typically pretty low on the master node. It may make sense to change the FAQ as below unless someone feels memory should also be a consideration.

max_threads: Scheduler will

[2020-10-13 21:45] matheusbsilva commented on #8209
I would like to help on this issue, but I have some questions first.
- Can you send me an example of a guide? The link you provided is [broken](https://airflow.readthedocs.io/en/latest/howto/operator/index.htm)
- Which GCP guides are missing? I see you linked related issues and some of them are solved I would link to know which operators don't have a guide yet.

[2020-10-13 22:06] mik-laj commented on #8209
Correct link:
https://airflow.readthedocs.io/en/latest/howto/operator/index.html
Here is a full list of Google services, along with information on whether operators and a tutorial are available.
https://airflow.readthedocs.io/en/latest/operators-and-hooks-ref.html#google

[2020-10-14 00:11] kaxil commented on #11513
Any ideas here @ashb @mik-laj @ryanahamilton ? I was able to reproduce this

[2020-10-14 06:16] RosterIn opened #11521 "Allow to reset user password from Users panel."
**Description**

Currently any user can change his password when navigating to Profile -> Reset my password
However Admins have no option to reset password for users as this option doesn't exist in Security -> List users -> Edit users

The requested feature is:
Add new type of permission "Change other users password".
Grant this permission by default to Admins
Add option in the UI to reset other u

[2020-10-14 06:59] RaviTezu commented on #11043
@mik-laj @turbaszek Just want to confirm what needs to be done:

- Add a new rule under `airflow/upgrade/rules` with the name something like `mesos_executor_removed.py`
- Include a class which inherits from `BaseRule` and have `title` and `descripption` and override the `check` method.
- Inside the `check` method look for `mesos` conf and if present then return a string saying - `Mesos has been de

[2020-10-14 07:36] cchepelov commented on #11003
Good catch @mik-laj, it seems quite similar indeed

@abhilash1in , can you test whether #10617 solves the issue for you?

[2020-10-14 07:50] Luttik commented on #10523
Any news on this issue?

[2020-10-14 09:11] madhukar05 opened #11524 "BigQueryToGCSOperator issue"
**Apache Airflow version**:

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

**What you expected to happen**:
Using Google composer and trying to save data to GCS location from

[2020-10-14 09:38] pat-s commented on #11436
@mik-laj Keycloak via openid-connect would also be my favorite. Is there something you can share with respect to Keycloak?

[2020-10-14 10:32] TobKed commented on #11524
@madhukar05 which version of Composer to you use?
Do you use google backport packages?
Also some example of usage `BigQueryToGCSOperator` (anonymised) would be very helpful to reproduce it.

[2020-10-14 10:45] potiuk commented on #11425
Once agreed the process here we will implement it in  #11427

[2020-10-14 10:49] mik-laj commented on #11436
@pat-s  I described in the ticket the tasks that we have to do. I have a partial implementation, but it will be a while before I can publish it.  If you want to do it quickly, you need to implement some code yourself based on the ticket.

[2020-10-14 10:58] mik-laj commented on #11521
We use [Flask AppBuilder](https://github.com/dpgaspar/Flask-AppBuilder) for user management and I think that is a missing feature in this framework.  Can you create a ticket in this project? FAB experts will solve this problem faster than if we try to handle it on our side.

BTW. To get around the FAB limitations, I started using Keycloak: https://github.com/apache/airflow/issues/11305

[2020-10-14 11:12] ashb commented on #11490
(If you're working on this then it's not important, but I'm not sure what this issue actually is from reading this)

[2020-10-14 11:17] potiuk commented on #10523
From Airflow side - everything goes according to the original plan.

We decided to release the community-managed Chart together with Airflow 2.0. Yesterday we published first Airflow 2.0 alfa and we are going to release it by the end of the year. It has already gone through a number of fixes and improvements as many people (including one of the projects we've done). I am going to resume discussion

[2020-10-14 11:23] pat-s commented on #11436
Thanks. I don't think that the urgency is high enough to invest this much time into it for me right now.
I am happy to adapt once the implementation is ready. In the meantime I'll try to get the non-RBAC LDAP integration working.

[2020-10-14 11:24] potiuk commented on #11490
Description updated.

[2020-10-14 11:30] potiuk commented on #11489
@ashb  I also added a description to that issue - if you want, you can work on this one if you would like to. I am working on the Docker + extras ones though.

[2020-10-14 11:32] gsemet commented on #10523
We wanted to migrate https://github.com/helm/charts/tree/master/stable/airflow to https://github.com/airflow-helm before 1st november. We will maintain and evolve it until we think the airflow chart has completely replaced this chart.

Migration document is a must have, don't know who will do it :)

[2020-10-14 13:28] ryanahamilton commented on #11513
I was able to reproduce as well. The UI refresh updates didn't touch anything related to this. I thought the recent FAB upgrade from 3.0 to 3.1 could be the culprit, but I just tested the commit prior to that upgrade and was able to reproduce with FAB 3.0 as well.

[2020-10-14 14:59] ashb commented on #11425
Per provider, and containing just the sources for that provider (i.e. `airflow/providers/X/*` -- essentially what we would get if doing ` setup.py sdist`) -- the whole point of separating them out is to be able to have different release cycles for different providers.

[2020-10-14 15:14] potiuk commented on #11425
Yep. Agree this is probably the best way. It will be also easier to version the source packages then. We'd have to remove providers from Airflow sdist completely, but that's easy.

[2020-10-14 15:28] ashb commented on #11456
How frequently does this bug happen? From the stacktrace I'd say this might be a bug in the daemon module?

[2020-10-14 15:59] ryw commented on #11506
@ephraimbuddy is this something you could look at?

[2020-10-14 16:51] madhukar05 commented on #11524
here is the code i'm using...

below mentioned task completed successfully but didn't find the output file in GCS

bq_to_gcs_dag = BigQueryToGCSOperator(
        task_id='bq_to_gcs_dag', gcp_conn_id='my_gcp_connection' , source_project_dataset_table=XXXXXX ,
        destination_cloud_storage_uris=f"gs://XXX",
        export_format='CSV',
        print_header=False ,
        dag=dag
        )

[2020-10-14 17:03] ephraimbuddy commented on #11506
Yes. I will take a look. Assign it to me

[2020-10-14 18:39] teastburn commented on #7935
We have a change that correlates (causation is not yet verified) to fixing the issue the @sylr mentioned [here](https://github.com/apache/airflow/issues/7935#issuecomment-667343505) where many scheduler main processes spawn at the same time then disappear (which [caused an OOM error for us](https://github.com/apache/airflow/issues/11365)).

The change was the following:
[code]
And we run MAX_THREA

[2020-10-14 18:55] potix2 commented on #9708
@mik-laj I added type hints to the rest modules of amazon provider in #11531. Its type coverage of amazon is 77.7. But I'm waiting for review of #11434.
I wonder whether should I unify these PRs and close old one. Could you advise me?

[2020-10-14 19:49] #11298 closed

[2020-10-14 19:49] mik-laj commented on #11073
@ephraimbuddy @OmairK  Can you look at it also?

[2020-10-14 19:50] mik-laj commented on #11074
@ephraimbuddy @OmairK  Can you look at it also?

[2020-10-14 19:51] ephraimbuddy commented on #11074
Ok. Assign to me

[2020-10-14 19:52] mik-laj commented on #11074
@ephraimbuddy Done

[2020-10-14 19:54] OmairK commented on #11073
@mik-laj Can you assign me this ticket.

[2020-10-14 19:56] mik-laj commented on #11073
@OmairK  Thank you for wanting to maintain this code still. I really appreciate it.

[2020-10-15 03:59] jasontr commented on #9722
@BobasB Hi, I met the same situation and want to share some information. I did some experiments
- new module in a directory existed before airflow started -> import succeed
- new module in a directory created after airflow started -> import failure
- new DAG file in a directory existed before airflow started -> import succeed
- new DAG file in a directory created after airflow started -> import su

[2020-10-15 10:25] potiuk opened #11543 "Scheduler Deadlock in tests for MySQL 5.7"
We have the first example of scheduler deadlock in the willd for MySQL for the new scheduler:

https://github.com/apache/airflow/pull/8550/checks?check_run_id=1258193958#step:6:1439

Would be great to track it down and fix before the prod release:

**NOTE**  For now the issue has been mitigated (according to the documentation of MySQL) by applying restarts (with exponential back-off) in #12046. Th

[2020-10-15 10:25] potiuk commented on #11543
Stacktrace for permanent storage:

[code]

[2020-10-15 10:26] potiuk commented on #11543
cc: @ashb @kaxil - happy to help with analysing and solving it next week if needed

[2020-10-15 10:56] kaxil commented on #11543
oh yea, we retry this code 3 times in the actual code: https://github.com/apache/airflow/blob/3447b55ba57a06c3820d1f754835e7d7f9a1fc68/airflow/jobs/scheduler_job.py#L686-L701  -- maybe we can use the same re-try logic in the test too

[2020-10-15 11:24] SergioShz commented on #11234
Hi, sorry for the late reply. I finally just avoided to use sys.exit(0). The answer of @mik-laj is what I needed just to understand a little bit more on why avoid to use this exit code.

I'm closing this, thanks all for your help!

[2020-10-15 11:24] #11234 closed

[2020-10-15 13:50] kaxil opened #11544 "Providers tar.gz for 2.0 alpha1 fails"
From Airflow Slack (https://apache-airflow.slack.com/archives/C0146STM600/p1602768865025700):

The 0.0.1a1 provide package I tried to install (`apache-airflow-providers-amazon-0.0.1a1-bin.tar.gz`),
has no `setup.py` or `pyproject.toml`, so automated tools like pip fail to install it.

There is only a `setup_provider_packages.py` file in the tarball, which is of course not standard. Is this a known

[2020-10-15 13:56] BhuviTheDataGuy opened #11545 "BigQuery Hook get_records still using bql"
Version : 1.10.12

Im trying to get a SQL query results on BigQuery with BigQuery Hook. But in the logs, seems its showing the warning.
[code]
My code:

[code]
Is this something  I need to fix from my code, or from it has to be updated on Airflow's hook itself?

[2020-10-15 13:59] potiuk commented on #11544
Yep. That's a good point - we've only installed those packages using wheels. Good point to fix it. It just needs some setup.py template to generate good catch !

[2020-10-15 14:01] mjpieters opened #11546 "apache-operator-*.tgz tarballs missing setup.py and setup_requires dependencies."
**Apache Airflow version**: 2.0.0a1

**Environment**:

- **OS** (e.g. from /etc/os-release): MacOS
- **Install tools**: pip

**What happened**:

Installing from the 0.0.1a1 release tarballs fails as there is no `setup.py` file:

[code]

Instead of `setup.py`, there is a `setup_providers_package.py` file:

[code]

If I re-package the tarbal with that file moved to `setup.py` I get a different error

[2020-10-15 14:02] kaxil commented on #11544
Closing in favor of https://github.com/apache/airflow/issues/11546

[2020-10-15 14:02] #11544 closed

[2020-10-15 14:03] potiuk commented on #11546
Thanks @mjpieters ! Will fix it.

[2020-10-15 14:09] BhuviTheDataGuy opened #11547 "PostgresToGoogleCloudStorageOperator - Custom schema mapping"
Version : 1.10.12

I used PostgresToGoogleCloudStorageOperator to export the data and the schema file as well. But I saw a column on Postgres was `TIMESTAMP without time zone` but in BigQuery the auto-create table (via `GoogleCloudStorageToBigQueryOperator`) used the JSON schema file and created the table. When I checked the BQ table the data type was `TIMESTAMP`.

For without timezone data, **`DA

[2020-10-15 14:58] turbaszek commented on #11282
Probably done in #11287

[2020-10-15 14:58] #11282 closed

[2020-10-15 15:20] potix2 commented on #11297
I'm interested in this issue too.

[2020-10-15 15:27] kaxil commented on #11297
Go for it @potix2 if you would like to create PR, take https://github.com/apache/airflow/pull/11470 as an example

[2020-10-15 15:46] cherusk opened #11549 "Operator for prometheus API interaction"
**Description**

Instead of building prometheus queries on other operators, e.g. python operator, come forth with a dedicated prometheus API interacting operator.

I'm prepared to substantially contribute to such a operator and would mostly like to learn would that be acceptable for the AIRFLOW community.

**Use case / motivation**

For a project of mine, godon[1], which is basing on airflow at it

[2020-10-15 15:58] BhuviTheDataGuy opened #11551 "PostgresToGCSOperator - Exporting the Timestamp column in EPOCH format"
Im using PostgresToGCSOperator to export the data. I know there is a mapping in that operator. I have changed that and made as a custom operator. If Postgres has timestamp then in BQ use DATETIME for timestampz use TIMESTAMP.

[code]

But while exporting, this data in CSV format, it won't considering this and exporting the value in EPOCH format. How do I fix it?

[2020-10-15 16:19] benbenbang commented on #9713
Hello @potiuk, @kaxil
We got the same issue today, airflow sent 12k per sec to Vault. And the outrage brought down Vault for more than 30 minutes. Are we the only one who has this issue?

[2020-10-15 16:26] potix2 commented on #11297
I'm working on #11531. But I feel it's too large to ask for review. Should I divide into some small requests?

[2020-10-15 16:26] kaxil commented on #9713
@benbenbang This definitely needs to be addressed, one thing I am thinking of is a "ttl" for a local cache that will significantly reduce the load and the second thing is what Jarek mentioned around using retry mechanism

[2020-10-15 16:40] ashb commented on #11463
Plain statsd doesn't support "tags" is the main issue here

[2020-10-15 16:42] akocukcu commented on #10992
@turbaszek I would like to work on this.

[2020-10-15 17:50] potiuk opened #11554 "ERRORS when executing dags in "start-airflow""
**Description**

When HA Scheduler is enabled and sqlite DB is used you get "Database Locked" problem.

We should probably disable HA Scheduler always when sqlite is used. This is easily reproduced when sqlite is on and you enter Breeze.

More info: https://apache-airflow.slack.com/archives/CCQ7EGB1P/p1602834272205500

[code]

[2020-10-15 17:51] potiuk commented on #11554
cc: @ashb

[2020-10-15 17:58] ashb commented on #11554
Just checking, this is just when more than one scheduler at the same time, not always?

[2020-10-15 18:07] mjpieters opened #11556 "Anything touching airflow.utils.db triggers an import for kubernetes"
**Apache Airflow version**: 2.0.0a1
**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): No kubernetes used.

**Environment**:

- **OS** (e.g. from /etc/os-release): MacOS

**What happened**:

After updating my local dev environment configuration for Airflow 2.0.0a1 I wanted to see if the database needed updating:

[code]

**What you expected to happen**:

`kubernetes` is

[2020-10-15 18:11] waleedsamy opened #11557 "Can't pass --without-mingle and --without-gossip to celery worker"
**Apache Airflow version**: ANY

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

I've an issue with airflow celery worker performance, and I think there are a place for optimiza

[2020-10-15 18:19] mjpieters commented on #11556
I fear there are a few more issues in this area.

The problems lie primarily in two sections of `airflow/serialization/serialized_objects.py`:

https://github.com/apache/airflow/blob/4551a5e6d56ef4c141aa2ef0f7df20bbf2b09800/airflow/serialization/serialized_objects.py#L29-L37

This code guards against the import error when `kubernetes` is not installed, but a few lines down then imports `airflow.ku

[2020-10-15 18:26] mjpieters commented on #11556
Looks like #10831  was meant to address this, but it missed out on the other import as well as the way `k8s` is actually used.

[2020-10-15 18:36] turbaszek commented on #11557
According to this test:
https://github.com/celery/celery/blob/05da357502a109c05b35392391299d75d181ccab/celery/contrib/testing/worker.py#L110-L122

We should be able to pass those argument to celery worker without a problem because here:
https://github.com/apache/airflow/blob/f7e01ab29339080c77431a1fc5e4403ba2d80326/airflow/cli/commands/celery_command.py#L152

The `Worker` class is inheriting from

[2020-10-15 18:53] potiuk commented on #11554
This happened today during the workshops when running start-airflow with breeze by one of the attendees. Not sure exactly how, I will try to reproduce it.

[2020-10-15 19:10] wolfier opened #11560 "Allow for specification of cipher in SftpHook"
**Description**

I want to specify the cipher to use when creating a SftpHook. Currently this is not possible because there is not a way to propagate the value to CnOpts.

https://github.com/apache/airflow/blob/master/airflow/providers/sftp/hooks/sftp.py
https://pysftp.readthedocs.io/en/release_0.2.9/pysftp.html?#pysftp.CnOpts
https://pysftp.readthedocs.io/en/release_0.2.9/cookbook.html

**Use cas

[2020-10-15 19:27] benbenbang commented on #9713
Alright, I will start to do the dev asap.

For ref, this is insane:
<img width="407" alt="kiali" src="https://user-images.githubusercontent.com/6682936/96176744-0a8eae80-0f2d-11eb-8fef-7323fd9da743.png">
<img width="1328" alt="grafana" src="https://user-images.githubusercontent.com/6682936/96176759-14181680-0f2d-11eb-8625-96c7892720aa.png">

[2020-10-15 19:28] ryw opened #11561 "Can't view 2nd log"
Running Airflow 2 using `astro` cli - I can only access log for first task attempt

![image](https://user-images.githubusercontent.com/4283/96177048-43ae2b00-0efb-11eb-87d5-ee01e4b4f5f9.png)

[2020-10-15 19:36] ryw opened #11562 "Can't change state of a task instance via the task instance list view"
clicking one or multiple task instances from /taskinstance/list/ view and choosing any new state, results in error screen

<img width="1177" alt="Screen Shot 2020-10-15 at 3 34 54 PM" src="https://user-images.githubusercontent.com/4283/96177660-3180bc80-0efc-11eb-8056-c9e3303b81a6.png">

[2020-10-15 19:44] benbenbang commented on #9713
Alright, I will start to do the dev asap.

For ref, this is insane:
<img width="1328" alt="grafana" src="https://user-images.githubusercontent.com/6682936/96176759-14181680-0f2d-11eb-8625-96c7892720aa.png">

[2020-10-15 20:07] wolfier commented on #11560
Here's some [unit tests](https://github.com/ryhsiao/pysftp/blob/master/tests/test_ciphers.py) in pysftp using copts and ciphers.

[2020-10-15 20:11] ryw opened #11563 "Strange behavior around the edge of the circles"
Edge is flickery + sometimes I can't click the number

![Screen Recording 2020-10-15 at 4 07 46 PM](https://user-images.githubusercontent.com/4283/96180787-f6cd5300-0f00-11eb-8d0f-989e1ea424ae.gif)

[2020-10-15 20:12] ryanahamilton commented on #11563
I can take a look at this!

[2020-10-15 20:13] ryw commented on #11563
thanks @ryanahamilton

[2020-10-15 21:06] eladkal commented on #11561
This is something we are also experiencing in 1.10.11
I suspect this happens when the logs are saved on the worker locally, if the worker is down then the log isn't accessible when the worker comes up again the log is retrievable again.

[2020-10-15 21:19] ryw opened #11565 "[Airflow 2 Alpha] Connection not recognized"
Possible i'm doing something wrong, but doesn't seem that Airflow is recognizing my connection.

![Screen Recording 2020-10-15 at 5 14 45 PM (1)](https://user-images.githubusercontent.com/4283/96187433-fe91f500-0f0a-11eb-9a4c-524dd848b60b.gif)

[2020-10-15 22:25] ryw commented on #11565
I think it was related to a missing entry in the `extra` json...

[code]

I was missing `role` and `schema` and now it works. I would expect the error to be different than saying it's `not defined`.

[2020-10-15 22:25] #11565 closed

[2020-10-15 23:35] kaxil commented on #11562
Duplicate of https://github.com/apache/airflow/issues/11513

[2020-10-16 03:48] stevenhurwitt opened #11567 "airflow webserver has broken dependencies?"
**Apache Airflow version**: 1.10.5

**Environment**:

- **Cloud provider or hardware configuration**: local ubuntu
- **OS** (e.g. from /etc/os-release): ubuntu 20.04
- **Kernel** (e.g. `uname -a`): linux 5.4.0-51-generic
- **Install tools**: anaconda
- **Others**: Python 3.7.9

**What happened**:

all `airflow` commands fail because of a broken dependency. this is the error message:

[code]

**Wha

[2020-10-16 03:58] stevenhurwitt commented on #11567
nevermind, downgrading to werkzeug 0.16.1 brought me to a google-able sqlalchemy error that involved downgrading sqlalchemy as well and it works now.

[2020-10-16 03:58] #11567 closed

[2020-10-16 05:56] QuinRiva opened #11568 "GCSToBigQueryOperator fails: job Id is not unique"
**Apache Airflow version**: 1.10.12

**Environment**:  Centos 7 Host

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): Ubuntu 20.04 Docker Container
- **Kernel**: Linux c6c6e8230c17 3.10.0-1127.18.2.el7.x86_64 #1 SMP Sun Jul 26 15:27:06 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
- **Install tools**: Docker Compose
- **Others** ?

**What happened**:

BigQuery job n

[2020-10-16 06:49] #11568 closed

[2020-10-16 07:29] popovpa commented on #10435
We have same behavior.
Our environment: k8s, airflow 1.10.12 (in 1.10.9 was such error as well)
Sometimes watching: Task exited with return code Negsignal.SIGKILL

[2020-10-16 08:07] potiuk commented on #11554
@turbaszek, I believe we need to fix Debug Executor :)

[2020-10-16 08:15] potiuk commented on #11554
@ashb -> any quess why self.task might be missing in task instance in this case? I do not see an obvious one but maybe you will know by heart

[2020-10-16 08:41] potiuk opened #11571 "[QUARANTINE] TestSchedulerJob.test_no_orphan_process_will_be_left"
This tests fails occasionally on mysql at least:

https://github.com/apache/airflow/pull/11555/checks?check_run_id=1260840314#step:9:1125

[code]

[2020-10-16 08:42] potiuk commented on #11571
cc: @ashb

[2020-10-16 09:04] feluelle commented on #11561
@ryw can you check the first log and see if the task log of the second run was appended there?

[2020-10-16 09:33] scrdest commented on #8459
I've started looking into this as my first issue - mind assigning it to me?

[2020-10-16 09:47] ashb commented on #11554
Nothing obvious jumps out to me - self.task is set in various places in the code, about the only way I could see this happening is with a dynamic dag and the task not existing on the day anymore. Seems unlikely though

[2020-10-16 10:29] potiuk commented on #11554
Right. Thanks @ashb  - we'll have to take a deeper look then :)

[2020-10-16 10:30] potiuk commented on #8459
Done!

[2020-10-16 10:38] alxdembo commented on #10934
Hi, I would like to work on this one. I see that this might be fixed by validating the input, and I assume, preferably on the front-end?

[2020-10-16 11:39] madhukar05 commented on #11524
**Composer Version :** composer-1.12.2-airflow-1.10.9

Here is the complete scripts which i'm using

import os

from airflow import models
from airflow.utils.dates import days_ago
from airflow.operators import bash_operator
from airflow.providers.google.cloud.transfers.bigquery_to_gcs import BigQueryToGCSOperator
from airflow.providers.google.cloud.operators.bigquery import BigQueryExecuteQueryOpe

[2020-10-16 12:00] mik-laj commented on #11557
CC: @auvipy

[2020-10-16 12:27] ryanahamilton commented on #11563
@ryw I'm struggling to reproduce this—anything in particular to get it in that state?

[2020-10-16 12:58] ashb commented on #11463
https://statsd.readthedocs.io/en/latest/tags.html?highlight=tag

Yeah, so tagged metrics are not in main pystatsd client, not in "stock" statsd server.

Supporting them would be good, but we possibly need to be slightly smarter about how we do it (such as convert tags in to names for fallback? Not sure)

[2020-10-16 13:04] kaxil commented on #11463
It would be better to natively support Prometheus (https://github.com/prometheus/client_python)

[2020-10-16 13:45] nirousseau commented on #8019
bump²

[2020-10-16 14:09] potiuk opened #11577 "Provider dependencies do not work well with alphas."
The dependencies in Alphas are currently >= 2.0.0 and should be >=2.0.0a0 in order to work with Alphas in cases which are not PEP 440-compliant.

According to https://www.python.org/dev/peps/pep-0440/, >= 2.0.0 should also work with alpha/beta releases (a1/a2) but in some cases it does not (https://apache-airflow.slack.com/archives/C0146STM600/p1602774750041800)

Changing to ">=2.0.0a0" should hel

[2020-10-16 14:25] ashb commented on #11463
Native prom support would be good - but that needs a) a webserver, and b) some way of collecting metrics from across the different processes, and for components without webservers (scheduler and workers right now)

[2020-10-16 14:29] #11577 closed

[2020-10-16 14:31] ashb commented on #10976
The reason it never got as far as showing the existing "Bash command failed" is because of your `run_as_user` and the sudo call failed, so it didn't even get to running the task code.

But as it shows in your log, it says `Task exited with return code 1` -- so it is showing you the exit code.

I'm not sure what else you are expecting it to say?

[2020-10-16 14:33] #11331 closed

[2020-10-16 14:36] turbaszek opened #11580 "Support Airflow deployment with clustered Redis"
**Description**

Currently, if users try to use Redis in a clustered way (for example using AWS ElastiCache cluster with multiple nodes) they may get the following error:
[code]
This error occurs because keys must be in the same hash slot and not just the same node. Similar problems can be also observed when running flower.

**Use case / motivation**

Support Redis in clustered mode or provide inf

[2020-10-16 14:59] ashb opened #11582 "Manually triggering a dagrun when already at max_active_runs leads to nothing being scheduled."
If you have a DAG with `max_active_runs=1` and it is running some tasks, and then you manually trigger another run of this DAG, both runs end up not scheduling anything and you see this message over and over in the logs:

[code]

A longer term fix for this would be to introduce a "queued" state for DagRuns, and then when manually creating dag runs set it to queued, and only have the scheduler set

[2020-10-16 15:14] benbauer89 commented on #11580
The default in terraform for **redis_group_parameter_group_name** is `"default.redis5.0.cluster.on"`
https://registry.terraform.io/modules/Flaconi/microservice/aws/2.6.0?tab=inputs

[2020-10-16 15:23] #11556 closed

[2020-10-16 15:27] gflores1023 commented on #11582
FYI - there's another bug related to max_active_runs that I filed a couple months ago (with potentially very bad effects). mik-laj also mentioned about adding a new dag state.
https://github.com/apache/airflow/issues/9975

[2020-10-16 15:29] ashb commented on #9975
Would someone be able to test if this specific case still happens on Airflow 2.0.0alpha1? (A few things about how we created DagRuns changed so this _might_ have been fixed, but I didn't specifically set out to fix this.

[2020-10-16 15:41] potiuk opened #11585 "Pre-release packages for SVN should have "good" versions"
When we prepare pre-release versions, they are not intended to be converted to final release versions, so there is no need to replace version number for them artificially,

For release candidates on the other hand, we should internally use the "final" version because those packages might be simply renamed to the final "production" versions.

[2020-10-16 16:08] ashb commented on #9975
Read the reproduction steps, and this bit sounds bang on:

Yes, looking at the code that sounds right, and also hasn't changed in 2.0.0alpha1, the same logic is used.

[2020-10-16 16:45] potiuk opened #11590 "Release "cncf.kubernetes" and "google" backport packges"
**Description**

The "cncf.kubernetes" backport package has not been yet released as it contained some critical bugs when backported (the last fix implemented in #11478  and better debugging was added in #11502.

We plan to release the "cncf.kubernetes" release candidate package on Monday 19th of October together with the "google" package with re-enabled GKEPodOperator that depends on it.

**Use c

[2020-10-16 17:41] turbaszek commented on #11524
See #9897. Solved in #9899, so it will be fixed in new providers release 🚀

[2020-10-16 17:41] #11524 closed

[2020-10-16 17:49] mpermana opened #11591 "Unauthenticated access with RBAC to URL has_dag_access results lose redirection"
<!--

**Apache Airflow version**: latest

**Environment**: Linux

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:
Unauthenticated access with RBAC to URL has_dag_access results lose redirection

**What you expected to happen**:
Redirection maintained, user can login and redi

[2020-10-16 17:52] srthok commented on #11290
Thanks for the info..I enabled rbac..I need to enable Oauth( GHE) and really appreciate if you can point me to  any related documentation to enable GHE auth or sample confg file.Thanks

[2020-10-16 17:55] #11394 closed

[2020-10-16 18:30] mpermana commented on #11591
@dimberman can help me merge?

[2020-10-16 18:50] michalmisiewicz opened #11595 "Airflow should redirect to login page when user is not login"
**Apache Airflow version**: 1.10.12

Airflow should redirect to login page when user is not login. Currently when non authenticated user is trying to reach UI it is redirected to dags view.
![image](https://user-images.githubusercontent.com/16355374/96297191-c49b1e80-0ff0-11eb-8125-3532a6ee171a.png)
I belive that DAG view should be only visible to authenticated users.

[2020-10-16 18:54] michalmisiewicz commented on #10586
Fixed in #11325

[2020-10-16 18:54] #10586 closed

[2020-10-16 20:38] potiuk commented on #11543
I'd love to get to the bottom of the problem. Retrying is really a workaround for the real problem in those cases, I believe.

[2020-10-16 22:48] casassg opened #11599 "Default DagRun configuration"
**Description**

It would nice to have the trigger UI pre-populated with default values for your dagrun configuration: https://airflow.apache.org/docs/stable/dag-run.html?highlight=params#using-ui

For that we need to add a new field to DAG that keeps the default conf for DAGRuns, serialize it and have it available on the Trigger UI.

This should allow user to more easily know what parameters/keys

[2020-10-16 23:47] yunduz opened #11603 "KubernetesExecutor with volumes and volume_mounts specified does not launch tasks"
**Apache Airflow version**: 1.10.12

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): Openshift 3.11 (Kubernetes 1.11)

**Environment**:

- **Cloud provider or hardware configuration**: Openshift 3.11
- **OS** (e.g. from /etc/os-release): Red Hat 7.7

**What happened**:
Switched from Airflow 1.10.7 to 1.10.12 and one of the tasks fails to launch, scheduler shows an err

[2020-10-17 07:53] obarisk commented on #11464
The `apache-airlfow-providers-google` package is not on PyPI.

[2020-10-17 08:08] BhuviTheDataGuy commented on #11551
Im able to modify the original operator and there is a conversion function that is doing this EPOCH conversion. So I customized it and everything looks good now.

[code]

[2020-10-17 08:08] #11551 closed

[2020-10-17 08:08] kurtqq commented on #10781
@pbaisla can you verify https://github.com/apache/airflow/pull/11610 solved the issue?

[2020-10-17 08:08] BhuviTheDataGuy commented on #11547
I customized the original operator and used my own mapping there.

[code]

[2020-10-17 08:29] potiuk commented on #11464
Yep. Not yet - we are going to release it when we get to Beta level, that's why I am implementing it in the way to work-around it and to be able to work without those packages being released (but it will also have to work in case when we install airflow for development from sources - see the discussion in #11526

[2020-10-17 09:16] #11489 closed

[2020-10-17 09:26] ashb commented on #11543
I would love a better fix - we did this as it's Wyatt mysql recommend in their own docs!

[2020-10-17 09:27] michalmisiewicz commented on #11595
Public had `can index on airflow` permission. After removing the permission, the redirect works.

[2020-10-17 09:27] #11595 closed

[2020-10-17 11:53] potiuk commented on #11543
We should leave it for now but I willl change the mysql server configuration in tests and dump some logs  so that when there is a deadlock next time we will know exactly where the deadlock came from - maybe then it should be easier to find out what needs to be fixed.

I think the advise in the docs is the "if you do not know how to fix it in the architecture of your DB/Queries you can use it as a

[2020-10-17 12:23] potiuk commented on #11543
PR #11614 with dumping logs from  all containers and setting mysql to print all the deadlock information in the logs

[2020-10-17 12:42] pat-s commented on #11436
Even with `AIRFLOW__WEBSERVER__RBAC=False` I get the same error in v1.10.x.

I did not try v1.9 since this version is too outdated.
Building and running a docker container from master failed (some pendulum issues).

Hence I think there is no way currently to use LDAP with airflow.

What confuses me somewhat is the fact that there is not real documentation on this in the docs.
Yes, there is this li

[2020-10-17 12:49] mik-laj commented on #11436
@pat-s  You can use this module with Airflow 2.0 and it should work.
https://github.com/apache/airflow/blob/master/airflow/api/auth/backend/basic_auth.py
To load this module you have to copy it to `~/airflow/config` (See: https://airflow.readthedocs.io/en/latest/modules_management.html) and set up according to documentation: https://airflow.readthedocs.io/en/latest/security/api.html#basic-authenti

[2020-10-17 12:53] mik-laj commented on #11436
PS. Authorization with user accounts in the database also does not work properly in Airflow 1.10. Only Kerberos auth works in this version.

[2020-10-17 12:54] pat-s commented on #11436
I would like to try using v2.0 (because we have not started using the service for now) however I cannot get the current master Docker container (build from source) to start. This should probably be discussed in a separate issue though.

All your CI runs for the production images are green but building them is just one thing 😄 Does the master branch currently run a stable webserver?

[2020-10-17 12:58] mik-laj commented on #11436
@pat-s I recommend to try Airflow 2.0 alpha 1. We have a Docker image ready for this version. See: https://lists.apache.org/thread.html/rf34558953ba367561574c194500a34d7f3c21fe2798b173b86fc309c%40%3Cdev.airflow.apache.org%3E
You can ask about a production Docker image on #prod-docker-image ([![Slack Status](https://img.shields.io/badge/slack-join_chat-white.svg?logo=slack&style=social)](https://s.

[2020-10-17 13:09] pat-s commented on #11436
Ah, promising! Will try it later.

Thanks for your quick replies!

[2020-10-17 14:00] kaxil commented on #11543
https://dev.mysql.com/doc/refman/8.0/en/innodb-deadlocks-handling.html

[2020-10-17 14:21] potiuk commented on #11543
Surely we can leave with retrying (likely). It really depends how frequent the deadlocks will be happening in real-live scenarios (this is exactly what the MySQL documentation says if you read a bit earlier:

 If we accept the deadlocks but then under heavy stress the retry scenario might even lead to into the situation of continuous deadlock and either no possibility to do any transaction or very

[2020-10-17 14:25] potiuk commented on #11543
For me the most important thing is that we do not know how often it will happen in the wild, and we have a cheap way of tracking it down, so why not trying?

[2020-10-17 14:32] potiuk opened #11615 "Random failuress in teardown of TestCliWebServer.test_cli_webserver_foreground"
We have some random failures in teardown of TestCliWebServer.test_cli_webserver_foreground.

Since this is in teardown, it can be likely ignored because we are killing those background processes with -9 anyway.

https://github.com/apache/airflow/pull/11526/checks?check_run_id=1268530821#step:6:1193

[code]

[2020-10-17 14:47] jnunezgts opened #11617 "Docker Swarm operator is broken: json: cannot unmarshal string into Go struct field Resources.MemoryBytes of type int64"
**Apache Airflow version**:
 1.10.12, using SQLLite as the backend

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
N/A. Using Docker Swarm 19.03.8

**Environment**:

- **Cloud provider or hardware configuration**:
No cloud, bare-metal server:
[code]

- **OS** (e.g. from /etc/os-release):
[code]

- **Kernel** (e.g. `uname -a`):
[code]

- **Install tools**:
[code]
- **

[2020-10-17 15:32] ryw commented on #11562
Closing in favor of #11513

[2020-10-17 15:32] #11562 closed

[2020-10-17 15:33] robinhur opened #11618 "Support to turn off the sql echo at logging in dbapi_hook"
**Description**

through the parameter, like `mute=True`,
can turn off not to echo the SQL query

**Use case / motivation**

I hope we can turn on or off the option to echo or not echo of SQL query
First, if the query is too long, the log becomes unnecessarily heavy
And also sometimes we don't want it to be recorded because of like privacy issues.

[2020-10-17 20:33] tooptoop4 commented on #11354
I already had load_examples = False but same issue. Reverting https://github.com/apache/airflow/pull/8728 fixes for me

[2020-10-17 21:21] pat-s commented on #11436
Success! 🎉

I built a new image using the following build args

[code]

In addition, I enabled LDAP auth in `webserver_config.py` following the instructions.

Last, here is my `docker-compose.yml`:

[code]

I also tried Keycloak/openid-connect via `AUTH_TYPE = AUTH_OAUTH` but was not successful. Happy to switch once there is an official implementation one day.

[2020-10-17 21:39] turbaszek opened #11622 "airflow celery worker -D does not process tasks"
**Apache Airflow version**:
2.0 (master)

**Environment**:

[code]

**What happened**:

Running `airflow celery worker -D` spawns celery worker (`ps -aux`) but the worker does not consume any tasks 👀
Worker logs show:
[code]

**What you expected to happen**:

I expect that demonized worker will consume Airflow tasks.

**How to reproduce it**:
[code]
Then trigger any DAG from webui.

**Anything els

[2020-10-17 21:49] DBCerigo commented on #11482
@mik-laj https://github.com/apache/airflow/pull/11619

[2020-10-17 22:04] turbaszek opened #11623 "Add celery stats to Airflow webui"
**Description**

Show basic information about Celery workers in Airflow webui.

**Use case / motivation**

Currently, users using CeleryExecutor have to use Flower to access information about Celery workers. I would like to propose adding new view in Airflow webui that would show similar information.

This should be easily doable by using:
[code]

Note: this is how Flower gets the information.

**

[2020-10-17 22:04] turbaszek commented on #11623
@ashb @dimberman @kaxil @mik-laj @potiuk WDYT?

[2020-10-18 00:04] turbaszek opened #11625 "Use named volumes in breeze"
**Description**

Currently, breeze uses unnamed volumes for persisting data (mysql redis, postgres). It would be nice to have named volumes so users can easily delete them.

Example for redis:
[code]

**Use case / motivation**

Easier maintenance of docker volumes.

**Related Issues**

N/A

[2020-10-18 00:14] turbaszek commented on #11622
Oh, seems to be faced in Airflow before: https://github.com/celery/celery/issues/3932#issuecomment-310164246

[2020-10-18 01:04] turbaszek commented on #11622
After a few hours I have no idea why it does not work 🤷‍♂️ I suppose we can revert the #11336, any opinions/ideas? @kaxil @mik-laj @auvipy @thedrow

[2020-10-18 07:17] ashb commented on #11543
The ones I've seen have only been when inserting a new route in to the DAG table which is a fairly rare event, and that's the only place we have put the retry in (dagbag.sync_to_db)

[2020-10-18 08:29] ashb commented on #11623
Might be useful - what info does that include?

Also there's so much more that flower does, and can do better because it uses Tornado, so we should draw a clear line in the code, and in the view say something like "for more details use flower"

[2020-10-18 08:41] thedrow commented on #11622
Please wait for the 5.0.1 release today.
It fixes this issue.

[2020-10-18 09:41] jnunezgts commented on #11617
Hello,
I think I found the bug. If I remove completely the memory limit parameter from the DAG ```mem_limit="500m"```, the task runs without a problem. The documentation says that you can put a float value in bytes or a String that will get parsed correctly (like the Docker operator) but that's not the case here

[code]

[2020-10-18 09:52] potiuk commented on #11543
Still I think it is nice to track it down when it happens, so I think enabling deadlock reporting in CI + uploading the logs as artifacts + not retrying in unit tests (#11614) is the best way forward don't you think ? It costs us an occasional (very rare) hopefully case where we will have deadlock in uni tests  + all the means to verify and if someone has time maybe even track down the root cause

[2020-10-18 09:52] #11615 closed

[2020-10-18 09:56] potiuk commented on #11625
For now deleting all the data from all volumes is done via `breeze stop`. This is "all-or-nothing" approach though. With named volues I am not sure if we won't have to manually delete such volumes additionally in "stop" command. Something to be checked but I am generally in favour of this approach. We had recently someone on slack asking about deletion of DB volumes in Breeze, so this might be a g

[2020-10-18 10:11] potiuk commented on #11625
Yep. As I thought. When you run "docker compose down', the named volumes are not deleted. So we can change it to named volumes, but we need to have a way to manage those volumes and have an easy (and default) way to stop and start from the scratch. I think about adding additional flag --preserve-volumes to keep them if we do not want  to delete them.

[2020-10-18 10:27] turbaszek commented on #11623
![Uploading Screenshot 2020-10-18 at 12.27.29.png…]()

[2020-10-18 10:39] potiuk commented on #11623
Cool!

[2020-10-18 10:47] turbaszek commented on #11623
I'm wondering if it would make sense to show more info, like number of tasks and so on. Maybe charts?

[2020-10-18 11:00] potiuk commented on #11623
I think if those are easy to retrieve, and show, it might make sense, but If those can be seen in Flower, I agree with @ashb  that there's no reason for duplication. I think however (if it is not done already) that flower should become a first-class-citizen of Airflow in this case and it should have at least some support for RBAC authentication integrated with the Airflow RBAC. This might mean eit

[2020-10-18 11:01] KulykDmytro opened #11629 "KubernetesExecutor. Pod log do not contains all data from task log file"
**Apache Airflow version**: 1.10.12
**Kubernetes version**: v1.18.6
**What happened**:
Using KubernetesExecutor with **pod_template** to run tasks
pod log do not contains same info as shown in task log

**What you expected to happen**:
Pod logs should contain all information from respective logs

**Anything else we need to know**:
Pod log available by api
[code]
Task log inside container
[code]

[2020-10-18 11:12] potiuk commented on #11546
Auto-closed during testing by mistake

[2020-10-18 11:16] #11490 closed

[2020-10-18 11:17] potiuk commented on #11464
@kaxil  - since we agreed that PyPI releases will be done in Beta, I changed the milestone to beta1 for this one.

[2020-10-18 11:19] turbaszek commented on #11623
We can start flower in the background and use its API to show data in Airflow. By more info I thought about showing Airflow-related information like, number of (failed, succeded, queued) tasks. I know users can use statsd and grafana, but having simple overview of the state without additional configuration would be helpful imho

[2020-10-18 11:25] potiuk commented on #11464
Btw. The installation from sources for providers has already been merged @obarisk . See #11529  -> by default when you install Airflow from sources with 'pip install -e .' - this works out-of-the-box, for installing via 'pip install .' you can set``INSTALL_PROVIDERS_FROM_SOURCES`` env variable to "true" and it will install the providers together with airflow.

In Dockerfiles, when you install them

[2020-10-18 11:49] potiuk commented on #11546
I already have a working version of this. @mjpieters (but also @kaxil and @ashb ). And I have one question on what you think Kaxil and Ash regarding releasing the providers officially.

We've agreed that we will release the sources for each provider separately, and while I implemented this issue I think I achieved exactly this by fixing the broken sdist package (as pointed out by @mjpieters - than

[2020-10-18 12:35] potiuk opened #11632 "Review and clarify licence/notice information"
While reviewig the fix for #11544 I realised we might need to update (or better automate) our LICENSING information.

 We currently Have NOTICE file in Airflow and a mixture of LICENSE + license directory.

NOTICE file here:
[code]

But also, the LICENSE file contains mentioning 3rd party components and MIT:

[code]

But we also have the separate ``licenses`` directory where a number of licenses a

[2020-10-18 12:37] potiuk commented on #11632
Happy to collaborate on that one @ashb @kaxil . I belive also @ryw wanted to get some clarity on those.

[2020-10-18 12:50] potiuk commented on #11632
BTW. I reviewed the existing licenced software and none of them apply for the providers so I left only generic Apache Licence information there, But we might want to do some additional check and automation there.

[2020-10-18 13:19] mjpieters opened #11633 "Don't include upstream_failed in the 'active task instances' test in the scheduler"
**Apache Airflow version**: 2.0.0a1

**What happened**:

On my dev environment I have a lot of DAG runs with failed tasks, where the *downstream* task instances then have been set to `upstream_failed`. The scheduler is now refusing to schedule more instances for such DAGs.

The scheduler looks for such task instances that are not in the `State.finished` set:

https://github.com/apache/airflow/blob

[2020-10-18 13:26] potiuk commented on #11433
As part of the #11546 fixing I prepared a PR #11630 where I think I got it really sorted out very well:

1) we generate setup.py and config.py dynamically based on provider and information found in the Airflow's setup.py (dependencies etrc.). Those are automatically generated from JINJA templates for those files  the same way we generate README.md and CHANGES files.

2) In the procedure of prepari

[2020-10-18 14:39] #11625 closed

[2020-10-18 15:31] ashb commented on #11632
Fairly sure this style was what we had to do to graduate from incubation (we'll have to look back though the archives) so I don't think we can change

[2020-10-18 15:49] potiuk commented on #11632
Fine. I am just also wondering if some of those (slugify) has not changed since ?

[2020-10-18 16:05] thedrow commented on #11622
Released. Please try again.

[2020-10-18 16:13] #11231 closed

[2020-10-18 16:15] kaxil commented on #11297
Sure got for it

[2020-10-18 19:52] kaxil commented on #11633
Yup we will fix this for alpha2. Thanks for reporting

[2020-10-19 05:35] ashishraman opened #11649 "SQLAlchemy string is passed to worker pod in plain text as env var"
**Apache Airflow version**: 1.10.12

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.17

**Environment**:

- **Cloud provider or hardware configuration**: AWS EKS

**What happened**:
When spawning a worker pod, the scheduler injects the sql alchemy string as plain text in environment variables

<code>
Environment:
      AIRFLOW__CORE__DAGS_FOLDER:       /usr/local/a

[2020-10-19 06:45] BhuviTheDataGuy opened #11651 "unable to import the airflow.providers"
Im wants to import Airflow Google providers. So I installed it.
[code]
Im able to see all the hooks and everything under the packages directory.
[code]
But when I run the import command its failing.
[code]

[2020-10-19 06:58] potiuk commented on #11651
You likely have airflow installed in a different namespace. Likely you installed airflow with -e switch or with --user flag.

See here for troubleshooting and workaround:

https://airflow.readthedocs.io/en/latest/backport-providers.html#troubleshooting-installing-backport-packages

[2020-10-19 06:58] #11651 closed

[2020-10-19 07:11] jyoti-dhiman commented on #10055
Hi, I have a similar issue, did you find a solution for this?

[2020-10-19 09:25] pprzetacznik opened #11654 "Add `session_lifetime_hours`/`session_lifetime_minutes` to the configuration"
**Description**

Currently, it's possible to set `session_lifetime_days` in the Airflow configuration file. Would that be possible to achieve the same in a more granular form, ie. hours or minutes?
https://airflow.readthedocs.io/en/stable/configurations-ref.html#session-lifetime-days

**Use case / motivation**

For security reasons, when adopting the technology in companies that pay a lot of atten

[2020-10-19 10:01] #11388 closed

[2020-10-19 10:03] #11506 closed

[2020-10-19 10:19] #9185 closed

[2020-10-19 10:32] #11585 closed

[2020-10-19 10:50] mik-laj opened #11657 "Better unit tests for Helm Chart"
Hello,

# Overview

Currently, Helm Chart for Airflow has two types of tests: ([Learn the best practices of Helm Chart testing](https://blog.gruntwork.io/automated-testing-for-kubernetes-and-helm-charts-using-terratest-a4ddc4e67344))

- **Template testing (unit testing)**: these tests render the templates against various input values. These types of tests let us verify that the template rendered t

[2020-10-19 10:51] mik-laj commented on #11657
CC: @potiuk @ashb @kaxil @dimberman @turbaszek

[2020-10-19 10:54] jdobr opened #11658 "min_file_process_interval impacts task execution"
Apache Airflow version: 1.10.12

Environment:

Any

What happened:
min_file_process_interval is documented to control when a new/updated file gets picked up by Airflow, but it also seems to control when a queued job is executed as described in here:
https://github.com/puckel/docker-airflow/issues/233#issuecomment-510931051
and here:
https://stackoverflow.com/questions/50012952/airflow-1-9-0-long-d

[2020-10-19 11:00] mik-laj commented on #11657
CC: @OmairK I know you wanted to know more about Kubernetes.

[2020-10-19 11:48] #9830 closed

[2020-10-19 11:55] rafaelvargas commented on #11305
@mik-laj I'd like to work on the support for the Google's IAP.

[2020-10-19 11:55] potiuk commented on #11657
I am absolutely for this. Comparing to the above proposal, it's heaven and earth.

I very much dislike the current yaml based testing, they're difficult to maintain, refactor, automate, run from the IDE, debug, duplicate to write new tests etc.

I've added a few yaml-based tests in the past and fixed a few failing ones when I added new features (like kerberos sidecar). And it was a pain. For me th

[2020-10-19 12:06] mik-laj commented on #11305
@rafaelvargas I assigned you to "API supports Google IAP". I am trying to gain permission to publish the integration with Webserver but this may not happen so I do not assign myself to the task. However, I am happy to help with the review for  IAP integration for AIP.

[2020-10-19 12:38] BhuviTheDataGuy opened #11660 "GCSToBigQueryOperator - Not generating the Unique BQ Job Name"
I was using `GoogleCloudStorageToBigQueryOperator` then I wanted to use `GCSToBigQueryOperator`. When I run parallel data export from GCS to BQ, (via a for loop Im generating dynamic task) It is generating the BQ Job name as `test-composer:us-west2.airflow_1603109319` (I think its taking node name + current timestamp) as the job id for all the tasks.

**Error**
[code]
This is not allowing to impor

[2020-10-19 12:42] #11482 closed

[2020-10-19 12:47] mik-laj commented on #11618
Related: https://github.com/apache/airflow/pull/9671
CC: @kaxil @davido912 @madison-ookla

[2020-10-19 12:52] mik-laj commented on #11617
@jnunezgts Can I assign you to this report? I am happy to help with the review.
CC: @nullhack

[2020-10-19 13:02] jnunezgts commented on #11617
Hello,
That works. You may need to do a little bit off hand holding as I haven't submitted a patch to an OpenSource project in a while. Also I need to debug this to see why the DockerOperator is happy with the flag but the SwamDockerOperator is not (I suspect is how they pass the values between them but it is a wild guess at this point).

[2020-10-19 13:03] mik-laj commented on #11560
@wolfier Looks interesting. Can I assign you to this issue? We are open to pull requests from external contributors.

[2020-10-19 13:12] mik-laj commented on #10596
@rajatsri28  I think support for a single service account is sufficient in most cases. `gcloud config set auth/impersonate_service_account`  The gcloud command should work for all operators that use gcloud, so all you have to do is add account name forwarding in `airflow.providers.google.common.hooks.base_google.GoogleBaseHook.provide_authorized_gcloud` method.

`gcloud config set auth/impersonate

[2020-10-19 13:16] mik-laj commented on #11617
Don't worry. Be happy.  We will definitely help you. We also have a special channel for new contributors - #airflow-how-to-pr ([![Slack Status](https://img.shields.io/badge/slack-join_chat-white.svg?logo=slack&style=social)](https://s.apache.org/airflow-slack)
)

[2020-10-19 14:03] mik-laj commented on #11549
We are open to all operators, but they must have unit tests. :-)

Related: https://github.com/apache/airflow/issues/10386

[2020-10-19 14:05] mik-laj commented on #11549
Could you provide some use cases for such an operator?

[2020-10-19 14:14] #10505 closed

[2020-10-19 14:50] cherusk commented on #11549
I provided that of godon, where it would scrape the exporters or aggregator prometheus instance periodically in an optimization DAG. Would you need more detail?

[2020-10-19 15:17] mik-laj commented on #11657
CC: @schnie

[2020-10-19 15:58] dimberman commented on #11657
This is an interesting problem. I personally lean more towards terratest than I do towards any home-bakes solution. This of course raises the question of "but is airflow a python-only project" to which my reply would be "helm is a golang-based system. You're using go templating and all major tooling around it is written in golang."

@kaxil @ashb would love your thoughts as well, but especially sin

[2020-10-19 16:01] ashb commented on #11657
Snap comment without reading much of the context (sorry!): Yeah, I have no love of yaml, but I value not having to write our own test framework more.

I'll read this in detail tomorrow

[2020-10-19 16:12] mik-laj commented on #11657
@dimberman  DevOps world uses Bash, Python and Golang. I think anyone who knows Helm knows the basics of Python. However, this is not true the other way around. Not everyone who knows Python also knows Go.

We also don't need all Terratest features. If we have one goal - testing Helm templates, Then pytest will meet the expectations and we won't have to write a lot of our own code.  It is enough t

[2020-10-19 16:44] zachliu opened #11663 "ECSOperator failed to display logs from Cloudwatch randomly"
**Apache Airflow version**: v1.10.12

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): N/A

**Environment**:

- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): Deployed in ECS Fargate
- **Install tools**: poetry

**What happened**:

I'm having this issue **randomly** (I've calculated the error rate to be between 1~2% based on the

[2020-10-19 16:48] potiuk commented on #11657
Yeah I am strongly with @mik-laj  on that one. This has nothing to do with writing own  framework. Pytest is there and we all know it well. Those tests are basically about rendering yaml files and comparing if they are what they are expected to be. We use precisely "0" other features of terratest.

[2020-10-19 17:26] mik-laj commented on #11657
To be precise, [terratest](https://terratest.gruntwork.io/docs/getting-started/quick-start/) is just a library that provides a set of functions that make it easier to write tests, but it is not a full framework. You can use any framework, but the documentation recommends using Go’s built-in [package testing](https://golang.org/pkg/testing/). The module of interest for us is:
(`modules/helm/templat

[2020-10-19 20:23] ephraimbuddy opened #11666 "PythonVirtualenvOperator fails to find python_virtualenv_script.jinja2 template"
**Apache Airflow version**: 2.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**: Docker

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): Ubuntu
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

The PythonVirtualenvOperator failed because it couldn't find the python_virtualenv

[2020-10-19 20:27] mik-laj opened #11667 "LDAP and official docker image"
Hello,

Many users report a problem with ldap with the official Docker image. We should consider what we want to do with it:
a) add missing images to the image.
b) add documentation that will describe this case.

Related:
https://github.com/apache/airflow/pull/8745#issuecomment-711080959
https://github.com/apache/airflow/issues/11436
https://apache-airflow.slack.com/archives/CCR6P6JRL/p16031391394

[2020-10-19 20:28] mik-laj commented on #11667
CC: @potiuk

[2020-10-19 20:29] FelixKJose commented on #11667
stuck with this issue for two days:(

[2020-10-19 21:15] pcandoalmeida commented on #11039
Hey @turbaszek is the above work something I could do perhaps? If it's straightforward, I could perhaps implement it and then try and finish this rule 😃

[2020-10-19 21:22] #11286 closed

[2020-10-19 23:18] mik-laj commented on #11667
I heard that you managed to solve the problem, so I'm assigning you to this issue and I'm waiting for the guide.

[2020-10-20 02:16] mik-laj commented on #11146
@kaxil Any progress on this ticket? I can see Helm Chart still using this script which is not available in the official image.
https://github.com/apache/airflow/blob/3970bfad4c878d99adce80a4bfd824a15132a161/chart/templates/cleanup/cleanup-cronjob.yaml#L64
I think it won't be a big problem to add this script as a command to the CLI.
https://github.com/apache/airflow/blob/3970bfad4c878d99adce80a4bfd

[2020-10-20 05:25] potix2 commented on #10742
@kaxil Can I take D200?

[2020-10-20 06:53] gfelot opened #11673 "Issue with GCS and GCStoGCSOperator when dropping file"
**Apache Airflow version**: 1.10.9

**Environment**:

- **Cloud provider or hardware configuration**: GCP
- **OS** (e.g. from /etc/os-release): Debian

**What happened**:

It has been 2 weeks that I'm facing a strange issue and my DAG. Most of them start like this. A colleague upload manually a file into a GCS bucket, a cloud fonction is triggered at the end to launch from the API an Airflow DAG.

[2020-10-20 08:10] #10350 closed

[2020-10-20 08:20] #10882 closed

[2020-10-20 09:14] jahanxb commented on #8388
I have the same issue with my airflow, I am using version 1.10.12.
<img width="952" alt="image" src="https://user-images.githubusercontent.com/10818137/96565784-670c1800-12f7-11eb-8e30-f0d3ed76180d.png">

I cannot see the logs till the operation completes and even if the operation completes , i get this error. Why do we have to spend our time on tools with little or no support ? I will appreciate

[2020-10-20 09:35] potiuk opened #11676 "Flaky scheduler test"
We have flaky scheduler test:

https://github.com/apache/airflow/pull/11659/checks?check_run_id=1279791496#step:6:527

_______________ TestSchedulerJob.test_scheduler_task_start_date ________________

self = <tests.jobs.test_scheduler_job.TestSchedulerJob testMethod=test_scheduler_task_start_date>

    def test_scheduler_task_start_date(self):
        """
        Test that the scheduler respects t

[2020-10-20 10:02] ilyash-b opened #11679 "airflow/example_dags/example_kubernetes_executor.py - use_zip_binary() - code quality issue"
The description of `use_zip_binary()` is incorrect.

https://github.com/apache/airflow/blob/318f18f5a835f457c6a68426a476af89ace0c7e7/airflow/example_dags/example_kubernetes_executor.py#L69-L70

Additionally, the name `use_zip_binary` is not very telling. Maybe `assert_zip_binary` (based on what the function actually does)?

[2020-10-20 10:05] ilyash-b commented on #11679
Oops. Found bug in GitHub then. When you select the code first and then reference in new issue (which I did, as opposed to using the "New issue" button) there is no selection of templates.

[2020-10-20 10:21] potiuk commented on #11676
cc: @ashb

[2020-10-20 10:32] mik-laj commented on #8388
This should be fixed in the next release. See: https://github.com/apache/airflow/issues/11328
@turbaszek Can you confirm it?

[2020-10-20 10:35] mik-laj commented on #11679
Can you create PR with patch? I am happy to help with the review.

[2020-10-20 10:43] ilyash-b commented on #11679
I just started looking at the project and I don't understand enough to fix it quickly. The name `use_zip_binary` is debatable so I would probably leave it as is. What I don't know for example is how `use_zip_binary()` is even supposed to behave.

[2020-10-20 10:46] ilyash-b commented on #11679
Another thing. `The zip binary is missing` is semantically incorrect. Should be something like `Failed to run the zip binary`

[2020-10-20 10:56] pcandoalmeida commented on #10742
Hiya 👋🏼 @potix2 I believe D200 is currently being worked on 😃

[2020-10-20 11:43] #10306 closed

[2020-10-20 12:00] turbaszek commented on #11673
I would suggest migrating to airflow backport of providers packages and using `GCSToGCSOperator`
https://airflow.readthedocs.io/en/latest/backport-providers.html

[2020-10-20 12:01] #11666 closed

[2020-10-20 12:17] mik-laj opened #11686 "Confusing pod template files"
Hello,

We currently have files with a similar purpose in the project, but their purpose is not described. Are these files required for Airflow to work?  I think ``airflow//kubernetes_executor_templates/basic_template.yaml`` file is only needed on CI, so we can safely move it to /scripts/
[code]
@dimberman Can you help tell more about the purpose of these files?  I want to make sure the packages c

[2020-10-20 12:28] turbaszek commented on #8388
@mik-laj yes, #11328 should fix it

[2020-10-20 12:43] potix2 commented on #10742
@pcandoalmeida Yeah, I'm working on it. I'll send a pull request soon.

[2020-10-20 14:44] ryw commented on #11563
i just fired up a blank deployment w/ `astro` and `FROM astronomerio/ap-airflow:2.0.0-1.dev3-buster-onbuild`

and i can get fluttery behavior on the border of the circles

![Screen Recording 2020-10-20 at 10 41 30 AM](https://user-images.githubusercontent.com/4283/96602649-3b6e3b00-12c1-11eb-8443-29f6b8bfe549.gif)

[2020-10-20 15:35] ashb commented on #8458
Closed by #11537 -- I don't know enough about pyodbc, if someone is more familiar with it, feel free to comment/re-open this.

[2020-10-20 15:35] #8458 closed

[2020-10-20 16:07] dimberman commented on #11657
@mik-laj I played around with your python testing framework a bit more this morning and I LOVE it!!!

I made some modifications to clean up a bit and allow us to play with k8s objects instead of dicts but PTAL I think this will make everything MUCH easier :) https://github.com/apache/airflow/pull/11693

[2020-10-20 16:07] dimberman commented on #11657
(also it's a draft PR so tests will certainly fail/code quality needs clean-up but I think the basic idea will scale really well)

[2020-10-20 16:13] ashb commented on #11657
Yes, in quickly skimming the issue last night on my phone I  missed a lot of the context.

And an alternative version that uses pytest fixtures:

https://github.com/apache/airflow/pull/11694

[2020-10-20 16:26] potiuk opened #11695 "Master production docker image does not yet have providers installed."
For some reason despite #11490 the docker image built on DockerHub does not have providers folder.

[2020-10-20 17:13] casassg commented on #11599
I think we can activate `dag_run_conf_overrides_params` by default on master + https://github.com/apache/airflow/pull/10839#issuecomment-694079456 it may be enough. Proposing change of default in #10587

[2020-10-20 17:24] mjpieters commented on #11633
I've been running with the following patch for a few days now (added to `airflow_local_config.py` to ensure early loading):

[code]

and I have not seen any adverse side effects so far.

[2020-10-20 17:51] werbolis commented on #10576
Hi! I'd like to help with this issue, would it be OK to take `in_container_utils` and related stuff?

[2020-10-20 18:00] grepthat opened #11696 "WebUI does not have access to pod logs"
**Apache Airflow version**: v2.0.0a1 (latest master)

**Environment**:
- **OS**: Ubuntu 18.04.4 LTS
- **Kubernetes**: v1.19.3
- **Docker**: v19.03.12
- **Helm**: v3.3.4

**What happened**:

Trying to get a task log via the task instance list (*http:localhost:8080/taskinstance/list/*) yields an error saying that the **ServiceAccount airflow-webserver does not have the permission to list pods/log**.

[2020-10-20 18:07] OmairK commented on #10576
Hey @werbolis I had a WIP PR for `in_container_utils`, due to some personal commitments I have'nt been able to work on it lately let me know if you would like to co-author this PR.

[2020-10-20 18:33] werbolis commented on #10576
Hi @OmairK sure, why not. Should I fork your repo and make a PR to your branch, or is there some better way? Sorry if that's obvious, it's my first contribution attempt :)

[2020-10-20 18:43] OmairK commented on #10576
I have added you as a collaborator to my fork. You could directly contribute to the master branch and the changes that you push will be reflected on [this PR](https://github.com/apache/airflow/pull/10682) (sorry mixed up the WIP PR links in the last comment). Let me know if you have any trouble, I will be happy to help :smile:.

[2020-10-20 19:27] mik-laj commented on #11696
@msumit  Caan you help with it? I see that you added [this feature](https://github.com/apache/airflow/pull/8626/files) to Airflow, but you probably forgot about the documentation that describes the required permissions.

[2020-10-20 19:31] FloChehab commented on #11657
Hello,

I come from https://github.com/apache/airflow/pull/11681#issuecomment-712790910 .

So a bit of feedback on the experience with the current setup:

* The hardest part was for me to install the helm plugin (which doesn't seem to be maintained much ; I ended up on the fork https://github.com/quintush/helm-unittest)
* Maybe add a bit of documentation in the chart's README (the Overview in the

[2020-10-20 20:32] mjpieters opened #11697 "Celery worker hostname no longer supports %h, %n & %d patterns"
The recent [refactoring of the celery Worker process](https://github.com/apache/airflow/commit/02ce45cafec22a0a80257b2144d99ec8bb41c961) dropped the use of `celery.bin.worker.Worker()`, and switched to using the `celery.app.worker.Worker()` class more directly.

Unfortunately, it was the task of the former to format the [Celery hostname patterns](https://docs.celeryproject.org/en/latest/reference/

[2020-10-20 20:44] mik-laj commented on #11697
CC: @turbaszek @auvipy

[2020-10-20 20:51] mik-laj commented on #11696
@FloChehab Can you look at it also?

[2020-10-20 20:59] turbaszek commented on #11697
To be honest, I think we will need to revert #11336 due to #1162, it's more feasible than upgrading to 5.0 as suggested in the latter issue

[2020-10-20 21:42] turbaszek commented on #11039
@pcandoalmeida feel free to give it a shot 🚀

[2020-10-21 00:41] faihegberg commented on #10553
@mik-laj @turbaszek If this issue is not taken yet, I'd be interested to take this on :)

[2020-10-21 00:43] mik-laj commented on #10553
I assigned you to this ticket. 🐈

[2020-10-21 01:31] mik-laj opened #11704 "Disable DAG sync when DAG serialization is enabled in the Helm Chart"
Hello,

In order to optimize costs and to improve system security, I think it is worth adding the option to disable DAG synchronization in the web container, if the user has enabled DAG synchronization.

https://airflow.readthedocs.io/en/latest/dag-serialization.html

Best regards,
Kamil Breguła

[2020-10-21 01:36] mik-laj opened #11705 "External Redis database in the Helm Chart"
Hello

Some users do not want to use Redis provided by Helm Chart, but want to use an external database (installed on the same cluster or in a remote service such as [Cloud Memorystore for Redis](https://cloud.google.com/memorystore/docs/redis)). It would be useful to be able to configure the deployment so that such a database would be used by Celery.

Best regards,
Kamil Breguła

[2020-10-21 01:40] mik-laj opened #11706 "Authorization for Flower in the Helm Chart"
Hello,

The documentation for Helm Chart does not describe how to set up [Flower authorization](https://airflow.readthedocs.io/en/latest/security/flower.html?highlight=flower#flower-authentication) with a password. It would be useful if such documentation was added. It is possible that this will require changes to the Helm Chart to pass the required secrets.

Best regards,
Kamil Breguła

[2020-10-21 01:47] mik-laj opened #11707 "Manage connections, variables, pools in Helm Chart"
Hello,

Many users need to implement Airlfow and initialize instances with basic resources. It would be helpful if Helm Chart would facilitate this task.

For connections and variables, all we need to do is add documentation that describes the use of [environment variables](https://airflow.readthedocs.io/en/latest/cli-and-env-variables-ref.html#environment-variables).

For connections, we will hav

[2020-10-21 01:51] mik-laj opened #11708 "Git sync for plugins"
Hello,

Helm Chart currently supports DAG sync, but some users have the need to sync plugins in a similar way as well.

It would be fantastic if Helm Chart would make it easy to set up sync `~/airflow/plugins` from a separate repository as well.

Best regards,
Kamil Breguła

[2020-10-21 02:06] sreev commented on #11366
the logs seems piped into themselves.
here is a sample logs lines from running `% airflow scheduler` in my local on mac.

[code]

[2020-10-21 02:48] humbledude opened #11710 "JDBC connect string from connection uri parsed wrongly"
**Apache Airflow version**: 1.10.12

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.15.11

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:
I was testing [Hashcorp Vault SecretBackend](https://airflow.apache.org/docs/stable/h

[2020-10-21 04:01] kurtqq commented on #10781
@potiuk i believe this issue is resolved

[2020-10-21 06:50] dailingling opened #11711 "OSError: [Errno 12] Cannot allocate memory"
**Apache Airflow version**:

1.10.12
**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): no

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):  centos 7
- **Kernel** (e.g. `uname -a`):3.10.0-862.el7.x86_64
- **Install tools**: python3 install airflow
- **Others**:

**What happened**:

OSError: [Errno 12] Cannot allocat

[2020-10-21 08:40] FloChehab commented on #11696
Sure, I'll have a look at this ; give me 12h :)

[2020-10-21 09:14] #11622 closed

[2020-10-21 09:14] #11697 closed

[2020-10-21 10:18] mik-laj commented on #11704
@kaxil @ashb  Is DAG Serialization mature enough to handle this case?

[2020-10-21 10:23] ashb commented on #11704
Yes, as of 1.10.12 (with the introduction of Rendered template Fields table) the webserver no longer reads dag files with serialisation and store dag code on.

[2020-10-21 11:01] kaxil commented on #11704
https://github.com/apache/airflow/pull/11335 should take care of this issue too

[2020-10-21 11:53] gfelot commented on #11673
Thank for pointing this out. I'm looking forward to migrate to 2.0 when available and when it's a bit tested.

But I'm not sure at all that's an airflow issue (not the though I had when I wrote this issue) but I think there is something wrong with the GCS web site itself when dropping a file. I have imported 25 files from a python script that triggered the exact same DAG (so using the API to uploa

[2020-10-21 12:06] tooptoop4 opened #11714 "UPDATE statement on table 'dag' expected to update 1 row(s); 0 were matched."
airflow 1.10.12, mysql 5.7 metastore, rbac, no serialized dags, intermittent error found twice in the logs:

[2020-10-15 12:28:14,502] {scheduler_job.py:167} ERROR - Got an exception! Propagating...
Traceback (most recent call last):
  File "/home/ec2-user/venv/lib/python3.7/site-packages/airflow/jobs/scheduler_job.py", line 159, in _run_file_processor
    pickle_dags)
  File "/home/ec2-user/venv/

[2020-10-21 12:08] tooptoop4 opened #11715 "UPDATE statement on table 'job' expected to update 1 row(s); 0 were matched."
airflow 1.10.12, mysql 5.7 metastore, rbac, no serialized dags, intermittent error found 3 times in the logs:

Traceback (most recent call last):
  File "/home/ec2-user/venv/bin/airflow", line 37, in <module>
    args.func(args)
  File "/home/ec2-user/venv/lib/python3.7/site-packages/airflow/utils/cli.py", line 76, in wrapper
    return f(*args, **kwargs)
  File "/home/ec2-user/venv/lib/python3.7/

[2020-10-21 12:29] tooptoop4 opened #11716 "File "<frozen importlib._bootstrap>", line 682, in _load_unlocked"
airflow 1.10.12, mysql 5.7 metastore, rbac, no serialized dags

webserver log shows

[2020-10-21 12:17:47,419] {dagbag.py:259} ERROR - Failed to import: /home/user/airflow/dags/mydag.py
Traceback (most recent call last):
  File "/home/user/venv/lib/python3.7/site-packages/airflow/models/dagbag.py", line 256, in process_file
    m = imp.load_source(mod_name, filepath)
  File "/usr/lib64/python3.7/i

[2020-10-21 12:38] mjpieters opened #11717 "All task logging goes to the log for try_number 1"
**Apache Airflow version**: 2.0.0a1
**What happened**:

When a task fails on the first try, the log output for additional tries go to the log for the first attempt.

**What you expected to happen**:

The logs should go to the correct log file. For the default configuration, the log filename template is `log_filename_template = {{ ti.dag_id }}/{{ ti.task_id }}/{{ ts }}/{{ try_number }}.log`, so add

[2020-10-21 12:41] mik-laj commented on #11704
@kaxil  As far as I know, Helm Chart is supposed to support Airflow 1.10 and 2.0, so disabling DAG synchronization for webserver pod should be optional.

[2020-10-21 12:44] kaxil commented on #11704
Yes Helm Chart should still support both, is this Github issue just related to Helm Chart ?

[2020-10-21 12:48] potiuk commented on #11543
We have the first Deadlock with more information (on my PR):
https://github.com/apache/airflow/pull/11659/checks?check_run_id=1286626048

[code]

[2020-10-21 12:51] mik-laj commented on #11704
@kaxil   Yes. I want to disable DAG synchronization in Helm Chart, but only in one pod - webserver.

[2020-10-21 13:07] mjpieters commented on #11717
I can confirm that changing

https://github.com/apache/airflow/blob/172820db4d2009dd26fa8aef4a864fb8a3d7e78d/airflow/cli/commands/task_command.py#L172-L174

to

[code]

fixes this issue, but I don't know if the `refresh_..` call should be integrated into `init_run_context()` perhaps.

[2020-10-21 13:26] potiuk commented on #11543
@ashb @kaxil ^^  weekend to take a look :)

[2020-10-21 13:40] mjpieters commented on #11717
I found #7370, which removed that call, specifically see [these review comments](https://github.com/apache/airflow/pull/7370#discussion_r375370760):

Unfortunately, the logging context looks at the attributes of the TI!

[2020-10-21 13:56] turbaszek commented on #11717
@mjpieters would you like to open a PR?

[2020-10-21 14:14] turbaszek commented on #11673
@TobKed may be interested in it

[2020-10-21 14:35] TobKed opened #11721 "Dataflow operators - add user possibility to define expected terminal state"
**Description**

Related to the discussion here: https://github.com/apache/airflow/pull/8553#discussion_r416136954

Allow user to define expected terminal state. e.g. `JOB_STATE_CANCELLED` could be not treated as failure but expected terminal state.

[2020-10-21 15:15] ashb commented on #11717
Could be same as https://github.com/apache/airflow/issues/11561 (though more detail/cause here)

[2020-10-21 15:17] ashb commented on #11561
Closing in favour of #11717

[2020-10-21 15:17] #11561 closed

[2020-10-21 15:32] m0bi5 opened #11722 "KubernetesPodOperator unable to pull images from a private container registry"
**Apache Airflow version**:
v2-0-0dev (Using the `apache/airflow:master-python3.7` image from docker hub)

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.15

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): Debian GNU/Linux 10 (buster)
- **Kernel** (e.g. `uname -a`): x86_64 GNU/Linux

**What happened**:
I am trying to deploy the

[2020-10-21 15:54] m0bi5 commented on #11722
Fixed it by setting `image_pull_secrets` to a list of `kubernetes.client.models.V1LocalObjectReference()` instead of a plain string. Not sure if it changed in v2, but the [v1.10 docs](http://airflow.apache.org/docs/stable/_api/airflow/contrib/operators/kubernetes_pod_operator/index.html) says that it is expected to be a string.

[2020-10-21 15:54] #11722 closed

[2020-10-21 16:02] landier commented on #8872
Hello,

Chiming on this issue since I'm facing the very same situation. I want to extend the Airflow Dockerfile (or more precisely reduce by getting rid of some contribs) and I'm looking for a way to do it:
- without git cloning the repository it complicates a lot my build for only one file...
- nor duplicating only the Dockerfile by hand because it's not future-proof and prone to error if not upd

[2020-10-21 17:04] KulykDmytro commented on #10686
Initial issue which seems to be fixed with AIRFLOW-4453 has been returned back
PR: https://github.com/apache/airflow/pull/7464
Used version: 1.10.12 on KubernetesExecutor

[2020-10-21 17:19] potiuk commented on #8872
ONBUILD does not solve your problems. I wonder how do you imagine it solve the problem? We have no GCC/build-essentials in the  image anyway so at the very best you can get exactly the same as with extending the image (unless you have a better idea).  So all the DEV actions are not possible. And everything that you can do with ONBUILD can be done via extending the current image.

ONBUILD is a very

[2020-10-21 17:54] lafrinte commented on #11451
i modify the description and follow the template. wish your replay

[2020-10-21 19:01] FloChehab commented on #11705
Hello, just came across this issue.
Just wanted to let you know that we have started working on it a couple days ago: https://github.com/MeilleursAgents/airflow/commit/fb421f80264556e8c07be012ccb837bc82f5ae68 (it should work).

We plan on upstreaming this change at some point.

If the change roughly looks good to you, I can work on upstreaming this a bit earlier than I thought.

[2020-10-21 19:05] jakepaw opened #11727 "Volume mounts not mounted to worker pod"
**Apache Airflow version**:
1.10.12

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.17.3

**Environment**: development environment

**What happened**:
My web and scheduler pods are given the volumemounts specified in my values.yaml but once I launch a dag, the pod that airflow creates for this dag does not get the volume mounts specified. How can I tell airflow to

[2020-10-21 19:14] FloChehab commented on #11705
Ok, once this is tested in pré-production on our side, i'll come back to this.

[2020-10-21 19:19] mik-laj commented on #11705
@FloChehab  This is nothing urgent for me. I wanted to create a ticket to fill in the missing functions before this Helm Chart was released. I think you can wait to release this change as we are changing the unit test framework for Helm Chart. [The new framework](https://github.com/apache/airflow/issues/11657) will be much more convenient and easy, so you can fix your defects much faster.

[2020-10-21 19:26] FloChehab commented on #11696
@mik-laj  So, I can confirm / reproduce the issue.
I guess it's the webserver that is trying to fetch the logs and not the scheduler.

From what I can see in the chart:
* The ability to fetch logs is granted in the pod launcher role https://github.com/apache/airflow/blob/master/chart/templates/rbac/pod-launcher-role.yaml#L56
* But this role is only bound to worker & scheduler: https://github.com/a

[2020-10-21 19:27] FloChehab commented on #11705
Sounds good to me.

[2020-10-21 19:35] grepthat commented on #11696
Thanks for checking this out. As described I edited the helm chart to grant the permissions to *airflow-webserver* which solved the permissions issue for fetching the logs but led to the other error described.

[2020-10-21 19:41] FloChehab commented on #11696
Sorry, I forgot to read the second part of the description. Judging by the second error, I guess there might be a bug in airflow itself (I would have expected a 404 if the pod has been deleted but here it's a 400 that states that the pod name is missing in the request ?)

[2020-10-21 19:49] ashb commented on #11657
@mik-laj  @FloChehab @potiuk  Do you prefer the unit test style, or the pytest fixture style?

[2020-10-21 19:53] mik-laj opened #11728 "Restrict Communication from webserver to any other components"
Hello,

I have very strictt security requirements in my environment. One of these requirements is the lack of communication between the Web server and any other component. We strictly isolate the Web server as an entry point for large-scale attacks and the limited ability to audit operations from other components. Ideally, in our scenario, the Web server would only read data from the database and

[2020-10-21 19:55] mik-laj commented on #11728
Related issue: https://github.com/apache/airflow/issues/10130

[2020-10-21 19:58] mik-laj commented on #11657
@ashb I prefer unittest.TestCase, but I don't have a strong opinion. Any solution that is written in Python works for me.

Related discussion: https://lists.apache.org/thread.html/1e4df7d4b0cd9b2d2bb76a3336471aa85e852545dd41ada6d4e461b8%40%3Cdev.airflow.apache.org%3E

[2020-10-21 20:12] ashb commented on #11657
Honestly I think my biggest complaint now is the `self.assertEqual(a,b)` vs `assert a == b` - the later I find easier to read, and now we are using pytest for the runner it also gives better diagnostics in case of failure.

I think pytest fixtures are powerful, but on first seeing them they are a bit "magic" I'll grant.

[2020-10-21 20:13] #11560 closed

[2020-10-21 20:23] ashb commented on #11633
I'm re-working that query in question a bit as part of fixing #11582, I'll encorporate this fix in there and add a test case for it

[2020-10-21 20:25] KulykDmytro commented on #10686
Another one example on 1.10.12 shows same behavior for downstream task
[code]
![image](https://user-images.githubusercontent.com/34435869/96778564-8a68bd00-13f4-11eb-87a2-bdd584fd766b.png)

[2020-10-21 20:50] KulykDmytro commented on #10686
Anyhow behavior not corresponds with [documentation ](https://airflow.apache.org/docs/stable/concepts.html?highlight=branch#latest-run-only)
Even using a code snippet mentioned there receiving non-expected result (task4 being skipped)
![image](https://user-images.githubusercontent.com/34435869/96785866-1b8d6300-13f8-11eb-93b2-5805b5539247.png)

[2020-10-21 20:56] OmairK commented on #11073
@jhtimmins is this issue still relevant after this [change](https://github.com/apache/airflow/pull/10594/commits/bbd08a3c529f7af40842b80c42793b775071743e)?

[2020-10-21 21:05] kaxil opened #11731 "Using affinity and labels in pod_mutation_hook is not backwards-compatible in 1.10.12"
**Apache Airflow version**: 1.10.12

**What happened**:

Using the following `pod_mutation_hook` failed in 1.10.12 (it should have been backwards-compatible with 1.10.10) -- possibly I broke it.

[code]

**Error**:

[code]

cc @dimberman

[2020-10-21 21:07] mik-laj commented on #11366
Can you update your first post to match the template? In particular, I am interested in the Airflow version.
https://raw.githubusercontent.com/apache/airflow/master/.github/ISSUE_TEMPLATE/bug_report.md

[2020-10-21 21:17] mik-laj commented on #11073
I think we need to add unit tests to prevent regression.

[2020-10-21 21:46] ashb commented on #9976
Likely improved massive in Airflow 2.0.0 alpha by the AIP-15 work

[2020-10-21 22:00] joshzana commented on #8467
Any update on this bug?  It appears to only affect usage of airflow within the official docker image, as the unofficial puckel/docker image does not hit the bug with version 1.10.10 and the same Airflow RBAC + Google Auth configuration.

For those stuck on this, here's a workaround that worked for me.
Make a custom dockerfile and override the versions of the two libraries:
[code]

YMMV

[2020-10-22 00:11] yuqian90 commented on #10686
Hi @KulykDmytro, the original issue reported in #10686 and #10725 has been fixed in #10751 and will be released in the release of airflow.

I assume `latest_only` is a `LatestOnlyOperator`? The issue you are reporting here is unlikely caused by [Clearing tasks skipped by SkipMixin will skip them](https://github.com/apache/airflow/blob/master/UPDATING.md#clearing-tasks-skipped-by-skipmixin-will-ski

[2020-10-22 00:51] mik-laj commented on #11297
@potix2 @mlgruby @scrambldchannel I assigned you to this ticket  🐱

[2020-10-22 01:50] #8286 closed

[2020-10-22 03:25] mik-laj commented on #9708
The assumptions from the first post have been met -  each provider has coverage of at least 75%. Therefore, I consider the ticket **completed**. We can do more type annotations, but I believe that their absence is no longer a defect.

Thanks to everyone who supported this ticket with both contributions and reviews.
[code]

[2020-10-22 03:25] #9708 closed

[2020-10-22 05:00] ayush-san commented on #8467
@joshzana They have made the required changes for Airflow 2.0 https://github.com/apache/airflow/blob/master/UPDATING.md#breaking-change-in-oauth.

[2020-10-22 05:23] bbossy commented on #11695
@potiuk I tracked this down to a typo in the [Dockerfile](https://github.com/apache/airflow/blob/172820db4d2009dd26fa8aef4a864fb8a3d7e78d/Dockerfile#L212):

**ROVIDERS** instead of **PROVIDERS**
[code]

[2020-10-22 05:55] potiuk commented on #11695
AAAAAAAAAAAARGH. I thought I fixed it !!!! but apparently onle the ENV!

THANKS A LOT ! This is a total bummer !

[2020-10-22 07:03] lens7 commented on #11371
Basically, i guess this issue is either isn't encountered much, so found the real reason for this kind of error, its somewhat associate with the network, **The scheduler doesn't appear to be running, last heart was received X days/minutes/hours ago**, so have located the exact firewall rules that needs to be tuned a little to get the network setup correctly in order to fix the issue, attaching a s

[2020-10-22 07:06] lens7 commented on #11371
2 rules need to be check, the default-allow-internal and default-allow-ssh, these needs to enabled on all ports rather than some specific ports, or check exact ports needed open for composer/airflow in GKE context
![Screenshot (104)](https://user-images.githubusercontent.com/43311132/96836876-377a1e80-1463-11eb-96b2-dba631f54a87.png)

[2020-10-22 07:06] #11371 closed

[2020-10-22 08:14] JavierLopezT opened #11739 ""depends_on" functionality for DAGs"
Right now, if you want to execute a DAG after another, you have to use a TriggerDagRunOperator, SubDags... What I propose is a little simpler way of making this happen. It consists of adding a new parameter to the dag called depend_on, so it would be as follow:
`with DAG(dag_name, default_args=default_args, depends_on=dag_name_previous_dag):`

The parameter `depends_on` would make `schedule_interv

[2020-10-22 08:18] shivanshs9 commented on #11695
@potiuk damn, I had been facing the same issue for 2 days now and just realized it's due to a typo :sob:
By when do you think the fix will be live?

[2020-10-22 08:24] potiuk commented on #11695
Once i get approval I will trigger the build immediately, It should take some ~30/60 minutes to complete for all versions.

[2020-10-22 08:48] muscovitebob commented on #11660
I just started using this operator via the backports package a few days ago and I hit this at least one in ten times I invoke the operator, making it unusable without manual supervision. I do not use a dynamic dag but I do have a few `GCSToBigQueryOperator`s.

[code]

[2020-10-22 08:54] BhuviTheDataGuy commented on #11660
Yeah, maybe a bug, try the previous version(GoogleCloudStorageToBigQueryOperator). It works.

[2020-10-22 08:59] muscovitebob commented on #11660
[This](https://github.com/apache/airflow/blob/1da8379c913843834353b44861c62f332a461bdf/airflow/providers/google/cloud/hooks/bigquery.py#L1442) seems to be the method that incorrectly generates the job IDs but the format does not seem to match exactly what I get in the logs.
Meanwhile I will indeed switch to the older operator since you report it always generates job IDs correctly, thanks!

[2020-10-22 09:02] #11695 closed

[2020-10-22 09:12] potiuk commented on #11695
Merged. Builds are running in DockerHub. I will let you know when it completes!

[2020-10-22 09:21] shivanshs9 commented on #11695
@potiuk thank you! :tada: :smile:

[2020-10-22 09:25] thedrow commented on #11697
If this is a problem in general, please file an issue on Celery's repository.

[2020-10-22 09:37] landier commented on #8872
Hello,

First, thanks for the response.

We're currently actually extending the image exactly as your example however we're currently thinking of getting rid of some packages that are already installed (contribs mainly) hence we can try to identify each and every package and make sure we uninstall them but it sounds like something painful to do in the long run.

That is why I thought of the ONBUIL

[2020-10-22 09:50] potiuk commented on #8872
Just to justify a bit more my line of thoughts:

I have successfully used subrepo (https://github.com/ingydotnet/git-subrepo) rather than submodule to successfully sync-up the whole airflow to a customer project (and easily contribute back to upstream any changes we've done there). I can definitely recommend subrepo rather than submodule to do this (it is much nicer to work with as every time you

[2020-10-22 09:50] potiuk opened #11740 "Docker "read-only" repo with changes from Airflow pushed to it."
Following a discussion in https://github.com/apache/airflow/issues/8872 I believe it's a good idea to have a separate 'read-only" repository, where only a Dockerfile and corresponding scripts and documentation would be pushed from Airflow automatically.

We still want to keep the Dockerfile in Airlfow's mono-repo, but having a separate Dockerfile that can be conveniently used by the developers wou

[2020-10-22 09:55] potiuk commented on #8872
I created an issue for that https://github.com/apache/airflow/issues/11740 - so we can continue the discussion there. This one is already closed.

[2020-10-22 09:55] potiuk commented on #11740
cc: @landier

[2020-10-22 10:02] TKorr commented on #11057
Yes, I can't even assume the role. we are running Airflow on an EC2 instance so need to retrieve temporary security credentials from Amazon EC2 instance metadata.

[2020-10-22 10:22] turbaszek commented on #11697
@mjpieters do you think it may be worth reporting it?

[2020-10-22 10:25] ivica-k commented on #11057
Cool, that's what I figured. You need to allow other principals to assume that role in the Trust Relationship; go to the role you want to assume, click on Trust relationship and paste this (replacing uppercase text of course)

[code]

Lemme know how it goes.

[2020-10-22 10:31] #11717 closed

[2020-10-22 10:37] turbaszek commented on #11657
+1 for assert style, I think we should fix it in all database after 2.0 - there's a tool to do that.

I think I'm ok with both - fixtures and mocking. Sometimes I prefer to use one way and in other situation I prefer the other one.

In general, I think the test style is something that we should discuss after 2.0 - we didn't want to do any changes/enforcement previously because we had a looooot of

[2020-10-22 11:24] 4406arthur opened #11744 "kubernetes Executor init container git-sync-clone issue"
**Apache Airflow version**: v1.10.12

**Kubernetes version** : v1.18.2

**Environment**:

- **Cloud provider or hardware configuration**:  on-premise
- **OS** (e.g. from /etc/os-release): Red Hat 7.8
- **Kernel** (e.g. `uname **-a`):** 3.10
- **Install tools**: helm stable/airflow chart  version 7.13.0

**What happened**:

The dags pod describe details as below,  init container did not clone the r

[2020-10-22 12:11] #11633 closed

[2020-10-22 12:45] potiuk commented on #11695
@shivanshs9 @bbossy -> all shoudl be fixed now in Dockerhub. Tested with: `master-python3.7`

[code]
And the providers are there!

Thanks @bbossy - I looked at it yesterday a bit and the typo was so mind-cheating that I totally could not see it :)

[2020-10-22 13:23] mik-laj commented on #11657
I like fixtures when used with the scope module or session. When I only need to use fixtures for one test, I prefer to create simple functions instead of using fixtures/magic.

[2020-10-22 13:31] potiuk commented on #11657
I think I agree with all of you @ashb @turbaszek and @mik-laj :). Seems we all agree actually :)

+1 asserts are better (but let's not make it consistent just yet)
+1 on using both fixtures and mocks - and @mik-laj's case is a good example. I also prefer an explicit method where I do not have to something "common" to modules/session. And simple setup/tearDown is so much embedded now in my unit tes

[2020-10-22 13:33] ashb commented on #11657
Pytest has setup/teardown equivalents too, even without fixtures https://docs.pytest.org/en/stable/xunit_setup.html#method-and-function-level-setup-teardown

[2020-10-22 14:53] jakepaw commented on #11727
@mik-laj Any chance you could give me some pointers to work around this or where in the airflow code I can try create a custom mounting option?

[2020-10-22 16:06] szn commented on #8088
Interested in that

[2020-10-22 16:06] gtossou commented on #8766
I would like to work on this issue

[2020-10-22 16:08] OliverWBurke commented on #10576
i would like to pick up some of these

[2020-10-22 16:09] potiuk commented on #10576
Feel free :)

[2020-10-22 16:12] pkonarzewski commented on #11177
I'd like to try to fix it

[2020-10-22 16:13] pkonarzewski commented on #9957
I'd like to try to fix it

[2020-10-22 16:15] fatmumuhomer commented on #9145
@turbaszek I can work on this one for the workshop.

[2020-10-22 16:16] turbaszek commented on #11177
@pkonarzewski which operators would you like to improve?

[2020-10-22 16:17] tahakashaf commented on #10576
I'd like to work on some of these

[2020-10-22 16:18] enriqueayala commented on #11177
I would also like to contribute on this one

[2020-10-22 17:13] mjpieters commented on #11697
I _think_ it is a feature of the `celery worker` command, not necessarily of the `Worker` program?

The command-line for that command supports using `%h`, `%n` and `%i` placeholders, and by extension, so did `airflow worker`, and I was grateful for that support. Since Celery puts handling those placeholders in `celery.bin.worker` I'm presuming that they see this separate from `celery.apps.worker`.

[2020-10-22 17:16] mjpieters commented on #11697
I took a look at Celery 5, and there those parameters are very firmly placed in the 'command-line argument' camp, by defining a custom Click [argument type `Hostname`](https://docs.celeryproject.org/en/latest/_modules/celery/bin/worker.html#Hostname), that handles the placeholders when parsing command-line arguments.

[2020-10-22 17:28] mik-laj commented on #11744
This issue does not look related to Apache Airflow or [the Helm Chart](https://github.com/apache/airflow/tree/master/chart) being developed by this project, so I have to close this issue.

Please create a ticket in the correct repository - https://github.com/helm/charts/issues

[2020-10-22 17:28] #11744 closed

[2020-10-22 17:55] werbolis commented on #10576
@OliverWBurke @tahakashaf Just a note to prevent doubling work :) I'm working on a [PR](https://github.com/apache/airflow/pull/10682) started by @OmairK, related to `in_container` scripts. It's work in progress, but somewhat advanced;  if you'd like to work on them, maybe you could help us with review/ideas? The PR does not touch `libraries`.

[2020-10-22 19:33] potiuk commented on #11657
Correct. But it feels like joining the worst of both worlds. Classic unit-test setUp/tearDown are familiar and "natural" where pytest fixtures are modern and a bit less familiar. I'd rather move to fixtures rather than to pytest's setup/teardown.

[2020-10-22 19:57] grepthat commented on #11696
Some more info on this:
I think #11729 should fix the issue for access to the pod logs (I'm not a Kubernetes expert though).

The other error I mentioned (about getting an error 400 when trying to fetch the logs) was related to setting a different uid/gid in the helm install. The worker pod's were launched with that uid, so the default user was not airflow. I got this log from the worker-pod:

[co

[2020-10-22 20:29] mik-laj commented on #11740
+1 This will allow us to create a separate README.md file for this image. Currently, In DockerHub README.md from our apache/airflow repository is available, which is not very useful for a Docker image user.

Dockerhub apache/airflow: https://hub.docker.com/r/apache/airflow

I would prefer we had a separate README.md file for the image. The Keycloaak approach is similar
Dockerhub: https://hub.docke

[2020-10-22 20:51] jongillham commented on #10730
@potiuk I would be very grateful for an example showing how this commit will allow me to pass HTTP proxy details to the `gpg --keyserver` command during the Airflow `breeze` [build process for production images](https://github.com/apache/airflow/blob/master/BREEZE.rst#id22).

[2020-10-22 21:23] mik-laj commented on #9957
@pkonarzewski I assigned you to this ticket 🐈

[2020-10-22 21:29] mik-laj commented on #11727
You should use the [pod_mutation_hook](https://airflow.readthedocs.io/en/latest/kubernetes.html#pod-mutation-hook) or [pod_template_file](https://airflow.readthedocs.io/en/latest/configurations-ref.html#pod-template-file).  In case of problems, please ask on Slack. Github issues is not for asking questions.

[2020-10-22 21:29] #11727 closed

[2020-10-23 00:41] shivanshs9 opened #11754 "Scheduler doesn't schedule task instances again due to "max_active_runs""
**Apache Airflow version**: v2.0.0a1
**Apache Airflow Docker Image**: docker.pkg.github.com/apache/airflow/master-python3.8:32f24cbd44fc0a893e293aa0ac24983045dfde1e

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
[code]

**Environment**:

- **Cloud provider or hardware configuration**: KIND (Local Kubernetes)
- **OS** (e.g. from /etc/os-release): Arch
- **Kernel** (e

[2020-10-23 01:23] mik-laj opened #11755 "RBAC and more customization in Helm Chart"
Hello,

The Helm community has prepared [best practices for RBAC](https://helm.sh/docs/chart_best_practices/rbac/).

In particular, it would be useful to make the following changes:
- The path to enable `rbac` should be `rbac.create` instead of `rbacEnabled`.
- It should be possible to disable the creation of each SA individually, but the service account should still be associated with the same re

[2020-10-23 02:47] xqandpan opened #11756 "The dependent package version is incompatible"
The **attrs** and **cattrs** packages version is incompatible.
Check command:
`pip check --use-feature=2020-resolver`

Code file: https://github.com/apache/airflow/blob/master/setup.py
Commit hash: 9150330
Line number:
694: 'attrs~=19.3'
696: 'cattrs~=1.0'

It will caused the final installed **attrs** version is higher than 20.1.0.

Why this happen?
From the dependency setting of **cattrs**:
https

[2020-10-23 07:10] #10620 closed

[2020-10-23 07:22] ayush1291 opened #11758 "'execution_time' for first run is not correct when, 'catchup'=False and 'schedule_interval' is using timedelta function"
When trying to run a dag with `catchup=False` and `schedule_interval=timedelta(minutes=5)`. Basically, here we are using timedelta function for schedule_interval.
 Here is sample dag:

[code]
Now, the first runs **execution_time should not have seconds and milliseconds** part. It should be 0.
However, we are getting wrong execution_time. It is also adding seconds and milliseconds there.

<img widt

[2020-10-23 07:44] feluelle commented on #9145
I thought @kishvanchee liked to work on that one?

I think using SlackHook for the file upload makes sense and the use the SlackWebHook for the rest.

[2020-10-23 08:37] dispensable commented on #7935
Same issue here with 1.10.12 + rabbitmq + celery + k8s. The scheduler keeps logging `[2020-10-23 08:10:21,387] {{scheduler_job.py:237}} WARNING - Killing PID 30918` while in the container side shows `[airflow schedul] <defunct>` generated by `airflow scheduler - DagFileProcessor <example_dag.py>` over and over again. And the scheduler just get stuck and never schedule any tasks.

[2020-10-23 08:50] ashb commented on #11543
If I'm reading that trace right, the deadlock is caused by two processes trying to INSERT in to dag  table at the same time.

Statement that died was inserting `test_start_date_scheduling` (TRANSACTION 12600)

Lock was held by a txn inserting `test_verify_integrity_if_dag_changed` (TRANSACTION 12605)

Given that it's not a select/lock query causing the lock, I think that retry this insert in case

[2020-10-23 08:51] #11582 closed

[2020-10-23 09:43] duyet commented on #7935
Have you tried to cat the `{AIRFLOW_HOME}/logs/dag_processor_manager/dag_processor_manager.log`? It may help, maybe the DAG Processor timeout.

[2020-10-23 10:00] mik-laj commented on #11756
Do you use constraint files? https://airflow.readthedocs.io/en/latest/installation.html#getting-airflow

[2020-10-23 10:04] ashb commented on #11294
I wasn't happy with the answer we got from Github for the "137 exit code" ticket, so I've opened another ticket https://support.github.com/ticket/personal/0/880426 -- lets see if we get the same answer or not.

It just seems weird to me that they would cancel an in-progress job just because it hit a concurrency limit, when the rest of the time the behaviour _we_ see on our jobs is that we just sit

[2020-10-23 10:05] #11513 closed

[2020-10-23 10:06] jaydesl commented on #11755
I'll jump on this

[2020-10-23 10:07] potiuk commented on #11543
I have not yet looked at this, but I will have a cloer look during the weekend.

From my past investigation It's not  always straightforward

In the meantime, I also dump another case.

https://github.com/apache/airflow/runs/1294560665:

[code]

[2020-10-23 10:08] doowhtron opened #11768 "Task is skipped after a branch task"
**Apache Airflow version**: 1.10.12

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):  centos7
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

My Dag File is as follows:
![企业微信截图_160344742810](https://user-images.githubusercon

[2020-10-23 10:13] potiuk commented on #11294
Cool. Just remember that this is single queue for ALL ASF projects. So unless you manually check all other ASF projects, we have no way of knowing what is the queue: I asked INFRA for that as well (at least to get better visibility and to know what causes the queeu): https://issues.apache.org/jira/projects/INFRA/issues/INFRA-20978 but they said they cannot help with it.

[2020-10-23 10:14] potiuk commented on #11294
So if you can also follow up with INFRA on that, it would be helpful

[2020-10-23 10:33] kishvanchee commented on #9145
@feluelle I am, I didn't get this assigned to me though. Although now I am confused whether I should be working on this...

[2020-10-23 12:58] Khrol opened #11780 "Performance degradation in 1.10.12 (https://github.com/apache/airflow/pull/7276/)"
**Apache Airflow version**: 1.10.12

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

We have a DAG with ~1300 tasks. After the 1.10.11 -> 1.10.12 upgrade Dag file processing tim

[2020-10-23 13:31] tshrinivasan opened #11781 "Add number to each dag in DAGs list page"
**Description**

The DAGs list page lists all the dags. It will be good to have "Number" as first column.

**Use case / motivation**

We dont have any number displayed on the DAGs list page, to know how many dags are there.
It will be help to have a serial number as first column.

[2020-10-23 14:26] potix2 commented on #10742
I'm working on D400.

[2020-10-23 14:38] fatmumuhomer commented on #9145
@kishvanchee feel free to take it and work on it if you would like. I was using this as a practice issue in the contributor workshop that @turbaszek was teaching. I'm happy to grab a different issue.

[2020-10-23 14:44] doowhtron commented on #11768
just found https://github.com/apache/airflow/pull/10751

[2020-10-23 14:44] norwoodj commented on #7935
@teastburn we tried these settings and it did not fix things. @duyet I tailed those logs and didn't see anything out of the ordinary, the logs just... stop. It's happening now, so any debugging info you'd like me to take I can do:
![Screen Shot 2020-10-23 at 14 40 03](https://user-images.githubusercontent.com/2896045/97017682-c0658880-153d-11eb-92de-47b174588dbb.png).

We use airflow here at Cloud

[2020-10-23 14:45] #11768 closed

[2020-10-23 14:47] #11433 closed

[2020-10-23 14:47] #11546 closed

[2020-10-23 15:06] duyet commented on #7935
@norwoodj you can also set log level to DEBUG.
I used to stuck with Airflow scheduler because the processing is timeout 50s by default.
I got the same problem with the scheduler stop working. Airflow scheduler also have the `run_duration` to restart the Scheduler automatically after a given amount of time.

https://github.com/apache/airflow/blob/1.10.12/airflow/config_templates/default_airflow.cfg

[2020-10-23 16:00] madison-ookla commented on #11781
Are you running airflow with RBAC enabled? Because there is a count of all DAGs (and active vs paused) on the DAG list page:
![Screen Shot 2020-10-23 at 9 00 14 AM](https://user-images.githubusercontent.com/52679885/97026456-3eaa3680-150e-11eb-82fe-dbbf7eac45ea.png)

[2020-10-23 16:05] tshrinivasan commented on #11781
This is nice.

It will be nice to see the serial number as the first column on the DAGs
list page.

It will be good to identify the DAGs and mention to others, when we have
the DAG names as alphanumeric characters only.

[2020-10-23 16:39] potiuk opened #11787 "Database locked issue"
**Environment**:

Breeze Sqlite version

**What happened**:

With the current master version of Airflow there is a problem with locking the database when running default Airflow configuration in Sqlite in Breeze.

## How to reproduce

```./breeze start-airflow --load-example-dags```

Start running/clicking on DAGS, You will soon start getting errors:

[code]

**Anything else we need to know**:

[2020-10-23 16:39] potiuk commented on #11787
cc: @ashb

[2020-10-23 16:44] madison-ookla commented on #11781
DAG IDs are currently the primary key for the DAG table, and I don't imagine that an additional serial will be added to the model definition as the alphanumeric name serves as the unique identifier: https://github.com/apache/airflow/blob/master/airflow/models/dag.py#L1970

[2020-10-23 16:55] ashb commented on #11787
Cc @kaxil

[2020-10-23 17:00] potiuk opened #11788 "Scheduler does not appear to be running properly in default airflow setup"
Scheduler seems to be stucka and finaly exits with deadlock error (in mysql) in the current master setup in breeze

**What happened**:

When you run example dags in Breeze in current master you get "missing scheduler" warning and the scheduler seems to be stuck. In MySQL it also timeouts with Deadloc after a while. In Postrges it seems to be stuck indefinitely.

**How to reproduce it**:

`./breeze

[2020-10-23 17:01] potiuk commented on #11788
cc: @ashb @kaxil - seems that we have a consistent problem in master now - neither of sqlite/mysql/postgres configuration work (in breeze at least) due to database being locked :(

[2020-10-23 17:02] potiuk commented on #11788
See #11787 linked issue as well.

[2020-10-23 17:03] kaxil commented on #11788
taking a look

[2020-10-23 17:29] bpleines opened #11789 "KubernetesExecutor git-sync example"
**Apache Airflow version**: 1.10.12

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): `1.18.8`

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

The included `git-sync` example has a few issues that if addressed may aid adoption

[2020-10-23 17:44] ashb commented on #11788
What's the postgres error?

[2020-10-23 17:48] potiuk commented on #11788
No error. Just stuck it seems :(. That's why it's difficult to investigate.

[2020-10-23 17:50] potiuk commented on #11788
It might be equally well some configuration or image problem of Breeze, so I am trying to look at it as well, but even if it is, others might have similar problems and there is little clue to investigate :(

[2020-10-23 18:01] kaxil commented on #11788
It is just stuck at:

[code]

[2020-10-23 18:04] potiuk commented on #11788
Yep. Same thing for me.

[2020-10-23 18:05] kaxil commented on #11788
Note, it just frooze for SequentialExecutor, works for me on `LocalExecutor`

[2020-10-23 18:12] potiuk commented on #11788
Does it mean that by default we use the Sequential one :) ?

[2020-10-23 18:15] kaxil commented on #11788
Yup, I created: https://github.com/apache/airflow/compare/master...astronomer:use-local-exec-by-default?expand=1

[2020-10-23 18:19] #11563 closed

[2020-10-23 18:26] FloChehab commented on #11696
@grepthat we all learn the hard way "once" that we must set the uid / gid to be consistent with the user in the docker image haha. If you want to play with that, the airflow image can be parametrized in that regard.

[2020-10-23 18:32] FloChehab commented on #11657
I don't have opinion for going for the one or the other ; I am sure you'll make the good choice.

[2020-10-23 18:40] FloChehab commented on #11707
Hello, giving this issue a big :+1:

This feature is already available in another chart, so if someone needs inspirations for this: https://github.com/helm/charts/blob/master/stable/airflow/templates/scheduler/scheduler-deployment.yaml#L250

[2020-10-23 19:00] tooptoop4 opened #11794 "airflow2 alpha1 issues"
1.
getting ModuleNotFoundError: No module named 'airflow.contrib.auth' when trying to create user

2.
should password package be default not an [extra]? can't use webui or trigger dag without password

3.
authenticate field (under [webserver]) in .cfg seems unused too

[2020-10-23 19:14] ryw opened #11795 "links wrapping on standard-width browser"
on my macbook pro w/ chrome full width…

<img width="1423" alt="Screen Shot 2020-10-23 at 3 01 04 PM" src="https://user-images.githubusercontent.com/4283/97044480-2ce28680-1542-11eb-9a28-cea71e283678.png">

if i bump down to 90%...

<img width="1435" alt="Screen Shot 2020-10-23 at 3 02 08 PM" src="https://user-images.githubusercontent.com/4283/97044866-bf832580-1542-11eb-9e72-1660a52c49f2.png">

s

[2020-10-23 19:16] ryanahamilton commented on #11795
I've got some ideas on how to alleviate this.

[2020-10-23 20:02] ashb commented on #11788
Got a fix for the sequential executor too. Missing a single commit.

[2020-10-23 20:04] ashb commented on #11788
For Postgres this query helped me track this down:

[code]

(from https://wiki.postgresql.org/wiki/Lock_Monitoring)

[2020-10-23 20:06] kaxil commented on #11788
God bless Postgres Devs

[2020-10-23 20:14] mik-laj commented on #11077
We took a step forward! I talked to the authors of the ArtifactsHub project about my think and they liked it so much that they immediately implemented it and released it to the server.
![](https://user-images.githubusercontent.com/1213902/97011455-fd824880-1546-11eb-8b35-f08307b0b82b.png)

You can take a look at it live in the Artifact Hub package: https://artifacthub.io/packages/helm/artifact-hub

[2020-10-23 20:27] mik-laj commented on #10752
I would like to leave a note here that if we publish the documentation on ArtifactsHub, we will have user-friendly reference documentation.
See:
https://github.com/apache/airflow/issues/11077

[2020-10-23 20:27] #11077 closed

[2020-10-23 21:21] #11787 closed

[2020-10-23 21:21] #11788 closed

[2020-10-23 21:24] jedcunningham opened #11798 "provide_context backwards compatibility is broken"
Backwards compatibility was broken for provide_context:

https://github.com/apache/airflow/blob/master/UPDATING.md#airflowoperatorspythonpythonoperator
^ states "The change is backwards compatible, setting provide_context will add the provide_context variable to the kwargs (but won't do anything)."

However, https://github.com/apache/airflow/commit/e9d65e3d21f2aa6eaeb557b2960730628540127f came by

[2020-10-23 21:37] mik-laj commented on #11657
I like both of them - @ashb and Daniela. However, if I had to choose one PR it would be Daniel's PR because it includes additional k8s API validation.

[2020-10-23 21:39] ashb commented on #11657
Yeah Daniel has taken it further than I have - I was just creating a prototype.

I suspect once he's done and merged I may show converting it to pytest

[2020-10-23 21:39] dimberman commented on #10752
@mik-laj That's fantastic thank you!!

[2020-10-23 21:55] kaxil commented on #11798
This has been fixed on Master: https://github.com/apache/airflow/pull/11597

[2020-10-23 21:55] #11798 closed

[2020-10-23 21:58] kaxil commented on #11780
cc @yuqian90 -- Any ideas, thoughts?

[2020-10-23 22:00] kaxil commented on #11758
This is how it works unfortuntaly with timedelta it is basically the first time it runs + timedelta whereas with corn it runs at that time of the day no matter when it started

[2020-10-23 22:00] #11758 closed

[2020-10-23 22:06] jedcunningham commented on #11798
@kaxil, 🤦‍♂️, sorry about that.

[2020-10-23 22:41] mik-laj commented on #7935
This looks like a Python bug. I have already used a workaround in one place to fix a similar problem. I think it would be worth checking if we do not have a similar problem in DagFileProcessor.
See:  https://github.com/apache/airflow/pull/11734

[2020-10-23 22:58] mik-laj commented on #7935
This change recently improved the use of Pool in the celery of an executor. I think it's also worth checking out.
https://github.com/apache/airflow/pull/11278/files

[2020-10-23 23:10] mik-laj commented on #11794
All these problems are because we deleted the Non-RBAC UI. We now only support the new RBAC UI based on Flask App Builder in Airflow 2.0. In Airflow 1.10, we support RBAC UI and Non-RBAC UI. but the non-RBAC UI doesn't get any new features, just security fixes starting from Airflow 1.10.8.
See: https://github.com/apache/airflow/blob/master/UPDATING.md#drop-legacy-ui-in-favor-of-fab-rbac-ui

[2020-10-23 23:10] #11794 closed

[2020-10-23 23:16] kaxil commented on #10511
This is now possible with https://airflow.readthedocs.io/en/latest/tutorial_decorated_flows.html

[2020-10-23 23:16] #10511 closed

[2020-10-23 23:16] kaxil commented on #10511
https://airflow.readthedocs.io/en/latest/concepts.html?highlight=Decorated%20Flows#decorated-flows

[2020-10-24 00:24] kaxil commented on #11146
PR: https://github.com/apache/airflow/pull/11802

[2020-10-24 00:30] yuqian90 commented on #11780
The fix is in master but not in 1.10.*. I tried to cherry pick it in https://github.com/apache/airflow/pull/11010

Once it's merged in 1.10 this slowness will be addressed.

[2020-10-24 00:57] #9414 closed

[2020-10-24 00:58] #11756 closed

[2020-10-24 08:29] potiuk opened #11816 "[QUARANTINE] Flaky test TestPostClearTaskInstances.test_should_response_200_with_reset_dag_run"
Flaky test here:

TestPostClearTaskInstances.test_should_response_200_with_reset_dag_run

https://github.com/apache/airflow/pull/11809/checks?check_run_id=1301036003#step:6:1336

Looks like an easy to fix by allowing rows returned in reverse order as well

[code]

[2020-10-24 09:15] KulykDmytro commented on #11696
WebUI should run with serviceAccount which have RBAC permissions on k8s cluster to get logs
[code]
[code]

[2020-10-24 09:54] KulykDmytro opened #11819 "LatestOnlyOperator cascades skipped status despite of trigger_rule set"
**Apache Airflow version**: 1.10.12
**Kubernetes version**: 1.18.6
**What happened**:
Forwarded from https://github.com/apache/airflow/issues/10686
In case when LatestOnlyOperator set as upstream all downstreams tasks are being skipped despite of `trigger_rule` set to any of `all_done`, `none_failed`, `none_failed_or_skipped`. It behaves same as `all_success` which is contradicts with [documentati

[2020-10-24 12:22] BhuviTheDataGuy opened #11822 "Python Operator - Get xcom_pull from a different task"
I have a SQL file like below.
[code]
And Im calling a function from python operator. So I need to pass maxdt value while calling that python operator.
[code]
There was a task called `push_result_{}.format(table_name)` do some process and push a data value to **xcom**. Now here I need to get that value and pass it inside my pull task. So my SQL templated query will get the value and pass it to the

[2020-10-24 12:31] mik-laj commented on #11822
[code]
That should fix the problem. In the future, please try to fix the problem yourself or with the help of a #troubleshooting
 channel  ([![Slack Status](https://img.shields.io/badge/slack-join_chat-white.svg?logo=slack&style=social)](https://s.apache.org/airflow-slack)) before reporting a bug. Github Issues is not intended to teach new people how to use Airflow and share knowledge, but it is u

[2020-10-24 12:37] #11816 closed

[2020-10-24 12:48] BhuviTheDataGuy commented on #11822
Hey @mik-laj  Sure,

Seems it's not resolving the template instead its passing the string as it is.

[code]
I'll try to get help from the slack.
Thanks

[2020-10-24 13:43] pkonarzewski commented on #9957
So I've wrote some code to fix this issue, but now i have some doubts.
It's a simple fix, but there is few corner cases, that make it a little bit messy for me.

My problems are:
1. get_records() with one sql returns List[Tuple], with list of sqls it will return List[List[Tuple]], is this inconsistency ok?
2. get_first() returns Tuple, should multi sql statements return List[Tuple]? Same problem a

[2020-10-24 16:05] szn commented on #8088
I have a case needed to be clarified:

`setup.py:`
[code]

`installation.rst:`
[code]

As far as I understand this is one extras (`amazon`) with additional alias (`aws`). I would expect the official name to be mentioned in `installation.rst` file (`amazon`). **Q1: right?**

**Q2:** is `TODO remove` saying _remove alias_ or _remove extras_ and should actually be doubled in `setup.py`?

[2020-10-24 16:58] potiuk commented on #8088
Good questions :)

Q1: right
Q2: remove is remove alias - should be indeed doubled in `installation.rst`

[2020-10-24 16:59] potiuk commented on #8088
For the Q2 case. It might actually be easier if we separate out all the deprecated extras to a separate constant? `DEPRECATED_EXTRAS`. We just need to make sure to add those two where we use EXTRAS so far.

[2020-10-24 17:01] potiuk commented on #8088
But it's up to you :)

[2020-10-24 17:21] pprzetacznik commented on #11654
Just for the record, I believe that creating `webserver_config.py` file in the airflow home directory file with the following content may work.
[code]
However, that won't work for 1.10.12 version yet so we need to wait until that will be released or use the master branch version.

I came to that after studying the source code and haven't tested that yet as I'm still on 1.10.12 stable version.
http

[2020-10-24 17:59] szn commented on #8088
Next question:

Some extras are defined in a `name: name` style (see `cloudant` below). Others define it's name and alias (see `atlas` below). And there is `async` extras which defines only alias (see below).

`setup.py:`
[code]

 **Q3:** Should actually `async` be defined twice in `setup.py` same as `atlas`?
**Q4:** If not, what's the difference between them?

[2020-10-24 18:28] potiuk commented on #8088
Q3: The "apache.atlas" is the new "official" name in 2.0 (as all apache external projects - they are all grouped in the "apache" subdirectory in providers and ultimate goal when we release 2.0 is to have 1-1 mapping of provider names to the corresponding "extras names" (some extras are not really providers, so there will be more extras than providers). So "atlas" should be added to the deprecated

[2020-10-24 18:29] potiuk commented on #8088
Great questions BTW!

[2020-10-24 23:08] mik-laj commented on #8088
async is a restricted keyword in python. You cannot create a variable with this name, but it can be the name of a key in the dictionary.

[2020-10-25 04:04] jmelot commented on #11040
Thanks, and sorry for taking so long to follow up. I [implemented a rule](https://github.com/jmelot/airflow/commit/d9a109952d9bec5b7dc6e7db10001dd69a7e796d) for this that parses the text of the files in the dags folder and looks for bitshift operators being used on DAG instances. I keep wondering if I'm missing a better way to do this, though. Would you please take a quick look and see if this is

[2020-10-25 10:32] turbaszek commented on #11040
@jmelot would you mind opening a PR? This will simplify the review :) Please, target the `v1-10-stable` branch

[2020-10-25 13:30] potiuk opened #11837 "[QUARANTINE] Failures of Core Test Task Instance tests due to a rogue dependency release"
TestTaskInstance tests fail in scheduled/master build - likely due to some dependency that gets upgraded to latest version in scheduled run:

Example: https://github.com/apache/airflow/runs/1303692175?check_suite_focus=true#step:6:521

[code]

[2020-10-25 13:32] potiuk commented on #11837
Everyone: I am adding one more fix to scheduled builds to see exactly which version of packages are upgraded in the scheduled run. For now this constraint generation with diff is skipped in the scheduled run but I will re-enabled it so tonight we will likely know more.

[2020-10-25 15:39] szn commented on #8088
@potiuk @mik-laj PR marked as ready for review

[2020-10-25 16:39] jkinkead opened #11841 "Support Kuberenetes python live v12 in KubernetesExecutor - ApiException/410 errors"
**Apache Airflow version**: 1.10.11

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
[code]

**What happened**:

We've been seeing occasional issues in our logs where the Kubernetes executor throws an API exception [on this stream call](https://github.com/apache/airflow/blob/2d25377a20cabac9ea1d26d015e6ac6e9606ac14/airflow/executors/kubernetes_executor.py#L298-L299):

[2020-10-25 20:22] potiuk commented on #11740
Hey @landier - Please take a look at https://github.com/potiuk/airflow-docker where I implemented it.

You just need to:

1) clone the repo
2) check out the "master" branch
3) run docker build pointing out to the version of Airflow you want to install (see the README)

I think that should do the job nicely :). Please let me know what you think.

I restarted relevant discussion in our monorepo vs.

[2020-10-25 20:27] kurtqq commented on #11781
if the issue is only total number than you already have an answer in previous comments.
if you are after just numbing the dags i don't think i see the value of this. The numbing you will see is artificial in the UI - it will be based on ur current filtering, someone else will have different numbers to the same dags.

[2020-10-25 20:53] kurtqq opened #11845 "Telegram hook and operator"
add Telegram hook and operator.
Good work has been done on https://github.com/apache/airflow/pull/4891 but it wasn't merge because it was missing tests.

I might start work on that if time allows but if someone else wants to work on this feel free to comment and takeover

[2020-10-25 21:35] #11074 closed

[2020-10-26 07:05] feluelle commented on #9564
Hey @potiuk I am running the code from latest master and experiencing this issue, too, with following changes to the default config:
[code]
That's all. (Probably also occuring in the default config. It might have sth. to do with LocalExecutor only?!)
[code]

[2020-10-26 07:08] feluelle commented on #9564
Most of the time a single restart of the scheduler service is enough to get around this. But this happens quite often.

[2020-10-26 07:15] Khrol commented on #11780
I agree that the fix is not a new feature but a bug fix and should be merged into 1.10.*

[2020-10-26 08:56] thedrow commented on #11697
I presumed that functionality is related to the CLI itself.
I can fix it or you can come up with a PR, if that's not the case.

[2020-10-26 09:30] iam-mhaseeb commented on #11822
@BhuviTheDataGuy It should, you can take a look at this too (https://stackoverflow.com/a/46061162/6042903).

[2020-10-26 10:45] potiuk commented on #9564
Hmm. Is it also super-slow comparing to the virtualenv one?

[2020-10-26 11:19] landier commented on #11740
Thank, I'll look at it!

[2020-10-26 12:09] rootcss commented on #11845
@mik-laj Can you assign this to me?

[2020-10-26 12:11] eladkal commented on #7970
Solved in https://github.com/apache/airflow/pull/11534

[2020-10-26 12:11] #7970 closed

[2020-10-26 12:14] kaxil commented on #11845
Assigned

[2020-10-26 12:16] eladkal commented on #8036
Issue is fixed in [salesforce provider](https://pypi.org/project/apache-airflow-backport-providers-salesforce/)>=  2020.6.24

[2020-10-26 12:16] #8036 closed

[2020-10-26 12:38] eladkal commented on #8433
Resolved in https://github.com/apache/airflow/pull/5519 and released in [slack provider ](https://pypi.org/project/apache-airflow-backport-providers-slack/)>= 2020.6.24

[2020-10-26 12:38] #8433 closed

[2020-10-26 12:57] kaxil commented on #10781
Does this occur in 1.10.12 too, if so yeah I am happy to cherry-pick https://github.com/apache/airflow/pull/11610 into v1-10-test and be released in 1.10.13

[2020-10-26 13:01] kaxil opened #11851 "Inherit AirflowNotFound from connextion.NotFound to make the code simpler"
If we made [AirflowNotFound](https://github.com/apache/airflow/blob/master/airflow/exceptions.py#L43-L46) inherit from [connextion.NotFound](https://github.com/apache/airflow/blob/master/airflow/api_connexion/exceptions.py#L75-L83) this code could be a simpler [here](https://github.com/apache/airflow/blob/690e80b82b12ab1d7232d6f02ea6bddd1d71750c/airflow/api_connexion/endpoints/task_instance_endpoi

[2020-10-26 13:01] #11591 closed

[2020-10-26 14:21] doandzhiFt opened #11852 "Sync_perm not working when dag serialization is enabled"
**Apache Airflow version**: 1.10.12

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): Client Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.7", GitCommit:"8fca2ec50a6133511b771a11559e24191b1aa2b4", GitTreeState:"clean", BuildDate:"2019-09-18T14:47:22Z", GoVersion:"go1.12.9", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1",

[2020-10-26 14:32] tsabsch opened #11853 "DataprocClusterCreateOperator: provide ability to specify temporary gcs bucket"
**Description**

Add the option to specify the cluster's temporary bucket location.

**Use case / motivation**

The Dataproc API allows you to specify the temporary bucket explicitly (as for example also described [here](https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/staging-bucket)). This is useful for organisational policies which require certain bucket policies, but also g

[2020-10-26 14:44] feluelle commented on #9564
Sorry, I forgot to respond back. The issue for me was that I am running docker-compose and I run the `db upgrade` command directly after the db container was created. The init failed and that's why this issue occured for me.
[code]
If I manually run `docker-compose start fdb-airflow-db-init` it `db upgrade`s successfully and the scheduler does not die.

[2020-10-26 14:44] landier commented on #11740
OK so I did some test and it looks perfect: easy to customize the build, low footprint...
I really appreciate this and I'm sure others would/will.

Thanks again.

[2020-10-26 15:22] nathadfield opened #11856 "BigQueryInsertJobOperator creates invalid job_ids"
Apache Airflow version: 1.10.*
BackPort Packages version: 2020.10.29rc1

What happened:

BigQueryInsertJobOperator tries to start a BigQuery job by specifying a job_id which is a combination of dag_id, task_id, execution_date and an additional uniqueness_suffix.

https://github.com/PolideaInternal/airflow/blob/e5307990adb49a5a1c1c88a029940682efee0f9e/airflow/providers/google/cloud/operators/bigque

[2020-10-26 15:37] mik-laj commented on #11853
@tsabsch You can pass any options using parameter `cluster_config`.Passing cluster parameters by keywords arguments will be deprecated.

[2020-10-26 15:37] #11853 closed

[2020-10-26 15:37] mik-laj commented on #11853
Related: https://github.com/apache/airflow/pull/11530

[2020-10-26 16:08] ephraimbuddy opened #11858 "Xcom_pull results order is not deterministic"
For xcoms pushed from different tasks, having the same execution_date and in the same Dag, the result of the xcom_pull with key set as None is not deterministic in its order

**Apache Airflow version**: 2.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kerne

[2020-10-26 16:18] #11654 closed

[2020-10-26 17:21] alaiou commented on #11841
We also encountered this issue. Turns out the root cause was the newest release of the k8s python client https://github.com/kubernetes-client/python/releases/tag/v12.0.0. Code was added to handle the 410 status code and raise an Exception in this [PR](https://github.com/kubernetes-client/python-base/pull/133). In Airflow however, the `KubernetesJobWatcher` is expecting an event, which is would the

[2020-10-26 17:24] feluelle commented on #9564
BTW I fixed the problem entirely by using healthchecks from here: https://github.com/peter-evans/docker-compose-healthcheck but I had to downgrade the docker-compoe file version from `3.8` to `2.4` as conditional healthchecks do not work anymore in version 3+.

[2020-10-26 18:12] kaxil commented on #11780
Has been merged, will be part of 1.10.13 -- thanks @yuqian90 .

Thanks @Khrol for reporting the issue

[2020-10-26 18:12] #11780 closed

[2020-10-26 18:25] kaxil commented on #11858
Hmm, can you elaborate more on this @ephraimbuddy . For example if the XCom hasn't been pushed yet, you will get None. So the order of task that pushes XCom value does matter

[2020-10-26 18:28] kaxil commented on #11822
AFAIK `params` is not a template_field so you can't have jinja templated inside `params` argument

[2020-10-26 18:35] ephraimbuddy opened #11862 "API request issue with the example dags"
Getting the list of dags in the example dags using the rest API is broken due to an example dag with no file location

**Apache Airflow version**:2.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

[2020-10-26 18:40] ephraimbuddy commented on #11858
This example dag below gives inconsistent results:

[code]
I checked the code, the xcom_pull are ordered both with execution_date and timestamp.
However, for the above DAG, the tasks have the same execution_date and may also have the same timestamp. In this case, the order of the xcom_pull result is not consistent.

[2020-10-26 19:02] eladkal commented on #10934
@alxdembo assigned to you

[2020-10-26 19:27] eladkal commented on #11545
To get the latest version you should import the hook from [google provider](https://pypi.org/project/apache-airflow-backport-providers-google/) not from contrib.
`bql` param was removed in https://github.com/apache/airflow/pull/4060 thus you shouldn't see this deprecation warring when importing the hook via providers.

[2020-10-26 23:32] kaxil commented on #11862
Can you try with the following command:

[code]

and see

[2020-10-26 23:51] casassg opened #11870 "Add @taskgroup decorator"
**Description**

Similarly to `@dag` and `@task` decorators, we can add a decorator to easily generate `TaskGroup` instances.

**Use case / motivation**

This would be used for reusable pieces of DAGs. An example may be to hyperparameter tune an ML pipeline. You may want to generate several parallel subpipelines with different settings/parameters to be executed in parallel. At the end pull the res

[2020-10-27 00:36] ephraimbuddy commented on #11862
Wow. This solved it!
I should have asked around before opening the issue. Thanks so much

[2020-10-27 00:36] #11862 closed

[2020-10-27 00:37] kaxil opened #11871 "Airflow 2.0.0alpha2 - Webserver Fails because of werkzeug"
With alpha2 without using the constraints https://github.com/apache/airflow/blob/constraints-master/constraints-3.6.txt , when accessing Webserver it fails with

[code]

[2020-10-27 00:37] kaxil commented on #11871
This is caused by https://github.com/apache/airflow/pull/11610

[2020-10-27 01:15] BhuviTheDataGuy commented on #11822
Yeah got it. Thanks.

[2020-10-27 01:15] #11822 closed

[2020-10-27 01:20] BhuviTheDataGuy commented on #11545
Oh great.
Thanks, I'll use providers for the hook

[2020-10-27 01:20] #11545 closed

[2020-10-27 02:50] QuinRiva commented on #11660
Are you sure you're running the current backport versions?  I was getting this issue in 2020.6.24, but it looks like it is solved in 2020.10.5.  Unfortunately, 2020.10.5 **isn't** compatible with the new bigquery/pubsub libraries (2.0.0), so I can't test.

[2020-10-27 03:17] QuinRiva opened #11874 "MSSQLToBigQuery incorrect type conversion bit-->integer"
**Apache Airflow version**: 1.10.12

**Environment**:  Centos 7 Host

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): Ubuntu 20.04 Docker Container
- **Kernel** (e.g. `uname -a`): Linux c6c6e8230c17 3.10.0-1127.18.2.el7.x86_64 #1 SMP Sun Jul 26 15:27:06 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
- **Install tools**: Docker Compose
- **Others** ?

**What happened*

[2020-10-27 07:13] tsabsch commented on #11853
Thanks for the explanation. I only checked release 1.10.12 where `cluster_config` is not included yet.

[2020-10-27 08:04] pedresnyman opened #11877 "Mr Apache Airflow"
**Description**

Currently the EmrStepSensor only looks at one step at a time. Enhancing the EmrStepSensor to retrieve all steps on a specified cluster if no stepId was provided.

**Use case / motivation**

If no step_id was provided the EmrStepSensor wil retrieve all steps on a specified cluster

Rather than telling us how you might implement this solution, try to take a
step back and describe wh

[2020-10-27 08:32] mik-laj commented on #11853
You should use backport provider. You should use the backport provider.  Operators from airflow.contrib have been undeveloped for over a year and often have critical bugs.
See: https://airflow.readthedocs.io/en/latest/backport-providers.html

[2020-10-27 08:44] potiuk opened #11879 "Describe how pip and versioning interacts with the provider versions."
We shoudl describe how the whole provider's split plays in the Airflow 2.0 case. This is largely following standard PIP dependency behaviour known from all python projects however there are certain scenarios/gotchas to explain to the users, so that they can know how to do certain actions:

- [x] explain how extras are supposed to be used
- [x] explain how to upgrade to latest versions of the provi

[2020-10-27 08:49] potiuk commented on #11879
cc: @vikramkoka  since you have the customers that you talked to - if there are any

[2020-10-27 08:53] potiuk opened #11880 "Placeholder for provider versioning documentation"
We should add placeholder in the documentation to explain that we are going to provide more guidance on how to perform certain actions/versioning etc.

[2020-10-27 09:17] mik-laj commented on #11874
It looks like real problem. Can you create a PR? I'm happy to help with the review.

[2020-10-27 10:01] Hartorn opened #11881 "Rest api and kubernetes executor"
Apache airflow version:1.10.12
Env: GKE kubernetes cluster (Google)

Hello,

Not sure if this is an issue, or a misunderstanding from my side, but I'm using airflow rest api to trigger dag run with input args (some ids).

Locally, in docker compose using celery executor, everything works fine, but when using kubernetes executor in gke, we are having troubles, we can see pod launching but :
- logs

[2020-10-27 10:25] mik-laj commented on #11881
Github Issues is not for technical support, only for handling confirmed bugs. Please ask on #troubleshooting or #airflow-kubernetes channel. [![Slack Status](https://img.shields.io/badge/slack-join_chat-white.svg?logo=slack&style=social)](https://s.apache.org/airflow-slack)

[2020-10-27 10:25] #11881 closed

[2020-10-27 10:48] edenGlu opened #11882 "can't clear task SubDagOperator with executor=KubernetesExecutor()"
Hey,
I use
Apache Airflow version: 1.10.12
Kubernetes version: v1.17.0
executor: KubernetesExecutor

I create a task - SubDagOperator with executor=KubernetesExecutor()
I run this task and it work, but I can't clear the task , not from the UI and not from the command .
the error that I get is:
[code]
any ideas?

[2020-10-27 14:59] VictorGeaGarcia opened #11889 "Logout issues with Google Auth backend"
**Apache Airflow version**: 1.10.x

**What happened**:

With Google Auth configured and enabled, when I try to logout I cannot because it automatically logins back:

![image](https://user-images.githubusercontent.com/26174942/97306091-447d8000-185e-11eb-8531-1d6c7c896846.png)

This happens because [Google Auth request token params](https://github.com/apache/airflow/blob/v1-10-stable/airflow/contri

[2020-10-27 15:19] ryw commented on #11870
Sounds good to me 👍

[2020-10-27 15:22] ryw commented on #11781
Thanks for the suggestion @tshrinivasan - but I agree with others that we do have total # of DAGs in the UI, and adding a new column to the listing w/ an ordinal dag number doesn't add value, and we're already constrained for horizontal space in that view. Closing issue.

[2020-10-27 15:22] #11781 closed

[2020-10-27 15:25] ryw commented on #11728
@mik-laj is the resolution for this for this to use the Airflow API instead? Do you need this fixed in the current webserver or can it wait for a new React-based UI that interacts only w/ the new Airflow API (@ryanahamilton will work on this new UI project full-time once we ship Airflow 2).

[2020-10-27 15:43] tshrinivasan commented on #11781
Thanks all for the inputs. Agreeing with the current design.

[2020-10-27 16:26] turbaszek commented on #11040
Closed via #11839

[2020-10-27 16:26] #11040 closed

[2020-10-27 16:46] mjpieters opened #11893 "Smart sensor contexts appear confusing, redundant and incomplete"
I was looking into smart sensors, to see if our sensors could be adapted to their use.

Unfortunately, the current implementation has some issues, specifically around the execution and poke contexts:

- The term _execution context_ is used differently from what I expected. It's a number of sensor attributes that are needed to do proper housekeeping around the sensor lifetime, transferred from the

[2020-10-27 16:54] mjpieters opened #11894 "SmartSensor poke interval handling"
Currently, the smart sensor group DAG creates smart sensors for all shards with a fixed poke interval, 180 seconds.

This should really be configurable.

Moreover, the sensor should find some kind of compromise between running at a fixed rate and honouring the original `poke_interval` values of the sensor operators it replaces. Now _all_ sensors managed by the smart sensor dag will be poked every

[2020-10-27 17:16] rmonge-basetis commented on #9486
Having the same issue here too, thanks to the explanation the fix was easy.
I think the confusion arises comparing how the _awslogs\_stream\_prefix_ is used in the operator and in AWS. The operator should  take the container-name together with the task-id to build the complete log-stream name.

[2020-10-27 18:24] mek97 opened #11896 "To show failure message when task is externally killed in queued state"
**Apache Airflow version**: 1.10.12

**What happened**:
If a task is scheduled in `queued` state and the process associated to it with `airflow run` command is externally killed, the task goes in the failed state as expected but no meaningful failure messages or logs are shown. Following is a screenshot as an example.

<img width="472" alt="Screenshot 2020-10-24 at 9 18 45 PM" src="https://user-im

[2020-10-27 19:30] mik-laj commented on #11728
@ryw The API only partially solves. this problem. Solves case 1 and 2 because the API does not have any options that are unique to certain executors. In this case, the "run" option only works with Celery and Kubernetes and has no effect on any other, so it was not implemented.

https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-32%3A+Airflow+REST+API

So if we rewrite the UI, we have to delet

[2020-10-27 21:06] shivanshs9 opened #11899 "[MariaDB] Scheduler deadlock with max_threads > 1"
**Apache Airflow version**: v2.0.0a2

**Environment**:

- **Database**: MariaDB

**What happened**:

Scheduler main process crashed repeatedly (observed 7 crashes in just 4 minutes). The crashes were observed to happen only if `max_threads` option in the scheduler section is set greater than 1 (in this case, 2) with `use_row_level_locking = True`. Setting either `max_threads = 1` or `use_row_level

[2020-10-27 21:09] shivanshs9 commented on #11754
Fixed by https://github.com/apache/airflow/pull/11730

[2020-10-27 21:09] #11754 closed

[2020-10-27 21:26] DevanshuKoyalkar commented on #11708
Hi mik-laj, I'll take this up

[2020-10-27 21:28] potiuk commented on #11899
cc: @ashb @kaxil - seems that this can happen quite often.

@shivanshs9. Is it possible that you turn on logging for all db locks and provide your DB server logs?

Here is some info on that:

https://dba.stackexchange.com/questions/87350/view-last-several-innodb-deadlocks

[2020-10-27 21:31] mik-laj commented on #11708
Assigned.

We are migrating to [the new unit test framework](https://github.com/apache/airflow/pull/11827), so you will have to wait a while before you can write tests ... or if you have the patience you can also write in the old framework, but this is very limiting and frustrating.

[2020-10-27 21:48] shivanshs9 commented on #11899
@potiuk this was observed in RDS, so difficult to provide all the DB logs. I'll spin up a local MySQL pod and try and replicate the issue with the similar load.

For now, I managed to get the latest deadlock (ran `SHOW ENGINE INNODB STATUS;`):
[code]

[2020-10-27 21:49] shivanshs9 commented on #11899
It seems the issue still occurs even with 1 max_threads, but at a reduced frequency: 5 crashes in an hour.

[2020-10-28 01:41] wolfier opened #11901 "DAGs remain in the UI after renaming the dag_id in the same python file"
**Apache Airflow version**: 1.10.12

**What happened**:

When I rename the dag_id, the new dag_id shows up in the UI but the old dag_id does not disappear and remains in the UI.

**What you expected to happen**:

When Airflow [lists out the python files](https://github.com/apache/airflow/blob/1.10.12/airflow/utils/file.py#L105-L161) and tries to [deactivate the deleted dags during dag processing](

[2020-10-28 07:50] BhuviTheDataGuy opened #11905 "BigQueryCreateEmptyTableOperator - Not accepting the table_resource"
In the latest BigQueryCreateEmptyTableOperator(from providers) I tried to create an empty table. And I wanted to use table resources (like creating a partition), but its not considering that.

**Code to reproduce:**

[code]

The table got created, there is no partition. (I think we have a sperate parameter for time partition, but I want to use this table resource option)

[2020-10-28 08:49] feluelle commented on #9145
Thanks @fatmumuhomer :)

[2020-10-28 08:50] feluelle commented on #9564
I am closing this as it seems to only be a problem if the services are not correctly setup (like in my case).

[2020-10-28 08:50] #9564 closed

[2020-10-28 10:41] BestJiayi opened #11907 "My Airflow Always stay scheduled state!"
My Airflow Always stay scheduled state! What should I do?

[2020-10-28 10:46] turbaszek commented on #11907
@BestJiayi please provide useful information about you issue. The bug report template by help you.

[2020-10-28 10:46] #11907 closed

[2020-10-28 10:49] BhuviTheDataGuy commented on #11905
@turbaszek helped me to understand how this works. If I use table_resource then the rest of the parameters are ignored.

[code]

[2020-10-28 10:49] #11905 closed

[2020-10-28 10:50] BestJiayi commented on #11907
Hi, turbaszek,my airflow dosen't work. It's always stay in scheduled status, what should I do?

[2020-10-28 12:33] JeremyBernier opened #11910 "`airflow initdb` fails ERROR [airflow.models.dagbag.DagBag] Failed to import: python3.6/.../airflow/example_dags/example_passing_params_via_test_command.py"
**Apache Airflow version**: 1.10.12

**Environment**:

- OS: Windows Subsystem for Linux v2, Ubuntu
- Kernel: Linux DESKTOP-178OJIJ 4.19.128-microsoft-standard #1 SMP Tue Jun 23 12:58:10 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

**What happened**:

When I run `airflow initdb` after a fresh install, it fails with the following errors:

[code]

This last error repeats with with other files in `/examp

[2020-10-28 12:53] JeremyBernier commented on #11910
Just for the record, upgrading to Python 3.7 seems to fix it on my machine.

Not sure whether Python 3.6 is supported - the installation page (https://airflow.apache.org/docs/stable/installation.html) at least doesn't mention anything about which Python versions are supported.

[2020-10-28 13:08] kaxil commented on #11910
That might be some issue with `Windows Subsystem for Linux v2` coz Python 3.6 is supported. Not only that Python2.7 is supported too for Airflow <= 1.10.12

[2020-10-28 13:14] mik-laj commented on #11657
I open this ticket because we need to migrate the rest of the tests to complete the migrations.

[2020-10-28 13:22] shaneikennedy opened #11911 "BigQuery support for create or replace table"
**Description**

BigQuery supports multiple [create table statements](https://cloud.google.com/bigquery/docs/reference/standard-sql/data-definition-language#create_table_statement), one of which is create or replace.

**Use case / motivation**

This would be really nice for batch processing because I can write a DAG that is: `create-table >> insert-data` and the operation is idempotent. Right now,

[2020-10-28 13:23] OmairK commented on #11707
Hey @mik-laj is this issue up for taking?

[2020-10-28 13:33] kaxil opened #11912 "Add how-to Guide for Azure operators"
**Description**

A guide that describes how to use all the operators for Azure (https://github.com/apache/airflow/tree/master/airflow/providers/microsoft/azure) would be useful.

Other guides are available:
https://airflow.readthedocs.io/en/latest/howto/operator/index.html

Source code for those guides are at:
https://github.com/apache/airflow/tree/master/docs/howto/operator

Are you wondering how

[2020-10-28 13:34] kaxil opened #11913 "Add how-to Guide for MSSQL operators"
**Description**

A guide that describes how to use all the operators for MSSQL (https://github.com/apache/airflow/tree/master/airflow/providers/microsoft/mssql) would be useful.

Other guides are available:
https://airflow.readthedocs.io/en/latest/howto/operator/index.html

Source code for those guides are at:
https://github.com/apache/airflow/tree/master/docs/howto/operator

Are you wondering how

[2020-10-28 13:37] kaxil opened #11914 "Add how-to Guide for WinRM operators"
**Description**

A guide that describes how to use all the operators for WinRM (https://github.com/apache/airflow/tree/master/airflow/providers/microsoft/winrm) would be useful.

Other guides are available:
https://airflow.readthedocs.io/en/latest/howto/operator/index.html

Source code for those guides are at:
https://github.com/apache/airflow/tree/master/docs/howto/operator

Are you wondering how

[2020-10-28 13:38] mik-laj commented on #11707
@OmairK Assigned.

[2020-10-28 14:01] kaxil opened #11916 "Add how-to Guide for Databricks Operators"
**Description**

A guide that describes how to use all the operators for Azure (https://github.com/apache/airflow/tree/master/airflow/providers/databricks/operators) would be useful.

Other guides are available:
https://airflow.readthedocs.io/en/latest/howto/operator/index.html

Source code for those guides are at:
https://github.com/apache/airflow/tree/master/docs/howto/operator

Are you wonderin

[2020-10-28 14:04] kaxil opened #11917 "Add how-to Guide for Postgres operators"
**Description**

A guide that describes how to use all the operators for Postgres (https://github.com/apache/airflow/tree/master/airflow/providers/postgres) would be useful.

Other guides are available:
https://airflow.readthedocs.io/en/latest/howto/operator/index.html

Source code for those guides are at:
https://github.com/apache/airflow/tree/master/docs/howto/operator

Are you wondering how to

[2020-10-28 14:06] kaxil opened #11918 "Add how-to Guide for MySQL operators"
**Description**

A guide that describes how to use all the operators for MySQL (https://github.com/apache/airflow/tree/master/airflow/providers/mysql/operators) would be useful.

Other guides are available:
https://airflow.readthedocs.io/en/latest/howto/operator/index.html

Source code for those guides are at:
https://github.com/apache/airflow/tree/master/docs/howto/operator

Are you wondering how

[2020-10-28 14:06] kaxil opened #11919 "Add how-to Guide for Slack operators"
**Description**

A guide that describes how to use all the operators for Slack (https://github.com/apache/airflow/tree/master/airflow/providers/slack/operators) would be useful.

Other guides are available:
https://airflow.readthedocs.io/en/latest/howto/operator/index.html

Source code for those guides are at:
https://github.com/apache/airflow/tree/master/docs/howto/operator

Are you wondering how

[2020-10-28 14:09] kaxil opened #11920 "Add how-to Guide for Sqlite operators"
**Description**

A guide that describes how to use all the operators for Sqlite (https://github.com/apache/airflow/tree/master/airflow/providers/sqlite/operators) would be useful.

Other guides are available:
https://airflow.readthedocs.io/en/latest/howto/operator/index.html

Source code for those guides are at:
https://github.com/apache/airflow/tree/master/docs/howto/operator

Are you wondering h

[2020-10-28 14:15] mik-laj commented on #10929
@chattarajoy Do you need help with this ticket?

[2020-10-28 14:42] kaxil opened #11921 "Add how-to Guide for Snowflake operators"
**Description**

A guide that describes how to use all the operators for Snowflake (https://github.com/apache/airflow/tree/master/airflow/providers/snowflake/operators) would be useful.

Other guides are available:
https://airflow.readthedocs.io/en/latest/howto/operator/index.html

Source code for those guides are at:
https://github.com/apache/airflow/tree/master/docs/howto/operator

Are you wonde

[2020-10-28 14:47] kaxil commented on #10929
I have cleared the assignee for now so others who are interested can start working on it. Let me know if you want to continue though

[2020-10-28 15:31] obrie commented on #11629
I don't know that it's the appropriate solution, but for what it's worth this is the patch I've applied to my Airflow cluster to get both pod and task logs visible in running tasks:

[code]

[2020-10-28 16:37] manesioz commented on #11911
I agree this functionality would be super useful! I would love to hear what you and the maintainers think about how to design this.

It seems like we have to consider how we deal with the case when we wish to create a table when a table by the same name already exists in the dataset. We could:

1) Fail. This is consistent with the `CREATE TABLE IF NOT EXISTS` DDL, and it seems like the current `Bi

[2020-10-28 16:43] AratiNagmal commented on #10124
I would like to work on this issue, can this be assigned to me?

[2020-10-28 16:52] kaxil commented on #10124
Assigned to you @AratiNagmal 🚀

[2020-10-28 17:08] #11856 closed

[2020-10-28 17:31] potiuk opened #11925 "Print warning if Variable.get () or any other DB method is executed during DAG parsing"
**Description**

It would be great to make a big, hairy warning when someone tries to use Variable.get() or Connection or any other method that hits Airflow's database during DAG parsing. This is a very bad practice, resulting in opening and closing DB connections and it is too easy to use and too difficult to spot that it is actually a problem.

**Use case / motivation**

Guide our users to write

[2020-10-28 17:31] potiuk commented on #11925
cc: @mik-laj @turbaszek @ashb @kaxil  WDYT ?

[2020-10-28 17:36] kaxil commented on #11925
This will be a bit tricky now that Variable.get() can get variable from any backends including environment Variable too

[2020-10-28 17:41] LucasMMota commented on #11925
Maybe we could alert just in the DAG's UI after reading its definition code. This way we don't alert everyone that uses this method.

[2020-10-28 18:07] kaxil opened #11926 "Add details around how long Airflow will maintain 1.10.x series ?"
Since we are close to Airflow 2, there have been questions from users around how long will Airflow 1.10.x series be maintained. This needs to be added to a user-facing docs, maybe in https://github.com/apache/airflow/blob/master/UPGRADING_TO_2.0.md

- How frequently will we release it?
- Will it only include security patches?

cc @XD-DENG @vikramkoka

[2020-10-28 18:08] potiuk commented on #11925
I think we can get it at the DB access level. Set an ENV variable when parsing and set some sqlalchemy hook to warn if ANY db call is made.

[2020-10-28 18:09] kaxil commented on #11926
In one of the Dev calls we agreed the following:

- Only **_critical fixes_** (fixes to bugs that takedown Production system) will be backported to 1.10.x core for **six months** after Airflow 2.0 is released.
- Backport providers will only be supported/released for **three months** after 2.0.0 released

[2020-10-28 18:12] kaxil commented on #11925
We should also provide a way to disable the warning, since there might be users who know it but want to use it

[2020-10-28 18:12] potiuk commented on #11925
Yeah

[2020-10-28 18:16] davido912 commented on #11921
@kaxil I can start with picking up this one, anything specific that is important for you guys to note or are all style wise should be similar to the ones on the website already?

[2020-10-28 18:22] kaxil commented on #11921
Something similar to https://airflow.readthedocs.io/en/latest/howto/operator/google/cloud/bigquery.html or https://airflow.readthedocs.io/en/latest/howto/operator/amazon/aws/datasync.html which just tells Users who they can use the Operator would be good enough :)

Thanks for picking this task up, appreciate it.

[2020-10-28 18:24] mik-laj commented on #11925
I support this idea with all my heart.  I will try to prepare the POC tomorrow to push the discussion further.

[2020-10-28 18:35] kaxil commented on #11925
Cool

[2020-10-28 18:35] kaxil commented on #11925
Please do the same for Connections

[2020-10-28 18:51] DevanshuKoyalkar commented on #11708
I am getting a sense of the problem statement. I should be adding two new options like `dags.persistence.enabled`_ and `dags.gitSync.enabled ` for plugins which do the similar job right?
Is there an equivalent of airflow_dags_mount_path for plugins?

[2020-10-28 19:17] YingboWang commented on #11893
Thanks @mjpieters again for raising the problem. I agree on your analysis of the context and would like to fix based on this. As `ti` object is more difficult to be serialized, in the smart sensor we tried to use the context dictionary as the simplified version of `ti.__dict__` and only persist the minimum set of information. Would you like to provide more details on the `ti` use case in a sensor?

[2020-10-28 19:28] YingboWang commented on #11894
@mjpieters Thanks for creating this issue. We do have the plan to support customized poke_interval in smart sensor and will implement it. As for now, the smart sensor operator class has a default of poke_interval as 180 and it could be changed by adding `poke_interval=xxx` in the `smart_sensor_group.py` when creating the `SmartSensorOperator` task. By doing it all smart sensor tasks in an airflow

[2020-10-28 20:30] fatmumuhomer commented on #11913
Can you assign this to me? Thanks!

[2020-10-28 20:45] WilliamTun commented on #11920
Hey Kaxil.

I'd like to have a go at this task please.
Please do note that this is the first time I've ever tried to contribute to an open source project so you'll have to excuse me if I end up asking what may appear to be very basic questions in the coming days.

Will

[2020-10-28 20:54] kaxil commented on #11920
Assigned this ticket to you, and please feel free to ask questions, don't worry at all :)

[2020-10-28 20:54] kaxil commented on #11913
Assigned it to you, @fatmumuhomer , thanks for taking this up :)

[2020-10-28 21:51] mjpieters opened #11928 "Web UI should fetch operator links in one request"
Operators can define additional extra links to be displayed on the task instance. While most implementations limit to just a few links, the web UI code is loading each value with a separate request:

https://github.com/apache/airflow/blob/86ed7dcd687627412e93620ec5da7f05e2552ae7/airflow/www/templates/airflow/dag.html#L503-L532

That's not a very efficient way of loading these values. This should r

[2020-10-29 02:57] sharad-vm commented on #11916
@kaxil I'm a newbie here and would like to start contributing to Airflow with this.

[2020-10-29 07:30] RosterIn opened #11929 "add DateTimeBranchOperator"
**Use case / motivation**

Airflow have `BranchSQLOperator` and `BranchPythonOperator`.
Airflow also have `DateTimeSensor`.

I find it very useful to have `DateTimeBranchOperator` that will allow to branch workflow based on specific DateTime
Sometimes in DAGs you want to do another set of tasks according to specific dates or time.

[2020-10-29 07:43] Nick-0723 opened #11930 "sql_alchemy_conn - password contains special character"
**Apache Airflow version**: 1.10.7

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**: centos 7

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**: sql_alchemy_conn 中 mysql 密码保护特殊字符如'#' '^' '@' 等时，无法与 mysql 认证通过。

[2020-10-29 15:31:5

[2020-10-29 07:44] RosterIn opened #11931 "BaseBranchOperator isn't used anywhere"
This is not a bug but more a question/observation about `BaseBranchOperator` that was added in  https://github.com/apache/airflow/pull/5231

Both [BranchPythonOperator](https://github.com/apache/airflow/blob/master/airflow/operators/python.py#L308) and [BranchSQLOperator](https://github.com/apache/airflow/blob/master/airflow/operators/sql.py#L476) inherit from `BaseOperator` and not from  [BaseBra

[2020-10-29 08:56] potiuk opened #11932 "[QUARANTINE] test_exception_propagation fails in TestCeleryExecutor on mysql 5.7"
There are several failures recently for test_exception_propagation on mysql 5.7. For example

The likely suspect is some kind of Deadlock there (the roo cause of the problem is timeout with multi-processing so it seems plausible. Several of those reported recently and we also have related #11543

https://github.com/apache/airflow/runs/1325198281?check_suite_focus=true#step:6:634

[code]

[2020-10-29 08:58] potiuk commented on #11932
cc: @ashb @kaxil FYI - I suspect deadlock here as well (though it's a wild guess). It seems to only happen in MySql 5.7. I put this test to quarantine now.

[2020-10-29 09:04] potiuk commented on #11932
I've also added those all deadlocks to "beta-1" milestone, I feel we should try to solve them before were release beta, and I will try to take a look finally (I was more into the CI optimizations) - we can also discuss if it is serious enough to hold beta1 on Monday if we won't find solution(s).

[2020-10-29 09:43] mik-laj commented on #11931
@RosterIn This is used to express your own business logic.

[2020-10-29 10:07] ashb commented on #11899
@shivanshs9 Which version of MariaDB are you on? And is this a single node, or a Galera cluster?

[2020-10-29 10:09] ashb commented on #11899
@shivanshs9 Something doesn't add up with your stack trace -- you say you are on 2.0.0a2, but Line 1451 from this stack trace:

[code]

is a blank line.

https://github.com/apache/airflow/blob/2.0.0a2/airflow/jobs/scheduler_job.py#L1451

[2020-10-29 10:12] ashb commented on #11932
@potiuk This is nothing to do with me -- this is entirely in celery and unchanged by my HA work.

[2020-10-29 10:13] kaxil commented on #11916
Awesome, assigned

[2020-10-29 10:25] ashb commented on #11899
@shivanshs9 Do you use SubDagOperator at all?

[2020-10-29 10:31] potiuk commented on #11932
ok. fine!

[2020-10-29 10:35] ashb commented on #11899
So transaction (1) from the innodb status is this one:

https://github.com/apache/airflow/blob/79d71cc5873527eef3661ff1dad134bf0ec4f385/airflow/models/dag.py#L2160-L2180

Transaction (2) is harder to track down exactly, but since it's from the dag parsing process, it'll be

https://github.com/apache/airflow/blob/79d71cc5873527eef3661ff1dad134bf0ec4f385/airflow/models/dag.py#L2160-L2180

Which was

[2020-10-29 10:35] shivanshs9 commented on #11899
@ashb

Engine version is 10.3.8 and it is a single node.

Ah, it seems I'm still using an old base image - [docker.pkg.github.com/apache/airflow/master-python3.8:feda2338a06e0cc2409943794a8cdf2e9a2e2625](https://github.com/apache/airflow/packages/256807?version=feda2338a06e0cc2409943794a8cdf2e9a2e2625). Just confirmed it's `2.0.0a1` (ran `airflow version` in the container). Will try on the latest

[2020-10-29 10:38] ashb commented on #11899
Could you try with `AIRFLOW__CORE__STORE_DAG_CODE=False` @shivanshs9 ? If that helps I have an idea.

If not I think our last resort is to simply catch this error and retry later (either next loop, or after a timeout) -- I don't see what else we can change.

[2020-10-29 10:44] ashb commented on #11925
Please add a way to silence this warning too -- sometimes there are a few unavoidable cases where you still want to do this, and it would be good for people to say "I know what I'm doing, don't warn me every time"

[2020-10-29 10:48] potiuk commented on #11899
Maybe, because we have not released one. I will add an issue to automate image building on tagging the next image. It should be very easy. I might even add it today.

[2020-10-29 10:50] shivanshs9 commented on #11899
Yeah it does seems fishy.
From what I'm able to understand from InnoDB output, SELECT Transaction (1) doesn't even hold any lock but waiting for locks held by UPDATE Transaction (2). And Transaction (2) is waiting for some other lock. :shrug:

@ashb Nope, still facing the same issue:
[code]

[2020-10-29 10:50] potiuk commented on #11899
I will push the tagged images shortly.

[2020-10-29 10:51] shivanshs9 commented on #11899
Yep, that will be very helpful for testing! :raised_hands:

[2020-10-29 10:53] shivanshs9 commented on #11899
@ashb in that case, shouldn't it throw lock wait timeout exceeded? :thinking:

[2020-10-29 10:57] ashb commented on #11899
That would have been nice.

[2020-10-29 11:01] potiuk commented on #11899
The `apache/airflow:2.0.0a2-python3.6` is there. Pushing the other two.

[2020-10-29 11:02] thiagophx opened #11936 "Huge increase on DagFileProcessorProcess"
**Apache Airflow version**: 1.10.12

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.10

**Environment**:

- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): Debian GNU/Linux 9 (stretch)
- **Kernel** (e.g. `uname -a`): 4.19.123-coreos

**What happened**:

After rolling out to Airflow 1.10.12, we've started to notice a huge incr

[2020-10-29 11:02] potiuk opened #11937 "Build automatically 2.0.0b and futher images in DockerHub automatically"
The image should be automatically buld in Dockerhub after version tag for 2.* has been pushed automatically.

[2020-10-29 11:14] potiuk commented on #11899
Also:
* `docker pull apache/airflow:2.0.0a2-python3.8`
* `docker pull apache/airflow:2.0.0a2-python3.7`

Issue to automate it: https://github.com/apache/airflow/issues/11937 scheduled for beta1

[2020-10-29 11:16] potiuk opened #11938 "Add separate repository with Docker customisabilty."

[2020-10-29 11:18] #11938 closed

[2020-10-29 11:40] shivanshs9 commented on #11899
Thanks @potiuk! Using this tag now.

[2020-10-29 11:54] potiuk commented on #11740
I will move it to "airflow-docker" repo shortly :)

[2020-10-29 13:31] MrCull opened #11943 "The README file in this repo has a bad link"
The README file in this repo has a bad link

Status code [404:NotFound] - Link: https://cwiki.apache.org/confluence/display/AIRFLOW/Airflow+Links

This was found by an new experimental hobby project that I have just created: https://github.com/MrCull/GitHub-Repo-ReadMe-Dead-Link-Finder
If this has been in any way helpful then please consider giving the above Repo a Star.

[2020-10-29 13:44] mik-laj commented on #11936
Is it relaated? https://github.com/apache/airflow/issues/11780 https://github.com/apache/airflow/pull/11010

[2020-10-29 13:53] thiagophx commented on #11936
Hi @mik-laj , it seems definitely related.
So if I understand correctly, the fix will be merged on 1.10.13, right?

[2020-10-29 13:59] mik-laj commented on #11936
Yes. Fix will be released in the next release.

[2020-10-29 13:59] #11936 closed

[2020-10-29 14:03] mik-laj commented on #11708
Yes. It would be good to support the other configuration options for gitSync as well.

By default, ``$AIRFLOW_HOME/plugins``.
See also:
https://airflow.readthedocs.io/en/latest/plugins.html
https://github.com/apache/airflow/blob/9320fe6c149fff995d4d85af593a327c56731549/chart/values.yaml#L28
https://airflow.readthedocs.io/en/latest/configurations-ref.html#plugins-folder

[2020-10-29 14:06] thiagophx commented on #11936
That's awesome, thanks so much for the quick response 🚀

[2020-10-29 14:15] mik-laj commented on #11911
CC: @turbaszek

[2020-10-29 14:20] JeffryMAC commented on #8931
Played around some and I couldn't find easy way to set this up.
I really think that airflow needs to support this natively.
Have a graph that shows run time (duration) of the whole dag end to end with trend so we can detect which dag runs take long time and should be investigated.

[2020-10-29 14:40] nirousseau commented on #9860
Hello,

I am also facing the issue described above (UI Breaks).

**Airflow 1.10.12** with KubernetesExecutor.

here is my dag :

[code]

here is the helper included that triggers the UI crash :

[code]

Crash traceback :
[code]

[2020-10-29 15:31] ashb commented on #11493
Fixed in 2.0.0a2

[2020-10-29 15:31] #11493 closed

[2020-10-29 16:26] #11943 closed

[2020-10-29 17:16] ShantanuKumar commented on #9047
Anyone willing to fix this. I see there is an attached pull request, but that's stale now. I have run into this issue also.

[2020-10-29 18:47] kaxil commented on #11852
I can't reproduce this on Airflow 1.10.12.

Even with DAG Serialization enabled I was able to get this to work without the need of running sync_perm !

Since all the actions were only needed from the UI. Can you let me know in more details please

[2020-10-29 18:47] cccs-cat001 opened #11953 "Webserver cannot start."
**Apache Airflow version**: 2.0.0a2

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
[code]
**Environment**:

- **Cloud provider or hardware configuration**: Azure
- **OS** (e.g. from /etc/os-release): Official airflow docker image
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:
When running the airflow webserver, it will fall in

[2020-10-29 19:28] cccs-cat001 commented on #11953
Duplicated by https://github.com/apache/airflow/issues/11871

[2020-10-29 19:28] #11953 closed

[2020-10-29 21:07] jfmolano commented on #11918
Hi Kaxil, I am a newbie at open source contributions but I love AirFlow and I would like to contribute with this.

Can you assign this to me?

Regards

[2020-10-29 21:10] ryw commented on #10752
dropping a note here that we decided to defer this to post Airflow 2.0

[2020-10-29 21:48] #11795 closed

[2020-10-29 22:06] kaxil commented on #11918
Assigned it to you @jfmolano :)

[2020-10-30 01:02] mjpieters commented on #11893
I am using the TI primarily to access the `execution_date` and `dag_id` values.

I was also using it as a gateway to fetch XCom values, but I'm pretty sure that in my sensors this can and should actually be done in `pre_execute` instead (fetching the value just once then storing the information in the context instead of retrieving the value on the each poke).

Note that I am perfectly prepared to

[2020-10-30 01:21] tomasfarias commented on #11929
Hello 👋

I've been using Airflow for a while now and would love to get involved with the project and contribute some code. If nobody's working on this I'd like to open a PR. Just wanted to clarify a few questions:

* Should `DateTimeBranchOperator` support comparisons with partial dates? For example: branching based on a comparison between the current date and only a year, instead of a full date.

[2020-10-30 01:24] mjpieters commented on #11894
I suppose I could use the [`policy()` hook](https://airflow.apache.org/docs/stable/concepts.html#mutate-tasks-after-dag-loaded) to alter the sensor poke interval. I don't think asking people to alter the shipped Airflow code directly is a good idea, at any rate.

As for honouring managed sensors' poke intervals, I was thinking along the lines of the [standard library `sched` module implementation]

[2020-10-30 03:11] mik-laj commented on #11925
I created a PR: https://github.com/apache/airflow/pull/11960

I added these warnings to a separate view because they are not critical to the proper work of the instance and at the same time there can be a lot of these errors. We don't have a one-to-one relationship here, but one file can have many problems.

[2020-10-30 03:31] mik-laj commented on #11929
@tomasfarias Hi. It is best if you prepare a small POC that will not contain tests and will not even fully work but will allow us to familiarize ourselves with your concept. Then we can iterate over this code together. What do you think about it?

[2020-10-30 08:10] rtjarvis commented on #7960
I need this two - max_active_runs doesn't work. Any progress?

[2020-10-30 08:26] potiuk opened #11962 "[QUARANTINE] test_serve_logs test is failing randomly on MySQL"
The test_serve_logs fails randomly with database reset

Example here:  https://github.com/apache/airflow/pull/11948/checks?check_run_id=1329323444#step:6:1047

[code]

[2020-10-30 08:26] potiuk commented on #11962
[error.txt](https://github.com/apache/airflow/files/5463820/error.txt)

[2020-10-30 08:30] tomasfarias commented on #11929
Sounds perfect to me! Thanks for the guidance @mik-laj, I'll open a PR shortly.

[2020-10-30 08:42] carb1 commented on #10055
i meet this issus today，ten days pass, have you solve this problem?

[2020-10-30 09:48] tdbabas opened #11965 "Airflow fails to initdb with cattrs 1.1.0"
**Apache Airflow version**:

1.10.12

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

N/A

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): Centos 7
- **Kernel** (e.g. `uname -a`): 3.10.0-229.el7.x86_64
- **Install tools**: pip 9.0.3 from /usr/lib/python3.6/site-packages (python 3.6)
- **Others**:

**What happene

[2020-10-30 10:29] cgddrd commented on #11965
Can confirm we're experiencing this as part of our production stack (auto scaling actions are now failing) - a hotfix would be greatly appreciated.

[2020-10-30 10:31] nalepae commented on #10604
Fixed when upgrading to **Airflow 1.10.10**

[2020-10-30 10:31] #10604 closed

[2020-10-30 10:32] nalepae commented on #11200
Fixed when upgrading to **Airflow 1.10.10**

[2020-10-30 10:32] #11200 closed

[2020-10-30 11:04] kaxil commented on #11965
You can use the following for now, this will be fixed in 1.10.13

[code]

[2020-10-30 11:37] cgddrd commented on #11965
Many thanks @kaxil

[2020-10-30 12:10] dolfinus commented on #8490
It look like the issue is connected with usage of python2.7.

I'm using Airflow 1.10.12.
SSHConnection has empty `password` field but I stored path to SSH key in `extra` field:
[code]

If I call `conn.extra_dejson` using python2.7 I receive empty dict, that's why SSH connection is not established - there is no password and no key file.
But everything is fine then I use python3.6, dict is parsed co

[2020-10-30 12:42] kennethstoltz-db opened #11967 "Docs: Integration documentation gets cut off"
There are many wide tables in the documentation, for example here:
https://airflow.readthedocs.io/en/latest/operators-and-hooks-ref.html#id19

On a very wide browser the width is still fixed. It is not obvious that the table is cut off and I was very confused that I never found the operator reference documentation I was looking for.
<img width="1801" alt="Screenshot 2020-10-30 at 13 36 57" src="ht

[2020-10-30 13:15] cccs-cat001 opened #11968 "Upgrade azure-storage-blob to >=12"
**Description**
It would be nice if the azure-storage-blob dependency for apache-airflow-providers-microsoft-azure was upgraded to a more recent version that 2.1.0.

**Use case / motivation**

The version 12.4.0 will allow us to perform OAuth refresh token operations for long running tasks. We use this to authenticate against our datalake, and it's currently not possible with the version 2.1.0 tha

[2020-10-30 13:19] msb217 commented on #11919
Hi Kaxil - do you mind if I take on this issue?

[2020-10-30 13:24] kaxil commented on #11919
Assigned it to you @msb217 :)

[2020-10-30 13:27] kaxil commented on #11965
https://github.com/apache/airflow/pull/11969 -- This PR will be included in 1.10.13 and should fix this issue too

[2020-10-30 14:45] mik-laj commented on #11968
https://github.com/apache/airflow/issues/9745 is it related?

[2020-10-30 14:47] mik-laj commented on #11967
Can you prepare a little POC that would show what it would look like?

[2020-10-30 14:50] #11657 closed

[2020-10-30 14:59] mik-laj commented on #11705
We have already finished the migration to the new framework. Nothing is blocking anymore to work on this change.

[2020-10-30 15:00] mik-laj commented on #11708
We have already finished the migration to the new framework. Nothing is blocking anymore to work on this change.

[2020-10-30 15:05] cccs-cat001 commented on #11968
I don't think so, that appears to not include any breaking changes, but by upgrading the azure-storage-blob to 12.x the azure WASB hook will break, in favour of the ABFS (I think that's what it's called..).

[2020-10-30 15:14] #11965 closed

[2020-10-30 17:44] yyf6413 opened #11977 "Documentation on Installation page has incorrect version"
**Apache Airflow version**: 1.10.11

**What happened**:
On this page https://airflow.apache.org/docs/1.10.11/installation.html#getting-airflow, section 1 & 2, I think the
airflow version in the pip install command is incorrect, it shows `apache-airflow==1.10.10`.
It should be `apache-airflow==1.10.11`

[2020-10-30 18:20] sunnygupta05 commented on #11917
Hey @kaxil Can you please assign this to me. May be a good start to become a open source committer. Thank you for opportunity.

[2020-10-30 18:26] sunnygupta05 commented on #11912
Hey @kaxil Can you please assign this to me. May be a good start to become a open source committer. Thank you for opportunity.

[2020-10-30 18:32] turbaszek commented on #11911
@shaneikennedy @manesioz this functionality is already available for Airflow users by using `BigQueryInsertJobOperator` and `query` job:
https://cloud.google.com/bigquery/docs/reference/standard-sql/data-definition-language#api

Despite this fact I think it would be more user friendly to add `delete_if_exists` flag and delete existing table in `BigQueryCreateEmptyTableOperator` if there's a confli

[2020-10-30 18:35] FloChehab opened #11979 "Support helm install --wait for the chart"
Hello,

We are used to using `helm install` / `helm upgrade` with the `--wait` option ; which is nice because the command returns only if install / upgrade is kind of done and not just "commited".

Unfortunately it doesn't currently play really nice with the chart as:
* The migrate database job is set to run "post-install" & "post-upgrade" (https://github.com/apache/airflow/blob/master/chart/templ

[2020-10-30 18:51] kaxil commented on #11912
Assigned it to you, looking forward :)

[2020-10-30 19:05] jedcunningham opened #11982 "Scheduler not exiting after SIGTERM with KubeExecutor"
**Apache Airflow version**: 2.0.0a2

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): v1.15.12

**Environment**:
- **OS** (e.g. from /etc/os-release): CentOS 7

**What happened**:

When using KubernetesExecutor, a single SIGTERM doesn't result in the scheduler actually exiting cleanly. However, it will exit after receiving a second SIGTERM.

The same behavior happens i

[2020-10-30 19:06] jedcunningham commented on #11982
@dimberman

[2020-10-30 19:42] prodhype opened #11983 "airflow.contrib.operators.pubsub_operator.PubSubPublishOperator can't handle multiple messages in a template"
**Apache Airflow version**: 1.10.10

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.19

**Environment**: composer

- **Cloud provider or hardware configuration**: GCP
- **OS** (e.g. from /etc/os-release): Debian Buster
- **Kernel** (e.g. `uname -a`): `Linux cs-1078880547532-default-default-cnxpx 5.4.49+ #1 SMP Sun Oct 18 19:43:35 PDT 2020 x86_64 GNU/Linux`
- **Inst

[2020-10-30 21:40] ephraimbuddy commented on #11968
We tried this before and met challenges. #8184.

[2020-10-30 21:58] kaxil opened #11988 "Add XCom.deserialize_value to 1.10.13"
https://github.com/apache/airflow/blob/912fe5257979c2b1356a6f4523bbe189a410b7fc/airflow/models/xcom.py#L261-L277

This method is missing in Airflow <= 1.10.12 hence does not allow users to take full advantage of Custom XCom backends

This method should be backported from Master to v1-10-test

[2020-10-30 22:03] kaxil commented on #10876
Confirmed the fix works

[2020-10-30 22:03] #10876 closed

[2020-10-30 22:45] kaxil commented on #9155
@ashb Do we still want to address this in 1.10.13?

[2020-10-30 22:52] kaxil opened #11989 "Add Doc page containing list of Alembic DB Migrations"
It would be nice to have a docs page on https://airflow.readthedocs.io/en/latest/ that lists all the alembic migrations in Airflow.

Example:

| Revision ID  | Revises ID   | Airflow Version | Summary                                                                 | Description                                                                     |
|--------------|--------------|-----------------|--

[2020-10-30 23:13] kaxil commented on #10954
Can you also paste the DAG too please where this error occurs? @djerraballi

[2020-10-31 00:20] kaxil commented on #9606
We should merge one of the following 2 PRs:

- https://github.com/apache/airflow/pull/11992
- https://github.com/apache/airflow/pull/11991

[2020-10-31 00:22] ernest-kr commented on #11989
Can you assign this to me?

[2020-10-31 00:22] kaxil commented on #11989
Awesome, thanks Ernest, assigned it to you

[2020-10-31 00:23] ernest-kr commented on #11989
Thanks Kaxil

[2020-10-31 04:12] YingboWang commented on #11893
Thanks for the information. And I want to share some thought on this issue.

What if we make the poke_context a real subset of task instance context which could be configured differently in different sensor class. And move the class construct function parameter to the execution_context? We could support existing items in the context if they are serializable. For ti we can do either wrap the ti key

[2020-10-31 06:08] Google987 commented on #11928
Hi guys,
Can anyone please guide me with this one?
By the code snippet, I understood that the ajax call is done for every `link`. But we are supposed to do a single call and process the response object instead.
I've forked the repo and cloned in my local system. I found this code in `dag.html`
But I'm not sure where these ajax calls are handled.

[2020-10-31 09:10] debodirno opened #11996 "For Airflow UI - changing background color to the hovered row (DAG)"
**Description**

For better UX, it seems this is very important, when there are multiple DAGs and you need to check the Links corresponding to the DAG.

**Use case / motivation**

A light sky blue or alice blue background color for table row on hover would help a lot when checking the extreme right side of the table, when there are lots of DAGs.

Seems like an easy issue to fix, but would really h

[2020-10-31 09:10] FloChehab commented on #11705
Sorry I miss clicked, I'll work on it very soon.

[2020-10-31 09:59] XD-DENG commented on #11996
A quite sensible feature to me. CC the UI/UX guru @ryanahamilton

@debodirno if you have bandwidth, I would also encourage you to try to implement this feature and raise a PR later. Let me know if you are interested so I can assign this issue to you.

[2020-10-31 10:33] debodirno commented on #11996
@XD-DENG Yes, I am interested.

[2020-10-31 10:34] XD-DENG commented on #11996
Cool, I have assigned it to you. Thanks.

Look forward to your PR!

[2020-10-31 11:58] ryanahamilton commented on #11996
@debodirno AFAIK all of the tables in the UI already have a row-hover background-color change. Is the screenrecording below what you are referring to?

Since you mentioned "checking the links", you might be interested in seeing the updates made just this week in #11866.

![Screen Recording 2020-10-31 at 07 49 49 AM](https://user-images.githubusercontent.com/3267/97778484-e39bc380-1b4d-11eb-97cb-c7

[2020-10-31 13:41] mik-laj commented on #11983
Jinja always returns text when the `messages` parameter accepts a list of dictionaries.
https://airflow.readthedocs.io/en/latest/howto/operator/google/cloud/pubsub.html

[2020-10-31 13:44] mik-laj commented on #11977
We only update the latest documentation and the latest documentation correctly says 1.10.12 so I'm closing this ticket because we can't take any action.

[2020-10-31 13:44] #11977 closed

[2020-10-31 14:07] mik-laj commented on #11706
@gigkokman can you post a comment here so i can assign you to this ticket?

[2020-10-31 14:09] gigkokman commented on #11706
May I help this issue?

[2020-10-31 14:12] jrderuiter opened #11998 "Argument image_pull_policy not applied inside KubernetesPodOperator"
**Apache Airflow version**:
2.0.0.a2

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
v1.18.8

**Environment**:

- **Cloud provider or hardware configuration**: Docker image
- **OS** (e.g. from /etc/os-release): macOS Catalina (Docker for mac)
- **Kernel** (e.g. `uname -a`): -
- **Install tools**: -
- **Others**: -

**What happened**:

I'm trying to run a KubernetesPo

[2020-10-31 16:03] davido912 opened #12001 "S3ToSnowflakeTransfer enforces usage of schema parameter"
Unlike all other Snowflake operators, S3ToSnowflakeTransfer requires the usage of schema instead of letting it be an optional variable that when passed would be used, and if not, then connection metadata is used.

I can be assigned on this if needed. Keeping this up here so this doesn't go unnoticed.

[2020-10-31 16:13] prodhype commented on #11983
The fact that Jinja is returning text means that a list of messages cannot be used in templated argument for messages. json.loads(<the template>) doesn't work because it tries to loads the template string. Using Jinjas NativeEnvironment doesn't work because there's no way to set ti= when calling render() on the NativeEnvironment instance.

[2020-10-31 16:22] ashb commented on #9155
Yeah, let's

[2020-10-31 16:30] prodhype commented on #11983
I was thinking this could be fixed with something like: https://github.com/prodhype/airflow/pull/1

[2020-10-31 17:07] #9606 closed

[2020-10-31 17:37] #11706 closed

[2020-10-31 18:16] debodirno commented on #11996
@ryanahamilton, oh I missed this. #11866 should solve this. Thanks!

[2020-10-31 19:05] #11996 closed

[2020-10-31 20:55] leandrob13 opened #12008 "Simplify SLA Logic by Defining Missed SLAs by Task."
**Description**

Currently the SLA handling in airflow is not as straight forward as we would expect and has known bugs that prevent us from using it as we expect in our production applications. I am aware of the efforts done in [this pull request](https://github.com/apache/airflow/pull/8545) to address the problem but I want to propose a more simple approach.

**Use case / motivation**

In a curr