[2020-08-27 02:14] mik-laj opened #10593 "Missing docs for logging"
Hello,

The configuration of the Airflow logger is not easy, as in most applications. We have many loggers, some loggers generate multiple streams and our architecture is heterogeneous, so we end up with multiple log streams. This is very confusing for many users, and the lack of documentation doesn't make it any easier.

We have following loggers
 - ``root logger``
 - ``airflow.processor``
 - ``a

[2020-08-27 03:09] xu-xiang commented on #10516
[code]

[2020-08-27 03:16] xu-xiang commented on #10516
@potiuk My pip version is 20.2.2  when i create this issues.
Use `(airflowenv) ➜ airflow git:(master) ✗ python3.8 setup.py install` install airflow  and error with `pkg_resources.DistributionNotFound: The 'apache-airflow==2.0.0.dev0' distribution was not found and is required by the application`

[2020-08-27 03:28] vishal-swarankar-sdl commented on #8907
I had the flexibility of updating the k8s cluster to 1.16.5, and that solved this issue for me.

[2020-08-27 04:00] raulk89 commented on #10569
Why https..?
All other links are fine with http://localhost:8080

Raul

Sent from my iPhone

[2020-08-27 04:42] alexbegg commented on #10434
I think I am able to replicate it now. It is only happening if the `execution_date` time is NOT `00:00` (in my first screenshot of my last comment, it was `07:00`) because when the "graph" view fails to show the DAG run it seems to be internally processed as if the time is `00:00`, which is why I could not reproduce it with a DAG run that _actually_ is for `00:00`.

If I view the "log" table of th

[2020-08-27 05:27] alexbegg commented on #10434
I tracked it down. The problem is an invalid value of `request.args.get('execution_date')` when passed in the URL unencoded resulting in not returning the correct pendulum datetime when used in `pendulum.parse()` which is used in many places in`www_rbac` python methods. The problem is not with the `:` either, only with the unescaped `+`.

I edited the code to log out the `request.args.get('executi

[2020-08-27 05:47] jhtimmins commented on #8112
Thanks @mik-laj, here's the WIP PR to address this
https://github.com/apache/airflow/pull/10594

[2020-08-27 08:21] NeoWang9999 commented on #7872
I agreed with cat buddy, the error message is not clear what is going on really.

[2020-08-27 08:23] ephraimbuddy commented on #10395
@mik-laj, `snakebite-py3` is a fork of `snakebite` and is not maintained by Spotify. Do you suggest we should use it in place of `snakebite`?

[2020-08-27 09:01] bodak commented on #10014
Are you planning to include GKEStartPodOperator?

https://github.com/apache/airflow/blob/master/backport_packages/refactor_backport_packages.py#L602
Removed in PR: https://github.com/apache/airflow/pull/7908

[2020-08-27 09:06] mik-laj commented on #10014
Yes. It is planned.

[2020-08-27 09:12] olchas opened #10596 "Add support for impersonation in GKEStartPodOperator, DataflowCreateJavaJobOperator and DataflowCreatePythonJobOperator"
**Description**

`GKEStartPodOperator`, `DataflowCreateJavaJobOperator` and `DataflowCreatePythonJobOperator` do not support [direct impersonation of a service account in Google services](https://cloud.google.com/iam/docs/understanding-service-accounts#directly_impersonating_a_service_account).

**Use case / motivation**

`GKEStartPodOperator`, `DataflowCreateJavaJobOperator` and `DataflowCreatePy

[2020-08-27 09:44] shanit-saha commented on #8484
One of the way we could resolve the same problem in our Airflow v 1.10.10 instance is by using a shell script as an extry point to execute the python application. The sys exit is part of the shell script. Earlier we invoked the python application directly from the `CMD` entry point in docker-image. The logging issue was observed. Please note we also tried both `sys.exit()` and `sys.stdout.flush()`

[2020-08-27 11:07] #10434 closed

[2020-08-27 11:07] kaxil commented on #10434
Thanks @alexbegg for the detailed investigation and the PR :)

[2020-08-27 11:41] sylr commented on #8907
@natemoseman Thank you for your insights, I will take a look as soon as I get back to work.

[2020-08-27 12:43] blessedwithsins opened #10601 "Apache Airflow 1.10 Issue"
Hi Team,

I'm reporting this issue on behalf of our customer. Customer is using AKS Cluster with version 1.15.7, where he is facing issue.

He is spinning Airflow Worker Pods in AKS Cluster which spawn another set of Application Pods for log streaming. However, after doing it once, pod is going into completed state and Worker Pod is unable to retrieve this information.

Can someone guide me in rig

[2020-08-27 14:56] jpays opened #10603 "Let users add custom metadata to the dag runs"
**Description**

Currently there is no way to add custom metadata to a dag run, this would be an interesting enhancement.

**Use case / motivation**

This could have multiple use cases, here are some examples :

* Let's say you have a dag that ends up loading data in a table, the number of lines loaded could be added as a custom metadata on the dag run
* You have a dag that run multiple times ever

[2020-08-27 15:04] nalepae opened #10604 "Upstream failed whereas Upstream is alright"
**Apache Airflow version**: 1.10.3 on Google Cloud Composer (so 1.10.3-composer)

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): (Managed by Google Cloud Composer)

**Environment**:

- **Cloud provider or hardware configuration**: Google Cloud Composer
- **OS** (e.g. from /etc/os-release): (Managed by Google Cloud Composer)
- **Kernel** (e.g. `uname -a`): (Managed by

[2020-08-27 15:35] mickaelgervais opened #10605 "Use private docker repository with K8S operator and XCOM sidecar container"
**Use private docker repository with K8S operator and XCOM sidecar container**

An extra parameter to KubernetesPodOperator: docker_repository, this allows to specify the repository where the sidecar container is located

**My company force docker proxy usage for K8S**

I need to use my company docker repository, images that are not proxifed by the company docker repository are not allowed

[2020-08-27 17:48] ryw commented on #10560
thanks for the detail @mik-laj - makes more sense.

if its possible, I think it'd be nice if all the code that we're keeping is moved into the `/airflow/api` directory and all the code that we're deprecating gets moved to `/airflow/api_deprecated` directory so it's easier to reason about the stable API - and read code related to it.

but if this would be painful in any way, we can just close this

[2020-08-27 18:02] turbaszek opened #10611 "Graph View shows other relations than in DAG"
**Apache Airflow version**:

master

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**: breeze

**What happened**:

This DAG
[code]

is rendering like that:

<img width="1374" alt="Screenshot 2020-08-27 at 19 59 41" src="https://user-images.githubusercontent.com/9528307/91478403-11d7fb00-e8a0-11ea-91d0-d7d578bcb5a2.png">

**What you expected to happen**

[2020-08-27 18:17] turbaszek commented on #10611
Seems that the bug was introduced in https://github.com/apache/airflow/commit/8fdcc5760a104b0e4e5558191e0269bf873f8768#diff-e3fba382e484c6174a6fbef925b2e575

[2020-08-27 19:14] #10611 closed

[2020-08-27 19:34] potiuk commented on #10516
@xu-xiang - can you please try to replicate using the latest master and the standard virtualenv we recommend in CONTRIbUTING (with pyenv or mkvirtualenv and report if you have a success ? I think this.might be about some non-standard virtualenv setting you have

[2020-08-27 20:44] pingdink opened #10614 "Scheduler has NO HEARTBEAT after manual trigger. Scheduler revives after 15mins and begins task"
**Apache Airflow version**:
1.10.10

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.6", GitCommit:"dff82dc0de47299ab66c83c626e08b245ab19037", GitTreeState:"clean", │
BuildDate:"2020-07-16T00:04:31Z", GoVersion:"go1.14.4", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1

[2020-08-27 22:59] cchepelov opened #10616 "modules provided and imported by packaged DAGs can get mixed up"
**Apache Airflow version**: 1.10.1, 1.10.10, code identical in 1.10.12 (reproduced with unit tests)

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): N/A

**Environment**:

- **Cloud provider or hardware configuration**: on-prem
- **OS** (e.g. from /etc/os-release):  CentOS 7
- **Kernel** (e.g. `uname -a`): Linux 3.10.0-957.1.3.el7.x86_64
- **Install tools**:
- **Other

[2020-08-27 23:48] alexbegg commented on #10434
@kaxil that was my first PR in this repo so I am just asking, does anything need to be done on my part for this to be picked up and cherry-picked into 1.10.x? It needs to be fixed in `airflow/www_rbac/templates/airflow/dags.html` there too.

[2020-08-28 00:42] danielnazareth89 commented on #8907
I fixed this by changing the default worker gunicorn from **sync** to an asynchronous class namely **gevent**. Please see the below AWS thread for the weird behaviour between gunicorn and ELB's.

[https://forums.aws.amazon.com/thread.jspa?messageID=419138](url)

So, simply set AIRFLOW__WEBSERVER__WORKER_CLASS: "gevent" in your config, should be better

[2020-08-28 02:19] darwinyip opened #10620 "Reattach ECS Task when Airflow restarts"
**Description**

In similar fashion to https://github.com/apache/airflow/pull/4083, it would be helpful for Airflow to reattach itself to the ECS Task rather than letting another instance to start. However, instead of making this the default behavior, it would be better to use a `reattach` flag.

**Use case / motivation**

Allow Airflow the option to reattach to an existing ECS task when a restart

[2020-08-28 03:05] vkreddy commented on #10519
@mik-laj  can I work on this issue?

[2020-08-28 03:18] mik-laj commented on #10519
Yes. You can work on it.

[2020-08-28 04:32] marcoaaguiar commented on #10519
I was planning to work on this issue this weekend, when I have some free time.
Do you mind if I take this one, @vkreddy ?
If @mik-laj agrees, of coursee.

[2020-08-28 05:30] vkreddy commented on #10519
@marcoaaguiar please do I don't mind. I haven't started working on it and also you are the reporter so you have the complete context  :). I will try to find another issue.

[2020-08-28 07:13] houqp commented on #10550
I am on the same page as @jaketf with regards to list of resources that makes sense to be managed by terraform. It's actually quite small that implementing them by hand incurs very little work.

That said, i am interested in knowing other people's thought on this and see if there are valid use-cases to manage more resource types from Terraform. If we are to support many more resource types, then t

[2020-08-28 07:24] houqp commented on #10552
This certainly looks interesting. Being able to have a airflow console in the web sounds pretty cool.  I see no harm in giving this a try as an experiment. I have always wanted us to keep the existing CLI as the admin CLI and build a new CLI from scratch as the user CLI that only interacts with the REST api and can be distributed as a single binary :)

The only thing we should be aware of is the C

[2020-08-28 07:29] ad-m commented on #10550
The use of "terraform-provider-openapi" allows for possible future Terraform updates automatically. It is only necessary to prepare the tests so that the library can be updated automatically. Tests - taking into account the existing standards - can be prepared on the basis of documentation that must be created.
Such an update can happen when a new field is added (it's easy to miss Terraform update

[2020-08-28 07:40] ad-m commented on #10552
HyperOne team here. :bowtie:  The created CLI Framework is not any proprietary HyperOne technology. Everything is FOSS and we intend to keep it that way. We use open-source and give it to open-source, especially that this is not the core of our services. We sincerely hope that thanks to the cooperation everyone will only benefit.

[2020-08-28 07:44] ozw1z5rd commented on #10154
@kaxil on my production installation, the list has different order.
[code]
in your list:

[code]

I did not dive in deep, however I think this problem raises _because of the upgrade_ from airflow 1.9.0 to 1.10.10. The upgradedb did not run in production, it ran in staging and later all the differences have been moved by DBA teams on the production db.

[code]

[2020-08-28 08:19] JeffryMAC commented on #10434
@alexbegg do you think you can help investigating https://github.com/apache/airflow/pull/10556 ? seems you are familiar with the last_run and it's representation in the UI

[2020-08-28 09:08] gardnerdev opened #10623 "Persistent dag option in helm chart - no dags in scheduler"
I am using helm chart from this repo. I set up options like:
[code]
After that, and prepared s3-sync process, dags landed only in worker and web server. Due to this fact, I cannot see them in UI.
I bet persistence dag option doesn't work properly

[2020-08-28 09:57] pyxin opened #10624 "Use Dingding webhook with extra parameters, like proxy; 发送钉钉webhook添加其他参数 如:代理"
Hi 能否将配置中的Extra, 在钉钉 send 时使用?

@zhongjiajie

具体文件如下
airflow/providers/dingding/hooks/dingding.py
第120 行

[code]

[2020-08-28 10:04] dyon78 opened #10625 "Add hook for AWS SecretsManager"
**Description**

  Hook for AWS SecretsManager

**Use case / motivation**

Simplify interaction with AWS's SecretsManager service

[2020-08-28 10:38] battlesnake opened #10626 "DAG description/documentation that's viewable in the UI"
**Description**

I would like a way to (optionally) provide DAG description text block when creating a DAG, and have this text shown in Airflow UI for tree/graph view, and in the Trigger Dag screen.

Also show the per-dag_run config in the UI.

**Use case / motivation**

A brief description of the DAG (and possibly, its owner / external dependencies) will be helpful for users, to understand what t

[2020-08-28 10:48] #10625 closed

[2020-08-28 10:48] dyon78 commented on #10625
Duplicate, already implemented

[2020-08-28 10:58] XD-DENG commented on #10624
Hi @pyxin please submit the issue with English so the folks from the community can better understand it? Thanks

Hi @pyxin 建议你把issue内容翻译为英文，不然社区大部分成员无法参与讨论或者帮助你解决问题。谢谢

[2020-08-28 13:15] battlesnake commented on #10626
Anything I should take into consideration if I implement this myself and send a PR?

[2020-08-28 13:18] coopergillan commented on #10626
I thought this was already available either the `dag_description` attribute in the `DAG` object. Is this talking about something else?

[2020-08-28 14:18] michalslowikowski00 opened #10628 "Transfer Operators from Amazon Glacier → GCS"

[2020-08-28 14:19] michalslowikowski00 commented on #10628
I am working on it.

[2020-08-28 14:26] janarthanandev commented on #9781
@potiuk Is there any update on backport package for cncf.kubernetes

[2020-08-28 14:33] mjpieters opened #10629 "Several statsd timers record seconds rather than milliseconds"
**Apache Airflow version**: 1.10.11

**What happened**:

Statsd timers for 3 categories are reporting values 1000x off as the code passes seconds, rather rather than milliseconds (or a `timedelta()` instance) to [`StatsClient.timing()`](https://statsd.readthedocs.io/en/v3.3/reference.html#StatsClient.timing).

**What you expected to happen**:

The timings should be reported in milliseconds.

**How

[2020-08-28 14:39] mik-laj commented on #9781
It's planned to release soon: See: https://github.com/apache/airflow/issues/9781

[2020-08-28 14:42] mik-laj commented on #10113
@kundan1301 We no longer update operators in Airflow 1.10. I recommend installing backport packages. https://github.com/apache/airflow#backport-packages

[2020-08-28 14:42] #10113 closed

[2020-08-28 14:44] mik-laj commented on #9780
@mahadirz If you test it and see that it works can you let us know and close the ticket, please?

[2020-08-28 15:20] mik-laj commented on #10626
Here is docs about DAG.doc: https://airflow.readthedocs.io/en/latest/concepts.html#documentation-notes

[2020-08-28 15:55] mik-laj opened #10634 "Validate values.yaml"
Hello,

It would be helpful to create the  [values.schema.json file](https://helm.sh/docs/topics/charts/#schema-files) file to validate values.yaml file.

@flvndh Can you please leave a comment so I can assign you to this ticket

[2020-08-28 16:06] flvndh commented on #10634
🖐

[2020-08-28 17:19] dimon222 commented on #8212
Update - new solution is adding gevent monkey patching to top of `config_templates/airflow_local_settings.py`. It works.

[2020-08-28 18:16] battlesnake commented on #10626
:facepalm: Thanks, some how I've not noticed that previously.

[2020-08-28 18:21] michalmisiewicz opened #10636 "Kubernetes executors hangs on pod submission"
**Apache Airflow version**: 1.10.10, 1.10.11, 1.10.12

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.15.11, 1.17.7

**Environment**:

- **Cloud provider or hardware configuration**: AKS
- **Others**: Python 3.6, Python 3.7, Python 3.8

Kubernetes executors hangs from time to time on worker pod submission. Pod creation request is timeouting after 15 minutes and sch

[2020-08-28 19:15] anubhav562 commented on #9669
Hey @JeffryMAC, I was able to reproduce this issue. I would like to work on this issue and would love to contribute to the source code. Any idea on how do we get ourselves assigned to the issue?

[2020-08-28 19:26] potiuk commented on #9669
Assigned you :)

[2020-08-28 19:38] ryw commented on #10523
@schnie what do we need to do here? is there an issue that clearly captures the steps we need to take to reduce community confusion?

[2020-08-28 19:59] potiuk commented on #9781
1.10.12 has been released and that was one last blocker - I will take a look at preparing release of backports tomorrow :)

[2020-08-28 20:19] potiuk commented on #10605
would you like to add this feature @mickaelgervais ? I am happy to review it

[2020-08-29 02:53] luozhaoyu commented on #10541
I also encountered the same issue using:
1. manifest generated from helm chart master branch
2. KubernetesPodOperator
3. using both minikube and a real k8s cluster

[code]

This is my DAG:
[code]

[2020-08-29 12:08] FloChehab commented on #10541
Hi @luozhaoyu, I am not sure your issue is the same: based on the log you provided, I can see that you simply can't interact with the kubernetes API in your cluster (it's more a configuration issue on your side I guess).

[2020-08-29 15:17] marcoaaguiar commented on #10519
@vkreddy Thanks :)

[2020-08-29 16:36] mebelousov opened #10641 "Add new connection type - Greenplum"
Greenplum DB is a popular open source relational DBMS[1].

I want to implement some database specific behaviour for a common class. It's easy to check connection type for postgres, mysql or oracle. Now I use postgres connection type for Greenplum and cannot explicitly check type.

Airflow has `PostgresHook` based on `psycopg2`. As Greenplum supports PostgreSQL libpq API [2], `PostgresHook` could b

[2020-08-29 16:45] joshi95 commented on #10309
Hi I can pick this up.

[2020-08-29 19:42] sreenath-kamath commented on #10603
Can't this be achieved using the configuration passed during the dag_runs

[2020-08-29 19:56] #10184 closed

[2020-08-29 20:15] aimran-adroll commented on #10574
#10630 may be the fix. Have to test it though

[2020-08-30 02:16] OmairK commented on #10576
@potiuk is this issue up for taking? I would like to work on it.

[2020-08-30 03:24] sreenath-kamath commented on #9134
Why not use the flink REST API's to submit the job and store the job_id in the xcom variable and exit the process, https://ci.apache.org/projects/flink/flink-docs-stable/monitoring/rest_api.html. Incase the user wants to poll for the status of the job in the dag a `Sensor` can also be written which takes the job id as an argument and ensures that the job is still running. wdyt ?

[2020-08-30 04:33] dyon78 opened #10645 "AWS SecretsManager as a hook"
**Description**

Hook for interaction with AWS SecretsManager

**Use case / motivation**

Simplify interaction with SecretsManager

[2020-08-30 05:21] jonstacks commented on #10292
I'm also seeing this in our EKS clusters(version 1.15.11) with airflow 1.10.11 and 1.10.12 using the Kubernetes Executor. Everything else seems to be working as expected with the exception of logs.

I think I've traced it back to how the hostname gets set in the DB. I think this call to get_hostname is the issue:

https://github.com/apache/airflow/blob/4e3799fec4c23d0f43603a0489c5a6158aeba035/airf

[2020-08-30 05:50] SteNicholas commented on #9134
@sreenath-kamath Submitting Flink job always uses Flink command, and using the flink REST API's to submit the job isn't friendly to Airflow's users.

[2020-08-30 06:24] aimran-adroll opened #10646 "Kubernetes config dags_volume_subpath breaks PVC in helm chart"
**Apache Airflow version**: 1.10.12, master

**Kubernetes version: v1.17.9-eks-4c6976 (server)/ v.1.18.6 (client)

**Environment**:

- **Cloud provider or hardware configuration**: EKS
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

Current logic of setting `dags_volume_subpath` is broken for the following use case:

I a

[2020-08-30 09:13] potiuk commented on #10576
Sure @OmairK. Feel free :) Ideally one-by-one :)

[2020-08-30 09:28] potiuk commented on #10180
Hello - just see the message now. Sorry I missed it :(

The context - we had a lot of documentation which was split into several different sources - Github docs, Cwiki, Airflow documentation in docs.  Airflow Site and sometimes the documentation was overlapping, sometimes outdated, sometimes it did not contain relevant information.

We are now cleaning and restructuring the docs to be more consist

[2020-08-30 09:29] potiuk commented on #10180
I've assigned it to you

[2020-08-30 09:35] #10274 closed

[2020-08-30 12:40] aranjanthakur commented on #10166
@mik-laj I have added the test cases, could you please review the changes
https://github.com/apache/airflow/pull/10261

[2020-08-30 14:43] potiuk commented on #10576
I am about to submit a big Breeze change for that, so you can take a look how I 've done that and review :) @OmairK

[2020-08-30 14:45] OmairK commented on #10576
Yes that would be very helpful thanks :smile:

[2020-08-30 15:27] galzak opened #10648 "dbapi_hook target_fields not working"
I have a table in Postgres with the below columns:
	re_ads_snapshot_id serial NOT NULL,
	ad_id int8 NOT NULL,
	origin_table_id int4 NULL

My ETL suppose to insert data into this table but only to ad_id, origin_table_id.
the query is “select ad_id, origin_table_id from….”
When I use target fields it’s still inserting the Data into the first two: re_ads_snapshot_id and ad_id instead of skipping the

[2020-08-30 22:57] andreyvital commented on #8467
Also struggling with this. Right now we're using Pomerium as a proxy in front of our internal Airflow: https://github.com/pomerium/pomerium

[2020-08-31 00:52] houqp commented on #10552
@mik-laj @ad-m should we create a public repo to kick off the experiment? i am interested in giving the cli a try as well.

[2020-08-31 01:59] scottrigby commented on #10523
@mik-laj I'm not sure I understand fully. Are you saying the chart at https://github.com/apache/airflow/tree/master/chart installs an enterprise edition of Airflow – or are you referring only to https://github.com/astronomer/astronomer?

And (either because of that or as an independent statement) are you saying you don't wish to host a chart for pure apache Airflow?

@ryw From an end user point of

[2020-08-31 02:44] dimberman commented on #10523
Ohhh kay I think there's a bit of confusion so lemme try to patch this up.

@ryw @schnie @mik-laj It appears that Scott works on the helm project and is asking us (apache/airflow) to take over stable/airflow as helm is deprecating their stable charts overall. It would be a good idea for us to take over this chart immediately so we can make it easier for us to deploy OSS airflow to our community.

[2020-08-31 03:10] scottrigby commented on #10523
@dimberman I see 🙂 Thanks for clearing that up.

One important thing I'd suggest is bringing in git history from the stable repo chart source (there have been a number of charts copied over, and git history is later requested for a few reasons: 1. Crediting past contributors, and 2. Seeing why the current state got the way it did, to help evaluate future changes).

And if you have any questions se

[2020-08-31 03:15] amithmathew commented on #8803
Took a look and did some quick and dirty tests with the `impersonation_chain` parameter. Looks good to me.

I would love to see this implemented for Dataflow as well, will follow #10596.

[2020-08-31 07:49] MahsaSeifikar opened #10656 "Error in SSHOperator " 'NoneType' object has no attribute 'startswith' ""
**Apache Airflow version**: 1.10.10

**What happened**:

I wrote the following piece of code:
[code]

**What you expected to happen**:
And I got the following error:

`Broken DAG: [/etc/airflow/dags/dag_test_sshoperator.py] 'NoneType' object has no attribute 'startswith'`

**Anything else we need to know**:
I add new ssh connection in Admin--> Connections. and in Extra field, I put the following J

[2020-08-31 08:04] turbaszek commented on #10382
Thanks @jaketf for response! Do you think the edge case is something crucial to handle or should we see in the future if this causes problems?

[2020-08-31 08:09] turbaszek commented on #10381
I think we should limit the `on_kill` to canceling the job. What is more, I think it should be configurable to allow attaching to an existing job using `request_id`

[2020-08-31 08:36] mickaelgervais commented on #10605
Hi @potiuk ,

I've submitted a PR, do nopt hesitate to add comment or if I've implemented this badly.
The sidecar container declaration is low level in K8S operator so I've tried to not add complexity.

Regards

[2020-08-31 09:10] potiuk commented on #10523
I do not have problems anymore with the licenses or sources :). This has been solved.

However, I am afraid it's not as easy as 'just create repo' and as PMCs, we have formal obligations that we have to fulfill to release the Helm Chart. We discussed it several times in the past with the original authors of the Helm chart

There are a couple of things here:

## Taking over the chart

I think we al

[2020-08-31 09:38] jpays commented on #10603
You mean using the "conf" attribute of the DagRun ?

That would indeed be an option I suppose, but :

* `conf` is stored as `PickleType`, which is good if you need to pass any kind of Python object to the DagRun, but not suitable at all for external use such as SQL Query
* from my understanding,  `conf` should be considered as the input values for the DagRun, and as such should not be tampered wit

[2020-08-31 10:50] potiuk commented on #10014
I am planning to cut the 2nd Backport package release candidate this evening. So please try to merge everything from "providers" if you want this to be part of that release.

[2020-08-31 11:27] potiuk commented on #10576
Hey @OmairK (and anyone else) -> feel free to pick any of the files from the list. some of them are very small and super easy. The #10651 contains detailed description (in commit message) of the changes implemented in Breeze and related scripts and the "context" of what we want to achieve with applying the guidelines.

[2020-08-31 11:45] potiuk commented on #10552
FYI @mik-laj  -> as PMC you can create repost starting with airflow- in the apache organization via self-service platform: https://cwiki.apache.org/confluence/display/INFRA/Creating+a+new+repository

[2020-08-31 12:00] scottrigby commented on #10523
@potiuk  airflow voting processes make sense. Just a few quick replies:

- donation: the entire `helm/charts` project - this includes each chart there - is already licensed under an Apache License 2.0: https://github.com/helm/charts/blob/master/LICENSE, by The Helm Authors. We've already stated our interest in donating charts(s) sources to distributed repos, with a preference for maintainers of th

[2020-08-31 12:03] mik-laj commented on #10552
@potiuk @houqp I have the impression that the new repository will not help here, because we will have to rely on the CLI framework, which has not yet been released by HyperOne. We have to wait until Hyperone finishes its work and decides to separate Framework and HyperOne CLI. For now, we can contribute to the repository where the [Hyperone CLI](https://github.com/hyperonecom/h1-cli/tree/v2) is, b

[2020-08-31 12:23] mik-laj commented on #10552
We cannot use development releases for our work as this is not supported for repositories with multiple packages(monorepo) by npm/yarn.
In Python, we could use https://pip.pypa.io/en/stable/reference/pip_install/#vcs-support, but HyperOne CLI uses NodeJS.  In Node JS, this is a bit more complicated, because the code released as an installation package is different from the code in the repository.

[2020-08-31 12:35] mik-laj commented on #10656
This looks like real issue. Do I have to assign you to this ticket? Would you like to contribute a fix for this problem? I happy to help with review.

[2020-08-31 12:36] ad-m commented on #10552
We publish our packages on a regular basis, but I do not believe that the scope of the changes can be embarrassing for external software. I am going (together with @ mik-laj) to fine-tune the CLI, which will show us where the weak points are, to decouple the framework from any HyperOne-specific elements. We will also have to present the basic documentation of the public API library, because our vi

[2020-08-31 13:31] #10519 closed

[2020-08-31 13:36] #9736 closed

[2020-08-31 13:56] aewald2 opened #10661 "execution_timeout hangs in running state"
**Apache Airflow version**: 1.10.9

**What happened**: We set the execution_timeout set to 13 minutes, tasks will log that they are timing out at 13 minutes but are left hanging in run state.

**What you expected to happen**: if it goes beyond max time set it will raise and fail.

**How to reproduce it**: example code:

default_args = {
    'owner': 'owner',
    'description': 'description',
    '

[2020-08-31 14:55] dimberman commented on #9610
Hi @chrismclennon,

Two questions about this: 1. Are these happening to very long-running tasks? 2. Are these tied to scheduler restarts? It's possible this might be fixed in 1.10.12 as we added some fixes for long running tasks in the k8spodoperator

[2020-08-31 15:28] SamWheating commented on #10586
Hey, I've been running into this issue and we've created a modified copy of k8spodoperator as a workaround. I'd be interested in making a PR to expose the tail_lines property to the user in the k8sPodOperator.

If its alright with you, you can assign this issue to me and I can get a PR up hopefully sometime this week?

[2020-08-31 15:50] dimberman commented on #10586
@SamWheating assigned :). Could you please make sure that this issue is persistent in 1.10.12?

[2020-08-31 17:31] eladkal commented on #10648
Commented about it on Slack.
Your implementation seems to be a private case of [GenericTransfer](https://github.com/apache/airflow/blob/master/airflow/operators/generic_transfer.py) so you should be able to use that operator for your ETL.

I think for now this issue can be closed.

[2020-08-31 17:40] SamWheating commented on #10586
Yup, I'm just updating our clusters to 1.10.12 and then I'll try to replicate the error case (a pod producing a lot of logs quickly and then shutting down).

[2020-08-31 17:50] #10029 closed

[2020-08-31 18:06] MahsaSeifikar commented on #10656
Yup, I know what's the problem. and I really like to fix this issue!

[2020-08-31 18:11] SamWheating commented on #10586
Replicated the issue in Airflow 1.10.12 like so:

Created a DAG to really quickly log a bunch of stuff in a k8s pod:
[code]

Running the DAG then only provides the last 10 lines of the log in the airflow UI:
[code]

While checking the logs on the completed pod show the entire count:
[code]

[2020-08-31 18:20] michalmisiewicz commented on #10586
The fix should be applied also for KubernetesExecutor 🙂
I'm now testing stability of KubernetesExecutor with tail_lines equal to 0.

[2020-08-31 18:37] SamWheating commented on #10586
Sounds good. From the kubernetes python client source:
[code]
Is there a reason users would ever want truncate lines? Maybe its just easier to not set this value and retrieve all logs in all cases.

[2020-08-31 18:37] potiuk commented on #10523
Licence is fine, this is not about the licence but about the "ownership". So who is the "Licensor". From the Apache 2.0 Licence:

The donation process is about passing the ownership and it brings in certain responsibilities (including legal ones). We had a similar [discussion with the CWL community](https://lists.apache.org/thread.html/8aab6f537edc929e38a9da15d5fbf30d1dbbc7bbf8c4c8c36e749e0e%40%3C

[2020-08-31 18:43] dimberman commented on #10586
@SamWheating I'd say retrieve all logs in all cases. The fact that these are truncated is a bug. Glad to help whenever you have a PR ready!

[2020-08-31 19:50] ryw opened #10667 "Licensing risks"
I've pulled together a list of questionable licenses that license scanners will pick up for Airflow. Ideally we should look to remove the dependencies from the project.

Project | License  | PR |
|---------|----------|----|
| [astroid](https://pypi.org/project/astroid/) | LGPL-3.0 |
| [certifi](https://pypi.org/project/certifi/) | MPL-2.0 |
| [chardet](https://pypi.org/project/chardet/) | LGPL-2.1

[2020-08-31 20:38] potiuk commented on #10667
Duplicate of #9898

Just to give a bit of context here: As an ASF project we are bound by the https://www.apache.org/legal/resolved.html

We've discussed most (if not all) of those licences in #9898. I looked through it and do not find any new "watchouts".

IMHO the result of this discussion is that we are "ok". Unless there is other reason (not ASF policies) that we want to get rid of those as ri

[2020-08-31 20:47] ryw commented on #10667
We should seek to eliminate category-x dependencies/references, if possible, as the cleanest resolution.

For those that we cannot get rid of, or don't think we must get rid of (if we think we are OK in how we're using them), we'll document that somewhere for reference (which I volunteer to do).

[2020-08-31 21:56] potiuk commented on #10667
Sure - I am perfectly ok with that - and documenting is a good thing.

I just think we are spinning in circles a bit - I thought we reached conclusions and explained all reasons in #9898. So I am surprised a bit that we have the second one, but I might be wrong about "conclusions", so I prefer to ask.

[2020-08-31 22:36] scottrigby commented on #10523
@potiuk I'm happy to help ask chart users and maintainers to contribute to a migration guide. The current stable/airflow maintainers are here: https://github.com/helm/charts/blob/master/stable/airflow/OWNERS. CCing @gsemet @maver1ck @ thesuperzapper just so everyone is in the loop.

But ok yes that sounds like a good game plan, depending on what the Bitnami folks say. I'm pinging them about it now

[2020-09-01 07:18] thesuperzapper commented on #10523
Hi All,

I am the current maintainer of the `stable/airflow` chart.

A few quick observations:
1. I don't think the [chart in apache/airflow](https://github.com/apache/airflow/tree/master/chart) is even close to feature parity with `stable/airflow` right now. (So a migration guide would NOT be possible)
1. The [chart in apache/airflow](https://github.com/apache/airflow/tree/master/chart) is effect

[2020-09-01 07:34] galzak commented on #10648
Thank you.
instead of using:
[code]

I had to change:
`        records = src_mysql.get_records(self.sql)
`

[2020-09-01 07:34] #10648 closed

[2020-09-01 08:09] turbaszek commented on #9708
@mik-laj what is the status of this issue?

[2020-09-01 08:14] potiuk commented on #10523
Let's talk about constructive approach then @thesuperzapper :).

I'd love to know how we can get the "airlfow" chart to a usable state by a normal person. The whole discussion is all about that I believe. We know that it misses a little to be completely ready for production, so I propose we all focus on making it happens as soon as possible:

1) Could you please point out what kind of documentatio

[2020-09-01 08:28] turbaszek opened #10672 "Refactor BigQueryToGCSOperator to use new method"
**Description**

`BigQueryToGCSOperator` uses currently `cursor` from `BigQueryHook ` and its method `run_extract`. Both are deprecated.

This operator should use `insert_job` method of `BigQueryHook`. This method requires job configuration as specified in
https://cloud.google.com/bigquery/docs/reference/rest/v2/Job#JobConfiguration. This operator should build `extract` configuration as a dictiona

[2020-09-01 08:58] blessedwithsins commented on #10601
May I have an update on this issue?

[2020-09-01 09:00] gsemet commented on #10523
Hello everybody,

I am the original maintainer of [stable/airflow](https://github.com/helm/charts/tree/master/stable/airflow), along with @thesuperzapper. I just wanted to add some points, especially on how we would like to handle the transition.

## 1. stable/airflow Chart "donation"

There are two points heres:
- is it possible?
- is it wanted?

### 1.1 Is it possible to donate state/airflow?
Ab

[2020-09-01 11:05] mik-laj commented on #10601
Please ask on Slack channel. [![Slack Status](https://img.shields.io/badge/slack-join_chat-white.svg?logo=slack&style=social)](https://s.apache.org/airflow-slack)
We don't provide support via Github Issues. Github Issues should only have confirmed bugs, not help requests.

[2020-09-01 11:05] #10601 closed

[2020-09-01 11:07] battlesnake commented on #10626
I've just tried this now and I notice that the description is displayed in one line to the right of the DAG title, and is truncated when it gets long.

Would it be ok to have a separate longer description/documentation string that appears in the "Trigger DAG" page, which can give more detailed information, especially regarding the dag_run config?

[2020-09-01 11:35] #10626 closed

[2020-09-01 13:16] ryw opened #10674 "remove airflow-pr tool"
`https://github.com/astronomer/airflow/blob/master/dev/README.md` mentions `airflow-pr` tool that works with Jira - I'd suggest we delete that code and tool. It also allows us to drop `PyGithub` and `chardet` requirement, which are category-x LGPL licensed. I'm happy to attempt the PR if you all agree.

@kaxil @ashb if other sections of the doc are outdated too (related to releases) then we should

[2020-09-01 13:23] kaxil commented on #10674
PyGithub is only sued for release management and not included in the source code (actually the entire "dev" folder for that matter isn't included) so licensing-wise it won't be a problem.

But yes the "dev" directory does need some cleanup, will do it in the coming days, thanks for creating the issue

[2020-09-01 13:34] ryw commented on #10674
FYI - I just downloaded https://github.com/apache/airflow/archive/1.10.12.zip from https://github.com/apache/airflow/releases/tag/1.10.12 and the `/dev` directory is present.

[2020-09-01 13:35] #10406 closed

[2020-09-01 13:37] ryw commented on #10667
Hi @potiuk i better understand now the technique we're using to provide constraint files that aren't in the source code - which definitely helps with automated scanners, since those files are in orphaned branches.

Is the intention to keep this structure going forward through future releases, or is it a 1.10 -> 2.0 thing?

[2020-09-01 13:47] scottrigby commented on #10523
@potiuk I agree the only way forward is to take a constructive approach.

Following up on the Bitnami discussion above, I've spoken with @carrodher who is also happy to collaborate with the existing stable/airflow chart maintainers to bring bitnami/airflow to feature parity, with a migration path from stable. Here's an issue to help track that effort: https://github.com/bitnami/charts/issues/3580

[2020-09-01 13:58] potiuk commented on #10674
Hey @Ry, goad that you arę looking at its but i'd really recommend readig the ASF dość before, to understand the 'legal' content we have as ASF project.

See the  http://www.apache.org/legal/release-policy.html#what-must-every-release-contain

There is only one 'official' release for ASF projects - and it has to be placed at downloads.apache.org. It has to be cryptographically signed by the releas

[2020-09-01 14:10] potiuk commented on #10667
It's going to stay like that as far as I am concerned. But his is something we are going to discuss on Monday.

I am writing a short proposal for 2.0 release/packaging process today, so that everyone can read it before we have our Monday meetingu on 2.0. I promised I send it before at the last meeting.

[2020-09-01 14:27] dimberman commented on #10523
@scottrigby I think that sounds like a good idea. I agree that unfortunately the stable/airflow chart is far too diverged from our chart for any form of merging. We would love input from the stable/airflow maintainers on what documentation/features we are missing. Perhaps we can have a session to brainstorm issue tickets to port over some popular features? This would also be a great way to bring i

[2020-09-01 16:23] ryw commented on #10674
Thanks Jarek - learning more each day :) took an excerpt of your comment to add to project README (https://github.com/apache/airflow/pull/10678), as I wasn't aware of the downloads.apache.org source and I'm sure many other users aren't aware of it either.

[2020-09-01 16:50] megancooper opened #10679 "Installing apache-airflow==1.9.0: gitpython not found: Cannot compute the git version."
**Error while installing apache-airflow==1.9.0**

Currently have been installing this package during deployment in a circleci job. Installing the package has just stopped working (we've made no changes on our end...)

The circle ci job uses a python virtual environment, that is setup as follows:

[code]
And then we run `pip install -r requirements.txt` which starts installing packages (apache-airf

[2020-09-01 16:55] kaxil commented on #10674
Yes, https://github.com/apache/airflow/releases/tag/1.10.12 & `.zip` just contains everything in the repo while we control what goes into the actual release (the .whl and tar.gz and the source uploaded at downloads.apache.org or dist.apache.org) using the [MANIFEST.in](https://github.com/apache/airflow/blob/master/MANIFEST.in) and [package_data](https://github.com/apache/airflow/blob/70f05ac677515

[2020-09-01 16:59] kaxil commented on #10674
Btw users would still not have any dev dependencies installed even if they use the tag as we don't have it in setup.py

[2020-09-01 17:11] potiuk commented on #10523
That's perfect - as I explained before - if there is a clear migration path from the 'stable' chart to 'bitnami' and the bitnami is updated to the feature parity with it - that's the best solution. We are focusing on 2.0 efforts now and if we can focus on this rather than supporting users of the existing helm chart - that's perfect. - I have completely no problem if people choose another, well mai

[2020-09-01 17:17] megancooper commented on #10679
Resolved by setting:
`export SETUPTOOLS_USE_DISTUTILS=1`

See this issue here:
https://github.com/pypa/setuptools/issues/2351

[2020-09-01 17:17] #10679 closed

[2020-09-01 17:26] ryw commented on #10674
I understand that we're safe on dev requirements not being installed unless user does so explicitly and intentionally.

I've put in [a PR](https://github.com/apache/airflow/pull/10675) to delete the `airflow-pr` tool which seems unnecessary since we've moved away from Jira, we can discuss the merits of that within that PR, so closing this issue.

[2020-09-01 17:26] #10674 closed

[2020-09-01 17:27] ryw commented on #10667
Thanks @potiuk closing this issue, as the latest master doesn't trigger all these licenses any longer.

[2020-09-01 17:27] #10667 closed

[2020-09-01 18:00] potiuk commented on #10667
Ah, so Snyke is not that smart eventually :). We still have text-unicode as transitive (tho optional) dependency still.

[2020-09-01 22:58] chrismclennon commented on #9610
Hey @dimberman.

1. We've observed this for all tasks that run longer than 1 hour.
2. I don't believe this is tied to scheduler restarts. Whether we restart the scheduler or not, we still observe this behaviour at the 1 hour mark.

We'll be making the update to 1.10.12 within the next ~month or so. If this issue is still under investigation by then I'll be sure to report back if the version update

[2020-09-02 01:15] breser commented on #10429
Pull request made.

I did not email security@apache.org because I frankly don't consider this to be worth going through that process.  This vulnerability is not in any way "secret".  It's a vulnerability in a dependency, that Nessus is already alerting on against running airflow servers (mostly because of some networking equipment that happens to put jquery on a similar path not because they coded

[2020-09-02 03:35] ashwinshankar77 commented on #7935
Hi, this is happening at Slack too. We are using celery executor. The scheduler just gets stuck, no trace in the logs. Seeing a lot of defunct processes. Restart fixes it. @turbaszek @kaxil @potiuk  any ideas what is going on?

[2020-09-02 04:47] bhavaniravi commented on #9538
I would love to have this feature, also have an option to change the `site-title` in the tab itself. One of the usecase I could see is to differentiate dev, test and prod environment

[2020-09-02 05:50] msumit commented on #7935
We are also facing the same issue with the `Airflow 1.10.4 - Mysql - Celery` combination. Found that `Schedule - DagFileProcessorManager` gets hung and we've to kill that to get the scheduler back.

[2020-09-02 06:06] ashwinshankar77 commented on #7935
@msumit I see the exact same symptom. Please let us know if you find something.

[2020-09-02 07:14] MateuszKukiela commented on #10672
I will be working on it. Just saying in case someone else wanted to.

[2020-09-02 07:48] turbaszek commented on #10672
Thanks @MateuszKukiela ! I've assigned you to the issue

[2020-09-02 07:52] peycho commented on #8212
We're facing the same recursion error when using gevent workers.
[code]
Airflow version 1.10.9

[2020-09-02 07:56] jonasmiederer opened #10686 "Common tasks in downstream of multiple branches always set to skipped due to 'Not Previously Skipped' dependency"
**Please note**: This issue is very similar to #7885, but I think it caused by the new functionality [Clearing tasks skipped by SkipMixin will skip them](https://github.com/apache/airflow/blob/master/UPDATING.md#clearing-tasks-skipped-by-skipmixin-will-skip-them) introduced in 1.10.12.
The problem is the same, but the solution (setting the trigger rule of the joined task to `none_failed` as descri

[2020-09-02 07:59] turbaszek opened #10687 "Make region parameter required in Google Dataproc operators and hooks"
**Description**

Deprecate using `global` as the default `region` value in Google Dataproc operators and hooks. Make the default value `None` and then check if another value was passed. If not then raise a warning and set the value to `global` to preserve backward compatibility. Example of how it can be done:
https://github.com/apache/airflow/blob/805781b024fdcc8e93d695443b49d96747c085bf/airflow/p

[2020-09-02 08:45] JavierLTPromofarma commented on #8605
Hello. I made kind of a mix of the examples here to make my own set of docker files. I ended up with docker-compose, Dockerfile and Makefile. Using the docker-compose and Makefile from this post as a starting point, I have already solved some of the problems we encountered as we adapted it to our needs, but as a Docker and Airflow noob, I would have liked if these needs had already been addressed

[2020-09-02 08:48] JavierLopezT commented on #8605
Hello. I made kind of a mix of the examples here to make my own set of docker files. I ended up with docker-compose, Dockerfile and Makefile. Using the docker-compose and Makefile from this post as a starting point, I have already solved some of the problems we encountered as we adapted it to our needs, but as a Docker and Airflow noob, I would have liked if these needs had already been addressed

[2020-09-02 09:28] pcandoalmeida commented on #9538
Hi @bhavaniravi I've got the open issue functionality working in the open PR. I am trying to work on getting the changes update in all possible views.

[2020-09-02 09:39] prasanthbangs2016 opened #10688 "dag/task pod is not getting created in kubernetes cluster"
i have used airflow version 1.10.10.

airflow has got deployed successfully with kuberntes(like adding executor "kubernetesexecutor)... i see web and scheduler pods are running as expected.... the issue i have is, the moment i enable the dag from web UI it is not running(meaning, not getting into scheduled/queued state) and corresponding dag/task pod is also not getting created.

could you throw s

[2020-09-02 11:37] prasanthbangs2016 commented on #10688
Apache Airflow version: 1.10.10

Environment:

Cloud provider or hardware configuration: AWS EKS

**Kubernetes version : v1.17
**Kubectl version    : v1.16.6-beta.0

What happened:

airflow has got deployed successfully with kuberntes(like adding executor "kubernetesexecutor)... i see web and scheduler pods are running as expected.... the issue i have is, the moment i enable the dag from web UI it

[2020-09-02 15:12] yvadalia opened #10693 "Not able to use gzip flag in S3Hook"
**Apache Airflow version**:  v1.10.12

**What happened**:  when using gzip param, it is looking for _name_ in _filename_ string

Error : `AttributeError: 'str' object has no attribute 'name'`

**Anything else we need to know**:

Its should be an easy fix in S3Hook at -
https://github.com/apache/airflow/blob/827a717fecc675b4d58fa202be003dee8e423632/airflow/hooks/S3_hook.py#L364

[2020-09-02 17:45] joshkadis commented on #9538
@pcandoalmeida Sorry... Where would `page-title` vs`site-title` be rendered? (thanks!)

[2020-09-02 18:32] sdzharkov commented on #7935
We experienced this issue twice now, with the CPU spiking to 100% and failing to schedule any tasks after. Our config is `Airflow 1.10.6 - Celery - Postgres` running on AWS ECS. I went back into our Cloudwatch logs and noticed the following collection of logs at the time the bug occurred:

[code]

Which would point to the scheduler running out of memory, likely due to log buildup (I added log clea

[2020-09-02 18:37] ausiddiqui commented on #8421
I have a similar use case, but passing the password from a connection object I created in the UI to the environment variable in the KubernetesPodOperator and it is appearing in plain text in the Rendered Template part of the UI for the task. There should be a way to avoid this being printed and visible.

[2020-09-02 18:41] agrubb86 opened #10700 "CeleryExecutor + MySQL Airflow DB with 'wait_timeout' + BashOperator that runs longer than 'wait_timeout' = Airflow uses a stale connection"
**Apache Airflow version**: 1.10.11

**Environment**: Linux aarch64

- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release):
NAME="Ubuntu"
VERSION="18.04.4 LTS (Bionic Beaver)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 18.04.4 LTS"
VERSION_ID="18.04"

- **Kernel** (e.g. `uname -a`):
Linux 4.15.0-1063-aws #67-Ubuntu SMP Mon Mar 2 07:25:24 UTC 2020 aarch64 aarch6

[2020-09-02 18:58] marcusianlevine commented on #8421
I should have some time to work on a proposal for this in the next few weeks, but I'm still not sure the best way to approach the design

The key question I'm stuck on is at what point the templates get filled in... obviously the executors need to have access to the unmasked values, but if they get injected at DAG compile time then they will be visible in the UI, so I'm guessing the unmasked injec

[2020-09-02 21:40] jonstacks commented on #10292
I did some messing around and was able to get get the logs working by adding this: https://github.com/apache/airflow/commit/58eb534f1902a561c151d0bb796692a3df6e241f

It looks up the correct pod name based on the partial so it can grab the logs. It seems to be working for us, but I feel like there might be a better way.

[2020-09-02 21:49] alexbegg commented on #10279
It shows up fine for me in 1.10.11 in Safari. I was going to check with 1.10.10 using Breeze but I am having an issue building 1.10.10, so maybe someone else can try and reproduce this in 1.10.10.

[2020-09-02 22:05] pcandoalmeida commented on #9538
Hi @joshkadis we could keep `page-title` to the DAG homepage and `site-title` to the various places that "Airflow" appears in a view as suggested by @mik-laj (I could be getting this the other way round!) I found a way to update some templates, but could not seem to find the base template that rendered other views (details ^ I believe) so am working on that at the moment. But it feels like it woul

[2020-09-02 22:24] vitaly-krugl opened #10702 "Allow custom remote logger plugins"
**Description**

Allow custom remote loggers to be added (e.g., via Airflow's plugin mechanism)

**Use case / motivation**

Presently, airflow has hard-wired support for archiving logs in S3, Google Cloud, and Elastic Search (enabled via config file).

However, this does not facilitate integration of a non-supported-backend custom remote logger. In particular, there is no way for user of Airflow t

[2020-09-02 23:01] alexbegg commented on #10279
I was able to reproduce the problem, partially, but only when RBAC UI was not enabled. I noticed that in Safari the only tooltips that is not working is the ones for the circles for the recent tasks or DAG runs. The (i)s and the right "Links" icons all show a tooltip. On Chrome all the tooltips work.

[2020-09-02 23:25] paolaperaza commented on #7926
@dimberman FYI Looks like this is a duplicate of: https://github.com/apache/airflow/issues/7925

[2020-09-02 23:26] paolaperaza commented on #7940
@dimberman FYI looks like this is a duplicate of: https://github.com/apache/airflow/issues/7939

[2020-09-03 00:46] atsalolikhin-spokeo commented on #523
I don't see this in the [FAQ](https://airflow.apache.org/docs/stable/faq.html)

I am trying to figure out how to store a password in Airflow variable table.  I see from https://github.com/apache/airflow/blob/v1-10-stable/docs/ui.rst#variable-view that Airflow UI won't show the password if the key name has e.g. `api_key` in it, but I also see that the password is stored unencrypted in the Airflow `

[2020-09-03 01:18] jsaradhy opened #10704 "Unable to Stop / Kill the currently running Airflow DAG programmatically."
I have an usecase, we are implementing the automation with Gitlab, AWS S3 & Codepipeline, Code & Airflow. In a nutshell when there is a new version of the dag is available in the DAG BAG, i need to pro-grammatically stop the currently running Airflow DAG.

Gurus, could you please shed some light on this : Programmatically how can i stop/ kill the currently running DAG in Airflow ?

[2020-09-03 06:19] msumit commented on #10704
It feels like a use case of DAG [versioning](https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-36+DAG+Versioning), with a flag to let scheduler/worker to kill the running tasks if they are not at the latest version.

@kaxil should be able to shed more light here.

[2020-09-03 07:31] vijaykiran opened #10705 "Can't install kerberos support due to missing python-krbV"
**Apache Airflow version**: 1.10.12

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): N/A

**Environment**:

- **Cloud provider or hardware configuration**: MacBook
- **OS** (e.g. from /etc/os-release): macOS 10.15.6
- **Kernel** (e.g. `uname -a`):19.6.0 Darwin Kernel Version 19.6.0: Thu Jun 18 20:49:00 PDT 2020; root:xnu-6153.141.1~1/RELEASE_X86_64 x86_6
- **Install t

[2020-09-03 07:48] turbaszek commented on #10687
@mik-laj @jaketf @edejong do you think that we should also unify naming and use `location` instead of `region`?

[2020-09-03 09:15] Shadowsong27 commented on #10194
@JeffryMAC By reading the threads above I feel my use case is closer to an operator based from `BaseBranchOperator` instead of a sensor approach, something like `FlexibleTimeBranchOperator` which allows you to branch DAG logic base on purely the execution datetime, by a customized func. We could have some pre-builds like `@monday` similar to `@daily` in DAG interval etc.

I do agree that we should

[2020-09-03 09:30] #9252 closed

[2020-09-03 10:49] aranjanthakur commented on #10166
@turbaszek @mik-laj let me know if any other changes are required for this feature add

[2020-09-03 11:20] ashb commented on #10469
That should be `Dag.can_read` I think.

The one possible advantage of this is it's useful in some cases - for instance https://github.com/apache/airflow/pull/4973 where the they wanted public user to have access to the home page, but no DAGs.

Do we even need the refresh button anymore with DAG serialization? (Are we making that default/only option for 2.0?)

What specifically are we calling the p

[2020-09-03 11:55] potiuk commented on #10705
I think the problem is only because of snakebite which used python-krbv (which was python2 only). Apparently recently the PyPI package was removed (it was maintained by RedHat: https://bugzilla.redhat.com/show_bug.cgi?id=1024834

RedHat replaced the usage of other Python-kerberos packages with GSSAPI (https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/8/pdf/considerations_in_ad

[2020-09-03 12:06] kaxil commented on #10469
`Airflow.can_refresh` can be used to force fetch Serialized DAG version from the DB instantly

[2020-09-03 13:10] potiuk commented on #10429
Thanks! I saw that the Astronomer's team will test it once they get the .lock file . Thanks for that :)

[2020-09-03 14:21] briankejser opened #10713 "mssql bit support broken"
Version is 1.10.12.

Dependencies are from the URL "https://raw.githubusercontent.com/apache/airflow/1.10.12/requirements/requirements-python3.6.txt"

Back-end is MSSQL 19 Express on Linux.

The SQL "WHERE dag.is_paused IS 1 AND dag.dag_id IN (?)" should be "WHERE dag.is_paused = 1 AND dag.dag_id IN (?)"

If this is a problem with SQLAlchemy, why not just use an integer type (i.e. TINYINT, SMALLIN

[2020-09-03 14:29] ashb commented on #10469
Did I make up that we would remove the need for a refresh button at all -- i.e. we could just look at the last_updated column on s10n_dag row on every web request?

Mostly because the "refresh" button in the webserver never worked very well -- that would only refresh it for that one web-worker, and by default there are 4, so if you get a refreshed version or not depends on which worker serves the

[2020-09-03 14:59] kaxil commented on #10469
It also sync's permissions though. Clairvoyant were using it: https://github.com/apache/airflow/issues/9749 | https://github.com/teamclairvoyant/airflow-rest-api-plugin/issues/63

[2020-09-03 15:12] potiuk commented on #10713
I am afraid, we do not support mssql officially (see README.md - postgres/mysql/sqlite are those that are tested). There are already issues for MSSQL support and it would require someone to implement also those errors: #9933 #10221. If you would like to take on the task - feel free - but it basically will require setting up an Mssql pipeline in CI tests and fixing all the issues as a starting poin

[2020-09-03 16:06] #10001 closed

[2020-09-03 16:46] dimberman commented on #9610
@ashb @kaxil have you seen anything like this for any other super long running tasks? Is there a timeout on tasks that I should be aware of?

[2020-09-03 16:51] ashb commented on #9610
Possibly a long running task makes it more likely to hit a network blip speaking to the Kube API?

[2020-09-03 16:58] dimberman commented on #9610
@chrismclennon @Pseverin just to check: Does the task in the airflow UI still show up as running, but the logs get funky? Like they're not put into "up_for_retry" or something?  Also do all older logs disappear in s3?

@ashb what's strange here is that these logs would suggest that airflow is trying to restart the task while it is still in the running state. Is there a situation where the Schedule

[2020-09-03 17:03] zoomzoomTnT opened #10715 "xcom sidecar container image pulling is not authorized 403"
**Apache Airflow version**: 1.10.12

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):v1.15.12

**Environment**: kubernetes

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**: xcom-sidecar container image pulling is not authorized 403
`kubernetes.cli

[2020-09-03 17:03] chrismclennon commented on #9610
Hey @dimberman. The Airflow task does show as running -- it's not in any retry or error state. Older logs are not disappearing, as I'm able to pull logs from start of year. We don't have any sort of object deletion in our S3 bucket either. When the job does eventually complete, this log is replaced with the actual, correct log uploaded to S3. Thank you!

[2020-09-03 17:16] dimberman commented on #9610
Ok yeah that's pretty consistent with the report we received from a customer (that the logs show up when the task completes, but for some reason stops showing up while the task is running).

@ashb could this have something to do with how we retrieve logs? Like maybe airflow is attempting to do a retry while the original task is running and the task logs are picking that up?

@chrismclennon are you

[2020-09-03 17:28] #10715 closed

[2020-09-03 17:28] zoomzoomTnT commented on #10715
same as this issue: https://github.com/apache/airflow/issues/10605

[2020-09-03 17:32] zoomzoomTnT commented on #10605
Hi @mickaelgervais

I have left a comment in your pr for adding a explicit image tag, we have something like private-registry/alpine:3.10, and would like to add a variable for image tags.

[2020-09-03 18:12] chrismclennon commented on #9610
@dimberman Is there a good way to check whether it uses a different try_number on retrieving logs? I just pulled up an instance that is showing this error. The log looks like this:

[code]

It looks like it's trying to read the remote log from S3 on try_number=1 (judging from `1.log`)(?), which is the current attempt number. Interestingly, I expected that since the task is in the running state, it

[2020-09-03 18:17] chrismclennon commented on #9610
It might be noteworthy to add that I'm running all airflow components on a Kubernetes cluster. To allow communication with port 8793, I've deployed the workers as a StatefulSet. This is what the header of a normal running log looks like:

[code]

The workers aren't restarting when we see this issue since we make use of CeleryExecutor, so I don't believe the worker deployment itself should be the c

[2020-09-03 18:22] kaxil commented on #10656
hmm I thought this was fixed, just needs to add some validation at https://github.com/apache/airflow/blob/master/airflow/providers/ssh/operators/ssh.py#L80

Assigning this issue to you @MahsaSeifikar

[2020-09-03 18:27] dimberman commented on #9610
@chrismclennon does this happen when you are only running a single worker? I'd be interested if perhaps a second worker is pulling the task while the first worker is working on it, which would create a race condition. Also you mentioned that all logs appear when the task completes, are any of the dependency failures in the logs?

[2020-09-03 18:27] akuzni2 opened #10717 "Vague logs when worker crashes due to out of memory (OOME)"
**Apache Airflow version**:
1.10.10

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
1.17

**Environment**:

- **Cloud provider or hardware configuration**: AWS EKS using EC2 as worker nodes.
- **OS** (e.g. from /etc/os-release): Red Hat Enterprise Linux Server 7.8
- **Kernel** (e.g. `uname -a`): Linux x84_64 GNU
- **Install tools**: helm
- **Others**:

**What happene

[2020-09-03 18:41] trevorprater commented on #9557
Hi @wfaria, could you please elaborate on what you mean by _We changed it to a better instance_? I'm curious, as I am seeing this issue and would like to know what you changed on the database. Any help would be very much appreciated.

Thank you!

[2020-09-03 18:54] dimon222 commented on #10686
I do see similar change in behaviour for case all_done. The result `join` task for me is having trigger rule `all_done`, and it seems to have started in 1.10.12 to comply to exact same scenario and mark as skipped, but should instead actually execute.

[2020-09-03 19:57] wfaria commented on #9557
Hello, we changed the RDS instance type from t3.micro to a t3.small. Check the **CPU Credit balance** on the Database Monitoring Tab to see if it is zeroed (so it is overloaded). We noticed that the database was the cause because of that.

Good luck!

[2020-09-03 19:59] trevorprater commented on #9557
Thank you!

[2020-09-03 20:50] otienoanyango commented on #9304
I looked at the code and since nvd3 is used, it looks like it is not any straightforward to add  non-data buttons to the chart. I would have to look a little deeper if that's even a good solution.

[2020-09-03 20:56] toderesa97 commented on #8212
We are experiencing the same issue here. Airflow does sucessfully write logs to S3, but we are getting:

[code]

I have configured my ``airflow.cfg`` as follows:

[code]

But we are getting this exception when the docker image is being provisioned into an ECS container (ie, nothing to do with ECS):

[code]
(There is no further explanation after the ``due to``)

I don't get to understand why after

[2020-09-03 22:45] Labbs commented on #10292
@jonstacks I tested your fix. That works well.

[2020-09-03 23:24] prakshalj0512 opened #10721 "DAG Run ID referencing wrong DAG Run when trying to view"
**Apache Airflow version**: 1.10.12

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): N/A

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): MacOS & Linux
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

*I have set timezone=America/Phoenix in airflow.cfg.*

When clicking on th

[2020-09-03 23:51] breser commented on #10429
See this comment on the PR I opened for past attempts to fix this:
https://github.com/apache/airflow/pull/10684#issuecomment-686629969

[2020-09-04 01:35] jaketf commented on #10687
@turbaszek
I do not think we should unify naming on location as this would not line up with the REST API or the python client lib.

the right thing to do here is a bit confusing looking at the [REST API docs](https://cloud.google.com/dataproc/docs/reference/rest)
Some dataproc resources (e.g. job / cluster) only have `regions/` endpoints.
Other dataproc resources (workflow templates) have BOTH `re

[2020-09-04 01:41] jaketf commented on #10687
I will reach out to dataproc eng for their perspective.

[2020-09-04 02:53] Shivarp1 opened #10722 "KubernetesPodOperator with XCom enabled errors: 403 forbidden"
Apache Airflow version: 1.10.12
kubernetes Version: 10.0.1
OpenAPI spec version: v1.14.5
OS: Linux Red Hat 7.x
---
Enabling the do_xcom=True with default configuration parameters for pod throws the 403 forbidden error as below
--
HTTP response body: {"kind":"Status","apiVersion":"v1","metadata":{},"status":"Failure","message":"pods \"xyz..\" is forbidden: failed quota: default: must specify reques

[2020-09-04 07:32] turbaszek commented on #10687
Thanks @jaketf ! Once we get their response we can decide what to do, because I agree that this can be slighlty confusing for users.

In the meantime, we can still deprecate the region default value 👍

[2020-09-04 07:46] mik-laj opened #10723 "Parameter name collision in AutoMLBatchPredictOperator"
Hello,

AutoMLBatchPredictOperator accepts `params` parameter, but it is also used by BaseOperator.
https://github.com/apache/airflow/blob/828f7303b7ba058c3772787529f19162a63ca1a1/airflow/providers/google/cloud/operators/automl.py#L177
https://github.com/apache/airflow/blob/828f7303b7ba058c3772787529f19162a63ca1a1/airflow/models/baseoperator.py#L341
We should think about what we want to do with it

[2020-09-04 08:35] XD-DENG commented on #10693
Thanks for sharing the issue.

This feature was added in #7680, and the author had realised this bug later and had fixed it in #8571. But the fix was missed in the cherry-picking during the release.

CC @kaxil @ashb  , let's include #8571 in the next release?

[2020-09-04 08:55] oboki opened #10724 "When multiple filters selected in arg_tags_filter, each filter works as 'or' instead of 'and'."
**Description**

When I selected multiple filters, it seemed that the tag filter didn't work as I thought. so I checked the query and found that the query uses `in clause`.

[code]

**Use case / motivation**

I want this filter to work with the 'and' condition. and I think 'and' condition is more familiar with the filter function.

[2020-09-04 10:43] CatarinaSilva opened #10725 "BranchPythonOperator skipping following tasks"
**Apache Airflow version**:

1.10.12

**What happened**:

Seems that from 1.10.12 the behavior from BranchPythonOperator was reversed. A task after all branches would be excluded from the skipped tasks before but now it is skipped. This prevents empty branches.

**What you expected to happen**:

Tasks after all branches should respect the trigger_rule and not be automatically skipped by the branch

[2020-09-04 12:02] dmitrikuksik commented on #10687
Hi! Can you leave it on me?:) I'll make PR after weekends.

[2020-09-04 12:02] kaxil commented on #10724
cc @ryanahamilton Our author of the filter :) Was this intentional ?

[2020-09-04 12:03] kaxil commented on #10721
Base date is not run_id. Base date just allows you to view all the runs from that base date in the "Run" dropdown next to it

[2020-09-04 12:10] kaxil commented on #10725
@yuqian90 Do you think this might have been caused by https://github.com/apache/airflow/pull/7276?

If you have time can you try an reproduce this bug?

[2020-09-04 12:25] ryanahamilton commented on #10724
@kaxil I think you might be mixing this up with the _status_ filter I added. The tags filter was added shortly before by @zacharya19 in #6489. What say you @zacharya19?

[2020-09-04 12:25] kaxil commented on #10724
aah sorry for the mixup :)

[2020-09-04 12:29] thesuperzapper commented on #10523
@potiuk, can you confirm if you plan to have the official helm chart releases tagged to airflow releases?

If so, I personally think that will cause big issues, as the helm chart and airflow itself are significantly different artifacts from a user perspective. (As an example, the helm chart that may not even need to change between airflow releases)

Almost every other project I am aware of has the

[2020-09-04 13:13] gsemet commented on #10523
There is this discussion about moving some charts (like... the Airflow one !) from [helm/charts](https://github.com/helm/charts) to apache/charts. That would be ideal for us. See https://github.com/helm/charts/issues/23685

[2020-09-04 13:37] turbaszek commented on #10687
Awesome @dmitrikuksik, I assigned you 👌

The renaming of `region` -> `location` is not a part of this issue, I just wanted to raise the question as it's a recurring problem and there was no agreement.

[2020-09-04 13:49] rtjarvis commented on #8521
Is this issue still present in 1.10.12?

[2020-09-04 13:50] yangl7 opened #10726 "databricks host name pulling out from extra json data when token is used"
When the token is used in the databricks connection, the host name is being pulled from extra json data

https://github.com/apache/airflow/blob/fdd9b6f65b608c516b8a062b058972d9a45ec9e3/airflow/providers/databricks/hooks/databricks.py#L160

I think the host name should be pulled from databricks_conn directly as the line 164, where basic auth is being used https://github.com/apache/airflow/blob/fdd9

[2020-09-04 14:04] potiuk commented on #10523
Not exactly.  We will use the same "repo" to release the helm chart but we can (and most likely will) release them with completely different cadence and separate tag scheme. During our CI process, we will make sure that the same helm chart will work with different versions of Airflow PR in progress for that is here: #9663.  We discussed it in detail in the [Separate Repo vs MonoRepo for Dockerfile

[2020-09-04 14:16] gsemet commented on #10523
We may be diverging actually here. ASF will handle their chart sources and releases the way they want.

My main interogation is still not answered: where do we put stable/airflow by November?
- ASF hosted project?
- Apache "Community" Project
- unofficial github group?

I think we (at least @thesuperzapper and I) can continue maintaining stable/airflow from some time, so the "Community Project" op

[2020-09-04 14:26] potiuk commented on #10523
@gsemet I believe it was answered in the discussion above https://github.com/apache/airflow/issues/10523#issuecomment-684866406. @carrodher from Bitnami kindly offered that they adopt your changes in the Bitnami chart. Yoy have not responded to the proposal by @scottrigby, but I believe this is best solution.

[2020-09-04 14:33] yuqian90 commented on #10725
Thanks for bringing this up. Definitely looks related to https://github.com/apache/airflow/pull/7276.

Let me clarify the problem first. @CatarinaSilva 's example looks like this. The expected end state should be both `extra_task` and `final_task` are in success. But the actual behaviour looks like this.  `extra_task` is success, `final_task` is skipped.

![image](https://user-images.githubusercon

[2020-09-04 14:43] gsemet commented on #10523
Ok actually I misread. The "rebase" should not be that hard to do with the bitnami chart if they share an history. From what I see they may have diverged a bit that's why I am a bit afraid not to have a solution by november...

[2020-09-04 14:53] potiuk commented on #10523
Then I strongly suggest that you simply work with @carrodher asap then. I think we are discussing that for weeks if not months already and it's quite clear from the very beginning of the discussion that the Airflow Community is not going to take over directly or provide a good solution to the stable helm "deprecation" problem (one reason is the decision we made about adopting the Astronomer's char

[2020-09-04 15:13] thesuperzapper commented on #10523
@potiuk thanks heaps for your thorough and thoughtful replies, all-in-all I agree the direction you are going, and look forward to bringing some of the cool features of `stable/airflow` into the official chart.

In terms of `stable/airflow` itself, @gsemet and I will figure out were to migrate it, and will maintain it as long as is necessary untill an official alternative is released and adopted.

[2020-09-04 15:26] chrismclennon commented on #9610
Hey @dimberman. This still happens when we are running a single worker, so I don't believe it's a race condition between workers. I don't notice any dependency failure in the completed logs loaded in S3.

Some other interesting observations we've made:

- The logs in s3 has the "Task is not able to run" message
- In reproducing the issue, we saw that after a task ran 1 hour 10 mins, the worker upl

[2020-09-04 15:40] jpmarques66 commented on #10549
@potiuk Would love to try to solve this one.

[2020-09-04 16:01] kbobrien commented on #10505
I was about to open a ticket to support the `target_session_attrs` psycopg2 parameter but this ticket could cover that use case too.  Is there really a need to limit the parameters supplied to `psycopg2.connect()` on the Airflow side, psycopg2 itself doesn't limit the parameters it passes through to the underlying library?

Could I suggest that we remove the List of parameters supported by the Hoo

[2020-09-04 17:20] ashb commented on #10469
This should be `DagRun.can_create` to match https://github.com/apache/airflow/pull/10594/files#

[2020-09-04 17:24] prakshalj0512 commented on #10721
@kaxil Correct...but the base date that is shown there will populate the "Run" dropdown, right? In this case, the base date being populated isn't accurate so it's showing up the wrong Run in the UI.

[2020-09-04 17:42] aragaorenan commented on #8061
Hello everyone, any update about this issue?

[2020-09-04 17:50] enriqueayala opened #10730 "Dockerfile - Enable gpg to receive keys behind a proxy"
**Description**

Allow build of airflow docker image behind a corporate firewall.

**Use case / motivation**

I would like to manually build an image by specifying the http_proxy argument. Almost all of the Dockerfile instructions work fine with --build-arg http_proxy / https_proxy , however gpg command is not able to use it correctly . Gpg requires  --keyserver-options  "http-proxy=${http_proxy}"

[2020-09-04 18:01] potiuk commented on #10730
Nice thing to add indeed. There are a couple of similar requests so I will address them in one go soon.

[2020-09-04 18:02] potiuk commented on #10730
Or maybe ypu can simply add a PR with that @enriqueayala  -> happy to review it and merge :)

[2020-09-04 19:26] HenryLinTw commented on #10725
Just want to bring this up because we also encountered this.

If what mentioned above is eventually finalized, the example in the doc here: https://airflow.apache.org/docs/stable/concepts.html?highlight=branch#trigger-rules should be updated accordingly to avoid confusion.

[2020-09-04 20:36] dimon222 commented on #10725
Okay, I thought I'm alone, but then saw #10686 and now this, I start to think that its a regression.
I'm also affected, what is the proposed way around this? Adding dummy operators doesn't sound great.

[2020-09-04 21:23] kaxil commented on #10725
@yuqian90 Looks like more people rely on this feature, would you be able to make a PR that restores this behavior to allow empty branch please

[2020-09-04 21:28] mik-laj commented on #8061
@aragaorenan  I did not see any active contributions related to it. This is also not a big problem if you are using containers/Docker or other [mount namespace](https://en.wikipedia.org/wiki/Linux_namespaces#Mount_(mnt)) isolation, so I wouldn't expect this problem to be fixed quickly.

[2020-09-04 21:29] kaxil commented on #10686
cc @yuqian90

[2020-09-05 01:11] kaxil opened #10742 "Enable More PyDocStyle Checks"
~~We use [PyDocStyle](https://github.com/PyCQA/pydocstyle) in pre-commit to enforce [docstring style](https://github.com/apache/airflow/blob/079d7b59464921f7fd7d615b6c74195a9c2f831f/.pre-commit-config.yaml#L195-L203)~~

We use Ruff to enforce docsting style
https://github.com/apache/airflow/blob/23b8e839a35e84d57c5cf38b0b21171ac3bd1ecc/pyproject.toml#L47-L74

We follow pep257 style (http://www.pyd

[2020-09-05 01:57] mik-laj commented on #9708
@turbaszek We still have many suppliers with coverage below 75 percent.
[code]

[2020-09-05 02:33] yuqian90 commented on #10725
@kaxil will do

[2020-09-05 04:53] ryanyuan opened #10743 "[Docs] Update node installation command"
**Environment**:

- **OS** (e.g. from /etc/os-release): macOS 10.15.6
- **Install tools**: brew

**What happened**:

In CONTRIBUTING.rst, we have `brew install node --without-npm` for installing node in macOS. The `--without-npm` flag is outdated and running this command will throw `Error: invalid option: --without-npm`.

Also, references can found here:
https://discourse.brew.sh/t/brew-install-no

[2020-09-05 06:50] #10743 closed

[2020-09-05 07:36] joshi95 commented on #10726
Hi, I can pick this up if needed.

[2020-09-05 07:40] potiuk commented on #10726
Assigned it to you @joshi95 !

[2020-09-05 10:24] potiuk opened #10752 "Release Helm Chart officially"
**Description**

When we are ready, we should release the Helm Chart officially.

**Use case / motivation**

Discussion in Apache Software Foundation started: https://github.com/helm/charts/issues/23685 about standardising policies and tools for releasing Helm Charts in ASF and we should follow it.

[2020-09-05 10:24] potiuk opened #10753 "Make sure user can rebuild pgbouncer-exporter image on their own using 'platforms and tools'"
**Description**

We need to include pgbouncer-exporter sources when we release the helm chart.

https://github.com/apache/airflow-pgbouncer-exporter

Other images are embedded in Airflow (as those are simple Dockerfiles) Pgbouncer exporter is forked from another repository and it needs to be included separately.

**Use case / motivation**

According to http://www.apache.org/legal/release-policy.ht

[2020-09-05 10:24] potiuk commented on #10752
CC: @dimberman @kaxil @ashb

[2020-09-05 10:25] potiuk commented on #10753
cc: @dimberman @ashb @kaxil

[2020-09-05 10:39] ashb commented on #10753
This is why I didn't want "us" to have to release pgbouncer image in the first place.

[2020-09-05 10:40] ashb commented on #10753
This isn't tied to releasing the helm chart, but to releasing the pgbouncer image.

[2020-09-05 12:03] rootcss commented on #9185
@mik-laj I've picked this one as discussed. can you please assign it to me?

[2020-09-05 12:11] #10293 closed

[2020-09-05 12:12] mik-laj commented on #9185
@rootcss I assigned you to this ticket.

Did you know you can work on more than one ticket if you have time? We do not check if someone has more than one assigned ticket.

[2020-09-05 12:15] rootcss commented on #9185
Sure. Got it.

[2020-09-05 12:49] kaxil commented on #10721
Yeah that is correct, looks like a bug then

[2020-09-05 13:12] zacharya19 commented on #10724
@kaxil Yep, it was intentional.
What I had in mind is tags per "team", so it make sense it will be "OR".
I think we should add a config option to control the default behavior and maybe an option to choose it in the UI.

[2020-09-05 15:35] potiuk commented on #10753
But I believe we are obliged to do it.

I still strongly believe that Helm chart is ASF release and we have to follow this rule stated in the http://www.apache.org/legal/release-policy.htm

"Every ASF release must contain a source package, which must be sufficient for a user to build and test the release provided they have access to the appropriate platform and tools."

IMHO publicisng the source

[2020-09-05 15:37] potiuk commented on #10753
This is the discussion in the devlist of Apache https://lists.apache.org/thread.html/rcb608739206d788785081073a0deb417ffa9981634975fc5525dc769%40%3Cdev.community.apache.org%3E

[2020-09-05 16:14] dimberman commented on #10753
I replied on the apache thread, but yeah I'm not a huge fan of apache forcing us to manage our entire ecosystem. It's basically removing a lot of the simplicity that Docker/Kubernetes survives and takes away valuable time from us promoting the project and ecosystem.

[2020-09-05 16:44] potiuk commented on #10753
I really cannot agree with that :).

The code just sits there. ready to be used whenever we need to use another version of it. No harm. It's just there for our users of they need to build it on their ow. Once we add the code to extract and include the sources of pgbouncer to the release.script the whole work is done.

I'd we do need to upgrade, then we would have to do it anyway - and by having th

[2020-09-05 16:58] ashb commented on #10753
I'll have to read the thread (on mobile on the weekend) but why is releases of the helm chart, which is just a manifest ultimately, require shipping the source code of on of the images?

I can see the reason to publish source code for a release of the image. But the helm chart is just pointing at _already released and voted on_ images. Those voted releases would include the source already, no?

In

[2020-09-05 17:04] ashb commented on #10753
Do the ask for sources of all the distro packaged libraries/software in the images?

[2020-09-05 17:12] dimberman commented on #10753
I think @ashb makes an interesting point. All of these image paths are override-able. If you don't trust the official PGBouncer image you are welcome to go to their source, build their own, and override that image. I'd have much more of a problem if we were using closed-source binaries/images, but that's not what we're doing here. This seems like it would be a lot of work/maintenance for a use-cas

[2020-09-05 17:46] kaxil commented on #10753
A thing I definitely need to like clarity from ASF (Just posted on that thread too) is if we treat Helm chart and dockerfile as releases we need "Voting" too. ASF needs to clarify on that, it is atleast not cleat to me at present.

[2020-09-05 18:20] maiorBoltach opened #10758 "Add ability to create custom trigger rules through plugins"
**Description**

Create API fro creating new types of different trigger_rules like it's done for macros or views.

**Use case / motivation**

Currently, there are 8 different types of rules for triggering subsequent tasks, but they do not allow you to flexibly set more complex rules for the entire pipeline (not from the point of view of business requirements for a dagger, but technical ones).
For

[2020-09-05 18:25] potiuk commented on #10753
@kaxil Indeed - it's not clear, but I think if we name something ' 'release' then it **must** have packaged and signed source code for it. I think that part is crystal clear (fron the 'release policy').

Generically, a release is anything that is published beyond the group that owns it. For an Apache project, that means any publication outside the development community, defined as individuals acti

[2020-09-05 18:33] ashb commented on #10753
@potiuk to be clear: my only question is where/when we release sources for pgbouncer-exporter.

You are proposing we include the source for this support image with every release of our helm chart, correct?

I am proposing that a release of pgbouncer-exporter image is the only thing they needs the source including. But this will happen much less frequently than helm chart releases. (i.e. only likel

[2020-09-05 18:35] potiuk commented on #10753
@dimberman  i read your comment in the discussion in the asf devlist. - and if your concern is about keeping the sources of pgbouncer, then it was purely about the convenience for me. If the concern is about copying the pgbouncer's source code, I will change it tonight. The only reason I cloned the repo is that it was more convenient, but this is perfectly fine to only leave the build&packaging co

[2020-09-05 18:39] potiuk commented on #10753
Just wrote my answer in the meantime reading @dimbermann commwnt - no need for the whole sources of pgbouncer. Enough to give a script that checks it out and builds the image. I will make a PR later today and.respond on the discussion thread later. I think this one was misunderstanding - I never WANTED the pgbouncer code in. It was just a convenient method to add proper build &package code.usable

[2020-09-05 18:55] ashb commented on #10753
(sorry for terse replies on my part - I made the mistake of starting to comment before daughter's bed time, and she is quite insistent that I not look at my phone but instead pay attention to her. She is right of course)

[2020-09-05 19:04] kaxil commented on #10753
Yup definitely agree that whatever we classify as release needs to go through the voting process. I think in one of the mailing list thread I even proposed that whatever we classify as "official releases" we need a formal vote on it and a question if we wanted to have a separate cadence for releases other than whl and tar.gz

[2020-09-05 19:25] kaxil commented on #10753
For me the confusion stems from saying let's have the source of all available under "apache" roof is like saying we should also have the python dependencies under the same roof.

If the sources are clearly mentioned where they come from and licensing is not the  issue, I don't think we need source to be under our roof. I don't have anything against it but just wanted to know what ASF policy is for

[2020-09-05 19:46] potiuk commented on #10753
the PR is here with dowloading the code from jhub's github rather than the source code published. I also forked it myself and (just in case) we have fork at apache's/airflow-pgbouncer-exporter:
https://github.com/apache/airflow/pull/10759

[2020-09-05 20:04] potiuk commented on #10753
I fully agree with that if the source is credible and if we give the users information on HOW to rebuild the images.

For me this is enough even if one or few of the PMC members make a fork of the sources (or something being popular/official) and we have independent source of it. The jhub's pgbouncer-exporter had literally 3 forks today when I checked. If this person removes their repo today we mi

[2020-09-05 20:05] kaxil commented on #10753
Cool, yea again to just clarify I have nothing against the sources 😀 Just want to clear my understanding. Because I am just confused if we need to then think about the sqlalchmey extensions that we use for the wheel

[2020-09-05 20:21] potiuk commented on #10753
I think everything is clear when we use installing from "official" repositories - pypi, apt, apk - those are officially maintained projects. I think there is this non-immediately-obvious criteria (but I think one that perfectly reflects the "commercially-friendly" nature of ASF):

"is this likely that the software will be officially blessed by the security team in big corporate when installing stu

[2020-09-05 20:52] potiuk commented on #10753
I just read it again @ashb and maybe this  misunderstanding is the reason for a lot of discussion here. Helm Chart is NOT just metadata + image.

Helm chart consist of:

* metadata XML describing different version of the helm chart. This is basically index of different versions of the helm chart and where "tar.gz" content of each version can be found

* the helm chart .tar.gz for each source is ba

[2020-09-05 21:21] ashb commented on #10753
@potiuk my point is that release of helm chart is entirely independent of what images that chart might use. This ticket (or at least the title) conflates the two, when they are separate processes happening on different timescales/occurrences.

[2020-09-05 21:42] potiuk commented on #10753
You cannot release helm chart without the image it points to - it depends on it. I agree you can release images separately. But you should be able (as a user) to get your hands (and rebuild the image yourself) if you want to (using platform and tools). Otherwise you depend on 3rd-party.

Ok. I change the ticket now to "Make sure user can rebuild pgbouncer-exporter on their own using 'platforms and

[2020-09-05 22:13] kaxil commented on #10753
Is that written somewhere in ASF docs, I haven't checked it so I might be wrong. But atleast my personal opinion is that having them on PyPI does not guarantee anything. The repo owner can just delete it. Uploading on PyPI means nothing. I understand that on Dockerhub they verify the "official" images but that is not true for PyPI

[2020-09-05 22:32] aimran-adroll opened #10761 "Separate nodeSelector logic for scheduler+webserver vs ephemeral resources"
**Description**
I would like to separate out the current `nodeSelector` logic for critical (imo) pods such as the scheduler+webserver vs worker pods.

**Use case / motivation**

If we look at the current implementation, https://github.com/apache/airflow/blob/ba36f876dc2334104fe75ec25c0c56be70e756ed/chart/values.yaml#L37-L40

we have only **one** place to specify the logic above

Subsequently, the

[2020-09-05 22:43] potiuk commented on #10753
Technically not. But any organisation that I know of that cares for reproducibility of their software installation maintains their own mirrors and archives for those "standard" installation sources. That's what I actually mean by "likely it is already filtered, vetted, allow-listed by those security teams". W even did that in Polidea for our mobile app development.

I don't think there are clear r

[2020-09-05 22:52] kaxil commented on #10753
That is the whole thing I am debating about when I said "Again to reiterate, I don't have any objection on what we are doing with sources but I don't think it is mandatory if the sources are public with correct licenses" (this was in an edit in the last comment 1 min before you posted so you might have not seen it).

You say binary in your argument while I am saying "the source is available" altho

[2020-09-05 22:55] kaxil commented on #10753
Do they trust all PyPI packages though? Don't they do scan on every release. A package can add a dependency that might be vulnerable.

Again, has the same risk as any open source package not on PyPI. The teams I have worked with do maintain their own mirrors but check on each release and store a copy of the "approved" release in their "repository manager"

[2020-09-05 23:02] potiuk commented on #10753
There are many big organisations (including my customers) that only allow specific version of deps and scan them. This - for example happens in Composer (they literally use allowed and security team vetted whl files only). This was one of the reasons the provider's package did not work initially because the way airflow was installed in Composer image (pre-vettted .whl images + airflow sources- eac

[2020-09-05 23:09] kaxil commented on #10753
"There are many big organisations (including my customers) that only allow specific version of deps and scan them. " -- You are agreeing with here, aren't you? I was making the exact same point, they only allow specific versions and not trust PyPI blindly.

This is a company-specific thing, even ASF says that "downloads.apache.org" is the only "official" place for our product. The previous company

[2020-09-05 23:24] potiuk commented on #10753
That would be ok if only "official" images are used to build the image and sources and you can use those to rebuild it yourself. This is not valid for the astronomer pgbouncer image really because the image is not using  "official image" + "sources".  I looked in detail in that image

a) astronomer's image uses jbub's pgbouncer-exporter image to build from. https://github.com/astronomer/ap-vendor/

[2020-09-05 23:36] potiuk commented on #10753
As long as we tell the user how to rebuild the image from "official" + sources - yes that's fine. This is precisely what my script is doing now. It points to the sources that can be used (jbub) and tells how to build it. It even cannot point to Astronomer's one because that would be misleading, you will not get what you want ("official" + "sources").

[2020-09-05 23:44] kaxil commented on #10753
This whole time I am just debating for one thing (https://github.com/apache/airflow/issues/10753#issuecomment-687651980):

That we should not make it mandatory that all the sources needs to be under our umbrella if sources are clear enough and licensing is not the issue. My main concern is any code in our repo if we don't maintain (keep up to date) it will become technical debt.

I wanted to just

[2020-09-05 23:49] kaxil commented on #10753
https://twitter.com/xkcdComic/status/1295478837652803584?s=19

A tweet I had shared from XKCD on 17 Aug is pretty apt for this situation 😄

![20200906_004826](https://user-images.githubusercontent.com/8811558/92315258-c4176d00-efda-11ea-9699-ca83ece1532e.jpg)

[2020-09-06 06:19] potiuk commented on #10753
I believe the XKCD image (which I also retweeted) is very apt and it describes the situation in both cases:

a) either you depend on a binary that someone builds and maintains
b) or on the sources that someone maintains

I think I already agreed to it? Didn't I. I got convinced that forking and releasing the whole repo is not necessary. I don't think this is what we argue about anymore.

As long a

[2020-09-06 06:32] potiuk commented on #10753
Side note - I feel a bit sad, bitter and tired, to be honest,  that in this whole discussion I keep on proposing solutions, where I only get ("it's too hard to maintain") argument and no constructive proposals whatsoever, on how we can solve the problem of our users which I clearly laid out and experienced on my own by trying to rebuild the images when I first approached in the very same way as ou

[2020-09-06 08:08] kaxil commented on #10753
I think I should we should discuss this separately because again you are talking about the exporter image while I am discussing about the process.

I am sorry you feel sad, bitter and tired but clearly the general problem you are mentioning is "not really a problem" in my opinion, I will mention it again "if the sources are available and there is no licensing issue".

How many users would spend ti

[2020-09-06 08:22] potiuk commented on #10753
Thabks @kaxil . I think it is a.good approach for now that solves the problem of the user I work with and similar users.

 It does not bind us in any way and we can revisit that after the discussion in ASF concludes. I don't expect we will have many chart images to be added soon so I hope the discussion at the ASF will give some conclusions.

This is actually telling something - if we cannot even

[2020-09-06 08:47] #10753 closed

[2020-09-06 09:07] kaxil commented on #10753
Yeah had replied to that thread y'day. 100% agree on Matt's statement:

**The bits we build on top
of external components becomes the Apache project that is ALv2 and is
distributed through source archives with convenience binaries (in this
case, the image layers and YAML files).**

[2020-09-06 11:53] eladkal commented on #10693
Both PRs are included in the backport release of AWS
https://github.com/apache/airflow/blob/master/airflow/providers/amazon/PROVIDERS_CHANGES_2020.06.24.md

So no need to wait for 1.10.13

[2020-09-06 13:52] XD-DENG commented on #10693
Cool, thanks @eladkal for sharing this.

@yvadalia , please refer to the link @eladkal shared + https://github.com/apache/airflow#backport-packages for using the backport, before the fix is included in 1.10.13.

[2020-09-06 13:57] joshi95 commented on #10726
Hi, I have added a new PR for this, please review it.

[2020-09-06 14:07] #8453 closed

[2020-09-06 14:21] mik-laj commented on #10758
@maiorBoltach You can define custom trigger rules. See: [https://airflow.readthedocs.io/en/latest/_api/airflow/models/index.html#airflow.models.BaseOperator.deps](airflow.models.BaseOperator.deps). It's not easy, but it'ss possible.

[2020-09-06 14:36] maiorBoltach commented on #10758
so. we have to create new operators (copy existing ones) for that and i can't say that this is a proper solution (not good, not bad).   I'll even say that with a large amount of operators used, this will cause a lot of pain in the implementation.

[2020-09-06 14:44] mik-laj commented on #10758
You can use [Cluster policy](https://airflow.readthedocs.io/en/latest/concepts.html#cluster-policy) and monkey-patching to change all operators behavior at run-time.

I agree that this is not the best solution, but it can take a long time to develop a final solution that changes a key concept. If there is no interested person to prepare the proposed changes and then discuss it on the mailing list,

[2020-09-06 20:55] dmitrikuksik commented on #10687
I've made my first PR 💪 (https://github.com/apache/airflow/pull/10772). There was `submit` method in dataproc hooks that is going to be deprecated, so I left it without changes. Also, I've ignored `DataprocScaleClusterOperator` in dataproc operators for the same reason, but, added condition to `DataprocJobBaseOperator`. I can see that operators that inherits this class are going to be deprecated,

[2020-09-06 22:20] MateuszKukiela commented on #10672
Create a PR for this issue: https://github.com/apache/airflow/pull/10773

[2020-09-07 01:47] foresightyj opened #10775 "Some (not all) dags are not scheduled according to the configured interval (@daily). Why?"
**Apache Airflow version: v1.10.6**:

**Environment**:

- **OS** (e.g. from /etc/os-release): Ubuntu 16.04.6 LTS (GNU/Linux 4.4.0-142-generic x86_64)
- **Kernel** (e.g. `uname -a`): Linux linux2 4.4.0-142-generic #168-Ubuntu SMP Wed Jan 16 21:00:45 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
- **Install tools**: pip install
- **Others**:

**What happened**:

I have about 10 airflow dags that needs to

[2020-09-07 03:53] Shivarp1 commented on #10605
A work around would be add this code block in the /home/airflow/airflow_local_settings.py
PodDefaults.SIDECAR_CONTAINER = k8s.V1Container(
    name=PodDefaults.SIDECAR_CONTAINER_NAME,
    command=['sh', '-c', PodDefaults.XCOM_CMD],
    image='<local private repository image>',
    volume_mounts=[PodDefaults.VOLUME_MOUNT],
    resources=k8s.V1ResourceRequirements(
        requests={
            "cp

[2020-09-07 05:54] rootcss opened #10776 "Is it intentional that we're running log server on worker in flask's dev mode?"
In the serve_logs code [here](https://github.com/apache/airflow/blob/master/airflow/utils/serve_logs.py), are we intentionally starting the flask server in dev mode (`flask_app.run()`)? @mik-laj

[code]

[2020-09-07 05:57] mik-laj commented on #10776
this server has a very light load.  We don't need anything better.  This will consume resources that can be used better.

[2020-09-07 06:21] dlamblin commented on #7935
Is disk space everyone's issue? I recall either v 1.10.5 or v 1.10.6 had some not-fit-for-production use issue that was fixed in the next version. 1.10.9 has been working okay for us and importantly `-n > -1` is not recommended anymore.

I'm curious if you could work around it with `AIRFLOW__CORE__BASE_LOG_FOLDER=/dev/null` (probably not because it tries to make sub-dirs right?

In the meantime we

[2020-09-07 06:27] rootcss commented on #10776
Cool, Thanks 👍

[2020-09-07 06:27] #10776 closed

[2020-09-07 06:28] a-poptsov opened #10777 "KubernetesPodOperator Secret doesn't use key property when attaching to pod as volume"
For the case when secret key is specified system should handle this key during attaching secret to pod as volume.

Expected result is:

Current result:

[2020-09-07 06:36] a-poptsov commented on #10777
According my limited understanding we should specify items=[self.key] in the  https://github.com/apache/airflow/blob/v1-10-stable/airflow/kubernetes/secret.py#L99

[2020-09-07 08:13] CatarinaSilva commented on #10725
Thanks @yuqian90 , however the logic you proposed:

[code]

seems good to me, for some reason I didn't think I could have the same task in both sides of the branch 😅 I will use that until the behavior is restored and maybe even after honestly. What version will your PR be included in?

[2020-09-07 09:18] baolsen opened #10779 "Scheduler can't creating DAG runs if some were externally triggered"
**Apache Airflow version**: 1.10.8

**Environment**:

- **Cloud provider or hardware configuration**: 4 VCPU 8GB RAM VM
- **OS** (e.g. from /etc/os-release): RHEL 7.7
- **Kernel** (e.g. `uname -a`): Linux <redacted> 3.10.0-957.el7.x86_64 #1 SMP Thu Oct 4 20:48:51 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
- **Install tools**:
- **Others**:

**What happened**:

Airflow Scheduler is unable to create an

[2020-09-07 11:26] rbkn opened #10780 "Backported BigQueryExecuteQueryOperator throws 409 Already Exists in job with multiple operator instances"
**Airflow Version: v1.10.10**

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
`Client Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.0", GitCommit:"e19964183377d0ec2052d1f1fa930c4d7575bd50", GitTreeState:"clean", BuildDate:"2020-08-26T14:30:33Z", GoVersion:"go1.15", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"

[2020-09-07 12:27] pbaisla opened #10781 "Setting cookie_samesite to None in airflow.cfg throws an error"
**Apache Airflow version**: 1.10.10

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): N/A

**Environment**: Airflow v1.10.10, Python v3.6.11 on Ubuntu 16.04

- **Cloud provider or hardware configuration**: Azure
- **OS** (e.g. from /etc/os-release): 16.04.4 LTS (Xenial Xerus)
- **Kernel** (e.g. `uname -a`): 4.15.0-1092-azure #102~16.04.1-Ubuntu SMP Tue Jul 14 20:28:23

[2020-09-07 13:29] turbaszek commented on #10780
@rbkn have you tried using `BigQueryInsertJobOperator` from backport packages? It improves the idempotency as discussed #9590 and will replace `BigQueryExecuteQueryOperator` operator in the future.

[2020-09-07 13:51] enriqueayala commented on #10730
@potiuk  Sounds good :) I will work on it

[2020-09-07 14:18] #10672 closed

[2020-09-07 15:39] zbstof opened #10782 "TaskInstance tooltip in DAG tree view shows incorrect Operator"
**Apache Airflow version:** 2.0.0.dev0, built from HEAD master branch

**Environment:** kubernetes

**What happened:**

1. Create task **A** with operator **First**
2. Run the dag
2b. Single task instance of **A** is visible in the tree view
2c. On mouseover of this task instance, **Operator: First** is visible
2d. If task instance is opened (url `/task`), tab "Task Instance Details" then in colum

[2020-09-07 17:02] KimchaC opened #10783 "MsSqlOperator backport can't use ODBC"
The MsSqlOperator included in 1.10.* is using MsSqlHook, which is using pymssql. But pymssql has been discontinued and has some nasty, unfixed bugs.

Airflow 2.0 has deprecated MsSqlHook in favor of OdbcHook, which is using pyodbc.

But the MsSqlOperator still allows the user to choose, whether MsSqlHook or OdbcHook is used. This is done by checking the conn_type of the connection. If it is set to

[2020-09-07 17:07] potiuk commented on #10783
Could you please make a PR with this ? I think it's a great candidate fo 1.10.13

[2020-09-07 17:23] KimchaC commented on #10783
Yes, I would be happy to do this.

But I have never contributed a PR. What branch or tag should I branch from before I add my commit?

[2020-09-07 20:43] potiuk commented on #10783
Cool. Start from "master". We have the https://github.com/apache/airflow/blob/master/CONTRIBUTING.rst but it might be a bit overwhelming for first-time contributors, so I am happy to help if you have any questions or do not know how to start.

First thing is to fork the repo and create a development environment - you can create a local virtualenv or use breeze. I think both will work for you.

[2020-09-08 00:22] neil90 opened #10786 "DatabricksRunNowOperator missing jar_params as a kwarg"
**Description**

DatabricksRunNowOperator is missing the option to take in key word arguement _jar_params_ , it already can take the other ones notebook_params,python_params,spark_submit_params. https://docs.databricks.com/dev-tools/api/latest/jobs.html#run-now

**Use case / motivation**

Provide parity with the other options

[2020-09-08 04:45] potiuk commented on #10783
Update: We have discussed yesterday at Airflow 2.0 dev call a "general" solution to this problem. I am going to implement a proof of concept for 2.0 of solving that for all operators (as we decided that we move forward with splitting airflow into separate packages) and I am going to backport it to 1.10.13 as well. So no actions needed from your side @KimchaC :).

[2020-09-08 04:48] potiuk commented on #10730
Awesome! Let me know if I can help :)

[2020-09-08 05:21] KimchaC commented on #10783
Sweet, thank you.

I hope the general solution is going to allow to add custom connection types. I have many custom plugins and end up selecting "HTTP" as the type very often.

[2020-09-08 05:32] potiuk commented on #10783
Good Point. I will think about it. Watch at the devlist the next few days. I will  remember to link the PR to this issue so that you see it.

[2020-09-08 06:23] shivanshs9 opened #10788 "Airflow Plugins should have support for views without menu"
**Description**

This feature requests a way to support custom views in plugins without any menu. Right now, all the views listed in `AirflowPlugin.appbuilder_views` are added with menu to the appbuilder.

**Use case / motivation**
In a custom plugin I built, I need to add a distinct view for details of custom operator. Then I use the `BaseOperator.operator_extra_links` to link this new UI view wi

[2020-09-08 06:46] #10687 closed

[2020-09-08 07:11] dmariassy opened #10790 "Copy of [AIRFLOW-5071] JIRA: Thousands of Executor reports task instance X finished (success) although the task says its queued. Was the task killed externally?"
**Apache Airflow version**: 1.10.9

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): Server: v1.10.13, Client: v1.17.0

**Environment**:

- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): Debian GNU/Linux 9 (stretch)
- **Kernel** (e.g. `uname -a`): `Linux airflow-web-54fc4fb694-ftkp5 4.19.123-coreos #1 SMP Fri May 22 19:21:11 -00

[2020-09-08 07:16] agonen opened #10791 "Async pod launch"
we have a long-running task in airflow (5hr and more)

I would like the following abilities :
1. when waiting for the pod starts or finishes, the log gets prints every 2 sec (this creates a lot of logging lines  ) can we expose this as a parameter ?
2. can we have a parameter to fire an forget (after the pod started running) and the monitor the status of the task using sensor
this can free the wor

[2020-09-08 07:19] turbaszek commented on #10790
Thanks @dmariassy for bringing this issue to Github! I think this one is quite important to fix but as long we don't know how to replicate it we are going blind.

I spent some time trying to reproduce it on 2.0 and 1.10.9 but to no effect :<

[2020-09-08 07:20] tszerszen commented on #10381
In package `airflow.providers.google.cloud.operators.dataproc` each DataprocSubmitJobOperator inherits from `DataprocJobBaseOperator`.

`DataprocJobBaseOperator` has the following implementation of `on_kill` method (lines 984-992):
[code]

@turbaszek wrote:

Considering present implementation of `on_kill` method of `DataprocJobBaseOperator` isn't it already done?
The code call's method `cancel_job

[2020-09-08 07:32] rbkn commented on #10780
@turbaszek - No I haven't tried that as yet since I was looking for something that was roughly equivalent to the old `BigQueryOperator` and having not read the documentation properly (oops) I had assumed that the BigQueryInsertJobOperator would be non-blocking and not wait for completion.  I will try that now, thanks.

[2020-09-08 07:35] yamrzou opened #10792 "Allow labels in KubernetesPodOperator to be templated"
**Description**

It would be useful to have labels being a templated field in KubernetesPodOperator, in order for example, to be able to identify pods by run_id when there are multiple concurrent dag runs.

[2020-09-08 07:36] turbaszek commented on #10381
`DataprocSubmitJobOperator` has no relation with `DataprocJobBaseOperator`.

`DataprocJobBaseOperator` is used by "old" operators like `DataprocSubmitPigJobOperator`, `DataprocSubmitHiveJobOperator` etc. that are deprecated in favor of the generic operator `DataprocSubmitJobOperator`.

However, you are right that the logic of `on_kill` currently exists in old ops and may be reused in `DataprocSubm

[2020-09-08 07:39] gardnerdev opened #10793 "Mounting DAGS from an externally populated PVC doesn't work in K8 Executor"
**Apache Airflow version**: 1.10.12

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.18

**What happened**:  Mounting DAGS from an externally populated PVC  doesn't work:
[code]
Envionment variables from K8 Executor worker

**What you expected to happen**: Dags mounted in workers from PVC

**How to reproduce it**: Use chart from master and set variables as above
<!-

[2020-09-08 07:43] turbaszek commented on #10780
That's something interesting. Currently, the operator waits for the job to complete but it may be reasonable to add an option to just submit job and then use a sensor to wait for it.

[2020-09-08 07:46] xOnelinx opened #10794 "ExternalTaskMarker don't work with store_serialized_dags"
**Apache Airflow version**:  1.10.10

**Kubernetes version (if you are using kubernetes)**: 1.14.10

**Environment**:

- **Cloud provider or hardware configuration**: Any, GCP
- **OS** (e.g. from /etc/os-release): Ubuntu 1.10.10
- **Kernel** (e.g. `uname -a`): Any
- **Install tools**: Any
- **Others**: NA

**What happened**:
DAGs with ExternalTaskMarker don't clean external task after second usage

[2020-09-08 08:09] orzZXY opened #10795 "Python 'pendulum' cannot be converted to a MySQL type"
**Apache Airflow version**: 1.10.10

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**: python 3.7.6

- **Cloud provider or hardware configuration**: AWS m4.xlarge
- **OS** (e.g. from /etc/os-release): Amazon Linux
- **Kernel** (e.g. `uname -a`): Linux ****.amzn2.x86_64 #1 SMP *** UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
- **Install tools**: pip3
- **Oth

[2020-09-08 08:22] ozw1z5rd opened #10797 "Job table is not correctly updated"
**Apache Airflow version**:
1.10.10

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
none

**Environment**:

- **Cloud provider or hardware configuration**:

- **OS** (e.g. from /etc/os-release):
NAME="CentOS Linux"
VERSION="7 (Core)"
ID="centos"
ID_LIKE="rhel fedora"
VERSION_ID="7"
PRETTY_NAME="CentOS Linux 7 (Core)"
ANSI_COLOR="0;31"
CPE_NAME="cpe:/o:centos:centos:7

[2020-09-08 08:30] dmariassy commented on #10790
Thanks for your reply @turbaszek . What did your reproduction set-up look like? If I have the time, I would like to have a go at trying to reproduce it myself in the coming weeks.

[2020-09-08 08:46] turbaszek commented on #10790
As it was reported in original issue and comments this behavior should be possible to reproduce in case of fast sensors in reschedule mode. That's why I was trying to use many DAGs like this:

[code]

And I was also playing with airflow config settings as described in comments. I did some tests with external task sensor but also no results.

[2020-09-08 10:08] xOnelinx commented on #10794
@kaxil

[2020-09-08 10:23] pbouda opened #10798 "Add extraVolumes/extraVolumeMounts to workers in helm chart"
**Description**

In the helm chart the `webserver` supports to define `extraVolumes` and `extraVolumeMounts` to customize the template. I think it makes sense to also add this to the `workers` template.

**Use case / motivation**

My primary use case at the moment is to pass a kubernetes secret to the workers. I have some tasks that require access to APIs via tokens or a private keys that I want t

[2020-09-08 10:40] mik-laj commented on #8278
The ticket has been completed :-D

Thanks to everyone who participated in this task.
More info: https://github.com/apache/airflow/pull/10799

[2020-09-08 11:07] #10780 closed

[2020-09-08 11:07] rbkn commented on #10780
Well, this has fixed my issue 👍  and is a lot more flexible!
I am closing this if BigQueryExecuteQueryOperator is to be deprecated.
Should I raise a feature request regarding the non-blocking option?  Not something I need,but interesting as you say.

[2020-09-08 11:09] RosterIn commented on #10783
I opened issue for it a while ago https://github.com/apache/airflow/issues/8458

[2020-09-08 11:46] kaxil commented on #10794
Thanks for creating this issue, taking a look at it now

[2020-09-08 11:55] #8278 closed

[2020-09-08 12:02] yuqian90 commented on #10725
Hi, @CatarinaSilva , yes the workaround will work

Hi, @CatarinaSilva the workaround should continue to work after the fix is merged. So you can start using it right now and after too.

@kaxil I'm hoping the fix #10751 can be merged in the next release of 1.10.* although the PR is for master.

[2020-09-08 12:04] potiuk commented on #8278
:tada: :tada: :tada: :tada: :tada: :tada: :tada: :tada: :tada: :tada: :tada: :tada: :tada: :tada: :tada: :tada: :tada: :tada:

[2020-09-08 12:06] potiuk commented on #10783
Yeah, Now we are going to fix them for all similar cases in one go.

[2020-09-08 12:13] kaxil commented on #10725
Thanks for the quick workaround @yuqian90 , I will look at the PR and merge it soon

[2020-09-08 12:44] rootcss commented on #8278
👍

[2020-09-08 12:45] dszakallas commented on #8495
I need this feature as well. As an alternative to what @humbledude proposed we could assume that the docker image has a command (docker entrypoint) that 'behaves like airflow' and only specify the airflow command's args in the arg field so that when the flag enabling this feature is set we send sth like:
[code]

[2020-09-08 13:00] kaxil commented on #10794
I was able to reproduce it, will fix it in soon and release it with 1.10.13

[2020-09-08 14:28] frosk1 commented on #10449
some opinions on that?

[2020-09-08 14:36] dimberman commented on #9610
@chrismclennon Do you have any non K8sPodOperator tasks that run for over an hour? Is it possible that this happens with any task that runs for a long time?

[2020-09-08 14:39] RosterIn commented on #10783
@potiuk
https://github.com/apache/airflow/pull/7214 also important for next release

[2020-09-08 15:28] amaterasu-coder opened #10804 "Add acl_policy into GCSToS3Operator"
**Description**

The goal's feature is to add the `acl_policy` field to the `GCSToS3Operator`

**Use case / motivation**

The `acl_policy` field has been added to the `S3Hook` but not in the `GCSToS3Operator`

[2020-09-08 15:32] amaterasu-coder commented on #10804
I'm ready to work on it !

[2020-09-08 15:43] SalAlba commented on #9708
Hi @mik-laj can you assign me to this task ? I will try to  deal with a one provider (postgres) at this moment :smile:

[2020-09-08 15:54] KIRY4 commented on #10041
Same problem for me. But I'm using AKS+KubernetesExecutor+KubernetesPodOperator

[2020-09-08 15:56] mik-laj commented on #9708
@SalAlba I assigned you to this ticket 🐈  I am waiting for your contribution and more photos of cats.

[2020-09-08 22:01] nikste commented on #7907
any news on this?

[2020-09-08 22:42] kaxil opened #10815 "Mark "Smart Sensor" as an early-access feature"
**Description**

Based on our discussion during Airflow 2.0 dev call, the consensus was that **Smart Sensors** ([PR](https://github.com/apache/airflow/pull/5499)) will be included in Airflow 2.0 as an **early-access** feature with a clear note that this feature might potentially change in future Airflow version with breaking changes.

Also, make it clear that Airbnb is running it in PROD since ~6-

[2020-09-08 22:44] kaxil commented on #10815
@YingboWang Let me if you would love to do it

[2020-09-08 22:51] kaxil opened #10816 "Docs around different execution modes for Sensor"
**Description**

It would be good to add docs to explain different modes for Sensors:

1. Poke mode
1. Reschedule mode
1. Smart Sensor

and to explain the advantages of one over the other

[2020-09-08 22:52] kaxil commented on #10816
cc @YingboWang @KevinYang21

[2020-09-08 22:57] kaxil opened #10817 "Explore if "smart sensor" can be used with a new mode (similar to reschedule) instead."
An enhancement to Smart Sensor feature introduced in https://github.com/apache/airflow/pull/5499 might be to have a separate “mode” like "reschedule mode".

This would also simplify making Sensors Smart Sensor compatible and unify methods with 'reschedule' mode.

[2020-09-08 22:57] kaxil commented on #10817
cc @KevinYang21

[2020-09-08 23:46] kaxil commented on #10722
@Shivarp1 Can you confirm if this worked before Airflow 1.10.12?

[2020-09-08 23:47] kaxil commented on #10793
@gardnerdev  Can you confirm if this worked before Airflow 1.10.12?

cc @dimberman

[2020-09-09 00:45] dimon222 commented on #10722
@kaxil I can confirm that it didn't. It might old outstanding bug back from 1.10.9

[2020-09-09 03:36] Shivarp1 commented on #10722
@kaxil I think PodDefaults in pod_generator was introduced in 1.10.12?  I have not checked the 1.10.11 version
In 1.10.10 we were using the kubernetes_request_factory.

[2020-09-09 06:32] MR-GOYAL opened #10821 "WebHdfsSensor multiple connection for active and standby namenode"
I am using WebHdfsSensor. In our cluster we have standby and active node which interchange for maintenance and other purposes. I have to provide connection so that if one is standby than Sensor connect with other host.

I tried giving host as a list [servera,serverb] but it didn't work.

What is the way to handle this case?

Thanks in Advance

[2020-09-09 09:02] ana-carolina-januario opened #10824 "Airflow scheduler does not trigger when schedule_interval is @weekly OR (montlhy) "0 3 1 * *"."
**Apache Airflow version**:1.10.5

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): NA

**Environment**: CentOS Linux release 7.7.1908 (Core), without Airflow environment defined variables.

- **Cloud provider or hardware configuration**: Azure, B4ms standard (4 cpu, 16GiB memory, 30GiB ssd disk)
- **OS** (e.g. from /etc/os-release): CentOS Linux release 7.7.1908 (Core

[2020-09-09 09:51] #10389 closed

[2020-09-09 10:24] turbaszek commented on #10723
Let's renam this parameter and do this as a breaking change. We should add a note in `providers/google/ADDITIONAL_INFO.md ` about incompatibility with previous version of providers packages similar to this one:
https://github.com/apache/airflow/blob/master/airflow/providers/cncf/kubernetes/ADDITIONAL_INFO.md

[2020-09-09 11:47] potiuk commented on #10793
Is that correct?:

[code]

Should not that be KubernetesExecutor?

[2020-09-09 11:55] kaxil commented on #10793
No that is correct, the Kubernetes worker runs the tasks locally with LocalExecutor.

Scheduler uses Kubernetes Executor to launch a pod, but ince launched that pod uses local exexutor

[2020-09-09 12:00] potiuk commented on #10793
![giphy](https://user-images.githubusercontent.com/595491/92595561-ddebd500-f2a4-11ea-8838-c671cceef3be.gif)

[2020-09-09 13:49] nielstenboom commented on #8212
I also ran into this problem today. What I found out was that boto complains about not having credentials set, so the webserver pod needed the AWS environment variables.

[code]

Making sure the webserver pod had those credentials as env variables in addition to having a s3 connection string solved my problem!

[2020-09-09 14:12] agrubb86 commented on #10700
Any comment or acknowledgement on this, or can someone point me to where I can look at fixing it? If this isn't addressed, I will have to deploy another database on new hardware to work around this bug and continue using Airflow.

[2020-09-09 14:29] JavierLopezT commented on #8605
Hello. I have encountered another issue. I want to use `make html` command of sphinx within the container. I have found that the make command is not found. So I have added to the Dockerfile the following lines:
[code]
Maybe not the best approach and there is a good idea to address this somewhere else. Kind regards

[2020-09-09 14:41] ashb commented on #10797
You have not shown the column headers in the job table.

Can you include those in there so we can see which column is which?

And also: what specifically did you expect to update in the Job table that isn't?

[2020-09-09 15:04] potiuk opened #10835 "System Test Automation (AIP-4)"
This is an umbrella ticket for automation of our system tests.

We already have a lot of semi-automated system tests in our code but we only trigger them manually.

We should aim to get them automatically executed in CI system,.

**Description**

We need to set up the CI build and a mechanism to authenticate/use credits from relevant services.

**Use case / motivation**

Confirm that the providers

[2020-09-09 15:14] dimberman opened #10836 "Add RBAC policy -> namespace allowance in the KubernetesExecutor"
**Description**

**Use case / motivation**

**Related Issues**

[2020-09-09 15:26] potiuk commented on #8605
This is already addressed - see thehttps://github.com/apache/airflow/blob/master/IMAGES.rst#production-images where examples are shown how to manually build images.

The production image is highly optimized for size so it is multi-segmented one  - the first segment is used to add "build dependencies" (and build-essentials are there) but then only compiled libraries and python code are copied to th

[2020-09-09 16:44] maganaluis commented on #10836
# Description

Add RBAC policy to ensure Roles can only execute DAGs against an assigned namespaces for Kubernetes Executor.

# Use Case / Motivation

If we have role called "ds-project-xyz" and we assign users to this project, right now users can use this role to give their DAGs access control, this will ensure that other users that are not part of this project don't have access to this DAG.

How

[2020-09-09 16:46] maganaluis commented on #10836
@dimberman Feel free to assign me to this, also feel free to point me to any resources. I haven't had a chance to develop against 2.0 so any supporting documentation would be helpful.

[2020-09-09 16:49] gardnerdev commented on #10793
@kaxil yes, airflow 1.10.10 behaves in the same way

[2020-09-09 17:10] gardnerdev commented on #10793
@dimberman @kaxil where can I found worker definition of K8 executor in charts?

[2020-09-09 17:37] yene opened #10840 "Description Field for Connections"
**Description**
A description field for connections. Allowing us to explain how the data source is used, where it is hosted, and if it is persisted/ under backup.

**Use case / motivation**
I just added a new connection to our Airflow configuration. When updating the internal docs that explain on how to use the connection, I asked myself: Are the devs even gonna read this, would it not be better t

[2020-09-09 19:09] YingboWang commented on #10815
Hi @kaxil I would be happy to do it. Is there any instruction/example PR on how to do that?

[2020-09-09 19:27] guptamyr commented on #10014
Hi,

Has the 2nd wave of backport packages been released or is there a new ETA?

[2020-09-09 20:03] kaxil commented on #10815
Just a notice similar to https://airflow.readthedocs.io/en/latest/rest-api-ref.html (https://github.com/apache/airflow/blob/master/docs/rest-api-ref.rst) at https://airflow.readthedocs.io/en/latest/smart-sensor.html

[2020-09-10 02:45] raj-manvar commented on #9610
Few new findings:
* was able to reproduce this issue for task running more than a minute by setting `visibility_timeout = 60` in [celery_broker_transport_options] in airflow.cfg file.
* Therefore, this is happening because Celery expects the task to complete within an hour and if not assigns another worker for the task, during this transition, worker uploads the logs with "Task is not able to run"

[2020-09-10 03:30] zorseti commented on #8521
Have fixed in 1.10.2.
https://github.com/apache/airflow/pull/9993/files
But I am not sure this is work,I fix it by change subquery in delete

[2020-09-10 03:52] dobromirmontauk commented on #10586
Would love to see a fix to this!

[2020-09-10 04:39] potiuk commented on #8521
I will mark  it as fixed then @zorseti. I think we can always re-open in case we still see it happening :)

[2020-09-10 04:39] #8521 closed

[2020-09-10 04:57] dimberman commented on #9610
Hi @raj-manvar Thank you for updating us! Yes this is similar to what we've been seeing. We have both seen that this is tied to the celery  visibility_timeout and that increasing the timeout significantly seems to make this happen after an hour,

According to the thread, this might be solved by upgrading celery version https://github.com/celery/celery/issues/5935#issuecomment-641501842. @ashb woul

[2020-09-10 05:00] dimberman commented on #9610
Hmm That's unfortunate that the upgrade doesn't seem to have worked for us. I think we're going to need to bump that thread. @ashb is it possible that downgrading to 4.4.5 might fix this?

[2020-09-10 05:04] dimberman commented on #9610
Another ticket tied to this same bug https://github.com/celery/celery/issues/6229

[2020-09-10 05:13] corsearch-honarkhah commented on #8521
I will test it and let you know ;)

[2020-09-10 06:24] potiuk opened #10854 "Make sure that we have no conflicting dependencies when installing."
In October 2020 PIP will start failing in case of some conflicting dependencies. We should run the latest version of PIP and make sure to use the ``--use-feature=2020-resolver`` to test the resolution of packages and fix them,

[2020-09-10 06:39] abhilash1in opened #10855 "Mask credentials in Rendered Template tab of task instance details page"
**Apache Airflow version**: 1.10.12

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): N/A

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): `Ubuntu 18.04.4 LTS`
- **Kernel** (e.g. `uname -a`): `Linux upcairflow01 4.15.0-115-generic #116-Ubuntu SMP Wed Aug 26 14:04:49 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux`
- **Ins

[2020-09-10 08:03] KimchaC commented on #8605
Instead of modifying the existing image, you can also build from the finished image and add your own stuff.

Here's my image for example:
[code]

[2020-09-10 08:30] potiuk opened #10856 "Add better "extensions" model for "build image" part"
There should be an easy way to add various build time steps and dependencies in the "build image" segment and it should be quite obvious how to do it.

Example of what kind of extensions should be supported is described here: https://github.com/apache/airflow/issues/8605#issuecomment-690065621

[2020-09-10 08:32] potiuk commented on #8605
That's true - you can do that. The drawback of this solution though is that the image will be much bigger (in this case it will contain unixodbc-dev and g++ which on its own drags a number of dependencies (most of build-essentials) which likely adds several 100s of MB of stuff that is not needed in the final image.

I am actually thinking on how to make it even easier to accommodate such cases and

[2020-09-10 10:19] yuqian90 commented on #10790
Hi @turbaszek, any finding on this? We have a CeleryExecutor + Redis setup with three workers (apache-airflow 1.10.12). The airflow-scheduler log has a lot of lines like this. I remember this was already a problem when we were using older versions such as 1.10.10. It's just we never paid much attention to it.

[code]

Same with others in this thread, we have a lot of sensors in "reschedule" mode w

[2020-09-10 10:30] turbaszek commented on #10790
@yuqian90 thanks you so much for pointing to the DAG! I will check it and let you know. Once we can replicate the problem it will be much more easier to solve it 👍

[2020-09-10 11:04] KimchaC commented on #8605
I just watched your presentation on docker and it's really amazing how much thought and effort you put in the image and the optimization.

Building the custom size-optimized image from source is a great option for many people, especially if they are working in corporate and need the security review.

But for many other, especially smaller businesses, ease of getting started, setup and maintenance

[2020-09-10 11:07] KimchaC commented on #8605
One more thought:

I think there are multiple purposes for a docker image. The most important is of course running in production that justifies a more complicated process.

But I think many people also use docker to quickly test-drive software.

I know that from my own experience. Whenever I consider a new open source software, the first thing I check is whether they have a docker image and ideall

[2020-09-10 11:45] #9071 closed

[2020-09-10 12:03] sgrzemski-ias commented on #10790
@yuqian90

Those parameters won't help you much. I was struggling to somehow workaround this issue and I believe I've found the right solution now. In my case the biggest hint while debugging was not scheduler/worker logs but the Celery Flower Web UI. We have a setup of 3 Celery workers, 4 CPU each. It often happened that Celery was running 8 or more python reschedule sensors on one worker but 0 o

[2020-09-10 12:09] potiuk commented on #8605
Agree!!

[2020-09-10 12:16] sglickman opened #10858 "Airflow checks for wrong KubernetesExecutor import on task run"
https://github.com/apache/airflow/blob/87038ae42aff3ff81cba1111e418a1f411a0c7b1/airflow/www/views.py#L1152

This code attempts to check whether the current executor is a KubernetesExecutor, but that executor has been moved out of contrib, it looks like, and into airflow.executors.kubernetes_executor. The ImportError is, for some reason, swallowed.

[2020-09-10 12:18] sglickman commented on #10858
looks like this is fixed in master: https://github.com/apache/airflow/blob/master/airflow/www/views.py#L992 but the KubernetesExecutor was moved in v.1.10 stable: https://github.com/apache/airflow/blob/v1-10-stable/airflow/executors/kubernetes_executor.py

[2020-09-10 12:41] KIRY4 opened #10860 "Timeouts in Airflow scheduler logs on AKS"
**Apache Airflow version**:
1.10.12

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
AKS 1.17.9

**Environment**:

- **Cloud provider or hardware configuration**:
Azure AKS
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:
I'm using AKS+KubernetesExecutor+KubernetesPodOperator+Helm stable Airflow chart

**What hap

[2020-09-10 13:39] mik-laj commented on #10840
Sound good to me. Should I assign you to this ticket?

[2020-09-10 13:42] mik-laj commented on #10855
You should pass conn_id to callable and this callable should use `conn = BaseHook.get_connection(CONN_ID)` to read credentials.

Otherwise, your DAG will make a lot of database queries. In the community, we have automatic tests on CIs that detect and block such DAG file
https://github.com/apache/airflow/blob/ff7232761497985720387c4288439ac1dce2ee77/tests/test_example_dags.py#L47

[2020-09-10 13:49] mik-laj commented on #10788
@shivanshs9 Sounds good to me. Missing is adding a view without a menu link. Should I assign you to this ticket?

[2020-09-10 13:54] mik-laj commented on #10786
@neil90 Sounds. good to me. Should I assign you to this ticket?

[2020-09-10 14:00] Javier162380 opened #10861 "Improve Kubernetes Pod Operator Error Messages"
**Description**

Currently, the Kubernetes Pod Operator Airflow raised an error message when the status of the pod launch is different from success https://github.com/apache/airflow/blob/ff7232761497985720387c4288439ac1dce2ee77/airflow/providers/cncf/kubernetes/operators/kubernetes_pod.py#L303. It is not really descriptive when this failure is not due to an exception based on the task and it is re

[2020-09-10 14:20] turbaszek commented on #10790
@sgrzemski-ias I will setup an environment to first observe the behavior and then if it will occur I will check your suggestion! Hope that we will be able to understand what's going on here 🚀

[2020-09-10 14:56] potiuk commented on #8605
Those are all valid points and I was kind of waiting for someone to come up with that. When I looked at puckel, it was not really "production ready" and it did pretty much "everything but the kitchen sink" ;). So I figured the best option will be to start from something well engineered, but with doing only one thing well being optimised for production and listen to people complaining what they mis

[2020-09-10 15:00] KimchaC commented on #8605
Totally valid to wait for someone else to come up with that.

[I have posted my setup here](https://github.com/apache/airflow/issues/8605#issuecomment-626331675).

If it meets the AF quality standard, I would be happy to create a PR if that makes things easier for you.

[2020-09-10 15:03] kaxil commented on #8605
Since docker-compose is just used for DEV, please go for it @KimchaC . We can iterate over it if needed

[2020-09-10 15:04] potiuk commented on #8605
absolutely!

[2020-09-10 15:40] potiuk commented on #10705
OK. it seems that we need to remove snakebite-kerberos altogether leaving the hdfs without kerberos support.

[2020-09-10 16:26] tszerszen commented on #10382
@turbaszek
Since it's very similar to [#10381](https://github.com/apache/airflow/issues/10381), I created [PR](https://github.com/apache/airflow/pull/10866) with this issue also, is that ok?

[2020-09-10 16:48] turbaszek commented on #10790
Ok @yuqian90 @sgrzemski-ias what is you setting for core.dagbag_import_timeout ?

As I'm hitting:

Traceback (most recent call last): File "/usr/local/lib/airflow/airflow/models/dagbag.py", line 237, in process_file m = imp.load_source(mod_name, filepath) File "/opt/python3.6/lib/python3.6/imp.py", line 172, in load_source module = _load(spec) File "<frozen importlib._bootstrap>", line 684, in _lo

[2020-09-10 17:07] #10381 closed

[2020-09-10 17:07] turbaszek commented on #10382
@tszerszen awesome! I will take a look

[2020-09-10 17:46] neil90 commented on #10786
Yes I have made the PR https://github.com/apache/airflow/pull/10787

[2020-09-10 18:00] abhilash1in commented on #10840
@mik-laj  I can give this a shot. Please assign it to me.

[2020-09-10 19:02] mik-laj commented on #10840
@abhilash1in I assigned you to this ticket.

[2020-09-10 19:36] mik-laj opened #10867 "Warning about invisible connections/variable in the Web UI"
Hello,

Currently, you can define a new connection/variable in several ways.
* Metabase
* Environment variable
* Secret backend

However, only the connections defined with the Metabase are visible from the Web UI. This is surprising among users because a natural way to check connection/variable configuration is to use the Web UI, which may not show complete information.
I would be happy if there w

[2020-09-10 19:56] mik-laj commented on #10786
I assigned you to this ticket.

https://github.com/apache/airflow/blob/master/CONTRIBUTING.rst#contribution-workflow

[2020-09-10 19:58] maiorBoltach opened #10868 "on_load method is not working for plugins located in folder"
**Apache Airflow version**: 1.10.12

**Environment**:

- **Cloud provider or hardware configuration**: Google Cloud, custom-8-16384
- **OS** (e.g. from /etc/os-release): CentOS Linux release 7.7.1908 (Core)
- **Kernel** (e.g. `uname -a`): 3.10.0-1062.18.1.el7.x86_64 #1 SMP Tue Mar 17 23:49:17 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

**What happened**:

Class method [on_load](https://github.com/apa

[2020-09-10 20:02] maiorBoltach commented on #10868
If this is really a bug, can I fix it by myself?

[2020-09-10 20:04] mik-laj commented on #10868
@maiorBoltach  Yes. We are open to contributions. I assigned you to this ticket.

Contributor guide: https://github.com/apache/airflow/blob/master/CONTRIBUTING.rst

[2020-09-10 20:05] mik-laj commented on #10868
It' a real bug. See: airflow.plugins_manager.load_plugins_from_plugin_directory  This does not call the on_load method.

[2020-09-10 20:53] mik-laj commented on #7907
@nikste I know a lot of organizations are working on solutions internally, but there is no community progress.

[2020-09-10 20:59] mik-laj commented on #10449
https://github.com/apache/airflow/issues/10194
https://lists.apache.org/thread.html/2b12ae265795ff2e655a5161c972f5c7bbe60722a12849a0e2c5c55f%40%3Cdev.airflow.apache.org%3E
Is is related? Here we discussed the latest related changes. It might be inspiring for you.

[2020-09-10 21:15] nikste commented on #7907
@mik-laj thanks for the update, i think it would make a lot of sense to have some easy end-to-end testing (I would definitely find it useful :) )

[2020-09-10 21:17] tszerszen commented on #10723
My proposition is to change `params` to `prediction_params`, here's the [PR](https://github.com/apache/airflow/pull/10869)

[2020-09-10 21:20] mik-laj commented on #7907
@nikste  What specific E2E tests would be of interest to you?  In my case, E2E tests mean the configuration of a separate test environment, services that are used to monitor the cluster, and then running several DAG Runs. As a result, we get information about the DAG status, but also performance metrics.

[2020-09-10 23:00] vitaly-krugl commented on #8759
Our internal environment enforces mandatory log rotation automatically as part of its log rotation and archiving mechanism. Since the description of this ticket points out that external log rotation causes the Scheduler to go down (I am assuming this means crash), this leaves me hanging.

External log rotators are pretty common. For maximum compatibility, all Airflow subsystems need to play nice w

[2020-09-10 23:31] yuqian90 commented on #10790
Hi, @turbaszek  in my case I have `dagbag_import_timeout = 100` and `dag_file_processor_timeout = 300`. Most of the time dag import takes about 10s. dag file processing can take 60s that's why it's set to a large number.

After digging further, I think the slowness that causes the error for our case is in this function: `SchedulerJob._process_dags()`. If this function takes around 60s, those `resc

[2020-09-11 02:31] dutta1kartik3 commented on #8759
But this external log deletion dag / script doesn't seem to cause the scheduler to go down
https://github.com/teamclairvoyant/airflow-maintenance-dags/blob/master/log-cleanup/airflow-log-cleanup.py

[2020-09-11 05:05] msumit commented on #7935
All system vitals like the disk, cpu, and mem are absolutely fine whenever the stuck happens for us. Whenever the process stuck, it doesn't respond to any other kill signals except 9 & 11.

I did a strace on the stuck process, it shows the following
`futex(0x14d9390, FUTEX_WAIT_PRIVATE, 0, NULL`

Then I killed the process with `kill -11` and loaded the core in gdb, and below is the stack trace

#0

[2020-09-11 05:31] baolsen opened #10874 "SSHHook get_conn() does not re-use client"
**Apache Airflow version**: 1.10.8

**Environment**:

- **Cloud provider or hardware configuration**: 4 VCPU 8GB RAM VM
- **OS** (e.g. from /etc/os-release): RHEL 7.7
- **Kernel** (e.g. `uname -a`): Linux 3.10.0-957.el7.x86_64 #1 SMP Thu Oct 4 20:48:51 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
- **Install tools**:
- **Others**:

**What happened**:

Sub-classing the SSHOperator and calling its execut

[2020-09-11 06:21] thesuperzapper commented on #9813
@potiuk I am still getting this on 1.10.12?

[2020-09-11 06:39] JeffryMAC commented on #10194
@Shadowsong27 I don't know if it's the same case. having `@monday` isn't a "dynamic" it's something can be obtained with a single cron expression `0 0 * * MON`. The idea of better scheduling times is to allow to schedule jobs with intervals that can't be specified by a single cron expression.

[2020-09-11 06:44] JeffryMAC commented on #10867
If a connection defined in one of those hidden options.
What will happen if I will try to define a new connection in the UI with the exact name?

[2020-09-11 06:52] dmariassy commented on #10790
Here's another potential hint: We have increased the `poke_interval` value for a subset of our sensors yesterday to 5 minutes (from the default 1 minute), and the issue seems to have disappeared for the affected sensors.

[2020-09-11 07:03] frosk1 commented on #10194
@Shadowsong27 it is nice to see more reminiscence and feedback on this topic. I have been gone the complete way from a outside enduser view to force airflow becoming more flexible in its scheduling mechanism: opened feature request[ #10449](https://github.com/apache/airflow/issues/10449), send draft via mail to dev@airflow.apache.org, etc.

Within my feature request I point out the huge huge deman

[2020-09-11 07:04] randr97 commented on #10867
- It will override the env. (currently)
But based on suggested changes, we should jus warn the user and nothing more.
@mik-laj Should we consider having the env conn/vars displayed in UI or jus show a warning?

[2020-09-11 07:58] mik-laj commented on #10867
@randr97 For security reasons, we should only display database entries in the Web UI. The entries that are configured in the database are user-controlled entries and the user can fully manage them.

@JeffryMAC will be created but never used, because backend entries with higher priority will be used.
https://github.com/apache/airflow/blob/c58d60635dbab1a91f38e989f72f91645cb7eb62/airflow/configurati

[2020-09-11 09:07] wolfier opened #10876 "Serialized DAG with BigQueryOperator doesn't load for DAG specific UI views"
**Apache Airflow version**: 1.10.7+

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

[code]

**What happened**:

Airflow cannot load a serialized DAG that has a BigQueryOperator.

[code]

**What you expected to happen**:

For Airflow to load the DAG views normally.

**How to reproduce it**:
Enable DAG Serialization as instructed in the [Airflow documentation](https:/

[2020-09-11 09:32] Shadowsong27 commented on #10194
Ok `@monday` is a bad example, guess pre-builts are not meaningful since if they are common enough to be a pre-built schedule, they most likely can be expressed in cron.

I totally agreed on the rest, that's actually why I felt a custom function defined by users is the way to go here.

[2020-09-11 09:39] Shadowsong27 commented on #10194
@frosk1 Yep I have been using Airflow since 2018, watched it grows to become the top choice in the market. This issue is not super blocking TBH, you can still kind of create one DAG per each odd schedule, but it creates a lot of pain, especially in most of the companys the DAG creation processes are still handled by data engineers (IMO, they should be done by the data consumers, via some sort of w

[2020-09-11 10:59] kaxil commented on #10790
I can confirm that one of our customers also faced a similar issue with poke='reschedule' and increasing poke_interval had fixed the issue for them.

It feels some sort of race condition.

[2020-09-11 12:47] kaxil commented on #10867
Yes we should definitely not display Connections and Variable coming from Secrets Backend, I am happy with us showing just the keys for debugging but not values

[2020-09-11 12:48] kaxil commented on #10855
Similar issues:

- https://github.com/apache/airflow/issues/8421
- https://github.com/apache/airflow/issues/9638

[2020-09-11 12:49] kaxil commented on #10854
+1 this one is definitely important

[2020-09-11 13:45] raj-manvar commented on #9610
I tried with Celery version 4.4.5 as well but had the same issue.

[2020-09-11 14:07] potiuk commented on #10867
+1. It would be nice to prevent creating one if there is a secret backend one already but it's not really necessary

[2020-09-11 14:28] mjpieters opened #10882 "StreamLogWriter has no close method, clashes with abseil logging (Tensorflow)"
**Apache Airflow version**: 1.10.12

**What happened**:

If any Python code run in an operator, has imported `absl.logging` (directly or indirectly), `airflow run` on that task ends with `AttributeError: 'StreamLogWriter' object has no attribute 'close'`. This is not normally seen, as this only happens in the `--raw` inner stage. The task is marked as successful, but the task exited with exit code

[2020-09-11 14:48] sahil-b-shah opened #10883 "Improve ExternalTaskSensor execution date pattern"
Currently in the `ExternalTaskSensor` there are two ways two set the execution date of a DAG/task the sensor is waiting on:
- Provide the `execution_delta` which simply adds/subtracts a time value to/from the `execution_date` of the sensor itself
- Provide the `execution_date_fn` which is a function that takes in just the `execution_date` and returns a manipulated one.

I believe that the correct

[2020-09-11 14:49] yiannissakk commented on #7883
Hello Saad,

I am having exactly the same problem. I think we got our example from the same place too.

Did you end up solving this?

Thanks
Yiannis

[2020-09-11 16:26] abhilash1in commented on #10855
@mik-laj @kaxil thank you, the similar issues linked above covers this in more detail. Closing this issue.

[2020-09-11 16:26] #10855 closed

[2020-09-11 17:05] coopergillan commented on #9708
I'm giving a shot at Zendesk now.

[2020-09-11 18:48] turbaszek commented on #10382
Closed in #10866

[2020-09-11 18:48] #10382 closed

[2020-09-11 19:20] potiuk commented on #10014
Sorry - I should have updated it. The second wave is delayed a bit (but coming soon). The resason is two-fold
* the `cncf.kubernetes` package has a problem that we are solving
* we might try to get the mechanism of separate providers packages and "discovery" mechanism before we build  the packages

[2020-09-12 01:32] bharatnc opened #10893 "Add new operator for ClickHouse"
**Description**

Add a new operator for ClickHouse.

**Use case / motivation**

Use case similar to any other operators like Postgres, MySQL etc for working with ClickHouse.

**Related Issues**

As far as I have looked, there is already a [plugin](https://pypi.org/project/airflow-clickhouse-plugin/) that can be installed.

But would be nice to have this part of airflow alongside other available op

[2020-09-12 05:13] abhilash1in opened #10894 "Running 'breeze initialize-local-virtualenv' results in TypeError"
CC: @potiuk

Running `./breeze initialize-local-virtualenv` from inside a brand new pyenv virtualenv (3.7) is causing errors:

[code]

Full logs:
[code]

**Apache Airflow version**: 2.0.0dev

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): macOS Catalina
- **Kernel

[2020-09-12 07:39] Kobe-Wang opened #10895 "Should we stay flexible to copy files from s3 to Redshift when using S3ToRedshiftTransfer?"
**Description**

Could we copy the different filename from s3 with the table name in Redshift using S3ToRedshiftTransfer?

**Use case / motivation**

I want to use the S3ToRedshiftTransfer operator to copy S3 files to Redshift, but I found the table name in Redshift is the same as the S3 filename when I traced the S3ToRedshiftTransfer source code. To be more specific, if I want to use the name is

[2020-09-12 08:57] potiuk commented on #10894
Comment: It does complete successfully, it's just a problem that example_dags cause (ignored) failure of migration script. But I agree it is annoying and should be fixed :)

[2020-09-12 10:43] potiuk commented on #10893
Sure thing ! Go ahead @bharatnc

[2020-09-12 11:20] mik-laj commented on #10893
Should we use DB API? Thanks to this, we won't have to implement operators, but we will be able to use generic operators for SQL.

[2020-09-12 12:39] #10894 closed

[2020-09-12 14:11] kaxil commented on #10656
Let us know if you need any help @MahsaSeifikar

[2020-09-12 14:28] faihegberg commented on #9414
@mik-laj I’d like to grab this one if that’s ok 🙂 I just finished reading through the contribution guideline/documentation and this will be my first issue. Please let me know if you have any additional info that you think will be helpful.

[2020-09-12 16:30] potiuk commented on #10893
I think there is a value in using specific operators for each DB. There is not a lot of code and DBAPI is designed rather as a very low-level API that usually is implemented by driver specific for the Database. This is how most of the DB operators work and allow to implement specific features of each operator with the API's that are much easier to use.

[2020-09-12 16:55] bharatnc commented on #10893
Thank you! I haven't taken a look at DB generic API  but sounds like what @potiuk  describes is true and applicable here. The generic DB API will work for basic queries but a lot of operations other queries used in Clickhouse have rather specific syntax / functionality unique to that database. The overlap of functionality  b/w generic DB API operations and Clickhouse operations are rather not very

[2020-09-12 19:12] potiuk commented on #10893
Regardless if we would like to implement DBAPI also for ClickHouse it is not a good idea to do it now IMHO. If we decide to do that - we should do it as a separate PR and see how much of the commonalities we can extract at all. But I really do not think adding db api when adding new database (and much different than the regular one) is a good idea now. @mik-laj  let us know if you think otherwise,

[2020-09-12 19:37] JeffryMAC commented on #10895
It seems like https://github.com/apache/airflow/pull/9246 is going to solve this problem
@Kobe-Wang maybe you can test the code to make sure it solves it?

[2020-09-12 22:20] maiorBoltach commented on #10868
@mik-laj should I also make PR for 1-10 version or we leave it only in 2.0?

[2020-09-12 22:52] Kobe-Wang commented on #10895
Hi @JeffryMAC,
Thank you for your reply. I found the issue is related to #10436. And the PR already be merged into the `apache:master` branch. I will close the feature request.

By the way, I will test the code to make sure the enhancement from #9246 later.

[2020-09-12 22:53] Kobe-Wang commented on #10895
related to #10436

[2020-09-12 22:53] #10895 closed

[2020-09-12 23:48] mik-laj commented on #10868
Only for master.  we are not making non-critical changes to 1.10

[2020-09-13 01:05] #9514 closed

[2020-09-13 10:01] shakedzy opened #10911 "Allow custom behavior on sensor timeout"
**Description**

Allow custom behavior on sensor timeout: When sensors timeout, they throw an exception. A custom behavior on such cases can be useful, just like the `on_kill` method.

We found it to be necessary where I work, and I believe we're not the only ones who could benefit from this.

Obviously, I suggest myself as the assignee for this.

[2020-09-13 12:49] mathiassp commented on #9781
Any update on the release of the backport package for cncf.kubernetes? I can't seem to find it in the PyPi repository.

[2020-09-13 14:25] potiuk commented on #9781
@mathiassp , it's delayed a bit but for very good reasons (see the last comment and just updated description in https://github.com/apache/airflow/issues/10014)

There is a bug in cncf.kubernetes that several committers try to hunt and fix https://github.com/celery/celery/issues/6229 but also we decided last week that we are going to split Airflow 2.0 into separate packages and for that we want to

[2020-09-13 14:45] #8258 closed

[2020-09-13 15:05] #10723 closed

[2020-09-13 15:23] agonen commented on #10791
?

[2020-09-13 16:22] potiuk commented on #10471
I might want to try to fix that one if we have more problems like this.. The problems will manifest in sometimes weird errors if the PR has not been rebased to the latest master.

[2020-09-13 16:24] potiuk commented on #10471
For example missing dependencies that has just been added. In any case, the workaround is simply to rebase such PR to the latest master, but I think I saw several of those happening recently, pretty much always when we add new dependencies, so it might be worth fixing.

[2020-09-13 16:25] dungdm93 opened #10913 "HTTP connection parse path as schema but use as protocol"
**Apache Airflow version**:
1.10.11

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): Ubuntu 20.04
- **Kernel** (e.g. `uname -a`): 5.4.0-47-generic
- **Install tools**:
- **Others**:

**What happened**:
I store my connection into Airflow using this command
[code]

And when It's used by hooks, I realize that HTTP connection parse path as schema

[2020-09-13 16:28] potiuk commented on #10913
Yeah @dungdm93 - this is a known problem, It's not a bug per-se, but it's hard to solve in a backward-compatible way. Would you like to attempt to solve it this way that the previous usages will be not affected ? It might be temporary (Wiht some deprecation notice) but we have to make sure that at least when people migrate to 2.0, their code still works and at most they receive a deprecation warni

[2020-09-13 16:29] potiuk commented on #10913
And it would be great to solve it BTW. it's pretty anoying.

[2020-09-13 18:46] anshul17khanna opened #10914 "Api to fetch all dag ids filtered by tags"
**Description**
A utility as well as a Restful Api to fetch all the dag ids by a given tag. The method can be implemented as `get_dags_by_tag` and experimental api as `GET /api/experimental/tags/<TAG>`.

**Use case**
My organisation uses tags to identify a Dag's responsibilities among teams, whereas the ownership is handled only by a single person. So authentication of other Rest apis for of our i

[2020-09-13 19:00] potiuk commented on #10914
We have a fully-featured API coming in Airflow 2.0. #8107 the current, experimental API is not going to be extended any more. Airflow 2.0 is going to be released by the end of the year - please observe #10152 and https://cwiki.apache.org/confluence/display/AIRFLOW/Airflow+2.0+-+Planning

[2020-09-13 19:00] #10914 closed

[2020-09-13 19:24] turbaszek commented on #10641
@mebelousov would you like to open a PR?

[2020-09-13 19:27] turbaszek commented on #10395
Closing as the issue seems to be solved and it seems that `snakebite-py3` is required for hdfs:
https://github.com/apache/airflow/blob/12a652f5344c7f03c3d780556ca1829b235fdb2d/setup.py#L296-L298

[2020-09-13 19:27] #10395 closed

[2020-09-14 04:49] Shivarp1 opened #10920 "KubernetesPodOperatror VolumeMount "read_only" flag set as "False" is not writing to mounted NAS directory"
**Description
 The task completes and XCOM returns are successful, but the volume mounts for the worker Pod is not writing to the mounted
  volume. The readonly flag set as "False" in the Pod request is being overwritten as "None" in  the Pod response.
  Attached the code and debug logs below..
  Are the worker pods are allowed to write to mounted NAS volumes?
 Thanks
 shivarp
---**
Apache Airflow

[2020-09-14 05:08] anshul17khanna opened #10921 "Asynchronous run for DatabricksRunNowOperator"
**Description**

Ability to let `DatabricksRunNowOperator` execute asynchronously based on an optional argument `async=False`.

**Use case / motivation**

Sometimes a databricks job would want to perform actions without letting the Dag operator wait for its completion. This would be very useful when the child tasks would periodically want to interact with that running job such as for message queue

[2020-09-14 09:29] JavierLopezT opened #10925 "S3ToSnowflakeOperator generating copy statement that fails"
**Apache Airflow version**:
1.10.10

**Environment**:
Docker-compose

**What happened**:
I used S3ToSwnoflakeTransfer and it gave me the following copy statement:
[code]
Which throws several errors. First, it says this:
`SQL compilation error: syntax error line 3 at position 13 unexpected '/'. syntax error line 3 at position 13 unexpected '/'. syntax error line 3 at position 24 unexpected '/'. syn

[2020-09-14 09:55] turbaszek opened #10926 "Introduce TaskMixin"
**Description**

Currently `BaseOperator` and `XComArgs` implements the same logic of `__lshift__`, `__rshift__` and others "chain" operations (`>>`, `<<`). It seems resonable to abstract this logic into `TaskMixin` to introduce some DRYness especially because the new concept of `TaskGroup` will also implement the same methods.

**Use case / motivation**

Limit duplication of logic.

**Related Iss

[2020-09-14 10:38] mik-laj commented on #10641
Why don't you configure the connection as PostgreSQL and then add the missing information in the description? See: https://github.com/apache/airflow/pull/10873/files
Wasn't the ability to add a description for the connection enough for you?

[2020-09-14 10:49] mik-laj commented on #10913
Related: https://github.com/apache/airflow/pull/10256

[2020-09-14 10:53] mik-laj commented on #9414
@faihegberg You are already assigned to this ticket. When you create a PR it will be easier for us to discuss the details.

[2020-09-14 10:54] turbaszek commented on #8765
Base for `airflow upgrade-check` command is merged (#9276 ) so we can decide what rules we would like to implement. Once we have an initial list I will create issues so multiple people can work on this.

Based on this gdoc:

We may consider the following rules as a good start (those are major breaking changes):
- `ConnTypeIsNotNullableRule` - Not-nullable conn_type column in connection table (done

[2020-09-14 11:06] mik-laj commented on #9977
Closed by: https://github.com/apache/airflow/pull/10820

[2020-09-14 11:06] #9977 closed

[2020-09-14 11:09] mik-laj commented on #9347
@chattarajoy @anmol-dhingra @randuhmm Can you take a look at this ticket? Would you like to help solve it?

[2020-09-14 11:14] chattarajoy commented on #9347
@mik-laj this was fixed with https://github.com/apache/airflow/pull/9349

[2020-09-14 11:18] mik-laj commented on #9347
@chattarajoy Awesome!

This is one more topic. We are trying to improve our documentation, and I see a guides that explains how to use these operators is missing. Here are guides for other operators: https://airflow.readthedocs.io/en/latest/howto/operator/index.html
Wouldn't you like to write a guide for this operator?

[2020-09-14 11:20] mik-laj commented on #9347
This provider also has poor typing coverage.
https://github.com/apache/airflow/issues/9708#issuecomment-687518888

[2020-09-14 11:29] chattarajoy opened #10928 "Improve test and typing coverage for Qubole Operator"
This provider also has poor typing coverage.
https://github.com/apache/airflow/issues/9708#issuecomment-687518888

_Originally posted by @mik-laj in https://github.com/apache/airflow/issues/9347#issuecomment-691988905_

[2020-09-14 11:29] chattarajoy commented on #10928
Pls assign this to me

[2020-09-14 11:30] chattarajoy opened #10929 "Add how to documentation for Qubole Operator"
We are trying to improve our documentation, and I see a guides that explains how to use these operators is missing. Here are guides for other operators: https://airflow.readthedocs.io/en/latest/howto/operator/index.html
Wouldn't you like to write a guide for this operator? In practice, the guide is an example DAG file + description.

_Originally posted by @mik-laj in https://github.com/apache/airf

[2020-09-14 11:30] chattarajoy commented on #10929
Please assign this to me

[2020-09-14 11:31] chattarajoy commented on #9347
sure @mik-laj create issues for both the points mentioned will look into it. Could you pls change the assignee for the to me?

[2020-09-14 11:32] potiuk commented on #8765
Sounds great to start with. I am sure we will have more rules added by the users, but those seem like great to create issues for.
And yeah. One rule to rule them all ("naming changes") sound great. But I'd name it "ImportChangesRule". We renamed Hooks, and Secret Backends and Sensors - not only operators :).

Elder Jarek.

[2020-09-14 11:32] mik-laj commented on #9347
@chattarajoy I assigned you to these tickets.

[2020-09-14 11:32] #9347 closed

[2020-09-14 12:00] mik-laj commented on #10835
Link: https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-4+Support+for+Automation+of+System+Tests+for+external+systems

[2020-09-14 12:01] mik-laj opened #10931 "Missing system tests for Qubole provider"
Hello,

We are trying to work on increasing [system test](https://github.com/apache/airflow/blob/master/TESTING.rst#airflow-system-tests) coverage of all providers that require credentials to communicate with external services/systems. Currently, system tests are not run on CI, but are still very helpful if you make changes to your code and want to make sure no regression has occurred. In the futu

[2020-09-14 12:02] mik-laj commented on #10931
@chattarajoy Can you look at it?

[2020-09-14 12:06] mebelousov commented on #10641
@mik-laj good idea! Thank you! Seems it's a good work-around.

I found out than method `_generate_insert_sql` in PostgresHook [1] is incompatible with Greenplum syntax [2]. Now Greenplum doesn't allow to `ON CONFLICT ({0}) DO UPDATE SET {1}`.
I believe to add GreenplumHook for full compatibility. GreenplumHook will be copy of PostgresHook with exeption of `_generate_insert_sql`. It's enough to use

[2020-09-14 12:11] chattarajoy commented on #10931
Sure @mik-laj , we can definitely add a few system tests. Please assign it to me

[2020-09-14 12:25] mik-laj commented on #10929
I would be past the point if this would also include documentation that describes the required steps to set up a connection.
https://airflow.readthedocs.io/en/latest/howto/connection/index.html#connection-types
https://airflow.readthedocs.io/en/latest/howto/operator/google/cloud/natural_language.html#prerequisite-tasks Section "Prerequisite Tasks"

[2020-09-14 14:24] pritt20 opened #10934 "Airflow UI - Go button on Tree View causes a Invalid Date"
**Apache Airflow version**:
1.10.10

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

kubeenetes ver: 1.15.5

**Environment**:

- **Cloud provider or hardware configuration**: Used docker based Airflow Image
- **OS** (e.g. from /etc/os-release): Debian
- **Kernel** (e.g. `uname -a`): 4.19.76-linuxkit x86_64 Linux

**What happened**:

When user navigates to tree view o

[2020-09-14 14:25] kaxil commented on #10929
Thanks @chattarajoy

[2020-09-14 14:29] kaxil opened #10935 "Sensing stats hidden in the Webserver on the Home Page"
**Apache Airflow version**: Master (2.0.0dev)

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): Macos
- **Kernel** (e.g. `uname -a`): Macbook Pro

**What happened**:

The sensing state is the last circle in recent task which is half-hidden

![image](https://user-images.githubusercontent.com/8811558/93098682-0d348480-f69f-11ea-95cf-6884b077ee94

[2020-09-14 14:38] KIRY4 commented on #10860
Here is full logs from scheduler pod after restarting of scheduler POD. DAG's wasn't scheduled so it means that this errors producing whole time and not related to DAG's:
[code]

[2020-09-14 14:43] paolaperaza commented on #10383
Thanks for submitting this, @krisdock! @dimberman Looks like you submitted a PR for this and it was merged a few days ago: https://github.com/apache/airflow/pull/10666

Want to close out this GH issue and add the 1.10.13 milestone to this?

Related followup PR:
- [Make grace_period_seconds option on K8sPodOperator #10727](https://github.com/apache/airflow/pull/10727)

[2020-09-14 14:48] dimberman commented on #10383
Issue has been addressed and merged

[2020-09-14 14:48] #10383 closed

[2020-09-14 14:49] paolaperaza commented on #10722
Hi @Shivarp1 ! @dimberman looked into this at Astronomer and found that if your cluster has resource quotas turned on without a default `limitRange` specified, this will happen.

This can be checked with `kubectl get resourcequota -n <namespace> -o yaml and kubectl get limitRange -n <namespace> -o yaml`

@dimon222 Let me know if that's in line with the behavior you're seeing as well. Given the abo

[2020-09-14 15:14] jhtimmins opened #10937 "Automate doc creation for stable API permissions"
**Description**
We should find a way to create automated documentation of required permissions for stable API endpoints.

**Use case / motivation**

Right now the process of documenting which permissions are needed for which API endpoints is entirely manual, which is error prone and likely to get out of date.

[2020-09-14 15:56] mik-laj commented on #9630
Link: https://cwiki.apache.org/confluence/pages/viewpage.action?pageId=103092651

[2020-09-14 16:38] Shivarp1 commented on #10722
I have had the resource quota turned on and a limit range also specified
for the namespace
If it's also working for others, with limits set, you can close this Jira.

Thanks,
-------------------
my settings..
kubectl get resourcequota -n  shivarp_namespace -o yaml -->
   ..
,kind: ResourceQuota
  spec:
    hard:
      limits.cpu: "100"
      limits.memory: 100Gi
      requests.cpu: "10"
      requ

[2020-09-14 16:56] #9958 closed

[2020-09-14 17:19] potiuk commented on #10705
Removed in #10865

[2020-09-14 17:19] #10705 closed

[2020-09-14 17:34] potiuk opened #10940 "Airflow has snakebite as [hdfs] extra dependency in 1.10.12 for python 3"
**What happened**:

For python 3 we should use snakebite-py3 as [hdfs] extra dependency as snakebite does not work with python 2. We already do that in master bu we should also change it for 1.10.

**What you expected to happen**:

It has to use snakebite-py3 in python 3.

[2020-09-14 18:49] #10935 closed

[2020-09-14 19:15] kaxil commented on #8116
Hi @mik-laj is this issue still valid?

[2020-09-14 19:46] mik-laj commented on #8116
@kaxil It is nice-to-have. We can reduce duplicate code if we want, but since we had many different Independent contributors with different skill levels, we couldn't start with that.

[2020-09-14 20:09] kaxil commented on #8116
Cool, just wanted to check all the blockers for 2.0

[2020-09-14 22:36] adamo57 commented on #8907
this also worked for me @danielnazareth89 thank you!!!!

[2020-09-15 07:42] danielpoonwj commented on #8212
Previously I had to manually patch botocore to fix this by [removing bypassing of patched SSLContext](https://github.com/boto/botocore/blob/1.17.61/botocore/httpsession.py#L15-L19), but it broke in Airflow 1.10.12.

I ran into IOErrors on the scheduler when using `monkey.patch_all()` similar to [this](https://stackoverflow.com/questions/8678307/gevent-monkeypatching-breaking-multiprocessing/147365

[2020-09-15 08:44] anitakar opened #10946 "Warn about potential hash collisions in serialized_dag"
**Description**

Currently there is a small possibility of hash collision for serialized dags: https://github.com/apache/airflow/blob/master/airflow/models/serialized_dag.py#L112.

Maybe it is theoretical but dag code has logic to warn about those: https://github.com/apache/airflow/blob/master/airflow/models/dagcode.py#L103

Maybe we should implement logic for that?

**Use case / motivation**

Get

[2020-09-15 09:01] potiuk commented on #10946
That's a good question indeed

I think the probability of that accidentally happening is really low MD5 = 1.47*10^-29. This is is really, really low probability that changed DAG will have the same hash as the previous one is negligible.

Of course, when you repeat it 10^x  times, it will happen eventually but let's do back of the back-of-the-envelope calculation on this:

Assume you have 10.000.00

[2020-09-15 09:01] #10946 closed

[2020-09-15 13:00] FHoffmannCode commented on #8284
Hi, @khyurri  are you still working on this issue?

[2020-09-15 13:35] khyurri commented on #8284
Hi, @FHoffmannCode
It's completed. Review is needed.

[2020-09-15 14:10] turbaszek commented on #8284
@khyurri can you please share a link to PR?

[2020-09-15 14:53] heavelock opened #10952 "Pendulum 1.x drop warning"
**Description**

Airflow 2.x switched major version of Pendulum to ~2.0. Pendulum 2.0 introduced quite a few breaking changes in their API in parts that users can face while creating DAGs.

I search through the master branch and there seem to be no mention in the code, nor in the documentation about that change or any other dependency major version change.
Also, UPDATING.md does not include any me

[2020-09-15 14:55] turbaszek opened #10953 "Refresh Airflow UI"
**Description**

As the Airflow 2.0 is coming nearer it would be awesome to **refresh** the Airflow WebUI. By this it mostly means:
- using some "modern colors" (how about Airflow logo palette?)
- fixing some padding/spacing
- and other small HTML / CSS touches

**Use case / motivation**

The main point is to **refresh** the look, not to rewrite the Web UI.

**Related Issues**

Apache Airflow bran

[2020-09-15 15:01] ashb commented on #10953
@ryanahamilton will likely be up for tackling this.

[2020-09-15 15:21] djerraballi opened #10954 "Serialized Dags with MySQL Latin1 encoded airflow db"
**What Happened**

When enabling airflow serialized dags in airflow 1.10.12:
relevant airflor.cfg
[code]
with a Mysql Server running 5.7.12, and the airflow database encoded in latin-1 (ugh bad mysql default).

I core dumps that are filling up my container.
Looking at the serialized.dag
[code]

[code]

**What you expected to happen**

Should have worked with the airflow db without causing a coredu

[2020-09-15 15:27] agrubb86 commented on #10700
This was caused by a time sync issue on the box that the scheduler was running on. Thanks for your time.

[2020-09-15 15:27] #10700 closed

[2020-09-15 15:41] ryanahamilton commented on #10953
Yes, I'm definitely interested in taking this on—I've got a few ideas brewing.

[2020-09-15 15:50] potiuk commented on #10954
cc: @kaxil

[2020-09-15 15:51] #10292 closed

[2020-09-15 16:03] kaxil commented on #10954
Thanks, can you also paste the DAG too please where this error occurs? @djerraballi

[2020-09-15 17:46] eladkal commented on #9755
It's a bit more complicated than what you described.
You assume here that DAG uses only one connection resource.

Consider a DAG writing to MySQL A and B.
If A is under maintance. I dont think you can assume everyone would like to pause writing to B just because A is under maintance.

[2020-09-15 17:51] dimberman commented on #10793
@gardnerdev can you please post the entire yaml for the worker? If it was mounted via PVC I imagine that would be in the volume mounts?

[2020-09-15 17:52] dimberman commented on #10636
@michalmisiewicz Are you sure that this is an airflow problem and not a Kubernetes problem? This looks like there's a timeout while pinging the Kube API (Which I believe is common as we had to build workarounds to keep timeouts from crashing the JobWatcher)

[2020-09-15 17:57] dimberman commented on #10080
Hi @streetmapp, a few questions:

1. Do you have a log scraper in your cluster (like fluentd, loststashe, etc.)?
2. Are you saying that the logs are being put into a local file?
3. Is this only happening with the K8sPodOperator?
4. did you try setting the `get_logs` option on the K8sPodOperator?

[2020-09-15 18:05] dimberman commented on #10037
Hmm this is an interesting one.

I think when we made the pod_template_file we did so with the assumption that users would have ALL specs in the pod_template file and not attempt to modify further. If you have a pod_template_file that you want to modify before launching, you can deserialize it using the PodGenerator and then use the `pod` parameter for the K8sPodOperator.

Something like this

[co

[2020-09-15 18:06] dimberman commented on #10037
Ahh but ok, I see the other issue where if you don't have a namespace param it can't track the pod. Yes that's a critical bugfix.

[2020-09-15 18:13] dimberman commented on #10037
@Minyus can you please post the error for the in_cluster issue? I think that might be separate

[2020-09-15 18:25] eladkal commented on #10795
Hi @orzZXY can you open a PR to fix the bug?

[2020-09-15 20:05] nasir-bhanpuri commented on #10435
I am running into a similar issue with Airflow 1.10.10 using Docker on macOS.

[2020-09-15 20:28] iseessel opened #10961 "airflow initdb: undefined symbol: Py_GetArgcArgv"
**Apache Airflow version**: 1.10.12

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): N/A

**Environment**:

- **Cloud provider or hardware configuration**: Local Env
- **OS** (e.g. from /etc/os-release): macOS Catalina, Version 10.15.6
- **Kernel** (e.g. `uname -a`): Hybrid (XNU)
- **Install tools**: pip3
- **Python Version**: Python 3.7.3 (natively installed on macOS

[2020-09-15 20:40] dimberman commented on #10037
https://github.com/apache/airflow/pull/10963 PR for a fix. This should go out in 1.10.13.

[2020-09-15 20:41] dimberman commented on #10037
Also @SilvrDuck heads up that template won't work. The K8sPodOperator only takes a pod as a template (it would be bad to have two levels of retry logic so we explicitly do not allow jobs). Also the container would need to be named "base" for logs to work.

[2020-09-15 20:45] dimberman commented on #10020
Hi @kaxil @OmairK

I don't think this is the right way to solve this issue.

In the case of pod failures, we WANT to reattach the first time so the failure can be reported.

Instead, we should add an annotation to that failed pod of "already_checked=True". This way the first time the task re-runs it would re-attach and fail, but the second time it would see the annotation and create a new pod inst

[2020-09-15 20:58] dimberman commented on #9532
@tuan-cs your volume and volume_mount don't match (your volume is named `intput`). Could this be the root of your problem ? can you please post task logs?

[2020-09-15 21:01] dimberman commented on #8275
@Rested you should be able to get around this by using the `pod` or `pod_template_file` parameters.

[2020-09-15 21:50] OmairK commented on #10020
Hi @dimberman, should I open a new issue for this implementation? I would like to take this issue.

[2020-09-15 22:02] adamo57 opened #10964 "No response from gunicorn master within 120 seconds After Changing Worker Class"
**Apache Airflow version**:
1.10.10

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
[code]

**Environment**:

- **Cloud provider or hardware configuration**:
AWS using EKS with ELB
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

webserver stayed up for the 120ish seconds then crashed.

**Wh

[2020-09-15 22:40] #10794 closed

[2020-09-15 22:44] Rested commented on #8275
Has that been added to a 1.x release @dimberman I remember reading https://github.com/apache/airflow/pull/6230#issuecomment-597176715 and assuming it would not? The solution I went with in the end was to write a lib adding an operator to make pods from deployments which allows me to manage the image versions with gitops https://github.com/rekon-oss/airkupofrod

[2020-09-15 23:23] #10283 closed

[2020-09-16 01:03] dimberman commented on #8275
@Rested It's out in 1.10.12, though some of the legacy stuff will be fixed in 1.10.13 :)

[2020-09-16 01:04] dimberman commented on #10035
@gardnerdev can you try doing this using a pod_template_file or a pod object and see if that remedies the issue?

[2020-09-16 01:31] jaketf opened #10968 "import error alert emails"
**Description**

Send alert emails on import errors.

**Use case / motivation**
This is a feature will be especially useful for admins who use `ClusterPolicyViolation` or those who have pesky folks that push bad DAGs cluttering the UI with notifications that should be triaged to the on-call.

**Related Issues**
I believe that the `import_errors` is a sad place in the airflow codebase and now might

[2020-09-16 01:59] tuan-cs commented on #9532
I found the reason is KubernetesExecutor cannot work with KubernetesPodOperator.

[2020-09-16 01:59] #9532 closed

[2020-09-16 02:49] dimberman commented on #9532
@tuan-cs wait, what? The KubernetesExecutor can absolutely work with the KubernetesPodOperator...

[2020-09-16 05:23] khyurri commented on #8284
@turbaszek
Sure, https://github.com/apache/airflow/pull/8818

[2020-09-16 06:22] mariuszliksza-kinesso commented on #10435
One update:
My process does not always work, even with Sequential Executor. There are 1-2 tasks that usually fail and return code Negsignal.SIGKILL. Please help as I can't run this process on my local machine due to that error.

[2020-09-16 09:32] ashb commented on #10471
I haven't yet had a chance to look in to this new Build Image workflow, but is it not possible to have this run as a second workflow file on PRs, rather than running it against master?

[2020-09-16 09:35] ashb commented on #10471
More predictable, perhaps, but less useful overall: By running against the result of merging master and the PR, the tests effectively test "will this work when merged to master" which is more important than just "doe the tests pass on the branch".

By only testing the PR directly we're more likely to have broken master builds that we don't notice straight away (I don't know about anyone else, but

[2020-09-16 11:56] #10926 closed

[2020-09-16 12:01] dinigo commented on #8458
This issue is giving us some trouble too. I was about to fill a new issue when I found this old one

`pymssql` is being discontinued. And it's been for some time now.
Some operators conflict with this, since there's no support for `pymssql` in python3.8. So it is impossible to use any pymssql based operators and hooks in the python3.8 build.

Can we migrate this to the `pyodbc` library to manage M

[2020-09-16 12:44] potiuk commented on #10471
Yeah - agree it is less useful. Looking at the number of issues it caused - they are not very big, but looking at how difficult it is to diagnose them and explain them to users, I am also for doing what GitHub is doing by default (i.e. merging). I will take a look at how I can implement it in an easiest and robust way.

[2020-09-16 14:27] hsahovic commented on #10435
I'm running into the same issue using [astronomer](https://www.astronomer.io/)'s local dev environment, which uses Airflow 1.10.7, on macOS Catalina 10.15.6.
I'm going to test other versions of airflow supported by astronomer.

[2020-09-16 14:41] folly3 opened #10974 "GPL dependency error when trying to build image wiith breeze (airflow 1.10.2)"
**Apache Airflow version**: 1.10.2

- **OS** (e.g. from /etc/os-release): Mac OS X | 10.15.6

**What happened**: I can't build image through using the following breeze commad

./breeze build-image --production-image --install-airflow-version="1.10.2"

Removing intermediate container f0ac3df80323
 ---> 0ac6851388bc
Step 50/65 : ENV AIRFLOW_INSTALL_VERSION=${AIRFLOW_INSTALL_VERSION}
 ---> Running in

[2020-09-16 15:23] dimberman commented on #10020
@OmairK yes please

[2020-09-16 15:26] hsahovic commented on #10435
Updating Airflow to 1.10.10 seems to have resolved the issue.

[2020-09-16 15:37] kshirsagarmahesh opened #10975 "Airflow bash operator to log error when command exits with non zero exit code"
We monitor airflow dag logs to sniff out any errors. Currently the non zero exit code logs as INFO instead of ERROR like this:

[2020-09-14 11:02:46,167] {local_task_job.py:102} INFO - Task exited with return code 1

code location to be changed:
https://github.com/apache/airflow/blob/1294e15d44c08498e7f1022fdd6f0bc5e50e533f/airflow/operators/bash.py#L162

[2020-09-16 15:38] #10975 closed

[2020-09-16 15:41] kshirsagarmahesh opened #10976 "Airflow bash operator to log error when command exits with non zero exit code"
**Description**

Airflow bash operator to log error when command exits with non zero exit code

**Use case / motivation**

We monitor airflow dag logs to sniff out any errors. Currently the non zero exit code logs as INFO instead of ERROR like this:

[2020-09-14 11:02:46,167] {local_task_job.py:102} INFO - Task exited with return code 1

code location to be changed:
https://github.com/apache/airfl

[2020-09-16 16:33] djerraballi opened #10978 "Running individual task from WEB UI leaks worker thread"
**Apache Airflow version**:
1.10.12

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
N/A

**Environment**:

- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): Debian Stretch
- **Kernel** (e.g. `uname -a`): Linux amzn2.x86_64
- **Install tools**:
- **Others**:
relevant configurations for webserver:
[code]

**What happened**:

Runn

[2020-09-16 16:50] #10024 closed

[2020-09-16 23:41] kaxil commented on #10976
We already raised an error 2 lines below though:

https://github.com/apache/airflow/blob/1294e15d44c08498e7f1022fdd6f0bc5e50e533f/airflow/operators/bash.py#L164-L165

[2020-09-17 01:45] dimberman commented on #10455
Sorry for the delay on this! I've been pretty heads down on 2.0. Will take a look :)

[2020-09-17 01:54] dimberman commented on #10455
@XD-DENG I've backported some awesome fixes to the kubernetes architecture by @vikramkoka. Will go out with 1.10.13

[2020-09-17 01:54] #10455 closed

[2020-09-17 02:24] alexmc-ms opened #10982 "MSSQL via ODBC has string type mismatch for sqlalchemy queries vs alembic table creation"
Apache Airflow version:
1.10.9, 1.10.11

Kubernetes version (if you are using kubernetes) (use kubectl version):
N/A

Environment:

Cloud provider or hardware configuration: Azure
OS (e.g. from /etc/os-release): Debian9
Kernel (e.g. uname -a): custom Linux
Database: MSSQL ODBC
Install tools:
Others:

What happened:

Running initdb produces tables that have string columns as type VARCHAR.  All Airf

[2020-09-17 06:48] XD-DENG commented on #10455
Cool, thanks @dimberman and @vikramkoka

[2020-09-17 07:53] potiuk opened #10984 "Changes in scripts for worfklow_run might cause unexpected failures for not rebased PRs"
We need to make sure that changes to "scripts" will not be a problem for non-rebased commits

**Apache Airflow version**: master /v1-10-test

**What happened**:

When we introduce changes to scripts building image, this is is not obvious how they will work for non-rebased commits. We are using the "workflow_run" type of workflow which builds the images and it uses scripts from master to build imag

[2020-09-17 08:10] potiuk opened #10985 "AWS Datasync tests are failing with Moto 1.3.16"
Versions of moto > 1.3.14 cause the tests to fail. We PIN it temporarily to 1.3.14 but it would be great to fix the tests:

Note ! The problem is that  in version 1.3.14 there was no datasync at all and the tests were skipped. So it is likely that it's not only tests but the implementation of AWS datasync will need to be fixed.

[code]

**Apache Airflow version**: master

[2020-09-17 08:20] potiuk commented on #10985
cc: @feluelle -> would you like to take a stab on that one maybe :)

[2020-09-17 09:52] mariuszliksza-kinesso commented on #10435
Hmm, I have upgraded to version 1.10.12 and does not work for me.

[2020-09-17 10:12] potiuk opened #10988 "The Test_find_not_should_ignore_path is flaky"
It seems that the `test_find_not_should_ignore_path` test has some dependency on side-effects from other tests.

For example it failed here:

https://github.com/apache/airflow/pull/10983/checks?check_run_id=1127304894#step:6:1043

[code]

And re-running it in a clean system works just fine in the same combination of python/db.

**What you expected to happen**:

The test should clean up /restore ev

[2020-09-17 10:27] JeffryMAC commented on #10087
this is not really AWS hook issue
It's a bug in GCP transfer operator

[2020-09-17 10:31] JeffryMAC commented on #10782
@alexbegg didn't you play with tooltips recently? maybe you have input

[2020-09-17 10:54] kaxil commented on #10507
I will be happy to collaborate on this one :) -- let me know how should we proceed.

[2020-09-17 10:58] mik-laj commented on #10014
I would like this change to be included. I am working on doing a rebase.
https://github.com/apache/airflow/pull/10488

[2020-09-17 10:59] mariuszliksza-kinesso commented on #10435
I have upgraded to 1.10.12 and still the same issue :(

[2020-09-17 11:51] eladkal commented on #8000
The flow of submitting job to a remote server is very common.
In my workflows I do: `SubmitJobRemoteOperator` -> `RemoteSensor` (reschedule mode).
This way Airflow workers are not occupied longer than it should.

[2020-09-17 12:11] potiuk commented on #10507
Cool! When we merge the #10959  (which introduces "programmability"), I will open a PR where I will propose a mechanism and some implementation for some of the "programmable" criteria and I will be happy to iterate on it and discuss all the different "variations" we might want and edge cases. We need to be rather careful with that - to not miss some important dependencies and cases. I have my prop

[2020-09-17 12:25] #10974 closed

[2020-09-17 12:32] potiuk commented on #10961
I am afraid, there is not much we can do other than encouraging setproctitle maintainers to fix it (which I just did). I hope they will resolve it.

[2020-09-17 12:33] potiuk commented on #10961
@iseessel -> I suggest that you also explain your case in the https://github.com/dvarrazzo/py-setproctitle/issues/82 - the more people will say it is important to them, the better.

[2020-09-17 12:44] ibotheperfect commented on #9813
I have same issue too on 1.10.12

[2020-09-17 12:48] kaxil commented on #9813
Can someone here post the steps for reproduction since I and @potiuk weren't able to reproduce it?

Also please list your chrome versions

[2020-09-17 12:56] shizidushu opened #10992 "Transfer table/data from mssql to mssql"
**Description**

Sync table from business database to datawarehouse database incrementally (both mssql).

**Use case / motivation**

I want to keep two database tables sync. One is the business database. Another one is the datawarehouse database. (They are installed separaterly, i.e., in different machine).

It seems `GenericTransfer` it desinged to do this kind of task. But I see there is only in

[2020-09-17 12:56] potiuk commented on #9813
Yeah. I'd also love some reproducibility path here. Maybe you can try to help us and narrow it down @thesuperzapper  @waltermaldonado @hossein-jazayeri  by trying different combinations of browsers, using different browser profiles, clearing the cache, etc.

I saw similar things happening when - during development - you use the same URL to test 1.10* and 2.* version of Airflow for example, or simp

[2020-09-17 13:28] hossein-jazayeri commented on #9813
The issue is still happening for me as well on both 1.10.11 & 1.10.12 on both Chrome, Chromium & Firehose.
I'm using **RBAC UI**
Chrome version: **Version 85.0.4183.102 (Official Build) (64-bit)**
Firehose version: **80.0.1 (64-bit)**
Chromium version (fresh install): **Version 87.0.4267.0 (Developer Build) (64-bit)**

It's happening on an incognito window as well.

Webserver log of the request:
[

[2020-09-17 13:36] ibotheperfect commented on #9813
I deployed airflow via docker by using bitnami's image. This is happening both 1.10.11 and 1.10.12 versions. I also tried both chrome and firefox. Results are same

[code]

[2020-09-17 13:38] kaxil commented on #9813
Thanks for the info @hossein-jazayeri and @ibotheperfect  -- We will try to reproduce it again and come back with our findings.

[2020-09-17 14:32] mariuszliksza-kinesso commented on #10435
Update:
This process does not work on Windows using docker. So it seems that it only works on Linux.

[2020-09-17 15:48] darwinyip opened #10994 "Update link for "Airflow Backport Package Compatibility""
In the providers' README, `Airflow Backport Package Compatibility` links to https://cwiki.apache.org/confluence/display/AIRFLOW/Backported+providers+packages+for+Airflow+1.10.*+series which doesn't exist.

[2020-09-17 16:19] flvndh opened #10995 "Add hooks and operators for Azure Data Factory"
[Azure Data Factory](https://docs.microsoft.com/en-us/azure/data-factory/introduction) is Azure's cloud ETL service. The killer feature of ADF is its [Copy Activity](https://docs.microsoft.com/en-us/azure/data-factory/copy-activity-overview) that comes with loads of out-of-the-box connectors for data ingestion. However, its orchestration capabilities are far from reaching those of Airflow.

I see

[2020-09-17 17:13] potiuk opened #10997 "Better user-facing image documentation."
We should add much better user-facing documentation, where only the parts interesting for users of the image will be separated out to the "docs" of Airflow, and the README and IMAGES.rst will contain link to those docs and internal details of the images respectively.

[2020-09-17 17:49] rootcss commented on #10298
@kaxil please assign this to me.

[2020-09-17 17:56] potiuk commented on #10994
Thanks. It's already fixed in the upcoming second wave of provider packages :)

[2020-09-17 17:56] #10994 closed

[2020-09-17 17:58] potiuk commented on #10994
Fixed in #10659

[2020-09-17 19:06] rootcss commented on #10874
@kaxil Please assign this to me.

[2020-09-17 19:24] kshirsagarmahesh commented on #10976
Thanks @kaxil - This works for most situations. However I found a unique situation where this does not log a error with standard message saying the dag is FAILED.
Scenario: Bash Operator with run_as_user option. The user I am using does not have sudo permissions. In such case the log remains incomplete:
Here is complete log:
-------------------------------------------------------------------------

[2020-09-17 23:20] abhilash1in opened #11003 "Airflow mixing up tasks from 2 different zipped DAGs"
**Apache Airflow version**: 1.10.12

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): N/A

**Environment**:

- **Cloud provider or hardware configuration**: Local machine
- **OS** (e.g. from /etc/os-release): macOS Catalina
- **Kernel** (e.g. `uname -a`): `Darwin Abhilashs-MBP 19.6.0 Darwin Kernel Version 19.6.0: Thu Jun 18 20:49:00 PDT 2020; root:xnu-6153.141.1~1/RELE

[2020-09-18 00:13] OmairK opened #11005 "Add annotation "already_checked=True" on failed pods."
**Description**

Add an annotation to failed pods "already_checked=True" for a task rerun to create a new pod.

**Use case / motivation**
In the case of pod failures, we WANT to reattach the first time so the failure can be reported.
Instead, we should add an annotation to that failed pod of "already_checked=True". This way the first time the task re-runs it would re-attach and fail, but the secon

[2020-09-18 00:51] abhilash1in opened #11006 "Airflow unable to find zipped DAG with dynamic dag_id"
**Apache Airflow version**: 1.10.12

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): N/A

**Environment**:

- **Cloud provider or hardware configuration**: Local machine
- **OS** (e.g. from /etc/os-release): macOS Catalina
- **Kernel** (e.g. `uname -a`): `Darwin Abhilashs-MBP 19.6.0 Darwin Kernel Version 19.6.0: Thu Jun 18 20:49:00 PDT 2020; root:xnu-6153.141.1~1/RELE

[2020-09-18 02:48] sumyan opened #11007 "User should be marked inactive if there are no Roles assigned to the user."
**Apache Airflow version**: 1.10.10

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): NA

**Environment**: Docker container

- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): Ubuntu 4.15.0-1065-aws
- **Kernel** (e.g. `uname -a`): Linux a9b9111a4c11 4.15.0-1065-aws #69-Ubuntu SMP Thu Mar 26 02:17:29 UTC 2020 x86_64 GNU/Linux
- **I

[2020-09-18 07:44] zbigniev commented on #10790
We are on Airflow 1.10.10

Besides the DAGs which have sensor tasks in them, we are even encountering this in tasks which have no sensors in them, for example a DAG which only has PythonOperator and HiveOperator in it.
Also, weirdly not all dags, even with similar signatures (in terms of operators being used) are not affected, but ones that are, are severely affected and keep getting:
 _ERROR - Ex

[2020-09-18 10:47] yuqian90 commented on #10790
Some further investigation shows that the slow down that caused this issue for our case (Airflow 1.10.12) was in `SchedulerJob._process_task_instances`. This is periodically called in the `DagFileProcessor` process spawned by the airflow scheduler. Anything that causes this function to take more than 60s seems to cause these `ERROR - Executor reports task instance ... killed externally?` errors fo

[2020-09-18 11:15] #10726 closed

[2020-09-18 11:22] baolsen opened #11011 "AWS DataSync Operator does not cancel task on Exception"
**Apache Airflow version**: 1.10.8

**Environment**:

- **Cloud provider or hardware configuration**: 4 VCPU 8GB RAM VM
- **OS** (e.g. from /etc/os-release): RHEL 7.7
- **Kernel** (e.g. `uname -a`): Linux 3.10.0-957.el7.x86_64 #1 SMP Thu Oct 4 20:48:51 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
- **Install tools**:
- **Others**:
Note that the AWS DataSync Operator is not available in this version, we

[2020-09-18 11:23] baolsen commented on #11011
@kaxil please assign to me

[2020-09-18 11:26] kaxil commented on #11011
Assigned :)

Btw let me know you want to work on https://github.com/apache/airflow/issues/10985 too (The new version of moto added support for Datasync) and tests are failing

[2020-09-18 11:27] baolsen commented on #10985
@kaxil you can assign to me, thanks :)

[2020-09-18 11:28] kaxil commented on #10985
awesome, thanks :)

[2020-09-18 12:24] RosterIn commented on #10505
@daemon-demon There was a PR that tried to achieve that https://github.com/apache/airflow/pull/7632
maybe it will help you as a starting point

[2020-09-18 13:12] agivola commented on #10505
@kbobrien Hi, I think that the best way is to allow pass all parameters via extra_json without restrictions.

[2020-09-18 13:12] SalAlba commented on #9708
@mik-laj what is the status of this issue?

[2020-09-18 13:21] mik-laj commented on #9708
we don't have big changes since last update.

[2020-09-18 13:29] SalAlba commented on #9708
So, I will try my skills with jdbc

[2020-09-18 13:33] juarezr commented on #10783
Good news!

@termim took over the `pymssql` [maintenance](https://github.com/pymssql/pymssql/commit/20457589b2878800cb40c1dd4f3045a4bb259675) and just [released](https://pypi.org/project/pymssql/) a [new version](https://github.com/pymssql/pymssql/releases/tag/v2.1.5) [compatible](https://github.com/pymssql/pymssql/commit/b12a8e04d35e52ea3bb9cf410a2243765f8d0f6b) with [python3.8](https://github.co

[2020-09-18 13:44] juarezr commented on #8458
Good news!

`pymssql` is not being discontinued [anymore](https://github.com/pymssql/pymssql/commit/20457589b2878800cb40c1dd4f3045a4bb259675).
@termim just [released](https://pypi.org/project/pymssql/) a [new version](https://github.com/pymssql/pymssql/releases/tag/v2.1.5) [compatible](https://github.com/pymssql/pymssql/commit/b12a8e04d35e52ea3bb9cf410a2243765f8d0f6b) with [python3.8](https://gith

[2020-09-18 14:16] SCUTJcfeng opened #11013 "I have a question about schedule interval"
My schedule interval is '*/5 * * * *', which means run at every 5mins.
Question is, it seems always a period behind, if i assume it runs at 2:00, it actually runs at 2:05,
local time at 22:10, 14: 20 in utc, runs the task at utc 14:05, which is 5 mins behind.
What's wrong with my config?

[code]

[2020-09-18 14:33] KimchaC commented on #10783
That's great, but I still think odbc is better. For example, I had weird memory corruption issues with some queries and the only way I found to fix them was to switch to odbc.

Here's the open ticket for it: https://github.com/pymssql/pymssql/issues/500

And it has existed since 2017.

[2020-09-18 14:46] stijndehaes opened #11014 "RBAC UI: Editing dag runs gives forbidden page when admin"
**Apache Airflow version**: 1.10.12

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.17

**Environment**: Running. on kubernetes

- **Cloud provider or hardware configuration**: Aws EKS on kubernetes
- **OS** (e.g. from /etc/os-release): NA
- **Kernel** (e.g. `uname -a`): NA
- **Install tools**: NA
- **Others**: NA

**What happened**:

When editing a dag run as admi

[2020-09-18 15:50] jeffkpayne commented on #8168
This is also happening in top level sub-dags. We'll be updating this issue later today with more details.

[2020-09-18 17:35] daemon-demon commented on #10505
@RosterIn @agivola
I will be creating a PR today for the fix I put in to allow all parameters to pass without restrictions.

[2020-09-19 01:03] #10298 closed

[2020-09-19 01:15] fjmacagno commented on #11013
See the note under https://airflow.apache.org/docs/stable/dag-run.html#cron-presets.

This is intended, the execution date for a dag run is at the beginning of the cron period, and gets triggered when the entire period (5 minutes in your case) has passed.

[2020-09-19 01:47] kaxil opened #11025 "Airflow Logo hides half of the page"
Looks like a side-effect of https://github.com/apache/airflow/pull/11018

Airflow Logo almost takes up half of the page on current master:

![image](https://user-images.githubusercontent.com/8811558/93656441-65aead80-fa22-11ea-9cf5-a3ec5eed1c11.png)

cc @ryanahamilton