[2022-05-02 14:49] c-thiel opened #23408 "Airflow 2.3.0 does not keep promised backward compatibility regarding database configuration using _CMD Env"
### Apache Airflow version

2.3.0 (latest released)

### What happened

We used to configure the Database using the AIRFLOW__CORE__SQL_ALCHEMY_CONN_CMD Environment variable.
Now the config option moved from CORE to DATABASE. However, we intended to keep backward compatibility as stated in the [Release Notes](AIRFLOW__CORE__SQL_ALCHEMY_CONN_CMD).

Upon 2.3.0 update however, the _CMD suffixed variab

[2022-05-02 16:07] pmrem opened #23411 "PythonSensor is not considering mode='reschedule', instead marking task UP_FOR_RETRY"
### Apache Airflow version

2.3.0 (latest released)

### What happened

A PythonSensor that works on versions <2.3.0 in mode reschedule is now marking the task as `UP_FOR_RETRY` instead.

Log says:
[code]

But it directly marks it as `UP_FOR_RETRY` and then follows `retry_delay` and `retries`

### What you think should happen instead

It should mark the task as `UP_FOR_RESCHEDULE` and reschedule i

[2022-05-02 17:01] bbovenzi opened #23412 "Move Grid webserver endpoints to REST API"
In Grid view, we call a number of endpoints directly from the webserver at `views.py`.
We should have react components only call the rest API so that we can share components between both the /www and /ui frontend projects.

[All API calls from Grid view](https://github.com/apache/airflow/tree/main/airflow/www/static/js/tree/api)

- POST Mark task state change https://github.com/apache/airflow/issu

[2022-05-02 17:23] jrggggg opened #23414 "airflow db clean - Dag cleanup won't run if dag is tagged"
### Apache Airflow version

2.3.0 (latest released)

### What happened

When running `airflow db clean`, if a to-be-cleaned dag is also tagged, a foreign key constraint in dag_tag is violated. Full error:

[code]

### What you think should happen instead

_No response_

### How to reproduce

_No response_

### Operating System

Debian GNU/Linux 11 (bullseye)

### Versions of Apache Airflow Provide

[2022-05-02 17:26] bbovenzi opened #23415 "Add more fields to DAG Run API endpoints"
### Description

There are a few fields that would be useful to include in the REST API for getting a DAG run or list of DAG runs:

`data_interval_start`
`data_interval_end`
`last_scheduling_decision`
`run_type` as (backfill, manual and scheduled)

### Use case/motivation

We use this information in the Grid view as part of `tree_data`. If we added these extra fields to the REST APi we could remov

[2022-05-02 17:33] bbovenzi opened #23416 "Add GET extra links endpoint to REST API"
### Description

Add a REST API endpoint for extra links on a task instance like so:

GET `/api/v1/dags/{dag_id}/dagRuns/{dag_run_id}/taskInstances/{task_id}/extraLinks/{link_name}`

We should probably be able to send multiple `link_name`s or if it is omitted we can receive an array of all extra links for that task instance.

[code]

### Use case/motivation

_No response_

### Related issues

_No

[2022-05-02 17:37] bbovenzi opened #23417 "Move grid_data endpoint to REST API"
### Description

Migrate the `object/grid_data` endpoint [here](https://github.com/apache/airflow/blob/main/airflow/www/views.py#L3455) to the REST API.

With https://github.com/apache/airflow/issues/23415, we can simplify this endpoint too and only return the `groups` object.

### Use case/motivation

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes

[2022-05-02 17:40] bbovenzi opened #23419 "Add a DAG Run clear endpoint to REST API"
### Description

Add a POST endpoint to clear a dag run like we currently do [here](https://github.com/apache/airflow/blob/main/airflow/www/views.py#L2087).

Url format: `api/v1/dags/{dag_id}/dagRuns/{dag_run_id}/clear`

### Use case/motivation

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

### Code of Conduct

- [X]

[2022-05-02 17:42] bbovenzi opened #23420 "Add a queue DAG run endpoint to REST API"
### Description

Add a POST endpoint to queue a dag run like we currently do [here](https://github.com/apache/airflow/issues/23419).

Url format: `api/v1/dags/{dag_id}/dagRuns/{dag_run_id}/queue`

### Use case/motivation

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this p

[2022-05-02 17:47] bbovenzi opened #23421 "Add Run Task Instance endpoint to REST API"
### Description

Replicate the run task instance endpoint [here](https://github.com/apache/airflow/blob/main/airflow/www/views.py#L1748) in the REST API.

POST `/api/v1/dags/{dag_id}/dagRuns/{dag_run_id}/taskInstances/{task_id}/run`

### Use case/motivation

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

### Code of Co

[2022-05-02 17:53] bbovenzi opened #23422 "Use Grid view react components in new UI"
Now that we added react to the current UI, we should keep the `/ui` project up-to-date too. `/www` and `/ui` should share React components when possible.

A few steps needed to make this work:

- Abstract away any `getMetaValue` or `global` variables
- Create some sort  `/shared-components` directory that both projects can consume
- Add typescript support to `/www` and any shared components
- Remo

[2022-05-02 18:17] aspain opened #23425 "Mapping over multiple parameters results in 1 task fewer than expected"
### Apache Airflow version

2.3.0 (latest released)

### What happened

While testing the [example](https://airflow.apache.org/docs/apache-airflow/2.3.0/concepts/dynamic-task-mapping.html#mapping-over-multiple-parameters) given for `Mapping over multiple parameters` I noticed only 5 tasks are being mapped rather than the expected 6.

task example from the doc:
[code]

The doc mentions:
[code]

But

[2022-05-02 19:40] ephraimbuddy commented on #23414
Related: https://github.com/apache/airflow/issues/23206

[2022-05-02 19:45] potiuk commented on #23408
Indeed seems like a bug. Would you like to submit a PR fixing it? Seems like an easy fix - and you could become one of the ? 2000 contributors.

[2022-05-02 20:45] potiuk opened #23430 "CI: Rewrite provider verification as Breeze command"
There are steps for provider verification that should be rewritten in Python/Breeze.

[2022-05-02 20:59] williesb opened #23431 "TrinoHook run does not support a list of statements like dbapi.run does"
### Apache Airflow Provider(s)

trino

### Versions of Apache Airflow Providers

apache-airflow-providers-trino==2.1.2

### Apache Airflow version

2.2.0

### Operating System

Debian GNU/Linux 10 (buster)

### Deployment

Docker-Compose

### Deployment details

_No response_

### What happened

You cannot pass a list of statements to ```trinohook.run``` because the method expects a string value f

[2022-05-02 22:50] gmcrocetti commented on #22381
I'm willing to work on it o/. If the way to go is a breaking change, I would like to suggest a more "explicit" naming for such parameter:
`max_polling_attempts` for example - but would love to hear suggestions.
It looks like there are two places with `max_tries`:  [EmrContainerOperator](https://github.com/apache/airflow/blob/46c61ed3e94de1484f5f8f3f2fa74e522d67ba9d/airflow/providers/amazon/aws/ope

[2022-05-02 23:20] uranusjr commented on #23431
I think we’re just going to add this directly to DbApiHook, which would resolve this en passe. #23112

[2022-05-02 23:20] #23431 closed

[2022-05-03 00:39] jedcunningham commented on #23425
Interesting. Looks like it's an issue with expanding on static lists, as this results in 6:

[code]

[2022-05-03 01:06] williesb commented on #23431
@uranusjr I think it would still be worth it for `TrinoHook.run()` to honor the `DbApiHook.run()` arguments.

DbApiHook (sql -> str or list)
[code]

TrinoHook (sql -> only str)
[code]

The functionality to execute a many statements is already in `DbApiHook`.  You just need to call run with a list of statements instead of a single string of semi-colon separated statements.

Sure add the other metho

[2022-05-03 03:46] jedcunningham opened #23435 "Empty `expand()` crashes the scheduler"
### Apache Airflow version

2.3.0 (latest released)

### What happened

I've found a DAG that will crash the scheduler:

[code]

[code]

### What you think should happen instead

A user DAG shouldn't crash the scheduler. This specific case could likely be an ImportError at parse time, but it makes me think we might be missing some exception handling?

### How to reproduce

_No response_

### Opera

[2022-05-03 04:35] virendhar-aws opened #23437 "Logs for EmrStepSensor"
### Description

Add feature to EmrStepSensor to bring back the spark task url & logs after task execution

### Use case/motivation

After starting an EMR step task using EmrAddStepsOperator we generally have an EmrStepSensor to track the status of the step. The job ID is available for the sensor and is being poked at regular interval.

[code]

After the task is completed the status is displayed.

[2022-05-03 05:11] uranusjr commented on #23435
We should make this a parse-time error because expanding nothing makes no sense anyway. If we really want this to work (which I assume should just be expanding to one task), this can be easily amendable by adding a `1` to the end of the currently crashing `reduce` call.

[2022-05-03 05:49] eladkal opened #23439 "DataprocJobBaseOperator not compatible with TaskGroups"
### Body

Following Stackoverflow question: https://stackoverflow.com/questions/72091119/airflow-issues-with-calling-taskgroup

The issue is that when defining task in TaskGroup the identifier of the task becomes `group_id.task_id`
[DataprocJobBaseOperator](https://github.com/apache/airflow/blob/05ccfd42f28db7d0a8fe3ed023b0e7a8ec188609/airflow/providers/google/cloud/operators/dataproc.py#L836-L838

[2022-05-03 06:24] tirkarthi commented on #23415
I have created https://github.com/apache/airflow/pull/23440 adding the fields to response.

[2022-05-03 06:32] eladkal commented on #23439
@pierrejeambrun you might be interested in this

[2022-05-03 10:08] burakyilmaz321 commented on #21379
Hi @dinowernli 👋 . I think it would be very useful if we can track the status of every task of a multi-task job from Airflow. I have a prototype implementation [here](https://github.com/burakyilmaz321/airflow/blob/databricks-sensors/airflow/providers/databricks/sensors/databricks.py). I am planning to work on this, add the remaining features, and prepare a proper PR soon.

Maintainers can assign t

[2022-05-03 11:28] AlekseiSaff opened #23443 "Error while upgrading 2.2.5 to 2.3.0 (DB related)"
### Apache Airflow version

2.2.5

### What happened

On "airflow db upgrade" I'm getting next error.

[2022-05-03 19:05:47,066] {db.py:1410} INFO - Creating tables
INFO  [alembic.runtime.migration] Context impl MySQLImpl.
INFO  [alembic.runtime.migration] Will assume non-transactional DDL.
INFO  [alembic.runtime.migration] Running upgrade 587bdf053233 -> 5e3ec427fdd3, Increase length of email and

[2022-05-03 12:02] ephraimbuddy commented on #23443
MYSQL DB

[2022-05-03 12:12] AlekseiSaff commented on #23443
correct on MySQL DB

[2022-05-03 12:27] #23415 closed

[2022-05-03 12:35] hpareek1996 commented on #10427
Hi @marcjimz, so did you upgraded airflow or followed some other approach to fix this.

[2022-05-03 12:37] dennis-weyland-by commented on #21493
After giving it some thought: While it's a valid discussion, if interval_start or interval_end date is the more intuitive one, the bottom line here was that the confusion was since my use case doesn't need a distinction between interval_start and interval_end date. For such cases Airflow has Timetables to reduce the interval to a single point in time and then the UI is not confusing anymore.

To m

[2022-05-03 12:37] #21493 closed

[2022-05-03 12:50] potiuk commented on #23443
Which version of MySQL DB ?

[2022-05-03 12:51] potiuk commented on #23443
I have a reaason to believe you are using unsupported version @AlekseiSaff - did you check the prerequisites?

[2022-05-03 12:54] AlekseiSaff commented on #23443
I'm on MariaDB. Looks like it's officially not recommended, but worked well from 1.x to 2.0 and 2.2

[2022-05-03 12:54] potiuk commented on #23443
Which version of MariaDB ? (Yes MariaDB is not officially supported)

[2022-05-03 13:09] potiuk commented on #23443
Our current approach is that MariaDB is "best effort". So If you want to debug it on your own and contribute a fix - we will accept it but otherwise it will have to wait for someone who runs and uses MariaDB to pick it up and fix.

Debugging and fixing it on your own is the fastest way you can get it fixed. Shall we assign it to you @AlekseiSaff ?

[2022-05-03 13:12] AlekseiSaff commented on #23443
Not really. I'll migrate Maria to mysql and try. Will let you know later

[2022-05-03 13:14] potiuk commented on #22289
Closing it then . We can re-open if we see it again. Thanks @pbabics for checking! This is really helpful to keep our issues in order :)

[2022-05-03 13:14] #22289 closed

[2022-05-03 13:36] allebacco opened #23447 "External DAG processor not working"
### Apache Airflow version

2.3.0 (latest released)

### What happened

Running a standalone Dag Processor instance with `airflow dag-processor` throws the following exception:
[code]

### What you think should happen instead

The `airflow dag-processor` should start without an exception in case of Postgres database

### How to reproduce

The error is in the following line: https://github.com/apac

[2022-05-03 13:36] tirkarthi commented on #23419
@bbovenzi I would like to pick this up in case you are not working on this. I have a rough working version of this and can also work on queue, run endpoints. I would like to confirm below things.

1. The linked API has `confirmed` parameter which will return a `str` value of task_instances on false. Do we need to support this parameter in query parameter? If so do we need to return `str` value of

[2022-05-03 13:43] bbovenzi commented on #23416
Nevermind, this already exists.

[2022-05-03 13:43] #23416 closed

[2022-05-03 13:49] bbovenzi commented on #23419
1. We should make sure we're consistent with the existing API endpoints:https://airflow.apache.org/docs/apache-airflow/stable/stable-rest-api-ref.html#operation/post_clear_task_instances. So instead of `confirmed`, we send `dry_run`. The return should be an object instead of a string.
2. Let's do POST to support future changes.

[2022-05-03 13:52] #23403 closed

[2022-05-03 14:26] #23408 closed

[2022-05-03 15:36] tirkarthi commented on #23420
@bbovenzi I can take this too since I worked clearing dag run endpoint and logic to be ported is below :

https://github.com/apache/airflow/blob/af5463098ae30206c053dc96481dab48368cd4aa/airflow/www/views.py#L2246-L2259

[2022-05-03 16:16] Gollum999 opened #23453 "airflow db upgrade: FOREIGN KEY constraint failed"
### Apache Airflow version

2.3.0 (latest released)

### What happened

When upgrading from airflow 2.2.4 to 2.3.0, I tried running `airflow db upgrade` and received the following error:

[code]

### What you think should happen instead

`airflow db upgrade` should work when upgrading from an old version.

### How to reproduce

From a fresh 2.3.0 install:
[code]

### Operating System

CentOS Strea

[2022-05-03 18:15] alexInhert opened #23460 "Add Postgres 14 support"
### Description

_No response_

### Use case/motivation

Using Postgres 14 as backend

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://github.com/apache/airflow/blob/main/CODE_OF_CONDUCT.md)

[2022-05-03 18:20] potiuk commented on #23460
Would you like to make a PR to change it ? It should be rather easy.

[2022-05-03 18:53] eladkal commented on #23447
Duplicate of https://github.com/apache/airflow/issues/23408

[2022-05-03 18:54] williesb commented on #23112
What is the tentative ETA on this?  I am stuck at the moment not being able to run multiple statements in a single connection/session with the TrinoHook because the run implementation does not take a list like DBApiHook does.

Can we please make sure that this new method uses a single connection/session to run all the statements like the current run methods does with statement lists?

[2022-05-03 19:01] eladkal commented on #23112
@williesb currently no one is working on this. Would you like to start a PR?

[2022-05-03 19:02] allebacco commented on #23447
@eladkal are you sure that thias issue is a duplicate? In this case I am not using `AIRFLOW__CORE__SQL_ALCHEMY_CONN_CMD`.

The line mentioned in the description of the issue is reading the sql alchemy connection string from the `core` section instead of the `database` one. Maybe I am missing some detail of the configuration mechanism.

[2022-05-03 19:35] subkanthi commented on #23460
Can I take this please

[2022-05-03 19:59] gmcrocetti commented on #23439
I can take it o/

[2022-05-03 20:24] potiuk commented on #23460
Feel free!

[2022-05-03 21:22] #20063 closed

[2022-05-03 22:15] #21046 closed

[2022-05-03 23:07] uranusjr commented on #23406
I don’t know, I can see an argument the current behaviour makes sense for certain cases though. Would it work if when you change the schedule, you also change `start_date`?

[2022-05-03 23:09] uranusjr commented on #23406
Removing _bug_ for now since it is less of a bug but a… quirk? The behaviour needs to be discussed in more detail.

[2022-05-03 23:21] uranusjr commented on #23400
No, all the datetimes are aware of timezones, they are simply all in UTC. There is a big difference between the two. In other words, the values specify the correct points of time, they simply don’t convert to the string values you expect.

Given that it’s too expensive to convert those datetimes in most situations (not to mention compatibility issues), the simplest solution would be to provide a t

[2022-05-04 01:22] juhonkang opened #23465 "airflow webserver fail to start"
### Apache Airflow version

2.3.0 (latest released)

### What happened

ERROR: The `secret_key` setting under the webserver config has an insecure value - Airflow has failed safe and refuses to start. Please change this value to a new, per-environment, randomly generated
string, for example using this command `openssl rand -hex 30`

### What you think should happen instead

_No response_

### How

[2022-05-04 03:16] thinhnd2104 opened #23469 "Airflow ecs fail to fetch logs from cloudwatch"
### Apache Airflow Provider(s)

amazon

### Versions of Apache Airflow Providers

_No response_

### Apache Airflow version

2.3.0 (latest released)

### Operating System

Linux

### Deployment

Docker-Compose

### Deployment details

_No response_

### What happened

botocore.exceptions.ConnectionClosedError: Connection was closed before we received a valid response from endpoint URL: "https://lo

[2022-05-04 06:20] tirkarthi commented on #23465
This change was done in https://github.com/apache/airflow/pull/12747 . I guess you need to update your `secret_key` value as suggested in the error message. Is this a fresh installation or you are upgrading from another Airflow version?

[2022-05-04 06:30] tirkarthi commented on #23420
@bbovenzi There is already `/dags/{dag_id}/dagRuns/{dag_run_id}` patch endpoint that supports updating state to success, failure. Do I need to add support for queued state to the endpoint to mark dagrun as queued or do we need a separate endpoint for this?

[2022-05-04 07:37] eladkal commented on #17469
@avkirilishin would you redo the PR ?

[2022-05-04 08:11] Jorricks commented on #23406
Yes agreed that makes sense.

I haven't tested this.
It's a bit odd but one of our users mentioned this as a work around:
1. Manually pause DAG
2. Set DAG runs from success to running via the List Dag Run overview for all relevant backfill dates.
3. Clear all the DagRuns you want to clear
4. Manually un-pause DAG

However, I still feel like this is an unwanted quirk.

[2022-05-04 08:49] TPapajCin opened #23472 "Airflow hangs on "Found x duplicates in table task_fail. Will attempt to move them""
### Apache Airflow version

2.3.0 (latest released)

### What happened

After upgrade from 2.2.2 to 2.3.0, when I am trying to do `airflow db upgrade` all I get is following log and then airflow hangs:
`Found 16 duplicates in table task_fail.  Will attempt to move them.`

### What you think should happen instead

Airflow should not hang at this log and properly move these duplicates

### How to re

[2022-05-04 09:37] leehuwuj opened #23473 "Could not get DAG access permission after upgrade to 2.3.0"
### Apache Airflow version

2.3.0 (latest released)

### What happened

I upgraded my airflow instance from version 2.1.3 to 2.3.0 but got issue that there are no permission for new DAGs.
**The issue only happens in DAG which has dag_id contains dot symbol.**

### What you think should happen instead

There should be 3 new permissions for a DAG.

### How to reproduce

+ Create a new DAG with id, l

[2022-05-04 09:49] Bowrna commented on #23084
@potiuk I am new to k8s / helm chart. Do you think I can pick up this task or Do I need to understand more about Helm to pick this task?

[2022-05-04 09:59] ashb commented on #23473
`.` in DAG id I thought was reserved for subdags -- is this a subdag or a normal dag with a dot in the id?

[2022-05-04 10:02] leehuwuj commented on #23473
It just a normal dag with dot in the id. Since all dags in my airflow instance are all followed by this convention: `team_name`.`dag_name`
Example:
`de.daily_ingest_pipeline`
`ds.daily_training_pipeline`

[2022-05-04 10:07] ashb commented on #23473
Gotcha.

How are you trying to insert the roles/permissions?

[2022-05-04 10:21] norm commented on #23411
I'll take this.

[2022-05-04 10:21] leehuwuj commented on #23473
Actually, I wrote a trigger script at database level which assigns DAG permissions for target role based on `team_name` pattern in DAG id that i mentioned above. Of course my scripts could not works since there is no new DAG id followed by that convention in `ab_view_menu` table.
And i also can not do it in UI as mentioned in the issue description.

By the way, i also add a pattern to the issue th

[2022-05-04 11:13] Bowrna commented on #23227
@erdos2n As mentioned in this issue https://github.com/apache/airflow/issues/23246 the above task is also very similar.
Here the already existing api `/api/v1/dags/{dag_id}/clearTaskInstances` filters the dag run instances based on the date.

The above issue asks for API endpoint with dag_run_id rather than date filter passed as param in `/api/v1/dags/{dag_id}/clearTaskInstances`

If I am right th

[2022-05-04 12:45] SamLynnEvans opened #23475 "AWS rate limiting causes tasks to fail"
### Apache Airflow Provider(s)

amazon

### Versions of Apache Airflow Providers

All versions

### Apache Airflow version

2.3.0 (latest released)

### Operating System

linux

### Deployment

Astronomer

### Deployment details

_No response_

### What happened

When using the [AWS glue crawler operator](https://github.com/apache/airflow/blob/main/airflow/providers/amazon/aws/operators/glue_crawl

[2022-05-04 12:53] bbovenzi commented on #23420
Yeah, I guess it does make sense to add it to patch.

[2022-05-04 13:01] thaysa opened #23476 "Grid View - Multilevel taskgroup shows white text on the UI"
### Apache Airflow version

2.3.0 (latest released)

### What happened

Blank text if there are nested Task Groups .

Nested TaskGroup - Graph view:

![image](https://user-images.githubusercontent.com/6821208/166685216-8a13e691-4e33-400e-9ee2-f489b7113853.png)

Nested TaskGroup - Grid view:

![image](https://user-images.githubusercontent.com/6821208/166685452-a3b59ee5-95da-43b2-a352-97d52a0acbbd.p

[2022-05-04 13:41] GeorgeDJKim opened #23477 "The scheduler is down or under heavy load"
### Apache Airflow version

2.2.0

### What happened

All dependencies are met but the task instance is not running. In most cases this just means that the task will probably be scheduled soon unless:
- The scheduler is down or under heavy load

If this task instance does not start soon please contact your Airflow administrator for assistance.

### What you think should happen instead

When the ai

[2022-05-04 13:43] spatocode commented on #23162
@potiuk I raised a [PR](https://github.com/apache/airflow/pull/23340) to fix this.

[2022-05-04 14:10] ashb commented on #23473
It would have the same problem with dots, but rather than a database level trigger you could use the `access_control` field of the DAG set automatically via a https://airflow.apache.org/docs/apache-airflow/stable/concepts/cluster-policies.html

[2022-05-04 14:18] tirkarthi commented on #23476
cc: @bbovenzi

[2022-05-04 14:19] potiuk commented on #23084
I assigned it to you just in case :)

[2022-05-04 14:20] obearn opened #23480 "Broken link example_external_task_marker_dag.html"
### What do you see as an issue?

The documentation page [https://airflow.apache.org/docs/apache-airflow/stable/howto/operator/external_task_sensor.html](https://airflow.apache.org/docs/apache-airflow/stable/howto/operator/external_task_sensor.html) as a broken link [https://airflow.apache.org/docs/apache-airflow/stable/_modules/airflow/example_dags/example_external_task_marker_dag.html](https://a

[2022-05-04 14:21] tirkarthi commented on #23420
Thanks @bbovenzi , created https://github.com/apache/airflow/pull/23481 for this issue.

[2022-05-04 14:24] potiuk commented on #23475
Feel Free! Assigned you

[2022-05-04 14:25] bbovenzi commented on #23421
I would say we should return an array of any task instances that are changed, similar to [this](https://airflow.apache.org/docs/apache-airflow/stable/stable-rest-api-ref.html#operation/post_clear_task_instances)

[2022-05-04 14:33] bbovenzi commented on #23476
Good catch! Looks like I forgot to remove a line of code from when group children had a background color.

[2022-05-04 16:01] Bowrna commented on #23084
yes i will pick this up :) thanks @potiuk

[2022-05-04 18:09] rahulgoyal2987 commented on #23396
Please find pull request for issue https://github.com/apache/airflow/pull/23490

[2022-05-04 18:40] zachliu commented on #23453
i'm using postgresql 12.4 docker image and i was not able to reproduce this:
1. spin up the containers (webserver, worker, scheduler, postgres, redis)
2. `docker exec -it` into the webserver container
3. execute these 3 commands:
[code]
4. got no error

but i was able to reproduce it using `SQLite` :grin:

[2022-05-04 19:02] #23425 closed

[2022-05-04 19:38] mqLevan opened #23492 "Airflow Webserver won't start due to faulty xcom_backend value"
### Apache Airflow version

2.2.0

### What happened

I had upgraded from airflow 2.0.0 to 2.2.0. The webserver no longer starts up, this is what I see in the journalctl logs

[code]

In the past, the config file did have the value of `include.s3_xcom_backend` however that has since been changed to `config.s3_xcom_backend`. For some reason, it's still looking for that module even though I am no lo

[2022-05-04 21:28] #23306 closed

[2022-05-04 23:15] edithturn commented on #23085
@potiuk I understand, could I start with this one ./breeze kind-cluster start

![Screenshot from 2022-05-04 18-13-20](https://user-images.githubusercontent.com/58795858/166840099-a01fd54b-cbfa-4491-8c92-c408d0fabc50.png)

I will check how kind is working with Breeze legacy and then try to make it with the breeze.

[2022-05-04 23:18] potiuk commented on #23085
Cool

[2022-05-05 03:42] babyyoda26 commented on #22336
@hankehly This issue needs to be fixed. Setting --reset-dagruns does not work for all use cases. It fails if tasks are having trigger rule as None_failed.

[2022-05-05 04:01] HeshamMeneisi opened #23495 "Defining custom jobs/hooks in the Helm chart would be a great feature"
### Description

Right now there are only two pre-defined hooks:

* `migrateDatabaseJob`
* `createUserJob`

It'd be very useful if there's an `extraJobs` section.

### Use case/motivation

Some Airflow deployments run custom CLI commands as deployment jobs. It's also very straightforward to implement this feature since we have the job template in the chart, just need to generalize it.

[code]

Job

[2022-05-05 06:17] TPapajCin commented on #23472
I can confirm that the fix worked! The "Creating tables" log appeared 10 seconds after the "Found x duplicates" log. It successfully made migrations and my Airflow instances now work on 2.3.0 version correctly. Thank you :+1:

About the environment, I do not have access to the database but from the UI I can tell that I have around 200k DAG runs and around 400-450k task runs in total. There are ~35

[2022-05-05 06:50] bhirsz commented on #23480
Related : https://github.com/apache/airflow-site/issues/536

This issue is ongoing for quite a while but it's good that you have noticed one thing - that's the problem is propably with the version of the link (stable vs 2.2.3 for example). I will update linked issue

[2022-05-05 08:55] schattian opened #23496 "Tasks stuck indefinitely with follow=true"
I observed that some workers stopped randomly after being running.
After some investigation, the issue is in the new kubernetes pod operator and is dependant of a current issue in the kubernetes api.

When a log rotate event occurs in kubernetes, the stream we consume on `fetch_container_logs(follow=True,...)` is no longer being feeded.

Therefore, the k8s pod operator hangs indefinetly at the mid

[2022-05-05 08:56] #23496 closed

[2022-05-05 09:06] schattian opened #23497 "Tasks stuck indefinitely when following container logs"
### Apache Airflow version

2.2.4

### What happened

I observed that some workers hanged randomly after being running. Also, logs were not being reported. After some time, the pod status was on "Completed" when inspecting from k8s api, but wasn't on Airflow, which showed "status:running" for the pod.
After some investigation, the issue is in the new kubernetes pod operator and is dependant of a c

[2022-05-05 10:25] Bowrna commented on #23227
@bbovenzi This API has `map_index` and `execution_date` as param. Do I have to include those in params too?

[2022-05-05 11:21] dVladon commented on #17176
Hi
Does anyone know, is there any updates on this problem? Is it going to be fixed?

[2022-05-05 12:32] kavya-5 commented on #9837
Hi, what is the solution to this issue? `ERROR - LocalTaskJob heartbeat got an exception`

[2022-05-05 13:29] bbovenzi commented on #23227
Yes, we will need to string together even multiple `map_index`s. But we can use `dag_run_id` instead of `execution_date`

[2022-05-05 13:36] kavya-5 opened #23499 "ERROR - LocalTaskJob heartbeat got an exception"
### Apache Airflow version

2.2.3

### What happened

Hi, I am running a DAG in airflow that takes custom params as input.
This param is passed to a PythonOperator to be used in the logic.
This PythonOperator is expected to run for at least 12 hours until a condition is met. But, there is an error encountered in within few mins maybe about 20 mins from the start of the task (PythonOperator) that i

[2022-05-05 13:37] ldacey commented on #23472
Same thing impacted me, likely due to a lot of records and a custom entrypoint.

6,856,476 rows for task_instance
92,682 rows for rendered_task_instance_fields
900,570 rows for dag_run

Ultimately, I was able to get things up and running. To do so, here are the steps I took. I would not recommend this, but just in case someone gets stuck like I did.

- Installed the patch you mentioned above tempo

[2022-05-05 13:53] denver-at-takeoff opened #23501 "CloudSQL proxy download doesn't work for `x86_64` systems"
### Apache Airflow version

2.3.0 (latest released)

### What happened

The automatic `cloud_sql_proxy` download via the `CloudSqlProxyRunner` is not working because the environment is using the `uname -a` info and it is pull `x86_64`.  The url for the `cloud_sql_proxy` binaries are no longer  using `x86_64`.  Instead, the binaries are now using `amd64` indicator.

### What you think should happen

[2022-05-05 14:07] potiuk commented on #23501
Closing as duplicate.

[2022-05-05 14:50] bbovenzi opened #23503 "Add Task Logs to Grid details panel"
Many users use the tree/grid view to find a failing task instance and then look at its logs to figure out what went wrong. Right now that requires one to redirect out to a separate page.

We already have access to a task instance logs with the REST API: https://airflow.apache.org/docs/apache-airflow/stable/stable-rest-api-ref.html#operation/get_log

Therefore, we can add the task logs into the det

[2022-05-05 14:51] williesb commented on #23112
@eladkal It sounds like a tempting idea.  Your original post makes sense.  However, thinking more about it, if it was implemented as you suggest that the `DbApiHook.run_many()` would split the statements and use `DbApiHook.run()` under the hood.  That probably wouldn't fix my problem (I am not 100% not a Python expert) because the `TrinoHook.run()` methods does not work with lists.  I wish @uranus

[2022-05-05 15:15] denver-at-takeoff commented on #23501
Thanks didn't catch that previous ticket when I initially search for this issue.

[2022-05-05 15:22] potiuk commented on #23501
No worries. Not always easy indeed. I KNEW there was a change but I had trouble finding it too :)

[2022-05-05 15:44] AmirZahre opened #23505 "Grid View: Details Panel does not reopen (once hidden) when a task is clicked. Have to manually unhide the details panel."
### Apache Airflow version

2.3.0 (latest released)

### What happened

When the Details Panel is hidden, clicking on a task does not reopen the panel.

### What you think should happen instead

Clicking on a task should reopen the panel.

### How to reproduce

1. Dag with a single task, Airflow 2.3
2. Hide the details panel
3. Click on the task
4. **nothing happens**

### Operating System

Mac, O

[2022-05-05 15:45] jedcunningham commented on #23472
Happy to hear it. Thanks for testing it out @TPapajCin!

Just for some extra clarity, the inefficient query was part of the pre-migration checks which would have automatically moved those bad rows @ldacey ran into into a separate table. You actually skipped the inefficient query completely with how you upgraded, but you got to the same place at the end of the day (`airflow db upgrade` just would h

[2022-05-05 15:45] #23472 closed

[2022-05-05 15:55] bbovenzi commented on #23505
This should be a relatively straightforward fix for anyone interested in picking it up.

We just need to listen to changes to `useSelection` in [Grid.jsx](https://github.com/apache/airflow/blob/main/airflow/www/static/js/grid/Grid.jsx) and open the details panel when needed.

[2022-05-05 16:28] ldacey commented on #23472
Got it, thanks. I did not know about that .patch method either.

I think my issue was that the `airflow db upgrade` would start running and just hang "indefinitely" with no log output or indication of progress. I let it run for over an hour before I canceled and went with the individual alembic commands.

[2022-05-05 16:54] wesleyemery opened #23509 "Airflow Azure OAuth configuration Failure"
### Official Helm Chart version

1.5.0 (latest released)

### Apache Airflow version

2.2.3

### Kubernetes Version

 1.22.6

### Helm Chart configuration

[code]

### Docker Image customisations

Dockerfile ->
[code]

requirements.txt ->
[code]

### What happened

I have created an SPN in Azure and created the FAB_ADMINS App role assigned to user/groups and applications and still get this error:

[2022-05-05 17:07] jedcunningham commented on #23472
I see, that's good to know, thanks. We have some more optimizations in the pipeline that will hopefully speed it up even more.

[2022-05-05 17:56] wesleyemery commented on #23509
Is my role assignment correct for FAB_ADMINS?

[2022-05-05 18:06] ashb commented on #23472
@ldacey What DB are you on? Do I remember you are an MSSQL shop?

[2022-05-05 19:13] flaviomax commented on #9967
So we figured out what the problem was:

It had nothing to do with a big DAG, but with a faulty airflow deployment. When we took the deployment down, it kept a lock in the `serialized_dag` table in our postgres database.

When the correct deployment went up, it was unable to make changes to the values in that table. Hence, every time the scheduler tried to validate the tasks, it could not find the

[2022-05-05 19:24] gshand-beta commented on #15150
Seems strange to have that unique constraint. If two DAG runs have different run_ids, why not let them run at the same time?

Can anyone provide context as to why that constraint is necessary?

If you're invoking DAG runs from multiple processes running concurrently, it's pretty easy to run into this issue. I'd classify this as a bug, as expected behavior is that Airflow should be able to tolerate

[2022-05-05 20:00] zachliu opened #23512 "Random "duplicate key value violates unique constraint" errors when initializing the postgres database"
### Apache Airflow version

2.3.0 (latest released)

### What happened

while testing airflow 2.3.0 locally (using postgresql 12.4), the webserver container shows random errors:
[code]

notes:
1. when the db is first initialized, i have ~40 errors like this (with ~40 different `permission_view_id` but always the same `'role_id': 1`)
2. when it's not the first time initializing db, i always have 1

[2022-05-05 20:58] KulykDmytro opened #23513 "Flower not honor FLOWER_TASK_RUNTIME_METRIC_BUCKETS env parameter"
### Apache Airflow version

2.2.5

### What happened

Setting `FLOWER_TASK_RUNTIME_METRIC_BUCKETS` container's env variable via extraEnv in chart not causing to change metric's bucketing
[code]
outputs over flower's `/metrics`
[code]

### What you think should happen instead

Based on [flower documentation](https://github.com/mher/flower/blob/df87aec34d74a70fa6055105f27fbab2296334d9/docs/config.rs

[2022-05-05 21:36] zachliu commented on #23512
might be related to [this post](https://stackoverflow.com/questions/71850842/sqlalchemy-defining-two-relationship-with-the-same-secondary-leads-to-uniquev)

[2022-05-05 21:54] ecerulm commented on #21087
In airflow 2.3.0 (`kubernetes==23.3.0`) the executor tries to watch from revision n where n is the last received revision , at least in my testing in EKS the last received revision is not necessarily the **highest** revision number.

I mean the watch can return events with revision numbers 1,2,3,**99**,4,5 and the executor will try to watch (on the retry)  from revision 5  which gives `resource to

[2022-05-05 21:59] kalyani-subbiah opened #23514 "Json files from S3 downloading as text files"
### Apache Airflow Provider(s)

amazon

### Versions of Apache Airflow Providers

_No response_

### Apache Airflow version

2.3.0 (latest released)

### Operating System

Mac OS Mojave 10.14.6

### Deployment

Official Apache Airflow Helm Chart

### Deployment details

_No response_

### What happened

When I download a json file from S3 using the S3Hook:

`filename=s3_hook.download_file(bucket_n

[2022-05-05 22:01] snjypl commented on #23356
seems similar to #23048 .

https://github.com/apache/airflow/blob/83784d9e7b79d2400307454ccafdacddaee16769/airflow/executors/kubernetes_executor.py#L461-L464

i think, we need to add a filter  `TaskInstance.queued_by_job_id == self.job_id`. so that the schedulerJob does not clear backfilljob's taskinstnace  and vice versa.

[2022-05-05 22:27] holly-evans commented on #11618
@eladkal could you assign this to me?

[2022-05-06 06:53] ecerulm commented on #21087
Pay no attention, to my last comment.

I found in [Resource Version semantics](https://kubernetes.io/docs/reference/using-api/api-concepts/#resource-versions) that

So although it worked for me in EKS the `max(...)` is not legal.

[2022-05-06 07:52] tirkarthi commented on #23514
The logic is here where `airflow_tmp_` is hardcoded. Since the name is returned I guess you `shutil.move` to rename it https://docs.python.org/3/library/shutil.html#shutil.move

https://github.com/apache/airflow/blob/83784d9e7b79d2400307454ccafdacddaee16769/airflow/providers/amazon/aws/hooks/s3.py#L858-L859

Change introduced in https://github.com/apache/airflow/pull/6577 . cc: @feluelle

[2022-05-06 08:03] mandoolala commented on #22016
are you willing to submit a PR?

[2022-05-06 08:03] mandoolala commented on #22016
@abhinavraj23 are you willing to submit a PR?

[2022-05-06 08:21] rgdev commented on #22035
Still broken in 2.3.0

[2022-05-06 09:03] #23082 closed

[2022-05-06 09:03] #23083 closed

[2022-05-06 09:17] sambhatt25 opened #23519 "Calendar view is taking too long to load in airflow 2.3.0"
### Apache Airflow version

2.3.0 (latest released)

### What happened

Calendar view in DAG is taking too long to load. It was fine in 2.2.5.

### What you think should happen instead

_No response_

### How to reproduce

_No response_

### Operating System

MacOS 12.3

### Versions of Apache Airflow Providers

_No response_

### Deployment

Other 3rd-party Helm chart

### Deployment details

_No

[2022-05-06 09:22] Anurag-Shetty opened #23520 "Duplicate task instances starts if scheduler restarts in middle of execution of task"
### Apache Airflow version

2.3.0 (latest released)

### What happened

Lets say we have series of tasks,  currently we executing task B , if the scheduler process gets killed, then worker thats running task B continues to run and  we start the scheduler again and task B was still running because of worker is not killed, then task B would be started for second time with attempt 2, not considering

[2022-05-06 10:21] ephraimbuddy commented on #23499
Can you test this in Airflow 2.3.0

[2022-05-06 10:40] potiuk opened #23523 "Cassandra container 3.0.26 fails to start on CI"
### Apache Airflow version

main (development)

### What happened

Cassandra released a new image (3.0.26) on 05.05.2022 and it broke our builds, for example:

* https://github.com/apache/airflow/runs/6320170343?check_suite_focus=true#step:10:6651
* https://github.com/apache/airflow/runs/6319805534?check_suite_focus=true#step:10:12629
* https://github.com/apache/airflow/runs/6319710486?check_suite

[2022-05-06 10:58] potiuk commented on #23523
Added JIRA issue for cassandra @eladkal  https://issues.apache.org/jira/browse/CASSANDRA-17612

[2022-05-06 12:34] alexvkaam opened #23525 "Airflow 2.3.0 webserver fails to start"
### Apache Airflow version

2.3.0 (latest released)

### What happened

upgraded from 2.2.5

airflow db upgrade showed a list of messages inline with what is in the changelog:

Database configuration moved to new section (#22284)

The following configurations have been moved from [core] to the new [database] section. However when reading the new option, the old option will be checked to see if it

[2022-05-06 13:07] nmutejaapollo opened #23527 "Provide resources attribute in KubernetesPodOperator to be templated"
### Description

Provide resources iattribute n KubernetesPodOperator to be templated

### Use case/motivation

For running CPU and memory intensive workloads, we want to continuously optimise the limt_cpu and limit_memory parameters. Hence, we would expect these parameters to be available during pipeline execution so that we can modify them accordingly.

### Related issues

_No response_

### Are

[2022-05-06 13:30] #23527 closed

[2022-05-06 13:35] nitinmuteja opened #23529 "Provide resources attribute in KubernetesPodOperator to be templated"
### Description

Make resources in KubernetesPodOperator as templated. We need to modify this during several runs and it needs code change for each run.

### Use case/motivation

For running CPU and memory intensive workloads, we want to continuously optimise the "limt_cpu" and "limit_memory" parameters. Hence, we want to provide these parameters as a part of the pipeline definition.

### Related

[2022-05-06 13:44] tirkarthi commented on #23421
@bbovenzi  I have created https://github.com/apache/airflow/pull/23530 as a fix. Please assign this ticket to me.

[2022-05-06 13:57] NickYadance opened #23532 "Airflow .airflowignore not handling soft link properly."
### Apache Airflow version

2.3.0 (latest released)

### What happened

Soft link and folder under same root folder will be handled as the same relative path. Say i have dags folder which looks like this:
[code]
and .airflowignore:
[code]

both folder and soft-links-to-folder will be ignored.

### What you think should happen instead

Only the folder should be ignored. This is the expected behavio

[2022-05-06 14:07] hammerhead opened #23533 "Using `expand` on `PostgresOperator` with return value from `PythonOperator` crashes scheduler"
### Apache Airflow version

2.3.0 (latest released)

### What happened

Returning a list from a `PythonOperator` and passing it on to a `PostgresOperator` using `expand` causes the scheduler to crash:

[code]

### What you think should happen instead

The scheduler should not crash and the `PostgresOperator` should get executed.

### How to reproduce

The execution of this DAG fails with the excep

[2022-05-06 14:50] NickYadance commented on #23532
The background is that i use kubernetes/git-sync to sync git  into the dag folder which creates the soft link.

[2022-05-06 14:55] tirkarthi commented on #23532
Here is a sample test case of the report. I guess this is more with the fact `resolve` is called before match that will resolve symlink to the original folder here. As per report "soft-links-to-folder" will resolve to "folder" and get ignored

https://github.com/apache/airflow/blob/6cc41abf6912fd2705b9ef7cf368c888c43c8af8/airflow/utils/file.py#L68

Test case passes before changes in https://github

[2022-05-06 14:58] NickYadance commented on #23532
Correct.

[2022-05-06 15:02] zachliu commented on #23512
@ephraimbuddy sorry man, i actually have no idea what could cause the issue. i have only wild guesses :sweat_smile:

[2022-05-06 15:07] ianbuss commented on #23532
Yep, you're right @tirkarthi this looks like something we need to handle better and expand the unit tests to cover expected cases. @NickYadance can you give a sample directory outline (with file, dirs and symlinks) when git-sync is in the picture?

[2022-05-06 15:23] ianbuss commented on #23532
Hopefully this can be relatively easily fixed with a change to `absolute()` rather than `resolve()` on the path but we should set up a realistic test case for the git-sync use case as well.

[2022-05-06 15:45] NickYadance commented on #23532
@ianbuss sure , check this:
<img width="906" alt="image" src="https://user-images.githubusercontent.com/10060849/167166752-061b91af-ee7f-4a7f-a883-0f20b2d27e84.png">

Can't find a simple way to work around this.  Maybe try to delete soft link manually after git-sync is done.

[2022-05-06 16:01] ianbuss commented on #23532
OK, and you have a `.airflowignore` that has `repo.git/` or similar?

I guess there's a wider question here about whether Airflow should be following symlinks at all as it walks the directory tree. I think in some circumstances it makes sense to do that, where it refers to targets out of the dag directory tree, like for example:

[code]

Longer term, I'm less sure of the utility of following "loca

[2022-05-06 16:14] potiuk commented on #23532
Agree soft-links in tree are bad idea that will lead to duplication which is never good in this case.  But soft-links are also dangerous for another reason - bacause of potential recursion problem which are difficult to diagnose (unless we protect against them).  But also they are useful to "cut the cake" differently so to speak (i.e. have different hierarchy in DAGs and in your original repo wher

[2022-05-06 16:38] ianbuss commented on #23532
Have prepped a simple initial PR which should hopefully restore the original behaviour (and includes the test case provided by @tirkarthi - thanks!) but would be good to get some additional eyes on it. If we want to make larger changes to the symlink handling that should perhaps be a future PR with further thought? Depends on the timeline of 2.3.1 I think.

[2022-05-06 16:47] mwoods-familiaris commented on #13542
Also experiencing this issue on MWAA 2.2.2. Seeing the same pattern as another commenter, in that when a DAG gets "stuck" with the first task in a queued state, it takes 15 minutes to sort itself out.

Our MWAA 2.0.2 instances never exhibited this behavior.

Has anyone had any luck in finding a workaround/fix suitable for an MWAA 2.2.2 mw1.small instance (i.e. something that doesn't involve upgrad

[2022-05-06 17:08] potiuk opened #23538 "CI: convert tests to use Breeze tests command"
The tests that are run in CI should use `breeze` and parallellism implemented in Python.

NOTE: We should pay an attention to provide better error feedback when docker containers could not be started - see https://github.com/apache/airflow/issues/23523

[2022-05-06 17:19] potiuk opened #23539 "Get rid of the Xfail tests in Airflow"
### Body

We have a number of xfail tests in Airflow and they should be fixed as they they might mislead people into thinking those are errors causing CI failures:

- [ ]  `tests/utils/log/test_secrets_masker.py::test_exc_tb` https://github.com/apache/airflow/pull/23650
- [ ] `tests/jobs/test_backfill_job.py::test_trigger_controller_dag` https://github.com/apache/airflow/pull/28724
- [x] `tests/jo

[2022-05-06 17:20] potiuk commented on #23539
cc: @eladkal

[2022-05-06 17:36] pingzh opened #23540 "tasks log is not correctly captured"
### Apache Airflow version

2.2.4

### What happened

When the task is executed via `exec` https://github.com/apache/airflow/blob/2.2.4/airflow/task/task_runner/standard_task_runner.py#L43 , the task std log is not captured.

Please see the image:

In the log, i don't see `run_id=`

![image](https://user-images.githubusercontent.com/8662365/167190463-c4e9567b-4fde-4854-b055-6b0d63961b8f.png)

![im

[2022-05-06 17:37] ephraimbuddy commented on #23512
Oh, I assigned it to you because you checked that you are willing to submit a PR. I'll unassign you now :)

[2022-05-06 18:15] tirkarthi commented on #23533
The `RuntimeError` related changes were https://github.com/apache/airflow/pull/21641 . cc: @uranusjr

[2022-05-06 18:41] tagoad opened #23542 "Grid View: Task order rearranges constantly with auto-refresh on"
### Apache Airflow version

2.3.0 (latest released)

### What happened

While navigating the Grid view with auto refresh on the list of tasks is constantly rearranging. You can have the task instance centered in the view and then it refreshes and that task is now at the bottom of the list of tasks, next second its at the top.

### What you think should happen instead

The list of tasks should atle

[2022-05-06 18:41] SarbjitGahra opened #23543 "apache-airflow-providers-google not compatible with google-ads"
### Apache Airflow Provider(s)

google

### Versions of Apache Airflow Providers

apache-airflow-providers-google    6.8.0
apache-airflow-providers-amazon    3.2.0
apache-airflow-providers-ftp       2.1.2
apache-airflow-providers-http      2.1.2
apache-airflow-providers-imap      2.2.3
apache-airflow-providers-postgres  4.1.0
apache-airflow-providers-sqlite    2.1.3

### Apache Airflow version

2.

[2022-05-06 18:46] eladkal commented on #23543
Duplicated https://github.com/apache/airflow/issues/22111

[2022-05-06 18:46] #23543 closed

[2022-05-06 19:01] SarbjitGahra commented on #23543
Hi @eladkal
The original issue never resolved the main problem.
Comments by the author of the original issue-

Google provider is still preventing update to any google-ads api version older than 14.0.0.
While google-ads=14.1.0 is the lowest version to contain v9.

Thanks

[2022-05-06 19:06] eladkal commented on #23543
The issue is resolved in main we just didn't release the new version yet.

[2022-05-06 19:45] #18969 closed

[2022-05-06 19:49] SarbjitGahra commented on #23543
Thank you for the information.
When do you expect to release this version ?

[2022-05-06 19:50] potiuk commented on #23543
When it's ready @SarbjitGahra . This is the only answer we can giv as we do not know if we won't find any regressions that will prevent us from releasing.

[2022-05-06 19:51] potiuk commented on #23543
And to repeat what I've already stated - you **Cannot** base your business continuity on the fact if we release or not.

[2022-05-06 19:58] eladkal commented on #23519
Please add more information

[2022-05-06 20:07] joelossher opened #23546 "Gantt Chart Broken After Deleting a Task"
### Apache Airflow version

2.2.5

### What happened

After a task was deleted from a DAG we received the following message when visiting the gantt view for the DAG in the webserver.

[code]

This was only corrected by manually deleting the offending task instances from the `task_instance` and `task_fail` tables.

### What you think should happen instead

I would expect the gantt chart to load eit

[2022-05-06 21:42] fritz-astronomer opened #23550 "Dynamic Task Mapping is Immutable within a Run"
### Apache Airflow version

2.3.0 (latest released)

### What happened

Looks like mapped tasks are immutable, even when the source XCOM that created them changes.

This is a problem for things like Late Arriving Data and Data Reprocessing

### What you think should happen instead

Mapped tasks should change in response to a change of input

### How to reproduce

Here is a writeup and MVP DAG demo

[2022-05-06 22:12] kalyani-subbiah commented on #23514
I see. In my project since I'm downloading a lot of files, the filenames are important to keep track of what the contents are. When it gets downloaded as a temp file with a different name, this content is lost. I will have to delete all the contents of the temp directory for each iteration which is time-consuming.

One thing that would be nice is if we could specify the file name for the download.

[2022-05-06 22:47] #23430 closed

[2022-05-07 03:58] zachliu commented on #23512
further investigation shows that we are removing the same "permissions" and "permission views" repeatedly and trying to add them back repeatedly:
[code]
notice the 2 `SAWarning: ...` when we tried to `Removed Permission View: can_create on Users`. Apparently the same `DELETE` was executed twice.

I don't understand why we `Removed Permission menu access on Permissions from role Admin` and then imm

[2022-05-07 06:30] feluelle commented on #23514
Hi @kalyani-subbiah,

I would say we can change this behavior to use open and write to a real file instead of a temp file as like you said you can properly set the file name incl. ending.

I can't remember why I initially did it like this. Maybe the use case was only to dump the data and then forget about it, as by default it writes to the temp dir.

Feel free to open a PR with how you think it sh

[2022-05-07 07:06] Bowrna commented on #23538
@potiuk Could I pick up this issue and try?

[2022-05-07 09:19] #23111 closed

[2022-05-07 09:33] potiuk commented on #23538
Yeah. It's an ambitious task though :).

Just pay attention to the --parallell flag I've implemented in other commands (pull-images for one). What we've been doing so far - we run the tests in parallel for different test types when we had enough CPUs. But this was overly complex with gnu-parallel and we should do it as single breeze command with `--parallel` flag as parallelism is much better hand

[2022-05-07 11:49] lssatvik opened #23557 "templates_dict, op_args, op_kwargs no longer rendered in PythonVirtualenvOperator"
### Apache Airflow version

2.3.0 (latest released)

### What happened

Templated strings in templates_dict, op_args, op_kwargs of PythonVirtualenvOperator are no longer rendered.

### What you think should happen instead

All templated strings in templates_dict, op_args and op_kwargs must be rendered, i.e. these 3 arguments must be template_fields of PythonVirtualenvOperator, as it was in Airflow

[2022-05-07 13:36] #23523 closed

[2022-05-07 15:28] kalyani-subbiah commented on #23514
Hi @feluelle . Thanks, will look into creating a PR now.

[2022-05-07 15:59] wesleyemery commented on #23509
I was able to debug this a little more and am successfully getting and access token but I am getting a 403 error on the app side with the following error:
[code]

How do I whitelist the OAuth provider

[2022-05-07 17:47] #23509 closed

[2022-05-07 21:53] #20849 closed

[2022-05-07 22:24] RobertAbaev commented on #23411
Hi, got the same behavior with ExternalTaskSensor. Just to make sure it will be noted, thanks!

[2022-05-08 07:06] lssatvik commented on #23557
Nice. Was wondering how to "inherit" class variables.

[2022-05-08 07:09] lssatvik commented on #23557
@eladkal Doesn't the length of template_ext need to match template_fields?

[2022-05-08 08:24] talnagar commented on #23529
we would love to get this feature!

[2022-05-08 08:34] potiuk commented on #23529
@nitinmuteja -> I assigned you - also maybe @talnagar you could take a stab at it - it seems like an easy first contribution

[2022-05-08 08:43] #17979 closed

[2022-05-08 10:04] nandlalyadav57 opened #23565 "Tag persists even if we open a new window of home page after searching with tag"
### Apache Airflow version

2.2.5

### What happened

we can see that tag persists even if we open the new home page on airflow UI.

### What you think should happen instead

probably due to cache. the bug could be fixed from backend code probably

### How to reproduce

As in Ticket [9309](https://astronomer.zendesk.com/agent/tickets/9309) a customer reported this behavior & i tried to replicate i

[2022-05-08 12:49] Dris101 opened #23566 "Description of defaultAirflowRepository in values.yaml is misleading"
### Official Helm Chart version

1.5.0 (latest released)

### Apache Airflow version

2.3.0 (latest released)

### Kubernetes Version

minikube v1.25.2

### Helm Chart configuration

_No response_

### Docker Image customisations

_No response_

### What happened

defaultAirflowRepository is described in ```values.yaml``` as

[code]

### What you think should happen instead

```defaultAirflowRepos

[2022-05-08 13:13] potiuk commented on #23566
Would you like to contribute a fix @Dris101 - sounds like an easy clarification with the docs.

[2022-05-08 13:13] potiuk commented on #23566
PR are most welcome!

[2022-05-08 14:06] thcidale0808 commented on #21381
Raised this PR: https://github.com/apache/airflow/pull/23567

[2022-05-08 15:23] lssatvik commented on #23557
Nvm, as requirements is first, doesn't matter.

[2022-05-08 16:28] potiuk commented on #23337
literally setting `AIRFLOW__SCHEDULER__USE_JOB_SCHEDULE` via API is not possible, because we would have to a) change it in env variables for running process (because it is impossible) b) do it in scheduler - and the API/webserver does not have direct way to communicate with scheduler, it would have to be done through database rather than through env variables.

I am not sure if this is a good idea

[2022-05-08 16:32] potiuk commented on #15503
If there is anyone with similar issue, please create a new issue and describe version, logs and all the circumstances - enough reproducible case that somene can look at this and diagnose. Posting "I also have this problem" on closed issue, when it might be a completely different issue is cheap, but as most cheap solutions it gives you as much as much it costs.

Please take your time to report your

[2022-05-08 16:48] Taragolis opened #23572 "cli command `dag-processor` uses `[core] sql_alchemy_conn`"
### Apache Airflow version

2.3.0 (latest released)

### What happened

Dag processor failed to start if `[core] sql_alchemy_conn` not defined

[code]

### What you think should happen instead

Since https://github.com/apache/airflow/pull/22284 `sql_alchemy_conn` moved to `[database]` section `dag-processor`  should use this configuration

### How to reproduce

Run `airflow dag-processor` without

[2022-05-08 17:10] tirkarthi commented on #23572
Looks like a duplicate of https://github.com/apache/airflow/issues/23447

[2022-05-08 17:31] Taragolis commented on #23572
@tirkarthi oh, you absolutely right, I couldn't find it because for some reason it closed

[2022-05-08 18:33] potiuk commented on #22908
Actually I found a way to run breeze in pre-commit even if you DO NOT have it installed. Since we are using it in a very limited way, we just need "rich" and "rich-click" addded in the .pre-commit environment, adding a PATH to breeze and we should be able to run breeze to get --help output as well as to check which configuration is available. Fix is coming in  #23570

[2022-05-08 19:28] potiuk commented on #21708
Just start from `CONTRIBUTING.rst`

[2022-05-08 19:46] #23162 closed

[2022-05-08 19:48] potiuk commented on #21605
Thanks! however what fix/workaround can we use in the interim for this to prevent the errors and the crashing until the above is released? (as 2.3.0 release seems far away)

2.3.0 is out. I do not think there were any workarounds.

[2022-05-08 21:03] potiuk commented on #23129
Yeah. The default_args should not containt tamplateable I thionk - I think maybe we coud improve it in the fufure, bit I think it should not be nede. Maybe a doc update is needed that you should not use templates in default_args ?

[2022-05-08 21:10] potiuk commented on #23381
Don't use sqlite3 for anything resembling production. It WILL break  it is not supposed to use to anything that quick start and playing in very early developlent. You've been warned.

https://airflow.apache.org/docs/apache-airflow/stable/howto/set-up-database.html?highlight=sqlite

[2022-05-08 21:10] #23381 closed

[2022-05-08 21:11] #21897 closed

[2022-05-08 21:12] #23266 closed

[2022-05-08 21:24] eladkal commented on #23557
Lets leave issue open till the fix is merged

[2022-05-08 21:33] potiuk commented on #23407
Sounds like slightly annoying UI issue. Maybe someone can look at it.

[2022-05-08 21:43] snjypl commented on #21087
my understanding is that:

1.) there is a bug with the kubernetes python client, it is not updating the watcher resource_version from the BOOKMARK events.  [#1796](https://github.com/kubernetes-client/python/pull/1796) tries to fix it.

2.)  BOOKMARK is not enabled by default, the client needs to request it by sending `allow_watch_bookmarks=True` in the request. by default it is false. currently K

[2022-05-08 21:46] potiuk commented on #23437
It's more of a feature for ExtraLink https://airflow.apache.org/docs/apache-airflow/stable/howto/define_extra_link.html  rather than putting the link to the log (or maybe both). Anyhow marked ait as good first issue for someone who would like to pick it up.

[2022-05-08 21:57] snjypl commented on #21087
adding come context:  [kubernetes doc on bookmark](https://kubernetes.io/docs/reference/using-api/api-concepts/#efficient-detection-of-changes)

[2022-05-08 22:06] #23040 closed

[2022-05-08 22:08] potiuk commented on #21379
Fine for me. Maybe @alexott  can chime-in too.

[2022-05-08 22:16] potiuk commented on #23447
@mhenc  - can you take a look please?

[2022-05-09 01:07] potiuk opened #23576 "The xmltodict 0.13.0 breaks some emr tests"
### Apache Airflow version

main (development)

### What happened

The xmltodict 0.13.0 breaks some EMR tests (this is happening in `main` currently:

Example: https://github.com/apache/airflow/runs/6343826225?check_suite_focus=true#step:9:13417

[code]

Downgrading to 0.12.0 fixes the problem.

### What you think should happen instead

The tests should work

### How to reproduce

* Run Breeze
* R

[2022-05-09 01:39] danielpetrato commented on #23499
I'm having the same problem, I got the error sqlalchemy.exc.OperationalError: (psycopg2.OperationalError) connection to server at "airflow-sqlproxy-service.default.svc.cluster.local" (10.67.240.74), port 3306 failed: server closed the connection unexpectedly This probably means the server terminated abnormally before or while processing the request. I'm using Google composer with the most up-to-da

[2022-05-09 04:38] nitinmuteja commented on #23529
Created PR https://github.com/apache/airflow/pull/23531 .

[2022-05-09 07:04] eduardchai opened #23580 "`task_id` with `.` e.g. `hello.world` is not rendered in grid view"
### Apache Airflow version

2.3.0 (latest released)

### What happened

`task_id` with `.` e.g. `hello.world` is not rendered in grid view.

### What you think should happen instead

The task should be rendered just fine in Grid view.

### How to reproduce

[code]

### Operating System

Debian GNU/Linux 11 (bullseye)

### Versions of Apache Airflow Providers

_No response_

### Deployment

Officia

[2022-05-09 07:25] ephraimbuddy commented on #23227
@bbovenzi @Bowrna I'm leaning towards updating the existing clearTaskInstances endpoint to optionally accept dag_run_id. This is a duplication of the existing endpoint (`/api/v1/dags/{dag_id}/clearTaskInstances`). There's nothing new that we want to introduce with the new endpoint. We could update the existing one to either accept `execution_date` or `dagrun_id`. I believe that's what the UI is do

[2022-05-09 07:32] ephraimbuddy commented on #23227
Another PR addressing the issue: https://github.com/apache/airflow/pull/23451
cc: @Bowrna

[2022-05-09 07:33] tirkarthi commented on #23580
cc: @bbovenzi I guess this has something to do with `task_id` having dot used to render in splitting task_id by dot : https://github.com/apache/airflow/blob/975996157f4cc35490acc69d98ce6582d81af93a/airflow/www/static/js/grid/renderTaskRows.jsx#L145

[2022-05-09 08:39] tirkarthi commented on #23417
@bbovenzi I can take this. Please add a permalink to the github code that you want to migrate to rest API . I couldn't find `objects/tree_data` endpoint in current views.

[2022-05-09 08:50] #23572 closed

[2022-05-09 09:04] potiuk commented on #23576
This has been investigated by the Moto team and it turned out to be unexpected change in behaviour of `xmltodict`. They  fixed it in the upcoming 3.1.9 and once they release we upgrade moto to 3.1.9, we can remove the pinning.

[2022-05-09 09:59] #22908 closed

[2022-05-09 10:41] johannesjung commented on #22397
Hi @potiuk, thank you for pushing towards upgrading Flask-AppBuilder. I see that you had started to work on this issue in https://github.com/apache/airflow/pull/22587, but then suddenly closed it again. What was the reason for closing the PR and what does it mean for this issue?

[2022-05-09 10:43] potiuk commented on #23469
@thinhnd2104 - do you think the issue is closed by #23470 ?

[2022-05-09 10:45] thinhnd2104 commented on #23469
@potiuk yes. Thank you!

[2022-05-09 10:45] #23469 closed

[2022-05-09 10:55] potiuk commented on #22397
This was just a draft to try it and see if it works, It had a number of problems in just "dependencies".
It means that it's not "straightforward" and someone will need to make a substantial effort to migrate (and tests).

But if you want - you can pick it up and try to make a PR yourself. Woudl you want to take a stab on it ?

[2022-05-09 11:04] tirkarthi commented on #23447
I guess this can be closed now with https://github.com/apache/airflow/pull/23575 merged .

[2022-05-09 11:08] johannesjung commented on #22397
Thanks for the quick reply. It is not my field of expertise, so I would be happy if someone else gives it a try. It would be great to get rid of the older version of dependencies related to this.

[2022-05-09 11:33] bbovenzi commented on #23580
Oh good catch. We can parse out the names differently to avoid this problem

[2022-05-09 11:38] bbovenzi commented on #23417
oh yes, we renamed it to `grid_data`. I updated the link too.

We probably don't need to return the `dag_runs` part of the response and instead use the list dag runs endpoint. Message me before you start work on this, I may want to change a few other things.

[2022-05-09 11:45] ecerulm commented on #21087
@snjypl,  does not `allow_watch_bookmarks` prevent a "410 GONE", and does not prevent the current airflow code path to enter an infinite loop because of it.

The current code base will enter an infinite loop if kubernetes python client returns an Exception when sending the last known resource version to airflow.

Using BOOKMARK will certainly allow airflow to track the last known resource version

[2022-05-09 12:07] #23447 closed

[2022-05-09 12:15] lozuwa opened #23584 "Airflow 2.2.4 doesn't add new DAGs to the serialized_dag table, thus webserver doesn't show the new DAGs"
### Apache Airflow version

2.2.4

### What happened

We have upgraded from Airflow 1.10.5 to Airflow 2.2.4. Upgrade path was 1.10.5 -> 1.10.15 -> 2.1.0 -> 2.2.4

Everything seems to work with the exception that new DAGs cannot be added to Airflow. They are not displayed in either the serialized_dag table or the webserver UI.

### What you think should happen instead

If a new DAG is added to the

[2022-05-09 12:22] potiuk opened #23585 "Synchronizing Airlfow releases, API versions and clients"
### Body

The current version of API https://airflow.apache.org/docs/apache-airflow/stable/stable-rest-api-ref.html shows version 1.0.0. I think this is terribly wrong and we shoudl synchronize the API version with Airflow Version. We had a long discussion about the client versioning (and we agreed that the client versioning should be done in a specific way)

https://lists.apache.org/thread/8yd7o9

[2022-05-09 12:25] #23420 closed

[2022-05-09 12:44] snjypl commented on #21087
@ecerulm
as i understand there are two aspects to this issue:

**1.) preventing 410 error from happening:**

To prevent it we need to use the BOOKMARK feature. it was specifically introduced for this purpose.  the prevention should be done by `kubernetes python client` in the  stream loop  [here](
https://github.com/kubernetes-client/python/blob/34ed13f9c729eea0b7581887ae0a1b0018664c5a/kubernetes/

[2022-05-09 12:53] potiuk commented on #23453
I would not worry about sqlite. By definition it's only for development and testing and it's ok to remove any sqlite database and recreate it from the scratch. Should we close this issue @ephraimbuddy WDYT?

[2022-05-09 12:54] snjypl commented on #21087
i will try to explain it a bit:

this  is a part that needs to be handle by the kubernetes client watch loop [here]( https://github.com/kubernetes-client/python/blob/f379bbabf33f239f49b0e1b7652b6212f3960910/kubernetes/base/watch/watch.py#L162).

when you have BOOKMARK enabled, the api server will keep sending you the resource_version till which it has processed for your label. it does that roughly

[2022-05-09 13:06] potiuk commented on #23495
Can you do that by extending the helm-chart? I believe Helm charts can be extended by making the subcharts , so you can write your own chart with Airflow chart as a Subchart and add your jobs there.

Would that work @HeshamMeneisi ?

  https://helm.sh/docs/chart_template_guide/subcharts_and_globals/

[2022-05-09 13:08] snjypl commented on #21087
the code you shared is not really a good way to demonstrate `BOOKMARK`.
but still:

shouldn't  it be `resource_version = last_resource_version`

the resource_version in the first loop and the error message is same.  again, it has nothing to do with bookmark.

[2022-05-09 13:16] potiuk commented on #23497
Can you please try it with Airflow 2.3.0 @schattian - one of the changes in 2.3.0 (And corresponding cncf provider 4.0+ was to migrate to newer kubernetes libraries that are handling similar cases way better. Unfortunately you need to migrate to Airflow 2.3.0 for that one because of the old kubernetes library dependencies in Airlfow 2.2.* series.

I think that was the root cause of the problem and

[2022-05-09 13:20] potiuk commented on #17176
I think not. The long term solution is to switch to Task Group. Subdags are deprecated and are going to be removed in Airflow 3 anyway, so the best we can advice is to switch to TaskGroups as suggested by https://github.com/apache/airflow/issues/17176#issuecomment-890295058

See https://airflow.apache.org/docs/apache-airflow/stable/concepts/dags.html#taskgroups-vs-subdags

Closing it due to that.

[2022-05-09 13:20] #17176 closed

[2022-05-09 13:37] rotemseekingalpha opened #23588 "After upgrade from Airflow 2.2.4, grid disappears for some DAGs"
### Apache Airflow version

2.3.0 (latest released)

### What happened

After the upgrade from 2.2.4 to 2.3.0, some DAGs grid data seems missing and it renders the UI blank

### What you think should happen instead

When I click the grid for a specific execution date, I expect to be able to click the tasks and view the log, render jinja templating, and clear status

### How to reproduce

Run an up

[2022-05-09 13:44] potiuk commented on #9967
Cool. Thanks for sharing your case @flaviomax . I add this use case to my portfolio of "potential problems to suggest our users to look for :)". Actually that might be a cool idea to add some kind of tool to see if there are no stale locks in the DB. @ashb - WDYT?

[2022-05-09 13:45] rotemseekingalpha commented on #23588
[Video](https://youtu.be/BD91yCd6r68) that shows the problem

[2022-05-09 13:47] potiuk commented on #15150
Because historically execution date was the key not run_id. This has since been removed and in Airflow 2.2 the primary key is run_id and execution_date is just a field. See the changelo. https://airflow.apache.org/docs/apache-airflow/2.2.4/changelog.html#airflow-2-2-0-2021-10-11

[2022-05-09 14:19] ecerulm commented on #21087
@snjypl , let me see if I can address you comments (in no particular order, sorry)

### allow_watch_bookmark=True does not prevent 410

The PR kubernetes-client/python#1796 you mention as "the bug" does NOT solve the 410 error,  if you do `allow_watch_bookmark` and `resource_version=someexpiredresourceversion` I still get a 410 GONE using your PR code or am I missing something?:

[code]

thats the

[2022-05-09 14:33] ldacey commented on #23472
Sorry for the late reply, I am using PostgreSQL. I assume that I just became impatient and canceled the db upgrade command prematurely. I am not sure why my task_fail table had some rows (85) which did not exist in the task_instance table though

[2022-05-09 14:49] schattian commented on #23497
@potiuk sure, I will submit one one of these days.

[2022-05-09 14:50] potiuk commented on #20849
The slim images for 2.3.0 are now available:  see lazy consensus reached here:

 https://lists.apache.org/thread/cfn2ckj5d8xnk0v0og28n4jxhd5pq08v

[2022-05-09 15:02] potiuk commented on #23497
Cool. Assigned you :) !

[2022-05-09 15:08] #9492 closed

[2022-05-09 15:14] potiuk commented on #23520
Interesting - could you explain your doployment ? (Celery/Kubernetes/Database, etc. which broker you have etc.) . I think theorethically Airflow scheduler shoudl be able to handle it unless there is a very specific race condition between the task being started and the Database update committed. So what you observe **might** happen in a very rare circumstances but it should not happen in general.

[2022-05-09 15:16] Bowrna commented on #23227
@bbovenzi @ephraimbuddy Could i just make change in the `/api/v1/dags/{dag_id}/clearTaskInstances` endpoint to accept `dagrun_id` then?

[2022-05-09 15:46] snjypl commented on #21087
@ecerulm  sorry, but it is not how watch works.

if you start a watch with an old resourceVersion it **WILL** always give you 410 error.  that is the expected behaviour.

in short:  if you get 410, start a fresh watch. don't bother about the recent resoureVersion, because whatever  maybe the resourceVersion that your application is having  it would still be old. you can't have a fresher resource v

[2022-05-09 15:49] bbovenzi commented on #23542
@tagoad could you include a screen recording and maybe even a sample dag? I'm having difficulty replicating this issue.

[2022-05-09 15:51] snjypl commented on #21087
airflow does not need to track the resoure_version. kube client watcher will do it.

[2022-05-09 15:55] leahecole commented on #23129
Makes sense. I've been trying to use templated variables everywhere `models.Variables.get`  because I know that once upon a time (not sure if still true) itw as not great to have `models.Variable.get` outside of the DAG object because it would make the call to the DB at parse time to populate it. To make code pretty, I just did jinja templating everywhere, but, technically, `default_args` is part

[2022-05-09 16:15] bbovenzi commented on #23546
If you want to submit a PR, the error seems to come from [trying to get extra links of a deleted task](https://github.com/apache/airflow/blob/main/airflow/www/views.py#L3313)

[2022-05-09 16:22] ecerulm commented on #21087
I guess we have a language barrier here,  because I already knew that
and that's what I've been trying to explain to you all along. I guess I misunderstood what you mean by `it is because of this bug in kubernetes python client that you were getting 410 error even with allow_watch_bookmark enabled.`

The only thing needed to solve his particular issue #21087 is to handle 410 GONE in kubernetes_exe

[2022-05-09 16:26] potiuk commented on #23129
It's still the case.

Technically yes, but I think it's not processed by template engine :). Maybe it could but I think it's not and this is the problem. The problem with it is that template engine processes the parameter with JINJA separately for each task and the jinja templated-args are "per task". So processing them with JINJA just before execute() makes sense.

This is a bit different with de

[2022-05-09 16:37] ephraimbuddy commented on #23227
Yes. It should either accept a `dag_run_id` or `(start_date and end_date)`. If both `dag_run_id` and `start_date, enddate` is used, should error.

[2022-05-09 16:46] snjypl commented on #21087
for ref: https://github.com/kubernetes/enhancements/tree/master/keps/sig-api-machinery/956-watch-bookmark

[2022-05-09 16:53] ecerulm commented on #21087
so like I said, we will still see 410 errors. If we handle 410 in kubernetes_executor.py this issue will be solved regardless of kubernetes python client fixes. So those fixes are inconsequential for this issue

well, it's not that rare.

I thought that we agreed that this is not preventing 410, you will still get it if enough time passed between the disconnect and the when the next watch is goes

[2022-05-09 17:07] potiuk commented on #23525
Likeluy your worker processes are not upgraded yet. Check which airflow versions they have.

[2022-05-09 17:14] snjypl commented on #21087
@ecerulm  please go through that docs.  it will help you understand why 410 occurs and how BOOKMARK will prevent it.

**410 does not happen due to network issues or connectivity issue between airflow and kubeapi server.**

it happens when no event of type  ADDED, MODIFIED, DELETED happens on the watched resource for a long time [ ~ 5 mins].

it would really help the conversation if you would take

[2022-05-09 17:33] joelossher commented on #23546
Thanks for the pointer! I'll put together a PR.

[2022-05-09 17:36] #21808 closed

[2022-05-09 17:40] Bowrna commented on #23227
Sure i will update the PR

[2022-05-09 18:08] lewismc commented on #17481
We also encountered this issue. We discovered it through our integration with Sentry. Have no idea how to further diagnose.

[2022-05-09 18:33] jedcunningham opened #23599 "Status of testing of Apache Airflow Helm Chart 1.6.0rc2"
We have a kind request for all the contributors to the latest [Apache Airflow Helm Chart 1.6.0rc1](https://dist.apache.org/repos/dist/dev/airflow/helm-chart/1.6.0rc1).

Could you please help us to test the RC versions of Airflow?

Please let us know in the comment if the issue is addressed in the latest RC.

- [ ] [Add webserver PodDisruptionBudget (#21735)](https://github.com/apache/airflow/pull/

[2022-05-09 19:05] potiuk commented on #23512
This sounds like a bug in sync_appbuilder_roles implementation - when we have more than 1 webserver it seems that when they are crashing during first start they then subsequently fail on starting another webserver via wsgi. @jhtimmins - maybe you can take a look at that ?

[2022-05-09 19:10] edithturn commented on #23085
@potiuk I am so sorry :(, I was thinking to take it today. If I don't make any progress today please feel free to retake it 🙏🏼

[2022-05-09 19:15] potiuk commented on #23085
No problem at all :). You are doing that in your free time so no pressure.

[2022-05-09 19:16] dylac commented on #16010
@andormarkus is the most recent chart you provided still working? I've tried a few versions of it, also updating the `ssl-redirect` but no luck. Is localhost not acceptable in the `base_url`? Should it match my external-dns annotation?

[2022-05-09 19:29] zachliu commented on #23512
[code]
i see those repeated log messages right after booting up 4 worker sub-processes, are these workers trying to update the database at the same time using the same `DELETE` or `INSERT` statements?

[2022-05-09 20:10] potiuk opened #23602 "Calendar view is taking too long to load in airflow 2.3.0"
### Discussed in https://github.com/apache/airflow/discussions/23545

<div type='discussions-op-text'>

<sup>Originally posted by **sambhatt25** May  6, 2022</sup>
### Apache Airflow version

2.3.0 (latest released)

### What happened

Calendar view in DAG is taking too long to load. It was fine in 2.2.5.

### What you think should happen instead

_No response_

### How to reproduce

_No response_

[2022-05-09 20:18] potiuk commented on #23512
Yeah. I think the problem is that the webserver spawns 4 parallel webserver processes (workers) and each process tries to update the permissions at the same time)

[2022-05-09 20:32] #19943 closed

[2022-05-09 20:40] ecerulm commented on #21087
I have reproduced this locally with minikube and kubernetes python client so I can assure you it CAN happen due to network issues between airflow and the k8s api. Let me explain the setup

1. Minikube locally
2. Python script that performs a watch in a while loop just like airflow does
3. Python script connects to minikube via toxiproxy so that I can simulate a network disconnection (context: mini

[2022-05-09 20:47] bbovenzi commented on #23602
We'd have to look out how the "planned" part of calendar view is calculated.

[2022-05-09 21:33] pingzh commented on #23540
while investigating this issue, i found that if i set `DONOT_MODIFY_HANDLERS` to `True`, the `airflow tasks run` will hang:

for example, if my local:

i changed the code of `DONOT_MODIFY_HANDLERS` to `True` and forced the `StandardTaskRunner` to use `_start_by_exec`.

[code]

it stuck without making any progress:

![image](https://user-images.githubusercontent.com/8662365/167502196-441b5229-5377-

[2022-05-09 21:52] #15994 closed

[2022-05-09 22:49] #22576 closed

[2022-05-10 00:11] kolfild26 opened #23605 "2.2.3 -> 2.3 upgrade db error with mysql metadb"
### Apache Airflow version

2.3.0 (latest released)

### What happened

Hi,
Tried to upgrade from v.2.2.3 to v.2.3
`airflow upgrade db:`
[code]
The above mysql statement, which causes error, seems to be generated in the **count(self)** function in /sqlalchemy/orm/query.py.
I ran that statement through mysql workbench and it's easy to see that it's wrong

[code]

There is no the **rendered_task_ins

[2022-05-10 00:14] kolfild26 commented on #23605
So, currently unable to move to v.2.3.
p.s. I didn't try to initiate the db from scratch, because I need to keep the past data and settings.

[2022-05-10 00:41] kolfild26 opened #23607 "airflow/configuration.py [logging] log_filename_template FutureWarning"
### Apache Airflow version

2.3.0 (latest released)

### What happened

Hi,
Tried to upgrade from v.2.2.3 to v.2.3.

`airflow db upgrade:`
[code]

I reviewed my airflow.cfg file and changed what was recommended by the waring message. And also checked [the default config file](https://github.com/apache/airflow/blob/main/airflow/config_templates/default_airflow.cfg) in the airflow github repository.

[2022-05-10 00:47] kolfild26 commented on #23607
`log_filename_template = dag_id=...`
This looks strange, bwt. I didn't find any other lines containing two `=` in airflow.cfg.

Then tried to delete `"dag_id="` but with no success. The exception remains.

[2022-05-10 02:30] kaojunsong opened #23609 ""RuntimeError: dictionary changed size during iteration" happens in scheduler after running for a few hours"
### Apache Airflow version

2.2.5

### What happened

The following error happens in the arflow scheduler:

[code]

### What you think should happen instead

No error happens

### How to reproduce

I have created 2 DAGs, and DAG one will trigger DAG two thousands of times:

[code]

[code]

### Operating System

[code]

### Versions of Apache Airflow Providers

[code]

### Deployment

Other Docker-

[2022-05-10 02:50] thaysa commented on #17481
@lewismc  in my case, the dates were out of sync between the Airflow metadatabase server and the Airflow scheduler pod. They were both in UTC but they were out of sync.

[2022-05-10 03:29] eduardchai opened #23610 "AttributeError: 'CeleryKubernetesExecutor' object has no attribute 'send_callback'"
### Apache Airflow version

2.3.0 (latest released)

### What happened

The issue started to occur after upgrading airflow from v2.2.5 to v2.3.0. The schedulers are crashing when DAG's SLA is configured. Only occurred when I used `CeleryKubernetesExecutor`. Tested on `CeleryExecutor` and it works as expected.

[code]

### What you think should happen instead

Work like previous version

### How to

[2022-05-10 03:35] edithturn commented on #23085
@potiuk let me know if I am going for the right path:

1. In the Developer tools section, I am adding kind-cluster as a command (./breeze --help)

![Screenshot from 2022-05-09 22-22-48](https://user-images.githubusercontent.com/58795858/167537308-2c695e72-d67a-45f1-bf7f-24977e237ed3.png)

* As options of kind-cluster, I am adding just for now "start", "stop" and "restart".

![Screenshot from 2022-

[2022-05-10 04:10] jskalasariya commented on #20460
Any other work around apart from the one which was suggested by @Greetlist ?

I am also running into same problem when I ran two scheduler.

[2022-05-10 04:13] jskalasariya commented on #20308
Any other work around apart from the one which was suggested by @Greetlist ?

I am also running into same problem when I ran two scheduler.

[2022-05-10 04:28] Bowrna commented on #23227
@ephraimbuddy @bbovenzi  How to pass `map_index` in this case of using `/api/v1/dags/{dag_id}/clearTaskInstances` endpoint?
Because in `/api/v1/dags/{dag_id}/clearTaskInstances` we can get array of task_id. If we get an array of task_id with map_index, how to ensure to which task_id that map_index belong?

[2022-05-10 04:59] Greetlist commented on #20308
@jskalasariya If you also use the deferrable task, you can fix this via https://github.com/apache/airflow/issues/20308#issuecomment-1005435631 temporarily. You can just try to change these codes and make some tests to checkout whether this problem is disappear.
At this moment, In my product env:
**airflow version**:

**airflow components**:

**operating system**:

**machine resource**:

**database

[2022-05-10 05:06] tirkarthi commented on #23610
The changes were added in #21301 . `CeleryKubernetesExecutor` inherits from `LoggingMixin` instead of `BaseExecutor` and might be missing this method.

cc: @mhenc

[2022-05-10 05:09] Anurag-Shetty commented on #23520
I have having standalone deployment with postgres database as backend. its not a celery or kubernetes deployment.  I can see its happening quite regularly.

[2022-05-10 05:12] tirkarthi commented on #23609
This seems to be a problem with Python itself. It seems to have been fixed in https://github.com/python/cpython/pull/24868

Python 3.9 backport : https://github.com/python/cpython/commit/3b9d886567c4fc6279c2198b6711f0590dbf3336

[2022-05-10 06:57] YoavGaudin commented on #23610
We experience this as well, doesn't seem like a complicated fix. I hope it will be fixed promptly so we can use the awesome new features of 2.3.

[2022-05-10 07:12] potiuk commented on #17481
This is very likely casee for you @lewismc. Make sure that your time is synced (for example with ntp) on all the machines you have airflow components.

[2022-05-10 07:19] potiuk commented on #23085
Yeah "start", "stop", "restart" should be sub-commands rather than flags. They shoudl be multi-level structure (using click.group) as described in https://mauricebrg.com/article/2020/08/advanced_cli_structures_with_python_and_click.html for example

So the user should run:

* `breeze kind-cluster start`
* `breeze kind-cluster stop`

etc.

[2022-05-10 07:23] ishiis opened #23613 "Add an offload option to CloudSQLExportInstanceOperator validation specification"
### Apache Airflow Provider(s)

google

### Versions of Apache Airflow Providers

apache-airflow-providers-google==5.0.0

### Apache Airflow version

2.1.2

### Operating System

GCP Container

### Deployment

Composer

### Deployment details

composer-1.17.1-airflow-2.1.2

### What happened

I want to use serverless export to offload the export operation from the primary instance.
https://cloud.g

[2022-05-10 08:26] nikanor97 commented on #16752
SOLVED

I had the same issue and all "recommended" ways of solving the issue [here](https://stackoverflow.com/questions/68640517/airflow-dockeroperator-unable-to-mount-tmp-directory-correctly) and setting up mount_dir params as descripted [here](https://airflow.apache.org/docs/apache-airflow-providers-docker/stable/_api/airflow/providers/docker/operators/docker/index.html) just lead to other error

[2022-05-10 08:56] TPapajCin commented on #23610
I encountered the same problem...
It completely breaks Scheduler on 2.3.0

[2022-05-10 09:03] kaojunsong commented on #23609
@tirkarthi Thanks a lot, I will try to upgrade the Python version to 3.9.12.

[2022-05-10 09:17] rotemseekingalpha opened #23615 "Airflow webserver not starting up after upgrade from 2.2.4 to 2.3.0"
### Apache Airflow version

2.3.0 (latest released)

### What happened

After upgrading Airflow from 2.2.4 to 2.3.0, the Airflow webserver encounters the following errors:
[code]

### What you think should happen instead

Obviously, the Airflow webserver is trying to fix some permissions issues, every time it starts.
Unfortunately, when this process fails, it leaves the webserver hanging without a

[2022-05-10 09:31] andormarkus commented on #16010
Hi @dylac

Do you have running [AWS Load Balancer Controller](https://github.com/kubernetes-sigs/aws-load-balancer-controller) or [NGINX Ingress Controller](https://kubernetes.github.io/ingress-nginx/) on you EKS cluster?

Your `base_url` should be the same as your Route53 entry plus path. I have followed Marc Lamberti's [course](https://www.udemy.com/course/apache-airflow-on-aws-eks-the-hands-on-

[2022-05-10 09:37] potiuk commented on #23610
cc: @mhenc

[2022-05-10 09:39] potiuk commented on #23610
Thanks @eduardchai and others - yeah. We will fix it promptly.

[2022-05-10 09:49] #23613 closed

[2022-05-10 10:02] potiuk commented on #23609
@kaojunsong - let us know if it fixed the problem (thanks @tirkarthi for the investigation!)

[2022-05-10 10:04] potiuk commented on #23615
Yeah seems to be the same problem as #23512 cc: @jhtimmins

[2022-05-10 10:04] potiuk commented on #23615
Duplicate: #23512

[2022-05-10 10:47] sp1thas opened #23619 "`BigQueryCheckOperator` not working with `EXTERNAL_QUERY`"
### Apache Airflow version

2.2.5

### What happened

When trying to validate an external query using the `BigQueryCheckOperator`, a `googleapiclient.errors.HttpError` is raised:

[code]

### What you think should happen instead

Execute the task successfully.

### How to reproduce

Firstly, you have to configure the necessary GCP connection on the airflow, and create an external connection on the

[2022-05-10 11:03] Anurag-Shetty commented on #23520
Local Executor

[2022-05-10 11:17] snjypl commented on #21087
@ecerulm, that is not a valid scenario to test/demostrate bookmark feature.
the bookmark does not work the way you understand it. i wish i could give you a better example.

[2022-05-10 11:53] ecerulm commented on #21087
Well, but this is one of the scenarios that is causing KubernetesJobWatcher to get 410 and get stuck in an infinite loop. So again what I'm trying to say is that bookmarks do not help to solve #21087 is this scenario. Just handling 410 properly solves #21087 no need for bookmark at all to solve this github issue.

[2022-05-10 12:04] IMax153 commented on #23605
I can confirm that we are experiencing the same issue outlined above.

[2022-05-10 12:35] snjypl commented on #21087
@ecerulm , i believe when there is an error there are two parts to it

a.) handling the exception and recovering from it.
b.) finding the cause and trying to fix it so that it won't happen again or atleast reduce the frequency of the error.

what you are suggesting covers part (a). it will allow  airflow to recover from 410 and not get stuck in an infinite loop. we both agree on that.

now, using

[2022-05-10 12:37] EdwardRadical opened #23621 "using `expand` inside @task_group will cause a `airflow.exceptions.DuplicateTaskIdFound`"
### Apache Airflow version

2.3.0 (latest released)

### What happened

The unique ID of the task is seemingly not calculated correctly in base.py and it can cause in a duplicate key error, my guess is that this bit from /decorators/base.py:115:

[code]

doesn't make any sense and the actual return should be:

[code]

But I didn't write it so there is maybe a reason down the line for `return task_

[2022-05-10 13:34] ecerulm commented on #21087
@snjypl

Like I said before, my only concern is that someone that reads this thread maybe get the false impression that watch bookmarks are needed to stop the scheduler from getting stuck in an infinite loop and some people may even get the idea that we need a new kubernets python client before we can solve this, which is not the case.

I just tried to explain that watch bookmarks are not needed t

[2022-05-10 13:54] jonathansp opened #23622 "DatabricksSubmitRunOperator and DatabricksRunNowOperator cannot define .json as template_ext"
### Apache Airflow version

2.2.2

### What happened

Introduced here https://github.com/apache/airflow/commit/0a2d0d1ecbb7a72677f96bc17117799ab40853e0 databricks operators now define template_ext property as `('.json',)`. This change broke a few dags we have currently as they basically define a config json file that needs to be posted to databricks. Example:

[code]

This snippet will make airflo

[2022-05-10 14:00] tchakib commented on #23605
I had the same problem
here is the query generated by the db.py script > https://github.com/apache/airflow/blob/v2-3-stable/airflow/utils/db.py#L1115
[code]
it seems to me that the query should be generated as below
[code]
I wonder if it concerns version 5.7 ?

[2022-05-10 14:37] krisvaz opened #23623 "SnowflakeHook.run() raises UnboundLocalError exception if sql argument is empty"
### Apache Airflow Provider(s)

snowflake

### Versions of Apache Airflow Providers

apache-airflow-providers-snowflake==2.3.0

### Apache Airflow version

2.2.2

### Operating System

Amazon Linux AMI

### Deployment

MWAA

### Deployment details

_No response_

### What happened

If the sql parameter is an empty list, the execution_info list variable is attempted to be returned when it hasn't be

[2022-05-10 15:39] eladkal commented on #23622
I think this is the same problem we had with K8s https://github.com/apache/airflow/issues/17186 ?

[2022-05-10 16:19] potiuk commented on #23520
Can you please capture and send some logs (full log) showing the case with two tasks instances starting (Ideally sharing a Gist with teh logs).

[2022-05-10 17:13] #23610 closed

[2022-05-10 17:13] jsertel opened #23626 "OracleHook get_uri does not return the right connection information"
### Apache Airflow version

2.1.2

### What happened

There are multiple ways an Oracle connection can be specified. the get_conn() method contains logic to check for these various options. However, get_uri just returns the user and password without the other paramaters.

### What you think should happen instead

get_uri should make use of the logic in get_conn() to get the proper connection info.

[2022-05-10 17:56] mayuribh3 commented on #14672
Facing similar issue in 2.3.0

[2022-05-06 12:57:56,230] {spark_kubernetes.py:121} INFO - Spark application is still in state: RUNNING
[2022-05-06 12:58:02,199] {local_task_job.py:82} ERROR - Received SIGTERM. Terminating subprocesses
[2022-05-06 12:58:02,269] {process_utils.py:100} INFO - Sending Signals.SIGTERM to GPID 859
[2022-05-06 12:58:02,269] {taskinstance.py:1411} ERROR - Received SIGTERM

[2022-05-10 19:02] uranusjr commented on #23623
I think the `execution_info = []` line should be outside of the `for sql_statement in sql:` loop. This also seems to expose a potential bug: currently, if there are multiple SQL statements in `sql`, `execution_info` only contains result from the _last_ SQL statement, not all results from all staements. Not sure if that’s intended though.

[2022-05-10 19:06] uranusjr commented on #23605
Probably we can work around this by explicitly joining `RenderedTaskInstanceFields`? cc @dstandish

[2022-05-10 19:10] #23615 closed

[2022-05-10 19:46] dstandish commented on #23605
The query was changed to left join (instead of a not exists) in https://github.com/apache/airflow/pull/23528

So that should fix this. cc @ashb

[2022-05-10 20:43] #20966 closed

[2022-05-10 22:39] eladkal commented on #23623
It doesnt make sense to collect return values of all queries. Only value returned from last query should be considered.

[2022-05-11 01:13] SamWheating opened #23632 "Broken Source Code Links in Operator Guides"
### What do you see as an issue?

The `[source]` links in the operator HowTo guides seem to be 404'ing:

<img width="987" alt="image" src="https://user-images.githubusercontent.com/16950874/167749019-aee534e1-cb5b-46c2-ab1f-92f9fe0e87c9.png">

([source](https://airflow.apache.org/docs/apache-airflow/stable/howto/operator/bash.html))

I tried to fix this but got kinda lost in the docs build system.

[2022-05-11 05:12] tirkarthi commented on #23621
39ea8722c04fb1c0b286b4248a52e8d974a47b30 looks like a relevant commit . Also https://github.com/apache/airflow/pull/12312#discussion_r522666427

cc: @turbaszek

[2022-05-11 05:46] kaojunsong commented on #23609
@potiuk OK, sure.

[2022-05-11 05:50] eladkal commented on #23632
see https://github.com/apache/airflow/issues/23480

[2022-05-11 05:52] eladkal commented on #23626
I assigned the issue to you. Feel free to raise PR

[2022-05-11 06:21] potiuk commented on #23632
Yep. Known issue. Maybe time to fix it.

[2022-05-11 06:25] #21087 closed

[2022-05-11 07:04] edithturn commented on #8893
@eladkal let me take this one.

[2022-05-11 07:58] orsagiv94 opened #23638 "ability to assign permissions to role by DAGs' Owner (additional to DAGs' name)"
### Description

When creating/updating Airflow role for a specific team,
when need to define his permissions for a set of DAGs whose relevant to that team, we'll have to add **manually** each relevant permission for each associated DAG's name ( = number of permissions X number of DAGs).

we need the ability to define role permissions based on DAG's Owner name which will reduce a lot of manual wor

[2022-05-11 08:03] humit0 opened #23639 "Triggerer process die with DB Deadlock"
### Apache Airflow version

2.2.5

### What happened

When create many Deferrable operator (eg. `TimeDeltaSensorAsync`), triggerer component died because of DB Deadlock issue.

[code]

### What you think should happen instead

Triggerer processor does not raise Deadlock error.

### How to reproduce

Create "test_timedelta" DAG and run it.

[code]

### Operating System

uname_result(system='Linux',

[2022-05-11 11:56] bhavaniravi opened #23642 "Dynamic Task Crashes scheduler - Non Empty Return"
### Apache Airflow version

2.3.0 (latest released)

### What happened

I have a dag that looks like this.
When I uncomment `py_job`(Dynamically mapped PythonOperator) it works well with `pull_messages` (Taskflow API).
When I try to do the same with `DatabricksRunNowOperator` it crashes the scheduler with error

Related issues #23486

### Sample DAG

[code]

### Error

[code]

### What you think s

[2022-05-11 12:08] tirkarthi commented on #23642
Can you please try with literal value `[["hi"], ["hello"]]` to `jar_params` instead of `pull_messages` ? On initial look this looks similar to https://github.com/apache/airflow/issues/23533

[2022-05-11 12:37] bhavaniravi commented on #23642
I did pass normal lists instead of task, it worked fine

[2022-05-11 13:35] allenhaozi opened #23645 "SparkKubernetesOperator can not get spark driver log"
### Apache Airflow version

2.2.5

### What happened

Startup successful, but no completed driver log visible in airflow

### What you think should happen instead

_No response_

### How to reproduce

_No response_

### Operating System

NAME="Ubuntu" VERSION="20.04.4 LTS (Focal Fossa)" ID=ubuntu ID_LIKE=debian PRETTY_NAME="Ubuntu 20.04.4 LTS" VERSION_ID="20.04" HOME_URL="https://www.ubuntu.com/"

[2022-05-11 13:55] tagoad commented on #23411
Any update on this? a lot of our DAGs are basically unusable because the sensors are getting marked for retry instead of reschedule.

[2022-05-11 14:44] uranusjr commented on #23623
Then the solution is probably to just add an additional check and return something else (probably `None`?) when `sql` is empty.

[2022-05-11 14:55] Swalloow commented on #23599
Verified https://github.com/apache/airflow/pull/22712, it's working

[2022-05-11 15:28] jsertel commented on #23626
Thank you. I will have to get up to speed on contributing, but I am interested.

[2022-05-11 18:20] alexott commented on #21379
sorry for delay, will have time only over weekend to review

[2022-05-11 19:26] cyoung43 opened #23652 "Dbt Operators no longer working after migrating to Airflow 2.3.0"
### Apache Airflow version

2.3.0 (latest released)

### What happened

Since migrating to Airflow 2.3.0, `DbtRunOperator` -- and any DBT related operator, are no longer working in production. `DBT` is not recognized as a command, even with dependency packages installed. I have a dbt project already initialized, and am also specifying the path to the dbt directory.

[code]

I have also tried using

[2022-05-11 19:44] potiuk commented on #17481
If you are on AWS then you likely need to apply https://aws.amazon.com/blogs/aws/keeping-time-with-amazon-time-sync-service/

[2022-05-11 20:58] davidcaron commented on #23411
I found a fix for this. But I think I would need a bit of help to submit a PR.

https://github.com/davidcaron/airflow/commit/21c4d3ce7d64755da1131a83dd22ab4cd2e03271

Basically, `ReadyToRescheduleDep._get_dep_statuses` receives a `TaskInstance`, but the `task` property of this task instance is a `SerializedBaseOperator` object, not the original object. And this serialized object doesn't have the `

[2022-05-11 21:04] kalyani-subbiah commented on #23514
Hi I just created a PR for this issue!

[2022-05-11 23:44] potiuk opened #23659 "Status of testing Providers that were prepared on May 12, 2022"
### Body

I have a kind request for all the contributors to the latest provider packages release.
Could you please help us to test the RC versions of the providers?

Let us know in the comment, whether the issue is addressed.

Those are providers that require testing as there were some substantial changes introduced:

## Provider [amazon: 3.4.0rc1](https://pypi.org/project/apache-airflow-providers

[2022-05-12 00:13] #15670 closed

[2022-05-12 00:24] raphaelauv commented on #23659
#23518  -> WORK

[code]

[2022-05-12 01:43] edithturn commented on #23085
Thanks, Jarek! :)

[2022-05-12 07:14] megha120 opened #23663 "401 error while using Airflow API"
### Apache Airflow version

2.1.0

### What happened

Getting the following error while trying out the Airflow API:
{
    "detail": null,
    "status": 401,
    "title": "Unauthorized",
    "type": "https://airflow.apache.org/docs/apache-airflow/2.1.0/stable-rest-api-ref.html#section/Errors/Unauthenticated"
}

### What you think should happen instead

The API should work properly as I am passing t

[2022-05-12 07:31] ephraimbuddy commented on #23663
You need to set the configuration for basic authentication properly. See https://airflow.apache.org/docs/apache-airflow/2.1.0/security/api.html, let me know if it worked for you, if not I will reopen the issue

[2022-05-12 07:31] #23663 closed

[2022-05-12 07:41] megha120 commented on #23663
I have set the configuration to airflow.api.auth.backend.basic_auth. You can check in the screenshot below,
<img width="540" alt="auth" src="https://user-images.githubusercontent.com/65885522/168017997-f3360931-3deb-4ed9-8796-060e2e32f63e.png">

But it is still not working.

[2022-05-12 08:06] NickYadance opened #23664 "Max dagrun limitation should not stop failed dagrun from retry"
### Description

The configuration option `max_active_runs_per_dag` defines the max dagrun for a DAG. By default Airflow will spawn 16 dagruns if should. But when all 16 dagruns have been spawned, they are stoping previous dagruns from retry cuz there is not enough room.
A simple example is that say i define DAG with `catchUp` and `depends_on_past`.
[code]
So Airflow will spawn all 16 dagrun for m

[2022-05-12 09:41] thinhnd2104 opened #23666 "Add transfers operator S3 to SQL / SQL to SQL"
### Description

Should we add S3 to SQL to aws transfers?

### Use case/motivation

1. After process data from spark/glue(more), we need to publish data to sql
2. Synchronize data between 2 sql databases.

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](htt

[2022-05-12 10:35] jayantsande25 commented on #17815
@rsg17 @eladkal @SCrocky
Is anyone willing to working on this Incomplete piece ? It has to be a sample/demo code to integrate with Salesforce Rest and BULK APIs 2.0.
Much appreciated if anyone is willing to help here

[2022-05-12 11:44] alexott commented on #23659
Tested Databricks provider:
* #22886 - isn't listed in the Changelog explicitly because it was merge with squash
* #23199 - primarily documentation

[2022-05-12 11:51] potiuk commented on #23659
Yeah. those are mentioned in the changelog actually but missing from the "Status" here - thanks for checking it too :)

[2022-05-12 11:52] ephraimbuddy commented on #23550
Just to mention that this works:
[code]

[2022-05-12 12:00] tirkarthi commented on #23652
Can you try passing "dbt_bin" with full path to dbt binary? Just to add the operator is not part of the core airflow codebase and comes from https://github.com/gocardless/airflow-dbt

[2022-05-12 12:15] potiuk commented on #23652
Yeah. Please raise it to DBT team. This is issue witht their provider, not Airflow.

[2022-05-12 12:15] #23652 closed

[2022-05-12 12:17] ishiis opened #23669 "Fix ./breeze build-docs command options in docs/README.rst"
### What do you see as an issue?

I got an error when executing `./breeze build-docs -- --help` command in docs/README.rst.

[code]

### Solving the problem

"--" in option should be removed.

### Anything else

_No response_

### Are you willing to submit PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://github.com/a

[2022-05-12 12:17] uranusjr commented on #23550
That’s interesting… I would assume it does not. Both examples go through XCom, and both should go through the same code path.

Regarding to the bug, I do currently have logic to mark existing expanded tasks as REMOVED if they are superfluous. Maybe that’s not working as intended.

[2022-05-12 12:19] potiuk commented on #23669
Just remove `--` . I will remove those "old" entries in docs.

[2022-05-12 12:20] potiuk commented on #23669
I have one more fix to do there - so I will do it together :)

[2022-05-12 12:33] ecodina opened #23670 "Airflow 2.3.0: can't filter by owner if selected from dropdown"
### Apache Airflow version

2.3.0 (latest released)

### What happened

On a clean install of 2.3.0, whenever I try to filter by owner, if I select it from the dropdown (which correctly detects the owner's name) it returns the following error:

`DAG "ecodina" seems to be missing from DagBag.`
Webserver's log:
[code]

Instead, if I write the owner's name fully and avoid selecting it from the dropdo

[2022-05-12 12:33] #23669 closed

[2022-05-12 13:15] uranusjr commented on #23621
An instance of a _task_ and a _task instance_ are two different concepts in Airflow (it’s super confusing I know). A task is a thing in a DAG (think about the boxes you see in the Graph View), while a task instance is something that gets executed inside a worker. A mapped task spawns multiple task instances to run in the worker, but those task instances belong to the same logical task, which doesn

[2022-05-12 14:16] gitruhul commented on #23512
Which library I should downgrade to get my upgrade going. Any suggestions, please?

[2022-05-12 15:10] uranusjr commented on #23621
I think this is hitting the late binding Python gotcha? #21278

Not entirely sure, it could be related to how tasks are actually generated internally.

[2022-05-12 15:57] ephraimbuddy commented on #23550
On trying it again, it failed....could be that I switched to pythonoperator without knowing.

[2022-05-12 16:19] eladkal commented on #23670
I can reproduce it on main branch.
I didn't know we can search for owners in "Search DAGs" box? If so then the text in the box needs to be edited.
Choosing owner there indeed doens't work

It raised Broken DAG message
`DAG "airflow" seems to be missing from DagBag.`

![Screen Shot 2022-05-12 at 19 15 50](https://user-images.githubusercontent.com/45845474/168121516-205ce613-5abc-41c4-96d1-6acdb50b6

[2022-05-12 17:27] uranusjr commented on #23550
Ah OK, that makes sense. So I guess we “just” need to fix the REMOVED logic.

[2022-05-12 17:31] lewismc commented on #17481
Excellent thank you @potiuk ... i think this might just be it. We can probably close https://issues.apache.org/jira/browse/AIRFLOW-6500

[2022-05-12 17:33] eladkal commented on #16921
@subkanthi are you still working on this?

[2022-05-12 17:34] eladkal commented on #17815
You are welcome to work on Salesforce docs but bulk is something that we currently don't support in Airflow so what kind of docs do you think we should have?
see https://github.com/apache/airflow/issues/16921

[2022-05-12 17:41] potiuk commented on #17481
We don't use JIRA any more. It's been put in READ-ONLY mode some 2.5 years ago :)

[2022-05-12 17:41] eladkal commented on #23666
SQL to SQL is GenericTransfer:
https://github.com/apache/airflow/blob/7277122ae62305de19ceef33607f09cf030a3cd4/airflow/operators/generic_transfer.py#L25

----------------
You are more than welcome to work on S3ToSql...
We have dedicated operators like: S3ToMySqlOperator, S3ToSnowflakeOperator
should you be able to create a generic transfer that can be great.

[2022-05-12 18:05] alexbegg commented on #16921
I am the one who left the last comment. @eladkal you are welcome to work on this, but if not and if nobody else will work on this, I am open to possibly working on it.

[2022-05-12 18:15] alexbegg commented on #17815
I just wanted to share my code example for initiating `SalesforceBulk` (Bulk API) from an existing `SalesfoceHook` (commented in the issue @eladkal referenced) in case someone is willing to include it in an Example DAG:
https://github.com/apache/airflow/issues/16921#issuecomment-964831154

[2022-05-12 18:22] eladkal commented on #16921
feel free

[2022-05-12 18:24] eladkal commented on #17815
If we don't have SalesforceBulk hook and operators I don't think Airflow needs example for usage of Bulk API.

I'm closing this issue as to my understanding it focuses on bulk.
lets keep it in https://github.com/apache/airflow/issues/16921

[2022-05-12 18:24] #17815 closed

[2022-05-12 18:26] subkanthi commented on #10893
Is this being worked on, great to contribute to the Async version

[2022-05-12 18:39] ephraimbuddy commented on #23550
I think fixing that would work if the dag file is edited. For a dynamically generated mapping args as in the issue, it won't get to the code because the dag_run.dag_hash would still match the latest serialized dag hash, right? https://github.com/apache/airflow/blob/7277122ae62305de19ceef33607f09cf030a3cd4/airflow/jobs/scheduler_job.py#L1188

[2022-05-12 18:55] EdwardRadical commented on #23621
I don't see how it relates to be honest.

The issue here seems to be that `_get_unique_task_id`, return the base, unchanged, task_id each time `expand` is called as the task is part of a task group:

[code]

This normally works because task groups do overwrite this task_id later by prefixing the task group identifier before adding it to the DAG:

[code]

`expand` is also using this `_get_unique_ta

[2022-05-12 19:15] pingzh opened #23679 "exceptions.DagRunNotFound: DagRun for example_bash_operator with run_id or execution_date of"
### Apache Airflow version

main (development)

### What happened

trying to run airflow tasks run command locally and force `StandardTaskRunner` to use `_start_by_exec` instead of `_start_by_fork`

[code]

However, it always errors out:

see https://user-images.githubusercontent.com/8662365/168164336-a75bfac8-cb59-43a9-b9f3-0c345c5da79f.png

[code]

i have checked the dag_run does exist in my db:

[2022-05-12 19:16] eladkal commented on #10893
The issue here is that this means adding new provider and right now we are discussing in the mailing list about approch to new providers
https://lists.apache.org/thread/nvfc75kj2w1tywvvkw8ho5wkx1dcvgrn

Maybe you can share your thoughts on this in the mailing list?

[2022-05-12 19:16] pingzh commented on #23679
the root cause should be https://github.com/apache/airflow/blob/749e53def43055225a2e5d09596af7821d91b4ac/airflow/cli/commands/task_command.py#L106

when the `run_id` is passed in, instead of the `execution_date`, this query uses `None` as the `execution_date` to query dag_run

[2022-05-12 19:35] rafficghani opened #23682 "airflow scheduler ERROR - Exception when executing SchedulerJob._run_scheduler_loop"
### Apache Airflow version

2.2.2

### What happened

The scheduler goes down

[2022-05-12 11:14:06,586] {scheduler_job.py:1114} INFO - Resetting orphaned tasks for active dag runs
[2022-05-12 11:14:06,806] {scheduler_job.py:644} ERROR - Exception when executing SchedulerJob._run_scheduler_loop
Traceback (most recent call last):
  File "/airflow/airflowvirt/lib64/python3.6/site-packages/airflow/jo

[2022-05-12 19:43] ephraimbuddy commented on #23682
Looks like it's fixed in https://github.com/apache/airflow/pull/22259

[2022-05-12 19:47] #23042 closed

[2022-05-12 19:48] #23580 closed

[2022-05-12 20:03] uranusjr commented on #23682
Duplicate of #22160

[2022-05-12 20:03] #23682 closed

[2022-05-12 20:24] pingzh commented on #23540
found the root cause. working on a fix.

however, there is another issue that blocks me https://github.com/apache/airflow/issues/23679

[2022-05-12 21:21] pingzh commented on #23679
the `_start_by_exec` is broken in `StandardTaskRunner`

The `session` was not configed correctly. This is why it always complains `DagRunNotFound`:

![image](https://user-images.githubusercontent.com/8662365/168170032-6e226844-823d-4fed-96e8-dc7f8d843aee.png)

[2022-05-12 22:12] ddeepwel opened #23688 "_TaskDecorator has no __wrapped__ attribute in v2.3.0"
### Apache Airflow version

2.3.0 (latest released)

### What happened

I run a unit test on a task which is defined using the task decorator. In the unit test, I unwrap the task decorator with the `__wrapped__` attribute, but this no longer works in v2.3.0. It works in v2.2.5.

### What you think should happen instead

I expect the wrapped function to be returned. This was what occurred in v2.2.5

[2022-05-12 22:23] uranusjr commented on #23688
Unfortunately the decorator using `functools.wraps()` under the hood (which is responsible for `__wrapped__`) is an implementation detail, and we never thought about keeping compatibility. It could still be added easily enough though (just add a `@property` on `_TaskDecorator`) and I guess no-one would really complain. Would you mind working on a PR for this?

[2022-05-12 22:29] alexbegg opened #23689 "Data Interval wrong when manually triggering with a specific logical date"
### Apache Airflow version

2.2.5

### What happened

When I use the date picker in the “Trigger DAG w/ config” page to choose a specific logical date for some reason on a scheduled daily DAG the Data Interval Start (circled in red) is 2 days before the logical date (circled in blue), instead of the same as the logical date. And the Data Interval End is one day before the logical date. So the inte

[2022-05-12 22:37] snjypl commented on #22336
this issue has been  fixed by https://github.com/apache/airflow/pull/22837
@ephraimbuddy  maybe we could close it?

[2022-05-12 22:39] uranusjr commented on #23689
By default, manually triggered runs have their logical date at the _end_ of the data interval, not the start. That still does not explain the difference though (I would expect the data interval to be between May 8–9).

[2022-05-12 22:47] ddeepwel commented on #23688
I would be happy to work on this, but I don't really know where to begin.

[2022-05-12 22:49] alexbegg commented on #23689
I confirmed, if I triggered the DAG without using "Trigger DAG w/ config", it had the datetime of "now for a logical date, and the data interval end is the end of the most recent interval (09:30 UTC today), along the lines of what you said.

However if I explicitly choose the logical date, I would expect it to either do the same as that, at the very least.

On a related note, I sort of think it sh

[2022-05-12 22:57] rsg17 commented on #21708
@potiuk did you mean to assign me?

[2022-05-12 23:00] thinhnd2104 commented on #23666
In my case genneric transfers is enough because it does not have update or upsert rows.

[2022-05-12 23:07] uranusjr commented on #23688
Simply search in `airflow/decorators/base.py`:

1. In class `_TaskDecorator` (the one with a leading underscore), add

[code]

3. In class `TaskDecorator` (the one _without_ an underscore), add

[code]

The first class adds the actual property (so you can access this in tests), while the other declares the interface. The second one is not strictly necessary, but it’s good to provide it for editor

[2022-05-13 00:01] khjomaa opened #23692 "Conflicts with airflow constraints for airflow 2.3.0 python 3.9"
### Apache Airflow version

2.3.0 (latest released)

### What happened

When installing airflow 2.3.0 using pip command with "all" it fails on dependency google-ads

`pip install "apache-airflow[all]==2.3.0" -c "https://raw.githubusercontent.com/apache/airflow/constraints-2.3.0/constraints-3.9.txt"`

    apache-airflow[all] 2.3.0 depends on google-ads>=15.1.1; extra == "all"
    The user requested

[2022-05-13 02:05] AlekseiSaff commented on #23692
https://github.com/apache/airflow/discussions/23436

[2022-05-13 03:05] chlee1016 opened #23693 "Airflow backfill command not working; Tasks are stuck in scheduled forever."
### Apache Airflow version

2.2.1

### What happened

When I try to backfill using `airflow dags backfill ...`, the 'Run' shows running but the tasks are stuck in scheduled state forever.

1. Code for DAG to reproduce the problem

[code]

2. Airflow backfill CLI

[code]

3. Result
<img width="472" alt="image" src="https://user-images.githubusercontent.com/36870121/168201159-fcdf7640-2bf9-428f-849e

[2022-05-13 04:32] ishiis commented on #23659
#23614 is tested.

[2022-05-13 04:35] thinhnd2104 commented on #23659
#23470 -> work on my production environment.

[2022-05-13 04:55] jaegwonseo opened #23694 "add exclude columns option to BaseSQLToGCSOperator"
### Description

when transfer data from rdb to gcs, some column should be droped for security issue

### Use case/motivation

When retrieving data from each table, mainly query to get all columns as shown below.
[code]
we can use specify the columns to import for each table, but in this case, we have to know the schema of all tables.
By adding exclude_column args to the operator as shown below, d

[2022-05-13 05:25] michaelguanzon commented on #7974
Hi, any updates on this? Has this been implemented?

[2022-05-13 05:48] megha120 commented on #23663
@ephraimbuddy It is still not working for me, kindly assist.

[2022-05-13 05:52] rahulgoyal2987 commented on #23396
Pull requwst is merged, So closing this issue

[2022-05-13 05:52] #23396 closed

[2022-05-13 06:14] #22336 closed

[2022-05-13 06:17] potiuk commented on #21708
Sure :)

[2022-05-13 08:42] ecodina commented on #23670
I accidentally found we could filter by owner from this textbox on Airflow 2.2.5, where it worked as expected. Thanks for mentioning the workaround!

[2022-05-13 08:57] ImNiceMan commented on #12136
where can I import EarnestKubernetesPodOperator?

ImportError: cannot import name 'EarnestKubernetesPodOperator' from 'airflow.providers.cncf.kubernetes.operators.kubernetes_pod' (/usr/local/lib/python3.7/site-packages/airflow/providers/cncf/kubernetes/operators/kubernetes_pod.py

[2022-05-13 09:30] potiuk commented on #23692
`all<` is a development set of extras and it only works welll in `main` branch.

PLease use specific set of extras and providers you want to install rather than installing `all` - this should work fine.

You should not use it to install all dependencies of airflow in released airflow version. It is impossible to make it really without heavy complication of setup.py. I will make it clear in the doc

[2022-05-13 09:37] potiuk commented on #23692
Documentation clarification in #23697

[2022-05-13 10:06] EdwardRadical commented on #23621
At the end of the day it seems that
[code]
Is only executed by inheritors of `BaseOperator`. `MappedOperator` does not inherit from it so it never does execute the line that would prefix correctly the task_id, hence the duplicate key error thrown later, when `self.dag.add_task` is called. Maybe a simple fix would be to add those two lines to `MappedOperator` too, although there are other places th

[2022-05-13 10:17] potiuk commented on #12136
What? `EarnestKubernetesPodOperator` does not exist in Airflow Codebase. You must have some local modifications in your code.

[2022-05-13 10:20] ImNiceMan commented on #12136
Can you please give me a example?

[2022-05-13 11:32] ImNiceMan commented on #12136
i dont know how to do ?

[2022-05-13 11:33] #23692 closed

[2022-05-13 11:35] jianyuan opened #23698 "airflow db clean -"
### Apache Airflow version

2.3.0 (latest released)

### What happened

I am running on the Kubernetes Executor, so Celery-related tables were never created. I am using PostgreSQL as the database.

When I ran `airflow db clean`, it gave me the following exception:

[code]

### What you think should happen instead

_No response_

### How to reproduce

1. Use an executor that do not require Celery
2

[2022-05-13 11:36] potiuk commented on #12136
Neither do I, sorry

[2022-05-13 12:37] aehm03 opened #23700 "Tasks are stuck on scheduled, worker can not insert into celery_taskmeta"
### Apache Airflow version

2.3.0 (latest released)

### What happened

After updating to 2.3.0 tasks get stuck in the scheduled status. The pool shows the full number of queued slots, but none of them is running. If I free up a slot, the following behaviour can be observed in the scheduler/worker logs.
Scheduler:
[code]

Worker:
[code]

So the schedulers are constantly busy resetting orphaned tas

[2022-05-13 12:41] aehm03 commented on #23700
Related: #23693

[2022-05-13 13:32] jrggggg opened #23701 "Postgres BaseHook.get_connection(conn_id).get_uri() returns "postgres" dialect"
### Apache Airflow version

2.3.0 (latest released)

### What happened

Postgres BaseHook.get_connection(conn_id).get_uri() returns "postgres" dialect

### What you think should happen instead

It should return "postgresql"

### How to reproduce

[code]

### Operating System

Debian GNU/Linux 11 (bullseye)

### Versions of Apache Airflow Providers

apache-airflow-providers-postgres==4.1.0

### Dep

[2022-05-13 13:42] potiuk commented on #23701
Because you have it defined this way. Make sure that your connection is properly defined with postgresql:// or postgres:// prefix, then it will be returned properly.

[2022-05-13 13:42] #23701 closed

[2022-05-13 13:47] jrggggg commented on #23701
Hi Jarek, the connection was configured via the Airflow GUI, so I don't explicitly set the dialect anywhere. The connection works perfectly when used in a PostgresOperator task for example, but not when retrieving the uri via BaseHook.

[2022-05-13 14:03] potiuk commented on #23701
What is your connection URI ?

[2022-05-13 14:21] jrggggg commented on #23701
This connection was just created via the Connections gui

[code]

[2022-05-13 14:38] potiuk commented on #23701
Ah sure. it will be like that you just use it wrongly:

[code]

[2022-05-13 15:11] bbovenzi commented on #20582
This should be fixed by: https://github.com/apache/airflow/pull/23462

[2022-05-13 15:11] #20582 closed

[2022-05-13 18:09] snjypl commented on #23659
https://github.com/apache/airflow/pull/23394 is tested.

[2022-05-13 18:18] erdos2n commented on #23246
@ephraimbuddy @ashb about to write some test cases. Should this be a `PATCH` request since this updates a task instance state as opposed to `POST` which is typically used to create the task instance?

[2022-05-13 21:01] kolfild26 commented on #23605
so, it'll be released in v.2.3.1, right?
now it's included in v2-3-test, but not in v2-3-stable.

[2022-05-13 21:08] pingzh commented on #23679
looks like the bug is introduced in this pr https://github.com/apache/airflow/pull/22284/files.

my `airflow.cfg` does not have `[database]` section, but i have `sql_alchemy_conn` under `core`. so when the StandardTaskRunner creates the tmp cfg file, `sql_alchemy_conn` is in both `[database]` and `[core]`. the value of `sql_alchemy_conn` in `[database]` is the `sqlite`, while `sql_alchemy_conn` in

[2022-05-14 07:07] potiuk commented on #23605
Correctl v2-3-test is there for cherry-picking changes from `main` and we merge it to v2-3-stable when we release.

[2022-05-14 07:10] potiuk commented on #23679
AAARGH.

[2022-05-14 07:18] potiuk commented on #23679
Good diagnosis @pingzh . Confirmed!

[2022-05-14 07:46] moshederri opened #23705 "Adding PodAnnotations for Redis Statefulset"
### Description

Most Airflow services come with the ability of adding annotation, a part from Redis. This feature request adds this capability into the Redis helm template as well.

### Use case/motivation

Specifically for us, annotations and labels are used to integrate Airflow with external services, such as Datadog, and without it, the integration becomes a bit more complex.

### Related issu

[2022-05-14 12:11] jpipas commented on #23588
Just wanted to update, that this appears to only be happening for DAGs that have TaskGroups.  When viewing my "non-taskgroup" DAGs, the grid-view works as expected.  When trying to select individual tasks on a DAG with task groups (and therefore have expand/collapsible grid), clicking on an individual task the entire grid view disappears.

[2022-05-14 13:13] dotsering commented on #7989
@dimberman Was the ticket fixed and if so, which version of airflow has the solution?

[2022-05-14 16:59] uranusjr commented on #23246
PATCH sounds like a reasonable choice to me.

[2022-05-15 02:14] shawnngtq commented on #23512
I don't think downgrade library will work? Seems like we have to wait for v2.3.1.

[2022-05-15 03:34] Bowrna commented on #23227
Any update about this?

[2022-05-15 06:23] ap-kulkarni commented on #11305
Apologies for a long hiatus on this one. Could not work on this due to personal issues. I have started analyzing the requirement to integrate with Pomerium and have few questions.

1. When request is received within airflow will the user be already authenticated with Pomerium? i.e. When validating request in the auth backend, should the code directly look for the header `X-Pomerium-Jwt-Assertion`

[2022-05-15 07:35] Bowrna commented on #23538
@potiuk This will include the changes in `breeze tests` command  to add options for parallelism, run-in-parallel, python-versions etc. Am i right in understanding that part?

[2022-05-15 10:01] potiuk commented on #23538
Correct.

[2022-05-15 10:12] Bowrna commented on #23538
Could you point me to any one of the tests in ci.yml file that has to be replaced with Breeze @potiuk ?

[2022-05-15 12:18] potiuk commented on #23538
Sure. Any test that is currently run by "ci_run_airflow_testing.sh":

https://github.com/apache/airflow/blob/main/.github/workflows/ci.yml#L1061

[2022-05-15 16:47] anthonyjgraff commented on #23659
#22965 -> tested DAGs in development environment against v10 of Google Ads API - all worked as expected

[2022-05-16 07:49] mik-laj commented on #11305
I have no experience with this platform, but a non-privileged user should not be able to log in and this is the main requirement.

We should create a new provider and define all requirements explicitly. Here is our doc about dependencies and upper-bound version of Airflow dependencies: https://github.com/apache/airflow#approach-to-dependencies-of-airflow
lower bound should point to the version you

[2022-05-16 10:17] snjypl commented on #23356
duplicate of [#23145](https://github.com/apache/airflow/issues/23145)

[2022-05-16 11:05] ishiis opened #23722 "Add fields to CLOUD_SQL_EXPORT_VALIDATION"
### Apache Airflow Provider(s)

google

### Versions of Apache Airflow Providers

apache-airflow-providers-google==5.0.0

### Apache Airflow version

2.1.2

### Operating System

GCP Container

### Deployment

Composer

### Deployment details

composer-1.17.1-airflow-2.1.2

### What happened

I got a validation warning.

Same as #23613.

### What you think should happen instead

The following fiel

[2022-05-16 11:47] potiuk commented on #23659
Last chance for some more testing :)

[2022-05-16 15:09] patryk126p opened #23727 "Airflow 2.3 scheduler error: 'V1Container' object has no attribute '_startup_probe'"
### Apache Airflow version

2.3.0 (latest released)

### What happened

After migrating from Airflow 2.2.4 to 2.3.0 scheduler fell into crash loop throwing:

[code]
kubernetes python library version was exactly as specified in constraints file: https://raw.githubusercontent.com/apache/airflow/constraints-2.3.0/constraints-3.9.txt

### What you think should happen instead

Scheduler should work

##

[2022-05-16 16:27] bbovenzi commented on #23602
Yes, so [here](https://github.com/apache/airflow/blob/main/airflow/www/views.py#L2754) we're just iterating through every single `next_dagrun_info` for a whole year. We should be able to interpret the schedule better than that.

UI-wise we could split the requests to show at least something to the user, but really, we need to improve the webserver code.

[2022-05-16 16:31] ap-kulkarni commented on #11305
Thank you @mik-laj. I will try setting minimal environment required for this. Will post questions here if stuck anywhere.

[2022-05-16 17:17] serrovsky-pt opened #23729 "ElasticSearch Logs not working"
### Apache Airflow version

2.2.4

### What happened

I'm set up my airflow logs to be stored on elasticsearch however when I get to the DAG execution I can't see the log (message below)

*** Log BE.vehicle_sync_get_sync_status_2022_05_16T17_06_09_986757_1 not found in Elasticsearch. If your task started recently, please wait a moment and reload this page. Otherwise, the logs for this task instanc

[2022-05-16 18:28] aspain opened #23733 "Task Instance pop-up menu - some buttons not always clickable"
### Apache Airflow version

2.3.0 (latest released)

### What happened

See recorded screencap - in the task instance pop-up menu, sometimes the top menu options aren't clickable until you move the mouse around a bit and find an area where it will allow you to click

This only seems to affect the `Instance Details`, `Rendered, Log`, and `XCom` options - but not `List Instances, all runs`, or `Filt

[2022-05-16 18:41] dacort commented on #20215
Hi folks - we're working internally at AWS on this. If folks here are currently in the preview and interested in testing this, please reach out to me. I'm `dacort` on Twitter/LinkedIn/and the Airflow Slack.

[2022-05-16 19:15] #22969 closed

[2022-05-16 19:16] #23722 closed

[2022-05-16 20:51] alex-astronomer commented on #23642
I've found that by adding a manual dependency, these tasks execute fine.  Here is an example of that with the DAG given in the OP:

[code]

This appears to just be a problem with the way that task dependencies are automatically implemented for the task flow operator when using different operators.  It depends on the operator that is being mapped.  The dependencies are automatically created when ma

[2022-05-16 21:18] potiuk commented on #23659
Thanks everyone! The providers are released now!

[2022-05-16 21:18] #23659 closed

[2022-05-16 22:41] bbovenzi commented on #23505
Actually, I think this is acceptable behavior. If a user wants to close the details panel, then it is on them to expand it again. Generally, we don't want to move page elements that are below the cursor. (How do you undo an action?)

[2022-05-16 22:41] #23505 closed

[2022-05-16 22:53] skyboi1233 commented on #23017
Why close it

Sent from Yahoo Mail for iPhone

On Monday, May 16, 2022, 5:43 PM, Brent Bovenzi ***@***.***> wrote:

Closed #23017.

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you are subscribed to this thread.Message ID: ***@***.***>

[2022-05-17 00:49] bmaury opened #23740 "Received the message "WARNING - We expected to get frame set in local storage but it was not" when trying to reference a SQL script in the MySQLOperator"
### Apache Airflow version

2.2.5

### What happened

When trying to use a file path to a sql file, rather than a SQL statement, in the MySQLOperator, the script errors our with the 'jinja2.exceptions.TemplateNotFound' exception, and I notice this warning as well.  See attached log.
[mysql_operator_tester_test_mysql_2022-05-11T20_51_32.228555+00_00_6.log](https://github.com/apache/airflow/files/87

[2022-05-17 02:10] TreyYi commented on #20215
@dacort I am in the preview now, so just sent you a message on Twtitter!

[2022-05-17 02:58] #23733 closed

[2022-05-17 03:05] gastonlau opened #23741 "Unable to install Airflow 2.0.2 using conda-forge"
### Apache Airflow version

2.0.2

### What happened

I was not able to install Airflow 2.0.2 to my EC2 instance using conda-forge starting from yesterday evening. The installation was successful earlier on the same day. Here is the complete command output :
[code]

### What you think should happen instead

_No response_

### How to reproduce

Running a bash script:
[code]

### Operating System

A

[2022-05-17 06:24] potiuk commented on #23740
The warning is irrelevant (and it's been fixed in 2.3.0).
The root cause is the problem with missing template - you need to fix it and make sure the template is available. note that template files should be relative to the location of dags and you should place them in dag file rather than trying to set an absolute value).

See this FAQ for details: https://airflow.apache.org/docs/apache-airflow/st

[2022-05-17 09:38] Bowrna commented on #23538
@potiuk Currently we check only if the versions are right and docker is running. We don't check in code if the container started is healthy. Do we need to check that before running command and error out in case if it is unhealthy?

[2022-05-17 09:38] Bowrna commented on #23538
@potiuk Can you point me to the place where the current output of tests is logged?

[2022-05-17 10:00] Bowrna commented on #23538
Could i check by using `tqdm` to show the progress? @potiuk

[2022-05-17 11:34] spatocode commented on #22675
@potiuk I'll be picking this up

[2022-05-17 11:58] potiuk commented on #22430
Tool to automatically sync all the issues adeded : https://github.com/apache/airflow/pull/23745 (cc: @bhirsz @mnojek )

[2022-05-17 12:03] potiuk commented on #22675
Assigned you!

[2022-05-17 12:18] #23411 closed

[2022-05-17 12:34] rozza opened #23748 "Update integrations.json"
### What do you see as an issue?

Some providers with logos are missing their logos on the main page.  #13717 added missing logs but it looks like they haven't been included in integrations.json  - For example: https://github.com/apache/airflow-site/blob/main/landing-pages/site/static/integrations.json#L503-L505 is missing a logo but it was added in #13717.

### Solving the problem

Rerun `./scrip

[2022-05-17 12:35] rozza commented on #23748
I'm not sure how to submit a pr to fix this one. I found this issue investigating #23746.

[2022-05-17 12:45] ptrhck commented on #18549
I am facing the very same issue on Airflow `2.2.2`

[code]

The Cloudwatch log group is already created using Cloudformation and the policies accordingly:

[code]

The Airflow cofiguration variables are the following:
[code]

Is this really a policy issue?

[2022-05-17 12:54] 2myeonggyu opened #23749 "external task sensor seems to not work"
### Apache Airflow version

2.3.0 (latest released)

### What happened

Hi there.
In my airflow tasks, I used external task sensor operator to complete dependent tasks.
It was perfectly work until updating airflow version from v2.0.1 to v2.3.0.
But now after updating, the operation is not working(auto failure) with no log...
Is there a bug? or did I miss someting?

Please help..

### What you thin

[2022-05-17 12:54] potiuk commented on #23748
Clone airflow-site repo and re-run generate-integrations I guess :)

[2022-05-17 12:56] potiuk commented on #23748
'Before using this script, set the environment variable AIRFLOW_SITE_DIRECTORY. This variable '
        'should contain the path to the airflow-site repository directory. '
        '${AIRFLOW_SITE_DIRECTORY}/docs-archive must exists.'

[2022-05-17 13:52] #23748 closed

[2022-05-17 14:08] Nyantechnolog opened #23752 "Docker images has non release version"
### Apache Airflow version

2.3.0 (latest released)

### What happened

I tried apache/airflow:2.3.0 and apache/airflow:2.3.0-python3.9 docker images
both of them has
Version: 2.3.0
Git Version: .**dev0**+6b772f68db4f80b01ede836ddd47437d4aa1b43d.dirty
at the bottom in ui.

My previous version was
Version: 2.2.5
Git Version: .**release**:2.2.5+7c3513903462511212df742263a49ec1f729ec0e

### What you

[2022-05-17 15:07] potiuk commented on #23752
This is not a problem with docker image - this is the problem with released Airlfow Version in PyPI. We are aware of that and we cannot change it in 2.3.0 but it will be fixed in the upcoming 2.3.1.

[2022-05-17 15:07] #23752 closed

[2022-05-17 15:07] potiuk commented on #23752
cc: @jedcunningham @ephraimbuddy - seems that one is important for a few people :)

[2022-05-17 15:50] ephraimbuddy commented on #23227
We can use the method we used here: https://github.com/apache/airflow/blob/325444e3813bc2439566f6f29c07ff3cfc038368/airflow/models/dag.py#L1381

Get a tuple of task_ids with the corresponding map_index instead of repeating ourselves on a new endpoint?

[2022-05-17 15:51] ephraimbuddy commented on #23227
I will think about this more

[2022-05-17 15:59] potiuk commented on #23663
I am afraid it does not work this way - if you have some findings and want to discuss it and share with others your errors - feel free to open  discussion and discuss it. Unless you can point out to the exact issue of airlfow - you can just hope on someone who has an experience with setting to help you - but this is not a "bug" of airflow and people here help in their free time/when they have enou

[2022-05-17 16:04] eladkal opened #23756 "Amazon EKS example DAG raises warnning"
### Body

[code]

https://github.com/apache/airflow/blob/dec05fb6b29f2aff454bcbc3939b3b78ba5b785f/airflow/providers/amazon/aws/example_dags/example_eks_templated.py#L82

example for waning raising in the CI:
https://github.com/apache/airflow/runs/6474027737?check_suite_focus=true#step:12:1010

We should fix it. The example DAG should not yield warnings.

### Committer

- [X] I acknowledge that I a

[2022-05-17 17:04] potiuk commented on #23701
Ah - I think you have wrong expectations.

The connections of Airlow have different URI schemes thatn those of sqlalchemy. Many of Airflow connections are not "sqlalchemy" connections and they have different semantics - in Airflow, "postgres://" is the only way you can refer to postgres conection. This is valid and expected. That's why - the connection itself will never return postgresql://.

I wo

[2022-05-17 17:39] gpoulin opened #23760 "OOME when using GCSObjectsWithPrefixExistenceSensor on bucket with many objects"
### Apache Airflow Provider(s)

google

### Versions of Apache Airflow Providers

apache-airflow-providers-google 7.0.0

### Apache Airflow version

2.3.0 (latest released)

### Operating System

GKE container-optimize OS

### Deployment

Official Apache Airflow Helm Chart

### Deployment details

_No response_

### What happened

When using `GCSObjectsWithPrefixExistenceSensor` on a bucket with a

[2022-05-17 17:44] jonathan-ostrander commented on #23760
Beat me to it while I was making the PR to fix this for us...

[2022-05-17 19:00] potiuk commented on #23174
I split it into separate pages to make it nicer. I think the duplication is useful - as mostly people focus on the IDE they know best. If you have power-users who do not need IDEs. they don't need QUICK conributor's guides.

[2022-05-17 19:05] snjypl commented on #23688
@uranusjr  @ddeepwel  do you mind if i create a PR for this?

[2022-05-17 19:12] pateash commented on #10893
Sorry for late response, I was OOH
As far as I understood from the conversation with @eladkal, that there is a wider conversation going on regarding whether we should add new providers or not.
I had code ready but decided not to raise a PR.
If we want to add a new provider I have changes ready.

[2022-05-17 19:23] uranusjr commented on #23688
Go ahead

[2022-05-17 20:00] ashb commented on #23588
Can someone give us a DAG and re-production steps please?

[2022-05-17 20:01] ashb commented on #23174
@RNHTTR Do Jarek's changes (now on main) fix this do you think? Can we close this now?

[2022-05-17 20:04] skadyan opened #23765 "Add support of tags assignment to job runs in EmrContainerOperator"
### Description

AWS allows to assign the tags to the individual EMR job runs on a virtual cluster. However, the  [EmrContainerOperator](https://github.com/apache/airflow/blob/820d8eb7c631eea7f9d5cbd23840d026e99ae304/airflow/providers/amazon/aws/operators/emr.py#L121) currently does not provide the ability to pass the custom tags for the job run.

Related docs:https://boto3.amazonaws.com/v1/docume

[2022-05-17 20:15] potiuk commented on #23174
Not yet on main :) need an approval for #23762 and they will close this one when merged :)

[2022-05-18 02:23] jedcunningham commented on #23642
Turns out it's related to whether the mapped field is a templated field or not. This is a simpler reproduction:

[code]

[2022-05-18 03:00] SolinTao opened #23770 "Received SIGTERM. Terminating subprocesses"
### Apache Airflow version

2.2.4

### What happened

My program flow is as follows:
Step1： parent process ——> Step2：start three child processes ( use multiprocessing.Process ) ——> Step3：wait for the child process to finish.
The following error message appears in step 3：
![image](https://user-images.githubusercontent.com/26808654/168945788-29e9939c-4058-4631-acce-8c5746496dab.png)

Why does the pr

[2022-05-18 03:11] pingzh commented on #23540
fixed in https://github.com/apache/airflow/pull/23684

[2022-05-18 03:11] #23540 closed

[2022-05-18 03:35] pingzh commented on #23770
hi @SolinTao what's this `parent process`? is this your airflow task?

also it will be great if you can include more log message before my selected area

![image](https://user-images.githubusercontent.com/8662365/168951941-d0317f4d-a18f-48f7-852e-a6a836c3b66b.png)

[2022-05-18 04:37] joshzana opened #23772 "New grid view in Airflow 2.3.0 has very slow performance on large DAGs relative to tree view in 2.2.5"
### Apache Airflow version

2.3.0 (latest released)

### What happened

I upgraded a local dev deployment of Airflow from 2.2.5 to 2.3.0, then loaded the new `/dags/<dag_id>/grid` page for a few dag ids.

On a big DAG, I’m seeing  30+ second latency on the `/grid` API, followed by a 10+ second delay each time I click a green rectangle.    For a smaller DAG I tried, the page was pretty snappy.

I w

[2022-05-18 07:54] ashb commented on #23174
🤦🏻

[2022-05-18 08:08] potiuk commented on #23174
Yeah @RNHTTR , any improvments proposals/input there are most welcome :).

[2022-05-18 08:50] potiuk commented on #23727
There are few options where it could get wrong:
*  you might have a startup_probe defined in one of your pod template files (can you please take a look and let us know). @patryk126p ?
*  there are some left-over serialized objects in airflow DB that are left-over from 2.2.4 using the old version of kubernetes library - in which case we might want to catch such error and fix or remove the serialize

[2022-05-18 09:28] patryk126p commented on #23727
We have no startup_probes defined and we are using the default pod template file that comes with the Helm chart - we only overwrite some options (resources limits and requests) via executor_config to match task needs

[2022-05-18 10:16] potiuk commented on #23727
So this is likely some serialization issue as I suspected.

[2022-05-18 10:18] potiuk commented on #23727
I will wait for @dstandish comment - maybe this is a "known" issue already, but for me it looks like one that should be solved in 2.3.1 as it's quite likely caused by the k8s library version migration between 2.2 and 2.3 in general.

[2022-05-18 10:49] vijaya-lakshmi-venkatraman commented on #23632
Hi
I would like to give a try on this if this is not already taken.

[2022-05-18 13:24] potiuk commented on #23632
Feel Free! :) Sphinx is a bit mysterious creature and asks many riddles, so any help is more than welcome.

[2022-05-18 13:25] potiuk commented on #23632
Some pointers here: https://github.com/apache/airflow-site/issues/536

[2022-05-18 13:25] potiuk commented on #23632
And possibly @mik-laj can help

[2022-05-18 13:37] RNHTTR commented on #23174
Sure, I'll have a look today. Would it make sense to migrate all the docs from .rst to markdown?

[2022-05-18 13:45] Jaxing opened #23776 "Backfill failes due to removed ExternalTaskMarker"
### Apache Airflow version

2.2.5

### What happened

I tried to run a backfill on a dag but got
[code]

Where `bigquery-processed-data` is an old dag that the current dag previously had a ExternalTaskMarker to.

### What you think should happen instead

I would expect it to ignore the old configuration of this dag and only use the current.

### How to reproduce

Not sure.
Possibly:
1. Create two

[2022-05-18 14:03] potiuk commented on #23174
In this case - absolutely. But I guess we can do it as next step.

[2022-05-18 14:17] potiuk commented on #8743
Nice.

Also I think the right solution to that is to add open-telemetry support rather than extend Airflow's DataDog StatsD integration. We have a nice AIP (Airflow Improvement Proposal): https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-49+OpenTelemetry+Support+for+Apache+Airflow   and discussion https://lists.apache.org/thread/1sdz7mx8j495h5vddngrwpxbx03p04z6  where any comments are welcom

[2022-05-18 14:17] potiuk commented on #8743
cc: @howardyoo

[2022-05-18 16:04] dstandish commented on #23727
taking a look at this.

[2022-05-18 16:40] bbovenzi commented on #23772
Oh yes, 30s is way too long. I would say there are probably 2 issues here:

1. Just getting the data together for the grid view in the webserver is taking too long.
2. The UI is taking too long to render or rerender the page on new selections

Could you share the network latency when you click auto-refresh and get a response in the network from `grid_data` or `tree_data`? That will help determine

[2022-05-18 16:42] bbovenzi commented on #23588
Also, what are the other js console errors aside from the get task endpoint? Even if that endpoint throws an error, the UI shouldn't crash

[2022-05-18 16:46] bbovenzi commented on #23772
Also, a temporary work around: changing the number of runs `num_runs` to something less than 25 should help a bit.

[2022-05-18 17:11] dstandish commented on #23727
@patryk126p can you provide a sample dag?  i attempted to repro using your steps (ran a simple dag in 2.2.4, upgraded to 2.3.0, ran it again) and there was no issue.  perhaps you are doing something with executor config? or perhaps specifying `full_pod_spec` in kubernetes pod operator?

[2022-05-18 17:31] derrickrose opened #23780 "Dag d'ont get scheduled when using timetable for timezone "Europe/Paris" with schedule time before 2 AM"
### Apache Airflow version

2.2.5

### What happened

Dag don't get scheduled when we use a DailyTimetable (a subclass of Timetable) which should trigger our dag every day at 1h15 AM CEST time.

Please note that we force our plugin to use the timezone "Europe/Paris" since other team working with the same shared airflow cluster use the timezone UTC (we cannot set "Europe/Paris" in airflow.cfg file

[2022-05-18 17:45] joshzana commented on #23772
Thanks for the quick response @bbovenzi !

* I enabled auto-refresh and am seeing 30+ seconds of latency from `/tree_data`
* I just noticed that when the grid is showing, other UI is also super laggy (eg the Auto Refresh toggle, and the Update button)
* You are correct that if I go down to `num_runs=5`, things are better.  I see 5 seconds latency from `/tree_data` and click lagginess is much impro

[2022-05-18 18:22] dstandish commented on #23727
actually yeah does look like you must be putting something in executor config.  please share the code related to this.  thanks.

[2022-05-18 18:46] kevin-woodward opened #23783 "Partial of a KubernetesPodOperator does not allow for limit_cpu and limit_memory in the resources argument"
### Apache Airflow version

2.3.0 (latest released)

### What happened

When performing dynamic task mapping and providing Kubernetes limits to the `resources` argument, the DAG raises an import error:

[code]

The offending code is:

[code]

But you can see this in any DAG utilizing a `KubernetesPodOperator.partial` where the `partial` contains the `resources` argument.

### What you think should

[2022-05-18 19:43] #23642 closed

[2022-05-18 20:12] vincbeck commented on #19272
Welcome to the community :) Unless I am mistaken `get_partition` does not exist, only `get_partitions` does. Sure! Feel free to create a for these 2 methods and I'll be more than happy to review it.

If you think other methods are needed, feel free to implement them too but implementing these 2 methods is already great :)

[2022-05-18 20:13] eladkal commented on #23783
But `resources` is not dict it's `V1ResourceRequirements` object

https://github.com/apache/airflow/blob/dbdcd0fd1de102f5edf77b9ef2a485860b05001b/airflow/providers/cncf/kubernetes/operators/kubernetes_pod.py#L181

[2022-05-18 20:14] eladkal commented on #21009
Closed in https://github.com/apache/airflow/pull/21686

[2022-05-18 20:14] #21009 closed

[2022-05-18 20:34] bbovenzi commented on #23417
Semi-related: https://github.com/apache/airflow/issues/23772

Either before or after this issue we should try to optimize the function to generate this grid data.

[2022-05-18 21:23] alex-astronomer opened #23786 "DAG Loading Slow with Dynamic Tasks - Including Test Results and Benchmarking"
### Apache Airflow version

2.3.0 (latest released)

### What happened

The web UI is slow to load the default (grid) view for DAGs when there are mapped tasks with a high number of expansions.

I did some testing with DAGs that have a variable number of tasks, along with changing the webserver resources to see how this affects the load times.

Here is a graph showing that testing.  Let me know if

[2022-05-18 21:24] alex-astronomer commented on #23786
@bbovenzi FYI

[2022-05-18 21:30] bbovenzi commented on #23786
Semi-related: https://github.com/apache/airflow/issues/23772

We probably need to refactor how we generate the `grid_data` endpoint.

[2022-05-18 21:52] bbovenzi commented on #23786
Oh yes, we shouldn't be sending all of the mapped instance data. We split that into a separate endpoint for a reason.

<img width="846" alt="Screen Shot 2022-05-18 at 5 43 46 PM" src="https://user-images.githubusercontent.com/4600967/169160895-ce4f42b6-6620-4159-8ca9-bb160a5c49d6.png">

[2022-05-18 23:27] uranusjr commented on #23783
Hmm, technically `KubernetesPodOperator` is breaking the Liskov substitution principle here, therefore does not respond well to base class changes. It is possible we could fix this without changing the operator, but ideally we should rename `resources` to something else so the operator’s implementation can become theoratically sound.

[2022-05-18 23:34] potiuk commented on #23538
No need really. The health checks are done in  Docker-compose already AND in the "entrypoint_ci.sh" when integrations are enabled.  The `cassandra` case is  the result of the first check. The main point there is to detect if the reason for failure was docker-compose health check failure (the first point) and print some better (red) error message in this case. You can simulate the case by modifying

[2022-05-18 23:41] potiuk commented on #23756
Yeah. we should remove those warnings!

[2022-05-19 00:06] potiuk commented on #10893
Yeah. We want to make sure we do the right thing - see the discussion. We will resume the discussion in the devlist after the Airflow Summit (and conversations during the Summit are most welcome).

[2022-05-19 01:02] kevin-woodward opened #23792 "Dynamic task mapping with KubernetesPodOperator maps too many tasks erroneously"
### Apache Airflow version

2.3.0 (latest released)

### What happened

Excess tasks are created when using dynamic task mapping with KubernetesPodOperator, but only in certain cases which I do not understand. I have a simple working example of this where the flow is:
- One task that returns a list XCom (list of lists, since I'm partial-ing to `KubernetesPodOperator`'s `arguments`) of length 3. Th

[2022-05-19 01:35] SolinTao commented on #23770
hi @pingzh ，parent process is my airflow task. There is no additional useful log information except the task log. I'm sorry I didn't make it clear,  I used [pandarallel ](https://pypi.org/project/pandarallel/)package in my program. I delete ‘multiprocessing.Process‘ and just keep pandarallel, but there was still an error message.
`{taskinstance.py:1413} ERROR - Received SIGTERM. Terminating subpro

[2022-05-19 04:43] patryk126p commented on #23727
@dstandish we are not using kubernetes pod operators nor specifying `full_pod_spec`. When it comes to `executor_config` we use something like this:
[code]
Metadata/annotations are added only in case of very long running and critical tasks, to be sure that kubernetes won't evict pods in the middle of processing.
Sample dag may be a little tricky to provide as in almost all dags we are using custom

[2022-05-19 04:45] vijaya-lakshmi-venkatraman commented on #23632
Thank you.
My understanding from the comment is that between 2.2.3 and the stable (2.3.0) version, the links have stopped working due to some change, possibly in the sphinx.ext.code module.
For the next step, should I be checking how to add a new module to Sphinx?

[2022-05-19 04:48] dstandish commented on #23727
@patryk126p please show the imports for those classes

If you can establish repro steps too that would be really helpful too

[2022-05-19 05:43] patryk126p commented on #23727
Here is the complete set of imports from all custom operators/sensors/hooks (somme of the imports are for type hints only):
[code]

[2022-05-19 07:17] potiuk commented on #23632
I personally do not know :). I have very little knowledge about sphinx. Big part of the task is to find out what to do really because possiblychange in sphinx triggered it but we do not know exactly what was the root cause.

[2022-05-19 07:20] potiuk commented on #23727
Are you sure that the kubernetes library has been upgraded everywhere in your system ? For me it looks like you have some image that has the old version of library still installed.

[2022-05-19 08:47] patryk126p commented on #23727
From inside container (same docker images were used for all components in helm chart):
[code]

[2022-05-19 08:55] tal181 commented on #13542
From Airflow doc :
 Re-run Tasks
Some of the tasks can fail during the scheduled run. Once you have fixed the errors after going through the logs, you can re-run the tasks by clearing them for the scheduled date. **Clearing a task instance doesn't delete the task instance record. Instead, it updates max_tries to 0 and sets the current task instance state to None, which causes the task to re-run**.

[2022-05-19 09:11] freshlu11 opened #23796 "Webserver shows wrong datetime (timezone) in log"
### Apache Airflow version

2.3.0 (latest released)

### What happened

same as #19401 , when I open task`s log in web interface, it shifts this time forward by 8 hours (for Asia/Shanghai), but it's already in Asia/Shanghai.
here is the log in web:
[code]

As you seee, UTC time is 2022-05-18T09:50:00，and My timezone is Asia/Shanghai(should shift forward 8 hours)，but it shift forward 16hours!

###

[2022-05-19 10:16] Vishal2696 opened #23798 "Failed to fetch log file from worker. Request URL missing either an 'http://' or 'https://' protocol."
### Apache Airflow version

2.2.3

### What happened

Airflow Webserver is unable to fetch the logfiles from worker. I'm using celery executor with the airflow components deployed in kubernetes as pods (under a deployment). Below is the error I see from the webserver UI

[code]

Below is the error I see in worker pod's STDOUT.
[code]

I tried setting the `AIRFLOW__CORE__HOSTNAME_CALLABLE` to "airf

[2022-05-19 11:52] rotemseekingalpha commented on #23588
I get first error message twice when then the second when the Grid view loads:
[code]
And finally, the following error twice when I click one of the tasks:
[code]

[2022-05-19 11:55] ishiis opened #23799 "Fix typo in cloud_sql.rst"
### What do you see as an issue?

CloudSqlInstanceImportOperator does not exist.

https://airflow.apache.org/docs/apache-airflow-providers-google/stable/operators/cloud/cloud_sql.html#cloudsqlinstanceimportoperator

<img width="1040" alt="image" src="https://user-images.githubusercontent.com/12693596/169287518-45e8dc8b-7e57-4357-ae11-ffa2642e1498.png">

### Solving the problem

Update CloudSqlInst

[2022-05-19 12:27] sp1thas commented on #23619
After explicitly specifying the `location` parameter, `BigQueryCheckOperator` seems to work as expected.

[2022-05-19 12:27] #23619 closed

[2022-05-19 13:06] norm commented on #23670
Yes, in 2.2.5 clicking on an autocompletion match would take you to home-with-search and in 2.3.0 it tries to take you to the matching DAG. Except it's not a DAG. Now if I can just track down the code that does that I can fix it. :)

[2022-05-19 13:26] potiuk commented on #23776
Indeed that's an interesting side-effect. We do not have DAG versioning implemented yet https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-36+DAG+Versioning so those kind of problems are expected. As described in https://airflow.apache.org/docs/apache-airflow/stable/index.html

We have currently no mechanisms to track version changes for DAGs, so if you do such structural changes, you might e

[2022-05-19 13:26] #23776 closed

[2022-05-19 13:46] Megha-Sai-Sree-PINNAKA commented on #17778
Hello. I tried comparing the structure of MongoDB's docs folder with ArangoDB's, it looked almost similar. But then we are able to see MongoDB in the official documentation of apache airflow whereas ArangoDB is not coming up. Is there anything exclusively to be done inorder to see Arango in the documentation https://airflow.apache.org/docs/?

[2022-05-19 14:18] Jaxing commented on #23776
Ok, thanks!

[2022-05-19 14:33] pateash commented on #17778
the docs are available here,
https://airflow.apache.org/docs/apache-airflow-providers-arangodb/1.0.0/

I am looking into, why they are not available on main page.

[2022-05-19 15:15] uranusjr commented on #23798
See #13692; more information is needed.

[2022-05-19 15:19] ashb commented on #23588
Great thanks -- the second error is likely a side effect of the first.

What error appears in the webserver logs when you do the first action?

[2022-05-19 15:27] Tehada opened #23803 "More flexible dynamic task mapping"
### Description

Current implementation of [dynamic task mapping](https://airflow.apache.org/docs/apache-airflow/2.3.0/concepts/dynamic-task-mapping.html) as of airflow 2.3.0 is lacking some features to support different workflows. Particularly, it lacks "zip-like" functionality to dynamically spawn tasks. Consider this example (concept, not an actual code):

[code]

The desired behavior for this

[2022-05-19 16:03] jpipas commented on #23588
The web server error is what I posted above... ends with:

`AttributeError: 'dict' object has no attribute 'dump'`

I too am getting the same JS errors that @rotemseekingalpha is showing as well.  My theory about taskgroups however, appears wrong because it's also happening on "non-taskgroup" DAGs.  In my case they're "previously parsed" dags, and were there before the upgrade to 2.3.0 - so I assu

[2022-05-19 16:18] pateash commented on #17778
I am able to see **arangodb**, when i build docs locally

![image](https://user-images.githubusercontent.com/16856802/169348871-b67c97e3-45d7-41f5-9bc3-6b803a127464.png)

@potiuk @eladkal , Do we build all the docs or just the provider which is released?

[2022-05-19 16:42] potiuk commented on #17778
Because it has to be added manually - this is one of the few steps in process which is still manual and sometimes can be missed:

[2022-05-19 16:44] potiuk commented on #17778
Any improvement in the automation there are welcome:

The step is here:

https://github.com/apache/airflow/blob/main/dev/README_RELEASE_PROVIDER_PACKAGES.md#prepare-documentation

[2022-05-19 16:57] uranusjr commented on #23803
If I understand correctly, this is totally possible with the current syntax to achieve what you want, except you need to zip and unpack manually.

[code]

I do agree it would be useful to provide methods for common functional operations, however, and perhaps even support user-registered custom operators.

The syntax I have in mind is something like

[code]

[2022-05-19 17:18] potiuk commented on #17778
Link is up on our website: https://airflow.apache.org/docs/

[2022-05-19 18:06] ust40611 commented on #23642
@alex-astronomer Thanks for your workaround, do you mind suggest how could we pull_message() from xcom and add that message as a param to trigger the databricks job using DatabricksRunNowOperator?

[2022-05-19 20:41] ashb commented on #23588
Do you have `task.params` or `dag.params` set to by any chance?

If someone can share with me a dag that exhibits this behaviour that would be very useful.

[2022-05-19 20:53] kazanzhy commented on #19313
Hi @nkyuray please have a look #23817

[2022-05-19 22:59] potiuk commented on #23727
Which Kubernetes version do you run (cluster version)  @patryk126p ?

[2022-05-19 23:02] #23799 closed

[2022-05-19 23:31] potiuk commented on #23756
Done

[2022-05-20 00:30] kaojunsong commented on #23609
@potiuk @tirkarthi The airflow has been running for a week, and the error does not happen again. So I think the issue is solved. Thanks a lot for your help.

[2022-05-20 00:30] #23609 closed

[2022-05-20 01:28] ferruzzi opened #23822 "Add an AWS operator for Create RDS Database"
### Description

@eladkal suggested we add the operator and then incorporate it into https://github.com/apache/airflow/pull/23681.  I have a little bit of a backlog right now trying to get the System Tests up and running for AWS, but if someone wants to get to it before me, it should be a pretty easy first contribution.

The required API call is documented [here](https://boto3.amazonaws.com/v1/doc

[2022-05-20 02:33] zachliu commented on #23472
https://github.com/apache/airflow/pull/23458 is a life saver! 20 hours db migration becomes 20 seconds! :joy:
[code]

[2022-05-20 03:59] #23623 closed

[2022-05-20 04:18] #23786 closed

[2022-05-20 04:38] tirkarthi commented on #23533
@jedcunningham I guess this issue is similar to https://github.com/apache/airflow/issues/23642 and fixed with https://github.com/apache/airflow/pull/23771

[2022-05-20 05:12] patryk126p commented on #23727
It's 1.21.9 on EKS

[2022-05-20 05:29] uranusjr commented on #23533
Yes this is a duplicate of #23642.

[2022-05-20 05:29] #23533 closed

[2022-05-20 05:39] asitstands commented on #14529
@potiuk We manually clear each task in a task group using the graph view. Such a manual manipulation is totally legitimated as far as I know. The suggested feature could be considered as simply automating this manual manipulation. I think that this automation cannot introduce any more complexity or side effect than the manual manipulation. I hope adding this feature to be considered positively.

[2022-05-20 06:09] Vishal2696 commented on #23798
I'm not sure what all the info you need, but I'm providing as much as I can.
1) The image being run was built from the official apache github repo (Source code). Following the same instructions given in the repo.
2) The task that is problematic is trying to trigger an azure data-factory pipeline. `azure.mgmt.datafactory` is the library that I'm using.
3) The DAGS are baked into the airflow image a

[2022-05-20 06:18] tsugumi-sys commented on #22863
In my case, I need to re-install `pycurl` and set environment variables like below.

When I try to use SQS, a worker instance caused errors like `ImportError: The curl client requires the pycurl library.`
Next, I try to re-install pycurl and `Permission denied` error caused (curl-config), so I run `pip install pycurl` as root and airflow seems to be working in my laptop.

I also feel it is so haed

[2022-05-20 06:35] #23532 closed

[2022-05-20 06:45] potiuk commented on #23609
Thanks @kaojunsong !

[2022-05-20 07:01] eskarimov commented on #23822
Hello everyone, I'd be happy to work on this issue.

[2022-05-20 07:12] rotemseekingalpha commented on #23588
@ashb we rely heavily on `task.params`

[2022-05-20 07:59] pateash commented on #17778
Thanks @potiuk

[2022-05-20 08:44] ianbuss opened #23823 "ModuleNotFoundExceptions not matched as optional features"
### Apache Airflow version

2.3.0 (latest released)

### What happened

The `providers_manager.py` logs an import warning with stack trace (see example) for optional provider features instead of an info message noting the optional feature is disabled. Sample message:
[code]

### What you think should happen instead

There is explicit code for catching `ModuleNotFoundException`s so these import err

[2022-05-20 09:22] tanelk opened #23824 "Race condition between Triggerer and Scheduler"
### Apache Airflow version

2.2.5

### What happened

Deferable tasks, that trigger instantly after getting defered, might get its state set to `FAILED` by the scheduler.

The triggerer can fire the trigger and scheduler can re-queue the task instance before it has a chance to process the executor event for when the ti got defered.

### What you think should happen instead

This code block should

[2022-05-20 09:35] potiuk commented on #14529
I think you can definitely make a PR for it if you fill like it. There is a certain complexity of automating it which makes it complex - if you want to run it in single transaction (i.e. fast) you will start hitting the potential deadlock scenarios i mentioned. If you want to make it to 'simulate' users doing it one by one in each transaction separately, the  you will have another problem - with e

[2022-05-20 09:58] vaaalik opened #23826 "BigQueryInsertJobOperator is broken on any type of job except `query`"
### Apache Airflow Provider(s)

google

### Versions of Apache Airflow Providers

apache-airflow-providers-google==7.0.0

### Apache Airflow version

2.2.5

### Operating System

MacOS 12.2.1

### Deployment

Official Apache Airflow Helm Chart

### Deployment details

_No response_

### What happened

We are using `BigQueryInsertJobOperator` to load data from parquet files in Google Cloud Storage

[2022-05-20 10:11] potiuk commented on #23823
AAArgh!

[2022-05-20 10:16] robinhur commented on #11618
ah I was personally busy with work, so I forgot.
please go ahead @holly-evans
if you need help please let me know :pray:

[2022-05-20 11:30] tanelk commented on #23824
One race condition has been fixed in #21316, but this is unrelated.

[2022-05-20 11:34] tanelk commented on #23824
Perhaps @ashb or @andrewgodwin have any ideas how do "synchronise" schedulers and triggereres to avoid this situation.

[2022-05-20 12:08] #23823 closed

[2022-05-20 12:08] asitstands commented on #14529
@potiuk Thank you for detailed explanation. However, I still have a question. With CLI, we can clear all tasks in a task group. For example, assuming `prefix_group_id=True`, like this.
[code]
What prevent adding UI to execute, say, this command?

[2022-05-20 12:25] potiuk commented on #14529
There are two major differences:

* environment where the command runs
* mechanism of feedback to the user when there are problems.

In this case again you have human running the command and terminal where the operation is run (and human overlooking and reacting it) rather than webserver UI.

Webserver - almost by definition handles short "requests". While in terminal you can run long tasks becaus

[2022-05-20 12:28] ashb commented on #23588
I'll say it for the third time: we need a DAG that has this behavoiur to reproduce and fix it please.

[2022-05-20 13:05] Dark-Knight11 commented on #23756
Hi, I looked into the issue and was confused about what to do.
`ast.literal_eval` is not able to process this string `{{ dag_run.conf['nodegroup_subnets'] }}`
I also looked in other files where literal_eval is used. `DockerOperator` uses it but I'm getting errors there as well.
Can you please help me with correct string format or do we need to make changes in `EksCreateNodegroupOperator`

[2022-05-20 13:46] asitstands commented on #14529
@potiuk I hope you don't feel uncomfotable on my follow-up questions. Web UI has a feature to clear a task and its all downstream tasks. What happens if there are 100s or 1000s of downstream tasks? Is clearing all downstream tasks particularly easier in some reason? To me, as a user not familiar to the implementation details, the suggested feature looks natural, similar to some existing features,

[2022-05-20 14:09] #23679 closed

[2022-05-20 14:40] #19699 closed

[2022-05-20 15:07] tagoad commented on #23542
Sorry this was a little delayed but here is a recording of the tasks jumping around. I can get a sample dag if needed, but it will take some time to generate. I am scrolled to the top and don't move the scroll bar at all during this video. I don't know if graph view is even set up to update this way but i also watched graph view as the grid view was jumping around and didn't see any changes happen

[2022-05-20 15:48] devon-seitz-cirrusmd commented on #23700
btw not sure if it helps, but I had a similar issue and what ended up happening was that I had a bad celery worker. Whenever a task got sent to that celery worker it "failed" immediately but did not let the scheduler know so it appeared to be stuck in queue/scheduled even though it had failed due to the worker being the issue.

This happened only periodically because the other celery workers were

[2022-05-20 16:28] ferruzzi commented on #23822
Sweet, thanks.   Let me know if you need any help.

[2022-05-20 16:34] raphaelauv commented on #23826
https://github.com/apache/airflow/pull/23165 @wojsamjan

[2022-05-20 16:40] alexopoulos7 opened #23831 "Airflow2.3 constraints file conflict"
### Apache Airflow version

2.3.0 (latest released)

### What happened

I had tried to install airflow 2.3.0 with constraints:
"https://raw.githubusercontent.com/apache/airflow/constraints-2.3.0/constraints-3.8.txt" but could not because of the following **conflict**:

[code]

### What you think should happen instead

I think that we should replace Sphinx with version 5.0

### How to reproduce

_N

[2022-05-20 16:42] ak-arun opened #23832 "AWS Glue Hook to implement enhanced logging"
### Description

Currently, when submitting AWS Glue jobs using Airflow, we are seeing the below in the log :-
**Polling for AWS Glue Job <job_name> current run state with status <job_run_state>**. This request is to enhance this by providing more detailed information about the Glue Job, show the same continuous logs from Glue/Cloudwatch into the Airflow logs. This avoids airflow users having to l

[2022-05-20 16:54] V0lantis commented on #23361
I experience exactly the same issue. Reducing the number of schedulers to one seems to have resolved the issue for my deployment, but now, tasks are scheduling a lot slower. I initially had 3 schedulers. Here are my new config variables:

[code]

[2022-05-20 17:11] V0lantis commented on #23361
It seems that after having passed the `use_row_level_locking` to `False`, the problem has disappear on my side. Maybe the [doc](https://airflow.apache.org/docs/apache-airflow/stable/concepts/scheduler.html#database-requirements) should be updated because:

[2022-05-20 17:19] erdos2n opened #23833 "Dynamic Task Mapping not working with op_kwargs in PythonOperator"
### Apache Airflow version

2.3.0 (latest released)

### What happened

The following DAG was written and expected to generate 3 tasks (one for each string in the list)

**dag_code**
[code]

**error message**
[code]

### What you think should happen instead

Dag should contain 1 task `logging_with_operator_task` that contains 3 indices

### How to reproduce

copy/paste dag code into a dag file and

[2022-05-20 17:21] fritz-astronomer commented on #23833
location of the error itself:
https://github.com/apache/airflow/blob/main/airflow/serialization/serialized_objects.py#L590-L620

[2022-05-20 17:26] V0lantis commented on #23361
Again, some more information about my last comments.

Here is the failed log:

[code]

[2022-05-20 17:44] tanelk commented on #23361
@V0lantis it would be great to see few more lines of the stacktrace to know where the exception is happening for you.

Also any chance you can take a look at the database log to see what queries are acccosiated with the two processes/transactions. From this we can only see on half of the problem.

What airflow version are you running? And are there any plugins/custom code interacting with airflow?

[2022-05-20 18:16] potiuk commented on #23831
Don't use "all" when you install airflow. It's only for development and test purpose. There is no reason you should install airflow with "all" dependencies - pick those that you actually need.

We just updated desription for it to be clear - will be released in 2.3.1:
https://github.com/potiuk/airflow/blob/main/docs/apache-airflow/extra-packages-ref.rst#bundle-extras

[2022-05-20 18:16] #23831 closed

[2022-05-20 19:03] V0lantis commented on #23361
Thank you @tanelk for your quick reaction time !
Here is some answers to your question :

You can find here ([just_scheduler_logs.log](https://github.com/apache/airflow/files/8743394/just_scheduler_logs.log)) the full stack trace of one of my scheduler with the issue discussed above.

I fortunately found it, I didn't know I had access to it. I give you the full log (removing some data from our com

[2022-05-20 19:24] #23546 closed

[2022-05-20 19:28] eladkal commented on #23760
Feel free to raise PR

[2022-05-20 19:30] eladkal commented on #23605
Closing as should be fixed by https://github.com/apache/airflow/pull/23528

[2022-05-20 19:30] #23605 closed

[2022-05-20 19:38] tanelk commented on #23361
Are these logs from where you have set `use_row_level_locking` to `False`?

The `use_row_level_locking` is used to avoid this sort of issues when running multiple schedulers - these logs indicate that two schedulers are scheduling the same DAG runs and end up getting deadlocked. With row locking enabled this situation should not happen because each scheduler picks different DAG runs to look at.

T

[2022-05-20 19:47] V0lantis commented on #23361
Indeed, it is ! My bad then for having set this param, thinking that postgres would allow it. Thanks for the help, and sorry if I wasted your time 🙏

[2022-05-20 20:04] dstandish commented on #23727
@patryk126p was hoping to see how you are importing the k8s objects used here:
[code]
though i know it's a long shot that it leads us anywhere.
thanks

[2022-05-20 21:41] ashb opened #23838 "AIP-45 breaks follow-on mini scheduler for mapped tasks"
I've just noticed that this causes a problem for the follow-on mini scheduler for mapped tasks. I guess that code path wasn't sufficiently unit tested.

DAG

[code]

Error:

[code]

_Originally posted by @ashb in https://github.com/apache/airflow/issues/21877#issuecomment-1133409500_

[2022-05-20 21:42] ashb commented on #23838
FYI @pingzh

I can look at this later, right now I've got to write my talk for the Summit :)

[2022-05-20 21:45] ashb commented on #23361
I would advise against doing this -- if you do then it is entirely possible that Airflow will not correctly respect configured concurrency limits for DAGs/Tasks/Pools.

[2022-05-20 21:50] V0lantis commented on #23361
Yep, that's effectively what my Airflow deployment did. I misinterpreted the documentation, sorry.

[2022-05-20 22:12] jedcunningham commented on #23599
Helm Chart version 1.6.0 has been released. Thanks @Swalloow for testing your change 🎉

[2022-05-20 22:12] #23599 closed

[2022-05-20 22:40] pingzh commented on #23838
update:

it only happens to the new DagRun. If you try to clear an existing DagRun, it does not throw that error

[2022-05-20 22:44] pingzh commented on #23679
thanks @potiuk for quickly getting this fixed 👍

[2022-05-20 22:50] gmcrocetti commented on #22381
@potiuk, WDYT ?

[2022-05-21 00:48] josh-fell commented on #23822
@eskarimov All yours!

[2022-05-21 01:07] josh-fell commented on #23756
The issue is that `nodegroup_subnets` is a template field for the operator and the string evaluation on that arg is happening as part of the constructor. We've been slowly finding more and more of these instances and pushing them out of `__init__()`, but template fields are not rendered (i.e. retain their stringified Jinja value until _just_ before the `execute()` method is called. So string evalu

[2022-05-21 04:53] zorroli93 opened #23842 "name '_mysql' is not defined when add connection to mysql on MacOS"
### Apache Airflow Provider(s)

mysql

### Versions of Apache Airflow Providers

_No response_

### Apache Airflow version

2.3.0 (latest released)

### Operating System

macos

### Deployment

Virtualenv installation

### Deployment details

_No response_

### What happened

I'am using airflow to connect to my docker mysql container, but exception of "name '_mysql' is not defined" when testing th

[2022-05-21 05:10] tirkarthi commented on #23417
@bbovenzi I can start working on it now. I see that you have made some optimizations as part of https://github.com/apache/airflow/pull/23813 too. It will be helpful to have a sample response so that I can give a first draft attempt since you already mentioned dag_runs are not needed.

[2022-05-21 06:28] sploink36 opened #23843 "Breeze is unable to install pipx on ubuntu 20.04"
### Apache Airflow version

2.3.0 (latest released)

### What happened

when trying to run airflow breeze with the `./breeze start-airflow` command breeze tries to install pipx but fails and doesn't start up as a result

### What you think should happen instead

breeze should be able to run airflow with a breeze

### How to reproduce

type `./breeze start-airflow` at the command line.

this is wha

[2022-05-21 09:48] sploink36 commented on #23843
@potiuk Is this [PR](https://github.com/apache/airflow/pull/23827) related to this issue?

[2022-05-21 10:23] Tehada commented on #23803
@uranusjr, indeed, I slightly adjusted your example and it works fine. So the problem happens, when we want to use operators (BashOperator, KubernetesPodOperator, etc) -- they just don't seem to have a necessary API for full compatibility with [taskflow API](https://airflow.apache.org/docs/apache-airflow/stable/tutorial_taskflow_api.html).

[2022-05-21 10:39] ashb commented on #23838
That might be because the task is already expanded?.

I've not looked at this at all - just noticed main was broken but (thankfully for my talk) 2.3 is fine

[2022-05-21 16:14] potiuk commented on #23838
Your talk was main reason why we waited with merging it until we branched off to 2.3 :).

[2022-05-21 17:06] moshederri opened #23850 "Tasks with dots are not shown in the grid view"
### Apache Airflow version

2.3.0 (latest released)

### What happened

In the new grid view, tasks are not visible if they contain dots in their name (but are shown in the details panel and graph view).

<img width="1449" alt="grid" src="https://user-images.githubusercontent.com/38216041/169659004-f7c57357-2600-4a76-8cad-9ee073086190.png">
<img width="331" alt="graph" src="https://user-images.git

[2022-05-21 17:13] potiuk commented on #22381
Abslolutely. I think in this case it's technicallly not a breaking change - it's just a bugfix :)  - we apparently  already (unknowingly) introduced a breaking change already (and in Airflow).

But yeah - I think it's one of the cases where we need to bump the MAJOR version and introduce new parameter.

[2022-05-21 18:04] eladkal commented on #23850
duplicate of https://github.com/apache/airflow/issues/23580

[2022-05-21 18:04] #23850 closed

[2022-05-21 19:24] potiuk commented on #23843
No. The problem is that you have no `python` installed. There are a few prerequisites to run Breeze and having "python" on the path is one of them. Also `./breeze` is just a wrapper around automating some installation steps, but in order to install Breeze, you need to follow pre-requisites described in the docs - including `pipx` - https://github.com/apache/airflow/blob/main/BREEZE.rst#prerequisit

[2022-05-21 19:24] #23843 closed

[2022-05-21 19:25] potiuk commented on #23843
BTW. you are running 'sudo ./breeze start-airflow` - which is almost for sure terribly wrong and this is the root of your problems. WHY ON EARTH are you using sudo to run breeze?

[2022-05-21 20:25] rbiegacz commented on #23632
BTW - the links stopped working also for providers. For example, [source] link doesn't work in the page devoted to this operator: https://airflow.apache.org/docs/apache-airflow-providers-google/stable/operators/cloud/automl.html

[2022-05-21 22:26] ephraimbuddy opened #23852 "Status of testing of Apache Airflow 2.3.1rc1"
### Body

We have a kind request for all the contributors to the latest [Apache Airflow RC 2.3.1rc1](https://pypi.org/project/apache-airflow/2.3.1rc1/).

Could you please help us to test the RC versions of Airflow?

Please let us know in the comment if the issue is addressed in the latest RC.

- [ ] [Add tags inside try block. (#21784)](https://github.com/apache/airflow/pull/21784): @jhtimmins
- [

[2022-05-21 22:51] raphaelauv commented on #23852
maybe not related to 2.3.1rc1 https://github.com/astronomer/astronomer-providers/issues/372

[2022-05-21 23:59] #19313 closed

[2022-05-22 00:11] #21081 closed

[2022-05-22 04:04] sploink36 commented on #23843
@potiuk I'm using sudo to run breeze as this is a relatively new install of this OS and I haven't added docker to user group yet in ubuntu so I need to run docker and apps that use docker with sudo.

[2022-05-22 04:46] vanducng commented on #10790
Hey turbaszek, Any chance to have PR submitted, we are experiencing in 2.3.0 as well.

[2022-05-22 06:57] potiuk commented on #23843
Then don't. Breeze is intended to be used by user. And if you want to use it with sudo, you still can of course. Just make sure you have python on your path when you sudo, and realise consequences (that all your files will be created as root user).

But If you look closely at breeze's prerequistes it is very clearly stated that you should not do it:

[2022-05-22 07:02] potiuk commented on #10790
I think you wanted to call @ghostbody who wanted to submi the fix @vanducng .

[2022-05-22 11:00] potiuk commented on #23798
Just to set expectations: Basically, any information that might help people here to help you. People here help in their free time, and more often than not the problems are connected to people misconfiguring Airlfow, or simply not troubleshooting their deployment as they should. While the community here delivers airflow as software - you are responsible for configuring it properly (and learning how

[2022-05-22 11:03] potiuk commented on #22863
Can either of you make a PR to documentation with those instructions if you get them working please? @don1uppa and @tsugumi-sys ? This is an easy way to become one of the more than 2000 contributors to Airflow (and basically this is how the documentation is often add - by the users who can not only test it, but also describe it in the way that will be easy for other users to digest. Can I assign o

[2022-05-22 11:08] tsugumi-sys commented on #22863
@potiuk
I’ll do this :) please assign me

[2022-05-22 11:12] potiuk commented on #22863
Fantastic! Assigned you!

[2022-05-22 11:43] #23439 closed

[2022-05-22 11:53] don1uppa commented on #22863
I'll review.

On Sun, May 22, 2022, 7:13 AM Jarek Potiuk ***@***.***> wrote:

[2022-05-22 12:18] potiuk commented on #23826
Do you think #23165  fixes this issue ? Can we close it @raphaelauv ?

[2022-05-22 12:23] potiuk commented on #23760
Either of you @jonathan-ostrander @gpoulin can fix it :).

[2022-05-22 12:25] potiuk commented on #23832
@ak-arun - maybe you would like to add Pull Request fixing it ? Seems ike an easy thing to do that would not require deep knowledge of Airlow itself and you could test it locally with your setup ? Can I assign it to you? This is the easiest and fastest way to get it implemented :). Otherwise I mark it as "good-first-issue".

[2022-05-22 12:29] raphaelauv commented on #23826
No It's the reason of the issue

[2022-05-22 12:31] potiuk commented on #23826
Ah OK. That was not clear @wojsamjan -> can you please take a look and fix it ?

[2022-05-22 13:50] snjypl commented on #23833
@erdos2n  i guess, you need to pass `op_kwargs` as a `dict` :
[code]

[2022-05-22 14:04] #23765 closed

[2022-05-22 14:05] erdos2n commented on #23833
@snjypl I tried this and it still didn't work, were you able to get it to work?

[2022-05-22 14:06] pierrejeambrun commented on #23852
Hello Guys,

https://github.com/apache/airflow/pull/23392 is working fine :+1:

[2022-05-22 14:22] #18999 closed

[2022-05-22 14:25] #23756 closed

[2022-05-22 14:55] snjypl commented on #23833
yes @erdos2n  i was able to get that work. can you please share the error you are getting?

[2022-05-22 16:50] gmsantos commented on #23852
I see that the apache-airflow-providers-cncf-kubernetes was downgraded to 3.1.2 in 2.3.1rc1 constraints file (it was 4.0.1 in 2.3.0 constraints).

Is it not good yet to go 4.0 for this provider?

[2022-05-22 17:09] erdos2n commented on #23833
@snjypl here is the code and error message when it runs in Airflow. So the UI Error does disappear, but it still isn't working.

[code]

**Error message:**
[code]

[2022-05-22 19:13] potiuk commented on #23852
It should not be the case. Looking at it.

[2022-05-22 19:44] potiuk commented on #23852
I fixed it in the constraints (and rebuilding the images).

@raphaelauv -> the https://github.com/astronomer/astronomer-providers/issues/372 could be related if you installed rc1 with the constraints containing 3.1.2.

I will look in detail why the downgrade happened. It could be related to the rc* behaviour of `pip` (previously we bumped it manually to 4.0 because of this but it should not be the

[2022-05-22 19:46] potiuk commented on #23852
Thanks for spotting it @gmsantos !

[2022-05-22 19:53] potiuk commented on #23852
Yeah. 3.7 image already pushed and has the right cncf.kubernetes provider:

[code]

[2022-05-22 20:24] potiuk opened #23858 "Main constraints for Airflow downgrade cncf.kubernetes provider to 3.1.2"
### Apache Airflow version

main (development)

### What happened

The cncf.kubernetes in constraints should be bumped to 4.0.2 (automatically), but for some reason it is downgraded to 3.1.2 - we need to investigate why.

### What you think should happen instead

the cncf.kubernetes should be updated to 4.0.2.

### How to reproduce

Just run generate constraints - all the providers are correctly s

[2022-05-22 20:26] potiuk commented on #23852
All images are refreshed - I also opened https://github.com/apache/airflow/issues/23858 to investigate why it happened.

[2022-05-22 22:45] potiuk commented on #23852
Tested all change I've been involved in. All good :).

The most important #23723 (passing deprecated parameters to "run_as_user" - works as expected).
[code]

Killing standalone #23274 also works:
[code]

[2022-05-22 23:23] uranusjr commented on #23833
Your original syntax is correct. (https://github.com/apache/airflow/issues/23833#issuecomment-1133900501 is wrong.) This looks like a bug in the serialisation code.

[2022-05-22 23:29] erdos2n commented on #23833
@uranusjr I agree, the first syntax best aligns with the current implementation of the dynamic mapping methods.

[2022-05-23 01:24] #23688 closed

[2022-05-23 02:37] uranusjr commented on #23803
The main problem of using zipping against a classic operator class is not really about the zip operation itself, but to unpack the zipped iterator (i.e. the `arg1, arg2 = param` part). Even if you can produce a zip iterator (which you already can), it’s still difficult to use the iterator against a classic operator. I am yet to be able to come up with a reasonable API either; instantiating a class

[2022-05-23 05:36] patryk126p commented on #23727
@dstandish are you asking just for import statement? If yes then here it is:
[code]

[2022-05-23 07:36] tirkarthi commented on #23727
A related Stackoverflow question : https://stackoverflow.com/questions/67929230/airflow-2-0-1-pod-template-override-not-working-as-expected-for-kubernetesexecu

[2022-05-23 07:57] potiuk commented on #23727
Yeah - it does look as the deserialisation issue as I suspected.  Just a thought - we do have the new
`airflow dags reserialize` command in Airflow.

I wonder @patryk126p if that is something that you could run to see if it helps.

[2022-05-23 08:10] potiuk commented on #23803
Also - another thing I usually recommend in this case - maybe this is not really a big problem that you cannot use it in classsic Airflow Operators. I think - personally - we should move away from classic operators and if you really want to use the "modern" way of writing DAGs, simply stop using them.

Pretty much all the "classic" operators are usually thin wrappers over the Hooks. This has alway

[2022-05-23 08:26] kouk commented on #16828
I have started working on this here: https://github.com/apache/airflow/compare/main...kouk:support-es-index-patterns?expand=1
it's still a WIP but any feedback would be helpful.

[2022-05-23 08:44] zqd759592942 opened #23863 "Does airflow have task configuration based on worker machine cpu or memory load balancing"
### What do you see as an issue?

Does airflow have task configuration based on worker machine cpu or memory load balancing

### Solving the problem

_No response_

### Anything else

_No response_

### Are you willing to submit PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://github.com/apache/airflow/blob/main/CODE

[2022-05-23 09:04] ashb commented on #23803
One downside to not using (classic) operators but just using PythonOperator (decoratored or not) i sht we loose much of the ability to see what the task is doing from a lineage PoV. (Both Lineage itself, and the task type in the UI is not useful anymore)

The OpenLineage folks are working on an idea to add the ability see what hooks are used in operators to the "Listener" interface, so that part m

[2022-05-23 10:06] cansjt commented on #23852
I am sorry, but I am alone this week (my colleagues are off), so it's doubtful I will find the time to check.

[2022-05-23 10:16] gmsantos commented on #23852
For #23590 (related to https://github.com/apache/airflow/discussions/23489 and #23580), tasks with `.` are shown again in grid view.

I checked that #23521 also fixes the scheduler error loop too.

[2022-05-23 10:18] parthpalkhiwala-vonage commented on #20875
Hello All,
We are still facing a similar issuing while upgrading our airflow version from 2.1.3 to 2.2.5
Below is the error we are getting - this usually occurs after task execution and not during DAG parsing by the scheduler.

**Apache Airlfow Version : 2.2.5**
**Python Version : 3.6**

`File "/usr/local/lib/python3.6/site-packages/airflow/serialization/serialized_objects.py", line 578, in serial

[2022-05-23 10:43] gmsantos commented on #23852
#23625: working fine as well

[2022-05-23 11:36] potiuk commented on #23863
No. And please next time follow what you are edlladvised to when you open an issue. You should open Discussion when you have question. NOT issue

[2022-05-23 11:36] #23863 closed

[2022-05-23 12:41] jyotidhiman0610 commented on #21955
Hi, @mgorsk1 are you working on this or can I take this up?

[2022-05-23 12:42] jyotidhiman0610 commented on #20829
Hi, @askmeegs are you working on this or can I take this up?

[2022-05-23 12:46] jyotidhiman0610 commented on #22632
Hi, can I take this up?

[2022-05-23 13:07] potiuk commented on #22632
go ahead

[2022-05-23 13:08] potiuk commented on #20829
I will add you as assignee already @jyotidhiman0610 :)

[2022-05-23 13:08] potiuk commented on #21955
Feel free.

[2022-05-23 13:44] uranusjr opened #23867 "Don’t prompt for 'breeze build-image'"
### Body

Currently, running the (new) `breeze build-image` brings up two prompts if any of the meta files are outdated:

[code]

While the prompts are shown in good nature, they don’t really make sense for `build-image` since the user already gave an explicit answer by running `build-image`. They should be suppressed.

### Committer

- [X] I acknowledge that I am a maintainer/committer of the Apa

[2022-05-23 14:01] oriolcmp commented on #12985
Hello,

After two years with this ticket open and after adding a fix like #19616 which seems was the same issue but in this case adding the "ti" as serializable would have fixed this ticket. I'm wondering which solution I'm suppose to use if I want to run dags with several python operators but avoid having a requirements file for all Dags? I'm thinking about DockerOperator as the only alternative

[2022-05-23 14:05] uranusjr commented on #12985
Feel free to propose a PR to add `ti` to the list.

[2022-05-23 14:12] uranusjr opened #23868 "Don’t show traceback on 'breeze tests' subprocess returning non-zero"
### Body

Currently, if any tests fail when `breeze tests` is run, Breeze 2 would emit a traceback pointing to the `docker-compose` subprocess call. This is due to Docker propagating the exit call of the underlying `pytest` subprocess. While it is technically correct to emit an exception, the traceback is useless in this context, and only clutters output. It may be a good idea to add a special cas

[2022-05-23 15:15] Taragolis opened #23871 "`dag-processor` failed to start in docker"
### Apache Airflow version

2.3.0 (latest released)

### What happened

Standalone DagProcessor which run in Apache Airflow Production Docker Image failed with error

[code]

This error not happen if directly run in host system by `airflow dag-processor`

Seems like this issue happen because when we run in Apache Airflow Production Docker Image `airflow` process is session leader, and according to

[2022-05-23 15:32] potiuk commented on #23867
Oh absolutely :). It's been like that in the old breeze :)

[2022-05-23 15:32] #23233 closed

[2022-05-23 18:10] Taragolis commented on #23475
As workaround - set Environment Variables for airflow service to use more "pessimistic" retry strategy, rather than [default one](https://boto3.amazonaws.com/v1/documentation/api/latest/guide/retries.html#legacy-retry-mode)
[code]

Most benefit to use this approach - it effect to all AWS operators, secrets backends, hooks, and other stuff which uses boto3

Unless it explicitly set to specific [AWS

[2022-05-24 02:26] josh-fell commented on #16506
Does the new [`ignore_downstream_trigger_rules`](https://github.com/apache/airflow/blob/6b772f68db4f80b01ede836ddd47437d4aa1b43d/airflow/operators/python.py#L248) param of the `ShortCircuitOperator` help at all?

[2022-05-24 03:30] #23419 closed

[2022-05-24 03:37] uranusjr commented on #23693
Merging into #23145.

[2022-05-24 03:37] #23693 closed

[2022-05-24 03:41] uranusjr commented on #23356
Merging into https://github.com/apache/airflow/issues/23145

[2022-05-24 03:41] #23356 closed

[2022-05-24 03:58] Yuriowindiatmoko2401 opened #23878 "S3 remote logs celery worker sometimes not written"
### Apache Airflow version

2.1.2

### What happened

S3 remote logs celery worker sometimes not written in s3 bucket,

i've been using 2 celery worker in airflow 2.1.2 version implementing using docker container inside nomad cluster, this is not described as using docker compose but rather separate and independent containers that are connected to each other with a db connection and rabbitmq as a

[2022-05-24 05:57] patryk126p commented on #23727
Sounds like this may be it. Once we have a window when we can attempt moving to 2.3 again I will try this command. But in the meantime can such info be added to some migration docs or something?

[2022-05-24 06:06] bhavaniravi opened #23880 "Audit Log for Connections/Variables update"
### Description

We have audit logs for major actions in Airflow except for Connection/Variables creation, update, and deletion

### Use case/motivation

Connections and variables form the primary component of DAGs. Having a track of who changed what when will come in handy when troubleshooting

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submi

[2022-05-24 08:04] cuu508 opened #23882 "Outdated croniter dependency"
### Apache Airflow version

2.3.0 (latest released)

### What happened

setup.cfg contains

    croniter>=0.3.17

croniter versions before 1.0.5 have a security issue: if you pass expressions
like "0-1000000000 * * * *" to it, croniter can throw an exception, or
take a long time to return, or crash the python process.

### What you think should happen instead

It would be a good idea to tighten up