[2021-02-16 09:44] potiuk commented on #14253
The answer you get is becauyse you lilely sent them the full report and it was not following this:
[code]

As the message from security team says - just a report produced by any tool is out of context and it does not mean that the code is affected. Those reports are often misleading, so it would be great to make use of the report, but:

1) Rerunning it on 1.10.14 might limit the number of reported

[2021-02-16 09:52] turbaszek commented on #13945
@digitalsimboja you can work on as @griffincosgrove seems to be inactive for last few days

[2021-02-16 10:19] digitalsimboja commented on #14243
Hello I am new to Airflow and an Outreachy applicant. I would love to take on this issue as **good-first-issue**. In addition I appreciate guides as I work on it. I have setup Airflow on my local machine and successfully can run **./breeze**.  Thanks

[2021-02-16 10:57] Miksu82 commented on #13824
It also seems that this issues sets all the JobRuns to have `failed` state although the TaskInstance is correctly marked as `success`

[2021-02-16 11:03] eladkal opened #14258 "ImportChange should indicate about migration of Presto to providers"
**Use case / motivation**

Created the following `presto_dag.py`:
[code]

This is the output with pip install apache-airflow-upgrade-check: (both 1.2.0 & 1.1.0)
[code]

This is the output with pip install apache-airflow-upgrade-check=='1.0.0'
[code]

This happens due to https://github.com/apache/airflow/pull/13012
The problem is that it also suppress suggested change for `PrestoHook` which needs t

[2021-02-16 11:06] griffincosgrove commented on #13945
Had trouble with this one. Good luck @digitalsimboja!

[2021-02-16 11:27] digitalsimboja commented on #13945
@turbaszek  Thanks I am taking it on already. Do I need to install anything in order to access the file. I have looking through the repo I have but yet to locate the file at **apache/airflow/tree/v1-10-stable/airflow/upgrade**. Need to mention that I run Airflow on WSL.

[2021-02-16 11:50] #11057 closed

[2021-02-16 11:51] TKorr commented on #11057
looks like this is not an issue in Airflow 2.0

[2021-02-16 13:09] alittlesliceoftom opened #14259 "Airflow times out on Long Running Kubernetes Jobs with logging gaps"
This is listed too in other locations:

https://issues.apache.org/jira/browse/AIRFLOW-3534
https://issues.apache.org/jira/browse/AIRFLOW-4526

Only known fix is to disable log stream:
`When disabling the `get_logs` parameter everything works because the log stream is skipped.`

Suggested fix - up the retry count on the below line, or allow this to be configured.
https://github.com/apache/airflow/b

[2021-02-16 13:13] alittlesliceoftom commented on #14259
Happy to raise this as a PR, I.e. changing
` @tenacity.retry(stop=tenacity.stop_after_attempt(3), wait=tenacity.wait_exponential(), reraise=True) `
to
` @tenacity.retry(stop=tenacity.stop_after_attempt(5), wait=tenacity.wait_exponential(), reraise=True) `
Which I think would solve the issue for most people and make this much more usable, but I'm not used to this code base!

[2021-02-16 13:14] alittlesliceoftom commented on #14259
(note my version exp issue was 1.1.14

[2021-02-16 13:14] alittlesliceoftom commented on #14259
)

[2021-02-16 13:26] turbaszek commented on #13945
@digitalsimboja you need to checkout to `v1-10-stable` branch, then you should have the `upgrade` directory.

[2021-02-16 13:53] subkanthi commented on #8540
Hey @rd16395p , I have some time now, I can work on this, please let me know.
@turbaszek can you please assign this back to me if @rd16395p didnt get started.

[2021-02-16 14:06] eejbyfeldt opened #14260 "Clearing using ExternalTaskMarker will not activate external DagRuns"
**Apache Airflow version**:

2.0.1

**What happened**:

When clearing task across dags using `ExternalTaskMarker` the dag state of the external `DagRun` is not set to active. So cleared tasks in the external dag will not automatically start if the `DagRun` is a Failed or Succeeded state.

**What you expected to happen**:

The external `DagRun` run should also be set to Running state.

**How to rep

[2021-02-16 14:32] cheunhong commented on #10523
@potiuk do you have an expected timeline for the official release?

[2021-02-16 14:33] ashb commented on #10523
@kaxil will be working on this "soon".

[2021-02-16 14:37] stoiandl opened #14261 "Airflow Scheduler liveness probe crashing (version 2.0)"
**Apache Airflow version 2.0**:

**Kubernetes version 1.18.14**

**Environment**: Azure - AKS

**What happened**:

I have just upgraded my Airflow from 1.10.13 to 2.0. I am running it in Kubernetes (AKS Azure) with Kubernetes Executor. Unfortunately, I see my Scheduler getting killed every 15-20 mins due to Liveness probe failing. Hence my pod keeps restarting.

**Liveness probe**

[code]

**Sched

[2021-02-16 15:49] Dr-Denzy commented on #14162
@gschwim I have been able to reproduce the issue. Classically implemented dags backfill work as expected. @kaxil and I are further investigating why the Taskflow API dags backfill are failing.

[2021-02-16 16:11] ashb commented on #14163
@gdevanla Do you have any easy reproduction steps? It's going to be tricky make sure we have actually fixed it without.

[2021-02-16 16:41] bbovenzi commented on #13528
I'm moving all our js from inline to their own files. I did see an issue with how we are getting the value for `duration`. I can put in a fix once the js migration is done.

[2021-02-16 17:49] zappallot opened #14262 "upgrade_check fails db version check"
**Apache Airflow version**: 1.10.14 with AWS RDS mysql 5.7.26 as metastore db

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): v1.16.15

**Environment**: DEV

- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): Debian GNU/Linux 10 (buster)
- **Kernel** (e.g. `uname -a`): Linux airflow-scheduler-765f664c56-4bsfq 4.14.186-146.268.am

[2021-02-16 19:08] madison-ookla commented on #14243
@digitalsimboja Hey Sunday, this is all yours! @eladkal has linked the related PR in this description, I believe that similar logic can probably be employed here to address this issue 🙂

[2021-02-16 19:24] digitalsimboja commented on #14243
Thanks I am working on it

[2021-02-16 22:28] amirhmk commented on #9486
I've just started facing this issue as well, as I'm trying to use the `ECSOperator` and have assigned it the correct `awslogs_group` and `awslogs_steam_prefix` (Same as the ones that get created when services create jobs). However, the logs don't seem to get created in CloudWatch, and only the ones that ECS generates itself seems to be created.

`awslogs_stream_prefix` does NOT need to contain the

[2021-02-16 23:32] vikramkoka commented on #14249
Quick question: Have you tried installing the kubernetes provider?
This is mentioned in the log file above: pip install apache-airflow['cncf.kubernetes']

With Airflow 2.0, there is an explicit separation between Airflow core and Airflow providers from the installation standpoint.

[2021-02-16 23:48] kaxil commented on #10523
Yes the Airflow Helm Chart is next. We were hands down on Airflow 2.0.0 and then getting 2.0.1 out so that the 2.0 series is stable.

[2021-02-16 23:58] kaxil commented on #13003
Planning Early March

[2021-02-17 00:04] kaxil commented on #14195
Thanks @potiuk

[2021-02-17 00:11] kaxil commented on #12229
setup.py is used when you or the tool you use run `pip install apache-airflow`. The docker image seems to have the correct version, check below:

[code]

[2021-02-17 00:16] wongelz opened #14264 "AirflowException: The external DAG was deleted when external_dag_id references zipped DAG"
**Apache Airflow version**: 2.0.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): v1.16.3

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): Debian GNU/Linux 10 (buster)
- **Kernel** (e.g. `uname -a`): Linux airflow 3.10.0-1127.10.1.el7.x86_64 #1 SMP Tue May 26 15:05:43 EDT 2020 x86_64 GNU/Linux
- **Install tools*

[2021-02-17 00:29] kaxil commented on #8270
Duplicate of https://github.com/apache/airflow/issues/10752

[2021-02-17 00:29] #8270 closed

[2021-02-17 00:34] kaxil commented on #14171
Closed by https://github.com/apache/airflow/pull/14188

[2021-02-17 00:34] #14171 closed

[2021-02-17 00:59] michaelfresco commented on #13675
Hi @sstoefe, thanks for reporting this bug. I can confirm that with `enable_logging=False` the dag doesn't get stuck, and indeed finishes. (logging is nice though!) In previous version (e.g. Airflow 1.10.8) the Docker Swarm operator doesn't have this behaviour. (btw. if you compare the [current](https://github.com/apache/airflow/blob/25d68a7a9e0b4481486552ece9e77bcaabfa4de2/airflow/providers/docke

[2021-02-17 02:18] YangMuye opened #14265 "successful DAG run fails to be scheduled after being manually cleared if Dag.dagrun_timeout is set"
**Apache Airflow version**: 2.0.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): redhat 7.9
- **Kernel** (e.g. `uname -a`): 3.10.0-1160.11.1.el7.x86_64
- **Install tools**: pip
- **Others**:

**What happened**:

I cleared a success DAG run and it failed to be sch

[2021-02-17 02:27] YangMuye commented on #14265
maybe a duplicate of #13853.

[2021-02-17 02:38] morrme commented on #10928
Hello @eladkal and @vikramkoka !

It seems as though this operator now has ~94% coverage according to https://github.com/apache/airflow/issues/9708#issuecomment-714197157

[2021-02-17 03:40] gdevanla commented on #14163
@ashb In our environment, this happens when I 'clear' a dag containing a bunch of nodes to force a re-run.  I am not sure if this can consistently be reproduced elsewhere.   I will try to reproduce with a smaller example and get back if I see any success.

[2021-02-17 04:10] Swalloow opened #14266 "Azure Provider related WARNING in webserver (version 2.0.1)"
**Apache Airflow version**: 2.0.1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.18

**Environment**: Official Helm Chart with CeleryExecutor

- **Cloud provider or hardware configuration**: AWS EKS
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

When updated to `apache/airflow:2.0.1-pyt

[2021-02-17 07:15] damon09273 opened #14267 "GoogleCloudStorageToBigQueryOperator generate duplicate data when network issue happen"
**Apache Airflow version**:
1.10.10

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
v1.16.15-gke.6000

**Environment**:

- **Cloud provider or hardware configuration**: GCP
- **OS** (e.g. from /etc/os-release): Debian GNU/Linux 10 (buster)
- **Kernel** (e.g. `uname -a`): 4.19.112+
- **Install tools**:
- **Others**:

**What happened**:
I get duplicated data when run t

[2021-02-17 09:01] JavierLopezT opened #14270 "Specify that exit code -9 is due to RAM"
Related to https://github.com/apache/airflow/issues/9655

It would be nice to add a message when you get this error with some info, like 'This probably is because a lack of RAM' or something like that.

I have found the code where the -9 is assigned but have no idea how to add a logging message.

        self.process = None

        if self._rc is None:
            # Something else reaped it befor

[2021-02-17 09:27] fancyfreeman commented on #14249
I just run airflow Airflow locally. I did as the [quick start](http://airflow.apache.org/docs/apache-airflow/stable/start/local.html#) say.
Do I have to install kubernetes provider ?

[2021-02-17 09:46] #9538 closed

[2021-02-17 09:47] ashb commented on #9538
@mtrovo I just finished off @pcandoalmeida's PR (resolved conflicts) and have merged it. This will be available in Airflow 2.1.0!

[2021-02-17 09:48] pcandoalmeida commented on #9538
Thanks @ashb!

[2021-02-17 10:19] eladkal commented on #10928
fixed in https://github.com/apache/airflow/pull/11229

[2021-02-17 10:19] #10928 closed

[2021-02-17 12:21] MhmtErsy opened #14272 "Git fatal: the remote end hung up unexpectedly error on Bash Operator"
**Apache Airflow version**: 1.10.6

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): RedHat 7.8
- **Kernel** (e.g. `uname -a`):  3.10.0-1127.18.2.el7.x86_64 #1 SMP Mon Jul 20 22:32:16 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

- **Install tools**: Conda
- **Others**: - *On Prem GitLab version*:  GitLab Community Edition 12.8.5

**What happened**

[2021-02-17 13:10] armandleopold commented on #13917
I am sorry, i cannot reproduce the error because i have switched to LocalExecutor.

[2021-02-17 13:10] vxtals commented on #12823
I'm gonna ping this issue...

Could someone confirm if I'm right about this weird behavior? I'm experiencing other problems related to this, for example, macro {{ dag_run.id }} will have the same value for two runs at the same time. Going crazy with this...

Thank you.

[2021-02-17 13:24] #13293 closed

[2021-02-17 13:25] kaxil commented on #13367
Fixed in apache-airflow-upgrade-check 1.2.0

[2021-02-17 13:25] #13367 closed

[2021-02-17 13:30] JoostKooijman opened #14275 "ERROR - Parameter validation failed when submitting a job using AwsBatchOperator"
**Apache Airflow version**: 2.0.0

**Environment**:

- **Cloud provider or hardware configuration**: AWS ECS
- **OS** (e.g. from /etc/os-release): Debian GNU/Linux
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:
When I'm submitting a job to AWS batch using `AwsBatchOperator` I get the following error message:
`[2021-02-16 00:05:51,776] {{batch.py:182}} ERROR

[2021-02-17 13:35] armandleopold commented on #13918
Hello, i have had chmod -R 777 on the git-repo-syncer.
The airflow-scheduler is root and the files have 777 permissions.
It still runs my pod with the hardcoded metadata name : privileged-pod.

Do someone have any idea ?

[2021-02-17 13:53] stoiandl commented on #14261
What I am not sure is if I should remove the liveness probe for now. Is it an issue with the scheduler in the end since I do not see any errors in the log?

[2021-02-17 14:15] leonsmith commented on #14063
So this looks to be a change in 3.8 on macosx and the default for multiprocessing changing.

We have AIRFLOW__CORE__MP_START_METHOD to tweak this behaviour in the scheduler but not such control in the celery executor.

You can however bypass this by running with `AIRFLOW__CELERY__SYNC_PARALLELISM=1`

[2021-02-17 14:43] stoiandl commented on #14261
It is not a liveness probe issue. For some reason the server stops the heartbeats. I basically have heartbeats every 5 secs in the logs.
Started scheduler pod at 14:26:21.
[code]

I can see the heartbeat running every 5 sec until 14:31:22. Below is the last 2 heartbeats before the actual scheduler hangs.
[code]

In the frontend I get:

_The scheduler does not appear to be running. Last heartbeat w

[2021-02-17 15:02] stoiandl commented on #14261
15 mins later the scheduler comes back up:
[code]

Returns a bunch of pods config jsons in debug mode. Then:
[code]

This might be because I have many terminated worker pods that are not deleted? They come from either a deleted DAG or previous airflow 1.10.13.

I cleared my namespace of pods and now I will rerun with liveness probe up.

[2021-02-17 15:33] kaxil commented on #12823
Does this happen on Airflow 2.0.1 too?

[2021-02-17 16:07] joshkadis commented on #9538
awesome, thanks all!

[2021-02-17 16:09] stoiandl commented on #14261
After removing the terminated pods, it works without restarts...

[2021-02-17 16:15] sryabkov commented on #10523
@kaxil What's the best way to track progress on the chart work? Maybe contribute too... We spent a lot of time with the airflow stable chart and are looking to switch soon, so we have both experience and motivation to help out...

[2021-02-17 16:44] vikramkoka commented on #14249
Oh, in that case I misunderstood.

What executor are you using when you are running locally?

[2021-02-17 17:06] eladkal commented on #9871
I'm not sure if this is a good idea
Wouldn't you want to code review DAGs before deploying it?
Also I'm not even sure if this is doable as with DAG [siralization](https://airflow.apache.org/docs/apache-airflow/stable/dag-serialization.html#dag-serialization) the webserver doesn't have access to the DAG folder.

@vikramkoka @kaxil WDYT?

[2021-02-17 17:07] ferruzzi opened #14279 "Add AWS S3 Bucket Tagging Operator"
**Description**

Add the missing AWS Operators for the three (get/put/delete) AWS S3 bucket tagging APIs, including testing.

**Use case / motivation**

I am looking to add an Operator that will implement the existing API functionality to manage the tags on an AWS S3 bucket.

**Are you willing to submit a PR?**

Yes

**Related Issues**

None that I saw

[2021-02-17 17:12] kaxil commented on #9871
There is this nice plugin you can use: https://github.com/andreax79/airflow-code-editor

PS: I have not tested it but seems popular

But yeah I don't think we will integrate it in core as like Elad mentioned we use DAG Serialization and with the assumption that the Webserver might not have access to the Dag files.

The plugin I linked can work for you if it has access to Dag files

[2021-02-17 17:18] ferruzzi commented on #14279
My plan is to add `providers/amazon/aws/operators/s3_bucket_tagging.py` and implement the three operators.

- S3GetBucketTaggingOperator:
  - Accepts a bucket name and optional connection ID
  - Returns an Optional[List[Dict[str, str]]]

- S3PutBucketTaggingOperator
  - Accepts a bucket name, optional key, optional value, and optional TagSet
    - If key or value are provided, both must be provide

[2021-02-17 17:28] fancyfreeman commented on #14249
This is my executor configuration in airflow.cfg :
executor = LocalExecutor

[2021-02-17 18:09] potiuk commented on #9871
Yeah. Editing code in Airflow UI is baaaaad idea.

However if you integrate Airflow with DAGs via `git-sync` and if your code is in GitHub - you can get what you want - nice, web-driven DAG code editing but also all the benefits of code reviews, access control etc. etc. I highly recommend this kind of worklfow.

Shall we close this one?

[2021-02-17 18:13] #9871 closed

[2021-02-17 18:21] eladkal commented on #8766
@gtossou are you still working on this issue?

[2021-02-17 18:34] kaxil commented on #14266
Try the following command inside the container:

[code]

[2021-02-17 18:42] DRavikanth opened #14281 "Support for Trino in Airflow"
**Description**
We currently are having PrestoHook that underneath uses presto-python-client. Now with Trino (formerly known as PrestoSQL) is renamed and there are a change of headers in Trino presto-python-client will no longer work and so PrestoHook provider breaks.

**What do you want to happen?**
Ask is to provide support for TrinoHook which uses https://github.com/trinodb/trino-python-client

[2021-02-17 19:00] DRavikanth opened #14282 "Airflow task fails to submit a query to the Presto backend submitted using get_records/run"
**Apache Airflow version**: v2.0.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.17

**Environment**:

- **Cloud provider or hardware configuration**: Self Managed via Argo
- **OS** (e.g. from /etc/os-release):
PRETTY_NAME="Debian GNU/Linux 10 (buster)"
NAME="Debian GNU/Linux"
VERSION_ID="10"
VERSION="10 (buster)"
VERSION_CODENAME=buster
ID=debian
HOME_URL="https

[2021-02-17 19:04] potiuk commented on #14281
@DRavikanth - this is a community driven project, maybe you would like to work on this and submit PR?

[2021-02-17 19:06] potiuk commented on #14281
Especially if there will be no-one to pick it up quickly - this is the best way to speed it up. I am happy to help with reviewing and guiding you if needed @DRavikanth !

[2021-02-17 19:12] potiuk commented on #14282
Can you please open a https://github.com/apache/airflow/discussions issue instead or discuss it in Slack? This seems like more of a troubleshooting rather than bug report. Not sure how many of the users are using presto, but asking the question in #slack might bring better answers.

I am closing it for now but please copy it to "dicsussions" if you would like to follow it in GitHub instead.

[2021-02-17 19:12] #14282 closed

[2021-02-17 19:17] DRavikanth commented on #14281
@potiuk, I am happy to work but, I have no knowledge on this/airflow. I recently started to learn and evaluate Airflow for few of our use cases.

yes, It would be great if you can guide me along.

[2021-02-17 19:26] potiuk commented on #14281
I do not know much about presto - but when we join forces...

The gist of it is the Presto Operators to start using the client library you mentioned - so it has to be changed in `setup.py` - there is `presto` extra there and it has the dependencies there -> changing them to use Trino dependency is a good idea. In fact we've already discussed renaming the provider to "trino" (we are aware of the na

[2021-02-17 19:27] eladkal commented on #14281
There was a message about it in the mailing list : https://lists.apache.org/thread.html/r8c1f1c330113052ae0a27c55611f582dcf1aaae84cc8f0a0cc37d5a2%40%3Cdev.airflow.apache.org%3E

The scope here (and as decided on the mailing list) is adding a new provider.
A reference for adding a new provider can be found in https://github.com/apache/airflow/pull/13324

I'd be happy to review the end product as I'

[2021-02-17 19:32] Abdur-rahmaanJ opened #14283 "To capitalise or not to capitalise"
While reading Airflow materials in the repo, i've seen great disparity as to how names are written. pytest is written with a lowercase p and in some rare cases in with a P. SQLAlchemy turns sometimes into sqlalchemy. Gunicorn into gunicorn. Sometimes you configure Kubernetes sometimes kubernetes. Etc Etc Etc.

While not a bug, it does seem Funny siwtching Case Randomly. It however occurs only in t

[2021-02-17 19:39] mtrovo commented on #9538
That's awesome, thanks all!

On Wed, 17 Feb 2021 at 16:07, Josh Kadis <notifications@github.com> wrote:

[2021-02-17 19:54] DRavikanth commented on #14281
Thanks for the tips @potiuk / @eladkal. I will check that and spend sometime to work on this.

[2021-02-17 20:44] zachliu commented on #9994
in airflow 2.0.1 i'm still seeing parent dag's code when clicking codeview in a subdag

[2021-02-17 22:38] soggycactus opened #14285 "is_valid_plugin can no longer be used for unit testing plugins"
I can no longer use `airflow.plugins_manager.is_valid_plugin` to write a simple unit test that ensures I can't merge broken plugins to master.

This is because the function no longer accepts a list of plugins that represents existing plugins, and instead references a global variable inside the package (I would really love an explanation as to how this is better).

The global variable plugins is de

[2021-02-17 22:43] RNHTTR commented on #12912
Would it make sense to get the DAG's task instances and set any tasks to `SHUTDOWN` state if they haven't finished when the DAG state is marked as `FAILED`?

https://github.com/apache/airflow/blob/master/airflow/jobs/scheduler_job.py#L1694-L1718

[2021-02-17 22:43] #14285 closed

[2021-02-17 22:44] ConstantinoSchillebeeckx opened #14286 "from 'apache-airflow-providers-google' package: No module named 'airflow.providers.postgres'"
**Apache Airflow version**: 2.0.1

**Environment**:

- **Cloud provider or hardware configuration**: MacBook Pro
- **OS** (e.g. from /etc/os-release): Catalina 10.15.7
- **Kernel** (e.g. `uname -a`): Darwin CSchillebeeckx-0589.local 19.6.0 Darwin Kernel Version 19.6.0: Thu Oct 29 22:56:45 PDT 2020; root:xnu-6153.141.2.2~1/RELEASE_X86_64 x86_64
- **Install tools**: pip

requirements.txt
[code]

**W

[2021-02-17 23:09] sherifabdlnaby commented on #10523
I am with @sryabkov , we already patched some bugs and added some features to the chart we forked (initially just to push it to a registry). I'd like to contribuite.

[2021-02-17 23:29] potiuk commented on #14286
Yep. We could remove the warnings indeed.

[2021-02-17 23:32] MaxTaggart commented on #13805
Hey @ashb, have you had a chance to take a look at this? I'm also happy to do more digging if you have any hunches about what might be going wrong.

[2021-02-18 00:06] gm55 opened #14287 "Migration of env_vars from dict to a List[V1EnvVar] for KubernetesPodOperator breaks Jinja template processing of env_vars with templates like {{ dags.conf['val1'] }} in KubernetesPodOperator"
**Environment:**
Airflow 2.0.1, Python 3.7.9. KubernetesExecutor is set in the configuration.

**Issue:**
KubernetsPodOperators does not process env_vars with Jinja templates like {{ dag.conf['key'] }} and leaves text as is, no substitution is done.

The method  [render_template](https://github.com/apache/airflow/blob/2.0.1/airflow/models/baseoperator.py#L875) of BaseOperator checks types of conte

[2021-02-18 01:31] rd16395p commented on #8540
@subkanthi Why don't we work together on it?

[2021-02-18 05:03] digitalsimboja commented on #14243
Yes,

I believe so.
Taking care of both.
Regards

On Feb 17, 2021 19:18, "eladkal" <notifications@github.com> wrote:

[2021-02-18 07:54] eladkal commented on #11122
The description was elaborated in 2.0.1 [docs](https://airflow.apache.org/docs/apache-airflow/stable/configurations-ref.html#min-file-process-interval)
`Number of seconds after which a DAG file is parsed. The DAG file is parsed every min_file_process_interval number of seconds. Updates to DAGs are reflected after this interval. Keeping this number low will increase CPU usage.`

see https://github.

[2021-02-18 07:54] #11122 closed

[2021-02-18 09:29] OBITORASU commented on #14286
Can I work on this particular issue? I am assuming addding ```postgres``` to ```apache-airflow[crypto,celery,amazon,mysql,jdbc,password,redis,slack,snowflake,ssh,google,databricks,mongo,zendesk,papermill,salesforce]==2.0.1``` this line should cover the warnings (correct me if I am wrong).

[2021-02-18 09:32] ldealmei commented on #13905
I am facing the same issue. This seems to only happen when running Airflow inside a Docker container. I had a non-dockerized deployment for which it worked fine without the `force_pull=True` option. Since going to a docker-compose deployment, I've been having the same 404 error.
[code]

[2021-02-18 09:57] potiuk commented on #14286
Sure. Feel free. I think the gist is that we should log those warnings at info level not warning :)

[2021-02-18 09:58] potiuk commented on #14286
Those warnings here are not really warnings - they will happen if you do not have all providers installed, but they should not be treated as warnings, this is expected behaviour, so it should be INFO.

[2021-02-18 10:34] alexInhert opened #14291 "activate serialization should be noted on airflow upgrade check"
**Description**
The doc says

but when we run the upgrade check we were not informed that we need to set this up.

**Use case / motivation**
I think it's better to make sure serialization works on 1.10.14 and only then migrate to Airflow 2
a notice about this on the checker can help to others i believe

[2021-02-18 11:00] gm55 commented on #14287
As a temporary solution it can be something like that
[code]

[2021-02-18 11:29] ashb commented on #14291
Enabling serialization before upgrading isn't strictly required, and I don't think there's anything that can really break in this area by just upgrading.

Have you experienced something that doesn't work with DAG serialization turned on?

[2021-02-18 12:57] Quinten-gs commented on #10026
I encountered the exact same issue (airflow 1.10.9).

[2021-02-18 13:01] feluelle commented on #13185
This is still an issue for me with latest 1.10.x and latest backport providers release.

[2021-02-18 13:04] OBITORASU commented on #14286
Checking the error log and your suggestions above, should my approach be to introduce changes to ```providers_manager.py``` file and change the ```log.warning``` to ```log.info``` on line 295 to fix this issue? Hoping to hear back from you, thanks for your time and patience!

[2021-02-18 13:16] zappallot commented on #14262
As a workaround, I used the upgrade.yml like described in the documentation and ignored the db check.
`airflow upgrade_check --config files/upgrade.yml`

upgrade.yml content:
[code]

[2021-02-18 13:17] potiuk commented on #13185
Hey @feluelle You likely have the old `azure-storage` library installed. The problem was that there were two libraries:
* legacy (very old) "azure-storage' (https://pypi.org/project/azure-storage/)
* new - set of "azure-storage-*" libraries that replace the storage one. For example (https://pypi.org/project/azure-storage-blob/ or https://pypi.org/project/azure-storage-logging/).

The problem was t

[2021-02-18 13:21] potiuk commented on #13185
For now I am closing it with the information that you need to cleanup it in the way described above - I will re-open if I hear otherwise :)

[2021-02-18 13:21] #13185 closed

[2021-02-18 13:23] a8j8i8t8 opened #14294 "Disable webserver/gunicorn access logs"
**Description**

A way to disable webserver/gunicorn access logs in Airflow 2.0.

[2021-02-18 13:25] feluelle commented on #13185
Why can't we ship the fix to 1.10.x release? :)

I don't have azure as an explicit dependency. So I would have to remove azure-storage and reinstall the azure-storage-blob. Can this be automate somehow? :D I mean adding sth to requirements. Or do I have to write bash for that one?

[2021-02-18 13:27] alexInhert commented on #14291
@ashb we encounter several issues which we don't know what exactly they are due to that we thought we should handle each change as "stand alone" as much as we can but I see your point. I'll close this.

[2021-02-18 13:27] #14291 closed

[2021-02-18 13:43] ashb commented on #14291
If there's something that you suspect is caused by serialization we can reopen this.

We want to make upgrading as easy as possible, so let us know how we can help.

[2021-02-18 14:37] pgibert commented on #14208
_Hello close to your problem i think ...   .. i  got the same error with python 3.8 centos 7 but on a manual installation ( no docker)
resolved with the following steps_ :

1.  wget https://www.sqlite.org/2021/sqlite-autoconf-3340100.tar.gz
2.   tar xvf sqlite-autoconf-3340100.tar.gz
3.   cd sqlite-autoconf-3340100
4.   ./configure
5.   make
6.   sudo make install
7.   ls /usr/local/lib
8.   expor

[2021-02-18 14:49] ConstantinoSchillebeeckx commented on #14286
Even at `INFO`, isn't this going to be really chatty? I think the webserver will just keep emitting those statements; I don't know this codebase well at all, but wouldn't a better fix be not to emit that message if it's not needed?

[2021-02-18 15:21] tooptoop4 opened #14295 "airflow-upgrade-check complains about spark imports i don't have"
my dag has:
[code]

i am on airflow 1.10.14, running airflow-upgrade-check 1.2.0 complains about:
[code]
ie
```Using `airflow.contrib.operators.spark_submit_operator.SparkSubmitOperator` should be replaced by `airflow.providers.apache.spark.operators.spark_submit.SparkSubmitOperator````

but my dag never imports them?

[2021-02-18 15:57] zappallot commented on #13570
I had the same problem with too many false positives and applied change proposed.
Problem is, it now does not find import statements like this:
`from airflow.contrib.operators.kubernetes_pod_operator import KubernetesPodOperator`
because `change.old_path` would expect a string like `airflow.contrib.operators.kubernetes_pod_operator.KubernetesPodOperator`.

Changing `change.old_path` to `".".join(c

[2021-02-18 16:32] eladkal commented on #14295
same issue as https://github.com/apache/airflow/issues/13570 ?
Can you see if the https://github.com/apache/airflow/pull/13622 solves this?

[2021-02-18 17:23] tsh56 commented on #13543
We are using KubernetesPodOperator

[2021-02-18 17:56] eladkal commented on #10271
This will be fixed in https://github.com/apache/airflow/pull/12677

[2021-02-18 17:59] MatthewRBruce commented on #7935
We just saw this on 2.0.1 when we added a largish number of new DAGs (seems to be around the point we add 200 new DAGs).

Here's py-spy stacktraces from our scheduler:
[code]

What I think is happening is that the pipe between the  `DagFileProcessorAgent` and the `DagFileProcessorManager` is full and is causing the Scheduler to deadlock.

From what I can see the `DagFileProcessorAgent` only pulls

[2021-02-18 18:31] milindgv94 opened #14297 "Scheduler do not start on custom AIRFLOW_HOME path v.2.0.1"
Scheduler do not start on custom AIRFLOW_HOME path v.2.0.1
Scheduler Log cannot be updated in sqlite db on custom environment path.

[2021-02-18 18:31] andres-lowrie opened #14298 "make dag link customizable from "main" list view"
**Description**

Would be nice if the Dag link from the main list view could be customized. For example, instead of linking to the tree view have it link to the graph view by default.

**Use case / motivation**

I find myself always going to the graph view more often than the tree view, in particular when having to clear tasks and all that

**Are you willing to submit a PR?**

If someone could poi

[2021-02-18 18:47] XD-DENG commented on #14262
It's ok to apply this as a workaround before the fix is released. But please do remember to eye-ball check your DB version. The minimum required versions for different DBs can be found at https://github.com/apache/airflow/blob/v1-10-stable/airflow/upgrade/rules/postgres_mysql_sqlite_version_upgrade_check.py

[2021-02-18 18:48] XD-DENG commented on #14262
Fixed in https://github.com/apache/airflow/pull/14274 . Closing this issue now.

[2021-02-18 18:48] #14262 closed

[2021-02-18 18:52] yergi commented on #14205
I think the issue I'm experiencing is related to this.

Apache Airflow version: 2.0.1
Executor: LocalExecutor

What happened: I have `max_active` set to 4, and when running a backfill for this dag, if 4 sensor tasks get set for `up_for_reschedule` at the same time, the backfill exits telling me that all the tasks downstream for these sensors are deadlocked.

[2021-02-18 19:03] potiuk commented on #14286
This should be a one-time only message per webserver process only at the start of the process. Do you see it more often/repeated @ConstantinoSchillebeeckx  ?

[2021-02-18 19:09] potiuk commented on #14286
What we could do indeed, we could actually handle this a bit better - we could capture the warnings and print a nice summary indicating what is really going on. In this case we could aggregate all of the warning of this form:

[code]
 into
[code]

This could be much nicer and informative and I think they are worth seing in logs as "INFO".

WDYT @ConstantinoSchillebeeckx ?

[2021-02-18 19:11] potiuk commented on #14286
@OBITORASU -> Just hold on for a moment, @ConstantinoSchillebeeckx 's point made me think ^^  - this migth be a bit better approach to turn it into more informative message (see above comment)

[2021-02-18 19:42] ConstantinoSchillebeeckx commented on #14286
I'm seeing the warnings constantly being emitted

![Untitled](https://user-images.githubusercontent.com/8518288/108412151-7b094d00-71f7-11eb-9790-18216a718510.gif)

[2021-02-18 19:44] potiuk commented on #13185
We could potentially. But it would require https://github.com/apache/airflow/pull/12188 to be back-ported (and possibly few other PRs. I am sure @ephraimbuddy would not be so happy because I think that was one of the most "troublesome" changes he went through ;)

Honestly - it is much simpler via backports, even if requires some of hassle with installed packages.

We could potentially add `azure-s

[2021-02-18 20:14] koshy1123 opened #14299 "UI: Start Date is incorrect in "DAG Details" view"
**Apache Airflow version**: 2.0.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): Ubuntu
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

The start date in the "DAG Details" view `{AIRFLOW_URL}/dag_details?dag_id={dag_id}` is

[2021-02-18 20:15] XD-DENG commented on #14297
Hi @milindgv94 , thanks for sharing the issue. But may you share your steps reproducing the issue? Ideally with:
- details about your setting up: OS, version of DB, etc.
- your sample commands to reproduce the issue (and the flags/options/configs)
- detailed trackbacks may help as well

[2021-02-18 21:03] kurtqq commented on #14299
Possibly there is a mix.
There are two kinds of start date in the UI.
1. the one that you shared which should be the start_date propery as defined in the DAG.
2. the one that showed when hovering the (i) icon int the DAG page which shows when the dag actualy ran.

Since in your image it shows full timestamp I assume that it takes the same value of start_date like the one in point (2).

[2021-02-18 21:10] hedrickw opened #14300 "EmailOperator CC parameter does not support DagParam type like To parameter does"
**Apache Airflow version**: 2.0.1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**: Linux

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:
Following the example here (https://github.com/apache/airflow/blob/master/airflow/example

[2021-02-18 21:35] tooptoop4 commented on #14298
https://github.com/apache/airflow/blob/master/airflow/config_templates/default_airflow.cfg#L531 it is customisable, you can change that value @andres-lowrie

[2021-02-18 21:37] andres-lowrie commented on #14298
sweet... my apologies for not rtfm 😂

[2021-02-18 21:37] #14298 closed

[2021-02-18 22:27] kaxil commented on #14287
This should be fixed by https://github.com/apache/airflow/pull/14123

@ashb / @dimberman / @potiuk Can one of you release new version of cncf.kubernetes providers please

[2021-02-18 22:31] kaxil opened #14301 "Helm Chart: Add Integration tests & expand unit tests coverage"
We should add tests with different configurations for Helm Chart:

- With different executors (Celery, Kubernetes and CeleryKubernetes)
- With executor_config & different pod_template_file (and different type of Dags -- including KubernetesPodOperator)
- TBD

[2021-02-18 22:35] kaxil opened #14302 "Helm Chart: Review Architecture"
Review the Helm Chart in its current incarnation.

We should remove any unnecessary components (like Hadoop if it exists).

The configurations should be reviewed so that they follow the recommended values. And if Airflow configs of the chart are different from core Airflow, an explanation would be better.

Components which are not entirely tested should be marked experimental (for example KEDA is

[2021-02-18 22:36] kaxil opened #14303 "Review and Improve Current Documentation for Helm Chart"
Comments from https://github.com/apache/airflow/issues/10752#issuecomment-777813401:

- the `values.yaml` file is missing comments for most values
- more general explanations are pretty sparse (it seems we currently only have short paragraphs in the README)
- examples of common environments are missing (GKE, EKS, On-Prem)
- provide upgrade guides for major/minor version bumps of the chart

All of

[2021-02-18 22:52] kaxil opened #14305 "Publish Helm Chart on community hubs (and documentation on ArtifactsHub)"
We should publish our official Helm Chart ArtifactHUB similar to https://artifacthub.io/packages/helm/airflow-helm/airflow and any other popular community registries.

Maybe: https://hub.kubeapps.com/ too and others if anyone has suggestions

[2021-02-18 22:59] kaxil commented on #10523
@sryabkov @sherifabdlnaby I have created a Project Board to track the progress: https://github.com/apache/airflow/projects/7

Would love help with the following issues to start with

- https://github.com/apache/airflow/issues/14301
- https://github.com/apache/airflow/issues/14302
- https://github.com/apache/airflow/issues/14303

[2021-02-18 23:01] kaxil commented on #10752
The following Project Board should help with tracking the progress as well as to all of you who would like to help with the process.

[2021-02-18 23:59] everglory99 opened #14307 "KubernetesPodOperator raises exception when pod_template_file contains multiple objects"
In Airflow 2.0.1, we are trying to use `pod_template_file` in `KubernetesPodOperator`. The `pod_template_file` contains several sections specifying `ConfigMap`, `Service` and `Deployment` etc.. However, I am seeing this error from Airflow
[code]

[2021-02-19 00:23] dimberman commented on #14307
@everglory99 can you please post the YAML file you're using?

[2021-02-19 00:44] everglory99 commented on #14307
The YAML file is generated by a helm chart our team developed by running `helm template`. The YAML file looks like
[code]

[2021-02-19 00:47] dimberman commented on #14307
@everglory99 I don't think you can do that with pod_template file. we expect just a single pod definition. You're trying to launch a pod with an attached service/configmap?

[2021-02-19 00:53] everglory99 commented on #14307
Yes, that is exactly the use case here. Do you have any suggestions how to achieve this in Airflow? Thanks!

[2021-02-19 01:03] #14202 closed

[2021-02-19 01:07] kaxil commented on #14138
https://github.com/apache/airflow/pull/14203 should have fixed it -- can you check and confirm, please?

We can re-open the issue if it has not fixed it

[2021-02-19 01:07] #14138 closed

[2021-02-19 01:07] dimberman commented on #14307
Hmm so one option would be to create a subclass of the KubernetesPodOperator that takes in file paths for these extra objects and launches them before launching the pod with a pod_template_file that launches JUST the pod and then deletes those objects in a "finally" block to ensure they are gone after the task ends. Would that work?

cc: @kaxil

[2021-02-19 01:15] kaxil commented on #14307
@dimberman Would you consider this a feature request then instead of a bug?

[2021-02-19 01:28] everglory99 commented on #14307
Thanks @dimberman for the suggestions! I am wondering how to launch non-pod objects using Airflow? Should I just use K8s Python client?

[2021-02-19 02:13] lewismc commented on #10752
This would be super helpful folks. I'll try my best to provide more PR's on the Chart as my experiments evolve and knowledge improves.

[2021-02-19 03:38] zhang699 commented on #13805
I also encounter this problem, but curious about another questions, why load same DAG three times before the exception happen, and the last two of loaded DAG path seems incorrect.
 
[code]
 
[code]

[2021-02-19 04:22] dstandish opened #14311 "false upgrade check alert: Custom Executors now require full path"
Encountered this error:

[code]

But my plugin is just a macro plugin:

[code]

[2021-02-19 04:39] OBITORASU commented on #14286
Repeating the info can indeed be annoying for the user if the server keeps emitting ```INFO``` same as ```WARNINGS``` in the above example. Any ideas on how to handle this case?

[2021-02-19 06:45] heeroyuy925 opened #14312 "Remote log on azure blob storage display issue on microsoft provider airflow/providers/microsoft/azure/log/wasb_task_handler.py"
**Apache Airflow version**: 2.1.0.dev0

**Environment**: docker-compose

**pip package I installed**:
azure-storage-blob                 12.7.1

**What happened**:
In my spike environment, we are testing to store remote log to Azure blob storage.

When we triggered the example dags, we find the log is displayed in one line which is hard to read.

For example:
  *** Reading remote log from platform

[2021-02-19 07:03] feluelle commented on #13185
SGTM 👍

[2021-02-19 13:55] sryabkov commented on #14303
@kaxil Is there an agreement on how to tackle documentation for the chart? It the plan to manually edit/comment `values.yaml`, `values.schema.json` and `README.md` for now? Use [artifacthub.io](https://artifacthub.io/) to host chart documentation, which would be based on [`values.schema.json`](https://github.com/apache/airflow/blob/master/chart/values.schema.json) and [artifacthub annotations](htt

[2021-02-19 14:29] kaxil commented on #14311
cc @Dr-Denzy

[2021-02-19 14:57] kaxil commented on #14162
Where are you running the backfill commands, try running it on Scheduler container instead of the webserver

[2021-02-19 15:18] n-oden opened #14319 "tasks with `none_failed` trigger rule do not run when all upstream tasks are skipped"
**Apache Airflow version**: 1.10.12
**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): v1.16.15-gke.6000

**Environment**:

- **Cloud provider or hardware configuration**: Google Kubernetes Engine
- **OS** (e.g. from /etc/os-release): "Container-Optimized OS"
[code]
- **Kernel** (e.g. `uname -a`): `Linux gke-services-1-default-pool-3ef08c09-v95l 4.19.112+ #1 SMP Sat Oct

[2021-02-19 16:09] sryabkov commented on #14301
Is the scope for this just adding unit tests to [`airflow/chart/tests`](https://github.com/apache/airflow/tree/0d366c1f297ec25b5f8e01c6d72a312e2ee64d4d/chart/tests) or is there more (e.g. integration testing)?

[2021-02-19 16:44] gontcharovd opened #14320 "Testing tasks with pytest: sqlalchemy.orm.exc.NoResultFound raised on a task's first .run()"
**Apache Airflow version**: 2.0.1

**Environment**:

<details><summary>Python requirements.txt</summary>
alembic==1.5.4
apache-airflow==2.0.1
apache-airflow-providers-ftp==1.0.1
apache-airflow-providers-http==1.1.0
apache-airflow-providers-imap==1.0.1
apache-airflow-providers-sqlite==1.0.1
apispec==3.3.2
argcomplete==1.12.2
attrs==20.3.0
Babel==2.9.0
cached-property==1.5.2
cattrs==1.2.0
certifi==2

[2021-02-19 17:57] potiuk commented on #14303
I believe the best plan is to document `values.schema.json` better and generate nice documentation from it. I think @mik-laj contributed to an external tool (can't remember which) to make a nice documentation generated out of that.

[2021-02-19 18:06] potiuk commented on #14286
That's strange to see it repeated. This might happen once per process  if you have many processes but I am nto sure this is what happens here. Maybe it just repeats few times and stops? I think this might happen by gunicorn spawning few processes after webserver starts. Does it ever stop @ConstantinoSchillebeeckx or does it continue forever?

[2021-02-19 18:55] ConstantinoSchillebeeckx commented on #14286
@potiuk I don't know that I can comment about it continuing _forever_ 🤣 ; however I did observe these `WARNINGS` for over 20 minutes.

[2021-02-19 19:12] gaurav1008 commented on #14181
Tested on below. Its showing same problem.

Version: v2.0.1
Git Version:.release:2.0.1+beb8af5ac6c438c29e2c186145115fb1334a3735

[2021-02-19 19:17] JasonPierce commented on #14266
Happening in `apache/airflow:2.0.1-python3.8`, as well.

Workaround (thanks @kaxil):

1. Start Airflow: `docker-compose up`
2. Open bash in webserver container: `docker exec -it airflow_airflow-webserver_1 /bin/bash` (use `docker ps` to find your webserver container name)
3. Install azure-storage-blob: `pip uninstall --yes azure-storage && pip install -U azure-storage-blob apache-airflow-providers

[2021-02-19 19:23] Alxander64 commented on #14138
I believe that issue covered the same thing this one was, so it should be good.

[2021-02-19 19:24] potiuk commented on #14286
:rofl: Indeed I do not want you to wait THAT long.

[2021-02-19 19:24] potiuk commented on #14286
I will check it during the weekend

[2021-02-19 19:26] OBITORASU commented on #14286
I guess I will wait until this is investigated further then.

[2021-02-19 19:48] kaxil commented on #14301
We should do both:

- Unit: https://github.com/apache/airflow/tree/0d366c1f297ec25b5f8e01c6d72a312e2ee64d4d/chart/tests
- Integration: https://github.com/apache/airflow/tree/master/0d366c1f297ec25b5f8e01c6d72a312e2ee64d4d

[2021-02-19 19:51] arbass22 commented on #8743
I was also thinking about this.  As a simple use case (which sounds similar to you use case), it would be great if the airflow.ti_successes and airflow.ti_failures where tagged with the DAG and task.  May even the worker host name/pool?

[2021-02-19 20:19] stbones opened #14322 "Airflow Login Failed After Creating User"
**Apache Airflow version**:
1.10.14

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
No Kubernetes
**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
Linux
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:
I have created an admin user using below command for first time, and it wa

[2021-02-19 21:13] kaxil commented on #14182
https://github.com/apache/airflow/pull/14323 should fix it

[2021-02-19 21:56] dstandish opened #14324 "scheduler fails at `line 1382, in _run_scheduler_loop`"
after upgrading to airflow 2.0, scheduler fails after 30 seconds (every time) without helpful traceback:

[code]

Interestingly this line should only be accessed when using sqlite but I am using mysql and I have verified the scheme is specified correctly.

did not have any issues in staging environments

[2021-02-19 22:41] stoiandl commented on #14261
Few days later the issue appeared again...

[2021-02-19 23:38] n-oden commented on #14319
As it turns out, this has been fixed between 1.10.12 and HEAD, but has not been released yet.

Whatever is going on here definitely does not happen in all cases.  The simplest possible test case for skip behavior appears to function as expected:

The issue was in https://github.com/apache/airflow/blob/1.10.12/airflow/sensors/base_sensor_operator.py#L112-L114:

[code]

Any sensor that inherited Bas

[2021-02-20 00:11] ajbosco opened #14326 "Task Instances stuck in "scheduled" state"
**Apache Airflow version**: 2.0.1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): v1.17.12

**Environment**:

- **Cloud provider or hardware configuration**: AWS EKS
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:
Several Task Instances get `scheduled` but never move to `queued` or `running`

[2021-02-20 00:12] ajbosco commented on #14326
@kaxil - This is the issue we discussed on Slack.

[2021-02-20 00:17] ajbosco opened #14327 "Kubernetes Objects are not serializable and break Graph View in UI"
**Apache Airflow version**: 2.0.1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): v1.17.12

**Environment**:

- **Cloud provider or hardware configuration**: AWS EKS
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:
When you click on Graph view for some DAGs in 2.0.1 the UI errors out (logs be

[2021-02-20 00:46] #14182 closed

[2021-02-20 01:52] ajbosco commented on #14326
Actually, I think the issue is right here. If you have 100 slots in a pool and 1 task running with 99 queued, this will return that there are no tasks to run.

https://github.com/apache/airflow/blob/2.0.1/airflow/jobs/scheduler_job.py#L904

[2021-02-20 02:54] Junnplus commented on #14294
You can set `access_logfile` to `/dev/null` on airflow.cfg .

[2021-02-20 04:09] jyotidhiman0610 commented on #12691
Thanks @XD-DENG :)

[2021-02-20 04:32] VBhojawala commented on #14322
In my humble opinion

airflow resetdb : removes all entries (Records) from  database.

airflow init : initalize the database.
https://airflow.apache.org/docs/apache-airflow/1.10.8/howto/initialize-database.html

After initializing database you can create new user using

"airflow users create --role Admin --username admin --password admin --email admin@example.com --firstname foo --lastname bar"

[2021-02-20 05:01] VBhojawala commented on #14300
I think you are passing string to  "cc=email_cc" instead of list of string that is why you are getting
 TypeError(f"Unexpected argument type: Received '{received_type}'.")

Kindly check the official document describing arguments type of EmailOperator in below link :

https://airflow.apache.org/docs/apache-airflow/1.10.9/_modules/airflow/operators/email_operator.html

[2021-02-20 07:26] pradyunsg commented on #12838
Closing based on earlier comments:

[2021-02-20 07:27] pradyunsg commented on #12838
Oh wait, this isn’t pypa/pip. Nvm me. I blame the lack of a breakfast. :P

[2021-02-20 13:15] soltanianalytics opened #14331 "Airflow stable API taskInstance call fails if a task is removed from running DAG"
**Apache Airflow version**: 2.0.1

**Environment**: Docker on Win 10 with WSL, image based on `apache/airflow:2.0.1-python3.8`

**What happened**:

I'm using the airflow API and the following (what I believe to be a) bug popped up:

[code]

This happened after I changed a DAG in the corresponding instance, thus a task was removed from a DAG while the DAG was running.

**What you expected to happen

[2021-02-20 19:27] potiuk opened #14337 "Self hosted runners for GitHub actions fail very often on"
Very often, the self-hosted runners fail with this message:

[code]

Example failure: https://github.com/apache/airflow/actions/runs/584691417

It happened basically every time (and in many cases more than once) over the last few pushes I've done.

I think we need to get to the root cause of it - I suspect this might have something to do with scaling in/out the runners.

Happy to help solving it -

[2021-02-20 19:35] dstandish commented on #14324
i think this might having something to do with bad choice of collation / encoding

i was getting a lot of crashing of the scheduler ... it was pretty confusing...

but eventually i found that the server was using latin1 ... i converted all tables in db to use utf8mb4 and things have been a lot smoother

[2021-02-20 19:41] dstandish opened #14338 "subdag tasks don't get picked up when dag concurrency set to 1"
They do get picked up like once or twice but pretty quickly somehow things get into a state where the scheduler thinks there is a task runninging in the dag (the subdag operator) so it won't schedule any more tasks (i.e. the real tasks, in the subdag)

i know [subdags are on the way out](https://github.com/apache/airflow/issues/12292) and i am no fan of subdags (i took this opportunity to remove a

[2021-02-20 19:42] ashb commented on #14337
I have been working on this slowly - my hypothesis is it's a race condition: when the runner is busy it is protected from scale in, it finishes, gets un-protected from scale in, AWS starts terminating it, but before the instance terminates it picks up a new job. Right in time to get hard killed.

My in progress fix is to use a lifecycle hook to not get killed instantly.

[2021-02-20 19:43] ashb commented on #14337
A quick fix for now is to disable the scale in alarm on the ASG

[2021-02-20 20:22] potiuk commented on #14337
Sounds palausible

[2021-02-20 21:09] stbones commented on #14322
@VBhojawala  Thank you it worked out..

I noticed another issue, password does not take few special characters like $, &, etc. Example I had password TestAirflow123&, I could not log in with it, but when I change it to TestAirflow123, it worked out. Are there any special rules for setting up password?

[2021-02-20 21:59] ajbosco commented on #14326
Update: I think the issue is that we have tasks that are more than 63 characters. The annotation for task_id then gets truncated. This causes these tasks to never leave the `self.running` list in the Executor and once enough build up the Scheduler is blocked even though it is not doing anything.

[2021-02-20 22:14] ashb commented on #7935
Nice debugging @MatthewRBruce - and your diagnosis seems sound. We'll start on a fix next week.

[2021-02-20 22:24] kaxil commented on #14326
Thanks for the info @ajbosco -- Are you using KubernetesExecutor? Just want to make sure I get enough details to  reproduce this on my end.

[2021-02-20 22:27] ashb commented on #14337
Have just pushed out that change it should take effect soon (some old runners are still up)

[2021-02-20 22:42] r-richmond opened #14340 "Airflow upgrade_check likely issuing false warnings"
**Apache Airflow version**: 1.10.14

**Environment**:

- **Cloud provider or hardware configuration**: docker-compose
- **OS** (e.g. from /etc/os-release): centos
- **Kernel** (e.g. `uname -a`): unsure
- **Install tools**: pipenv

<details><summary>Installed Versions</summary>

[code]
 </details>

**What happened**:

Running `airflow upgrade_check` threw the following warning

`2.  Class <class 'a

[2021-02-20 22:59] ajbosco commented on #14326
Yep, we're using the KubernetesExecutor

[2021-02-20 23:42] potiuk commented on #14322
You need to quote parameters in bash when you have special characters. In Bash/Zsh when you put & without quote it is "go to background" indicator. This is probably the problem you had.

I am closing the issue for now unless there are other findings.

[2021-02-20 23:42] #14322 closed

[2021-02-20 23:53] ldacey commented on #8605
Has anyone successfully gotten turbodbc installed using pip? I have had to install miniconda and use conda-forge to get turbodbc + pyarrow working correctly. This adds a little complication to my Dockerfile, although I do kind of like the conda-env.yml file approach.

@mik-laj wow, I knew I could use common environment variables but I had no idea you could also do the volumes and images, that is s

[2021-02-21 09:12] subashcanapathy commented on #14208
I used the following on amazonlinux2 to get latest sqlite

[code]

[2021-02-21 09:34] potiuk commented on #14337
It works much better now! Thanks ! Closing it.

[2021-02-21 09:34] #14337 closed

[2021-02-21 13:23] ephraimbuddy commented on #14331
From here:
https://github.com/apache/airflow/blob/a7e4266d675d5283cdd34c6451c8ef0f2858a501/airflow/utils/state.py#L48-L60
The task states do not include `removed`, I think that's why it was omitted here:
https://github.com/apache/airflow/blob/a7e4266d675d5283cdd34c6451c8ef0f2858a501/airflow/api_connexion/openapi/v1.yaml#L2500-L2509
Should we change this @kaxil?

[2021-02-21 14:44] flolas commented on #14312
We are facing same issue... after upgrading airflow 2.0.0 to 2.0.1 and providers 1.0.0 to 1.0.1.

[2021-02-21 16:04] CatarinaSilva commented on #13003
Thanks for the info 👍

[2021-02-21 17:02] ldacey commented on #14312
Ah, good there is any issue already. Yep, my airflow logs are displayed as a single line which makes them unreadable on the webserver. If I download the log from the UI, or if I open the log directly in the blob container then the formatting is fine.

`b"[2021-02-21 16:16:03,590]`

[2021-02-21 18:20] norfe commented on #14261
I'm seeing a similar issue when trying to run airflow on minikube.

[code]

I can reproduce it always with:

[code]
After running for a while, scheduler restarts periodically:

[code]

[code]

[2021-02-21 18:34] binygreenberg opened #14346 "init scripts for dockerfile"
**Description**

Add ability to process init scripts when starting airflow container (part of entrypoint script)

**Use case / motivation**

Similar to the [mysql entrypoint.sh](https://github.com/docker-library/mysql/blob/master/8.0/docker-entrypoint.sh#L369) allowing to run any number of init scripts before the scheduler/webserver is started.
this can be usefull for adding connections, variables

[2021-02-21 18:40] potiuk commented on #14346
Cool! I assigned you to that :)

[2021-02-21 18:42] potiuk commented on #14346
Just make sure that the init scripts are scanned from `docker-context-files` - this folder is one of the few that are included in the docker context. We have the rule (that makes it really fast) to exclude everythin from docker context and inclulde only some files /directories (see .dockerignore)

[2021-02-21 19:32] Junnplus commented on #13972
@dimberman kubernetes problem. Can we add an option to skip `fsGroup` setting?

[2021-02-21 19:38] potiuk commented on #14208
Maybe @subashcanapathy an/ @pgibert  you could add a PR to guide people in https://github.com/apache/airflow/blob/master/docs/apache-airflow/howto/set-up-database.rst#setting-up-a-sqlite-database ?

Sounds like a useful "howto" part for people who use centos 7 / amazonlinux2 .

[2021-02-21 23:04] potiuk opened #14349 "No space left on device for self-hosted runners"
I think there are some left-overs from previous builds that make self-hosted runners vulnerable to exhausting/disk memory space.

There was a failure in https://github.com/apache/airflow/pull/14347/checks?check_run_id=1947465987 where the errors was "no-space-left on device"   that suggest some left-overs. I believe the only way to fight with those is to make complete cleanup of the self-hosted ru

[2021-02-22 01:55] Rukeith opened #14352 "Airflow2.0 cannot read remote log from GCP GCS"
**Apache Airflow version**:
v2.1.0.dev0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**: Docker on GKE
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

Here is my logging configuration at `airflow.cfg`

[code]

**What you expe

[2021-02-22 02:29] don4of4 commented on #14266
Experiencing this as well -- obviously running commands in the container isn't great.  Is this fixed in a more recent version?

Also seeing: ` Exception when importing 'airflow.providers.google.cloud.hooks.compute_ssh.ComputeEngineSSHHook' from 'apache-airflow-providers-google' package: cannot import name 'ImportSshPublicKeyResponse' from 'google.cloud.oslogin_v1'`

[2021-02-22 03:03] petobens commented on #13149
I had to fork `flask-openid` to make it work:
[code]
basically removing the sys.version_info check that made poetry install the Python2 dependency instead of the correct Python3 one. Since Airflow 2.0 only supports Python >=3.6 can Airflow either use my fork or a new flask-openid fork with this workaround? (the official flask-openid library hasn't been updated in almost 5 years)

[2021-02-22 06:14] yogyang commented on #13853
Hi, @kaxil would you help identify this, this bug is kind of preventing me from upgrading the Airflow to 2.0 as we do need the ability to rerun the previous dag-runs in case of some error data.

I compared the codes to 1.10.14(which has no this problem):

in 2.0.0 we have skipped the task_instance runs when the dag is found as dag_timout
https://github.com/apache/airflow/blob/c743b95a02ba1ec040136

[2021-02-22 07:17] jicki opened #14354 "airflow version 2.0.1 === airflow db upgrade error"
[code]

[2021-02-22 08:52] #14294 closed

[2021-02-22 08:53] a8j8i8t8 commented on #14294
Oh, it's that simple. Thanks @Junnplus

[2021-02-22 09:45] aroraprince opened #14355 "Not able to access dag ui after json decode error in payload"
**Apache Airflow version**:  2.0.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): Not using

**Environment**:

- **Cloud provider or hardware configuration**:  DigitalOcean
- **OS** (e.g. from /etc/os-release):Ubuntu 20
- **Kernel** (e.g. `uname -a`): Linux airflow 5.4.0-65-generic #73-Ubuntu SMP Mon Jan 18 17:25:17 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux
- **Instal

[2021-02-22 10:36] #13917 closed

[2021-02-22 11:42] sparrovv commented on #11663
Hi, we only noticed that behaviour in our setup. For some tasks, cloudwatch logs are just not fetched/displayed.

[2021-02-22 11:43] halilduygulu commented on #14338
I think in airflow 2 subdags are considered as a task instance and a dagrun, so when i have 15 subdags in a dag and set scheduler level general concurrency to 15, I have no running task instance slot left for actual tasks since subdag operator is holding up scheduler to create task instances.

[2021-02-22 13:17] stoiandl commented on #13916
I also have the same issue with KubernetesExecutor on AKS... It happens every 15 mins for some reason...

[2021-02-22 13:39] #14300 closed

[2021-02-22 14:33] WesleyBatista opened #14359 "upgrade_check fails on ImportChangesRule"
**Apache Airflow version**: 1.10.14

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): Debian GNU/Linux 9 (stretch)
- **Kernel** (e.g. `uname -a`): `Linux <redacted> 4.9.0-3-amd64 #1 SMP Debian 4.9.30-2+deb9u5 (2017-09-19) x86_64 GNU/Linux`
- **Install tools**:
- **O

[2021-02-22 14:52] SamWheating commented on #14352
Is `gs://airflow` the correct name for your GCS bucket? GCS buckets have globally-unique names so I would be surprised / impressed if you were able to create a bucket with this name.

[2021-02-22 15:36] potiuk commented on #14354
This is because you have MySQL 5.6. You need MySQL 5.7 and above to use Airflow 2.0.

[2021-02-22 15:36] #14354 closed

[2021-02-22 15:51] potiuk commented on #13149
@petobens -> did you try to make a PR to the flask-openid library? the change is not huge and in the light of Python 2 EOL > year ago, maybe the authors will merge and release it?

I am afraid we cannot release anything in PyPI that refers to a github repository even if we want - PyPI does not work with dependencies from GitHub.

[2021-02-22 15:56] potiuk commented on #14266
Seems that this issue can be closed. I do not think we can do much more here :(

[2021-02-22 15:56] #14266 closed

[2021-02-22 16:08] bbovenzi commented on #14327
@ajbosco Could you provide an example DAG that this fails on?

[2021-02-22 16:15] Amirilw commented on #12563
we have the same issue, we running with 10.14.
setting the AIRFLOW__KUBERNETES__RUN_AS_USER to run with a different user will not overwrite that value.

Any temp fix of using a different user ID ?

Thanks,

[2021-02-22 16:16] kaxil commented on #14265
Can you test it with 2.0.1 too please @YangMuye ?

[2021-02-22 16:25] dstandish commented on #14338
the dags (where the subdags lived) had a dag concurrency of 1.   it wasn't general scheduler concurrency (i.e. cluster parallelism or whatever it is)

but so it sounds like you are saying these simply needed to be updated to have a concurrency of 2.... for example.  these seems a bit risky what if after finishing first task in a subdag the scheduler launches a new subdag instead of another task in

[2021-02-22 17:21] wpromatt opened #14363 "Argument order change in airflow.providers.google.cloud.hooks.gcs.GCSHook:download appears to be a mistake."
### Description
https://github.com/apache/airflow/blob/6019c78cb475800f58714a9dabb747b9415599c8/airflow/providers/google/cloud/hooks/gcs.py#L262-L265

Was this order swap of the `object_name` and `bucket_name` arguments in the `GCSHook.download` a mistake? The `upload` and `delete` methods still use `bucket_name` first and the commit where this change was made `1845cd11b77f302777ab854e84bef9c212c6

[2021-02-22 17:37] ernest-kr commented on #14355
Can you check the airflow.cfg file ? I assume that is corrupted

[2021-02-22 17:42] ernest-kr commented on #14338
which version of the airflow are you using ?

[2021-02-22 17:56] dstandish commented on #14338
2.0.1

[2021-02-22 18:04] AXington commented on #12563
@Amirilw I honestly don't remember what workaround we did to get past this other than changing the airflow user to 50000. The issue with a read only file system is not resolved. This is a significant security and compliance issue that we have been waiting on being fixed for quite a while.

[2021-02-22 18:18] arbass22 opened #14364 "Missing schedule_delay metric"
**Apache Airflow version**: 2.0.0 but applicable to master

**Environment**: Running on ECS but not relevant to question

**What happened**: I am not seeing the metric dagrun.schedule_delay.<dag_id> being reported.  A search in the codebase seems to reveal that it no longer exists.   It was originally added in https://github.com/apache/airflow/pull/5050.

I suspect either:
1.  This metric was inte

[2021-02-22 18:44] chrisrfu opened #14365 "docker-compose up airflow-init produces airflow command error"
**Apache Airflow version**: 2.0.1

**Environment**:

- OS (e.g. from /etc/os-release): macOS 10.15.7
- Kernel (e.g. uname -a): Darwin Kernel Version 19.6.0
- Install tools: docker-compose

**What happened**:
Following the steps in the _Quick start > Running Airflow in Docker_ page (https://airflow.apache.org/docs/apache-airflow/stable/start/docker.html#initializing-environment):

1. Pulled down th

[2021-02-22 20:17] #14178 closed

[2021-02-22 21:25] aviau commented on #14167
Really important for us too!

[2021-02-22 21:58] aviau commented on #13918
Same issue here and I can confirm that the template is read because it sucessfully launches with the provided config.

[2021-02-22 22:03] pgrandjean commented on #13788
What would be the impact of replacing "date intervals" with a CRON-like behaviour?

[2021-02-22 22:19] naturalett commented on #14198
Thanks for your input. The plugin is a good way to tackle it.
I understand the importance of the workers but I thought that workers should have the same libraries. DAGs can run autonomically on each one of the workers that I have. So basically all workers should have the same conf, libraries. no?

[2021-02-22 23:29] Kaash commented on #13225
Am also looking at this feature as we want to "clear" tasks in DAGS based on task ids using the REST API.

Hey @vemikhaylov are you close to a solution?

[2021-02-23 00:04] jhtimmins commented on #14364
@arbass22 Thanks for bringing this up! Looks like you're right, the functionality was removed when support for multiple schedulers (AIP-15) was introduced https://github.com/apache/airflow/commit/73b9163a8f55ce3d5bf6aec0a558952c27dd1b55#diff-bde85feb359b12bdd358aed4106ef4fccbd8fa9915e16b9abb7502912a1c1ab3L799.

@kaxil @ashb Do either of you know if this was intentional, or if it was removed accide

[2021-02-23 00:04] kaxil commented on #13225
Just to be clear we already have

https://airflow.apache.org/docs/apache-airflow/stable/stable-rest-api-ref.html#operation/post_clear_task_instances

`https://airflow.apache.org/api/v1/dags/{dag_id}/clearTaskInstances` but the ask (at least from @Kaash ) is to have an optional task_id filter for this endpoint

[2021-02-23 00:25] kaxil commented on #14331
We just need to check it (`task_states) isn't used anywhere else to cause domino effect

[2021-02-23 00:27] Dr-Denzy commented on #13226
@potiuk I am writing an upgrade check for this issue. Could you provide more perspective on this issue so that I can write a suitable unit test for this upgrade check. Thanks.

[2021-02-23 00:43] vikramkoka commented on #14324
Thank you @dstandish, should this be closed then based on your update?

[2021-02-23 00:44] saisujithkp commented on #12136
Is anyone still having the issue mentioned by @yamrzou , I'm using airflow 1.10.14 and have a similar issue where the logs of a long running task are similar to https://github.com/apache/airflow/issues/12136#issuecomment-756233260.

[2021-02-23 01:00] Rukeith commented on #14352
@SamWheating `gs://airflow` is just a mock name which is not the exact name on `airflow.cfg`

[2021-02-23 01:02] jhtimmins commented on #14365
@chrisrfu It's hard to tell exactly what's going wrong here, but it appears that there's some type of mismatch between old/new data or old/new versions.

For example, `alembic.script.revision.ResolutionError: No such revision or branch '449b4072c2da'` seems to refer to an existing alembic revision number. It could also be that you need to upgrade docker.

How are you using `conda-env`? Is that an

[2021-02-23 01:14] jhtimmins commented on #14363
I suspect this was done on purpose, since the change also made `bucket_name` optional, and `object_name` is still required. But you're right about the doc-block, that should be updated to match the current order.

@mlgruby does this sound correct?

[2021-02-23 01:33] jicki commented on #14354
MySQL 5.7   Airflow 1.10.13    desc xcom:

[code]

[2021-02-23 01:38] dstandish commented on #14324
Yes will close, sorry.

[2021-02-23 01:38] #14324 closed

[2021-02-23 02:16] mlgruby commented on #14363
Yes, the swap was done on purpose as there is no default value for object_name and to make mypy pass this check I have to put the no default argument at first and then the default value arguments ones.

Agree that the doc block is not updated, My Bad.

[2021-02-23 02:53] huaerheima opened #14373 "delete_dag in json_client, the end_point is wrong"
**Apache Airflow version**: 1.10.12

the code of the function delete_dag in /airflow/api/client/json_client.py
[code]
the code of the function delete_dag in /airflow/www/api/experimental/endpoints.py
[code]

I found the endpoint is diffent with the route of delete_dag, this should be a bug

[2021-02-23 03:04] jhtimmins commented on #14363
Thanks for the info @mlgruby! Makes sense.

@wpromatt if you'd like to get a PR with Airflow you can update the doc block, otherwise I'm happy to make the change.

[2021-02-23 05:39] chrisrfu commented on #14365
docker is updated to the latest 3.1.0 version. my bad, `conda-env` is a typo

[2021-02-23 05:54] isunitha98selvan commented on #14217
Hey, if no one is working on this issue, I can submit a patch :)

[2021-02-23 05:57] kaojunsong opened #14374 "Search in "DAG Runs" crashed with "Conf" filter"
**Apache Airflow version**:

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): "v1.14.2"

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
NAME="CentOS Linux"
VERSION="7 (Core)"
ID="centos"
ID_LIKE="rhel fedora"
VERSION_ID="7"
PRETTY_NAME="CentOS Linux 7 (Core)"
ANSI_COLOR="0;31"
CPE_NAME="cpe:/o:centos:centos:7"
HO

[2021-02-23 05:58] vemikhaylov commented on #13225
Yes, I have implemented the most of the business logic and tests, but have gone on vacation. I'm going to create the PR in the next couple of days.

[2021-02-23 06:40] vemikhaylov commented on #13225
Hey @kaxil

I have locally implemented the following interface:

[code]

That's similar to what we have there:
https://github.com/apache/airflow/blob/master/airflow/www/views.py#L1311-L1331

That's is currently used to run a task instance from the UI, but works for the Celery and Kubernetes executors only.

Is it actually relevant or completely the same problems can be solved using the `/dags/{dag

[2021-02-23 06:44] aroraprince commented on #14355
@ernest-kr that should not be the case.
The other dags are working fine.

[2021-02-23 07:23] srthok opened #14377 "Airflow 2.0 Github Enterprise based OAuth issue"
**Apache Airflow version**: 2.0.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): NA

**Environment**:

- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): Ubuntu  18.04.5 LTS (Bionic Beaver)
- **Kernel** (e.g. `uname -a`):Linux ip-10-144-101-222 5.4.0-1037-aws #39~18.04.1-Ubuntu SMP Fri Jan 15 02:48:42 UTC 2021 x86_64 x86_64 x86

[2021-02-23 08:16] wszxw233 opened #14378 "error:instance detail"
Something bad has happened.
Please consider letting us know by creating a bug report using GitHub.

Python version: 3.6.8
Airflow version: 2.0.0
Node: cdh-node5.maycur.cc
-------------------------------------------------------------------------------
Traceback (most recent call last):
  File "/usr/local/lib64/python3.6/site-packages/flask/app.py", line 2447, in wsgi_app
    response = self.full_di

[2021-02-23 08:35] DougForrest opened #14379 "Running Airflow in Docker - Tutorial dags backfill tutorial example fails with TypeError: cannot serialize '_io.TextIOWrapper' object"
Hello, Apologizes in advance if this is a newbie mistake. I'm working through the [tutorial](https://airflow.apache.org/docs/apache-airflow/stable/tutorial.html#backfill) using Docker Desktop for Mac locally using the docker-compose from the [Running Airflow in Docker](https://airflow.apache.org/docs/apache-airflow/stable/start/docker.html). I'm copying the tutorial code as is as except for replac

[2021-02-23 08:49] potiuk commented on #14354
Then you probably have `utf8mb4` encoding. In such case you need to specify `sql_engine_collation_for_ids=utf8mb3_general_ci` parameter in Airflow's config before migration. This is due to limitations of MySQL - when utf8mb4 is used, each character takes 4 bytes and it exceed the maximum key size.

We already have a chapter about it in the upcoming documentation (will be released with the next rel

[2021-02-23 09:44] ashb commented on #14364
Whops, no, not intentionally removed.

[2021-02-23 10:10] ashb commented on #14198
It's easier to reason about what will happen on a worker if every worker has the same config, but Airflow itself does not place a _hard_ requirement that every worker must be indentical.

It's a advanced power user feature to have them different (for instance you can have different queues to target different hardware- - i.e. GPU vs CPU heavy workloads), but it shouldn't be done without understandi

[2021-02-23 10:14] ayushri05 opened #14382 "what is registry_conn_id and from where I can get it in case of Azure container Registry."
Hi, My requirement is to run the Azure container Instance in my Azure Instance and run the container Image.
I user the AzureContainerInstanceOperator and the doccumentation from Astronomer for the same.
I created the Airflow connection with the type `Azure Container Instance` , client Id, Client secret, Tenant Id and subscription Id as given in the doc.
I have also added the parameter values in th

[2021-02-23 10:14] ashb commented on #14349
That link doesn't take me to anything showing out of disk space (anymore?) -- did it get rerun?

I _really_ wish GitHub had a way of linking to logs for previous runs.

[2021-02-23 10:50] #12669 closed

[2021-02-23 11:38] RikHeijdens opened #14384 "Scheduler ocassionally crashes with a TypeError when updating DagRun state"
**Apache Airflow version**: 2.0.1
**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): N/A
**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**: Python 3.8

**What happened**:

Occasionally, the Airflow scheduler crashes with the following exception:

[code]

[2021-02-23 11:52] potiuk commented on #14349
Can't find it as well. I think I will close it for now - I have not seen it for a while. Le't see if it reappears.

[2021-02-23 11:52] #14349 closed

[2021-02-23 12:02] kaxil commented on #13225
@vemikhaylov Yes, we should implement the `clearTaskInstances` as it works for all executors coz it let's Scheduler pick the TaskInstances instead of Webserver creating an executor and running it

[2021-02-23 12:04] kaxil commented on #13853
Yeah I think the dagrun_timeout was broken (or didn't work as intended) in 1.10.x

[2021-02-23 13:06] ShintaroOba opened #14385 "change the status code which healthcheck API returns"
**Description**
Healthcheck endpoint returns 503 (Service Unavailable) when server is unhealthy.

**Use case / motivation**
Current healthcheck api returns status code "200 (OK)"even if server is "unhealthy".
It couldn't be working healthcheck correctly when some cloud services (like aws) which can periodically sends healthcheck requests to airflow.
Because they are judging success or failure only

[2021-02-23 13:18] potiuk commented on #14198
Maybe if we make a clear "information" that this is "locak Webserver" setup and stating exactly that (not scheduler nor worker - if you want scheduler setup you will have to reach out to it and this would be much more complex) it could cover big number of cases where all Airflow entities share the same image/environment (and it has to be clearly communicated those are "webserver" packages, nothing

[2021-02-23 13:19] ayushri05 commented on #14382
Hi, After sometime the task ran but failed due to ‘registry_conn_id’ isn’t defined.
Does anyone know, From where i can get the ‘registry_conn_id’ value for Azure container registry?

[2021-02-23 14:24] ajbosco commented on #14327
It seems to occur on any DAG with a `KubernetesPodOperator` task with `resources` set. And only after a DAG Run exists.

[2021-02-23 14:46] ecerulm opened #14390 "breeze: capture output to a file"
Reference: [Slack conversation with Jarek Potiuk](https://apache-airflow.slack.com/archives/CQ9QHSFQX/p1614073317003900) @potiuk

**Description**

Suggestion: it would be great if breeze captured the output into a log file by default (for example when running breeze build-image) so that is easier to review the build process, I have seen at least  errors invoking date utility and now I would need t

[2021-02-23 14:46] ecerulm commented on #14390
@potiuk

[2021-02-23 14:49] ldealmei opened #14392 "Refer Best Practices of using Variables in the Concepts/Variables section"
**Description**
The `Variable` feature caused us some issue because of the performance impact it can have if badly used. See [here](https://issues.apache.org/jira/browse/AIRFLOW-29).
To a rather new user, it is not obvious that how the DAG is written can have a considerable impact in executing it.
In our case we were generating 100s of tasks each using `Variable.get` in its configuration, making l

[2021-02-23 15:09] ecerulm opened #14393 "breeze: it relies on GNU date which is not the default on macOS"
**Apache Airflow version**:
2.0.1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **OS** macOS Catalina

**What happened**:

`breeze build-image`  gives

[code]

As I explained in [Slack](https://apache-airflow.slack.com/archives/CQ9QHSFQX/p1614092075007500) this is caused by
https://github.com/apache/airflow/blob/b9951279a0007db99a6f4c52197907eb

[2021-02-23 15:15] ldealmei commented on #8605
Thank you all for the `docker-compose` files :)
I'm sharing mine as it addresses some aspects that I couldn't find in this thread and had me spend some time on it to get it to work. These are:
- Working with DockerOperator
- Deploy behind a proxy (Traefik)
- Deploy dags on push with `git-sync` (This one is optional but is quite convienent).

@mik-laj I also have a working healthcheck on the schedu

[2021-02-23 15:26] JavierLopezT opened #14394 "Add link to not deprecated modules docs"
There are a lot of documentation that is the first link when you google something that actually doesn't contain anything because of the update of the paths.

For instance, if you google `trigger dagrun operator` the first link is https://airflow.apache.org/docs/apache-airflow/stable/_api/airflow/operators/dagrun_operator/index.html
Which has the following content:
![Captura de pantalla 2021-02-23

[2021-02-23 15:28] JavierLopezT opened #14395 "Web pages in the bottom of doc page don't go to specific Airflow page"
In here
https://airflow.apache.org/docs/apache-airflow/stable/index.html
The buttons
![Captura de pantalla 2021-02-23 a las 16 28 19](https://user-images.githubusercontent.com/11339132/108866068-251c1700-75f4-11eb-8147-f3114b866073.png)
All redirect to the general web (youtube.com, github.com and so on) and not to the specific airflow page

[2021-02-23 18:13] r-richmond opened #14396 "Make context less nebulous"
**Description**

Currently context is a dictionary. The dictionary is a bit nebulous especially for new users as it isn't clear what is present inside it and the autocomplete functionality of arbitrary dictionaries leaves a lot to be desired.

Discoverability and type safety could be greatly improved if context was refactored into a dataclass (preferred) or typedDict(less ideal but probably easier

[2021-02-23 18:40] dstandish opened #14398 "pendulum instance error when rendering task instance details view when no dag runs"
**Apache Airflow version**: 2.0.1

**What happened**:

Wanted to view task instance details on webserver to verify pool definition of tasks

Got this error

[code]

Need to make it so that the template context is tolerant of this case
**What you expected to happen**:

[2021-02-23 20:18] FloChehab commented on #11707
Hello, just wanted to let you now that I should have time to work on this issue in couple of weeks.

[2021-02-23 20:18] FloChehab commented on #13643
Hello, just wanted to let you now that I should have time to work on this issue in couple of weeks.

[2021-02-23 21:14] zachliu commented on #13799
i'm glad i found this before opening another issue :joy:

**Apache Airflow version**: 2.0.1

**What happened**:

[code]

[2021-02-23 21:36] potiuk commented on #14396
I think context as a ductionary is pretty sound. Dataclass is not pythonic at all and makes it difficult to evolve. I think it's very pythonic to have dictionaries in Python  and it brings a number of benefits, with little drawback

[2021-02-23 21:51] potiuk commented on #13226
Simply  import ogf the old SQLAInterface should tirgger a warning

[2021-02-23 22:29] RikHeijdens commented on #14384
I got a little bit further with finding the root cause of why `start_date` may be null: when one transitions the state of the DagRun from `failed` to `running` using the form that appears at `http://<airflow_host>/dagrun/edit/<dag_id>`, then that form will cause the `start_date` for the DagRun to be cleared.

For reasons still unclear to me, the scheduler then decides it is necessary to transition

[2021-02-23 22:41] zachliu commented on #13799
same situation with the `operator` column in `task_instance` table
i had to do
[code]
should i open a new issue?

[code]

[2021-02-23 22:44] aviau commented on #13918
I deployed https://github.com/apache/airflow/pull/14186 and it fixes the issue for the pod name.

[2021-02-23 22:56] marcbizal commented on #14365
I have an identical issue.

**Environment:**

- OS: macOS 11.2.1
- Kernel: Darwin Kernel Version 20.3.0

It's worth noting that this is on an M1 chip for me.

[2021-02-23 23:01] careduz commented on #14261
We are facing the same issue (scheduler liveness probe always failing and restarting the scheduler). Details:

**Airflow: Version 1.10.14**
**Kubernetes: Version 1.20.2** (DigitalOcean)
**Helm airflow-stable/airflow: Version 7.16.0**

[code]

And the logs are basically on a loop:
[code]

[2021-02-23 23:04] DougForrest commented on #14379
I updated the docker-compose.yaml default airflow image which fixed the problem.
[code]

Output above shows container was running python3.6. The comments in the docker-compose.yaml state the default should be `Default: apache/airflow:master-python3.8`

Created pull request for v2-0-stable. Changes are consistent with master branch.
https://github.com/apache/airflow/pull/14404

[2021-02-23 23:11] kaxil commented on #14379
Master and v2-0-stable are fair bit different in terms of the actual code. And users shouldn't be using images from Master in their Prod clusters

[2021-02-23 23:38] DougForrest commented on #14379
Thanks for the response I wasn't aware there was a large difference. I can confirm that the image `apache/airflow:2.0.1-python3.8` also works in my local environment.

[2021-02-23 23:52] kaxil commented on #14379
Awesome, glad that it worked :)

[2021-02-23 23:52] #14379 closed

[2021-02-24 00:02] stoiandl commented on #14261
I managed to fix my restart by setting up the following configs:
[code]

I have another Airflow instance running in AWS - Kubernetes. That one runs fine with any version,

I realized the problem is with Azure Kubernetes, the rest api calls to the api server. Now, I can see in the scheduler logs, some kubernetes connection errors but those are not killers since airflow tries to reconnect and it is

[2021-02-24 00:23] kaxil commented on #13799
That's a separate issue, can you create a Github issue for that with steps to reproduce

[2021-02-24 00:23] kaxil commented on #13799
PR: https://github.com/apache/airflow/pull/14406

[2021-02-24 00:35] milton0825 commented on #7935
Have a theory of why the Airflow scheduler may stuck at [CeleryExecutor._send_tasks_to_celery](https://github.com/apache/airflow/blob/master/airflow/executors/celery_executor.py#L331-L333).

The size of the return value from `send_task_to_executor` may be huge as the traceback is included in case of failure and looks like it is a known bug [1] in cpython that huge output can cause deadlock in `mul

[2021-02-24 00:50] r-richmond commented on #14396
As a counter point [Dacite](https://github.com/konradhalas/dacite) is a python library that shows how dataclasses can be used for something like this. Their config dataclass is a similar object to our context and is defined as follows.

https://github.com/konradhalas/dacite/blob/d2206b2e4711859da0ea5862c395940f33693e80/dacite/config.py#L5-L12
[code]

which is then consumed in their function `from_

[2021-02-24 01:34] jhtimmins commented on #14365
@chrisrfu Are you on an M1 chip as well?

@kaxil did you recently address an issue where this came up?

[2021-02-24 01:48] jhtimmins commented on #14394
This is a good idea and can be assigned to me

[2021-02-24 01:54] jhtimmins commented on #14385
Confirmed that this is the behavior, as any failure is caught and then a standard response is returned.
https://github.com/apache/airflow/blob/master/airflow/api_connexion/endpoints/health_endpoint.py#L37

@ephraimbuddy @mik-laj do y'all think this should be updated?

[2021-02-24 02:01] ephraimbuddy commented on #14385
Yep @jhtimmins, it's a good call. Needs to be updated

[2021-02-24 02:05] jhtimmins commented on #14373
Looks like this is a valid error (and still exists on master). @kaxil how far back are we backporting bug fixes like this?

[2021-02-24 02:19] mik-laj commented on #14385
this health check is part of the webserver and if the webserver returns an incorrect value, the error code will be different than 200.

For other components it doesn't work and we probably shouldn't fix it because it won't allow chrvk component in isolatiin, i.e. if the webserver won't work then all other components will also report that they are in unhealthy state, which won't be correct, when sc

[2021-02-24 02:20] mik-laj commented on #14385
Duplicate: https://github.com/apache/airflow/issues/11161

[2021-02-24 02:20] #14385 closed

[2021-02-24 05:02] sakaia opened #14409 ""dag_id could not be found" when running airflow on KubernetesExecutor on Airflow 1.10.14"
**Apache Airflow version**:
1.10.14 with helm

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
1.18.5

**Environment**:

- **Cloud provider or hardware configuration**: local
- **OS** (e.g. from /etc/os-release): Ubuntu 18.04.5 LTS
- **Kernel** (e.g. `uname -a`): 4.15.0-128-generic
- **Install tools**: helm for airflow, kubeadm for kubernetes
- **Others**:

**What hap

[2021-02-24 05:39] chrisrfu commented on #14365
I am not on an M1 chip

MacBook Pro (16-inch, 2019)
2.3 GHz 8-Core Intel Core i9

[2021-02-24 07:13] prithvisathiya opened #14412 "STORE_DAG_CODE not displaying correct code for zipped dag files"
**Apache Airflow version**:
1.10.14

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
1.19.4

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**: production docker image
- **Others**: python3.7

**What happened**:
I recently upgraded from 1.10.9 -> 1.10.14, and enab

[2021-02-24 07:17] ayushri05 commented on #14382
I got the Azure container registry Id with below cmd-

and put that in 'registry_conn_id' but it is giving below error and DAG failed -

Traceback (most recent call last):
  File "/usr/local/lib/python3.7/site-packages/airflow/models/taskinstance.py", line 1112, in _run_raw_task
    self._prepare_and_execute_task_with_callbacks(context, task)
  File "/usr/local/lib/python3.7/site-packages/airflow/

[2021-02-24 07:26] DreamyWen opened #14413 "support chinese character in xcom output"
**Description**

Apache Airflow version:
1.10.14

Kubernetes version (if you are using kubernetes) (use kubectl version):

Environment:

System Version: macOS 11.1 (20C69)
Version: Darwin 20.2.0
Python 3.7

**Use case / motivation**
In some scenario , i want to use the BashOperator result in my app to future use.
the dag snapcode like this
[code]
the /Users/saith/test_run/bash_chn.py will return l

[2021-02-24 09:47] ashb commented on #7935
@milton0825 Sounds plausible for what I know of your usecase :grin: You're still on 1.10.x right? The scheduler on 2.0 sends a lot less data over the MP pipes, (it doesn't send the DAG, that gets written to the DB) so that _particular_ issue won't be for 2.0+

[2021-02-24 10:55] DreamyWen commented on #14063
Hi, leonsmith. Thanks for the advise, i will try it later. I personally use python 3.7 on my mac because it's just a local test env.

[2021-02-24 11:31] TheRum opened #14417 "DruidOperator failing to submit ingestion tasks : Getting 500 error code from Druid"
Issue : When trying to submit an ingestion task using DruidOperator, getting 500 error code in response from Druid. And can see no task submitted in Druid console.
In Airflow 1.10.x, everything is working fine. But when upgraded to 2.0.1, it is failing to submit the task. There is absolutely no change in the code/files except the import statements.

Resolution : I compared DruidOperator code for b

[2021-02-24 13:08] kaxil commented on #14365
Looks like you have tried installing different version of Airflow, maybe you tried to install the image for Airflow Master and then rolled back to 2.0.1

Run
[code]

and then re-run your original commands.

I can tell you tried with Master because it is complaining about alembic version: `449b4072c2da`  -- which is only available  in Master.

[2021-02-24 13:25] kaxil commented on #14373
Experimental API is deprecated for 2.0 so unlikely we will fix any non-critical errors for 1.10.x

Btw what's the error ? It looks like it works fine -- https://github.com/apache/airflow/blob/v1-10-stable/tests/www/api/experimental/test_endpoints.py#L152-L170

did you try running it?

[2021-02-24 13:26] kaxil commented on #14396
We could also add a TypedDict -- at least IDEs will have good auto-completion

[2021-02-24 13:42] #14089 closed

[2021-02-24 14:20] huaerheima commented on #14373
The test works fine because the url_template is same with the route. but the code in json_client.py is wrong.
https://github.com/apache/airflow/blob/v1-10-stable/airflow/api/client/json_client.py#L62 @kaxil

[2021-02-24 14:29] ConstantinoSchillebeeckx opened #14419 "ValueError: Invalid timezone"
**Apache Airflow version**: 2.0.1

**Environment**:

- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): Debian
- **Kernel** (e.g. `uname -a`): Linux dd42f4ba1a9c 4.19.121-linuxkit #1 SMP Tue Dec 1 17:50:32 UTC 2020 x86_64 GNU/Linux
- **Install tools**: pip

**What happened**:

When I visit the webserver, after logging in I'm seeing:
[code]

**What you expecte

[2021-02-24 15:08] potiuk commented on #14396
Yep. @kaxil is right - TypedDict is far more pythonic (Hints are the way how types are usually added in Python). The thing with using fixed Dataclasses. We should basically never remove/rename anything in the context (maybe we should use some deprecation mechanism).

The context is used by pretty much every single custom operator out there, and the change you propose will immediately break all of

[2021-02-24 15:12] kaxil commented on #14373
aah right yes, would you like to create a PR against v1-10-stable? We can include it in 1.10.15 but bear in mind that experimental API is deprecated in 2.0.0+

[2021-02-24 15:14] careduz commented on #14261
Neat, thanks for the info @stoiandl - will give those settings a shot when we upgrade to Airflow (TTL seems to be new for 2.0). Will share our experience afterwards.

[2021-02-24 15:16] chrisrfu commented on #14365
i ran `docker-compose down --volumes --rmi all` and then `docker images -a -q | xargs docker rmi -f`
for good measure and re-ran my original commands and still no dice

13: Pulling from library/postgres
45b42c59be33: Already exists
40adec129f1a: Pull complete
b4c431d00c78: Pull complete
2696974e2815: Pull complete
564b77596399: Pull complete
5044045cf6f2: Pull complete
d736e67e6ac3: Pull complete

[2021-02-24 15:24] zachliu opened #14421 "NULL values in the operator column of task_instance table cause API validation failures"
**Apache Airflow version**: 2.0.1

**Environment**: Docker on Linux Mint 20.1, image based on apache/airflow:2.0.1-python3.8

**What happened**:

I'm using the airflow API and the following exception occurred:

[code]
This happens on all the "old" task instances before upgrading to 2.0.0
There is no issue with new task instances created after the upgrade.

**What do you think went wrong?**:
The `o

[2021-02-24 15:25] zachliu commented on #13799
done https://github.com/apache/airflow/issues/14421
thanks :+1:

[2021-02-24 15:51] kaxil commented on #14365
It already shows:

[code]

which means the data is already stored in the DB being used.

[2021-02-24 16:14] ephraimbuddy commented on #14421
Hi @kaxil , is this what we should handle in dB migration or Rest API?

[2021-02-24 16:48] chrisrfu commented on #14365
There's no more
[code]
which was solved by:

instead of `docker stop (docker ps -q)`, `docker rm (docker ps -a -q)`, and then `docker-compose down --volumes --rm all`
just going with `docker-compose down --volumes --rm all`and then re-running my original commands

Creating volume "docker-apache-airflow-201_postgres-db-volume" with default driver
Pulling postgres (postgres:13)...
13: Pulling from l

[2021-02-24 16:55] george-zubrienko opened #14422 "on_failure_callback does not seem to fire on pod deletion/eviction"
**Apache Airflow version**: 2.0.1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.16.x

**Environment**: KubernetesExecutor with single scheduler pod

**What happened**: On all previous versions we used (from 1.10.x to 2.0.0), evicting or deleting a running task pod triggered the `on_failure_callback` from `BaseOperator`. We use this functionality quite a lot to de

[2021-02-24 17:28] armandleopold commented on #13918
Cool ! Will it be released soon ?

[2021-02-24 17:31] kaxil commented on #14365
You can ignore the following line:

[code]

The container exited because it did not have enough memory:

[code]

Try increasing the memory: https://docs.docker.com/docker-for-mac/space/

[2021-02-24 17:39] r-richmond commented on #14396
Hints are how dataclasses uses types as well. They aren't enforced at runtime, unless you use something like [pydantic](https://pydantic-docs.helpmanual.io). (side note [Dataclass PEP-557](https://www.python.org/dev/peps/pep-0557/) had support from Raymond & Guido which as far as I can tell gives it a lot of points in the pythonic category. Also Raymond gave a fantastic [talk on Dataclasses](https

[2021-02-24 17:44] kaxil commented on #14396
Oh yeah, I will add docs (in few mins / hours) to make the context dictionary a bit less magical, it contains the following items:

https://github.com/apache/airflow/blob/352b970010846eb4168aa7b2e332d9a95e2facb3/airflow/models/taskinstance.py#L1688-L1728

[2021-02-24 17:52] lnryan opened #14423 "Quick Start for Docker - REST API returns Unauthorized"
**Apache Airflow version**: 2.0.1

**Environment**:

- **Cloud provider or hardware configuration**: NA
- **OS** (e.g. from /etc/os-release): Mac
- **Kernel** (e.g. `uname -a`): NA
- **Install tools**: docker-compose
- **Others**:

**What happened**:

When following [this Quickstart for Docker](https://airflow.apache.org/docs/apache-airflow/stable/start/docker.html), the section under "Sending req

[2021-02-24 17:54] r-richmond commented on #14396
Ah interesting kaxil thanks to your link I can see where a TypedDict / Dataclass implementation would go

https://github.com/apache/airflow/blob/352b970010846eb4168aa7b2e332d9a95e2facb3/airflow/models/taskinstance.py#L86

Since the TypedDict implementation is so straightforward given that link I wonder if its better to consider Dict > TypeDict > DataClass as an evolution path.

[2021-02-24 17:55] ConstantinoSchillebeeckx commented on #14419
The issue was in my Dockerfile, adding the following resolved the issue:
[code]

[2021-02-24 17:55] #14419 closed

[2021-02-24 18:06] chrisrfu commented on #14365
It worked!
I increased the memory from 2GB to 4GB and kept CPU at 8, Swap at 1GB, and Disk image size at 59.6GB (my default Docker settings)
Thank you so much for your help!

[2021-02-24 18:06] #14365 closed

[2021-02-24 19:09] milton0825 commented on #7935
Right we are still on 1.10.8

[2021-02-24 19:15] kaxil commented on #14340
Fixed by https://github.com/apache/airflow/pull/14344 and will be released in **upgrade check 1.3.0**

[2021-02-24 19:15] kaxil commented on #14258
Fixed by https://github.com/apache/airflow/pull/14344 and will be released in **upgrade check 1.3.0**

[2021-02-24 19:15] #14258 closed

[2021-02-24 19:15] kaxil commented on #14243
Fixed by https://github.com/apache/airflow/pull/14344 and will be released in **upgrade check 1.3.0**

[2021-02-24 19:15] #14243 closed

[2021-02-24 19:53] ephraimbuddy commented on #14423
You need to manually edit the docker-compose file and set auth_backend to basic_auth before you can be able to use basic auth. This is not an issue, by default requests to the REST API are denied.

`AIRFLOW__API__AUTH_BACKEND: airflow.api.auth.backend.basic_auth`

Add the above then let me know if it worked for you so we can close it. Cheers

[2021-02-24 20:09] kaxil commented on #10688
This looks like a setup issue with your Kubernetes Cluster. Please create a post in https://github.com/apache/airflow/discussions / StackOverflow or Airflow Slack where we can help out

[2021-02-24 20:09] #10688 closed

[2021-02-24 20:09] NilsJPWerner commented on #14327
This same issue is happening for me. I only have python operators running on kuberetes executor and any time I try to look at the graph view the website breaks with the `Object of type 'V1ResourceRequirements' is not JSON serializable` error.

[2021-02-24 20:10] NilsJPWerner commented on #14327
Here is the full traceback:
[code]

[2021-02-24 20:16] kaxil commented on #10021
Closed by https://github.com/apache/airflow/pull/10056

[2021-02-24 20:16] #10021 closed

[2021-02-24 20:23] potiuk commented on #14396
Let me explain why this would be a breaking change.  if you have an operator that already uses context. Example from task decorator case (but this is the same for any custom operator):

[code]

Surely you can map from Dataclass to Dict in "get_current_context()" method (otherwise you'd have to also correct the `context["ti"]` into 'context.ti`. Thus it would be a breaking change.

But if you do th

[2021-02-24 20:30] potiuk commented on #14396
Also one more point - since we are in Python world - users could do whatever they want in the Python code of their custom operators. Currently 'context' is part of the public API of Airflow that users rely on being dictionary.

For example I can very easily imagine someone decides to add a new field to context and pass it further.

[code]

While we do not encourage this behavior in any way, it is

[2021-02-24 20:36] kaxil commented on #9610
Have you tried it out with Airflow 2.0.1 ? If not can you please test it with it and report back with findings, thanks

[2021-02-24 20:38] kaxil commented on #10313
Closing this since we have not yet received response to last suggestion -- we can re-open if this is still an issue from Airflow 2.0+

[2021-02-24 20:38] #10313 closed

[2021-02-24 20:39] kaxil commented on #10541
Does this still occur with Airflow 2.0?

[2021-02-24 20:45] kaxil commented on #12563
@AXington You can change it to 100 for alpine users -- this won't be needed after https://github.com/apache/airflow/pull/14420 is merged

[2021-02-24 20:46] kaxil commented on #12334
Closing this since the pod got removed when you used the helm chart (https://github.com/apache/airflow/issues/12334#issuecomment-726746285) -- please feel to comment and we can re-open if it is still an issue

[2021-02-24 20:46] #12334 closed

[2021-02-24 20:48] #12331 closed

[2021-02-24 20:49] kaxil commented on #12331
We can re-open this if other users have this issue too

[2021-02-24 21:49] turbaszek commented on #14359
I saw this issue some time ago but I don't remember what was the solution - maybe @benbauer89 remembers?

[2021-02-24 21:54] eladkal commented on #14359
The easiest way to solve this is not to use `current_airflow_version.major` as this works only with `packaging >= 20.0`
https://github.com/pypa/packaging/blob/main/CHANGELOG.rst#200---2020-01-06
We don't have minimum requirement for [packaging](https://github.com/apache/airflow/blob/e33313302173b6bd872523ced233acc26ff9d6fe/setup.py#L635)
So this just need to change https://github.com/apache/airflo

[2021-02-24 21:54] kaxil opened #14434 "Unpin moto from <2"
We had to pin moto to <2 in https://github.com/apache/airflow/pull/14433 since it was breaking CI.

We should support moto >2 by fixing the failing errors (https://github.com/apache/airflow/pull/14406/checks?check_run_id=1973102416#step:6:3130)

**Apache Airflow version**:

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardwa

[2021-02-24 22:51] r-richmond commented on #14396
<details><summary>Changing `get_current_context` to have the following signature would prevent any breaking changes</summary>

[code]
existing code continues just fine
[code]
this would then allow the users to do the following to get type hinting and at some point we could update the option's default value before finally removing it.
[code]
</details>

You're right that the returned dictionary app

[2021-02-25 00:07] HusseinSamao opened #14438 "Airflow + CockroachDB throws DDL issues."
**Apache Airflow version**:
- apache-airflow==1.10.14
- alembic==1.4.3
- SQLAlchemy==1.3.20
- sqlalchemy-cockroachdb==1.3.2
- SQLAlchemy-JSONField==0.9.0
- SQLAlchemy-Utils==0.36.8

**Environment**:
- Airflow runs on:
      Operating System: Red Hat Enterprise Linux Server 7.9
      Kernel: Linux 3.10.0-1160.11.1.el7.x86_64
- CockroachDB runs on:
      Operating System: Amazon Linux 2
      Kernel

[2021-02-25 00:10] potiuk commented on #14396
Seems like we end up with ever compiicating interfaces for no benefit other than "newer" approach where we have simpler alternative.

Now, let me see how would you like to implement backward-compatibility of this (this is the more standard case of custom operator. This is just copy of what we have in our documentation:

[code]

What solution would be good here if we use Dataclasses, we want to kee

[2021-02-25 01:28] kaxil commented on #14359
Closed by https://github.com/apache/airflow/pull/14435

[2021-02-25 01:28] #14359 closed

[2021-02-25 01:55] r-richmond commented on #14396
I'd argue that the dataclass interface is clear than the dictionary interface and thus simpler to use, although perhaps not as simple to author.

First off great challenge :) , 2nd I'd probably replace my earlier suggestion with the following as well

[code]
returns
[code]

Seems like this would allow us to go straight to dataclasses without changing any functions or operators anywhere. We could t

[2021-02-25 02:09] xinbinhuang commented on #14438
Hi @HusseinSamao, CockroachDB is not currently supported as a backend for Airflow, and [neither is CRDB fully compatible with Postgres](https://www.cockroachlabs.com/docs/stable/postgresql-compatibility.html#:~:text=CockroachDB%20supports%20the%20PostgreSQL%20wire%20protocol%20and%20the%20majority%20of%20its%20syntax.&text=However%2C%20CockroachDB%20does%20not%20support,implemented%20in%20a%20dist

[2021-02-25 02:12] xinbinhuang opened #14443 "Warnings for non-discoverable hooks by ProvidersManager"
**Apache Airflow version**:

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know**:

[2021-02-25 02:14] #14443 closed

[2021-02-25 02:48] Junnplus commented on #14355
Conf parameter should be JSON Serializable. see https://github.com/apache/airflow/issues/13414

[2021-02-25 02:56] #13799 closed

[2021-02-25 08:03] Junnplus commented on #10055
It seems that the `daemonContext` will close the socket of statsd.
[code]

[2021-02-25 08:05] benbauer89 commented on #14359
we had to ignore it - but yes we had the exact same error log (airflow 1.10.14 and python 3.6.*)

[2021-02-25 08:07] Junnplus commented on #13741
It seems that the `daemonContext` will close the socket of statsd.
[code]

A simple fix is to let stastd client load lazily.

[2021-02-25 08:36] FloChehab commented on #10541
Hello @kaxil,
Just tested this morning, and everything looks fine on 2.0.

I am closing the issue now.

[2021-02-25 08:36] #10541 closed

[2021-02-25 08:56] potiuk commented on #14396
Yeah. I was expecting exactly this answer :).  So summarizing - what you've done now, you created hybrid dataclass and dictionary put together. Now, my goal is to show you what further consequences you have to deal with.

First of all this "hybrid" solution will be around for years. We will not get rid of it in 2.* - we have to wait for 3.0.0 release (which we did not even start thinking about). W

[2021-02-25 09:43] sakaia commented on #14409
This issue is solved by adding following value　(repo => null)

[code]

https://github.com/apache/airflow/blob/1.10.12/airflow/kubernetes/worker_configuration.py#L195-L203

[2021-02-25 09:43] #14409 closed

[2021-02-25 09:59] AlexandrKhabarov commented on #10206
I would like to work on it. It seems that issue on hold.

[2021-02-25 10:03] RikHeijdens commented on #14384
Submitted a PR that avoids both the scheduler crash and fixes the issue with the `DagRunEditForm` which could cause `start_date` and `end_date` to be nulled out: https://github.com/apache/airflow/pull/14452

[2021-02-25 11:31] ashb commented on #12676
Closing due to lack of activity. We can reopen this if we get more details.

[2021-02-25 11:31] #12676 closed

[2021-02-25 11:32] ashb commented on #11494
Massively re-worked dag parsing in Airflow 2.0 - closing this ticket now.

[2021-02-25 11:32] #11494 closed

[2021-02-25 11:33] ashb commented on #10781
This has been fixed now.

[2021-02-25 11:33] #10781 closed

[2021-02-25 11:34] ashb commented on #11715
Closing due to no response. We can reopen this if we get more details

[2021-02-25 11:34] #11715 closed

[2021-02-25 11:34] ashb commented on #11714
Closing due to no response. We can reopen this if we get more details

[2021-02-25 11:34] #11714 closed

[2021-02-25 11:35] ashb commented on #12711
Closing -- this appears to be a problem with using the 3.7 constraints file with python 3.6

[2021-02-25 11:35] #12711 closed

[2021-02-25 11:36] ashb commented on #9840
Closing due to no response. We can reopen this if we get more details.

[2021-02-25 11:36] #9840 closed

[2021-02-25 11:38] ashb commented on #12290
SQLite is not recommended for anything beyond simple use cases.

Airflow 2.0.0 has changed the parsing process so that paused dags should not cause this behaviour any more.

Please upgrade and let us know if this problem persists. I'm going to close out this issue in the mean time, as I believe it is fixed by using a production suitable DB (postgres or mysql 8+ for instance).

[2021-02-25 11:38] #12290 closed

[2021-02-25 11:39] ashb commented on #13546
Closing due to no response. We can reopen this if we get more details.

[2021-02-25 11:39] #13546 closed

[2021-02-25 12:19] kaxil commented on #14396
I agree, let's use TypedDict for now -- We have added a cross-reference in docs so hopefully it is a bit clearer than before:

http://apache-airflow-docs.s3-website.eu-central-1.amazonaws.com/docs/apache-airflow/latest/concepts.html#accessing-current-context

http://apache-airflow-docs.s3-website.eu-central-1.amazonaws.com/docs/apache-airflow/latest/macros-ref.html

[2021-02-25 12:21] kaxil commented on #14396
Also remember since users can use custom Macros, the DataClass or TypedDict approach will help for the inbuilt [context](http://apache-airflow-docs.s3-website.eu-central-1.amazonaws.com/docs/apache-airflow/latest/macros-ref.html) -- it won't help for custom macros

[2021-02-25 12:22] #13614 closed

[2021-02-25 12:52] alexInhert commented on #11273
I'm working on an upgrade now and I'm not so clear what is the deal with the email package.
What do we need to do to make sure our dags are not breaking when doing the upgrade?

[2021-02-25 13:22] XD-DENG opened #14459 "Misleading terminology in UI: "Active" or "Unpaused""
(This may be too minor. If anyone thinks it's not necessary to make any change, I can definitely understand as well.)

This thought started with the discussion @ashb and I had at https://github.com/apache/airflow/pull/14306#discussion_r579506519 . So the definition of `active` in an Airflow `DAG` context is "*Whether that DAG was seen on the last DagBag load*".

However, on the other hand, in some

[2021-02-25 13:23] XD-DENG commented on #14459
@ashb @kaxil @turbaszek @ryanahamilton may you please let me know your thoughts on this? Thanks.

[2021-02-25 13:24] ashb commented on #14459
I remember Ryan and I talked about this when he added/restyled those toggles.

Active is almost entirely an internal concept, so perhaps the best thing to rename is that, and we can leave active for this use here (cos "All/Unpaused/Paused" just sounds really odd to me for some reason.)

[2021-02-25 13:41] YangMuye commented on #14265
@kaxil tested with 2.0.1. It has the same issue.
[code]

[2021-02-25 14:27] ecerulm opened #14460 "breeze: build-image output docker build parameters to be used in scripts"
**Description**

I would like to see a `--print-docker-args` option for `breeze build-image`

**Use case / motivation**

`breeze build-image --production-image --additional-extras microsoft.mssql --print-docker-args` should print something like

```--build-arg XXXX=YYYY --build-arg WWW=ZZZZ```

I would like to use that output in a script so that I can use `kaniko-executor` to build the image inste

[2021-02-25 14:40] #14384 closed

[2021-02-25 14:56] grillorafael commented on #13916
I'm having a similar issue. Sometimes the tasks are tagged as success some are tagged as failed and they seem to be getting sigterms also using AKS

[2021-02-25 14:57] #14393 closed

[2021-02-25 15:01] kaxil commented on #14421
I am actually surprised with how the `operator` field was None.

Can you try to reproduce it @ephraimbuddy -- we don't use that field for anything critical AFAIK -- so we can just handle it on the API side

[2021-02-25 15:02] potiuk commented on #14460
It's already implemented. Just use --verbose flag.

[2021-02-25 15:02] kaxil commented on #10206
@AlexandrKhabarov -- Assigned it to you -- However I think I saw a PR around it -- let me check

[2021-02-25 15:03] kaxil commented on #10206
https://github.com/apache/airflow/pull/14353 -- this one -- that fixes it for the Helm Chart

[2021-02-25 15:21] ecerulm commented on #14460
but that actually builds the image, I just want to get the `--build-arg` parameters . I think maybe it's a matter of adding a `--dry-run` parameter then.

[2021-02-25 15:23] #13053 closed

[2021-02-25 15:26] potiuk commented on #14460
Ah ok. Yeah. Dry run sounds good.

Maybe you would like to contribute it :)

[2021-02-25 15:47] #14438 closed

[2021-02-25 15:48] kaxil commented on #14438
I have closed it since we don't officially support CockroachDB -- but feel free to add your use-case and answers to @xinbinhuang 's questionsn

[2021-02-25 16:13] ashb commented on #14438
And while Cockroach is not officially supported, we will accept PRs to improve support for it.

[2021-02-25 16:45] r-richmond commented on #14396
[0_O](https://www.youtube.com/watch?v=4F4qzPbcFiA)

Yes, this is true. Thats why I mentioned that now is the "easiest" time for this change as it only gets harder in the future; (In a perfect world, this would have been raised before 2.0 :s).

Again dataclass does not break this property and in fact after thinking, I think dataclasses provides the following significant advantages in this area whic

[2021-02-25 17:01] SpicySyntax commented on #13262
@TobKed @matthieucham Taking airflow/providers/google/cloud/hooks/dataflow.py from [fix](https://github.com/apache/airflow/pull/13478) @terekete and putting next to my dag has been working for me as a short term work-around. (I had to make some small tweaks to get it from throwing any exceptions. See [this gist](https://gist.github.com/SpicySyntax/5e58efa3f1c1e8a3cffa4ee211abde98)

[2021-02-25 17:49] HusseinSamao commented on #14438
Hi @xinbinhuang ,
I would like to deploy Airflow to multiple regions backed up with a database that supports that topology. CockroachDB provides capability to deploy my database in multiple regions, all regions serve read and write operations.

[2021-02-25 18:16] kaxil opened #14463 "Release Kubernetes Providers 1.0.2"
A new version of cncf Kubernetes Providers 1.0.2 should be released.

It should contain https://github.com/apache/airflow/pull/14123 that fixes issues with Jinja templating with env_vars. This issue was raised multiple times by our users: https://github.com/apache/airflow/issues/13348, https://github.com/apache/airflow/issues/13522 & https://github.com/apache/airflow/issues/14287

@ashb / @dimberm

[2021-02-25 18:19] kaxil commented on #14287
Created a separate ticket for it: https://github.com/apache/airflow/issues/14463

[2021-02-25 18:19] #14287 closed

[2021-02-25 18:35] ashb commented on #14463
On it

[2021-02-25 18:55] caioalmeida97 commented on #9855
@mik-laj is there any updates on this feature? I tried to run `airflow connections import $JSON_FILE` but it didn't work :(

[2021-02-25 18:57] potiuk commented on #14463
Ah. I totally missed it @kaxil! sorry.

[2021-02-25 19:10] potiuk commented on #14396
There won't by any renames for those. That would further break compatibility. so making it "easier" is false sense of security when you rename

Not really. We are not planning to add anything to the context any time soon. and even if we do it's the same for dict/field. If someone extends data class with a new field the problem is the same.

Not really. it's the same kind of problems you get.

A cl

[2021-02-25 19:16] #13805 closed

[2021-02-25 19:21] potiuk commented on #14463
BTW  Should not we release the next wave of the providers ? It is about the time we would plan to do it and then we could vote on all of them at once ?

[2021-02-25 19:23] potiuk commented on #14463
If you run the 'prepare readme' without specifying the providers you should see which of the providers require release @ashb  and gives you a chance to decide which version should each released provider be released at - with the possibility of looking at the commits to make sure.

[2021-02-25 19:44] lewismc commented on #14261
We are experiencing this when deploying the chart into a local installations of k3d
[code]
We also found some interesting `WARNING`'s when looking into the `wait-for-airflow-migrations` container...
[code]
I don't think that Azure hooks should be interpreted by default...

[2021-02-25 19:59] mik-laj commented on #9855
Here is PR:https://github.com/apache/airflow/pull/9907 Feel free to continue it

[2021-02-25 20:23] eladkal commented on #10122
default timeout was added in https://github.com/apache/airflow/pull/12801

[2021-02-25 20:23] #10122 closed

[2021-02-25 20:49] r-richmond commented on #14396
I don't follow here. In the V2 dataclass design users would add stuff to the `user_defined` field which has no chance of collision with anything airflow adds later to the base dataclass. The same can't be said for dicts. What am I missing?

We do not need deprecation warnings in case we do not change from Dict

True regarding the deprecation warning, but isn't their value in warning users about do

[2021-02-25 21:06] eladkal commented on #9373
I'm unable to reproduce.

[code]

![Screen Shot 2021-02-25 at 23 05 05](https://user-images.githubusercontent.com/45845474/109216999-ecc83480-77bd-11eb-84a4-0a0cc6fe5413.png)

[2021-02-25 21:48] SamWheating commented on #13768
We've seen this issue on one of our DAGs as well (when viewing task details from a run with many preceeding runs) and I can confirm we are not using the `get_previous_start_date` in the DAG directly - In our case (as well as the above stack trace) it looks like this is called by the get_attr when rendering the task instance details page.

I'll see if I can gather more information on the cause of t

[2021-02-25 22:30] ephraimbuddy commented on #14312
Closed via https://github.com/apache/airflow/pull/14313

[2021-02-25 22:30] #14312 closed

[2021-02-25 23:00] thesuperzapper opened #14469 "Upgrade Flask-AppBuilder to 3.2.0 for improved OAUTH/LDAP"
Version `3.2.0` of Flask-AppBuilder added support for LDAP group binding (see PR: https://github.com/dpgaspar/Flask-AppBuilder/pull/1374), we should update mainly for the `AUTH_ROLES_MAPPING` feature, which lets users bind to RBAC roles based on their LDAP/OAUTH group membership.

Here are the docs about Flask-AppBuilder security:
https://flask-appbuilder.readthedocs.io/en/latest/security.html#aut

[2021-02-25 23:06] ldacey commented on #14312
Nice, thanks. For future reference with changes that happen in provider packages, would I wait for pypi to have this change reflected here? https://pypi.org/project/apache-airflow-providers-microsoft-azure/

[2021-02-25 23:08] ephraimbuddy commented on #14312
Yes. You'll have to wait for new provider release

[2021-02-25 23:22] omarish commented on #14266
I worked around this by adding another Dockerfile with the pip install:

[code]

[2021-02-25 23:57] kaxil commented on #13768
This is fixed by https://github.com/apache/airflow/pull/14416 and will be released in 2.0.2

[2021-02-25 23:57] #13768 closed

[2021-02-26 01:49] thesuperzapper commented on #8179
For those watching, Flask-AppBuilder `3.2.0` now supports role binding, so if we update airflow to this version, we will get group binding.

See issue https://github.com/apache/airflow/issues/14469 for upgrading airflows Flask-AppBuilder version.

[2021-02-26 02:58] dstandish opened #14473 "DagRun duration not visible in tree view tooltip if not currently running"
On airflow 2.0.1

On tree view if dag run is running, duration shows as expected:
![image](https://user-images.githubusercontent.com/15932138/109248646-086e1380-779b-11eb-9d00-8cb785d88299.png)

But if dag run is complete, duration is null:
![image](https://user-images.githubusercontent.com/15932138/109248752-3ce1cf80-779b-11eb-8784-9a4aaed2209b.png)

[2021-02-26 06:16] ephraimbuddy commented on #14421
Hi @zachliu, my guess is that you didn't run `airflow db upgrade` after upgrading cause I was not able to reproduce this

[2021-02-26 07:45] DreamyWen commented on #7935
Seeing this on 1.10.14 + CeleryExecutor + python 3.8, will this be fix on 1.10.x?  for some reason our company has to use mysql 5.6.
[code]
[code]

[2021-02-26 08:09] turbaszek commented on #14459
I think splitting this into `All` and `Unpaused` would be enough but +1 to renaming `Active` to `Unpaused` to align naming.

[2021-02-26 11:42] #13086 closed

[2021-02-26 12:03] vs4vijay commented on #14373
If you guys take a look at the documentation, there is no DELETE Dag API mentioned on API Specs. -
https://airflow.apache.org/docs/apache-airflow/stable/rest-api-ref.html

[2021-02-26 12:10] kaxil commented on #14373
@vs4vijay Experimental API was not maintained properly -- so docs lack few endpoints: https://github.com/apache/airflow/blob/59c459fa2a6aafc133db4a89980fb3d3d0d25589/airflow/api/client/json_client.py#L59-L63

[2021-02-26 12:12] kaxil commented on #14373
Closed by https://github.com/apache/airflow/pull/14441

[2021-02-26 12:12] #14373 closed

[2021-02-26 12:13] vs4vijay commented on #14373
@kaxil thanks for quick reply, is there any Stable API to delete a DAG? Because of this DELETE functionality, we're using Experimental APIs.

[2021-02-26 13:50] ashb commented on #7935
@DreamyWen unlikely I'm afraid, at least not by me. I'll happily review a PR if anyone has time to submit it, but can't put any time to fixing this on 1.10 release branch, sorry

[2021-02-26 13:52] zachliu commented on #14421
i don't think that's possible:
1. `airflow db upgrade` is located in my `entrypoint.sh` right before running the webserver
2. if i hadn't run it, i'd have much more serious issues than this

[2021-02-26 13:58] kaxil commented on #14373
You should just need to delete the DAG file -- currently we don't have an endpoint that removes the dag entry from all the DB tables -- can you create a separate Github issue for it if it does not already exist

[2021-02-26 14:17] SamWheating commented on #14378
I believe this is fixed by https://github.com/apache/airflow/pull/14416

[2021-02-26 14:17] SamWheating commented on #14398
I believe this is fixed by #14416

[2021-02-26 14:23] HarryDunham commented on #12100
After updating our deployment to Airflow `1.10.14`, we've found that this appears to be an issue related to airflow version `1.10.11`. For reference, pod events locally running on minikube with airflow version `1.10.11`:
[code]
versus pod events running on `1.10.14`:
[code]
Therefore, I assume this was fixed within `1.10.12` with the other breaking changes. So, I'm closing this issue.

[2021-02-26 14:23] #12100 closed

[2021-02-26 14:38] ashb commented on #13741
Oh yes, daemon mode will close all open files and sockets.

[2021-02-26 14:40] kaxil commented on #13579
Duplicate of https://github.com/apache/airflow/issues/13805 and closed by https://github.com/apache/airflow/pull/14160

[2021-02-26 14:40] #13579 closed

[2021-02-26 14:45] #13741 closed

[2021-02-26 14:58] HarryDunham commented on #12100
Per this https://github.com/apache/airflow/pull/10068 change listed under the `1.10.12` changelog.

[2021-02-26 14:59] ryanahamilton opened #14481 "DAG /details endpoint returning empty array objects"
When testing the following two endpoints, I get different results for the array of owners and tags. The former should be identical to the response of the latter endpoint.

`/api/v1/dags/{dag_id}/details`:

[code]

`/api/v1/dags/{dag_id}`:

[code]

[2021-02-26 15:02] #14398 closed

[2021-02-26 15:08] ryanahamilton commented on #14481
Upon further investigation, this endpoint's issues are not just limited to `tags`. Updated title/description.

[2021-02-26 16:00] dstandish opened #14482 "webserver redirects to dags page after clearing task or dagrun in tree view"
**Apache Airflow version**: 2.0.1

**What happened**:

Redirect to dags page

**What you expected to happen**:

go back to tree view

**How to reproduce it**:

go to tree view and clear failed task

**Anything else we need to know**:

I think it did not always do this, possibly prior to 1.10.14 it would return you to tree view.

If I'm wrong about that I guess this is "feature request"

[2021-02-26 16:16] josekidengan commented on #14089
is this issue fixed in the airflow 2.0.1 release?

[2021-02-26 16:28] bbovenzi commented on #14473
I believe this was fixed by #13537 but was merged after 2.0.1 was released.

[2021-02-26 16:28] #10995 closed

[2021-02-26 16:33] dstandish commented on #14473
@bbovenzi my task took 20 seconds (you can see in the image)

seems like different issue wdyt?

[2021-02-26 16:50] bbovenzi commented on #14473
@dstandish you're right. I just replicated it. I've been playing with the tooltip js so let me take a look.

[2021-02-26 16:57] dstandish commented on #14473
nice! thanks

[2021-02-26 17:17] scheung38 commented on #11789
Hello, have astronomer airflow running rancher k8s on-prem, so this upgrade is sufficient to mount DAGs using Git-Sync side car with persistence enabled? i.e automatically picks you DAG python jobs from another repo each time a python file is committed?

helm upgrade -f git_sync_template.yaml is all I need?

[2021-02-26 18:17] ryanahamilton commented on #14459
As @ashb mentioned, there was some discussion around this when this filter was refactored in #8106. I'd prefer @ashb's suggestion of keeping the "active" designation for this purpose if possible. Using a negative prefix of "un" ("not paused") isn't great from a UX perspective of differentiating status labels.

[2021-02-26 18:27] wolfier commented on #10180
I haven't seen any activity on this so I will be taking this issue.

[2021-02-26 19:02] dstandish opened #14486 "tree view task instances have too much left padding in webserver UI"
**Apache Airflow version**: 2.0.1

Here is tree view of a dag with one task:
![image](https://user-images.githubusercontent.com/15932138/109343250-e370b380-7821-11eb-9cff-5e1a5ef5fd44.png)

For some reason the task instances render partially off the page, and there's a large amount of empty space that could have been used instead.

**Environment**

MacOS
Chrome

[2021-02-26 20:49] #14390 closed

[2021-02-26 20:50] #14460 closed

[2021-02-26 21:22] Gaurang033 opened #14489 "Add a retry with wait interval for SSH operator"
**Description**
currently SSH operator fails if authentication fails without retying.  We can add two more parameters as mentioned below which will retry in case of Authentication failure after waiting for configured time.

- max_retry - maximum time SSH operator should retry in case of exception
-  wait - how many seconds it should wait before next retry

**Use case / motivation**
We are using SS

[2021-02-26 22:25] mik-laj commented on #14283
I try to stick to the rules described in [the Google developer documentation style guide](https://developers.google.com/style/capitalization
) and [PEP-8 - Style Guide for Python Code](https://www.python.org/dev/peps/pep-0008/). The first describes the rules for writing documentation and the second describes the class names.

~ Google developer documentation style guide

~ PEP-8

The official proj

[2021-02-26 22:27] mik-laj commented on #14283
Are you willing to submit a PR? I am happy to help with the review.

[2021-02-26 22:42] mik-laj commented on #14285
@soggycactus  This feature doesn't really do much work, so I don't think it's too useful for the end-user. From my experience, I know that it is best to check such things from the user's perspective, because this is the way to detect most problems.
This means that you can run the code below to check if your plugin loads correctly.
[code]

[2021-02-26 22:52] mik-laj commented on #8743
Related: https://github.com/apache/airflow/pull/12158

[2021-02-26 22:54] #10271 closed

[2021-02-26 23:30] xinbinhuang opened #14491 "Docker image hide LOAD_EXAMPLES config in helm chart"
The env `AIRFLOW__CORE__LOAD_EXAMPLES` is set to `false` directly inside the Docker image. This makes the usage of official Docker image with helm chart a bit confusing because it hides the helm chart parameter `config.core.load_examples` (the mounted `airflow.cfg`). Instead, users need to specify `AIRFLOW__CORE__LOAD_EXAMPLES=True` in the `extraEnv/extraEnvFrom` if they want to load example dags.

[2021-02-27 00:12] zifeo commented on #11085
@melle2 also the log_id seems to be missing the dag_id & task_id: `--2021-02-11T16:24:40.317864+00:00-1`

[2021-02-27 00:35] mik-laj commented on #14423
It seems to me that we should fix docker-compose.yaml so that it does not require manual setting of this envariable variable. This file is intended for the beginner who does not need to know all the configuration options.

However, if we do not want to change it, we should update the guide to describe it.
http://apache-airflow-docs.s3-website.eu-central-1.amazonaws.com/docs/apache-airflow/latest/s

[2021-02-27 01:30] kaxil commented on #13226
closed by https://github.com/apache/airflow/pull/14475

[2021-02-27 01:30] #13226 closed

[2021-02-27 01:34] kaxil commented on #8564
Looks like the issues was fixed by  #7507 (and then renamed in #8312)

[2021-02-27 01:34] #8564 closed

[2021-02-27 05:06] zachliu commented on #9975
ha, bumped into this issue in `2.0.1`
i cleared 4 dag runs (4 execution dates) in a dag with `max_active_runs = 1` and i ended up with 4 concurrent dag runs :crying_cat_face:

[2021-02-27 09:03] #14363 closed

[2021-02-27 09:14] potiuk opened #14502 "Self hosted runner build sometimes fail without providing logs"
I have seen a number of cases recently when self-hosted runner build failed/was cancelled without providing any logs. Sometimes it is after 1-2 hours of running. It looks like VM running the builds is stuck and hangs and then gets killed without sending any logs.

An example of that is here: https://github.com/apache/airflow/runs/1990835677?check_suite_focus=true

I know the job works because it s

[2021-02-27 09:17] ashb commented on #14502
I'll take a look, see if anything shows up on the system logs.

I _think_ I have also seen this on GitHub runners too, so it might not be anything on our side. Might

[2021-02-27 09:18] potiuk opened #14503 "Sometimes build process (likely on self-hosted runners) exits with 1 when exit code was 0"
I guess this yet another manifestation of self-hosted runner problem. Sometimes it happens that even if the script exits with '0' exit code, the actual CI job is marked as a failure and has exit code != 0.

Example here: https://github.com/apache/airflow/runs/1990897172?check_suite_focus=true

[code]

[2021-02-27 09:19] ashb commented on #14502
Logs are viewable in CloudWatch for the actions.runner systemd service.

I think there's some way of managing SSH access via a System Manager tool, I'll look at integrating that

[2021-02-27 09:19] potiuk commented on #14502
Another similar error here: https://github.com/apache/airflow/runs/1990836050?check_suite_focus=true

[2021-02-27 10:03] potiuk opened #14505 "Build failed likely due to unclean state of repo for self-hosted runner"
This looks like a failure because of previously cancelled build on the self-hosted runner:

https://github.com/apache/airflow/runs/1993357873?check_suite_focus=true#step:2:103

Looks like the repository was attempted to be checked out when there was a source code already in the folder where the source code should be checked out.

Some 'egg-info" files are there apparently created by the previous r

[2021-02-27 10:52] XD-DENG commented on #14459
Thanks everyone for your inputs!

What I would propose is:

Let's change the "internal" term `is_active` to something else. It brings two benefits:
- to avoid the potential confusion
- better represent what it really means ("Whether that DAG was seen on the last DagBag load").

Candidates can be something like `is_active` ->  `is_present`.

May you please:
- share if you think it's necessary to do

[2021-02-27 14:06] yogyang commented on #14482
maybe https://github.com/apache/airflow/discussions/14450 can give you a workaround.
BTW, a possible fix in codes maybe
add `conf.get('webserver', 'backend_url')` in this line https://github.com/apache/airflow/blob/5bfa0f123b39babe1ef66c139e59e452240a6bd7/airflow/www/views.py#L125

[2021-02-27 14:21] potiuk commented on #14491
Good point.I'd vote for changing it in the helm chart documentation. It makes perfect sense for the prod image to not load examples  by defaul (I hardly imagine anyone wanting example dags in production). But having a way to set it properly described in the charat should be a better solution.

This is an example of config parameter which you want to have set as "true" for basic development install

[2021-02-27 14:26] potiuk commented on #14283
Yep. I think there is often distinction between "Product Name" and "tool name" (deliberately written this way). So the naming is not often Random Case even if those are different (but sometimes indeed it is). So it can't be fixed automatically - you need to understand the context.

As @mik-laj - I am happy to review PRs that you might come up with on that.

[2021-02-27 15:46] potiuk opened #14511 "Test status of provider RCs released 27.02.2021 (RCs)"
People who were involved, please tick the boxes when you test the RCs and they work as expected:

* [amazon](https://pypi.org/project/apache-airflow-providers-amazon/1.2.0rc1/)
  * [x] @piffall
  * [x] @ecerulm
  * [ ] @AratiNagmal
  * [ ] @ivica-k
  * [ ] @JavierLopezT
* [apache.druid](https://pypi.org/project/apache-airflow-providers-apache-druid/1.1.0rc1/)
  * [x] @xinbinhuang
* [apache.spark](

[2021-02-27 16:24] potiuk opened #14512 "Test status of BACKPORT providers RC released on 27.02.2021 (version 2021.3.3)"
People who were involved, please tick the boxes when you test the BACKPORT PROVIDERS RCs and they work as expected:

* [amazon backportt](https://pypi.org/project/apache-airflow-backport-providers-amazon/2021.3.3rc1/)
  * [ ] @piffall
  * [ ] @ecerulm
  * [ ] @AratiNagmal
  * [ ] @ivica-k
  * [ ] @JavierLopezT
* [apache.druid backport](https://pypi.org/project/apache-airflow-backport-providers-apa

[2021-02-27 16:30] potiuk commented on #14511
Related issue #14512 - where you can also test Backport provider RCs.

[2021-02-27 17:42] bperson opened #14515 "Tasks in an infinite slots pool are never scheduled"
**Apache Airflow version**: v2.0.0 and up
**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): not tested with K8
**Environment**:
all

**What happened**:

Executing the unit test included below, or create an infinite pool ( `-1` slots ) and tasks that should be executed in that pool.
[code]

**What you expected to happen**:

To schedule tasks, or to drop support for infin

[2021-02-27 19:00] karakanb commented on #14266
@potiuk The problem seems to be with the Docker image itself, meaning that there is no dependency installed from the user's perspective. What you are saying would be correct if the user was trying to run them with their local dependencies, but in the case of the provided Docker example there is simply nothing installed from the host device, therefore this needs to be fixed in the image level as fa

[2021-02-27 20:15] potiuk commented on #14266
@karakanb -> correct - that was a problem with dependencies in the image. But it will be fixed in the upcoming bugfix releases of the provider - first, and of the airflow version and image (as second step)

Just to clarify the original issue:

The 2.0.1 image was prepared with the provider packages released at that time (`apache-airflow-providers-microsoft-azure` https://pypi.org/project/apache-ai

[2021-02-27 20:56] mik-laj opened #14517 "The tables are not parsable by standard linux utilities."
Hello,

I changed the format of the tables a long time ago so that they could be parsed in standard Linux tools such as AWK.
https://github.com/apache/airflow/pull/8409
For example, to list the files that contain the DAG, I could run the command below.
[code]
To pause all dags:
[code]
Unfortunately [that has changed](https://github.com/apache/airflow/pull/12704) and we now have more fancy tables,

[2021-02-27 21:07] mik-laj opened #14518 "Airflow info command doesn't work properly with pbcopy on Mac OS"
Hello,

Mac OS has a command for copying data to the clipboard - `pbcopy`.  Unfortunately, with the [introduction of more fancy tables](https://github.com/apache/airflow/pull/12689) to this command, we can no longer use it together.

For example:
[code]

<details>
<summary>Clipboard content</summary>

[code]

</details>

CC: @turbaszek

[2021-02-27 23:32] #14423 closed

[2021-02-28 00:59] ccage-simp commented on #14211
Hi jarek -

I think I'm going to close this one. I noticed that the constraints-1-10 branch is already updated with the fixes I needed here (` pandas==0.24.2`, etc.). Only difference is I was requesting old 1.10.11 version.

It helped me to learn how to provide my own version of constraints file to breeze command. I think it's good enough for my needs. And now we are closer to upgrading to 1.10.14

[2021-02-28 00:59] #14211 closed

[2021-02-28 03:24] gitzhuyongfu opened #14520 "docker-compose install error"
use Official documents install airflow 2.0.1
docker-compose version is 1.28.5
docker-compose file : curl -LfO 'https://airflow.apache.org/docs/apache-airflow/2.0.1/docker-compose.yaml'
error:

Status: Downloaded newer image for apache/airflow:2.0.1
Creating airflow_redis_1    ... done
Creating airflow_postgres_1 ... done
Creating airflow_airflow-init_1 ... done
Attaching to airflow_airflow-init_1

[2021-02-28 03:58] mik-laj commented on #14520
What is your operating system?

[2021-02-28 04:00] mik-laj commented on #8605
I added some improvements to the docker-compose file to make it more stable.
https://github.com/apache/airflow/pull/14519
https://github.com/apache/airflow/pull/14522
Now we have health-checks for all components.

[2021-02-28 04:04] gitzhuyongfu commented on #14520
os：CentOS Linux release 7.8.2003 (Core)
docker: 20.10.3
docker-compose: 1.28.5

[2021-02-28 04:07] mik-laj commented on #14520
Can you show content of .env file and $UID and $GID?  for now this docker compose is not working from root, but today I merged the patch. See. https://github.com/apache/airflow/pull/14226

[2021-02-28 04:34] Rishabhraghwendra18 commented on #14054
I am really sorry guys. I am not able to setup the development on my machine . And I am also having university exams within this month .So I am not able to contribute 😞. I am unassingning myself.

[2021-02-28 05:54] saeed2402 opened #14523 "Error with new dags on airflow 1.10.12 on docker-compose"
Running Airflow on Docker Compose on Windows 10.
Docker-compose file:

[code]

First ran "docker-compose up airflow-init", output:

Recreating airflow_test_2_redis_1  ... done
Creating airflow_test_2_postgres_1 ... done
Recreating airflow_init            ... done
Attaching to airflow_test_2_airflow-init_1
airflow-init_1       | DB_BACKEND=postgresql+psycopg2
airflow-init_1       | DB_HOST=postgres

[2021-02-28 06:17] gitzhuyongfu opened #14524 "how to run airflow on k8s?"
how to run airflow on k8s? Do you have any official documents for k8s?

[2021-02-28 09:28] potiuk commented on #14211
Yeah. I think we will only be fixing really critical issues for old 1.10.* and the fix will be to migrate to latest 1.10.* anyway. With the mitigation in place, I think it is as good as it can be.

[2021-02-28 09:35] gelinger777 opened #14526 "Docker Compose logic broken. Init not happening"
**Apache Airflow version**:
2.0.1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
n.a
**Environment**:
Docker
- **Cloud provider or hardware configuration**:

Dedicated Server

- **OS** (e.g. from /etc/os-release):

Ubuntu 18.4

- **Kernel** (e.g. `uname -a`):
Linux gelinger.at 4.15.0-136-generic #140-Ubuntu SMP Thu Jan 28 05:20:47 UTC 2021 x86_64 x86_64 x86_64 GNU/L

[2021-02-28 10:07] mik-laj commented on #14526
Duplicate: https://github.com/apache/airflow/issues/14520

[2021-02-28 10:07] #14526 closed

[2021-02-28 10:09] mik-laj commented on #14524
Duplicate; https://github.com/apache/airflow/issues/14303

[2021-02-28 10:09] #14524 closed

[2021-02-28 10:10] potiuk commented on #14054
Too bad. Next time maybe,

[2021-02-28 11:02] mik-laj commented on #14523
does this problem also occur on Airflow 2.0.1 with official docker-compose files? See: https://airflow.apache.org/docs/apache-airflow/stable/start/docker.html

[2021-02-28 11:04] saeed2402 commented on #14523
@mik-laj No, just in version 1.10.12, which is the one I need

[2021-02-28 11:07] mik-laj commented on #14523
We do not support older Airflow with Docker compose and I suspect this may not work as we are constantly making changes to docker-image and the old image will not have these improvements. Airflow 2.0.1 is the first version that is officially supported by docker-compose.

[2021-02-28 11:07] #14523 closed

[2021-02-28 11:22] gelinger777 commented on #14520
@mik-laj  so we should not use root user and root id?  i also used 0,0 ..

[2021-02-28 11:29] mik-laj commented on #14520
@gelinger777 Yes. You should use a non-root user.  As a temporary workaround, you can also add a directory with user modules to PYTHONPATH.
[code]

[2021-02-28 12:14] turbaszek commented on #14518
@mik-laj I cannot replicate:

<img width="1680" alt="Screenshot 2021-02-28 at 13 14 38" src="https://user-images.githubusercontent.com/9528307/109418117-ebb62380-79c6-11eb-894e-4790d7b7701f.png">

[2021-02-28 12:15] mik-laj commented on #14518
Your table don't have labels.

[2021-02-28 12:16] turbaszek commented on #14518
I just spotted that... I installed airflow with a change I did but not in editable mode xD

[2021-02-28 12:38] eladkal commented on #11266
The [quote](https://airflow.apache.org/docs/apache-airflow/1.10.13/faq.html#how-to-reduce-airflow-dag-scheduling-latency-in-production) you are referring to is from 1.10.13 was changed in 1.10.14 by https://github.com/apache/airflow/pull/12605 when `max_threads` is changed to `parsing_processes` After that it was refactored again for Airflow 2.0
See updated [doc](https://airflow.apache.org/docs/ap

[2021-02-28 12:38] #11266 closed

[2021-02-28 12:58] zacharya19 opened #14529 "Clear the entire TaskGroup section"
**Description**

Allow to clear the whole tasks inside a TaskGroup, instead of doing it one by one.

**Use case / motivation**

One of the things I love about SubDags is the option to clear the entire sub flow in case I want to rerun it.
In some cases I've a single parent and it's easy, but in some flows there are multiple parents (and now thanks to TaskGroup there could be even more easily), so t

[2021-02-28 13:39] eladkal commented on #14232
@Dr-Denzy on 2nd thought, after reading carefully the issue again this task should not be done.
https://github.com/apache/airflow/blob/2fa3774608af9369135381c45529d3cf6f8c0e1a/airflow/utils/db.py#L38
isn't deprecated on 1.10.14
The function is deprecated only from >=2.0.0 so there is no action to take when upgrading from 1.10.14 to 2.0
We already decided not to suggest changes that will break dags

[2021-02-28 13:39] #14232 closed

[2021-02-28 15:24] adilkhash commented on #14511
how to tick the checkbox? if I click on a checkbox nothing is happening

[2021-02-28 15:42] #14518 closed

[2021-02-28 16:02] Abdur-rahmaanJ commented on #14283
@mik-laj i am ready to PR, was just waiting for the direction to go

[2021-02-28 16:19] potiuk commented on #14283
I think direction are clear @Abdur-rahmaanJ -> when  used as "Product" names should follow official product name. When used as "tool" usually the tools have lowercase names. So it depends on the context .

[2021-02-28 16:21] potiuk commented on #14511
Ah.. Experiment :). Possibly only committers can click it :). Comment here will be enough :). I clicked it for you.

[2021-02-28 16:31] piffall commented on #14511
Checked!

[2021-02-28 18:13] potiuk commented on #14502
I think it would be great to get instructions on how to get to the right log (at minimum). For now I do not even know what to look for in the cloud watch if i want to find a log from this particular runner (probably it is easy but it is a bit 'secret knowledge' now.

This is very similar situation as `Build Image` job - which was easy to find, but no-one knew how, so the automated links from the b

[2021-02-28 18:15] potiuk commented on #14505
Similar problem here: https://github.com/apache/airflow/pull/14531/checks?check_run_id=1999125831

[2021-02-28 18:20] potiuk commented on #14505
Also here: https://github.com/apache/airflow/pull/14532/checks?check_run_id=1999112392

[2021-02-28 18:21] potiuk commented on #14505
This is almost for sure result of an unclean directory in one of the runners which was cancelled in one of the previous builds.

[2021-02-28 18:21] potiuk commented on #14505
cc: @ashb

[2021-02-28 19:06] ashb commented on #14505
Will take a look in detail tomorrow, but permissions are being reset by https://github.com/apache/airflow-ci-infra/blob/user-data-WIP/cloud-init.yml#L129.

Wonder what went on here

[2021-02-28 19:17] #14520 closed

[2021-02-28 19:19] gelinger777 commented on #14520
Thank you @mik-laj

[2021-02-28 19:59] potiuk commented on #14505
Is the chown run always before ? And with root user ?

I think this is one of those cases where I prefer to have a completely "pristine"  empty directory rather trying to reuse last checkout.

GitHub checkout by default only fetches one single commit, it is super-fast so we save basically nothing by caching the result of previous checkout. And we avoid any kind of errors like this one - where some

[2021-02-28 20:15] potiuk commented on #14505
My hypothesis is that the previous runs docker containers are still working in the background (killing a docker container running in the background might not happen immeddiately).  Those running docker containers could continue creating files while the next "init" is happening. That's why "chown" would not work - because the files get created .

That's where re-creating the whole tmpfs from scratc

[2021-02-28 20:50] #14279 closed

[2021-02-28 21:27] ashb commented on #14505
Yes. That is in the pre-start script, and the runner is configured to run a single job then stop (at which point systemd restarts it)

Yes otherwise it wouldn't do anything

[2021-03-01 02:47] YangMuye commented on #14265
It seems that the dag run does not need to be successful first to hit this issue.
A dag run that fails due to timeout can never be rerun.

[2021-03-01 02:57] Abdur-rahmaanJ commented on #14283
Companion PR: #14534

[2021-03-01 03:58] mik-laj commented on #14489
SGTM. GoogleCompute retry authorizations, so generic
hook can also do it.

[2021-03-01 05:23] Rishabhraghwendra18 commented on #14054
ya..sure

[2021-03-01 06:32] 2011211242 opened #14538 "Task can not exit normally when I use map in billiard"
[code]

When error occured in my subprocess, sometime task cannot terminnal normally. The task status on the web was running.

CentOS Linux release 8.3.2011
Python 3.6.8
airflow '2.0.1'
billiard 3.6.3.0

[2021-03-01 08:47] potiuk opened #14539 "Sometimes the self-hosted runners have difficulty in starting in 10 minutes"
There are sometime cases when self-hosted runners will not start in 10 minutes and such builds will fail.

Example here:

https://github.com/apache/airflow/actions/runs/608613545

Those annotations are shown:

[code]

[2021-03-01 10:07] ashb commented on #14539
So the timestamps on GitHub for that action is 2021-02-28T21:43Z, but looking in the logs for "cancel-worfklow-runs" via CloudWatch Logs insights:

(AWS creds needed for  the link, and logs only kep for ~5 days)  I see the following log messages (which is across _all_ runners.)

[**CloudWatch Logs Insights**
region: eu-central-1
log-group-names: GitHubRunners
start-time: 2021-02-28T21:00:00.000Z
e

[2021-03-01 10:19] ashb commented on #14503
THis was a commo garden variety test failure. Nothing to do with self-hosted runners.

[2021-03-01 10:19] #14503 closed

[2021-03-01 10:20] Dr-Denzy commented on #8970
I will gladly take this on @kaxil

[2021-03-01 10:40] ashb commented on #14505
Collecting info/making notes about this as I debug:

- Job that ran on this host just before https://github.com/apache/airflow/runs/1993313279?check_suite_focus=true
- Job was cancelled. Relevant?

[2021-03-01 10:57] amaraliou opened #14541 "Airflow upgrade_check gives false positives on DbApi functions implementations check"
**Apache Airflow version**:
1.10.14

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
N/A

**Environment**:

- **Cloud provider or hardware configuration**: GCP
- **OS** (e.g. from /etc/os-release): Ubuntu 18.04.4 LTS
- **Kernel** (e.g. `uname -a`): N/A
- **Install tools**: pip

**What happened**:

Running `airflow upgrade_check` threw the following warnings:
[code]

T

[2021-03-01 10:57] ecerulm commented on #14511
checked

[2021-03-01 11:00] ashb commented on #14505
I think you are right. I was fixing the permissions and cleaning up the files, _and then_ deleting running docker containers. That needs reversing.

[2021-03-01 11:10] #14505 closed

[2021-03-01 11:33] ivica-k commented on #14511
Hey @potiuk I would gladly do it but I have no idea how. Any hints/guides appreciated.

[2021-03-01 12:02] #13109 closed

[2021-03-01 12:15] melle2 commented on #11085
@zifeo in fact I didn't recognize the missing output but I can confirm that behavior. My configuration was set up like described in documentation --> https://airflow.apache.org/docs/apache-airflow/2.0.1/configurations-ref.html?highlight=elasticsearch#elasticsearch. But you're right, seems to be a "documentation bug", which needs to be fixed as well :)
After changing to the "workaround" the dag_id

[2021-03-01 12:26] jyotidhiman0610 commented on #14511
I will also require some guidance @potiuk

[2021-03-01 12:37] Khrol commented on #14511
My change was very cosmetic. I'm not sure that we should test something there.

[2021-03-01 12:55] Khrol commented on #14511
`apache.spark` - tested.
`slack` - the change is too cosmetic to test it somehow. Not even sure how exactly do that.

[2021-03-01 13:07] v1lev commented on #10721
Hi. I would like to work on this task

[2021-03-01 13:08] ashb commented on #14502
Less easily than we might hope it turns out. The AWS console url is... hideous. It uses a url fragment that is encoded in a really weird format - not using `?key=value%20space` but.... odd. LIke `$` instead of `%`, and `~` as the separator?

[2021-03-01 13:11] ashb commented on #14502
[code]

[2021-03-01 13:33] YangMuye opened #14543 "string templated fields are not rendered literally"
**Apache Airflow version**: 2.0.1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): n/a

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): redhat 7.9
- **Kernel** (e.g. `uname -a`): 3.10.0-1160.11.1.el7.x86_64
- **Install tools**: pip
- **Others**:

**What happened**:

Given the following code

[code]

The `command`

[2021-03-01 13:59] #13629 closed

[2021-03-01 14:00] #13132 closed

[2021-03-01 14:06] AratiNagmal commented on #14511
Me too @potiuk .

[2021-03-01 15:33] abhishekshenoy commented on #13047
Hi Team ,

   Our dags are failing to start with the below issue . We have not done any chages , had just restarted our scheduler and then onwards we are facing this issue.

[code]

[2021-03-01 16:40] ConstantinoSchillebeeckx commented on #14511
ditto

[2021-03-01 16:48] scaoupgrade commented on #8212
this is the root cause. Related to the monkey patching and import order of request module:
https://github.com/gevent/gevent/issues/1016#issuecomment-328529454

[2021-03-01 17:42] kaxil commented on #13047
You need to update to 2.0.1

[2021-03-01 18:17] leonsmith commented on #11901
Started to debug this a little.

I’m thinking the problem is the wrong assumption that you can set is_active=True on any dags with the same file path.
So the fix should be patching out the else statement here:
https://github.com/apache/airflow/blob/1.10.12/airflow/models/dag.py#L1917

I think `is_active` is set to `True` when the we call the DagBag `sync_to_db` method in the when parsing the dags.

[2021-03-01 18:21] HaloKo4 commented on #11901
if the expected behavior is to remove/rename the old dag_id how are we expected to read its past logs?
This will require to also modify files in the disk otherwise they will be unaccessable.

[2021-03-01 18:26] kaxil commented on #11901
For now, you will have to just use a different file for the new (or renamed) DAG.

[2021-03-01 19:27] eladkal commented on #10124
Fixed in https://github.com/apache/airflow/pull/14177

[2021-03-01 19:27] #10124 closed

[2021-03-01 19:47] zachliu commented on #14205
if https://github.com/apache/airflow/issues/9975 is fixed, does this one fixes itself too? because you'll never have more runs than specified by the `max_active_runs`

[2021-03-01 20:06] potiuk commented on #14511
@ConstantinoSchillebeeckx @AratiNagmal  @jyotidhiman0610 @ivica-k -> this should be as easy as installing the new provider release `pip install <provider>==X.Y.Zrc1`  version in an airflow installation of yours and check if the feature/fix implemented by you works. This is pretty safe - you can always go back by installing the previous version of provider you test.

You can see the exact version o

[2021-03-01 20:51] sshah90 commented on #12499
@alsterman  what did you put in the redirect URL?

I am using Airflow v1.10.14 and getting the same error as @Silpa-Suresh.

I tried `/login, /admin, /oauth-authorized, /oauth-authorized/azure, /home, /` endpoints but no luck!

[2021-03-01 21:13] StephanZaat commented on #13916
We're having the same issue running Airflow 2.0.1 on AKS.

[2021-03-01 22:01] ephraimbuddy commented on #14511
@heeroyuy925 Can you test your fix?

[2021-03-01 22:12] mik-laj commented on #11161
Hi.

I made some improvements and we have a health check for each component. This is described in the documentation:
http://apache-airflow-docs.s3-website.eu-central-1.amazonaws.com/docs/apache-airflow/latest/logging-monitoring/check-health.html
You can also see it in our `docker-compose.yaml` file.
https://github.com/apache/airflow/blob/master/docs/apache-airflow/start/docker-compose.yaml
I belie

[2021-03-01 22:12] #11161 closed

[2021-03-01 22:40] himabindu07 commented on #11345
Hi I verified this issues using 2.0.1, unable to reproduceble and can you please try with 2.0.1.
Thanks

[2021-03-01 22:41] himabindu07 commented on #10688
Hi I verified this issues using 2.0.1, unable to reproduceble and can you please try with 2.0.1.

[2021-03-01 22:43] himabindu07 commented on #8779
@LarsAlmgren, I verified this issues using 2.0.0-1, unable to reproduceble and can you please try with 2.0.1.

[2021-03-01 22:46] himabindu07 commented on #8881
@fuyi, I verified this issue using 2.0.0-1 image, can you try using it.

[2021-03-01 22:49] himabindu07 commented on #9610
I verified using 2.0.1 and not able to reproduceble, can try it with Airflow 2.0.1
Thanks

[2021-03-01 22:51] himabindu07 commented on #10045
I verified using 2.0.1 and not able to reproduceble, can you try it with Airflow 2.0.1
Thanks

[2021-03-01 23:16] xinbinhuang commented on #14511
@potiuk Is't possible to also get this https://github.com/apache/airflow/pull/14418 in for druid as well?

[2021-03-02 00:14] Ahmedn1 opened #14553 "self.log_relative_path is empty when it comes to closing the log"
https://github.com/apache/airflow/blob/b6a4804702711d473c5c55b7aeca2774cd342e22/airflow/providers/google/cloud/log/gcs_task_handler.py#L126

Steps to reporduce:
I set these variables:

[code]

The local log files are created fine but they are not uploaded. After some debugging and breakpoints, I discovered that on the mentioned line the variable `self.log_relative_path` is always empty.

[2021-03-02 02:12] dkinzer commented on #8467
@potiuk, we are seeing the same  issue as @weldpua2008 using airflow 1.10.14 and applying the 1.10.14/constraints-3.6.txt.

I've determined that the constraints do not specify a version for flask_oauthlib  even though they make a direct dependency via the flask_appbuilder package and this is likely at the root of the problem:

Flask-AppBuilder==2.3.4 has a dep to flask_oauthlib but the constraint

[2021-03-02 02:12] SamWheating commented on #14511
I have verified that the changes from https://github.com/apache/airflow/pull/14086 are working as expected.

[2021-03-02 04:55] maxcountryman commented on #13797
Also seeing this issue.

It's particularly noisy and somewhat disruptive as it seems to also immediately trigger: `Failed to execute task Task received SIGTERM signal.` and then `AirflowException: Celery command failed on host: {redacted}` quite often as of Airflow 2.0.1.

[2021-03-02 06:50] mik-laj commented on #11161
Related: https://github.com/apache/airflow/issues/13838

[2021-03-02 07:13] eladkal commented on #13570
@yergi can you please check if https://github.com/apache/airflow/pull/14493 solves your issue?

[2021-03-02 07:25] Alien2150 commented on #11161
Awesome. Thx @mik-laj

[2021-03-02 07:32] #14340 closed

[2021-03-02 07:51] shikunshowyou opened #14555 "dateutil.parser._parser.ParserError: Unknown string format: 2021-03-02T03%3A06%3A57.280244%2B00%3A00"
![image](https://user-images.githubusercontent.com/28568478/109615506-f14e6d80-7b6e-11eb-8c42-5cc08cda2615.png)
![image](https://user-images.githubusercontent.com/28568478/109615579-0a571e80-7b6f-11eb-89d0-277cc8d26f9c.png)

[2021-03-02 08:48] flvndh commented on #14511
There is an error in AzureDataFactoryHook (microsoft.azure). The Azure SDK clients for the major part use this constructor signature `[Service]Client(credentials, subscription_id, **kwargs)` but the Data Factory client has `credential` as its first parameter instead. I'll see if I can fix this rapidly.

[2021-03-02 08:49] katguev opened #14556 "Task stuck in queued state after pod fails to start"
**Apache Airflow version**: `2.0.1`

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
`Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.1", GitCommit:"7879fc12a63337efff607952a323df90cdc7a335", GitTreeState:"clean", BuildDate:"2020-04-10T21:53:58Z", GoVersion:"go1.14.2", Compiler:"gc", Platform:"darwin/amd64"}`

`Server Version: version.Info{Major:

[2021-03-02 09:09] flvndh opened #14557 "AzureDataFactoryHook fails to instantiate its connection"
Version `1.0.0` of `azure-mgmt-datafactory` was released recently introducing some breaking changes. The changes are detailed [here](https://pypi.org/project/azure-mgmt-datafactory/1.0.0/).

[2021-03-02 11:02] thesuperzapper commented on #14469
@potiuk are you ok with updating Flask-Appbuilder?

[2021-03-02 11:26] FredericoCoelhoNunes commented on #9975
@zachliu same problem here, and I have a huge backlog of ~200 failed runs to retry. Which means I have to go to the Airflow UI every couple of minutes to manually clear the failed runs, one at a time, because if I clear more than one they will execute simultaneously and both fail.
(note: this is with a global value of max_active_runs_per_dag = 1)

[2021-03-02 11:36] jagusztinl opened #14559 "Airflow worker pods starts very slow because of K8s init container"
**Apache Airflow version**:

2.0.1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.1-5-g76a04fc", GitCommit:"c66c03f3012a10f16eb86fdce6330433adf6c9ee", GitTreeState:"clean", BuildDate:"2021-02-13T03:54:59Z", GoVersion:"go1.15.5", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{M

[2021-03-02 11:39] jagusztinl commented on #14559
I have been found that the init container stops here for 30 secs:
[37mnami   [39m [32mINFO [39m Initializing airflow-worker
[36mairflow[39m [32mINFO [39m ==> No injected configuration files found. Creating default config file...

How to make this faster?

[2021-03-02 13:07] vidyadhar821 opened #14561 "Using apache-airflow-providers-snowflake on airflow (no module named Snowflake)"
Hi,
I have installed package apache-airflow-providers-snowflake on airflow on docker and i am getting error as "No module named Snowflake". After certain analysis i found that the the snowflake hook operator source code is getting saved with file name snowflake.py and within the source code it tries to import snowflake module. So basically it is trying to import itself.
Has anyone encountered this

[2021-03-02 13:59] dkinzer commented on #8467
I'm able to get past issue using this modified constraint ☝🏽 which updates the 1-10 constraints with some changes added to 2-0 constraints.

[2021-03-02 14:22] nathadfield opened #14563 "TaskGroup Sensor"
**Description**

Enable the ability for a task in a DAG to wait upon the successful completion of an entire TaskGroup.

**Use case / motivation**

TaskGroups provide a great mechanism for authoring DAGs, however there are situations where it might be necessary for a task in an external DAG to wait upon the the completion of the TaskGroup as a whole.

At the moment this is only possible with one of

[2021-03-02 15:20] zachliu commented on #9975
@FredericoCoelhoNunes this :bug: created a huge inconvenience in our workflow but luckily we have a stable API now, i just used my own [python sdk](https://pypi.org/project/airflow-python-sdk/) to write backfill scripts that trigger only one dagrun at a time

[2021-03-02 15:49] leonsmith commented on #11901
So this also effects dynamic dags.

[code]

and then you switched numbers to a different set say "{1, 2}"
`dag_3` will always appear as active still.

[2021-03-02 16:22] ConstantinoSchillebeeckx commented on #14511
@potiuk I can't find the RC for apache-airflow-providers-mysql, can you point me in the right direction please?

[2021-03-02 16:37] SamWheating commented on #14511
@ConstantinoSchillebeeckx I think that you want to install `apache-airflow-providers-mysql==1.0.2rc1`

https://pypi.org/project/apache-airflow-providers-mysql/#history

[2021-03-02 17:03] ConstantinoSchillebeeckx commented on #14511
@potiuk checked!

[2021-03-02 18:37] ferruzzi commented on #8544
Hi folks, I'm going to be working with @john-jac on this; the code etc will be in my fork and I'll have a design plan/doc posted here in this ticket in the next day or two.

[2021-03-02 18:52] gillbuchanan commented on #13916
It seems you linked back to this same issue. Is there another issue that is related to this?

[2021-03-02 19:12] StephanZaat commented on #13916
@gillbuchanan
Indeed. Too many tabs and too late! ;)
https://github.com/apache/airflow/issues/14175

[2021-03-02 19:12] #14517 closed

[2021-03-02 19:18] potiuk commented on #14511
Cool. Thanks for looking at it @flvndh -> Since this is a new thing, I am tempted to still release it (as the BugFix: Fix remote log in azure storage blob displays in one line (#14313)) seems to be more important to handle and the hook is new. Let's see if if we have more providers to release and we can relase a new version of it.

WDYT?

[2021-03-02 19:19] potiuk commented on #14511
Indeed - it was under the `mysql` link above your name :) - sorry it was not too obvious :). Next time I will rather put the whole link there (if we decide to automate it) :)

[2021-03-02 19:21] potiuk commented on #14511
Anyone else - if you think you could take a look - I'd love to get some feedback on those :)

[2021-03-02 19:33] ivica-k commented on #14511
Hey, absolutely but over the weekend if it's not too late. Working full
time plus doing something on the side just eats up all my time.

On Tue, Mar 2, 2021 at 8:21 PM Jarek Potiuk <notifications@github.com>
wrote:

[2021-03-02 19:39] potiuk commented on #14511
Perfectly understand (have the same now). And thanks for the willingness @ivica-k !). We are voting and planning to release the providers tomorrow. It is not a blocker if it is not tested (and this is more of an experiment to see whether we could get help from the community). The providers are also good that you can always downgrade easily if you discover a problem so it would be nice to get confi

[2021-03-02 20:03] xinbinhuang commented on #14511
@potiuk can we get #14418 in for druid before the release? It fixes a bug for Druid.

[2021-03-02 20:23] potiuk commented on #14511
I believe so. For me - seeing the feedback - this calls for removing the three:  druid, azure, beam from this release and re-releasing it after the fixes are merged.

We already anticipated this - in our process we have foreseen the option of removing some of the providers even when voting is overall +1 (at the discretion of release manager). I think having those three fixes merged, justifies an o

[2021-03-02 20:51] ConstantinoSchillebeeckx opened #14569 "Connection uri does not allow foward slash"
**Apache Airflow version**: 2.0.1

**What happened**:

I've configured remote logging to AWS S3 and have configured `AIRFLOW__LOGGING__REMOTE_LOG_CONN_ID` through an ENV like:
[code]

When `AWS_SECRET_ACCESS_KEY` has a forward slash in it, the class constructor fails.

**How to reproduce it**:
[code]
Results in
[code]

**Anything else we need to know**:

Looks like this may have been [previously i

[2021-03-02 21:10] potiuk commented on #14569
Please take a look at the URI specification.You must urlencode forward slash.

[2021-03-02 21:10] #14569 closed

[2021-03-02 21:43] ashb commented on #14569
`%2f` in this case -- `s3://some_aws_access_key:secret_key123%2f321asdf@bucket_name`

[2021-03-02 21:54] ConstantinoSchillebeeckx commented on #14569
Ah it's in the [docs](https://airflow.apache.org/docs/apache-airflow/stable/howto/connection.html#handling-of-special-characters-in-connection-params); thank you both so much.

[2021-03-02 22:01] marcosmarxm commented on #14054
@potiuk can I take this one instead? I'm finishing the Airbyte provider so right now is easier to do this modification :D

[2021-03-02 22:45] himabindu07 commented on #10021
This issue verified using 2.0.1 image, unable to reproduceble and can you please try with 2.0.0.
Thanks

[2021-03-02 22:47] ashb commented on #14054
@marcosmarxm Sure, all yours!

[2021-03-02 23:22] #14557 closed

[2021-03-02 23:38] potiuk commented on #14255
This is now woking fine. It was fixed by one of the earlier fixes with the constraints.

[2021-03-02 23:56] ryanyuan commented on #14511
@potiuk Checked.

[2021-03-02 23:58] xinbinhuang commented on #14511
Just checked google

[2021-03-03 00:28] xinbinhuang commented on #14561
Can you share a bit more details on how you start the webserver and docker? It seems to be missing the `snowflake` dependencies (and that package is also named `snowflake` FYI)

[2021-03-03 00:29] ziliangpeng commented on #13129
I got a similar issue where it tries to re-attach to a pod while it's initializing..

[code]

[2021-03-03 00:34] kaxil commented on #14295
closed by https://github.com/apache/airflow/pull/14493

[2021-03-03 00:34] #14295 closed

[2021-03-03 00:37] kaxil commented on #13091
closed by https://github.com/apache/airflow/pull/14457

[2021-03-03 00:37] #13091 closed

[2021-03-03 00:57] BoneArch opened #14572 "subdag cannot get {{ next_ds }} {{ prev_ds }} correctly from context in 2.0"
**Apache Airflow version**: 2.0.1

**Environment**:

- **Docker Image**: apache/airflow:2.0.1-python3.8

**What happened**:

[code]
Running the above code in 2.0 returns the following result:
[code]

**What you expected to happen**:

Running the above code in 1.10.14 returns the following result:
[code]

**How to reproduce it**:

Run DAG using docker-compose.yml below.

docker-compose.yml
[code]

[2021-03-03 03:58] kaustubhharapanahalli opened #14573 "DockerOperator: OCI Runtime create failed: exec: "PYTHONPATH=.": executable file not found in $PATH: unknown"
**Apache Airflow version**: 2.0.0

- **OS** (e.g. from /etc/os-release):
PRETTY_NAME="Debian GNU/Linux 10 (buster)"
NAME="Debian GNU/Linux"
VERSION_ID="10"
VERSION="10 (buster)"
VERSION_CODENAME=buster
ID=debian
HOME_URL="https://www.debian.org/"
SUPPORT_URL="https://www.debian.org/support"
BUG_REPORT_URL="https://bugs.debian.org/"

**What happened**:

Hello, I am trying to run a python command us

[2021-03-03 04:05] vidyadhar821 commented on #14561
I have used airflow 2.0.1 docker image 2.0.1 and installed the dependencies using cli once the airflow container is up.
see the packages installed below (apache-airflow-providers-snowflake, snowflake-connector-python, snowflake-sqlalchemy is installed)
adal==1.2.6
aiohttp==3.7.3
alembic==1.5.4
amqp==2.6.1
apache-airflow==2.0.1
apache-airflow-providers-amazon==1.1.0
apache-airflow-providers-celery=

[2021-03-03 04:29] potiuk commented on #14561
This is how python behaved before python 3.0. As of python 3.0 you can easily have the same module name as package name because by default in python 3+ all imports are absolute (except those starting with .) https://www.python.org/dev/peps/pep-0328/ . We have many modules name smilarly as packages  and it is not a problem.
You would have to have PYTHONPATH changed to point the snowflake operators/

[2021-03-03 06:48] kaustubhharapanahalli opened #14574 "DockerOperator breaks with active log-collection for long running tasks"
**Apache Airflow version**: 2.0.0

- **OS** (e.g. from /etc/os-release):
PRETTY_NAME="Debian GNU/Linux 10 (buster)"
NAME="Debian GNU/Linux"
VERSION_ID="10"
VERSION="10 (buster)"
VERSION_CODENAME=buster
ID=debian
HOME_URL="https://www.debian.org/"
SUPPORT_URL="https://www.debian.org/support"
BUG_REPORT_URL="https://bugs.debian.org/"

**What happened**:
In one of my custom docker image, the initiali

[2021-03-03 09:10] eladkal commented on #14543
@YangMuye can you submit a PR with your suggest fix?

[2021-03-03 09:15] antontimenko commented on #14205
@zachliu I think that this problem wouldn't be fixed because this occurs even when number of active runs == `max_active_runs `. So if `max_active_runs` == 2, and there is 2 `up_for_retry` tasks, it will deadlock itself

[2021-03-03 10:49] XD-DENG commented on #14297
Hi @milindgv94 , I tried but I cannot reproduce the issue you reported, as long as I made sure the same `AIRFLOW_HOME` env var is available to all the processes (CLI/webserver/scheduler etc.)

May you double-check from your end and share the details if you still have the issue you reported? Otherwise I would suggest to close this issue.

[2021-03-03 12:14] jtommi opened #14578 "Add option to show actual start datetime in UI Last run"
**Description**

I'd like to have an option to make the "last run" column show the actual start datetime and not the run time

**Use case / motivation**

I have an hourly DAG.
The last start in my timezone is 13h

![image](https://user-images.githubusercontent.com/33985391/109803929-f1f40c00-7c21-11eb-8d1f-1153f8774195.png)

But the menu shows the last run

![image](https://user-images.githubuserc

[2021-03-03 12:40] gontcharovd commented on #14320
Let me know if my description is unclear

[2021-03-03 14:26] snehlata08 opened #14580 "Request for sub process"
I need a sub process kind of thing for multiple dags.
I know we can call a child dag from parent dag through TriggerDagRunOperator but in that process how can we notify the parent if the child dag has run successfully or not.
Basically what i am looking at is something like the  [BPMN tool](https://flowable.com/open-source/docs/bpmn/ch07b-BPMN-Constructs/#sub-processes-and-call-activities) . I als

[2021-03-03 14:39] #14481 closed

[2021-03-03 16:09] john-jac opened #14583 "Document Airflow Metrics Optimal Values"
**Description**

Users of Airflow appreciate the [metrics](https://airflow.apache.org/docs/apache-airflow/stable/logging-monitoring/metrics.html) that Airflow emits, however are often confused as to what values indicate a healthy system versus a system that might be exhibiting problems.

This feature request is to add value ranges to the metrics documentation as to what values are appropriate, as

[2021-03-03 16:31] zachliu commented on #14205
@antontimenko ah i see, i have `max_active_runs_per_dag = 16`. and i rarely reach `16` task runs per dag. but when https://github.com/apache/airflow/issues/9975 occurs, the `up_for_retry` tasks can easily go over `16` and then my scheduler got `deadlocked` :joy_cat:

[2021-03-03 16:31] PrarthiJain opened #14584 "Externally triggered DAG is marked as 'success'  when 'start_date' is set to timezone.utcnow() and passed in a DAG level params."
Bug-

When 'start_date': timezone.utcnow() is passed in default_args dictionary, the DAG is not being executed since “The execution_date>=start_date from DAG default_args,” but when the corresponding start date is passed at task level(DAG level parameters), the airflow UI reports it as ’success’ when externally triggered. (Screenshot attached.)

 

Expected-

Manual triggering should not be execut

[2021-03-03 17:08] xinbinhuang commented on #14561
I tried to reproduce on my end but I didn't get any errors.

[code]

Please try out the above command and let us know if you still encounter any errors.

[2021-03-03 17:13] xinbinhuang commented on #14580
You can use the `wait_for_completion` parameter for the  `TriggerDagRunOperator` (by default, it's `False`)

[code]

[2021-03-03 17:27] xinbinhuang commented on #14573
Does below work? The `command` should be the same as what you pass in `... -v /xyz:/xyz -it <docker_image_name> <command>` using normal docker command

[code]

[2021-03-03 17:51] nicolasdonoso opened #14586 "AttributeError: 'DatabaseBackend' object has no attribute 'task_cls'"
**Apache Airflow version**: 2.0.1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.18.15

**Environment**:

- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): ubuntu 18.04
- **Kernel** (e.g. `uname -a`): Linux mlb-airflow-infra-workers-75f589bcd9-wtls8 4.9.0-9-amd64 #1 SMP Debian 4.9.168-1 (2019-04-12) x86_64 x86_64 x86_64 GNU/

[2021-03-03 19:09] ianlofs commented on #14364
Found this because I was doing a deep five through this recently because I am currently trying to figure out the best way to monitor for DAGs that never start. This is where this is getting emitted in the 1.10.X series, https://github.com/apache/airflow/blob/v1-10-stable/airflow/jobs/scheduler_job.py#L1296. If this is getting added back It would be really useful if the metric was emitted all the t

[2021-03-03 20:14] bparhy opened #14590 "Tasks getting Queued but not running"
**Apache Airflow version**: 1.10.14

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):v1.20.2

**Environment**: airflow on k8s

- **Cloud provider or hardware configuration**: aws
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:
We are currently running on 1.10.10 and everything works fine. I am

[2021-03-03 21:37] ConstantinoSchillebeeckx opened #14591 "trigger specific task in an existing DAG run"
**Description**

I may be missing it, but I couldn't find a way of triggering an individual task to run within an existing DAG run through the REST API.

This [endpoint](https://airflow.apache.org/docs/apache-airflow/stable/stable-rest-api-ref.html#operation/post_set_task_instances_state) nearly gets me there, however the only allowed states are either `success` or `fail` - if I could set the stat

[2021-03-03 21:44] mik-laj commented on #14591
For development, you can consider to use docker-compose and airflow tasks tests command.

[2021-03-03 21:55] ConstantinoSchillebeeckx commented on #14591
We would be triggering tasks on a deployed QA environment; is it possible to use the Airflow CLI to interact with a remote deployment? I see the [Docs hints at this](https://airflow.apache.org/docs/apache-airflow/stable/usage-cli.html#set-up-connection-to-a-remote-airflow-instance).

[2021-03-03 22:16] ToxaZ commented on #9373
@eladkal which version you have tested? I'm still getting an error on 1.10.10, 1.10.12, 1.10.14

[2021-03-03 23:17] john-jac opened #14592 "Unreachable Secrets Backend Causes Web Server Crash"
**Apache Airflow version**:

1.10.12

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

n/a

**Environment**:

- **Cloud provider or hardware configuration**:
Amazon MWAA

- **OS** (e.g. from /etc/os-release):
Amazon Linux (latest)

- **Kernel** (e.g. `uname -a`):
n/a

- **Install tools**:
n/a

**What happened**:

If an unreachable secrets.backend is specified in airfl

[2021-03-04 00:00] #14473 closed

[2021-03-04 00:00] #14486 closed

[2021-03-04 01:12] Gaurang033 commented on #14489
@Gaurang033  can you elaborate on the generic hook thing? I was thinking to modify the existing hook and add an option for this.

[2021-03-04 01:15] zqd759592942 opened #14593 "airflow2.0 - Run the task with the specified user will report an error"
Use the specified user to run the task, and an error will be reported when the scheduler log path('/bigdata/airflow/logs/scheduler/2021-03-01') is not created the next day.

------------------------------------------------log------------------------------------------------
airflow_install_user = airflow
run_as_user = zqd
_get_log_direc = /bigdata/airflow/logs/scheduler/2021-03-01
Traceback (most r

[2021-03-04 04:22] auvipy commented on #13591
this sounds interesting https://github.com/celery/billiard/issues/273#issuecomment-734461528

[2021-03-04 04:27] auvipy commented on #8117
https://flask-rest-jsonapi.readthedocs.io/en/latest/ could helpto add json-api 1.0/1.1 based HATEOS REST API

[2021-03-04 06:58] mik-laj commented on #14489
We have 2 hooks that allows us to connect to SSH server. Second hook have retry mechanism. See: https://github.com/apache/airflow/blob/3f7ebfdfe2a1fa90b0854028a5db057adacd46c1/airflow/providers/google/cloud/hooks/compute_ssh.py#L251

[2021-03-04 07:01] mik-laj commented on #14591
no.  This feature is not working.  you must use kubectl exec to invoke a remote command.

[2021-03-04 07:27] hinduja1234toko opened #14596 "Max Active Run Feature is not Running"
We have made make **max_active_run =3** in our dag and in config file we have made **max_active_run_per_dag=10**
But our code is running only on one run.
Here is the configuration for the dag.
`
default_args = {
    'owner': 'DE',
    #'start_date': datetime(2021, 2, 24, 8, 6, 0),
    #'start_date': datetime.utcnow() + timdelta(seconds=) - timedelta(=),
    'depends_on_past': False,
    'email_on_

[2021-03-04 07:51] ecerulm opened #14597 "Provide jinja template syntax to access connections"
**Description**

Expose the connection into the jinja template context via `conn.value.<connectionname>.{host,port,login,password,extra_config,etc}`

Today is possible to conveniently access [airflow's variables](https://airflow.apache.org/docs/apache-airflow/stable/concepts.html#variables) in jinja templates using `{{ var.value.<variable_name> }}`.

There is no equivalent (to my knowledge for [co

[2021-03-04 08:11] Minyus commented on #9610
Airflow 1.10.14 with local logging and Celery 4.4.7 reproduced the same error.

[2021-03-04 09:52] ecerulm opened #14598 "Provide shared storage between task via pluggable storage providers (akin to S3 remote logging)"
**Description**

Provide shared storage between tasks.

**Use case / motivation**

Today we have XCom to share small pieces of information between task, but that is not suitable to share files.
Being able to share files to downstream task will simply new operators as you can create operators that produce files and operators that consume the files without having to implement a way to pass the files

[2021-03-04 11:07] Dr-Denzy commented on #14167
@kaxil please assign to me.

[2021-03-04 12:31] ecerulm commented on #14598
My idea was to implement with with a pluggable storage so that S3, and other storage can be used.
My initial idea on how this could work is the following:
* When the task starts it downloads (if exists) the `artifacts/dag_id/run_id/task_id/artifacts.zip` for each upstream task
* Unzip all into local temporary `artifacts/` directory allocated for the task
* run the operator, which have access to th

[2021-03-04 13:06] vemikhaylov commented on #14598
Will this be the default behaviour? If so, won't it be the excessive overhead leading to task start delay and network load? Or should we either explicitly state which artificats are required by the task?

[2021-03-04 13:10] vemikhaylov commented on #14591
@ConstantinoSchillebeeckx
Will this solve your problem? https://github.com/apache/airflow/pull/14500 https://github.com/apache/airflow/issues/13225

[2021-03-04 14:09] kaxil commented on #14598
You can already do this via an XComBackend:

https://airflow.apache.org/blog/airflow-1.10.12/#allow-defining-custom-xcom-class

There is also an example in https://medium.com/apache-airflow/airflow-2-0-dag-authoring-redesigned-651edc397178

[code]

[2021-03-04 15:15] kaxil commented on #14592
@fhoda I know you talked about something similar, would you want to add your description too.

[2021-03-04 15:17] FredericoCoelhoNunes commented on #9975
@zachliu Happy to hear you were able to create a stable API! Unfortunately I am not able to: when I use Python to select a failed DAG run, and clear all its task instances, for some reason it triggers some process in the scheduler and it gradually sets all other DAG runs to the "Running" state as well, over the course of a few minutes. Curiously, this doesn't happen if I clear the state of a singl

[2021-03-04 15:32] FredericoCoelhoNunes commented on #14596
What executor are you using? If you're using SequentialExecutor, I think you won't be able to run more than one DAG at once

[2021-03-04 15:41] aviau commented on #14167
Not sure, but maybe fixed by https://github.com/apache/airflow/commit/809b4f9b18c7040682e17879248d714f2664273d ?

[2021-03-04 15:47] marcosmarxm commented on #13838
@mik-laj maybe documentation how to create/maintain providers?
- create a checklist and the common commands to test for specific providers.

[2021-03-04 15:58] eladkal commented on #9373
1.10.14

Where is your dag file located?
Could it be that the sql file path isn't relative to the dag file? (if so did you define `template_searchpath` ?)

[2021-03-04 16:24] kaxil commented on #14283
Closed by https://github.com/apache/airflow/pull/14534

[2021-03-04 16:24] #14283 closed

[2021-03-04 16:30] Gaurang033 commented on #14489
@mik-laj  perfect. we can similar implementation for this as well, then
https://github.com/apache/airflow/blob/3f7ebfdfe2a1fa90b0854028a5db057adacd46c1/airflow/providers/ssh/hooks/ssh.py

[2021-03-04 16:43] FredericoCoelhoNunes opened #14604 "Airflow CLI - triggering a DAG for a particular execution_date clears and triggers several failed dag_runs"
**Apache Airflow version**: 2.0.1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): CentOS Linux 7 (Core)
- **Kernel** (e.g. `uname -a`): Linux rstudio006-18-w6fn7 3.10.0-1160.11.1.el7.x86_64 #1 SMP Mon Nov 30 13:05:31 EST 2020 x86_64 x86_64 x86_64 GNU/Linux
- **Ins

[2021-03-04 17:01] ashb commented on #14364
When you say "emitted all the time" what are you thinking? Could you provide a bit more detail to what you mean?

[2021-03-04 18:07] fhoda commented on #14592
I have not experienced the web server crashing (probably because of DAG serialization being enabled), but do have task failures that don't check the downstream Secrets Backends if the Alternative Secrets Backend fails to connect.

**Airflow Version**
- 1.10.12
- 2.0.0

**Alternative Backend**
Hashicorp Vault

I think a warning and some sort and fail over checking of the Environment Variables then

[2021-03-04 19:11] xinbinhuang commented on #14598
I think it would be nice to have `CustomXComBackend` for some common providers (e.g. GCP, AWS, Azure, etc.) added to `core/providers` as similar to `SecretsBackend`. What do you think?

[2021-03-04 19:20] zachliu commented on #9975
@FredericoCoelhoNunes i didn't create a stable API, i generated a Python client and use it to interact with the stable API:
[code]
i wouldn't recommend using the code like you showed there. It defeats the purpose of the stable API. Also, in your code, `task_instances = dag_run.get_task_instances(session=session)` will probably get all task instances including those from other dag runs.

[2021-03-04 19:20] kuga14 opened #14610 "GCSToS3Operator ERROR - An error occurred (AccessDenied) when calling the PutObject operation: Access Denied"
**Version: v2.0.1**
**Git Version:.release:2.0.1+beb8af5ac6c438c29e2c186145115fb1334a3735**
**Docker Image Tag 2.0.1-python3.8-build**

**What happened:**
Try to use GCSToS3Operator to sync data beetwen GCS and Yandex Object Storage.

[code]

Getting error:

[code]

**What you expected to happen:**

GCSToS3Operator calls S3Hook.load_bytes function as:
[code]

When I use  S3Hook in PythonOperator t

[2021-03-04 19:23] kaxil commented on #14598
There is some discussion around it here:

- https://lists.apache.org/thread.html/rd6926b3442ad85f1ce72c5e2e80d8a31c0b5707da17b614ebb48c8c4%40%3Cdev.airflow.apache.org%3E
- https://github.com/apache/airflow/pull/12733
- https://github.com/apache/airflow/pull/12170

[2021-03-04 20:13] #14610 closed

[2021-03-04 20:19] kuga14 commented on #14610
I've found the reason of this behavior. My 'yandexcloud_default' connection schema is set to 'default' value

[2021-03-04 21:41] ecerulm commented on #14598
I must confess that I didn't know about [Airflow 2.0: DAG Authoring Redesigned](https://medium.com/apache-airflow/airflow-2-0-dag-authoring-redesigned-651edc397178) and that it has been eye opening.

So I guess the approach in 2.x to pass data from one task/operator A  to another task/operator B is:
* Return a value from the operator/task A. Operators have output(s) (for  example you could return

[2021-03-04 23:10] kaxil commented on #14598
@ecerulm Mailing list is the best place

[2021-03-04 23:32] mik-laj commented on #14573
I agree with @xinbinhuang. It doesn't look like a bug.

[2021-03-04 23:32] #14573 closed

[2021-03-04 23:39] mik-laj commented on #14597
At the beginning, I was concerned that it would be compatible with the rest of the operators and the users would have no problems understanding this feature, but as I read the full description, it actually makes a lot of sense, because Airflow can be used to orchestrate tasks in other systems and then we we need to somehow provide passwords for these systems.

We probably should combine the implem

[2021-03-04 23:51] mik-laj commented on #14586
Can you provide the output of the commands below?
[code]
[code]

I suspect you are using an unsupported version of Celery. See: https://github.com/apache/airflow/issues/11301

I recommend that you use constraints during installation. See: http://airflow.apache.org/docs/apache-airflow/stable/installation.html#constraints-files

[2021-03-05 00:33] fjmacagno opened #14613 "Better "dependency already registered" warning message"
**Description**
I have started getting a bunch of warnings like:
[code]
I am sure this is my fault, but it would be nice if this warning included the dag, or at least the file, so i would have more of an idea where it is happening.

**Use case / motivation**
Would make debugging easier.

**Are you willing to submit a PR?**

No

[2021-03-05 00:45] #12912 closed

[2021-03-05 01:55] linxiaohui commented on #13637
Hi everypone， I am using apache-airflow 2.0.1 (using CeleryExecuor), an I have set `min_file_process_interval = 60`  and `parsing_processes = 2`.  But still the scheduler CPU using is very high. (according the `top` )

  PID USER      PR  NI    VIRT    RES    SHR S  %CPU %MEM     TIME+ COMMAND
32057 root      20   0 1753140 121540  11728 R **138.7**  0.0   0:04.19 airflow schedul
32093 root      2

[2021-03-05 02:06] mattellis commented on #14265
@YangMuye @kaxil
Our users have the same issue. In case it's of use, I figured out that the `models.dag.clear` method being invoked when a dag run is cleared from the graph or tree view, does not set the `activate_dag_runs` flag to True in the `models.taskinstance.clear_task_instances` method, which is where the start_date value for the run is reset to now():
[code]
(https://github.com/apache/airf

[2021-03-05 05:29] yougyoung94 commented on #10790
Hello. I am using airflow 2.0 and just ran into this error.

How can I fix it??

[2021-03-05 06:39] HugoPu opened #14616 "Install airflow with docker No module named 'airflow'"
**Apache Airflow version**:
2.0.1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
No

**Environment**:
centos 7.9  in ubuntu 20.04 virtualbox
Docker version 20.10.5, build 55c4c88
docker-compose version 1.28.5, build c4eb3a1f

- **OS** (e.g. from /etc/os-release):
[code]

- **Kernel** (e.g. `uname -a`):
- `Linux localhost.localdomain 3.10.0-1160.el7.x86_64 #1 SMP Mon

[2021-03-05 08:20] Pverheijen opened #14619 "json.decoder.JSONDecodeError: Expecting property name enclosed in double quotes: line 1 column 2 (char 1)"
**Apache Airflow version**:
2.0.1
(migrating from 1.10.3 to this version, ran db update)

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.2", GitCommit:"52c56ce7a8272c798dbc29846288d7cd9fbae032", GitTreeState:"clean", BuildDate:"2020-04-16T11:56:40Z", GoVersion:"go1.13.9", Compiler

[2021-03-05 08:38] ecerulm commented on #14597
Nothing against that, but it's already very easy for any DAG author to expose any connections secret by simply putting in the DAG

[code]

So I don't think introducing this feature modifies the already existing risk or am I misunderstanding something here?

[2021-03-05 09:25] HansBambel opened #14620 "Using env in BashOperator results in invalid SyntaxError"
**Apache Airflow version**: 2.0.1

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): OSX11 arm64
- **Kernel** (e.g. `uname -a`): Darwin 20.3.0
- **Install tools**: pip
- **Others**:

**What happened**:

I am executing python scripts using the `BashOperator`. For my scripts to work I need to set some environment variables for connecting to the d

[2021-03-05 10:00] FredericoCoelhoNunes commented on #14604
As usual, the error was between the keyboard and the seat - this file was in the DAG folder which I mistakenly set as the root of my repository, so it was being executed every few seconds, which explains all the DAGs being triggered.

[2021-03-05 10:00] #14604 closed

[2021-03-05 10:47] lromor opened #14622 "REST API: dag status stream."
**Description**

It would be really nice to provide a streaming endpoint so that clients can receive a realtime status update of a running dag instance.

**Use case / motivation**

from a rest client, instead of polling for updates or creating intermediate task triggers I want to know the status of a running dag.

-->

**Are you willing to submit a PR?**

It depends by how complex (in terms of tim

[2021-03-05 12:56] shikunshowyou commented on #14555
When there is Chinese in the URL， encode your url

[2021-03-05 12:56] #14555 closed

[2021-03-05 13:06] ppierrep opened #14623 "Passing a jinja template in TriggerDagRunOperator conf raises json.decoder.JSONDecodeError"
**Apache Airflow version**:2.0.1

**Environment**:
- **OS** (e.g. from /etc/os-release): Ubuntu

**What happened**:
When having a PythonOperator that returns xcom parameters to a TriggerDagRunOperator like in this non-working example:
[code]
With the first task returning this xcom:
![image](https://user-images.githubusercontent.com/22515826/110118294-6e215780-7dba-11eb-8040-1929d57d5e9f.png)

In t

[2021-03-05 13:11] vemikhaylov commented on #14622
Should it be like a websockets solution or a client can be notified with web-hooks? Or would be great to have the both?

I'll be happy to implement such feature if it's necessity's confirmed by maintainers.

[2021-03-05 14:02] ppierrep commented on #14623
I managed to avoid the problem by unwraping the xcom like so:
[code]
As an alternative it works fine. Another solution would be to return multiple elements from the `PythonOperator`. IMO individually fetching them in `conf` is still inconvenient.
Please feel free to indicate what i do wrong in this in this configuration.

[2021-03-05 14:02] lromor commented on #14622
Hi @vemikhaylov , thank you for message.

I don't think websockets are necessary. A standard http streamed response should be more than enough.

[2021-03-05 15:10] kaustubhharapanahalli commented on #14573
Hi @xinbinhuang, I will try with that and report back

[2021-03-05 15:34] eladkal commented on #14529
@zacharya19 assigned to you

[2021-03-05 15:50] ashb commented on #14622
Yes, this would be nice, but doing it efficiently is a lot of work.

[2021-03-05 16:16] ashb commented on #14619
You'll need to share your DAG/task definition with us to debug this please.

[2021-03-05 16:23] ashb commented on #14502
Example of failure without logs that didn't run on self-hosted logs https://github.com/apache/airflow/pull/13929/checks?check_run_id=2037296302

Closing as it's not a self-hosted issue.

[2021-03-05 16:23] #14502 closed

[2021-03-05 16:42] ashb commented on #14459
:+1: to your proposal.

[2021-03-05 16:46] XD-DENG commented on #14297
Hi @vikramkoka,  I would suggest to close this Issue given I cannot reproduce the issue and no further response from the Issue raiser. Do you agree?

[2021-03-05 16:53] ashb commented on #14297
Yup, without any response from the OP we can't debug this.

[2021-03-05 16:54] Pverheijen commented on #14619
Hey @ashb, thank you for the quick reply. My apologies for not adding all required information I incorrectly presumed it would be helpful.

The DAG that caused the error was the example_python_operator from the docs (https://airflow.apache.org/docs/apache-airflow/1.10.4/_modules/airflow/example_dags/example_python_operator.html).

Different DAG such as the new API (https://airflow.apache.org/docs/

[2021-03-05 16:56] XD-DENG commented on #14297
Hi @milindgv94 , as discussed above, we will close this issue for now.

If you can reproduce the issue & share the details, please feel free to re-open this. Thanks.

[2021-03-05 16:56] #14297 closed

[2021-03-05 19:34] #14586 closed

[2021-03-05 20:14] kaxil commented on #14623
Currently, template_fields only returns string, I am working on https://github.com/apache/airflow/pull/14603 to give a user possibility to return native python objects instead of just strings

[2021-03-05 22:48] #14417 closed

[2021-03-05 23:15] mik-laj commented on #14616
Duplicate: #14520

[2021-03-05 23:15] #14616 closed

[2021-03-05 23:20] mik-laj commented on #14620
This doesn't look like a problem with Aiirflow, but your script is not compatible with Python 2 and the default system interpreter is Python 2 on your system. You probably use virtual environments and you didn't pass the information on to the subprocess.

Can you try the code below?
[code]

[2021-03-05 23:26] mik-laj commented on #14622
Airflow uses a database for communication, which means there is no efficient way to send messages from the scheduler to the webserver. If we wanted to do it right, we would have to have a queue where the scheduler / worker could publish information, and the webserver could respond to these messages and forward to the user. This is an interesting change, but would require a major architectural chan

[2021-03-05 23:32] mik-laj commented on #14597
It is not good practice for top-level code to execute SQL queries.In the community, we even have tests that detect such problems.
https://github.com/apache/airflow/blob/4589375d8bab826b7bf28606c8735057ac8b3cf2/tests/always/test_example_dags.py#L46-L61
I also recommend similar tests for my users.

I also planned to add the ability to detect similar situations to the webserver so that every user wou