[2022-03-08 11:15] tanelk opened #22078 "ExternalTaskSensorLink does not respect execution_delta and execution_date_fn"
### Apache Airflow version

main (development)

### What happened

`ExternalTaskSensorLink` points to a DAG run with `execution_date` same as the `ExternalTaskSensor`.

### What you expected to happen

`ExternalTaskSensorLink` should point to the actual DAG run it is waiting on.

### How to reproduce

For example by modifing this UT:
[code]

Curreantly it fails with `E           AssertionError: as

[2022-03-08 11:24] potiuk commented on #22078
Would you like to attempt to make a pr for that one @tanelk  ? Sounds like rather simple fix and you should be able to test it locally.

[2022-03-08 11:30] tanelk commented on #22078
I'l quoute myself:

Should modify the `ExternalTaskSensorLink.get_link` method.
The operator in there is a `SerializedBaseOperator` and I did not figure out how to access the `execution_delta` and `execution_date_fn` fields from there.

So, yeah, I did take a look, but I'm not sure how to access the relevant information.

[2022-03-08 11:37] potiuk commented on #22078
Ah - can you use `run_id` for that instead?

[2022-03-08 11:45] potiuk commented on #22067
Feel free to take a look at it.

[2022-03-08 11:54] 094459 commented on #21321
Thanks, just going through the docs carefully so I can understand the mechanisms and what is expected.

[2022-03-08 12:29] ThiagoPositeli commented on #21800
Hi all, i have some news here.
The bug here is now  working in the new airflow updated 2.2.3 and composer version 2.0.5.

[2022-03-08 12:30] ThiagoPositeli commented on #21800
@potiuk we close the pr now?

[2022-03-08 12:36] #21800 closed

[2022-03-08 12:46] Venture200 commented on #22067
Hello, I have a similar issue that with Admin role I can see Import Errors but with Regular role I can't.

[2022-03-08 12:57] potiuk commented on #16176
Please open a detailed issue about this with more details (logs and describing what you experience). It might likely be a differetn issues

The comment "I have the same issue" on a closed issue does not help in any meaningful way in diagnosing the issue.

[2022-03-08 12:58] potiuk commented on #17374
Closing it for now then until more information is available.,

[2022-03-08 12:58] #17374 closed

[2022-03-08 12:59] #19877 closed

[2022-03-08 13:28] ThiagoPositeli commented on #21800
thanks

[2022-03-08 14:11] #18267 closed

[2022-03-08 14:24] aoelvp94 commented on #21800
Yeah the new version works for me. Thanks for the update @ThiagoPositeli !

[2022-03-08 14:29] potiuk commented on #22063
Thanks for the tests so far :) .

FYI. For those who struggle on how to test, here is a helpful guideline:

https://github.com/apache/airflow/blob/main/dev/README_RELEASE_PROVIDER_PACKAGES.md#verify-by-contributors

I will add it to the issue template for next wave :)

[2022-03-08 14:40] megan-parker commented on #21908
I am working on a fix for this issue, please assign it to me.

[2022-03-08 14:48] EricGao888 commented on #22073
I'd like to take a look into this : )

[2022-03-08 15:26] frankcash commented on #22063
Confirmed https://github.com/apache/airflow/pull/21997 via the UI utility and running a task that calls `.test_connection()` for both FTP and SFTP hooks

[2022-03-08 15:55] schirag1993 commented on #22063
Tested https://github.com/apache/airflow/pull/21686 - works as expected

[2022-03-08 16:04] schirag1993 commented on #21941
Hey @potiuk and @hsrocks,

Would it make sense to add a random suffix to the end of the Transform job name vs. incrementing a number to it as a suffix?

Since the suffix would be irrelevant to the actual run of the job and serves only to avoid name collisions, a random suffix would make the code a lot simpler and serve the same purpose.

Thoughts?

[2022-03-08 16:06] potiuk commented on #21941
Random is fine.

[2022-03-08 16:25] schirag1993 commented on #21941
Awesome. Had a word with @hsrocks, I'll be working on this one!

[2022-03-08 16:36] patricker commented on #22065
@eladkal I actually wrote this up last night. I didn't have to touch any of the implementation specific classes. I only had to change `BaseSQLToGCSOperator`. Still testing the code.

[2022-03-08 18:04] SangwanP commented on #22006
As a user, I'd like to have functionality in the UI that allows the user to either "disable and stop the DAG immediately", or "disable DAG once finished". How to implement such a feature in the UI, such that it's not confusing is of course up for discussion - button, switch, etc.
The underlying functionality to perform the "drain" will likely be need to be developed in the scheduler. So, this feat

[2022-03-08 18:07] potiuk commented on #22006
Sure!

[2022-03-08 18:26] ephraimbuddy opened #22096 "Status of testing of Apache Airflow Helm Chart 1.5.0rc2"
### Body

We have a kind request for all the contributors to the latest [Apache Airflow Helm Chart 1.5.0rc2](https://dist.apache.org/repos/dist/dev/airflow/helm-chart/1.5.0rc2).

Could you please help us to test the RC versions of the Airflow Helm Chart?

Please let us know in the comment if the issue is addressed in the latest RC.

- [ ] [AIRFLOW-20533: add airflow.cfg as volumeMounts on initCont

[2022-03-08 18:30] vincbeck commented on #22063
#21975 is good too. Docs change only

[2022-03-08 18:31] #21302 closed

[2022-03-08 18:41] eladkal commented on #22006
I think this involves some changes to the DB schema as probably it means that `is_paused` is no longer just bool of True / False but actually it has several states.

[2022-03-08 18:47] bbovenzi commented on #22006
This is why I am partial to it being a config for the scheduler because then we can't represent `is_paused` as a switch.

[2022-03-08 18:48] potiuk commented on #22006
Maybe a chance to solve the "Activated" "Paused" conundrum: #14459

[2022-03-08 19:01] potiuk commented on #22006
![image](https://user-images.githubusercontent.com/595491/157306885-06eb34f2-06dd-4762-b1b9-cda80351aa0a.png)

[2022-03-08 19:23] potiuk commented on #22096
Installed the chart verifed that:

* redis is based on bullseye now #21875
* checked that default image is 2.2.4 #21745

[code]

![image](https://user-images.githubusercontent.com/595491/157310105-36cdf830-3dcb-4a4d-b061-56e96f4950c9.png)

[2022-03-08 19:58] jedcunningham commented on #21994
This is fixed by #22041.

[2022-03-08 19:58] #21994 closed

[2022-03-08 20:14] ac1997 commented on #22063
#21778 looks good. Thanks!

[2022-03-08 21:58] vincbeck commented on #22063
#19137 Found out some bugs while testing it. Will submit a PR soon

[2022-03-08 22:07] alekseiloginov commented on #22063
#20882 looks good, thanks!

[2022-03-08 22:21] potiuk commented on #22063
Regression or some new stuff added has errors @vincbeck ?

[2022-03-08 22:35] vincbeck commented on #22063
New stuff

[2022-03-08 22:39] potiuk commented on #22063
Cool. Does not block AWS provider from releasing :) . We can release a new version right after.

[2022-03-08 23:52] johngtam commented on #10290
@eladkal, I'm not OP, but I can confirm this still happens -- looking at more of the codeflow:

[code]

I see here that dynamic pod takes precedence. This dynamic pod gets its namespace from the caller of this method. Looking at the callers of this method [here](https://github.com/apache/airflow/blob/ac77c89018604a96ea4f5fba938f2fbd7c582793/airflow/executors/kubernetes_executor.py#L314), [here](ht

[2022-03-09 06:43] kanga333 commented on #22063
I tested #21574. It worked fine. LGTM!

[2022-03-09 10:05] anthonyjgraff opened #22111 "apache-airflow-providers-google uses deprecated Google Ads API V8"
### Apache Airflow Provider(s)

google

### Versions of Apache Airflow Providers

apache-airflow-providers-google = 6.4.0

### Apache Airflow version

2.1.3

### Operating System

Debian Buster

### Deployment

Other Docker-based deployment

### Deployment details

_No response_

### What happened

`apache-airflow-providers-google 6.4.0` has the requirement `google-ads >=12.0.0,<14.0.1`

The lates

[2022-03-09 10:27] #20741 closed

[2022-03-09 10:57] potiuk commented on #22063
Cool. We have one more day and we are doing good with the new Providers. This one is great as will let us move to Python 3.10 finally :)

[2022-03-09 12:14] potiuk commented on #22111
Feel free to add PR upgrading  it @anthonyjgraff !

[2022-03-09 12:14] potiuk commented on #22111
Assigned you

[2022-03-09 12:19] eladkal opened #22115 "add timeout to DockerOperator"
### Body

`APIClient` has [timeout](https://github.com/docker/docker-py/blob/b27faa62e792c141a5d20c4acdd240fdac7d282f/docker/api/client.py#L84) param which sets default timeout for API calls. The package [default](https://github.com/docker/docker-py/blob/7779b84e87bea3bac3a32b3ec1511bc1bfaa44f1/docker/constants.py#L6) is 60 seconds which may not be enough for some process.

The needed fix is to al

[2022-03-09 14:24] HesamKorki commented on #16176
Up, I am facing the same issue. Could not find a workaround. I used 10m timeout but it did not work

[2022-03-09 14:26] eladkal commented on #22063
@potiuk if we still can https://github.com/apache/airflow/pull/21788 should be skipped from change log.
I guess the skip log label isn't used for providers?

[2022-03-09 14:29] potiuk commented on #22063
Nope. It's not (and we might add it though I think with the coming towncrier changes we might not want to invest in it).

We can always remove the changelog entry from the docs (but not from the package README),

[2022-03-09 16:01] bbovenzi commented on #19944
Added in #20730

[2022-03-09 16:17] prashantpaidi commented on #22115
I am new to open source. Can I work on this?

[2022-03-09 16:29] zachliu commented on #22063
i tested https://github.com/apache/airflow/pull/22002. good news: the retry did kick in :rocket:
however, i'd like to add `reraise: True` in the `default_kwargs` here https://github.com/apache/airflow/blob/a4d514bd7f7777e5bf03e9fa8e567f1c8774a74d/airflow/providers/amazon/aws/hooks/base_aws.py#L588-L594

otherwise we get a very vague exception when we exhaust all retries
[code]

[2022-03-09 16:41] edithturn commented on #19971
@potiuk I think we could separate this task into parts that have their own deliverables, just the task as it is very big.
I will re-take this one now.

[2022-03-09 17:14] eskarimov commented on #22063
Tested functionality introduced with #21663, works as expected.

[2022-03-09 17:29] potiuk commented on #22063
@kazanzhy the #22125 is also "new" stuff fix righ ? If so, we will release this RC tomorrow and i will run next Amazon provider release right after

[2022-03-09 17:49] josh-fell commented on #22063
#21525, #21237, #21403. and #21411 look good!

#21924 unfortunately won't work until #21330 is released (presumably in Airflow 2.3).

I should be able to get to testing #20510 later today.

@potiuk It's not part of this issue but when testing the new dbt Cloud provider a couple parameters in an operator that don't work quite as intended, but there is a workaround to get the same functionality with

[2022-03-09 17:52] potiuk commented on #22063
Sure. I can remove dbt from the list easily.

[2022-03-09 17:54] potiuk commented on #22063
Too bad. Not critical though.

[2022-03-09 17:55] josh-fell commented on #22115
@prashantpaidi Feel free, it's all yours!

[2022-03-09 18:00] shahkshitij15 commented on #22063
#21944 tested it, LGTM

[2022-03-09 18:03] josh-fell commented on #22063
Thanks @potiuk!

[2022-03-09 18:06] zarria commented on #13108
I think this is one of the best explanations i have found to execute exe files via wsl in airfflow

https://stackoverflow.com/questions/65402424/airflow-scheduler-fails-to-execute-windows-exe-via-wsl/69487192#69487192

Maybe a little bit late, but might be of some help to others

[2022-03-09 18:12] shahkshitij15 opened #22129 "Add autodetect arg in BQCreateExternalTable Operator"
### Apache Airflow Provider(s)

google

### Versions of Apache Airflow Providers

_No response_

### Apache Airflow version

2.2.4 (latest released)

### Operating System

macOS Monterey

### Deployment

Virtualenv installation

### Deployment details

_No response_

### What happened

Autodetect parameter is missing in the create_external_table function in BQCreateExternalTableOperator because of

[2022-03-09 18:15] kmehkeri commented on #22040
Same could be for individual tasks.

[2022-03-09 18:17] potiuk commented on #19971
Cool. Yep

[2022-03-09 18:23] kazanzhy commented on #22063
@potiuk
Yes. #22125 fixes this new RDS functionality that is not covered by moto tests.

[2022-03-09 18:54] Jagadeepkosuri opened #22130 "Unable to see XComs in Airflow 2.1.2"
### Apache Airflow version

2.1.2

### What happened

I'm trying to view XComs in Airflow web UI. Facing an error

### What you expected to happen

See the XComs used in DAGs

### How to reproduce

_No response_

### Operating System

Debian GNU/Linux 10 (buster)

### Versions of Apache Airflow Providers

apache-airflow-providers-amazon==2.0.0
apache-airflow-providers-apache-cassandra==2.0.0
apach

[2022-03-09 20:16] bbovenzi opened #22132 "Show average dag run duration"
It would be useful to show a running average dag run duration in the grid view. This could be a plotted line on top of the duration bar chart.

The average duration should be calculated on the webserver and included  with a dag run's info.

Bonus: We could possibly use the average duration to calculate a very rough "Expected time to completion" for active dag runs.

[2022-03-09 20:31] eladkal commented on #22132
If possible I would say that we should let users decide on the metrics to be displayed. Can we provide options and let the users choose? For example some might prefer median (p50) over avg, some might want p80 etc..

[2022-03-09 20:42] anthonyjgraff commented on #22111
I tried to upgrade the dependencies, and noticed this comment in `setup.py` https://github.com/apache/airflow/issues/18705#issuecomment-933746150

It looks like all recent releases of `google-ads` still require `google-api-core >= 2.0.1` (see https://github.com/googleads/google-ads-python/issues/569)

Will this still cause conflicts with other libraries?

[2022-03-09 22:07] potiuk commented on #22111
Likely

[2022-03-09 22:24] anthonyjgraff commented on #22111
Had a look through to work out where the conflicts would be (seeing as there's already a TODO to upgrade libraries which required < 2.0.0)

🟢  = Airflow minimum requirement already supports > 2.0.0
🟠  = Minimum requirement needs to be bumped, but latest requirement supports > 2.0.0
🔴  = Doesn't currently support > 2.0.0

| Library                            | Current Version  | Required Version |

[2022-03-09 22:38] Gollum999 opened #22133 "Should manually-triggered DAGs override dag_run.logical_date to equal data_interval_start?"
### Apache Airflow version

2.2.3

### What happened

When triggering a DAG manually (via the web or via `airflow dags trigger`), some template params like `ds`, `ts`, and others derived from `dag_run.logical_date` will be set to the specified execution timestamp.  This is inconsistent with automated runs where those fields are set to `data_interval_start`.  This behavior contradicts the documenta

[2022-03-10 03:11] josh-fell commented on #21972
@RNHTTR Would you like this issue to be assigned to you? Seems like you know the fix and have a good handle on what's going on.

[2022-03-10 03:11] josh-fell commented on #21972
@RNHTTR Would you like this issue to be assigned to you? Seems like you know the fix and have a good handle on what's going on.

[2022-03-10 03:16] josh-fell commented on #22129
@shahkshitij15 Feel free to submit a PR. Assigned to you.

[2022-03-10 03:34] zachliu commented on #22063
@potiuk oh :hankey: there is a bug :sweat_smile: in https://github.com/apache/airflow/pull/22002
fix coming right up...https://github.com/apache/airflow/pull/22137

[2022-03-10 04:15] josh-fell commented on #22063
#20510 looks good too. Thanks for organizing the release as usual @potiuk

[2022-03-10 06:47] #18849 closed

[2022-03-10 06:47] #17494 closed

[2022-03-10 07:25] lwyszomi commented on #22063
#21756 #21639 #21518 and #21267 look good

[2022-03-10 07:58] prashantpaidi commented on #22115
@josh-fell Currently value of `DEFAULT_TIMEOUT_SECONDS` is `60`.
What would be the right `DEFAULT_TIMEOUT_SECONDS` value?

[2022-03-10 08:22] eladkal commented on #22115
It's optional param so you don't have to set it.
If you must set then I would say import `DEFAULT_TIMEOUT_SECONDS` from the lib and use it directly.

[2022-03-10 09:56] arvindeybram opened #22141 "Dump configurations in airflow scheduler logs based on the config it reads"
### Description

We don't have any way to cross-verify the configs that the airflow scheduler uses. It would be good to have it logged somewhere so that users can cross-verify it.

### Use case/motivation

How do you know for sure that the configs in airflow.cfg are being correctly parsed by airflow scheduler?

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am

[2022-03-10 11:17] potiuk commented on #22063
Right. Seems like Amazon accumulated enough fixes to skip it from the release and run RC2 :)

[2022-03-10 12:54] jyotsa09 opened #22144 "Deleted task logs appended to new logs for scheduled runs"
### Apache Airflow version

main (development)

### What happened

Deleted task logs appended to new logs for scheduled runs

### What you expected to happen

Only new logs should display

### How to reproduce

1. Triggered a scheduled run
2. Once completed delete the dag from UI
3. Triggered the same dag
4. Then check logs

### Operating System

Debian buster

### Versions of Apache Airflow Provi

[2022-03-10 13:44] DamienBusson opened #22146 "Cannot connect to the webserver with docker"
### Describe the issue with documentation

I have followed this doc to try and run airflow with docker : https://airflow.apache.org/docs/apache-airflow/stable/start/docker.html

When I run the docker-compose with "docker-compose up", containers are unhealthy and I cannot connect to the webserver.
![Screenshot 2022-03-10 at 16 34 06](https://user-images.githubusercontent.com/77328631/157672486-fbff

[2022-03-10 14:04] dnskr commented on #22096
Verified that after git-sync upgrade to v3.4.0 it works as expected:

- [x] [Chart: Update git-sync to v3.4.0](https://github.com/apache/airflow/pull/21309)

[2022-03-10 14:10] lucharo commented on #16764
Hello, I am experiencing a similar issue with nested TaskGroups (TG). This is my current GraphView:
<img width="488" alt="image" src="https://user-images.githubusercontent.com/47890755/157677262-e9535404-145e-4dea-be36-66d4872ea2ff.png">
The tree view reveals the same:
<img width="248" alt="image" src="https://user-images.githubusercontent.com/47890755/157677341-f46c6005-3c6b-4478-9e18-efdcec794d2

[2022-03-10 16:13] kyan113 opened #22152 "render_template_as_native_obj=True in DAG constructor prevents failure e-mail from sending"
### Apache Airflow version

2.2.4 (latest released)

### What happened

A DAG constructed with render_template_as_native_obj=True does not send an e-mail notification on task failure.

DAGs constructed without render_template_as_native_obj send e-mail notification as expected.

default_email_on_failure is set to True in airflow.cfg.

### What you expected to happen

I expect DAGs to send an e-mail

[2022-03-10 16:59] ybressler opened #22153 "Ambiguity of format for template fields in Airflow Kubernetes Operator (airflow.providers.cncf.kubernetes.operators.kubernetes_pod)"
### Apache Airflow version

2.2.4 (latest released)

### What happened

Documentation for [`airflow.providers.cncf.kubernetes.operators.kubernetes_pod`](https://airflow.apache.org/docs/apache-airflow-providers-cncf-kubernetes/stable/_api/airflow/providers/cncf/kubernetes/operators/kubernetes_pod/index.html#airflow.providers.cncf.kubernetes.operators.kubernetes_pod.KubernetesPodOperator) suggests t

[2022-03-10 17:00] ybressler opened #22154 "Ambiguity of format for template fields in Airflow Kubernetes Operator (airflow.providers.cncf.kubernetes.operators.kubernetes_pod)"
### Apache Airflow Provider(s)

amazon

### Versions of Apache Airflow Providers

3.0.2 (https://airflow.apache.org/docs/apache-airflow-providers-cncf-kubernetes/stable/_modules/airflow/providers/cncf/kubernetes/operators/kubernetes_pod.html)

### Apache Airflow version

2.2.4 (latest released)

### Operating System

NA

### Deployment

MWAA

### Deployment details

NA

### What happened

Document

[2022-03-10 17:01] #22153 closed

[2022-03-10 17:08] Bowrna commented on #22063
#21986 looks good, documentation changes only :)

[2022-03-10 18:10] alexott commented on #22063
if we'll do second set of releases, then it would be nice to get another release for databricks provider - to include #22076

[2022-03-10 18:25] RNHTTR commented on #21972
Sure thing. I don't know the fix yet, but I've got a good idea of where to look.

[2022-03-10 18:34] potiuk commented on #22063
I think unless we find some problems, I prefer to release only those that we have to as RC2. I thin this is not very far for the next month release :).

[2022-03-10 18:38] jedcunningham commented on #22063
Checked and the change from #21826 is in the release.

[2022-03-10 19:00] SamWheating opened #22160 "Directly submitting task to executor doesn't set `queued_dttm` which can cause scheduler crashloop"
### Apache Airflow version

2.2.2

### What happened

We had an entire Airflow environment crash recently due to a very rare series of events.

1) A user manually submitted a task to the executor using the `run` button with `ignore_all_deps`
2) While this task was running, the scheduler crashed
3) A new scheduler attempted to adopt this task and entered a crash loop with the following stack trace:

[2022-03-10 19:45] sandeepmohan opened #22164 "Minimal Constraints files not define"
### Describe the issue with documentation

So for a base install of Airflow [no providers or extras] where use case requires only BashOperator, was looking to install Airflow from pip.

The standard `pip3 install apache-airflow==2.2.3` works but results in web server issues not rendering GUI as the flask version we have in our artifactory is higher. Web Server launches but GUI not accessible.

If

[2022-03-10 19:53] eladkal commented on #22164
I think you are confusing constraints with requirements.
constraints doesn't install anything.

[2022-03-10 21:34] johnson-jay-l commented on #17413
I reproduced the issue with the following steps:

1. Go to any dag and click the "update" button next to the "runs" drop-down, with or without changing the value in the drop-down.
2. Go to the "graph view" and them back to the "tree view"
3. The URL now has the base_date hardcoded.  When the next dagrun starts it will be hidden because of the base_date hardcoding in the url, and the previous dagru

[2022-03-10 22:55] potiuk commented on #22063
Thanks everyone! I will proceed with releasing those and will release amazon/dbt RC2 shortly.

[2022-03-10 22:55] #22063 closed

[2022-03-11 02:08] euccas opened #22174 "Support log download in task log view"
### Description

Support log downloading from the task log view by adding a download button in the UI.

### Use case/motivation

In the current version of Airflow, when we want to download a task try's log, we can click on the task node in Tree View or Graph view, and use the "Download" button in the task action modal, as in this screenshot:
<img width="752" alt="Screen Shot 2022-03-10 at 5 59 23

[2022-03-11 07:25] #21321 closed

[2022-03-11 08:42] riccardo-salamanna commented on #22096
Hi !
I tested the envFrom statement in the flower deployment
envFrom:
                                │
  - secretRef:
                                  │
      name: helm-test

and in the shell
***@***.***:/opt/airflow$ env | grep FRIENDS
FRIENDS=true

BR
Riccardo

On Tue, 8 Mar 2022 at 19:26, Ephraim Anierobi ***@***.***>
wrote:

[2022-03-11 09:15] DaliDalmas opened #22176 "I cannot access your site from Uganda"
### Describe the issue with documentation

https://airflow.apache.org/

### How to solve the problem

_No response_

### Anything else

_No response_

### Are you willing to submit PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://github.com/apache/airflow/blob/main/CODE_OF_CONDUCT.md)

[2022-03-11 10:42] Bowrna commented on #15974
https://github.com/apache/airflow/blob/e63f6e36d14a8cd2462e80f26fb4809ab8698380/airflow/providers/docker/operators/docker_swarm.py#L93-L113

In docker swarm, we have the option to pass network and placement. The type `placement` is a type of dict and accepts constraint as a parameter.  The current code of DockerSwarmOperator looks like having support for network and constraint. Maybe we can improv

[2022-03-11 12:19] EricGao888 commented on #17617
All unit tests in alibaba provider have been fixed now : )  @potiuk

[2022-03-11 12:24] prashantpaidi commented on #22115
So after importing, I should create the new variable and assign an increased value or while passing the parameter add the value?

what should be the timeout seconds value?

[2022-03-11 12:36] eladkal commented on #22115
@prashantpaidi i think it would be good if you can open a draft PR with what you had in mind then we can review the code. You can make descion of how you think it should be done and just explain it in the description.
On the PR we can discuss alternative options if needed

[2022-03-11 12:47] #17617 closed

[2022-03-11 12:48] #21748 closed

[2022-03-11 18:09] potiuk opened #22188 "Add `{{ kwargs }}` as template parameter"
### Description

I've seen recently at least two cases that the users wanted to use constructor kwargs values in jinja templates as part of the Jinja `Context`.

### Use case/motivation

While this is not a trivial thing (because of potentially recursive references - even going through a chain of dependencies), this seems as an appealing use case.

A good example (slightly modified: https://apache

[2022-03-11 18:15] potiuk commented on #22188
Silly me

[2022-03-11 18:15] #22188 closed

[2022-03-11 18:50] uranusjr commented on #22154
We should rewrite the documentation to say the attribute is only guaranteed to be a _sequence_, and maybe add some documentation to recommend using `*` instead. For your example, this is the safe syntax (without the overhead of creating a temporary list):

[code]

[2022-03-11 18:53] uranusjr commented on #22152
Would you fancy a pull request please? The fix should be fairly straightforward, by changing the offending line in `render_template` to this:

[code]

Add a test can be added to ensure `render_template` works with non-str nodes.

[2022-03-11 20:02] dlesco opened #22191 "dag_processing code needs to handle OSError("handle is closed") in poll() and recv() calls"
### Apache Airflow version

2.1.4

### What happened

The problem also exists in the latest version of the Airflow code, but I experienced it in 2.1.4.

This is the root cause of problems experienced in [issue#13542](https://github.com/apache/airflow/issues/13542).

I'll provide a stack trace below.  The problem is in the code of airflow/dag_processing/processor.py (and manager.py), all poll() and

[2022-03-11 20:31] uranusjr commented on #22160
From first glance your solution 3 does seem to be the most appropriate to me.

[2022-03-11 20:35] uranusjr commented on #22191
Feel free to submit a pull request to handle the exception! We can figure out how to test the solution in the review process.

BTW I don’t know what your current fix looks like, but `OSError` has an `errno` attribute, checking that in the error handling code may be appropriate as well. (Not sure, I don’t even know what errno this error has right now.)

[2022-03-11 20:57] stas-snow commented on #9975
I'm seeing this issue in 2.2.3.

[2022-03-11 21:11] stas-snow opened #22193 "max_active_runs = 1 can still create multiple active execution runs (again)"
### Apache Airflow version

2.2.3

### What happened

Same issue as reported in: #9975 - max_active_runs** = 1 can still create multiple active execution runs.

I'm seeing this issue in airflow 2.2.3.
catchup=True and max_active_runs=1.
DAG is triggered multiple times and multiple instances are running in parallel.

![image](https://user-images.githubusercontent.com/93541868/157966793-794beb86-6e9

[2022-03-11 21:25] ephraimbuddy commented on #22193
Describe how to reproduce it including a sample dag to reproduce it

[2022-03-11 21:27] talnicolas opened #22194 "Paramiko 2.9.x breaking SSH operator for some OpenSSH configurations"
### Apache Airflow version

2.2.4 (latest released)

### What happened

After upgrading from 2.2.3 to 2.2.4 the Paramiko library upgraded from 2.8.1 to 2.9.2. After that change one of our SSH connections started to fail with the following error:

[code]

After looking at [Paramiko changelog](https://github.com/paramiko/paramiko/blob/main/sites/www/changelog.rst#id17) we saw that since 2.9.0 they h

[2022-03-11 22:09] ashb commented on #22194
What version of the [SSH provider](https://pypi.org/project/apache-airflow-providers-ssh/) do you have installed?

[2022-03-11 22:40] rustikk opened #22196 "The FileSensor's ability to take a glob is sensing in directories not relevant to the tasks connection id"
### Apache Airflow version

2.2.3

### What happened

This dag is finding files with the FileSensor with connections where the directory doesn't exist. I originally found this bug from switching from airflow breeze to Astronomer's astro cli and I forgot to change the filepath of the connection. Yet even with a directory that doesn't exist the glob character is finding files.

### What you expected

[2022-03-11 22:47] talnicolas commented on #22194
Does this answer your question?
[code]

[2022-03-11 22:49] turbaszek commented on #10790
@ghostbody do you have idea how this can be addressed?

[2022-03-11 23:40] sebbASF opened #22197 "Broken link for dbt-Cloud download"
### Describe the issue with documentation

https://airflow.apache.org/docs/apache-airflow-providers/installing-from-sources

https://airflow.apache.org/docs/apache-airflow-providers-dbt-cloud/stable/installing-providers-from-sources.html => 404

### How to solve the problem

_No response_

### Anything else

_No response_

### Are you willing to submit PR?

- [ ] Yes I am willing to submit a PR!

[2022-03-12 00:35] potiuk commented on #22194
You are free to downgrade to earlier paramiko version. Current limitation of SSH Provider is `paramiko>=2.6.0`  - the fact that paramiko >=2.9.0 does not accept your key is likely for a good reason (security) and if you choose to continue using version that is older (and might contain some security vulnerabilities) rather than upgrading your key you can still do it.

Follow the examples here:

htt

[2022-03-12 00:35] #22194 closed

[2022-03-12 03:03] talnicolas commented on #22194
Thank you for your insightful comment @potiuk.

Just a comment if I may, insulting people when they are just coming for advice from « experts » won’t help building a safe and inclusive community.

[2022-03-12 03:23] #22197 closed

[2022-03-12 09:30] potiuk commented on #22197
Fixed. Thanks again @sebbASF  - helped us to improve our processes :)

I Would love to hear how did you check it.

[2022-03-12 10:09] potiuk commented on #22194
Unfortunately, I have no control whether you feel insulted or not, that was certainly not my intention, My intention was to raise your awareness that your expectations were a bit selfish as they did not include wider thinking about the community but focused on your own needs. This is what I think is a bit selfish. I just expressed how I perceived it.

But I certainly had no intention to insult you

[2022-03-12 12:35] talnicolas commented on #22194
Indeed you do not have that control, just like  I don’t have any control on your ability to understand people’s request.

If that doesn’t feel to you like someone who came here specifically to understand that wider context you are talking about, well I’m sorry too.

That conversation is sterile now, I wish you a good continuation.

[2022-03-12 13:05] huang1125677925 opened #22203 "dag task end, but not close timely"
### Apache Airflow version

2.2.3

### What happened

i have some day in my linux computer, ervery dag will run one time per 1 minute, but some minutes late，every day will have many tasks maintain running state , not close, I don't know what happend,  if some friends know, please tell me what I should to do?

### What you expected to happen

I hope my dag can run fluently, but I  can't control it,

[2022-03-12 13:55] potiuk commented on #22194
By all means - please propose a PR to expose this. You are most welcome.

Indeed I missed that part.

I was focusing more on the expectations: "Our existing SSH connections to keep working regardless of the version of OpenSSH used". But If you marked something as a bug, where this is a rather a feature request to expose this feature to the operators - this bug will be closed as invalid (as it is n

[2022-03-12 13:59] potiuk commented on #22194
This is really what I consider as "non selfish" - Identify a problem that small part of others might have, and propose a PR so that not only my problem is fixed but also others. For an open-source software that you get for free this is absolutely the best way to proceed.

[2022-03-12 21:36] sebbASF commented on #22197
I extracted the links semi-manually from the main page, and then checked them all using a Whimsy tool.

However of course this failed at the first hurdle.

[2022-03-13 00:10] #9610 closed

[2022-03-13 02:14] mik-laj commented on #22174
SGTM. We should add it because it is actually more intuitive. I'm just wondering if we shouldn't delete the download buttons from the modal window. What do you think?

[2022-03-13 03:34] uranusjr opened #22215 "Contributing guide still refers to the branch 'master'"
### Describe the issue with documentation

In `CONTRIBUTING.rst`, the image still says to fork `airflow/master`:

https://github.com/apache/airflow/blob/main/CONTRIBUTING.rst#contribution-workflow

### How to solve the problem

We need to make a new image and replace the current one 🙂

### Anything else

_No response_

### Are you willing to submit PR?

- [ ] Yes I am willing to submit a PR!

###

[2022-03-13 04:02] euccas commented on #22174
I think we should keep the download buttons in the modal window, those buttons are useful!

[2022-03-13 04:06] uranusjr commented on #22154
Hmm, this is weird. The documentation is automatically generated from AutoAPI, and I have no idea why it chooses to render the tuple as a list. Perhaps we need to raise this issue to AutoAPI. https://github.com/readthedocs/sphinx-autoapi

[2022-03-13 04:21] uranusjr commented on #22154
Done in readthedocs/sphinx-autoapi#330

[2022-03-13 04:45] wutienyang commented on #22215
Hi, thanks for the easy issue to experience how to contribute to Airflow. I am from PyCon APAC 2022 Sprint
It's my first time to give pr (https://github.com/apache/airflow/pull/22216).

Please let me know if I missed anything or something is incorrect.

[2022-03-13 06:49] uranusjr commented on #22078
I believe those attributes are set on the `SerializedBaseOperator` instance directly. It should be, otherwise the deserialization has a bug…

[2022-03-13 07:12] xingularity commented on #22072
I am interested in this issue and I would like to work on it.

[2022-03-13 07:41] andyfcx commented on #22152
I think `return "".join((str(n) for n in nodes) `
might not work due to possible returning as generator string representations

[2022-03-13 07:56] uranusjr commented on #22141
Just dump everything to the log file when the scheduler launches, then?

[2022-03-13 10:36] potiuk commented on #22197
Cool. Thanks again!

[2022-03-13 12:45] #22215 closed

[2022-03-13 12:46] potiuk commented on #22215
Fixed by #22216

[2022-03-13 13:14] potiuk commented on #22141
Yep. we even have some functions for this.

[2022-03-13 14:12] ybressler commented on #22154
Good solution. And yes, would be even more helpful for describing how to append to template fields with this unpacking approach. Thanks for being on top of this @uranusjr

[2022-03-13 14:55] potiuk opened #22220 "Databricks SQL fails on Python 3.10"
### Apache Airflow Provider(s)

databricks

### Versions of Apache Airflow Providers

The databricks SQL does not work on Python 3.10 due to "from collections import Iterable" in the `databricks-sql-connector`

* https://pypi.org/project/databricks-sql-connector/

Details of this issue dicussed in https://github.com/apache/airflow/pull/22050

For now we will likely just exclude the tests (and mark

[2022-03-13 14:56] potiuk commented on #22220
cc: @alexott  - I created an issue to track it (and proceed with excluding the failing test in Python 3.10 for now so that it does not block us from enabling 3.10 for Airflow main CI.

[2022-03-13 17:07] nitinmahawadiwar commented on #22007
Hello @potiuk @eladkal , I am able to return the description field from get api, also found the places to update documentation (verifying locally) but somehow not able to understand the Test cases & its structure.
Do you have any reference material to go through on test cases
I am referring https://github.com/apache/airflow/blob/main/TESTING.rst &
updated  test cases in a) tests/models/test_variab

[2022-03-13 17:29] ddelange commented on #20884
FYI, the upstream issue has been closed, as the repo was archived

[2022-03-13 18:10] likecodingloveproblems commented on #22152
Would I work on this issue?

[2022-03-13 18:58] Tonkonozhenko opened #22224 "Task runs second time after success"
### Apache Airflow version

2.2.4 (latest released)

### What happened

Task runs a second time after a first successful run.
In logs I see suspicious line:
[code]

Full log:
[code]

### What you expected to happen

_No response_

### How to reproduce

_No response_

### Operating System

Debian 10, extended official airflow image

### Versions of Apache Airflow Providers

_No response_

### Deplo

[2022-03-13 20:03] kyan113 commented on #22152
If you'd like.  I don't think I have the expertise to put together a pull request, so someone else will need to take a crack at it.

[2022-03-13 20:35] ephraimbuddy commented on #22096
Thanks, everyone, 1.5.0 has been released

[2022-03-13 20:35] #22096 closed

[2022-03-13 20:50] ephraimbuddy commented on #22059
Can you follow this best practice for variables: https://airflow.apache.org/docs/apache-airflow/stable/best-practices.html#best-practices-airflow-variables

If you are not able to resolve it with the above, please explain how to reproduce it

[2022-03-13 20:51] ephraimbuddy commented on #21951
Yes

[2022-03-13 22:41] klazaj opened #22228 "Installing Apache Hive provider package results in sasl error"
### Apache Airflow version

2.2.4 (latest released)

### What happened

I'm trying to add Hive Connection using the apache-hive provider from airflow.

`RUN pip3 install --no-cache-dir apache-airflow-providers-apache-hive==2.3.0`

 it results in an error:
[code]
I tried adding the packages manually too, but same error arises.

### What you expected to happen

_No response_

### How to reproduce

C

[2022-03-13 23:19] #21559 closed

[2022-03-13 23:28] uranusjr commented on #22152
Please also see #22218 for some context.

[2022-03-14 00:46] uranusjr commented on #20884
They say you need to file to https://github.com/kubernetes-client/python instead.

[2022-03-14 01:08] potiuk commented on #22160
Agree. This is a valid case and solution 3. seems to be best.

[2022-03-14 01:59] edithturn commented on #19971
@potiuk do you have 10 minutes to discuss this a little bit? Maybe Tuesday? I will bring some ideas and we can split to start to work on it. 🙏🏼

[2022-03-14 02:09] potiuk commented on #19971
Tuesday is fine. I will be mostly out since Wed though.

On Mon, Mar 14, 2022 at 2:59 AM Edith Puclla ***@***.***>
wrote:

[2022-03-14 02:13] edithturn commented on #19971
Thank you Jarek, I will ping you Tuesday, Poland Time. 🇵🇱 ⏲️

[2022-03-14 02:59] fatmumuhomer opened #22238 "Option to display Last Run and Next Run based on data_interval_end"
### Description

Currently the DAGs view shows the Last Run and Next Run values using the data_interval_start. The full data interval information is available if the user hovers over the field. Airflow should allow these two fields to display the data_interval_end instead. This could be configurable at a system level via an environment variable or airflow.cfg or, if possible, per user.

### Use ca

[2022-03-14 05:52] ghostbody commented on #10790
@turbaszek Let me make a PR later~ We are doing pressure tests these days and this problem had appeared often.

[2022-03-14 07:56] eladkal commented on #22111
I think the real blocker is not really google-ads but more :
https://github.com/googleapis/google-cloud-python/issues/10566
which blocks also bumping google-ads

[2022-03-14 08:29] aakashanand92 commented on #10790
Did you find a solution for this ? I am also using MWAA environment and facing the same issue.

The tasks get stuck in queued state and when I look at the scheduler logs I can see the same error.

"Executor reports task instance %s finished (%s) although the task says its %s. (Info: %s) Was the task killed externally?"

I tried to everything I can find in this thread but nothing seems to be workin

[2022-03-14 08:47] ddelange commented on #20884
@saisujith2 do you have time to write a new issue that reflects their current codebase?

[2022-03-14 09:29] potiuk commented on #22111
Yeah. I think this is about the right time to take a concerted action maybe to upgrade all the remaining libraries to > 2.0.0 :) @lwyszomi @mnojek . It's very likely that pretty much all the packages are already possible to upgrade. It's I think ~1.5 year since the breaking 2.0.0 Google APIs were released.

[2022-03-14 09:29] potiuk commented on #19971
Reserve time with calendly - will be easier :)

[2022-03-14 09:46] lwyszomi commented on #22111
I think this will be a good step to start upgrading all google packages to the latest version. I will try to prioritize this upgrades as soon as possible but hard to say any dates for now.

[2022-03-14 09:51] potiuk commented on #22111
Happy to help with reviewing etc.:)

[2022-03-14 10:51] wyatthomg opened #22242 "When try to change the tzinfo of Timetable example,Dag's catchup is True but no backfill"
### Apache Airflow version

2.2.4 (latest released)

### What happened

When i change the tzinfo of Timetable example  from UTC to CST and set Dag's catchup =True。 Dag's backfill run just one time.
But if i use UTC as  example. It will run as i need. How can i fix it

### What you expected to happen

I need to Use tzinfo(CST) in timetable.

### How to reproduce

This is the Timetable example and i

[2022-03-14 12:43] aoelvp94 commented on #22019
DId you see this PR https://github.com/apache/airflow/pull/19248?

[2022-03-14 13:15] potiuk opened #22243 "test"

[2022-03-14 13:23] #22243 closed

[2022-03-14 14:44] dstandish opened #22245 "next_kwargs value sometimes value NULL sometimes string `null`"
### Body

When running a dag with `airflow dags test` i noticed that in some of the mapped tasks, next_kwargs were null and in others they were the string value `null` which doesn't seem right.

Dag code:

[code]

<img width="682" alt="image" src="https://user-images.githubusercontent.com/15932138/158195645-3fba37e7-b822-4836-a857-6e53e03d3b2b.png">

cc @ashb @uranusjr

### Committer

- [X] I ackn

[2022-03-14 15:07] bbovenzi commented on #22238
We were talking about switching the last run and next run to be based off of interval end instead: https://github.com/apache/airflow/issues/21493

[2022-03-14 15:12] fatmumuhomer commented on #22238
Thanks @bbovenzi. From the discussion it sounds like the issue you linked would take care of my concern as it would cause those two columns to always show the value based on data_interval_end. Is this something you are actively working on?

[2022-03-14 15:14] bbovenzi commented on #22238
No, feel free to pick it up! I'm working on some adjacent things but there shouldn't be any conflicts.

[2022-03-14 15:26] fatmumuhomer commented on #22238
Great! Thanks! I will take a look at the code first before I grab the issue.

[2022-03-14 15:27] frankcash opened #22248 "Allow custom redirect for provider information in /provider"
### Description

`/provider` enables users to get amazing information via the UI, however if you've written a custom provider the documentation redirect defaults to `https://airflow.apache.org/docs/airflow-provider-{rest_of_name}/{version}/`, which isn't useful for custom operators.   (If this feature exists then I must've missed the documentation on it, sorry!)

### Use case/motivation

As an air

[2022-03-14 15:38] potiuk opened #22250 "Fail installing `pip` packages in Dockerfile extension when attempting to install as root"
### Description

We should fail attemps to install packages by `pip` after switching to root user in PROD airlfow image.

We should provide the user good error message with information on how to install `pip` packages properly (i..e. switching to `airflow` user first).

### Use case/motivation

When extending  Ariflow image, all packages should be installed as "airflow" user. Some users attempt to

[2022-03-14 15:41] cojoko commented on #22250
"some users" 😳

[2022-03-14 16:00] potiuk commented on #22250
You were not the first :)

[2022-03-14 16:26] SamWheating commented on #22160
Appreciate the feedback!

I have opened a PR for the second proposed solution, but I'll close that up and open one to actually fix the task submission.

Feel free to assign this one to me, I'll get a PR open today.

[2022-03-14 17:13] stas-snow commented on #22193
Code:

[code]

Screenshot of multiple DAG instances all in "Running" state.
<img width="546" alt="image" src="https://user-images.githubusercontent.com/93541868/158224423-fae9b635-abd2-4be5-a292-fa2c6d3c5398.png">

Documentation says that there should not be more than max_active_runs in Running state:
[code]

I would expect only 1 DAG in Running state if I have "max_active_runs = 1".

[2022-03-14 17:48] abdullahodibat opened #22255 "Parallel tasks fail randomly"
### Apache Airflow version

2.2.4 (latest released)

### What happened

Hello Eeveryone,
I am creating 6 instances of airflow tasks to run in parallel. however most of the times one or two of them fail without so many logs explaining the reason!

[code]

The error in the logs say: `airflow.providers.amazon.aws.exceptions.ECSOperatorError: {'tasks': [], 'failures': [{'arn': 'arn:aws:ecs:eu-west-1:x

[2022-03-14 19:11] pierrejeambrun commented on #13351
Hello @eladkal,

I have taken a look at it and I do not see an easy way to fix this for now:
- https://github.com/googleapis/proto-plus-python/issues/161 is still open and waiting for a fix.
- https://github.com/googleapis/python-bigquery-datatransfer/issues/90 has been fixed in the [proto-plus-python](https://github.com/googleapis/proto-plus-python) in [v1.19.6](https://github.com/googleapis/prot

[2022-03-14 19:23] eladkal commented on #13351
yeah we have a lot of work with updating the google provider
see https://github.com/apache/airflow/issues/22111#issuecomment-1063433467

You can send me message on slack if you need help with finding another issue to work on

[2022-03-14 19:55] eladkal commented on #15613
@Pravka does the issue still happens in latest airflow version?

[2022-03-14 20:51] eladkal commented on #15613
There is also pending PR to improve elastic search logging https://github.com/apache/airflow/pull/21942
@millin can you confirm if it will also address this issue?

[2022-03-14 21:59] djpate commented on #19816
@mitsos1os You just saved my life. Thanks for sharing. Been stuck on this for two days just because of DEBUG level.

[2022-03-14 22:02] potiuk commented on #14396
I think it's long addressed.

[2022-03-14 22:02] #14396 closed

[2022-03-15 00:14] potiuk opened #22264 "Status of testing Providers that were prepared on March 15, 2022"
### Body

## Provider [alibaba: 1.1.0rc1](https://pypi.org/project/apache-airflow-providers-alibaba/1.1.0rc1)
   - [x] [Add oss_task_handler into alibaba-provider and enable remote logging to OSS (#21785)](https://github.com/apache/airflow/pull/21785): @EricGao888
## Provider [amazon: 3.1.1rc1](https://pypi.org/project/apache-airflow-providers-amazon/3.1.1rc1)
   - [x] [Added AWS RDS sensors (#212

[2022-03-15 00:18] mik-laj commented on #22248
@frankcash SGTM. Assigned.

[2022-03-15 00:21] potiuk commented on #22264
Hello everyone. this is the out-of-bands release of all providers - with Trove Classifiers from PyPI added (Once we release them - they will all appear in https://pypi.org/search/?q=&o=&c=Framework+%3A%3A+Apache+Airflow&c=Framework+%3A%3A+Apache+Airflow+%3A%3A+Provider)

In Amazon, I marked all the changes that were tested in the previous candidate).

[2022-03-15 01:01] kazanzhy commented on #22264
#21231, #20907, #20642 - tested in previous RC

#22125 - OK

[2022-03-15 01:15] potiuk commented on #22264
#22181 -> OK. limits removed.
#22127 -> OK. (running it on M1 and it's blazing fast)
#22145 -> OK: [2022-03-15, 01:06:54 UTC] {docker.py:411} INFO - Not attempting to kill container as it was not created
#22221 -> OK: Tests only (main is green)
#21681 -> OK: Signature is changed.

[2022-03-15 01:26] zhongjiajie commented on #22264
#21422 -> OK: Improve docs with more example tasks

[2022-03-15 02:31] collinmcnulty opened #22267 "KubernetesPodOperator task log incorrect timestamps if worker crashes"
### Apache Airflow version

2.2.3

### What happened

On celery executor, a KubernetesPodOperator task was launched. At some point, the Airflow task failed, but the pod continued. I believe the task failed as a result of the worker pod dying suddenly. On the second attempt, the task reattached to the running pod and retrieved the logs, but all log lines that predate the re-attachment have the time

[2022-03-15 03:10] zachliu commented on #22264
https://github.com/apache/airflow/pull/22002
https://github.com/apache/airflow/pull/22137
https://github.com/apache/airflow/pull/22256
tested in my production environment
EcsOperator now has auto-retries :muscle:

[2022-03-15 03:40] Bowrna commented on #15974
Could we close this issue as suggested in PR https://github.com/apache/airflow/pull/22217 @eladkal?

We already have documentation for this part and you can refer to the below part to check about network and constraints.

![image](https://user-images.githubusercontent.com/10162465/158301569-861414f1-c86b-466a-9dba-a3cd8f6fdd31.png)

[2022-03-15 04:00] ajaymalikbol opened #22269 "We recently upgraded the airflow version from 2.0.2 to 2.2.2 In one of the dag, we are getting the issue in the python operator. Error: Task exited with return code Negsignal.SIGABRT The dag consists of multiple tasks and out of those tasks one particular task (python operator) is showing the above error consistently. we are seeing the log Started process 535 to run task and then it is failing with the above error. We are also seeing file core.535 getting generated in the disk which indicates that there is some issue with the application. Though it is working fine in local but failing in AWS ECS cluster"
### Apache Airflow version

2.2.2

### What happened

We recently upgraded the airflow version from 2.0.2 to 2.2.2

In one of the dag, we are getting the issue in the python operator. Error: Task exited with return code Negsignal.SIGABRT
The dag consists of multiple tasks and out of those tasks one particular task (python operator) is showing the above error consistently.

we are seeing the log St

[2022-03-15 07:04] ghostbody opened #22271 "`TaskInstance.refresh_from_db` locked `DagRun` which is unexpected."
### Apache Airflow version

2.2.1

### What happened

Airflow reports `Mysql Error: Locked Wait Timeout`. And we take a look at the code which requires db lock and find this.

![image](https://user-images.githubusercontent.com/8371330/158322403-aa085f2a-51ec-4c5a-94ca-43c85594691f.png)

![image](https://user-images.githubusercontent.com/8371330/158323958-0ee26939-0192-47a5-b43e-9b09e9834fe2.png)

[2022-03-15 07:19] tanelk commented on #22078
With this change

[code]

I get this exception when opening the task instance pop-up in the UI:
[code]

[2022-03-15 07:20] tanelk commented on #22078
Meanwhile these unit tests pass:

[code]

[2022-03-15 07:50] eladkal commented on #19196
Since no further comments on this I'm closing this request as wont fix.
We can revisit in the future if needed

[2022-03-15 07:50] #19196 closed

[2022-03-15 07:52] alexott commented on #22264
Tested #22076, #21852 - looks good

[2022-03-15 08:10] uranusjr commented on #22271
I don’t see how it’s unexpected, running a task instance requires some information on the DAG run containing it, and not locking the run would lead to potential inconsistencies.

[2022-03-15 08:17] pierrejeambrun commented on #21545
Hello @potiuk,

I would be glad to give a hand on this one for the go recipe.

Let me know if you want me to work on it :)

Best,

[2022-03-15 11:30] #22193 closed

[2022-03-15 12:10] ulsc commented on #22264
#22179 -> OK: Supports uploading bigger files
#22222 -> OK: Chunk size tells more about the default value

[2022-03-15 12:11] potiuk commented on #21545
Feel free.

[2022-03-15 12:33] lwyszomi commented on #22264
#20377 👍
#22091 👍

[2022-03-15 13:19] Bowrna commented on #21102
Can I pick up this task @potiuk?

Also, build-prod-image have `PREPARE_BUILDX_CACHE ` as part of its function. Does it come under `build-prod-image` or `prepare-image-cache`?

[2022-03-15 13:45] mitsos1os commented on #19816
Glad I was helpful!

[2022-03-15 14:45] potiuk opened #22289 "DagFileProcessor 'NoneType' is not iterable"
### Discussed in https://github.com/apache/airflow/discussions/21846

<div type='discussions-op-text'>

<sup>Originally posted by **momoadc** January 20, 2022</sup>
### Apache Airflow version

2.2.2

### What happened

I'm seeing the same log repeating in the Scheduler.
I'm working in a restricted network so I cannot bring the entire log:
[code]
I saw that a single DAG didn't have any labels and i

[2022-03-15 15:11] vincbeck commented on #22264
#22157 OK

[2022-03-15 15:11] vincbeck commented on #22264
#19137 OK

[2022-03-15 15:41] potiuk commented on #21878
See #22264  - it contains information about the release candidate and link to instructions on how to test it

[2022-03-15 15:43] repl-mike-roest commented on #21878
Awesome yep @potiuk let me see what I can do to help out on things

[2022-03-15 16:36] #22019 closed

[2022-03-15 16:37] EricGao888 commented on #22264
#21785 -> OK: Enable remote logging into Alibaba Cloud OSS

[2022-03-15 17:39] potiuk commented on #22250
See #22292 @cojoko :)

[2022-03-15 17:53] PApostol commented on #22289
This seems related to #20468, which is fixed on `main`.

[2022-03-15 17:55] potiuk commented on #22289
Yeah. But I am not 100% sure if it fixes the problem.

[2022-03-15 18:06] #20092 closed

[2022-03-15 18:15] #22250 closed

[2022-03-15 18:19] repl-mike-roest commented on #22264
#21861: OK
#21475: OK
#21779: OK

[2022-03-15 18:27] ausiddiqui commented on #12136
@raphaelauv when you mention version 3.0.0 what are you referring to exactly? Airflow core or some other package/dependency?

[2022-03-15 18:30] potiuk commented on #22007
I am afraid not, but if you have some specific questions/ comments - @ephraimbuddy and @mik-laj  might be able to help.

[2022-03-15 21:18] josh-fell commented on #22264
@potiuk FWIW I know they aren't in this list but since they made it in the RC, I tested the fixes for dbt Cloud in v1.0.1 (#22136, #22126) and they look great!

[2022-03-15 21:23] adambayrami commented on #20309
hey @atulv-lfs, same issue over here. Any luck?

[2022-03-15 21:36] potiuk commented on #22264
Yeah.  New providers aren't here :)

[2022-03-15 21:50] potiuk commented on #20309
@adambayrami - SIGSEGV means that you have serious problem with your task. Either environmental, library, environment variables. Generally speaking look at whatever your tasks are doing and fix it. This has nothing to do with Airflow.

[2022-03-15 22:37] SamWheating commented on #22160
Closed by https://github.com/apache/airflow/pull/22259

[2022-03-15 22:37] #22160 closed

[2022-03-16 00:59] johngtam opened #22298 "pod_override ignores namespace configuration"
### Apache Airflow version

2.0.2

### What happened

I've attempted to use the pod_override as per the documentation [here](https://airflow.apache.org/docs/apache-airflow/2.0.2/executor/kubernetes.html#pod-override). Labels, annotations, and service accounts work. However, attempting to override the namespace does not: I would expect the pod to be created in the namespace that I've set `pod_overr

[2022-03-16 01:17] yathit commented on #16140
I tested in Airflow 2.3.0.dev0 using `airflow.providers.apache.spark.operators.spark_submit.SparkSubmitOperator` and no longer reproduced the issue.

[code]

[2022-03-16 02:17] yarong-lifemap opened #22299 "Allow entering dag_run_id when triggering DAG with config"
### Description

This will allow better tracking of runs without requiring commandline/REST API

### Use case/motivation

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://github.com/apache/airflow/blob/main/CODE_OF_CONDUCT.md)

[2022-03-16 04:58] uranusjr commented on #22299
Covered by #21336.

[2022-03-16 04:58] #22299 closed

[2022-03-16 06:03] ephraimbuddy commented on #22007
You can make the PR, we will guide you on the tests

[2022-03-16 06:54] ZdravkoHvarlingovFt commented on #22067
Hey, I can confirm the problem exists as well. 😢  That was not the case with version 1 of Airflow. I can see in the changelog that some changes were introduced in version 2 in order to prevent a user to see import errors of other teams' DAGs. Probably that fix introduced that side effect we are talking about here.

[2022-03-16 08:13] #21336 closed

[2022-03-16 08:23] eladkal commented on #20045
@edwardwang888 are you still working on this issue?

[2022-03-16 08:31] eladkal commented on #14896
@potiuk I believe there is on task to do on this issue? can we close?

[2022-03-16 08:47] millin commented on #15613
Seems like I've seen this error about a year ago, but it didn't appear in newer versions.
@Pravka what versions of Python packages `apache-airflow-providers-elasticsearch`, `elasticsearch`, `elasticsearch-dsl` are installed?

[2022-03-16 09:11] raphaelauv commented on #12136
the version of the airflow cncf provider package ->

https://pypi.org/project/apache-airflow-providers-cncf-kubernetes/3.0.0/

[2022-03-16 09:56] hadoken69 opened #22306 "DataflowStartFlexTemplateOperator is missing the impersonation_chain argument"
### Description

The DataflowStartFlexTemplateOperator operator (https://github.com/apache/airflow/blob/main/airflow/providers/google/cloud/operators/dataflow.py) don't have the impersonation_chain argument even though the dataflow hook accept it in its argument (https://github.com/apache/airflow/blob/main/airflow/providers/google/cloud/operators/dataflow.py)

### Use case/motivation

_No response

[2022-03-16 09:58] potiuk commented on #14896
Agree.

[2022-03-16 09:58] #14896 closed

[2022-03-16 10:45] potiuk commented on #16140
Should we close the issue then?

[2022-03-16 11:28] hussainsaify opened #22307 "Airflow webserver stops responding and then restarted by liveness probes"
### Apache Airflow version

2.2.4 (latest released)

### What happened

Hi Team,

After upgrading to airflow 2.2.3, we have started facing an issue where webserserver gets stuck and is eventually restarted after failing the liveness probes. However, this issue is transient and we see it 2-3 times per week. We also see high spike of cpu during the time issue occured.

Cloud - AWS EKS 1.21
Helm Char

[2022-03-16 11:59] potiuk commented on #22307
You need to provide logs (and possibly analyse) of the webserver and likely kubernetes from around the time, the webserver is killed.  Ideally you should try to analyze it before and see if you can identify the reason yourself. Also you should see how the log files differ from "normal" situation.

There is no way we can act on it without seeing this information. Converting it into discussion until

[2022-03-16 12:28] omer-ginosar commented on #9738
@ulinares Can you share your progress with it? When do you think it'll be avail?

[2022-03-16 15:08] eladkal commented on #15752
The tree view has been refactored significantly.
Actually it no longer exist. We now have Grid view
Can you please check if the bug still reproducible on latest main branch?

[2022-03-16 15:08] ephraimbuddy commented on #12418
Can't reproduce any more

[2022-03-16 15:08] #12418 closed

[2022-03-16 15:37] villasv commented on #15340
In my case, just removing the --wait flag was enough, I didn't have to fiddle with `airflow.dbMigrations.runAsJob`

[2022-03-16 15:45] dlesco commented on #22191
I plan to submit a PR within the next two weeks.

[2022-03-16 17:07] brettplarson opened #22317 "Make pause DAG it's own role separate from edit DAG"
### Description

As an Airflow administrator I would like to be be able to configure a user account with permissions be able to "clear" and re-run a DAG run but also _not_ be able to pause a DAG.

Currently this doesn't appear to be possible as `Toggle DAG paused status` and `Clear DAG Run` both come from the same `DAGs.can_edit` permission set.

### Use case/motivation

A failure such as an unexp

[2022-03-16 17:12] tnyz opened #22318 "KubernetesPodOperator xcom sidecar stuck in running"
### Apache Airflow version

2.2.4 (latest released)

### What happened

When the main container errors and failed to write a return.json file, the xcom sidecar hangs and doesn't exit properly with an empty return.json.

This is a problem because we want to suppress the following error, as the reason the pod failed should not be that xcom failed.
[code]
and have the KubernetesPodOperator exit grace

[2022-03-16 17:29] eladkal commented on #18323
fixed in https://github.com/apache/airflow/pull/18439

[2022-03-16 17:29] #18323 closed

[2022-03-16 18:31] alexbegg opened #22320 "Copying DAG ID from UI and pasting in Slack includes schedule"
### Apache Airflow version

2.2.3

### What happened

(Yes, I know the title says Slack and it might not seem like an Airflow issue, but so far this is the only application I noticed this on. There might be others.)

PR https://github.com/apache/airflow/pull/11503 was a fix to issue https://github.com/apache/airflow/issues/11500 to prevent text-selection of scheduler interval when selecting DAG ID

[2022-03-16 18:48] eladkal commented on #22320
I can confirm this indeed happens with paste ( CMD + V)
However if you will paste with  CMD + SHIFT + V  - it will behave as you expect

[2022-03-16 20:10] kaxil commented on #19049
Is this still pending @uranusjr ?

[2022-03-16 20:49] dylanbstorey opened #22325 "ReST API : get_dag should return more than a simplified view of the dag"
### Description

The current response payload from  https://airflow.apache.org/docs/apache-airflow/stable/stable-rest-api-ref.html#operation/get_dag is a useful but simple view of the state of a given DAG. However it is missing some additional attributes that I feel would be useful for indiduals/groups who are choosing to interact with Airflow primarily through the ReST interface.

### Use case/mo

[2022-03-16 20:51] carmoreno1 commented on #8468
Hi @imorales-mosaico is there a workaround about `chunksize` using Airflow?

[2022-03-16 21:23] mik-laj commented on #22306
This problem has been documented here:
https://airflow.apache.org/docs/apache-airflow-providers-google/stable/connections/gcp.html#direct-impersonation-of-a-service-account
Here's a longer discussion on this issue:
https://github.com/apache/airflow/pull/19518#discussion_r748632907 (CC: @lwyszomi )

[2022-03-16 23:44] alexbegg commented on #22320
Good catch on the CMD + SHIFT + V, I do that sometimes when I didn't want to paste HTML. I'll keep that in mind.

It will be nice though if selecting the text just selects that DAG ID and not the other stuff.

[2022-03-17 00:09] #19158 closed

[2022-03-17 00:09] #8687 closed

[2022-03-17 00:12] utkarsharma2 opened #22328 "bigquery provider's - BigQueryCursor missing implementation for description property."
### Apache Airflow version

2.2.4 (latest released)

### What happened

When trying to run following code:

[code]

Running into following issue:

[code]

### What you think should happen instead

The property should be implemented in a similar manner as [postgres_to_gcs.py](https://github.com/apache/airflow/blob/7bd165fbe2cbbfa8208803ec352c5d16ca2bd3ec/airflow/providers/google/cloud/transfers/pos

[2022-03-17 01:41] kenny813x201 commented on #10790
We also got the same error message. In our case, it turns out that we are using the same name for different dags.
Changing different dags from `as dag` to like `as dags1` and `as dags2` solve the issue for us.
[code]

[2022-03-17 03:25] bskim45 commented on #21072
I'm experiencing a similar issue somewhat related to this. When the `sla` argument is provided but an SLA miss email is not sent nor `sla_miss_callback` is not specified, SlaMiss entries are piled up on the `sla_miss` table with `notification_sent=false`. This causes calling `DAGFileProcessor.manage_slas` times out for that callback processing.

quick example:
[code]

[2022-03-17 03:35] Madaditya commented on #20110
Was anybody able to fix a fix to the CORS issue for airflow API?
We are facing a similar issue and wondered if its was a v2.2..2 specific.

[2022-03-17 03:45] pohek321 opened #22330 "Add functionality to DatabricksHook to create notebooks"
### Description

Currently, there is no way to programmatically create a notebook in Databricks using the core provider components ([DatabricksHook](https://registry.astronomer.io/providers/databricks/modules/databrickshook), [DatabricksRunNowOperator](https://registry.astronomer.io/providers/databricks/modules/databricksrunnowoperator), or [DatabricksSubmitRunOperator](https://registry.astronomer

[2022-03-17 03:57] #21545 closed

[2022-03-17 04:08] bbovenzi commented on #22325
Good idea! I wonder if it should be on get dag or get dag details.

[2022-03-17 04:10] bbovenzi commented on #22325
Good idea! I wonder if it should be on get dag or get dag details.

[2022-03-17 04:11] bbovenzi commented on #21201
I agree we can do it in a new graph view, but I don't think this would be too complicated to do for the current one either.

[2022-03-17 04:11] pohek321 commented on #22330
Created pull request #22331

[2022-03-17 07:27] nitinmahawadiwar commented on #22007
Sure @ephraimbuddy Thanks

[2022-03-17 10:54] nominee1997 opened #22336 "`airflow dags backfill` command doesn't propagate DagRun conf attribute if the DagRun already exists"
### Apache Airflow version

2.1.4

### What happened

`airflow dags backfill` command has an option to provide config for the DagRun's it will trigger (https://airflow.apache.org/docs/apache-airflow/stable/cli-and-env-variables-ref.html#Named%20Arguments_repeat10).

This works correctly if there are no existing DagRun's for the execution dates in question. However, if they exist, then the existing

[2022-03-17 11:32] thcidale0808 commented on #21381
@alexott , I've implemented and will raise a PR soon. Just finishing some tests.

[2022-03-17 12:25] kmaddi-quotient opened #22337 "Airflow 2.2.4: Not deserialising Connections"
### Apache Airflow version

2.2.4 (latest released)

### What happened

I used to have fernet_key empty in 1.10.10. In the process of updating to 2.2.4 , i generated a fernet key using the given procedure in python and updated the same in aiflow.cfg. After creating a user and clicking on connections it gives me the following error.
`File "/home/airflow_user/.local/lib/python3.7/site-packages/crypt

[2022-03-17 12:42] nicnguyen3103 opened #22338 "Airflow webserver cannot start: error: invalid command 'webserver'"
### Apache Airflow version

2.2.4 (latest released)

### What happened

I was performing update for my swarm cluster from 2.2.2 to 2.2.4. After airflow db upgrade, both worker and scheduler can start just fine but the airflow webserver returns error: invalid command 'webserver'.

I exec into the worker container and try to start the webserver manually from there to reproduce the issue. Here is the

[2022-03-17 13:47] Bowrna commented on #21102
@potiuk is `prepare-build-cache` and `prepare-image-cache` means the same?  Also when we send `prepare-build-cache` we also set few other flags. Do we need to follow this and set those flags too?

https://github.com/apache/airflow/blob/4a1503b39b0aaf50940c29ac886c6eeda35a79ff/breeze#L1313-L1325

[2022-03-17 14:09] frankcash opened #22339 "Deleting multiple variables triggers pop-up that should list all variables being deleted"
### Description

As an engineer when I am deleting multiple variables in the Airflow UI I wish to be sure about which variables I am deleting.  currently the UI only asks `Are you sure you want to delete selected records?`, if I have a lot of records it is impossible to see the "selected records" when deleting them.

### Use case/motivation

Prevent deletion of important / unintended Airflow Varia

[2022-03-17 15:30] MatrixManAtYrService opened #22340 "Expanding operators inside of task groups causes KeyError"
### Apache Airflow version

main (development)

### What happened

Given this DAG:
[code]

I ran `airflow dags test mapped_bash $(date +%Y-%m-%dT%H:%M:%SZ)`

Got this output:

[code]

### What you think should happen instead

No error

### How to reproduce

Trigger the dag above

### Operating System

Mac OS 11.6

### Versions of Apache Airflow Providers

n/a

### Deployment

Virtualenv installati

[2022-03-17 17:02] Bowrna commented on #21102
@potiuk I will resume working on this issue once PR #21956 got merged as it will be easier to add code to ci-image and refactor the reusable parts too.

[2022-03-17 18:00] potiuk commented on #21102
Yes.

Some:
* "FORCE_BUILD_IMAGES" we already dropped it
* "FORCE_ANSWER_TO_QUESTIONS" is not needed (there will be no questions asked).
* "CLEANUP_DOCKER_CONTEXT_FILES" -> yes it should be overwritten to "yes" in this case
* "DOCKER_CACHE" -> yes.

[2022-03-17 19:30] shicholas opened #22349 "2022 Summer of Docs Proposal"
### Description

From email discussions on the Apache listserv, I'd like to propose the following Google Summer of Docs program for this wonderful project. These are just a first take and each of the sections should warrant its own deep-dive discussion (maybe on a GitHub issue or discussion). I think each section can benefit from interactive visuals which we can include as part of the summer of do

[2022-03-17 19:36] supritiy opened #22350 "Zombie tasks do not terminate"
### Apache Airflow version

2.2.4 (latest released)

### What happened

We recently upgraded from Airflow 1.10.15 to 2.2.4. Our stack runs on GKE, using CeleryExecutor and Postgres 13 as result backend and airflow database. Worker, webserver and scheduler processes run in the own containers. Whenever a worker pod terminates sending SIGTERM to the airflow celery worker process, some long running ta

[2022-03-17 20:19] #20140 closed

[2022-03-17 21:10] alexperry-shifu commented on #16176
Did anyone ever find more details to provide?  I followed the instructions here https://airflow.apache.org/docs/helm-chart/stable/index.html#installing-the-chart and I am having the same issue.  My details are the same as what has already been shared.  I would add that I am using the "--kubelet-insecure-tls" flag in Kubernetes if that helps. (?)

[2022-03-17 21:18] #21447 closed

[2022-03-17 21:27] gmcatsf opened #22352 "Audit rest api update requests"
### Description

Need a way to monitor updates from rest api, like persisting requests into existing log table.

### Use case/motivation

Airflow UI audit user actions by logging into log table, but this feature is missing in the rest api endpoints. For production this feature is needed to track mis usages or bugs.

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes

[2022-03-18 03:30] Bowrna commented on #21102
@potiuk It should apply for the build-prod-image case too. Am I right?

[2022-03-18 08:27] eladkal opened #22356 "Change DeprecationWarning to AirflowDeprecationWarning"
### Body

It's becoming hard to differentiate between all warnings raised in logs.
Airflow uses many packages that also raise warnings.

I suggest to create `AirflowDeprecationWarning`.
We can even have similar mechanism to sqlalchemy that has `SADeprecationWarning`  and specifying the version this warning started from that way it will also be easier to keep track.
https://github.com/sqlalchemy/sq

[2022-03-18 08:43] m1racoli opened #22357 "tempfile.TemporaryDirectory does not get deleted after task failure"
### Apache Airflow version

2.2.4 (latest released)

### What happened

When creating a temporary directory with `tempfile.TemporaryDirectory()` and then failing a task, the corresponding directory does not get deleted.

This happens in Airflow on Astronomer as well as locally in for `astro dev` setups for LocalExecutor and CeleryExecutor.

### What you think should happen instead

As in normal Py

[2022-03-18 09:13] omarsmak opened #22358 "ScheduleInterval schema in OpenAPI specs should have "nullable: true" otherwise generated OpenAPI client will throw an error in case of nullable "schedule_interval""
### Apache Airflow version

2.2.4 (latest released)

### What happened

Currently we have this schema definition in the OpenAPI specs:
[code]

The issue with above is, when using an OpenAPI generator for Java for example (I think is same for other languages as well), it will treat `ScheduleInterval` as **non-nullable** property, although what is returned under `/dags/{dag_id}` or `/dags/{dag_id}/d

[2022-03-18 09:18] potiuk commented on #21102
Yes

[2022-03-18 11:12] RosterIn commented on #8780
I do see from time to time on Airflow 2.2.3 (Kubernetes) that logs are missing with similar message.
I wonder if this issue is the cause for it?

[2022-03-18 11:15] MaksYermak opened #22360 "Jinja templating in Airflow can´t template class Object´s property"
### Apache Airflow version

main (development)

### What happened

When you will try to create an Object in operator properties and for this Object you will try to template his property in this case Jinja will not work.
Code example:
[code]
Result:
![image](https://user-images.githubusercontent.com/12415200/158992837-46726d08-1bd5-4bf1-a089-441954b183cc.png)

### What you think should happen inste

[2022-03-18 11:22] eladkal commented on #8589
Airtable has python sdk which seems maintained: https://github.com/gtalarico/pyairtable
so for anyone who wants to pick it up it should be easier to integrate with the Python SDK.
You can check previous PRs of adding new provider for reference like: https://github.com/apache/airflow/pull/17068 to

[2022-03-18 11:27] eladkal commented on #10893
For anyone who wants to pick this task:
Python driver that can be used: https://github.com/mymarilyn/clickhouse-driver
Reference for PR that added another influxdb provider https://github.com/apache/airflow/pull/17068

[2022-03-18 11:50] eladkal commented on #22360
If you want to render Native Python object then you need to follow instructions on the docs:
https://airflow.apache.org/docs/apache-airflow/stable/concepts/operators.html#rendering-fields-as-native-python-objects

[2022-03-18 11:55] pateash commented on #17778
@eladkal as discussed over slack, I will pick this up.

[2022-03-18 13:40] mik-laj commented on #22357
Could you please try the code below and see if the problem persists?
[code]

[2022-03-18 13:42] ashb commented on #22356
I agree think we should copy what other projects do (SQLA, Celery, Djanog etc), and have a `RemovedInAirflow3` warning subclass.

[2022-03-18 14:38] omarsmak opened #22363 "OpenAPI Specs misses a list of securitySchemes defined in 'security' which as result breaks generated OpenAPI client authentication mechanism"
### Apache Airflow version

2.2.4 (latest released)

### What happened

Currently we have this definition in the OpenAPI specs:
[code]

When generating the REST APIs client through OpenAPI generator (Java client as an example which the one I am using), the client won't be able to authenticate since is missing the securitySchemes names in the `security: []` array.

If I include the securitySchemes

[2022-03-18 14:48] 094459 commented on #22349
I am happy to pitch in and collaborate on this with you. I have some experience/exposure to this space, maybe we can have a quick call to sync up and share ideas?

[2022-03-18 15:08] omarsmak opened #22365 "'external_trigger' in OpenAPI specs has a default value which as a result, will be always included in the request body by the generated OpenAPI specs"
### Apache Airflow version

2.2.4 (latest released)

### What happened

We have this in the `DAGRun` model:
[code]
We use the same model for both getting the dagrun details and trigging dagrun. However, since we include a default value, the generated OpenAPI client will include the default value nevertheless during `POST /dags/{dag_id}/dagRuns` which as a result the request will be failed in the v

[2022-03-18 15:09] #21486 closed

[2022-03-18 15:17] ashb commented on #22356
Oh -- we can't (easily) use such a warning class in providers as they still need to work on Airflow 2.1 (at the moment anyway)

[2022-03-18 15:39] Vishal2696 opened #22366 "2.2.3 - Error while login to webserver."
### Apache Airflow version

2.2.3

### What happened

I'm building the airflow image from the source code using normal `docker build` command (Commit used for build: `06c82e17e9d7ff1bf261357e84c6013ccdb3c241`). After successful build I deployed to my kubernetes cluster and the webserver pod is also up and running but when I try to login, I'm displayed with the below error page.

[code]

Similarly

[2022-03-18 15:40] eladkal commented on #22356
in `AirflowProviderDeprecationWarning` i meant for warnings which are in scope of the provider itself and are not tied to Airflow core (like Operator rename).

[2022-03-18 16:23] bbovenzi commented on #22339
Good call. That would be a very useful change.

[2022-03-18 18:20] aprettyloner commented on #14672
Also seeing this on Airflow 2.2.3

[2022-03-18 18:58] repl-mike-roest commented on #18217
@alex-astronomer have you made any progress on this?  This is a feature we would really like as well.

Would be willing to work on a PR as well

[2022-03-18 19:49] csprl-nowigence opened #22368 "Cannot import from modules in the dags folder"
### Apache Airflow version

2.2.4 (latest released)

### What happened

Every time I try to import from a module in the dags/ folder, I get a DAGs Import Error:

[code]

I cannot import from a module in the base dags folder, nor can I import from packages laid out exactly like the documentation in Module Management > [Typical structure of packages](https://airflow.apache.org/docs/apache-airflow/st

[2022-03-19 00:21] kaxil commented on #22366
Can you please run `airflow db upgrade` and try again? This type of errors occurs when you forget to run DB migrations after upgrading an Airflow version

[2022-03-19 11:11] ManiBharataraju commented on #16249
@eladkal - Sure. I will try to work on it.

[2022-03-19 12:57] cyLi-Tiger opened #22375 "Ask problems about branching"
### What do you see as an issue?

If I have a dag looks like attached: a branching with two branches, I wonder which branch will be executed first? It seems that they won't be executed at the same time. And how can I control which branch to go first?
<img width="276" alt="image" src="https://user-images.githubusercontent.com/37681002/159121949-0631bf85-05ff-48f1-a4a6-8e02821657a3.png">

### Solvin

[2022-03-19 12:58] potiuk commented on #11294
We can close it. After adding "rerun single job" I can forgive the other issues not solved.

[2022-03-19 12:58] #11294 closed

[2022-03-19 13:39] potiuk commented on #22317
Marked is a good-first-issue. Maybe someone would like to take it on. But if you feel like that @brettplarson the surest way to get it implemented is for you to contribute it :). You could join some 2000 contrinbutors to Airlfow.

[2022-03-19 18:07] shicholas commented on #22349
would love to, will email your address listed on your blog, thanks!

[2022-03-19 22:00] eladkal commented on #22318
@tnyz assigned to you.
Feel free to open PR

[2022-03-19 22:24] mymzheka commented on #17629
Same situation with airflow 2.2.4 deployed from helm chart 1.5.0
openshift 3.11
kubernetes v.1.11.0

[2022-03-20 02:05] #22340 closed

[2022-03-20 07:48] xylar opened #22380 "Newest providers incorrectly include `gitpython` and `wheel` in `install_requires`"
### Apache Airflow Provider(s)

ftp, openfaas, sqlite

### Versions of Apache Airflow Providers

I am the maintainer of the Airflow Providers on conda-forge.  The providers I listed above are the first 3 I have looked at but I believe all are affected.  These are the new releases (as of yesterday) of all providers.

### Apache Airflow version

2.2.4 (latest released)

### Operating System

Linux (

[2022-03-20 07:56] xylar commented on #22380
I believe this was added in https://github.com/apache/airflow/pull/22226, perhaps by mistake?

[2022-03-20 08:50] vladyslavnsa opened #22381 "AthenaOperator retries max_tries mix-up"
### Apache Airflow version

2.2.4 (latest released)

### What happened

After a recent upgrade from 1.10.9 to 2.2.4, an odd behavior where the aforementioned Attributes, are wrongfully Coupled, is observed.
An example to showcase the issue:
[code]
Related Documentation states:
* retries: Number of retries that should be performed before failing the task
* max_tries: Number of times to poll for que

[2022-03-20 10:35] eladkal commented on #22380
cc @potiuk

[2022-03-20 11:12] #21989 closed

[2022-03-20 11:18] potiuk commented on #22381
Would you like to fix the problem maybe  by creating a PR @vladyslavnsa ?

[2022-03-20 11:34] potiuk commented on #22380
Yep. This is my mistake indeed. I will have to rerelease all of the providers and yank all of them I am afraid

[2022-03-20 12:00] xylar commented on #22380
@potiuk, no worries on my side.  I know I sounded pretty annoyed above.  But this was the excuse I needed to automate my update process on conda-forge.

Sorry that it's going to be a bit of work for you, though.  Thanks for taking care of it!

[2022-03-20 12:05] potiuk commented on #22380
No - no worries at all - thanks for reporting it so quickly @xylar actually. It slipeed my automation tests (for good reasons) and I have the releases mostly automated, so the work from my side is not as big as it might seem (highly recommend to add the automation indeed :).

[2022-03-20 12:08] potiuk commented on #22380
BTW. Learning for myself - DO split changes and semi-automated documentation generation. This way the change could have been detected at code review time. The #22226 change was far too big to catch it.

[2022-03-20 12:15] #22380 closed

[2022-03-20 14:07] potiuk commented on #22264
Thanks for all the testing. We will have to release a new wave, as there was a general issue found in #22380 (but there will be just a few new changes to vote).

[2022-03-20 14:08] #22264 closed

[2022-03-20 18:45] eladkal commented on #9492
According to https://github.com/docker/docker-py/issues/2395#issuecomment-907243275

[code]

Is a working solution - since no better way provided by upstream lib this is what we can support. Sohttps://github.com/apache/airflow/pull/21974 will solve this issue.

[2022-03-21 02:33] pohek321 opened #22390 "RedshiftSQLOperator is limited to executing one sql statement"
### Apache Airflow Provider(s)

amazon

### Versions of Apache Airflow Providers

apache-airflow-providers-amazon==3.0.0

### Apache Airflow version

2.2.4 (latest released)

### Operating System

Debian GNU/Linux

### Deployment

Astronomer

### Deployment details

Using the `astrocloud` cli. Image from dockerfile is:

```FROM quay.io/astronomer/astro-runtime:4.2.0```

In `requirements.txt`, I've

[2022-03-21 02:54] pohek321 commented on #22390
Opened [PR 22391](https://github.com/apache/airflow/pull/22391)

[2022-03-21 04:36] MatrixManAtYrService opened #22392 "Unknown connection types fail in cryptic ways"
### Apache Airflow version

2.2.4 (latest released)

### What happened

I created a connection like:
[code]

When I really should have created it like:
[code]

While using this connection, I found that FileSensor would only work if I provided absolute paths.  Relative paths would cause the sensor to timeout because it couldn't find the file.  Using `fs` instead of `File` caused the FileSensor to s

[2022-03-21 11:18] potiuk commented on #8468
Please @imorales-mosaico  - open a new Feature/Bug request with a bit better description, rather than commenting on a closed ticket (you can add Relates to: #8464 in the description).

[2022-03-21 11:18] potiuk commented on #8468
(Or Ideally submit a PR fixing the problem immediately - if there is a problem).

[2022-03-21 12:08] potiuk opened #22397 "Upgrade to FlaskAppBuilder 4.0.*"
### Body

Flask App Builder 4.0 has been released - including allowing us to bump multiple depending packages that have been held back by it. Apart of bumping version of dependent packages, there does not seem to be breaking changes that impact us directly.

We should migrate to FAB 4.0.*  in Airlfow 2.3 I think at earliest convenience, but it also requires some extensive testing (which 2.3.0 will

[2022-03-21 12:21] potiuk commented on #22320
Change it into feature. And yeah feel free to work on it @alexbegg  :)

[2022-03-21 12:22] potiuk commented on #22328
Feel free to implement it @utkarsharma2

[2022-03-21 13:16] stephenoken opened #22398 "CloudBuildRunBuildTriggerOPerator: 'property' object has no attribute 'build'"
### Apache Airflow Provider(s)

google

### Versions of Apache Airflow Providers

apache-airflow-providers-google==6.6.0

### Apache Airflow version

2.2.4 (latest released)

### Operating System

GCP Cloud Composer 2

### Deployment

Composer

### Deployment details

We're currently using the default set up of cloud composer 2 on GCP.

### What happened

When trying to trigger cloud build trigger

[2022-03-21 13:37] potiuk commented on #21072
I tihnk SLA mechanism is generally up for rewriting, it has many more problems then that. I would say it needs to be a part of the rewrite (but there is no timeline for that).

[2022-03-21 14:10] potiuk commented on #22350
It's an interesting one. I think zombies should be restrted when detected. I think you can fine-tune your celery/airflow behaviour by https://airflow.apache.org/docs/apache-airflow/stable/configurations-ref.html#scheduler-zombie-task-threshold and [timeout]https://airflow.apache.org/docs/apache-airflow/stable/configurations-ref.html#celery-config-options to configure the hard limit on waiting for

[2022-03-21 14:15] eladkal commented on #22398
feel free to submit a PR

[2022-03-21 16:16] potiuk opened #22404 "tempfile.TemporaryDirectory does not get deleted after task failure"
### Discussed in https://github.com/apache/airflow/discussions/22403

<div type='discussions-op-text'>

<sup>Originally posted by **m1racoli** March 18, 2022</sup>
### Apache Airflow version

2.2.4 (latest released)

### What happened

When creating a temporary directory with `tempfile.TemporaryDirectory()` and then failing a task, the corresponding directory does not get deleted.

This happens in

[2022-03-21 16:22] potiuk commented on #22404
@m1racoli - sorry, I thought it was a mistake and I moved the original issue into a discussion - but indeed I double checked and Airflow behaves this way. And @mik-laj -I checjed that this behaves as expected:

[code]

[2022-03-21 16:22] potiuk commented on #22404
Very strange

[2022-03-21 16:32] ferruzzi commented on #17175
Is this still active or is it covered by https://github.com/apache/airflow/pull/16766 ?

[2022-03-21 16:41] uranusjr commented on #22404
This happens when you raise the exception _outside_ the block? I can sort of understand if you do it inside, but the temporary directory should be deleted when the context manager exits. It is indeed strange if this is the case.

[2022-03-21 16:44] potiuk commented on #22404
Just to clarify - the `context manager` case behaves as expected (directory deleted). The original one does not (i.e. the folder remains after Exception is thrown and even after scheduler interpreter is stopped:

[code]

[2022-03-21 16:45] potiuk commented on #22404
According to docs (and I looked at the code) the directory SHOULD be deleted by finalizer in this case - but is not.

[2022-03-21 16:47] zachliu commented on #22264
dumb question: will these new providers show up in the [constraints-2.2.4/constraints-3.8.txt](https://raw.githubusercontent.com/apache/airflow/constraints-2.2.4/constraints-3.8.txt)? or be pushed to Airflow 2.2.5?

[2022-03-21 16:57] potiuk commented on #22264
The latter.

The constraints for each version contain the "snapshot" of providers that are available during release.

Constraints are very rarely updated unless we want to bugfix some dependency issue.

You are free to upgrade the new providers individually as described in https://airflow.apache.org/docs/apache-airflow/stable/installation/installing-from-pypi.html#installation-and-upgrading-of-air

[2022-03-21 17:17] potiuk commented on #22365
Feel free to fix it.

[2022-03-21 17:30] supritiy commented on #22350
Thanks @potiuk. What configures celery worker task timeout? From the celery config, none of the flags stood out to me.

[2022-03-21 17:32] potiuk commented on #22350
I do not know celery too well but I saw soft and hard timeouts in the docs when looking quickly.

[2022-03-21 18:23] zachliu commented on #22264
gotcha! thanks! i must have missed my orientation or suffered from foggy brain on Mondays. what does "yanking them" mean? :sweat_smile:

[2022-03-21 18:32] bbovenzi opened #22408 "Streamline trigger dag UX"
Problem:

Triggering a dag run is a relatively simple process conceptually yet a user is run through multiple different redirects and views. This results in a clunky experience that is slower, causes one to lose context and even end up on a page where they didn't even start on.

Solution:

Handle the API calls within the client and have everything happen within a modal on the user's current page.

[2022-03-21 18:36] pcolladosoto commented on #22191
# Trying to explain things...
Our team has run into this issue time and time again. We have tried different combinations of both Airflow and Python versions to no avail.

## TL;DR
When a `DAGFileProcessor` hangs and is killed due to a timeout we believe the `self.waitables` and `self._processors` attributes of the `DAGFileProcessorManager` are not being updated as they should. This causes an unhan

[2022-03-21 18:42] bbovenzi opened #22409 "See individual mapped tasks in grid and graph views"
Right now, in the grid and graph view, we show mapped tasks like a task group that can't be expanded. One can get a summary of all the mapped tasks: earliest start date, latest end date, overall state, counts of all mapped instance states.

In the task instance details (panel for Grid, modal for Graph): Show a table of all of the mapped instances. The table should have basic sorting and pagination

[2022-03-21 18:46] potiuk commented on #22264
https://blog.piwheels.org/new-features-deletion-yanking-and-more/

[2022-03-21 19:02] zachliu commented on #22264
aha! to save face, i'll say "no wonder it sounds so familiar"

[2022-03-21 19:06] potiuk commented on #22392
Feel free to make PR to the file sensor if you want.

[2022-03-21 20:32] supritiy commented on #22350
@potiuk The timeouts are for the task itself. We have sensors tasks which end up running for 6+ hours and can't finish in in the grace timeout period. We would rather have them fail and retried later.

[2022-03-21 22:58] danielhoherd opened #22413 "Flower is missing extraVolumeMounts"
### Official Helm Chart version

1.5.0 (latest released)

### Apache Airflow version

2.2.4 (latest released)

### Kubernetes Version

1.19

### Helm Chart configuration

[code]

### Docker Image customisations

_No response_

### What happened

[code]

### What you think should happen instead

The flower pod should support the same extraVolumeMounts that other pods support.

### How to reproduce

[2022-03-21 23:36] #19059 closed

[2022-03-22 00:11] #17975 closed

[2022-03-22 01:24] SamWheating commented on #22381
I think that this was introduced in https://github.com/apache/airflow/pull/21018, so its only included in 2.2.4:

Specifically this addition of this line to the TaskInstance constructor:
https://github.com/apache/airflow/blob/d6031f97ab9fd2666cfbcf5a851b26e2ceb010c6/airflow/models/taskinstance.py#L484

It looks like the only operators which use an argument called `max_tries` are the AthenaOperator

[2022-03-22 07:57] SasanAhmadi opened #22417 "Jenkins Sensor to monitor a jenkins job finish"
### Description

Sensor for jenkins jobs in airflow. There are cases in which we need to monitor the state of a build in jenkins and pause the DAG until the build finishes.

### Use case/motivation

I am trying to achieve a way of pausing the DAG until a build or the last build in a jenkins job finishes.
This could be done in different ways but cleanest is to have a dedicated jenkins sensor in air

[2022-03-22 08:50] talnagar opened #22418 "auto refresh Dags home page"
### Description

Similar to auto refresh in the DAG page, it would be nice to have this option in the home page as well.
![image](https://user-images.githubusercontent.com/7373236/159442263-60bbcd58-50e5-4a3d-8d6f-d31a65a6ff81.png)

### Use case/motivation

having an auto refresh at the home page will let users have a live view of running dags and tasks.

### Related issues

_No response_

### Are

[2022-03-22 08:50] talnagar commented on #22418
I'll be happy to implement it myself if you think it's a viable feature.

[2022-03-22 11:17] #22413 closed

[2022-03-22 13:12] m1racoli commented on #22404
Yeah, I know that when using a context manager the problem doesn't occur, as the context manager explicitly cleans up the directory upon completion.

And yes, running

[code]

directly in Python cleans up the directory (done by the finalizer as @potiuk said).

So now I wonder what's different in Airflow. My judgement is based on the assumption that each task is executed in it's own process and the

[2022-03-22 13:48] potiuk opened #22426 "Migrate Amazon system tests to new design"
There is a new design of system tests that was introduced by the [AIP-47](https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-47+New+design+of+Airflow+System+Tests).

All current system tests need to be migrated, so they can be run in the CI process automatically before releases.

This is an aggregated issue for all system tests related to `Amazon` provider.

It is created to track progress of

[2022-03-22 13:48] potiuk opened #22427 "Migrate Apache Beam system tests to new design"
There is a new design of system tests that was introduced by the [AIP-47](https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-47+New+design+of+Airflow+System+Tests).

All current system tests need to be migrated, so they can be run in the CI process automatically before releases.

This is an aggregated issue for all system tests related to `Apache Beam` provider.

It is created to track progre

[2022-03-22 13:48] potiuk opened #22428 "Migrate Asana system tests to new design"
There is a new design of system tests that was introduced by the [AIP-47](https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-47+New+design+of+Airflow+System+Tests).

All current system tests need to be migrated, so they can be run in the CI process automatically before releases.

This is an aggregated issue for all system tests related to `Asana` provider.

It is created to track progress of

[2022-03-22 13:48] potiuk opened #22429 "Migrate CNCF system tests to new design"
There is a new design of system tests that was introduced by the [AIP-47](https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-47+New+design+of+Airflow+System+Tests).

All current system tests need to be migrated, so they can be run in the CI process automatically before releases.

This is an aggregated issue for all system tests related to `CNCF` provider.

It is created to track progress of t

[2022-03-22 13:48] potiuk opened #22430 "Migrate Google system tests to new design"
There is a new design of system tests that was introduced by the [AIP-47](https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-47+New+design+of+Airflow+System+Tests).

All current system tests need to be migrated, so they can be run in the CI process automatically before releases.

This is an aggregated issue for all system tests related to `Google` provider.

It is created to track progress of

[2022-03-22 13:48] potiuk opened #22431 "Migrate HTTP system tests to new design"
There is a new design of system tests that was introduced by the [AIP-47](https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-47+New+design+of+Airflow+System+Tests).

All current system tests need to be migrated, so they can be run in the CI process automatically before releases.

This is an aggregated issue for all system tests related to `HTTP` provider.

It is created to track progress of t

[2022-03-22 13:48] potiuk opened #22432 "Migrate Microsoft system tests to new design"
There is a new design of system tests that was introduced by the [AIP-47](https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-47+New+design+of+Airflow+System+Tests).

All current system tests need to be migrated, so they can be run in the CI process automatically before releases.

This is an aggregated issue for all system tests related to `Microsoft` provider.

It is created to track progress

[2022-03-22 13:48] potiuk opened #22433 "Migrate Postgres system tests to new design"
There is a new design of system tests that was introduced by the [AIP-47](https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-47+New+design+of+Airflow+System+Tests).

All current system tests need to be migrated, so they can be run in the CI process automatically before releases.

This is an aggregated issue for all system tests related to `Postgres` provider.

It is created to track progress

[2022-03-22 13:48] potiuk opened #22434 "Migrate Snowflake system tests to new design"
There is a new design of system tests that was introduced by the [AIP-47](https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-47+New+design+of+Airflow+System+Tests).

All current system tests need to be migrated, so they can be run in the CI process automatically before releases.

This is an aggregated issue for all system tests related to `Snowflake` provider.

It is created to track progress

[2022-03-22 14:21] uranusjr commented on #22404
Finalisers in Python are somewhat known to not always work, unfortunately, which is why context manager is a thing. Since Python objects can contain non-transparent reference cycles, it is not guaranteed when things are finalised, or even at all.

In this particular situation, my guess is that the exception raised in the function is causing a reference cycle. An exception instance holds the frame

[2022-03-22 14:29] bbovenzi commented on #22418
I was saving any rewrite I would do for the future full react ui in `airflow/ui` vs the current `airflow/www`.

But that doesn't mean we couldn't do something for the current UI. I think a start could be to follow the logic in `graph.js` and add autorefresh to `lastDagRunsHandler()` and `taskStatsHandler()` for unpaused dags that have an active dag run.

[2022-03-22 14:37] potiuk opened #22436 "Migrate Airbyte example DAGs to new design"
There is a new design of system tests that was introduced by the [AIP-47](https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-47+New+design+of+Airflow+System+Tests).

All current example dags need to be migrated and converted into system tests, so they can be run in the CI process automatically before releases.

This is an aggregated issue for all example DAGs related to `Airbyte` provider. It

[2022-03-22 14:37] potiuk opened #22437 "Migrate Alibaba example DAGs to new design"
There is a new design of system tests that was introduced by the [AIP-47](https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-47+New+design+of+Airflow+System+Tests).

All current example dags need to be migrated and converted into system tests, so they can be run in the CI process automatically before releases.

This is an aggregated issue for all example DAGs related to `Alibaba` provider. It

[2022-03-22 14:37] potiuk opened #22438 "Migrate Amazon example DAGs to new design"
There is a new design of system tests that was introduced by the [AIP-47](https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-47+New+design+of+Airflow+System+Tests).

All current example dags need to be migrated and converted into system tests, so they can be run in the CI process automatically before releases.

This is an aggregated issue for all example DAGs related to `Amazon` provider. It

[2022-03-22 14:37] potiuk opened #22439 "Migrate Apache example DAGs to new design"
There is a new design of system tests that was introduced by the [AIP-47](https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-47+New+design+of+Airflow+System+Tests).

All current example dags need to be migrated and converted into system tests, so they can be run in the CI process automatically before releases.

This is an aggregated issue for all example DAGs related to `Apache` provider. It

[2022-03-22 14:37] potiuk opened #22440 "Migrate Asana example DAGs to new design"
There is a new design of system tests that was introduced by the [AIP-47](https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-47+New+design+of+Airflow+System+Tests).

All current example dags need to be migrated and converted into system tests, so they can be run in the CI process automatically before releases.

This is an aggregated issue for all example DAGs related to `Asana` provider. It i

[2022-03-22 14:37] potiuk opened #22441 "Migrate Cncf.Kubernetes example DAGs to new design"
There is a new design of system tests that was introduced by the [AIP-47](https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-47+New+design+of+Airflow+System+Tests).

All current example dags need to be migrated and converted into system tests, so they can be run in the CI process automatically before releases.

This is an aggregated issue for all example DAGs related to `Cncf.Kubernetes` prov

[2022-03-22 14:37] potiuk opened #22442 "Migrate Databricks example DAGs to new design"
There is a new design of system tests that was introduced by the [AIP-47](https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-47+New+design+of+Airflow+System+Tests).

All current example dags need to be migrated and converted into system tests, so they can be run in the CI process automatically before releases.

This is an aggregated issue for all example DAGs related to `Databricks` provider.

[2022-03-22 14:37] potiuk opened #22443 "Migrate DingTalk example DAGs to new design"
There is a new design of system tests that was introduced by the [AIP-47](https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-47+New+design+of+Airflow+System+Tests).

All current example dags need to be migrated and converted into system tests, so they can be run in the CI process automatically before releases.

This is an aggregated issue for all example DAGs related to `DingTalk` provider. I

[2022-03-22 14:37] potiuk opened #22444 "Migrate Docker example DAGs to new design"
There is a new design of system tests that was introduced by the [AIP-47](https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-47+New+design+of+Airflow+System+Tests).

All current example dags need to be migrated and converted into system tests, so they can be run in the CI process automatically before releases.

This is an aggregated issue for all example DAGs related to `Docker` provider. It

[2022-03-22 14:37] potiuk opened #22445 "Migrate Elasticsearch example DAGs to new design"
There is a new design of system tests that was introduced by the [AIP-47](https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-47+New+design+of+Airflow+System+Tests).

All current example dags need to be migrated and converted into system tests, so they can be run in the CI process automatically before releases.

This is an aggregated issue for all example DAGs related to `Elasticsearch` provid

[2022-03-22 14:37] potiuk opened #22446 "Migrate GitHub example DAGs to new design"
There is a new design of system tests that was introduced by the [AIP-47](https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-47+New+design+of+Airflow+System+Tests).

All current example dags need to be migrated and converted into system tests, so they can be run in the CI process automatically before releases.

This is an aggregated issue for all example DAGs related to `GitHub` provider. It

[2022-03-22 14:37] potiuk opened #22447 "Migrate Google example DAGs to new design"
There is a new design of system tests that was introduced by the [AIP-47](https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-47+New+design+of+Airflow+System+Tests).

All current example dags need to be migrated and converted into system tests, so they can be run in the CI process automatically before releases.

This is an aggregated issue for all example DAGs related to `Google` provider. It

[2022-03-22 14:37] potiuk opened #22448 "Migrate HTTP example DAGs to new design"
There is a new design of system tests that was introduced by the [AIP-47](https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-47+New+design+of+Airflow+System+Tests).

All current example dags need to be migrated and converted into system tests, so they can be run in the CI process automatically before releases.

This is an aggregated issue for all example DAGs related to `HTTP` provider. It is

[2022-03-22 14:37] potiuk opened #22449 "Migrate Influx example DAGs to new design"
There is a new design of system tests that was introduced by the [AIP-47](https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-47+New+design+of+Airflow+System+Tests).

All current example dags need to be migrated and converted into system tests, so they can be run in the CI process automatically before releases.

This is an aggregated issue for all example DAGs related to `Influx` provider. It

[2022-03-22 14:37] potiuk opened #22450 "Migrate JDBC example DAGs to new design"
There is a new design of system tests that was introduced by the [AIP-47](https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-47+New+design+of+Airflow+System+Tests).

All current example dags need to be migrated and converted into system tests, so they can be run in the CI process automatically before releases.

This is an aggregated issue for all example DAGs related to `JDBC` provider. It is

[2022-03-22 14:38] potiuk opened #22451 "Migrate Jenkins example DAGs to new design"
There is a new design of system tests that was introduced by the [AIP-47](https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-47+New+design+of+Airflow+System+Tests).

All current example dags need to be migrated and converted into system tests, so they can be run in the CI process automatically before releases.

This is an aggregated issue for all example DAGs related to `Jenkins` provider. It

[2022-03-22 14:38] potiuk opened #22452 "Migrate Microsoft example DAGs to new design"
There is a new design of system tests that was introduced by the [AIP-47](https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-47+New+design+of+Airflow+System+Tests).

All current example dags need to be migrated and converted into system tests, so they can be run in the CI process automatically before releases.

This is an aggregated issue for all example DAGs related to `Microsoft` provider.

[2022-03-22 14:38] potiuk opened #22453 "Migrate MySQL example DAGs to new design"
There is a new design of system tests that was introduced by the [AIP-47](https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-47+New+design+of+Airflow+System+Tests).

All current example dags need to be migrated and converted into system tests, so they can be run in the CI process automatically before releases.

This is an aggregated issue for all example DAGs related to `MySQL` provider. It i

[2022-03-22 14:38] potiuk opened #22454 "Migrate Neo4j example DAGs to new design"
There is a new design of system tests that was introduced by the [AIP-47](https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-47+New+design+of+Airflow+System+Tests).

All current example dags need to be migrated and converted into system tests, so they can be run in the CI process automatically before releases.

This is an aggregated issue for all example DAGs related to `Neo4j` provider. It i

[2022-03-22 14:38] potiuk opened #22455 "Migrate Opsgenie example DAGs to new design"
There is a new design of system tests that was introduced by the [AIP-47](https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-47+New+design+of+Airflow+System+Tests).

All current example dags need to be migrated and converted into system tests, so they can be run in the CI process automatically before releases.

This is an aggregated issue for all example DAGs related to `Opsgenie` provider. I

[2022-03-22 14:39] potiuk opened #22456 "Migrate Papermill example DAGs to new design"
There is a new design of system tests that was introduced by the [AIP-47](https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-47+New+design+of+Airflow+System+Tests).

All current example dags need to be migrated and converted into system tests, so they can be run in the CI process automatically before releases.

This is an aggregated issue for all example DAGs related to `Papermill` provider.

[2022-03-22 14:39] potiuk opened #22457 "Migrate Plexus example DAGs to new design"
There is a new design of system tests that was introduced by the [AIP-47](https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-47+New+design+of+Airflow+System+Tests).

All current example dags need to be migrated and converted into system tests, so they can be run in the CI process automatically before releases.

This is an aggregated issue for all example DAGs related to `Plexus` provider. It

[2022-03-22 14:39] potiuk opened #22458 "Migrate Postgres example DAGs to new design"
There is a new design of system tests that was introduced by the [AIP-47](https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-47+New+design+of+Airflow+System+Tests).

All current example dags need to be migrated and converted into system tests, so they can be run in the CI process automatically before releases.

This is an aggregated issue for all example DAGs related to `Postgres` provider. I

[2022-03-22 14:39] potiuk opened #22460 "Migrate Qubole example DAGs to new design"
There is a new design of system tests that was introduced by the [AIP-47](https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-47+New+design+of+Airflow+System+Tests).

All current example dags need to be migrated and converted into system tests, so they can be run in the CI process automatically before releases.

This is an aggregated issue for all example DAGs related to `Qubole` provider. It

[2022-03-22 14:39] potiuk opened #22461 "Migrate SQLite example DAGs to new design"
There is a new design of system tests that was introduced by the [AIP-47](https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-47+New+design+of+Airflow+System+Tests).

All current example dags need to be migrated and converted into system tests, so they can be run in the CI process automatically before releases.

This is an aggregated issue for all example DAGs related to `SQLite` provider. It

[2022-03-22 15:05] eladkal commented on #22381
This happens because `AthenaOperator` has [`max_tries`](https://github.com/apache/airflow/blob/fa655fe53dcf34a7b581fe3e881d770921dfc7a0/airflow/providers/amazon/aws/operators/athena.py#L72) parameter which conflicts with the one added in https://github.com/apache/airflow/pull/21018 by @yuqian90

To fix this we probably need to make a breaking change to `AthenaOperator` and rename the parameter @po

[2022-03-22 15:05] potiuk commented on #22404
I think it is very probable. And I think secret masker might play a role there.

[2022-03-22 15:14] potiuk opened #22463 "Migrate Salesforce example DAGs to new design"
There is a new design of system tests that was introduced by the [AIP-47](https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-47+New+design+of+Airflow+System+Tests).

All current example dags need to be migrated and converted into system tests, so they can be run in the CI process automatically before releases.

This is an aggregated issue for all example DAGs related to `Salesforce` provider.

[2022-03-22 15:14] potiuk opened #22464 "Migrate Singularity example DAGs to new design"
There is a new design of system tests that was introduced by the [AIP-47](https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-47+New+design+of+Airflow+System+Tests).

All current example dags need to be migrated and converted into system tests, so they can be run in the CI process automatically before releases.

This is an aggregated issue for all example DAGs related to `Singularity` provider

[2022-03-22 15:14] potiuk opened #22465 "Migrate Slack example DAGs to new design"
There is a new design of system tests that was introduced by the [AIP-47](https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-47+New+design+of+Airflow+System+Tests).

All current example dags need to be migrated and converted into system tests, so they can be run in the CI process automatically before releases.

This is an aggregated issue for all example DAGs related to `Slack` provider. It i

[2022-03-22 15:14] potiuk opened #22466 "Migrate Snowflake example DAGs to new design"
There is a new design of system tests that was introduced by the [AIP-47](https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-47+New+design+of+Airflow+System+Tests).

All current example dags need to be migrated and converted into system tests, so they can be run in the CI process automatically before releases.

This is an aggregated issue for all example DAGs related to `Snowflake` provider.

[2022-03-22 15:14] potiuk opened #22467 "Migrate Tableau example DAGs to new design"
There is a new design of system tests that was introduced by the [AIP-47](https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-47+New+design+of+Airflow+System+Tests).

All current example dags need to be migrated and converted into system tests, so they can be run in the CI process automatically before releases.

This is an aggregated issue for all example DAGs related to `Tableau` provider. It

[2022-03-22 15:14] potiuk opened #22468 "Migrate Telegram example DAGs to new design"
There is a new design of system tests that was introduced by the [AIP-47](https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-47+New+design+of+Airflow+System+Tests).

All current example dags need to be migrated and converted into system tests, so they can be run in the CI process automatically before releases.

This is an aggregated issue for all example DAGs related to `Telegram` provider. I

[2022-03-22 15:14] potiuk opened #22469 "Migrate Trino example DAGs to new design"
There is a new design of system tests that was introduced by the [AIP-47](https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-47+New+design+of+Airflow+System+Tests).

All current example dags need to be migrated and converted into system tests, so they can be run in the CI process automatically before releases.

This is an aggregated issue for all example DAGs related to `Trino` provider. It i

[2022-03-22 15:14] potiuk opened #22470 "Migrate Yandex example DAGs to new design"
There is a new design of system tests that was introduced by the [AIP-47](https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-47+New+design+of+Airflow+System+Tests).

All current example dags need to be migrated and converted into system tests, so they can be run in the CI process automatically before releases.

This is an aggregated issue for all example DAGs related to `Yandex` provider. It

[2022-03-22 15:14] potiuk opened #22471 "Migrate Zendesk example DAGs to new design"
There is a new design of system tests that was introduced by the [AIP-47](https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-47+New+design+of+Airflow+System+Tests).

All current example dags need to be migrated and converted into system tests, so they can be run in the CI process automatically before releases.

This is an aggregated issue for all example DAGs related to `Zendesk` provider. It

[2022-03-22 15:14] potiuk opened #22472 "Migrate dbt example DAGs to new design"
There is a new design of system tests that was introduced by the [AIP-47](https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-47+New+design+of+Airflow+System+Tests).

All current example dags need to be migrated and converted into system tests, so they can be run in the CI process automatically before releases.

This is an aggregated issue for all example DAGs related to `dbt` provider. It is

[2022-03-22 15:36] jackemuk opened #22473 "Connections import and export should also support ".yml" file extensions"
### Apache Airflow version

2.2.4 (latest released)

### What happened

Trying to export or import a yaml formatted connections file with ".yml" extension fails.

### What you think should happen instead

While the "official recommended extension" for YAML files is .yaml, many pipeline are built around using the .yml file extension. Importing and exporting of .yml files should also be supported.

[2022-03-22 15:39] potiuk commented on #22473
assigned you

[2022-03-22 16:45] potiuk commented on #22404
I did some testing and I think it comes from the way we run tasks via fork:

[code]

This is exactly what we do to run the task and the tmp directory is not deleted as well. When I replace os._exit() with sys.exit(), the directory is deleted. But using sys.exit() for forked process is wrong and os._exit() is fine:

Via: https://docs.python.org/3/library/os.html#os._exit

We are (correctly) exiting

[2022-03-22 16:50] potiuk commented on #22404
AH NO! I got it.

This is our bug actually. The problem is that we call it in "finally" clause. But we should not.  When finally is being prrocessed, the original exception with the stack trace and the tmpdir are still kept so os._exit() have no chance of running finalizer. Fix is coming!

[2022-03-22 17:06] frankbreetz opened #22474 "CLI command "airflow dags next-execution" give unexpected results with paused DAG and catchup=False"
### Apache Airflow version

2.2.2

### What happened

Current time 16:54 UTC
Execution Schedule: * * * * *
Last Run: 16:19 UTC
DAG Paused
Catchup=False

`airflow dags next-execution sample_dag`
returns
[code]

### What you think should happen instead

I would expect
[code]
To be returned since when you unpause the DAG that is the next executed DAG

### How to reproduce

Create a simple sample dag

[2022-03-22 17:47] chenglongyan commented on #12818
@potiuk  I need to close?

[2022-03-22 19:17] patricker commented on #22350
@potiuk It seems like the root issue is that for some reason the task state doesn't update in the DB, so the task just stays as a Zombie forever. On each iteration of the `_find_zombies` in scheduler_job.py we see the log messages saying it found the zombie task, and then then `Executed failure callback` log message for the task, but the DB never shows that it actually was marked for failure/retry

[2022-03-22 19:21] ybressler commented on #18116
I'm experiencing this issue too.

Could we not design this method to query the relational DB via the ORM directly?

Ex:
[code]

[2022-03-22 19:55] pierrejeambrun commented on #14075
Hello @eladkal and @potiuk,

I think I can help on this one. (Looks like the closed PR was almost it).

I am not sure on how i'm going to test it thought as I need a `Google Display & Video 360` account and they do not seem to offer "free trial" stuff.

[2022-03-22 20:03] eladkal commented on #14075
@pierrejeambrun since this is not working now you can break it any further :)
I'm not really sure if google offer free trial accounts? you can check it.
On the PR you can explain why the change is fixing the problem (reference to the API/underlying lib relevant source code to gain more confidence that the fix is right)

[2022-03-22 20:43] maraimm commented on #13142
I still have the same issue. My version is "2.2.4"

[2022-03-22 21:00] edwardwang888 commented on #20045
@eladkal Sorry for the delay - yes, I am aiming for the next few weeks if that is okay.

[2022-03-22 21:10] m1racoli commented on #22404
Awesome! Great work @potiuk!

[2022-03-22 21:19] eladkal commented on #20045
Just sharing my take on this
If this is configurable I would prefer it to be configurable by user and not some cluster wide definition in `airflow.cfg`
I have dozens of devs working on the same Airflow instance - each one of them can have their own point of view and preference. I as cluster administrator should not / can not decide for them which clock format is best.

I don't know if this is doab

[2022-03-22 21:20] bbovenzi commented on #20045
Is this just the time display in the top nav bar or the date format to use across the whole UI?

[2022-03-22 21:30] edwardwang888 commented on #20045
This is just for the top nav bar. Yes that's correct, the intention is to make it configurable per user, similar to how each user can choose their display timezone.

[2022-03-22 23:17] jedcunningham commented on #10331
I think this might have been fixed in #21483.

[2022-03-22 23:17] potiuk opened #22480 "Status of testing Providers that were prepared on March 23, 2022"
### Body

I have a kind request for all the contributors to the latest provider packages release.
Could you please help us to test the RC versions of the providers?

Let us know in the comment, whether the issue is addressed.

Those are providers that require testing as there were some substantial changes introduced:

## Provider [amazon: 3.2.0rc1](https://pypi.org/project/apache-airflow-providers

[2022-03-22 23:59] alexbegg commented on #20045
I also think that makes the most sense to not make it only an installation-wide configuration.

However, I don't think the user info that you can see at `/users/userinfo/` would be the best place for that configuration, because user info is meant to be something an admin sees/edits/creates, such as a user's "role", and admins won't know what a user's datetime format preference is when creating a u

[2022-03-23 01:15] #10331 closed

[2022-03-23 01:16] kaxil commented on #10331
We can reopen if someone reports it after 2.2.5

[2022-03-23 06:19] rk030912 opened #22481 "After upgrading Version from 1.10.2 to 1.10.14 there is issue with Code of DAG"
### Apache Airflow version

2.0.0

### What happened

After upgrading Version from 1.10.2 to 1.10.14 there is issue with Code of DAG, it behaves weird when i am checking the code in the Airflow UI for DAG1 , it is showing code of DAG2, when i refresh it it again shows the original code, but when i refresh it again it showing some other DAG code, is this a bug in Airflow 1.10.14?

### What you thin

[2022-03-23 07:27] eladkal commented on #22481
Airflow 1.10.14 is EOL - even if there is a bug we can't do anything about it.
I suggest to update to latest Airflow version as soons as possible.

[2022-03-23 08:36] gitruhul commented on #20636
I have my custom operators but no variables with the name params.

But getting this error occasionally:

`Broken DAG: [/opt/airflow/dags/SAMPLE_DAG_USING_PLUGINS.py] Traceback (most recent call last):
  File "/home/airflow/.local/lib/python3.7/site-packages/airflow/serialization/serialized_objects.py", line 578, in serialize_operator
    serialize_op['params'] = cls._serialize_params_dict(op.param

[2022-03-23 08:43] uranusjr commented on #18116
The problem is not _how_ we can change the method, but that we _can’t_ change the method without affecting other things.

[2022-03-23 09:51] alexott commented on #22480
I don't know if it makes sense to release Databricks provider after #22422 is merged?

[2022-03-23 10:00] raphaelauv commented on #22480
https://github.com/apache/airflow/pull/22385: @potiuk -> WORK

airlfow `2.1.4` with `apache-airflow-providers-cncf-kubernetes==3.1.1`

give

[code]

airflow `2.1.4` with `apache-airflow-providers-cncf-kubernetes==3.1.2rc1`

give
[code]

[2022-03-23 10:39] sushi30 opened #22485 "KubernetesPodOperator matches the task pod and foes into deadlock"
### Apache Airflow Provider(s)

cncf-kubernetes

### Versions of Apache Airflow Providers

apache-airflow-providers-cncf-kubernetes==3.1.1

### Apache Airflow version

2.2.2

### Operating System

Centos 7

### Deployment

Official Apache Airflow Helm Chart

### Deployment details

Airflow deployed on kubernetes

### What happened

These tasks have been running for several months. When trying to u

[2022-03-23 10:58] Bowrna commented on #22115
Could I pick up this issue to work on?

[2022-03-23 11:24] raphaelauv commented on #22485
I can't reproduce with

airflow `2.2.2` - `apache-airflow-providers-cncf-kubernetes==3.1.1,`
and
`2.2.4` - `apache-airflow-providers-cncf-kubernetes==3.1.1,`

the operator can re-attach the running pod if I restart the sceduler

[code]

 could you give us more context on the KPO ( what kind of K8S it use, in_cluster ? ... ) and the FULL airflow logs of the error

[2022-03-23 11:37] potiuk commented on #22480
This is a really a bugfix relase with all those things that were merged till yesterday (we have to re-release all packages due to https://github.com/apache/airflow/issues/22380 . We will have another release in about two weeks with only changed providers. I am not sure how fast #22422 is going to be merged, but I do not want to wait with this release as it caused pain already to a number of people

[2022-03-23 11:39] potiuk commented on #22480
Thanks @raphaelauv! Glad to hear. Next to #22380 this one the one I want to have released asap :) (@alexott - this was also the reason I do not want to wait for any other merges).

[2022-03-23 12:19] alexott commented on #22480
Checked #22278 - works as expected

[2022-03-23 12:32] sushi30 commented on #22485
- It is on EKS
- `in_cluster=True`

- Using the `airflow`  namespace. Same as the Airflow deployment.

No special annotations. Using the default template.

[kpo_error.log](https://github.com/apache/airflow/files/8332986/kpo_error.log)

[2022-03-23 12:38] raphaelauv commented on #22485
[code]

it look like your have a 1 hour timeout, can you check

[2022-03-23 12:53] talnagar commented on #22418
I'll look at the code and will give it a try

[2022-03-23 12:59] sushi30 commented on #22485
I do have a one-hour timeout for the *task*. This task takes 30s~1:30s when I downgrade to `apache-airflow-providers-cncf-kubernetes=3.0.2`. When I upgraded, it timed out.

It is supposed to create a *new pod* called `engines-distant-sharer-{randomString}` but instead it *matches* on the pod `tagengineuserenginesdistantsharer` which is the *airflow worker* that is running the task.

[2022-03-23 13:26] vincbeck commented on #22480
#22351 Works!

[2022-03-23 13:28] kosteev opened #22487 ""Running <TaskInstance: *.* * [queued]> on host *" written with WARNING level"
### Apache Airflow version

2.2.3

### What happened

"Running <TaskInstance: *.* * [queued]> on host *" written with WARNING level

### What you think should happen instead

This message should be written with INFO level

### How to reproduce

_No response_

### Operating System

Composer

### Versions of Apache Airflow Providers

_No response_

### Deployment

Composer

### Deployment details

_

[2022-03-23 13:37] frankbreetz commented on #22474
I believe this same issue is showing through the UI, the"next run" on any of the dag views has the same datetime as the 'next-execution' cli command.

[2022-03-23 13:37] #22398 closed

[2022-03-23 13:38] #14075 closed

[2022-03-23 13:52] josh-fell commented on #22480
#22371 Looks good.

[2022-03-23 14:25] potiuk commented on #21547
This one shoud be fine :)

[2022-03-23 14:27] potiuk commented on #21547
BTW. There are some small changes coming soon as well (pretty cool in terms of optimizations) - you will have to do some modifications there too, but this should be easy.

[2022-03-23 14:47] potiuk commented on #22418
Good luck :)

[2022-03-23 16:06] Bowrna commented on #21547
Sure looking forward to it

[2022-03-23 16:06] raphaelauv commented on #22485
you had this problem just after updating apache-airflow-providers-cncf-kubernetes ?

scenario :

1) start a pod with apache-airflow-providers-cncf-kubernetes=3.0.2

2) restart airlfow with apache-airflow-providers-cncf-kubernetes=3.1.1

3) scheduler do not re-attach correctly the pod and timeout

?

[2022-03-23 16:26] jbylund opened #22490 "Expose `DummyOperator` under the `EmptyOperator` name"
### Description

Expose the DummyOperator class under a different name (or move it), to allow consumers to avoid the use of the word `Dummy` in source.

### Use case/motivation

Some projects have language guidelines for avoiding certain words, dummy occasionally shows up on these lists.

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

[2022-03-23 16:35] sushi30 commented on #22485
only clarification is that regarding (3), the scheduler is able to start a
worker pod which fails to start the task pod.

On Wed, 23 Mar 2022 at 16:06, raphaelauv ***@***.***> wrote:

[2022-03-23 16:35] uranusjr commented on #22474
I guess the viable solution would be to add a flag to optionally respect catchup (and perhaps emit a warning when the command is run without the option but with `catchup=False`, to tell the user to explicitly specify the behaviour).

[2022-03-23 17:34] pingzh commented on #8989
@liamganose @kurtqq here is the PR https://github.com/apache/airflow/pull/22491

[2022-03-23 17:39] jbylund commented on #22490
Ahh, thanks for the reference, I did a quick issue search and didn't find anything.

Looks like people prefer the term `EmptyOperator`, I'll update the title of this issue and see how easy it would be to make a pr (tempted to say it should be reasonably straightforward).

[2022-03-23 18:00] eladkal commented on #22490
Closing as duplicate of https://github.com/apache/airflow/issues/15994
(I will probably submit a PR for this sometime if no one will do it sooner)

[2022-03-23 18:00] #22490 closed

[2022-03-23 18:22] supritiy commented on #22350
We found the problem, a custom task callback on task failures was closing the session before commiting.

[2022-03-23 18:22] #22350 closed

[2022-03-23 19:40] potiuk commented on #22474
@frankbreetz  - marked it as "good first issue" - so maybe someone can implement it. But maybe you would like to fix it and become contributor?

[2022-03-23 19:49] potiuk commented on #22485
Hmm. My question Is it always the case with 3.1.1 or is it something specific for @sushi30 setup?

[2022-03-23 20:17] frankbreetz commented on #22474
I may need some help, but go ahead and sign me up

[2022-03-23 20:26] pierrejeambrun commented on #22480
#22296 is mostly documentation and looks good. (The docker image was build locally and is working) :+1:

[2022-03-23 23:47] aljanson commented on #21605
Hello, I tried using the latest package version 3.1.1 but face the same issue as above, any recommendations?

[2022-03-24 00:38] aschoe21 commented on #22339
I'm new here but I'd like to take on this feature

[2022-03-24 00:59] bbovenzi commented on #22339
Assigned you. Feel free to reach out if you need help with anything.

[2022-03-24 08:01] #22417 closed

[2022-03-24 08:07] potiuk commented on #22349
Hey @shicholas @094459 - did you manage to make a proposal :) ? I had some discussions during the FOSS backend conference, and while I have no "final" answers of how we progress if we get the project, it looks like it will be possible (and I am happy to pilot that part from making sure we do it "right").

[2022-03-24 08:07] potiuk commented on #22349
(there is time till tomorrow to send the submission :) )

[2022-03-24 08:10] potiuk commented on #22380
FYI in  case you did not notice @xylar - we are voting on the packages with the fix Discussion here: https://lists.apache.org/thread/g990cb3vqkzq7jr3yvldy253wtt8vhnq and "test issue" in #22480.

Would be great if you could confirm that the RC packages look good for you as well (few of them that contains some other fixed are mentioned and linked from #22480).

[2022-03-24 08:16] potiuk commented on #22380
BTW. I compared (for example) https://pypi.org/pypi/apache-airflow-providers-docker/2.5.1/json with https://pypi.org/pypi/apache-airflow-providers-docker/2.5.2rc1/json so it **shoudl** be fine - but I think with your conda stuff you can check more :)

[2022-03-24 08:30] 094459 commented on #22349
We did have a brief call yesterday but the submission was not discussed. We mainly focused on the approach and what topics to cover.

[2022-03-24 08:37] potiuk commented on #22349
Can I help somehow :) ?

[2022-03-24 08:40] potiuk commented on #12818
I think it will be closed when merged

[2022-03-24 09:30] eladkal commented on #22392
We now have generic type https://github.com/apache/airflow/pull/22310
I guess you can either raise error or maybe just fallback to the generic if the type is not recognized?

[2022-03-24 10:29] sushi30 commented on #22485
I cannot identify anything unique in my setup. The tasks in this setup have been working without fault for the past year or so. This broke with the change to 3.1.1.

[2022-03-24 11:15] sushi30 commented on #22485
I am able to reproduce this with a minimal configuration helm chart on minikube. The latest apache/airflow image is using version 3.0.2 so you need to create a custom image with the new provider version. This DAG works fine with 3.0.2 and hangs in 3.1.1:

[code]

[code]

[2022-03-24 11:17] raphaelauv commented on #22485
If 3.1.1 is not managing correctly the POD's started in 3.0.2 then can you delete the pod and clear the airflow TASK and the XCOM
so the task ( with 3.1.1) can start a real new POD and not try to re attach a running POD

[2022-03-24 11:18] sushi30 commented on #22485
This has nothing to do with pods started in `3.0.2`. The KPO is not able to start new pods in `3.1.1`.

[2022-03-24 12:24] xylar commented on #22380
Thank you!  I agree that the the dependencies in `apache-airflow-providers-docker` 2.5.2rc1 look good.  If the other providers are similar, we'll be in great shape!

[2022-03-24 12:26] xylar commented on #22380
Yep, I took a look at several more and they also look good.

[2022-03-24 12:34] potiuk commented on #22380
Cool. Thanks for sparing another pair of eyes :)

[2022-03-24 14:27] mnojek commented on #22447
Hey, please update the checklist.

These example DAGs are being **removed by PR #22311**:

- airflow/providers/google/cloud/example_dags/example_bigquery_operations.py
- airflow/providers/google/cloud/example_dags/example_bigquery_queries.py
- airflow/providers/google/cloud/example_dags/example_bigquery_sensors.py

And these are **WIP** (Work In Progress) (not sure how we are going to mark them, b

[2022-03-24 18:08] SamWheating commented on #21397
Closed in https://github.com/apache/airflow/pull/21399

[2022-03-24 18:08] #21397 closed

[2022-03-24 19:26] virendhar-aws opened #22512 "ECS Operator: Realtime container execution logs in Airflow task execution log"
### Description

# Objective:
Add functionality to Airflow ECSOperator to capture the task execution logs as they happen from AWS CloudWatch to the ECSOperator's task execution logs.

### Use case/motivation

Present Challenge:
When executing Fargate tasks via ECSOperator the logs are not readily available in Airflow task during execution. The logs are shown after execution and final status of the

[2022-03-24 21:23] #22404 closed

[2022-03-24 22:53] pierrejeambrun commented on #11547
Hello,

Thank you @eladkal for pointing me to this issue. I'd be glad to work on it and implement the suggested modifications.

Best,

[2022-03-25 03:22] harishkrao commented on #20453
Of the open issues, only the airbyte provider issues remain to be fixed. I am working on them and will submit a separate PR soon.
[code]

[2022-03-25 05:13] shicholas commented on #22349
email sent to both of you, let's start moving this to Slack and get something ready for the 4/4 deadline.

[2022-03-25 05:13] #22349 closed

[2022-03-25 08:15] potiuk commented on #22437
We are just about to merge #22311

[2022-03-25 09:40] #22487 closed

[2022-03-25 09:42] potiuk commented on #20453
Cool ! Fantastic that you are following this one up!

[2022-03-25 10:43] bhirsz commented on #22437
I took a quick look into your examples - there are short so they could also make good example (since our PR is bloated with all changes required). You don't have any system tests - which in old design were usually pytest classes that were invoking example dags. In a new design it's somehow similar (in a sense that we have a file, that works both as a system test and example).
From my POV action po

[2022-03-25 13:16] EricGao888 commented on #22437
Thanks for the detailed explanation! It's very coooool!

[2022-03-25 14:29] bipin2295 opened #22528 "Airflow worker pod got terminated causing the jobs to be marked as Failed"
### Apache Airflow version

2.2.3

### What happened

We are using Airflow with KubernetesExecutor. During the execution of job, the airflow pod seems to be restarted or terminated, which has caused the running job to be marked as failed with SIGTERM error.

Below is the log in airflow:
[code]

Below is the log within the Airflow worker pod:

[code]

Below is the log within the scheduler pod durin

[2022-03-25 14:45] dskoda1 opened #22529 "Airflow Worker not picking up "cmd" in config file"
### Apache Airflow version

2.2.3

### What happened

We are leveraging the ability to fetch secrets in the cfg files at runtime, by adding the `_cmd` suffix to certain configs, such as `sql_alchemy_conn_cmd` and `broker_url_cmd`, as described in [the docs](https://airflow.apache.org/docs/apache-airflow/stable/howto/set-config.html).

This is working fine for the scheduler and webserver components

[2022-03-25 16:18] potiuk commented on #22480
Few more hourse do do more testing :)

[2022-03-25 16:33] ulsc commented on #22480
#22219 works.

[2022-03-25 17:15] KulykDmytro opened #22532 "sla_miss.execution_date is incorrect for daily dagruns"
### Apache Airflow version

2.2.4 (latest released)

### What happened

When inspecting metadata in airflow tables about sla stuff found that
* in case of daily DAG's schedule `execution_date` attribute for `sla_miss` is filled with unexpected value. Seems like `data_interval_end`
![image](https://user-images.githubusercontent.com/34435869/160171043-13db4ae4-4166-4638-a2bc-504e48013ffe.png)
* in c

[2022-03-25 19:52] danielbeach commented on #22317
@potiuk I would like to work on this as my first contribution. I would appreciate any mentorship through the process. I'm going to work this weekend to get every cloned and start investigating. Thanks!

[2022-03-25 20:04] potiuk commented on #22317
Sure :). Go ahead and ask questions. Ideally - in #airflow-how-to-pr  channel in our slack so that it does not rely on me being present. There are plenty of contributors who can help. It does not have to be me

[2022-03-26 01:55] potiuk commented on #22380
New providers released. They are all yours @xylar

[2022-03-26 01:55] potiuk commented on #22480
Thanks everyone. All providers are out !

[2022-03-26 01:55] #22480 closed

[2022-03-26 17:12] xylar commented on #22380
Thanks again.  Most new providers should be should now be available from conda-forge.  There were a few newer ones that I hadn't added recipes for yet.  They're awaiting review (or review of missing dependencies).

[2022-03-26 19:55] #19654 closed

[2022-03-26 21:32] potiuk commented on #11740
Not needed after #22492. With the new Biuildkit features we can have the Dockerfile standalone, which removes the need of having a separate repository for Dockerfile as it is just a standalone file

[2022-03-26 21:32] #11740 closed

[2022-03-27 09:10] #11547 closed

[2022-03-27 11:20] ephraimbuddy opened #22549 "Status of testing of Apache Airflow 2.2.5rc3"
### Body

We have a kind request for all the contributors to the latest [Apache Airflow RC 2.2.5rc3](https://pypi.org/project/apache-airflow/2.2.5rc3/).

Could you please help us to test the RC versions of Airflow?

Please let us know in the comment if the issue is addressed in the latest RC.

- [ ] [Set X-Frame-Options header to DENY unless X_FRAME_ENABLED is set to true (#19491)](https://github.

[2022-03-27 11:43] potiuk commented on #22549
All good.

Checked #22241 - > classifier is there

![image](https://user-images.githubusercontent.com/595491/160279444-0a40a5b6-9c0c-4286-b2b1-bd7db8b5db70.png)

#21905 and #22527  were mostly to mke sure the tests pass (they did :) )

#22027 - > I checked that dependencies are ok (below). Tests passed too. It would be great @subkanthi if you could check it (I have no Dask account ) :)

http https

[2022-03-27 12:24] xylar opened #22551 "Consider depending on `azure-keyvault-secrets` instead of `azure-keyvault` metapackage"
### Description

It appears that the `microsoft-azure` provider only depends on `azure-keyvault-secrets`:
https://github.com/apache/airflow/blob/388723950de9ca519108e0a8f6818f0fc0dd91d4/airflow/providers/microsoft/azure/secrets/key_vault.py#L24
and not the other 2 packages in the `azure-keyvault` metapackage.

### Use case/motivation

I am the maintainer of the `apache-airflow-providers-*` package

[2022-03-27 13:04] mixilchenko commented on #22549
https://github.com/apache/airflow/pull/21729 looks good for 2.2.5 release

[2022-03-27 13:44] potiuk commented on #22191
@pcolladosoto  - I :heart: your detailed description and explanation. It reads like a good crime story :dagger:

Fantastic investigation and outcome.

How about you clean it up a bit and submit a PR fixing ti?

[2022-03-27 14:12] Bowrna commented on #22392
Shall I fix this issue?

[2022-03-27 14:28] potiuk commented on #22392
Feel free !

[2022-03-27 15:36] potiuk commented on #21605
@bhavaniravi  I think the root cause of the problem is that you can't read the logs of the POD. This looks like misconfiguration of your service account.

The root cause of the problem is not parsing, nor even empty line but the fact that you cannot read the logs:

`unable to retrieve container logs for docker://c2cd33567efa4a95f555ccb6d7fda760b65bb9cf2d13087d2704e2e8b974e42a`

Maybe you should lo

[2022-03-27 15:42] potiuk commented on #21817
Without full stack trace it is impossible to determine the root cause. Please submit full stack trace information (can be a link to gist) when it happens again. Converting it to a discussion when we know more.

[2022-03-27 16:16] potiuk commented on #22485
@sushi30 - it is very likely something environmental for you. People often argue that "it worked before so it must be backwards compatibiliity problem" where in fact there might be other - environmental factors where misconfiguration or wrong deployment caused things to "work" (or rather mask problem) before, only to be revealed when for example new library provides more thoropugh check. Or maybe

[2022-03-27 16:16] potiuk commented on #22485
Converting it into a discussion until we have more information.

[2022-03-27 16:30] stablum commented on #19957
Unfortunately I'm still experiencing this bug with Airflow 2.2.4:

[code]

[2022-03-27 16:39] potiuk commented on #22512
Hopefully someone will take it - but if you want to make it happen, the fastest and most certain way is to become a contributor and submit it as a PR (which I heartily encourage you to do). That should involve streaming the logs from Fargate (in a similar way we do it for K8S Pod Operator.

[2022-03-27 16:54] mik-laj commented on #22551
@xylar Assigned!

[2022-03-27 18:47] raphaelauv commented on #22549
**https://github.com/apache/airflow/pull/18797 look good**

with python 3.6

[code]

with python 3.9

[code]

[2022-03-27 19:11] #19917 closed

[2022-03-27 19:52] potiuk commented on #22529
This is very unlikely to happen. There is no distinction vs. commands in Airflow. You must have a different configuration of your deployment tooling.

[2022-03-27 20:06] aljanson commented on #21605
Just adding a little more context. I am using Airflow 2.x to spin up pods on an Azure Kubernetes Cluster using the KubernetesPodOperator operator.

Its interesting that I dont face the above logging issues when running the pod on a provisioned node. However, the moment I try to execute the same on the newer [virtual nodes](https://docs.microsoft.com/en-us/azure/aks/virtual-nodes), it starts hittin

[2022-03-27 20:21] #22034 closed

[2022-03-27 21:09] pierrejeambrun commented on #8459
Hello guys,

Thank you @eladkal for pointing me to this issue. I would be glad to help on this one :)

Best,

[2022-03-27 21:24] eladkal commented on #8459
Since @scrdest doesnt have the time to finish i assiged to you

[2022-03-27 21:29] eladkal commented on #8387
https://github.com/apache/airflow/pull/22536 might have solved this.
@pierrejeambrun can you confirm?

[2022-03-27 21:56] dszakallas opened #22560 "KubernetesExecutor does not work with exec authentication on kubernetes client >= 22.6.0"
### Apache Airflow version

2.2.4 (latest released)

### What happened

When using KubernetesExecutor with `in_cluster = False` in conjunction with a Config with an `exec` user using [`kubelogin`](https://github.com/Azure/kubelogin), something wrong happens and authentication does not take place:

[code]

I managed to trace back to the source of the error to `RefreshConfiguration`, and create a wo

[2022-03-27 22:05] pierrejeambrun commented on #8387
Normally it does indeed solve this issue. In my test I could export and then load in bigquery each of these different fields.

[2022-03-27 22:12] #8387 closed

[2022-03-27 22:34] pcolladosoto commented on #22191
Hi @potiuk! I'm glad you found our investigation useful and that you had fun reading through it. Reading so may Agatha Christie books has to pay off at some point 😜

I would be more than happy to polish it all up and open a Pull Request so that the changes are incorporated into Airflow itself. I'll do my best to find some time to do it throughout the week.

And thanks a ton for the kind words! I r

[2022-03-27 23:02] dszakallas commented on #22560
I did a bit more of debugging, it seems that the error is not specific to kubelogin. I am renaming the ticket as it has little to do with kubelogin and Azure.

I found this in the logs:
[code]
Changing
https://github.com/apache/airflow/blob/ee9049c0566b2539a247687de05f9cffa008f871/airflow/kubernetes/refresh_config.py#L61
to
[code]
resolves the issue.

I am using the following version of `kubernete

[2022-03-28 02:23] lrbsantos commented on #19104
Hi @Bowrna, did you find the reason and a fix for this issue? I am facing the same problem right now. I checked the files as @potiuk recommended and each one of them seems to be ok.

[2022-03-28 03:56] MatrixManAtYrService opened #22561 "Mapped task is not expanded when mapped against a literal"
### Apache Airflow version

main (development)

### What happened

Here's a DAG:

[code]

<details>
<summary>Outdated report here; no longer relevant</summary>

When I unpause it, the scheduler crashes like so:
[code]

</details>

After some updates, this now fails with the following scheduler logs:

[code]

[2022-03-28 03:56] eladkal commented on #22560
@dszakallas can you open PR with the suggested fix?

[2022-03-28 07:23] potiuk commented on #22191
Cool. If you have any questions during the contribution process - happy to help - just "@" me. And  even if you are not sure about some of the decisions, we can discuss it in the PR and iterate before we merge (and drag-in more of the minds here to make it really good)

[2022-03-28 07:44] potiuk commented on #22560
That might be another one (@ephraimbuddy @dstandish) that might make 2.2.5 needing an RC2
There is this huge bump of K8S client  version from 2.2.4 (11.0.0 -> 23.3.0)  so I think we should be extra careful and possibly do some more testing to prevent regressions there, otherwise we might need to release 2.2.6 reallly quickly.

[2022-03-28 10:26] idnoclip commented on #11309
I had similar issue on Raspberry Pi - it seemed that somehow service used different PATH variable than the user running it. I managed to work it around by modyfing /etc/systemd/system/airflow-scheduler.service file, replacing the line:

`ExecStart=/bin/bash -c '/path/to/airflow scheduler'`

with

`ExecStart=/bin/bash -c 'PATH=$PATH:/path/to/airflow; /path/to/airflow scheduler'`

This way i was sur

[2022-03-28 10:35] uranusjr commented on #22561
Can you try if #22396 fixes this?

[2022-03-28 11:58] tirkarthi commented on #22141
Hi, I would like to work on this feature and this is my first patch. I looked into `airflow conf list` that has `show_config`  to print config. It doesn't seem to mask sensitive values. I wrote another function that initializes `AirflowConfigParser` and uses `as_dict` that masks sensitive values to read the masked config again using `read_dict`. I am not sure if the approach is correct. Patch with

[2022-03-28 12:29] tirkarthi commented on #22289
This is handled in two places where tags can be None and fallback to empty list/set . Removing the or condition to use empty list/set causes below test to fail since `test_bulk_write_to_db` tests by setting `tags = None` that is very similar to the test case here.

`pytest -x tests/models/test_dag.py -k test_bulk_write_to_db`

https://github.com/apache/airflow/blob/2f5a567977e1219cab16c2548825a1b9

[2022-03-28 12:37] Jorricks commented on #19059
@potiuk should we update the README.md?

[2022-03-28 13:56] potiuk commented on #22447
Updated

[2022-03-28 14:04] potiuk commented on #19059
It's already updated https://github.com/apache/airflow/blob/main/README.md . Only `main` version supports Python 3.10. What other update would you need? If it is missing somewhere in other readmes you see - feel free to open PR :)

[2022-03-28 14:50] MatrixManAtYrService commented on #22561
@uranusjr  it does prevent the scheduler from crashing, but the task fails and I don't get any task logs from it (`./logs/dag_id=my_name_is` doesn't appear).

Here are the scheduler logs:

[code]

[2022-03-28 15:33] bmoon4 commented on #18410
@alex-astronomer @eladkal I agree with `I think the easiest way to overcome this is just having a configuration in airflow.cfg that lets users decide if they want to enable this feature or not.`

[2022-03-28 15:58] jedcunningham commented on #22560
@dszakallas, not sure what version of the kubernetes provider you have, but try with this combo:

[code]

Basically, 2.2.4 only works with `11.0.0`, and provider `3.1.2` only works with k8s >=21.7.0. The "common ground" is the above versions.

[2022-03-28 16:12] veinkr commented on #13637
Hi, It seems that the issue still exists.
I'm using Airflow 2.2.4 with Python3.9 on local,
`airflow scheduler - DagFileProcessor xxx.py`
It show my `top ` every seconds with different pid , does it will create process every seconds?

My config is below.
[code]

[2022-03-28 17:20] dstandish commented on #22560
closing for the following reasons

this issue should be resolved by using constraints file as suggested by @jedcunningham

And from airflow 2.3.0, we remove anyway the “refresh configuration” code that is the problem here.

[2022-03-28 17:20] #22560 closed

[2022-03-28 18:21] dstandish commented on #12136
it appears this issue was resolved in PR https://github.com/apache/airflow/pull/17649

that PR was released in airflow 2.0.3

[2022-03-28 18:21] #12136 closed

[2022-03-28 18:32] Bowrna commented on #19104
Hi, @lrbsantos Currently I am using SQLite as the backend as I got other issues when working with MySQL. But I tried setting `explicit_defaults_for_timestamp` key set as ON and tried again. May be you could try that too?

[2022-03-28 18:49] potiuk commented on #15990
it appears this issue was resolved in PR https://github.com/apache/airflow/pull/17649

that PR was released in airflow 2.0.3

[2022-03-28 18:50] potiuk commented on #15990
@trucnguyenlam -> just upgrade to latest cncf.kubernetes provider.

[2022-03-28 18:51] potiuk commented on #11629
it appears this issue was resolved in PR https://github.com/apache/airflow/pull/17649

that PR was released in airflow 2.0.3

[2022-03-28 18:51] #11629 closed

[2022-03-28 18:55] potiuk commented on #21727
Please download your `kubernetes` library versuion to 11.0.0. You apparently did not use constraints when you installed airflow and providers. We are just adding a protection to make it harder to upgrade to incompatible version of kubernets library, and we just yanked `3.0.2` cncf.kubernetes provider for people who did it - but using constraints as described in https://airflow.apache.org/docs/apac

[2022-03-28 18:56] #21727 closed

[2022-03-28 19:03] potiuk commented on #21548
This is adifferent story. I think this one is a real issue that needs to be handled.

[2022-03-28 19:24] potiuk commented on #21605
While we do not know the root cause, the #22566 should mitigate the crash. Will be released in the next provider (but the next provider will only be installable in 2.3.0 +).

[2022-03-28 19:25] #21605 closed

[2022-03-28 19:35] #22115 closed

[2022-03-28 19:35] dstandish commented on #21727
Appears to be duplicate of https://github.com/apache/airflow/issues/21548

[2022-03-28 19:41] potiuk commented on #19104
Just run `./breeze stop` first. And restart ./breeze after. It shoudl help

[2022-03-28 20:06] brettplarson opened #22576 "SFTP connection hook not working when using inline Ed25519 key from Airflow connection"
### Apache Airflow version

2.2.4 (latest released)

### What happened

I am trying to create an SFTP connection which includes the extra params of `private_key` which includes a txt output of my private key. Ie: `{"look_for_keys": "false", "no_host_key_check": "true", "private_key": "-----BEGIN OPENSSH PRIVATE KEY-----
keygoeshere==\n----END OPENSSH PRIVATE KEY-----"}`

When I test the connection

[2022-03-28 20:20] potiuk commented on #22576
Feel free to make a PR to fix it (otherwise maybe someone can add this feature)

[2022-03-28 21:46] dacort commented on #20215
I just published some information about how to use (a custom, while in preview) boto3 to access the EMR Serverless API.

https://github.com/aws-samples/emr-serverless-samples/tree/main/examples/python-api

[2022-03-28 23:50] yuqian90 commented on #22381
@eladkal `max_tries` is an attribute of `TaskInstance`. #21018 is basically fixing a bug of the web UI to not reset its value by mistake when someone opens the Task instance web page. It's not clear to me how it conflicts with `AthenaOperator` which is a `BaseOperator` instead of `TaskInstance`.

[2022-03-29 00:05] lrbsantos commented on #19104
Hi @Bowrna thank you for your reply. I switched to SQLite, as you commented, and now it's working fine. @potiuk thank you for your support too, I tried all alternatives that you recommended about this issue, but I didn't get MySQL to work as the backend.

[2022-03-29 02:16] egS27 commented on #15990
@dstandish was the original issue resolved? In this case, please, provide corresponded note in the changelog. We are still using custom logging.

[2022-03-29 03:11] rsibanez89 commented on #10451
@kaxil this solution works but seems like a hack to me. Is there any plan to solve this properly?

[2022-03-29 03:31] dstandish commented on #15990
Jarek provided the [resolving PR](https://github.com/apache/airflow/pull/17649)  [above](https://github.com/apache/airflow/issues/15990#issuecomment-1081015823). You can open the changelog and search for `17649` to see the changelog note.  It was fixed quite a while ago (in 2.0.3) it seems.

[2022-03-29 04:18] uranusjr commented on #10451
The subclassing solution is not a hack 🙂 Rendering `.json` with Jinja2 is a feature by design on the oeprator, and if you don’t want that feature, you should make your own operator, i.e. by subclassing.

[2022-03-29 08:44] hankehly commented on #22512
It looks like the `EcsTaskLogFetcher` tries to handle this already. I'll test it out myself to see if it works.

https://github.com/apache/airflow/blob/e63f6e36d14a8cd2462e80f26fb4809ab8698380/airflow/providers/amazon/aws/operators/ecs.py#L125-L132

[2022-03-29 08:52] hankehly commented on #22512
@virendhar-aws Could you check that you're using version 2.3.0 or above?

[2022-03-29 08:56] hankehly commented on #22512
@virendhar-aws Could you check that you're using `apache-airflow-providers-amazon` 2.3.0 or above?

[2022-03-29 10:01] potiuk commented on #15990
@egS27 - as mentioned above the original report is for 1.10 which is EOL for 10 months already and there is no expectation on any support there, including finding specific commits that fix the problem from the community. However our code and issues are fully open, and you can search for relevant issus fixing the problem. Using EOL version means exactly this - you are on your own and you should exp

[2022-03-29 10:08] potiuk commented on #15990
And just to clarify - the 2.0.2 issue you mentioned has been (likely) fixed in https://github.com/apache/airflow/pull/17649

We are NOT referring to issues in the changelogs. Our changelogs refer to PRs that solve the problem instead. And those PRs are linked to the issues when they are relevant (like this one is ). So please. Upgrade. Don't expect your particular issue will be refered to in the c

[2022-03-29 10:08] potiuk commented on #15990
Again - just to set the expectations, becasue apparently your expectations were different.

[2022-03-29 11:42] egS27 commented on #15990
@dstandish Jarek mentioned that this pr was for resolving not the original issue. (**different** story which appears this issue was resolved in PR 17649).  This is why I am asking about the original issue, in particular, maybe don't get the idea correctly...
@potiuk I got your point. Yes, we identified a bug in the stale version, but we use a fresh one and don't miss updates. If the bug was identi

[2022-03-29 12:05] potiuk commented on #15990
@sg27  Because you are looking in a wrong place. This is a kubernetes provider fix, not airflow. https://airflow.apache.org/docs/apache-airflow-providers-cncf-kubernetes/stable/index.html

[2022-03-29 12:14] potiuk commented on #15990
And I heartily recommend "search" on Airlfow docs site. It really fast and really good:

![image](https://user-images.githubusercontent.com/595491/160608893-62ab9b9b-2207-4dc5-9bed-27835b5bbe6a.png)

[2022-03-29 13:34] potiuk commented on #20849
And one more comment - few more things have happened since (ARM support and some optimisations). This one is "still" on my list after those are complete and we migrate to new python based build-image scripts.

[2022-03-29 14:09] potiuk commented on #22141
Just open a PR with it it (referring to this one - it will be easier to dicuss it).

[2022-03-29 14:43] anto155 commented on #16738
While using rsa key in pem format, ssh hook seem to expect ed25519 type of key as highlighted. rsa keys were working fine earlier and started having issue from last few months. Is there something recently changed?

Traceback (most recent call last):
  File "/usr/local/lib/python3.7/site-packages/airflow/models/taskinstance.py", line 984, in _run_raw_task
    result = task_copy.execute(context=cont

[2022-03-29 14:44] tirkarthi commented on #22141
Thanks, created https://github.com/apache/airflow/pull/22588

[2022-03-29 15:06] rgdev commented on #22035
Error occurs on both 2.2.3 and 2.2.4 (python 3.9) running in Docker containers. I've made the same observations as @SangwanP, it works once then a few minutes need to pass by to access it again. In this test case the users are handled using google oauth.

[code]

[2022-03-29 15:10] anto155 commented on #16738
As it is Airflow 1.10, initiated a discussion. Issue is not allowed for Airflow 1.10.

[https://github.com/apache/airflow/discussions/22589](url)

[2022-03-29 15:16] potiuk commented on #16738
BTW. Upgrade to Airflow 2. Airfow 1.10 is EOL for more than 10 months now and there were already security fixes in Airflow 2 that will never make it to 1.10 (no more updates there). So I strongly advise you to upgrade.

You've been warned.

[2022-03-29 15:21] monti-python opened #22590 "Add extraManifests option to helm chart"
### Description

During the lifecycle of a Helm release, very often we need to create custom additional kubernetes resources that are managed separately using `kubectl apply -f myresources.yml`.

It would come in handy if there was an `extraManifests` section on the helm chart so that these custom additional resources can be managed along with the chart.

The idea is not mine, but is present in an

[2022-03-29 16:36] avinovarov commented on #16290
Bumping into same issue, would be happy to have it fixed, thanks!

[2022-03-29 16:40] virendhar-aws commented on #22512
@hankehly - I noticed this on an earlier version Airflow 2.0.0. Let me verify the same on a recent version later this week.

[2022-03-29 17:00] potiuk commented on #16738
From the description (if you saw it) It seems you have a problem with your key being somewhat not proper (but Paramiko telling you some lies about it ). This is not a problem with airflow. So the solution is - fix your authentication (if this is is your problem). But I do not know what problem you have. You might try your luck with Paramiko forums.

[2022-03-29 17:01] potiuk commented on #16738
BTW. It's really funny when people are told they should expect no support and then they .... expect support :).

[2022-03-29 17:04] ferruzzi opened #22594 "@task and chain() don't play well together"
### Apache Airflow version

main (development)

### What happened

I've been told that the current community preference is to use an @task decorated method instead of the Python Operator when possible, but the chain() method does not support that yet. `ci_install_and_test_provider_packages.sh` will fail with the following message:

[code]

### What you think should happen instead

Might be as simp

[2022-03-29 17:05] ferruzzi commented on #22594
Willing to do the PR on this, but I have my next couple of issues lined up.  This seems like it should be an easy first commit for someone; if someone else gets to it before I do, then great.

[2022-03-29 17:05] potiuk commented on #22594
Assigned you :)

[2022-03-29 17:10] mike-mcdonald commented on #22549
Tested #20883 on 2.2.5rc2. Tests passed, using the connection form to test saving also worked as expected.

[2022-03-29 17:26] josh-fell commented on #22594
FWIW this only seems to be an issue on `main`. I confirmed you can use `chain()` with TaskFlow functions in 2.2.4 and 2.2.5rc2. This functionality was introduced with #16732. I also wonder why the unit tests aren't failing though.

[2022-03-29 17:32] ferruzzi commented on #22594
In case the unit tests passing locally are a Layer 8 issue, my testing procedure before pushing is to run `pre-commit run --all-files` then `./scripts/ci/testing/ci_run_airflow_testing.sh`.  Currently also running `./breeze build-docs -- --package-filter apache-airflow-providers-amazon` since I'm working on AWS docs and sample dags, but the first two always run and they pass just fine.

[2022-03-29 17:33] jkramer-ginkgo commented on #22549
#21770 <https://github.com/apache/airflow/pull/21770> confirmed with heavy
load

On Mon, Mar 28, 2022 at 12:06 PM Kanthi ***@***.***> wrote:

[2022-03-29 17:48] josh-fell commented on #22594
Actually, I can get the example in this issue and `example_hive_to_dynamodb` DAG to parse just fine locally with `main` as well using Breeze.

@ferruzzi Is this what you are seeing as well?

[2022-03-29 17:51] dstandish commented on #21727
hi @chengzi0103 it appears that your task likely failed for reasons unrelated to the traceback shown.

sometimes logs read is interrupted due to connection issue.  in that case we catch the error and resume logging.  and that's what that traceback is about. but note that it is only a warning, and that the logs later resume, and the task doesn't fail for another 8 minutes.

your issue report inspir

[2022-03-29 17:59] ferruzzi commented on #22594
Yeah, locally in Breeze no issue at all.  It's when I put in [the PR](https://github.com/apache/airflow/pull/22517) that it fails:   https://github.com/apache/airflow/runs/5726300574?check_suite_focus=true

[2022-03-29 18:01] ferruzzi commented on #22594
I'm about to rebase that PR because there is a static check failing that I don't think is my chanrge, so in case those tests results go away, the stack trace in the message is:

[code]

[2022-03-29 18:18] potiuk commented on #22594
AAAAAAAH! It fails because we check all providers for Airflow 2.1 compatibility !!! And Apparently chain support for taskflow was aded in 2.2 !

So yeah >> is good for now. We do not want 2.1 users to give examples that they will use for 2.1 installation in the provider that is 2.1 compliant!

Actually our 2.1 importability check worked like a charm!

[2022-03-29 18:26] raphaelauv commented on #21727
@chengzi0103

Yes my setting is
[code]

[2022-03-29 18:52] frankcash commented on #22549
Validated https://github.com/apache/airflow/pull/21567
[code]

[2022-03-29 19:04] ferruzzi commented on #22594
Alright, after a chat with Jarek, this is a non-issue.   The part I was missing was that chain() currently supports @task but did not in 2.1;  providers require 2.1 compatibility so the CI testing failed on the backward compatibility checks.

[2022-03-29 19:04] #22594 closed

[2022-03-29 21:52] SasanAhmadi opened #22606 "Jenkins JobTriggerOperator bug when polling for new build"
### Apache Airflow Provider(s)

jenkins

### Versions of Apache Airflow Providers

_No response_

### Apache Airflow version

2.2.3

### Operating System

macOs Monterey 12.0.1

### Deployment

Official Apache Airflow Helm Chart

### Deployment details

No specific details

### What happened

When using the JenkinsJobTriggerOperator there is a polling mechanism to check the built job to return the

[2022-03-29 21:53] eladkal commented on #22606
feel free to submit PR with a fix
(If you plan to fix a bug you can just open a PR directly and explain the bug on the PR details.. you don't have to open issue first)

[2022-03-29 22:21] eladkal commented on #21647
@SasanAhmadi maybe you can help with creating example in the docs?

[2022-03-30 01:41] hankehly commented on #22129
@shahkshitij15 @josh-fell I will take this if you don't mind

[2022-03-30 02:35] chengzi0103 commented on #21727
Thank you for your answers I will try to use larger clusters and resources later this problem occurs less often I will use your suggestions Thanks again

[2022-03-30 03:40] dviru opened #22612 "Schedular going down for 1-2 minute on every 10 minute as increase completed pods in EKS"
### Apache Airflow version

2.2.4 (latest released)

### What happened

Hi Team, I am using airflow 2.2.4 and deployed it on aws eks cluster. I noticed that every 5-10 minute schedular down message seeing on airflow UI. When I checked airflow schedular log, seeing the lot of below statements.

`[2022-03-21 08:21:21,640] {kubernetes_executor.py:729} INFO - Attempting to adopt pod sampletask.05b6f56

[2022-03-30 06:20] Bowrna commented on #22392
Could you suggest the best way to handle this issue? I have checked in cli_parser.py and verified if I can add more description to --conn-type. But the list of supported providers is long.

1. Do I need to check the possibility of validating the connection type? Does Airflow support only a list of conn-type or it can accept any value? I got this question when I saw the generic as part of the conne

[2022-03-30 06:20] SasanAhmadi commented on #21647
sure, I can help with this.
just to confirm, is [this](https://github.com/apache/airflow/tree/main/docs/apache-airflow-providers-jenkins) the place to update doc for jenkins?

[2022-03-30 06:34] eladkal commented on #21647
I require to create a doc like:
https://github.com/apache/airflow/blob/main/docs/apache-airflow-providers-dbt-cloud/connections.rst
https://github.com/apache/airflow/blob/main/docs/apache-airflow-providers-ftp/connections/ftp.rst

and reference it from the relevant hook:
https://github.com/apache/airflow/blob/c58b5e583bcad83048fdee72bc9ddf6c3a7b4229/airflow/providers/dbt/cloud/hooks/dbt.py#L135

[2022-03-30 06:49] thesuperzapper opened #22614 "if deleted, the `dag_processor_manager.log` file is never recreated"
### Apache Airflow version

2.2.4 (latest released)

### What happened

If a user deletes the `dag_processor_manager.log` file (stored at `AIRFLOW__CORE__DAG_PROCESSOR_MANAGER_LOG_LOCATION`), then the file is only re-created if the scheduler is restarted, which means that all logs until the scheduler next restarts are lost.

It probably has something to do with our logging configuration, which can

[2022-03-30 09:27] potiuk commented on #22614
this is expected behaviour on POSIX systems. When Rotating file Handler is used, the file it writes to should not be removed because that removes only link to the file from teh directory but the actual file is not removed until there is any process writing to it (and all processes that opened the file for wrting are unaware that the file has been removed from a folder). The file can be hard-linked

[2022-03-30 09:27] #22614 closed

[2022-03-30 09:42] potiuk commented on #22614
BTW. It would be possible to write a handler to "open" and "close" the file for every log - but this would be TERRIBLY slow.

[2022-03-30 10:04] amitsundas09 opened #22616 "How to Achieve on-ice feature in Airflow. Please suggest any way."
### Description

let's suppose we have three dags, I want to complete and run success the first dags, but my second dag is failed and is incomplete, I want to skip the second dag and run the third Dag until it is completely successful.

### Use case/motivation

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of

[2022-03-30 10:39] dx034 commented on #18545
@potiuk I don't understand why this was marked as fixed, as I understand the Fix only changes remote user, not LDAP. Shouldn't this issue still be open?

[2022-03-30 10:52] potiuk commented on #22612
cc: @dstandish -> what we talked about :)

[2022-03-30 11:30] potiuk commented on #18545
Why do you think remote user is different than LDAP?

[2022-03-30 11:55] dx034 commented on #18545
From my tests, the merge in #19963 doesn't change the situation for LDAP, only remote. In LDAP mode, users still can't be added via the admin interface. So I believe this needs a separate fix.

[2022-03-30 13:10] potiuk commented on #18545
Ah ok - reopening then . Would you like (following the fix in #19963 to make and test PR to fix LDAP ? Shall I assign you to it ? You seem to have the right environment and has an example code to base it on to implement it.

[2022-03-30 14:20] HassanAlahmed opened #22620 "Ignoring class schema in airflow.hooks.dbapi"
### Apache Airflow version

2.2.4 (latest released)

### What happened

Hello,

I initialized an sql server hook using the following constructor:
`MsSqlHook(mssql_conn_id="connection_id", schema='db_name')`

From the package provider:
`airflow.providers.microsoft.mssql.hooks.mssql`

From the package provider:
`airflow.providers.microsoft.mssql.hooks.mssql`

Which is based off of this class:
`DbApi

[2022-03-30 14:25] evanrosebrook opened #22622 "Helm values nameOverride and fullnameOverride are not p"
### Official Helm Chart version

1.5.0 (latest released)

### Apache Airflow version

2.2.4 (latest released)

### Kubernetes Version

1.21

### Helm Chart configuration

In your values.yaml you can specify fullnameOverride or nameOverride. Neither is added to the names of the Deployment objects created.

# Provide a name to substitute for the full names of resources
fullnameOverride: "whatever"

[2022-03-30 15:00] HassanAlahmed commented on #22620
I apologize, it turns out the passed scheme is being utilized correctly after all. I must have made a mistake somewhere else.

[2022-03-30 15:22] potix2 commented on #10742
@eladkal I gave up D400, because I got too many conflicts. I'm sorry for late reply.

[2022-03-30 17:08] tronlightracer opened #22626 "The command 'airflow dags test' is deadlocking tasks using AIP-42 features with the PythonVirtualenvOperator"
### Apache Airflow version

main (development)

### What happened

When using the command airflow dags test tasks are put in the deadlock state.

### What you think should happen instead

I think the airflow dags test shouldn't deadlock tasks.

### How to reproduce
[code]
### Operating System

Ubuntu Linux

### Versions of Apache Airflow Providers

_No response_

### Deployment

Docker-Compose

##

[2022-03-30 18:21] mancunian1792 opened #22628 "Enhancement: SQSSensor to stop polling after some pre-defined tries."
### Description

**Problem**: There can be days where this queue doesn't get any message. When that happens, my SQS Sensor continues to poll till it receives a message. Since i want it to make as real-time as possible, this prevents me from choosing a logical schedule interval for the DAG.
**Question**: How would you implement for cases where there may be a mix of lots of messages in a day and no

[2022-03-30 18:34] pbhuss commented on #21440
https://stackoverflow.com/questions/59858003/using-airflow-with-bigquery-and-cloud-sdk-gives-error-user-must-be-authenticate

This might be related. People noticed that removing the `quota_project_id` from the credentials file appeared to resolve the issue.

[2022-03-30 19:01] vincbeck opened #22632 "Missing doc and sample dag for ExasolToS3Operator"
### What do you see as an issue?

The operator ``ExasolToS3Operator`` is missing a sample dag and documentation which would benefit users. In order to test the sample dag you need to have an [Exasol](https://www.exasol.com/) account which requires a credit card (even with the free trial). If someone has an Exasol account and is willing to create a sample dag and test it, that would be a good bonus

[2022-03-30 21:36] pacharaphet commented on #18223
Why would it be done this way? I installed airflow using a constraint file with version 0.9.7 of flower but I am getting the same error. Just seems strange to provide the syntax airflow celery flower when later versions of flower aren't supported. Still very new to this, if someone could just give me the correct term for this, I would happy to go research it further on my own and then report back.

[2022-03-30 22:58] yagodorea commented on #17054
@AvniM did you solve this? I'm having the same problem here, is it a configuration issue?

[2022-03-31 02:36] aljanson commented on #21605
Thanks @potiuk, however what fix/workaround can we use in the interim for this to prevent the errors and the crashing until the above is released?

[2022-03-31 03:24] 11010cy opened #22638 "'dict' object has no attribute 'dump'"
### Apache Airflow version

2.2.2

### What happened

get 500 while request 'api/v1/dags/{dag_id}/tasks'. It happens randomly.

[code]

After some inspection, I have located the cause of `task.params`.

In some cases, `current_app.dag_bag.get_dag(dag_id)` will return a dag with one of task.params that is type  `dict` instead of type `ParamsDict`. It happens in the same gunicorn worker process `159

[2022-03-31 07:46] 11010cy commented on #22638
I found that it caused by requesting `/dags/{}/dagRuns/{dag_run_id}/taskInstances/{task_instance_id}/logs/1`.
[code]
but get_template_context has the side effect that it changed task.params to dict. (params.validate() return a dict)
[code]
The related commits are:
https://github.com/apache/airflow/commit/2258e13cc78faec80054c223eca9378fd33e18fd
https://github.com/apache/airflow/commit/23a68fa4e61b

[2022-03-31 07:55] Bowrna commented on #22392
@potiuk @eladkal Could you help me with above questions?

[2022-03-31 08:40] potiuk commented on #22638
So seems that one is fixed in #21495. Closing it then. Will be released as part of 2.3.0 I believe.

[2022-03-31 08:40] #22638 closed

[2022-03-31 08:59] potiuk commented on #22392
I think we shoudl simply check - whenever connection is added/updated whether the type is "Valid" and print a warning in the CLI. As @eladkal suggested, it should set the type of the connection to `generic` type if the connection type is not valid.

And Valid means two things:

* it is on the list of built-in connection tupes
* you can query the Providers Manager to see which connection types are

[2022-03-31 09:00] uranusjr commented on #22561
Ah currently we only expand when a task’s upstreams all finish. But this fails since `mynameis` here does not have any upstreams! We’ll need to rethink where we expand.

[2022-03-31 09:07] uranusjr commented on #22561
Hmm, in DagRun we currently have this block of code

https://github.com/apache/airflow/blob/55ee62e28a0209349bf3e49a25565e7719324500/airflow/models/dagrun.py#L687-L701

But I can’t find expansion code in LocalTaskJob at all. Maybe we never actually implemented it? @ashb

And even if we are to do expansion in LocalTaskJob, I think the comment here is still not right? It should be the other way arou

[2022-03-31 09:40] ephraimbuddy commented on #22561
Yeah. That worked. Another behaviour was that the task logs was not available on the filesystem and the UI

[2022-03-31 10:40] #22325 closed

[2022-03-31 10:56] ashb commented on #22561
LocalTaskJob calls this inside `_run_mini_scheduler_on_child_tasks` https://github.com/apache/airflow/blob/9798c8cad1c2fe7e674f8518cbe5151e91f1ca7e/airflow/jobs/local_task_job.py#L266

https://github.com/apache/airflow/blob/9798c8cad1c2fe7e674f8518cbe5151e91f1ca7e/airflow/models/dagrun.py#L640-L645

which goes to
https://github.com/apache/airflow/blob/9798c8cad1c2fe7e674f8518cbe5151e91f1ca7e/airfl

[2022-03-31 10:57] ashb commented on #22561
That is, at the end of LocalTaskJob, when a task finishes we make scheduling decisions for the downstream tasks, including expanding them if we can.

We don't explicitly test this, we probably should.

[2022-03-31 11:37] uranusjr commented on #22561
This takes us back to the original issue here though, where should we expand if a task does not have upstreams? Maybe during `DagRun.verify_integrity`?

[2022-03-31 11:48] ashb commented on #22561
https://github.com/apache/airflow/blob/25b62a72f4470186e33ad6a6c160da2e31a90668/tests/models/test_dagrun.py#L910-L924 you mean? 😁

[2022-03-31 11:49] ashb commented on #22561
I'll start making that pass.

[2022-03-31 12:23] NK74 opened #22647 "SAWarning: TypeDecorator UtcDateTime(timezone=True) will not produce a cache key because the ``cache_ok`` attribute is not set to True"
### Apache Airflow version

2.2.4 (latest released)

### What happened

Error

[2022-03-31, 11:47:06 UTC] {warnings.py:110} WARNING - /home/ec2-user/.local/lib/python3.7/site-packages/airflow/models/xcom.py:437: SAWarning: TypeDecorator UtcDateTime(timezone=True) will not produce a cache key because the ``cache_ok`` attribute is not set to True.  This can have significant performance implications

[2022-03-31 12:44] apyshkin commented on #19368
still happens on 2.2.4 for me
[code]

[2022-03-31 12:56] potiuk commented on #19368
@apyskin - could you please open a new issue describing the circumstances, logs and explaining what's happened. This is - very likely - a different issue and commenting "I have the same problem" with no additional details after we think it is fixed gives precisely 0 value and does not increases our chances of helping you.

[2022-03-31 13:21] ashb commented on #16370
Fixed by https://github.com/apache/airflow/pull/20975

[2022-03-31 13:21] #16370 closed

[2022-03-31 14:08] potiuk commented on #22532
SLA feature is genreally broken in many ways and need to be completely rewritten. I think there is no point to fix it

[2022-03-31 15:02] Swalloow opened #22652 "Add support for topologySpreadConstraints to Helm Chart"
### Description

Currently charts have options like `nodeSelector` and `affinity`, but no `topologySpreadConstraints`.
Karpenter, which is for autoscaling of EKS, currently supports only topologySpreadConstraints.
How about adding additional support for this feature? Thanks.

### Use case/motivation

Karpenter, which is for autoscaling of EKS, currently supports only topologySpreadConstraints.
Ref

[2022-03-31 15:49] josh-fell commented on #22549
Verified #21192. Thanks @ephraimbuddy for organizing this release!

[2022-03-31 15:57] frankbreetz commented on #22474
@uranusjr any preference for the cli flag? I was thinking -r for "respect catchup", but that doesn't seem great

[2022-03-31 15:58] sergiocorona opened #22655 "Github OAuth issue Error authorizing OAuth access token"
### Apache Airflow version

2.2.4 (latest released)

### What happened

I am currently on version 2.1.2, I am using the Github OAuth feature to grant access to my webserver and everything is working fine, When I Upgraded to version 2.2.4 I started getting the next error:

[2022-03-31 15:24:20,511] {views.py:666} ERROR - Error authorizing OAuth access token: maximum recursion depth exceeded while c

[2022-03-31 16:19] Jmdaming opened #22657 "Wrong apiVersion Detected During Ingress Creation"
### Official Helm Chart version

1.5.0 (latest released)

### Apache Airflow version

2.2.4 (latest released)

### Kubernetes Version

microk8s 1.23/stable

### Helm Chart configuration

[code]

### Docker Image customisations

No customization required to recreate, the default image has the same behavior.

### What happened

Installation notes below, as displayed the install fails due to the web

[2022-03-31 17:09] #21908 closed

[2022-03-31 17:21] potiuk commented on #22628
But you can do it today: `Max_try = Timeout/ poke_interval`. Just a matter of setting the right values. Converting it into a discussion in case there are more things to discuss.

[2022-03-31 17:27] potiuk commented on #18223
Commenting on issue closed 6 months ago makes no sense and brings `0` value if you provide no new details.  You likely have diferent issue.  Please create a new discussion or open issue if you have reproducible case and describe the exact case you have.

[2022-03-31 17:30] mhbrown commented on #15978
I see the `WARNING/ForkPoolWorker` warnings on Airflow 2.2.4 using `CeleryExecutor`, but not noticing any issues. Does anyone here know if I should be concerned about the warnings?

I usually do not see DAGs getting stuck in the "running" state indefinitely, so I think that warning may be unrelated to this issue.

I tried setting [`execute_tasks_new_python_interpreter`](https://airflow.apache.org/

[2022-03-31 17:52] potiuk commented on #22647
There is no explanation nor expecations nor details, nor reproducible steps.. It's likely a bug in your Dag but since we do not know it it, there is nothing we can do. I suggest to open GitHub Discussion with all relevant details. Closing

[2022-03-31 17:59] #16078 closed

[2022-03-31 17:59] potiuk commented on #16078
Thanks @SamWheating for notifying. It missed "closes: " :)

[2022-03-31 18:09] potiuk commented on #22655
I believe you need to review the Flask App Builder configuraiton https://flask-appbuilder.readthedocs.io/en/latest/security.html?highlight=oauth#authentication-oauth and I believe it has something to do with not defined access for default role when the user is created.

I convert it do discussion as this is more of  a FAB configuraiton issue than Airflow - and you can open an issue to FAB if you a

[2022-03-31 18:12] pacharaphet commented on #18223
Sorry. I do not have a different issue, tho.

ในวันที่ พฤ. 31 มี.ค. 2022 19:27 Jarek Potiuk ***@***.***>
เขียนว่า:

[2022-03-31 18:17] potiuk commented on #18223
Message might be the same, Issue might be different. And this isssue has been closed so likely your issue is different. But no-one has idea because you have not shown the details, you just wrote you have the same issue (and honestly you don't even know if it is the same issue because the user has not confirmed neither issue nor solution - so your certainty you have THE SAME issue, when we don't ev

[2022-03-31 19:16] MatrixManAtYrService opened #22665 "Superfluous TypeError when passing not-iterables to `expand()`"
### Apache Airflow version

main (development)

### What happened

Here's a problematic dag.  `False` is invalid here.
[code]

When I check for errors like `python dags/the_dag.py` I get the following error:
[code]

### What you think should happen instead

I'm not sure what's up with that type error, the ValueError is what I needed to see.  So I expected this:

[code]

### How to reproduce

_No r

[2022-03-31 19:19] MatrixManAtYrService commented on #22665
@uranusjr suggested this change:

[code]

which altered the output, but didn't suppress it:

[code]

[2022-03-31 19:31] frankbreetz commented on #22474
Here is a PR (is this the correct way to do this?)

https://github.com/apache/airflow/pull/22666

[2022-03-31 21:31] Gollum999 opened #22670 "Mixins in user-defined Operators do not get initialized"
### Apache Airflow version

2.2.4 (latest released)

### What happened

If a user defines a custom Operator that also uses a mixin class, there are some cases where that mixin will not be properly initialized.  See example below.

I believe I've traced this down to the fact that `airflow.utils.log.logging_mixin.LoggingMixin.__init__` does not call `super().__init__`.

It is a common misconception

[2022-03-31 21:53] potiuk commented on #22670
Yeah. We know about MRO. Simply don't use Mixins. The solution is simply to not use them. The best soluiton is to add docstring in the operator to not use Mixins in operators and warn the users. Mixins and mutliple inheritance are hard and it's completely counter-productive to try to support it. Would you like to make a PR for that?

[2022-03-31 21:53] #19674 closed

[2022-03-31 21:53] #19938 closed

[2022-03-31 21:53] #21428 closed

[2022-04-01 06:20] uranusjr commented on #22532
We should advertise 2.4 as “SLA now actually works!”

[2022-04-01 06:25] Yao-ATG opened #22675 "GCSToGCSOperator cannot copy a single file/folder without copying other files/folders with that prefix"
### Apache Airflow Provider(s)

google

### Versions of Apache Airflow Providers

_No response_

### Apache Airflow version

2.2.4 (latest released)

### Operating System

MacOS 12.2.1

### Deployment

Composer

### Deployment details

_No response_

### What happened

I have file "hourse.jpeg" and "hourse.jpeg.copy" and a folder "hourse.jpeg.folder" in source bucket.
I use the following code to t

[2022-04-01 07:39] joppevos commented on #22466
@potiuk I would like to give it a try. You can assign me.

[2022-04-01 08:42] #18545 closed

[2022-04-01 08:44] potiuk commented on #22532
Providing that we will fix it :)

[2022-04-01 08:47] #21102 closed

[2022-04-01 09:47] pcolladosoto commented on #22191
That's one if the issues I wanted to bring up on the PR... As you say, `SIGKILL` *should* terminate the process in any circumstance. However, I do lean towards adding an optional (maybe hardcoded?) timeout too. Even though forcefully waiting the process should not be a problem in a normal scenario it can indeed become an indefinitely blocking operation in the event of the kernel misbehaving.

The

[2022-04-01 09:55] pateash commented on #10893
@eladkal, I would like to pick this up.

[2022-04-01 10:04] MioNok opened #22684 "Kubernetes client returns completed pod instead of running ones"
### Apache Airflow version

2.2.4 (latest released)

### What happened

When Triggering a dag the run goes as expected, but when trying to rerun a kubernetes task, it tires to:
A) Run an aleady completed pod
B) Finds many previously completed pods and thus throws an error.

I have narrowed down the problem to _airflow/providers/cncf/kubernetes/operators/kubernetes_pod.py_, more specifically the ``

[2022-04-01 10:07] potiuk commented on #22466
cool! example to base it on are in #22311

[2022-04-01 10:14] #22665 closed

[2022-04-01 10:47] pcolladosoto commented on #22191
Hi! As seen above I've just opened a related PR: #22685

It would be great if we could continue the discussion over there and iterate over a few solutions until we arrive at the final thing.

Does the PR look good @potiuk or should I polish it up a bit more?

Thanks a ton for your time!

[2022-04-01 14:05] potiuk opened #22689 "HDFS provider causes TypeError: __init__() got an unexpected keyword argument 'encoding'"
### Discussed in https://github.com/apache/airflow/discussions/22301

<div type='discussions-op-text'>

<sup>Originally posted by **frankie1211** March 16, 2022</sup>
I build the custom container image, below is my Dockerfile.

[code]

But i got the error when i run the container

[code]
</div>

[2022-04-01 14:39] potiuk commented on #22675
See the documentation (docstring) where you can have examples.

As unitutitive as it is, source_object is a wildcard specification by default. If you want to copy single object you need specify it like that:

[code]

See examples here: https://airflow.apache.org/docs/apache-airflow-providers-google/stable/_api/airflow/providers/google/cloud/transfers/gcs_to_gcs/index.html

[2022-04-01 15:02] potiuk commented on #22191
It does look good. I think it's the simples but also most efficient solution.

[2022-04-01 16:27] potiuk commented on #22675
I see I looked at the code and ideed. I marked it as good first issue and maybe someone woudl like to work on it.

Note that the fastest and surest way to get it implemented is if you make a PR yourself and lead it to completion. Would you like to contribute such a change ? Happy to review the code. If not then ti will have to wait for someone to pick it up.

[2022-04-01 16:45] Yao-ATG commented on #22675
Before anybody try to fix it, can we clarify the expected behavior?

Let's limit the discussion only on objects without wild char.
The current behavior is to treat the object as a prefix, no matter specified in source_object or source_objects.
My expected behavior is to treat object as exact match, also no matter specified in source_object or source_objects, and let users to add wildchar if they w

[2022-04-01 16:53] potiuk commented on #22675
I think that can be discussed when PR is opened. I have no opinion. Maybe you can pick something as a proposal, and the reviewer reviewing the PR migh decide which one is ok.

[2022-04-01 16:54] potiuk commented on #22675
For sure it shoudl be backwards compatible ideally though.

[2022-04-01 16:55] potiuk commented on #22675
I think flag with "exact_match_when_no_wildcard" might be a solution.

[2022-04-01 17:07] karunpoudel opened #22693 "KubernetesPodOperator failure email alert with actual error log from command executed"
### Description

When a command executed using KubernetesPodOperator fails, the alert email only says:
`Exception: Pod Launching failed: Pod pod_name_xyz returned a failure`
along with other parameters supplied to the operator but doesn't contain actual error message thrown by the command.

~~I am thinking similar to how xcom works with KubernetesPodOperator, if the command could write the error l

[2022-04-01 17:09] potiuk commented on #22693
Maybe you would like to contribute that feature ?

[2022-04-01 17:34] karunpoudel commented on #22693
i haven't looked into code base so not sure about the complexity. i saw the tag "good first issue". might be able to contribute with some guidance

[2022-04-01 20:49] potiuk commented on #22693
Sure. It's not very comples :). Happy to help .

[2022-04-01 22:06] tschroeder-zendesk commented on #10724
Fairly old issue, but it would be really helpful if we could use AND or have an option in our case we have about 400 dags and we are generally only working with a handful of them. We have them tagged as 3 different things pod/cluster/state and would be great if we could easily say I want all  cluster=green AND pod=13 for example instead of the current workaround which means we will need to add a b

[2022-04-01 23:04] karunpoudel opened #22702 "Gantt chart doesn't show up"
### Apache Airflow version

2.2.2

### What happened
![image](https://user-images.githubusercontent.com/62040859/161352988-6cd97672-0d54-415e-ae04-e603596ec2f5.png)

Gantt chart doesn't show up if you provide vault annotation in executor_config in your task. Vault annotation generally needs a template string where you need to use double quotes and newline like shown below.
![image](https://user-im

[2022-04-02 04:29] Bowrna commented on #22445
@potiuk I will pick this up and try if i could fix it

[2022-04-02 11:30] VasuBajaj opened #22705 "LocalFileSystemToGCSOperator give false positive while copying file from src to dest, even when src has no file"
### Apache Airflow Provider(s)

google

### Versions of Apache Airflow Providers

apache-airflow-providers-google==6.4.0

### Apache Airflow version

2.1.4

### Operating System

Debian GNU/Linux 10 (buster)

### Deployment

Docker-Compose

### Deployment details

_No response_

### What happened

When you run LocalFilesSystemToGCSOperator with the params for src and dest, the operator reports a f

[2022-04-02 20:04] #21647 closed

[2022-04-02 20:23] eladkal commented on #22705
To my prespective this is not a bug.
You are requesting a feature.

[2022-04-02 20:35] potiuk commented on #22705
agreed.

[2022-04-02 20:36] potiuk commented on #22705
Marked it as "good first issue" - maybe someone will want to pick it up. But if you want to get it fixed, the surest way is to make a PR and implement it yoursefl. You could become one of > 2000 contributors to Airflow @VasuBajaj . Otherwise it will have to wait for someone who would like to pick it up.

[2022-04-02 20:52] blag opened #22708 "Rewrite Airflow CLI commands with Click"
Converting the Airflow CLI to use [Click](https://click.palletsprojects.com) and [rich-click](https://pypi.org/project/rich-click/) is a large task and will be much easier and quicker if other people pitch in.

I'm creating this issue to track volunteers and progress as we rewrite the Airflow CLI to use Click.

If you would like to help, you can do so by commenting below. I will try to update this

[2022-04-03 06:29] tirkarthi commented on #22708
sync-perm command PR : https://github.com/astronomer/airflow/pull/1485

[2022-04-03 07:50] #17778 closed

[2022-04-03 09:13] kianelbo commented on #22358
Does adding `allow_none=True` argument to [schedule_interval field](https://github.com/apache/airflow/blob/main/airflow/api_connexion/schemas/dag_schema.py#L64) suffice?
If so, may I open the PR?

[2022-04-03 09:50] omarsmak commented on #22358
I think it doesn't really help, the issue will be on the generated client side.
Feel free to open a PR as I haven't get the time yet

[2022-04-03 16:17] Bowrna commented on #22708
I will choose `connection` first followed by `config`, `dag` in that order. will finish this first and pick up further :)

[2022-04-03 18:52] #21164 closed

[2022-04-03 21:50] bruciebruce opened #22715 "How do I specify a Persistent Claim reference for an AirFlow worker pod to persist a file that is not a Dag or Log."
### Official Helm Chart version

1.5.0 (latest released)

### Apache Airflow version

2.2.4 (latest released)

### Kubernetes Version

Client Version: version.Info{Major:"1", Minor:"22", GitVersion:"v1.22.7+rke2r2", GitCommit:"b56e432f2191419647a6a13b9f5867801850f969", GitTreeState:"clean", BuildDate:"2022-03-04T23:17:38Z", GoVersion:"go1.16.14b7", Compiler:"gc", Platform:"linux/amd64"} Server Ver

[2022-04-04 09:54] cvs07 opened #22721 "Airflow configuration issue"
### Apache Airflow version

2.2.4 (latest released)

### What happened

I'm trying to install airflow  on ubuntu 20.04 :
command is :

pip3 install "apache-airflow[celery]==2.2.4" --constraint "https://raw.githubusercontent.com/apache/airflow/constraints-2.2.4/constraints-3.6.txt"

After installed sucessfully check the airflow version as:
$ airflow version
2.2.4

Then start
$ airflow webserver -p

[2022-04-04 11:29] pbabics commented on #22289
This might be already fixed by #21757

[2022-04-04 11:56] raphaelauv opened #22727 "gcp provider - GKEStartPodOperator without gcloud to get conf"
### Description

Retrieve the GKE conf with python code and not by running a `gcloud` subprocess cmd

### Use case/motivation

It's currently necessary to have gcloud to use the GKEStartPodOperator , but it look like it's possible without by only using python libs

https://github.com/googleapis/python-container/issues/6#issuecomment-970746358

### Related issues

_No response_

### Are you willing

[2022-04-04 12:01] #22606 closed

[2022-04-04 12:05] #22141 closed

[2022-04-04 13:20] mik-laj commented on #22727
It is worth remembering that the token may expire and we need to refresh it. We can be inspired by how it is done in EKS. https://github.com/apache/airflow/pull/17951

[2022-04-04 13:32] #22129 closed

[2022-04-04 15:15] potiuk commented on #22684
@jedcunningham @dstandish -> maybe you can verify this one ? I am just about to release cncf.kubernetes ready for Airflow 2.3.0 so maybe that one has already been fixed in the updated version or maybe it is still there?

[2022-04-04 15:43] ernestoongaro opened #22730 "dbt Cloud Provider only works for Multi-tenant instances"
### Apache Airflow Provider(s)

dbt-cloud

### Versions of Apache Airflow Providers

_No response_

### Apache Airflow version

2.2.5 (latest released)

### Operating System

any

### Deployment

Official Apache Airflow Helm Chart

### Deployment details

_No response_

### What happened

   Some dbt Cloud deployments require the setting of a different base URL (could be X.getdbt.com) or cloud.X.g

[2022-04-04 15:49] bbovenzi opened #22731 "Fix the order that tasks are displayed in Grid view"
The order that tasks are displayed in Grid view do not correlate with the order that the tasks would be expected to execute in the DAG. See `example_bash_operator` below:

<img width="335" alt="Screen Shot 2022-04-04 at 11 47 31 AM" src="https://user-images.githubusercontent.com/4600967/161582603-dffea697-68d9-4145-909d-3240f3a65ad2.png">
<img width="426" alt="Screen Shot 2022-04-04 at 11 47 36 AM

[2022-04-04 16:42] josh-fell commented on #22730
@ernestoongaro All yours!

[2022-04-04 16:43] dstandish commented on #22684
This is an interesting case.  I'm not sure what should really be the behavior here, because KPO was designed to reattach to pods.   @MioNok have you considered setting `is_delete_operator_pod` to `True`?  This is the default as of k8s provider 3.0, and if you set it to true, your completed pods will be deleted and you won't have this issue.  @jedcunningham what do you think?