[2021-07-28 12:46] SteNicholas commented on #9321
@Gabriel39 , we are workfing for the contribution of signal based scheduling to community.

[2021-07-28 13:01] potiuk commented on #17186
Ah ok. I see now :)

[2021-07-28 13:20] ayushchauhan0811 commented on #17268
#17081 is also good to go

[2021-07-28 13:41] awildturtok commented on #17161
I didn't know about the listing of DagRuns+Config. I was looking for exactly that. It's a bit hidden so maybe placing it a bit more prominent when in dag-view would help?

[2021-07-28 13:52] potiuk commented on #17161
The problem with DagView is that it is not "DagRun" view - and it's the DagRun that has relation to conf not the Dag.. There might be different conf for every run potentially.

[2021-07-28 14:57] #16285 closed

[2021-07-28 15:06] ephraimbuddy commented on #16847
This is now fixed in this PR https://github.com/apache/airflow/pull/16301
Can you verify @eejbyfeldt

[2021-07-28 16:54] ajays1991 commented on #11309
i am also facing the similar issue. What exactly did you put in `Environment="PATH=/...."` @afonit

[2021-07-28 17:30] ian-byrne commented on #16025
I am having a similar issue where all celery tasks are marked as state=Failure. All of the tasks are success in the Airflow UI and appear to have worked proper with moving data to the database. The celery error found in flower is as follows:
[code]

[2021-07-28 17:40] jedcunningham opened #17291 "[QUARANTINE] Quarantine test_retry_still_in_executor"
The `TestSchedulerJob.test_retry_still_in_executor` fails occasionally and should be quarantined.

[code]

[2021-07-28 18:15] ephraimbuddy commented on #17238
I think you should get the scheduler log when this happens as well as the task log?

[2021-07-28 18:21] jedcunningham commented on #17279
This should probably be an issue over at https://github.com/dpgaspar/Flask-AppBuilder instead.

[2021-07-28 18:35] efulet commented on #15978
Same issue here. I dropped airflow db and it worked. For some reason, the scheduler cannot see new tasks in the pipeline

[2021-07-28 18:35] iostreamdoth commented on #17268
fix: get_cluster call project_id as self.project_id (#17075) looks good.

[2021-07-28 18:58] fjmacagno opened #17295 "Webserver doesn't show `params` in tast details"
**Apache Airflow version**: 2.1.2

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**: bare metal
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**: pip3
- **Others**:

**What happened**:

The `params` entry on the task details page is empty.

**What you expected to

[2021-07-28 19:16] jedcunningham commented on #17295
@fjmacagno, I think you may be confusing `params` with the DagRun `conf`.

[code]
![Screen Shot 2021-07-28 at 1 10 23 PM](https://user-images.githubusercontent.com/66968678/127381963-35cfe068-8a99-431e-b9d6-34c9483101c5.png)

You can see an example of it in the tutorial:
https://airflow.apache.org/docs/apache-airflow/stable/tutorial.html

The DagRun `conf` is displayed on the DagRun list:

![Scree

[2021-07-28 19:36] warrenstephens commented on #17241
Yes, my Mac M1 is running the Airflow UI, but K8S is used to run the Airflow tasks and such on a remote cluster -- part of a new RENCI HeLx platform deployment for an NIH project.  I am the only M1 ~victim~ user here.

I am curious about the sqlite3 issue.  I have been developing and running DAGs for a couple of weeks -- this sqlite3 issue would be intermittent then?  Or is something fundamentally

[2021-07-28 19:36] fjmacagno commented on #17295
Ahaaaaa that makes sense. Definitely a little confusing, I would expect to see that in the task instance data. Thanks!

[2021-07-28 19:36] #17295 closed

[2021-07-28 19:37] #16944 closed

[2021-07-28 19:45] BasPH commented on #17241
Before starting anything you must initialize the metastore (i.e. create all tables). This can be done by running either:

- `airflow db init` (initialize everything on empty metastore)
- or `airflow db upgrade` (check current metastore state if there are any upgrades to make)
- or `airflow db reset` (remove & recreate everything)

Could you initialize your metastore and see if issues persist after

[2021-07-28 20:18] jedcunningham commented on #17238
Just to clarify, the `Event: {pod_name} Succeeded` line is referring to the the pod state, not the task state, so those won't always match.

Can you see if it also happens with [[scheduler] schedule_after_task_execution](https://airflow.apache.org/docs/apache-airflow/stable/configurations-ref.html#schedule-after-task-execution) set to `False`?

Are you running a single scheduler?

[2021-07-28 20:48] mik-laj commented on #17191
@jedcunningham I am not sure. It seems to me that the main process should monitor the child process and restart it when it detects problems with it. Similarly, Scheduler monitors DagFileManager and DagFileManager monitors DagFileProcessory. The user does not need to know the internal components of the application / processes to monitor them, because the application already knows them and can monit

[2021-07-28 21:21] mik-laj commented on #17240
Related issues: https://github.com/apache/airflow/issues/13445 https://github.com/apache/airflow/issues/14620

[2021-07-28 22:52] dlampa commented on #16013
Hey @jean-malo  I've reached the same conclusion re. `V1LabelSelector` and had the solution ready for a few days - please take a look at #17298 . I've created a simple script using the same approach as in the CLI outside the Airflow environment and had exactly the same error - this definitely looks like a `kubernetes-client` issue.

[2021-07-28 22:56] ppetruneac opened #17299 "Airflow 2.1.2 not working with VPN (browser extension) on Ubuntu"
**Apache Airflow version**: `apache-airflow==2.1.2`

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): NA

**Environment**:

- **Cloud provider or hardware configuration**: NA
- **OS** (e.g. from /etc/os-release):
[code]
- **Kernel** (e.g. `uname -a`): `Linux laptop-name 4.15.0-142-generic #146~16.04.1-Ubuntu SMP Tue Apr 13 09:27:15 UTC 2021 x86_64 x86_64 x86_64 GNU/Lin

[2021-07-29 03:03] jhh3000 opened #17300 "Tasks occasionally receive SIGTERM at the end of a successful run on Celery Executor"
**Apache Airflow version**: 2.1.0 using Celery Executor

**Environment**: Docker

- **Cloud provider or hardware configuration**: AWS ECS Fargate
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**: docker base `python:3.8.10` using direct pip install of `apache-airflow[sentry]==2.1.0`

**What happened**:

At the end of task execution, Airflow wi

[2021-07-29 04:06] uranusjr opened #17301 "ResolutionImpossible when rebuilding image with Breeze"
[code]

I *think* this is because the constraint file was generated with an older Airflow commit before we upgraded Flask-Appbuilder, so now things are in a deadlock because CI can’t pass to build the constraints, and the currently available constraints can’t be used to run the test suite?

[2021-07-29 05:29] potiuk commented on #17301
Yep. I have not pushed latest constraints yesterday. My fault. It should happen automatically after successful merge to main.

But since we are now having the mssql it has to be done manually

For the future reference the procedure to do it is described in this chapter "Manually generating constraint files":

https://github.com/apache/airflow/blob/main/CONTRIBUTING.rst#manually-generating-constrai

[2021-07-29 05:31] potiuk commented on #17301
Should be fixed now - I generated them yesterday, but have not pushed the change so this was very quick.

[2021-07-29 05:31] #17301 closed

[2021-07-29 05:36] potiuk commented on #17301
It is only really needed when you want to force-update some dependency and increase the minimum version (like we did with FAB) - in all other cases it will work just fine and Breeze will automatically upgrade to latest constraints.

I will thin maybe how to avoid this in the future. I think what might actually help is that in this case I could fall-back to non-constraint installation just to get t

[2021-07-29 05:39] potiuk commented on #17301
BTW @uranusjr  The new generated constraints are here: https://github.com/apache/airflow/commit/f31598ed62fed9d2d8575ab10b768df1f09c9701  - as you can see from the history - in most cases the constraint are auto-updated but as of 17 days they weren't due to the MSSQL /intermittent failures, so I upgraded them manually from time to time https://github.com/apache/airflow/commits/constraints-main - t

[2021-07-29 06:09] XD-DENG commented on #16013
Thanks all for your feedbacks, and sorry for responding slowly (die to my day works)

[2021-07-29 06:11] XD-DENG commented on #16013
Thanks all for your feedbacks, and sorry for responding slowly (due to my day work schedule)

@dlampa , many thanks for helping look into the issue. I will find a time to review the PR you prepared within this week, and share my comments there.

Thanks again!

[2021-07-29 09:23] alexakra opened #17306 "pgbouncer-exporter wrong health check command"
**Apache Airflow version**: 2.1.2

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): v1.19.7

**Cloud provider or hardware configuration**: Azure

**What happened**:
metrics-exporter container fails during startup.

**Error message**: could not check store: pq: unrecognized configuration parameter "version"

**What do you think went wrong?**:
The check health command is

[2021-07-29 09:24] CreedsCode opened #17307 "Trigger Config, Trigger Config Template"
Make it possible to create a Trigger config template, and make it possible to enforce the configuration.

**Use case / motivation**

The use case would be to make ETL Batch jobs configurable, for the use case: Of getting data from a specific time, a DAG that depends on a givin input. like a list of ID's a email, So an extraction from a db can be taken out of Airflow and the result are getting send

[2021-07-29 10:27] mgorsk1 commented on #17238
Thanks for clarifing @jedcunningham  completely agree, that log refers to pod state. But are there any scenarios if the task goes into `skipped` mode at all? From the docs I only saw this possible if we are explicitly raising AirflowSkipException in the task.

Although since task is in `skipped` phase in UI so the logs are not retrievable from UI, I found them on our S3 and this is what they say @

[2021-07-29 10:29] uranusjr commented on #16506
Since TaskGroup does not have any effect in the scheduler now (I believe), I feel the best solution is to put an operator at the end of the task group that succeeds when any of its upstreams is not skipped, something like

[code]

This can be done with a PythonOperator subclass with trigger rule `DUMMY` and overriding `execute()`. You could also just write that logic in `ThisWillRunNormally`, but

[2021-07-29 11:14] baryluk commented on #17063
Please provide rest of the stack trace. The `INFO - role_arn is None` is expected, and not a problem. In fact it is normal operation.

[2021-07-29 11:28] infused-kim commented on #17268
Google ads #17160 is working fine, but I am the one who submitted the PR and it would be good to get it tested by a few more people.

[2021-07-29 12:01] XD-DENG commented on #16013
Hi @jean-malo , let's continue the discussion at @dlampa 's PR #17298 ?

I will add my comments there later.

Thanks!

[2021-07-29 12:02] eladkal commented on #16717
Fixed in https://github.com/apache/airflow/pull/16735

[2021-07-29 12:02] #16717 closed

[2021-07-29 12:08] zkan opened #17310 "Got `subprocess.TimeoutExpired` when run `./breeze --python 3.8 buildl-docs` on Apple M1 chip"
**Apache Airflow version**: 2.2.0.dev0
**Python version**: 3.8
**Docker image**: ghcr.io/apache/airflow-main-python3.8-ci-v2

**Environment**:

- **OS** (e.g. from /etc/os-release): macOS Big Sur (11.4)
- **Kernel** (e.g. `uname -a`): Darwin Kans-Mac-mini.local 20.5.0 Darwin Kernel Version 20.5.0: Sat May  8 05:10:31 PDT 2021; root:xnu-7195.121.3~9/RELEASE_ARM64_T8101 arm64
- **Others**: Docker De

[2021-07-29 12:29] eladkal commented on #16694
DagRuns skip next scheduled run if start_date = days_ago(1)

Do not use [dynamic value for start_date](https://airflow.apache.org/docs/apache-airflow/stable/faq.html#what-s-the-deal-with-start-date). If the issue is present when using static `start_date` please comment and explain what is the bug.

[2021-07-29 12:29] #16694 closed

[2021-07-29 12:44] Bhoomikan opened #17311 "Google Authentication Apache Airflow Issue"
**Apache Airflow version**: 2.0.0b3

   **Kubernetes version (if you are using kubernetes)** (use `kubectl version`): NA - LocalExecutor

   **Environment**:

   - **Cloud provider or hardware configuration**:  Local development on Internal IT Cloud Instance
   - **OS** (e.g. from /etc/os-release): Redhat-7
   - **Others**:  Python 3.6

   **What happened**:

   When trying to register with Google

[2021-07-29 12:49] sudipto9 commented on #17120
@potiuk is this fix in production? I am having postgres as database.
 I am using below version packages.
Airflow - 2.1.2
sqlalchemy=1.3.24
psycopg2=2.9.1

Getting below error though i started the scheduler as "airflow scheduler -D".
"he scheduler does not appear to be running. Last heartbeat was received 3 hours ago.

The DAGs list may not update, and new tasks will not be scheduled."

When checke

[2021-07-29 12:56] potiuk commented on #17268
@overbryd and @rv-irosario - since this was addressing your issues #17113 and #17111 - could you  also take a look if https://pypi.org/project/apache-airflow-providers-google/5.0.0rc2 solves the ads compatibility ?

[2021-07-29 13:18] potiuk commented on #17311
I believe you had a cache from earlier version of Airflow stored locally and you reinstalled Airflow. Just clear the local cache and try again. Alternatively in your setup you have different webserver secret keys, in which case you should specify the webserver secret key manually (depending on your deployment this might be randomly generated but if you have multiple webservers the secret key shoul

[2021-07-29 13:18] #17311 closed

[2021-07-29 14:10] kiwy42 opened #17314 "Kerberos configuration to enable allow kinit -f -A"
**Description**

`kerberos.py` implementation do not account for the case where you need to use a forwardable token or a token without IP.
The `kinit` option `-f` (to allow forwardable token) and `-A` (to remove  IP) are mandatory in my setup.
As Airflow run inside a docker and is provided with a kerberos token for the docker host.

**Use case / motivation**

When running inside a docker behind NA

[2021-07-29 14:52] dinigo opened #17315 "SqlSensor with Standard SQL BigQuery dialect (allow to pass config to injected (DI) hooks)"
**Apache Airflow version**: 1.10.15, but happens in all of them

**Environment**: GCP Composer -> Kubernetes + Celery

- **Cloud provider or hardware configuration**: Google

**What happened**:
Errors appear while trying to use SqlSensor against a BigQuery View.
For context I'll explain a little bit: BigQuery seemingly executes only SQL, but in reality there are two versions of the language. For b

[2021-07-29 14:58] subkanthi opened #17316 "Docs validation function - Add meaningful errors"
The following function just prints right/left error which is not very meaningful and very difficult to troubleshoot.

[code]

[2021-07-29 15:07] eladkal commented on #17315
duplicate of https://github.com/apache/airflow/issues/13750

[2021-07-29 15:07] #17315 closed

[2021-07-29 15:22] jedcunningham commented on #17238
The only other way I can think of off the top of my head is [exit code 99 with BashOperator](https://github.com/apache/airflow/blob/d7a68569a93d47040efdaf398cec01d682653a3f/airflow/operators/bash.py#L49-L51), but that clearly isn't the case here.

Maybe kick your logging level to DEBUG and see if anything helpful is in the scheduler log.

[2021-07-29 15:50] neilharia7 commented on #15607
I'm getting the same error with dynamic dags while running with airflow's docker-compose with `apache/airflow:2.1.2-python3.9`

` Traceback (most recent call last):
airflow-scheduler_1  |   File "/home/airflow/.local/lib/python3.9/site-packages/airflow/jobs/scheduler_job.py", line 1531, in _do_scheduling
airflow-scheduler_1  |     self._schedule_dag_run(dag_run, active_runs_by_dag_id.get(dag_run.d

[2021-07-29 15:58] kaxil commented on #15607
Please post your DAG file, it won't be possible for us in any way to help without it

[2021-07-29 16:17] neilharia7 commented on #15607
@kaxil

[code]

[2021-07-29 17:00] potiuk commented on #17120
You have to wait until it is released. The PR has just been approved few hours ago and it's going to be released with one of the next releases of airflow (depending if we manage to cherry-pick it before relase 2.1.3 or whether it comes in 2.2, this might be in a week more or less or a month. The release needs to be announced, voted and published..

You can also manually apply to your version by ch

[2021-07-29 17:07] ImadYIdrissi opened #17320 "PermissionDenied : Unable to use docker-compose due to UID conflicts"
**Apache Airflow version**: 2.1.0

**Environment**:

- **Cloud provider or hardware configuration**: GCP Compute Engine - e2-standard-4 (4 vCPUs, 16 GB memory)
- **OS** (e.g. from /etc/os-release): Ubuntu 18.04
- **Kernel** (e.g. `uname -a`): `Linux lamachine-preprod 5.4.0-1049-gcp #53~18.04.1-Ubuntu SMP Thu Jul 15 11:32:10 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux`

**What happened**:
When trying t

[2021-07-29 17:15] ImadYIdrissi commented on #17320
I did find [this thread](https://github.com/puckel/docker-airflow/issues/224) that deals with this issue, but I believe it should be incorporated to the public community image directly, instead of forking with a custom image. I.e. This custom image, by puckle, which solves this issue is for airflow 1.10.9.

[2021-07-29 17:27] jedcunningham commented on #17300
Thanks @jhh3000. This was already reported in #16227 and was fixed in #16289 which will be in the next release (2.1.3).

This is a workaround until it is available: https://github.com/apache/airflow/issues/16227#issuecomment-854632009

[2021-07-29 17:27] #17300 closed

[2021-07-29 18:12] mgorsk1 commented on #17238
We're already logging with DEBUG so these are following lines re this DAG execution:

![image](https://user-images.githubusercontent.com/5680655/127543988-38f0122f-f7cf-45e5-836e-007d49e03bd8.png)

[2021-07-29 18:15] mgorsk1 commented on #17238
it ends with:

![image](https://user-images.githubusercontent.com/5680655/127544328-ff0b0117-8f7a-43a0-87fd-3359e6291167.png)

[2021-07-29 19:26] ricardogaspar2 commented on #16618
Having this feature would be great! 👏
Can't wait for this!

It would also be great if there was a way of NOT creating the dependencies between tasks automatically.
For cluster or job IDs (EMR, Databricks, etc) is very common, and having these dependencies created automatically doesn't make much sense.

[2021-07-29 19:31] potiuk commented on #17320
1. Docker-Compose of Airlow is not production ready. You should use it only for development and testing, if you want more production setup I recommend to use the official Helm Chart of the communiy: https://airflow.apache.org/docs/helm-
chart/stable/index.html and K8S.

2. If you mount your local folders as volumes to Airlfow, you should make sure that  you use your HOST_ID as user_id and GID=0 as

[2021-07-29 19:31] #17320 closed

[2021-07-29 19:36] potiuk commented on #17320
BTW. I think you are not aware that your user changes when you run sudo. DO NOT use sudo when you run docker compose or docker commands, because then they will be used as "root" user (UID=0) which is likely the root cause of your problem. Most likely your logs/dags/ etc. file have been created as owned by that root user and this is causing all your permission problem. Make sure you do what docker

[2021-07-29 20:17] #16013 closed

[2021-07-29 20:22] XD-DENG commented on #16013
Hi all, thanks to @dlampa , we have a fix for this issue now (https://github.com/apache/airflow/pull/17298).

The fix is merged into `main` branch now. I have marked it for milestone `2.1.3`, so you should be able to expect having this fix in the next release `2.1.3`.

[2021-07-29 21:01] potiuk commented on #17299
This is a problem with your VPN, not airflow.

[2021-07-29 21:01] #17299 closed

[2021-07-29 21:18] dinigo commented on #17315
You are right! I was naively thinking that maybe the rest of `DbApiHook`s would be using "magic" constants. But not. Only Google does this sort of stuff. I'll close the issue and, if I find some time, I'll open a PR agains the one you mentioned.

Thanks @eladkal !!!

[2021-07-29 21:26] dinigo commented on #13750
In cae someone comes around looking for a solution for this. I solved it with this quick fix

[code]

Apart from this quick fix I see the point on defaulting to the "legacy" dialect to keep backwards compatibility. I see two solutions for this issue:
1. Expose and read the dialect version from the connection extras
2. Set the flag dynamically from the sql code if it starts with `#starndardSQL` lik

[2021-07-29 22:15] jedcunningham opened #17326 "`TestLocalTaskJob.test_mark_success_no_kill` fails consistently on MSSQL"
**Apache Airflow version**: main

**Environment**: CI

**What happened**:

The `TestLocalTaskJob.test_mark_success_no_kill` test no longer passes on MSSQL. I initially thought it was a race condition, but even after 5 minutes the TI wasn't running.

https://github.com/apache/airflow/blob/36bdfe8d0ef7e5fc428434f8313cf390ee9acc8f/tests/jobs/test_local_task_job.py#L301-L306

I've tracked down that th

[2021-07-29 23:30] jedcunningham commented on #16895
With Airflow config, the first one wins out of: env var, config file, commands, secrets, default config

Env var still seems like the most likely cause. Config file seems like it is being found because `remote_base_log_folder` is correct. We see `remote_logging = True` in your config file as well, so env var? Have you had a chance to check?

For me, standing up a new release with these values does

[2021-07-29 23:37] ImadYIdrissi commented on #17320
I don't understand why this thread was closed.

I am not trying to use it for production, we are merely testing this approach, and challenging it.

OK so setting my UID manually in the `.env` file is not the same as doing `echo -e "AIRFLOW_UID=$(id -u)\nAIRFLOW_GID=0" > .env` ??
Wouldn't that just relace my `.env` file and remove my `AIRFLOW_HOME`?? plus my UID (1001) is already set within it? BTW

[2021-07-30 00:02] mik-laj commented on #17307
It is related? https://github.com/apache/airflow/pull/17100

[2021-07-30 00:22] kaxil commented on #15607
@neilharia7 The problem for you seems like `cross-sell-v3-new` DAG does not exist when Airflow parses it sometimes, which is why Airflow removes it from the `serialized_dag` table. Increase `[processor_poll_interval](https://airflow.apache.org/docs/apache-airflow/stable/configurations-ref.html#processor-poll-interval)` if you want to increase the interval on how frequently Airflow should parse you

[2021-07-30 00:29] Dr-Denzy commented on #16372
This is a test comment to test my code. To be deleted soon after.

[2021-07-30 00:34] Dr-Denzy commented on #16303
Another test.

[2021-07-30 00:37] kaxil commented on #17257
`(isinstance(current_task, SubDagOperator)`  should return true if you extend SubDagOperator, example:

[code]

[2021-07-30 00:43] kaxil commented on #15670
Yup you are right @Jaxing , use the following that should work both in 1.10.15 and 2.*. It will help in migrations, once you upgrade to Airflow 2.0+, you can then change to using pod_overrides

[code]

[2021-07-30 00:50] kaxil commented on #16703
Yes please

[2021-07-30 01:03] Dr-Denzy commented on #17046
Test comment

[2021-07-30 02:55] ChaiZhi commented on #15978
@daoudjahdou
Are you using the `SequentialExecutor` with `sqlite`?

I have the same issue with sqlite, I think it may cause by the:
[code]

After switching to Mysql, restart the scheduler and sub dag example works fine

[2021-07-30 03:24] sudipto9 commented on #17120
Thank you  @potiuk for quick reply.

[2021-07-30 03:57] sighingnow commented on #17073
After some experiment we think setting `on_{execute,success,failure}_callback` in `default_args` for a DAG works for us.

Thank you @mik-laj

[2021-07-30 03:57] sighingnow commented on #17073
Close as won't fix.

[2021-07-30 03:57] #17073 closed

[2021-07-30 04:28] uranusjr commented on #16372
Figured it out in #16352.

[2021-07-30 04:45] uranusjr commented on #13750
We should probably support passing arguments from a sensor to the underlying hook. Something like this?

[code]

[2021-07-30 05:24] CreedsCode commented on #17307
Yes!

[2021-07-30 06:08] uranusjr commented on #17310
Looks like the doc just builds to slowly on the machine. I don’t think there’s much we can do here (except increasing the timeout, which is probably not that meaningful…)

[2021-07-30 06:30] sudipto9 commented on #17120
@potiuk I have copied the code in the external Libraries's dist-packages/airflow/cli/commands folder. After that Iran below commands to start airflow again.
airflow db init
airflow webserver -D
airflow scheduler -D

but the problem still exists. Please do find the err log below.
raceback (most recent call last):
  File "/usr/local/lib/python3.8/dist-packages/sqlalchemy/engine/base.py", line 2336,

[2021-07-30 07:05] surapuramakhil opened #17332 "different parallelism for different types of task"
**Description**

There could be certain task which requires huge amount of resources which can't be run with default parallelism and many other smaller tasks which are can run at parallelism of 32.

At present there is a parallelism config

The amount of parallelism as a setting to the executor. This defines the max number of task instances that should run simultaneously on this airflow installati

[2021-07-30 07:23] ephraimbuddy commented on #17326
It had a quarantined marker previously, thought I resolved it. Looking into it now

[2021-07-30 07:23] kurtqq commented on #15933
I think the google provider became more trouble than worth.
It installs so many unneeded packages. I think it must be divided

[2021-07-30 08:28] uranusjr commented on #15933
Did the poll actually happen? (I wasn’t following closely and may have missed it.)

[2021-07-30 09:30] potiuk commented on #17268
Hey @oyarushe @scottypate @uranusjr @msumit @Daniel-Han-Yang @rv-irosario @aslantar @malthe @LukeHong
 @sunkickr  @mmenarguezpear @fredthomsen @ngaranko @namjals @dstandish @BKronenbitter @freget  @ashb @ciancolo @samgans - last chance to test before we release later tonight :)

[2021-07-30 09:50] oyarushe commented on #17268
I'm trying to check #16521, but the fix was provided in DbApiHook, which is a general class and I suppose will be released with Airflow itself.
So I think we need to release the Postgres provider after Airflow.

[2021-07-30 09:51] EtsuNDmA opened #17336 "Celery worker fails with RecursionError when asctime is in log_format but is not in json_fields"
- **Apache Airflow version**: 2.1.2
- **Python**: Python 3.8.5
- **CeleryExecutor**

**Environment**:

- **OS** (e.g. from /etc/os-release):  Debian GNU/Linux 10 (buster)
- **Kernel** (e.g. `uname -a`): Linux 074f2dc34905 5.10.25-linuxkit

**What happened**:
We use remote logging to elasticsearch. After upgrade from 1.10.15 to 2.1.2 celery worker fails on each task when the `logging.log_format` co

[2021-07-30 10:05] potiuk commented on #17268
Ah yeah. This is backwards-compatible change, so it's ok to release Postgres now, but indeed testing will be possible only with new Airflow relesed (and it i's a new feature so it should be only released in 2.2.

[2021-07-30 10:14] potiuk commented on #17332
This is currently possible with "pools" feature. https://airflow.apache.org/docs/apache-airflow/stable/concepts/pools.html

[2021-07-30 10:14] #17332 closed

[2021-07-30 10:23] potiuk commented on #17120
There might be multiple reasons why the change might be not taken into account when you just replace the files (.pyc code not recompiled, different location of airflow installation)

You can check the actual location by running this in your python interpreter (but it can also be installed in virtualenv, so you need to make sure you have that virtualenv activated).
[code]

Usually - to be 100% sure

[2021-07-30 10:32] potiuk commented on #15933
Nope. The poll did not happen.

But I agree we might want to split it. It's not a MUST, but It might be
wise to do it. However if we are to split it we need to discuss and figure
out what should be the best strategy (probably an "umbrella" provider that
brings all sup-providers as dependencies to keep backwards compatibility.

It also requires - I think - moving the sub-packages to their own
sub-m

[2021-07-30 10:44] potiuk commented on #17310
Also you can try to increase the number of CPUs that are available to docker engine. The Build will take advantage of as many CPUS as many you give it to and it will build the documentation in parallel. It looks like the timeout happens because some of the builds were scheduled to run (via paralell) and waited too long, so i f you increase number of CPUs, they will run much faster in general.

(Pl

[2021-07-30 10:44] #17310 closed

[2021-07-30 11:24] Dr-Denzy commented on #16370
Test comment - To be deleted

[2021-07-30 11:54] jdomag opened #17338 "no variables injected via AIRFLOW_VAR_NAME"
**Apache Airflow version**: 2.1.1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.18.11

**Environment**: helm chart used to install airflow https://airflow.apache.org/docs/helm-chart/stable/adding-connections-and-variables.html#variables

**What happened**:
When I inject variables to airflow webserver pods via AIRFLOW_VAR_{NAME}  ( accordingly to: https://airflow.

[2021-07-30 12:05] jonathonbattista commented on #10964
For us, Kubernetes was killing the pods (contrary to what the logs seem to indicate). I am betting **Received signal: 15. Closing gunicorn. means 15** is a shutdown/terminate signal. Increasing the **initialDelaySeconds** of the Liveness Probe fixed it.

[2021-07-30 12:19] baolsen commented on #10874
I can put together a PR, to refactor SSHOperator to isolate the "run an SSH command" part

[2021-07-30 12:38] potiuk commented on #17338
Variables added via env vars or secrets are not visibile in the UI. This is by design, also because you cannot modify them. The Variables UI is not "all variables of Airflow" but "Those variables that are defined in the DB and editable".

[2021-07-30 12:38] #17338 closed

[2021-07-30 13:08] collinmcnulty commented on #14392
I can take a shot at improving this. I agree with @ldealmei that if you follow the example on the [Variables page](https://airflow.apache.org/docs/apache-airflow/stable/concepts/variables.html), it walks you straight into an antipattern that will slow the dag parsing down significantly.

[2021-07-30 13:15] potiuk commented on #17320
The reason it was closed, because you indicated that things will work out-of-the-box when you indicated yourself you tried to change users (first 50000 and then 1001) and that it has changed since previous time, which indicated that you expected more from the docker compose than what it is intended to.

The "quick start" is really to get you quick-started and if you want to change anything (like c

[2021-07-30 13:20] ciancolo commented on #17268
Tested  #16365 and #17125 on my local Tableau Server and they works.

[2021-07-30 13:29] potiuk commented on #17320
Manually means added to Dockerfile and specify it verbatim at the time of docker building. This is at least one of the solutions in the thread that you mentioned (you did not tell which one it was, so I picked the one that concluded the thread).

[2021-07-30 13:32] potiuk commented on #17320
This looks good. As mentioned above - I recommend you to wipe it out, restart and see if you still have problems. In your earlier comments you mentioned that previously you used different USER and you used sudo to run docker command (which is guaranteed not to work because then your container are run as root rather than your own user. So I guess (as I wrote) that you missed the .env setup and run

[2021-07-30 13:43] nijanthanvijayakumar commented on #10182
@potiuk - is another contributing to Airflow workshop coming soon? 🤔

[2021-07-30 13:54] collinmcnulty opened #17340 "Retrieve session logs when using Livy Operator"
**Description**
The Airflow logs generated by the Livy operator currently only state the status of the submitted batch. To view the logs from the job itself, one must go separately to the session logs. I think that Airflow should have the option (possibly on by default) that retrieves the session logs after the batch reaches a terminal state if a `polling_interval` has been set.

**Use case / moti

[2021-07-30 14:33] huf-92 opened #17343 "Dags added by DagBag interrupt randomly"
**Apache Airflow version**: 2.1.2

**Kubernetes version**: not used

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS**: CentOS Stream 8
- **Kernel**: Linux 4.18.0-315.el8.x86_64
- **Install tools**:
- **Others**:

**What happened**:

I added this script

	import logging
	from airflow.models import DagBag

	# folders with dag definitions to add
	dags_dirs = ["random/path"]

[2021-07-30 14:38] #17326 closed

[2021-07-30 14:39] mgorsk1 commented on #17238
I noticed it is more likely to happen when there are a lot of DAGs triggered at the same time. We trigger DAGs with external app and today around 7 DAGs were executed within 3 minutes window. All of them failed and were affected by this bug.

[2021-07-30 14:55] josh-fell commented on #7858
This would be particularly useful if a branch can be short-circuited at some point but there are tasks that still need to execute after branches converge.

@eladkal Happy to take this one if it's needed.  Implemented something to handle this a while back and probably should contribute the logic 🚀

[2021-07-30 15:07] potiuk commented on #10182
Not planned yet, but why not if there are people who would be interested.

[2021-07-30 15:25] tsabsch commented on #17022
Thanks for the reply @josh-fell. Yes, I can confirm that using the context's `ti` directly works. That covers however only a subset of scenarios, because it only works for the `TaskInstance` directly associated with the operator, not the other `TaskInstance`s in the `DagRun`. In my actual use case, I want to use the code in the `on_failure_callback` to gather statistics about the `Dag`when a run f

[2021-07-30 16:48] andriisoldatenko commented on #12236
i can confirm it doesn't work if you add `from mlflow.tracking import MlflowClient` to any dag.
`mlflow version: 1.19.0`
`airflow: 1.10.15`

[2021-07-30 18:15] sreenath-kamath commented on #17340
I can submit a PR for this, Will be a good addition to the LivyOpeartor

[2021-07-30 18:50] leahecole opened #17348 "Add support for hyperparameter tuning on GCP Cloud AI"
@darshan-majithiya had opened #15429 to add the hyperparameter tuning PR but it's gone stale. I'm adding this issue to see if they want to pick it back up, or if not, if someone wants to pick up where they left off in the spirit of open source 😄

[2021-07-30 19:01] rounakdatta commented on #16037
Hello @potiuk @alexInhert, I have tried an implementation of the above discussions, can you review once? Thanks.

[2021-07-30 19:03] paantya opened #17350 ""Failed to fetch log file from worker" when running CeleryExecutor in docker worker"
** Apache Airflow version **:
AIRFLOW_IMAGE_NAME: -apache / airflow: 2.1.2-python3.7

**Environment**:

- ** running in docker on ubuntu 18.04**
here is the config
curl -LfO 'https://airflow.apache.org/docs/apache-airflow/2.1.2/docker-compose.yaml'

**What happened**:

I run on one server a docker compose without workers, and on another server a worker using docker.
When the task has been counted,

[2021-07-30 19:18] #17316 closed

[2021-07-30 19:28] potiuk commented on #17340
Assigned you @sreenath-kamath !

[2021-07-30 19:52] potiuk commented on #17350
It's the problem of misconfiguration of both servers. You need to specify  the same secret key to be able to access logs. Set AIRFLOW__WEBSERVER__SECRET_KEY to randomly generated key (but should be the same  on both - the workers and webserver).

[2021-07-30 19:54] potiuk commented on #17350
More explanation: This is the result of fixing the potential security vulnerability (logs could be retrieved without authentication). By specifying same secret keys on both servers you allow the webserver to authenticate when retrieving logs.

[2021-07-30 19:57] jedcunningham commented on #17238
I've tried to replicate this with the following DAG without success:

[code]

@mgorsk1, any chance you could try in your instance with that DAG? Also, filtering down to the pod name might be missing an important log message. I'd try filtering by a unique task_id (if there is one) too.

[2021-07-30 19:59] paantya commented on #17350
@potiuk
Please tell me if you have an example of how to install it? How to generate?
I have not come across a similar one
should there be a prime number or some specific file?

[2021-07-30 20:00] paantya commented on #17350
like this?
`AIRFLOW__WEBSERVER__SECRET_KEY=42`

`docker run --rm -it -e AIRFLOW__CORE__EXECUTOR="CeleryExecutor" -e AIRFLOW__CORE__SQL_ALCHEMY_CONN="postgresql+psycopg2://airflow:airflow@10.0.0.197:5432/airflow" e AIRFLOW__CELERY__RESULT_BACKEND="db+postgresql://airflow:airflow@10.0.0.197:5432/airflow" -e AIRFLOW__CELERY__BROKER_URL="redis://:@10.0.0.197:6380/0" -e AIRFLOW__CORE__FERNET_KEY="" -e

[2021-07-30 20:01] paantya commented on #17350
or some more complex hash?

[2021-07-30 20:05] potiuk commented on #17350
I know 42 is the ultimate answer, but probably not here :)

[2021-07-30 20:09] potiuk commented on #17350
this is very typical secret key of a flask server
https://newbedev.com/where-do-i-get-a-secret-key-for-flask

[2021-07-30 20:09] #17350 closed

[2021-07-30 22:17] jedcunningham commented on #17343
Try removing the `trigger.execute({})` line. This is causing the scheduler to trigger the DAG every time the DAG is parsed (which can be roughly every 30s), probably not what you intended.

[2021-07-31 01:18] enriqueayala commented on #17176
We're having same issue on 2.1.0 with same use case: TriggerDagRunOperator -> DAG with a subdag . This is affecting subdag tasks relying on xcom values from a parent dag task (which produces incorrect/failed process cause xcom value doesn't exist yet) .  Is there any workaround?

[2021-07-31 05:11] uranusjr commented on #17012
“Trigger this task if none (of the upstreams) failed or [were] skipped” reads reasonable to me, so IMO a rename is not necessary. But English is hard and also not my first langauge, so don’t take my word for this 🙂

[2021-07-31 05:12] uranusjr commented on #17226
I’m assuming this can be closed since #17227 has been merged.

[2021-07-31 05:12] #17226 closed

[2021-07-31 05:35] #17235 closed

[2021-07-31 05:37] ManiBharataraju commented on #17176
@enriqueayala - We created a custom TriggerDagRunOperator along with the changes in trigger_dag.py. I just copied the trigger dag run operator code and trigger_dag.py code and made the one change that I have mentioned. That worked.
But I am unsure of why that was done or if that is the real reason behind this issue. As a temporary fix, u can do that.

[2021-07-31 10:32] #16680 closed

[2021-07-31 12:49] zkan commented on #17310
I've tried to increase CPUs to 8 and still got the same issue.

However, the good news is that building a single package `./breeze --python 3.8 build-docs -- --package-filter apache-airflow` works fine. Many thanks! 😄

[2021-07-31 13:36] potiuk commented on #17310
Glad to hear it helped  :)

[2021-07-31 15:49] mik-laj commented on #17306
@potiuk  Could you give some tips on what the `airflow-pgbouncer-exporter` contribution process looks like? I suspect that we are not accepting new changes to this repository.

[2021-07-31 17:10] xingdao commented on #17257
I know, but it just no work,

final, I overwrite the source code.

Thanks.

[2021-07-31 17:59] potiuk commented on #17306
Why not ? I think it's exactly the same as for airflow-site or any other repository. Pull Request will do. When we think we should make an image with it we will just push it as an image - as we did before. We do not officially release it (same as with airflow-site), we do not provide sources for it.

Do you have other proposals how to proceed?

[2021-07-31 18:01] potiuk commented on #17306
For me this is exactly the same as when we use "postgres image" - with the difference that we push the image ourselves. but it is not the "software" released by ASF. But maybe we should rethink that approach. Any ideas are welcome here :)

[2021-08-01 15:47] enriqueayala commented on #17176
Thanks @ManiBharataraju

[2021-08-01 16:52] pateash opened #17362 "Implementing Open API client for JVM based languages"
**Description**

Similar to [airflow-client-python](https://github.com/apache/airflow-client-python),
we should have a client for JVM based languages( Java/Scala/Kotlin)

We will generate and maintain a stable version of Api Client in repository
[airflow-client-java](https://github.com/apache/airflow-client-java)

Although, using OpenAPI Specs user is able to generate API Client themselves,
but th

[2021-08-01 16:54] pateash commented on #17362
There is a lot of discussion and work is happening around Airflow OpenAPI spec and clients,
All suggestions and concerns are welcome.

[2021-08-01 20:38] potiuk commented on #17158
Hey @ciancolo - how about the change here :) ?

[2021-08-01 20:52] potiuk opened #17363 "Quarantine TestLocalTaskJob.test_mark_success_on_success_callback"
The test is flaky  and fails sometimes:

[code]

[2021-08-01 21:38] #14054 closed

[2021-08-01 22:34] #16972 closed

[2021-08-01 22:38] #12035 closed

[2021-08-01 22:46] potiuk commented on #17191
Yeah. I agree with @jedcunningham . I think it should be the matter of deployment (for example K8S) to take care about health of all components indepenendently from the master. The helth-check endpoint in K8S is a typical way of checking if particular endpoint is "healthy". In a way "main" process might not know how many "workers" should be available and whether there should be a specific number o

[2021-08-01 22:51] potiuk commented on #17161
I welcome you to propose a PR for that. You can easily open a PR to documentation by using "Suggest a change on this page" button (bottom-left of each page of our documentation) without having any develipment environment, using the GitHub UI.  Probably, as person who struggled with it you know best where you'd be looking for it! This is one of the best and easiest way to contribute back in-return

[2021-08-01 23:08] #14880 closed

[2021-08-01 23:12] #12499 closed

[2021-08-01 23:15] subkanthi opened #17368 "Add example DAG for SlackAPIFileOperator"
The SlackAPIFileOperator is not straight forward and it might be better to add an example DAG to demonstrate the usage.

[2021-08-02 04:38] WingCode opened #17369 "Java OpenApi Swagger Codegen Client getDag by id fails"
**Apache Airflow version**: 2.0.0

**What happened**:
Calling `dagApi.getDag("test_dag")` fails.
The OpenApi codegen client fails with an error:
[code]

The Swagger codegen client fails with error:
[code]

**What you expected to happen**:
Return a DAG object

In [https://airflow.apache.org/docs/apache-airflow/stable/_specs/v1.yaml](https://airflow.apache.org/docs/apache-airflow/stable/_specs/v1.ya

[2021-08-02 04:40] WingCode commented on #17369
@pateash Could you confirm whether you are facing the similar issue with the Java codegen client?

[2021-08-02 05:11] uranusjr commented on #17369
This seems to be a bug in the Java implementation? Quoting #9080:

[2021-08-02 07:05] cctvzd7 opened #17370 "Task set to be failed by scheduler directly, while all up streams success"
**Apache Airflow version**: 2.1.1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`): `Linux e08g09383.cloud.eu13 3.10.0-327.ali2010.rc7.alios7.x86_64 #1 SMP Thu Jun 29 21:45:21 CST 2017 x86_64 x86_64 x86_64 GNU/Linux`
- **Install tools

[2021-08-02 07:06] vijayakumarpattanashetti opened #17371 "File contents of application_file are not loaded due to missing open & read functions"
**Apache Airflow version**: 2.0.1

**Kubernetes version**: 1.20.7

**Driver**: Docker 20.10.7

**Environment**: Local minikube

- **Cloud provider or hardware configuration**: 2 GHz Quad-Core Intel Core i5 Processor, 16GB RAM, 500GB SSD
- **OS**: macOS Catalina Version 10.15.7
- **Kernel**: Darwin Kernel Version 19.6.0: Thu Oct 29 22:56:45 PDT 2020; root:xnu-6153.141.2.2~1/RELEASE_X86_64 x86_64
-

[2021-08-02 07:34] potiuk commented on #17268
Thanks everyone who tested! This is really great help for the community.  The vote has passed and I am proceeding to release the providers!

[2021-08-02 07:34] #17268 closed

[2021-08-02 07:35] uranusjr commented on #17371
It seems like the `SparkKubernetesSensor` is missing an appropriate `template_ext` declaration.

[2021-08-02 07:37] yansfil opened #17372 "Dag Serialization Speed is so slow"
**Apache Airflow version**:
2.1.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
1.20

**Environment**:
gke

**What happened**:
when first initializing airflow project in 2.1.0, the time to complete serialization of dags is too slow.
it takes 30 minutes to complete serialize all dags (600 dags in my project). because of it, I should wait to execute all dags  at the

[2021-08-02 07:37] uranusjr commented on #17370
Could you post some context around the log? That log line simply says the task has failed, which we already know from your description. Something might have happened before that to trigger the failure state.

[2021-08-02 07:47] kaojunsong commented on #17279
https://github.com/dpgaspar/Flask-AppBuilder/pull/1160 could probably solve this issue.

[2021-08-02 07:48] uranusjr commented on #17176
@ManiBharataraju WOuld you mind submitting that change you alluded to? (You said you made a change and where you changed, but didn’t mention *what* you changed it into.) We can maybe discuss the issue better when there’s concrete code.

[2021-08-02 07:49] cctvzd7 commented on #17370
There was only one log line about this issue in scheduler log file.
![image](https://user-images.githubusercontent.com/7961421/127823563-8306479b-0657-4637-9b79-9424d7c3b9f2.png)

[2021-08-02 07:51] uranusjr commented on #17370
That’s unfortunate. Maybe someone would be able to spot some pattern.

[2021-08-02 08:05] #17276 closed

[2021-08-02 08:33] ephraimbuddy commented on #17370
@cctvzd7 can you add a dag that can be used to reproduce this?

[2021-08-02 08:46] georborodin opened #17373 "Allow using default celery commands for custom Celery executors subclassed from existing"
**Description**

Allow custom executors subclassed from existing (CeleryExecutor, CeleryKubernetesExecutor, etc.) to use default CLI commands to start workers or flower monitoring.

**Use case / motivation**

Currently, users who decide to roll their own custom Celery-based executor cannot use default commands (i.e. `airflow celery worker`) even though it's built on top of existing CeleryExecutor.

[2021-08-02 08:48] ManiBharataraju commented on #17176
@uranusjr - Hey, the line highlighted here,
https://github.com/apache/airflow/blob/main/airflow/api/common/experimental/trigger_dag.py#L81
I removed `dag.subdags`. But, I am not sure whether that is the right fix for this because it seems to be not a recent change and not sure why it was put in the first place(maybe to support some other use case).

[2021-08-02 09:00] cansjt opened #17374 "The new weberser does not seem to care about AIRFLOW__CORE__SQL_ALCHEMY_SCHEMA"
The new UI does not seem to care about the AIRFLOW__CORE__SQL_ALCHEMY_SCHEMA configuration directive.

**Apache Airflow version**: 2.1.2

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): not relevant

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

[2021-08-02 09:09] uranusjr commented on #17374
I’m not entirely sure, but I think `sql_alchemy_schema` does not apply for `ab_*` prefixed tables; those are created by Flask-Appbuilder and out of Airflow’s control.

[2021-08-02 09:25] mik-laj commented on #17191
@potiuk Only in our case we do not have an ideal situation that is in line with the philosophy of K8s. In our case, one component performs two roles: webserver, tasks handling service. For webserver, it is more common to use an HTTP-based probe, but for the second type of service (which does not provide an HTTP endpoint), it is more natural to use exec probe. Kubernetes also does not allow us to d

[2021-08-02 09:37] akotuc opened #17375 "Scheduler "deadlocks" itself when max_active_runs_per_dag is reached by restart of failed task in previous run"
_**Apache Airflow version: 2.1.2**_

**What happened:**
Let's say we have DAG with max_active_runs = 1 and wait_for_downstream = true config with hourly schedule. Now one of the task fails and DAG run change its status to failed. Next DAG hourly run triggers after some time however tasks don't run due to wait_for_downstream dependency. The issue why the previous DAG run failed is resolved and the

[2021-08-02 09:38] potiuk commented on #17372
This problem is already solved. You should run multiple schedulers.

One of the reasons Airflow HA scheduling is implemented is to allow scaling of serialization part. You can read more about HA scheduler, how it works and it's scalability characteristics in this blog post from Astronomer,

https://www.astronomer.io/blog/airflow-2-scheduler#:~:text=As%20part%20of%20Apache%20Airflow,once%20their%20

[2021-08-02 09:38] #17372 closed

[2021-08-02 09:59] eejbyfeldt commented on #16847
Yep, the fix looks like it solves the issue to me.

[2021-08-02 10:05] potiuk commented on #17191
But since our workers already have webserver built-in and there is one webserver per worker which is involved with running the worker itself - what is the problem of each worker providing health check using HTTP? I do not see any reason why we could not use it. There are many services that provide health check over http, even if their primary task is doing something else. Such health-check end-poi

[2021-08-02 10:08] cansjt commented on #17374
I think if you use a framework to build an application, that application should control the behavior of the framework, not let it do as it pleases.

I am no specialist of Flask AppBuilder but my understanding is that you use it with regular SQLAlchemy declarative ORM models. So I am guessing you should be able to create those models with the appropriate `MetaData` object (w. custom base model clas

[2021-08-02 10:22] karakanb commented on #16847
is there any timeline regarding when would this be released? I am using the official Docker images as the base, and couldn't see a release candidate that might include this, but maybe I am looking at the wrong place.

[2021-08-02 10:29] uranusjr commented on #17374
I think it’d work. AppBuilder is initialised here:

https://github.com/apache/airflow/blob/71088986f12be3806d48e7abc722c3f338f01301/airflow/www/extensions/init_appbuilder.py#L46-L52

and `settings.Session` is initialised here:

https://github.com/apache/airflow/blob/71088986f12be3806d48e7abc722c3f338f01301/airflow/settings.py#L204-L235

So I think we just need to consider `sql_alchemy_schema` in `

[2021-08-02 10:30] ephraimbuddy commented on #17363
Thinking of terminating the process once the join times out. e.g

[code]
Should we try it?

[2021-08-02 10:35] potiuk commented on #17374
Yeah. I think if we are creating the tables in "public" this should be fixed, the FAB tables should be created in the same schema as the airflow tables (or in dedicated schema if we would add this possibility).

Submitting a PR fixing it would indeed be nice @cansjt

[2021-08-02 10:37] potiuk commented on #17374
We'd probably implement some migration path as @uranusjr mentioned - likely detecting if the tables are defined in public schema and offering the user migration to the new one. Those tables are rather small so simply copying the content over for those tables should be rather painless and fast.

[2021-08-02 10:39] potiuk commented on #16847
Look at the "milestone" - for the issue and PR. It is scheduled for 2.1.3 which is coming shortly (basically when we fix all the issues which are visible in the milestone - likely release coming in this or next week.

[2021-08-02 10:40] potiuk commented on #16847
Closed by #16301

[2021-08-02 10:40] #16847 closed

[2021-08-02 11:03] potiuk commented on #17373
Would you like to provide a PR fixing it? Seems like the approach where executor could define what "type" of the executor it is a good approach. Sounds like an easy fix.

[2021-08-02 11:06] #17031 closed

[2021-08-02 11:31] cansjt commented on #17374
Well it is not the only issue I am facing with upgrading to Airflow 2.x. So I would like to sort those out first. But I'll see what I can do.

With respect to the migration, it might be quite tricky as, as I mentioned, the migrations created the table in the right schema (`airflow` in our case), but the application created others in the `public` schema.

To make matter worse both contain data. As

[2021-08-02 11:44] ManiBharataraju commented on #17176
@uranusjr -

The subdags are getting triggered after upstream dependencies are met. But, without the change, the subdags get triggered as soon as the parent dag is triggered and not respecting the upstream task dependencies.

One thing that I observed is, the triggered dags no more have run id as `trig__<date>` they now have run id as `manual__<date>` and subdags are inheriting run id from the par

[2021-08-02 11:47] georborodin commented on #17373
@potiuk would be my pleasure! Suppose I'd be able to provide a PR in a couple of days

[2021-08-02 11:57] brunoffaustino commented on #14924
We are also facing this issue right now. Any news?
cc: @Cabeda @pmamarques

[2021-08-02 12:10] potiuk commented on #17373
Assigned you then :)

[2021-08-02 12:17] potiuk commented on #17374
I think we need some of @jhtimmins expert knowledge on that part :)

[2021-08-02 14:33] kosteev opened #17381 "Bug in the logic of Celery executor for checking stalled adopted tasks?"
**Apache Airflow version**: 2.1.1

**What happened**:

`_check_for_stalled_adopted_tasks` method breaks on first item which satisfies condition
https://github.com/apache/airflow/blob/2.1.1/airflow/executors/celery_executor.py#L353

From the comment/logic, it looks like the idea is to optimize this piece of code, however it is not seen that `self.adopted_task_timeouts` object maintains entries sort

[2021-08-02 14:44] #17032 closed

[2021-08-02 14:50] jedcunningham commented on #17374
In the meantime, a workaround to this would be to not use `sql_alchemcy_schema` on the Airflow side and set it via `search_path` on the db or user on the psql side.

[2021-08-02 15:05] yevsh commented on #10026
Same here:
I placed python DAG file in airflow_dags  folder, and DAG executed twice!

any solution?

[2021-08-02 15:53] Zacharyr41 commented on #11309
This may be a silly question, but where can I edit this systemd file contents?

[2021-08-02 16:12] mik-laj commented on #17368
Are you willing to submit a PR?

[2021-08-02 16:13] zachliu commented on #17260
in case someone else is in the same situation, i used to do
[code]
in my `entrypoint.sh` when running Airflow locally. this makes `webserver` and `worker` have different keys
now i just need to
[code]

[2021-08-02 16:52] cansjt commented on #17374
FYI here is the SQL script I used to move things around:
[code]
Ensures, in the most portable way I could think of, that there will be no issues with ID (or sequences or whatever).
Controlled things went okay with these ones. They should not return any row, if everything went fine:
[code]

[2021-08-02 17:11] afonit commented on #11309
@zacharya19 ,
I created mine here:
[code]

[2021-08-02 17:37] subkanthi commented on #17368
Yes , please assign it to me. Sorry I should have added that info, was too quick to create the issue.

[2021-08-02 19:42] potiuk commented on #17307
duplicate of #17100

[2021-08-02 19:42] #17307 closed

[2021-08-02 19:45] potiuk commented on #16892
This feature has now been merged via #17321

[2021-08-02 20:41] potiuk commented on #17371
@vijayakumarpattanashetti - would you like to add PR fixing it ? That seems super simple and would be nice contribution to community

[2021-08-02 20:43] #14200 closed

[2021-08-02 20:47] #16880 closed

[2021-08-02 20:59] vijayakumarpattanashetti commented on #17371
Hi @potiuk, yes. I am working on it.

[2021-08-02 21:31] Falydoor commented on #8301
@snazzyfox: were you able to change the role session duration to more than 1h in Airflow 1.10.X?  I might have to update to 2.X unless there is a way for 1.10.X

[2021-08-02 21:39] mik-laj commented on #8301
We support the refreshable credentials on Airflow 2.1. https://github.com/apache/airflow/pull/16771

[2021-08-03 01:05] jedcunningham commented on #17370
Is there anything in the normal scheduler log (the above is the parsing log)?

[2021-08-03 04:10] cctvzd7 commented on #17370
@jedcunningham @uranusjr
I enable debug log level in scheduler, and the logs are as follows:

[2021-08-03 11:41:46,088] {scheduler_job.py:643} INFO - DAG(s) dict_keys(['blink_deploy_zprofile']) retrieved from /opt/airflow/dags/dag/blink_deploy_zprofile.py
[2021-08-03 11:41:46,088] {scheduler_job.py:560} DEBUG - Processing Callback Request: {'full_filepath': '/opt/airflow/dags/dag/blink_deploy_zpro

[2021-08-03 07:07] mwaaas commented on #16227
I see the issue has been closed, but am still experiencing the issue

[2021-08-03 07:19] uranusjr commented on #16227
The fix that resolved this issue has not been released yet.

[2021-08-03 07:20] mwaaas commented on #16227
ahh, Okay I have seen it has been merged to be deployed in 2.1.3
let me try this work rount
AIRFLOW__SCHEDULER__SCHEDULE_AFTER_TASK_EXECUTION

[2021-08-03 07:24] pateash commented on #17369
yeah, this one too.

[2021-08-03 07:42] eladkal commented on #7858
@josh-fell assigned to you.
(probably hard/soft are not good names, maybe something with cascade can better describe the functionality)

[2021-08-03 08:04] mwaaas commented on #16227
the workround is not working for me, I will just wait for the fix

[2021-08-03 08:14] ephraimbuddy commented on #16227
Yeah. The fix for this is not really the setting, as it turned out. It is fixed in https://github.com/apache/airflow/pull/16301 along with other issues and would be released in 2.1.3.
If you can't wait for 2..1.3 then you will have to modify your deployed code and add `self.terminating=True` in `handle_task_exit` method of LocalTaskJob: `airflow/jobs/local_task_job.py`. It should be top level in `

[2021-08-03 08:48] ericdevries commented on #16922
I honestly do not understand how this behaviour is considered normal. In what case would you expect it to actually load the contents of vivi.json and pass that to the kubernetes pod, instead of just passing the literal string "vivi.json" to it?

Furthermore, how can I pass a string argument to a kubernetes pod operator as an env_var without airflow trying to load it as a file (but only when it end

[2021-08-03 08:52] cctvzd7 commented on #17370
May be related with: #16625

[2021-08-03 09:48] mwaaas commented on #16227
I have changed to use the latest image that has those changes
ghcr.io/apache/airflow-main-python3.9-v2:ff75cbcac9ec0b1992b4fddd6c160901f23e0c2a

but am still seeing the error

ghcr.io/apache/airflow-main-python3.9-v2:ff75cbcac9ec0b1992b4fddd6c160901f23e0c2a

[2021-08-03 09:45:44,395] {local_task_job.py:187} WARNING - State of this instance has been externally set to removed. Terminating instance.

[2021-08-03 10:46] ephraimbuddy commented on #16227
Can I see your dag?

[2021-08-03 10:56] mwaaas commented on #16227
It's a private code, the gist of the logic
there is a table that contains information that I need to publish.

My dag gets records that have not been published and creates a dynamic task to publish.

the publish task ( this task takes time to run up to 30min)

that task is the one that keeps on failing.

[2021-08-03 10:58] ephraimbuddy commented on #16227
@mwaaas Why is the log showing {local_task_job.py:187} instead of line 203 if it contains this change #16301?

[2021-08-03 11:08] mwaaas commented on #16227
was using this image ghcr.io/apache/airflow-main-python3.9-v2:ff75cbcac9ec0b1992b4fddd6c160901f23e0c2a
which I saw its being build from main branch

[2021-08-03 11:10] alittlesliceoftom commented on #13888
Hey @kdunee a very crude one for #14259, I just replace the command I use with one that runs an echo every 30 secs in addition to the main task.

So I prepend this boilerplate to my kube pod calls...

`cmd_boilerplate = "while true; do echo heartbeat; sleep 30; done &"`

Then my KubePodCalls look like:

[code]

[2021-08-03 11:16] ephraimbuddy commented on #16227
Yeah, checking the image it has the change. In your dag, how does the task state change to removed?

[2021-08-03 11:17] ephraimbuddy commented on #16227
I will also simulate this: ```the publish task ( this task takes time to run up to 30min)```

[2021-08-03 11:23] mwaaas commented on #16227
Not sure how the task change to removed.

I have added this config AIRFLOW__CORE__KILLED_TASK_CLEANUP_TIME: 3600 so that the task will wait until its finished before being terminated.

[2021-08-03 11:45] ephraimbuddy commented on #16227
You can check the scheduler log when this happens, probably the task went missing and was removed somewhere. That happened externally and I think it might not be related to this heartbeat issue

[2021-08-03 11:49] mwaaas commented on #16227
Yes from the scheduler logs, I was seeing logs saying cannot find the task.

Why would the task go missing but its still processing.

[2021-08-03 11:50] rafraph commented on #8907
I think in my case it also was DNS issue since when I use the IP instead of the URL the UI become very fast

[2021-08-03 11:52] ephraimbuddy commented on #16227
You can create an issue with a simple dag to reproduce the issue. That way we will figure it out

[2021-08-03 11:54] goodhamgupta commented on #16728
Incase this has not yet been picked up, I would like to work on this issue 😄

[2021-08-03 11:58] cansjt commented on #17022
With Airflow 2.1.2 we are something similar but not identical:
[code]
The code triggering the execution is this
[code]
This is an auxiliary function we use in various tasks, as follows:
[code]
Works fine with 1.10.15. Looking at the documentation (versions 1.10.15, 2.0.0 & 2.12) it seems the `TaskInstance.previous_execution_date_success` as simply been removed, without any deprecation notice. And

[2021-08-03 13:01] ashb commented on #16618
Without a dependency then you might try to get a value out of XCom that hasn't been written yet!

[2021-08-03 13:32] rodrigoechaide commented on #11379
Hi, @Siddharthk are you still facing the same issue? Because I am facing the same issue when running a DAG that has 500 parallel tasks because I am running some stress tests on airflow. In the DAG task, I have an iterator parameter, and by changing it I can modify the duration of each task. It does not matter how long the task lasts, I have had the issue with tasks that last from seconds to more t

[2021-08-03 13:34] sreenath-kamath commented on #17340
Have raised a PR https://github.com/apache/airflow/pull/17393 for the same.

[2021-08-03 13:36] uranusjr commented on #11379
You may find this StackOverflow entry interesting: https://stackoverflow.com/questions/56188537

From what I can gather, this tends to happen when you send a ton of things around in Kubernetes very quickly because the DNS lookup is overwhelmed and cannot respond to requests quickly enough, and you need to tweak your Kubernetes setup to make it work. This is probably not something Airflow has contr

[2021-08-03 13:52] rodrigoechaide commented on #11379
Thanks, @uranusjr. I will check that entry.

[2021-08-03 14:08] terryfugit opened #17394 "WARNING - Recorded pid 4969 does not match the current pid 4969"
**Apache Airflow version**: 2.1.2

**What happened**:
Receive warning message "WARNING - Recorded pid 4969 does not match the current pid 4969", then the "INFO - Sending Signals.SIGTERM to GPID 23307" message terminating our task.

We see other reported issues where the PID numbers in the message are different, but ours are always the same, not always the same number but recorded=current.

Works f

[2021-08-03 14:43] yevsh opened #17395 "DAG is executed twice on submit"
Airflow 2.1.2
runs as pod in kubernetes cluster.

python DAG is placed in airflow_dags location, airflow executes it twice!

From log:

[code]

(14:48:07 - is the system time in container)

[code]

[2021-08-03 15:32] potiuk commented on #16728
Assigned you @goodhamgupta !

[2021-08-03 16:07] potiuk commented on #16922
See discussion in #17186 - it turned out really to be a bug in the implementation of recursive rendering of parameters in Kubernetes Pod Operator,

You can (and Kubernetes operator actually does) specify specific extensions that are treated differently when processing parameters. This is an individual decision of each operator implementation and it only works for templated fields, so you can still

[2021-08-03 16:07] potiuk commented on #17186
I have changed the name to correctly reflect the discussion results.

[2021-08-03 16:51] Raju-basava commented on #8208
hi, I'm new to airflow and interested in contributing to this task, let me know.

[2021-08-03 17:14] fmv1992 commented on #13637
We upgraded from `airflow` `1.10.15` to `2.0.2` and are experiencing this. @kaxil, configs:

*   `[scheduler] parsing_processes`: `2`.

*   `[scheduler] min_file_process_interval`: `60`.

[2021-08-03 18:24] jedcunningham commented on #17394
Likely related to `run_as_user`:
https://github.com/apache/airflow/blob/4dae4ec9a4148db6c32f15ccc122d42c93a2c58a/airflow/jobs/local_task_job.py#L198-L199

Do you have that set in your DAG or [default_impersonation](https://airflow.apache.org/docs/apache-airflow/stable/configurations-ref.html#default-impersonation) set?

[2021-08-03 19:39] smythie86 opened #17398 "With Helm Chart, get CSRF error if setting webserver.replicas > 1"
**Apache Airflow version**: 2.1.2
**Airflow Helm Chart version: 1.1.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.3", GitCommit:"ca643a4d1f7bfe34773c74f79527be4afd95bf39", GitTreeState:"clean", BuildDate:"2021-07-15T20:58:09Z", GoVersion:"go1.16.5", Compiler:"gc", Platform:"darwin/amd64"}
Serve

[2021-08-03 20:42] jedcunningham commented on #17398
#17142 should have fixed this. Silly question, but are you sure you are on 1.1.0, not 1.0.0? Do you see the `valueFrom` `AIRFLOW__WEBSERVER__SECRET_KEY` env var in your webserver pods?

[2021-08-03 20:44] raphaelauv commented on #16922
@louison @ericdevries

[code]

[2021-08-03 20:54] raphaelauv commented on #17035
check this https://github.com/apache/airflow/issues/16922#issuecomment-892153152

[2021-08-03 21:24] smythie86 commented on #17398
Yes, I confirmed that I am running 1.1.0, and that the AIRFLOW__WEBSERVER__SECRET_KEY env variable is set.

After more digging, I discovered that this bug doesn't happen on a helm install, only on a helm-upgrade.

To reproduce: Run helm install for the airflow chart. Once the chart is deployed, increase the replicas count for webserver, and run helm upgrade. You will then receive this error.

It s

[2021-08-03 22:11] jedcunningham commented on #17398
Thanks @smythie86. Unfortunately the naive approach of just adding annotations where necessary isn't enough to fix this (it would cause worker restarts on any `helm upgrade`, which we don't want). In the meantime setting the secret-key is a good solution.

[2021-08-03 23:11] fmv1992 commented on #13637
In our case we get n processes determined by `parsing_processes`. `top` gives:

[code]

All of them with a super high CPU usage. I wonder what's that for. Is is "re-parsing" the DAGs to try to pick up updates in the code?

[2021-08-04 03:07] unixfree opened #17401 "users/list error"
**Apache Airflow version**:

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know**:

[2021-08-04 07:20] shlomi-viz opened #17404 "Path to dags folder in incorrect while using DagBag"
**Apache Airflow version**:
`apache-airflow==2.1.2`

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:
Local on Mac
**What happened**:
While running tests, with `pytest` I'm getting import errors (in

[2021-08-04 07:44] ManiBharataraju commented on #17176
Hey @uranusjr - I see AIP-39 where changes are made as to how dags are scheduled now. Do u think that could have caused this? Still trying to understand what has been done in that. I'll let you know if I find anything.

[2021-08-04 08:04] tanujdhiman commented on #11309
Hello everybody !!

I'm also facing an error of `FileNotFound Error` when using Airflow.

[2021-08-04 09:04] ciancolo commented on #17158
Hi @potiuk,
It is still a WIP change. I prepared the parameters to set proxy configuration for image build and that seems to work fine, but it is necessary to set the proxy also in case run Airflow with Breeze local env: it is necessary for the installation of all the needed packages for webpage build.

Currently, I'm in vacation with no access to my dev env. I'm going to complete the work when I

[2021-08-04 09:23] nmehraein commented on #17394
Can also be same problem as https://github.com/apache/airflow/pull/17333

[2021-08-04 09:28] potiuk commented on #17404
This is expected behaviour. DAGs folder is expected to be in the system path  if you need to import something from there in your DAG.

[2021-08-04 09:28] #17404 closed

[2021-08-04 09:30] potiuk commented on #17404
See also here: https://airflow.apache.org/docs/apache-airflow/stable/modules_management.html#additional-modules-in-airflow - DAGS folder is explicitly added by the path and if  your tests are going to simulate airfow\s behaviour, they have to do the same.

[2021-08-04 09:40] shlomi-viz commented on #17404
Looking at the above link I see

but if I ran my tests without
[code]
those are the paths I see in `sys.path`
[code]
instead of:
[code]

What I'm doing wrong?

[2021-08-04 09:47] potiuk commented on #17404
Check your AIRFLOW_HOME settings. Just debug what are your settings when you run Test and fix it. Not sure how you are running yout tests and what settings you have but this is something that is definitely on your environment side, not Airflow.

[2021-08-04 09:52] #17401 closed

[2021-08-04 11:36] lewis-anderson53 commented on #13750
I too quite like the hook_kwargs option, as it would solve other db hook default issues too, not just BigQuery one.

[2021-08-04 11:38] ashb commented on #8907
It's _always_ DNS.

Even when you think it's not DNS and you check for DNS problems, it's always DNS problems.

[2021-08-04 12:48] mongakshay opened #17413 "Clicking the "Update" button in the "Tree View" of the DAG deletes the DAG runs from UI"
When clicking the "Update" button in the "Tree View" of a DAG ID, I notice that the below listed DAG runs get cleared on every click, and if I keep clicking, it first clears all the runs, and continued clicking brings them back.

[2021-08-04 12:50] mongakshay commented on #13542
I am also noticing this issue with my Airflow v2.1.2 instance, where the task is forever in queued state, and in the scheduler log I see
[code]

[2021-08-04 12:57] #8061 closed

[2021-08-04 13:02] shlomi-viz commented on #17404
Thanks, the problem was in my code, I used https://pypi.org/project/python-decouple/ to load the env var but it doesn't add them into `os.environ`

[2021-08-04 13:12] bbovenzi commented on #17413
@mongakshay Could you provide more details?
- What version of Airflow are you using?
- Which button are you pressing? The refresh button in the graph below or the one that sits with the Run and Delete buttons?

[2021-08-04 14:08] terryfugit commented on #17394
But our PID is the same.  Always the same.  We don't understand why we would get it in this instance.

#17411 seems like a candidate.  Looking through logs it seems as though we get it after the heartbeat time has lapsed.  That doesn't, however, provide us an ideas on why we would get it in that case anyway since our PID is the same, nor an options for addressing the issue.

[2021-08-04 14:14] ephraimbuddy commented on #17394
Are you using impersonation as @jedcunningham asked above? You can also explain to us how we could reproduce this, e.g how long the dag takes to run, and also provide a simple dag if possible.

[2021-08-04 14:57] ricardogaspar2 commented on #16618
Makes sense. I think I got used to see how DAGs are now rendered with this new XComs/TaskFlow API (using `.output`) . Before Airflow wasn't creating edges between the tasks that were using the values.
Not part of this topic, but it would be cool to have a visual representation of the variable that is being passed, much like Dagster does in their UI.

[2021-08-04 15:26] terryfugit commented on #17394
@ephraimbuddy We are going to apply this fix to see if it addresses the issue.
https://github.com/apache/airflow/pull/17333/commits/428cc76cc589efb73751bea6e925e8fa28bfe812

[2021-08-04 15:46] fmv1992 commented on #13637
Setting the following helped immensely:

[code]

Some of these are suitable for our use case, I believe `min_file_process_interval = 600` might be the minimal required change.

[2021-08-04 15:50] ephraimbuddy commented on #17394
Ok. Let us know if it resolved it

[2021-08-04 16:06] zelatyna opened #17422 "AttributeError: 'PostgresHook' object has no attribute 'schema'"
**Apache Airflow version**: 2.1.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):1.21

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):Linux workspace
- **Install tools**:
- **Others**:

**What happened**:

Running PostgresOperator errors out with  'PostgresHook' object has no attr

[2021-08-04 19:20] mik-laj commented on #17422
Can you provide output of airflow providers list command? I have the impression that the latest package requires Airflow 2.2.

[2021-08-04 19:40] potiuk commented on #17422
Yeah. I swa some other errors related to that and just yanked the new 2.1.0 Postgres release (we should be able to fix it easily)

[2021-08-04 19:43] potiuk commented on #17422
For now downgrading Postgres operator to 2.0.0 should fix the problem.

[2021-08-04 19:55] potiuk commented on #17422
Yep. Confirmed. We have unintended backwards incompatibility with Postgres Hook

[2021-08-04 22:49] txicos commented on #17120
Hi,

Hi I also applied suggested correction and raised an Exception just after entering method  `create_scheduler_job`, which indeed occurred when executing `airflow scheduler -D`.

However, I am also getting the error whose log is added below:

Process Process-1:
Traceback (most recent call last):
  File "/usr/lib/python3.8/multiprocessing/process.py", line 315, in _bootstrap
    self.run()
  Fil

[2021-08-05 02:25] cctvzd7 commented on #17370
@jedcunningham @uranusjr
Any ideas about this issue?

[2021-08-05 02:52] georborodin commented on #17373
@potiuk would you mind taking a look at my PR to see if I got it right? I feel that code might be a bit 'hacky' 😄

[2021-08-05 04:11] sudipto9 commented on #17120
@potiuk Without webserver and scheduler together, airflow is incomplete. When scheduler service starts when we start webserver. We can have a separate module also to restart the scheduler.

[2021-08-05 04:41] fuguixing opened #17429 "Scan the DAGs directory for new files througth restfull API"
**Description**

Scan the DAGs directory for new files througth restfull API

**Use case / motivation**

In my case, the app will automatically create dag files through python. After the app dynamically created a dag, I hope that the dag will be available immediately, but currently, I need to wait for the schedule to scan this file(dag_dir_list_interval = 300). Can I add a restful API to scan new

[2021-08-05 06:12] raajpackt commented on #16238
Should this bug still exist in `airflow:2.1.0` ?
Because i am using that version and it exists. Will this be resolved in future versions?

[2021-08-05 06:34] potiuk commented on #16238
See the milestone from merged bug - it's 2.1.1, so try this one

[2021-08-05 06:35] potiuk commented on #16238
Generally - you can safely upgrade to latest released version of Airflow. We are following SemVer, so there should be generally no breaking changes in 2.* seriers.

[2021-08-05 07:12] potiuk commented on #17373
Not really. It's good. Small Nit :)

[2021-08-05 07:30] ephraimbuddy commented on #17395
@yevsh , I was not able to reproduce this. I ran the dag with a BashOperator and it ran only once.
[code]
Can you provide more information?

[2021-08-05 07:35] ephraimbuddy commented on #17370
If so, then it's resolved in https://github.com/apache/airflow/pull/16301 which will be released in 2.1.3

[2021-08-05 08:29] yevsh commented on #17395
Can we some how identify the issue?
What you want me to send?

![image](https://user-images.githubusercontent.com/24428652/128318078-16760103-861b-4df6-ae62-eb973c20e68e.png)

You can see on the image, the first 2  top screens are teh first and second run, start time is the same.
the third screen is the third run, with correct start timr as scheduled (all the following runs are correct).

[2021-08-05 08:54] sighingnow commented on #14063
It is no longer a problem on master.

[2021-08-05 09:10] ephraimbuddy commented on #17395
You can provide the complete dag @yevsh, just enough information to reproduce the behavior on my end.

From the image, I can see that the first two have different Run IDs, but were started at the same time.

[2021-08-05 09:24] yevsh commented on #17395
i suspect something related to time/system time?

![image](https://user-images.githubusercontent.com/24428652/128325675-d2d4bf84-9c88-4e73-81fa-c0ed9bc26653.png)

![image](https://user-images.githubusercontent.com/24428652/128325988-5e244c1d-0318-4525-ac3b-c11f8963932e.png)

[2021-08-05 09:45] huozhanfeng opened #17437 "It's too slow to recognize new dag file when there are a log of dags files"
**Description**
There are 5000+ dag files in our production env. It will delay for almost 10mins to recognize the new dag file if a new one comes.

There are 16 CPU cores in the scheduler machine. The airflow version is 2.1.0.

**Use case / motivation**

I think there should be a feature to support recognizing new dag files or recently modified dag files faster.

**Are you willing to submit a PR?*

[2021-08-05 09:52] waleedsamy opened #17438 "TriggerDagRunOperator to configure the run_id of the triggered dag"
**Description**

Airflow 1.10 support providing a run_id to TriggerDagRunOperator using [DagRunOrder](https://github.com/apache/airflow/blob/v1-10-stable/airflow/operators/dagrun_operator.py#L30-L33) object that will be returned after calling [TriggerDagRunOperator#python_callable](https://github.com/apache/airflow/blob/v1-10-stable/airflow/operators/dagrun_operator.py#L88-L95). With https://githu

[2021-08-05 10:28] yevsh commented on #17395
very simple python that I just created.
And placed it in dags folder.

[code]

[2021-08-05 10:29] potiuk commented on #17437
I think, before you start requesting new features, it is great to check if the existing features are not working well for you:

1) Did you try to configure multiple schedulers? Airflow 2 has been specifically designed to be able to scale it's operations with mulltiple schedulers. Please try to increase the number of schedulers you have and see if that can improve your experience.

2) There are a n

[2021-08-05 10:31] ephraimbuddy opened #17439 "Quarantine TestLocalTaskJob.test_process_sigterm_works_with_retries"
This test fails sometimes:

[code]

[2021-08-05 11:27] dinigo commented on #13750
Ok, that's another option. It was suggested here with an example piece of code https://github.com/apache/airflow/issues/17315

What do you think then?

[2021-08-05 12:17] georborodin opened #17442 "Deleted DAG raises SerializedDagNotFound exception when accessing webserver"
**Apache Airflow version**: 2.1.2

**Environment**:

- **Docker image**: official apache/airflow:2.1.2 extended with pip installed packages
- **Executor**: CeleryExecutor
- **Database**: PostgreSQL (engine version: 12.5)

**What happened**:

I've encountered `SerializedDagNotFound: DAG 'my_dag_id' not found in serialized_dag table` after deleting DAG via web UI. Exception is raised each time when

[2021-08-05 12:20] amiriry opened #17443 "No link for kibana when using frontend configuration"
**Apache Airflow version**: 2.1.2

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): using docker-compose not kubernetes.

**Environment**:

- **Cloud provider or hardware configuration**: ubuntu 20.04.2
- **OS** (e.g. from /etc/os-release): Linux
- **Kernel** (e.g. `uname -a`):5.8.0-63-generic
- **Install tools**:
- **Others**:

**What happened**:

I used docker-compos

[2021-08-05 12:35] ephraimbuddy opened #17444 "QUARANTINE TestLocalTaskJob.test_task_sigkill_works_with_retries"
This test is flaky and fails sometimes

[code]

[2021-08-05 13:07] huozhanfeng commented on #17437
Thanks for your suggestion and it's a great harvest for me. In our env, the scheduler machine info is that 16*CPU, 32G memory, and SSD Disk. There are two schedulers in our production with same type of machine. And here are the key configurations of our production env.
<pre>
parsing_processes = 15
min_file_process_interval = 60
dag_dir_list_interval = 60
num_runs = -1
processor_poll_interval = 1
s

[2021-08-05 13:11] ashb commented on #17437
Good detailed follow up analysis, and yes, you have identified the key point they me files are only picked up when the queue is empty

[2021-08-05 13:15] huozhanfeng commented on #17437
Haha, thank you. We have another 5000+ dag to be created in airflow, so it's important for me...

[2021-08-05 13:22] ashb commented on #17437
I've put this against the 2.2 milestone -- no promise if we (the core team) will get in in for 2.2, but PRs greatly accepted and we're happy to help you get your POC PR ready too.

[2021-08-05 13:47] potiuk commented on #17437
Nice. Very useful @huozhanfeng !

[2021-08-05 14:11] micke-a opened #17447 "Option to exclude default / hard-coded helm annotations for jobs and other relevant templates"
**Description**

Option to exclude default / hard-coded helm annotations for jobs and other relevant templates.

**Use case / motivation**

Ability to exclude default helm annotations will make it easier to use tools such as ArgoCD and its Helm integration to manage deployments.

ArgoCD has some understanding of Helm annotations [ArgoCD docs](https://argo-cd.readthedocs.io/en/stable/user-guide/hel

[2021-08-05 14:13] ephraimbuddy commented on #17395
You no longer need apply_default when defining custom operators. Can you take a look at this https://airflow.apache.org/docs/apache-airflow/stable/howto/custom-operator.html

[2021-08-05 15:36] kosteev opened #17449 "Missing menu items in navigation panel for "Op" role"
**Apache Airflow version**: 2.1.1

**What happened**:

For user with "Op" role following menu items are not visible in navigation panel, however pages are accessible (roles has access to it):
- "Browse" -> "DAG Dependencies"
- "Admin" -> "Configurations"

**What you expected to happen**: available menu items in navigation panel

[2021-08-05 21:51] jatejeda commented on #8177
no, it wasn't fixed ... I have the same bug in 2.0.2

[2021-08-05 21:55] Wittline commented on #8177
Hi @jatejeda Please check my github, I used the **PythonVirtualenvOperator**  in a personal project using the version 2.

https://github.com/Wittline/uber-expenses-tracking

[2021-08-05 23:00] wolfier opened #17453 "SQLAlchemy constraint for apache-airflow-snowflake-provider installation"
**Apache Airflow version**: 2.1.0 or really any Airflow versions

**What happened**:

When I try to install the snowflake provider, the version of SQLAlchemy also get upgraded. Due to the dependency of packages installed by the snowflake provider, more specifically the requirements of `snowflake-sqlalchemy`, `SQLAlchemy` is forced to be upgraded.

Without a version ceiling constraint, the snowflak

[2021-08-05 23:37] mik-laj commented on #17443
To enable external links for logs, you need to use a task handler that supports external links. In this case, you should use https://github.com/apache/airflow/blob/866a601b76e219b3c043e1dbbc8fb22300866351/airflow/providers/elasticsearch/log/es_task_handler.py#L44

It looks like you haven't remote logging turned on, so this task handler is not used.
[code]
To check the current task handler, you can

[2021-08-05 23:38] mik-laj commented on #17429
This can be problematic as the webserver is stateless and does not have access to the DAG files.

[2021-08-05 23:41] mik-laj commented on #17429
Related PR: https://github.com/apache/airflow/issues/17437

[2021-08-06 05:11] goodhamgupta commented on #16728
Hi @potiuk,

I think I don't understand the issue well enough. I see that for the SparkKubernetesOperator, the following code segment:
[code]

I think this should already allow .json type file to be uploaded from the UI? I would appreciate if you could provide me with any pointers on how to start this issue. 😅

Thanks!

[2021-08-06 05:23] baolsen commented on #10874
PR is up :) Observations and suggestions welcome.
Happy to make other improvements based on the feedback.
https://github.com/apache/airflow/pull/17378

[2021-08-06 05:34] fuguixing commented on #17429
Thanks for your reply!
In our env, I need to make the new specified DAG available immediately without waiting for Airflow call **_refresh_dag_dir**(in the dag_processing.py), if **dag_dir_list_interval** is too small, which may cause a waste of resources. I tried the following code, which can load the new specified DAG to the database and make it available immediately, and it uses **DagFileProcess

[2021-08-06 07:09] mik-laj commented on #17429
Webserver is stateless, so it don't have access to DAG File.. Webserver can't load Dagfileprocessor.

[2021-08-06 07:31] fuguixing commented on #17429
OK, thanks. Let me think about it again

[2021-08-06 07:35] rgolab commented on #14872
After first install it's true it works. But when you update helm with new value - the new value is visible in the `helm get values airflow` but you are not able to login by using new password.

Steps to reproduce:
1) `helm install --set webserver.defaultUser.password=password airflow ./`
2) `helm upgrade --install --set webserver.defaultUser.password=new_password airflow ./`
3) you are able to log

[2021-08-06 09:29] GlobalKeeper opened #17463 "404 Exception when docker container"
**Apache Airflow version**: v2.1.2

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): none

**Environment**:

- **Cloud provider or hardware configuration**: self-hosted airflow (with scheduler) started in docker, dind container linked to airflows containers, sentry on-premise
- **OS** (e.g. from /etc/os-release): ubuntu 20.04
- **Kernel** (e.g. `uname -a`): 5.4.0-67-ge

[2021-08-06 09:40] noelmcloughlin commented on #16025
I'm using Airflow 2.1.2 on CentOS7 (yes,  know) in a federated topology and all jobs failing.

**Root cause is  fact TASK args includes wrong `--subdir` valuer, passing value of Scheduler's ${DAGS_HOME} instead of Workers ${DAG_HOME}.**   Scheduler and Worker are different host/domains so ${DAG_HOME} cannot be identical.  In `dagbag.py` using  `settings.DAGS_FOLDER` would fix the problem I think:

[2021-08-06 09:52] potiuk commented on #17463
This is a problem with your deployment. Something is killing your tasks (it's not airflow). You should look in logs from your deployment why Airlfow containers are killed. Usually this is because of some resource problems - neither airflow logs nor changing anything in Airflow can help. You should examine the logs of your deployment and figure the root cause/find out why the containers are killed.

[2021-08-06 09:52] #17463 closed

[2021-08-06 10:58] ecwootten commented on #12813
I wonder if this might be a wider problem than just the KubernetesPod/Python operators. I have seen this problem on 1.10.12 with a custom operator (derived from BaseOperator) - but it happens only very intermittently.

Our production cluster (AWS ECS, using docker + CeleryExecutor) has been running for ~11 months without issue, and I just saw this bug for the first time. A single xcom JSON couldn'

[2021-08-06 11:01] potiuk commented on #17453
@wolfier - just a comment - while we can add it in snowflake (and @jedcunningham added it in #17452) for the future there is another way of installing the provider: You can install the provider with latest constraints from main : https://github.com/apache/airflow/blob/constraints-main/constraints-3.6.txt#L33

This is the most "certain" way of installing the most recently released providers. I will

[2021-08-06 11:05] potiuk commented on #17453
Also I am a bit surprised that this happened. By default, when `pip install <PACKAGE>` is run and the installed version of dependency falls in the limits of the dependencies, it should NOT upgrade it to later version (you need to specify `eager` version of package in order that it happens).

@wolfier  -> could you please describe exactly what you have done and how you instlaled the newer version o

[2021-08-06 11:22] cb149 opened #17469 "Label in front of TaskGroup breaks task dependencies"
**Apache Airflow version**: 2.1.0

**What happened**:

Using a Label infront of a TaskGroup breaks task dependencies, as tasks before the TaskGroup will now point to the last task in the TaskGroup.

**What you expected to happen**:

Task dependencies with or without Labels should be the same (and preferably the Label should be visible outside of the TaskGroup).
Behavior without a Label is as follo

[2021-08-06 11:59] potiuk commented on #17120
As a workaround, you do not need to run airflow in Daemon mode.
There is no need to run

[2021-08-06 12:45] akihiro-inui opened #17470 "Airflow scheduler does not start properly."
**Apache Airflow version**:
apache/airflow:2.1.2-python3.8

**Environment**:
Ubuntu 18.04

**What happened**:
When launching Airflow scheduler together with other Airflow services, it throws an error.

Error message
[code]

**What you expected to happen**:
I expected Airflow scheduler to properly launch.

**How to reproduce it**:
I use docker-compose to launch Airflow services which use Dockerfile

[2021-08-06 13:02] andyalbert commented on #15888
I'm new to this project, will try and pick it up

[2021-08-06 13:20] #17192 closed

[2021-08-06 15:30] JavierLopezT opened #17473 "New view "Operator arguments" between "Task Instance Details" and "Rendered""
Hello. A lot of times, when I click on a task, I just want to see the operator arguments that can be manually passed, so Rendered view lacks information, because there are not non-renderable arguments, and Task Instance Details has way too much information, because I don't care about most of the things that are there.

I think it would be useful to add a feature to accomplish this. It could be a n

[2021-08-06 15:41] bbovenzi commented on #10549
Alternatively, instead of adding _another_ config item. We could just get rid of the lots of circles. It doesn't really provide anything useful, as far as I'm aware.

[2021-08-06 18:22] cdabella opened #17475 "Slack provider does not install HTTP provider dependency"
**Apache Airflow version**: 2.1.1+astro.2

**Kubernetes version**: N/A

**Environment**: astro CLI local dev environment

Host
- **Hardware configuration**:  AMD Ryzen 9 3900X (12-core, 3.8GHz), 32GB RAM, SSD
- **OS**: Windows 10 Pro 20H2
- **Driver**: Docker 20.10.7

Container
- **OS**: Debian 10 (buster)
- **Kernel**: `Linux 971928acbe4c 4.19.128-microsoft-standard #1 SMP Tue Jun 23 12:58:10 UTC

[2021-08-06 18:59] potiuk commented on #17475
Thanks for reporting it.

Http provider used to be preinstalled in 2.0 and it had been disabled due.to licensing issues. It has been restored as preinstalled provider and will be back in 2.1.3.

See https://github.com/apache/airflow/pull/16974

[2021-08-06 18:59] #17475 closed

[2021-08-06 19:06] marclamberti opened #17476 "Sensitive variables don't get masked when rendered with airflow tasks test"
**Apache Airflow version**: 2.1.2

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): No

**Environment**:

- **Cloud provider or hardware configuration**: No
- **OS** (e.g. from /etc/os-release): MacOS Big Sur 11.4
- **Kernel** (e.g. `uname -a`):  -
- **Install tools**: -
- **Others**: -

**What happened**:

With the following code:
[code]

By executing the command

`
a

[2021-08-06 19:24] wolfier commented on #17453
interestingly, I was unable to replicate with OSS Airflow. The installation process is little different for my environment so I'll look into that.

Here is how I tested the OSS installation.

I have a python base image.
[code]

`pip` version
[code]

Installation with the [constraints for 2.1.0](https://raw.githubusercontent.com/apache/airflow/constraints-2.1.0/constraints-3.7.txt).
[code]

install

[2021-08-06 20:33] frankcash commented on #16544
I'd be more than happy to grab this.  Is it just to create a hook in the AWS provider along the lines of `RedshiftSqlHook` that essentially utilizes the PostgresHook

[2021-08-06 21:07] amommendes opened #17478 "Feature Request: Provide a next run field in the DAG details page"
**Description**
Provide a next run field in the DAG details page for scheduled dags

**Use case / motivation**
Schedules can be trick to get at a first glance (since it related to `start_date` and `schedule_interval`). We could help users to easily see when the DAG will run next time

**Are you willing to submit a PR?**

Maybe 😁

[2021-08-06 21:51] jedcunningham commented on #17453
I think the difference comes down to what version of pip you have. pip 19.3.1 pulls down 1.3.1, while pip 21.1.2 and 21.2.3 pull down 1.2.5.

[2021-08-06 22:48] jedcunningham commented on #17453
I think the right answer here is "upgrade pip so the new resolver is used".

@potiuk, I'm really curious about the advice to use the constraints from main when installing newer providers though. That seems like a recipe for trouble, especially as time goes on. I guess the new pip resolver makes that safer, but still. Do we have the "upgrade a provider to a newer version than what was released when

[2021-08-06 23:07] santosh-d3vpl3x opened #17479 "Stopping worker leaves spark application behind when running in cluster mode"
**Apache Airflow version**: 2.1.2 and also previous versions

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): NA

**Environment**: linux

- **Cloud provider or hardware configuration**: NA
- **OS** (e.g. from /etc/os-release): NA
- **Kernel** (e.g. `uname -a`): NA
- **Install tools**: NA
- **Others**:

**What happened**:
We launch all our spark processes in cluster mo

[2021-08-06 23:26] jedcunningham commented on #17443
Also make sure you are on version 2.0.1 or later of `apache-airflow-providers-elasticsearch` as it was broken in earlier versions.

[2021-08-06 23:56] thaysa opened #17481 "Execution date is in future"
**Apache Airflow version**:
2.1.2

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
1.19.6

**Environment**:
On-premise Cluster
Official Docker Image with Python 3.8

**What happened**:
The scheduler is triggering future run
_Execution date is in future: 2021-08-07 00:00:00+00:00_

![image](https://user-images.githubusercontent.com/6821208/128580442-44f79960-80c4-44b4-

[2021-08-07 07:36] cansjt opened #17482 "Implement `--mark-skipped` on the backfill command"
Seems loosely related to a few tickets, like #262 which was closed without explanation.
From what I am gathering, following the different links across tickets, everything to do it might have been implemented. Everything but the UI, making it available to end users.

**Use case / motivation**

There exists a `--mark-success` option for the `dags backfill` command but no such `--mark-skipped` option

[2021-08-07 08:00] potiuk commented on #17453
Yeah it's for more 'adventurous' ones :). It is not really 'documented' yet and It does not have the same 'guarantees' as the airflow constraints. But it might prevent some obvious problems like this one when we have a new 'breaking' release of dependency.

 And if some main changes happened since the last provider release, they **might** break.

The way how it should be done (and I might actually

[2021-08-07 08:22] potiuk commented on #17453
Also just one point - conflicting constraint not and will never be as huge problem as you might think. I made sure of it when designing the whole system of constraints and automated upgrades. I thought and experimented a lot with that over the last few years and my experiences from last few years are rather positive here.

The 'general' approach of almost all active direct dependencies we use is t

[2021-08-07 10:08] potiuk commented on #17470
You missed 'before you begin' and/or especially 'initialize environment' steps of the quick-start. https://airflow.apache.org/docs/apache-airflow/stable/start/docker.html .

You likely did not initialize the database.

Please follow them precisely as they are written.

The quick start is written in the way that you have to follow it step-by-step. It's not production ready, it's not gonna work if y

[2021-08-07 10:08] #17470 closed

[2021-08-07 10:41] santosh-d3vpl3x commented on #17373
We ran into this limitation while trying to extend celery executor to fix one of the issues found during airflow upgrade. It would be a good addition definitely :)

[2021-08-07 13:30] cansjt commented on #17482
That actually seems quite an undertaking. Even the lower programming interface, within the executors and such, asks for a `mark_success` boolean value instead of a State, which would render things way more generic.

So I guess a first step would be to change that.

[2021-08-07 16:17] raphaelauv commented on #17010
the trigger rule `none_failed_or_skipped` is a solution to your use case  -> https://airflow.apache.org/docs/apache-airflow/2.1.2/concepts/dags.html?highlight=none_failed_or_skipped#trigger-rules

[code]

[2021-08-07 16:51] alexInhert opened #17487 "Make gantt view to show also retries"
**Description**

Currently Gantt View shows only the last successful task retry.
This means that if we have t1 >> t2 >> t3
if we had:
t1 started on 08:00 finished 09:00
t2  1st retry started 09:01 failed on 13:00
t2 2nd retry started on 13:02 finished on 15:00
t3 started on 15:01 finished on 15:02

What the gantt view will show us is
t1 08:00-09:00
t2 13:02-15:00
t3 15:01-15:02

This makes it real

[2021-08-07 17:51] #17422 closed

[2021-08-07 18:12] omriAl commented on #17240
@potiuk @uranusjr Hi, I'm pretty much finished with the change. but I'm having trouble testing it with my local environment. I followed all of the steps, but once I'm starting airflow (`breeze start-airflow`) I'm getting some kind of a static view of the webserver, so it's hard for me to verify my changes.
Any thoughts? (I've branched off the main branch).
thanks!

[2021-08-07 18:16] potiuk commented on #17240
rebase on top of the latest main branch and rebuild breeze when asked (ot force it with `./breeze build-images --force-pull-images` )

[2021-08-07 18:33] omriAl commented on #17240
@potiuk Thanks, I did that and got the same result.
btw - I see that one section of the tmux is failing with:
`$ NODE_ENV=dev webpack --watch --colors --progress --debug --output-pathinfo --devtool eval-cheap-
source-map --mode development
/bin/sh: 1: webpack: not found error Command failed with exit code 127.
info Visit https://yarnpkg.com/en/docs/cli/run for documentation about this command.
roo

[2021-08-07 18:53] potiuk commented on #17240
It is related - did you build the image ? It will take a while ...

[2021-08-07 20:08] eladkal commented on #17012
Is the issue here only the name of the trigger rule?

[2021-08-07 20:13] potiuk commented on #17240
I think you should somehow clean up - I think this is strange you do not get webpack in docker ... just start from scratch :

``docker system prune --all`
``rm -rf .build``

And start again.

[2021-08-07 20:14] #17200 closed

[2021-08-07 21:04] raphaelauv commented on #17012
At first I through it was a redondant trigger_rule, but now I'm just proposing a more explicit name , but nothing really important. I will close the issue in the next days if it's not relevant.

[2021-08-07 22:32] raphaelauv commented on #17478
duplicate -> https://github.com/apache/airflow/pull/2460

[2021-08-07 23:44] EliMor opened #17489 "Helm chart converts ' ' to '+' in passwords (and username)"
**Apache Airflow version**: 2.1.2

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.19

**What happened**:

When using the helm chart with postgres or redis passwords/username that have a ' ', the chart will convert the space to a '+' ~~due to the helm urlJoin function~~ (See below for details)

**What you expected to happen**:
~~Passwords provided should not be modi

[2021-08-08 00:05] #16107 closed

[2021-08-08 00:05] EliMor opened #17490 "KubernetesJobOperator"
**Description**

Airflow has a PodOperator for Kubernetes. Why not a JobOperator?

**Use case / motivation**

I'm curious to get the community's thoughts, maybe there are reasons why this hasn't been implemented yet in Airflow core.
Basically I would like an out-of-the-box KJO in Airflow that does similar things to the KPO but using the Job type in Kube. I'd like to shift more work to Kube and kee

[2021-08-08 04:26] potiuk commented on #17490
I believe (and please.correcr me if I am wrong) that pod_template_file parameter of the KubernetesPodOperator already handles what you wanted to implement - including possibility of generating the template file via cli of airflow and integration with Ninja templating of Airflow).

This has been added relatively recently to the operator (Autumn last year) and the Python-object approach is recommend

[2021-08-08 05:21] yevsh commented on #17395
@ephraimbuddy is that related to the issue I am having?

[2021-08-08 06:27] EliMor commented on #17490
Hi there!

Thanks for your feedback. I admit I'd need to take a little bit more time to look at 'pod_template_file.' My memory is foggy but these trees look familiar to me.

To clarify there're a few things I wanted to ensure our use of yaml + Jinja would accomplish for free with the KJO.

1. We could pass in the location of the yaml template files just as we could for other templates  (template_s

[2021-08-08 07:39] potiuk commented on #17490
Do take a look at the current implementation and some of the fixes over the last months. I think many of the log problems have been fixed already (and I'd say if there are others - fixing those should not be difficult.

From what you explain about template and Jinja i think only the possibility of using multiple template files is not out-of-the-box however this could likely be easily achieved (may

[2021-08-08 07:46] eladkal commented on #17012
Do you have suggestion for a better name?

[2021-08-08 08:08] raphaelauv commented on #17012
You missed my previous messages, take a look

[2021-08-08 08:50] EliMor commented on #17490
Yes there's a lot of discussion that could be had here I think.

I like your impulse to make a higher tier 'Base' kube operator. Something dumb that we could reuse even if a 'child' does not officially exist (yet!). ... But I also defer to KPO folks here since I'm quite new and clueless!

Another common kube object in my ETL/ML workflows for consideration are PVCs (another 'child' perhaps?) and ha

[2021-08-08 10:17] ephraimbuddy commented on #17395
Not related.
The problem is on the schedule_interval. I ran your dag and reproduced the behavior. I changed the schedule_interval to `schedule_interval=timedelta(hours=1)` and it stopped happening.
I do not fully understand the concept of `relativedelta`, I would have tried an alternative and suggest

[2021-08-08 10:20] yevsh commented on #17395
relativedelta is much more powerful that allows different combinations.

I need to use it.

Can we identify why it causes issue?

[2021-08-08 11:45] potiuk commented on #17490
One thing to remember is that while Airflow loves K8S, K8S is not the only way it is and will be deployed, we do not want people to tie their task implementation with the fact that they are run on K8S. Task while executing should be largely unaware of what deployment it runs on.

I think for that a custom XCom Backend with PVC support for K8S could be useful (If it is possible to write). The fact

[2021-08-08 11:52] amiriry commented on #17443
I'm using version 2.1.2 of airflow and added the remote logging setting as you can see in the file in my repo. but still it doesn't work.
The task handler that I am using is es_task handler:
`airflow info | grep 'task_logging_handler'
 task_logging_handler   | airflow.providers.elasticsearch.log.es_task_handler.Ela`
And still doesn't work.

[2021-08-08 12:05] #12292 closed

[2021-08-08 12:17] eladkal commented on #15648
@potiuk do we have a task on this issue?

[2021-08-08 12:30] potiuk commented on #15648
I do not think there is anything to do on airflow side. This was a problem with custom docker image that did not have all dependencies to install mysql. Taking into account that there is already the official image which has all that is needed (And can even be taken as a base) I think we should close the issue.

[2021-08-08 12:30] #15648 closed

[2021-08-08 12:35] hsej opened #17493 "BigQueryInsertJobOperator may start the same job twice"
**Apache Airflow version**: 1.10.15

**Apache Airflow Provider versions** (please include all providers that are relevant to your bug):
apache-airflow-backport-providers-google==2021.3.3

**What happened**:
Looking at the _submit_job method the job is started by using job.result() - in bold below. However, the job IS already started by just callnig the hook.insert_job() method. Thus I suggest remo

[2021-08-08 12:37] baryluk commented on #10549
I also have similar issue as OP. I use VNC a lot, and it causes sever frame rate drop, as well causes serious CPU usage increase on both VNC server and client (to the point that the small client PC spins CPU fan to the max). I wish it was just gone.

[2021-08-08 14:09] subkanthi opened #17494 "Lint Dockerfile - pre_commit_lint_dockerfile.sh takes too long or gets stuck"
On Mac M1, the "Lint Dockerfile" pre-commit step takes forever to complete. Need to troubleshoot and add a fix for this problem.

Environment:
Docker version 20.10.6, build 370c289
Mac M1 Big Sur

[2021-08-08 15:01] mik-laj commented on #17489
Space is a character not allowed in the URI, so it should be percent-encoded. We used to have errors with the handling of special characters in passwords.
https://github.com/apache/airflow/issues/16000
Why do you think this character shouldn't be converted?

[2021-08-08 16:59] potiuk commented on #17489
Yeah @mik-laj is right. You can also see examples of that explained in our documentation - https://airflow.apache.org/docs/apache-airflow/stable/howto/connection.html#handling-of-special-characters-in-connection-params according to https://datatracker.ietf.org/doc/html/rfc3986 both pasword and user should be percent-encoded.

However I am a bit surprised to see '+' in your issue rather than %20 (w

[2021-08-08 17:41] potiuk commented on #17494
You can always disable it by setting SKIP variable in the meantime https://pre-commit.com/#temporarily-disabling-hooks

[2021-08-08 19:06] EliMor commented on #17489
Hi people!

I thought it was strange that it was encoded as '+' as well!!

Here's a more clear example...

If I have in my values.yaml file:
[code]

Here's how we get rendered in the Secret
[code]

This will result in a connection error unless I manually update the secret to:
[code]

Strange no?!

No big on my end to just not have spaces. :D

[2021-08-08 19:25] EliMor commented on #17490
Thanks for teaching me some new things today!
Ray+Airflow looks very neat.

[2021-08-08 20:15] potiuk commented on #17489
Actually it should work (and is the only correct way!!!) if you replace it with:

[code]

Neither ' '  nor '+'  is  correct.

[2021-08-08 20:18] potiuk commented on #17489
@jedcunningham @kaxil -> I think this one is pretty legit, if ' ' is encoded as '+' in the URI, this is pretty wrong, possibly we could use different encoding function in the chart

[2021-08-08 20:32] josh-fell opened #17495 "Add an operator and sensor for Azure Data Factory pipeline runs"
**Description**
Azure Data Factory (ADF) is a fully-managed, orchestration and integration service that allows users to run data pipelines easily within the Azure ecosystem.  Currently there is only a hook, `AzureDataFactoryHook`, that exists but **no** operators or sensors as reusable, Airflow abstractions.  Seems beneficial to create an operator and corresponding sensor for running data pipeline

[2021-08-08 20:36] potiuk commented on #17489
@jedcunningham @kaxil : from what I can see (and what seems to be confirmed by https://github.com/pallets/jinja/issues/17 - it seems that the "urlquery" filter we use is wrong.  It should be more complex. The problem is that urlquery replaces ' ' with '+' (and / with %2F) but 'urlencode` replaces " " with %20 but it does not replace "/" with %2F. I looked it up and seems that however strange it is

[2021-08-08 22:16] hsej commented on #17493
Sorry!

Thank you very much for that.

[2021-08-08 22:18] EliMor commented on #17489
Apologies for my bad assumption!

That's annoying!

[2021-08-09 00:05] #16354 closed

[2021-08-09 02:32] subkanthi commented on #17494
Thanks that helps for now

[2021-08-09 06:02] uranusjr commented on #17493
We have ceased maintenance of Airflow 1.10. Please consider upgrading to Airflow 2.

[2021-08-09 06:02] #17493 closed

[2021-08-09 07:20] uranusjr commented on #17478
With AIP-39, we need to kind of distinguish which one you actually wan

1. the (approximated) next time this DAG will run
2. the `execution_date` of that approximated next DAG run
3. the end of the *current* DAG run’s data interval

The three are almost always the same with Airflow 2.1 (and everything below), but have very different semantic meanings after custom timetable scheduling is made possi

[2021-08-09 08:36] ephraimbuddy commented on #16703
Hi @dan-origami, have you tried airflow 2.1.2?

[2021-08-09 08:39] lukas-at-harren opened #17497 "XCom values are not deserialised correctly in GCSToBigQueryOperator"
**Apache Airflow version**: 2.1.2

**Apache Airflow Provider versions** (please include all providers that are relevant to your bug):

* apache-airflow-providers-google==5.0.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): irrelevant

**Environment**: Kubernetes, Postgresql

**What happened**:

* I have a DAG, one task outputs a list of strings as return value.

[co

[2021-08-09 08:41] malthe opened #17498 "Connection health check"
**Description**

Add an option to enable a "Connection health check" on a connection.

This would have the effect that a background connection test would be scheduled to run with a configurable interval (globally configured). The test would be executed by a worker.

If one or more connection health checks currently fail, a message on the main page will be shown. In addition, the connection list wi

[2021-08-09 08:45] dan-origami commented on #16703
@ephraimbuddy I am trying it this week

[2021-08-09 09:44] pbetkier opened #17500 "Incorrect implementation of GCP auth type in VaultBackend?"
# Short

I'm pretty sure the authentication flow for GCP in the `airflow.providers.hashicorp.secrets.vault.VaultBackend` is incorrect and not usable. The Vault API used [`/auth/gcp/config`](https://www.vaultproject.io/api/auth/gcp#configure) has a different purpose, [`/auth/gcp/login`](https://www.vaultproject.io/api/auth/gcp#login) should be used instead.

I've seen the `/auth/<type>/config` API

[2021-08-09 10:18] bbovenzi commented on #17478
Last run is the `execution_date` right? So next run should be option 2, right?

[2021-08-09 10:35] uranusjr commented on #17478
If we want to show info on the next run, yes it should be option 2. But the question is _why_ you want to know when’s the next run’s `execution_date`. The reason given in #2460 was:

and period end scheduling way of thinking.

Which implies the reporter does not actually care about the next run, but only wants to show that field because the next run’s `execution_date` is also the end of _this_ run

[2021-08-09 10:44] bbovenzi commented on #17469
I was able to replicate. It seems to be an issue with selecting the wrong `target_id` for a label. It should pick the first one in a group but instead it picks the last one.

[See here](https://github.com/apache/airflow/blob/main/airflow/www/views.py#L398)

[2021-08-09 11:16] mgorsk1 commented on #17238
Ok I think we've more-less figured what was the reason. I am curious to know what do you think about our findings:
1. We had a DAGs code containing `dagrun_timeout=timedelta(minutes=60)`. This code was running on prod for 2 years with Airflow `1.10+`
2. According to docs (https://airflow.apache.org/docs/apache-airflow/stable/_api/airflow/models/index.html) this configuration option should not take

[2021-08-09 11:53] BasPH commented on #17498
I realize your issue suggests different behaviour, but linking this here for reference https://github.com/apache/airflow/pull/15795

[2021-08-09 12:04] malthe commented on #17498
@BasPH oh awesome – when is this coming to an Airflow release? I don't see it in the latest 2.1.2 release.

[2021-08-09 12:05] BasPH commented on #17498
It's currently set for Airflow 2.2 (you can see a "Milestone" section in the PR).

[2021-08-09 12:43] iasoon opened #17507 "Task processes killed with WARNING - Recorded pid does not match the current pid"
**Apache Airflow version**: 2.1.3

**Apache Airflow Provider versions** (please include all providers that are relevant to your bug):
[code]
**Environment**:

I'm using the airflow-2.1.2 container from dockerhub.

- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): `Debian GNU/Linux 10 (buster)`
- **Kernel** (e.g. `uname -a`): `Linux fe52079d9ade 5.12.13-200.f

[2021-08-09 13:34] ephraimbuddy commented on #17507
We added a fix contained in: https://github.com/apache/airflow/pull/16301 that would be released in 2.1.3. Can you try if you can reproduce with the current main branch

[2021-08-09 13:54] sudarshan2906 opened #17508 "Changing role name in access_control doesn't remove permission from previous role"
**Apache Airflow version**: 2.1.2

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): Debian 10
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:
When access_control is configured in a dag, and we remove a role from access_control. The permission doesn't get removed from that role
When `access_control={"test_role":{"can_edit"}

[2021-08-09 14:07] jedcunningham commented on #17443
Can run `airflow providers list` and see what version of `apache-airflow-providers-elasticsearch` you have?

[2021-08-09 14:46] #16202 closed

[2021-08-09 15:01] github-sunildhiddi opened #17511 "ImportError: /usr/lib64/libk5crypto.so.3: undefined symbol: EVP_KDF_ctrl, version OPENSSL_1_1_1b"
**Apache Airflow version**:

**Apache Airflow Provider versions** (please include all providers that are relevant to your bug):

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

[2021-08-09 15:17] omriAl commented on #17240
Hey, yes I found the error.
The build didn't finish because im running behind a proxy and this causes issues with the ssl certificate.
Thanks!

[2021-08-09 15:20] suhanovv opened #17512 "Invalid log order with ElasticsearchTaskHandler"
**Apache Airflow version**: 2.*

**Apache Airflow Provider versions** (please include all providers that are relevant to your bug): providers-elasticsearch==1.*/2.*

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.17

**What happened**:
When using the ElasticsearchTaskHandler I see the broken order of the logs in the interface.
![IMAGE 2021-08-09 18:05:13](https://u

[2021-08-09 15:21] #17511 closed

[2021-08-09 15:23] potiuk commented on #17511
Without providing aby details and explaining how you got the problem into we are nor able to help
 Just filmów the template and fill-in all data there.

[2021-08-09 15:27] potiuk commented on #17512
Would you be willing to provide a PR fixing.it (seems you already have the fix)?

[2021-08-09 15:29] suhanovv commented on #17512
yes, I will make a pull request

[2021-08-09 15:46] jedcunningham commented on #17238
Nice fine. I lean toward not documented properly. Would you like to open a PR to fix that description?

[2021-08-09 16:09] suhanovv opened #17513 "dag_processing.last_duration metric has random holes"
**Apache Airflow version**: 2.1.2

**Apache Airflow Provider versions** (please include all providers that are relevant to your bug): 2.0

apache-airflow-providers-apache-hive==2.0.0
apache-airflow-providers-celery==2.0.0
apache-airflow-providers-cncf-kubernetes==1.2.0
apache-airflow-providers-docker==2.0.0
apache-airflow-providers-elasticsearch==1.0.4
apache-airflow-providers-ftp==2.0.0
apache-ai

[2021-08-09 16:21] pyerbiz commented on #11912
I am still working on this, its just been a hectic few weeks!

[2021-08-09 19:04] mik-laj commented on #17500
CC: @potiuk

[2021-08-09 19:37] jianqiuhuang opened #17516 "Removed dynamically generated DAG doesn't always remove from Airflow metadb"
**Apache Airflow version**: 2.1.0

**What happened**:

We use a python script that reads JSON configs from db to dynamically generate DAGs. Sometimes, when JSON Configs is updated, we expect DAGs to be removed in Airflow.  This doesn't always happen. From my observation, one of the following happens:
1) DAG is removed because the python script no longer generates it.
2) DAG still exists but run hi

[2021-08-09 20:10] rdiazg14 opened #17517 "Unexpected apache-airflow webserver error without any known"
<details><summary>Unexpected apache-airflow webserver error without any known </summary> Something bad has happened.
Please consider letting us know by creating a bug report using GitHub.

Python version: 3.8.10
Airflow version: 2.1.2
Node: SERVER.user.corp
-------------------------------------------------------------------------------
Traceback (most recent call last):
  File "/home/user/.local/l

[2021-08-09 20:12] rdiazg14 commented on #17517
Help me please!

[2021-08-09 20:36] potiuk commented on #17517
Apparently you run Airlfow in WSL (Windows) and Windows in some combination does not support POSIX time properly https://camcops.readthedocs.io/en/latest/administrator/server_troubleshooting.html#problems-starting-camcops

Airlfow is not supposed to work for producion on Windows (even in WSL it's only for development and testing). The suggested solution is to run Airflow on Linux, or in proper Vir

[2021-08-09 20:36] #17517 closed

[2021-08-09 21:36] terryfugit commented on #17394
The reported code fis above did not resolve the issue.  However, back to the note from @jedcunningham , we removed the run_as_user= from the DAGs and have not seen the issue since.

[2021-08-09 22:27] john-james-sf commented on #11309
I'll join the bandwagon. I edited the bash file setting the location of the home directory; however, when I run airflow info, I get filenotfound for the default location, not the location set in the script. Please advise/educate.

[2021-08-09 22:57] rdiazg14 commented on #17517
Thank You man, I'll attend your advice.

[2021-08-09 23:50] kaxil commented on #17437
Raise the `min_file_process_interval` to `600` (10 mins) or even `6000` (100 mins). Newly added or modified files will already be parsed, the dag parser will skip the `min_file_process_interval` check if a file is recently modified.

[2021-08-09 23:53] kaxil commented on #17437
This was implemented in https://github.com/apache/airflow/pull/16075 and is available since Airflow 2.1.1

[2021-08-10 00:07] #16769 closed

[2021-08-10 03:34] huozhanfeng commented on #17437
The PR is good but I wonder whether it can solve this problem. Suppose there are 10k dags and it needs 10mins to consume and process the whole 10k tasks in `_file_path_queue`, can the first dag be parsed when it is just be put into `_file_path_queue` by `calling prepare_file_path_queue` and after that, we modify the first dag file?

The logic this PR improved is in method `prepare_file_path_queue`

[2021-08-10 06:09] huozhanfeng commented on #17437
Thank you. But to make the PR ready may need to refactor context logic and modify a lot of tests, I will have a try later if I can work out...

[2021-08-10 06:54] stijndehaes commented on #16625
We noticed a similar issue with Airflow 2.1.2. Job went from queued to failed without retry, looking at the code I am not sure how to fix it. It is clear that in `scheduler_job.py` on line 1238 we see the relevant logs. Maybe there should be logic here to check if the task needs to be retried and change the state to retried if needed?

The relevant logs (the dag and task name are erased because th

[2021-08-10 07:51] sw1010 opened #17527 "Broken json_client"
**Apache Airflow version**: 2.1.2

**Apache Airflow Provider versions** (please include all providers that are relevant to your bug):
apache-airflow-providers-ftp==2.0.0
apache-airflow-providers-imap==2.0.0
apache-airflow-providers-sqlite==2.0.0

**Environment**:

- **OS** (e.g. from /etc/os-release): Ubuntu
- **Python**: python 3.8
- **httpx**: httpx==0.6.8, httpx==0.18.2

**What happened**:

[co

[2021-08-10 07:58] uranusjr commented on #17527
This was probably missed when we migrated from requests to httpx. Would you be able to submit a pull request for this?

[2021-08-10 08:03] gmsantos commented on #16833
Does make sense to support helm templates in `podTemplate`? As of today, there is no easy way to customize the`files/pod-template-file.kubernetes-helm-yaml` content.

[2021-08-10 08:13] amiriry commented on #17443
I did the command:
`docker exec $(docker ps | awk '/worker/ {print $NF}') airflow providers list | grep elasticsearc`
The output:
`apache-airflow-providers-elasticsearch   | Elasticsearch https://www.elastic.co/elasticsearch                                           | 2.0.2`

[2021-08-10 08:20] kaxil commented on #17437
@huozhanfeng the idea is that since you have a higher (maybe even 30 mins) min_file_process_interval the file path queue would be empty after the first pass, and then it will only parse the modified files until it hits min_file_process_interval.

Did you give it a try?

[2021-08-10 08:50] potiuk commented on #11309
@john-james-sf  - this issue is closed and I think your have a different environment/error. Please open a new discussion (best) rather than issue and describe your circumstances, what you've done, how you installed airflow, which version and all the details you can get.

[2021-08-10 09:09] huozhanfeng commented on #17437
Got it and a good idea! It can work well to solve the problem.

[2021-08-10 09:29] stijndehaes commented on #17370
@ephraimbuddy I don't think that #16301 solves #16625, the code in that PR is only ran when the container has been started. But the issue in #16625 happens when a pod has never started but did fail. I added some more info on the issue #16625 maybe this sheds a bit more light on what might be going on.

[2021-08-10 09:42] ephraimbuddy commented on #17370
Oh, I see, we even had an issue with task being stuck in queued because a POD had an error starting or something else happened, and the executor report that the task has failed while the scheduler still sees it as queued. We made this change https://github.com/apache/airflow/pull/15929 which has not been released to resolve the task getting stuck.
I will take a closer look and see if we can make t

[2021-08-10 09:54] enima2684 commented on #9310
The issue https://github.com/docker/docker-py/issues/931  is still not yet fixed and the DockerSwarmOperator still have the 60s delay before finishing a completed service.

Any updated workaround you are using to prevent this delay ?

[2021-08-10 10:05] #17437 closed

[2021-08-10 11:26] #17527 closed

[2021-08-10 11:27] #17481 closed

[2021-08-10 11:45] baryluk opened #17533 "Tree-view auto refresh ignores requested root task"
Airflow 2.1.2

In Tree View, when you click on a task in a middle of a DAG, then click "Filter Upstream" in a popup, the webpage will reload the tree view with `root` argument in URL.

However, when clicking a small Refresh button right, or enabling auto-refresh, the whole dag will load back. It ignores `root`.

[2021-08-10 12:20] rabsr opened #17534 "Dags are not triggered at right time when start date is set"
**Apache Airflow version**: 2.1.2

**What happened**:

Dags created with start date are not triggered on expected time.
For eg. start date = `2021-07-29T06:00Z` and schedule interval `00 06 */1 * *`,
The dag is triggered at  `2021-07-30, 06:00:01` but using execution date as `2021-07-29, 06:00:00`

**What you expected to happen**:

 The dag should be triggered at  `2021-07-29, 06:00:01`

**How to

[2021-08-10 12:20] luoyuliuyin opened #17535 "the filter condition of taskinstance does not work"
**Apache Airflow version**: 2.1.0

**Apache Airflow Provider versions** (please include all providers that are relevant to your bug):

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**: pip
- **Others**:

**What hap

[2021-08-10 12:28] uranusjr commented on #17534
This is correct. Aifrlow has an implicit notion of *intervals*. For a DAG started at 2021-07-29 and runs every day, it needs one initial day before executing, so the initial run have that one day of data to extract. The second run would happen on 2021-07-31 so it can process data for that previous day, and so on. The terminology around this is a bit confusing (and we plan to improve this in 2.2),

[2021-08-10 12:28] #17534 closed

[2021-08-10 12:43] stijndehaes commented on #17370
Ah I thought this code was already active in our environment but it isn't 😅 If you could look into making this more robust that would be great. If I can provide more info or help please let me know

[2021-08-10 13:30] gvillafanetapia opened #17536 "Oauth for google redirect_uri error expecting HTTPS but sending HTTP"
**Apache Airflow version**:
Version: v2.1.0 (The problem still exists in v2.1.2)
Git Version: .release:2.1.0+304e174674ff6921cb7ed79c0158949b50eff8fe

**Apache Airflow Provider versions** : apache-airflow-providers-google==4.0.0

**Kubernetes version**:

[code]

**Environment**:

- **Cloud provider or hardware configuration**: AWS
- **OS**:  Debian GNU/Linux 10 (buster)
- **Kernel**: Linux 5.4.105

[2021-08-10 14:26] ephraimbuddy commented on #16625
This PR https://github.com/apache/airflow/pull/15929 fixed the issue of not having to clear the task before it can be rerun again and that is a major issue otherwise the task is stuck as explained by @luqic  above

@stijndehaes, can you check the log at `logs/scheduler/{CURRENT_DATE}/{DAGFILENAME.py.log}` when this happens?

@ashb @jhtimmins, I'm now thinking that this change https://github.com/ap

[2021-08-10 15:14] EliMor commented on #17490
Looks like there's another project that does similar/more things!
https://github.com/LamaAni/KubernetesJobOperator

[2021-08-10 16:36] hafid-d commented on #15978
Just updated to 2.1.2, still facing the issue. My dags are getting stuck into running state. When I checked scheduler logs I have this kind of line : `Not executing <TaskInstance: xxxxxx 2021-08-09 14:30:00+00:00 [scheduled]> since the number of tasks running or queued from DAG xxxxxx is >= to the DAG's task concurrency limit of 16`
Seems that celery worker doesn't pick up any task as the log file

[2021-08-10 16:49] hafid-d commented on #13542
Same here, facing the issue. Even restarting the scheduler doesn't fix the problem. My dags are still stuck in running state

[2021-08-10 17:09] cmsouza opened #17538 "MySQLtoGCSOperator unable to save parquet files with date/datetime fields"
**Apache Airflow version**: 2.1.2

**Apache Airflow Provider versions**
apache-airflow-providers-celery==2.0.0
apache-airflow-providers-ftp==2.0.0
apache-airflow-providers-google==4.0.0
apache-airflow-providers-imap==2.0.0
apache-airflow-providers-mysql==2.0.0
apache-airflow-providers-postgres==2.0.0
apache-airflow-providers-sqlite==2.0.0

**What happened**:

When trying to export a parquet file t

[2021-08-10 17:41] hafid-d commented on #16107
Upgraded to 2.1.2 and still facing the issue even with `catchup_by_default = False`

[2021-08-10 18:29] csgdotson opened #17540 "Airflow 2.1.2 AttributeError: 'NoneType' object has no attribute 'name'"
Possibly related to installing LDAP authentication, this error appears almost randomly in the UI in permissions.py when role.permissions are established. Airflow instance is installed behind a self signed certificate.  Visiting any airflow page may randomly display this error. Refreshing the page bypasses the error.

**Apache Airflow version**:
2.1.2

**Apache Airflow Provider versions** (please i

[2021-08-10 18:41] eladkal commented on #8275
Closing since this issue is 1.10 specific (1.10 is EOL)

[2021-08-10 18:41] #8275 closed

[2021-08-10 18:54] eladkal commented on #11603
Can you please let us know if this is still an issue in Airflow 2.1?
The code had been significantly changed since this issue was reported.

[2021-08-10 18:59] jedcunningham commented on #17443
Ah, okay, I see what the issue is, thanks @amiriry. The core specific changes from #16357 never made it into a core release. I'm going to tag it for 2.1.3, hopefully it gets included there.

[2021-08-10 18:59] eladkal commented on #13681
@ephraimbuddy is the issue here only fixing example dag ?

[2021-08-10 19:03] ephraimbuddy commented on #13681
Yes. @eladkal

[2021-08-10 19:07] csgdotson commented on #17540
Can this DB error from the log be related?
[code]

If so, and this is simply a database permission issue, I don't understand how this error isn't consistently generated.

[2021-08-10 19:29] jedcunningham commented on #16833
Yeah, passing `podTemplate` through `tpl` makes sense to me.

What is your use case for modifying the template though? Most of the "normal" scenarios I can think of off the top of my head are pretty much already covered. I'd love to hear it so we can consider how best to support whatever it is.

[2021-08-10 19:45] csgdotson commented on #17540
Yes, this is resolved, not a bug. The issue was a bad permission group on the ab_permission table.

[2021-08-10 19:45] #17540 closed

[2021-08-10 20:25] gmsantos commented on #16833
Something I'm missing is to define a sidecar container or specific resources requests and limits for Airflow tasks on top of the generated pod template file.

Giving an extra context, internally we allow teams to deploy data platform instances in a K8s cluster and the Airflow chart is the main component of it. One goal is to abstract Airflow base configuration and other components in a custom char

[2021-08-10 21:55] kn6405 opened #17542 "Custom webserver_config.py and getting "ModuleNotFoundError: No module named 'authlib'""
I pushed out a custom webserver_config.py to enable oauth authentication for the webserver pod:

Apache Airflow version: 2.1.2
Kubernetes version: v1.18.10
Environment: Azure AKS using the official apache/airflow helm chart (1.1.0)

Running celery executor. With default webserver_config.py everything works fine. Not really sure what this error means and how to resolve. Or if I'm setting things up

[2021-08-10 22:25] noelmcloughlin commented on #17542
See https://github.com/apache/airflow/issues/14717

[2021-08-10 23:03] ferruzzi commented on #15664
@potiuk  - Looks like this can be closed?

[2021-08-10 23:26] jedcunningham commented on #16833
Cool, thanks. For resources you can use `workers.resources`. `workers.extraContainers` isn't automatically added to k8s workers, but it probably should be (with a warning that you are on your own for stopping the sidecar so Airflow can continue its shutdown process).

[2021-08-11 00:06] jedcunningham commented on #17542
Also, in the next release I believe it will be installed by default: #17093

[2021-08-11 00:06] #17542 closed

[2021-08-11 00:18] mik-laj commented on #16485
Done via: https://github.com/apache/airflow/blob/main/airflow/utils/serve_logs.py

[2021-08-11 00:19] #16485 closed

[2021-08-11 02:27] trsilva32 commented on #10435
I'm facing the same issue on Airflow (mwaa), any solution for that, but it works fine in one env not the other,

[2021-08-11 05:26] #15664 closed

[2021-08-11 06:01] stijndehaes commented on #16625
@ephraimbuddy I have found a way to consistently trigger the issue using the dag attached below.
You first have to just let it run. It will nicely retry and be set to failed after trying twice.
If you clear the task after that it will only try once instead of two times. Not 100% sure if it's the same issue though, but this one is also unexpected and at least is reproducable.

[code]

[2021-08-11 06:08] GlobalKeeper commented on #17463
@potiuk Thx for fast reply. There is no a problem with deployment. No one can kill container instead of airflow. I research an issues for airflow and discover some "AIRFLOW__SCHEDULER__SCHEDULE_AFTER_TASK_EXECUTION" env variable.
After set
[code]
404 exceptions while airflow try to stop containers disappears (tested for 3 days, more than 1k jobs successed)

[2021-08-11 06:12] stijndehaes commented on #16625
The log of the scheduler is the following pattern repeated:

[code]

[2021-08-11 07:03] uranusjr commented on #17444
Hmm, I haven’t seem this in the past few days, I wonder what has changed.

[2021-08-11 07:05] uranusjr commented on #13750
Anyone fancy a pull request? Sounds not too complicated to me!

[2021-08-11 08:04] ClassyLion commented on #12237
I'm running latest version of Airflow - 2.1.2, and I'm seeing thie "Access is denied" error when I log into Airflow.

[2021-08-11 08:13] uranusjr commented on #12237
Maybe it would be possible to show what page exactly is emitting the message? For example *Accessed is Denied for http://myserver/foo/bar* fels like an OK-ish stopgap.

[2021-08-11 08:27] ClassyLion commented on #12237
It shows up only on the initial home page of Airflow after logging in. If I go to a different page it disappears and when I go back to the homepage, it does not show anymore. I have admin access to Airflow deployment, so I'm not really sure what would show the "Access is Denied". And checking logs, nothing shows up with permissions or access issues.

This is how it looked now:
![image](https://use

[2021-08-11 09:46] JavierLopezT opened #17546 "ImportError: /usr/lib/x86_64-linux-gnu/libstdc++.so.6: cannot allocate memory in static TLS block"
I am getting this error in a lot of DAGs that seem very random. The full trace of the error is:
[code]

Characteristics:

- Official Docker image apache/airflow:2.1.2.
- I add to the official image the following:
`  RUN sudo apt-get update && sudo apt-get install -y build-essential gconf-service libasound2 libatk1.0-0 libcairo2 libcups2 libfontconfig1 libgdk-pixbuf2.0-0 libgtk-3-0 libnspr4 libpang

[2021-08-11 10:01] JavierLopezT commented on #7911
If I get some guidance on how/where to start I could try to do it

[2021-08-11 10:07] JavierLopezT commented on #8899
Hi @mik-laj and @turbaszek Do you think this could be achieved with DAG cluster policy or should I use task cluster policy? Also, is there a task.color property or something like that? Hopefully I can make it work with cluster policy and close this issue as well adding some docs

[2021-08-11 10:10] uranusjr commented on #17546
I searched a bit and this seems to be a bug in MySQL. There’s a [similar report for Ubuntu](https://bugs.launchpad.net/ubuntu/+source/opencv/+bug/1890170) and their solution was to downgrade MySQL to 8.0.19. I am not sure how this can be applied to our Docker images.

[2021-08-11 10:16] potiuk commented on #17463
Ah ok, sorry then, I jumped to conclusions too fast. Apologies for closing it without deep-enough look. Glad that it has been solved for you. What you describe actually has been fixed recently in #16289  - and fix will be released very soon in 2.1.3, so once you upgrade to 2.1.3, you might want to re-set the flag to "true" and see if it helped.

[2021-08-11 10:20] mik-laj commented on #17538
Can you look at this PR? Is it related? https://github.com/apache/airflow/pull/15026

[2021-08-11 10:37] mik-laj commented on #8899
You can use Cluster Policy for DAG as well as Cluster Policy for tasks. The difference is very small. In this case, using the cluster policy for tasks will be easier.
https://github.com/apache/airflow/blob/e6c61ca679cc2332eb5bce3ff01f961f55223374/airflow/models/dagbag.py#L430-L434

There are two attributes to configure tasks colors.
https://github.com/apache/airflow/blob/e6c61ca679cc2332eb5bce3ff0

[2021-08-11 11:18] potiuk commented on #17444
It's been quarantined - which means that if it fails, it fails in "Quarantined" build and it's not "red". We might want to do again a round of cleanups and reviews for those "quarantined" tasks and have them fixed - likely before 2.2 release. I did some of that before we released 2.1, and fixed a class of some of those flaky tests in scheduler, we might repeat that exercise (happy to brainstorm vi

[2021-08-11 11:31] bbovenzi commented on #17535
That does seem to be a bug. Feel free to draft up a PR and I'll review it.

[2021-08-11 12:28] luoyuliuyin commented on #17535
Okay, I have drafted a PR.

[2021-08-11 12:57] potiuk commented on #17546
Looking at the workaround, I don't think there is a `8.0.19` version of mysql client for `buster` (debian10) debian. The last one I could find was `8.0.20` http://repo.mysql.com/apt/debian/pool/mysql-8.0/m/mysql-community/

However, the issue looks slightly differently than the one from Ubuntu.

[code]

Produces no output, and this was one of the indications,  there is a problem. It might be that

[2021-08-11 13:36] feluelle commented on #17536
I can confirm this. Spent already a couple of hours or days trying to figure this out.

But tbh I think the bug is somewhere upstream. My guess is FAB.

I already tried a dozen things. In my case we have Airflow [running behind a proxy](https://airflow.apache.org/docs/apache-airflow/stable/howto/run-behind-proxy.html), but the proxy fix did not solve this specific issue.
To better debug it, I used

[2021-08-11 13:36] juanmanuelcarreira commented on #17536
Hello!!!
We have exactly the same issue!!!

[2021-08-11 14:54] hafid-d commented on #13542
hi @jbkc85 thank you for the suggestion! May I know how to create different pools in Airflow ? many thanks!

[2021-08-11 16:31] suhanovv commented on #17512
@potiuk I made a PR, who can review it ?

[2021-08-11 17:17] hafid-d commented on #13542
So I noticed when a dag is running alone everything goes well. Then, when another dag starts running at the same time, every thing gets stuck after few minutes. No more logs in the airflow celery worker, it doesnt receive anything from the scheduler. I increased the values mentionned above, as well as dag_concurrency. But nothing happened. Any idea how I can solve this issue ? thanks

[2021-08-11 17:29] #17394 closed

[2021-08-11 17:52] rubenjv7 opened #17555 "Cannot enter in localhost:8080"
**Apache Airflow version**:

**Apache Airflow Provider versions** (please include all providers that are relevant to your bug):

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

[2021-08-11 18:46] rchangj opened #17558 "New job fail immediately after start, no logs"
**Apache Airflow version**:1.10.12

**Apache Airflow Provider versions** (please include all providers that are relevant to your bug):
No other providers

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
No using k8s

**Environment**:
AWS Linux
- **Cloud provider or hardware configuration**:AWS
- **OS** (e.g. from /etc/os-release):
-NAME="Amazon Linux"
VERSION="2"
ID="

[2021-08-11 19:00] collinmcnulty opened #17559 "Dag Import Error Hidden for existing dags leading to nondescriptive UI errors"
Python version: 3.7.10

**Apache Airflow version**: 2.1.1

**Apache Airflow Provider versions** (please include all providers that are relevant to your bug): None

**Kubernetes version (if you are using kubernetes)**: version.Info{Major:"1", Minor:"18+", GitVersion:"v1.18.19-gke.1701", GitCommit:"d7cecefb99b58e8968f59b59d76448eb1e6ea403", GitTreeState:"clean", BuildDate:"2021-06-23T21:51:59Z", GoV

[2021-08-11 21:40] potiuk commented on #17558
It's really, really hard to say without more logs, You might want to try to find more logs. Also It would be great if you explain what kind of SSL configuration you've made (why?) and possibly if you could revert that change - even in a test system) and see if that fixes the problem. I do not expect this, maybe you also upgraded some libraries etc. along the way.

Just one note - it's not very lik

[2021-08-11 22:56] rchangj commented on #17558
The SSL certs are just self signed certs created as following.
    openssl genrsa -out private.pem 2048
    openssl req -new -x509 -key private.pem -out cacert.pem -days 1095
The airflow.cfg changes are as followings:
   web_server_ssl_cert = path/to/cacert.pem
   web_server_ssl_key = path/to/private.pem

There are ABSOLUTELY no other changes nor any other lib installation.

[2021-08-12 03:00] josh-fell commented on #9415
FYI - Just waiting on 1 PR to get merged for core example DAG updates then I'll be good to go taking this on shortly thereafter.

[2021-08-12 05:26] pukaleashish opened #17566 "Airflow with latest slim-buster(3.9) along with latest stable debian release."
The current 3.6 slim-buster version has vulnerabilities issues.
Could you please update to 3.9 slim-buster with stable debian release.
ETA for doing this activity.

[2021-08-12 05:32] uranusjr commented on #17566
Could you describe what vulnerability issues you are referring to?

[2021-08-12 05:36] yevsh commented on #17395
@ephraimbuddy , any ideas? thanks

[2021-08-12 05:43] pukaleashish commented on #17566
PFA XLS sheet for detailed vulnerability issues
[Airflow_vulneribility.xlsx](https://github.com/apache/airflow/files/6973091/Airflow_vulneribility.xlsx)

[2021-08-12 06:06] uranusjr commented on #17566
So since those are vulnarabilities in the Linux distribution, is the goal to move off *Buster*? Note that Airflow images are not built against Debian’s system Python, but a separate CPython installation under `/usr/local` (it’s based on `python:3.6`.

[2021-08-12 06:56] pukaleashish commented on #17566
How to fix those vulnerabilities?
I thought if we move to latest Buster those vulnerabilities would be addressed.

[2021-08-12 07:07] JavierLopezT commented on #17546
Hi @potiuk, thanks for your answer. Adding LD_PRELOAD to the env variables work (although I have had to add /usr/ at the beginning); the other workaround doesn't.

[2021-08-12 07:33] ecerulm commented on #17478
I don't know what the OP wants, but I personally ended here because I wanted to know 1 (the (approximated) next time this DAG will run)

[2021-08-12 07:52] duc-luong-tnsl opened #17568 "Airflow all scheduler crashed and cannot restore because of incorrect Group name"
**Apache Airflow docker image version**: apache/airflow:2.1.1-python3.8
** Environment: Kubernetes

**What happened**:

I set up a DAG with the group `Create Grafana alert` and inside the group a run a for loop for creating task
Then all schedulers crash because of the above error, K8s tried to restart but the scheduler still met this error inspire I fixed it on DAG.

My code:
[code]

Finally, I d

[2021-08-12 07:59] ephraimbuddy commented on #17395
@yevsh, Airflow support for the kind of combinations you want is incoming with [AIP-39](https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-39+Richer+scheduler_interval). For now, you should use simple combinations.
AIP-39 is in progress and will be out in no distant time.

[2021-08-12 08:47] #17566 closed

[2021-08-12 08:55] rubenjv7 opened #17570 "error to open"
**Apache Airflow version**:

**Apache Airflow Provider versions** (please include all providers that are relevant to your bug):

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

[2021-08-12 09:12] JavierLopezT opened #17571 "Collapsing doc section is not working"
In the content menu, you can expand a section, but if you click again to collapse, it does nothing
![Uploading Captura de pantalla 2021-08-12 a las 11.12.10.png…]()

[2021-08-12 09:35] JavierLopezT opened #17572 "Doc web page differente from code"
In the web https://airflow.apache.org/docs/apache-airflow/stable/howto/customize-dag-ui-page-instance-name.html
you can see
![Captura de pantalla 2021-08-12 a las 11 34 35](https://user-images.githubusercontent.com/11339132/129174564-e5bd6313-513b-4188-8632-bdec5dd68669.png)
But in the code (the correct one) it looks like:
![Captura de pantalla 2021-08-12 a las 11 34 53](https://user-images.github

[2021-08-12 09:49] #17572 closed

[2021-08-12 09:51] pukaleashish commented on #17566
Thanks for sharing info.
I didnt mean to be rude here.
I was just asking the details when the slim buster would be updated to latest version.
Anyways i will go through the documentation shared by you.
Thanks once again.

[2021-08-12 10:25] uranusjr commented on #17566
Airflow’s images are based on CPython’s builds (https://hub.docker.com/_/python); `apache/airflow:2.1.2-python3.6`, for example, is built against `python:3.6-slim-buster`. So if anything non-Python contains vulnarabilities, you should report it to the Python image’s maintainers (information available on the DockerHub page).

[2021-08-12 10:32] dinigo commented on #13750
WIP, have something, just struggling with the tests. I'll open it so we can review "collectively"

[2021-08-12 11:08] madhusudhan0542 opened #17573 "importing Operators directly from DAGS folder in airflow"
### Discussed in https://github.com/apache/airflow/discussions/17569

<div type='discussions-op-text'>

<sup>Originally posted by **madhusudhan0542** August 12, 2021</sup>
My intent is to create a Operator folder in dags folder (airflow/dags/operator/) and place my operators in use there. so that I can create a repository at git for dags folder and when I make changes to operator which can reflect

[2021-08-12 11:22] timothyclarke opened #17574 "[BUG] Helm chart does not correctly support sslmode for PostgreSQL connection"
**Apache Airflow version**: 2.12

**Apache Airflow Provider versions** : not applicable - none / standard / unknown (delete as applicable).  I am installing the helm chart from this repo with very little customization

**Kubernetes version (if you are using kubernetes)** : not applicable - 1.20

**Environment**:

- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-relea

[2021-08-12 12:22] potiuk commented on #17568
You cannot use 'space' in task_id. Your task id is 'Create grafana alert.alert_ESCALATION_AGING_FORWARD'. remove spaces and replace them with _ and it should start working fine.

[2021-08-12 12:32] bbovenzi commented on #17535
Your changes are looking good. Care to open a full PR to review?

[2021-08-12 13:04] duc-luong-tnsl commented on #17568
I know how to fix it. But this exception makes the scheduler crashed

[2021-08-12 13:10] timothyclarke commented on #16013
@XD-DENG  When is `2.1.3` going to be released ?

[2021-08-12 13:24] potiuk commented on #17568
Yep. I just added a better diagnostics in this case in #17578. This should perform the validation at an earlier stage - when the task group is parsed, rather than when the task is deserialized  - so it should solve the problem.

[2021-08-12 13:31] duc-luong-tnsl commented on #17568
Thank you @potiuk ,
I would like to contribute to Airflow.

[2021-08-12 14:00] potiuk opened #17579 "Quarantine test_mark_success_no_kill"
Happens to be flaky:

https://github.com/apache/airflow/pull/17578/checks?check_run_id=3312137736#step:6:4809

[code]

[2021-08-12 14:16] #16304 closed

[2021-08-12 14:16] #16372 closed

[2021-08-12 15:12] saimon46 opened #17582 "DAG trigger with config params visualisation with proper deserialisation"
**Description**

Add a proper `params` configuration in the trigger page of a DAG showing the dict without the serialisation format `__var` and `__type` but with a flat, normal dict.

**Use case / motivation**

Now we are using the `params` dictionary that can be configured in the DAG. In our case this configuration is a dictionary with nested fields. When this is showed in the trigger page is we

[2021-08-12 15:20] roestzwiee commented on #15340
@autarchprinceps
I'm having the same trouble here. When deploying the chart to our local machines all runs fine. But deploying the chart to our cluster using helm does not create the run-airflow-migrations and create-airflow-user job.

A workaround is deploying the jobs manually with kubectl.

[2021-08-12 15:21] luoyuliuyin commented on #17535
Okay, the PR address is:
https://github.com/apache/airflow/pull/17548

[2021-08-12 15:23] potiuk commented on #17546
Hmm. Then I guess the bug is in one of the libraries added:

`gconf-service libasound2 libatk1.0-0 libcairo2 libcups2 libfontconfig1 libgdk-pixbuf2.0-0 libgtk-3-0 libnspr4 libpango-1.0-0 libxss1 fonts-liberation libappindicator1 libnss3 lsb-release xdg-utils wget libappindicator3-1 libgbm1`

I am afraid then then either you try to investigate which one causes it by selective disabling some, or you

[2021-08-12 15:28] potiuk commented on #17546
BTW. Thanks for the comment - corrected the "/usr" prefix in case someone has similar problem :)

[2021-08-12 15:59] potiuk commented on #17574
This is postgres' requirement, not airflow's (And for a very good reason). Postgres will never read from the certificate chain installed in the system for a very good reason. What postgres does during verification is to not verify if the service is signed with "a" certificate authority, but whether it is signed with "THE" certificate authorities that are specifically configured as "OK" when you co

[2021-08-12 15:59] #17574 closed

[2021-08-12 16:13] barun-mazumdar commented on #17219
It happening also on docker container from image: airflow 2.1.2, which I try to run with default sqlite db of airflow.  I just run the airflow db init, airflow scheduler and airflow webserver  commands in entrypoint script.

[2021-08-12 16:14] GrayAlex49 opened #17583 "Helm Chart Doc Links Broken"
In the helm chart documentation any links that refer to the main airflow documentation are broken. They are pointing to /docs/apache-airflow/latest/... which doesn't exist and looks like it should be pointing to /docs/apache-airflow/stable/...

I couldn't find where the root was defined in the docs to submit a PR.

This occurs at least with the 'See Managing Variables for more.' link on the [varia

[2021-08-12 16:22] #17570 closed

[2021-08-12 17:21] aaronsteers opened #17584 "Replace constraints file requirement with `pyproject.toml` version rules"
**Description**

It would be wonderful to not have to use a custom constraints file during pip installs. My understanding is that these rules can be defined within `pyproject.toml` and evaluated during install time, without requiring the additional `--constraints` declaration.

Is this something that could be considered?

**Use case / motivation**

Streamlined install experience. For automated ins

[2021-08-12 18:16] joshk-kang opened #17585 "New Tasks to an existing DAG do not get scheduled if they have depends_on_past = True"
**Apache Airflow version**: 2.1.2

**Apache Airflow Provider versions** (please include all providers that are relevant to your bug): None are relevant

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): N/A

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Oth

[2021-08-12 18:19] uranusjr commented on #17584
Could you provide some references for this? Putting package metadata in `pyproject.toml` ([PEP 621](https://www.python.org/dev/peps/pep-0621/)) is not intended to replace constraints. No mechanism exists at the current time to replace constraints file at the current time, to my knowledge.

[2021-08-12 19:12] potiuk commented on #17568
Feel Free :) https://github.com/apache/airflow/contribute

[2021-08-12 20:13] barun-mazumdar commented on #17219
It is happening also on docker container from image: airflow 2.1.2, which I try to run with default sqlite db of airflow. I just run the airflow db init, airflow scheduler and airflow webserver commands in entrypoint script as i use sequential executor. It happens only the first time. The issue does not occur for subsequent docker start commands.

[2021-08-12 20:44] eladkal commented on #17555
Please use Stackoverflow / Slack for support.

[2021-08-12 20:44] #17555 closed

[2021-08-12 21:16] kaxil commented on #17583
https://github.com/apache/airflow/commit/3650448301d3b2a31a4996e035f1b325148c8639 should fix it too I think

[2021-08-12 22:01] ShakaibKhan commented on #17476
I can taking a look into this. Will try to reproduce.

[2021-08-12 23:07] #12500 closed

[2021-08-12 23:43] #17535 closed

[2021-08-12 23:43] potiuk commented on #17584
Yeah. Constraints are mechanism which is applied at install time only, there are no mechanism in pyproject.toml that can provide anything like that. The reasons why we are using constraints is explained here https://github.com/apache/airflow/blob/main/CONTRIBUTING.rst#dependency-management . Let me repeat it here:

We've searched  and discussed how to apply a a good solution for ~1 year after I jo

[2021-08-12 23:43] #17584 closed

[2021-08-12 23:44] #17442 closed

[2021-08-13 00:06] #16344 closed

[2021-08-13 00:08] potiuk commented on #17219
Yeah. It can happen if you do not use the tool according to it's intended use. I am afraid the way you use it quite wrong.

The docker image of airflow has never been designed to override its entrypoint, to run several different airflow components inside and to run sqlite as a database for anything else than quick tests. SQlite + Sequential executor are never intended to be used for production and

[2021-08-13 00:50] VLADPOLUNIN commented on #17582
Спасибо

[2021-08-13 00:51] VLADPOLUNIN commented on #17582
Hi

[2021-08-13 00:54] #10549 closed

[2021-08-13 01:25] BenjaminNMitchell commented on #15536
Hey looks like this issue is open still, I can take a crack at it (First PR)

[2021-08-13 05:11] rchangj commented on #17558
Hi,
I updated to the latest airflow 2.1.2. I got this error:
Python version: 3.7.10
Airflow version: 2.1.2
Node: ip-10-77-52-33.vpc.internal
-------------------------------------------------------------------------------
Traceback (most recent call last):
  File "/home/ec2-user/.local/lib/python3.7/site-packages/sqlalchemy/engine/base.py", line 1277, in _execute_context
    cursor, statement, para

[2021-08-13 05:31] rchangj commented on #17558
Providers info:
apache-airflow-providers-amazon==2.1.0
apache-airflow-providers-apache-hdfs==2.0.0
apache-airflow-providers-ftp==2.0.0
apache-airflow-providers-imap==2.0.0
apache-airflow-providers-postgres==2.0.0
apache-airflow-providers-slack==4.0.0
apache-airflow-providers-sqlite==2.0.0
apache-airflow-providers-ssh==2.1.0

Postgresql version:
postgresql-server-13.3-2.amzn2.0.1.x86_64
postgresql-

[2021-08-13 07:53] ClassyLion opened #17599 "FileNotFound Temporary file error"
**Apache Airflow version**: 2.1.2

**Apache Airflow Provider versions** (please include all providers that are relevant to your bug):

apache-airflow-providers-snowflake==2.0.0
DAG deals with loading data to Snowflake, not sure if other providers are related, but installation happens with constraints file.

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.18.20

**En

[2021-08-13 09:56] ephraimbuddy commented on #17599
This has been fixed in https://github.com/apache/airflow/pull/17187 and would be released in 2.1.3

[2021-08-13 10:01] ClassyLion commented on #17599
Understood, thank you.

[2021-08-13 10:01] #17599 closed

[2021-08-13 10:10] vengi57 opened #17602 "Scheduler is not working"
The scheduler does not appear to be running. Last heartbeat was received 2 days ago.  The DAGs list may not update, and new tasks will not be scheduled.

Scheduler service is up and running due to unhealthy it cant able to execute any dag runs

![Screenshot from 2021-08-12 16-52-57](https://user-images.githubusercontent.com/32476102/129341623-fecbc039-7ca8-4700-a1f5-efd0421a1065.png)
![Screenshot

[2021-08-13 10:46] JavierLopezT commented on #17546
Thanks for your suggestion Jarek, I'll try to follow the customization route.

[2021-08-13 11:21] dondaum opened #17604 "Add an option to remove or mask environment variables in the KubernetesPodOperator task instance logs on failure or error events"
Hi core Airflow dev teams,

I would like to say a big 'thank you' first for this great plattform and for all of your efforts to constantly improve and mantain it. It is just a joy to work with.. Our company has recently switched to the Airflow 2 and we love the overall improvements, such as scheduler speed, UI but also all your efforts in knowledge sharing and community building.

**Description**

[2021-08-13 12:21] aioannoa opened #17605 "Airflow stdout not working/console problem"
**Apache Airflow version**:
Airflow 2.0.0

**Apache Airflow Provider versions**:
apache-airflow-providers-ftp==1.0.0
apache-airflow-providers-http==1.0.0
apache-airflow-providers-imap==1.0.0
apache-airflow-providers-postgres==1.0.1
apache-airflow-providers-sqlite==1.0.0

**Kubernetes version (if you are using kubernetes)**:
Client Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.0",

[2021-08-13 12:26] sw1010 opened #17606 "JSON client does not provide an API for getting a list of Dag Runs"
**Description**

The JSON client provides API for many endpoints, but some of them are still missing, e.g. `GET /api/experimental/dags/<DAG_ID>/dag_runs`.

**Use case / motivation**

I would like to obtain all the run ids for a given DAG id. It looks like the missing API is the way to do so.

**Are you willing to submit a PR?**

Sure!

[2021-08-13 12:46] uranusjr commented on #17606
I don’t think we are going to accept contributions to `/api/experimental` (Deprecated API). Would it be possible for you to switch to `/api/v1` (Stable API)? If not, why?

[2021-08-13 12:59] thmzlt opened #17607 "Airflow Summit 2021 banner is still present on docs site"
**Apache Airflow version**: 2.1.2

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

Banner for Airflow Summit 2021 (which has passed) still shows up on docs site using some of the view space.

**What you expected to happen**:

Banner does not show up.

**Ho

[2021-08-13 13:00] thmzlt commented on #17607
@bbovenzi

[2021-08-13 13:12] lboudard commented on #17490
I agree on this subject, currently pod operator is missing some very handy features that [kubernetes job controller](https://kubernetes.io/docs/concepts/workloads/controllers/job/) implements such as time to live after success/failure that are really handy.
I also agree on the fact that the usage of kubernetes executor vs kubernetes pod operator is not very clear yet.
In our use case, since we hav

[2021-08-13 13:18] sw1010 commented on #17606
Many thanks for your reply. I see your point of view. I am working on a project that already uses the deprecated API and it would take us some time to switch to the new one. I could have made the corresponding changes inside my project and left them unpublished, but many other users may be in a similar situation and would like to reuse that functionality. Thus in my opinion it would be good to acc

[2021-08-13 13:36] potiuk commented on #17546
Let us know!

[2021-08-13 13:38] kaxil commented on #17607
https://github.com/apache/airflow-site/pull/466 should fix it

[2021-08-13 13:38] #17607 closed

[2021-08-13 13:44] potiuk commented on #17604
Which Airflow version are you running ?

There is a "Secret Masker" feature in Airflow 2.1, and  from what I understand it should also mask secret values (https://airflow.apache.org/docs/apache-airflow/stable/security/secrets/index.html#masking-sensitive-data) - it will mask sensitive variables/ sensitive fields in connections in task logs. I believe it should also mask them in K8SPodOperator log

[2021-08-13 13:49] potiuk commented on #17606
Not a good idea. We want to move people away from the experimental API as soon as possible (now). It will be removed in Airflow 3 completely (and irreversibly). Effectlively  - adding new functionality has the effect that people staying longer with the deprecated API, which is precisely what we want to avoid.

No more changes will be accepted to the experimental API.

[2021-08-13 13:49] #17606 closed

[2021-08-13 13:53] tsaltena commented on #14574
We're experiencing the same issue - have you been able to find a fix since, @kaustubhharapanahalli ?

[2021-08-13 15:17] potiuk commented on #17605
You have no written how you deployed your Airflow.

From the looks of it - the fact that the logs were still printed in log files of airflow -  I am almost 100% sure,your changes had a typo or they were not applied (for example you have not restarted the pods after changing the configuration.

The easiest way you can check it is, to dump information about your loggers when you are printing logs. W

[2021-08-13 15:17] #17605 closed

[2021-08-13 15:30] ppatel8-wooliex commented on #8421
-----------------------------------------------------------------------------------------------------------------
when you use vault to get the secret then before passing as params you can mask it. It will display as **** in log as well as rendered template.

you can use the below code to mask the secret from the Vault.

from airflow.utils.log.secrets_masker import mask_secret

openssl_service_acc

[2021-08-13 15:33] #17568 closed

[2021-08-13 15:39] kaustubhharapanahalli commented on #14574
@tsaltena This is improved on version 2.0.0 that we are using. We are not performing local setup but using docker setup. It is working properly for us now.

We were able to get logs for more than 48 hours recently :)

[2021-08-13 15:41] kaustubhharapanahalli commented on #14574
@tsaltena can you also check the stability of your network connection?

[2021-08-13 16:04] potiuk commented on #17602
The information you provided are not nearly enough to help you. My wild guess is that you are using Sequential Executor and SQlite with indeed will work this way and make scheduler unhealthy. You should never use it beyond testing if that's the case.

Closing it for now until you provide some more details (in case you are not using the Sequential Executor).

[2021-08-13 16:04] #17602 closed

[2021-08-13 16:17] vengi57 commented on #17602
I was using executor ad LocalExecutor and Postgres as database which modified on airflow.cfg
I was triggering multiple dags one after the other and each dag is a little heavy it will take around 4 to 5 hrs to complete each. In-between scheduler got stuck and I am getting warning messages as "The scheduler does not appear to be running. The last heartbeat was received 2 days ago. The DAGs list may

[2021-08-13 16:20] vengi57 commented on #17602
I have cross-checked whether the scheduler is running or not but it was running on the background
![Screenshot from 2021-08-12 16-58-26](https://user-images.githubusercontent.com/32476102/129389515-2bf87d37-b5d2-42d8-bde4-b0e5bc9e5974.png)

[2021-08-13 16:26] dondaum commented on #17604
We run version v2.1.2.

So I had a look again in the 'Secret Masker" feature as I had it already configured without any positive effect on the environment variable masking.

But most likely our setup and configuration might be wrong. So let's give some context:

We have a custom logging config that uses Azure blob strorage for remote logging where we have add the new filter on the remote task hand

[2021-08-13 16:29] potiuk commented on #17602
I'd recommend you to restart the scheduler and see if it is really "stuck" - the fact that the process is running does not mean that it's "working" - there are many ways things can go wrong.

Have you checked your logs? did you make any investigation what happened?  Without any of that, we are not able to help - you need to provide us enough information (and show that you have done investigation).

[2021-08-13 16:59] etadelta222 commented on #14379
+1 Ran into the same issue when doing the tutorial but with the [docker ](https://airflow.apache.org/docs/apache-airflow/stable/start/docker.html)install. Updated docker-compose and added `${AIRFLOW_IMAGE_NAME:-apache/airflow:2.1.2-python3.8}` and it ran successfully.

[2021-08-13 17:01] potiuk commented on #17604
OK. Thanks for the context. Really helpful. I think I know the problem, secret masker will not mask K8S env vars, it masks Airflow Variables. Maybe it is a good idea to add it then (should be possible - @ashb WDYT?).

As a temporary workaround - you should be able to mask your variables "manually" (also to test if your logging configuration works).

Following https://airflow.apache.org/docs/apache

[2021-08-13 17:07] ashb commented on #17604
Kubernetes already has the ability to define environment variables based on Secrets - is there a reason you don't use that?

How do you define the env var in the first place? (I'm on my phone so may have missed if you said that already. Sorry)

[2021-08-13 17:10] potiuk commented on #14379
So just to double-check - you were also running on Windows 10 and apache/airflow:2.1.2 caused the same problem @etadelta222?

[2021-08-13 17:27] dondaum commented on #17604
Thank you both for your respond and showing me a quick workaroung.

I'll implement it and test it against our custom solution. We do something similar by override the execute() method and apply a kind of custom masking on the remote_pod object.

Yes we could use kubernetes secrets for our use cases as well. I assume there are pros and cons for using secrets. To my knowledge it was not possible to

[2021-08-13 19:05] dondaum commented on #17604
So I did tested the workaround with a quick and dirty subclass and overriding of the execute method. For each env value I call mask_secret():

[code]

Afterwards I had a look in the logs and it seems that the masking now works but only in one of the two exception messages in the logs.

Here is the detailed log message:
[code]

If a pod ends with an failure the KubernetesPodOperator seems to check

[2021-08-13 20:14] jedcunningham commented on #16833
@gmsantos, in the next release `podTemplate` can be templated and `workers.extraContainers` will be added to k8s workers automatically. Thanks!

[2021-08-13 22:12] match-gabeflores opened #17612 "function json_extract_path(json, unknown, unknown) does not exist during dag serialization"
**Apache Airflow version**:
Airflow 2.1.2
Postgres 13
Python 3.9.6

Trying to set up a fresh instance of Airflow and getting the below error. Main error here:

[code]

**Full error below**

[code]

[2021-08-13 22:52] ephraimbuddy commented on #17612
Did you initialize the DB? Looks like you need to run `airflow db init`

[2021-08-14 03:48] rchangj commented on #17558
After I use following command to start airflow, the issue goes away. It seems there is a corner issue due to permission:
sudo /sbin/runuser -l <user> -c "airflow scheduler"

Meantime, I have airflow 2.1.2 installed and running the scheduler, finger crossed.

[2021-08-14 05:30] obarisk commented on #17546
This issue raise two curious points.

1. Without any dependency with MySQL. airflow still depend on mysql.
2. If import airflow before pandas, the bug disappears.

I'm not sure is this mysql issue or airflow issure

[2021-08-14 08:38] matejker opened #17614 "All PythonOperator and BashOperator exited with return code 1 (v2.1.2)"
**Apache Airflow version**: 2.1.2

**OS**: Ubuntu 20.04 LTS

**Apache Airflow Provider versions**:
[code]

**Deployment**: service

**What happened**: I just upgraded Airflow from 1.10.x to the latest version 2.1.2, updated `airflow.cfg` up the latest configuration (resolve the `DeprecationWarning`) and upgraded db. For some reason all of the `PythonOperator` and `BashOperator` aren't working and

[2021-08-14 09:31] tzanko-matev commented on #14205
Here is what I believe is causing the bug:
https://github.com/apache/airflow/blob/88199eefccb4c805f8d6527bab5bf600b397c35e/airflow/jobs/scheduler_job.py#L1765

[code]
Notice that the dagrun state is not updated before `return 0`. This means that on the next iteration of the scheduler the same dagrun will be tried for processing. If there are enough dagruns which satisfy this condition then the sch

[2021-08-14 10:55] thejens commented on #15697
Yes, that's indeed a solution, I'd go as far as saying that should happen automatically when upstream succeeds

[2021-08-14 11:16] tzanko-matev commented on #14205
Here is the same logic in the `main` branch:
https://github.com/apache/airflow/blob/721d4e7c60cbccfd064572f16c3941f41ff8ab3a/airflow/jobs/scheduler_job.py#L1004
[code]
After a brief look at the code (without testing) it seems to me that the same problem will be happening. Since `last_scheduling_decision` is not updated you might end up with the same type of deadlock because you will be examining t

[2021-08-14 14:20] potiuk commented on #17614
Extremely hard to say, but it looks like some kind of deployment issue. I think you should look in other logs - this might be permission/resource related, pretty much anything. Just look at all the logs - especially in your deployment logs. You wrote "service" which I am not sure what it really means, but I would start looking in the logs which are specific for your deployment. For sure this is no

[2021-08-14 14:20] #17614 closed

[2021-08-14 14:29] potiuk commented on #7911
I think good start is to take a look at the - quite popular - maintenance dags here: https://github.com/teamclairvoyant/airflow-maintenance-dags  - this is a set of 3rd-party maintenance DAGs that people are using for some kind of maintenance (`db-cleanup`). We do not know how "correct it is" and how well it copes with the new Airflow versions, but It can give an idea on how users deal with it.

I

[2021-08-14 15:02] potiuk commented on #17546
It does not. Airflow only uses mysql when mysql is configured via sqlalchemy URL https://docs.sqlalchemy.org/en/14/dialects/mysql.html#module-sqlalchemy.dialects.mysql.mysqlconnector
(This actually brings me to another option to try @JavierLopezT ) - maybe using different mysql driver might help as well - those can be chosen by a different connection string.

I think it's neither. It looks like it

[2021-08-14 15:26] #17168 closed

[2021-08-14 16:08] phtechwohletz commented on #10026
I'm encountering the same issue.  Any update on this or workaround? Thank you!

[2021-08-14 16:34] potiuk opened #17617 "Switch Alibaba tests to use Mocks"
We should also take a look if there is a way to mock the calls rather than having to communicate with the reaal "Alibaba Cloud". This way our unit tests would be even more  stable. For AWS we are using `moto` library. Seems that Alibaba has built-in way to use Mock server as backend (?) https://www.alibabacloud.com/help/doc-detail/48978.htm

CC: @Gabriel39 -> would you like to pick on that task? W

[2021-08-14 16:34] potiuk commented on #17617
Can I assign you to that one @Gabriel39  ?

[2021-08-14 16:41] potiuk commented on #10026
Hmm  I think it is the same as #17394 (fix is merged and it  will be released in upcoming 2.1.3). It's not the same as the original duplicate task, but I believe it will be fixed by migrating to 2.1.3.

Is my suspicion correct @ephraimbuddy ? Should we mark it as duplicate and close with 2.1.3 millestone?

[2021-08-14 16:58] potiuk commented on #10026
This issue seems to started from something quite different. Seems that the original issue refers to 1.10* version which will not be updated and there are few other issues mentioned (and it was entirely different issue).

But the issue mentioned later seems to be quite widespread in 2.1.* series.

[code]

Proposal: I believe there were other fixes related to similar propblems in 2.1.3. And this see

[2021-08-14 18:23] potiuk commented on #17604
WHOA! What a finding!

Indeed - It looks like the secret_masker did  not mask secret values in context exceptions. I just submitted PR #17618 fixing it - possibly just in time to be included in 2.1.3

[2021-08-14 20:05] pateash commented on #17369
yeah, the issue with OneOf - https://github.com/OpenAPITools/openapi-generator/issues/10145

[2021-08-14 21:11] potiuk commented on #15536
Feel free !

[2021-08-14 21:13] potiuk commented on #16013
~ wek from now if all goes well.

[2021-08-14 21:16] #17512 closed

[2021-08-14 21:16] potiuk commented on #17512
Closed by #17551

[2021-08-14 23:29] meeraanntom opened #17620 "Unexpected Error when trying to start airflow"
**Apache Airflow version**:  2.0.1

**OS**: MAC OS big SUR ( 11.4 (20F71))

**Apache Airflow Provider versions**:

**Deployment**:

**What happened**:
Something bad has happened.
Please consider letting us know by creating a bug report using GitHub.

Python version: 3.7.1
Airflow version: 2.0.1
Node: MB28696.local
-------------------------------------------------------------------------------
Trac

[2021-08-14 23:51] csherrell commented on #10026
I am having the same issue.
Airflow(2.1.2) / CeleryWorker / BashOperator / run_as_user, running from an Anaconda Environment.

I upgraded from 2.0.1 to 2.1.2. For me, this was not happening in 2.0.1. I know this is related to the run_as_user setting in the DAG. I spent the day converting the DAGs over to run as the airflow user and things are working again. Finally!

The run_as_user was nice becau

[2021-08-15 02:02] zhangyi-hu opened #17623 "Expose celery config option 'result_expires' to airflow.cfg"
**Description**

Currently, Airflow celery executor has this config in its default value, one day. As a user, I hope I can set this value by myself through Airflow easily.

**Use case / motivation**

When you spot a silent mistake, where the task is successful but the results are wrong, you find the bug in your ETL workflow and fixed the bug. However, you cannot easily rerun because the celery res

[2021-08-15 05:12] Gabriel39 commented on #17617
OK, I'll take this task and will submit next PR in next few days. :)

[2021-08-15 05:47] siddharthvp commented on #17516
This should be resolved by #17121.

[2021-08-15 07:28] potiuk commented on #10026
Yep. It definitely relates to `run_as_user`

[2021-08-15 08:15] potiuk commented on #17620
You likely did not follow the installation instructions and did not use constraints: https://airflow.apache.org/docs/apache-airflow/stable/installation.html#installation-script

[2021-08-15 08:15] #17620 closed

[2021-08-15 08:21] potiuk commented on #17623
You can set it by `CELERY_RESULT_EXPIRES` environment variable. There is no point in adding it to the configuration of airflow.

[2021-08-15 08:21] #17623 closed

[2021-08-15 08:53] ephraimbuddy commented on #10026
I was able to reproduce a case where deleting running Dag on the UI will not delete all the TaskInstances because it’s still being processed by the scheduler/executor. However, the Dag is deleted. When the Dag appear and is ran again, the TaskInstances would be seen to have changed state and a sigterm will be sent to terminate it.

I’m taking a look at fixing this. Also, we fixed a part of run_as_

[2021-08-15 16:51] zhangyi-hu commented on #17623
I verified that, by setting the environmental variable `CELERY_RESULT_EXPIRES `, this problem can be solved.
However, the root of this problem is, that whether a task should be rerun is not fully controlled by airflow, unless the user sets this env var as a small number.

To my understanding, the status of a task should be solely managed by airflow. It seems to me that, airflow should always set t

[2021-08-15 16:59] dondaum commented on #17604
Great! Glad that I could help finding this issue.

So I had a look on your PR and also on the original PR that merged the 'masking feature'. My example above should actually also work without having to change anything in our customer operator - I mean beside your changes on the secret masking in the exceptions.

Reading through the docs whenever you either use a connection or variable and if the v

[2021-08-15 18:20] potiuk commented on #17623
I believe you probably try to re-run the tasks in some ways that are not the way airflow is supposed to rerun the task.  Airflow has a `backfill` command to be able to re-run the tasks that you want to run "again" (which is exactly the case you descibed).

This is pretty basic feature of Airflow, and I would be extremely surprised if in this case you get the result from cache of celery. I believe

[2021-08-15 19:30] potiuk commented on #17604
This is a different thing I believe. I think this is a coincidence and you habe "dbt_warehouse" (lowercase) set as an extra configuration in a connection.

[2021-08-15 20:05] potiuk commented on #17473
Feel free to propose PR. I think seeing some screenshots here would be useful here before to asses how big of a problem it is

[2021-08-15 20:09] zhangyi-hu commented on #17623
I backfilled for a certain day, and check the result. I found there was a mistake and updated the code the dag run will call. I backfilled again with --reset-dagruns option.  I guess backfill task with identical input arguments will produce identical celery job UUID?

[2021-08-15 20:14] potiuk commented on #17623
why `--reset-dagruns` ?

[2021-08-15 20:20] potiuk commented on #17582
Which version of Airlfow? Sounds like quite improbable that others have not seen it.

[2021-08-15 20:28] potiuk commented on #17582
Ah. yeah. I confirmed it's the case in main as well. Would you be willing to provide a PR fixing it?

[2021-08-15 20:43] zhangyi-hu commented on #17623
Because the mistake was silent, the task finished successfully (from airflow's perspective) with the wrong logic and unintended result. I spotted the mistake by looking at the final result. After updating the code with the correct logic, I need to force Airflow to backfill again with the corrected code. With this option, Airflow will ignore the backfill request.

I believe the root of the issue is

[2021-08-15 23:03] SimonOsipov opened #17629 "KubernetesExecutor do not spawn Kubernetes Pod Operator pods."
**Apache Airflow version**: 2.1.2 (but happened on 2.0.2 as well)

**OS**: debian

**Apache Airflow Provider versions**:

apache-airflow-providers-celery==2.0.0
apache-airflow-providers-cncf-kubernetes==2.0.1
apache-airflow-providers-docker==2.1.0
apache-airflow-providers-elasticsearch==2.0.2
apache-airflow-providers-ftp==2.0.0
apache-airflow-providers-google==5.0.0
apache-airflow-providers-hashic

[2021-08-15 23:14] SimonOsipov commented on #17629
The only thing remotely related to errors I found:

[code]

[2021-08-16 00:05] #15369 closed

[2021-08-16 06:26] dondaum commented on #17604
Thank you for the quick respond.

I think I do not completely understand what you mean. Is it correct that you assume that there is another either Airflow variable or connection with the name "dbt_warehouse" (lowercase) as key?

If so, I tested it on a fresh local Airflow dev instance with a clean environment withouth any other variable than the above mentionend in the context section.

But let me

[2021-08-16 06:36] potiuk commented on #17623
So this is a "development" setup, something you need to set on  your "development" instance to try things out. This is clearly not something that would be happening in production, and clearly not something that you would like to enable for "all" runs.

I do not see this as a usual scenario for production, setting environment variable if you want to speed up re-backfilling and iterating while devel

[2021-08-16 06:45] potiuk commented on #17623
I am just wondering why backfill again (without --reset-dagrun) would be rejected? What was the error when you tried it? I believe what should happen is that backfill should be possible to repeat again.

[2021-08-16 07:31] EliMor commented on #17489
So...
Some questions I had lingering in my head, no response expected on my end. Please keep in mind I'm very naive/lacking any context and there are extra implicit assumptions here but...

- **Whats the rationale for constructing and encoding the URL to be saved and putting it in the Secret?** This is as opposed to plopping the secret as provided by the user in the values.yaml and then building a

[2021-08-16 07:44] EliMor commented on #17490
Thanks for pointing out the TTL functionality @lboudard . I was unaware of that ability in Kube Jobs and will test out exposing it in my flavor of the KJO.
One thing I've also been thinking a bit about is how to map the DAG/task defaults to Kube Jobs well.
[code]
Seems natural.
But TMK ```"retry_delay"``` for example doesn't have a good comparable in kube Jobs exposed. As far as I know the retry d

[2021-08-16 07:54] ephraimbuddy commented on #10026
I suspect you cleared these tasks when they were still running. I have added a PR for a case I reproduced when deleting running DAGs from the UI #17630

[2021-08-16 08:08] potiuk commented on #17489
Because Airflow takes URL as parameter and it's standard way for airflow (and airflow does it because this is the way how sqlalchemy does it) on one hand, or because it makes a unified way of passing not only the host/user/password/ but also extra parameters. If we want to construct the URL from secrets to Airflow, we would need some extra code to do that on the flight, rather than mapping the sec

[2021-08-16 08:25] EliMor commented on #17489
Thanks for the extra context.
I admit I most likely would have the impulse to want to build some bridge between 'the airflow way' things happen and what I assume is an intuitive way to engage with the helm chart. I realize 'intuitive' is subjective though.
... Maybe forcing the user to construct the string in the values.yaml/their own Secret, for example. Apologies if this is trodden terrain.

Of

[2021-08-16 08:31] ashb commented on #16618
@ricardogaspar2 Sounds useful -- do you have any screenshot you could show?

[2021-08-16 08:32] potiuk commented on #17489
This is already possible for SQLalchemy connection if you want. https://airflow.apache.org/docs/apache-airflow/stable/howto/set-config.html#setting-configuration-options (see the _cmd option). You can write and execute your "glue" as a script (in python/bash or any other that is supported by your image)

[2021-08-16 09:03] EliMor commented on #17489
So, in your opinion, do you think simply explicitly enforcing ```AIRFLOW__CORE*``` as env variables OR providing an "airflow.cfg" as a Secret in the helm chart should be the ONLY way to do things?

[2021-08-16 10:19] ricardogaspar2 commented on #16618
Sure thing.
The screenshot below was grabbed from this talk: https://www.youtube.com/watch?v=D_1VJapCscc&t=1055s

![Screenshot 2021-08-16 at 11 17 09](https://user-images.githubusercontent.com/3660448/129548809-94c88c08-62a0-4bb6-965a-b09641e766c1.png)

There is also some info here: https://dagster.io/blog/dagster-airflow

[2021-08-16 10:53] Bart-art opened #17632 "SqliteHook invalid insert syntax"
**Apache Airflow version**: 2.1.0

**OS**: Raspbian GNU/Linux 10 (buster)

**Apache Airflow Provider versions**: apache-airflow-providers-sqlite==1.0.2

**Deployment**:  Virtualenv

**What happened**:

When using the insert_rows function of the sqlite hook the generated parametrized sql query has an invalid syntax. It will generate queries with the %s placeholder which result in the following erro

[2021-08-16 11:32] kdunee commented on #13888
Thanks @alittlesliceoftom! As bad at it is, I'm afraid it's the best answer on the internet and the only one that helped me ;)

[2021-08-16 12:50] zhangyi-hu commented on #17623
When I backfill again without --rest-dagrun, the jobs are not scheduled, as that dag run is already marked as success. So you believe if the dags are reloaded, the jobs should still be scheduled without --rest-dagrun?

My code change is like "1+1" updated to "1+2".

[2021-08-16 13:02] malthe commented on #9342
I agree that conflating tags (or other metadata that primarily supports the user interface) with security is a bad thing.

If the mechanism was pluggable somehow, then one strategy could be that the first directory level of the DAGs repository was mapped to a group or "container" – and RBAC roles could then in turn be assigned to those groups. It's a simple strategy that would also fit nicely in t

[2021-08-16 13:03] potiuk commented on #17489
Strange statement. I do not understand what you are trying to ask and for what purpose. I simply do not understand what you are asking about? Could you elaborate and explain what you mean by "the ONLY way to do things?" - this is so general that I am not sure what you are asking about.

[2021-08-16 15:58] EliMor commented on #17489
Apologies. I'm a strange person and I struggle to communicate clearly at times.
This is what I am asking.

Is it correct that there are currently several ways of providing, in our case, the db connection details;

[code]
And
[code]
And
mounting ```airflow.cfg``` from a secret or (configmap?) directly

If the above are true and if the argument is that the use of the helm chart should be 'intuitivel

[2021-08-16 16:00] #17533 closed

[2021-08-16 16:02] Aakcht commented on #16651
Looks like I have the same issue, I'll try submitting a PR if nobody minds

[2021-08-16 16:08] potiuk commented on #16651
Please!

[2021-08-16 16:12] potiuk commented on #17632
Would you be willing to provide a fix for that @bart-art ? That sounds like rather easy fix - good for first-time contribution. Happy to help with it if needed.

[2021-08-16 16:16] #17368 closed

[2021-08-16 16:32] rsotogar opened #17636 "Invalid step_id argument in EmrStepSensor"
Hi!

I am getting this error in the EmrStepSensor:

`botocore.errorfactory.InvalidRequestException: An error occurred (InvalidRequestException) when calling the DescribeStep operation: Step id '{ task_instance.xcom_pull(task_ids='users_pipeline', key='return_value')[0] }' is not valid`.

Here's the code:

       `pipelines = ["events", "users", "eventsstaged", "activities", "feeds", "attendances",

[2021-08-16 16:33] potiuk commented on #17623
Can you give the exact command you run to run the backfill? Are you sure you are not running it with `--dry-run` or `--mark-success` flags?

I am not sure why this might be happening - I think it should not. There is even this new feature to rerun all succeeded tasks automatically when you backfill a dag https://github.com/apache/airflow/pull/16475/files so I am pretty sure Airflow should be ablee

[2021-08-16 17:10] potiuk commented on #9342
My personal opninon - and this is not a universal truth, but my persona view on this is, that this is not really whether we want to use tags or something else. I think main reason is because in essence multi-tenancy feature of Airflow does not have a chance to be working (yet!). By providing "access per-group" UI feature, we would give people a completely false impression, that you can isolate tho

[2021-08-16 17:15] sneakythr0ws commented on #17629
Seems like its wrong resource_version processing
https://v1-20.docs.kubernetes.io/docs/reference/using-api/api-concepts/#410-gone-responses
https://v1-20.docs.kubernetes.io/docs/reference/using-api/api-concepts/#unavailable-resource-versions

[2021-08-16 17:52] dhuang opened #17638 "Airflow stops scheduling DAG Runs after max_active_runs hit once"
**Apache Airflow version**: 2.1.2.

**OS**: Debian.

**Apache Airflow Provider versions**: Probably not relevant.

**Deployment**: Single scheduler instance since we're on MySQL5.7.

**What happened**:
Since updating from 1.10.15 to 2.1.2, we started noticing a small subset of DAGs would no longer get new DAG Runs scheduled (roughly 30 of 5000~ DAGs), while the rest worked perfectly fine. We've be

[2021-08-16 18:01] jmorgannht opened #17639 "Airflow API (Stable) (1.0.0) Update a DAG endpoint documentation shows you can update is_active, but the api does not accept it"
**Apache Airflow version**:

v2.1.1+astro.2

**OS**:

Ubuntu v18.04

**Apache Airflow Provider versions**:

**Deployment**:

VM

Ansible

**What happened**:

PATCH call to api/v1/dags/{dagID} gives the following response when is_active is included in the update mask and/or body:
{
    "detail": "Only `is_paused` field can be updated through the REST API",
    "status": 400,
    "title": "Bad Reque

[2021-08-16 18:35] potiuk commented on #17489
You are extrapolating a bit more than what I wrote. Your assumptions do not take into account the audiences. I never said "human" providing the URL. I said "Secret" providing URL to Airflow. There is one more step between Human entering configuration and Secret Keeping it. The reason why you have it in helm chart, is because the Helm chart is for "Humans" to configure, while the "Secrets" is for "

[2021-08-16 20:15] EliMor commented on #17489
Thank you for your time and patience to help me understand a little more.

Cheers.

[2021-08-16 21:57] frenchwr opened #17641 "Import Errors Flapping"
**Apache Airflow version**: 2.1.2

**OS**: Amazon Linux release 2 (Karoo)

**Apache Airflow Provider versions**:

[code]

**Deployment**:

Running on single AWS EC2 instance (connected to an AWS EMR cluster) with [Supervisor](http://supervisord.org/running.html) used to manage airflow processes. We use CeleryWorker and postgresql for our backend db.

**What happened**:

A handful of parsing errors

[2021-08-16 23:33] jedcunningham commented on #17573
@madhusudhan0542, I'm going to close this in favor of the discussion linked in the description.

[2021-08-16 23:33] #17573 closed

[2021-08-16 23:41] jedcunningham commented on #17536
I believe @feluelle is on the right track with this being a FAB issue.

Found this, which looks like it's the same issue: https://github.com/dpgaspar/Flask-AppBuilder/issues/1666

You all should add any helpful context there. This is most likely a "wont-fix" from Airflow's side.

[2021-08-17 01:14] mik-laj commented on #17639
You're right. We should add readOnly=True property to `is_active` field. It should look similar to `is_subdag` field.
https://github.com/apache/airflow/blob/2935be19901467c645bce9d134e28335f2aee7d8/airflow/api_connexion/openapi/v1.yaml#L1871-L1882

[2021-08-17 02:25] subkanthi commented on #17632
@Bart-art if you are not working on it, please let me know I can also take it on.

[2021-08-17 04:23] DreamyWen commented on #8181
i encounter this in 2.1.1 airflow

2021-08-15 00:31:16 [pool-1-thread-1] INFO  c.s.e.bi.executor.MainExecutor - 等待dag script_dag jobId ad9435cd-459e-40c3-b9ef-2ee654641b06 执行完毕..
2021-08-15 00:31:16 [pool-1-thread-1] INFO  c.s.e.bi.executor.MainExecutor - python_info: /data/anaconda3/envs/airflow/lib/python3.8/site-packages/airflow/configuration.py:346 DeprecationWarning: The hide_sensitive_variab

[2021-08-17 04:52] rishabh-cldcvr commented on #14352
hey @Rukeith  did you get a solution to this?

[2021-08-17 05:17] schwartzmx commented on #15601
Hitting the same issue in airflow 2.1.2 using Google OAuth2.

[2021-08-17 05:34] thesuperzapper commented on #15601
Can someone please set `AIRFLOW__LOGGING__FAB_LOGGING_LEVEL = DEBUG`, and provide logs from the webserver when this errors happens?

[2021-08-17 05:54] uranusjr commented on #17363
Should this be closed now the test is quarantined?

[2021-08-17 05:54] Rukeith commented on #14352
@rishabh-cldcvr Sorry, I haven't fixed this. I still have no idea.

[2021-08-17 05:56] uranusjr commented on #15754
Closing since #17363 is tracking the same test

[2021-08-17 05:56] #15754 closed

[2021-08-17 05:59] uranusjr commented on #17363
Hmm, why is the PR not reflecting in main

https://github.com/apache/airflow/blob/2935be19901467c645bce9d134e28335f2aee7d8/tests/jobs/test_local_task_job.py#L501-L503

[2021-08-17 06:08] schwartzmx commented on #15601
Thanks for the reply,  attaching requested info @thesuperzapper.

`webserver_config.py`
[code]
`webserver.log`
Logs right as the login process occurs and directly after as the home page is rendered
[code]
Additional info:
airflow.cfg base_url
[code]
Google OAuth2 Dashboard configured URIs:
[code]

As the @anmtan said originally,

Refresh of the page removes the banner and the user can carry on,  b

[2021-08-17 07:07] vengi57 opened #17646 "Scheduler is not working"
**Apache Airflow version**:

Version - 2.1.1

**OS**:
No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 18.04.2 LTS
Release:	18.04
Codename: bionic

**Apache Airflow Provider versions**:

apache-airflow-providers-ftp==2.0.0
apache-airflow-providers-imap==2.0.0
apache-airflow-providers-postgres==2.0.0
apache-airflow-providers-sqlite==2.0.0

**Deployment**:
 VM

**What happene

[2021-08-17 07:36] Nimesh-K-Makwana commented on #10331
And solution? Facing similar problem in airflow 2.1.1. Unable to delete or edit list user from airflow ui.

[2021-08-17 08:43] ephraimbuddy commented on #17363
Was later removed by this PR https://github.com/apache/airflow/pull/17385, so closing...

Meanwhile, I need reviews on https://github.com/apache/airflow/pull/17581 working on this issue too

[2021-08-17 08:43] #17363 closed

[2021-08-17 09:13] uranusjr commented on #17363
I’m so behind on the topic.

[2021-08-17 09:15] ephraimbuddy commented on #17646
Can you include the scheduler log covering the period that this happened?

[2021-08-17 09:41] huf-92 commented on #17343
Thank you for your fast reply.
Removing <code>trigger.execute({})</code> causes that the self-triggering process is not starting. Perhaps i described my self-triggering process in a bad way. Below you see the TriggerDagRunOperator is wrapped by a function called by a PythonOperator
and therefore the trigger.execute({}) is needed. Or is there a better way to trigger the same DAG in function called

[2021-08-17 09:53] potiuk commented on #17632
Assigned you @subkanthi -> @Bart-art if you want you can join as well (at least as reviewer :)

[2021-08-17 11:12] potiuk commented on #17536
I am going to collaborate on @dpgaspar soon (maybe even this week) on fixing some other - related - FAB issues, so I will add that  to the list.

[2021-08-17 11:13] baryluk commented on #17533
Thanks @bbovenzi !

[2021-08-17 11:14] baryluk commented on #10549
Thank you again @bbovenzi . Awesome.

[2021-08-17 11:23] Dr-Denzy opened #17652 "Subdags permissions not getting listed on Airflow UI"
**Apache Airflow version**: 2.0.2 and 2.1.1

**OS**: Debian

**Apache Airflow Provider versions**:
apache-airflow-providers-ftp==2.0.0
apache-airflow-providers-imap==2.0.0
apache-airflow-providers-sqlite==2.0.0

**Deployment**: docker-compose

**What happened**:

**What you expected to happen**:

Permissions for subdags should get listed on list roles on Airflow UI but only the parent dag get list

[2021-08-17 11:38] eladkal commented on #17636
I think it may be just a wrong usage of Jinja with f string format.

[2021-08-17 11:51] potiuk commented on #17646
Yep. For me it looks like the scheduler could simply crash and you have not restarted it (or for whatever reason it stopped running because of some deadlock or similar). But we need to know logs. Also  - what is the way you implemented automated restarting of scheduler if it crashed and monitoring? I think if you do not have automated restart nor monitoring implemented, you should do it as  soon a

[2021-08-17 12:15] vengi57 commented on #17646
For now, no automation is implemented for the webserver and scheduler  when any issue happens
Can you please suggest to me a way to implement the auto-restart of the scheduler if any crash or deadlock occurs
Can I use pm2 for starting of scheduler and webserver will it works?

[2021-08-17 12:36] uranusjr commented on #17636
In an f-string, `{{` becomes `{`, and `}}` becomes `}`. So to get a valid Jinja template you need four open and four closing braces.

[2021-08-17 12:41] eladkal commented on #17636
I'm closing as this isn't a bug but more of a support question.
If further assistance is needed please use StackOverflow or troubleshooting channel in slack.

[2021-08-17 12:41] #17636 closed

[2021-08-17 12:48] tanujdhiman opened #17653 "Python Module is not installing !!"
**Apache Airflow version**: 1.10.14

**OS**: WSL Ubuntu

**Apache Airflow Provider versions**:

**Deployment**: Using cmd `docker compose up`

**What happened**:
Actually I am installing `pydub` package in WSL Ubuntu with apache airflow. But When I start server with `localhost:8080` then I am getting error that module is not installed before I start server I installed `sudo pip install pydub` and