[2021-08-17 13:08] potiuk commented on #17646
It's up to you - but our suggested (and community sypported) way of deploying Airflow is through Kubernetes and Official Helm Chart  https://airflow.apache.org/docs/helm-chart/stable/index.html. When it comes to "home-grown" way of doing it when you do not want or can afford learning K8S, I have no suggestions - it's whatever you are used to for anything else you already manage. Airflow has nothin

[2021-08-17 13:20] zhangyi-hu commented on #17623
Yes, a) and b) is what I believe happened.
`--rerun-succeeded-tasks` is what I actually wanted to use.

Are you saying that, Airflow 2.1.2 will keep a record of the checksums of all the imported python files, and decide if a dag in success state need to rerun in a backfill?

[2021-08-17 13:23] saimon46 commented on #17582
The version we are using is the latest 2.1.2. Unfortunately I don't have a lot of knowledge of the Airflow UI, about standards and best practise and I don't even know where is the best place where we can apply the fix. On the UI or backend? If you guide me on it I can put an effort and create a PR.

[2021-08-17 13:40] kevinlacire commented on #12103
@olchas Did you found some workaround by the time ?
I've the same issue and spend multiple days to try to figure it out unsuccessfully...

[2021-08-17 14:23] gvillafanetapia commented on #17536
Thank you for taking notice of this!

In the meantime, I found a workaround that got us up and running: setting `AIRFLOW__WEBSERVER__ENABLE_PROXY_FIX` to `True`.

[2021-08-17 16:38] Limess opened #17656 "Allow configuring DAG documentation to be shwon by default"
**Description**

When using `doc_md` to document DAGs the documentation is hidden behind an expanded by default in airflow 2.1.2.

This was not the case in 1.x.x where it was always shown, the documentation is now much less immediately visible.

**Use case / motivation**

Surfacing documentation to users more immediately. We write fairly lengthy markdown documentation for DAGs and since upgrading

[2021-08-17 16:40] Limess opened #17657 "Preset manual triggers or trigger documentation"
**Description**

It'd be useful for some ad-hoc/manual workloads to be able to define structure for the JSON used in manual triggered.

This could be either a JSON schema, example/presets trigger payloads, or both.

**Use case / motivation**

For some use cases we allow triggering jobs with different parameters manually, e.g. disabling some notifications, or triggering more debug logs, or a a diff

[2021-08-17 17:01] Akash-Akki commented on #13487
Did not work for me. Any alternatives?

[2021-08-17 17:48] #17653 closed

[2021-08-17 18:03] mik-laj commented on #17657
https://github.com/apache/airflow/pull/17100 Is it related?

[2021-08-17 18:15] Limess commented on #17657
Yes, thanks for pointing this out. I'll sub to that issue and close this.

[2021-08-17 18:15] #17657 closed

[2021-08-17 18:55] Diogo-Costa opened #17660 "Chart - Add option to set loadBalancerSourceRanges in webserver service"
**Description**
It is not possible to create the service type "LoadBalancer" with option loadBalancerSourceRanges

**Use case / motivation**
When created webserver service with type "LoadBalancer" this value is "0.0.0.0/0" per default, In order to limit which client IP's can access the  Load Balancer, we can specify loadBalancerSourceRanges.

**Are you willing to submit a PR?**
https://github.com/

[2021-08-17 19:52] nareshurs opened #17661 "Support git sync from multiple repositories"
**Description**

Git sync feature with multiple git repositories

**Use case / motivation**

We have a use case where multiple tenants create DAGs and they dont work with common git repository. Its a security issue if we share one customer info with other

**What do you want to happen?**

Airflow should support git-sync of DAG's from multiple git repositories

**Are you willing to submit a PR?**

[2021-08-17 20:05] kn6405 opened #17662 "Dags volume not getting mounted in webserver pod?"
When I deploy via the helm chart the dags volume gets mounted in worker pods, schedular, etc... but does not get mounted in the webserver pod. Noticed the yaml is coded differently than for workers or the schedular (vs. others) and references version numbers older than 2.0.0. So running 2.1.2 the dag never gets mounted.

gitSync.enabled is false for my deployment
dags.persistence.enabled is true f

[2021-08-17 20:37] artik00 opened #17665 "Documentation "how to sync your fork" is wrong, should be updated."
**Description**
From documentation , "CONTRIBUTING.rst" :
 _There is also an easy way using ``Force sync main from apache/airflow`` workflow. You can go to "Actions" in your repository and choose the workflow and manually trigger the workflow using "Run workflow" command._
This doesn't work in the current GitHub UI, there is no such option.

**Use case / motivation**
Should be changed to reflect c

[2021-08-17 20:47] potiuk commented on #17665
Happy if you submit PR. I think when you submit PR there will be some people who will help you with wording! Shall I assign you the PR?

[2021-08-17 20:49] potiuk commented on #17665
BTW. The reason is because the "fetch upstream" was added couple of months ago and we removed the old worklow (but not the docs).

[2021-08-17 20:57] potiuk commented on #17662
This is correct behaviour. Dags no longer need to be mounted in Webserver in Airflow 2. Webserver reads everything it needs from Serialized DAGs table and will never read DAGs from the files. This is absolutely expected and correct.

[2021-08-17 20:57] #17662 closed

[2021-08-17 21:10] kn6405 commented on #17662
With older versions python errors within dags would be displayed on the UI and I believe where checked against python modules installed within the webserver container. How are these dependencies now checked? What container(s) does it look to have all the proper dependencies?

On my old install 1.x the dags had requirement.txt that was mounted and it installed them at startup in most of the contain

[2021-08-17 21:17] potiuk commented on #17662
This is also done through DB - there is a DB "import errors"  that is populated by scheduler (and I believe it's always been like that)

[2021-08-17 21:18] potiuk commented on #17662
This has been also possible to not mount dags in few last versions of airflow if you had serialization turned on  BTW. Simply in Airlfow 2 Dag Serialization is the only way.

[2021-08-17 21:19] potiuk commented on #17662
See this page - it explains everything https://airflow.apache.org/docs/apache-airflow/stable/dag-serialization.html

[2021-08-17 22:47] jedcunningham commented on #17343
If it were me, I'd use `TriggerDagRunOperator` directly and put a `ShortCircuirOperator` in front of it to check your `random_condition`, something like:

[code]

Generally, I'd say using `.execute()` on an operator directly is an anti-pattern.

Also, as mentioned in #17344 Airflow really does expect a single DAG folder. Finding a simpler way to do multi-tenancy would probably be a good idea.

[2021-08-18 00:16] VLADPOLUNIN commented on #17582
👋😊

[2021-08-18 02:05] SimonOsipov commented on #17629
I redeployed configmap, used with the git-sync container, and this problem above (`Kubernetes resource version is too old`) is gone.
But the problem with 1.20 Kubernetes remains.
Airflow successfully creates Executor Pods, but it can't create any Kubernetes Pod Operators with no specific errors logged.

[2021-08-18 04:15] glingle05 commented on #14417
This fix is a workaround to a bug in the DruidHook.submit_indexing_job() itself.
The requests.post line in submit_indexing_job is the real problem:
`
        req_index = requests.post(url, data=json_index_spec, headers=self.header, auth=self.get_auth())
`
should be
`
      req_index = requests.post(url, json=json_index_spec, headers=self.header, auth=self.get_auth())
`
Notice that passing the json

[2021-08-18 05:35] uranusjr commented on #17582
Those `__type` and `__val` keys are added by Airflow’s DAG serialisation logic, and the UI shouldn’t see them in the first place. I’m suspecting this is a bug in (de)serialisation, and if that’s correct this would be very deep down in the stack.

[2021-08-18 06:45] sudohainguyen commented on #13487
any screenshots?

[2021-08-18 07:22] aioannoa commented on #17605
Hi there,

I have rechecked the code and I can not honestly see any typo issues. I have also tried this config a couple of times, so I doubt this is an issue. Re the pod, I am always creating a new Docker image which I then load into my cluster, so this is a new pod running the new img version. I have also checked the configuration of Airflow which is displayed as follows:
[logging]
base_log_folde

[2021-08-18 07:37] ArshiAAkhavan opened #17678 "log aggregation from kubernetesExecutor using kubernetesAPI"
**Description**
there are three main ways for storing logs in airflow in `k8s` including shared `persistVolume`, `s3` object storage, and `elasticsearch`
putting shared volume aside, the other two haven't been implemented nicely when using `kubernetesExecutor` as your executor in airflow
the current flow (i have tested the elastic way so i explain it with `elasticsearch`):
- for each task `kuberne

[2021-08-18 07:38] uranusjr commented on #17638
Sounds similar to #14205?

[2021-08-18 07:49] sawaca96 commented on #10449
any update ?

[2021-08-18 07:52] imsheth commented on #13487
I have a https://imsheth.com/posts/tags/tech/airflow2-dockeroperator-nodejs-gitlab

[2021-08-18 07:55] uranusjr commented on #10449
AIP-39 is in progress, please click on the black AIP-39 label above to see related issues and PRs.

[2021-08-18 07:55] imsheth commented on #13487
This may help you guys, I have tried to jot down a step by step tutorial with screenshots - [The Hows - Apache Airflow 2 using DockerOperator with node.js and Gitlab container registry on Ubuntu 20](https://imsheth.com/posts/tags/tech/airflow2-dockeroperator-nodejs-gitlab)

[2021-08-18 08:17] yevsh opened #17679 "Airflow not running as root when deployed to k8s via helm"
**Apache Airflow version**:  v2.1.2

**Deployment**: Helm Chart + k8s

**What happened**:

helm install with values:
uid=0
gid=0

Airflow pods must run as root.

error:

from container's bash:

root@airflow-xxx-scheduler-7f49549459-w9s67:/opt/airflow# airflow

[code]

**What you expected to happen**:
should run as root

using airflow's helm only

in pod's describe I see:

      securityContext:

[2021-08-18 09:07] potiuk commented on #17582
Yep. we neee some black-woodo magic of one of our serialization wizards ;)

[2021-08-18 09:26] potiuk commented on #17679
You have not written which Helm Chart you used. The official Helm Chart of Apache Airflow Community https://airflow.apache.org/docs/helm-chart/stable/index.html should work with root  user without a problem (though it's not recommended  in general). So I assume you use User-community chart though https://github.com/airflow-helm/charts (which I believe has that problem) and if you need help you sho

[2021-08-18 09:31] yevsh commented on #17679
from readme

Full documentation for Helm Chart (latest **stable** release) lives [on the website](https://airflow.apache.org/docs/helm-chart/).

[2021-08-18 09:34] #17665 closed

[2021-08-18 09:49] potiuk commented on #17605
You still have not written how your deployument is runing. From what you describe, it seems quite likely that somewhere in your deployment you run airflow with `--stderr`, `--stdout`, and '--log-file' options of scheduler which redirect everything to those files you mentioned (.err, .out, .log). It has nothing to do with Airflow, but everything to do with how your deployment starts it.

[2021-08-18 10:08] mingchuno commented on #16290
What is the update? I am hitting the same issue. Is there a way to work around?

[2021-08-18 10:16] potiuk commented on #17679
Before I reopen it, I need to know what error do you have when you configure user as root and what kind of modifications you've made.

I think you could have jumped to conclusion that it does not work. If you enter the container via "/bin/bash"  you will indeed get this error. But you should only enter the bash image via Airflow's image /entrypoint not via `/bin/bash`. This is the only way that ca

[2021-08-18 10:24] potiuk commented on #17679
This is an example I just tried:

[code]

[2021-08-18 10:29] aioannoa commented on #17605
Apologies for that. You are right. So, how can I get this info from my setup? I use Airflow as part of a Kubernetes cluster. In its entry_point.sh script I am using the following:

# initialize the database
airflow db init

# start the scheduler
airflow scheduler -D &

That is after I have setup the database connection of Airflow. Which I don't think is any relevant.
Would an output of the core in

[2021-08-18 10:39] yevsh commented on #17679
Fair enough,
First, when running with airflow user, I am able to run airflow command within hte contaner's bash.

Now, when I use root user

I am not able to do so and :

airflow-xxx-scheduler pod is in a restart loop

 kubectl describe pod  airflow-xxx-scheduler-6fc986d95c-44246

under events:

[code]

[2021-08-18 10:40] potiuk commented on #17605
OK. So yeah. It is the problem of your deployment (as suspected from the beginning). Or rather with not realizing the consequences of certain flags used.

You run airflow with --deamonize flag (-D). ​By definition --deamonize means (via https://linux.die.net/man/1/daemonize):

So you have no stdout/stderr that you can use when you run --deamonize. Moreover, when you run airflow with -D you do not

[2021-08-18 10:46] potiuk commented on #17679
Can you please install airflow from the scratch (delete the previous deployment you have), with the the configuration you want and provide the exact steps you do and exact modifications you've made in the values.yaml  to get there? I am afraid that if you just change the user after initially running it, it might not work (but also it might be that there is an error in the helm chart, so I want to

[2021-08-18 10:50] potiuk commented on #17679
I think I know what it is - looked at the liveness probe and it indeed seems to run exec directly - this looks like a bug in the chart.

[2021-08-18 10:54] yevsh commented on #17679
oh..  do you want to see values yaml?

[2021-08-18 11:24] aioannoa commented on #17605
Thanks @potiuk for the feedback. I got it. I will exclude the -D ooption since the stdout is what I need the most. I will find another way to enforce the behaviour that I wanted, thus the -D. Once again, thanks for ur time.

[2021-08-18 11:46] knutole opened #17681 "No SecretsMasker found!"
**Apache Airflow version**:
[code]
**OS**:
[code]
**Apache Airflow Provider versions**:
[code]
**Deployment**:

Docker Compose

**What happened**:

We are getting `No SecretsMasker found!` when trying to run DAGs.

Could this be due to breaking changes in the configuration file?

We have also tried setting `hide_sensitive_var_conn_fields = False` to no avail.

[code]

The erroring line is 105 in `

[2021-08-18 11:56] #16783 closed

[2021-08-18 12:05] grcanosa commented on #16290
Sorry. I couldn't get the development environment working in time. I had to install kubectl in my work pod image and then add a BashOperator with kubectl delete sparkapp as a workaround.

[2021-08-18 12:57] potiuk commented on #17679
Yes I think only that.

[2021-08-18 13:04] potiuk commented on #17679
Hmm. Actually not really. It should work fine IMHO. Yes. Please provide the command and try to install from the scratch with it. I think the liveness probe should work IMHO if correctly configured (unless you do some funny things with extra mounting volumes as HOME directory of the user - in which case it might be the problem you describe.

[2021-08-18 13:22] yevsh commented on #17679
[code]

from values.yaml,

#User and group of airflow user
uid: 0
gid: 0

if you need anything specific from values please tell.

[2021-08-18 13:30] eladkal commented on #17012
@raphaelauv if you want to take it and run your suggestion in the mailing list and if accepted to open a PR you are more than welcome.

[2021-08-18 13:40] yevsh commented on #17679
the only pvc are for dags and logs.

[2021-08-18 14:00] #17681 closed

[2021-08-18 14:03] potiuk commented on #17681
BTW. This is how the error look like in 2.1.3  https://github.com/apache/airflow/pull/17101/files

[2021-08-18 14:51] knutole commented on #17681
Thanks, spot on! 💯

[2021-08-18 14:56] #17639 closed

[2021-08-18 15:03] kn6405 opened #17684 "Role permissions and displaying dag load errors on webserver UI"
Running Airflow 2.1.2. Setup using oauth authentication (azure). With public permissions if a user did not have a valid role in Azure AD I got all sorts of redirect loops and errors. So I updated the public permissions to: [can read on Website, menu access on My Profile, can read on My Profile, menu access on Documentation, menu access on Docs]. I also added a group to my Azure AD with the role pu

[2021-08-18 15:07] urig commented on #13487
I too am experiencing this issue when running `DockerOperator` in Docker Compose. Working around it by setting ` AIRFLOW__CORE__ENABLE_XCOM_PICKLING: 'true'` does not work for me so I am forced to disable XCOM for the operators with `do_xcom_push = False`.

I would love for this issue to get a higher priority. Alternatively can the core team give pointers for how to fix it so the community could p

[2021-08-18 15:15] Akash-Akki commented on #13487
<img width="1744" alt="airflow_error_xcom_pickling" src="https://user-images.githubusercontent.com/13835508/129924439-2215c450-fd91-45b8-a46c-4b7eda750901.png">

[2021-08-18 15:15] mingchuno commented on #16290
What work for me is suffix your `SparkApplication` name with `-{{ ds_nodash }}-{{ task_instance.job_id }}` so that it is unique every run.

[2021-08-18 16:26] frankbreetz opened #17686 "Xcomms with Taskflow API cause unwanted dependencies in UI"
**Apache Airflow version**:2.1.1

**OS**:Debian GNU/Linux 10

**Apache Airflow Provider versions**:

**Deployment**:Astronomer

**What happened**:
When Using the TaskFlow API To implement XComms, you can get a unwanted dependency created in the UI
<details><summary> XCOMM DAG  using TaskFlow API</summary>

[code]

</details>

Because both downstream tasks use the varible created by the first task

[2021-08-18 16:29] jedcunningham commented on #17684
Thanks for the report. I think bug is appropriate.

Btw, the redirect loop you ran into should be fixed in 2.2.0: https://github.com/apache/airflow/pull/17613

[2021-08-18 17:06] jedcunningham commented on #17679
This reproduces it:

[code]

[2021-08-18 17:07] rbohlmann1 opened #17689 "Working with multiple instances of Airflow"
**Apache Airflow version**: v2.1.1

**OS**: Ubuntu 20.04.2 LTS

**Apache Airflow Provider versions**: Not relevent

**Deployment**: AWS EC2 Instances

**What happened**:  When using multiple Airflow instances (i.e. Production instance and a Development instance) the webserver navigation/redirection can send you back to the incorrect instance.

**What you expected to happen**:  I expect when I pres

[2021-08-18 17:18] rbohlmann1 commented on #17689
Tested using Edge browser

[2021-08-18 17:52] lindsable opened #17693 "Kubernetes Executor: Tasks Stuck in Queued State indefinitely (or until scheduler restart)."
**Apache Airflow version**: 2.1.3
**OS**: Custom Docker Image built from python:3.8-slim
**Apache Airflow Provider versions**:
apache-airflow-providers-cncf-kubernetes==2.0.1
apache-airflow-providers-ftp==2.0.0
apache-airflow-providers-http==2.0.0
apache-airflow-providers-imap==2.0.0

**Deployment**: Self managed on EKS, manifests templated and rendered using krane, dags mounted via PVC & EFS

**W

[2021-08-18 18:39] denimalpaca opened #17694 "Add SQL Check Operators to Snowflake Provider"
Add SnowflakeCheckOperator, SnowflakeValueCheckOperator, and SnowflakeIntervalCheckOperator to Snowflake provider.

**Use case / motivation**

The SQL operator, as well as other provider DB operators, already support this functionality. It can prove useful for data quality use cases with Snowflake. It should be relatively easy to implement in the same fashion as [BigQuery's versions](https://githu

[2021-08-18 18:40] #17679 closed

[2021-08-18 18:56] potiuk commented on #17694
Feel free!

[2021-08-18 19:32] philippefutureboy opened #17698 "Implement support for task tags"
**Description**

Task tags could be a useful addition when one wants to filter upstream or downstream tasks in dynamically-composed DAGs.
This issue was opened as a follow-up to discussion https://github.com/apache/airflow/discussions/17697.

**Use case / motivation**

If at any point one wants to filter tasks for whichever purpose, the current standard is to have a naming convention for your task

[2021-08-18 19:58] imorales-mosaico commented on #8468
There are a problem with the chunksize, because the get_pandas_df close the connection in the first call of the iterator[DataFrame] returned

[2021-08-18 20:21] potiuk commented on #16949
@oyarushe - fix to that problem have been implemented in https://github.com/docker/compose-cli/pull/2002 and released in
https://github.com/docker/compose-cli/releases/tag/v2.0.0-rc.1  - maybe you could see if your Docker Desktop is updated to it and you could test bringing back the change.

[2021-08-18 20:29] #17632 closed

[2021-08-18 20:46] #16303 closed

[2021-08-18 21:51] #16651 closed

[2021-08-18 22:04] himabindu07 commented on #9975
verified by QA
<img width="550" alt="Screen Shot 2021-08-18 at 3 03 51 PM" src="https://user-images.githubusercontent.com/47584863/129978201-b7cea4e0-f136-4038-9e7d-a86e58feda31.png">

[2021-08-19 00:08] #13391 closed

[2021-08-19 00:28] #17646 closed

[2021-08-19 00:52] thesuperzapper commented on #17188
If you want some reference, here is the PR that made this change in the "user-community" (not "official") helm chart:
 https://github.com/airflow-helm/charts/pull/381

[2021-08-19 01:01] thesuperzapper commented on #16684
Those watching might be interested in how the ["user community" chart](https://github.com/airflow-helm/charts/tree/main/charts/airflow) (not the "official" one) manages database connection strings.

The "user community" chart exposes configs for "parts" of the connection string, rather than making the user provide the entire string. Most importantly, the user only has to define a Kubernetes Secret

[2021-08-19 01:06] thesuperzapper commented on #11708
The [user-community chart](https://github.com/airflow-helm/charts/tree/main/charts/airflow) (not the official) has implemented support for using plugins from within your DAGs git-repo. (See PR https://github.com/airflow-helm/charts/pull/390)

You only need to correctly set your `AIRFLOW__CORE__PLUGINS_FOLDER` to be a subfolder of your dag folder, which will probably be something like `/opt/airflow

[2021-08-19 01:09] thesuperzapper commented on #11707
I want to highlight that the ["user-community" chart](https://github.com/airflow-helm/charts/tree/main/charts/airflow) (this is separate from the "official") supports this.

See ["How to create airflow pools?"](https://github.com/airflow-helm/charts/tree/main/charts/airflow#how-to-create-airflow-pools) for documentation.

[2021-08-19 01:28] #16705 closed

[2021-08-19 01:38] sudohainguyen commented on #13487
thanks for the screenshot

First of all please make sure the last printed line from DockerOperator is string object (not datetime one), you might want to use `strftime()` method to parse the datetime to pure string

[2021-08-19 05:11] yevsh commented on #17679
thanks, so I can take the latest helms?

[2021-08-19 05:16] kaojunsong commented on #17045
@potiuk Hi, I still can't solve this issue, could you please kindly have a look?

[2021-08-19 05:39] ezerkar opened #17714 "dag import error when using sys.path.append(str(Path('.').absolute().parent))"
**Apache Airflow version**:

v2.1.2

**OS**:

Ubuntu 20.04.1 LTS

**Deployment**:

local

**What happened**:

have a file in a parent directory I want to import from, so did this:
[code]
this seem to be working in general python but airflow gives out a DAG import error:
`ModuleNotFoundError: No module named 'get_data_functions'`

**Are you willing to submit a PR?**
No idea how to fix this, but if

[2021-08-19 08:43] #8544 closed

[2021-08-19 09:13] spniemansburg commented on #16717
Issue is closed, but wanted to note that the same issue is happening when trying to add a private key file (using "private_key_file" parameter) in the Extra field. I am using Apache Airflow 2.1.0. Should I file a new bug report?

[2021-08-19 09:53] vikramcse opened #17715 "`conf` is None in the get_current_context()"
**Apache Airflow version**:

Airflow 2.1.2
Database: MySQL 8.0

**OS**:
NAME="Ubuntu"
VERSION="18.04.4 LTS (Bionic Beaver)"

**Deployment**:
Docker-compose

**What happened**:
I am getting errors randomly on airflow version, where `conf` is `None` in the `get_current_context`

[code]

[code]

Added below sentry issue
![image](https://user-images.githubusercontent.com/1611331/130047539-29cc2c1c-808

[2021-08-19 10:21] potiuk commented on #17679
You could try Fri. The main branch of airflow. We are following a release process where we vote and put version etc. But you can install the 'main' version too (with some potential instabilities but i think it is pretty safe) just checkout main repo and  install it from 'chart'

[2021-08-19 10:49] yevsh commented on #17679
now pod is not restarting.

from within the container (bash), running command 'airflow' as root user still yields
No module named 'airflow'

is that normal?

[2021-08-19 10:54] hkarakaki opened #17717 "Task names get covered by the tree view"
**Apache Airflow version**: 2.1.2

**OS**: Ubuntu 18.04.5

**Apache Airflow Provider versions**:
apache-airflow-providers-amazon==2.1.0
apache-airflow-providers-celery==2.0.0
apache-airflow-providers-ftp==2.0.0
apache-airflow-providers-imap==2.0.0
apache-airflow-providers-jdbc==2.0.0
apache-airflow-providers-postgres==2.0.0
apache-airflow-providers-sqlite==2.0.0

**Deployment**: Helm + K8s

**What

[2021-08-19 11:05] potiuk commented on #17045
I suggest you to switch to Airflow's official Helm rather than running your own deployment.  It is proven and works and it's the easiest way to get Airflow Up-and-running on Kubernetes, I think no-one in the community has time to debug hundreds of different manual deployments like yours, but the Official Helm Chart from the community is very versatile, supported and it has a lot of problems solved

[2021-08-19 11:07] #17714 closed

[2021-08-19 11:30] Xilorole opened #17720 "airflow.dates.days_ago doesn't respect configured timezone"
**Apache Airflow version**: 2.1.1

**OS**:Chromium OS 11.0 ( on google cloud composer)

**Apache Airflow Provider versions**:

**Deployment**: None

**What happened**:

The parameter `schedule_interval` does not respect the `default_timezone` set by airflow.cfg when using `airflow.utils.dates.days_ago` as `start_date`.

I am setting the default timezone to Asia/Tokyo. When I use the start_date, th

[2021-08-19 11:39] potiuk commented on #17715
That's quite strange - but just to clarify - it's not `conf`missing, it's `dag_context['"dag_run"]` returning None.

I think we will not be able to help unless you provide full context. Could you please explain in detail how do you get to that place? how do you run the "trigger_event_creation_flow", where the dag_context is taken from? I have a feeling this is programmatic error on your side and m

[2021-08-19 11:40] #17715 closed

[2021-08-19 11:43] eladkal commented on #17429
Closing for the moment. If needed we can reopen.

[2021-08-19 11:43] #17429 closed

[2021-08-19 11:51] potiuk commented on #17679
Are you sure you get the latest merged `main` code?

[2021-08-19 11:51] gakhrejah opened #17723 "Airflow Pipelines are not scheduling after upgrading to 1.10.13"
Hi All,

We have observed that some of our pipelines are not getting schedule after upgrading our Airflow from 1.10.9 to 1.10.13 version.
It seems like those dags are not schedule by the scheduler.
However if we manually run a task from inside a dag , It executes and complete normally.
We are not getting any logs regarding those dags which are not getting schedule.

**Apache Airflow version**:
1.1

[2021-08-19 11:52] potiuk commented on #17679
BTW. You can test if the root user works by running `/entrypoint bash` when you `exec` into the container.

[2021-08-19 12:18] #17723 closed

[2021-08-19 12:25] yevsh commented on #17679
I just added
- /entrypoint
to scheduler-deployment.yaml
and pod is not restarting .

/entrypoint bash when you exec into the container. also works

[2021-08-19 12:27] potiuk commented on #17679
What error do you see? "Pod not restarting" is really vague description that is difficult to reason about :)

[2021-08-19 12:28] potiuk commented on #17679
Side comment. I really, really love the non-empathetic "it does not work" description of the bug when you want to get some help. It's  never helpful and a bit frustrating.

[2021-08-19 12:32] yevsh commented on #17679
no erros

[2021-08-19 12:48] nikiit007 opened #17725 "Airflow 2.0.2 Github Enterprise OAuth giving 404 error"
**Apache Airflow version:**
_2.0.2_
**OS:**
 _PRETTY_NAME="Debian GNU/Linux 10 (buster)"
NAME="Debian GNU/Linux"
VERSION_ID="10"
VERSION="10 (buster)"
VERSION_CODENAME=buster
ID=debian_
**Apache Airflow Provider versions:**
_apache-airflow-providers-amazon==1.3.0
apache-airflow-providers-celery==1.0.1
apache-airflow-providers-cncf-kubernetes==1.1.0
apache-airflow-providers-docker==1.1.0
apache-air

[2021-08-19 12:56] uranusjr opened #17726 "Make the DAG's upcoming scheduled run visible in UI"
Now we’ve got most of the AIP-39 foundation down, we can tackle what https://github.com/apache/airflow/pull/2460 wanted to achieve.

[2021-08-19 13:00] mnojek opened #17727 "Duplicated general notifications in Airflow UI above DAGs list"
**Apache Airflow version**:
2.2.0.dev0 (possible older versions too)

**OS**:
Linux Debian 11

(BTW Here we have a typo in comment inside bug report template in `.github/ISSUE_TEMPLATE/bug_report.md`: `cat /etc/oss-release` <- double 's'.)

**Apache Airflow Provider versions**: -

**Deployment**:
Docker-compose 1.25.0

**What happened**:
The issue is related to Airflow UI and it shows duplicated n

[2021-08-19 13:12] potiuk commented on #17679
aaaa :)

[2021-08-19 13:12] potiuk commented on #17679
Cool ! Sorry, misunderstood it ❤️

[2021-08-19 13:13] potiuk commented on #17679
Glad it helped !

[2021-08-19 13:13] potiuk commented on #17679
Thanks @jedcunningham !

[2021-08-19 13:14] microhuang commented on #15687
me too, +1.

[2021-08-19 13:59] madhusudhan0542 commented on #17573
Yes, we can import a file to the dag files by just importing them as if we do in python, ex:  "from operators.MsSqlOperator import ms_sql" . I can make this happen in my local, by giving all the permissions to the file which we are importing(reason why I can't make it earlier). Thank you

[2021-08-19 14:22] potiuk commented on #17727
Funny bug :)

Maybe PR fixing it @mnojek ?

[2021-08-19 14:25] mnojek commented on #17727
@potiuk You mean this small issue in bug report template? I can do it tomorrow with other small typos across the documentation that I found while reading it.

[2021-08-19 14:43] sushi30 opened #17733 "Scheduler-gc fails on helm chart when running 'find'"
**Apache Airflow version**: 2.1.3

**OS**: centos-release-7-8.2003.0.el7.centos.x86_64

**Apache Airflow Provider versions**: Irrelevant

**Deployment**: Helm Chart

**Versions**:

[code]

**What happened**:

Helm deployment succeeds but scheduler pod fails with error:

[code]

**What you expected to happen**:

I expect the `scheduler-gc` to run successfully and if it fails, helm deployment should

[2021-08-19 15:07] SDubrulle opened #17734 "Backfilling ignores task-level start_date and end_date"
**Apache Airflow version**:

2.1.0

**OS**:

Debian GNU/Linux 10

**Apache Airflow Provider versions**:

Irrelevant for this issue.

**Deployment**:

K8S using a custom helm chart

**What happened**:

When backfilling a DAG with a --mark-success flag, all tasks (within specified timerange) are set to success.

**What you expected to happen**:

I expected the task-level start_date and end_date to b

[2021-08-19 15:08] charliegriefer commented on #11225
@sudarshan2906 - can you show the `celery_config_options` line in your `airflow.cfg`? I'm doing something similar, but getting an error on the scheduler saying:

My `celery_config` is in my AIRFLOW_HOME, and currently it's pretty basic:

[code]

Thanks!

[2021-08-19 15:27] vbarbaresi commented on #16021
We are affected by this issue as well
slaupster's hack to remove `_capture_task_logs()` worked around the problem.
It makes sense for us to use stdout/stderr for all tasks logs instead of writing them in a bucket: we collect all our infrastructure logs this way

[2021-08-19 15:33] eladkal commented on #17585
I think the issue here is that you assume that when you add a new task Airflow knows that it starts from the date you added it thus you expect depends_on_past=True to work but this is not the case. You must provide a `start_date` to this new task then it will work as expected.

[code]

as you can see `my_dag3` works fine yet `my_dag2` is stuck:

![Screen Shot 2021-08-19 at 18 29 18](https://user-i

[2021-08-19 17:11] #12469 closed

[2021-08-19 17:19] kcphila opened #17735 "Permission error for error file when run_as_user is used (bug)"
**Apache Airflow Version**: 2.1.2

**Environment**:
* OS: Linux

**What Happens**:

When the base_task_runner prepares to execute the task, it opens a temporary error file AND passes the error file name into the task. This temp file is created with default permissions based on the airflow worker, which is usually the **airflow** OS user.

When the task is then run as another user (via `run_as_user

[2021-08-19 17:51] EliMor opened #17737 "Allow multiple repos to be source for dags in helm chart"
**Description**
Hi folks.
Forgive me if this is already possible but I didn't see in the values.yaml file a clear way to specify multiple git repos as sources for dags. If this is possible already great!

**Use case / motivation**
The use case is when we have teams working on different projects but want a single airflow instance to manage the dags, we'd like to have separate repos for those projec

[2021-08-19 17:53] EliMor commented on #11708
FYI; https://github.com/bitnami/charts/blob/master/bitnami/airflow/values.yaml#L781

[2021-08-19 18:59] potiuk commented on #17641
It almost looks like you have two schedulers running at the same time - one with the properly set environment variable and the other without. Are you sure you do not have two schedulers running?

[2021-08-19 19:42] #17733 closed

[2021-08-19 20:17] collinmcnulty commented on #16625
@ephraimbuddy So the metadata database is seeing the task as failed (as was reported by the executor) so that's what's showing up in the UI, but the scheduler still thinks it's queued, so it never attempts to retry? Am I understanding the behavior correctly?

If so, making sure that #15929 includes the task retrying if it has retries left will be key. Otherwise will the behavior difference even be

[2021-08-19 20:40] EliMor opened #17740 "Allow custom rules for (Cluster)Role to be provided/exposed in values.yaml helm chart"
**Description**

I may be the only one with this use-case but I would love it if I could specify the rules for pod-launcher (give it extra permissions on kube)

**Use case / motivation**

I'd like to give pod-launcher permission to create and monitor Job type as well as regular pod type.
Currently in my deployment I just apply a post-deploy patch to the ClusterRole with the added perms I want but

[2021-08-19 22:36] ephraimbuddy commented on #16625
I think retrying is a lesser evil to getting stuck in queued. That was why I added #15929 which will be released in 2.1.3

The problem is when the executor reports that this task has failed and the scheduler sees it as queued, without #15929 it gets stuck in queued(even in the UI) and at times in up_for_retry(if it has retry) but never run again. It's also failed in some cases as @luqic said. But

[2021-08-19 23:28] thesuperzapper opened #17744 "Problems with how SecurityContext is handled in the helm chart"
I think the official helm chart should consider using the approach the [User-Community helm chart](https://github.com/airflow-helm/charts/tree/main/charts/airflow) has taken with `securityContext`.

__The main issues I see with the current approach of the official chart:__
- The `uid` and `gid` values are defined globally (rather than per container image, and obviously not all use `uid=5000`)
- Th

[2021-08-20 02:49] #17012 closed

[2021-08-20 07:20] jherrmannNetfonds commented on #16290
Hi, I modified the `SparkKubernetesSensor` so it deletes the spark application if it finished successfully. For retry I have `{{ task_instance.try_number }}` for the SparkApplication name so that I still can have a look at the logs.

My proposal is to add an option to the Sensor to delete the spark application via a flag `ALWAYS`, `ON_FAILURE`,`ON_SUCCESS`.
What do you guys think?

[2021-08-20 09:05] timothyclarke commented on #15601
If the scope contains `openid`, The custom security manager should and oauth_user_info should not be required.
[code]
The log shows `DEBUG - OAUTH Authorized resp:` ... `'id_token': '<redacted>'`  The id token should contain all the user info. Looking at [authlib flask docs](https://docs.authlib.org/en/latest/client/flask.html#flask-openid-connect-client) you can [decode the contents of the `id_to

[2021-08-20 11:57] sou-joshi opened #17752 "Skip Scheduled Runs"
**Description**
Ability to skip scheduled Dag Runs.

**Use case / motivation**
Let's say we have a Dag scheduled to run from 5th through 10th of every month. When it runs on 5th and is successful,  would like to skip all the following scheduled runs for the month and only trigger it next month.

[2021-08-20 12:04] blackmidnight opened #17754 "Support set logging level in Dag or Task layer"
**Description**
Currently, airflow support to set logging level in airflow.cfg or by setting environment variable. But this setting will apply on all dags, and can not modify logging level for specific dag or task.

**Use case / motivation**
I want to ask if it's possible to provide parameter setting logging level in Dag or BaseOperator.

**Are you willing to submit a PR?**
Yes

**Related Issues**

[2021-08-20 16:37] uranusjr commented on #16370
Adding some backrefs

https://github.com/apache/airflow/pull/17719#discussion_r692723888
https://github.com/apache/airflow/pull/17719#discussion_r692726838

[2021-08-20 16:56] timothyclarke commented on #14002
@rg2609 I've raised a [feature request](https://github.com/dpgaspar/Flask-AppBuilder/issues/1680) to Flask-AppBuilder as it should pickup `openid` scopes and decode them correctly.  I've also posted a response on the stack overflow link along with code snippet.

I imagine that this issue will be closed (hopefully with a documentation update surrounding the `openid` scope) as the problem is in AppB

[2021-08-20 16:59] frenchwr commented on #17641
I had checked this before _on the same instance_ and was getting ready to post a reply when I realized we had left an old dev EC2 instance running. That instance was using the same backend postgres db and was generating the errors. Stopping the instance resolved the issue.

Thanks for weighing in pointing me in the right direction!

[2021-08-20 16:59] #17641 closed

[2021-08-20 17:16] #17660 closed

[2021-08-20 17:28] timothyclarke commented on #16587
Isn't a user with the "Guest" role still a validated user and not be pushed back to the login page? (Assuming that the guest role still has default permissions)
Shouldn't https://github.com/apache/airflow/pull/17613 fix this one as well ?

[2021-08-20 17:30] potiuk commented on #17744
Yeah. Great observation. How about PR fixing it ?

[2021-08-20 17:30] potiuk commented on #17744
I'd also classify it as a bug :)

[2021-08-20 19:39] uranusjr commented on #16587
If the issue description is accurate, the linked PR would not fix this since it only applies when a user has no roles at all.

cc @jedcunningham

[2021-08-20 20:02] potiuk commented on #17752
Sounds like a very, very specific request.. Since Airflow is developed by community, I think the only way to get it, is that you implement it. Would you be willing to make a  PR for it?

[2021-08-20 20:05] jedcunningham commented on #16587
What "Guest" role? There isn't one by default. Do you mean Public?

This is on my list to look at eventually. #17613 won't fix it, and was targeted specifically at broken FAB role mapping (I didn't consider misconfigured roles).

The easy answer is probably to see if the user has no roles OR permissions are empty OR doesn't have "can read on website". Granted, I haven't fully thought it through.

[2021-08-20 20:07] potiuk commented on #17754
This is standard python logging feature, Just run `self.log.setLevel(logging.DEBUG)` at the moment you want to enable debug.

[2021-08-20 20:13] eladkal commented on #11962
@potiuk the quarantine was removed in https://github.com/apache/airflow/pull/16754
can we close the issue?

[2021-08-20 21:00] raviporan commented on #10790
Hey Guys, Currently we are on the Airflow 1.14 version; We were getting a similar issue with our tasks going under up_for_retry state for hours. I went thru this thread & comments|inputs from various users on tweaking the poke_interval values; Our original poke_interval was set to 60 and changing the value to ~93 seconds resolved the issue with tasks getting into **_up_for_retry_** state ; This wo

[2021-08-20 21:15] potiuk commented on #17641
Glad it helped :).

Sherlock Holmes Quote

[2021-08-20 21:30] noelmcloughlin commented on #15799
Link to RMQ consumer_timeout: https://www.rabbitmq.com/consumers.html#acknowledgement-timeout

[2021-08-20 21:48] potiuk commented on #11962
Yep

[2021-08-20 21:48] #11962 closed

[2021-08-20 21:49] #17340 closed

[2021-08-20 22:59] ephraimbuddy commented on #16023
I ran the above provided DAG in LocalExecutor. Before I ran it, I did `airflow db reset`.
The first 16 tasks were successful but the next 17 tasks failed.
In scheduler log, I found the following:
[code]
In the scheduler tasks log for dag processing, I found the following:

[code]
That could be as a result of the schedulerJob being marked as failed.

Then the task log:
[code]

[2021-08-21 04:09] iblaine opened #17765 "get_pandas_df() fails when it tries to read an empty table"
**Apache Airflow version**:

2.2.0.dev0

**OS**:

Debian GNU/Linux

**Apache Airflow Provider versions**:

**Deployment**:

docker-compose version 1.29.2

**What happened**:

Currently in hive hooks, when [get_pandas_df()](https://github.com/apache/airflow/blob/main/airflow/providers/apache/hive/hooks/hive.py#L1039) is used to create a dataframe, the first step creates the dataframe, the second st

[2021-08-21 13:43] Goodkat commented on #17135
What is the current status here? May I take it and commit the changes then?

[2021-08-21 13:57] #17186 closed

[2021-08-21 21:56] StewartThomson opened #17771 "Investigating expensive query when a dag has a large amount of tasks."
**Apache Airflow version**:

v2.1.2

**OS**:

Docker on Amazon Linux 2

**Apache Airflow Provider versions**:

**Deployment**:

docker-compose 1.29.2

**What happened**:

We're noticing high cpu usage stemming from one query. The db backend we are using is Mysql 8.0. The DAG has 407 tasks in it.

The query is as follows:

[code]

The task ids have been removed. This takes about 2 seconds to run, w

[2021-08-21 22:27] potiuk commented on #17771
2 seconds, every 10 minutes. Do I get it right? Are we talking about optimising something tha takes 2/(10*60) = 0.3% of CPU potentially.

My whole engineering background tells me that optimising things makes them complex and it really makes sense to optimise something when the result of the optimisation brings some real improvements.

So let me add additional question - WHY do you want to optimise

[2021-08-21 22:36] StewartThomson commented on #17771
Thanks for your quick response. It's mainly an issue in that it causes our database instance to spike to 100% every time the dag runs. Throw in any other dags and we end up in a situation where the CPU gets pinned at 100% and performance degrades.

https://imgur.com/gnhQTXJ

Attached is a link of the RDS performance insight that shows this query as the main culprit. The motivation behind wanting t

[2021-08-21 23:10] uranusjr commented on #17771
This is probably one of the issues I call "yeah it's nice but I'm not going to do it". I agree with @potiuk this is not very worthwhile from an engineering standpoint since there are too many more valuable things to do, but otoh this query taking 2 whole seconds also doesn't feel right to me at a quick glance, and it can likely be optimised. So I'd very much welcome a pull request rewriting the qu

[2021-08-21 23:25] potiuk commented on #17771
As I see it this is wrong diagnosis. You can't optimise your hardware this way. Please correct me if I am wrong,  But If you reduce the hardware requirements now by 50%, the query will (at most) take 4 seconds. Which will cause longer, smaller spike, but that's about it. Jumping to conclusion that it might cause scalability issues is extremely premature, I'd love if you explain how this might be i

[2021-08-21 23:35] StewartThomson commented on #17771
Maybe I wasn't clear in my intentions of this issue. I was moreso wondering if there was a newbie gotcha that I was encountering / curious about the source of this query.

I dug around the source code and found that this query is running for the SLA check, which is something that I don't really need at the moment, so I have removed my SLA's.

Thank you both for your time, I'll close this issue. If

[2021-08-21 23:35] #17771 closed

[2021-08-22 00:05] potiuk commented on #17771
Well. This is the BEST optimisation if you can disable/remove something :D

[2021-08-22 06:52] eladkal commented on #13779
fixed by https://github.com/apache/airflow/pull/17137

[2021-08-22 06:52] #13779 closed

[2021-08-22 17:00] subkanthi commented on #17348
@potiuk can I have this assigned to me please

[2021-08-22 17:24] potiuk commented on #17348
Sure :)

[2021-08-22 18:23] sou-joshi commented on #17752
@potiuk Approach to solve one off case right now is this -
**Assuming**
- DAG scheduled to run from 5th - 10th of every month
- DAG run successful for 6th dated run

**Solution**
- If DAG successful, get the next scheduled Dag Runs for the month
- delete the next dag run scheduled for the month from the metadata db

**Questions**
- How safe is it to touch the meta db for deletion?
- Any other impa

[2021-08-22 20:27] potiuk commented on #17765
Would you open a PR fixing it :)?

[2021-08-23 06:57] alexInhert opened #17778 "Add Arango hook"
**Description**

https://www.arangodb.com/ is a graph db much like Neo4j.
It has official python connector: https://github.com/ArangoDB-Community/python-arango

**Use case / motivation**

Using ArangoHook to interact with Arango.
Using ArangoOperator to run [simple queries](https://docs.python-arango.com/en/main/simple.html).
Possibly also ArangoAQLHook / ArangoAQLOperator to run [AQL queries](htt

[2021-08-23 08:12] potiuk commented on #17778
Would you be willing to add it ? I think if you have the need and use Rango, you might be the best person to add it .

[2021-08-23 11:42] debimishra89 opened #17785 "getting authlib error while using keycloak with airflow 2.1.1"
### Discussed in https://github.com/apache/airflow/discussions/17784

<div type='discussions-op-text'>

<sup>Originally posted by **debimishra89** August 23, 2021</sup>
I am getting below error while logging in airflow 2.1.1 with keycloak for authentication
![image](https://user-images.githubusercontent.com/84674037/130436752-86a45596-0908-41f0-9d10-a1ed287513eb.png)

I have installed airflow at h

[2021-08-23 14:22] cocampbe opened #17788 "livy operator print sparkUiUrl in log output"
**Description**

Adding the sparkUiUrl to the log output of the livy operator.

**Use case / motivation**

It would be useful for our end users to be able to go straight to the spark page from the log output that by tracking down the livy  sessions. It would make troubleshooting spark jobs submitted by livy quicker. Our livy setup only stores sessions for about 3 hours. Our end users get frustrate

[2021-08-23 16:05] ShakaibKhan commented on #17476
I repeated above instructions and was able reproduce. So it looks like the airflow/util/log/secrets_masker.py:should_hide_value_for_key() is where the check for hiding a sensitive variable happens. Looking into the workflow of running DAGs from cli and if it hits this function/class

[2021-08-23 16:09] potiuk commented on #17785
This is not Airflow issue so it should not be open as such.

It is likely problem with your configuration/network that you should try to debug (and at the worst case raise as Flask Abby Builder issue if you think it's a problem.with oauth implementation). When you Google for the error, you will find a lot of probable causes and solutions, so I advise you to try those and report what did you try an

[2021-08-23 16:10] #17785 closed

[2021-08-23 16:26] ManiBharataraju commented on #17752
@sou-joshi - Can't you add a BranchPythonOperator as the first task and in the function, query the DagRun table and check if the dag has already run and based on the result skip the subsequent tasks?
Just thinking what parameter would you pass to skip the next runs to achieve this.

[2021-08-23 17:45] iblaine commented on #17765
PR for this issue is https://github.com/apache/airflow/pull/17777

[2021-08-23 20:17] #10128 closed

[2021-08-23 20:17] #10127 closed

[2021-08-23 20:32] potiuk commented on #17788
That's a perfect case for Extra Operator link: https://airflow.apache.org/docs/apache-airflow/stable/howto/define_extra_link.html . Shall I assign you to that issue?

[2021-08-23 20:52] ashwin153 opened #17795 "Circular Dependency in Apache Airflow 2.1.3"
**Apache Airflow version**:

2.1.3

**OS**:

Ubuntu 20.04 LTS

**Deployment**:

Bazel

**What happened**:

When I tried to bump my Bazel monorepo from 2.1.2 to 2.1.3, Bazel complains that there is the following circular dependency.

[code]

**What you expected to happen**:

No dependency cycles.

**How to reproduce it**:

A concise reproduction will require some effort. I am hoping that there is a

[2021-08-23 22:02] cocampbe commented on #17788
@potiuk I am not sure if that extra operator will work for this case. The livy api only stores data for about 3 hours in our case. The default is much shorter. Since the uri has to be pulled form the API and is not accessible long term, I am not sure the link would be valid after or even available later. I hope that makes sense.

[2021-08-23 22:11] potiuk commented on #17795
Yeah . HTTP provider has been brought back to be preinstalled and we had to release it to remove the circular dependency, This will be fixed with the next release of HTTP provider (https://github.com/apache/airflow/pull/17796)

BTW. Bazel is not supported as the way of installing Airflow.  The only official way of installing airflow is via `pip`and constraints  -https://airflow.apache.org/docs/apa

[2021-08-23 22:19] potiuk commented on #17788
You could store the link in the XCom right after submission, and retrieve it from the XCom to show it in the extra link.

[2021-08-23 22:22] potiuk commented on #17788
But yeah. If the link is not functional after 3 hours, then probably you are right that exposing it via extra link is not a good idea. I Thought that you will still be able to access it after 3hrs (but not retrieve it), but if I read it correctly, this is not the case.

[2021-08-23 22:47] #17795 closed

[2021-08-24 00:05] #10574 closed

[2021-08-24 00:25] lawrencestfs opened #17800 "BigQueryCreateExternalTableOperator from providers package fails to get schema from GCS object"
**Apache Airflow version**: 1.10.15

**OS**: Linux 5.4.109+

**Apache Airflow Provider versions**:
apache-airflow-backport-providers-apache-beam==2021.3.13
apache-airflow-backport-providers-cncf-kubernetes==2021.3.3
apache-airflow-backport-providers-google==2021.3.3

**Deployment**: Cloud Composer 1.16.6 (Google Cloud Managed Airflow Service)

**What happened**:

BigQueryCreateExternalTableOperato

[2021-08-24 02:14] EliMor commented on #17737
Seems like duplicate of https://github.com/apache/airflow/issues/17661

[2021-08-24 03:06] EliMor commented on #17661
seems related to: https://github.com/apache/airflow/issues/11708

[2021-08-24 03:40] edwardwang888 commented on #16877
@bbovenzi Sorry for the delay. I have my local development environment setup now, and am playing around with `tree.js`. I will reach out on Slack if I have any questions!

[2021-08-24 05:15] uranusjr commented on #17795
FWIW circular dependencies are allowed in Python (in other words, a project’s Python package dependencies is not a DAG), so Bazel not supporting it is a bug (or missing feature).

[2021-08-24 05:35] uranusjr commented on #17800
I feels weird to me the use of `download_as_string` results in a 404, the issue seems to be separate. A PR fixing `download_as_string` would be very much welcomed, but I suspect it won’t fix your issue. But I can very well be wrong.

[2021-08-24 06:18] eladkal commented on #11440
fixed in https://github.com/apache/airflow/pull/17581

[2021-08-24 06:18] #11440 closed

[2021-08-24 06:20] eladkal commented on #17579
fixed in https://github.com/apache/airflow/pull/17581

[2021-08-24 06:20] #17579 closed

[2021-08-24 06:22] eladkal commented on #17444
`test_task_sigkill_works_with_retries`  removed from quarantine & fixed in https://github.com/apache/airflow/pull/17581

[2021-08-24 06:22] #17444 closed

[2021-08-24 06:37] uranusjr commented on #17752
Allowing a DAG to control when the next run should happen feels like the wrong abstraction to me. A BranchPythonOperator seems like a good way to go. With AIP-39 implemented, you may also use a custom timetable to query previous DAG run results to determine when the next DAG run should happen. The difference is to not put controlling logic on the *previous* run (which is wrong), but make the *next

[2021-08-24 06:46] uranusjr commented on #17752
Another thing—it is very unlikely for Airflow core to implement this behaviour, since backfilling is a thing and those runs may happen concurrently or even out of order, so it’s conceptually difficult not clear how the scheduler can schedule runs based on the previous run’s result in a general way. We can skip a run from happening after it’s created, but can’t stop it from being created, nor dynam

[2021-08-24 07:07] ephraimbuddy commented on #17693
2.1.3 has been released, can you try this in 2.1.3, similar issues were fixed in 2.1.3

[2021-08-24 07:46] ephraimbuddy commented on #13542
Can we try 2.1.3 and see if this problem still exists?

[2021-08-24 08:13] potiuk commented on #17752
Very much agree with @uranusjr . Skipping processing based on success of previous runs is not compatible with airflow paradigm and I cannot see how.it can be part of scheduler. Some kind of 'data based' behaviour is possible - for example you might skip a run If the data is already prepared - but as @uranusjr  mentioned this should be done as Dag logic not as scheduler decision

[2021-08-24 08:14] #17752 closed

[2021-08-24 10:00] UnightSun opened #17804 "Webserver fail to start with virtualenv: No such file or directory: 'gunicorn': 'gunicorn'"
**Apache Airflow version**: 2.1.2

**OS**: CentOS Linux release 8.2.2004 (Core)

**Apache Airflow Provider versions**:
apache-airflow-providers-celery==2.0.0
apache-airflow-providers-ftp==2.0.0
apache-airflow-providers-http==2.0.0
apache-airflow-providers-imap==2.0.0
apache-airflow-providers-mysql==2.1.0
apache-airflow-providers-redis==2.0.0
apache-airflow-providers-sftp==2.1.0
apache-airflow-prov

[2021-08-24 10:40] potiuk commented on #17804
I think this is a reasonable assumption to have  `virtualenv/bin` on the path when you installed airflow (or anything there).

This happens when you source `activate` script as part of "activation" of the virtualenv and it is described in https://docs.python.org/3/library/venv.html :

also there is an alternative method of "activation" of the virtualenv - which is precilsely about prepending the `

[2021-08-24 10:44] mik-laj commented on #17804
I already working on fix.

[2021-08-24 10:59] potiuk commented on #17804
Cool!

[2021-08-24 12:14] mnojek commented on #17727
@potiuk I submitted a PR for the typos #17809. Nothing very important there, just some grammar/typo fixes and also the `os-release` command in the bug_report template.

[2021-08-24 13:09] anthony-joyce opened #17810 ""Runs" column being cut off by "Schedule" column in web UI"
**Apache Airflow version**:

2.1.3

**OS**:

CentOS Linux 7

**Apache Airflow Provider versions**:

Standard provider package that comes with Airflow 2.1.3 via Docker container

**Deployment**:

docker-compose version 1.29.2, build 5becea4c

**What happened**:

Updated container from Airflow 2.1.2 --> 2.1.3 without an specific error message

**What you expected to happen**:

I did not expect an ov

[2021-08-24 13:27] #17804 closed

[2021-08-24 13:39] lindsable commented on #17693
I'll try it out! I'm having an issue when upgrading where the folders in my dags folder aren't being loaded as modules when I upgrade so it might take a day to get 2.1.3 deployed in production.

[2021-08-24 14:24] agrounds opened #17812 "Unable to install Airflow 2.1.3 with pipenv due to conflicting constraints on markupsafe dependency version"
**Apache Airflow version**:

2.1.3 (python version 3.8.11)

**OS**:

MacOS Big Sur 11.4

**Apache Airflow Provider versions**:

None

**Deployment**:

Local virtualenv created with pipenv

**What happened**:

Unable to install apache-airflow 2.1.3 using pipenv. Full error message:

[code]

**What you expected to happen**:

Airflow to be installed in a virtualenvironment.

**How to reproduce it**:

[2021-08-24 14:29] potiuk commented on #17812
PIPenv should be used to install Airflow. It misses crucial features and until it supports constraints, you should use 'pip'' and constraints to install airflow.

See https://airflow.apache.org/docs/apache-airflow/stable/installation.html#installation-tools where it is explicitly stated that pip-tools.shoild not be used (unless you make use of pip constraints).

[2021-08-24 14:30] #17812 closed

[2021-08-24 14:53] agrounds commented on #17812
Thanks @potiuk. I had previously read through the installation tools section, but I wasn't familiar with poetry or pip-tools and didn't realize that the same advice applied to pipenv. Since it's such a popular tool, it would be nice to mention that it's not supported on that page.

[2021-08-24 15:03] zealpatel1990 opened #17814 "Last Dagrun is not working."
**Apache Airflow version**:2.1.3

**OS**: Running Airflow in docker container.
NAME="Ubuntu"
VERSION="20.04.2 LTS (Focal Fossa)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 20.04.2 LTS"
VERSION_ID="20.04"
HOME_URL="https://www.ubuntu.com/"
SUPPORT_URL="https://help.ubuntu.com/"
BUG_REPORT_URL="https://bugs.launchpad.net/ubuntu/"
PRIVACY_POLICY_URL="https://www.ubuntu.com/legal/terms-and-policies/

[2021-08-24 15:56] jayantsande25 opened #17815 "Missing example for Salesforce DAG"
**Description**
airflow/providers/salesforce/example_dags/__init__.py
Missing example of Salesforce DAG ( rest api, bulk api)

**Use case / motivation**

An example DAG on how to query(select), Update, Delete salesforce object using Rest API and Bulk APIs
**Are you willing to submit a PR?**
May be later , after one basic example

**Related Issues**
None

None

[2021-08-24 15:57] jayantsande25 commented on #17815
@xinbinhuang issue created for salesforce DAG.

[2021-08-24 16:22] uranusjr commented on #17814
The code is in `airflow/www/views.py`. Search for `def last_dagruns` and the error is toward the bottom of the function.

Change this

[code]

to something like this:

[code]

I had this fix in another PR (not merged to main yet), but if you could submit a PR just for this change, it can likely be merged pretty quickly and included in 2.1.4.

[2021-08-24 16:36] whitleykeith commented on #16001
I've had this issue for a while now, but I was able to resolve it by adding this to the top of my `dag.py` file.

[code]

It does pretty much what @hsnprsd had in his class, but doesn't require overriding the default logging config.

[2021-08-24 16:51] potiuk commented on #17812
Absolutely? Could you please make a PR and add it? Airflow is community-driven and anyone can add their PRs - happy to review and approve it. It's supper easy - at the bottom of the page you will find "Suggest a change on this page" button - it will open PR for you. No dev environment needed or any preparation to make a doc-only change, it can be done straight from the GitHub UI, same as commentin

[2021-08-24 17:11] joshk-kang commented on #17585
Thanks @eladkal, I am currently using `start_date=days_ago(1)`, for a DAG that runs every 30 minutes, would you suggest using `start_date=days_ago(0)` instead?

[2021-08-24 18:10] eladkal commented on #17585
No, I'm suggesting not to use dynamic values in `start_date`.

[2021-08-24 19:32] argzeal commented on #17814
Thanks @uranusjr for quick fix. Now I understand that I have DAG which schedule is set to `None`, that also breaks last run of other dags as well. As soon as DAG is manually triggered at least once it works. I will create PR as soon as I can to accommodate the suggested change.

[2021-08-24 19:35] zealpatel1990 commented on #17814
Thanks @uranusjr for quick fix. Now I understand that I have DAG which schedule is set to None, that also breaks last run of other dags as well. As soon as DAG is manually triggered at least once it works. I will create PR as soon as I can to accommodate the suggested change.

[2021-08-24 21:07] DeOldSax commented on #15994
How about SentinelOperator? Imho in the domain of algorithms and data structures it's exactly that.

[2021-08-25 00:06] #16298 closed

[2021-08-25 08:38] alexInhert opened #17826 "Add another tab in Dags table that shows running now"
The DAGs main page has All/Active/Paused.

It would be nice if we can have also Running Now which will show all the DAGs that have at least 1 in Running of DAG runs:
![Screen Shot 2021-08-25 at 11 30 55](https://user-images.githubusercontent.com/62940116/130756490-647dc664-7528-4eb7-b4d8-515577f7e6bb.png)

For the above example the new DAGs tab of Running Now should show only 2 rows.
The use case

[2021-08-25 10:19] NanyinK opened #17827 "Task stuck in running status"
### Discussed in https://github.com/apache/airflow/discussions/17823

<div type='discussions-op-text'>

<sup>Originally posted by **NanyinK** August 25, 2021</sup>
Hi,

I tried to run a dag on the web UI but failed.
It's always showing "running" status.

and when I click on the logs, I get this :
////////////////////////////////////////////////////////
*** Log file does not exist: /data/app/airflo

[2021-08-25 10:41] bbovenzi commented on #17826
After #11652 I think it makes sense to look into other sorting/filtering to do for the dags table.

[2021-08-25 10:56] Limess opened #17828 "Docker image entrypoint does not parse redis URLs correctly with no password"
**Apache Airflow version**:

2.1.3

**Deployment**:

ECS, docker-compose

**What happened**:

A redis connection URL of the form:

[code]

is parsed incorrectly by this pattern: https://github.com/apache/airflow/blob/2.1.3/scripts/in_container/prod/entrypoint_prod.sh#L96 - the host is determined to be `localhost` as there is no `@` character.

Adding an `@` character, e.g. `redis://@redis-analytic

[2021-08-25 11:27] uranusjr commented on #17828
Hi, would you be interested in investigating this and coming up with a fix for PR?

[2021-08-25 12:48] #17810 closed

[2021-08-25 14:21] KarthikRajashekaran opened #17831 "MSSQL: Adaptive Server connection failed"
**Apache Airflow version**:
 v2.0.2

**OS**:
MWAA

**Apache Airflow Provider versions**:
apache-airflow-providers-microsoft-mssql==1.0.1
apache-airflow-providers-odbc==1.0.1
pymssql==2.2.1

**Deployment**:
MWAA Managed Airflow Service

**What happened**:
Connections not established

Gave connection in secret manager as below
mssql_conn =
`mssql://userid:pwd.2008@host-wv78.ABC.COMPANY.COM:1433`

Al

[2021-08-25 15:38] potiuk commented on #17827
Siince the discussion is quite extensive there and there seem to be no conclusion whether it is a configuration issue or a bug in Airflow..let's keep it as discussion. There is no clear reproduction path and a lot of details are missing here

Closing this one.

[2021-08-25 15:38] #17827 closed

[2021-08-25 15:55] #17831 closed

[2021-08-25 17:17] alwaysmpe opened #17833 "AwsBaseHook isn't using connection.host, using connection.extra.host instead"
**Apache Airflow version**:

Version: v2.1.2
Git Version: .release:2.1.2+d25854dd413aa68ea70fb1ade7fe01425f456192

**OS**:

PRETTY_NAME="Debian GNU/Linux 10 (buster)"
NAME="Debian GNU/Linux"
VERSION_ID="10"
VERSION="10 (buster)"
VERSION_CODENAME=buster
ID=debian
HOME_URL="https://www.debian.org/"
SUPPORT_URL="https://www.debian.org/support"
BUG_REPORT_URL="https://bugs.debian.org/"

**Apache Airfl

[2021-08-27 12:24] SegondsGauthier opened #17869 "More than one url in cors header"
**Description**

Enabled list of cors headers origin allowed

**Use case / motivation**

I'm currently developping Django application working with apache airflow for some external work through api. From Django, user run dag and a js request wait for dag end. By this way, I enabled cors headers in airflow.cfg with correct url. But now, I've  environment (dev & prod). It could be useful to be able t

[2021-08-27 20:38] paantya opened #17874 "Is it possible to extend the window with parameters in the UI?"
### Description

Is it possible to extend the window with parameters in the UI? - I have simple parameters and they do not fit (

### Use case/motivation

I have simple parameters and they do not fit (

### Related issues

yt

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://github.com

[2021-08-28 00:05] #16483 closed

[2021-08-28 01:40] #17135 closed

[2021-08-28 02:03] grenmester opened #17878 "Pandas `to_csv` with GCS source implicitly fails in the background with improper credentials"
### Apache Airflow version

2.0.1

### Operating System

5.13.12-arch1-1

### Versions of Apache Airflow Providers

[code]

### Deployment

Managed Services (Astronomer, Composer, MWAA etc.)

### Deployment details

_No response_

### What happened

I tried using the `to_csv` method in one of my tasks created using the new task decorator to save a file to a GCS bucket. The task was marked as succe

[2021-08-28 08:13] tothandor opened #17879 "Cleared tasks get literal 'DagRunState.QUEUED' instead of the value 'queued'"
### Apache Airflow version

2.1.3 (latest released)

### Operating System

CentOS Stream release 8

### Versions of Apache Airflow Providers

None of them are relevant

### Deployment

Virtualenv installation

### Deployment details

mkdir /srv/airflow
cd /srv/airflow
virtualenv venv
source venv/bin/activate
pip install apache-airflow==2.1.3
AIRFLOW_HOME and AIRFLOW_CONFIG is specified via environ

[2021-08-28 08:57] uranusjr commented on #17879
The proposed solution is wrong. The `.value` call should happen in Jinja templates or `www/views.py` (for presentation), not in `models`.

[2021-08-28 13:02] uranusjr commented on #17879
So the problem is we’re storing wrong values to the database? The change should be done at the boundary between the db and Pythron if that’s the case. Either we call `.value` when passing the value to SQLAlchemy, or we should change the `state` field to automatically do that when it receives an Enum.

[2021-08-28 14:58] kurtqq commented on #14175
hi @ephraimbuddy did you manage to find a fix?

[2021-08-28 20:26] kaxil commented on #17879
I haven't been able to reproduce yet with Postgres, what Metadata Database do you use Postgres, MySQL or SQLite?

[2021-08-28 21:06] kaxil commented on #17879
If you are using MySQL with `mysqldb` driver -- then you might see this error. I will have a patch ready in few mins

[2021-08-28 21:22] kaxil commented on #17879
https://github.com/apache/airflow/pull/17886 Should fix it -- can you try it with that change @tothandor please

[2021-08-29 06:54] benjcabalona1029 opened #17888 "SSH Operator No authentication methods available"
### Apache Airflow version

2.1.0

### Operating System

macOS

### Versions of Apache Airflow Providers

_No response_

### Deployment

Docker-Compose

### Deployment details

_No response_

### What happened

Same issue with #8490. The container has python3 installed, so the answer in 8490 is not applicable.

### What you expected to happen

_No response_

### How to reproduce

_No response_

##

[2021-08-29 07:23] gbonazzoli opened #17889 "Airflow 2.1.3 Variable.set(name, value) statement clears out Variable Description inserted in Airflow UI"
### Apache Airflow version

2.1.3 (latest released)

### Operating System

Ubuntu 20.04.3 LTS

### Versions of Apache Airflow Providers

_No response_

### Deployment

Other

### Deployment details

LXD Container

### What happened

If you write in a DAG:

[code]

the Airflow Variables are successfuly set, but the descriptions are cleared away

### What you expected to happen

I expect that the de

[2021-08-29 08:44] eladkal commented on #14804
solved by https://github.com/apache/airflow/pull/14735

[2021-08-29 08:44] #14804 closed

[2021-08-29 09:05] Hrithiksomani commented on #17735
Any update on this as we are also facing the same issue in Airflow 2.0.1.

[2021-08-29 09:06] amiriry commented on #17443
When I try to run again I get this error, couple of times:

[code]

[2021-08-29 09:28] eladkal commented on #17878
Can you please explain why/how there is an Airflow bug rather than a bug/issue with your own code locally (problem with your own python function)?

[2021-08-29 11:17] potiuk commented on #17888
The issue there was posted long time ago. Creating "same issue" is not at all helping as - as you noted - it was python 2.7 so for sure your issue is not "The same". Please (as asked in the issues) provide logs and reproducible steps from your installation.

As you have been warned in the form, issues without reproduction steps will be closed, you can open Discussion instead (but you will have to

[2021-08-29 11:17] #17888 closed

[2021-08-29 11:32] SegondsGauthier commented on #17869
Yes sure, I could work on it within next week

[2021-08-29 16:50] shamil commented on #17546
Happens to me as well, we use the `helm` chart, which uses `postgresql` as DB. the `LD_PRELOAD` workaround helps.

[2021-08-29 17:14] dimon222 opened #17897 "Dag tags are not refreshing if case sensitivity changed"
### Apache Airflow version

2.1.3 (latest released)

### Operating System

Debian

### Versions of Apache Airflow Providers

_No response_

### Deployment

Other Docker-based deployment

### Deployment details

Custom docker image on k8s

### What happened

New dag version was written in same named dag. The only difference was one of specified tags got changed in case, for ex. "test" to "Test". Wi

[2021-08-29 17:17] eladkal opened #17898 "Change Azure operators to comply with AIP-21"
### Body

Some of Azure operators/sensors paths needs to be changed:

|           Operator name           	|                              current path                             	|                             new path                            	|
|:---------------------------------:	|:---------------------------------------------------------------------:	|:---------------------------------------

[2021-08-29 18:47] aran3 opened #17899 "upgrade_check should check python_callable is not used in TriggerDagRunOperator"
### Apache Airflow version

2.1.2

### Operating System

Red Hat Enterprise Linux Server 7.6 (Maipo)

### Versions of Apache Airflow Providers

_No response_

### Deployment

Virtualenv installation

### Deployment details

_No response_

### What happened

`airflow upgrade_check` should check `python_callable` is not used in `TriggerDagRunOperator`.
As of https://github.com/apache/airflow/pull/63

[2021-08-29 20:06] eladkal commented on #17899
Closing for two reasons:
1. There are no further releases of upgrade check tool as 1.10 is EOL.
2. In any case this is not something that can be added to the upgrade check as the `conf` param doesn't exist in `TriggerDagRunOperator` of 1.10 - It wasn't backported so this specific change is a breaking change. The upgrade checker doesn't handle breaking changes.

[2021-08-29 20:06] #17899 closed

[2021-08-30 02:31] josh-fell commented on #17898
Should this also apply to the secrets backend?
https://github.com/apache/airflow/tree/main/airflow/providers/microsoft/azure/secrets

[2021-08-30 03:49] alex-astronomer commented on #15641
I'd love to create a PR for this.  This will be my first contribution to Airflow.  I searched for "good first issue" and "documentation" labels for my first try at this.  Would this Issue be a good place to start making contributions?

[2021-08-30 05:05] MatrixManAtYrService opened #17901 "KubernetesExecutor: kubectl task gets stuck running if command takes more than 0.4 sec"
### Apache Airflow version

2.1.3 (latest released)

### Operating System

20.04.1-Ubuntu (in k8s, via helm)

### Versions of Apache Airflow Providers

[code]

### Deployment

Official Apache Airflow Helm Chart

### Deployment details

Dockerfile (build this first, then push to registry):
[code]

values.yaml (provide this to the helm chart while deploying, use your registry's address instead of mi

[2021-08-30 06:47] potiuk commented on #15641
Sure. Feel free!

[2021-08-30 07:00] tothandor commented on #17879
It's working now. Thanks a lot! 🙏

[2021-08-30 07:00] #17879 closed

[2021-08-30 07:24] donotpush commented on #15542
@kaxil I wonder if #15542 is already present in release 2.1.3, I tried to find a commit or PR but I did not succeed. Can you help me to find the commit/PR?

[2021-08-30 08:28] baryluk opened #17906 "Some timezones in Web UI shows as number, not timezone name"
### Apache Airflow version

2.1.2

### Operating System

Linux

### Versions of Apache Airflow Providers

2.1.2

### Deployment

Other 3rd-party Helm chart

### Deployment details

n/a

### What happened

Go to Web UI,

search for example for "Chile/Continental" , after clicking it will be added to the list of timezones, but will be displayed as "-04 (-04:00)".

![Screenshot from 2021-08-30 10-25-

[2021-08-30 08:44] bbovenzi commented on #17874
Yes, we can make the textarea be more responsive to window size. I think there are other changes for configuration variables coming soon and it may be addressed then.

[2021-08-30 12:20] alokshenoy commented on #16834
Yep. I'll have a pr out in the next few days.

[2021-08-30 12:41] malthe commented on #16706
I think perhaps a starting point is to contribute "opentelemetry-instrumentation-X" packages (e.g. [opentelemetry-instrumentation-psycopg2](https://pypi.org/project/opentelemetry-instrumentation-psycopg2/)).

It should be possible then to [add a span around task execution](https://opentelemetry.io/docs/java/manual_instrumentation/#create-nested-spans) to logically group an arbitrary and unknown se

[2021-08-30 12:47] ClassyLion commented on #15601
#12237

[2021-08-30 13:04] paantya opened #17912 "add yaml/omegaconf vizualization in UI in "run w/ config"."
### Description

Can you please tell me, is it possible in params to draw the output in the form of yaml/omegaconf, not json? in UI

1. yaml is much more compact and easier to render.
2. omegaconf - has convenient interpolation functions that would be great to use when working with configs - I use it, I really like it.

omegaconf:

- git : https://github.com/omry/omegaconf
- docs: https://omegacon

[2021-08-30 13:34] ephraimbuddy commented on #17889
I don't think this is a bug. There's a `setdefault` method you can use for the behaviour you want above and not `set`.
@ash

[2021-08-30 13:46] paantya commented on #17874
@bbovenzi
cool!  tnx

Can you please tell me, can I change something somewhere so that this window becomes larger?

[2021-08-30 13:53] uranusjr commented on #17889
The weird thing is there is no API to set the value _with_ description. Maybe we should have

[code]

[2021-08-30 14:00] bbovenzi commented on #17874
Go to [trigger.js](https://github.com/apache/airflow/blob/main/airflow/www/static/js/trigger.js) and add something like `.setSize('null, 'auto');` or play around with other values and see what works.

[2021-08-30 14:05] ephraimbuddy commented on #13407
@soltanianalytics please can you test this on 2.1.3, I was not able to reproduce

[2021-08-30 14:08] soltanianalytics commented on #13407
The behavior has indeed changed since `2.0.0`, and while not _perfect_, I can deal with it for now - closing the ticket

[2021-08-30 14:08] #13407 closed

[2021-08-30 14:10] ephraimbuddy commented on #13407
Please can you provide more context to not _perfect_, I'm happy to look into this issue if you can explain more, thanks

[2021-08-30 14:16] soltanianalytics commented on #13407
My core usecase is re-running DAGs that are not currently running.

So I have a DAG with `max_active_runs=1` and `catchup=True`. This DAG depends on the previous `DagRun`s being successful. I implement this logic via a sensor that senses the success of the last task of the previous `DagRun`. If the previous `DagRun` failed, the current one will keep sensing into the abyss. It might fail after some

[2021-08-30 14:18] ephraimbuddy commented on #13407
Thanks @soltanianalytics

[2021-08-30 15:09] ephraimbuddy commented on #13407
Actually, the problem with `max_active_runs` is that the line of code below:
https://github.com/apache/airflow/blob/24aa34b12d1f20b6d59b76a3787bb633f7a86fd7/airflow/jobs/scheduler_job.py#L973

doesn't get distinct dag_ids. For example:

dag1 has 8queued dagruns and dag2 has 5 queued dagruns and dag3 has 6

The code would get all the 8 dagruns from dag1(if it has the closest date) and then 2 dagrun

[2021-08-30 15:12] soltanianalytics commented on #13407
Note that in the issue I described above, all `RagRun`s are allready `running`, but tasks are not scheduled

[2021-08-30 15:59] abhaysjuneja commented on #14896
I tried this with LocalExecutor, but I'm still get this warning `UserWarning: Multiprocessing-backed parallel loops cannot be nested, setting n_jobs=1`. With Joblib, it's basically setting n_jobs=1 and serializing the process, rendering it useless. I'll try this with CeleryExecutor next.

[2021-08-30 16:43] potiuk commented on #17912
That would be a nice feature to allow yaml input - it should be entirely possible (and seems super easy).

What we need is just a Dict form, and this is both yaml and json compatible. We could even actually even parse the entry with yaml parser rather with json and this would work pretty much out-of-the-box @msumit - maybe you can include it - every "valid json" is automatically also "valid yaml"

[2021-08-30 17:03] potiuk commented on #14896
There is a known solution to this problem. Please use `billiard` https://pypi.org/project/billiard/  instead of `multiprocessing`. It is a fork of multiprocessing internally used in Celery and it was specifically forked by Celery developers to handle similar problems and limitations of the original multiprocessing library. Since it is used by Celery - you should have it installed already,  and it

[2021-08-30 18:44] eladkal commented on #17898
@josh-fell yep

[2021-08-30 19:03] Calder-Ty commented on #17045
**Bottom Line Up Front**: I had a similar issue, and found that the cause was a third party packages code that did not implement exceptions that could be loaded from a picklefile. This is the most likely cause of the problem.

For me, switching to Airflows official helm wasn't an option (not running Kubernetes). I did some digging around and found that this message is spawned when trying to load a

[2021-08-30 19:08] ephraimbuddy commented on #17889
I like the first one:
[code]
if we want it, I can work on it. Looks like there's a reason for the current design, will find out.

[2021-08-30 19:10] kimyen opened #17919 "Helm substitution changes the values for statsd mapping"
### Official Helm Chart version

1.1.0 (latest released)

### Apache Airflow version

2.0.2

### Kubernetes Version

1.19.11

### Helm Chart configuration

[code]

### Docker Image customisations

None

### What happened

In `airflow-statsd` configmap in K8s, I see:
[code]

Double quotes are removed, which is fine. But the `$1` is evaluated to nothing.

### What you expected to happen

In `airflow

[2021-08-30 19:16] kimyen opened #17920 "Support statsd mappings for DataDog"
### Official Helm Chart version

1.1.0 (latest released)

### Apache Airflow version

2.0.2

### Kubernetes Version

1.19.11

### Helm Chart configuration

[code]

### Docker Image customisations

None

### What happened

In `airflow-statsd` configmap in K8s, I see:
[code]
The substitution issue is reported here: https://github.com/apache/airflow/issues/17919

Prometheus' configmap parser will com

[2021-08-30 19:22] #17765 closed

[2021-08-30 22:12] potiuk opened #17922 "Status of testing Providers that were prepared on August 30, 2021"
I have a kind request for all the contributors to the latest provider packages release.
Could you help us to test the RC versions of the providers and let us know in the comment,
if the issue is addressed there.

## Providers that need testing

Those are providers that require testing as there were some substantial changes introduced:

### Provider [amazon: 2.2.0rc1](https://pypi.org/project/apach

[2021-08-30 23:01] grenmester commented on #17878
Thanks for the question. I did a little bit of extra digging and seems like it's Pandas that implicit fails when writing to a bucket with insufficient permissions so it's not an Airflow problem. Thanks for helping.

[2021-08-30 23:01] #17878 closed

[2021-08-30 23:58] imranshaikmuma opened #17923 "Airflow Broken"
### Apache Airflow version

2.0.2

### Operating System

Amazon Linux AMI

### Versions of Apache Airflow Providers

_No response_

### Deployment

Managed Services (Astronomer, Composer, MWAA etc.)

### Deployment details

_No response_

### What happened

We changed the dag folder and reverted it back and updated the environment
It gave the following error
<img width="1444" alt="Screen Shot 2021

[2021-08-31 05:57] #17923 closed

[2021-08-31 06:44] hafid-d commented on #8177
Hi, facing the same issue with airflow 2.1.2

[2021-08-31 06:50] akashg116414 opened #17928 "Support for Rerun of dagrun that is aborted"
### Description

In a Dag, if there are multiple dagrun, so we can able to stop and rerun that dagrun using any runid or unique id

### Use case/motivation

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://github.com/apache/airflow/blob

[2021-08-31 07:17] ecerulm opened #17930 "Emails notifications with AWS SES not working due to missing "from:" field"
### Apache Airflow version

main (development)

### Operating System

macOsS

### Versions of Apache Airflow Providers

apache-airflow-providers-amazon (main)

### Deployment

Official Apache Airflow Helm Chart

### Deployment details

_No response_

### What happened

https://github.com/apache/airflow/blob/098765e227d4ab7873a2f675845b50c633e356da/airflow/providers/amazon/aws/utils/emailer.py#L40-

[2021-08-31 07:39] nathadfield commented on #17922
#17321 tested and looks good to me!

[2021-08-31 07:49] Aakcht commented on #17922
Tested #17637 - looks good

[2021-08-31 07:52] iblaine commented on #17922
#17777 tested and looks good

[2021-08-31 08:01] nathadfield commented on #17922
I've just tried to start a version of our Astronomer based Airflow (v2.1.3) using the v2.1.0rc1 Hashicorp provider but I'm seeing the following on startup.

[code]

[2021-08-31 08:06] potiuk commented on #8177
Probably you are using some 3rd party functions /modules that are not picklable. There is not much we can do with it. The Python Virtualenv operator works in the way that it will serialize everything that is needed by your function and deserialize it in the virtualenv. If there is any module that refuses to get serialized, you will get this error.

[2021-08-31 08:07] potiuk commented on #8177
Can you post some details of your methods/functions? Imports /logs ? I'd be curious if we can improve the error message to tell exactly what's wrong.

[2021-08-31 08:13] uranusjr opened #17931 "Timetable registration a la OperatorLinks"
Currently (as implemented in #17414), timetables are serialised by their classes’ full import path. This works most of the time, but not in some cases, including:

* Nested in class or function
* Declared directly in a DAG file without a valid import name (e.g. `12345.py`)

It’s fundamentally impossible to fix some of the cases (e.g. function-local class declaration) due to how Python works, but b

[2021-08-31 08:21] BasPH opened #17932 "template_ext in task attributes shows incorrect value"
### Apache Airflow version

2.1.3 (latest released)

### Operating System

Debian Buster

### Versions of Apache Airflow Providers

_No response_

### Deployment

Managed Services (Astronomer, Composer, MWAA etc.)

### Deployment details

Running `quay.io/astronomer/ap-airflow:2.1.3-buster` Docker image

### What happened

In the task attributes view of a BashOperator, the `template_ext` row doesn

[2021-08-31 08:22] codenamestif commented on #17922
#17281 looks good

[2021-08-31 08:27] uranusjr commented on #17932
Not sure why this happens, but feel free to work on this!

[2021-08-31 08:30] enima2684 commented on #17922
#17474 <https://github.com/apache/airflow/pull/17474> tested and looks good

On Tue, Aug 31, 2021 at 10:22 AM Pavel Hlushchanka ***@***.***>
wrote:

[2021-08-31 08:35] BasPH commented on #17932
If only I knew the reason😅  Will dig a little deeper today

[2021-08-31 08:36] potiuk commented on #17922
Did it work with previous version of the package (2.0.0) ?

[2021-08-31 08:36] nathadfield commented on #17922
Yep!

[2021-08-31 08:43] potiuk commented on #17922
All right. I think I know. We'll drop Hashicorp from this wave and release it separately. Good spot.

[2021-08-31 08:49] uranusjr commented on #17928
I’m curious why you want to abort the run in the first place, if you want to un-abort it later? Airflow already allows you to trottle concurrent runs, and runs will stay in queue until there’s an empty slot for it. Also, how is this un-aborted run different from triggering a manual run?

[2021-08-31 09:04] akashg116414 commented on #17928
Like if I have 5 python operator in a single dag which is running sequentially, if I abort that dagrun at 3rd python operator then it will resume or rerun from that 3rd python operator but in your case, if we triggered a manual run then it will start from 1st python operator.

[2021-08-31 09:13] yakimetsd commented on #15601
The same issue is still present in v2.1.3 coupled to Azure AD OAuth2

[2021-08-31 09:43] Gabriel39 commented on #17922
alibaba 1.0.0rc1: tested and working :)

[2021-08-31 10:04] suhanovv commented on #17922
[#17551](https://github.com/apache/airflow/pull/17551) Looks good

[2021-08-31 10:30] blcksrx opened #17938 "Support on conflict statement in DBApiHook"
### Description

It's a good idea to support conflicts statements such as `ON CONFLICT DO NOTHING` or `ON CONFLICT UPDATE`
in `DBApi Hook`, that user can do it easily by providing additional  `kwargs` in `insert_rows` method.

### Use case/motivation

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

[2021-08-31 11:49] peter-volkov commented on #17922
checked Provider yandex: 2.1.0rc1
with apache-airflow==2.1.3
works well.

Is it excepted that apache-airflow-backport-providers-yandex for Airflow 1.*  does not have new rc version?
Will it be released?

[2021-08-31 12:05] potiuk commented on #17922
According to the earlier announcements, we stopped releasing backports in March. Airflow 1.10 reached end of life in June and we encourage everyone to migrate to Airflow 2. There will be no more releases (not even critical security fixes) for Airflow 1.10 nor backports.

[2021-08-31 12:07] potiuk commented on #17928
How about backfill?

[2021-08-31 12:14] GauthierSgds commented on #17869
Hi, I switched to my pro account. I've just create a PR: https://github.com/apache/airflow/pull/17941. Feel free if you have some comments

[2021-08-31 12:18] potiuk commented on #17938
Feel free . Should I assign it to you :) ?

[2021-08-31 12:19] david30907d commented on #15978
@hafid-d I bumped into the same issue few days ago.

It works well for now after replacing `PythonOperator` with`SubDagOperator`. Are you using `SubDagOperator` as well?

[2021-08-31 12:29] dan-origami commented on #16703
@kaxil @ephraimbuddy Just to give you a bit of an update, I think I have found what the actual cause of this is.

I noticed that we seem to hit a problem with the number of Active Tasks on a Celery Worker (all our settings here are currently default) so max 16 per worker and 32 across the airflow setup.

However I noticed that when this problem manifests we don't schedule anything so started looki

[2021-08-31 13:29] crazyproger opened #17943 "_change_state_for_tis_without_dagrun query triggers mysql full scan"
### Apache Airflow version

2.1.3 (latest released)

### Operating System

ubuntu 20.04

### Versions of Apache Airflow Providers

_No response_

### Deployment

Other Docker-based deployment

### Deployment details

We use mysql 8.

### What happened

We have 5000 dags. Every day we have 34549 dagruns and 138774 task instances running.
At the morning we have _hot_ hours when major part of dags st

[2021-08-31 14:11] nwsparks commented on #15580
can confirm that setting `restartPolicy: Never` fixes this. Make sure its under spec: and not in the container: section.

[2021-08-31 15:15] aran3 commented on #9975
I've been testing version 2.1.3 for a few days now, and while adding Queued state seem to help most cases I think this bug is not fully solved.
When manually triggering a dag that has max_active_runs=1 many times, it does happen that dags reaches more than dag run in "running" state at the same time.
In our case the dag has two tasks, a trigger and a sensor:
![image](https://user-images.githubuser

[2021-08-31 15:23] josh-fell commented on #17922
#17399 Tested and verified.  Thanks for putting this together @potiuk!

[2021-08-31 15:52] mcreenan commented on #17922
Tested amazon: 2.2.0rc1 for #17210 and it looks good.

I was able to run my test dag and validate it fails with amazon provider 1.2.0 and succeeded with 2.2.0rc1.

I love that the providers are separate and we can simply update the version on requirements instead of having to update to a newer version of Airflow. Great work on that!

[2021-08-31 16:10] BasPH commented on #17932
Turns out `template_ext` is never serialized into the DB. Preparing PR.

[2021-08-31 16:10] hafid-d commented on #8177
Hi @potiuk ! thanks for your reply. So my method is the following:
[code]
I imported `labelling_transform` function at the beginning, but should I also import all the packages that `labelling_transform` uses inside the `labelling` function ?

I've also seen that it was not possible to use the context variable `ti` when using PythonvirtualenvOperator so I tried the following :

[code]
Above, I trie

[2021-08-31 16:14] hafid-d commented on #8177
To give you a bit of context I am trying to use this PythonVirtualenvOperator as I am facing the following issue when running on of my task : `AssertionError: daemonic processes are not allowed to have children` from a package that uses multiprocessing.

[2021-08-31 16:14] potiuk commented on #17922
Glad you  like it! That was quite an effort of quite many people but I do agree it's been worth!

[2021-08-31 16:17] kn6405 opened #17947 "ValueError: unsupported pickle protocol: 5"
### Apache Airflow version

2.1.2

### Operating System

Official docker image

### Versions of Apache Airflow Providers

_No response_

### Deployment

Official Apache Airflow Helm Chart

### Deployment details

Originally had airflow 2.0.2 installed via 3rd party helm chart (running external postgres db). I uninstalled it and installed airflow 2.1.2 using the official chart. Pods are alll starte

[2021-08-31 17:54] jedcunningham commented on #17920
You don't need to run the statsd-exporter when integrating with DataDog, to the best of my knowledge you can export directly to DogStatsD? Try something like this instead:

[code]

Is there some benefit to using the exporter I'm not aware of (granted, I'm not a DataDog user)?

[2021-08-31 18:06] potiuk commented on #17947
You must have a different version of python in the image installed in the original chart and the new one.

This is a duplicate of this - and you will find which tables to clean from a comment there. https://github.com/apache/airflow/issues/14134

[2021-08-31 18:06] #17947 closed

[2021-08-31 18:10] kn6405 commented on #17947
I wonder if there are other tables with pickled values other than the two mentioned in https://github.com/apache/airflow/issues/14134. I emptied the dag_pickle table and I cleared the conf column values in dag_run. Restarted all pod and had same issue. Even uninstalled and reinstalled the chart to see if the start job running might help.

[2021-08-31 18:50] kevlubkcm commented on #15279
i am also seeing this error even with apparently the latest versions:

[code]
[2021-08-31 18:33:50,305] /<home dir>/lib/python3.9/site-packages/watchtower/__init__.py:201 WatchtowerWarning: Failed to deliver logs: Parameter validation failed:
Invalid length for parameter logEvents[19].message, value: 0, valid min length: 1
Invalid length for parameter logEvents[21].message, value: 0, valid min len

[2021-08-31 18:51] potiuk commented on #17947
Did you take a backup of the DB before migrating? I am afraid the easiest way is to restore it and use the image with the same python version? If not then simply resetting the DB might be best way to rectify the mistake.

[2021-08-31 19:14] kevlubkcm commented on #15279
I have noticed some jobs randomly freezing with nothing in the logs. how were you able to pinpoint the issue to cloudwatch logging?

[2021-08-31 20:27] Goodkat commented on #17922
#17850 tested and verified. Now it returns the pandas dataframe as expected.

[2021-08-31 20:46] potiuk commented on #17922
Cool! . We are at 1/3 of the fixes confirmed after 1/3 of the time. Great progress :) . Thanks everyone who are helping!

[2021-08-31 20:58] gustavo9601 commented on #13487
If you ara using Docker image, into the file docker-compose.yaml, in the section of enviroment put the next line

AIRFLOW__CORE__ENABLE_XCOM_PICKLING: 'true'

[2021-08-31 23:15] SamWheating commented on #17906
This comes down to the intended behaviour of [moment-timezone](https://github.com/moment/moment-timezone), the JS package used for handling timezones in the UI. Here's the part of the source which populates that field:
https://github.com/apache/airflow/blob/dd386c81f50fe2a93cf0bff0c3da2c66f2dc6e6a/airflow/www/static/js/datetime_utils.js#L23-L33

You can replicate this behaviour by running the rele

[2021-08-31 23:26] #17726 closed

[2021-08-31 23:32] SamWheating commented on #17897
I was unable to reproduce this issue on the current main branch of Airflow, could you share the scheduler logs surrounding the scheduler crash?

[2021-08-31 23:33] kimyen commented on #17920
@jedcunningham , thank you for responding to me. There is definitely a gap in my knowledge here about what is needed to export data to datadog. I have some follow-up questions:
- With the config above, `statsd_host: localhost` means that there is a dogstatsd agent running in the same pod as the scheduler and each worker? We have DAGs that emits metric to datadog, and we set env for which hostIP to

[2021-08-31 23:41] potiuk commented on #16706
Hmm. I spent a bit of time reading, The title suggested that you wanted to focus on "Hooks" and I think that made me think that you want to focus on instrumenting particular hooks (each hook separately), but I have a different understanding now - please correct me if I am wrong or right or maybe needs some correction :).

Let me rephrase it all and describe in my own words how i understand what sh

[2021-09-01 00:05] potiuk commented on #17930
Go for it @ecerulm ! I think that's good step with straightening email configuration. It requires quite some polishing (I am sure we will find some things to fix as well while we will iterate on the docs on this one - happy to brainstorm then).

[2021-09-01 00:10] #16888 closed

[2021-09-01 00:10] #15883 closed

[2021-09-01 03:48] rahulraina7 commented on #17922
Tested https://github.com/apache/airflow/pull/16012 . Loading the file in s3 as expected

[2021-09-01 04:37] dacort commented on #17922
Tested #16766 with apache-airflow==2.1.3 - used the example DAG to trigger an EMR on EKS job to completion! 🎉

[2021-09-01 07:15] Satnam00 opened #17954 "sqlalchemy.exc.DatabaseError: (sqlite3.DatabaseError) database disk image is malformed"
### Apache Airflow version

2.1.3 (latest released)

### Operating System

Windows 10

### Versions of Apache Airflow Providers

2.1.3

### Deployment

Official Apache Airflow Helm Chart

### Deployment details

_No response_

### What happened

[2021-09-01 12:40:57,188] {app.py:1891} ERROR - Exception on /tree [GET]
Traceback (most recent call last):
  File "/home/satnam/.local/lib/python3.8/site

[2021-09-01 07:36] potiuk commented on #17922
FYI. I also marked some of the providers (jdbc, neo4j) that had only "type annotation" and doc changes on top of the "2.2.0" optimisation. There are no substantial changes and they are installing, importing and they are discovered properly, So no need to test them separately either.

BTW. For everyone watching - all the providers are now "Warning free" as well. There were a few providers in which

[2021-09-01 08:00] david30907d commented on #17814
bumped into the same error, thanks @uranusjr for the quick fix.

[2021-09-01 08:01] ephraimbuddy commented on #14205
I have made a PR related to this issue, see https://github.com/apache/airflow/pull/17945

What happens is that the method `DagRun.next_dagruns_to_examine` gets the earliest dagruns without considering the dag that has the dagrun.
For example:
If you have a dag with execution_date 2020,1,1 and set catchup=True, max_active_runs=1, schedule_interval='@daily' and another dag with execution_date 2021,1

[2021-09-01 08:36] baryluk commented on #17906
Ok. Thanks.

[2021-09-01 08:36] #17906 closed

[2021-09-01 09:09] uranusjr commented on #17814
Fix included as a part of #17732.

[2021-09-01 09:09] #17814 closed

[2021-09-01 09:10] uranusjr commented on #17814
Note that #17732 will only be included in Airflow 2.2 (it contains a new feature), so if you will need to submit a separate PR for it to be backported to 2.1.

[2021-09-01 09:33] #16739 closed

[2021-09-01 09:51] #17954 closed

[2021-09-01 10:05] bbovenzi commented on #8931
I'm working on some updates to tree view that will address this.

[2021-09-01 10:08] bbovenzi commented on #9864
This is certainly a feature we're looking into for the new UI in AIP-38 since it's easier to include i18n at the start as opposed to adding it later on.

[2021-09-01 10:10] tomerav0 opened #17956 "Celery fails with: "Failed to execute task maximum recursion depth exceeded""
### Apache Airflow version

2.1.1

### Operating System

container-Optimized OS

### Versions of Apache Airflow Providers

PIP used:
google-cloud-bigquery
pandas
gcsfs
google-cloud-storage
google-cloud-logging
google-cloud-firestore
google-oauth2-tool
google-auth
psutil
boto3

### Deployment

Composer

### Deployment details

Image version:
composer-1.17.0-preview.10-airflow-2.1.1

configs:
worker

[2021-09-01 10:12] bbovenzi commented on #14482
@dstandish is this still happening for you? I'm on the latest of `main` and not experiencing this issue.

[2021-09-01 10:32] crazyproger commented on #17507
We're using 2.1.3, see exactly same message sometimes in task runs. Using celery executor.

[2021-09-01 11:09] ephraimbuddy commented on #17507
@crazyproger do you have a dag to reproduce this behaviour? please share

[2021-09-01 11:22] crazyproger commented on #17507
We met this on different dags. Clearing dagrun helps in all cases.
Task log:
[code]

function that creates dag is here: https://gist.github.com/crazyproger/a2a516f8e6b757b88d29f6fccca16990
It has failed on first task - sensor, implementation is at the bottom - `def check_file_exists`.
I omit other tasks implementations.

[2021-09-01 12:11] thejens opened #17962 "Warn if robots.txt is accessed"
### Description

https://github.com/apache/airflow/pull/17946 implements a `/robots.txt` endpoint to block search engines crawling Airflow - in the cases where it is (accidentally) exposed to the public Internet.

If we record any GET requests to that end-point we'd have a strong warning flag that the deployment is exposed, and could issue a warning in the UI, or even enable some kill-switch on th

[2021-09-01 12:13] thejens commented on #17962
( now that I think of it, there may be - or perhaps should be - a plugin to Flask that does this)

[2021-09-01 12:14] #16500 closed

[2021-09-01 14:16] potiuk commented on #17962
good idea.

[2021-09-01 14:17] potiuk commented on #17962
BTW. I think logging it in logs should possibly be enough ?

[2021-09-01 14:36] Narendra-Neerukonda commented on #16834
I see this issue is already assigned to @alokshenoy. Hence, please feel free to cancel this PR #17965  if needed.

I've had the same issue a few days ago. There is no problem while writing the logs. Hence, only read part needs to be fixed.

[2021-09-01 14:46] dstandish commented on #14482
Same, I think this is fixed

[2021-09-01 14:49] Narendra-Neerukonda opened #17966 "lack of definitive error message if task launch fails"
### Apache Airflow version

2.1.2

### Operating System

Centos docker image

### Versions of Apache Airflow Providers

_No response_

### Deployment

Other

### Deployment details

Self built docker image on kubernetes

### What happened

If airflow fails to launch a task (Kubernetes worker pod in my case), the task logs with a simple error message "task exited with return code 1".
This is proble

[2021-09-01 15:14] #14482 closed

[2021-09-01 15:45] fritz-astronomer opened #17969 "Delete DAG REST API Functionality"
### Description

The stable REST API seems to be missing the functionality to delete a DAG.
This would mirror clicking the "Trash Can" on the UI (and could maybe eventually power it)

![image](https://user-images.githubusercontent.com/80706212/131702280-2a8d0d74-6388-4b84-84c1-efabdf640cde.png)

### Use case/motivation

_No response_

### Related issues

_No response_

### Are you willing to submi

[2021-09-01 15:49] thejens commented on #17962
Logging would be a start.

However I think the kind of user who accidentally expose their Airflow deployment are quite likely not the kind of user who monitors logs. I know quite a lot of data scientists who set up tooling like airflow without really understanding what they're doing - but simply following tutorials.

[2021-09-01 15:50] pateash commented on #15088
@keweishang Hi, I haven't started looking into it as.
@totogo is working on it.

[2021-09-01 16:05] potiuk commented on #17962
True.

[2021-09-01 16:18] thejens commented on #17962
Here's a list of google's crawlers user-agents btw; **https://developers.google.com/search/docs/advanced/crawling/overview-google-crawlers**

[2021-09-01 17:40] eladkal commented on #16961
Should be solved by https://github.com/apache/airflow/pull/16809

[2021-09-01 17:40] #16961 closed

[2021-09-01 17:52] kimyen commented on #17920
Per my comments above, I thought that the `statsd` component in the official Helm chart v1.1.0 is what I want. When I started to try to patch the `statsd` K8s template in 1.1.0 to match the datadog agent pod (ref. in the datadog helm linked above), I realized that:
- The K8s template is going to be very different. The datadog agent pod will be running multiple containers with different images, com

[2021-09-01 17:52] #17920 closed

[2021-09-01 18:53] potiuk commented on #14924
That is cool finding.

[2021-09-01 19:58] #17449 closed

[2021-09-01 20:16] potiuk commented on #17897
This looks like a problem when some parses are still parsing the old versions and then some other parsers kicking in to parse the new ones, working in parallel. I do not think it's the matter of changing case. I think it's the matter of changing tag for the same dag, How many schedulers you have and what's the number of parsing processes you have  ?
https://airflow.apache.org/docs/apache-airflow/s

[2021-09-01 20:22] dimon222 commented on #17897
1. Single scheduler only
2. 2 parsing processes
3. I was able to replicate issue on cluster that had just 3 dags.
4. sort_mode is modified_time

[2021-09-01 20:33] potiuk commented on #17897
What is your database and what is your transaction isolation level?

[2021-09-01 20:38] dimon222 commented on #17897
1. Mariadb (the issue was also noticed on mysql 8 tho, so I'm not certain if it's locking related).
2. Use row locking is set to True.

[2021-09-01 20:49] potiuk commented on #17922
Tested #17423 - works!

[2021-09-01 20:50] potiuk commented on #17922
We have majority of providers tested and working now- I would approciate some test on the ones that have not been touched yet,

[2021-09-01 20:56] Xrampino commented on #17922
Tested #17640. Works as expected!

[2021-09-01 21:06] potiuk commented on #17897
Ah. That's interesting news, Mariadb is not officially supported - you know that BTW ? Technically it has full right to not work, so I I am not sure if we will be able to help here because we simply do not test Airflow on Maria DB. What do you mean it's been noticed ? Who noticed it ? do you have some logs and observations from MySQL as well?

I think - BTW,  it has nothing to do with row locking

[2021-09-01 21:38] potiuk commented on #17897
@ashb  that might be an interesting one - and need your second pair of eyes here (and your expert knowldge of that part).

I looked at the code and the only explanation I have (regardless of the isolation level question) is that when you have two parsers and when you change a DAG file 'quickly" you might technically end up with two parsers loading two different versions of the same file (and subse

[2021-09-01 21:43] dimon222 commented on #17897
Sure, I understand I'm somewhat on my own when it comes to MariaDB. I was able to see this issue on Mysql 8 as well, and I have received exactly same stacktrace there. I myself noticed it on Mysql if it wasn't clear from initial message :)

Transaction isolation is decided on session level, so I would assume Airflow/Sqlalchemy internals themselves set some, so it shouldn't matter for me as a user

[2021-09-01 21:44] potiuk commented on #17897
In the meantime. @dimon222  - is it possible that you try my proposed fix, to see if it actually fixes it ? You'd need to modify the airflow/dag_processing/manager.py line ~994 (not sure in your version)

[code]

->

[code]

And yeah. I think - after deeper looking - that transaction isolation would not explain it (it might explain phantom reads but not really phantom writes that you experience.

[2021-09-01 22:22] potiuk commented on #17897
Some update @ashb  after more looking. I realized that IF I am right about the hypothesis, we'd heave much bigger problem for multiple schedulers. so I looked a bit deeper. While my fix is likely to help with 1 scheduler, it would not help for more of them.

But I found that this should actually prevent updating TAGs for the same dag_id by two parallell parsing processes (regardless if in one or m

[2021-09-01 22:29] smamessier opened #17975 "Backfill blocks all tasks from being queued when a single pool is full."
### Apache Airflow version

2.0.1

### Operating System

Linux

### Versions of Apache Airflow Providers

_No response_

### Deployment

Docker-Compose

### Deployment details

We are using pools with limited slots for various tasks.

### What happened

- Scheduled tasks on the default pool are blocked from being queued because of unrelated pools being maxed out.

### What you expected to happen

[2021-09-01 22:43] dimon222 commented on #17897
Here's what I tried just now (one at a time, of course)
1. Above mentioned manager.py correction
2. Restrict amount of parsing processes to 1.
3. Completely bring scheduler down for time of updating dag tags, then bring it back up
4. Increase min_file_process_interval
5. Change "use_row_level_locking" to False

In all the possible options I'm receiving the above mentioned SQL error. If I decrease

[2021-09-01 23:34] kcphila commented on #17735
@Hrithiksomani, I haven't seen anything from the Apache/Airflow team aside from at least adding the tags to it. When I have some free time, I was going to look into the code a bit deeper to see if the second option would be the best solution. On a casual look, I didn't see the error file being used anywhere else, but it may be.  Note also that we are using Airflow 2.1.2 and it is present there.

[2021-09-02 00:10] #13853 closed

[2021-09-02 01:38] subkanthi commented on #17922
Tested #17695 . Thanks

[2021-09-02 02:37] aran3 opened #17977 "DagRun marked as success without executing task"
### Apache Airflow version

2.1.3 (latest released)

### Operating System

Red Hat Enterprise Linux Server 7.6 (Maipo)

### Versions of Apache Airflow Providers

apache-airflow-providers-celery==2.0.0
apache-airflow-providers-ftp==2.0.0
apache-airflow-providers-http==2.0.0
apache-airflow-providers-imap==2.0.0
apache-airflow-providers-postgres==2.0.0
apache-airflow-providers-sqlite==2.0.0

### Depl

[2021-09-02 03:26] easontm commented on #13542
I'm experiencing a new, similar issue on `2.1.3`, where the DAGruns themselves get stuck in a queued state. The scheduler will accumulate queued runs but they never pop off. I'd be happy to share logs if someone can tell me which file they would like to see or what text to grep for.
![image](https://user-images.githubusercontent.com/7014837/131776954-bffb4ac9-e303-462c-8703-2934178f1a6b.png)

[2021-09-02 05:32] eladkal commented on #17928
Lets take your example - you have 5 operators  as ` a >> b >> c >> d >> e`  now `a` & `b` are success and `c` is running, you aborted the run (I would assume that by abort you mean set the dag to failure). To continue from where you left off all you need is to change the dagrun status to `Running`.

I'm closing this issue as it seems you can do what you wish with existed functionality. If this com

[2021-09-02 05:32] #17928 closed

[2021-09-02 06:20] damon09273 commented on #14896
@potiuk How can I try this?
Does it is just to replace the package in [celery executor](https://github.com/apache/airflow/blob/main/airflow/executors/celery_executor.py) `multiprocessing` with `billiard` ?

Also I want to feedback a information is that issue didn't happens in Airflow 2.1.3, I'm not sure why, because I didn't set `PYTHONOPTIMIZE` to 1.

[2021-09-02 07:12] malthe opened #17978 "Can't delete user "admin""
### Apache Airflow version

2.1.2

### Operating System

Debian

### Versions of Apache Airflow Providers

_No response_

### Deployment

Official Apache Airflow Helm Chart

### Deployment details

_No response_

### What happened

I tried to delete the "admin" user using the command-line interface:
[code]
I get the message "User admin deleted".

But it's in fact not deleted!

### What you expecte

[2021-09-02 07:22] ephraimbuddy commented on #13542
Check the dag details page for the running tasks, it's possible there's a running task but due to the number of running as well as queued dagruns, the running is not shown here in the UI. Check the page ('Details') in dag view

[2021-09-02 07:50] ephraimbuddy opened #17979 "Center tree and graph view queries on current running dag run date instead of on now."
### Apache Airflow version

2.1.3 (latest released)

### Operating System

Ubuntu 20.04.2 LTS (Focal Fossa)

### Versions of Apache Airflow Providers

_No response_

### Deployment

Other

### Deployment details

Local dev environment with breeze

### What happened

Running dagruns are not visible in the UI when there are many queued dagruns.

# Running not visible in tree view
![norunning](https:

[2021-09-02 08:07] ephraimbuddy commented on #17979
@bbovenzi

[2021-09-02 08:14] easontm commented on #13542
Thanks @ephraimbuddy! That wasn't it but I did find something that _may_ be issue-worthy. I added some custom logging to `scheduler_job._start_queued_dagruns()` and noticed that the contents of `dag_runs` was the same 20 DAGruns in every loop (default count from config `max_dagruns_per_loop_to_schedule`). The DAGruns in question show up first when ordering by the following code from `dagrun.next_d

[2021-09-02 08:20] chanduchama opened #17981 "Not able to see logs in the webserver while executing the DAGS"
### Official Helm Chart version

1.1.0 (latest released)

### Apache Airflow version

2.1.3 (latest released)

### Kubernetes Version

GoVersion:"go1.13.15", Compiler:"gc", Platform:"linux/amd64"

### Helm Chart configuration

[code]

### Docker Image customisations

No

### What happened

**Issue:** Not able to see logs in the webserver while executing the DAGS.
**Webserver Error:**
*** Log file

[2021-09-02 08:26] potiuk commented on #17897
CAn you try it again on MySQL 8  ? You did mention that you saw it before, but somehow I have a feeling that this is REALLY a MariaDB problem.

[2021-09-02 08:31] #17981 closed

[2021-09-02 09:02] ephraimbuddy commented on #13542
Thanks @easontm , It's a bug. I have a PR trying to address that see https://github.com/apache/airflow/pull/17945

[2021-09-02 09:32] kaxil commented on #13542
The workaround for now would be to increase `[scheduler] max_dagruns_per_loop_to_schedule` to a higher value, default is 20

[2021-09-02 09:35] noelmcloughlin commented on #17507
Yes. I downgraded to 2.1.2 and the issue is gone away for now.

[2021-09-02 09:36] noelmcloughlin commented on #10026
I downgraded to 2.1.2 and the problem is gone for now.   See related https://github.com/apache/airflow/issues/17507

[2021-09-02 09:56] ashb commented on #17931
The main reason I've previously gone down the "require classes the scheduler/webserver will load to require registration" is I  have medium term plans to allow a dag definition to be submitted via  an API (i.e. an Airflow user to post a JSON blob) -- and I don't want to open that up to allowing reverse-shell or similar by creating an instance of a random class.

[2021-09-02 10:29] uranusjr commented on #17931
So it seems like method 1 is desired? I don’t think it technically changes the equation, but sounds like always requiring registration is the safest route. (Although it does make writing customised timtable more difficult since now you can only use pre-defined timetable classes instead of inventing things right inside a DAG file.)

[2021-09-02 10:51] ashb commented on #17931
Since the scheduler needs to load the timetable class, and Airflow tries very hard to never load dag code in to a long running process, I think not being able to define it in a DAG file is, sadly, desired behaviour.

You'd have to define it in a plugin which can live in `plugins/` along side `dags/`, so users won't have to create a Python dist etc.

[2021-09-02 10:59] bbovenzi commented on #17979
It is working correctly since its showing the 25 most recent runs going back from the current date. Expanding the number of runs to 100 or 365 or manipulating the date will let you see the running tasks.

I'm not sure if this is something we want to fix.

Although I do notice a separate issue of how the tree refresh will render many newly created dag runs.

[2021-09-02 11:45] JavierLopezT commented on #17922
Tested [https://github.com/apache/airflow/pull/17379]

[2021-09-02 11:51] ashb commented on #17889
Variables didn't use to have descriptions, and when someone added it via the UI they forgot about the python API.

The interface uranusjr  proposes looks like a good one.

[2021-09-02 11:59] noelmcloughlin commented on #17507
Sorry I was on 2.1.2 (okay), took 2.13 (issue seen), downgraded to 2.1.2 (okay again).

[2021-09-02 12:04] galuszkak commented on #13322
Hey @potiuk,

would it be possible to reopen this issue given that there is open PR patch for this in #17305 ?

[2021-09-02 12:10] ephraimbuddy commented on #17979
I'm thinking that we should make the running dags visible. Is there a way we could prioritize running dagruns to show first?

[2021-09-02 12:20] WesleyBatista commented on #9490
another characteristic of this bug: the logs are available while the task is running, but disappear when the task fail.

still present on v2.0.2, which now outputs the error name instead of the code:

[code]

[2021-09-02 12:41] eladkal commented on #17810
@zachliu we will have 2.1.4 the PR already marked to be released

[2021-09-02 13:08] nijkah opened #17988 "DAGBAG_IMPORT_TIMEOUT does not work"
### Apache Airflow version

2.1.1

### Operating System

18.04.5 LTS (Bionic Beaver)

### Versions of Apache Airflow Providers

apache-airflow==2.1.1
apache-airflow-providers-amazon==2.0.0
apache-airflow-providers-celery==2.0.0
apache-airflow-providers-cncf-kubernetes==2.0.0
apache-airflow-providers-docker==2.0.0
apache-airflow-providers-elasticsearch==2.0.1
apache-airflow-providers-ftp==2.0.0
apa

[2021-09-02 13:44] suhanovv commented on #14924
we have the same problem
airflow 2.1.3 in k8s cluster with CeleryExecutor

15 days of logs give us
![image](https://user-images.githubusercontent.com/3032319/131854059-cd078fd8-7e1d-4da2-a0c5-c9c6ee0c65c4.png)
~ 6GB memory usage and ~1.7 after delete 12 days of logs

[2021-09-02 14:02] ashb commented on #17507
That's what I thought, just wanted to confirm.

[2021-09-02 14:11] potiuk commented on #17988
Did you restart your scheduler  after the change? and did you change it as "global" variable or "worker" one?

I believe you should repeat your getfloat() from `scheduler` not from "worker" - and it is very likely your scheduler still uses the old value.

However I have side comment, but very important. You will have a LOT of problems if your DAGs are importing that long.

Import of > 30 seconds i

[2021-09-02 14:12] #17988 closed

[2021-09-02 14:56] potiuk commented on #14924
Few questions.

Do you know which processes/containers keep the memory? Is it scheduler (and which container)? Maybe you can see the breakdown per process as well ? I understand this is whole cluster memory, and I am trying to wrap my head around it and see where it can come from, because it is super weird behaviour to get back memory after deleting files (?).

Dp you simply run "rm *"  in the "/o

[2021-09-02 15:11] CapBananoid commented on #14924
I did nothing but a rm and it dropped quite immediately (sorry the memory is brought back by prometheus andd you have delay but what I can tell you is that it dropped within 15s after I did the rm)
I just did it on my dev instance in fact, same result
The container is the scheduler, I run separate container for each service, this is the one with the command "airflow scheduler -n -1"
I don't think

[2021-09-02 15:22] CapBananoid commented on #14924
fun fact
if I create new log folders (doing "cp -R 2021-09-01 XXX" for example) then... memory rises 30s afterwards

[2021-09-02 15:32] potiuk commented on #14924
Ah right. The last line you wrote is GOLD.

That probably would explain it and it's NOT AN ISSUE.

When you open many files Linux basically will use as much memory it can for file caches. Whenever you read or write a file, the blocks of disk are kept also in memory just in case the files needs to be accessed by any process. It also marks them dirty in case the blocks change and evicts such dirty b

[2021-09-02 15:38] stephenonethree opened #17992 "way to make an "all_done" task impervious to "Mark Failed" with "Downstream" selected"
### Description

I have a cleanup task that I want to run at the end of a DAG no matter what. To attempt to do this, I am putting it at the end with `trigger_rule='all_done'` like so:

    always_run = DummyOperator(
        task_id='always_run',
        trigger_rule='all_done',
        dag=dag
    )
    penultimate_task >> always_run

However, I think that this might not be completely bulletproof

[2021-09-02 15:42] potiuk commented on #14924
Actually one thing that it might be caused by. Do you happen to run any kind of automated log rotation ? We have a "clean-logs.sh" script in the official Image that can be run to clean the logs.  This will have a side-effect of freeing the Page Cache memory used by that files: https://github.com/apache/airflow/blob/main/scripts/in_container/prod/clean-logs.sh

[2021-09-02 15:45] Narendra-Neerukonda opened #17993 "Allow the encoding to be configurable in airflow config to read/write task logs"
### Description

Airflow uses the system default encoding for reading task logs. This creates problem on few systems when reading a log file with characters out of system default range (Ex: out of ascii range) will cause error like "codec can't decode byte **** in position **** "

### Use case/motivation

We should allow users to specify which default encoding they would like to use for reading an

[2021-09-02 15:45] Narendra-Neerukonda commented on #17993
i would like to work on this.

[2021-09-02 15:49] Narendra-Neerukonda commented on #17993
Extension to #17965
Related to #16834

[2021-09-02 15:50] CapBananoid commented on #14924
I can set that launch with a Cron Job easily yes but even if I understand the cache thing, I don't get why it would cache files it doesn't even need to look at (when I create dummy folder in the logs folder)
I will also try implementing limits in the scheduler container to see if it does the trick
Strange thing is that this memory increase is not seen with the web service
And finally, what you say

[2021-09-02 16:16] crazyproger commented on #16573
Just found failed task with exactly this message. Airflow 2.1.3.
first task attempt end of log:
[code]
Second attempt log(full):
[code]

[2021-09-02 16:19] potiuk commented on #14924
Well you do create a cache at the moment you WRITE the file (and when it is flushed to disk). This is simply how linux Page Cache write. You can specifically prevent the file to be written to cache when you save files but this is low-level API and very few systems do it because it has no effect besides dropping the metrics.

With the webserver, you likely already reached the memory limits and the

[2021-09-02 16:38] josh-fell commented on #9415
Last PR merged. I'll start working on this now. Thanks for your patience @eladkal

[2021-09-02 16:41] suhanovv commented on #14924
my screenshot shows the metric container_memory_working_set_bytes, it decreased after 10 seconds (scraping time of metrics) after rm execution, scheduler did not restart

[2021-09-02 16:42] potiuk commented on #17993
Question - how do you want to do it ?

From what I know, the best and recommended way to set the encoding for python is to configure the right language settings in  environment (basically LANG settings).  Any attempt to do it in python code is a futile effort and is a band-aid rather than solution (especially when you use multiprocessing, forking and multiple entry-points which make Python interpr

[2021-09-02 16:59] potiuk commented on #14924
Ah. so investigation begins again then. @suhanov , Need some more answers :).

Just to clarify: So the 4GB memory drop (out of 6GB) was all from `container_memory_working_set_bytes` ?

Do you know which processes they were ?  Do you have any other processes running in the container besides airflow ? Was there a drop in a number of processes when you deleted the files?

Maybe you can even look now

[2021-09-02 17:00] WulkanHefajstos commented on #13322
Hey Guys!

I'm facing similar issue but with `DebugExecutor` (__Airflow 2.1.0__).

I've found two cases when `BackfillJob` fails with the ` KeyError: TaskInstanceKey(....` in `_update_counters` method.

The first one is described in #17305 and the second one occurs when I run tests for tasks that've already been executed with any other executor (hence they already have increased try number in DB).

[2021-09-02 17:11] raefezzeldin opened #17994 "Abnormal Airflow Scheduler Behavior v2.1.3"
### Apache Airflow version

2.1.3 (latest released)

### Operating System

PRETTY_NAME="Debian GNU/Linux 10 (buster)" NAME="Debian GNU/Linux" VERSION_ID="10" VERSION="10 (buster)" VERSION_CODENAME=buster ID=debian HOME_URL="https://www.debian.org/" SUPPORT_URL="https://www.debian.org/support" BUG_REPORT_URL="https://bugs.debian.org/"

### Versions of Apache Airflow Providers

apache-airflow-provid

[2021-09-02 17:24] josh-fell commented on #10285
@turbaszek @mik-laj @potiuk All of the PRs to update the example DAGs have now been merged. This issue can be closed if you feel they have satisfied the scope of this issue.

[2021-09-02 17:41] suhanovv commented on #14924
![image](https://user-images.githubusercontent.com/3032319/131887878-22acf4cf-12f3-4b36-a734-ee4b6f345e27.png)
yes

after deleting files, the number of processes has not changed

![image](https://user-images.githubusercontent.com/3032319/131891322-c0396bdd-e9fe-419b-a030-83a3d0c1e7fc.png)

local fs

[2021-09-02 17:43] Narendra-Neerukonda commented on #17993
@potiuk , I'll need some time to research on this to find the best solution.
As of now i was thinking to allow users to specify the desired encoding for task logs in airflow.cfg and use utf-8 as default in case users don't specify (only for reading/writing task logs). As far as i know, most systems stick well with utf-8. In the issue associated with this feature, the problem i noticed was that the

[2021-09-02 18:20] #10285 closed

[2021-09-02 18:22] mik-laj commented on #10285
@josh-fell thanks. Closed!

[2021-09-02 18:26] dimon222 commented on #17897
Just tested on Mysql 8.0.11 and was able to replicate exactly same scenario.

As reminder,
1. Store DAGs to True
2. Create dag with tags, let airflow pick it up
3. Edit 1 tag in that dag by changing only case (test -> Test)
4. Scheduler fails to populate updated tags and giant stacktrace of duplicate row.

Testing the provided change in manager.py now...

[2021-09-02 18:26] potiuk commented on #10285
Fantastic! Thanks @josh-fell !

[2021-09-02 18:32] potiuk commented on #17897
Very, very interesting. Curious to see it with the fix. Is it also possible that you add two wanings to those two sides of the condition and see the Warnings generated?  (there will be a lot of them but I wonder whether the "if" statement works as expected in your case)

https://github.com/apache/airflow/blob/430976caad5970b718e3dbf5899d4fc879c0ac89/airflow/utils/sqlalchemy.py#L247

[2021-09-02 18:45] potiuk commented on #17993
@Narendra-Neerukonda  My point is that I believe you "CAN'T" reliably set encoding in Python code in all scenarios. Once Python interpreter starts, you are basically done (and this is inherently because different libraries of python might be initialized in different sequence and depending on how you enter the interpreter, the sequence might be different). This at least has been my experience so fa

[2021-09-02 18:55] rpfernandezjr commented on #15580
@kipkoan  - no i just ended up using `restartPolicy: Never` in my pod template spec.

[2021-09-02 19:08] Narendra-Neerukonda commented on #17993
Hi @potiuk
This feature request is in reference to your comment: https://github.com/apache/airflow/issues/16834#issuecomment-877607117

Can you please once confirm if we are on the same page. This feature request is just to make the utf-8 encoding part in your comment configurable from airflow.cfg

[2021-09-02 19:12] potiuk commented on #17993
I never said anythint to reading default encoding in `airflow.cfg` and set default encoding:

I thought there more about making sure it is ALWAYS  "utf-8". But I think setting default encoding in python code based on 'setup.cfg` is not possible. This is not a good way to achieve that IMHO (bacause of the reasons I explained above).

[2021-09-02 19:19] christine-le commented on #15607
Just wanted to chime in to say we ran into the exact same error under pretty similar set up as @neilharia7 with a set of dynamic dags. Setting processor_poll_interval to 30 seconds (up from the default of 1 second) resolved the error for us.

We may play around with this number a bit and see if we can reduce this number a bit. We have a couple thousand dags, many of which are dynamically generated

[2021-09-02 19:20] potiuk commented on #17993
It's nothing personal @Narendra-Neerukonda - It's just comment that I think what you proposed (reading from config and making sure that it is used for all reads/writes by setting default encoding) is not feasible. Prove me I am wrong. I lost many hours on trying to do similar things in the past and failed miserably, but maybe I am simply wrong.

[2021-09-02 19:32] #15888 closed

[2021-09-02 19:48] potiuk commented on #14924
@suhanovv  - Is the `container_memory_working_set_bytes` growing still continuously now ? Can you observe it for a while and when it grows, compare the memory used by processes and see which one is taking the GB of memory? I think knowing that would speed up any kind of hypothesis/investigation waaaay easier.

[2021-09-02 20:01] Narendra-Neerukonda commented on #17993
Ahh... All well from my end too @potiuk
Very thankful for your patience in explaining the details above.

I was just trying to add a config like say "task_log_encoding" in airflow.cfg in reference to a comment: https://github.com/apache/airflow/pull/17965#discussion_r700831719 which is from the PR raised to close #16834

This config would only be used to read/write the task logs to prevent any tas

[2021-09-02 20:25] suhanovv commented on #14924
@potiuk

At the moment, the container_memory_working_set_bytes has grown by about 150-200 mb, I will observe and try to further investigate the reason for this behavior. I will write the results in a few days

[2021-09-02 20:40] SamWheating commented on #17889
I can put together a PR for this if you want to assign this one to me.

[2021-09-02 20:57] alwaysmpe commented on #17833
FYI: I'm currently moving house. Should have a look at this over the weekend. My thought was leave the current functionality working as is, if the host value in extra isn't present, use the connection defined version. Probably needs to combine host/port number, so I'll add a function to the connection to do that.

[2021-09-02 21:19] ashb commented on #17833
That sounds about right, yes

[2021-09-02 21:22] ashb commented on #14924
When I was digging in to a similar issue I couldn't see the memory attributed to any particular process -- only the whole container.

So that led me to believe the problem was not a traditional memory leak from the python code, but something OS related.

[2021-09-02 22:36] potiuk commented on #17993
Ah. I see. Apologies -  this time It was also my extrapolation of what "default encoding" means :D. If we do not try to set "global default enconding" but limit it to log writes/reads and try to male sure we cover all cases, this is all good.

Glad that we sorted it out :) and thanks in return for patience on your side. This is the bad side of the written communication that assumptions can take ov

[2021-09-02 22:54] #17932 closed

[2021-09-02 23:28] potiuk commented on #17735
Yeah. We have not looked at it yet, but I think this problem has a "deployment" proposal rather than "airflow" one.

Simply the "other user" that you run should be able to write to the file that is created by Airflow. Maybe we should make it clear in the documentation for "run as user" that the users should be configured this way.  Using Linux access right it is not easy  to do it in "general" way

[2021-09-02 23:49] potiuk commented on #14896
Well, I think we are talking about two different issues with "deamonic processes" and this is the source of confusion here.

1) The original stack trace here (by @ivanrezic-maistra ) was about using PythonOperator running "multiprocessing"  using LocalExecutor - and this is the one which I wrote about in the `billiard` context.  The issue was about using multiprocessing inside your own customised

[2021-09-03 00:05] #10686 closed

[2021-09-03 07:48] microhuang opened #18002 "RecursionError: maximum recursion depth exceeded while calling a Python object"
### Apache Airflow version

2.1.3 (latest released)

### Operating System

CentOS 8

### Versions of Apache Airflow Providers

_No response_

### Deployment

Virtualenv installation

### Deployment details

_No response_

### What happened

 An error occurred while navigating this url -- /log?dag_id=demo2&task_id=ddd&execution_date=2021-09-03T06%3A00%3A00%2B00%3A00

Something bad has happened.

Ai

[2021-09-03 08:21] m1racoli opened #18003 "CloudSqlProxyRunner doesn't support connections from secrets backends"
### Apache Airflow Provider(s)

google

### Versions of Apache Airflow Providers

apache-airflow-providers-google~=5.0

### Apache Airflow version

2.1.3 (latest released)

### Operating System

MacOS Big Sur

### Deployment

Astronomer

### Deployment details

_No response_

### What happened

The CloudSqlProxyRunner queries the Airflow DB directly to retrieve the GCP connection.

https://github.

[2021-09-03 08:26] ephraimbuddy commented on #18002
@microhuang, can you explain how we can reproduce the issue? Without reproduction steps or more explanations, we won't know how to help with this.

[2021-09-03 08:31] microhuang commented on #18002
I can't reproduce this problem. It sometimes happens (it's a low-frequency phenomenon) and sometimes it doesn't happen. I don't understand the reason.

[2021-09-03 08:31] microhuang commented on #18002
I can't reproduce this problem. It sometimes happens (it's a low-frequency phenomenon) and sometimes it doesn't happen. I don't understand the reason.

[2021-09-03 08:34] microhuang commented on #18002
I can't reproduce this problem. It sometimes happens (it's a low-frequency phenomenon) and sometimes it doesn't happen. I don't understand the reason.

[2021-09-03 08:57] #18002 closed

[2021-09-03 09:11] minu7 opened #18005 "Neo4j Hook does not return query response"
### Apache Airflow Provider(s)

neo4j

### Versions of Apache Airflow Providers

apache-airflow-providers-neo4j version 2.0.0

### Apache Airflow version

2.1.0

### Operating System

macOS Big Sur Version 11.4

### Deployment

Docker-Compose

### Deployment details

docker-compose version 1.29.2, build 5becea4c
Docker version 20.10.7, build f0df350

### What happened

[code]
If i run the code sni

[2021-09-03 09:16] potiuk commented on #17735
I plan to  update the docs around the "run_as_user" to make it a "recommended practice" soon.  Let me know if you see any problems with it please :)

[2021-09-03 09:28] SCrocky commented on #17815
I'm starting contributing.

Can I take this?

[2021-09-03 09:36] uranusjr commented on #17815
Go ahead.

[2021-09-03 09:42] potiuk commented on #18005
Cool. Go for it :)

[2021-09-03 10:06] potiuk commented on #17922
Last chance to test remaining providers :D

[2021-09-03 10:20] suhanovv commented on #14924
@potiuk @ashb
Firstly, since yesterday's deletion of the logs, memory consumption has grown by about 500MB.

Second: my research led me to the following:

Since the processes during this time did not consume more memory, and there were no processes in /proc/*/fd that were holding descriptors to the old logs, I decided to see what the Container_memory_working_set_bytes metric is actually showing -

[2021-09-03 10:23] SCrocky commented on #17815
Can someone explain why the salesforce provider operator and sensor both contain tableau provider empty files?

Also the salesforce hook folder also has an empty tableau hook file in there.

I think they should've been deleted in commit [Add Tableau Provider Separate from Salesforce Provider](https://github.com/apache/airflow/commit/45e72ca83049a7db526b1f0fbd94c75f5f92cc75#diff-013f494aaae3dee1fbd

[2021-09-03 10:28] raphaelauv commented on #14924
Thanks @suhanovv for your investigations

Do you have the aws S3 log export activated ? ( if it's the case , could you make a test where it's deactivated )

Last time I add "weird" (non process related) memory consumption it was related to a "memory leak" cause by aws boto3

[2021-09-03 10:29] potiuk commented on #14924
My thought exactly, feels like some 3rd-party process running and accessing the logs.

[2021-09-03 10:32] suhanovv commented on #14924
No, we don't use s3

[2021-09-03 10:43] potiuk commented on #14924
(BTW - is the first screenshot wrong @suhanovv ? It indicates "growing" memory rather than "shrinking" after delete).

[2021-09-03 10:47] suhanovv commented on #14924
sory it was wrong, fixed

[2021-09-03 11:01] suhanovv commented on #14924
I also came up with the idea to look at the stat by files, but unfortunately after deleting the logs, I will do it the next time I delete it, next week. But at the moment, all logs for September 2 have similar dates for accessing files:

Access: 2021-09-02 00:00:11.232221400 +0000
Modify: 2021-09-02 23:59:41.722766166 +0000
Change: 2021-09-02 23:59:41.722766166 +0000

[2021-09-03 11:21] Limess opened #18009 "Task groups are not stable in the UI"
### Apache Airflow version

2.1.3 (latest released)

### Operating System

Amazon Linux 2

### Versions of Apache Airflow Providers

_No response_

### Deployment

Other Docker-based deployment

### Deployment details

ECS, not relevant to issue

### What happened

The tree UI changes the order of tasks on auto refresh occasionally. This is fairly jarring when tracking a DAG run.

### What you exp

[2021-09-03 11:27] ashb commented on #17735
Duplicate of https://github.com/apache/airflow/pull/15947

[2021-09-03 11:27] #17735 closed

[2021-09-03 11:29] ashb commented on #17735
We can fix this by changing the permission on the file after it's opened -- by doing that, the parent process has an open file handle already so can read it, and the child/sudo'd process can write to it.

[2021-09-03 11:34] kcphila commented on #17735
Hi @potiuk, thanks for the response.  However, this would not work and is deeply problematic. This essentially requires us to completely change our entire user and group management policy... so that Airflow can create a temporary file to log error details for a few minutes at a time. Remember that this issue is solely about a temporary file. I just started setting up Airflow to replace existing cr

[2021-09-03 11:37] eladkal commented on #17815
Tableau used to be in Salesforce provider. It was extracted to a seperated provider. To avoid breaking change we left the option to import tableau from Salesforce provider which will be removed eventually.

You can ignore the tableau folder in the salesforce provider. If you wish to add examples for tableau add them to the Tableau provider.

[2021-09-03 11:41] SCrocky commented on #17815
Backwards compatibility. Got it.

[2021-09-03 11:47] bbovenzi commented on #17727
This is happening when we redirect the home page to itself on this [line](https://github.com/apache/airflow/blob/main/airflow/www/views.py#L581).

Is there a better way we can clean up the filter tags cookie?

[2021-09-03 11:51] potiuk commented on #14924
I looked a bit more. I have a hypothesis what could be the problem - I looked at the possibility that we have growing "dirty" memory (i.e. not flushed/synchronised to disk).

My hypothesis is that (at least some of) the logs are not flushed and they remain in "dirty" (or rather "unsynchronized") state. That would be fairly strange as usually "dirty" memory is synchronized after at most few seconds

[2021-09-03 12:15] #17931 closed

[2021-09-03 12:21] potiuk commented on #17735
Yeah. Better way indeed.

[2021-09-03 12:38] suhanovv commented on #14924
As far as I know, no optimizations were made,
and the problem is not with the logs of the dag processor manager, but the problem with the logs of DagFileProcessorProcess and the default airflow.utils.log.file_processor_handler.FileProcessorHandler is used there without any modifications and custom configurations.

At the moment, I'm not sure than the problem is in the "dirty" memory,

![image](htt

[2021-09-03 12:39] #17966 closed

[2021-09-03 12:44] bhavaniravi commented on #8208
Hi, @mik-laj. I want to contribute too. I have some understanding of GCP products. Let me know where to start

[2021-09-03 12:46] #17969 closed

[2021-09-03 12:50] mhaalme opened #18010 "Airflow scheduler with statsd enabled crashes when dag_id contains unexpected characters"
### Apache Airflow version

2.1.1

### Operating System

Oracle Linux 7.9

### Versions of Apache Airflow Providers

_No response_

### Deployment

Virtualenv installation

### Deployment details

The problem initially happened in a virtualenv installation of airflow 2.1.1 running as a systemd service.

I tried to reproduce it using docker-compose and airflow version 2.1.0; the problem occurs ther

[2021-09-03 12:54] eladkal commented on #18010
Duplicate of https://github.com/apache/airflow/issues/8634

[2021-09-03 13:01] Tonkonozhenko opened #18011 "Task stuck in upstream_failed"
### Apache Airflow version

2.1.3 (latest released)

### Operating System

Debian

### Versions of Apache Airflow Providers

_No response_

### Deployment

Other Docker-based deployment

### Deployment details

_No response_

### What happened

1. task prepare_timestamps failed with unknown k8s-related issue (most likely pod was killed)
2. task prepare_timestamps succeeded on the second try
3. Dow

[2021-09-03 13:04] mhaalme commented on #18010
I don't think this counts as a duplicate as we're talking about different components, different versions and different errors. In my case (version 2.1.1) the webserver does not seem to be affected by the non-ascii characters at all and runs just fine. It is the scheduler that crashes.

[2021-09-03 13:22] potiuk commented on #14924
Ok. not 100% sure  this is the problem but I think it's very probable and I have potential fix in #18012. I believe we were not calling .close() method on FileHandler in case the FileProcessorHandler context changed (but I am not 100% sure if that's what happening).  @ashb - care to take a look ?

[2021-09-03 13:27] dberzano commented on #16881
For the record, we're having the same problem. This is perfectly reproducible when:

* we have any task running using the `KubernetesExecutor`
* the scheduler gets restarted for some reason

We always end up with:

* the currently-running pod being terminated,
* a new one being created in place,
* the task terminating with the following message:

[code]

Note that this is happening with **Airflow

[2021-09-03 13:27] potiuk commented on #14924
@suhanovv -> mayb you can apply the patch (maybe tomorrow) and test it ?

[2021-09-03 13:31] suhanovv commented on #14924
@potiuk
I was just planning to test a similar fix on our installation, since by examining the code I could not find where the file is being closed.

[2021-09-03 14:00] ashb commented on #14924
So I _think_ that the file handler will be closed by the GC finalizer (and since Python uses both ref counting and a period GC to detect loops) assigning `self.handler` to something else should GC the old handler and old FH.

_Should_. But it is entirely possible that the logging framework might have another reference to it somewhere hanging around.

[code]

[code]

[code]

[code]

[2021-09-03 14:31] rpfernandezjr commented on #18011
I just recently upgraded to `2.1.3`, and I'm seeing the same thing.

on some cases, upstream tasks succeeds, but the downstream tasks are stuck in an `upstream_failed` state.

[2021-09-03 14:37] #17869 closed

[2021-09-03 14:59] dberzano commented on #16881
OK, let me retract - our problem was, seemingly, different. The `serviceaccount` provided to the scheduler was not bound to roles containing the verb `patch` for the `pod` kind... so the issue is solved for us.

@rodrigo-morais maybe it was the same issue for you, not sure. Apologies in advance for the noise, but let me share in case it helps you - In our case, the scheduler's error message contai

[2021-09-03 15:02] subkanthi commented on #17922
@potiuk  tested both
 Example dag slackfile (#17400):
 Fixed SlackAPIFileOperator to upload file and file content (#17247):

it works, thanks

[2021-09-03 16:21] Narendra-Neerukonda commented on #17993
I'll be back with a PR for implementation review in few days (with all the above suggestions).
Thank you.

[2021-09-03 16:56] potiuk commented on #17922
Thanks everyone for testing! You rock!

[2021-09-03 16:56] #17922 closed

[2021-09-03 17:27] ephraimbuddy commented on #18011
Related: https://github.com/apache/airflow/issues/16625
PR trying to address this: https://github.com/apache/airflow/pull/17819

[2021-09-03 17:40] potiuk commented on #18010
Agree it's likely something we should address. I am just wondering why it did not fail at trying to insert DAG to the DB - the DAG_ID there should only allow ASCII.

[2021-09-03 19:05] SamWheating opened #18023 "Many queued Dagruns created for DagRuns with a start_date in the past"
### Apache Airflow version

2.1.3 (latest released)

### Operating System

Debian GNU/Linux 10 (buster)

### Versions of Apache Airflow Providers

_No response_

### Deployment

Other 3rd-party Helm chart

### Deployment details

_No response_

### What happened

When a DAG is created with a start date far in the past and a relatively small schedule interval, the scheduler will create _a lot_ of q

[2021-09-03 19:41] jmorgannht opened #18024 "Dag start date is cleared when an automatic task retry is triggered"
### Apache Airflow version

2.1.3 (latest released)

### Operating System

Ubuntu 18.04.5 LTS

### Versions of Apache Airflow Providers

apache-airflow-providers-celery==1!1.0.1
apache-airflow-providers-databricks==1!1.0.1
apache-airflow-providers-ftp==1!1.1.0
apache-airflow-providers-http==1!1.1.1
apache-airflow-providers-imap==1!1.0.1
apache-airflow-providers-microsoft-azure==1!2.0.0
apache-airf

[2021-09-03 20:03] collinmcnulty commented on #18023
`max_active_dagruns` is checked when moving a dagrun from `queued` to `active`. My understanding is that centralizing the logic in `_start_queued_dagruns` was intentional to prevent there being multiple places that require logic for limiting the number of dagruns.

Are you seeing a performance impact? It would seem that while this increases the time between queued and running, changing this would

[2021-09-03 20:26] #18003 closed

[2021-09-03 20:35] ZackingIt opened #18025 "KubernetesPodOperator uses filepath's *contents* rather than generated filepath for config_file parameter"
### Apache Airflow version

2.1.3 (latest released)

### Operating System

Ubuntu VERSION="16.04.6 LTS (Xenial Xerus)"

### Versions of Apache Airflow Providers

2.1.3

### Deployment

Docker-Compose

### Deployment details

My docker-compose.yaml is identical to the default dev box example except I mount a few additional volumes:

[code]

### What happened

KubernetesPodOperator seems to be *open

[2021-09-03 20:40] collinmcnulty commented on #17992
You allude to this at the end; wouldn't you get the exact behavior you want from just marking the single task failed? Then all the tasks that aren't `all_done` will get marked `upstream_failed` but your `all_done` task won't be affected, right?

[2021-09-03 20:59] stephenonethree commented on #17992
Yeah, that's correct. My concern though is that I think marking things as downstream failed may be one of the most common ways to clear things: In practice our DAGs often have like 50 parallel tasks, and these are the tasks that we most commonly want to mark failed. Rather than sitting there and marking each one of them as failed one-by-one, we save time by choosing the task above it and marking e

[2021-09-03 21:01] eladkal commented on #18010
I was able to create both dag_id and task_id with non ascii char:
[code]

![Screen Shot 2021-09-03 at 22 56 27](https://user-images.githubusercontent.com/45845474/132059476-2018c0ab-610c-40e3-9bb7-f4f167c54bcc.png)

However I wasn't able to create with `♥O◘♦♥O◘♦`:
![Screen Shot 2021-09-03 at 23 42 10](https://user-images.githubusercontent.com/45845474/132063411-f14b84bc-3245-4bee-99e4-0ed1081c0a0e

[2021-09-03 21:25] ephraimbuddy commented on #18024
I was not able to reproduce this in 2.1.3(using Sequential Executor)
Also tested in main using LocalExecutor.

[2021-09-03 21:27] potiuk commented on #18010
For now - yeah. The problem is that DAG_ID and TASK_ID are also used as descriptions in the UI. And I perfectly understand why someone would like to use the national characters for them.

So maybe we should either a) allow to use non-ASCII and fix all the problems related or b) add some non-ascii description. We had a chat about it with @ashb recently and I think we both lean towards allowing non-

[2021-09-03 21:32] ephraimbuddy commented on #18023
It doesn't go through the entire dagruns. It goes through a subset controlled by `max_dagruns_per_loop_to_schedule`. And dagruns returned are ordered by `last_scheduling_decision`,  unless you are seeing a performance impact?

[2021-09-03 22:18] potiuk opened #18028 "Status of testing Providers that were prepared on September 04, 2021"
I have a kind request for all the contributors to the latest provider packages release.
Could you help us to test the RC versions of the providers and let us know in the comment,
if the issue is addressed there.

## Providers that need testing

Those are providers that require testing as there were some substantial changes introduced:

### Provider [microsoft.psrp: 1.0.1rc2](https://pypi.org/proje

[2021-09-03 22:20] potiuk commented on #18028
@nathadfield - I'd appreciate if you tested the Vailt #17935

[2021-09-03 23:28] ephraimbuddy commented on #18023
It won't be a bad idea to add a limit to queued dagruns creation anyway

[2021-09-04 00:50] pembo13 commented on #13322
I seem to be getting the same error with `apache-airflow==2.0.0`? Should I create a new issue?

[2021-09-04 07:44] eladkal commented on #11118
I'm closing this request as it didn't get any attention and the use case here seem very customized to one user.
If there will be future requests for that we can revisit it.

[2021-09-04 07:44] #11118 closed

[2021-09-04 07:55] eladkal commented on #9687
It was released in Airflow 2:
https://github.com/apache/airflow/blob/fd5d65751ca026d2b5f0ec1e4d9ce1b1e09e5b22/airflow/utils/email.py#L78-L79

closing as there is no action on this issue.

[2021-09-04 07:55] #9687 closed

[2021-09-04 10:30] ephraimbuddy commented on #17994
I _think_ it's resolved in https://github.com/apache/airflow/pull/17786 can you test in _main_?

[2021-09-04 11:24] Nimesh-K-Makwana commented on #14672
I am getting this issue in 2.1.3 as well. All retires are also getting sigkilled.
Error : airflow.exceptions.AirflowException: Task received SIGTERM signal

[2021-09-04 13:51] eladkal commented on #7852
This issue is reported against airflow 1.10.9 which is a very old version of Airflow.
If the issue happens on Airflow 2.1.3 / main we can reopen.

[2021-09-04 13:51] #7852 closed

[2021-09-04 13:56] eladkal commented on #10661
Can you please test if the issue happens on latest version (2.1.3)/ main branch?

[2021-09-04 14:03] eladkal commented on #8568
hey @ryanyuan do you wish to complete the PR?

[2021-09-04 14:14] yuqian90 opened #18031 "Alert if a task misses deadline"
### Description

We often need to be notified if a task is not finished by certain deadline. This may sound very similar to the existing SLA concept, but unfortunately, the SLA implementation makes it not useful for such cases for a few reasons:
1. sla_miss_callback only fires after the task finishes. That means if the task is never finished in the first place due to it being blocked, or is still

[2021-09-04 19:16] #18024 closed

[2021-09-04 19:50] potiuk commented on #17897
Just one more question - can you see the same if you just "change" the tag (i.e. no case-sensitive-only change) "test" -> "test1" for example? Since we cannot reproduce it, I am looking for a way to find out if it might be a DB configuration of some sorts.

[2021-09-04 20:14] potiuk commented on #17191
What do we do with this task? I think healthpoint endpoint with http check is pretty universal solution

[2021-09-04 21:43] collinmcnulty commented on #17992
Your motivations do make sense, I wonder if it would be a better fit for your use case if a) you made all of the parallel tasks that you would want to rerun together into a task group and b) if there was a UI option to mark all tasks in a task group success/failed. Your strategy of going one task upstream and doing mark failed downstream seems like a "hack" for doing this, correct?

[2021-09-04 21:48] stephenonethree commented on #17992
Yup it’s a hack. I like your proposed solution.

On Sat, Sep 4, 2021 at 5:43 PM Collin McNulty ***@***.***>
wrote:

[2021-09-04 22:55] ryanyuan commented on #8568
Hey @eladkal, I do. I pinged the reviewers lots of times but no one reviewed it. Hence it’s closed.

[2021-09-05 00:06] #17063 closed

[2021-09-05 00:57] edwardwang888 commented on #16877
@bbovenzi Do we usually add tests for cosmetic changes like this one? From a quick skim of the UI tests, it looks like they are mostly focused on the functional aspects of the UI. My changes also did not break any tests, so I am guessing this part of the code is not currently tested?

[2021-09-05 06:47] eladkal commented on #8568
Sorry for that. I'll help with the review :)
You can either reopen the closed PR and rebase it or open a new PR.

[2021-09-05 08:43] potiuk commented on #8568
Yeah. Sorry for that.  I missed that one too - happy to review @ryanyuan . It happens sometimes that we miss a  PR or two in a flood of them :D.

[2021-09-05 09:45] uranusjr commented on #18010
Regarding unicode-slugify, https://github.com/un33k/python-slugify (which is already a dependency) also supports unicode slugification, so we don’t need to add a new dependency. But yeah it’s probably a bit risky to include this in 2.2.

[2021-09-05 10:28] JavierLopezT opened #18034 "Use RedshiftSqlHook in Redshift-related Operators"
### Description

The idea is to replace PostgresHook for RedshiftSqlHook in https://github.com/apache/airflow/blob/main/airflow/providers/amazon/aws/transfers/redshift_to_s3.py and https://github.com/apache/airflow/blob/main/airflow/providers/amazon/aws/transfers/s3_to_redshift.py and creates a new RedshiftOperator

### Use case/motivation

_No response_

### Related issues

https://github.com/apa

[2021-09-05 10:41] kamushadenes commented on #9975
Observing the same behavior on 2.1.2 with catchup=False, this has been blowing through my quotas.

[2021-09-05 16:04] jedcunningham commented on #18025
Hey @ZackingIt, thanks for reporting this. This should be fixed in `apache-airflow-providers-cncf-kubernetes==2.0.2` via #17760. If not we can reopen this.

[2021-09-05 16:04] #18025 closed

[2021-09-06 00:55] ryanyuan commented on #8568
Hi @eladkal , @potiuk . Yeah all good! I understand there have been so many PRs coming in last 2 years.

I'll reopen my PR and check my code again. I may need to take a week or 2 to compare my code with the latest api code and doc to see if there are anything I need to update.

[2021-09-06 04:06] akashg116414 commented on #17928
It is known fact that it is works on UI but how about using it from API or cli commands, can you share me any reference if there is any API or Cli commands to change dagrun status from failed stage to running stage.

if we used Backfill then it will rerun last dagrun but what about re-run using dag runid.

[2021-09-06 06:40] Nimesh-K-Makwana opened #18041 "Tasks intermittently gets terminated with SIGTERM on kubernetes executor"
### Apache Airflow version

2.1.3 (latest released)

### Operating System

Linux

### Versions of Apache Airflow Providers

_No response_

### Deployment

Other

### Deployment details

Have tried env variables as given in this github issue [issues/14672](https://github.com/apache/airflow/issues/14672):
AIRFLOW__CORE__KILLED_TASK_CLEANUP_TIME: "604800"
AIRFLOW__SCHEDULER__SCHEDULE_AFTER_TASK_EXECU

[2021-09-06 07:29] ephraimbuddy commented on #9975
@aran3, I think your case has been fixed in https://github.com/apache/airflow/pull/17786 where tasks can start running while the dagruns are still queued. This would lead to the queued dagrun entering the running state

[2021-09-06 07:33] ephraimbuddy commented on #18041
Please provide the full task logs and also the scheduler logs. What you added above is only the part where the task failed but I believe something must have caused it to receive the sigterm

[2021-09-06 07:37] nathadfield commented on #18028
@potiuk All seems good from a Vault perspective now.  No issues starting Airflow or retrieving values from Vault.

[2021-09-06 07:49] Nimesh-K-Makwana commented on #18041
Seems to be failing while waiting or when they are time-consuming (long-running).
Providing the latest logs for a failed task due to sigterm :

**Task logs :**
*** Reading remote log from s3://prod-eks-airflow-logs/airflow/logs/backup_lms_rolling/Wait_for_creation/2021-09-06T07:10:00+00:00/1.log.
[2021-09-06 07:20:33,410] {taskinstance.py:896} INFO - Dependencies all met for <TaskInstance: backup_

[2021-09-06 09:34] ephraimbuddy commented on #18041
For the task to receive sigterm means something is killing your pods. Task runner receives SIGTERM when Pod is deleted. Can you check if something else is deleting your pods?

[2021-09-06 10:16] potiuk commented on #18028
Cool! Thanks!

[2021-09-06 10:17] potiuk commented on #18028
@malthe @davlum -> I'd appreciate quick tests there and we should be able to release those tomorrow I think :)

[2021-09-06 10:20] potiuk commented on #8568
🙏

[2021-09-06 10:20] Nimesh-K-Makwana commented on #18041
True, when a pod gets deleted they are getting SIGTERM. I have tried to get the cause of pods getting deleted, but could not find any reason for it yet. It happens just randomly.

[2021-09-06 10:50] potiuk commented on #14924
Hey @suhanovv - any results of the tests ?

[2021-09-06 11:28] uranusjr commented on #17943
I think we need indexes on `DagRun.state` and `TaskInstance.state`.

[2021-09-06 13:02] suhanovv commented on #14924
@potiuk
We have deployed today and while we are watching, tomorrow I will return with the results

[2021-09-06 14:15] potiuk commented on #14924
🤞

[2021-09-06 14:36] CodingJonas commented on #9310
Sorry for not following up on my workaround, we moved to Kubernetes, so we did not finish polishing the workaround properly. I can still add the main code parts we used to try to fix it. Perhaps it helps you!

[code]

[2021-09-06 14:42] msumit commented on #17912
@potiuk yeah we can include the yaml support as well, but maybe in the next diff, cause the current diff is already become pretty big and hanging for a long time.

[2021-09-06 16:37] ryanlow-tw opened #18049 "`context` parameter is unused on method `execute` on class `TriggerDagRunOperator`"
### Apache Airflow version

2.1.3 (latest released)

### Operating System

macOS Catalina 10.15.7

### Versions of Apache Airflow Providers

_No response_

### Deployment

Virtualenv installation

### Deployment details

_No response_

### What happened

https://github.com/apache/airflow/blob/8505d2f0a4524313e3eff7a4f16b9a9439c7a79f/airflow/operators/trigger_dagrun.py#L116

`context` parameter is

[2021-09-06 17:03] ldacey commented on #12199
This would be perfect for tasks where failure is acceptable or predicted. Ideally this would be another state so it would not look red on the main Airflow page (I have been sharing my screen before and people have asked why there are so many failures for certain schedules, and I have to explain that failure is acceptable etc.).

[2021-09-06 17:44] jyotsa09 opened #18050 "Duplicating the same connection twice gives "Integrity error, probably unique constraint""
### Apache Airflow version

2.2.0

### Operating System

Debian buster

### Versions of Apache Airflow Providers

_No response_

### Deployment

Astronomer

### Deployment details

astro dev start

### What happened

When I have tried to duplicate a connection first time it has created a connection with hello_copy1 and duplicating the same connection second time giving me an error of
```Connection

[2021-09-06 18:23] potiuk commented on #18050
Is it possible that you make a PR fixing it? Seems like simple issue to fix?

[2021-09-06 18:24] potiuk commented on #18050
Airflow is build by the community - so anyone can make such fixes.

[2021-09-06 18:26] potiuk commented on #17912
absolutely

[2021-09-06 19:04] mik-laj commented on #18049
This parameter is required by BaseOperator, so we cannot change the signature of the method in a subclass.

Why do you want to invoke this method?

[2021-09-06 19:09] ashb commented on #18049
By having the code you show at the top level of your file  _every_ time Airflow parses the file (which is about once every 30s by default on new installs) it will call your TriggerDagRun task.

[2021-09-06 19:09] #18049 closed

[2021-09-06 19:42] bbovenzi commented on #16877
Yeah, you shouldn't have to worry about tests for this.

[2021-09-06 21:00] bmbejcek commented on #15604
Any updates on this? Currently facing this issue.

[2021-09-07 01:50] ShakaibKhan commented on #17476
So from [1]: "The automatic masking is triggered by Connection or Variable access. This means that if you pass a sensitive value via XCom or any other side-channel it will not be masked when printed in the downstream task." and going into task-command::task_test it looks like logs are being propagated so they are no longer masked. Seems to be WAI
[1] https://airflow.apache.org/docs/apache-airflow/

[2021-09-07 02:05] ShakaibKhan commented on #17962
This feature sounds interesting and I would like to try implementing it if no one minds :)

[2021-09-07 03:30] easontm commented on #18041
Is your DAG paused?

[2021-09-07 04:31] Nimesh-K-Makwana commented on #18041
DAG is in ON state.

[2021-09-07 04:55] r-richmond opened #18051 "Airflow scheduling only 1 dag at a time leaving other dags in a queued state"
### Apache Airflow version

2.1.3 (latest released)

### Operating System

Linux

### Versions of Apache Airflow Providers

I don't think it is relevant but can provide them upon request.

### Deployment

Other Docker-based deployment

### Deployment details

_No response_

### What happened

Completed an update to airflow 2.1.3 on Thursday and received an error report over the weekend that jobs w

[2021-09-07 07:01] datarian commented on #18051
I am also observing the same issue.

I can add that it is not limited to `max_active_runs = 1`. We tried to increase `max_active_runs` in the hope to speed up things, but the same deadlock for other DAGs was still present.

We have Airflow 2.1.3 deployed on k8s using the unofficial helm chart at https://github.com/airflow-helm/charts.

We mostly have default config settings. Changes related to the

[2021-09-07 08:16] #17046 closed

[2021-09-07 08:59] suhanovv commented on #14924
@potiuk
fix does not work

![image](https://user-images.githubusercontent.com/3032319/132313990-b52fcea7-15a2-4f99-98df-51d1b999d877.png)

while we have such a graph

![image](https://user-images.githubusercontent.com/3032319/132316096-39ded18c-0ff8-495d-8bf3-c9a54fdbb15f.png)

 for the old container without this patch and we cannot yet say why the memory consumption was falling - either it was co

[2021-09-07 09:08] eladkal commented on #17720
If you have a fix you can always open PR :)

[2021-09-07 09:16] lixiaoyong12 commented on #14924
We have deployed scheduler  today  and the memory is increased from 100 MB to 220 MB.

[2021-09-07 09:24] potiuk commented on #14924
So I guess the quest continues. Hmm. Interesting one that it wen't down indeed after some time. If that's the cache then this would be strange to have `container_memory_working_set_bytes`  (I presume the graph above is this?).

I have another hypothesis. Linux Kernel also has "dentries" and "inode" caches - it keeps in memory the used/opened directory structure and file node information. And I bel

[2021-09-07 09:26] potiuk commented on #14924
@lixiaoyong12 - what kind of memory you are talking about ? Is it `container_memory_working_set_bytes` or `container_memory_cache` ?

[2021-09-07 09:36] suhanovv commented on #14924
@potiuk
I will be able to check this in the late afternoon or tomorrow, since we had work on the cluster and had to restart the container and now it has no cache.

The fact that this is a cache, I'm sure, added to the chart container_memory_cache

![image](https://user-images.githubusercontent.com/3032319/132322142-7c60c4a9-567d-41fb-8549-bfbf54533321.png)

[2021-09-07 09:42] nathadfield opened #18053 "`VaultHook` AppRole authentication fails when using a conn_uri"
### Apache Airflow version

2.1.3 (latest released)

### Operating System

MacOS Big Sur

### Versions of Apache Airflow Providers

apache-airflow-providers-hashicorp==2.0.0

### Deployment

Astronomer

### Deployment details

_No response_

### What happened

When trying to to use the VaultHook with AppRole authentication via a connection defined as a conn_uri, I was unable to establish a connect

[2021-09-07 09:53] potiuk commented on #14924
Ah cool. So at least we figured that one out. Then it should be no problem whatsoever. One thing we COULD do is we could potentially add this hint to kernel to not add the files to the cache if this is a Page Cache. It's not a harm in general to get this cache growing, but adding the hint might actually save us from diagnosing and investigating issues like this ;)

[2021-09-07 10:08] nmehraein commented on #17507
Hi, that should be link with that PR ? [#17333](https://github.com/apache/airflow/pull/17333) .
The problem seem very similar.

[2021-09-07 10:26] laserpedro commented on #14672
Hello,

I am facing the same issue:
airflow 2.1.3 (tested also with 2.1.2)
backend: postgresql
executor: LocalExecutor

I have modified the variables killed_task_cleanup_time and schedule_after_task_execution to resp. 100000 and False.
I have also installed airflow as non root user and set the default run_as_user to be airflow.

My tasks are getting constantly killed in backfill mode with the trac

[2021-09-07 10:35] Nimesh-K-Makwana commented on #14672
Can u continue the thread here: [18041](https://github.com/apache/airflow/issues/18041)
Also provide task and scheduler logs.

[2021-09-07 10:39] cocampbe commented on #17788
@potiuk This is what we needed. Fetching and logging livy session logs for LivyOperrator #17393. That is what we needed.

[2021-09-07 10:39] #17788 closed

[2021-09-07 10:43] potiuk commented on #14924
@suhanovv -> this is the change you can try. https://github.com/apache/airflow/pull/18054 . While the ever growing cache is not a problem, possibly by implementing the advise to the kernel we can simply avoid this cache from growing in the first place.

[2021-09-07 10:44] mik-laj commented on #18053
I am looking forward to your contribution. I assigned this ticket to you.

[2021-09-07 10:56] ephraimbuddy commented on #18041
@Nimesh-K-Makwana can you set `delete_worker_pods` to false and observe this issue, also describe the pod to see if everything is correct

[2021-09-07 10:59] Nimesh-K-Makwana commented on #18041
@ephraimbuddy will surely set ```AIRFLOW__KUBERNETES__DELETE_WORKER_PODS: "False"``` and check it out.

[2021-09-07 11:34] laserpedro commented on #18041
Hello,

I am facing the same issue:
airflow 2.1.3 (tested also with 2.1.2)
backend: postgresql
executor: LocalExecutor

I have modified the variables killed_task_cleanup_time and schedule_after_task_execution to resp. 100000 and False.
I have also installed airflow as non root user and set the default run_as_user to be airflow.

My tasks are getting constantly killed in backfill mode with the trac

[2021-09-07 11:42] lixiaoyong12 commented on #14924
I deployed the scheduler directly on the Linux operating system.

[2021-09-07 11:44] lixiaoyong12 commented on #14924
sync; echo 1 > /proc/sys/vm/drop_caches    ->It's down 40m, and there's more than 200

[2021-09-07 11:45] potiuk commented on #14924
Still - you can see whether it's process or cache memory that grows:

For example here you can see how to check different types of memory used: https://phoenixnap.com/kb/linux-commands-check-memory-usage

Could you check what kind of memory is growing ?

[2021-09-07 11:49] lixiaoyong12 commented on #14924
I use: ps auxww | grep airflow  at different times.  I found  the memory is increased from 100 MB to 220 MB.

[2021-09-07 11:52] potiuk opened #18055 "The current CI requires rebasing to main far too often"
### Body

I was wondering why people have to rebase their PRs so often now, this was not the case for quite a while, but it seems that now, the need to rebase to latest `main` is far more frequent than it should be. I think also we have a number of cases where PR build succeeds but it breaks main after merging. This also did not use to be that often as we observe now..

I looked a bit closer and I

[2021-09-07 11:52] potiuk commented on #18055
cc: @ashb

[2021-09-07 11:57] lixiaoyong12 commented on #14924
i use pmap -p 203557 | grep anon , i found `00007efdc9d0d000 115968K rw---   [ anon ]`  that grows

[2021-09-07 12:30] potiuk commented on #14924
Can you please dump a few pmap outputs at different times and share it in .tar.gz or smth @lixiaoyong12  ?

[2021-09-07 12:36] laserpedro commented on #18041
cab be related to: https://github.com/apache/airflow/issues/18041

[2021-09-07 12:37] potiuk commented on #14924
Just to explain @lixiaoyong12 -> when you have a number of different dags and schedules, I think - depending on frequency etc. - this would be perfectly normal for scheduler to use more memory over time initially. Generally speaking it should stabilize after some time and then it will be fluctuating up/down dependning on what is happening. That's why I want to make sure this is not such a fluctuat

[2021-09-07 12:46] laserpedro commented on #18041
So I tested the code that generated the issue described above with the change in the commit and it solved by issue !

[2021-09-07 14:07] laserpedro commented on #17507
So for info, I incorporated the fix proposed by @nmehraein and unfortunately I am still getting the same error ...

[2021-09-07 14:24] nathadfield commented on #18053
I think it should be as simple as changing [this](https://github.com/apache/airflow/blob/main/airflow/providers/hashicorp/hooks/vault.py#L151) to this:

[code]

[2021-09-07 14:27] dimon222 commented on #8212
If anyone pops on this issue, I wanted to mention that as of 2.1.3 the issue is still present, and solution of prepending this:
[code]
to very top line of file `airflow/config_templates/airflow_local_settings.py`  (or your respective actual file if you have made one) of Airflow Scheduler component.

Make sure to not touch any other airflow components in your cluster like Airflow Worker or Airflow

[2021-09-07 14:56] nathadfield commented on #18053
Actually this breaks some existing tests because the mocked connection contains the value `user` for connection.login.

https://github.com/apache/airflow/blob/main/tests/providers/hashicorp/hooks/test_vault.py#L32

[2021-09-07 15:13] laserpedro commented on #17507
Also as mentionned here it seems that the run_as_user is part of the issue: https://www.gitmemory.com/issue/apache/airflow/17394/892065842

[2021-09-07 15:21] #18055 closed

[2021-09-07 15:46] potiuk commented on #14924
I updated the fix in #18054 (hopefully it will be ok now ) @suhanovv - in case you would like to try. I will wait for it to pass the tests but hopefully it will be ok now (mixed `os.open` with `open` 🤦 )

[2021-09-07 16:17] #18005 closed

[2021-09-07 16:32] brandondtb commented on #16982
@easontm Do you have `sql_engine_collation_for_ids` configured correctly for you database?

https://airflow.apache.org/docs/apache-airflow/stable/configurations-ref.html?highlight=configuration%20reference#sql-engine-collation-for-ids

BTW I agree that regardless of what is causing this lock timeout the scheduler should gracefully retry the task.

[2021-09-07 16:46] noelmcloughlin commented on #17507
I was not using run_as_user  https://github.com/apache/airflow/issues/10026#issuecomment-906811467 so I think we need to collect more data. There is probably a common attribute but I'm not sure run_as_user is important.

[2021-09-07 17:02] ordonezf opened #18066 "Chart version 1.1.0 does not gracefully shutdown workers"
### Official Helm Chart version

1.1.0 (latest released)

### Apache Airflow version

2.1.3 (latest released)

### Kubernetes Version

1.19.13

### Helm Chart configuration

[code]

### Docker Image customisations

[code]

### What happened

Using CeleryExecutor whenever I kill a worker pod that is running a task with `kubectl delete pod` or a `helm upgrade` the pod gets instantly killed and does

[2021-09-07 17:06] potiuk commented on #18066
So yeah as I suspected, It looks like the worker gets TWO TERM signals quickly one after the other in this case:

[code]

I wonder WHY ????? Anyone has an idea ?

[2021-09-07 17:22] jedcunningham commented on #18066
Signals being sent to the whole process group is the default behavior for `dumb-init`.
https://github.com/Yelp/dumb-init#session-behavior

I wonder if using `dumb-init --single-child` would resolve this.

[2021-09-07 17:23] potiuk commented on #18066
Yeah DUMB_INIT_SETSID=0

[2021-09-07 17:23] potiuk commented on #18066
just read the same docs :)

[2021-09-07 17:25] potiuk commented on #18066
@ordonezf - can you set `DUMB_INIT_SETSID=0` as environment variable  and see if that works ?

[2021-09-07 17:27] laserpedro commented on #17507
Is there any workaround since my dags are no longer working properly ? tks

[2021-09-07 17:28] SamWheating commented on #18023
After further investigation, I think that most of the performance issues we saw were due to the issue now resolved by https://github.com/apache/airflow/pull/17945.

If needed, I can run some experiments and test the affects of having thousands of `queued` DagRuns on scheduler latency, but I think it's not as severe as I once thought.

However, I still think that its a good idea to implement a limi

[2021-09-07 17:29] potiuk commented on #18066
Just wonder if we had a reason of leaving the default behaviour of dumb-init, but I see no reason if we confirm that this works WDYT @jedcunningham ?

[2021-09-07 17:36] jedcunningham commented on #18066
Works for me. At one point KubernetesExecutor relied on it to exit cleanly, but that is now fixed and I'm not aware of any remaining need. We'd have to test to make sure.

[2021-09-07 17:39] potiuk commented on #18066
BTW. why do we have [bash -c exec ''] instead of just `airflow celery` (It would not work the same way and in both cases we need --`--single-child` but would not need to start bash and exec into airflow process :).

Hmm I just think - the `dumb-init` behaviour is "protective" in the sense that it will kill everything even if you start command with `bash -c` without `exec` so setting `--single-user

[2021-09-07 17:45] ordonezf commented on #18066
It seems to work 🎉

[code]

These are the values I used
[code]

[2021-09-07 17:45] jedcunningham commented on #18066
This is why everything goes through bash (bug in older version images): https://github.com/apache/airflow/pull/13526

[2021-09-07 17:49] potiuk commented on #18066
I will update it and I think it might make sense to even backport it to 2.1.4.

[2021-09-07 19:49] potiuk commented on #17962
Feel free!

[2021-09-07 19:54] dimon222 commented on #17897
Doesn't happen. Completely different tag is fine, but same tag with different case is not. I was hoping its some kind case insensitive primary key, but I see no indication of existence of such term at all.

Both clauses in `if` are reporting match as True.
The issue is happening even in Mysql 8, I tested even with proposed above manager.py correction.

[2021-09-07 20:07] dimon222 commented on #17897
Upon further research I have term `collate` that seems to be set to case insensitive `utf8_general_ci`  by default for connection, database and server. I'm currently checking why and what defines it. Perhaps, good addition might be to explicitly specify collate in Airflow schema creation scripts if it's not there yet.

[2021-09-07 20:07] potiuk commented on #15604
This is already fixed in 5.1.0 version of Airflow provider. You can upgrade the provider to that version and use it. Also in case you use an earlier version of the provider, you can set those conflicting parameters to None as a workaround.

[2021-09-07 20:07] #15604 closed

[2021-09-07 20:09] potiuk commented on #15604
Fixed in here: https://github.com/apache/airflow/pull/17900

[2021-09-07 20:20] rachelwigell opened #18069 "Move auto-refresh interval to config variable"
### Description

Auto-refresh is an awesome new feature! Right now it occurs every [3 seconds](https://github.com/apache/airflow/blob/79d85573591f641db4b5f89a12213e799ec6dea1/airflow/www/static/js/tree.js#L463), and this interval is not configurable. Making this interval configurable would be useful.

### Use case/motivation

On a DAG with many tasks and many active DAG runs, auto-refresh can be a

[2021-09-07 20:24] potiuk commented on #17897
Ah. That's actually great finding. I had no idea ci stands for case-insensitive !.

We do have utf8mb3_general_ci mentioned in the docs as workaround to set for `utf8mb4` encoding which breaks MySQL installation due to too large index size.

I will update the docs accordingly, especially tha this encoding is set by default now in the upcoming Airflow 2

You likely have this set  as `sql_engine_col

[2021-09-07 20:24] potiuk commented on #17897
https://airflow.apache.org/docs/apache-airflow/stable/howto/set-up-database.html?highlight=collation you can find it here

[2021-09-07 20:29] potiuk commented on #17897
All right . It seems that MySQL is worse than I thought as they have no good utf8 case sensitive collation (!) https://stackoverflow.com/questions/4558707/case-sensitive-collation-in-mysql - the best you can (likely) do is `utf8_bin` (it messes order-by but in most cases it will be ok when no accented characters are used as ids they will be alphabetically sorted.

God. I HATE Mysql for all that.

[2021-09-07 20:30] dimon222 commented on #17897
Worse, it's commented away in my config :D
Perhaps was missed during airflow 2 upgrade.

[2021-09-07 20:52] potiuk commented on #17897
Thanks! For being persistent. Glad that (I think) we know the problem now. I am adding a PR to fix our docs with it!

[2021-09-07 20:55] potiuk commented on #17897
Added #18072 - I will let it run all tests (part of our CI is to create MySQL DB with the collation) and see if it works.

[2021-09-07 21:35] dimon222 commented on #17897
Since table for me was created back then, the option for collation in airflow.cfg wasn't much useful, as something have to convert all the indexes.

I have done more tests and then evaluated the long ago created DDL of `dag_tag` table.  The charset for it was set latin1, so I had to use corresponding case aware collation `latin1_bin`. As it has foreign key reference, the same collation is needed o

[2021-09-07 21:54] dimon222 commented on #17897
@potiuk I would highly recommend to also add test case for such scenario... Just incase.

[2021-09-07 22:09] binhnefits opened #18074 "AzureContainerInstancesOperator is not working due to argument error"
### Apache Airflow Provider(s)

microsoft-azure

### Versions of Apache Airflow Providers

3.1.0

### Apache Airflow version

2.1.3 (latest released)

### Operating System

Ubuntu

### Deployment

Docker-Compose

### Deployment details

_No response_

### What happened

I'm getting this error when trying to run AzureContainerInstancesOperator. I believe its due to AzureContainerInstanceHook initia

[2021-09-07 22:17] potiuk commented on #17897
Great you checked - I also already saw that Our CI tests pass with utf8mb3_bin. Great that you found it before we made it a default for mysql!

I do not even know what KIND of test we want to start with there? What logic would you recommend?

** BEGINING OF RANT **

MySQL and MariaDB are very bad about the collation/encoding and it's really painful to workaround this - they have a long history of

[2021-09-07 22:38] dimon222 commented on #17897
@potiuk
Well, when I briefly read collation docs I was kind of similar feeling that they went nuts on this.
I will avoid going much offtop, but in my opinion there's a reason MySQL and MariaDB still pop:
1. Legacy and modern world living together (thats what I do for life, not sure yet if its for good or for bad). People who yesterday just jumped off Oracle, transitioned to MySQL to find out that

[2021-09-07 23:11] potiuk commented on #17897
In general yes. For Airflow - most of those arguments make very little sense. We don't even have support for active-active DB (because we do not need it). We use very little "serious" DB functionalty. And Postgres does the job briliantly for Airflow. Though we know we cannot "abandon" our users. We are not removing MySQL, not really, but also we can (And we do) limit the "configurations" we suppor

[2021-09-07 23:17] #17897 closed

[2021-09-08 01:29] edgarrmondragon opened #18075 "Airflow installation fails when with latest `setuptools`"
### Apache Airflow version

2.1.3

### Operating System

Ubuntu 20.04

### Versions of Apache Airflow Providers

NA

### Deployment

Other Docker-based deployment

### Deployment details

Ubuntu Docker image, Airflow installed inside a `virtualenv` in the image.

### What happened

Trying to pip-install Airflow in a virtualenv where `setuptools` is `>=58.0.2` fails:

[code]

The `setuptools` team

[2021-09-08 02:46] subkanthi commented on #18050
@potiuk can I take this please.

[2021-09-08 03:08] uranusjr commented on #18050
Please do!

[2021-09-08 03:55] kolban-google opened #18077 "Unable to determine underlying reason for email alert send failure"
### Apache Airflow version

2.1.2

### Operating System

Debian

### Versions of Apache Airflow Providers

Google Composer

### Deployment

Composer

### Deployment details

_No response_

### What happened

I was trying to configure sending of alerts via SMTP.  I must have made a configuration error and I get the error "Failed to send".  Searching in the code I find the following:

https://github

[2021-09-08 05:17] edwardwang888 commented on #16877
@bbovenzi The PR should be ready now. Let me know if you have any comments. Thanks!

[2021-09-08 08:08] johnny0120 opened #18080 "Wrong try_number after rescheduling makes remote logging store all the logs with wrong log_id"
### Apache Airflow version

2.1.3 (latest released)

### Operating System

Debian GNU/Linux 10 (buster)

### Versions of Apache Airflow Providers

apache-airflow-providers-elasticsearch==2.0.2

### Deployment

Other Docker-based deployment

### Deployment details

1 master node with webserver, scheduler, flower and etc.
4 worker node, each with a celery worker process;
filebeat 7.6.2 as sidecar re

[2021-09-08 08:39] ephraimbuddy commented on #18051
For now, Increase `AIRFLOW__SCHEDULER__MAX_DAGRUNS_PER_LOOP_TO_SCHEDULE`  to a higher number.

@r-richmond , #17945 will resolve it but would introduce another bug that execution_order won't be followed. We are working on a better fix: https://github.com/apache/airflow/pull/18061

[2021-09-08 09:04] potiuk commented on #18077
I will close it fro now, please pas some logs if you think the message is unclear.

But If you would like to improve it and add some more information, I will invite you to open a PR directly. I will convert it into discussion now if you want to provide more information and discuss better approaches.

[2021-09-08 09:04] #18077 closed

[2021-09-08 09:28] potiuk commented on #18075
Unfortunately this is one of the things that is nnot possible to handle in Airflow in already released versions, as the right version of setuptools need to be installed before airflow installation and related packages are attempted to be installed.

However if @mitsuhiko fixes it and release flask-openid without 2_to_3, we will be able to re-pin our constraints to use that new version of flask-ope

[2021-09-08 09:29] potiuk commented on #18075
For now - workaround is to use setuptools < 58.0.2

[2021-09-08 09:40] potiuk commented on #18075
We've figured a possible automated workaround with @uranusjr . Stay tuned.

[2021-09-08 09:41] enima2684 commented on #17977
Hi,
I am experiencing the same issue.
I generally launch through the API many dagruns of the same dag (~365 dag runs). After running a few dagruns normally (~200), Airflow scheduler stops scheduling remaining runs and marks them as "succeded" even if no task was run

[2021-09-08 09:55] abezruchenkov opened #18082 "TriggerDagRunOperator start_date is not set"
### Apache Airflow version

2.1.3 (latest released)

### Operating System

ubuntu, macos

### Versions of Apache Airflow Providers

apache-airflow-providers-amazon==1.4.0
apache-airflow-providers-ftp==1.1.0
apache-airflow-providers-http==1.1.1
apache-airflow-providers-imap==1.0.1
apache-airflow-providers-postgres==1.0.2
apache-airflow-providers-slack==4.0.0
apache-airflow-providers-sqlite==1.0.2

[2021-09-08 09:59] robinedwards opened #18083 "Incorrect parameter posted to last_dagruns, task_stats, blocked etc"
### Apache Airflow version

2.1.3 (latest released)

### Operating System

Debian GNU/Linux 10 (buster)

### Versions of Apache Airflow Providers

`apache-airflow-providers-amazon @ file:///root/.cache/pypoetry/artifacts/7f/f7/23/fc7fd3543aa486275ef0385c29063ff0dc391b0fc95dc5aa6cab2cf4e5/apache_airflow_providers_amazon-2.2.0-py3-none-any.whl
apache-airflow-providers-celery @ file:///root/.cache/py

[2021-09-08 10:12] RafayAK commented on #18075
@potiuk looking forward to this

[2021-09-08 10:52] RafayAK commented on #18075
My current workaround in my dockerfile:

[code]

[2021-09-08 10:58] potiuk commented on #18075
Yep. For Dockerfile it's easy. But we have a better workaround. Just tested and it works. the problem is that it also broke all Airflow 2 installations which people already use and any attempt to install those, will fail. We have a fix that will make the "official installation method" works for all Airflow 2 releases.

[2021-09-08 10:58] suhanovv commented on #14924
@potiuk
Ok, we will deploy to the test stand today

[2021-09-08 11:12] potiuk commented on #18075
All right - 2.1.3 should now work when you install it with constraints with latest setuptools:

``pip install "apache-airflow==2.1.3" --constraint https://raw.githubusercontent.com/apache/airflow/constraints-2.1.3/constraints-3.6.txt``

Can someone confirm it ? then I will apply the same fix to other released versions and carry on with fixing it for main as well

[2021-09-08 11:13] RafayAK commented on #18075
let me try this

[2021-09-08 11:14] potiuk commented on #18075
Fr those curious ones - I'we built  Flask-OpenId 1.2.6 with removed 2_to_3, we host it here: https://github.com/apache/airflow-flask-openid-fork/releases/tag/v1.2.6 and our constraints have been updated to install it from there:

https://github.com/apache/airflow/commit/64508c7c974f56ac05a919deca0b69ad1b9df19e

[2021-09-08 11:25] RafayAK commented on #18075
@potiuk just tried building my dockerfile again with the following:
[code]

It results in the following error:

[code]

[2021-09-08 11:30] potiuk commented on #18075
2.0.1 is not yet fixed (Only 2.1.3). I can fi it in 2.0.1 for your tests now

[2021-09-08 11:37] potiuk commented on #18075
try now @RafayAK - it should be ok for 2.0.1 as well

[2021-09-08 11:38] potiuk commented on #18075
(I need to manually apply the fix for all versions, so I want to confirm it works :) )

[2021-09-08 11:53] ephraimbuddy commented on #18041
@laserpedro , I'm not able to reproduce your case with backfill. How long is your task running? I will also appreciate if you would make a dag to reproduce this.
Again, It looks to me that you didn't set up airflow properly to use `run_as_user`. Can you take a look at documentation: ,http://airflow.apache.org/docs/apache-airflow/stable/security/workload.html#impersonation

[2021-09-08 11:56] RafayAK commented on #18075
@potiuk Got it built thanks!

I do get this warning though:
[code]

[2021-09-08 11:58] kaxil commented on #18023
Yes that would be good

[2021-09-08 11:58] potiuk commented on #18075
No problem with that warning - it's just yanked because of wrong setup information, but that's not an issue.

Thanks for verification!

I proceed with applying the fix then :)

[2021-09-08 12:20] potiuk commented on #18075
All right. Patched all released constraints.

For the record and keeping track:

* 2.1.3: https://github.com/apache/airflow/commit/64508c7c974f56ac05a919deca0b69ad1b9df19e
* 2.1.2: https://github.com/apache/airflow/commit/641d6cad2b7221e58fdc117a0faa3d12652a10b2
* 2.1.1: https://github.com/apache/airflow/commit/cf0834b1da66ad8424ecb6344c799a1e9a6abe2e
* 2.1.0: https://github.com/apache/airflow/com

[2021-09-08 13:03] venkaa6 commented on #18075
hey team I am using airflow 1.10.10 and just faced this error on build can we apply to lower versions as well? @potiuk 🙏

[2021-09-08 13:04] ashmeet13 commented on #17778
Hi, can I pick this up?

[2021-09-08 13:14] uranusjr commented on #18075
You can apply this line to your requirements yourself:

[code]

A recent pip version should pick up the line automatically. If you’re stuck on an old pip version, `pip install` the line separately before installing Airflow.

[2021-09-08 13:20] potiuk commented on #18075
Yep. With 1.10 you are pretty much on your own. 1.10 reached end-of-life and we are not going to make any workaronds or even critical security fixes there. As @uranusjr  wrote - you have to workaround it yourself with the patch, or (might be simpler) run `pip install setuptools== 58.0.1` before installing Airflow 1.10.

[2021-09-08 13:26] venkaa6 commented on #18075
ah cool. yes thanks @uranusjr that worked!

[2021-09-08 13:26] subkanthi commented on #18050
It looks definitely easy to change the error message, to implement creating new connections with _copy[number+1] , we have to query the existing connections, not sure if thats the way to go.

Thoughts, @potiuk , @uranusjr

[2021-09-08 14:25] AnumSheraz commented on #17599
We are still seeing this issue in v2.1.3, see this https://github.com/apache/airflow/discussions/18062

[2021-09-08 14:39] theagilehacker opened #18089 "KeyError when ECS failed to start image"
### Apache Airflow version

2.1.3 (latest released)

### Operating System

Linux

### Versions of Apache Airflow Providers

apache-airflow-providers-amazon==1.4.0
apache-airflow-providers-docker==1.2.0
apache-airflow-providers-ftp==1.1.0
apache-airflow-providers-http==1.1.1
apache-airflow-providers-imap==1.0.1
apache-airflow-providers-postgres==2.0.0
apache-airflow-providers-sqlite==1.0.2

### Dep

[2021-09-08 14:55] mark-carrington opened #18091 "Possible PyJWT dependency upgrade?"
### Description

Hi,

I have a project which currently depends on apache-airflow 2.0.2, which is using Poetry for dependency management. I would like to add Sentry as a dependency, so I can use this for application performance monitoring on some non-Airflow code, which is also present in the repo. I don't seem to be able to install recent versions of Sentry alongside recent versions of apache-airf

[2021-09-08 15:02] agrounds commented on #18075
@potiuk Airflow installation via `pip` is now failing for us. We're running this:

[code]

with `AIRFLOW_VERSION=2.1.3` and `PYTHON_VERSION=3.8`, and we're getting this error:

[code]

`pip` version is 21.0.1, can also provide `requirements.txt` if it's helpful, but I don't think it's relevant.

[2021-09-08 15:23] kiwy42 commented on #17507
I tried disable `run_as_user` and trying to disable some stuff.
I'm using spark and other java program and py4j .
I'm using TriggerMultiDagRun Operator.
I'm currently adapting old dags to airflow 2 and as soon as I clear task to update my code and try new stuff, I have those strange error as well.
I'm working on docker airflow 2.1.2 Python 3.9.
So far this release seems very unstable.

[2021-09-08 15:43] potiuk commented on #18091
It is https://github.com/apache/airflow/blob/9496235959f6ffaacb69ed391a6ddb82214e9132/setup.cfg#L133

[code]

I looked at it and - unfortunately it's because of FlaskAppBuillder (which we already use in its latest version). It has requirements on Flask-jwt-extended < 4: https://github.com/dpgaspar/Flask-AppBuilder/blob/master/setup.py#L60 and Flask-JWT-extended 3.25 (latest from 3 line) has PyJWT

[2021-09-08 15:49] potiuk commented on #18075
You should upgrade to newer PIP version.

[2021-09-08 15:56] lindsable commented on #17693
I was just able to confirm that this is still an issue in 2.1.3. I'll update the issue with the logs. The scenario is when a node is removed from the cluster where a worker pod is already scheduled to run. There is an event where the status is still running but the event type is DELETED. In this case I believe we should set the state to up_for_retry. The optimal solution would be to get the name o

[2021-09-08 16:22] laserpedro commented on #18041
Hello @ephraimbuddy,

Thank you for you answer !

So I thought the same as you so I did a full re install today (new machine, new database, new environment, mew user).
I have a `airflow` user that has sudo privileges than runs the scheduler and the webserver.

`run_as_user` is left empty in the `airflow.cfg` file now.

First question: in terms of user does that seem correct to you ?

I ported one

[2021-09-08 16:27] eladkal commented on #18074
@binhnefits assigned to you

[2021-09-08 16:57] laserpedro commented on #17507
cf https://github.com/apache/airflow/issues/18041#issuecomment-915383493

[2021-09-08 17:15] debimishra89 commented on #12237
I am too getting access is denied error after login.
I am not even able to logout. It throws the same "access denied" issue on the homepage.

[2021-09-08 17:47] ephraimbuddy commented on #18041
@laserpedro Yes. that makes sense for a user setup.

[2021-09-08 17:59] spoutnickgp opened #18096 "Scheduler process not gracefully exiting on major exceptions"
### Apache Airflow version

2.1.3 (latest released)

### Operating System

Ubuntu 20.04.3 LTS

### Versions of Apache Airflow Providers

apache-airflow-providers-amazon==2.2.0
apache-airflow-providers-cncf-kubernetes==2.0.2
apache-airflow-providers-ftp==2.0.1
apache-airflow-providers-google==5.1.0
apache-airflow-providers-http==2.0.1
apache-airflow-providers-imap==2.0.1
apache-airflow-providers-po

[2021-09-08 18:15] collinmcnulty opened #18097 "Mark all tasks in task group failed/success from UI"
### Description

I would like to be able to click on a task group in the Graph view (and tree view if task groups start being represented there as well) and bring up the dialog box for Clear/Mark Success/Failed including the downstream and failed options. Whatever is selected should then be applied to all tasks in the task group.

### Use case/motivation

As discussed on #17992, sometimes you have

[2021-09-08 18:47] potiuk opened #18098 "Warning when Fernet/Webserver keys are randomly generated"
### Description

While I think the random generation is rather useful for quick start, maybe it should be accompanied by a big fat warning (possibly including a warning generated in the UI) - directing user to generate both Fernet Key and Webserver key manually. We already'we done a few of those - for example Sequential executor + Sqlite recently.

I think showing a UI warning is the only one that

[2021-09-08 19:32] john-jac commented on #9971
Hi Folks...I'd like to take this one if I may and if it is still applicable

[2021-09-08 19:39] potiuk commented on #9971
Feel free John!

[2021-09-08 20:03] alex-astronomer opened #18100 "DAG Import Errors Broken DAG Dropdown Arrow Icon Switched"
### Apache Airflow version

2.1.3 (latest released)

### Operating System

macOS Big Sur 11.3.1

### Versions of Apache Airflow Providers

N/A

### Deployment

Virtualenv installation

### Deployment details

Default installation, with one DAG added for testing.

### What happened

The arrow icons used when a DAG has an import error there is a drop down that will tell you the errors with the impor

[2021-09-08 20:16] suhanovv commented on #14924
@potiuk
the last fix works as it should

![image](https://user-images.githubusercontent.com/3032319/132579146-44bb8d7c-75c3-412b-9940-96b7920e95b0.png)

[2021-09-08 20:21] potiuk commented on #14924
🎉 🎉 🎉 🎉 🎉 🎉 🎉 🎉 🎉 🎉 🎉 🎉 🎉 🎉 🎉 🎉 🎉 🎉 🎉 🎉 🎉 🎉 🎉 🎉 🎉 🎉

[2021-09-08 20:22] potiuk commented on #14924
Thanks a lot ! That might really help with user confusion!

[2021-09-08 21:12] weiminmei opened #18102 "Snowflake provider not accepting private_key_file in extras"
### Apache Airflow Provider(s)

snowflake

### Versions of Apache Airflow Providers

2.1.1

### Apache Airflow version

2.1.3 (latest released)

### Operating System

centos7

### Deployment

Virtualenv installation

### Deployment details

Created a virtualenv, did a pip install.

### What happened

I am adding the dictionary below to the extras in snowflake connections. After I click save and tr

[2021-09-08 21:16] jlouk opened #18103 "Helm Chart Jobs (apache-airflow-test-run-airflow-migrations) does not Pass Labels to Pod"
### Official Helm Chart version

1.1.0 (latest released)

### Apache Airflow version

2.1.3 (latest released)

### Kubernetes Version

1.18

### Helm Chart configuration

Any configuration should replicate this. Here is a simple example:

[code]

### Docker Image customisations

Base image that comes with helm

### What happened

When I installed istio (/w istio proxy etc) on my namespace I notice

[2021-09-08 22:00] #18083 closed

[2021-09-08 22:29] potiuk commented on #18075
This has been fixed now. Thanks to @mitsuhiko I became maintainer of the Flask-OpenID and I released new 1.3.0 version, Python3 - only with removed 2to3 configuration. It should nicely install now with the new setuptools !