[2021-11-17 23:23] bbovenzi commented on #19648
@josh-fell should we close the issue then if fix is already merged?

[2021-11-18 00:06] #11202 closed

[2021-11-18 00:06] #8963 closed

[2021-11-18 00:42] chinwobble commented on #18999
@eskarimov Happy to review your code. I'm not the best python dev, so I think I could learn a thing or two from you.

https://github.com/apache/airflow/issues/18999#issuecomment-958449899

These deferrable operators are a good first step in making airflow more scalable.
However, there are a few issues that make me feel its not ready yet:
- task duration during deferral is not counted
- for the dat

[2021-11-18 02:13] josh-fell commented on #19648
Yes please.

[2021-11-18 02:53] #19648 closed

[2021-11-18 03:31] francotesei commented on #19647
Hi everyone! I joined the community a few days ago, when I did the setup to the local environment I saw that issue.
So, I tried to fix it. PTAL :D

[2021-11-18 04:01] uranusjr opened #19670 "Configure return value logging for a DecoratedOperator"
### Body

Continuation of #19378

https://github.com/apache/airflow/pull/19378#issuecomment-966898703

https://github.com/apache/airflow/pull/19378#issuecomment-967047503

### Committer

- [X] I acknowledge that I am a maintainer/committer of the Apache Airflow project.

[2021-11-18 04:19] humit0 opened #19671 "Scheduler raise exception while running adopt_or_reset_orphaned_tasks method"
### Apache Airflow version

2.2.0

### Operating System

CentOS 7

### Versions of Apache Airflow Providers

_No response_

### Deployment

Other

### Deployment details

_No response_

### What happened

Scheduler process is killed with errors.
[code]

### What you expected to happen

_No response_

### How to reproduce

Environment Variables
[code]

Dag files
[code]

1. Go to `active_run_test` d

[2021-11-18 05:22] KennethanCeyer commented on #18264
Close this issue due to #19378 has been merged.

[2021-11-18 05:22] #18264 closed

[2021-11-18 06:20] OyinOlamide commented on #10576
Hi @potiuk Aren't most of these files up to date now?

[2021-11-18 06:27] SohailChamadia-everestek commented on #19217
Thanks, will test it and revert back, for `_CMD` if there is any reference documentation, if you point me in the right direction that would be appreciated.

[2021-11-18 06:31] hterik commented on #19657
After opening latest version of code it seems like it got fixed recently by https://github.com/apache/airflow/commit/8dc95415c68a4cef36eb4e02b5558288981891e2, which detects this particular ApiException as non retryable.

Still wondering about the general design, if the retries need backoff or if task status should be monitored for abortion in this queue?
Just some starter questions if one were to

[2021-11-18 06:31] uranusjr commented on #13942
Actually `.bashrc` is only sourced for interactive _non-login_ shells; login shells read `.profile` and `.bash_profile`. But a lot of `.bash_profile` implementations automatically source `.bashrc` so, uh it’s complicated and off-topic anyway. I’ll just drop a link in case anyone is actually interested in the exact differences.

https://linuxize.com/post/bashrc-vs-bash-profile/

[2021-11-18 07:13] uranusjr commented on #19671
A none-checking will fix the exception, but not the issue. When `ti.queued_dttm` is set when the `ti` (task instance) is being queued for execution, and should not be None here because the fact this `ti` appears in the executor in the first place means it should have been queud for execution. So the problem is deeper than the sympton and needs a more involved fix than simply none-checking.

[2021-11-18 07:51] hterik opened #19673 "More dynamic pod_mutation_hook, allowing access to task context and inputs"
### Description

We have some use cases which require fairly complex and dynamic configuration of Kubernets pods. For example configuring the nodeSelector VM size based on task inputs. Also juggling of Volumes, and in particular persistent volume claims. Imagine tasks allocating and preparing volumes which get passed on as input to other tasks.

The mechanism for this today in airflow is
 * `pod_t

[2021-11-18 08:40] artful88533 commented on #17476
Hello!
Any news?
It is critical for us to display secrets in the CI log (

[2021-11-18 09:02] hterik commented on #14813
Note that SubprocessHook still sends the stderr of the subprocess straight to stdout without going to logger, it also differs a lot from stdlib subprocess behavior which can be unexpected, like changing the cwd to a tempdir.

Having written a similar class myself before, just have to warn that it is not as easy as one thinks to simultaneously capture and stream both stdout+stderr to a logger. You

[2021-11-18 09:10] DreadfullyDistinct commented on #16881
Hi,
so our case was also related to service account permissions. We have now following permissions configured for service account, which works now fine for scheduler detecting already running pods before restart.

[code]

Thanks @dberzano for suggestion. if anyone sees the issue again, I guess you need to check if you get some "Resource: Forbidden" Errors on scheduler logs to see if you have a per

[2021-11-18 09:16] humit0 commented on #19671
@uranusjr
How about setting `ti.queued_dttm` when run task in website or cli. (`airflow tasks run active_run_test sleep_task1 scheduled__2021-10-23T15:05:00+00:00 -A`)

Or add ignore `queued_dttm` value logic when run task by user.

[2021-11-18 09:36] potiuk commented on #14813
Agree it's not easy, but I think it's just a matter of careful implementation (and making some compromises), rather than using yet another dependency.

Isn't that the case that stderr is also sent to stdout in SubprocessHook @hterik ? I think someone (not me :) ) made a decision that in this case we do not care about the stderr/stdout difference (`see stderr=STDOUT`) line:

[code]

[2021-11-18 09:41] potiuk commented on #14813
That's how it works:

And I think this is precisely the reason why @xinbinhuang was right - we alreaady have some ways that we implemented in Airflow to handle it nicely and made logging works, so we should close the issue IMHO.

[2021-11-18 09:43] potiuk commented on #14813
Closing - but if there are other voices and opinions and arguments here I am happy to reconsider and reopen.

[2021-11-18 09:43] #14813 closed

[2021-11-18 09:45] #18074 closed

[2021-11-18 09:51] potiuk commented on #17476
@artful88533 -> suggestion - maybe you or @ShakaibKhan can take a look and provide fix for that. If you care about it, this is the most "certain" way to make it land in 2.3.3 - way more certain than pinging here - and becoming one of the > 1800 contributors to Airflow is a great way to pay back for the free software you use.

IMHO it is not crirtical (when you have access to the CLI you already ca

[2021-11-18 09:51] uranusjr commented on #19671
Maybe we could just default to `now()` if the TI is not “actually queued” i.e. running ad-hoc.

[2021-11-18 10:05] yarong-lifemap opened #19674 "Display task documentation when hovering on the task"
### Description

It would be great if task documentation wouldn't be hidden within the task instance page, but rather displayed when hovering over the task.

### Use case/motivation

In complex DAGs, having access to this allows access to documentation with a few less clicks per task

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

##

[2021-11-18 10:51] abhushansahu commented on #18401
These are related issues
https://github.com/apache/airflow/issues/10604
and seems to still be active for 2.1.4

[2021-11-18 11:22] Bowrna opened #19675 "UI broken in current main branch code"
### Apache Airflow version

main (development)

### Operating System

macOS

### Versions of Apache Airflow Providers

_No response_

### Deployment

Other Docker-based deployment

### Deployment details

_No response_

### What happened

I am running the airflow in development mode and drop downs and icons in the UI is broken. It prevents me to add new connections to test.

### What you expected

[2021-11-18 11:24] Bowrna commented on #19675
Attaching the image for reference.
<img width="1359" alt="Screenshot 2021-11-17 at 2 59 42 PM" src="https://user-images.githubusercontent.com/10162465/142406600-80f78844-1632-4789-b6a7-23b99b9fea5e.png">

<img width="1359" alt="Screenshot 2021-11-17 at 2 58 50 PM" src="https://user-images.githubusercontent.com/10162465/142406585-1be5f0b8-4554-4dd6-aeb5-45512b4fe464.png">

[2021-11-18 11:41] raphaelauv commented on #19369
@ulisesojeda

minimum reproductive example :
[code]

[2021-11-18 11:41] eladkal commented on #19675
Wasn't this solved by https://github.com/apache/airflow/pull/19661 ?
are you on latest main ?

[2021-11-18 12:09] Bowrna commented on #19675
Yes, it's working now. i didn't pull the recent changes and started with old changes in my local. Sorry for this. This issue is invalid now.

[2021-11-18 12:09] #19675 closed

[2021-11-18 15:05] tomasgatial opened #19681 "Can't launch Redis container on a cluster enforcing MustRunAsNonRoot policy"
### Official Helm Chart version

1.3.0 (latest released)

### Apache Airflow version

2.2.2 (latest released)

### Kubernetes Version

1.20

### Helm Chart configuration

default

### Docker Image customisations

None

### What happened

Unable create Redis containers when using cluster wide`PodSecurityPolicy` `MustRunAsNonRoot`.

### What you expected to happen

Default Redis runtime should be no

[2021-11-18 15:14] bbovenzi commented on #19674
I agree we should make the documentation more visible. But I don't think the tooltip is the right place. It already has a lot in it. I do want to make the task instance page more visible.
The next UI task is displaying the tree view side-by-side with others so it is easier to see how everything is related. The Task Instance page will certainly be part of that.

[2021-11-18 16:17] potiuk commented on #19681
Would you like to provide a fix for it @tomasgatial ? That does not seem complex - just setting runAsUser on the redis container in the helm chart and testing it. Nice way to join the > 1800 contributors to Airfllow and pay back for the free software you use.

[2021-11-18 16:42] baryluk commented on #8061
Hi.

Re #16860

I think these change should be better documented in changelog, as well in the Kubernetes Pod template documentation ( https://airflow.apache.org/docs/apache-airflow/2.2.2/executor/kubernetes.html#example-pod-templates ).

It causes now dag failures, if the variable `AIRFLOW__CORE__DAGS_FOLDER` is not set on worker pods. It was not the case when running Airflow 2.1.4, but started fa

[2021-11-18 16:45] ashb commented on #8061
@baryluk that setting has a default value, so you shouldn't _have_ to set it. (AIRFLOW_HOME/dags is the default, i.e. `~/airflow/dags`)

What behaviuor are you seeing?

[2021-11-18 16:48] potiuk commented on #8061
I think the problem was that the AIRFLOW__CORE__DAGS_FOLDER variable but not in workers and it is not how it is supposed to be. It worked "accidentally" this way but it was never intended:

See https://airflow.apache.org/docs/apache-airflow/stable/configurations-ref.html

[2021-11-18 16:50] potiuk commented on #8061
@baryluk  I think we added this comment in 2.2.0 to clarify similar problems pople had, but this was always "intented" even if not as clearly documented - so what you did in this case, you discovered a misconfiguration of your deployment simply.

[2021-11-18 17:03] baryluk commented on #8061
In our airflow instance, we do set `AIRFLOW__CORE__DAGS_FOLDER` on the scheduler (via chart), to non standard location `/opt/airflow/dags/primary` afaik. But not on k8s pod templates. Scheduler is not forwarding its own `AIRFLOW__CORE__DAGS_FOLDER` setting to the pod template, if it is not set there.

[2021-11-18 17:17] potiuk commented on #8061
Ah yeah - the comment in config also applies to the pod template.

The example is good as an example when you do not override it. But agree it's a good  idea to add a note there along the lines of "following the https://airflow.apache.org/docs/apache-airflow/stable/configurations-ref.html" note make sure that you set all variables in your pod template when you modify them.

Would you like to make

[2021-11-18 17:29] baryluk commented on #8061
@potiuk Ok. I will add a note there, and send PR.

[2021-11-18 17:53] eladkal commented on #18578
@zevaverbach are you still working on this issue?

[2021-11-18 18:33] luancaarvalho opened #19688 "Airflow does not load default connections"
### Apache Airflow version

2.2.1

### Operating System

linux

### Versions of Apache Airflow Providers

_No response_

### Deployment

Official Apache Airflow Helm Chart

### Deployment details

deploy with helm in EKS.

### What happened

When I deployed my airflow via helm, I wanted to use the aws_default connection in my dags, but passing this connection airflow logs that this connection does

[2021-11-18 18:34] luancaarvalho commented on #19688
Tagging you guys.
@kaxil @dstandish

[2021-11-18 18:50] tomasgatial commented on #19681
Sure, here comes. @potiuk thanks for encouragement!

[2021-11-18 18:51] o-nikolas commented on #15279
I cut [an issue](https://github.com/kislyuk/watchtower/issues/154) to the watchtower repo (since the other was closed) with some possible fixes I had tested. But it seems like there is already a fix that *just* got released into Watchtower 2.0.

I have yet to do some testing with the new release, but once I get around to (and assuming it works as expected) it should be an easy fix to bump the watc

[2021-11-18 19:15] brosenkrantz commented on #17507
I found that I change aiflow.cfg **default_impersonation = myuser**.
When I set  it back to default **default_impersonation=** this issue is resolved for me in Airflow 2.2.2.
I made this change after I found **Logs suppressed when impersonation is enabled**
https://github.com/apache/airflow/issues/18041

[2021-11-18 19:41] potiuk commented on #13942
Oh yeah. It is :exploding_head: especially that for example MacOS has their own rules on which ones are loaded when as well.

[2021-11-18 19:43] potiuk commented on #19217
As pointed out above:

[2021-11-18 19:58] zevaverbach commented on #18578
Oh darn, to be honest I think I over-committed. Can you please unassign me?

On Thu, Nov 18, 2021 at 6:53 PM eladkal ***@***.***> wrote:

[2021-11-18 20:47] eduartua commented on #13494
@mcgin Could you tell me if you ever go this working?
I'm having the same issue.
Airflow config
[code]
error
[code]
When I inspect the network tab I get
[code]
Also, I'm using Workload Identity and the pods have the `logging.Viewer` role.

[2021-11-18 21:29] andormarkus commented on #13824
Hi @ephraimbuddy

I have tested it with Airflow 2.2.2 and the problem is still existing.

Example logs 1:
[code]

[2021-11-18 22:04] dstandish commented on #19688
@luancaarvalho can you document how you set `AIRFLOW__CORE__LOAD_DEFAULT_CONNECTIONS`?  thanks

[2021-11-18 22:51] dstandish commented on #19688
@kaxil @ephraimbuddy @jedcunningham  if i remember correctly, `airflow db upgrade` does not load connections.

so i think that's what's going on here.  the `migrate-database-job` runs upgrade and not init.

personally i think that it's reasonable for the helm chart to not load the default connections.  those are intended as samples, but the heml chart is more production-oriented.  otherwise i don'

[2021-11-18 23:45] potiuk commented on #19688
@dstandish is completely right.

I already explained that to you ~ week ago @luancaarvalho https://apache-airflow.slack.com/archives/CCQ7EGB1P/p1636638536256300

If you really want to add connections you need to run `db init` and it's not going to happen via helm chart. Helm chart is there to install application, not to load data to the database.  When you install a new version of application you

[2021-11-18 23:45] #19688 closed

[2021-11-19 04:23] nayanen opened #19698 "Graceful handle for airflow application pods during K8s API brief interuption"
### Description

### Description

I have come across this issue where k8s customer using airflow application. The pod get terminated when there is brief API server interruption. API server interruption can happen due to lot of scenarios so ideally the application should handle it gracefully. Another key thing here is this happens only when you set the _"is_delete_pod_operator"_ set to _True_.

Now

[2021-11-19 06:08] rajaprakash91 commented on #16911
@pateash  Sorry, just seen your reply, yes i was trying to update Airflow from 1.10x to 2.X.

so what is the fix, i saw a merge request

[2021-11-19 07:00] kristoffern opened #19699 "task_instances stuck in "queued" and are missing corresponding celery_taskmeta entries"
### Apache Airflow version

2.2.2 (latest released)

### Operating System

Linux Mint 20.2

### Versions of Apache Airflow Providers

apache-airflow-providers-celery = "2.1.0"
apache-airflow-providers-papermill = "^2.1.0"
apache-airflow-providers-postgres = "^2.2.0"
apache-airflow-providers-google = "^6.1.0"

### Deployment

Docker-Compose

### Deployment details

Docker-compose deploys into our G

[2021-11-19 07:35] pateash commented on #16911
@rajaprakash91 You can generate ClusterConfig with the same arguments from ClusterGenerator.make() you have been using and then pass that to the operator.

[code]

[2021-11-19 08:57] stroykova commented on #9975
Same problem in 2.1.3 with manually triggered dags. All of them run simultaniously.
I think this issue should be reopened.

[2021-11-19 09:18] rajaprakash91 commented on #16911
Oh Nice. Thank you so much. This is very useful.

On Fri, Nov 19, 2021 at 1:05 PM Ashish Patel ***@***.***>
wrote:

[2021-11-19 09:20] ashb commented on #9975
@stroykova Please let us know. (I'd try 2.2.2 than 2.2.0)

[2021-11-19 09:31] yogyang commented on #15960
upgrade to 2.1.2, seems not this problem now. close it

[2021-11-19 09:31] #15960 closed

[2021-11-19 10:07] ashb commented on #19699
Hmmmm, yeah the "fix" for this might be to have a CeleryExecutor specific timeout (say 5mins? 1min even?) where if a task is still in queued state for longer than this and _doesn't_ have an external_executor_id set it should get re-submitted to celery?

(Due to timing of things It is possible that a _running_ task won't have an external_executor_id set, but that is okay, it's only queued we care a

[2021-11-19 10:15] aipatr opened #19701 "Cuda Spawn process error"
### Apache Airflow version

2.2.0

### Operating System

Ubuntu

### Versions of Apache Airflow Providers

apache-airflow-providers-ftp==2.0.1
apache-airflow-providers-http==2.0.1
apache-airflow-providers-imap==2.0.1
apache-airflow-providers-postgres==2.3.0
apache-airflow-providers-sqlite==2.0.1

### Deployment

Other

### Deployment details

_No response_

### What happened

When training using P

[2021-11-19 11:26] TPapajCin opened #19704 "Pods that end in CreateContainerConfigError are not deleted by Airflow after DAG ends"
### Apache Airflow version

2.1.3

### Operating System

Debian 10

### Versions of Apache Airflow Providers

    apache-airflow-providers-apache-cassandra==2.0.1 \
    apache-airflow-providers-apache-hive==2.0.2 \
    apache-airflow-providers-celery==2.1.0 \
    apache-airflow-providers-cncf-kubernetes==2.0.2 \
    apache-airflow-providers-ftp==2.0.1 \
    apache-airflow-providers-http==2.0.1 \

[2021-11-19 11:46] luancaarvalho commented on #19688
Hello @potiuk !
I remember your message, but I test to run db init and even with that my default connections are not created.
And in another post I was advised to create this issue, because that is really a bud, please check it.
https://apache-airflow.slack.com/archives/C027H098M1C/p1636638256018800

[2021-11-19 11:46] potiuk commented on #19701
Use this flag: https://airflow.apache.org/docs/apache-airflow/stable/configurations-ref.html#execute-tasks-new-python-interpreter  - this is slower but each task is not run in a forked process but in a separate, new interpreter. That should help.

[2021-11-19 11:46] #19701 closed

[2021-11-19 11:49] aipatr commented on #19701
But this would change the behaviour for the entire airflow and for every python process. There should be a better solution. I believe that this issue should be discussed and a better solution to be found.
It should be possible to activate the spawn process using the multiprocessing package!

[2021-11-19 11:50] luancaarvalho commented on #19688
@dstandish I set AIRFLOW__CORE__LOAD_DEFAULT_CONNECTIONS to true in two ways.
First, helm install $RELEASE_NAME apache-airflow/airflow \
  --namespace $NAMESPACE \
  --set 'env[0].name=AIRFLOW__CORE__LOAD_DEFAULT_CONNECTIONS,env[0].value=True'
 Second, I created a values.yaml and in the extraENV propertie I defined the valeu to True

[2021-11-19 11:50] potiuk commented on #19688
@kaxil @dstandish  - I think we should have a common conclusion. do you think it is a bug - I do not. I think "loading default connections" is the same class as "creating users". For Helm Chart this is not in scope and it should not work.

WDYT?

[2021-11-19 11:56] potiuk commented on #19688
Some more context: We had a long discussion with Matthew in the past on why it makes no sense to have it - basically if we do want to make it works, we need to get "terraform-like" desired state described. I.e. when we install a new version of chart, we should describe what is the "final" state of the DB configuration we want to achieve, rather than what actions to execute.

Otherwise we fall into

[2021-11-19 11:59] potiuk commented on #19688
This is not helm's problem/job. the `db init` that you were advised to, should work just fine but it can (and should be) done outside of the helm chart and what you observed is not an issue with the helm chart, it's a problem on how you run your `airflow db init`. IMHO (see above) running `airlfow db init` and creating the default connections is outside of the scope of helm-chart completely.

[2021-11-19 12:04] kristoffern commented on #19699
@ashb Yes that sounds like the ideal solution to this problem.
I tried looking in the code base but I'm too unfamiliar with it to find where and how it would be best implemented.

Sounds on your description though like its in the spectrum of a somewhat easy fix?

Personally I would be fine with a 5min timeout to avoid risking killing tasks by mistake. But we wan't to keep the system responsive and

[2021-11-19 12:04] potiuk commented on #19701
This is entirely possible even today. You are completely free to run a PythonVirtualenv operator https://airflow.apache.org/docs/apache-airflow/stable/howto/operator/python.html and run your code in it.

[2021-11-19 12:06] TPapajCin opened #19707 "Airflow is not using most recent pod template for new tasks in 2.2.2"
### Apache Airflow version

2.2.2 (latest released)

### Operating System

Debian 10

### Versions of Apache Airflow Providers

apache-airflow-providers-apache-cassandra==2.0.1 \
apache-airflow-providers-apache-hive==2.0.2 \
apache-airflow-providers-celery==2.1.0 \
apache-airflow-providers-cncf-kubernetes==2.0.2 \
apache-airflow-providers-ftp==2.0.1 \
apache-airflow-providers-http==2.0.1 \
apache-

[2021-11-19 12:09] aipatr commented on #19701
do you know how many packages one should install in the new environment. This is unfeasible to say the less. Couldn´t we have variable that are valid only for a particular DAG and that can activate using spawn instead of fork?

[2021-11-19 12:12] potiuk commented on #19701
You can install the packages you need in the system and use system_site_packages=True:
https://airflow.apache.org/docs/apache-airflow/stable/_api/airflow/operators/python/index.html#airflow.operators.python.PythonVirtualenvOperator
This will create a new virtualenv with the system packages symbolically linked to the installed packages.

[2021-11-19 12:20] bbovenzi commented on #19647
Closed via #19667

[2021-11-19 12:20] #19647 closed

[2021-11-19 12:21] TPapajCin commented on #19707
Now I can't downgrade to pre-2.2-x because it shows `alembic.util.exc.CommandError: Can't locate revision identified by '7b2661a43ba3'`

Can anybody help? because only few DAGs are running in Dev and Test environments it went into Production where there are many more DAGs

[2021-11-19 12:29] TPapajCin commented on #19707
False alarm, it seems that someone broke some script, it's not related to airflow :D

[2021-11-19 12:29] #19707 closed

[2021-11-19 12:29] ashb commented on #19688
I agree with that -- Helm chart, _should not_ create sample connections..

[2021-11-19 12:50] luancaarvalho commented on #19688
@potiuk I know this is not a helm's problem, when I mentioned db init, I'm excluding all considerations about a problem with a helm chart, because I runned db init outside of helm was after finished the deploy, it's because of that I created a issue like airflow bug and not a helm chart bug.
Besides, I still thinking that in my first helm chart deploy, so it's not an upgrade it's my initial releas

[2021-11-19 12:54] luancaarvalho commented on #19688
@ashb I agree with you that, by default, airflow helm chart should not create the default connections, but if I set the AIRFLOW__CORE__LOAD_DEFAULT_CONNECTIONS env var to true he should create these connections, right ?

[2021-11-19 13:03] potiuk commented on #19688
The `airflow db init` works in the latest release if run properly, with the right DB. I just re-checked 2.2.1 and it works as expected:

[code]
![Screenshot from 2021-11-19 13-55-24](https://user-images.githubusercontent.com/595491/142626447-4bff191d-1670-43f1-8d89-1e1e8826ef9e.png)

So you probably run  `airflow db init` for a different database or did not set the variable when run it. Please dou

[2021-11-19 13:07] potiuk commented on #19688
To summarize - the scenario where you want to `play` or `develop` with Airflow and get "development" and "quick start" data it - chooing Helm Chart is a wrong choice. I do not think we should ever complicate Helm Chart to include `play` and `development` options to it where we already have different ways how our users can do it.

[2021-11-19 13:28] potiuk commented on #19688
@dstandish @kaxil @ashb  I proposed update to the chart's configuration docs that will explicitly document this behaviour. I think the fact that @luancaarvalho was confused about it means that we should be pretty explicit about it (unless we come to conclusion of course the we want to support some form of it in our Helm - but if we agree on that,  I think it would have to be a completely different

[2021-11-19 14:20] aipatr commented on #19701
Use this flag: https://airflow.apache.org/docs/apache-airflow/stable/configurations-ref.html#execute-tasks-new-python-interpreter - this is slower but each task is not run in a forked process but in a separate, new interpreter. That should help.

This solution doesn´t work. I set in the config the variable. Restarted Webserver and scheduler and the message continue to be:
RuntimeError: Cannot re-i

[2021-11-19 14:53] potiuk commented on #19701
Did you restart workers? You skipped the part where you shoudl describe your environment, So I have no idea what deployment you have. The setting above shoudl work for Kubernetes and LocalExecutor. But if you use Celery workers then there is another setting which you can try: https://airflow.apache.org/docs/apache-airflow/stable/configurations-ref.html#pool

If it does not work, then using PythonV

[2021-11-19 15:53] dstandish commented on #19688
@potiuk hey i have an idea.

We can create a `demo` section in config.

Then:

[code]

And then maybe users would be more accepting of `demo` settings being disabled for certain scenarios.

As it is, from user perspective, maybe since it's a "core" setting, there is the expectation that it should always work.

But there is a negative to this idea because i'll bet sometimes people like example dags

[2021-11-19 16:05] potiuk commented on #19688
:heart:  it @dstandish

[2021-11-19 16:12] luancaarvalho commented on #19688
@potiuk @dstandish  The ideas of the update in the docs and the additon of demo section are awesome ! Certainly both will help a lot, because even with helm existing for production enviroments, it's good to test the way of my production deployment in my development enviroment.
Besides that, with the demo section and the creation of default connections, for people like me that uses IAM instance pro

[2021-11-19 16:34] potiuk commented on #19688
Well - just to clarify - we still do not want to make it "built-in" to create connections @luancaarvalho. This will remain your work to create them in the database if you use chart. The "demo" is merely about renaming this section so that people will not think they can use it in the Helm Chart.

So for you nothing changes. You still should make sure that you have the right connections (those that

[2021-11-19 18:10] ulisesojeda commented on #19369
Thanks @raphaelauv.
I've opened this PR https://github.com/apache/airflow/pull/19713

@potiuk could you check it please?

[2021-11-19 20:13] jj-ookla opened #19716 "[Airflow 2.2.2] execution_date Proxy object - str formatting error"
### Apache Airflow version

2.2.2 (latest released)

### Operating System

Ubuntu 18.04.6

### Versions of Apache Airflow Providers

_No response_

### Deployment

Other Docker-based deployment

### Deployment details

_No response_

### What happened

The deprecated variable `execution_date` raises an error when used in an f string template with date string formatting.

[code]

### What you expec

[2021-11-19 20:18] Arwiim opened #19717 "glue job error for render the script_args parameter"
### Apache Airflow version

2.0.1

### Operating System

LInux

### Versions of Apache Airflow Providers

2.0.1

### Deployment

Official Apache Airflow Helm Chart

### Deployment details

Is running in a EKS cluster

### What happened

im trying to render a macro in the arguments of the glue operator
![image](https://user-images.githubusercontent.com/53288078/142686116-7703313b-8055-4834-b6ae-06f

[2021-11-19 20:54] uranusjr commented on #19716
This can be worked around by implementing a proxy specific for datetime:

[code]

[2021-11-20 02:01] alexbegg opened #19719 "Future upstream tasks should be ignored for default "all_success" trigger rule"
### Apache Airflow version

2.1.4

### Operating System

Debian GNU/Linux 10 (buster)

### Versions of Apache Airflow Providers

_No response_

### Deployment

Astronomer

### Deployment details

_No response_

### What happened

When a task has the default "all_success" trigger rule, if the task immediately upstream has a future `start_date` it will cause the current task to not run, same with th

[2021-11-20 02:20] dillonjohnson commented on #18578
I'd be glad to take this one over.
@eladkal

[2021-11-20 07:28] ephraimbuddy commented on #18401
Can anyone try this in 2.2.2?

[2021-11-20 07:31] eladkal commented on #18578
Assigned

[2021-11-20 10:44] rjribeiro commented on #12103
In Airflow 2.1.3 this problem still exists

[2021-11-20 13:59] vaci commented on #19578
I see a similar issue when attempting to run a task using a custom Timetable, as it is then not possible to render templates in an operator.

The problem is caused by this code, which specifically checks for certain sub-classes of Timetable:
https://github.com/apache/airflow/blob/2.2.1/airflow/models/dag.py#L652

[2021-11-20 15:05] pplanel commented on #16176
Up, facing the same problem.

[2021-11-20 16:09] #13531 closed

[2021-11-20 16:23] uranusjr commented on #19578
Is this an entirely new DAG, or are you changing an existing DAG to use a custom timetable?

[2021-11-20 16:29] potiuk commented on #19578
Hmm @uranusjr - maybe I am missing something but I believe we simply did not plug calling `infer_data_interval` from custom timetables. I cannot find a single place where it would be called, and I believe it should be use for Custom Timetables to infer the interval for manual/test/out-of-bands runs.

I believe we simply lost it while implementation - even if it is nicely described in the docs. :)

[2021-11-20 16:53] subkanthi opened #19724 "Enhance documentation for setting up KubernetesExecutor"
### Describe the issue with documentation

I couldnt find any good docs to setup the right config in airflow.cfg for KubernetesExecutor, CeleryKubernetesExecutor and also to setup the tasks to run on kubernetes.
The queue definition in task for picking kubernetesExecutor needs a good example.
### How to solve the problem

_No response_

### Anything else

_No response_

### Are you willing to subm

[2021-11-20 16:56] uranusjr commented on #19578
The root problem is that `airflow dag test` is not running anything out-of-band; it triggers full-blown backfill runs, and there’s absolutely no way to distinguish those runs from backfill runs triggered by the executor. I mentioned that in #18473 and #18758; the current behaviour of this command is a big odd-ball in the big picture and does not really make sense fundamentally.

[2021-11-20 17:01] potiuk commented on #19578
But this case is `airflow tasks test` not the `airlfow dag tests` (and I do agree dag tests is not good).

For tasks test I thin the data interval should be inferred as in the docs, and regardles from the error reported with task tests I think `infer_data_interval` not being called at all in our code is quite a bit worrying.

[2021-11-20 17:01] jj-ookla commented on #19716
@uranusjr I have discovered a similar issue with `prev_ds` and `next_ds`.

[code]

[2021-11-20 17:14] uranusjr commented on #19578
Oh! I misread then, and identified the problem wrong. But the root issue is somewhat similar though. In both cases, the command would find an existing DAG run, and re-run either one ti or all tis in it.

The problem is that, if a DAG run was created before the timetable was changed, the run will not be able to infer a meaningful data interval. Before 2.2, a DAG run only has `execution_date`, and t

[2021-11-20 17:17] potiuk commented on #18758
One comment to that is (via #19578) that users also use (and quite often) `airflow tasks test` to run single tasks for a particular DAG. I think while we could get-by with backfil on `dags test` , this will not be the case for `tasks test`- and we need to figure out how to pass the data_interval to that comand as well. I think from the [docs](https://airflow.apache.org/docs/apache-airflow/stable/h

[2021-11-20 17:18] uranusjr commented on #19716
That is unfixable, I’m afraid, since the `datetime` API is too limiting to make this work.

But you shouldn’t need to do this in the first place? That exact value is already available directly in the context as `next_execution_date`.

[2021-11-20 17:24] potiuk commented on #19578
Why don't we add "data-interval' to `dags test` and `tasks tests` command to specify it manually ? Those are tests commands for user to try things out, they could add data interval there and we could provide a helpful explanation and hint what data interval they should add if they don't specify them for Custom timetable.

But I think in this case the run does not even exist - so we have nothing to

[2021-11-20 17:28] uranusjr commented on #19578
That works for me as well, as a variant to the “give up” solution.

[2021-11-20 17:29] potiuk commented on #19578
What still worries me - why we have the `infer_data_interval` documentaed by not used @uranusjr :) ?

[2021-11-20 17:35] uranusjr commented on #19578
Because `infer_data_interval` is for inferring manual runs, and `test` commands run backfill runs! There are conceptually no way to infer a data interval for an automated (i.e. scheduled or backfill) run from a logical date, as I mentioned above.

[2021-11-20 17:38] potiuk commented on #19578
Yeah. yeah I understand that - but it doesn't seem to be used in the code AT ALL (or maybe I missed it when searching). I just could not find a single call to the `infer_data_interval` in the whole Airflow codebase.

[2021-11-20 17:49] jj-ookla commented on #19716
👍🏻  This was an edge case on our end and I have already updated usage to `data_interval_end`. Posting related issues here in case they are relevant.

[2021-11-20 17:52] potiuk commented on #19716
Yeah. Agree with @uranusjr - we **could** potentially monkey-patch datetime, but this is not really worthy of that. Almost by definition, there are probably other cases and total compatibility with any python code written out there is not achievable, it will be far easier to fix those cases by the users.

[2021-11-21 00:07] #17558 closed

[2021-11-21 05:55] uranusjr commented on #19578
Oooooh. Good catch, because the function is actually named wrong in the example! The correct function name is in fact `infer_manual_data_interval`.

https://github.com/apache/airflow/blob/9517342b727b977bcc7a99197c802bc084584c5d/airflow/timetables/base.py#L160-L167

[2021-11-21 09:06] potiuk commented on #19578
Ahhh ! That explains everything :)

[2021-11-21 10:56] raphaelauv commented on #19719
If a task is after another that mean there is a dependency so airflow will not schedule a task if an upstream task haven't run yet , no matter the trigger rule of that second task.

[2021-11-21 10:59] raphaelauv commented on #19698
WIP -> https://github.com/apache/airflow/pull/19572

[2021-11-21 15:01] DuyHV20150601 commented on #13625
Hi, do u resolve this issue? I'm facing exactly that issue but have no idea to tackle :(

[2021-11-22 02:07] uranusjr commented on #19698
Assigning to avoid acceidental overlap.

[2021-11-22 05:21] MightyTedKim commented on #16290
@jedcunningham thanks for the tip. could u share a little more for the sensor deleting configs?

[2021-11-22 05:21] uranusjr commented on #19719
I’d think `NONE_FAILED` or `NONE_FAILED_MIN_ONE_SUCCESS` is a better fit. Success means the task successfully executed to me, and a task in the future did not successfully execute.

[2021-11-22 05:52] eladkal commented on #10123
@uranusjr isn't that scheduling requirement covered fully by AIP-39?

[2021-11-22 06:07] uranusjr commented on #10123
Yes, this should be possible with custom timetables.

[2021-11-22 06:07] #10123 closed

[2021-11-22 08:23] #13954 closed

[2021-11-22 08:43] potiuk commented on #19635
There were quite a few fixes related to similar behaviour- you can take a look at the changelog and try to see if any of those sounds familiar: https://github.com/apache/airflow/blob/main/CHANGELOG.txt

[2021-11-22 08:44] thibaultbl commented on #8969
Do you think this module will be implemented any time soon ?

[2021-11-22 08:45] potiuk commented on #19635
But as I wrote - there is not enough data in your report to be definitely sure. Please test if Airflow 2.2.2 solves your problem simply. This is by fare fastest way (for you but also for busy maintainers who are mostly investigating issues for free) to find out if the problem still exist.

[2021-11-22 08:46] potiuk commented on #19635
If you find that it is still not fixed in 2.2.2 and report more details (detailed stack traces etc. from 2.2.2 we can always reopen this issue).

[2021-11-22 09:20] uranusjr commented on #8969
Feel free to contribute to either the module or the examples.

[2021-11-22 10:09] abouquet opened #19739 "Unable to create a WinRM Connection with apache-airflow-providers-microsoft-winrm installed"
### Apache Airflow Provider(s)

microsoft-winrm

### Versions of Apache Airflow Providers

![2021-11-22_11h00_15](https://user-images.githubusercontent.com/2518542/142842528-a984d294-fad4-46c5-b773-57915ae58fc4.png)

### Apache Airflow version

2.2.2 (latest released)

### Operating System

Windows Docker WSL2

### Deployment

Docker-Compose

### Deployment details

[airflow.zip](https://github.co

[2021-11-22 11:04] potiuk commented on #19739
It's not a bug - simply WinRM connection does not have custom connection type defined (which is perfectly fine - you can use any type of connection for that - for example HTTP (it only uses host/login/password) - but if you think it's a good idea and you miss it, you can make a PR and add one - you could add custom connection configuration for it: https://airflow.apache.org/docs/apache-airflow/sta

[2021-11-22 11:10] abouquet commented on #19739
Ok thanks for your answer !

In that case why don't we  name a new connection called "generic connection".
Maybe it could improve understanding on when we can use it (and improve documentation of providers that don't need custom conenction

[2021-11-22 11:14] potiuk commented on #19739
That's a good feature to add. Can you add another feature request for it please ? Or maybe even straight add PR - for that - that's a simple feature to add, no need to raise an issue for it.

[2021-11-22 11:16] abouquet commented on #19739
I'm not a python developer ;-).

But will check it out if I can got for it !

[2021-11-22 11:19] potiuk commented on #19739
It should be basically as easy as adding new connection type here (and possibly adding/fixing some tests). https://github.com/apache/airflow/blob/56bdfe7a840c25360d596ca94fd11d2ccfadb4ba/airflow/www/views.py#L3290

[2021-11-22 12:28] eladkal commented on #10704
Regardless of versioning user might want to kill a process for diffrent reasons.

We do have endpoint to change [DagRun](https://airflow.apache.org/docs/apache-airflow/stable/stable-rest-api-ref.html#operation/update_dag_run_state) state I think this won't invoke the `on_kill()` method of the tasks that are currently running.

[2021-11-22 12:37] #14198 closed

[2021-11-22 12:41] cstenkamp opened #19743 "`catchup=False` doesn't stop airflow from backfilling if executed using the DebugExecutor"
### Apache Airflow version

2.1.4

### Operating System

Ubuntu 20.04.3 (airflow in docker-compose)

### Versions of Apache Airflow Providers

_No response_

### Deployment

Docker-Compose

### Deployment details

Docker-Compose stack based on Docker-Image `apache/airflow:2.1.4`

### What happened

When running a DAG using the DebugExecutor (see below), `catchup=False` is ignored and airflow start

[2021-11-22 12:43] eladkal commented on #14854
I believe this is depended on having an endpoint first https://github.com/apache/airflow/issues/18816

[2021-11-22 12:45] eladkal commented on #15590
@JavierLopezT can you please provide example of what you expect from this feature and why #13365 isn't covering it?

[2021-11-22 12:47] eladkal commented on #15974
@nisarg1499 are you still working on this issue?

[2021-11-22 12:50] eladkal commented on #16366
Solved by https://github.com/apache/airflow/pull/16401 (according to PR description). Not sure why Github didn't auto close it :/

[2021-11-22 12:50] #16366 closed

[2021-11-22 12:52] #13811 closed

[2021-11-22 13:47] ephraimbuddy commented on #19743
Can you test with 2.2.2, there are changes in how catchup works since 2.1.4

[2021-11-22 14:10] potiuk commented on #16366
When there is  more than one issue they should be mentioned with full syntax:

Closes :#XXX, Closes :#XXY

See "mutliple issues" in
https://docs.github.com/en/issues/tracking-your-work-with-issues/linking-a-pull-request-to-an-issue#linking-a-pull-request-to-an-issue-using-a-keyword

[2021-11-22 14:10] potiuk commented on #16366
CC: @ephraimbuddy ^^

[2021-11-22 14:15] abouquet commented on #19739
Have tried to connect on the server using "HTTP" connection type.

It seems test button doesnt pass.

I'm using AD connexion that's why there is a domain in the credential with `SIM\a.bouquet`

[code]

Has anyone succeed into configuring a WinRM Provider ?

WinRM is activated and UP on server side

![image](https://user-images.githubusercontent.com/2518542/142876854-21d90af9-6143-4e28-a228-26a06c3

[2021-11-22 14:22] ephraimbuddy commented on #16366
Thanks!!

[2021-11-22 14:51] eladkal commented on #19221
@rolldeep assigned the issue to you. Feel free to open PR.

[2021-11-22 15:04] ephraimbuddy commented on #19704
Can you try in 2.2.2? There's a pending timeout and the pods are deleted if they fail to start after a pending timeout. See https://airflow.apache.org/docs/apache-airflow/stable/configurations-ref.html#worker-pods-pending-timeout

[2021-11-22 15:28] guim4dev opened #19748 "Support for one_success_all_done trigger_rule"
### Description

Currently, there is support only for one_success trigger_rule, which starts the task instance the moment after one of the upstream tasks succeeds. The idea for the new trigger_rule is to wait for all upstream tasks to be done and at least one of them succeed.

### Use case/motivation

The use case is to allow a OR-like behavior to trigger_rules.
Maybe even XOR-like behavior could

[2021-11-22 15:39] potiuk commented on #19748
Duplicate of #17010 - please discuss it there.

[2021-11-22 15:39] #19748 closed

[2021-11-22 15:40] potiuk commented on #19748
(and read the discussion - this case is already supported).

[2021-11-22 15:45] potiuk commented on #19673
Aren't Cluster Policies the exact answer to your question?

https://airflow.apache.org/docs/apache-airflow/stable/concepts/cluster-policies.html

Specifycally `task_instance_mutation_hook`  seems to be launched at the very time you want and have all the information needed from the context?

[2021-11-22 16:47] yevsh commented on #17395
I Installed 2.2.1

in dag I have:
relativedelta(day=1,hour=12,months=+1)

from scheduler  I ran:

airflow db init

[code]

[2021-11-22 16:54] ephraimbuddy commented on #17395
It's fixed in 2.2.2. See https://github.com/apache/airflow/pull/19418

[2021-11-22 17:21] john-jac commented on #13824
Is is possible we're running into a CloudWatch quota?

Per the below docs `There is a quota of 5 requests per second per log stream. Additional requests are throttled. This quota can't be changed. `

https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_PutLogEvents.html

[2021-11-22 18:08] cb149 opened #19752 "Infinite wait in SparkSubmitOperator kill"
### Apache Airflow Provider(s)

apache-spark

### Versions of Apache Airflow Providers

apache-airflow-providers-apache-spark 2.0.1

### Apache Airflow version

2.2.0

### Operating System

Debian buster

### Deployment

Other Docker-based deployment

### Deployment details

_No response_

### What happened

Today, my Spark on YARN job ran longer than the `execution_timeout=timedelta(minutes=30)`.

[2021-11-22 18:10] yevsh commented on #17395
thanks! will reinstall and retest and update

[2021-11-22 18:10] halilduygulu commented on #19622
Hi I am having the same case I think. airflow version 2.2.2 , just upgraded from 2.0.2
A huge dag running with concurrency = 10 and there are other dags which their last tasks are in scheduled state forever now. I increased max_tis_per_query = 300 , it was 100, but did not see any improvement. Weird thing is if I ran another dag it runs fine until last task, then stuck, now I got 5 dags waiting in

[2021-11-22 19:06] alexbegg opened #19754 "ExternalTaskSensor should skip if soft_fail=True and external task in one of the failed_states"
### Apache Airflow version

2.1.4

### Operating System

Debian GNU/Linux 10 (buster)

### Versions of Apache Airflow Providers

_No response_

### Deployment

Astronomer

### Deployment details

_No response_

### What happened

I ran into a scenario where if I use an `ExternalTaskSensor` and set it to `soft_fail=True` but also set it to `failed_states=['skipped']` I would expect if the external

[2021-11-22 19:09] alexbegg commented on #19754
Actually, I guess I'll add to this that if `ExternalTaskSensor` has `soft_fail=True` it should maybe skip if the external task is in any of the listed `failed_states`?

[2021-11-22 19:20] guim4dev commented on #17010
@potiuk i really like the alias idea. Currently, the [doc](https://airflow.apache.org/docs/apache-airflow/2.1.2/concepts/dags.html?highlight=none_failed_or_skipped#trigger-rules) says, in regards to none_failed_or_skipped:

After this discussion, this doesn't seem to be the truth for me. "WAIT_FOR_ALL_AND_ONE_SUCCESS" describes the real behavior of the TriggerRule.

[2021-11-22 19:40] alexbegg commented on #19719
What I am trying to say with this issue is that the ask shouldn't be a dependency because the run is before the task's start_date. I can go as far as saying I think there should be a full design change where the UI to make it so it shouldn't even render the task in the graph view and the tree view shouldn't show the task's square.

Shouldn't dependencies be only tasks where the current run's datet

[2021-11-22 21:42] jsnb-devoted opened #19757 "Change the default for `dag_processor_manager_log_location`"
### Description

Should the default for the  [dag_processor_manager_log_location](https://airflow.apache.org/docs/apache-airflow/stable/configurations-ref.html#dag-processor-manager-log-location) be `{BASE_LOG_FOLDER}/dag_processor_manager/dag_processor_manager.log` instead of `{AIRFLOW_HOME}/logs/dag_processor_manager/dag_processor_manager.log`?

### Use case/motivation

I'm running the k8s execu

[2021-11-22 22:39] potiuk commented on #19757
This is nontrivial because in it's general solution it will depend on the sequence of how the entties are specified and used and some cases are unsolvable.

I.e.  what should happens if you specify `base_log_folder={DAG_PROCESSOR_MANAGER_LOG_LOCATION}` and `dag_processor_manger_log_location={BASE_LOG_FOLDER}' ?

How to avoid infiinite recursion?

The current approach is that we can specify ENV_VAR

[2021-11-22 22:46] jsnb-devoted commented on #19757
That totally checks out. Not sure how many others will run into the issue I had but I think a documentation change could have helped in my case.

I can take a stab at the wording -- assign it to me and I'll try to get to it tomorrow.

Thank you!

[2021-11-22 23:00] nisarg1499 commented on #15974
Hey @eladkal Currently I am not working on this due to hectic schedule. But I know the solution as I have worked on this and I was planning to complete that in December. But if in between someone wants to work on this, then feel free to take it.

[2021-11-23 00:04] raphaelauv commented on #17010
@guim4dev

I changed the name of the trigger_rule check the latest version of the doc ( not the 2.1.2)

[none_failed_min_one_success](https://airflow.apache.org/docs/apache-airflow/2.2.2/concepts/dags.html?highlight=none_failed_min_one_success#trigger-rules)

[2021-11-23 00:37] MightyTedKim commented on #17371
working great @vijayakumarpattanashetti thanks :)

[2021-11-23 00:38] MightyTedKim commented on #16290
I made my yaml like this

[code]
still on a dev phase, but works as I expected

[2021-11-23 00:45] raphaelauv commented on #14813
@kaxil you can apparently remove that issue from 2.3.0 https://github.com/apache/airflow/milestone/36?closed=1

[2021-11-23 03:59] tsingh2k15 opened #19761 "removing upper bound for markupsafe"
### Description

Per discussion and guidance from #19753, opening this issue and PR https://github.com/apache/airflow/pull/19760 for review. Based on if all the tests pass, this could be reviewed further.

### Use case/motivation

Currently Jinja2 upper bound is jinja2>=2.10.1,<4 at https://github.com/apache/airflow/blob/main/setup.cfg#L121 as part of #16595

Jinja2 seems to require MarkupSafe>=2.

[2021-11-23 07:54] stablum opened #19764 "Clicked on a task with an error, then clear the task (with downstream and recursive on) and got this exception"
### Apache Airflow version

2.1.4

### Operating System

Ubuntu 21.04

### Versions of Apache Airflow Providers

2.1.4

### Deployment

Other

### Deployment details

airflow 2.1.4
python 3.9.5

### What happened

Clicked on a task with an error, then clear the task (with downstream and recursive on) and got this exception

Something bad has happened.
Please consider letting us know by creating a

[2021-11-23 08:38] vapiravfif commented on #19622
@halilduygulu Thank you for verifying this on newer version, haven't gotten to this yet. Ultimately, increasing only the `parallelism` value should solve this (in my case I bumped it to 1024, just to be sure).

The origin of the issue seems to be in scheduler limiting the query of tasks in "scheduled" state and waiting to be queued by the amount of potentially available slots. But then some of the

[2021-11-23 09:21] uranusjr commented on #17371
Note that `open(...).read()` will leave you with an unclosed file handle. It’s better to use `pathlib.Path("/path/to/yaml").read_text()` instead.

[2021-11-23 11:05] jpradass opened #19767 "dag callbacks are missed sometimes"
### Apache Airflow version

2.0.1

### Operating System

RedHat ubi8/ubi-minimal

### Versions of Apache Airflow Providers

apache-airflow-providers-amazon==1.1.0
apache-airflow-providers-celery==1.0.1
apache-airflow-providers-ftp==1.0.1
apache-airflow-providers-http==1.1.0
apache-airflow-providers-imap==1.0.1
apache-airflow-providers-postgres==1.0.1
apache-airflow-providers-redis==1.0.1
apache-ai

[2021-11-23 11:07] calfzhou commented on #19342
What's your server's timezone and Airflow config's default timezone?

[2021-11-23 11:11] sartyukhov commented on #19342
Has this patch been added to the 2.2.2? Because the bug is still exists in it.

[2021-11-23 11:21] calfzhou commented on #19342
it seems not. The pr was merged into `main` branch, not included in release `2.2.2`.

[2021-11-23 11:23] Bowrna commented on #8280
@mik-laj I am a newbie here and I am trying to add mssql_to_gcs example dag. GCP is also new to me and I have created an account and enabled service account. I have to add/edit the connection details in GCP connection to check if my example dag is working. I have created an example dag with mssql already. When configuring connections for GCP, i had to add keyfile path, keyfile secret name, keyfile

[2021-11-23 11:59] aborigine commented on #19342
I know what's the problem, I should change the js file tiLog.478df866123cef0b0eae.js under 'airflow/www/static/dist directly' instead of 'airflow/www/static/js/ti_log.js'. Once I restart the webserver, the datetime became the right one. Thanks for your reply anyway.

[2021-11-23 12:06] ephraimbuddy commented on #19699
@kristoffern When this task gets stuck, does the task_instance have value in the `external_executor_id` column or it's null?

[2021-11-23 12:20] ralleman-quasarsat opened #19771 "Unable to get external postgresql working"
### Official Helm Chart version

1.3.0 (latest released)

### Apache Airflow version

2.2.2 (latest released)

### Kubernetes Version

Latest AKS

### Helm Chart configuration

Values file (airflow-values-deploy.yaml):
[code]

Azure DevOps pipeline step:
[code]

### Docker Image customisations

None

### What happened

The helm step fails with a timeout. Step log:
[code]
airflow-worker-0 log:
[cod

[2021-11-23 12:40] potiuk commented on #19771
Where did you get teh `externalPostgresDatabase` configuration from ? I am scratching my head, because it's nowhere to be found in the code of netiher Airflow nor Helm Chart. The right way to configure the external database is here: ghttps://airflow.apache.org/docs/helm-chart/stable/production-guide.html#database

[2021-11-23 12:40] #19771 closed

[2021-11-23 12:43] ralleman-quasarsat commented on #19771
Please don't close tickets before I've had a chance to respond.

The configuration is defined here: https://github.com/airflow-helm/charts/tree/main/charts/airflow

[2021-11-23 12:44] ephraimbuddy commented on #19767
Can you test this in 2.2.2?

[2021-11-23 12:49] potiuk commented on #19771
Plese open your issue where it belongs. The Helm Chart you are referring to is not maintained by the Airlfow Community so issues should be raised there (you mentioned 1.3.0 Airflow Chart above which is not the one you are using.

[2021-11-23 12:52] potiuk commented on #19771
We can always reopen the issue when you respond, but when it's clearly wrong, closing it good for community so that invalid requests are not looked at and do not take time of maintainers.

[2021-11-23 12:57] tothandor opened #19773 "Add UI collapse property to TaskGroups"
### Description

Multiple chained groups of tasks yield a visual clutter in the UI Tree View, with many repetitions of the same leaf tasks. In some situations this may be desirable, but in others a simple "group level" tree view would be more comprehensible, where on could descend into a group.

Subdags helped to contain the scope of view to a subdag level, similarly to browsing folders/directorie

[2021-11-23 12:58] potiuk commented on #8280
Here are the relevant GCP instructions @Bowrna  https://cloud.google.com/docs/authentication/production

[2021-11-23 13:02] jpradass commented on #19767
Sure. I'll try with the new version and if it happens again I'll let you know.

[2021-11-23 13:14] ashb commented on #19773
The tree view on main has already been reworked for 2.3 -- see https://github.com/apache/airflow/pull/18675

I think this new Tree view addresses your complaints -- see
<img width="677" alt="Screen Shot 2021-10-07 at 10 23 11 AM" src="https://user-images.githubusercontent.com/4600967/136414969-3f69fdd6-2d6c-4ad1-b05d-c72f323ed3c4.png">

If I've misunderstood please let us know and we can re-open t

[2021-11-23 13:14] #19773 closed

[2021-11-23 13:16] stroykova commented on #9975
2.2.2 is fine with this :partying_face:

[2021-11-23 13:22] tothandor commented on #19773
This is pretty close to what I would need. Thanks a lot for your reply and checking this out, I am closing the issue.

[2021-11-23 14:12] potiuk commented on #19773
You can always open a separate PR request - taking as the base what you see in main

[2021-11-23 14:13] bbovenzi commented on #19342
Sounds like webpack wasn't rebuilding the files. In the future, you can run `airflow webserver -d` and in `airflow/www` run `yarn dev` to see your changes.

[2021-11-23 14:15] lostkamp commented on #18599
thanks @potiuk
Sorry, I didn't realize that there is already a PR open for this issue. Should I fork the repo from @coinzerge and try to fix the tests?

[2021-11-23 14:17] ephraimbuddy commented on #16023
Fixed in #19375, @vapiravfif can you test in 2.2.2 and reopen if it still happens

[2021-11-23 14:17] #16023 closed

[2021-11-23 14:26] kristoffern commented on #19699
@ephraimbuddy The `external_executor_id` has a value attached to it, but that ID can't be found in the `celery_taskmeta` table.
I did confirm that other `external_executor_id` that were successful had matching entries in the `celery_taskmeta` table :-)

It's almost as if (and this is just speculation) a task is created and a row in `external_executor_id` is created, and somewhere before the system

[2021-11-23 14:30] potiuk commented on #18599
why not - but try talk to @coinzerge first maybe :)

[2021-11-23 14:31] ashb commented on #19699
The UUID value is generated by the celery _client_, so I guess what you suggest is possible.

[2021-11-23 14:41] ephraimbuddy commented on #17943
We no longer have TIs without dagruns and this method was removed in https://github.com/apache/airflow/pull/17719

[2021-11-23 14:41] #17943 closed

[2021-11-23 14:43] ephraimbuddy commented on #19368
Fixed as part of https://github.com/apache/airflow/pull/19528

[2021-11-23 14:43] #19368 closed

[2021-11-23 14:48] jobegrabber commented on #12369
@XD-DENG @kaxil I'm not sure if this should raise an error on missing `netloc` since at least for Google Cloud connections it is actually ignored: https://airflow.apache.org/docs/apache-airflow-providers-google/stable/connections/gcp.html#configuring-the-connection

This also caused a regression for us when upgrading to Airflow 2 and setting up connections through the CLI.
It took me a while to fi

[2021-11-23 16:08] uranusjr opened #19781 "A way to test email configuration"
### Description

Provide a way to test the email configurations work, perhaps in UI or CLI.

### Use case/motivation

Airflow provides configurations for how emails should be sent. But after changing the configurations, it’s desirable to have a way to ensure they’re working by sending a test email, since otherwise it means the user is going to miss potentially critical email notifications and disc

[2021-11-23 16:11] potiuk commented on #19781
Great idea. We have a new "email" type of connection. Sounds like we should simply handle it well. This conneciton is only used for user/password (and rest is kept in the config) but it could be a special case of "Test connection" button.

[2021-11-23 16:24] patrick-mckinley opened #19782 "Tag Namespacing & Colour"
### Description

As our number of DAGs increase, we're getting to the point where searching our flows is getting harder and harder, and naming conventions don't quite cut it as they're hard to review for many (dyslexics and such just see a bit of a blunge of letters - at least that's what i end up seeing :D)

Tags are a useful way around that, however they also suffer a similar issue as they are j

[2021-11-23 16:48] joumenharzli opened #19783 "Bad parsing for Cloudwatch Group ARN for logging"
### Apache Airflow version

2.1.3

### Operating System

All

### Versions of Apache Airflow Providers

_No response_

### Deployment

Other

### Deployment details

_No response_

### What happened

I am deploying Airflow in AWS ECS,
I am trying to send tasks logs to cloudwatch.
Usually log groups in AWS have this format /aws/name_of_service/name_of_component

I configured my env variables as fol

[2021-11-23 17:39] Bowrna commented on #8280
@potiuk I have followed the instructions and enabled the service account. I have the JSON key after enabling the service account. But I am not sure what values I have to give in the  keyfile path, keyfile secret name, keyfile json in the Google Cloud connections form. I only have the JSON generated out by enabling service account.

[2021-11-23 18:30] wesleyemery opened #19784 "Airflow python exception at login"
### Official Helm Chart version

1.3.0 (latest released)

### Apache Airflow version

2.1.0

### Kubernetes Version

1.20.9

### Helm Chart configuration

[code]

### Docker Image customisations

FROM apache/airflow:latest-python3.7

USER root
RUN sudo apt-get update \
  && sudo apt-get install -y g++ \
  && sudo apt-get install -y unixodbc-dev \
  && sudo apt-get install -y python3.7-dev \
  && p

[2021-11-23 18:39] rustikk opened #19785 "Applying labels to task groups shows a cycle in the graph view for the dag"
### Apache Airflow version

2.2.2

### Operating System

Docker (debian:buster)

### Versions of Apache Airflow Providers

N/A

### Deployment

Astronomer

### Deployment details

run airflow with this dag

[code]

### What happened

expanded task views look like they have cycles

<img width="896" alt="Screen Shot 2021-11-22 at 2 33 49 PM" src="https://user-images.githubusercontent.com/17841735/14

[2021-11-23 18:45] potiuk commented on #19784
The problem is that you did not change "defaultAirflowTag" but you rebuilt your image with "latest" version - which has been upgraded to 2.2.2.

If you want to keep 2.1.0 version of Airlfow you should explicitly base your image on it:
In your docker image you shoud use:

[code]

The `latest` tag is moving whenever we release new version.

The problem is that your "custom" image is likely based on

[2021-11-23 18:48] potiuk commented on #19784
@jedcunningham @kaxil  - this is an interesting edge case. I think we shoudl somehow verify that the image that we run for migration is the same version as the "regular airflow image" - otherwise it might lead to this kind of problem. It seems ti is very easy to fall in this trap by the users. Not sure how we can do it (maybe we should have extra init containers in the migration step with `version

[2021-11-23 19:09] jedcunningham commented on #19784
I'm a little torn on this one. The comment seems pretty descriptive of what that flag does and calls out exactly what image will be used 🤷‍♂️:

https://github.com/apache/airflow/blob/bccb45f5fe067ffa64f5f303bfbb6e8c1b552add/chart/values.yaml#L54-L58

I think the bigger issue is folks reach for `images.airflow.repository` over `defaultAirflowRepository` because the former seems more intuitive. This

[2021-11-23 19:15] potiuk commented on #19784
It did not, because it was using the very same 'defult airflow image" (which was different version than the "regular image" - this is the whole point :)

[2021-11-23 19:18] potiuk commented on #19784
My point here is that when you use 'useDefaultImageForMigration` you pretty much either get different versions for those two images when latest is used accidentally to rebuild the image (case above) or you have to always remember to update the version in two places (custom image and image for migrations).

This is completly non-intuitive and is pretty much guaranteed to happen at this or that migr

[2021-11-23 19:34] kaxil commented on #19784
It is difficult to do that with Helm as you can't really verify directly using just the "tags" via `NOTES.txt`. Users can have Custom images where the tags might be different.

Few things and suggestions:
- I would never recommend using a "moving target" for Production deployments -- i.e. never use the "latest" docker image. You should always use an immutable image to avoid surprises. Airflow does

[2021-11-23 19:38] potiuk commented on #19784
I still think documentation here is not enough, even if people will not use `latest` (which I agree is a very bad idea) they will always have to remember about upgrading two version. This will fire back (users and us responding to issues) sooner or later IMHO.

Maybe the way to go is to actually change `wait-for-migration` to use the regular Image rather than the "migration image" ?  Sounds that `

[2021-11-23 19:41] uranusjr opened #19788 "Prevent unexpected in the code base"
### Body

Spun out of https://github.com/apache/airflow/pull/19725#issuecomment-977062213

It may be worthwhile to strengthen up the test suite to also catch warnings so we can fix them before the reach the user. Currently there are a ton of warnings being emitted from the test suite, and it’s not exactly optimal (and makes the Pytest result yellow instead of green). [Pytest has a flag for “strict

[2021-11-23 19:59] eladkal commented on #19785
cc @bbovenzi

[2021-11-23 20:00] kaxil commented on #19784
Happy for you to suggest a solution that works with Helm and it's limitation :) We also have sensible defaults, so if someone changes the default, they really should make sure on the implications and we can document those implications, the actions are already clear in the docs on what to do when you change the default.

We already do that, the issue actually is we/user need to check logs for the s

[2021-11-23 21:11] eladkal commented on #19781
I really wonder if smtp configurations should be in airflow.cfg - is there a reason we keep it there other than this how earlier versions of Airflow did it ? :)
The alternative is fully seperated email provider I guess?
We used to have email provider but it wasnt a really Independent one so eventually it was removed and migrated back to core.

In addition the smtp/emails are getting special treatm

[2021-11-23 22:03] ashb commented on #19625
For AIP-42 we'll need to add some form of "task_mapping_id" in here too

[2021-11-23 23:09] mik-laj opened #19797 "Support insecure mode in Snowflake provider"
### Description

Snowflake client drivers perform OCSP checking by default when connecting to a service endpoint. In normal circumstances, we should never turn off OCSP checking, and keep the default security posture of OCSP checking always ON. Only in rare emergency situations when Airflow is unable to connect to Snowflake due to OCSP issues should we consider using this workaround temporarily ti

[2021-11-23 23:58] potiuk commented on #19781
Agree It could be just Hook and fully-fledged connection in Airflow core - does not have to be a provider.

[2021-11-24 00:03] MightyTedKim commented on #17371
@uranusjr thanks ill give it a try :)

[2021-11-24 00:15] potiuk commented on #19784
This is good. The problem with it was that did not happen - simply because both "migrate" job and the `wait-for-migration` container completed successfullly - they "migrated" to version 2.1.0, But the "regular"  image was 2.2.0 and failed with missing column. So this is the main problem to handle here.

So I think what can be done (as I proposed above)

1) change the "wait-for-migration" container

[2021-11-24 00:33] potiuk commented on #19788
Yep. Good idea. For now we only have it at the "import level" in providers for deprecation warnings - i.e. all classes from providers are tested if they are not geneating any warning simply by importing them (except the known ones) https://github.com/apache/airflow/blob/d58df468c8d77c5d45e80f2333eb074bb7771a95/dev/provider_packages/prepare_provider_packages.py#L2070 - but indeed, being strict on w

[2021-11-24 03:30] manuzhang opened #19801 "Airflow scheduler crashed with TypeError: '>=' not supported between instances of 'datetime.datetime' and 'NoneType'"
### Apache Airflow version

2.1.4

### Operating System

Ubuntu 20.04.3 LTS

### Versions of Apache Airflow Providers

_No response_

### Deployment

Other Docker-based deployment

### Deployment details

_No response_

### What happened

Airflow scheduler crashed with following exception
[code]

### What you expected to happen

_No response_

### How to reproduce

Define a `BaseSensorOperator` ta

[2021-11-24 03:46] ckljohn commented on #16432
You can use emoji as workaround. For example, 🔴🟡🟢

[2021-11-24 03:55] ralleman-quasarsat commented on #19771
Thanks for the help on this. I was not aware that there were 2 repos/projects. It's working now.

[2021-11-24 04:19] vsimon opened #19802 "airflow-create-user job does not run on helm upgrade"
### Official Helm Chart version

1.3.0 (latest released)

### Apache Airflow version

2.2.1

### Kubernetes Version

v1.21.1

### Helm Chart configuration

      executor: KubernetesExecutor
      redis:
        enabled: false
      statsd:
        enabled: false
      postgresql:
        persistence:
          enabled: false

### Docker Image customisations

_No response_

### What happened

When

[2021-11-24 05:41] stevenzhang-support commented on #14352
I have a customer with the same symptom and could the airflow team share **any updates** on this?

[2021-11-24 06:40] manuzhang commented on #19801
As per https://dev.mysql.com/doc/refman/5.7/en/datetime.html,

reschedule_date was set to

[2021-11-24 06:55] imamdigmi commented on #13625
Not yet @DuyHV20150601 , I still got the same error

[2021-11-24 08:01] dlampa commented on #17500
Unfortunately I ran into this very issue trying to configure Vault as secrets backend using GCP Auth. The "credentials" returned by the `/auth/gcp/config` call cannot be serialized into JSON , triggering the following:

[code]

[2021-11-24 08:54] JavierLopezT commented on #15590
It is basically what I said in https://github.com/apache/airflow/issues/15590#issuecomment-829418518 If my assumption that #13365 will render the entire documentation of the DAG in that screen is correct, then I think what I propose could be more optimal in some cases. Let's say I have the following DAG doc:

[code]

I don't want to see 103 lines on the screen of JSON configuration. Instead, I jus

[2021-11-24 08:54] aborigine commented on #19342
Got it, and thank you so much. I don't know much about front-end development.

[2021-11-24 09:55] eladkal commented on #19329
cc @jedcunningham

[2021-11-24 10:16] eladkal commented on #19525
cc @uranusjr seems like edge case of https://github.com/apache/airflow/pull/15302 ?

[2021-11-24 10:17] manuzhang commented on #19801
@eladkal
I generated the dag from code but the interval was mistakenly calculated in milliseconds rather than seconds.

[2021-11-24 10:30] kaxil commented on #19784
Yup, agreed on making it explicit in the messaging. We could also add a line or two in the docs on when you should use `useDefaultImageForMigration` and the steps to take care of, I will do it later today.

[2021-11-24 10:43] potiuk commented on #19784
I can do it as well :). I think the more important change is whether it's OK/good to change the "wait-for-migration" image to be the same as "regular airflow" image? Not 100% sure what was the decision for having this defaultImage but until we change:        -
[code]

into:

[code]

The user (as in @wesleyemery  case) will not receive the error message at all in case the versions are different.

[2021-11-24 10:45] potiuk commented on #19784
(Just wanted to make sure we all understand that this is the way to go :)

[2021-11-24 10:45] kennyth01 opened #19804 "TypeError: entry_points() got an unexpected keyword argument 'group'"
### Apache Airflow version

2.0.2

### Operating System

any linux OS

### Versions of Apache Airflow Providers

apache-airflow-providers-databricks==2.0.2
apache-airflow-providers-ftp==1.1.0
apache-airflow-providers-http==2.0.0
apache-airflow-providers-imap==1.0.1
apache-airflow-providers-slack==4.0.0
apache-airflow-providers-sqlite==1.0.2
apache-airflow-providers-ssh==1.3.0

### Deployment

Virt

[2021-11-24 10:53] uranusjr commented on #19804
This is a bug in Markdown 3.3.5. Please use constraint files to install Airflow—if you did, it would not have pulled in this problematic version.

Upstream bug report: Python-Markdown/markdown#1203
Documentation on installation: https://airflow.apache.org/docs/apache-airflow/stable/installation/index.html#using-pypi

[2021-11-24 10:53] #19804 closed

[2021-11-24 10:55] potiuk commented on #19804
Without going into details, the only officially supported installation method for airflow via PIP is described in the docs and it involves passing constraints to your `pip install` command : https://airflow.apache.org/docs/apache-airflow/stable/installation/installing-from-pypi.html. Please follow the installation method described there and see if it is still happening. Check if you have the right

[2021-11-24 11:19] kennyth01 commented on #19804
thanks guys!

[2021-11-24 11:24] massamany opened #19805 "EMAIL: deprecation warning on mail servers with no authentication"
### Apache Airflow version

2.2.0

### Operating System

Ubuntu 18.04

### Versions of Apache Airflow Providers

Not relevant here

### Deployment

Other Docker-based deployment

### Deployment details

_No response_

### What happened

For my use cases, I need airflow to send emails, so I declared a Connection of "Email" type.
As the SMTP server do not require authentication, I left the user / pa

[2021-11-24 12:05] uranusjr commented on #19801
So the value was unintended? In that case I guess we could just invent an arbitrary cap to `poke_interval` and just make the DAG error out on parse. It does not need to be that precise either.

[2021-11-24 12:11] uranusjr commented on #19525
#15302 only handles duplicated IDs in a DAG processor, not in the entire Airflow setup. That is very difficult to do, as already discussed in depth in #17861 and #17891.

Closing this as a duplicate.

[2021-11-24 12:11] #19525 closed

[2021-11-24 12:12] kaxil commented on #19784
The idea is to have the same image in `wait-for-airflow-migrations` and `run-migrations` as they work hand in hand.  `wait-for-airflow-migrations` should just wait for migrations and not check for errors. This is done mainly because Helm does not have a concept of "sequencing of events/pods".

The `run-migrations` runs the DB migrations, so if the DB changes have been applied it is already too lat

[2021-11-24 12:41] potiuk commented on #19784
What I really want to achieve is so if somene makes such mistake, they get a clear information rather than "column is missing" (because it says nothing.

Maybe what we really want is to prioritise merging of https://github.com/apache/airflow/pull/18439 in this case ? Because this will actuall work this way - airflow will refuse to start when the db will not be migrated ? Maybe we can merge it in 2

[2021-11-24 12:45] potiuk commented on #19784
I think adding a message there also to make sure that the migration was run using the same version of airflow - might be handy

[2021-11-24 12:56] potiuk commented on #19805
In #19781 We are discussing a possibility of moving the configuration of email fully to connection (now it is split between config and connection). I guess in the light of this discussion, the easiest way will be to use Email connection with empty user/password to indicate no authentication. Then in the future, the whole email configuration including host for example mightb be done via connection.

[2021-11-24 12:57] potiuk commented on #19805
BTW.  Speaking of which - maybe you would like to take on the task of adding the capability of replacing the smtp configuration from the config with the one coming from connection @massamany ? That sounds not too difficult and could be a nice contribution and we can guide you there.

[2021-11-24 13:24] massamany commented on #19805
@potiuk Yes you're right, I didn't see that at first glance. Only the user/pwd is retrieved from connection and the rest of SMTP connection info is retrieved from config file.
So it would be great to retrieve everything from the connection indeed.
But (there's always a "but"), here is the information needed for the SMTP configuration :

- smtp_host : OK to retrieve from connection
- smtp_port : OK

[2021-11-24 13:52] kaxil commented on #19784
Yup agree on getting #18439 in but it is a new feature and has to be in 2.3.0 -- Want to really make sure (at least the goal is) there are no chances of introducing new bugs as far as possible in bug fixes.

[2021-11-24 14:07] ashb commented on #19801
Ugh, MySQLs date "handling" makes me sad.

[2021-11-24 15:05] thibaultbl commented on #8969
I would be ready to spend some time on it.

Nevertheless, it require some change to Operator class, mainly adding a "lineage_data" attribute to every Operator, are you open to this addition ?

[2021-11-24 17:02] parisni opened #19811 "Helm scheduler HA : postgresql error on slot_pool lock"
### Official Helm Chart version

1.3.0 (latest released)

### Apache Airflow version

2.2.1

### Kubernetes Version

1.21

### Helm Chart configuration

[code]

### Docker Image customisations

_No response_

### What happened

THe postgresql logs this errors:

[code]

### What you expected to happen

_No response_

### How to reproduce

_No response_

### Anything else

_No response_

### Are you

[2021-11-24 17:02] potiuk commented on #19801
Very much so.

[2021-11-24 17:21] tanelk commented on #19811
This should be the intended behaviour. There is a so called "critical section" in the scheduler job, where only one scheduler instance can be at a time. The pools database table is used as a mutex.

Don't think that there is anything that can be done on the airflow side to reduce the misleading error loging.

[2021-11-24 17:40] vdtdg commented on #17507
Had a very similar problem, forcing `run_as_user=None` when running my DAG fixed it. You may have a config inputting a value in this attribute, resulting in the stated behavior.

[2021-11-24 17:52] potiuk commented on #19805
Yeah extra fields are the solution - and we can even customize Email connection to be able to edit those via Airflow UI.

No worries :) everyne must learn. But this one is rather easy - you can also take a look at the "First Time Airflow Contributor's Workshop" I run at OCSS in Mexico - to get some first steps into dev environment and "contribution vibe":  https://youtu.be/kvccZizzfTk

[2021-11-24 17:53] potiuk commented on #19805
BTW. I also came to Python from Java world and never looked back :)

[2021-11-24 17:58] ebacal commented on #19376
I see same behavior with empty value  of default_impersonation =
When change logging_level = CRITICAL or anything but INFO - no log displayed at all
v:2.2.2

[2021-11-24 18:09] wesleyemery commented on #19784
the base image was 2.1.0. I added the 2.2.2 version to the base image to match what helm is expected to see and I still get an error.
[code]

When I set:
  useDefaultImageForMigration: false

I get a timeout waiting for a condition when installing the chart. I hope I'm not missing some detail due to user error.

[code]

Here I explicitly added the version of airflow to match what's expected by def

[2021-11-24 18:20] potiuk commented on #19784
The log says your image is `2.0.2` so something is wrong with your images:

[code]

[2021-11-24 18:21] potiuk commented on #19784
Do you have `imagePullPolicy: always` set ? If not then you have to make sure that whenever you build your custom image, you tag it with unique tag and use that tag in your helm chart.

[2021-11-24 18:22] potiuk commented on #19784
`images.airflow.pullPolicy`

[2021-11-24 18:40] #19757 closed

[2021-11-24 18:47] wesleyemery commented on #19784
Here is what I have:
[code]

helm upgrade --install airflow apache-airflow/airflow -f ./airflow-override-values.yaml -n airflow
Release "airflow" does not exist. Installing it now.
Error: failed post-install: timed out waiting for the condition

[2021-11-24 18:52] potiuk commented on #14352
@stevenzhang-support  I think every case of that might be different, the fact that you get it intermittenly (I speculate because without details you said generic "the same" without being specific if it is persistent or intermittent) then most likely there is a deployment issue somewhere - if Airflow can read the logs in general and only sometimes it can't then probably some proxy, firewall, rate l

[2021-11-24 18:53] #14352 closed

[2021-11-24 18:56] potiuk commented on #19784
You need to take a look at  what your error logs show from the containers that waited for installation to complete - inspect the pods that failed and see why - usually answer will be there. There is no way to help with the information we see now.

[2021-11-24 18:57] potiuk commented on #19784
Interesting thign is that you have missing `airflow` installation when you wanted to upgrade. That indicates that maybe you used wrong namespace or previously installed it differently. I think you need to debug that first.

[2021-11-24 19:08] #19357 closed

[2021-11-24 19:15] potiuk commented on #8280
In Breeze you can put the files in "files" dir and it will be visible inside as "/files/*"  and then in the connection you should specify path to that file :). I think you can specify either  Json orh "Keyfile + Secret" - you do not have to specify all three. I think this page has good explanation of what is in the key. You can also - as exercise look at the unit tests of GcpBaseHook - it should h

[2021-11-24 19:46] uranusjr commented on #8969
It kind of depends on what that attribute would hold, how it will be populated, persisted, and used. The act of adding that attribute should be easy and without negative consequences (just add it to `BaseOperator`).

[2021-11-24 20:22] ScriptPup commented on #17507
I am also seeing this same issue on 2.2.2, I have to use run_as_user in order to access user environment configurations for some DAGs. These DAGs can never complete successfully, instead they always result in the message `Recorded pid <> does not match the current pid <>`.

Most "solutions" I'm finding recommend not using run_as_user and also clearing default_impersonation. unfortunately this isn'

[2021-11-24 21:41] ephraimbuddy commented on #17507
In other to use run_as_user, you must follow this guide http://airflow.apache.org/docs/apache-airflow/stable/security/workload.html#impersonation

[2021-11-24 21:55] PApostol commented on #17874
Hi, I'm also interested in the above. Should we make the config window dynamically change size based on the input JSON? Or maybe preset the height with a constant like `window.innerHeight * 0.5`?

[2021-11-24 22:23] aresabalo opened #19816 "logging error"
### Apache Airflow version

2.2.2 (latest released)

### Operating System

Linux-5.4.0-1056-azure-x86_64-with-glibc2.2.5

### Versions of Apache Airflow Providers

_No response_

### Deployment

Other Docker-based deployment

### Deployment details

kubernetes 1.21.2 (AKS)

### What happened

**DAG using logging class produce stack overflow and abort task.** It seems like a bug in /home/airflow/.l

[2021-11-24 22:28] aresabalo commented on #19816
Bad workaround patch /home/airflow/.local/lib/python3.8/site-packages/airflow/utils/log/secrets_masker.py

    def redact(self, item: "RedactableItem", name: Optional[str] = None) -> "RedactableItem":
        """Redact an any secrets found in ``item``, if it is a string.

        If ``name`` is given, and it's a "sensitive" name (see
        :func:`should_hide_value_for_key`) then all string value

[2021-11-24 23:12] #19241 closed

[2021-11-24 23:12] potiuk commented on #10576
Yeah. I think so.

[2021-11-24 23:12] #10576 closed

[2021-11-24 23:40] virendhar opened #19817 "ECS Operator: Capture container execution logs in Airflow task execution log"
### Description

## Objective:

Add functionality to Airflow ECSOperator to capture the task execution logs as they happen from AWS CloudWatch to the ECSOperator's task execution logs.

### Use case/motivation

## Present Challenge:
When executing Fargate tasks via ECSOperator the logs are not readily available in Airflow task during and after execution. The final status of the container execution

[2021-11-25 00:55] ferruzzi commented on #19641
How strongly do you feel about that?  Leaving them explicitly called out like that makes it obvious they are mandatory and enforces that, which (maybe?) makes it easier for new users to get started.  I kind of like that.  Would it be a deal-breaker this way?

I started implementing it and realized that there is an issue with the current version of the Operator in the main branch; going to have to

[2021-11-25 05:54] Bowrna commented on #8280
thanks @potiuk. Checking the unit test would be great way to understand this configuration.

[2021-11-25 06:18] uranusjr commented on #19816
The redact function needs to have a hard recursion limit.

[2021-11-25 07:17] #19555 closed

[2021-11-25 09:06] shiying2012 commented on #19673
My pod is in a similar situation. We are currently using taskflow API and KubernetesExecutor.

- task1 executes some SQL queries to get some strings. We would like task2 to use the strings obtained by task1 as labels for Kubernetes affinity scheduling, but unfortunately, it is not possible to dynamically generate pod_yaml for task2.

- We would also like to set up the pool for task2 using some oth

[2021-11-25 09:28] uranusjr commented on #14854
I understand the need to trigger backfills from the UI, but what do you mean by “manimupating execution_date”?

[2021-11-25 09:39] uranusjr commented on #19625
Copying from Slack to record the thoughts:

The plan is to piggyback this operation on #18439, right after migrations are done.

When a TaskInstance is created, a foreign key to this tracking table is populated to signify what log filename template this TI will use. `render_log_filename` will use this fk to render the filename, instead of accessing the config.

Existing TaskInstance rows will not

[2021-11-25 09:43] parisni opened #19822 "Helm schduler HA: duplicate key value violates unique constraint "serialized_dag_pkey""
### Official Helm Chart version

1.3.0 (latest released)

### Apache Airflow version

2.2.2

### Kubernetes Version

1.2.1

### Helm Chart configuration

[code]

### Docker Image customisations

_No response_

### What happened

I added 500 dummy dags, and my scheduler/postgres logs are flooded with such error:

[code]

### What you expected to happen

_No response_

### How to reproduce

_No resp

[2021-11-25 09:52] ephraimbuddy commented on #19822
We need more information here especially how to reproduce. Can you try in 2.2.2?

[2021-11-25 10:37] parisni commented on #19822
still apply with 2.2.2. This does not lead to scheduler crash, still they likely to try to insert sames dags same time resulting in pg PK errors

[code]

[2021-11-25 11:26] JoeSnK commented on #15340
Thanks!
I tried adding this annotation in my values.yaml file, but for some reason does not seem to work. When I add this annotation, my application fails with validation error and values.yaml file does not even get loaded in the ArgoCD UI. And it shows the line no. as error where I am adding the annotation.
May be I am missing something, not sure. Is there any specific version of charts/argo-cd I

[2021-11-25 11:39] raefezzeldin commented on #18135
hi @potiuk

I have tried to use AzureFileShare. but I am facing an issue in git-sync-init container (Scheduler)

`MountVolume.SetUp failed for volume "pv-airflowdags" : mount failed: exit status 32 Mounting command: mount Mounting arguments: -t cifs -o file_mode=0777,dir_mode=0777,vers=3.0,gid=0,actimeo=30,mfsymlinks,<masked> //tpaydatasa.file.core.windows.net/fs-airflowdags /var/lib/kubelet/pods/

[2021-11-25 11:39] oleg-savko commented on #14529
+1 waiting for this feature!

[2021-11-25 12:31] uranusjr commented on #19801
Moving this to 2.3 since it’s not a 2.2 regression and can arguably be categorised as a new feature.

[2021-11-25 13:01] potiuk commented on #18135
No idea inforetmiuately - I do not knw much about Azure File Share, this is more Azure/deployment  question maybe you can ask in #troubleshooting - maybe someone who has experience with AFS can help

[2021-11-25 13:07] potiuk commented on #19822
I believe this is sometimes expected. From what I understand, the HA scheduler (file Processor especially) does not have tthe guarantee to avoid multiple files being re-processed, but it does have the guarantee that they are not duplicated in the db - and this sounds to be the case.

Maybe we should just handle it in nicer way and give some more meanigful message at INFO level rather than ERROR  @

[2021-11-25 13:54] potiuk commented on #19673
So just to suggest the possible solution again:

I am not 100% if it will work and whether you will be able to modify both POD and queue this way, but I think there is no reason you shoud not be able to. Can you try it @shiying2012  ?

[2021-11-25 15:41] kaxil commented on #19822
Can you post the logs from your scheduler / processor logs. I _don't think_ you should see that error in scheduler/parser logs -- errors in postgres logs is expected

[2021-11-25 15:58] potiuk commented on #19822
Ah ... My bad. I thought the format of the logs is pretty strange (but well who am I too judge formats that our users choose) but if those are Postgres logs then yeah - they are entirely expected.

[2021-11-25 16:00] potiuk commented on #19822
I think we can close it. @parisni. If you see the errors in airflow logs as well please comment here - we will re-open it.

[2021-11-25 16:00] #19822 closed

[2021-11-25 16:06] paul-bormans commented on #15340
I'm seeing the same issue when deploying using helm to k8s.

Using versions:
- chart: 1.3.0
- app: 2.2.1

It seems that these hooks were recently made configurable: https://github.com/apache/airflow/blob/main/chart/values.yaml#L632

I just ran a quick test and indeed the job is now scheduled/run and after completion the scheduler/webserver pod are spinning.

I don't fully understand why/how it was

[2021-11-25 16:19] MinusYuan commented on #16373
Hi, I want to ask which variable/what kind of method can I use to get this specific user when manual trigger happens?
Now, I also need this to know which user trigger.

[2021-11-25 16:30] scouvreur commented on #15108
Hey @Davide95 - are you still looking into addressing this issue ? I have a working dev environment with Airflow and Postgres is that's helpful I would be happy to open a pull request

[2021-11-25 17:05] ilCatania commented on #19804
Yes the issue is on Markdown's side. They bumped importlib-metadata from 1.x to 4.x when they released Markdown 3.3.5. Adding `Markdown==3.3.4` to my requirements file worked around the issue for me.

[2021-11-25 17:41] aresabalo commented on #19816
The redact function already has a hard recursion limit (by default 5) in secrets_masker.py
There must be another problem in that function.

Setting AIRFLOW__CORE__HIDE_SENSITIVE_VAR_CONN_FIELDS to "False"  should avoid executing this buggy function, but it doesn't work either  :-(

----

    def _redact(self, item: "RedactableItem", name: Optional[str], depth: int) -> "RedactableItem":
        # A

[2021-11-25 18:26] pavel-lexyr commented on #14854
Running a backfill for a date before the DAG start date, for example. Some way to set it from GUI.

[2021-11-25 18:29] parisni commented on #19822
@potiuk @kaxil
see the log in the issue (not my last comment) they are indeed comming from the scheduler.

[code]

[2021-11-25 18:35] uranusjr commented on #14854
So basically replicating what’s possible from the CLI, right? If that’s the case, #18816 is our main blocker for this.

[2021-11-25 21:24] Davide95 commented on #15108
Hi @scouvreur
Nope, I had some issues configuring the dev env in my machine, it seems that there were issues with btrfs:)

[2021-11-26 00:06] #17190 closed

[2021-11-26 02:01] smartnewsdingli opened #19832 "Deadlock in worker pod"
### Apache Airflow version

2.2.2 (latest released)

### Operating System

ubuntu

### Versions of Apache Airflow Providers

_No response_

### Deployment

Other

### Deployment details

multi schedulers. Deployed with kubernetes, and worker pod run with LocalExecutor.

### What happened

The worker pod error with log
there is a similar pr but for scheduler deadlock https://github.com/apache/airfl

[2021-11-26 02:43] ctmikechen commented on #13671
I have the same issue on Airflow 2.1.4
any idea ?

[2021-11-26 06:16] yehoshuadimarsky commented on #15340
Cool, I didn't know this was added recently, this should solve the problem really nicely

[2021-11-26 06:19] yehoshuadimarsky commented on #15340
Make sure you put it in the correct parts of the YAML file. I was referring to the `jobAnnotations` of each of the migrate Jobs, such as here

https://github.com/apache/airflow/blob/cab6d96a463e227961b8e487dd000199f4864978/chart/values.yaml#L614

and here

https://github.com/apache/airflow/blob/cab6d96a463e227961b8e487dd000199f4864978/chart/values.yaml#L647

[2021-11-26 06:52] karry-li-lego opened #19833 "sql_alchemy_conn_cmd cause failed connect to backend database and fallback to sqlite"
### Apache Airflow version

2.2.2 (latest released)

### Operating System

macOS 10.15.7

### Versions of Apache Airflow Providers

apache-airflow-providers-amazon       | 1.3.0
apache-airflow-providers-apache-spark | 1.0.3
apache-airflow-providers-celery       | 2.1.0
apache-airflow-providers-ftp          | 1.0.1
apache-airflow-providers-http         | 1.1.1
apache-airflow-providers-imap

[2021-11-26 07:17] #19833 closed

[2021-11-26 07:37] ephraimbuddy commented on #13671
We fixed this in https://github.com/apache/airflow/pull/17819, upgrade to the latest airflow(2.2.2)

[2021-11-26 07:53] raphaelauv commented on #19719
A task after another does not mean :

" You can't run before that task "

It mean :

" You NEED that task to run before you "

Example :

_build_report_file_task_ >> _uplaod_report_file_task_

So if _build_report_file_task_ have a specific start date then it impact _uplaod_report_file_task_

[2021-11-26 07:54] ephraimbuddy commented on #19811
This is expected, not an issue

[2021-11-26 07:54] #19811 closed

[2021-11-26 07:56] byr18 opened #19834 "Xcom: the parameters of key named value is too long"
### Apache Airflow version

2.0.2

### Operating System

Ubuntu:18.04.1

### Versions of Apache Airflow Providers

apache-airflow-providers-ftp==1.0.0
apache-airflow-providers-http==1.0.0
apache-airflow-providers-imap==1.0.0
apache-airflow-providers-sqlite==1.0.0
apache-airflow-providers-ssh==1.0.0

### Deployment

Other

### Deployment details

_No response_

### What happened

I use the SSHOpera

[2021-11-26 08:47] frapa-az opened #19836 "DAGRun API endpoint returns status 500 for some run states"
### Apache Airflow version

2.0.2

### Operating System

Unknown

### Versions of Apache Airflow Providers

_No response_

### Deployment

Other Docker-based deployment

### Deployment details

_No response_

### What happened

I am using the REST API.

When I make a request to the [DAGRun endpoint](https://airflow.apache.org/docs/apache-airflow/stable/stable-rest-api-ref.html#operation/get_dag_ru

[2021-11-26 08:59] byr18 commented on #19834
I try to delete all python print, then the error is disappeared ，but this is not that  I want,I should the print the information.
I want to know Whether saving information is a default mechanism?

[2021-11-26 09:04] iorilan commented on #19058
Hi @uranusjr  this issue seems still reproducible when manually trigger the dag run.
for now using {{data_interval_start}} to replace {{ts}} to make it work .

[2021-11-26 09:09] uranusjr commented on #19836
WTH, a DAG run is not supposed to be skipped. There’s a serious bug somewhere.

[2021-11-26 09:33] ephraimbuddy commented on #19836
@frapa-az How can we reproduce DagRun to be in `skipped` state?

[2021-11-26 09:37] ephraimbuddy commented on #19834
Consider using a custom xcom backend. Xcom is not made to store large values. See https://github.com/apache/airflow/blob/cab6d96a463e227961b8e487dd000199f4864978/airflow/models/xcom.py#L39

[2021-11-26 09:37] #19834 closed

[2021-11-26 10:30] ashb commented on #19834
The other option is to set `do_xcom_push=False` on your SSHOperator.

[2021-11-26 11:22] scouvreur commented on #15108
@Davide95 @uranusjr do you think it's worth turning this issue into a feature request ?

[2021-11-26 11:28] abhi-quinyx commented on #19743
I can confirm that similar issue exists in 2.2.2

[2021-11-26 12:30] uranusjr commented on #15108
Feel free to raise one yourself if you think it’s useful!

[2021-11-26 13:12] jazzsir opened #19840 "Unable to run backfill in airflow-webserver pod"
### Apache Airflow version

2.1.4

### Operating System

CentOS 7.6

### Versions of Apache Airflow Providers

apache-airflow-providers-amazon==2.4.0
apache-airflow-providers-celery==2.1.0
apache-airflow-providers-cncf-kubernetes==2.1.0
apache-airflow-providers-docker==2.3.0
apache-airflow-providers-elasticsearch==2.1.0
apache-airflow-providers-ftp==2.0.1
apache-airflow-providers-grpc==2.0.1
apach

[2021-11-26 13:37] CSammy commented on #19743
I can confirm as well, using the official Helm chart with Docker tag `2.2.2-python3.9`.

When setting a DAG to
[code]
and running it manually for the first time, it starts runs for 2021-11-13 and 2021-11-20.

I would've expected it to start a single run for today.

One possible workaround for the moment is to use
[code]

[2021-11-26 14:52] ashb commented on #19743
Running with the scheduler with the DebugExecutor anywhere outside of the `airflow dags test` command is not recommended or supported.

[2021-11-26 14:55] ashb commented on #19743
@CSammy are you running a scheduler with the DebugExecutor, or using `dag.run()`/airflow dags test`?

[2021-11-26 15:01] CSammy commented on #19743
To be honest I'm not too familiar with the CLI or code side of Airflow itself. I'm pressing the "run" button of the DAG in the UI.

[2021-11-26 15:03] ashb commented on #19743
@CSammy then my previous comment stands: using DebugExecutor with a scheduler is not really supported.

@potiuk Should we disallow running `scheduler` with  the DebugExecutor do you think?

[2021-11-26 15:04] #13750 closed

[2021-11-26 15:05] potiuk commented on #19743
Or maybe add a warning as we do with "Sequential Executor".

[2021-11-26 15:06] CSammy commented on #19743
Please be aware that I'm using a completely normal DAG with KubernetesPodOperators. How do I find out if I'm using a DebugExecutor?

I have the impression this issue may not be related to the DebugExecutor.

[2021-11-26 15:09] potiuk commented on #19743
The `airflow info` command should tell you what you use.

[2021-11-26 15:13] potiuk commented on #19840
This is correct. Airflow websever does not have dags mounted and you shoudl not use it to run backfill. You should run backfill in equivalent of scheduler pod instead.

[2021-11-26 15:13] #19840 closed

[2021-11-26 15:15] ashb commented on #19743
@CSammy if you aren't using that executor (it's unlikely unless you or someone else explicitly configured it) then your issue is separate to this one.

[2021-11-26 15:20] ashb commented on #19811
I've worked out how I can stop that error from happening, to just remove a source of confusion https://github.com/apache/airflow/pull/19842

[2021-11-26 16:00] cstenkamp commented on #19743
@ashb But for me the issue still persists.
I am only using the DebugExecutor when I explicitly want to debug my code. In my `airflow.cfg` I specified the CeleryExecutor, and only when I want to be able to explicitly set Breakpoints into my code in the dag I overwrite the respective environment variable and execute the python-file directly - thus I only use the DebugExecutor when I invoke this dag

[2021-11-26 16:04] CSammy commented on #19743
Executing `airflow info` on the `scheduler` pod throws the following error:
`airflow command error: argument subcommand: invalid choice: 'info'`

I'm using the standard Helm chart in version 1.3.0, Docker tag pinned to `2.2.2-python3.9`. Configuration is adjusted only in minor details. Below is the complete DAG I'm using. It results in the following output in the UI (screenshot is including the bu

[2021-11-26 16:28] cstenkamp commented on #19743
@CSammy for me, only when I run it using the DebugExecutor it tries to backfill. If I schedule it normally (using the UI or using `airflow dags test`), `catchup=True` is not ignored and it only schedules the one latest task

[2021-11-26 17:11] CSammy opened #19844 "catchup=False is ignored to some extent, backfill happens"
### Apache Airflow version

2.2.2 (latest released)

### Operating System

Debian GNU/Linux 10 (buster) / official Airflow Docker image

### Versions of Apache Airflow Providers

apache-airflow-providers-amazon==2.4.0
apache-airflow-providers-celery==2.1.0
apache-airflow-providers-cncf-kubernetes==2.1.0
apache-airflow-providers-docker==2.3.0
apache-airflow-providers-elasticsearch==2.1.0
apache-air

[2021-11-26 17:16] CSammy commented on #19743
I have created a separate ticket (https://github.com/apache/airflow/issues/19844) due your observation, @cstenkamp .

If they end up being caused by the same underlying issue, it's still possible to close it.

[2021-11-26 17:42] kaxil commented on #19822
Can you post entire stacktrace please .. at least 5-10 lines before that message

[2021-11-26 18:09] kaxil commented on #19802
A larger question, why do you want it to run again?

If the default user is already created, it won't create a new user.

[2021-11-26 18:13] vsimon commented on #19802
Yes. In the case of having light-weight dev environments (with postgres persistence set to false). If the database is restarted for any reason, the volume is empty again and would like the user job to rerun (like the migrations job currently does).

[2021-11-26 18:28] kaxil commented on #19802
This happens because of Helm hooks:

https://github.com/apache/airflow/blob/helm-chart/1.3.0/chart/templates/jobs/create-user-job.yaml#L39

https://github.com/apache/airflow/blob/6dfc939833fd3dc477b3971d965ba142d3b8bd77/chart/templates/jobs/create-user-job.yaml#L39

https://github.com/apache/airflow/blob/6dfc939833fd3dc477b3971d965ba142d3b8bd77/chart/templates/jobs/create-user-job.yaml#L39

https:

[2021-11-26 18:32] vsimon commented on #19802
Thanks @kaxil I was looking at the helm hooks in that file from the main branch, instead of the 1.3 tag 🤦 . I see the difference now, its been fixed on main but the 1.4 chart hasn't been released yet.

[2021-11-26 20:29] #19489 closed

[2021-11-26 22:21] jens-scheffler-bosch opened #19848 "Add configurable options to adjust branding (logo/title)"
### Description

Dear Airflow Maintainer,

In our corporate environment we use Airflow to orchestrate custom workflows. We have extensions and use plugins to extend the use case coverage and implement project specific workflows.

We like the tooling and also the basic web UI but would like to adapt the web UI to corporate standards of branding.

So far we "patch" the navbar.html to
1) Adjust the t

[2021-11-26 23:11] potiuk commented on #19848
First of all - this is my personal opinion, so don't take it as "granted". I hope other PMC members will chime in, but if they don't - please reach out to the Apache Software Foundation Trademark team (as suggested below) if you are unsure.

I personally think that such customization options are totally out of scope of our project.  Technically (and licence wise) you can modify the code in any way

[2021-11-27 00:06] #16316 closed

[2021-11-27 05:11] yeshbash opened #19850 "AWS Batch Job Sensor"
### Description

Add a sensor for AWS Batch jobs that will poll the job until it reaches a terminal state.

### Use case/motivation

This feature will enable DAGs to track the status of batch jobs that are submitted in an upstream task that doesn't use the BatchOperator. An example use case - The batch job is submitted by an upstream PythonOperator, with its own functional logic, that returns the

[2021-11-27 12:44] gabriel19913 commented on #12103
Well, the most recent version is 2.2.2. Is this problem solved?

[2021-11-27 16:56] #19638 closed

[2021-11-27 22:48] raefezzeldin commented on #18135
@potiuk  is there any alternative storage (kubernetes) other than Azure file share to persist dags??

[2021-11-27 22:59] potiuk commented on #18135
I am not sure what your K8S instance have enabled -you  need to check there.

But I generally recommend people to not use DAGs persistent volumes, but to use Git-Sync approach (especially when they already have DAGs (which are code) kept in Git (which makes sense).

All the option for sharing DAG files are (of course) explained in the docs: https://airflow.apache.org/docs/helm-chart/stable/manage-

[2021-11-27 23:02] raefezzeldin commented on #18135
I am enabling it with the git-sync to minimize the run of git-sync with each creation of pod (with each task). As most of the time the pod filed to start because of the git-sync container timeout to start.

[2021-11-27 23:14] potiuk commented on #18135
Likely you have som congituration for your K8S that causes it. You need to debug your deployment. There is nothing Airlfow can help with, I am afradi.

[2021-11-27 23:15] potiuk commented on #18135
Just start with manually running similar pods and seeing where you have problems. Try to isolate the issue, look at the logs - the usual deployment configuration.

[2021-11-27 23:16] potiuk commented on #18135
We can really provide you the tool to run and deploy airflow, but when it comes to resouces/configuration issues not Airflow problems - you should be really looking at diagnosing and fixing those.

[2021-11-28 05:17] xsqian commented on #15532
Hi there, I installed airflow (airflow-1.3.0) with helm install on a Kubernetes cluster with ONLY ONE airflow-webserver, but got the same error message: `The CSRF session token is missing.` What could be the issue?

[2021-11-28 10:55] eladkal commented on #12818
@SamWheating Do you plan to finish the stale PR?

[2021-11-28 10:56] eladkal commented on #14489
@nshetty15 are you still working on it?

[2021-11-28 13:28] emmanue commented on #13182
@potiuk  I will like to help and contribute.

[2021-11-28 13:31] potiuk commented on #11495
Fixed by #19809

[2021-11-28 13:31] #11495 closed

[2021-11-28 14:17] TobKed commented on #13182
@potiuk is it sill something considered to be done?

[2021-11-28 15:23] eladkal commented on #13182
This is in fact in progress. We have an intern from the Outreachy project that will take over this.

[2021-11-28 15:25] eladkal commented on #17089
@iostreamdoth do you plan to finish the stale PR?

[2021-11-28 16:11] nshetty15 commented on #14489
@eladkal  I had some issues setting up airflow. Its good now. I will submit a PR soon for this one.

[2021-11-28 17:10] potiuk commented on #13182
Oh yeah. I will update the issue soon with an inventory of what is needed and we will work from here. Similarly https://github.com/apache/airflow/issues/12282 with rewriting breeze. Those will have some overlap so the two interns will be working together. More on that soon!

[2021-11-28 20:21] potiuk commented on #13182
Yeah. Finally the time had come to start work on the rewrite:

First, founding PR is here: https://github.com/apache/airflow/pull/19867/ - those who are interested will find there some ADR (Architecture Decision Records) which we will keep throughout the whole project to capture all important decisions we've made and once we merge it, more stuff will come.

[2021-11-28 20:23] potiuk commented on #12282
FINALLY FINALLY IT'S THERE.

Yeah. Finally the time had come to start work on the rewrite:

First, founding PR is here: https://github.com/apache/airflow/pull/19867/ - those who are interested will find there some ADR (Architecture Decision Records) which we will keep throughout the whole project to capture all important decisions we've made and once we merge it, more stuff will come.

We have int

[2021-11-29 00:07] #13675 closed

[2021-11-29 03:20] covaliov opened #19869 "Custom Timetable Import Error"
### Apache Airflow version

2.2.2 (latest released)

### Operating System

Darwin Kernel Version 21.1.0 RELEASE_ARM64_T8101 arm64

### Versions of Apache Airflow Providers

_No response_

### Deployment

Virtualenv installation

### Deployment details

python_version  | 3.9.7 (default, Sep 16 2021, 23:53:23)  [Clang 12.0.0 ]

### What happened

The following error is displayed in Web UI:
[code]

#

[2021-11-29 07:08] NikhilReddy-2 commented on #15456
Hey @kaxil , Has this issue been fixed?

[2021-11-29 10:58] uranusjr commented on #19869
`__eq__` is for _instance_ equality, but the line you referenced compares the _type_ itself (i.e. the timetable class). The Python interpreter guarantees class identity, as far as I know, so the line is correct.

A possible cause to this is your `workday` module has different identities in the DAG and in the plugin. Airflow adds the plugin directory on-load, and DAG files lazily when they are pars

[2021-11-29 12:08] toddy86 commented on #19869
We are experiencing this issue as well.

Copying and pasting the `AfterWorkdayTimetable` code into our plugins directory, then restarting our services yields the exact same error.

We have several other plugins in the same directory and they are loaded fine. Just these new timetables that have a serialization error. Might try your workaround for the time being @covaliov

[2021-11-29 13:26] eladkal commented on #14037
Works fine for me .

Scheduled:

[code]

Manual:

[code]

If you still experiencing the issue please update Airflow to latest version

[2021-11-29 13:26] #14037 closed

[2021-11-29 13:28] eladkal commented on #15456
Fixed and released in cncf provider 2.0.0
see change log
https://pypi.org/project/apache-airflow-providers-cncf-kubernetes/

[2021-11-29 13:31] #19552 closed

[2021-11-29 13:39] #19171 closed

[2021-11-29 13:43] eladkal opened #19877 "Refactor poll_query_status in EMRContainerHook"
### Body

The goal is to refactor the code so that we can remove this TODO
https://github.com/apache/airflow/blob/7640ba4e8ee239d6e2bbf950d53d624b9df93059/airflow/providers/amazon/aws/hooks/emr_containers.py#L174-L176

More information about the concerns can be found on https://github.com/apache/airflow/pull/16766#discussion_r668089559

### Committer

- [X] I acknowledge that I am a maintainer/com

[2021-11-29 14:11] patrikhv commented on #19877
Hi. I would like to work on this issue. Can you assign it to me?

[2021-11-29 14:11] uranusjr commented on #19877
Go ahead!

[2021-11-29 14:47] #19458 closed

[2021-11-29 15:30] frapa-az commented on #19836
@ephraimbuddy Thanks for answering. I manage to reproduce it by simply pausing the DAG (not the DAG run). I do not know exactly if this is timing dependent, but for me it seems rather easy to reproduce

<img width="854" alt="image" src="https://user-images.githubusercontent.com/68114433/143895776-e93240ab-b9a0-4b9d-a2a4-152827820f03.png">

I have a few in the last few days, so it's not impossible:

[2021-11-29 15:48] uranusjr commented on #19836
Just curious, are any of your DAGs happen to be subDAGs?

[2021-11-29 16:46] frapa-az commented on #19836
@uranusjr what do you mean by subDags? I do not unfortunately know the details because we have an abstraction layer on top, but I think there's actually a single DAG that runs all pipelines, creating tasks dinamically based on a json bspec. Does that help?

[2021-11-29 16:50] #19869 closed

[2021-11-29 16:54] #19432 closed

[2021-11-29 17:05] frapa-az commented on #19836
@uranusjr Wow, thanks for finding out. I can ask the team responsible for this if they give me more details to ensure that this is really the case. Most probably I'll come back tomorrow with an answer.

[2021-11-29 17:09] uranusjr commented on #19836
When you do, it’d be most awesome if you could also tell them we appreciate them pushing how Airflow works to the limit that this obscure bug can surface 😛

[2021-11-29 17:55] dstandish commented on #15271
@Yuvaneshnm how did you produce your URI?

Try using `Connection.get_uri` to produce your URI. (first build the connection object in the normal python way e.g. `Connection(password='...', ...)`.

This will produce a URI that can be parsed back to the identical connection.  Update secrets manager to use the URI.

I will close for now but reply if there are issues.

[2021-11-29 17:55] #15271 closed

[2021-11-29 18:07] dstandish commented on #11710
Hi @humbledude

I think you may be confusing the two types of URIs here.

The [airflow connection uri](https://airflow.apache.org/docs/apache-airflow/stable/howto/connection.html#connection-uri-format) is a mechanism of serializing airlfow's Connection object to a string.

You can't just take a jdbc URI and expect it to parse as an airflow connection.  Airflow hooks parse airflow Connection object

[2021-11-29 18:07] #11710 closed

[2021-11-29 18:14] dstandish commented on #9713
@benbenbang a question for you.  Since you said there is nothing sensitive in the variables you are using, is there any particular reason why you are storing them in vault instead of the airflow metastore?

[2021-11-29 19:06] dacort commented on #19877
Thanks @patrikhv - let me know if I can help in any way! (original PR contributor and EMR team member)

[2021-11-29 19:24] #14355 closed

[2021-11-29 19:33] o-nikolas commented on #15279
Update: My testing revealed another edge case where empty messages were failing watchtower/cloudwatch, I've submitted a PR to the watchtower repo to fix it: https://github.com/kislyuk/watchtower/pull/162

[2021-11-29 19:36] eladkal commented on #11476
If there is an actual suggestion how to handle this on Airflow side - Please open a PR

[2021-11-29 19:38] subkanthi commented on #19135
Can I try this please if its not being worked on.

[2021-11-29 19:45] #15547 closed

[2021-11-29 19:49] eladkal commented on #10560
I think there are no further tasks on this issue
can be closed?

[2021-11-29 19:51] #10560 closed

[2021-11-29 20:09] #19533 closed

[2021-11-29 20:09] dstandish commented on #19533
closed following discussion on https://github.com/apache/airflow/pull/19637

[2021-11-29 22:54] ShakaibKhan commented on #19511
I would be interested in investigating this and potentially making a PR if this is on no one else's plate

[2021-11-30 00:07] #10290 closed

[2021-11-30 00:45] blag commented on #13573
@mdcsaenz Did you get this working?

[2021-11-30 03:55] josh-fell opened #19883 "Credentials present in logs when using Shared Key auth to Azure Blob Storage"
### Apache Airflow Provider(s)

microsoft-azure

### Versions of Apache Airflow Providers

Latest of all providers available on Airflow `main`.

### Apache Airflow version

main (development)

### Operating System

Debian GNU/Linux 10 (buster)

### Deployment

Other

### Deployment details

Using Breeze on `main` branch.

### What happened

When authenticating to Azure Blob Storage using the ["Sha

[2021-11-30 05:00] #16611 closed

[2021-11-30 05:11] MatrixManAtYrService opened #19884 "Type hinted `@task` decorated functions to create typed XComs"
### Description

I wish that Airflow would look at type hints on `@task` decorated functions to determine:

1. Do the hinted types provide serialize/deserialize functions (like `Foo`)? or are they callable (like `int`)?

[code]

2. Do upstream tasks write `return_value`s to XCom that conflict with the parameter types of downstream tasks?

If 1, I'd like Airflow to initialize the desired type for m

[2021-11-30 06:55] uranusjr commented on #19884
This may be possible in the future, but I wouldn’t recommend doing this right now. Python core devs’ official stance on type hints, at least at the current time, is that they are merely hints and should not be relied on by runtime logic. The last people that do this kind of thing extensively—Pydantic and FastAPI—caused a big drama when PEP 563 was _almost_ released in 3.10 and needed to be reverte

[2021-11-30 09:15] hterik commented on #19884
I don't think you have to rely on runtime type hints to provide such feature.

As long as the types passed between tasks provide some kind of from_json and to_json functions, you can rely on normal mypy to provide the validation of `whats_a_baz(get_baz())` having correct return value vs input argument. Right now this is constrained by only allowing scalars or dicts to be returned from tasks.
Then

[2021-11-30 09:21] alonrolnik commented on #14322
This `$` save our prod deployment now :)

[2021-11-30 09:49] frapa-az commented on #19836
I digged the code. We're not using Sub-DAGs, but we do something really weird with callbacks. So after all, this is our misuse of AirFlow and not a bug in AirFlow itself. Here the relevant snippet (I believe):

[code]

However, maybe it would be good to add some validation to the states before saving them to avoid that they go to such inconsistent states? I find it a little strange that AirFlow ac

[2021-11-30 10:36] a-pertsev opened #19888 "Reference to undeclared variable: "local variable 'return_code' referenced before assignment""
### Apache Airflow version

2.2.1

### Operating System

Ubuntu 20.04 LTS

### Versions of Apache Airflow Providers

apache-airflow-providers-amazon==2.3.0
apache-airflow-providers-apache-cassandra==2.1.0
apache-airflow-providers-ftp==2.0.1
apache-airflow-providers-google==6.0.0
apache-airflow-providers-http==2.0.1
apache-airflow-providers-imap==2.0.1
apache-airflow-providers-jdbc==2.0.1
apache-ai

[2021-11-30 11:11] potiuk commented on #19888
@a-pertsev maybe you woudl like to make a PR fixing it ?

[2021-11-30 11:21] ashb opened #19889 "Create `BaseOperator.map` and basic mapping framework"
We need to create a `map()` method on BaseOperator instance that returns a new object that looks somewhat like BaseOperator, but that gives us a place to add the DAG-authoring mapping API, and that the serializer can understand.

[2021-11-30 11:23] a-pertsev commented on #19888
@potiuk unfortunately i had some problems with using breeze to run tests (
I will make one more try later, maybe

[2021-11-30 12:07] potiuk opened #19891 "Re-enable MyPy"
# Why Mypy re-enable

For a few weeks MyPy checks have been disabled after the switch to Python 3.7 (per https://github.com/apache/airflow/pull/19317).

We should, however, re-enable it back as it is very useful in catching a number of mistakes.

# How does it work

We 've re-added the mypy pre-commit now - with mypy bumped to 0.910. This version detects far more errors and we should fix them all

[2021-11-30 12:54] potiuk commented on #12865
This has been fixed by running the server in `dev` mde when `start-airflow` is used and adding instructions on how to run it in `dev` mode. https://github.com/apache/airflow/blob/5ebd63a31b5bc1974fc8974f137b9fdf0a5f58aa/scripts/in_container/run_tmux_welcome.sh#L24

[2021-11-30 12:54] #12865 closed

[2021-11-30 12:59] #14755 closed

[2021-11-30 14:42] josh-fell commented on #19891
Love this! Happy to help here. Do you suspect a large number of fixes needed, and if so, should we coordinate over a Slack channel or just keep it to this issue?

[2021-11-30 14:55] potiuk commented on #19836
Currently you are fully in power of what you do with Airflow code, but power also means responsibility. This is the basic premise of Airlfow "open DB access" mode that Airflow currently supports. There is nothig to prevent any DB operations from the code point of view. You'd have to implement complex Databse triggers or tap into SQLAlchemy logic to prevent this (but the latter could be bypassed).

[2021-11-30 14:58] potiuk commented on #19836
Closing this one for now then

[2021-11-30 14:58] #19836 closed

[2021-11-30 15:11] joaquin-casanova commented on #12644
Hello any update about this issue, I have the same problem in Airflow 2.0.0

[2021-11-30 15:12] potiuk commented on #19884
I am with @uranusjr on that one. I think there are a number of cases that we did not realise it might cause if we validate XCom structure at runtime. Python value is that while simple thing are nice, you can (if you want) tap into the power of metaclasses, dynamic attributes and the likes and even if we add runtime warnings, we are limiting ourselves to just the "obvious" cases. I can very easily

[2021-11-30 15:51] potiuk opened #19895 "Status of testing Providers that were prepared on November 30, 2021"
### Body

I have a kind request for all the contributors to the latest provider packages release.
Could you help us to test the RC versions of the providers and let us know in the comment,
if the issue is addressed there.

## Providers that need testing

Those are providers that require testing as there were some substantial changes introduced:

### Provider [amazon: 2.5.0rc1](https://pypi.org/pro

[2021-11-30 16:05] #14559 closed

[2021-11-30 16:12] MatrixManAtYrService commented on #19884
Thanks for your thoughts on this.  I didn't realize that runtime logic based on type hints was frowned upon, but seeing as it's a newer feature I understand the desire to proceed with caution.

@hterik I'm trying to visualize your strategy, specifically when an xcom_pull happens--without relying on the type hint how do we know where to look for those functions?  Do we require`ENABLE_XCOM_PICKLING`

[2021-11-30 16:12] #14063 closed

[2021-11-30 16:15] kazanzhy commented on #19507
I think now in works like that:
[code]
If you want to get the sqlalchemy_engine from the hook it should be an instance of DbApiHook.
Now only BigQueryHook inherits from DbApiHook

[2021-11-30 16:15] eladkal commented on #10288
@aprettyloner ping :)

[2021-11-30 16:20] hterik commented on #19884
@MatrixManAtYrService  Sorry, i didn't think of the de-serialization scenario. It's only the to_json that would be as simple as i imagined at first.
Deserializing would need either the serialized data to contain the class name itself, which can be a security risk, or registering a list of valid deserializers, or relying on the type hints.

One more suggestion is to add the type information in the

[2021-11-30 16:25] harryplumer commented on #19895
snowflake 2.3.1rc1 looks good!

[2021-11-30 16:41] PApostol opened #19897 "Spark driver relaunches if "driverState" is not found in curl response due to transient network issue"
### Apache Airflow Provider(s)

apache-spark

### Versions of Apache Airflow Providers

apache-airflow-providers-apache-spark==2.0.1

### Apache Airflow version

2.1.4

### Operating System

Amazon Linux 2

### Deployment

Virtualenv installation

### Deployment details

_No response_

### What happened

In the file `airflow/providers/apache/spark/hooks/spark_submit.py`, the function [_process_spa

[2021-11-30 17:18] NiklasBeierl commented on #11085
Having the same `end_of_log` mark issue as @KevinOrtman, was there a PR opened already? If not I might give it a shot.

[2021-11-30 17:23] uranusjr commented on #19836
FWIW, we can pretty trivially validate state values on assignment (both on `DagRun` and `TaskInstance`, even though the latter one isn’t the problem here). Feel free to create a pull request for this. I created #19898 for this.

[2021-11-30 17:40] MatrixManAtYrService opened #19899 "Task group entry/exits hide task dependency"
### Apache Airflow version

2.2.2 (latest released)

### Operating System

debian buster (docker)

### Versions of Apache Airflow Providers

n/a

### Deployment

Astronomer

### Deployment details

This dag:
[code]

Which looks like this after running for 10 seconds (the numbers refer to seconds that the task will sleep).

<img width="427" alt="Screen Shot 2021-11-29 at 1 47 45 PM" src="https://us

[2021-11-30 17:43] dudutch opened #19900 "BigQueryToMsSqlOperator uses deprecated method and doesn't use keyword arguments"
### Apache Airflow Provider(s)

google

### Versions of Apache Airflow Providers

This looks to be the same issue as was addressed in [17198](https://github.com/apache/airflow/issues/17198) except for the MsSqlOperator instead of the MySql Operator.

I'm attaching a file that I used to fix the issue
[bigquery_to_mssql.py.txt](https://github.com/apache/airflow/files/7627607/bigquery_to_mssql.py.txt

[2021-11-30 17:49] potiuk commented on #19836
Ah right!

[2021-11-30 18:04] potiuk commented on #19891
Yeah we have about 800 issues :( . I think what I might do is to generate a list of packages and we can subscribe to them here in comments and check them when they are done.

[2021-11-30 18:30] alexakra opened #19901 "No scheduling when max_active_runs is 1"
### Apache Airflow version

2.2.2 (latest released)

### Operating System

Debian

### Versions of Apache Airflow Providers

_No response_

### Deployment

Official Apache Airflow Helm Chart

### Deployment details

_No response_

### What happened

Since version 2.2 a field `DAG.next_dagrun_create_after` is not calculated when `DAG.max_active_runs` is 1.

### What you expected to happen

https://

[2021-11-30 18:32] alexInhert commented on #17487
@ShakaibKhan @bbovenzi  see this example
![Screen Shot 2021-11-30 at 20 27 28](https://user-images.githubusercontent.com/62940116/144106608-e5ca04ba-6c36-429c-b6f4-2610de9f7780.png)

As you can see there is significant gap between the tasks. When you hover over the task you see it is the 2nd retry. If going into the log it shown that the first retry run for the duration of the purple rectangle.
My

[2021-11-30 18:33] potiuk commented on #19891
There you are @josh-fell - we have 992 unique issues

[2021-11-30 18:34] alexInhert commented on #17826
@bbovenzi https://github.com/apache/airflow/pull/11652 seems to be closed

[2021-11-30 18:39] josh-fell commented on #19891
Oof. Let the fun begin!

Naturally, I'll sign up for all of the `*/example_dags`. And I'll take the Azure ones too if you don't mind.

[2021-11-30 18:40] potiuk commented on #19891
I will start with "airflow" part :)

[2021-11-30 18:43] potiuk commented on #19891
But we need to merge https://github.com/apache/airflow/pull/19890 first

[2021-11-30 18:52] ashb commented on #19891
Ouch. I guess some/many of those are from upgrading Mypy and it adding new better checks, rather than us having broken things, right?

[2021-11-30 18:52] blag commented on #14181
How are you creating a user without a role?

Attempting to reproduce this on Airflow 2.2.2. The CLI requires you to specify a `--role`, but the web UI doesn't require a role to be specified when creating a user.

However, when attempting to login as that (`test`) user in the web UI, I get:

@gaurav1008 Can you help me reproduce this issue? Or can we close it?

[2021-11-30 18:58] potiuk commented on #19891
I am not sure. Just from the number of thos my guess is we simply missed a lot of errors via workarounding lack of namespace support (we had to convert files to packages and pass packages to mypy not files and I think it had bad side-effects).

Also I am not sure yet if mypy will detect all errors in " consistent" way with teh "parallel support from pre-commit" - it might be that when you pass all

[2021-11-30 19:13] potiuk commented on #14181
It has been fixed in 2.1.4. https://github.com/apache/airflow/issues/16587 . Closing as duplicate.

[2021-11-30 19:13] #14181 closed

[2021-11-30 19:22] PApostol commented on #19888
From the traceback it looks like this could be solved just by moving `return_code = 1` before `self.log.exception(...)` (?)

[2021-11-30 19:24] potiuk commented on #19891
Just checked.

Parallel pre-commit is useless for `mypy` - seems that it will not speedup the tests anyway as mypy pretty much loads as many python code as it reaches out from the files, and with our code structure, any import to airflow will pretty much load everything always. So when we run MyPy in parallel, My 16 cores are fully busy and produce the same result in 2m6s as single busy core  in 2

[2021-11-30 19:26] potiuk commented on #19891
Opened since 2015: https://github.com/python/mypy/issues/933

[2021-11-30 19:30] potiuk commented on #19891
BTW. @josh-fell  and others -  I already have quite a number of fixes - semi-automated - (but not a lot of them are verified  in https://github.com/apache/airflow/pull/19334 - so let me take a look and maybe some packages/parts will be cleanly applicable and we can get rid of many issues - but I want to merge this one first and the apply what I have there package by package (or maybe group of pack

[2021-11-30 19:44] jceresini opened #19902 "DuplicateTaskIdFound when reusing tasks with task_group decorator"
### Apache Airflow version

2.2.2 (latest released)

### Operating System

MacOS 11.6.1

### Versions of Apache Airflow Providers

$ pip freeze | grep airflow
apache-airflow==2.2.2
apache-airflow-providers-celery==2.1.0
apache-airflow-providers-ftp==2.0.1
apache-airflow-providers-http==2.0.1
apache-airflow-providers-imap==2.0.1
apache-airflow-providers-sqlite==2.0.1

### Deployment

Other

### Dep

[2021-11-30 19:55] jceresini opened #19903 "Error setting dependencies on task_group defined using the decorator"
### Apache Airflow version

2.2.2 (latest released)

### Operating System

MacOS 11.6.1

### Versions of Apache Airflow Providers

$ pip freeze | grep airflow
apache-airflow==2.2.2
apache-airflow-providers-celery==2.1.0
apache-airflow-providers-ftp==2.0.1
apache-airflow-providers-http==2.0.1
apache-airflow-providers-imap==2.0.1
apache-airflow-providers-sqlite==2.0.1

### Deployment

Other

### Dep

[2021-11-30 19:58] jceresini commented on #19902
I just noticed that the above works if I ditch the for loop in the _task_group_, and run each _task_ separately.

[2021-11-30 20:39] eladkal opened #19905 "Refactor `TriggerRule` & `WeightRule` classes to inherit from Enum"
### Body

Both `TriggerRule` & `WeightRule` classes  should inherit from Enum
https://github.com/apache/airflow/blob/3172be041e3de95f546123e3b66f06c6adcf32d5/airflow/utils/weight_rule.py#L22
https://github.com/apache/airflow/blob/8fde9a4b5b1360f733d86a04c2b0b747f0bfbf01/airflow/utils/trigger_rule.py#L22

An initial attempt to handle this was in https://github.com/apache/airflow/pull/5302

This is

[2021-11-30 22:19] kazanzhy opened #19906 "Incorrect doc reference"
### Apache Airflow Provider(s)

google
Incorrect doc reference
### Versions of Apache Airflow Providers

_No response_

### Apache Airflow version

2.2.2 (latest released)

### Operating System

ubuntu

### Deployment

Docker-Compose

### Deployment details

_No response_

### What happened

It seems to be a wrong ref here:
https://github.com/apache/airflow/blob/33a4502f68be6b25fbccb96ed1832c5b527

[2021-11-30 22:22] potiuk commented on #19906
Would you be willing to correct it please with PR ? BTW. There is no need to open issue - opening a PR to fix without issue is much faster and simpler.

[2021-11-30 23:41] blag commented on #17279
Since dpgaspar/Flask-AppBuilder#1160 was closed by the stalebot and ignored after that, I opened PR dpgaspar/Flask-AppBuilder#1749 with the same changes. Hopefully that gets merged.

[2021-11-30 23:49] kazanzhy commented on #19906
@potiuk I'm sorry.
I assumed that it might be okay to have reference to Yandex DataProc instead of Google one.
Let me close this issue and open PR

[2021-12-01 00:10] kazanzhy commented on #19906
Just found there almost the same
https://github.com/apache/airflow/blob/15a9d7910cc0d2ca0ed97e3535a6b85edcf16af8/airflow/providers/google/provider.yaml#L240

[2021-12-01 00:30] #19906 closed

[2021-12-01 02:44] easontm opened #19917 "Task-level end_date stops entire DAG"
### Apache Airflow version

2.2.2 (latest released)

### Operating System

Ubuntu 19.10

### Versions of Apache Airflow Providers

_No response_

### Deployment

Other Docker-based deployment

### Deployment details

_No response_

### What happened

If a task has an `end_date`, the whole DAG stops at that time instead of only that task.

### What you expected to happen

The task with the `end_dat

[2021-12-01 03:56] ddcatgg commented on #13542
I ran into the same issue, the scheduler's log:
[code]
Stucked task: dwd.dwd_ti_lgc_project
The restart of the executor does not do anything.

[2021-12-01 05:03] yiga2 opened #19922 "ShortCircuitOperator does not save to xcom"
### Description

`ShortCircuitOperator` does not return any value regardless of the result.

Still, if `condition` evaluates to `falsey`, it can be useful to store/save the result of the condition to XCom so that downstream tasks. can use.
Many objects evaluates to True/False, not just booleans - see  https://docs.python.org/3/library/stdtypes.html

### Use case/motivation

The change is trivial a

[2021-12-01 05:09] eladkal commented on #19922
Can you describe a usecase where this is usefull?
I'm curious because currently the operator skip all downstream tasks so if you have a usecase where something like that is needed it might not work as you expect?

[2021-12-01 05:20] yiga2 commented on #19922
We currently check if file(s) exist in a folder (e.g. GCS) and if not empty, parse the latest file and extract 3 data elements that will trigger a whole branch.
If nothing, we skip all tasks in that branch up until it merges back to the "main stream".

[2021-12-01 05:23] eladkal commented on #19922
So why do you need the True/False value of ShortCircuitOperator?

[2021-12-01 05:27] yiga2 commented on #19922
There is no True/False to save. The `callable` returns `None` or a `dict`, and I want to have the `dict` saved.
The code evaluates the condition like so:
`if condition:` and it doesn't force for it to be a boolean - which is great.

[2021-12-01 05:50] hterik commented on #19816
I've seen this happen as well, it happens when the `_redact` function throws an exception, which triggers a new `log.warning("Unable to redact %r ...` call that resets the recursion-limit counter.

Since the failing item itself is embedded into the warning-log, it will trigger the same issue again and it repeats forever.

https://github.com/apache/airflow/blob/968952bb8d0b410e5cf013f3d0d074fc5783c

[2021-12-01 05:52] ferruzzi commented on #14396
Following conversion on that PR, the solution that uranusjr has going is better than mine, so I'll step back on this one and let them wrap it up.

[2021-12-01 06:03] eladkal commented on #19922
The feature request is to push to xcom - your explnation doesnt say anything about what pulls from xcom. If you can show a simple dag that uses the feature it will be easier to understand.

Regardless - that is just me being curious. You can ofcourse submit a PR and we will review it.

[2021-12-01 06:43] eladkal commented on #19409
Do you think this is something that we should address by documentation or is there a code changes needed that can solve the problem from the root?

[2021-12-01 06:44] eladkal commented on #9683
hi @wolvery are you still working on the PR? there are comments that needs to be addresed

[2021-12-01 06:57] eladkal commented on #15482
looks like we already do that but not for permission errors
https://github.com/apache/airflow/blob/f6dca1fa5e70ef08798adeb5a6bfc70f41229646/airflow/utils/log/file_task_handler.py#L277-L281

[2021-12-01 07:01] uranusjr commented on #15482
`PermissionError` is a subclass of `OSError`, so this should cover it. But I think this needs to cover the `open().close()` line above so it catches permission errors to the _parent_ directory.

[2021-12-01 07:03] uranusjr commented on #15482
Oh actually, the try-catch was added in 2.1. So we should close this.

[2021-12-01 07:03] #15482 closed

[2021-12-01 07:06] eladkal commented on #15482
Ah right! great then :)

[2021-12-01 07:14] #19716 closed

[2021-12-01 07:55] uranusjr commented on #19891
I just read a few PRs on this, and the general impression I’m getting is we are using `type: ignore` way too much. I feel we should try a bit harder to fix the actual typing errors instead of liberally slapping on ignores everywhere.

[2021-12-01 08:00] potiuk commented on #19891
Agree.

[2021-12-01 08:20] potiuk commented on #19891
Those PRs were just  "Quick" extract of what I've done before really quickly - but I agreee we should rather refactore some of the "core" code because it is often done "badly" using shortcuts and very loose approach to types (reusing same variables for different types freely for example).

I hope more peopel will join and it will take just a short while to complete .

[2021-12-01 08:22] eskarimov commented on #19895
#17446 works as expected

[2021-12-01 08:42] potiuk commented on #19891
cc: @khalidmammadov

[2021-12-01 08:52] aaronli94 opened #19926 "The task has not started causing dag blocking"
### Apache Airflow version

2.1.1

### Operating System

Debian GNU/Linux 10 (buster)

### Versions of Apache Airflow Providers

[code]

### Deployment

Docker-Compose

### Deployment details

_No response_

### What happened

Access to airflow-web is very slow, some task has not started causing dag blocking, and there is no task currently being scheduled, system resources are sufficient

### What

[2021-12-01 08:54] easontm commented on #16982
I'm now (2.2.2) getting MySQL deadlocks from the worker itself, which fails the task.
[code]

[2021-12-01 09:05] khalidmammadov commented on #19891
I can take a look to tests/* folder if it's ok?

[2021-12-01 09:38] potiuk commented on #19891
Perfect!

[2021-12-01 09:40] Bowrna commented on #19891
I will check this issue, understand it and start making contributions.

[2021-12-01 10:20] ptrhck commented on #19007
I am facing the very same issue on my worker:

`
2021-12-01T10:07:40.771Z | [2021-12-01 10:07:40,770: WARNING/ForkPoolWorker-15] airflow tasks run command error: argument execution_date: invalid parse value: 'manual__2021-12-01T11:07:14+01:00', see help above.
-- | --
  | 2021-12-01T10:07:40.783Z | [2021-12-01 10:07:40,782: ERROR/ForkPoolWorker-15] Task airflow.executors.celery_executor.execute_co

[2021-12-01 10:29] lwyszomi commented on #19895
google 6.2.0rc1 works fine

[2021-12-01 10:36] Aakcht commented on #19895
#19711 and #19777 work as expected, so waiting for the release :)

[2021-12-01 10:49] ephraimbuddy commented on #19007
The dagrun couldn't be found. The log was suppressed here https://github.com/apache/airflow/blob/43de625d4246af7014f64941f8effb09997731cb/airflow/cli/commands/task_command.py#L61-L62

Does the dagrun exist?

[2021-12-01 10:52] khalidmammadov commented on #19891
As a reference/check, this is how I get the list of issues that needs fixing in test/* folder.
I first created requirement file to install required packages (inline with latest changes into repo)
[code]

@potiuk does it sound reasonable or shall I use pre-commit run mypy ...  (which I did try but didnt get list and didnt look into it too much TBH)

[2021-12-01 11:22] a-pertsev commented on #19888
yeap

[2021-12-01 11:23] raphaelauv commented on #19895
_Checking event.status.container_statuses before filtering (#19713)_ -> work

[2021-12-01 11:23] ptrhck commented on #19007
How can I check if the dagrun exist? I can see it in the UI as "up_for_retry".

In addition, I have seen in the worker logs this on startup:

`alembic.script.revision.ResolutionError: No such revision or branch '7b2661a43ba3'
...
alembic.util.exc.CommandError: Can't locate revision identified by '7b2661a43ba3'`

[2021-12-01 11:23] #19369 closed

[2021-12-01 11:27] ephraimbuddy commented on #19007
Can you explain what you did before getting these errors? Are you upgrading? You should run `airflow db upgrade` when upgrading to a version. You may want to explain more here or ask questions using discussion

[2021-12-01 11:30] PApostol commented on #19888
@a-pertsev I could prepare a PR unless you'd like to?

[2021-12-01 11:31] eskarimov opened #19929 "Deferrable Operators leave task in strange state on kill"
### Apache Airflow version

2.2.2 (latest released)

### Operating System

Debian GNU/Linux 10 (buster)

### Versions of Apache Airflow Providers

_No response_

### Deployment

Docker-Compose

### Deployment details

[code]

### What happened

When a task was killed while being executed by `Triggerer` process, there's no log available for this task after kill.
Also, `on_kill` function of Operator

[2021-12-01 11:39] ptrhck commented on #19007
I did an update in the past and most likely airflow db upgrade hast not been executed. However, the error of this issue occured out of the sudden after restarting airflow as cpu and memory have been increased

[2021-12-01 12:03] ephraimbuddy commented on #19007
It seems your worker is still using an old image instead of the one you upgraded to. Make sure your workers are using the new image

[2021-12-01 12:06] potiuk commented on #19891
I think it's better to do it inside `breeze` because there you have ALL dependencies installed in the latest "constraints-main" versions - so you are 100% sure that you have the same dependencies, and the problem is that mypy will show different errors depending whcih dependencies you have installed (because for example some dependency might have added type hinting in a different version). This is

[2021-12-01 12:14] potiuk commented on #19816
AAAAARGH ! Really nice find @hterik - would you like to attempt to fix it ? I think one of the solution would be to pass current depth to the log() call with some cusom name and have the log pass it as starting depth to redact method?

But possibly we could find a nicer solution :)

[2021-12-01 13:29] hterik opened #19930 "Add started_by_user field for dag runs"
### Description

For dags started manually or by external trigger, it is sometimes useful to know which user initiated the run.

Is this possible somehow today, i can't seem to find anything under DagRun model? Otherwise, can this be added?

### Use case/motivation

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

### Co

[2021-12-01 13:48] vapiravfif commented on #16023
Yep, not reproducing on 2.2.2, thank you!!

[2021-12-01 16:05] ephraimbuddy commented on #19699
@kristoffern Do you see logs like `ERROR: could not queue task ... ` in scheduler logs when this happens?

[2021-12-01 16:12] potiuk opened #19934 "Reloading of Logging and ORM in Dag Processing can be disruptive in spawn mode"
### Apache Airflow version

main (development)

### Operating System

Unix with 'spawn' method, MacOS, Windows (spawn is default there)

### Versions of Apache Airflow Providers

Not relevant

### Deployment

Other

### Deployment details

Any deployment with 'spawn' mutliprocessing mode method used is susceptible to this problem. This is configured via (undocumented) feature on Linux CORE__MP_STA

[2021-12-01 17:37] #19926 closed

[2021-12-01 17:53] #15279 closed

[2021-12-01 18:30] ferruzzi commented on #19801
That would be an easy check in the base sensor, I can get that one done.  Should we implement a cap to dag schedule-interval as well?

[2021-12-01 18:52] uranusjr commented on #19801
@ferruzzi I proposed a change to BaseSensorOperator in #19821. Could you take a look and see if I covered anything correctly?

[2021-12-01 18:53] bbovenzi opened #19938 "Use tree view to explore dag run and task instance details without leaving the page"
Right now, when a user wants to see task instance or dag run details they need to navigate to a separate page and can lose context on what they're trying to do.

Instead, of modals or the nav bar we can use the tree view as the navigation element. When a user selects a dag run or task instance, those details can appear within the react view and the tree view will condense to just 5-10 runs on the

[2021-12-01 19:05] wolvery commented on #9683
Hi @eladkal, yes, I am still working on it. I am going to answer them today. Sorry for the late answer

[2021-12-01 19:05] bbovenzi opened #19939 "Create a new graph view in React"
We can use the tree navigation in #19938 to also show the graph view in the same page as the tree view. This would become the default main page for a DAG, seeing task dependencies at the same time as the results of the most recent runs.

Instead of a date dropdown to view a dag run graph, a user could simply click on that column in the tree view

Both views can share state such as highlighting a t

[2021-12-01 19:11] bbovenzi opened #19940 "Create a new gantt chart in React"
The Gantt chart could become far more useful to see how a dag is performing. We should make it a first class citizen by integrating it with the tree view.

The gantt rows can be lined up with the tree view to keep context.
It would be easy to explore different runs by selecting separate columns in the tree view.

Without a dag run selected we can have a summary across many dag runs. Even including

[2021-12-01 19:17] bbovenzi opened #19942 "Build a new main dags page in React"
We can do a lot more things if the main `/dags` page was built in React.

Of note, improved sorting/filtering and auto-refresh would be great additions.

To scope: to rethink the whole home page UX from the ground up and see what other big improvements we can bring. In particular I think it would be great to show some basic graphs to give a quick view on what is working/not working.

[2021-12-01 19:19] ferruzzi commented on #19801
@uranusjr  That's the second time this week you've done a task I was looking at, and did it better than me.   👍 😄

[2021-12-01 19:22] bbovenzi opened #19943 "Tree view status filters"
It would be really useful to be able to filter the tree view.

- By dag run/task instance status
- By dag run length (maybe?)
- By run type (scheduled, backfill, manual) (maybe?)

As part of this, it may also make sense to bring the number of runs and the base date into react to improve UX and avoid extra rerenders.

[2021-12-01 19:29] #19888 closed

[2021-12-01 19:30] bbovenzi opened #19944 "Update url routes and naming"
If we integrate tree/graph/gantt/details views into a single page, then we will need to change how the url routes in airflow work.

The default url would change from `/tree?dag_id=example_dag` to `/dags/example_dag` and `/dags/example_dag/gantt` would then show the tree/gantt combined view.

We should also drop all `tree` nomenclature, because it is no longer a tree diagram. It is simply the defau

[2021-12-01 20:04] potiuk commented on #19944
+1

[2021-12-01 20:10] khalidmammadov commented on #19891
@potiuk I run below inside ./breeze. Looks like does not make much difference.
mypy --namespace-packages tests/
# Reported:
# Found 145 errors in 32 files (checked 1208 source files)

find tests/ -name "*.py" | xargs mypy --namespace-packages
# Reported
# Found 145 errors in 32 files (checked 1208 source files)

[2021-12-01 20:18] potiuk commented on #19891
Sounds GOOD. So @ashb  answering your earlier question from https://github.com/apache/airflow/issues/19891#issuecomment-982921547 - it looks like all the 900+ errors ARE coming from migrating to the new mypy.

We should have done that a loooong time ago :).

[2021-12-01 20:32] halkstar opened #19945 "Running alembic migration downgrade on database causes error"
### Apache Airflow version

2.2.2 (latest released)

### Operating System

PRETTY_NAME="Debian GNU/Linux 10 (buster)" NAME="Debian GNU/Linux" VERSION_ID="10" VERSION="10 (buster)" VERSION_CODENAME=buster ID=debian HOME_URL="https://www.debian.org/" SUPPORT_URL="https://www.debian.org/support" BUG_REPORT_URL="https://bugs.debian.org/"

### Versions of Apache Airflow Providers

apache-airflow-provid

[2021-12-01 20:32] potiuk commented on #19891
I updated the description with the "in-breeze" command and more ogranised approach in general (thanks @khalidmammadov)!

[2021-12-01 20:52] agamjainTW commented on #15601
Same issue with  Airflow 2.2.2 and Github Oauth.

[2021-12-02 00:07] #15066 closed

[2021-12-02 01:52] o-nikolas commented on #19783
This is being addressed in #19700

[2021-12-02 02:32] hwooson12 opened #19955 "Add hour and minute to time format on x-axis in Landing Times"
### Description

It would be great if the date and time format of x-axis in Landing Times is `%d %b %Y, %H:%M` instead of `%d %b %Y` to see `execution_date` of task instances.

### Use case/motivation

For x-axis of all line chart using `nvd3.lineChart`, the date and time format has only date without time because its format is `%d %b %Y` by default when `x_is_date` is `True`. From what I have seen

[2021-12-02 05:44] stablum opened #19957 "Airflow crashes with a psycopg2.errors.DeadlockDetected exception"
### Apache Airflow version

2.2.2 (latest released)

### Operating System

Ubuntu 21.04 on a VM

### Versions of Apache Airflow Providers

root@AI-Research:~/learning_sets/airflow# pip freeze | grep apache-airflow-providers
apache-airflow-providers-ftp==2.0.1
apache-airflow-providers-http==2.0.1
apache-airflow-providers-imap==2.0.1
apache-airflow-providers-sqlite==2.0.1

### Deployment

Other

###

[2021-12-02 06:07] sunny760408 opened #19958 "airflow oracle providers v2.0.1 ORA-12154 ERROR"
### Apache Airflow Provider(s)

oracle

### Versions of Apache Airflow Providers

apache-airflow-providers-amazon==2.4.0
apache-airflow-providers-celery==2.1.0
apache-airflow-providers-cncf-kubernetes==2.1.0
apache-airflow-providers-docker==2.3.0
apache-airflow-providers-elasticsearch==2.1.0
apache-airflow-providers-ftp==2.0.1
apache-airflow-providers-google==6.1.0
apache-airflow-providers-grpc==2

[2021-12-02 06:31] ac1997 opened #19959 "Fully Configurable Queue based Executor"
### Description

I would like to add a queue based executor to the main branch which we currently use to support wide variety of worker clusters we currently used for Airflow. The idea stems from `CeleryKubernetesExecutor` but with fully configurable routing logic to different executors.

I am not sure how much of this executor will help the community, hence raising an issue to see what the commit

[2021-12-02 07:57] hterik opened #19960 "Tree view tooltips not showing when timezone is set to local"
### Apache Airflow version

2.2.1

### Operating System

Ubuntu 21.04

### Versions of Apache Airflow Providers

_No response_

### Deployment

Other Docker-based deployment

### Deployment details

_No response_

### What happened

Go to airflow UI
In top right corner, select time zone CET (+01:00) local.
Go to tree view
Hover any item. The tooltip does not show up and javascript console is print

[2021-12-02 09:27] xelita opened #19962 "Unable to load custom logging from log_config.LOGGING_CONFIG due to No module named 'log_config'"
### Apache Airflow version

2.2.2 (latest released)

### Operating System

Ubuntu 18.04.4 LTS

### Versions of Apache Airflow Providers
<pre>
Providers info
apache-airflow-providers-amazon          | 2.4.0
apache-airflow-providers-celery          | 2.1.0
apache-airflow-providers-cncf-kubernetes | 2.1.0
apache-airflow-providers-docker          | 2.3.0
apache-airflow-providers-elasticsearch   | 2.1.

[2021-12-02 10:05] kristoffern commented on #19699
@ephraimbuddy No I haven't noticed those error messages, but I'll keep an eye out for them.
Usually when I come into work the tasks have been stuck a couple of times so I would have to go back thrrough the logs and look when it occurs the next time.

[2021-12-02 10:42] ephraimbuddy commented on #19962
Remove the PYTHONPATH and set logging class this way: `AIRFLOW__LOGGING__LOGGING_CONFIG_CLASS=config.log_config.LOGGING_CONFIG` let me know if it fails after that

[2021-12-02 11:18] Bowrna opened #19964 "breeze start-airflow tmux session"
### Describe the issue with documentation

You can also have breeze launch Airflow automatically breeze start-airflow, this will drop you in a tmux session with four panes:

one to monitor the scheduler,
one for the webserver,
one monitors and compiles JavaScript files,
one with a shell for additional commands.

Current documentation says it has four panes. But code in main branch, will drop you i

[2021-12-02 11:36] kreuzert commented on #15340
Workaround I've used:

1. set airflow.dbMigrations.runAsJob: True in your values.yaml file ( https://github.com/airflow-helm/charts/blob/e1d49498426add959350ab8efacead8f96400759/charts/airflow/templates/db-migrations/db-migrations-job.yaml#L1 )
2. disable Helm wait option ( https://github.com/airflow-helm/charts/blob/e1d49498426add959350ab8efacead8f96400759/charts/airflow/values.yaml#L340 )

[2021-12-02 12:15] hterik commented on #19673
I've tried out `task_instance_mutation_hook` from Cluster Policies now. It sounds a bit strange to use something called policies for this use case but if it works the way it's explained it's probably good enough.

Unfortunately it seems to not behave the way it's described in the documentation, eg _"Called right before task execution."_.
What happens instead is the hook is being called on all task

[2021-12-02 13:15] potiuk opened #19966 "Breeze: Make Breeze works for Windows seemleasly"
The goal to achieve:

We would like to have `./Breeze2.exe` in the main directory of Airlfow which should do the same as `python Breeze2` now - firing the Breeze command line and managing the virtualenv for it.

We need to have:
* colors in terminal
* possibility to use commands and flags
* [stretch goal] autocomplete in Windows (we might separate it out to a separate task later)

[2021-12-02 13:15] potiuk opened #19967 "Breeze: Setup Autocomplete for Breeze"
We should leverage the 'click' functionality to get autocomplete working (https://click.palletsprojects.com/en/8.0.x/shell-completion/#) for `./Breeze2` command. The commands should come from the `./dev/breeze/src/breeze.py`.

This might require some hackery approach and might prove to be impossible or difficult, because it is based on entrypotnts and the fact that we want to use `Breeze2` command

[2021-12-02 13:25] potiuk opened #19969 "CI: Rewrite `free_space` script in Python"
In our build/ci.yml (maybe other?) files we are using a "free_space" script that performs cleanup of the machine before running the tasks. This allows us to reclaim memory and disk space for our tasks.

Example: https://github.com/apache/airflow/blob/eaa8ac72fc901de163b912a94dbe675045d2a009/.github/workflows/ci.yml#L334

This should be written in Python and our ci.yml and build.yml should be updat

[2021-12-02 13:31] potiuk opened #19970 "Breeze: Build CI images with Breeze"
This quite a task and it should likely be split into smaller PRs until completed.

Breeze has the possibility of building CI and PROD images, but this one focuses only on building the CI image.

Building the image is not very straightforward, because in mulitple places the images are build differently:

* for different Python version
* with different caches
* with different build options (upgrade

[2021-12-02 13:31] potiuk opened #19971 "CI: Rewrite selective check script in Python"
Breeze's CI uses selective check script, to determine which parts of the tests and build should be executed. This helps to save a LOT of build time for simpler PRs - for example when there is a PR with just a documentation change, it wil not run unit tests.

It's used in two places: ci.yml and build.yml:

* https://github.com/apache/airflow/blob/eaa8ac72fc901de163b912a94dbe675045d2a009/.github/wor

[2021-12-02 13:37] potiuk opened #19972 "POC on configuring and running Airflow with basic OT integration (selected metrics)"
Includes:

* adding airflow configuration
* starting airlfow and gathering metrics
* integration with monitoring software (Jaager)

[2021-12-02 14:04] xelita commented on #19962
Thanks @ephraimbuddy for your quick answer but it fails in the same way. The error message is a bit different:
<pre>
Traceback (most recent call last):
  File "/home/airflow/.local/lib/python3.7/site-packages/airflow/logging_config.py", line 41, in configure_logging
    logging_config = import_string(logging_class_path)
  File "/home/airflow/.local/lib/python3.7/site-packages/airflow/utils/module_

[2021-12-02 14:18] edithturn commented on #19966
Requirements over windows 10:
- Python 3.7+
- Docker
- Docker-compose

I used: `pip install pyinstaller ` to generate the executable. With` pyinstaller Breeze2` I got Breeze2.exe, and it is detecting a  virtus false positive. Now I will try to convert exe without any virus errors.

[2021-12-02 14:18] bbovenzi commented on #19785
Related: #19899

I think we will remove the blue dots entirely as they seem to cause confusion and weird issues.

[2021-12-02 14:27] ephraimbuddy commented on #19962
Not sure why you are having errors. You can remove the config part and try again. config is already in the airflow path see https://airflow.apache.org/docs/apache-airflow/stable/modules_management.html#built-in-pythonpath-entries-in-airflow

[2021-12-02 14:27] bbovenzi commented on #19960
@hterik Is this happening in the old or new UI?

[2021-12-02 14:41] lostkamp commented on #18599
Sorry, I'm a Github noob, but it seems like you cannot send DMs on Github. So I'm not sure how I am supposed to contact @coinzerge . I have submitted a PR now that includes the changes from the previos PR and fixes the test (hopefully).

[2021-12-02 15:06] hterik commented on #19960
When you say new, do you mean 2.3 or AIP-38?

This happens on the official Docker image version: v2.2.1
Git Version: .release:2.2.1+360474fff3738f70e95580a91e778250afa7ce82

[2021-12-02 15:14] bradleybonitatibus opened #19977 "GoogleDriveToGCSOperator.dry_run() raises AttributeError due to deprecated template_fields"
### Apache Airflow Provider(s)

google

### Versions of Apache Airflow Providers

apache-airflow-providers-google==5.1.0

### Apache Airflow version

2.1.4

### Operating System

MacOS BigSur 11.6

### Deployment

Virtualenv installation

### Deployment details

`tox4` virtual environment

### What happened

1) Unit testing some DAG task operators with `asset op.dry_run() is None`
2) `AttributeErr

[2021-12-02 16:00] bbovenzi commented on #19960
Oh my bad, I missed the version number. Closing as all of this will be changed in 2.3

[2021-12-02 16:24] theister commented on #18501
Short update:

I was able to reproduce the problem using the following minimal example on `2.0.2`

[code]

We're currently upgrading our instances to 2.2.2, and I can no longer reproduce it on the new version 🚀
Clearing task instances for a large number of dag runs now sets all DagRuns to the newly introduced `"queued"` DagRun status, and the scheduler no longer is starved out.

@vlieven @leonsmit

[2021-12-02 16:32] hterik opened #19983 "Exclude airflow runner internals from Operator failure tracebacks"
### Description

Given a simple dag like this:
[code]

The error log from the failing bash command, `false`, becomes incredibly big with lots of irrelevant information for the writer of the DAG, if that's not enough, the error is printed twice:
[code]
Often operators can be be more advanced, especially PythonOperator and taskflow which frequently creates equally deep stack traces themselves, which

[2021-12-02 18:19] nshetty15 commented on #14489
@eladkal  could you please review the change?

[2021-12-02 18:32] raphaelauv opened #19986 "Postgres 9.6 end of support"
### Describe the issue with documentation

since November 11, 2021 the support of Postgres 9.6 is finish

https://www.postgresql.org/support/versioning/

### How to solve the problem

remove 9.6 from airflow

### Anything else

_No response_

### Are you willing to submit PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](http

[2021-12-02 18:51] SamWheating opened #19988 "Migrations fail due to GTID Consistency Violation when using GTID Replication"
### Apache Airflow version

2.2.2 (latest released)

### Operating System

Debian GNU/Linux 10 (buster)

### Versions of Apache Airflow Providers

_No response_

### Deployment

Other 3rd-party Helm chart

### Deployment details

Using MySQL 8.0 via Google CloudSQL

### What happened

When upgrading from 2.1.2 to 2.2.2 the `airflow db upgrade` command failed with the following command:

[code]

On

[2021-12-02 18:53] BasPH opened #19989 "Arrows in DAG dependencies view are not consistent"
### Apache Airflow version

main (development)

### Operating System

N/A

### Versions of Apache Airflow Providers

N/A

### Deployment

Other

### Deployment details

_No response_

### What happened

The arrows in the DAG dependencies view are not consistent with the graph view:

Graph View:
![image](https://user-images.githubusercontent.com/6249654/144484716-31557857-1be0-441b-9bf3-828fa6629a8

[2021-12-02 19:29] potiuk commented on #19958
This is likely bad configuration of your new environment, not airflow problem https://www.xtivia.com/blog/ora-12154-tnscould-not-resolve-connect-identifier-specified/

[2021-12-02 19:38] potiuk commented on #19959
We discussed it at #19729. If you think you can implement full testing coverage and make it resilient to all kinds of configuration errors and uses (like joining SequentialExecutor with any other) and have a good and easy to use configuration, it might be worth making such PR

I am a bit sceptical, @ashb  - you thought this might be a good idea, so if somoene has it already proven and working we c

[2021-12-02 20:54] ac1997 commented on #19959
That's a good point. We didn't really think about those weird combination of executors. It might worth adding some sort of executor banned list to this multi-executor.

As for configuration, this is what we have currently. It certainly can be improved.
[code]

My current implementation also allows additional configuration in queue name in the form of `queue:config`. Routing will be based on the fi

[2021-12-02 21:00] potiuk commented on #19964
Ah yea. Please fix it :). There used to be 4 sessions but we removed the session that reloaded webserver automatically in favour of instructions printed: https://github.com/apache/airflow/blob/9d5647b91246d9cdc0819de4dd306dc6d5102a2d/scripts/in_container/run_tmux_welcome.sh#L24

[2021-12-02 21:01] jedcunningham commented on #19986
Btw @raphaelauv, you don't need to open an issue before opening a PR, especially if you have the change ready to go 👍

[2021-12-02 21:06] potiuk commented on #18599
That's enough if you make a comment, if @coinzerge does not respond  in a day or two - just take it over.

[2021-12-02 21:10] PrincipalsOffice opened #19995 "TaskInstance.log_url is uncallable due to execution_date being deprecated"
### Apache Airflow version

2.2.2 (latest released)

### Operating System

Debian GNU/Linux

### Versions of Apache Airflow Providers

N/A

### Deployment

Other Docker-based deployment

### Deployment details

N/A

### What happened

When I created a TaskInstance object and tried to access its `log_url` property, an `AttributeError: 'NoneType' object has no attribute 'isoformat'` exception was ra

[2021-12-02 21:11] potiuk commented on #19977
I assigned you to it @bradleybonitatibus

[2021-12-02 21:12] #19897 closed

[2021-12-02 21:22] potiuk commented on #19962
If you want - yes. You should. Note that the docker-compose quick-start is just that, quick start to get up and running quickly.  And if you want to customize it you are on your own there and you should modify the docker compose as you see fit:

https://airflow.apache.org/docs/apache-airflow/stable/start/docker.html

So all good. Just modify your docker compose in the way that suits you. No issue

[2021-12-02 21:22] #19962 closed

[2021-12-02 22:24] potiuk commented on #19988
This has been raised before, but since this is CloudSQL limitation, I believe we will need to fix it @uranusjr - wdyt?

[2021-12-02 22:25] ashb commented on #19977
Closed by #19991

[2021-12-02 22:25] #19977 closed

[2021-12-02 22:26] potiuk commented on #19988
Oh. Did I  forget to mention that MYSQL is our "Elephant in the Room",  BTW ? https://lists.apache.org/thread/dp78j0ssyhx62008lbtblrc856nbmlfb

[2021-12-02 22:45] SamWheating commented on #19988
Ah cool, I hadn't found that report when I searched previously, I'll make a note of checking the discussions tab next time.

If it was under our control I would be happy to just disable GTID replication but unfortunately this is a mandatory setting in CloudSQL (the cost of using a managed platform I suppose 😞) I can submit a PR for this tomorrow, if y'all are in agreement with the proposed fix.

A

[2021-12-02 22:49] potiuk commented on #19988
naaa. removal is probably out of question for quite a while. But I DO recommend migrating to Postgres. Saves time, money and likely a lot of hair not pulled out of desperation.

Yeah. Please Submit PR :)

[2021-12-02 23:14] ShakaibKhan commented on #17487
@alexInhert make sense to me and agree that retries should be shown; could you please share the DAG you used to make the above gantt chart

[2021-12-03 00:58] josh-fell commented on #19409
I was thinking we should add a disclaimer in the docs as an explicit "heads up" for others so there is no confusion until a possible fix is implemented.

But if you could be so kind as to assign this to me that would be lovely.

If you agree on the disclaimer, I can whip that up in the interim.

[2021-12-03 01:21] hwooson12 commented on #19955
@bbovenzi I created a PR. But I am new to create a PR here so that the PR needs maintainer's approval to run workflows.

[2021-12-03 01:54] chinwobble commented on #19895
#19668 tested and working with `apache-airflow-providers-microsoft-azure==3.4.0rc1`

[2021-12-03 02:02] josh-fell commented on #19895
Verified #18693, #19431, #19475, #19595, and #19383

Thanks again @potiuk!

[2021-12-03 02:06] josh-fell commented on #12726
Does anyone else agree that this can be closed now via existing docs + merging of #19124?

[2021-12-03 04:42] josh-fell commented on #19922
+1 on seeing a simple or analogous example.

No reason why the `callable` used in the `ShortCircuitOperator` couldn't push an `XCom` and then a downstream `BranchPythonOperator` uses that `XCom` to determine which branch(es) to follow. Of course, you're still up against #7858 being implemented first like you mentioned.

[2021-12-03 04:49] dstandish opened #20003 "Trigger event payload mutually incompatible with deferral kwargs"
### Apache Airflow version

2.2.2 (latest released)

### Operating System

official docker image

### Versions of Apache Airflow Providers

_No response_

### Deployment

Virtualenv installation

### Deployment details

When we defer we can supply kwargs

[code]

If we do, these are passed to `method_name` when we come back out of deferral.

We can also return a payload from the trigger, and this

[2021-12-03 05:01] chrisrfu opened #20004 "Airflow UI "stuck" and not showing most recent change"
### Apache Airflow version

2.2.2 (latest released)

### Operating System

Mac OS X 10.15.7

### Versions of Apache Airflow Providers

_No response_

### Deployment

Docker-Compose

### Deployment details

running it locally with docker and docker-compose version 3

### What happened

1. run _build_me.sh_
- _build_me.sh_ consists of:
[code]

Dockerfile looks like this
[code]
2. run _run_me.sh_
- _

[2021-12-03 07:25] potiuk commented on #19895
Thanks for those who tested. Today is last day to do some testing  :)

[2021-12-03 07:27] uranusjr commented on #19895
cc @dimon222 for #19815

[2021-12-03 07:30] alexott commented on #19895
I have capacity to test only over the weekend...

[2021-12-03 07:41] xelita commented on #19962
@potiuk agree with you about not using the docker-compose for production deployment. However I just want to test a custom logger implementation locally with docker.compose.
In this case, even if I mount the config folder with the appropriate logging file, the stack fails saying it could not find the logger module.

Also what is your recommendation regarding Airflow local development (testing custo

[2021-12-03 07:57] kristoffern commented on #19699
I had a task stuck this morning, confirmed that it was stuck as described in this bug by checking the DB.
It has been stuck for a few hours when I woke up. However docker had pruned the logs so that the earliest entry was still ~40min after the task had gotten stuck. Will continue to monitor for it if it's important?

[2021-12-03 08:17] PikaYellow35 opened #20007 "PostgresToGCSOperator fail on empty table and use_server_side_cursor=True"
### Apache Airflow Provider(s)

google

### Versions of Apache Airflow Providers

apache-airflow-providers-google==6.1.0

### Apache Airflow version

2.2.2 (latest released)

### Operating System

Debian GNU/Linux 10 (buster)

### Deployment

Other Docker-based deployment

### Deployment details

_No response_

### What happened

When I'm execute `PostgresToGCSOperator` on empty table and set `use

[2021-12-03 08:32] ephraimbuddy commented on #19699
No need for monitoring. Just wanted to confirm that it's not the same case as this: https://github.com/apache/airflow/issues/13542#issuecomment-983261840

[2021-12-03 08:36] xelita opened #20008 "Airflow / AWS IMDSv2 - Unable to locate credentials"
### Apache Airflow Provider(s)

amazon

### Versions of Apache Airflow Providers

<pre>
Providers info
apache-airflow-providers-amazon          | 2.2.0
apache-airflow-providers-celery          | 2.0.0
apache-airflow-providers-cncf-kubernetes | 2.0.2
apache-airflow-providers-docker          | 2.1.1
apache-airflow-providers-elasticsearch   | 2.0.3
apache-airflow-providers-ftp             | 2.0.1
apa

[2021-12-03 08:41] potiuk commented on #19962
Of cours. You should use "standalone" command of airflow. rather than docker-compose.

https://airflow.apache.org/docs/apache-airflow/stable/cli-and-env-variables-ref.html#standalone

You are trying to shoot yoursefl in the foot by complicating your setup.

I think also it's good to read some advices:

First of all, you are on your own there (so any custom configuration there is definitely not a b

[2021-12-03 08:55] xelita commented on #19962
ERROR!!!: Too old Airflow version !
The minimum Airflow version supported: 2.2.0. Only use this or higher!

Did you notice the Airflow version I am using by reading this ticket entirely?
<pre>
Apache Airflow
version                | 2.2.2
executor               | CeleryExecutor
task_logging_handler   | airflow.utils.log.file_task_handler.FileTaskHandler
sql_alchemy_conn       | postgresql+psycopg2

[2021-12-03 13:08] edithturn commented on #19969
I see airflow/scripts/ci/tools is where we have all the sh files.
This script free_space.sh contains another script: `$( dirname "${BASH_SOURCE[0]}" )/../libraries/_script_init.sh` and this another one.

Should I focus just on free_space.sh, right?

I would like to work on this issue :)

[2021-12-03 13:52] xelita commented on #20008
need to migrate first to helm chart for Apache Aiflow

[2021-12-03 13:52] #20008 closed

[2021-12-03 14:27] #19964 closed

[2021-12-03 14:31] potiuk commented on #19962
Then this is a bug if you can provide reproducible case. Please report it . The othr thing is not a bug

[2021-12-03 14:34] potiuk commented on #19962
But please double check first  if it's s not caused by so e.othe t modifications of the compose file. The compose file is this - quick start. So if the error reportes cannot be reproduced using the standard docker compose and standard image - it means some of your modifications could have caused it. For me it is suspicious and i believe the error is not reported when you use it out of the box, so

[2021-12-03 14:46] yiga2 opened #20014 "Update Google provider package"
### Description

The latest `Google` provider package, 6.10, contains quite old packages e.g. `google-cloud-container` is 1.0.1, which is 18 months old and 10+ versions back.
This was just to inquire on plans or a schedule to update - and what components if not all.

### Use case/motivation

We use `google-cloud-container` to administer existing clusters in GKE e.g. scale up and down node pools, q

[2021-12-03 15:10] neptune19821220 opened #20016 "Upgrading Apache Airflow from version 2.1.3 to 2.2.2"
### Apache Airflow version

2.2.2 (latest released)

### Operating System

docker image apache/airflow:2.2.2-python3.9

### Versions of Apache Airflow Providers

_No response_

### Deployment

Other Docker-based deployment

### Deployment details

I deployed airflow in AWS ECS Fargate Cluster.
I use Aurora Serverless mysql5.7 as airflow db backend and AWS Redis cluster as AIRFLOW__CELERY__BROKER_U

[2021-12-03 15:39] eladkal commented on #20014
We already have generic open issue https://github.com/apache/airflow/issues/12120
We welcome PRs, if the provider doesn't support new libs versions feel free to open PRs to update.

[2021-12-03 15:39] #20014 closed

[2021-12-03 15:50] potiuk commented on #20014
And BTW @yiga2 - since you are in the need of it - maybe you could simply take on the task of updating it? Usually in the open source world things will not happen if there is no-one doing it, so opening an issue does not change much - but doing the PRs actually do. Airflow has > 1800 contributors and such contribution would be most welcome. There are few other similar changes as you can see in the

[2021-12-03 15:51] potiuk commented on #20014
AH I just now see that @eladkal wrote the same, shorter :)

[2021-12-03 16:15] #19988 closed

[2021-12-03 16:53] xelita commented on #19962
Ok will check that. Thanks

[2021-12-03 16:57] potiuk commented on #19969
The "init" script contains some common setup which are needed for Bash and defines common functions used by both Breeze and CI, but they are largely unnecessary for Python and if we find that we need some common code we will extract it to some common packages that will be used by both CI and Breeze.

[2021-12-03 16:58] potiuk commented on #19969
So yeah. Just port what the `free_spaces" do - the common parts we will extract later if /when needed.

[2021-12-03 17:00] aKumpan opened #20020 "DB schema: varying(64) is not enough for email fields"
### Apache Airflow version

2.2.2 (latest released)

### Operating System

composer-1.17.3-airflow-2.1.2

### Versions of Apache Airflow Providers

_No response_

### Deployment

Composer

### Deployment details

_No response_

### What happened
Originally reported here:
https://stackoverflow.com/questions/69718827/receiving-http-401-when-accessing-cloud-composers-airflow-rest-api

Getting "401 Un

[2021-12-03 17:10] potiuk commented on #20020
Already addressed by the in-progress #19932

[2021-12-03 17:22] aKumpan commented on #20020
Thanks @potiuk
Closing the ticket

[2021-12-03 17:22] #20020 closed

[2021-12-03 20:36] #19945 closed

[2021-12-04 00:26] mattpolzin opened #20032 "Snowflake Provider - Hook's support for not providing a region is broken when using SQLAlchemy"
### Apache Airflow Provider(s)

snowflake

### Versions of Apache Airflow Providers

Versions 2.2.x (since https://github.com/apache/airflow/commit/0a37be3e3cf9289f63f1506bc31db409c2b46738).

### Apache Airflow version

2.2.1

### Operating System

Debian GNU/Linux 10 (buster)

### Deployment

Other 3rd-party Helm chart

### Deployment details

Bitnami Airflow Helm chart @ version 8.0.2

### What

[2021-12-04 00:44] chinwobble opened #20033 "Transfer operators for azure blob storage"
### Description

Create Microsoft Azure Transfer Operators to Azure Blob Storage.

This could include:
Azure Table Storage to blob storage
Azure SQL Database to blob storage
Azure Cosmos DB to blob storage
salesforce to blob storage

### Use case/motivation

Make it easier to do data ingestion for azure data services to blob storage / azure data lake.

### Related issues

_No response_

### Are yo

[2021-12-04 02:11] josh-fell commented on #19891
I took a crack at `airflow/decorators` but 1 error is eluding me (see #20034).

Anyone grab `airflow/providers/salesforce` yet?

[2021-12-04 05:58] josh-fell commented on #19409
When I test this using `main` specifically with a container-level SAS token with all available perms on said container, the following exception is thrown:
[code]

_Digging, part 1_
Currently when attempting to upload a blob, we are attempting to first create a container, if it already exists, simply return the `ContainerClient` to continue the upload. However, only a `ResourceExistsError` is caugh

[2021-12-04 13:07] subkanthi commented on #19895
Tested #19489

[2021-12-04 14:32] potiuk commented on #19895
@alexott  - good we need to more votes so still some time :)

[2021-12-04 14:40] potiuk commented on #20032
Why don't you submit a PR with a fix @mattpolzin ?

[2021-12-04 15:00] lostkamp commented on #18599
Alright. I have opened a PR and am just waiting for a code review now. Should I ask anyone in particular for this?

[2021-12-04 15:19] #17373 closed

[2021-12-04 15:48] alexott commented on #19895
Tested #19722, #19585, #19335, #19412.
Unfortunately there is a logical error in calculation of the expiration time that may lead to authentication error when executing long-running jobs, just submitted a very small PR to fix it: #20036 - it would be nice to include it into release

[2021-12-04 16:03] AlekseiSaff opened #20037 "Can't import DAG"
### Apache Airflow version

2.2.2 (latest released)

### Operating System

CentOS 7.9

### Versions of Apache Airflow Providers

_No response_

### Deployment

Other

### Deployment details

_No response_

### What happened

I have a python code inside DAG

TRADE_DATE = int({{ data_interval_end.in_timezone('Asia/Hong_Kong').strftime('%Y%m%d') }})
def SRC_DUMP():
    if TRADE_DATE >= 20111117:

[2021-12-04 16:19] mattpolzin commented on #20032
I appreciate the encouragement! I've got a lot of projects in progress right now so I don't think I'll find time to get set up here as well.

[2021-12-04 16:23] potiuk commented on #19752
Maybe you would like to take a stab on fixing both in a PR?

[2021-12-04 16:25] potiuk commented on #20032
I marked it as good-first-issue, so maybe someone else will pick it up then !

[2021-12-04 16:27] potiuk commented on #19895
Thanks!

I can remove it from the release and make ad-hoc rc2 for databricks only. This is how we deal with it when we find problems with a candidate provider.

[2021-12-04 18:20] subkanthi commented on #19972
I was thinking of also supporting prometheus, we could push to prometheus pushgateway, even though its not recommended. But it will be minimum changes.

https://prometheus.io/docs/practices/pushing/

[2021-12-04 18:38] potiuk commented on #19972
In the long term, this one (whole project) is to see if we can get rid of statsd/datadog entirely and only use open-telemetry.
Once we have OpenTelemetry support we should not need specific prometheus integration.

We can use https://www.npmjs.com/package/@opentelemetry/exporter-prometheus to export all telemetry to Prometheus.

Why would we want separate Prometheus-specific implementation if our

[2021-12-04 18:57] subkanthi commented on #19972
Definitely not disagreeing with the long term goal of supporting opentelemetry, I was just suggesting a short term initiative of supporting Prometheus with our current setup , minimum changes to stats class and keeping the architecture of pushing metrics.
Counter , gauge concepts are the same with Prometheus and statsd

[2021-12-04 20:45] potiuk commented on #19972
Whatever we come up now - we will have to support with backwards compatibility promise in the future. I am pretty sure we do not want a short-term prometeus support now if we have a long term plan to support it differently.

Currently there are statsd exporters people can use (and do use) to export statsd to prometheus. In the future we will have (if the POC will work and AIP accepted) we will hav

[2021-12-05 03:28] huxuan opened #20041 "nodeSelector does not work for postgresql StatefulSet."
### Official Helm Chart version

1.3.0 (latest released)

### Apache Airflow version

2.2.1

### Kubernetes Version

Server Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.7", GitCommit:"1dd5338295409edcfff11505e7bb246f0d325d15", GitTreeState:"clean", BuildDate:"2021-01-13T13:15:20Z", GoVersion:"go1.15.5", Compiler:"gc", Platform:"linux/amd64"}

### Helm Chart configuration

[code]

[2021-12-05 03:32] huxuan opened #20042 "Lack of parameters for postgresql image."
### Official Helm Chart version

1.3.0 (latest released)

### Apache Airflow version

2.2.1

### Kubernetes Version

Server Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.7", GitCommit:"1dd5338295409edcfff11505e7bb246f0d325d15", GitTreeState:"clean", BuildDate:"2021-01-13T13:15:20Z", GoVersion:"go1.15.5", Compiler:"gc", Platform:"linux/amd64"}

### Helm Chart configuration

N/A

##

[2021-12-05 04:36] harishkrao commented on #20032
Is this available to pick up and implement?

[2021-12-05 05:15] edwardwang888 opened #20045 "Configurable UI clock format"
### Description

There has been some interest expressed in having a configurable UI clock datetime format (#18866). The options currently proposed are:
* Adding a toggle to show/hide the date
  * We can include other common formatting options that are requested
* Accepting a datetime format string specifying a custom format
  * I imagine the simplest way to implement this is to ask the user to ent

[2021-12-05 08:30] mik-laj commented on #20042
PostgresQL is for development purposes only and for quick testing. We recommend using PostgresSQL installation and configuring the database as external.
Here is docs:  https://airflow.apache.org/docs/helm-chart/stable/production-guide.html

[2021-12-05 08:31] mik-laj commented on #20042
Feel. free. Assigned.

[2021-12-05 11:46] mkhalaf2 opened #20047 "ERROR: could not queue task TaskInstanceKey"
### Apache Airflow version

2.2.2 (latest released)

### Operating System

Red Hat Enterprise Linux Server 7.6 (Maipo)

### Versions of Apache Airflow Providers

apache-airflow-providers-celery==2.1.0
apache-airflow-providers-ftp==2.0.1
apache-airflow-providers-http==2.0.1
apache-airflow-providers-imap==2.0.1
apache-airflow-providers-postgres==2.3.0
apache-airflow-providers-sqlite==2.0.1

### Depl

[2021-12-05 13:20] humit0 commented on #19895
Tested #19420

[2021-12-05 15:13] potiuk commented on #20042
I still think it's not a good idea to add a change like that - having options would encourage users to use this "not recommended" setting. I think we shoudl really treat the postgres support "as is" just for quick start but having options on that is not a good idea (because we'd have to support all different options there).

If you want to experiment with different images in your local setting, th

[2021-12-05 15:17] potiuk commented on #20041
Similarly as with the other issue, Postgresql node is just used for development purpose and is discouraged from use in "production environment. Converting it to a discussion in case someone would likel to argue why our "development built-in Postgresql" shoudl support configurability

[2021-12-05 16:38] subkanthi opened #20053 "Add Prometheus Provider"
### Description

Prometheus supports a pushGateway option to push metrics to Prometheus.
This might be useful in cases where metrics needs to be pushed in the ETL stage.

For example, BigQuery has  metrics stored in information_schema tables which can be queried using Standard SQL. Its useful to run the Query and store the metrics in prometheus on a periodic basis.

https://github.com/m-lab/promet

[2021-12-05 17:30] cansjt opened #20055 "DAG serialization broken because of pendulum"
### Apache Airflow version

2.2.2 (latest released)

### Operating System

Debian

### Versions of Apache Airflow Providers

N/A

### Deployment

Other 3rd-party Helm chart

### Deployment details

N/A

### What happened

After upgrading from 2.1.3 to 2.2.2, Airflow is no longer capable of serializing some dags. It fails with the exception:
[code]

The start date was provide to the DAG initializer

[2021-12-05 17:48] potiuk commented on #20055
I believe this is deliberate. The error tells what to do - change the timezone to use pendulum.

If you look here: https://airflow.apache.org/docs/apache-airflow/stable/timezone.html#time-zone-aware-dags, you are supposed to use pendulum timezones (and it's been there for quite a while when we expected pendulum not datetime). While previously it coudl accidentally work with datetime timezones, it

[2021-12-05 17:50] potiuk commented on #16613
@uranusjr  - I believe, looking at the code, that it has been fixed in https://github.com/apache/airflow/pull/17414 ? Am I right?

[2021-12-05 18:07] potiuk commented on #20053
Just to comment for the discussion related - we are looking into open telemetry support during our Outreachy internship[ (https://github.com/apache/airflow/projects/14). This might take quite a while to explore the options, but is likely to turn into a long-term solution, provide that we produce an AIP and it gets approved.

I understand @subkanthi  that you want to work on it?

I thought about it

[2021-12-05 18:12] subkanthi commented on #20053
@potiuk This is a different use-case, I wish we can have a quick call.
This is useful not for airflow metrics, but for orchestrating and scheduling metrics across application.

As I had mentioned the bigquery example , there are cases where you need to run a bigquery SQL query to read the information_schema tables like size of datasets and periodically write them to prometheus so you can track the

[2021-12-05 18:19] cansjt commented on #20055
As far as I am concerned if this is deliberate this is not a great choice. As mentioned this date comes from the output of the Parsing of a YAML file. For now we implemented a work around: intercept the output of the parsing before passing it to Airflow.

But, to me, using pendulum is a choice internal to Airflow. At it's interface Airflow should be capable of accepting anything that comes from Py

[2021-12-05 18:21] cansjt commented on #20055
For those who might wonder, there is this [documentation section](https://airflow.apache.org/docs/apache-airflow/2.2.2/timezone.html#time-zone-aware-dags). Maybe the documentation of the DAG class should be updated to reference this section so people are more aware of it.

[2021-12-05 18:37] potiuk commented on #20053
Hmm I read the issue as a proposal to build a "shared service" inside of Airflow that will be built in order to be usable to provide custom metrics by various providers. Am I wrong?

If that the first case - "Provide  a common way for all providers to report their telemetry", this is pretty much the same as OpenTelemetry integration would provide - most likely (this is the scope of the POC on what

[2021-12-05 18:40] potiuk commented on #20053
(and to add -  just calling me is definitely not needed/advised :). The dev community needs to be involved to see the proposal (if it's scope is what I understood) - that's why devlist is the right target.

[2021-12-05 18:50] subkanthi commented on #20053
My intention for this specific issue is not related to opentelemetry or airflow metrics and definitely not a shared service.

The idea was just to add prometheus just like any other provider, for example our influxdb provider. In this case I would just treat Prometheus as another database or provider.

The example of bigquery was something that came to my mind, but Im sure there are many use cases

[2021-12-05 19:05] potiuk commented on #20053
Ah ok. Then yeah. I was reading it wrong :). So - as I read it now - it's just about having an Operator that could be part of the DAG to push some metrics? If that's the case then I think this is a cool idea :).

[2021-12-05 19:41] eladkal commented on #20053
I assume that it will also solve https://github.com/apache/airflow/issues/11549 ?

[2021-12-05 21:38] potiuk commented on #20055
That's a very simplistic view.. Sometimes things work accidentally  - especially if the implementation doesn no t the documetnation. So this is by far not a universal definition of bug that anyone should follow. It's not "0-1" definition by far

But I am not sure how it was in this case, so I will revert to others to comment. I am not sure what was the case here - otherwise I'd have closed this or

[2021-12-05 21:49] #15886 closed

[2021-12-05 21:52] #19850 closed

[2021-12-05 22:05] potiuk commented on #20032
Sure @harishkrao . Assigned you.

[2021-12-05 22:05] potiuk commented on #20032
But maybe @mik-laj would like to do it firsst - so agree between yourselves ;)

[2021-12-05 22:11] #19080 closed

[2021-12-05 22:13] kazanzhy commented on #10929
Hi all.
I've prepared a draft PR #20058
I will be very glad to any suggestions, especially from @chattarajoy

[2021-12-05 22:17] potiuk commented on #18599
Which PR?

[2021-12-05 22:27] potiuk commented on #19891
Feel free! . few more merges and I am going to refresh the list to see where we are, on top of manual updatees.

[2021-12-05 22:28] potiuk commented on #20033
Feel free!

[2021-12-05 23:03] #18917 closed

[2021-12-05 23:04] #19986 closed

[2021-12-05 23:06] potiuk commented on #20007
Maybe you would like to contribute a PR to fix it @PikaYellow35  - we have > 1800 contributors, you can become one of them :)

[2021-12-05 23:18] potiuk commented on #20004
I think you need to dig deeper. The docker-compose is just a quick start and you are on your own to make any modifications.  You have your own modifications in tehre, local dags, airflow.cfg, some devops folder. There are plenty of things that could go wrong - your images might be not available to your docker-compose, you have not restarted the webserver and scheduler, you have no docker-compose f

[2021-12-05 23:20] potiuk commented on #12726
Fine for me.

[2021-12-05 23:20] #12726 closed

[2021-12-05 23:32] potiuk commented on #19995
TaskInstance is just a reflection of datamodel, so it is bound to change. See the latest definition in Airflow code (I gues you initially looked at internals too to find out how to create it) . The latest definitiion (reflecting the data model is here) https://github.com/apache/airflow/blob/8ca3eda02c58ab7ff224e463bd8b7ae389ce4370/airflow/models/taskinstance.py#L308

[2021-12-05 23:32] #19995 closed

[2021-12-05 23:51] potiuk commented on #19983
I think it depends on whose view you take into account, I am for adding as much information as possible in the stack trace, because you never know when more stack trace is useful. If a user reports a "half hearted" stack trace I am usually not able to help as a maintainer.

Surely, If the information is duplicated - and you know how to de-duplicate it reliably - feel free to open PR for that. It d

[2021-12-06 00:07] #18114 closed

[2021-12-06 00:17] potiuk commented on #19957
Do you happen to have one or multiple schedulers?

[2021-12-06 00:25] potiuk commented on #19957
Also - is there a chance to find out from the logs what was the "other" query that the deadlock happened on? Is this also possible that you have another person or process (either manuallly or via some direct DB access) acessing the DB (for example soem scripts that perform retention or similar)?

[2021-12-06 00:26] potiuk commented on #19957
(Reason why I am asking - there are very low number of Postgres deadlock reports we receive, because (unlike MySQL) Postgres usually shows "real" deadlocks and we'd expect this kind of problem to appear more often amongst our users, so I am looking for any special circumstances you might have.

[2021-12-06 01:38] #19207 closed

[2021-12-06 02:13] harishkrao commented on #20032
Thank you for getting back @potiuk. @mik-laj how would you like to proceed?

[2021-12-06 02:16] mik-laj commented on #20032
Feel free to create a PR.  I will take care of the review.

[2021-12-06 05:01] Bowrna commented on #19967
I will pick this issue to work on first @potiuk

[2021-12-06 05:06] uranusjr commented on #19967
A better approach would be to pre-generate completion scripts, and use pre-commit to keep everything in sync. This would eliminate most of the hacks (at runtime at least; all of those would only need to be able to generate a completion script).

[click-completion](https://github.com/click-contrib/click-completion) is another thing to look into that can help this.

[2021-12-06 06:22] Bowrna commented on #19967
@uranusjr could you explain to me why we have to keep everything in sync using pre-commit?

[2021-12-06 06:30] uranusjr commented on #19967
So when someone adds a new command, they can be automatically reminded to regenerate the autocompletion script.

[2021-12-06 08:52] malthe commented on #9298
And perhaps add optional operator option `email_on_hold` to be able to send an e-mail when a task is put on-hold.

[2021-12-06 08:56] Bowrna commented on #19967
@potiuk I am planning to start this with one actual command and adding autocomplete for that one command and create help docs with that. Am i going in right direction?

[2021-12-06 08:59] eladkal commented on #9298
To my understanding a possible solution is to change the `On`/`Off` from DAG level to Task level.
So a DAG would be considered ON if at least one of it’s task is ON. Even assuming this is feasible it brings many challenges for example how would dag timeout behave if some tasks are on hold?

[2021-12-06 09:00] davidavdav opened #20063 "Forward slash in `dag_run_id` gives rise to trouble accessing things through the REST API"
### Apache Airflow version

2.1.4

### Operating System

linux

### Versions of Apache Airflow Providers

apache-airflow-providers-amazon==2.2.0
apache-airflow-providers-celery==2.0.0
apache-airflow-providers-cncf-kubernetes==2.0.2
apache-airflow-providers-docker==2.1.1
apache-airflow-providers-elasticsearch==2.0.3
apache-airflow-providers-ftp==2.0.1
apache-airflow-providers-google==5.1.0
apache-a

[2021-12-06 09:06] malthe commented on #9298
I think that's probably the best you can do yes. After each DAG run, use the `on_failure_callback` and `on_success_callback` methods to disable the DAG model (i.e., put it into "off" state).

[2021-12-06 09:47] stablum commented on #19957
Hmm, it's difficult to retrieve this bit of information. I don't think there were multiple instances of the scheduler running, but I will keep in mind this eventuality, so thank you for the hint.

[2021-12-06 12:19] eladkal commented on #18918
Your code indeed not working but this code do work:

[code]

Using dynamic start date isn't recommended it can caused weird issues. We explain this is the [docs](https://airflow.apache.org/docs/apache-airflow/stable/faq.html#what-s-the-deal-with-start-date).

[2021-12-06 12:19] #18918 closed

[2021-12-06 12:24] uranusjr commented on #20063
Hmm, this is tricky. We can’t just allow slash in `dag_run_id` either because there are endpoints like `/dags/{dag_id}/dagRuns/{dag_run_id}/taskInstances` that would cause ambiguity.

Does using `api/v1/dags/{dag_id}/dagRuns/path%2Fto%2Fmediafile` give you a correct result? This might be the best solution if that works right now; but if it does not, we might need to disallow slashes in run IDs alt

[2021-12-06 12:29] kaxil commented on #20055
Airflow has a utility for it that you can use to make sure you don't need to use anything else.

[code]

https://airflow.apache.org/docs/apache-airflow/2.2.2/timezone.html#naive-and-aware-datetime-objects

Airflow have relied on Pendulum for as long as I can remember and we make it clear on https://airflow.apache.org/docs/apache-airflow/2.2.2/timezone.html on why we picked pendulum instead of pytz

[2021-12-06 12:36] kaxil commented on #20016
### How to downgrade?

Apply this diff and then run `alembic downgrade ccde3e26fe78` from airflow migrations directory:

[code]

The Diff:

[code]

### What's causing the issue?

I am not sure of this currently, any thoughts @jedcunningham @ashb @uranusjr

[2021-12-06 12:36] potiuk commented on #20055
Yeah.  Concur with @kaxil  - maybe there are some ways we can make it clearer. I will convert this into discussion now - but maybe we can contine discussing what can be done to improve there ((and @cansjt -> maybe you can even directly create a PR to add clear the confusion in the examples you pointed out ? Airflow has > 1800 contributors, so that seems like an easy way to become one as well.

[2021-12-06 12:39] potiuk commented on #20063
Agreee. The %2F is the only "good" way to go. And if it does not work - I think we should probably fix it. This might become handdy when we add multi-tenancy. "/" seems to be for example as nice, enforceable convention that can be used to separate dag namespaces for example.

[2021-12-06 13:12] Melodie97 commented on #19972
Currently looking at how to go about this, will keep everyone updated

[2021-12-06 13:48] ashb commented on #20016
Could it be cos of Airflow still running while trying to upgrade?

[2021-12-06 14:23] jens-scheffler-bosch commented on #19848
Thanks for the feedback, the intent was not to run into legal constraints nor to get into any conflict with trademarks - of course the Apache rules like "powered by" would have been respected. Also the intent was not to modify any Apache/Airflow logo.

Closing this request for feature as well as the proposal to contribute.

[2021-12-06 14:23] #19848 closed

[2021-12-06 14:28] #19761 closed

[2021-12-06 14:29] neptune19821220 commented on #20016
Hi All,

For further test, I use mysqldump to dump the airflow database from staging Aurora serverless.
1.  I restore the data to a new AWS RDS mysql 5.7 instance with the same charset, the airflow db upgrade finished successfully.
2.  I restore the data to a new AWS Aurora Serverless mysql 5.7 cluster with the same charset, the airflow db failed in the same step.

It seems there are some implicit

[2021-12-06 14:39] thomashutcheson-msm commented on #12061
Did the example dag get created, I would find this really useful right now ?

[2021-12-06 14:40] potiuk commented on #20016
Is this possible that you send more logs of what happens including possibly server side logs from around the upgrade. I have a feeling that this might be similar class of error like https://github.com/apache/airflow/issues/19988 (already solved in `main`) but we just miss a crucial error message and the failing UPDATE is just a result of an earlier error or maybe some replication delays.

[2021-12-06 14:47] neptune19821220 commented on #20016
@potiuk @ashb
Thank you for your reply.

Though I didn't stop airflow service during the upgrade, there is no any running task during the upgrade.
I choose a free time window to do the upgrade task.

[2021-12-06 14:48] subkanthi commented on #19972
Yes thats correct @potiuk.

[2021-12-06 15:55] potiuk commented on #19967
@uranusjr is right - Click completion is the right approach. And I aggre that the scripts should be automatically generated by .pre-commit.

Not even reminded - the scripts should be automatically regenerated. We have quite a few of those already - for example look here: https://github.com/apache/airflow/blob/cc3f038aede71d54e66cce37fe5ce1d4ec5a86e4/.pre-commit-config.yaml#L355 where we take a ver