[2021-03-05 23:35] xinbinhuang commented on #14511
#14418 is merged, so I think Druid is good to go now (after including the fix)

[2021-03-05 23:39] zachliu opened #14635 "UpdateMask is useless for POST/PATCH if readOnly=true in the openapi specs"
**Apache Airflow version**: 2.0.1

**Environment**: Docker on Linux Mint 20.1, image based on apache/airflow:2.0.1-python3.8

**What happened**:
when i made this PATCH request to the API:
[code]
the following error occurred
[code]

**What do you think went wrong?**:
The `requestBody` of the `patch` request is defined to use the `DAG` schema:
https://github.com/apache/airflow/blob/33910d6c699b5528d

[2021-03-05 23:50] arkadiuszbach commented on #10860
On Azure LoadBalancers have tcp idle timeout set as default to 4 minutes(it is visible in JSON View), so if you connect and don't interact with it in more than 4 minutes it will drop the connection.

Airflow is using Kuberenetes watcher in order to monitor pod events and it is using it in stream mode.
So It connects and waits for events, if there are no events in more than 4 minutes the LoadBalanc

[2021-03-06 00:05] mik-laj commented on #14635
From what I can see, you are not correctly defining the update mask. See:
https://github.com/apache/airflow/blob/779ecc41847c4e476a12fbc1c607c08a00e90205/tests/api_connexion/endpoints/test_dag_endpoint.py#L587-L594

[2021-03-06 00:13] mik-laj commented on #14613
what version of Airflow do you use?

[2021-03-06 00:13] fjmacagno commented on #14613
2.0.1

[2021-03-06 01:10] zachliu commented on #14635
sorry, that's a typo
i followed the example

[2021-03-06 01:17] zachliu commented on #14635
btw, this would be more of an issue once we start using the generated client
for example, in Python client, this example in the doc won't work:
[code]
we need to do
[code]
which looks funny

[2021-03-06 01:35] ephraimbuddy commented on #14635
@zachliu, did you try using `update_mask=is_paused` instead of `update_mask=['is_paused']`?

[2021-03-06 02:01] mik-laj commented on #14623
Here is workaround: https://github.com/apache/airflow/issues/11983

[2021-03-06 05:56] jyotidhiman0610 commented on #14543
Let me know if you are working on this @YangMuye, if not I can take this up.

[2021-03-06 07:08] rsingh2021 commented on #10790
@turbaszek - Is this error is fixed in 2.0 ?

[2021-03-06 08:09] vemikhaylov commented on #14635
If I understand it correctly, the problem is that specification states passing a DAG object as the body of the PATCH request is allowed. However, there's the `dag_id` field there, which is `readOnly` and when we pass a full `DAG` object to the `PATCH`, it fails with the `400` because of the `dag_id`.

Maybe all the fields except `dag_id` should be moved to the separate entity (e.g. `DAGData` or so

[2021-03-06 08:37] arkady-emelyanov commented on #10045
@himabindu07 Don't have any running Airflow instance nearby, but I have checked to source code and it seems issue indeed has been resolved.

I think issue can be closed now.

[2021-03-06 09:33] turbaszek commented on #10790
From what @yougyoung94 reports it seems to occur still

[2021-03-06 10:06] ephraimbuddy commented on #14635
I recall we had some discussions around it during development(@mik-laj ) to still have the update mask for this endpoint even though only the `is_paused` field is the updatable field for DAG. Same thing is also in Variables PATCH.

One thing we can do is to make the body of the PATCH method for DAG to accept only `is_paused` and also update that of Variables PATCH method to accept only `value`. I

[2021-03-06 10:22] thesuperzapper commented on #14469
@ashb can you look into this, as it will require some change to the Dockerfile (but its quite simple)

[2021-03-06 11:38] YangMuye commented on #14543
@jyotidhiman0610 Sorry, I am not . Pleasworking on ite feel free to take this up.

[2021-03-06 12:24] mik-laj commented on #14303
@kaxil I. I will try to create a documentation package in `docs/helm-chart` so that it is easy to publish that documentation on a website.

[2021-03-06 13:27] HansBambel commented on #14620
Interesting... That did the trick! Thank you!
Then I misunderstood something. I was assuming that when I install and run AirFlow in an environment (in my case an Anaconda environment) then all subprocesses such as DAGs will inherit from that environment as well.

Initially, I was creating BashOperators that pointed exactly to the python from the env such as this:
`/home/Users/anaconda3/env/myEnv/b

[2021-03-06 13:39] mik-laj commented on #14620
It does, but you created a new environment that contains only one environment variable so it was not possible to find the correct environment.

When you run a subprocess and use the env parameter, you must pass the information about all environment variables explicitly. We do not have any additional magic here to provide more flexibility, e.g. some users do not want to pass the credential informat

[2021-03-06 13:39] #14620 closed

[2021-03-06 16:08] mik-laj opened #14644 "Hard-to-find documentation for a Docker image"
Hello,

Currently, documentation for the Docker image is available in the middle of the ["Production Deployment" page](http://airflow.apache.org/docs/apache-airflow/stable/production-deployment.html). This makes it difficult for the user to find this documentation. Also, this section is called "Production deployment", but this image is also used in the development environment. I think we should ex

[2021-03-06 17:06] HansBambel commented on #14620
Ok, so the `env` parameter creates a new environment and does not add environment variables. Got it, thanks!

[2021-03-06 18:20] ashb commented on #14644
Docs for the helm chart feel right as a new "package" (I really like that idea!) but docker image feels more like it is about/for apache-airflow so I favour option a.

My thinking is that if you want to learn how to run Airflow, your going to be looking at the docs of apache-airflow for config reference etc, and to me docker sort of fits in there. I think the other reason why it feels wrong as sep

[2021-03-06 19:57] xinbinhuang commented on #13911
I will work on this @eladkal

[2021-03-06 22:14] mik-laj commented on #14644
Keycloak publish documentation for an image separately from the documentation for a project.
Keycloak documentation index: https://www.keycloak.org/documentation.html
Keycloak server documentation: https://www.keycloak.org/docs/latest/server_installation/index.html

Jupyter has very extensive documentation for the image and publishes it separately.
Documentation index: https://jupyter.org/document

[2021-03-06 23:13] mik-laj commented on #14303
I think it is worth focusing on the following so that users can set up a minimal production environment:
- Images - What images are used by this Helm Chart and what is their purpose? How to set up secrets to be able to pull images?
- Logging - How to configure logging for jobs? A short section to remind the user that by default this doesn't work because we have a distributed environment.
- Databas

[2021-03-06 23:19] mik-laj commented on #14644
Keycloak publishes documentation for an image separately from the documentation for a project.
Keycloak documentation index: https://www.keycloak.org/documentation.html
Keycloak server documentation: https://www.keycloak.org/docs/latest/server_installation/index.html

Jupyter has very extensive documentation for the image and publishes it separately also.
Documentation index: https://jupyter.org/d

[2021-03-06 23:26] mik-laj commented on #10379
Done: https://github.com/apache/airflow/pull/14643

[2021-03-06 23:26] #10379 closed

[2021-03-06 23:31] mik-laj commented on #10486
Now the documentation no longer references the wrong repository. We also have a warning at the beginning of the README.md file that this Chart has not been released.
<img width="1106" alt="Screenshot 2021-03-07 at 00 30 36" src="https://user-images.githubusercontent.com/12058428/110224488-5cd06c00-7edc-11eb-9dd8-8254291e80fb.png">
I don't think we can do anything else but release a Helm Chart, whi

[2021-03-06 23:31] #10486 closed

[2021-03-06 23:44] mik-laj opened #14649 "Drop support for LocalExecutor/SequentialExecutor in Helm Chart?"
Hello,

I wonder if we should support SeqentialExecutor and LocalExecutor in the Helm Chart. Especially using `SequentialExecutor` in Kubernetes doesn't sound like a good idea, and it makes sense to me to drop support for it and focus only on `CeleryExecutor`, `CeleryKubernetesExecutor` and KubernetesExecutor.

This will allow us to reduce the complexity, because we can delete some conditions in t

[2021-03-07 07:28] jyotidhiman0610 commented on #14511
Verified tableau, @potiuk

[2021-03-07 11:05] ashb commented on #8212
Closing this as it seems to be an interaction between botocore and gevent, so not something Airflow can fix.

Happy to re-open this if I've misunderstood!

[2021-03-07 11:31] ashb commented on #14644
Good question, I'll have a look around

[2021-03-07 11:44] XD-DENG commented on #14459
I'm preparing a PR for this issue (rename `is_active` into `is_present` in `dag` table).

I have encountering again the same issue that I met in https://github.com/apache/airflow/pull/14581#discussion_r588459592: migration `2c6edca13270, Resource based permissions` is querying the DB using the column that we intend to rename, and this results in exception.

I'm not sure if any change should be mad

[2021-03-07 12:52] ashb commented on #14459
/cc @jhtimmins who wrote that original migration too

[2021-03-07 13:48] dimon222 commented on #8212
@ashb as mentioned above, the logging is completely broken for s3 when using gevent, I don't think this ticket should be closed. The solution is to ensure monkey patching is happening as early as possible, I believe currently it's very top of `airflow_local_settings.py` as of version 1.10.14 (potentially same for 2.0.1, but I haven't validated)

[2021-03-07 14:10] ashb commented on #8212
Gevent is not something Airflow uses though - and airflow_local_settings is a user controlled file.

[2021-03-07 14:11] imsheth commented on #10435
This doesn't solve the issue with DockerOperator on Mac with airflow 1.10.12

[2021-03-07 14:12] ashb commented on #8212
If we can fix this easilY though we'll gladly accept a PR

[2021-03-07 14:20] soumilshah1995 commented on #8212
https://youtu.be/33Yv19YSYxk
I made a video on how to use it

On Sun, Mar 7, 2021 at 9:12 AM Ash Berlin-Taylor <notifications@github.com>
wrote:

--
Thanking You,
Soumil Nitin Shah

B.E in Electronic
MS Electrical Engineering
MS  Computer Engineering
+1-646 204 5957

[2021-03-07 14:39] dimon222 commented on #8212
Based on my very brief look gevent is currently used just as alternative for webserver request handling (so its true that this entire issue is only about reading s3 logs in webserver component, the rest: scheduler, or airflow workers if there are any - shouldn't anyhow be touched - are working correctly, and this monkeypatching actually can break them instead).
About airflow_local_settings - I thi

[2021-03-07 15:41] XD-DENG commented on #14649
My 2 cents: if we can, I suggest to keep `LocalExecutor`, because it's much more simplified architecture compared with `Celery`. It's possible that people would want such a small setting-up even if on K8S cluster, for demo/testing purposes, or purely needing a small Airflow instance.

Of course I understand keeping `LocalExecutor` AND removing `SequentialExecutor` may not make sense from the compl

[2021-03-07 15:49] mik-laj commented on #14649
@XD-DENG Deleting Sequential Executor support will still facilitate the development of the project because we will not have to test if Airflow together with SequentiialExecutor works.

[2021-03-07 19:24] kaxil commented on #14303
Thanks @mik-laj for https://github.com/apache/airflow/pull/14643

and I agree with your comment too around minimal production environment: https://github.com/apache/airflow/issues/14303#issuecomment-792110944

[2021-03-07 20:04] kaxil commented on #14649
+1 to keep LocalExecutor

[2021-03-07 21:34] #8197 closed

[2021-03-07 23:56] potiuk commented on #14511
Thanks everyone for help ! All but the 4 remaining packages have been released (and I am following up with releasing the remaining 4) It was a valuable learning for us - we are discussing a more "established" process for releasing providers in the future and we will for sure take the learnings from this experiment into account.

[2021-03-07 23:58] potiuk commented on #14512
The backports have been released. https://lists.apache.org/thread.html/r99ba4a5116a5616f56400f97f7751ac8c4ff136fe04818bd9117f386%40%3Cdev.airflow.apache.org%3E /. Closing it

[2021-03-07 23:58] #14512 closed

[2021-03-07 23:58] potiuk commented on #14511
Release announcement here: https://lists.apache.org/list.html?dev@airflow.apache.org

[2021-03-08 00:53] potiuk commented on #14511
@xinbinhuang @flvndh  -> I prepared this one: https://github.com/apache/airflow/pull/14655 to release the 4 providers that were excluded. Once it is merged, I will prepare release candidates and release those 4 providers (+ backports).

[2021-03-08 02:52] potiuk opened #14656 "Save cost for CI infrastructure by having more types of build machines"
After https://github.com/apache/airflow/pull/14531 we are running the CI infrastructiure of ours using `r5a.2xlarge` machines. They are needed for tests (thanks to having 8xCPUs and 64 GB RAM we can run full suite of tests in 15 minutes instead of 1h by running the tests in parallel. Likely (due to ~ 2x less cost of running tests (2x more price/ 4x less time) we are saving money. We also achieve 3

[2021-03-08 03:18] wolvery commented on #9683
Hi @eladkal I believe I have finished a solution to this issue at #14254

[2021-03-08 03:36] xinbinhuang commented on #14511
@potiuk Got it! Thank you so much! Will test the new RC once it's out.

[2021-03-08 09:05] weldpua2008 opened #14658 "MySQL is missing index"
**Apache Airflow version**: 1.10.14

**Environment**:
Mysql 5.7.14
- **Cloud provider or hardware configuration**: on premise
- **OS** (e.g. from /etc/os-release):  Debian 9 (stretch)
- **Kernel** (e.g. `uname -a`):  4.9.0-12-amd64 #1 SMP Debian 4.9.210-1 (2020-01-20) x86_64 GNU/Linux
- **Install tools**:
* apache-airflow                               1.10.14
* apache-airflow-backport-providers-sa

[2021-03-08 09:35] aneagoe opened #14659 "MongoHook fails to parse MongoDB replica set URIs"
**Apache Airflow version**: 1.10.12
**Kubernetes version**: 1.16
**What happened**:

As per https://issues.apache.org/jira/browse/AIRFLOW-5164, when using mongodb replica set URIs (of form mongodb://mongodb0.example.com:27017,mongodb1.example.com:27017,mongodb2.example.com:27017/admin?replicaSet=myRepl) then an error is thrown as airflow tries to cram everything after `:` as port. (ie `ValueError:

[2021-03-08 09:59] damon09273 commented on #14136
@ashb I'm use 2.0.1, but I get a lot of same error too.

[2021-03-08 10:20] ashb commented on #14136
@damon09273 We'll need reproduction steps then please. How/when does this error come up?

[2021-03-08 11:30] marcosmarxm opened #14660 "KeyError template_fields does not exists when get_template_context"
The problem occurs when using a PythonOperator with the TaskInstance and attempt to get the context information.
The code to reproduce the error can be run as a pytest. I raised the question because in Airflow 1.* the same code returned values for template_fields and in Airflow 2. * no. Perhaps it is some structural change that I'm not aware of, especially the change in the behavior of the `.get`

[2021-03-08 12:23] shroffrushabh commented on #13504
<img width="1329" alt="Screenshot 2021-03-08 at 5 52 06 PM" src="https://user-images.githubusercontent.com/2037677/110321046-2a875180-8037-11eb-9e36-cdf73ff23c40.png">

Hey folks, I am still seeing the same issue in airflow 2.0.1. Any idea how I can fix this?

[2021-03-08 12:51] ashb commented on #8212
re `airflow_local_settings` -- that file does not exist in Airflow install, it is a place for site admins to be able to customize settings.

Using gevent is a fairly uncommon scenario (precisely because it's monkey patching makes it hard to work with many other libraries) so we are unlikely to have the time to fix this ourselves.

We will happily review and accept a PR that does this however.

[2021-03-08 12:54] ashb commented on #14644
(Screenshots are of the section of the doc Table of Contents of the projects)

Elastic(search):

https://www.elastic.co/guide/en/elasticsearch/reference/current/install-elasticsearch.html#install-elasticsearch

![image](https://user-images.githubusercontent.com/34150/110322710-745a4280-800b-11eb-8be3-eeb6436243ec.png)

Prisma (v1, v2 has changed the architecture to become just a library so doesn't

[2021-03-08 13:53] ashb commented on #14511
This batch is released now

[2021-03-08 13:53] #14511 closed

[2021-03-08 17:12] #14469 closed

[2021-03-08 18:35] maxcountryman opened #14667 "Cloudwatch parsing fails for log groups containing slashes"
**Apache Airflow version**: 2.0.1

**Environment**:

- **Cloud provider or hardware configuration**: AWS + ECS
- **OS** (e.g. from /etc/os-release): Ubuntu
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

When enabling remote logging via Cloudwatch we have observed that you cannot use log groups with slashes in their name, e.g. "/foo/bar/baz" or a more practi

[2021-03-08 19:31] #14463 closed

[2021-03-08 20:09] dstandish opened #14669 "Fix missing attribute warning in AzureDataFactoryHook"
Providers manager raises these warnings when importing `AzureDataFactoryHook`:

[code]

We should be able to resolve this by adding the appropriate attributes to the hook.

This could be a good first issue.

[2021-03-08 20:10] potiuk opened #14670 "Test status of provider rc2s released 2021-03-08"
* https://pypi.org/project/apache-airflow-providers-apache-beam/1.0.1rc2/
  * [x] @xinbinhuang
* https://pypi.org/project/apache-airflow-providers-apache-druid/1.1.0rc2/
  * [x] @xinbinhuang
* https://pypi.org/project/apache-airflow-providers-microsoft-azure/1.2.0rc2/
   * [x] @flvndh
   * [ ] @heeroyuy925
* https://pypi.org/project/apache-airflow-providers-snowflake/1.1.1rc2/
   * [x] @potiuk

[2021-03-08 20:10] potiuk commented on #14670
Hey @xinbinhuang @flvndh @heeroyuy925  -> kind request if you could test the providers with fixes :).

[2021-03-08 20:13] potiuk commented on #14670
Please comment here if/when you test it please.

[2021-03-08 20:45] fjmacagno opened #14671 "Error when trying to search dag runs by conf"
**Apache Airflow version**: 2.0.1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**: k8s on bare metal
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**: pip
- **Others**:

**What happened**:

<details><summary>
Something bad has happened.
Please consider letting u

[2021-03-08 20:55] eladkal commented on #11334
dark mode will be added as part of [AIP-38 Modern Web Application](https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-38+Modern+Web+Application)

[2021-03-08 21:16] kaxil commented on #13504
@shroffrushabh -- Can you post the steps to reproduce your case

[2021-03-08 21:24] #14331 closed

[2021-03-08 22:22] saurabhladhe opened #14672 "Tasks intermittently get terminated with SIGTERM on K8s executor"
**Apache Airflow version**:2.0.1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):1.18.10

**Environment**:

- **Cloud provider or hardware configuration**:Azure Kubernetes Service
- **OS** (e.g. from /etc/os-release):Debian GNU/Linux 10
- **Kernel** (e.g. `uname -a`):Linux airflow-k8s-scheduler-blabla-xvv5f 5.4.0-1039-azure #41~18.04.1-Ubuntu SMP Mon Jan 18 14:00:01 U

[2021-03-08 22:34] odracci opened #14673 "Some backport provider packages are broken"
**Apache Airflow version**:
v1.10.14

**Kubernetes version**:
v1.18.9

**Environment**:
- EKS

**What happened**:

The following wheel packages are broken. All of them contains the source code of all providers:
[code]

**What you expected to happen**:

The wheel files contain only the code of one provider

**How to reproduce it**:

- Build a docker image using the following `Dockerfile`
[code]

-

[2021-03-08 23:34] zachliu commented on #14205
@antontimenko i think i kinda understand your situation :thinking:

so you're using a large number of DAG runs to communicate with some unreliable external APIs
you spin up 7000 dag runs in order to query the said APIs with different parameters

i have a similar situation. but instead of thousands of dag runs, i have thousands of processes (python multiprocessing)

one thing i don't quite understa

[2021-03-08 23:38] ianlofs commented on #14364
@ashb Ah yeah for sure!

So ideally everyone who created a DAG would know to setup `catchup=True` for DAGs where this is necessary. However this is not always the case in practice when you have many teams utilizing Airflow that you are trying to support. It would be nice to be able to use latency metrics to know when a DAG that should be starting isn't starting (this could be because a previous DA

[2021-03-09 01:03] wolfier opened #14675 "TriggerDagRunOperator OperatorLink doesn't work when HTML base url doesn't match the Airflow base url"
**Apache Airflow version**: 2.0.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): n/a

**What happened**:

When I click on the "Triggered DAG" Operator Link in TriggerDagRunOperator, I am redirected with a relative link.

![Screen Shot 2021-03-08 at 4 28 16 PM](https://user-images.githubusercontent.com/5952735/110399833-61f00100-802b-11eb-9399-146bfcf8627c.png)

The

[2021-03-09 01:11] antontimenko commented on #14205
Of course, I can spend some time creating some kind of logic, that constantly makes requests to Airflow API to get the number of active DAG runs and trigger new ones only when there are less than 16 of them. But this would look like I'm trying to create some kind of my own scheduler on top of Airflow scheduler, just to get around this bug :)

I think that scheduler should process any kind of DAG r

[2021-03-09 01:12] xinbinhuang commented on #14670
@potiuk LGTM! for both Druid and beam

[2021-03-09 01:21] zachliu commented on #14205
fair enough, i can see this is almost like a deal breaker for you :crying_cat_face:

[2021-03-09 04:06] damon09273 commented on #14136
@ashb It happens in the staging environment, but didn't in the local environment, I use same Image.
![image](https://user-images.githubusercontent.com/17487840/110416934-8d2c2c00-80cf-11eb-8c33-9d911adbf1fe.png)

[2021-03-09 07:19] BoneArch commented on #14572
If external_trigger is set to False, Airflow will return next_ds and prev_ds correctly even in 2.0.
https://github.com/apache/airflow/blob/beb8af5ac6c438c29e2c186145115fb1334a3735/airflow/operators/subdag.py#L150-L156

Running the test code in 2.0 returns the following result when external_trigger is set to False:
[code]

It seems that SubDagOperator was rewritten with https://github.com/apache/ai

[2021-03-09 10:28] flvndh opened #14677 "Wrong signatures in AzureDataFactoryHook"
The following input parameter types should be adapted in `AzureDataFactoryHook` ([source](https://github.com/apache/airflow/blob/e97d501a0bcfc7e808171fec8c44bb7a4292a9f9/airflow/providers/microsoft/azure/hooks/azure_data_factory.py)):
|current|target|
|-|-|
|Dataset|DatasetResource|
|LinkedService|LinkedServiceResource|
|Trigger|TriggerResource|

## Example
The following signature should be change

[2021-03-09 10:33] flvndh commented on #14670
@potiuk Azure Data Factory tested successfully. I just need to adapt some argument types in method signatures (#14677) but it doesn't hinder usability.

[2021-03-09 12:11] kaxil commented on #14491
closed by https://github.com/apache/airflow/pull/14646

[2021-03-09 14:02] thedrex commented on #14327
@bbovenzi - I'm experiencing this issue in 2.0.1 as well, so I've attached a sample DAG that will reproduce and generate the tracebacks copy/pasted above in this thread.

To reproduce: run a DAG with an operator task that passes resource requests to the KubernetesExecutor.
ie: `executor_config={"KubernetesExecutor": {"request_memory": "200Mi", "limit_memory":  "500Mi"}}`
the graph view for the DAG

[2021-03-09 14:44] nvembar opened #14682 "The S3ToGCSOperator fails on templated `dest_gcs` URL"
**Apache Airflow version**:

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**: Docker

**What happened**:

When passing a templatized `dest_gcs` argument to the `S3ToGCSOperator` operator, the DAG fails to import b

[2021-03-09 15:12] bochkarevnv opened #14683 "PostgreSQL connection does not use option target_session_attrs"
**Apache Airflow version**: 1.10.14

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): -

**Environment**:

- **Cloud provider or hardware configuration**: Intel i5-8250U 16GB RAM
- **OS** (e.g. from /etc/os-release): Debian GNU/Linux 9 (stretch)
- **Kernel** (e.g. `uname -a`): Linux 635b29b988b2 4.19.128-microsoft-standard #1 SMP Tue Jun 23 12:58:10 UTC 2020 x86_64 GNU

[2021-03-09 16:07] zachliu commented on #14205
@antontimenko we've been talking here without touching the most important point :joy_cat:  is there a quick fix when this issue occurs?
* restarting the scheduler probably won't do anything right?
* clearing the `up_for_retry` tasks and wait for scheduler to deadlock itself again (and keep doing this until the # of `up_for_retry` tasks is less than `max_active_runs_per_dag`)

[2021-03-09 16:10] antontimenko commented on #14205
@zachliu Currently the fix is to clear `up_for_retry` tasks or run them manually from UI when this occurs. Restarting scheduler doesn't help, yes

[2021-03-09 17:43] kaxil commented on #14311
closed by https://github.com/apache/airflow/pull/14680

[2021-03-09 17:43] #14311 closed

[2021-03-09 17:46] #14491 closed

[2021-03-09 18:15] fuyi commented on #8881
Hi @himabindu07 Do you mean you have verified on 2.0.0-1 image and the issue is fixed in this version?

[2021-03-09 19:01] himabindu07 commented on #8881
I verified using 2.0.0-1 image not able to reproduceble and its working fine.

[2021-03-09 20:06] kaxil commented on #13023
closed by https://github.com/apache/airflow/pull/14090

[2021-03-09 20:50] potiuk commented on #14673
Indeed. Seems that we have quite a few providers (only .whl packages) broken in similar way. It looks like the ssh one was not the only broken one for the 2020.10.29 release.

I will double check that and re-release the providers that are still affected/yank the others.

[2021-03-09 21:06] dkinzer opened #14687 "`airflow config list` command fails with google_auth configuration"
**Apache Airflow version**:

1.10.14

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
Official docker image (apache/airflow:1.10.14)

- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:
After following all the requirements as spec

[2021-03-09 21:12] ashb commented on #9351
Yes to this! And I'm starting to work on it now. I'm going to close this issue for #12982 which has a concrete plan.

[2021-03-09 21:12] #9351 closed

[2021-03-09 21:19] turbaszek commented on #14597
I agree which @mik-laj that top level query is bad idea.

As you said getting connections already can be done by using custom macro. So I'm in favour of implementing standard interface.

What I can suggest is to bring this issue to dev list so we may discuss potential security issues. Having a proof of concept would be nice as it may speed up understanding how many changes we need.

[2021-03-09 21:50] potiuk commented on #14644
I think many people are asking for docker image and have hard time finding it separate section (option b) is fine). However ☺️ think there is one caveat with the current airflow/providers/split which it will only reinforce.

Once you are in airflow documentation, it is not easily to realize that there are more components (providers and image when it is separated out. Most people will not go to the

[2021-03-09 22:11] jedcunningham commented on #13006
`in_cluster` isn't a kwarg for `SparkKubernetesOperator` or `SparkKubernetesOperator`. Putting `extra__kubernetes__in_cluster` in the connection extras is the right way way currently.

That said, `KubernetesPodOperator` does support `in_cluster` making operators in this same provider inconsistent. Makes me wonder if KPO should also use the connection like the hook does? Or, at the very least have

[2021-03-10 02:00] RNHTTR commented on #14163
`BulkStateFetcher`'s `get_many` method expects (i think) an iterable of `AsyncResult`s. So, I think the map is necessary.

[code]

This bit creates a map object that gets the 0th element of each tuple in `celery_tasks.values()` I _think_ all we need to do is cast the map object to a list:

[code]

I'm gonna dig a bit deeper to confirm & hopefully submit a PR tomorrow.

[2021-03-10 05:38] RNHTTR commented on #14163
I think it _probably_ would be sufficient to just cast the map object to a list like above, but I'm not sure how that would affect the performance of `_get_many_from_kv_backend` or `_get_many_from_db_backend` which are called in lieu of `_get_many_using_multiprocessing` if app.backend is an instance of DatabaseBackend or BaseKeyValueStoreBackend, respectively (see [get_many](https://github.com/apa

[2021-03-10 07:19] gitzhuyongfu opened #14693 "dags not run on my time"
the airflow client timezone is default_timezone = Asia/Shanghai and airflow.cfg set default_timezone = Asia/Shanghai
the dags:
from airflow import DAG
from airflow.operators.python import PythonOperator
from datetime import datetime, timedelta
from airflow.utils.dates import days_ago
from loguru import logger
from datetime import datetime

default_args = {
    'owner': 'airflow',
    'depends_on_p

[2021-03-10 08:05] danarwix commented on #14136
Hi,
Just got the same error while performing the astronomer certification.

steps to reproduce:

1. install the astronomer [cli ](https://www.astronomer.io/docs/cloud/stable/develop/cli-quickstart)
2. open a terminal
3. run: `mkdir <your directory name>`
4. run: `astro dev init`
5. open the `Dockerfile` and replace its content with ```bash FROM quay.io/astronomer/ap-airflow:2.0.0-2-buster-onbuild`

[2021-03-10 11:38] saimon46 commented on #14252
I have the same problem with Airflow 2.0.1. I made an update from version 1.10.14 and the clear function is not working anymore. Can we try to fix this issue? I think it's a quite important function.

[2021-03-10 11:52] ashb commented on #14136
@danarwix Could you try with `2.0.0-3-buster-onbuild` please? -- that has the fix backported from 2.0.1 for this issue.

[2021-03-10 12:26] danarwix commented on #14136
@ashb that most certainly did the trick 😺

[2021-03-10 12:33] ashb commented on #14136
Marking this as fixed then!

[2021-03-10 12:33] #14136 closed

[2021-03-10 13:06] leonsmith opened #14696 "Decouple default_queue from celery config section"
**Description**

We are using a 3rd party executor which has the ability to use multiple queues, however the `default_queue` is defined under the `celery` heading and is used regardless of the executor that you are using.

See: https://github.com/apache/airflow/blob/2.0.1/airflow/models/baseoperator.py#L366

It would be nice to decouple the default_queue configuration argument away from the celery

[2021-03-10 13:52] mik-laj commented on #14644
I would like to add a few comments. I am working on more docker-composer example files so that users can test more easily.
See: https://github.com/apache/airflow/issues/8605#issuecomment-759469443
When we create a new package of documentation for all things related to Docker, it will be easier to put it together.

Another thing that I am still missing is the description of how to use `DockerOperat

[2021-03-10 14:56] jedcunningham commented on #14326
I've been able to replicate and will pick this up.

[2021-03-10 14:57] kaxil commented on #14326
Thanks @jedcunningham -- assigned to you

[2021-03-10 19:46] subkanthi commented on #9321
is someone working on this, this seems to be a requirement for the flink operator, love to contribute to AIP.
@potiuk , @mik-laj

[2021-03-10 19:58] cmarteepants commented on #8766
@kaxil If nobody is taking this, would love to take this on!

[2021-03-10 20:05] jedcunningham commented on #14672
@saurabhladhe, can you try to grab the events for one of the "sigterm before it finished" pods and see if it was evicted?

[2021-03-10 20:27] kaxil commented on #8766
Assigned this to you @cmarteepants  :) thanks

[2021-03-10 22:02] jedcunningham commented on #11841
kubernetes-client/python#1304 originally lead to us pinning to 11, so it'd need to be handled (either fixed or worked around) before we can support 12.

[2021-03-10 22:18] jedcunningham commented on #12760
@sstevens303 are you still having issues mounting secrets or can this be closed?

[2021-03-10 22:44] #11929 closed

[2021-03-10 23:32] jedcunningham commented on #14693
With a start_date of `2021-03-10`, you won't see a scheduled run until `2021-03-11 15:13`. The reasoning is explained in more depth in the [DAG Runs](https://airflow.apache.org/docs/apache-airflow/stable/dag-run.html) docs, but the short version is the first scheduled run starts shortly after start_date + schedule_interval.

[2021-03-11 03:01] super017 opened #14713 "how to run a DAG in distrbuted airflow"
The version of airflow I deployed is 1.10.14.A master and three workers.I want to complete several Workers to complete a DAG.
my code :
from datetime import timedelta,datetime
from airflow import DAG
from airflow.operators.python_operator import PythonOperator
from airflow.utils.dates import days_ago
from airflow.operators.bash_operator import BashOperator
import time
import math

default_args = {

[2021-03-11 04:58] Wittline commented on #8177
Hi,

Was this bug fixed in Airflow version 2?

[2021-03-11 06:15] rbakhtaraev opened #14714 "Problem with custom plugins when using git-sync container"
**Apache Airflow version**: 1.10.14/2.0.0 (it isnt important)

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.20.1

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**: helm with using chart from this repo
- **Others**: celery executor with 1 worker

**What happe

[2021-03-11 08:13] eladkal commented on #13133
Please use stackoverflow / slack for questions.

[2021-03-11 08:13] #13133 closed

[2021-03-11 09:01] atrbgithub commented on #13808
@ephraimbuddy @dimberman @eejbyfeldt

We're seeing an issue similar to this, but in our case we never have two schedulers running.

We see this after moving to 2.0.1, we have a dag which has a subdag, both tasks are launched using the k8s executor. The task in the subdag does nothing but sleep for an hour or so. When the task is running, and we kill the scheduler pod, everything is fine, when the

[2021-03-11 09:41] YiiTing commented on #13761
doc_md is not working in Ver. 2.0.1

[2021-03-11 10:37] jakubgs opened #14717 "Authlib not installed in Docker image"
# Description

I'm trying to use `AUTH_TYPE = AUTH_OAUTH` with GitHub, but when I start the `webserver` I see the following error:
[code]
This is resolved if I do:
[code]
But this really should be included in the image.

# Versions

I'm running the official Docker image from: https://hub.docker.com/r/apache/airflow
I'm running is `sha256:2bf4fe559e9e699487a50d4e587358bb0b3c90b59c8fefeccc8a4fb2e83f

[2021-03-11 11:15] ashb commented on #14656
Rough steps we will need to do to have two "pools" of runners:

1. Get ASF infra to adjust the labels on the existing runners we have configured. Currently they just have `self-hosted` label -- we should ask them to set all 100 to additionally have a `large` label or something

1. Update https://github.com/apache/airflow-ci-infra/blob/master/scripts/runner-supervisor.py to pull credentials from a

[2021-03-11 11:30] eladkal commented on #11931
It is being used:
https://github.com/apache/airflow/blob/9070ba280253e918c2582f52c2b77a07c311198f/airflow/operators/weekday.py#L27
https://github.com/apache/airflow/blob/9070ba280253e918c2582f52c2b77a07c311198f/airflow/operators/datetime_branch.py#L27

[2021-03-11 11:30] #11931 closed

[2021-03-11 12:19] kaxil commented on #13761
cc @Dr-Denzy Can you test it and see if you can reproduce it with 2.0.1 please?

[2021-03-11 12:22] Dr-Denzy commented on #13761
I will take a look at it.

[2021-03-11 12:38] ashb commented on #14717
authlib is an optional dependency -- so you will have to install this yourself.

See https://airflow.apache.org/docs/apache-airflow/stable/production-deployment.html?highlight=docker%20image#extending-the-image  for more info.

A quick example:

[code]

[2021-03-11 12:38] #14717 closed

[2021-03-11 13:23] mik-laj commented on #14714
@rbakhtaraev You can add an init container that will fetch the repository initially.

[2021-03-11 13:24] mik-laj commented on #14713
Github Issues is not intended to provide support. Please inquire on the "troubleshooting" channel on the Slack workspace of this project.

[2021-03-11 13:24] #14713 closed

[2021-03-11 13:30] jackmokcx opened #14721 "Security control for operators, such as amazon operators"
**Description**

**Use case / motivation**

**Are you willing to submit a PR?**

**Related Issues**

[2021-03-11 13:55] sstevens303 commented on #12760
This can be closed

________________________________
From: Jed Cunningham ***@***.***>
Sent: Wednesday, March 10, 2021 5:18 PM
To: apache/airflow ***@***.***>
Cc: Sharon Stevens ***@***.***>; Mention ***@***.***>
Subject: [External Origin] Re: [apache/airflow] KubernetesPodOperator can't mount sercret as volume (#12760)

@sstevens303<https://github.com/sstevens303> are you still having issues moun

[2021-03-11 14:22] JieChenAtPonyai commented on #12089
I met a similar issue. After investigation, I find the root cause is the the worker pod does not update the status of task to RUNNING due to this dependence [RunnableExecDateDep](https://github.com/apache/airflow/blob/master/airflow/ti_deps/deps/runnable_exec_date_dep.py) is not met. So this task is stuck in queued state.
I think enabling [allow_trigger_in_future])https://github.com/apache/airflow

[2021-03-11 15:16] scaoupgrade commented on #8212
We are using celery worker for airflow and s3 logging is broken. it seems to be celery's gevent patching that has caused the issue: https://github.com/celery/celery/blob/6eb5b718843d69e31bb2c90e3efa2e2aa39f5f94/celery/__init__.py#L114

[2021-03-11 15:24] alannesta commented on #8212
We are using celery worker for airflow(v1.10.12) and s3 logging is broken. it seems to be celery's gevent patching that has caused the issue: https://github.com/celery/celery/blob/6eb5b718843d69e31bb2c90e3efa2e2aa39f5f94/celery/__init__.py#L114

The import of celery executor from airflow views.py:
https://github.com/apache/airflow/blob/1.10.14/airflow/www_rbac/views.py#L975

[2021-03-11 15:27] mik-laj commented on #14721
can you write a little more about it?

[2021-03-11 15:30] mik-laj commented on #14683
Are you willing to submit a PR?

[2021-03-11 16:18] bbovenzi opened #14726 "Add precommit linting and testing to the new /ui"
**Description**

We just initialized the new UI for AIP-38 under `/airflow/ui`. To continue development, it would be best to add a pre-commit hook to run the linting and testing commands for the new project.

**Use case / motivation**

The new UI already has linting and testing setup with `yarn lint` and `yarn test`. We just need a pre-commit hook for them.

**Are you willing to submit a PR?**

Ye

[2021-03-11 17:30] trowdan opened #14727 "Task in task group queued in loop due to long label name [K8s executor]"
**Apache Airflow version**: 2.0.0

**Kubernetes version** : 1.19.2

**Environment**:

- **Cloud provider** : Openshift

**What happened**:

Once a task in a task group is queued the scheduler throws exeptions like the following one:
_Note: <dag_name>, <task_group_1>, <task_group_2>, <task_id> are **placeholders**_
[code]

**What you expected to happen**:
Tasks in task group are scheduled as expect

[2021-03-11 17:33] jedcunningham commented on #14693
@gitzhuyongfu, did you get a run at `2021-03-11 15:13`?

[2021-03-11 17:51] pl77 commented on #14266
For those who might be looking for a simple way to implement these suggestions, I tried solutions from both @omarish and @karakanb and they both worked fine.  Easiest way to try them was create a blank text file named, as an example, `Dockerfile-karaknb` and inside place the commands:

[code]

Then, in the same directory you saved that file, run:

[code]

If you save with the same tag as the exist

[2021-03-11 17:59] jedcunningham commented on #8105
@briansorahan, you can now use variables directly from the filesystem with a [local filesystem secrets backend](https://airflow.apache.org/docs/apache-airflow/stable/security/secrets/secrets-backend/local-filesystem-secrets-backend.html). Would that be an acceptable alternative (or what @mik-laj proposed)?

[2021-03-11 18:09] Dr-Denzy commented on #13761
I could not reproduce this issue in both Airflow 1.10.14 and 2.0.1. In both cases the doc was displayed as expected in the UI.
@dre2004 are you still having this issue? If yes, I will need more details.

[2021-03-11 19:05] mik-laj opened #14728 "Synchronization of DAG files from object storages (GCS/S3) for Helm Chart"
Hello,

A lot of production Apache Airflow environments deployed on a cloud platform - AWS, Google uses object storage for storing DAG files. This is due to the popularity of Cloud Composer or Amazon Managed Workflows for Apache Airflow (MWAA)  services that have adopted this deployment model. For some users, these services didn't their expectations  (e.g. due to a version shift) and are planning

[2021-03-11 22:42] JavierLopezT opened #14733 "Contributors quick start for Mac"
There is this great guide for Ubuntu https://github.com/apache/airflow/blob/master/CONTRIBUTORS_QUICK_START.rst

I have tried to follow it in Mac with several errors, and after some research on Google for solving them, I have not been able to make Breeze work on my mac.

Would we nice to have the adapted version for Mac

@VBhojawala

[2021-03-11 22:48] potiuk commented on #14733
It would be great if you could document problems you have on your Mac. This would be tremendously helpful what you have been struggling with.

[2021-03-12 00:42] kaxil commented on #13006
As long as it is consistent I am happy with either approach.

[2021-03-12 00:59] kaxil commented on #13469
Fixed by https://github.com/apache/airflow/pull/13470

[2021-03-12 00:59] #13469 closed

[2021-03-12 01:32] YiiTing commented on #13761
Here is test code and i could not display in the “Graph View” and “Task Details” pages

[code]

[2021-03-12 01:49] gitzhuyongfu commented on #14693
thanks，i have solved it ,With a start_date of 2021-03-10 ,the dags will run on 2021-03-11,then i know that it not like running on the linux cron.

[2021-03-12 06:26] everglory99 commented on #10313
Is this feature available in Airflow 2.0? I add a sidecar container (`fluent-bit`) in `pod_template_file` used in `KubernetesPodOperator`. However, the POD is always in running mode even the `base` container is finished successfully. I think this is because the sidecar container is still running. Is there a way to fix this issue? Thanks!

[2021-03-12 07:06] rbakhtaraev commented on #14714
It's requires a support of chart locally (e.g. custom deployment.yaml), but that isn't convenient.

Can we add it into chart? I'm ready to send PR with edits.

How i see that:
We have an init-container with shared dir, which fetch a repo, after that shared dir passing into airflow and git-sync container and update continuously

[2021-03-12 07:19] mik-laj commented on #14714
Yes. It will be helpful. Happy to help with review.

[2021-03-12 07:42] XD-DENG commented on #14459
Gentle ping @jhtimmins

[2021-03-12 08:39] lewis-anderson53 commented on #13750
I struggled with this a while ago, I ended up creating a custom sensor specifically using the BigQuery hook that allows me to specify the parameters, very similar to the code that @omarismail94 shared.

The "easy" option would be to change the default value of the [BigQueryHook](https://github.com/apache/airflow/blob/d2c2a2285c176ef232452e72a28e355667b8b50b/airflow/providers/google/cloud/hooks/big

[2021-03-12 09:05] nikitarulz commented on #13542
This is happening with Celery executor as well.
I'm using Airflow 2.0.0 with Celery executor and mysql, facing similar issue.
Sorry for the basic question but I'm unable to figure-out the manual way to find all tasks in "queued" state and clearing them.
Can somebody help here.

[2021-03-12 09:48] esingtse commented on #10954
Remove chinese string in code, it can solve the problem

[2021-03-12 10:24] barmanand commented on #12499
I am also getting the same issue. Anyone can please help here, what needs to be provided in redirect URI

[2021-03-12 10:25] ashb commented on #10954
We should and must support non-ASCII characters, anything else is a bug.

[2021-03-12 11:28] ashb commented on #10954
Problem is non-utf8 DB, which is not supported. I have updated the docs to make this clearer.

[2021-03-12 11:37] #10954 closed

[2021-03-12 14:09] larsjeh opened #14744 "Task Instances in the "shutdown" state prevent the scheduler from scheduling new tasks"
**Apache Airflow version**: 2.0.1
**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
**Environment**:

- **Cloud provider or hardware configuration**: AWS ECS
- **OS** (e.g. from /etc/os-release): Debian GNU/Linux 9 (stretch)
- **Kernel** (e.g. `uname -a`):  Linux 4d41276694bd 4.14.62-65.117.amzn1.x86_64 #1 SMP Fri Aug 10 20:03:52 UTC 2018 x86_64 GNU/Linux
- **Install to

[2021-03-12 14:12] jonathonbattista commented on #13542
This is probably not helpful because you are on 2.x but our solution was to set [AIRFLOW__SCHEDULER__RUN_DURATION](https://airflow.apache.org/docs/apache-airflow/1.10.14/configurations-ref.html#run-duration) which will restart the scheduler every x hours.

You could probably achieve something similar tho.

[2021-03-12 15:08] jedcunningham commented on #14556
I've been able to replicate this and will pick it up. This also happens with a single scheduler.

[2021-03-12 15:09] #14693 closed

[2021-03-12 15:33] Dr-Denzy commented on #13761
@YiiTing @dre2004 There are two ways to make your dag's `doc_md` display in UI. It follows Python's Docstring works. See this StackOverflow link: [https://stackoverflow.com/questions/33066383/print-doc-in-python-3-script/33066458#33066458](https://stackoverflow.com/questions/33066383/print-doc-in-python-3-script/33066458#33066458).

[2021-03-12 15:35] kaxil commented on #13761
Specifically `__doc__` shows the docstring of the Python Module

[2021-03-12 15:35] #13761 closed

[2021-03-12 15:36] Dr-Denzy commented on #13761
Style 1:
`
"""
## My Awesome DAG Name

#### Purpose

This DAG does awesome stuff!

#### Outputs

This cool data `pipeline` has the following outputs:

- `output_1`
- `output_2`

#### Owner/Maintainer

You can reach the maintainer on this email:
[maintainer@my-startup-example.io](mailto:maintainer@my-startup-example.io).
"""

from airflow import DAG
from airflow.operators.bash import BashOperator
f

[2021-03-12 15:37] Dr-Denzy commented on #13761
`"""
## My Awesome DAG Name

#### Purpose

This DAG does awesome stuff!

#### Outputs

This cool data `pipeline` has the following outputs:

- `output_1`
- `output_2`

#### Owner/Maintainer

You can reach the maintainer on this email:
[maintainer@my-startup-example.io](mailto:maintainer@my-startup-example.io).
"""

from airflow import DAG
# from airflow.operators.bash_operator import BashOperator

[2021-03-12 15:38] Dr-Denzy commented on #13761
"""
## My Awesome DAG Name

#### Purpose

This DAG does awesome stuff!

#### Outputs

This cool data `pipeline` has the following outputs:

- `output_1`
- `output_2`

#### Owner/Maintainer

You can reach the maintainer on this email:
[maintainer@my-startup-example.io](mailto:maintainer@my-startup-example.io).
"""

from airflow import DAG
from airflow.operators.bash import BashOperator
from airflow

[2021-03-12 15:40] Dr-Denzy commented on #13761
from airflow import DAG
from airflow.operators.bash import BashOperator
from airflow.utils.dates import days_ago
default_args = {
    'owner': 'airflow',
    'start_date': days_ago(2)
}
dag_docs = """
## My Awesome DAG Name
#### Purpose
This DAG does awesome stuff!
#### Outputs
This cool data `pipeline` has the following outputs:
- `output_1`
- `output_2`
#### Owner/Maintainer
You can reach the ma

[2021-03-12 15:48] kaxil commented on #13672
I wasn't able to reproduce this, please try it with 2.0.1 -- We only backport critical fixes to 1.10.x now

[2021-03-12 15:48] #13672 closed

[2021-03-12 19:01] saurabhladhe commented on #14672
@jedcunningham :
I checked multiple instances and not seeing any evicted pods for the ones that got sigterm
`16m         Normal    Scheduled                      pod/xyzypod.somestr        Successfully assigned <namesapce>/xyz.a205feb0f53c40abab3dddc46939ce38 to aks-<namesapce>
16m         Normal    Pulled                         pod/xyzypod.somestr        Container image "airflow:2.0.1" already p

[2021-03-12 19:11] jedcunningham commented on #14727
This was fixed in 2.0.1 with #13299. That said, there is another bug related to long task_id/dag_id which will be fixed in #14703 (it is slated for 2.0.2).

[2021-03-12 19:16] #14727 closed

[2021-03-12 19:47] jhtimmins commented on #14459
Thanks for the ping @XD-DENG.

I think that `is_present` is too ambiguous (present in what? why would this change?). `in_last_dagbag_load` may be overly verbose, but I'd lean towards that or something similar to minimize the context needed to understand the variable.

Regarding the filtering on "all active and paused DAGs" -- Looks like that logic was added in the original dag-specific permissions

[2021-03-12 19:55] saurabhladhe commented on #14672
Got the same for a successful task as well:
events:
17m         Normal    Scheduled                      pod/xyztaskinstance.somestr         Successfully assigned <namespace>/xyztask.somestr
17m         Normal    Pulled                         pod/xyztaskinstance.somestr         Container image "airflow:2.0.1" already present on machine
17m         Normal    Created                        pod/xyzt

[2021-03-12 19:55] XD-DENG commented on #14459
Thanks @jhtimmins .

Putting the naming or condition check questions aside, possibly what we may need more inputs from you is the migration script `2c6edca13270, Resource based permissions`.

We don't have to make the change proposed in this Issue. But earlier or later, people may need to make some changes to the `dag` table (e.g. renaming a column like what I'm doing here), then they will face th

[2021-03-12 19:58] XD-DENG commented on #14459
Regarding why we would like to rename `is_active` into something else like `is_present`, please refer to our discussions above in this Issue. Feel free to propose if you have any idea. Cheers.

[2021-03-12 21:01] marcosmarxm commented on #14733
@JavierLopezT take a look at #14231

[2021-03-12 21:54] #14669 closed

[2021-03-12 21:59] kaxil commented on #14683
The Airflow 1.10.x series will be supported for six months (June 17, 2021) from Airflow 2.0.0 release date (Dec 17, 2020). Specifically, only 'critical fixes' defined as fixes to bugs that takedown Production systems, will be backported to 1.10.x until June 17, 2021.

Let us know if you can reproduce it on Airflow >= 2.0.1

[2021-03-12 22:03] kaxil commented on #14459
Yup that is correct, if we rename or remove the DagModel it will break the migrations. Historically we have created a Dummy Class instead of importing one from Airflow to avoid such situation, example:

https://github.com/apache/airflow/blob/4372d456154a6922e0c0547a487af3cdadb43b4a/airflow/migrations/versions/8646922c8a04_change_default_pool_slots_to_1.py#L48-L72

[2021-03-12 22:56] saurabhladhe commented on #14672
Found an old post similar to this (https://stackoverflow.com/questions/54313601/airflow-signals-sigterm-to-subprocesses-unexpectedly/63175235#63175235), will try changing killed_task_cleanup_time config param to see if it helps

[2021-03-13 07:32] thekiai opened #14750 "Better description about Getopt and gstat when runnin Breeze"
**Description**
For me, the section of Getopt and gstat in this document doesn't have enough description to run Breeze.
https://github.com/apache/airflow/blob/master/BREEZE.rst#getopt-and-gstat

Actual
After executing the following commands quoted from https://github.com/apache/airflow/blob/master/BREEZE.rst#getopt-and-gstat, I cannot know that the commads enabled the PATH properly.
[code]

Exepec

[2021-03-13 08:16] thekiai opened #14752 "Less confusable description about Cleaning the environment for new comers"
**Description**
I think the section of Cleaning the environment in this document is confusable for new comers.
https://github.com/apache/airflow/blob/master/BREEZE.rst#cleaning-the-environment

Actual
Suddenly, `./breeze stop` appears in the document. It's not necessary for those who first run breeze.

Exepected
It's better to write the condition like below.
Stop Breeze with `./breeze stop.` (If B

[2021-03-13 08:50] thekiai opened #14754 "Breeze fails to run on macOS with the old version of bash"
**Apache Airflow version**:
master/HEAD (commit 99c74968180ab7bc6d7152ec4233440b62a07969)

**Environment**:

- **Cloud provider or hardware configuration**: MacBook Air (13-inch, Early 2015)
- **OS** (e.g. from /etc/os-release): macOS Big Sur version 11.2.2
- **Install tools**: git
- **Others**:  GNU bash, version 3.2.57(1)-release (x86_64-apple-darwin20)
Copyright (C) 2007 Free Software Foundatio

[2021-03-13 13:00] potiuk opened #14755 "[QUARANTINE] Backfill depends on past test is flaky"
Test backfill_depends_on_past is flaky. The whole Backfill class was in Heisentest but I believe this is the only one that is problematic now so I remove the class from heisentests and move the depends_on_past to quarantine.

**Apache Airflow version**:

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:

[2021-03-13 15:21] ShawnMcGough opened #14758 "Example DAG for New Azure Data Factory Hooks"
**Description**
Add an example DAG to the [example_dags ](https://github.com/apache/airflow/tree/master/airflow/providers/microsoft/azure/example_dags) directory of the azure providers.

**Use case / motivation**
The [Data Factory hooks](https://github.com/apache/airflow/blob/99c74968180ab7bc6d7152ec4233440b62a07969/airflow/providers/microsoft/azure/hooks/azure_data_factory.py) are new with [apach

[2021-03-13 15:33] turbaszek commented on #14758
Maybe @gmcrocetti or @flvndh can help?

[2021-03-13 16:41] #14670 closed

[2021-03-13 16:41] potiuk commented on #14670
Providers and backport providers have been released.

[2021-03-13 17:01] potiuk commented on #14670
Thanks @xinbinhuang and @flvndh for help with testing ! Much appreciated!

[2021-03-13 17:25] flvndh commented on #14758
I'll see if I can make up one in the coming days 😉

[2021-03-13 17:43] ephraimbuddy commented on #14758
@flvndh, I have assigned you to this ticket. 👍

[2021-03-13 23:22] mik-laj opened #14764 "Navigation between multiple documentation packages"
Hello,

We have many packages with documentation, but the navigation between these packages is not very intuitive. Some people find documentation on Google and they don't know that they should try to check the documentation for a different package as it may contain related information. I think you have to think about what we can do to make users more aware and easier to find the documentation.

I

[2021-03-13 23:40] potiuk commented on #14764
+1

[2021-03-14 00:38] ShawnMcGough commented on #14758
I was able to cobble together an example below. What I struggled with was setting up the default connection. I wasn't able to find an `Azure Data Factory` connection type in the drop down.
![image](https://user-images.githubusercontent.com/64036/111053565-cac3e880-8432-11eb-9aa4-3f8e41c61efc.png)

I wasn't sure of the connection format, but found the following through viewing source code and trial

[2021-03-14 01:32] mik-laj commented on #14683
Done via: https://github.com/apache/airflow/commit/a4dc11fae63d56bc6cbb029525113948862fd45d

[2021-03-14 01:32] #14683 closed

[2021-03-14 08:54] eladkal commented on #11929
@tomasfarias Thanks for your contribution :+1:

[2021-03-14 09:00] eladkal commented on #10007
@mik-laj You mention you wanted to close this issue but it's still open. Do we have a task here?

[2021-03-14 09:19] eladkal commented on #14275
@JoostKooijman what version of boto3 are you running? Could it be that you running version older than 1.15.0?

[2021-03-14 09:45] zippoobbiz opened #14768 "Fail when running the example_dag"
**Apache Airflow version**:

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know**:

[2021-03-14 10:20] #10007 closed

[2021-03-14 11:37] DarcyNing opened #14769 "airflow users create ....."
/usr/local/lib/python3.6/site-packages/flask_sqlalchemy/__init__.py:813: UserWarning: Neither SQLALCHEMY_DATABASE_URI nor SQLALCHEMY_BINDS is set. Defaulting SQLALCHEMY_DATABASE_URI to "sqlite:///:memory:".
  'Neither SQLALCHEMY_DATABASE_URI nor SQLALCHEMY_BINDS is set. '
[2021-03-15 03:33:55,440] {manager.py:96} ERROR - DB Creation and initialization failed: Invalid argument(s) 'pool_size','max_o

[2021-03-14 11:46] shivanshs9 opened #14770 "[Smart sensor] Runtime error: dictionary changed size during iteration"
**What happened**:

Smart Sensor TI crashes with a Runtime error. Here's the logs:
[code]

**What you expected to happen**:

Smart sensor should always execute without any runtime error.

**How to reproduce it**:
I haven't been able to reproduce it consistently since it sometimes works and sometimes errors.

**Anything else we need to know**:
It's a really noisy error in Sentry. In just 4 days, 3.

[2021-03-14 11:49] potiuk opened #14771 "[QUARANTINE] Test_retry_still_in_executor sometimes fail"
Occasional failures:

https://github.com/apache/airflow/pull/14531/checks?check_run_id=2106170532#step:6:10454

[code]

**Apache Airflow version**:

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

[2021-03-14 11:51] potiuk opened #14772 "[QUARANTINE] Occasional failures from test_scheduler_verify_pool_full_2_slots_per_task"
The test occasionally fails with:

DAG 'test_scheduler_verify_pool_full_2_slots_per_task' not found in serialized_dag table

https://github.com/apache/airflow/pull/14531/checks?check_run_id=2106170551#step:6:10314

[code]

**Apache Airflow version**:

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- *

[2021-03-14 11:55] potiuk opened #14773 "[QUARANTINE] The test_verify_integrity_if_dag_changed occasionally fails"
https://github.com/apache/airflow/pull/14531/checks?check_run_id=2106170690#step:6:10298

Looks like it is connected with #14772

[code]

**Apache Airflow version**:

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools*

[2021-03-14 14:39] potiuk opened #14778 "[QUARANTINED] The test_scheduler_verify_pool_full occasionally fails"
Probably same root cause as in #14773 and #14772 but there is another test that fails occassionally:

https://github.com/apache/airflow/runs/2106723579?check_suite_focus=true#step:6:10811

[code]

**Apache Airflow version**:

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-r

[2021-03-14 15:08] tomasfarias commented on #11929
@eladkal thanks to you for the patience, great feedback, and all the work in Airflow!

[2021-03-14 17:22] potiuk opened #14782 "The scale-in settings are sligthly too aggressive I think"
Hey @ashb -  following your request of observing the self-hosted behavior.

I believe the current scale-in settings are slightly too aggressive - especially when the traffic is low (weekends).

I pushed a number of builds here (and @turbaszek as well):

https://github.com/apache/airflow/actions/workflows/build-images-workflow-run.yml

And quite a number a lot of them failed without logs indicating

[2021-03-14 17:26] ashb commented on #14782
Failed without logs isn't scale-in triggered, but the "lost communication" is.

I'll dig in to logs on Monday and see if I can see what went on

[2021-03-14 19:58] lewis-anderson53 commented on #10549
I'm looking to make my first contribution to the project, I've just been looking at how this is rendered and I've got a pretty good idea how we could implement this.

If the `airflow.cfg` file contains something like `circles_dynamic`, we could fetch the value when rendering the circles HTML template [here](https://github.com/apache/airflow/blob/4cde47b339d5ab5e4ebccfb22962ccbfc4c5457e/airflow/www

[2021-03-14 21:54] Goodkat commented on #14613
As I understand, we just need to extend the **add_only_new** function with one more input parameter **dag** and then add the third argument to the warning message there: self.log.warning('Dependency %s, %s already registered', self, item).
All changes are in the **baseoperator.py** file.

[2021-03-14 23:23] briansorahan commented on #8105
@jedcunningham I think I ended up doing what @mik-laj suggested

[2021-03-14 23:23] #8105 closed

[2021-03-15 01:21] #14649 closed

[2021-03-15 02:25] mik-laj commented on #14687
Fixed by: https://github.com/apache/airflow/pull/12816

The Airflow 1.10.x series will be supported for six months (June 17, 2021) from Airflow 2.0.0 release date (Dec 17, 2020). Specifically, only 'critical fixes' defined as fixes to bugs that takedown Production systems, will be backported to 1.10.x until June 17, 2021.

This bug does not fit into tthis bug category, so i need to close this issu

[2021-03-15 02:25] #14687 closed

[2021-03-15 02:28] #14750 closed

[2021-03-15 08:26] shihabcsedu09 opened #14791 "DAG is stuck in running state although Kubernetes Pod is terminated and completed for longer running tasks in AKS"
**Apache Airflow version**:  2.0.1

**Kubernetes version** : 1.19.7

**Environment**:

- **Cloud provider or hardware configuration**: Azure Kubernetes Service(AKS)
- **OS** (e.g. from /etc/os-release): Debian GNU/Linux 10 (buster)
- **Kernel** (e.g. `uname -a`): Linux airflow-scheduler-db9fd5df6-6475f 5.4.0-1040-azure #42~18.04.1-Ubuntu SMP Mon Feb 8 19:05:32 UTC 2021 x86_64 GNU/Linux

**What hap

[2021-03-15 09:32] oursy opened #14796 "Apple M1 Docker-compose up airflow-init produces airflow command error"
**Apache Airflow version**: 2.0.1

**Environment**:

- **OS** (e.g. from /etc/os-release): macOS 11.2.2  M1
- **Kernel** (e.g. `uname -a`): Darwin Darwin Kernel Version 20.3.0
- **Install tools**: docker-compose

**What happened**:

Following the steps in the Quick start > Running Airflow in Docker page (https://airflow.apache.org/docs/apache-airflow/stable/start/docker.html#initializing-environme

[2021-03-15 09:33] atrbgithub commented on #13808
@ephraimbuddy @dimberman @eejbyfeldt @kaxil

We have created a PR for this which seems to resolve it for us:
https://github.com/apache/airflow/pull/14795

Would it be possible to review this? I'm not sure if it will resolve it for this particular issue, but certainly when a single scheduler is used, and that pod is terminated over and over again, without this fix the tasks are not correctly adopte

[2021-03-15 09:37] JoostKooijman commented on #14275
@eladkal that's correct, I'm running 1.7.3

[2021-03-15 09:48] eladkal commented on #14275
Tag support was added in later version
https://boto3.amazonaws.com/v1/documentation/api/1.16.0/reference/services/batch.html#Batch.Client.submit_job

[2021-03-15 09:58] #14754 closed

[2021-03-15 11:22] mik-laj commented on #14796
This command should only be run on Linux.

[2021-03-15 12:23] potiuk commented on #14796
Airflow has no support for M1 - this M1 is an ARM device and we do not support ARM in docker images. There are some anecdotal evidences of people who were able to install Airflow on M1 device but it is neither tested nor supported.

If you would like to use Airflow with M1. I suggest to open a feature request for that.

[2021-03-15 12:23] #14796 closed

[2021-03-15 14:16] ryanahamilton opened #14797 "Initialize/configure API connection"

[2021-03-15 14:17] ryanahamilton opened #14798 "Configuration API authentication (basic auth)"

[2021-03-15 14:18] bbovenzi commented on #14797
I'll take this one.

Included will be:
- environment variables
- adding `react-query` for async data/state

[2021-03-15 14:19] bbovenzi commented on #14798
I got this.

Parts included:
- log in screen and log out button
- authentication provider and routing

[2021-03-15 14:20] ryanahamilton opened #14799 "Build out initial global layout wrapper components"

[2021-03-15 14:27] ryanahamilton opened #14802 "Add routing + scaffolding of views"

[2021-03-15 14:47] ryanahamilton opened #14803 "Add API Query Sort and Order Params"

[2021-03-15 14:48] ryanahamilton opened #14804 "Add Single User Readonly Endpoint"

[2021-03-15 14:53] ryanahamilton opened #14805 "Current user permission validation"

[2021-03-15 14:56] mdcsaenz commented on #13573
Ill give this a shot. Thank you.

[2021-03-15 15:00] ryanahamilton opened #14806 "Configure App Timezone provider and display utilities"

[2021-03-15 15:07] bbovenzi commented on #14803
A lot of our data will be displayed in some sort of list or table view. A necessary part of that will be the ability to sort and order the lists by various fields.

ToDo: List out all the endpoints that will need these params here.

[2021-03-15 15:14] ryanahamilton opened #14807 "Design/build timezone switcher modal"
- Once we have the current user's preference set and available in Context, add a modal that allows the preferred display timezone to be changed.
- Modal will be triggered by clicking the time/TZ in the global navigation.

[2021-03-15 15:34] bparhy commented on #14590
I just see in my scheduler logs. Please let me know if this helps. The task just immediately fails and there is no logs. The pod just goes to ERROR state.

[2021-03-15 15:24:05,573] {kubernetes_executor.py:853} INFO - Deleted pod: ('test_dmart_bi_case_dly', 'proc_start', datetime.datetime(2021, 3, 3, 19, 47, 58, 415513, tzinfo=tzlocal()), 1) in namespace XXX
[2021-03-15 15:24:23,584] {scheduler_jo

[2021-03-15 15:41] eladkal commented on #13945
@turbaszek @digitalsimboja this is solved by https://github.com/apache/airflow/pull/14400 correct?

[2021-03-15 15:57] eladkal commented on #12748
code coverage suppose to show the code lines that are missing test coverage isn’t it?
for example https://codecov.io/gh/apache/airflow/tree/master/airflow/providers/amazon/aws/hooks
I can see that s3.py has 31.68%
but when I click on the file I can’t see what lines don’t have coverage. I get GitHub API: Forbidden

[2021-03-15 16:11] danarwix commented on #14434
Hey,
tried to reproduce the issue and saw that no tests are failing.

what i did was the following:
1. ran the breeze env
2. ran `pytest tests/providers/amazon/aws/` and saw that the tests are not failing
3. stoped the breeze env
4. changed `moto<2` to `moto` at the `setup.py` at the root folder
5. ran the environment again
6. ran `pytest tests/providers/amazon/aws/` and saw that the tests are not

[2021-03-15 16:20] bbovenzi commented on #14806
I can handle this one.

Included:
- dropdown in the global nav to select a new timezone
- timezone info is stored in a context provider that can expose the timezone to any child component
- some utility function to know when to and when not to translate a datetime

[2021-03-15 16:22] ashb commented on #14744
How long were these tasks in the shutdown state? They should have automatically progressed to failed reasonable quickly.

[2021-03-15 16:22] bbovenzi commented on #14799
Included:
- nav bars
- dark/light mode toggle

[2021-03-15 16:24] bbovenzi commented on #14802
Expand routing of the app to frame out the planned Information Architecture (IA) of the app with placeholder views.

[2021-03-15 16:26] alittlesliceoftom commented on #14259
Note, I tried this fix and it **didn't work**. The best thread I have found is this one:

https://github.com/apache/airflow/pull/7428#issuecomment-704994507

[2021-03-15 16:27] bbovenzi commented on #14805
On login the API should return the currently logged in user with its details and permissions.
The user should be stored in the auth context provider.
Then, any component in the app can pre-validate views and actions for a user before sending requests to the API and receiving an unauthorized error.

[2021-03-15 16:43] kaxil commented on #14434
@danarwix

Run `pip install -U moto` in your breeze env and run tests again

[2021-03-15 16:46] digitalsimboja commented on #13945
Yes,

That is correct.

Regards

On Mon, Mar 15, 2021, 4:42 PM eladkal ***@***.***> wrote:

[2021-03-15 16:48] #13945 closed

[2021-03-15 16:53] Visya commented on #14733
I have a problem on my Mac.
In my case mysql container created by Breeze constantly restarts.

[code]

I can run `breeze restart` and `breeze start-airflow`, but I can't connect to mysql or run tests.

[code]

[2021-03-15 17:19] edg956 opened #14809 "DockerOperator downloads all image tags in the docker repository"
**Apache Airflow version**:
Containerized airflow version 2.0.1

**Environment**:
Running on WSL2 the following distro:
[code]

**What happened**:

After trying to find a way to make my task download docker images, I found this issue #13905 and applied what I saw there to declare a task using a DockerOperator with the following parameters:
[code]
And then ran the DAG that executed that task. After

[2021-03-15 17:40] mariana-s-fernandes commented on #9975
Same issue here (version 1.10.12)

[2021-03-15 17:40] ashaw27 commented on #10026
I'm having this issue in 2.0.1.  Is there a workaround?  My timesensor failed at a seemingly random time, twice, resulting in 4 failures.  I only had 3 retries set, so the DAG failed.

`[2021-03-15 02:47:28,089] {time_sensor.py:38} INFO - Checking if the time (03:30:00) has come
[2021-03-15 02:48:28,149] {time_sensor.py:38} INFO - Checking if the time (03:30:00) has come
[2021-03-15 02:49:28,209]

[2021-03-15 19:39] SamWheating opened #14811 "Latest SQLAlchemy (1.4) Incompatible with latest sqlalchemy_utils"
**Apache Airflow version**: 2.0.1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): N/A

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): Mac OS Big Sur
- **Kernel** (e.g. `uname -a`):
- **Install tools**: pip 20.1.1
- **Others**:

**What happened**:

Our CI environment broke due to the release of SQLAlchemy 1.4, w

[2021-03-15 19:59] potiuk commented on #14811
Yeah. Might make sense. I will make a PR

[2021-03-15 20:28] #14811 closed

[2021-03-15 20:53] lsowen commented on #13853
I think the issue was is `1.10.x`, dagrun_timeout was essentially "how long as this DAG been executing".  In `2.0.x` it is now "how long has it been since the _scheduled_ start time".

I think the old behavior makes more sense, as it:
1. Enforces a maximum DAG duration (intended effect)
2. While still allowing a DAG to be re-executed

[2021-03-15 20:54] lsowen commented on #13853
it looks like https://github.com/apache/airflow/pull/14455 is meant to address this.

[2021-03-15 21:03] rbankston opened #14813 "Forked processes aren't logged by tasks using the Python Operator"
**Apache Airflow version**: 2.0.0

**Environment**:

- **Cloud provider or hardware configuration**:  2Ghz Quad Core i5
- **OS** (e.g. from /etc/os-release): macOS Big Sur 11.2.3
- **Kernel** (e.g. `uname -a`): 20.3.0 Darwin Kernel Version
- **Container OS**: Debian 10.8 4.19.121-linuxkit
- **Install tools**: Docker compose

**What happened**: When having the Python operator run a subprocess the f

[2021-03-15 21:16] #14556 closed

[2021-03-15 22:07] #13211 closed

[2021-03-16 00:48] DerekHeldtWerle commented on #10290
Running into this as well @liorhar, did you end up doing anything to resolve it outside of changing the order?

[2021-03-16 01:17] oz-r commented on #13853
I agree with this (was about going to make the same point).

[2021-03-16 02:36] ConstantinoSchillebeeckx opened #14818 "ImportError: cannot import name '_ColumnEntity' from 'sqlalchemy.orm.query'"
**Apache Airflow version**: 2.0.1

**What happened**:

I'm seeing the following when running migrations in Airflow using [SQLAlchmey 1.4.0](https://pypi.org/project/sqlalchemy/1.4.0/):
[code]

Downgrading to [1.3.23](https://pypi.org/project/sqlalchemy/1.3.23/) resolves this issue.

**How to reproduce it**:

[code]

[2021-03-16 07:38] stijndehaes commented on #14818
I am running into a similar issue with airflo 1.10.14.

[code]
Downgrading also fixes the problem

[2021-03-16 07:50] uplsh580 commented on #14249
I am going through the same issue.
In my case
* executor = CeleryExecutor
* sql_alchemy_conn = mysql (version 8)
* result_backend = mysql (version 8)
* broker_url = redis

[2021-03-16 09:08] doowhtron commented on #13692
It still happens after I upgrade Airflow to 2.0.1

Maybe it is caused by the situation that a single task is scheduled more than once? I have four schedulers running on four hosts and two of them scheduled the same dag nearly the same time? Maybe a bug happened?

![企业微信截图_16158847265650](https://user-images.githubusercontent.com/4937178/111281723-3945b800-8678-11eb-96c2-2bb0a8c039dd.png)

[2021-03-16 09:14] doowhtron commented on #13692
Is it possible to have a mechanism prevent a task from scheduling twice?

[2021-03-16 10:25] eladkal commented on #14818
Duplicate of https://github.com/apache/airflow/issues/14811

[2021-03-16 10:25] #14818 closed

[2021-03-16 10:46] jakubgs opened #14829 "Removing a user and repeat OAuth login causes ERR_TOO_MANY_REDIRECTS"
**Apache Airflow version**:

`2.0.1` but with a hack to make GitHub role based oauth work by installing `flask-appbuilder==3.2.0` to get better OAuth.

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS**: Ubuntu 20.04.2
- **Kernel**: `5.4.0-66-generic x86_64`
- **Install tools**:
- **Others**:

**What happened**:

After removing via web UI a user created by my OAuth integrat

[2021-03-16 10:53] jakubgs commented on #14829
After clearing cookies I can see that the first attempt does work, but then it goes into the redirect loop:
[code]

[2021-03-16 10:56] jakubgs commented on #14829
The difference with a user that can log in without a redirec loop is that after logging in the `/home` path doesn't return `302`:
[code]

[2021-03-16 10:58] ashb opened #14830 "Add Create/Update/Delete API endpoints for Roles"
To be able to fully manage the permissions in the UI we will need to be able to modify the roles and the permissions they have.

It probably makes sense to have one PR that adds CUD (Read is already done) endpoints for Roles.

Permissions are not createable via anything but code, so we only need these endpoints for Roles, but not Permissions.

[2021-03-16 11:01] jakubgs commented on #14829
Oh, I think it happens because the user exists, but it was given the `Public` role that has no permissions:
https://github.com/apache/airflow/blob/b40beb3036b8221053fdb7ab537a45afccf0bd8e/airflow/www/views.py#L453-L458
So it's logged in, but when it hits `/home` it lacks `ACTION_CAN_READ` and `RESOURCE_WEBSITE`, so it gets redirected to `/login`, but it's already logged in, so gets redirected back

[2021-03-16 11:04] esc opened #14831 "Command airflow scheduler -p fails unexpectedly"
**Apache Airflow version**: apache-airflow==1.10.14

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): None

**Environment**:

- **Cloud provider or hardware configuration**: x86
- **OS** (e.g. from /etc/os-release): Ubuntu 16.04.4 LTS
- **Kernel** (e.g. `uname -a`): Linux numba-linux64-gpu 4.4.0-87-generic #110-Ubuntu SMP Tue Jul 18 12:55:35 UTC 2017 x86_64 x86_64 x86_

[2021-03-16 11:05] jakubgs commented on #14829
Indeed, after adding `RESOURCE_WEBSITE`("can read on Website") to the `Public` role the redirect loop stops, instead I just get a lot of `Access is Denied`.

After adding the `ACTION_CAN_READ`("can read on DAGs") permission to the `Public` role the user can see the home page.

[2021-03-16 12:15] jakubgs commented on #14829
Also, I identified why my user was getting the `Public` role. It's because I was using a custom `Dockerfile` to apply 3 fixes:
[code]
But using multiple `pip install` commands causes it to undo the installation of ``, so I've changed it to:
[code]

[2021-03-16 14:00] MatteoMart1994 commented on #12207
@kirancodify did you manage to solve. Was it actually a configuration issue?

[2021-03-16 14:27] PavelProkhorov commented on #14803
Could you please add sort and order for start_date or execution_date in https://airflow.apache.org/api/v1/dags/{dag_id}/dagRuns?
I need it for receive latest runs for dag.

[2021-03-16 15:05] eflemist opened #14834 "FileNotFoundError: [Errno 2] No such file or directory: 'airflow'"
airflow 1.10.7
ubuntu

am new to airflow and am trying to run 1st DAG thru scheduler but am seeing the flowing error:

[2021-03-16 10:32:23,969] {scheduler_job.py:960} INFO - Figuring out tasks to run in Pool(name=default_pool) with 128 open slots and 1 task instances ready to be queued
[2021-03-16 10:32:23,970] {scheduler_job.py:988} INFO - DAG lesson1.demo1 has 0/16 running and queued tasks
[202

[2021-03-16 15:10] eladkal commented on #9145
@kishvanchee  due to passed time I'm unassigning you.
This issue is available for anyone who wants to pick it

[2021-03-16 15:37] esc commented on #11451
I had the same issue and this fixed it for me:

https://github.com/uqfoundation/dill/issues/383#issuecomment-684979223

[code]

[2021-03-16 15:45] tanuj241088 opened #14835 "Airflow throws error on db upgrade after migrating from v1.10.14 to v2.0.1"
Hi, I have recently migrated from v1.0.14 to v2.0.1
The installation was all fine but on running cmd - " airflow db upgrade". I am getting the below error:

Python - v3.6.9
Using postgresql db
sql_alchemy_conn = postgresql+psycopg2://<user>:<pass>@<host>/<db>

_[2021-03-16 08:44:55,260] {db.py:674} INFO - Creating tables
INFO  [alembic.runtime.migration] Context impl PostgresqlImpl.
INFO  [alembic

[2021-03-16 15:56] Dr-Denzy commented on #13972
I will work on this.

[2021-03-16 16:04] tanuj241088 commented on #14835
Airflow 2.0.1 comes with SQLAlchemy 1.4.0
Downgrading SQLAlchemy to v1.3.23 solved the issue.

Closing the issue!

[2021-03-16 16:04] #14835 closed

[2021-03-16 17:37] Jake-Gillberg opened #14838 "local_executor failes when password contains `&` in SQL_ALCHEMY_CONN_CMD"
**Apache Airflow version / Environment**:
apache/airflow:2.0.1-python3.8

**What happened**:

This is a dev testing password, so I don't mind that it is leaked in the error message here:

`ERROR - Failed to execute task Cannot execute bash -cl 'echo postgresql+psycopg2://airflow:hAY&Bv+w*,q24+JN@airflow_db/airflow'. Error code is: 127. Output: postgresql+psycopg2://airflow:hAY , Stderr: bash: Bv+w

[2021-03-16 18:40] potiuk commented on #14733
You can use `./breeze stop` to remove all containers and restart it. I just added a fix to cleanly remove all volumes always - https://github.com/apache/airflow/pull/14825 (I hope to merge it later today) but in your case it should work already. before.

[2021-03-16 18:43] potiuk commented on #14733
`./breeze stop` - is your friedn in such cases (it happens when some of the containers get some internal problem. Also there is a nice "Troubleshooting" chapter that you can follow in BREEZE.rst - and there are  a number of steps you can follow to "clean up" your docker engine. Usually the problem with Docker on Mac are coming from not enough memory/space allocated (see BREEZE.rst for intstruction

[2021-03-16 18:48] wonja opened #14839 "Enabling Datadog to tag metrics results in AttributeError"
**Apache Airflow version**: 2.0.1
**Python version**: 3.8
**Cloud provider or hardware configuration**: AWS

**What happened**:
In order to add tags to [Airflow metrics,](https://airflow.apache.org/docs/apache-airflow/stable/logging-monitoring/metrics.html), it's required to set `AIRFLOW__METRICS__STATSD_DATADOG_ENABLED` to `True` and add tags in the `AIRFLOW__METRICS__STATSD_DATADOG_TAGS` variabl

[2021-03-16 22:04] ferruzzi commented on #8544
I've started putting down the boilerplate code, I think this is how I am going to tackle this.  I'm not sure how formal you folks like it yet, but please let me know what you think of the plan.

### Goals

Add a collection of Apache Airflow Operators which interact with Amazon Elastic Kubernetes Service (EKS) and abstract all Amazon logic from the Airflow user.  This will allow Airflow to be a gen

[2021-03-16 22:06] zschumacher opened #14841 "Incorrect Sentry Option Indicated in Docs"
**Apache Airflow version**:
2.0.1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
N/A

**Environment**:
N/A

**What happened**:
The docs here https://airflow.apache.org/docs/apache-airflow/stable/logging-monitoring/errors.html indicate that `sentry_on=True` is the config, however the correct config option is `sentry_on=true`

**What you expected to happen**:

**How t

[2021-03-16 23:06] #14726 closed

[2021-03-16 23:22] AdamLuckey commented on #9722
We are also running into this. Though we don't see remediation after restarting the scheduler or worker.

[2021-03-17 01:49] txr150430 commented on #13142
Did we get a fix for this issue? I'm still facing it while trying to disable authentication in airflow webserver.

[2021-03-17 03:20] LamaAni commented on #13142
Please see the above. Its in the new release 2.0.1 and up.

[2021-03-17 06:15] #14644 closed

[2021-03-17 09:01] larsjeh commented on #14744
Thanks for your response @ashb! For some reason, the tasks remain in the shutdown state and are not failing automatically.

We have a setup with AWS ECS containers where we redeploy the containers after dependency changes etc. Smaller changes are synced over EFS.

I have a feeling that the tasks end up in the shutdown state after/during a new deployment. It appears that the worker, that is current

[2021-03-17 09:39] ecerulm opened #14845 "Dockerfile fails to build with default set of extras"
**Apache Airflow version**: master

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:
Trying to build the docker image for 2.0.1 with default extras:
[code]

fails with
[code]

**W

[2021-03-17 10:11] ecerulm commented on #14845
I think the `google` extra is the one causing the issue. I took the default AIRFLOW_EXTRAS (`"async,amazon,celery,cncf.kubernetes,docker,dask,elasticsearch,ftp,grpc,hashicorp,http,ldap,google,microsoft.azure,mysql,postgres,redis,sendgrid,sftp,slack,ssh,statsd,virtualenv"`) and removed `google` from it :

[code]

and this builds

[2021-03-17 10:29] ephraimbuddy commented on #14804
In progress https://github.com/apache/airflow/pull/14735

[2021-03-17 11:03] ecerulm commented on #14845
After conversation with @potiuk, the problem is that it will take the constraints from master, you need to make sure that it takes the constraints for 2.0.1 (with `AIRFLOW_CONSTRAINTS_REFERENCE` ) so that the right versions of the provider packages are installed:

[code]

[2021-03-17 11:03] #14845 closed

[2021-03-17 11:54] ecerulm opened #14848 "It should be necessary to specify --build-arg AIRFLOW_CONSTRAINTS_REFERENCE="constraints-${AIRFLOW_VERSION}" \"
**Description**

By default AIRFLOW_CONSTRAINTS_REFERENCE is `constraints-master` and that will make the `docker build` fail if you are building for `--build-arg AIRFLOW_VERSION="${AIRFLOW_VERSION}"`

I suggest that that AIRFLOW_CONSTRAINT_REFERENCE default value is computed by default as `constraints-${AIRFLOW_VERSION}`  instead of `constraints-master`.

**Use case / motivation**

I want avoid ha

[2021-03-17 12:41] vineethguna opened #14850 "Airflow workers causing 100% CPU on PostgreSQL Database"
### Issue Description

While running 100 parallel tasks using airflow workers with PostgreSQL as metadata database, the CPU on PostgreSQL is hitting 100% consistently even though the database is provisioned for 16 cores.

Due to the above bottleneck on PostgreSQL the time taken to execute the tasks is increasing proportionally to the number of parallel tasks getting executed

If airflow workers on

[2021-03-17 12:50] #14850 closed

[2021-03-17 12:50] vineethguna opened #14851 "Airflow workers causing 100% CPU on PostgreSQL Database"
**Airflow Setup Used**
Airflow Version: 1.10.12
PostgreSQL version: 10
Executor: Celery Executor
Broker: Redis
Result Backend: Redis
Worker Concurrency: 25
Number of workers: 4
Airflow Configuration:
AIRFLOW__CELERY__WORKER_CONCURRENCY: 25
AIRFLOW__CORE__PARALLELISM: 100
AIRFLOW__CORE__DAG_CONCURRENCY: 100
AIRFLOW__CORE__MAX_ACTIVE_RUNS_PER_DAG: 100
AIRFLOW__CELERY__SYNC_PARALLELISM: 5

**Kubernet

[2021-03-17 13:15] madden1706 opened #14852 "helm chart does not create a defaultUser for the UI"
**Apache Airflow version**: 2.0.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.20

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**: minikube v1.18.1

**What happened**:
No user is created for the web UI when installing the helm chart with a l

[2021-03-17 13:33] MatteoMart1994 commented on #12207
For anyone still struggling with this issue on Cloud Composer environment version >= 1.15.0.
Since, from this version on, DAG serialization is enabled by default, you need  to disable it by setting `core-store_serialized_dags` and `core-store_dag_code` to `False`.

https://cloud.google.com/composer/docs/dag-serialization#disable

[2021-03-17 13:41] ashb commented on #14744
Ah, I wonder if the "correct" fix is then instead to look for zombie task in RUNNING or SHUTDOWN state, where as currently it only looks at them in the RUNNING state

https://github.com/apache/airflow/blob/2a2adb3f94cc165014d746102e12f9620f271391/airflow/utils/dag_processing.py#L1077-L1089

[2021-03-17 14:57] eejbyfeldt commented on #13808
We have also seen these problems with this issue running a single scheduler since reporting this. So it is possible that we wrongly assumed it was related to running two schedulers since that made it more prominent for us.

I have had a look at the PR and I agree that the usage of `external_executor_id` inside `try_adopt_task_instances` while updating `queued_by_job_id` outside seems problematic.

[2021-03-17 15:29] madden1706 commented on #14261
I am getting this issue on minikube:

[2021-03-17 14:54:07,522] {kubernetes_executor.py:263} DEBUG - KubeJobWatcher alive, continuing
[2021-03-17 14:54:07,523] {dag_processing.py:383} DEBUG - Received message of type DagParsingStat
[2021-03-17 14:54:07,523] {dag_processing.py:383} DEBUG - Received message of type DagParsingStat
[2021-03-17 14:54:07,534] {scheduler_job.py:1390} DEBUG - Next timed e

[2021-03-17 15:50] itroulli commented on #12413
I'm willing to dive into this as my first attempt to contribute if there is still interest. I'll probably need some help to start though. I think it's a bit more tricky than the Connection description as the Variables are mostly handled as a key-value pair.

[2021-03-17 15:51] pavel-lexyr opened #14854 "Backfill/execution_date from UI"
**Description**

A way to manipulate `execution_date`, or triggering backfills/catchups from the Web GUI is proposed.

**Use case / motivation**

Web UI and the CLI interface have separate privileges and responsibilities. CLI is mostly geared towards maintenance of the Airflow system itself - while the Web GUI is intended for users using Airflow to manage tasks. Backfill is aligned with the second

[2021-03-17 16:01] jagusztinl opened #14855 "/2.0.1/docker-compose.yaml not working"
Documentation:
https://airflow.apache.org/docs/apache-airflow/stable/start/docker.html:

"To deploy Airflow on Docker Compose, you should fetch docker-compose.yaml.
curl -LfO 'https://airflow.apache.org/docs/apache-airflow/2.0.1/docker-compose.yaml'"

Run: docker-compose up airflow-init
ERROR: The Compose file './docker-compose.yaml' is invalid because:
Invalid top-level property "x-airflow-common

[2021-03-17 16:19] ConstantinoSchillebeeckx commented on #14591
@vemikhaylov it sure does solve the problem!

[2021-03-17 16:19] #14591 closed

[2021-03-17 17:03] mik-laj commented on #14855
Please update docker-compose.

[2021-03-17 17:03] #14855 closed

[2021-03-17 17:26] jagusztinl commented on #14855
Thanks, working!

Another error :-(

Creating airflow_postgres_1 ... done
Creating airflow_redis_1    ... done
Creating airflow_airflow-init_1 ... done
Attaching to airflow_airflow-init_1
airflow-init_1       | BACKEND=postgresql+psycopg2
airflow-init_1       | DB_HOST=postgres
airflow-init_1       | DB_PORT=5432
airflow-init_1       |
airflow-init_1       | Traceback (most recent call last):
airf

[2021-03-17 17:29] jagusztinl opened #14856 "ModuleNotFoundError: No module named 'airflow' when docker-compose up airflow-init"
[root@localhost Airflow]# ./docker-compose-Linux-x86_64  up airflow-init
Creating network "airflow_default" with the default driver
Creating airflow_postgres_1 ... done
Creating airflow_redis_1    ... done
Creating airflow_airflow-init_1 ... done
Attaching to airflow_airflow-init_1
airflow-init_1       | BACKEND=postgresql+psycopg2
airflow-init_1       | DB_HOST=postgres
airflow-init_1       | DB_

[2021-03-17 17:31] mik-laj commented on #14856
https://github.com/apache/airflow/issues/14616

[2021-03-17 17:31] #14856 closed

[2021-03-17 17:39] ericpp opened #14857 "MySQL hook uses wrong autocommit calls for mysql-connector-python"
**Apache Airflow version**: 2.0.1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): n/a

**Environment**:

* **Cloud provider or hardware configuration**:  WSL2/Docker running `apache/airflow:2.0.1-python3.7` image
* **OS** (e.g. from /etc/os-release): Host: Ubuntu 20.04 LTS, Docker Image: Debian GNU/Linux 10 (buster)
* **Kernel** (e.g. `uname -a`): 5.4.72-microsoft-st

[2021-03-17 17:43] davidshao opened #14858 "upgrade_check exits with 1 on success (when using with '-i' command line option)"
**Apache Airflow version**:
1.10.14

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
n/a

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
[code]
- **Kernel** (e.g. `uname -a`):
- `Linux iebdev22 3.10.0-1160.11.1.el7.x86_64 #1 SMP Fri Dec 18 16:34:56 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux`
- **Install tools**:
-

[2021-03-17 18:40] jagusztinl commented on #14520
Please explain in detail how the yaml file should look like please

[2021-03-17 18:45] anthonyp97 opened #14859 "Smart Sensors - Inconsistent Logging"
**Apache Airflow version**: 2.0.1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): N/A

**Environment**:

- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): Ubuntu 18.04.2 LTS
- **Kernel** (e.g. `uname -a`): GNU/Linux 4.15.0-1043-aws x86_64
- **Others**: `LocalExecutor` with a `PARALLELISM` of 32, smart sensors enabled using 2 sh

[2021-03-17 19:03] jagusztinl commented on #14855
Bitnami created a working version, stabe version unusable:

version: '2'

services:
  postgresql:
    image: 'docker.io/bitnami/postgresql:10'
    volumes:
      - 'postgresql_data:/bitnami/postgresql'
    environment:
      - POSTGRESQL_DATABASE=bitnami_airflow
      - POSTGRESQL_USERNAME=bn_airflow
      - POSTGRESQL_PASSWORD=bitnami1
      - ALLOW_EMPTY_PASSWORD=yes
  redis:
    image: docker.i

[2021-03-17 19:04] jagusztinl commented on #14856
Bitnami created a working verison, stable verison is unusable:
version: '2'

services:
  postgresql:
    image: 'docker.io/bitnami/postgresql:10'
    volumes:
      - 'postgresql_data:/bitnami/postgresql'
    environment:
      - POSTGRESQL_DATABASE=bitnami_airflow
      - POSTGRESQL_USERNAME=bn_airflow
      - POSTGRESQL_PASSWORD=bitnami1
      - ALLOW_EMPTY_PASSWORD=yes
  redis:
    image: docke

[2021-03-17 19:33] eladkal commented on #14857
You can know which is used by using `client_name`:
https://github.com/apache/airflow/blob/2a2adb3f94cc165014d746102e12f9620f271391/airflow/providers/mysql/hooks/mysql.py#L140

https://github.com/apache/airflow/blob/2a2adb3f94cc165014d746102e12f9620f271391/airflow/providers/mysql/hooks/mysql.py#L142

https://github.com/apache/airflow/blob/2a2adb3f94cc165014d746102e12f9620f271391/airflow/providers/m

[2021-03-17 19:37] rob2244 commented on #13755
Having the same issue

[2021-03-17 19:42] ericpp commented on #14857
@eladkal I did try that, but `conn` seems to point to a mysql-connector-python instance rather than the Airflow Connection model

[2021-03-17 22:25] wolfier opened #14864 "Using TaskGroup without context manager (Graph view visual bug)"
**Apache Airflow version**: 2.0.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): n/a

**What happened**:
When I do not use the context manager for the task group and instead call the add function to add the tasks, those tasks show up on the Graph view.
![Screen Shot 2021-03-17 at 2 06 17 PM](https://user-images.githubusercontent.com/5952735/111544849-5939b200-8732-1

[2021-03-17 23:03] txr150430 commented on #13142
Thanks @LamaAni! Upgrading to the latest release worked.

[2021-03-18 00:57] potiuk commented on #14673
New packages released. All packages with 2020.10.29 should be yanked now (i.e. skipped by pip, only installed if specifically requested by `==2020.10.20`.

[2021-03-18 00:57] #14673 closed

[2021-03-18 00:58] potiuk commented on #14673
Thanks @odracci for the report - I would love if you verify if all works on your side with the latest versions of the pckages.

[2021-03-18 07:14] vineethguna commented on #14851
@mik-laj Thanks for the suggestion, will try PGBouncer and get back with the observations

[2021-03-18 10:21] sodafountain opened #14871 "Parquet format doesn't seem to work for Google Cloud transfers (postgres to gcs)"
**Apache Airflow version**: 2.0.1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.18.14 (but doesn't matter, the same error happens when I run using docker-compose on my local machine as well)

**Environment**:

- **Cloud provider or hardware configuration**: Azure
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others

[2021-03-18 10:35] ururu-fy commented on #10790
I am using airflow 2.0.1 and have the same error too.
ERROR - Executor reports task instance <TaskInstance: logConverterDag.logConverterDagspark_job 2021-03-16 22:05:00+00:00 [queued]> finished (failed) although the task says its queued. (Info: Celery command failed on host: hadoop*) Was the task killed externally?

[2021-03-18 10:38] #13295 closed

[2021-03-18 10:54] patsevanton opened #14872 "Can not change webserver.defaultUser.password when install by helm"
**Apache Airflow version**:
latest helm chart from master branch

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
1.18

**What happened**:
[code]
**Login as admin:admin**

**What you expected to happen**:
i think login as admin:new_password

Can not change webserver.defaultUser.password when install by helm

[2021-03-18 11:20] harshit283 opened #14874 "Airflow Web Server - Performance Issues with Password Based Authentication"
Airflow Setup Used
Airflow Version: 1.10.12
PostgreSQL version: 10

Airflow Configuration:
AIRFLOW__WEBSERVER__WORKER_REFRESH_BATCH_SIZE: 0
AIRFLOW__WEBSERVER__WORKERS:10
AIRFLOW__CORE__STORE_SERIALIZED_DAGS: True
AIRFLOW__CORE__STORE_DAG_CODE: True
AIRFLOW__WEBSERVER__WORKER_CLASS: gevent

Kubernetes version (if you are using kubernetes) (use kubectl version): 1.18.14

Environment:

Cloud provide

[2021-03-18 11:22] madden1706 commented on #14852
May have been a local issue I was having with minikube. I deleted and re-created the minikube cluster and this is now worked ok. Will close.

[2021-03-18 11:22] #14852 closed

[2021-03-18 12:05] kaxil commented on #14874
Hi @harshit283 , the old UI is deprecated and removed in Airflow 2 and we won't be porting any fixing to that UI.

Please consider using RBAC UI (https://airflow.apache.org/blog/airflow-1.10.12/#use-airflow-rbac-ui)

[2021-03-18 12:05] #14874 closed

[2021-03-18 12:07] kaxil commented on #14872
cc @Dr-Denzy

[2021-03-18 12:13] Dr-Denzy commented on #14872
I will take a look.

[2021-03-18 13:01] #14773 closed

[2021-03-18 13:01] #14778 closed

[2021-03-18 13:01] #11441 closed

[2021-03-18 13:01] #11442 closed

[2021-03-18 13:01] #11454 closed

[2021-03-18 13:01] #11571 closed

[2021-03-18 13:01] #11676 closed

[2021-03-18 13:01] #12861 closed

[2021-03-18 13:01] #14771 closed

[2021-03-18 13:01] #14772 closed

[2021-03-18 13:40] marclamberti commented on #9334
I just got this issue today:
[code]
and I'm on Mac too :'(

[2021-03-18 13:43] Scong commented on #13543
Happens when I downgrade to 1.10.12 as well.

```FROM apache/airflow:1.10.12-python3.6```

Will take a look at upgrading python.

[2021-03-18 14:13] namiops commented on #8467
We faced same issue and temporary fix it by force upgrade flask_oauthlib from 0.9.5 to 0.9.6:
`pip install flask_oauthlib==0.9.6`

[2021-03-18 14:19] marcosmarxm opened #14879 "Add area:providers for general providers to boring-cyborg"
**Description**

Add label **area-providers** to general providers.
For example the **provider:Google**
 https://github.com/apache/airflow/blob/16f43605f3370f20611ba9e08b568ff8a7cd433d/.github/boring-cyborg.yml#L21-L25

**Use case / motivation**

Help better issue/pull request monitoring.

**Are you willing to submit a PR?**

Yes

**Related Issues**

[2021-03-18 14:20] gillbuchanan commented on #13916
Any movement here? Currently I'm using `CeleryExecutor` instead of `KubernetesExecutor` and am not facing the same issue, but I would like to move back to `KubernetesExecutor`

[2021-03-18 14:54] jonasrla commented on #14811
Hello,

First of all, to see how things are working out to fix this issue checkout #https://github.com/kvesteri/sqlalchemy-utils/issues/505

The reason we are facing this issue is because the 2.0.1 release limits the SQLAlchemy version to be `< 2`
[setup.cfg#L133](https://github.com/apache/airflow/blob/2.0.1/setup.cfg#L133)

The master already fixed it [setup.cfg#L134](https://github.com/apache/ai

[2021-03-18 15:53] jedcunningham commented on #14261
At least some of these seem to be caused by #11982.

[2021-03-18 16:07] AlexisBRENON opened #14880 "SlackAPIFileOperator is broken"
**Apache Airflow version**: 2.0.1

**Environment**: Docker

- **Cloud provider or hardware configuration**: Local file system
- **OS** (e.g. from /etc/os-release): Arch Linux
- **Kernel** (e.g. `uname -a`): 5.11.5-arch1-1

**What happened**:

I tried to post a file from a long Python string to a Slack channel through the SlackAPIFileOperator.
I defined the operator this way:
[code]

Task failed wi

[2021-03-18 16:07] kaxil commented on #14811
@jonasrla If you install Airflow with constraints file you won't need to do that:

https://github.com/apache/airflow#installing-from-pypi

Example:

[code]

[2021-03-18 16:37] ashb commented on #14286
@potiuk We've fixed this now with the latest batch of provider releases haven't we?

[2021-03-18 17:01] snigdhasaikam30 commented on #8467
Hey @dkinzer I've tried setting flask_oauthlib to 0.9.5, requests-oauthlib to 1.1.0 and oauthlib to 2.1.0 but that didn't work for me. I'm using airflow version 1.10.14 and python 3.6

[2021-03-18 17:02] snigdhasaikam30 commented on #8467
hey @namiops what version of airflow are you using? and python version?

[2021-03-18 18:59] POD666 opened #14884 "Recent release of Flask-SQLAlchemy==2.5.0 breaks py27 compatibility"
The recent release of Flask-SQLAlchemy==2.5.0 breaks py27 compatibility.
It will be fixed but It's suggested to pin Flask-SQLAlchemy version by the maintainer.
**Apache Airflow version**: 1.10.9

**What happened**:

[code]

**Anything else we need to know**:

https://github.com/pallets/flask-sqlalchemy/issues/936

[2021-03-18 19:50] prabcs opened #14885 "Dataproc cluster create operator failing in diagnose_cluster step"
**Apache Airflow version**: 2.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**: GCP
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

`DataprocCreateClusterOperator` fails in the [`diagnose_cluster` step.](https://github.com/a

[2021-03-18 19:58] potiuk commented on #14884
We are not pinning our dependencies. Reasons are explained in http://airflow.apache.org/docs/apache-airflow/stable/installation.html#constraints-files

Instead of pinning, you should use constraints to install Airflow; http://airflow.apache.org/docs/apache-airflow/stable/installation.html#installation-script . This is the only recommended way of installing Airflow that is guaranteed to work withou

[2021-03-18 19:58] #14884 closed

[2021-03-18 20:01] potiuk commented on #14286
Still needs investigation - it's not really a provider's issue but rather provider's manager (which is part of Airflow itself. So It still needs taking a look and likely releasing in 2.0.2

[2021-03-18 20:02] potiuk commented on #14286
I'll take a look shortly (tomorrow). This should be an easy fix.

[2021-03-18 20:04] potiuk commented on #14811
Indeed constraints are the only mechanism that guarantees released versions of Airflow to continue to work. Also see here for explanation why @jonasrla http://airflow.apache.org/docs/apache-airflow/stable/installation.html#constraints-files

[2021-03-19 00:33] sbailliez opened #14888 "S3ToRedshiftOperator is not transaction safe for truncate"
**Apache Airflow version**: 2.0.0

**Environment**:

- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): Amazon Linux 2

**What happened**:

The TRUNCATE operation has a fine print in Redshift that it is committing the transaction.

See https://docs.aws.amazon.com/redshift/latest/dg/r_TRUNCATE.html

and

Currently with truncate=True, the operator would generat

[2021-03-19 06:36] mcepok commented on #14858
Sounds like the issue I fixed in #14740.

[2021-03-19 07:10] eladkal commented on #14880
Following discussion on slack possibly it's an issue related to the correct setup of `content`, `file` & `filename`: https://api.slack.com/methods/files.upload

[2021-03-19 07:14] Visya commented on #14733
Thanks! Pruning and increasing the memory worked.

[2021-03-19 07:35] OBITORASU commented on #14286
Dropping in because the thread is revived. I am kind of in a bad spot with my time management (stacked in middle of exams), so I don't think I would be able to put enough time and effort on this issue. Due to the above circumstances, I would like unassign myself from this issue. I do hope some other new contributor picks this one up. Sorry for the inconvenience :(

[2021-03-19 08:05] AlexisBRENON commented on #14880
From what I understand of the API documentation (I don't use many API), the `file.upload` method does not support the "JSON POST" arguments, while `chat.postMessage` does. https://api.slack.com/web#methods_supporting_json
However, the base `SlackAPIOperator` does not let the subclasses choose the way to send arguments as the `execute` method ends with:
[code]
Always passing the arguments as JSON p

[2021-03-19 09:36] harshit283 commented on #14874
Hi @kaxil We are testing out the **experimental APIs** [[Link](https://airflow.apache.org/docs/apache-airflow/stable/rest-api-ref.html#post--api-experimental-dags--DAG_ID--dag_runs)] in Airflow and not the Admin UI
Does this RBAC settings have any effect on our use case?

[2021-03-19 11:20] JCoder01 opened #14892 "Scheduler doesn't make command generic"
**Apache Airflow version**: 2.0.1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**: EKS, On Prem

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

Scheduler includes full dag `fileloc` rather than generic `DAGS_FOLDER/path/to/da

[2021-03-19 11:57] mik-laj commented on #14892
Duplicate:  https://github.com/apache/airflow/issues/8061

[2021-03-19 11:57] #14892 closed

[2021-03-19 12:45] ConstantinoSchillebeeckx commented on #14286
I can pick this up if no one minds; if someone can nudge me in the right direction that would be great.

[2021-03-19 13:34] ivanrezic-maistra opened #14896 "Error: 'daemonic processes are not allowed to have children', after upgradeing to airflow:2.0.1"
**Apache Airflow version**: 2.0.1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): /

**Environment**:

- **OS** (e.g. from /etc/os-release): Ubuntu 18.04
- **Kernel** (e.g. `uname -a`): Linux ivan-pc 5.4.0-66-generic #74~18.04.2-Ubuntu SMP Fri Feb 5 11:17:31 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux

**What happened**:
I am using LocalExecutor, and I was using it on Ap

[2021-03-19 13:35] JCoder01 commented on #8061
At first pass I can see 2 paths to fixing this.
1) change what gets passed in to `TI.generate_command` [here](https://github.com/apache/airflow/blob/master/airflow/jobs/scheduler_job.py#L1103) to replace the local dags_folder with `DAGS_FOLDER` or add a property `dag_model` such as `generic_file_path` and pass that in rather than `fileloc`, either way do a `.replace(settings.DAGS_FOLDER, 'DAGS_FOL

[2021-03-19 13:36] ashb commented on #8061
@JCoder01 probably 2 is a "better" solution, yeah.

[2021-03-19 13:46] JCoder01 commented on #8061
@ashb that's what I was thinking too, why does the "better" solution always seem to be the more complicated one... One possible hiccup, if dag serialization isn't enabled, isn't this still an issue? Maybe both 1 and 2 need to be done?

[2021-03-19 13:49] ashb commented on #8061
on 2.0 DAG serialization cannot be turned off anymore, so that's not a problem

[2021-03-19 13:51] JCoder01 commented on #8061
Ok, after I wrote that I was just looking through the code to see if that mattered and was about to edit my comment.

[2021-03-19 14:52] oriolcmp commented on #12985
Hello,

Do you have any news on this issue? It would be very useful for us to use it.
Thanks,

oriol

[2021-03-19 15:33] akrava opened #14897 "Add ability to specify API group and version for Spark operators"
**Description**

In Spark Kubernetes operator we have hard-coded API group and version for spark application k8s object:
https://github.com/apache/airflow/blob/b23a4cd6631ba3346787b285a7bdafd5e71b43b0/airflow/providers/cncf/kubernetes/operators/spark_kubernetes.py#L63-L65
I think it is not good, because we can have situation that some custom or not opensource Spark k8s operators can have different

[2021-03-19 16:02] dkinzer commented on #8467
@snigdhasaikam30 try using `--constraint=https://raw.githubusercontent.com/apache/airflow/cc382b75783d76888fcd5b0e38228f08ee83dbd5/constraints-3.6.txt` when running the `pip install` command.

That constraint is the one that is working for me that I have in #14562.  I'm using the same python version and airflow version that you are.

[2021-03-19 17:16] snigdhasaikam30 commented on #8467
This is what worked for us.
changed the user to "airflow" instead of root

# Install flask-oauthlib for Google Auth support
USER airflow
RUN pip install --user -I flask_oauthlib==0.9.6 --constraint=https://raw.githubusercontent.com/apache/airflow/cc382b75783d76888fcd5b0e38228f08ee83dbd5/constraints-3.6.txt

airflow:1.10.15-python3.6

[2021-03-19 17:30] potiuk commented on #14286
@ConstantinoSchillebeeckx  - I think the main task is to diagnose it to see what is really the issue here. I expected that those warnings will only be printed once (which would be acceptable) but seems in the webserver they continue spamming the logs - I will have time to take a look tomorrow, but if you want, you can pick it before.

[2021-03-19 17:40] potiuk opened #14899 "Warn Breeze users about lack of Disk/CPU/Memory for the Docker engine"
There are a number of unexpected problems users of Breeze might encounter if they lack CPU/Memory/Disk space. For example: https://github.com/apache/airflow/issues/14733#issuecomment-799577069

This can be easily detected when Breeze starts. Breeze might fail and provide instructions on what to do in this case.

[2021-03-19 17:40] potiuk commented on #14733
BTW. We might want to add some more sophisticated mechanisms to warn the users. I already detect the CPUs and memory available for docker as part of the incoming PR for CI tests, i can add disk monitoring and raise a warning or even fail Breeze if I found those unaccepteably low. I created #14899 and will implement it shortly.

[2021-03-19 21:03] ashb commented on #14286
On webserver boot up, the app is loaded once before starting gunicorn, then again for each of the (by default 4) workers, and then by default one webserver worker is replaced every 30s. Each time a web process starts up it will load the providers and produce these logs.

[2021-03-19 21:05] potiuk commented on #14286
Yep. Makes sense. Just started looking at it :)

[2021-03-19 21:13] potiuk commented on #14286
Yep. Just  reproduced it. The warnings come every 30 s

[2021-03-19 21:35] potiuk commented on #14286
@OBITORASU @ConstantinoSchillebeeckx -> #14903  to address it.

[2021-03-19 21:40] #13797 closed

[2021-03-19 21:58] doughepi opened #14904 "Unable to provide Kubernetes proxy information in the Kubernetes pod operator."
**Description**

The current `GKEStartPodOperator` and the `KubernetesPodOperator` don't have a way to configure the proxy URL feature provided by the underlying Python Kubernetes client. A useful feature would include a way to pass this value down to the underlying Kubernetes Python client.

**Use case / motivation**

For Kubernetes clusters in GCP that are subject to VPC transitive peering limit

[2021-03-19 22:43] mattshin opened #14906 "SimpleHttpOperator takes lambda to transform response before doing XCom push"
**Description**

I propose that the SimpleHttpOperator also take an argument like `xcom_function` or `xcom_transformation` that describes a lambda or single-variable function that takes as input the response to the http request and uses the output of the function for the xcom push.

alternatively, the existing parameter xcom_push can be modified to take in both Booleans and Callables. if provided

[2021-03-19 23:39] kaxil commented on #14874
@harshit283 The experimental API too has been deprecated from 2.0.0 -- since there were already experimental. They have been replaced by the Stable API: https://airflow.apache.org/docs/apache-airflow/stable/stable-rest-api-ref.html

[2021-03-20 01:04] #14286 closed

[2021-03-20 11:18] fredthomsen commented on #14829
I uncovered this same issue with the same root cause when setting up LDAP authentication and having the `AUTH_USER_REGISTRATION_ROLE = "Public" `.

If a user has roles that grant no permissions what so ever, then returning a 403 seems like the proper behavior.

[2021-03-20 11:35] potiuk commented on #14733
@Visya https://github.com/apache/airflow/pull/14908 -> PR to add the checks and resource information!

[2021-03-20 11:53] vashchukmaksim commented on #10913
The above doesn't work for me, so I came up with the following that works in my case for HTTP:

AIRFLOW_CONN_API_AUTH=http://app_auth:8000/http

So I added `http` at the end and later use relative path in SimpleHttpOperator's endpoint argument.

[2021-03-20 12:34] JCoder01 commented on #8061
Closed MR, This doesn't seem to be too big of a problem and I was able to handle it by monkey patching TaskInstance.generate_command in my airflow_local_settings.py

[2021-03-20 16:12] mik-laj commented on #14904
LGTTM. I'm happy to help with review.

[2021-03-20 19:43] #14897 closed

[2021-03-20 20:54] #14899 closed

[2021-03-21 05:48] kurtqq commented on #12413
@itroulli why is it tricky? it's description per variable. it doesn't matter if the variable is text or key-value. the idea is to give general information to what the variable is used/who created it and stuff in that area.

[2021-03-21 05:51] kurtqq opened #14919 "HiveHook doesn't scale up to tables with more than 32,767 partitions"
I don't know why previous issue was closed https://github.com/apache/airflow/issues/7963
it wasn't fixed yet:

The Hive metastore API has a rather confusing method signature for listPartitions. The last method parameter specifies the maximum number of partitions to return, and its type is a Java short. So Airflow passes the maximum Java short value (32,767) and notes the limitation in its API docs

[2021-03-21 12:45] renanleme commented on #13542
I had the same problem today and I think I found the problem.

I'm testing with:
Apache Airflow version: `2.0.1`
Executor: `Celery`
Running locally

I was testing one dag and after changing a few parameters in one of the tasks in the dag file and cleaning the tasks, the task got stuck on scheduled state.
**The problem:** The changes that I made broke the task, something like this:
[code]
So, the w

[2021-03-21 14:26] eladkal commented on #9093
fixed by https://github.com/apache/airflow/pull/9094

[2021-03-21 14:26] #9093 closed

[2021-03-21 14:45] eladkal commented on #11125
fixed in https://github.com/apache/airflow/pull/11126

[2021-03-21 14:45] #11125 closed

[2021-03-21 15:35] itispankajsingh opened #14924 "Scheduler Memory Leak in Airflow 2.0.1"
**Apache Airflow version**: 2.0.1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): v1.17.4

**Environment**: Dev
- **OS** (e.g. from /etc/os-release): RHEL7

**What happened**:

After running fine for some time my airflow tasks got stuck in scheduled state with below error in Task Instance Details:
"All dependencies are met but the task instance is not running. In mos

[2021-03-21 17:58] kevincong opened #14926 "Make the xcom sidecar container resource configurable"
**Apache Airflow version**: 2.0.1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):1.11

**Environment**:

- **Cloud provider or hardware configuration**: OpenShift 3.11
- **OS** (e.g. from /etc/os-release): RHEL Server
- **Kernel** (e.g. `uname -a`): Linux
- **Install tools**: Airflow
- **Others**:

**What happened**:

HTTP response body: {"kind":"Status","apiVersion"

[2021-03-21 20:37] ssiddiqui-apixio commented on #12309
I am using airflow version 2.0.1 and i can still reproduce this error. When I look at the code in my python3.7/site-packages/airflow/ folders, i see code that is consistent with the changes made here: https://github.com/apache/airflow/pull/12312 .

[2021-03-22 03:18] suxin1995 commented on #14924
i have same problem.  i looked for all the channels and methods but did not solve it！
Thanks for your question and let me know what the problem is.
I have to use crontab script to restart scheduler process regularly.  But this is stupid.
If  can't solve it, I can only fall back to 1.10.

[2021-03-22 06:13] uplsh580 commented on #14249
It did not occur when using PostgreSQL as a DB.
It seems to occur only in MySQL.

[2021-03-22 06:51] itispankajsingh commented on #14924
This issue is also there in version 1.10.* however in version 2.0.* the issue is more severe and also we don't have option of run_duration hence have to deploy our own cron jobs to refresh scheduler regularly.
https://issues.apache.org/jira/browse/AIRFLOW-4593

[2021-03-22 09:05] XD-DENG commented on #14374
Thanks @kaojunsong for reporting the issue.

- I can reproduce the issue you reported when I use PostgresSQL as backend (Postgres 13.1).
- I also tried SQLite (SequentialExecutor): the crash doesn't happen anymore, but actually the filtering is not working.

This issue should be relating to the column type (in Postgres it's `bytea`, in SQLite it's `BLOB`).

I'm not sure if we can fix this in a str

[2021-03-22 09:11] raphaelauv commented on #14896
same as  -> https://github.com/apache/airflow/issues/13298

[2021-03-22 09:17] raphaelauv commented on #14924
Until there is a fix or you find a specific reason, you could handle the OOM -> https://github.com/kubernetes/kubernetes/issues/40157

There is few initiatives :+1:

[2021-03-22 09:50] ivanrezic-maistra commented on #14896
Ok, it works now, but what if I need assertions in my code? Why it worked in earlier versions but not in the current one? Is it going to be fixed?

[2021-03-22 10:30] suxin1995 commented on #14924
Thanks for yours comments.
It seems that the memory leak problem has not been solved well.
I can only call cron script to restart process every hour.

[2021-03-22 10:33] vineetsharma883 commented on #14811
I am getting
[code]
 when using constraint file for installation

[2021-03-22 11:13] rohitvarma01 opened #14931 "sqlite3.databaseerror database disk image is malformed in airflow"
**Apache Airflow version**:

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know**:

[2021-03-22 11:21] mik-laj commented on #14926
Duplicate: https://github.com/apache/airflow/issues/10605

[2021-03-22 11:21] #14926 closed

[2021-03-22 12:22] berksudan opened #14933 "A Small Exception Message Typo"
I guess, line 59 in file "[airflow/airflow/task/task_runner/__init__.py](https://github.com/apache/airflow/blob/5a864f0e456348e0a871cf4678e1ffeec541c52d/airflow/task/task_runner/__init__.py#L59)" should change like:

**OLD**: f'The task runner could not be loaded. Please check "executor" key in "core" section.'
**NEW**: f'The task runner could not be loaded. Please check "task_runner" key in "core

[2021-03-22 13:25] Dr-Denzy commented on #14872
@patsevanton I could not exactly reproduce this issue.
After installing with helm, `helm get values airflow` produced this output:
`USER-SUPPLIED VALUES:
ingress:
  enabled: true
  hosts:
  - airflow.192.168.22.7.xip.io
webserver:
  defaultUser:
    password: new_password`
And I when port-forwarded to my localhost I was able to log into the Airflow UI with username: `admin` password: `new_password

[2021-03-22 14:18] doughepi commented on #14904
Sounds good. Starting on this now.

[2021-03-22 14:49] uranusjr commented on #8292
I’ll probably find some time to create a new PR this week. The last one seems to have got pretty close but unfortunately went stale.

[2021-03-22 14:53] uranusjr commented on #9803
It seems like the issue mentioned in the original issue description is already fixed in #13919. Should this be closed?

[2021-03-22 15:17] anthonyp97 commented on #11894
@YingboWang can we also make the `poke_timeout` in the `SmartSensorOperator` configurable by `airflow.cfg` as well? It is currently set as 10 seconds by default in `smart_sensor_group.py` but often times our sensors require more time than this to run and as a result we are getting flooded with Airflow Process timed out errors.

[2021-03-22 15:23] YingboWang commented on #11894
I agree that this should be configurable as the poke time varies based on
environment and sensor differences. I will create a PR to fix it.

On Mon, Mar 22, 2021 at 8:17 AM Anthony Panat ***@***.***>
wrote:

[2021-03-22 16:10] ashb commented on #12309
@ssiddiqui-apixio Can you give us a minimal reproduction case please?

[2021-03-22 17:34] kaxil commented on #8881
@fuyi Did you check it with 2.0.1 ? I am going to close this out since we were not able to verify it but we can open it again if you are able to reproduce it with 2.0.1

[2021-03-22 17:34] #8881 closed

[2021-03-22 21:14] vikramkoka commented on #14769
I am sorry, can you please give some more context here?

[2021-03-22 21:15] vikramkoka commented on #14768
I am closing this issue, assuming this was created accidentally. If this was deliberate, please open it with more information around which example DAG, what environment, and steps to reproduce.

[2021-03-22 21:15] #14768 closed

[2021-03-22 21:16] potiuk opened #14937 "[QUARANTINED] tests/cli/commands/test_task_command.py::TestLogsfromTaskRunCommand"
TestLogsFromTaskRunCommand increases a lot of memory usage when we run it in parallel tests. This leads to Exit 137 and soe random failures without logs.

For now we put it in quarantine as it is not  crucial. The likely culprit is that tasks that create a new process are started but not completely killed immediately during the tests, thus in high-pressure environment, the tests might increase the

[2021-03-22 21:20] kaxil commented on #14714
Hi @rbakhtaraev -- what were the things you were importing via plugins.

Just wanted to check since you can import Operators, sensors etc without plugins

[2021-03-22 21:24] kaxil commented on #14933
Thanks @berksudan , would you like to create your first PR with that fix ?

[2021-03-22 21:29] ogierpaul opened #14938 "docker airflow-init is stuck"
**Apache Airflow version**:
apache/airflow:2.0.1-python3.8

**Environment**:

- **Cloud provider or hardware configuration**: Mac Os X 3 Ghz
- **OS** (e.g. from /etc/os-release): Mac Os 10.15.7
- **Kernel** (e.g. `uname -a`): docker
- **Install tools**:
- **Others**:

**What happened**:
download the `docker.yml` file from apache airflow docker:
https://airflow.apache.org/docs/apache-airflow/stable

[2021-03-22 21:50] mik-laj commented on #14841
The configuration option value is case insensitive.
https://github.com/apache/airflow/blob/72ea841b4bb439495b0f58e043774d38f701100e/airflow/sentry.py#L51
https://github.com/apache/airflow/blob/72ea841b4bb439495b0f58e043774d38f701100e/airflow/configuration.py#L406

[2021-03-22 21:50] #14841 closed

[2021-03-22 21:52] mik-laj commented on #14879
LGTM. Can you submit a PR?

[2021-03-22 21:56] mik-laj commented on #14721
I am closing due to author's inactivity.

[2021-03-22 21:56] #14721 closed

[2021-03-22 22:04] mik-laj opened #14939 "The documentation for Airflow 1.10+ with our theme doesn't look good"
Hello,

After building documentation with our theme, there are problems with loading all styles.

To build the documentation for. Airflow 1.10.15, I had to make some minor changes to the theme
Register CSS stylesheet at `builder-inited` event (`/Users/X/.pyenv/versions/3.8.7/envs/airflow-1-10/lib/python3.8/site-packages/sphinx_airflow_theme/__init__.py`)
[code]
2. Add this theme as extension (`/Us

[2021-03-22 22:34] robmoore opened #14940 "`airflow pools set` fails with argparse error"
**Apache Airflow version**:
1.10.14 and 1.10.15

**Environment**:

- **Cloud provider or hardware configuration**: Docker
- **OS** (e.g. from /etc/os-release): apache/airflow:1.10.15-python3.8
- **Install tools**: poetry

**What happened**:

Based on a warning from Airflow, I decided to change from

`airflow pool -s mypoolname 2 mypooldesc`

to

`airflow pools set mypoolname 2 mypooldesc`

The fir

[2021-03-22 22:36] robmoore commented on #14940
@kaxil Tagging you per your request in [Slack group discussion](https://apache-airflow.slack.com/archives/CCQ7EGB1P/p1616445607186200).

[2021-03-22 22:38] luis-serra-ki commented on #14175
Hello everyone. I'm having the same problem and I can't find the reason why either.

[2021-03-22 22:38] luis-serra-ki commented on #13916
Hello everyone. I'm having the same problem and I can't find the reason why either.

[2021-03-22 23:03] #14879 closed

[2021-03-22 23:45] kaxil commented on #8779
I am going to close this issue since we haven't heard back, we can re-open if you can reproduce with 2.0.1

[2021-03-22 23:45] #8779 closed

[2021-03-22 23:47] #10045 closed

[2021-03-22 23:52] kaxil commented on #14261
I am going to close this since https://github.com/apache/airflow/issues/14261#issuecomment-784619202 fixed it for Azure Kubernetes

[2021-03-22 23:52] #14261 closed

[2021-03-23 00:05] uranusjr commented on #14924
It seems like this is specific to the Kubernetes executor? It’d be awesome if you can confirm.

[2021-03-23 00:14] mik-laj commented on #14769
I have the impression that this error may be related to an incorrect database configuration. for Webserver. In Airflow 2.0, that's it. is simplified.
See: https://github.com/apache/airflow/pull/11364
@DarcyNing  Can you confirm?

[2021-03-23 02:30] suxin1995 commented on #14924
not completely.I use `CeleryExecutor`  in the project also have this problem
After schedule, VSZ and RSS  keep growing  always.

[2021-03-23 03:13] #14255 closed

[2021-03-23 03:13] #14848 closed

[2021-03-23 03:53] dstandish opened #14945 "Circular import issues with airflow_local_settings.py"
Our docs on dag policy demonstrate usage with type annotations:
https://airflow.apache.org/docs/apache-airflow/stable/concepts.html?highlight=dag_policy#dag-level-cluster-policy

[code]

The problem is, by the time you import DAG with `from airflow import DAG`, airflow will have already loaded up the `settings.py` file (where processing of airflow_local_settings.py is done), and it seems nothing i

[2021-03-23 04:16] rbakhtaraev commented on #14714
Hi @kaxil , im using plugins to some custom clients for internal tools. For example, i have 5 dags, which imported two custom plugins.

[2021-03-23 05:03] Junnplus commented on #13972
@Dr-Denzy you just need mount a large log volume on webserver.

[2021-03-23 05:18] itispankajsingh commented on #14924
One observation I have is that the rate of memory leak increases with number of dags (irrespective of whether they are being run). It definitely has something to do with the dag parsing process.

[2021-03-23 05:32] suxin1995 commented on #14924
yep.In my production environment, when using a small number of jobs, no problems are found temporarily.
but as the business is connected, the increase in the amount of work will cause the schedule process  die.

[2021-03-23 05:32] suxin1995 commented on #14924
yep.In my production environment, when using a small number of jobs, no problems are found temporarily.
but as the business is connected, the increase in the amount of work will cause the schedule process  die.

[2021-03-23 08:18] mini1989cloud commented on #14667
When I try to enable remote logging in airflow, it fails with following message
Could not read remote logs from Cloudwatch log_group: <group name> log_stream: xxxx/xxx/<timestamp>/1.log.

I have created a connection with "connection type" AWS, and its credentials in "Extra" field (Created a user for this).

In airflow.cfg file, my entries are :-
remote_logging = True
remote_log_conn_id = <Connecti

[2021-03-23 10:10] ashb commented on #11365
@teastburn Are you still on 1.10.12?

[2021-03-23 10:13] ashb commented on #8638
We believe this is fixed with Airflow 2.0.0 now (at least for Celery executor) so I'm going to close out this issue.

If it is still a problem after upgrading to 2.0 let us know and we can re-open this.

[2021-03-23 10:13] #8638 closed

[2021-03-23 10:13] mhaalme opened #14950 "Error traceback missing from task logs when json_format=True"
**Apache Airflow version**: 2.0.1

**Environment**:

- **OS**: Oracle Linux Server 7.9

**What happened**:

One of our new BashOperator tasks failed and no useful information could be found about the cause of failure in the task logs. This seemed odd, so I temporarily turned off JSON formatting, and the non-JSON logs contained a lot more information. With JSON logging turned on, only the first lin

[2021-03-23 10:20] eladkal commented on #13788
@pgrandjean  you might want to take a look at [AIP-39 Richer scheduler_interval](https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-39+Richer+scheduler_interval)

[2021-03-23 12:34] maxcountryman commented on #14667
@mini1989cloud I had to create a set of AWS credentials which are injected as the standard boto3 environment variables in order for Cloudwatch to work. I don't think it knows about or will use an Airflow connection.

[2021-03-23 12:54] XD-DENG commented on #14940
Maybe another pool-related CLI, `pool_delete`, is also wrong? `delete=pool.name` should be `delete=args.pool`
https://github.com/apache/airflow/blob/5786dcdc392f7a2649f398353a0beebef01c428e/airflow/bin/cli.py#L301-L306

[2021-03-23 13:24] benwatsonnandos opened #14955 "Custom macros not working on Airflow 2.0.1 Python 3.9"
**Apache Airflow version**: 2.0.1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): N/A

**Environment**: Ubuntu 20.04, Python 3.9

- **Cloud provider or hardware configuration**: AWS EC2 (single instance)
- **OS** (e.g. from /etc/os-release): Ubuntu 20.04
- **Kernel** (e.g. `uname -a`): 5.4.0-1038-aws #40-Ubuntu SMP Fri Feb 5 23:50:40 UTC 2021 x86_64 x86_64 x86_64 GNU

[2021-03-23 13:29] emukans commented on #13692
I noticed the same issue on airflow 2.0.1 when I used cron notation for specifying schedule_interval. Here is my DAG:
[code]
I wanted to specify the time. I solved the issue by using DateTimeSensor or TimeSensor and changing `schedule_interval="@daily"`

[2021-03-23 14:15] peschue commented on #13198
I still have this problem and I run version 2.0.1. Maybe it is because of my special DAG setup: I have a DAG that runs each day, and an ExternalTaskSensor that waits for the previous day's completion and an External TaskSensor that waits for the previous week's completion (part of the DAG is skipped and runs only once a week).

If I clear many of the DAGs with the intention to let it catch up in t

[2021-03-23 14:24] gopalakrishnanu opened #14956 "Tooltip does not display on task instance on any state other than not started"
**Apache Airflow version**: 2.0.0, 2.0.1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): NA

**Environment**:

- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): Debian GNU/Linux 10 (buster)
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

When hovering over the task instances on the Graph

[2021-03-23 14:32] ryanahamilton opened #14957 "Run selective CI pipeline for UI-only PRs"
For PRs that only touch files in `airflow/ui/` we'd like to run a selective set of CI actions. We only need linting and UI tests.

Additionally, this update should pull the test runs out of the pre-commit.

[2021-03-23 15:20] leonsmith commented on #7935
+1 on this issue.

Airflow 2.0.1

CeleryExecutor.

7000 dags~ seems to happen under load (when we have a bunch all dags all kick off at midnight)

<details>
  <summary>py-spy dump --pid 132 --locals</summary>
[code]
</details>

<details>
  <summary>py-spy dump --pid 134 --locals</summary>
[code]
</details>

[2021-03-23 15:44] akki opened #14959 "Support all terminus task states for Docker Swarm Operator"
**Apache Airflow version**: latest

**What happened**:

There are more terminus task states than the ones we currently check in Docker Swarm Operator. This makes the operator run infinitely when the service goes into these states.

**What you expected to happen**:

The operator should terminate.

**How to reproduce it**:

Run a Airflow task via the Docker Swarm operator and return failed status co

[2021-03-23 16:36] rliuamzn opened #14962 "Create EMR Notebook execution operators"
**Description**

Similar to [EMR Jobflow operator](https://github.com/apache/airflow/blob/4e8f9cc8d02b29c325b8a5a76b4837671bdf5f68/airflow/providers/amazon/aws/operators/emr_create_job_flow.py) and [EMR Jobflow sensor](https://github.com/apache/airflow/blob/4e8f9cc8d02b29c325b8a5a76b4837671bdf5f68/airflow/providers/amazon/aws/sensors/emr_job_flow.py), we should add operator and sensor that interac

[2021-03-23 16:53] mcepok commented on #12672
This should be resolved by #14913 .

[2021-03-23 17:03] kaxil commented on #12672
closed by #14913

[2021-03-23 17:03] #12672 closed

[2021-03-23 18:48] #13262 closed

[2021-03-23 19:54] billglennon opened #14964 "airflow db init fips enabled"
I am working on a project that has CentOS 7 fips enabled configuration using Python 3.6.8.Airflow version 2.0.0. If I disable fips, I can get "airflow db init" to run correctly.However, with fips enabled I get the traceback below when I run "airflow db init".
With fips enabled you can't use md5 hash. However, that is what is happening in the Airflow installation I believe. Just one example is to l

[2021-03-23 20:09] billglennon commented on #14964
Closing until I know for sure it is a bug. I am asking the Airflow for help first.

[2021-03-23 20:09] #14964 closed

[2021-03-23 20:27] ryanahamilton commented on #14192
Closing this based on [@kaxil's response](https://github.com/apache/airflow/pull/14193#issuecomment-777615243) and the PR closure on #14193

https://github.com/pallets/jinja/blob/f009a004a2e70a3608d49aceb1814b90bb4370d6/src/jinja2/utils.py#L160

[2021-03-23 20:27] #14192 closed

[2021-03-23 20:54] doughepi commented on #14904
Going back to the drawing board. The single configuration option in the airflow.cfg file wouldn't support having a proxy URL per cluster (if you were deploying to multiple clusters).

[2021-03-23 20:55] gmcrocetti commented on #14758
Hey @ShawnMcGough . I'm worried about the lack of `Azure Data Factory` in this drop down menu. Do you see any exception being raised when you click in this menu ? The freshly inserted [hook_name](https://github.com/apache/airflow/blob/a7e144bec855f6ccf0fa5ae8447894195ffe170f/airflow/providers/microsoft/azure/hooks/azure_data_factory.py#L83) should've been there. @ephraimbuddy  @turbaszek, is there

[2021-03-23 21:30] ssiddiqui-apixio commented on #12309
sure, @ashb

This is the case which works.
`
from airflow.models import DAG
from airflow.operators.python import task
from airflow.utils.dates import days_ago
from airflow.utils.task_group import TaskGroup

@task
def show():
    print("cats are awesome")

with DAG(
    "using_task_group",
    default_args={'owner': 'airflow'},
    start_date=days_ago(2),
    schedule_interval=None,
) as dag3:

[2021-03-23 22:11] mpeteuil opened #14969 "Using a timedelta object as a Schedule Interval with catchup=False causes the start_date to no longer be honored"
**Apache Airflow version**: 1.8 - 2.0.1 (tested against 1.10.4, 1.10.15, 2.0.1)

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): N/A

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**: Python 2.7.16, 3.7.6 (I don't think this is a factor)

**What hap

[2021-03-23 23:16] ryanahamilton commented on #14864
I was able to reproduce this with the supplied sample DAG.

@yuqian90 any ideas on this? You probably know this graph view task group logic fairly well after your work on #14661.

[2021-03-23 23:27] mik-laj commented on #14962
LGTM. Feel free to submit a PR.

[2021-03-24 01:56] kaxil commented on #14969
I don't think it is a bug. When you use `schedule_interval=timedelta(minutes=5)` it just tell scheduler to run every 5 minutes. Now when `catchup=False`, it tells scheduler to run first as soon as it can and then every 5 mins from then onwards.

This is the main difference between Cron vs Timedelta. While Cron does not take account of "last time", timedetla is dependent on the "last time". For exa

[2021-03-24 01:58] kaxil commented on #14956
What browser are you using, I couldn't reproduce it.

[2021-03-24 02:03] kaxil commented on #14955
Can you test it with Python 3.8 too please, Airflow currently "officially" does not support Python 3.9:

https://github.com/apache/airflow#requirements

[2021-03-24 02:08] kaxil commented on #14945
Do you see the same error when using `from airflow.models.dag import DAG` ?

[2021-03-24 03:33] suxin1995 commented on #14924
guys. i also have some other questions.
In my project, use `BashOperator` task while get  exception occasionally- 'Bash command failed. The command returned a non-zero exit code.'  But it will succeed after retrying.
 No value in log file.I donot konw what reason is. If you have experience please let me know, thank you very much.

[2021-03-24 04:48] dstandish commented on #14945
Nope!

Here's how to test:

`airflow_local_settings.py`

[code]

in dag file:

[code]

When you import from models, the dag policy works.  When you import from airflow it does not.

So I guess this is mostly a non issue.

One thing we can do is fix [this line](https://github.com/apache/airflow/blob/1222ebd4e1eb6fdefa886759c43d4d4db691697a/tests/cluster_policies/__init__.py#L21).  I can make a PR f

[2021-03-24 05:50] yuqian90 commented on #14864
Hi @ryanahamilton and @wolfier , I can explain why this is happening, but I'll need some suggestions from you and others on how to improve this.
There are two ways of putting a task into a `TaskGroup`:
1. Create the task inside the contextmanager of the `TaskGroup`;
2. Pass the `task_group` as an argument to the constructor of the task.

The reproducing example is doing neither of these. Instead i

[2021-03-24 06:43] qfaizan401 commented on #14933
Thanks, @berksudan to open this issue. This is the first issue that I am handling. Yes, I think you are right that Line 59 in file "airflow/airflow/task/task_runner/init.py" should change from:
OLD: f'The task runner could not be loaded. Please check "executor" key in "core" section.'
to:
NEW: f'The task runner could not be loaded. Please check "task_runner" key in "core" section.'

Because your f

[2021-03-24 07:18] marklit commented on #14955
I've managed to find an ugly way to import macros in Airflow 2.0.1 on Python 3.9. It's not the original `from airflow.macros import x` method from Airflow 1.x but it is working.

[code]

[2021-03-24 07:34] mrpowerus opened #14974 "KubernetesJobWatcher does not delete worker pods"
**Apache Airflow version**: 2.0.0 and 2.0.1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.18.4 (AKS)

**Environment**:

- **Cloud provider or hardware configuration**: Azure Cloud
- **OS** (e.g. from /etc/os-release): Debian GNU/Linux 10 (Buster)
- **Kernel** (e.g. `uname -a`): Linux airflow-scheduler-5cf464667c-7zd6j 5.4.0-1040-azure #42~18.04.1-Ubuntu SMP Mon F

[2021-03-24 07:40] olderzhou commented on #10504
but i still can't find releated use case on the official website, only support single redis instance.

[2021-03-24 08:14] uranusjr commented on #14924
Please keep this thread on topic with the scheduler memory issue. For common usage questions, please open threads in [Discussions](https://github.com/apache/airflow/discussions) instead.

[2021-03-24 09:32] koliankolin opened #14975 "How to trigger dag manually in 2.0.1 version with pickled dags"
**Apache Airflow version**: 2.0.1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): No

**Environment**:

- **Cloud provider or hardware configuration**: Local Docker 7GB RAM, 2 CPU
- **OS** (e.g. from /etc/os-release): Debian GNU/Linux
- **Kernel** (e.g. `uname -a`): Linux 97bb49fdb749 4.19.121-linuxkit
- **Install tools**: pip
- **Others**:

**What happened**:

I tri

[2021-03-24 09:43] imamdigmi opened #14976 "SLA Miss Callback Function Not Executed"
**Apache Airflow version**: 2.0.1
**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
**Environment**: Docker (with Compose)
- **Cloud provider or hardware configuration**: -
- **OS** (e.g. from /etc/os-release): -
- **Kernel** (e.g. `uname -a`): Darwin Kernel Version 20.2.0: Wed Dec  2 20:39:59 PST 2020; root:xnu-7195.60.75~1/RELEASE_X86_64 x86_64
- **Install tools**: Pi

[2021-03-24 10:11] marklit commented on #14955
For reasons I'm unfamiliar with, it looks like the ability to import via `from airflow.macros import x` was removed a few months ago (as per 5e8b537b8). Any documentation on what the new practice is for Airflow 2 would be greatly appreciated.

[2021-03-24 11:29] armandleopold commented on #13918
Found a wordaround using **`full_pod_spec`**

[code]

[2021-03-24 11:47] mini1989cloud commented on #14667
Luckily logs are getting pushed to cloudwatch. Anyone faced below issue ?
WatchtowerWarning: Failed to deliver logs: Parameter validation failed:
Invalid length for parameter logEvents[4].message, value: 0, valid range: 1-inf
Invalid length for parameter logEvents[6].message, value: 0, valid range: 1-inf
etc?

Im getting this exception for one of my dags.

Any reason why I am getting this?

[2021-03-24 12:32] hitmau opened #14980 "Login"
**Apache Airflow version**:

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know**:

[2021-03-24 12:53] mpeteuil commented on #14969
@kaxil I can see what you are saying, but it's still a little confusing. I have always assumed that something like `schedule_interval=timedelta(minutes=5)` would be every 5 minutes using the start date and time as the base from which to start. I think what's confusing about it is that if I provide an hour and minute in the `datetime` object I pass as the `start_date`, then having that get ignored

[2021-03-24 13:58] XD-DENG commented on #14980
Hi @hitmau , please provide more details in your issue description. By "Login", we do not know what issue you are facing or how the community can help.

[2021-03-24 14:09] fhoda commented on #14592
@john-jac can you tell me if you had DAG serialization turned on or not when you were seeing this issue?

[2021-03-24 15:08] vineethguna commented on #14851
Thanks @mik-laj . After using pgbouncer the bottlenecks on postgresql reduced and there was a huge performance improvement.
Is using PGBouncer documented anywhere in airflow documentation. If not is it good to add it to the documentation?

[2021-03-24 15:10] mik-laj commented on #14851
I think, we should add it to documenentation. Are you willing to submit a PR?
Here is ticket: https://github.com/apache/airflow/issues/13941

[2021-03-24 15:27] lordozb commented on #14940
@kaxil
Is it okay if you assign this to me?

[2021-03-24 15:28] XD-DENG commented on #14940
Hi @lordozb  here you go.

[2021-03-24 15:43] ashb commented on #7904
This is done now.

[2021-03-24 15:43] #7904 closed

[2021-03-24 15:46] ashb commented on #8168
Is anyone able to reproduce this on 2.0.x?

[2021-03-24 15:50] patsevanton commented on #14872
Thanks! I check and login into airflow with  username: admin password: new_password

[2021-03-24 15:50] #14872 closed

[2021-03-24 15:58] #14802 closed

[2021-03-24 16:23] bbovenzi commented on #14327
@kaxil Would you be able to take a look at this? I don't think the root cause is in the UI.
It blows up in `graph.html` because thats the only spot we try to convert `task_instances` to json, but the `V1ResourceRequirements` isn't valid json so it all blows up. I imagine it would be best to address that before we get to the html templates.

[2021-03-24 16:31] kaxil opened #14985 "Docs build are failing with `requests.exceptions.TooManyRedirects` error"
Our docs build is failing with the following error on PRs and locally, example https://github.com/apache/airflow/pull/14983/checks?check_run_id=2185523525#step:4:282:

[code]

To reproduce locally run:

[code]

[2021-03-24 16:57] #14985 closed

[2021-03-24 17:05] #14945 closed

[2021-03-24 17:07] mcepok commented on #14858
@kaxil I think this one can closed because of #14740 .

[2021-03-24 17:11] Goodkat commented on #14613
Can someone assign this to me, since I am already working on it as per the PR #14860?
Thank you.

[2021-03-24 17:15] XD-DENG commented on #14613
Hi @Goodkat , here you go :)

[2021-03-24 18:15] potiuk opened #14989 "Make Docs builds fallback in case external docs sources are missing"
Every now and then our docs builds start to fail because of external dependency (latest example here #14985). And while we are doing caching now of that information, it does not help when the initial retrieval fails. This information does not change often but with the number of dependencies we have it will continue to fail regularly simply because many of those depenencies are not very reliable -

[2021-03-24 19:30] mrpowerus commented on #14974
My Airflow is running the 11.0.0 version of the Kubernetes client. [https://github.com/kubernetes-client/python-base/blob/d30f1e6fd4e2725aae04fa2f4982a4cfec7c682b/watch/watch.py]

The problem seems to be fixed in the new 12.0.0 version of the Kubernetes client. Might it be an idea to add version 12.0.0 to add this new version to the constraints?

[2021-03-24 19:40] marcosmarxm commented on #14938
@ogierpaul maybe using this command to create containers could help.
`docker-compose up -d --force-recreate --remove-orphans`

[2021-03-24 19:59] hitmau commented on #14980
Hello,
I'm using centos8.
I start the normal server, the login screen is displayed, when I enter a
username and password and enter this error!

[image: image.png]
*Mauricio Rodrigues.*
*98031.7641*

Em qua., 24 de mar. de 2021 às 10:58, Xiaodong DENG <
***@***.***> escreveu:

[2021-03-24 20:32] XD-DENG commented on #14980
Hi @hitmau , please update the details in the Issue title and the main issue description. you can find the edit buttons as shown in the screenshot below.
![Login_·_Issue__14980_·_apache_airflow](https://user-images.githubusercontent.com/11539188/112379308-4a31a180-8ce8-11eb-8e73-ca92ed26e736.png)

And the way you attached picture seems not working

[2021-03-24 20:34] uranusjr commented on #8171
I wonder if type checks can be used to catch these kinds of issues. There are a lot of `current_app.dag_bag`, `current_app.appbuilder`, etc., which are not covered by Mypy due to the dynamic nature of `flask.current_app` (basically any attributes on it is `Any`). Since we “know” what attributes to expect on the `current_app` instance within Airflow, maybe we can introduce a typing shim around it?

[2021-03-24 20:54] akihiro-inui opened #14991 "Static file not being loaded in web server in docker-compose"
Apache Airflow version: apache/airflow:master-python3.8

Environment:

Cloud provider or hardware configuration:
OS (e.g. from /etc/os-release): Mac OS 10.16.5
Kernel (e.g. uname -a): Darwin Kernel Version 19.6.0

Browser:
Google Chrome Version 89.0.4389.90

What happened:
I am having an issue with running `apache/airflow:master-python3.8` with docker-compose.
The log of the webserver says` Please

[2021-03-24 20:58] #14798 closed

[2021-03-24 21:04] uranusjr commented on #14991
Can confirm, this is also a problem when running `breeze start-airflow` on a freshly built image.

[2021-03-24 21:23] potiuk commented on #14991
I don't recall changing anything in the Dockerfile . I will try to take a look tomorrow but maybe it is something connected to the new UI changes @bbovenzi ?

[2021-03-24 21:35] akihiro-inui commented on #14991
Thank you very much. I am posting my docker-compose.yml to replicate the issue.
[code]

[2021-03-24 21:55] kaxil commented on #14858
closed by https://github.com/apache/airflow/pull/14740

Thanks @mcepok

[2021-03-24 21:55] #14858 closed

[2021-03-24 22:05] uranusjr commented on #14327
`task_instances` is built from `alchemy_to_dict()`, which does not promise to return a JSON-serialisable object. So some additional processing is needed. (I don’t think it’s a good idea to make the change directly in `alchemy_to_dict()` either since the function is used for things not required to be JSON-serialisation.)

[2021-03-24 23:18] vikramkoka commented on #14859
Thank you for reporting this.

@YingboWang @KevinYang21 any thoughts on this?

[2021-03-24 23:27] uranusjr opened #14994 "dill version conflict fails CI"
Currently all PRs have their CI failing during the *Check if CI image build is needed* stage because `pip check` fails with

[code]

The source of the conflict is simple; Airflow itself declares `dill>=0.2.2, <0.4`, but `apache-beam[gcp]` (pulled in by extra) declares `>=0.3.1.1,<0.3.2`. The CI is currently using pip’s legacy resolver, which naively chooses in dill 0.3.3 when it seems the initial

[2021-03-24 23:43] potiuk commented on #14991
Yep. I can confirm this. Looking for a reason.

[2021-03-24 23:47] YingboWang commented on #14859
@anthonyp97 Thank you for reporting this.
In our cluster the smart sensor logging works fine. Look to me it may be related to the logging configuration setting.
The smart sensor task has two categories of log:
1. The task log for itself (similar to general task logs).
2. Cached handlers for all registered and sensing sensors. The logger of second group is initiated by SensorWork._get_sensor_logger

[2021-03-25 00:19] potiuk commented on #14991
Found it . My fault, sorry. Fixed in upcoming #14995

[2021-03-25 00:20] potiuk commented on #14991
This PR also adds protection so that we will not hit it again (checks if the recompiled assets are present in the images during CI check).

[2021-03-25 00:23] potiuk commented on #14991
Thanks for reporting/confirming @akihiro-inui @uranusjr !

[2021-03-25 01:08] potiuk commented on #14989
Looks like our sphinx can handle it, but mirroring seems to be a  feature of intersphinx mapping:

[code]

I think it is just a matter of:

a) automatically fetching the inventories from time to time
b) putting them on our S3 bucket with "web" property
c) adding automated mirroring from the S3 bucket.
d) we can even automatically update those S3 bucket inventories in our nightly scheduled build.

[2021-03-25 01:40] vikramkoka commented on #13925
@gedOHub Is there anything we can try to reproduce this?

[2021-03-25 01:48] vikramkoka commented on #13188
@paulobuch Apologies for the belated response.
Can you please let us know if there is any other information you can add here to reproduce this?

I tried this with Airflow 2.0.1 and it comes up as expected.

[2021-03-25 01:55] vikramkoka commented on #13934
Sorry @jonasrla missed this earlier.
I don't know the answer to this, but I am sure @ashb does.

[2021-03-25 04:55] vineethguna commented on #14851
I will add it to the documentation, Will submit the PR

[2021-03-25 05:55] kanga333 opened #15000 "When an ECS Task fails to start, ECS Operator raises a CloudWatch exception"
**Apache Airflow version**: 1.10.13

**Environment**:

- **Cloud provider or hardware configuration**:AWS
- **OS** (e.g. from /etc/os-release): Amazon Linux 2
- **Kernel** (e.g. `uname -a`):  4.14.209-160.339.amzn2.x86_64
- **Install tools**: pip
- **Others**:

**What happened**:

When an ECS Task exits with `stopCode: TaskFailedToStart`, the ECS Operator will exit with a ResourceNotFoundException

[2021-03-25 06:57] akihiro-inui commented on #14991
Thank you @potiuk , is this fix going to be released as the same tag apache/airflow:master-python3.8 after your PR is merged?

[2021-03-25 07:24] erparas opened #15001 "S3MultipleKeysSensor operator"
**Description**

Currently we have an operator, S3KeySensor which polls for the given prefix in the bucket. At times, there is need to poll for multiple prefixes in given bucket in one go. To have that - I propose to have a S3MultipleKeysSensor, which would poll for multiple prefixes in the given bucket in one go.

**Use case / motivation**

To make it easier for users to poll multiple S3 prefixes

[2021-03-25 09:42] uranusjr commented on #14989
Mirroring sounds like a good idea. What should happen if the nightly S3 bucket update fails?

[2021-03-25 09:46] eladkal commented on #15001
Must we have a new sensor for it?
Couldn't the current [S3PrefixSensor](https://github.com/apache/airflow/blob/775ee51d0e58aeab5d29683dd2ff21b8c9057095/airflow/providers/amazon/aws/sensors/s3_prefix.py#L36) be enhanced by changing `prefix` to accept `str` or `List[str]` that way it also backward compatible.

WDYT?

[2021-03-25 09:59] leonsmith commented on #13322
We hit this last night, ill follow up later today with some more information on environment & conditions it happened under.

[2021-03-25 10:32] zachary-povey commented on #13975
There is another fundamental issue with pools in airflow that this would help solve: if you use pools to limit concurrency across different DAGs you [lose the ability to prioritise one task above another  in the same DAG](https://stackoverflow.com/questions/66779968/how-does-task-priority-work-in-airflow-when-both-pools-and-dag-concurrency-are-u), which may have a concurrency limit on it. This is

[2021-03-25 10:37] oleksandr-yatsuk commented on #7935
We had the same issue with Airflow on Google Cloud until increased the setting **AIRFLOW__CORE__SQL_ALCHEMY_MAX_OVERFLOW**
The default value was 5, with a change to 60 our Airflow server started to perform very well, including on complex DAGs with around 1000 tasks each.
Any scale-up was resting on the database concurrent connections limit, so the scheduler was not able to perform fast.

[2021-03-25 11:03] kosteev opened #15003 "Running "upgrade_check" command from gcloud fails"
**Apache Airflow version**: 1.10.15

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.3", GitCommit:"1e11e4a2108024935ecfcb2912226cedeafd99df", GitTreeState:"clean", BuildDate:"2020-10-14T12:50:19Z", GoVersion:"go1.15.2", Compiler:"gc", Platform:"darwin/amd64"}

**Environment**: GCP Composer environm

[2021-03-25 11:10] kosteev opened #15004 "Running upgrade_check command doesn't process DAGs located in zip files"
**Description**
"airflow upgrade_check" command should consider that DAGs can be located in zip archives, as well as scheduler does.

**Use case / motivation**
User stores DAGs in zip archive file and willing to upgrade their Airflow instance from 1.10.15 version to 2.0. They want to run "airflow upgrade_check" command and see the correct report in this case.

Right now, for 1.3.0 version of "apac

[2021-03-25 12:17] barmanand commented on #12499
I have specified only /oauth-authorized/azure and it is working for me.

[2021-03-25 12:21] mrpowerus commented on #14974
Running a dummy task seems to solve the problem (in line with the findings before):
[code]

[2021-03-25 12:38] nkumar15 commented on #9486
@amirhmk did you able to solve it?

[2021-03-25 12:44] kaxil commented on #14955
I will take a look at it but we haven't removed ability to import macros -- it was ability to import operators and sensors. Those can be normal python modules. Plugin mechanism is not needed for it, hence it was removed. We want to keep plugin mechanism to add only UI related elements in future. So if you your python package or python module on syspath, you can import it directly via `from my_cust

[2021-03-25 13:02] eladkal commented on #14906
@mattshin feel free to submit PR with your proposal. There is no need to open issue first.

[2021-03-25 13:04] #14991 closed

[2021-03-25 13:07] XD-DENG opened #15005 "`GCSToLocalFilesystemOperator` unnecessarily downloads objects when it checks object size"
`GCSToLocalFilesystemOperator` in `airflow/providers/google/cloud/transfers/gcs_to_local.py` checks the file size if `store_to_xcom_key` is `True`.

https://github.com/apache/airflow/blob/b40dffa08547b610162f8cacfa75847f3c4ca364/airflow/providers/google/cloud/transfers/gcs_to_local.py#L137-L142

How it checks size is to download the object as `bytes` then check the size. This unnecessarily downloa

[2021-03-25 13:08] XD-DENG commented on #15005
CC @potiuk as you were the original author if I'm wrong :)

Please correct me if anything in my analysis above is incorrect, or maybe there was some reasons for what you implemented in this way?

Cheers!

[2021-03-25 13:24] XD-DENG commented on #15005
Sorry @potiuk I think I was wrong. You were not the original author of this chunk, and this code has been implemented 4+ years ago.

But it would still be appreciated if you have time to help share your inputs.

[2021-03-25 13:36] uranusjr commented on #14989
Sure! Could you provide some pointers where I should start looking for the code/configuration for the nightly builds?

[2021-03-25 14:33] RosterIn commented on #8292
mysqlclient has version 2.0.3 out:
https://pypi.org/project/mysqlclient/#history

[2021-03-25 15:05] Avinashreddy29 opened #15008 "Installed Airflow 2.0.1 and try login with created user credentials getting below error"
Python version: 3.6.9
Airflow version: 2.0.1
Node: ip-172-31-45-1.ec2.internal
-------------------------------------------------------------------------------
Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/flask/app.py", line 2447, in wsgi_app
    response = self.full_dispatch_request()
  File "/usr/local/lib/python3.6/dist-packages/flask/app.py", line 1952, in f

[2021-03-25 15:18] vikramkoka commented on #14593
@zqd759592942 Can you please share more information here so that we can understand the problem?

Also, here is a section of the Airflow documentation http://airflow.apache.org/docs/apache-airflow/stable/security/workload.html which may be useful in understanding the requirements for the use of the run_as_user configuration parameter.

[2021-03-25 16:45] ghost opened #15010 "Allow PostgreSQL's operator to return the query result"
**Description**

Right now this operator is not able to return any query result

**Use case / motivation**

It should be allowed to do so in order to use them to retrieve useful data and use it in the following nodes

**Are you willing to submit a PR?**

Yup ofc!
See https://github.com/apache/airflow/pull/15012 as a POC to start a discussion about the feasibility of the proposal

[2021-03-25 16:50] gopalakrishnanu commented on #14956
I was able to reproduce on Chrome(Version 89.0.4389.90)  and Safari (Version 14.0.3) on MacOS Catalina

[2021-03-25 17:31] amirhmk commented on #9486
Yes! In my case it was actually a small typo! Make sure the `awslogs_group` exists (maybe?)
and more importantly `awslogs_steam_prefix` is prefixed with the `task_name` and the `container_name`.

Also make sure your region is set properly

[2021-03-25 17:47] gopalakrishnanu commented on #14956
And this error is generated on the console when hovering over the task instance
![image](https://user-images.githubusercontent.com/6332524/112519369-4e050880-8d68-11eb-86f8-4e9662204e0a.png)

[2021-03-25 17:50] #14956 closed

[2021-03-25 17:54] gopalakrishnanu commented on #14956
This is happening only when the selected timezone is the 'server' timezone which doen't have the timezone name set. When I select UTC or CST it works fine. I will see if I can get the server time zone config updated
![image](https://user-images.githubusercontent.com/6332524/112520191-2a8e8d80-8d69-11eb-8d6a-3a69bd1bb331.png)

[2021-03-25 18:26] vikramkoka commented on #14101
@nicor88 In the interest of clarity, what executor are you using?
I am not sure it makes a difference, but trying to figure out how to reproduce this and it would definitely help there.

[2021-03-25 18:45] ryanahamilton commented on #14671
This appears to be a duplicate of #14374

[2021-03-25 18:45] #14671 closed

[2021-03-25 18:50] ryanahamilton commented on #13158
@hedrickw TIL that APP_THEME was a thing, so it certainly wasn't considered in the 2.0 refresh. I'm curious, is there a specific reason why you want to use an alternative theme?

[2021-03-25 18:52] #14799 closed

[2021-03-25 18:57] nicor88 commented on #14101
@vikramkoka We are using Kubernetes Executor, totally forgot to mention that in the issue.

[2021-03-25 19:05] vikramkoka commented on #14101
Thank you @nicor88

[2021-03-25 19:13] vikramkoka commented on #14834
@eflemist Can you please share additional information about what you are running into and elements from the issue template such as the environment?

It may be that you are having issues getting Airflow set up on your machine. This may be of help to you.
https://airflow.apache.org/docs/apache-airflow/1.10.7/installation.html

If you are just starting out with Apache Airflow, we would recommend that

[2021-03-25 19:18] ShawnMcGough commented on #14758
@gmcrocetti I did see that error, but if I recall correctly, that error is resolved after installing the recently released version 1.2 of  [apache-airflow-providers-microsoft-azure](https://pypi.org/project/apache-airflow-providers-microsoft-azure/1.2.0).

I do get the following errors on `airflow-web`. I've restarted the pod numerous times. As mentioned above, using the `Azure` type does work.

[

[2021-03-25 19:39] ShawnMcGough commented on #14758
@gmcrocetti
It looks like the issue I am having is that your [commit ](https://github.com/apache/airflow/commit/4372d456154a6922e0c0547a487af3cdadb43b4a) to address #14704 did not make it into the 1.2 release on pypi.org. 😞

I pulled down the code from the 1.2 release on pypi.org and confirmed that the fix is not there.

Is it possible to get a patch release for the fix?

[2021-03-25 19:41] vikramkoka commented on #13812
@rochamc What database are you using?
Since you are using MySQL, I suspect you are hitting the database column size in MySQL. Airflow uses SQLAlchecmy BLOB on MySQL which limits the xcom.value to 65,535 bytes

[2021-03-25 19:49] hlin14 opened #15014 "enable generate_pod_template in airflow 2.0.1"
**Description**

enable generate_pod_template in airflow 2.0.1 in cli

**Use case / motivation**

the pod_template_file is needed in airflow 2.0.1 while using Kubenetes Executor, however the command "generate_pod_template" is only existed in 1.10.14 but not in 2.0.1. It would be helpful if it can also exist in 2.0.1.

[2021-03-25 19:50] vikramkoka commented on #13322
@leonsmith Looking forward to more information. Not sure we can do much with this issue as it stands.

[2021-03-25 19:58] potiuk commented on #14991
Should be there in ~ 20 minutes.

[2021-03-25 19:58] vikramkoka commented on #13244
@michaelm6y Can you please share an example?
I can see several of the example_dags in the Airflow distribution which don't explicitly have a timezone defined.

[2021-03-25 20:45] williamBartos commented on #8743
Great! I missed this notification but ill definitely be checking it out when I get the chance

[2021-03-25 20:53] krnhotwings opened #15016 "OdbcHook string values in connect_kwargs dict converts to None"
**Apache Airflow version**: 2.0.1

**What happened**:

`OdbcHook` returns `None` for non-boolean-like string values in `connect_kwargs` dict arg

**What you expected to happen**:

`connect_kwarg` values should remain as is.

**How to reproduce it**:

[code]

**Anything else we need to know**:

The issue lies in: https://github.com/apache/airflow/blob/db9febdb3be97832679d2ced8028fd7f1c21cd4e/airflo

[2021-03-25 21:06] vikramkoka commented on #14538
@2011211242 Can you please elaborate on this?
An example DAG with the steps to reproduce this would be ideal, so that we can understand and reproduce the problem.

[2021-03-25 21:15] vikramkoka commented on #15008
@Avinashreddy29 Can you please elaborate with respect to where you are running this and what database?

Are you able to do the command: 'airflow users list'

The installation instructions here may be helpful https://airflow.apache.org/docs/apache-airflow/stable/installation.html

[2021-03-25 21:21] eflemist commented on #14834
Vikram, thanks so much for getting back to me... Actually it is resolved (i
figured it out)...  I was missing update to my PATH variable.

will update the question...

Thanks!

Ed

On Thu, Mar 25, 2021 at 3:14 PM Vikram Koka ***@***.***>
wrote:

[2021-03-25 21:22] ryanahamilton opened #15018 "Build out custom Table components"

[2021-03-25 21:24] ryanahamilton opened #15019 "Establish mutation patterns via the API"

[2021-03-25 22:09] uranusjr commented on #14989
I think I’ve it mostly figured out. Since we are already downloading the inventory locally ourselves into `docs/_inventory_cache`, we don’t really need to use the tuple form mentioned above. Instead, we can leave `conf.py` unchanged, but instead change `fetch_inventories.py` to check the mirror if the primary source fails during `_inventory_cache` population.

As mentioned above, the mirror invent

[2021-03-25 22:10] #14797 closed

[2021-03-25 22:13] ashb commented on #12838
Closing as a new version of pip has been released.

[2021-03-25 22:13] #12838 closed

[2021-03-25 22:14] ashb commented on #9641
Done.

[2021-03-25 22:14] #9641 closed

[2021-03-25 22:50] jscheffl opened #15023 "DAG task execution and API fails if dag_run.conf is provided with an array or string (instead of dict)"
**Apache Airflow version**: 2.0.1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): Tried both pip install and k8s image

**Environment**: Dev Workstation of K8s execution - both the same

- **OS** (e.g. from /etc/os-release): Ubuntu 20.04 LTS
- **Others**: Python 3.6

**What happened**:

We use Airflow 1.10.14 currently in production and have a couple of DAGs defined

[2021-03-25 22:55] vikramkoka commented on #12997
@dstandish Does this error show up with Airflow 2.0.1?
I realize this was originally reported on a release candidate, not sure if you have seen it with the released build?

[2021-03-25 22:58] vikramkoka commented on #12999
@dstandish Just trying to clean up some of the older issues. Is this still a problem?
I have run the scheduler / webserver for several hours with a local executor on SQLite without seeing this on 2.0.1.

[2021-03-25 23:02] vikramkoka commented on #12739
@Nick-0723 Just check if this issue is resolved with your PR?
Wanted to close this issue, but wanted to make sure first.

[2021-03-25 23:16] uranusjr commented on #12838
FWIW I tried `pip install apache-airflow[all]` and it works correctly. Or rather, it corretly did not work due to #14994.

[2021-03-25 23:28] vikramkoka commented on #10721
Assigned to you @v1lev

[2021-03-25 23:34] dstandish commented on #12999
i will close for now it surfaced during testing but i have not tried sqlite for a while so i can't say if i can still repro

[2021-03-25 23:34] #12999 closed

[2021-03-25 23:47] vikramkoka commented on #12941
@suxin1995 Can you please give any further information on this?
It is fairly normal to run the airflow scheduler in the background as a daemon using the "airflow scheduler -D" command.

[2021-03-26 00:22] uranusjr commented on #14989
First stab in #15024.

[2021-03-26 01:20] v1lev commented on #10721
@vikramkoka , hi, i don't want to work on this task anymore

[2021-03-26 01:39] Avinashreddy29 commented on #15008
hi ,

followed the same steps provided by apache airflow.

please find the attached screenshot.

after i login to airflow with user credentials getting a shared error .

let me know anything to check .

regards,
avinash

On Fri, Mar 26, 2021 at 2:46 AM Vikram Koka ***@***.***>
wrote:

[2021-03-26 01:52] AmarEL commented on #15010
Nice topic.
I faced a situation a few months ago that I needed the result query and discovered that it was not possible.

Btw, if the community accepts it, some doc update describing this behavior would be nice.
I recommended a few months ago make it clear in the documentation, but I think that it still vague:
https://github.com/apache/airflow/pull/13281#discussion_r548752923

[2021-03-26 02:35] AmarEL commented on #15001
We created the same sensor here to look for specific keys in the s3.
In our case, since the prefix was different, we did it on top of the `check_for_key` from s3 hook class (The same used by the S3KeySensor).
[code]

Make `S3KeySensor` to accept str or List[str] would work too.
Btw, apply this behavior for the three current sensor for s3 would be nice

[2021-03-26 03:30] imsheth commented on #13487
Thank you @sudohainguyen this works!

[2021-03-26 05:59] suiting-young opened #15025 ""pool_slots" may be None"
https://github.com/apache/airflow/blob/b1ce429fee450aef69a813774bf5d3404d50f4a5/airflow/jobs/scheduler_job.py#L1041

This would trigger error
[code]
as the `task_instance` is fetched directly (*without the patch of `refresh_from_db`*)
https://github.com/apache/airflow/blob/b1ce429fee450aef69a813774bf5d3404d50f4a5/airflow/jobs/scheduler_job.py#L930-L935

Related to #8153.

[2021-03-26 07:30] dstandish commented on #12997
have not, will close

[2021-03-26 07:30] #12997 closed

[2021-03-26 07:36] tatianguiqu commented on #9722
Thank you very much! I met the same problem and fixed it by adding git-sync init-container. Several days of confusion was finally solved.  I have tried modifying the directory structure, using PYTHONPATH and sys.path. All of these did not work.

[2021-03-26 08:05] DanielSolyomSA opened #15027 "It's not 1st of April yet, whats going on boys?"
???

[2021-03-26 08:06] #15027 closed

[2021-03-26 08:09] nttdriva commented on #15010
Hi @AmarEL thanks for the feedback.
I agree with you, having more information on the documentation side would be really helpful

[2021-03-26 09:23] nkumar15 commented on #9486
Thanks @amirhmk for your response.
Not sure what I am doing wrong.

in cloud watch I see log entries
log group as /ecs/hello-world
logstream as /ecs/hello-world/<unique uuid value>

in ecs fargate
my task name and container name are both hello-world
and container log configuration is

awslogs-group = /ecs/hello-world
awslogs-region =ap-southeast-1
awslogs-stream-prefix = ecs

and in airflowecsoper

[2021-03-26 11:02] ashb commented on #14989
I think the build job in CI should always use the S3 cache - it is much more predictable and under our control that way.

And if we have the mirror as a separate workflow, then it can be triggered manually if we want to update it sooner than the nightly job.

[2021-03-26 11:15] ashb opened #15028 "Don't remove "full tests required" label when PR is created with it"
Right now we have some process/part of the CI pipeline that is removing the "full tests required" label from newly created PRs. https://github.com/apache/airflow/pull/15022#event-4510424213

This only applies to committers/PMC who can choose to apply this label to a PR (non committers can't control labels) but in this case we shouldn't remove the label.

[2021-03-26 12:57] potiuk commented on #14989
Looks great! @uranusjr !

I have another thought in the meantime. Why not using caching of GitHub Actions: https://docs.github.com/en/actions/guides/caching-dependencies-to-speed-up-workflows - the inventory files are not big (2.3 M):

[code]

So we could simply cache use already existing cache mechanism this way?  That will probably be way simpler than setting up S3 and managing it periodically?

[2021-03-26 14:34] uranusjr commented on #14989
Using GitHub Action’s cache sounds like a cool idea. The only concern I have is the cache can be pretty difficult to purge if something goes wrong (maybe just me not knowing a good way to do it). Maybe we should have a “cache busting” part to the key (e.g. `cache-inventory-${{ hashFiles('constrant-3.8.txt') }}-${{ cacheKey }}` where `cacheKey` is a variable in the Action’s config) so we can force

[2021-03-26 14:36] ashb commented on #14782
Just noticed this happening a lot today, and (thanks to the extra logs) I am testing a change to when we mark a node as OkayToTerminate.

[2021-03-26 14:41] #14326 closed

[2021-03-26 14:43] #14834 closed

[2021-03-26 14:43] eflemist commented on #14834
closing...

[2021-03-26 14:44] ashb commented on #8245
Closed by https://github.com/apache/airflow/pull/13421 but exit code will be changed in https://github.com/apache/airflow/pull/14963

[2021-03-26 14:44] #8245 closed

[2021-03-26 14:51] uranusjr commented on #14989
I just thought of another thing, does Action’s cache set file creation date etc. correctly? Because if it does not, we won’t be able to fetch in new documentation updates (say the `1.4` version of a documentation releases a fix without changing the URL) since the files we retrieve from the cache will always be newer.

[2021-03-26 15:49] ashb commented on #8237
This is not currently how the scheduler operates -- the task is not scheduled until _after_ period is over, so period for 2020-04-12 11:52:00 will be scheduled at-or-just-after 2020-04-13 11:52:00.

_Currently_.

[AIP-39](https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-39+Richer+scheduler_interval) has just been accepted and we will start working on this, and that will give the ability to

[2021-03-26 15:49] #8237 closed

[2021-03-26 16:16] ashb commented on #14955
Macros are only designed for use in Jinja templates, not for calling directly from Python code as you are trying.

In your case you to import it directly from the plugin: something like `from utils import ret_one`

"Working as designed" in otherwords.

[2021-03-26 16:18] ashb commented on #14838
What is your task definition? I think the problem is the quoting of your bash_command attribute.

[2021-03-26 16:20] yacine-del opened #15032 "Probléme d'accés user et pass"
<!--
I need for your help

sqlalchemy.orm.exc.DetachedInstanceError: Parent instance <PermissionView at 0x7f368c6e6d30> is not bound to a Session; lazy load operation of attribute 'view_menu' cannot proceed (Background on this error at: http://sqlalche.me/e/14/bhk3)

Tank you all

[2021-03-26 16:26] ashb commented on #13823
I think this is worse than not sequencing right, but if if the sequence was explicitly set, the parameters might not be what you expect (i.e. the output of the py task.). _Might_.

[2021-03-26 16:28] yacine-del commented on #15032
Ci-dessous le message d'ERR

sqlalchemy.orm.exc.DetachedInstanceError: Parent instance <PermissionView at 0x7f368c6e6d30> is not bound to a Session; lazy load operation of attribute 'view_menu' cannot proceed (Background on this error at: http://sqlalche.me/e/14/bhk3)

[2021-03-26 16:30] ashb commented on #14660
This is def a bug.

It can be worked around by changing the python callable to not take `**kwargs`:

[code]

But this definately is a bug that we'll fix.

[2021-03-26 16:30] easthy-alterpost commented on #10790
Trying Airflow 2.0.1. No tasks could be executed :(
`scheduler_1  | [2021-03-26 16:25:55,097] {{scheduler_job.py:941}} INFO - 1 tasks up for execution:

scheduler_1  |  <TaskInstance: test_dag.mirrors_to_vaniks 2021-03-26 16:25:55.009735+00:00 [scheduled]>

scheduler_1  | [2021-03-26 16:25:55,100] {{scheduler_job.py:975}} INFO - Figuring out tasks to run in Pool(name=default_pool) with 128 open sl

[2021-03-26 16:34] ashb commented on #14660
Oh actually, this may just be a "bug"/change needed in your tests for 2.0:

[code]

This works.

[2021-03-26 16:34] #14660 closed

[2021-03-26 16:44] Jake-Gillberg commented on #14838
It is exactly the tutorial task / dag: https://airflow.apache.org/docs/apache-airflow/stable/_modules/airflow/example_dags/tutorial.html

The problem isn't with running the task, but with reporting that it has finished to the airflow database

[2021-03-26 16:49] luis-serra-ki commented on #12499
I'm using version 2.0.1-python3.8 and I'm, having the same problem

[2021-03-26 16:55] benwatsonnandos commented on #14955
OK thanks for the info, I'll use macros this way then.

[2021-03-26 16:55] #14955 closed

[2021-03-26 17:09] marcosmarxm commented on #14660
Thanks @ashb I'm going to say this to the user

[2021-03-26 17:14] jpmsilva commented on #9975
Hi there
We are facing a similar issue: we have a DAG that runs to make a system consistent. We want to trigger this DAG via the stable REST API when certain things happen on a separate system. Because the DAG makes the system consistent, regardless when it runs, we want to have at most one instance running, and another queued. If there is a queued DAGRun, there is no point in queueing another, si

[2021-03-26 17:17] ashb commented on #13934
I think generally the extra should be encoded as query-string-escaped json, so:

[code]

It's _unwieldly as anything_

[code]

[2021-03-26 17:25] ashb commented on #13934
How would you handle these two cases:

[code]

and

[code]

It's an edge case for sure, but we need to at least document how it behaves.

[2021-03-26 17:27] ashb commented on #14782
Let me know if you notice any more instances now.

[2021-03-26 17:28] #8292 closed

[2021-03-26 18:25] iameugenejo opened #15036 "Scheduler is skipping a day sometimes"
I'm having an exactly same issue as this user - https://www.reddit.com/r/dataengineering/comments/lri9fv/airflow_dag_is_skipping_a_day/

**Apache Airflow version**: 2.0.1

**Environment**:

- **Cloud provider or hardware configuration**: on prem
- **OS** (e.g. from /etc/os-release): ubuntu 18.04
- **Kernel** (e.g. `uname -a`): Linux {REDACTED} 5.4.0-64-generic #72~18.04.1-Ubuntu SMP Fri Jan 15 14:

[2021-03-26 18:42] potiuk commented on #14989
In this case we will simply change the cache prefix. We've done that several time. we can always turn it into:

[code]

by changing the .yml file. No need for special variable for that -t can simply be changed in ci.yml. And I think this cache will be self-healing. As I understand it the inventory we are using now simply downloads URL and only if it fails, it reads it from the cache @mik-laj might

[2021-03-26 18:45] potiuk commented on #14989
Yeah. I think this is part of the solution, but I guess it will be easy by just running the inventory pull and seeing when it fails  (and make some exception list).

[2021-03-26 19:01] mik-laj commented on #14989
Not exactly. Before building, we download all inventories to the cache. If it is a third -party library, we download the inventory from the project documentation.  If this is our package then we download it from the S3 bucket -http.//s.apache.org/apache-airflow.

By default, all builds should use the cache.

[2021-03-26 19:07] potiuk commented on #15028
It gets removed when the Image is not in "removed" state

The current process is that label is not really supposed to be "manually" set - it is set automatically when we determine that the PR "likely" needs full tests and after it gets approved by a committer. If it gets "deapproved" it looses the label. We might want to change it that once the label is set (whether automated or manual) it can onl

[2021-03-26 19:10] ashb commented on #15028
I've been setting it manually as an optimization (for instance when I know a change will need full tests.) to avoid a second test run. I _thought_ this used to work, but I'm not 100% sure.

In this case it didn't get unapproved, it was just never approved :).

[2021-03-26 19:11] potiuk commented on #15028
Yeah. to be precise the label is automatically removed now when the PR has no "Approved" status (non-approved also falls in this category :) ). It think @TobKed that would require slight change in the action of yours ?

[2021-03-26 19:26] potiuk commented on #15028
PR created in @TobKed 's action: https://github.com/TobKed/label-when-approved-action/pull/6

[2021-03-26 19:44] potiuk commented on #14989
So I guess the solution is to :

1) Restore cache always from github's cache with restore-key: fallback when hash of constraints changed
2) Try to download from 3rd-party to that cache (and if we can't load we just skip the download rather than fail the build)
3) Build the docs from cache

Then if the fallback cache has been chosen the new cache will be created using the newly updated cache

We ca

[2021-03-26 20:04] mik-laj commented on #14989
We should make sure that the documentation for our packages is also built with the cache from the S3 bucket. In some cases, the Github Actiion cache may be empty, which will cause our build to continue. very very long and it is very likely that we will have a timeout.  But we can skip retrieving inventories from the bucket if we can restore the files from Github Acttion.

[2021-03-26 20:08] potiuk commented on #14994
We are using constraints to limit the version of dill that is installed, however we know apache beam has a number of problems with dependencies. The reason we are not failing in CI is simple.

https://github.com/apache/airflow/blob/fe2a70c713f8d12199579bfca26eb916035ab206/setup.py#L750

[code]

The `dill` failing the build was a different reason entirely. This has been fixed in https://github.com/

[2021-03-26 20:09] mik-laj commented on #15032
Sorry, but this project prefers English for communication. Can you create a new ticket written in English?

[2021-03-26 20:09] #15032 closed

[2021-03-26 20:12] mik-laj commented on #15008
@Avinashreddy29 Do you use constraints files? http://airflow.apache.org/docs/apache-airflow/stable/installation.html#constraints-files

[2021-03-26 20:18] mik-laj commented on #15018
@ryanahamilton Could you please write a little more? Apache Airflow is a community-managed project, so we should pay special attention to make the scope and purpose of the changes known to everyone. Otherwise, people who do not follow all activities in the project cannot participate in the development of the project.

[2021-03-26 20:22] mik-laj commented on #15023
It's expected behavior. We only support Dict as a DAG argument. See discussion: https://lists.apache.org/thread.html/r88f5f57b4586f75eda382ce2c7309bd32b58cd9cfa1b01f681b6c8d1%40%3Cdev.airflow.apache.org%3E

[2021-03-26 20:22] mik-laj commented on #15023
Are you willing to submit a PR with validation?

[2021-03-26 20:23] XD-DENG commented on #15025
Hi @suiting-young , may you please share the specific steps reproducing the error?

[2021-03-26 20:29] ryanahamilton commented on #15018
@mik-laj yes, details are coming! We have this issue in the "Needs Scoping" column of [the project board](https://github.com/apache/airflow/projects/9). Maybe there's a label we could/should add to make it clear that it isn't ready to be worked on for people not looking at Issues via the project board?

[2021-03-26 20:38] mik-laj commented on #15018
I am afraid that no label will help because new members of the community will not understand it. The link to the project won't help either, because it still doesn't explain what we want to do. The project does contain a hint. Its name includes "AIP-38", but that also doesn't help a new contributor.

I think that each ticket requires a description that explains what and why we want to do.  I was in

[2021-03-26 20:42] Mokubyow commented on #14327
Just wanted to chime in here since I had the same exact issue. I found the issue was only present when using the deprecated executor_config format. When I upgraded to using the pod_override with the k8s models my graph view was able to render. So it appears to be due to something in the backward compatibility process. Example:

**Broken...**
[code]

**Works!**
[code]

[2021-03-26 20:42] ryanahamilton commented on #15018
That makes sense. Maybe the best course of action will be to just add them to the project board asa "Notes" until we're ready to convert to an Issue with full details.

[2021-03-26 21:32] jscheffl commented on #15023
Hi mik-laj,
I'll try to propose a PR for option #2 on the weekend, let me have a bit of time :-)
Jens

[2021-03-26 22:00] mik-laj commented on #10723
AutoMLPredictOperator is also affected.

[2021-03-26 22:49] Avinashreddy29 commented on #15008
Hi kamil ,
No I think while using constraint file I got some error,so I skip that step.

Regards,
Avinash
Sent from my iPhone

[2021-03-26 22:52] potiuk opened #15045 "Make some providers non-compatible with Py3.9"
Seems like not all providers (cassandra #15002 and PyArrow dep  #11950) coming from  are not compatible with Py3.9. Maybe we could identify the providers that are not compatible and mark them as non-py3.9 compliant and remove them from Py3.9 build (including tests).

That would unblock #11950 and have a pattern in place to deal with other, similar incompatibilities in the future.

[2021-03-26 23:49] jedcunningham commented on #13006
#14954 provides a little more clarity, but we still should make it consistent.

[2021-03-27 10:34] potiuk commented on #14994
The problem will be solved finaly in the next version of beam it seems - see https://github.com/apache/beam/pull/14328.

In the meantime I will make a change that will make us ready to remove beam from this exclusion when new version is released without mock dependency.

[2021-03-27 13:07] potiuk commented on #14656
Hey @ashb I thought about much simpler approach:

1 T2 Spot Instance  = 0.008 USD/hr ~ 6 USD/Month. And those machines that we need for 'quick' tasks have really, really small requirements,

Why don't we create a second AutoScaling group with Say 3 x T2 spot instances (always 3 for redudancy) = 18 USD/MO. They will be constantly running so there will be no warm-up cost. We could dedicate three of

[2021-03-27 13:11] potiuk commented on #14656
We could even use Spot Fleet for that, not auto-scaling https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/spot-fleet.html

[2021-03-27 13:28] ashb commented on #14656
We'll need ASF Inra to apply labels to three of the runners which we then put in the `runs-on` in the workflow file, else we can't control which jobs go on these T3 (T2 is a gen old now) vs the larger ones - it will be random which runner a job ends up on.

We'll also need to change the credential fetch script so that _if_ one of these small runners is down the R5 machines don't yet to use these s

[2021-03-27 15:22] rabsr commented on #8061
@JCoder01 Will you be able to share the patch for this feature? I would like to try it in our setup.

[2021-03-27 17:12] Narendra-Neerukonda commented on #14166
Tested this approach #15052 . Defunct processes no longer stick around.

[2021-03-27 17:19] potiuk commented on #14782
closing as it's been already updated several times since and is better I belive

[2021-03-27 17:19] #14782 closed

[2021-03-27 17:24] potiuk commented on #14656
Before I go the "small instance" route, I am going to experiment now with the bigger instances. I think even now they will give us significant boost and cheaper prices (because they will be needed for shorter time). We got some 30 USD/day with parallel tests (which is ~ 800 USD/month give or take including lower traffic during weekends) which is still quite a bit too high.

I set the autoscaling l

[2021-03-27 18:15] ashb commented on #14656
Desired is adjusted up to the max whenever a run is created and there are no idle runners - adjusting out will just get readjusted back up when the next job comes along

[2021-03-27 19:57] Avinashreddy29 commented on #15008
Hi Team ,

Please let us know how to proceed with the next steps ..or we need to re-install the apache airflow 2.0 once gain .

We are struck in using the Airflow 2.0 features .

Regards,
Avinash.L

[2021-03-27 20:03] potiuk commented on #15008
What error did you have when using constraints ?

You should not skip it basically.

It looks like you might have some dependency problem.. If you have some dependencies that are not compatible, you will have errors but if you will not tell us the details of error you got when installing airflow, we will not be able to help.

[2021-03-27 20:35] Avinashreddy29 commented on #15008
Hi Team ,

Please find the below error message installed Ubuntu 18.04.

airflow@ip-172-31-45-1:~$ AIRFLOW_VERSION=2.0.1
airflow@ip-172-31-45-1:~$ PYTHON_VERSION="$(python --version | cut -d " " -f 2 | cut -d "." -f 1-2)"
Python 2.7.17
airflow@ip-172-31-45-1:~$ PYTHON_VERSION="$(python3 --version | cut -d " " -f 2 | cut -d "." -f 1-2)"
airflow@ip-172-31-45-1:~$ echo $PYTHON_VERSION
3.6
airflow@ip-1

[2021-03-27 21:00] Avinashreddy29 commented on #15008
Hi Team ,

Thanks issue got resolved sudo python3 -m pip install --upgrade pip

[2021-03-27 21:11] Avinashreddy29 commented on #15008
Hi Team ,

Need sample program how to use REST API to check the list of dags using python programmatically .

When i below getting 401 error .

import requests

response = requests.get("http://3.81.45.85:8080//api/v1/dags")
print(response)

[2021-03-27 22:41] #14994 closed

[2021-03-28 00:28] JCoder01 commented on #8061
Hi @rabsr here you go, let me know if you have any questions.
[code]

[2021-03-28 06:15] koliankolin commented on #14975
UPD: I found out reasons that cause this problem.

As I mentioned before bug is reproduced with filling pickle_id in dag table. For that purpose we use DagModel.

I should start with a fact that creating task_instance to launch happens differently. For example using DebugExecutor we import TaskInstance and create simple instance of it, using cli command (airflow tasks run --pickle 1) we also use l

[2021-03-28 10:17] lordozb commented on #14940
@XD-DENG
Here is the pull request https://github.com/apache/airflow/pull/15056

[2021-03-28 10:56] turbaszek commented on #14975
@koliankolin would you be interested in opening a PR with a fix?

[2021-03-28 11:38] koliankolin commented on #14975
@turbaszek yes, of course I'll try to do my best to fix it as soon as possible

[2021-03-28 12:07] codersky commented on #14159
as a workaround, we change the conf column from tiny blob to medium

[2021-03-28 13:16] jscheffl commented on #15023
Hi @mik-laj I made my first PR (after struggeling a bit with GIT and GitHub processes) - I needed to open a second (at least I was not able to figure out how to update the first PR afte rpylint errors) - Can you support to get a review?

[2021-03-28 14:08] #14940 closed

[2021-03-28 14:08] XD-DENG commented on #14940
Fixed by #15056

[2021-03-28 14:20] yacine-del opened #15058 "lazy load operation of attribute 'view_menu' cannot proceed"
Hello !

I encountered the problem below when connecting airflow

sqlalchemy.orm.exc.DetachedInstanceError: Parent instance <PermissionView at 0x7fd24506e630> is not bound to a Session; lazy load operation of attribute 'view_menu' cannot proceed (Background on this error at: http://sqlalche.me/e/14/bhk3)

I need for help Tank you

[2021-03-28 14:21] yacine-del commented on #15058
-------------------------------------------------------------------------------
Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/flask/app.py", line 2447, in wsgi_app
    response = self.full_dispatch_request()
  File "/usr/local/lib/python3.6/dist-packages/flask/app.py", line 1952, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "/usr/local/

[2021-03-28 15:15] mik-laj commented on #15058
Do you use constraints files to install Airflow?

[2021-03-28 15:40] ephraimbuddy opened #15059 "Remove 'user_id', 'role_id' from User and Role in OpenAPI schema"
Would be good to remove the 'id' of both User and Role schemas from what is dumped in REST API endpoints. ID of User and Role table are sensitive data that would be fine to hide from the endpoints

[2021-03-28 17:24] luis-serra-ki commented on #12499
Hello guys,

I'm having a similar problem. I'm running airflow on a kubernetes cluster, and I'm using NGINX as my ingress controller, so all my certificates are being provided/managed by it, and I saw that because of this, airflow are making the auth request with the field redirect_uri using HTTP, but on Azure side, on Authentication App settings there is no way to add an HTTP redirect uri.

Is th

[2021-03-28 17:59] marclamberti commented on #14261
@kaxil I get the same issue in local with KinD. Every 5 mins as described in scheduler-deployment.yaml
[code]
I ran the script in the scheduler pod and it returns True. However, it still continues to fail. I didn't figure out yet why is that.

[2021-03-29 03:33] #14857 closed

[2021-03-29 05:46] #14752 closed

[2021-03-29 07:07] tduriez-bc commented on #10544
The problem still exists on Airflow version 1.10.14+composer

[2021-03-29 07:12] KayleMaster commented on #14969
I just encountered this issue at work today. It turns out I cannot write a DAG that runs every 6 hours from 11:30. I tried with cron `0 */6 * * *` but of course that runs 00:00/06:00 etc (that's expected behaviour). I switched to the obvious start_date + timedelta combo. But it turns out it just uses the DAG unpause time as the new start_date???
Now I have to go around and do stupid things like wr

[2021-03-29 10:36] mrpowerus commented on #14974
After closer inspection and debugging, it seems that a urllib3.exceptions.ProtocolError is raised by the Kubernetes client. This error is not accounted for in Airflow. Airflow just goes to [Exception](https://github.com/apache/airflow/blob/9b428bbbdf4c56f302a1ce84f7c2caf34b81ffa0/airflow/executors/kubernetes_executor.py#L110). And raises. This exits the while loop and that's it. No mercy.

[2021-03-29 12:05] bintocher opened #15066 "try to open admin->xcom and get error message"
Hi,
i'll try open Admin-XComs (http://url/xcom/list/) and get error page:

Something bad has happened.
Please consider letting us know by creating a bug report using GitHub.

Python version: 3.7.3
Airflow version: 2.0.1
Node: hostname.local
-------------------------------------------------------------------------------
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packag

[2021-03-29 12:06] RicardoPedrotti commented on #13542
I'm facing the same issue as OP and unfortunately what @renanleme said does not apply to my situation.
I read a lot about the `AIRFLOW__SCHEDULER__RUN_DURATION` that @jonathonbattista mentioned to be the solution, but first of all, this config does not appear to be implemented in airflow 2.X and second,  as the [Scheduler documentation](https://airflow.apache.org/docs/apache-airflow/stable/schedul

[2021-03-29 13:08] marclamberti commented on #12334
I have this issue with Airflow 2.0.1 and the Helm chart.
It happens since I enabled remote logging with S3 where the credentials are given through a Secret object.
[code]
And whenever I try to get the logs I get this message:
[code]
which I think is misleading as the user has all permissions on the bucket/objects. I tried from the worker pod and I can access the bucket and put files into it. But,

[2021-03-29 14:47] ashb commented on #13823
Fixing this properly so it actually does what you want (set the dep between tasks _and_ passes the value in the parameter is more than a bug fix, so I'm pushing this to 2.1.

In the mean time, the way to specify the dependencies is this:

[code]

[2021-03-29 15:15] ryanahamilton commented on #13528
Resolved by #13528

[2021-03-29 15:15] #13528 closed

[2021-03-29 16:12] NBardelot opened #15069 "Filesystem sensor, glob, and remote FS (like with SFTPHook)"
Hi, I cannot currently reproduce this as a bug but I'm very confident some people will stumble on the issue in the long run (a colleague of mine just did but using Airflow 1.10, though I think the issue is still the same in Airflow 2). So I open this issue in order to at least document the subject.

The filesystem sensor uses a glob behaviour, since this PR : https://github.com/apache/airflow/pull

[2021-03-29 16:24] ianlofs commented on #14364
Hello! Any updates on this? @ashb. This is definitely preventing us from upgrading to Airflow 2 as these latency metrics are really important to how we monitor Airflow.

[2021-03-29 16:27] jedcunningham commented on #14261
@marclamberti is there anything useful in the pods events?

[2021-03-29 17:22] marclamberti commented on #14261
Unfortunately not
[code]

But, after a lot of trials and errors, those 2 lines:
[code]
make the livenessprob failing.
Right now I have only this:
[code]
and still, every 5 mins the scheduler is restarted.
If I remove those lines, it works as sys.exit(0)

[2021-03-29 17:25] eladkal commented on #14434
fixed in https://github.com/apache/airflow/pull/15051

[2021-03-29 17:25] #14434 closed

[2021-03-29 17:39] ryanahamilton commented on #10200
I wasn't able to reproduce the exception. I do see the pagination link URLs as described when there are no results. There is a "disabled" CSS class and visual treatment applied, but you are still able to click the disabled links. Seems as though this could be easily resolved by setting `pointer-event: none;` on the disabled pagination links to prevent them from being clicked to begin with.

![Scre

[2021-03-29 17:46] ianstanton opened #15071 "Run serve_logs process as part of scheduler command"
**Description**
- The `airflow serve_logs` command has been removed from the CLI as of 2.0.0
- When using `CeleryExecutor`, the `airflow celery worker` command runs the `serve_logs` process in the background.
- We should do the same with `airflow scheduler` command when using `LocalExecutor` or `SequentialExecutor`

**Use case / motivation**
- This will allow for viewing task logs in the UI when u

[2021-03-29 18:04] ephraimbuddy opened #15072 "Refactor the REST API endpoints"
The REST API endpoints have a lot of common parts. It will be good to refactor the endpoints and have a common base that the endpoints inherit from. This way, It will be easier to author endpoints.

The refactoring should include the discussion at https://github.com/apache/airflow/pull/14895#discussion_r600334911 if the PR is merged

[2021-03-29 19:12] #13656 closed

[2021-03-29 19:16] ashb commented on #15066
Hmmm, this is something odd about the value that is pickled.

Do you happen to know what sort of value you returned from the tasks in np_run_test_tasks.py dag file?

[2021-03-29 19:46] marclamberti commented on #14261
That's the last logs I get before the scheduler gets killed by Kubernetes
[code]

[2021-03-29 19:54] itroulli commented on #12413
@kurtqq Sorry for the delay, I've been busy the past few days.

I had in mind some pieces of code like the import/export functions that treat variables as a key/value pair in which it would be required to change the struct to be able to import/export the description too. I might be wrong and have misunderstood something though. I'll try to give it a shot as soon as I find some time (first by skipp