[2022-11-02 20:14] codekronik commented on #27474
Hm. Odd I'm using Airflow 2.4.2 and its still returning old prefix.

[2022-11-02 20:18] potiuk commented on #27474
You must have wrong Provider version: https://airflow.apache.org/docs/apache-airflow-providers-postgres/stable/index.html#id12 (postgres provider 4.0.0 has this fix implemented https://github.com/apache/airflow/pull/21205.  I guess you have not installed/upgraded to the new version of airflow with constraints (https://airflow.apache.org/docs/apache-airflow/stable/installation/installing-from-pypi.

[2022-11-02 20:19] potiuk commented on #27474
Closing. We can reopen if there are new evidences.

[2022-11-02 20:19] #27474 closed

[2022-11-02 20:28] Osamaelgendy opened #27475 "ModuleNotFoundError: No module named 'airflow.operators.PythonOperators'"
### Apache Airflow version

Other Airflow 2 version (please specify below)

### What happened

I used puckel/docker-airflow latest image to build airflow web server in docker-compose file with other services.
The problem is when it starts the dagfile.py, this error pops up
I read that **Importing operators, sensors, hooks added in plugins via airflow.{operators,sensors,hooks}.<plugin_name> is no l

[2022-11-02 20:37] matthewblock commented on #27449
A few other details I discovered while debugging:

- The "first" (most upstream) `upstream_failed` tasks have no `start_date` or `end_date` but the tasks immediately downstream of them that are also `upstream_failed` _do_ have `start_date` and `end_date`
- I noticed in another task that ran successfully, that is in parallel to the `upstream_failed` tasks, log this:

[code]

[2022-11-02 20:52] alexakra opened #27476 "Volume is missing for sshKeySecret when dag persistence is enabled."
### Official Helm Chart version

1.7.0 (latest released)

### Apache Airflow version

2.3.4

### Kubernetes Version

1.22.6

### Helm Chart configuration

[code]

### Docker Image customisations

_No response_

### What happened

This commit: https://github.com/apache/airflow/commit/3fc895b9dfe8e7b77538bd80754fb17ccf92db49 causes the following error because volumeMount is created but the volume is

[2022-11-02 20:56] codekronik commented on #27474
@potiuk I have the latest airflow, with latest packages.

![Screenshot 2022-11-02 215436](https://user-images.githubusercontent.com/12471965/199600779-1cd79984-1160-41ed-9104-608b07f78d9c.png)

![Screenshot 2022-11-02 215608](https://user-images.githubusercontent.com/12471965/199600870-c226b693-ce04-4467-82ee-f4b8e2b96b88.png)

I have tried rebuilding the image. I have tried refreshing the require

[2022-11-02 21:01] calebwoofenden commented on #11979
I am running into the same issue. My solution was to set this value in the helm chart:
[code]
This solves the problem raised in this issue since it no longer uses the pre-install hook for the migrate db job.

However, I now see an issue sometimes when running `helm upgrade --install` to patch an existing helm install where it's trying to patch the `Job` resource, which cannot be done since `Job`s

[2022-11-02 21:18] matthewblock commented on #27449
Unfortunately it's proprietary code from my employer, hence the de-ID. I am attempting to create a new test DAG that I can share to reproduce the error.

[2022-11-02 21:46] Corea commented on #27475
`puckel/docker-airflow` seems to be unmanaged for a long time. As it uses Airflow 1, please use different container provides Airflow 2.

[2022-11-02 22:15] vitaly-krugl opened #27477 "Unexpected Last Run same as Next Run timestamp in DAGs view"
### Apache Airflow version

Other Airflow 2 version (please specify below)

### What happened

Recently upgraded to apache-airflow 2.3.1 (from 1.10.15)

Observed that several of the dags sometimes have Last Run timestamp same as Next Run timestamp in DAGs view. This changes from time to time. This was not observed prior to upgrading to Airflow 2.x.

See Screenshot for examples:
![Screen Shot 2022-

[2022-11-02 22:48] matthewblock commented on #27449
I was able to successfully create a test case. I also updated the issue language reflecting more research.

At this point I can't imagine why this behavior is desirable but it's likely I'm missing something.

[2022-11-02 23:42] Osamaelgendy commented on #27475
Thank you, I'll try another one

[2022-11-02 23:43] raphaelauv opened #27478 "Scheduler crash when clear a previous run of a normal task that is now a mapped task"
### Apache Airflow version

2.4.2

### What happened

I have clear a task A that was a normal task but that is now a mapped task

[code]

### What you think should happen instead

Airflow should evaluate the existing and previous runs as mapped task of 1 task

cause I can't see the logs anymore of a task that is now a mapped task

### How to reproduce

dag with a normal task A
run dag
task A succe

[2022-11-03 01:33] raphaelauv opened #27479 "webserver add role to an existing user -> KeyError: 'userinfoedit'"
### Apache Airflow version

Other Airflow 2 version (please specify below)

### What happened

airflow 2.4.1

a existing user only have the role Viewer
I add with the UI the role Admin
click on button save

then error ->

[code]

### What you think should happen instead

_No response_

### How to reproduce

_No response_

### Operating System

Ubuntu 20.04.4 LTS

### Versions of Apache Airflow Pro

[2022-11-03 04:29] rkarish commented on #26854
I could take a look into this one over the next few weeks. Trying to think of ways to accomplish this... Is this going to require changes to `BaseExecutor`, `TaskInstance`, and `BaseOperator`? As a starting point I was thinking about adding a parameter to `BaseOperator` and `TaskInstance` and be able to access it somewhere in `BaseExecutor` to handle failing all tasks within a dag run. Does this s

[2022-11-03 06:26] tirkarthi commented on #27479
Looks like a duplicate of https://github.com/apache/airflow/issues/22035

[2022-11-03 06:48] ephraimbuddy commented on #27449
I was not able to reproduce with your test case. You also have an issue on the test case:
[code]
should have `op_args` argument since `nop` takes an argument. so:
It should be this:
[code]
for example

[2022-11-03 07:36] tirkarthi commented on #27476
cc: @ephraimbuddy

[2022-11-03 08:20] tanvn commented on #26623
I found that all the error workers failed to mount some configmaps, as the events on all the failed pods is showing as below:

[code]

and this is happening randomly.
Confirmed that the `"airflow-airflow-config" ` configmap is created and available but somehow can not be mounted.
So I started to think that it is an error related to the k8s cluster on which my Airflow is running, not Airflow 2.4.2

[2022-11-03 08:45] ephraimbuddy commented on #27476
cc @jedcunningham. I'm a little surprised that the test cases didn't catch this

[2022-11-03 08:46] jose-workpath opened #27483 "DAG loading very slow in Graph view when using Dynamic Tasks"
### Apache Airflow version

2.4.2

### What happened

The web UI is very slow when loading the Graph view on DAGs that have a large number of expansions in the mapped tasks.
The problem is very similar to the one described in #23786 (resolved), but for the Graph view instead of the grid view.

It takes around 2-3 minutes to load DAGs that have ~1k expansions, with the default Airflow settings the

[2022-11-03 08:48] potiuk commented on #27474
Which postgres provider do you have ?

[2022-11-03 08:52] potiuk commented on #27474
And what is the connection you have defined for postgres that returns the URI and how you defined it. Generally the problem is solved, so it is like some problem with your configuration/ways of defining or using the connections  If you do not provide reproducible steps how to get to the same results it will be difficult to help to solve your problem (or find a flaw in Airflow which might also be t

[2022-11-03 09:28] #27475 closed

[2022-11-03 09:30] uranusjr commented on #27483
Marking this as webserver instead of UI since https://github.com/apache/airflow/pull/23813 seems to indicate this can be resolved by only backend changes. Pull requests are welcomed.

[2022-11-03 09:39] uranusjr commented on #27479
Unfortunately #22035 was closed due to inactivity, so this is still an issue.

[2022-11-03 10:18] dima-lyublin commented on #26534
I have a similar issue in Airflow 2.4.2:
[code]
[code]

[2022-11-03 13:48] jose-workpath commented on #27483
I can take a look at #23813 next week and see if we can solve this issue in a similar way.

[2022-11-03 14:03] eladkal commented on #17977
Does this still happens on latest Airflow version?

[2022-11-03 14:52] matthewblock commented on #27449
@eladkal - I corrected my test case with `op_kwargs`.

Do you have `AIRFLOW__SCHEDULER__SCHEDULE_AFTER_TASK_EXECUTION` set to `True` or `False`? The default value `True` causes this error, but setting it to `False` prevents the mini scheduler from forcing an expansion too early, and the DAG succeeds.

[2022-11-03 15:16] ephraimbuddy commented on #27449
A

I used the default for `AIRFLOW__SCHEDULER__SCHEDULE_AFTER_TASK_EXECUTION` which is `True`.
What database are you using? Did you set any other environment variable other than the above? I can't reproduce it running your updated dag

[2022-11-03 15:23] romsla commented on #27449
Having the same issue with airflow 2.4.1.
I got this bug on kubernetes installation with 8 schedulers on pgsql, and will try to reproduce the case myself later today.
The first task has to finish faster than the second one, this seems to be the prerequisite.
In my case the first task is using a cached function call, so first runs are ok. And sometimes the runs along the line are ok too.

[2022-11-03 17:26] billsmithatg opened #27488 "GCSSynchronizeBucketsOperator fails on 30-second timeout on large files"
### Apache Airflow Provider(s)

google

### Versions of Apache Airflow Providers

apache-airflow-providers-google==6.7.0

### Apache Airflow version

v2.2.3+composer

### Operating System

whatever Linux version Cloud Composer uses

### Deployment

Composer

### Deployment details

_No response_

### What happened

Using GCSSynchronizeBucketsOperator to clone a folder between two buckets.  There a

[2022-11-03 17:45] ephraimbuddy commented on #27449
It looks like non-expanded mapped task instances don't have `upstream_list ` i.e `ti.task.upstream_list` is `[]`. I got the test case to work with this:

[code]
cc: @uranusjr, would like to hear what you think about this

[2022-11-03 21:58] uranusjr commented on #27449
Something doesn’t click. Why does the non-expanded mapped task not have a proper `upstream_list`? If it’s not yet expanded, the task should be in the DAG, and has proper dependency information set.

[2022-11-03 22:02] Osamaelgendy commented on #27475
Now it gives me  Permission denied: '/opt/airflow/logs/scheduler/2022-11-03 with the new container, I try to #sudo some commands to give permissions to 'airflow' user, but it won't accept 'airflow' as password I don't know why

I write this in entrypoint.sh **echo airflow | sudo -S visudo | ALL=(ALL) NOPASSWD: ALL**

[2022-11-03 22:14] Osamaelgendy commented on #27475
Now it gives me Permission denied: '/opt/airflow/logs/scheduler/2022-11-03 with the new container, I try to #sudo some commands to give permissions to 'airflow' user, but it won't accept 'airflow' as password I don't know why

I write this in entrypoint.sh **echo airflow | sudo -S visudo | ALL=(ALL) NOPASSWD: ALL**

[2022-11-03 22:35] codekronik commented on #27474
@potiuk Ok the issue appears because this has not been updated in the Connection model. Basically if you do `BaseHook.get_connection(conn_id).get_uri()`

[2022-11-03 23:50] nirajdewani opened #27493 "Sentry tagging not working on Composer"
### Apache Airflow version

Other Airflow 2 version (please specify below)

### What happened

Composer version: 2.0.10
Airflow version: 2.2.3

Airflow comes with Sentry integration, as documented [here](https://airflow.apache.org/docs/apache-airflow/1.10.15/errors.html?highlight=sentry).
With `SENTRY_DSN` configured as an environment variable, we generated a (run-time) error in a DAG. The corresp

[2022-11-04 02:36] timecommunication opened #27494 "airfow can not import RemovedInAirflow3Warning ???"
### Apache Airflow version

2.4.2

### What happened

After upgrading my airflow from 2.3.3 to 2.4.2, I found this error on web UI.

![屏幕截图 2022-11-04 102658](https://user-images.githubusercontent.com/19165258/199872330-f01d5cb1-c508-4c51-bcb9-91b2a39628d4.png)

### What you think should happen instead

how to fix this error ?

### How to reproduce

upgrade command is :

pip3 install "apache-airfl

[2022-11-04 02:37] timecommunication commented on #27494
it seems the error occurs in airflow source code.

[2022-11-04 05:16] Taragolis commented on #27494
@timecommunication did you restart all airflow services after upgrade airflow version in virtual environment?

[2022-11-04 05:45] shubham22 commented on #23437
@syedahsn is going to pick this up. Can this be assigned to him?

[2022-11-04 05:49] shubham22 commented on #14962
FYI @syedahsn is working on this and will submit a PR in the next few days.

[2022-11-04 05:59] timecommunication commented on #27494
Yes, I did.

[2022-11-04 06:00] eladkal commented on #23437
We can assign only to users who commented on the issue (github limitation)

[2022-11-04 06:03] shubham22 commented on #23437
Oh, TIL! @syedahsn you know what to do : )

[2022-11-04 06:52] potiuk commented on #27475
Just use official Airflow image https://airflow.apache.org/docs/docker-stack/index.html . Also read the docs. If you start from what you used in Puckel - scratch it completely and follow the examples found here https://airflow.apache.org/docs/docker-stack/build.html. DON'T try to copy what you've done with Puckel. You will have many problems like this. Try to understand what it does and rather tha

[2022-11-04 07:37] venkatnpedada opened #27498 "Not able to use custom logging with airflow helm chart"
### Apache Airflow version

2.4.2

### What happened

Im trying to use custom logger to print the logs to console instead of the local directory. Im using official airflow helm chart. Below are the steps to re-produce the issue.

step 1: Create custom logger class to ${AIRFLOW_HOME}/config/airflow_local_settings.py by adding below in airflowLocalSettings property
[code]

step 2: Set logging_config

[2022-11-04 08:12] chuxiangfeng commented on #15938
hello，if i don`t want scheduler restart，how can i do？

[2022-11-04 08:14] chuxiangfeng commented on #15938
i hava install a new airflow by helm chart， now no jobs and works，scheduler restart always restart， if i don`t want scheduler restart，how can i do？

[2022-11-04 08:14] Haebuk opened #27499 "TypeError: __init__() got an unexpected keyword argument 'logger` when on_failure_callback slackoperator"
### Apache Airflow version

Other Airflow 2 version (please specify below)

### What happened

airflow version: 2.2.2

when I trigger dag to test on_failure_callback, a task failed but airflow didn't push the error message to my slack channel.

the error message was `TypeError: __init__() got an unexpected keyword argument 'logger'`

### What you think should happen instead

test code failed, send

[2022-11-04 08:37] eladkal commented on #27493
The reproduce steps you show are on Composer.
If this is Composer issue please submit a bug to composer.

If the issue is repreducable on Airflow latest version please edit the report accordingly.

[2022-11-04 08:39] eladkal commented on #27499
For the moment this seems more like support request rather than a bug report thus converting to Github discusstion.

[2022-11-04 09:56] ephraimbuddy commented on #27449
It was removed here https://github.com/apache/airflow/blob/3aadc44a13d0d100778792691a0341818723c51c/airflow/models/dag.py#L2240-L2244

when `partial_subset` was called https://github.com/apache/airflow/blob/3aadc44a13d0d100778792691a0341818723c51c/airflow/jobs/local_task_job.py#L253-L258

The removal seems like a bug? maybe @ashb can chip in

[2022-11-04 09:58] SchernHe commented on #24466
Are there any news on this issue. I am also seeing similar behavior for a long running task.

My DAG includes an SSHOperator that executes a long-running process on a Google Cloud Compute Engine. The tasks keeps on running, even though the underlying process gets killed for some reason along the way. The weird thing is, that I do not see any log messages that states why the process was killed. It

[2022-11-04 10:25] syedahsn commented on #23437
Can I be assigned this issue? Thanks @eladkal :)

[2022-11-04 10:27] syedahsn commented on #14962
Can this issue be assigned to me? Thanks!

[2022-11-04 10:48] ashb commented on #27449
Okay, so the problem here is, as Ephraim identified, that the mini scheduler operates on a subset of the DAG, not the complete dag.

So when `first_task` finishes we get a partial DAG containing the following tasks: `first_task, last_task, middle_task`. Not crucially that we _dont_ have `second_task`.

The reason we use a partial subset rather than the whole dag was a performance optimization. Ess

[2022-11-04 10:50] ashb commented on #27449
Oh and the removal is not a bug (at least not in the parital_subset function itself): because `include_direct_upstream=True` that function only goes one level up from `last_task`.

[2022-11-04 10:53] ephraimbuddy commented on #27449
Ok. Thanks Ash, I think option 2 is better:

Since it will limit the change to mapped task. Let me try it

[2022-11-04 12:54] Frank-T-Johansen opened #27503 "Airflog DAG logs-button not working with logs in s3"
### Apache Airflow version

2.4.2

### What happened

I moved logs to s3 (set remote_log_conn_id = s3://my-bucket/logs & remote_logging = True) and it is working fine, when I click on the small squares in grid-view I can now view the logs from all of my connected airflow webservers (and I've verified that the logs actually are written to s3).  So basically the "Logs" button is working fine.

But w

[2022-11-04 13:08] potiuk commented on #27474
You still have not explained how did you define your connection - What is the connection type you have in your connection?
You might have be completely mislead -  `PostgressHook.get_hook()` is NOT a PostgresHook method - it is the "BaseHook" static method - and it will only return PostgresHook if you pass it the connection, that it will recognise as Postgres - this is likely the reason - likely "P

[2022-11-04 13:39] kadu-vido opened #27504 "Airflow Kubernetes Provider leaks some secrets in the logs"
[REDACTED]

* This should be reported in confidence via  https://github.com/apache/airflow/security/policy

[2022-11-04 13:41] potiuk commented on #27449
Wild idea.

This was a loose thought I have for quite some time while reviewing some of issues connected to mini-scheduler. I think the mini-scheduler "approach" was a good idea - triggering direct downstream task when task is finished as soon as possible is generally cool. However it introduces complexity (similar to above) because it is IMHO a tea that is "almost, but not quite, entirely unlike

[2022-11-04 14:02] #27494 closed

[2022-11-04 14:15] ashb commented on #27449
Such a change shouldn't be made without measuring the performance before and after. Yes removing it would make things simpler, but I think a tiny bit of complexity is worth it for the speed boost. (I can't remember the figures off the top of my head, but I know we measured it before adding this, and it did make a difference to the "inter-task lag")

The place where this change really helps is when

[2022-11-04 14:18] potiuk commented on #27504
This is a very bad idea to create a public issue @kadu-vido.

This is not following our security policy  - https://github.com/apache/airflow/security/policy  PLEASE DON'T DO IT next time, just follow the policy. This not responsible behaviour and while you've been informed about that when you opened the issue.

I am deleting this issue now. Please reaport it following the polcy.

[2022-11-04 14:22] potiuk commented on #27504
Can't delete it, unfortunately. This is was not a good idea to post it this way.

[2022-11-04 14:25] potiuk commented on #27504
Which logs do you find this information in @kadu-vido ?

[2022-11-04 15:03] eladkal commented on #27504
I removed the content and hidden it from history.
@kadu-vido please report this privately as @potiuk suggested. thank you

[2022-11-04 15:05] vchiapaikeo commented on #27296
This stopped being an issue for us after reducing parallelism on our schedulers. Closing.

[2022-11-04 15:05] #27296 closed

[2022-11-04 15:09] #27504 closed

[2022-11-04 15:45] hankehly commented on #27396
I'll tackle this! Please assign me.

[2022-11-04 16:04] alon-parag opened #27507 "Making logging for HttpHook optional"
### Description

In tasks that perform multiple requests, the log file is getting cluttered by the logging in `run`, line 129
I propose that we add a kwarg `log_request` with default value True to control this behavior

### Use case/motivation

reduce unnecessary entries in log files

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

##

[2022-11-04 16:21] dhatch-niv opened #27509 "Removing DAG dataset dependency when it is already ready results in SQLAlchemy cascading delete error"
### Apache Airflow version

2.4.2

### What happened

I have a DAG that is triggered by three datasets. When I remove one or more of these datasets, the web server fails to update the DAG, and `airflow dags reserialize` fails with an `AssertionError` within SQLAlchemy. Full stack trace below:

[code]

### What you think should happen instead

The DAG does not properly load in the UI, and no error

[2022-11-04 17:33] potiuk commented on #27396
Done

[2022-11-04 20:00] fritz-astronomer opened #27511 "(mapped) Task Labels"
### Description

Adding a user defined, small text `label` field to (mapped) task instances, which would appear in the UI

### Use case/motivation

Currently it is difficult to differentiate between mapped tasks in both the `Grid view` and the `Browse > Task Instances` view. It requires a lot of hunting and pecking into either the parent XCOM to find what you need, or individually clicking through

[2022-11-04 20:56] aaronolszewski commented on #26237
@NickYadance I am running into this exact same issue. Has this been fixed in a later version?

[2022-11-04 21:09] NilsJPWerner opened #27512 "Resizable grid view components"
### Description

~1. Ability to change change the split ratio of the grid section and the task details section.~  - already done in #27273
![resizable_horizontal](https://user-images.githubusercontent.com/10968348/200072881-0f0cd1f0-0b91-46fa-8d6d-6c72d9ff6a97.jpg)

2. Ability for the log window to be resized.
![resizable_vertical](https://user-images.githubusercontent.com/10968348/200073200-412c9

[2022-11-04 21:22] zachliu commented on #27345
just noticed this issue meself when inspecting logs. i have similar setups: using the EcsRunTaskOperator to run Fargate tasks on ECS. can confirm the workaround @andreyvital works!

[2022-11-04 21:28] lihan commented on #27259
@tanvn

It was 2.3.2 before the upgrade.

[2022-11-05 08:20] eladkal commented on #27467
See https://github.com/apache/airflow/pull/27516

[2022-11-05 14:40] MrParosk opened #27519 "Add replace_microseconds argument to trigger dag cli"
### Description

At the moment it seems you can't trigger a dag with the CLI with the flag "replace_microseconds":

https://github.com/apache/airflow/blob/9337aa92c082db36e82eb314585591394fe8ff27/airflow/cli/commands/dag_command.py#L145

However, this argument seems to be available in the "trigger_dag" function:

https://github.com/apache/airflow/blob/9337aa92c082db36e82eb314585591394fe8ff27/airfl

[2022-11-05 15:31] potiuk commented on #27512
Already done in https://github.com/apache/airflow/pull/27273 but I think they are not sticky between reloads @bbovenzi WDYT?

[2022-11-05 18:54] eladkal commented on #27488
feel free to submit PR.
It seems like the operator is using the [copy](https://github.com/apache/airflow/blob/9ab1a6a3e70b32a3cddddf0adede5d2f3f7e29ea/airflow/providers/google/cloud/hooks/gcs.py#L1064) function though the [rewrite](https://github.com/apache/airflow/blob/9ab1a6a3e70b32a3cddddf0adede5d2f3f7e29ea/airflow/providers/google/cloud/hooks/gcs.py#L205) function is available on the hook. It

[2022-11-05 19:01] eladkal commented on #18080
it's due to the difference between running task vs non running task see https://github.com/apache/airflow/pull/26993#discussion_r993754316

[2022-11-05 19:03] eladkal commented on #17686
hey @alex-astronomer is this still happening in latest airflow version?

[2022-11-05 21:15] fokmess opened #27523 "Jumping tasks in grid"
### Apache Airflow version

2.4.2

### What happened

Some tasks can be reordering during run in grid

![Jumping_Tasks](https://user-images.githubusercontent.com/61796911/200141120-888e70ff-cd91-4498-ab56-b96cde40d448.gif)

<img width="322" alt="Снимок экрана 2022-11-06 в 00 02 24" src="https://user-images.githubusercontent.com/61796911/200141268-e79530b5-2d75-4512-81d8-102cf484f706.png">
<img wid

[2022-11-06 04:18] #27467 closed

[2022-11-06 05:30] mlnsharma commented on #27282
Hi @potiuk I would like to work on this. If nobody is working on it, can you please assign it to me?

[2022-11-06 09:36] HadarSha commented on #26834
We have also been experiencing it on Airflow 2.4.0, is there any target version in which this is to be resolved?

[2022-11-06 10:34] lihan commented on #27259
@tanvn

I received an email from Google Cloud SQL which they confirmed that one recent upgrade (starting 21 Oct 2022) caused corrupted index, the timing matches my issue, so I highly suspect the duplicate was caused by this incident.

[2022-11-06 12:17] NilsJPWerner commented on #27512
Ah I missed that pr. I think that covers 1, but not request 2 or 3.

[2022-11-06 13:03] potiuk commented on #27282
Done

[2022-11-06 13:17] potiuk commented on #26834
@HadarSha  - could you explain how you get to the issue and add more logs and explain the circumstances when it happened (what DAGS you had etc.)?

Without that I think it will never be solved, because I think it lacks a clear reproduction steps - there is some reason why it failed but without the input of users who experienced it it's not possible to fix.

Can you please help us to understand wha

[2022-11-06 13:19] potiuk commented on #27259
Ah. that would explain it then. closing.

[2022-11-06 13:19] #27259 closed

[2022-11-06 13:20] potiuk commented on #27512
Marked it as good first issue

[2022-11-06 13:36] HadarSha commented on #26834
@potiuk Unfortunately we have since rolled back to 2.3.4, particularly due to this very issue, so actual logs may be hard to come by.

I will share our deployment and steps that led to the issue, however:

* We are using Airflow on Kubernetes (AWS EKS) with Airflow's Official Helm Chart
* 4 Airflow Schedulers running at all times (for HA and performance reasons - maybe it's an issue with the `airf

[2022-11-06 13:53] potiuk commented on #26834
Thanks @HadarSha.

It would be great if you try with 2.4.2 - particularly https://github.com/apache/airflow/pull/27030 from 2.4.2 improved dag collection time and overhead and while unlikely to solve the problem. it will speed up the upgrade time.

Do I understand correctly that you did not shutdown the schedulers and they were running in parallell to the upgrade command? If so then THIS is the re

[2022-11-06 15:29] potiuk commented on #18401
Can you simply upgrede to latest 2.4* and check if it is fixed? Airflow containst 1000s of bugfixes and some of the fixes are likely to fix issues that had been raised (and even closed). Your issue might or might not be the same. Checking if it occurs in the latest version is absolutely fastest way of answering your question - otherwise you might try to look at similar issues and make a guess, but

[2022-11-06 19:28] mrafayaleem commented on #20309
Try upgrading the Snowflake connector. It just magically fixed this problem for me.
[code]

[2022-11-06 21:14] agarwalYashBCG commented on #16176
I tried deleting/uninstalling the airflow deployment and also wiped clean the airflow repo from local helm. Still facing same issue. Will post my progress in case if i'm able to fix it.

[code]

Command: `sudo helm install airflow apache-airflow/airflow --namespace airflow --debug --version=1.6.0`

[2022-11-06 21:25] potiuk commented on #16176
Without any details while the migration job failed, I am afraid commenting on closed issue will not help. You need to see the logs of the job that failed and post it (ideally as a new issue as this might be completelty different issue).

[2022-11-06 21:30] potiuk commented on #27427
This is completely invalid and comes from misunderstanding how Async/Triggerer works.. Triggerer DOES NOT execute derrerd tasks. It executes Triggers and when the trigger determines that deferrable task should run, it will let the regular "worker" execute it. So the observed behaviour is 100% correct.

[2022-11-06 21:30] #27427 closed

[2022-11-07 00:56] potiuk commented on #27436
I will convert it into discussion. this is far from clear what expectation we have here.

What do you mean by remote logs in this context? Airflow has a number of handlers to send the remote logs to and how they are implemented depends on the system to send the logs to. Some habdlers handle only sending full logs (S3) and some are streaming (cloudwatch). Also I am not sure what do you mean by "com

[2022-11-07 00:56] Osamaelgendy commented on #27475
I managed to solve these 2 issues, but it won't work, I spent a lot of time trying to configure this issue:

 **File "/home/airflow/.local/lib/python3.6/site-packages/sqlalchemy/engine/default.py", line 608, in do_execute
    cursor.execute(statement, parameters)
psycopg2.errors.UndefinedTable: relation "dag" does not exist
LINE 2: FROM dag
             ^**

[2022-11-07 00:57] Osamaelgendy commented on #27475
Yes thank you for that, copying was a disaster

[2022-11-07 00:59] potiuk commented on #27475
You had more issues than that - for example Python 3.6 is not supported in Airflow 2 and your line here tells that you tried to use it:

[2022-11-07 01:54] tanvn commented on #27259
@lihan
Thank you so much for the information!

[2022-11-07 02:06] #20323 closed

[2022-11-07 02:15] NickYadance commented on #26237
No and the issue description is not actually accurate. The `statistics query` mainly indicates that the query has been waiting
for a long time for something, not 100% deadlock between transactions, maybe due to slow query, high mysql server IO ...

For me , i resolve this by optimizing the IO load of the mysql server.  For the daedlock, maybe you can find some help here #27000 with enough debuggin

[2022-11-07 02:23] potiuk commented on #27507
Feel free to make PR. I assigned youl

[2022-11-07 02:45] Osamaelgendy commented on #27475
I'll check that, turned out the undefined table is a problem of metadata loading into the postgres db

[2022-11-07 02:46] MadDenker commented on #19764
I get a similar error when trying to trigger a DAG.  I have not been able to trigger a DAG in weeks.

[2022-11-07 05:09] dstandish commented on #20323
hi @mingshi-wang where do we stand with this?

[2022-11-07 06:37] agarwalYashBCG commented on #16176
Apologies @potiuk, i'll create a new issue with more detailed instructions to reproduce the issue. Cheers!!

[2022-11-07 08:47] ephraimbuddy commented on #27509
Reproduced with:
[code]
on it.

[2022-11-07 08:56] potiuk commented on #19764
This is not Airflow problem . This is a problem with your deployment. For some reason when writing a log Python gets input/output error.this can happen when you have no disk space or you have no permissions or similar - none of which anyone but yourself can diagnose and fix in your deployment

[2022-11-07 08:56] #19764 closed

[2022-11-07 08:58] potiuk commented on #20323
I just merged it last night @dstandish

[2022-11-07 09:11] uranusjr commented on #27512
cc @bbovenzi in case you are already working on this

[2022-11-07 10:08] dstandish commented on #20323
oh, cool 👍

[2022-11-07 11:45] george-zubrienko commented on #27140
@potiuk thanks for the offer and I'd love to when I am a bit more free. I won't feel great if I commit to doing a PR and then go afk for couple weeks because there are issues in other projects (also OS ones) that need to be addressed. So not for this issue, but for future ones, I'll consider for sure :)

[2022-11-07 13:03] #27509 closed

[2022-11-07 13:26] chuxiangfeng opened #27545 "missing volumes for git-sync-ssh-key"
### Official Helm Chart version

1.7.0 (latest released)

### Apache Airflow version

2.4.2

### Kubernetes Version

1.20

### Helm Chart configuration

dags:
  gitSync:
    enabled: true
 persistence:
    enabled: true

### Docker Image customisations

all is office helm-chart images

### What happened

when set gitSync enabled: true and persistence enabled: true for dags, volumes has no name wit

[2022-11-07 13:35] potiuk commented on #8212
I believe this has been fixed in https://github.com/apache/airflow/pull/27297  and will be available in 2.4.3.
Closing it provisionally @aa3pankaj try this workaround to see if it solves the problem for 2.4.2:

Suggested here: https://github.com/apache/airflow/issues/23512#issuecomment-1297310890

[2022-11-07 13:38] #27409 closed

[2022-11-07 13:41] ephraimbuddy commented on #27545
Related: https://github.com/apache/airflow/issues/27476

[2022-11-07 13:47] aa3pankaj commented on #8212
@potiuk monkey patching ssl via airflow_local_settings.py worked for me (in airflow 2.4.2)

[2022-11-07 14:34] potiuk commented on #27476
@ephraimbuddy

One reason I would think is that this case makes very little sense. Maybe it is unrelated - I personally think that having both git-sync AND persistentcy at the same time makes very little sense in general. I have yet to hear a good argument why just "git-sync" would not cut it. No-one yet was able to sufficiently explain my why they want to use Git Sync to atomically sync DAGs to o

[2022-11-07 14:43] potiuk commented on #8212
Can you try the --preload case ?

[2022-11-07 14:53] potiuk commented on #8212
OKl. I think I see what is the problem now.

[2022-11-07 14:57] alexakra commented on #27476
In the article you mentioned, there is no even a single reference to Kubernetes. In the Kubernetes ecosystem this is the way to share files between pods (git-sync runs on the scheduler pod, webserver pod and worker pods).

[2022-11-07 15:14] dhatch-niv commented on #27509
Thanks for the quick fix on this @uranusjr 🔥

[2022-11-07 15:17] potiuk commented on #27476
Using persistent volumes is **one** of the ways to synchronise files between pods. But it is by far not the only one. This is why git-sync was invented - to provide alternative. And the article IS all about K8S. Git-Sync is in fact K8s project https://github.com/kubernetes/git-sync project that allows you to sync files to all components WITHOUT persistency. Persistency is really only useful when y

[2022-11-07 15:37] alexakra commented on #27476
What do you mean "running git-sync for all the components"?
Again, git-sync runs inside scheduler pod. How do you provide DAGs to webserver pod and worker pods?
Using git-sync in all of them, doesn't solve the "network issue".
https://airflow.apache.org/docs/apache-airflow/stable/executor/kubernetes.html

[2022-11-07 16:11] potiuk commented on #8212
@aa3pankaj -> can you please apply and try my fix instead from #27546 ? I think it should finally solve the problem for you when we merge without further need of patching Airflow.

Also @dimon222 -> maybe you can also try this one. I know it's been years but I stumbled upon this one now and after a bit reading it seems the soluation is easy and should have no side effects.

[2022-11-07 16:24] bbovenzi commented on #27523
I'll look into this. Quick question, does this happen for all of your dags or only specific ones?

[2022-11-07 16:30] potiuk commented on #27476
When persistency is disabled, git sync runs as an side-container for workers and scheduler - all of them. They also run as init-containers first to make sure that you have fully synced DAG folder before the component starts (when you use persistency, this depends on how much distribution you have and your remote filesystem could introduce significant latency on distributing files - there is no gua

[2022-11-07 16:32] ephraimbuddy commented on #27478
I'm not able to reproduce this. Can you explain the reproduction steps? And it looks you have two issues here, 1) crashes when clearing a mapped task that was previously a normal task. 2) Issue with logs. I suggest you separate the issues so we can attend to them separately.

In my case, the normal task was marked as removed which is expected. I don't think you can see the log again once marked as

[2022-11-07 18:17] alexakra commented on #27476
Alright, it is clear now, thank you.
But, one point, we also use git-sync and persistency to provide plugins from git to webserver.
The outcome of this issue could be like the following:
1. Well document a table of all possible permutation of Helm chart installation options.
2. Instead of trying silently removing/ignoring installation options, it is better to fail Helm installation with a clear er

[2022-11-07 18:54] o-nikolas commented on #27519
I see no reason for not plumbing that through, but others may know of a historical reason for it.

Assigning the task to you for now :)

[2022-11-07 19:00] uranusjr commented on #27519
Duplicate of #25836

[2022-11-07 19:00] #27519 closed

[2022-11-07 19:01] ephraimbuddy commented on #27473
Is this still happening in the latest airflow(2.4.2)?

[2022-11-07 19:20] potiuk commented on #27476
@alexakra - absolutely, feel free to add those docs. That would be great help for people like you in the future.

This is a good idea - now that you got all the explanation, you are completely free to make a PR with such documentation improvements. Airlfow is created by more than 2200 contributors - mostly people like you who wanted to do something and got helped by maintainers and decided to cont

[2022-11-07 19:33] uranusjr commented on #27478
This shouldn’t happen since TaskFail has CASCADE set on TaskInstance. Can you check your database to see if ON DELETE is set appropriately?

[2022-11-07 19:55] potiuk commented on #8212
I only handed gevent as this was the only one I knew about. But once you confirm it works for you for gevent I see that there is a similar issue https://github.com/apache/airflow/issues/15116 and seems we can use similar technique by adding eventlet configuration.

[code]

But this should be a separate PR once we get confirmation that the approach works for you. Since you have s3 loigging configur

[2022-11-07 19:56] potiuk commented on #8212
Did you try gevent with my fixes?

[2022-11-07 20:48] o-nikolas commented on #27519
+1 to this! (note: we can't assign it to you until you leave a comment @MrParosk)

[2022-11-07 21:12] DMilmont commented on #26834
Today we upgraded to airflow 2.4.2 - we did not notice this issue during the migration this time around.

We are using the official helm chart, so the migration occurred on deploy via the migration job.
We run 900 + dags currently

When we upgraded to airflow 2.4.1 the migration took >20 minutes.
After upgrading to airflow 2.4.2 the migration took < 2 minutes.

If there are other data points neede

[2022-11-07 21:22] potiuk commented on #26834
Cool. I will close it then - we might re-open if it happens for somoene else.

[2022-11-07 21:22] #26834 closed

[2022-11-07 21:35] potiuk commented on #25667
Can any of the people here verify it? I am closing it provisionally, unless someone reports it's NOT fixed.

[2022-11-07 21:35] #25667 closed

[2022-11-07 21:45] potiuk commented on #15306
It think the fastest way to get it done is.... to implement it @neontty . And I am afraid any implementation here will NOT solve your problem on MWAA for another 6 months at least, because even it is implemented now, that's the minimum release cycle for MWAA (at least so far) - so you should rather look at better way of handling it in MWAA (and raise support request there).

I marked it as "good f

[2022-11-07 22:35] potiuk commented on #17754
Ok. This sounds more interestin and cool. Marked is as good first issue, maybe someone would like to attempt implementing it? Note that this is an open-source. Opening feature proposal like this does not mean it will be implemented. Someone must pick an interest an implement it. If you or your team would like to develop or contribute such fix, this is the fastest way - otehrwise it will have to wa

[2022-11-07 22:56] potiuk commented on #11979
Can you please open a new issue about it @calebwoofenden . I am closing this one as it is old and Helm Hooks disabling is described in the docs - https://airflow.apache.org/docs/helm-chart/stable/index.html#installing-the-chart-with-argo-cd-flux-or-terraform however your problem likely deserve a new issue.

[2022-11-07 22:56] #11979 closed

[2022-11-07 23:00] potiuk commented on #27477
Can you explain what is your timezone configuration (@bbovenzi @pierrejeambrun - I guess it might be related to timezone problem - wild guess)

@vitaly-krugl - is it possible that you further upgrade to latest version of Airlfow and check if it is still there? Airflow 2 follows semver and the expectation is that upgrade/migration should be painless.

[2022-11-07 23:02] uranusjr commented on #27477
Tentitively adding UI since I’m not sure whether this is a problem in webserver representation or something in the scheduling logic.

[2022-11-07 23:05] potiuk commented on #26854
Dag level is good.

[2022-11-07 23:09] potiuk commented on #27032
Closing. 2 weeks passed. @jens-scheffler-bosch - if you had any issue, you can comment here still.

[2022-11-07 23:09] #27032 closed

[2022-11-07 23:12] potiuk commented on #26623
Agree.

[2022-11-07 23:16] potiuk commented on #26534
@dima-lyublin Please do not hijack this discussion- your problem is that you are trying to override property. DON'T do it. _extra_args is the field that is exposed by the property.

[2022-11-07 23:16] potiuk commented on #26534
@mariotaddeucci -> any news ?

[2022-11-08 02:22] chuxiangfeng commented on #27476
First, The initial idea was to use the external dag files as a repository for code, but it was later discovered that git-sync might be a better option. So git-sync was turned on but not set dags.persistence to false, both were set to true, and the official documentation showed that it was possible to do this.
Second,In the development phase, there is not much resource in the local built airflow, w

[2022-11-08 07:07] AndreiArion commented on #16163
Hello,
we are on Version: 2.2.5+composer  and we have the same problem but in our case the task is really stopped and retried by our policy.
So the message is not harmless as it ends the job :

`[2022-11-08, 05:30:41 UTC] {taskinstance.py:1034} INFO - Dependencies not met for <TaskInstance: pipeline_analytics_revenu_billing.analytics_revenu_insert scheduled__2022-11-07T03:10:00+00:00 [running]>, d

[2022-11-08 08:52] potiuk commented on #8212
The PR is green @aa3pankaj @dimon222 -> would love some confirmation that it solves the problem - if we do it quickly then it will get a chance to get into 2.4.3 (together with corresponding eventlet change) and will solve the long standing problem.

[2022-11-08 09:13] aa3pankaj commented on #8212
@potiuk will test this out

[2022-11-08 10:43] potiuk commented on #27476
Yep. I understand that. I am gathering the idas and evidences to make a stronger case on strongly discouraging turning persistence and git sync. As mentioned in the https://medium.com/apache-airflow/shared-volumes-in-airflow-the-good-the-bad-and-the-ugly-22e9f681afca - this is my (strong) opinion but otherwise it is a controversial subject. It's very difficult to convince people who think  that "s

[2022-11-08 10:53] aa3pankaj commented on #8212
@potiuk I tried your changes with worker_class = gevent, still getting same error.

[2022-11-08 11:07] potiuk commented on #8212
Did you also add `--preload` flag ? The solution will only work if --preload is enabled (either via env variable as described above) or by applying also https://github.com/apache/airflow/pull/27297 from @ephraimbuddy

[2022-11-08 11:07] aa3pankaj commented on #8212
let me try with that also

[2022-11-08 11:21] aa3pankaj commented on #8212
export GUNICORN_CMD_ARGS='--preload'

[2022-11-08 12:49] leehuwuj opened #27554 "Virtual python operator failed with _LazyXComAccess"
### Apache Airflow version

2.4.2

### What happened

I tried to reduce output from dynamic mapped operator by a virtual python operator but got an error from it when parsing the kwargs input:
[code]
I think the issue caused by SqlAlchemy session obj in the _LazyXComAccess could not be shared across the threads so i tried to temporarily patch the python operator at pickling args and kwargs step th

[2022-11-08 12:58] #25668 closed

[2022-11-08 13:44] #27228 closed

[2022-11-08 13:45] #27479 closed

[2022-11-08 14:14] ebrard opened #27555 "Worker logs not reachable from webserver while running"
### Official Helm Chart version

1.7.0 (latest released)

### Apache Airflow version

2.2.2

### Kubernetes Version

1.23

### Helm Chart configuration

_No response_

### Docker Image customisations

_No response_

### What happened

When a task runs on a worker, the web server cannot reach the worker to read the log from.

Considering the workers are deployed as a deployment and not as a statefu

[2022-11-08 14:16] LarsAlmgren opened #27556 "Using GlueCrawlerOperator fails when using tags"
### Apache Airflow version

Other Airflow 2 version (please specify below)

### What happened

We are using tags on resource in AWS. When setting tags when using `GlueCrawlerOperator` it works the first time, when Airflow creates the crawler. However on subsequent runs in fails because `boto3.get_crawler()` does not return the Tags. Hence we get the error below.
[code]

### What you think should h

[2022-11-08 15:20] potiuk commented on #27555
I don't think this is in "all cases" - I think you have a specific problem that manifests this way - because the workers would usually use `hostname_callable` (https://airflow.apache.org/docs/apache-airflow/stable/configurations-ref.html#hostname-callable) to get their internal name. I suspect what you observe might be the in-famous instabilito of DNS in k8s (which happens quite often adn in some

[2022-11-08 15:25] #27554 closed

[2022-11-08 16:10] dstaple commented on #27473
Unfortunately this only occurs at scale so it's not something we can quickly check in a test environment. We will upgrade Airflow again in January. However, the code involved is the same between 2.2.5 and 2.4.2 so we don't expect any difference.

[2022-11-08 16:45] bbovenzi commented on #27477
I'm not sure. Let's see if it is a migration issue: What if you create a new dag with a daily schedule, does that have the correct Next Run?

[2022-11-08 17:16] calebwoofenden opened #27561 "Helm chart tries to patch immutable Job resources on helm upgrade"
### Apache Airflow version

2.4.2

### What happened

Running `helm upgrade` with helm hooks disabled in a namespace that already has the chart installed will fail because it's trying to patch a `Job` resource, which is immutable:

[code]

This happens when helm hooks are disabled on the db migrations job:
[code]

For more detail on why a user would want to do this, see https://github.com/apache/a

[2022-11-08 17:28] eladkal commented on #20003
@dstandish is this still an issue?

[2022-11-08 19:30] RachitSharma2001 commented on #27556
I would like to work on this issue if possible.

[2022-11-08 19:47] pankajastro commented on #10964
I also had the same issue on the latest main, increasing the container resources fixed it.

[2022-11-08 19:56] dstandish commented on #20003
i assume so

[2022-11-08 19:57] dstandish commented on #20003
it shouldn't be that hard to fix.  @stephenonethree would you be interested in taking a crack at it?

[2022-11-08 21:27] Taragolis commented on #27556
@RachitSharma2001 feel free, assigned to you.

[2022-11-08 23:47] tomrutter commented on #20003
It might be useful to allow explicit turning off of the custom parameters as well. In some cases the desired method won’t accept an additional kwarg. For example, this would make it easier to use task deferral with vanilla taskflow @task operators (calling the execute method to run the task again after the trigger fires). This is the current behaviour when the trigger method is set to None but thi

[2022-11-09 00:40] o-nikolas opened #27566 "Amazon AppFlow System Test"
### Description

A Hook and several Operators were added for AppFlow in #24057 but at the time the AIP-47 spec system test infrastructure was just being developed for AWS, so it was decided to just produce an example DAG. Now that AWS system tests are stable in their design, we should circle back and create a system test for AppFlow

### Use case/motivation

_No response_

### Related issues

_No

[2022-11-09 06:13] uranusjr commented on #27554
No way to tell without knowing what `handle` actually does, but it’s likely covered.

[2022-11-09 06:16] #10605 closed

[2022-11-09 08:18] tomrutter commented on #11708
Thanks! I will have a closer look and see if what I've done here could be submitted as PR.

[2022-11-09 08:47] #23529 closed

[2022-11-09 10:38] TreyYi opened #27569 "Remove unused attribute (self.using_mysql) from scheduler_job.py"
### Apache Airflow version

2.4.2

### What happened

Hi all,

I would like to update the scheduler_job.py script by removing the unused attribute -> `self.using_mysql`.

I understand that `self.using_sqlite` attribute is used to define the variable `async_mode` in scheduler_job.py code, but noticed that `self.using_mysql` is not used.

You can check the code from [scheduler_job.py](https://github

[2022-11-09 13:48] dgronskij commented on #17754
@potiuk  Thanks for the reponse!

I just came around the idea that what I wanted may be done via `on_execute_callback` / `pre_execute` callback functions. At the end of the day I'm not sure that there is a need of extra parameters since callbacks are the most flexible way to do anything.

Probably, making parameters for `logging.rootLogger` loglevel or  `logging.basicConfig` kwargs would be a good

[2022-11-09 14:05] potiuk commented on #17754
Ah yeah. That is actually good way of doing it. :). Good idea. Will close it but will keep the idea for similar cases.

[2022-11-09 14:05] #17754 closed

[2022-11-09 14:06] #27449 closed

[2022-11-09 15:51] Adityamalik123 commented on #27299
@potiuk I'd be interested to take this issue up. Can this be assigned to me?

[2022-11-09 16:18] saicharita opened #27575 "To make airflow UI interactive"
### Description

Hi,

Is it possible to make the DAG UI interactive where you can change the order of task flow as we wanted instead of going back to the code every time and making changes to it?

### Use case/motivation

So we have around 75 odd jobs running on server which we are trying to migrate to airflow. Because that is a lot of jobs on a single DAG, we would like to keep changing the order

[2022-11-09 16:28] bbovenzi commented on #27523
Ahh ok. @ashb I remember that you wrote up the task ordering logic. Sounds like there might be an issue parsing the tasks for programmatically generated DAGs?

Also, this is probably a duplicated of https://github.com/apache/airflow/issues/23542

[2022-11-09 16:59] Adityamalik123 commented on #25669
@potiuk @eladkal Can this issue be assigned to me? I'd be interested to work on it.

[2022-11-09 17:09] PrakashNatarajan commented on #27348
Hi,
I'm facing the same issue, but mine is Mysql database. Please help me resolve it.

[2022-11-09 17:14] andscoop opened #27577 "Allow for templating of pod-template.yaml at service start time or pod creation"
### Description

I've been researching how one can template out the pod-template.yaml.

Airflow provides a few control points for this but none of them seem quite right for our use case
- Helm charts: our k8s environment does not support helm
- pod overrides: called for every pod creation, requires existing defaults and extends some fields instead of overwriting

We're currently "templating" via `

[2022-11-09 17:55] ashb commented on #27523
Maybe we need to add a "fallback" sort to sort by task_id as a last resort so that the order is stable.

[2022-11-09 17:57] ashb commented on #27569
@TreyYi Thanks, for future there is no need to create an issue for this sort of change, just go straight to creating the PR!

[2022-11-09 17:58] #27569 closed

[2022-11-09 18:17] andersbogsnes commented on #27474
Someone from my team ran into a similar problem. I believe the problem stems from this line: https://github.com/apache/airflow/blob/main/airflow/models/connection.py#L215.

If you use `BaseHook.get_connection()` passing in a "Postgres" type connection, the `conn_type` will be "postgres": https://github.com/apache/airflow/blob/main/airflow/providers/postgres/hooks/postgres.py#L66, meaning the final

[2022-11-09 19:33] igorborgest commented on #27566
@o-nikolas I would be happy to contribute here, but I don't have the required time in the next six weeks, so I prefer to not block the task development by now. If it is still open after that, I will be happy to jump in! :)

[2022-11-09 20:41] viniolivieri opened #27581 "DruidOperator only allows to make HTTP spec submissions"
### Apache Airflow Provider(s)

apache-druid

### Versions of Apache Airflow Providers

_No response_

### Apache Airflow version

2.3.3

### Operating System

Amazon Linux 2

### Deployment

Virtualenv installation

### Deployment details

_No response_

### What happened

We have been using Imply Druid for aggregating data and only HTTPS requests are allowed to submit specs in our druid cluster.

[2022-11-09 20:51] bluek1te opened #27582 "CronTriggerTimetable doesn't run the first scheduled job after creating a new DAG."
### Apache Airflow version

2.4.2

### What happened

New DAG with CronTriggerTimetable will sometimes miss the first run of the job. If I edit the schedule after the miss, it will usually recover and start scheduling on time. This doesn't seem to happen 100% of the time.

### What you think should happen instead

DAG implementing CronTriggerTimetable with a start_date occurring before the current

[2022-11-10 01:06] o-nikolas commented on #27566
@igorborgest Sounds good, no pressure!

[2022-11-10 02:56] matthewblock opened #27587 "Removal of s3 `conn_type` renders `provide_bucket_name()` useless"
### Apache Airflow Provider(s)

amazon

### Versions of Apache Airflow Providers

apache-airflow-providers-amazon==6.0.0

### Apache Airflow version

2.4.2

### Operating System

debian buster

### Deployment

Docker-Compose

### Deployment details

_No response_

### What happened

[This PR 25980](https://github.com/apache/airflow/pull/25980) removed s3 `conn_type`. [The release notes for 6.0.0](

[2022-11-10 04:56] bharatk-meesho opened #27589 "Scheduler pods memory leak on airflow 2.3.2"
### Apache Airflow version

Other Airflow 2 version (please specify below)

### What happened

I am using airlfow 2.3.2 on EKS 1.22, the airflow service on EKS was launched by making minor modifications in official helm chart regarding replicas and resources. It is observed that the memory utilization by scheduler pod keeps on increasing as age of scheduler pod increases. Also this is observed whe

[2022-11-10 04:58] bharatk-meesho commented on #27589
One more thing that was observed is that on checking the memory utilisation by process running on pod using top command, I observed that no more than 0.5 - 2% memory was utilised. I have a screen-shot but don't see any option to attach it here.

[2022-11-10 05:27] krishna4ldw commented on #24742
Its been a while any idea when this feature will be released ? I need this functionality for multi tenancy use cases in GCP composer.
@jordanbecketmoore @potiuk

[2022-11-10 08:12] Taragolis commented on #27587
Nice found yet another undocumented feature.
Seems this decorator should be changed anyway because it doesn't cache connection object during interaction.

[2022-11-10 08:59] uranusjr commented on #27582
First we need to debug this and get the steps for reproduction more deterministic. For example, are there patterns you can notice when the scheduler is able to “recover”? Perhaps when you change the schedule to some specific values? When you do that in some certain points of time?

Also cc @mai-nakagawa for ideas.

[2022-11-10 09:17] uranusjr commented on #27575
Everything is possible, but this is not something we aim to do in near future. The DAG code and the web server are isolated from each other, and if you are able to modify DAGs in the web UI, it opens the possibility for anyone with access to the UI to be able to run arbitrary code on your server, which is an atack vector Airflow tries to avoid.

[2022-11-10 09:20] #16204 closed

[2022-11-10 10:21] uranusjr commented on #27399
Hmm, this and #27582 seems to be the same issue?

[2022-11-10 10:22] uranusjr commented on #27582
Just found #27399 which looks very similar.

[2022-11-10 11:11] potiuk commented on #27399
I think the other issue is "first" schedule - and this one is "missing one in the middle" - it might be the same but it might be different.

[2022-11-10 11:41] kumaranp23 commented on #24021
key_pairs = file_list.map(create_pairs)
AttributeError: 'XComArg' object has no attribute 'map'
map() is not implemented on XComArg? @uranusjr

[2022-11-10 11:48] ashb commented on #27345
Is this _only_ a problem on cloudwatch  logs? If no other logging backends are suffering from this then my gut answer says this is a problem with that one specific logging setup, not something in core. Let me take a look.

[2022-11-10 11:50] ashb commented on #27345
Was the cause upgrading to 2.4.2, or is it possible this is related to the 6.0.0 release of Amazon provider?

[2022-11-10 11:55] ashb commented on #27345
And as for what `airflow.tasks` was set to propagate: So that parse-time warnings from inside baseoperator.py don't vanish in to the ether: https://github.com/apache/airflow/issues/26599#issuecomment-1262442204

[2022-11-10 11:56] JorgenG commented on #27345
We were on 2.4.1 w/ 6.0.0 and noticed it when upgrading to 2.4.2. (So I'd say it's unlikely)

[2022-11-10 11:57] ashb commented on #27345
Found the issue, it's a "bug"/bad subclassing in Cloudwatch's `set_context` function.

[2022-11-10 12:10] potiuk commented on #27476
Hmm. Unless you mean something else, this is entirely possible. You could even set different period for workers, and diffferent for scheduler and even disable it completely for K8S pod (they only need the init container to run the sync once when they are started): https://github.com/kubernetes/git-sync

[code]

And let's not forget the fact that running scheduler(s) and even workers using persiste

[2022-11-10 12:19] ashb commented on #27345
Fix incoming, and we're preparing the RC for 2.4.3 this week, so will be available soon

[2022-11-10 13:52] ashb commented on #27345
Fix https://github.com/apache/airflow/pull/27591

[2022-11-10 16:00] romibuzi opened #27592 "AWS GlueJobOperator is not updating job config if job exists"
### Apache Airflow Provider(s)

amazon

### Versions of Apache Airflow Providers

apache-airflow-providers-amazon==6.0.0

### Apache Airflow version

2.2.5

### Operating System

Linux Ubuntu

### Deployment

Virtualenv installation

### Deployment details

Airflow deployed on ec2 instance

### What happened

`GlueJobOperator` from airflow-amazon-provider is not updating job configuration (like it

[2022-11-10 16:06] akizminet opened #27593 "Object of type V1Pod is not JSON serializable after detecting zombie jobs cause Scheduler CrashLoopBack"
### Apache Airflow version

2.4.2

### What happened

Some dags have tasks with pod_override in executor_config become zombie tasks. Airflow Scheduler run and crash with exception:

[code]

### What you think should happen instead

DbCallbackRequest should do to_json successfully

### How to reproduce

Start airflow with KubernetesExecutor
Make zombie task.

### Operating System

docker.io/apache/

[2022-11-10 16:20] potiuk commented on #27593
Did you try `airflow dags reserialize` ?  https://airflow.apache.org/docs/apache-airflow/stable/cli-and-env-variables-ref.html#reserialize

Can you check if it fixes your problem?

[2022-11-10 16:20] Taragolis commented on #27592
@romibuzi would you like to work on add update feature to `GlueJobOperator` ?

[2022-11-10 16:29] Taragolis commented on #27589
Hey @bharatk-meesho are you sure that "memory leaking" not related to one of this Issues/PRs

- https://github.com/apache/airflow/pull/27223
- https://github.com/apache/airflow/issues/27065
- https://github.com/apache/airflow/issues/14924
- https://github.com/apache/airflow/pull/18054

---

[Attach files by dragging & dropping, selecting or pasting them.](https://docs.github.com/en/get-started/wri

[2022-11-10 16:33] akizminet commented on #27593
Thank you for your quick reply @potiuk . I confirm `airflow dags reserialize` doesn't fix the problem. This is a clean setup. I migrated dag from 2.2.4 to 2.4.2 for testing

[2022-11-10 16:51] bbovenzi commented on #27511
@uranusjr Aren't we planning to add args or some better way to differentiate mapped tasks than just map_index?

[2022-11-10 17:11] Michalos88 commented on #16298
I had an identical issue with the scheduler using the Kubernetes Executor for airflow  image (2.2.5-python3.8) deployed using [Community Airflow Chart](https://github.com/airflow-helm/charts).

I solved the issue by turning off the `taskCreationCheck`.

[2022-11-10 17:44] bluek1te commented on #27582
ACK, I'm going to do some more sandboxing in my environment to see if I can get a deterministic set of steps.

[2022-11-10 17:56] nan0o opened #27598 "BeamRunPythonPipelineOperator does not set gcp_conn_id correctly"
### Apache Airflow Provider(s)

apache-beam

### Versions of Apache Airflow Providers

_No response_

### Apache Airflow version

2.3.3

### Operating System

Not sure what OS GKE Pods use

### Deployment

Composer

### Deployment details

_No response_

### What happened

When using BeamRunPythonPipelineOperator, composer shows in the task logs that it's trying to use "google_cloud_default" as a

[2022-11-10 17:58] #27345 closed

[2022-11-10 20:58] uranusjr commented on #27511
Yes I think there’s already an open issue for this.

[2022-11-10 21:01] jedcunningham commented on #27476
Yes, though not directly "efficiency" - GitHub does rate limiting. And yes, a local mirror is an excellent solution to that.

We default to 60s (which is a mistake imo, PR incoming!). You can't go beyond "0" without some risk of task failures from  being out of sync. Acceptable for some, not others. Going to a high interval, say hourly, is really asking for trouble. That's what I mean when I say,

[2022-11-10 21:17] uranusjr commented on #27593
This is likely related to #24356; with this patch, the scheduler now fully loads V1Pod instances in the process. cc @dstandish

[2022-11-10 21:32] dstandish commented on #27593
can you post dag code?  minimal reproducible dag please.

[2022-11-10 22:01] dstandish commented on #27593
ok here's repro code:
[code]

i don't think it's caused by that PR.

[2022-11-10 22:15] dstandish commented on #27593
fix forthcoming

[2022-11-10 23:05] uranusjr commented on #27079
If the goal is to make Jinja2 templating simpler (there’s no issue if it’s taskflow), the simplest way may be to add a built-in macro for this?

[code]

[2022-11-10 23:11] bluek1te commented on #27582
Sandboxed this all day today. It looks like every time that I have tested this so far, I have not been able to get the first run to occur

Step 1: Create new DAG with ID that is a completely new entry in the database, with a CronTriggerTimetable that is scheduled to occur 5 minutes later than my current time. (I have added a timezone attribute and am setting the cron time to my expected local time

[2022-11-10 23:26] o-nikolas commented on #25669
@Adityamalik123 I've assigned the task to you :)

[2022-11-10 23:30] sbbagal13 opened #27610 "TrinoOperator not allowing to run multiple sql statements from file"
### Apache Airflow Provider(s)

trino

### Versions of Apache Airflow Providers

apache-airflow-providers-trino            4.0.0

### Apache Airflow version

2.2.4

### Operating System

Debian GNU/Linux 10 (buster)

### Deployment

Official Apache Airflow Helm Chart

### Deployment details

Openshift on prem deployment

### What happened

When putting two queries in SQL file and providing to trin

[2022-11-11 00:28] #21711 closed

[2022-11-11 00:40] #27396 closed

[2022-11-11 00:59] NipunaPrashan opened #27612 "[Chart] Container security context is not defined"
### Apache Airflow version

main (development)

### What happened

Container security context is not defined to change through values yaml. This is a **security** issue for containers.

https://github.com/apache/airflow/blob/main/chart/templates/triggerer/triggerer-deployment.yaml

### What you think should happen instead

Include securitContext block under containers section and allow to change f

[2022-11-11 01:06] mai-nakagawa commented on #27582
I'm also trying to reproduce the reported issue. However, I haven't seen the issue so far.

[2022-11-11 01:26] jedcunningham commented on #27612
This is coming (soon!) in #24588.

[2022-11-11 01:51] mai-nakagawa commented on #27582
@bluek1te Do you see anything strange in Airflow Scheduler log? This could happen if Airflow Scheduler is down when it is supposed to trigger a DAG run.

[2022-11-11 03:28] bluek1te commented on #27582
Sure, just tested it again, before 9:25PM CST:
![image](https://user-images.githubusercontent.com/36559283/201256419-ed3aba66-6652-4c8a-8ba5-d4d4579bd492.png)
After 9:25PM CST:
![image](https://user-images.githubusercontent.com/36559283/201256470-7879ef9c-1680-4f8d-9481-d34cece8ef36.png)

Logs from scheduler (Debug turned on, let me know if you want logs without it turned on:

At 03:24:59
[code]

[2022-11-11 03:35] Bowrna opened #27614 "Double execution of failure callback for task"
### Apache Airflow version

2.4.2

### What happened

I have applied task callback for failure and success case using Cluster policy for the specific dag [https://gist.github.com/Bowrna/7fdca8b546fc274edd068ffdae5b76f9](https://gist.github.com/Bowrna/7fdca8b546fc274edd068ffdae5b76f9)

I am attaching the cluster policy that I have applied here.
https://gist.github.com/Bowrna/1994894beea39fa8e1c2695

[2022-11-11 03:37] Bowrna commented on #27614
I would like to submit a PR, but I want to confirm if this is an actual bug from committers and find out if my understanding is correct.

[2022-11-11 05:38] mai-nakagawa commented on #27582
Hmmm, there are only debug logs. I found nothing strange.

[2022-11-11 06:12] sydykov opened #27615 "Task's state is updated (the session is flushed) after on-failure, on-retry callbacks"
### Apache Airflow version

2.4.2

### What happened

Upon the refactor that happened in v.2.4, the logic in `handle_failure()` in `taskinstance.py` was changed, and now a task's state is updated (the corresponding session is flushed) after that task's on-failure, on-retry callbacks are called. As a result, these callbacks, effectively, cannot change the task's state as the state is controlled by

[2022-11-11 09:43] eladkal commented on #27610
Please upgrade the provider to latest version.
This was already fixed (in combination with common.sql provider).

[2022-11-11 10:04] tirkarthi commented on #27511
Possibly a duplicate of https://github.com/apache/airflow/issues/23020 which in turn got closed in favor of https://github.com/apache/airflow/issues/22073

[2022-11-11 10:25] rishav394 commented on #24111
@hankehly  @rjribeiro

Hey this might be useful to you.
[code]

Could not make `group_id` optional so I added a whole new mapping for adding `group_id`. This works for now.

[2022-11-11 11:56] nickpholden opened #27617 "Mapped tasks get stuck in restarting state and cause http 500 errors"
### Apache Airflow version

Other Airflow 2 version (please specify below)

### What happened

Version 2.4.1 Mapped tasks got stuck in restarting state after retrying. This also caused the ui to break with http server returning 500 errors - "restarting is not one of [success...." there is also no way I could find to mark those restarting tasks as failed/clear them. Didn't look like celery workers

[2022-11-11 12:28] uranusjr commented on #27617
Please provide steps to reliably reproduce this.

[2022-11-11 12:42] VOvchinnikov commented on #23497
As of now, 2.3.3 still suffers from the same fate. It is pretty much a constant annoyance for us TBH, and I know at least one more group, who suffer from similar issue.
But it's fairly hard to put a finger on _why_ this happens exactly - and "Airflow task stuck in running" googling returns pretty much anything, _but_ this particular cause.

[2022-11-11 12:54] ephraimbuddy opened #27618 "Status of testing of Apache Airflow 2.4.3rc1"
### Body

We have a kind request for all the contributors to the latest [Apache Airflow RC 2.4.3rc1](https://pypi.org/project/apache-airflow/2.4.3rc1/).

Could you please help us to test the RC versions of Airflow?

Please let us know in the comment if the issue is addressed in the latest RC.

- [ ] [Reduce log level for k8s TCP_KEEPALIVE etc warnings (#26981)](https://github.com/apache/airflow/pu

[2022-11-11 13:27] skvsree opened #27619 "KubernetesPodOperator - Applying core Airflow settings from section [kubernetes] with the following keys"
### Apache Airflow version

Other Airflow 2 version (please specify below)

### What happened

We are receiving below warning in version 2.4.0 of airflow while using celery executor + KubernetesPodOperator .  We are using in_cluster as True as we are running in AKS.  We tried fixing it by adding cluster_context and config_file to DAG file.  Now we got error as config_file and in_cluster as mutuall

[2022-11-11 13:31] ikucan opened #27620 "Bug in REST API"
### Apache Airflow version

Other Airflow 2 version (please specify below)

### What happened

In version v2.3.3.... (apologies if this has been fixed since)

The clear tasks on a DAG endpoint rejects the _include_subdags_ param. Odd as it works on the UI and the CLI also...

https://airflow.apache.org/docs/apache-airflow/stable/stable-rest-api-ref.html#operation/post_clear_task_instances

this is

[2022-11-11 14:13] sbbagal13 commented on #27610
@eladkal  thanks for responding , let me upgrade to latest version and confirm back.

[2022-11-11 14:16] bharatk-meesho commented on #27589
Thanks @Taragolis I will take a look at these links.
However I did tried one thing, I cleared the logs in /opt/airflow/scheduler and that didn't decreased the memory consumption. Also I checked the parameter in grafana dashboard which denotes memory utilized and the parameter is "container_memory_working_set_bytes".

Below is graph of scheduler pod level memory increasing from grafana although all

[2022-11-11 14:25] tirkarthi commented on #27620
It seems this field was only added to API in https://github.com/apache/airflow/commit/eceb4cc5888a7cf86a9250fff001fede2d6aba0f discussed in issue https://github.com/apache/airflow/issues/23227 (Merged in version 2.4.0 and above) though it was present in cli and webserver. Can you please try the payload with 2.4.0 and above?

[2022-11-11 14:30] romibuzi commented on #27592
Hey @Taragolis Yeah it will be my first Airflow contribution as well

[2022-11-11 14:37] tirkarthi commented on #27614
https://gist.github.com/Bowrna/1994894beea39fa8e1c269591b7f0346#file-airflow_local_settings-py-L120

[code]

Should this be checking `task.on_failure_callback.__qualname__ != "task_failure_alert"` instead of `task.on_success_callback.__qualname__ != "task_failure_alert"` similar to the condition in add_success_callback

[2022-11-11 14:43] tirkarthi commented on #27575
I guess modifying workflow from UI needs to update DAG code, serialized dags, etc. and goes against the https://airflow.apache.org/docs/apache-airflow/stable/#workflows-as-code . This looks similar to https://github.com/apache/airflow/issues/27164

[2022-11-11 14:47] tirkarthi commented on #27617
restarting was added to TaskState Enum in af368243f87dfb5a4bc98a571d7b4775186d214c (Airflow version 2.4.2)

[2022-11-11 14:55] Taragolis commented on #27589
Also would be nice to know about type of the memory are "leaked" might be it is some caches (you could find info in other issues).

And does it cause OOM?

[2022-11-11 15:20] potiuk commented on #27589
The `container_memory_working_set_bytes` should be non-evictable memory, so I think this is not a cache.

I think it will cause oom, but I also think this is one of your modifications - airflow does not seem to thek more memory, it looks like your working set. I recommend you to install completely "vanilla" airflow - Helm and Image and see if you see the same growth. If not (I expect that), you ca

[2022-11-11 15:43] bluek1te commented on #27582
I peeked into the `jobs` table for the database. It looks like these jobs are getting created, but they don't have the correct (or any) dag ID associated with them. My other jobs that don't use timetable seem to be working fine though (and have Dag ID's). Any thoughts?
![image](https://user-images.githubusercontent.com/36559283/201374909-084d20ec-4da9-4e85-b481-a800b7ed3d2d.png)

[2022-11-11 15:45] bluek1te commented on #27582
The dag ID is present in the `dags` table though for these specific dags:
![image](https://user-images.githubusercontent.com/36559283/201375503-8d6d468c-b7d5-46a9-a819-82bf7a36db3b.png)

[2022-11-11 15:58] ramziyassine opened #27622 "AirflowException Crashing the Scheduler During the scheduling loop (_verify_integrity_if_dag_changed)"
### Apache Airflow version

Other Airflow 2 version (please specify below)

### What happened

### Deployment
* Airflow Version: 2.4.1
* Infrastructure: AWS ECS
* Number of DAG: 162
[code]

### The issue

We have seen this issue when the Scheduler is trying to schedule **too many DAG (140+)** around the same time

[code]
Main Cause
[code]

[We believe this is happening here, airflow github](https:

[2022-11-11 16:02] nickpholden commented on #27617
OK thanks I'll upgrade and report back

[2022-11-11 16:02] potiuk commented on #24466
I do not think it is question of Airflow at all @SchernHe - this loosk like very different problem. Most likely you should set different keepalive on your SSH connection. It's likely GCP is much more aggressive on killing long-running outgoing connections without actitivity. Also I believe in GCP - regardless from keepalive, the GCP will kill long running connections anyway. I strongly suspect thi

[2022-11-11 17:01] fritz-astronomer commented on #27511
Closing for https://github.com/apache/airflow/issues/22073 👍

[2022-11-11 17:01] #27511 closed

[2022-11-11 20:24] jason-brian-anderson opened #27628 "Dags stopped running and webui not picking up changes to dag directory"
### Apache Airflow version

Other Airflow 2 version (please specify below)

### What happened

We run airflow 2.2.3 via docker-compose (basically [this](https://airflow.apache.org/docs/apache-airflow/2.4.2/docker-compose.yaml) ).  It's been running fine since we set it up 4 months ago. We have both a production and test instance, identical setup on different systems. Test is fine, but  our product

[2022-11-11 21:18] bluek1te commented on #27582
The above null dag ID entries were just from me restarting my scheduler and triggerer pods manually, so not really anything interesting. Am going to try running this code on my local airflow today and seeing if I still get this issue. (Wiping the database did not do anything)

[2022-11-12 06:33] winsont1 opened #27632 "Remove the additional constraints from the Airflow installation script"
### What do you see as an issue?

Remove the additional constraints  from the Airflow installation script
pip install \
 apache-airflow==1.10.12

![image](https://user-images.githubusercontent.com/16263869/201460873-59272909-e051-4ce5-a6c6-34fc00358d39.png)

### Solving the problem

Kindly remove the additional constraints  from the Airflow installation script, as I was encountering a legacy error

[2022-11-12 08:17] potiuk commented on #27632
Airflow 1.10 is not supported any more for more than a year and users should not install it as it contains multiple security vulnerabilities that have been fixed since.. Removing constraints is not a good solution. You should use very old version of 'pip' when you are installing 1.10 (but you really, really, really should not do it). The version that should work is pre 20.3. (20 is version from 20

[2022-11-12 08:18] #27632 closed

[2022-11-12 12:10] mik-laj commented on #27619
This means that you should configure the Kubernetes credentials information using [Connection](https://airflow.apache.org/docs/apache-airflow/stable/howto/connection.html), not the Airflow configuration. Here is docs about Kubernetes connection: https://airflow.apache.org/docs/apache-airflow-providers-cncf-kubernetes/stable/connections/kubernetes.html

[2022-11-12 12:10] #27619 closed

[2022-11-12 18:15] bluek1te commented on #27582
Tested this locally and it worked fine on local airflow setup with docker compose, so am going back to looking at config/network issues

[2022-11-12 22:18] fbmatilla commented on #21225
Hi, we are facing this issue in production too. Hoping to have the fix too. Thanks.

[2022-11-13 01:15] Walkerazos commented on #21225
hi, we encountered this problem in production very fresh.  I hope you find a solution to the problem.  It's giving us a lot of trouble.  Thank you.

[2022-11-13 01:16] patricker commented on #21225
I don't think we've seen this since upgrading to 2.4.1.

[2022-11-13 06:20] Adityamalik123 commented on #24675
@potiuk @eladkal I'd be interested to take this issue up. Can this be assigned to me?

[2022-11-13 07:52] MrParosk commented on #25836
@uranusjr created a PR for it (https://github.com/apache/airflow/pull/27640)

[2022-11-13 08:02] eladkal commented on #24675
assigned

[2022-11-13 10:39] potiuk commented on #21225
You have not explained which version you have. Did you upgrade to latest 2.4 ? version @Walkerazos ? This is anyhow the only way how fix can be applied (by upgrading to newer version) - and if you upgrade to 2.4 and you stop seing the problem, please report it here - we alredy got a few reports that the error has been solved since (there were multiple hundreds of errors fixed since and some of the

[2022-11-13 14:04] pierrejeambrun commented on #27523
@fokmess I see that you are willing to make a PR to fix this, I am assigning you. :smile:

Don't hesitate to ask for some pointers if needed

[2022-11-13 19:53] fatmumuhomer opened #27645 "Calendar view does not load when using CronTriggerTimeTable"
### Apache Airflow version

2.4.2

### What happened

Create a DAG and set the schedule parameter using a CronTriggerTimeTable instance. Enable the DAG so that there is DAG run data. Try to access the Calendar View for the DAG. An ERR_EMPTY_RESPONSE error is displayed instead of the page.

The Calendar View is accessible for other DAGs  that are using the schedule_interval set to a cron string ins

[2022-11-13 23:57] potiuk commented on #8212
Too bad. I will try other things soon.

[2022-11-14 00:01] potiuk commented on #27614
@Bowrna  - hard to say - if you are able to reproduce it, then likely it is a bug. Finding a problem and fixing might actually prove it.

[2022-11-14 00:05] potiuk commented on #27575
Yeah. I re-read itl @tirkarthi. I thought the change is about changing the order of tasks DISPLAYED in the UI in the grid view - as It can be easily done as UI-only change.

Indeed, changing "execution" sequence via UI is something that currently falls outside of the scope of Airflow and it is "won't do" case.

[2022-11-14 00:05] #27575 closed

[2022-11-14 00:43] potiuk commented on #27618
Checked #27223

[2022-11-14 00:54] potiuk commented on #10964
Yep. that could be a reaosn - not enough resources might cause exactly this klind of problem.

[2022-11-14 00:57] #26812 closed

[2022-11-14 01:17] potiuk commented on #11708
Would be great.

[2022-11-14 01:43] #27010 closed

[2022-11-14 02:28] potiuk commented on #27577
You have not explained "WHEN" the pod_template would change. From what I understand, you want to do it at service deployment time. And seems this is what you want to do - either on service deployment time or based on some manually triggered  event (which would be some kind of event reconfiguring the whole cluster). What you really need is a solution for your deployment not "airflow feature".

What

[2022-11-14 03:17] potiuk commented on #24742
The answer is pretty much always the same - It will be implemented, when someone implements it. This is how open-source software works.

If somone badly needs a feature in OSS project, and no-one is actually doing it, then they can do various things:

* implement them
* find somene who implements it
* them or they company can sponsor somoene who migh take an interest in it
* wait until someone imp

[2022-11-14 07:03] Bowrna commented on #27614
@tirkarthi Yes you are right. Thanks for pointing out this mistake

[2022-11-14 07:10] Bowrna commented on #27614
@potiuk
If someone could throw light on this it would be useful
Once it is getting executed as part of the `taskinstance` callback, while another time it is getting executed as part of `DagFileProcessorProcess`
Is it expected for callback to be executed from both of these file.
I will go back and debug this further and share more details in this thread.

I will also check if success callback is ge

[2022-11-14 07:59] IDeepakI opened #27654 "Airflow webserver not starting when provided external DB"
### Official Helm Chart version

1.7.0 (latest released)

### Apache Airflow version

2.3.1

### Kubernetes Version

1.23.10

### Helm Chart configuration

[code]

### Docker Image customisations

_No response_

### What happened

I was running simple airflow on kubernetes using helm with a configuration specified.
But the webserver not getting initialized.

here are the kubernetes pod
[code]

her

[2022-11-14 09:00] ephraimbuddy commented on #27654
Can you try setting `GUNICORN_CMD_ARGS` environment variable to `--preload`

[2022-11-14 10:58] saulbein opened #27657 "Zombie tasks detected after service restart sometimes do not retry"
### Apache Airflow version

Airflow 2.5.0

### What happened

We're having an issue due to the fact that sometimes we need to restart Airflow services. Tasks that were running during the restart will not retry properly (with Airlfow 2.3.4 some would retry successfully, now that is no longer the case). I have not managed to figure out the cause of this, but I can provide logs from the investigation

[2022-11-14 12:46] Bowrna opened #27660 "Callback added via dag_policy using cluster policy feature is not working"
### Apache Airflow version

2.4.2

### What happened

I am using cluster policy feature to add callback for all the dag. So I have used dag_policy function and added the callback to be invoked for success and failure.

Case 1: Added failure callback via cluster policy and ran DAG(which fails). No callback is invoked

Case 2: Added failure callback locally in DAG and ran DAG. Callback for failure c

[2022-11-14 14:28] IDeepakI commented on #27654
@ephraimbuddy
[code]

[2022-11-14 14:39] ephraimbuddy commented on #27618
Thanks @potiuk for testing 👍

[2022-11-14 14:39] #27618 closed

[2022-11-14 14:50] skvsree commented on #27619
The first line of the article says,  They are not used by KubernetesPodOperator tasks.

[2022-11-14 16:35] potiuk commented on #27476
There is no magic, again. shared volumes do none of sync quarantees either because there are no atomicity guarantees. Actually it is FAR worse (and our users suffered from those).

In most cases of shared volumes (as far as I know) this risk is far greater. You can have partially synchronized directories, partially synchronized files - when you have Amazon EFS with low iops the consistency of your

[2022-11-14 17:59] kiranphagura opened #27669 "Azure Batch Operator - hindering running DAG tasks in parallel"
### Apache Airflow version

Other Airflow 2 version (please specify below)

### What happened

(v2.2.5)
When using the AzureBatchOperator, we are trying to run 10 parallel tasks in Airflow, each on 10 different nodes in an Azure Batch pool. Our Azure Batch Pool has been set up to run 1 task per node, so the 10 tasks are spread evenly across the nodes in the pool.
We have tested running the tasks i

[2022-11-14 19:15] eladkal commented on #27669
Can you please be more specific?
As far as I can tell the modes are coming from azure.batch package.
If the issue is that there is a mode in azure that we don't use please guide us what is missing.
if the issue is that a mode is missing also in azure then the issue should be opened with upstream library.

[2022-11-14 19:58] mrn-aglic opened #27672 "Last automated data interval is always available in custom timetable"
### Apache Airflow version

Other Airflow 2 version (please specify below)

### What happened

I'm writing an example custom timetable. Implemented `next_dagrun_info`.
From the docs and examples the parameter `last_automated_data_interval` should be `None` if there are no
previous runs.

However, when I start up the example:
1. I can confirm that the table `dag_run` is empty.
2. when starting (unp

[2022-11-14 20:08] uranusjr commented on #27672
The first ever run of a DAG is generally calculated when the DAG is detected and pushed into the system by the DAG parser, before a DAG run is ever created. You should be able to see these fields in the `dag` table are already set at this point: `next_dagrun`, `next_dagrun_data_interval_start`, and `next_dagrun_data_interval_end`. The log you see is the scheduler retriving values for the _second_

[2022-11-14 20:12] mrn-aglic commented on #27672
@uranusjr ok, thanks for the clarification. This could be useful to add to the docs.
While on topic, can we see the logs for the first dag run calculation anywhere?

[2022-11-14 20:19] uranusjr commented on #27672
It kind of depends. I believe the DAG parser is a part of the scheduler process, so it should be somewhere in the scheduler logs. But if you add the DAG very early, it might be buried somewhere in Airflow startup and becomes unvisible (due to log config). Honestly there are many parts of how Airflow log things that’s unclear to me as well.

An entry in under _Concepts_ that goes through how a DAG

[2022-11-14 20:21] mrn-aglic commented on #27672
yeah sure, I could probably do it in the next couple of days.

[2022-11-14 20:48] uranusjr commented on #27628
What are the next run values you have? I wonder if this is actually related to dst.

[2022-11-14 21:07] janklan commented on #20911
The actual fix for this, on the OS level, is `sudo apt-key adv --keyserver keyserver.ubuntu.com --recv-keys 467B942D3A79BD29` (or whatever key ID are you missing)

[2022-11-15 00:49] potiuk opened #27674 "Status of testing Providers that were prepared on November 15, 2022"
### Body

I have a kind request for all the contributors to the latest provider packages release.
Could you please help us to test the RC versions of the providers?

Let us know in the comment, whether the issue is addressed.

Those are providers that require testing as there were some substantial changes introduced:

## Provider [alibaba: 2.2.0rc1](https://pypi.org/project/apache-airflow-provider

[2022-11-15 00:56] potiuk commented on #27674
Note that `cncf.kubernetes is rc3 - because I accidentally published cncf.kubernetes 5.0.0rc1 and rc2 some time in the past and it is impossible to delet an already released package in PyPI so I had to use rc3 for the `cncdf.kubernetes` provider.

[2022-11-15 04:25] Nino171 commented on #26931
Is there any update on this? I'm facing the same issue regarding the parameters right now.

[2022-11-15 04:37] bertiewooster opened #27676 "ERROR: 404 Client Error: Not Found for url: https://raw.githubusercontent.com/apache/airflow/constraints-2.4.3/constraints-3.11.txt"
### Apache Airflow version

2.4.3

### What happened

When I tried to install via the [Quick Start instructions](https://airflow.apache.org/docs/apache-airflow/stable/start.html), using Python 3.11 in a venv, I got this error when I ran `pip install "apache-airflow==${AIRFLOW_VERSION}" --constraint "${CONSTRAINT_URL}"`:

`ERROR: 404 Client Error: Not Found for url: https://raw.githubusercontent.co

[2022-11-15 04:43] uranusjr commented on #27676
Python 3.11 is not yet officially supported. See #27264.

[2022-11-15 04:43] #27676 closed

[2022-11-15 04:45] bertiewooster commented on #27676
Fair enough. Suggest the tutorial note this--this is going to happen to many people.

[2022-11-15 05:32] Nino171 commented on #26931
For anyone interested i worked around this issue with the PythonOperator, where i get in **kwargs and with e.g. `kwargs['execution_date'].isoformat()` i am able to pass the variables inside my parameters dict/json.

[2022-11-15 09:27] kiranphagura commented on #27669
@eladkal - thank you for your response!
The operator is only using 3 modes in the azure.batch.models.ComputeNodeState - there are several more available. The one we are looking specifically to be added is the running state: azure.batch.models.ComputeNodeState.running.

Here is the link to the fields available for use in the Azure Batch package: https://learn.microsoft.com/en-us/python/api/azure-ba

[2022-11-15 09:31] eladkal commented on #27669
would you be willing to open PR to address the issue?

[2022-11-15 09:32] kiranphagura commented on #27669
@eladkal - yes

[2022-11-15 09:54] potiuk commented on #27676
It is already mentioned in https://airflow.apache.org/docs/apache-airflow/stable/installation/prerequisites.html and https://github.com/apache/airflow/blob/main/README.md#requirements. For some reason you missed that part @bertiewooster

If you think there is a better place it should be mentioned, I suggest you make a PR in the documentation in the appropriate place. Airflow has more than 2200 con

[2022-11-15 09:55] potiuk commented on #27676
That would be a great help for others who will make the same mistake BTW.

[2022-11-15 09:57] eladkal commented on #27669
You need to fork. We have detailed guides:
https://github.com/apache/airflow/blob/main/CONTRIBUTING.rst
https://github.com/apache/airflow/blob/main/CONTRIBUTORS_QUICK_START.rst
You can also join the [chat](https://github.com/apache/airflow#links) there are channels for new contributors

[2022-11-15 09:59] kiranphagura commented on #27669
@eladkal - thank you - I will reply here once the PR is ready :)

[2022-11-15 11:36] csp33 opened #27687 "Allow global volume & volumeMounts in Helm chart"
### Description

I think we should add this option to avoid repeating the declaration in all the component's subsections.
It would be something similar to `env`

### Use case/motivation

Avoid repeating volume & volumeMounts along all components

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to fol

[2022-11-15 12:05] bharatk-meesho commented on #27589
I checked the memory stats on vanilla airflow (directly used the image provided by airflow for 2.3.2 without any modifications, still saw memory increasing)

[2022-11-15 12:28] potiuk commented on #27589
Do you know which process eats memory there? Are you using completely standard deployment with completely standard Helm Chart? Or do you have some modifications of yours?

[2022-11-15 14:41] MohnJadden opened #27690 "Can't build from Airflow dockerfile using Azure Container Registry due to BuildKit requirement"
### What do you see as an issue?

I am using Azure Container Registry to test out Airflow.  When I try to build an image using the Dockerfile as saved directly from this repo, the build fails.

I am running the command `az acr build --registry mycontainerregistryname --image apache/airflow:latest --file Dockerfile .` as described by [this Azure quickstart](https://learn.microsoft.com/en-us/azure/c

[2022-11-15 15:38] bharatk-meesho commented on #27589
@potiuk how do I know which process eats memory?
As shared above the result of top command, it doesn't where the memory is being utilized.

I am changing two things from official deployment process, below is my deployment process
1) Below is my docker file
[code]
I am using some libraries for extra functionality and for troubleshooting (since things like top is also not installed in pod)

2) Image

[2022-11-15 15:42] #27628 closed

[2022-11-15 15:43] jason-brian-anderson commented on #27628
tldr: use postgres:13 with airflow 2.2.3, not postgres:latest

[2022-11-15 16:20] bluek1te commented on #27582
Hey all - there was an issue with our Airflow configuration that caused the DAG's to reload in the order of milliseconds. This ended up exacerbating the issue which I believe is being discussed here: https://github.com/apache/airflow/issues/27399
The occurrence where it so happened to be the "first" run that missed was by chance and we ended up observing much more than the first being missed. Will

[2022-11-15 16:20] #27582 closed

[2022-11-15 16:22] bluek1te commented on #27399
Hey all, we had an issue in our configuration where our DAGs were reloading by the order of milliseconds (looking at last_parsed_time in the database) and we observed this issue happening a lot. The only DAG that failed to run in this circumstance were the ones that used CronTriggerTimetable. (We were using a test that should run every minute). I believe that if you set the DAG reload time very, v

[2022-11-15 16:29] r-richmond commented on #27674
Attempted to test `google: 8.5.0rc1` by installing it into a dev instance and was hit with the following error. Which I suppose is expected considering `apache-airflow-providers-common-sql 1.3.0` has rc1 above but I don't have an easy way to install `8.5.0rc1` in my dev environment as a result.

One workaround would be to update `google 8.5.0rcX` to be dependent on `apache-airflow-providers-common

[2022-11-15 17:04] PApostol opened #27695 "Improve filtering for invalid schemas in Hive hook"
### Description

#27647 has introduced filtering for invalid schemas in Hive hook based on the characters `;` and `!`. I'm wondering if a more generic filtering could be introduced, e.g. one that adheres to the regex `[^a-z0-9_]`, since Hive schemas (and table names) can only contain alphanumeric characters and the character `_`.

Note: since the Hive metastore [stores schemas and tables in lowerc

[2022-11-15 17:58] potiuk commented on #27674
Actually, the RC versions shouls also support dependencies to other rc packages. but I will check it later (on the run now). You can workaround and install both packages with `--no-deps` switch fi you have problems.

[2022-11-15 23:01] danielhoherd opened #27698 "Update git-sync with newer version, newer syntaxes"
### Official Helm Chart version

1.7.0 (latest released)

### What happened

The current git-sync image that is used is coming up on one year old. It is also using the deprecated `--wait` arg.

### What you think should happen instead

In order to stay current, we should update git-sync from 3.4.0 to 3.6.1.

### Are you willing to submit PR?

- [X] Yes I am willing to submit a PR!

### Code of Con

[2022-11-15 23:40] #27690 closed

[2022-11-16 00:50] potiuk commented on #27589
Do you see the same leaks WITHOUT modifying anything from basic airflow? I do not know if your modifications changed it - but just comparing it with "baseline" might give a hint. The whole point about debugging such problems is that they might be casue by changes that do not look suspicious and the BEST way of debugging them is to do something call bisecting - which is a valid debugging technique:

[2022-11-16 01:01] potiuk commented on #27589
Another option for pin-pointing is to selectively disable certain processes and compare the usage before/after. For example if you see a pod running with multiple processes in it 0 you can delete certain processes in some containers - changing  an entrypoint command to run with "sleep 3600" will run - likely everything else that there is to run with something that for sure does not take memory - a

[2022-11-16 02:06] farvour commented on #21947
Also seeing this in the same table with a massive number of DAGs (3k+). We are running multi-scheduler. Will #19842 resolve this? We're on `2.3.3` at this time.

[code]

[2022-11-16 03:11] potiuk commented on #27674
@r-richmond I cannot reproduce it. Where did you install the rc1 package from ?

I just double checked and our RC packages have mechanism implemented to cope with the issue you mentioned and they properly depend on .* version in case of such a cross-dependency:

[code]

The `.*` is added automatically when we release and RC package if we depend on another `apache-airflow` package - specificaly to

[2022-11-16 03:22] potiuk commented on #27674
OK.  I think I know. From the error message, seems you are using poetry @r-richmond. Poetry is not supported to install airflow, and it has apparently a bug that it cannot properly handle the vaild >= .* requirement. You MUST use `pip` to install airflow I am afraid.

[2022-11-16 04:49] uranusjr commented on #27026
Oh, so you mean per-operator sorting logic; I thought you were looking for custom sorting logic that each user can change independently in their own UI.

The proposed structure feels overly complex to me, however.

[2022-11-16 05:46] bdsoha commented on #27674
@potiuk The following work great:

### Provider [ssh: 3.3.0rc1](https://pypi.org/project/apache-airflow-providers-ssh/3.3.0rc1)

- [x] https://github.com/apache/airflow/pull/27301
- [x] https://github.com/apache/airflow/pull/26824

[2022-11-16 06:03] rajaths010494 commented on #27674
@potiuk The following work great:
Provider [microsoft.azure: 5.0.0rc1](https://pypi.org/project/apache-airflow-providers-microsoft-azure/5.0.0rc1)
- [x] https://github.com/apache/airflow/pull/26749

[2022-11-16 06:08] pankajkoti commented on #27674
We are getting the below error when trying to install the Kubernetes RC via `setup.cfg`:

[code]

Any hint that could help us solve this problem? The same via pip install works. But somehow it is failing with setup.cfg only for this RC, all other RCs work fine via `setup.cfg` including `apache-airflow-providers-amazon==6.1.0rc1, apache-airflow-providers-apache-hive==4.1.0rc1, apache-airflow-provid

[2022-11-16 06:23] IDeepakI commented on #27654
this issue got resolved when i updated livenessProbe for webserver
[code]

[2022-11-16 06:23] #27654 closed

[2022-11-16 07:16] johnwarburton commented on #27399
Can confirm when trying to schedule a DAG exactly one with `CronTriggerTimetable` airflow [v2.4.2] in **standalone mode** (where `dag_dir_list_interval = 300` seems to be ignored)
[code]
In the minute before 18:03, the DAG was processed 22 times

The first processing at 18:03, the `next_dagrun` was set to the same time one year later, without executing the DAG
[code]

If I could slow down the proc

[2022-11-16 08:33] eladkal commented on #27299
fixed in https://github.com/apache/airflow/pull/27635

[2022-11-16 08:33] #27299 closed

[2022-11-16 08:45] Taragolis commented on #27674
#26784 - Tested on actual both AWS SSM Parameter Store and AWS Secrets Manager and circular error gone (I hope forever)

#26687 - Tested non-doc parts
  - Test connection show expected error in the UI (non-testable connection)
  - Show warning if user provide non-existed `emr_conn_id`

#26946 - Assume role with credentials fixed and work as initial expected

#27134 - Most of changes related to doc

[2022-11-16 10:10] aru-trackunit opened #27708 "Scheduler throws an error "Couldn't find dag in DagBag/DB" on each startup."
### Apache Airflow version

Other Airflow 2 version (please specify below)

### What happened

Hi!

Airflow version 2.4.2

On every start of airflow scheduler I am getting an error “Couldn’t find dag %s in DagBag/DB!”. However the error disappears when all dags are processed by DagFileProcessorAgent. I noticed that agent runs in background updating `dag` and `serialized_dag` tables. However when I

[2022-11-16 10:15] chuxiangfeng opened #27709 "add hook to do something when All DAGs before each run"
### Description

like for each dag add on_success_callback or on_failure_callback, i want one hook to do some thing before all DAGs each run

### Use case/motivation

Add a function hook can be called before all DAGs each run ， in function can get some infos about dag， like dag_id，task infos for dag...

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing

[2022-11-16 11:54] SchernHe commented on #24466
@potiuk Thanks for your response.

The weird thing about the described issue was that the airflow task (an d DAG) did not terminate once the process was killed on the GCP machine. Shouldn't the task also be terminated in case the SSH connection gets closed?

Either way, I just re-structured my code, running the task in GCP in a background process and using sensors to check for the termination crit

[2022-11-16 12:40] potiuk commented on #27026
Why not relying on sorting order in the templated_field tuple? You can always define your our custom operator with different sorting:

[code]

Easy, starightforward, very easy to build a custom package with all the operators you want to have custom-sorted-fields for the whole installation, dag authors can override them as they want by adding their own custom operators for individual exceptins.

I

[2022-11-16 12:53] #14264 closed

[2022-11-16 12:59] potiuk commented on #20705
This is a very cool article. Thanks for bringing my attention to it @merovigen

[2022-11-16 13:18] potiuk commented on #27674
My guess you might have the other RC`s already installed locally and explicitly that's why they are found by `pip` - but if you do it through extra and they are not installed manually, `pip` does not find pre-release candidates automatically - you need to tell it to search also among pre-release candidates by `--pre` switch of `pip install`.

[code]

[2022-11-16 13:36] masariello commented on #16316
Not really. With the retry logic one will see the "quota exceeded" event as a failed attempt, which just means more noise to look at. Re-queueing would avoid that extra failed log to look at.

[2022-11-16 13:48] rodrigoassumpcao commented on #21225
Hi guys. I have the same issue.
I'm using KubernetesExecutor (on Azure), airflow version 2.4.2 (helm chart 1.7.0), kubernetes 1.24.6

Anyone knows a workaround for KubernetesExecutor?

This issue is causing a lot of troubles

[2022-11-16 13:55] pankajkoti commented on #27674
Thanks Jarek. I am sorry for the bother here, looks like it is an astronomer internal issue we have because of a constraint we have on the kubernetes provider releases. @kaxil helped us figure this out, so thanks to Kaxil too :)

[2022-11-16 14:11] MohnJadden commented on #27690
Let me clarify: this is using Azure Container Registry, which is a managed Azure service.  It isn't using Docker on a machine running Linux or Windows, nor is it building the image on any local machine - ACR builds/launches/terminates containers as a managed service.  There's no Windows environment involved; the issue replicates whether it's run from a Windows machine, Linux machine, or Azure Clou

[2022-11-16 14:32] potiuk commented on #16316
Not too sure about it. The "quota exceeded" SHOULD be looked at. If you have too many of those you should do something. Increasing quota or using pools to limit the actions for example. This is a very valid problem to surface in Airflow UI.

[2022-11-16 14:34] potiuk commented on #16316
Also If you have a need to hide it, you can always write custom operator deriving from KPO and handling the Quota Exceeded case transparently retrying.

[2022-11-16 14:36] potiuk commented on #21225
Then open a new issue and provice as much of an input as possible, showing your logs and circumstances (which might be very differnet from this case despite similarlities). This is the only way you can help with diagnosing your issue (and it is all in your hands to provide as much useful information as possible @rodrigoassumpcao )

[2022-11-16 14:39] sk-ilya opened #27714 "Re-use recent DagRun JSON-configurations"
### Description

Allow users to re-use recent DagRun configurations upon running a DAG.
This can be achieved by adding a dropdown that contains some information about recent configurations. When user selects an item, the relevant JSON configuration can be pasted to the "Configuration JSON" textbox.
<img width="692" alt="Screen Shot 2022-11-16 at 16 22 30" src="https://user-images.githubusercontent

[2022-11-16 14:40] masariello commented on #16316
Actually, I've just been informed that kubernetes will queue pods that exceed allocated hardware resources on the k8s namespace. I guess that's the best place to do the queueing then when there's no hard run-as-soon-as-possible requirement on the jobs.

And indeed, I agree. If that requirement is there, then one does indeed want to see that error message.

Thank you

[2022-11-16 14:49] eladkal opened #27715 "Add pre-commit rule to validate using `urlsplit` rather than `urlparse`"
### Body

Originally suggested in https://github.com/apache/airflow/pull/27389#issuecomment-1297252026

### Committer

- [X] I acknowledge that I am a maintainer/committer of the Apache Airflow project.

[2022-11-16 14:50] bdsoha commented on #10742
@edithturn Still working on *D400*?

[2022-11-16 14:51] eladkal commented on #10742
@bdsoha D400 is huge it involved many files. help is appreciated.

[2022-11-16 14:55] edithturn commented on #10742
@bdsoha thank you for asking.  I found 3150 changes to make and I tried to do it by parts. If you find another way to make this easier let me know so I can also jump in.
Appreciate it 🚀

[2022-11-16 14:57] corridordigital commented on #24730
Possible solution with this [PR](https://github.com/apache/airflow/pull/27638)

[2022-11-16 14:57] bdsoha commented on #10742
I want to know more or less what you are currently working on so that we don't both attempt work on the same resources.

[2022-11-16 15:00] fbmatilla commented on #21225
:( Looks like this is surfing from one milestone to the next one....

[2022-11-16 15:01] #16790 closed

[2022-11-16 15:04] potiuk commented on #27690
Buildkit is available for building images for > 3 years (as far as I remember) in all docker versions released since and it can be enabled by setting `DOCKER_BUILDKIT=1` variable (this is what the solution I linked to does if you look closely). And it is explicitly described in our changelog here https://airflow.apache.org/docs/docker-stack/changelog.html#airflow-2-3

We even figured out recently

[2022-11-16 15:04] edithturn commented on #10742
yay! My last change was pushed :)
So I am not working on this right now.
The approach that was following was:
Add this validation D400 to the pre-commits, evaluate all the files, and start fixing them by parts. Before sending the PR, again remove D400 from pre-commits so that it lets us push the changes :)

Let me know if that helps!

[2022-11-16 15:06] bdsoha commented on #10742
@edithturn Just needed to know that you are not working on it simultaneously.  Thanks!

[2022-11-16 15:21] potiuk commented on #21225
And more oten than not, the reasons for observed behaaviour MIGHT be different in different versions. The only way to know if your issue (Which might seem siimilar) is actually the same as other's issue and to help with investigations of it is you  spending time on documenting it and providing evidences. You and your company paid exactly 0 USD for the software and helping community to investigate

[2022-11-16 15:23] bbovenzi commented on #26059
I can replicate this so now let me poke around to see what's the root cause.

[2022-11-16 15:28] fbmatilla commented on #21225
I was just reading all the thread an seeing this particular issue is not being very well managed. That's all. We can live without a fix, for sure. Thank you for all your time.

[2022-11-16 15:30] potiuk commented on #21225
No. you were also downvoting comments without understanding the context of the project - which is (again let me repeat it) lack of respect and empathy.

[2022-11-16 15:34] fbmatilla commented on #21225
Yes, that's because I saw comments confirming this was solved but at the same time I could see the issue open and going from one milestone to the next one. I remove my downvoting if that's a problem....

[2022-11-16 15:38] potiuk commented on #21225
Apologies for doing that would be more appropriate - because you were downvoting the comments that explained why this was happening in response to your concern.

[2022-11-16 15:42] fbmatilla commented on #21225
Sure, apologies to all those working for free in this great and wonderful project!
And just remarking what I didn't like on this particular thread.
Thanks

[2022-11-16 15:43] #27593 closed

[2022-11-16 16:14] potiuk commented on #23497
Surely - feel free to create a new PR and continue that - possibly you are the best person to see if the original change is fixingthe problem and lead it to completion, Not sure why any previous change was reverted (you can likely ask it in the PR that reverted it, but for sure the way to fix it is to have someeone who takes over the PR and leads it to completion.

BTW. It would be also worthwile

[2022-11-16 16:15] #27610 closed

[2022-11-16 16:17] potiuk commented on #27620
Closing provisionally - we can always re-open it after the user comes back after checking that this is still an issue.

[2022-11-16 16:17] #27620 closed

[2022-11-16 16:34] ashb commented on #27523
I've got a fix for this, in working out where the problem was I have found that the fix is one line of code (and a new test)

[2022-11-16 17:38] potiuk commented on #27622
Very rare race condition - I prepared a fix for that in #27720

[2022-11-16 17:54] ramziyassine commented on #27622
much appreciated @potiuk

[2022-11-16 19:29] bdsoha commented on #10742
[code]

airflow/api
airflow/api_connexion
airflow/callbacks
airflow/cli
airflow/datasets
airflow/decorators
airflow/exceptions.py
airflow/hooks
airflow/macros
airflow/security
airflow/timetables
airflow/triggers

[2022-11-16 19:50] potiuk commented on #27617
Closing provisionally until the user reports otherwise.

[2022-11-16 19:50] #27617 closed

[2022-11-16 19:59] alexandermalyga commented on #27674
@potiuk
Provider [trino: 4.2.0rc1](https://pypi.org/project/apache-airflow-providers-trino/4.2.0rc1) https://github.com/apache/airflow/pull/27168

**This particular issue is fixed in `4.2.0rc1`.**
But, when I tried with `4.1.0` to check that the issue was still in the old version, it wasn't anymore. I guess this is because the dependency was specified as `trino>=0.301.0` in `4.1.0` and it dowloade

[2022-11-16 20:11] bdsoha commented on #10603
@jpays I think a variant of this was implemented #26457. Can this be closed?

[2022-11-16 20:14] #9145 closed

[2022-11-16 20:14] uranusjr commented on #10603
Done in #26547.

[2022-11-16 20:14] #10603 closed

[2022-11-16 20:44] potiuk commented on #27674
Of course - it's the installation of new provider bumped trino upgrade. If you already had an earlier version of trino library installed the only way to upgrade it would be to manually upgrade the trino library. If we did not have >= 0.318 it would not have happened.

[2022-11-16 20:54] alexandermalyga commented on #27674
[Make GSheetsHook return an empty list when there are no values (#27261)](https://github.com/apache/airflow/pull/27261) works as expected.

[2022-11-16 21:17] hendrix04 commented on #9342
I just wanted to throw a perspective onto this thread.

I am not necessarily looking for multi-tenancy. My use case is more of, "I want people to be able to create cross dependency DAGs, but not be able to re-run a dag that they didn't create."

Maybe there is a better way of handling that scenario that I am not realizing?

[2022-11-16 21:31] alexandermalyga commented on #27674
[PostgresHook: Added ON CONFLICT DO NOTHING statement when all target fields are primary keys #26661](https://github.com/apache/airflow/pull/26661) works as expected.

[2022-11-16 21:46] potiuk commented on #9342
Check DAG level permissions here @hendrix04 https://airflow.apache.org/docs/apache-airflow/stable/security/access-control.html#dag-level-permissions and see if it is good for you.

If not then in a few months we will likely have a discussion about more sophissticated (but hopefully simpler)  dag UI permission model.

[2022-11-16 22:24] potiuk commented on #27474
Would you like to make a PR to fix it @andersbogsnes ?

[2022-11-16 22:37] aaronabraham311 commented on #27714
Hi can claim this issue?

[2022-11-16 22:44] potiuk commented on #27714
Feel free.

[2022-11-16 22:55] ZhangCreations commented on #24988
Hi can I claim this issue?

[2022-11-16 23:05] dstandish commented on #27674
@potiuk the yandex changelog has a note about the 4.0 release since i thought that we would be bumping.
see here https://github.com/apache/airflow/pull/27040/files#diff-78feedeed4b63a7326f7ade03a383d397cceb5f48c2eda0f90ddcce25494033aR27

confirmed it's in the release package.  i am going through all of them now

[2022-11-16 23:33] potiuk commented on #24988
Feel free - but airbyte track should be considered as alternative and maybe this one is not needed ?

[2022-11-16 23:40] potiuk commented on #27674
Ok. Thanks. Missed it. I will remove yandex and make a follow-up release.

I will leave as it is. It was originally marked as breaking, and maybe even if it is not, it's still OK from SemVer point of view (we are ok to bump major version any time we want, regardless. This is at most small annoyance.

Will leave it as is, This can be corrected in the docs (in the next version), it will stay in the

[2022-11-17 00:10] dstandish commented on #27674
ok i'll keep compiling things in that PR and yeah, somethings can be deferred for sure

[2022-11-17 00:17] dstandish commented on #27674
ok i completed review and all suggestions are in that PR

[2022-11-17 00:22] dstandish commented on #27674
ok @potiuk, in addition to yandex, **jdbc** references a non-existent release in the changelog

but the other suggestions i think can be docs-only

[2022-11-17 01:18] tschroeder-zendesk commented on #23926
We upgraded from 2.3.4 -> 2.4.2 in hopes this would be fixed, but we are still getting tons of duplicate entry errors.

[code]
This is causing so many headaches. Our schedulers keep dying and we have to manually restart task and several other related issues.

[2022-11-17 01:51] yjs03057 opened #27729 "Airflow UI log is different with real log file"
### Apache Airflow version

Other Airflow 2 version (please specify below)

### What happened

As the issue title, Airflow ui shows different timezone with log file.
And it is also different with mini-map.

<mini-map with KST timezone> - this is right log
![image](https://user-images.githubusercontent.com/43867737/202333994-df039e67-83e0-46f1-bd8f-7d779679ae2e.png)
<ui log with KST timezone> -this

[2022-11-17 01:54] #27462 closed

[2022-11-17 03:01] zachliu commented on #23926
@tschroeder-zendesk you need to go to 2.4.3

[2022-11-17 05:41] bdsoha commented on #10603
@uranusjr I think the PR was #26457...?

[2022-11-17 06:26] andersbogsnes commented on #27474
@potiuk Sure - I'll give it a go 👍

[2022-11-17 11:00] stepanof commented on #24731
@potiuk Hello Jarek.
I'm using custom airflow image based on `apache/airflow:2.4.1-python3.8`
Recently I built HA clusters for postgres database and redis. Both are used by airflow cluster (1webserver,2scheduler,2worker)
I have faced with problem in scheduler and worker in the moment when VirtualIP of redis or postgres cluster move at another node - tasks stuck in 'queqed' or 'scheduled' status.
I

[2022-11-17 11:04] ashb commented on #27523
I'm actually not sure about my fix. Yes it does make the sort order stable, but right now the order _should_ be using the "file definition order" -- i.e. tasks added to the dag first appear in the sort first. And that "feels" like a better default sort for most people that forcing it to use task_id sorting

@fokmess What is the "input" for your dynamic DAG? Is it based on something that might be "

[2022-11-17 11:05] parichay9 opened #27741 "Task exited with return code Negsignal.SIGKILL"
### Apache Airflow version

2.4.3

### What happened

task running fine on local machine but getting error on production.
using astronomer:
airflow-2.4.3
pods: 28
cpu cores: 20
Memory: 60 GB
also while running the task memory is almost 45% of used.

### What you think should happen instead

_No response_

### How to reproduce

_No response_

### Operating System

Kubernetes

### Versions of Apache

[2022-11-17 11:05] ashb commented on #27523
Ah:

So yeah, I guess we need to decide if this is something we should change in Airflow, or is the right fix here to be say "add an `ORDER BY` to your query to generate it in a stable order"

I'm leaning towards the later.

[2022-11-17 11:24] potiuk commented on #27523
Agree - sorting by "deifinition order" is generally way better than alphabetic sorting in DAGs. We have similar issue about sorting the template_fields - https://github.com/apache/airflow/issues/27026#issuecomment-1316958468 where I believe we should keep "natural order" not sorting nor parameterisation. Everywhere where DAG Author (or DAG Generating programmer if it is from a DB) this gives the u

[2022-11-17 11:46] potiuk commented on #24731
Thanks for the diagnosis, but I think you applied one of "good" solutions and there is not much we can and will do in Airlfow for that.

I think what you did is the right approach (one of) not a workaround. This is expected. Airflow has no support for active/active setup for Redis or postgres and expects to talk to one database server only. There is no way for airflow components to recover when th

[2022-11-17 11:50] potiuk commented on #24731
Also. You can also configure keep-alives in your connections to make such fail-over faster, Postgres redis, PGBouncer, all of those have a way to configure keep-alives (look for sqlalchemy decumentation etc.) and you can usually configure keep alives to get connections broken faster, so that Airflow components might naturally restart due to "broken pipe" kind of errors much faster.

[2022-11-17 11:53] eladkal commented on #27687
If you have a feature you want to work on you can raise PR directly. no need to open issue first :)

[2022-11-17 13:10] hendrix04 commented on #9342
@potiuk, I saw that and was looking into it.

It didn't look like that works for partial matches (either via regex or substring match). If it does then it would 100% work for my use case. If not then I think it would be a bit too onerous to try and create a rule for every DAG in the system.

If it doesn't work on partial matches, I can likely figure out a different route for my use case. Ultimatel

[2022-11-17 13:19] potiuk commented on #9342
Sure. I think it would be great to  start the discussion at the Devlist. I think we need to start discussing finally on how we are going to approach user management in the future and having well rounded input with use cases and requirements will be a good start to think a) whether we can do it within the current RBAC or extending it or b) whether it should be replaced with something else and c) ho

[2022-11-17 13:50] nickpholden commented on #27617
After testing on the most recent version I see tasks getting stuck in queued state. Possibly related to retries/unstable network conditions

[2022-11-17 14:20] Arvind2222 commented on #27715
I am checking this @eladkal

[2022-11-17 14:28] aabouelleil-seniorlink commented on #26497
We ran into this issue upgrading from 2.3.1 to 2.4.1 so it doesn't seem the issue is fixed yet. These table alterations resolved the problem though.

[2022-11-17 14:54] punx120 commented on #27674
#27184 Tested - looks good

[2022-11-17 14:56] notatallshaw-gts commented on #27729
Have you checked the release notes for 2.3.4: https://github.com/apache/airflow/blob/main/RELEASE_NOTES.rst#added-new-config-logginglog_formatter_class-to-fix-timezone-display-for-logs-on-ui-24811 ?

[2022-11-17 15:23] AVMusorin commented on #25032
It's very useful feature and I need it as well. @uranusjr May I try to implement it?

[2022-11-17 15:45] priyank-cloud opened #27747 "pip install apache-airflow==2.1.2"
### Apache Airflow version

Other Airflow 2 version (please specify below)

### What happened

webserver not working
e.py", line 1011, in execute
    return meth(self, multiparams, params)
  File "/home/actian/.local/lib/python3.10/site-packages/sqlalchemy/sql/elements.py", line 298, in _execute_on_connection
    return connection._execute_clauseelement(self, multiparams, params)
  File "/home/act

[2022-11-17 15:45] priyank-cloud commented on #27747
Python version: 3.10.7
Airflow version: 2.1.2
Node: ukslqaubuntu7.actian.com
-------------------------------------------------------------------------------
Traceback (most recent call last):
  File "/home/actian/.local/lib/python3.10/site-packages/sqlalchemy/engine/base.py", line 1276, in _execute_context
    self.dialect.do_execute(
  File "/home/actian/.local/lib/python3.10/site-packages/sqlalc

[2022-11-17 17:02] #27096 closed

[2022-11-17 17:16] abhishekbhakat commented on #15613
This still exists with `apache-airflow==2.4.3+astro.1` and `apache-airflow-providers-elasticsearch==4.2.1`.

[2022-11-17 17:26] park-peter commented on #25200
The issue still persists when more than 2 empty mapped tasks are chained with 2.4.3. Example code:
[code]
![image](https://user-images.githubusercontent.com/46539900/202515268-ddd5c797-faf0-4332-ad8f-b6aa5ec087b7.png)

[2022-11-17 17:26] schattian commented on #23497
fyi @potiuk @swalkowski after investigating a bit more this issue, seems there's a walkaround by using the kubernetes executor.
Using celery executor means that the job status is not updated till the pid that observes the execution finishes (execution which hangs by the logs api)

Using k8s executor, the status is updated based on pod status instead so it does not hang (as pod status was always up

[2022-11-17 17:40] potiuk commented on #15613
Does the https://github.com/apache/airflow/issues/15613#issuecomment-1104487752 fix the problem for you ? Seems that this is not an Airflow problem, but filebeat one and you need to apply some fixes to Filebeat.

[2022-11-17 17:41] pankajastro commented on #27674
Tested #26652, #27330, #27533, #27236, #27543 work as expected

[2022-11-17 17:51] bdsoha commented on #27674
Tested #27404, #27376, #27321

[2022-11-17 18:19] eladkal commented on #24675
fixed in https://github.com/apache/airflow/pull/27717

[2022-11-17 18:39] abhishekbhakat commented on #15613
Not using Filebeat at all. Only Logstash with input as log file directly.

[2022-11-17 18:51] potiuk commented on #15613
So i guess you should describe your configuration.

From the description above it looks like it was caused by Filebeat. Can you please provide details of your configuraiton (what and how you have configured, the exact stack trace etc? That might help to investigate the issue of somoene will look at it. The original issue was raised in 2.0.2 but having evidence from the most recent versions of both

[2022-11-17 19:13] abhishekbhakat commented on #15613
I'm using Astro-runtime image 6.0.4
pip freeze:

[code]

Relevant Airflow Configs:
[code]

Logstash Conf:
[code]

Have a separate docker image for Logstash sharing logs path with airflow components:
[code]

For elasticsearch using an Opensearch endpoint. [Link](https://opensearch.org/docs/latest/opensearch/install/docker/#sample-docker-compose-file-for-development)

This should do.

[2022-11-17 19:13] pierrejeambrun commented on #27523
Removing the `area:UI` for `area:webserver` as this is most likely where changes will happen (if any)

[2022-11-17 19:25] pierrejeambrun commented on #27042
@micaelarg

I wasn't able to reproduce this, on a fresh virtualenv installing airflow 2.4.3 and running it in standalone works fine.
Do you have any more details on how to reproduce this ? How did you install airflow, what metadata database are you using ?

[2022-11-17 19:32] pierrejeambrun commented on #26905
Continuing our work to modernize the UI, I think adding a new xcom tab to task details to display xcom entries would be a good idea. I believe we already have an endpoint for retrieving XCOM entries.

[2022-11-17 19:38] abhishekbhakat commented on #15613
Attaching a sample log on ES:

[code]

[2022-11-17 19:41] eladkal commented on #11728
@o-nikolas i believe that some of this is covered by AIP-51?

[2022-11-17 19:43] eladkal commented on #12644
Is this still reproducible in latest Airflow version?
I think https://github.com/apache/airflow/pull/23521 should have resolved this issue?

[2022-11-17 19:45] pierrejeambrun commented on #25724
Hello @dmishh,

Thank you for reporting the issue. Sorry for the late response. As of today I believe this has been fixed:
![image](https://user-images.githubusercontent.com/14861206/202544109-4e061003-7f69-4fa7-99d6-5414accd7b82.png)

Closing for now. Feel free to reopen if needed :)

[2022-11-17 19:45] #25724 closed

[2022-11-17 19:57] o-nikolas commented on #11728
AIP-51 aims to generalize any interaction with executors so that the code isn't specifically coupled to any one executor. But it will not remove the fundamental interaction between webserver and executor here.

[2022-11-17 20:05] pierrejeambrun commented on #25062
Hello,

For me this has been fixed in:
https://github.com/apache/airflow/pull/26789

Closing for now. Feel free to reopen if needed :)

[2022-11-17 20:05] #25062 closed

[2022-11-17 20:07] eladkal commented on #21955
@jyotidhiman0610 are you still working on this issue?

[2022-11-17 20:09] eladkal commented on #23890
I encountered this before. deleting from the UI didn't work but deleting from cli/api did work

[2022-11-17 20:10] #27512 closed

[2022-11-17 20:11] lozuwa opened #27753 "Airflow task finished successfully according to logs but task status was never updated"
### Apache Airflow version

Other Airflow 2 version (please specify below)

### What happened

Airflow 2.2.4

We have a task that runs a slack notification which usually takes 1 to 3 seconds to finish. However, we noticed it was stuck on queued state for some hours. Below I provide some logs of the scheduler, there it can be seen the task was correctly queued and sent to the worker. However, when

[2022-11-17 20:25] pierrejeambrun commented on #24721
@ming-zhang-SN We made the update for the grid view, do you want to open a PR for the log page ?

[2022-11-17 20:30] pierrejeambrun commented on #24699
Hello @bbovenzi and @uranusjr,

I feel like this is addressed as of today, both via the grid view and task modal actions.

Closing for now, feel free to reopen if needed

[2022-11-17 20:30] #24699 closed

[2022-11-17 20:33] pierrejeambrun commented on #23946
Hello @michaelmicheal

Are you still working on this ? Do you need some help ?

Best

[2022-11-17 20:48] potiuk commented on #15613
Ah cool. I pretty much hoped this would happen when you look closely. Let me just close this one then - since we have a good solution and confirmed it works.

[2022-11-17 20:48] #15613 closed

[2022-11-17 21:58] bbovenzi commented on #26059
The webserver isn't calculating upstream and downstream join ids correctly, leading it to lose some nodes and edges. Restarting the webserver does fix the issue until you clear tasks again.

[2022-11-18 00:20] #23880 closed

[2022-11-18 01:02] potiuk commented on #25032
You can try - but this is rather complex one and needs quite some testing I believe.

[2022-11-18 01:09] #23145 closed

[2022-11-18 03:40] BobDu commented on #27589
have the same problem in airflow 2.4.2
deploy use official helm chart, in aws eks 1.20 & 1.21, use offical docker iamge `apache/airflow:2.4.2-python3.10`

But, i deploy standalone dagProcessor.
memory leak both happen on scheduler and dagprocessor.

![image](https://user-images.githubusercontent.com/20370175/202611175-396419ef-1648-405a-a21e-4c9396d41fad.png)
![image](https://user-images.githubuse

[2022-11-18 04:33] yjs03057 commented on #27729
I'm not using custom formatter class... And I didn't change anything about log formatter config from default value. Do I need to make custom formatter to fix this?

[2022-11-18 09:46] cristianastorino opened #27772 "Unable to get dag logs from Web UI"
### Apache Airflow version

2.4.3

### What happened

When trying to view logs from Web UI I get the following error:

`*** Log file does not exist: /opt/airflow/logs/dag_id=demo_dag/run_id=manual__2022-11-17T09:46:26.538673+00:00/task_id=test-demo/attempt=1.log
*** Fetching from: http://airflow-scheduler-599d84c9c9-r9kws:8793/log/dag_id=demo_dag/run_id=manual__2022-11-17T09:46:26.538673+00:00/tas

[2022-11-18 09:47] potiuk commented on #27674
Thanks everyone. Closing this one and releasing most providers (see announcement at devlist for details)l

[2022-11-18 09:47] #27674 closed

[2022-11-18 09:51] alexott commented on #27674
Unfortunately I'll have time to test Databricks provider only on weekend

[2022-11-18 10:05] sshivprasad commented on #27674
Tested #26951 - Works as expected

[2022-11-18 10:23] potiuk commented on #27772
You get default hostname retrieved - you should conofigure it according to your needs if the default provides wrong (internal) name: https://airflow.apache.org/docs/apache-airflow/stable/configurations-ref.html#hostname-callable

[2022-11-18 10:23] #27772 closed

[2022-11-18 10:45] emincanoguz11 commented on #27674
Hi @potiuk. Sorry for late response, I am very busy nowadays.

I tested #27174 - Its works.

[2022-11-18 10:57] potiuk commented on #27674
We can always fix in upcoming release if we find problems @alexott :D

[2022-11-18 12:11] richardbadman commented on #26045
Hey, the PR I made that should hopefully address this, has been merged and planned to be a part of the helm chart 1.8 release

[2022-11-18 12:54] ephraimbuddy commented on #27753
Please can you try the dag on the latest airflow and give feedback? Can't reproduce

[2022-11-18 13:27] ephraimbuddy commented on #27660
From the [doc, task/dag policies](https://airflow.apache.org/docs/apache-airflow/stable/concepts/cluster-policies.html) runs at load time.

[code]

[2022-11-18 14:40] notatallshaw-gts commented on #27729
Not sure, was just a suggestion. I am not having this issue on 2.3.4. I did however have it, or something similar on 2.3.3, at least for New York time zone.

[2022-11-18 14:45] bbovenzi commented on #27714
In the meantime, we did just add the ability to copy the whole config: https://github.com/apache/airflow/pull/27639

[2022-11-18 14:57] eTopchik commented on #27593
Will it come with new release or i just need rebuild my image?

[2022-11-18 15:02] yannibenoit commented on #18041
@potiuk
I'm on version [2.3.4](https://pypi.python.org/pypi/apache-airflow/2.3.4), I got a issue on an existing DAGs that's was working fine before with older version (2.1.X) 🤷‍♂️

I tried to update the following variables and I still have the issue :
[code]

and also tried with `dagrun_timeout=timedelta(minutes=120)`

I don't understand what I'm doing wrong because other dags work fine 😢

Any clu

[2022-11-18 15:17] andreitsukanov opened #27777 "Different output data formats for macros {{ ts }} depending on time"
### Apache Airflow version

2.4.3

### What happened

In the case when the DAG starts at the moment when the number of milliseconds is 0,
then {{ ts }} macros the time format is %Y-%m-%dT%H:%M:%S%z
in the case when the number of milliseconds is not equal to 0,
the time format is %Y-%m-%dT%H:%M:%S.%f%z

Therefore it breaks work with macro `macros.ds_format`

### What you think should happen instead

[2022-11-18 18:25] Taragolis commented on #27777
This is unlikely a bug of Airflow it is how builtin [datetime.isoformat()](https://docs.python.org/3/library/datetime.html#datetime.datetime.isoformat) works.

I would recommend [format](https://pendulum.eustace.io/docs/#formatter) `logical_date` instead of use `macros.ds_format`

[code]

[2022-11-18 18:51] #27777 closed

[2022-11-18 19:18] dstandish commented on #27593
It will be in next release

[2022-11-18 21:06] ana-carolina-januario opened #27785 "XCom not working when xcom_pull from subdag task in main DAG"
### Apache Airflow version

2.4.3

### What happened

I have a DAG with a SubDAGOperator task that has two PythonOperator tasks. Both of the subdag's tasks return values and publish them into xcom. I confirmed and the values are available in XCom List (throught UI).
When inside the subdag I can read the returned values(throught xcom) from one task to the other task.
In the main DAG, the downstream

[2022-11-18 22:01] ana-carolina-januario commented on #27785
The complete code is:

[code]
As you can see we've tested in multiple ways to get to the subdag's pushed value. All with no success.

Thanks in advance.

[2022-11-18 23:56] erosons opened #27788 "Apache not found in providers folder"
### Apache Airflow version

2.4.3

### What happened

After installing the providers package , I restarted my instance of airflow, I  was able to setup the spark connections  but  my dag sparksubmit operator cannot find the apache . spark folder path in the airflow provider path

Broken DAG: [/opt/airflow/dags/sparkSubmitPerMeter.py] Traceback (most recent call last):
  File "<frozen importlib._bo

[2022-11-19 00:04] o-nikolas commented on #27788
Can you describe how you installed the spark provider? And if you still have it paste the output you got.

[2022-11-19 00:28] erosons commented on #27788
I did docker exec it <containerID> bash  into the airflow webserver
container and run the pip install apache-airflow-providers-apache-spark

Thank you
Samson

On Fri, Nov 18, 2022 at 6:04 PM Niko ***@***.***> wrote:

[2022-11-19 03:47] #15834 closed

[2022-11-19 04:01] o-nikolas commented on #27785
#### tl;dr: this actually is working, see my simplified example below. BUT there is an edge case where this _doesn't_ work for manual triggers of the parent dag.

If you load the attached dag below into your airflow environment (simplified from what you provided) it will run every 5 minutes and the XCOM value from the task in the subdag will be correctly read back from the task in the parent dag.

[2022-11-19 09:17] AngeloPingoGalp commented on #27785
Hi Niko,
Yes, we tested with the manual trigger.
I've tested your code and the "read_xcom_value" task didn't read the xcom value. Did you test it?
`*** Log file does not exist: /opt/airflow/logs/dag_id=test_xcom_issue/run_id=scheduled__2022-11-19T00:00:00+00:00/task_id=read_xcom_value/attempt=1.log
*** Fetching from: http://airflow-2-4-3-worker-0.airflow-2-4-3-worker.airflow.svc.cluster.local:8793

[2022-11-19 09:55] AngeloPingoGalp commented on #27785
Hi Niko,

I changed the code, basically, some simplifications and I changed the schedule to every 5 minutes and worked.

Code:

    from __future__ import annotations

    from datetime import datetime

    from airflow import DAG
    from airflow.operators.python import PythonOperator
    from airflow.operators.subdag import SubDagOperator

    DAG_NAME = "test_xcom_issue"
    SUB_DAG_NAME = "sub

[2022-11-19 11:20] ashb commented on #27523
Chaning my idea of a fix from code fix to documentation against `docs/apache-airflow/howto/dynamic-dag-generation.rst`

[2022-11-19 11:21] ashb commented on #23542
@tagoad Is your DAG definition static or is it perchance dynamic as the result of a DB query?

[2022-11-19 12:09] pierrejeambrun commented on #13158
Resolved in https://github.com/apache/airflow/pull/15277. Closing

[2022-11-19 15:39] alexott commented on #27674
@potiuk unfortunately DatabricksSqlOperator is broken - it fails with error:

[code]

most probably it's caused by #25717

[2022-11-19 15:45] alexott commented on #27674
Can we revert this release of databricks provider until this issue is investigated & fixed? It's really bad that refactoring was done without testing of affected operators.

[2022-11-19 15:56] eladkal commented on #27674
We always welcome the community to test. This is why we have this tracker before release.
Noting that if provider is not well covered with unit tests then we have no way of knowing if new functionality works. Other providers have coverage for testing templated fields.

I dont think there is need to yank the release because one operator stopped working. Affected users can use older version of provi

[2022-11-19 16:10] alexott commented on #27674
The problem here was that voting was open only during the work week, not over the weekend as usual. And I have time only over weekend.  I agree about having test coverage, but it work in progress.

P.S. It looks like that #23971 broke saving results to file

[2022-11-19 16:38] Taragolis commented on #27785
@ana-carolina-januario @AngeloPingoGalp just want to highlight that SubDags is deprecated feature and will be removed one day, I do not know if someone want to invest time to make any changes in depreciated functional.

Did you tried TasksGroup which is replacement for SubDag?
- https://airflow.apache.org/docs/apache-airflow/stable/concepts/dags.html#taskgroups-vs-subdags
- https://docs.astronomer

[2022-11-19 17:11] eladkal commented on #13158
@pierrejeambrun it was reverted and raised new draft PR
https://github.com/apache/airflow/pull/25656 can be merged only for Airflow 3.0

[2022-11-19 17:19] eladkal commented on #27674
We are always looking for ways to improve :)
If you specific idea in mind about what we can do better (procedure wise) I suggest to start a thread in the mailing list

[2022-11-19 17:43] AngeloPingo commented on #27785
Hi,

Yes, I started the transformation of our subdags into tasks groups already,
after some research regarding this issue. Thanks & Regards.

On Sat, Nov 19, 2022, 16:39 Andrey Anshin ***@***.***> wrote:

[2022-11-19 17:57] pierrejeambrun commented on #13158
@eladkal Thank you elad, I missed that part

[2022-11-19 21:30] koconder commented on #7911
@potiuk should we close this as resolved, as the DB cleanup is now part of the main release?

[2022-11-19 21:30] matthewblock opened #27795 "Add custom metadata to Tasks in Graph View"
### Description

This feature would enable the user to add custom metadata that would be viewable within the tooltip upon hovering on a Task in Graph View.

Currently when the user hovers on a Task in Graph View, they can see the following:

**There is a DAG run**
<img width="300" alt="image" src="https://user-images.githubusercontent.com/10802053/202871956-e22e2b19-517f-44fb-98b2-a5c11855f16b.png

[2022-11-19 23:41] potiuk commented on #27674
Hello @alexott - I have always been valued the work of yours. And please don't treat that perspnally. This comment has no personal attack on you in any way, but your comment come to me as a bit of shock. And I presume you are speaking in the name of Databricks as an organisation here. If not, I am even a bit more shocked.

Are you seriously saying that the work of volunteers that prepare and relea

[2022-11-19 23:57] potiuk commented on #27674
And yes - it is the weekemd, where I am on the woods and I just yanked the release (it's reversible as well):

<img width="939" alt="Screenshot 2022-11-20 at 00 54 08" src="https://user-images.githubusercontent.com/595491/202876165-f10b2f08-2d9a-4223-a28a-c1b177ca4bff.png">

I am planning the follow-up release right after I am back (Monday afternoon) so if we will find and investigate/fix the issu

[2022-11-19 23:58] hankehly commented on #27674
The following work as expected (better late than never)

- https://github.com/apache/airflow/pull/27076
- https://github.com/apache/airflow/pull/27564

[2022-11-20 00:04] potiuk commented on #27674
I think yanking is fine for that -> this is really a "soft" way of making releases not "searchable" when doing upgrades. People still can choose to install them manually, no problem. And sinece we have not included the new providers in "2.4.3" - it has no impact for the default bugfix installations/image/constraints versions.

I personally believe we should use yanking more frequently (and have no

[2022-11-20 00:11] eladkal commented on #27674
I'm not sure I agree.
Yanking is harsh. It means under no circumstances do not use this version. This is not the case here. 1 functionality out of many others has regression. If someone use this package without this specific operator why should he be effected? More over, if that individual waited for another feature you are now preventing him from using this new feature.
To me this sounds like thi

[2022-11-20 00:19] eladkal commented on #27674
(but this is not something I feel strongly about. Just my own view)

[2022-11-20 02:25] bertiewooster commented on #27676
That "Suggest a change on this page" button is a slick, low-barrier-to-entry way to let newcomers propose changes to documentation. I'd like to suggest it for another repo I work on. Is there documentation on how to install that button?

[2022-11-20 02:41] bertiewooster opened #27799 "First task in Quick Start fails"
### Apache Airflow version

2.4.3

### What happened

When I ran

`airflow tasks run example_bash_operator runme_0 2015-01-01`

I got the error

[code]

### What you think should happen instead

Successful completion of the task

### How to reproduce

1. Create a Python venv based on Python 3.10
2. Follow the [Quick Start instructions](https://airflow.apache.org/docs/apache-airflow/stable/start.ht

[2022-11-20 10:10] mlnsharma commented on #27282
Hi, I created a pull request https://github.com/apache/airflow/pull/27802. Tested changes locally, logs will be printed for each container one after another, except for the airflow-xcom-sidecar container. Please review it @potiuk @pulquero

<img width="1000" alt="image" src="https://user-images.githubusercontent.com/1742344/202896341-9fdf7ca8-07df-4122-af7d-026166282fdf.png">

[2022-11-20 11:14] pierrejeambrun commented on #23092
Fixed in #27789

[2022-11-20 11:14] #23092 closed

[2022-11-20 15:11] potiuk commented on #27676
It's just s standard sphinx theme feature. For example here you can read about the version we use i think  https://sphinx-book-theme.readthedocs.io/en/stable/customize/source-files.html . Other tools and doc systems might have their own ways to approach it.

[2022-11-20 15:21] Taragolis commented on #27788
Due to information that you provided you only install additional packages into webserver container after started it however you need to install into all of containers/services (at least scheduler/worker).

This is not a bug of Airflow. I would suggest install packages during build image based on airflow image or customise airflow image.

Links below might help you:
- https://airflow.apache.org/doc

[2022-11-20 15:21] #27788 closed

[2022-11-20 16:24] tirkarthi commented on #27799
I guess `include_examples=False` is passed as discussed in commit ce071172e22fba018889db7dcfac4a4d0fc41cda (https://github.com/apache/airflow/pull/26750#discussion_r989733072) that could be causing this issue. cc: @ephraimbuddy

[2022-11-20 20:10] aleksandr-shel commented on #22073
Hi guys, I would like to try to solve this issue

[2022-11-20 23:23] pulquero commented on #27282
PR looks good to me, I would suggest adding an option to KubernetesPodOperator so it's possible to specify the names of the containers to fetch the logs for, default it to "base", and maybe empty list means all containers, something like that.

[2022-11-21 03:12] tanvn commented on #26623
JFYI, in regard to my issue,
it seems that the cause is I was using a same tag for every docker build and the latest docker image sometimes was not pulled to the node.
After creating a new tag for each docker build, now the issue has gone.
And FailedMount errors sometimes still happen but I confirmed with K8S team and they said it seems that finally the mount will be success and does not affected

[2022-11-21 05:22] tirkarthi commented on #27795
Is this similar to #26457 ?

[2022-11-21 05:25] Lee2532 opened #27811 "Add s3 object get"
### Description

The s3 operator has a create object and a List keys operator, but it does not have the ability to import a single object (key).
We added the ability to import a single object.

### Use case/motivation

I want to add a function to read a single file stored in s3 on memory without saving it locally.

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I

[2022-11-21 05:33] matthewblock commented on #27795
Similar but not the same - I think #26457 is more for adding notes about a specific DAG run at the TaskInstance level, this is for adding information at the Task level, what would appear for all DAG runs.

[2022-11-21 05:44] bdsoha commented on #27282
@pulquero A similar comment was left on the pull request itself.

https://github.com/apache/airflow/pull/27802#pullrequestreview-1187282883

[2022-11-21 05:51] uranusjr commented on #27795
Do you have thoughts in mind how this kind of information can be provided by the user? I persume this requires some sort of UI that allows you to modify things both before and after execution.

[2022-11-21 06:07] ephraimbuddy commented on #27799
Ok. That gained us some speed. I will see if there's a workaround

[2022-11-21 06:29] ephraimbuddy commented on #27799
@tirkarthi, The commit you referenced is not the cause of the error. I ran this in 2.4.0 and still got the same error.
I haven't investigated much but I think the dagrun need to exist first before you can be able to run the command above.

[2022-11-21 08:11] dipesh747 opened #27814 "Airflow API Get an XCom entry endpoint not working correctly"
### Apache Airflow version

Other Airflow 2 version (please specify below)

### What happened

When calling Get an XCom entry endpoint, I get a 404 Xcom entry not found error. All other endpoints are working correctly and the URL is correct.  When I manually go into the airflow webserver and find the relevant dag_run and go into xcom, I am able to see the xcom keys and values.

Airflow version 2.1

[2022-11-21 08:54] amit151993 opened #27815 "werkzeug.routing.BuildError: Could not build url for endpoint 'Airflow.legacy_graph'. Did you mean 'Airflow.graph' instead?"
### Apache Airflow version

Other Airflow 2 version (please specify below)

### What happened

Traceback (most recent call last):
  File "/usr/local/lib/python3.8/site-packages/flask/app.py", line 2447, in wsgi_app
    Use a ``with`` block to push the context, which will make
  File "/usr/local/lib/python3.8/site-packages/flask/app.py", line 1952, in full_dispatch_request
    generate. If this sta

[2022-11-21 08:57] Bowrna commented on #27660
Even if it runs at load time, the callback param gets appended to the dag object. the callback has to be executed if the dag fails in that case. Am I missing to understand anything in this @ephraimbuddy?

[2022-11-21 09:17] uranusjr commented on #27815
Please provide information as requested by the issue template, otherwise there is no way to identify the issue.

[2022-11-21 09:19] uranusjr commented on #27814
Unfortunately 2.1.2 is not maintained anymore. Please upgrade.

[2022-11-21 09:19] #27814 closed

[2022-11-21 09:29] #27799 closed

[2022-11-21 09:30] amit151993 commented on #27815
@underyx , I'm not using any custom flask template in the DAGs.

Below are the default flask templates at the location /usr/local/lib/python3.8/site-packages/flask/templating.py

import typing as t

from jinja2 import BaseLoader
from jinja2 import Environment as BaseEnvironment
from jinja2 import Template
from jinja2 import TemplateNotFound

from .globals import _cv_app
from .globals import _cv_re

[2022-11-21 09:33] amit151993 commented on #27815
As of now, there are no DAGs scheduled in Airflow, I removed all of the DAGs and restarted the Airflow Instance, still seeing the same issue.

[2022-11-21 09:41] alexott commented on #27674
@potiuk sorry for adding more work on your shoulders, and I appreciate your work & other maintainers. We still don't have on-call for Airflow operators. Work on improving test coverage, and setting up continuous testing is prioritized.

[2022-11-21 11:31] ephraimbuddy commented on #27815
@amit151993 @uranusjr is asking you to follow the issue template here. You omitted 'how to reproduce' in the issue template. Can you answer that? How can we reproduce your issue

[2022-11-21 12:01] amit151993 commented on #27815
@ephraimbuddy I have included a temple for how to reproduce errors. Let me know, if it will require more information.

[2022-11-21 12:38] saulbein opened #27818 "Triggering a DAG with the same run_id as a scheduled one causes the scheduler to crash"
### Apache Airflow version

2.5.0

### What happened

A user with access to manually triggering DAGs can trigger a DAG. provide a run_id that matches the pattern used when creating scheduled runs and cause the scheduler to crash due to database unique key violation:
[code]

Worse yet, the scheduler will keep crashing after a restart with the same exception.

### What you think should happen instea

[2022-11-21 13:12] KUNDAN1334 commented on #27715
plz assigned this to me

[2022-11-21 14:11] stepanof commented on #24731
@potiuk Thank you for such extended comment, I see your point.

I have one more question.
Sometimes during Virtual IP and postgres endpoint changing airflow-worker try to restart by itself (not by 'autoheal' service).
But it can't restart beacuse of such error:
[code]

Airflow-worker restarting can long endlessly, and each time there will be this error.
Manual restart of worker (`docker-compose do

[2022-11-21 15:39] matthewblock commented on #27795
I was thinking it would be not be editable through the UI, and it would be essentially the same as `TaskGroup.tooltip`, [just a `str` provided in the `TaskGroup` constructor](https://github.com/apache/airflow/blob/b9729d9e469f7822212e0d6d76e10d95411e739a/airflow/utils/task_group.py#L73).

[2022-11-21 16:09] ephraimbuddy commented on #27815
What version of airflow?

[2022-11-21 16:25] amit151993 commented on #27815
airflow 2.2.0  version

[2022-11-21 19:34] potiuk commented on #24731
BTW. I believe there is something very wrong with your restarting scenario and configuration in general - some mistakes or misunderstanding on how image entrypoint works.

[code]

I think there are some things you are doing wrong here and they compounded

1) seems that you run airflow as init process in your container. This is possible but you need to realise the consequences of signal propagation

[2022-11-22 01:31] park-peter opened #27824 "DAG Run fails when chaining multiple empty mapped tasks"
### Apache Airflow version

2.4.3

### What happened

A significant fraction of the DAG Runs of a DAG that has 2+ consecutive mapped tasks which are are being passed an empty list are marked as failed when all tasks are either succeeding or being skipped. This was supposedly fixed with issue #25200 but the problem still persists.
![image](https://user-images.githubusercontent.com/46539900/20319333

[2022-11-22 01:36] uranusjr commented on #27824
Does changing the task’s trigger rule make a difference? I think the default rule is to require all upstreams to succeed, and having an empty upstream is not considered successful.

[2022-11-22 01:55] jensenity commented on #20047
same over here....

[2022-11-22 02:43] uranusjr commented on #27795
That makes sense, thanks for the clarification.

[2022-11-22 04:50] blag commented on #23092
Thank you @pierrejeambrun!

[2022-11-22 06:54] khmelevskiy commented on #25768
I correctly understood that no one is going to correct this error?
@uranusjr @eladkal ?

[2022-11-22 07:01] EinavDanielDX commented on #8212
Any news on this?
We're facing the same problem right now

[2022-11-22 07:07] KUNDAN1334 commented on #27715
plz guide me in which file i have to make changes

[2022-11-22 07:54] potiuk commented on #25768
As usual in open-source if someone fixes it, it will be fixed.

What I suggest (I see that issue only now) that there is very little information in the issue. I believe you misdiagnosed the impact of ally load plugin, i suspect that the two plugins you mentioned are causing the issue - not Airflow itself. Causing third party plugins is always a risk because they can manipulate Python codein a way

[2022-11-22 08:41] potiuk commented on #8212
For now monkey patching is the only solution that works (and seems it works) so i suggest you do not wait for any other solution and apply this. We might or might not find a better one. But there is a workaround that works, so use it above all.

[2022-11-22 10:14] potiuk commented on #27674
@eladkal  I looked at the change again, and I think I want to keep my approch - yanking - especially if we can fix it quickly - @alexott @kazanzhy ? Can we have a fix for the problem today/tomorrow? I would then release a fixed version.

Why I think you should yank it ?

SQL interface is an extremely important part of any modern data interface. Even if this is **just** SQLExecute, people will rely

[2022-11-22 11:36] freget opened #27830 "DatabricksSubmitRunDeferrableOperator runs in timeout when using AAD Token for SPN"
### Apache Airflow Provider(s)

databricks

### Versions of Apache Airflow Providers

apache-airflow-providers-databricks      3.3.0

### Apache Airflow version

2.4.3

### Operating System

Debian Bullseye

### Deployment

Official Apache Airflow Helm Chart

### Deployment details

_No response_

### What happened

When switching from DatabricksSubmitRunOperator to DatabricksSubmitRunDeferrableOp

[2022-11-22 11:44] Seabearlu opened #27831 "worker received the message but is not running"
### Apache Airflow version

2.4.3

### What happened

I trigger the dag to run through the api and the task is status is queued
This is the worker run log
![image](https://user-images.githubusercontent.com/51855360/203303459-4a975594-ed35-4913-a2d1-11cb72c9102a.png)
In this regard, I found that the status of such a task in flower is active

### What you think should happen instead

worker successf

[2022-11-22 12:38] ChandelAnushka opened #27836 "Airflow Database Upgrade error: sqlalchemy.exc.ProgrammingError: (psycopg2.ProgrammingError) column "run_id" referenced in foreign key constraint does not exist"
### Apache Airflow version

2.4.3

### What happened

My production deployment had Airflow v2.1.0. It already had Dags, Task Instances, etc., in the tables. When upgrading to Airflow v2.4.3, the execution of airflow db upgrade resulted in the failure: sqlalchemy.exc.ProgrammingError: (psycopg2.ProgrammingError) column "run_id" referenced in foreign key constraint does not exist

The logs/traceback

[2022-11-22 13:54] mihai-iacov opened #27837 "Databricks - Run job by job name not working with DatabricksRunNowDeferrableOperator"
### Apache Airflow Provider(s)

databricks

### Versions of Apache Airflow Providers

apache-airflow-providers-databricks==3.3.0

### Apache Airflow version

2.4.2

### Operating System

Mac OS 13.0

### Deployment

Virtualenv installation

### Deployment details

Virtualenv deployment with Python 3.10

### What happened

Submitting a Databricks job run by name (`job_name`) with the deferrable ver

[2022-11-22 14:05] ashb commented on #27824
The issue is not the tasks being skipped, but that _some_ of the runs fail.

@park-peter Can you look through the scheduler logs for the runs that fail? See if anything in particular jumps out?

[2022-11-22 14:50] oliviervg1 opened #27838 "apache-airflow-providers-common-sql==1.3.0 breaks BigQuery operators"
### Apache Airflow version

Other Airflow 2 version (please specify below)

### What happened

**Airflow version**: 2.3.4 (Cloud Composer 2.0.32)

**Issue**:  `apache-airflow-providers-common-sql==1.3.0` breaks all BigQuery operators provided by the `apache-airflow-providers-google==8.4.0` package. The error is as follows:

[code]

**Why this issue is tricky**: other providers such as `apache-airf

[2022-11-22 15:07] oliviervg1 commented on #27838
Apologies - just noticed there's a separate template for bug reports related to providers.  If someone could update the labels, that would be grand :)

[2022-11-22 15:23] oliviervg1 commented on #27838
One option to fix this would be to backport [this commit](https://github.com/apache/airflow/commit/87eb46bbc69c20148773d72e990fbd5d20076342#diff-529929b4ca60ce73b8da0f45d8a5c43c2d4e391b913fe78b39892899f812951e) and create a hotfix version 8.4.1 of the Google provider package.

[2022-11-22 15:26] Taragolis commented on #27838
Did you tried `apache-airflow-providers-google==8.5.0` ?

[2022-11-22 15:37] bugraoz93 commented on #26884
Hello, I think I can give the reference. I think @bhankit1410 is talking about the following operation. It copies individual partitions to another table or another table's partition.
https://cloud.google.com/bigquery/docs/managing-partitioned-tables##copying_partitions
This is the same job triggered by the following part of the `BigQuery Hook` which is used in the `BigQueryToBigQuery Operator`.
**

[2022-11-22 15:38] oliviervg1 commented on #27838
@Taragolis that would be the ideal fix... as I can see that the issue is fixed on that release.

Cloud Composer 2.0.32 doesn't seem to like that though. `apache-airflow-providers-google==8.5.0` pulls in a new version of `google-cloud-compute`, which itself wants to pull in new version of other dependencies that aren't compatible with the other GCP SDK packages...

Error message below:

[code]

[2022-11-22 15:40] eladkal commented on #26884
Assigned

[2022-11-22 15:50] eladkal commented on #27838
The issue is not with sql provider. From the sql provider perspective only feature was added thus it's just a feature release.
If this becomes a breaking change in other package (other provider) than this package needs to have a major release.

In Airflow we support only latest releases so if there is no issue with latest release then there is no issue. If this causes problems due to Compose limit

[2022-11-22 16:02] oliviervg1 commented on #27838
@eladkal that's a fair assessment and I don't think you need to yank version 8.5.0 given that it's compatible with the sql provider.

I guess that the real underlying problem is that it's currently not straight forward to get version 8.5.0 of the Google provider installed on the current latest release of Cloud Composer as https://github.com/apache/airflow/issues/27838#issuecomment-1323869325

[2022-11-22 16:12] eladkal commented on #27838
That is a question for Composer support then :)
I would like also to point that hopefully someone from Google will take ownership over https://github.com/apache/airflow/issues/15933 the dependencies of this provider are too coupled.

[2022-11-22 16:32] potiuk commented on #27838
The issue is with how past bigquery providers mis-used protected method of the common-sql provider, indeed. Unfortunately, the only way to fix it, is to bring the method back in 1.3.1 and yank common.sql 1.3.0, because this mis-use made common.sql provider 1.3.0 backwards-incompatible.

I am afraid it is on us rather than on Composer team, because the problem is with the google provider versions w

[2022-11-22 16:35] oliviervg1 commented on #27838
Cool - I'll poke some people on the Google side to see what we can do :)

[2022-11-22 16:39] potiuk commented on #27838
I think not much. It will have to wait for 1.3.1 release of common.sql provider.

[2022-11-22 16:40] oliviervg1 commented on #27838
Thanks @potiuk. Let me know if there's anything I can help with!

That said, I appreciate where @eladkal is coming from. I'll poke some folks on the Google side to see if they can engage with #15933.

[2022-11-22 16:49] potiuk commented on #27838
Just be aware tht this is something that at very least take months once seriously started. The experience with separating common.sql provider had shown something that I knew is difficult and I chose common.sql as the case of where separating common code and reusing it across several providers leads to. This i think 4th or 5th issue with common.sql provider that we discovered as result of this expe

[2022-11-22 16:49] mitchelladam commented on #27838
given that the issue with composer still occurs even when given fairly wide ranges of additional packages.

[code]

I think there is still something that the composer team can do here with how the dependencies are organised as part of building the composer environment.

given that the google-provider 8.4.0 requires common-sql <1.3.0, it was still selecting the 3.5.0 and 3.3.0 respectively of the r

[2022-11-22 16:55] potiuk commented on #27838
Google provider does NOT depend on common.sql < 1.3.0. It was impossible to know that it depends on it before we broke it in 1.3.0 accidentally. There was no intention of breaking. This was purely accidental and it will get fixed in 1.3.1 (and we will yank 1.3.0 so that no-one will accidentally install it because effectively 1.3.0 is broken as the API  from 1.2 whch was used (against the original

[2022-11-22 17:31] mdering opened #27842 "GCSToBigQueryOperator no longer uses field_delimiter or time_partitioning"
### Apache Airflow Provider(s)

google

### Versions of Apache Airflow Providers

google=8.5.0

### Apache Airflow version

2.4.3

### Operating System

Debian GNU/Linux 11 (bullseye)

### Deployment

Other Docker-based deployment

### Deployment details

_No response_

### What happened

The newest version of the google providers no longer provides the `field_delimiter` or `time_partitioning` fie

[2022-11-22 17:32] park-peter commented on #27824
[code]

[2022-11-22 18:15] btoh commented on #27078
@Taragolis Like I mentioned above, I want to use the regional endpoint: `elasticmapreduce.eu-west-1.amazonaws.com`

[2022-11-22 19:15] Voldurk commented on #27674
@potiuk Please excuse the delay, #27033 tested OK on Composer+Airflow 2.3.4, but had to resolve dependency issues.

[2022-11-22 20:57] danielhoherd commented on #27698
One problem I see here is that the `--wait` flag, which exists in 3.4.0 but is deprecated in 3.6.1, has an env var `GIT_SYNC_WAIT` and is defined in helm as [`.Values.dags.gitSync.wait`](https://github.com/apache/airflow/blob/035315f5cf/chart/templates/_helpers.yaml#L217-L218). We would want to change that to `--period` with `GIT_SYNC_PERIOD` as its env var, and `.Values.dags.gitSync.wait` as its

[2022-11-22 21:00] o-nikolas commented on #27785
Yup this was a typo of sorts, in the code snippet of mine you can see that I had the schedule (also 5 min) there but commented out, it was a slightly outdated version. I'll updated the snippet.

[2022-11-23 03:10] edglobo-hmedeiros opened #27850 "Airflow GCS Hook getting [SSL: CERTIFICATE_VERIFY_FAILED]"
### Apache Airflow Provider(s)

google

### Versions of Apache Airflow Providers

apache-airflow-providers-google==6.8.0

### Apache Airflow version

2.3.0

### Operating System

Debian GNU/Linux 11 (bullseye)

### Deployment

Composer

### Deployment details

docker-compose

### What happened

I am getting an SSL error everytime i try to execute an upload to Google Cloud Storage using GCS Hook.
I

[2022-11-23 06:40] bdsoha commented on #10742
@eladkal @kaxil Can we merge #27768. Thanks in advance.

[2022-11-23 08:25] bharatk-meesho opened #27852 "Each log line coming twice in task logs on airflow 2.4.2"
### Apache Airflow version

Other Airflow 2 version (please specify below)

### What happened

I am running airflow 2.4.2 in EKS 1.22 with minor tweaks to official helm chart. I am observing in UI, in task logs each log line is coming twice. Attaching a screen-shot below of the issue. As visible here all log lines are repeated twice in task log file.

<img width="1736" alt="Screenshot 2022-11-23 a

[2022-11-23 08:46] bugraoz93 commented on #26884
Thank you very much @eladkal!

[2022-11-23 09:27] tothandor opened #27853 "Custom Timetables cannot be used"
### Apache Airflow version

2.4.3

### What happened

I have a DAG that should be executed on every Wednesday for the last whole week (from Monday to Sunday). Data becomes available for the period by then. AFAIK this scheduling could not be done with the readily available timetables.

So, I have created a custom Timetable in a plugin, based on the [AfterWorkdayTimetable](https://airflow.apache.org

[2022-11-23 09:41] potiuk commented on #27852
Duplicate of #27345 fixed in 2.4.3. Please upgrade.

[2022-11-23 09:41] #27852 closed

[2022-11-23 10:12] #27838 closed

[2022-11-23 11:29] uranusjr commented on #27853
`infer_automated_data_interval` is _designed to only work with built-in timetables_, as described in its docstring. The Airflow implementation does not use it when there is a custom timetable of involved. If you find a case this is not the case, please submit the complete traceback so it's possible to identify the root cause.

[2022-11-23 12:44] george-zubrienko commented on #27838
Just stumbled across this issue once we moved google provider to side-loaded package group, and this issue popped up. We never seen it before because we use Poetry to install dependencies into airflow image, so this problem was auto-resolved by poetry selecting compatible versions...

[2022-11-23 12:52] george-zubrienko commented on #27838
Downgrading it to 1.2.0 seems to be OK:
[code]

Poetry dependency section for those interested:

[code]

[2022-11-23 13:32] potiuk commented on #27838
Correct. Downgrading commons-sql to 1.2.0 is a good workaround solution. Similarly upgrading google provider to 8.5.0.

Question (just to guide us in solving the problem @george-zubrienko ) - was there any reason why you could not upgrade google to 8.5.0 ? Or you just have not thought about it ?

[2022-11-23 15:36] tothandor commented on #27853
@uranusjr I am sorry, you are right. Indeed infer_automated_data_interval is not involved now. I have kept using this patch since it was needed, and I beleived that I still have to. Thanks for clarifying!

[2022-11-23 15:36] #27853 closed

[2022-11-23 15:53] minhadona opened #27859 "DYNAMICALLY CREATING TASKS issue : "_TaskDecorator' object has no attribute 'update_relative': ""
### Apache Airflow version

Other Airflow 2 version (please specify below)

### What happened

Airflow 2.3.3:

Use of .**_expand_** method to create tasks dynamically is returning this message as import error:

[code]

I have 4 tasks:
`run_validation_for_pix >> run_validation_for_boleto >> get_results >> check_and_build_slack_alert`

But for get_results, I need to be called more than 1 time. So be

[2022-11-23 16:39] 0bprashanthc opened #27862 "airflow failure and success callbacks read task instance state as 'running'"
### Apache Airflow version

Other Airflow 2 version (please specify below)

### What happened

airflow version == `2.4.0`

[code]

task_status from the above code is returned as "running" when task is failed. It's strange as I see task itself has been marked as failed and also callback gets triggered after failure, but when trying to read the task instance's state it's not as expected.

### What y

[2022-11-23 16:51] tirkarthi commented on #27859
I tried below dag and couldn't reproduce the error in main branch. I can see `get_results` mapped with with validation_1 and validation_2. Is it reproducible on latest stable release 2.4.3? Can you please add a simpler example with appropriate formatting so that this can be reproduced?

[code]

[2022-11-23 17:09] e-compagno opened #27863 "SqlSensor for BigQuery fails"
### Apache Airflow Provider(s)

google

### Versions of Apache Airflow Providers

[code]
### Apache Airflow version

2.4.2

### Operating System

Debian GNU/Linux 11 (bullseye)

### Deployment

Docker-Compose

### Deployment details

Client: Docker Engine - Community
 Version:           20.10.21

Server: Docker Engine - Community
 Engine:
  Version:          20.10.21
  API version:      1.41 (mini

[2022-11-23 17:27] tirkarthi opened #27864 "current_state method of TaskInstance fails for mapped task instance"
### Apache Airflow version

2.4.3

### What happened

`current_state` method on TaskInstance doesn't filter by `map_index` so calling this method on mapped task instance fails.

https://github.com/apache/airflow/blob/fb7c6afc8cb7f93909bd2e654ea185eb6abcc1ea/airflow/models/taskinstance.py#L708-L726

### What you think should happen instead

map_index should also be filtered in the query to return s

[2022-11-23 19:16] potiuk commented on #27863
This is expected behaviour. If you want to use BigQuery Hook, you need to define your connection as BigQuery type, not google type. Conn_type should be "gcpbigquery" not "google_cloud_platform".

[2022-11-23 19:16] #27863 closed

[2022-11-24 06:51] jyotsa09 opened #27878 "Task failing with error "missing upstream values" when running a dag with dynamic task group mapping"
### Apache Airflow version

main (development)

### What happened

Task failing with error "missing upstream values" when running a dag with dynamic task group mapping
error -
[code]

### What you think should happen instead

It should succeed

### How to reproduce

Run the below dag code
[code]

### Operating System

mac os

### Versions of Apache Airflow Providers

_No response_

### Deployment

[2022-11-24 06:56] jyotsa09 opened #27879 "Getting error in scheduler logs "Task killed externally" when running a dag with task group mapping"
### Apache Airflow version

main (development)

### What happened

Getting error in scheduler logs "Task killed externally" when running a dag with task group mapping
Logs -
[code]

other logs-
[code]

### What you think should happen instead

It should pass

### How to reproduce

Run the below dag to reproduce this -
[code]

### Operating System

mac os

### Versions of Apache Airflow Providers

[2022-11-24 07:14] jyotsa09 opened #27880 "Unable to see mapped task group information on UI"
### Apache Airflow version

main (development)

### What happened

UI is looking like a normal task group one even if the dag has mapped task group in it.

<img width="1352" alt="Screenshot 2022-11-24 at 12 01 12 PM" src="https://user-images.githubusercontent.com/88504849/203717544-572fd615-d03f-43ab-9592-e695952edbfd.png">

### What you think should happen instead

UI should show the mapped task

[2022-11-24 07:35] TPapajCin commented on #26931
@uranusjr Could please provide a hint how to do it as a dirty fix? This issue prevents anyone using papermill operator from upgrading the airflow.

[2022-11-24 07:39] uranusjr commented on #26931
You can override `_render_nested_template_fields` to provide rendering support for custom objects. See operators like KubernetesPodOperator (which uses it to render V1EnvVar objects) for examples.

[2022-11-24 08:39] jyotsa09 opened #27883 "Getting 404 when clicking on download logs button"
### Apache Airflow version

main (development)

### What happened

Getting 404 when clicking on download logs button for empty operator or mapped task group.

![2022-11-24 14 08 23](https://user-images.githubusercontent.com/88504849/203733537-747b9771-53e9-4438-8e76-09fc6b927ec2.gif)

Logs url-
[code]

### What you think should happen instead

It should download the logs

### How to reproduce

Run

[2022-11-24 08:40] jyotsa09 commented on #27883
cc @bbovenzi

[2022-11-24 08:47] arjunanan6 opened #27884 "ERROR - Error authorizing OAuth access token: maximum recursion depth exceeded while calling a Python object"
### Apache Airflow version

2.4.3

### What happened

As part of debugging some UI slowness, I have tried setting AIRFLOW__WEBSERVER__WORKER_CLASS to gevent. However, this has broken the login element:

[code]

Leaving the worker class to its default setting solves the issue, but I was wondering what could have gone wrong here. This doesn't seem like an airflow problem, rather a gunicorn one, but

[2022-11-24 08:54] yannibenoit opened #27885 "Tasks intermittently gets terminated with SIGTERM on Celery Executor"
### Apache Airflow version

2.4.3

### What happened

I recently upgraded airflow to 2.4.3

Some DAGs are not working anymore and i see an error in logs

[code]

### What you think should happen instead

Dag must get executed successfully without any sigterm signal.

### How to reproduce

No response

### Operating System

NAME="Ubuntu" VERSION="18.04.5 LTS (Bionic Beaver)"

### Versions of Apache

[2022-11-24 08:58] uranusjr commented on #27884
I would not be surprised if this is due to some magic gevent monkeypatching not interacting well with urllib3.

[2022-11-24 09:12] TPapajCin commented on #26931
Thanks! I did it but there was no change, I added some console prints and it seems that `_render_nested_template_fields` is not called at all in PapermillOperator. I will look more at that.

[2022-11-24 09:19] #27878 closed

[2022-11-24 10:27] #25493 closed

[2022-11-24 13:58] ajaykarthick27 opened #27890 "SFTP Sensor is not working with File Pattern Parameter"
### Apache Airflow Provider(s)

sftp

### Versions of Apache Airflow Providers

apache-airflow-providers-sftp==4.1.0

### Apache Airflow version

apache-airflow==2.4.3

### Operating System

NAME="Ubuntu" VERSION="20.04.2 LTS (Focal Fossa)"

### Deployment

Composer

### Deployment details

_No response_

### What happened

SFTPSensor is continuously running even when the files matching file patte

[2022-11-24 15:02] potiuk opened #27894 "Status of testing Providers that were prepared on November 24, 2022"
I have a kind request for all the contributors to the latest provider packages release.
Could you please help us to test the RC versions of the providers?

Let us know in the comment, whether the issue is addressed.

Those are providers that require testing as there were some substantial changes introduced:

## Provider [amazon: 6.2.0rc2](https://pypi.org/project/apache-airflow-providers-amazon/6.

[2022-11-24 15:21] potiuk commented on #27894
Checked my changes.

cc: @alexott @kazanzhy ->  would approeciate checking  databricks SQL executor integration with the new common-sql provider.

[2022-11-24 15:24] alexandermalyga commented on #27894
#27724 works as expected! Finally Trino inserts are 100% working

[2022-11-24 16:29] alexott commented on #27894
#27868 works, #27854 unfortunately not - results are double wrapped:

For example for `select * from default.my_***_table, parameters: None` we get: `scalar_results=True`, `results=[Row(id=1, v='test 1'), Row(id=2, v='test 2')]`. And then code:

[code]

wraps this list into another list. I think that logic should be changed a bit - right now we're collecting results for all SQL statements into a s

[2022-11-24 17:14] potiuk commented on #27894
Yeah. that part is a bit not clear about the intentions (or maybe I misunderstood it). Woudl be great if you have a PR indeed.

[2022-11-24 17:24] potiuk commented on #27894
Ah I think I see where I made wrong assumption @alexott . looking at it

[2022-11-24 17:38] alexott commented on #27894
In Databricks SQL operator (and I believe in others as well), there was following strategy: always return only last result - previous results were always discarded.  Primary reason for this was following:

* When you have multiple SQL statements, first one usually create table, inserts, etc. And only when you have select as the last statement, then you get results.  This matches the logic of the S

[2022-11-24 17:51] syedahsn commented on #27894
#27276 works as expected. System tests using those operators are all passing.

[2022-11-24 17:51] potiuk commented on #27894
Yes - I noticed that too now. With two caveats:
*  depends on the oprator what is the default (no problem)
*  it behaves differently when there is an "sql" passed and return_last is true -> then instead of one-element result  array  it returns the results

It is surprisingly difficult to unwind teh original convoluted behaviour :)

[2022-11-24 18:19] alexott commented on #27894
Opened #27897 - tested all file formats

[2022-11-24 18:29] ZhangCreations commented on #24988
Just to double check my understanding of the release cycle as outlined [here](https://github.com/apache/airflow#release-process-for-providers). If I implement this provider, does that require me to continue to maintain the versioning of this provider indefinitely?

[2022-11-24 18:48] george-zubrienko commented on #27838
@potiuk I usually pin versions (`==1.2.3`) of providers that ship a lot of dependencies, to what is shown in the official image by running `pip show <package>` and only upgrade if it was upgraded in the next release. Also, we don't upgrade to every release right away, so the snippets I posted were for 2.4.1 version where we did some dependency shuffling (no version bumps, simple `poetry update`) a

[2022-11-24 20:05] eladkal commented on #27890
Duplicate of https://github.com/apache/airflow/issues/27418 ?

[2022-11-24 20:09] ajaykarthick27 commented on #27890
yes did not notice.  I will close this issue.

[2022-11-24 20:09] #27890 closed

[2022-11-25 00:09] pulquero opened #27902 "HdfsSensor has no clear failure mode"
### Description

Currently, HdfsSensor pings forever if some failure causes the file not to be written. Some sort of timeout parameter would be nice.

### Use case/motivation

If there is a failure earlier in the pipeline that prevents the file of interest being written, HdfsSensor just pings forever, and everything looks fine. I would like some sort of way to have HdfsSensor fail, so that my team

[2022-11-25 00:51] uranusjr commented on #27862
Duplicate of #26760.

[2022-11-25 00:51] #27862 closed

[2022-11-25 00:56] uranusjr commented on #27859
I suspect a call is missed somewhere in how you instantiate tasks. Note that a `@task` function needs to be _called_ (either with `f.expand()`, `f.expand_kwargs()`, or just `f()` like a function) to become a concrete task. We can probably check for this user error and emit a better message, but we need a reproduction first to identify the issue.

[2022-11-25 01:21] #27879 closed

[2022-11-25 02:18] Ken-poc opened #27903 "assignment to dag.timezone"
### Apache Airflow version

main (development)

### What happened

I found confusing code when assigning `start_date.tzinfo` to `tzinfo`. I think the assignment to None is unnecessary. The assignment to `settings.TIMEZONE` will never happen. Is it intended?

https://github.com/apache/airflow/blob/3e288abd0bc3e5788dcd7f6d9f6bef26ec4c7281/airflow/models/dag.py#L465

### What you think should happen

[2022-11-25 02:23] uranusjr commented on #27903
Not sure what you mean. The attribute is set, from what I can tell.

[code]

[2022-11-25 02:30] vksunilk commented on #27894
#26986 Works as expected. I am able to view the DataprocLink irrespective of Job status

[2022-11-25 02:36] Ken-poc commented on #27903
Yes that's right. I pointed out that tzinfo is always assinged to None. I think this is unnecessary.
https://github.com/apache/airflow/blob/3e288abd0bc3e5788dcd7f6d9f6bef26ec4c7281/airflow/models/dag.py#L465

[2022-11-25 02:43] uranusjr commented on #27026
Problem is `template_fields` does not contain all operator fields, and you’d have no way to sort those non-templated fields (especially if some of them can’t be templated to begin with).

[2022-11-25 03:11] zsdyx commented on #13668
MySQL deadlock occurs when I use 2.4.1, Has this problem never been solved

[2022-11-25 03:20] Ken-poc commented on #27903
yes I know that works.

        if start_date and start_date.tzinfo:
            tzinfo = None if start_date.tzinfo else settings.TIMEZONE
            tz = pendulum.instance(start_date, tz=tzinfo).timezone

Though `start_date` has its `tzinfo`, `tzinfo` is always assigned to _None_ and `tz` eventually is made from `start_date` not `tzinfo` anyway.  this makes it confusing even though it acutally w

[2022-11-25 03:26] Ken-poc commented on #27903
This is not a bug. Could you remove the label?

[2022-11-25 07:36] eladkal commented on #27890
cc @Bowrna

[2022-11-25 08:14] jyotsa09 opened #27907 "Password is not masked in audit logs for connections/variables"
### Apache Airflow version

main (development)

### What happened

Password for connections and variables with secret in the name are not masked in audit logs.
<img width="1337" alt="Screenshot 2022-11-25 at 12 58 59 PM" src="https://user-images.githubusercontent.com/88504849/203932123-c47fd66f-8e63-4bc6-9bf1-b9395cb26675.png">
<img width="1352" alt="Screenshot 2022-11-25 at 12 56 32 PM" src="http

[2022-11-25 08:21] uranusjr commented on #27903
The next line is probably what causes the confusion. `pendulum.instance()` honours the first argument’s `tzinfo` by default, so if `start_date.tzinfo` is not None, `tz` can be anything and it does not matter. You can as well do

[code]

and the result would still be the same.

I guess a “less magical” way to write this would be

[code]

[2022-11-25 08:21] #27903 closed

[2022-11-25 09:30] Frank-T-Johansen opened #27908 "airflow db upgrade hangs against aws"
### Apache Airflow version

2.4.3

### What happened

I tried to run "airflow db upgrade" after ugprading airflow from 2.4.2 to 2.4.3, but the command just hung.

When I did strace it was trying to connect to AWS ssm, which is odd as my airflow installation is on a local server.

[root@<hostname> ~]# ps -ef|grep "db upgrade"
airflow   819024  819023  0 09:43 pts/1    00:00:02 /data01/airflow/.pyen

[2022-11-25 09:46] Frank-T-Johansen commented on #27908
It looks like the upgrade failed also, so I didn't need db upgrade:

[airflow@<server> ~]$ /data01/airflow/.pyenv/versions/3.9.12/bin/pip install 'apache-airflow[odbc]' --constraint file:///data01/airflow/airflow/constraints.txt
[lots of output that looks OK, until:]
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the sou

[2022-11-25 10:10] vksunilk opened #27909 "Add export_format to template_fields of BigQueryToGCSOperator"
### Description

There might be an use case where the export_format can be based on some dynamic values. So, adding export_format will help developers in future

### Use case/motivation

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://

[2022-11-25 10:11] Frank-T-Johansen commented on #27908
I managed to upgrade to 2.4.3 by modifying constraint on apache-airflow-providers-common-sql from 1.2.0 to 1.3.0 and adding ==2.4.3 to the pip command, and after that the db upgrade also worked as intended

[2022-11-25 10:20] Taragolis commented on #27908
@Frank-T-Johansen That is a bit strange.
Airflow might use [Secrets Backend](https://airflow.apache.org/docs/apache-airflow/stable/security/secrets/secrets-backend/index.html) for retrieve some configurations but it might only happen if you setup [AWS SSM Parameter Store Secrets Backend](https://airflow.apache.org/docs/apache-airflow-providers-amazon/stable/secrets-backends/aws-ssm-parameter-store

[2022-11-25 10:21] Frank-T-Johansen commented on #27908
I guess someone should check if that gets called regardless of being configured or not.  Or maybe there is no such local config file, and the test to see if it is configured is to talk to AWS SSM backend

[2022-11-25 10:30] Taragolis commented on #27908
This is a part of unit tests which as far as I know pass successfully.

From your side you might check your airflow configuration by
1. If expose config enabled than you might check it in the UI: Admin -> Configurations
2. By cli: `airflow config get-value secrets backend`

[2022-11-25 10:33] Frank-T-Johansen commented on #27908
That gives no output, I guess because its not configured

[2022-11-25 10:44] seunggabi opened #27911 "DAG.owner = [] support array type"
### Description

### if dag assigned owner=["a", "b"]:
- not error
- dagbag not viewing..

### Use case/motivation

support multiple owner
I will fix!

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://github.com/apache/airflow/blob/main/CODE_OF_CONDUC

[2022-11-25 11:28] ed-sparkes opened #27913 "clearTaskInstances API no longer returns cleared task ids"
### Apache Airflow version

Other Airflow 2 version (please specify below)

### What happened

Definitely present in Airflow 2.4.2

https://airflow.apache.org/api/v1/dags/{dag_id}/clearTaskInstances

is supposed to return a list of cleared task instances and it used to work as expected but some version between 2.3.4 and 2.4.2 the behaviour changed.

in this file `https://github.com/apache/airflow/

[2022-11-25 11:45] Taragolis commented on #27908
Unfortunetly I've unable to reproduce this.
Airflow do not required internet access for `upgrade db` in case if Secrets Backends not uses.
AWS SSM client only use in one place if it specified as secrets backend.

[code]

[2022-11-25 12:43] potiuk commented on #13668
Well no more details (including server logs showing what deadlocs with what has not been posted here. I asked for it and tit was not provided.

@zsdyx - if you want to speed it up - please provide detailed logs in a readable form:

1) more logs with context of when it happened so that we can see what happened before and after
2) corrrelated logs from other components from about the time it happene

[2022-11-25 13:26] Frank-T-Johansen commented on #27908
I guess its near impossible to reproduce, as it went away when upgrade completed.  It might have happened due to a state where it had patched other packages to what constraint demanded out of 2.4.3 while still having 2.4.2, so basically a half-upgraded state.
  I'll report if I come across this again.

[2022-11-25 14:13] alexlightbody commented on #16176
To anyone else who has stumbled upon this thread, for me the issue was Docker Desktop not having enough memory. I increased this to 9gb with a Swap of 2gb and repeated the helm install process and all was fine

[2022-11-25 14:55] Taragolis commented on #27894
#26374 tested, work as described

[2022-11-25 15:36] pankajastro commented on #27902
all sensor has a `timeout` parameter, did you try to use that?

[2022-11-25 15:46] pulquero commented on #27902
No, I didn't, I just looked at the parameters doc-ed here https://airflow.apache.org/docs/apache-airflow-providers-apache-hdfs/stable/_api/airflow/providers/apache/hdfs/sensors/hdfs/index.html#airflow.providers.apache.hdfs.sensors.hdfs.HdfsSensor and completely overlooked **kwargs. Thanks, that'll probably do it.

[2022-11-25 15:46] #27902 closed

[2022-11-25 16:58] potiuk commented on #27894
I will have to cancel the vote due to a bug found still in common.sql. Much more complete and comprehensive (with many tests added) fix is coming https://github.com/apache/airflow/pull/27912

I will carry-over the status of testing for the issues that have been already tested (thanks to everyone who helped with testing! ) so hopefully the last round of testing can focus on sql only.

[2022-11-25 16:58] #27894 closed

[2022-11-25 17:22] #26381 closed

[2022-11-25 19:50] ephraimbuddy commented on #27907
This looks like the fix:
[code]

[2022-11-25 20:26] #27909 closed

[2022-11-25 20:58] potiuk commented on #26045
Fixed by: #27148

[2022-11-25 20:58] #26045 closed

[2022-11-25 21:01] potiuk commented on #27729
Not sure if this is a real issue. Converting to a dicscussion until @yjs03057 confirms after migration

[2022-11-25 21:05] potiuk commented on #18041
I suggest to migrate to latest - 2.4 (or in a few days 2.5) version. There are 100s of related fixes since and it is the easiest way to see if things got better. This is most efficient way for everyone.

[2022-11-25 21:23] #27907 closed

[2022-11-25 21:43] potiuk commented on #7911
Sure. Let's close it.

[2022-11-25 21:43] #7911 closed

[2022-11-25 22:10] eladkal commented on #21005
@Greetlist are you working on this issue?

[2022-11-25 22:11] potiuk commented on #22073
Feel free.

[2022-11-25 22:16] eladkal commented on #22073
There is a pending PR https://github.com/apache/airflow/pull/27145
I think we are waiting for a dev list discussion on that

[2022-11-25 22:20] potiuk commented on #26623
Suggestion is to make date/version part of your TAG. using same tag for an image is a recipe for disaster. If anything else -you completely lose the connection between the source version and image.

[2022-11-25 22:21] potiuk commented on #26623
converting to discussion in case more is needed.

[2022-11-25 23:27] o-nikolas opened #27928 "AIP-51 - Local Executor Compatibility"
### Overview
Executors that run locally have certain limitations and requirements, many of which are currently hardcoded in core Airflow code. To add a new Executor, that would run locally, one would be required to change this core Airflow code.
### Examples
- **1a**) Whether or not to start the serve_logs sub-process, currently hardcoded to LocalExecutor and SequentialExecutor: https://github.com

[2022-11-25 23:28] o-nikolas opened #27929 "AIP-51 - Single Threaded Executors"
### Overview
Some Executors, currently a subset of the local Executors, run in a single threaded fashion and have certain limitations and requirements, many of which are hardcoded. To add a new single threaded Executor would require changes to core Airflow code.
Note: This coupling often shows up with SQLite compatibility checks since it does not support multiple connections.
### Examples
- **2a**

[2022-11-25 23:28] o-nikolas opened #27930 "AIP-51 - Misc. Compatibility Checks"
### Overview

Coupling around other compatibility checks, similar to coupling 1 and 2, but which don't fall into either category.

### Examples
- **3a**) Some Executors support pickling, some don’t, there is logic in both backfill and scheduler jobs that checks before submitting tasks to the Executor queue. Applies to DaskExecutor, LocalExecutor and SequentialExecutor as of now: https://github.com

[2022-11-25 23:28] o-nikolas opened #27931 "AIP-51 - Executor Coupling in Logging"
### Overview
The FileTaskHandler logging class has a special branch for Kubernetes, to fetch logs from the pod (Note: this is currently hardcoded to KubernetesExecutor so this would fail to run for the CeleryKubernetesExecutor or LocalKubernetesExecutor).
### Examples
- **4a**) See code: https://github.com/apache/airflow/blob/27e2101f6ee5567b2843cbccf1dca0b0e7c96186/airflow/utils/log/file_task_han

[2022-11-25 23:28] o-nikolas opened #27932 "AIP-51 - Executor Specific CLI Commands"
### Overview
Some Executors have their own first class CLI commands (now that’s hardcoding/coupling!) which setup or modify various components related to that Executor.
### Examples
- **5a**) Celery Executor commands: https://github.com/apache/airflow/blob/27e2101f6ee5567b2843cbccf1dca0b0e7c96186/airflow/cli/cli_parser.py#L1689-L1734
- **5b**) Kubernetes Executor commands: https://github.com/apach

[2022-11-25 23:28] o-nikolas opened #27933 "AIP-51 - Misc Executor Coupling in UI"
### Overview
There are pages in the Airflow UI which are specific to particular Executors.
### Examples
- **6a**) Kube yaml can be rendered in the UI for KubernetesExecutor and CeleryKubernetesExecutor, at the `/rendered-k8s` url.
Views code: https://github.com/apache/airflow/blob/27e2101f6ee5567b2843cbccf1dca0b0e7c96186/airflow/www/views.py#L1480
Associated TI code: https://github.com/apache/airf

[2022-11-25 23:29] o-nikolas opened #27934 "AIP-51 - Add More Details to Docs re Writing Custom Executors"
There is some documentation [here](https://airflow.apache.org/docs/apache-airflow/stable/executor/index.html) for Executors with a very small explanation on how to provide a path to a custom executor class.
However, it would be nice to add more pointers, tips and tricks around building custom Executors. Specifically around the importance of inheriting the Airflow BaseExecutor interface as well as

[2022-11-26 00:02] potiuk commented on #27818
Smth to take a look at 2.5.1

[2022-11-26 00:07] #25836 closed

[2022-11-26 00:33] potiuk commented on #27815
Upgrade to latest.

[2022-11-26 00:35] potiuk commented on #27815
Converting to discussion until @amit151993 rechecks this in latest version of airflow. I believe the problem was caused by conflict of depdendencies. @amit151993 - make sure when you upgrade to follow https://airflow.apache.org/docs/apache-airflow/stable/installation/installing-from-pypi.html and use constraints to install airlfow (this is the only official/supported version to install airflow);

[2022-11-26 02:17] bugraoz93 commented on #26884
Hey @bhankit1410, I think this feature has already been supported.

I have tested on `BigQueryToBigQueryOperator`. I created a simple DAG. You can see the DAG as follows. I generated sample 1000 records with multiple types of column types such as integer, UUID and timestamp. I have inserted data into a table. I have tested with every three Write Dispositions. Every case I have tested has been work

[2022-11-26 04:15] Greetlist commented on #21005
@eladkal I found this problem is solved by #21770. I close this issue.

[2022-11-26 04:15] #21005 closed

[2022-11-26 05:23] tirkarthi commented on #27913
I couldn't reproduce this on main branch with dry_run as false. There are also tests for this endpoint testing the response to return the list of task instances at https://github.com/apache/airflow/blob/518fd8479a1b9bfe303e184672231b6bc84687db/tests/api_connexion/endpoints/test_task_instance_endpoint.py#L891

[code]

[2022-11-26 07:18] jyotsa09 opened #27936 "Datasets triggered run modal is not scrollable"
### Apache Airflow version

main (development)

### What happened

Datasets modal which used to display triggered runs is not scrollable even if there are records
![2022-11-26 12 03 26](https://user-images.githubusercontent.com/88504849/204077213-dabc2ac2-eac7-47ed-96b4-a20d5b27422d.gif)

### What you think should happen instead

It should be scrollable if there are records to display

### How to

[2022-11-26 10:56] potiuk opened #27939 "Status of testing Providers that were prepared on November 26, 2022"
### Body

I have a kind request for all the contributors to the latest provider packages release.
Could you please help us to test the RC versions of the providers?

Let us know in the comment, whether the issue is addressed.

Those are providers that require testing as there were some substantial changes introduced:

## Provider [amazon: 6.2.0rc3](https://pypi.org/project/apache-airflow-providers

[2022-11-26 10:58] potiuk commented on #27939
Hey everyone. The RC3 is there (email to devlist shortly) - I moved the status of testing from #27894.

I'd highly appreciate if the new comon.sql provider is tested with the various sql packages (and if someone could test it also with older versions of providers :)

[2022-11-26 11:01] LucaSoato commented on #8181
Same issue here, is there a solution?

[2022-11-26 11:22] potiuk commented on #8181
As soon as someone provides more information coming from the latest version of Airlfow ideally - including logs and circumstances - versions etc.  (or ideally opens a new issue with all those details) I doubt there wil be solution @JasperSui @LucaSoato @tnyz.

I suggest to update to latest released version of Airflow and if the issue is there - report it (again ideally as a new issue with stacktra

[2022-11-26 11:31] JasperSui commented on #8181
Yeah, I upgraded to 2.4.1 and it doesn't happen again, I believe upgrading to 2.4.* will fix this.

[2022-11-26 12:28] alexott commented on #27939
Tested Databricks operator: normal queries, and writing files works as before. Thank you @potiuk for fixing it

[2022-11-26 16:34] pierrejeambrun commented on #27928
Would like to help on this one, assigning myself :)

[2022-11-26 16:35] vksunilk commented on #27939
Tested #26986 and #27910. Both are working fine.

[2022-11-27 00:14] #18380 closed

[2022-11-27 00:48] potiuk commented on #27838
Thanks. That's helpful to know it @george-zubrienko !

[2022-11-27 04:03] aleksandr-shel commented on #22073
Are there any other issues you can recommend?

[2022-11-27 10:51] #27622 closed

[2022-11-27 13:31] potiuk commented on #20047
I think there are many optimisations and improvements implemented that would likely result in fixing this problem - a number of users reported similar issues and getting it fixed after they upgraded.

Hey @jensenity @atishkathpal @eugene-nikolaev @mkhalaf2 - could you please help the community and upgrade/check/verify and report here if the upgrade fixed it for you?

This is absolutely fastest way

[2022-11-27 13:31] #27695 closed

[2022-11-27 15:47] MaiHoangViet1809 opened #27952 "can not use output of task decorator as input for external_task_ids of ExternalTaskSensor"
### Apache Airflow version

2.4.3, 2.5.0

### What happened

when use output from task decorator as parameter (external_task_ids) in ExternalTaskSensor, it show up this log:

[code]

note: +++++ is just a mask for irrelevant information.

### What you think should happen instead

this document https://airflow.apache.org/docs/apache-airflow/stable/tutorial/taskflow.html
show that we can use it with

[2022-11-27 18:47] lordvcs commented on #16176
My issue was fixed when cleared more of system space

[2022-11-27 21:22] potiuk commented on #27657
Is it possible that yoy upgrade to latest version of Airflow relased and test it @saulbein - we had a number of stability fixes in 2.4 (and 2.5.0 is already released) and while I understand upgrading in the hopes of fixing an issue might not seem like justified, it often happens that the issues get fixed and some similar /vaguely relevant issues get fixed. We have reports telling that a number of

[2022-11-27 21:23] potiuk commented on #8212
Does monkeypatching work for you @EinavDanielDX ?

[2022-11-27 22:10] astentx1 opened #27954 "TaskFlow API downstream fails on skip"
### Apache Airflow version

Other Airflow 2 version (please specify below)

### What happened

AirFlow version 2.3.3.

When we use TaskFlow API for the DAG and have some task with `trigger_rule="none_failed"` this task fails when its predecessor is skipped. The error occurs during XCom read:

[code]

### What you think should happen instead

It should execute its code with empty input. This behavi

[2022-11-27 23:20] uranusjr commented on #27954
Duplicate of #24338

[2022-11-27 23:20] #27954 closed

[2022-11-27 23:43] kazanzhy commented on #27939
I tested https://github.com/apache/airflow/pull/25717 for Postgres and MySQL connections.
Works as expected

![Screenshot from 2022-11-28 01-41-40](https://user-images.githubusercontent.com/10523218/204166092-d1d10b43-02e5-4c90-9e58-d94fcfe7dc8c.png)