[2021-01-23 21:09] potiuk commented on #13866
Closing as this has not enough details to act on it. Please be specific about the problem you are reporting @gardnerdev

[2021-01-23 21:09] #13866 closed

[2021-01-23 21:49] kaxil commented on #13858
`rich` is Python 3.6 only though

[2021-01-23 21:51] potiuk commented on #13858
But Upgrade  check is also 3.6 + ?

[2021-01-23 22:02] potiuk commented on #13817
This looks like troubleshooting question not bug report.. This bug report contain very little information. Please provide more details - whether you are using the master chart, or some other , what are the error log you see and detailed reproduction path. If you are unsure if you configured it all properly, you can also ask at the #troubleshooting channel in slack or open a discussion about it.

[2021-01-23 22:02] #13817 closed

[2021-01-23 22:22] kaxil commented on #13858
Nope, it is 2.7+ : https://github.com/apache/airflow/blob/v1-10-test/airflow/upgrade/setup.cfg#L52

[2021-01-24 03:54] mik-laj commented on #13838
I don't know if this is needed as it would still be just a `docker-compose` wrapper, which would be limiting by nature and would create another layer of abstraction. In development and maintenance, we may find it easier to provide one docker-compoose file and one wrapper similar to the [`aws-cli.sh`](https://github.com/KlubJagiellonski/pola-backend/blob/master/scripts/aws-cli.sh)/[`mc.sh`](https:/

[2021-01-24 04:34] potiuk commented on #13858
I think it's wrong then: http://airflow.apache.org/docs/apache-airflow/stable/upgrading-to-2.html -> migration to python 3 is the first step, long before you go to 1.10.14. I can't imagine anyone running "Upgrade check" in 2.7. I even argue that you should not be able to install Upgrade Check for 2.7 precisely for the reason to force people to upgrade python first.

[2021-01-24 09:30] mattluudo commented on #10186
@potiuk Pull request initiated!

[2021-01-24 10:54] vemikhaylov commented on #13843
@potiuk I would like to take this :)

[2021-01-24 11:44] potiuk commented on #13843
Assigned!

[2021-01-24 13:49] #13843 closed

[2021-01-24 17:30] potiuk opened #13877 "Upgrading 1.10 sqlite database in 2.0 fails"
While it is not an important case it might be annoying to users that if they used airflow 1.10 with sqlite, the migration to 2.0 will fail on dropping constraints in `known_event` table.

It would be great to provide some more useful message then asking the user to remove the sqlite database.

[code]

[2021-01-24 20:34] gardnerdev commented on #13866
@potiuk Can you please reopen issue? I added more specific description :)

[2021-01-24 21:10] potiuk commented on #13866
Sorry, this is certain,y not enough for a descrption nor reproducible cases. It lacks almost any detaul what you want to do and what is your problem. I suggest you open a discussion @ slack or Github Discussions and try to get some help there.

[2021-01-25 05:32] vemikhaylov commented on #13823
Do you specify the relation `some_str >> some_pg_task` (https://airflow.apache.org/docs/apache-airflow/stable/concepts.html#relations-between-tasks) in the DAG? This isn't in your example.

[2021-01-25 05:56] zlhsmfj commented on #8315
A simple fix:
https://github.com/zlhsmfj/airflow/commit/1527582e27b06be93c09817688454a3108f191ba

[2021-01-25 07:24] #9107 closed

[2021-01-25 09:13] alittlesliceoftom opened #13888 "Kubernetes Launchers Log Check in Time is Not Configurable - Excess Logs Slow Airflow"
The Kube pod monitor runs every second (+overhead) as referenced below:

https://github.com/apache/airflow/blob/31b956c6c22476d109c45c99d8a325c5c1e0fd45/airflow/kubernetes/pod_launcher.py#L137

Whilst this is ok in many situations, any slow, long running job ends up with excessive logs, it would be useful to be able to pass through an argument to set the log refresh frequency.

[2021-01-25 09:52] #13744 closed

[2021-01-25 09:53] mbarkhau commented on #8418
I've looked through the code of the DockerOperator and from what I can tell, the `network_mode` parameter is passed through to the `network_mode` parameter of [`APIClient.create_host_config`](https://docker-py.readthedocs.io/en/stable/api.html#docker.api.container.ContainerApiMixin.create_host_config) method:

From the source code at `docker/api/container.py`(https://github.com/docker/docker-py/bl

[2021-01-25 11:28] gardnerdev commented on #13866
I can not agree. Just for sure I added additional description. For those who will have the same issue: you need to change `pod_template_file.yaml` name and then airflow will be able to read new pod_template configuration. For me it seems like a bug cause it wasn't mentioned in documentation that previous name couldn't be updated

[2021-01-25 11:33] eladkal commented on #12959
This is not a regression. It's by design.
See 1.10.12 [change log](https://github.com/apache/airflow/blob/fef9173ac4ba02ff5fd8f4dfdd2bfe5cd483bd25/CHANGELOG.txt#L176) and [updating.md](https://github.com/apache/airflow/blob/master/UPDATING.md#clearing-tasks-skipped-by-skipmixin-will-skip-them)

Pull request: https://github.com/apache/airflow/pull/8992

[2021-01-25 12:00] eladkal commented on #13185
@JavierLopezT I believe this issue is fixed by  https://github.com/apache/airflow/pull/13654 , https://github.com/apache/airflow/pull/13286

[2021-01-25 13:55] davido912 opened #13891 "RBAC Granular DAG Permissions don't work as intended"
Previous versions (before 2.0) allowed for granular can_edit DAG permissions so that different user groups can trigger different DAGs and access control is more specific. Since 2.0 it seems that this does not work as expected.

How to reproduce:
Create a copy of the VIEWER role, try adding it can dag edit on a specific DAG. **Expected Result:** user can trigger said DAG. **Actual Result:** user ac

[2021-01-25 13:56] davido912 commented on #13511
Closing this as the part where a role would be populated with USER permissions is fixed according to the above commit. However, one issue still persists and I opened a new issue for it.
https://github.com/apache/airflow/issues/13891

[2021-01-25 13:56] #13511 closed

[2021-01-25 13:59] kaxil commented on #13891
cc @jhtimmins

[2021-01-25 14:00] #9245 closed

[2021-01-25 14:53] kaxil commented on #13504
Can one of you try the solution mentioned in https://github.com/apache/airflow/pull/13893 please? @grillorafael @nik-davis @iameugenejo @adamtay82

And also provide a reproducible script (the one that generates dynamic DAGs).

I will add another commit to that PR or a new PR so that Scheduler should be able to handle such cases too.

[2021-01-25 14:56] dmateusp commented on #12136
hey thanks for reporting the issue, I still don't have a good way to reproduce it unfortunately :( and when I attempted to fix on the master branch, I saw that the relevant part of the code for Airflow 2.0 changed quite a bit.

Ideally I'd have a test against the 1.10 branch that reproduces the issue, but for now I'm going to close my PR to master

[2021-01-25 15:13] sb7f9 commented on #13750
@eladkal  standard SqlSensor is not compatible with BigQuery due to by default it is using legacy sql queries which does not support many of the regular sql queries such as (querying partition tables etc..) There is no direct parameter like "use_legacy_sql" = False available that could overwrite the setting to enforce to use standard sql (BigQueryOperator has this functionality).

[2021-01-25 16:10] jhtimmins commented on #13891
This can be assigned to me

[2021-01-25 16:27] Dr-Denzy commented on #13850
I will take this on right away.

[2021-01-25 16:57] Mofef commented on #12959
@eladkal did you read the error log, that @roldugin posted? Is this also intended (quoting): `airflow.exceptions.AirflowException: BackfillJob is deadlocked.` because it sounds like its not.
I agree that skipped jobs should be skipped again after clearing.
(However, the issue I had produced the same message and was introduced in 1.10.10 not only in 1.10.12, but i can't prove its related so thats j

[2021-01-25 17:30] ernest-kr commented on #12959
..

[2021-01-25 17:32] eladkal commented on #12959
Hi @Mofef you commented that you opened a separate issue for your report which is a different problem.

If you believe this issue is relevant please explain further the case. We need something to work with otherwise it's impossible to verify the issue

[2021-01-25 17:33] vemikhaylov commented on #13225
Would like to implement it

[2021-01-25 18:17] roldugin commented on #12959
@eladkal thanks, I think this explains the issue I was having. It's not very obvious from the log that it's intended behaviour.

We use `ShortCircuitOperator` to model a pause in the process, waiting for a user to decide when to continue. Can you think of an alternative solution that you'd recommend?

[2021-01-25 18:37] omarismail94 commented on #13750
@mik-laj  Yeah, you have to do something like this:

[code]

[2021-01-25 20:02] gedOHub commented on #13797
Hey guys,

I'm seeing the same issue on my instance too

Instance info:
 - AirFlow version 2.0.0
 - Python version 3.8.7
 - Pip version 20.2.4
 - Sentry-sdk version 0.19.5

[code]

[2021-01-25 20:18] ismaello commented on #13680
Really? I am using user and pass and webserver works but pods aren't.
Anybody with a idea? I tried @varunvora  solution but sscheduler doesn't work.

[2021-01-25 20:26] lucasveljacic commented on #7785
I'm having the same error. Could you fix it?

[2021-01-25 20:42] kurkop commented on #13680
I have the same problem. I've been testing all the comments here as well with no results.

[2021-01-25 20:46] ismaello commented on #13680
At last, it works.
Resumen:
Edit pod-template
In line 64, I modified the lines to change mountPath:
`{{- if or .Values.dags.gitSync.enabled .Values.dags.persistence.enabled }}
        - mountPath: {{ include "airflow_dags" . }}
          name: dags
          readOnly: true
{{- if .Values.dags.gitSync.enabled }}
          subPath: {{.Values.dags.gitSync.dest }}/{{ .Values.dags.gitSync.subPath }}
{{

[2021-01-25 21:06] arubafna opened #13898 "S3 to GCS to BQ daily incremental data transfer pipeline. Append data from only the incremental (newly added) files from GCS into BQ table?"
**Description**
Set up an automated Airflow pipeline for data transfer from S3 to GCS to BQ.

**Use case / motivation**
A major requirement of the solution is to trigger the dag daily, to get daily S3 data uploaded into BQ external source partitioned(hive) tables

**Related Issues**
For the first part, we have used the **"S3ToGoogleCloudStorageOperator"** which imports the files from the source s3

[2021-01-25 21:13] #13515 closed

[2021-01-25 21:35] SulimanLab commented on #13680
Try ssh login, and change as mentioned above, pretty sure it will work.

[2021-01-25 21:55] #13504 closed

[2021-01-25 22:03] #13713 closed

[2021-01-25 22:42] SamWheating commented on #13685
I experienced the same issue today while upgrading Airflow from 1.10.14 -> 2.0. Upgrading `mysqlclient` from 1.3.x to 1.4.x didn't seem to help.

By manually deleting the rows in the dagrun table in question we were eventually able to get the scheduler to run reliably, however I would love to know more about what caused these issues (Also, dropping production data isn't a great solution in most ca

[2021-01-25 22:49] kaxil commented on #13099
I was not able to reproduce it with Postgres 9.6 and 12

[2021-01-25 22:50] kaxil commented on #13099
I was not able to reproduce it with Postgres 9.6 and 12

[2021-01-25 22:56] teastburn commented on #11365
We are no longer experiencing this issue but are not sure why / what changed to resolve this.

[2021-01-26 01:03] widewing opened #13901 "Airflow 2.0.0: DagRunType not compatible with Airflow 1.x"
I recently upgraded my Airflow version from 1.10.10 to 2.0.0, and noticed the scheduler are failing and exiting after upgrade. After checking the log, it's suggest the duplicated entry for records in `dag_run` table. It tries to insert dag runs already executed before the upgrade.
After some digging, I found it related to how the scheduler calculate the next execution_date: it picks the last dag_r

[2021-01-26 01:43] mik-laj commented on #13901
Is it related?

https://github.com/apache/airflow/pull/13278

[2021-01-26 01:52] widewing commented on #13901
Thanks! yeah it's the same

[2021-01-26 01:54] #13901 closed

[2021-01-26 02:58] zlhsmfj opened #13902 "Scheduler never schedules, and dag.max_active_run doesn't work"
Apache Airflow version: 1.10.13 - 1.10.14

https://github.com/apache/airflow/blob/5b61c21ab5c2f16e94967ed60c7e9b8b38d401ef/airflow/jobs/scheduler_job.py#L769-L799

The update of `active_dag_runs` lost in the for loop, cause 2 problems:

1. dag.max_active_run doesn't work.
2. Scheduler will never schedule while there are too many running dag_runs (dag_file_processor_timeout).

Fix:
[code]

[2021-01-26 05:49] varunvora commented on #13680
@ismaello This does the same as what I suggested right?

If you are using gitSync and KubernetesExecutor, DAGs persistence in the worker pod is meaningless. I hope #13826 is merged.

[2021-01-26 05:49] PKJonas opened #13905 "DockerOperator fails to pull an image"
**Apache Airflow version**: 2.0

**Environment**:

- **OS** (from /etc/os-release): Debian GNU/Linux 10 (buster)
- **Kernel** (`uname -a`): Linux 37365fa0b59b 5.4.0-47-generic #51-Ubuntu SMP Fri Sep 4 19:50:52 UTC 2020 x86_64 GNU/Linux
- **Others**: running inside a docker container, forked puckel/docker-airflow

**What happened**:

`DockerOperator` does not attempt to pull an image unless force_p

[2021-01-26 05:50] PKJonas commented on #13905
Relatedly, I looked for an issue template in the [contributing guidelines](https://github.com/apache/airflow/blob/df1503ea0aad34f6e1ed005444dacae5f78f7fde/CONTRIBUTING.rst#report-bugs) and couldn't find one.

[2021-01-26 08:29] bobfang1992 opened #13910 "Why does airflow skips a day for a daily dag?"
I have a newly created daily dag and I have set it up yesterday (Jan. 25th), once it is loaded by airflow I can see it is run once (scheduled_2021-0124T00:00:00+00:00), and then I manually triggered it once just to see if it works and it did (manual_2021-01-25).

Now time is 08:24 UTC Jan 26th. But I did not see any run for 01-25. I have used `airflow dags next-execution` and found out airflow is

[2021-01-26 09:08] penggongkui opened #13911 "TaskGroup need the default_args like dag"
I wan't to use taskgroup to replace subdag, but i find it cannot add default_args, so i have to add a **default_args to my tasks.

how about add a feature, taskgroup has a default_args param, and it will pass to it's children task

[2021-01-26 11:13] kien-truong commented on #8421
One workaround we're using is to hide sensitive data from `Rendered Template` is to enable `Dag Serialization` and include a user-defined macros, which will prevent the UI from rendering the templates all together.

[2021-01-26 12:23] #12806 closed

[2021-01-26 13:11] kaxil commented on #13099
I was able to reproduce this

[2021-01-26 13:32] #13667 closed

[2021-01-26 13:34] kaxil commented on #13905
The issue template is just all the questions asked when you create this Github issue like the Airflow version, how to reproduce, etc (https://github.com/apache/airflow/issues/new?assignees=&labels=kind%3Abug&template=bug_report.md&title=)

[2021-01-26 14:01] PKJonas commented on #13905
Thank you! I'll update my issue using that template.

[2021-01-26 14:49] jbaayen commented on #8622
We recently ran into this issue as well. This is Airflow 2.0.0 with a sensor in `reschedule` mode, and a `poke_interval` of 1 second.

Is there a reason the above patch has not been incorporated?

[2021-01-26 15:29] turbaszek commented on #13911
You can pass `default_args` in DAG that will include TaskGroup. TaskGroup needs to live within a DAG, it does not substitute it as far as I understand.

[2021-01-26 15:35] dimberman commented on #13805
Hi @ClassyLion can you post the logs leading up to that error? Does the executor just never start?

What's strange is that this error seems to suggest that the executor never receives a job_id.

[2021-01-26 16:12] armandleopold commented on #13755
Had the same issue

[2021-01-26 16:49] gillbuchanan opened #13916 "ECONNRESET error in scheduler using KubernetesExecutor on AKS"
**Apache Airflow version**: 2.0.0

**Kubernetes version**:
[code]

**Environment**:

- **Cloud provider or hardware configuration**: Azure Kubernetes Service
- **Image** : apache/airflow/2.0.0-python3.6
- **Config Variables**:
[code]

**What happened**:

After installing airflow in AKS via helm charts, webserver and scheduler start up as expected. After some time (with activity or while sitting id

[2021-01-26 16:57] armandleopold commented on #13680
I had to create a pod template file :
`dev-airflow-worker.yaml`
[code]

And in the helm-chart's `values.yaml`
[https://artifacthub.io/packages/helm/bitnami/airflow](https://artifacthub.io/packages/helm/bitnami/airflow)
[code]

hope it helps

[2021-01-26 17:00] ClassyLion commented on #13805
I currently don't have access to the specific AirFlow deployment, but I checked logs thoroughly multiple times and there were no issues with anything starting. This was the only problematic issue that appeared.

[2021-01-26 17:26] kaxil commented on #13579
If you "clear" the task - -Scheduler will pick it up and run. Why did you click on "Run" again.

Can you try only clearing and see what happens please

[2021-01-26 17:27] kaxil commented on #13805
Just checking here --- This only happens when you try to run the "task" in the UI.

Can you try by just triggering the DAG itself and not an individual Task please

[2021-01-26 17:34] ClassyLion commented on #13805
If I only trigger the DAG, the task will not run. It will be queued but not finished, or even running. And the DAG stays as running without any progress.

[2021-01-26 17:47] armandleopold opened #13917 "KubernetesExecutor Pod not deleted"
**Apache Airflow version**: 2.0.0
**Kubernetes version**: 1.15.5
**Environment**: private.cloud

- **Install tools**: helm chart bitnami

**What happened**:
When running a DAG with KubernetesExecutor and KubernetesPodOperator, at the end of the DAG, the pod launched by the KubernetesExecutor doesn't disapear even with
[code]
**What you expected to happen**:

At the end of the DAG run, the worker p

[2021-01-26 17:49] SamWheating commented on #13099
This looks like the same issue as https://github.com/apache/airflow/issues/13685

[2021-01-26 17:56] kaxil commented on #13685
Can you please provide the steps to reproduce it please

[2021-01-26 17:57] MatthewRBruce commented on #13685
Sam and I have been looking at this, and so far here’s my theory:

It appears this happens when the Scheduler is restarted/killed during an active DagRun.  Based on looking at the scheduling code, and the logs, If a DagRun is at it’s max_active_runs (indicated by a log line like this: {scheduler_job.py:1598} INFO - DAG airflow-utils.send-airflow-heartbeat is at (or above) max_active_runs (1 of 1),

[2021-01-26 18:01] rochamc commented on #13812
Thank you for your reply. We've made this change but the error continues to happen.

[2021-01-26 18:07] kaxil commented on #13805
Can you post your DAG please? Does other DAGs run ? Can you post the logs from the Scheduler too with DEBUG level logging.

[2021-01-26 18:10] ClassyLion commented on #13805
Other DAGs don't run aswell. I have logging set to DEBUG and it didn't change anything in the logs. I will share logs tomorrow, when I get access to deployment.
I unpaused the dag and it got scheduled and started, but the tasks were not running, therefore, not finishing.

[2021-01-26 18:24] dimberman commented on #13579
Hi @mfjackson,

So I think there are two different errors here.

The first error is that the Run button is broken for the KubernetesExecutor (as noted in #13805). We should have a fix for that soon.

The second error is specific to the k8sPodOperator.

Basically the "500 bad handshake" return means that kubernetes is trying to speak to a pod that is not currently running. Usually the sidecar conta

[2021-01-26 19:35] jporter-dev commented on #13797
Having the same issue using the LocalExecutor with Airflow 2.0 running on Ubuntu 20.04.

[2021-01-26 20:27] armandleopold opened #13918 "KubernetesPodOperator with pod_template_file = No Metadata & Wrong Pod Name"
**Apache Airflow version**: 2.0.0

**Kubernetes version (if you are using kubernetes)** 1.15.15

**What happened**:

If you use the **KubernetesPodOperator** with **LocalExecutor** and you use a **pod_template_file**, the pod created doesn't have metadata like :
- dag_id
- task_id
- ...

I want to have a ``privileged_escalation=True`` pod, launched by a KubernetesPodOperator but without the Kubern

[2021-01-26 20:48] penggongkui commented on #13911
I want in the same dag , different taskgroup has different default_args,
subdag can do it but task group can't

On Tue, Jan 26, 2021, 23:29 Tomek Urbaszek <notifications@github.com> wrote:

[2021-01-26 21:39] SamWheating commented on #13685
I haven't been able to reproduce this issue outside of our production environment, but after a little more investigation I think that our issue is related to https://github.com/apache/airflow/pull/13278#issuecomment-755218560.

Here's my understanding thus far:

 - We were running mysqlclient 1.3.x which I believe led to incorrect values in the `DAG.run_type` field.

- this led to calculating the

[2021-01-26 22:08] iameugenejo commented on #13086
patch for `/airflow/models/taskinstance.py` I'm using to workaround is below:

[code]

[2021-01-26 23:04] kaxil commented on #13685
https://github.com/apache/airflow/pull/13920 should fix it

[2021-01-26 23:16] kaxil commented on #13099
#13920 should fix the issue with Duplicate Dag Run.

I still need to figure out the fix to allow retrieving Variable / Connections in the Plugin

[2021-01-27 02:07] juneoh commented on #12556
Still working on this. The basic implementation is done but it's mostly a copy-paste from the BigQuery hook, so I'm trying to see what additional refactoring and testing is possible with the leverage of BigQuery Python SDK.

[2021-01-27 05:28] eladkal commented on #13898
Xcom has limits. In Airflow 2 you can define a custom xcom backend
see [documentation](https://airflow.apache.org/docs/apache-airflow/stable/concepts.html?highlight=xcom#custom-xcom-backend), [polidea article](https://www.polidea.com/blog/airflow-2-0-dag-authoring-redesigned/)

I don't really know your use case but I'm not really sure if xcom are even needed here. Why not simply writing the delta

[2021-01-27 05:28] #13898 closed

[2021-01-27 05:46] eladkal commented on #13691
@tandelDipak So you are using [EC2StartInstanceOperator](https://github.com/apache/airflow/blob/7f4c88c0680b4fb98fe8b31800a93e1d0476c4db/airflow/providers/amazon/aws/operators/ec2_start_instance.py#L27), [EC2StopInstanceOperator](https://github.com/apache/airflow/blob/7f4c88c0680b4fb98fe8b31800a93e1d0476c4db/airflow/providers/amazon/aws/operators/ec2_stop_instance.py#L27) to interact with the mach

[2021-01-27 06:31] PKJonas commented on #13905
I have updated the original issue using the bug report template.

[2021-01-27 06:42] arijitdey commented on #13805
I am facing the same error while trying to backfill:
Logs:
[code]

[2021-01-27 08:39] tandelDipak commented on #13691
@eladkal Yes, I am suggesting something similar.
Let say you have EC2Hook already defined with the host value as **http://ec2-154-509-231-157.us-west-2.compute.amazonaws.com:8000/**  and I am not using static IP so now if I stop my instance and then start it I will get a new DNS hostname, but my EC2Hook has an old value of hostname  **http://ec2-154-509-231-157.us-west-2.compute.amazonaws.com:8000

[2021-01-27 09:33] rachael-ds commented on #8280
Happy to work on the documentation/example dags for the Data Loss Prevention operator :)

[2021-01-27 09:35] mik-laj commented on #8280
@rachael-ds I assigned you to this ticket 🐈

[2021-01-27 10:12] ClassyLion commented on #13805
[code]

[2021-01-27 10:21] eladkal commented on #13691
I think it would be easier if you can PR your code suggestion so we can review the approach you had in mind.

[2021-01-27 11:07] turbaszek opened #13924 "Improve error messages and propagation in CI builds"
Airflow version: dev

The error information in `Backport packages: wheel` is not that easy to find.

Here is the end of the step that failed and end of its log:
<img width="1151" alt="Screenshot 2021-01-27 at 12 02 01" src="https://user-images.githubusercontent.com/9528307/105982515-aa64e800-6097-11eb-91c8-9911448d1301.png">

but in fact the error happen some 500 lines earlier:
<img width="1151" a

[2021-01-27 12:06] #12772 closed

[2021-01-27 12:24] gedOHub opened #13925 "Duplicate entry with MySQL backend (AriFlow 2.0.0)"
**Apache Airflow version**: 2.0.0

**Kubernetes version**: -

**Environment**:

 - Two servers running docker
 - Docker image:` apache/airflow:2.0.0-python3.7`
 - Each server contains:
   - webserver
   - scheduler
   - celeny worker 1
   - celeny worker 2
   - celeny flower
 - Broker- redis version `6.0.5`
 - DB backend - MySQL version `8.0.20`

**What happened**:

Error message:
[code]

**What y

[2021-01-27 12:50] bchazalet opened #13926 "The apache-airflow-backport-providers-ssh version 2020.10.29 is broken"
**Apache Airflow version**:
 1.10.14 ( 1.10.14+composer)

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
1.16.15-gke.6000

**Environment**:
- Cloud Composer

**What happened**:

The [apache_airflow_backport_providers_ssh-2020.10.29-py3-none-any.whl](https://pypi.org/project/apache-airflow-backport-providers-ssh/#files) has got extra files in it which get installed an

[2021-01-27 12:56] ams0 commented on #13916
I have exactly the same problem, `KubernetesExecutor` doesn't run any job. I applied the ClusterRoleBinding (using `airflow-scheduler` service account but no luck.

[2021-01-27 13:19] potiuk commented on #13926
Confirmed. The .sdist package is correct. As a workaround you can download it From here: https://files.pythonhosted.org/packages/6d/e3/1cb2eb52cf842fa0a1fa1960cbc85ee35282c189f6900d51436aed51d226/apache-airflow-backport-providers-ssh-2020.10.29.tar.gz

and run `pip install apache-airflow-backport-providers-ssh-2020.10.29.tar.gz`

I will review and find what was wrong at preparation time.

I will r

[2021-01-27 13:28] bchazalet commented on #13926
thanks @potiuk, sound good! I don't have the luxury of installing from the tar directly because I am using Cloud Composer but I'll wait for the new provider.

[2021-01-27 13:32] potiuk commented on #13926
You can still install 2020.10.5 version still as well by adding `==2020.10.5` - there weren't any substantial changes then. And I see it was properly created.

[2021-01-27 13:34] potiuk commented on #13926
Actually I yanked it even now. So when you try to install it now without version, the 2020.10.5 should be installed,

[2021-01-27 13:42] bchazalet commented on #13926
ok, thanks I am going to try that.

[2021-01-27 14:18] kaxil commented on #13099
Looks like this is where the Scheduler runs Plugin code:

https://github.com/apache/airflow/blob/65e49fc56f32b3e815fdf4a17be6b4e1c1e43c11/airflow/jobs/scheduler_job.py#L1568

https://github.com/apache/airflow/blob/65e49fc56f32b3e815fdf4a17be6b4e1c1e43c11/airflow/models/dagbag.py#L171

https://github.com/apache/airflow/blob/65e49fc56f32b3e815fdf4a17be6b4e1c1e43c11/airflow/models/dagbag.py#L229

htt

[2021-01-27 15:14] bchazalet commented on #13926
FYI using `==2020.10.5` works just fine for me.

[2021-01-27 15:47] vikramkoka commented on #13925
@kaxil Is it possible that this issue is related to the [9148](https://github.com/apache/airflow/issues/9148) issue?
I wouldn't expect it, but symptoms seems similar at first glance.

[2021-01-27 15:53] kaxil commented on #13925
The fix for #9148 already landed in Master too https://github.com/apache/airflow/commit/9e6b5abea08eb35c48839e33a4518f292ef7564e so not sure

[2021-01-27 15:58] vikramkoka commented on #13916
@gillbuchanan Thank you for reporting this. Just to clarify the source of the issue, does Airflow run correctly on your AKS setup with any of the other executors?

[2021-01-27 16:19] gillbuchanan commented on #13916
Yes. I've tried this using `SequentialExecutor` and did not run into issues (obviously I wouldn't use this in production)

[2021-01-27 18:04] eladkal commented on #9271
Wouldn't you just need to clear the relevant runs? Then it will execute them with the updated steps.

[2021-01-27 18:29] SamWheating commented on #13434
Could you please confirm your database and driver version?

(Assuming you are using mysql client `pip list | grep mysqlclient`)

Based on your screenshot and the code snippet attached above, I suspect that this is related to https://github.com/apache/airflow/pull/11621. It looks like `"DagRunType.Scheduled"` is being written to the dag_run table instead of `"scheduled"`, which would then cause the

[2021-01-27 19:45] kaxil commented on #13099
Will be fixed by one of https://github.com/apache/airflow/pull/13931 and https://github.com/apache/airflow/pull/13932

[2021-01-27 20:05] eladkal commented on #10279
Since this is an issue only in the non-RBAC UI which is deprecated in Airflow 1.10.X and removed entirely in Airflow 2.0
I see no value in fixing this bug which has very little impact if any.

Closing this issue. If someone believe otherwise please comment.

[2021-01-27 20:05] #10279 closed

[2021-01-27 20:17] eladkal commented on #13085
I don't think Airflow should have timezone column for everyone.
Many users use only 1 timezone so this column has no meaning for them.
If such column added users should be able to hide/show it as a system setting (or maybe preferably as a user setting as it could be that in the same Airflow instance one team works only in UTC while other teams combine timezones).

[2021-01-27 20:31] eladkal commented on #9485
You mention 2 issues:
1. Why a single run is created when you use catchup=False.
2. Why this single run is marked as success without running anything.

For the **1st** question:
This is by design.
Kaxil explained it in the first paragraph of his answer to the stackoverflow question you mentioned in your question.

For the **2nd** question:
I'm unable to reproduce such behavior. Please provide a re

[2021-01-27 20:35] jedcunningham commented on #13434
This also happens in Postgres with psycopg2 2.8.6.

[2021-01-27 21:31] bmfisher commented on #13522
Also experiencing the same issue while trying to upgrade to 2.0.0

[2021-01-27 21:52] abdullahodibat commented on #13142
hallo, any updates on this?

[2021-01-27 21:57] LamaAni commented on #13142
@abdullahodibat   I think there was a PR to master: https://github.com/apache/airflow/pull/13191

[2021-01-27 22:03] abdullahodibat commented on #13142
@LamaAni thanks for your reply!
for me i dont get any error. but i still get a login screen. is this the correct way to disable the web login?

[2021-01-27 22:06] LamaAni commented on #13142
Well, if your getting the login screen then you are either directly going to it (the link points there) or you are doing something wrong. This should be a valid method to disable login since all users should have admin privileges.

[2021-01-27 22:17] abdullahodibat commented on #13142
i am accessing easily using `http://localhost:8080/`.  although i uncommented the above line and restarted the webserver i still get the login screen.

[2021-01-27 22:20] jonasrla opened #13934 "EMR URI Parse Fails to resolve nested dict objects"
**Apache Airflow version**:
1.10.12

**Environment**:

- **Cloud provider or hardware configuration**:
  - MacBook Pro Mic 2014
- **OS** (e.g. from /etc/os-release):
  - macOS Big Sur 11.1
- **Kernel** (e.g. `uname -a`):
  - 20.2.0 Darwin Kernel Version 20.2.0: Wed Dec  2 20:39:59 PST 2020; root:xnu-7195.60.75~1/RELEASE_X86_64 x86_64

**What happened**:

I was trying to setup an EMR connection usi

[2021-01-27 22:38] LamaAni commented on #13142
I am not sure,
I have not tested the solution since we went back the airflow 1 in my company. If I have time I would retest it.

Maybe @AmarEL can help?

[2021-01-27 23:00] ams0 commented on #13916
For me it fails no matter which executor. Here's my helm commnad:

[code]

I added the ClusterRoleBinding but it doesn't help. Any help appreciated!

[2021-01-27 23:19] eldernewborn commented on #10055
I'm experiencing this issue, and it seems to stem from "pooling" behavior .
I was able to circumvent it by disabling connection pools :
`sql_alchemy_pool_enabled = False`
Maybe someone more familiar can help understand why pools break pymysql.

[2021-01-28 00:19] john-jac commented on #8544
Happy to lead this effort

[2021-01-28 00:23] dimberman commented on #8544
Thank you @john-jac! Please let me know if you need help on the kubernetes or airflow core side of things. I think this would be a great addition to Airflow's k8s story :).

[2021-01-28 03:12] mik-laj commented on #13934
`airflow/contrib/hooks/emr_hooks.py` are deprecated and we don't support it anymore. Please migrate to backport providers. See: https://airflow.apache.org/docs/apache-airflow/stable/backport-providers.html

[2021-01-28 03:27] mik-laj opened #13941 "The PgBouncer configuration is not described in the documentation"
Hello,

Currently the documentation does not mention `pgbouncer` in any way even though it is recommended in a production environment with a PostgresSQL database. It would be great if we could describe why we need PGBouncer and the recommended configuration

Best regards,
Kamil Breguła

[2021-01-28 04:51] jedcunningham commented on #13910
This is a duplicate of #13434.

[2021-01-28 04:57] jedcunningham commented on #13818
I believe this is by design in Flask-AppBuilder. Maybe we should document that `defaultUser` only works if using db auth?

[2021-01-28 05:22] Junnplus commented on #10149
@eladkal I think the answer of @abhaypartap  is not helpful

[2021-01-28 05:59] tandelDipak opened #13942 "Bash Operator can't run custom bash commands"
**Description**

I have defined one shell script function and in my .bashrc profile, I have added a line to source the bash script so that I can run the function defined inside the script. The same command doesn't work in Bash Operator.

**Use case / motivation**

I have to run multiples command (5-6 commands to run one script) using && operator to setup environment and other things. I have a cust

[2021-01-28 06:14] salimeryigit commented on #13434
Same DB configuration here, Postgres with psycopg2 2.8.6.

[2021-01-28 06:27] yuqian90 commented on #13827
Note that for any operator, if it uses macros in `user_defined_macros` in jinja template fileds and the user clicks on "Rendered Template" on the airflow page, they get an error message saying "Webserver does not have access to User-defined Macros or Filters". This is how the error is handled on the webserver for "Rendered Template". This is the exact same problem as the one reported in this issue

[2021-01-28 08:43] turbaszek opened #13945 "Add conf not importable from airflow rule"
**Description**

A new rule should be added to Airflow upgrade check to verify that users import `conf` from proper place and their code will work with 2.0.

**Use case / motivation**

In 1.10 users can do:

[code]
in 2.0 it's not possible:
[code]

**Are you willing to submit a PR?**

Possibly if time allows 🕐

**Related Issues**

N/A

[2021-01-28 09:08] bobfang1992 commented on #13434
Don't you think this is an unacceptable change? At least in its current form, we risk the next automated run will be skipped entirely if we want to manually trigger a dag run. This will certainly cause trouble. The manual run should not interfere with the scheduled runs IMHO.

[2021-01-28 10:17] turbaszek commented on #13434
This is already causing problems and confusion. Users are surprised by this change.

[2021-01-28 11:19] AmarEL commented on #13142
Which version are you using @abdullahodibat?
I tested for the current master and it worked fine.

There is another issue #13340 related to this, but the login screen shouldn't appear as expected if you set the option to disable the login.

[2021-01-28 12:28] jonasrla commented on #13934
Thank you a for the reply, @mik-laj.
I'll change the subject a little to help you understand the real issue here. That's not an EMR Hook bug, that's a connection bug. To reproduce it simply run [this gist](https://gist.github.com/jonasrla/1ee339822866d0fb5e68f0a8de8860b5) on Airflow 2.0 or 1.10

[2021-01-28 13:53] griffincosgrove commented on #13945
Hey @turbaszek, I am interested in making a PR for this.

I see you tagged this with good first issue. I am still a novice when it comes to airflow, so if you could help me with the review I think we can accomplish this together.

[2021-01-28 14:44] lgov commented on #13918
This might not be the issue you are having, but I noticed that if the pod template file that you're using in your KubernetesPodOperator can not be read (e.g. because the volume is not mounted in the path you specified), then K.P.O will try to launch a pod with a template that has all the right keys but empty values.

In that specific scenario, you'll not get an error messages like 'pod_template_fi

[2021-01-28 15:01] Lorenzo-N opened #13954 "Refresh DAG sometimes doesn't refresh the dag instantly."
**Apache Airflow version**: 2.0.0

**Kubernetes version (if you are using kubernetes)**: NA

**Environment**: Docker

- **OS**: CentOS Linux 7 (Core)
- **Python version**: 3.6.8

**What happened**:
Sometimes even if I refresh the dag with "Refresh DAG" button in UI, if I run the dag immediately Airflow runs previous dag.

**What you expected to happen**:
I expect that if I run a dag after clicking

[2021-01-28 16:44] #13910 closed

[2021-01-28 16:44] #11998 closed

[2021-01-28 16:55] WattsInABox commented on #12771
@mjpieters can you share any of the code at all? I think I understand what you're saying but I think also I would be rediscovering problems you have already solved without the code.

[2021-01-28 17:29] kaxil commented on #13414
We need to add the diff at the end in `TriggerDagRunOperator`, we don't want to allow arbitrary objects. To pass datetime you should convert it to str, you could do `datetime.datetime.now().isoformat()`:

[code]

[code]

[2021-01-28 19:10] eladkal commented on #8311
fixed in #8675

[2021-01-28 19:10] #8311 closed

[2021-01-28 19:29] eladkal commented on #8999
I assume @mans2singh is referring to the issue related to Jinja where you need to[ add space](https://airflow.apache.org/docs/apache-airflow/stable/howto/operator/bash.html#jinja-template-not-found) at the end of the script. This is mentioned at the Jinja section of the doc.

The problem refers to is doc:
https://github.com/apache/airflow/blob/master/docs/apache-airflow/tutorial.rst#templating-wit

[2021-01-28 20:56] eladkal commented on #9343
The feature request here is put task on hold which you opened a separated issue for https://github.com/apache/airflow/issues/9298

The rest is questions how to achieve this functionality without having the feature which are more suitable for https://stackoverflow.com/

[2021-01-28 20:56] #9343 closed

[2021-01-28 21:11] eladkal commented on #10775
We can't really investigate as there are no actual reproduce steps.
I created dags with `schedule_interval='@daily'`on both 1.10.14 and 2.0.0 and it's working fine.
If you still need help troubleshooting your case please use http://stackoverflow.com/

[2021-01-28 21:11] #10775 closed

[2021-01-28 21:52] vikramkoka commented on #10089
@mik-laj @potiuk @kaxil @ashb
Now that we published the "upgrading-to-2" and "upgrade-check" documents, I think this can be closed. Do you agree?

[2021-01-28 21:53] vikramkoka commented on #9641
@ashb I think this can be closed now. Do you agree?

[2021-01-28 21:53] potiuk commented on #10089
Yep

[2021-01-28 21:53] #10089 closed

[2021-01-28 21:54] vikramkoka commented on #12748
@kaxil @potiuk @ashb
I was looking at this the other day when Ash shared the code coverage report. Is there an immediate next step here? If so, should we move to a different milestone?

[2021-01-28 22:12] mrshu commented on #13925
@gedOHub We ran into a similar issue when trying to switch to Airflow 2.0.

Our setup seems to be similar to yours -- we also run Airflow in a Docker container. We found out that the problem was that in the `1.x` version that we ran previously we've executed `airflow initdb` on each startup of the Docker container in order to apply the migrations (i.e. to simplify switching to a new version of Air

[2021-01-28 22:40] paulhtremblay commented on #13414
Yes, in some contexts I change datetime to string. This fix should prevent unexplained crashes

[2021-01-28 23:15] eladkal commented on #10616
@cchepelov Now that Airflow 2.0 is out & following the correspondence in https://github.com/apache/airflow/pull/10617. Can you verify if it's still an issue in Airflow 2.0?

[2021-01-29 00:31] kaxil commented on #13434
Will be fixed by https://github.com/apache/airflow/pull/13963

[2021-01-29 03:01] RNHTTR opened #13966 "Create a Google Drive Sensor and a Google Drive to Google Cloud Storage Operator"
**Description**

- Google Drive Sensor `airflow/providers/google/suite/sensors/drive.py`
  - This sensor would check for the existence of a file in Google Drive.
- Google Drive to Google Cloud Storage Operator `airflow/providers/google/cloud/transfers/gdrive_to_gcs.py`
  - This transfer operator would copy files from a shared Google Drive folder to a location in a Google Cloud Storage bucket.
- Ad

[2021-01-29 03:47] getElementsByName opened #13967 "KubernetesPodOperator with do_xcom_push makes 137 exit code error"
**Apache Airflow version**: 2.0.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): Client v1.14.8 / Server v1.15.10

**Environment**:

- **Cloud provider or hardware configuration**: on-premise
- **OS** (e.g. from /etc/os-release):  Ubuntu 18.04.5 LTS
- **Kernel** (e.g. `uname -a`): Linux 5.4.0-62-generic

**What happened**:

- operator code (with xcom)
[code]

- airf

[2021-01-29 06:13] mik-laj commented on #13934
@jonasrla Now I understand the problem and I knew it existed, but I have no idea for a solution.

Related: https://github.com/apache/airflow/issues/9060

[2021-01-29 06:20] mik-laj commented on #13934
In the case of Presto, I just limited the use of nested keys and used a simple dictionary.
https://github.com/apache/airflow/blob/4d4aa9ec2941b13005204b88b8335c2599d075ac/airflow/providers/presto/hooks/presto.py#L74-L84

[2021-01-29 06:28] mik-laj commented on #13643
We have a ticket that improves the annotation handling for SA a bit. Anyone willing to do a review and say if this change is sufficient for this ticket as well?
https://github.com/apache/airflow/pull/11769

[2021-01-29 06:59] kurtqq commented on #11871
@kaxil @potiuk i still see this error when opening the webserver using  breeze with master if I select SQLite as database.
I don't see this for MySQL / PostgreSql

[2021-01-29 07:05] kurtqq commented on #9542
This is odd because `ExternalTaskSensor` inherits from `BaseSensorOperator` which inherits from `BaseOpeator`.
`BaseOpeator` support `on_failure_callback` so why isn't that working now?
I think all sensor suppose to support `on_failure_callback`

[2021-01-29 07:16] mattluudo commented on #10186
@potiuk Issue resolved from merged pull request #13871

[2021-01-29 07:24] brylie opened #13970 "No "ready" message after "docker-compose up""
When following the installation instructions, the `docker compose up` step seems to fail to complete. I.e. it looks like things are hung after the "webpack.Progress" section:

![image](https://user-images.githubusercontent.com/17307/106244169-34858b80-6213-11eb-85b0-cab4c87cb1a3.png)

However, the app is accessible via localhost:8088

Is tere some way to reduce the log volume from Webpack, and sho

[2021-01-29 07:39] mik-laj commented on #13941
The following description seems to me to be part of this documentation, but we should verify it.

[2021-01-29 07:42] mik-laj commented on #13970
It seems this is not an issue with Airflow, but with the Apache Superset. Can you create a ticket in Apache Superset repository? https://superset.apache.org/docs/intro

Docker Airflow images compile resources during build, so it doesn't affect application launch speed.

[2021-01-29 07:42] #13970 closed

[2021-01-29 07:54] mik-laj commented on #13966
https://github.com/apache/airflow/blob/master/CONTRIBUTING.rst#contribution-workflow

I am looking forward for your PR.

[2021-01-29 08:05] Anjali-bisht opened #13971 "airflow webserver error when updated to airflow 2.0"
**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**: MAC
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**: PIP3
- **Others**:

**What happened**:

**Something bad has happened.
Please consider letting us know by creating a bug report using GitHub.

Python version: 3.

[2021-01-29 08:56] brylie commented on #13970
Ah my bad. I'm in Airflow all day hehe. Thanks.

[2021-01-29 09:10] Junnplus opened #13972 "Startup slow due to securityContext with large log volume"
**Apache Airflow version**: 2.0.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.11

- **Cloud provider or hardware configuration**: alicloud
- **Install tools**: helm chart
- **Others**:

**What happened**:

`uid/gid` causes a massive delay on starting webserver with a large log volume.
default behavior for Kubernetes to run chown recursively on the entire volume

[2021-01-29 10:42] turbaszek commented on #13971
Shouldn't https://github.com/apache/airflow/pull/11873 fix it @kaxil ?

[2021-01-29 10:48] jethrogillgren commented on #13609
Hi, i'm using `apache/airflow:1.10.14-python3.7` and am still seeing this.
Did that PR make it in? It looks like it should. I see the same error as johnchenghk01

[2021-01-29 10:48] ephraimbuddy commented on #13638
Hey @vikramcse where are you currently on this?

[2021-01-29 10:54] vikramcse commented on #13638
@ephraimbuddy
currently I am using a windows PC.
It took me some time to get wsl2 and docker installed on my machine
Now I am following the steps mentioned in https://github.com/apache/airflow/blob/master/CONTRIBUTORS_QUICK_START.rst

[2021-01-29 11:30] eladkal commented on #13114
@atolopko-czi Do you think there are still issues needs to be addressed?  If you can please describe your suggestions

[2021-01-29 11:31] potiuk commented on #13971
Can you run `pip check` ? and report what you see?

[2021-01-29 11:37] potiuk commented on #13971
Also no matter what. The problem you might have is that you are using Python 3.9. Python 3.9 is NOT officially supported yet by Airflow. You need to downgrade Python to 3.8 @Anjali-bisht.

Please also follow the installation guide http://airflow.apache.org/docs/apache-airflow/stable/installation.html when you install airflow. You need to run Airflow with the right `--constraint` flag if you want t

[2021-01-29 12:44] turbaszek commented on #13971
@potiuk I installed airflow from master using constraints and Python 3.6 and I faced the same issue

[2021-01-29 13:13] kaxil commented on #13971
Can you try with just Airflow 2.0.0 too --- that seems weird -- unless a recently merged change did something or due to a new version of some library. Any who I will also test and report back later today

[2021-01-29 13:52] kurtqq commented on #13971
I reported this several hours ago as well in https://github.com/apache/airflow/issues/11871
i still see this error when opening the webserver using breeze with master if I select SQLite as database.
I don't see this for MySQL / PostgreSql

[2021-01-29 14:12] armandleopold commented on #13918
@lgov :  Interessting, i will investigate this. I will keep you in touch

[2021-01-29 15:01] jonasrla commented on #13934
I already thought a little about it. What do you think of doing this:
[code]

That is, instead of using dict as parser, use json.loads. The only issue is that I'm using `try catch` to decide whether the value is a valid dictionary or just a string. I, myself, am not a huge fan of using `try catch` where it should be `if else`.

What do you think?

[2021-01-29 15:34] jonasrla commented on #13934
Just had a better idea, what about this

[code]

[2021-01-29 15:36] vikramkoka commented on #13941
@mik-laj I like this, but I am little confused by this issue.
I originally thought you were talking about "PgBouncer Setup and Configuration", but the update you gave a little while ago is around "Database connection sizing".
I would have thought those are two separate, but related documents. Am I missing something? Or, are you just articulating the need without necessarily an opinion about how to

[2021-01-29 15:55] jonasrla commented on #13934
actually we don't need `json.loads` if it stores as `json.dumps`

[2021-01-29 16:03] mik-laj commented on #13941
@vikramkoka The last message is a fragment of a conversation with one user to whom I explained why they needs PGBouncer in Airflow. In the Airflow documentation, it seems to me that in addition to how ("PgBouncer Setup and Configuration"), we should also explain why we need it and when we don't need it, so that the user can consciously decide whether to use PGBouncer. If we explain how many connec

[2021-01-29 16:15] mik-laj commented on #13934
Will this work with connections for GCP?  It use the SA key (JSON file) as a parameter.

Example service account key file:
[code]
More information:
http://apache-airflow-docs.s3-website.eu-central-1.amazonaws.com/docs/apache-airflow-providers-google/latest/connections/gcp.html#configuring-the-connection

[2021-01-29 16:24] #13414 closed

[2021-01-29 17:03] saisujithkp opened #13974 "Broken Documentation Link for security V1.10.14"
**Apache Airflow version**: 1.10.14

**What happened**: https://airflow.apache.org/docs/apache-airflow/1.10.14/security/index.html
Link not working.

**How to reproduce it**:

[2021-01-29 17:11] ginevragaudioso opened #13975 "Allow multiple pools for one task"
Hello!

Description of feature:

I think it would be helpful to allow for multiple pools in one task. Currently, the `pool` argument for any class inheriting from `BaseOperator` is of type `string`, and thus only allows one pool to be entered. I believe it would be useful to allow to set multiple pools for one task, meaning allowing the argument `pool` to be a `list` of `string` instead of just on

[2021-01-29 18:17] bfan4 opened #13976 "Schedule interval display error in UI"
**Apache Airflow version**: 2.0.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): None

**Environment**: Local machine

**What happened**:
The schedule interval of a DAG on the home page is displayed incorrectly sometimes. If I defined the parameters like `start_date` or `schedule_interval` in the `default_args`, these parameters **can** work well but **can't** be di

[2021-01-29 18:34] potiuk commented on #13971
Wohoo. needs more investigation then :)

[2021-01-29 18:46] #8733 closed

[2021-01-29 19:31] kaxil commented on #13971
I was not able to reproduce this with breeze:

This is what I ran and worked fine
[code]

[2021-01-29 19:31] #11871 closed

[2021-01-29 19:37] #13877 closed

[2021-01-29 19:47] kaxil commented on #13974
You should use: https://airflow.apache.org/docs/apache-airflow/1.10.14/security.html

[2021-01-29 19:47] #13974 closed

[2021-01-29 19:50] kaxil commented on #13976
`schedule_interval` and `start_date` should be defined on DAG. Anything you define in `default_args` applies to a Task.

[2021-01-29 23:48] abdullahodibat commented on #13142
im using version 2.0.0.
and i get same error as above when i open `http://localhost:8080/`

[2021-01-30 03:56] mik-laj commented on #13053
@yuqian90  Do you need help?

[2021-01-30 07:27] vikramcse commented on #13638
Hi @potiuk
I am able to reproduce the issue.
while debugging I noticed that when the `try_number < 1` the `read` function from `FileTaskHandler` has only one return parameter which is logs, where there should be two return parameters logs and metadata.

To fix this issue I have added a fix, which returns two parameters instead of one

![image](https://user-images.githubusercontent.com/1611331/1063

[2021-01-30 12:02] #13434 closed

[2021-01-30 14:02] #10149 closed

[2021-01-30 15:38] potiuk commented on #13638
Definitely looks like you are :)

It would be great to add them indeed  calling a `read` method with different `try_numbers` and expecting tuple with two elements would be great

[2021-01-30 16:16] griffincosgrove commented on #13945
hey @turbaszek, struggling to get started with this PR. Could you elaborate more on "Airflow upgrade check", not sure about the implementation strategy at the moment?

[2021-01-30 16:21] yjwong opened #13985 "Can't save any connection if provider-provided connection form widgets have fields marked as InputRequired"
**Apache Airflow version**: 2.0.0 with the following patch: https://github.com/apache/airflow/pull/13640

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): N/A

**Environment**:

- **Cloud provider or hardware configuration**: AMD Ryzen 3900X (12C/24T), 64GB RAM
- **OS** (e.g. from /etc/os-release): Ubuntu 20.04.1 LTS
- **Kernel** (e.g. `uname -a`): 5.9.8-050908-generic

[2021-01-30 17:43] potiuk commented on #13967
I honestly do not understand what is the problem and expectations here. Could you please elaborate on what you were trying to achive and what did not work?

Please be as descriptive as possible.

[2021-01-30 17:56] AmarEL commented on #13142
I think this correction is available just in the current master of this repo, and will be realesed officially in a new version. So, for this reason the error still happening to you with the version 2.0.0

[2021-01-30 19:04] YangMuye opened #13988 "List and Dict template fields are rendered as JSON."
**Apache Airflow version**: 2.0.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): n/a

**Environment**: Linux

- **Cloud provider or hardware configuration**: amd64
- **OS** (e.g. from /etc/os-release): Centos 7
- **Kernel** (e.g. `uname -a`):
- **Install tools**: pip
- **Others**:

**What happened**:

The field `sql` is rendered as a serialized json `["select 1 from

[2021-01-30 19:25] adilkhash opened #13989 "AttributeError: 'TelegramOperator' object has no attribute 'text'"
Hi there 👋

I was playing with the **TelegramOperator** and stumbled upon a bug with the `text` field. It is supposed to be a template field but in reality the instance of the **TelegramOperator** does not have this attribute thus every time I try to execute code I get the error:

[code]

[2021-01-30 20:32] #13099 closed

[2021-01-30 23:32] dhegberg commented on #10645
@dyon78

Is there any outstanding work to be picked up on this?

 It looks like you've added the hook: https://github.com/apache/airflow/blob/master/airflow/providers/amazon/aws/hooks/secrets_manager.py

[2021-01-31 01:45] andreychernih commented on #13522
Having a similar issue with the only different in my case is that I pass the `env_vars` directly to `KubernetesPodOperator`:

[code]

It is passing the actual `{{ execution_date.strftime("%Y-%m-%d") }}` instead of rendering the template. I am using the official apache/airflow:2.0.0-python3.8 Docker image..

[2021-01-31 02:16] andreychernih commented on #13522
It looks like the workaround from https://github.com/apache/airflow/issues/13348 works:

[code]

[2021-01-31 11:15] turbaszek commented on #13945
@griffincosgrove upgrade check is additional package that can be installed next to Airflow 1.10.X and allows users check if they are ready to upgrade to Airflow 2.0:
https://github.com/apache/airflow/tree/v1-10-stable/airflow/upgrade

As you can see solving this issue requires to open a PR to `v1-10-stable` branch not `master`. What we need is a new rule that will check that users do not use `from

[2021-01-31 15:08] mjpieters commented on #12771
@WattsInABox the code is part of a private project, and the majority is either project specific or specific to the `jaeger_client` implementation, neither of which apply here. E.g. the custom configuration section and how to close the client are tied very closely to the `jaeger_client` codebase, as is how you create a `jaeger_client.span.Span()` instance from scratch.

I can see about talking to t

[2021-01-31 17:53] potiuk commented on #13985
I do not think 'InputRequired' is used by any built-in connection, that's why it has never been an issue.

I am not sure if we should implement it or simply disallow InputRequired (also DataRequired and Required I think). We cannot simply delete the field instead of hiding, because this is done dynamically in javascript by selecting connection type and we would have to move it out form/add back if

[2021-01-31 18:08] yjwong commented on #13985
Looking at `connection_form.js`, I can take a stab at supporting these. However, I'm currently limited by how much I understand how Flask-AppBuilder works.

If I understand the way it currently works, the entire set of fields, regardless of the selected connection, is POSTed to the controller.

Haven't read in detail yet, but if the controller can handle fields that are omitted in the POST request

[2021-01-31 18:58] jonathonbattista commented on #13542
We are experiencing these symptoms as well. Doesn't seem `git-sync` related.

Does any work have a clue why this is happening?

[2021-01-31 19:21] potiuk commented on #13985
Yep. My understanding as well.

Yep. my understing that this would work the way. Currently this code is rather simple (simply changing attributes of the fields to be visible/hidden). Another option would be to remove/restore `required` property of the "required" fields. Not sure how the controller would behave in this case, but likely this has even more chances of not having side effects and might

[2021-01-31 19:23] #13532 closed

[2021-01-31 19:45] doron8cohen commented on #13532
i haven't seen it until now... thanks for the fix!

On Wed, Jan 20, 2021 at 12:47 AM Kaxil Naik <notifications@github.com>
wrote:

[2021-01-31 19:50] gdevanla commented on #13971
I observe the same issue. Here is what I think the issue is:

In previous versions of airflow, the `cookie_samsite` value in the config file was allowed to be `empty`.  But, looks like it required from Airflow 2.0.0 onwards.  Setting that value to `lax` or `Strict`should resolve this issue, I think.

[2021-02-01 06:26] anushkrishnav commented on #13988
I would like to work on the issue

[2021-02-01 06:27] anushkrishnav commented on #13975
I would like to work on  it with more guidance

[2021-02-01 06:27] surapuramakhil opened #14000 "Unable to change Timezone for Web Server UI. get alert box with empty message"
**Apache Airflow version**: 1.10.14

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**: Docker Image

- **Cloud provider or hardware configuration**: local
- **OS** (e.g. from /etc/os-release): ubuntu 20.04
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:
From web UI i am unable to change Timezone as per described i

[2021-02-01 06:35] anushkrishnav commented on #13614
Can I work on this ?

[2021-02-01 06:45] jyotidhiman0610 commented on #13614
@anushkrishnav I have already started on it, I am waiting for #13767 to proceed further :)

[2021-02-01 06:46] mik-laj commented on #13988
@anushkrishnav  Assigned!

[2021-02-01 06:53] anushkrishnav commented on #13988
Awesome thanks !! @mik-laj

[2021-02-01 07:33] dyon78 commented on #10645
@dhegberg yes, it's implemented, let me close this.

[2021-02-01 07:33] #10645 closed

[2021-02-01 11:39] VBhojawala commented on #13988
Hi @anushkrishnav

I have already developed solution for this. If you have not started work on this can i create a PR for the same?

[2021-02-01 11:42] rg2609 opened #14002 "Using keycloak with Airflow"
**Description**

Can we have the Singel Sign On(SSO) in airflow? Using the Keycloak with Airflow. I am new to the flask project, so I don't have any idea about the Airflow project.

**Use case / motivation**
I found the StackOverflow post for OpenID is setting up the Keycloak configuration in the flask project [link](https://stackoverflow.com/questions/47678321/using-openid-keycloak-with-superset)

[2021-02-01 11:49] anushkrishnav commented on #13988
I have already finished 50% of the solution

[2021-02-01 11:49] mik-laj commented on #14002
I have successfully set up Airflow with Keycloak, but I haven't found the time yet to contribute it to the community, but I have described how you can do it yourself. See: https://github.com/apache/airflow/issues/11305

[2021-02-01 11:50] anushkrishnav commented on #13614
Okayy :)

[2021-02-01 13:33] #13638 closed

[2021-02-01 15:17] kaxil commented on #13971
@Anjali-bisht / @turbaszek / @kurtqq Can you folks try changing the value to `Lax` and see if that works for you?

https://github.com/apache/airflow/blob/master/UPDATING.md#the-default-value-for-webserver-cookie_samesite-has-been-changed-to-lax

[2021-02-01 15:42] RosterIn opened #14009 "integration with Asana as provider"
**Description**

Asana is a tool to manage tasks https://asana.com/ (similar to Jira and others)

**Use case / motivation**

Need to find or create tasks in my ETL.
For example: when issue is found open Asana task as followup.

**Are you willing to submit a PR?**

If time will allow but probably won't have time.
Asana has an official python package https://github.com/Asana/python-asana

**Related

[2021-02-01 15:51] turbaszek opened #14010 "Order of items not preserved in Task instance view"
**Apache Airflow version**: 2.0.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

The order of items is not preserved in Task Instance information:
<img width="542" alt="Screen

[2021-02-01 15:51] turbaszek commented on #14010
CC @ryanahamilton

[2021-02-01 16:03] abdullahodibat commented on #10964
also having same issue:
`docker_airflow_airflow-webserver_1 | [2021-02-01 15:58:31,286] {webserver_command.py:218} ERROR - Shutting down webserver
docker_airflow_airflow-scheduler_1 | [2021-02-01 16:00:57,573] {scheduler_job.py:1772} INFO - Resetting orphaned tasks for active dag runs`

i followed instructions here: http://apache-airflow-docs.s3-website.eu-central-1.amazonaws.com/docs/apache-airfl

[2021-02-01 16:06] #13685 closed

[2021-02-01 16:59] feluelle commented on #13691
Or return the host name to xcom? We currently do not return anything and returning the hostname makes sense imo. What do you think?

[2021-02-01 18:16] bfan4 commented on #13976
Do you mean a Task also has a `start_date` and `schedule_interval`?

[2021-02-01 18:17] cccs-cat001 opened #14012 "Changing state of task_instance to None"
**Apache Airflow version**: 2.0.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
[code]

**Environment**:

- **Cloud provider or hardware configuration**: Azure
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

The scheduler outputs logs saying it's changing the state of task_instances to No

[2021-02-01 18:58] kaxil commented on #13976
We used to have it: https://github.com/apache/airflow/pull/6103

[2021-02-01 19:19] weldpua2008 commented on #8467
We have 1.10.14 and Python 3.6

[code]

[2021-02-01 20:05] atolopko-czi commented on #13114
I still feel it is helpful if the Tree view status hover popups simply contained the operator status as text. Colors can be useful conveyors of information, but text is more accessible for the color-blind. I have not tried setting different default colors, since that would require consensus across our organization.

[2021-02-01 20:23] kaxil commented on #13114
![image](https://user-images.githubusercontent.com/8811558/106513750-42653600-64cb-11eb-99b2-7f1b96f2f659.png)

The tree view in 2.0.0 should already have that

[2021-02-01 21:53] atolopko-czi commented on #13114
Will upgrade! Thanks @kaxil!

[2021-02-01 21:53] #13114 closed

[2021-02-02 09:07] loustler commented on #13680
I had the same problem.

In my case, given gitSync.subPath as the empty string.

I fixed that problem after the correct value.

[code]

hope it helps

[2021-02-02 09:40] Scuall1992 commented on #10126
Hello, can I implement this feature?

[2021-02-02 10:13] eladkal commented on #10126
@Scuall1992 assigned to you.
Just mentioning that we have also https://github.com/apache/airflow/issues/13966 but download isn't part of it.

[2021-02-02 10:18] eladkal commented on #14009
Marked as good first issue but for anyone picking this up note that adding a new provider require more work than adding operator to existed provider. You can view https://github.com/apache/airflow/pull/13324 (Adding Neo4j provider) to understand the scope.

[2021-02-02 10:51] eladkal commented on #14012
I can't see your image - please upload it to github.
I'm not sure I understand your question/issue? NONE is a valid state for a task https://github.com/apache/airflow/blob/d2efb33239d36e58fb69066fd23779724cb11a90/airflow/utils/state.py#L57

Can you please describe the actual issue you are experiencing? It looks more as a question rather than reporting an actual issue.

[2021-02-02 10:54] radim94 commented on #13109
Hello, @HaloKo4, @mik-laj, @eladkal! I am interested in making a PR for this.

[2021-02-02 11:01] eladkal commented on #13109
@radim94 assigned to you

[2021-02-02 11:03] rg2609 commented on #11305
@mik-laj can you share the branch or PR what changes you did for keycloak

[2021-02-02 11:21] mik-laj commented on #11305
@rg2609  Unfortunately, this is part of a client project, and I haven't found the time to reimplement it in the community.

[2021-02-02 11:26] eladkal commented on #13225
@vemikhaylov assigned to you

[2021-02-02 11:26] kaxil commented on #12918
Closed by https://github.com/apache/airflow/pull/13798

[2021-02-02 11:27] #12918 closed

[2021-02-02 11:38] rg2609 commented on #11305
@mik-laj so can guide me where to make changes

[2021-02-02 12:11] cccs-cat001 commented on #14012
I Uploaded the image to github. The issue is that it's always None, and never anything more useful. Should it not be updating it to be all the different states?

[2021-02-02 12:22] YangMuye commented on #13988
Hi @VBhojawala, why don't you just create a PR for it first?
If we do not need a sophisticated solution, it is mostly just about a one-line change as mentioned in my original post. If anyone has better solution, we can merge them later. I hope the patch is available in 2.0.1.

[2021-02-02 12:43] grepthat commented on #13808
We saw this happing due to https://github.com/apache/airflow/pull/13705 - Did you run an Airflow version with this fix included?

[2021-02-02 12:53] RosterIn commented on #13988
The breaking to individual item was the original behavior before  https://github.com/apache/airflow/pull/11061  ? I don't remember this

In the Json example https://github.com/apache/airflow/pull/11061 it doesn't break each key to it's own item @turbaszek

[2021-02-02 13:19] YangMuye commented on #13988
@RosterIn it is the behavior of some renderers (e.g. the SQL renderer), but not the others (such as the JSON renderer).
In the past, the field was directly passed to the render, so a SQL renderer would render a SQL field as a list as illustrated in my example, and a JSON renderer would render a JSON field as JSON as shown in his example.

[2021-02-02 13:21] turbaszek commented on #13988
I don't remember it too, but it may have been only issue of `sql`.

[2021-02-02 13:27] zlhsmfj commented on #13902
Seems this bug has been fixed in branch v1-10-stable

[2021-02-02 13:27] #13902 closed

[2021-02-02 13:58] Junnplus commented on #14010
@ryanahamilton If you don’t mind, I’m willing make pr for this.

[2021-02-02 14:21] ryanahamilton commented on #14010
@Junnplus that would be great, please do!

[2021-02-02 14:27] scrawfor commented on #13799
Experiencing this same issue. We upgraded lower environments without problems, but production is throwing this error.

[2021-02-02 14:29] eejbyfeldt commented on #13808
We did not run with that specific fix, but the one proposed in https://github.com/apache/airflow/issues/13677

Also both of the schedulers were running when the task failures occurred and continued running afterwards, so none the schedulers were not killed/restarted due to livenessProbe.

@grepthat If you saw this issue without that fix, was that the real root cause or were you just hitting this b

[2021-02-02 14:38] kaxil commented on #13799
Can you provide some logs please with the stacktrace-- (including logs before and after the error)

[2021-02-02 14:41] lgwacker commented on #13799
I think I found out what was causing this. If you had a DAG with tasks on running state before the upgrade, when you turn those on after upgrading, this error happens.

Try clearing the whole dag run before unpausing.

[2021-02-02 14:58] gdevanla opened #14034 "Airflow Webserver slow to start up"
**Apache Airflow version**:
2.0.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):  "18.04.1 LTS (Bionic Beaver)"

- **Kernel** (e.g. `uname -a`): 4.15.0-130-generic #134-Ubuntu
- **Install tools**:
- **Others**:

**What happened**:

I am observing real slow start

[2021-02-02 15:37] kaxil commented on #11899
I was not able to reproduce this @shivanshs9 can you provide reproduction steps if this is still occurring for you

[2021-02-02 16:15] yjwong commented on #13805
Seems to be related to this commit: https://github.com/apache/airflow/commit/3ca11eb9b02a2c2591292fd6b76e0e98b8f22656

In `airflow/jobs/scheduler_job.py`, `executor.job_id` is set but not for `airflow/jobs/backfill_job.py`. The same can be observed in `airflow/www/views.py` too.

[2021-02-02 16:18] scrawfor commented on #13799
@kaxil Sure.
@lgwacker - Unfortunately that did not work for me.   Even renaming the dag doesn't seem to have solved the issue.

[code]

*Env Details:*
* Docker Image: apache/airflow:2.0.0-python3.8
* Postgres Metadata DB
* Local Executor

[2021-02-02 16:29] lgwacker commented on #13799
@scrawfor another thing I did was deleting the pool, restarting the scheduler, turning the dag on, and creating the pool again. Can you try that?

[2021-02-02 16:31] scrawfor commented on #13799
@lgwacker In a rush to get back online I just renamed the dag which did work after a couple of restarts.  But I appreciate the help!

[2021-02-02 16:55] ginevragaudioso commented on #13975
Thanks @anushkrishnav ! I can't provide much guidance on the implementation side of things, as I stated before I did not take the time to look into airflow source code deep enough to be able to give any meaningful advice. All I know is that it seems that the one-pool assumption goes all the way into SQL, so this may require a table model change, but I could be wrong here.
In terms of feature reque

[2021-02-02 17:38] #13494 closed

[2021-02-02 18:29] #8756 closed

[2021-02-02 18:45] eladkal commented on #11349
The error log suggest:
`sqlalchemy.exc.IntegrityError: (sqlite3.IntegrityError) NOT NULL constraint failed: task_instance.pool`
what airflow version are you running? Can you please add reproduce steps?

[2021-02-02 18:53] potiuk commented on #14034
@mik-laj -> that looks like registration of API routes and security decorators. It  look that if takes > 2 minutes to start the whole process indeed seems to restar. I cannot see though why It's so slow. I think this might be caused by some network configuration executing some roundtrip network operation with every route adding ? This certainly looks like it and maybe we can somewhat prevent it fr

[2021-02-02 18:58] zachliu commented on #14034
i noticed the same issue on airflow 2.0.0, and i have 4 worker processes for the webserver
[code]

[2021-02-02 19:04] mik-laj commented on #14034
Can you check how long it takes to display all routes?
[code]
For me:
[code]

[2021-02-02 19:26] zachliu commented on #14034
where should i insert this line in my `entrypoint.sh`? i suppose right after
[code]
?

[2021-02-02 19:29] mik-laj commented on #14034
If you are using Docker, you can check it with this command.
[code]

[2021-02-02 19:31] eawer opened #14037 "ti.duration is None inside the on_success callback if running dag completely"
**Apache Airflow version**: 1.10.9
**Environment**: puckel/docker-airflow:1.10.9
**Others**: I'm using docker-compose.yml like this https://github.com/puckel/docker-airflow/blob/master/docker-compose-CeleryExecutor.yml

**What happened**:
If I run the dag using the "Trigger dag" button, or if it is run on schedule - the `duration` property of `context["ti"]` is None. If I trigger each task manuall

[2021-02-02 19:50] gdevanla commented on #14034
This is what I get:

[code]

[2021-02-02 20:08] potiuk commented on #8467
You probably have wrong version of flask_appbuilder. Please use constraints to upgrade your version of airflow as described here http://airflow.apache.org/docs/apache-airflow/stable/installation.html (using constraint files). You can run `pip freeze | sort ` in your environment and compare your versions with https://raw.githubusercontent.com/apache/airflow/constraints-1.10.14/constraints-3.6.txt

[2021-02-02 20:12] alexsegarra opened #14038 "Airflow Webserver"
**Apache Airflow version**:
2.0.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
N/A

**Environment**:
virtualenv

- **Cloud provider or hardware configuration**: N/A - Localhost:8080
- **OS** (e.g. from /etc/os-release): MacOS Cataline 10.15.7
- **Kernel** (e.g. `uname -a`): Kernel Version 19.6.0
- **Install tools**: pip
- **Others**:

**What happened**:
Could not

[2021-02-02 20:22] zachliu commented on #14034
i had to do
[code]
i got
[code]
but this doesn't mimic our production environment which uses the CeleryExecutor

[2021-02-02 21:01] jonathonbattista opened #14040 "1.10.14: Scheduler state is out of sync with DB"
**Apache Airflow version**: 1.10.14

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): v1.18.12-gke.1205

**Environment**: GKE using KubernetesExecutor with MySQL backend.

**What happened**:  Pods are not spawning because Scheduler is out of sync with the DB.

The webserver is reporting queued tasks but the scheduler has no idea about them.

A restart of the Scheduler

[2021-02-02 22:48] mik-laj commented on #14038
Duplicate: https://github.com/apache/airflow/issues/13971 https://github.com/apache/airflow/issues/10781

[2021-02-02 22:48] #14038 closed

[2021-02-02 23:39] zachliu commented on #9080
as i mentioned in the slack/forum, i've been working on my own [airflow-python-sdk](https://pypi.org/project/airflow-python-sdk/).
i noticed the differences between the `/api/v1/openapi.json` embedded in the swagger UI and this [specs](https://raw.githubusercontent.com/PolideaInternal/airflow/75b0ad0fb606cc41f9af43cb6373aed25a8fc39c/openapi.yaml).
is there a reason for such differences? there are

[2021-02-02 23:44] mik-laj commented on #9080
Here is the latest version of the specification.
**Development version (master)**
https://github.com/apache/airflow/blob/master/airflow/api_connexion/openapi/v1.yaml
**2.0.0 (latest released)**
https://github.com/apache/airflow/blob/2.0.0/airflow/api_connexion/openapi/v1.yaml

[2021-02-02 23:46] zachliu commented on #9080
i've been using the wrong spec :facepalm:

[2021-02-02 23:50] mik-laj commented on #9080
The specification for each version is also available in the documentation.
http://apache-airflow-docs.s3-website.eu-central-1.amazonaws.com/docs/apache-airflow/latest/stable-rest-api-ref.html
![Screenshot 2021-02-03 at 00 50 21](https://user-images.githubusercontent.com/12058428/106677855-cf86b880-65b9-11eb-8017-b46d94d06b58.png)

[2021-02-02 23:51] zachliu commented on #9080
@mik-laj thanks, in a few days i shall release my `v1.0.0` sdk :muscle:

[2021-02-03 01:11] jedcunningham commented on #11982
@ashb, finally got back to this... I noticed that KubeExecutors end method isn't being called. I naively tried this:

[code]

This allowed it to exit, though I'm sure there are some scenarios where this may be lacking 🤠 Tests pass though 🤷‍♂️

[2021-02-03 02:55] #11899 closed

[2021-02-03 02:55] #13668 closed

[2021-02-03 03:16] #13891 closed

[2021-02-03 03:21] vikramkoka commented on #8431
@ryanahamilton Can you please comment on this?

[2021-02-03 05:31] eladkal commented on #14000
Note to what the doc says "only in RBAC UI"
https://airflow.apache.org/docs/apache-airflow/1.10.14/timezone.html#web-ui

You need to set rbac=True

[2021-02-03 05:31] #14000 closed

[2021-02-03 06:39] rg2609 commented on #14002
@mik-laj gone through your post. I tried putting webserver_config.py in, but no success for me.

[2021-02-03 08:59] yuqian90 commented on #13053
Sorry haven't got to this yet, but will get to it in the next few days.

[2021-02-03 10:13] lukaszkowalik commented on #13487
Worked for me too. I use it with docker-compose so had to add environment variable:
    AIRFLOW__CORE__ENABLE_XCOM_PICKLING: 'true'

[2021-02-03 10:25] junnplus opened #14044 "Display description colume of dag in UI DAG list"
**Description**

Display description column of dag in UI DAG list.

**Use case / motivation**

display description of dag maybe more friendly for user.

**Are you willing to submit a PR?**

yes.

**Related Issues**

[2021-02-03 10:32] eladkal commented on #14044
You can set DAG description with [doc_md](https://github.com/apache/airflow/blob/0e8c77b93a5ca5ecfdcd1c4bd91f54846fc15d57/airflow/models/dag.py#L261) parameter.
Are you asking to expose the value as column in the DAG list? I don't think that is doable. The description can be really long.

[2021-02-03 10:43] Junnplus commented on #14044
Right.

We can truncate part of the content like hover content of `DAG` column.

[2021-02-03 10:50] eladkal commented on #14044
I'm pretty sure that when you define `doc_md` the content appear when you hover over your DAG.

[2021-02-03 11:00] eladkal commented on #14044
yes, as I thought
![2021-02-03_12-59-03](https://user-images.githubusercontent.com/45845474/106737814-cf210880-661f-11eb-9531-886c6332518b.gif)

[2021-02-03 11:13] Junnplus commented on #14044
I think it would be better to display columns than hover.

![image](https://user-images.githubusercontent.com/8097526/106739087-b29ec380-6653-11eb-91d3-096a347d714a.png)

[2021-02-03 11:48] pchtsp opened #14045 "Inexistant reference in docs/apache-airflow/stable-rest-api-ref.rst"
**Apache Airflow version**: 2.1.0.dev0 (master branch)

**What happened**:

in file `docs/apache-airflow/stable-rest-api-ref.rst` there is a reference to a file that does not longer exist: `/docs/exts/sphinx_redoc.py`.

The whole text:
[code]
**What you expected to happen**:

A reference to `docs/conf.py`, where I think is where the contents are now replaced during the build process.

**How to rep

[2021-02-03 12:17] kaustubhharapanahalli commented on #12838
Hello, does the installation fail with the latest version of pip 21.0.1?

[2021-02-03 13:19] turbaszek opened #14046 "Day change flag is in wrong place"
**Apache Airflow version**: 2.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

In tree view, the "day marker" is shifted and one last dagrun of previous day is included in new

[2021-02-03 13:39] kaxil commented on #13811
A workaround for this, for now, is to pass a session to `get_dagrun` method:

[code]

[2021-02-03 14:00] jyotidhiman0610 commented on #12691
Can I take this up?

[2021-02-03 14:16] gedOHub commented on #13925
@kaxil is there a known new release date that will have your fixes?

[2021-02-03 14:58] turbaszek opened #14050 "SLA mechanism does not work"
**Apache Airflow version**: 2.0.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

I have the following DAG:

[code]

And in my understanding this dag should result in SLA miss

[2021-02-03 15:17] turbaszek commented on #14050
Moving discussion from slack, cc @ashb @BasPH

I'm can to confirm that no callback are invoked in dag processor. In other words nothing after this line is executed:
https://github.com/apache/airflow/blob/9af452aee53dd300535dadd108ce3e60c5f11a2e/airflow/jobs/scheduler_job.py#L554

[2021-02-03 15:43] D0zingcat commented on #14044
If here's a column shows description, it would be easier to search for the dags you want to find(i.e. just Cmd+F to find the description), or if the description could be searched, that would be even better.

[2021-02-03 15:54] vikramkoka commented on #14045
Not sure I see this. Here is the link I used to check the rendered document
http://apache-airflow-docs.s3-website.eu-central-1.amazonaws.com/docs/apache-airflow/latest/stable-rest-api-ref.html

[2021-02-03 16:38] kaxil commented on #14050
@turbaszek Can you test it with Master too please?

[2021-02-03 16:43] pchtsp commented on #14045
Yeah, sorry: it is way more subtle than that (and less harmful). Check this file:
https://github.com/apache/airflow/blob/master/docs/apache-airflow/stable-rest-api-ref.rst
That shows the following:
![image](https://user-images.githubusercontent.com/5459187/106779335-2d151680-6647-11eb-90f9-48199bb6d7b2.png)

The contents are never shown in the documentation because the reference is overwritten by

[2021-02-03 16:46] RNHTTR opened #14051 "Docs Builder creates SpellingError for Sphinx error unrelated to spelling issues"
**Apache Airflow version**: 2.0.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): n/a

**Environment**:

- **Cloud provider or hardware configuration**: n/a
- **OS** (e.g. from /etc/os-release): n/a
- **Kernel** (e.g. `uname -a`): n/a
- **Install tools**: n/a
- **Others**: n/a

**What happened**:
A sphinx warning unrelated to spelling issues running `sphinx-build` re

[2021-02-03 17:08] potiuk commented on #14051
Indeed! Would be nice to improve that!

[2021-02-03 17:17] ryanahamilton commented on #14044
I'm not super keen on adding a column to this table. The layout is already tight/dense, and adding another column would exacerbate this. We made changes in 2.0 to specifically reduce density (hidden links). As an optional DAG attribute, it would also have potential to consume space even when not utilized.

I _do_ agree that making it a searchable property would be very valuable. That seems like it

[2021-02-03 17:29] potiuk commented on #12838
Can you please try and tell us  ?

We did not have time to make some checks with it - it is likely that main problems have been solved already.

[2021-02-03 17:39] kaxil commented on #13263
https://github.com/apache/airflow/pull/13247 fixes the critical issues -- however, an investigation needs to be done about the celery fork issue mentioned in description

[2021-02-03 17:54] turbaszek commented on #14050
Tested, same issue

[2021-02-03 18:32] BwL1289 commented on #7935
Commenting to track this thread.

[2021-02-03 18:42] ryanahamilton commented on #8431
@KevinKobi I believe I resolved the issue in the refactoring I did (#10944) prior to 2.0 release (screenshot of the updated presentation below). Instead of utilizing a single form for all of the options + actions, each row of options + action is a single form so it will no longer be POSTing values from sibling rows/forms. Your additional comments on improving the experience by removing redundancy

[2021-02-03 19:31] vikramkoka commented on #14050
I have seen this work when sla is specified at a DAG level, had not tried it before within a task

[2021-02-03 19:34] turbaszek commented on #14050
@vikramkoka how can one specify SLA on DAG level? The DAG class has no `sla` argument 🤔

[2021-02-03 20:54] yjwong commented on #13985
@potiuk I have a first draft PR above using the approach of adding/removing DOM elements, however, seems like the form still isn't being saved properly when some field has `InputRequired` (getting redirected back to the form itself). Will have to look into the server-side code - seems like there's some validation done there too.

[2021-02-03 21:23] kaxil commented on #13925
The fix was included in 2.0.0 itself, so I am a bit surprised

[2021-02-03 21:34] kaxil commented on #13850
Closed by https://github.com/apache/airflow/pull/13955

[2021-02-03 21:34] #13850 closed

[2021-02-03 21:59] #12146 closed

[2021-02-03 22:34] potiuk commented on #13985
I see, yeah I see

[2021-02-03 23:05] HaloKo4 opened #14054 "SambaHook using old unmaintained library"
**Description**
The  [SambaHook](https://github.com/apache/airflow/blob/master/airflow/providers/samba/hooks/samba.py#L26) currently using [pysmbclient](https://github.com/apache/airflow/blob/master/setup.py#L408) this library hasn't been updated since 2017 https://pypi.org/project/PySmbClient/

I think worth moving to https://pypi.org/project/smbprotocol/ which newer and maintained.

[2021-02-04 00:20] kaxil commented on #14050
https://github.com/apache/airflow/pull/14056 fixes it

Tested with following DAG:

[code]

![image](https://user-images.githubusercontent.com/8811558/106826363-b5fb7480-667e-11eb-846f-fd555cc31e3e.png)

[2021-02-04 00:34] jedcunningham commented on #11982
LocalExecutor behaves differently with that change as it gets stuck on `self.queue.join()`:
https://github.com/apache/airflow/blob/master/airflow/executors/local_executor.py#L338

So I guess is waiting for the running tasks to finish the desired behavior or not?

[2021-02-04 00:48] #13340 closed

[2021-02-04 01:35] kaustubhharapanahalli commented on #12838
Hi @potiuk I ran this command `pip install apache-airflow`. And it worked. My setup:
- OS: Windows10
- Python version = 3.9.1
- pip version = 21.0.1

Is there any test that I can run to confirm proper installation?

[2021-02-04 01:41] shinexia commented on #10964
i got the same issue
`
$ tail -n 5 airflow-webserver.log
2021-01-27 21:16:06,457 INFO - Received signal: 15. Closing gunicorn.
2021-01-27 21:20:33,961 INFO - Received signal: 15. Closing gunicorn.
2021-01-28 10:40:02,935 INFO - Received signal: 15. Closing gunicorn.
2021-02-04 09:17:43,544 ERROR - No response from gunicorn master within 120 seconds
2021-02-04 09:17:43,545 ERROR - Shutting down web

[2021-02-04 01:50] kaxil commented on #13799
Another workaround is to run the following query in your metadata db:

[code]

[2021-02-04 01:59] #14050 closed

[2021-02-04 03:12] yougyoung94 commented on #13131
Hello:)

I am still getting the same message... how can I fix it??
(I am using `astronomerinc/ap-airflow:2.0.0-2-buster` image)

[2021-02-04 03:14] heyfavour opened #14060 "function can't return"
when i use airflow with akshare.tool_trade_date_hist_sina(),i found it always keep running.
it won't return after execute  js_code.call(),
i don't know reason

[code]
[code]

[2021-02-04 04:00] Junnplus commented on #14044
In other scenarios, we may need to quickly browse the dag list to find what we want.
Although dag id can be used instead, but description column is more friendly to non-English speaking countries.

[2021-02-04 06:16] DreamyWen opened #14063 "macos python3.8 AttributeError: Can't pickle local object 'CeleryExecutor.trigger_tasks.<locals>.reset_signals'"
**Apache Airflow version**:
1.10.14

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

System Version: macOS 11.1 (20C69)
Version: Darwin 20.2.0
Python 3.8.5

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:
[2021-02-04 13:55:00,

[2021-02-04 06:21] vikramkoka commented on #14050
@turbaszek Sorry, I did not say that correctly. It was through the default DAG parameters as shown below,
default_args = {
    "owner": "airflow",
    "depends_on_past": False,
    "email_on_failure": False,
    "email_on_retry": False,
    #    'retries': 1,
    "retry_delay": timedelta(minutes=5),
    "sla": timedelta(seconds=6),
    "email": ["vikram@astronomer.io"],
}

However, after re-testin

[2021-02-04 06:36] guohaofree commented on #10954
for me,any chinese occur in dag file will trigger scheduler err:
UnicodeEncodeError: 'charmap' codec can't encode characters in position 1529-1532: character maps to <undefined>

[2021-02-04 07:27] turbaszek commented on #14050
@vikramkoka yes, using `default_args` just make it easier to apply the `sla` to every task in DAG, so in the end we are using the same mechanism 😄

[2021-02-04 07:59] turbaszek commented on #14060
There's not `return` statement in `tool_trade_date_hist_sina`. Also I'm not sure how this issue is related to Airflow.

[2021-02-04 07:59] #14060 closed

[2021-02-04 08:01] #13988 closed

[2021-02-04 09:14] shihabcsedu09 commented on #13522
@kaxil Looks like it has been removed from the Airflow 2.0.1 milestone. In which release we are expecting this to be fixed?

Thanks

[2021-02-04 09:16] heyfavour commented on #14060
actually it has return statement ,it still can print,but i can't get temp_df
[code]

[2021-02-04 09:17] heyfavour commented on #14060
actually it has return statement ,it still can print,but i can't get temp_df
[code]

[2021-02-04 09:22] heyfavour commented on #14060
when i debug ，i found if i execute
[code]
this function will not return anything and airflow will always keep running

[2021-02-04 09:25] sudarshan2906 commented on #13811
@kaxil
I tried the workaround. But getting this error:
[code]

[2021-02-04 09:27] pchtsp commented on #10704
Hello, I just found this issue and I was wondering if this is the same need as mine. I would like to be able to kill a running dagrun in a worker by sending some signal. Ideally with a dedicated endpoint in the rest api but it can also be in some other way indirect way as changing some flag in the airflow database.

[2021-02-04 10:08] #13464 closed

[2021-02-04 11:05] ashb commented on #7935
@BwL1289 (and others) if you are hitting this problem, please can you let me know what versions of Airflow you see this on?

[2021-02-04 11:10] ashb commented on #8315
Fixed by #14025

[2021-02-04 11:10] #8315 closed

[2021-02-04 11:24] TobKed commented on #10835
I worked for some time on automating system tests.
It resulted in the repository with the configuration for system tests: https://github.com/PolideaInternal/airflow-system-tests.

[2021-02-04 12:29] kaxil commented on #13811
Try with the following to delay import and creating a session in the mutation hook

[code]

[2021-02-04 13:36] tooptoop4 commented on #11354
@kaxil can this be reopened? https://github.com/apache/airflow/commit/39c91d985b8249b78893e3d0d8145a9a2693340e#diff-16df48936f837b402448fbbff41aaba51279da9c9b66d4b39412ab9d8237eedd does not solve it but reverting https://github.com/apache/airflow/pull/8728 does

[2021-02-04 13:51] halilduygulu commented on #13325
Happened to me as well. wasted half day until i try changing all scheduler related confs.
Please put this into updating.md or something until 2.0.1 is out. This conf existed in my conf of 1.10.14 with 0 value, so people can't figure out to change it before spending a lot of time.

[2021-02-04 13:55] kaxil commented on #11354
reverting #8728 will hide the problem and users will face issues when they upgrade to 2.0.0

Can you please provide me an example dag/dag file where I can reproduce (not link to any blog post)

[2021-02-04 14:32] cboden commented on #9707
The CLI API has changed in Airflow v2. I've updated the credentials code for anyone like me who landed here trying to get ECR working, using Airflows Python library instead of subprocesses:

[code]

[2021-02-04 14:43] caljnj opened #14068 "Airflow Scheduler making large amounts of DNS Requests"
**Apache Airflow version**:1.10.9

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): CentOS Linux 8 (Core)
- **Kernel** (e.g. `uname -a`): 4.18.0-147.5.1.el8_1.x86_64
- **Install tools**:
- **Others**:

**What happened**:

Airflow is producing a crazy amount of DNS queries (a few hundred per min) for requestion name resolution for database serv

[2021-02-04 15:01] eladkal commented on #12807
Why not define it once in `default_args`?

[2021-02-04 15:20] lisovskey opened #14071 "Add support for UNSTABLE Jenkins status"
**Description**

Don't mark dag as `failed` when `UNSTABLE` status received from Jenkins.
It can be done by adding `allow_unstable: bool` or `success_status_values: list` parameter to `JenkinsJobTriggerOperator.__init__`. For now `SUCCESS` status is hardcoded, any other lead to fail.

**Use case / motivation**

I want to restart a job (`retries` parameter) only if I get `FAILED` status. `UNSTABLE`

[2021-02-04 15:29] honarkhah commented on #12807
Then it needs to be done in each dag, right?

[2021-02-04 15:37] eladkal commented on #12807
Yes

[2021-02-04 15:45] honarkhah commented on #12807
Guess that is the point of issue!

On Thu, Feb 4, 2021 at 4:37 PM eladkal <notifications@github.com> wrote:

[2021-02-04 15:48] ashb commented on #11982
No, probably not -- we probably want to kill them.

Or if we want to be advanced. the first ^c lets them finish, but a second ^c kills them and exits sooner. (THis is what Celery does for instance.)

[2021-02-04 15:52] sarahamilton opened #14073 "GoogleDisplayVideo360CreateSDFDownloadTaskOperator does not push necessary xcom"
**Apache Airflow version**: 1.10.12

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**: Google Cloud Composer 1.13.3

- **Cloud provider or hardware configuration**:
- Google Cloud Composer

**What happened**:
The SDF operator workflow does not work correctly. When you create a new SDF operation using  GoogleDisplayVideo360CreateSDFDownloadTaskOperator

[2021-02-04 15:52] Rishabhraghwendra18 commented on #14054
Hi...May I work on this ?

[2021-02-04 15:55] simon-k commented on #12611
This would be really usefull.

[2021-02-04 15:56] eladkal commented on #12807
You described that you want to avoid specifying the same value of `weight_rule` per task.
For that you can define it once in `default_args`.

Though it's not exactly what you are describing maybe [task policy](https://airflow.apache.org/docs/apache-airflow/stable/concepts.html#task-level-cluster-policy) can solve some of it.

[2021-02-04 15:59] honarkhah commented on #12807
I really think having that one configurable for entire cluster could be
helpful!

On Thu, Feb 4, 2021, 4:56 PM eladkal <notifications@github.com> wrote:

[2021-02-04 16:00] potiuk commented on #14054
Sure! I assigned you :)

[2021-02-04 16:20] xangxiong commented on #11301
For anyone who is experiencing this issue, here is how I changed my airflow worker commands to bypass Airflow for now.

Previously:
/usr/local/bin/airflow worker --log-file "${LOG_FILE}" --queues "${AIRFLOW_CELERY_QUEUE}" --celery_hostname "${AIRFLOW_CELERY_HOSTNAME}" -c "${AIRFLOW_CELERY_INSTANCES}"

Current with Celery 5.0.5:
/usr/local/bin/celery --app airflow.executors.celery_executor worker -

[2021-02-04 16:21] sarahamilton opened #14075 "GoogleDisplayVideo360SDFtoGCSOperator does not pass the correct resource_name to the download_media hook"
**Apache Airflow version**: 1.10.12

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**: Google Cloud Composer 1.13.3

- **Cloud provider or hardware configuration**:
- Google Cloud Composer

**What happened**:
The GoogleDisplayVideo360SDFtoGCSOperator is not able to download media. The operator calls the [download_media hook](https://github.com/apache/a

[2021-02-04 16:35] sarahamilton opened #14077 "GoogleDisplayVideo360Hook.download_media does not pass the resourceName correctly"
**Apache Airflow version**: 1.10.12

**Environment**:  Google Cloud Composer 1.13.3

- **Cloud provider or hardware configuration**:
- Google Cloud Composer

**What happened**:
The GoogleDisplayVideo360Hook.download_media hook tries to download media using the "resource_name" argument. However, [per the API spec](https://developers.google.com/display-video/api/reference/rest/v1/media/download) it

[2021-02-04 16:35] mik-laj commented on #14075
If you create pull-request, you don't have to create an issue first, but if you want, you can do it. Creating an issue will allow you to collect feedback or share plans with other people.
https://github.com/apache/airflow/blob/master/CONTRIBUTING.rst#contribution-workflow

[2021-02-04 16:40] mik-laj commented on #14045
@pchtsp  We use an ``sphinxcontrib.redoc`` extension to generate this page. https://github.com/apache/airflow/blob/10c026cb7a7189d9573f30f2f2242f0f76842a72/docs/conf.py#L131
https://github.com/apache/airflow/blob/10c026cb7a7189d9573f30f2f2242f0f76842a72/docs/conf.py#L517-L536
So we should update this file.

[2021-02-04 16:42] Rishabhraghwendra18 commented on #14054
@potiuk thanks man ;)

[2021-02-04 16:45] mik-laj commented on #14068
er]SSPI Provider: Server not found in Kerberos database (851968) (SQLDriverConnect)

MSSQL is not official supported.  Airflow is tested with: PostgreSQL: 9.6, 10, 11, 12, 13, MySQL: 5.7, 8, SQLite: 3.15.0+.  I am afraid we will not be able to fix this bug
http://apache-airflow-docs.s3-website.eu-central-1.amazonaws.com/docs/apache-airflow/latest/installation.html#prerequisites

[2021-02-04 16:45] #14068 closed

[2021-02-04 17:11] pchtsp commented on #14045
Yes, I managed to learn how you were doing it. In fact, we now do it in our own project like this, too.

It was easier to show it with a PR at the end: https://github.com/apache/airflow/pull/14079/files

[2021-02-04 17:39] #13273 closed

[2021-02-04 17:39] #13277 closed

[2021-02-04 17:40] #13275 closed

[2021-02-04 17:40] #13276 closed

[2021-02-04 17:40] #13274 closed

[2021-02-04 17:40] #13271 closed

[2021-02-04 17:40] #11466 closed

[2021-02-04 18:04] dimberman commented on #11982
@jedcunningham would you be able to make PR for the fix you tried? I'm glad to help get you set up with our CI env and get it merged :)

[2021-02-04 18:26] soumilshah1995 commented on #8212
ok i have the same issue can someone please explain what do i need to do ?
using  docker-compose and tried almost everything could not get this to work
[2021-02-04 17:51:08,227] {s3_task_handler.py:52} ERROR - Could not create an S3Hook with connection id "AWSS3LogStorage". Please make sure that airflow[s3] is installed and the S3 connection exists.

[2021-02-04 18:29] soumilshah1995 opened #14081 "AWS S3 Logs docker image puckel/docker-airflow:1.10.9"
trying to store my airflow logs on aws s3 airflow is working fine with my celery workers

[2021-02-04 17:51:08,227] {s3_task_handler.py:52} ERROR - Could not create an S3Hook with connection id "AWSS3LogStorage". Please make sure that airflow[s3] is installed and the S3 connection exists.

remote_logging = True

# Users must supply an Airflow connection id that provides access to the storage
# loc

[2021-02-04 18:35] potiuk commented on #14081
Issues are not for troubleshooting. This is likely misconfiguration issue. Please confiratle the connection properly and open discussion on slack or in the "Discussion".

[2021-02-04 18:35] #14081 closed

[2021-02-04 18:37] soumilshah1995 commented on #14081
no this is an issue its not a misconfiguration. any links for the slack channel

[2021-02-04 18:56] dimberman commented on #13522
Hi @shihabcsedu09

I've created and linked a PR. Because the KPO lives in a provider once this is merged we can release and you can upgrade for this fix without needing to upgrade your airflow version (just pull the newest provider :) )

[2021-02-04 19:01] #13680 closed

[2021-02-04 19:21] potiuk commented on #10835
Cool

[2021-02-04 19:28] dimberman commented on #12813
@dmateusp have you tried this on 2.0?

[2021-02-04 20:03] Junnplus commented on #14044
Or we can put the description in the DAG column like tags?

[2021-02-04 20:05] fjmacagno commented on #7935
Seeing this on 1.10.14

[2021-02-04 20:07] dmateusp commented on #12813
sorry folks, we didn't attempt to migrate to 2.0 yet!

[2021-02-04 20:25] dimberman commented on #13023
@cris-b would you be interested in merging your fix? I'm glad to help you get setup with breeze/review your PR if you have cycles :)

[2021-02-04 20:26] dimberman commented on #12334
@crooy can you post the DAG you are seeing this in?

[2021-02-04 20:28] dimberman commented on #11841
@alaiou would you be interested in PRing the fix to this? I'd be glad to help get you set up with breeze/review :)

[2021-02-04 20:36] dimberman commented on #12728
Hi @m0bi5

Does this issue happen consistently?

Reading the log it seems like this might be caused by k8s sending a message that doesn't cleanly parse into a timestamp. I'm wondering if this is us not properly handling a k8s error.

[2021-02-04 20:41] m0bi5 commented on #12728
It happens quite randomly but it does happen quite often. For a quick fix, I bypassed the parsing of the string in `pod_launcher.py`

[2021-02-04 21:45] kaxil commented on #13522
Yup, this is a part of providers and will be released separately from Airflow core

[2021-02-04 22:40] dimberman commented on #12728
@m0bi5 is there any chance you can modify the pod_laucher to instead wrap this line in a try/catch and print the whole line if it catches?

```last_log_time = pendulum.parse(timestamp)```

[2021-02-04 22:46] dimberman commented on #8495
This is fixed in master and should be released as a part of either 2.0.1 or 2.0.2

[2021-02-04 22:47] #8495 closed

[2021-02-04 22:49] jhtimmins commented on #13971
@kaxil @potiuk @gdevanla Isn't this because migrating from 1.X to 2.0 requires the 2.0 config file (plus whatever custom configs you have), but if Airflow already has a `.config` file from 1.X, the 2.0 won't be used?

[2021-02-04 22:53] jedcunningham commented on #11982
@dimberman, draft PR opened with what I have so far. At least lacking some documentation on the changed behavior.

@ashb, conveniently the "advanced" behavior is how it functions, though we probably could (should?) handle it gracefully instead of being uncaught like it is now. It's the same as the existing behavior just behind a second signal now.

[2021-02-04 23:53] #8999 closed

[2021-02-05 02:30] chrismed opened #14089 "S3 Remote Logging Kubernetes Executor worker task keeps waiting to send log: "acquiring 0""
**Apache Airflow version**: 2.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): v1.16.15

**Environment**:

- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**: Airflow Helm Chart
- **Others**:

**What happened**:

A running task in a worker created from the Kubernetes Executor

[2021-02-05 04:25] dstandish commented on #13785
region is configurable in the airflow connection (and if using system creds, of course configurable on your system).

if using airflow connection to retrieve aws creds, you add kwargs for aws client by putting `config_kwargs` in conn extra: https://github.com/apache/airflow/blob/master/airflow/providers/amazon/aws/hooks/base_aws.py#L371

otherwise set region in system using either env vars or conf

[2021-02-05 04:25] shihabcsedu09 commented on #13522
@dimberman @kaxil Excellent. Thanks.

[2021-02-05 05:18] yjwong commented on #13985
Flask-AppBuilder also runs validations for every field when it's submitted. I was not able to find a way to conditionally add/remove fields depending on the submitted `conn_type`, so that means that my PR alone would not work.

However, it's possible for a provider to get it to work using a validator that's conditional on the `conn_type`:

[code]

[2021-02-05 07:51] maijh commented on #7935
Seeing this on 1.10.9

[2021-02-05 07:51] maijh commented on #7935
Seeing this on 1.10.9

[2021-02-05 10:18] tooptoop4 opened #14091 "where is v2.0.0 changelog?"
where is v2.0.0 changelog?

https://github.com/apache/airflow/blob/2.0.1rc2/CHANGELOG.txt has v1.10.14 and v2.0.1 but not v2.0.0

https://airflow.apache.org/docs/apache-airflow/stable/changelog.html?highlight=changelog does not have v2.0.0 either

[2021-02-05 11:29] potiuk commented on #14091
First of all - this is not a BUG. If you want to ask such queastions, it's much better to ask them using the "Discussion" rather than "issue" link (actually when you open a "New Issue" there is even a separate section that leads you there. So my kind request next time please open discussion for that not an issue, that makes live of maintainers much easier.

I think we will update it shortly. We ha

[2021-02-05 11:29] #14091 closed

[2021-02-05 11:30] jmelot commented on #14009
I'd like to take this on!

[2021-02-05 11:31] potiuk commented on #14009
Feel free!

[2021-02-05 11:41] tooptoop4 commented on #14091
for the benefit of admins the helpful answer is:

https://lists.apache.org/thread.html/r44d48e9e660c0f6177c95e7cb6686df3e3990621c2d372c74554d08b%40%3Cdev.airflow.apache.org%3E
https://lists.apache.org/thread.html/r7f37fbda77f317ab9a7445ea5759272437da6567dc40c1eb42a60c41%40%3Cdev.airflow.apache.org%3E
https://lists.apache.org/thread.html/r75ede252be66d4f93e52e56d4e3e76b97ac30cf7125f364be91f534e%40%

[2021-02-05 12:13] rachael-ds opened #14097 "Typo in Sensor: GCSObjectsWtihPrefixExistenceSensor (should be GCSObjectsWithPrefixExistenceSensor)"
Typo in Google Cloud Storage sensor: airflow/providers/google/cloud/sensors/gcs/GCSObjectsWithPrefixExistenceSensor

The word _With_ is spelled incorrectly. It should be: GCSObjects**With**PrefixExistenceSensor

**Apache Airflow version**: 2.0.0
**Environment**:
- **Cloud provider or hardware configuration**: Google Cloud
- **OS** (e.g. from /etc/os-release): Mac OS BigSur

[2021-02-05 12:50] #14045 closed

[2021-02-05 13:19] Rudasek86 opened #14100 "Airflow 1.10.14 - celery worker doesn't want to connect to redis."
**Apache Airflow version**: 1.10.14

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**: Red Hat Enterprise Linux 8.2 (VMware)

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):   Red Hat Enterprise Linux 8.2
- **Kernel** (e.g. `uname -a`): 4.18.0-193.19.1.el8_2.x86_64 #1 SMP Wed Aug 26 15:29:02 EDT 2020 x86_64 x86_64

[2021-02-05 13:38] nicor88 opened #14101 "Airflow 2.0.0 Tasks not retried on failure when retries>=1 in case of OperationalError"
**Apache Airflow version**: 2.0.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):  v1.18.15

**Environment**:

- **Cloud provider or hardware configuration**: AWS (running in k8s cluster provisioned by kops)
- **OS** (e.g. from /etc/os-release): using Docker image **apache/airflow:2.0.0-python3.8**
<pre>
PRETTY_NAME="Debian GNU/Linux 10 (buster)"
NAME="Debian GNU/Lin

[2021-02-05 13:48] EvaGachirwa commented on #7785
Hey @lucasveljacic, did you get a solution to this?

[2021-02-05 15:31] coolacid opened #14104 "BACKEND: Unbound Variable issue in docker entrypoint"
This is NOT a bug in Airflow, I'm writing this issue for documentation should someone come across this same issue and need to identify how to solve it. Please tag as appropriate.

**Apache Airflow version**: Docker 2.0.1rc2

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): N/A

**Environment**: Dockered

- **Cloud provider or hardware configuration**: VMWare VM
- **OS*

[2021-02-05 15:31] yuqian90 commented on #13827
Tried to discuss this on slack in #airflow-2-0. One possible workaround at the moment is to use `AirflowPlugin` instead of `user_defined_macros`. `AirflowPlugin` works fine in the webserver so jinja templates can be rendered just fine. The only downside is that macros are more cumbersome to use in jinja templates. E.g. with `user_defined_macros`, we could do `{{ next_holiday(execution_date) }}`. B

[2021-02-05 15:38] #14010 closed

[2021-02-05 15:53] potiuk commented on #14104
Would you mind to make a PR to the http://airflow.apache.org/docs/apache-airflow/stable/configurations-ref.html?highlight=airflow__core__sql_alchemy_conn#sql-alchemy-conn describing it ?

I think maybe a little description to https://github.com/apache/airflow/blob/fc67521f31a0c9a74dadda8d5f0ac32c07be218d/airflow/config_templates/config.yml#L63 and a word about it in https://github.com/apache/airfl

[2021-02-05 16:41] m0bi5 commented on #12728
And then open a pull request for it? I would definitely need some guidance but I can definitely contribute

[2021-02-05 16:47] ashb commented on #13785
Check out https://airflow.apache.org/docs/apache-airflow-providers-amazon/stable/connections/aws.html -- as dstandish mentioned, you can put the region_name in the extras (a bit easier than using the `config_kwargs`.)

[2021-02-05 16:47] #13785 closed

[2021-02-05 16:47] JPonte opened #14106 "Lineage Backend removed for no reason"
**Description**

The possibility to add a lineage backend was removed in https://github.com/apache/airflow/pull/6564 but was never reintroduced. Now that this code is in 2.0, the lineage information is only in the xcoms and the only way to get it is through an experimental API that isn't very practical either.

**Use case / motivation**

A custom callback at the time lineage gets pushed is enough

[2021-02-05 17:41] dstandish commented on #13785
nice i thought you could put it in extra but had trouble finding the spot in the code

[2021-02-05 17:47] dinigo commented on #12611
Thanks for the bump @eladkal

We both,  OP from #8686 struggle with integrating Airflow in a SRE control plane

[2021-02-05 17:50] potiuk commented on #14106
I think only @bolkedebruin so far was really pursuing the lineage, but I am sure if you would like to re-add it we can jointly review it and get it in 2.1, I think it is important to add it back in a form that will be good. Maybe also others would like to chime in?

If it is simple and you can prepare a proposed PR, I think the fastest way will be to prepare it and send a message to the devlist in

[2021-02-05 18:04] potiuk commented on #7785
We are just voting on new providers and snowflake providers are part of it (release candidates):

* Backport providers for 1.10: https://pypi.org/project/apache-airflow-backport-providers-snowflake/2021.2.5rc1/
* Providers for 2.0.0: https://pypi.org/project/apache-airflow-providers-snowflake/1.1.0rc1/

They are both bound with the new version of `snowflake-connector-python` > 2.3.8 which fixed so

[2021-02-05 19:17] dimberman commented on #12728
@m0bi5 I'd say for the moment let's just hack it in and run the DAGs so we can see what the response from k8s looks like when this fails, once that's set we can get you set up with a dev environment using this guide https://github.com/apache/airflow/blob/master/CONTRIBUTORS_QUICK_START.rst

Once we track down this bug would love to help you get a commit in :)

[2021-02-05 19:23] dimberman commented on #11982
@jedcunningham looks good to me! Please rebase on master to get tests running and then we can merge.

[2021-02-05 19:30] dimberman commented on #13805
So the solution here would be to give an arbitrary scheduler_job_id "a.k.a. 'backfill' or 'manual'" For these two use-cases.

@yjwong @ClassyLion would either of you be interested in taking this on? I'd be glad to help you get set up with a dev environment/take you through the PR process (no problem if you don't have the cycles but this seems like a pretty great first ticket :) ).

[2021-02-05 21:27] ClassyLion commented on #13805
I can say that I am interested and I'm up for it... At least to try it.

[2021-02-05 22:56] #13348 closed

[2021-02-05 22:56] #13522 closed

[2021-02-05 23:09] matthieucham commented on #13262
Thanks for fixing this
Is there a way around this bug ? I could not find one : wait_until_finished=True as operator argument does not seem to change anything :(

[2021-02-05 23:22] milton0825 commented on #7935
Seeing this on 1.10.8 with Celery executor
[code]

[2021-02-06 00:21] mik-laj commented on #14097
You should change the name and then add the code below for backward compatibility.
[code]
It is also worth adding tests. To do it, update the [`deprecated_classes.py`](https://github.com/apache/airflow/blob/master/tests/deprecated_classes.py) file.

[2021-02-06 00:29] TobKed commented on #13262
Taking `airflow/providers/google/cloud/hooks/dataflow.py` from @terekete [fix](https://github.com/apache/airflow/pull/13478) and putting it locally (alongside operator code) will cause that local code will take precedence over packages. Do you know @mik-laj am I right here?

[2021-02-06 04:34] chrismed commented on #14089
Another person (from Apache slack channel) also described the exact issue I saw:
https://apache-airflow.slack.com/archives/CSS36QQS1/p1612336991103900

[2021-02-06 07:39] anilkulkarni87 opened #14111 "Error: ModuleNotFoundError: No module named 'airflow' | Docker Image Windows WSL2"
**Apache Airflow version**: 2.0.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): NA

**Environment**: Local Windows Laptop

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): Windows 10 (WSL 2)
- **Install tools**: Docker desktop in Windows 10 (WSL2)
- **Others**:

**What happened**:

I am trying to setup local development with Air

[2021-02-06 14:29] turbaszek commented on #14111
I had this problem yesterday - it was down to the user config. It was fixed by setting in docker-compose:
[code]

[2021-02-06 15:15] XD-DENG opened #14115 "Migrate inline JavaScript scripting to external files"
**Description**

Currently we have inline JavaScript scripting in templates like `airflow/www/templates/airflow/[dags/dag/gantt/tree/graph].html` etc. In these scripting, some practices are not optimal, like unused arguments, usage of undeclared variables, style issues, etc.

**Use case / motivation**

As briefly discussed in https://github.com/apache/airflow/pull/14019#discussion_r568761030, it's

[2021-02-06 15:18] iercan opened #14116 "Potential bug related with max_retry_delay"
**Apache Airflow version**: 2.0.0

**Environment**:

I'm using apache/airflow:2.0.0 docker image and configured celery executor with postgresql 9.6 and redis 5.0.5

**What happened**:
I upgraded airflow from 1.10.14 to 2.0.0. First a few hours there was no error but then scheduler started to fail by giving below error.

I figured it out which dag causes error. Interestingly exception disappear whe

[2021-02-06 15:42] iercan commented on #14116
Sorry just saw this issue also mentioned here #13086

[2021-02-06 16:22] mik-laj commented on #14071
I assigned you to this ticket 🐈

[2021-02-06 18:54] anilkulkarni87 commented on #14111
@turbaszek I changed the user config but I still seem to get the same error. Is there any other change that you missed to mention? q

[2021-02-06 20:30] stelukutla commented on #13099
issue fixed after running the below command
airflow dags pause <dag_id>
and start the scheduler

[2021-02-06 22:07] anilkulkarni87 commented on #14111
@turbaszek I was able to fix the error.
Solution : I reset my WSL installation and setup a new user when i restarted it.
But now the problem is docker-compose up airflow-init **is not creating the Admin user.**  and there docker-compose up is failing.

airflowdocker_postgres_1 is up-to-date
airflowdocker_redis_1 is up-to-date
Recreating airflowdocker_airflow-init_1 ... done
Attaching to airflowdoc

[2021-02-07 00:04] tooptoop4 commented on #14101
similar to https://issues.apache.org/jira/browse/AIRFLOW-6518

[2021-02-07 00:07] turbaszek commented on #14111
@anilkulkarni87 can you share your docker-compose? CC @mik-laj who's the author of this docker-compose 🐈

[2021-02-07 01:46] anilkulkarni87 commented on #14111
Here is the file. @turbaszek
[code]

[2021-02-07 02:51] mik-laj commented on #14111
@turbaszek  Windows is not yet supported and this file has not been tested in any way on this system. Unfortunately docker-compose for Windows is very limited and buggy. Other projects provide virtual machine images as the recommended method for using their projects on Windows.

For example, Superset:

https://superset.apache.org/docs/installation/installing-superset-using-docker-compose

We shoul

[2021-02-07 08:53] Junnplus commented on #14044
ping @ryanahamilton

[2021-02-07 09:40] anilkulkarni87 commented on #14111
@mik-laj  Thanks for the update. I am currently using the Ubuntu on WSL2 in Windows 10 home. I was able to get it working with some small tweaks to the original docker-compose.yaml and tried my best to make it simpler.
I was **successful** and also was able to run a test data.

I captured as much info I could and saved it in my  [repo](https://github.com/anilkulkarni87/airflow-docker).

Please rev

[2021-02-07 10:10] mik-laj commented on #14111
As for docker-compose.yaml, depending on the Airflow version, we have different files.
For Airflow 2.0.1.and newer: https://github.com/apache/airflow/blob/master/docs/apache-airflow/start/docker-compose.yaml
For Airflow 2.0.0: https://airflow.apache.org/docs/apache-airflow/2.0.0/docker-compose.yaml

The main difference is a different command in the airflow-init service.

[2021-02-07 10:12] anilkulkarni87 commented on #14111
Yes i noticed that and accommodated that change. Would like you review it and probably test in another machine. Please let me know.

[2021-02-07 16:19] dimberman commented on #7935
@ashb perhaps there is somewhere in the scheduler loop where there is a race condition? Would be interesting to see this same thread trace on 2.0.

[2021-02-07 16:25] ashb commented on #7935
Airflow doesn't use threads - so I'm not sure why there are two threads in the about trace

[2021-02-07 18:44] #13966 closed

[2021-02-07 19:50] FloChehab commented on #13643
Hello,

Regarding the terminology

I checked the chart and `extraAnnotations` is only used when there are other annotations related to prometheus that are already present (for the pgbouncer-service & the statsd-service). My position on this would be to remove such annotations related to prometheus and use the `annotations` terminology everywhere.

[2021-02-07 21:35] Overbryd commented on #13542
@kaxil first of all, sorry for my late reply. I am still active on this issue, just so you know. I have been quite busy unfortunately.

You asked whether this might be git-sync related.
I can state that it is not git-sync related.
I observed this issue with local clusters (Dags loaded using Docker volume mounts) as well as with installations that pack the code into the container.

Its a bit hard t

[2021-02-08 00:30] naturalett opened #14127 "Visibility of the installed requirements.txt file in Airflow"
**Description**

Airflow allows to install a requirements.txt file when a container is staring.
[installRequirements](https://github.com/airflow-helm/charts/blob/main/charts/airflow/values.yaml#L901)
The requirements.txt file can be [cloned](https://github.com/airflow-helm/charts/blob/main/charts/airflow/values.yaml#L958) or it will be located in DAGs folder, for example by using [PVC](https://git

[2021-02-08 00:46] potiuk commented on #14127
This helm chart is not managed by the community. We are working on our own helm chart https://github.com/apache/airflow/tree/master/chart and we plan to release it but if you want to raise the issue for the other helm charts, you need to raise it in the original project of the chart.

[2021-02-08 00:46] #14127 closed

[2021-02-08 00:51] thundergolfer opened #14128 "Circular package imports in Airflow 2.0"
**Apache Airflow version**: `2.0.0`

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): N/A

**Environment**:

- **Cloud provider or hardware configuration**: N/A
- **OS** (e.g. from /etc/os-release): OSX
- **Kernel** (e.g. `uname -a`): `Darwin Jonathons-MacBook-Pro-16-inch-2019 19.6.0 Darwin Kernel Version 19.6.0: Tue Nov 10 00:10:30 PST 2020; root:xnu-6153.141.10~1/REL

[2021-02-08 00:53] thundergolfer commented on #14128
There appears to have been related discussion of this circular deps issue here: https://github.com/apache/airflow/issues/12744#issuecomment-738027087

[2021-02-08 01:06] potiuk commented on #14128
It''s been already solved in https://github.com/apache/airflow/commit/0d214575a144356a8a83a462d6d9fb68bf4999c7#diff-ee4de59d2448e097b1d108d4d83a0d40cb3e2767c84f67a62696e62c6afa23f8R291 in master during provider package preparatin (those 4 pre-installed packges will have no dependency any more on apache-airflow to avoid the dependency).

Also we are already voting on the new provider packages (targ

[2021-02-08 01:06] #14128 closed

[2021-02-08 02:53] paolaperaza commented on #12300
(Copying a comment from @jhtimmins in a duplicate GH issue)

[2021-02-08 05:20] alexmc-ms commented on #13941
Pgbouncer is critical for cloud setups using Azure Database for Postgresql. For almost a year, my team was using 1.10.9 in a Production environment running Azure Sql Server. In order to upgrade to 1.10.14, we needed to move to Postgresql as support for Sql Server has degraded to unusable at this point. The default connection pooling to Azure Sql Server worked fine. The default connection pooling t

[2021-02-08 06:11] alexmc-ms opened #14129 "Sensors in up_for_reschedule state report "dependency Not In Retry Period" for many hours, sometimes permanently"
**Apache Airflow version**: 1.10.14. This behavior rarely occurred in 1.10.9. See below.

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): None

**Environment**: Production

- **Cloud provider or hardware configuration**: Azure
- **OS** (e.g. from /etc/os-release): Linux
- **Kernel** (e.g. `uname -a`): Debian9 with custom secure kernel
- **Install tools**:
- **Others**

[2021-02-08 08:26] nicor88 commented on #14101
@tooptoop4 Yes seems similar with AIRFLOW-6518. Point is, that with version 1.10.14 when the metastore connection was lost (and having a task retry >=1) with the 2nd or 3th retry the task was able to connect to the Metastore DB. Now, in such case the task is marked immediately as failed, without retrying at all. So for me this was fix on previous airflow versions.

[2021-02-08 08:38] grepthat commented on #13542
I'm seeing this behaviour as well. I could not reliably reproduce it, but my experience matches that of @Overbryd - especially when clearing many tasks that can run in parallel. I noticed that the indefinitely queued tasks produce an error in the scheduler log:

[code]

Looking further at the log I notice that, the task gets processed normally first, but then gets picked up again leading to the me

[2021-02-08 09:57] thundergolfer commented on #14128
Thanks for the detailed reply. I'll check those release candidates out and report back.

[2021-02-08 10:02] anilkulkarni87 commented on #12726
@casassg
Here is an example I have created and this dag implements taskgroup, taskflow with classic operators. Please take a look:
[Postgres DAG with Taskgroup and Taskflow](https://github.com/anilkulkarni87/airflow-docker/blob/master/dags/postgres_taskgroup.py)

Here is how the dependency looks like on UI:
![image](https://user-images.githubusercontent.com/10644132/107204541-a13a1c00-69b1-11eb-91

[2021-02-08 10:13] #9970 closed

[2021-02-08 11:49] brendalf commented on #13858
So we can use rich?
I would like to give a try on this, it's that ok?

[2021-02-08 11:59] lisovskey commented on #14071
@mik-laj take a look #14131 🐈

[2021-02-08 13:24] JPFrancoia commented on #14063
I hit the same bug. Some info:

Airflow: 2.0.0
Platform: Mac OS (big sure, 11.2)
Python: 3.8.6 (managed with pyenv, fresh install)

Before testing, I did a reset of my DB and my venv is brand new too.

Stacktrace:

[code]

But running my dag with python 3.7.9 works totally fine.

[2021-02-08 14:37] nttdriva opened #14134 "Airflow unsupported pickle protocol while moving from Python 3.8 to Python 3.7"
**Apache Airflow version**: 2.0.0

**Environment**: Python 3.7

**What happened**:

[code]

**How to reproduce it**:

It happened moving from Python 3.8 to Python 3.7

**Anything else we need to know**:

We are using Nomad + Docker to run Airflow, DBs used are Postgres and Redis

The issue is similar to https://github.com/apache/airflow/issues/13317, I've already tried to clear the cookies and to

[2021-02-08 16:17] nttdriva commented on #14134
Update: destroying the Postgres db seems to fix the issue. Is there a way to migrate without dropping the entire DB?

[2021-02-08 16:32] dimberman commented on #13805
@ClassyLion Awesome! Glad to help you get set up :).

So here is the documentation on getting a dev environment set up https://github.com/apache/airflow/blob/master/CONTRIBUTORS_QUICK_START.rst

Please let me know if you run into any roadbumps (would be good for me to know so I can fix them)

After that I'm glad to jump on a zoom to help or feel free to comment here and I can answer any questions

[2021-02-08 16:39] #12716 closed

[2021-02-08 17:06] casassg commented on #12726
This is good. I think the example should include using `.outputs` though (aka implicit dependencies for traditional operators).

[2021-02-08 17:54] Nnn7bb opened #14136 "DAG not found in serialized table"
I am still seeing a lot of errors in 2.0.1rc2 like

airflow.exceptions.SerializedDagNotFound: DAG 'targeting_pipeline_dappack.shard_3' not found in serialized_
dag table

Is this not part of rc2? Or is it likely a different problem?

_Originally posted by @fjmacagno in https://github.com/apache/airflow/issues/13893#issuecomment-775310886_

[2021-02-08 17:56] kaxil commented on #14134
You need to find all the Columns in all tables that store a Pickled value and clear them.

Example: clear the `dag_pickle` table, sometime even `conf` column in `dag_run` table needs to be cleared

[2021-02-08 17:56] #14134 closed

[2021-02-08 17:58] kaxil commented on #14106
Have you been using Lineage backend with 1.10.x ?

We want to make sure that it works as expected. Definitely an important topic but if we add/change something it should work :) @JPonte

[2021-02-08 18:11] JPonte commented on #14106
@kaxil Yes, I was pushing the lineage data to a custom lineage backend and it was surprising that it disappeared on 2.0. I can make a PR reintroducing it. I don't use Apache Atlas so I won't bring the AtlasBackend, only the base one.

[2021-02-08 19:22] bmfisher commented on #13755
Having the same issue

[2021-02-08 19:50] bbovenzi commented on #14115
I can take this one, if that's cool.

[2021-02-08 20:05] ashb commented on #14136
Could you try and give us reproduction steps @Nnn7bb please?

[2021-02-08 20:06] ryanahamilton commented on #14115
@bbovenzi that would be great—assigning to you!

[2021-02-08 20:07] ashb commented on #14116
Closing in favour of that issue.

[2021-02-08 20:07] #14116 closed

[2021-02-08 20:08] XD-DENG commented on #14115
Thanks @bbovenzi for your interest!

If you would like to proceed, it would be great to share how you would plan to make this change, and potential issues you can foresee. I believe @ryanahamilton , our UI guru, already has some brief ideas about these, so it would be great to discuss together.

[2021-02-08 20:10] XD-DENG commented on #14115
Ha, I just see you guys are from the same team. This issue is in good hands👍 Tip-top!

[2021-02-08 20:21] #12318 closed

[2021-02-08 20:28] Alxander64 opened #14138 "Helm Scheduler Does Not Have dags emptyDir when Persistence Disabled"
**Apache Airflow version**:

2.0.0

**What happened**:

emptyDir named "dags" was not attached to the scheduler container when git-sync is enabled and persistence is disabled.

I see the line responsible for this [here](https://github.com/apache/airflow/blob/master/chart/templates/scheduler/scheduler-deployment.yaml#L163).

Not sure if this is intentional, or if there are some other things to cons

[2021-02-08 21:43] #14071 closed

[2021-02-08 22:17] ashb commented on #10782
Fixing this properly _might_ without making _A lot_ of DB queries is hard, so this isn't a "good first issue"

This possibly falls under [AIP 36 - DAG Versioning](https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-36+DAG+Versioning) too.

[2021-02-08 23:20] thundergolfer commented on #14128
I've tested https://github.com/gvacaliuc/rules_python_airflow2 with https://pypi.org/project/apache-airflow-providers-http/1.1.0rc1 and it works.

https://pypi.org/project/apache-airflow-providers-http/1.0.0 does not work, as expected, so it looks like this issue has been addressed.

#### Bazel Detail

For `1.1.0rc1`, we can see that the dependency's `py_library` does not list deps:

[code]

For `

[2021-02-08 23:47] RNHTTR commented on #14051
I can take this on :)

[2021-02-09 00:16] potiuk commented on #14128
Thanks ! in the meantime the providers are released officially!

[2021-02-09 00:50] rmtobin opened #14143 "Quick start docker-compose.yaml file uses an invalid tag"
**Apache Airflow version**: 2.0.1

**Environment**:
- **OS** (e.g. from /etc/os-release): macOS 11.1
- **Kernel** (e.g. `uname -a`): Darwin Kernel Version 20.2.0
- **Install tools**: docker-compose

**What happened**:
Following the steps in the Quick start > Running Airflow in Docker page, I pulled down the pre-made docker-compose.yaml file (https://airflow.apache.org/docs/apache-airflow/2.0.1/doc

[2021-02-09 06:43] dhuang commented on #7935
Started seeing this for the first time ever after we upgraded from 1.10.5 to 1.10.14.

[2021-02-09 07:51] Riveryoon commented on #14143
try with tag

`apache/airflow:2.0.1rc2-python3.7`

it works for me

[2021-02-09 08:32] Khrol opened #14145 "google-cloud-automl version incompatibility in apache-airflow[google,google_auth]"
**Apache Airflow version**: 2.0.1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): -

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

Can't install `apache-airflow[google,google_auth]==2.0.1` using `pipenv`

Output:
[code]

**

[2021-02-09 09:08] rmtobin commented on #14143
@Riveryoon yes, other tags do work. However the docs should still use a working tag, especially for the intro setup. Either the docs need updating or the ‘2.0.1’ tag needs to be pushed up so the given steps work.

[2021-02-09 10:46] ashb commented on #14051
A quick fix might be just to reverse the order we build -- and run docs first then spelling check second.

[2021-02-09 10:47] jchacks commented on #12500
https://github.com/apache/airflow/blob/7d38645472b0502212504b09d85b0e1271d74274/airflow/utils/json.py#L21
That line in utils imports numpy, not sure if this is relevant.
It was causing my webserver to crash since my airflow version doesnt install numpy by default.

[2021-02-09 11:40] phlope commented on #13522
@dimberman @kaxil

We're running on 1.10.14 currently and hitting the same issue, using the cncf backport provider:
https://pypi.org/project/apache-airflow-backport-providers-cncf-kubernetes/

Does this also need updating to include the same fix?

[2021-02-09 14:04] weldpua2008 commented on #8467
Hey @potiuk ,
We are using constraint https://raw.githubusercontent.com/apache/airflow/constraints-1.10.14/constraints-3.6.txt for installation

[2021-02-09 14:28] Scuall1992 commented on #10126
Hello, can you help me? As I understood I need to develop download function in hooks/drive.py, with these signature

def download_file(self, remote_location: str, local_location: str) -> str:

I'm receiving file id and download it in local_location.

If file isn't exists then what type of exception I should raise?

[2021-02-09 16:20] dimberman commented on #13522
@phlope yes when we release the next backport provider it will also have this fix.

[2021-02-09 16:23] dimberman commented on #7911
@potiuk this is something I auto-ported from JIRA. I can leave it to @ashb @vikramkoka if we want to address it but my guess is this might be lower priority vs. other features. That said if anyone in the community wants to take this on I'd be glad to help them do it!

[2021-02-09 17:04] potiuk commented on #7911
Sure. No strong feelings about it, and - as everything in the community - it will get done if there is someone leading it :)

[2021-02-09 17:24] potiuk commented on #8467
| We are using constraint https://raw.githubusercontent.com/apache/airflow/constraints-1.10.14/constraints-3.6.txt for installation

Can you verify that you have the same version of dependencies as in the constraints? What the comparison shows when you run `pip freeze | sort` ?

[2021-02-09 18:17] morrme commented on #10186
@potiuk @kaxil @mattluudo Should this issue be closed ?

[2021-02-09 18:23] alcmontejo commented on #14143
thanks for for me as well. tnx

[2021-02-09 18:31] kaxil commented on #14143
Yes 2.0.1 will be released soon.

[2021-02-09 18:54] kaxil commented on #14143
Images pushed:

https://hub.docker.com/r/apache/airflow/tags?page=1&ordering=last_updated&name=2.0.1-python

[2021-02-09 18:54] #14143 closed

[2021-02-09 19:04] mattluudo commented on #10186
Yes, it is done.

On Tue, Feb 9, 2021, 10:17 AM morrme <notifications@github.com> wrote:

[2021-02-09 19:05] #10186 closed

[2021-02-09 19:11] hedrickw commented on #13414
@kaxil any reason we wouldn't allow conf to be an XComArg?

[2021-02-09 19:18] ryanahamilton opened #14154 "Add/enforce ESLint (JavaScript linting) in pre-commit hooks"
There is already an existing ESLint configuration and supporting `yarn lint` commands, it just needs to be integrated into pre-commit.

This will prevent errors and ensure consistent style/syntax is utilized throughout the codebase.

I made a previous attempt at resolving it several months ago in #11699. While I had it working locally, I was unable to get it executing properly in our CI environmen

[2021-02-09 21:05] kaxil commented on #13467
Fixed in 2.0.1

[2021-02-09 21:05] #13467 closed

[2021-02-09 21:05] #13263 closed

[2021-02-09 21:29] THEdavehogue opened #14159 "Airflow crashes when DAG run triggered by POST request with oversized conf"
**Apache Airflow version**: 1.10.4

**What happened**:

I recently discovered the upper limits of the Airflow experimental API when passing a conf that was too long (~100KB, very long text). I think there should be some error handling to detect when the conf in a POST request via the [API](https://airflow.apache.org/docs/apache-airflow/stable/rest-api-ref.html) is truncated.

I didn't save the err

[2021-02-09 21:40] dacort commented on #14089
This looks very similar to https://github.com/apache/airflow/issues/12969 but I think that should have been fixed in 2.0. I've run into this with 2.0 and 2.0.1rc2.

If I update the `upload_fileobj` method in the S3 hook to not use threads, everything works fine.
https://github.com/apache/airflow/blob/fdd9b6f65b608c516b8a062b058972d9a45ec9e3/airflow/providers/amazon/aws/hooks/s3.py#L644

[code]

I'

[2021-02-09 21:41] morrme commented on #14097
@rachael-ds Are you working to fix this? If not, I'd like to submit a fix.

cc: @vikramkoka @mik-laj

[2021-02-09 21:53] MaxTaggart commented on #13805
Hey, @ClassyLion I don't mean to poach this one and I would be happy to collaborate, but this is holding up our deployment so I thought I would get started. @dimberman PR #14160 adds the hardcoded `job_id`'s, but I could use some guidance on how best to add test coverage. i.e. I'm still getting familiar with the testing landscape and I'm not sure if it would make more sense to add tests to an exis

[2021-02-09 21:53] potiuk commented on #14145
We do not have support for pipenv. The official way to install airflow is with `pip` and --constraint files. If you find a way to make pipenv respect the cosnstraint files you are most welcome to contribute documentation on installation page using using pipenv.  I'd love to get that in, so happy to review it.

[2021-02-09 21:53] #14145 closed

[2021-02-09 21:54] potiuk commented on #14145
also see the comments http://airflow.apache.org/docs/apache-airflow/stable/installation.html#installation-tools  where we describe hte instllation tools.

[2021-02-09 22:05] ClassyLion commented on #13805
Hey, @MaxTaggart. I understand how it is. I managed to fully setup the dev environment on my side and made some attempts at hardcoding the values, but it didn't work for me. Also, dayjob takes requires attention as well, resulting in me not being able dedicate as much time as I would want to.

[2021-02-09 23:47] dimberman commented on #13805
Thank you @MaxTaggart.

Here is a test that should work for the BackFillJob

[code]

and here is one that should work for test_views.py
[code]

Please let me know if those work as expected.

@ClassyLion Sorry this one didn't work out but now that you're set up if you wanna pick any of the "first issue" tagged issues for the project I'm still glad to help you get a commit in :)

[2021-02-09 23:53] mattforbes-gr commented on #11901
I believe this is still an issue with serialized dags. We are dynamically generating dags and had to resort to randomizing our dag py file name to force stale serialized dags to be deleted.

[2021-02-09 23:57] sakaia opened #14161 "Cannot use specific python module on KubernetesExecutor."
**Apache Airflow version**:

1.10.14

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

1.18.5

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):Ubuntu 18.04.5 LTS
- **Kernel** (e.g. `uname -a`):Linux sakaia 4.15.0-128-generic #131-Ubuntu SMP Wed Dec 9 06:57:35 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
- **Install too

[2021-02-10 00:23] gdevanla commented on #13799
Thanks, @kaxil .  That `update` statement has resolved the problem for me.

[2021-02-10 00:25] MaxTaggart commented on #13805
@dimberman Thanks for those tests, they are passing now and I pushed a new commit to that PR that includes them. Just out of curiosity, do we not need to create a unique `job_id` for each backfill/manual job? (Instead of hardcoding a constant)

[2021-02-10 01:12] gschwim opened #14162 "Example tutorial_taskflow_api_etl crashes w/ AttributeError: Can't pickle local object"
**Apache Airflow version**: from the docker-compose file in the tutorial, image apache/airflow:master-python3.8 and apache/airflow:master-python3.7

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): n/a

**Environment**:

- **Cloud provider or hardware configuration**: Bare metal server in lab, AMD threadripper, 64GB ram
- **OS** (e.g. from /etc/os-release): Ubuntu 18.0

[2021-02-10 02:47] eldernewborn commented on #13467
Thank you @kaxil  :) .
-Ali

[2021-02-10 04:13] gdevanla opened #14163 "TypeError: object of type 'map' has no len(): When celery executor multi-processes to get Task Instances"
**Apache Airflow version**:
2.0.1

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):  "18.04.1 LTS (Bionic Beaver)"

- **Kernel** (e.g. `uname -a`): 4.15.0-130-generic #134-Ubuntu
- **Install tools**:
- **Others**:

**What happened**:

I observe the following exception,  in the scheduler intermittently:

[code]

**What you expected to happen**:

[2021-02-10 06:25] Narendra-Neerukonda opened #14166 "Defunct processes are not getting cleared by DagFileProcessorManager"
<details>
<summary>output of ps -elf</summary>
F S UID PID PPID C PRI NI ADDR SZ WCHAN STIME TTY TIME CMD

4 S airflow 1 0 0 80 0 - 2921 do_wai 05:08 ? 00:00:00 sh /airflow/start-airflow.sh

4 S airflow 8 1 1 80 0 - 122377 poll_s 05:08 ? 00:02:08 /opt/conda/envs/airflow_app/bin/python
/opt/conda/envs/airflow_app/bin/airflow scheduler

5 S airflow 19 8 2 80 0 - 288560 futex_ 05:08 ? 00:03:00 /opt/c

[2021-02-10 07:23] jpyen opened #14167 "KubernetesPodOperator Pods no unique names"
**Apache Airflow version**: 2.0.1

**Kubernetes version**: 1.18

**What happened**:

Tasks launched as pods inside a k8s cluster will not have unique names, if a pod_template is used.

**What you expected to happen**:

Tasks launched by KubernetesPodOperator should have unique pod-names. This works for tasks solely defined by the KubernetesPodOperator object. However, this does not apply when a 'p

[2021-02-10 09:12] getElementsByName commented on #13967
@potiuk
### Problem
- (airflow) The `airflow-xcom-sidecar` container waits a SIGINT signal by `trap "exit 0" INT;`.
- (airflow) The pod launcher in the airflow package stops the sidecar's main processor by `kill -s SIGINT 1`
- (k8s) The PID1 process can be a init process made by a container runtime like the docker.
   - In the top example. The sidecar's main process is not PID 1.
- In the top exam

[2021-02-10 09:17] rachael-ds commented on #14097
I haven't started on this - please go ahead thank you!

[2021-02-10 09:19] HaloKo4 opened #14168 "add InfluxdbHook"
**Description**
https://www.influxdata.com/
Add the ability to query and modify Influxdb from airflow.

Python wrapper that can be used to create the hook :
https://github.com/influxdata/influxdb-python

There are some usage examples in https://github.com/influxdata/influxdb-python/tree/master/examples
would be nice if the hook would support the following:
create_database
query
drop_database
write

[2021-02-10 11:29] Dr-Denzy commented on #14168
@HaloKo4 It will be really nice to have this feature.
What do you think? @kaxil @ashb

[2021-02-10 11:32] ashb commented on #14168
Sure yeah would be nice. Someone will need to open a PR though :)

[2021-02-10 11:52] ashb commented on #13414
@hedrickw That can _probably_ be done, yes, just a little bit more invovled a fix.

It would be nice though, I agree.

[2021-02-10 11:56] Scuall1992 commented on #10126
Also I found the difference between downloading Google Doc files and others https://developers.google.com/drive/api/v3/manage-downloads

What we need in this issue?

[2021-02-10 12:00] ashb commented on #14159
Whoops!

The post request gave a 200 I assume?

[2021-02-10 12:03] ashb commented on #11901
No, still remains to be fixed.

[2021-02-10 12:05] ashb commented on #13799
@kaxil Do we have any idea how this might have possibly happened? Bad/race-y previous migration?

[2021-02-10 12:06] #13989 closed

[2021-02-10 12:07] Dr-Denzy commented on #14168
I can give it a go.

[2021-02-10 12:11] kaxil commented on #13799
Yeah I do, this is caused by the PR that added feature to use more than 1 slot for a task. It didn't use migration. I will fix that for 2.0.2.

Creating a PR shortly

[2021-02-10 12:16] kaxil commented on #13971
Yes that is true @jhtimmins . If the config is already there the user needs to update to `Lax` which is the current default.

We could actually add a check to make it easier. Let me see if I can reproduce this with a 1.10.x config

[2021-02-10 12:17] kaxil commented on #13858
closed by https://github.com/apache/airflow/pull/14139

[2021-02-10 12:17] #13858 closed

[2021-02-10 12:18] kaxil commented on #13811
@sudarshan2906 Did it work?

[2021-02-10 12:40] kaxil commented on #14162
Can you take a look at this please @Dr-Denzy

[2021-02-10 12:41] Dr-Denzy commented on #14162
I am already on it.

[2021-02-10 13:23] ephraimbuddy commented on #14111
Experiencing the same issue in ubuntu. And for 2.0.1 compose file, the default image tag is not complete:
https://github.com/apache/airflow/blob/beb8af5ac6c438c29e2c186145115fb1334a3735/docs/apache-airflow/start/docker-compose.yaml#L42
Should be `airflow:2.0.1-python3.8`

[2021-02-10 13:49] hedrickw commented on #13414
@ashb Ya it currently works in 2.0.0 if your XComArg output is a Dict, I have a pipeline setup that uses this functionality so I might just write my own version of the TriggerDagRun Operator for now since i needed some of the bug fixes from 2.0.1

[2021-02-10 13:52] kaxil commented on #13414
Currently, we don't support it as we need to de-serialize it for Webserver and show it in the UI in List DagRun page. Needs a bigger change to support other objects that are not JSON serializable atm

[2021-02-10 14:12] tooptoop4 opened #14171 "'airflow tasks clear' cli command gives error when using --yes or --no_confirm"
v1.10.14

attempt 1:

[code]
[code]

attempt 2:

[code]
[code]

[2021-02-10 14:15] THEdavehogue commented on #14159
exactly this. 200 response, DAG run created but sql errors due to truncation.

[2021-02-10 14:24] Gabriel39 opened #14172 "Support utf8mb4 character set better for mysql"
**Description**

Although the utf8mb4 character set is more and more popular for MySQL (actually, utf8mb4 becomes default character set already) and maybe [utf8mb3 will be removed in future](https://dev.mysql.com/doc/refman/8.0/en/charset-unicode-utf8mb3.html), there are still some problems in current Airflow.
So if you use utf8mb4 as character set, you should set `sql_engine_collation_for_ids=utf

[2021-02-10 15:26] ashb commented on #14044
A better fix for this would instead be if we allowed more (read any characters apart from whitespace!) in DAG and task_ids, no?

[2021-02-10 15:40] potiuk commented on #14172
We are not going to do anything about it until MySQL releases a new version. Similarly as in 5.6->5.7 they are likely to increase maximum index size and if they do, the problem will be resolved without any action from our side. This is the plan.

[2021-02-10 15:40] #14172 closed

[2021-02-10 15:55] edikmkoyan opened #14175 "ERROR - Unknown error in KubernetesJobWatcher. Failing"
I have an AKS deployed airflow v2.0.0 with a Kubernetes Executor enabled and the KubernetesJobWatcher is failing periodically.

**Apache Airflow version**: 2.0.0

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
% kc version
Client Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.0", GitCommit:"af46c47ce925f4c4ad5cc8d1fca46c7b77d13b38", GitTreeState:"clea

[2021-02-10 16:04] dimberman commented on #13805
@MaxTaggart the job_id is mostly to identify which scheduler launched the job. With how Scheduler HA works in 2.0, once the tasks launches, the other schedulers should be able to adopt the orphan task. No unique names needed :)

[2021-02-10 16:05] dimberman commented on #13805
@MaxTaggart you might need to rebase from master to get tests passing

[2021-02-10 16:15] bmfisher commented on #12728
@dimberman @m0bi5
I'm seeing the same error.  I strongly suspect its due to this line https://github.com/apache/airflow/blob/master/airflow/kubernetes/pod_launcher.py#L168
Reading the log line splits on `' '` and the timestamps in my logs as well as yours are similar to `[2020-12-01 01:42:53,699]` containing a space.  I've seen other k8s logs with the begging of the line looking like `2021-02-09T2

[2021-02-10 16:15] turbaszek commented on #13971
@kaxil I can confirm that setting `Lax` solved the issue (sorry for late response)

[2021-02-10 16:27] tooptoop4 commented on #14171
command with --yes works after changing line 867 to confirm_prompt=not args.yes,

[2021-02-10 17:08] whiterook6 commented on #14143
To be clear to anyone else finding this, I had to replace this line in the quickstart docker compose:
`  image: ${AIRFLOW_IMAGE_NAME:-apache/airflow:2.0.1}`
with this line:
`  image: ${AIRFLOW_IMAGE_NAME:-apache/airflow:2.0.1-python3.8}`
and run `docker-compose up airflow-init` again.

[2021-02-10 17:21] m0bi5 commented on #12728
@bmfisher Please take this issue up. I am currently busy with a lot of other projects and am unable to work on this.

[2021-02-10 17:56] DerekHeldtWerle opened #14178 "Split out Airflow Configmap (webserver_config.py)"
**Description**

Although the changes to FAB that include the [syncing of roles on login](https://github.com/dpgaspar/Flask-AppBuilder/commit/dbe1eded6369c199b777836eb08d829ba37634d7) hasn't been officially released, I'm proposing that we make some changes to the [airflow configmap](https://github.com/apache/airflow/blob/master/chart/templates/configmaps/configmap.yaml) in preparation for it.

Cur

[2021-02-10 18:13] dimberman commented on #12728
@bmfisher would you be interesting making a PR for this? Would be glad to help you get set up/PR this.

[2021-02-10 18:33] potiuk commented on #14143
FYI. Changing the image name should not be needed any more.

The airflow:2.0.1 tag now points to : `apache/airflow:2.0.1-python3.6`  so it should work. Python 3.6 is our 'default' python version so the "generic" tag should point to it now.

[2021-02-10 18:36] kaxil commented on #14143
and `apache/airflow:latest` should work too

[2021-02-10 18:38] bmfisher commented on #12728
@dimberman I would be interested in helping out.  Unfortunately I am much less confident that I found the actual bug than I was a couple hours ago.  I did a little local testing with pendulum and realized that the string getting passed is definitely `'failed'` and not a partial timestamp like `'[2020-12-01'`.  Along with seeing that `timestamps=True` is set properly, I think the issue must be a li

[2021-02-10 18:53] mfjackson commented on #13579
Sorry for the delayed response!

@kaxil when I clear the task instance state and allow the scheduler to pick up the task instance again it runs just fine.

@dimberman I am setting `is_delete_operator_pod` as `false` in my KPOs. When clearing the task instance and allowing the scheduler to pick up the task again, everything works as expected. It was only when I clicked "Run" immediately after clear

[2021-02-10 20:16] ephraimbuddy commented on #14171
Yeah, no_confirm is no longer in the command list for tasks clear. Do you want to contribute a fix that would make both `no_confirm` and `yes` to work or should I do it?

[2021-02-10 20:22] gaurav1008 opened #14181 "Infinite redirects when logged in with user which doesn't have any roles"
Airflow version: 1.10.10, 1.10.14 and 2.0.0

From command line we create a user with Admin role. (lets called it "admin")
Logged in with same user ("admin" )from Airflow UI and created a new user without any role. (lets call it "test").
Airflow screens allows it.

Now we logged out from current "admin" user and logged in with new user "test".

The screen gets into infinite redirections.

Please re

[2021-02-10 20:25] #12691 closed

[2021-02-10 20:25] XD-DENG commented on #12691
Thanks @jyotidhiman0610 . I have merged your PR and marked it for version 2.1

[2021-02-10 20:30] tooptoop4 commented on #14171
can u pls @ephraimbuddy

[2021-02-10 20:53] bbovenzi commented on #13242
It does seem like the Tree View is working as intended. It's just that a tree diagram isn't the best way to represent all types of DAGs.

I think we would need to add the ability for nodes in the tree to merge back together. Like so:
<img width="419" alt="Screen Shot 2021-02-10 at 1 39 55 PM" src="https://user-images.githubusercontent.com/4600967/107569427-e75bcf00-6bad-11eb-8fc6-3d39d5643a3c.png"

[2021-02-10 21:29] newhardwarefound commented on #13916
We also have this problem. Additionally, DAG Pods receive SIGTERM and got killed after 30 minutes.

[2021-02-10 21:36] fjmacagno opened #14182 "Scheduler dies if executor_config isnt passed a dict when using K8s executor"
**Apache Airflow version**: 2.0.1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.15

**Environment**:

- **Cloud provider or hardware configuration**: k8s on bare metal
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**: pip3
- **Others**:

**What happened**:
Scheduler dies with
[code]

**What you expected to happen**:
DAG lo

[2021-02-10 23:33] kaxil commented on #13971
https://github.com/apache/airflow/pull/14183 should take care of this for users migrating from 1.10.x to 2.0.x with same config

[2021-02-10 23:47] anilkulkarni87 commented on #14111
@mik-laj Where can i find the code that does airflow-init? Setting `_AIRFLOW_DB_UPGRADE: 'true'` What does it do?
[code]

[2021-02-11 00:20] #13971 closed

[2021-02-11 01:17] RNHTTR commented on #10126
Note that the GoogleDriveHook inherits from the [GoogleBaseHook](https://airflow.apache.org/docs/apache-airflow-providers-google/stable/_modules/airflow/providers/google/common/hooks/base_google.html#GoogleBaseHook), which has the method `download_content_from_request`. You can use this method to write data to a file handle, e.g. a `BytesIO` object. You can then write the contents of that object t

[2021-02-11 01:29] RNHTTR commented on #14051
I don't think so. If someone ran with the `--spellcheck-only` flag, they'd still get the error

[2021-02-11 02:26] mik-laj commented on #14111
@anilkulkarni87 see: https://github.com/apache/airflow/pull/13728/files
I am not a big fan of it, but such features was added so I started using it.

[2021-02-11 07:59] anilkulkarni87 commented on #14111
@mik-laj  I think we could close this. I just tried the latest docker-compose on windows (WSL2 - Ubuntu) It works as expected. No issues at all.

[2021-02-11 08:03] grepthat commented on #12089
duplicate of https://github.com/apache/airflow/issues/13542 ? Are you still seeing this in Airflow 2.0 ?

[2021-02-11 08:16] potiuk commented on #14111
Closing. BTW. Those _* is evaluated and executed in entrypoint and it is pretty obscure feature indeed (hence _* convention). Actually there is no need to use it in the docker-compose of ours - we could as easily use commands to run.

The main reason it is there is for cases where we want to run the production image standalone and make sure that when you enter the image, the database is initialize

[2021-02-11 08:16] #14111 closed

[2021-02-11 08:49] gioruss commented on #14089
I can confirm that the same behaviour also occurs with python 3.6.
If I log in to a worker pod and use S3Hook from the python console, it works fine.

[2021-02-11 09:12] gioruss commented on #14089
I tried to apply the fix suggested by @dacort (update the S3 hook to not use threads): the worker pod terminates instead of keeps waiting and the log files are correctly pushed to S3.

[2021-02-11 09:44] EricBoix opened #14189 "Unable to run the docker-example_dags (Pypi install on airflow 2.0.1)"
**Apache Airflow version**: 2.0.1
**Kubernetes version** : not used
**Environment**: docker engine 20.10.0 (provided by docker-desktop 3.0.1, installed with `brew cask install docker` and then accepting the docker-desktop GUI proposal to upgrade to 3.0.1).

- **Cloud provider or hardware configuration**: MacBook Pro
- **OS** : OSX 10.14.6 (Mojave)
- **Kernel**: ("airflow info" reports) system='Dar

[2021-02-11 10:29] ashb commented on #14051
Improving the message is good, but reversing _also_ helps if people just let CI run the docs build.

[2021-02-11 13:59] #13985 closed

[2021-02-11 14:19] wikitops commented on #13469
I saw the new 2.x version has the fix. Will there be a fix for version 1.10 ?

[2021-02-11 14:33] dimonchik-suvorov opened #14192 "Rendered templates not properly formatted"
The case is when Airflow preparing a `Rendered Template` view it uses Jinja and Jinja uses a simple `pprint` which returns an ugly result surrounded by redundant single/double quotes in case it can't found and import `pretty` module.

<details>
<summary>Example of how it could be displayed</summary>
<p>

[code]
</p>
</details>

The line of Airflow code where it uses Jinja formatting - [views.py#L9

[2021-02-11 14:39] RNHTTR commented on #14051
Yep, you're right. Ok, I'll update the spelling error message and reverse the build order -- docs first then spelling.

[2021-02-11 15:20] isabo-lululemon commented on #8907
hey @danielnazareth89. i tried the method you've proposed but unfortunately the webserver pods won't even come up if i add that property. do you have any other ideas on how I could improve the speed of the Airflow UI? thanks!

[2021-02-11 15:53] sherifabdlnaby opened #14194 "Host Airflow's helm chart on ArtifactHub or any Helm charts registry."
**Description**

Host the helm chart in `/chart` directory on artifacthub or any helm registry.

**Use case / motivation**

I want to be able to install this helm chart from a helm repository instead of having to maintain a private repo that I manually sync with the upstream.

**Are you willing to submit a PR?**

I can create a PR to generate a helm chart repo using Github Pages, but this is not i

[2021-02-11 16:10] MaxTaggart commented on #13805
@dimberman It looks like PR #14160  is getting hung up on a language check that doesn't like "WhiteListRoundRobin" from the cassandra hook in `airflow/providers/apache/cassandra/hooks/cassandra.py`. What's weird is that the file should be excluded from that check since it is in the exclude list in `.pre-commit-config.yaml:317`:

[code]

Any ideas?

[2021-02-11 16:11] johnjeffers opened #14195 "Airflow image on Docker Hub is tagged 2.0.1 but appears to be 2.0.1rc2"
**Apache Airflow version**:
2.0.1

**Environment**:
Docker

**What happened**:
The image on Docker Hub that is tagged `2.0.1` appears to be `2.0.1rc2`:

[code]

**What you expected to happen**:

`airflow version` returns `2.0.1`

**How to reproduce it**:
[code]

[2021-02-11 16:36] akotlar commented on #13242
Agreed, this should be a feature request.

[2021-02-11 16:44] ashb commented on #13805
@MaxTaggart It is complaining about the `tags` file you added, not cassandra.py itself. You probably didn't mean to commit the tags file anyway :)

[2021-02-11 16:46] kaxil commented on #13469
Will Backport https://github.com/apache/airflow/pull/13518 to 1.10.15

[2021-02-11 16:46] melle2 commented on #11085
I now verified the scenario above with released Airflow version 2.0.0. It seems like that everything is fixed and logs are displayed out of the box in Airflow.
The only thing what is missing is the output of `end_of_log_mark = end_of_log`. Without that, the "Log view" for a task is still waiting for further log entries. When I manually add

`curl -X POST -H 'Content-Type: application/json' -i 'htt

[2021-02-11 16:46] MaxTaggart commented on #13805
Aha, good call, I did not. Embarassing...

[2021-02-11 17:33] naturalett opened #14198 "Display all installed python packages in Airflow ui"
**Description**

It would be very useful to display all installed python packages in Airflow UI.

**Use case / motivation**

Not all users have an access to the Infra. Therefore it will be useful for them to check the installed python packages through the UI.

**Are you willing to submit a PR?**

Yes.

**Related Issues**

No.

[2021-02-11 18:06] potiuk commented on #14195
Will fix it shortly (weekend likely)

[2021-02-11 18:09] potiuk commented on #14194
Closing as duplicate of #10523

[2021-02-11 18:09] #14194 closed

[2021-02-11 18:52] kaxil commented on #14198
I don't think we would add this feature. Generally, it should be managed by the INFRA team and published in internal docs. This is what we used to do in last 2 jobs

[2021-02-11 19:05] kaxil commented on #14189
Try using the old version of Docker provider and if it works:

https://airflow.apache.org/docs/apache-airflow-providers-docker/stable/index.html#id1

[code]

[2021-02-11 19:31] kaxil opened #14200 "Update Best practises doc"
Update https://airflow.apache.org/docs/apache-airflow/stable/best-practices.html#variables to use Secret Backend (especially Environment Variables) as it asks user not to use Variable in top level

[2021-02-11 20:11] ashb commented on #13967
This is indeed caused by `shareProcessNamespace`. Why/how are you setting that?

[2021-02-11 20:15] ashb commented on #11707
Connections and Variables can now come form secrets manager, which is better placed to handle this than baking them in to the chart.

Pools make sense.

[2021-02-11 20:40] bmfisher commented on #12728
@m0bi5 I have narrowed the race condition to within the `if get_logs:` code path in `monitor_pod`.  https://github.com/apache/airflow/blob/master/airflow/kubernetes/pod_launcher.py#L128
I was able to set `get_logs=False` in my `KubernetesPodOperator` and run without experiencing these issues.  Luckily, I have a remote logging setup with Filebeat and Elasticsearch so I can get by without the `get_l

[2021-02-11 21:30] kaxil commented on #10752
**Next Steps**:

- [ ] Finalize Versioning Strategy
- [ ] Review Current Test Coverage
- [ ] Review Architecture
- [ ] Publish Snapshot
- [ ] Release first version on official destination (https://dist.apache.org/repos/dist/release/airflow/)
- [ ] Publish it on community hubs

I will start creating issues for each point

[2021-02-11 21:36] kaxil commented on #10752
@dnskr Can you start looking at tests and add where they are missing, that would be a great help

[2021-02-11 21:46] thesuperzapper commented on #10752
Just my 2c, but I also think there is a significant amount of documentation lacking which will make a bad first experience with the chart:
- the `values.yaml` file is missing comments for most values
- more general explanations are pretty sparse (it seems we currently only have short paragraphs in the README)
- examples for common environments are missing (GKE, EKS, On-Prem)

Related to this (and

[2021-02-11 21:59] kaxil commented on #10752
Good points @thesuperzapper - I added a point to review and add lacking documentation (we can expand on the details after we create issues for each of those points).

[2021-02-11 22:00] MaxTaggart commented on #13805
Alright @dimberman or @ashb, I need to raise the flag again. The CI/CD is now failing in two spots. I can't find any error messages and I tried re-running it after catching up with `master` but it still isn't passing. These are the checks that are failing:

1. MySQL8, Py3.6: Always Core Other API CLI Providers WWW Integration Heisentests
2. MySQL8, Py3.8: Always Core Other API CLI Providers WWW In

[2021-02-11 22:17] ashb commented on #13805
I'll take a look in my morning.

[2021-02-12 06:56] alanwu4321 opened #14202 "Scheduler in helm chart cannot access DAG with git sync"
**Apache Airflow version**:
2.0.1

**What happened**:

When dags `git-sync` is `true` and `persistent` is `false`, `airflow dags list` returns nothing and the `DAGS Folder` is empty

**What you expected to happen**:

Scheduler container should still have a volumeMount to read the volume `dags` populated by the `git-sync` container

**How to reproduce it**:
[code]
Scheduler cannot access git-sync D

[2021-02-12 07:51] EricBoix commented on #14189
Thanks @kaxil. I thus successfully installed apache-airflow-providers-docker-1.0.0 (that uninstalls version 1.0.1) while restoring docker version 3.7.3 (which is the version pinned by the CONSTRAINT_URL).

Alas I still get the same error message
[code]

[2021-02-12 10:18] antontimenko opened #14205 "Scheduler "deadlocks" itself when max_active_runs_per_dag is reached by up_for_retry tasks"
**Apache Airflow version**: 2.0.1

**What happened**:

Let's say we have `max_active_runs_per_dag = 2` in config. Now we manually trigger, for example, 10 DAG runs for some specific DAG. In the DAG there are some tasks, that should be retried on fail with some interval.

The issue is when at least 2 DAG runs have tasks inside that are failed, moved to up_for_retry state, and waiting to be reschedu

[2021-02-12 11:13] MatteoMart1994 commented on #8541
Is there any update on this issue? Still experiencing with composer-1.10.4-airflow-1.10.6 version

[2021-02-12 13:05] edikmkoyan commented on #14202
I deployed the branch with the fix, and it indeed fixed the things.

[2021-02-12 13:12] ngreen-ny commented on #8967
Still seeing this issue come up:

+ airflow db init
/usr/local/lib/python3.6/site-packages/airflow/configuration.py:336 DeprecationWarning: The logging_level option in [core] has been moved to the logging_level option in [logging] - the old setting has been used, but please update your config.
/usr/local/lib/python3.6/site-packages/airflow/configuration.py:336 DeprecationWarning: The base_log_fold

[2021-02-12 15:57] gertnerbot opened #14208 "Python 3.8 - Sqlite3 version error"
python 3.8 centos 7 Docker image

Can't update sqlite3.  Tried Airflow 2.0.1 and 2.0.0.  Same issue on Python 3.6 with Airflow 2.0.0.  I was able to force the install on 2.0.0 but when running a task it failed because of the sqlite3 version mismatch.

Am I just stupid?  #13496

 #```
(app-root) airflow db init
Traceback (most recent call last):
  File "/opt/app-root/bin/airflow", line 5, in <modul

[2021-02-12 16:18] ashb commented on #14208
This is the version of the system sqlite library, not the python bindings.

I.e. `brew upgrade sqlite` or similar.

A PR to make that error message clearer would be happily merged.

[2021-02-12 17:13] ryanahamilton commented on #14198
@naturalett can you expand more on the motivation? What specific activities would this information help make easier for you?

[2021-02-12 18:07] potiuk commented on #14198
I agree with @kaxil. This is a deployment related stuff not Airflow User's interest in the first glance. But maybe you can explain the use cases where real users might need it in the UI?

[2021-02-12 18:27] MatteoMart1994 commented on #7929
@dimberman has the issue been moved somewhere else or has the bug been resolved by a PR?

[2021-02-12 18:41] potiuk commented on #14208
I've added a bit clearer documentation about it in #14209, added troubleshooting section (most likely you have an older version of sqlite library that airflow uses, and it is different than in case of your local "python" execution (LD_LIBRARY_PATH likely is a problem) . You need to remove older version of the libraries you have in your system (or better - upgrade your OS to something a bit "newer"

[2021-02-12 18:50] #14046 closed

[2021-02-12 18:50] ccage-simp opened #14211 "constraints-1.10.11/constraints-2.7.txt has pandas==0.25.3 but python 2.7 support ends at pandas==0.24.2"
**Apache Airflow version**: 1.10.11

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): N/A

**Environment**: Running command on macos.

**What happened**:

I am trying to build a production-like image for our environment using following command:

[code]

However, I get the following error which seems to be due to pandas==0.25.3 though pandas==0.24.2 I think is the last

[2021-02-12 19:01] potiuk commented on #14211
Are you sure you want to use python 2.7 ;) ?

On a more serious note, I will take a look tomorrow and fix it manually.

[2021-02-12 19:07] ccage-simp commented on #14211
Thank you for your response, Jarek.
Agree. This is an effort to test our python3 compatibility branch.
Yes, we need to get to python3 so that we can be ready to upgrade to AF 2.0.

[2021-02-12 19:17] potiuk commented on #14211
For now as a workaround you can simply download the file locally and modify it manually and use it from there. If you find other problems with it - please let me know.

[2021-02-12 20:06] ccage-simp commented on #14211
Probably a stupid question, but I haven't figure out how to do that. I was thinking the breeze code is pulling constraints from a URL and haven't noticed a command option to supply a constraints file to breeze command.

Thanks for the workaround idea. That would be great.

[2021-02-12 20:14] #14097 closed

[2021-02-12 22:13] davidshay opened #14217 "AWS GlueHook does not pass Region name to superclass constructor"
https://github.com/apache/airflow/blob/e3bcaa3ba351234effe52ad380345c4e39003fcb/airflow/providers/amazon/aws/hooks/glue.py#L77

[2021-02-12 22:17] potiuk commented on #14211
just download it as a file and use it in  `--constraint`. for example: `--constraint ./constraints-python3.6.txt`

[2021-02-12 23:18] ccage-simp commented on #14211
Ah, embarrassed to say I realized that I didn't have latest of master branch so did not have the constraint option yet. Thank you!

Now it starts OK except for strange error about date option:
[code]

but ends with :```
DEPRECATION: Python 2.7 reached the end of its life on January 1st, 2020. Please upgrade your Python as Python 2.7 is no longer maintained. pip 21.0 will drop support for Python 2.

[2021-02-12 23:46] #14051 closed

[2021-02-13 00:05] naturalett commented on #14198
For instance, we hold multiple Airflow environments in our infrastructure. Each team in the company has its own way of usage in term of DAGs/Plugins (deployment).

Data team sometimes develop a DAG/Plugin that has some dependencies on the installed packages.

Data team as my main customer has to know about these dependencies for their development needs.

Moreover, when I launch Airflow I can choos

[2021-02-13 02:06] teastburn commented on #8907
@isabo-lululemon you may need to install gevent if you didn't already `pip install gevent`

[2021-02-13 03:28] ccage-simp commented on #14211
I am confused why I need this constraints file to install all these packages that we don't use in our production airflow instance. Maybe I should be starting with empty constraints? Or creating our own requirements.txt for packages we actually install in our prod airflow...

[2021-02-13 04:18] ccage-simp commented on #14211
OK it seems like a little problem with
`scripts/docker/install_airflow_from_latest_master.sh` and `scripts/docker/install_airflow.sh` having different working path context and yet both try to use relative constraints path. I guess I'll have to modify the scripts for now.

[2021-02-13 08:41] potiuk commented on #14211
Constraints are not requirements. They are simply hint to PIP. They basicaly mean "if you are installing this package, then use this version". No more no less. So it's good to have constraint with ALL possible packages. But then you install only what you need.

Yeah. That was exactly supposed to be like this.

Would be great if you contribute those changes back :). happy to review them :)

[2021-02-13 17:46] #14208 closed

[2021-02-13 18:21] potiuk commented on #14104
I checked that according to specification password-less entry (with no ':') is also a valid URL so we should adapt. I fixed the regexp to handle all cases including that one. See #14221

[2021-02-13 22:53] iainwo opened #14222 "Scheduler Logging Unimplemented in Helm Chart with Airflow V2 & SequentialExecutor (serve_log)"
## Problem
The helm chart does not implement a way for SequentialExecutor Airflow 2 deployments to serve logs; without using elasticsearch.

## Details
Prior implementations utilize the CLI function `serve_logs`. This function has been deprecated as of v2.

In `airflow/templates/scheduler/scheduler-deployment.yaml`:
[code]

This will cause the helm deployment to break; and the scheduler will perpe

[2021-02-13 23:43] samuelkhtu commented on #11128
@akocukcu just wondering how's going with the SqlToS3Operator?

[2021-02-14 07:45] jhtimmins commented on #14181
@gaurav1008 I believe this was fixed in 2.0.1. Can you verify whether you're still seeing this issue?

[2021-02-14 07:47] jhtimmins commented on #14217
@davidshay Thanks for bringing this up. Would you like to contribute the patch or would you like me to?

[2021-02-14 08:12] #14104 closed

[2021-02-14 08:18] davidshay commented on #14217
Hello,

I'd have no problem with providing the fix itself, but I don't know how
much work would the whole patch process entails, since I never made any. Is
it long?

Regards,
David

On Sun, Feb 14, 2021, 8:48 AM James Timmins <notifications@github.com>
wrote:

[2021-02-14 10:30] ashb commented on #14198
I think this can help debug lots of situations, especially when airflow users don't have shell access to airflow servers.

Conditions on enabling/accepting this:

1) by default it should only be available to admin users (potential information exposure could be a security risk)
2) this should also be added to the REST API

[2021-02-14 11:47] sherifabdlnaby commented on #10523
@potiuk
Is there are any updates on this?
For someone who is going to use Airflow on Kubernetes, should I go with the `airflow/chart` ? or with `stable/chart`? The only problem with `airflow/chart` that it is not released somewhere and I'll have to push it to my own registry and maintain syncing it with the mainstream. also, it will also use Airflow's release tags that are not necessary changes to

[2021-02-14 11:49] mik-laj commented on #14222
Related: https://github.com/apache/airflow/issues/13331

[2021-02-14 13:13] thesuperzapper commented on #10523
I am still maintaining the `stable/airflow` chart, its new home is:
https://github.com/airflow-helm/charts/tree/main/charts/airflow

I will probably keep maintaining `stable/airflow` until most users migrate to the offical chart, (but that is unlikely to happen until the official chart releases, has feature parity, improves its docs, and has been around for a while).

_BTW: I will be releasing Air

[2021-02-14 13:42] jonasrla commented on #13934
Hello, I'm back looking into this. The tests just failed with my modification.
I'm shouting out so our work don't clash.

[2021-02-14 15:06] jonasrla commented on #13934
Hey guys,

I'm considering now which way should we encode our nested objects.

So looked up online and this issue and found [this discussion in angular project](https://github.com/angular/angular/issues/24868#issuecomment-409667751)

So I suggest noting our nested object like

[code]
as
`extra1[nested_extra1]=a%20value&extra2=other%20value`

Extreme cases like
[code]
would look like `a[b]=1&a[c][d

[2021-02-14 16:37] sherifabdlnaby commented on #10523
@thesuperzapper

This issue raised a concern in my team that eventually `airflow/chart` is going to be the official and supported chart from now on, and that `stable/airflow` is eventually gonna be deprecated. So we wanted to start with `airflow/chart` initially to avoid having to migrate.

We initially experimented with `stable/airflow` but for some reason, it didn't work "out of the box" in our

[2021-02-14 17:35] sstoefe commented on #13675
The `auto_remove` bug is fixed in #13852

[2021-02-14 18:23] potiuk commented on #10523
I think at the last dev call we discussed that we need to put some work to get it finished. There is a planning on what needs to be done and several issues created and I think very soon some real work will start to speed it up. Just follow the dev calls and announcements :)

[2021-02-14 19:09] potiuk opened #14228 "(Likely) left-overs from previous build are breaking the build in self-hosted runeers"
I started to experience strange errors when building documentation And I have a reason to believe this is because of left-overs from previous builds on the self hosted machines. For example looks like somewhere in the generated classes there is a get_info class used which normally is only generated (in different directory) during provider packages preparation.

I think this is the manifestation of

[2021-02-14 19:50] debugger22 opened #14229 "Airflow installation suddenly stopped working few hours back"
Python version: 3.6
pip version: 21.0.1 (Also tried with older version as written in doc)
os: Ubuntu 18.04

[code]

[2021-02-14 19:53] debugger22 commented on #14229
Sorry, the template was very big for such a simple behaviour. I can provide more information if asked.

[2021-02-14 19:59] mpolatcan commented on #14229
Problem is that https://github.com/apache/airflow/blob/constraints-2-0/constraints-3.8.txt in line 104, apache-airflow==2.1.0.dev0, there is no version 2.1.0.dev0 on PYPI. It seems that @potiuk your update has broken constraint file for version 2.0.1 :)

[2021-02-14 20:01] debugger22 commented on #14229
@mpolatcan I think your assessment is correct! Can this be fixed anytime soon? Tomorrow is Monday!

[2021-02-14 20:03] mpolatcan commented on #14229
I don't know anything about that. Also, I have been working on that so I will continue install Airflow without constraint :)

[2021-02-14 20:05] debugger22 commented on #14229
Thanks!

[2021-02-14 20:15] potiuk commented on #14229
It should be fixed now. Please let me know if it works!

Sorry for this - I am automating it for future versions and I semi-automated it for 2.0.0 and 2.0.1 but those dev0 slipped throuh my radar.

[2021-02-14 20:15] #14229 closed

[2021-02-14 20:19] potiuk commented on #14229
I tested it locally and it works for me :D

[2021-02-14 20:30] debugger22 commented on #14229
Yep, worked for me as well. Thanks for the quick fix!

[2021-02-14 20:42] mpolatcan commented on #14229
Thanks for the quick fix @potiuk 👍 🤗

[2021-02-14 21:27] potiuk commented on #14229
Would be better if it did not happen :) . I will be more careful next time

[2021-02-14 21:35] potiuk commented on #14228
Similar error here: https://github.com/apache/airflow/pull/14227/checks?check_run_id=1898772208#step:4:16551

[2021-02-14 23:00] potiuk commented on #14198
I am not sure this is a UI feature in general.

This seems like such a low-level detail that you really need to know what you are doing to make any use of this information. There are many more details people might want to get in similar way - environment variables, packages installed in the system etc. etc.

People already use "maintenance DAGs" for cleanups and a number of other things. If you ar

[2021-02-14 23:52] potiuk commented on #14195
The images for 2.0.1 are pushed. Note that 'apache-airflow' is the same but some dependencies might be updated comaring to 2.0.1rc1 (however they are tested and should work fine).

They are based on latest python images so they contain latest security fixes (and some keys updated).

Also, by default google 1.0.0 provider is installed in the image. The  2.0.0 was released afterwards and it was back

[2021-02-14 23:52] #14195 closed

[2021-02-14 23:52] potiuk commented on #14195
cc: @kaxil 2.0.1 images are pushed

[2021-02-15 06:32] Abdur-rahmaanJ opened #14230 "Clarify that Docker is not required for contributing"
To setup airflow, Docker must be installed. But, Airflow is at the base a Flask app and as such does not require docker.

Requiring Docker is a legacy carried on from FlaskAppBuilder.

Summary: To engage more contributors to contribute to a Python project, Docker might be removed

[2021-02-15 06:46] mik-laj opened #14231 "Quick start for Airflow on Mac OS"
Hello,

Installing Airflow on Mac OS in the most common configuration (Postgres / MySQL, Celery, Redis) causes problems for new users for several reasons:
* MacOS ships with Python 2.7, so every user needs to install Python 3+.
* Not every Python 3+ build is compatible with Airflow. See: http://apache-airflow-docs.s3-website.eu-central-1.amazonaws.com/docs/apache-airflow/latest/installation.html#s

[2021-02-15 07:35] HaloKo4 opened #14232 "upgrade checker missing rule"
**What happened**:

The current upgrade-checker (1.2.0) doesn't have rule handle moving of classes / functions in the utils path.

Example:
from airflow.utils.db import create_session
changed to:
from airflow.utils.session import create_session

**What you expected to happen**:
provide notice on these changes.

[2021-02-15 07:36] HaloKo4 commented on #14054
thanks @Rishabhraghwendra18  looking forward to this!

[2021-02-15 08:44] edikmkoyan commented on #12229
I used helmchart to helm install the airflow, didn't used the setup.py anyhow, I guess the docker image used has the wrong version ok the k8s client. I have the issue with the airflow 2.0.1.

[2021-02-15 09:07] HaloKo4 opened #14233 "checker update output as csv"
**Description**

The checker update provide list of entries to handle.
Specifically in the path section (contrib -> providers) the list can be massive.
We have over 400 dags in our system handled by more than 30 different teams. Consider that each dag imports many hooks, sensor, operators and you get a list with thoulzends of enteries.
The list is impossible to handle in the current structure. It

[2021-02-15 10:13] potiuk commented on #14230
I do not think there is ever a requirement to setup Docker.  I am not sure where you take the notion for it. It is a useful tool for CONTRIBUTORS to have Docker-based environment (thanks to that this environment is consistent between developers) but even there, there is local virtualenv option that does not require Docker. For users, the installation instructions are describing local installation

[2021-02-15 10:36] Abdur-rahmaanJ commented on #14230
@potiuk I thought you knew the CONTRIBUTING.rst. I am from the [Python Usergroup of Mauritius](https://www.pymug.com). Since Mr Lamberti is in our country, we thought it would be an excellent opportunity to get people involved in a 'real' Open Source project. That's why i was trying out the instructions.

In [CONTRIBUTING.rst](https://github.com/apache/airflow/blob/master/CONTRIBUTING.rst#step-2-c

[2021-02-15 11:58] mtrovo commented on #9538
@pcandoalmeida what's the status of this issue, is it something I could help with?

[2021-02-15 12:19] ashb commented on #14198
Rather than a DAG this is a prime candiate for a Plugin -- one of the few remaining valid uses of Plugins is to add a custom view to the Webserver.

[2021-02-15 12:25] ashb commented on #14228
Looking.

[2021-02-15 12:36] potiuk commented on #14228
If anything I can help to analyse some of the self-hosted problems - later in the evening more likely. So let me know on slack if there are any unresolved issues/investigation points I can help with - happy to help with those.

[2021-02-15 12:38] ashb commented on #14228
@potiuk It's possible this is the cause (and I am doing much cleaning already, just not total nuke and refresh) but in this case I think it is very unlikely to be the problem.

In this particular case, the runner two jobs in total:

**CloudWatch Logs Insights**
region: eu-central-1
log-group-names: GitHubRunners
start-time: -86400s
end-time: 0s
query-string:
[code]
--------------------------------

[2021-02-15 12:38] #14228 closed

[2021-02-15 12:39] potiuk commented on #14198
Yep. ❤️ that idea. We should start probably think about some "curated" list of plugins that will land on our Ecosystem page - that might be a good one to become part of the "seed" there.

[2021-02-15 12:42] potiuk commented on #14228
Ah cool. Yeah. looks  like it. Thanks for that. I will fix master constraints now - needs also upper limit in sphinx in setup.py

[2021-02-15 12:43] ashb commented on #14228
(I'm glad I took the time to upload all logs from the runner hosts to Cloudwatch now. https://vector.dev/ is much more powerful than Amazon's Cloudwatch agent.)

[2021-02-15 12:44] potiuk commented on #14228
Absolutely! the more logs, the better and good interface is important for those!

[2021-02-15 12:46] potiuk commented on #14228
BTW. once we get non-failing master (which was a bit neglected due to the mayhem with CI) those kind of updates will only happen automatically after all tests and build passes in master, so it would not have happened :)

[2021-02-15 12:48] ashb commented on #14228
Yeah, master seems to be "better"/heading in the right direction now at least.

[2021-02-15 12:56] potiuk commented on #14228
Setup.py limit : https://github.com/apache/airflow/pull/14238

[2021-02-15 13:06] potiuk commented on #14230
It's not obligatory.

If you find it confusing @Abdur-rahmaanJ  - can you please open PR to indicate that it is optional ( only if you want to run more sophisticated tests and run pre-commits with mypy/pylint/flake8).  This is best thing to help - to contribute to the documentation with the user/contributor perspective.

If you look further down the line you will see this part https://github.com/a

[2021-02-15 13:08] ashb commented on #14230
@Abdur-rahmaanJ As Jarek says, a PR to make this clearer would be welcomed.

[2021-02-15 13:29] RosterIn commented on #14198
@potiuk  This will show the python packages installed on the specific worker machine correct?
That won't work for the scheduler machine unless using LocalExecutor isn't it?

[2021-02-15 13:45] potiuk commented on #14198
First of all - there are very rarely cases that the worker machine should have different image/env - you need to have pretty much the same configuration on all the types of nodes (webserver, scheduler, worker) otherwise you risk having strange problems.

But even if you do, actually the whole complexity of this feature is that you need exactly worker information not scheduler one. So in the webser

[2021-02-15 14:19] sdanbury commented on #14231
Went through this process today. It wasn't clear where to start exactly, so I started with breeze and went [through the following setup](https://github.com/apache/airflow/blob/master/CONTRIBUTING.rst#step-2-configure-your-environment) on Mac OS. I came across a lot of the issues you outlined as well and basically spent a large amount of time just trying to get all the dependencies installed.

The

[2021-02-15 14:41] ashb commented on #7929
@MatteoMart1994 Airflow 1.10.6 is quite old -- You should try with 1.10.14 or 2.0.0 please.

(This issue was just migrated by Daniel from Jira, he wasn't the original reporter.)

[2021-02-15 14:52] Dr-Denzy commented on #14232
I will look into this.

[2021-02-15 14:53] potiuk commented on #14231
Thanls @sdanbury for feedback

There are two parts of the setup:

1) Local dev env (and it indeed is always "brittle" because of the dependencies and it is generally harder to keep it in sync with the changes and new dependencies added (and especially with the CI environment where we run most of the tests)

2) Breeze - which is local Bash + docker-compose/docker setup (Breeze environment is in fac

[2021-02-15 14:59] Dr-Denzy commented on #14232
@HaloKo4 This should be a `kind:feature` and not necessarily a bug.

[2021-02-15 15:08] CatarinaSilva commented on #13003
hey @kaxil just wondering if there is already a tentative release date for 1.10.15?

[2021-02-15 15:34] sdanbury commented on #14231
Apologies, I think there was some initial confusion on my part. It appeared on the surface that breeze was mainly a non-containerised approach, but it appears to be a hybrid approach as you say (some of it uses docker/docker-compose, some doesn't).

The confusion was mainly around the `./breeze initialize-local-virtualenv --python 3.6` step, which I believe falls into your `1. Local dev env` point

[2021-02-15 15:43] MatteoMart1994 commented on #7929
Thanks @ashb! So, there is some possibility the bug was fixed in recent releases, isn't it? Thanks again.

[2021-02-15 16:13] ashb commented on #7929
Yup, def possible @MatteoMart1994

[2021-02-15 16:19] potiuk commented on #14231
Oh yeah `./breeze initialize-local-virtualenv --python 3.6` is just a convenience setup to do *just* this - setup the virtualenv for either Linux and MacOS automatically. No more, no less.

It's just a convenience way of running iinitialization, creating the empty sqlite database and initializing configuration for airflow. ith `breeze` being entrypoint for everything else it seems reasonable to ad

[2021-02-15 16:21] EricBoix commented on #14189
While googling in despair, I discovered the existence of [airflowdocker.io](https://airflowdocker.io/) that seems loosely related with the official Apache development. Yet their approach seems to consider that "everything is a docker operator".
If I really need to get some `DockerOperator` running would you advise giving up on the above described "traditional/official" way of things and switch to

[2021-02-15 16:35] mik-laj commented on #14231
If we manage to prepare a script that will configure a few steps automatically, I'm all for it. We should test it very well to make sure that it has no assumptions about the tools installed on the operating system, e.g. the Python interpreter. It should be easy to use by  end-users, not just contributors, so it shold'nt not require downloading the full repository, but a little simple script that w

[2021-02-15 17:54] eladkal opened #14243 "upgrade checker fails for non python files"
**What happened**:

Running upgrade checker 1.2.0 on one of my repos produced the following errors:

ChainBetweenDAGAndOperatorNotAllowedRule:
[code]

ImportChangesRule:
[code]

I traced it to a `.docx` file that caused these exceptions but it took work to figure it out as the traceback doesn't specify what file caused it.

This is a similar to https://github.com/apache/airflow/issues/13349 which

[2021-02-15 17:59] eladkal commented on #14243
@madison-ookla since you handled the first issue. do you want to handle this as well? :)

[2021-02-15 18:10] MatteoMart1994 commented on #7929
Actually discovered my issue is the same as the one pointed in #8541. No PR more recent than Airflow 1.10.6 version solved it.

[2021-02-15 18:15] dimberman commented on #14182
Hi @fjmacagno so if I'm understanding the issue: rather than killing the entire scheduler when this happens, a better result would be for this to return a task failure with the error upon run?

@kaxil @jhtimmins @ephraimbuddy this would be a good start k8sexecutor bug if you're interested. Glad to help you find the solution.

[2021-02-15 18:30] fjmacagno commented on #14182
Yeah, in general i want to avoid letting my users break airflow for everyone, and since this is a mis-configuration of a DAG I feel it should not load in the first place.

Maybe Executors need a verifyExecutorConfig method?

[2021-02-15 18:35] dimberman commented on #14182
@fjmacagno that could work or at the minimum wrapping it in a try/catch block.

This should be a very easy fix, so you or anyone mentioned should be able to take it on and I'd be glad to help/review (I'm trying to spread k8sexecutor knowledge so we can start answering these tickets more quickly)

[2021-02-15 18:36] dimberman commented on #13918
@armandleopold any update on this?

[2021-02-15 18:59] Abdur-rahmaanJ commented on #14230
Ok, let me address this

[2021-02-15 19:01] dimberman commented on #13917
@armandleopold are you sure the task is completed? Those logs seem to suggest that it's still running.

Can you `kubectl describe pod` on the pod?

[2021-02-15 19:03] dimberman commented on #13808
@ephraimbuddy would you be interested in trying to reproduce this?

[2021-02-15 19:10] ephraimbuddy commented on #13808
Yes. I will try to reproduce it

[2021-02-15 19:22] Abdur-rahmaanJ commented on #14230
Companion PR: [14246](https://github.com/apache/airflow/pull/14246)

[2021-02-15 19:29] #14230 closed

[2021-02-15 19:45] potiuk commented on #14231
But we are talking about installing it for contributors  - not users.

[2021-02-15 19:47] akocukcu commented on #11128
Hi @samuelkhtu . There were some personal obstacles. But I am working on it again.

[2021-02-15 19:48] dimberman commented on #13189
Closing as this appears to be fixed in 2.0.1

[2021-02-15 19:48] #13189 closed

[2021-02-15 19:49] dimberman commented on #13543
Hi @tsh56 what do you mean by kubernetes runners?

[2021-02-15 19:51] potiuk commented on #14231
I think for users, this should be simply description in the places we already have - again, let's not reinvent the wheel:

* https://github.com/apache/airflow/blob/master/INSTALL - this is the mandatory (by ASF) installation instruction for users who want to install airflow from sources (which is the only officially supported source of installation).

* http://airflow.apache.org/docs/apache-airflo

[2021-02-15 19:58] dimberman commented on #13972
@Junnplus is this an Airflow problem or a kubernetes problem? I'm not sure what we can do if k8s is recursively checking the entire volume.

[2021-02-15 20:28] mik-laj commented on #14231
For contributors, we already have a script, and of course if it has bugs we should fix it. In this ticket, I tried to focus on the documentation for end users, as I believe this is the biggest problem. See: https://github.com/apache/airflow/issues/13838

In my opinion, there are several types of documentation, each with its own audience and purpose. First of all, both guides you mentioned are inte

[2021-02-15 20:42] fancyfreeman opened #14249 "both airflow dags test and airflow backfill cli commands got same error in airflow Version 2.0.1"
**Apache Airflow version: 2.0.1**
**What happened:**
Running an airflow dags test or backfill  CLI command shown in tutorial, produces the same error.

**dags test cli command result：**

[code]

**backfill cli command result:**
[code]

[2021-02-15 21:10] mik-laj commented on #14231
I also recommend these two articles that explain the differences between a user manual and a quick start guide.
https://medium.com/@shavindridissanayake/are-quick-start-guides-important-cee3b2758ae8
https://medium.com/make-it-clear/the-importance-of-quick-start-guides-26ab7b1cf0df

[2021-02-15 21:17] samuelkhtu commented on #11128
@akocukcu  of course. Let me know if anything I can help with. Thanks.

[2021-02-15 21:24] samuelkhtu commented on #8449
Hi @curiousjazz77 . Just wondering how's going with this PR? Please let me know if anything I can help with. Thanks.

[2021-02-15 22:20] curiousjazz77 commented on #8449
Hi @samuelkhtu! Thanks for reminding me about this. I was wondering if its ideal to have this be a separate operator or alter the exisiting one to process multiple queries? I'm working on a PR here: https://github.com/apache/airflow/compare/master...curiousjazz77:feature/add-athena-batch-operator?expand=1

[2021-02-15 22:20] potiuk commented on #14231
Why don't we turn the "installation" into a "quick start guide" ?

[2021-02-15 22:27] anilkulkarni87 opened #14252 "Unable to clear Failed task with retries"
**Apache Airflow version**: 2.0.1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): NA

**Environment**: Windows WSL2 (Ubuntu) Local

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): Ubuntu 18.04
- **Kernel** (e.g. `uname -a`): Linux d255bce4dcd5 5.4.72-microsoft-standard-WSL2
- **Install tools**: Docker -compose
- **Others**:

**Wh

[2021-02-15 23:38] #10126 closed

[2021-02-15 23:42] gdevanla commented on #14163
Is there a work-around for this? Or should we wait for this issue to be fixed? For us this seems to be a blocker for migrating. I am curious to know how others have solved this issue.

Is this an easy fix I can help with in anyway?

[2021-02-16 03:16] rajeshkatkarnice opened #14253 "Airflow 1.10.10 blackduck scan security risks"
**Apache Airflow version**: 1.10.10

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): NA

**Environment**: linux ec2

- **Cloud provider or hardware configuration**:  airflow hosted on ec2

**What happened**:
Hello Team,
We deploy our airflow infra on aws via cloudformation templates with Jenkins pipelines. We have enabled blackduck security scans in our Jenkins Pipeli

[2021-02-16 04:44] potiuk commented on #14253
Hello @rajeshkatkarnice. Thanks for reporting those, but this is not the way security issues should be reported, this report is not actionable.

One comment - I know BlackDuck first hand and I know that it often reports issues which are not existing. We have no BlackDuck licences so we cannot reproduce your results, so it is difficult to act on your report.

First of all, can you please re-run you

[2021-02-16 04:44] #14253 closed

[2021-02-16 04:46] potiuk commented on #14253
Also - those rules are explained when you report issues - when you create "New Issue" there is quite clear "Report security issue" link that leads you to the ASF security paage.

[2021-02-16 05:18] mik-laj commented on #14231
@potiuk instaallattion.rst is a user manual document that describes all possible installation scenarios. It is a very complex document and does not contain information on the configuration of other components, e.g. a database. This document also does not describe a step-by-step installation, but requires the user to decide which steps to follow eg you first need to install the database in order to

[2021-02-16 05:41] potiuk commented on #14231
Why not just adding "quick installation" chapter in the installation document?

[2021-02-16 06:15] mik-laj commented on #14231
This won't be two paragraphs when it comes to installing on Mac OS, because you need to install the correct version of the Python interpreter (probably using pyenv), PostgresSQL, Redis, OpenSSL, PostgresSQL Client, Rust compiler, GCC compiler, xcode tools, and possibly other dependencies. Unfortunately, we have many dependencies that make configuration not easy.

We can change the position of the

[2021-02-16 06:58] potiuk commented on #14231
So should not we restructure the installation page to do this step-by-step installation ? I still do not understand why "quick" installation guide should not be part of the installation document :)?

[2021-02-16 07:05] potiuk commented on #14231
For example i imagine such structure:

[code]

[2021-02-16 07:34] mik-laj commented on #14231
This does not always work because we support many installation scenarios and we will not always be able to prepare a guide. I just want one page that will allow you to install Airflow from stratch without having to make difficult decisions that require expert knowledge and which will help you install Airflow in 5 minutes. Also, such an article should not contain unnecessary information that is not

[2021-02-16 08:22] potiuk commented on #14231
So I think we are getting to the point here:
* Yes - let's meake separate "quick install pages" under the installation page
* yes - let them be separate pages
* yes - let's move Set UP a DB backend as sub-page of it

BUT we should restructure the installation page (and INSTALLATION)  to be the single  "point of entry" for all those documents. I think when we see that something is messy and difficu

[2021-02-16 08:33] digitalsimboja commented on #13945
Hi @turbaszek is @griffincosgrove working on this issue already, if not I will like to take it up. I am new to Airflow as well and looking for a good-first-issue to taken on. Could this be assigned to me if @griffincosgrove is occupied at the moment. Thanks

[2021-02-16 08:38] sudarshan2906 commented on #13811
@kaxil Sorry for the late reply.
Yes this worked :)

[2021-02-16 08:56] grantav opened #14255 "Breeze: Specifiying "-install-airflow-version 2.0.1" produces error on Image build"
**Apache Airflow version**: 2.0.1

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): "elementary OS 5.1.7 Hera"
- **Kernel** (e.g. `uname -a`): "Linux 5.4.0-65-generic #73~18.04.1-Ubuntu SMP Tue Jan 19 09:02:24 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux"
- **Install too

[2021-02-16 09:18] rajeshkatkarnice commented on #14253
@potiuk we already have communicated these issue over mail to Apache Security Team before raising these issues.

We got below reply from Mark(mjc@gsuite.cloud.apache.org )

//
Hi,

Outdated dependencies are not always security issues.  A project would only be affected if a dependency was used in such a way that the affected underlying code is used and the vulnerabilities were exposed.  We typicall