[2022-07-13 11:12] hterik opened #25021 "Scheduler resetting Kubernetes tasks as orphaned on startup"
### Apache Airflow version

2.3.2

### What happened

Scheduler was restarted.
After this it starts resetting some running tasks as orphaned.

I have seen https://github.com/apache/airflow/issues/20982 which lists this as known issue _for manually started tasks_, but we also see it occasionally for scheduled tasks.

This issue appears to be a regression after 2.3 upgrade, i don't recall ever seein

[2022-07-13 13:30] potiuk commented on #25019
Would you like to attempt it @alexInhert ? I marked it as good first issue so maybe someone will pick it up, but if you need it badly then the most certain way is to implement it yourself,

[2022-07-13 14:08] josh-fell commented on #24998
@pascal-knapen Thanks for submitting this issue. Definitely not the desired behavior. Can you check out Airflow 2.3.3 and see if the issue is fixed when you get a chance please? I did a quick test with the example you provided on 2.3.3 as well as the `main` branch and this seems to be fixed.

[2022-07-13 14:49] notniknot opened #25024 "Database connection with get_sqlalchemy_engine() results in an error because of a quoted uri"
### Apache Airflow version

2.3.3 (latest released)

### What happened

I create a DAG that accesses an Oracle database via sqlalchemy. Therefore I call `get_sqlalchemy_engine()` on the OracleHook-Object. I get a `ORA-12154: TNS:could not resolve the connect identifier specified` error message. Details and reason stated below.

### What you think should happen instead

The Connection-URI in `get_s

[2022-07-13 14:55] #23949 closed

[2022-07-13 15:11] bbovenzi commented on #25007
@tm-drtina Good call. Feel free to open a PR!

[2022-07-13 15:13] #24998 closed

[2022-07-13 15:37] SteveScott opened #25025 "Server throws Error5 input/output error when I leave ssh session."
### Apache Airflow version

2.2.3

### What happened

When I ssh into the server and start the server, no problem. Then I need to exit the server. I use
[code]
and exit the web server.
When I refresh I get the error Ooops something bad has happened.

[code]
To try to resolved this, I granted permission 777 to the airflow directory. This was unsuccessful.

The project is located in the home folder

[2022-07-13 15:43] Guilherme-B commented on #18116
Should anyone require, I was experiencing the same problem and this is how I approached it:

[code]

[2022-07-13 15:58] potiuk commented on #25025
This is NOT how you should run webserver. This is completely and utterly wrong way of starting a long running program. you should never, ever do that this way witth any other software, and if you do it now you shoudl immediately stop.

You have the `-D` flag to run webserver as daemon for that purpose.

[2022-07-13 15:58] #25025 closed

[2022-07-13 16:00] potiuk commented on #25025
Read this to understand how terribly wrong approach of yours was and what you had been missing if you did it the way you did it. http://www.netzmafia.de/skripten/unix/linux-daemon-howto.html

[2022-07-13 16:08] potiuk commented on #25024
Feel free to make a fix. This should be easy. otherwise I mark it as good first issue, so maybe someone will pick it up. Re sqlalchemy not supporting Oracle - there is nothing we can do - but if you feel like it maybe you can add PR with information about it or even throw NoitImplemented for get_sqlalchemy_engine.

[2022-07-13 16:23] pascal-knapen commented on #24998
Thanks @bbovenzi for checking, that saved me some time this evening.

[2022-07-13 17:28] potiuk commented on #24168
Updated stats:

Summary of ALL issues: for 45 issues
Completed and closed issues: 38/45: 84.44%
Completed files 147/275 = 53.45%

Issues that are not completed and should be opened:

Issues that are not completed and are still opened:

https://github.com/apache/airflow/issues/22465: 0/1 : 0.00%
https://github.com/apache/airflow/issues/22447: 38/89 : 42.70%
https://github.com/apache/airflow/issues/

[2022-07-13 17:34] dstaple commented on #23361
We have figured out the origins of the SELECT ... FOR UPDATE and a mechanism for the deadlocks.

The short story is it originates from the `airflow run task` cli command inside task pods.

The SELECT does indeed originate from `TaskInstance.refresh_from_db()` as suggested above. It is called as follows:
[code]
Line numbers both in the synopsis above and the stack trace below are for Airflow 2.2.5.

[2022-07-13 17:36] dstaple commented on #23361
Regarding how the deadlock happens, as we know, we have two statements: UPDATE and SELECT ... FOR UPDATE that cause a deadlock. As described previously, the UPDATE statement is here https://github.com/apache/airflow/blob/2.2.5/airflow/models/dagrun.py#L903-L909. It needs to get a shared lock on matching rows of `task_instance` and `dag_run` tables in order to execute the update. However, it fails

[2022-07-13 17:43] potiuk commented on #23361
cc: @ashb - I did not have a look at this yet (will shortly) , but maybe you can take a look and see if any of this ring a bell.

[2022-07-13 19:10] Gollum999 opened #25032 "Dynamic Task Mapping - Depth-first execution"
### Description

I would like the ability to execute a group of dynamic tasks in a depth-first fashion.

This is not an original idea - the [original AIP](https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-42+Dynamic+Task+Mapping#AIP42DynamicTaskMapping-MapforTaskGroupsObjects) for Dynamic Task Mapping suggested using `TaskGroup`s for this feature, which seems like a great idea to me.  Howeve

[2022-07-13 19:19] dstandish opened #25033 "next run should show deps fulfillment e.g. 0 of 3"
on dags page (i.e. the home page) we have a "next run" column.  for dataset-driven dags, since we can't know for certain when it will be, we could instead show how many deps are fulfilled, e.g. `0 of 1` and perhaps make it a link to the datasets that the dag is dependened on.

here's a sample query that returns the dags which _are_ ready to run. but for this feature you'd need to get the num deps

[2022-07-13 19:23] eladkal commented on #13543
Is this issue still present in latest Airflow + Kubernetes provider version?

[2022-07-13 19:31] dstandish opened #25036 "Test that dataset not updated when task skipped"
the AIP specifies that when a task is skipped, that we don’t mark the dataset as “updated”. we should simply add a test that verifies that this is what happens (and make changes if necessary)

@blag, i tried to make this an issue so i could assign to you but can't. anyway, can reference in PR with `closes`

[2022-07-13 20:18] eladkal commented on #14231
I think the points raised in this issue are already addressed in the new (Python based) Breeze?

[2022-07-13 20:22] eladkal commented on #7881
Duplicate https://github.com/apache/airflow/issues/10913

[2022-07-13 20:22] #7881 closed

[2022-07-13 20:25] potiuk commented on #14231
yep

[2022-07-13 20:25] #14231 closed

[2022-07-13 21:28] potiuk opened #25037 "Status of testing Providers that were prepared on July 13, 2022"
### Body

I have a kind request for all the contributors to the latest provider packages release.
Could you please help us to test the RC versions of the providers?

Let us know in the comment, whether the issue is addressed.

Those are providers that require testing as there were some substantial changes introduced:

## Provider [airbyte: 3.1.0rc1](https://pypi.org/project/apache-airflow-provider

[2022-07-14 00:57] hankehly commented on #24111
@rjribeiro You may be aware of this already, but tasks inside task groups have their IDs prefixed with the group id of the task group. This _may be_ related to your issue.

Can you try adding `prefix_group_id=False` to the `TaskGroup` definition?

Ex.
[code]

https://airflow.apache.org/docs/apache-airflow/stable/concepts/dags.html?highlight=taskgroup

[2022-07-14 04:49] asitstands commented on #8792
Is there any plan to resolve this issue? @dstandish If possilbe, would you inform on which version would include the KPO refactoring you mentioned and whether this issue would be resolved there?

[2022-07-14 06:25] indrakumarm commented on #13668
@Airflowcode ... did you find any solution.

I am  also facing same issue .
Airflow version: 2.3.1
Mysql version:   mysql  Ver 14.14 Distrib 5.7.37

[2022-07-14 08:29] pankajkoti commented on #25037
I have a question regarding Provider [http: 4.0.0rc1](https://pypi.org/project/apache-airflow-providers-http/4.0.0rc1) and added it in the PR discussion here: https://github.com/apache/airflow/pull/24967#discussion_r920887030

[2022-07-14 10:34] potiuk commented on #25037
Thanks @pankajkoti - excellent point, I followed up with some extra comment/questions. I am happy to do either way (continue with self.hook removal, or restore it in RC2, and I think we should discuss what's best approach in general for deferred operators.

[2022-07-14 10:53] phanikumv commented on #25037
Tested the below PR with the respective rc images and they are working fine.

Add test_connection method to Databricks hook (#24617): @phanikumv
Add test_connection method to GoogleBaseHook (#24682): @phanikumv
Add test_connection method to AzureCosmosDBHook (#25018): @phanikumv
Add test_connection method to AzureFileShareHook (#24843): @phanikumv
Add test_connection method to Azure WasbHook (#247

[2022-07-14 11:39] potiuk commented on #25037
I tested all my changes - mostly they were about common-sql extraction and dependencies. They all looks good!

[2022-07-14 12:02] csp98 opened #25058 "Add revisionHistoryLimit to Helm deployments"
### Description

We can use this parameter to control how many old ReplicaSets we want to retain for each deployment

### Use case/motivation

We wouldn't end up with a lot of unused replicasets in our deployment

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Condu

[2022-07-14 12:04] potiuk commented on #25058
Feel free to create a PR

[2022-07-14 12:08] phanikumv commented on #25037
Completed testing the below PR and they are working fine.

Add test_connection method to Trino hook (#24583): @phanikumv
<img width="1427" alt="image" src="https://user-images.githubusercontent.com/94376113/178978768-61af41d2-f26f-474a-8384-ebe56bc03026.png">

Add on_kill() to kill Trino query if Airflow task is killed (#24559): @phanikumv
Add TrinoOperator (#24415): @phanikumv

<img width="916" a

[2022-07-14 12:17] potiuk commented on #19260
I am not sure what has changed - but I cannot reproduce it any more @dstandish - if you can't as well, I propose to close it.

[2022-07-14 12:30] igorborgest commented on #25037
I can confirm that the [Amazon Appflow support](https://github.com/apache/airflow/pull/24057) is working as expected for `apache-airflow-providers-amazon==4.1.0rc1`.

![image](https://user-images.githubusercontent.com/2163472/178982018-1da3eaef-3128-499c-8c7b-c030b2862344.png)

[2022-07-14 13:56] ldacey opened #25060 "Airflow scheduler crashes due to 'duplicate key value violates unique constraint "task_instance_pkey"'"
### Apache Airflow version

2.3.3 (latest released)

### What happened

Our schedulers have crashed on two occasions after upgrading to Airflow 2.3.3. The same DAG is responsible each time, but this is likely due to the fact that it is the only dynamic task mapping DAG running right now (catching up some historical data). This DAG uses the same imported @task function that many other DAGs used suc

[2022-07-14 14:12] frankcash opened #25062 "Task Group States defined for the UI aren't in the same order as the back-end python code"
### Apache Airflow version

2.3.0

### What happened

The priority arrays defined in the following blocks of code do not set the same precedent:
- https://github.com/apache/airflow/blob/main/airflow/www/static/js/graph.js#L601-L605
- https://github.com/apache/airflow/blob/main/airflow/www/utils.py#L79-L95

Causing a potential mismatch when defining the state of the group

### What you think should

[2022-07-14 14:24] potiuk commented on #25037
Indeed.

[2022-07-14 15:28] r723235 opened #25063 "Airflow DB Clean Fails for `callback_request`"
### Apache Airflow version

2.3.3 (latest released)

### What happened

Docker: `apache/airflow:2.3.3-python3.9`

DB: AWS RDS Postgres 14
[code]

attempting to execute airflow db clean. however, i come across an error for one specific table:
[code]

this error does not occur for any other table.

### What you think should happen instead

Error: `SAWarning: SELECT statement has a cartesian product

[2022-07-14 16:42] ishiis commented on #25037
#24473 is working as expected.

<img width="1288" alt="image" src="https://user-images.githubusercontent.com/12693596/179033525-71d0504a-a872-4a5a-8118-2ad4ba0888cb.png">

[2022-07-14 16:44] brandondtb commented on #25032
I need this as well. I suspect it might be possible to accomplish this with SubDAGs, but haven't tested it yet,

[2022-07-14 17:09] zachliu commented on #23512
i guess that would have negative impact on the performance. this is a "non-blocking" error only occurs during startup anyway, so i sort of just go with it right now

[2022-07-14 17:15] leomarques90 commented on #13445
For those who are considering adding "**os.environ", and have sensitive data on environment variable, another way to not override the environment variables and avoid showing it on "Task Instance Details -> env" dag option, it to set the parameter `append_env` to `True`, like:
[code]

[2022-07-14 17:34] #25007 closed

[2022-07-14 18:16] Taragolis commented on #25037
Working as expected: #24662 #24406 #24294
Also check depreciation warnings from #24670 - not listed here but included in `apache-airflow-providers-amazon==4.1.0rc1`

[2022-07-14 18:36] bmoon4 commented on #23512
im seeing same error in webserver (Airflow 2.3.3 + Postgres 13)

[2022-07-14 18:39] potiuk commented on #25037
Yep #24670 has been removed from changelog as "not important" - we can re-add them later for the docs purpose see changelog with comments included https://raw.githubusercontent.com/apache/airflow/main/airflow/providers/amazon/CHANGELOG.rst)

[2022-07-14 18:53] luancaarvalho opened #25070 "Error when backfilling"
### Apache Airflow version

2.3.0

### What happened

Hi !
I'm trying to backfill my dag that searches for an attachment in a mailbox and send it to s3 but on any date even after my dag has done all the tasks completely they keep running infinite.

Ps: I set max_active_runs to 5 looking to avoid errors in mailbox requests

### What you think should happen instead

I think that after a one dag run

[2022-07-14 18:54] pauldalewilliams commented on #25037
@potiuk Re #24512 does the fact that I removed deprecated parameters necessitate a major version bump for the SFTP provider?  See the second bullet point on my PR.

[2022-07-14 19:50] betocolon23 commented on #23512
Hi, I was having this issue. I'm using airflow community helm chart:

`## configs for the web Pods' readiness probe
  ##
  readinessProbe:
    enabled: true
    initialDelaySeconds: 180
    periodSeconds: 10
    timeoutSeconds: 30
    failureThreshold: 6

  ## configs for the web Pods' liveness probe
  ##
  livenessProbe:
    enabled: true
    initialDelaySeconds: 180
    periodSeconds: 10
    tim

[2022-07-14 20:05] zachliu commented on #23512
mine just recovers itself after a restart :thinking:

[2022-07-14 20:15] kevgeo commented on #25037
I have tested #24860, works great!

[2022-07-14 21:56] vitaly-krugl opened #25075 "Airflow Database Upgrade error: sqlalchemy.exc.ProgrammingError: (psycopg2.errors.UndefinedColumn) column dag.root_dag_id does not exist"
### Apache Airflow version

2.3.2

### What happened

My production deployment had Airflow v1.8.0. It already had Dags, Task Instances, etc., in the tables. When upgrading to Airflow v2.3.2, the execution of `airflow db upgrade` resulted in the failure: `sqlalchemy.exc.ProgrammingError: (psycopg2.errors.UndefinedColumn) column dag.root_dag_id does not exist`.

The problem is due to an unsafe pract

[2022-07-15 01:18] yingw787 commented on #24921
wanted to give an update, no progress yet due to work having a tight deadline, but will see how much I can get done in the next week; I did have trouble getting started when I tried to run `breeze`, not sure whether I should create an issue or if it's something simpler: https://apache-airflow.slack.com/archives/CCQ7EGB1P/p1657592430809019

[2022-07-15 01:29] #24936 closed

[2022-07-15 04:15] data-djinn opened #25084 "AWS"
### What do you see as an issue?

the link to example dags in `docs/apache-airflow-providers-amazon/example-dags.rst` instead points to `tests/system/providers/amazon/aws/`

### Solving the problem

point the link instead to https://airflow.apache.org/docs/apache-airflow-providers-amazon/stable/example-dags.html

### Anything else

_No response_

### Are you willing to submit PR?

- [X] Yes I am w

[2022-07-15 04:26] markhatch commented on #24338
Unsure if helpful - but tossing in my vote for this as well and thought to share my use case.

Expected `trigger_rule` would be respected rather than automatically failing downstream tasks. I have downstream task that pick a random choice from any successful upstream.

[code]

![Screen Shot 2022-07-15 at 12 18 03 PM](https://user-images.githubusercontent.com/1576203/179149531-41ced461-e8e5-4a86-9f

[2022-07-15 04:55] sbadithe commented on #25024
May I pick this up?

[2022-07-15 04:57] pasalkarsachin1 commented on #25037
Looks okay to me https://github.com/apache/airflow/pull/24726

[2022-07-15 06:39] potiuk commented on #24247
We are not going to fix it. Maria DB is not officially supported and will break. See:

https://airflow.apache.org/docs/apache-airflow/stable/installation/prerequisites.html?highlight=mariadb

[2022-07-15 07:16] notniknot commented on #25024
Sure, go ahead

[2022-07-15 07:36] potiuk commented on #25084
This is correct. We are in a process to migrate example dags to new hierarchy (following https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-47+New+design+of+Airflow+System+Tests)  where example dags are migrated to "tests/system". You see two links in the AWS providers. The new ("system tests") and legacy ("example dags").

![image](https://user-images.githubusercontent.com/595491/179175426-f

[2022-07-15 07:36] #25084 closed

[2022-07-15 11:16] hterik opened #25090 "More natural sorting of DAG runs in the grid view"
### Apache Airflow version

2.3.2

### What happened

Dag with schedule to run once every hour.
Dag was started manually at 12:44, lets call this run 1
At 13:00 the scheduled run started, lets call this run 2. It appears before run 1 in the grid view.

See attached screenshot
![image](https://user-images.githubusercontent.com/89977373/179212616-4113a1d5-ea61-4e0b-9c3f-3e4eba8318bc.png)

### What y

[2022-07-15 11:42] josedaniel-escribano-clarity commented on #22040
Hi all, we started to work on this. Here is the branch containing the first changes at api level, we will try to continue in the future but in case anyone wants go for it here is [the code](https://github.com/clarityai-eng/airflow/tree/include-aborted-state). :)

[2022-07-15 12:42] FanatoniQ opened #25092 "MsSqlHook.get_sqlalchemy_engine uses pyodbc instead of pymssql"
### Apache Airflow Provider(s)

microsoft-mssql

### Versions of Apache Airflow Providers

apache-airflow-providers-microsoft-mssql==2.0.1

### Apache Airflow version

2.2.2

### Operating System

Ubuntu 20.04

### Deployment

Official Apache Airflow Helm Chart

### Deployment details

_No response_

### What happened

`MsSqlHook.get_sqlalchemy_engine` uses the default mssql driver: `pyodbc` inste

[2022-07-15 13:06] allenhaozi opened #25093 "upgrade airflow from 2.2.5-python3.8 to 2.3.3-python3.9 failed"
### Apache Airflow version

2.3.3 (latest released)

### What happened

check pod airflow-db-migrations and get the following error:

[code]

### What you think should happen instead

_No response_

### How to reproduce

_No response_

### Operating System

NAME="CentOS Linux" VERSION="7 (Core)" ID="centos" ID_LIKE="rhel fedora" VERSION_ID="7" PRETTY_NAME="CentOS Linux 7 (Core)" ANSI_COLOR="0;31"

[2022-07-15 13:35] Gollum999 opened #25095 "Dynamically mapped sensor with mode='reschedule' fails with violated foreign key constraint"
### Apache Airflow version

2.3.3 (latest released)

### What happened

If you are using [Dynamic Task Mapping](https://airflow.apache.org/docs/apache-airflow/stable/concepts/dynamic-task-mapping.html) to map a Sensor with `.partial(mode='reschedule')`, and if that sensor fails its poke condition even once, the whole sensor task will immediately die with an error like:

[code]

A similar error ari

[2022-07-15 14:13] ADITI7499 commented on #8160
@BrunoDamacena
Hi I am also facing the same issue while using http operator and I think it is not specific to environment as curl command and  postman is giving correct response only. Http operator is also returning correct response for smaller sync requests (less than 5 mins).
I even tried using request lib but got same error. Have you resolved this in past.
It will be very helpful if you can sha

[2022-07-15 14:54] potiuk commented on #25037
How Serious? (BTW. it's no big problem we can remove it from the release and make rc2 right after - we are doing that with SFTP already).

[2022-07-15 14:59] potiuk commented on #8160
This is very likely already handled in the upcoming https://pypi.org/project/apache-airflow-providers-http/4.0.0rc1/ (it will be likely released tomorrow / Monday latest). Can you please @ADITI7499 install it locally and check if it fixes the problem?

The fix was implemented in https://github.com/apache/airflow/pull/24967

[2022-07-15 16:31] ADITI7499 commented on #8160
@potiuk I tried this new http provider with my airflow 2.2 and as it picks default value as tcp_keep_alive true. It should be sufficient to tackle this issue right but again my remote connection got closed

[2022-07-15 16:40] FanatoniQ commented on #25092
I started working on a fork.
I'll make a PR next week.

[2022-07-15 17:04] potiuk commented on #8160
You might want to increase the frequency of default settings. If that's your firewall (or whatever is between you and the host) it seems overly agressive. I would expect closing idle connection after an hour but 5 minutes is unheard of. So maybe someone at  your company has very agressive policy. If you look at the description of the KeepAlive feature, they mention that firewalls might be also agr

[2022-07-15 17:24] Fokko commented on #25037
@potiuk would it be possible to include this patch into the RC2 as well? https://github.com/apache/airflow/pull/25099

[2022-07-15 17:50] potiuk commented on #25037
Sure. I will remove tabular from delivery too and add it to the list of rc2's

[2022-07-15 21:22] jcom000 opened #25103 "API `variables/{variable_key}` request fails if key has character `/`"
### Apache Airflow version

2.3.2

### What happened

Created a variable e.g. `a/variable` and couldn't get or delete it

### What you think should happen instead

i shouldn't've been allowed to create a variable with `/`, or the GET and DELETE should work

### How to reproduce

![image](https://user-images.githubusercontent.com/98349137/179311482-e3a74683-d855-4013-b27a-01dfae7db0ff.png)
![image]

[2022-07-15 21:32] o-nikolas commented on #25019
@potiuk, We have no immediate plans, our needs are covered by at least `2.0.1`, but I think upgrading is still a good idea! I can assist @alexInhert if they get stuck, since I've done version bumps for Watchtower in the past.

But note: This change will need a careful check of Airflow logs, since v3 of Watcher can now include much more information in the logs than previous (due to lacking json des

[2022-07-16 01:55] dwreeves opened #25104 "`SecretsManagerBackend()` does not need to require URL-encoded values for `full_url_mode=False` connections."
### Apache Airflow Provider(s)

amazon

### Versions of Apache Airflow Providers

I am using `apache-airflow-providers-amazon==2.4.0`, but this issue is still relevant as of the most recent version, `apache-airflow-providers-amazon==4.0.0`.

### Apache Airflow version

2.2.2

### Operating System

OS X

### Deployment

MWAA

### Deployment details

These are my relevant configuration details:

[co

[2022-07-16 06:13] mik-laj commented on #25103
You need to url-encode this parametr i e replace `/` to `%2F`.  Can you check if everything works then?

[2022-07-16 07:04] potiuk commented on #25104
Agree it would be nice to improve it - feel free to create PR on it when we can iterate on possble solutions.

I think it is important to keep backwards compatibility and do not go 2.3+. There must be a very good reason to break compatibility before the time, unless you want to wait till 11th October:

https://github.com/apache/airflow#release-process-for-providers

Also I think there is another a

[2022-07-16 07:33] potiuk commented on #25063
This problem has been already fixed in https://github.com/apache/airflow/pull/23574 . I marked #23574 as a candidate for 2.3.4 release.

[2022-07-16 07:33] #25063 closed

[2022-07-16 07:36] potiuk commented on #25032
Yep. It's been initially excluded from the scope of dynamic task mapping implemented in 2.3.* but it would be good idea to have it at some point in time. If anyone wants to tackle it (though it is likely rather complex endevour) - feel free.

[2022-07-16 12:48] alexott commented on #25037
#24617 for Databricks has an issue because selected API is available only on AWS, and will fail on Azure/GCP...

More general question - is it possible to subscribe to all Databricks-related RPs?

[2022-07-16 14:40] potiuk commented on #25037
Good check. That is not a regression, test_connection is a new method/functionality added and it partially works, so it's not a reason to cancel it. It can be adressed in the next release.

We discussed it before, unfortunately CODEOWNER (which is a bad name BTW) only allows commiters to be marked as reviewer to part  of the repo, which is a bummer (because it's not a codeowner by any means is jus

[2022-07-16 18:15] ankurbajaj9 commented on #25037
Not serious at all. It seems the authentication is missing since the original code only. Nothing is breaking , it just needs additional lines to be able to work in my environment.

[2022-07-16 18:50] potiuk commented on #25037
Right. Then we can release it in next wave :)

[2022-07-16 19:35] sbadithe commented on #25024
Actually, I'm sorry I don't think I can work on this at the moment. Sorry for the confusion.

[2022-07-16 19:44] potiuk commented on #25075
Version 1.8 is not supported for more than 4 years. https://github.com/apache/airflow#version-life-cycle - I think you lost the opportunity a long time ago to have any support here - people here are supporting any questions in their free time, but there is probably no-one who was around when 1.8 was released.

I recommend you drop your data and start from scratch.

[2022-07-16 19:44] #25075 closed

[2022-07-16 20:37] #22318 closed

[2022-07-16 21:19] potiuk commented on #25095
Another case for map_index failure for dynamic task mapping.  Not the same as https://github.com/apache/airflow/issues/25060 but likely somewhat related. @uranusjr @ashb

[2022-07-16 22:18] potiuk commented on #25037
@Fokko - I actually released 1.0.0 (will be easier) and release 1.0.1 right after - 1.0.0 was the first release, no regression there.

[2022-07-16 22:19] potiuk commented on #25037
(both SFTP/Tabular will be rc1 then).

[2022-07-16 22:50] potiuk commented on #25037
Closing this one as providers are released. Thanks everyone. you rock!

[2022-07-16 22:50] #25037 closed

[2022-07-17 09:19] potiuk opened #25113 "Status of testing Providers that were prepared on July 17, 2022"
### Body

I have a kind request for all the contributors to the latest provider packages release.
Could you please help us to test the RC versions of the providers?

Let us know in the comment, whether the issue is addressed.

Those are providers that require testing as there were some substantial changes introduced:

## Provider [sftp: 4.0.0rc1](https://pypi.org/project/apache-airflow-providers-s

[2022-07-17 20:21] uranusjr commented on #25032
Note that even the initial scope only mentioned the mapped downstream would only depend on one mapped upstream. It does not guarantee depth-first semantic, but only the downstream _may_ be executed before other (unrelated) mapped upstreams.

Feel free to work on it, as mentioned above.

[2022-07-17 20:41] uranusjr commented on #25090
`data_interval_start` is probably better than `execution_date`, but from what I read the issue, that would still be wrong and we should order by `start_date` instead (!)

This really depends what we think the runs _should_ be ordered and I can easily see there are different answers for different people (or even the same person under different circumstances), so I guess `data_interval_start` is as

[2022-07-18 03:02] pauldalewilliams commented on #25113
I tested #24512 now and things seem to be working as expected on my end.  Thanks @potiuk!

[2022-07-18 03:59] aadhya100 commented on #13487
both parameters are same?

[2022-07-18 06:06] AndrewTsao opened #25117 "Schduler crash when delete a dag on UI."
### Apache Airflow version

2.3.3 (latest released)

### What happened

[code]

### What you think should happen instead

Scheduler can't crash by DAGs's operation like delete a DAG.

### How to reproduce

1 change a DAG dag_id in the DAG script.
2 delete old DAG on UI.

### Operating System

CentOS Linux release 7.9.2009 (Core)

### Versions of Apache Airflow Providers

[code]

### Deployment

Vi

[2022-07-18 06:28] uranusjr commented on #19612
Thanks for catching this

[2022-07-18 06:28] #19612 closed

[2022-07-18 06:45] vagetablechicken opened #25118 "Add provider for OpenMLDB"
### Description

Adds a new Provider for OpenMLDB in https://github.com/apache/airflow/tree/main/airflow/providers.

### Use case/motivation

[OpenMLDB](https://openmldb.ai/) is an open-source machine learning database. We can do feature extraction by using it.
If we have the OpenMLDB provider, users can orchestrate the model training pipeline which extracts features from OpenMLDB.

### Related is

[2022-07-18 10:18] bbovenzi commented on #25090
The "Run" in the details section of the grid view defaults to `data_interval_start` and then uses `execution_date` as a backup. So I guess we should use that for the ordering here and even the tooltip. But, happy to hear a competing suggestion.

[2022-07-18 14:25] argibbs commented on #22532
@uranusjr @potiuk Can I check if the above is tongue in cheek, or if there is a rewrite of SLAs planned for 2.4(.x)?

I'm hitting an issue in 2.3.3 with SLAs preventing processing of the dags (similar to #15596 which I raised a while back - the way in which it fails has changed, but the behaviour is the same; dags don't get recreated, etc. etc.)

I ask because I'm trying to judge whether I should

[2022-07-18 14:34] ngreen-ny opened #25126 "Airflow Long Dag Runs overlaps runs on Tree view"
### Apache Airflow version

2.2.3

### What happened

We have a bunch of dags nested inside a dag and when looking at the tree view. The dag names which are quite long seem to overlap the dag run blocks.

Please see screenshot attached.

![airflow](https://user-images.githubusercontent.com/64902557/179531902-9468bdbe-e318-495f-802d-511701448f85.png)
.

Any idea on how we can fix this going forward

[2022-07-18 15:47] argibbs commented on #22532
Ok, I got nerd sniped, and dug into it anyway, and now have a reasonable idea of how I might fix it.

So, the question still stands: is it worth me attempting to patch this locally for myself (and then raising the change as an MR if successful) or is this pointless since it's already being worked on?

[2022-07-18 16:52] TommyDew42 commented on #24820
@potiuk
I think we'll just add a length check to [tags](https://github.com/apache/airflow/blob/main/airflow/models/dag.py#L345).
If we have a tag with length >= 100, we raise an exception.

But I'm not sure how we pip install the dependencies. I [read](https://github.com/apache/airflow/blob/main/LOCAL_VIRTUALENV.rst#creating-a-local-virtualenv) that only `pip` installation is officially supported.

[2022-07-18 16:53] potiuk commented on #25021
Is this happening for all tasks that are running when scheduler was restarted or only some of them ? Any more information /guesses of which tasks might be affected ? Also what kind of deployment you have - Kubernetes Executor? Kubernetes Celery Executor? Can you please elaborate more on that

BTW. Why do you have such frequent restarts of PGSQL/Kubnernetes API ? this seems like something you shoud

[2022-07-18 16:57] potiuk commented on #24820
@TommyDew42 -> https://github.com/apache/airflow/blob/main/CONTRIBUTING.rst has all the instruction on starting contribution and links to how to setup development environments

[2022-07-18 17:35] potiuk commented on #25113
@Fokko  - wating for your input :)

[2022-07-18 17:38] eladkal commented on #25126
Airflow has no loner Tree view. It was replaced by Grid view.
Updating Airflow to newer version will solve your issue.

[2022-07-18 17:38] #25126 closed

[2022-07-18 17:44] potiuk commented on #24168
Slowly but surely we are getting there :)

Summary of ALL issues: for 45 issues
Completed and closed issues: 39/45: 86.67%
Completed files 156/275 = 56.73%

Issues that are not completed and are still opened:

https://github.com/apache/airflow/issues/22465: 0/1 : 0.00%
https://github.com/apache/airflow/issues/22447: 41/89 : 46.07%
https://github.com/apache/airflow/issues/22438: 15/36 : 41.67%
http

[2022-07-18 18:16] potiuk commented on #22532
If you have smple fix that is easy to review you can make a PR fixing it. Happy to review. For now no-one works on rewritinug SLA as far as I know and it is unlikely to happen in 2.4. You can also see discussion I started on it - https://lists.apache.org/thread/h10l2d8l4mkrfm68ns58m0rgq5x63m8g - seems like everyone agrees SLA is broken, but there is not enough will (or courage maybe ?) to deprecat

[2022-07-18 18:18] potiuk commented on #22532
Actully - If you are much into it and REALLY want to dig into it and see if you can incrementally improve it - I think that might be a super-valuable contribution to the community :). So if you have the will, I am happy to help with reviews and comments :). Just ping me in the PRs.

[2022-07-18 18:20] SteveScott commented on #13487
There is a warning comment: (note this is insecure and allows for RCE exploits). Is there an alternative to enabling pickling?

[2022-07-18 18:22] #24919 closed

[2022-07-18 18:24] potiuk commented on #13487
Pass only json-serializable data. you can convert your datetime into strings or int for example.

[2022-07-18 19:06] dbarrundiag opened #25138 "SQSPublishOperator should allow sending messages to a FIFO Queue"
### Apache Airflow Provider(s)

amazon

### Versions of Apache Airflow Providers

`apache-airflow-providers-amazon==4.1.0`

### Apache Airflow version

2.2.2

### Operating System

Amazon Linux 2

### Deployment

MWAA

### Deployment details

_No response_

### What happened

The current state of the [SQSPublishOperator](https://github.com/apache/airflow/blob/main/airflow/providers/amazon/aws/oper

[2022-07-18 19:49] potiuk commented on #25138
Assigned you

[2022-07-18 23:07] pingzh opened #25144 "Airflow db init fails on mysql 5.7"
### Apache Airflow version

2.2.4

and versions after it

### What happened

Airflow db init fails on mysql 5.7 due to :

`Specified key was too long; max key length is 767 bytes`

On mysql 5.7,  the index key prefix limit is 767 bytes for tables see: https://dev.mysql.com/doc/refman/5.7/en/innodb-limits.html when `innodb_large_prefix` is `OFF` or it  use the REDUNDANT or COMPACT row format.
and m

[2022-07-18 23:14] scrottty opened #25145 "Logs from import modules not showing in Airflow Log"
### Apache Airflow version

2.2.3

### What happened

When running code from an import module, e.g. `boto3`, the logs are not printed to the Airflow log. When running on my local machine, the logs are printed to the console after settings `logging.basicConfig(level=logging.DEBUG)`. Setting the environmental variable `AIRFLOW__LOGGING__LOGGING_LEVEL` didnt help either.

Here is a copy of the DAG co

[2022-07-19 03:43] #25036 closed

[2022-07-19 07:07] #25144 closed

[2022-07-19 07:10] potiuk commented on #25144
BTW. We NEED that long of IDs. This is part of the product.

BTW. MySQL has a number of problems like that that had to be workaround  - we recommend to switch to Postgres - which is rock-solid.

[2022-07-19 07:12] potiuk commented on #25144
(And you probably has wrong collation set - you likely have utf8_mb4 not utf8_mb3) - all our tests are run with MySQL 5.7.

[2022-07-19 07:21] potiuk commented on #25144
(actually your problem is that innodb_large_prefix is off) - you should enable it. We are not going to change that requirement.

[2022-07-19 07:24] potiuk commented on #25145
You should follow https://airflow.apache.org/docs/apache-airflow/stable/logging-monitoring/logging-tasks.html?highlight=advanced#advanced-configuration and configur your loggers as you want (for example you can selectively disable or enable boto3 logging level.

[2022-07-19 07:24] #25145 closed

[2022-07-19 09:37] AndrewTsao opened #25149 "DAG.access_control can't sync when clean access_control"
### Apache Airflow version

2.3.3 (latest released)

### What happened

I change my DAG from
[code]

to

[code]

Remove `access_control` arguments, Scheduler can't sync permissions to db.

If we write code like this,

[code]

It works.

### What you think should happen instead

It should clear permissions to `test` DAG on Role `team`.

I think we should give a consistent behaviour of permissions s

[2022-07-19 16:56] ferruzzi commented on #23832
Closed by https://github.com/apache/airflow/pull/25142

[2022-07-19 17:25] pingzh commented on #25144
hi @potiuk thanks for the comments. In fact for mysql 5.7, the default charset is `utf8` (with collation is `utf8_general_ci` ,which is `utf8mb3` in mysql 5.7 , so using that wont solve the issue.

my question is when setting the db columns an indexes, we might be extra careful about the length. for example, for the key of xcom, do we really need `512` that long?

[2022-07-19 17:26] shubham22 commented on #23900
Closed by https://github.com/apache/airflow/pull/25142
We (AWS OSS team) ended up going with output and error logs of the Glue driver, instead of fetching and displaying logs from each and every Glue Job. This solution provides more visibility into Glue Jobs and at the same time doesn't introduce complexity of managing logs at the job-level - CloudWatch (or any other tool customers use) will remai

[2022-07-19 17:59] potiuk commented on #25144
As explained: actually your problem is that innodb_large_prefix is off) - you should enable it. We are not going to change that requirement.

Yes. Unless you want to break compatibliity of about 10000 installations out there.

[2022-07-19 18:01] potiuk commented on #25144
The really, really big problem is that we cannot make a migration. To decrease the size. This ship has sailed long ago in 1.10. There is no sane way to "cut" ids any more

[2022-07-19 18:02] potiuk commented on #25144
Personally - I would also vote for decreasing the lenght. But there is simply no sane way to release airlfow 2.* with decreased length of id.

[2022-07-19 18:18] denimalpaca opened #25163 "Common-SQL Operators Various Bugs"
### Apache Airflow Provider(s)

common-sql

### Versions of Apache Airflow Providers

`apache-airflow-providers-common-sql==1.0.0`

### Apache Airflow version

2.3.3 (latest released)

### Operating System

macOS Monterey 12.3.1

### Deployment

Astronomer

### Deployment details

_No response_

### What happened

- `SQLTableCheckOperator` builds multiple checks in such a way that if two or more c

[2022-07-19 18:58] Gollum999 opened #25165 "Dynamic Tasks inside of TaskGroup do not have group_id prepended to task_id"
### Apache Airflow version

2.3.3 (latest released)

### What happened

As the title states, if you have dynamically mapped tasks inside of a `TaskGroup`, those tasks do not get the `group_id` prepended to their respective `task_id`s.  This causes at least a couple of undesirable side effects:

1. Task names are truncated in Grid/Graph* View.  The tasks below are named `plus_one` and `plus_two`:

[2022-07-19 19:56] #23832 closed

[2022-07-19 21:28] RNHTTR commented on #23361
I'm able to reliably force a DeadlockDetected exception by creating a DAG with many (i.e. over a hundred) concurrent tasks, setting `max_active_tasks_per_dag` to 75, setting `parallelism` to 100, triggering the DAG, waiting a couple minutes, then deleting the DAG Run. Maybe this is further evidence to @dstaple's proposed workaround limiting the lock to the `task_instance` table or at least a way t

[2022-07-20 06:36] potiuk commented on #25144
Agreee. I think we;ve learned something. Back then when it was changed (before me as committer) we become super careful - we have now not only much better migrations (including being able to go back and forth), automated testing of upgrade and downgrade on CI and very careful reviews of what has changeed precisely beceuse we learned from that experience. Collation and index length for MySQL was so

[2022-07-20 08:11] PatrykKlimowicz opened #25177 "Airflow ElasticSearch provider issue"
### Apache Airflow version

2.3.3 (latest released)

### What happened

Durign usage of Airflow v2.1.3 in my project [this](https://github.com/apache/airflow/issues/17512) issue appeared, and was solved by adding the `Offset_Key` to the [Fluent Bit](https://github.com/fluent/fluent-bit) configuration. This Offset_Key appends the offset field to the logs, so we can retrieve the logs in correct orde

[2022-07-20 10:09] bdsoha opened #25179 "Add auth_type to LivyHook"
### Apache Airflow Provider(s)

apache-livy

### Versions of Apache Airflow Providers

apache-airflow-providers-apache-livy==3.0.0

### Apache Airflow version

2.3.3 (latest released)

### Operating System

Ubuntu 18.04

### Deployment

Other 3rd-party Helm chart

### Deployment details

_No response_

### What happened

This is a feature request as apposed to an issue.

I want to use the `LivyHoo

[2022-07-20 10:11] potiuk commented on #25144
BTW. The limited index size in MySQL is a bummer. This is an extremely bad design choice especially connected with the fact that the actual size taken by the index depends on collation.

Sorry for the RANT, but I am so fed-up with the problems MySQL caused use because of they bad design choices and wrong (IMHO) decisions that it is a blueprint of "how not to treat your users". And whenever I see s

[2022-07-20 10:14] potiuk commented on #25144
I hope the above will explain that I was not mean @pingzh  - it was not my intention for sure. But when someone says that "We should be more careful with our design choices" when it comes to MySQL, there are NO GOOD DESIGN CHOICES. Any design choice you might make might be broken by very bad decisions of their.

[2022-07-20 10:21] eladkal commented on #25179
feel free to submit PR

[2022-07-20 10:30] #24844 closed

[2022-07-20 10:32] eladkal commented on #25118
Closed due to https://github.com/apache/airflow/pull/25119#issuecomment-1189733980

[2022-07-20 10:32] #25118 closed

[2022-07-20 11:04] ccomkhj opened #25180 "Grid doesn't show when trigger_rule="dummy""
### Apache Airflow version

2.3.2

### What happened

Grid doesn't show in the airflow web server page.
When trigger_rule is set to "dummy"

### What you think should happen instead

dummy set up occurs errors.

### How to reproduce
[code]

### Operating System

Ubuntu 20.04.3 LTS

### Versions of Apache Airflow Providers

_No response_

### Deployment

Docker-Compose

### Deployment details

_No

[2022-07-20 11:05] ccomkhj commented on #25180
This is apparently the bug in airflow2.3.2.
When I upgrade to airflow 2.3.3, this error is resolved!

[2022-07-20 11:05] #25180 closed

[2022-07-20 12:33] eladkal commented on #24244
Closed as fixed in 2.3.3

[2022-07-20 14:14] potiuk commented on #25113
Released. I hope @Fokko  the 1.0.1 version is good :)

[2022-07-20 15:46] michaelosthege commented on #24526
Upgrading from 2.2.5 to 2.3.3 I'm running into these issues too.
Thanks to the posts above I'm slowly making progress, and I think I have something useful to add 👇

First I'm trying to fix the the `CHARACTER SET` and `COLLATE` of all tables and columns as described by [this guide](https://confluence.atlassian.com/kb/how-to-fix-the-collation-and-character-set-of-a-mysql-database-manually-744326173.

[2022-07-20 15:54] dstandish opened #25186 "should we normalize scheme and hostname of URI to be lower?"
datasets are defined by their URI

we don't really spelly out what exactly our URI standard is, apart from reserving the `airflow` scheme and  ascii

for websites, the scheme and hostname are case insensitive, while everything else is not.

should we normalize scheme and hostname or allow case sensitive differentiation?

my inclination is, we should allow everything to be case sensitive except pos

[2022-07-20 15:57] Anze- opened #25187 "When creating a duplicated dag name no warning is shown to web UI"
### Apache Airflow version

2.3.3 (latest released)

### What happened

Testing airflow docker installation, checking correct dir mapping by copying one of the default dags into the `./dags` folder.
The new dag is not added as a duplicate because duplication is detected, but the addition fails silently in the web UI while in command line tool the error `Error: Failed to load all files. For details

[2022-07-20 16:15] eladkal commented on #25092
MsSql provider had odbc in the past since pymssql was discontinued. However later the package started continue support and release so the provider was modified to support pymssql and odbc was removed.

For odbc you should use odbc provider directly.

[2022-07-20 16:23] jpmugizi opened #25188 "Example DAG for Snowflake Provider is broken"
### What do you see as an issue?

When navigating to the [example DAG](https://github.com/apache/airflow/tree/main/airflow/providers/snowflake/example_dags) hyperlink provided in the [Airflow API documentation](https://airflow.apache.org/docs/apache-airflow-providers-snowflake/1.3.0/connections/snowflake.html), we land at this error
![image](https://user-images.githubusercontent.com/99832980/18003

[2022-07-20 16:29] potiuk commented on #25186
I believe we should just follow the standards (also because if anyone would like to use any tools to compare the URIs for example might use a tool that is RFC3986 compliant:

This is the URI's RFC: https://datatracker.ietf.org/doc/html/rfc3986 (not this is not HTTP URL RFC it's generir URI RFC so very much our case)

*Although schemes are case-insensitive, the canonical form is lowercase and docum

[2022-07-20 16:31] dstandish commented on #25186
What about Airflow's Connection URI?  We do not do any such normalization there.

[2022-07-20 16:33] potiuk commented on #25186
We do. We use urlparse which is RFC3986 compliant (and will do the normalization for us). https://docs.python.org/3/library/urllib.parse.html

[2022-07-20 16:34] potiuk commented on #25186
(It even has built in support for a number of schemas that implemented their own case-insensitive components)

[2022-07-20 16:35] dstandish commented on #25186
it doesn't though!

[code]

[2022-07-20 16:37] dstandish commented on #25186
oh interesting:
[code]

[2022-07-20 16:39] potiuk commented on #25186
Yep. This is what I was referring to - I believe I even fixed a bug some 2 years ago about RFC3986 compliance in Airflow. Can't find it quickly though

[2022-07-20 16:41] dstandish commented on #25186
so if you call the hostname then it renders as lower.  but maybe by doing that you are implicitly agreeing to that standard.

anyway we don't use this in airflow conn uri parsing.  so we do _not_ normalize in this way and, in effect, treat it as case sensitive.

here it seems we pretty intentionally avoid use of urlparse.hostname for case-sensitivity reasons https://github.com/apache/airflow/blob/

[2022-07-20 16:41] dstandish commented on #25186
yeah i think that line is probably what you're referring to ⬆️

[2022-07-20 16:42] dstandish commented on #25186
here's the PR: https://github.com/apache/airflow/pull/4591

[2022-07-20 16:45] potiuk commented on #25186
Yep. It's a mess. But I think if we are about to  be compliant with OpenLineage and others, being compliant with RFC. The worst we can do is invent yet another "our" interpretation of the standard:

![image](https://user-images.githubusercontent.com/595491/180037810-062285f2-5ade-4d28-8bb2-21475de667f7.png)

[2022-07-20 16:52] potiuk commented on #25144
So just to add one more comment: THIS IS EMBODIMENT what MySQL bad decisions lead to:

https://github.com/apache/airflow/issues/24526#issuecomment-1190450784

Precisely the resuilt of all the mess above.

[2022-07-20 16:59] dstandish commented on #25186
yeah you are probably right.  i'm not saying that we necessarily create a new standard.  what's at stake for me is whether airflow takes on the responsibility of normalizing e.g. when storing in the database.  in other words, given that the URI field is the unique identifier for an airflow dataset, does airflow really need to take on the responsibility of normalizing, such that when a user's code

[2022-07-20 17:11] potiuk commented on #24526
Yes.  But you should also do it for all colums that use different collation (the different CHARACTER seet for thos should be `uf8mb3`). I just looked through all the tables columns and here is a complete list (most of the new ones should have it correctly set - simply not sure which ones were already in 2.2.5):

* slamiss: dag_id
* taskmap:  dag_id, task_id, run_id
* taskreschedule: dag_id, task_i

[2022-07-20 17:13] potiuk commented on #25144
And I just learned by answering #24526 that they are planning to remove utf8mb3 altogether (but this in another part of documentation):

https://dev.mysql.com/doc/refman/8.0/en/charset-unicode-utf8.html

This is a nightmare

I am at a total loss.

[2022-07-20 17:19] potiuk commented on #25187
We know about it. This is not easy to fix due to the way how dags are parsed sequentially in batches. The problem is that it does not scale, because you would have to parse all the dags in order to know all of them at once and there are edge cases such as moving dag to another file. This will likely not be fixed.

[2022-07-20 17:19] #25187 closed

[2022-07-20 17:32] michaelosthege commented on #24526
Thanks, @potiuk from [the documentation on `sql_engine_collation_for_ids`](https://airflow.apache.org/docs/apache-airflow/stable/configurations-ref.html#sql-engine-collation-for-ids) I kew about `dag_id`, `task_id` and `key`, but it did not mention `external_executor_id` ⚠

Also thank you for clarifying the recommended CHARSET/COLLATION:
👉 `DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci` (as describ

[2022-07-20 17:49] #25058 closed

[2022-07-20 19:16] potiuk commented on #24526
Glad I could help.

PRs to the docs are most welcome. I think it would be great if after your experience you help others describing what you have done and update the docs. Airflow is created by > 2100 contributors - most of them users like you, and actually contributing docs to make them clerer and more helpful to others is one of the best contribution you can make  - paying back by the 100% free

[2022-07-20 20:33] collinmcnulty opened #25200 "DAG Run fails when chaining multiple empty mapped tasks"
### Apache Airflow version

2.3.3 (latest released)

### What happened

On Kubernetes Executor and Local Executor (others not tested) a significant fraction of the DAG Runs of a DAG that has two consecutive mapped tasks which are are being passed an empty list are marked as failed when all tasks are either succeeding or being skipped.

![image](https://user-images.githubusercontent.com/13177948/18

[2022-07-20 23:14] vitaly-krugl opened #25209 "Airflow database migration version scripts are unsafe, guaranteed to fail in the future"
### Apache Airflow version

2.3.2

### What happened

Airflow uses unsafe practice in the implementation of multiple migration version scripts, including some recent ones that are guaranteed to fail in the future. Multiple migration version scripts import from Airflow itself, including imports of models.

The problem with this approach is that while the logic implemented by those imports at the ti

[2022-07-21 00:55] uranusjr commented on #25209
Of the examples you provided, only migrations 23, 54 and 73 a problematic (and you can see they are all fairly old). The rest are constants and helper functions that are intended to be used in migrations and guaranteed to not change. We should probably move them to somewhere else and add dev documentation to make this clear, but using them is not a problem on itself.

As for the actual problematic

[2022-07-21 02:58] vitaly-krugl commented on #25209
One of the outcomes of this issue, besides fixing them and having adequate
tests, is having guidelines in a migration/versions/README, or something
like that, which discusses the unsafe practices to avoid. This would help
maintainers and reviewers alike.

On Wed, Jul 20, 2022, 8:55 PM Tzu-ping Chung ***@***.***>
wrote:

[2022-07-21 06:26] uranusjr commented on #25200
Hmm, I wonder if this has something to do with the fact that a task mapped against an empty list produces one single task instance with state REMOVED.

[2022-07-21 06:28] MatrixManAtYrService opened #25210 "Many tasks updating dataset at once causes some of them to fail"
### Apache Airflow version

main (development)

### What happened

I have 16 dags which all update the same dataset.  They're set to finish at the same time (when the seconds on the clock are 00). About three quarters of them behave as expected, but the other quarter fails with errors like:

[code]

I've prepaired a gist with the details: https://gist.github.com/MatrixManAtYrService/b5e58be0949eab

[2022-07-21 06:32] MatrixManAtYrService commented on #25210
This is described here:  https://github.com/apache/airflow/issues/24974

Maybe it's ok that the update failed--given that the downstream dag ran--but I don't think it should cause the task to fail.

[2022-07-21 07:21] potiuk commented on #25186
I think we should at least detect "fat finger" problems. I.e when somoene *Inside airflow installation* creates two different datasets with equivalent urls, we should not allow that. We are able to do do that very easily and warn the user.

I am perfectly ok with storing dataset with URL without normalisation. But at least we should have an unique index which will prevent the user from creating tw

[2022-07-21 08:39] maciejkul opened #25211 "Airflow scheduler spawn zombie process"
### Apache Airflow version

2.3.2

### What happened

Airflow scheduler spawn zombie process. I get more then 5000 zombie in daily interval. As workaround, I restart airflow scheduler container daily.

### Below some information from debug
* i don't have any queued DAGs (I don't see any in webserver).
* i cannot find any Zombie PID in airflow logs
* airflow update from 2.2 to 2.3.2 doesn't change

[2022-07-21 08:41] FanatoniQ commented on #25092
I am using mssql provider in production and for dev setup, pymssql is simpler to use than pyodbc since it bundles the dynamic library directly instead of having to install microsoft's odbc driver or freetds manually.

If I'm not mistaking, your plan is to deprecate the mssql provider.
Will support even bugfixes for it not be accepted, even though the pymssql repo has had updates recently ?
If this

[2022-07-21 08:45] mitsos1os opened #25212 "Conflicting flake8 dependency in Airflow 2.2.2"
### Apache Airflow version

2.2.2

### What happened

Hi, we are using the managed MWAA 2.2.2 version of Airflow. We have set up our requirements installation to use the constraints file from [here](https://raw.githubusercontent.com/apache/airflow/constraints-2.2.2/constraints-3.7.txt)

When we try adding **flake8** to our local requirements setup (using the same constraint file), we are getting a

[2022-07-21 09:13] potiuk commented on #25211
Can you pleasupgrade to 2.3.3  and check if it's fixed there? There were  a number of fixes implemented there and the easiest way to check is to upgrade (whch you should do anyway as it contains important bugfixes).

Please let us know if it occurs after you do.

[2022-07-21 10:04] FanatoniQ commented on #25092
@potiuk I might have misinterpreted your question here

The point I'm trying to make is that since the MsSqlHook is provided by Airflow and its usage has not been deprecated then users (like us) are relying on it, I find it fair to provide a proper way to support pymssql and all inherited methods such as `get_sqlalchemy_engine`.

Since we're probably not the only ones using it in production, I'm p

[2022-07-21 10:18] potiuk commented on #25092
Yep. This is normal that people are creating scenarios in their heads which are not in the heads of the others. It was just a question where I tried to find out what's your motivation and whether PyODBC is not enough. I can imagine very well that you could use the ODBC one.  Maintainers care for maintaining the project, but often when they see a change and propsal they ask questions to find out wh

[2022-07-21 11:17] bbovenzi commented on #25165
Ok I found the issue. If the groups are expanded on the initial page load the labels are correct. If a user clicks to expand a group the labels are not being updated. I'm creating a PR to fix this now.

[2022-07-21 12:57] lavanya282 commented on #14050
Dag sla mechanism is not working for the dag schedule with ‘0 11 * * *’ but it is working for the dag with schedule of running every 5minutes

[2022-07-21 13:05] potiuk commented on #14050
The SLA mechanism is generally broken in many ways. I recommend not to use it until we rewrite it.

[2022-07-21 13:13] Gollum999 commented on #25165
I appreciate the fast response, but could we re-open this?  #25217 only fixes one of the three symptoms that I mentioned above.

I think the "root" fix is to prepend the `group_id` to `MappedOperator.task_id`, like what `BaseOperator` does:
[code]

[2022-07-21 13:23] esthomw commented on #24526
@potiuk would you like me to update my previous suggestion with

?

[2022-07-21 13:43] potiuk commented on #24526
You can do it yourself

[2022-07-21 13:55] MansurEsm commented on #24297
Does this issue happen also with 3.2.1 ?

[2022-07-21 15:02] potiuk commented on #25177
Hmm. there is an on-going change #21942  - @millin maybe you could take a look at the issue here and implement as part of the improvements in #21942 ? And then @PatrykKlimowicz you could test if the change will work ? Might be a good cooperation and I have a little to no experience with Elasticsearch - but maybe you should test each-other's changes?

IT's actually very easy to prepare a new provid

[2022-07-21 15:41] millin commented on #25177
I think this mistake already [fixed here](https://github.com/apache/airflow/pull/21942/files#diff-dd898ab2ed4bca853f1ce5cf52b6fbb37d5fc3545f28967c03dc499fabd3a746R311).

[2022-07-21 16:01] potiuk commented on #25177
HA!. There you go!

@PatrykKlimowicz - how about checking ot the code from #21942 and testing it it works for you :) ?

[2022-07-21 16:25] #25138 closed

[2022-07-21 18:18] erdos2n commented on #23246
unnassigning myself, as I am unable to get the tests to pass

[2022-07-21 18:28] #25033 closed

[2022-07-21 19:08] mikebell90 opened #25222 "Launch Pod/job in separate namespace and support in helm chart"
### Description

Our engineers want to run jobs in a separate namespace from the installed release via helm chart.

It looks to me like right now the rbac configuration has two choices
* multicluster - generates ClusterRole
* !multicluster - generales rolebinding in RELEASE namespace.

Why these don't work for us
* multicluster is too wide, we want to restrict the namespace
* !multicluster - I thi

[2022-07-21 19:28] dstandish commented on #25186
I am actually thinking now that we should abandon URI as the identifier for datasets.  I think part of the motivation for choosing URI was [this document in openlineage](https://github.com/OpenLineage/OpenLineage/blob/main/spec/Naming.md).  But the thing is, openlineage doesn't actually use URI for datasets!  The document is misleading.  In OpenLineage, what defines a dataset is actually `namespac

[2022-07-21 20:06] potiuk commented on #25186
100% on board.

[2022-07-21 20:43] potiuk commented on #25209
@vitaly-krugl - if you would like to propose some guidelines - feel free to make PR. Like everything else in Airflow.,

Airflow is created by > 2100 contributors and if you would lilke to contribute such README and guidelines. That's cool. Seems your experience and ideas and cool and it's the best you ca do to help the community to contribute a PR with such quidelines.

Also I would lilke to draw

[2022-07-21 21:42] erdos2n commented on #25165
Can I take this @bbovenzi ?

[2022-07-21 21:47] bbovenzi commented on #25165
@erdos2n go for it!

[2022-07-21 21:58] erdos2n commented on #25165
I don't know if I can assign myself...

[2022-07-22 00:15] #24400 closed

[2022-07-22 00:15] #18628 closed

[2022-07-22 01:07] pewpewp3w opened #25226 "worker service selector selects pods launched by Kubernetes executor with default charts pod template"
### Official Helm Chart version

1.6.0 (latest released)

### Apache Airflow version

2.3.3 (latest released)

### Kubernetes Version

does not matter

### Helm Chart configuration

important part is
`executor: CeleryKubernetesExecutor`

### Docker Image customisations

_No response_

### What happened

[This](https://github.com/apache/airflow/blob/helm-chart/1.6.0/chart/templates/workers/worker-s

[2022-07-22 02:30] amoGLingle commented on #24909
As an experiment, we're turning off one of the Schedulers - no HA - to see if we still get a deadlock.

[2022-07-22 04:25] uranusjr commented on #25165
This logic already exists; a `@task`-decorated task calls `get_unique_task_id`, which calls `task_group.child_id`. The root cause will be deeper than this.

[2022-07-22 06:56] PatrykKlimowicz commented on #25177
@potiuk I'll try to test 😄 Will be back with some feedback soon

[2022-07-22 08:38] PatrykKlimowicz commented on #25177
@potiuk I followed [this](https://github.com/apache/airflow/blob/main/BREEZE.rst#installation) to setup env with breeze, but I stuck on this error:

[code]

Any ideas?

[2022-07-22 08:51] potiuk commented on #25177
Because that would happen if you run this command in the worktree

[2022-07-22 08:52] potiuk commented on #25177
And there is a flag to disable this command i think - just run it with --help

[2022-07-22 10:06] PatrykKlimowicz commented on #25177
I disabled the SSL and it's "OK" now

[2022-07-22 10:23] potiuk commented on #25177
Cool. I will add the flag - it used to be there in old breeze (and will just turn this error into warning - it's not nessary to be run, it's more to make sure we have latest version of tags :) .

Re: using in K8S - you really need to update your image. There is potentially a way to install it dynamically in your image but it might be more complex than rebuilding the image:

See https://airflow.apa

[2022-07-22 11:54] potiuk commented on #23512
Hey @jhtimmins - is there any solution to this one ? Seems that other users are experiencing similar problems and it prevents them from migration to 2.3.3. https://apache-airflow.slack.com/archives/CCQ7EGB1P/p1658489623406909 for example

I looked at the discussion and could not see a clear solution or workaround for our users. Any ideas what can be done there?

[2022-07-22 11:59] argibbs commented on #15596
This _should_ be fixed by #25147

[2022-07-22 12:45] merlinux commented on #24466
May the cause is you are running two schedulers at time? I've read somewhere that tasks could be triggered twice.
This guys created a failover controller as workaround. https://github.com/teamclairvoyant/airflow-scheduler-failover-controller/blob/master/README.md#installation

[2022-07-22 12:48] aru-trackunit opened #25232 "enable_elastic_disk property incorrectly mapped when making a request to Databricks"
### Apache Airflow version

2.2.2

### What happened

When using `apache-airflow-providers-databricks` in version 2.2.0 I am sending a request to databricks to submit a job.
https://docs.databricks.com/dev-tools/api/latest/jobs.html#operation/JobsCreate -> `api/2.0/jobs/runs/submit`

Databricks is expecting a boolean on a property `enable_elastic_disk` while `airflow-databricks-provider` sends a s

[2022-07-22 12:57] PatrykKlimowicz commented on #25177
@potiuk I deployed the Airflow in my env with new elasticsearch provider package and I have some good news. The #21942 fixed the issue I described!

Is there any ETA maybe for this code to be released?

[2022-07-22 13:03] potiuk commented on #25177
COOOL. I am merging it now then :).

We release providers ~ monthly last release was last week, so expect this one in ~3 weeks or so

[2022-07-22 13:05] #25177 closed

[2022-07-22 13:59] potiuk commented on #25222
Feel free to make PR. Assigned you

[2022-07-22 14:01] #25163 closed

[2022-07-22 14:05] potiuk commented on #25226
I am not sure what you proposes. Maybe open PR, this will be easier to discuss (changing that into discussion, as this is not a bug.  - note that you do not need to have issue opened in order to create PR).

[2022-07-22 14:21] iercan commented on #23512
User @potiuk mentioned is me. We are using docker deployment. After db upgrade, I run `docker-compose down` and recreated all containers ,included postgresql and redis. Somehow it resolved issue for me.

[2022-07-22 14:44] potiuk commented on #25177
https://github.com/apache/airflow/pull/25236 to skip the fetch error and turn it into warning @PatrykKlimowicz

[2022-07-22 14:47] potiuk commented on #23512
The "Somehow" part is what worries me a bit :)

[2022-07-22 16:07] zachliu commented on #23512
exactly, after seeing the `worker existing (pid: xxx)` error message (as shown in the screenshot here https://github.com/apache/airflow/issues/23512#issuecomment-1156682542), the webserver is usually stalled, but "somehow" it recovered. maybe the pod was restarted by k8s

[2022-07-22 16:31] dstandish commented on #25210
nice work!

[2022-07-22 17:08] karakanb commented on #24466
I am running two schedulers, that is correct.

If there's an issue with the HA setup of the scheduler then it needs to be fixed in the scheduler I believe, rather than introducing an additional controller.

The weird thing that I cannot explain still is why is this happening only with the tasks that run on Celery, and not with those that are running on Kubernetes. In both cases I am using CeleryKu

[2022-07-22 18:02] Dr-Denzy opened #25240 "Strip white spaces from values entered into fields in Airflow UI Connections form"
### Apache Airflow version

2.3.3 (latest released)

### What happened

I accidentally (and then intentionally) added leading and trailing white spaces while adding connection parameters in Airflow UI Connections form. What followed was an error message that was not so helpful in tracking down the input error by the user.

### What you think should happen instead

Ideally, I expected that there sh

[2022-07-22 18:56] kevin-woodward commented on #24487
I've filed this issue earlier as well
#23792

[2022-07-22 19:28] dstandish opened #25241 "Add has_dataset_outlets in /grid_data"
Return `has_dataset_outlets` in /grid_data so we can know whether to check for downstream dataset events in grid view.

Also: add `operator`

Also be mindful of performance on those endpoints  (e.g do things in a bulk query), and it should be part of the acceptance criteria.

[2022-07-22 21:03] josh-fell opened #25243 "Mapped tasks with `operator_extra_links` property object causes SerializationError"
### Apache Airflow Provider(s)

amazon

### Versions of Apache Airflow Providers

apache-airflow-providers-amazon-aws==4.1.0

### Apache Airflow version

main (development)

### Operating System

Debian GNU/Linux 11 (bullseye)

### Deployment

Other Docker-based deployment

### Deployment details

Using Breeze on `main` branch.

### What happened

Attempting to create dynamically-mapped tasks usin

[2022-07-22 21:03] #24736 closed

[2022-07-22 21:07] potiuk commented on #25232
Maybe you can provide a PR fixing that? There are Databricks people here (for example @alexott ) that can do some review and double check it. Shall we assign it to you @aru-trackunit ?

[2022-07-22 21:08] potiuk commented on #25232
Basically - things get implemented here when someone implements it. Airflow is created by > 2100 people (most of them like you - users) so if you want to make sure a problem is fixed timely, the best way is to make a PR - otherwise it will have to wait for someone who will pick it up and implement.

[2022-07-22 21:11] potiuk commented on #25232
I marked it as "good first issue" but that's as much as I can do. Same with "eariler version" - if there is somone who commits to cherry-picking the fix and preparing an earlier version of  the provider, they are free to make a PR so there must be someone who will take care of it  The most cretain way is to just roll sleevs up and do it. See https://github.com/apache/airflow#release-process-for-pr

[2022-07-22 21:22] potiuk commented on #25240
Feel free to add a PR. Assigned you.

[2022-07-23 08:48] ephraimbuddy commented on #25200
It seems like a race condition between the scheduler calling `dag_run.update` states vs `mappedoperator expand_mapped_task `updating the task instance state to skipped

[2022-07-23 13:47] collinmcnulty opened #25252 "Give every Airflow component a UUID"
### Description

It would be great if every scheduler, webserver, worker, and triggerer had their own UUID that they emit as part of logs so that when logs from multiple components are put together in a log search tool you can easily track the logs from a specific component.

I would suggest the new UUID 7 so that they can be sorted by start time.

There's a similar argument to be made for giving

[2022-07-23 14:16] collinmcnulty opened #25254 "Add Task Instance Lifecycle History table"
### Description

Any time an Airflow component changes the state of a task instance, it should record that change in an audit-log-like table of changes. Thus the user will be able to easily see what happened to their tasks.

| dag_id      | task_id            | run_id            | map_index | state  | time_changed        | component_type | component_id |
|-------------|--------------------|-------

[2022-07-23 15:12] potiuk commented on #25252
You should take a  look at our OpenTelemetry planned feature https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-49+OpenTelemetry+Support+for+Apache+Airflow  - it has already been voted and approved at the devlist and we will likely start implementing it soon.  And various unique IDs (especially for traces) are part of it. Rather than modify existing behaviour, we should focus on implementig O

[2022-07-23 15:12] #25252 closed

[2022-07-23 15:34] potiuk commented on #25254
I am not sure if keeping it in airflow MetaData DB makes sense, This will put ENORMOUS pressure on the database. We are not going to use it in other parts of the MetaData DB. for anything else - just to "dump" the information.

Since we are going to make most airflow components DB-less (see https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-44+Airflow+Internal+API) that will also put addition

[2022-07-24 06:27] eladkal commented on #23112
closed by https://github.com/apache/airflow/pull/23971 (added the `split_statements` parameter to `run()` )

[2022-07-24 06:27] #23112 closed

[2022-07-24 06:37] eladkal opened #25259 "Add `SqlExecuteQueryOperator`"
### Body

There has been previous attempt to add this operator in https://github.com/apache/airflow/pull/10011
But now after https://github.com/apache/airflow/pull/23971 is completed this should be much easier as `DbApiHook` has unified run method that works for all providers (with some configuration of parameters like `split_statements` etc..)

We can now explore again the option of `SqlExecuteQu

[2022-07-24 08:36] ephraimbuddy commented on #25200
Here's a solution:
[code]
However, I'm worried that trigger rules are not respected

[2022-07-24 13:27] bdsoha commented on #18041
@potiuk I am on version 2.3.3 and am having the same issue described here.

[2022-07-24 13:29] bdsoha commented on #14672
Also seeing this on Airflow 2.3.2 & 2.3.3

[2022-07-24 13:43] potiuk commented on #18041
Then provide an information: logs and analysis and description of your circumstances in a separate issue. It does not bring anyone closer by stating "I have the same issue" without providign any more details that can help with diagnosis of the problem you have (Which BTW might be different issue manifesting similarly - but if you do not create a new issue with your symptomps and description you pr

[2022-07-24 13:46] potiuk commented on #14672
Then (similarly as in #18041 provide an information: logs and analysis and description of your circumstances in a separate issue. It does not bring anyone closer by stating "I have the same issue" without providign any more details that can help with diagnosis of the problem you have. This might be different issue manifesting similarly - but if you do not create a new issue with your symptomps and

[2022-07-24 14:29] potiuk commented on #13668
You shoul both @Airflowcode and @indrakumarm Upgrade to latest 2.3.3 version and see if it helps. If it does not - PLEASE open a new issue where you describe your circumstances in more detail. provide a full stack trace with all details. Your issues ARE DIFFERENT. Tham the issue reported above (even if error is similar). Commenting on a close issue gives you pretty much nothing. The issue reported

[2022-07-24 14:36] potiuk commented on #13668
and @calfzhou - do the same please - explain your arflow version etc. in a separate issue.

[2022-07-24 14:37] potiuk commented on #13668
(and if you post any logs - please post MORE logs than just a very small piece of stack trace. It does not help at all if we do not know when the problem occured).

[2022-07-24 15:02] potiuk commented on #16982
OK. I finally got into it. The reason is actually very simple as I found out.

The patch was supposed to work. BUT your MYSQL version does not support row level locking @tulanowski . You are using MySQL 5.7 and it simply does not have row-locking feature.

MySQL 8 is the first version that actually uses "SELECT FOR UPDATE SKIP_LOCKED functionality" and the problem is that this is what is needed to

[2022-07-24 16:33] anselboero commented on #24963
a [PR](https://github.com/apache/airflow-site/pull/641) on [airflow-site](https://github.com/apache/airflow-site) was submitted and approved, but I don't know when the site will be rebuilded. :)

[2022-07-24 17:02] blcksrx opened #25265 "support continues catchup and backfill"
### Description

catchup and backfill provided good flexibility  to run `Dags` in pasts. the only thing that might concerning on those context is that they might produces a lot of `DagRun`. this situation could leads to some performance issues such as remaining slot availability and long time to finish.
Assume that there is a DAG with `SqlOperator` using this sql template that runs every 15 mins:

[2022-07-24 17:33] potiuk commented on #23361
Thanks for REALLY detailed investigation @dstaple.

I finally had some time to take a look at this and I think your assesment was very correct.

However the solution you proposed is not good, because I think we DO want to run "SELECT FOR UPDATE" on DagRun table. The whole scheduling is based on the fact that DagRun row gets locked and no changes are happening to DagRun and any TaskInstances of tha

[2022-07-24 19:25] kazanzhy commented on #25259
Great idea, I like SqlSensor and use it in my pipelines.
If @mik-laj doesn't have time I could pick it up

[2022-07-24 19:39] eladkal commented on #25259
Feel free to pick it @kazanzhy

[2022-07-24 19:42] Taragolis commented on #23361
Not related to Deadlocks, however is it necessary use `FOR UPDATE` lock rather than `FOR NO KEY UPDATE` ([doc](https://www.postgresql.org/docs/current/explicit-locking.html#LOCKING-ROWS))?

[2022-07-24 20:13] potiuk commented on #23361
Can you do it cross-db (MySQL/Postgres/MySQL?)

[2022-07-24 20:19] potiuk commented on #23361
Also see the discussion I started today - https://lists.apache.org/thread/pgo1qxqsnzwg2do955961tkvxk76m8gw - we have enough trouble about "some" DB features not available in some databases. so we should strive from lowest-common-denominator I am afraid.

[2022-07-24 22:07] dstaple commented on #23361
@potiuk Thanks a ton for the feedback!

Regarding why the dag_run table is locked when `with_for_update()` is called on the TaskInstance table, I believe this is due to `lazy='joined'` in the relationship between TaskInstance and DagRun:
https://github.com/apache/airflow/blob/2.2.5/airflow/models/taskinstance.py#L408

This behavior is described in the following sqlalchemy issue:
https://github.com

[2022-07-24 22:20] Taragolis commented on #23361
I do not actually know about is it supported by other DB engine and is it has exactly the same behaviour.

Definitely it works with all modern PostgreSQL (9.3+) and [sqlalchemy](https://docs.sqlalchemy.org/en/14/changelog/migration_11.html#support-for-for-update-skip-locked-for-no-key-update-for-key-share), basically we need to set `key_share=True`.

One of the difference that with `FOR NO KEY UPD

[2022-07-25 01:18] gemunet commented on #21171
still no solution? I have the same problem which causes my dags not to be executed

[2022-07-25 01:48] kennyth01 opened #25269 "ImportError: cannot import name 'parse_rule' from 'werkzeug.routing' (/root/airflow-venv/airflow_virtualenv/lib/python3.7/site-packages/werkzeug/routing/__init__.py)"
### Apache Airflow version

2.0.2

### What happened

Hi all,
Can anyone guide me, I woke up in the morning and suddenly I have this issue with the ImportError, can anyone guide me, please?

` File "/root/airflow-venv/airflow_virtualenv/lib/python3.7/site-packages/flask_appbuilder/security/decorators.py", line 21, in <module>
    from flask_login import current_user
  File "/root/airflow-venv/airf

[2022-07-25 02:49] rino0601 commented on #25269
I also met this error, then I found my instance's werkzeug version is `2.2.0`
which is doesn't match with [constraints-3.9.txt](https://raw.githubusercontent.com/apache/airflow/constraints-2.3.3/constraints-3.9.txt) list. (werkzeug==2.1.2)

so I downgrade werkzeug to 2.1.2, problem solved in my case.

[2022-07-25 03:13] rino0601 commented on #25269
- werkzeug 2.2.0 released 2 days ago (7/23) https://werkzeug.palletsprojects.com/en/2.2.x/changes/#version-2-2-0
- Change log doesn't mention any breaking change... but.. https://github.com/pallets/werkzeug/pull/2433 breaks import path. (routing.py -> `routing/__init__.py` & miss  parse_rule)

I think we need werkzeug limitation (e.g `werkzeug<2.2`) until flask_login are handle it

[2022-07-25 06:47] jgr-trackunit commented on #25232
Hi, I will provide fix for that issue.

[2022-07-25 07:11] rino0601 opened #25271 "Version 2.3.3 breaks "Plugins as Python packages" feature"
### Apache Airflow version

2.3.3 (latest released)

### What happened

In 2.3.3

If I use https://airflow.apache.org/docs/apache-airflow/stable/plugins.html#plugins-as-python-packages feature, then I see these Error:

short:
`ValueError: The name 'airs' is already registered for this blueprint. Use 'name=' to provide a unique name.`

long:

If I don't use it(workarounding by AIRFLOW__CORE__PLUGIN

[2022-07-25 08:35] argibbs commented on #15596
<sigh>

#25147 improves things slightly, but add enough SLAs to your system and you hit another issue.

Re-opening while I work on a second MR.

[2022-07-25 08:45] potiuk commented on #25271
Yeah. It would be great to get to the bottom of this. Happy to help with investigation if you have some more findings.

[2022-07-25 08:47] vlcheong opened #25274 "Apache Airflow SqlSensor DbApiHook Error"
### Apache Airflow version

2.3.3 (latest released)

### What happened

I trying to make SqlSensor to work with Oracle database, I've installed all the required provider and successfully tested the connection. When I run SqlSensor I got this error message
`ERROR - Failed to execute job 32 for task check_exec_date (The connection type is not supported by SqlSensor. The associated hook should be a s

[2022-07-25 09:37] vishalyadav93 opened #25278 "Manual run showing after schedule run independent of time"
### Apache Airflow version

2.3.3 (latest released)

### What happened

In Tree view of airflow, manual run is always showing after schedule run even though manual run is before schedule run

### What you think should happen instead

UI issue

### How to reproduce

You can run a dag one schedule_run other manual_run. The manual_run should be run before schedule_run , in Tree view of the airflow UI

[2022-07-25 10:07] potiuk commented on #23361
Ahhhhh. That Would indeed explain it. I tink then that my solution is actually the right approach :)

[2022-07-25 10:24] potiuk commented on #23361
@Taragolis  woudl be worth checking. The DagRun lock `SELECT FOR UPDATE SKIP LOCKED' is very much the "Key" (pun intended) to make multiple schedulers work and it also (as you can see) spilled a bit to mini-scheduler and task run" in form of just 'SELECT FOR UPDATE". The "SELECT FOR UPDATE SKIP LOCKED" is precisely the mechanism that allows multiple schedulers to run in parallel with basically no

[2022-07-25 10:27] #25269 closed

[2022-07-25 10:27] potiuk commented on #25269
Closed by #25270

[2022-07-25 11:12] potiuk commented on #25274
Please use the "Common-sql" sensor for that. Instead of `from airflow.sensors import SqlSensor` use `from airflow.providers.common.sql.sensors import SqlSensors` - that should fix the problem.

Unfortunately, other than documenting it, we cannot do much about it.

Please let me know @vlcheong if it fixed your problem. if it does, I will make sure to add appropriate documentation about it.

[2022-07-25 11:13] potiuk commented on #25274
Mybe I will find another solution for that in the future as well - I will think and dig a bit deeper.

[2022-07-25 11:37] hansmbakker opened #25281 "Cannot clone Airflow repo"
### Apache Airflow version

2.3.3 (latest released)

### What happened

The `git clone` command failed because of files in [/tests/www/test_logs/dag_for_testing_log_view](https://github.com/apache/airflow/tree/main/tests/www/test_logs/dag_for_testing_log_view) having invalid names:
[code]

### What you think should happen instead

Either it should checkout

### How to reproduce

Use Windows 11 wit

[2022-07-25 11:38] mk12306 opened #25282 "psycopg2.errors.UndefinedColumn: column dag.concurrency does not exist"
### Apache Airflow version

2.1.4

### What happened

psycopg2.errors.UndefinedColumn: column dag.concurrency does not exist

### What you think should happen instead

enter the systerm

### How to reproduce

_No response_

### Operating System

CentOS Linux 7 (Core)

### Versions of Apache Airflow Providers

_No response_

### Deployment

Docker-Compose

### Deployment details

_No response_

###

[2022-07-25 12:00] hansmbakker commented on #25281
Workaround: cloning inside WSL works, but I believe that using filenames containing characters that are unsafe in a path is not a best practice.

[2022-07-25 12:29] Lazloo opened #25286 "Error description cannot be shown"
### Apache Airflow version

2.3.3 (latest released)

### What happened

Unfortunately, I cannot get further information about my actual error because of the following KeyError

[code]

### What you think should happen instead

_No response_

### How to reproduce

_No response_

### Operating System

I Assume some Linux distribution

### Versions of Apache Airflow Providers

Astronomer Certified:[

[2022-07-25 12:35] potiuk commented on #25286
Hey @alexott - maybe you or someone from your team can help ?

[2022-07-25 12:37] alexott commented on #25286
What is the version of the Databricks provider?

[2022-07-25 12:42] alexott commented on #25286
What is the version of the Databricks provider? Can you also provide an example of the code - what operator are you using, etc.?

[2022-07-25 12:47] Lazloo commented on #25286
Here the code that run the deployment:

[code]

[2022-07-25 12:51] Lazloo commented on #25286
Regarding the Deployment. I currently do not find the concrete version but it is a legacy version (**not** E2)

[2022-07-25 12:53] alexott commented on #25286
what is the version of `apache-airflow-providers-databricks` ? latest?

[2022-07-25 13:01] Lazloo commented on #25286
it is based on quay.io/astronomer/ap-airflow:2.3.3-onbuild

Does this help?

[2022-07-25 13:09] Lazloo commented on #25286
Before we used quay.io/astronomer/ap-airflow:2.2.5-onbuild. After the update we got this error

[2022-07-25 13:23] alexott commented on #25286
it looks like it's caused by this PR: https://github.com/apache/airflow/pull/21709/files - I'll investigate it

[2022-07-25 13:43] potiuk commented on #24909
Question: Which version of which database do you have  @amoGLingle ?

[2022-07-25 13:46] #24820 closed

[2022-07-25 14:29] potiuk commented on #24963
It was rebuil, I even published the new theme, but something is not working apparently @mik-laj  - do we need to do anything else ?

[2022-07-25 16:08] davidism commented on #25269
Flask-Login 0.6.2 was released.

[2022-07-25 16:19] potiuk commented on #25269
Tahnks @davidism !. I will test it out :)

[2022-07-25 16:23] potiuk commented on #25269
https://github.com/apache/airflow/pull/25291 is running now

[2022-07-25 17:02] jgr-trackunit commented on #25232
@potiuk Could you add me to the contributors list? I can't push my local dev branch.
Thanks in advance.

[2022-07-25 17:04] alexott commented on #25232
@jgr-trackunit you need to create your own fork, and create PR from it

[2022-07-25 17:18] dstaple commented on #23361
@potiuk I re-read your explanation and agree completely, the essence of the specific deadlock I did the deep-dive on above is `TaskInstance.refresh_from_db` and `DagRun.schedule_tis` both lock `task_instance` and `dag_run`, but in opposite orders, which causes a deadlock. I agree if we change `TaskInstance.refresh_from_db` to guarantee the order, that should prevent deadlocks between those two sta

[2022-07-25 17:27] dstandish commented on #25254
other options to consider...

you could set up CDC on your database for this table

we could add taskinstance state changes to the existing `log` table.  but yeah, this would produce a _lot_ of events.  would could imagine making it optional, to enable verbose state tracking for debugging purposes.  but i do wonder what impact this would have on the codebase, whether it would be overly burdensome,

[2022-07-25 17:40] potiuk commented on #23361
@dstaple - woudl be great if you check. I think we can merge it regardlless (it's super easy to revert) - so there is no problem with some delays. I also was not sure if the DELETE issue is the same. It could be (and I have the scenario in my head):

DELETE DagRun with CASCADE on TI - first creates lock on the DagRun an only THEN an the TaskInstamce - very similarly to what Scheduler does.

And in

[2022-07-25 19:00] potiuk commented on #25274
Yeah. I found a solution that will make it works also if you use legacy SqlSensor (will be released in the next common.sql provider)

[2022-07-25 19:00] potiuk commented on #25274
See #25293

[2022-07-25 19:28] LukeHong commented on #24586
This should be closed

[2022-07-25 19:59] potiuk commented on #25232
Yep. See https://github.com/apache/airflow/blob/main/CONTRIBUTING.rst for all details about contribution (including the need to create a fork).

[2022-07-25 20:08] potiuk commented on #25254
Yep. This is precisely what OTel integration and especially Traces should provide. And they could provide it on much better lavel. For example - you will be able to trace way more than jusst task instance state changes - but also all the "deferred" behaviours in Triggerer. I think asking triggerer for example to save all the possible state changes to the meta-data DB is quite counter-productive, w

[2022-07-25 20:44] howardyoo commented on #25254
Traces should be something worth to look into in addressing these sort of data (using logs to track changes? that would be possible, but not ideal), and as @potiuk mentioned, Specifications such as OTEL was made to keep track of these information. Rather than having these information stored inside the airflow's database, these so called `events` can be published out from the airflow into sophistic

[2022-07-25 21:18] RNHTTR commented on #23361
I'm on it!

[2022-07-25 21:42] #24586 closed

[2022-07-26 00:40] julienledem commented on #25254
Another place where it would be useful to surface this information is through the OpenLineage integration. Currently, it sees only state transitions that occurs on the Worker through the TaskInstanceListener. It would be useful to collect more of those through additional listeners in Airflow. The OL integration could send more events besides start and end and capture the additional info as metadat

[2022-07-26 00:59] bmoon4 commented on #25271
In FAB 2.X, registering the same blueprint more than once is prohibited.

Problem is `entry_points_with_dist('airflow.plugins')` is returning the plugin twice.
https://github.com/apache/airflow/blob/2.3.3/airflow/plugins_manager.py#L224-L225

[2022-07-26 01:17] kennyth01 commented on #25269
thanks!

[2022-07-26 01:51] hwooson12 opened #25295 "ParamsDict represents the class object itself, not keys and values on Task Instance Details"
### Apache Airflow version

2.3.3 (latest released)

### What happened

ParamsDict's printable presentation shows the class object itself like `<airflow.models.param.ParamsDict object at 0x7fd0eba9bb80>` on the page of Task Instance Detail because it does not have `__repr__` method in its class.

<img width="791" alt="image" src="https://user-images.githubusercontent.com/16971553/180902761-88b9dd9

[2022-07-26 04:03] uranusjr commented on #25271
The most likely cause is the plugin appears twice in `sys.path` and thus loaded multiple times by `importlib.metadata`. We can add some sort of registry that keeps track what distributions have been loaded (by distribution name) to avoid this.

[2022-07-26 04:32] hliu47 opened #25297 "on_failure_callback is not called when task is terminated externally"
### Apache Airflow version

2.2.5

### What happened

`on_failure_callback` is not called when task is terminated externally.
A similar issue was reported in [#14422](https://github.com/apache/airflow/issues/14422) and fixed in [#15172](https://github.com/apache/airflow/pull/15172).
However, the code that fixed this was changed in a later PR [#16301](https://github.com/apache/airflow/pull/16301),

[2022-07-26 09:34] ephraimbuddy commented on #25200
The error at the scheduler log:
[code]
The task log for the successful task with failed dagrun(last lines), the two other tasks were skipped as expected:
[code]
The task log for the successful task with successful dagrun(last lines), the two other tasks were skipped as expected:
[code]

[2022-07-26 11:43] HiGal opened #25307 "Can't install swig3.0 in docker container using airflow2.3.2-python3.8"
### Apache Airflow version

2.3.2

### What happened

I am trying to install swig3.0 inside airflow container for Jamspell using following Dockerfile
[code]

I got following error
[code]

### What you think should happen instead

When I used previous version 2.1.0 I didn't meet those error.

### How to reproduce

To reproduce you should try to build following docker image from this Dockerfile:
[co

[2022-07-26 13:49] Lazloo commented on #25286
@alexott  Could you already find something out?

[2022-07-26 13:50] ashb commented on #24014
@uranusjr Could you add this to your todo list to fix please?

[2022-07-26 13:55] alexott commented on #25286
I know the culprit (linked PR), but I need to get time to fix it (most probably around weekend...)

[2022-07-26 14:02] Bowrna commented on #24168
@potiuk Could you check if Slack example DAGs are already merged? I found this PR merged #25137

[2022-07-26 14:04] anselboero commented on #24963
Ah Ok. Then I probably forgot something. I'm sorry. I will try to learn more about sphinx API.

[2022-07-26 14:16] tony-brookes commented on #16764
This one really caught me out the other day as I couldn't see from the dependency lines being drawn in the graph view why my tasks were starting with their dependencies un-met.

It would seem that for task groups to be totally convenient it shouldn't matter when I add the dependency information, the outcome should be the same (as others have posted.). Because that's exactly what would happen when

[2022-07-26 16:15] dclandau opened #25313 "BaseSQLToGCSOperator parquet export format not limiting file size bug"
### Apache Airflow Provider(s)

google

### Versions of Apache Airflow Providers

apache-airflow-providers-google==6.8.0

### Apache Airflow version

2.3.2

### Operating System

Debian GNU/Linux 11 (bullseye)

### Deployment

Docker-Compose

### Deployment details

_No response_

### What happened

When using the `PostgresToGCSOperator(..., export_format='parquet', approx_max_file_size_bytes=Y, .

[2022-07-26 16:28] rgmz commented on #25271
Indeed. One reason this can happen is if there are separate `lib` and `lib64` directories, as `pip install` seems to copy the package to both directories.

For example:
[code]

[2022-07-26 16:33] HugoCornu commented on #22073
Separating task_id and task display name would allow to haev several similar tasks showing the same name.

[2022-07-26 17:17] uranusjr commented on #25271
It’s probably not pip installing things to both directories; on some systems these two are symbolically linked (i.e. the same directory).

[2022-07-26 18:07] fritz-astronomer opened #25317 "`postgres://` vs `postgresql://` inconsistency"
### Apache Airflow version

2.3.3 (latest released)

### What happened

Airflow is inconsistent regarding it's treatment of `postgres` vs `postgresql`
`postgresql` is correct for a URI, however `postgres` is also fine for a "Conn Type".

This at the very least causes confusion, if not errors, depending on how a connection is accessed (correct via `PostgresHook`, incorrect via `BaseHook`).
It is al

[2022-07-26 18:09] fritz-astronomer commented on #25317
That being said - I'm not sure what to fix

* We wouldn't change `conn_type` to be `postgresql` - that seems like an unnecessarily large/breaking change, and `postgres` is a perfectly valid `conn_type`
* We wouldn't remove `postgresql://` in `PostgresHook.get_uri` - as it's required and correct for SQLAlchemy
* we can't add the `get_uri` fix to `BaseHook`, because it doesn't have the method

[2022-07-26 18:39] viniciusdsmello commented on #11054
Does anyone know the status of this feature request? I came across it, and I think it'd be very interesting to have something like this. At my team, we're working on DAGs that our users can trigger through Airflow UI, and their UX would be improved with it.

[2022-07-26 18:47] #25113 closed

[2022-07-26 18:56] josh-fell opened #25319 "Update code examples from "classic" operators to TaskFlow decorators in docs"
### Body

Related to #9415, which updates the code example DAGs to use the TaskFlow API, the documentation throughout should also reflect the same functional style for overall documentation alignment as well as encourage users and bring more visibility to these TaskFlow decorators.

Currently there are 3 core TaskFlow decorators can be used instead of their "classic" operator counterparts.
| Class

[2022-07-26 19:05] NorthWindH commented on #25060
Just commenting that I'm also seeing this issue on 2.3.3

[2022-07-26 20:24] dstandish commented on #25317
I think we resolved this.  Connection.get_uri is for generating airflow conn uri -- which is not the same thing as the uri that sqlalchemy uses for making a db connection (and that's what the Hook get_uri is for).  So for airflow connection URI, scheme == conn_type, and that's why it's postgres not postgresql.  For sqlalchemy, though, it needs postgresql, and that's what hook provides.

[2022-07-26 20:24] #25317 closed

[2022-07-26 22:06] potiuk commented on #11054
The status is as usual in OSS - if someone gets interested in it , it gets implemented. For example if you, or your company is interested in it, they could assign someone to implement it. This woudl be a fantastic contribution back, fort the software the company gets for free.

Happy to assign you or any of your team to work on it. Will you ?

[2022-07-26 22:09] potiuk commented on #11054
BTW. This is how most of the features here get implemented. Someone (often a user) who is interested, simply starts working on it and provides a PR - we have > 2100  contributors.

Picking a task that you /your company is insterested in  and contributing it back is one of the best ways to join the group of contributors.

[2022-07-26 23:10] vara-bonthu opened #25322 "Amazon S3 for logging using IAM role for service accounts(IRSA)"
### What do you see as an issue?

I am using the latest Helm Chart version (see the version below) to deploy Airflow on Amazon EKS and trying to configure S3 for logging. We have few docs that explain how to add logging variables through `values.yaml` but that isn't sufficient for configuring S3 logging with IRSA. I couldn't find any other logs that explains this configuration in detail hence i am

[2022-07-26 23:58] cloventt opened #25325 ""Maximum recursion depth exceeded" when configuring task logs to go to both the task logger and console for a Kubernetes worker"
### Apache Airflow version

2.3.3 (latest released)

### What happened

I am trying to configure my Kubernetes task workers to log task logs to their STDOUT, so that they can be tailed by the UI while tasks are running. In addition I want log files to be sent to S3, so I have set `logging.remote_logging` to `True` and `logging.remote_base_log_folder` to a location in an S3 bucket. By default, Kube

[2022-07-27 00:19] ReadytoRocc opened #25326 "The AWS Secrets Backends (SM and SSM) do not allow configuration of Assume Role Methods via Backend Kwargs"
### Description

My current understanding, is that the methods documented [here](https://docs.aws.amazon.com/cli/latest/topic/config-vars.html#credentials) outline the ways we can authorize AWS Secrets Manager or AWS Systems Manager as a [Secrets Backend](https://airflow.apache.org/docs/apache-airflow/2.3.3/security/secrets/secrets-backend/index.html). This requires managing authorization via Envi

[2022-07-27 04:25] MatrixManAtYrService opened #25330 "User defined `env` clobbers PATH, BashOperator can't find bash"
### Apache Airflow version

main (development)

### What happened

NixOS is unconventional in some ways. For instance `which bash` prints `/run/current-system/sw/bin/bash`, which isn't a place that most people expect to go looking for bash.

I can't be sure if this is the reason--or if it's some other peculiarity--but on NixOS, cases where `BashOperator` defines an `env` cause the task to fail wit

[2022-07-27 04:32] uranusjr commented on #25330
The easiest fix is likely to find Bash before `PATH` gets overridden. In `execute`, we can first resolve `bash` with `shutil.which`, and then call `run_command` with that resolved bash path (which should be absolute).

[2022-07-27 04:33] MatrixManAtYrService commented on #25330
Thanks @uranusjr, I'll give that a try.

[2022-07-27 07:13] #25295 closed

[2022-07-27 07:58] uranusjr commented on #25243
Instead of going through trouble trying to accomodate dynamic extra links, perhaps we should just detect those and mark them as dynamically and can’t be shown.

[2022-07-27 08:36] #23792 closed

[2022-07-27 08:36] #24487 closed

[2022-07-27 09:56] potiuk commented on #25326
Feel free . Also @o-nikolas and @ferruzzi and @vincbeck might want to chime-in

[2022-07-27 12:04] hankehly commented on #25319
Please assign this to me!

[2022-07-27 12:40] josh-fell commented on #25319
All yours! FYI, if you feel that these updates would be best done in multiple PRs that's totally fine.

[2022-07-27 15:02] potiuk commented on #25254
On that front (might be a good place to discuss)- what do you think @julienledem and @howardyoo  about the relation betweeen OTEL traces and OpenLineage ones ?

I see those two as pretty orthogonal. OTEL is task/DAG based, and OpenLineage (and lineage in general) are dataset-based. As I see, those are two rather separate and differnet dimentions you can look at when it comes to Airlfow DAGs. They

[2022-07-27 15:28] nicolamarangoni opened #25343 "Object of type datetime is not JSON serializable after detecting zombie jobs with CeleryExecutor and separated Scheduler and DAG-Processor"
### Apache Airflow version

2.3.3 (latest released)

### What happened

After running for a certain period (few minutes until several hours depending on the number of active DAGs in the environment) The scheduler crashes with the following error message:
[code]

### What you think should happen instead

The scheduler should handle zombie jobs without crashing.

### How to reproduce

The following

[2022-07-27 15:46] barrywhart opened #25344 "Improve Airflow logging for operator Jinja template processing"
### Description

When an operator uses Jinja templating, debugging issues is difficult because the Airflow task log only displays a stack trace.

### Use case/motivation

When there's a templating issue, I'd like to have some specific, actionable info to help understand the problem. At minimum:
* Which operator or task had the issue?
* Which field had the issue?
* What was the Jinja template?

Pos

[2022-07-27 16:50] potiuk commented on #25344
By all means if you can improve it - feel free. This is a huge pain sometimes !

[2022-07-27 16:51] potiuk commented on #25344
Best to iterate on a PR - then you can see the code /tests everything else and comment directly there. So feel free to open a PR about it.

[2022-07-27 16:53] potiuk commented on #25344
There is one comment I want to make though - it should be rather logged "after" the fact and only when there are problems. This will complicate the PR a bit but should be relatively easy to implement. We certainly do not want to flood the logs with thousands of rendering logs.

[2022-07-27 17:15] eladkal commented on #25344
Isn't this information already available in Render tab?

[2022-07-27 17:17] potiuk commented on #25344
Some people prefer CLI and logs to see problems I believe :)

[2022-07-27 17:36] eladkal commented on #25344
For sure but Jinja may also contain connection template (secrets). If we decide to add logging then we need to consider how to handle it.

[2022-07-27 18:28] potiuk commented on #25344
Logs are redacted - this should be no problem.

[2022-07-27 19:19] pdebelak opened #25349 "Vault client for hashicorp provider prints a deprecation warning when using kubernetes login"
### Apache Airflow Provider(s)

hashicorp

### Versions of Apache Airflow Providers

[code]

### Apache Airflow version

2.3.0

### Operating System

Ubuntu 18.04

### Deployment

Official Apache Airflow Helm Chart

### Deployment details

_No response_

### What happened

Using the vault secrets backend prints a deprecation warning when using the kubernetes auth method:

[code]

This code is stil

[2022-07-27 19:27] potiuk commented on #25349
Feel free to prepare PR :)

[2022-07-27 20:09] mtilda commented on #25317
@dstandish I don't quite follow your explanation...

Can you justify the behavior of this code?
[code]
Output:
[code]

---

It is my understanding that the class `Connection` should be completely agnostic to the system the connection is for (i.e. SQLAlchemy). Why would there be a hardcoded mutation of the `conn_id`?

Let's assume I'm not using SQLAlchemy, rather some other system that requires the

[2022-07-27 20:17] dstandish commented on #25317
@mtilda you are misunderstanding what the `uri` is in `Connection(uri=`

this uri is the airflow connection uri -- airflow's airflow-specific format for serializing an _airflow_ connection to a URI.

this is entirely different from the connection URI that you might use with sqlalchemy.  a sqlalchemy connection is not an airflow Connection.

to generate the sqlalchemy conn uri do PostgresHook('my_c

[2022-07-27 22:11] #25274 closed

[2022-07-27 22:49] MatrixManAtYrService opened #25352 "expand_kwargs.map(func) gives unhelpful error message if func returns list"
### Apache Airflow version

main (development)

### What happened

Here's a DAG:

[code]

The `foo` task instance succeeds  as expected, and the `bar` task fails as expected.  But the error message that it gives isn't particularly helpful to a user who doesn't know what they did wrong:

[code]

### What you think should happen instead

Whatever checks the return value for mappability should do mor

[2022-07-27 23:34] AetherUnbound opened #25353 "Backfill stalls with certain combination of skipped tasks & trigger rules"
### Apache Airflow version

2.3.0

### What happened

While trying to run a backfill for one of our DAGs, we noticed that the backfill stalled after completing all the tasks for a given DAG. The `max_active_runs` for this DAG was set to `1`, so the entire backfill stalled even though all the tasks in the last DAG it ran completed successfully.

### What you think should happen instead

I would ass

[2022-07-27 23:45] AetherUnbound commented on #25353
Ha, I could have sworn I've submitted other issues in the past! 😄 Looks like it was with my old @madison-ookla account 🙂

[2022-07-28 03:12] mik-laj commented on #24988
Do you consider to use airbyte? https://airbyte.com/connectors/sendgrid

[2022-07-28 08:08] JavierLopezT opened #25357 "Default JSON for dag_run.conf in the UI"
### Description

It would be nice to be able to define a default JSON that already appears written in the UI. So for instance, you would define in the code something like:

with DAG(blabla):
    operators
    dag.default_run_conf = '{"date": "2020/01/01", "module": "ff", "serial_number", "123"}'

And in the UI, once you click on Trigger DAG with configuration, this would be there automatically:
![

[2022-07-28 08:17] eladkal commented on #25357
Isn't this what Params do?
https://airflow.apache.org/docs/apache-airflow/stable/concepts/params.html

[2022-07-28 08:23] uranusjr commented on #25357
Yes I think this exactly what Params are supposed to take over for. Maybe we should deprecate `dag_run.conf` altogether and start pointing people to it, or are there still reasons to prefer `conf`?

[2022-07-28 10:34] #25241 closed

[2022-07-28 10:44] Taragolis opened #25360 "Extra Links do not works with mapped operators"
### Apache Airflow version

main (development)

### What happened

I found that Extra Links do not work with dynamic tasks at all - links inaccessible, but same Extra Links works fine with not mapped operators.

I think the nature of that extra links assign to parent task instance (i do not know how to correct name this TI) but not to actual mapped TIs.

As result we only have `number extra links

[2022-07-28 11:11] eladkal commented on #25313
feel free to submit PR

[2022-07-28 13:01] sophiely commented on #22328
Hi ! I don't know if you have some updates on this issue but I started a PR for this bug :)

It's on draft for now because it's still a wip but do not hesitate to comment if you feel the need to.

[https://github.com/apache/airflow/pull/25366](url)

[2022-07-28 13:49] potiuk commented on #25297
Since you know what caused it maybe you would like to provide a fix for it @hliu47 ? Sounds like nice contribution back for the free project and you cn ebecome one of the > 2100 contributors to it.

[2022-07-28 14:02] sm-kacper commented on #10724
Totally agree, we are in a very similar situation. We have plenty of dags and we use tags to group them by client, environment, service they are using etc. It would be perfect option for our use case to use AND operator in tags, so that we can choose a small subset of dags f.e. all dags that use certain api for given client.

[2022-07-28 14:54] karkyra opened #25372 "CPU utilization 100 % loads in one worker nodes"
### Apache Airflow version

2.1.1

### What happened

There are 7 workers. 1 worker node loads 100% CPU utilization, 5 worker nodes CPU Utilization 70-80 % and 1 worker nodes CPU utilization within 20 %. it doesn't distributing loads equally between the nodes.
Airflow running in Kubernetes and using airflow Kubernetes executor.

### What you think should happen instead

Loads should be distributed

[2022-07-28 14:57] moreaupascal56 opened #25373 "SimpleHttpOperator: have an option to load data by batches"
### Description

`SimpleHttpOperator` is useful to leverage Airflow http connections.
But right now the operator can only be used to load data at once, and not by batches. It would be useful to be able to load the data by batches inside one `SimpleHttpOperator` instead of having several `SimpleHttpOperator`.

### Use case/motivation

Some APIs have limit of rows for one PUT request, it means that

[2022-07-28 15:06] potiuk commented on #25286
assigned you then :)

[2022-07-28 15:14] atrbgithub opened #25376 "Unable to specify in memory db for SQL Alchemy connection"
### Apache Airflow version

2.3.3 (latest released)

### What happened

Prior to attempting to upgrade to Airflow 2.3.3 from Airflow 1.10.14, we had the following configuration for our tests:

[code]

However this now breaks with:
[code]

### What you think should happen instead

Should work as before.

### How to reproduce

Specify connection string as `sqlite:///:memory:`

### Operating System

[2022-07-28 15:15] #22465 closed

[2022-07-28 15:16] potiuk commented on #24168
Yep. Just re-run the script and closed it.

Summary of ALL issues: for 45 issues
   Completed and closed issues: 40/45: 88.89%
   Completed files 171/275 = 62.18%

 Issues that are not completed and are still opened:

 * [Migrate Google example DAGs to new design](https://github.com/apache/airflow/issues/22447): 47/89 : 52.81%
 * [Migrate Amazon example DAGs to new design](https://github.com/apach

[2022-07-28 15:19] #23954 closed

[2022-07-28 15:27] nicolamarangoni opened #25377 "SSLCertVerificationError from JenkinsJobTriggerOperator"
### Apache Airflow version

2.3.3 (latest released)

### What happened

After upgrading to alpine 3.16.1, Python 3.10 and AirFlow 2.3.3, the JenkinsJobTriggerOperator cannot connect to Jenkins because it cannot verify the SSL certificate:
[code]

### What you think should happen instead

The JenkinsJobTriggerOperator should successfully connect to Jenkins over https

### How to reproduce

Write a

[2022-07-28 15:32] potiuk commented on #25372
Airflow is not a solution to distribute the load evenly. I am not sure where you took the notion that this "should" happen.

You can control your Kubernetes resources on your own if you want and fine-tune it, but Airflow does not do it (and will likely never do) on it's own.

[2022-07-28 15:32] #25372 closed

[2022-07-28 15:40] potiuk commented on #25373
I am not sure what interface you are proposing and why. I am not sure if it can be useful without seeing the interface, but if you want to make a PR proposal - feel free to attempt it - but I think it might be difficult to design it in a useful way. Simple Http Operator has generally rather little use when it comes to parallel or massive requests., especially to download some largel amounts of dat

[2022-07-28 15:58] barrywhart commented on #25344
Thanks, I'll try and create a PR some time in the next 1-2 weeks.

[2022-07-28 16:03] swalkowski commented on #23497
Should we reopen this issue given that the fix has been reverted? Is there an alternative plan for resolving it?

[2022-07-28 16:05] RNHTTR commented on #25200
Could this be related to #23361  and resolved by #25312 ?

[2022-07-28 16:12] potiuk commented on #25376
Correct. We only support file-based sqlite. Sqlite is anyhow only used for development convenience and should never be used in production so we do not keep compatibility. If you wish you can make PR to fix it (if you find a way) but this is certainly not someting we support or document so it might break at any time anyway.

[2022-07-28 16:12] #25376 closed

[2022-07-28 16:15] potiuk commented on #25377
This the problem of Alpine, not Airlfow. you need to make sure you have the right system certificates installed. There is nothing we can do about it.

[2022-07-28 16:15] #25377 closed

[2022-07-28 16:16] potiuk commented on #25377
There are plenty of similar issues (with ways to solve) if you google for it.

[2022-07-28 16:22] potiuk commented on #23497
As usual here :) - if someone fixes it, it will get fixed. But I do not think it's a high priority for anyone.

[2022-07-28 16:23] potiuk commented on #23497
But if you would like to fix it - feel absolutely free @swalkowski :)

[2022-07-28 16:51] jceresini opened #25383 "The documentation on data_interval_end is unclear"
### What do you see as an issue?

The [documentation](https://airflow.apache.org/docs/apache-airflow/stable/templates-ref.html) for the template variable `data_interval_end` states simply that its the "End of the data interval". Initially I took that to mean the final second/microsecond (depending on precision) of the data interval, but its actually the start of the next interval.

For example,  g

[2022-07-28 16:54] ferruzzi commented on #25326
@potiuk - I appreciate the ping.   I'm not familiar enough with the Secrets Backend yet to have any useful opinion on this one.  At face value, it sounds like a useful addition, but I can't predict any unintended side-effects at this time. :+1:

[2022-07-28 17:06] potiuk commented on #22073
Sure.Anyone is free to submit PR s imeplementing it @HugoCornu - yourself including.

[2022-07-28 17:18] potiuk commented on #25383
Feel free to explain it better. You are probably the best person in the world to know how to phrase it better as you just struggled with it.

[2022-07-28 17:19] potiuk commented on #25383
Assigned you to it.

[2022-07-28 17:39] #25330 closed

[2022-07-28 17:59] potiuk commented on #25322
Feel free @vara-bonthu - Adding better documentation for that woudl be awesome. Assigned you.

[2022-07-28 18:15] potiuk commented on #25343
@mhenc  - maybe you can take a look - this looks like a case where serialisation of the callback will fail (because we are trying to serialize dateteime object in this specific case).

[2022-07-28 18:23] #25349 closed

[2022-07-28 19:35] potiuk commented on #25353
[code]

@ashb - that might be another manifestation of the same deadlock case we saw recently.

[2022-07-28 20:05] potiuk commented on #10724
Just repeating myself - but Airflow is created by >2100 contributors - mostly users who want to solve their problems.

Contributions are most welcome and if any of the people here would like to go an extra mile (or rather foot) to add this as a feature - you are most welcome!

This is the fastest and most certain way to get it implemented.

[2022-07-28 22:08] akashgangulyhf opened #25388 "apache-airflow-providers-jdbc fails with jaydebeapi.Error"
### Apache Airflow Provider(s)

jdbc

### Versions of Apache Airflow Providers

I am using apache-airflow-providers-jdbc==3.0.0 for Airflow 2.3.3 as per constraint [file](https://raw.githubusercontent.com/apache/airflow/constraints-2.3.3/constraints-3.10.txt)

### Apache Airflow version

2.3.3 (latest released)

### Operating System

K8 on Linux

### Deployment

Official Apache Airflow Helm Chart

[2022-07-28 22:23] MatrixManAtYrService opened #25389 "TypeError when `func` returns `None` in `expand_kwargs(func)`"
### Apache Airflow version

main (development)

### What happened

Here's a DAG:

[code]

My understanding (from [this test](https://github.com/apache/airflow/blob/main/tests/models/test_xcom_arg_map.py#L110)) is that I should be able to return `None` and prevent a task from being created for that item.  But when I try to run this I get an error:

[code]

### What you think should happen instead

[2022-07-28 23:54] uranusjr commented on #25389
This should be covered by #25355. New error messasge would be

[code]

[2022-07-29 02:08] joshua-yeung-mox commented on #25060
We are also facing this issue when we use dynamic task mapping in 2.3.3
The scheduler crashes after a while when we enable the dag that uses dynamic task mapping
As a result, we need to downgrade to 2.3.2
But 2.3.2 has an issue related to Task Group, UI shows incorrect status in grid view (https://github.com/apache/airflow/issues/24998). This affect our daily operation as we cannot see the status

[2022-07-29 04:35] uranusjr commented on #25200
I think it is related to #23361, but I’m not entirely sure if #25312 would do it. It would fix the deadlock, but the underlying race condition between the scheduler and task process still exists. I think #25060 is also likely a consequence to this?

[2022-07-29 04:55] MatrixManAtYrService commented on #25389
Oh.  Sorry for the noise then.  I had jumped to the conclusion that `None` was used to indicate "no task for this one", but I guess that's what `AirflowSkipException` is for.

[2022-07-29 04:58] #25389 closed

[2022-07-29 05:16] uranusjr commented on #25389
Yeah, AirflowSkipException is the way to go. It may not be obvious for some users (you are too experienced 😉) so I’m adding it to the documentation; see #24489.

[2022-07-29 05:54] eladkal commented on #25090
Can we solve both by allowing users to choose the order layout?
However I think start_date makes most sense in this view as its simple to understand. If using execution_date/ data_interval and mixing scheduled with manual runs it may be more complecated to understand?

[2022-07-29 06:40] uranusjr commented on #25090
I think the data interval would be OK for mixed scheduled and manual runs since AIP-39 took extra care to align them across run types. `execution_date` would definitely be confusing (because it has different semantics between those types) but is probably OK as a backup. I’m cautious to using `start_date` since when the run starts doesn’t necessarily contain any inherit logic, but perhaps `data_int

[2022-07-29 07:38] uranusjr commented on #25383
`data_interval_end` is the end of the data interval, not the start of the next data interval. For a DAG that runs every five minutes, the data interval is the _span between that five minutes_, not the single second/minute/whatever the DAG is run. This is explained in the documentation, so I think the appropriate fix would be to link to that section.

https://airflow.apache.org/docs/apache-airflow/

[2022-07-29 08:38] potiuk commented on #25388
@kazanzhy ->  maybe you can help? (In the meantime @akashgangulyhf ->  you can always downgrade the provider to previous version - this is the nice thing about providers that you can downgrade them individuall if you see error even if "blessed" version is different.

[2022-07-29 08:39] akashgangulyhf commented on #25388
Hi @potiuk , Thanks for picking this up. I tried doing so but we have a dependency check with the constraint file and Airflow 2.3.3 doesn't allow <3.0.0 for jdbc operator

[2022-07-29 08:43] potiuk commented on #25388
Don't use constraints for that @akashgangulyhf. See https://airflow.apache.org/docs/apache-airflow/stable/installation/installing-from-pypi.html#installing-upgrading-downgrading-providers-separately-from-airflow-core

[2022-07-29 08:45] akashgangulyhf commented on #25388
I see, let me see if I can go with that approach. Thanks.

[2022-07-29 08:58] #25352 closed

[2022-07-29 09:14] francescomucio opened #25392 "Possibility to document DAG with a separated markdown file"
### Description

Have the possibility to use `doc_md` also to indicate a  markdown ile containing the documentation for a DAG

### Use case/motivation

Currently [it is possible to document a DAG or task](https://airflow.apache.org/docs/apache-airflow/stable/concepts/dags.html#dag-task-documentation) using `doc_md`.

Sometimes these description can become quite long and pollute the DAG code, moreo

[2022-07-29 09:15] bugraoz93 commented on #23638
Hey @potiuk, would I take over this issue to do it? I am willing to work on it. Most probably, I will need help and more discussions over how we should do it.
I am not %100 aware of the code base related to this one. Because of that, I will try to look at the code base that is responsible for this feature. Then I can come up with a solution to discuss.

[2022-07-29 10:08] potiuk commented on #25090
I think either `data_interval_start` and `data_interval_end` are good.

Traditionally `end` woudl have been betterm but with the new "PlainCronTimetable" we are finally getting into the realm of "normal cron behaviour" (which opens up Airflow to number of different "logical" cases) and with it `start` will seems much more natural.

Somehow I have a feeling that we should be able to choose (per DAG

[2022-07-29 10:23] druthven opened #25395 "GCSToSnowflakeOperator with feature parity to the S3ToSnowflakeOperator"
### Description

Require an operator similar to the S3ToSnowflakeOperator but for GCS to load data stored in GCS to a Snowflake table.

### Use case/motivation

Same as the S3ToSnowflakeOperator.

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://githu

[2022-07-29 11:08] potiuk commented on #23638
Sure. Best it to do exploration on your own and come up with some POC PR (even not complete) so that the help can be over the "real" code

[2022-07-29 11:22] potiuk commented on #25395
Marked it as good first issue - maybe someone will pick it up- but FYI @druthven - in OSS project like this, such features like this get implemented when .... someone implements it. So the best way (if you are really into getting this to happne) is to implement it yourself and become one of the many contributors (> 2100)  - most of them users like you who had the need for something and implemented

[2022-07-29 11:31] bugraoz93 commented on #23638
Sure, thanks a lot! That would be great.

[2022-07-29 14:55] atrbgithub commented on #25376
Just in case anyone else runs into this, the fix is to use this for the connection string for in memory db:

[code]

[2022-07-29 16:00] nicolamarangoni commented on #25377
Well, it was neither Alpine Linux nor Python 3.10.x. It was pip, but it is only a supposition.
Here what happened...
Some days ago I had to downgrade 2 providers because the new versions of them were buggy, hier the Dockerfile
[code]
Usually python uses the operating system location to load the ssl-certificates `/etc/ssl/certs/ca-certificates.crt,` where our company-certs are maintained by our kub

[2022-07-29 18:16] park-peter opened #25408 "data interval for manual runs show different behavior compared to scheduled runs"
### Apache Airflow version

2.3.3 (latest released)

### What happened

When manually triggering a dag run using "Trigger DAG w/ config" and setting the logical date and time, the UI of the dag run triggered will show a data interval that is two schedule intervals off. For example, for a daily run, setting the logical date to 2022-07-24 00:00:00 UTC would show the data interval with a start date o

[2022-07-29 18:20] charlesdong1991 opened #25409 "[Templating]: attributes not defined in `templated_fields` also get value rendered"
### Apache Airflow version

2.2.2

### What happened

Use a custom operator inherited from BaseOperator, and try to assign a list of sql files to an attribute that is not defined in `template_fields`, but it still gets rendered, unless the value assigned to the attribute is a string.

Below is the minimum reproducible example and its output, except with a query folder next to dag file, and in this

[2022-07-29 20:14] hliu47 commented on #25297
@potiuk Thank you so much for replying in this issue. I think there is already a PR in the main branch https://github.com/apache/airflow/pull/21877 that fixed the issue. So is there a timeline for getting that PR into a release?

[2022-07-29 20:27] potiuk commented on #25297
Interesting - that should get to 2.4.0 release, initial goal is to get it out mid-August, but we releas when things are ready so it depends on testing phase.

[2022-07-29 20:32] Taragolis commented on #25409
I think the root of the problem is that Python strings is immutable, but list is mutable.

[code]

[2022-07-29 21:05] blcksrx commented on #25395
I would like to do it

[2022-07-29 21:30] Taragolis commented on #25395
@potiuk @blcksrx Just want to mention that right now S3ToSnowflakeOperator it is just wrapper around [COPY INTO \<table>](https://docs.snowflake.com/en/sql-reference/sql/copy-into-table.html#syntax) where location is `externalStage`.  Due to the fact that operator only uses internal snowflake capabilities: [STAGE](https://docs.snowflake.com/en/sql-reference/sql/create-stage.html) it should work no

[2022-07-30 01:56] uranusjr commented on #25409
Yes, your `original_inputs_one` and `inputs_one` (same as `two`) ultimately point to the same value, and it’s just how Python works. Airflow can’t blindly do `copy.copy` either since while it solves the problem for built-in types, you’d still hit the same issue if you pass in custom class objects. So I’m inclined to close this as won’t fix.

[2022-07-30 01:56] #25409 closed

[2022-07-30 03:44] uranusjr commented on #25408
Duplicate of #23689

[2022-07-30 03:44] #25408 closed

[2022-07-30 05:45] eladkal commented on #25395
@Taragolis can you start a PR?

[2022-07-30 07:40] charlesdong1991 commented on #25409
ah, I see where it went wrong!!

Great thanks for the answer!!! Appreciate it a lot!! @Taragolis @uranusjr 🙇

[2022-07-30 09:25] Taragolis commented on #25409
@charlesdong1991 Just a silly question, why you need keep original values of rendered attributes?

Due to my experience last time when someone want to keep both value did it only for logging purpose, however original values before rendering shown in UI: `Task Instances -> Task Instance Detail -> Task Attributes`

![image](https://user-images.githubusercontent.com/3998685/181904152-8dea7513-da36-46

[2022-07-30 10:01] Taragolis commented on #25395
@eladkal I could start but at the moment I have problems with time balance. So if I start with this PR I am afraid it wouldn't happen before mid of August.

If someone want work on this feature right now I will be happy to give the opportunity to extend the existing operator to someone else.

In case if it won't implements at moment when I ready to work on this PR I will create PR definitely.

[2022-07-30 11:13] charlesdong1991 commented on #25409
Hey, @Taragolis it isn't silly at all, probably I am doing something very silly, haha 😅

So the use case at my company is, when we get the parsed sql query from for instance the file `haha.sql`, we also want to get this filename used for other logics in our codebase. However, when setting the `template_fields` and `template_ext`, we cannot get that original filename anymore, and then we take a wor

[2022-07-30 16:28] Bowrna commented on #25319
@hankehly Could i take part of the issue if you don't mind? :) I am happy to help with this.

[2022-07-30 17:11] blcksrx commented on #25395
I can work on it

[2022-07-31 05:07] hankehly commented on #25319
Absolutely. Let's create a PR per file so we don't overlap

[2022-07-31 06:24] Bowrna commented on #25319
yeah sure @hankehly Please choose the files that you are taking and share it here. I will choose the ones that i will pick and share it too.

[2022-07-31 13:42] eladkal commented on #24168
we seem to miss some? for example:
https://github.com/apache/airflow/blob/main/airflow/providers/arangodb/example_dags/example_arangodb.py

[2022-07-31 13:50] FanatoniQ opened #25429 "common sql fetch_all_handler bug"
### Apache Airflow version

main (development)

### What happened

The common sql `fetch_all_handler` modified by #19313 uses `cursor.returns_rows` which is not dbapi2 compliant but sqlalchemy specific.

The `DBApiHook.run` method does not use `sqlalchemy` since it uses `get_conn` and most (if not all) drivers cursors do not have the `returns_rows` attribute (ex: `pymssql` and `jaydebeapi` do not

[2022-07-31 14:44] benbenbang commented on #9713
Our current implementation is exactly the same idea as #23560. Sadly, I never get feedback from our legal...

Another thing I think is worth mentioning is that to prevent the same outage, we build all the URI in the deployment time and inject them into AWS SSM as a "frontier." So, all the more "static" connections can be fetched from SSM. For the new/ad-hoc changes, we get them from Vault.

I hope

[2022-07-31 15:18] eladkal commented on #25429
Is it the same bug as https://github.com/apache/airflow/pull/25412 tries to solve?

[2022-07-31 15:56] FanatoniQ commented on #25429
Not exactly the same #25412, but I guess you are right: same as #25388.
I have a working fix in this PR #25430

@kazanzhy  @akashgangulyhf if you want to collaborate on the PR feel free to do so.

PS: we can close this issue and have the #25388 be the real issue (FYI: this isn't a jdbc issue but it's common to all sql drivers :fearful: )

[2022-07-31 16:04] FanatoniQ commented on #25388
@potiuk @akashgangulyhf  I just want to point out that this isn't related to the `jaydebeapi` driver.

Currently any sql providers using the `fetch_all_handler` will fail since https://github.com/apache/airflow/pull/23971/files#diff-6e1b2f961cb951d05d66d2d814ef5f6d8f8bf8f43c40fb5d40e27a031fed8dd7R35 change to the `fetch_all_handler` implementation, making the handler non dbapi2 compliant but only

[2022-07-31 16:34] cansjt opened #25431 "Operator deepcopy does not honor `shallow_copy_attrs` if value also referenced in `__init_kwargs`"
### Apache Airflow version

2.3.3 (latest released)

### What happened

When implementing a custom operator I stumbled on the following issue:
- There is a way to indicate that an attibute of operator should be shallow-copied, instead of deepcopied (by adding its name to the `<OperatorClass>.shallow_copy_attrs` class attribute);
- Most operator attributes see their value set in the operator's `__i

[2022-07-31 16:48] dwreeves commented on #25104
Sorry for radio silence. I _should_ have a first pass at a PR done later today, so long as I don't uncover any bugs as I flesh out the test cases.

It was tricky to maintain backwards compatibility, make the migration as smooth as possible for users, and make sure the changes can off-ramp into a more sane API down the line. But I think I got something. :)

[2022-07-31 19:06] deepaklearner opened #25433 "Adding execution time monitoring feature to Airflow for monitoring long running of tasks"
### Description

Adding execution time monitoring feature to Airflow for monitoring long-running tasks. Also, an alerting feature will be added, which will compare the runtime with the average of the last 15 runs (excluding the boundary ones after sorting the run time values to exclude any erroneous data).

### Use case/motivation

The execution time monitoring and alerting feature is currently av

[2022-08-01 01:57] hliu47 commented on #25297
That's good to know, thanks!

[2022-08-01 02:31] uranusjr commented on #25429
Duplicate of #25388

[2022-08-01 02:31] #25429 closed

[2022-08-01 06:23] uranusjr commented on #25090
This is likely too much burden on the user; I imagine most users don’t actually have a good grasp on how the runs _should_ be ordered and would be hard-pressed to choose a “correct” value.

But I wonder if making the logic _per-timetable_ make sense, i.e. for some timetables the start makes more sense, and some the end, so a hook on the timetable class to return a “logical” date (pardon the name)

[2022-08-01 06:43] eladkal commented on #25433
It's under progress in [AIP-49 OpenTelemetry Support for Apache Airflow](https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-49+OpenTelemetry+Support+for+Apache+Airflow)

[2022-08-01 06:43] #25433 closed

[2022-08-01 07:20] uranusjr commented on #25149
Looks like the issue is in `dagbag.py`. If a DAG’s `access_control` is empty, permission-sync is skipped entirely. I think it should check whether there’s existing permission configurations and reset those if needed instead.

[2022-08-01 07:21] uranusjr commented on #25149
Change that introduced the issue (I think): #15464

[2022-08-01 07:50] cansjt commented on #25431
Greping through the code on the `main` branch, I cannot find any place where the `__init_kwargs` attribute is actually ever read. It is set in different places, but not read:
[code]
What am I missing?

[2022-08-01 09:42] noose opened #25438 "Dags stucks on the "running" state"
### Apache Airflow version

2.3.3 (latest released)

### What happened

To be honest I don't know why it stopped working properly.
In our process we have 2 DAGs per client, first DAG have 3 tasks, second one have 5-8 tasks. In general first DAG should take ~3min, second one ~5-10min to finish. A week ago we've added 2 new clients with similar amount of data than previous customers and airflow star

[2022-08-01 10:18] em-eman commented on #25438
Just to add more insights for current issue which is created by my colleague :

There are two types of dags where dag one act as a internal scheduler which runs with 1 min heartbeat to check for files in s3 once the file is arrived in s3 then it will trigger the second dag to do data processing and other types of pythpn operator in our pipeline .
Dag One  (scheduler) -> to check file in s3 and tri

[2022-08-01 11:56] nicolamarangoni opened #25442 "jenkins_job_trigger requests.exceptions.HTTPError: 400 Client Error: Bad Request for url"
### Apache Airflow version

2.3.3 (latest released)

### What happened

The following task using the **JenkinsJobTriggerOperator** to trigger a job on **Jenkins 2.346.1**
[code]
runs into the following error since upgrading to 2.3.x:
[code]

### What you think should happen instead

The **JenkinsJobTriggerOperator** should successfully start a job on Jenkins.

### How to reproduce

Create a DAG wi

[2022-08-01 12:11] avshoram opened #25443 "airflow 2.3.3 keeps generating *-reply-celery-pidbox queues in SQS"
### Apache Airflow version

2.3.3 (latest released)

### What happened

Airflow keeps creating *-reply-celery-pidbox queues in SQS even with AIRFLOW__CELERY__WORKER_ENABLE_REMOTE_CONTROL=**false**

### What you think should happen instead

The flag according to documentation https://airflow.apache.org/docs/apache-airflow/stable/configurations-ref.html should prevent doing that.

### How to reprodu

[2022-08-01 12:35] enricogandini opened #25444 "Missing icons in Airflow website for Firefox"
### Apache Airflow version

2.3.3 (latest released)

### What happened

I just started using Airflow. After initializing the airflow database and creating a user, I initialized the Airflow webserver and scheduler.

Using the Firefox browser, I went to localhost:8080, and I logged in. Many icons were missing, as you can see from the screenshot
![Screenshot 2022-08-01 at 14-19-01 DAGs - Airflow](htt

[2022-08-01 14:23] sbrandtb opened #25446 "Helm Chart: Allow adding annotations to statsd deployment"
### Description

Helm Chart [does not allow adding annotations](https://github.com/apache/airflow/blob/40eefd84797f5085e6c3fef6cbd6f713ceb3c3d8/chart/templates/statsd/statsd-deployment.yaml#L60-L63) to StatsD deployment. We should add it.

### Use case/motivation

In our Kubernetes cluster we need to set annotations on deployments that should be scraped by Prometheus. Having an exporter that does

[2022-08-01 15:08] dene14 opened #25448 "Scheduler polling is extremely heavy for big DAGs"
### Apache Airflow version

2.3.3 (latest released)

### What happened

Scheduler polling for last occurrence of task execution is extremely heavy and slow.

### What you think should happen instead

Scheduler doing a lot of polling, all the queries should be highly optimized and lightweight.

### How to reproduce

Create a DAG that runs quite often (let's say hourly) that have many tasks in it e.

[2022-08-01 16:59] dstandish commented on #25186
lost the battle on this one @potiuk.  still URI.

[2022-08-01 17:09] park-peter commented on #23689
I ran into the same situation as referenced in #25408. @seongwon77 even though the UI shows the data interval with 2 schedules off, the actual date that the dag run processes is a correct one, i.e. if you manually run a dag for `2022-07-03T00:00:00`, `{{ ds_nodate }}` will be `20220703`. The `prev_ds` and `next_ds` will also be `2022-07-03` as they are equal when a run is manually triggered. It's

[2022-08-01 18:09] park-peter commented on #23689
@uranusjr I take what I said back about the issue only existing in the UI.
![image](https://user-images.githubusercontent.com/46539900/182213651-145102bf-e3aa-4eb0-94a5-281663acfe3a.png)

[2022-08-01 18:13] uranusjr commented on #23689
Looks like this is an issue in the timetable implementation when the logical date falls exactly on the trigger date.

[2022-08-01 18:21] park-peter commented on #23689
But it still behaves differently than with the scheduled runs. Below are with `schedule_interval='@daily'`

For scheduled runs:
logical date = `2022-08-01T00:00:00`
start_date = `2022-08-01T00:00:00`
end_date = `2022-08-02T00:00:00`

For manual runs, intentionally triggering it not exactly on the trigger date:
logical date = `2022-08-01T09:30:00`
start_date = `2022-07-31T00:00:00`
end_date = `2022

[2022-08-01 18:37] potiuk commented on #25090
Yep. That would make perfect sense.

[2022-08-01 20:47] barrywhart commented on #25344
PR created!

#25452

[2022-08-01 20:48] potiuk commented on #25186
Now we need to decide on what is the acceptable false-positive on duplicated URIs we can go with. This will hit us sooner or later, so it's quite necessary to make a conscious decision on it and accept the consequences, rather than leave it for interpretation.

[2022-08-01 20:50] dstandish commented on #25186
er false negative, i think you mean.

[2022-08-01 22:36] potiuk commented on #25186
positive :)

[2022-08-01 22:36] potiuk commented on #25186
I mean positive that it is false-negative, that is :D

[2022-08-01 23:46] EdwardRadical commented on #25165
Same core issue as https://github.com/apache/airflow/issues/23621.

As far as I can tell this is not correct, this is the reason I found back when I opened it:

[2022-08-02 01:19] dstandish commented on #25186
Haha nice

[2022-08-02 02:58] uranusjr commented on #23689
The `@daily` schedule interval is specifically dfefined as _create a run for each calendar day_, so the data interval must be between two midnights. The logical date is derived from the data interval, and for a scheduled date it is natural to use one of the terminal times as the logical date (the fact Airflow uses the _start_ is a historical issue; it should have used the end, but it is what it is

[2022-08-02 03:04] allenhaozi opened #25455 "Questions about Variable Settings"
### Apache Airflow version

2.2.5

### What happened

I use a Variable to dynamically set the number of a task, and the code is as follows
[code]
But I found that if I changed the value when the last instance was running
You will find that it affects instances that are already running
Is this logic by Design?

### What you think should happen instead

_No response_

### How to reproduce

_No respo

[2022-08-02 04:02] sudohainguyen opened #25456 "Rendered SQL duplicated in log when using VerticaOperator"
### Apache Airflow Provider(s)

vertica

### Versions of Apache Airflow Providers

3.1.0

### Apache Airflow version

2.3.2

### Operating System

MacOS - arm64

### Deployment

Virtualenv installation

### Deployment details

_No response_

### What happened

Rendered SQL duplicated in task log

### What you think should happen instead

When VerticaOperator is being executed, we should disable lo

[2022-08-02 05:20] uranusjr commented on #25165
MappedOperator does not call the function on its own, but receives the converted `task_id` from either when the BaseOperator calls `partial` or `expand`. Search for `child_id` and `get_unique_task_id` in the code base, and you can find them called when a task is expanded.

[2022-08-02 07:00] nicolamarangoni commented on #25343
It looks like the necessary condition for this serialisation error is just the separation of scheduler and dag-processor in 2 different containers, the CeleryExecutor is not necessary to reproduce the error.
However, without Celery the error is much rarer and restarting all services fixes it.
On the contrary, with Celery, restarting the services doesn't fix this issue.

[code]

[2022-08-02 07:43] ephraimbuddy commented on #25343
I'm taking a look

[2022-08-02 07:53] ephraimbuddy commented on #25343
Basically, the start_date and end_date in SimpleTaskInstance.from_ti can't be serialized because they are datetime. I was able to reproduce it yesterday

[2022-08-02 08:01] manmedia opened #25461 "PostgreSQL Database Backend Section Requires some additional info on fallback hosts"
### What do you see as an issue?

1. Airflow uses SQLAlchemy - which in turn uses Psycopg2 for database communication with PostgreSQL backend
2. It is possible to use multiple database hosts where a High Availability (HA) is required - i.e. a primary database host and one/multiple secondary hosts for a postgreSQL ecosystem. The objective is - when and if the primary database host is unavailable, t

[2022-08-02 08:07] moreaupascal56 commented on #25373
thanks @potiuk for your answer, yes with a little more thinking this seems too complicated, it will be better to use something else. Have a great day, closing this :)

[2022-08-02 08:07] #25373 closed

[2022-08-02 08:16] nicolamarangoni commented on #25343
Thanks for debugging! Is this something that happens only when scheduler and dag-processor run in separated processes or can it happen even if the run together?

[2022-08-02 08:16] Swalloow commented on #22652
Issue resolved https://github.com/apache/airflow/pull/22712

[2022-08-02 08:16] #22652 closed

[2022-08-02 08:17] isaacnorman82 opened #25462 "ODBC Hook documention doesn't say how to provide a connection ID"
### What do you see as an issue?

In this document (which may have moved since the stable release)
https://airflow.apache.org/docs/apache-airflow-providers-odbc/stable/_api/airflow/providers/odbc/hooks/odbc/index.html#module-airflow.providers.odbc.hooks.odbc

There's no mention of the OdbcHook needing an argument, odbc_conn_id="my_odbc_connection" otherwise it looks for a default of 'odbc_default'

[2022-08-02 08:46] meryll opened #25463 "Unable to mark_tasks.set_state to SKIPPED"
### Apache Airflow version

2.3.3 (latest released)

### What happened

Crash while trying to call set_state from module common.mark_tasks with state SKIPPED.
TaskInstanceState can be set to SKIPPED but while trying to set the same state to downstream dags the app crashes at DagRunState does not accept SKIPPED state.

### What you think should happen instead

Either:

- allow DagRunState to be SKI

[2022-08-02 08:49] uranusjr commented on #25463
That function is an internal helper that should not be called directly. Why are you doing it?

[2022-08-02 08:56] meryll commented on #25463
Unfortunately we are calling this function from our custom airflow plugin. And currently, I am in the process of migrating it from airflow 2.2.3 to 2.3.3..
Is there any other way to set airflow tasks to SKIPPED?

[2022-08-02 09:02] uranusjr commented on #25463
The official way is to use the REST API. If you _must not_ send HTTP requests, [`set_state` on `TaskInstance`](https://airflow.apache.org/docs/apache-airflow/stable/_api/airflow/models/taskinstance/index.html#airflow.models.taskinstance.TaskInstance) is currently considered supported, although direct access to `airflow.models` is generally strongly discouraged.

In the mean time, I’ll close this i

[2022-08-02 09:02] #25463 closed

[2022-08-02 10:09] koroder commented on #22073
I am looking to make my first contribution to Airflow. Would it be okay if I work on this issue?

[2022-08-02 10:10] koroder commented on #25313
@eladkal  I am looking to make my first contribution to Airflow. Would it be okay if I work on this issue?

[2022-08-02 10:13] EricGao888 commented on #22073
@koroder It's totally fine from my perspective. As currently I'm busy with another project. Thx.

[2022-08-02 10:16] EricGao888 commented on #22073
@koroder BTW, you may directly start from this PR if you'd like to. #22118

[2022-08-02 10:26] koroder commented on #22073
Awesome! This is really helpful - I will take it from here.

[2022-08-02 11:11] potiuk commented on #25461
Feel free to add it. BTW. There is no need to add issue. We are PR-driven, not issue-driven. If you make a PR and it's good, accepted and reviewed, we will merge it.

We are not beauracratic - unless something is a huge change, then it requires a devlist discussion and voting, but if it's a dccumentation update you can just submit it as is, without creating issue first.

[2022-08-02 11:11] potiuk commented on #25461
BTW. Since you created the issue, please refer to it (by number) in your PR so that it will be closed automatically when we merge it.

[2022-08-02 11:18] potiuk commented on #25462
Would you like to provide such an update ? It's easy and you can become one of the > 2100 contributors. Otherwise I mark it as good first issue and maybe someone will pick it up and implement it but the fastest way for you to help others (since you already know what you think is best and solved it for yourself) is to contribute such PR.

IT's super-easy - just open the page you want to edit in our

[2022-08-02 11:19] andreafromcape commented on #25165
No. I already went through this once with you in the issue I referenced but I must assume I was completely ignored. This is the complete snippet:

[code]

This happens at the time `expand` is called: albeit `tg_task_id` indeed contains the correct label, it is ignored because `tg_task_id not in dag.task_ids` evaluates to `True` (for obvious reasons, I hope), so the naked `task_id` is returned by `

[2022-08-02 11:29] isaacnorman82 commented on #25462
I'm not against contributing, but there are a few bits to resolve:

1. Where is the page now on tip, if you click the button that takes you to report issue/fix it is no longer found. I guess it got moved since last stable release.
2. Is there precedent in another file that uses kwargs in airflow for docstrings? The real problem is that the variable isn't there to annotate.
3. Is someone familiar w

[2022-08-02 11:33] potiuk commented on #25313
Feel free but check if maybe @dclandau has not done something already

[2022-08-02 11:46] potiuk commented on #25462
It's because it comes from the dosctring of the class. So it's a bit more complex as you need to find the class and edit it there.

I thin it reguires looking up through the code - so feel free to do it. No matter who does it - it can be you or anyone else, but I guess no-one knows the answer by heart - this is open-source, all code is open :). There is nothing hidden there.

Yes. Discussing in PR

[2022-08-02 11:50] TomMonkeyMan opened #25467 "airflow scheduler did not trigger the weekly cron dag"
### Apache Airflow version

2.0.1

### What happened

hi, I'm planning the dag with bash operator to be run every Monday 8 am with "00 08 * * 1", but the dag did not get triggered. tested with "00 08 * * 1-2" and it was working well. can anyone help with it?

### What you think should happen instead

_No response_

### How to reproduce

_No response_

### Operating System

Debian GNU/Linux 10

###

[2022-08-02 12:12] dclandau commented on #25313
I've got a commit ready. I am just preparing the commit message to be within the guidelines

[2022-08-02 12:21] koroder commented on #25313
Ok. I will find something new :)

[2022-08-02 12:41] dclandau commented on #25313
Here is the [PR](https://github.com/apache/airflow/pull/25469).

[2022-08-02 14:36] dclandau opened #25474 "PostgresToGCSOperator parquet format mapping inconsistencies converts boolean data type to string"
### Apache Airflow Provider(s)

google

### Versions of Apache Airflow Providers

apache-airflow-providers-google==6.8.0

### Apache Airflow version

2.3.2

### Operating System

Debian GNU/Linux 11 (bullseye)

### Deployment

Docker-Compose

### Deployment details

_No response_

### What happened

When converting postgres native data type to bigquery data types, [this](https://github.com/apache/

[2022-08-02 15:48] jedcunningham commented on #25446
@sbrandtb, would you be interested in opening a PR to add it?

[2022-08-02 15:51] potiuk commented on #25377
Cool. Glad you solved it.

[2022-08-02 17:51] potiuk commented on #24168
If It was added later then it is likely. Maybe someone can add a review after that as a cleanup.

[2022-08-02 18:07] ferruzzi commented on #24168
Yeah, I've noticed the same in the AWS package, some new ones have been added since so we'll have to do a "final pass" after the checklist is cleared.

[2022-08-02 18:20] #21941 closed

[2022-08-02 18:27] potiuk commented on #25431
I think if you want to propose something, it's better to open PR and discuss it there adding your explanation over the code. This will make it far more productive discussion than trying to wrap the head around copy & pasted code from various places. This will take a long time for anyone looking at it to spend their energy on, and making a draft PR with what you proposed to do is far better IMHO. I

[2022-08-02 19:01] potiuk commented on #25442
I hope someone who knows jenkins can take a look and diagnose/fix it. Marked it as good first issue

[2022-08-02 19:02] potiuk commented on #25443
Airflow does not have official support for SQS - only rabbitmq and redis are officially supported

[2022-08-02 19:21] potiuk commented on #25448
I think this should start with optimising the ORM query itsellf @ashb here to chime-in. But you have to remember that we have multiple databases and SQLAlchemy mapping should work for all of them. Not all queries can be optimised, and - almost by definition - ORM is not there to run "most optimized" queries, but to run "portable queries" and to make it easier to manage and maintain the DB access.

[2022-08-02 19:40] #25344 closed

[2022-08-02 19:55] potiuk commented on #25165
@andreafromcape - since you understand how things work, I urge you to provide PR fixing the problem and unit test testing it. This will make far more productive discussion, when you go through all the deep dive there and check exactly how it works,. I am not saying anything said here is correct/not correct, but in any case you seem to be smart and knowledgeable, so the best way to show it (and hel

[2022-08-02 20:28] #25474 closed

[2022-08-02 20:44] sfc-gh-madkins commented on #24456
Kamil -- Any update on this from your side?

On Mon, Jul 11, 2022 at 6:36 AM Jarek Potiuk ***@***.***>
wrote:

[2022-08-02 21:05] #22007 closed

[2022-08-02 21:06] #20320 closed

[2022-08-02 21:14] dKosarevsky opened #25488 "The associated hook should be a subclass of 'DbApiHook'. Got VerticaHook"
### Apache Airflow version

2.3.3 (latest released)

### What happened

I trying to make custom VerticaToGoogleSheetsOperator to work with Vertica database & GoogleSheets, I've installed all the required provider and successfully tested the connection. When I run VerticaToGoogleSheetsOperator I got this error message
[code]

### What you think should happen instead

I think it's a bug in [BaseSQLO

[2022-08-02 21:23] potiuk commented on #25488
This is a bug introduce in the common.sql provider and it will be fixed in the upcoming version - fixed in #25293

For now the solution is to downgrade to previous version of Vertica 3.0.0 provider as a workaround (there are no functional differences in 3.1.0).  You will be able to upgrade when we release a new common-sql provider in ~ 2 weeks.

[2022-08-02 21:24] potiuk commented on #25488
Closing as duplicate of #25274

[2022-08-02 21:24] #25488 closed

[2022-08-02 21:50] #25343 closed

[2022-08-02 22:36] MartinUQ commented on #11334
So this is done but not in official release ? I can find it in the settings

[2022-08-02 23:44] wolfier opened #25492 "API server /plugin crashes"
### Apache Airflow version

2.3.3 (latest released)

### What happened

The `/plugins` endpoint returned a 500 http status code.

[code]

The error message in the webserver is as followed

[code]

### What you think should happen instead

The response should contain all the plugins integrated with Airflow.

### How to reproduce

Create a simple plugin in the plugin directory.

`appbuilder_views.py

[2022-08-03 00:03] wolfier opened #25493 "URL contains tag query parameter but Airflow UI does not correctly visualize the tags"
### Apache Airflow version

2.3.3 (latest released)

### What happened

An URL I saved in the past, `https://astronomer.astronomer.run/dx4o2568/home?tags=test`,  has the tag field in the query parameter though I was not aware of this. When I clicked on the URL, I was confused because I did not see any DAGs when I should have a bunch.

After closer inspection, I realized that the URL has the tag fi

[2022-08-03 02:43] josh-fell opened #25495 "Add documentation for Facebook Ads connection type"
Related: [#25453 (comment)](https://github.com/apache/airflow/pull/25453/files#r936183279)

Currently [no documentation exists for setting up a Facebook Ads connection](https://airflow.apache.org/docs/apache-airflow-providers-facebook/stable/index.html) used by the [`FacebookAdsReportingHook`](https://github.com/apache/airflow/blob/d0048414a6d3bdc282cc738af0185a9a1cd63ef8/airflow/providers/faceboo

[2022-08-03 03:29] Anuragbisenn opened #25498 "bug"
### Apache Airflow version

2.3.2

### What happened

i am using [https://airflow.apache.org/api/v1/dags/{dag_id}/dagRuns/{dag_run_id}/taskInstances/{task_id}/{map_index}](https://airflow.apache.org/api/v1/dags/%7Bdag_id%7D/dagRuns/%7Bdag_run_id%7D/taskInstances/%7Btask_id%7D/%7Bmap_index%7D) but i got the error related to {map_index} parameter. it is an integer value like -1, but does not get the

[2022-08-03 04:20] uranusjr commented on #25360
This looks like an issue in JavaScript? In the popup modal, the extra link button(s) should not be shown in the “All X mapped instances” view, but only when a map index is selected. It seems like the buttons are not rendered because requests to `/extra_link` are not made when the map_index dropdown value is changed.

cc @bbovenzi

[2022-08-03 05:44] potiuk commented on #11334
No. The AIP is not yet complete. It is in progress and currently airflow is a mixture of old and new UI. Until it is fully converted, dark mode will not happen consistently.

[2022-08-03 06:06] #25313 closed

[2022-08-03 07:09] alanatlemba commented on #23529
Would be great to get this feature.  @potiuk / @nitinmuteja seems it got stuck a few months back.  I'm relatively new to Airflow (only a couple of years of Python experience, million years of experience in C# prior), and wouldn't mind sinking some time into it (not a ton).

[2022-08-03 07:17] gitruhul commented on #23926
I am not sure it is allowed to comment on the closed issue.

After adding **AIRFLOW__WEBSERVER__UPDATE_FAB_PERMS=False**, My role mapping is not working properly.

I have integrated Airflow with an Identity Gateway through OAuth. By the mapping, I was supposed to get an Admin role UI, but I am seeing no roles (Public roles) page.

If I set the above flag to True, I am seeing the Admin role (UI wit

[2022-08-03 08:33] jcborras commented on #8907
FWIW:
I encountered a similar issue lately which could be traced to slow HTTP responses when requesting resources `/dag_stats` and `/task_stats`. The culprit is the database query which under certain circumstances (namely large number of rows and large number of active DAGs) it shows a) long response time and b) low susceptibility to optimization.
This situation has a bad fix though: DB query ops

[2022-08-03 08:52] jcborras opened #25502 "Slow home page stats load due to inefficient DB queries."
### Apache Airflow version

2.1.2

### What happened

When loading AirFlow v2 home page subsequent requests include `GET /last_dagruns`, `GET /dag_stats` and `GET /tasks_stats` which in turn query the database (PostgreSQL in this case). These DB queries (most likely generated by an ORM) have the form:

[code]

Which have one issue: unless the postgresql query optimizer figures out that those strin

[2022-08-03 09:14] RosterIn opened #25504 "Add MSTeams hook and operator"
### Description

Would be nice to have the ability to post a message to MSTeams

### Use case/motivation

Posting messages to Ms teams like slack, telagram and other integrations that Airflow has

### Related issues

There is a code in https://code.mendhak.com/Airflow-MS-Teams-Operator/
source code
https://github.com/mendhak/Airflow-MS-Teams-Operator
that can be used as ground work

I will try to

[2022-08-03 09:19] EdwardRadical commented on #25165
No, @uranusjr, there is more to it. This is the complete snippet:

[code]

This happens at the time `expand` is called: albeit `tg_task_id` indeed contains the correct label, it is ignored because `tg_task_id not in dag.task_ids` evaluates to `True` (for obvious reasons), so the naked `task_id` is returned by `get_unique_task_id`.

And this was probably a rough two-liners to fix the obvious collis

[2022-08-03 09:42] bbovenzi commented on #25360
Ok, I can do that part after your PR. There are a few UX improvements I want to make to the grid view mapped tasks too.

[2022-08-03 10:02] potiuk commented on #23529
Feel free to add it @alanatlemba - you do not need much experience for that and we can point out any improvement areas while reviewing

[2022-08-03 10:14] potiuk commented on #25492
You need to take a look at the error logs of webserver - there is not enough details (and rightfully so) in response returned to the client.

[2022-08-03 10:42] #25286 closed

[2022-08-03 10:52] potiuk commented on #25504
Marked it as good first issue.

[2022-08-03 10:53] nshetty15 commented on #8907
This solution helped me.
Moved from Load balancer service to Ingress. Airflow UI runs perfectly fine without any delays.

[2022-08-03 13:01] #25271 closed

[2022-08-03 13:36] sbrandtb commented on #25446
@jedcunningham Yes, that should be no problem. I just need to find some time for doing it. Probably not this week, but next.

[2022-08-03 14:49] eladkal opened #25508 "add lastModified columns to DagRun and TaskInstance."
I wonder if we should add lastModified columns to DagRun and TaskInstance. It might help a lot of UI/API queries.

_Originally posted by @ashb in https://github.com/apache/airflow/issues/23805#issuecomment-1143752368_

[2022-08-03 14:50] eladkal commented on #25508
Extracting this to a new issue after discussing with @bbovenzi so it would be easy to pick it up

[2022-08-03 15:08] sfc-gh-madkins commented on #24456
We have a customer interested in this :)

On Tue, Aug 2, 2022 at 3:43 PM Miles Adkins ***@***.***>
wrote:

[2022-08-03 15:32] ccomkhj opened #25510 "airflow db check TypeError: __init__() got an unexpected keyword argument 'encoding' when including pyblink"
### Apache Airflow version

2.3.3 (latest released)

### What happened

There's an error in airflow db check when pip install pyblink is included in dockerfile.

- Error Message
[code]

If I exclude pyblink, it works with the error.

### How to reproduce

- Dockerfile
[code]

- docker compose
[code]

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://github.com/a

[2022-08-03 15:37] mik-laj commented on #24456
Yesterday I was working on system tests. Now only the documentation remains, which I also hope to prepare within a week.

Would a customer be willing to test this PR before it is released by Apache? I can prepare a `whl` package that the user will have to install explicitly.

[2022-08-03 16:02] sfc-gh-madkins commented on #24456
Yeah they would definitely be open to testing it out

On Wed, Aug 3, 2022 at 10:37 AM Kamil Breguła ***@***.***>
wrote:

[2022-08-03 16:08] potiuk commented on #25510
This is problem of pyblink that installs very old argparse version. Please raise it to `pyblink` or vendor in pyblink in your code. They have not relased their package since 2018 so this is nothing strange.

[2022-08-03 16:08] #25510 closed

[2022-08-03 16:10] Lyalpha opened #25512 "Vertical overlay scrollbar on Grid view blocks last DAG run column"
### Apache Airflow version

2.3.3 (latest released)

### What happened

The vertical overlay scrollbar in Grid view on the Web UI (#22134) covers up the final DAG run column and makes it impossible to click on the tasks for that DAG run:

![image](https://user-images.githubusercontent.com/12103194/182652473-e935fb33-0808-43ad-84d8-acabbf4e9b88.png)

![image](https://user-images.githubusercontent.c

[2022-08-03 16:11] potiuk commented on #25510
Their github page is gone as well, so you have to likely deal it with it by manually vendoring in the code into your system and fixing argparse integration (or switch to another library).

FYI. There is 0 chance we will do anything with it if you are tempted to ask us to do something. Start looking for alternatives now.

[2022-08-03 17:01] csaket opened #25515 "default docker-compose.yaml postgres name resolution error on wsl"
### Apache Airflow version

2.3.3 (latest released)

### What happened

Using the default https://airflow.apache.org/docs/apache-airflow/2.3.3/docker-compose.yaml I am trying to run airflow for the first time doing init.
`docker-compose up airflow-init`
I get this error after some time:
[code]

I am able to run postgres by itself without errors.
`docker-compose up postgres`

[code]

### What you t

[2022-08-03 17:22] wolfier commented on #25492
The error log of the webserver is the same as the detail in the api response.

I have updated the issue with the error in the webserver.

[2022-08-03 17:32] #9583 closed

[2022-08-03 18:03] Gollum999 commented on #23020
For the sake of discussion, how do people feel about letting these names entirely *replace* `map_index`?

My primary motivation is that an integer-based `map_index` can get weird if the list of tasks changes when re-running a DAG.  In my experience, you can end up with missing and/or duplicate tasks due to the mismatched indices.  As a result you are generally forced to re-run all of the mapped ta

[2022-08-03 18:11] #25515 closed

[2022-08-03 18:30] potiuk commented on #23020
I think you can forget about this.

You've just hit reality train.

Look there: https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-42+Dynamic+Task+Mapping - see this part:

"Rather than overloading the task_id argument to `airflow tasks run` (i.e. having a task_id of `run_after_loop[0]`) we will add a new `--mapping-id` argument to `airflow tasks run` -- this value will be a ~JSON-encoded~ an

[2022-08-03 18:40] potiuk commented on #23020
BTW. I hate MySQL and how it limits us in design, and I proposed already few times to remove it, but we came to the conclusion that supporting the community running MySQL installation historically is more important.  This is unfortunately one of the limitations it introduces.

[2022-08-03 18:45] csaket commented on #25515
While the linked issue did not pertain to what I was experiencing, I was able to resolve my issue.
I pruned old networks I had and that fixed my issue.

[2022-08-03 20:25] ephraimbuddy commented on #25060
@Idacey, Can you show the full log? It's not clear to me where this started to fail

[2022-08-03 23:14] camilleanne opened #25522 "Support AWS Batch multinode job types"
### Description

Support [multinode job types](https://docs.aws.amazon.com/batch/latest/userguide/multi-node-parallel-jobs.html) in the [AWS Batch Operator](https://github.com/apache/airflow/blob/main/airflow/providers/amazon/aws/operators/batch.py).

The [boto3 `submit_job` method](https://boto3.amazonaws.com/v1/documentation/api/1.9.88/reference/services/batch.html#Batch.Client.submit_job) suppo

[2022-08-04 01:05] sukso96100 commented on #25060
I'm also facing this issue, I'm also using 2.3.3 with dynamic task mapping. But using SQL Server for metadata database. The error on log is basically same.  (Inserting duplicate key on 'dbo.task_instance' is not possible because it violates constraint 'task_instance_pkey') After the error occures, Like other people here, Tasks and DAGs stuck in "running" state until Airflow banner notifies me that

[2022-08-04 01:20] uranusjr commented on #23020
Even without the MySQL limitation, we still need some sort of index to keep track of the ordering, otherwise there’s no way to know which upstream value maps to which worker.

[2022-08-04 01:42] uranusjr commented on #23020
It just occurred to me that this is essentially a part of #22073. What we (users) actually want is a more customisable way to identify things (in this instance, a mapped task _instance_), and if we look past the assumption that a mapped task instance is “task_id + map_index”, we simply need a better way for the user to tell “what is this thing” in the Airflow UI. So let’s keep track of that issue

[2022-08-04 02:44] uranusjr commented on #25492
Looks like something’s over-serialising the response. Things in `appbuilder_views` should be a dict (“object” in JSON Schema terminology) but the validator got a serialised JSON string.

[2022-08-04 04:13] josh-fell opened #25523 "Mapped, classic operator tasks within TaskGroups prepend `group_id` in Graph View"
### Apache Airflow version

main (development)

### What happened

When mapped, classic operator tasks exist within TaskGroups, the `group_id` of the TaskGroup is prepended to the displayed `task_id` in the Graph View.

In the below screenshot, all displayed task IDs only contain the direct `task_id` except for the "mapped_classic_task". This particular task is a mapped `BashOperator` task. The pr

[2022-08-04 04:58] uranusjr commented on #25492
Oh it’s the other way around, `appbuilder_views` is a dict, but the schema is incorrectly defined to expect a str.

[2022-08-04 06:53] ccomkhj commented on #25510
Thank you for the fast feedback!

[2022-08-04 07:16] potiuk commented on #25522
Feel free. I assigned you. You might also sync this up with the work done by @ferruzzi @o-nikolas and @vincbeck from the AWS team -

[2022-08-04 07:22] potiuk commented on #23020
Fully agree

[2022-08-04 07:24] potiuk commented on #23020
Closing this one as duplicate of #22073  (and I make a comment on that issue to make sure it includes mapped tasks).

[2022-08-04 07:26] potiuk commented on #22073
Following up from the discussion in #23020  - this feature should also include naming of mapped tasks.

[2022-08-04 10:18] spatocode commented on #25504
@potiuk Could you assign to me. I'll pick it up

[2022-08-04 12:54] dingobar commented on #15340
I came to this issue upgrading to airflow 2.3.0 via helm chart 1.6.0. The issue turned out to be the migration job not being able to schedule due to a too low CPU request limit on the k8s namespace. Just another thing to check if you end up here like I did.

[2022-08-04 13:06] ecodina opened #25533 "Improved log web view"
### Description

The general idea would be to improve the built-in log view inside the webpage. Instead of "just" showing the log file on the browser, the webpage could parse it and help the user find what they are looking for.

I could not find similar requests, either as issues or inside AIP-38.

### Use case/motivation

Some logs are quite long and, since Airflow is quite verbose, it is sometim

[2022-08-04 14:43] zacqed opened #25534 "Dags not loading in docker environment"
### Apache Airflow version

2.3.3 (latest released)

### What happened

We have deployed Airflow docker containers  with mssql backend and are unable to load a new dag automatically on the webserver front end. We need to go ahead and reset the entire DB and reload airflow in order for the dag to start appearing on the front end. The dag is visible when we do docker dags list:

![image](https://use

[2022-08-04 14:48] #22328 closed

[2022-08-04 15:37] #25492 closed

[2022-08-04 15:47] #25232 closed

[2022-08-04 16:13] josh-fell commented on #25523
I take it back, I'd be happy to submit a PR.

However, I did a cursory check trying to find where this is coming from, but it wasn't apparent for me. If someone would provide some pointers, I'd be forever in your debt.

[2022-08-04 19:08] pierrejeambrun commented on #25523
Hello @josh-fell,

From the [documentation](https://airflow.apache.org/docs/apache-airflow/stable/concepts/dags.html), I expect all of them to have the group_id prefix:

I think the graph is drawn with d3 in `airflow/www/static/js/graph.js` targeting the `graph-svg` element.

There might be 2 different issues:
- When looking at the data passed to the template `graph.html`, especially the `tasks` v

[2022-08-05 03:41] #25360 closed

[2022-08-05 07:25] foxracle commented on #11979
How is the issue going? with Airflow Helm Chart 1.6.0 deployed by argocd, we followed the instrunctions from [official documents](https://airflow.apache.org/docs/helm-chart/stable/index#installing-the-chart-with-argocd), the process of install is good, but when we upgrade the values.yaml, it will lead to the problem of "field is immutable" of airflow-run-airflow-migrations job. how we can work aro

[2022-08-05 11:08] e-compagno commented on #13637
I experience the same issue of high schedule cpu usage with airflow 2.2.2. Settings are

[code]

[2022-08-05 15:10] raphaelauv opened #25552 "dockerhub readme not up to date"
### What do you see as an issue?

README is not up to date on this page https://hub.docker.com/r/apache/airflow

### Solving the problem

re-sync with current github README

### Anything else

_No response_

### Are you willing to submit PR?

- [ ] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://github.com/apache/airflow/blob/

[2022-08-05 15:17] #24996 closed

[2022-08-05 15:41] #25092 closed

[2022-08-05 16:03] pierrejeambrun commented on #25512
A small fix is proposed here https://github.com/apache/airflow/pull/25554

[2022-08-05 16:13] pdebelak opened #25555 "Airflow doesn't re-use a secrets backend instance when loading configuration values"
### Apache Airflow version

main (development)

### What happened

When airflow is loading its configuration, it creates a new secrets backend instance for each configuration backend it loads from secrets and then additionally creates a global secrets backend instance that is used in `ensure_secrets_loaded` which code outside of the configuration file uses. This can cause issues with the vault bac

[2022-08-05 16:15] #25060 closed

[2022-08-05 16:19] potiuk commented on #25555
This is not possible due to distributed nature of Airlfow. Secret client can be potentially use by scheduler and by multiuple workers - even if you just use a Local Executor you have potentially many independent processes and you cannot share client between the processes (even if they are forked, it is problematic, but when they are spawned it's impossible).

Solving the problem would require basi

[2022-08-05 16:19] #25555 closed

[2022-08-05 16:36] potiuk commented on #25552
Thanks Rafael. Updated. Unfortunately this cannot be easily automated :(

[2022-08-05 16:36] #25552 closed

[2022-08-05 16:47] #25512 closed

[2022-08-05 16:54] #20215 closed

[2022-08-05 17:27] #23227 closed

[2022-08-05 17:41] #20110 closed

[2022-08-05 17:51] pdebelak commented on #25555
I understand that the instance will not be used across processes, but aren't there cases where the same process will either need to look up multiple secret configuration values (for example, the webserver secret key and the sql alchemy conn) or need to look up both a secret configuration value and a variable or connection? My understanding is that this is the case sometimes, but I could be wrong.

[2022-08-05 17:56] potiuk commented on #25555
This already happens. The Secret Backend client is reused in single process.

[2022-08-05 18:05] pdebelak commented on #25555
I don't believe it does when looking up secrets for configuration values. If you look at [`_get_config_value_from_secrets_backend`](https://github.com/apache/airflow/blob/cade49845459af57f2ba32dfe6a6ab144bbb8f98/airflow/configuration.py#L114-L127) which is called in a few places inside `AirflowConfigParser` it calls [`get_custom_secret_backend`](https://github.com/apache/airflow/blob/cade49845459a

[2022-08-05 18:08] potiuk commented on #25555
Have you seen the cache on `custom_secrets_backend(secrets_backend_cls)` just few lines below?

[code]

[2022-08-05 18:19] pdebelak commented on #25555
That is the change from my PR at https://github.com/apache/airflow/pull/25556. Looks like I was accidentally linking to the git sha from my commit where I added caching there (sorry). If you look at [main](https://github.com/apache/airflow/blob/main/airflow/configuration.py#L1534-L1546) it looks like this:

[code]

[2022-08-05 18:32] fredym opened #25557 "SQL error when pulling a list of Task Instances sorted by Logical Date (execution_date)"
### Apache Airflow version

2.3.3

### What happened

When I pull a list of Task Instances sorted by Logical Date (execution_date) using this URL:

[code]

...I get this SQL error message:

[code]

### What you think should happen instead

I'm expecting a list of Task Instances filtered by the specified parameters but I'm getting a SQL error message instead.

Based on the error message, I presume

[2022-08-05 18:47] potiuk commented on #25555
Yeah. This is messy. But do you know what happens if you put that cache in case you have recursive retrieval ?  how will it behave ? Seems that extracting this did not change the recursion. Do. you know how lru_cache() works when it is hit several times during the same method call stack?

[2022-08-05 18:58] potiuk commented on #25557
Assigned you - would be great to fix it.

[2022-08-05 19:25] pdebelak commented on #25555
Yeah, the recursion between conf and secrets isn't eliminated by this change. I thought it seemed relatively safe to cache based on the key of `secrets_backend_cls` based on the assumption that if `secrets_backend_cls` is set, the other values needed for this secret should be set as well and won't change (not sure if this is a safe assumption or under what circumstances, if any, `conf.get` might r

[2022-08-05 19:48] #22436 closed

[2022-08-05 19:50] potiuk commented on #24168
https://github.com/apache/airflow/issues/22447: 52/89 : 58.43%
https://github.com/apache/airflow/issues/22438: 22/36 : 61.11%
https://github.com/apache/airflow/issues/22430: 39/71 : 54.93%
https://github.com/apache/airflow/issues/22426: 0/9 : 0.00%

[2022-08-05 19:54] potiuk commented on #25555
Did you test if it is really needed (i.e. is Vault client not caching connection internally) ?

[2022-08-05 20:42] MatrixManAtYrService opened #25558 "`airflow dags reserialize` says "_TaskDecorator' object has no attribute 'uri'""
### Apache Airflow version

main (development)

### What happened

Here's are two DAGs:

[code]

They serialize ok if you leave commented the `schedule_on` entry in the second definition, but it breaks like so if you enable it:

[code]

### What you think should happen instead

No error

### How to reproduce

Run `airflow dags reserialize` with the above file in your folder

### Operating System

[2022-08-05 21:14] pdebelak commented on #25555
`hvac` doesn't appear to be doing any global caching of login credentials that I can see, it [posts to the api every time you call `login`](https://github.com/hvac/hvac/blob/develop/hvac/adapters.py#L179). I added the following test to `tests/core/test_configuration.py` locally and it fails on the second call to `mock_hvac.Client.assert_called_once()` in `main` indicating that multiple hvac client

[2022-08-05 21:24] twang90 opened #25560 "Failed to manage per-DAG permission in clearing DAG run"
### Apache Airflow version

Other Airflow 2 version

### What happened

I am using Airflow 2.2.4 and I am trying to achieve per-DAG permissions. I want to give a role permissions to clear some DAG's status on the UI (so that they can re-run a task). According to https://airflow.apache.org/docs/apache-airflow/stable/security/access-control.html#dag-level-role, "Clear DAG run" requires "DAGs.can_edi

[2022-08-06 00:57] uranusjr commented on #25557
What is this `https://<host>/<path>/airflow/taskinstance/list/` URL in the first place?

[2022-08-06 01:07] fredym commented on #25557
That's the URL to the Task Instance report that's broken. You'll have to replace `<host>` with your Airflow instance hostname and `<path>` with whatever path you have it on. In a local dev environment could be something like this:

[code]

[2022-08-06 01:17] yingw787 commented on #24921
yo...honestly not sure if I have the bandwidth to take this on, pls feel free to reassign

[2022-08-06 01:51] uranusjr commented on #25557
But Airflow doesn’t serve anything under `/airflow`.

[2022-08-06 05:16] nshetty15 commented on #24921
@potiuk  I can take this up.

[2022-08-06 07:10] #24728 closed

[2022-08-06 07:27] potiuk commented on #25557
Ah. Right. This is indeed not an airflow API . this mist be something you have in own installation

[2022-08-06 07:27] #25557 closed

[2022-08-06 07:31] eladkal commented on #19556
Is this still happens in main version? We upgraded flask versions.
@nediGit can you please check?

[2022-08-06 07:57] eladkal commented on #21225
Is anyone experienced this issue after 2.3.1?
I would imagine that https://github.com/apache/airflow/pull/23690 should make things better... even if not fixing the issue but making sure that tasks don't get stuck in queue state.

[2022-08-06 11:26] potiuk commented on #25560
Feel free to take a look and see you can provide a PR

[2022-08-07 02:39] #25456 closed

[2022-08-07 07:15] vinitpayal opened #25575 "Google cloud tasks sensor addition"
### Description

Needed a sensor for cloud tasks which can check if the cloud task queue is empty or not

### Use case/motivation

We quite often find need of us waiting for cloud task queue to get empty before we trigger rest of the tasks in airflow DAG.

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I ag

[2022-08-07 07:16] vinitpayal commented on #25575
@potiuk as per slack discussion sometime back, am taking it up.

[2022-08-07 08:07] dKosarevsky opened #25576 "AttributeError: 'TaskInstance' object has no attribute 'task'"
### Apache Airflow version

2.3.3

### What happened

Try to run task from code and get error:

[code]

### What you think should happen instead

Instead of error task should run. I think it chained with [Hide some task instance attributes in details page #23338](https://github.com/apache/airflow/pull/23338)

### How to reproduce

[code]

### Operating System

Debian GNU/Linux 11 (bullseye)

### V

[2022-08-07 09:18] #25388 closed

[2022-08-07 09:23] potiuk commented on #25576
Nope. You are doing it wrong. Why do you want to run() ti method from within Python Callable ? this is an absolutely unsupported way of using Airflow and expecting it would work is a huge leap of faith.

Where did you get the idea to do it from? can you please point out to the documents, blogs or anything mentioning that you should do it? We need to make a coment that this is something that is com

[2022-08-07 09:23] #25576 closed

[2022-08-07 09:27] potiuk commented on #25575
Assigned you :)

[2022-08-07 12:30] bdsoha commented on #24197
Changing the render to use python solves the issue:

`template_fields_renderers = {"env_vars": "py"}`

[2022-08-07 13:24] potiuk opened #25580 "Convet running Helm unit tests to use the new breeze"
The unit tests of Helm (using `helm template` still use bash scripts not the new breeze - we should switch them).

[2022-08-07 13:40] potiuk commented on #24197
Feel free to submit PR.

[2022-08-07 13:49] #25179 closed

[2022-08-08 00:53] joshzana commented on #23727
@dstandish I'm seeing this on Airflow 2.3.3 with a vanilla web server docker image, which should have #24478 in it.  We use the REST API for an integration with another system of ours, and when it calls the `get_task_instances_batch` API it's hitting a similar stack:

[code]

Is a separate fix needed for that?

[2022-08-08 04:04] MatrixManAtYrService opened #25585 "Click "run" error: `AttributeError: 'NoneType' object has no attribute 'is_paused'`"
### Apache Airflow version

main (development)

### What happened

I clicked `run` on a dag, and got this error:

[code]

I'll comment later if I can replicate it (haven't tried yet) but here's a gist with the dags involved: https://gist.github.com/MatrixManAtYrService/d48476594665ba0f8226b1347e1d50f0

First I had `messy.py` in my dags folder.  Then I unpaused each task and ran the ones that say "

[2022-08-08 04:18] MatrixManAtYrService commented on #25585
Ok, so I just tried it again and the error didn't come up.  I'm not sure if it's intermittent, or it depends on something that I've failed to make note of.  I'll be on the lookout for it and I'll update here if I replicate it again.

[2022-08-08 04:23] uranusjr commented on #25585
I’m just guessing from the symptons. This happens if `DagBag.get_dag()` returns None (i.e. no such DAG found), while the DAG entry you see in the UI comes from the database. So it means the two are somehow out of sync, and judging that it “fixes” itself this is probably due to some sort of race condition in the DAG processor…? Not sure.

[2022-08-08 04:54] uranusjr commented on #24746
I believe the index has been added for 2.3.3, via #24488.

[2022-08-08 05:00] MatrixManAtYrService opened #25586 "Something about this dataset digraph prevents datasets from triggering dags"
### Apache Airflow version

main (development)

### What happened

First, an apology.  I tried to replicate this with several simpler sets of dags, but they worked fine.  I don't know what it is about this particular arrangement that causes the problem.

Here's a directed graph.  `a13` is the DAG I'm triggereing manually.  `a9` and `a5` are the ones that I'm sad did not run automatically.
![image]

[2022-08-08 06:17] bdsoha opened #25588 "Mapped KubernetesPodOperater not rendering nested templates"
### Apache Airflow version

2.3.3

### What happened

Nested values, such as `env_vars` for the `KubernetesPodOperater` are not being rendered when used as a dynamically mapped operator.

Assuming the following:

[code]

The *Rendered Template* results for `env_vars` should be:
[code]

Instead the actual *Rendered Template* results for `env_vars` are un-rendered:
[code]

This is probably caused by

[2022-08-08 06:20] uranusjr commented on #25588
MappedOperator inherits AbstractOperator, which calls `_render_nested_template_fields` via `render_template`. So the analysis seems off.

[2022-08-08 06:21] uranusjr commented on #25588
Does this work?

[code]

[2022-08-08 06:32] bdsoha commented on #25588
Yes, as mentioned above the issue is only when using the operator as a mapped-operator.

[2022-08-08 07:08] abmkas commented on #25462
@potiuk I would like to contribute to this, kindly let me know if I can !!

[2022-08-08 07:11] potiuk commented on #25462
Sure - feel free.

[2022-08-08 07:47] potiuk commented on #25585
Yeah. Let's move it to discussion. I think this one is really coming from a race condition that should be occasional and some of them are really unavoidable until we introduce [DAG versioning](https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-36+DAG+Versioning). Currently there are pleny of assumptions that our DAGs are in the same state in Scheduler, Webserver and workers and we do not even

[2022-08-08 09:58] sushi30 opened #25595 "ModuleNotFoundError: No module named 'sqlparse'"
### Apache Airflow version

Other Airflow 2 version

### What happened

[code]

### What you think should happen instead

Import should succeed

### How to reproduce

Install trino hook provider 3.1.0

[code]

### Operating System

linux

### Versions of Apache Airflow Providers

2.2.2

### Deployment

Official Apache Airflow Helm Chart

### Deployment details

_No response_

### Anything else

Cl

[2022-08-08 10:04] potiuk commented on #25595
Thanks. This is already fixed in new version of the common-sql provider that is coming out shortly https://github.com/apache/airflow/pull/23971

[2022-08-08 10:04] #25595 closed

[2022-08-08 11:22] carstenpfd opened #25601 "AWS ALB Ingress not working with URL Prefix"
### Apache Airflow version

Other Airflow 2 version

### What happened

I set up an ALB Ingress within an AWS EKS Cluster for Apache Airflow via the Helm Chart configuration/values. My goal was to have Airflow available via a URL prefix so that `http://example.com/airflow` would lead to the service. While being able to deploy the ingress successfully without the URL prefix it does not work with th

[2022-08-08 12:45] mohittalele opened #25603 "task_instance_mutation_hook failing to update priority_weight of task"
### Apache Airflow version

2.3.3

### What happened

I have use case where I would like to change the priority of the task based on some user defined conf. For example if the dag_run conf has  some "high_priority in it then assign a high weight in task instance.

For that I am using task_instance_mutation_hook.  Here is my `airflow_local_settings.py `

[code]
The above mutation hook throws below

[2022-08-08 12:57] potiuk commented on #25603
Priority weight of task is dynamically calculated based on weight rule and cannot be changed in task instance mutation.

https://airflow.apache.org/docs/apache-airflow/stable/concepts/priority-weight.html

[2022-08-08 12:57] #25603 closed

[2022-08-08 12:59] potiuk commented on #25603
If you wish you can submit a documentation PR to https://airflow.apache.org/docs/apache-airflow/stable/concepts/cluster-policies.html#task-instance-mutation clarifying that. That would be a great contribution back for the free software you use. It's super easy - just click on "Suggest a chnage on that page" button at the bottom right and a PR will be opened. Happy to review it.

[2022-08-08 13:50] uranusjr commented on #24021
This has been implemented.

[2022-08-08 13:50] #24021 closed

[2022-08-08 13:59] mohittalele commented on #25603
https://github.com/apache/airflow/pull/25607

here is PR regarding docs updation.

[2022-08-08 16:22] bbovenzi commented on #25165
@EdwardRadical Will your change fix just the id or the label too? If it's both then I say go for it.

[2022-08-08 17:56] twang90 commented on #25560
#16634 seemed to have fixed this problem but I observed a different behavior. I am not sure if I understand the documentation correctly. I am not very familiar with the Airflow code, so not sure if I can fix it or not.

[2022-08-08 18:36] #17833 closed

[2022-08-08 18:39] bbovenzi commented on #24958
@kuikeelc is this issue in both the grid view and the `/log` page?

[2022-08-08 21:15] MatrixManAtYrService commented on #25210
Ran across this again (at least I think it's the same thing) with this dag:

[code]

This time I noticed that, with the LocalExecutor at least, there are messages regarding zombines in the scheduler log:

[code]

[2022-08-09 05:39] Jorricks commented on #25560
Are you sure that the user you are mentioning in your example only has TestClearRole? It's relatively easy to get lost in this but if your user has multiple roles, it's probably the other roles that give him access to clear it.

For reference: we are on 2.2.3 and it works like a charm

[2022-08-09 05:40] MatrixManAtYrService commented on #25586
I can't be 100% sure it's the same thing, but I'm seeing similar behavior: scheduler just kind of stops without explanation with this (much simpler) dag:

[code]

In this case it gets stuck with one task queued:

![stuck](https://user-images.githubusercontent.com/5834582/183572594-c8916b68-f7e5-4208-baa4-199283df86e2.png)

Again, scheduler logs are uninteresting:
[code]

[2022-08-09 06:51] Jorricks opened #25615 "Random DagRuns set to running during large catch up"
### Apache Airflow version

Other Airflow 2 version; 2.2.3.
We are planning to upgrade soon but that takes some time with custom plugins :p

### What happened

We cleared a task for a DAG containing around 10 tasks. This clearing was done for a recent date till almost a year back.
It marks all the DagRuns back to queued, which was good.
However, at a certain point the DagRuns don't come in order a

[2022-08-09 07:04] Jorricks commented on #25615
I did some initial exploration of what could be causing this issue.
I suppose the issue is in `_start_queued_dagruns` shown [here](https://github.com/apache/airflow/blob/2.2.3/airflow/jobs/scheduler_job.py#L935).
I checked quite thoroughly on the order and limit query denoted by `dag_runs = self._get_next_dagruns_to_examine(State.QUEUED, session)`.
I feel like this is correctly set as `last_schedu

[2022-08-09 07:17] MatrixManAtYrService opened #25616 "grid view: first mapped task logs link points to map index: -1, should point to 0"
### Apache Airflow version

main (development)

### What happened

Any mapped task will do, but here's a DAG with two:

[code]

If you run it and navigate to the graph view, you can view the logs for both mapped tasks ("hello foo" and "goodbye bar").  But if you try to do the same thing via the grid view, you can only view the second one ("goodbye bar").  This is because the link to view the first

[2022-08-09 10:34] #24678 closed

[2022-08-09 11:56] kuikeelc commented on #24958
Hi,

yes. It is both in the Grid as well as the Graph GUI when I press "Log".
This is understandable, since they both lead to the same page as far as I
can see.

It seems that the incorrect attempt_nr is being sent along. It seems it
tries to retrieve the next attempt (= last attempt + 1) instead of the
actual attempt_number.

Op ma 8 aug. 2022 om 20:39 schreef Brent Bovenzi ***@***.***>:

[2022-08-09 14:08] kuikeelc commented on #24958
If it helps. This is the error message I get when requesting the logfile:

*** Unable to read remote log from gs://[HIDDEN
LOCATION]/dag_id=osb__unit_test/run_id=scheduled__2022-08-07T22:15:00+00:00/task_id=from_aws_s3_multiple_csv_no_dedup_test/attempt=2.log

As you can see, it tries to request attempt=2.log. But that file does not
exist. The task ran once successfully and the maximum attempt is

[2022-08-09 14:11] bbovenzi commented on #25616
Good catch. We're about to update mapped task logs in https://github.com/apache/airflow/pull/25610. We can fix it as part of that.

[2022-08-09 14:17] #23361 closed

[2022-08-09 15:22] pierrejeambrun commented on #25616
Thanks for reporting the bug. I think it had something to do with 0 beeing `falsy`. It is handled #25610

[2022-08-09 16:03] twang90 commented on #25560
Thanks for the reply. The user has `TestClearRole` and `Viewer` role, so I think `Viewer` should not give them access to clear other DAGs. Not sure what's going on...

[2022-08-09 19:10] MatrixManAtYrService commented on #25586
I had a wrong assumption.   I assumed that the dag would run if "any" of its inlet datasets updated, when in fact it's required that "all" of them do.

[2022-08-09 19:10] #25586 closed

[2022-08-09 19:48] #16224 closed

[2022-08-09 19:50] michaelmicheal opened #25627 "MySQL Not Using Correct Index for Scheduler Critical Section Query"
### Apache Airflow version

Other Airflow 2 version

### What happened

Airflow Version: 2.2.5
MySQL Version: 8.0.18

In the Scheduler, we are coming across instances where MySQL is inefficiently optimizing the [critical section task queuing query](https://github.com/apache/airflow/blob/2.2.5/airflow/jobs/scheduler_job.py#L294-L303). When a large number of task instances are scheduled, MySQL faili

[2022-08-09 23:04] #24826 closed

[2022-08-10 06:30] uranusjr commented on #25627
Is this specific to MySQL?

[2022-08-10 07:49] plutoid commented on #25372
hi,

I'm using airflow 2.3.2 in docker not Kubernetes , the worker nodes are consuming almost CPUs too,  as per attachment, not sure what's doing!

VMs: 4core 16GB
nodes: 2

any ideas for this? Many thanks!
<img width="555" alt="810" src="https://user-images.githubusercontent.com/1091981/183844947-557cd362-4976-4940-af73-2bc655996e5d.png">

[2022-08-10 07:56] V0lantis opened #25629 "Audit log crashes because too much data"
### Apache Airflow version

2.3.3

### What happened

The audit log link crashes because there is too much data displayed.

### What you think should happen instead

The windows shouldn't crash

### How to reproduce

Display a dag audit log with thousand or millions lines should do the trick

### Operating System

NAME="Amazon Linux" VERSION="2" ID="amzn" ID_LIKE="centos rhel fedora" VERSION_ID="2

[2022-08-10 08:01] uranusjr commented on #25629
Does the web server crash, or the browser window crash?

[2022-08-10 08:27] suhailsid opened #25631 "LDAP Integration not working"
### Apache Airflow version

Other Airflow 2 version

### What happened

we have integrated ldap configuration in "webserver_config.py" as per the documentation, but when I am trying to login it throwing error like below .

 Something bad has happened.
Please consider letting us know by creating a bug report using GitHub.

Python version: 3.8.10
Airflow version: 2.1.2
Node: airflow-webserver-9447bf

[2022-08-10 09:42] dholleran-lendico opened #25632 "Add Documentation on how to test TaskFlow tasks"
### What do you see as an issue?

I have spent the last few days trying to figure how to write a test to a TaskFlow task and still haven't figured it out, as it seems the set up necessary for testing this is not so trivial. It would be helpful if there existed some documentation on how write a test for testing a TaskFlow task

### Solving the problem

I think adding a testing section to the TaskFl

[2022-08-10 10:19] potiuk opened #25634 "Status of testing Providers that were prepared on August 10, 2022"
### Body

I have a kind request for all the contributors to the latest provider packages release.
Could you please help us to test the RC versions of the providers?

Let us know in the comment, whether the issue is addressed.

Those are providers that require testing as there were some substantial changes introduced:

## Provider [amazon: 5.0.0rc1](https://pypi.org/project/apache-airflow-providers

[2022-08-10 10:34] ukaaa opened #25635 "AzureBatchOperator not handling exit code correctly"
### Apache Airflow Provider(s)

microsoft-azure

### Versions of Apache Airflow Providers

[apache-airflow-providers-microsoft-azure 3.9.0](https://airflow.apache.org/docs/apache-airflow-providers-microsoft-azure/3.9.0/)

### Apache Airflow version

v2.3.2

### Operating System

Debian GNU/Linux 11 (bullseye)

### Deployment

Other 3rd-party Helm chart

### Deployment details

_No response_

### W

[2022-08-10 10:56] potiuk commented on #25634
For some reason the automation did not include changes in comon.sql - I added it manually and fix it for the next run :)

[2022-08-10 11:22] potiuk commented on #25634
Canceling this one. New release comes shortly :). Apologies.

[2022-08-10 11:22] #25634 closed

[2022-08-10 11:29] rauljmz opened #25637 "Cannot reference airflow_local_settings in config settings"
### Official Helm Chart version

1.6.0 (latest released)

### Apache Airflow version

2.3.3

### Kubernetes Version

1.24.0

### Helm Chart configuration

[code]

### Docker Image customisations

No

### What happened

I am trying to pass some different keepalive args to the SqlAlchemy  connection as per the [documentation](https://airflow.apache.org/docs/apache-airflow/stable/howto/set-up-databas

[2022-08-10 11:40] potiuk commented on #25372
I thin the question is what kind of tasks your worker are running - but only you can tell it. Possibly you spin up some processes that simply consume a lot of CPU - you need to investigate further to see what your python processes are doing. This is not a widespread problem so likely this is the code you run as part of your taskt that are doing it.

You can likely use 'trace' built in module or I

[2022-08-10 13:33] potiuk opened #25640 "Status of testing Providers that were prepared on August 10, 2022"
### Body

I have a kind request for all the contributors to the latest provider packages release.
Could you please help us to test the RC versions of the providers?

Let us know in the comment, whether the issue is addressed.

Those are providers that require testing as there were some substantial changes introduced:

## Provider [amazon: 5.0.0rc3](https://pypi.org/project/apache-airflow-providers

[2022-08-10 13:42] potiuk opened #25641 "Improve audit log"
### Discussed in https://github.com/apache/airflow/discussions/25638

See the discussion. There are a couple of improvements that can be done:

* add atribute to download the log rather than open it in-browser
* add .log or similar (.txt?) extension
* sort the output
* possibly more

<div type='discussions-op-text'>

<sup>Originally posted by **V0lantis** August 10, 2022</sup>
### Apache Airflow v

[2022-08-10 14:49] cconkrig opened #25645 "Flower is using old/vulnerable jQuery 1.7.2"
### Apache Airflow version

2.3.3

### What happened

Tenable Nessus is flagging Flower running jQuery 1.7.2 (should be at least 3.5.0) with a score ranking of 6.1
['CVE-2020-11022', 'CVE-2020-11023']
Flower is locked in https://raw.githubusercontent.com/apache/airflow/constraints-2.3.3/constraints-3.7.txt

### What you think should happen instead

Flower should be kept up to date or deprecated/re

[2022-08-10 14:55] BillSullivan2020 commented on #24015
Hello.
i put this issue aside and stopped working on it. Now i have allocated some time again.
i have some feedback & a question.
Duplicate metadata was probable - however now i have the simplest-dag possible to reproduce the problem. i will show you

- I upgraded to airflow-2.3.3

- I wrote the simplest dag (which only uses a shell-script-command with a delay)

- Same approach - workerPod - resta

[2022-08-10 16:21] potiuk commented on #25645
This is something that shoudl be directed at flower not Airflow. Flower is an optional add-on and you can run Airflow easily without flower. We even disabled Flower by default.

And you are quite wrong. The constraints are not "locking" flower, nor any other dependencies. Constraints are (Read the description of constraints in our docs and `pip` are just constraining you when you are runnig the in