[2022-01-22 00:10] andre-ricardo-moraes opened #21027 "AirflowException: decoding with 'utf-16le' codec failed (AirflowException: Task received SIGTERM signal)"
### Apache Airflow version

2.0.1

### What happened

Hi!
I have a error on Airflow when use connector pyodbc to get data from mssql. running the same commands on terminal there isn't any error.

this is the message:

[code]

### What you expected to happen

the message of error doesn't show the exactly the point of failure. there are a mode to enable a debug in log level to trace the error or to

[2022-01-22 10:13] potiuk commented on #21027
Not really. The error is clearly generated here:

[code]

It's an error generated by your own plugin (mssql_utils.py), so this is not an airflow problem, you should diagnose and improve your plugin's code.

[2022-01-22 10:13] #21027 closed

[2022-01-22 10:24] alexott commented on #19490
@potiuk it looks like it's stale, can you assign it to me?

[2022-01-22 10:28] alexott opened #21030 "Databricks: Add support for execution of SQL commands against clusters/SQL endpoints"
### Description

Airflow supports communication with different databases using native interfaces or JDBC. But it's harder to use JDBC operator with Databricks as it requires additional downloads, etc. It would be really useful to allow to extract data from Databricks SQL endpoints/clusters without need to install additional objects, like, JDBC/ODBC drivers.

I'm opening issue just to visibility, a

[2022-01-22 10:34] potiuk commented on #21030
ASsigned you to it @alexott

[2022-01-22 17:19] JonnyWaffles commented on #16614
Hi @potiuk and team, I am on 2.1.3 of Airflow and seeing the same. A simple connection test executing `hook.get_conn()` is logging my client_secret password when logging is set to INFO. I see the following code where the redactor does not receive a name for the key as a second argument, simply the text value of the password

https://github.com/apache/airflow/blob/d5cafc901158ec4d10f86f6d0c5a4faba2

[2022-01-22 17:30] JonnyWaffles commented on #16614
I found another related issue https://github.com/apache/airflow/issues/16558, perhaps the problem is execution of hooks within `pytest`? How do I configure the redactor to redact regardless of where it is being executed?

[2022-01-22 17:36] JonnyWaffles commented on #16614
Sorry last follow up, adding the following code to my pytest conftest.py resolves the above
[code]
I gotta say I am surprised by this behavior. I did not expect the secrets to show up in the pytest logs by default.

[2022-01-22 17:37] ad-m opened #21033 "Chart test framework as package"
### Description

In #18127 Apache Superset noticed the potential of using a test framework created on the basis of Pytest to verify the Helm Chart. I believe that a synergistic effect is possible in this respect.

I am aware that Apache Airflow is going to introduce some optimizations to its framework. However, they - for the Apache Superset - are not blocking to the naturally low number of tests

[2022-01-22 18:20] potiuk commented on #16614
Glad that you sorted it out.

The logs are redacted specifically to account for task logs for users and  UI visibility. This is by design, deliberate and documneted.

Comment in our code:

[code]

Our documentation is very clear about this behaviour:

https://airflow.apache.org/docs/apache-airflow/stable/security/secrets/mask-sensitive-values.html

So I do not find it surprising really.

Also It w

[2022-01-22 18:35] potiuk commented on #21033
My opinion: I think it's far too early (and maybe even never will be a good time)  to share that code.

Sharing code is not always 100% good. While it removes duplication but introduces coupling between the parties that use the same code - and often the coupling is hidden. And when you have completely unrelated release schedule and needs and when you will need to fix something quickly, such coupli

[2022-01-22 19:14] GSY-PI opened #21034 "Install Fails on Debian 10 / error: command 'x86_64-linux-gnu-gcc' failed with exit status 1"
### Apache Airflow version

2.2.3 (latest released)

### What happened

Error during install  compilation terminated. error: command 'x86_64-linux-gnu-gcc' failed with exit status 1

Full trace:

Collecting apache-airflow[airbyte,amazon,async,celery,docker,facebook,ftp,google,google_auth,mongo,mysql,neo4j,oracle,postgres,sendgrid,sftp,slack,ssh]==2.2.3
  Using cached https://files.pythonhosted.org

[2022-01-22 19:16] mik-laj commented on #21033
@potiuk I agree with it. Simply copying the code will be sufficient. Especially since Apache Superset and Apache Airflow are under the same license, so we can keep the same license header.

[2022-01-22 19:25] ad-m commented on #21033
Thanks for the explanation. I am not fully aware of the Apache Foundation project approach for this scenario. How do you resolve the author tagging of this code (oznaczenie autorstwa w ramach autorskich praw osobistych)? Normally, the commit history does this.

[2022-01-22 19:33] potiuk commented on #21033
We do not tag authors, we tag the projects we copied the code from.

* ASF policy for 3rd-party licences is here: https://www.apache.org/legal/resolved.html

Particularly the last FAQ entry states:

However those regulations are only necessary for code that gets released in "official sources" using release policy https://www.apache.org/legal/release-policy.html

For the "build/dev/test" code that

[2022-01-22 19:34] potiuk commented on #21033
There are few more links in the ASF-policies that I encourage you to follow @ad-m  - this might be very interesting reading for you :D

[2022-01-22 21:34] alete89 opened #21036 "Recent Tasks mixes status for"
### Apache Airflow version

2.1.4

### What happened

Recent Tasks column in /home dashboard is showing status of the task for different dag runs.
See images attached:
![image](https://user-images.githubusercontent.com/4999277/150655955-a43d2f0c-0648-4bf2-863d-5acc45c2ae8b.png)

![image](https://user-images.githubusercontent.com/4999277/150655960-7273f34e-7a94-4c05-b3d4-3973a868dfc0.png)

### What

[2022-01-22 21:37] mik-laj opened #21037 "Supports SQL in DatabricksHook"
### Description

Currently, we support submitting spark jobs for the Databricks service. On December 15, 2021, they announced [General Availability of Databricks SQL](https://databricks.com/blog/2021/12/15/announcing-general-availability-of-databricks-sql.html) and we should provide support for it also.

To do this, we can use one of the existing libraries that provide integration with SQLAlchemy/

[2022-01-22 21:40] alexott commented on #21037
It’s basically #21030 that I’ve filed today

[2022-01-22 21:41] ad-m commented on #21033
Thank you very much for presenting your opinion. In this case - depending on the discussion on the Apache Superset side - I think the code should be copied, and then we will wonder if it can and should be done better. Since two PMC Apache Airflow expressed the same position, I see no more for discussion and close the issue.

@potiuk, thank you very much for the links. I am aware that the Apache Fo

[2022-01-22 21:41] #21033 closed

[2022-01-22 21:43] mik-laj commented on #21037
Ahh yes. So I close this PR.  I opened this PR because I saw that Apache Superset had some changes related to Databricks.
https://github.com/apache/superset/issues/18139

[2022-01-22 21:46] mik-laj commented on #21030
Do you know where the source code for the `databricks-sql-connector` package is available? The metadata for this package specifies that it is released under the `Apache Software License (http://www.apache.org/licenses/LICENSE-2.0)` license, so the source code should be public.
![Screenshot 2022-01-22 at 22 45 42](https://user-images.githubusercontent.com/12058428/150656474-92e1bc16-a1fc-41af-b508-

[2022-01-22 21:47] alexott commented on #21030
Not sure, need to check

[2022-01-22 21:49] mik-laj commented on #21030
It would be great if this information were added to the package metadata.
https://github.com/apache/airflow/blob/d5cafc901158ec4d10f86f6d0c5a4faba23bc41e/setup.cfg#L60-L66

[2022-01-22 21:53] #21037 closed

[2022-01-22 22:35] potiuk commented on #20695
I think this problem is because you are not using proper installation method. Old version of postgres libraries apparently exhibit this problem but later version should be fine (at least that's why quick search returned)

Follow the instructions here:  https://airflow.apache.org/docs/apache-airflow/stable/installation/installing-from-pypi.html

[2022-01-22 22:47] potiuk commented on #20797
I recommend reading Airflow code simply. It's the best way to learn how it works.

[2022-01-22 23:09] #17255 closed

[2022-01-22 23:11] potiuk commented on #20804
Assigining you to fix it @viktorvia

[2022-01-22 23:14] potiuk commented on #20869
Not sure what you try to do and the problem you have. I will convert into discussion or maybe you can open a PR showing what you want to dol

[2022-01-22 23:14] #20869 closed

[2022-01-22 23:47] potiuk commented on #20880
I think after 2.2.4 we should really drop 3.7 finally. This is unlikely to release 2.2.5 but even if we do, it will be very unlikely we need more cherry-picking that just few PRs. @jedcunningham WDYT?

[2022-01-22 23:47] potiuk commented on #20862
Fixed by #20910

[2022-01-22 23:47] #20862 closed

[2022-01-23 03:18] mik-laj commented on #18913
I created an issue on `GoogleCloudPlatform/cloud-sdk-docker` repository: https://github.com/GoogleCloudPlatform/cloud-sdk-docker/issues/263

[2022-01-23 07:47] mik-laj commented on #21030
@juliuszsompolski @NiallEgan Do you know where the source code for the databricks-sql-connector package is available?

[2022-01-23 15:26] ghostbody commented on #19767
We rewrite our dag logic and replace the callback by a task. (as for `on_failure_hook`, we use a task with `one_failed`). More Information: https://airflow.apache.org/docs/apache-airflow/stable/concepts/dags.html#trigger-rules

Callbacks are unreliable as we tought. There are three reasons:

1. Callback executions are not logged to dag or dag_run which is hard to locate.
2. Callbacks can not be re

[2022-01-23 17:22] mik-laj opened #21046 "More ArtifactsHub specific labels in docker image"
### Description

We added two labels that allow us to publish docker images in [ArtifactHub](https://artifacthub.io/). We should consider adding other labels as well, if it helps to exposing our image on ArtifactHub. https://artifacthub.io/docs/topics/repositories/#container-images-repositories

Probably, we should consider adding these labels with `docker build --label` i.e. as a docker command a

[2022-01-23 17:33] potiuk commented on #20940
@andrewgodwin @uranusjr  - WDYT ? I think the behaviour is intended and maybe just need a bit clarification in the docs.

[2022-01-23 17:47] andrewgodwin commented on #20940
This was indeed originally by design, as I saw pools as a "worker/active task slot" system, designed to concurrency-limit things that were running - and of course, deferred tasks are not really running.

I think either option here is reasonable, and we could change it to have deferred tasks use up a pool slot if that's the consensus, but I went with this behaviour in the initial feature as it seem

[2022-01-23 18:19] potiuk commented on #19957
I am afraid we need to reopen this one. IMHO #20894 has no chance of fixing the problem because it does not change Airflow behaviour really (see discussion in #20894). @dwiajik @stablum if you experience this problem still - I think we really need some server-side logs that will telll us what other query is deadlocking with this one.

[2022-01-23 18:25] potiuk commented on #20940
I agree with @andrewgodwin @ReadytoRocc - is that explanation/behaviour plausible for you ?

[2022-01-23 18:27] potiuk commented on #20940
In short:

![image](https://user-images.githubusercontent.com/595491/150692540-618e1ad5-04a2-45fc-bd79-b80766a7fdf8.png)

[2022-01-23 19:03] potiuk commented on #20974
Confirmed. Got the same behaviour. I think this is caused by the changes in how context is passed after we converted to custom timetables. @uranusjr @ashb - > it looks like it's problem with serializing the `Context` passed to Vitualenv operator.

[2022-01-23 19:05] potiuk commented on #20974
Yeah. Just removing `**context` in the python callable fixes it.

[2022-01-23 19:08] potiuk commented on #20974
Full stack trace showing unfurling of the Context object just before failing:

[code]

[2022-01-23 19:21] potiuk commented on #19957
@dwiajik @stablum - is there any chance you have some customisations (plugins ? ) or users running DB operations (backfill? API calls? UI modifications) that might have caused the deadlock? Looking at the code, my intuition tells me that this must have been something external. Having the server logs could help to pin-point it.

[2022-01-23 19:46] ephraimbuddy commented on #19957
I once experienced this while running a dag with many tasks. Parallelism was 64 and I have 4 dags. No concurrency limit on the dags, the tasks finishes in 20s and at one point the scheduler crashed. I will try and see if I can get it again

[2022-01-23 20:07] potiuk commented on #20982
It does seam like pretty unintended behaviour.

[2022-01-23 20:07] potiuk commented on #20982
Do you want to attempt to fix it @nclaeys ?

[2022-01-23 20:23] potiuk commented on #20992
I think what would be very useful to solve the problem is that everyone who has similar problem, would provide a more detailed information on how they get this error. Rather than "it also is the problem in 2.2.3" or saying "mee too", the best way you can help maintainers to investigate the issue is to prepare a very detailed description of your environment and post as many logs as you can find.  T

[2022-01-23 20:41] potiuk commented on #20996
I believe your installation has gone somewhat wrong - almost looks like you have mulltple versions of airflow installed at the same time. I suggest you reinstall you Airlfow installation from scratch (alsol you have not really posted how you installed airflow). Converting it into discussion.

[2022-01-23 20:51] potiuk commented on #17127
I believe your Python installation with packages is broken. Seems like some psycopg2 (postgres library) problem. I suggest to try to reinstall postgress from scratch. I hav enever seen similar problem before, but it's something really low-level.

[2022-01-23 20:52] potiuk commented on #20965
https://github.com/apache/airflow/blob/main/CONTRIBUTORS_QUICK_START.rst

[2022-01-23 22:19] potiuk commented on #19059
Just try to build Python 3.10 - we are rather close - I think all our deps are **almost** ready - the last one is `numpy` limited by `apache-beam'. This is also blocker for ARM images. However it's been alrady merged in 'beam' repo:

https://github.com/apache/beam/commit/d845a0074d39a1604fde1879157f55e048a5d01b#diff-1275c48808de339ef6f282d844c83ec441b5cfa0debc373fdcb7dba497da4fc8

And the next rel

[2022-01-23 23:41] potiuk commented on #20966
Would be greate @microhuang  - this is good assesment - and fixing it in similar way as in subprocess.py seems a good idea.

[2022-01-23 23:42] potiuk commented on #20966
Assigned you to the issue @microhuang !

[2022-01-23 23:44] potiuk commented on #21005
Assigned you to it @Greetlist  - can you please make a PR for that one with "Fixes: #21005" in the message (and cc: @andrewgodwin best to review it ), I thin you wil have to add a test case for that one but we can guide you.

[2022-01-23 23:59] #21023 closed

[2022-01-24 00:03] #11128 closed

[2022-01-24 00:07] #20016 closed

[2022-01-24 00:07] #18501 closed

[2022-01-24 00:32] potiuk commented on #20254
I think there are two main resasons why we have the few scripts:

The bash script is needed because  _script_init.sh is called to set the "AIRFLOW_CI_IMAGE` variable - this variable is then used internally by some tests to determine which image should be tested.

But in our case we can get the image from the BuildParams instead:
https://github.com/apache/airflow/blob/bad070f7f484a9b4065a0d86195a1e

[2022-01-24 00:33] #20839 closed

[2022-01-24 02:18] virendhar-aws commented on #19817
This ticket can be closed.

[2022-01-24 02:29] Greetlist commented on #21005
I'm willing to make a PR for it, but I don't know how to add a test case. By the way, there is a ```test_trigger.py``` file in tests, Can I just use the file to test this case?

[2022-01-24 03:07] mik-laj commented on #20254
This is needed for some tests, but for the `test_examples_of_prod_image_building.py` test we don't need any environment variable.

If I remember correctly some tests rely on a variable called `AIRFLOW_IMAGE` and we will have to set it, but this is a different kind of test. They are in one directory but in a different file.
https://github.com/apache/airflow/blob/44df1420582b358594c8d7344865811cff02

[2022-01-24 04:11] howardyoo commented on #21023
Thank you, @chenglongyan , for such a quick turnaround on this fix! And thank you @potiuk for approving it!

[2022-01-24 06:18] uranusjr commented on #20974
It should be possible, but there’s no test for this, and IIRC this has been broken for a while (much earlier than the custom object’s introduction).

I’d very much _not_ recommend using `**context` for PythonVirtualenvOperator (and other operators that run the function with isolation, like DockerOperator) due to how cross-process data interchange works in general, but we should still fix this.

[2022-01-24 06:47] uranusjr commented on #20880
Do you mean 3.6? 3.7 is not EOF until June 2023.

[2022-01-24 07:12] ManiBharataraju commented on #20821
@sunnyxcao79 - There is a PR that I created to fix this. Please refer https://github.com/apache/airflow/pull/16508.
To get your subdag scheduled there is a small hack that could unblock you meanwhile,
1. click on zoom into subdag
2. click on code and turn on the subdag. It will be scheduled.

FWIW, it is better to move to TaskGroups. They offer similar functionality of a subdag.

[2022-01-24 08:36] rpauli opened #21057 "Templated fields for DynamoDBToS3Operator similar to MySQLToS3Operator"
### Description

I am using Airflow to move data periodically to our datalake and noticed that the MySQLToS3Operator has tempalted fields and the DynamoDBToS3Operator doesn't. I found a semi awkward workaround but thought templated fields would be nice.
I supposed an implementation could be as simple as adding

  template_fields = (
      's3_bucket',
      's3_key',
  )

to the Operator similar t

[2022-01-24 08:52] uplsh580 commented on #21023
In my case, the same problem occurs when backfill in version 2.2.3. Will the bug be solved in the 2.2.x version?

[2022-01-24 08:53] SIvaCoHan commented on #16982
I meet the same issue.

- Airflow 2.0.1
- PG13 via docker
- Celery Executor

[2022-01-24 09:17] #19817 closed

[2022-01-24 09:21] uplsh580 opened #21058 "Running airflow dags backfill --reset-dagruns <dag_id> -s <execution_start_dt> -e <execution_end_dt> results in error when run twice."
### Apache Airflow version

2.2.3 (latest released)

### What happened

It's the same situation as https://github.com/apache/airflow/issues/21023.
Only change to `airflow dags backfill` from `airflow dags test`.

[code]

### What you expected to happen

_No response_

### How to reproduce

1. Setup Airflow 2.2.3
2. Run any dag (in my case, using [tutorial dag file)](https://airflow.apache.org/docs

[2022-01-24 09:27] potiuk commented on #20974
Yeah. The bad thing is that it is recommended approach in the PythonVirtualenvOperator docstring (not examples but docstring :( https://airflow.apache.org/docs/apache-airflow/stable/_api/airflow/operators/python/index.html

So yeah, I am afraid we should fix it.

[2022-01-24 09:54] potiuk commented on #20880
::D right :)

[2022-01-24 10:34] potiuk commented on #21057
assigned you !

[2022-01-24 10:37] potiuk commented on #21023
Yeah. I already cherry-picked it to 2.2.4 whcih is ~ few weeks away.

[2022-01-24 10:42] potiuk commented on #16982
I have a big request to anyone seing any deadlock issues. We are investigating some deadlocks and any extra information that can be provided might be helpful.

Can anyone who has similar issue, make a "github gist" with the logs of their deadlocks and post links here? Ideally. It should describe the situation (when it happened, what was going on) but also - if possible - contain server side logs t

[2022-01-24 10:44] potiuk commented on #16982
@SamWheating @SIvaCoHan @easontm ^^

Pretty please :)

[2022-01-24 10:45] #20739 closed

[2022-01-24 10:53] potiuk commented on #21058
Feel free to fix ! If you are fast, we can even cherry-pick to 2.1.4 :)

[2022-01-24 11:22] uranusjr commented on #21058
We should also add a check in `clear_task_instances` to catch this mistake, otherwise future regressions are bound to happen.

[2022-01-24 11:24] potiuk commented on #21058
Good point!

[2022-01-24 11:31] potiuk commented on #19059
FYI. Apache Bem release that should be our "last" serious blocker is planned for first week of February. I could make some exclusions and make it, independently of Beam, but since it is only weeks away, I think it is better to wait.

[2022-01-24 11:34] potiuk commented on #15635
FYI. One of the last "serious" blockers for ARM image is `numpy`. The <1.21 limit added by Apache Beam is going to be removed once Apache Beam releases next version, which is planned for first week of February https://github.com/apache/airflow/issues/19059#issuecomment-1019579091

I could - potentialy - exclude Beam (we did that in the past), but since we know it will be fixed in weeks, we should

[2022-01-24 12:03] andormarkus commented on #15635
@potiuk We are waiting for this almost a year, plus weeks does not matters.
Will this be part of 2.2.4 or we need to wait till 2.2.5?

[2022-01-24 12:29] potiuk commented on #15635
I think 2.3.0, realistically

[2022-01-24 12:29] pritampbonde commented on #21004
@uranusjr : Could you please let us know when can this issue be resloved? In which release of airflow

[2022-01-24 12:31] potiuk commented on #15635
And also copying my comment from https://github.com/airflow-helm/charts/issues/488#issuecomment-1020015439

Just to explain where it comes from.

The problem is mainly because many of the dependencies are scrambling to get proper "architecture" support. This is a good thing - long term - that Apple switched to ARM (more choice is a good thing) and it pretty much forced all the developers to pay at

[2022-01-24 12:41] uranusjr commented on #21004
You need to ask Flask-AppBuilder. They cause the conflict, not Airflow.

[2022-01-24 13:23] potiuk commented on #21005
I believe so - but do not know too much about it - I think you can start with PR even without tests and the right people will comment there on how to add tests!

[2022-01-24 13:30] zambadruzaman opened #21059 "Dag dependency view is not rendering for Postgres backed Airflow"
### Apache Airflow version

2.2.2

### What happened

Dag dependency view is not rendering for Postgres backed Airflow.

### What you expected to happen

In this [if statements](https://github.com/apache/airflow/blob/cecd4c8059e04c5be0cfec67ebb576d08d83f7b9/airflow/models/serialized_dag.py#L312), the iterator for the `else` part (which is including Postgres) is assigned as session.query object whi

[2022-01-24 13:32] potiuk commented on #20982
@ashb @uranusjr @ephraimbuddy @jedcunningham  - I marked it for 2.2.4 - I've seen this one reported by others (I think so: https://github.com/apache/airflow/discussions/21047 ). I guess it might be a bad query somewhere in orphan detection which does not exclude the tasks that are run through other means from adoption by scheduler.

I might be wrong about it and I might take a look shortly, but ma

[2022-01-24 14:29] ashb commented on #20982
I do remember we already made some changes in the orphan code, so there is a _chance_ this has already been fixed.

[2022-01-24 14:36] eladkal commented on #10964
Is this issue happens in latest airflow version? If so please add updated reproduce steps

[2022-01-24 15:56] alexkruWix opened #21065 "Google OAuth access token issue - mismatching_state: CSRF Warning!"
### Apache Airflow version

2.2.3 (latest released)

### What happened

When installing the new version of Airflow in our organization, and connecting it to Google OAuth, we encounter a problem after the initial setup - While the scheduler is working fine, we can not login into Airflow.

Once we select the Google account, we are redirected back to the login screen, and can not go into the UI.
In t

[2022-01-24 16:07] potiuk commented on #21065
This is likely something wrong in in your k8s setup. This is not oauth  issue IMHO. You pribably use "random" to generate SECRET_KEY - and you haave different secret keys in your UI and workers. You have to make sure that the secret key is the same everywhere. I heartily recommend to use Airflow Helm Chart https://airflow.apache.org/docs/helm-chart/stable/index.html
 and Production image: https://

[2022-01-24 16:07] #21065 closed

[2022-01-24 16:44] Praveentikkani opened #21070 "airflow.exceptions.SerializedDagNotFound: DAG 'DAG_Name' not found in serialized_dag table"
### Apache Airflow version

2.1.2

### What happened

We had restarted Airflow scheduler. After restart, we suddenly saw all our DAG's were missing from the UI. When we go to old tasks from task_instaces page & look at the old task it says this error.

Something bad has happened.
Please consider letting us know by creating a bug report using GitHub.

Python version: 3.8.11
Airflow version: 2.1.2
N

[2022-01-24 16:48] potiuk opened #21071 "Update the architecture overview to include Triggerer"
### Body

Following up after the [discussion](https://github.com/apache/airflow/discussions/21068) : we need to update our Concept/Architecture overview to include Triggerer: https://airflow.apache.org/docs/apache-airflow/stable/concepts/overview.html

### Committer

- [X] I acknowledge that I am a maintainer/committer of the Apache Airflow project.

[2022-01-24 17:04] alex-astronomer opened #21072 "manage_sla firing notifications for the same sla miss instances repeatedly"
### Apache Airflow version

2.1.4

### What happened

SLAMiss is firing notifications (Slack notification, as defined by the sla_miss_callback) but every time it calls the sla_miss_callback it's sending notifications for the same set of tasks.  It seems as though the notification sent flag in the database is never set to true.  This happens when there are a large number of sla misses that need to

[2022-01-24 17:33] lidalei commented on #19635
Hi @potiuk , we have seen a similar issue since we upgraded from Airflow 2.0.2 to Airflow 2.2.3, for example in a BashOperator.
[code]
Besides, we have seen a related error
[code]

[2022-01-24 17:33] potiuk commented on #21046
We will do it when we finish converting of build image to python.

I prefer to only change the Bash scripts if absolutely necessary as we will have to move all those changes to Python version (and we are not very far from that to be honest)

[2022-01-24 18:43] nclaeys commented on #20982
@potiuk I will take a look at it. I am not that familiar with the inner workings of airflow, but I think that the query for orphaned tasks is wrong. At the moment it does:
`
session.query(TI)
                        .filter(TI.state.in_(resettable_states))
                        .outerjoin(TI.queued_by_job)
                        .filter(or_(TI.queued_by_job_id.is_(None), SchedulerJob.state != S

[2022-01-24 19:18] luanphungba commented on #19397
hi, i'm facing this issue, anyone resolved it?

[2022-01-24 19:43] potiuk commented on #20709
I proposed a fix in https://github.com/apache/airflow/pull/21074

* no need to moduify provider.yaml
* new exception introduced 2.3
* description on how you can raise in the way to make it compatible with 2.1 and 2.2

I think this is the best of all worlds.

[2022-01-24 19:59] potiuk commented on #19891
ALLRIGHT:
:crossed_fingers:  everyone: https://github.com/apache/airflow/pull/21020

[2022-01-24 20:14] potiuk commented on #20982
I think it ain't so easy. Unlike Backfills Manual runs are also "controlled" by scheduler. I have a feeling this is more a problem with kubernetes_executor's adoption code which uses labels: https://github.com/apache/airflow/blob/1169e3a81f5481e92d29e174163eb5e6d7f3fe93/airflow/executors/kubernetes_executor.py#L678

But this is more of an intuition than looking at the code yet.

[2022-01-24 20:44] nclaeys commented on #20982
Well I do not think the problem is in the adopt_task_instances but I am not sure what the expected behavior should be. It only tries adopting task instances that have the queued_by_job_id field filled in, in which case it changes the labels identifying the previous scheduler pod name with the new one in order to watch them (makes sense in my opinion). In the manually triggered run, we do not have

[2022-01-24 21:07] eladkal commented on #19045
fixed by https://github.com/apache/airflow/issues/19045

[2022-01-24 21:07] #19045 closed

[2022-01-24 21:39] #19891 closed

[2022-01-24 21:42] potiuk commented on #19891
Thanks everyone!

MyPY is re-enabled now. Let's keep our watchful eyes over the next few days to not merge changes that are not rebased to latest main (and quickly fix those that cause main failures it it happens).

The next one when we upgrade to new MyPY release I think :)

[2022-01-25 01:14] csm10495 opened #21078 "DAG with multiple async tasks leads to MySQL errors... which lead to failed tasks"
### Apache Airflow version

2.2.2

### What happened

We have a DAG that has multiple (10ish) tasks that run at the same time. We are using the celery executor all on one host. A bunch of tasks (that were supposed to run at the same time) failed... though they didn't have any logs for their runs.

Upon some log digging, found that the celery command had failed:

[code]

Above that we had something

[2022-01-25 01:30] Greetlist commented on #21005
I have another PR [#19640](https://github.com/apache/airflow/pull/19640) which has not been Merged yet.I should wait until it is finished so I can start a new PR for this.

[2022-01-25 03:51] yuanke7 opened #21081 "Wrong time in task's log interface"
### Apache Airflow version

2.2.2

### What happened

I've set right timezone in docker-compose like this:
    AIRFLOW__CORE__DEFAULT_TIMEZONE: 'Asia/Shanghai'
    AIRFLOW__WEBSERVER__DEFAULT_UI_TIMEZONE :  'Asia/Shanghai'
And I've set the right timezone in UI like this:
![image](https://user-images.githubusercontent.com/48709060/150906800-65cee25b-7e25-4266-a0ad-03477575a007.png)

In other interf

[2022-01-25 04:07] ericpollmann opened #21082 "Scheduler hangs, DAG serialization error under high scheduler load (patch)"
### Apache Airflow version

2.2.3 (latest released)

### What happened

DAGs running on Airflow 2.2.3 run without issue in normal conditions (no error, no hangs), but when scheduler gets heavily loaded, it repeatedly hung with the following error:

<img width="1345" alt="Screen Shot 2022-01-24 at 7 57 43 PM" src="https://user-images.githubusercontent.com/7079390/150908258-2a60b98f-8d35-4a71-9d96-0

[2022-01-25 04:09] ericpollmann commented on #21082
We have looked at https://github.com/apache/airflow/issues/20636 - and there is no op.params added to the operators in our DAGs.
Also aware of https://github.com/apache/airflow/commit/a0cad0725de2c56181f1d9a0b875652ba6ab6361 which doesn't fix this issue, only changes the error message.

[2022-01-25 04:17] ericpollmann commented on #21082
This makes the issue go away but seems to be addressing the symptom rather than the cause - not sure how an unprocessed python dict is reaching this code that assumes params has been processed into a specific format.

diff --git a/airflow/serialization/serialized_objects.py b/airflow/serialization/serialized_objects.py
index 63820ffdf..f165b454b 100644
--- a/airflow/serialization/serialized_object

[2022-01-25 05:49] msumit opened #21083 "A high value of min_file_process_interval & max_active_runs=1 causes stuck dags"
### Apache Airflow version

2.2.2

### What happened

When the value of `AIRFLOW__SCHEDULER__MIN_FILE_PROCESS_INTERVAL` is set to 86400, all dags whose `MAX_ACTIVE_RUNS` is set to 1 stop executing & remains stuck forever. If the `MAX_ACTIVE_RUNS` is set to 2 or above, or `AIRFLOW__SCHEDULER__MIN_FILE_PROCESS_INTERVAL` is set to a lower value (bw 30-300), dags work just fine.

### What you expected

[2022-01-25 06:11] cdibble commented on #13542
I am having a similar experience. I'm on `Airflow v2.2.2` with `KubernetesExecutor` in AWS EKS. I observe when a DAG run kicks off, tasks are quickly queued, but some relatively small fraction of the queued tasks are moved to a running state. At the same time, kubernetes reports `FailedCreatePodSandBox` on tasks that are in the queued state. My scheduler has plenty of resources, but I see the `OSE

[2022-01-25 06:25] rsg17 commented on #12246
I have linked a v0/draft PR for this.

@eladkal Would you be able to help check if this is on the right track?
Or do you know who I should check with? All other comments on this issue are from 2020.

[2022-01-25 07:07] aprettyloner commented on #18894
Thank you for this @leonsmith ! Made our team's upgrade from v2.1.4 to v2.2.3 very clean and simple! 🚀 🚀 🚀 🚀

[2022-01-25 08:13] shaharke-af commented on #20911
hello
this is hitting us with 2.1.4
is there a workaround ?

[2022-01-25 08:50] cansjt opened #21087 "KubernetesJobWatcher failing on HTTP 410 errors, jobs stuck in scheduled state"
### Apache Airflow version

2.2.3 (latest released)

### What happened

After upgrading Airflow to 2.2.3 (from 2.2.2) and cncf.kubernetes provider to 3.0.1 (from 2.0.3) we started to see these errors in the logs:
[code]
Pods are created and run to completion, but it seems the KubernetesJobWatcher is incapable of seeing that they completed. From there Airflow goes to a complete halt.

### What you

[2022-01-25 09:24] eladkal commented on #12246
@rsg17 seems OK. you should add tests and docs then we can fully review.

[2022-01-25 09:36] beci commented on #16802
Should reopen.
The [pendulum bug](https://github.com/sdispater/pendulum/pull/594) already [fixed](https://github.com/sdispater/pendulum/pull/594), but have to wait for the new [release](https://github.com/sdispater/pendulum/issues/600).

[2022-01-25 09:59] shohamy7 opened #21089 "Scheduler Loading DAGs That Have Not Changed"
### Apache Airflow version

2.2.3 (latest released)

### What happened

I have a few DAGs in my dag folder. I used git sync in order copy them into the dag folder.
I saw the DAGs inside my dag folder, and I saw the last time they have been changed was Jan 24 (I used the `ls -l /opt/airflow/dags/repo/` command in order to check that)
Example for one DAG that I have in my dag folder:
`-rw-r--r-- 1 6

[2022-01-25 10:44] theesen commented on #16290
@eladkal Does it make sense if this issue is assigned to me? I have just opened the PR to address this.

[2022-01-25 10:49] Bowrna commented on #20921
@potiuk I checked how airflow-freespace command is added as standalone commands.
Here the entry points in setup.cfg is :
[code]
Do you want each command now available in breeze.py to go into a separate file with main function?

[2022-01-25 10:51] Bowrna commented on #20960
@potiuk I will pick this one next

[2022-01-25 10:55] eladkal commented on #16290
@theesen assigned

[2022-01-25 11:03] Bowrna commented on #20946
@potiuk do you think with buildkit changes, do we have to make changes in build-image in Breeze2? Could you explain to me more how this buildkit change will affect Breeze2?
https://github.com/apache/airflow/blob/ff4939f23ca11e77705fb0a54fe9d3b37375ec05/dev/breeze/src/airflow_breeze/ci/build_params.py#L33-L36

[2022-01-25 11:12] potiuk commented on #16802
Why ?

[2022-01-25 11:19] vijaya-lakshmi-venkatraman commented on #18283
Hello,
Is this still available?

[2022-01-25 11:54] NiallEgan commented on #21030
Hi @mik-laj, we're still working on hosting the source code in a public repo. We hope to make it more publicly available over the coming months.

[2022-01-25 12:37] shadishomali opened #21094 "Oops! Something wrong happened"
### Apache Airflow version

2.0.2

### What happened

I am using MWAA (Managed Apache Airflow) AWS version of 2.0.2. I recently uploaded a new DAG file. However, I am unable to access it from UI, I'm getting an error with the following:

[code]

### What you expected to happen

I'm expecting to be able to access the DAG.

### How to reproduce

_No response_

### Operating System

Linux/ MWAA

###

[2022-01-25 13:10] zambadruzaman commented on #21059
Closed this issue, the problem is not due to any bug, it's configuration issue on my side.

[2022-01-25 13:10] #21059 closed

[2022-01-25 13:13] eladkal commented on #21094
From your description I would suggest to report it to the support of Amazon MWAA.
This doesn't seem to be Airflow issue.

[2022-01-25 13:13] #21094 closed

[2022-01-25 13:24] chriske commented on #19962
Hi there,

I'm facing the same issue as @xelita .
I want to implement custom logging based on the official documentation https://airflow.apache.org/docs/apache-airflow/stable/logging-monitoring/logging-tasks.html#advanced-configuration

Sure, for development it would be easier to test this locally without containers, but I will use the new logging configuration in a Kubernetes cluster and containe

[2022-01-25 13:26] jan920 opened #21095 "When using deferrable operators `task_instance` is saved is saved with `start_date` equal to `end_date`"
### Apache Airflow version

2.2.3 (latest released)

### What happened

When using deferrable operators `task_instance` doesn't have correct `start_date` and it is qual or close to `end_date` even when the task takes significant amount of time.

For example I used operator:

[code]

During the run the `Gantt` was showing correct values on frontend:
![Screenshot 2022-01-25 at 14 19 22](https://user

[2022-01-25 14:01] ThomasGlas-Hopmann opened #21096 "Snowflake connection, boolean value of extra__snowflake__insecure_mode interpreted as string"
### Apache Airflow version

2.2.3 (latest released)

### What happened

Error thrown when using SnowflakeOperator with a Snowflake Connection.

After creating a Snowflake Connection, the "Extra" field was automatically filled with a dictionary containing the values entered in the other input fields. Note: the value for the key "extra__snowflake__insecure_mode" is a boolean.

![image](https://user-

[2022-01-25 14:38] potiuk commented on #20911
You need to pull new image

[2022-01-25 15:19] potiuk commented on #20921
Well. I thought a lot about it recently.

I am still not entirely "sold" on the idea which I described in the issue.

This is especially afer comments of @nico in [This thread](https://apache-airflow.slack.com/archives/CQ9QHSFQX/p1642513096003800).

He expressed some concerns which pretty much mirrored very similar to what I had initially when I wrote the https://github.com/apache/airflow/blob/mai

[2022-01-25 15:45] potiuk commented on #20946
Just a little. Actually if anything, The "buildkit" command made it the "old" breeze build much closer to what the "new" breeze did (i.e. simplified it).

What we really need to do is just syncing the parameters that are used to prepare the "docker build" command (see the description of the issue above):

* --force-pull  and --check-if-python-bae are gone
* build is always executed as one step for

[2022-01-25 15:48] potiuk commented on #20946
One thing - but this should be a separate issue - is that we have this `prepare-build-cache` which slightly modifies build comman (adds --cache-to and starts builder before) - but this is something we should add after and the whole part (it is guarded by `PREPARE_BUILDX_CACHE` variable) about this can be skipped.

[2022-01-25 15:49] potiuk opened #21098 "CI: Reuse building docs from Breeze in CI"
The "build-docs" commmand in CI from new Breeze2 should be used instead of old breeze.

[2022-01-25 15:50] potiuk opened #21099 "CI: Reuse running static checks from Breeze in CI"
The "static-checks" commmand in CI from new Breeze2 should be used instead of old ./breeze.

[2022-01-25 15:53] potiuk opened #21100 "Build PROD image with Breeze"
Similarly to building CI image, we should build PROD image

[2022-01-25 15:58] potiuk opened #21101 "Breeze cheatsheet"

[2022-01-25 16:03] potiuk opened #21102 "Breeze: Add 'prepare-image-cache' in Breeze"
We have a separate command that prepares image caches. It is very similar to "building image" but:
* it should prepare both prod and CI images
* the `docker build` command should be slighly modified (--cache-to and some other commands)
* validation on whether the `buildx plugin` needs to be performed (and command should fail if not with helpful message)

Those "differences" between standard build-

[2022-01-25 16:08] potiuk opened #21103 "Breeze: Detecting if image needs to be rebuild by Breeze and trigger rebuilds"
In many breeze commands, we want to check if the image is "fresh" - i.e. whether the changes in the current sources are much different from the ones we had when the last time we run "breeze-build-image` (CI image only). In case we find that there were changes to important files (using hashes stored in .build) we should:

1) ask the user if it is ok to rebuild the image (timing out after 4 seconds)

[2022-01-25 16:09] potiuk opened #21104 "Breeze: Exec'ing into running Breeze"
`./Breeze2 exec` should exec into the currently running Breeze (or fail with helpful message if Breeze is not running).

[2022-01-25 16:14] potiuk opened #21105 "Breeze: Setting up local virtualenv"
There shoudl be a comand that allows to set-up local virtualenv easly.

This involves:

* checking is airlfow is installed in "${HOME}/airflow" and warning and suggesting to move elsewhere if so (this is very bad because ${HOME}/airflow is by default where airflow stores all files (logs/config etc).

* cleaning the "${HOME}/airflow" and regenerating all necessary folders and files

* checking if v

[2022-01-25 17:11] potiuk commented on #19962
@chriske - could you please open a new [discussion](https://github.com/apache/airflow/discussions) and explain all the details of errors, problems and how you tried to remedy it. Ideally a `gist` with logs and details of error message you had, and goal that you tried to achieve. There are many things you should check and describe:

* What is your configuration you applied?
* How did you check that

[2022-01-25 17:14] potiuk commented on #19962
Unfortunately - as we warned the users - in https://airflow.apache.org/docs/apache-airflow/stable/start/docker.html#production-readiness Docker Compose requires you to be an expert in containers and Docker Compose behaviour -  that's the nature of it:

[2022-01-25 18:10] o-nikolas commented on #20921
Thanks @potiuk (Niko here), you've captured my concerns very well :+1:

[2022-01-25 18:14] ulinares commented on #9738
Hi everyone,
Currently I'm working on this, I'd be happy to contribute.

[2022-01-25 18:18] potiuk commented on #9738
Assigned you @ulinares !

[2022-01-25 18:55] dazedavid commented on #21096
We have had similar experience with the issue @ThomasGlas-Hopmann. We switched back to previous version for a fix 2.3.1.
<img width="1550" alt="Screenshot 2022-01-10 at 10 44 04 PM" src="https://user-images.githubusercontent.com/36707342/151040042-dfb4ddd4-474b-4bd2-9a2b-45064e22695b.png">
Here is our screenshot which replicates the same issue..
Operating System

Debian 11 (bullseye)

Versions of

[2022-01-25 18:59] mik-laj commented on #21096
Thanks for reporting the issue. I will take care of it urgently, but we will have to wait a while for the fix to be released.

[2022-01-25 20:39] shivkumar-topgolf commented on #18545
Hello All, we have recently installed Airflow 2.1.4. We are trying to set-up LDAP Authentication and have followed the steps mentioned here:  https://flask-appbuilder.readthedocs.io/en/latest/security.html#authentication-ldap

We are using Microsoft AD, however still LDAP Auth is not working. Tried to check the webserver.logs but found no error.

Could anyone help me out please?

Thanks!

[2022-01-25 21:49] Arti3DPlayer opened #21109 "apache-airflow-providers-google"
### Apache Airflow Provider(s)

google

### Versions of Apache Airflow Providers

apache-airflow-providers-google==6.3.0

### Apache Airflow version

2.2.3 (latest released)

### Operating System

Macos m1

### Deployment

Virtualenv installation

### Deployment details

_No response_

### What happened

[code]

Google libraries cause:

[code]

Similar issue fixed: https://github.com/grpc/grpc/iss

[2022-01-25 21:53] csm10495 commented on #21078
So it seems like if we have the task's retries set to something > 0 it'll retry and may/may not pass later.

Should it count as a retry if the task didn't even start?

[2022-01-25 21:57] potiuk commented on #21109
Apple sillicon M1 is not supported yet. But likely it will be soon (a month or so). this issue tracks it:  https://github.com/apache/airflow/issues/15635

Closing as duplicate

[2022-01-25 21:57] ferruzzi commented on #18874
It looks like https://github.com/apache/airflow/pull/19030 is unrelated and, IMHO, undesirable since it is changing the default behavior of an existing Operator.

@eladkal @uranusjr - Do either of you feel that one needs to be finished and included here?

[2022-01-25 21:57] #21109 closed

[2022-01-25 22:08] tsaaii opened #21110 "Connecting Airflow to Azure data factory fails giving a red banner but doesn't give the reason."
### Apache Airflow Provider(s)

microsoft-azure

### Versions of Apache Airflow Providers

apache-airflow-providers-microsoft-azure

### Apache Airflow version

2.2.3 (latest released)

### Operating System

windows

### Deployment

Other Docker-based deployment

### Deployment details

I have a docker image with kubernetes which has all the provider dependencies and other pip installations with o

[2022-01-26 00:08] #13483 closed

[2022-01-26 01:45] josh-fell commented on #21110
I can't _necessarily_ speak to why there is an empty red banner but I can see two things going on:
1. The "Test" button is inactive so you actually can't test the connection. Typically you should see "UNAUTHORIZED" in the red banner and the tooltip below when you hover over the "Test" button:
![image](https://user-images.githubusercontent.com/48934154/151089020-4ea6f3a4-dfe5-4431-a49a-4d21d4bb3f8a

[2022-01-26 02:11] rustikk opened #21112 "HttpOperator is stuck at retry"
### Apache Airflow version

2.2.3 (latest released)

### What happened

When trying to run the HttpOperator it goes straight to up for retry instead of running and never fails with a helpful error message it just stays stuck in 'up_for_retry'.

### What you expected to happen

I expected the HttpOperator to fail helpfully.

### How to reproduce

[code]

### Operating System

Docker (debian:buster)

[2022-01-26 02:32] Bowrna commented on #20946
ok @potiuk I think I have to go and dig deeper to understand the impact of` buildkit` change. Could you tell me which command in breeze I can go through to better understand on the parts you have mentioned?

[2022-01-26 02:33] rustikk commented on #21112
My bad this was a user error bug, closing.

[2022-01-26 02:33] #21112 closed

[2022-01-26 02:43] uranusjr commented on #18874
No, let’s just fix the Docker log streaming issue here.

[2022-01-26 05:08] howardyoo opened #21114 "Better terminology for Airflow's execution start and end date"
### Apache Airflow version

2.2.3 (latest released)

### What happened

In the future releases, the terminology around how Airflow defines start and end of its `execution` **should be more clearly defined to avoid constant confusion**. I would like to suggest completely replacing the term with `data interval` for better clarity of what it refers to, in the documentation and source code of airflow.

[2022-01-26 07:19] uranusjr commented on #21070
Already fixed.

[2022-01-26 07:19] #21070 closed

[2022-01-26 07:23] caoquyvu commented on #13483
Using airflow 2.0.1 and still get the error

[2022-01-26 07:58] Praveentikkani commented on #21070
Hi, Can you refer me to the ticket where it is fixed.

[2022-01-26 07:58] Praveentikkani commented on #21070
Hi, Can you refer me to the ticket where it is fixed.

[2022-01-26 08:58] viktorvia commented on #20804
I've found just the two that reported directly, did a search for usages of `timing()`. The rest were going through `timedelta`. This was done in the fix for the same issue but for different timers before, #10633.

[2022-01-26 09:35] uranusjr commented on #20974
So I dug around and the problem is that some of the objects can only be serialised with `dill`, not `pickle`. `**context` works if the operator is set up with `use_dill=True`, and `use_dill=False` (the default) fails if those non-serialisable objects are requested, which does not seem unreasonable to me.

What’s the suggestion here? There are two approaches I can think of:

1. Keep the current beh

[2022-01-26 10:24] Bowrna commented on #20960
@potiuk can you guide me in old breeze to the part of code that gets executed when we do `./breeze shell` command? I am not able to backtrack the code.

[2022-01-26 10:31] Mengde-Cao opened #21118 "can not delete dag"
### Apache Airflow version

2.2.3 (latest released)

### What happened

I  delete a dag via both airflow UI and REST api, but the dag is just temporarily deleted and appears again in next dag_dir_list_interval.
The database backend is postgresql-13, during the deletion, record corresponding  the dag in the table [tag] is deleted but then resumes.

### What you expected to happen

the dag python fi

[2022-01-26 12:43] Skuratovskyi opened #21125 "apache-airflow-providers-trino issue when I use "run" method, query is not performed"
### Apache Airflow version

2.2.3 (latest released)

### What happened

When I use Trino provider I use "run" method in TrinoHook, because I need run "create table" query.
But these queries are not performed on Trino server.

### What you expected to happen

I expected, that queries that were started from "run" method should be performed)

### How to reproduce

Create DAG file with Trino provider

[2022-01-26 13:18] EricGao888 opened #21127 "Fail to download task log if there are Chinese characters in dag_id"
### Apache Airflow version

main (development)

### What happened

If there are Chinese characters in dag_id of a dag, downloading logs of tasks which belong to the dag leads to 'Internal Server Error Page'
![image](https://user-images.githubusercontent.com/34905992/151167538-59898b5c-8978-4b76-b732-bdfeff2afba8.png)
![image](https://user-images.githubusercontent.com/34905992/151167566-bb3627db-20

[2022-01-26 13:28] potiuk commented on #20946
Just
* build-image
* prepare-image-cache

That's all. Those are the only two impacted "really", we call "build-image" methods from other commands (for example when we run `./breeze` - build image is run when we determine if we should do it, but they use the same "_build_images.sh" libraries to call build image methods.)

[2022-01-26 14:41] bparhy commented on #18041
I am seeing similar issue in our Airflow with kubernetes environments.

Airflow Version : 2.1.3
Kubernetes Version : v1.20.5

What Happens
This happens intermittently.
I am seeing tasks are not deleting at the kubernetes side. Even though they are completed successfully in the UI they have an Error status at the pod.

We have 1000s of task and this happens only for couple of tasks so far.

Tasks L

[2022-01-26 15:16] vxtals opened #21128 "Dag with @monthly schedule triggers before complete period ends"
### Apache Airflow version

2.2.2

### What happened

Today, 2022-01-26, I created a dag with start_date '2021-12-01 11:09:00' and a schedule_interval '@monthly'. I understand this is expected to execute for the first time on february 1st, because at '2022-01-01 0:00:00', the month period is not completed yet. But it started as soon as I turned it on.

Is this ok?

### What you expected to happen

[2022-01-26 16:44] #12876 closed

[2022-01-26 16:47] potiuk commented on #21070
https://github.com/apache/airflow/pull/19113

[2022-01-26 16:50] potiuk commented on #21070
Although #19113 has been fixed apparently in 2.2.1 - and this one was reported also in 2.2.1 - @uranusjr - are we sure it is fixed? Or maybe I got it wrong?

[2022-01-26 16:59] potiuk commented on #21070
Duplicate of #18554

[2022-01-26 17:53] potiuk commented on #20974
I am for using dill=True. We are not going to endorse using **context directly, especially with the TaskFlow API it's more convenient to use directly context field. It woudl be fantastic (Not sure if that can be done or maybe works already) if we could get the Context field names auto-complete'able in this case. And we do not leave the user without solution - add use_dill=True and it should work.

[2022-01-26 18:00] potiuk commented on #20960
Look for `enter_breeze` :)

[2022-01-26 18:05] potiuk commented on #21118
In Airflow DAGs are controlled by the DAGs folder not UI/API/CLI.

You should delete DAG from dags folder first in order to delete it from the UI. Deleting "DAG" from UI/CLI/API removes all DB records for a dag that has been deleted from DAG folder.

[2022-01-26 18:05] #21118 closed

[2022-01-26 19:03] imranshaikmuma opened #21132 "Cant see task instance details page"
### Apache Airflow version

2.0.2

### What happened

Cant see task instance details page
The retry of the task failed because the task instance is in failed status. But we cant see the log of task instance as the page is not being rendered. Cloudwatch log has no logs as well

### What you expected to happen

_No response_

### How to reproduce

_No response_

### Operating System

Amazon Linux AM

[2022-01-26 19:32] armandleopold commented on #12484
Thanks @itayB

[2022-01-26 21:15] #20254 closed

[2022-01-26 22:39] xelita commented on #19962
No I have followed @potiuk recommendation and we are now using the official HELM chart to deploy Airflow which actually works fine.

[2022-01-26 22:47] #21017 closed

[2022-01-26 23:40] morhook commented on #18041
@bparhy have you checked kubelet logs to detect node pressure evictions or other related evictions?

[2022-01-27 00:07] #10978 closed

[2022-01-27 01:20] pwachira opened #21139 "Websocket trigger for long-lived deferable operators"
### Description

Create a trigger for deferrable operators that uses a websocket client to send a long-lived/long-running task request to an external remote websocket server that handles (or intiates the handling of) the requested task.
The Async trigger then triggers when the remote server replies
The remote websocket server will be out of the scope of airflow and not implemented here.

### Use c

[2022-01-27 01:33] uplsh580 commented on #21058
I uploaded the other PR because the document(`CONTRIBUTORS_QUICK_START.rst`, `TESTING.rst`) also seemed to need an update.
https://github.com/apache/airflow/pull/21140

[2022-01-27 02:52] Bowrna commented on #20960
initialization::check_docker_version()

This checks the docker version and instructs if failed to install docker. Check if the docker available is good to go

build_images::forget_last_answer()
To remove the forced answer given previously.

build_images::determine_docker_cache_strategy()
We use pulled docker image cache by default for CI images

build_images::rebuild_ci_image_if_needed()
Checks if

[2022-01-27 05:35] uranusjr commented on #20974
Moving to 2.3 since this is not a “bug” per se but not working by design.

[2022-01-27 05:36] #21058 closed

[2022-01-27 06:31] Yeonghobyun opened #21141 "Not showing "Last Run" on Airflow Web UI"
### Apache Airflow version

2.1.4

### What happened

After upgrading to airflow 1.10.10 to 2.1.4, I cannot see 'Last Run' column value on dags page on airflow web ui.

###
![image](https://user-images.githubusercontent.com/30676005/151303105-a7c4b8fe-cdd5-4b84-817e-33318d6355cb.png)

Why does this happen?

### What you expected to happen

It seems to be a problem with the version of the sources ​

[2022-01-27 06:53] uranusjr commented on #11323
Yeah I don’t see how this could break user code in practice. Should be doable.

[2022-01-27 07:18] LIKEL123 opened #21142 "sqlalchemy.orm.exc.StaleDataError: UPDATE statement on table 'dag_run' expected to update 5 row(s); 0 were matched."
### Apache Airflow version

2.2.2

### What happened

I have the same problem, and I don't know how to solve it. but my airflow-scheduler.err the errors reported in this log are:
"sqlalchemy.orm.exc.StaleDataError: UPDATE statement on table 'dag_run' expected to update 5 row(s); 0 were matched.
", How should this problem be solved

### What you expected to happen

I have the same problem, and I do

[2022-01-27 09:14] yuanke7 commented on #18422
Finally it solved by myself.

If you face the same problem while using Airflow or sending long response request and not getting response, use linux command 'curl' to send a http request instead of python's 'requests' pkg.

It has to be the problem of python requests(SimpleHttpOperator based on it), it works fine on my Mac but failed on my linux server which confused me for a long time, pls leave a

[2022-01-27 11:03] potiuk commented on #21139
By all means - please add it :). That's definitely something that will make Defferable Operators easier to implement !

[2022-01-27 11:04] potiuk commented on #21139
Assigned you

[2022-01-27 11:08] potiuk commented on #21139
And messageing system triggers is the next best thing after that one too, especially if we could make them generic for multiple  messaging systems. I am not sure if there are good proven libraries that could provide the right abstraction - I'd think something lik Kombu (which we already use through Celery) might be a good candidate but I do not have enough deep experience to make the right call he

[2022-01-27 11:17] PApostol commented on #21141
I have faced the same issue when upgrading from 2.0.2 to 2.1.4, but it was resolved after upgrading again to 2.2.3.

[2022-01-27 11:43] potiuk commented on #20960
Looks good. Few comments:

We can skip this one. It has been used in pre-commits and shoudl have been removed in the last `buildx` refactor. I will remove it shortly. It was used to remember which answer we gave when "build" pre-commit run, so that "mypy" and "flake" would not ask the same question again. But right now I opted for simply "warning" the user and continuing with the pre-commit rather

[2022-01-27 12:25] chriske commented on #19962
Hi,

thanks for the replies. I tried it with Helm too, and it's working. Some strange thing is going on with compose and mounted file/folder permissions, but currently I don't have time to figure out the exact problem and solution.

[2022-01-27 12:56] potiuk commented on #19962
Yeash this is **precisely** what I ment by adding this as a warning to our docuementation:

[2022-01-27 12:56] potiuk commented on #19962
Yeash this is **precisely** what I ment by adding this as a warning to our docuementation:

[2022-01-27 12:58] #20709 closed

[2022-01-27 15:28] lidalei commented on #21059
Hi @zambadruzaman, could u share which configuration issue? We had the same problem after deleting some dags.
The browser shows error
[code]

[2022-01-27 15:32] gregdorval-glf opened #21156 "Snowflake connection default value of extras insecure_mode set as string instead of boolean, throws error in Snowflake hook"
### Apache Airflow Provider(s)

snowflake

### Versions of Apache Airflow Providers

apache-airflow-providers-snowflake | 2.4.0

### Apache Airflow version

2.2.3 (latest released)

### Operating System

Ubuntu 20.04

### Deployment

Virtualenv installation

### Deployment details

Python 3.8.10

alembic==1.7.5
antiorm==1.2.1
anyio==3.5.0
apache-airflow==2.2.3
apache-airflow-providers-ftp==2.0.1
a

[2022-01-27 16:23] zambadruzaman commented on #21059
Hi @lidalei, yes it was the exact same issue, when you delete any dags, make sure there is no other dag depends on the deleted dag. If you have a dag which has external trigger or sensor pointing to the deleted dag, the dependency graph will be broken and the [dagre-d3](https://github.com/dagrejs/dagre-d3) js won't able to render the graph.

[2022-01-27 16:56] alexhallam opened #21160 "Table View"
### Description

One of the main things we want to know is task durations.

The main way I know how to get this is to hover over the `Gannt` chart or use the `Task Duration` chart.

It would be nice to have the data that is in the `Gannt` chart or the `Task Duration` chat in a table view.

### Use case/motivation

That plots are making the data harder to find than a table alone.

### Related issue

[2022-01-27 17:23] potiuk opened #21163 "`setup-autocomplete` in Breeze2 fails with "Permission denied""
### Apache Airflow version

main (development)

### What happened

When I run "setup-autocomplete" in the new Breeze with zsh it fails with "permission denied" as it tries to access `/.zshrc`:

[code]

### What you expected to happen

I expected the scripts in my `${HOME}` directory to be updated with auto-complete but apparently it tries to update a file in `root' folder.

### How to reproduce

*

[2022-01-27 17:34] #20740 closed

[2022-01-27 17:40] josh-fell commented on #21156
This is a duplicate of #21096 and #21155 has been raised to fix the issue.

[2022-01-27 17:47] potiuk opened #21164 "Breeze2 autocomplete requires `click-complete` to be installed"
### Apache Airflow version

main (development)

### What happened

When I setup autocomplete for Breeze2 on a "bare" system when I have no packages installed, It fails autocomplete with this error:

[code]

It seems that "autocomplete" feature of Breeze2 requires `click-completion` to be installed first. This is a small issue an small prerequisite but I think it is not handled by the currrent `set

[2022-01-27 18:00] ckvtvm-arch opened #21166 "DagFileProcessorManager - ERROR - new DAG tasks are delayed in airflow schedule"
### Apache Airflow version

2.2.3 (latest released)

### What happened

new DAG tasks are delayed in scheduling. When a new task is added, it takes atleast 10 hours to schedule in airflow.

/usr/local/lib/python3.6/site-packages/airflow/configuration.py:361 DeprecationWarning: The hide_sensitive_variable_fields option in [admin] has been moved to the hide_sensitive_var_conn_fields option in [core]

[2022-01-27 19:08] potiuk commented on #21059
Hmmm maybe it woudl be a good idea to add it as PR to https://airflow.apache.org/docs/apache-airflow/stable/howto/operator/external_task_sensor.html?highlight=dag%20dependency (I guess this is the right page)

I think the two f you @lidalei  @zambadruzaman are one of the two best people out there to write such a description tha will be helpful and useful for people like you who will struggle with

[2022-01-27 19:15] potiuk commented on #21160
There is a new tree view coming in Airlfwow 2.3.0 It's already merged. Initial version of it can be seen here https://github.com/apache/airflow/pull/18675 but it already had gone through a number of iterations so it is even better than that. I guess it handles your request pretty nicely. I will close this one as duplicate but if you think your issue is not handled, feel free to comment here and ex

[2022-01-27 19:15] #21160 closed

[2022-01-27 19:15] potiuk commented on #21160
Duplicate of #18675

[2022-01-27 19:16] potiuk commented on #21160
Note - It is shown in "graphical" way not only as tooltip.

[2022-01-27 19:18] #21156 closed

[2022-01-27 19:19] potiuk commented on #21156
Duplicate of #21155

[2022-01-27 19:19] alexhallam commented on #21160
That makes sense.

I still think explicit tables would be nice so statistics show without needing to hover, but it is not a big enough issue to fuss about.

[2022-01-27 19:22] potiuk commented on #21160
Maybe worth re-evaluation after 2.3.0 is released. When you see how it works and if you are unhappy about it, this might be re-requrested (but in the new context). I do believe the new "not-tree-view-any-more" might change a lot of user patterns there :)

[2022-01-27 19:25] alexhallam commented on #21160
I agree!

[2022-01-27 19:43] SangwanP opened #21168 "Add "last updated timestamp" field to API endpoints"
### Description

_No response_

### Use case/motivation

I would like to have a field added to API endpoints which reflects when a record, that is received in the API response, was last updated. It would be nice to have such a field added to as many endpoints as possible.
For example: last_scheduling_decision field can be exposed via the DAG Run API endpoint. This will give the user information on

[2022-01-27 19:55] SamWheating opened #21169 "`is_delete_operator_pod=True` and `random_name_suffix=False` can cause KubernetesPodOperator to delete the wrong pod"
### Apache Airflow version

2.2.2

### What happened

When running multiple KubernetesPodOperators with `random_name_suffix=False` and `is_delete_pod_operator=True` the following will happen:

1) The first task will create the Pod `my-pod`
2) The second task will attempt to create the pod, but fail with a 409 response from the API server (this is expected)
3) The second task will delete `my-pod`,

[2022-01-27 20:00] lidalei commented on #21059
@potiuk Thanks! I created a PR to explain the case. https://github.com/apache/airflow/pull/21170

[2022-01-27 20:40] mattinbits opened #21171 "Airflow schedules tasks in wrong timezone with an MSSQL Metadata DB on a non-UTC server"
### Apache Airflow version

2.2.2

### What happened

Airflow schedules a task an hour earlier than expected, when using an MSSQL metadata database where the DB server is set to the CET timezone. The screenshot below shows the DAG starting an hour before the end of the data interval.

<img width="220" alt="image" src="https://user-images.githubusercontent.com/3765307/151439921-43b2ac5b-3e93-4337-a

[2022-01-27 20:49] ferruzzi commented on #21169
Interesting combination of events.  Another possible solution might be to check the failure cause before calling delete_pod, if it failed because the pod already existed, then don't delete it?

[2022-01-27 20:50] potiuk commented on #21171
Not the first time MySQL bites us.  Seems that indeed people even created packages to handle it correctly https://github.com/spoqa/sqlalchemy-utc. I will assign you to this one :)

[2022-01-27 21:03] mattinbits commented on #21171
@potiuk just to check before I attempt a fix. Are you happy with a solution that uses sqlalchemy-utc for all DB backends, or is it preferrable to have a solution that handles the MSSQL case specifically, and leaves other DB backends unchanged? For example I see there are some DB specific utilities here https://github.com/apache/airflow/blob/aa2cb5545f09d694b9143b323efcd4f6b6c66e60/airflow/utils/sq

[2022-01-27 21:12] potiuk commented on #21171
I think db-specific case will be better (if simple) we already have ~500 deps in Airflow total (including transitive) and while adding one more seems like no-biggie, adding a 'util' in Airlfow seems to be more "straightforward".

[2022-01-28 00:07] #20309 closed

[2022-01-28 01:09] Yeonghobyun commented on #21141
Is there any way to fix the source other than upgrading to 2.2.3?
We are just upgrading airflow 2.1.4 in production environment.
Upgrading to 2.2.3 is burdensome.

[2022-01-28 06:26] Greetlist commented on #20460
I have a similar problem in [#20308](https://github.com/apache/airflow/issues/20308), I fix it via a tricky way. I have a general solution in the issue, but I do not implement it. Hope it can help you. @andreychernih

[2022-01-28 06:47] Greetlist commented on #19929
I have a same problem in [#19612](https://github.com/apache/airflow/issues/19612). Hope it can help you. @eskarimov

Also, on_kill function of Operator isn't called.

Triggerer process's log may have the detail log about it, task's ```try_number``` is decreased by ```TaskInstance._defer_task``` so that if this Deferrable Taks is killed, it's try_number is alway 0,so you can not see the log.

[2022-01-28 10:01] beci commented on #16802
You can set `TZ=UTC` unless you would like to use another TZ. Btw I don't use airflow ATM, I just notified you.

It's your decision to choose between to sweep under the rug or solving it.

[2022-01-28 11:42] tulanowski commented on #16982
I experience the same problem. In the workers logs from last night I can see few dozen errors caused by deadlock. In the scheduler log I can see only one deadlock error, after which scheduler was restarted. Here is a gist containing the logs:
https://gist.github.com/tulanowski/fcc8358bad3c8e5d15678639ec015d8b

Airflow version 2.2.0
MySQL 5.7.33 running on AWS RDS
Celery executor with 6 workers
1 s

[2022-01-28 12:18] csp98 opened #21183 "Webserver "External DAG" button on ExternalTaskSensor not working when dag_id is templated"
### Apache Airflow version

2.0.2

### What happened

When an ExternalTaskSensor receives a templated dag_id , the web interface's "External DAG" button does not resolve the template, so the destination URL does not work (although the sensor correctly waits for the dag_id that the template refers to)

![image](https://user-images.githubusercontent.com/28935464/151545548-cf60193d-7803-414a-aab6-aec

[2022-01-28 12:46] emilianomoscato commented on #15601
Hello, it was not happening in our environment with Airflow 2.0.2 and chart 8.5.3, but after upgrading to Airflow 2.1.4 we start getting this error. We didn't change our Google OAUTH configuration.

[2022-01-28 13:09] asyncverse opened #21184 "ERROR: 404 Client Error: Not Found for constraints"
### Apache Airflow version

2.2.3 (latest released)

### What happened

ERROR: 404 Client Error: Not Found for url: https://raw.githubusercontent.com/apache/airflow/constraints-2.2.3/constraints-3.10.txt

### What you expected to happen

_No response_

### How to reproduce

_No response_

### Operating System

MacOSx, Python 3.10

### Versions of Apache Airflow Providers

_No response_

### Deploy

[2022-01-28 13:52] BilgehanBiricik opened #21185 "Airflow(2.2.2) UI Does Not Show When DAG Deployment Get Exception And Not Schedules (Related with default_args' owner property)"
### Apache Airflow version

2.2.2

### What happened

I am new to the Airflow and I am working on a project. I recently made some changes on one of the DAG and added my user name to default_args' owner property like this:
`'owner': ['user.name1', 'user.name2'],`
Me and my teammate merged like this and our CI/CD pipelines finished successfully and I thought deployment was successful. After that in

[2022-01-28 13:54] ashb commented on #21171
Is there a better datetime type to use that include and stores timezone?

[2022-01-28 14:46] potiuk commented on #21141
Unforttunately not. That was quite a big fix involving quite a number of change that was only implemented and released in 2.2.0 https://github.com/apache/airflow/pull/17732. It was to big to be cherry-picked to 2.1 and it is not likely it will ever will.

I think your best bet is to migrate to upcoming 2.2.4 (it is going to be relased in a week or so). There are a number of other, small fixes impl

[2022-01-28 14:46] #21141 closed

[2022-01-28 14:58] tfayyaz opened #21187 "Breeze failing due to mysql error - public key is not available"
### Apache Airflow version

2.2.3 (latest released)

### What happened

I followed all the instructions to set up Breeze for the first time but when I run `./breeze` I get the following error:

[code]

I am not sure what steps to take to resolve this for Breeze.

It seems related to [20911](https://github.com/apache/airflow/issues/20911) but the install script appears to have the new key

[code]

[2022-01-28 14:59] potiuk commented on #20460
@andrewgodwin - does it ring a bell?

[2022-01-28 15:19] josh-fell opened #21188 ""Test Connection" functionality in the UI doesn't consider custom form fields"
### Apache Airflow version

main (development)

### What happened

When creating a connection to Snowflake in the Airflow UI, I was hoping to test the connection prior to saving the connection. Unfortunately when I click on the Test button I receive the following error despite all fields in the connection form (especially Account) are provided.

![image](https://user-images.githubusercontent.com/4

[2022-01-28 16:08] edithturn commented on #21164
@potiuk please assign it to me, I am installing Linux Mint on Virtual Box

[2022-01-28 16:40] mik-laj commented on #21184
Python 3.10 is not officially supported yet.

[2022-01-28 16:40] #21184 closed

[2022-01-28 16:49] RenGeng opened #21190 "Airflow launched two different job in one pod"
### Apache Airflow Provider(s)

google

### Versions of Apache Airflow Providers

apache-airflow-providers-google==6.0.0

### Apache Airflow version

2.2.1

### Operating System

Debian GNU/Linux 10 (buster)

### Deployment

Official Apache Airflow Helm Chart

### Deployment details

We deploy airflow on GKE with Kubernetes executor, here's GKE version:
`Server Version: version.Info{Major:"1", Min

[2022-01-28 17:03] cansjt commented on #21087
After downgrading to 2.1.0, logs showed another error (but reported with the log level INFO!)
[code]
Giving the missing permission to the scheduler's service account fixed the issue. Still need to upgrade the `cncf.kubernetes` provider again to be sure this was the root cause of the reported error or not.

[2022-01-28 18:30] andrewgodwin commented on #20460
Well, the first weird thing appears to be that the trigger is firing immediately, but I presume this is because TimeDeltaSensor is the delta from the `execution_date` rather than the actual current datetime, thus this must be for something in the past (and is a confusing property of timedeltasensor if you ask me).

Past that, what's odd is that the trigger is getting called twice, which might indi

[2022-01-28 18:33] xyu commented on #20092
@ashb do you have a preferred method to resolve this of the three I mentioned above or perhaps some other idea?

[2022-01-28 18:42] wesleyemery commented on #21110
I've was able to enable the test button by enabling the airflow API in the helm chart:
[code]
However, when I test the connection I still get a red banner with no info for why it's failing.
![image](https://user-images.githubusercontent.com/37018069/151603434-521da2e4-fb51-4f08-b53f-c3f351a035fd.png)

[2022-01-28 18:42] mattinbits commented on #21171
There is such a type in MSSQL (datetimeoffset), but I don't think the problem here is with the stored type. As I understand it, Airflow always stores these values in UTC anyway, so the value stored in a naive date time column can be assumed to be UTC. I think the problem is with the function, whose result is being compared to the stored value. However I don't feel that I have a complete grasp on A

[2022-01-28 18:52] edithturn commented on #21164
I reproduced, I am getting a similar issue with click-completion
![Screenshot from 2022-01-28 13-41-01](https://user-images.githubusercontent.com/58795858/151603625-e9245daf-b8f9-469b-a48c-eb5b4a2629d3.png)

- I am seeing that the installation finished successfully even if this module is not installed, but then autocompletion doesn't work on Breeze
![Screenshot from 2022-01-28 13-41-01](https://us

[2022-01-28 19:19] josh-fell commented on #21110
Right on. Even if you enabled the REST API, the second point still holds. The underlying `AzureDataFactoryHook` doesn't implement a `test_connection()` method which the API uses to perform the test. Without that method, you can't test the connection.

Unfortunately, I tried to whip something up for testing the ADF connection and ran into #21188 which needs to be fixed first.

[2022-01-28 19:40] ephraimbuddy commented on #20974
@uranusjr I think there's a related bug or maybe the same bug but a different error.
When you set `system_site_packages=True`, `use_dill=True`, and ` **context` on the function, it gives error. Though not like we have on this issue but looks related because if you set use_dill=False it gives exactly the same error as we see here.

[code]

[2022-01-28 19:46] wesleyemery commented on #21110
Is there any other way to test the connection? Would DAG logging work [Stack overflow DAG logging](https://stackoverflow.com/questions/40120467/adding-logs-to-airflow-logs)?

[2022-01-28 22:10] potiuk commented on #16802
It's not sweeping unde the rug. it's discussed in a public and workaround is present and the ONLY way to get a fix is to get a new release.

I am quite sure that discussing problem in public, providing a workaround and making a fix available in next "Backward-compatible release" (according to SemVer we adopt in Airlfow) is the right approach.

What would be your proposal of "not sweeping it under

[2022-01-28 22:12] #21096 closed

[2022-01-28 22:17] ManikandanUV commented on #15286
Bump. Selecting my own existing venv, or at the very least reuse existing venvs instead of creating one every time, is a great feature to have.

[2022-01-28 22:23] potiuk commented on #21187
Rebase ot latest `./main`. It is already fixed there via #20912. You can apply it to your own copy/branch if you want by cherry-picking  and resolving conflicts.

Duplicate of #20912

[2022-01-28 22:23] #21187 closed

[2022-01-28 22:40] #20300 closed

[2022-01-28 23:17] ReadytoRocc opened #21201 "Add Trigger Rule Display to Graph View"
### Description

This feature would introduce some visual addition(s) (e.g. tooltip) to the Graph View to display the trigger rule between tasks.

### Use case/motivation

This would add more detail to Graph View, providing more information visually about the relationships between upstream and downstream tasks.

### Related issues

https://github.com/apache/airflow/issues/19939

### Are you willin

[2022-01-29 00:07] #8951 closed

[2022-01-29 07:23] uranusjr commented on #20974
Ah yeah I think this is a combination nobody anticipated. Given that `dill` is already a core Airflow requirement, maybe we should just disallow the two options to be used together?

[2022-01-29 07:48] uranusjr commented on #21171
So the problem is that MSSQL’s `NOW()` function returns a local datetime, so we’d be e.g. comparing 3am UTC with 3:15 local? The analysis makes sense to me.

[2022-01-29 08:30] potiuk commented on #21184
We are going to release Python 3.10 support in Airflow 2.3.0. If you really want to try, we are going to update and evolve constraints for "development" version of Airflow over the next few weeks - but almost for sure they will not work for released Airflow version 2.2.3  https://raw.githubusercontent.com/apache/airflow/constraints-main/constraints-3.10.txt - so please do not report any errors whi

[2022-01-29 08:34] potiuk commented on #21184
BTW. If you want https://github.com/apache/airflow/issues/19059 tracks the support of Python 3.10 for Airflow.

[2022-01-29 08:44] asyncverse commented on #21184
Thanks, @potiuk. I'm going to give the Python-3.10-constraints a test run and report back any errors.

[2022-01-29 08:46] potiuk commented on #21184
Pleasae DON't. They won't work and we know it.:)  Wait at least until we get a CI working with Python 3.10 in main.

[2022-01-29 08:49] mattinbits commented on #21171
Yes, that's my take. More specifically, SQLAlchemy's now() function translates to MSSQL's GETDATE() function. It's easy to fix for MSSQL by calling GETUTCDATE(), just need to figure out the clean way to do that for MSSQL specifically, while leaving the other DB backends working.

[2022-01-29 19:59] potiuk commented on #20956
It's impossible to get any reprosucibility here. You likely have some duplication in your dag_ids - same dag_ids coming from multiple files. But it's hard to say what the problem is . Converting it into discussion. If you provide more information on your dag structure,  logical dags you have and dynamic dags generation schemes you have maybe we can somehow help

[2022-01-29 22:22] #13487 closed

[2022-01-29 23:35] subkanthi commented on #20560
@krtkvrm are you working on this, if not please let me know I almost have the fix.

[2022-01-29 23:37] krtkvrm commented on #20560
Sure, it's taking time on my side

[2022-01-29 23:41] krtkvrm commented on #20560
@subkanthi sure

[2022-01-29 23:52] avkirilishin commented on #21089
You can set `min_file_process_interval` to a large value (for example 86400), `file_parsing_sort_mode` to "modified_time" and `default_timezone` to "system".

I think we have to change the `min_file_process_interval` description due to https://github.com/apache/airflow/commit/add7490145fabd097d605d85a662dccd02b600de

[2022-01-30 00:39] razi-ahmad commented on #20911
I'm getting the same error with the following command
FROM mysql:5.7.34

# update & install dependencies
RUN apt-get update -y \
    && apt-get install -y git

[2022-01-30 07:33] potiuk commented on #20911
I think you need to direct it to MySQL team :). Likely they refreshed some of their images (maybe latest from each minor version) with the new key as well. But that's nothing we can help here.

[2022-01-30 13:48] mariotaddeucci opened #21218 "Enable specify the hook on GenericTransfer"
### Description

Actually the `GenericTransfer` gets the hook based on connection's config.

The cloud providers have multiple hooks with the same connection.

Specifying a parameter `destination_hook` that receive the Hook class,  we can set which hook we want to use, turning easier create new SQL transfers just adding the method `insert_rows ` on hooks.

This could replace the `SqlToS3Operator`,

[2022-01-30 16:24] beci commented on #16802
I mean there is a workaround, but only if UTC is acceptable, therefore the bug still exists.
I don't know what's best when you depend on a broken package. I would reopen this issue, wait until pendulum release the fix, and apply that.

[2022-01-30 17:02] Chris7 opened #21225 "Tasks stuck in queued state"
### Apache Airflow version

2.2.3 (latest released)

### What happened

Tasks are stuck in the queued state and will not be scheduled for execution. In the logs, these tasks have a message of `could not queue task <task details>`, as they are currently in the `queued` or `running` sets in the executor.

### What you expected to happen

Tasks run :)

### How to reproduce

We have a dockerized airfl

[2022-01-30 18:00] potiuk commented on #16802
When pendulum releases the fix there is nothing to do. The new version of pendulum will be automatically updated if the tests pass. Our CI system automatically upgrades to latest versions of released dependencies

So ... there is nothing to do here.

[2022-01-30 21:46] zt50tz commented on #20911
In ubuntu you can run this command
`sudo apt-key adv --keyserver keyserver.ubuntu.com --recv-keys 467B942D3A79BD29`

[2022-01-30 21:47] mattinbits commented on #21171
More details on reproducibility. Start a SQL Server instance with timezone set to one hour ahead of UTC:

[code]

Create the Airflow DB:

[code]

Conn string:

[code]

And a DAG. Change the cron to be less than one hour ahead of the current time in UTC:

[code]

Start Airflow, start the DAG, observe the premature DAG execution.

[2022-01-31 07:34] HansBambel commented on #15286
@ManikandanUV We are doing it the following way for now:
[code]
We have an environment variable containing the conda-env name which is used to get the full path to the Python executable. Then, using a BashOperator, we can use the same environment again for different Tasks.

Additionally, we run an update to the environment if requirements changed (note that we are using poetry as package manager):

[2022-01-31 08:37] c-thiel commented on #19135
Hello @subkanthi,
I just looked through your pull request and have a couple of remarks. Also from my side thanks for picking this up!!!

1. Regarding the default namespace - should we at least for in-cluster deployments default to the namespace of the current pod? This is very helpful if Airflow is run on kubernetes as it will rarely run in the default namespace. We can determine the namspace from

[2022-01-31 08:45] hterik commented on #19135
I would advice you to look into the Airlflow Kubernetes Scheduler. If you already use Kubernetes as your main airflow scheduler you can simply use taskflow and have python functions running in kubernetes as default. If you don't use the scheduler but want to have _some_ tasks running in kubernetes anyway, there is still a lot of useful functions to reuse or take inspiration from in the scheduler c

[2022-01-31 08:58] easontm commented on #16982
_Fortunately_ I haven't seen this behavior in some time. If it returns I'll gather what info I can.

[2022-01-31 09:42] oliakhovych commented on #15451
I have the same problem during completing command:
`docker-compose up`
Output:
`WARNI [airflow.providers_manager] Exception when importing 'airflow.providers.google.leveldb.hooks.leveldb.LevelDBHook' from 'apache-airflow-providers-google' package: No module named 'plyvel'`
I tried this (didn`t help me):
`pip install --upgrade apache-airflow-providers-google`

[2022-01-31 11:16] potiuk commented on #15451
Upgrading dependencies in docker-compose requires you to update the image, not upgrade dependencie manually. You should read more how docker-compose works - see the note in https://airflow.apache.org/docs/apache-airflow/stable/start/docker.html

If you are not ready to manage and build your images, don't use docker compose other than just for quick start. Use local quick start instead:  https://ai

[2022-01-31 13:34] dhananjays commented on #21225
We're facing this as well after upgrading to `2.2.3` from `2.1.0`

[2022-01-31 15:58] edithturn commented on #21100
@potiuk could please point me to where we are building the CI image? To have an  idea how it was build :)
![Screenshot from 2022-01-31 10-47-25](https://user-images.githubusercontent.com/58795858/151825894-094b5263-a8af-4e2d-be0a-9f83eedfa451.png)

I also find that "build CI image" references this another ci_build_ci_image_on_ci.sh which is for the CI and exists for PROD too. ci_prepare_prod_image

[2022-01-31 16:03] edithturn commented on #21100
name: "Build PROD image ${{matrix.python-version}}"

[2022-01-31 16:39] dimon222 commented on #21225
Plus one here, noticing this frequently after bump from 2.1.4 to 2.2.3

[2022-01-31 16:53] Bowrna commented on #21163
@potiuk Can you tell me how we could handle this issue? Do we have to ask the user to update in this case?

[2022-01-31 17:02] edithturn commented on #21164
thank you for this question @Bowrna, I will add it in **setup.cfg** and I will see what will happen. It should be available

[2022-01-31 17:04] jobegrabber commented on #12369
The workaround in our case was to simply add a stub `netloc`:
[code]

[2022-01-31 17:42] potiuk commented on #21100
You need to rebase to latest `main` @edithturn. I JUST merged today the change where those names were actually simplified and the scripts were separate. We used to have `prepare` that either did  `pull` or `build` depending on circumstances (and the logic there was complex because historically we had two ways of building.

I literally yesterday simplified all that and it should be much more straig

[2022-01-31 18:18] potiuk commented on #21164
Not exactly. The tricky point is that you should be able to run Breeze WITHOUT activating the virtual environment. In fact this also happen when you use `pipx`. When you have no "click-complete" installed as "system package" then either `pipx` variant or the ./Breeze2 bootstrap will not work. Try it yourself:

1) Have ./Breeze2 autocomplete installed (currently it updates the .zsh) script to activ

[2022-01-31 18:21] potiuk commented on #21164
Basically the problem is that the user does not have the `.venv` from Breeze activated at the moment the <TAB> is pressed (it only gets activated once you run `./Breeze2` command. That's why `click-completion` needs to be installed as "system" package

[2022-01-31 18:28] potiuk commented on #21163
I think the problem lays somewhere with expanding the user path. It looks like that what really happens here - we are trying to patch `/.zshrc` (in root directory) rather than than `~/.zshrc`. So somehow the code used there:

[code]
Des not work as intended.

BTW. I already know the reason but wanted to know if you can figure it out :D

[2022-01-31 18:29] Bowrna commented on #21164
Got it now 👍

[2022-01-31 18:33] Bowrna commented on #21163
Oh ok. I thought in case of no permission, we should throw appropriate instructions to update .zshrc. I didn't think the error is in expanding the path at all. 😄

[2022-01-31 18:36] potiuk commented on #21163
Ah yeah... This is pretty common :) (happens to me all the time) that I assume something without reading in detail the error message. Actually the error message is very clear about it when you read it:

[code]

Not

[code]
:D

[2022-01-31 18:40] Bowrna commented on #21163
Oh my bad! This makes more sense now @potiuk my bad, I overlooked the error message quickly and spent more time in finding the wrong issue.

[2022-01-31 18:42] potiuk commented on #21163
Been there, done that ... far too many times :D

[2022-01-31 19:01] shohamy7 commented on #21089
Thanks for the response!
Didn't know about this commit, I think you right about the description change for `min_file_process_interval`.
I'll glad to open a PR for this changes and contribute to the project.

In addition, I have a another question about your answer:
How long does it take the DAG to update after the dag file has been modified?

[2022-01-31 20:44] ReadytoRocc commented on #20940
@andrewgodwin & @potiuk thank you for the detailed responses and for confirming this behavior is expected. Are we able to convert this `issue` into a `discussion`? I believe there are some use cases for using pools with deferrable operators.

An example would be if you want to limit the use of an external service that Airflow is orchestrating. Another would be to limit certain sets of tasks from u

[2022-01-31 21:07] eladkal commented on #19877
@ferruzzi since patrikhv is not working on it. Do you want to put a PR to solve this?

[2022-01-31 21:20] eladkal commented on #17992
Could this really ever be solved? you are looking for a way to force your way over someone else that is **choosing** to ignore your `all_done` instructions and prevent the task to be executed. Say that we implement what you ask - what's preventing asking for a feature that will override your override?

may I also point that someone can set your DAG to OFF during execution which results in the last

[2022-01-31 21:33] eladkal commented on #17938
@blcksrx I see that the PR you raised became stale. Do you wish to finish it?

[2022-01-31 21:44] eladkal commented on #8937
@pierrejeambrun are you still working on this issue?

[2022-01-31 21:46] Wuerike commented on #18514
My idea was to do it, but I've forgotten about it actually

[2022-01-31 21:48] eladkal commented on #11894
I'm closing this as probably we won't add new features to Smart Sensors since Deferrable Operators essentially supersede Smart Sensors. See docs: https://airflow.apache.org/docs/apache-airflow/stable/concepts/deferring.html#smart-sensors

[2022-01-31 21:48] #11894 closed

[2022-01-31 21:51] eladkal commented on #9300
functionality added in https://github.com/apache/airflow/pull/17787

[2022-01-31 21:51] #9300 closed

[2022-01-31 21:54] eladkal commented on #8158
Docs "Upgrading Airflow to a newer version" available in:
https://airflow.apache.org/docs/apache-airflow/stable/installation/upgrading.html?highlight=upgrade#upgrading-airflow-to-a-newer-version

[2022-01-31 21:54] #8158 closed

[2022-01-31 22:20] blcksrx commented on #17938
Definitely, but Im still watching for review

[2022-01-31 23:33] ferruzzi commented on #19877
@eladkal I have a few other things I'm working on.  I can have a look when I get time, but it'll likely be a couple weeks unless somebody gets to it before then.

[2022-02-01 01:14] alex-astronomer commented on #17476
Actually, I think this might be more critical than it looks at first glance @potiuk.  By running the `airflow tasks test ...` command through a BashOperator in a separate DAG, which tests the task from the DAG that Marc linked in the original issue, it's actually possible to display unmasked secrets through the Airflow Web UI.

[2022-02-01 03:10] josh-fell commented on #21110
You can certainly create a `PythonOperator`/TaskFlow function that calls one of the `AzureDataFactoryHook` methods (e.g. `get_factory()`, or something else straightforward) and see if you can retrieve pertinent data. But there is really no way to test _prior to_ executing an Airflow task like you can in the UI for ADF.

[2022-02-01 07:30] #18765 closed

[2022-02-01 09:18] potiuk commented on #17476
Why would you want to run "airflow tasks test" in DAG? Is this a valid casethat is likely? Maybe I am not understnding something, but I am not sure I see the case when it could be used in "production" in a valid scenario?

Just to give a bit of context  - there are many ways you could print the unmasked values for connections, variables, even secrets. For example you could easily launch a subproce

[2022-02-01 09:29] eladkal commented on #17938
The PR is closed so if you were waiting for some comment it's better to ping on the PR itself

[2022-02-01 09:30] #14489 closed

[2022-02-01 10:03] #7858 closed

[2022-02-01 10:07] bartcode commented on #15340
Anyone using ArgoCD to deploy the Airflow Helm chart who reaches this issue: read [this piece of documentation](https://airflow.apache.org/docs/helm-chart/stable/index.html#installing-the-chart-with-argocd).

[2022-02-01 14:50] potiuk commented on #20898
Yeah. Confirmed it does look suspiciously 0-always metrics :), Would you maube like to attempt to fix that one @easontm ?

[2022-02-01 14:51] potiuk commented on #20898
Opening PR and discussing there, might be the best way to get to the right solution as it will drag attention of those who are closer to the code.

[2022-02-01 15:26] guidopetri opened #21252 "Distinguish between marking failure/success by user and by task"
### Description

Tasks should have a marker on them or additional information showing that they were marked success/failure/run/cleared by hand vs by the scheduler/worker processes.

### Use case/motivation

When working with others on Airflow DAGs, we constantly have to keep in communication as to what we marked succeeded/failed because otherwise it is not clear whether a task succeeded/failed "n

[2022-02-01 15:43] alex-astronomer commented on #17476
That's very true.  Thanks for explaining your reasoning about this.

[2022-02-01 17:27] #18874 closed

[2022-02-01 17:45] potiuk commented on #18545
I suggest you to open discussion on that or ask on slack and provide more details on what you tried and what does not work. I thnk no-one will be able to help if they do not see details, coniguration etc. It's usually not enough to say " I followed this instructions". You need say specifically what you did and what did not work and how you tried to debug it if you want someone to be able to help y

[2022-02-01 17:50] potiuk commented on #21078
I think what might be really helpful here is description about the DAGs/operators you had - your issue indicates "async" but nothing in the description points to that,so I wonder what really this all means.

[2022-02-01 18:12] Bowrna commented on #21164
@potiuk I see that when we execute `./Breeze2`, it invokes breeze.py and click_completion error is thrown. So you are suggesting to move the installation part inside `setup_autocomplete` to avoid this error. Can you explain to me why does `./Breeze2` code should invoke the breeze.py file? I couldn't understand that part.
https://github.com/apache/airflow/blob/2f4a3d4d4008a95fc36971802c514fef68e8a5

[2022-02-01 20:43] joetsx commented on #19222
![example_broken_dag](https://user-images.githubusercontent.com/97644927/152047612-ae99b1c5-2038-4365-8c18-397eaf1b2408.png)

In the attached DAG example, tasks{1,2,3} are long running, and fast_task{1,2} get completed fast. The problem happens with fast_task2_x - which trigger rule is set to "none_failed_or_skipped" - but it is getting incorrectly skipped in version 2.2.3 but not in 2.0.1 and not

[2022-02-01 21:11] eladkal commented on #14392
The variable doc does mention:

"We also recommend that you try to keep most of your settings and configuration in your DAG files, so it can be versioned using source control; Variables are really only for values that are truly runtime-dependent."

Also we explain in:
https://airflow.apache.org/docs/apache-airflow/stable/best-practices.html#top-level-python-code

"Specifically you should not run a

[2022-02-01 21:11] #14392 closed

[2022-02-01 21:27] ckvtvm-arch commented on #21166
May i please know if i can expect to receive some update on this or do you want to merge this issue with another issue ?

[2022-02-01 21:29] eladkal commented on #19224
Fixed by https://github.com/apache/airflow/pull/19354

[2022-02-01 21:29] #19224 closed

[2022-02-01 21:37] pierrejeambrun commented on #8937
Hello @eladkal

I didn't start yet, I wanted to close this one first https://github.com/apache/airflow/pull/20386 but it's taking a little longer than expected. I think it's ready now and I can start working on this one :)

[2022-02-01 21:44] KCIV commented on #18422
Can you provide a deeper example of how this was fixed? your dag/task for example?

I'm running into this scenario where a dag calls to an API endpoint which lasts longer than 5 minutes.

Request.get works in all tests (swagger/browser/python) but used in airflow fails after 5 minutes ignoring retries/timeout arguments.

[2022-02-01 21:45] csm10495 commented on #21078
So there were several tasks that

[code]
Each task was just a simple Python Operator doing something external.

This was more easy to reproduce if we set AIRFLOW__CORE__PARALLELISM and AIRFLOW__CORE__MAX_ACTIVE_TASKS_PER_DAG  to something high like 128 and then had a dag with 200+ parallel tasks. Though we had seen it in a case with neither set (so the fell to defaults).

[2022-02-01 22:28] Gollum999 opened #21259 "Custom Timetables must be imported relative to $PLUGINS_FOLDER"
### Apache Airflow version

2.2.3 (latest released)

### What happened

I wrote a custom Timetable following the [example](https://airflow.apache.org/docs/apache-airflow/stable/howto/timetable.html).  `airflow plugins` reports that the plugin is registered correctly, and running the DAG script on the command line reports no errors.  But once the webserver attempts to load the dag, it complains:
[c

[2022-02-01 23:11] jedcunningham commented on #18936
@raphaelauv, I haven't been able to reproduce this on `main`. Are you able to reproduce this on `2.2.3`?

[2022-02-02 02:58] easontm commented on #20898
I won't be able to do it right away because of other obligations, but I'll see what I can do in a few weeks!

[2022-02-02 03:38] auvipy commented on #9610
some redis issues were fixed in latest release of kombu & celery.

[2022-02-02 04:25] bmoon4 commented on #21259
I think sample code is wrong.

Asterisk (*) is missing in `infer_manual_data_interval`'s parameter

https://airflow.apache.org/docs/apache-airflow/stable/howto/timetable.html#define-scheduling-logic
![image](https://user-images.githubusercontent.com/28991527/152092702-38f9febe-9553-4f26-9e57-53d57f424a01.png)

https://airflow.apache.org/docs/apache-airflow/stable/_api/airflow/timetables/base/index

[2022-02-02 06:14] uranusjr commented on #21259
The asterisk is optional in this case. It means `run_after` can only be called as a keyword argument, while the example code allows the caller to use it as _either_ positional or keyword. But since the function is always only called with keyword arguments in Airflow, both syntax will work. The example code is not wrong.

As for the absolute import issue, unfortunately this is a (somewhat obsecure

[2022-02-02 07:20] bmoon4 commented on #21259
Check this out https://stackoverflow.com/questions/69732193/airflow-2-2-timetable-for-schedule-always-with-error-timetable-not-registered/70948018

[2022-02-02 07:23] bmoon4 commented on #21259
I had a same problem a couple of weeks ago. Found this https://stackoverflow.com/questions/69732193/airflow-2-2-timetable-for-schedule-always-with-error-timetable-not-registered/70948018 and the 3rd answer helped me fix the problem.

[2022-02-02 08:58] eladkal commented on #20449
I'm able to reproduce it with basic auth on 2.2.3:

In `/login` when clicking `Register`:
[code]

[2022-02-02 09:13] dcardinha opened #21265 "Scheduler crashes after dag processing timeout"
### Apache Airflow version

2.2.3 (latest released)

### What happened

We are seeing some scheduler crashes after it times out processing a dag.

An example:

[code]

We use airflow 2.2.3 and this is happening a couple of times per day. We are trying to increase the dagbag timeout seconds but it has not cleared all the crashes. Could you please advise?

### What you expected to happen

Scheduler

[2022-02-02 09:14] potiuk commented on #11104
Closing as new Breeze is already on the way,

[2022-02-02 09:14] #11104 closed

[2022-02-02 10:01] eladkal commented on #9164
solved by https://github.com/apache/airflow/pull/21175

[2022-02-02 10:01] #9164 closed

[2022-02-02 11:28] mashirali opened #21266 "Create DAGs Dynamically using REST API"
### Description

I want to add an API endpoint which creates single or multiple dags dynamically using the API.

### Use case/motivation

It can work as a backend for various ETL pipelines.

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://github.com/

[2022-02-02 12:28] potiuk commented on #21266
This is impossible now. DAGs must be created as Python files in the DAGs folder.

There is a discussion of it (not very active) and possibly in the future it will be implemented -  one of the incarnations of it are here https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-5+Remote+DAG+Fetcher - but this is a fundamental change in how Airflow would work and we are not going to implement it any t

[2022-02-02 12:28] #21266 closed

[2022-02-02 13:16] vijaya-lakshmi-venkatraman commented on #8540
Hello,
Is this still available?

[2022-02-02 13:18] vijaya-lakshmi-venkatraman commented on #8387
Hello,
Is this still available?

[2022-02-02 13:35] rd16395p commented on #8540
Hello!

Sorry about the very long delay - yes! Lets work together on this during the weekend.

[2022-02-02 13:46] eladkal commented on #8387
@vijaya-lakshmi-venkatraman yes - assigned to you

[2022-02-02 13:58] bparhy commented on #18545
I am having the same issue when I upgraded to 2.1.3 version. Is there a version where there is a fix for this ?

[2022-02-02 14:13] shreyaUp opened #21269 "Option to Suppress existing logs"
### Description

Hi,

Would it be possible to suppress airflow existing logs for task instance and use custom logging?

### Use case/motivation

The main reason behind this is to suppress the logging of connection details that is printed without masking the Host and Port details. (XX are added by me below)

`[2022-01-24, 19:10:48 UTC] {base.py:70} INFO - Using connection to: id: mysql_default. Hos

[2022-02-02 14:35] #21269 closed

[2022-02-02 14:39] soyedokun opened #21271 "Issues reaching the Airflow UI. (Something bad has happened.)"
### Apache Airflow version

2.0.2

### What happened

When I try to click on the Airflow UI link I get "Ooops! Something bad has happened"

### What you expected to happen

I expect to see the Airflow UI.

### How to reproduce

Just click on the Airflow UI link in AWS MWAA

### Operating System

AWS

### Versions of Apache Airflow Providers

Airflow version: 2.0.2

### Deployment

MWAA

### Deploy

[2022-02-02 15:16] eladkal commented on #21271
Please contact MWAA for support. This is not an airflow issue.

[2022-02-02 15:16] #21271 closed

[2022-02-02 15:35] malthe commented on #19612
We can close this now then right?

[2022-02-02 16:13] sajod commented on #19589
With the helm chart 1.4.0 version and with Kubernetes v1.23 the issue is still on!

I am receiving the upper mentioned error message when I turned ingress on.
I managed to fix the error by manually editing the chart:

chart/templates/webserver/webserver-ingress.yaml:
Instead of (line 22):
`{{- $apiIsStable := semverCompare ">= 1.19.x" (include "kubeVersion" .) -}}`
I changed to this:
`{{- $apiIsSt

[2022-02-02 17:11] makrushin-evgenii opened #21274 "Is @DAG/@task decorators compatible with dynamically generation?"
### Apache Airflow version

2.2.3 (latest released)

### What happened

[code]

Running the DAG above, i retrieve the logs:
[code]
1. During the DAG generation, `dag_id` variable tooks different values
2. During the execution `test_task` method, `dag_id` variable tooks the single value "test_dag_3"
3. During the execution `test_task` method, `dag_id` variable tooks different values when passed thr

[2022-02-02 18:00] KCIV opened #21276 "Airflow Remote Connection Closes after 5 minutes when calling to long running API"
### Apache Airflow version

2.2.3 (latest released)

### What happened

Using request.get inside an airflow task in which the .get can take more than 5 minutes will cause a remote connection closure to happen which doesn't seem to be configurable in any sense. Even when setting .get(_url, timeout=None) causes the same remote connection closure to occur.

I have tested the endpoint using chrome, fi

[2022-02-02 18:34] SasanAhmadi commented on #16919
Hi @eladkal, I've created a PR for review on this issue.

[2022-02-02 18:51] potiuk commented on #21276
This is likely timeout of docker desktop not Airflow. See https://stackoverflow.com/questions/36488209/how-to-override-the-default-value-of-compose-http-timeout-with-docker-compose-co

[2022-02-02 18:51] #21276 closed

[2022-02-02 19:58] evillag commented on #8665
It is an issue on 2.0.2 (AWS MWAA)

[2022-02-02 21:38] dliang5 opened #21279 "Misplaced f in f-strings in get_transfer_run from bigquery_dts"
### Apache Airflow version

2.1.4

### What happened

At my organization, we currently followed the documentation for Bigquery data transfer in Airflow/Composer (1.17.9). It calls a `BigQueryDataTransferServiceTransferRunSensor`  which executes and creates a class called `BigQueryDataTransferServiceHook`.  Using this hook object, it calls a specific function called `get_transfer_run` which calls i

[2022-02-03 00:07] #18457 closed

[2022-02-03 02:09] wolfier opened #21284 "Container status for KubernetesPodOperator / KubernetesExecutor"
### Description

When a container fails, the reason is not presented is a clear manner.

For example, when the base container fails due to OOM, I would like to this some version of this printed in the task logs.

[code]

### Use case/motivation

It's difficult to determine why a pod fails when the logs only says it has an event of Failed or if the worker pod received a SIGTERM.

[code]

### Relate

[2022-02-03 02:11] wolfier commented on #21284
I believe it should be an easy additional (at least for the KubernetesPodOperator) since the information is part of the V1Pod class, `V1Pod.status.container_statuses[].state.terminated.reason`.

[2022-02-03 06:13] uranusjr commented on #20449
What is the version of Flask-Appbuilder in your environment? It seems like there are some incompatible changes between it and our own security manager implementation.

[2022-02-03 09:08] andreaslang opened #21286 "Databricks Maintenance occasional wrong 403s causing retry failures - Please Discuss"
### Apache Airflow Provider(s)

databricks

### Versions of Apache Airflow Providers

current master, but has been there since pre-2.0

### Apache Airflow version

2.2.3 (latest released)

### Operating System

ubuntu 18.04 LTS

### Deployment

MWAA

### Deployment details

_No response_

### What happened

I have databricks retry limit/delay configured to deal with the usual issues during a maint

[2022-02-03 10:01] eladkal commented on #20449
For me it's
`Flask-AppBuilder==3.4.4`

[2022-02-03 10:02] eladkal commented on #20449
Another user report this bug: https://github.com/apache/airflow/discussions/20866

[2022-02-03 11:14] spiremak opened #21291 "Scheduled dag never runs"
### Apache Airflow version

2.2.3 (latest released)

### What happened

I have tried to schedule a dag to run every 5 mins. However at time 10:57am the dag looks like the below and I would have assumed the dag should have been triggered.
![image](https://user-images.githubusercontent.com/96873357/152330551-3b9dfa96-ecea-4f30-acc3-3854adebc884.png)

And then at 11:02 am I can see the the next run i

[2022-02-03 14:34] Melodie97 commented on #11914
I would like to work on this issue

[2022-02-03 14:44] Chris7 commented on #21225
This is not ideal, but for those who want to kick all their queued tasks out, here's a snippet i've been using:
[code]

[2022-02-03 15:54] atejano commented on #14134
How do I find the Columns in the airflow tables that store a Pickled value?

[2022-02-03 16:00] saulbein commented on #20484
[dpgaspar/Flask-AppBuilder/releases/tag/v3.4.4](https://github.com/dpgaspar/Flask-AppBuilder/releases/tag/v3.4.4) the fix has now been released - it would be nice to be able to update sqlalchemy to 1.4 since we have some other dependencies that we would like to update and they require 1.4.

[2022-02-03 16:16] c-thiel commented on #19135
@hterik I also think the Scheduler bit can be good inspiration.
I just want to address your first point briefly: I really do think that there are many use-cases for this: Having an operator allows much more freedoms than using the KubernetesExecutor only - for example in specifying the exact dependencies you need for individual tasks. Additionaly, spawning pods for every little thing really might

[2022-02-03 16:25] msinha251 commented on #20186
Thanks @burakovsky my aws user permission was missing "emr-containers:StartJobRun" and "emr-containers:CancelJobRun" permissions.

Post added above two permissions, it worked like charm :)

[2022-02-03 17:34] adamd01 opened #21299 "Put _deactivate_missing_dags logic behind config"
### Description

In Airflow 2.2.0 this PR was added (https://github.com/apache/airflow/pull/17121) which deactivates any dags which are no longer found in the file being processed.

It would be good to have the option to make this logic configurable.

### Use case/motivation

We have a set up where we generate DAGs dynamically by hitting an API. (In order to abstract DAG creation from users who ca

[2022-02-03 17:58] aa3pankaj commented on #20449
@eladkal AttributeError: 'AirflowSecurityManager' object has no attribute 'get_user_datamodel' seems to be different from the issue reported here i.e AttributeError: type object 'AirflowSecurityManager' has no attribute 'get_app'

issues related to missing methods (including 'get_user_datamodel') in AirflowSecurityManager would be fixed via https://github.com/apache/airflow/pull/21294

For this is

[2022-02-03 18:04] jedcunningham commented on #21291
@spiremak, it sounds silly, but it isn't in your screenshots... is the DAG paused?

[2022-02-03 18:20] #18913 closed

[2022-02-03 18:22] mashirali opened #21300 "dags not showing up in Dags list"
### Apache Airflow version

2.2.3 (latest released)

### What happened

I compiled the source code and then added dag files in dags folder.. but when in ran the breeze env. it didn;t shown in list i-e list is showing empty.

### What you expected to happen

Dags should shown up in DAGs list

### How to reproduce

compile the source code in pycharm

### Operating System

windows 11

### Versions of

[2022-02-03 19:57] alexbegg opened #21302 "Pause auto-refresh when the document becomes hidden"
### Description

When running Airflow it can be common to leave some tabs of Airflow open but not active. I believe (but not 100% sure, if I am wrong I can close this issue) Airflow's auto-refresh keeps refreshing when the document becomes hidden (for example, you switched to another browser tab).

This is not desirable in the cases when you are running the Airflow services on your same machine an

[2022-02-03 20:27] spiremak commented on #21291
No the dag isn't paused. I wish it was that simple haha

[2022-02-03 21:18] jedcunningham commented on #21291
You should get a run immediately after unpausing, plus one every 5 minutes. I wasnt able to reproduce on main/postgres.

Can you try enabling [debug logging](https://airflow.apache.org/docs/apache-airflow/stable/configurations-ref.html#logging-level) in your scheduler?

[2022-02-03 21:27] mashirali commented on #19342
airflow db shell
mysql> drop database airflow;
mysql> create database airflow;
mysql> grant all on airflow.* to 'airflow'@'localhost' identified by '123456!a';
mysql> flush privileges;
mysql> grant all on airflow.* to 'airflow'@'%' identified by '123456!a';
mysql> flush privileges;

mysql> show global variables like '%timestamp%';
+---------------------------------+-------+
| Variable_name

[2022-02-03 22:03] jedcunningham commented on #17279
I just tested this and FAB does respect `LOGOUT_REDIRECT_URL` when logging out via the Airflow UI.

[2022-02-03 22:03] #17279 closed

[2022-02-04 02:33] edithturn commented on #21164
@potiuk I replicated this issue again and again, in a container, local machine, and in a Google Cloud Machine, once ./Breeze2 is installed the error will appear for the first time, then is not possible to replicate, even deleting the `.build `directory. To replicate it has to be in an empty environment. So I did my last test in an Instance on Google Cloud.

So to avoid this issue I suggest adding

[2022-02-04 07:23] jpkoponen commented on #13542
I have had the same issue happen randomly and I was forwarded here by AWS support. I am considering using the utility DAG posted by @danmactough above, but I would like to make it automatic. The idea is to make it a periodic DAG that would go through all the DAGs, e.g. once per hour, and find the tasks that are stuck if there are any. I would suppose that it is possible somehow. However, I am afra

[2022-02-04 07:32] ephraimbuddy commented on #13542
@cdibble what's your setting for `AIRFLOW__KUBERNETES__WORKER_PODS_CREATION_BATCH_SIZE`? Since your task instances gets to queued state, it's not a scheduler issue but your executor. Since you're on kubernetes, I suggest you increase the above configuration if you haven't done so

[2022-02-04 09:00] hterik commented on #19135
Did you see the [CeleryKubernetes executor](https://airflow.apache.org/docs/apache-airflow/stable/executor/celery_kubernetes.html) ? That allows mixing K8 with celery

Can also recommend `["executor_config"]["pod_override"]` on taskflow api if you have need to specify exact dependencies per task. We have custom wrappers on top of this so you just have to write:
[code]
Actually it is a lot more gra

[2022-02-04 09:12] val2k commented on #13542
@jpkoponen I adapted the @danmactough DAG to make it automatic and fit our use case. In filter DAGs that have been stuck for more than 5 minutes, and simply delete them. (In my case, changing the `try_number` and the state has no other effect than queuing the DAG again).

[code]
   The DAG runs every 5 minutes and I never caught it in a queued state.

[2022-02-04 09:52] spiremak commented on #21291
I have created new dags today and this is what I see in the logs near time of creation

[code]
and
[code]
However I don't see anything in the logs after every 5 mins which is when I expect the dag to run

[2022-02-04 10:23] ephraimbuddy commented on #21291
The log seems to suggest you have duplicate dag IDs. Check if you have duplicate DAG IDs and also do you have any environment variable set?

[2022-02-04 11:06] jpkoponen commented on #13542
Thank you @val2k !

It's interesting that increasing `try_number` and modifying the `STATE` did not work for you. I will first try the automatic method without deleting hoping that it will work for me.

I just wish there was a way to test the DAG other than waiting for the issue to arise again. I think we have had it happen only twice in the past two weeks. 😄

[2022-02-04 11:09] holyachon commented on #19901
@easontm @alexakra
Hello. I'm also experiencing a similar situation closer to @easontm, where the scheduler does not schedule a DAG in Airflow 2.2.3.
I have a "DAG for health check" of which schedule_interval is `*/10 * * * *` (runs every ten minutes). And almost every specific time(02:20), this dag is not scheduled and column `DAG.next_dagrun_create_after` is NULL.
I think it happens because many

[2022-02-04 11:12] spiremak commented on #21291
I checked before creating the dags and after and don't think I could see any duplicate DAG IDs in the mysql db. And there arent any Airflow environment variables set

[2022-02-04 11:23] 094459 opened #21321 "ECS Operator does not support launch type "EXTERNAL""
### Description

You can run ECS tasks either on EC2 instances or via AWS Fargate, and these will run in AWS. With ECS Anywhere, you are now able to run the same ECS tasks on any host that has the ECS agent - on prem, in another cloud provider, etc. The control plane resides in ECS, but the execution of the task is managed by the ECS agent.

To launch tasks on hosts that are managed by ECS Anywher

[2022-02-04 12:12] aa3pankaj commented on #12771
@dm03514 thanks, i tried your test code, it is exporting spans successfully.
But exporting spans directly from tasks would be much useful in terms of tracing different operations like hook execution, api calls etc.

@mjpieters I tried exporting span from a airflow task:

packages:
apache-airflow==2.1.3
opentelemetry-api==1.9.1
opentelemetry-sdk==1.9.1
opentelemetry-exporter-otlp==1.9.1
opentelemet

[2022-02-04 12:46] jpkoponen commented on #13542
@val2k I may know why increasing the `try_number` didn't work. The DAG file that @danmactough posted is missing `session.commit()` after `session.merge()`. After the addition, the DAG file worked as intended for me.

[2022-02-04 12:50] potiuk commented on #21164
Yeah . I think we have too many "variables" so for now indeed fixing it in docs will be enough. One more thing we could do is - instead of "doing" stuff  in the "setup-autocomplete", we could simply ask the user to make sure that "click-complete" is installed as system package.

Writing this as `[yellow]` warning and some example instructions (same as in docs) as the `setup-autocomplete` output sh

[2022-02-04 13:01] borismo commented on #14134
Do you mean truncate the whole table @kaxil ?

Meaning:
[code]
?

[2022-02-04 13:31] blcksrx opened #21325 "on_kill method for SparkKubernetesOperator"
### Description

In some cases the Airflow sends `SIGTERM` to the task, here to the `SparkKubernetesOperator`, it needs to send `SIGTERM` also to the corresponding pods/jobs

### Use case/motivation

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Cond

[2022-02-04 14:37] mattinbits commented on #21171
@ashb I experimented with using `datetimeoffset` rather than `datetime2` but unfortunately it doesn't seem to help so long as we use `func.now()` mapping to `GETDATE()`. I get this surprising result:

[code]

This returns a result asserting that 16:00 CET is before 15:34 CET:

[code]
I assume the datetimeoffset is being converted to a naive value in UTC (15:00) and then compared.

[2022-02-04 14:45] uranusjr commented on #21171
Maybe it’s easier to create a custom function that emit `GETDATE()` on MSSQL and `NOW()` everywhere else, and just use that instead of SQLAlchemy’s `func.now()`. Except I have no idea how to implement a function in SQLAlchemy :(

[2022-02-04 14:51] mattinbits commented on #21171
@potiuk As an initial fix for our internal system, I replaced `func.now()` with `func.GETDATE()` in an internal fork which is enough to fix it for SQL Server. This is not enough for cross-database compatibility of course. I have considered creating something similar to the functionality of sqlalchemy-utc to airflow.utils.sqlalchemy, but I had second thoughts whether this additional complexity is n

[2022-02-04 14:59] mattinbits commented on #21171
@uranusjr here is an example of implementing a custom SQLAlchemy function:
https://github.com/spoqa/sqlalchemy-utc/blob/master/sqlalchemy_utc/now.py

This code could be almost what we need, if the fix should be a DB function, although it does custom things for SQLite and Mysql which are presumably not necessary in this case.

[2022-02-04 15:01] WattsInABox commented on #21265
👍  seeing this as well

[2022-02-04 15:33] potiuk commented on #21321
Maybe you would like to create a PR about it  @094459 ? Sounds like an easy thing to implement.

[2022-02-04 15:42] potiuk commented on #12771
We are just about to formalize all the open-telemetry experiences and proposal into an AIP (Airlfow Improvement Proposal). Stay tuned for a draft AIP proposal on that one.

[2022-02-04 15:50] spru23 opened #21329 "Airflow unable to reserialize deleted DAG file"
### Apache Airflow version

2.0.1

### What happened

I accidentally deleted an Airflow DAG file from the filesystem (Ubuntu - meant to use `cp` but used `mv` instead).
At the time of deletion, the DAG already had a few successes along with a running job.

I only realised this a few minutes later and immediately copied the DAG back (it was the same exact file content & name).
But while the DAG was

[2022-02-04 15:53] GitSpree23 commented on #21329
This issue was resolved with the help of @potiuk , thanks!

I simply added a new line (and removed a commented line just to be safe!) Waited for a couple of minutes for the scheduler to do its job, and my DAG was back!

Of note: the executing task in the DAG run seems to be stuck in queued state (logs are preserved)

[2022-02-04 16:04] 094459 commented on #21321
Yup, thanks @potiuk this is exactly what I plan to do. I am currently in the "planning" phase, and will be working with another developer on this. First step is going through all the detailed docs so we understand how to build Airflow from source and any other important things like style guidelines, expectations.

[2022-02-04 16:11] aa3pankaj commented on #12771
sure, I would be happy to contribute in this.

[2022-02-04 17:04] potiuk commented on #21321
Cool. Both of you comment here when you are ready and I will assign it to you signalling to others the task is "in the making" :)

[2022-02-04 17:07] potiuk commented on #21329
Was it closed by mistake? I thnk my "solution" was really a workaround but that seems like a valid edge-case that we might want to take a look liek

[2022-02-04 18:10] sartyukhov opened #21331 "Retry for TaskGroup"
### Description

Hello!

Previously, a SubDag was used to organize tasks into groups. Now you've introduced a TaskGroups to the world .
It's nice and very clever. But it has a one big disadvantage over the SubDag - it cant be repeated.

### Use case/motivation

For example:

In a project I have two task (A >> B):
A - collect data (PythonOperator)
B - update material view in postgres (PostgresOpera

[2022-02-04 18:21] Ritika-Singhal commented on #20615
#19787 works as expected

[2022-02-04 18:33] potiuk commented on #21325
Assigned you !

[2022-02-04 18:38] mtraynham commented on #21265
We are seeing similar issues after an upgrade from 2.1.4 to 2.2.3.  On our scheduler, this has been somewhat mitigated as we increased `AIRFLOW__SCHEDULER__DAG_DIR_LIST_INTERVAL` and `AIRFLOW__SCHEDULER__MIN_FILE_PROCESS_INTERVAL` both to 10 minutes from 5 seconds.

However I am still seeing it in our Celery Worker and it effectively blocks tasks from running for 80+ seconds, before it times out.

[2022-02-04 19:36] RobGoretsky commented on #8387
@vijaya-lakshmi-venkatraman - Thanks for taking this one over!  I had started looking at it, but was unclear on proceeding given that it seems the same code in `sql_to_gcs.py` is used to export CSV, JSON, and Parquet formats.  I wasn't sure if changing the way dates are exported for CSV would break export for those other formats.

[2022-02-04 19:51] #20632 closed

[2022-02-04 21:10] NilsJPWerner opened #21336 "Override the dag run_id from within the ui"
### Description

It would be great to have the ability to override the generated run_ids like `scheduled__2022-01-27T14:00:00+00:00` so that it is easier to find specific dag runs in the ui. I know the rest api allows you to specify a run id, but it would be great if ui users could also specify a run_id using for example dag_run conf.

### Use case/motivation

_No response_

### Related issues

_N

[2022-02-05 06:26] Bowrna commented on #21164
@potiuk could you share your view on this?

[2022-02-05 11:52] mrichman commented on #21321
Hey @potiuk ! @094459 and I are on the case :)

[2022-02-05 13:14] aa3pankaj commented on #18436
I would like to work on this issue.

[2022-02-05 14:14] nickrinaldi88 commented on #10435
Hi all, This issue has me banging my head. It occurs for some dags, but not others.

`export OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES`

does not work for me, neither does maximizing my docker resources.

I'm not in the state to update airflow, as my company uses 1.10.13, and we won't upgrade until later in the year.

If anyone has a personal solution that worked for them, let me know!

BTW, I'm usi

[2022-02-05 14:35] potiuk commented on #10435
SIGKILL can be cause by multiple reasons - most likely it's one of the libraries you use, not Airflow.  I doubt migrating to newer version of Airlfow will help if this is one of your libraries.

What I can recommend you - if it's MacOS, use your "local" airflow on a virtual machine with Linux or remote machine. MacOS is NOT officially supported as execution environment (it's OK to use it for Airlf

[2022-02-05 15:10] avkirilishin commented on #21089
I think it depends on `parsing_processes` (https://airflow.apache.org/docs/apache-airflow/stable/configurations-ref.html#parsing-processes) and `dag_dir_list_interval` for new files (https://airflow.apache.org/docs/apache-airflow/stable/configurations-ref.html#dag-dir-list-interval).

DagFileProcessorManager adds files to the queue and checks modified files only after all files have been processed

[2022-02-05 15:17] rch9 opened #21341 "Subdag in rescheduled mode tries to rerun it's failed tasks infinitely (until timeout)"
### Apache Airflow version

2.2.3 (latest released)

### What happened

SubDagOperator is inherited from BaseSensorOperator so that we can provide arg `mode` (poke/reschedule) while creating it.

If I create subdag with mode (`mode=reschedule`) it tries to run failed task infinitely (until timeout). If subdag is created with `mode=poke` then subdag task will be failed after first try to rerun subd

[2022-02-05 15:31] danmactough commented on #13542
@jpkoponen At least in v2.0.2 (which is the only v2.x version available on AWS MWAA), there's no reason to call `session.commit()` when using the `@provide_session` decorator. It [creates the session](https://github.com/apache/airflow/blob/2.0.2/airflow/utils/session.py#L69), and [calls `session.commit()` for you](https://github.com/apache/airflow/blob/2.0.2/airflow/utils/session.py#L32).

[2022-02-05 16:35] potiuk commented on #21321
Assigned both of you :)

[2022-02-05 16:37] potiuk commented on #18436
Assigned you!

[2022-02-05 16:47] nickrinaldi88 commented on #10435
I have my local airflow being hosted on docker.

I am in development, and I'm using Sequential Executor.

As I said, I'm a mere employee of my company, and am limited to the choices our team has made. I'm not a liberty to make an executive changes to our production Airflow.

Simply posting here if anyone's had any other fixes. Thanks for your help though.

[2022-02-05 16:52] aa3pankaj commented on #15059
@ephraimbuddy @potiuk If nobody is working on this issue, I can pick it up

[2022-02-05 16:56] potiuk commented on #10435
Sure. But saying 'I have SIGKILL" is nowehere nearly being specicific SIGKILL is basically symptom that something forcefully killed your process. There are many reasons this can happen. And getting help without providing any details of the circumstances is extremely unlikely to even understand if anyone has any other fixes, because this one is specific to what you try to do in your DAGs I am afrai

[2022-02-05 16:59] potiuk commented on #15059
I think it's been quite a time so - go ahead (@amoghrajesh can chime-in in case).

[2022-02-05 18:19] aa3pankaj commented on #21127
@EricGao888
We can fix this from our code itself,
As we add attachment filename in the headers, gunicorn code tries to encode it with "latin-1" and fails (when it contains chinese chars),
So, before sending the response itself, we can do something like:
[code]

**I can raise PR with this fix, you can assign this issue to me.**

[2022-02-05 19:33] aa3pankaj commented on #15059
@ephraimbuddy
I verified **"/roles"** and **"/roles/{role_name}"** APIs, both are not exposing role_id,
could you please share API that is exposing role_id?

[2022-02-05 20:59] potiuk opened #21348 "Status of testing Providers that were prepared on February 05, 2022"
### Body

I have a kind request for all the contributors to the latest provider packages release.
Could you please help us to test the RC versions of the providers?

Let us know in the comment, whether the issue is addressed.

Those are providers that require testing as there were some substantial changes introduced:

## Provider [amazon: 3.0.0rc1](https://pypi.org/project/apache-airflow-providers

[2022-02-05 21:01] hros commented on #20911
I have the same error:
[code]

How do you update the public key for the mysql repository?

[2022-02-05 21:19] potiuk commented on #20911
I propose you start answering with the questions

* Have you read the messages above?
* Have you puled the latest airflow image?
* if you use ubuntu/focal you are surely not using airflow image which use ubuntu?
* have you read the answers above and understood what they mean?

I suggest you start with those questions.

[2022-02-05 21:24] hros commented on #20911
thanks for your reply
* I have read the above messages
* I am not using the airflow image
* I am using Ubuntu 20.04, and followed the instructions in this [link](https://www.digitalocean.com/community/tutorials/how-to-install-mysql-on-ubuntu-20-04) to add a mysql repository
* I have read the previous answers, which suggest to update the public key, bu could not find the proper way to do that in my

[2022-02-05 21:28] potiuk commented on #20911
If you have not seen how you solve your issue, looking at the changes above, I suggest you reach-out to mysql support. the changes implemented to fix it are straightforward to look at, but appentl - since you cannot figure it out- you should reach out to mysql team that caused the problem, not airflow, who implemented the fix and hoped you can spend a few minutes of your time to apply the same fix

[2022-02-05 21:29] potiuk commented on #20911
Paid support from Oracle to MySQL changes is always an option

[2022-02-05 21:31] potiuk commented on #20911
https://github.com/apache/airflow/pull/20912/files - this is a fix for us. Somethng like that might work for you. If you can't get it work  reach out to paid support of MySQL.

[2022-02-05 22:06] avkirilishin commented on #20461
It's very strange because in 2.2.2 we have strong checks on `max_active_runs` and don't create more DagRuns than this value. And I cannot reproduce it in the current main.

When were these runs created? Did you upgrade Airflow after it?

[2022-02-05 22:20] #18936 closed

[2022-02-05 22:45] raphaelauv commented on #21348
https://github.com/apache/airflow/pull/21175: @ferruzzi

docker operator is buggy even with `do_xcom_push=False` it fail

[code]
fail

with

[code]

[2022-02-05 23:12] raphaelauv commented on #21284
With the version 3.0.0 of the cncf provider it's perfectly clear

[code]

[2022-02-05 23:19] raphaelauv commented on #12136
Since the latest version 3.0.0 , it's very stable , I have very long running jobs (more than 1 day ) , we can probably close this issue.

[2022-02-05 23:36] kazanzhy commented on #21348
Changes in Qubole provider was in documentation (#20058) and typing (#21074)
There are no code changes, therefore seems everything is OK.

[2022-02-05 23:48] raphaelauv opened #21350 "kubernetesPodOperatorAsync"
### Description

The KPO is probably the most famous operator triggering compute out of airflow, I would like to know if someone is already working on the implementation of a kubernetesPodOperatorAsync

### Use case/motivation

Having a kubernetesPodOperatorAsync would be amazing and we could reduce the size and number of our airflow workers because each kubernetesPodOperator take a full worker sl

[2022-02-06 00:09] #19784 closed

[2022-02-06 00:09] #17336 closed

[2022-02-06 00:56] Ritika-Singhal commented on #21348
#19787 requires one additional fix in here:
https://github.com/apache/airflow/blob/providers-amazon/3.0.0rc1/airflow/providers/amazon/aws/operators/glue.py
Need to modify the default value of `num_of_dpus` to `None` (which is currently set to 6).

Without this fix, it becomes inconsistent with the logic changed in the `[airflow/providers/amazon/aws/hooks/glue.py](https://github.com/apache/airflow/

[2022-02-06 01:01] mariotaddeucci commented on #21348
#20807 all good.
#20506 was published on `amazon 2.6.0` and tested on #20615.

[2022-02-06 01:14] chenglongyan commented on #13846
this test has been removed from #19712

[2022-02-06 02:40] Ritika-Singhal commented on #21348
For an additional fix for #19787, I have created another pull request #21353

[2022-02-06 09:29] potiuk commented on #21350
I believe not - feel free to start one :)

[2022-02-06 09:30] potiuk commented on #21350
(unless I misuderstood that you would like to do so)

[2022-02-06 09:38] #13846 closed

[2022-02-06 09:43] potiuk commented on #21348
Ok. Still worth testing Amazon changes on this version but I will remove Amazon + Docker and prepare RC2 right after we release all others and get fixes merged. Thanks @Ritika-Singhal @raphaelauv !

[2022-02-06 09:48] potiuk commented on #21348
I also removed some of the "no-need-to-test" changes :)

[2022-02-06 10:18] potiuk commented on #11323
Yeah. Nice feature to add. Would you like to implement it @FHoffmannCode ? Should I assign it to you ?

[2022-02-06 10:19] potiuk commented on #21142
This is not an issue. Please describe your full configuraiton and open a separate discussion on it.

[2022-02-06 10:19] #21142 closed

[2022-02-06 10:25] potiuk commented on #21168
This is not possible - because we do not have such information. That woudl require havy changes to the database of airlfow. And this is more of an "auditing" part of Airflow. Due to the size of this - this is not a feature IMHO, this is changing a lot the approach of Airlfow to creating database records.

Due to the size and impact of it (especially performance, migratio etc) - this one  is of a m

[2022-02-06 10:25] #21168 closed

[2022-02-06 12:14] eladkal commented on #11323
The suggestion was to change the returned value to make operators consistent. If changed then the value pushed to xcom is not as users are expecting.

[2022-02-06 12:52] uranusjr commented on #11323
It depends on what are correctly being returned; I’m assuming most (if not all) are currently returning None, which won’t have backward compatibility issues (except if someone is depending on an XCom is _not_ pushed, but why would anyone do that). Are there instances of an operator currently pushing something else?

[2022-02-06 13:02] potiuk commented on #15601
Look at changes to Flask App Builder between the two versions. Google Oauth integration and configuration is provided by Flask App Builder, it's not something that AIrflow does.

* FAB was 3.1.1 in 2.0.1 https://github.com/apache/airflow/blob/constraints-2.0.1/constraints-3.8.txt#L4
* FAB was 3.3.3 in 2.1.4 https://github.com/apache/airflow/blob/constraints-2.1.4/constraints-3.8.txt#L16

You can a

[2022-02-06 13:07] potiuk commented on #21185
The UI already shows parse errors of DAGs.

So I am surprised you have not seen it. Probably somoene else saw it and dismissed it - the parsing errors are dismissable and they disappear when clicked.

[2022-02-06 13:07] #21185 closed

[2022-02-06 13:18] potiuk commented on #21190
Could you please explain where do you see two jobs in one pod? I cannot see it from the log. I think there is some misunderstanding here. Possibly you are mixing "log" with POD (I guess that) but further information is needed:
* why do you think it was one job in pod
* what did you expect to happem
* what is wrong with the log you provided

Please be as precise as possible. I will convert it into

[2022-02-06 13:27] potiuk commented on #21087
I think this is also similar root cause as #12644 .   @dimberman @jedcunningham @kaxil  - or maybe somoene else who has some more experiences with K8S deployments in "real life" - this error "Resource too old" is returned by K8S when there are  too many changes to a version of K8S resource.

But I am just wondering - it really happens IMHO because we deploy some changes "incrementally" too frequen

[2022-02-06 14:01] potiuk commented on #21218
This is not possible, because Hooks when instantiated might be created with different init parameters.

Also I think the 'GenerlcTransfer` is not that useful and I think it adds unnecessary complexity and generalization where we already have everything needed to support the "generic transfer" by writing decorated tasks and using hooks.

I think this is much nicer and more "new Airflow-y" way of im

[2022-02-06 14:15] potiuk commented on #19635
This issue is already closed. Without knowing your configuration, it's impossible to say what the problem is and whether it's the same or not. sending a TEMMR signal by something will usually result with this kind of problem, but the reasons for that might be multiple. \

\I propose you open a new issue where you describe your circumstances or you could take a look at other issues that have descri

[2022-02-06 14:33] potiuk commented on #16982
Ah. I missed it let me take a look.

[2022-02-06 15:00] potiuk commented on #16982
If I am not mistaken, it did :). The (very likely IMHO) fix is in #21362. Question @tulanowski  - > would it be possible that you patch your Airflow instance with the fix (it's really simple) and see if it helps?

Also - just to confirm - you happen to have some tasks that throw AirflowRescheduleException ? Because IMHO this is when it could happen.

[2022-02-06 17:05] potiuk commented on #21252
Sounds like an interesting feature. Maybe you would like to add it @guidopetri ?

[2022-02-06 17:30] potiuk commented on #18422
I have no ide where the default comes from - but maybe you passed it in the operator? The HttpOperator has "extra_options" dictionary that you can pass "requests" parameters (including "timeout" mentioned in the docuementation).   Maybe - unknowingly - you pass a value there. You can also pass a None value to force "no timeout" https://docs.python-requests.org/en/latest/user/advanced/#timeouts - u

[2022-02-06 17:38] subkanthi commented on #21350
This will be good, happy to help.

[2022-02-06 18:00] potiuk commented on #20461
Is this the same as #21011 @uranusjr ? WDYT?

[2022-02-06 18:17] potiuk commented on #18545
Fixed in https://github.com/apache/airflow/pull/19963. - will be released in 2.3.0

[2022-02-06 18:20] potiuk commented on #18545
I also asked Jed (Relese Manager) if he will be able to cherry-pick it to upcoming 2.2.4 as it seems it could be possible still.

[2022-02-06 19:07] #16919 closed

[2022-02-06 19:10] potiuk commented on #8665
I think it should be checked on a newer version. There were a number of things around that fixed in newer versions. MWAA also supports 2.2 Airlfow now. I will convert it into discussion now, but if you find it is still not fixed in those newer Airlfow version - do let us know.

[2022-02-06 19:15] potiuk commented on #21286
assigned you @andreaslang

[2022-02-06 19:44] potiuk commented on #21225
I think this is being handled in one of the fixes coming to 2.2.4 (@ephraimbuddy ?)

[2022-02-06 19:49] potiuk commented on #20484
@saulbein  - maybe you would like to add support for MyPY - seems that most of the problems with SQLAlchemy 1.4 have been addresse,d you could take care about it ?

[2022-02-06 20:08] potiuk commented on #21302
assigned you

[2022-02-06 20:32] potiuk commented on #21265
The problem is that your dag parsing takes too much time. You apparently missed this advice from the log:

Please take a look at these docs to improve your DAG import time:
2022-02-04T08:16:06.683052855Z * https://airflow.apache.org/docs/apache-airflow/2.2.3/best-practices.html#top-level-python-code
2022-02-04T08:16:06.683058750Z * https://airflow.apache.org/docs/apache-airflow/2.2.3/best-practice

[2022-02-06 20:41] potiuk commented on #21336
Feel free to propose PR on that. It does not require a feature request. PR is more than enough.,

[2022-02-06 20:53] potiuk commented on #19671
I think there was a similar error on using some non-posix compliant FS or where client configuration of your deployment does not match the server side of your file-system volume. For example this one https://github.com/apache/airflow/discussions/20908#discussioncomment-2121029 turned out to be cause by upgrade of NFS3 to NFS4 without upgrading clients.

I willl turn it into a discussion, because t

[2022-02-06 20:57] eladkal commented on #11914
added in https://github.com/apache/airflow/pull/21344

[2022-02-06 20:57] #11914 closed

[2022-02-06 20:58] eladkal commented on #11912
Both tasks listed on the description are resolved so i'm closing this issue

[2022-02-06 20:58] #11912 closed

[2022-02-06 20:59] potiuk commented on #13542
Thre is also 2.2.2 as of recently. Can you please upgrade and check it there @danmactough ?

[2022-02-06 21:02] potiuk commented on #21127
Feel free @aa3pankaj

[2022-02-06 21:09] potiuk commented on #11323
Yeah. Same here. I think it's no harm to return "more".

[2022-02-06 21:14] #21183 closed

[2022-02-06 21:26] #8937 closed

[2022-02-06 22:11] eladkal commented on #15349
I think this issue is solved by https://github.com/apache/airflow/pull/21205
@potiuk can you confirm?

[2022-02-06 22:21] eladkal commented on #18371
@ValBerthe are you still working on this issue?

[2022-02-06 23:33] rsg17 commented on #21348
Hi @potiuk - It is my first time doing this testing: Are there any specific steps we follow?

My PR adds a [hook](https://github.com/apache/airflow/pull/20542) for Google Calendar.

[2022-02-07 00:07] #8541 closed

[2022-02-07 00:45] yuqian90 commented on #19222
The issue reported here started after this change by @kaxil : Fix mini scheduler not respecting wait_for_downstream dep (#18338)[https://github.com/apache/airflow/pull/18338]. `BranchPythonOperator` returning empty or non-existent branches is irrelevant to this issue.

How to reproduce:

[code]
![Screen Shot 2022-02-06 at 9 20 51 PM](https://user-images.githubusercontent.com/6637585/152707755-771f

[2022-02-07 03:52] easontm commented on #19901
@holyachon I have created a truly horrifying script to prevent this from occurring. I actually bundled it with some scheduling delay measurement I was trying to do, because when a DAGrun isn't created the built-in schedule delay metric isn't accurate.

The tl;dr is I look at all active DAGs, look at the latest DAG run, and use the schedule to determine if there should be a DAGrun between the lates

[2022-02-07 04:30] guidopetri commented on #21252
I'm not sure I have the required knowledge for that.

There's an enum of task states [here](https://github.com/apache/airflow/blob/1d170f899bcc87110e55192517270ec89d511ca8/airflow/utils/state.py#L26), which we could add to, but that would imply changing the marking mechanism to e.g. `MARKED_SUCCESS` or `MARKED_FAILED` instead of `SUCCESS` or `FAILED`. Which would then break anything that depends o

[2022-02-07 05:57] victorphoenix3 commented on #19877
Hello! I am new to the community and would like to take this on as my first issue. May I submit a PR for this? @eladkal

[2022-02-07 06:33] pragyak412 commented on #18969
Hello @eladkal
It seems the https://github.com/apache/airflow/pull/19008 is not merged, also test cases and documentation is left. Can you please assign this to me? I would like to contribute and make all the necessary changes required.

Thanks!

[2022-02-07 06:53] holyachon commented on #19901
@easontm Thank you for your reply :)

I think I don't have the confidence to manage that DAG well..

Fortunately, the airflow's bug related the problem in this issue was found.
Therefore, after https://github.com/apache/airflow/pull/21214 PR is merged, we can all be happy 😄

Thanks again for sharing your idea!

[2022-02-07 07:44] shivkumar-topgolf commented on #18545
Hi All, Well we got it working now. Its working fine. Thank you for all your help!!

If anyone would like to get the solution please let me know and I can share the issues we had and the solution for the same.

[2022-02-07 07:49] shivkumar-topgolf commented on #18545
When you login with LDAP Authentication, your role depends on the settings in config file (webserver_config.py). Check what role is set there for users, in your case it should be viewer. And you may try changing it to Admin if you have access to the config files. We can discuss more in case it doesn't solve your issue.

[2022-02-07 08:11] potiuk commented on #18969
Assigned

[2022-02-07 08:15] potiuk commented on #15349
Yep. confirmed (and it's being voted now) . Thanks for pointing it out. Closed by #21205 indeed.

[2022-02-07 08:15] #15349 closed

[2022-02-07 08:31] jpkoponen commented on #13542
Okay, I didn't know that. In that case, I'm confused why the `try_number` increased with `commit()` but didn't without it. 🤷

[2022-02-07 08:32] potiuk commented on #21348
Good question. Depends on your "local" environment. But what I would do, is to use:

1. Start airflow 2.2.3 in breeze
[code]

This will start our dockerized development environment with Airflow 2.2.3 installed and open 4 terminals: triggerer, scheduler, webserver and "bash console".

2. update the package to Rc:

In the console:
[code]

Then restarting scheduler/webserver (by Ctrl+C) followed by "

[2022-02-07 08:50] potiuk commented on #19877
Feel fre to attempt it :). Maybe @ferruzzi will be able to help with reviewing it :)

[2022-02-07 09:37] potiuk opened #21375 "Airflow launched two identical tasks in parallel with K8S executor"
### Discussed in https://github.com/apache/airflow/discussions/21360

<div type='discussions-op-text'>

<sup>Originally posted by **RenGeng** January 28, 2022</sup>
### Apache Airflow Provider(s)

google

### Versions of Apache Airflow Providers

apache-airflow-providers-google==6.0.0

### Apache Airflow version

2.2.1

### Operating System

Debian GNU/Linux 10 (buster)

### Deployment

Official A

[2022-02-07 09:38] potiuk commented on #21375
Seems like in some circumstances, Kubernetes Executor might run the same task as two separate PODs running in parallel:

I'm sure it's not the same job, this is the log where it's succeeded to delete the file in the ftp server:
[code]

and this is the log from the second job:
[code]

And those lines came from the same log.
We run this task everyday at 3AM and it's failed time to time (I would say

[2022-02-07 09:53] malthe commented on #21348
@potiuk – Oracle and PSRP providers all good.

[2022-02-07 10:09] dinowernli opened #21376 "Databricks: Operator to load data into Delta tables"
### Description

We would like to make it easy to load data from cloud storage (e.g., S3 bucket) into a Delta table. One approach to accomplishing this could be to execute Databricks SQL "COPY INTO" statements.

### Use case/motivation

_No response_

### Related issues

https://github.com/apache/airflow/issues/21030 adds support for running queries against SQL endpoints/clusters.

### Are you wil

[2022-02-07 10:20] dinowernli opened #21379 "Databricks: sensor for jobs"
### Description

A sensor which allows waiting for completion of a Databricks job or task.

### Use case/motivation

We would like to make it easy to wait for a Databricks job, similar to how [ExternalTaskSensor](https://airflow.apache.org/docs/apache-airflow/2.0.2/_api/airflow/sensors/external_task/index.html) allows waiting for other Airflow tasks. Specifically, we’d like to support waiting for:

[2022-02-07 10:23] dinowernli opened #21380 "Databricks: support for triggering jobs by name"
### Description

The DatabricksRunNowOperator supports triggering job runs by job ID. We would like to extend the operator to also support triggering jobs by name. This will likely require first making an API call to list jobs in order to find the appropriate job id.

### Use case/motivation

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am will

[2022-02-07 10:26] dinowernli opened #21381 "Databricks: sensor for Delta events"
### Description

Delta Lake has a native python library ([delta-io.github.io/delta-rs/python/](https://delta-io.github.io/delta-rs/python/)). This could be useful for use as a [sensor](https://airflow.apache.org/docs/apache-airflow/stable/concepts/sensors.html) or the newer [Deferrable Operators & Triggers](https://airflow.apache.org/docs/apache-airflow/stable/concepts/deferring.html) to wait unti

[2022-02-07 10:31] Melodie97 commented on #8198
I would like to work on this issue

[2022-02-07 10:31] potiuk commented on #8198
Feel free :)

[2022-02-07 10:42] spru23 commented on #21329
It got closed by mistake, yes ... let me know if you need any more info

[2022-02-07 10:46] admh opened #21383 "The airflow dag is triggered but the task status immediately changes to up_for_retry"
### Apache Airflow version

2.0.1

### What happened

The airflow dag is triggered but the task status immediately changes to up_for_retry

We set the number of up_for_retry to 5 times, but after 5 times the dag will fail

When I set the task status in the dag to clear, the task can be executed

This question has been bothering us for a while, hope to get a reply
grateful
![image](https://user-ima

[2022-02-07 10:52] Melodie97 commented on #8198
Hi @potiuk , It seems there is already an operators guide for Apache Hadoop HDFS Operators in the docs
http://apache-airflow-docs.s3-website.eu-central-1.amazonaws.com/docs/apache-airflow-providers-apache-hdfs/latest/operators.html

[2022-02-07 10:58] potiuk commented on #8198
Yeah. But `WebHDFS` are a different set of operators/hooks.?

[2022-02-07 11:21] Melodie97 commented on #8198
ok

[2022-02-07 11:43] brcps12 opened #21386 "Pod Annotations does not be injected in workers when using KubernetesExecutor"
### Official Helm Chart version

1.4.0 (latest released)

### Apache Airflow version

2.2.3 (latest released)

### Kubernetes Version

1.21.6

### Helm Chart configuration

[code]

### Docker Image customisations

_No response_

### What happened

Annotations in `workers.podAnnotations` are not injected in workers when executor is `KuberentesExecutor`

### What you expected to happen

_No response

[2022-02-07 11:44] george-zubrienko opened #21387 "Logs not read from emptyDir mount (local path) on KubernetesExecutor"
### Apache Airflow version

2.2.3 (latest released)

### What happened

This problem popped up when we switched from using persistent volume provisioned from helm chart via PVC (`log.persistence.enabled`) to WASB logging.

While a task is running, the only logs we see are these:

[code]
Then when the task completes and its log is moved by WASB provider, UI shows data from remote log file as expect

[2022-02-07 11:49] ephraimbuddy commented on #21225
Yes. Here https://github.com/apache/airflow/pull/19769

[2022-02-07 12:15] davidpr91 opened #21388 "Optionally raise an error if source file does not exist in GCSToGCSOperator"
### Description

Right now when using GCSToGCSOperator to copy a file from one bucket to another, if the source file does not exist, nothing happens and the task is considered successful. This could be good for some use cases, for example, when you want to copy all the files from a directory or that match a specific pattern.
But for some other cases, like when you only want to copy one specific bl

[2022-02-07 13:02] potiuk commented on #21388
Assigned you !

[2022-02-07 13:57] edithturn commented on #21164
@potiuk what are you suggesting here, it is to avoid touching Breeze2, and instead, add in **airflow/docs** something like **apache-airflow-breeze2** and write some warning in yellow about the installation of **click-complete**  as a system package.

[2022-02-07 14:25] edithturn commented on #21164
@potiuk I see, please if you need a test let me know, I can test it faster too, I have free credits on Google Cloud it could help.

[2022-02-07 14:26] ltutar opened #21392 ".airflowignore does not use 'glob' as .gitignore for example"
### Description

Hi,

It would be nice of the file `.airflowignore` also used 'glob' as `.gitignore` for example. In my case when I used `*_test.py` instead of `.*_test.py`, I could not see the dags and also got errors when I used `airflow dags list`. The error message was not easy to understand. Without the help of @potiuk, I was lost.

An example is shown below:

`
Traceback (most recent call la

[2022-02-07 15:10] potiuk commented on #21375
Likely fixed in #https://github.com/apache/airflow/pull/19904  - please re-open if you test it in 2.2.3 and still there.

[2022-02-07 15:10] #21375 closed

[2022-02-07 15:18] potiuk commented on #21392
I thin changing to glob would not be feasible, as glob and regexp are not compatible. But better error message would be nice indeed.

[2022-02-07 17:58] SamWheating opened #21397 "Stale DAG Deactivation in DAG Processor is extremely hard on the database in environments with many DAGs"
### Apache Airflow version

2.2.2

### What happened

When we upgraded from Airflow 2.1.2 to 2.2.2 we noticed that our MySQL instance was running near 100% CPU utilization while it was closer to 20% on Airflow 2.1.2.

After a long investigation, we found that the queries introduced in https://github.com/apache/airflow/pull/17121 are extremely hard on the database, especially when there are multipl

[2022-02-07 18:44] ashb commented on #21397
It sounds like this would be fixed by adding an index on dag model table, right?

[2022-02-07 18:46] SamWheating commented on #21397
Yes, but we can't add an index on the `fileloc` column because the column size is too large (I think its a `VARCHAR(2000)` or something)

[2022-02-07 18:48] josh-fell commented on #21348
@potiuk Part of #21237 was adding 3 new lexers for the SQL rendering in the UI. For the providers that use the new lexers, the rendering won't be as readable as it could be because the configured lexer doesn't exist yet (i.e. the rendering becomes a Python type rendering). Do we want to wait on releasing #21237 at all until those lexers are available or not push the SQL `template_fields_renderers`

[2022-02-07 18:49] ashb commented on #21397
Oh thanks Mysql.

[2022-02-07 18:56] ashb commented on #21336
Since the API already has it, and we already have a "trigger" screen where we could add this I've marked it as good-first-issue too

[2022-02-07 18:59] SamWheating commented on #21397
In this case would it make sense to add a `fileloc_hash` column to the `DAG` table? I can also push my proposed alternate implementation shortly.

[2022-02-07 18:59] ashb commented on #21397
It might, but if you have another solution that feels less hacky (as I don't like the "split" column all that much) lets take a look

[2022-02-07 19:07] potiuk commented on #21336
Because we work on PR base. If the PR is accepted, it is merged. This how a governance in an open source world (and in Airflow in particular) there is no-one to 'accept' feature requests so it cannot be 'accepted'. It can be rejected and closed if there is is a justified -1 from a committer though.

And even if people think a feature is good and there is a consensus about it, l it might never be i

[2022-02-07 19:12] #16982 closed

[2022-02-07 19:12] #19957 closed

[2022-02-07 19:19] potiuk commented on #21348
Good point Josh. I think this one might be a bit tricky, I do not think it is "blocker" - the rendering is not nice but it does not "break" anything.

However I thought it might be a nice way to incentivize people to migrate to 2.2.4 if we also cherry-pick the lexer to 2.2.4. Then we could telll them "migrate to 2.2.4 to get it nicer".  This is a new feature - of course - so technically we shoud a

[2022-02-07 19:24] potiuk commented on #21348
The second option is to indeed drop all the "21237" providers an release them in RC2 with some "conditional" code that will check if the lexer is there. After thinking a bit I think that would be much "cleaner" solution and I am leaning towards this option.

[2022-02-07 19:27] jedcunningham commented on #21348
I'd rather not include it for 2.2.4 since, as you said, it's a new feature. Doing it conditionally, until the next lower bound bump, I think makes sense.

[2022-02-07 19:28] ashb commented on #21392
Yeah, if we wanted to change the format of this file to more closely match what people expect (which I agree is confusing) -- i.e. `.gitignore` we'd either have to change the filename, or add a `# airflow-ignore-v2` comment as the first line or something.

(Of the two I'd prefer a new name, but I don't know what I'd call the file)

[2022-02-07 19:30] potiuk commented on #21348
Yeah. It's easy enough to fix and I agree it's better.

I think - due to the the number of those affected, it makes more sense to cancel the whole release and re-release all providers as RC2 with that fix to not mess with two releases. there are no super-urgent changes in this wave.

[2022-02-07 19:46] potiuk commented on #21392
The comment would be also not good, because people would not know they have to add it :( . Same story as now.

I think we are a bit stuck with regexp until 2.3.0 (then we could change it and add migration check with smart detection and even conversion suggestions  - that would be kinda doable I think.

[2022-02-07 20:01] potiuk opened #21400 "Docker operator fails to push xcom value"
### Apache Airflow version

main (development)

### What happened

As discussed in #21348

cc: @ferruzzi @raphaelauv

Seems that main docker operator is buggy even aftter https://github.com/apache/airflow/pull/21175

with `do_xcom_push=False` it fail

[code]
fail

with

[code]

### What you expected to happen

Docker Operator does not fail :)

### How to reproduce

See the issue description - it i

[2022-02-07 20:02] potiuk commented on #21400
@ferruzzi @raphaelauv  -> would you have time to take a look at that, or should I look first thing tomorrow in the morning :D ?

[2022-02-07 20:12] NilsJPWerner commented on #21336
That was my goal when I opened the feature request. I could potentially attempt the PR myself, but I am not familiar with the code base so would probably need a bit of direction.

In the [CONTRIBUTING.rst](https://github.com/apache/airflow/blob/main/CONTRIBUTING.rst#submit-feedback ) there is a section about creating feature requests, and the issue page has a dedicated button for feature requests,

[2022-02-07 20:16] potiuk commented on #21336
I did not say it's WRONG to add feature request, I just said you do not need it if you want open a PR :) . It was not a complaint - just a statement :D .

[2022-02-07 20:19] NilsJPWerner commented on #21336
I understand now. I got the indication from @ashb's tag that a PR for this issue would likely be accepted so I will look into what it would take to make the change.

[2022-02-07 20:30] potiuk commented on #21397
A lot.

[2022-02-07 20:37] #18664 closed

[2022-02-07 21:42] kurtqq commented on #21252
The concept of adding explicit status per each possible action is dangerous. When start this you will never hear the end of it.
To answer of the question who did something should be stored in logs. If needed it should be displayed from the logs.

[2022-02-07 23:11] kazanzhy commented on #21388
Sounds interesting. It's pretty similar to pandas functions parameter - `errors={'ignore', 'raise', 'coerce'}`. But I see that there are a lot of different operators and sensors in Airflow that help you build complex pipelines with very simple blocks.

I also implemented similar logic to RDS Operators with optional errors in the first iteration but after I decided to keep Operators as straightforw

[2022-02-07 23:39] kazanzhy commented on #21125
Seems the passing handler is accidentally missed.
Talking about `fetchAll(), did you tried the `trino_hook.get_records`?
It returns `cursor.fetchall()`

[2022-02-08 01:09] pingzh opened #21407 "AssertionError: Dependency rule tried to blank-out primary key column 'ab_permission.id' on instance '"
### Apache Airflow version

main (development)

### What happened

airflow webserver cannot start due to error

[code]

### What you expected to happen

airflow webserver cannot start due to error

### How to reproduce

Error in CI:
https://github.com/apache/airflow/runs/5101435727?check_suite_focus=true#step:7:2424

Error from my local:

i have the latest airflow main commit: `471e368eacbcae1eedf

[2022-02-08 01:38] kbaruri commented on #14320
+1 encountered this issue while running a similar test using the `python:3.7` docker image.

[2022-02-08 01:42] pingzh commented on #21407
i think it should be related to this PR https://github.com/apache/airflow/pull/21296

after I reseted to a commit before that PR. it worked.

[2022-02-08 02:41] danmactough commented on #13542
Wow @potiuk I totally missed that update! Huge news! I'll check that out and see if it helps.

[2022-02-08 05:53] BenGatewood opened #21412 "v3.5.0 airflow.providers.microsoft.azure.operators.cosmos not running"
### Apache Airflow version

2.2.3 (latest released)

### What happened

Submitting this on advice from the community Slack: Attempting to use the v3.5.0 `AzureCosmosInsertDocumentOperator` operator fails with an attribute error: `AttributeError: 'CosmosClient' object has no attribute 'QueryDatabases'`

### What you expected to happen

Expected behaviour is that the document is upserted correctly.

[2022-02-08 08:09] dliang5 commented on #21279
Oh cool, someone already finished and merged it with #21293. Setup is quite the time sucker haha so I'll close this ticket because it's duplicate now.

[2022-02-08 08:09] #21279 closed

[2022-02-08 08:21] damyl4sure opened #21417 "Airflow Webserver, Triggerer and Scheduler pods often stucked in init state whenever there is a restart"
### Apache Airflow version

2.2.3 (latest released)

### What happened

Airflow running on Kubernetes Executor refuses to restart webserver, truggerer and scheduler pods succesfully.

### What you expected to happen

The pods should restart successfully without any manual intervention.

### How to reproduce

_No response_

### Operating System

Debian GNU/Linux version 10

### Versions of Apache A

[2022-02-08 08:44] joeydqyuan opened #21419 "Failed to fetch log file from worker. Server disconnected without sending a response."
### Apache Airflow version

2.2.3 (latest released)

### What happened

please help, thanks

use CeleryExecutor with multiple workers on different servers

*** Log file does not exist: /opt/airflow/logs/example_python/print_the_context/2022-02-08T07:08:16.294434+00:00/1.log
*** Fetching from: http://phxfb-spias-u10-worker3:8793/log/example_python/print_the_context/2022-02-08T07:08:16.294434+00:00/

[2022-02-08 09:28] potiuk commented on #21412
Assigned yo @BenGatewood - fix is most welcome !

[2022-02-08 09:40] Melodie97 commented on #8196
I'll like to work on this

[2022-02-08 09:55] ashb commented on #21407
I'm unable to reproduce this on commit 8f81b9a01 with a totally empty breeze + mysql 5.7 environment.

What version of FAB and SQLA do you have @pingzh ?

[2022-02-08 10:04] armandleopold opened #21420 "KubernetesPodOperator Mark Task Failed after SUCCESS Randomly"
### Apache Airflow version

2.2.3 (latest released)

### What happened

We are using KubernetesPodOperator to schedule basically all of our tasks.
Sometimes, randomly some TASK finish and are marked as SUCCESS and then immediately marked FAILED.

[code]

### What you expected to happen

What i expect is that the TASK is Marked as SUCCESS only .

[code]

### How to reproduce

I don't know how to re

[2022-02-08 10:08] fboissier opened #21421 "Unable to use EKSPodOperator with aws_conn_id parameter"
### Apache Airflow Provider(s)

amazon

### Versions of Apache Airflow Providers

apache-airflow-providers-amazon==2.4.0

### Apache Airflow version

2.2.2

### Operating System

AmazonLinux

### Deployment

MWAA

### Deployment details

Out of box deployment of MWAA with Airflow 2.2.2

### What happened

I try to launch a K8S pod using [EKSPodOperator](https://airflow.apache.org/docs/apache-airfl

[2022-02-08 10:40] eladkal commented on #14864
We should definitely prevent adding task to more than 1 task group.

[2022-02-08 10:52] ashb commented on #21407
Steps I ran:

[code]

Then in container I ran:

[code]

And that launched Without error.

I do see these in the log though

[code]

[2022-02-08 15:00] Pocoder opened #21425 "Custom XCom backend leads to error"
### Apache Airflow version

2.2.3 (latest released)

### What happened

I've created my own XCom Backend 'S3XComBackend' with no additional logic in folder include/custom_xcom_backend.py and then tried to configure my docker-compose file to work with it. I added `AIRFLOW__CORE__XCOM_BACKEND: 'include.custom_xcom_backend.S3XComBackend'` to environments and `- ./include:/opt/airflow/include` to volu

[2022-02-08 15:35] potiuk commented on #21412
Is it serious enough to skip Azure from release and how big of a fix it can be?
I can hold one or two more days with releasing RC2 for providers (to save time on coordination/release overhead) if this is something that we will likely have a fix in a day or two.

[2022-02-08 16:07] josh-fell commented on #21412
AFAICT This hook has been non-functional for a while. The `AzureCosmosDBHook` code looks to be aligned with [version 3.2 of the azure-cosmos package](https://pypi.org/project/azure-cosmos/3.2.0/) release in July 2020. However, [v4.0](https://pypi.org/project/azure-cosmos/4.0.0/) was already released in May 2020 which renamed these methods. I don't think this needs to be a blocker for RC2 since it'

[2022-02-08 16:10] george-zubrienko commented on #21387
Might be caused by a different issue. Investigating further.

[2022-02-08 16:24] raphaelauv commented on #21420
what version of https://pypi.org/project/apache-airflow-providers-cncf-kubernetes/#history ?

[2022-02-08 16:25] george-zubrienko commented on #21387
Yeah ok. So the problem is that when persistence is disabled, webserver for obvious reasons can't get logs out since it cannot access logs that become task-local.
I'd still put a suggestion on a table, what about letting webserver read log file from a pod? It's just the matter of doing and exec into it and sending file contents out?

[2022-02-08 17:03] potiuk commented on #21400
I will submit PR shortly, fixing it.

[2022-02-08 17:09] eladkal commented on #8387
Recently https://github.com/apache/airflow/pull/20807 was merged.
It added a generic `SqlToS3Operator` and deprecated `MySqlToS3Operator`.

I would say that probably the best thing to do is to implement similar generic operator for Gcs
cc @mariotaddeucci

[2022-02-08 17:13] potiuk opened #21428 "Weird "move" effect in the new grid view"
### Apache Airflow version

main (development)

### What happened

There is a weird effect when you click the task in the new Grid view to get to task details. The whole grid view seems to shift a little when the pop-up window is displayed and it has a very disturbing effect for the user because if you did not move your mouse, it looks like you clicked wrong DagRun (the shift in my case is such th

[2022-02-08 17:14] potiuk commented on #21428
cc: @bbovenzi - > I wonder if this is just me or is it same for everyone :)

[2022-02-08 17:42] tulanowski commented on #16982
Yes, tomorrow I'll try to patch our staging instance and see if it helps. I'll let you know the result day after.

Yes, actually quite often - we have big number of sensors using "reschedule" mode.

[2022-02-08 18:21] potiuk commented on #16982
Cool! Looking forward to it !

[2022-02-08 18:23] potiuk commented on #21412
All right. Thanks for confirming @josh-fell ! . So no harm in releasing it now as it is not a regression. I proceed with RC2 then :)

[2022-02-08 18:27] potiuk commented on #21387
I think in many installations you will not be able to exec into running container from webserver. This is a common security practice that you are not allowed to do it in production.

[2022-02-08 19:52] pingzh commented on #21407
thanks for checking @ashb

i am not using `breeze` somehow my breeze is super slow on my Mac even i have allocate lots of CPU and memory.

Did you see `Deleted %s faulty permissions` in your websever log? since the error came up in the `sesh.delete(perm)` when it tries to `clean_perms`

[code]

[2022-02-08 19:54] george-zubrienko commented on #21387
This assumes you have rbac in place that blocks exec. But airflow default pod security context has fsGroup 0, which is also not a common practice in production. Moreover, this is internal call, compared to `exec`s mainly used by outside callers.

I'm not sure if opening a pod-pod websocket connection, which is what an SDK will do, is the same as `exec`?

Even if we put this aside, there there is s

[2022-02-08 20:01] potiuk commented on #21407
If you have M1 then yes. it is super slow (still) but ARM support is coming (it's emulated for now due to dependencies)- but we are closer and closer  to get M1 native images.

[2022-02-08 20:03] pingzh commented on #21407
@ashb ah, i know how to reproduce it in the local.

If i don't do `airflow users create -e admin@local -u admin -p admin -r Admin -f Admin -l Admin` after I inited the db, `airflow webserver` won't start, due to: `AssertionError: Dependency rule tried to blank-out primary key column 'ab_permission.id' on instance '`

but, if i created a user, it worked fine.

[2022-02-08 20:03] pingzh commented on #21407
yes, mine is M1.

[2022-02-08 20:05] potiuk commented on #21407
I feel your pain on my new ARM Mac I bought in December :) . I bought it specifically to feel the pain and have more incentive to fix it :)

[2022-02-08 20:51] #21421 closed

[2022-02-08 20:52] potiuk commented on #21428
![image](https://user-images.githubusercontent.com/595491/153073694-4e7c78cf-fe42-4e5a-8579-876386d9f64b.png)

[2022-02-08 21:02] potiuk commented on #21428
Ah yeah. I see it now with the scrollbar :). Great eye!

[2022-02-08 22:19] jceresini opened #21440 "Dataflow Operator fails with Application Default credentials"
### Apache Airflow Provider(s)

google

### Versions of Apache Airflow Providers

$ pip freeze | grep airflow-providers
apache-airflow-providers-apache-beam==3.1.0
apache-airflow-providers-ftp==2.0.1
apache-airflow-providers-google==6.3.0
apache-airflow-providers-http==2.0.2
apache-airflow-providers-imap==2.1.0
apache-airflow-providers-sqlite==2.0.1

### Apache Airflow version

2.2.3 (latest relea

[2022-02-08 23:24] potiuk commented on #21440
Just a proposa - feel free to attempt the fix. There is an open issue #18371 to upgrade all clients to >= 2.0 - maybe this is a good chance to become one of the > 1900 contrubutors like you to upgrade it ?

[2022-02-08 23:41] potiuk opened #21443 "Status of testing Providers that were prepared on February 09, 2022"
I have a kind request for all the contributors to the latest provider packages release.
Could you please help us to test the RC versions of the providers?

Let us know in the comment, whether the issue is addressed.

Those are providers that require testing as there were some substantial changes introduced:

## Provider [amazon: 3.0.0rc2](https://pypi.org/project/apache-airflow-providers-amazon/3.

[2022-02-09 01:11] david30907d commented on #21443
sure, will test it on weekend

[2022-02-09 01:35] tsaaii commented on #14758
I tested this with Azure data factory drop down and it works.

I have a question here.

I have my target pipeline in a folder and that is in a feature branch on my ADF.

How do I run this?

Where should I specify here?

[2022-02-09 02:09] BenGatewood commented on #21412
OK I've got this working on a monkey-patched local version. Is there a style/form guide for PRs I should follow here?

[2022-02-09 03:20] josh-fell commented on #21412
There is a wonderfully [detailed doc on contributing](https://github.com/apache/airflow/blob/main/CONTRIBUTING.rst). It outlines the contribution workflow, PR guidelines, local testing options, `pre-commit` checks you should run before submitting a PR, etc. On Slack you can pose questions in the #airflow-how-to-pr channel as well.

[2022-02-09 04:36] pingzh commented on #21407
@ashb @potiuk looks like lots of PR's CIs are blocked by this error. for example:

https://github.com/apache/airflow/pull/21442
https://github.com/apache/airflow/pull/21332
https://github.com/apache/airflow/pull/21441

can you share some insights on how to fix this? (starting webserver without needing to create a user first)

or

can we update the CI to ensure a user is created before trying to st

[2022-02-09 04:46] gmcatsf opened #21447 "Rendered template fields in the REST API"
### Description

Make task instance rendered template fields available in the REST API.

### Use case/motivation

A task instance stores its rendered template fields in rendered_task_instance_fields table. We'd like to be able to retrieve the  information as json after a task instance is executed. This could be a new endpoint or a new field in the existing TaskInstanceSchema.

### Related issues

[2022-02-09 05:48] MatrixManAtYrService opened #21450 "`airflow dags status` fails if parse time is near `dagbag_import_timeout`"
### Apache Airflow version

2.2.3 (latest released)

### What happened

I had just kicked off a DAG and I was periodically running `airflow dags status ...` to see if it was done yet.  At first it seemed to work, but later it failed with this error:

[code]

### What you expected to happen

If we were able to parse the DAG in the first place, I expect that downstream actions (like querying for sta

[2022-02-09 06:49] nirutgupta opened #21452 "AIrflow Webserver only reading last 100 lines from the pod logs"
### Apache Airflow version

2.2.3 (latest released)

### What happened

Hi I see when task is in running state, airflow reads pod logs but only last 100 lines.

[code]

### What you expected to happen

Is there any configuration variable to increase this number. Why are we just limiting to 100, is there any specific reason to do that?

### How to reproduce

It is a default behaviour.
I am using ku

[2022-02-09 09:20] juferafo commented on #20636
I am facing the same error message with the airflow version 2.2.3. @frodo2000, did you find a workaround for this issue?

[2022-02-09 09:22] sarthakhaikerwalsaxena commented on #19376
Is #19028 expected to resolve this issue as well?

[2022-02-09 09:43] frodo2000 commented on #20636
I have change params variable name in my operator. Then DAG was compiled properly

[2022-02-09 09:53] victorphoenix3 commented on #19272
Hi @eladkal, I am new to the community and would like to work on this feature request. I looked at the codebase and get_partition method already exists. Should I put up a PR for create_partition and are there any other methods that should be added ?

[2022-02-09 10:16] Bowrna opened #21454 "Breeze build-image with dry-run-docker flag command"
### Apache Airflow version

main (development)

### What happened

I tried to execute the `./breeze build-image --dry-run-docker`

[code]
I tried to execute the docker command alone by extracting it out. But it failed to execute in the cache apt-get command while the breeze command worked properly

[code]

### What you expected to happen

I expected the docker command to run successfully like bree

[2022-02-09 10:20] EvGe22 opened #21455 "Scheduler retrieves tasks incorrectly"
### Apache Airflow version

2.2.3 (latest released)

### What happened

## Setup
Have 3 DAGs:
1. ~240 Tasks, executes every hour, runs for about 45-50 minutes total
2. ~600 Tasks, executes every 5 days, runs for days
3. ~10 Tasks, executes on trigger, runs for 10-50 minutes

DAGs run on the `default_pool` with `max_active_tasks` set to 2.

My AirFlow config file has the following:
[code]
`parallel

[2022-02-09 11:02] andreaslang commented on #21286
I did put a proposal PR up which ignores all errors when polling during maintenance windows. It does still require databricks_retry_limit/delay to be appropriately configured to get over the maintenance window as the existing retry mechanism is used.

[2022-02-09 11:04] julius-ziegler commented on #21089
We also had problems with this and looked at the code a while ago and came to the conclusion that it probably does not work the way it is intended.

It attempts to decide if a file needs to be re-parsed here:
https://github.com/apache/airflow/blob/39e395f9816c04ef2f033eb0b4f635fc3018d803/airflow/dag_processing/manager.py#L973-L983

But `self.get_last_finish_time()` relies on the `self._file_stats`

[2022-02-09 12:13] KevinYanesG opened #21457 "HTML of Pipeline example in tutorial incomplete"
### Describe the issue with documentation

**Apache Version**: 2.2.3

**OS**:macOS Catalina Version 10.15.7

**Apache Airflow Provider versions**:

**Deployment**:

**Web browser**: Google Chrome Version 98.0.4758.80 (Official Build) (x86_64)
Also happened with Safari Version 13.1.3 (15609.4.1)

**What happened**:

The [Pipeline example of the tutorial](https://airflow.apache.org/docs/apache-airfl

[2022-02-09 12:29] KevinYanesG commented on #21457
Also:
I think that in the full version of the code the import should remain as `from airflow.providers.postgres.hooks.postgres import PostgresHook`.
 `from airflow.hooks.postgres import PostgresHook` gives me an `ImportError`

[2022-02-09 12:36] zorzigio opened #21459 "Tasks failing often with no logs"
### Apache Airflow version

2.2.3 (latest released)

### What happened

I often have tasks failing in Airflow and no logs are produced.
If I clear the tasks, it will then run successfully.

Some tasks are stuck in queue state and even if cleared, will get stuck again in queue state.

Happy to provide more details if needed.

### What you expected to happen

Tasks running successfully

### How to r

[2022-02-09 12:37] #8196 closed

[2022-02-09 12:43] potiuk commented on #21455
This is duplicate of #20391 that is going to be fixed in 2.2.4. Closing

[2022-02-09 12:43] #21455 closed

[2022-02-09 13:34] potiuk commented on #21447
Feel free to work on it

[2022-02-09 13:47] potiuk commented on #21407
Yes. I just started to look at it - a lot of docker-compose's is actually failing on that one. We also have a warning generated due to the sqlalchemy 1.4 when we run `breeze start-ariflow` which I have a feeling is related to the 1.4 + FAB migration + fact that we are using copied version of security manager from fab + that we have the workaround for SQLAlchemy 1.4 problems with MSSQL implemented

[2022-02-09 13:49] ashb commented on #21457
You need to install the postgres provider -- that is also missing from that tutorial https://airflow.apache.org/docs/apache-airflow-providers-postgres/2.4.0/#installation

[2022-02-09 13:55] potiuk commented on #21407
I guess it is also related to https://github.com/apache/airflow/pull/21167#issuecomment-1031743721 @dstandish @blag @ashb  ? I have not been too involved in the FAB "extraction" but mybe those issue can be handled at the same time? Seems they are releated.

[2022-02-09 13:57] KevinYanesG commented on #21457
Thanks! But I actually already have the provider installed, since `from airflow.providers.postgres.hooks.postgres import PostgresHook` works for me without problems.

I think `from airflow.hooks.postgres` is wrong because it doesn't exist, or at least I didn't found it.

The closest module is: `airflow.hooks.postgres_hook` (https://airflow.apache.org/docs/apache-airflow/1.10.6/_api/airflow/hooks/p

[2022-02-09 13:58] ashb commented on #21457
Oh sorry, `airflow.providers.postgres.hooks.postgres`  is the new module path https://airflow.apache.org/docs/apache-airflow-providers-postgres/2.4.0/_api/airflow/providers/postgres/hooks/postgres/index.html

[2022-02-09 14:08] Bowrna commented on #21454
@potiuk While I could reproduce the issue, I am not sure about the root cause of this issue. Could you tell me how i can start with debugging this issue?

[2022-02-09 14:15] potiuk commented on #21407
I looked up where it could come from, and I came up with likely fix to the "blank-out" #21463  - however this is more a "guesswork" based on what I "think" happens. I have not much experience with the Role Model of FAB and relations there, but it seems that the `blank-out` error might be fixed by updating cascade methods on relationships (and the root causes seems to be that `sync_roles` is likely

[2022-02-09 14:21] potiuk commented on #21407
Hmm. Actually I looked at the history, and I think it's nott the SQLAlchemy.

U think the root cause was this: #19294 - @jhtimmins @ashb - it was merged 4 days ago and those relationships have been changed into lazy relationships which seems to break `sync`, Should we revert this change and rework it?

![image](https://user-images.githubusercontent.com/595491/153220094-9f52f155-8565-41e0-95a5-ac06

[2022-02-09 14:22] potiuk commented on #21407
BTW. My "blind" attempt to fix it, did not work of course.

[2022-02-09 14:26] hterik opened #21465 "Kubernetes scheduler crashes on transient Kubernets API 500 errors."
### Apache Airflow version

2.2.2

### What happened

Scheduler was running fine when suddenly hearbeat stopped and no more jobs were scheduled.
Log presented following
[code]

Looks like Kubernetes API returned a temporary error that would have succeeded on next retry.

### What you expected to happen

* Scheduler logs the error but continues ticking, implicitly retrying the `_check_worker_pods_p

[2022-02-09 14:26] potiuk commented on #21407
Attempted to rever it and see it here https://github.com/apache/airflow/pull/21464 @pingzh - maybe you can try to revert it as well and see if it helps in your case?

[2022-02-09 14:58] potiuk commented on #21407
It looks that it helped to revert it - I had to rebase as static tests were failing but it looks like reverting @19294 via #21464  solves at least the "blank-out" problem.

[2022-02-09 15:07] frankcash commented on #21443
I was able to verify https://github.com/apache/airflow/pull/21427 has been resolved in this RC

[2022-02-09 15:08] potiuk commented on #21089
This is as intendeed. Alll DAGs are parsed continuously. No matter if they changed or not - simply because re-parsing of the dag at different times can generate a different DAG (for example if the DAG reads an external file and creates DAG structure based on that the DAG might produce a different DAG if the external file changes. Same with importing external libraries.

Time of last modification o

[2022-02-09 15:08] #21089 closed

[2022-02-09 16:03] tg295 opened #21467 "DateTimeSensor fails to wait until specified time - SIGTERM"
### Apache Airflow version

2.2.1

### What happened

I have a number of DAGs that involve processing reports that arrive at a regular frequency which are then sent to a database. Some of these reports have lead times (or lag times), meaning it will take at least a day or two for them to be generated. To accommodate for this I was utilising airflows DateTimeSensor, so that for a given execution da

[2022-02-09 16:26] jonstacks opened #21469 "No way to supply custom annotations for cleanup cron job pods"
### Official Helm Chart version

1.4.0 (latest released)

### Apache Airflow version

2.2.3 (latest released)

### Kubernetes Version

v1.21.5

### Helm Chart configuration

[code]

### Docker Image customisations

We have customized the `ENTRYPOINT` for exporting some environment variables that get loaded from Hashicorp's vault.

The entrypoint line in the Dockerfile:

[code]

The last line in th

[2022-02-09 17:10] BasPH opened #21471 "Scheduled DAG runs fail using Timetable in Airflow 2.2.3"
### Apache Airflow version

2.2.3 (latest released)

### What happened

Was testing custom Timetables and found that scheduled task instances fail in Airflow 2.2.3, but succeed prior to 2.2.3.

Observed behaviour:

- Have a DAG with custom timetable and `catchup=True`
- First tried my own Timetable, ended up copy-pasting the [example Timetable in the docs](https://airflow.apache.org/docs/apache-ai

[2022-02-09 17:19] potiuk commented on #21457
Thanks for posting those. But I will cloe the ticket because the main reason why you see the difference is because you are looking at "stable" version of the docs released together with Airflow when the stable versio is released (which is 2.2.3 currently)

So what is published in 2.2.3 version of the docs (which you can see at the top-left selection of the page) is this: https://github.com/apache/

[2022-02-09 17:19] #21457 closed

[2022-02-09 17:44] nitaibezerra opened #21473 "Tasks get stucked in `scheduled` state if another DAG sets max_active_tasks"
### Apache Airflow version

2.2.2

### What happened

I'm running two DAGs composed by 50 independent tasks in each DAG. Lets call DAG **A** and DAG **B**. DAG **A** has `max_active_tasks` set to 1 which means that only one task can run each time in this DAG.

When I run only DAG **B** its 50 tasks get executed properly, respecting the `AIRFLOW__CORE__MAX_ACTIVE_TASKS_PER_DAG ` parameter, which li

[2022-02-09 17:53] dstandish commented on #21443
@potiuk any reason elasticsearch not included?
there was this change: https://github.com/apache/airflow/pull/21261
too late i guess?

[2022-02-09 17:53] ashb commented on #21457
http://apache-airflow-docs.s3-website.eu-central-1.amazonaws.com/docs/apache-airflow/latest/tutorial.html#pipeline-example for the rendering of the latest doc.

The import is still wrong in that example, so if you fancy a PR @KevinYanesG (no need for an issue, can just go to PR fixing it) we can guide you through it.

[2022-02-09 18:18] potiuk commented on #21443
AAAAH good eye @dstandish. Thanks!

This one was actually a mistake of mine.  I classified as "doc-only" change in RC1 (the only change was that it had :rtype removed from the docs). That triggered a mistake when I released an RC2 - because I re-classified it the same (but there were your changes merged since).

I will continue with the release and wil re-release it after this voting (I will also

[2022-02-09 18:20] potiuk commented on #21457
Absolutely.

[2022-02-09 18:21] dstandish commented on #21443
really it's @jedcunningham's eyes that are due any credit

but thank you very much @potiuk

[2022-02-09 19:03] avkirilishin commented on #21473
This is duplicate of #20391 that is going to be fixed in 2.2.4.

---

It depends on `max_tis_per_query` or on the executor available slots:
https://github.com/apache/airflow/blob/07fe9e8c6acf8826ac1dcaf2ad8c94297a0f0c24/airflow/jobs/scheduler_job.py#L504-L530

[2022-02-09 19:27] nitaibezerra commented on #21473
Thanks @avkirilishin. Then I'll close this issue.

[2022-02-09 19:27] #21473 closed

[2022-02-09 20:28] zorzigio commented on #21459
Not sure if this is related, but I am also seeing an "Import error" every now and then, apparently appearing out of thin air

[code]

This disappears when I refresh the page

[2022-02-09 20:51] stephenonethree commented on #20003
+1, I ran into this as well. In our use case we want to get some information back from the trigger, but there are also some variables that we want to pass along to our resume method from the original `execute` method.

I'm able to work around this by just adding the data to a new property of my trigger and then adding that property into my payload instead of using `kwargs`, but it seems like a sen

[2022-02-09 21:02] plockaby commented on #19376
Unfortunately they are unrelated.

[2022-02-09 21:43] bbovenzi commented on #21302
Good call! Feel free to DM me on the Airflow Slack if you need help with any part of the UI.

[2022-02-09 21:53] bbovenzi commented on #21081
Which timestamps are you expected to be formatted in CST? The dates at the beginning of each line surrounded by`[]` in your screenshot appear to be correct. We currently do not format the dates inside a log message.

[2022-02-09 23:05] pingzh commented on #21407
@ashb @potiuk thanks for looking at this

[2022-02-10 02:00] jhtimmins commented on #21407
@ashb for some unclear reason, removing the primaryjoin argument fixed this problem https://github.com/apache/airflow/pull/21482/commits/73cf8829f051a14ca124c4eba1e1fadf47858644#diff-ca9167167af7221fcb832084b435603b76c7ccdf32dc36d822585853e7c3c98bL143

[2022-02-10 06:33] Nidesh-Arumugam opened #21485 "Changes in airflow.cfg For Logs is not reflecting"
### Apache Airflow version

2.2.3 (latest released)

### What happened

We are running airflow(2.2.3) in our Redhat server, We changed the airflow.cfg for logs to retrieve only message section.

[code]

Even after changing the airflow.cfg the logs still includes the asctime, filename and other stuffs.

[code]

### What you expected to happen

Need only message section in logs

### How to reproduce

[2022-02-10 08:12] KevinYanesG commented on #21457
Thanks for the extensive responses! I wasn't aware of that. In any case, it's good that you are going to include these details into the next version.

I will be happy to do that :)  I hope I can manage to do it before the end of the week.

I actually followed the [Docker Quickstart](https://airflow.apache.org/docs/apache-airflow/stable/start/docker.html) and not the standalone one. Thus, I didn't

[2022-02-10 09:24] hterik commented on #21465
Taking on step back, should any such exception in the event_scheduler just make the entire process crash instead? That would make it restart from the higher layer orchestration eg in docker-compose/systemd/k8s. I guess one could also do that with the healthcheck probes, the /health endpoint was returning unhealthy on the scheduler during the incident above.

[2022-02-10 10:08] eladkal opened #21486 "Allow to set statement behavior for PostgresOperator"
### Body

Add the ability to pass parameters like `statement_timeout` from PostgresOperator.
https://www.postgresql.org/docs/14/runtime-config-client.html#GUC-STATEMENT-TIMEOUT

The goal is to allow to control over specific query rather than setting the parameters on the connection level.

### Committer

- [X] I acknowledge that I am a maintainer/committer of the Apache Airflow project.

[2022-02-10 10:13] allebacco commented on #21380
I think that this is an interesting feature. Since there is not a direct connection between Databricks and Airflow, the id of the job could have changed due to re-creation, but the name could be more stable than the id.

A possible solution could be to update the execute in this way:
[code]

See the dbx tool (by Databricks) for an example implementation of the `find_job_id_by_name` in the https://

[2022-02-10 10:40] mluscon opened #21487 "Requiring sudo privilages"
### Apache Airflow version

2.2.3 (latest released)

### What happened

If airflow worker process is run under non-root user and a dag contains run_as statement, airflow calls `sudo chown` during the creation of tmp files. The following code snippet comes from /[airflow](https://github.com/apache/airflow/tree/main/airflow)/[task](https://github.com/apache/airflow/tree/main/airflow/task)/[task_runn

[2022-02-10 11:21] potiuk commented on #21407
I think the problem **was** indeed caused by the backref reference blanked out.

[2022-02-10 11:21] potiuk commented on #21407
Closing the issue  then :)

[2022-02-10 11:21] #21407 closed

[2022-02-10 11:22] potiuk commented on #21407
Many thanks @jhtimmins ! That was a bummer.

[2022-02-10 11:38] potiuk commented on #21457
Actually there IS a better way!

We have the command:

[code]

That drops you into the DB command line environment that is configured. So you could - I think - even redirect a cration script to the command - that would be much nicer, because it could be done as a single command:

[code]

[2022-02-10 11:40] potiuk commented on #21457
And in docker-compoe Quickstart you could likely combineit with https://airflow.apache.org/docs/apache-airflow/stable/start/docker.html#running-the-cli-commands

[2022-02-10 12:58] potiuk commented on #21486
Cool. I assume this is about the possibility of overriding it for individual statements? Because we already can add "extra options" in the `connection" and they will be passed to the "client.connect" ?

[2022-02-10 12:59] dennis-weyland-by opened #21493 "Option to make UI centered around execution date rather than the start_date of interval"
### Description

Consider the following example:
The current datetime is 2022-02-10 09:45 CET and airflow executed two runs:

- daily_run scheduled to run every day at 09:43 CET
- maintenance triggered manually at 2022-02-10 09:41 CET

In the UI it looks like this:
![Screenshot 2022-02-10 at 09 45 55](https://user-images.githubusercontent.com/71711396/153408199-14571a1d-c59e-4af8-858a-7a98ff7fe147

[2022-02-10 12:59] potiuk commented on #21486
Ah yeah. You wrote about :)

[2022-02-10 13:19] potiuk commented on #21487
Looked a bit closer - I assume you only want to add the "airflow" user a capability to only sudo to "run_as_user" but not to root?
Seems doable.

Did you test if all will work in this case? Does FACL not require any special permissions to set the file to be owner by the "run_as_user""?

If  so - feel free to make a PR. But please remember to update "impersonation" documentation.

[2022-02-10 13:25] potiuk commented on #21487
Ah yeah - `acl` needs to be enabled when you mount partition, so while it does make sense, we need to add it to impersonation prerequisites and provide fallback to sudo in this case.

[2022-02-10 13:30] potiuk commented on #21487
But it is a nice feature indeed.

BTW. Just to correct your statement - the current option with sudo does NOT avert the main purpose. Maybe there is a misunderstanding about the purpose of impersonation.

The purpose of impersonation is not to prevent the "airflow" user to run as root, but to make sure that the "task" coming from DAG wirtten by DAG author is executed only using the "target user" (

[2022-02-10 14:21] victorphoenix3 commented on #21486
Hi, May I work on this issue?

[2022-02-10 14:42] KevinYanesG commented on #21457
Thanks to you!

I tried

But unfortunately, after trying many different things, I didn't bring it to work, probably because of little experience in Airflow / Postgres.

A very brief summary of what I tried after deleting the `cur.execute()`code:
- `./airflow.sh airflow db reset`
- `./airflow.sh airflow db init`(just in case)
- `airflow db shell <<EOF ...`
- run the DAG
- Got the error
[code]
(I wo

[2022-02-10 15:02] eladkal commented on #21486
@victorphoenix3 sure! assigned to you

[2022-02-10 15:11] eladkal commented on #8194
Yes but still we can explain how to use with with PythonOperators using example dags. Some of the work was already done on https://github.com/apache/airflow/pull/18930 so you can reuse what is needed.

[2022-02-10 15:57] potiuk commented on #21457
Isn't that because you already created it before :)?

[2022-02-10 16:00] potiuk commented on #21457
just run (in reverse order from creation) at the beginning of the script

[code]

https://www.geeksforgeeks.org/postgresql-drop-table/#:~:text=PostgreSQL%20has%20a%20DROP%20TABLE,table%20permanently%20from%20the%20database.

[2022-02-10 16:05] KevinYanesG commented on #21457
I actually already tried with `DROP TABLE <name>`, it didn't work either.

With
[code]

After running the DAG I still get
[code]

[2022-02-10 16:46] potiuk commented on #16982
@patrickbrady-xaxis.. It's an interesting one and possibly worth considering to add back. Maybe you can create an issue for that and describe it as this seems like a valid case.

Just for the future reference - when you move to 2.2 you will need to chang it to "run_id" instead of "execution_date".

[2022-02-10 16:51] bmckallagat-os commented on #20484
@potiuk Are there any other related issues besides https://github.com/apache/airflow/pull/20874 https://github.com/apache/airflow/pull/19294 https://github.com/apache/airflow/pull/21294 https://github.com/apache/airflow/pull/21296 https://github.com/apache/airflow/pull/21272?

Happy to help but those seem to be all resolved or taken.

[2022-02-10 17:10] potiuk commented on #21457
(BTW. Of course I had no idea about it before I googled it).

[2022-02-10 17:22] potiuk commented on #20484
go ahead. There is still an issue with going beyond 1.9 (but It should not clash with mypy support)

[2022-02-10 18:46] jedcunningham commented on #21087
It's not that there are too many changes, at least like you are thinking. The executor is trying to watch from (history) revision n, which has rolled off of history on the k8s side. n+2 might be the oldest available now.

This really isn't related to our deployments, and there isn't anything we can do in that regard to help here. In fact, you could hit this when running the scheduler outside k8s e

[2022-02-10 19:30] #21388 closed

[2022-02-10 19:33] potiuk commented on #21087
Thanks for the context - now I understand where it comes from! Yeah it isn't an easy one to handle!

[2022-02-10 20:34] mluscon commented on #21487
Exactly, my "airflow" user is capable of impersonating all of run_as_users that I am using but not root.

[2022-02-10 21:11] potiuk commented on #8193
Assigned you!

[2022-02-10 21:12] #8193 closed

[2022-02-10 21:13] Melodie97 commented on #8194
Hi @eladkal , the example  dags done on that pull request seem to have some errors, the arguments doesn't match that of the classes created in pinot.py

[2022-02-10 21:35] charmon79 commented on #15354
I got this error just now when attempting to delete a DAG via the web UI, using Airflow 2.2.3 from the official Docker image (apache/airflow:2.2.3).

[2022-02-10 22:19] pierrejeambrun commented on #21443
Hi,

I tested all the methods for the new ZendeskHook, everything is working fine.

#21349 :heavy_check_mark:

[2022-02-10 22:28] potiuk commented on #21443
Cool. Loooking forward for more comments. We have time till ~ weekend (I will release on Sunday/Monday morning if I get enough votes)

[2022-02-10 23:44] kazanzhy commented on #21443
Changes in **Qubole** provider was in documentation (https://github.com/apache/airflow/pull/20058) and typing (https://github.com/apache/airflow/pull/21074).
There are no code changes, therefore I'm pretty sure everything is OK.

[2022-02-11 00:37] derkuci commented on #21443
#20474 has been running in our system without issues.