[2020-04-22 02:46] voltaiq-austin-chou commented on #8439
@mik-laj yea I used Breeze, but I spent a while trying to integrate it into PyCharm since that's the IDE I'm used to. I guess I'm not sure how to properly set the Docker environment in PyCharm and so spent a while trying to download dependencies there but it was unsuccessful so I'm just running the tests via command line as shown in the Breeze intro video with pytest which works.

[2020-04-22 02:59] mik-laj commented on #8439
@voltaiq-austin-chou I also use the console. In the IDE, I only run some tests when I'm sure they don't contain any dependencies - are real unit tests. A lot of operator tests can be run this way but I run the core in the breeze console

[2020-04-22 07:20] turbaszek commented on #8480
I am testing this in breeze, and I've got `celery==4.4.2`.

Of course, you can have more processes than cores. But it doesn't mean that everything will be executed at the same time :)

[2020-04-22 09:54] potiuk commented on #8506
I am looking into it at master and we will also fix it in 1.10.11

[2020-04-22 10:50] #8506 closed

[2020-04-22 11:44] dreamca4er opened #8514 "Webserver doesnt start with WTForms==2.3.0"
**Apache Airflow version**: 1.10.7

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**: local

- **Cloud provider or hardware configuration**: 3Ghz Intel Core i5, 16GB
- **OS** (e.g. from /etc/os-release): Debian 9
- **Kernel** (e.g. `uname -a`): Linux debian 4.9.0-12-amd64 #1 SMP Debian 4.9.210-1 (2020-01-20) x86_64 GNU/Linux
- **Install tools**:
- **Ot

[2020-04-22 11:51] robzor92 commented on #8514
Seeing the same issue. They release WTForms 2.3.0 today so that probably broke airflow for everyone.

[2020-04-22 11:58] dreamca4er commented on #8514
<details>
  <summary> My pip freeze ouput (working configuration)</summary>

[code]
</details>

[2020-04-22 12:02] robzor92 commented on #8514
I see they already updated setup.py in airflow to use 2.2.1 https://github.com/apache/airflow/blob/1d5d6613a14ae3120093979cb31ae8b0de90c2d4/setup.py#L601, but not released it yet.

[2020-04-22 12:08] roachlord commented on #7934
We have a use case for more flexible trigger_rules -

We have task (C) with two upstream processes (A & B)
A (required) -> C
B (optional) -> C    (apologies for the poor diagram)
one of the upstream processes (B) is optional and allowed to fail. The other task (A) *must* succeed for C to run successfully. We can set task C's trigger_rule to `all_done` or `one_success` but this lessens the strict c

[2020-04-22 12:36] potiuk commented on #8514
Closing as duplicate #8512. You can also install airflow using pinned requirements that are already released in 1.10.10. See also #8513 with detail description of repeatable installation process.

[2020-04-22 12:36] #8514 closed

[2020-04-22 14:54] mbaroody opened #8517 "WTForms Breaking Change 2.3.0"
**Apache Airflow version**: 1.10.9

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
[code]

**Environment**: AKS

- **Cloud provider or hardware configuration**: AKS
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**: Helm
[code]
- **Others**:

**What happened**:
Getting the following ImportError this morning:

[code]

**What you

[2020-04-22 15:23] imatsu commented on #8517
@mbaroody try to install it as recommended by the documentation in the [repository](https://github.com/apache/airflow#installing-from-pypi)

[2020-04-22 15:25] flinz commented on #8517
Pinning WTForms==2.2.1 solves this for me.

[2020-04-22 15:42] potiuk commented on #8517
Closing as duplicate of #8512

Kind request @mbaroody -> could you please check if an issue has not already been reported/solved. You have "similar issues" link when you click create issue and I am sure if you click it after typing the issue title. you'd see both issues already created

[2020-04-22 15:42] #8517 closed

[2020-04-22 15:44] potiuk commented on #8517
Also FYI. We have this new description of how to make sure apache-airflow can be installed reliably always - no matter the dependencies change: https://github.com/apache/airflow#installing-from-pypi

[2020-04-22 16:34] eeshugerman commented on #8480
Well there's this...
https://github.com/apache/airflow/blob/6db66eaf927a50f2dcd85d0ae6033f7ea3699099/airflow/config_templates/config.yml#L1114-L1125

...but from what I can tell that file is only used for documentation, right?

I can't find anything about it in the Celery source either :thinking:

[2020-04-22 16:35] mbaroody commented on #8517
thank you @potiuk  :)

[2020-04-22 17:11] jonathanshir commented on #8052
Hey guys, the databand team and I decided to implement [AIP-31] starting tomorrow.
Will be in touch with you soon for implementation discussions.
Thanks, Johnny :)

[2020-04-22 17:31] kaxil commented on #8484
Note: this only happens on tasks inside SubDagOperator

[2020-04-22 19:33] tooptoop4 opened #8520 "New boolean property in dag to prevent multi concurrent execution dates"
I want to be able to prevent the same Dagid running for multi exec dates at same time. For example DagA runs every hour I don't want the 3pm run to schedule tasks if the 2pm run is still running.

I know max active dag runs is similar but it affects all dags, I want to be able to specify per dagid.

Pools only operate at task level but I want to operate at dag level, in first come first serve basi

[2020-04-22 19:52] michalmisiewicz opened #8521 "MySQL deadlock when using DAG serialization"
**Apache Airflow version**: 1.10.10
**Kubernetes version**: v1.16.8
**MySQL version**: 5.7

**What happened**:
Airflow tasks fail with Deadlock when running Dag with `max_active_runs` > 1 and `concurrency ` > 1 and when `dag_serialization` is enabled.

<details><summary>Logs</summary>

</details>

[2020-04-22 20:42] turbaszek commented on #8480
Not exactly, this file is used to generate `default_airflow.cfg` :)

[2020-04-22 22:48] qzheng1989 opened #8523 "Json Parse Error in Tree View"
**Apache Airflow version**: 1.10.10

**What happened**:
When DAG is triggered with custom configuration that contains escape characters in a json variable value, tree view will fail to load due to json parse error at https://github.com/apache/airflow/blob/master/airflow/www/templates/airflow/tree.html#L139

**What you expected to happen**:
Tree view should load

**How to reproduce it**:
Create any

[2020-04-22 23:39] casassg commented on #8052
Sounds great to me! I can help review and give directions. Let's sync some time! I also do plan to contribute some part

[2020-04-22 23:56] tooptoop4 commented on #8179
@xpyct600 thanks for this, i got it to work.
but had to fix to 2 lines:
user_list = [sam_account_name.get(appbuilder.sm.auth_ldap_uid_field)[0].decode('utf-8') for sam_account_name in [user[1] for user in users if user[0]]]
group_list = [cn.get(ldap_sync_config['group_name_attr'])[0].decode('utf-8') for cn in [group[1] for group in groups if group[0]]]

otherwise it complained about :

  File "lda

[2020-04-23 00:14] xpyct600 commented on #8179
@tooptoop4 thanks for your comment.
Which airflow version do you have? We are using apache-airflow==1.10.7

[2020-04-23 02:12] jsmodic commented on #8480
My airflow.cfg (and celery_config.py) doesn't reference autoscaling at all (since I haven't updated them really since 1.10.2 or so, before this feature landed in airflow). It's interesting you can't replicate the behavior though. When I test it with my config with and without 'autoscale' in the dictionary, it will show both the bad and expected behavior.

[2020-04-23 06:12] tooptoop4 commented on #8179
1.10.9

[2020-04-23 06:44] turbaszek commented on #8480
@jsmodic I was able to verify that `-w` flag doesn't work on 1.10.9. I will take a deeper look at autoscaling over the weekend 👌

[2020-04-23 07:59] jeffolsi opened #8525 "SQLBranchOperator"
Airflow has SQLSensor and PythonBranchOperator it seems that the logic of both can be combined to create SQLBranchOperator

SQLSenor knows to take single sql query and wait for condition on it. it can be copied and changed so that it won't wait (like sensor) but simply return true false. According to the value returned from the query it will follow the chosen branch.

[2020-04-23 08:29] tooptoop4 opened #8526 "'Last Run' column empty for Viewer role in RBAC UI"
In 1.10.9 with RBAC UI, and a user who has the Viewer role, the 'Last Run' column on main dags page is empty. It is present for user with Admin role though.

Seems can_last_dagruns "can last dagruns on Airflow" permission is only Admin, should it be on Op, User, Viewer ?

[2020-04-23 08:48] dinigo opened #8527 "Relative paths get wrong expansion"
I generate some dags from json config file. It's a common use case arround. When I load this config file I have to write the whole path (seen in many blog posts and SO answers). If I try a relative path the expansion is made in relation to another path

If in my `/opt/airflow/dags/mydags_reppo/mydag_file.py` I was to use:
[code]
Airflow will throw the following error:
[code]
Well, of course not. T

[2020-04-23 10:06] KayleMaster opened #8528 "DAG that uses data from config files will never update unless touched"
**Description**

Provide some sort of mechanism for airflow to periodically update DAGs which use data from config files. This could be some sort of flag in the DAG constructor so we don't have to monitor every DAG.

**Use case / motivation**

We have a development and a production environment. The only difference is the config files - these determine where the data is exported/imported from. In p

[2020-04-23 11:02] jeffolsi opened #8530 "remove _get_pretty_exception_message from PrestoHook"
**What happened**:

There is no actual need for `_get_pretty_exception_message` this Hook is the only hook of DBs that is trying to wrap the exception raised from the db itself.
Airflow needs to be consistent either do this for all hooks or don't do it at all.
There is no reason to do this for Presto but not for Postgresql or Mysql
https://github.com/apache/airflow/blob/v1-10-stable/airflow/hooks/

[2020-04-23 11:20] kaxil commented on #7843
Added it to 1.10.11 milestone, we will include this in Airflow 1.10.11

However, I would like to know what would best work for you all

Options:
1) Default to colorblind friendly UI
2) Make the colors configurable

Can you please let me know in comments, please?

[2020-04-23 11:54] mik-laj commented on #8300
Truth. Documentation is not updated. This object accepts the following parameters.

- `additionalExperiments`
- `additionalUserLabels`
- `bypassTempDirValidation`
- `ipConfiguration`
- `kmsKeyName`
- `machineType`
- `maxWorkers`
- `network`
- `numWorkers`
- `serviceAccountEmail`
- `subnetwork`
- `tempLocation`
- `workerRegion`
- `workerZone`
- `zone`

You can configure private IP via ``ipConfigura

[2020-04-23 14:12] mapsam commented on #7843
@kaxil 👋 awesome!

This would be ideal - if even the reds/greens were made slightly different.

The above is ideal, but this also sounds really helpful! Especially since not all colors work for everyone.

[2020-04-23 14:13] optimuspaul commented on #7843
I would prefer to just have the colors configurable. But also agree with @preston-m-price, shape differences would add a lot of value for me. Even making the size larger on the boxes would increase my ability to reason with the colors.

[2020-04-23 14:27] csurett commented on #7843
I'd prefer configurable so that current users aren't confused.

[2020-04-23 15:18] giselamorrone commented on #7843
@kaxil we had the same issues, and none in our team is colorblind. For us the problem is more with failed and skipped (red and pink, they are really similar), they are hard to detect fast!
Would be great if we could configure that ourselves!

[2020-04-23 20:15] ashb commented on #8527
Yeah, this is not something we are likely to change -- generally you shouldn't expect any python file to be run from a specific directoyr, and the suggestion Kamil gave is the way to account for that in a resilient manner.

[2020-04-23 20:15] #8527 closed

[2020-04-23 23:13] SlowSnowFox commented on #8280
Hey, Sorry for the late reply. I'll be able to make a pull request for some of them on the weekend. Is it ok if I just package all examples I've made in a pull request and list the specific tests in the commit message?

[2020-04-23 23:36] mik-laj commented on #8280
Hey.
That sounds good. We'll see how we work. In case of problems, I will show you how to quickly divide it into many PR.
Best regards,

[2020-04-24 07:08] voltaiq-austin-chou commented on #8439
Hey @mik-laj I made a PR but please feel free to add any feedback if you have any. Also not sure how to add reviewers to a PR...normally I can request them but I'm not sure why I can't

[2020-04-24 09:56] joppevos commented on #8280
Happy to try the gcs_to_bigquery and bigquery_to_gcs examples if there is not being worked on yet.

[2020-04-24 10:05] kaxil commented on #8523
cc @houqp

[2020-04-24 10:06] mik-laj commented on #8280
Go ahead. Get started. I look forward to your example. I would be happy if you also added a system test, because it will allow us to check the example more easily.

[2020-04-24 10:16] joppevos commented on #8280
@mik-laj great! correct me if I'm wrong, but from what I understand there is already a gcs_to_bigquery example over here. https://github.com/apache/airflow/blob/master/airflow/providers/google/cloud/example_dags/example_gcs_to_bq.py

[2020-04-24 10:23] mik-laj commented on #8280
Fantastic. It is now enough to change the file name and add a system test.
We want operator and sample file names to match.

airflow/providers/google/cloud/example_dags/**example_gcs_to_bq.py**
airflow/providers/google/cloud/operators/**gcs_to_bigquery.py**

This is the main requirement for now.

[2020-04-24 10:56] potiuk opened #8537 "Building backport packages can be done inside Breeze container"
**Description**

Currently, backport packages are built on the host, but we might easily switch to building them in the container.

What would be needed:

- [ ] Change the script to run using docker run and breeze image rather than locally (Similarly to docs build or generate-requirements)
- [ ] Make sure MOUNT_SOURCE_DIR_FOR_STATIC_CHECKS is set to "true" and exported to mount all sources to insi

[2020-04-24 12:10] CodingJonas opened #8538 "Verify DAG locally fails when using DAG Variable"
**Apache Airflow version**:1.10.10

- **OS** (e.g. from /etc/os-release): Ubuntu 18.04
- **Install tools**: Pipenv

**What happened**:

I want to verify DAGs locally through `python dag.py` (on a different machine than the one running my complete Airflow setup). This does not work when using airflow.models.Variable, since these don't exist on my local machine.

**How to reproduce it**:

This code:

[2020-04-24 14:20] kaxil commented on #8538
From Airflow 1.10.10 you can set Environment Variables to be used as Airflow Variables.

Docs: https://airflow.apache.org/docs/stable/concepts.html?highlight=variable#storing-variables-in-environment-variables

which is what you can use for development.

[2020-04-24 14:22] mik-laj commented on #8538
You can use fallback when retrieving variables. I am also working on a feature that allows you to store variables in a JSON file.
https://github.com/apache/airflow/pull/8436

After all, I don't recommend trying to load DAG files directly as scripts.This in some cases can be problematic in Airflow 2.0.  I recommend that you always load files using Airflow.
[code]

[2020-04-24 15:10] felipemoz opened #8540 "MLFlow Operator"
**Description**
Helping MLOps team to tigger ML jobs after Airflow steps (new operator)

**Use case / motivation**
You can trigger mlflow jobs like sagemaker operator

[2020-04-24 15:27] ImadYIdrissi opened #8541 ""TypeError: can't pickle _thread.RLock objects" on usage of BigQueryOperator"
**Apache Airflow version**:1.10.2

**Kubernetes version**: 1.14.10-gke.27

**Environment**: GC Composer

- **Cloud provider or hardware configuration**: GCP

**What happened**:  The "clear" option crashes the UI.

**error messages**: TypeError: can't pickle _thread.RLock objects

**What you expected to happen**: I expect airflow to clear the task and its dependencies, then re-run the task.

**What

[2020-04-24 16:03] dinigo commented on #8527
thanks @mik-laj ! great solution. Sorry for generating overload with this sort of thing

[2020-04-24 16:34] mik-laj opened #8542 "Production Docker Image - quick start"
**Description**

Hello

We miss the quick start guide that will allow you to quickly launch Airflow from the official image.
For now, we only have a guide that describes how to install Airflow using Pip.
https://airflow.readthedocs.io/en/latest/installation.html

In a perfect world, I'd see the following pages:
* **Installation** - general information and general information and comparison of PIP

[2020-04-24 16:38] potiuk commented on #8542
Yep. this is planned. I am gathering feedback from users in https://apache-airflow.slack.com/archives/CQAMHKWSJ and hopefully we will get useful feedback and PRs from those discussions. Feel free to join :). I really want to get users to tell us how they are going to use it. If you want you can contribute too.

I think we already have this? Don't wee

[2020-04-24 16:44] atejano opened #8543 "Is 1.10.10 version still saving the variable to the table? or is it only available as environment variable?"
**Do not use issues for support requests or general help queries**

Please ask on one of our mailing lists, or in our Slack channel. See the "Ask a question" section of http://airflow.apache.org/community/

Issues which are not bug reports or feature requests (i.e. "how do I get X working", or "How do I best do X?") will likely be closed without a response.

[2020-04-24 16:46] potiuk commented on #8543
Please read the content of the issue.

[2020-04-24 16:46] #8543 closed

[2020-04-24 17:01] houqp commented on #8523
Thanks @kaxil for the tag, I will look into this. It should escape all json strings.

[2020-04-24 17:20] potiuk commented on #8439
Only committers can add reviewers

[2020-04-24 17:41] mik-laj commented on #8542
@potiuk I think that now it should be a separate subpage. We have a guide for PIP, which contains these tables, but if Docker will use it, you can move these tables to a separate subpage.

[2020-04-24 17:43] kaxil commented on #8059
+1 to Making Xcom backend pluggable with the default of `airflow.models.xcom.XCom`

[2020-04-24 17:44] dimberman opened #8544 "Create EKS operators"
**Description**

The same way that we have `GKEStartPodOperator` and `GKECreateClusterOperator` we should add operators that interact with EKS and abstracts all amazon logic from the airflow user.

**Use case / motivation**

This will allow airflow to be a general purpose kubernetes orchestrator. Able to do multi-cluster orchestration across multiple clouds.

**Related Issues**

[2020-04-24 18:01] tedmiston commented on #8447
I am working on an initial PR for this one.

[2020-04-24 18:17] mnishesh opened #8547 "Not able to trigger the DAG using api in 1.10.10"
Actual : even though the response status is 200 we are not able to trigger the DAG using POST API.
same code is working fine in 1.10.9
expected :- API should be able to trigger the DAGS.

code snippet
import unittest
import requests
import time
import xmlrunner

class FunctionalTest(unittest.TestCase):
     def test_import_dags(self):

        headers = {
            'Cache-Control': 'no-cache',

[2020-04-24 18:40] yordis opened #8548 "[Umbrella] Add Docker compose example"
Would be amazing to add some example on how to set up Airflow with the new image using Docker Compose.

Example:
- https://github.com/bitnami/bitnami-docker-airflow

Updated by @potiuk :  moved the example to #8605 together with other examples from Slack.

[2020-04-24 19:41] resdevd commented on #8548
I’ve created a repo with Docker Compose boilerplate with official Airflow Docker images.

https://github.com/resdevd/docker-compose-airflow

[2020-04-24 20:43] potiuk commented on #8548
I think w would like all this to be eventually part of the Airflow repo. Ther is no point in having separate repos if this all can be added to the official airflow one. It should be all community managed. Can you @resdevd make a PR to the main Airflow repo. I am happy to comment on that.

[2020-04-24 20:49] potiuk commented on #8460
I once added a PR for multiple executors based on queue - would you find it useful ?https://github.com/PolideaInternal/airflow/commit/6590f665d4d9aa2629052c1af2e6f4c36a9a4dd3

[2020-04-24 20:55] resdevd commented on #8548
@potiuk Ofcourse, I've created that repo mainly for my personal preference and usecase.
Feel free to use the above docker-compose code and modify if necessary.
Alternatively I can happily contribute the code to main Airflow repo next week and let community direct the docker-compose boilerplate.

[2020-04-24 20:55] potiuk commented on #8005
Now - we will make a nightly tag with #8549  - so the "release" tags in the future can be annotated I think - still to make a distinction. I don't think there's any harm in it. I'ts jus t a matter of adding a flag in our release scripts.

[2020-04-24 20:57] potiuk commented on #8548
That would be great if you contribute. I will take a look at  a few of the sources we have and try to split the changes needed into github issues and will welcome some contributions there :)

[2020-04-25 00:27] houqp commented on #8523
turns out escape sequence itself is not escaped, @qzheng1989 feel free to test out my fix in #8551.

[2020-04-25 07:34] tooptoop4 commented on #8460
can u pls merge to apache airflow repo?

[2020-04-25 13:43] evgenyshulman commented on #8052
now the main purpose of this XComArgs is about being able to inject “dependency” on another operator + route to fetch that dependency from XCom.  I assume generic class is required around jinja templates baking + defining dependencies in the Arg.   Let’s create class ArgBase that will have these 3 interfaces defined :
   1.  it can be “resolved”, it can be represented as Jinja template
   2. it ca

[2020-04-25 13:57] potiuk commented on #8460
Well. I could resurrect it yeah. But only after I finish some of the most urgent things with CI/Kubernetes/prod image - but If you would like to pick it up till then - feel free @tooptoop4  :)

[2020-04-25 15:02] Dewsmen opened #8557 "Count SKIPPED as SUCCESS if wait_for_downstream=True"
**Apache Airflow version**:  2.0.0.dev0 (but code the same in 1.10.x)

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.16.8

**Environment**:

- **Cloud provider or hardware configuration**:  -
- **OS** (e.g. from /etc/os-release): -
- **Kernel** (e.g. `uname -a`): -
- **Install tools**: -
- **Others**: -

**What happened**:  The task with wait_for_downstream=True w

[2020-04-25 15:29] #8272 closed

[2020-04-25 16:51] potiuk commented on #8537
@feluelle -> here you are :)

[2020-04-25 18:44] turbaszek commented on #8052
Should "normal" operators be also XComArgs?

Once we have functional operators, should I as a user expect this DAG to work?
[code]
If no, why not?

[2020-04-25 18:48] turbaszek commented on #8053
FYI @jonathanshir

[2020-04-25 19:09] casassg commented on #8052
I do not agree on this. Why do we need to stick to Jinja templates? Seems we are trying to fit the new solution to the existing workaround, when we should think of this as a more generic solution. I dont see why we need a `ArgBase` class. Could you illustrate with an example?

No let's use https://github.com/apache/airflow/issues/8055 instead:

[code]

[2020-04-25 19:20] evgenyshulman commented on #8052
An example would be cases when people build command lines, text messages, SQL queries, and so on based on the previous operator's results
for example:
    1. BashOperator with bash_command ( that is expected to be string)
         BashOperator( "do_something --cluster-id %s" %..)
     2. HiveOperator( hql = "... %s" % some_op_result["table_id")

I personally don't like using Jinja templating, but

[2020-04-25 19:22] evgenyshulman commented on #8052
The reasoning for base class is only because there is a proposal about having different implementation for the class. So it worth defining what is expected fro the new implementation in the base class. (for example what if some implementation doesn't use XCom at all, why should it inherit from XcomArg class?  These are non-critical question, I am ok with no base class at all.

[2020-04-25 19:32] turbaszek commented on #8052
Imho here we should be opinionated and "purely functional". Thus I would suggest using factory function (operator) like `prepare_bash_cmd` or `build_hql` which result (XComArg) will be then passed as an input.

[2020-04-25 22:35] evgenyshulman commented on #8052
it's definitely an option for people who wants a "purely function" approach from the beginning.  Most of Airflow users are already very invested in the current implementation without functional operators.
1. They will have to rewrite their current implementation ( extract into function with @task).
2. In case it's part of internal operator implementation it's even harder to do
3.  It will affect a

[2020-04-26 05:31] casassg commented on #8052
Regarding templating, I understand why you say that now. An option we implemented internally to do this was to add a `map` function to XComArg which is lazy evaluated and that enables transforming the value pulled before passing it to the operator.

My main worry is enabling the Jinja string is that it may cause some non-expected behaviour. For example, what happens when the value is not a string?

[2020-04-26 05:57] gwind opened #8564 "Can we add configable debug settings for delay pod delete when there is a `Error` state of pods ?"
**Description**

Add configable debug settings for delay pod delete when there is a `Error` state of pods.

**Use case / motivation**

In `apache/airflow:1.10.10` image.

I'm deploy a airflow in k8s, want to use Kubernetes Executor for task excute.
If the pod got Error state, airflow scheduler would delete pod immediately.
So we can not see what happend, pod is deleted in some seconds.

When I add

[2020-04-26 09:12] jeffolsi opened #8565 "SalesforceHook missing method to return dataframe"
Currently SalesforceHook has function `write_object_to_file` which query salesforce and save the output to file. On the way it also uses df. The function even return the df.
the problem is that if someone wants only df he must also provide `file_name` **which can't be empty!** and set `fmt=None` this doesn't really work well and it causes troubles.

The function `write_object_to_file` should be di

[2020-04-26 10:35] #8537 closed

[2020-04-26 12:09] jonathanshir commented on #8058
My suggested changes:
The issue states we want to implement context similarly to flask.requests :
[code]
I think this is a bit of an over-complication - our use case is much simpler than this.
We simply have a single execute context for each task instance, so my intended implementation will be a bit simpler:
[code]
The actual implementation will contain a simple stack data type that is updated bef

[2020-04-26 12:20] turbaszek commented on #8058
+1 for starting simple, what would you say to make this context a namedtuple? Referencing values is much more easier with namedtuple than with dictionary (no need to remember names).

[2020-04-26 12:28] jonathanshir commented on #8058
Sounds great, does this imply we also change the context being provided the old way?
[code]

[2020-04-26 12:38] turbaszek commented on #8058
No, if someone uses `**context` then it implicitly suggest that it will be a `dict`. I would do this only for the "new" context.

[2020-04-26 14:06] akki commented on #7955
I don't think passing network is currently supported by `DockerSwarmOperator`.

Can you find this feature in [Python Docker API](https://docker-py.readthedocs.io/en/stable/api.html) ?
If yes, it should be plausible to support this feature via `DockerSwarmOperator` as well.

In general, anything supported by the Python Docker API can theoretically be integrated into `DockerSwarmOperator`. For examp

[2020-04-26 14:48] evgenyshulman commented on #8052
I agree that Jinja + XCom was always problematic, however, most of the time it does work. if object is nonstr -> Jinja will convert it into str as it was doing for any other object coming directly from `xcom_pull`.  We can remove __str__ implementation if we have any problems around it before we merge into apache-airflow

My working assumption is that replacing XCom only is going to be not enough

[2020-04-26 15:07] mik-laj opened #8567 "Support YAML input for CloudBuildCreateOperator"
**Description**

Hello,

We have an operator that allows us to run build in the Cloud Build service.
https://github.com/apache/airflow/blob/3c4ca62af11e84fc7c09428642d09055b704c576/airflow/providers/google/cloud/operators/cloud_build.py
Unfortunately, this operator did not allow easy use with YAML files. It is a common format for this service
https://cloud.google.com/cloud-build/docs/build-config#

[2020-04-26 15:11] mik-laj opened #8568 "Rewrite Google Cloud Build integration to use the native library."
Hello,

We have an operator that allows us to run build in the Cloud Build service.
https://github.com/apache/airflow/blob/3c4ca62af11e84fc7c09428642d09055b704c576/airflow/providers/google/cloud/operators/cloud_build.py
Unfortunately, this operator uses the old library, which is based on the discovery API.
https://github.com/googleapis/google-api-python-client
We should migrate to the new native l

[2020-04-26 16:08] #8285 closed

[2020-04-26 16:46] rajasaur opened #8570 "Marking Jobs as Failed doesnt consider tasks that are 'up_for_reschedule'"
**Apache Airflow version**: 1.10.10

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): No K8s

**Environment**:
Mac OSX , Python 2.7 with Postgres( running on Docker)

**What happened**:
It looks like if u try to cancel a task that is in the "up_for_reschedule" state, that task doesnt get canceled. The DAG Run itself gets canceled but not any of the tasks if the current

[2020-04-26 16:48] #8023 closed

[2020-04-26 21:28] ImadYIdrissi commented on #8541
Yeah, it turns out I forgot to upload the SQL SCRIPT that the `BigQueryOperator` uses... I believe there should be a clear `FileNotFound` exception instead of a UI crash.

[2020-04-26 22:29] casassg commented on #8058
Saw it on the PR, lgtm as well on making it a function 😄

[2020-04-26 22:32] casassg commented on #8052
Sounds good. Regarding Jinja, maybe a way is to make it `xcom_arg.jinja` property instead of making it under __str__. But it's mostly a nitpick, so fine by me.

If we keep XComArg as a simple XCom wrapper, that should work. Want to make sure we keep XComArg as low complex as possible, and if we need to add some extra XCom logic add it to XCom class itself instead.

[2020-04-27 06:30] potiuk opened #8574 "Make production image pullable without tag (automatically)"
**Description**

Currently (alpha versions of the Production Image) you need to know an exact tag of production image. For example:

[code]
We should have a "latest" tag defined to make `docker pull apache/airflow` to work.

**Use case / motivation**

Docker pull has the feature that when you just specify no-tag version it will pull from the "latest" tag (which is a movable tag). It's not very goo

[2020-04-27 08:09] ryanyuan commented on #8568
@mik-laj I just created a PR for this. :)

[2020-04-27 08:41] potiuk commented on #8574
The `latest` tag is now set manually so `docker pull apache/airflow` should pull 1.10.10, python 3.6.. This issue is there to make it all automated,

[2020-04-27 08:43] potiuk opened #8577 "Build production images from release tags"
**Description**

Currently the production images are built automatically from master/v1-10-stable branches in DockerHub, but they should also build from RC and release branches.

**Use case / motivation**

When release tag is pushed, the images should be build automatically in DockerHub.

**Related Issues**

#8574

[2020-04-27 08:48] potiuk opened #8578 "Describe contents of the production image for users"
**Description**

Users need to know more details about production images - where the logs/dags etc. are, which variables might be set to trigger certain functionality.

Current documentation is more focused on building process rather than using it. This should be improved.

**Use case / motivation**

Users should be able to understand the content and usage of the production image.

Connected with

[2020-04-27 08:51] jeffolsi commented on #8507
This is not a bug
You need to set `get_all_pages=False`
https://github.com/apache/airflow/blob/master/airflow/providers/zendesk/hooks/zendesk.py#L60

[2020-04-27 09:26] potiuk commented on #8507
Closing as it is invalid as explained by @jeffolsi  (thanks!)

[2020-04-27 09:26] #8507 closed

[2020-04-27 10:20] #8316 closed

[2020-04-27 10:20] #8352 closed

[2020-04-27 10:20] #8359 closed

[2020-04-27 10:22] #8348 closed

[2020-04-27 10:22] #8349 closed

[2020-04-27 10:22] #8350 closed

[2020-04-27 10:22] #8351 closed

[2020-04-27 10:22] #8353 closed

[2020-04-27 10:22] #8354 closed

[2020-04-27 10:22] #8355 closed

[2020-04-27 10:22] #8356 closed

[2020-04-27 10:22] #8357 closed

[2020-04-27 10:22] #8358 closed

[2020-04-27 10:22] #8360 closed

[2020-04-27 10:22] #8361 closed

[2020-04-27 10:22] #8362 closed

[2020-04-27 10:22] #8363 closed

[2020-04-27 10:22] #8364 closed

[2020-04-27 10:22] #8365 closed

[2020-04-27 10:22] #8366 closed

[2020-04-27 10:22] #8367 closed

[2020-04-27 10:22] #8368 closed

[2020-04-27 10:22] #8369 closed

[2020-04-27 10:22] #8370 closed

[2020-04-27 10:22] #8371 closed

[2020-04-27 10:22] #8372 closed

[2020-04-27 10:22] #8373 closed

[2020-04-27 10:22] #8374 closed

[2020-04-27 10:22] #8323 closed

[2020-04-27 10:22] #8324 closed

[2020-04-27 10:22] #8325 closed

[2020-04-27 10:22] #8326 closed

[2020-04-27 10:22] #8327 closed

[2020-04-27 10:22] #8328 closed

[2020-04-27 10:22] #8329 closed

[2020-04-27 10:22] #8330 closed

[2020-04-27 10:22] #8331 closed

[2020-04-27 10:22] #8332 closed

[2020-04-27 10:22] #8333 closed

[2020-04-27 10:22] #8334 closed

[2020-04-27 10:22] #8335 closed

[2020-04-27 10:22] #8336 closed

[2020-04-27 10:22] #8337 closed

[2020-04-27 10:22] #8338 closed

[2020-04-27 10:22] #8339 closed

[2020-04-27 10:22] #8340 closed

[2020-04-27 10:22] #8341 closed

[2020-04-27 10:22] #8342 closed

[2020-04-27 10:22] #8343 closed

[2020-04-27 10:22] #8344 closed

[2020-04-27 10:22] #8345 closed

[2020-04-27 10:22] #8346 closed

[2020-04-27 10:22] #8347 closed

[2020-04-27 10:22] #8318 closed

[2020-04-27 10:22] #8319 closed

[2020-04-27 10:22] #8320 closed

[2020-04-27 10:22] #8321 closed

[2020-04-27 10:22] #8322 closed

[2020-04-27 10:29] potiuk opened #8582 "Release the first set of backport packages"
**Description**

As discussed in https://lists.apache.org/thread.html/r9a4781b60a2a6a2ed3ea11ecfe3b610f2e515fefdfdfbd30c75215e0%40%3Cdev.airflow.apache.org%3E

We decided to released backport packages without the hard requirement on system tests.

**Use case / motivation**

Preparing system tests for all packages is a burden (even though we already have 66% of them - all google packages) done. Thi

[2020-04-27 11:52] dinigo opened #8583 "Rename extra module `apache-airflow[gcp]` to `apache-airflow[google]`"
In the official docs as in the development we use the command`pip install apache-airflow[gcp]`to install `google` hocks and operators.

Now in the `master` (2.0) this extra installs tools for:
- Google Cloud
- Google Suite
- Google Ads
- Google Marketing cloud

Can we replace `gcp` extra for `google` name in the documentation and the packaging setup in airflow v2.0?

[2020-04-27 11:59] potiuk commented on #8583
Yep. I think it's the right time to do it :)

[2020-04-27 12:19] dinigo opened #8585 "Integrate Google Analytics Reporting API from plugin"
Short: Integrate airflow [plugin](https://github.com/airflow-plugins/google_analytics_plugin) , notified in this [issue](https://github.com/airflow-plugins/google_analytics_plugin/issues/18) on their issue tracker.

Before the official (beta for now) operators for Google Analytics landed in the official airflow repo a number of custom plugins appeared in the community. This repo gathers a couple o

[2020-04-27 13:59] kaxil commented on #8582
After our discussion:

- Our Release Guide: https://cwiki.apache.org/confluence/display/AIRFLOW/Releasing+Airflow - This has details (or links to other docs) on how to create your GPG KEYS and upload them to https://dist.apache.org/repos/dist/release/airflow/KEYS. And has the details of the actual release process. Feel free to create a separate section (or a Subpage) for releasing the Backport pac

[2020-04-27 14:33] #8523 closed

[2020-04-27 14:34] kaxil commented on #8523
Thanks @houqp . @qzheng1989 Fix will be available in Airflow 1.10.11

[2020-04-27 15:43] khyurri commented on #8284
Still in progress. I need to write tests and documentation :) No estimates yet.

[2020-04-27 16:01] hagope opened #8589 "Add Airtable Hook"
**Description**

[Airtable](https://airtable.com/) is powerful and intuitive service that allows users to build complex data structures and layers in tons of other features in the form of "blocks."

**Use case / motivation**

Its important for Airflow to connect to apps in which business users are inputting data in a structured manner. I've previously implemented the [Google Sheets hook](https://g

[2020-04-27 16:54] turbaszek commented on #8589
Hi @hagope thanks for the issue! Would you like to work on it?

[2020-04-27 16:57] turbaszek commented on #8540
Hi @felipemoz would you like to work on it? This sounds like an interesting feature. I am happy to help if you decide to implement those operators :)

[2020-04-27 16:59] turbaszek commented on #8449
Hi @curiousjazz77 would you like to open a PR and contribute this code?

[2020-04-27 17:03] turbaszek commented on #8585
Does already existing Analytics operators solved the problem?
https://github.com/apache/airflow/blob/master/airflow/providers/google/marketing_platform/operators/analytics.py

[2020-04-27 17:40] Quadrisheriff commented on #8143
Hi, I am a technical writer. Can I help on this?

[2020-04-27 20:17] joppevos commented on #8567
@mik-laj Happy to pick up this task. Do you mean adding an extra argument to be able to pass the filepath or adjusting the current `body` variable to also accept a filepath instead of only dict builds?

[2020-04-27 20:20] mik-laj commented on #8567
@joppevos Use the current argument again if possible.

[2020-04-27 20:30] mik-laj commented on #8541
Does this problem still occur in Airflow in the master branch? We have introduced a lot of changes and improvements in GCP operators and I think that this problem may have already been solved.

[2020-04-27 22:17] dinigo commented on #8585
No, we lack the reporting API that lets you compose a report and download a dataset for this report.

It's the easiest way to take Data out of Google Analytics. it was there long before  the BigQiery export so a lot of business logic for a lot of companies relay in this export. I've seen it "Cron"ified very frequently.

[2020-04-27 22:24] dinigo commented on #8585
I just checked the Orchestra project, which seems to be a "plug'n play" version of the Google operators we have in the master (I suppose it will be obsolete once the operators backport is officially released from apache-airflow)

[2020-04-28 05:54] VinodKumarLogan commented on #8565
Hi @jeffolsi @potiuk , can I give this a shot and submit a PR?

[2020-04-28 06:29] ytiam opened #8599 "Airflow DAGs On/Off toggle button not working properly with RBAC=True mode"
I am using an AWS ec2 instance and installed apache-airflow there. Following steps, I am doing in that instance,
 1) After initiating airflow with 'airflow initdb', I created a user with **Admin** role using 'airflow create_user' option and  in airflow.cfg changed rbac = True.
2) Again ran 'airflow initdb' and 'airflow webserver'. It initiated the webserver.
3) In another tab,  run 'airflow schedu

[2020-04-28 07:30] jeffolsi commented on #8565
@VinodKumarLogan sure

[2020-04-28 07:41] turbaszek commented on #8585
It true that we get some help from Orchestra projects. Airflow is open source so I encourage you to open a PR with operators / hooks you require. I am happy to help with review / testing :)

[2020-04-28 07:51] pradige commented on #8599
I'm on the same with u
maybe y can see response
<title>400 Bad Request</title>
<h1>Bad Request</h1>
<p>The CSRF token is missing.</p>

i'm trying to figure it out but nothing to do right now

[2020-04-28 08:30] ytiam commented on #8599
No Clue I am getting, whats the issue exactly happening behind

[2020-04-28 09:05] ytiam commented on #8599
The following issue looks similar to ours:
https://issues.apache.org/jira/browse/AIRFLOW-2866

[2020-04-28 09:41] Adam-Leyshon commented on #8599
This is caused by the latest release of Flask-AppBuilder 2.3.3 which updated jQuery to 3.5
Downgrading to FAB 2.3.2 solved it for us.

[2020-04-28 10:00] ytiam commented on #8599
Voila...:D Downgrading to FAB 2.3.2, worked. Thanks a lot @Adam-Leyshon

[2020-04-28 10:32] pradige commented on #8599
@Adam-Leyshon
thank you . it also work for me ^^

[2020-04-28 10:42] jeffolsi commented on #8484
also https://issues.apache.org/jira/browse/AIRFLOW-6236

[2020-04-28 11:43] oripwk opened #8603 "Consider supporting .jinja2 extensions across the project"
**Description**

At the moment, various operators support reading templates from given filenames (for example, [bash_command](https://airflow.apache.org/docs/stable/_api/airflow/operators/bash_operator/index.html#airflow.operators.bash_operator.BashOperator) of `BashOperator`). However, all of these operators specify extensions such as `.sh`, .`json` etc., so it means users need to write Jinja2 te

[2020-04-28 12:04] potiuk opened #8604 "Add ADDITIONAL_PYTHON_DEPS to the image"
**Description**

Since we have separate "build" segment for the production image, We will need to add any extra dependencies there rather than on top of the base image if someone wants to add those dependencies.

**Use case / motivation**

The initial idea was to be able to extend the image with some extra dependencies but since the production image is optimized for size it does not have a lot of

[2020-04-28 12:09] CodingJonas commented on #8538
Thank you for your help! @mik-laj, your new feature is exactly what I was looking for!

[2020-04-28 12:09] #8538 closed

[2020-04-28 12:15] potiuk opened #8605 "Add Production-ready docker compose for the production image"
**Description**

In order to use the production image we are already working on a helm chart, but we might want to add a production-ready docker compose that will be able to run airflow  installation.

**Use case / motivation**

For local tests/small deployments - being able to have such docker-compose environment would be really nice.

We seem to get to [consensus](https://apache-airflow.slack.co

[2020-04-28 12:20] potiuk opened #8606 "Deal with initial username/passwords in the production docker image"
**Description**

The Bitnami Airflow Image (https://github.com/bitnami/bitnami-docker-airflow) deals nicely with initial usernames/passwords - this is when you run it through docker-compose and you want to do database initialization. It is likely we should do something similar.

**Use case / motivation**

In some environments, you would like to create an initial username/password when you start th

[2020-04-28 12:23] potiuk commented on #8605
Duplicates #8548 - but I want to leave it for a while

[2020-04-28 12:27] mik-laj commented on #8603
Hi.

It looks good. I think we can accept jinja2 whenever template ext is not empty.
Do you want to work on it? Should I assign you to this ticket?

Best regards,
Kaamil

[2020-04-28 12:31] potiuk commented on #8548
Comment - treat this as an "Umbrella task' - I split it into two separate issues for now #8605  and 8606 as those two will likely be implemented separately.

[2020-04-28 12:34] oripwk commented on #8603
Hi,

Yes, I can work on it. You can assign

[2020-04-28 12:35] kaxil commented on #8605
It would be nice to have this in "Quick Start Guide when using Docker Image" too. WDYT

[2020-04-28 12:56] potiuk commented on #8605
Absolutely. It's already planned in #8542 :)

[2020-04-28 12:56] potiuk commented on #8605
Added missing label :)

[2020-04-28 13:26] ashb opened #8608 "Make conn_id unique in Connections table"
s we discussed in the thread on Spec thread for our new API, the idea
came up of making conn_id unique in Airflow

<https://lists.apache.org/thread.html/rfb6f7d95b2754fda9dd09b08444214dfad12d10f143d32de0fcf4104%40%3Cdev.airflow.apache.org%3E>

The people in that thread seemed to be in favour of it:

- It is often confusing to users (there have been a few bug reports about it over the years)
- It's

[2020-04-28 14:38] vdusek opened #8609 "DAG's parameter access_control is not refreshing in the UI"
**Apache Airflow version**: 1.10.9

**Environment**:

- **Cloud provider or hardware configuration**: N/A
- **OS** (e.g. from /etc/os-release): Debian GNU/Linux 9 (stretch)
- **Kernel** (e.g. `uname -a`): Linux 4cc8ac3c2cfb 5.4.0-26-generic #30-Ubuntu SMP Mon Apr 20 16:58:30 UTC 2020 x86_64 GNU/Linux
- **Install tools**: N/A

**What happened**:

When I update DAG's parameter `access_control` the c

[2020-04-28 14:55] #8059 closed

[2020-04-28 15:14] martinskeem opened #8611 "[SQL Server]'JSON_VALID' is not a recognized built-in function name"
**Apache Airflow version**:1.10.10
**What happened**: Not able to run upgradedb

It seems that there's a regression of this bug, specifically pertaining to SQL Server, which does not support "JSON_VALID": https://issues.apache.org/jira/browse/AIRFLOW-6366

Resulting in this error during "airflow upgradedb":

Apr 28 14:58:40 devaf1-dk1.sys.dom airflow[43060]: sqlalchemy.exc.ProgrammingError: (pyodb

[2020-04-28 16:28] ryw commented on #8599
@ryanahamilton want to look at this?

[2020-04-28 16:57] ldacey opened #8612 "Production Docker Image AIRFLOW_INSTALL_VERSION does not overwrite AIRFLOW_VERSION environment variable"
**Apache Airflow version**: 1.10.10

**What happened**:
When I look at environment variables within my Airflow containers, I see `AIRFLOW_VERSION="2.0.0.dev0"`

**What you expected to happen**:
Since I built the image with `AIRFLOW_INSTALL_VERSION="==1.10.10" `, I would expect any reference to the Airflow version to reflect 1.10.10 and not 2.0.0.

**How to reproduce it**:
Build an image with a spe

[2020-04-28 16:57] lbrack1 opened #8613 "CSRF Token not included in request header"
**Apache Airflow version**:
1.10.9

**Environment**:
Google Cloud Compute Instance
- **OS** (e.g. from /etc/os-release):
Red Hat Enterprise Linux Server
Version 7.7
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

After rebuilding an Airflow environment I started experiencing that DAGS could not be toggled on/off via the UI. It appears the CSRF token is not b

[2020-04-28 17:21] joshowen commented on #7911
I'm particularly interested in having a low watermark to speed up the webserver's queries, but we'd want to persist all of the dagrun metadata for occasional offline reporting.

[2020-04-28 17:51] XD-DENG commented on #8613
Thanks @lbrack1 for reporting the issue.

I can confirm that I can reproduce the issue. And I agree on your reasoning.

I Will confirm which dependency cause it and revert here

[2020-04-28 18:09] rahulj51 commented on #8484
Steps to reproduce:

1. Create a simple DAG with a PythonOperator.
1. In the Python function, print some logs. For ex.
[code]
1. Run this with Airflow 1.10.6. Logs will be printed.

<img width="1124" alt="1 10 6" src="https://user-images.githubusercontent.com/370587/80521926-180aa900-898c-11ea-8761-cb38d325d81d.png">

1. Run again with 1.10.9. Logs will not be printed.

<img width="1271" alt="1 10

[2020-04-28 18:10] XD-DENG commented on #8613
Hi @lbrack1 , I have confirmed that after downgrading Flask-AppBuilder to 2.3.2, the issue is fixed. You may try at your side as well.

I will also prepare a PR for this.

Thanks again for sharing the issue quickly!

[2020-04-28 18:35] jvaesteves opened #8615 "JDBCOperator with SSH Tunnel option"
Hello, I am using the latest version of Airflow (1.10.10), and I want to user JDBCOperator to connect to a Oracle database when get some keys for the next step, but to access the machine, I need first to SSH to a jumpbox, but the operator documentation does not give any information of how can I achieve it, or if its even possible. Can someone help me here?

[2020-04-28 18:36] #8599 closed

[2020-04-28 18:37] kaxil commented on #8613
Duplicate of https://github.com/apache/airflow/issues/8599 and solved in https://github.com/apache/airflow/pull/8602

[2020-04-28 18:37] #8613 closed

[2020-04-28 20:17] kaxil commented on #7843
Looks like "Configurable" would be what all would like 👍

[2020-04-28 21:47] dinigo commented on #8606
Well you can simply add a new service in the docker stack/compose to initialize  it:
[code]
I think something like this will do. It can be added to the entrypoint script also, but you can initialize any database with a matching version airflow installation. To initialize my airflow db for the docker stack deployments I:
1. Spin up the db
2. Setup the env variables to connect to the DB in local (fe

[2020-04-29 00:44] YingboWang opened #8619 "Profile worker hostname to celery executor for command fail"
**Description**
Add hostname to the celery command failed exception information. Pass it to executor event_buffer as info field. So we know which host is having issue from scheduler log and will be able to handle these executor events more efficiently.

**Use case / motivation**
When there is an inconsistency between executor event return state and DB state. It is hard to debug the root cause and

[2020-04-29 00:50] mik-laj opened #8620 "Transfer operators and division into providers"
Hello,

Somewhere we need to include a summary of the [AIP-31](https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-21%3A+Changes+in+import+paths)
I don't have an idea yet, but I'm saving my note.

Best regards,
Kamil

[2020-04-29 02:28] nuh-temp opened #8622 "Possible race condition when using LocalExecutor"
**Apache Airflow version**: 1.10.10

**Environment**:

- **OS** (e.g. from /etc/os-release): Red Hat Enterprise Linux Workstation release 7.6 (Maipo)
- **Kernel** (e.g. `uname -a`): 3.10.0-957.21.3.el7.x86_64
- **Install tools**:
- **Others**:

**What happened**:

When LocalExecutor is used with multiple threads allowed there seems to be a race condition in scheduling tasks when there are many tas

[2020-04-29 03:40] resdevd commented on #8606
I think the default username, password should be declared in env variables, Airflow Image's entrypoint checks for these variables and creates a user. If the user already exist, the current default behavior is a graceful "User already exist" message.

[2020-04-29 09:15] aishusan opened #8628 "Triggering a DAG for a future run(s) stops the intermediate scheduled run(s)"
- Airflow Version: 1.10.9 (We tried it across other versions too, but we see the same behavior!)
- Python Version: 3.6.0
- DAG schedule: Every 1 hour once.
- OS: Mac OS
- Kernel: Darwin Kernel Version 18.7.0
- Environment:Local/GCP
- Kubernetes: Not applicable. We run the plain vanilla version of Airflow using pip installation.

**Issue:**

**At 11.00AM**

We triggered a DAG in UI to be scheduled

[2020-04-29 09:40] hcbraun commented on #8564
Hi gwind,
were you able to solve the container error?
`ModuleNotFoundError: No module named 'argcomplete'`
I have the same issue in pods with the Kubernetes executor and the example DAGs

There is an option to keep / not delete worker pods:
  AIRFLOW__KUBERNETES__DELETE_WORKER_PODS: "false"

[2020-04-29 09:50] gwind commented on #8564
I've solved it by hack the airflow code.

👍 Indeed, there is a option in airflow/config_templates/default_airflow.cfg

Thanks !

[2020-04-29 10:02] potiuk commented on #8603
Hey @oripwk. I generally like the idea, but can you also write about this one on the devlist - I think this is quite a fundamental change int the approach for potentially many operators, and I feel we should have more people commenting on it and maybe coming up with some ideas how to handle it well. I think for example that better  approach will be to simply support additional .jinja2 extension wh

[2020-04-29 10:09] oripwk commented on #8603
Sure.
I also commented on the PR regarding how to generate documentation for this, since it affects many operators. Do you have any suggestion how to deal with it? https://github.com/apache/airflow/pull/8616#issuecomment-621086618

[2020-04-29 10:16] hcbraun commented on #8564
AIRFLOW__KUBERNETES__RUN_AS_USER: "50000"

[2020-04-29 11:53] acroos opened #8629 "DockerOperator cannot pull image when docker client uses json-file log driver"
**Apache Airflow version**: 1.10.10

**Environment**:

- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): Ubuntu 16.04
- **Python version**: 3.7.7

**What happened**:

When pulling a new image using the DockerOperator, the pull fails because [the pull method](https://docker-py.readthedocs.io/en/stable/api.html#docker.api.image.ImageApiMixin.pull) on docker-py

[2020-04-29 12:04] acroos commented on #8629
Sorry!  It appears https://github.com/apache/airflow/pull/8287 will fix this issue

[2020-04-29 13:04] Milchdealer opened #8630 "Apache Beam 2.20.0 will break the DataFlowOperator"
**Apache Airflow version**: 1.10.10

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**: GCP
- **OS** (e.g. from /etc/os-release): Ubuntu
- **Kernel** (e.g. `uname -a`): 5.0.0-1034-gcp
- **Install tools**: apache-beam (Python) on Google Cloud DataFlow
- **Others**:

**What happened**: When using Apache Bea

[2020-04-29 14:08] flin-aa opened #8632 "Airflow 1.10.10 scheduler bug"
**Apache Airflow 1.10.10**:

**Linux version 3.10.107-1-(gcc version 4.8.2 20140120 (Red Hat 4.8.2-16) (GCC) ) **:

**start scheduler a few minutes ,airflow celery do not received task , also can say scheduler do not send task to broker while scheduler still running in backend, the scheduler will  turn to be red after scheduled task number reach to the 16.**:

![image](https://user-images.githubus

[2020-04-29 18:04] preston-m-price commented on #7843
I would vote for default colorblind friendly. I regularly get screenshots captured in issues and presentations that I can't read.

[2020-04-29 22:00] ashb opened #8634 "Non-ascii characters in dag ID causes statds to fail."
**Apache Airflow version**: 1.10.5, and 1.10.10

**What happened**:

If you include non-Ascii characters in a dag ID, and enable statsd metrics, it causes the webserver to fail to start.

(It is only the statsd part that causes an issue, the rest of Airflow appears to cope fine with the non-US chars.

For example

[code]

The error is:

[code]

[2020-04-29 22:24] aray opened #8636 "Request Line is too large"
With 100 dags per page and dag names that average over 40 characters we are running into the following bug on the four endpoints below that are used by the UI.

/blocked
/last_dagruns
/dag_stats
/task_stats

Request URL is like:
https://myhostname/last_dagruns?dag_ids=massive,long,list,of,dags,that,is,over,4094,chars

and response is status 400 (bad request) with body:

[code]

I believe we can ch

[2020-04-30 01:59] zhongjiajie commented on #8632
Could you show some log about the scheduler? @flin-aa

[2020-04-30 04:56] darwinyip opened #8638 "Scheduler not receiving heartbeats"
**Apache Airflow version**: 1.10.9

**Environment**:

- **Cloud provider or hardware configuration**: AWS - webserver, flower, scheduler, worker running in separate ECS services
- **OS** (e.g. from /etc/os-release): python:3.6-slim
- **Others**: Running distributed with Celery
`apache-airflow[aws,celery,crypto,gcp,mysql,postgres,redis,sentry,slack,ssh]==1.10.9`

**What happened**:

Seeing occasion

[2020-04-30 08:55] ashb commented on #8636
Fixed by #7364 which was released in 1.10.10.

[2020-04-30 08:55] #8636 closed

[2020-04-30 09:01] aalemanq opened #8643 "Can't setup enviroments for use secrets in docker-swarm"
Hello, I spend so many weeks trying to configure airflow using secrets in docker swarm.

I try to use this config in my compose:

    environment:
      - LOAD_EX=y
      - FERNET_KEY_CMD=$$(cat /run/secrets/fernet_key) (If I put '$" swarm tells me that I need to escape with another $)
      - EXECUTOR=Celery
      - AIRFLOW__CELERY__BROKER_URL_CMD=$$(cat /run/secrets/broker_url)
      - AIRFLOW__

[2020-04-30 09:35] ashb commented on #7843
@preston-m-price Can you recommend some colours that work for you please?

Not _promising_ we'll change it, but we can look at it.

(And or different shapes too.)

[2020-04-30 13:19] pranjalmittal commented on #8565
Created a PR for the issue: https://github.com/apache/airflow/pull/8644

[2020-04-30 13:27] exploy opened #8645 "BigQuery: integer range partitioning support for BQ tables"
**Description**

Support for  integer range partitioning for BigQuery tables

**Use case / motivation**

There is already support for time partitioning while creating BQ tables and Google offers more options than only time partitioning.
We found integer range partitioning working best for our case so we customized few classes to gain this functionality.

More details: https://cloud.google.com/bigq

[2020-04-30 13:42] zachliu commented on #8311
upgraded to `1.10.10` two weeks ago, just noticed this issue :sweat_smile:

[2020-04-30 14:09] kondla opened #8647 "Import fails when dags subfolder and plugins subfolder have the same name"
**Apache Airflow version**:
apache-airflow = {extras = ["gcp"],version = "==1.10.9"}

**Environment**:

- **OS**: macOS Catalina
- **Install tools**: Pipenv

**What happened**:
Running DAGs from a subfolder under /dags, e.g. /dags/subfolder with the **same name** as running plugins from a /plugins/subfolder breaks the import in the sub dags folder (sorry for the convolution).

E.g. importing plugi

[2020-04-30 15:35] jeffolsi opened #8649 "Add support for more than 1 cron exp per DAG"
**Description**
Allow DAG to accept list of cron expression and schedule the dag in correlation to all of them.
Similar to how it can be done in cron job

**Use case / motivation**
Some scheduling like: every 10 min between 16:30 to 18:10 can not be obtained with single cron expression. The idea is that DAG will have the ability to be set according to more than 1 cron but without duplicating the D

[2020-04-30 17:21] peter-volkov opened #8650 "Custom connection for backported Yandex.Cloud provider"
There is a Yandex.Cloud provider in master branch.
However, I want it completely backported to Airflow 1.* to distribute among the clients.
The problem is this provider requires a custom connection type, which is not backported at the moment.
https://github.com/apache/airflow/blob/master/airflow/models/connection.py#L170

It is hardly can be packaged as a wheel, because it involves editing common

[2020-04-30 17:29] peter-volkov commented on #8650
Related discussion in Slack
https://app.slack.com/client/TCQ18L22Z/CUKA3KQ81/thread/CUKA3KQ81-1588259396.032300

[2020-04-30 17:46] timrourke commented on #8629
@acroos FYI, I tried changing `/etc/docker/daemon.json` to use `journald` to no avail; I think this issue exists regardless of what logging driver selected.

Were you able to bypass this issue by changing anything else while we wait for https://github.com/apache/airflow/pull/8287 to make it into a stable release?

[2020-04-30 17:49] BigCheeze45 commented on #8494
I'm also seeing the same error in my environment. We can reproduce it consistently with a manual trigger (`schedule_interval=None`)
Executor: LocalExecutor
Backend: MSSQL
Airflow version: 1.10.10
Python: v3.6

[2020-04-30 18:13] acroos commented on #8629
@timrourke to be honest, I didn't try many other options.  It seems to me like this will be an issue regardless of log driver indeed, according to docker-py docs, a dict is the expected return type.  It doesn't mention anything about different drivers.

[2020-04-30 19:34] BasPH commented on #8649
An immediate solution to your last sentence is to use timedelta. This is also supported: `schedule_interval=timedelta(weeks=2)`.

[2020-04-30 19:42] jeffolsi commented on #8649
It's not the same. When specifying cron exp you guaranty that tasks will be fired when the time comes. If you use `timedelta(weeks=2)` you are risking that a delay in running of one task will cause further delay in others as it always look for 2 weeks difference than the last task

to explain lets use daily for simplicity:
2020-04-28 0 0 * * * - this will run every day:

2020-04-29 00:00:00
2020-0

[2020-04-30 19:47] BasPH commented on #8649
Can you provide an example (screenshot/code/whatever) where that happens? As far as I know, the next execution date is always computed with the `start_date` and `schedule_interval`, not the execution date of the last DAG run.

[2020-04-30 19:57] exploy commented on #8645
Related PR https://github.com/apache/airflow/pull/8653

[2020-04-30 20:35] JonnyWaffles opened #8654 "Custom Operator Documentation Typo"
Hi friends,

There is a typo in the documentation regarding customer operators [here](https://airflow.apache.org/docs/stable/howto/custom-operator.html#creating-a-custom-operator). `name` should be `self.name` and the task id template should probably be changed to `{{ task_instance.task_id  }}`

[code]
and then {{ task_id }} should become

```hello_task = HelloOperator(task_id='task_id_1', dag=dag

[2020-04-30 22:04] DmitryRusakovKodiak opened #8656 "How to make Airflow to get DAGs from S3 bucket if KubernetesExecutor is used?"
Hi, guys!
We are trying to run Airflow in Kubernetes.
Currently we use KubernetesExecutor instead of Celery.
The DAGs are located in a private aws S3 bucket.
The problem, however, is how to make Airflow to get DAGs from that S3 bucket?
Thanks!

[2020-04-30 23:53] DmitryRusakovKodiak opened #8657 "Add a configuration option to enable Airflow to look for DAGs in a specified S3 bucket."
**Description**
Add a configuration option to use S3 as a DAGs storage/provider.

**Use case / motivation**
Currently Airflow assumes that all DAGs are stored in `/some/path/dags` folder which is present on a file system of web ui, scheduler and workers components. As a consequence DAGs are tight coupled with Airflow itself what makes the independent deployment of Airflow and DAGs quite complicate

[2020-05-01 03:47] yee379 opened #8658 "airflow clear cli very slow"
**Apache Airflow version**:
1.10.10

**Environment**:
postgres backend

**What happened**:
i often have dag run tasks that fail. more often or not, rerunning the task will work - even with retries, its often better in my environment to wait a long-ish while before clearing the task and downstream tasks. hence i basically run `airflow clear` on the command line for tasks that have failed, say every

[2020-05-01 05:45] jtmiclat opened #8659 "Setting num_retries for a google-cloud-platform using env variables breaks google tasks"
**Apache Airflow version**: 1.10.10

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): Pop!\_OS 18.04 LTS"l
- **Kernel** (e.g. `uname -a`): Linux pop-os 5.3.0-7648-generic
- **Install tools**: `pyenv` and `pyenv-virtualenv` for installing  python and virtualenv
- **Others**: DB doesnt matter.

**What happened**:
I created a task using the googl

[2020-05-01 06:13] vardancse opened #8660 "Cluster Policy Documentation Enhancement"
**Apache Airflow version**: 1.10.10

**What happened**:

1. Cluster Policy turned out to be applicable to only task
2. Mutation done through cluster policy has precedence over attributes configured via dag

**What you expected to happen**: Expecting to mutate dag property directly too along with task and thought task attributes configured in dag would have precedence over cluster policy.

Any rele

[2020-05-01 08:29] XD-DENG opened #8662 "DummyOperator start/end time shown incorrectly"
**Apache Airflow version**:
1.10.9, 1.10.10

**What happened**:

In RBAC UI, when we hover over task instances of `DummyOperator`, the `started` and `ended` times are always showing the CURRENT time, instead of the the actual task started and ended time (like other operators/sensors).

![RBAC_UI_DummyOperator](https://user-images.githubusercontent.com/11539188/80792986-19a7bd00-8b96-11ea-99ff-ea33

[2020-05-01 08:30] XD-DENG commented on #8662
I'm preparing a PR for this.

[2020-05-01 10:14] pujaji commented on #8525
Hey! I would like to work on this

[2020-05-01 10:29] potiuk commented on #8525
Please do !

[2020-05-01 10:35] maroshmka opened #8664 "Postgres to GCS operator - use named cursor"
**Description**

Hey guys,

postgres_to_gcs operator is putting all data (based on select statement) into memory.
ref [here](https://github.com/apache/airflow/blob/b185b364dfa5c6601da55ddad98f8be7f6a44b68/airflow/providers/google/cloud/operators/postgres_to_gcs.py#L75)

**Use case / motivation**

We are uploading bigger data to gcs. In our case, it is mostly, because of doing backups of the table.

[2020-05-01 11:05] RajkotiyaDivyesh opened #8665 "subdag is not able to correctly render {{ next_ds }} jinja template when start_date uses timezone info."
[code]
**Apache Airflow version**: **v1.10.9**
hello airflow users,when i am trying to run this dags (dag_utc,dag_ist) somehow  for both dag in outer_test task '{{next_ds}}'  is  giving next execution date  but for  dag_ist(with 'Asia/Calcutta' timezone) in subdag(child_dag) '{{next_ds}}'  is giving current execution date for inner_test task.(here dag_ist execution_date is ( 2020-04-29T05:00:00+00

[2020-05-01 11:43] stackapack commented on #8292
I'm currently looking into this.

[2020-05-01 12:22] lihan opened #8666 "K8S Pods labels have task_id and dag_id which then gets warned"
So here it seems it warns if Pod label contains **dag_id** or **task_id**
https://github.com/apache/airflow/blob/b185b364dfa5c6601da55ddad98f8be7f6a44b68/airflow/executors/kubernetes_executor.py#L642

But then in Pod generator, it adds these two?
https://github.com/apache/airflow/blob/b185b364dfa5c6601da55ddad98f8be7f6a44b68/airflow/kubernetes/pod_generator.py#L422

[2020-05-01 14:35] fuyi commented on #8311
I start working on this bug, have already reproduced the issue and start fixing it. will submit a PR soon

[2020-05-01 14:41] XD-DENG commented on #8311
Thanks @fuyi for taking up this

[2020-05-01 16:58] curiousjazz77 commented on #8449
Sure!

[2020-05-01 18:18] jaketf opened #8672 "Data Fusion Hook Start pipeline will succeed before pipeline is in RUNNING state"
[Here](https://github.com/apache/airflow/blob/4421f011eeec2d1022a39933e27f530fb9f9c1b1/airflow/providers/google/cloud/hooks/datafusion.py#L392) the `start_pipeline` method of data fusion hook will succeed if they get a 200 from the CDAP API.
This is a misleading success signal as this indicates at best that this pipeline entered the PENDING state. However start pipeline should not succeed until th

[2020-05-01 18:22] jaketf commented on #8672
CC: @turbaszek

[2020-05-01 18:26] jaketf commented on #8672
apologies closing to follow  issue tempate

[2020-05-01 18:26] #8672 closed

[2020-05-01 18:33] ImadYIdrissi commented on #8541
@mik-laj Isn't the master branch at the version 1.10.10? If so, probably the bugs have been solved. But since Composer is still at V 1.10.3, then possibly these issues will again occur. I am seriously thinking of deploying my own VM or Cluster and use airflow on it. Although a managed service sounds good in theory, the overhead spent on trying to fix already fixed problems is still getting higher.

[2020-05-01 18:36] jaketf opened #8673 "Data Fusion Hook Start pipeline will succeed before pipeline is in RUNNING state"
(re-opening of #8672 with appropriate template)
CC: @turbaszek
**Apache Airflow version**: master

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**: Composer (this is not unique to composer it's a code logic issue)

- **Cloud provider or hardware configuration**: gcp
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tool

[2020-05-01 19:59] ashb opened #8674 "Fix problems with, and test agsinst, Python 3.8"
Airflow is currently tested against python 3.5 only. This may be insufficient as users may wish to run airflow on newer versions, which may introduce breaking changes.

This is a bit of an "epic" issue to track the current know Python 3.8 bugs.

- [x] #7128 / #8671
- [x] https://github.com/apache/airflow/pull/8741
- [ ] Run at least one test job against Py3.8

Migrated from AIRFLOW-4762.

[2020-05-01 20:02] jhtimmins commented on #8674
I'm currently working on this one 🐍 🤙

[2020-05-01 20:37] fuyi commented on #8311
PR is available at: https://github.com/apache/airflow/pull/8675

[2020-05-01 22:33] timrourke commented on #8629
@acroos Thanks! FYI looks like this got merged: https://github.com/apache/airflow/pull/8287

[2020-05-02 00:25] zsmeijin opened #8676 "Task exited with return code 1 without any warning/error message after reboot server and restart service"
**Apache Airflow version**: 1.10.10

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): Not using Kubernetes or docker

**Environment**: CentOS Linux release 7.7.1908 (Core) Linux 3.10.0-1062.el7.x86_64

**Python Version**:  3.7.6

**Executor**:  LocalExecutor

**What happened**:

I write a simple dag to clean airflow logs. Everything is OK when I use 'airflow test' comm

[2020-05-02 08:39] lihan commented on #8666
This message get printed to console every time a Pod is scheduled.

[2020-05-02 10:43] feluelle commented on #7938
@dimberman duplicates #7937

[2020-05-02 10:43] #7938 closed

[2020-05-02 11:39] pujaji commented on #8122
I would love to take up this task! I am planning to about neatly document various authorization types like API keys, Basic Auth, HMAC (Hash-based message authorization code), OAuth 2.0.

[2020-05-02 11:42] vardancse commented on #8660
This issue has been resolved via https://github.com/apache/airflow/pull/8661

[2020-05-02 11:42] #8660 closed

[2020-05-02 11:52] pujaji commented on #8122
@mik-laj please let me know your toughts! if I am in the right direction, suggest any additions or improvizations

[2020-05-02 13:55] potiuk commented on #8654
Changed the label. Maybe you would like to make A PR fixing it @JonnyWaffles? Airflow is a community project and anyone can contributed. Seems you know exactly how to fix the docs. An you can make Fork/PR/change the docs purely using Github interface.

[2020-05-02 13:56] mik-laj commented on #8122
Hello

This document should describe the existing solution, so it should be created after or during implementation. We don't want to implement all authorization methods, but I hope that new methods will be added based on community requests.

Best regards,

[2020-05-02 14:44] JonnyWaffles commented on #8654
Hi friends the pull request is here https://github.com/apache/airflow/pull/8678

[2020-05-02 19:17] XD-DENG commented on #8662
Fixed by https://github.com/apache/airflow/pull/8663 + https://github.com/apache/airflow/pull/8667

[2020-05-02 19:17] #8662 closed

[2020-05-03 02:36] aneesh-joseph-1 opened #8682 "fs_group being defaulted to 0 while using kubernetes executor and airflow 1.10.10"
If I use the KubernetesExecutor and do not set a `fs_group` in `airflow.cfg` I would expect that the the `fs_group` is not set in the `securityContext` while creating the pod..It is also expected that the `fs_group` is set to 65533 if git sync with ssh is being used and `fs_group` is not explicitly set..

The actual behaviour is different
If `fs_group` is not set, it gets defaulted to 0 - https://

[2020-05-03 02:41] #8682 closed

[2020-05-03 02:49] aneesh-joseph opened #8683 "fs_group and run_as_user is being defaulted to 0 while using kubernetes executor and airflow 1.10.10"
**Apache Airflow version**: 1.10.10

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): Not version specific

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What you expected to happen**:

If I use the `KubernetesExecutor` and do not set a `fs_gr

[2020-05-03 06:54] jeffolsi commented on #8649
@BasPH
This is the DAG defintion:
[code]

This is an example for the execution times:
![delay](https://user-images.githubusercontent.com/64190742/80907885-3cb3a780-8d23-11ea-8f96-a3d646aefa3e.jpg)

As you can this DAG is hourly by `timedelta(minutes=60)` but it's not the same as specifying `@hourly` or `0 * * * * `.  You can also see the gap in times (marked in red) when Airflow was down. When it

[2020-05-03 07:43] jeffolsi opened #8686 "A more generic on_failure, on_retry methods"
**Description**

Airflow offers to setup:

[code]

In this case email_on_failure, email_on_retry will use the list email to notify on failure/retry.
It's 3 lines that solve the issue of getting notified when there is a problem.

**Use case / motivation**

issue starts when one doesn't wish to be notified by email. One can and should be able to be notified by Slack, Telegram or any other integratio

[2020-05-03 08:29] BasPH commented on #8649
Thanks for pointing this out @jeffolsi, that indeed makes no sense and seems like a fundamental error which should be fixed. What version are you running on? Let's make a separate issue for it.

Regarding the multiple cron expressions, I've seen the request multiple times and think it would be a good addition. The [apscheduler library](https://apscheduler.readthedocs.io/en/stable/index.html) has s

[2020-05-03 08:50] BasPH opened #8687 "Airflow webserver should handle signals immediately when starting"
**Apache Airflow version**:

1.10.10

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:
I started the Airflow webserver on an occupied port (8080), and it kept trying to reconnect.

[2020-05-03 09:03] eladkal opened #8688 "accessing Json variable jinja doesn't work when variable has hyphen"
**Airflow version** : 1.10.9

**What happened**:

Defined variable as:
![Screen Shot 2020-05-03 at 11 45 51](https://user-images.githubusercontent.com/45845474/80909798-b81d5500-8d33-11ea-93ee-2859997bf0ef.png)

Trying to access the variable via:
`{{ var.json.csba-catalog.sandbox }}`

Gives:
[code]
Trying to access with:
`catalog_variable = Variable.get("csba-catalog", deserialize_json=True)` work

[2020-05-03 10:17] lihan commented on #8664
@maroshmka I also have a reference implementation, and hit by the same problem. Loading all data into memory is not the way to go.

`class CustomPostgresToGoogleCloudStorageOperator(PostgresToGoogleCloudStorageOperator):

    @apply_defaults
    def __init__(self,
                 itersize=20000,      # batch size
                 *args,
                 **kwargs):
        super(CustomPostgresToGo

[2020-05-03 14:22] ismailsimsek commented on #8657
#3138

[2020-05-03 15:33] pujaji commented on #8122
Got it Totally!
Thanks

[2020-05-03 16:21] #8530 closed

[2020-05-03 16:42] gdevanla opened #8691 "Task Instance will not be queued if `celery_executor` does not drop queued tasks on error."
**Apache Airflow version**:
1.10.3

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:
Python 3.7.4

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
Ubuntu xenial/bionic
- **Kernel** (e.g. `uname -a`):
Linux 4.15.0-45-generic #48~16.04.1-Ubuntu SMP Tue Jan 29 18:03:48 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

- **Ins

[2020-05-03 19:09] #8502 closed

[2020-05-03 21:12] habibdhif commented on #8605
Here is another example of a Docker Compose that I've been working on. The Compose defines multiple services to run Airflow.
There is an init service which is an ephemeral container to initialize the database and creates a user if necessary.
The init service command tries to run `airflow list_users` and if it fails it initializes the database and creates a user. Different approaches were considere

[2020-05-03 21:34] nadflinn commented on #8480
The autoscale config is commented out since 1.10.10 which is a change from 1.10.9 where it isn't and I think this accounts for the difference in the behavior that people are seeing.
https://github.com/apache/airflow/blob/1.10.9/airflow/config_templates/default_airflow.cfg#L480
https://github.com/apache/airflow/blob/1.10.10/airflow/config_templates/default_airflow.cfg#L516

Based on the [comment](h

[2020-05-03 22:23] jsmodic commented on #8480
I can't speak to how Celery's various versions work, but as far as I tested it should be enough to remove 'autoscale' from the dictionary to be unpacked into Celery if autoscaling isn't configured in the airflow.cfg.  But I haven't confirmed that works on other versions of Celery or how it behaves.

[2020-05-04 00:12] yuqian90 opened #8696 "Skip task itself instead of all downstream tasks"
**Apache Airflow version**: 1.10.10

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**: any
- **OS** (e.g. from /etc/os-release): any
- **Kernel** (e.g. `uname -a`): any
- **Install tools**: any
- **Others**: any

**What happened**:

- When a sensor is set to `soft_fail=True`, it becomes skipped when it f

[2020-05-04 00:18] mik-laj commented on #8647
This is the expected behavior.

Airflow adds **an additional 3 directories** to the variable `sys.path`.
* ``conf.get('core', 'dags_folder')``
* ``conf.get('core', 'airflow_home')``
* ``conf.get('core', 'plugins_folder')``

This means that plugins and DAG can use imports that match the current directory relative to each other.   Otherwise, the plugin would not be able to load another file that is

[2020-05-04 00:18] #8647 closed

[2020-05-04 00:46] mik-laj commented on #8659
@michalslowikowski00 Can you help with it?

[2020-05-04 04:12] RosterIn commented on #8696
seems related to https://github.com/apache/airflow/issues/7858

[2020-05-04 07:45] michalslowikowski00 commented on #8659
@mik-laj  I know how to fix it. I didn't have time for it. :(

[2020-05-04 07:49] jeffolsi commented on #8649
@BasPH I'm running 1.10.3
I'm not sure what exactly to report on the new issue. I don't consider this a bug but maybe i'm wrong. I just wanted to explain why the suggestion to use  `timedelta()` does not solve this issue so Airflow needs to support multipule cron expressions for single DAG.

I think this is a very important feature for Airflow.

[2020-05-04 10:25] turbaszek opened #8703 "Support for set in XCom serialization"
**Description**

Add support for `set` in Xcom serialization method. This requires support for `set` in nested structures.

**Use case / motivation**
Once we switched to JSON as main serialization format the following error appeared:
[code]

**Related Issues**

Discussion started in https://github.com/apache/airflow/pull/8607#discussion_r419327697

[2020-05-04 10:27] turbaszek commented on #8703
As I said in https://github.com/apache/airflow/pull/8607#discussion_r419327697

But I am happy to discuss. @kaxil @ashb @potiuk @mik-laj

[2020-05-04 10:31] kaxil commented on #8703
We do it anyway for Serialized DAGs so we can just reuse the following code that takes care of set and other nested data structures:

https://github.com/apache/airflow/blob/caa60b1141ac02cdde1c33464be9adca114c2ed5/airflow/serialization/serialized_objects.py#L164-L209

[2020-05-04 10:32] kaxil commented on #8703
I am surprised though that we didn't get any issues regarding it yet (or maybe we just haven't looked) :D

[2020-05-04 10:37] turbaszek commented on #8703
And if I am not mistaken we make an assumption that we will never reach max concurrency error?

Me too but I'm getting used to the fact that a lot of operators are never used by majority...

[2020-05-04 13:54] NBardelot opened #8705 "Entrypoint does not take into account _CMD variables for DB and Broker configurations"
The entrypoint manages the two variables `AIRFLOW__CORE__SQL_ALCHEMY_CONN` and `AIRFLOW__CELERY__BROKER_URL` but does not take into account the fact that those configurations can be overriden by `AIRFLOW__CORE__SQL_ALCHEMY_CONN_CMD` and `AIRFLOW__CELERY__BROKER_URL_CMD` which is very useful when providing the connections to those endpoints using Swarm/Kubernetes secrets.

The Dockerfile and its en

[2020-05-04 14:01] NBardelot opened #8706 "User ’airflow' should be in group 'root' in the Docker image"
It is a common good practice for Docker/Kubernetes to create a user who is not root to run the main process of the container of course, but it is also a good practice to make the user member of the root group (which provides not special rights by itself and is not a security issue).

This is especially true when running containers in OpenShift. Please see the OpenShift official guidelines:

`RUN c

[2020-05-04 18:24] jlazarevicm commented on #8507
@jeffolsi I think you are not right. Event though if we set `get_all_pages=False` it doesn't change the fact that this line (prior than checking if `get_all_pages` is set to `False`): https://github.com/apache/airflow/blob/caa60b1141ac02cdde1c33464be9adca114c2ed5/airflow/providers/zendesk/hooks/zendesk.py#L81
expects result to have `next_page`. You should probably change it to: `results.get('next_

[2020-05-04 18:35] nadflinn commented on #8480
@jsmodic from what I'm understanding you're editing this in the default configuration in airflow.  From my understanding of it, I think without actually editing the package itself you are going to have trouble avoiding autoscale in 1.10.9 because it is set as a default.  Given it is commented out in the package default config `default_airflow.cfg` as of 1.10.10, it is now up to the user whether th

[2020-05-04 21:36] nadflinn commented on #8480
Following up on this, it's not ideal, but if in 1.10.9 you want to set a specific worker process count to, for example, 8 workers then just include:
`worker_autoscale = 8,8`
in your `airflow.cfg`.

As @eeshugerman pointed out, auto-scaling is not working so even if you set the upper bound to be something higher you would still sit at 8 workers.  A caveat to this, I dug into auto-scaling not workin

[2020-05-04 23:29] ishioni opened #8712 "docker image does not include 'pymssql'"
**Apache Airflow version**: 1.10.10

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.15.11

**Environment**: dockerhub image apache/airflow:1.10.10

**What happened**:
When importing from airflow.hooks.mssql_hook import MsSqlHook, airflow gives an error No module named 'pymssql'

**What you expected to happen**:
It should work :)

The docker image does not include p

[2020-05-04 23:31] boittega opened #8713 "Spark SQL Hook not using connections"
**Apache Airflow version**: 1.10.10

**What happened**:

`SparkSqlHook` is not using any connection, the default conn_id is `spark_sql_default`, if this connection doesn't exist, the hook returns an error:
[code]
If specified any valid connection, it does nothing, the `self._conn` variable is never used and there is an empty `get_conn` method.
[code]

**What you expected to happen**:

It should fo

[2020-05-05 05:53] bhavaniravi opened #8714 "Container level securityContext support for kubernetes"
**Description**

KubernetesExecutor/KubernetesPodOperator supports `securityContext` for pods but I am working on a case where I want to set a `privileged` mode for base container.

**Use case / motivation**

Mounting s3 to worker pods using s3fuse needs to run the base container in privileged mode

**Related Issues**

None

[2020-05-05 07:12] kondla commented on #8647
Thank you @mik-laj for the explanation and looking at the issue

[2020-05-05 08:07] mik-laj opened #8715 "Documentation about loading packages in Python / Airflow"
**Description**

A guide is missing to answer the following questions.

- [x] How does Python load packages?
   - sys.path and [a intelligent algorithm](https://stackoverflow.com/questions/897792/where-is-pythons-sys-path-initialized-from/38403654#38403654) for determining the content of this variable
- [x] How does Airflow modify this behavior?
   - 3 new directories - https://github.com/apache/a

[2020-05-05 08:16] #8659 closed

[2020-05-05 08:22] potiuk commented on #8715
Absolutely needed ! Fully agree.

[2020-05-05 08:42] potiuk commented on #8712
Thanks! Will take a look!

[2020-05-05 09:35] alli-mounya commented on #8164
It is causing ' maxmium recursion depth exceeded while calling a python object  ' error , making the ui unable to  read from logs in s3.
I am using airflow 1.10.4 .

[2020-05-05 10:02] iam432 commented on #8609
Even I see this issue, any update on this ticket, current workaround I am using to run airflow sync_perm command as cron job for every 5 minutes.

[2020-05-05 10:44] mfumagalli68 opened #8716 "Support on packaged dags"
I'm trying to use `apache airlfow` with packaged dags.

I've written my code as a python package and my code depends on other libraries such as numpy, scipy etc.

This is `setup.py` of my custom python package:

[code]

requirements.txt contains packages ( vertica_python, pandas, numpy etc) along with their version needed for my code.

I wrote a litte shell script based on the one provied in the d

[2020-05-05 10:54] mik-laj commented on #8716
https://airflow.readthedocs.io/en/latest/concepts.html?highlight=packaged%20dags#packaged-dags

Packaged DAGs is only a partial solution to the dependency problem because it only allows you to load Python libraries. All complex math libraries are not supported.

[2020-05-05 11:51] mfumagalli68 commented on #8716
Ok so what's the best practice for dealing dependency problems?

What I've seen so far:

- PythonVirtualEnvOperator. Problem: create and destory virtualenv on the fly. Not feasible for a project with lots of dependencies.
- Use BashOpeator: write a shell which execute a python script with virtualenv interpreter. Seems a workaround.
Morover I cannot pass complex kwargs to the operator.  For example

[2020-05-05 11:59] ravigillellacsl commented on #8634
I have also noticed that in the event a statsd resource is not reachable the whole of the Airflow stops responding on the version i use (1.10.6-1)

[2020-05-05 13:12] voroninman opened #8717 "DagRuns page renders the state column with artifacts"
**Apache Airflow version**: 1.10.10

**Environment**:

Docker image [python:3.7-slim](https://github.com/docker-library/python/blob/b818e9441c088295165edf79a791503f1fe7f6f7/3.7/buster/slim/Dockerfile).

**How to reproduce it**:

Navigate to `/admin/dagrun/`.

<img width="960" alt="Screenshot 2020-05-05 at 15 05 26" src="https://user-images.githubusercontent.com/399059/81069421-2273f800-8ee2-11ea-8

[2020-05-05 16:25] jhtimmins commented on #8674
Additional known issue:
The (TestDagFileProcessorAgent)[https://github.com/apache/airflow/blob/master/tests/utils/test_dag_processing.py#L278] test fails because it assumes the processes have shared memory, which is no longer true with spawn.

[2020-05-05 16:34] jaketf commented on #8673
Context: https://issues.cask.co/browse/CDAP-7641

[2020-05-05 17:20] kaxil opened #8720 "Can't clear all upstream tasks when DAG Serialization is enabled"
**Apache Airflow version**: 1.10.10

**To Reproduce**
Steps to reproduce the behavior with Astronomer Image:
1. Enable DAG Serialization (Put `AIRFLOW__CORE__STORE_SERIALIZED_DAGS=True`
Once the Webserver boots up, run any DAG
1. Once the DAG completes execution, click on the task that has few upstream tasks in Graph View
1. One the **Task Instance Modal**, select **Upstream** -> click on **Clear*

[2020-05-05 18:50] mik-laj commented on #8108
The commit with this change has been reverted.
https://github.com/apache/airflow/pull/8217

[2020-05-05 19:58] Sinsin1367 opened #8722 "Kubernetes Pods fail silently when container runs out of memory"
**Description**

In Airflow when a container runs out of memory the pod fails and OOMKilled is not published as a pod event. So nothing would show up in the logs. The OOMKilled is displayed as container status. We need to log container statuses if the pod fails to show in the logs that the container ran out and needs more resources to succeed. 

**Use case / motivation**

**Related Issues**

None

[2020-05-05 20:21] boittega opened #8723 "Spark JDBC Hook fails if spark_conf is not specified"
**Apache Airflow version**: 1.10.10

**What happened**:

At SparkJDBCHook, the `spark_conf` parameter has default None, if kept like that it raise an error:
[code]

**What you expected to happen**:

Following the same behaviour than SparkSubmitHook, the a`spark_conf` should have default empty dict "{}"
[code]

**How to reproduce it**:
Create a DAG with SparkJDBCOperator and don't specify the param

[2020-05-05 20:37] timhealz opened #8724 "Uploading List of Files to Google Cloud Storage"
**Description**

In the [current implementation](https://airflow.apache.org/docs/stable/_api/airflow/contrib/operators/file_to_gcs/index.html) of `FileToGoogleCloudStorageOperator`, a single file is inputted to be uploaded to Google Cloud Storage bucket.

I'd like to implement functionality to allow input of a list of files, directory path or perhaps even a wildcard string (`/path/to/*.csv` for ex

[2020-05-05 20:44] mik-laj commented on #8724
Very useful. I think it can easily be done if you use [glob.glob](https://docs.python.org/3/library/glob.html#glob.glob)

[2020-05-05 21:18] timhealz commented on #8724
Agreed @mik-laj , I can work on the PR if this issue can be assigned to me.

[2020-05-05 21:29] kaxil commented on #8724
Done

[2020-05-05 22:04] ashb commented on #7905
@JPFrancoia Sorry about the process, Airflow is a big project with lots of moving parts. We're always trying to make it friendlier for new contributors!

For future changes: you can just create a PR, no need to create an issue first.

[2020-05-05 22:51] mattdornfeld opened #8727 "Purpose of warning when packaged dag contains an __init__.py?"
I see [here](https://github.com/apache/airflow/blob/c717d12f47c604082afc106b7a4a1f71d91f73e2/airflow/models/dagbag.py#L252) a warning is logged when a packaged dag contains an __init__.py. I'm currently using __init__.py files in my packaged dags to execute code when the dags are imported. Is there a reason a warning is logged when this happens?

[2020-05-05 23:34] #8195 closed

[2020-05-05 23:38] mik-laj commented on #8727
Github issue is not for asking questions. For this purpose, there is a mailing list or Slack.
https://github.com/apache/airflow/blob/master/CONTRIBUTING.rst#how-to-communicate

[2020-05-05 23:38] #8727 closed

[2020-05-06 00:16] jhtimmins commented on #8674
Oops, accidentally assigned myself.

[2020-05-06 00:39] mik-laj commented on #8674
@jhtimmins fixed

[2020-05-06 00:50] jhtimmins commented on #8674
@mik-laj Thanks very much!

[2020-05-06 05:30] yuqian90 commented on #8696
It looks like the same issue has been reported before as well: https://issues.apache.org/jira/browse/AIRFLOW-6163

[2020-05-06 09:35] davido912 opened #8731 "Logging module (custom) no longer working"
Hey,
Since having updated Airflow to the latest version 1.10.10, it appears that using the logging module to generate custom logging into Airflow logs no longer works.
Was there something changed with the configuration file that no longer allows this or is there a workaround? Again, this has been working for the last year, and since updating stopped to work.

Would appreciate help.
Thanks!

[2020-05-06 10:00] potiuk commented on #7905
Indeed @JPFrancoia. We have indeed quite a process. I think you hit the hardest part of it.  We've been thinking and discussing how to solve the dependency problems and it's still not perfect. One day maybe we will make it super easy. Thanks for the feedback - for me that's a sign we need to do a better job at it. But for now, it is a bit convoluted just to keep us safe from transitive dependency

[2020-05-06 10:48] #8300 closed

[2020-05-06 13:23] rammady commented on #8258
Can we fetch secrete from azure key vault in Airflow using python code ?

[2020-05-06 13:25] BasPH commented on #8258
At the moment there is no secrets backend to do so, that's what this issue is for.

[2020-05-06 13:27] rammady commented on #8258
Thanks BasPH

[2020-05-06 13:38] rammady commented on #8258
Is there any work around for that? Please suggest .

[2020-05-06 13:46] mik-laj commented on #8258
@rammady Writing your own backend is quite easy. You only need to implement two methods. Please look at Google Secret Manager as an example
https://github.com/apache/airflow/blob/master/airflow/providers/google/cloud/secrets/secrets_manager.py
If you have experience with Azure then it should not be difficult to write it. Each workaround seems more difficult to implement than pure solution.

[2020-05-06 13:47] rammady commented on #8258
Thanks @mik-laj .

[2020-05-06 13:48] mik-laj commented on #8258
Would you like to try to do it?

[2020-05-06 13:49] rammady commented on #8258
yeah @mik-laj

[2020-05-06 14:01] kaxil commented on #8258
Yeah go ahead, I was planning to do it but if you want to here is the info I had collected:

Creating client: https://docs.microsoft.com/en-us/azure/key-vault/secrets/quick-create-python#authenticate-and-create-a-client

Getting secret:
[code]

[2020-05-06 15:15] TeddyHartanto opened #8733 "A minor typo in NotPreviouslySkippedDep"
**Apache Airflow version**: master

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): n/a

**Environment**: n/a

- **Cloud provider or hardware configuration**: n/a
- **OS** (e.g. from /etc/os-release): n/a
- **Kernel** (e.g. `uname -a`): n/a
- **Install tools**: n/a
- **Others**: n/a

**What happened**:

Found a typo in `airflow/airflow/ti_deps/deps/not_previously_skip

[2020-05-06 17:36] samarthkansal opened #8736 "Spark K8s Error : Pod Already Exists"
Hello,

When i try to submit my app through spark-submit i get the following error:
Please help me resolve the problem

**_Error:_**

[code]
- Configuration for Submitting the job to k8s:

[code]

- Running spark on k8s in Cluster Mode
- No other Pod with the name newdriver running on my minikube
- Deleted all the Pods, restarted minikube, nothing worked out

[2020-05-06 17:36] #8736 closed

[2020-05-06 18:01] mik-laj commented on #8733
If you have a ready solution, you don't have to create a ticket. It is much easier to discuss change when we have PR.

[2020-05-06 18:35] JPFrancoia commented on #7905
I understand, thanks for providing more explanations.

Indeed separating the application and library parts of airflow seems to be a good idea.
To give you a bit of context, I was trying to make aws data wrangler (https://github.com/awslabs/aws-data-wrangler) and Airflow to cohabit. Aws data wrangler moves fast and only supports pandas > 1.0. Ultimately it was possible, but it was a rabbit hole of

[2020-05-06 19:46] williamBartos opened #8743 "Utilize tags for metrics sent to SafeDogStatsdLogger"
**Description**

A recent pr enabled dogstatsd support for Airflow metrics: https://github.com/apache/airflow/pull/7376. While this _enables_ the use of dogstatsd, the code sending metrics to [SafeDogStatsdLogger](https://github.com/apache/airflow/blob/master/airflow/stats.py#L147) doesn't utilize tagging and instead sends a unique, monolithic metric that cant be aggregated across identifiers such

[2020-05-06 21:17] dimon222 commented on #8212
@webster-chainalysis
I noticed such issue on 1.10.10. Do you also have same behaviour on this version?

[2020-05-06 21:18] cmccaughey-ias opened #8747 "Implement AWS StepFunctions integration for the aws provider"
**Description**

Add an integration to the AWS provider to execute and monitor AWS Step Function State Machines

**Use case / motivation**

Would like to be able to execute, monitor, and retrieve results from AWS Step Functions State Machines within a DAG. This integration would enable Airflow to orchestrate execution of State Machines that perform arbitrary tasks within an AWS environment.

**Rel

[2020-05-06 21:19] #8747 closed

[2020-05-06 21:22] chamcca opened #8748 "Implement AWS StepFunctions integrations for the aws provider"
**Description**

Add an integration to the AWS provider to execute and monitor AWS Step Function State Machines

**Use case / motivation**

Would like to be able to execute, monitor, and retrieve results from AWS Step Functions State Machines within a DAG. This integration would enable Airflow to orchestrate execution of State Machines that perform arbitrary tasks within an AWS environment.

**Rel

[2020-05-06 22:18] preston-m-price commented on #7843
Sure, I just recently made some changes to our fork that make things easier for me to see. I took a SWAG and found some colors that worked for me in my situation.

Using tree.css as an example:
[code]
I still have a hard time with :firebrick and :green when they're in the circles at the top of the tree view, but in the grid below I can see them much better.
![image](https://user-images.githubuserc

[2020-05-06 22:51] mik-laj commented on #8447
@tedmiston  Do you need any help? This ticket already has 4 hearts, which means that people have loved these change suggestions and will be very happy when it is finished.

[2020-05-06 22:55] mik-laj commented on #8567
@joppevos  How are you? Do you have any more questions?

[2020-05-06 22:56] #8439 closed

[2020-05-06 22:57] mik-laj commented on #8284
@joppevos  How's the documentation writing going? Do you have any problem? I will gladly help.

[2020-05-07 00:02] wojtek2kdev commented on #8471
Can I try to handle that task?

[2020-05-07 01:36] mmuru opened #8752 "BUG: Unable to view or browse dags in web UI after migrated airflow 1.9.0 to 1.10.10"
**Apache Airflow version**: airflow 1.10.10

**Environment**:

- **OS** (e.g. from /etc/os-release): Mac

**What happened**:
`
Ooops! throws exception
File "/Users/muru/opensrc/py36/airflow_110/venv368/lib/python3.6/site-packages/airflow/www/templates/airflow/dags.html", line 84, in block "body"
    <a href="{{ url_for('airflow.'+ dag.get_default_view(), dag_id=dag.dag_id) }}" title="{{ dag.descri

[2020-05-07 01:55] mik-laj commented on #8471
Of course. Go ahead and start work. I will gladly help you if you have questions. 🇵🇱

[2020-05-07 01:58] mik-laj commented on #8471
Here is GCP integration guide:
https://docs.google.com/document/d/1_rTdJSLCt0eyrAylmmgYc3yZr-_h51fVlnvMmWqhCkY/edit
Many topics are common between Google and GCP.

[2020-05-07 02:00] mik-laj commented on #8752
Here is related PR: https://github.com/apache/airflow/pull/7593/files
@zhongjiajie Can you look at it?

[2020-05-07 02:08] messitrip opened #8753 "Airflow suddenly died in all the instances"
Sorry for there's no log in this issue.
Before restarting airflow webserver, I found the log the webserver couldn't find some processes.
And It died suddenly.
Airflow version is 1.10.3 and It's run on ubuntu 18.04 EC2 instance.

I try to remember that
the log is like that
[code]
then

got error that looks like
 **_NoSuchProcess: No process found with pid 1802_**

[2020-05-07 02:16] RyanSiu1995 opened #8755 "dags.html returns template error if the DAG is missing."
**Apache Airflow version**: 1.10.10

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:
Debian with pip install airflow

**What happened**:
I have some missing DAGs from the source code and it has the record in the database.
When I upgrade to v1.10.10, those DAGs don't have the description field, which is None by default, so the change on this PR, #7457

[2020-05-07 02:18] mik-laj commented on #8755
Duplicate: https://github.com/apache/airflow/issues/8752

[2020-05-07 02:18] #8755 closed

[2020-05-07 03:02] zhongjiajie commented on #8752
Thanks @mik-laj to notice that, but is odd that https://github.com/apache/airflow/pull/7593 not release in 1.10.10, and the reporter solution is also my PR's solution. And @kaxil milestone PR in 1.10.11, I think it will be fix after 1.10.11 release, cc: @mmuru

[2020-05-07 03:04] zhongjiajie commented on #8752
BTW, I will check which PR cause this error

[2020-05-07 03:05] forbxy opened #8756 "No error message with email when dag run overtime"
test:
apache-airflow 1.10.10
bash-operator

[2020-05-07 03:23] zhongjiajie commented on #8752
@mmuru  I find out the original pr is https://github.com/apache/airflow/pull/7457, and I think it should not cause error because dag.description default value is `''`(empty string),
https://github.com/apache/airflow/blob/42e9a2912b2736dd166ab711a3b0993913669612/airflow/models/dag.py#L218
unless you define `description=None` in DAG files. if so maybe you should just remove the description define.

[2020-05-07 03:30] zhongjiajie commented on #8752
Please mention me if you have further problem, I am sick recently and only check github twice a day, sorry about that.

[2020-05-07 03:38] zhongjiajie commented on #8755
@RyanSiu1995 Hi, you said

But I find out the default value of description is `''`(empty string), see https://github.com/apache/airflow/issues/8752#issuecomment-625006878, which version before you upgrade to 1.10.10?

[2020-05-07 05:00] mmuru commented on #8752
@zhongjiajie: I reviewed PR #7457, It checks only dag.description length limit but dag.description can be null. In my case, as I mentioned the 1.9.0 dags didn't have description. The description column was introduced in 1.10 and the default is null. I reviewed PR #7953 and it will fix this issue.

[2020-05-07 05:28] ephraimbuddy commented on #8280
There's an example DAG and system tests for `text_to_speech.py`, `speech_to_text.py` and `translate_speech.py`.
The examples are all in  [https://github.com/apache/airflow/blob/master/airflow/providers/google/cloud/example_dags/example_speech.py](https://github.com/apache/airflow/blob/master/airflow/providers/google/cloud/example_dags/example_speech.py)
 and the system tests are also all in [https

[2020-05-07 07:02] khyurri commented on #8284
@mik-laj I will complete issue at nearest holidays. Thanx )

[2020-05-07 07:11] singhania opened #8759 "Log rotation for scheduler logs"
**Description**
Currently airflow scheduler doesn't support any kind of log rotation which cause scheduler to go down.

**Use case / motivation**
A log rotation based upon duration/size will make sure scheduler's disks are not filled and will not cause downtime for scheduler.

**Related Issues**
Worker logs cleanup can be currently done via maintenance dag but same is not possible for scheduler
lo

[2020-05-07 07:51] mshalak-nix opened #8760 "Webserver becomes unusable after 100,000 tasks were completed"
**Apache Airflow version**: 1.10.9

**Kubernetes version: 1.15.11

**Environment**:

- **Cloud provider**: Google Cloud

**What happened**:

I started to notice that Airflow webserver performance degrades over time. At one moment all my webserver pods had 100% CPU used, so UI and API became too slow, even unusable.
I started to investigate this issue and looks like it depends on amount of task ins

[2020-05-07 08:17] mik-laj commented on #8280
@ephraimbuddy  Would you like to share this file? Each module should have a separate sample DAG and a separate system test. This is important because of code maintenance. When everything adheres to one principle, it is easier to find and make changes automatically.

[2020-05-07 08:37] ephraimbuddy commented on #8280
Ok. I'll be separating them into different files. Thanks for explanation

[2020-05-07 08:58] jojo19893 opened #8762 "Implement kubernetes auth for vault backend"
**Description**
Currently the vault backend does not support kubernetes auth meaning if a JWT token is mounted inside the kubernetes pod it is not specify this directly to login using this token.

I propose to extend the `VaultBackend` to include an authentification using this token.
Essentially this is already provided by the [vault client](https://hvac.readthedocs.io/en/stable/usage/auth_methods

[2020-05-07 09:00] mik-laj commented on #8762
@jojo19893 Can you look at this PR? https://github.com/apache/airflow/pull/8640

[2020-05-07 09:10] jojo19893 commented on #8762
yes it is sorry didn't see it my bad

[2020-05-07 09:10] #8762 closed

[2020-05-07 10:17] #8283 closed

[2020-05-07 10:45] ashb opened #8765 "Create an `airflow upgrade-check` command in 1.10 to ease upgrade path to 2.0."
To make it easier for users to upgrade from 1.10 to 2.0 (when it eventually comes out) we should create a single `upgrade-check` command in 1.10 that checks the following things. We could also have a mode that makes some of these changes in place (with confirmation from user) to automate it.

## Rules

Major breaking changes:
- [x] `ConnTypeIsNotNullableRule` - Not-nullable conn_type column in con

[2020-05-07 11:26] kaxil commented on #8752
Yes that PR will be cherry-picked in 1.10.11 and should fix the issue.

[2020-05-07 12:13] mik-laj commented on #8673
@jaketf Very interesting. Your suggestion seems like a good idea. Do you want to work on PR? Can I assign you to this ticket?

[2020-05-07 12:36] ashb commented on #8720
I think I have a fix for this

[2020-05-07 12:38] eladkal opened #8766 "Add custom Salesforce connection type"
**Description**

Airflow has SalesforceHook but it doesn't have a defined connection.

In order to create a Connection one must expose it's secret token as text :

https://stackoverflow.com/questions/53510980/salesforce-connection-using-apache-airflow-ui

Also it's not very intuitive that the Conn Type should remain blank.

It would be easier and also user friendly if there will be salesforce conn

[2020-05-07 17:09] ipeluffo commented on #8311
I noticed this issue also in (some) tasks on finished DAGs. Has anyone else noticed this?

[2020-05-07 18:27] aarrtteemmuuss opened #8770 "Airflow 1.10.7 logs from S3 won't load, just hanging"
**Apache Airflow version**: 1.10.7

**Environment**: python 3.7, running locally

**What happened**:

I have following configuration in airflow.cfg:

`remote_logging = True`
`remote_log_conn_id = "S3Connection"`
`remote_base_log_folder = s3://bucket/logs`
`encrypt_s3_logs = False`

I have setup connection in UI with type S3 and following settings:
`{"aws_access_key_id":"xxx", "aws_secret_access_ke

[2020-05-07 20:16] kaxil commented on #8760
Is there a particular endpoint that is slow in the Webserver ?

[2020-05-07 22:37] ashb opened #8774 "Move singularity out of main CI tests and into separate docker image"
A CI build failed because we couldn't download a release from https://github.com/sylabs/singularity -- which while it was a random network blib, there is no _need_ for the tests for the singularity operators to live in our CI image.

We should instead create "system tests" for singularity, and ensure that the unit tests use mocking.

[2020-05-07 22:39] ashb commented on #8774
Wait, I've just looked at the singularity operator tests - it already seems to mock it, so does anyone know why we include this in our CI image? @potiuk ?

[2020-05-07 22:56] ashb commented on #8703
XCom used to be pickle by default (and still is on 1.10?), that'll be why it has gone un-noticed for so long.

[2020-05-08 01:24] jaketf commented on #8673
CDAP / Data Fusion is not a priority for me right now. I will not be able to find cycles for this in the next few weeks.

Perhaps you could find a user who cares about this integration, suggest it for a first time contributor, or reach out to data fusion engineering if your team does not have cycles for it.

[2020-05-08 01:29] mik-laj commented on #8673
We also currently have priorities set for other tasks. If it is very, we can change our plans. If it is very important, we can change our plans, but we would prefer to avoid it. Every new contributor is very welcome in this project and I will be able to find time to review the patch, verify it using system tests.

[2020-05-08 01:37] jaketf commented on #8673
I will reach out to my team and see if there are folks interested in joining airflow community by patching this

[2020-05-08 06:13] LarsAlmgren opened #8779 "Webserver OOM killed by Kubernetes when using KubernetesExecutor"
**Apache Airflow version**: 1.10.8

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.17.5

**Environment**:

- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): Ubuntu 16.04.6 LTS
- **Kernel** (e.g. `uname -a`): `Linux salt 4.4.0-1106-aws #117-Ubuntu SMP Wed Apr 8 09:52:02 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux`

**What happened

[2020-05-08 07:28] RyanSiu1995 opened #8780 "Missing logs if the pod was killed by Kubernetes"
**Apache Airflow version**: 1.10.10

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):
[code]

**Environment**:
- GKE
- Linux
- `Linux pod-name-597d575d8-xrmkn 4.14.138+ #1 SMP Tue Sep 3 02:58:08 PDT 2019 x86_64 GNU/Linu`
- `pip install`

**What happened**:
We used Kubernetes executor to execute our pipeline with a GCS remote log storage. We encountered the log was not

[2020-05-08 07:42] RyanSiu1995 commented on #8755
@zhongjiajie I was using 1.10.3.

[2020-05-08 07:55] U-Ozdemir commented on #8207
Hello I have a question.
1. Is there some kind of deadline in which the guide needs to be finished?
2. Also how do I submit the things that I have already got?

Best regards

[2020-05-08 08:01] j-y-matsubara opened #8781 "Starting ./breeze : Packages have unmet dependencies"
**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): Mac OS
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

git clone and starting breeze, "./breeze" .
After that, the error occured that "The following packages have unmet dependencies".

<details><summary>Log</summary>

[code]
</details>

**What you expected

[2020-05-08 08:18] turbaszek commented on #8703
Imho the main reason were side effects in tests. Otherwise, we will spot it at once.

[2020-05-08 09:10] j-y-matsubara commented on #8781
Already fixed. Sorry.
[https://github.com/apache/airflow/pull/8758](url)

[2020-05-08 09:10] #8781 closed

[2020-05-08 09:16] mik-laj commented on #8207
@U-Ozdemir We try to use a logical clock instead of a real clock in the community. The order of operations is more important than the time the task was completed.  Some tasks need to be completed earlier because other users may need to benefit more from some change, but there are no specific time limits set by the community rule.

If you want to share changes with the community then you must creat

[2020-05-08 09:28] joppevos commented on #8567
@mik-laj thanks for asking. I got stuck at the system-test and I forgot/was afraid to ask :)
How do I write a system test with a local YAML. Were should I place this or what is the best practice for it.
I tested the implementation of accepting a build yaml config like this now. :
`dct = '''
steps:
- name: 'ubuntu'
  args: ['echo', 'hello airflow!']
'''
with open('/tmp/example.yaml', 'w+') as f:

[2020-05-08 09:31] RyanSiu1995 commented on #8780
I have tried to remove all the try except block and get this stacktrace.
[code]

[2020-05-08 09:40] mik-laj commented on #8567
@joppevos Your file should be located next to the file with an example DAG, so it will be this directory. https://github.com/apache/airflow/tree/3c4ca62af11e84fc7c09428642d09055b704c576/airflow/providers/google/cloud/example_dags
After that you can refer to the file in the DAG file.

We already have a similar case with the Spark Kubernetes operator.
https://github.com/apache/airflow/tree/3c4ca62af

[2020-05-08 10:22] msumit commented on #8780
AFAIK the tasks logs are uploaded to remote storage once the task is completed, be it Kubernetes, Celery, or even Local executors. One simple solution is to make use of multi read-writes Persistent volume groups to store these logs, so the logs won't be lost even if pod is killed in between.
Not sure if Kubernetes has some way to catch the pod kill request and execute some code before actually kil

[2020-05-08 10:45] RyanSiu1995 commented on #8780
@msumit Thank you for your reply.
I am thinking a change like this.
We reinitiate the database session dynamically in this util files.
https://github.com/apache/airflow/blob/1.10.10/airflow/utils/db.py#L38-L50
The code will be like this.
[code]
This actually resolves in my case. But not pretty sure if it is proper to initiate a dynamic session with the `create_session()` function.

[2020-05-08 10:59] RyanSiu1995 commented on #8780
But, to be honest, it is pretty odd that the function `create_session()` will not actually have any action of creation. It just tries to return the session object in `settings.py`.
So, this change actually makes sense to me through giving back the creation function to `create_session()`

[2020-05-08 11:09] potiuk opened #8782 "Move Kubernetes tests and kind setup out of the container to host"
**Description**

We should move kind setup out of the container for CI to the host environment

**Use case / motivation**

Makes CI image smaller and setup easier for local testing.

[2020-05-08 11:14] potiuk opened #8783 "Move Hadoop distro out of CI image"
**Description**

Hadoop distro is unnecessarily part of the CI image. It should be moved out and used separately

**Use case / motivation**

Download and install Hadoop image only when needed not as part of the CI image (as separate integration). This will make the image smaller and the whole process smoother.

[2020-05-08 11:16] potiuk opened #8784 "Move Minicluster out of the main CI image"
**Description**

Minicluster is unnecessarily part of the CI image. It should be moved out and used separately

**Use case / motivation**

Download and install Mincluster image only when needed not as part of the CI image (as separate integration). This will make the image smaller and the whole process smoother.

[2020-05-08 11:18] potiuk opened #8785 "Move out all unnecessary binaries installed in CI image"
**Description**

We have a lot of unnecessary binaries/libraries baked into the CI image. And we can move it out in the form of integration images downloaded separately by docker-compose.

Those are:

- [x] Kind - not needed as long as we move it out of the container #8782
- [x] KubeCTL - not needed as long as we move kind out of the container #8782
- [x] Hadoop Distro - could be a separate docker

[2020-05-08 11:21] msumit commented on #8780
@RyanSiu1995 so it means that the worker pod is trying to upload the logs to GCS when being killed, but failing due to some issue in getting DB session?

[2020-05-08 11:23] RyanSiu1995 commented on #8780
Yes, that's exactly what happen with my case.

[2020-05-08 11:26] potiuk commented on #8774
Not sure if it is still needed. Maybe @vsoch can tell more about it  whether it is actually needed in the image. I think we had a least few "integration" kind of tests where we run it against a real singluarity installation?

Comment:

In this case it is more of an "integration" tests rather than "system" test (at least in the currently used "integration" test definition that we have). "System" te

[2020-05-08 12:30] mshalak-nix commented on #8760
Looks like I figured it out. The issue was with prometheus exporter I used, here is the fix: https://github.com/robinhood/airflow-prometheus-exporter/pull/25
It generated wrong joins, which lead to one metric repetition multiple times. Since the Prometheus endpoint was server by a web server, it constantly had to execute DB query which produced thousands of metric duplicates (depending on amount o

[2020-05-08 12:30] #8760 closed

[2020-05-08 16:18] webster-chainalysis commented on #8212
@dimon222 - Yes.

[2020-05-08 18:36] tooptoop4 opened #8789 "Ability to throttle scheduler bursts on single pool"
Current issue is I have pools configured on same type of task where I can have up to max 100 pool slots of that task type running in parallel BUT I want ability to say don't START running more than 5 at a time. So ideally these tasks should be scheduled in steps.
ie
at each scheduler iteration 1 (ie 9:03:30 am) 5 tasks scheduled for the pool
at each scheduler iteration 2 (ie 9:04:00 am) 5 more tas

[2020-05-08 18:53] dimon222 commented on #8212
@webster-chainalysis
Worker class switch in airflow.cfg from gevent/eventlet to "sync" seem to resolve the issue for me.

[2020-05-08 23:01] jvstein opened #8792 "KubernetesPodOperator does not return XCOM on pod failure"
**Apache Airflow version**: 1.10.9

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): 1.14.9

**Environment**:

- **Cloud provider or hardware configuration**: AWS EKS
- **OS** (e.g. from /etc/os-release): Linux (debian 9.12 inside docker image)
- **Kernel** (e.g. `uname -a`): 5.4.0 (on my host)
- **Install tools**:
- **Others**:

**What happened**:

I ran a new task us

[2020-05-09 00:00] jhtimmins commented on #8674
PR #8794 is part of this issue

[2020-05-09 00:26] zsmeijin commented on #8676
I finally figure out how to reproduce this bug.

If you config email in airflow.cfg and your dag contains email operator or use smtp serivce, and there's something wrong with the smtp service itself (I still need some time to figure it out) or the config (maybe it is because my stmp_user is 'airflow' since I use my own smtp service), the first task of your dag will 100% exited with return code 1 w

[2020-05-09 10:03] Maples7 opened #8798 "A few tasks always get stuck in Queued status but not running at all"
**Apache Airflow version**:
1.10.10

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**: Aliyun
- **OS** (e.g. from /etc/os-release): Debian GNU/Linux 9 (stretch)
- **Kernel** (e.g. `uname -a`): Linux airflow-worker-0 4.19.24-7.14.al7.x86_64 #1 SMP Tue Nov 26 15:36:47 CST 2019 x86_64 GNU/Linux
- **Install

[2020-05-09 13:17] kinderyj opened #8799 "Install airflow to kubernetes failed"
In release 1.10.3 wen can install the airflow to the kubernetes by using the following commands:
./scripts/ci/kubernetes/Docker/build.sh
./scripts/ci/kubernetes/kube/deploy.sh
But in release 1.10.10, it does not work. For 1.10.10, is there any other way or document to install airflow to kubernetes? Thanks.

[2020-05-09 13:52] potiuk commented on #8799
Note that this was Dockerfile that was only used for testing. The location of scripts and way of installation changed since then - you can see it here: https://github.com/apache/airflow/blob/v1-10-test/TESTING.rst#running-tests-with-kubernetes . Also note that we have a new production image in 1.10.10 (Alpha quality) and we are working on official helm chart #8777 that you will be able to use to i

[2020-05-09 13:52] #8799 closed

[2020-05-09 17:04] zhongjiajie commented on #8755
@RyanSiu1995 Hi, in https://github.com/apache/airflow/issues/8752 we could know that the issue fix in master branch and will release in 1.10.11, and https://github.com/apache/airflow/issues/8752#issue-613713226 also give the solution before 1.10.11 release, hope could you

[2020-05-09 17:05] zhongjiajie commented on #8752
@mmuru In this case I prefer to close this issue, would reopen it if you still have further information.

[2020-05-09 17:05] #8752 closed

[2020-05-09 21:56] nadflinn commented on #8480
@turbaszek I think this can be closed, correct?

[2020-05-09 22:52] #8055 closed

[2020-05-09 22:52] #8052 closed

[2020-05-09 22:52] #8053 closed

[2020-05-09 23:07] #8723 closed

[2020-05-10 00:09] gdevanla commented on #8696
@yuqian90 I believe you are pointing to this line of code which should not be performing this task here.

https://github.com/apache/airflow/blob/7506c73f1721151e9c50ef8bdb70d2136a16190b/airflow/sensors/base_sensor_operator.py#L121

As I understand it, when the jobs are not skipped here, the current set up in TriggerRuleDep._evaluate_trigger_rule() takes care of skipping the tasks for appropriate c

[2020-05-10 00:33] #8654 closed

[2020-05-10 03:20] amithmathew opened #8803 "Impersonate service accounts while running GCP Operators without key material (if airflow is running on GCP)"
**Description**
Allow running Google Cloud operators using Service Accounts, without having to provide key material while running on GCP. If the Compute instance Service Accounts on which Airflow is running have been granted "Service Account Token Creator" role on the target Service Account with which I want to run my operator, I do not need to download, or provide any key material for the imperso

[2020-05-10 05:31] tanjinP commented on #8202
I can take this on - this is a service I've worked heavily in.

[2020-05-10 05:31] tanjinP commented on #8205
I can take this on - this is a service I've worked heavily in.

[2020-05-10 05:31] tanjinP commented on #8206
I can take this on - this is a service I've worked heavily in.

[2020-05-10 05:37] j-y-matsubara commented on #8696
@gdevanla
Sorry for cutting in, and I agree with your idea.
I was having trouble with this, so I am trying to fix it.
Are you planning to fix it?

[2020-05-10 05:39] gdevanla commented on #8696
Nope, you can go ahead and work on it. I hit the same issue with in our internal project and was looking through the code to understand what was happening. Then I came across this bug submission.

[2020-05-10 05:42] mik-laj commented on #8202
@tanjinP Fantastic. I am working on this integration now with the Dataflow team, so this guide would be very helpful. I saw that you applied for 3 services, but then this service is the most important. I will be happy to share my thoughts on this integration and together with you will develop this guide. I am sure that the Dataflow team will be willing to review this guide as well.

[2020-05-10 05:51] mik-laj commented on #8202
@tanjinP I would be happy if you added information that asynchronous execution is recommended.
https://cloud.google.com/dataflow/docs/guides/specifying-exec-params#python_8
I would like to create sensors that will allow more efficient use of resources.

[2020-05-10 06:02] j-y-matsubara commented on #8696
Thank you, your comments.
If my fix seems slow, and you want to fix it hurry, you should feel free to correct me.

[2020-05-10 10:41] #8720 closed

[2020-05-10 10:49] wojtek2kdev commented on #8471
@JeffryMAC @mik-laj Would you help me to specify tasks more? I wonder if operator should only fetch calendar events, organize into table structure (maybe CSV format?) and return into next pipe or should persist data into some SQL table?

It's not clear at all for me. Need to clarify. Does it mean that hook should be able to update/insert event conditionally? For example - if there is at least one

[2020-05-10 11:11] JeffryMAC commented on #8471
@wojtek2kdev the idea is to be able to pull events from Calendar. This is useful to make analysis if some events have effect on data (like: on 2.10.19 office closed due to employ trip). So we want our automatic process to consider events from calendar when making calculations and analysis.

On the other hand we want also the ability to post event into calendar. For example if ETL discovered issues

[2020-05-10 11:18] JeffryMAC opened #8804 "Add ability for all operators to interact with storages of AWS/GCP/AZURE"
**Description**

Currently every operator is doing `XToY`. so if someone wrote `MySQLToGCS` it doesn't help someone who needs `MySQLToS3`.

**Use case / motivation**

It would be great if when PR is raised people will need only to handle the `X` part and provide a list of the `Y` part. Something like people need to write `XtoDataframe` or `XtoFile` and there is build in integration in Airflow that

[2020-05-10 11:20] wojtek2kdev commented on #8471
@JeffryMAC So, it would be fine to pull events and organize them into CSV format? Then it would be easy to load to e.g pandas in further pipe. It's not about saving events into particular SQL database? Then it should looks like:
[Some task] >> [Calendar operator: return events in csv] >> [Analysis]

[2020-05-10 11:24] mik-laj commented on #8471
@wojtek2kdev In my opinion, JSONL is a best format in this case.

[2020-05-10 11:25] mik-laj commented on #8471
It should save data to GCS - Data Lake. If you have data in GCS, you can use many tool to analyze this data including BigQuery.

[2020-05-10 11:28] #8480 closed

[2020-05-10 11:29] wojtek2kdev commented on #8471
@mik-laj Ok, I'll try that way. It sounds good.

[2020-05-10 13:53] KimchaC commented on #8605
Here's my docker-compose config using LocalExecutor...

### docker-compose.airflow.yml:
[code]

### docker-compose.yml:
[code]

### Dockerfile:
[code]

### Makefile
And here's my Makefile to control it the containers like `make run`:
[code]

[2020-05-10 15:46] webster-chainalysis commented on #8212
@dimon222 - That makes sense.  I'm currently using gevent behind an Amazon elastic load balancer.  When using the sync worker class with the ELB I had unacceptable performance.

[2020-05-10 17:00] mdnawed2010 opened #8806 "DataProcSparkOperator getting reattached to the previous run - as this feature is not required every time, hence we need a flag in the task itself to override it for a fresh run always"
**Apache Airflow version**: 1.10.6 (looks like this problem is for all ver >=1.10.4)

**Environment**: Google cloud composer(composer-1.10.2-airflow-1.10.6)

Issue : This is regarding DataProcSparkOperator. As part of https://issues.apache.org/jira/browse/AIRFLOW-3211, fix for reattaching the previous instance of data proc job was introduced so that when the DAG restarts/re-triggered it doesn't en

[2020-05-11 02:55] kinderyj commented on #8799
Thanks a lot.

[2020-05-11 06:02] mik-laj commented on #8471
@wojtek2kdev Can you check if we can use operator ``airflow.providers.amazon.aws.operators.google_api_to_s3_transfer.GoogleApiToS3Transfer` to fetch calendar events? If yes, just write a new variant that will allow us to fetch data to GCS.

[2020-05-11 06:04] mik-laj commented on #8634
In latest Airflow, we con't accept non-ascii character in a DAG ID: https://github.com/apache/airflow/blob/04de091cf3fd8ce3db2c67901fe134b98356c29e/airflow/utils/helpers.py#L34

[2020-05-11 08:37] waiyan1612 opened #8810 "GoogleCloudBaseHook does not exclude 308 response code"
**Apache Airflow version**: 1.10.10

**Environment**:

- **Cloud provider or hardware configuration**: AWS EKS
- **OS** (e.g. from /etc/os-release): `python:3.7-stretch` docker image
- **Install tools**: `pip install --constraint https://raw.githubusercontent.com/apache/airflow/1.10.10/requirements/requirements-python3.7.txt
apache-airflow[gcp, google_auth]==1.10.10`

**What happened**:

httplib2

[2020-05-11 08:44] turbaszek commented on #8810
Hi @waiyan1612 thanks for reporting this issue! Would you like to work on a fix for it as you already figured out what can be improved? Happy to help :)

[2020-05-11 09:49] Maples7 commented on #8798
Fixed: it's a bug in our custom executor `kubeflow.KubeExecutor` who maintain the wrong `parallelism` value and the workers number.
I'll close this issue.

[2020-05-11 09:49] #8798 closed

[2020-05-11 10:43] dinigo commented on #8804
You are suggesting to implement kind of what we have with [GenericTransfer](https://github.com/apache/airflow/blob/master/airflow/operators/generic_transfer.py). I've thought of this too. We would need to have a common API for getting and sending files. Preferably a `flile-like-object` so transfers are done with a stream and they don't take storage.

I would rather have an `XtoYOperator` where I c

[2020-05-11 10:54] wojtek2kdev commented on #8471
@mik-laj I think we can. We just only need to choose calendar service and prepare desired query. So should we create Google API to GCS transfer operator? Will it be sufficient for case described in issue + calendar hook for events create/update/remove?

Additionaly, I have a few notes, one - I know that's more art than science, but I think it would be better if operators was organize by type, use-

[2020-05-11 11:03] turbaszek commented on #8804
This issue may provide some alternative https://github.com/apache/airflow/issues/8059

[2020-05-11 11:46] ashb commented on #8804
See https://issues.apache.org/jira/browse/AIRFLOW-2651 for the previous discussion of this.

There was a pr #3526 but the interface/code wasn't quite right.

[2020-05-11 12:23] rabsr commented on #8062
In our environment, we are using power broker which restrict direct usage of sudo commands and pbrun commands are required.

However, Custom Task Runner feature solves our problem #8067 . Hence closing the issue.

PowerBroker references:
1. https://access.redhat.com/ecosystem/software/1469583
2. https://unix.stackexchange.com/questions/187663/what-is-difference-between-pbrun-and-sudo-command

[2020-05-11 12:23] #8062 closed

[2020-05-11 12:48] jhettler opened #8815 "Unathorized (no logged in user) access doesn't work"
**Apache Airflow version**: 1.10.10

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): Debian GNU/Linux 10 (buster)
- **Kernel** (e.g. `uname -a`): Linux 5ab0eeff230a 5.4.0\-7626\-generic #30\~1588169883\~20.04\~bbe668a\-Ubuntu SMP Wed Apr 29 21:00:02 UTC  x86_64 GNU

[2020-05-11 16:23] dinigo commented on #8804
@turbaszek I see how this is related, and I face this question frequently. But I think #8059 depends on having a common FS interface like   #3526 sugests.

Right now we have (I might miss some) the following file providers: S3, GCS, Azure, SFTP/SSH, FTP, Samba. If we want to allow all operations between them it means  it's `N^2 - N` operators. It's 36 operators. And will be more as other cloud pro

[2020-05-11 17:05] JeffryMAC opened #8821 "Add ability to filter dag list by clicking on specific tag"
**Description**

tags was added in https://github.com/apache/airflow/pull/6489
it would be great if by clicking a tag it will show all the tags associated to this tag.
Similar to how filter tags search bar works just without the need to type.

[2020-05-11 17:44] mik-laj commented on #8471
@mik-laj Yes. One generic operator is more useful. I think it is also worth creating an operator that adds a calendar entry. Some organizations do not use hooks but only operators.

We had a lot of discussions on this subject. https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-21%3A+Changes+in+import+paths
https://lists.apache.org/thread.html/f9262d9faa45fce6523bf85b7a5295a44cac419eb7fafeaeef

[2020-05-11 17:45] mik-laj commented on #8821
Hi. It makes sense. Would you like to work on this change?

[2020-05-11 17:56] mik-laj commented on #8803
Hi. It looks interesting. Would you like to start working on this change?

[2020-05-11 17:57] mik-laj commented on #8205
Hi. I've assigned you to this ticket.

[2020-05-11 17:57] mik-laj commented on #8206
Hi. I've assigned you to this ticket.

[2020-05-11 17:57] crazy-2020 opened #8822 "Make `time_to_sleep_in_seconds` configurable in dlp.py"
**Description**
In [dlp.py,](https://github.com/apache/airflow/blob/master/airflow/providers/google/cloud/hooks/dlp.py) the default 'time_to_sleep_in_seconds' for polling dlpJob state is set to 1, and not configurable, which is too short for most cases.

**Use case / motivation**
Make `time_to_sleep_in_seconds` as an argument in create_dlp_job() which is invoked by DLP DAG.

[2020-05-11 18:53] webster-chainalysis opened #8825 "AttributeError in S3TaskHandler on Airflow 1.10.10"
Hello.  I upgraded to Airflow 1.10.10 and encounter the following error when the scheduler attempts to configure remote logging using the `S3TaskHandler`:

[code]

It appears this is due to the changes made in AIRFLOW-1611:

https://github.com/apache/airflow/commit/3c3a65a3fe2edbd7eee1d736735194a1ca14962a
https://issues.apache.org/jira/browse/AIRFLOW-1611

The expectation set forth in the changelo

[2020-05-11 20:03] larryframr opened #8826 "request for Marketo integration with google storage"
Hi,
we use https://www.marketo.com/ and would love to have operator to pull data into google storage
python package https://github.com/jepcastelein/marketo-rest-python

[2020-05-11 21:20] klsnreddy opened #8827 "show_dag (save) feature is not supporting any other orientation except 'LR'"
**Apache Airflow version**: master

**What happened**: I have DAG in TB orientation and when I tried to save that DAG graph to png file, it is not honoring the orientation, it is taking in 'LR' orientation only.

**What you expected to happen**: The graph in the png file should be similar to the orientation of the DAG.

**How to reproduce it**: Change the orientation of the DAG other than 'LR' and

[2020-05-12 00:06] matthieu-foucault commented on #8495
@dmayle Ran into that issue as well when trying to run airflow on an OpenShift cluster (which requires some setup when starting a pod).
Our workaround was to rename the airflow executable in the docker image and add a shell script in the PATH that does whatever setup is needed before calling airflow

[2020-05-12 00:55] peter-volkov opened #8830 "1.10.* Compatibility for Yandex.Cloud hook"
Yandex.Cloud hook at the moment calls the parent class constructor with no args.
This breaks the provider when it is backported to 1.10.* (in 1.10 one positional arg is required)
I've tested -- works well with no parent class constructor call in both 1.10 and 2.

[2020-05-12 02:00] themantalope opened #8835 "Allow user to supply croniter object, multiple cron strings or generator object to DAG"
**Allow user to supply their own `croniter` object or `datetime` generator object to DAG**

The user could create their own `croniter` object or their own object which generates python `datetimes` when creating a DAG, e.g.:

[code]

**Use case / motivation**

Some jobs need to run at times that don't conform well to a single `croniter` schedule. You could combine [multiple cron strings together](h

[2020-05-12 02:05] themantalope commented on #8649
@BasPH  @jeffolsi

Came across a simple implementation for combining multiple cron strings and `croniter` objects [here](https://github.com/kiorky/croniter/pull/23)

[2020-05-12 02:13] themantalope commented on #8649
I thought that was what was mentioned in the [documentation](https://airflow.apache.org/docs/stable/scheduler.html):

[2020-05-12 03:02] #8827 closed

[2020-05-12 04:01] thesuperzapper opened #8837 "Allow passing arguments to bash in Dockerfile"
As discussed in  #8579, we should add support for passing arguments to the `bash` command in `entrypoint.sh` of the Dockerfile.

For example:
[code]

[2020-05-12 04:02] thesuperzapper commented on #8837
@potiuk here is the issue

[2020-05-12 06:18] Nick-0723 opened #8838 "Starting with v0.37.0, the 'azure-storage' meta-package is deprecated and cannot be installed anymore. Please install the service specific packages prefixed by `azure` needed for your application."
**Apache Airflow version**: 1.10.10

**What happened**: when use pip install all dependencies `pip-3.6 install apache-airflow[all]`
[code]
**What you expected to happen**: successful install

[2020-05-12 06:28] tanjinP commented on #8205
Hey @mik-laj - just have a few concerns with this issue:
1. The description says `Datastore` - I'm assuming this is a copy/paste error as the Datastore guide issue is here #8204
1. Where are the Cloud KMS operators? I could only find the [Hook](https://github.com/apache/airflow/blob/master/airflow/providers/google/cloud/hooks/kms.py). Do Hooks have a different way of creating guides? If not, where

[2020-05-12 06:48] potiuk commented on #8838
Yep.  Noticed that last night: #8833

[2020-05-12 06:50] potiuk commented on #8838
Not much we can do for 1.10.10 but if you follow the recommended installation method, airflow should still install cleanly https://github.com/apache/airflow/blob/master/README.md#installing-from-pypi

[2020-05-12 09:36] mshalak-nix opened #8839 ""Dag Runs" UI page shows broken State after enabled DAGs serialization"
**Apache Airflow version**: 1.10.10

**Kubernetes version**: 1.15.11

- **Cloud provider**: Google Cloud

**What happened**:

After switching DAGs serialization on, "State" column in UI shows HTML code for all DAGs on the "Dag Runs" page. "Task Instances" page works fine.
![image](https://user-images.githubusercontent.com/57914365/81667874-85b6da80-944c-11ea-9704-49cc6c553f48.png)

**What you expe

[2020-05-12 10:16] kaxil commented on #8825
Which version did you upgrade it from ?

[2020-05-12 10:18] #8830 closed

[2020-05-12 10:50] alimgafar commented on #8207
Kamil,

Sorry about the delay responding. This email fell into Bulk messages. I’ll look over the information you’ve provided.

Regards,

Alim

[2020-05-12 11:15] vdusek commented on #8609
@iam432 Can I ask you how do you use that command in the cron job? We use Airflow with Docker and I'm able to run `airflow sync_perm` inside the container, it works and the permissions are updated. However when I schedule that command (`* * * * * /usr/local/bin/airflow sync_perm`) in the cron, it doesn't work and I receive the following error:

[code]

[2020-05-12 12:23] iam432 commented on #8609
@vdusek : created a shell script for sync (there are other things in script) and scheduled cron run this script every 5 minutes as below.

[airflow@hostname ~]$ cat /data/airflow/sync.sh
#! /bin/bash
airflow sync_perm
[airflow@hostname ~]$

[airflow@hostname ~]$ crontab -l
*/5 * * * * sh /data/airflow/sync.sh
[airflow@hostname ~]$

[2020-05-12 12:25] iam432 commented on #8609
@vdusek : forgot to say RBAC is enabled in my environment

[2020-05-12 13:59] MJFND opened #8842 "Date Time Parsing Issue in Frontend when running DAGs"
**Apache Airflow version**: 1.10.10

**What happened**: Seeing issue when running DAGs with any execution dates from the UI
<img width="1082" alt="" src="https://user-images.githubusercontent.com/12442542/81700178-c3822600-9481-11ea-92c5-3c32c7211988.png">

**What you expected to happen**: Should Parse the date correctly

**What do you think went wrong**: It is not able to parse the time in the da

[2020-05-12 15:21] TRReeve commented on #8212
I have had this issue as well on Airflow 10.10 and been tearing my hear out at it a couple of days now. I'm running using the KubernetesOperator and the logging seems to upload to S3 fine it is only the reading of the log back from the web ui that is always in local mode.

[2020-05-12 15:32] kglazunov commented on #8842
I've got the same issue with Version : 1.10.10

[2020-05-12 18:22] fgrotkowski opened #8844 "[SQSSensor] max_messages template field issue"
Hello,
I have the following code snippet:

[code]
When I run it I got the following error connected with max_messages param:
`Invalid type for parameter MaxNumberOfMessages, value: 3, type: <class 'str'>, valid types: <class 'int'>`
max_messages is templated field, but it's impossible to use it since I can't cast it do int.
Could you please help?

[2020-05-12 22:45] samuelkhtu commented on #8525
Hey @pujaji just wondering if you get a chance to work on this?

[2020-05-12 22:49] davido912 commented on #8717
I am facing the same problem. did you manage to solve this?

[2020-05-12 22:58] samuelkhtu commented on #8525
Hi @potiuk , sorry to bother you.  I am just wondering what will be a good way to write unit tests for this type of SQL related operators? I looked at the existing unit test for MsSqlOperator and found that the unit test only initialize the MsSqlOperator and call the "get_hook()" method and assert on hook.__class__.

Thanks.

[2020-05-13 02:51] pirackr opened #8848 "JSON logging support"
**Description**
Make logging in Airlfow more extensible or support for json

**Motivation/Usecase**
Currenty, we're working on using [json formatter](https://github.com/madzak/python-json-logger) for our logging (for several reasons: k8s deployment, better search/filter).

When we're moving away, we found some issue, one of them is that when the task runner try to run a task, it would try to [capt

[2020-05-13 05:04] #8810 closed

[2020-05-13 06:33] davido912 commented on #8839
Experiencing the same problem here. However, I am not sure if this has to do with seralization because on my end it is set to False.

[2020-05-13 06:44] apps123 opened #8851 "Airflow error in SQLLite - sqlite3.IntegrityError: columns dag_id, run_id are not unique"
**Apache Airflow version**: 1.10.7

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`): N/A

**Environment**: RHEL7

- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): Red Hat Enterprise Linux Server 7.8 (Maipo)
- **Kernel** (e.g. `uname -a`): Linux ip-XXXXXXXXX.internal 3.10.0-1127.el7.x86_64 #1 SMP Tue Feb 18 16:39:12 EST 2020 x86_

[2020-05-13 07:51] voroninman commented on #8717
No. I haven't tried really as it's mostly esthetics.

[2020-05-13 08:14] davido912 commented on #8717
I believe you can also not set the state on that page. Try changing the state there to running/failed you'll see it doesn't update. However, setting the state from other sections does work.

[2020-05-13 08:15] voroninman commented on #8717
True. I do change the state from other sections.

[2020-05-13 09:18] ctivanovich commented on #8142
Hello, this portion would essentially be exposing access to the XComs/Variables data in the database via API client request, either to an external, authenticated application, or via the CLI? I have taken a look at the API-32 page, and I gather that there will also be an API server, meaning someone should be able to send a request along with a credential to get this information in e.g. JSON?

[2020-05-13 09:54] mik-laj opened #8854 "Send task to queue in bulk"
**Description**

Hello,
I recently took care of CeleryExecutor. I managed to optimize the status retrieval by using bulk operations. Instead of downloading the status for each task using a separate query, one is sent for all tasks. This has accelerated this process more than 100 times in many cases.
https://github.com/apache/airflow/pull/7542
However, we still use individual operations in many pro

[2020-05-13 09:57] mik-laj commented on #8854
@auvipy  Can you look at it?

[2020-05-13 11:26] auvipy commented on #8854
celery redis need more care actually :) with my current time and other priorities in celery i didnt contribute much on redis part. I'm more focused on amqp 1.0 and kafka support and asyncio based worker....

[2020-05-13 13:22] francois-travais commented on #8838
It's a shame the documentation is not inline with the README : https://airflow.apache.org/docs/stable/installation.html

[2020-05-13 13:26] ebrard opened #8859 "DuplicateTaskIdFound missing from exceptions.py in pypi package of Apr 9, 2020"
**Apache Airflow version**:

1.10.10

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

NA

**Environment**:

NA

**What happened**:

`airflow initdb`

Traceback (most recent call last):
  File "/usr/local/bin/airflow", line 25, in <module>
    from airflow.configuration import conf
  File "/usr/local/lib/python3.6/site-packages/airflow/__init__.py", line 42, in <modul

[2020-05-13 13:26] realradical commented on #8842
same issue, had no problem with 1.10.9

[2020-05-13 14:03] potiuk commented on #8838
@francois-travais - what exactly do you think should be there? I am happy to update what is missing so that we can release in 1.10. Any suggestions please :) ?

[2020-05-13 14:14] webster-chainalysis commented on #8825
I don't think I will be able to provide proper information for others to reproduce this.  It may have been related to the custom logging config.  So maybe just close it.

But it's worth noting that this probably isn't the error message end users should see.  Furthermore, we have no desire to do any custom logging configuration and are just trying keep the standard S3 remote logging working on the

[2020-05-13 14:18] webster-chainalysis commented on #8825
Which we failed at.  And are now rolling back several minor versions to avoid those changes for now.

[2020-05-13 14:20] francois-travais commented on #8838
Yes it's about the `--constraints`.
I think this section https://github.com/apache/airflow/blob/master/README.md#installing-from-pypi should be in the documentation and not just in the README.

[2020-05-13 14:54] potiuk opened #8860 "Add PyPI installation to airflow official docs"
**Description**

The information about constraints and installing from PyPi should be added to the docs before releasing 1.10.11

https://github.com/apache/airflow/blob/master/README.md#installing-from-pypi

**Use case / motivation**

People use official website/docs for installation and as discussed in https://github.com/apache/airflow/issues/8838#issuecomment-628021587 sometimes it's the only so

[2020-05-13 14:55] potiuk commented on #8838
Indeed @francois-travais. Added issue for that with 1.10.11 as the milestone target. https://github.com/apache/airflow/issues/8860

[2020-05-13 19:12] jeffolsi commented on #8525
I would assume that the tests should be similar to SQLSensor which already utilises various of databases options into single sensor.
The SQL part itself (taking query and run it) is the same between the SQLSensor and the SQLBranchOperator the difference comes after the query run and returned value.

[2020-05-13 19:22] potiuk commented on #8525
Yep. Thanks @jeffolsi for the explanation. Yep. I think this is about right.

[2020-05-13 19:23] samuelkhtu commented on #8525
Thanks @jeffolsi & @potiuk

Since there are many SQL favors supported within Airflow, do you have a specific backend in mind? SQLite? Postgres? MySQL?

Maybe you are thinking a generic SQL branch operator using ODBC hook instead?

[2020-05-13 19:26] samuelkhtu commented on #8525
Thank you both!

[2020-05-13 20:00] pujaji commented on #8525
Hello @samuelkhtu Please don't bother working on this. Please continue to finish this.
regards,
Puja

[2020-05-13 20:45] samuelkhtu commented on #8525
Thanks @pujaji  , sounds like you've got this. I will circle back in a few days. Can't wait to see this new operator!

[2020-05-13 20:46] kaxil commented on #8859
I can't reproduce this error. `DuplicateTaskIdFound` is not a part of 1.10.10

[2020-05-13 20:47] kaxil commented on #8859
here is the code from 1.10.10 for the file that is show in the stacktrace.

https://github.com/apache/airflow/blob/96697180d79bfc90f6964a8e99f9dd441789177c/airflow/models/baseoperator.py#L39-L57

[2020-05-13 20:47] #8859 closed

[2020-05-13 20:51] kaxil commented on #8844
Unfortunately, any templated_field can only be a str or an Iterable of string or recurse class that has template_field that is string. It can't be **int**

[2020-05-13 20:51] pujaji commented on #8525
@samuelkhtu No Samuel You have got me wrong. I have stopped working on this. I urge you to accomplish this ans present this to the community

[2020-05-13 20:52] samuelkhtu commented on #8525
Hi @pujaji , I am sorry I misunderstood you. Sounds good. I will give this a try!

[2020-05-13 20:53] pujaji commented on #8525
No regrets! Happy coding-contributing!! :dagger:

[2020-05-13 22:20] jhtimmins commented on #8674
Should Airflow support process spawning?

Tl;Dr - Spawning creates the possibility of hard-to-detect bugs in child processes. It’s the default on MacOS, the sole option on Windows, and Linux has `spawn` but defaults to `fork`.

Overview
* Prior to Python 3.8, multiprocessing.Process used `fork` by default on Linux and macOS.
* As of 3.8, `spawn` is the default method on MacOS. “The fork start meth

[2020-05-13 23:17] ToxaZ opened #8861 "HttpHook.run method doesn't convert dict in 'data' parameter to json object"
**Apache Airflow version**: 1.10.10

**Environment**:

- **Others**:
requests==2.22.0
requests-oauthlib==1.3.0

**What happened**:

Execution of HttpHook leads to error (on the API serverside):
[code]
The reason was providing `dict` instead of `JSON formatted str` in `data` parameter of `http_hook.run()`.

**What you expected to happen**:

Airflow uses [request.Requests](https://github.com/psf/req

[2020-05-14 04:12] mik-laj commented on #8861
Interesting. Do you want to work on it?  Can I assign you to this ticket?

Here is contributor guide:  https://github.com/apache/airflow/blob/master/CONTRIBUTING.rst

[2020-05-14 04:50] rahulj51 commented on #8731
This looks like it's related to #8484

[2020-05-14 06:35] potiuk commented on #8674
Great analysis @jhtimmins thanks!

Indeed - we discussed the fork/spawn case in the past and  the MacOS vs. Linux change in 3.8. I think we are not at all concerned with Windows - anyhow the only recommended way to run Airflow on Windows is WSL2. Regarding MacOS vs. Linux. I think it's great it works on MacOS for development purposes, but for production, I believe we only ever support Linux. Also,

[2020-05-14 07:11] davido912 commented on #8484
Did you manage to find resolution to this?
@rahulj51 We ended up wiping up our remote Airflow instance and setting up a new one, this solved the problem (for now). I didn't manage to find the reason behind this, but if you check your scheduler, you will see that the logs are being fired into the scheduler, however, not into the log file itself.

[2020-05-14 07:25] rahulj51 commented on #8484
Interesting. I actually tried this on a fresh docker container and it still didn't print the logs.

[2020-05-14 09:00] wittfabian commented on #8605
@potiuk Is this the preferred way to add dependencies (airflow-mssql)?

[code]

[2020-05-14 09:23] ewjmulder commented on #8484
We also saw this issue, after upgrading from 1.10.3 to 1.10.9.
We were able to solve it by adding a logger to the airflow.contrib package, like this:
[code]

[2020-05-14 09:39] potiuk commented on #8605
I the preferred way will be to set properly AIRFLOW_EXTRAS variable and pass them as --build-arg

They are defined like that in the Dockerfile:

[code]

and when building the  dockerfile you can set them as `--build-arg AIRFLOW_EXTRAS="...."`

I think that maybe it's worth to have "additional extras" and append them though

[2020-05-14 09:41] potiuk opened #8866 "Additional extras"
**Description**

It would be great to be able to pass "ADDITIONAL_EXTRAS" build arg and add extras to the "base" extras of Production Docker image.

**Use case / motivation**

If someone wants to add just one extra, they might want to specify only that one extra to add rather than copy the whole list

**Related Issues**

It's been discussed in https://github.com/apache/airflow/issues/8605#issuecom

[2020-05-14 11:36] KimchaC commented on #8605
Oh, that's super cool.
But for that you have to rebuild the entire airflow image? Can you just add the build arg in the docker-compose and it will propagate through to the published airflow image?

[2020-05-14 11:52] davido912 commented on #8484
@ewjmulder You added this to airflow_local_settings.py?

And, for airflow.contrib, did you import something on there? because I'm failing to find where and what you did to be honest

[2020-05-14 13:42] ewjmulder commented on #8484
@davido912 In the Airflow project the example config is in the airflow_local_settings.py file indeed. But you can customize this with the `logging_config_class = ...` setting in airflow.cfg (as we have done). Either way, it boils down to a dictionary variable called something like `(DEFAULT_)LOGGING_CONFIG` that contains (among others) the `formatters`, `handlers` and `loggers` properties. Inside

[2020-05-14 13:57] davido912 commented on #8484
@ewjmulder seems to work, nice job!
we have 3 remote airflow instances and I basically wiped out one and installed without using any custom logging configs, that worked as well.

[2020-05-14 14:01] ewjmulder commented on #8484
Yes, I guess the issue is related to an upgrade from an older version where you also (try to) migrate the log config but somehow they are not fully compatible and this issue appears. If someone does a deep dive into the diffs on the logging config and code between 1.10.6 and 1.10.7 I'm sure some underlying reason will pop up. But I'm happy with the resolution that we have found :)

[2020-05-14 15:42] ashb commented on #8674
Let's separate out development Airflow itself and developing DAGs etc.

For the former: maybe, but it should never be a requirement on contributors. (And as long as I'm working on Airflow my default's gonna be direct development, not using Docker :grinning:. I am on Linux now though.)

For the latter: being able to use OSX (and yes, eventually Windows) as a user writing dags and running a developm

[2020-05-14 20:16] potiuk opened #8872 "Add dependencies on build image"
**Description**

Add dependencies with "on-build" feature of Docker build.

**Use case / motivation**

Some dependencies can be added easily using on-build feature of Docker build.

[2020-05-14 20:17] potiuk commented on #8605
You should also be able to build  a new image using ON_BUILD feature - for building images depending on the base one. Added a separate issue here: #8872

[2020-05-15 05:05] samuelkhtu commented on #8525
Hey @jeffolsi , quick question for you. In the existing Airflow Python Branching Operator, the python callback function will return the 'task_id' or list of 'tasl_ids' for selecting the branching to follow.

I am just wondering  if you would like to use the SQL query to select the branches as well?

For example, the SQL query "SELECT 'branch_a', 'branch_b' will return 2 columns and the SQLBranchOp

[2020-05-15 06:21] mik-laj opened #8874 "Documentation building is slow"
Hello,

Building documentation takes over 10 minutes when only a small change has been made. I think it is worth analyzing whether this process cannot be speed-uo.
My propositions:

- incremental rebuilds:  Currently, building is always started from scratch, but Sphinx supports building only changed files
   https://github.com/apache/airflow/blob/master/docs/build#L51
   https://www.sphinx-doc.org

[2020-05-15 06:35] wittfabian commented on #8605
The same applies to additional Python packages.
https://github.com/puckel/docker-airflow/blob/master/Dockerfile#L64

`if [ -n "${PYTHON_DEPS}" ]; then pip install ${PYTHON_DEPS}; fi`

[2020-05-15 07:16] gumupaier commented on #1325
I have the same problem. Has it been solved?

[2020-05-15 09:37] ashb commented on #8874
https://github.com/readthedocs/sphinx-autoapi/issues/191 if/when it comes would help too

[2020-05-15 11:10] feluelle commented on #8770
Can you try adding `"region":"your-s3-region"` to the extras and see if this helps?
Or remove the parenthesis from `remote_log_conn_id = "S3Connection"` -> S3Connection. So `S3Connection` is your connection id?

[2020-05-15 11:13] feluelle commented on #8770
You are not using RBAC, right?

[2020-05-15 12:22] jeffolsi commented on #8525
@samuelkhtu the query return only true / false.
Think of the query as the equivalent of the python callable. The callable return only true false and with that the follow branch is decided.

I don't think it's a good idea to combine the task_id into the sql.

[2020-05-15 12:48] elwinarens commented on #8258
[code]

[2020-05-15 13:09] samuelkhtu commented on #8525
Thank you @jeffolsi . I see. I guess what you are looking for is sightly different than the Python version. Yes, the SQL query can decide True/False but we still need to let the operator knows which "branch" or path you want to follow right?  How about the following?

`
BranchSqlOperator(
conn_id: str,
sql: str,
parameters: Optional,
follow_tasks_if_true: list, # list of task ids to follow if SQL

[2020-05-15 13:18] aarrtteemmuuss commented on #8770
@feluelle Not using RBAC because it is local setup, not in K8S cluster.
I have tried adding region and removing quotes - same result, I am actually able to write like I said, but not able to read from S3.

[2020-05-15 13:22] aarrtteemmuuss commented on #8770
@feluelle I am actually using RBAC in k8s cluster, and there I am not even able to write to S3. How are RBAC and S3 logs related?

[2020-05-15 15:07] jeffolsi commented on #8525
@samuelkhtu exactly what i was thinking about

[2020-05-15 15:15] samuelkhtu commented on #8525
Great. Thank you @jeffolsi !

[2020-05-15 15:32] klsnreddy opened #8876 "Provide option to time delta on upstream tasks in TimeDeltaSensor"
**Description**
Provide option to time delta on upstream tasks in TimeDeltaSensor. Currently it adds delta to the schedule end time, irrespective of where the TimeDeltaSensor is in DAG.

**Use case / motivation**
We have a requirement of sending an email after 30 mins of previous task completion, but TimeDeltaSensor only waits till 30 mins after schedule end time, and by the the time we reach sens

[2020-05-15 16:19] ArgentFalcon opened #8878 "Enable the webserver to sync DAGS to the DB"
Add a config to Airflow to enable the webserver to update the metastore with new/updated dag infromation.

At Lyft, we run a special Airflow cluster we use for developing and testing DAGS. This uses shared machine resources, and spins up a unique, clean metastore for every test instance. However, these instances don't run schedulers because all runs are manually triggered (testing instance). We do

[2020-05-15 16:19] ArgentFalcon commented on #8878
I plan to have a PR for this shortly

[2020-05-15 18:30] rafaelreuber opened #8880 "Got ModuleNotFoundError on execute `airflow initdb` command"
I just tried to follow quick start and I got the following error on execute the command `airflow initdb`

[code]

I'm using the Fedora 32 (linux) 64 Bits and Python 3.8.2

[2020-05-15 18:37] #8880 closed

[2020-05-15 19:49] fuyi opened #8881 "parallelism becomes 1/2 of config value after enabling Kubernetes Executor"
**Apache Airflow version**:

1.10.8

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

1.17.5

**Environment**:

- **Cloud provider or hardware configuration**:

AWS

- **OS** (e.g. from /etc/os-release):

NAME="Ubuntu"
VERSION="16.04.4 LTS (Xenial Xerus)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 16.04.4 LTS"
VERSION_ID="16.04"
HOME_URL="http://www.ubuntu.com/"
SUP

[2020-05-15 20:06] fuyi commented on #7982
I think the issue is labeled wrong. it is an issue for **Scheduler**

[2020-05-15 22:53] jhtimmins commented on #8484
Could you all share the different operators where you've seen this happen? Looks like it's an issue on KubernetesPodOperator?

I was unable to attempted to replicate with PythonOperator.

[2020-05-16 05:27] ewjmulder commented on #8484
Indeed for us it was a problem for the KubernetesPodOperator but not for the PythonOperator. Looking at the top post it also affects the DataprocOperator, which also lives in the contrib package. So it seems the direction to look in is loggers for certain packages and default behavior if no logger is configured for a package.

[2020-05-16 06:09] rahulj51 commented on #8484
For us, it's happening across all operators. I have seen this with
pythonoperator ( see above steps) and also with dataprocoperator and a few
others.

I have tried this with a fresh airflow installation in a container and it's
still behaved the same way.

On Sat, May 16, 2020, 7:27 AM Erik Mulder <notifications@github.com> wrote:

[2020-05-16 08:38] #8271 closed

[2020-05-16 10:08] zobnec commented on #8164
This also happened to me.I use a celery worker start a dag and use gevent monkey path in dag code.I can run dag by python command, but with airflow celery worker it reports that  (NOT patched): ['urllib3.util...]; So I added gevent monkey path Code at the top of **dagbag.py**, Just like this and **solve** it:
[code]

[2020-05-16 13:29] saurabh7248 commented on #8861
Hey @mik-laj, can I try my hand at fixing this?

[2020-05-16 13:32] spencerogawa commented on #8717
I'm having the same issue as well. The state seems clickable.

Openshift
Python 3.7.6 (Compiled from source)
REL 7
Airflow 1.10.10

![Capture](https://user-images.githubusercontent.com/11817131/82121030-27457100-9758-11ea-8f8d-8cb0653eecbd.png)

[2020-05-16 13:59] mik-laj commented on #8861
@saurabh7248 I assigned you to this ticket.

[2020-05-16 17:19] Sangarshanan commented on #8821
I could pick this up if this is not taken yet?

[2020-05-16 17:23] tanjinP commented on #8286
@mik-laj you can assign this to me 🙂

[2020-05-16 17:59] mik-laj commented on #8821
@Sangarshanan I assigned you to this ticket. I look forward to your contributions. 🐈

[2020-05-16 19:27] TRReeve commented on #8212
Having gotten remote logging working on 1.10.10 I've noticed there seems to be a difference in how the workers handle the log upload versus the webserver component. The Connection you define needs to point to the same folder as the remote_base_logs_folder. E.g if your remote base logs folder is data/airflow/logs then your connection used for remote logging also needs to point to it e.g s3://access

[2020-05-17 11:11] randr97 opened #8890 "Add AWS S3 create and delete bucket operator"
**Description**
AWS missing operators include CREATE and DELETE  S3 operator. This issue caters to creating these operators. Also writing system tests for the same.
**Use case / motivation**
Many organisations would want to utilise such operators using xcoms for their projects. Especially when S3 is used with redshift and some ETL process has to be deployed to pull data from and dump data to a dat

[2020-05-17 13:40] prateeksan commented on #8890
@randr97 is this to create and delete buckets or objects in buckets? If it is to create/delete buckets, how would you interact with Terraform state backends?

[2020-05-17 14:14] randr97 commented on #8890
Hi @prateeksan, this is to create and delete S3 buckets.
I did not get as to why we would need to interact with Terraform state backends.
It would be help if you could explain the use case.

[2020-05-17 14:35] prateeksan commented on #8890
@randr97 a lot of organizations manage infrastructure like S3 buckets through infrastructure-as-code scripts, usually Terraform since that is what AWS supports natively. The way Terraform works is that it maintains the state of all infrastructure in a backend (usually remote). Let's say someone configured an s3 bucket and deployed it using Terraform, if your DAG then deletes that bucket, it will c

[2020-05-17 14:39] randr97 commented on #8890
Oh now I get the issue. So there should be a mechanism where airflow could talk to TF backend so that for eg if some keys have to be created via terraform and dag deletes the bucket it should technically fail!

[2020-05-17 14:59] prateeksan commented on #8890
Something like that, I'll message you on Slack.

[2020-05-17 16:44] mik-laj opened #8893 "Displaying field templates and constructor parameters in scripts/list-integration.py"
Hello,

We have script that allows us to display class names.
https://github.com/apache/airflow/blob/master/scripts/list-integrations.py
It would be nice if it were possible to display template fields and constructor parameters.  This should be available when you run this script with an additional option. The output should be available as CSV or JSON or JSONL. Constructor parameters from BaseOpera

[2020-05-17 16:54] mik-laj commented on #8806
@turbaszek Can you look at it?

[2020-05-17 17:15] mik-laj commented on #8258
@rammady Do you need any help?

@elwinarens I know you work on it too. Would you like to share something? Collaborative work is more effective and beneficial.

[2020-05-17 18:19] mik-laj opened #8894 "Detect automatically the lack of reference to the guide in the operator descriptions"
Hello,

We have a lot of guides that are fantastic.
https://airflow.readthedocs.io/en/latest/howto/operator/index.html
https://airflow.readthedocs.io/en/latest/howto/operator/gcp/index.html
However, not every person may be aware that they exist. In order to promote them, we add a reference in the class description to the guide.
![Screenshot 2020-05-17 at 20 07 41](https://user-images.githubusercon

[2020-05-17 19:41] jeffolsi opened #8896 "Add SalesforceToGcs"
**Description**

salesforce is missing integration with GCS.

**Use case / motivation**
ability to copy data from sales force into GCS

**Related Issues**

[2020-05-17 21:24] tanjinP commented on #8286
@mik-laj just a few questions and concerns before I dive deeply into this:
1. The Memorystore Redis Hook and Operator have a 'generic' name (`cloud_memorystore.py`). This new one should probably be specific (`cloud_memorystore_memcache.py`). Is this okay?
    - Once this is complete and implemented, it might be worth going back to refactor the Redis one to be more specific (suffix with `_redis.py`

[2020-05-17 22:27] marclamberti commented on #8212
@TRReeve I didn’t need to do that. Actually, if you want to have the remote logging working with the kubernetes executor, you have to define additional kubernetes environment variables so that your PODs are in sync with the scheduler/web server. Eg:
AIRFLOW__CORE__REMOTE_LOGGING=True
AIRFLOW__CORE__REMOTE_BASE_LOGS_FOLDER=s3://my-bucket/my-key
AIRFLOW__CORE__REMOTE_LOG_CONN_ID=myawsconn
AIRFLOW__C

[2020-05-17 22:44] TRReeve commented on #8212
@marclamberti Your answer is how I understood it would work as well but when I would get the logs uploading fine into the S3 bucket but then when i went to "view logs" in the UI it would give the "logs not found" error with no output in the logs to indicate it was using the s3 connection or the read_key function to retrieve anything. I can confirm there was no need to define the task handler or wr

[2020-05-18 08:18] marclamberti commented on #8212
Well, in my case it works for both reading and writing logs from S3 with Airflow 1.10.10 and the Kubernetes executor :/

[2020-05-18 09:58] JavierLTPromofarma opened #8899 "Get UI color of DAGs from airflow.cfg"
**Description**

Being able to get different ui colors than the default ones for operators from airflow.cfg file

**Use case / motivation**
I want to have more vivid colors for the operators, for being able to notice at a glance which operators are present. Nowadays the operators have different colors, but sometimes they are very similar and it's not that easy to differentiate them.
Currently, thi

[2020-05-18 11:15] jeffolsi commented on #8565
fixed in https://github.com/apache/airflow/pull/8644

[2020-05-18 11:15] #8565 closed

[2020-05-18 13:34] AmarEL opened #8900 "Info about the parameter "conf" when triggering a DAG"
**Description**

The information and examples about the optional JSON `conf` when triggering a dag from UI or by CLI needs to be included in the documentation.

**Use case / motivation**

I would like to have some reference in Docs since `conf` is not even mentioned as a parameter in the` create_dagrun` method in the specification of parameters. I would like to have too some examples of how to use

[2020-05-18 16:16] albertocalderari opened #8903 "BigQueryHook refactor + deterministic BQ Job ID"
**Description**

Looking at the code it seems like  a lot of the logic in the BQ Hook is already implemented in the google API python library. This includes job polling, a nicer way to use job config and of course las the validations that we now do manually.
It would be ice to make use of these and simplify the code.

My idea is then to refactor the run_<job> methods to take the google job config

[2020-05-18 17:04] jblakeman commented on #8484
Had a chance to look through #6627 and I could be mistaken but it seems like using `os._exit` in the forked child process without first flushing stdio buffers could be a factor here: https://github.com/apache/airflow/blob/8465d66f05baeb73dd4479b019515c069444616e/airflow/task/task_runner/standard_task_runner.py#L80-L84

From the [python docs](https://docs.python.org/3/library/os.html#os._exit):

Pe

[2020-05-18 21:25] turbaszek commented on #8903
Hi @albertocalderari, I'm curently workining on refactor of BQ integration. I decided to abandon custom "run" and use `insert_job` method which will accept `job_id`:

https://github.com/PolideaInternal/airflow/blob/71328b19be73ff0e4820be1ee25867eb6a578820/airflow/providers/google/cloud/hooks/bigquery.py#L1432-L1441

[2020-05-18 21:27] jaketf commented on #8673
just an update it will be 2-3 weeks before anyone on my team has bandwidth for this.

[2020-05-18 22:20] athenawisdoms opened #8905 "Logging with Custom Filenames"
I am using Apache Airflow 1.10.10 to run several Python scripts in a DAG via the `BashOperator`. The logs are currently written to `/usr/airflow/logs`.

Is it possible to configure Airflow to

1. *also* write the logs to another directory like `/home/airflow/logs`
2. The logs should only contain the stdout from the python scripts
3. The logs should be stored in the following directory/filename for

[2020-05-19 01:24] enriqueayala commented on #8839
Having same issue for versions 1.10.10/ 1.10.9  and store_serialized_dags=False/True  .

No solution found yet..

[2020-05-19 02:35] listenLearning opened #8906 "make success failed"
I have recently installed a standalone version of airflow, version 1.10, then I created a dag, the task time is 2020-01-01-01, but maybe some tasks I want to start from the same day, instead of running from 2020-01-01, so I want to set it to success, make success , but after I do this operation, the following error appears, please how to solve this problem? I suspected it was the time zone before,

[2020-05-19 07:19] turbaszek commented on #8806
Hi, @mdnawed2010 you are right. Hee's another comment on that issue:
https://github.com/apache/airflow/pull/6371#issuecomment-586502594

New operators accept `request_id` which if I'm correct works in the same way:

https://googleapis.dev/python/dataproc/latest/gapic/v1/api.html#google.cloud.dataproc_v1.JobControllerClient.submit_job

[2020-05-19 07:37] turbaszek commented on #8899
Hi @JavierLTPromofarma I like the idea in general. However, I think that it may make config a little bit messy. I am also wondering if it would make sense to somehow unify / standardize approach to operators UI colors, WDYT?

[2020-05-19 08:49] sylr opened #8907 "Airflow web UI is slow"
**Apache Airflow version**:

1.10.10

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

1.13.12

**Environment**:

- **Cloud provider or hardware configuration**: Azure
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

Every HTTP requests of the UI takes at least 5s, even static content.

<img

[2020-05-19 08:50] sylr commented on #8907
The graphs shows the queries going through a reverse proxy but I've also tried directly with a `kubectl port-forward` and the problem persists.

[2020-05-19 09:06] potiuk opened #8908 "The test_celery_executor test fails transiently in CI"
**Apache Airflow version**:

Master - 2.0.0dev

**Environment**:

GitHub CI jobs.

**What happened**:

The Celery Executor test is transiently failing. I think this started to appear recently (so likely it is one of the optimizations implemented recently)

You can see an example of such failure here but there are many more similar ones)

https://github.com/apache/airflow/runs/687537257?check_suite

[2020-05-19 09:09] mik-laj commented on #8908
@auvipy  Can you look at it?

[2020-05-19 09:21] auvipy commented on #8908
seems to be an integrity error in sqla "pg_type_typname_nsp_index"\nDETAIL:  Key (typname, typnamespace)=(celery_tasksetmeta, 2200) already exists.\n',)

if you can try celery and kombu from github master? it might be an issue of airflow code itself

[2020-05-19 09:31] potiuk commented on #8908
The problem is that it is transient - sometimes it works, sometimes it does not.

I also think it's an issue in the Airflow Code - likely connected to the optimizations recently made by@mik-laj  or @ashb .

* I looked at the history of requirements.txt and celery version did not change since 20th of March
celery==4.4.2

* The error started to appear only few days ago. I believe it is likely caused

[2020-05-19 09:35] ashb commented on #8908
82de6f7 is unlikely to be it, unless it exposed a timing vector to the problem by making tasks schedule quicker. Could be.

[2020-05-19 09:37] ashb commented on #8908
Current hypotheis:

https://github.com/celery/celery/blob/eef03a3d299a2e4c1a69926be56ca521f0d16779/celery/backends/database/session.py#L52-L60  (which just calls out to SQLA to do the work)

is not handling this race case where two processes check, find the table missing, and then both try to create it.

[2020-05-19 09:44] ashb commented on #8908
Trying this:

[code]

[2020-05-19 09:50] ashb commented on #8908
@auvipy Ah, that session factory wants the `db+` prefix stripped off already, what is the "right" way in celery to get hold of the configured backend?

[2020-05-19 09:58] ashb commented on #8908
I mean the _best_ fix here would be if SQLA emited these as `CREATE TABLE IF NOT EXISTS x`, rather than checking which tables exist and then emiting `CREAT TABLE x`.

[2020-05-19 10:19] JavierLTPromofarma commented on #8899
Thanks for answering Tomek. The idea is not to have all the operators with a color in the config, but only the operators you want to modify it. So if you like all the default colors, your [colors] section will be empty, or even won't be there. Otherwise, if you want (as the most likely case) a few modifications, it would be just a few lines, that could be at the end of everything or even in the we

[2020-05-19 10:55] albertocalderari commented on #8903
My idea was yo use the methods exposed from google.cloud.bigquery.Client along with  google.cloud.bigquery.{JobType}JobConfig rather than using dictionaries.
Doing this we can ditch most of the custom validation we have in the hook and make the code a bit slimmer.

I'd build the job configs in the operator itself and mark run_with_configuration as deprecated.

I like the Idea of having only 1 meth

[2020-05-19 11:49] potiuk commented on #8908
Thanks @ashb  -> great that you fixed it  :)

[2020-05-19 12:21] #8908 closed

[2020-05-19 12:23] turbaszek commented on #8903
I see your point, however this will make the migration harder. On the bright side, we are ditching the custom validation. If you will take a look at `inser_job` method you will see that I'm constructing a `XJobConfig`:
https://github.com/apache/airflow/blob/375d1ca229464617780623c61c6e8a1bf570c87f/airflow/providers/google/cloud/hooks/bigquery.py#L1418-L1434

[2020-05-19 12:27] turbaszek commented on #8899
This sounds like a user preference and probably should be configured on a per user basis. Thus, I'm not sure if config (which is one for all Airflow deployment users) is the best place for such customization.

[2020-05-19 18:24] maverick12345678 commented on #8893
Hey , I would like to work on it .

[2020-05-19 18:36] zachliu opened #8915 "CSRF configuration is missing the WTF_ prefix"
**Apache Airflow version**:

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**: AWS ECS
- **OS** (e.g. from /etc/os-release): `Ubuntu 18.04 bionic`
- **Kernel** (e.g. `uname -a`): `4.15.0-1065-aws`
- **Install tools**:
- **Others**:

**What happened**:
I have been trying to update a certain CSRF configura

[2020-05-19 18:45] mik-laj commented on #8893
@maverick12345678 Assigned.  It really will be very helpful for me.

[2020-05-19 18:51] mik-laj commented on #8915
https://github.com/apache/airflow/issues/8613
Is it related? Can you check it?

[2020-05-19 18:53] zachliu commented on #8915
it's unrelated

[2020-05-19 18:56] mik-laj commented on #8673
I added a good first issue label. We have a detailed description of the problem, and this only affects one operator, so this can be an interesting task for a beginner.

[2020-05-19 21:20] ForestMars commented on #8647
Testing this with a clean installation of 1.10.10, it is adding `dags_folder` and `plugns_folder` to sys.path as expected, however instead of adding `airflow_home` it is adding `airflow_home/config`

Is this correct? It is surprising behavior and additionally can cause strange path parsing errors when there are other files alongside airflow.cfg in airflow_home/config.

[2020-05-19 22:14] mik-laj commented on #8647
Right. It adds /config directory
https://github.com/apache/airflow/blob/499493c5c5cf324ab8452ead80a10b71ce0c3b14/airflow/settings.py#L260

[2020-05-19 22:24] blcksrx opened #8916 "Impala Hook"
**Description**

Impala Hook

**Use case / motivation**

**Related Issues**

[2020-05-20 03:01] kuhnhu opened #8917 "Support specify s3 object ACL args for remote logging"
**Description**
Support specify s3 object ACL args for remote logging, like 'bucket-owner-full-control'

**Use case / motivation**
We are deploying an airflow server in the client's AWS server, using EC2 instance role(cross account) send logging to our S3 bucket.  We want to specify ACL arg "bucket-owner-full-control" to grant owner permission on logs.

**Related Issues**

[2020-05-20 08:38] Lyalpha commented on #8494
Also finding this, apparently due to triggering same dag in same second (https://issues.apache.org/jira/browse/AIRFLOW-699 - apparently resolved?)

[code]
reproduces for me on `1.10.10`.

Being able to trigger the same dag multiple times a seconds is a deal-breaker - happy to help out if pointed in the right direction for this one.

[2020-05-20 12:41] thesuperzapper commented on #8179
I have created a PR in Flask-AppBuilder which should resolve this, [see here](https://github.com/dpgaspar/Flask-AppBuilder/pull/1374)

[2020-05-20 13:44] potiuk opened #8921 "Add some "sensitive file" to include in "dock-only CI pytestless builds"
**Description**

Currently we skip tests when no .py files change. But this does not take into account much rarer situations when Dockerfile.ci, setup.cfg and few other files change.

We should add those files to the detection of whether to run the builds or not.

**Use case / motivation**

Sometimes we need to fix Dockerfile.ci for example and it woudl be great to see if the tests are still fine.

[2020-05-20 14:26] ashb commented on #8921
@potiuk Are you actively working on this right now? If not I'd like to try it so I get to know the new CI a bit better.

[2020-05-20 14:52] Handtaker23 opened #8923 "Google AdManager"
**Description**

I would be able to provide a hook and operator to load reports from Google AdManager. In this issue I would like to know if there is interest in this?!

**Use case / motivation**

Dealing with ad platforms can be quite challenging because every platform has its own more or less well documented API. That is why I would like to provide an easy implementation to get reports from Goog

[2020-05-20 15:03] ashb commented on #8921
Taking silence as consent - PR incoming :)

[2020-05-20 15:31] potiuk commented on #8921
Feel free :)

[2020-05-20 17:49] #8921 closed

[2020-05-20 17:59] ptamorri opened #8930 "Jenkins connection edit is not working on Web Server"
Hi to all,
i'm using Airflow version 1.10.10 (the actual latest) and get error page everytime i try to modify a Jenkins connection.
If i delete it and recreate it, it works.

I'm using Kubernetes azure service.

Adding trace too, i think it will be an easy fix :)

Problem occurs everytime i click on "edit" button of a Jenkins connection in Web server UI.

Thanks

[2020-05-20 18:37] maxcountryman commented on #8243
This is addressed by #7232.

We were able to apply the above patch and observe it resolving this issue for us.

[2020-05-20 19:24] JeffryMAC opened #8931 "Graph to see DAG run duration metric"
**Description**

airflow has many graph showing insights on task level (task duration, task tries, landing times, gantt)
yet there are no graphs that show metrics on graph level

I have a simple question that I want to see in a graph. Did the overall time the dag runs has increased  or not? it can be simple graph just calculating the dag start time and stop time and putting all durations on one gr

[2020-05-20 19:40] chrismclennon commented on #7935
I see a similar issue on 1.10.9 where the scheduler runs fine on start but typically after ~10~15 days the CPU utilization actually drops to near 0%. The scheduler health check in the webserver does still pass, but no jobs get scheduled. A restart fixes this.

Seeing as I observe a CPU drop instead of a CPU spike, I'm not sure if these are the same issues, but they share symptoms.

[2020-05-20 20:38] snazzyfox opened #8933 "pyhive is installed without Hive dependencies"
**Apache Airflow version**: 1.10.10

(appears to also affect master)

**What happened**:

When airflow is installed with Hive support using `apache-airflow[hive]`, using HiveServer2Hook to run a query throws the following exception:
[code]

**What you expected to happen**:

The error should not appear.

**How to reproduce it**:

Any minimal dag that uses HiveServer2Hook generates the error. Connec

[2020-05-20 21:21] RosterIn opened #8937 "change from zdesk to zenpy in ZendeskHook"
**Description**
[zdesk ](https://github.com/fprimex/zdesk) hasn't been updated in two years.
there is a better maintained package [zenpy](https://github.com/facetoe/zenpy)

The [ZendeskHook](https://github.com/apache/airflow/blob/master/airflow/providers/zendesk/hooks/zendesk.py#L21)  needs to be refactored to work with the new package.

[2020-05-20 22:29] ashb commented on #8933
Wait, pyhive has an extra called hive....? :exploding_head:

That would be amazing, yes, but would make our test suite take days to run to completion.

Still, might be something to think about.

[2020-05-20 22:32] ashb commented on #8907
@sylr A flat 5s latency sounds odd, and isn't something Airflow itself is doing, so there's something environmental going on here.

Things to check: if you run it locally, do you see this?

Is there anything of note in the webserver logs?

[2020-05-20 22:34] ashb commented on #8915
I'm not quite sure what you are asking us to do here -- the `webserver_config.py` that airflow generates does not set a time limit, `CSRF_TIME_LIMIT` or `WTF_CSRF_TIME_LIMIT`.

Once airflow has generated that file _you_ are in control of what you put in it -- it lives in your Airflow install, not the airflow code base.

Unless I've misunderstood here, there's nothing for us to do, and you've alrea

[2020-05-20 22:40] ashb commented on #8861
I don't think anything needs doing, the hook already supports extra arguments https://github.com/apache/airflow/blob/96697180d79bfc90f6964a8e99f9dd441789177c/airflow/hooks/http_hook.py#L100-L101

The request docs you linked to:

Passing data is doing what is says -- _form_ encoding, as if this was a `<form>`  submitted by a browser.

If you want to submit json as the body, do `hook.run(json={'a':

[2020-05-20 22:40] #8861 closed

[2020-05-20 22:42] ashb commented on #8779
Are you using the "Run" button in the webserver by any chance?

[2020-05-20 22:44] ashb commented on #8753
There is nothing we can do to debug this with so little information, sorry.

[2020-05-20 22:44] #8753 closed

[2020-05-20 22:46] ashb commented on #8484
Is anyone able to make a clean, stand-along reproduction case that shows this please? (Ideally in the form of a docker image I can pull, or a git repo we can clone)

[2020-05-20 22:49] ashb commented on #8717
This appears to a bug in our (soon to be remove) old UI. The easy fix for now is to switch to the RBAC UI by enabling it in your config files. We are only doing bug fixes against the old UI now (so this should get fixed) but you won't get any new features, such as the ability to show datetimes in your local TZ if you stick on this UI.

[2020-05-20 22:56] zachliu commented on #8915
my bad, i should describe it more clearly
the `CSRF_ENABLED = True` in this file in airflow's code base
https://github.com/apache/airflow/blob/51d955787b009b9e3a88f3e9b4ca1a3933a061f0/airflow/config_templates/default_webserver_config.py#L37
should be
[code]
without `WTF_` that line is useless

[2020-05-20 23:14] snazzyfox commented on #8933
Yep, pyhive supports both hive and presto, so depending on the user's needs either `pyhive[hive]` or `pyhive[presto]` is installed.

Since airflow is just installing `pyhive` itself, it doesn't include the underlying libs for either. Maybe just change the dependency to `pyhive[hive]` for now works?

[2020-05-20 23:17] danly opened #8939 "next_execution_date is not a pendulum instance"
**Apache Airflow version**: 1.10.2

**What happened**:
[According to the docs](https://airflow.apache.org/docs/stable/macros-ref.html) `next_execution_date` is a pendulum instance:

However, when trying to call `start_of` method of `next_execution_date` it is a `datetime.datetime` instance.

Code:
[code]

Error Log:
[code]

**How to reproduce it**:
Try calling pendulum methods from `next_execution

[2020-05-21 04:26] samuelkhtu commented on #8525
Code and test completed for this item. I am working on the PR.

[2020-05-21 08:12] sylr commented on #8907
I don't see anything suspicious is the logs.

But know that I think of it, 5s latency looks very much like a DNS timeout.

Any chance each request might trigger a DNS resolve ?

[2020-05-21 08:25] ashb commented on #8785
@potiuk Do our _CI_ tests need `gcloud` or `aws` CLI tools? Between them the add something like 500Mb to the image.

(It would be _really_ nice if docker let you easily compose layers from different images, without having to rebuild it)

[2020-05-21 08:25] ashb commented on #8785
/cc @jhtimmins

[2020-05-21 08:30] mik-laj commented on #8785
@ashb we use `gcloud` and `aws-cli` in system tests. We don't always have an operator. gcloud is even used by the Airflow operators.
https://github.com/apache/airflow/blob/master/airflow/providers/google/cloud/operators/kubernetes_engine.py#L267

[2020-05-21 08:34] ashb commented on #8785
@mik-laj That's why I asked about CI, not system tests.

A large part of the slow down for our tests was pulling images, so if we can reduce the size of that image we can speed our builds up.

Trade off is to decide if maintaining a second image is worth it or not.

[2020-05-21 08:44] ashb commented on #8915
@zachliu Ahha gotcha, yes. PR to fix that for new installs (we can't do anything about existing/already generated webserver_config.py, but at least it would stop some people tearing their hair out.)

[2020-05-21 08:50] bensta commented on #8467
I face the same issue, forcing oauthlib 2.1.0 does not solve the issue for me.
I am testing on Minikube, official apache/airflow-python3.6 image, trying to run with flask RBAC,

[2020-05-21 08:55] mik-laj commented on #8785
@ashb On CI, we don't use it yet.

[2020-05-21 08:57] ashb commented on #8785
Might be worth investigating, at least once we've gotten rid of all the items on this list which are far bigger.

https://github.com/wagoodman/dive is a useful too for exploring docker images

[2020-05-21 09:31] turbaszek commented on #8703
@kaxil @ashb @mik-laj @potiuk @zhongjiajie what's your opinion? Should we silently make `set` JSON-serializable or not?

[2020-05-21 09:33] sylr commented on #8907
After tcpdump'ing the calico interface of the pod I see DNS storms happening regularly:

<details>
<p>

[code]

</p>
</details>

[2020-05-21 10:12] potiuk commented on #8785
We can get those also used from docker images.

We have now the docker socket mapped inside the docker image so we can do `docker pull google/cloud-sdk:latest` - we can even write simple scripts that can do it seamlessly the first time you run 'gcloud' command .

[2020-05-21 10:13] potiuk commented on #8785
That's basicallly what I planned to do with all the binaries -> but it requires a bit of work. If anyone can pick this up - I am more than happy to review :)

[2020-05-21 10:18] potiuk opened #8946 "Move Gcloud out of the CI image"
**Description**

The gcloud binary can be used from the docker image https://hub.docker.com/r/google/cloud-sdk/ and script written to hide pulling and mounting authorisation volumes to it.

**Use case / motivation**

When you run cloud command inside of the ci image in Breeze, gcloud docker image is pulled automatically and is used to run gcloud commands/

**Related Issues**

Umbrella issue #8785

[2020-05-21 10:20] potiuk opened #8947 "Move aws-cli out of the CI image"
**Description**

The awsli binary can be used from the docker image  https://hub.docker.com/r/amazon/aws-cli  and script written to hide pulling and mounting authorisation volumes to it.

**Use case / motivation**

When you run aws-cli command inside of the ci image in Breeze, aws-cli docker image is pulled automatically and is used to run awscli commands/

**Related Issues**

Umbrella issue #8785

[2020-05-21 10:22] sylr commented on #8907
Turning off the pgbouncer makes the endpoint  `/static/bootstrap-toggle.min.js` unresponsive.

[2020-05-21 10:23] potiuk commented on #8785
@ashb @mik-laj -> issues added for gcloud and awscli. Feel free to implement  if you have time

[2020-05-21 11:12] #8774 closed

[2020-05-21 11:12] #8915 closed

[2020-05-21 12:15] mik-laj commented on #8923
@Handtaker23 That sounds fantastic. I would be very interested in them. Let me know if you start work. I will be happy to help with reviews.

[2020-05-21 12:31] eladkal commented on #8933
Airflow doesn't need `pyhive` for Presto
https://github.com/apache/airflow/pull/6822 removed that dependency. Presto is now using `prestodb`

[2020-05-21 12:55] potiuk commented on #8620
I will add some doc changes alongside  releasing first batch of backport packages.

[2020-05-21 13:25] ToxaZ commented on #8861
@ashb but the functionatliy of HttpHook.run is still broken. I don't insist on fixing it, just fyi.

[2020-05-21 13:35] jhettler opened #8951 "Run task with ignoring all options doesn't work"
**Apache Airflow version**: 1.10.10

**Environment**: Docker official image

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

If you check all options and press run, nothing happens, only pending in network. I can see only Adding to queue in logs nothing more.

[2020-05-21 1

[2020-05-21 13:51] JavierLTPromofarma commented on #8899
I'm not sure either, but I think this customization has to be addressed somehow in order to avoid the necessity of modifying the core code of Airflow. Do you (or anyone) come up with something?

[2020-05-21 14:58] mik-laj commented on #8899
@JavierLTPromofarma Have you tried to set a cluster policy? I think it should work.
https://airflow.readthedocs.io/en/latest/concepts.html#cluster-policy

[2020-05-21 15:01] mik-laj commented on #8620
@potiuk Fantastic!  Let me know if you start work. I will be happy to help with reviews.

[2020-05-21 21:04] snazzyfox commented on #8933
Yep, but `pyhive` is still needed for Hive. But since airflow is installing it without hive support, it's not actually usable unless packages for hive support are installed separately.

[2020-05-22 01:31] kweitzner commented on #8923
Very interested in this, I built my own based off Concorde airflow plug-in, but I have low experience with airflow right.

[2020-05-22 01:34] ywan2017 opened #8963 "SparkSubmitOperator could not get Exit Code after log stream interrupted by k8s old resource version exception"
# SparkSubmitOperator could not get Exit Code after log stream interrupted by k8s old resource version exception

## description

I use airflow to schedule spark jobs on k8s using SparkSubmitOperator.
when spark jobs run on k8s for long time (>30mins), airflow often  mark job failed status when the job is still running even the job finish successfully.

### when it happen ,this exception often app

[2020-05-22 02:19] MNic commented on #8494
We're having the same issue when trying to trigger the same DAG twice in a second.  We're using the CLI to trigger but it doesn't expose the `replace_microseconds` param.

Would be nice to have `replace_microseconds` exposed at all of the available `trigger_dag` interfaces.

[2020-05-22 08:53] fuyi opened #8965 "use separate pod_mutation_hook for Kubernetes Executor pod"
**Description**

According to the [Kubernetes Executor doc](https://airflow.apache.org/docs/stable/kubernetes.html),  pod_mutation_hook is used to mutate pod object before sending to the Kubernetes client for scheduling.

We deploy Airflow in K8S environment and use both Kubernetes Executor and KubernetesPodOperator. We need to set almost completely different set of fields for Executor pod and Kub

[2020-05-22 10:17] dimitrijepetrovic opened #8966 "2.0.0-dev - Webserver front page missing dag_id for dag runs and task instances"
When trying to view task_isntance list or dag_run (by clicking on circles on the front page)
dag_id field is passed as undefined

dags.html (line 430) - value of "d" is undefined
`
          .on('click', function(d, i) {
            if (d.count > 0)
              window.location = "{{ url_for('DagRunModelView.list') }}?_flt_3_dag_id=" + d.dag_id + "&_flt_3_state=" + d.state;
          })
`

[2020-05-22 10:20] dimitrijepetrovic opened #8967 "2.0.0 - db upgrade fails on missing dag_stats"
the error happens because of "drop table <table", rather than "drop table if exists <table>" like in all other places

[2020-05-22 11:25] ashb commented on #8967
migrations are recorded when they are performed, and are only run once.

It should be impossible for the table to be dropped without also recording that the migration was deleted.

Further: 2.0 isn't a release yet, so if you are targeting master branch you might get breakages like this.

[2020-05-22 11:25] #8967 closed

[2020-05-22 12:35] U-Ozdemir commented on #8207
Hello, I have submitted a part of the guide. It can be used by others here working on it aswell. Any feedback is always welcome.

Best regards,
Ozdemir

[2020-05-22 12:41] nodyke opened #8969 "Atlas Backend module improvements"
**Description**

As part of data lineage implementation, there is requirement to sending lineage data from airflow to Apache Atlas. Current module, what represented in 1.10 stable version,  has a few problems:
   1. Create new Atlas Operator entity for each dagrun
   2. Can't control creating missing entities using configs
   3. Fail operator if sending lineage data was failed
   4. Http timeout c

[2020-05-22 13:17] mik-laj opened #8970 "Improve guide for Kubernetes Pod Operators"
Hello,

A better guide that describes how to use KubernetesPodOperator would be useful. This is one of the most frequently used Airflow operators, so many users have problems with this operator.
https://airflow.readthedocs.io/en/latest/howto/operator/kubernetes.html
We currently have a guide that does not describe all the basic concepts.  It is not very useful for the end user.

It would be fantas

[2020-05-22 13:52] yerrysherry opened #8971 "Problem when rotating the fernet keys"
$ airflow version
1.10.10

Database:
CentOS Linux release 7.6.1810 (Core),

Webserver - scheduler:
lsb_release -a
No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 18.04.2 LTS
Release:	18.04
Codename:	bionic

Problem: Can not access connection after doing a:  airflow rotate_fernet_key

1) Create a new connection in the web interface
Conn id: my_connection
Conn Type: HTTP
Pas

[2020-05-22 15:28] MichaelJDrK opened #8972 "Some task log lines are "decorated" twice"
**Apache Airflow version**:
1.10.10

**What happened**:

Use airflow out of the box, create any DAG, run the DAG.

Log will contain nested log messages like this (one line):

[2020-05-22 17:07:20,614] {logging_mixin.py:112} INFO - [2020-05-22 17:07:20,613] {local_task_job.py:103} INFO - Task exited with return code 0

Not all log messages will be like this but SOME.
- using self.log.info('foobar')

[2020-05-22 16:31] samuelkhtu commented on #8525
Quick update. The PR is under review.

[2020-05-22 18:33] sarahmaas commented on #8119
I'd like to work on adding swagger UI for this.

[2020-05-22 19:14] potiuk opened #8977 "Secrets and Protocols are note checked if they are tested"
**Description**

The test_project_structure does not check for files that are protocols or secrets. Only operators/hooks/sensors are checked.

**Use case / motivation**

If there are untested secrets or protocols they should also be flagged.

[2020-05-22 19:15] potiuk commented on #8977
cc @mik-laj

[2020-05-22 20:08] mikaeld opened #8980 "Add a SlackAPIFileOperator to send files on Slack"
**Description**

airflow.operators.slack_operator only has the SlackAPIPostOperator implementing 'chat.postMessage' Slack API method. I created an Operator for the 'files.upload' API method for a project. Here's the code. It uses the same structure as SlackAPIPostOperator, inheriting from SlackAPIOperator.

**Use case / motivation**

Being able to send files to Slack using the API. Webhooks do not

[2020-05-23 03:50] tanjinP commented on #8970
I can take this on as it relates to #8883

[2020-05-23 07:08] mik-laj commented on #8980
Can you open PR? You don't need to create a isue if you want to share the code. The issue is only needed if it is a long-term task or you want someone else to do the task (communication tool)

[2020-05-23 10:38] potiuk commented on #8977
I wanted to check what you just fixed in #8979 and #8978 so I think we can close this one.

[2020-05-23 10:38] #8977 closed

[2020-05-24 02:39] KevinYang21 opened #8989 "Enable ignore_first_depends_on_past for scheduled run and applies on new tasks"
**Description**
In `airflow backfill`, `-I` is available so that the task instance of the first DAG run will ignore depends_on_past setting. It is a bit confusing from its name that it is a concept only for backfill jobs. For scheduled jobs, this behavior is on by default. However, one case we've been seeing a lot is that when a new task with `depends_on_past=True` was added,  it will not be sched

[2020-05-24 02:47] KevinYang21 commented on #8989
Plan to work on this myself, maybe later next week

[2020-05-24 08:15] aneesh-joseph opened #8993 "Airflow initdb fails on MSSQL"
**Apache Airflow version**: 1.10.10

**Kubernetes version (if you are using kubernetes)** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

If we configure airflow to use an MSSQL metadatabase and try to execute `airflow initdb`
it

[2020-05-24 08:57] turbaszek opened #8996 "Use type hints to indicate multiple return values when using @task"
**Description**

Use type hints to indicate multiple return values of `@task` decorated function to improve dereferencing.

Using type hints to enhance code behaviour is for example done in:
https://databricks.com/blog/2020/05/20/new-pandas-udfs-and-python-type-hints-in-the-upcoming-release-of-apache-spark-3-0.html

**Use case / motivation**

Currently:
[code]
expected:
[code]

**Related Issues**