[2022-09-10 14:05] eladkal commented on #16101
@g-saxena assigned

[2022-09-11 08:19] zzsza commented on #26248
I also had a similar error. It seems to be related to this issue

https://github.com/apache/airflow/issues/17538

[2022-09-11 11:15] potiuk commented on #22072
If there is no response from @xingularity, maybe you want to take over @esthomw ?

[2022-09-11 11:25] potiuk commented on #26149
I do not think this is an issue - this is how native rendering works. There is not much we can do about it.

But I suggest you to try some workarounds. Likely proper escaping of the first digit with unicode character - "\0x3123345" should work - @subhosuper  can you please experiment with it and see if it works ? If so, then maybe you can contribute a Doc on how to treat similar issues as a contri

[2022-09-11 22:26] potiuk commented on #24730
Why not contribute it then ?

[2022-09-11 23:25] #22381 closed

[2022-09-12 03:31] Bowrna commented on #22072
I could try fixing this issue if @xingularity and @esthomw do not want to take over.

[2022-09-12 06:04] #26237 closed

[2022-09-12 08:23] potiuk commented on #22072
Feel free @bowrna :) - unless @xingularity raises a hand (and @esthomw - you could also help with reviewing and testing the change if you don't feel like implementing it).

[2022-09-12 08:48] yc0 opened #26340 "metasecretName is not working anymore"
### Official Helm Chart version

1.6.0 (latest released)

### Apache Airflow version

2.3.4

### Kubernetes Version

1.20.12

### Helm Chart configuration

postgresql:
  enabled: false
data:
  metadataSecretName: mydatabase
pgbouncer:
  enabled: false

### Docker Image customisations

_No response_

### What happened

as the document mentioned, when you try to access an external database, you shou

[2022-09-12 08:59] uranusjr commented on #26274
I’m not sure there’s much to add, really. After you spin up WSL2, you’re essentially in Linux, and can simply follow the “normal” deployment guides.

[2022-09-12 09:24] uranusjr commented on #26271
Is this essentially depth-first execution a la #25032?

[2022-09-12 09:28] potiuk commented on #26274
Actually - there are quite a few caveats actually that has been nicely captured in the BREEZE docs (but due to us getting much closer to running airflow on Windows natively (and because we are - I think - never going to support Airflow for production, we should not make it "official" way of running airflow other than for local development :

[2022-09-12 11:50] alekscp commented on #25990
Thanks. Will update from `2.2.3` to `2.2.4`.

[2022-09-12 11:52] brunorigal commented on #26271
Yes indeed.

[2022-09-12 11:59] #25676 closed

[2022-09-12 12:17] alencn1024 commented on #26278
kindly to ask is there somebody working on this issue? If not, I'm glad to undertake it @uranusjr

[2022-09-12 13:45] uranusjr commented on #26271
Duplicate of https://github.com/apache/airflow/issues/25032

[2022-09-12 13:45] #26271 closed

[2022-09-12 13:55] jmantegazza commented on #24730
I would love to. But I have not a single idea on how to do it. Is there an established process to work on it?

[2022-09-12 15:53] anthonyp97 commented on #25765
@potiuk @eladkal we have opened a PR with the resolution to this here: https://github.com/apache/airflow/pull/26347

[2022-09-12 16:09] potiuk commented on #26278
Assigned you :)

[2022-09-12 16:22] patricker commented on #26248
@zzsza I agree, it's the same issue. I think this just confirms the fix will need to touch all of the child classes where Parquet is concerned.

[2022-09-12 16:26] potiuk commented on #24730
https://github.com/apache/airflow/blob/main/CONTRIBUTING.rst

[2022-09-12 16:29] potiuk commented on #24730
Includes:
* intro
* step-by-step-guide how to approach contribution
* links to <10 minutes setup of development environme
* quick contribution guides which provide quick-and-dirty way how to start with screenshots depending on which IDE you use (PyCharm/VCcode or even gitpod or codespaces if you feel like developing in remote env) if you just want to "do" without reading too much of "why and how".

[2022-09-12 16:54] GuruComposer opened #26349 "ipdb no longer works with airflow test command"
### Apache Airflow version

2.3.4

### What happened

I used to be able to use ipdb to debug DAGs by running `airflow tasks test <dag_name> <dag_id>`, and hitting an ipdb breakpoint (ipdb.set_trace()).

This no longer works. I get a strange type error:

[code]

[2022-09-12 16:55] GuruComposer opened #26350 "Please let us debug tasks with ipdb"
### Description

Please let us debug tasks with ipdb

### Use case/motivation

Please let us debug tasks with ipdb

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://github.com/apache/airflow/blob/main/CODE_OF_CONDUCT.md)

[2022-09-12 17:22] uranusjr commented on #26350
Could you provide context to this? What did you try, and what prevents it from being successful? Are there any errors? We don’t disallow what you want to do, so it’s impossible to tell what Airflow is supposed to do to satisfy you, based on what you have put down in the issue description.

[2022-09-12 17:28] GuruComposer commented on #26350
Hi @uranusjr, okay, I've updated this issue. Is the context sufficient?

[2022-09-12 18:12] karoldob opened #26354 "KubernetesPodOperator task status on multiple containers with one failed"
### Apache Airflow version

2.3.4

### What happened

I am using KubernetesPodOperator to launch pod with multiple containers.
When one container fail, Pod becomes in "Error" state, but task is "running".

### What you think should happen instead

When Pod is in Error state, task should fail or restart (?).

### How to reproduce

Simple DAG to reproduce issue - one container fails after 25s.
[code

[2022-09-12 21:05] #26174 closed

[2022-09-12 21:58] lozuwa commented on #24731
If it helps, this one has been an issue for me as well. I might take a deeper look, maybe I can help.

https://github.com/apache/airflow/discussions/25651

[2022-09-13 00:15] #19556 closed

[2022-09-13 02:56] uranusjr commented on #23621
Fixed as a part of #26081, I believe.

[2022-09-13 02:56] #23621 closed

[2022-09-13 03:01] uranusjr commented on #23803
Now we have `map` and `zip` implemented (to be released in 2.4), do we have anything left to do in this issue?

[2022-09-13 03:41] amoGLingle commented on #24909
ah sry for the delay!
DB is RDS mysql 8.0.23
executor = CeleryExecutor
celery module vers 4.4.2

Full module list, just in case:
{code}
centos]# pip list
Package                                  Version
---------------------------------------- ---------
alembic                                  1.6.2
amqp                                     2.6.1
anyio                                    3.2.1
apach

[2022-09-13 03:49] amoGLingle commented on #24909
Also, an update.
We've been running  with a single schedule since the last hang and haven't see the issue since then.
Not saying that HA is the issue, just that we haven't seen issue.
Thx,
G

[2022-09-13 06:13] m3t41 opened #26359 "HELM CHART over ARGOCD on OpenShift -> Scheudular disconnections"
### Apache Airflow version

2.3.4

### What happened

I am an SRE, and i have a Problem to get the Helm Chart up und Running on an OpenShift Cluster.

changes i made to the chart

Executor = KubernetesExecutor
SecurityContext disable in all Stages
Set Limits in all Stages
Redis = disable

that's it

and then i get these errors
[34m2022-09-13 05:52:43,424[0m] {[34mconnectionpool.py:[0m810} WARN

[2022-09-13 06:54] MatrixManAtYrService opened #26360 "dynamic dataset ref breaks when viewed in UI or when triggered (dagbag.py:_add_dag_from_db)"
### Apache Airflow version

2.4.0b1

### What happened

Here's a file which defines three dags.  "source" uses `Operator.partial` to reference either "sink".  I'm not sure if it's supported to do so, but airlflow should at least fail more gracefully than it does.

[code]

Tried to trigger the dag in the browser, saw this traceback instead:

[code]

I can also summon a similar traceback by just try

[2022-09-13 07:46] esthomw commented on #22072
@potiuk I would love to address that issue, however, I am not sure if I currently have enough time. In that case please go ahead @Bowrna :) I will try to help with reviewing and testing

[2022-09-13 08:36] potiuk commented on #24844
I would kindly suggest any of the people who are commenting here, on a closed task to submit a PR fixing it. I think there are a number of ways this can be handled - so if any of you has an idea, constructive PR proposing a fix (especially that there is a linked PR that disabled it that can be used as starting point) is much better approach than commenting on a closed issue.

I heartily invite any

[2022-09-13 09:00] potiuk commented on #24909
Thanks. That might help with pin-pointing it.

[2022-09-13 09:53] rohit-mobstac commented on #24534
Is this issue solved? I can see the same issue happening in AWS MWAA as well.

[2022-09-13 10:23] potiuk commented on #24534
I think it would have been closed by now if it was. But if you want to take a stab and attempt to fix it @rohit-mobstac - feel free. @bispaul -> I have missed your comment before, but I think I have no specific guidance on it, this just need diagnosis why it happens and fixing, just regular contribution workflow :)

[2022-09-13 10:26] potiuk commented on #24534
And just to explain - I have no idea why it happens, and 95% of solving this issue is tracking why it happened. Fixing it will be probably one-liner, so any guidance that I could spare would be equal to fixing the problem (but I have other pressing issues and this one is more suited for someone who might want to take first steps into contributing to Airflow, as this is at most annoying edge, case,

[2022-09-13 10:42] rohit-mobstac commented on #24534
This is not a fix, but something I have noticed. Unpausing a scheduled DAG will automatically kickstart the dag run. Maybe you do not have to explicitly trigger the paused dag and just enable the dag. @RNHTTR
Seems like a good issue. Will look into this

[2022-09-13 11:04] BasPH opened #26364 "Whitespaces disappear when referencing file content"
### What do you see as an issue?

Looking at the [TaskFlow API tutorial](https://airflow.apache.org/docs/apache-airflow/stable/tutorial_taskflow_api.html), it appears whitespaces are missing in the code:

![image](https://user-images.githubusercontent.com/6249654/189884877-3ad87452-a697-49e2-b843-fc7c249fb0eb.png)

While they are present in the code: https://github.com/apache/airflow/blob/88b274c9

[2022-09-13 11:09] potiuk commented on #26364
Yeah. Small but annoying issue :)

[2022-09-13 11:18] bispaul commented on #24534
Hi @potiuk please assign it to me.

[2022-09-13 12:16] potiuk commented on #24534
Just did :)

[2022-09-13 13:48] #15286 closed

[2022-09-13 15:21] denimalpaca opened #26367 "Add SQLColumnCheck and SQLTableCheck Operators for BigQuery"
### Description

New operators under the Google provider for table and column data quality checking that is integrated with OpenLineage.

### Use case/motivation

Allow OpenLineage support for BigQuery when using column and table check operators.

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to fo

[2022-09-13 18:49] MatrixManAtYrService commented on #26360
https://github.com/apache/airflow/pull/26369 fixes the problem that was preventing me from even running the DAG.   Now I'm getting task failures:

[code]

If specifying outlets in this way is not supported, then `TypeError: unmappable or already specified argument: outlets` is a reasonable way to fail.  So I guess the question now is: Is this a bug or a feature?

[2022-09-13 20:09] lordvcs commented on #16176
Tried using K9s still dont see any log output, most of the time it just says `stream logs failed container ...` for each pod/container that I check.
Any other ideas to debug

[2022-09-13 20:21] potiuk commented on #16176
kubectl ? How else are you debuggint other charts? Just do the same.

[2022-09-13 21:56] PadmajaPeri opened #26375 "Airflow Webserver returns incorrect HTTP Error Response for custom REST API endpoints"
### Apache Airflow version

Other Airflow 2 version

### What happened

We are using Airflow 2.3.1 Version. Apart from Airflow provided REST endpoints, we are also using the airflow webserver to host our own application REST API endpoints. We are doing this by loading our own blueprints and registering Flask Blueprint routes within the airflow plugin.

Issue: Our Custom REST API endpoints are retu

[2022-09-14 00:40] mik-laj opened #26378 "Introduce flake8-simplify to simplify our code."
### Description

We should consider introducing [flake8-simplify](https://github.com/MartinThoma/flake8-simplify) to enforce some best programming practice on CI.

This is the error list that detects this tool for the `scripts/` directory:
[code]

This is the error list for the `airflow` package excluding `airflow.providers` package.
[code]

### Use case/motivation

_No response_

### Related issu

[2022-09-14 00:50] lyso opened #26379 "SparkKubernetesSensor credential expires in 20 min"
### Apache Airflow Provider(s)

amazon

### Versions of Apache Airflow Providers

_No response_

### Apache Airflow version

2.2.2

### Operating System

centos rhel fedora

### Deployment

MWAA

### Deployment details

v2.2.2

### What happened

When using SparkKubernetesSensor, the task failed if the pod running for more than 20 minutes.

Error message raised on the 21st minute:

[code]
The assu

[2022-09-14 02:17] hkc-8010 commented on #16790
Hello Committers,

Are we planning to implement this feature in Airflow? This would really help to identify which tasks were manually marked as success or failure and would add a great feature in terms of platform observability.

[2022-09-14 03:48] yc0 commented on #26340
the issue came from podTemplate configuration.
when configuring the podTemplate, you have to modify 3 volumes for using the external database along with `metadataSecretName`.
[code]

[2022-09-14 03:48] #26340 closed

[2022-09-14 05:53] MatrixManAtYrService opened #26380 "UI doesn't handle whitespace/empty dataset URI's well"
### Apache Airflow version

main (development)

### What happened

Here are some poor choices for dataset URI's:

[code]

And a dag file which replicates the problems mentioned below: https://gist.github.com/MatrixManAtYrService/a32bba5d382cd9a925da72571772b060 (full tracebacks included as comments)

Here's how they did:
|dataset|behavior|
|:-:|:--|
|empty| dag triggered with no trouble, not selec

[2022-09-14 06:13] MatrixManAtYrService opened #26381 "Dataset list remembers old datasets"
### Apache Airflow version

main (development)

### What happened

Here's a simple pair of dags linked by a dataset:

[code]

I let airflow parse this, then I made the following edit:
[code]

I let airflow parse it again, then I made another edit:
[code]

Then I viewed the datasets page:
<img width="675" alt="Screen Shot 2022-09-14 at 12 07 08 AM" src="https://user-images.githubusercontent.com/583

[2022-09-14 06:38] potiuk commented on #16790
The features are implemwnted when someone implements it.. There bas to be someone who would like to take on the feature and work on it. It does  not depends on 'committers' as a whole but on the willingness of someone to do it. And it absolutely does not have to be commiter - if you for example want this feature badly you could take on the task and implement it. If your company has a need they cou

[2022-09-14 07:36] Taragolis commented on #25996
@kumbarsg I saw somewhere in the airflow slack that MWAA do not support update `apache-airflow-providers-amazon` right now and it uses fixed version, I thought it use [2.4.0](https://github.com/apache/airflow/blob/providers-amazon/2.4.0/airflow/providers/amazon/aws/operators/glue.py).

@vincbeck @ferruzzi @o-nikolas could you confirm or deny that information? (Sorry I do not actually know does you

[2022-09-14 10:01] #26360 closed

[2022-09-14 12:28] #26259 closed

[2022-09-14 12:58] billcrook commented on #12199
@tothandor Do you plan on issuing a PR for this change?

[2022-09-14 13:14] bertrand-buffat opened #26394 "could not queue task - airflow 2.3.4 - kubernetes executor"
### Apache Airflow version

2.3.4

### What happened

Tasks are no longer scheduled since upgrading to airflow.2.3.4, with logs:
[code]
Even with only one dag running in a simple deployment, scheduled every 5 minutes, and enough slot in the default pool.

### What you think should happen instead

Tasks should be executed.

### How to reproduce

_No response_

### Operating System

Debian GNU/Linux

[2022-09-14 14:24] abhishekbhakat opened #26395 "Broken Task Tries, Landing Times, Duration pages due to large number of tasks"
### Apache Airflow version

2.3.4

### What happened

The graphs are not visible as the number of tasks is over 600 with significantly large names.

### What you think should happen instead

The page length should be a larger to fit the graph

### How to reproduce

A dag with over 300 tasks with task ids near to 50 chars

### Operating System

PRETTY_NAME="Debian GNU/Linux 11 (bullseye)" NAME="Deb

[2022-09-14 15:28] tothandor commented on #12199
No, or not recently. I couldn't really squeeze time for a full-fledged PR for the public, which would also require tests, documentation, and reviews. Maybe later I'll give it a try, but if you have the same in your mind, then please go ahead.

[2022-09-14 16:07] was-av opened #26397 "Deadlock dag_runs when max_active_runs=1 and dag_duration greater then schedule interval"
### Apache Airflow version

Other Airflow 2 version

### What happened

When max_active_runs set 1, new dag runs stopped when slow dag run duration greater then schedule interval

### What you think should happen instead

New dag runs don't stop execution after slow dag run finished.

### How to reproduce

DAG for reproduce
[code]

### Operating System

PRETTY_NAME="Debian GNU/Linux 11 (bullseye)"

[2022-09-14 17:15] SPTKL opened #26399 "GKEHook.create_cluster is not wait_for_operation using the input project_id parameter"
### Apache Airflow version

main (development)

### What happened

In the GKEHook, the `create_cluster` method is creating a GKE cluster in the project_id specified by the input, but in `wait_for_operation`, it's waiting for the operation to appear in the default project_id (because no project_id explicitly provided)
https://github.com/apache/airflow/blob/f6c579c1c0efb8cdd2eaf905909cda7bc7314f88/a

[2022-09-14 17:52] oz-r commented on #13853
Finally got around to updating Airflow and it seems to be working as expected now.

[2022-09-14 18:11] potiuk commented on #13853
Thanks for confirming it !

[2022-09-14 20:53] eeluve opened #26405 "helm chart fails during `post-install`"
### Official Helm Chart version

1.6.0 (latest released)

### Apache Airflow version

2.3.0

### Kubernetes Version

v1.20.6

### Helm Chart configuration

[code]

also had ::
--set webserverSecretKey=""
temporarily removed, testing one of hypotheses based on k8s events for a namespace

### Docker Image customisations

[code]

### What happened

recently deploy attempts end up in a state like this

[2022-09-14 23:43] jedcunningham commented on #26405
Does this work?

[code]

If so, slowly add stuff in until it doesn't. That might help us narrow down what's going wrong and/or let me reproduce it.

[2022-09-14 23:55] eeluve commented on #26405
it still doesn't work

[2022-09-15 00:04] jedcunningham commented on #26405
Something cluster related seems likely. When you describe any of the pending pods, normally you'll see why in the events. In the OP I had a bit of trouble determining if it was because of a volume or the statsd secret?

For postgres, we use the bitnami postgres chart as a subchat. `postgres.primary.nodeSelector` should work, though I haven't actually tried it.
https://artifacthub.io/packages/helm/

[2022-09-15 00:05] eeluve commented on #26405
thanks, checking `postgres.primary.nodeSelector`. I'll update this

[2022-09-15 00:06] jedcunningham commented on #26405
Sorry, I went from memory and got it wrong, it'd be `postgresql.primary.nodeSelector`!

[2022-09-15 00:19] eeluve commented on #26405
❤️ thanks man solved
also, a note: I'll quite likely kill my colleague, that I pinged 5 hours ago about whether this cluster is fine
lets just think of this as some nice experience

[2022-09-15 00:21] #26405 closed

[2022-09-15 00:31] #25446 closed

[2022-09-15 01:03] wookiist commented on #23145
Is there any update regarding this issue?
There are many tasks that fall into the 'scheduled' state when working on the backfill 😂

Apache Airflow 2.3.4 / Kubernetes Executor

[2022-09-15 07:18] divyanshugit commented on #25495
@josh-fell If this issue is still available, I would love to work on it.

[2022-09-15 07:33] was-av commented on #26397
I don't find this fix in the changelog, but this bug is not reproducible in version 2.3.4.
Thanks for the quick response.

[2022-09-15 07:34] #26397 closed

[2022-09-15 07:43] nicolamarangoni commented on #25442
This issue was solved by itself simply rebuilding the image with the current versions of all packages.
It looks like the error was not caused by the python-jenkins package itself but by a dependency (requests? certifi?)

[2022-09-15 08:32] ed-sparkes opened #26412 "Airflow api `dags/{dag_id}/tasks/{task_id}` only returning direct descendants in `downstream_task_ids` in response"
### Apache Airflow version

2.3.4

### What happened

We are trying to find a solution to clear a task and all its downstream tasks via the REST api. We tested a solution that included the following

- use `dags/{dag_id}/tasks/{task_id}` to get downstream_task_ids
- pass the failed task and the list of downstream_task_ids to `dags/{dag_id}/clearTaskInstances`

However it appears that the first cal

[2022-09-15 08:49] flaviussn commented on #26008
I had the same problem and I solved it deleting the DAG and re-executing

[2022-09-15 08:52] pierrejeambrun commented on #26381
Hello, I can help on this one :)

Should we add query strings to the endpoint to be able to filter out datasets that do not have any `consuming_dags`, `producing_tasks` (or both) ?

[2022-09-15 10:33] josh-fell commented on #25495
@divyanshugit All yours!

[2022-09-15 11:57] hterik commented on #20982
I've been debugging this and  #25021 for a while now and my prime suspect is also this query. But rather the `SchedulerJob.state != State.RUNNING` part.
I think that condition should only be used on the periodic call of `adopt_or_reset_orphaned_tasks()`. But first time on scheduler startup, it should pick up everything, including things that were previously in running state.
It might not be entire

[2022-09-15 12:30] FelipeArisi opened #26417 "High CPU usage when a DAG is modified"
### Apache Airflow version

Other Airflow 2 version

### What happened

Whenever I update the DAGs, the scheduler's CPU usage increases by exactly 3 hours.
Here is an example using grafana.

![image](https://user-images.githubusercontent.com/15203706/190402811-53c9d007-82bb-45c8-ad2c-91c288f7b202.png)

I'm using a linux server and airflow is running with docker-compose.
Image: apache/airflow:2.2.1

[2022-09-15 12:48] ihorlukianov commented on #23566
Hello @potiuk, @Dris101
May I take this?

[2022-09-15 12:50] Dris101 commented on #23566
Please do! I did submit a pull request but I think it slipped through the review net. Thank you!

[2022-09-15 12:54] potiuk commented on #26397
Yeah. Sometimes we get such fixes as "by-product" of other fixes, so upgrading to latest version from the "major" line is always good thing to try first. Saves a ton of time!

[2022-09-15 12:55] potiuk commented on #25442
Cool. Closing.

[2022-09-15 12:55] #25442 closed

[2022-09-15 15:00] BillSullivan2020 commented on #24015
I totally appreciate that everyone is busy.
Please can you provide an update.

[2022-09-15 15:50] shubham0473 commented on #25024
Can I work on this?

[2022-09-15 15:51] potiuk commented on #24015
Before someone can look at it can you please upgrade to 2.3.4 and see if it is fixed? yes, we were all busy.

This does not seem like a widespread issue so likely some of your evironmental issue, that's why I think you have not heard from anyone (and likely that might take some time). This is a software you get for free and people here respond in their free time, so if there is something that look

[2022-09-15 16:00] potiuk commented on #25024
Feel Free

[2022-09-15 19:48] Gollum999 commented on #24844
@potiuk Well, if it were up to me I would just revert the original PR, but that doesn't seem especially productive. :smile:

I was hoping to get some more details from @yingxuanwangxuan (or perhaps @bbovenzi) to better understand the reason behind this change.

Would it help to re-open this thread?  Or start a new one?

[2022-09-15 20:38] albertopinardi commented on #26394
Hey! I'm facing the same issue and I have a similar configuration.
I'm going to share what I tested so far, but first a bit of background:

- I had a perfectly functional 2.2.3 on Kubernetes[EKS 1.21] (installed with the bitnami/airflow Helm Chart).
- I upgraded straight to the 2.3.4 doing a `airflow db upgrade` and everything was fine (for the first 10 minutes).
- Tasks won't schedule with an unr

[2022-09-15 21:09] #26262 closed

[2022-09-15 22:52] fritz-astronomer opened #26424 "`POST /taskInstances/list` with wildcards returns unhelpful error"
### Apache Airflow version

2.3.4

### What happened

https://airflow.apache.org/docs/apache-airflow/stable/stable-rest-api-ref.html#operation/get_task_instances_batch
fails with an error with wildcards while
https://airflow.apache.org/docs/apache-airflow/stable/stable-rest-api-ref.html#operation/get_task_instances
succeeds with wildcards

Error:
[code]

### What you think should happen instead

_

[2022-09-15 22:57] dstandish commented on #26424
it probably does not make sense to support wildcards on the batch (i.e. POST) endpoint, because wildcards can be handled by the normal, non-batch version.  batch's stated pupose is for when you have too many dag_ids for the GET request.  so, since it doesn't work now anyway, probably best solution here is to raise 404 / some helpful message suggesting to use the get endpoint.   or... could just fi

[2022-09-16 03:23] uranusjr commented on #26412
This is expected since “downstream” in Airflow is defined as direct descendants. A flag on the API to find all descendants can be added. There’s already code for this (`get_flat_relatives`) but it’s comparatively expensive and likely shouldn’t be called by default.

[2022-09-16 03:49] chenglongyan commented on #26412
Use ”include_downstream" as parameter of clearTaskInstances ?

[2022-09-16 05:00] uranusjr commented on #26008
I was just seeing a separate case for this particular error, and the setup also has a similar pattern—the DAG file imports a helper module (`template` here) that implements a function that returns the custom `executor_config`. And the error is emitted from here:

https://github.com/apache/airflow/blob/39c91697a5b4e8a6f05c0fc8cb0c93b18b8bfcd1/airflow/kubernetes/pod_generator.py#L169-L182

Since the

[2022-09-16 05:44] hterik commented on #26008
Is there a way to avoid serializing+deserializing the executor_config.pod_override in the first place? It should be enough that the scheduler loads it from the dag right before launching the pod? Why does it need to be in the database at all?
There's been quite a few bugs around this lately, would be good if it could be avoided entirely.

[2022-09-16 05:54] uranusjr commented on #26008
The scheduler never loads the DAG from file because it would enable arbitrary code execution that may break the scheduler internals. The documentation explains this: https://airflow.apache.org/docs/apache-airflow/stable/dag-serialization.html

[2022-09-16 06:41] zhaowenliang521 opened #26427 "Can not get task which status is null"
### Apache Airflow version

Other Airflow 2 version

### What happened

with List Task Instance airflow webUI,when we search the task which state is null,the result is:no records found.

### What you think should happen instead

should list the task which status is null

### How to reproduce

use airflow webui
List Task Instance
add filter
state equal to null

### Operating System

oracle linux

#

[2022-09-16 07:43] HeshamMeneisi opened #26429 "ExternalTaskSensor: An option to use the data_interval variables rather than execution_date"
### Description

Since `execution_date` is deprecated, it makes sense that this sensor or a new version of it (for backward compatibility) uses the `data_interval` variables.

### Use case/motivation

I want to make sure that the data interval this DAG is about to operate on is covered by another DAG. For example, data was loaded up to this DAG's `data_interval_end`.

I believe the sensor itself i

[2022-09-16 08:02] raphaelauv opened #26431 "[BUG][2.4.0rc1] fresh install - Error: pg_config executable not found"
### Apache Airflow version

main (development)

### What happened

[code]

fail with

[code]

it was not the case with 2.4.0b1

### What you think should happen instead

_No response_

### How to reproduce

_No response_

### Operating System

ubuntu 22.04.1

### Versions of Apache Airflow Providers

_No response_

### Deployment

Other

### Deployment details

_No response_

### Anything else

_N

[2022-09-16 08:06] uranusjr commented on #26431
This is due to your environment not containing required Postgres libraries. Not sure why 2.4.0b1 was successful (maybe different constraints?) but this is not an Airflow issue IMO.

On Linux you can fix this with https://stackoverflow.com/questions/11618898/pg-config-executable-not-found

[2022-09-16 08:06] #26431 closed

[2022-09-16 08:10] uranusjr commented on #26429
Makes sense. I believe there’s some discussion somewhere, but this write up is more complete. I think we should allow using either `data_interval_start` _or_ `data_interval_end`; technically `data_interval_start` can be different from `execution_date`.

To simplify implementation, perhaps it’s a good idea to split the logic into three sensors, one for each value? The three sensors would inherit fr

[2022-09-16 10:04] chenglongyan commented on #26424
@fritz-astronomer,  The POST parameter data cannot be None

[code]

[2022-09-16 10:10] ephraimbuddy commented on #26194
cc: @bbovenzi

[2022-09-16 11:01] potiuk commented on #26431
I also suggest to use the official Airflow image to start from. The "slim" version is pretty small and you can add any providers you want, it also contains all the necesary libraries to connect to postgres. And you do not have to installl airflow or worry about constraints - because it is already done. https://airflow.apache.org/docs/docker-stack/index.html

[2022-09-16 12:48] LuigiCerone commented on #9134
Hello, any update on this?

[2022-09-16 13:02] Miskho commented on #26394
Hi eveyone,

I am facing the same issue, basically after updating to 2.3.4 some of mine scheduled tasks would not run i.e. the DAG run itself would be labeled as running, but the first task in the DAG would just get set to queued and would never run, the scheduler would report the same

[code]

Runing the task manually would succeed, but scheduled tasks would not run, if I drop the dag_runs from d

[2022-09-16 14:20] fritz-astronomer commented on #26424
Oh, @chenglongyan - thanks. That makes a lot of sense 😞
Maybe this can just be a more helpful error message on that route saying that a data payload is required
current message
[code]
vs
[code]

[2022-09-16 15:06] odaneau-astro opened #26437 "Unable to configure variables with dashes in the name when using GSM secret backend"
### Apache Airflow version

2.3.4

### What happened

I am attempting to configure variables with a Google Secrets Manager secrets backend and it appears that having dashes in the name prevents Airflow from loading the variables.

Here is what I did:
1. Create some test variables with
[code]
2. Logged in the GCP console and set all the secrets values to "12345"
3. Created a simple DAG to test:
[co

[2022-09-16 15:11] Jeoffreybauvin opened #26438 "Kerberos : swtich MIT to Heimdal"
### Apache Airflow version

2.3.4

### What happened

Hi,

In my infrastructure, we are using Kerberos Heimdal for our keytabs. I can see that airflow seems to be using MIT...

I managed to switch to Heimdal by customizing the image  :  replacing krb5 packages with heimdal-clients.

[code]

But the kinit command used by Airflow seems to be specific with MIT :

[code]

the "-r 5m" seems to be the p

[2022-09-16 16:02] dstandish opened #26440 "can't have different DAGS_FOLDER between scheduler and worker"
### Apache Airflow version

2.4.0b1

### What happened

tried to run something with virtualenv scheduler and kube exec and task failed to run as a result of this

### What you think should happen instead

_No response_

### How to reproduce

_No response_

### Operating System

official docker image

### Versions of Apache Airflow Providers

_No response_

### Deployment

Virtualenv installation

[2022-09-16 16:16] potiuk commented on #26424
Good idea :). Maybe you would like to contribute a fix for that :) ?

[2022-09-16 16:38] dstandish commented on #26424
or maybe the API can be made to handle None?

[2022-09-16 16:41] Jeoffreybauvin commented on #26438
I can try, but I'm not sure what I need to do. Change the possible options for kinit ? Or switch to heimdal ?

[2022-09-16 17:30] potiuk commented on #26438
Add options only. Removing support for MIT kerberos would make a breaking change (and there are probably plenty of users using MIT one, so that wouldn't be empathetic towards them.

[2022-09-16 17:37] maheshsv commented on #26438
can you please assign it to me ,

[2022-09-16 17:39] maheshsv commented on #26424
i will work on this issue , can you please assign it to me

[2022-09-16 17:45] potiuk commented on #26438
Assigned @maheshsv !

[2022-09-16 19:07] Jorricks commented on #16790
I was wondering, what would be the best DB schema change? Should it be a separate table or would it make more sense to add an extra field to the DagRun and TaskInstance tables?

[2022-09-16 19:13] eladkal commented on #12563
This issue is reported against EOL version of Airflow.
If you still experiance the issue on latest Airflow version please add relvant information

[2022-09-16 19:13] #12563 closed

[2022-09-16 19:16] eladkal commented on #14259
Does this happens with latest Airflow version?

[2022-09-16 19:17] eladkal commented on #15527
Does this issue still happens on latest Airflow version?

[2022-09-16 19:18] eladkal commented on #17232
@potiuk is this issue still relvant?

[2022-09-16 19:20] eladkal commented on #19534
Can you please check if solved with 2.4.0rc1?

[2022-09-16 19:22] eladkal commented on #19788
Do we still need this task?
From what i've seen the CI does catch unexpected warnings.

[2022-09-16 20:31] Gollum999 commented on #21895
I'm getting this same error when trying to use `Variable.get` from within a custom `Timetable`.

[2022-09-16 20:33] potiuk commented on #17232
We workarounded it since. Closing.

[2022-09-16 20:33] #17232 closed

[2022-09-16 21:53] albertopinardi commented on #26394
Update:
The downgrade was unsuccessful (to 2.2.5) so i performed a `airflow db erase` to ease out some scheduler pain over a misaligned schema in the metadata store. But the fresh 2.2.5 performed just fine (so far). I think i'm going to leave the things as they are right now and just following what the outcomes are on the other issues on the same topic.

[2022-09-16 22:11] hhmahmood opened #27425 "get_dags does not fetch more than 100 dags."
Hi,

The function does not return more than 100 dags even setting the limit to more than 100. So `get_dags(limit=500)` will only return max of 100 dags.

I have to do the hack to mitigate this problem.
[code]
Versions I am using are:
[code]
and
[code]

Best,
Hamid

[2022-09-16 22:37] blag commented on #26381
I like the idea of separating out dataset update statuses into separate tabs/categories.

[2022-09-17 00:01] shubham22 commented on #22512
@virendhar-aws - could you confirm if you were able to verify this? If yes, we should close this ticket.

[2022-09-17 02:56] uranusjr commented on #16790
I'd say it's better to add a column.

[2022-09-17 07:55] sai3563 opened #26448 "Getting 404 not found error when writing airflow logs to google cloud storage"
### Apache Airflow version

2.3.4

### What happened

Hello, I've come across something that I think is most likely a bug in airflow.

After I setup remote logging to google cloud storage in airflow, I noticed that whenever airflow tried to save logs to the cloud, I would get this error:

[code]

But on google cloud storage, logs were being saved just fine. On analyzing the relevant source code, I

[2022-09-17 07:58] eladkal commented on #14744
This issue is reported against older version of Airflow.
Please check latest Airflow version to verify if the problem still happens

[2022-09-18 05:47] bbovenzi commented on #24844
Looking at this again, maybe we should revert this change. It is possible to turn off auto-refresh when a user doesn't want it. Therefore, the previously functionality is the most flexible for all users. @Gollum999 I'd welcome a PR to change it.

[2022-09-18 05:49] #24350 closed

[2022-09-18 05:53] bbovenzi commented on #23417
@karakanb what is your use-case? I would still want to keep it separate so that we can quickly iterate on the grid view. But maybe the existing task instances REST API endpoints can be improved.

[2022-09-18 12:32] potiuk commented on #26200
Hmmm I think everything is as expected.

1) when you manually set task on 10.00  to "skipped" - it will be skipped without taking "depends_on_past" into account. "Depends_on_past" only prevents the tasks from RUNNING when the same task in previous instance is not "succeeded" or "skipped". But when you manually force it to "skip" this is not done. If you would like it to "wait" for previous task to

[2022-09-18 14:07] plutoid commented on #25372
thanks for your reply, I will check with my colleagues and see what will happen if we direct output to /dev/null.

[2022-09-18 17:26] eladkal commented on #9327
For anyone who wants to pick it up
this is an enhancment to [airflow tasks state](https://airflow.apache.org/docs/apache-airflow/stable/cli-and-env-variables-ref.html#state_repeat1) i guess it should have similar flags like the [`clear`](https://airflow.apache.org/docs/apache-airflow/stable/cli-and-env-variables-ref.html#clear)  command

[2022-09-18 19:31] potiuk commented on #25926
Feel free.

[2022-09-18 19:47] potiuk commented on #26215
The discussion thread is not in slack. It should be at the devlist and you should start it yourself by sending an email to the devlist. The archive is here: https://lists.apache.org/list.html?dev@airflow.apache.org. and you can find info on how to subscribe here: https://airflow.apache.org/community/

U syggest you start discussion and summarize the change and link t the AIP there. We are about to

[2022-09-18 20:11] #26273 closed

[2022-09-18 20:12] #26279 closed

[2022-09-18 20:12] #26283 closed

[2022-09-18 21:06] #15783 closed

[2022-09-18 21:27] potiuk commented on #26016
I personally have no opinion on the interface here - I think @uranusjr here is better to propose some "good" interface, however I think that packing this (and possibly few other functions into common.taskflow package (and make packages that need it, depend on it, is a good idea)

[2022-09-18 21:41] potiuk commented on #26248
I marked it as a good first issue for someone to solve (hopefully someone will be interested, pick it up and fix it) - but If you think you can open a PR @zzsza @patricker -  opening a PR and leading it completions is the fastest way to get it fixed.

[2022-09-18 21:52] potiuk commented on #26354
I believe You need to handle it in your task pod - to check if the other pods are failing as expected, and if they are not, the task should fail. This is very similar story as with "init" containers monitoring - we do not handle currently "automated" closing of such init containers automatically and the task should close them as needed (so no daemon kind of tasks).

I think there are far too many

[2022-09-18 21:59] potiuk commented on #24731
Can you please check @vivek-zeta @NaveenGokavarapu19 if 2.4.0rc1 solves it ? I am closing it provisionally - unless you test it and see that it is not fixed. We can always re-open it in this case.

[2022-09-18 21:59] #24731 closed

[2022-09-18 22:03] Taragolis commented on #26431
@raphaelauv I've got the same issue when prepared new image based on `slim` version with newest version of `apache-airflow-providers-postgres==5.2.1`.

There is some changes in requirements for 5.2.1 `psycopg2-binary` replaced by `psycopg2`. In my case it fixed by add additional debian packages `libpq-dev` and `build-essential` before install providers.

[2022-09-18 22:29] potiuk commented on #26431
This is correct. The postgres provider dependenceis are now following the recommendation of Postgres when it comes to postgres dependency (see discussion here: https://github.com/apache/airflow/pull/25710) - this is not considered as a breaking change, because postgres provider is optional and you can install those dependencies additionally as needeed (reasoning explained in the issue).

I also re

[2022-09-18 22:54] potiuk commented on #26375
I think the problem is because connexion has a custom handler set for both 404 and 405 methods that in case of a call that does not match the API URL, will return `not_found` i.e. 404 - even if originally it was 405:

https://github.com/apache/airflow/blob/main/airflow/www/extensions/init_views.py#L190

[code]

I marked it as a "good first issue" and hopefully somoene will take care of it, but I t

[2022-09-18 23:00] potiuk commented on #26378
I like it, but I think this one (like most of the tooling updates) needs devlist proposal and likely lasy consensus there (and then introduction on pre-commit level). Maybe you would like to follow that through @mik-laj ?

[2022-09-18 23:03] potiuk commented on #26379
I think something to take a look by @ferruzzi @o-nikolas @vincbeck to take a look at.

[2022-09-18 23:10] potiuk commented on #23512
Just to repeat it @jhtimmins - I think you are the only one who somewhat knows what the problem is about and what the solution might be (and you attempted to fix it in #24065). Do you have a clue what it could be? I think I would be willing to help with that and maybe even be able to provide some proposals to improve, but I have no clue where to start and what the reason might be (and seems that t

[2022-09-18 23:35] potiuk commented on #23145
I think there were quite q few changes to backfill - so you might try 2.4.0rc1 @wookiist  - and see if it solves the problem. It might not be it, but worth trying

[2022-09-19 06:04] potiuk commented on #21225
I think a really good way to start wil be to upgrade Airflow to 2.4.0 once it is out (even today possibly?) and install it with the right constraints (so that the right celery /kombu packages get installed). That sounds like it could have been handled already in the meantime by some of the recent Airflow fixes or - more likely - recent celery/kombu updates.

I think if this is confirmed for 2.4.0,

[2022-09-19 07:21] potiuk commented on #26008
Yes. Scheduler ONLY works on serialized version of the DAG where only structure and relations are kept. Actually in 2.3 to some extent and in 2.4. where we completed DAGFIleProcessor separation, technically you could run scheduler similarly as webserver without accessing DAG folder I believe (and possibly in the next chart we might support this case and do not mount DAG files to scheduler at all.

[2022-09-19 07:26] potiuk opened #26474 "Do not mount DAG folder to scheduler in "standalone dag processor" mode in Chart"
### Description

I believe with "standalone dag processor" completed in 2.4, Scheduler should not need a DAG folder to be mounted?

Should we disable the mount it in the helm chart in "standalone dag processor" mode similarly as we do for webserver in all cases?

### Use case/motivation

Additional layer of security of the Scheduler - which would not have to have access to DAG code .

### Related

[2022-09-19 07:28] potiuk commented on #26474
cc: @jedcunningham @ashb @mhenc @ephraimbuddy -> do you think of any reason why Scheduler in standalone dag processor mode would need DAG code? I can't think of any, but maybe I forgot about somethig so I raised the issue (and happy to implement it before we release the new chart) - but I wanted to get your feedback on it.

[2022-09-19 08:15] mhenc commented on #26474
No, I hope not - that was the whole idea of DagProcessor separation - to make Scheduler "trusted component" that runs without any iteracation with user code.
If there is still any dependency required, then we should fix it.

[2022-09-19 10:07] anayrat opened #26476 "Consider faster compression algorithm"
### Description

Hello,

I suggest to consider faster compression algorithm, such as zstd or lz4.

### Use case/motivation

Such algorithms are way faster than gzip and as efficient as gzip :
https://github.com/facebook/zstd#benchmarks

Furthermore, the cpu cost will be lowered.

Maybe you can consider slower but more efficient algorithm, when size matter more than time to compress/decompress (lzm

[2022-09-19 10:17] #25575 closed

[2022-09-19 10:53] #24597 closed

[2022-09-19 10:53] MISSEY opened #26479 "Error in database table "task_fail" while DAGs failed due to some errors in dags."
### Apache Airflow version

Other Airflow 2 version

### What happened

I installed the airflow using helm chart 1.6.0, changed values of default airflow : 2.3.0-python3.8. When the dags failed, inside logs the error is

[code]

### What you think should happen instead

It should display me the error that have happened inside the dags, since there is a column name 'execution date' is missing, the

[2022-09-19 10:59] MISSEY commented on #26479
[Open issue in Airflow Chart](https://github.com/airflow-helm/charts/issues/647)

[2022-09-19 11:16] potiuk commented on #26201
@jledoux-sonergia  - The 2.4.0 is out today and It should have the IPV6  problem fixed. @devashish-parmar - if the request is forbidden, you should have looked at the webeserver logs and it should tell you the exact reason for the problem you have

Timezone is not an issue. You should check if TIME is synchronized on all your machines.

Converting that into a discussion as either some of the probl

[2022-09-19 11:20] potiuk commented on #26437
Feel free to attemp to fix it

[2022-09-19 11:33] potiuk commented on #19534
I completely do not understand what the problem was about, but since it was only one environment, this was likely environmental issue (I would check memory and increase it before you come back here). Converting it into a discussion in case you would like to clarify what the problem really is and tested it with Airflow 2.4.0 (just released).

[2022-09-19 11:34] potiuk commented on #19788
I thint it would be worthwhile. Currently we only show warnings produced at "airflow" module" but we might want to get rid of  all of them.

[2022-09-19 11:37] potiuk commented on #21895
@Gollum999 Then please open an issue describe exactly what you and what you modify. I think you should not use Variable.get from within custom timetable - depends where and how you use it, but we will only know if you actually create an issue and provide sufficient level of detail that will allow us to asses if this is expected or not, or maybe even be able to fix it if we find that we can.

[2022-09-19 11:43] potiuk commented on #26394
You can also try 2.4.0 releaed today. There are many bug fixes and while we cannot pin-point the problem to a specific fix, several similar issues were fixed there.

[2022-09-19 11:48] potiuk commented on #22512
Closing. We can always reopen if we find it's not fixed

[2022-09-19 11:48] #22512 closed

[2022-09-19 11:48] V0lantis commented on #21225
We will try this @potiuk, thank you !

[2022-09-19 11:49] potiuk commented on #16790
Agree.

[2022-09-19 11:54] potiuk commented on #26448
Feel free to fix it - apparently we need to check other field for 404. the reason why it tries to get the log to see if it is not being overwritten, but first of all it only should check if the file exists rather than retrieve it and secondly, it should not print log if it does not.

[2022-09-19 11:54] potiuk commented on #26448
Assigned you!

[2022-09-19 11:56] potiuk commented on #21225
It's been released BTW :)

[2022-09-19 12:12] potiuk commented on #23417
I think "Generic" bulk retrieval of Airflow tasks (not optimized for UI but for bulk retrieval of data) could be added. Maybe you would like to design and contribute such an endpoint @karakanb - you seem to know hat you are doing with Python, adding yet another API endpoint should be easy following the exisitng ones and if you get it "generic" enough, it would be useful for others too.

[2022-09-19 13:28] #25508 closed

[2022-09-19 13:40] emredjan opened #26489 "Cannot fetch log from Celery worker"
### Apache Airflow version

2.4.0

### What happened

When running tasks on a remote celery worker, webserver fails to fetch logs from the machine, giving a '403 - Forbidden' error on version 2.4.0. This behavior does not happen on 2.3.3, where the remote logs are retrieved and displayed successfully.
The `webserver / secret_key` configuration is the same in all nodes (the config files are synced)

[2022-09-19 13:46] jedcunningham commented on #26474
This was already done in #23711, or am I overlooking something?

[2022-09-19 13:49] potiuk commented on #26489
Could be connected to IPV6 issue #24846 - which has been fixed in Airflow 2.4.0 (relased today) see https://github.com/apache/airflow/issues/26201  - please upgrade to 2.4.0 and see if the problem persists (and please comment here). If it does not fix it (or even before)  - taje a look at the logs of webserver and they should contain error logs/explanation where it was from.

Converting to discuss

[2022-09-19 13:59] potiuk commented on #26474
Nope. you did not. It's I who overlooked it.  :facepalm:

[2022-09-19 13:59] #26474 closed

[2022-09-19 14:03] #23566 closed

[2022-09-19 14:10] potiuk opened #26492 "Cannot fetch log from Celery worker"
### Discussed in https://github.com/apache/airflow/discussions/26490

<div type='discussions-op-text'>

<sup>Originally posted by **emredjan** September 19, 2022</sup>
### Apache Airflow version

2.4.0

### What happened

When running tasks on a remote celery worker, webserver fails to fetch logs from the machine, giving a '403 - Forbidden' error on version 2.4.0. This behavior does not happen on

[2022-09-19 14:11] potiuk commented on #26492
From the discussion:

Sorry if not clear, but this already happened in 2.4.0, which I installed today (It was fine on 2.3.3 and before).
Running on Python 3.10.5.

This is the message from the web UI:

![image](https://user-images.githubusercontent.com/389091/191034865-84bfef74-7639-45ce-9338-d51b9f80deac.png)

This is the relevant log from the remote celery worker when the web UI requests the tas

[2022-09-19 14:12] potiuk commented on #26492
Ah sorry - my mistake @emredjan . Looking into it.

[2022-09-19 14:16] potiuk commented on #26492
Are you sure you also restarted webserver

[2022-09-19 14:40] sakutepov commented on #26492
I have the same problem
The container works on the same machine, but not on different hosts

[2022-09-19 15:02] potiuk commented on #26492
I reproduced it and I think I have a fix - unfortunately it's not easily workaroundable I am afraid (If I got the right root cause)

[2022-09-19 15:02] potiuk commented on #26492
So we will need 2.4.1 sooon

[2022-09-19 15:03] potiuk commented on #26492
(And I think its me who caused it :( )

[2022-09-19 15:04] emredjan commented on #26492
I'm happy to modify installed files (`serve_logs.py`, `file_task_handler.py`, etc.) for testing, if it's that's simple of course.

[2022-09-19 15:19] potiuk commented on #26492
https://github.com/apache/airflow/pull/26493 contains the fix - one `/` needs to be added.

[2022-09-19 15:20] potiuk commented on #26492
@emredjan - it should be changed on the webserver (so it's not serve_logs.py that is guilty but file_task_handler.py on the webserver side.

[2022-09-19 15:21] potiuk commented on #26492
/log -> /log/

[2022-09-19 15:24] emredjan commented on #26492
Perfect, I confirm this indeed fixes the issue. Thanks for the swift help @potiuk !

[2022-09-19 15:29] potiuk commented on #26492
Would be great if it wasn't there in the first place :( .Thanks for confirming!

[2022-09-19 16:24] jtvmatos opened #26494 "[Helm Chart] Support multiple DagProcessors"
### Description

Airflow 2.4.0 has introduced support for [Support multiple DagProcessors parsing files from different locations](https://github.com/apache/airflow/pull/25935).

However, Helm chart only supports [Provision Standalone Dag Processor](https://github.com/apache/airflow/pull/23711) (or at least will support in Airflow Helm Chart 1.7.0).

### Use case/motivation

For Airflow Helm Chart

[2022-09-19 16:37] #26492 closed

[2022-09-19 17:19] ihorlukianov commented on #20898
Hi @potiuk, @easontm, do you mind if I take over?

[2022-09-19 17:53] jens-scheffler-bosch commented on #14831
I tried to investigate this issue but can not re-produce on latest main. At least for 2.4.0 this should be resolved.

[2022-09-19 18:04] potiuk commented on #23417
The difference is that we might want to change grid data endpoint in a backwards-incompatible way in the future, to serve Airflow UI better. It might have some optimisations and more (or less) data retrieved to speed-UI responsiveness. And eventually we might make it an async endpoint as well.

Contrary to that I am talking about "bullk "retrieval of the data" that should be stable. I think extend

[2022-09-19 18:13] ManikandanUV opened #26497 "Upgrading to airflow 2.4.0 from 2.3.4 causes NotNullViolation error"
### Apache Airflow version

2.4.0

### What happened

Stopped existing processes, upgraded from airflow 2.3.4 to 2.4.0, and ran airflow db upgrade successfully. Upon restarting the services, I'm not seeing any dag runs from the past 10 days. I kick off a new job, and I don't see it show up in the grid view. Upon checking the systemd logs, I see that there are a lot of postgress errors with webserv

[2022-09-19 18:51] BasPH opened #26499 "Dynamic task mapping zip() iterates unexpected number of times"
### Apache Airflow version

2.4.0

### What happened

When running `zip()` with different-length lists, I get an unexpected result:

[code]

Iterates over `[("a", 1), ("b", 2), ("c", 3), ("a", 1)]`, so it iterates for the length of the longest collection, but restarts iterating elements when reaching the length of the shortest collection.

I would expect it to behave like Python's builtin `zip` an

[2022-09-19 18:58] o-nikolas commented on #26379
I'm not a spark/kubernetes expert, but does this really have anything to do with AWS? The response body you're getting is from the kubernetes api which is using it's own connection/client from the cncf hook modules to hit the `CustomObjectsApi` (I have no idea what this is). This request is timing out. I'd have to do a deep dive to see how the cncf client does authentication and how that may be ti

[2022-09-19 19:01] nicor88 commented on #26394
Not sure if totally related to this, but I'm also getting some weird behavior with the k8s executor and pod_overwrites. See details [here](https://apache-airflow.slack.com/archives/CCV3FV9KL/p1663609356775399). Then when I'm clearing the task from the UI I'm getting errors similar to the one posted above...

[2022-09-19 19:03] potiuk commented on #14831
Closing this then. Thanks @jens-scheffler-bosch for looking at it. we can always reopen or create a new issue if needed.

[2022-09-19 19:03] #14831 closed

[2022-09-19 19:06] george-zubrienko commented on #26008
On some of our dags tasks became stuck in queued state with scheduler reporting invalid executor config (assigned with pod_override: V1Pod). Not sure if this is the same issue though.

Upgrading to 2.4.0 doesn't help. Downgrading to 2.3.3 fixes the issue.

[2022-09-19 19:07] potiuk commented on #26379
Yeah I think you are right.  this is likely Spark Kubernetes Issue only.

[2022-09-19 19:10] micaelamaria opened #26503 "connection"
### Apache Airflow Provider(s)

postgres

### Versions of Apache Airflow Providers

Here my pip free | grep apache-airflow-providers:
apache-airflow-providers-amazon==5.1.0
apache-airflow-providers-common-sql==1.2.0
apache-airflow-providers-ftp==3.1.0
apache-airflow-providers-http==4.0.0
apache-airflow-providers-imap==3.0.0
apache-airflow-providers-microsoft-azure==4.2.0
apache-airflow-providers-p

[2022-09-19 19:11] dstandish commented on #26008
@george-zubrienko can you share the executor config you are using and the traceback?

[2022-09-19 19:24] george-zubrienko commented on #26394
Finally found the same issues as ours! Tried 2.4.0, doesn't help, tasks still stuck in queued with the same behaviour. Downgrade to 2.3.3 fixes the issue.

[2022-09-19 19:29] jens-scheffler-bosch commented on #14338
I believe this is rather a technical limitation where documentation might need to be improved or we need to have a warning raised in logs. Each task that is being executed requires a worker slot. A call to a subdag also allocates one worker slot until the execution of the subdag is completed.

I tried to re-produce the issue with the `example_subdag_operator.py` that is shipped with the example DA

[2022-09-19 20:11] eladkal commented on #26379
We had similar issue with EKS creds expiring after 15 minutes https://github.com/apache/airflow/pull/17951

[2022-09-19 20:24] o-nikolas commented on #26379
Indeed, but in that case, the code in question was AWS hooks/operators and was interacting with EKS directly. This issue seems to be at the Spark/Kube level in cncf modules only. Though, again, I'm no expert.

[2022-09-19 20:28] zachliu opened #26505 "The grid view shows incorrect DAG runs"
### Apache Airflow version

2.4.0

### What happened

Airflow 2.4.0's grid view has an issue:

**Grid view stop showing the latest DAG runs in 2.4.0 (regardless of schedule, it shows old dag runs)**

* case 1 (all 25 are old dag runs)
![2022-09-19_16-12](https://user-images.githubusercontent.com/14293802/191109057-53522453-907d-4476-b7ef-cc40a9818422.png)

* case 2 (old and new dag runs are mixed)

[2022-09-19 20:37] #22072 closed

[2022-09-19 20:48] o-nikolas commented on #26379
I was just confused because you linked an AWS related issue, my bad! :)

[2022-09-19 21:48] lewismc opened #26508 "SchedulerJob error message fails to perform string substitution for externally killed tasks."
### Apache Airflow version

Other Airflow 2 version

### What happened

In this particular instance a task was killed due to an Airflow task timeout. The Kubernetes Pod took too long to initialize.
Sentry reported the message as follows..
[code]
As you can see the string substitution is not being performed correctly. This is also shown in the following snippet.

![Screen Shot 2022-09-19 at 2 28 49

[2022-09-20 01:06] Taragolis commented on #14667
@potiuk @eladkal I think this issue fixed by #19700 (Airflow 2.3.0)

[2022-09-20 02:11] ChirangaL opened #26511 "Retrieve AWS Cloudwatch logs using aws_conn_id connection for GlueOperator"
### Apache Airflow version

2.4.0

### What happened

We are using cross account AWS connection to invoke a Glue job using GlueOperator. When the verbose flag is set we expected the cloudwatch logs to be retrieved from the AWS account where glue job was executed and displayed in Airflow logs.
We constantly receive below error on Airflow logs rather than getting cloudwatch logs

[code]

**Underlyin

[2022-09-20 06:22] herrmann1981 commented on #16432
From my point of view it would be great if tags would get assigned a color automatically by a color pallet. Like it is done in Grafana or Jira.
For example:
- tag1 (most often used) --> primary color
- tag2 --> secondary color
- tag2 .....

[2022-09-20 07:46] #26399 closed

[2022-09-20 07:47] potiuk commented on #14667
@maxcountryman - can you please verify it? I am closing it provisionally  (thanks @Taragolis ).

[2022-09-20 07:47] #14667 closed

[2022-09-20 08:18] #26155 closed

[2022-09-20 08:20] potiuk commented on #16432
cc: @bbovenzi @pierrejeambrun  -> maybe some ideas here ?

[2022-09-20 08:24] yc0 commented on #10367
I have no idea if the bug is fixed. I saw it is merged but I don't see this commit in the latest branches.
However, I would like to offer the other concept: **add your own style for the markdown**.
[code]
This way can also render tables in the form of Markdown correctly.

[2022-09-20 09:02] Taragolis commented on #26511
I've made some suggestion to current existed PR: https://github.com/apache/airflow/pull/26269#discussion_r969486988
If I get you correct it should help in your case. It also possible to make this changes with individual PR (quite simple)

[2022-09-20 09:22] ChirangaL commented on #26511
Hi @Taragolis You are correct. The updates in mentioned PR will resolve our issue. But given the below proposed update is performed.
https://github.com/apache/airflow/pull/26269/files/3e4e6db6a2e199483022f27dc4681dfae293b2ed#r969486988

[2022-09-20 09:32] jakemraz opened #26514 "ERROR: launchpadlib 1.10.13 requires testresources, which is not installed."
### Apache Airflow version

Other Airflow 2 version

### What happened

when I installed the airflow 2.1.4 with the constraints-3.8 using below command

pip install "apache-airflow[celery]==2.1.4" --constraint "https://raw.githubusercontent.com/apache/airflow/constraints-2.1.4/constraints-3.8.txt"

it returns the error
"ERROR: launchpadlib 1.10.13 requires testresources, which is not installed."

[2022-09-20 10:33] potiuk commented on #26514
This is quite a misunderstanding how constraints and airflow installation works.

You are mixing constraints with requirements. Contrary to constraints work in the way that IF you install some requirement already, it will be installed in the version you specified.

Also meither launchpadlib, nor testresources are Ailrflow requirements and you always have to install them separately from airlfow. Ai

[2022-09-20 10:33] #26514 closed

[2022-09-20 12:41] r4um opened #26520 "Task sync fails when using celery executor with AWS SQS broker."
### Apache Airflow version

Other Airflow 2 version

### What happened

The change in https://github.com/apache/airflow/pull/3830 introduced multiprocessing while syncing task status, when using celery executor with AWS SQS broker, the dag runs fail with the following backtrace in the scheduler logs.

[code]

This is likely due to boto3 session and resource objects not being thread safe[1]. Settin

[2022-09-20 12:42] potiuk commented on #26494
Marked it as a good first issue. I think it would require some smart way of defining how to do it  in the configuration. Even if you are not willling to implement it (or maybe?), a proposal from the user perspective how it could look like when it comes to configuration would be most welcome @jtvmatos . Any ideas and suggestions?

[2022-09-20 12:54] potiuk commented on #22863
This one should be closed as in https://github.com/apache/airflow/pull/24019 we discussed that SQS is not going to be supported unless we made a conscious effort and testing to make it works.

[2022-09-20 12:54] #22863 closed

[2022-09-20 12:57] bbovenzi commented on #16432
We'd probably have to add a method in the webserver to get all the tags, apply color logic and create a dict of what tag goes with what color. Then anytime the UI uses a tag we need to call that method to keep the color consistent across the app. Happy to review a PR for it.

[2022-09-20 13:22] don1uppa commented on #22863
It works I use it everyday

On Tue, Sep 20, 2022 at 8:54 AM Jarek Potiuk ***@***.***>
wrote:

--
Donald Iuppa
131 Eaglesfield Way
Fairport, NY 14450
***@***.***
Ph: (585) 210-8744

JOHN 11:19-27  Jesus said to her, “I am the resurrection and the life;
whoever believes in me, even if he dies, will live, and anyone who lives
and believes in me will never die.”

[2022-09-20 13:44] potiuk commented on #22863
Let me correct this statement

It works for You and in Your case and in the very exact version of Airlfow, Celery, Kombu that You have installed and in the limited set of cases that your installation covers.  It might or might not work if any of those change. We have no tests to verify that.

By choosing SQS you take ("with great powers come great  responsibilities") that you will have to fix any

[2022-09-20 15:05] gfeldman opened #26527 "UI error when clicking on graph view when a task has pod overrides"
### Apache Airflow version

2.4.0

### What happened

When I click on the graph view or the gaant view for a DAG that has a task with pod_overrides, I get

[code]

### What you think should happen instead

The UI should render the dag visualization.

### How to reproduce

* Add a `pod_override` to a task
* Run the task
* click on the graph view

### Operating System

Debian GNU/Linux 11 (bullseye)

[2022-09-20 15:07] gfeldman commented on #26527
The pod override looks like
[code]
where  I import `from kubernetes.client import models as k8s`

[2022-09-20 15:16] tirkarthi commented on #26499
As per my debugging I guess the `NOTSET` object being set is different across task runs in the scheduler is different causing conditionals to return False. The exact case reported is present as test case but I guess since it's run with pytest as single process this bug is exposed only when using the scheduler.

https://github.com/apache/airflow/blob/4c33f6bcf527448283a738ef11478b75ba339422/airflow

[2022-09-20 15:27] zachliu commented on #26497
ah, seems to be the "backend version" of the same issue https://github.com/apache/airflow/issues/26505

[2022-09-20 16:02] Gollum999 opened #26529 "Variable.get inside of a custom Timetable breaks the Scheduler"
### Apache Airflow version

2.3.4

### What happened

If you try to use `Variable.get` from inside of a custom Timetable, the Scheduler will break with errors like:

[code]

Note that in this case, the Variable in question *does* exist, and the `KeyError` is a red herring.

If you add a `default_var`, things seem to work, though I wouldn't trust it since there is clearly some context where it will

[2022-09-20 16:25] pierrejeambrun commented on #16432
I had a similar issue one time and we tried generating random colors based on the tag values. Sort of a hash function from string to hex color space. This was giving poor color choices, often with low contrasts and ended up using a predefined color palette.

I am also in favor of a palette handled outside of dag files. We could get some inspiration from the color palette available in Chakra [here]

[2022-09-20 16:48] nicor88 commented on #26394
Oh let me try with 2.3.3

[2022-09-20 17:16] RachitSharma2001 opened #26531 "Add FTPOperator and FTPSOperator"
### Description

There already exists an SFTPOperator (documentation [here](https://airflow.apache.org/docs/apache-airflow-providers-sftp/stable/_api/airflow/providers/sftp/operators/sftp/index.html)) which provides an easy way to read data from an SFTP Server to the local disk or write data to an SFTP server. However, for FTP and FTPS Servers, no such operator exists. Rather, there only exists ft

[2022-09-20 17:32] hterik commented on #26527
Upgraded from 2.3.3 to 2.4 and experience the same thing when trying to open dagruns produced from 2.3.3 in grid view. But if i wipe the DB and just start fresh runs it works.

[2022-09-20 17:35] gfeldman commented on #26527
I started from a clean database and still running into the issue

[2022-09-20 18:25] mariotaddeucci opened #26534 "Can't override attributes on task_policy on 2.4"
### Apache Airflow version

2.4.0

### What happened

Task policies on airflow 2.4 are raising ` ERROR [airflow.models.dagbag.DagBag] can't set attribute ` error on trying to override the values.

### What you think should happen instead

_No response_

### How to reproduce

Override an attribute using task_policy
on config/airflow_local_settings.py using the docker image apache/airflow:slim-2.4.0

[2022-09-20 18:46] josh-fell commented on #26531
Sounds great! Feel free to submit a PR.

[2022-09-20 18:47] mariotaddeucci commented on #26534
Works good with docker image apache/airflow:slim-2.4.0-python3.8

[2022-09-20 19:07] notatallshaw-work commented on #26531
FYI at a previous company I implemented such operators and at a bare minimum I found it important to at least check the size of the file transferred was the same as the remote server reported: https://docs.python.org/3/library/ftplib.html#ftplib.FTP.size. In my experience FTP was more susceptible to things going wrong midtransfer.

I also implemented other integrity checks such as seeing if the se

[2022-09-20 22:01] zachliu commented on #26505
most likely due to https://github.com/apache/airflow/pull/25633 and https://github.com/apache/airflow/pull/25880
@uranusjr @bbovenzi any idea how to solve this? i'm not familiar with the "timetable" part :sweat_smile:

[2022-09-20 23:55] WongyuChoi commented on #10313
@everglory99 Maybe [Pod Mutation Hook](https://airflow.apache.org/docs/apache-airflow/stable/kubernetes.html#pod-mutation-hook) can help?

[2022-09-21 00:09] wolfier opened #26542 "Celery worker enters a catatonic state after redis restart"
### Apache Airflow version

main (development)

### What happened

Worker seems to be stuck in a catatonic state where queued tasks instance messages are not consumed from redis.

Redis did restart while the worker remained as is. The worker did output logs that indicated a loss in connection but was able to reconnect after redis came back online.

[code]

### What you think should happen instead

[2022-09-21 00:57] dstandish opened #26544 "Choose setting for sqlalchemy SQLALCHEMY_TRACK_MODIFICATIONS"
### Body

We need to determine what to do about this warning:

[code]

Should we set to true or false?

@ashb @potiuk @jedcunningham @uranusjr

### Committer

- [X] I acknowledge that I am a maintainer/committer of the Apache Airflow project.

[2022-09-21 01:03] fritz-astronomer opened #26545 "Airflow 2.4 Inline Task Logs Should Default to Most Recent Task Try"
### Description

I noticed with the new inline task logs view in Airflow 2.4 - the default is to go to the 1st task attempt log, rather than the most recent, which is not the behavior of the prior task logs view.

I think it's a good default to go to the most recent

### Use case/motivation

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willi

[2022-09-21 02:17] pauldalewilliams commented on #24618
@skolchin Were you able to work on this at all?  I was testing using the newer oracle provider today and ran into an issue (see https://github.com/oracle/python-oracledb/issues/47) that can also be resolved by allowing for use of the thick client.  I should have time to work on a PR tomorrow if you don't already have something ready to go.

[2022-09-21 05:26] dstandish opened #26548 "Resolve warning about renderedtifields query"
### Body

This warning is emitted when running a task instance, at least on mysql:

[code]

Need to resolve.

### Committer

- [X] I acknowledge that I am a maintainer/committer of the Apache Airflow project.

[2022-09-21 06:02] kun-hackle commented on #23145
Still having the same problem w/ 2.4.0

[2022-09-21 06:14] rjmcginness commented on #26499
Hello,  I am new here, but I have been wanting to contribute to this project.  I do not want to create a random pull request, so I am showing my changes here.  I did run the pre-commit and unit test shown above.  I was not able to run the DAG above in Docker, however on macOS.  My thought on this is that there may be different instances of NOTSET and, therefore, comparison is not working.  It comp

[2022-09-21 06:35] jtvmatos commented on #26494
Hi @potiuk thanks for the feedback.

Unfortunately in the coming weeks I won't be available to create this PR (I will be unavailable for more than a month... if no one solves it by then, I can open the PR....)

But yes, this PR can be tricky and can create a breaking change in the current processor configurations. For example, creating a nested level for multiple DagProcessors could be an option:

[2022-09-21 07:25] hungnd-dev commented on #10700
Can you point me how to fix it??

[2022-09-21 08:49] #26367 closed

[2022-09-21 09:05] eladkal commented on #11054
I think this could be incorporated with AIP-50?
https://cwiki.apache.org/confluence/display/AIRFLOW/AIP-50+Trigger+DAG+UI+Extension+with+Flexible+User+Form+Concept

[2022-09-21 10:40] kobethuwis commented on #23588
@cloventt @rotemseekingalpha I'm using the official Airflow helm chart. Encountered the same error. In the chart, we use   `AUTH_ROLE_PUBLIC` = 'Admin'` as well.

Have been able to fix this error by adding the following to the chart:
`extraEnv: |
  - name: AIRFLOW__API__AUTH_BACKENDS
    value: "airflow.api.auth.backend.default"`

[2022-09-21 10:56] kxepal commented on #26505
Hi there! Follow up from dev ML.

We faced exactly the same issue after upgrade from 2.3.4 to 2.4.0 for all our dags. All of them has quite a history up to 2016 year, so a lot of dag runs. Somehow grid show for us latest runs at 2021.11 while other views (calendar, graph) shows all of them and the most recent ones.

The exact fix which solved this problem is:
[code]

It feels like there is a probl

[2022-09-21 11:45] ashb commented on #26544
Agreed, False.

[2022-09-21 11:46] ashb commented on #26542
Hmmm, this feels like a Celery issue, as all `airflow celery worker` does is run the celery app.

(I'm not saying we shouldn't look at fixing it, just surprised that celery doesn't do it for us)

[2022-09-21 11:54] potiuk commented on #10700
If (and this is a big if) this is a time sync issue, then you need to run NTP or similar daemon that will keep the time synced on all the machines you have @hungnd-dev - including the MySQL server of yours. But "How exactly" to do it depends on your deployment, and I think you need to find it out by looking at "How to sync clocks on ......"  google queries.

That's where I'd start.

[2022-09-21 11:59] ashb commented on #26527
(A related question is why on earth is graph view even dumping that override field? It doesn't need it)

[2022-09-21 12:29] ashb commented on #26505
@kxepal What is the timetable/schedule parameter for the DAG(s) with this problem?

[2022-09-21 12:34] kxepal commented on #26505
@ashb we have good old timedelta schedule interval value everywhere. No timetables at all.

[2022-09-21 13:56] kosteev opened #26555 ""airflow tasks render/state" cli commands do not work for mapped task instances"
### Apache Airflow version

Other Airflow 2 version

### What happened

Running following cli command:

[code]

fails with exception:

[code]

Running following cli command:

[code]

fails with exception:

[code]

### What you think should happen instead

Command successfully executed

### How to reproduce

_No response_

### Operating System

Linux

### Versions of Apache Airflow Providers

_No r

[2022-09-21 14:00] zachliu commented on #26505
@kxepal doesn't the fix actually revert the core of https://github.com/apache/airflow/pull/25633? i also did that because i "accidentally" deployed airflow 2.4.0 to our production :shushing_face:

[2022-09-21 14:01] ephraimbuddy commented on #26529
This happens because we load timetable plugins in the scheduler process(decoding timetable during deserialization).
So with `Variable.get`, we are using a new session different from the scheduler session. When that new session commits, it throws an error because of the different sessions.
It doesn't seem like a simple fix but I'm taking a look

[2022-09-21 14:04] kxepal commented on #26505
@zachliu That PR contains a lot of changes, but for us was enough to revert those changes that in the diff. The rest of them causes no troubles.

[2022-09-21 14:09] zachliu commented on #26505
@kxepal taking a wild guess here, maybe a `if` can solve all: if timetables are used, do that; else, do this

[2022-09-21 14:10] kxepal commented on #26505
@zachliu probably. We don't use timetables, so it was clear fix for us.

[2022-09-21 14:13] zachliu commented on #26505
@kxepal same here, i'm waiting for the distant future "calendar"-like scheduling system :wink:

[2022-09-21 14:16] potiuk commented on #26529
Storing a session in ThreadLocal and checkig if it is set there, might be a possibillity

[2022-09-21 15:18] potiuk commented on #26529
Indeed. I doubt user would want to create their own session, but you are right we would have to handle it in all "user" facing APIs (which we currently have no definition of). And that would exclude "saving" anythong anyway as that woudl imply a commit So if we can find a way to not create the custom timetable in commit-protected session, that would have been way better.

[2022-09-21 15:19] ashb commented on #26505
_Everything_ is converted to a timetable now under the hood (and had been since timetables were introduced) so it's not as simple as an `if`.

[2022-09-21 15:36] windmark opened #26561 "Downgrading migrations fails on xcom pkey"
### Apache Airflow version

Other Airflow 2 version (2.3.4)

### What happened

Hi,

I'm trying to downgrade the Airflow DB migrations and the [0102_2_3_0_switch_xcom_table_to_use_run_id.py](https://github.com/apache/airflow/blob/main/airflow/migrations/versions/0102_2_3_0_switch_xcom_table_to_use_run_id.py) seems to not handle the `xcom_pkey` to `pk_xcom` downgrade properly.

This fails in combin

[2022-09-21 15:51] zachliu commented on #26505
aww... wrong guess :crying_cat_face: it was based on the fact that some old dag runs don't have the `Data interval start/end` parameters (see case 2 screenshots)

[2022-09-21 15:53] vitaly-krugl opened #26565 "Documentation unclear about multiple LocalExecutors on HA Scheduler deployment"
### What do you see as an issue?

According to Airflow documentation, it's now possible to run multiple Airflow Schedulers starting with Airflow 2.x.

What's not clear from the documentation is what happens if each of the machines running the Scheduler has executor = LocalExecutor in the [core] section of airflow.cfg. In this context, if I have Airflow Scheduler running on 3 machines, does this me

[2022-09-21 16:00] notatallshaw-gts opened #26566 "Have SLA docs reflect reality"
### What do you see as an issue?

The [SLA documentation](https://airflow.apache.org/docs/apache-airflow/stable/concepts/tasks.html#slas) currently states the following:

However this is not how SLAs currently work in Airflow, the SLA time is calculated from the start of the DAG not from the start of the task.

For example if you have a DAG like this the SLA will always trigger after the DAG has s

[2022-09-21 16:09] tirkarthi commented on #26555
1. For mapped tasks render might need to retrieve `template_fields` from task instead of `task.__class__` and rendered task needs to be used so that the values are displayed for mapped tasks.

2. `current_state` doesn't take map_index into account yielding many results for a mapped task. It should also filter by `TaskInstance.map_index`

https://github.com/apache/airflow/blob/520893a9a13a6ec5611ed

[2022-09-21 16:11] windmark commented on #26561
The issue is that the primary key name `pk_xcom` isn't passed explicitly as an argument and the pk thus takes the name of the temporary table `__airflow_tmp_xcom_pkey`. This is for some reason handled in `mssql` but not for example in Postgres that I'm using.

I'm however not sure how Airflow handles bugs in migrations, with backporting to already released versions. Otherwise I can help out fix th

[2022-09-21 16:32] potiuk commented on #26565
You got an explanation in https://github.com/apache/airflow/discussions/26564#discussioncomment-3702194 - if you would like to enhance documentation - feel free to open PR. It's as easy as opening the documentation on our website and clickling "suggest a change on this page". The PR will open and you will be able to modify the docs and open a PR.

Airlfow is created by almost 2200 contribuors like

[2022-09-21 16:38] potiuk commented on #26561
Feel free to update downgrade directly in the migration that is problematic. We aren't going to backport it to anything else than 2.4.* most likely and you can simply add it to `main` - but check it please if it's not already fixed in main, because it could be fixed already (and not backported as we stop backporting bugfixes when we release a new minor line,).

[2022-09-21 16:56] ashb commented on #26529
The "fix" for this is to be able to pass the session down to airflow.secrets.metastore.get_variable, but that isn't currently possible when calling `Variable`.

The underlying issue here is that `@provide_session` does the wrong things; or looking deeper session handling in Airflow is too magic.

[2022-09-21 16:58] ashb commented on #26529
Something like this might fix the problem, but I've not thought about the wider implications:

[code]

[2022-09-21 17:00] potiuk commented on #26508
This is problem with sentry not properly resolving message with python arguments. This is the recommended way in python to log an error message - pass it a format string and parameters separately. As you see the parameters are there. it's sentry that should render it properly. There is an open PR in sentry that explains the issue https://github.com/getsentry/sentry-python/issues/228  and until thi

[2022-09-21 17:00] #26508 closed

[2022-09-21 17:05] potiuk commented on #26529
Yeah . I thought about creating a new sesision and storing it additinally in thread local (independently of our main session or replacing it temporarily)

[2022-09-21 17:13] notatallshaw-work commented on #26566
Will do, made issue mostly to see if someone would disagree with me. I'll make a PR to update the docs soon.

[2022-09-21 17:33] ephraimbuddy commented on #26529
@ashb , I tried your fix and it doesn't seem to fix it. The problem as I understand it is that during [decoding of timetable](https://github.com/apache/airflow/blob/956ea7c40ebaa66963c2b5e7ed7eb290c5f392d8/airflow/serialization/serialized_objects.py#L1179), we try to [load the plugin ](https://github.com/apache/airflow/blob/956ea7c40ebaa66963c2b5e7ed7eb290c5f392d8/airflow/serialization/serialized_

[2022-09-21 17:39] harryplumer opened #26567 "Changes to SqlToS3Operator Breaking CSV formats"
### Apache Airflow Provider(s)

amazon

### Versions of Apache Airflow Providers

`apache-airflow-providers-amazon==5.1.0`

### Apache Airflow version

2.3.4

### Operating System

Linux

### Deployment

Astronomer

### Deployment details

_No response_

### What happened

Once https://github.com/apache/airflow/pull/25083 was merged, when using CSV as the output format on the `SqlToS3Operator`, nu

[2022-09-21 17:39] ashb commented on #26529
Sorry, yes, my diff _along with_ passing the session to Variable.get`. Let me think how to get that ...

[2022-09-21 17:46] dstandish opened #26568 "Reset executor_config when clearing a task?"
### Body

Currently if you clear a task, it won't clear the executor config.  The executor config is pickled and added to the ti row at time of dag run creation by the dag processor.  And when you clear a TI the state us updated but the executor_config remains unchanged.

In order to have the executor_config update properly we may have to have TI clear function as a dag processor callback, alterna

[2022-09-21 18:02] dstandish commented on #26008
Yeah i can repro this on 2.3.4 but not on 2.4.0
I believe https://github.com/apache/airflow/pull/26191 does fix this.

[2022-09-21 18:09] potiuk commented on #26008
Closing then - we can always reopen if we get reports it is not fixed.

[2022-09-21 18:09] #26008 closed

[2022-09-21 18:26] cgadam commented on #23588
@kobethuwis thank you for this tip! Adding `airflow.api.auth.backend.default` to `AIRFLOW__API__AUTH_BACKENDS` also made this issue to go away in my case! Nice workaround since we have this issue solved! Thanks!

[2022-09-21 18:26] jens-scheffler-bosch commented on #11054
I assume so and that's why I made the link. I assume this issue and AIP-50 somehow relate each other, AIP-50 is a bit wider and more general. Looking forward making this happen :-D

[2022-09-21 18:31] dwreeves opened #26571 "Migrate Amazon Provider Package's `SecretsManagerBackend`'s `full_url_mode=False` implementation."
# Objective

I am following up on all the changes I've made in PR #25432 and which were originally discussed in issue #25104.

The objective of the deprecations introduced in #25432 is to flag and remove "odd" behaviors in the `SecretsManagerBackend`.

The objective of _this issue_ being opened is to discuss them, and hopefully reach a consensus on how to move forward implementing the changes.

I

[2022-09-21 18:55] ephraimbuddy commented on #25297
@hliu47 can you confirm if this is fixed in `2.4.0`

[2022-09-21 19:06] MatrixManAtYrService opened #26573 "Each task execution time depends on the total number of tasks defined (got worse in 2.4.0)"
### Apache Airflow version

2.4.0

### What happened

Here's 10 dags with 100 tasks each:
[code]

In 2.3.4, I'd see dag execution times of 1:11 and task logs like this:
[code]

In 2.4.0 I see dag execution times of 1:40 and task logs like this:
[code]

If we make the load 2x heavier...
[code]

We get new times:

| tasks | 2.3.4 time | 2.4.0 time | increase |
|:--|:--|:--|:--|
|200|1:11|1.40|1.40x|

[2022-09-21 19:31] kosteev commented on #26555
Hi Karthikeyan.
That looks good. Do you mind to prepare PR with the changes?

[2022-09-21 20:31] nsAstro opened #26574 "Some liveness checks don't actually check process"
### Description

Current liveness check probes use the 'airflow jobs' command which directly queries the backend DB as opposed to actually querying an endpoint or checking the status of the process itself.

e.g. Triggerer liveness probe

[code]

This command only checks the backend DB to see if there are any jobs. Additionally, the exit code is always 0 regardless of how many jobs there are. Ideal

[2022-09-21 20:43] kxepal commented on #26505
@ashb What information could be useful to debug this issue?

[2022-09-21 21:11] ashb commented on #26505
@kxepal Creating a minimal stand-alone reproduction case if you can ("here's a dag, run it/backfill it for X" sort of thing)

[2022-09-21 21:13] ashb commented on #26527
Fixed by #26554

[2022-09-21 21:13] #26527 closed

[2022-09-21 21:19] zachliu commented on #26505
i tried that, running the same dag many times in a short period (backfilling) doesn't help, they will be ordered properly. i guess because they are all converted to timetables uniformly

it seems the issue occurs on dags that are older than the introduction of timetable, which suggests that during the conversion, older dag runs lack attribute(s) for a proper sorting :thinking:

[2022-09-21 21:21] potiuk commented on #26511
I linked the issue to the PR.

[2022-09-21 21:45] potiuk commented on #26529
Same issue/discussion in in https://github.com/apache/airflow/discussions/26533

[2022-09-21 21:57] camilleanne commented on #26069
I'm seeing a very similar issue.

@eladkal you referenced _this_ ticket as being a duplicate of itself -- which ticket do you mean to tag?

[2022-09-21 21:58] kxepal commented on #26505
Oblivious, but it be quite a hard to provide. @zachliu feels like walk on this path with no luck. But it looks like the problem could be solved by a simple new migration script. But what the cases it should handle and how it should fix them?

[2022-09-21 22:01] eladkal commented on #26069
Sorry. Check https://github.com/apache/airflow/issues/16472

[2022-09-21 22:03] zachliu commented on #26505
can the migration script simply fills all the NULL `data_interval_end` with `execution_date`?

[2022-09-21 22:08] kxepal commented on #26505
But why it already doesn't? It doesn't feels like a problem with current logic - it works fine, but somewhere in changes between two versions. Actually, running new dagruns with 2.4 without a fix doesn't change anything.

[2022-09-22 00:16] wolfier commented on #26542
Yep! I linked the [Github Discussion](https://github.com/celery/celery/discussions/7276) from celery Github.

This is more just a record to keep track of this behaviour.

[2022-09-22 01:14] lewismc commented on #26508
Thank you for the context on this one @potiuk i appreciate it.

[2022-09-22 04:17] sai3563 opened #26581 "airflow db clean is unable to delete the table rendered_task_instance_fields"
### Apache Airflow version

Other Airflow 2 version

### What happened

Hi All,

When I run the below command in Airflow 2.3.4:

`airflow db clean --clean-before-timestamp '2022-09-18T00:00:00+05:30' --yes`

I receive an error within a warning which says

`[2022-09-20 10:33:30,971] {db_cleanup.py:302} WARNING - Encountered error when attempting to clean table 'rendered_task_instance_fields'.`

All

[2022-09-22 04:19] karthik-raparthi commented on #10790
Hello,

We are facing a similar issue but it looks likes for me a combination of EFS(Throughput-Provisioned(25MiB/s) + Worker not sending back an exception to Scheduler that unable to read the dag file and **task struck in queue state forever.**

**Scheduler Log**
`[^[[34m2022-09-16 22:38:31,848^[[0m] {^[[34mscheduler_job.py:^[[0m572} ERROR^[[0m - Executor reports task instance <TaskInstance: dagN

[2022-09-22 05:53] uranusjr commented on #26499
@rjmcginness You patch would break `fillvalue` and needs some additional work.

@tirkarthi I would expect the resulting value to contain `NOTSET` instances instead of wrapping over to the beginning, if the `NOTSET` identity is the cause. (I may be missing something.) The issue not being observed in tests does seem to indicate there’s something related to serialisation though.

[2022-09-22 06:15] rjmcginness commented on #26499
Thank you. I was thinking that fillvalue would remain the same. It still receives an instance of NOTSET or a value. My code changes the test against the class, rather than against any instance of ArgNotSet. I did test this against the use case successfully. It seems strange that there would be multiple instances of NOTSET. Serialization/deserialization makes sense, as this may lead to creation of

[2022-09-22 06:53] uranusjr commented on #26499
Ah, I missed the `self.length` part you changed in `__init__`. That could be the solution (if the identity is indeed the issue), although I’d prefer the logic to live in `__len__` instead of `__init__`. But if serialisation is the issue (and again, I am not yet entirely convinced that’s the case), the pre-commit checks and unit tests would not be enough to verify the solution. The easiest way to c

[2022-09-22 07:15] V0lantis commented on #10790
Hello @karthik-raparthi, we also did experience similar issue with EFS. EFS is definitely not suited for a big airflow deployment, and we stopped having most of its issues when we moved to FSx File System. I therefore encourage you to move to this better solution :)

[2022-09-22 07:19] potiuk commented on #26581
assigned you !

[2022-09-22 07:25] potiuk commented on #10790
Quite agree. There were multiple people reporting problems in huge airflow installation where EFS was used. I can also recommend (as usual) switching to Git Sync. I wrote an article about it https://medium.com/apache-airflow/shared-volumes-in-airflow-the-good-the-bad-and-the-ugly-22e9f681afca - especially when you are using Git to store your DAGs already, using shared volume is completely unnecess

[2022-09-22 07:40] tianrobin opened #26583 "Multi-tenant and DAG loading mode recommendations"
### Description

1. I need a "workspace" or "DAG Group" to support multi-tenancy, there will be different projects within the organization that I hope can be isolated from each other

2. I expect Airflow to evolve into a platform rather than a product, so I hope it can load DAG files into SCM like Jenkins
     1) Add a confidential dictionary model to store keys
      2) Load the DAG file from the

[2022-09-22 08:26] SanderMeinderts opened #26585 "Debian docker build fails on 2.4.0, unable to locate package libffi7"
### Apache Airflow version

2.4.0

### What happened

Hi all,

When trying to build the Airflow docker file from source, the build process fails with error "Unable to locate package libffi7".
The exact same script does work with versions 2.3.3 and 2.3.4.

The commands run are:
[code]

I'm running these commands on WSL2 with Debian version 11 (bullseye) and docker version 20.10.18.

It seems to me

[2022-09-22 08:44] ephraimbuddy commented on #26529
It seems to work without needing to apply the previous diff but I'm still testing

[2022-09-22 09:24] potiuk commented on #26585
This is correct behaviour. You are actually trying to build a buster image: `PYTHON_BASE_IMAGE="python:3.9-slim-buster" ` not bullseye and support for Buster has been dropped in 2.4.0 as announced earlier. https://airflow.apache.org/docs/docker-stack/changelog.html#airflow-2-4

You should switch to building a bullseye image.

[2022-09-22 09:24] #26585 closed

[2022-09-22 09:32] sai3563 commented on #26581
@potiuk Can you describe what needs to be done? Should I figure out where the code for `airflow db init` is and add creation date column to the table `rendered_task_instance_fields`? What about existing users who are upgrading in that case?

[2022-09-22 09:43] potiuk commented on #26581
The column needs to be added an migration needs to be added to add the column via alembic (and likely set it to current time for all records). You can see how migrations are done in the `airflow/migrations' folder and there is a chapter about adding migrations  in https://github.com/apache/airflow/blob/main/CONTRIBUTING.rst#metadata-database-updates (and you can look in the past commits to that fo

[2022-09-22 09:53] potiuk commented on #26494
No worries - we do not have to add it super-quickly I think (but if somoene will want to add it this is still an option :)).

I'd say the best approach would be to make the top-level dag processor entry optional (and fail the configuration if both "arrays" and "top level" are specified (then we could name the array "multipleDagProcessors" simply?). WDYT @jedcunningham @mhenc  ?

[2022-09-22 10:02] jtvmatos commented on #26494
I create a fork, with the approach that I mention before (only for my local tests):
https://github.com/apache/airflow/commit/0793c55be0f63d8da53d16c1097bc274bbcc1a69

For now this is all I can do. But it can be useful for discussion :)

Thank you all!

[2022-09-22 10:06] bharatk-meesho opened #26587 "Airflow tasks failing with SIGTERM when worker pod downscaling."
### Official Helm Chart version

1.6.0 (latest released)

### Apache Airflow version

2.3.2

### Kubernetes Version

4.5.7

### Helm Chart configuration

[code]

### Docker Image customisations

_No response_

### What happened

I am running an airflow cluster on EKS on AWS. I have setup some scaling config for worker setup. If CPU/Mem > 70% then airflow spins up new worker pod. However I am facin

[2022-09-22 10:28] potiuk commented on #26587
This is currently not possible and it is K8S limitation, not our problem. The only possible approach to avoid it is:

1) use CeleryKubernetesExecutor
2) assign all your long-running tasks to Kubernetes queue
3) set gracefulTerminationPeriod to be longer than your longest possible running task tht you run via Celery Executor

This approach will work in the way that workers being downscaled are put

[2022-09-22 10:28] #26587 closed

[2022-09-22 11:24] rjmcginness commented on #26499
I did. I asked on slack to find where the DAG file should go. I reproduced the error in v2.4.0.  Then I ran it with my new code and received the expected output.  I committed the changes back to [my forked repository](https://github.com/rjmcginness/airflow), but have not made a pull request.

[2022-09-22 11:25] potiuk commented on #26566
assigned you :)

[2022-09-22 11:29] potiuk commented on #26568
What would be the reason we want to clear executor_config when we clear the task? Should not it use the original config that was there at the time the DAG was parsed? :thinking:

[2022-09-22 11:36] Amar1404 opened #26590 "Enabling and Disabling the Task Before the DAG Run From UI and API"
### Description

Enabling and Disabling the task for the particular DAG from the UI and API. or using the parameter that disable it. This was it is easy to disable a particular task easily while running manually or schedule. The UI gives us the feature to select the task to disable it before triggering it manually

### Use case/motivation

So  for the backfill or running manually in a DAG if we do

[2022-09-22 11:51] uranusjr commented on #26499
A pull request would be a good idea then. Maybe it’d be easier to figure out what exactly triggered the error if the full diff is presented.

[2022-09-22 12:01] potiuk commented on #26571
That's a lot to digest. Question before anyone dives deeply (I guess this is asking for TL;DR;). I think this is very important to decide who should focus more on it and try to provide some answers/who the consensus should be with.

Q: Does this propoosal make any changes in SecretsBackend interface (common for all the Secret Backends) or can it be done exclusively in the Amazon Provider without c

[2022-09-22 12:36] potiuk commented on #26568
CC: @mhenc

[2022-09-22 12:45] rjmcginness commented on #26499
@uranusjr Ok.  Thank you.  I have to look how to do the rebasing, then I will request the pull.  I appreciate your help.

[2022-09-22 14:01] potiuk commented on #26573
I think the problem is with the warnings, and it would be great to see where they came from - more likely than not just logging that much of an information slows things down.

Airlflow always parsed all tasks defined in the same time for each task. That has not changed. But in 2.4.0 is the first time when you can officialy optimize it (this is experimental feature but you can try it out) where you

[2022-09-22 14:06] dwreeves commented on #26571
100% of changes I am proposing are in the Amazon provider package's `SecretsManagerBackend`. Nothing necessitates a change in the base implementation.

(You can think of a lot of these changes I am proposing as ways to make the Amazon `SecretsManagerBackend` behave more like the base implementation. Right now there are a few nuanced ways in which they differ.)

No.

There _are_ backwards incompati

[2022-09-22 14:07] potiuk commented on #26571
Cool. Then I think most of the comments on those are on the side of AWS people :)

[2022-09-22 14:11] potiuk commented on #26574
Marked it as good first issue, this is a good idea, and hopefully someone might improve it. BTW. @nsAstro - If you have ideas how to improve - you are most welcome to make PR #- this is an easy way to become one of the ~ 2200 contributors. Otherwise it will just have to wait for someone to pick it up.

[2022-09-22 14:48] dstandish commented on #26568
The thing is potiuk it doesn't get updated when the dag gets parsed again. Let's say your task had a bad exec config. Then it fails. You update the code to fix it. Now you want to clear the task. The task will fail again because the exec config will be unchanged.

[2022-09-22 14:54] emredjan opened #26599 ""Dependency already registered for DAG" warnings during runs in taskflow based tasks"
### Apache Airflow version

2.4.0

### What happened

On version 2.4.0, in DAGs with simple taskflow based tasks (nothing dynamic), I was getting the warnings about "Dependency already registered for DAG", that weren't giving warnings prior to 2.4.0, and I wanted to test with a simpler one. I copied the exact dag from the taskflow tutorial documentation, the simple extract-transform-load example l

[2022-09-22 15:07] potiuk commented on #26568
Right. That is a bummer indeed. I think in this case, consistent behaviour would be not to serialize it at DagRun creation but when DAG is parsed? Otherwise we are entering the realm of dag versioning, and it opens pandora's box,

Is there anything "dag-run" specific that makes it necessary to create the executor config at the moment when DagRun is created? Even if executor config has some "per-da

[2022-09-22 15:24] dinigo opened #26600 "Google Cloud Batch Jobs Hooks, Operators & Sensors"
### Description

[Batch Jobs](https://cloud.google.com/batch) were just introduced. They're still in "preview" and only avail in certain regions. But it will be great to support this from GA day 1.

### Use case/motivation

Batch jobs are a very very good alternative to `KubernetesPodOperator` functionality. Fewer configuration, fewer overhead both in the Data Engineers and for the DevOps maintain

[2022-09-22 15:29] potiuk commented on #26599
cc: @ashb - this is the issue which I asked the user to open FYI

[2022-09-22 15:38] dstandish commented on #26568
i think it's created on dag run simply because there's no task instance record until the dag run is created. and the TI is where it's stored.

i think "serializing" on dag parse makes sense.  but yeah, the TI record won't be there.  and we don't have a task table!

so the next available option would be stick it in serialized dag, where there _is_ some about tasks stored.  BUT, for better or worse,

[2022-09-22 15:48] potiuk commented on #26568
Might be a good time to actually serialize ii "properly (I know there are K8S objects there potentially and it caused us a number of problems and customizable seriialization. We actually discussed that today with @mhenc and the fact tha K8S executor is "pickled" is one of the compilcations of the Internal API -  AIP-44. It does not block it, but I think it makes it rather complex as we think we wi

[2022-09-22 15:55] vDMG opened #26601 "Statsd aggregation issue on some metrics with multiple schedulers running"
### Apache Airflow version

Other Airflow 2 version

### What happened

When I am running multiple schedulers (>1) the statsd exporter does not correctly sum the running tasks from the different scheduler but it does just take one metric from one scheduler and display it as the value.

the metric name : `airflow_executor_running_tasks`

### What you think should happen instead

airflow statsd expo

[2022-09-22 16:22] potiuk commented on #26568
I think in this cae we could stay with the current path - if an executor fails to serialize (either with our serializer or any other) we could leave it empty at the parsing time and create it at dag-run time. This would make it backwards compatible, but also in order to get config clearable the user would have to make it serializable.

Ticks all the boxes for me.

[2022-09-22 17:46] potiuk commented on #26590
I think this one will be hard to implement and it is not something we really want to do. Tasks have dependencies to other tasks, and it might get tricky to decide what to do when one or more tasks are disabled.

But I wonder what others think,

[2022-09-22 18:11] potiuk commented on #26568
Wild thought. Not verified it - just loudly thinking.

We do not have to use our serialization, I think we mostly implemented it (when we implemented it) because there was no better alternative. Maybe we can try different serialization (the Pydantic mentioned threre might be a good candidate). Pydantic works mostly based on Type Hinting and figures out what to do based on that - thanks to that it

[2022-09-22 18:21] dstandish commented on #26568
Took a _quick_ look at it
<img width="712" alt="image" src="https://user-images.githubusercontent.com/15932138/191822609-d0e55dbe-c766-402e-99d6-db8fda841fc7.png">

[2022-09-22 18:22] dstandish commented on #26568
It seems to me very, very odd that kubernetes client library does not support conversion to and from json and yaml, given that yaml is like... THE way to define a k8s object?!?  why is that?

[2022-09-22 18:28] potiuk commented on #26568
:facepalm:

[2022-09-22 18:32] potiuk commented on #26568
So... Let's add a "serializable" flag to ExecutorConfig :). Less automated, more back-compatible, we can use any serialization we want :)

[2022-09-22 19:39] #26194 closed

[2022-09-22 19:54] karthik-raparthi commented on #10790
Thanks, @V0lantis  & @potiuk for the inputs. Yes, we are in process of moving away from EFS. but trying to see any workarounds to find the issue once it struck in Queue by using some alerts.

I did some research and looks like we can rely on the task_instance table on Airflow metadb to alert as soon as a Task struck in Q for more than 30 mins(this time might vary based on EFS)

`select
*
from
	tas

[2022-09-22 19:54] o-nikolas commented on #26571
Hey @dwreeves, thanks for this fantastically detailed write-up! Although my head is still spinning a bit, it would be worse if this post wasn't as detailed as it is, so thanks again :smiley:

Personally, I don't think we should be so afraid of breaking changes, especially ones that affect such small percentages of users. To me it can be **more** of a risk to maintain complicated code for longer pe

[2022-09-22 20:02] potiuk commented on #10790
The simplest workaround is to pay EVEN MORE for OUTRAGEOUS amount of EFS IOPS. This seemed to work for many of our customers and it might be cheaper than engineering time you spend on trying to solve it (unless you are already maxing it out).

[2022-09-22 20:03] potiuk commented on #26571
Brave !

[2022-09-22 21:05] dstandish opened #26607 "resolve web ui views warning re DISTINCT ON"
### Body

Got this warning in webserver output when loading home page

[code]
looks like it's this line
[code]

may be able to change to `func.distinct`

### Committer

- [X] I acknowledge that I am a maintainer/committer of the Apache Airflow project.

[2022-09-22 21:40] zachliu opened #26610 "The "Filter DAGs by tag" UI component doesn't wrap correctly"
### Apache Airflow version

2.4.0

### What happened

* case 1: the half-hidden tag is "test"
![2022-09-22_15-24_1](https://user-images.githubusercontent.com/14293802/191855005-d1a11547-7dbb-491f-a8f4-aaaa138907fe.png)

* case 2: the half-hidden tag is "conversion"
![2022-09-22_17-35](https://user-images.githubusercontent.com/14293802/191855822-74b680be-01b5-47f6-89d7-b291282ee66a.png)

* case 3:

[2022-09-22 23:38] dwreeves commented on #26571
Sorry it's so much! I think the **Examples** section is the clearest explanation of what the issues are with the current `SecretsManagerBackend` implementation.

And yes, it is a small # of users affected. Not the worst. And up-to-date, affected users are all getting deprecation warnings right now. The end result though is I think a much more intuitive SecretsManagerBackend... at the end of it all

[2022-09-23 00:28] curlup commented on #10913
I know it's not a bug per-se, but maybe a path forward would be to introduce new http and https hook and name it differently (`RestHook` or `httpApiHook`?) and then deprecate the current one, not breaking anyones code/pipelines behavior?

[2022-09-23 00:43] matteosdocsity commented on #23512
I honestly have to admit to not have any code-bases clues less than pushing over a unique key on a table is a matter of general wisdom...the problem appears to be clear from some couple of months so far, but now blocking 2.4.0 and maybe new releases is quite huge....is there anyone in the loop that could investigate or propose solutions to this?
btw thanks for allowing airflow being so complete, m

[2022-09-23 03:31] LostAsk opened #26615 "airflow Task Not Yet started"
### Apache Airflow version

Other Airflow 2 version

### What happened

python version  3.9.9

run example_python_operator, user BashOperator,
![image](https://user-images.githubusercontent.com/46678241/191887092-c20e9838-2afb-4aea-8c52-112511faff07.png)

but run example_external_task_marker_parent
![Uploading image.png…]()

### What you think should happen instead

run example_external_task_marke

[2022-09-23 03:49] jedcunningham commented on #26581
Instead of adding a column solely for the purposes of cleaning, we should consider not directly cleaning RTIF and letting the cascading FK on TI do the work for us.

[2022-09-23 05:08] #25653 closed

[2022-09-23 06:13] dstandish commented on #26544
Turns out we already have it set false in the main flask app config

BUT....

now that we do db init from orm, and we create a distinct flask app for that, it doesn't get the same setting....

[2022-09-23 06:32] sai3563 commented on #26581
Hi @jedcunningham

Great Idea! But if we do that, wouldn't that make it auto delete records in RTIF if records in `task_instance` are also deleted?

https://airflow.apache.org/docs/apache-airflow/stable/cli-and-env-variables-ref.html

As per the docs above, currently in parameters of `airflow db clean`, we have parameter `--tables` to delete tables & separate options are provided for TI and RTIF.

[2022-09-23 07:18] #26544 closed

[2022-09-23 07:32] ephraimbuddy commented on #26529
The solution to use `airflow.settings.Session()` works fine, however, once the plugin fails to register during webserver startup, e.g say the variable is not yet added, then the webserver must be restarted even after adding the variable.

[2022-09-23 07:36] uranusjr commented on #26529
I’d say this should be considered an user error. We can add a note in the documentation explaining that value retrievals (not just `Variable` but all db and config accesses in general) should be done lazily. This is just how Python works.

[2022-09-23 07:43] EssKayz opened #26619 "Dynamic Task Mapping - Assigning multiple parameters to a PythonOperator"
### Description

After the new implementation of "Assigning multiple parameters to a non-TaskFlow operator" we tried using this for our PythonOperators, but couldn't get it to work. This is seemingly because a PythonOperator calls the callable function using `op_kwargs`, and as such anything defined in `expand_kwargs` doesn't get routed to the python_callable.

### Use case/motivation

We use Airf

[2022-09-23 07:46] uranusjr commented on #26619
Cna you provide a concrete example? It sounds to me that taskflow is perfect for your use case instead.

[2022-09-23 07:50] armourshield opened #26620 "Airflow 2.2.2 remote worker logging getting 403 Forbidden"
### Apache Airflow version

Other Airflow 2 version

### What happened

I have a setup where airflow is running in **kubernetes (EKS)** and **remote worker** running in *docker-compose* in a VM behind a firewall in a different location.

**Problem**
Airflow Web server in EKS is getting 403 forbidden error when trying to get logs on remote worker.

**Build Version**
- Airflow - 2.2.2
- OS - Linux -

[2022-09-23 08:22] vqcuong opened #26622 "Airflow webserver: make success button should show a scrollable pop-up of tasks"
### Apache Airflow version

2.3.4 and 2.4.0

### What happened

I have a dag with more task in it. When I click on "make success" button for a dag run on DAG ui and the pop-up shows, but I can't scroll down to see "confirm" or "cancel" buttons at the end of it. The below images will illustrate this issue clearer
<img width="1440" alt="Screen Shot 2022-09-23 at 15 15 25" src="https://user-images.gi

[2022-09-23 08:29] uranusjr commented on #26505
Filling all data interval with execution date would be excruciatingly slow, which is why it’s not done. Doing some fancy `coalesce` for ordering is probably possible.

[2022-09-23 08:34] malov opened #26623 "Upgrade Airflow 2.1.4 -> 2.2.0 : Kubernetes executor worker pod can't resolve dag folder"
### Apache Airflow version

Other Airflow 2 version

### What happened

Using Bitnami Airflow image, I'm upgrading Airflow from 2.1.4 to 2.2.0, running on Kubernetes cluster. During upgrade no changes to environment is made: kubernets cluster is the same, database is the same, Helm chart used is the same. Docker images are custom build due to company's restrictions, but the only change in build pr

[2022-09-23 08:52] #26607 closed

[2022-09-23 09:02] potiuk commented on #26529
I tend to agree with @uranusjr with one twist. We should make it in the way that this kind of error is better handled - the error message should explicitly say that you should not make any database operation inside of the Custom Timetable. Adding documentation is not enough. People won't read the documentation and we can expect more issues like that popping up. I think ti shoudl be possible to cat

[2022-09-23 09:12] JoranDox commented on #19519
Looks like it's back? Or at least something very similar (in this case a timedelta not being json serializable). Should I create a new ticket for this or just add my log here?

<details>
Ooops!
Something bad has happened.

Airflow is used by many users, and it is very likely that others had similar problems and you can easily find
a solution to your problem.

Consider following these steps:

  * g

[2022-09-23 09:25] dstandish commented on #19519
it's not clear that this this is from params. can you include minimal dag file example

[2022-09-23 09:26] potiuk commented on #26623
Pleaase see if the problem persist if you upgrade to latest 2.2.* (or even upgrade to 2.3* or 2.4*.  It makes virtually no sense to upgrade to 2.2.0 - because almost by definition it has bugs. Even if you do not want to upgrade to 2.3 or 2.4 (which you should) there are likely tens of bugs fixed between 2.2.0 and 2.2.2 (but probably hundreds of others fixeed in 2.3 and 2.4)

Airflow follows SemVer

[2022-09-23 09:29] uranusjr commented on #26505
I created a PR for this. Would be awesome if someone could test it!

[2022-09-23 09:35] EssKayz commented on #26619
We tried taskflow aswell, but with taskflow we ran into the problem that we cannot dynamically give task_id to the generated tasks. We are using Airflow for an ETL migration process, so we have automagic task generation for data exports, transformations, filtering and imports.

Concrete example pseudocode:
[code]

[2022-09-23 09:37] kosteev opened #26627 ""task_fail" contains duplicates for FK to "task_instance" table"
### Apache Airflow version

Other Airflow 2 version

### What happened

Airflow 2.3.3.
Task instance failures produce duplicates in "task_fail" table for this constraint (dag_id, task_id, run_id, map_index).

### What you think should happen instead

Recently FK constraint between task_fail and task_instance tables was introduced:
https://github.com/apache/airflow/pull/22260
And then there was a c

[2022-09-23 09:39] uranusjr commented on #26619
But you can’t dynamically provide a task_id to PythonOperator either…? I think I am mising something very important here. Again, a concrete example would be best.

[2022-09-23 09:46] EssKayz commented on #26619
I sadly am not allowed to post direct code due to company policies, but how we deal with that is, we for example have a function  that does roughly the following:
[code]

[2022-09-23 09:50] EssKayz commented on #26619
So essentially what we would _want_ to do is have the `process_split_data` callable get kwargs from the XCom return of the task, and that we have currently jerry-rigged using the templates_dict.
when we tried using expand_kwargs, the kwargs were simply passed to PythonOperator as kwargs, and we didn't find a way to pass over them to the op_kwargs.

[2022-09-23 10:02] eladkal commented on #23145
May be solved by https://github.com/apache/airflow/pull/26205
cc @ephraimbuddy

[2022-09-23 10:14] EssKayz commented on #26619
I can try to quickly mock up a working example, if my incoherent rambling is hard to grasp - sadly not a native English speaker :disappointed:

[2022-09-23 10:34] EssKayz commented on #26619
This should be a working example, so essentially
[code]

[2022-09-23 11:01] abiwill commented on #19767
This issue is still there in 2.3.2.
Callbacks get missed and there are no logs.

[2022-09-23 11:48] eladkal commented on #15978
This issue is reported against older version of Airflow.
Please check with latest Airflow version.

[2022-09-23 11:48] #15978 closed

[2022-09-23 11:49] eladkal commented on #12995
This issue is reported against older version of Airflow.
Please check with latest Airflow version.

[2022-09-23 11:49] #12995 closed

[2022-09-23 11:54] eladkal commented on #15645
hi @wolfier are you still working on this issue?

[2022-09-23 11:57] eladkal commented on #15799
This issue is reported against older version of Airflow.
Please check with latest Airflow version.

[2022-09-23 12:07] JoranDox commented on #19519
Huh, strangely, without changing anything config-wise, it now works. I did encounter it on a dag that just changed (I added a task, which hadn't run yet). Could that have caused it?

[2022-09-23 12:19] AzeemIqbal opened #26629 "Grid view does not show running DAGs"
### Apache Airflow version

2.4.0

### What happened

Upgraded airflow from 2.1.4 to 2.4.0, did airflow db upgrade, all seems to work ok
In the new grid view UI though, we don't seem to be able to see running DAGs in the default grid view (All run states)
Filtering for "Running" does show the DAG is actually running, with the latest DAGRun, I'm just wondering why it doesn't show for All run states

[2022-09-23 12:33] esoyer opened #26630 "Importing DummyOperator is not detected as an error"
### Apache Airflow version

2.4.0

### What happened

After having upgrade our Airflow from 2.3.4 to 2.4.0, we observed that the DummyOperator was deleted (by the way, the release note does not talk about this at all).

We ran our tests which check that the import_errors from our dag bag is an empty map, and the tests were passing even though the imports of DummyOperator were still there in the DA

[2022-09-23 12:41] eladkal commented on #26630
The `DummyOperator` was deprecated.
You can still use it.
see :
https://github.com/apache/airflow/blob/55d11464c047d2e74f34cdde75d90b633a231df2/airflow/operators/__init__.py#L51

We just replaced it  with PEP-562 dynamic attribute loading.

[2022-09-23 15:22] ajbosco commented on #26394
This is impacting only one of our DAGs (we're on version 2.3.4), but it isn't clear why it is happening.

[2022-09-23 16:49] jedcunningham commented on #26581
There is already that behavior if you only choose to clear TI - RTIF is dependent on the TI existing already.

The removal of execution_date/the transition to the TI FK AND the release of the db clean feature happened in 2.3.0, so it has never worked for RTIF!

If we still want to support cleaning RTIF directly, it should use the date from TI instead. I'd rather we remove RTIF as an option and jus

[2022-09-23 17:05] #26099 closed

[2022-09-23 17:07] sai3563 commented on #26581
@jedcunningham

Yes, this can be done, but from my quick code review of `site-packages/airflow/utils/db_cleanup.py`, it seems to be made in a way that we just pass table details and timestamp field and it will automatically do the deletion with the same logic for all tables

[code]

[2022-09-23 17:20] jedcunningham commented on #26581
Sorry, I'm advocating for removing RTIF as an option altogether and if you run `airflow db clean -t rendered_task_instance_fields` you get a warning like this instead:

[code]

Interestingly, we don't appear to error check tables we pass in anyways, so straight up removing it might be an option too.

cc @dstandish

[2022-09-23 17:24] sai3563 commented on #26581
@jedcunningham

Alright then, what specific change would need to be done from my end in the code, if any?

[2022-09-23 17:41] jedcunningham commented on #26581
I think just removing [this line](https://github.com/apache/airflow/blob/55d11464c047d2e74f34cdde75d90b633a231df2/airflow/utils/db_cleanup.py#L100)? A quick look makes me think everything else (e.g. help text) is okay as is because it's dynamically generated.

[2022-09-23 17:53] sai3563 commented on #26581
@jedcunningham Alright, will do the same tomorrow.

[2022-09-23 18:36] GFBryson opened #26638 "apache-airflow-providers-atlassian-jira Not in PyPi Repository"
### Apache Airflow Provider(s)

atlassian-jira

### Versions of Apache Airflow Providers

attempting to use any version (latest)(1.0.0)

### Apache Airflow version

2.3.0

### Operating System

Linux Mint

### Deployment

Docker-Compose

### Deployment details

package install section
`RUN python3 -m pip install --upgrade pip`
`RUN pip install JIRA`
`RUN pip install 'apache-airflow-providers-atlas

[2022-09-23 19:01] sardelorme commented on #26638
I am also having this issue. I have not been able to find anyone else posting about this - thanks for making the issue. Hopefully, a solution can be reached promptly.

[2022-09-23 19:03] mjarosie opened #26640 "Web server fails to start when `GUNICORN_CMD_ARGS` environment variable is specified"
### Apache Airflow version

2.4.0

### What happened

When I spin up Airflow following docker compose tutorial with `GUNICORN_CMD_ARGS` environment variable specified for `airflow-webserver` container - the web server exits with code 1, logging the following errors:

[code]

I have definitely initialised the database using `docker compose up airflow-init` and have tried invoking `docker-compose ru

[2022-09-23 20:31] eladkal commented on #26638
the provider wasn't released yet

[2022-09-23 21:13] dstandish commented on #19519
dunno 🤷

[2022-09-23 21:27] ddeepwel opened #26644 "Shedule details in default_args does not get passed to DAG model"
### Apache Airflow version

2.4.0

### What happened

I have defined a number of things relating to the DAG in the default_args dictionary and expected these parameters to be applied to the DAG in addition to the individual operators within the dag.

My major problem was with "catchup", "schedule_interval", and "start_date". I had specified values for these in "default_args", but the DAG details d

[2022-09-23 23:17] ephraimbuddy commented on #26644
default_args is for tasks not Dag

[2022-09-23 23:45] thesuperzapper commented on #26587
@potiuk @bharatk-meesho I am making lots of progress on a "task aware" worker autoscaler that will be implemented in the next big release of the [Airflow Helm Chart (User Community)](https://github.com/airflow-helm/charts/tree/main/charts/airflow), you can follow when this happens by subscribing to https://github.com/airflow-helm/charts/issues/339.

Note, the actual code is still private for now (

[2022-09-24 00:24] potiuk commented on #26587
Thks @thesuperzapper ! interesting approach indeed. looks pretty complex but let's see how it plays out.

[2022-09-24 00:24] #26638 closed

[2022-09-24 04:19] malthe commented on #24731
@potiuk what specifically in 2.4.0rc1 addresses this issue? Is that the liveness probe suggested by @jedcunningham or something else?

[2022-09-24 06:45] ephraimbuddy commented on #26529
Opps. Reading this now.

[2022-09-24 08:01] eladkal commented on #22474
@frankbreetz are you still working on the PR?

[2022-09-24 08:02] #11177 closed

[2022-09-24 08:03] eladkal commented on #24286
@enzoIto are you still working on this issue?

[2022-09-24 08:03] eladkal commented on #23437
@phanikumv are you still working on this issue?

[2022-09-24 17:19] pierrejeambrun commented on #26622
Thank you for reporting this issue.

Indeed it looks like the overflow is not properly handled for the dialog component. (On chrome I can scroll the modal content by playing around but it definitely feels buggy).

Maybe we could have a maxHeight ~90% of the vertical space, and add a scrollbar to the task instances list :thinking: ?  (cf screenshot)

Would be glad to review a PR for this. @vqcuong,

[2022-09-24 22:14] ltutar commented on #26527
We also have this issue.  Any idea when this fix will be released? If I want to go back to airfow version 2.3.3, the pods are in crashloopback with the message
`ERROR: You need to upgrade the database. Please run `airflow db upgrade`. Make sure the command is run using Airflow version 2.3.3.`
I do not have a running airflow 2.3.3 where I can run it from.
Stuck with having no airflow running now.

[2022-09-24 23:33] stromal opened #26659 "Missing documentation: how to add DAG files to Docker Airflow"
### What do you see as an issue?

https://github.com/apache/airflow/discussions/26656

There is no guide/tutorial/ any documentation about "how to add and update multiple DAG files to Docker Airflow".
This is one of the most basic functionality and there is nothing about it.
Also all the 20-30 3rd party guides docker images that i have gone there under the last week also doesn't motions this.
Ther

[2022-09-25 11:20] HassanAlahmed opened #26660 "Logs are not accessible (403)"
### Apache Airflow version

2.4.0

### What happened

When I want to view logs of a task using the webserver, I get the following error:
[code]

When I checked the worker logs, I saw the following:
[code]

### What you think should happen instead

I'm not sure why request.view_args is not subscriptable.

### How to reproduce

_No response_

### Operating System

linux vm from Azure

### Versions o

[2022-09-25 13:24] vqcuong commented on #26622
Hi @pierrejeambrun, sorry for my bad. I have found an issue from my deployment solution. Thank for help me.

[2022-09-25 13:24] #26622 closed

[2022-09-25 13:32] #26660 closed

[2022-09-25 13:33] HassanAlahmed commented on #26660
Duplicate of #26490

[2022-09-25 14:48] pierrejeambrun commented on #26622
@vqcuong how did you solve this ? Wondering if we should still make this change

[2022-09-25 15:46] Taragolis commented on #26571
@dwreeves very detail explanation 👍 💯 🥇

My thought about  `ast.literal_eval` and `full_url_mode` argument.

As I understand release after October 11, 2022 would `major` so it might allow breaking changes in provider in this case we actually might drop support of weird  `ast.literal_eval` if user want keep use dict representation like `{'region_name': 'us-east-1'}` the only option do not upgrade p

[2022-09-25 17:29] tim-cts commented on #16176
Hi, I'm also having this issue.

Cloud provider or hardware configuration: Running kind locally
OS (e.g. from /etc/os-release): macOS
Kernel (e.g. uname -a): Darwin Tims-MBP.lan 21.6.0 Darwin Kernel Version 21.6.0: Wed Aug 10 14:28:35 PDT 2022; root:xnu-8020.141.5~2/RELEASE_ARM64_T8101 arm64
Install tools: brew
Others:

The commands I run are:
[code]

[2022-09-25 18:34] potiuk commented on #24731
I am not 100% sure if it is fixed but it's likely this is fixed https://github.com/apache/airflow/issues/24498 (see above -it is referred to the thread).

Since the user @vivek-zeta @NaveenGokavarapu19 had experienced that in earlier versions, the easiest way to see if it is fixed is to try it by the user. Actually - we never know for sure if we have no detailed logs. We can always re-open it if i

[2022-09-26 03:02] uranusjr commented on #26629
I think this is #26505. _Not showing running DAGs_ is inaccurate, they are simply put in the wrong order.

[2022-09-26 04:08] uranusjr commented on #26619
Would this not work?

[code]

[2022-09-26 04:10] uranusjr commented on #26627
I tend to believe this is not the intention, and feel free to submit fixes where duplicates can be created. (Can you provide examples? You didn’t explain _when_ duplicates happen.)

[2022-09-26 06:24] daniel-andresen-jimdo commented on #26497
Hello, we also facing this problem. Existing dags are showing up in the Airflow UI but we can't create a new dag.
We are using dynamic dag creation to create new dags. After defining the new dag I ran the command "airflow dags reserialize" in the scheduler container. In the output I have had the same SQL like mentioned above.

We also use the officel Helm chart to deploy Airflow. We are using a po

[2022-09-26 06:27] kosteev commented on #26627
Sorry, I didn't stated it clearly, basically multiple failures of the same task instance produce duplicates in task_fail table.

[2022-09-26 06:32] uranusjr commented on #26627
Hmm yeah that makes sense. I’m guessing the duplicated entries should be expected, and deleting them on upgrade could be an accident…? Not sure. cc @dstandish

[2022-09-26 06:35] uranusjr commented on #26497
I don’t think this is related to #26505, it looks like something in the permission stack not working well with AIP-48 stuff?

[2022-09-26 06:43] bhirsz commented on #26600
Thank you, I will pass it to the team that is working on increasing the coverage of the Google Cloud services in the Airflow. Just a note that the service needs a python SDK (ideally) or API, and lack of those can postpone support in the Airflow. And of course since it's open source it can be added by anyone, any contribution is welcome :)

[2022-09-26 07:55] eladkal commented on #26394
Please see if you can create a minimal reproduce example otherwise its hard to find the root cause

[2022-09-26 08:41] eladkal commented on #26248
@akbarnotopb maybe it will be easier for you to start with this issue?

[2022-09-26 09:02] #26499 closed

[2022-09-26 10:21] ephraimbuddy commented on #26644
Closing as this is not a bug

[2022-09-26 10:21] #26644 closed

[2022-09-26 10:37] eladkal commented on #26248
You can join slack for support if you have difficulty

[2022-09-26 11:17] malov commented on #26623
Thanks for suggestion, but I did this already: initially I upgraded from 2.1.0 to 2.2.2 directly, that's where I encounter this problem first. Then I started doing a gradual upgrade 2.1.0 -> 2.1.4 -> 2.2.0 -> 2.2.2. First change was successful, during second I saw this bug.
I couldn't find anything resembling my problem in changelog - maybe I didn't look hard enough - but I'l try versions other 2.

[2022-09-26 11:26] mrn-aglic commented on #24388
The proposed workaround: `SELECT * FROM {{ task.mapped_kwargs.parameters[ti.map_index].tbl }};`
Doesn't seem to be working on **airflow 2.4.0**.
I get the following exception:

[code]

[2022-09-26 12:58] ashb commented on #26629
Closing as a duplicate of #26505 -- please let us know if this is something else and we can re-open it!

[2022-09-26 12:58] #26629 closed

[2022-09-26 12:59] ashb commented on #26505
Fixed by #26626

[2022-09-26 12:59] #26505 closed

[2022-09-26 13:36] uranusjr commented on #24388
The `mapped_kwargs` attribute is intended to be private and is subject to breakages. The equivalent in 2.4 is `task.expand_input.value`.

The fix has been included in #26100. Once that’s merged (to main and released in 2.5), I plan to write up a patch to backport the behaviour to 2.4, so `task` points to the _unmapped_ operator instead to allow users to simply access the attribute directly. If thi

[2022-09-26 13:49] #26548 closed

[2022-09-26 13:54] potiuk commented on #26623
OK. Thanks for the explanation.

I think the reason why it has changed in 2.2.0 is this chage: https://github.com/apache/airflow/pull/16860 but I think the root cause is that chart / K8S executor configuration you use does not properly set DAGS_FOLDER variable.

This change in 2.2.0 fixed the behaviour that has been accidentally broken in 2.2.0 - namely possibility of using different path in Sched

[2022-09-26 14:17] Jorricks opened #26677 "Missing DAG example of dynamic task mapping"
### Description

While working on implementing [custom task notes](https://github.com/apache/airflow/pull/26457) I wanted to test my changes with [Dynamic Task mapping](https://airflow.apache.org/docs/apache-airflow/2.3.0/concepts/dynamic-task-mapping.html#simple-mapping), but we don't have any example DAGs for this.
We should add an example DAG containing this.

### Use case/motivation

For showi

[2022-09-26 14:20] potiuk commented on #10913
Why not. Maybe you would like to attempt to do it? PRs are welcome :)

[2022-09-26 14:24] malov commented on #26623
Thanks for the thoughtful response.
I don't use environment, but I do set dags_folder in [core] section of airflow.cfg to a value "/workflow/dags" for all three pods - web, scheduler, and worker. It is getting set up correctly for web and scheduler, but I can't check it for worker as it runs for a fraction of a second. The script which sets it is the same as for two other pods.

Regarding moving o

[2022-09-26 15:22] ddeepwel commented on #26644
My point is that labeling the argument as default_args is potentially confusing because it is passed as an argument to the Dag and therefore could be understood as something that will be applied to the Dag.

It should be named something like default_task_args or default_operator_args to make it apparent that it is applied to tasks within the dag rather than the dag itself.

[2022-09-26 16:24] dstandish commented on #26627
Yes I think that removing the duplicates is not necassary.

[2022-09-26 16:48] dstandish commented on #26627
I'm taking a look at how we use taskfail though... i the effort is not super great, it would be best if we can figure out what is actually the key of this table and enforce it.  i know it's used in the `dags/./duration` view ... not sure what the consequence is of having the duplicates.

but from a referential integrity perspective, there's no issue because it is TF -> TI and not the other way aro

[2022-09-26 17:20] dinigo commented on #26600
There's both, a REST and gRPC API, and also a [python library](https://github.com/googleapis/python-batch)

[2022-09-26 17:53] hterik commented on #21225
We got similar issue (Airflow 2.3.3), it happened right after worker suffered connection loss to Redis who later did not consume any tasks for 3 days, despite showing up as healthy in Flower.
One thing i suspect is that reconnect attempt got stuck in an infinite timeout. Python sockets have default no timeout, same default applies in Celery and redis-py. (This would not explain why flower showed n

[2022-09-26 18:08] lucas481516 commented on #26394
Hello @eladkal,

I work with @bertrand-buffat, I allow myself to add certain elements in order to be as precise as possible on the current problem.

Cluster version kubernetes : 1.21
AWS platform version: eks.10 (https://docs.aws.amazon.com/eks/latest/userguide/platform-versions.html#:~:text=April%204%2C%202022-,Kubernetes%20version%201.21,-The%20following%20admission)

(example of dag who work on

[2022-09-26 19:17] potiuk commented on #26644
My opinion It's definitely not a bug. It's how it is defined. There is no ultimate best approach how it **should** be named. You can have an opinion on that but unless you are ready to pay the cost of changing it, this is an opinion, and it's not a bug, and while it **could** be named differently, it is not. But defintely **should** and **bug** are not appropriate for that.

Just to set expectatio

[2022-09-26 20:11] ddeepwel commented on #26644
Thanks @potiuk and @ephraimbuddy for the explanations, comments, and directing me to the place to make suggestions.

[2022-09-26 21:00] montgomery-marcus-solute opened #26686 "swagger-ui version causes security findings"
### Apache Airflow version

2.4.0

### What happened

My organization scanned a container running airflow 2.4.0 and found the following vulnerabilities, all related to swagger-ui, fixed in the swagger-ui version next to the link for the vulnerability:

https://nvd.nist.gov/vuln/detail/CVE-2019-17495 >= 3.23.11
https://nvd.nist.gov/vuln/detail/CVE-2018-25031 >= 4.1.3
https://github.com/advisories/G

[2022-09-26 21:34] potiuk commented on #19767
Unfortunately, if there are no logs, nor indication, no traces, no prior similar cases, it would be a miracle to figure out what  happens @abiwill. If you can provide any more circumstances, explanation, logs of your case, it would be helpful, but without it it's not helping us to help you.

[2022-09-26 21:39] potiuk commented on #24168
Summary of ALL issues: for 45 issues
   Completed and closed issues: 42/45: 93.33%
   Completed files 209/275 = 76.00%

 Issues that are not completed and are still opened:

 * [Migrate Google example DAGs to new design](https://github.com/apache/airflow/issues/22447): 58/89 : 65.17%
 * [Migrate Amazon example DAGs to new design](https://github.com/apache/airflow/issues/22438): 27/36 : 75.00%
 * [

[2022-09-26 22:01] #26529 closed

[2022-09-27 02:11] MatrixManAtYrService opened #26691 "Empty Task Groups Appear in Graph View"
### Apache Airflow version

2.4.0

### What happened

This is not a regression, it's just that I comes up so rarely that I hadn't bothered with the bug until now.  Here's two dags:

[code]

And the corresponding graph views:

<img width="324" alt="Screen Shot 2022-09-26 at 8 02 58 PM" src="https://user-images.githubusercontent.com/5834582/192414701-3bcd7410-ec69-4120-9a1c-11c39d0328a9.png">

<img

[2022-09-27 02:58] amyb12345 opened #26692 "Docker Extension for Airflow"
### Description

Docker Extensions are a way to integrate additional functionality and tools into Docker Desktop.  Developers using Docker Desktop have been requesting that an extension be built for Airflow. Docker Extensions have an [open SDK](https://github.com/docker/extensions-sdk) and can be built by anyone. We'd love to see one created for Airflow to help improve developers workflows.  The D

[2022-09-27 03:28] mariotaddeucci commented on #26534
Yes, it's happing on 3.9. On 3.8 only with dynamic task.
It happens with both parameters, owners and on failure callback.

[2022-09-27 03:36] uranusjr commented on #26627
From a “recording the history” perspective, I’d expect repeated TaskFail events be all be kept, and if the UI can only show one, it should have logic to only pull in the last failure for a ti.

[2022-09-27 04:08] zhangchunsheng opened #26694 "Does the docker-compose.yaml correct?"
### What do you see as an issue?

Does the docker-compose.yaml correct?

https://airflow.apache.org/docs/apache-airflow/2.4.0/docker-compose.yaml

[code]

### Solving the problem

_No response_

### Anything else

_No response_

### Are you willing to submit PR?

- [ ] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://github.com

[2022-09-27 04:12] zhangchunsheng commented on #26694
before x-airflow-common it should has two spaces.

[2022-09-27 06:03] eladkal commented on #26691
Why? User did code it.

[2022-09-27 06:50] uranusjr commented on #26686
This sounds like an important issue to you. Do you want to submit a pull request?

[2022-09-27 07:03] alexvkaam opened #26698 "airflow 2.4.0 warning about base_log_folder"
### Apache Airflow version

2.4.0

### What happened

Hello

I always try to keep airflow up to date and after each update work out all the warning etc.

so upgrade 2.3.4 results during db upgrade

airflow db upgrade
DB: postgresql+psycopg2://airflow:***@localhost:5432/airflow
Performing upgrade with database postgresql+psycopg2://airflow:***@localhost:5432/airflow
[2022-09-27 08:43:35,472] {db.py

[2022-09-27 07:39] mrn-aglic commented on #24388
Thanks for the response. I tried to do it a couple of ways, including this:
`task.expand_input.value.parameters.batch_start`

But I get the following error:
[code]

Here is the full operator definition:
[code]

[2022-09-27 07:41] uranusjr commented on #24388
Unfortunately there’s currently no way to access the _resolved_ value of a mapped operator.

[2022-09-27 09:03] mc-borscht opened #26700 "Email Configuration How-To: Configuring e-mail via SES using environment variables"
### What do you see as an issue?

In the email configuration How-To - I think it would be useful to indicate how to configure AWS SES via environment variables - if this is possible. Currently the setup is limited to modifying airflow.cfg:

![image](https://user-images.githubusercontent.com/96577320/192479715-a269e327-924a-4508-b941-5e98773d27e7.png)

Previously, the Sendgrid provider section cove

[2022-09-27 10:02] ashb commented on #24388
No way _currently_. We'll add it in 2.4.1

[2022-09-27 10:02] ashb commented on #24388
No way _currently_. We'll add it in 2.4.1

[2022-09-27 12:21] samuelsinayoko commented on #21717
having the same issue with 2.3.3

[2022-09-27 12:52] #24388 closed

[2022-09-27 13:05] #21970 closed

[2022-09-27 13:59] MatrixManAtYrService commented on #26691
@eladkal ok, that's fair. If you think that somebody wants this behavior I'll happily close the ticket.  I had assumed that it was the way it was but just because we didn't give it much thought.

I dislike it because when people look at my DAG and see a box floating out of context, they assume that it's of elevated importance and not diminished importance.

They ask:

To which I answer:

I can wor

[2022-09-27 14:13] eladkal commented on #26691
True but on the other hand in complex dags where you have dozens of tasks and task group you dont want the UI to hide stuff otherwise it will be harder to remove redundant code.

Could we maybe mark in the UI that its empty? Maybe diffrent edges or something like that?

[2022-09-27 14:35] potiuk opened #26709 "Cleanup Job Pods host remove history after completing the job"
We currently do not have possibility of confioguring:

* spec.successfulJobsHistoryLimit
* spec.failedJobsHistoryLimit

For cleanup jobs. Creaeted it to add a feature for that.

### Discussed in https://github.com/apache/airflow/discussions/26547

<div type='discussions-op-text'>

<sup>Originally posted by **alionar** September 21, 2022</sup>
<img width="919" alt="Screen Shot 2022-09-21 at 10 36 2

[2022-09-27 14:42] #24921 closed

[2022-09-27 15:14] dstandish commented on #21717
Hi I believe issues with serialization of pod_override are resolved in 2.4.  There was an issue logic being applied repeatedly.  I assume it's happening for you only intermittently?  Here's the fix: https://github.com/apache/airflow/pull/26191

You might try applying that locally if you're unable to upgrade to 2.4 immediately.

[2022-09-27 15:39] sterling-jackson commented on #26497
We saw the same problem this past week with in an attempted upgrade to 2.4. Initially tried the database upgrade path and also tried resetting the database with `airflow db reset`. Same problem appeared both ways. DAGs would show up in the CLI and in the UI, but an error would be thrown when trying to view details and the scheduler was logging errors that they weren't in the serialized DAG table.

[2022-09-27 15:45] ashb commented on #26497
Question: while this looks bad, does it actually cause any process to exit with an error?

[2022-09-27 15:46] ManikandanUV commented on #26497
I upgraded our server from Ubuntu 18.04 to 20.04.5 and tried installing 2.4.0 again. The same issue persisted, so we've rolled back to 2.3.4. I have another server on 18.04 that successfully managed to upgrade from 2.3.4 to 2.4, so if you need me to make any comparison between the two servers (although the failing one is now on 20.04) to get to the root cause, let me know.

[2022-09-27 15:47] ashb commented on #26497
@ManikandanUV What version of `SQLAlchemy` and `Flask-AppBuilder` do you have installed in each server?

[2022-09-27 15:53] ManikandanUV commented on #26497
@ashb
**Failing server:**
Name: SQLAlchemy
Version: 1.4.41
Name: Flask-AppBuilder
Version: 4.1.3

**Working server:**
Name: SQLAlchemy
Version: 1.4.40
Name: Flask-AppBuilder
Version: 4.1.3

[2022-09-27 15:53] ManikandanUV commented on #26497
@ashb how do I get the db dump?

[2022-09-27 16:25] sfc-gh-mkmak commented on #26497
@ashb We have experienced that problem as well while testing to 2.4.0 upgrade (from 2.2.4). We use centos 7 for airflow.
SQLAlchemy - 1.4.27, Flask-AppBuilder 4.1.3. When I pulled DAGs I cannot open any of them on WebUI - I got that error: `DAG seems to be missing from DagBag`. Let me know if you need any additional info.

[2022-09-27 16:26] ephraimbuddy commented on #26497
From what version did you start using airflow? Asking so I can try to upgrade from that version to 2.3.4 to 2.4.0

[2022-09-27 16:50] dstandish commented on #26627
Yeah, sigh... PR to remove the check:  https://github.com/apache/airflow/pull/26714

I think in my head the FK ref direction was flipped so in my mind the TF records had to be deduped before adding the key.  My mistake.  Fortunately, it seems of little consequence.

I looked at the code in the task duration and gantt views, the two locations where some processing of taskfail records is done.  It d

[2022-09-27 16:54] stromal opened #26715 "Airflow Docker AWS EC2 DAG file log error"
### Apache Airflow version

2.4.0

### What happened

## ISSUE

I have run other dag files previously they all give this message even if they pass or fail.

## Goal

Get this error fixed

## Log that contains the error

I got this after running  simple dag

[code]

## Commands

- ```docker build -t my-image-apache/airflow:latest-python3.8 . ```
- ```docker-compose up ```

## Environment

- AWS EC2

[2022-09-27 17:10] sterling-jackson commented on #26497
@ashb I attached examples of the two errors I saw in case it's helpful.

[2022-09-27 17:18] eladkal commented on #26545
oh yeah.
I change this to a bug report because this is not really a feature. This is how logs used to work before

[2022-09-27 17:56] noah-gil opened #26718 "Executing a Docker Decorator task results in Jinja Error"
### Apache Airflow Provider(s)

docker

### Versions of Apache Airflow Providers

apache-airflow-providers-docker==3.1.0

### Apache Airflow version

2.4.0

### Operating System

Debian GNU/Linux 11 (bullseye)

### Deployment

Docker-Compose

### Deployment details

Client: Docker Engine - Community
 Cloud integration: v1.0.28
 Version:           20.10.17
 API version:       1.41
 Go version:

[2022-09-27 19:07] potiuk commented on #26715
This is duplicate of https://github.com/apache/airflow/issues/26492 and it is already fixed in https://github.com/apache/airflow/pull/26493 and merged in upcoming (tonight?) RC1 candidate of 4.2.1

You can try to apply manually the fix from #26493 or simply wait for 2.4.1 (even RC) and test it there.

[2022-09-27 19:07] #26715 closed

[2022-09-27 19:08] jedcunningham opened #26724 "Status of testing of Apache Airflow 2.4.1rc1"
We have a kind request for all the contributors to the latest [Apache Airflow RC 2.4.1rc1](https://pypi.org/project/apache-airflow/2.4.1rc1/).

Could you please help us to test the RC versions of Airflow?

Please let us know in the comment if the issue is addressed in the latest RC.

- [x] [Fix Deferrable stuck as "scheduled" during backfill (#26205)](https://github.com/apache/airflow/pull/26205):

[2022-09-27 19:13] eladkal opened #26725 "Refactor `S3KeysUnchangedSensor` system test"
S3KeysUnchangedSensor doesn't work well with DebugExecutor which causes issues for system tests.

Spawn of _Originally posted by @eladkal in https://github.com/apache/airflow/pull/26606#discussion_r978103055_

[2022-09-27 19:38] potiuk commented on #26718
Yeah. I think the problem is that we have not released the docker provider before releasing 2.4.0/2.4.1. We will fix it.

[2022-09-27 19:52] potiuk commented on #26718
Sorry for that - I had not realised we had this implicit coupling.

[2022-09-28 00:14] rjmcginness commented on #26724
Tested fix (#26636) for issue #26499 in version 2.4.1rc1 and it seems to work for me.  I'll defer to @BasPH to confirm. Hopefully, this is how I am supposed to respond here.

With patch:
![image](https://user-images.githubusercontent.com/46764738/192659143-f9f9895a-1389-4828-98ed-eddde4f4c9dc.png)

Before patch:
![image](https://user-images.githubusercontent.com/46764738/192659085-099e2043-60a5-4e

[2022-09-28 01:14] Abhinav1598 commented on #16176
It’s solved, I was inside my companies vpn, so I was unable to pull the images from docker. I pulled and pushed the images to my remote repo, and it started working. :)

[2022-09-28 03:25] jedcunningham commented on #26724
Thanks @rjmcginness 🍺!

[2022-09-28 03:38] jedcunningham commented on #26691
I also think we should still show it 🤷‍♂️. In general I'm not a fan of just hiding things.

[2022-09-28 04:31] uranusjr commented on #26479
Something’s wrong with your deployment. TaskFail removed `execution_date` in 2.3, but a thing is still trying to write that column. Airflow does not do this (in 2.3), so it’s something else.

[2022-09-28 06:14] #24618 closed

[2022-09-28 06:37] sprohaska commented on #26724
Tested <https://github.com/apache/airflow/pull/26549>. It works as expected.

[2022-09-28 07:57] eladkal commented on #26691
OK so I'm converting this one to discussion as an idea :)

[2022-09-28 08:03] eladkal commented on #25431
@cansjt do you plan to open a PR?

[2022-09-28 09:08] eladkal commented on #19739
@phanikumv are you working on this issue?

[2022-09-28 10:24] MatthieuBlais commented on #26709
I can work on that

[2022-09-28 14:43] collinmcnulty opened #26751 "Mapped tasks each update a different Dataset"
### Description

It would be great is each map_index in a set of dynamically mapped tasks could each update a different Dataset depending on the parameters sent to them.

### Use case/motivation

Perform the same transformation on a number of similar datasets and then have a bunch of separate DAGs that do further analysis after each mapped task is finished. It seems relatively common to use mapped

[2022-09-28 14:52] potiuk opened #26752 "Status of testing Providers that were prepared on September 28, 2022"
### Body

I have a kind request for all the contributors to the latest provider packages release.
Could you please help us to test the RC versions of the providers?

Let us know in the comment, whether the issue is addressed.

Those are providers that require testing as there were some substantial changes introduced:

## Provider [alibaba: 2.1.0rc1](https://pypi.org/project/apache-airflow-provider

[2022-09-28 15:17] eladkal commented on #26752
links are wrong? all are RC1 not RC2

[2022-09-28 15:47] potiuk commented on #26752
Thanks Elad :). Fixing :)

[2022-09-28 15:49] potiuk commented on #26752
Copy-pasted a wrong command :). All links are fixed now.

[2022-09-28 18:20] suselunarwolf commented on #26725
HI can i work on this ..is issue is still open

[2022-09-28 18:54] patricker commented on #26752
I've tested #26277, it's good.

I was testing #26285, and there is something off with the way I wrote the value to XCom. The Max Value shows correctly in the text logs, but when it's written to XCom there is some kind of serialization issue, and it throws an error in the web ui when I try to view it.

[code]

[2022-09-28 18:55] c2zwdjnlcg commented on #26752
Tested trino: 4.1.0rc1 and did not hit any issues

[2022-09-28 19:04] vgupta3 opened #26760 "DAG on_failure_callback uses wrong context"
### Apache Airflow version

2.4.0

### What happened

When a task fails in a DAG, the on_failure_callback [registered while creating the dag](https://github.com/apache/airflow/blob/21c40cd4cc7830bc17a4180d8dd0fa2cc4ed9cea/airflow/models/dag.py#L387) is triggered using the context of a [random task instance](https://github.com/apache/airflow/blob/21c40cd4cc7830bc17a4180d8dd0fa2cc4ed9cea/airflow/mod

[2022-09-28 19:30] josh-fell commented on #26760
Hey @vgupta3! Have you tried applying your `on_failure_callback` to `default_args` instead? Setting [`on_failure_callback` at the DAG level](https://airflow.apache.org/docs/apache-airflow/stable/_api/airflow/models/dag/index.html#airflow.models.dag.DAG) applies to the DagRun failing not tasks specifically.

If you want to gain the context from the failed task, you can set [`on_failure_callback` at

[2022-09-28 19:40] potiuk commented on #26718
Hey @noah-gil  - can you please inslall RC candidate of 3.2.0 docker provider and confirm that the problem is fixed ? https://pypi.org/project/apache-airflow-providers-docker/3.2.0rc1/ - you can also comment here :) #26752

[2022-09-28 19:41] potiuk commented on #26718
Closing as the docker provider is in voting period.

[2022-09-28 19:41] #26718 closed

[2022-09-28 19:43] josh-fell commented on #26760
Yeah, looking at the Callbacks documentation, I definitely agree it's misleading and could be improved.

[2022-09-28 20:11] potiuk commented on #26752
Hmm. I think we need to take closer look. Can you describe a way you did it? It kinda looks like you have a "table" object serialized somehow rather than primitive.

[2022-09-28 20:56] pierrejeambrun commented on #26724
Tested https://github.com/apache/airflow/pull/26681, working as expected :)

[2022-09-28 21:42] jens-scheffler-bosch commented on #26752
I'd like to contribute to the RC tests but for all 4 provider packages touched by my PR I just did code checks for consistency of the logging on API. I have no back-end environment for alibaba, azure, google and amazon in my availability :-( Is somebody besides me able to test?
Test is simple if you have a running environment, can use any existing longer running DAG and check the log view ,as desc

[2022-09-28 22:22] patricker commented on #26752
@potiuk In looking at the code again, and the actual Log message, it looks like I accidentally tried to serialize a whole table row instead of the value of the first column of the table row.

This serialized row then causes issues in XCom. I'll see about fixing it.

[2022-09-28 22:36] potiuk commented on #26752
Thanks for flagging/testing/fixing. We can remove google provider and re-release it as rc2 (but let's continue testing it for now by others).

[2022-09-28 22:37] potiuk commented on #26752
Yep. If others can test it - it would be great (especially while testing other issue). Thanks for notifying :)

[2022-09-29 02:14] pauldalewilliams commented on #26752
I tested both #26666 and #26576 - both are good.

[2022-09-29 02:23] uranusjr commented on #26760
Perhaps we should rename the DAG-level argument to `on_dag_failure_callback` instead?

[2022-09-29 02:39] troyharvey commented on #26497
We are seeing the same issue upgrading from `2.3.4` to `2.4.0`

[code]

[2022-09-29 03:03] patricker opened #26767 "MaxID logic for GCSToBigQueryOperator Causes XCom Serialization Error"
### Apache Airflow Provider(s)

google

### Versions of Apache Airflow Providers

apache-airflow-providers-google 8.4.0rc1

### Apache Airflow version

2.3.4

### Operating System

OSX

### Deployment

Virtualenv installation

### Deployment details

_No response_

### What happened

The Max ID parameter, when used, causes an XCom serialization failure when trying to retrieve the value back out of

[2022-09-29 03:06] patricker commented on #26752
@potiuk I'll try and get my other two tested tomorrow. Here is the PR with the fix for #26285, https://github.com/apache/airflow/pull/26768.

[2022-09-29 06:42] EssKayz commented on #26619
Hmm, will have to check if that would work - but wouldn't it still be a good idea to try to support PythonOperators with expand_kwargs too? Not sure how complex that would be to do of course.

[2022-09-29 06:51] shubhashish9 opened #26769 "AIrflow 2.4 crashes python while making requests.get call"
### Apache Airflow version

2.4.0

### What happened

In my DAG I make a request.get call and it fails with sigsev. In the background python crashes.
I tried with debug executor and that works, But in python virtualenv or in docker it fails with same error.

### What you think should happen instead

This sigsev should not have happened.

### How to reproduce

Using this dag script the issue is rep

[2022-09-29 06:57] uranusjr commented on #26619
It is supported in concept, the main problem is actually the `op_kwargs` syntax would be pretty complex for a user to _write_ so I’m not bothering to try figuring out how it’d work.

[2022-09-29 07:03] shubhashish9 commented on #26769
Attaching scheduler debug logs and dag logs
[dag_id=s3-test-24_run_id=manual__2022-09-29T06_55_11.930070+00_00_task_id=test_request_task_24_attempt=1.log](https://github.com/apache/airflow/files/9671932/dag_id.s3-test-24_run_id.manual__2022-09-29T06_55_11.930070%2B00_00_task_id.tes
[schedulerLogs.log](https://github.com/apache/airflow/files/9671934/schedulerLogs.log)
t_request_task_24_attempt.1.lo

[2022-09-29 07:41] potiuk commented on #26769
This is a problem with Python SSL on MacOS M1 not Airflow. We cannot do much about it because this is an environmental thing.

You can try various workaround and approaches that mitigate the issue  - you can google it, here are two likely ways you can workaround it (read the discussions/various approaches there). But you can find plenty of other discussions/workarounds for similar issues people ha

[2022-09-29 07:41] #26769 closed

[2022-09-29 11:32] vilozio opened #26773 "Tasks stuck in queued state forever after upgrade from 2.2.0 to 2.3.4"
### Apache Airflow version

Other Airflow 2 version

### What happened

We have Airflow (2.2.0) deployed to Kubernetes (1.21.14-gke.700) with the official Airflow Helm Chart (1.6.0). Database is PostgreSQL.

We use KubernetesExecutor.

Recently we upgraded Airflow to the recent (at that point of time) version 2.3.4 (I was waiting for this version because of the fix https://github.com/apache/airflo

[2022-09-29 11:32] alexandermalyga opened #26774 "Trino and Presto hooks do not properly execute statements other than SELECT"
### Apache Airflow Provider(s)

presto, trino

### Versions of Apache Airflow Providers

apache-airflow-providers-trino==4.0.1
apache-airflow-providers-presto==4.0.1

### Apache Airflow version

2.4.0

### Operating System

macOS 12.6

### Deployment

Docker-Compose

### Deployment details

_No response_

### What happened

When using the TrinoHook (PrestoHook also applies), only the `get_records(

[2022-09-29 11:37] stromal opened #26775 "WARNING: markdown-it-py 0.1.0 does not provide the extra 'plugins'"
### Apache Airflow version

Other Airflow 2 version

### What happened

### Describe the bug

**expectation**

- GOAL: install this to a apytnon venve and use this as envionemnt for DAGs in the Docker Airflow
- I expected not to give an error and I can smothly install my python libraries.
- When I want to install packages from a requirements.txt
- I have a blank python virtual environemnt with the

[2022-09-29 11:38] bharanidharan14 commented on #26752
Tested both [Azure Service Bus (Create and Delete) Topic Operators](https://github.com/apache/airflow/pull/25436), working fine 👍
<img width="405" alt="Screenshot 2022-09-29 at 5 07 08 PM" src="https://user-images.githubusercontent.com/94612827/193021569-73351aeb-de52-48bd-9b33-a2714f92b039.png">
<img width="251" alt="Screenshot 2022-09-29 at 5 07 18 PM" src="https://user-images.githubusercontent.

[2022-09-29 13:07] ashb commented on #26497
Can anyone give us reproduction steps? Cos trying this with a "minimal" 2.3.4 and the upgrading to 2.4.0 neither myself nor @ephraimbuddy have been able to reproduce this, so we're not sure what step we're missing.

(And until we can reproduce it, we can't fix it)

[2022-09-29 13:10] ManikandanUV commented on #26497
@ashb try our upgrade path, may be that's the key. I have two servers, one started at 1.x and other started at 2.x. The 2.x server upgraded to 2.3.4 and 2.4 without issues, where as the 1.x server upgraded to 2.3.4 and is now failing 2.4 upgrade from 2.3.4

[2022-09-29 14:12] troyharvey commented on #26497
Thanks for the tip @sterling-jackson. Your suggestion resolved this one for us. If you use this solution alter the `START WITH` based on the max id in your tables.

[code]

[2022-09-29 14:13] JCoder01 commented on #26497
Piling on here. I'm seeing the same thing. Seems to maybe be related Datasets?
[code]
We started on version 1.10.xx too and have been upgrading with each release.

[2022-09-29 14:23] joshowen commented on #26497
We started with 1.8.xx, went to 1.9.xx, 1.10.xx, and somehow all of our FAB tables ended up without sequences set for their IDs, but had the sequences created.  We were seeing similar issues in 2.4.0, and manually ran:
[code]
Which resolved our issue.

[2022-09-29 14:36] stromal opened #26777 "OFFICAL Documentation page gives - Not Found The requested URL was not found on this server."
### What do you see as an issue?

https://airflow.apache.org/docs/apache-airflow/2.3.3/howto/docker-compose/index.html

ERROR:
- Not Found
- The requested URL was not found on this server.

### Solving the problem

Get aback the page it was fine yesterday

### Anything else

_No response_

### Are you willing to submit PR?

- [ ] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree

[2022-09-29 14:37] kumbarsg commented on #25996
@vincbeck @Taragolis I see an issue, cannot import GlueJobOperator, but when I use AwsGlueJobOperator, it works fine. this is with apache-airflow-providers-amazon>=3.2.0 on my MWAA.
Is there a bug that doesn't allow us to import operators from the providers package but allows us to use custom operators?

[2022-09-29 15:02] ashb commented on #26497
Thanks @joshowen that's very helpful

[2022-09-29 15:04] eladkal commented on #26777
This is not a bug. This doc exist only for >=2.4.0
It was updated in https://github.com/apache/airflow/pull/25888
You are probably looking for:
https://airflow.apache.org/docs/apache-airflow/2.3.3/start/docker.html#customizing-the-quick-start-docker-compose

Please do not use deep links between versions. Docs are constantly changing.
Use the search option in the docs main page to find what you are

[2022-09-29 15:12] nicnguyen3103 commented on #21225
Hi we have a similar issue on Airflow 2.4.0. The issue happens after I set the pool too high, which leads to locking issue on Databases (the exact error was "Lock wait timeout exceeded; try restarting transaction"). The task was unable to mark failed for a while and after they did, the pool was kinda corrupted, which leads to the task being stuck in the queue.

I do not have any direction to troub

[2022-09-29 15:25] ashb commented on #26599
It turns out these warnings have been happening since 2.3.0, but due to the mistake fixed by #26779 we just never saw them!

[2022-09-29 15:49] vincbeck commented on #25996
Nice timing! Just to let everyone knows, this issue has been fixed yesterday. It might not be deployed yet (depending on the region your are using). Worst case scenario, the bug should be deployed by end of next week.

@kumbarsg the bug **was** you could not upgrade the amazon provider package in MWAA. Regardless of the version you specify in `requirements.txt`, the amazon provider package used wa

[2022-09-29 16:15] nshetty15 commented on #26752
#26653 - (apache-airflow-providers-docker 3.2.0rc1)  Looks good. Thanks!

[2022-09-29 16:43] TruptiM18 commented on #26574
@potiuk, I would like to take this task. Can you please assign it to me?

[2022-09-29 19:05] patricker opened #26785 "BigQueryHook Requires Optional Field When Parsing Results Schema"
### Apache Airflow Provider(s)

google

### Versions of Apache Airflow Providers

apache-airflow-providers-google 8.3.0

### Apache Airflow version

2.3.4

### Operating System

OSX

### Deployment

Virtualenv installation

### Deployment details

_No response_

### What happened

When querying BigQuery using the BigQueryHook, sometimes the following error is returned:

[code]

### What you think

[2022-09-29 19:34] patricker commented on #26752
I tested #29096 and #26190. Both tested fine.
I ran into a _related_ issue while testing #29096, but which isn't a "bug" with the original PR's implementation. Just a new bug in a similar part of the code. I cut a PR for it, but doesn't have to go into RC2 if it doesn't make it.
https://github.com/apache/airflow/pull/26786

[2022-09-29 19:47] potiuk commented on #26775
Some of your requirement have conflicting dependencies and use a markdown-it.py version that has no extras that are used by another requirement. You need to track it down.

Also what might guide you are the constraints files - the only supported version of installing airflow is via constraint files: https://airflow.apache.org/docs/apache-airflow/stable/installation/installing-from-pypi.html   and

[2022-09-29 20:02] potiuk commented on #26718
Glad it worked :)

[2022-09-29 20:09] potiuk commented on #26774
Not sure about final solution, but right now we have "common.sql" package that allows much faster iteration on common code used by all sql providers, and it should be possible to add a new feature to the hook (callable post-run??) to the DBApiHook, bumping common.sql to 1.3 and make trino/presto depend on common.sql >=1.3.

That was the main reason for having the common.sql separated to be able to

[2022-09-29 21:06] zachliu commented on #26724
#26626 works as expected

[2022-09-29 21:21] Taragolis commented on #26752
#26442 - Only could proof that changed code persists. It is hardly possible to make loggers fail on create hook
#26628 - Check that `amazon` and `databricks` do not change anything in airflow.providers_manager.ProvidersManager after changes. (related to removed listed hooks)
#25980 - As expected deprecated `s3` connection can be use in aws hooks with warnings. No connection in the UI anymore.
#264

[2022-09-29 23:15] bhavaniravi commented on #9327
I would like to work on this

[2022-09-29 23:18] bhavaniravi commented on #8923
If this still has interest, I would like to take this up

[2022-09-29 23:19] Taragolis commented on #26752
#26169 - @jens-scheffler-bosch @potiuk It work with `S3TaskHandler` in breeze with some small artifacts: during fetching logs continuously printed `*** Falling back to local log`

[code]

If something wrong with connection than also spam with this message

https://github.com/apache/airflow/blob/ce071172e22fba018889db7dcfac4a4d0fc41cda/airflow/providers/amazon/aws/log/s3_task_handler.py#L112-L113

[2022-09-30 01:00] kweitzner commented on #8923
Definitely interested

[2022-09-30 01:18] AndrewTsao opened #26792 "Dynamic Task Mapping demo output many warnings."
### Apache Airflow version

2.4.0

### What happened

From v2.4.0，I run dynamic task mapping example, got many warnings.

[code]

Warnings like this.
[code]

### What you think should happen instead

_No response_

### How to reproduce

_No response_

### Operating System

CentOS Linux release 7.9.2009 (Core)

### Versions of Apache Airflow Providers

airflow-code-editor                      7.0.0

[2022-09-30 02:17] uranusjr commented on #26792
Duplicate of #26599

[2022-09-30 02:17] #26792 closed

[2022-09-30 06:48] raphaelauv commented on #26724
test of "important" operators
![Screenshot from 2022-09-28 01-04-41](https://user-images.githubusercontent.com/10202690/193207977-891c56cc-b42a-47cf-8a5a-b98faf720020.png)

[2022-09-30 07:47] windmark opened #26796 "Incorrect await_container_completion in KubernetesPodOperator"
### Apache Airflow version

2.3.4

### What happened

The [await_container_completion](
https://github.com/apache/airflow/blob/2.4.0/airflow/providers/cncf/kubernetes/utils/pod_manager.py#L259) function has a negated condition

[code]
that causes our Airflow tasks running <1 s to never be completed, causing an infinite loop.

I see this was addressed and released in https://github.com/apache/airfl

[2022-09-30 09:13] eladkal commented on #26796
It caused failure of tests and we were unable to point the source so we had to revert
https://github.com/apache/airflow/pull/24479

https://apache-airflow.slack.com/archives/CCPRP7943/p1655306336391429
https://apache-airflow.slack.com/archives/CCPRP7943/p1655300699968739

Quoting Ash from slack:

Feel free to raise PR with tests :)

[2022-09-30 09:15] eladkal commented on #8923
assigned to you @bhavaniravi

[2022-09-30 09:26] alexkruc commented on #26752
#25675 - verified

[2022-09-30 09:48] windmark commented on #26796
I see, thanks for the links. Though it's quite a severe bug if the condition incorrectly is negated when waiting for completed pods. Let me read up on the threads.

[2022-09-30 13:51] ashb opened #26802 "pdb no longer works with airflow test command since 2.3.3"
Converted back to issue as I've reproduced it and traced the issue back to https://github.com/apache/airflow/pull/24362

### Discussed in https://github.com/apache/airflow/discussions/26352

<div type='discussions-op-text'>

<sup>Originally posted by **GuruComposer** September 12, 2022</sup>
### Apache Airflow version

2.3.4

### What happened

I used to be able to use ipdb to debug DAGs by runnin

[2022-09-30 14:09] Taragolis commented on #26752
#25852: Try to test in Airflow 2.2.5 and got an issues that it not work correctly with extra in the UI:
1. Do not allow create connection with empty value for timeout
2. If field not specified than write empty value to the DB, as result slack_sdk can't build correct URL

Need to check is it affect 2.3, because in 2.4 no problem. No problem with connection if it created via API or provided as URL (

[2022-09-30 14:31] ashb commented on #26802
Minimal repro:

[code]

[code]

[2022-09-30 16:42] Flogue opened #26807 "Celery worker failed to execute task from subdag"
### Apache Airflow version

2.4.0

### What happened

Celery worker reports "Failed to execute task Task << task name >> not found." when the task is in a subdag.

I ran a dag just calling a subdag running a few different operators (PostgresOperator, EmrAddStepsOperator, EmrStepSensor).
The results are always the same.

The task logs can't be retrieved:

[code]

### What you think should happen in

[2022-09-30 18:53] josh-fell commented on #26724
#26702 works like a charm!

[2022-09-30 19:04] josh-fell commented on #26752
#25604 looks good!

[2022-09-30 19:59] eladkal commented on #19426
Was this issue fixed by https://github.com/apache/airflow/pull/21574 ?
@matejpavlovic-maistra can you please confirm?

[2022-09-30 20:01] #19426 closed

[2022-09-30 20:07] eladkal commented on #25996
from the description it doesn't sound like MWAA bug not Airflow so I'm closing this issue.
If I'm wrong please clarify

[2022-09-30 20:07] #25996 closed

[2022-09-30 20:10] eladkal commented on #9486
This is an old bug report. The issue may have been fixed as ECSOperator had many changes since. If someone is still experiencing problems please open a new issue with details

[2022-09-30 20:10] #9486 closed

[2022-09-30 20:17] eladkal commented on #13824
Thanks to everyone trying to get to the root cause of this issue.
According to several reports here this issue is resolved and not reproducible any more thus I'm closing it.

[2022-09-30 20:17] #13824 closed

[2022-09-30 20:22] eladkal commented on #25522
@camilleanne are you working on this issue?

[2022-09-30 20:45] #26724 closed

[2022-09-30 21:53] eladkal commented on #26760
Actually both options are mentioned:
https://airflow.apache.org/docs/apache-airflow/stable/logging-monitoring/callbacks.html

[2022-09-30 22:06] eladkal commented on #12611
This is a request I hear quite often and I think it's an important one. This is a crucial part of on-call rounds in many companies.
Adding on top of what is already said. The current callbacks flow have 2 major flaws:
1. If they fail you have no way of knowing (no view/logs that shows callback execution)
2. There is no way to retry/manually control over them. There is no option to rerun a callback

[2022-09-30 22:20] ferruzzi commented on #21711
It looks like this is still an issue.  I am packing for a vacation, but perhaps someone else can pick it up while I'm away.  The full error message is

[code]

so it may be as simple as adding an `if action_if_job_exists=='increment'` section to the except block of [this check](https://github.com/apache/airflow/blob/main/airflow/providers/amazon/aws/operators/sagemaker.py#L184)

[2022-09-30 22:31] joseph-max-coalfire opened #26812 "Add NodePort Option to the values schema"
### Official Helm Chart version

1.6.0 (latest released)

### Apache Airflow version

2.3.4

### Kubernetes Version

1.23

### Helm Chart configuration

[code]

### Docker Image customisations

_No response_

### What happened

Supplying nodePort like in the above Helm Chart Configuration example fails with an error saying a value of nodePort is not supported.

### What you think should happen ins

[2022-10-01 00:22] #24538 closed

[2022-10-01 00:22] #18276 closed

[2022-10-01 00:30] josh-fell commented on #26760
Callbacks are set at both the DAG and task level in the code snippets, but the copy in the doc only mentions _tasks_. Even the callback callable of `on_failure_callback=task_failure_alert` set at the DAG is named in a misleading way. The callback will be triggered when the _DagRun_ fails. Which is similar to a task failing but the context provided to the callable wouldn't necessarily be related to

[2022-10-01 10:41] zazaho opened #26818 "Not easy to know what is in context passed to operators and call_backs"
### What do you see as an issue?

We are building a pipeline using airflow. We are using KubernetesPodOperators and KubernetesExecutor. We are anticipating different reasons that a task might fail. I would like to be able to explore how much information I can get about the reason and the moment  the task failed from the context passed to   he on_failure callback function. However, I find it diffic

[2022-10-01 11:07] mrmammadov commented on #25833
is this issue still open? @eladkal
If so, I can take it

[2022-10-01 12:53] potiuk commented on #26818
I think there are a few good points there.  But I think it is difficult to know if the documentation is enough. You can always say this should be "better described" or "clearer" or "better examples", but it is difficult to be judged by people who maintain it, so I mark it as a "good first issue" for someone who would like to pick that task and is a used.

And in this context - I think you should a

[2022-10-01 13:38] potiuk commented on #26752
Ok. I will wait for the check to relase an RC2 and will remove Amazon alongside Google from the release and we will have RC2 together.

[2022-10-01 13:39] #26767 closed

[2022-10-01 13:44] potiuk commented on #26752
@Taragolis  I think it's a small thing, they indicate that something is wrong with configuration. We might want to configure it in Breeze to make it less annoying.

[2022-10-01 13:47] #26785 closed

[2022-10-01 13:49] potiuk commented on #26752
We are going to have RC2 of Google and I just merged #26786 so it will make it :)

[2022-10-01 13:53] potiuk commented on #26752
Thanks all who tested it ! As usual we have great help from our community.

And thanks a lot for all the "critical" checks and doubts. Keep having them. It helps to make the right decisions for release!

I am releasing all but google and slack. I am at ApacheCon now. And I will look for @Taragolis comments on the connection for Slack to release RC2s

[2022-10-01 13:53] #26752 closed

[2022-10-01 16:12] mrmammadov commented on #22474
@eladkal @potiuk seems like the issue and PR are both still open. Can I take it over?

[2022-10-01 16:13] mrmammadov commented on #22317
@eladkal @potiuk is this issue still relevant? I would like to contribute

[2022-10-01 16:17] pierrejeambrun commented on #26700
Hello @mc-borscht,

I don't see any reason why this wouldn't work for AWS SES configuration.

I think it's a good idea to open a PR to suggest this change :)

[2022-10-01 16:17] frankbreetz commented on #22474
I won't have time for this anytime soon, feel free to take it over

[2022-10-01 16:29] potiuk commented on #22317
Feel free.

[2022-10-01 16:30] potiuk commented on #22474
Assigne you @mrmammadov

[2022-10-01 19:43] Taragolis commented on #26752
I also think it a small things. I use breeze for test because part related to actual print a log during task execution in a core and seem like it not added in any current releases yet (milestones is Airflow 2.5.0)

The issue itself how work S3TaskHandler (as well as other Object storage):
1. During task execution logs received from worker and after task execution write to S3
2. If logs received fr

[2022-10-01 20:26] Taragolis commented on #26752
@potiuk Let me check is might only related to specific version of Airflow, like only for 2.2.5
I have an idea about workaround if I sure that it related for all 2.2.x

Also as an option this version of provider might be released after October 11 with min airflow version 2.3.
In this case we do not need to create workaround which we remove in next version of provider

[2022-10-01 22:12] potiuk commented on #26752
It might still be cool to fix it as the 'last' version working for 2.2.5 :)

[2022-10-01 23:03] mik-laj commented on #26812
Feel free.

[2022-10-02 00:53] potiuk commented on #26623
My guess is that your setting in config is not effective and overwritten by some other setting - can't guess what it is but you need to check airflow info run in all your images and see if it shows what you expect it there, but you have to make sure you run it with the same environment you run it.

You likely have some bad configuration and difference between different components, but what it I ca

[2022-10-02 00:56] #25718 closed

[2022-10-02 01:10] potiuk commented on #26394
Can you please all try 2.4.1 (released yesterday with latest cncf.kubernetes) and see if your problems are fixed? I believe there were a few errors fixed there regarding scheduling being stuck so it is actually quite likely your issues have been fixed.

We have no logs to "prove" this is the case, but I think trying it out is the easiest way for everyone to check without spending too much time  on

[2022-10-02 01:12] #26567 closed

[2022-10-02 02:23] NFeruch commented on #11334
What is the status of this issue as of 10/1/2022?

[2022-10-02 02:47] potiuk commented on #11334
I think it waits for someone to implement it. Generally if there is no comment, about it and UI does not have it, there is no change.

But maybe you want to help with that and provide some PRs @NFeruch if you are eager to have it ? That could speed it up. If not, then it simply has to wait for someone from the community to pick it up. We have > 2200 contributors and anyone could contribute it in f

[2022-10-02 03:06] potiuk commented on #26698
Likely some of your DAGs gets imported and retrieves log_base_folder from core section. Please review your dags and fix it.

[2022-10-02 04:03] hankehly commented on #26752
Manually tested the following on 2022/10/02, both OK
#26003
#26005

[2022-10-02 05:57] dakshin-k commented on #26375
Hi @potiuk , could I be assigned to this issue please?

Also, I have a couple questions on how to go about this, would be good to get an opinion from someone who knows the codebase better:

1. Is [this](https://github.com/apache/airflow/blob/0da49935000476b1d1941b63d0d66d3c58d64fea/tests/api_connexion/test_error_handling.py) the right place to go about adding a test for this?
2. What is the expect

[2022-10-02 11:17] potiuk commented on #26375
I believe so. Also manual testing should be done.

Not really - I think we want to simply implement `view.method_not_allowed` method similar to `view.not_found` and split the `_handle_api_error` into two methods - `_handle_api_not_found` and `_handle_method_not_allowed` - decorated separate with errorhandler(404), errorhandler(405) respectively. That should do the job IMHO.

[2022-10-02 13:03] zazaho commented on #26818
Thank you for your very prompt reply. I understand your suggestion for a contribution instead of a request. I have contributed to open source projects in the manner you suggest. However, in the current situation I am a bit at loss. My request for documentation is prompted by the fact that I do not know how to use the context dictionary to accomplish certain tasks. It is not clear to me what exampl

[2022-10-02 13:50] hanna-liashchuk commented on #18468
Hi, i've met this issue too and have prepared a PR [here](https://github.com/apache/airflow/pull/26560)
Could please someone take a look? Thanks!

[2022-10-02 13:51] hanna-liashchuk commented on #23114
The [PR](https://github.com/apache/airflow/pull/26560) is open, feel free to review :)

[2022-10-02 15:27] #26020 closed

[2022-10-02 15:57] potiuk commented on #26818
Then you are asking for something completely different. Context does not contain this information. This is the execution context of the task, not the context of how runner has been killed. All those:

- The task failed because the workerpod did not start in time
- The task filed because the k8s-cluster failed to auto-scale
- The task failed because an out-of-memory situation occured (OOMKiller)
-

[2022-10-02 15:58] potiuk commented on #26818
Converting it into discussion As this is really a different thing entirely (context is not really a place to keep the deployment-specific information about failure).

[2022-10-02 16:03] EssKayz commented on #26619
Still not exactly sure how to get that to work, unsure if I understood the suggestion wrong, but at least done in a similar way as with PythonOperators, no task is generated to the DAG
[code]

[2022-10-02 16:34] potiuk commented on #12282
After those two PRs: #26612 and #26828 we can officially close this task with Shell code getting to less than

We go from here:
[code]

to here (less than 1%):
[code]

@Bowrna @edithturn @eladkal

[2022-10-02 22:09] eladkal commented on #25765
Fixed in https://github.com/apache/airflow/pull/26347

[2022-10-02 22:09] #25765 closed

[2022-10-03 01:28] uranusjr commented on #26619
You did not call the task function. I’m going to convert this to a discussion since this is more about the gap in user knowledge instead of Airflow functionality here

[2022-10-03 02:49] troyharvey opened #26834 "`airflow db upgrade` Failed to write serialized DAG"
### Apache Airflow version

2.4.1

### What happened

Running `airflow db upgrade` on an Airflow installation with 100 DAGs fails with this error:

[code]

### What you think should happen instead

`airflow db upgrade` should successfully reserialize DAGs at the end of the upgrade just like the `airflow dags reserialize` command.

### How to reproduce

1. Upgrade to `airflow 2.4.1` on an existing

[2022-10-03 03:08] troyharvey commented on #26834
@uranusjr @potiuk @kaxil 👋  Tagging you here because you were involved in this PR: https://github.com/apache/airflow/pull/24518

[2022-10-03 09:00] Taragolis commented on #26752
I try to check it again **today** to determine with which version it actually has a problem (personally I have a problem with  create connection in all providers which define additional fields in `get_connection_form_widgets` on different 2.2.5 environments and do not have in 2.3.4)

And create a workaround which allow to create Slack Connection in the UI

[2022-10-03 13:53] malov commented on #26623
@potiuk any idea how I could get to worker configuration? Web and schedulet seems to have identical (and correct) configuration. Or any hint how I can trace it?

[2022-10-03 14:42] ashb commented on #26599
Fixed, will be in 2.4.2

[2022-10-03 14:42] #26599 closed

[2022-10-03 14:47] #23538 closed

[2022-10-03 14:57] eladkal commented on #25833
There is open PR https://github.com/apache/airflow/pull/25835
Maybe you can share thoughts on it?

[2022-10-03 15:50] flaviussn commented on #26773
The same thing happened to me related with [this issue](https://github.com/apache/airflow/issues/26773). The bug is fixed in version 2.4.0 and 2.4.1 for me

[2022-10-03 16:15] notatallshaw-gts commented on #26807
No idea about subdags but FYI your log issue should be fixed in Airflow 2.4.1: https://github.com/apache/airflow/pull/26493

[2022-10-03 17:00] estecoder commented on #20309
Hi, i'm not using snowflake, but a have the same error... i already checked with pip list command the dependecies, i have them. so, somebody have other advice?

[2022-10-03 17:10] tnyz commented on #8181
we noticed this issue as well in airflow 2.3.3
[code]

[2022-10-03 17:31] tnyz opened #26847 "Dynamic task mapping compatibility with multi-scheduler"
### Apache Airflow version

Other Airflow 2 version

### What happened

We noticed that tasks using the dynamic task mapping api crashes the scheduler with the error
[code]
We have 2 scheduler so my guess is that both try to schedule the dynamically mapped task

### What you think should happen instead

it should be not crash the scheduler

### How to reproduce

run a large dynamically mapped task

[2022-10-03 18:48] lkerr-codaio commented on #24027
I am seeing this issue again, using airflow v2.4.1

[2022-10-03 20:49] vincbeck commented on #21711
I looked at the issue and I agree, this change https://github.com/apache/airflow/commit/96dd70348ad7e31cfeae6d21af70671b41551fe9 made a breaking change by stop using the parameter `action_if_job_exists`. However, I dont see any valid solution to fix it. If we still want to increment the job name if `action_if_job_exists` is `increment`, then we need to use `list_processing_jobs ` and then having b

[2022-10-03 21:02] eladkal commented on #21711
I'm all for it. To my prespective it goes beyond what Airflow can/should do.
I think this is one of the cases where a blog post showing how to customize strategy is more suitable.

[2022-10-03 21:06] Gollum999 opened #26851 "Backfill option to respect start_date/end_date"
### Description

Add some option to `airflow dags backfill` to allow the DAG + Task `start_date`/`end_date` args to constrain which tasks are run by the backfill.

Alternatively, I think this is conceptually the same request: Add some way to allow scheduler "catchup" behavior to go back in time.

### Use case/motivation

I have a DAG that builds many datasets, and the list of datasets that are bui

[2022-10-03 21:28] potiuk commented on #12282
Done. Closed. Complete.  @Bowrna @edithturn

 🎉 🎉 🎉 🎉 🎉 🎉 🎉 🎉

[2022-10-03 21:28] #12282 closed

[2022-10-03 21:30] malov commented on #26623
Attempting to trace error back to its source:
In scheduler log:
[code]

First log message apparently comes from [this](https://github.com/apache/airflow/blob/v2-2-stable/airflow/executors/base_executor.py#L85) line of the code (using 2.2 stable branch which I'm running now).
Method `queue_command()` is only called in `queue_task_instance()` [method](https://github.com/apache/airflow/blob/v2-2-stab

[2022-10-03 21:31] edithturn commented on #12282
Wow Jarek!
Congratulations 👏🏽👏🏽

[2022-10-03 23:44] jsnb-devoted opened #26852 "Alternate/dynamic task_id for mapped tasks"
### Description

When generating mapped tasks it would help to have the ability to override the default behavior for determining the mapped tasks task_id. Right now the default task id is the base task followed by the map index (eg `my_cool_task_24`). The desired feature would allow users to determine the task id dynamically based on the dynamic arguments of the mapped task. As such `my_cool_task_

[2022-10-04 04:48] Bowrna commented on #24045
Is this issue only about renaming the state in UI?
I have not worked on any UI-related issues before. Could I take a stab at this?

[2022-10-04 05:16] timothy-khom opened #26854 "Fail fast a Dag if any of the tasks failed"
### Description

We would like to be able to implement fail fast strategy of the Dag. It means if any of the task fails it is required to stop all the rest tasks running in parallel and mark the entire Dag as FAILED.
For example, we have 3 tasks in the first Task Group, which are executed in parallel. The second Task Group or a task needs not only to fail (which can be achieved by setting ALL_SUCC

[2022-10-04 05:48] uranusjr commented on #24045
The name “queued” actually comes from the backend, but I think we could make this a UI-only change to avoid needlessly spending time migrating the database. Or at least we can make the UI change now and modify the backend later.

[2022-10-04 07:54] Bowrna commented on #12282
Congrats Jarek :) I am happy to be part of this

[2022-10-04 07:57] jtvmatos commented on #26494
Hi @jedcunningham,

Should we then follow a approach like @potiuk suggested? Something like:
`
# Airflow Dag Processor Config
dagProcessor:
  enabled: false
  # Number of airflow dag processors in the deployment
  replicas: 1

  (...)

# Airflow Multiple Dag Processor Config
multipleDagProcessor:
  enabled: false
  processor:
    # Processor 1
    - name: processor-1
      replicas: 1
     (...)

[2022-10-04 11:16] ashb commented on #19888
FYI the correct fix for this was https://github.com/apache/airflow/pull/22475 which made it in to 2.3.0

[2022-10-04 11:45] Jaxing commented on #26627
Maybe this belongs to a new issue but I think it stems for the same problem.
When upgrading to 2.3.0 from 2.2.5 we got a similar issue, i.e. duplication in the task_fail table.

During the upgrade the duplicates are moved to _airflow_moved__2_3__duplicates__task_fail. However the schema of this table is quite different from the task_fail table

Here is the columns from the `_airflow_moved__2_3__du

[2022-10-04 13:45] m1racoli opened #26861 "Variables set via environment not accessible via HTTP API"
### Apache Airflow version

2.4.1

### What happened

Considering that an Airflow variable had been set via the environment variable `AIRFLOW_VAR_HELLO`, we were able to access it via the HTTP API `/api/v1/variables/HELLO`.

Since Airflow 2.4.1 this is not possible anymore.

### What you think should happen instead

We should be able to access Airflow Variables via the HTTP API in the same way as

[2022-10-04 14:11] stepanof commented on #26497
We have the same problem after upgrading from 2.3.4 to 2.4.1

Thanks @joshowen, these commands resolved the problem.

[2022-10-04 15:49] potiuk opened #26864 "Status of testing Providers that were prepared on October 04, 2022"
### Body

I have a kind request for all the contributors to the latest provider packages release.
Could you please help us to test the RC versions of the providers?

Let us know in the comment, whether the issue is addressed.

Those are providers that require testing as there were some substantial changes introduced:

## Provider [google: 8.4.0rc2](https://pypi.org/project/apache-airflow-providers

[2022-10-04 17:21] frankbreetz opened #26865 "logical_date<start_date causes Null DAGRun"
### Apache Airflow version

2.4.1

### What happened

When you trigger a DAG that has a logical date earlier then the DAGs start date. You get a successful DAG Runs, but none of the tasks run:
![image](https://user-images.githubusercontent.com/24467723/193884284-377e5694-64eb-4bce-af7c-c1bb3b9f3b0c.png)

### What you think should happen instead

All of the tasks in the DAGRun should execute with a

[2022-10-04 18:58] Taragolis commented on #26864
#26845, #25852, #26459, #26452: Test on different airflow version with upgrade from to another. Looks good
#26648: Working fine with not significant findings (could be change in next version of provider): Warning message about unused parameters shown unless explicit set `link_names` to `None`, default value `False`
#26118: Seems ok

[2022-10-04 19:07] josh-fell commented on #26864
#25604 looks good

[2022-10-04 23:21] sleepy-tiger opened #26875 "SQLToGCSOperators Add Support for Dumping Json value in CSV"
### Description

If output format is `CSV`, then any "dict" type object returned from a database, for example a Postgres JSON column, is not dumped to a string and is kept as a dict object.

### Use case/motivation

Currently if export_format is `CSV` and data column in Postgres is defined as `json` or `jsonb` data type, the param `stringify_dict` in abstract method `convert_type` has been hardcod

[2022-10-05 03:39] dstandish commented on #26627
Closing this issue; check removed here https://github.com/apache/airflow/pull/26714

[2022-10-05 03:39] #26627 closed

[2022-10-05 03:59] uranusjr commented on #26865
I think we should simply disallow triggering a DAG with logical date earlier than its start date instead.

[2022-10-05 04:30] o-nikolas commented on #26854
This is an interesting feature request! There is also some existing precedent for this feature as well, but only available with the DebugExecutor:

[source](https://airflow.apache.org/docs/apache-airflow/1.10.9/executor/debug.html)

Perhaps this is something the base executor should support 🤔

[2022-10-05 08:21] atrbgithub commented on #23512
Also seeing this on 2.3.3...

[2022-10-05 11:39] ashb commented on #26497
Okay, I've found the source of the confusion, and the path needed to trigger this behaviour.

Run airflow webserver with < 1.10.13 in RBAC mode, where FAB creates it's tables.

In 1.10.13 we introduces a migration that creates the tables with the server_default but that migration only did anything if the tables didn't already exist. But the tables created by the FAB model have a default (but not a

[2022-10-05 11:49] stromal opened #26881 "Add example of dockerfile with creating new virtualenv"
### What do you see as an issue?

~https://hub.docker.com/r/apache/airflow
Predefined set of popular providers (for details see the [Dockerfile](https://hub.docker.com/r/apache/Dockerfile)).
https://hub.docker.com/r/apache/Dockerfile -> 404 ERROR~

### Solving the problem

~Make the image visible/upload it/ update nd release it here -> https://hub.docker.com/r/apache/Dockerfile~

Add a guide to th

[2022-10-05 13:45] #26709 closed

[2022-10-05 14:33] bhankit1410 opened #26884 "Allow partition-wise copy from bq to bq tables."
### Description

As of now, there is no support to copy a partition from a source table to destination table's partition in the [existing code ](https://github.com/apache/airflow/blob/main/airflow/providers/google/cloud/transfers/bigquery_to_bigquery.py#:~:text=dotted%20%60%60-,(project%3A%7Cproject.)%3Cdataset%3E.%3Ctable%3E%60%60,-BigQuery%20tables%20to)

`bq cp` cli gives an option to do this w

[2022-10-05 15:07] o-nikolas commented on #26854
Yupp, I'm aware, I was just adding context to the issue that there is an existing precedent for this feature already :)

Unfortunately, I can't say for sure whether this will be supported, someone will have to produce a PR and see if it gets accepted by the community.  Feel free to put forward a PR, it's a great way to get involved in Airflow!

[2022-10-05 15:23] gfeldman opened #26888 "New tasks are spun up when scheduler restarts"
### Apache Airflow version

Other Airflow 2 version

### What happened

When the scheduler restarts, it deletes existing running task pods and spins up new task pods.

### What you think should happen instead

Task pods that are already running should remain running.

### How to reproduce

1. Deploy using official helm chart.
2. Run a long running task - we are using a sleep pod
3. kubectl delete

[2022-10-05 15:37] #26852 closed

[2022-10-05 16:09] gfeldman commented on #26888
My config
[code]

[2022-10-05 16:51] tseruga opened #26892 "Dataset Next Trigger Modal Not Populating Latest Update"
### Apache Airflow version

2.4.1

### What happened

When using dataset scheduling, it isn't obvious which datasets a downstream dataset consumer is awaiting in order for the DAG to be scheduled.

I would assume that this is supposed to be solved by the `Latest Update` column in the modal that opens when selecting `x of y datasets updated`, but it appears that the data isn't being populated.

<im

[2022-10-05 18:49] oz-r opened #26898 "Adding support for clearing only failed and skipped tasks"
### Description

Airflow now marks running tasks as `skipped` when a DagRun times out. This is great (because historically it did nothing) but it brings up an issue where restarting a DagRun that timed out from the point where it timed out is challenging. You can clear a DagRun right now and you can specify a number of task states to filter (all, failed, running, etc). I'm proposing we add a filte

[2022-10-05 19:14] bdsoha commented on #8916
Any updates on this?

[2022-10-05 19:15] DMilmont commented on #26834
We are also experiencing this issue on Airflow 2.4.1. We have ~900 DAGs and running airflow on the official Helm chart. Because the helm chart runs the migration job on each deploy, and the job takes upwards of 20 minutes, this has stopped us from being able to use the latest release.

[2022-10-05 19:17] Maheshbbc opened #26899 "Ooops! Something bad has happened. When trying to load airflow 2.0.2"
### Apache Airflow version

Other Airflow 2 version

### What happened

Ooops!
Something bad has happened.
Python version: 3.7.10
Airflow version: 2.0.2
Node: redact
-------------------------------------------------------------------------------
Error! Please contact server admin.

### What you think should happen instead

_No response_

### How to reproduce

_No response_

### Operating System

P

[2022-10-05 19:28] potiuk commented on #26854
Yeah. I think this is a good idea to implement. Probably a bit more than "good first issue" but should be quite doable.

[2022-10-05 19:43] potiuk commented on #8916
@bdsoha feel free to take it on and implement it.

 Generally things here are not implemented unless someone volunteers to implement it. So if you are really interested, implementing it and contributing back is the fastest way to get it implemented (you can also try to find someone who would do that).

This is how things work in Open-source.

[2022-10-05 19:44] potiuk commented on #26899
There is no information that would make it even close to understand what kind of problem it was. Closing.

[2022-10-05 19:46] Maheshbbc commented on #26899
When I just try to open the Airflow UI it gives me.
error as "Ooops!
Something bad has happened.
Please consider letting us know by creating a [bug report using GitHub](https://github.com/apache/airflow/issues/new/choose).

Python version: 3.7.10
Airflow version: 2.0.2
Node: redact
-------------------------------------------------------------------------------
Error! Please contact server admin."

[2022-10-05 19:46] potiuk commented on #26899
If you want to report a issue - please provide all information including reproduction steps, logs etc explaining what the problem is

[2022-10-05 19:46] #26899 closed

[2022-10-05 19:55] Maheshbbc opened #26900 "Ooops! Something bad has happened. Please consider letting us know by creating a bug report using GitHub. Python version: 3.7.10 Airflow version: 2.0.2 Node: redact .Error! Please contact server admin."
### Apache Airflow version

Other Airflow 2 version

### What happened

When tried to load Airflow UI in first place it errors out with below error Ooops!
Something bad has happened.
Please consider letting us know by creating a [bug report using GitHub](https://github.com/apache/airflow/issues/new/choose).

Python version: 3.7.10
Airflow version: 2.0.2
Node: redact
-------------------------------

[2022-10-05 19:58] Voldurk commented on #26864
#25746 Tested OK on Composer with Airflow 2.2.5

[2022-10-05 20:30] nicolamarangoni opened #26901 "Auto-Refresh is broken in graph view 2.4.1"
### Apache Airflow version

2.4.1

### What happened

After starting a DAG, the auto-refresh works in the grid view but not in the graph view.

The top-right auto-refresh icon shows indefinitely that the page is refreshing but nothing happens.

It is necessary to refresh the whole page to show the current status.

### What you think should happen instead

The auto-refresh should work and show the

[2022-10-05 20:36] troyharvey commented on #26834
Thanks @DMilmont. We've "disabled" our k8s upgrade job as a temporary workaround using this command:

[code]

[2022-10-05 21:24] DMilmont commented on #26834
Thanks for sharing @troyharvey I think we are going to do the same.