[2021-10-27 16:34] dstandish opened #19260 "Airflow standalone command does not exit gracefully"
### Apache Airflow version

2.2.0 (latest released)

### Operating System

macOS

### Versions of Apache Airflow Providers

_No response_

### Deployment

Virtualenv installation

### Deployment details

_No response_

### What happened

run `airflow standalone`

enter `ctrl+c`

hangs here:

[code]

### What you expected to happen

_No response_

### How to reproduce

_No response_

### Anything e

[2021-10-27 18:54] ljades opened #19264 "TriggerDagRunOperator External Link doesn't link with execution date to match to triggered DAG"
### Apache Airflow version

2.2.0 (latest released)

### Operating System

Debian

### Versions of Apache Airflow Providers

_No response_

### Deployment

Docker-Compose

### Deployment details

Using base Docker image astronomerinc/ap-airflow:2.0.2-2-buster.

### What happened

The [TriggerDagRunOperator](https://airflow.apache.org/docs/apache-airflow/stable/_api/airflow/operators/trigger_dagrun

[2021-10-28 01:33] bugraoz93 opened #19269 "Add support for multiple AdAccount when getting Bulk Facebook Report from Facebook Ads Hook"
### Description

Currently, the Facebook Ads Hook only supports one `account_id` for every hook(`facebook_conn_id`).  It would be great if we could pass multiple `account_id` from the Facebook connection(`facebook_conn_id`). When multiple `account_id` is provided in the connection, we could support getting insights from one `facebook_conn_id` for all of them rather than creating a Facebook connect

[2021-10-28 03:18] harsh2911 opened #19272 "Create get_partition, create_partition methods in AWS Glue Catalog Hook"
### Description

Current AWS Glue Catalog Hook does not have all the methods.
If possible, we can add get_partition and create_partition methods in existing Glue Catalog Hook.

### Use case/motivation

I do work in Amazon.com. Our team is using Airflow to orchestrate Data Builds for our services.
In process of data builds, we need to create new Glue partitions for generated data and also retrieve

[2021-10-28 08:43] kk17 opened #19277 "Airflow Scheduler may set running task instance state into None state in multiple scheduler deployment"
### Apache Airflow version

2.1.4

### Operating System

Office Docker Image on Amazon Linux 2 Host

### Versions of Apache Airflow Providers

_No response_

### Deployment

Docker-Compose

### Deployment details

We deploy 2 schedulers, 2 workers,  2 webservers, and use MySQL8 as the Database backend. We have over 2000 small DAGs.

### What happened

We have been using this 2.1.4 for all most one

[2021-10-28 18:23] jedcunningham opened #19289 "Block migrations on MySQL when using bad collations/encoding"
### Apache Airflow version

main (development)

### Operating System

MacOS 11.6

### Versions of Apache Airflow Providers

_No response_

### Deployment

Virtualenv installation

### Deployment details

_No response_

### What happened

Currently we happily attempt to migrate the database regardless of what collation and encoding is used.
This can cause migrations to fail unexpectedly, and with M

[2021-10-28 20:55] ahappypie opened #19293 "Disable MSSQL Flag is not supported in Breeze"
### Apache Airflow version

main (development)

### Operating System

macOS

### Versions of Apache Airflow Providers

_No response_

### Deployment

Docker-Compose

### Deployment details

_No response_

### What happened

I am building a custom docker image for production using Breeze, and want to disable MSSQL client installation in a similar manner to disabling MySQL client installation (`--di

[2021-10-29 09:48] nicogelders opened #19304 ""Not a valid timetable" when returning None from next_dagrun_info in a custom timetable"
### Apache Airflow version

2.2.0 (latest released)

### Operating System

Mac

### Versions of Apache Airflow Providers

_No response_

### Deployment

Other Docker-based deployment

### Deployment details

_No response_

### What happened

Getting an exception when returning None from next_dagrun_info in a custom timetable. The timetable protocol says that when None is returned a DagRun will not

[2021-10-29 14:18] cdabella opened #19313 "JdbcOperator should pass handler parameter to JdbcHook.run"
### Apache Airflow version

2.2.0 (latest released)

### Operating System

Debian GNU/Linux 11 (bullseye)

### Versions of Apache Airflow Providers

apache-airflow-providers-jdbc==1!2.0.1

### Deployment

Astronomer

### Deployment details

Astro CLI Version: 0.25.4, Git Commit: e95011fbf800fda9fdef1dc1d5149d62bc017aed

### What happened

The execute method calls the [hook run method](https://gith

[2021-10-29 16:47] thuybt opened #19314 "AIRFLOW LOG CONCATERNATE"
### Apache Airflow version

2.2.0 (latest released)

### Operating System

Kubernetes

### Versions of Apache Airflow Providers

apache-airflow[google]

### Deployment

Official Apache Airflow Helm Chart

### Deployment details

I am using helm to deploy airflow on Kubernetes cluster,
Helm version: `version.BuildInfo{Version:"v3.7.0", GitCommit:"eeac83883cb4014fe60267ec6373570374ce770b", GitTreeSt

[2021-10-29 18:10] wolfier opened #19320 "Task Instance stuck inside KubernetesExecutor"
### Apache Airflow version

2.2.0 (latest released)

### Operating System

Debian GNU/Linux 10 (buster)

### Versions of Apache Airflow Providers

_No response_

### Deployment

Astronomer

### Deployment details

![Screen Shot 2021-10-29 at 10 58 48 AM](https://user-images.githubusercontent.com/5952735/139481226-04b4edad-c0cc-4bc9-9dde-e80fffa4e0f5.png)

### What happened

Task stuck inside Kuber

[2021-10-29 18:11] wookasz commented on #19314
@thuybt are you by chance triggering the runs manually? We're experiencing possibly the same issue. Logs are concatenated. Looks like logs a single log file is generated for the data interval which doesn't change when you trigger a manual run

[2021-10-29 18:12] o-nikolas commented on #19264
Okay, I'll play around with this. I'm still not sure there is the required data for a query either, but I'll try some things out.

[2021-10-29 20:30] josh-fell commented on #19071
@masayuki038 #19323 has been submitted to fix the issue. In the meantime, can you try wrapping the `command` arg in `str()` and see if that is an acceptable workaround for you?

[code]

The `XComArg` class has a string representation that mimics the classic `"{{ task_instance.xcom_pull(...) }}"` which may help in this case.

[2021-10-29 21:16] #19071 closed

[2021-10-29 21:25] potiuk commented on #19071
Just in time for the next provider's release

[2021-10-29 21:56] o-nikolas commented on #19264
So after poking at this a bit more, I don't think it's possible with the current schema:
At the point where we're creating the extra link we have access to the dag id, execution time and task_id of the trigger**ing** dag/task. From which we can also query for the dag run and the task instance objects. However, none of these are sufficient to query for the trigger**ed** dag run. We know the id of t

[2021-10-29 23:25] wookasz commented on #19314
I'm assuming this is the same issue so here are my screenshots...

3 separate runs:
![2021-10-29_15-28-12](https://user-images.githubusercontent.com/14184925/139510957-0f54aadb-fe17-430a-b1d8-7ee58d992309.png)
![2021-10-29_15-27-20](https://user-images.githubusercontent.com/14184925/139510993-8345350c-3260-4681-89fa-d9740bcef754.png)
![2021-10-29_15-26-28](https://user-images.githubusercontent.com

[2021-10-29 23:28] wookasz commented on #19314
One very unfortunate side-effect of this is that we are unable to view "live" logs in the UI since Airflow searches for the remote log (which it finds) first before pulling from the pod.

[2021-10-30 01:03] uranusjr commented on #19314
@wookasz This has been fixed and is a part of 2.2.1.

[2021-10-30 02:08] thuybt commented on #19314
Thank you so much,
But can I somehow deploy another release that maybe overcome this issue?
Maybe you can suggest me dowgrade to 2.1.x ?

Vào Th 7, 30 thg 10, 2021 lúc 08:03 Tzu-ping Chung ***@***.***>
đã viết:

--
*BUI THANH THUY*
Tel: 0348672994
Email: ***@***.***

[2021-10-30 02:20] thuybt commented on #19314
And by the way, is there some version that airflow can read log while task
is running? I can ONLY read log untill the task failed or it successed

Vào Th 7, 30 thg 10, 2021 lúc 09:07 thủy bùi ***@***.***> đã
viết:

--
*BUI THANH THUY*
Tel: 0348672994
Email: ***@***.***

[2021-10-30 02:30] josh-fell commented on #12726
@eladkal #19214 was merged earlier. I believe if this issue can be closed if you agree.

[2021-10-30 07:51] eskarimov commented on #18999
@chinwobble thank you so much, it's a good base to start working on! 👍

Regarding the task duration - I haven't checked yet, but I thought it's implemented so that execution time counted over total time, so an operator might fail even while it's deferred.

[2021-10-30 09:24] sbialkowski-pixel commented on #18632
I will add my observation :)
Refresh button also cause this problem.
Raw view (without day/time filter in he left corner:
![Zrzut ekranu 2021-10-30 111252](https://user-images.githubusercontent.com/60385441/139527335-9b482ed4-5f0f-4761-9b49-42c058e48db5.png)
After filter apply (button update)
![Zrzut ekranu 2021-10-30 111309](https://user-images.githubusercontent.com/60385441/139527337-dea3411f-1b

[2021-10-30 13:04] mrbazzan commented on #17778
@vijaya-lakshmi-venkatraman
No, not at the moment. If I'm still unable to do something in the coming week, I'll drop it.

[2021-10-30 13:49] potiuk opened #19328 "Status of testing Providers that were prepared on October 30, 2021"
### Body

I have a kind request for all the contributors to the latest provider packages release.
Could you help us to test the RC versions of the providers and let us know in the comment,
if the issue is addressed there.

## Providers that need testing

Those are providers that require testing as there were some substantial changes introduced:

### Provider [amazon: 2.4.0rc1](https://pypi.org/pro

[2021-10-30 14:23] raphaelauv commented on #19328
for **cncf.kubernetes: 2.1.0rc1** it's all good

 add more information to PodLauncher timeout error (#17953)  -> is working

[code]

 Add more type hints to PodLauncher (#18928) > just typing , so OK

[2021-10-30 14:28] codenamestif commented on #19328
I think #18733 was released in 2.3.0

[2021-10-30 15:00] raphaelauv commented on #19328
for **google: 6.1.0rc1**

Google provider catch invalid secret name (#18790) -> is working

[code]

the error about secrets with a non valid char is now catch

[2021-10-30 16:03] bertrand-buffat opened #19329 "Kubernetes Executor: non-existent upstream failed"
### Apache Airflow version

2.1.3

### Operating System

Debian GNU/Linux

### Versions of Apache Airflow Providers

apache-airflow-providers-amazon==1.4.0
apache-airflow-providers-cncf-kubernetes==2.0.2

### Deployment

Other 3rd-party Helm chart

### Deployment details

_No response_

### What happened

Some tasks are randomly set to Upstream Failed while upstream task actually succeeded

### Wh

[2021-10-30 16:33] potiuk commented on #19328
Good spot @codenamestif ! It turned out that after last month's release of 2.3.0 as rc2 I set the "2.3.0" tag wrongly to rc1 - so the changes added between rc1 and rc2 were duplicated in the issue and changelog (and I missed that when I prepared it today). Those are the duplicated issues:

* ``Add AWS Fargate profile support (#18645)``
* ``Add emr cluster link (#18691)``
* ``AwsGlueJobOperator: ad

[2021-10-30 16:33] potiuk commented on #19328
Good spot @codenamestif ! It turned out that after last month's release of 2.3.0 as rc2 I set the "2.3.0" tag wrongly to rc1 - so the changes added between rc1 and rc2 were duplicated in the issue and changelog (and I missed that when I prepared it today). Those are the duplicated issues:

* ``Add AWS Fargate profile support (#18645)``
* ``Add emr cluster link (#18691)``
* ``AwsGlueJobOperator: ad

[2021-10-30 18:39] Aakcht commented on #19328
Tested #18854 - all good.

#18331 is already present in 2.1.1 ( it was tested in #18638) , so I don't think `hdfs 2.1.1rc1` should be present here.

[2021-10-31 00:06] #18091 closed

[2021-10-31 00:06] #17612 closed

[2021-10-31 00:07] #12291 closed

[2021-10-31 00:32] bugraoz93 commented on #19269
Hey @randr97 and @mik-laj, I think the default API version update reverted in [#18996](https://github.com/apache/airflow/pull/18996). When I pull from the main branch, I am getting `api_version` as an Optional constructor parameter assigned as None. So, I will not change that part. I wanted to inform you all.

[2021-10-31 02:16] masayuki038 commented on #19071
@josh-fell Thanks for your updates 😄

Although I tried to pass the value wrapped with `str()` a SSHOperator, the upstream task of it is not set. Do you know the workaround ?

[2021-10-31 02:41] josh-fell commented on #19071
Have you tried setting the dependencies in the classic way? Something like:
[code]

[2021-10-31 04:54] eladkal commented on #19269
The change was to take defaults from the upstream package - whatever that may be. As soon as they update Airflow allign with it. If user needs a specific version he/she can use the api_version param.

[2021-10-31 06:25] ephraimbuddy commented on #13824
We have fixed this on https://github.com/apache/airflow/pull/18269 released in 2.2.0

[2021-10-31 09:33] alexott commented on #10786
I can pickup that issue - who can assign it to me?

[2021-10-31 10:28] bugraoz93 commented on #19269
Hey @eladkal, thank you, yes I saw your changes. I liked the idea behind it. Since Facebook can update its API regularly, we need to continuously update our default version to the latest acceptable one. I think this change has eliminated that maintenance cost in the future. So that, I wanted to state that I will leave that logic as it is with your changes.

[2021-10-31 10:31] eladkal commented on #10786
@alexott assigned

[2021-10-31 16:08] sartyukhov opened #19342 "Webserver shows wrong datetime (timezone) in log"
### Apache Airflow version

2.2.1 (latest released)

### Operating System

Ubuntu 20.04.2 (docker)

### Versions of Apache Airflow Providers

- apache-airflow-providers-amazon==2.3.0
- apache-airflow-providers-ftp==2.0.1
- apache-airflow-providers-http==2.0.1
- apache-airflow-providers-imap==2.0.1
- apache-airflow-providers-mongo==2.1.0
- apache-airflow-providers-postgres==2.3.0
- apache-airflow-p

[2021-10-31 17:17] JavierLopezT commented on #19328
#17397 and #18764 were already tested in the last wave

On Sat, 30 Oct 2021 at 20:39, Aakcht ***@***.***> wrote:

[2021-10-31 18:50] Smirn08 commented on #19342
Faced the same thing on 2.2.0, but did not issue the problem.
Looks relevant. Thanks @sartyukhov

[2021-10-31 19:54] mariotaddeucci commented on #19328
#18027 is already present in 2.3.0, tested in #18638
#18671 and #18819 are all good
#18844 got errors using `RedshiftSQLHook ` when executing multiple commands into a prepared statement.  I'll fix it.

[2021-10-31 22:01] chinwobble commented on #18999
I've checked the task duration.
If your task defers, that deferral time is not considered as part of the task duration.

[2021-11-01 01:31] yehoshuadimarsky commented on #15340
I'm using ArgoCD to deploy the Helm chart, tearing out my hair trying every possible variation, but I'm also not seeing the `run-airflow-migrations` pod, it doesn't run or show up. So my webserver and scheduler wait forever for the migrations that never started.

Not sure how to set the `--wait=false` param using Argo. I tried `argocd app set [my-app] --helm-set-string wait=false` but doesn't seem

[2021-11-01 02:46] gbonazzoli opened #19343 "Airflow 2.2.1 : airflow scheduler is not able to start: AttributeError: 'NoneType' object has no attribute 'utcoffset'"
### Apache Airflow version

2.2.1 (latest released)

### Operating System

Ubuntu 20.04.3 LTS

### Versions of Apache Airflow Providers

[code]

### Deployment

Virtualenv installation

### Deployment details

Airflow 2.2.1 on a LXD Container "all in one" (web, scheduler, database == postgres)

### What happened

I don't know if it is related to the change of the time we had in Italy from 03:00 to

[2021-11-01 04:36] ralleman-quasarsat commented on #16176
I have not been able to get airflow installed. I've tried several times, deleting the cluster on each attempt. I'm following these instructions https://marclamberti.com/blog/airflow-on-kubernetes-get-started-in-10-mins/. I'm working on a 2021 M1 Mac Air under Big Sur.

[code]

[2021-11-01 04:47] ralleman-quasarsat commented on #16176
On another attempt, this gets added to the output:

[code]

[2021-11-01 05:31] krisuj commented on #19343
I am also seeing the same error

[2021-11-01 06:04] raburgos commented on #10435
Hi there!

Im using MacOs Catalina 10.15.5; trying to run custom hook (using jdbchook) with python3.8/airflow 2.0 on virtual environment.

I search all over internet and try export OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES in any possible way. But dont work to me.

If anyone have another solution it would be awesome!

Thanks in advance!

[2021-11-01 09:38] easthy-alterpost opened #19344 "max_active_runs ignored with externally triggered DAGs"
### Apache Airflow version

2.1.4

### Operating System

Amazon Linux 2 AMI

### Versions of Apache Airflow Providers

_No response_

### Deployment

Other

### Deployment details

Cloudformation template based on https://github.com/villasv/aws-airflow-stack/blob/v2/aws/cloud-formation-template.yml

### What happened

DAG can have multiple active runs despite of `max_active_runs` set to 1 when it

[2021-11-01 09:41] enima2684 commented on #19328
#18990 tested and working

[2021-11-01 09:43] enima2684 commented on #19328
#18872 I tested this PR and it is not working as expected.
The DockerSwarmOperator never returns and keep hanging.
I used for the test the following Job :
[code]

[2021-11-01 09:47] potiuk commented on #19328
Right - the issue generation script has a bug apparently in this case - hdfs is not being released. I Will fix it. Removed it from the issue.

[2021-11-01 09:49] potiuk commented on #19328
Correct - already removed (that was amazon's later release and wrong tag set - already corrected :)

[2021-11-01 09:51] nathadfield opened #19346 "Sensors no longer respecting `retries` with timeouts."
### Apache Airflow version

2.2.0

### Operating System

PRETTY_NAME="Debian GNU/Linux 10 (buster)"

### Versions of Apache Airflow Providers

n/a

### Deployment

Astronomer

### Deployment details

_No response_

### What happened

Existing DAGs that use sensors with retry and timeout functionality are no longer retrying but instantly going to a failed state rather than up for retry.

### What y

[2021-11-01 09:52] potiuk commented on #19328
How serious / how much of a regression change is it @mariotadeucci ?

[2021-11-01 09:58] Goodkat commented on #19328
#17850 was already tested within 2.0.0rc2 release
#15016 (comment)

[2021-11-01 09:59] potiuk commented on #19328
| #18872 I tested this PR and it is not working as expected.

@RyanSiu1995  can you double check if you have the same problem ?

[2021-11-01 10:00] potiuk commented on #19328
Correct - exasol is not being released (same bug as with hdfs when generating issue only). I will fix it. Sorry for spam.

[2021-11-01 10:07] potiuk commented on #19328
I removed the few other providers which suffered from the same issue - sorry :(

[2021-11-01 12:11] bhavaniravi commented on #19344
Duplicate of #18583
This PR #18226 have fixed this

[2021-11-01 12:29] nathadfield commented on #19346
Task log:

[code]

[2021-11-01 12:30] kaxil commented on #19346
Tentatively going to add it to 2.2.2 but if it is an actual issue.

@dstandish Can you try and reproduce this please

[2021-11-01 12:40] #19344 closed

[2021-11-01 12:58] andydennehy commented on #19343
We faced the same issue. Upon inspection, we found some dags in the DB's `dag` table that had NULL next_dagrun's, although they were active. We manually set the next_dagrun to the corresponding time and it worked - our suspicion is there is an incorrect handling of the current dagrun object after the timezone change.

[2021-11-01 13:12] andydennehy commented on #19343
We found that one of our DAGs had a NULL next_dagrun in the DB. After manually entering the correct next_dagrun, everything worked again. I think the timezone change might have messed up the interval scheduling? What schedule did your DAGs have?

[2021-11-01 13:16] jasonoberme commented on #18894
For anyone experiencing this when testing standlone and using SQLite, delete these ids:
[code]

[2021-11-01 13:19] zappallot commented on #12136
hi there,

we experience the same problem with Airflow 2.1.3 on Kubernetes 1.20.7, running as EKS service in AWS.
the sourcecode for detecting the problem was the following:
[code]
the error message when this task fails:
[code]

During the same time when this error comes up, we detected **LeaderElection** events from four different Kubernetes control plane services in EKS, which are a blackbox for

[2021-11-01 14:23] krisuj commented on #19343
Yeah I see that as well. The dag that the scheduler is trying to update is a SubDAG in my case; and it seems to fail to do so then errors out.

  ____________       _____________
 ____    |__( )_________  __/__  /________      __
____  /| |_  /__  ___/_  /_ __  /_  __ \_ | /| / /
___  ___ |  / _  /   _  __/ _  / / /_/ /_ |/ |/ /
 _/_/  |_/_/  /_/    /_/    /_/  \____/____/|__/
[2021-11-01 07:08:34

[2021-11-01 14:28] gbonazzoli commented on #19343
We have almost daily or hourly jobs. Only one check job that runs every 5 minutes.

The problem is that restoring a 2 days old backup, when Airflow started, it wants to fill the gaps.

Do you if Is there any flag to avoid it ?

[2021-11-01 14:38] nathadfield commented on #19346
Looks like it was documented in the 2.2 update notes.

[2021-11-01 14:40] krisuj commented on #19343
I think there is a 'catchup_by_default': False you can set on the DAG arguments to avoid automated backfills. But i think this error might re-occur going forward?

[2021-11-01 14:44] #19346 closed

[2021-11-01 14:49] nathadfield commented on #19346
What I will say is that the change does create some scenarios that you might not want, e.g. if you have a long timeout setting but the task fails for some other reason, then it will restart with the timeout reset.

With the previous behaviour you could be sure that the task would always fail at a certain time after it started.

[2021-11-01 14:54] fredthomsen commented on #19328
[#18847](https://github.com/apache/airflow/pull/18847) and [#18752](https://github.com/apache/airflow/pull/18752) for [samba: 3.0.1rc1](https://pypi.org/project/apache-airflow-providers-samba/3.0.1rc1) are both good.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Saturday, October 30th, 2021 at 9:49 AM, Jarek Potiuk ***@***.***> wrote:

[2021-11-01 14:55] kaxil commented on #19343
https://github.com/apache/airflow/pull/19307 should fix this issue, correct @uranusjr ?

[2021-11-01 15:21] malthe commented on #11393
This optimization currently does not function correctly with the `pre_execute` and `post_execute` parameters introduced (on an experimental basis) in #17576.

[2021-11-01 15:39] kaxil commented on #19346
Thoughts @yuqian90 ?? ^^

[2021-11-01 15:59] kaxil commented on #11393
There is no point in wasting a worker slot for `DummyOperators`, there are exceptions too where a DummyOperator has callbacks or not. On a large scale this makes a huge difference and overhead of sending task to Workers if it is not needed.

The `pre/post_execute` are still "experimental" for a good reason. There still aren't that many use-cases for it. We might rip it of if that does not serves a

[2021-11-01 16:36] GuidoTournois commented on #19328
I have validated that both changes for pagerduty work as intended!
-  Add standard hook fields to pagerdutyHook to make hook show up in UI (#18763)
- Make a separate hook for interacting with the Pagerduty Events API (#18784)

[2021-11-01 16:54] Brooke-white commented on #19328
#18447 tested and working

[2021-11-01 16:59] kaxil commented on #17469
@bbovenzi Do we have a fix for this?

[2021-11-01 17:05] anaynayak commented on #19328
#18807 tested and verified both single + multiple s3 prefix matches.

[2021-11-01 17:35] josh-fell commented on #19328
Tested and verified #19052, #19062, and #19323. Thanks for organizing this release Jarek!

[2021-11-01 17:46] eskarimov commented on #18999
@chinwobble you're right, I see the same behaviour... I've spotted though when I don't pass `timeout` argument to `self.defer()`, a deferred task will fail if its runtime more than `execution_timeout` set for the Operator calling it.
I.e. timeout for a deferred task is equal to execution timeout for an Operator in this case. [Here is the code behind](https://github.com/apache/airflow/blob/94a0a0e8

[2021-11-01 18:36] tnyz commented on #19328
tested #18676 and working

[2021-11-01 19:53] #19304 closed

[2021-11-01 19:53] #19343 closed

[2021-11-01 19:56] morhook commented on #18041
On our cluster we suspect it is related with running out of disk space on the "node" level of Kubernetes. https://kubernetes.io/docs/concepts/scheduling-eviction/node-pressure-eviction/

As `KubernetesExecutor` is creating raw `Pods` (instead of `Deployments` or `Jobs`), this type of "destroys" (evictions) is producing that DAG/Tasks are mark as failed on airflow side and Kubernetes is not re-tryi

[2021-11-01 21:21] potiuk commented on #19328
Good progress so far :)!

[2021-11-01 21:47] ShakaibKhan commented on #19224
PR for this: https://github.com/apache/airflow/pull/19354

[2021-11-01 22:55] pohek321 opened #19357 "DatabricksHook method get_run_state returns error"
### Apache Airflow Provider(s)

databricks

### Versions of Apache Airflow Providers

apache-airflow-providers-databricks==1!2.0.2

### Apache Airflow version

2.1.4 (latest released)

### Operating System

Debian GNU/Linux 11 (bullseye)

### Deployment

Docker-Compose

### Deployment details

Running local deployment using Astronomer CLI

### What happened

When calling the `get_run_state` method

[2021-11-02 00:06] #9656 closed

[2021-11-02 00:29] mik-laj commented on #19357
@alexott @robertsaxby Can you look at it?

[2021-11-02 01:12] subkanthi commented on #19080
can I take this on please.

[2021-11-02 02:10] mariotaddeucci commented on #19328
@potiuk Happend on `S3ToRedshiftOperator` with specific configuration. By using "UPSERT" or "REPLACE" is generate an sql block with multiple queries. The `RedshiftSQLHook` don't support execute multiple queries in a single call of `execute`. To fix it just need to convert the single query string to a list of queries. Fix is available on PR #19358.

[2021-11-02 03:09] calfzhou commented on #19342
2.2.0 and 2.2.1 both facing the same issue.

[2021-11-02 03:24] ralleman-quasarsat opened #19360 "Airflow Helm chart fails on Apple Silicon + kind"
### Apache Airflow version

2.2.1 (latest released)

### Operating System

Mac OS Big Sur (2021 Mac Air M1)

### Versions of Apache Airflow Providers

-

### Deployment

Official Apache Airflow Helm Chart

### Deployment details

Following these instructions https://marclamberti.com/blog/airflow-on-kubernetes-get-started-in-10-mins/ and also the official instructions https://airflow.apache.org/doc

[2021-11-02 03:31] ZackingIt commented on #10605
I was able to get my xcom to use a non-DockerHub repo also by creating a `airflow_local_settings.py` file in the root/config folder, due to this yaml:
https://github.com/apache/airflow/blob/73044af1c6908d1b075bd0127bc56c1db82b564b/chart/templates/_helpers.yaml#L416.

I then simply overwrote with the code:
[code]
You can verify the custom `airflow_local_settings.py` file is loaded because any code

[2021-11-02 04:23] chinwobble commented on #18999
![image](https://user-images.githubusercontent.com/18226001/139786606-5a718625-1a8b-4db6-82d3-4f8cd416a3e6.png)

[2021-11-02 06:12] calfzhou commented on #19058
what's the difference between `logical_date` and `data_interval_start`?

[2021-11-02 06:16] imamdigmi commented on #13625
I have the same problem, using Airflow 2.1.3 with KubernetesExecutor (kube 1.20)
![image](https://user-images.githubusercontent.com/10998240/139795588-fbdd603c-1949-4890-b6a3-ac40574d70b8.png)

cc: @totalhack  @kaxil

[2021-11-02 06:30] yuqian90 commented on #19346
I think the new behavior makes more sense, but I'm happy to hear scenarios that makes the old behavior more preferable. If timeout=3600s and retries=5, it means the task has a max of 3600s to finish. During that 3600s, it can retry at most 5 times. If either 3600s or 5 retries is reached, the task fails. So to address the problem initially reported in this issue, the user just need to increase the

[2021-11-02 07:23] uranusjr commented on #19058
`data_interval_start` is the start of the DAG run's data interval, which `logical_date` is a date that identifies that DAG run. They are the same for runs scheduled via CRON and `timedelta`, but not the case for manual runs and `@once` runs. A custom timetable may also choose to not use the same value for them.

[2021-11-02 07:44] mik-laj commented on #19080
@subkanthi  Assgined.

[2021-11-02 08:40] nathadfield commented on #19346
@yuqian90 Ah, my misunderstanding.  Thanks for the clarification.  This does make more sense.

[2021-11-02 08:44] humit0 opened #19362 "Cannot see full task name at tree view page when task name is long"
### Apache Airflow version

2.2.0

### Operating System

Centos 7

### Versions of Apache Airflow Providers

_No response_

### Deployment

Other 3rd-party Helm chart

### Deployment details

_No response_

### What happened

I could not see full task name, when task name is too long.

![image](https://user-images.githubusercontent.com/8676247/139811585-ce905fde-1d8d-465e-ab9f-c31c905bc13d.png)

#

[2021-11-02 09:18] eskarimov commented on #19328
Tested #19048, works correctly :)

[2021-11-02 10:16] bhavaniravi commented on #19328
Tested #19276 MongoSensor picking up the new db param

[2021-11-02 11:58] potiuk commented on #19360
Yep. There is no support for ARM images yet. See https://github.com/apache/airflow/issues/15635

[2021-11-02 11:58] #19360 closed

[2021-11-02 12:52] a-pertsev opened #19364 "'NoneType' object has no attribute 'refresh_from_task' Error when manually running task instance"
### Apache Airflow version

2.2.1 (latest released)

### Operating System

Ubuntu 20.04 LTS

### Versions of Apache Airflow Providers

apache-airflow-providers-amazon==2.3.0
apache-airflow-providers-apache-cassandra==2.1.0
apache-airflow-providers-ftp==2.0.1
apache-airflow-providers-google==6.0.0
apache-airflow-providers-http==2.0.1
apache-airflow-providers-imap==2.0.1
apache-airflow-providers-jdb

[2021-11-02 13:05] int3rlop3r opened #19365 "'NoneType' object has no attribute 'is_alive' - while running 'airflow standalone'"
### Apache Airflow version

2.2.1 (latest released)

### Operating System

Ubuntu (16.04)

### Versions of Apache Airflow Providers

apache-airflow-providers-celery==2.1.0
apache-airflow-providers-ftp==2.0.1
apache-airflow-providers-http==2.0.1
apache-airflow-providers-imap==2.0.1
apache-airflow-providers-sqlite==2.0.1

### Deployment

Virtualenv installation

### Deployment details

_No response_

[2021-11-02 13:15] potiuk commented on #19364
You should provide more reproducible examples (dags that you use), logs detailed information about your deployment. - otherwise it is impossible to act on this. I will convert it to discussion now until this information is provided - then we can try to asses if the eror is real or maybe there is somethign wrong with your deployment.

[2021-11-02 13:15] #19364 closed

[2021-11-02 14:08] AnastasiyaIvanovaNovade opened #19368 "TypeError: '>=' not supported between instances of 'int' and 'NoneType' when run scheduler"
### Apache Airflow version

2.2.1 (latest released)

### Operating System

Linux (ubuntu 20.04)

### Versions of Apache Airflow Providers

[code]

### Deployment

Other

### Deployment details

Airflow installed on Azure virtual machine (Standard D8s v3 (8 vcpus, 32 GiB memory)), the VM is dedicated for Airflow only

### What happened

After I updated Airflow from 2.1.3 to 2.2.1 and run db update,

[2021-11-02 14:28] raphaelauv opened #19369 "KubernetesPodOperator : TypeError: 'NoneType' object is not iterable"
### Apache Airflow Provider(s)

cncf-kubernetes

### Versions of Apache Airflow Providers

apache-airflow-providers-cncf-kubernetes==2.0.2

### Apache Airflow version

2.1.2

### Operating System

GCP Container-Optimized OS

### Deployment

Composer

### Deployment details

_No response_

### What happened

[code]

in the GKE logs I see
[code]

So the pod failed because I set to low limit for loca

[2021-11-02 15:53] mik-laj commented on #19328
It is a breaking change, so it should be in a new release.

It is breaking change also.

I am not sure here, but when we changed the minimum requirements of the google libraries, we always bumped the major version. Airflow is a thin layer between libraries and user, so breaking changes propagate to Airflow very easily.

[2021-11-02 17:03] potiuk commented on #19328
Thanks @mik-laj I will take a look and decide

[2021-11-02 17:09] #18732 closed

[2021-11-02 18:20] eladkal commented on #16637
This issue is reported against EOL version of Airflow.
Can you please let us know if the issue happens in latest airflow version?

[2021-11-02 18:46] andormarkus opened #19372 "EKSCreateNodegroupOperator - extra kwargs"
### Apache Airflow Provider(s)

amazon

### Versions of Apache Airflow Providers

apache-airflow-providers-amazon==2.3.0

### Apache Airflow version

2.2.1 (latest released)

### Operating System

Amazon Linux 2

### Deployment

Official Apache Airflow Helm Chart

### Deployment details

_No response_

### What happened

Adding extra kwargs to EKSCreateNodegroupOperator brokes the DAG.

[code]

##

[2021-11-02 18:52] alexott commented on #19357
I can look only over the weekend

[2021-11-02 18:54] mik-laj commented on #19372
CC: @ferruzzi

[2021-11-02 18:56] eladkal commented on #15608
closing as there is AIP for this

[2021-11-02 18:56] #15608 closed

[2021-11-02 20:40] nikie commented on #12136
This seems to be fixed by this PR: #17649,
available in Airflow 2.2: https://github.com/apache/airflow/blob/360474fff3738f70e95580a91e778250afa7ce82/airflow/providers/cncf/kubernetes/utils/pod_launcher.py#L258

[2021-11-02 21:24] kaxil commented on #19251
Yeah I was thinking of this sort of feature, I think I described in one of the issues too.

Instead of `skip`, should we instead include what backend it should look at? No flaw for either of the features though. And for sure they would be useful.

cc @fhoda

[2021-11-02 21:31] raphaelauv commented on #19251
I implemented the skip option in the PR , I could also implement the select option

But what should be the augment string give by the user ?

The name of the class of the secret_back to only look to?

Like

[code]

[2021-11-02 22:56] kaxil commented on #11912
Sure, can you create a PR for it

[2021-11-02 23:02] jedcunningham commented on #19277
@kk17, do you also see "Marked n SchedulerJob instances as failed" (n being an int) in your scheduler log when this happens? If so, I believe #19375 will fix it.

[2021-11-02 23:03] kaxil commented on #15468
Like @eladkal mentioned - I have had similar requirements like him and I would have `on_failure_callbacks` notifying that my task failed.

For your case, you can write a CustomOperator which you have at the end that checks if your EMR task failed or not and fail this task itself, thereby the DagRun will also be failed as it is the last task.

---

Your feature request while legit need more thinkin

[2021-11-02 23:08] jedcunningham commented on #9610
@stevenwoods, can you try again with 2.1.3 or later? I suspect what you are running into was fixed with #16289.

[2021-11-02 23:51] chinwobble commented on #18999
We are using localExecutor and it seems like the deferral consumes an unnecessary amount of tasks.
When implementing deferral, it looks like this is what is happening.
The way deferral work is like this:

 1. schedulerJob decides a task is ready to be queued
 2. Queued jobs run on a local executor and start a new job consuming 1 worker slot.
 3. The execute method is started, it takes 1 sec to sub

[2021-11-02 23:53] sarthakhaikerwalsaxena opened #19376 "Logs suppressed when impersonation is enabled"
### Apache Airflow version

2.2.1 (latest released)

### Operating System

RHEL 7.9

### Versions of Apache Airflow Providers

_No response_

### Deployment

Virtualenv installation

### Deployment details

_No response_

### What happened

When user impersonation is enabled in 2.2.1, the complete task logs are not printed. Here is a dummy DAG which was used:

[code]

The output logs of the task i

[2021-11-03 03:43] sarthakhaikerwalsaxena commented on #19376
Note that the logs from "subprocess.py" are not displayed.

[2021-11-03 06:45] #16573 closed

[2021-11-03 06:45] #16881 closed

[2021-11-03 06:45] #19277 closed

[2021-11-03 07:03] #17661 closed

[2021-11-03 07:51] potiuk commented on #19251
I personally think `skip` is a bit more "straightforward" and simple. Using more than one secret backend is not supported currently and we would have to implement the capability of definining multiple backands (with multiple configs) for the "look_in" type of setting to make sense.

I think the most "common" use cases are where secrets are kept in "secret" backend and all other variables are kept

[2021-11-03 09:17] raphaelauv commented on #19251
ok , current implementation is only with the `skip_***` arg

(but never skipping  EnvironmentVariablesBackend,  LocalFilesystemBackend and MetastoreBackend )

[2021-11-03 10:18] ashb commented on #19251
Do you want to skip the secrets backend for _all_ variables, or just a specific one?

[2021-11-03 10:20] ashb commented on #19251
This is already possible at the secrets backend configuration https://github.com/apache/airflow/blob/ae044884d1dacce8dbf47c618f543b58f9ff101f/airflow/providers/google/cloud/secrets/secret_manager.py#L60-L62

[2021-11-03 10:24] raphaelauv commented on #19251
no you didn't understood @ashb

I need to keep the secret_backend but I don't want airflow to try to read ALL the variables from it all the times

I want option to skip the secret_backend lookup

[2021-11-03 10:31] ashb commented on #19251
You want to use variables from the secret backend for some variables but not others?

[2021-11-03 11:48] potiuk commented on #19251
I would not close @ashb, but rather discuss how we can implement, I think there are varying opinions here. At thev very least) if others also have such strong opinion as you - we shoudl document how to handle this - very common it seems use case.

 I think we still can discuss how to do it - and maybe we should do it differently -  but I think the use/case and rationale is very-sound and - more th

[2021-11-03 11:56] ashb commented on #19251
I closed the PR as the implementation is not close to something I am happy with, so any new solution will have share none of the current changes. But we can edit this issue yes, so sorry for closing the issue and the PR - that was hasty of me. Sorry.

If a variable is a secret/sensitive, why not store it in a connection? We could add a new "generic" type of connection and then you can access it as

[2021-11-03 12:07] potiuk commented on #19251
If a variable is a secret/sensitive, why not store it in a connection? We could add a new "generic" type of connection and then you can access it as `{{ conn.some_name.pass }}` etc. Using that approach then it would be a) clear if something is sensitive or not (Variable: not sensitive, Connection: sensitive) and then it's easy for an install to be configured to not pull variables from the secrets

[2021-11-03 12:24] kaxil commented on #19251
Another possible solution I can think of is to build another Secret Backend that actually allows "skipping" touching the "external" secret backend entirely for some conditions ("prefix", "patterns"). So users don't need to update all their DAGs when they need to change something and will be a single source of truth of where the values for this variable/connection comes from.

For observability, we

[2021-11-03 12:27] potiuk commented on #19251
Yeah - I thought about it too, but it would have to be "mix-in" type - we should be able to take any of the backends out there and "mix-in" the selection. That was my initial idea as well :). But I think having a callable is more Pythonic way - doing pretty much the same without the overhead of creating a "backend class" that would take "other backend" as the "real backend to use".

[2021-11-03 12:31] ashb commented on #19251
A possible third option (because what we need is _more_ options): Create a new `Secret` class that parallels Variables, and somehow move towards Variables to being _not_ secret at all, and then Secret is basically a single value.

(Conceptually it's a simple idea, but the path forward from where Airflow is right now to that isn't so clear)

[2021-11-03 12:37] raphaelauv commented on #19251
my quick and dirty solution ->

[code]

[code]

[2021-11-03 13:11] potiuk commented on #19251
Yep. Very much this, it is indeed EASY to write your own secret backend like that - but it's not easy to discover by the users that you can do it. Some way of either documenting this pattern, or (IMHO a bit better) supporting the "mix-in" should solve the problem nicely.

[2021-11-03 14:12] bbovenzi commented on #19362
Duplicate of #17717

This is also fixed in #18675

[2021-11-03 14:12] #19362 closed

[2021-11-03 14:19] #17047 closed

[2021-11-03 14:20] eskarimov opened #19382 "Deferrable Operators don't respect `execution_timeout` after being deferred"
### Apache Airflow version

2.2.0

### Operating System

Debian GNU/Linux 10 (buster)

### Versions of Apache Airflow Providers

_No response_

### Deployment

Docker-Compose

### Deployment details

[code]

### What happened

When a task is resumed after being deferred, its `start_time` is not equal to the original `start_time`, but to the timestamp when a task has resumed.

In case a task has `e

[2021-11-03 14:34] krisuj commented on #19343
Is this fix going to be in a release soon?

[2021-11-03 15:04] MammutMKII opened #19384 "Add retries to LivyOperator polling / LivyHook"
### Description

Add an optional retry loop to LivyOperator.poll_for_termination() or LivyHook.get_batch_state() to improve resiliency against temporary errors. The retry counter should reset with successful requests.

### Use case/motivation

1. Using LivyOperator, we run a Spark Streaming job in a cluster behind Knox with LDAP authentication.
2. While the streaming job is running, LivyOperator k

[2021-11-03 15:29] jedcunningham commented on #19044
Hey @magnusfurugard, you need to use `AIRFLOW__METRICS__STATSD_HOST`, not `AIRFLOW__METRICS__HOST`:
https://airflow.apache.org/docs/apache-airflow/stable/configurations-ref.html#statsd-host

I looked and didn't see any reference to the wrong env var name in our docs. Did you see it somewhere?

If you still have issues, let me know and I can reopen this. Thanks!

[2021-11-03 15:29] #19044 closed

[2021-11-03 15:32] ferruzzi commented on #14396
Looking at taking this on.

1) Would the ideal solution be to make a new module under `airflow.models` to define the Context TypedDict and import it into `taskinstance.py`, or just define it at the top of `airflow.models.taskinstance`?

2) If/once I do define the TypedDict, are any other changes needed in order to implement it?   I have a rough implementation locally already and it seems to pass C

[2021-11-03 15:46] o-nikolas commented on #18549
Given the discussion in [19022](https://github.com/apache/airflow/pull/19022), I think this issue can be resolved/closed?

[2021-11-03 16:00] sushi30 opened #19385 "Scheduler fails when loading SubDAG after upgrade to 2.2.1"
### Apache Airflow version

2.2.1 (latest released)

### Operating System

Centos 7

### Versions of Apache Airflow Providers

_No response_

### Deployment

Official Apache Airflow Helm Chart

### Deployment details

_No response_

### What happened

After upgrade to Airflow 2.2.1, an existing DAG failed with the following error after which the scheduler crashes:
[code]

### What you expected to

[2021-11-03 16:04] cb149 opened #19386 "Relabeling in Connection form causes falsely named fields (UI only)"
### Apache Airflow version

2.2.0

### Operating System

Ubuntu

### Versions of Apache Airflow Providers

_No response_

### Deployment

Other

### Deployment details

airflow standalone

### What happened

Relabeling of fields in **Add Connection** never gets reverted, so switching connection types results in the form showing wrong field names.

### What you expected to happen

Changing connecti

[2021-11-03 16:07] andormarkus commented on #19372
As a solution I can try to submit a PR when I declare all the kwargs from boto3, however I don't know does it matches with the design of the EKS operator.

[2021-11-03 16:44] saveriogzz opened #19387 "GitLab OAuth2 Authentication"
### Description

Something I would really like is the possibility to have the equivalent of [GitHub OAuth Authentication](https://airflow.apache.org/docs/apache-airflow/1.10.15/security.html#github-enterprise-ghe-authentication), but for [GitLab](https://docs.gitlab.com/ee/api/oauth2.html).

### Use case/motivation

_No response_

### Related issues

_No response_

### Are you willing to submit a

[2021-11-03 16:58] sushi30 commented on #19385
As a workaround. Using this config and **deleting** the DAG allows it to continue running:
[code]

[2021-11-03 17:04] mik-laj commented on #19387
Airflow 1.10.15 is no longer supported. In Airflow 2+, we use Flask App Builder for web authentication, so you should report this issue to this project. Here are docs about authentication in Flask App Builder https://flask-appbuilder.readthedocs.io/en/latest/security.html

I am closing because we cannot take any additional actions.

[2021-11-03 17:04] #19387 closed

[2021-11-03 17:58] potatochip commented on #14352
If airflow gets 404 then service account probably doesn't have adequate permission

[2021-11-03 18:47] SamWheating commented on #19328
regarding https://github.com/apache/airflow/pull/18992

I've tested this change in our environment with the DataflowCreateJavaJobOperator. I haven't had a chance to set up test jobs for the other operators but based on the similarities in implementation I think that this fix should be applicable to all of them.

This PR introduced a change in behaviour, but I don't think it should be considered a

[2021-11-03 18:59] kaxil commented on #19343
@krisuj Yes it will be part of 2.2.2 that will be released in a week or two at max

[2021-11-03 19:46] bbovenzi commented on #19342
I believe it is an issue with the added `+00:00` on this [line](https://github.com/apache/airflow/blob/main/airflow/www/static/js/ti_log.js#L120) if someone wants to try a fix.

[2021-11-03 19:51] zockette opened #19397 "Upgrading from 2.1.2 to 2.2.1 airflow db upgrade errors"
### Apache Airflow version

2.2.1 (latest released)

### Operating System

RHEL 7.9

### Versions of Apache Airflow Providers

apache-airflow-providers-celery==2.1.0
apache-airflow-providers-ftp==2.0.1
apache-airflow-providers-http==2.0.1
apache-airflow-providers-imap==2.0.1
apache-airflow-providers-microsoft-azure==3.2.0
apache-airflow-providers-mysql==2.1.1
apache-airflow-providers-oracle==2.0.1

[2021-11-03 19:54] Echronix commented on #18549
Hey folks,

sorry that I didn't respond for that long.

I also figured out that this looks like an authentication problem but even with all privileges given to airflow the error still occurred. I was wondering if airflow maybe tries to create the log group inside the log stream. The error `arn:aws:logs:eu-central-1:<redacted>:log-group:airflow:log-stream:` looks like the correct path, but I don't

[2021-11-03 20:23] potiuk commented on #19328
Hey @mik-laj - thanks for raising your concenrs. i looked closer, and I do not see those changes as really "breaking" (or at least not really breaking enough and under our control to justify major version change (but I am open to hear to arguments if others disagree).

## Facebook

Facebook API does not follow SemVer. AT ALL.

They mostly introduce new features and bugfixes when they bump the vers

[2021-11-03 20:48] o-nikolas commented on #18549
What I'm quite sure of is that the issue is constrained to your configuration. Otherwise we'd have this exception for all users with logging to cloudwatch.

I don't think the boto3 api would return an authentication issue if the log group name was formatted incorrectly. The airflow-service-account-role you're using likely is still missing the correct policies.
As for the strangely formatted loggro

[2021-11-04 00:06] #13812 closed

[2021-11-04 00:22] #19320 closed

[2021-11-04 02:49] pindge opened #19399 "admin role no access to create user via UI"
### Apache Airflow version

2.1.3

### Operating System

AWS K8s

### Versions of Apache Airflow Providers

[code]

### Deployment

Other 3rd-party Helm chart

### Deployment details

we have standard deployment on k8s and we have webconfig

[code]

### What happened

We are using `CustomUserOAuthModelView` and under roles, there are only three permission that can be add `can read on CustomUserOAu

[2021-11-04 02:57] EricGao888 commented on #19342
I'm interested in this issue, will try to give a fix. Thx.

[2021-11-04 07:26] #19293 closed

[2021-11-04 10:04] PApostol commented on #17507
I'm seeing the same issue on  2.1.4 with 2 schedulers.

[2021-11-04 10:34] RikHeijdens commented on #19385
I'm not sure if by **deleting** the DAG you mean, delete the DAG and all history associated with it, but I was able to recover the scheduler from a crash loop by setting the `schedule_interval` to `@once` and then deleting the DAG's entry from the `dag_code` table. This would then allow the scheduler to recover, without having to delete all of the history.

[2021-11-04 13:35] jakubczaplicki opened #19402 "Misleading "Update a DAG" REST API example"
### Describe the issue with documentation

Oon https://airflow.apache.org/docs/apache-airflow/stable/stable-rest-api-ref.html#operation/get_dag
the payload in the example for PATCH  /dags/{dag_id} suggest that it's possible to update `schedule_interval` which is not true :

[code]

### How to solve the problem

Update documentation removing the `schedule_interval` part from payload

### Anything e

[2021-11-04 13:53] masayuki038 opened #19403 "A parameter name `deploy_mode` is incorrect in spark.rst"
### Describe the issue with documentation

A parameter name `deploy_mode` is incorrect in spark.rst. `deploy-mode` is correct.

### How to solve the problem

_No response_

### Anything else

_No response_

### Are you willing to submit PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://github.com/apache/airflow/blob/m

[2021-11-04 14:10] eladkal commented on #19403
Feel free to open a PR

[2021-11-04 14:37] sushi30 commented on #19385
Installing Airflow after https://github.com/apache/airflow/pull/19307 did the trick. So I guess the issue can be closed.

[2021-11-04 14:37] #19385 closed

[2021-11-04 14:41] leeadh opened #19405 "Unable to export custom values"
### Description

Im trying to export custom values

    export_custom_task = BashOperator(
        task_id="bash_task",
        bash_command="export a='b'",
        env={
            'CUSTOM_ENV': 'CUSTOM_VALUE',
            **os.environ
        },
        dag=dag
    )

    get_env_task = BashOperator(
        task_id="sample_task",
        bash_command="echo $CUSTOM_ENV",
        dag=dag
    )

[2021-11-04 18:12] fernandobugni commented on #18641
Sorry. if there is no one working on it, I am free to take it or to help :) @eladkal @Arun-kc

[2021-11-04 19:05] zockette opened #19409 "container_client.create_container() fails when using Container level SAS token (but fine with Storage level SAS token)"
### Apache Airflow Provider(s)

microsoft-azure

### Versions of Apache Airflow Providers

apache-airflow-providers-microsoft-azure 3.2.0
apache-airflow-providers-microsoft-azure 3.3.0rc1

### Apache Airflow version

2.1.2

### Operating System

Red Hat Enterprise Linux Server release 7.9 (Maipo)

### Deployment

Virtualenv installation

### Deployment details

Using Azure Blob Storage connection

[2021-11-04 19:11] potiuk commented on #19328
Closing this one. As described in https://lists.apache.org/thread/6tzsq6xkm5r1q6pqtyq5yhvr5p1jqd13  I am releasing the wave now and we are removing the Amazon Provider from that release due to Redshift regression (and I will release fixed version soon). Thanks @mariotaddeucci for testing and spotting the problem (it was not obvious in the initial change and it's great you tested this case!)

Thank

[2021-11-04 19:11] #19328 closed

[2021-11-04 20:00] josh-fell commented on #19386
@cb149 A PR has been opened to correct this issue. There is a reset of field performed when switch connection types, however, the logic was querying for an incorrect `label` attribute in the Connection form.

Thanks for reporting this issue. Nice catch!

[2021-11-04 20:49] #19386 closed

[2021-11-04 21:37] potiuk opened #19414 "Status of testing Providers that were prepared on November 04, 2021"
I have a kind request for all the contributors to the latest provider packages release.
Could you help us to test the RC versions of the providers and let us know in the comment,
if the issue is addressed there.

## Provider [amazon: 2.4.0rc2](https://pypi.org/project/apache-airflow-providers-amazon/2.4.0rc2)
   - [ ] [MySQLToS3Operator add support for parquet format (#18755)](https://github.com/a

[2021-11-04 21:40] potiuk commented on #19414
I marked those PRS that were already tested at https://github.com/apache/airflow/issues/19328 but feel free to re-test them  with RC2 just in case.

[2021-11-04 21:59] rcheatham-q opened #19415 "dag.max_active_runs is nullable but the scheduler dies if it is null"
### Apache Airflow version

2.2.1 (latest released)

### Operating System

debian

### Versions of Apache Airflow Providers

apache-airflow==2.2.1
apache-airflow-providers-amazon==2.3.0
apache-airflow-providers-ftp==2.0.1
apache-airflow-providers-google==6.0.0
apache-airflow-providers-http==2.0.1
apache-airflow-providers-imap==2.0.1
apache-airflow-providers-jira==2.0.1
apache-airflow-providers-mys

[2021-11-04 22:55] rcheatham-q opened #19416 "A dag's schedule interval can no longer be an instance of dateutils.relativedelta"
### Apache Airflow version

2.2.1 (latest released)

### Operating System

debian

### Versions of Apache Airflow Providers

apache-airflow==2.2.1
apache-airflow-providers-amazon==2.3.0
apache-airflow-providers-ftp==2.0.1
apache-airflow-providers-google==6.0.0
apache-airflow-providers-http==2.0.1
apache-airflow-providers-imap==2.0.1
apache-airflow-providers-jira==2.0.1
apache-airflow-providers-mys

[2021-11-05 00:27] mariotaddeucci commented on #19414
#18671, #18844 and #19358 tested and worked as expected o/

[2021-11-05 00:42] kaxil commented on #19415
Will be closed by https://github.com/apache/airflow/pull/19367 and duplicate of https://github.com/apache/airflow/issues/19368

[2021-11-05 00:46] #19415 closed

[2021-11-05 00:47] kaxil commented on #19416
cc @uranusjr @ashb

[2021-11-05 00:48] kaxil commented on #16833
Is this still pending, if yes can you take this over @dstandish

[2021-11-05 00:53] dstandish commented on #16833
sure think

[2021-11-05 06:27] Arun-kc commented on #18641
Sure thing, I didn't get much time to check up on this, so was not able to follow up on this till now.

[2021-11-05 07:22] stijndehaes opened #19421 "Airflow 2.2.1 upgrade"
### Apache Airflow version

2.2.1 (latest released)

### Operating System

Debian

### Versions of Apache Airflow Providers

Not relevant

### Deployment

Other Docker-based deployment

### Deployment details

Running on a kubernetes cluster

### What happened

Upgrading from airflow 2.1.4 to 2.2.1 gave the following mesasge:

[code]

### What you expected to happen

It's ok that this message show

[2021-11-05 07:40] piyush-daga opened #19422 "Patch Airflow to use okta email address instead of okta_id as the username"
### Apache Airflow version

2.1.3

### Operating System

Linux

### Versions of Apache Airflow Providers

flask-appbuilder~=3.3.0
authlib~=0.15.3

### Deployment

Official Apache Airflow Helm Chart

### Deployment details

Self-hosted on AWS EKS with the official helm chart.

### What happened

When enabling OAUTH using Okta, the username is replaced by the okta_id, which is a unique identifier to

[2021-11-05 08:48] easontm commented on #19397
I also received this error with the following mysql packages:
[code]

Error:
[code]

[2021-11-05 08:57] easontm commented on #19226
See also #9342

[2021-11-05 09:02] ningren-ponyai commented on #19397
Same error here.
I ended up with dropping all data and re-creating the database.

[2021-11-05 09:24] stijndehaes commented on #19421
By looking through the source code I noticed this can happen when you have task instances that have no dag run attached. This means these are orphaned task instances, in theory one could created the needed dag run but this does not look to be easily feasible. I also noticed that some of the task instances are of deleted/renamed dags so it's impossible to generate a proper dag run.

I think these o

[2021-11-05 10:25] mik-laj commented on #19422
In Airflow 2+, we use Flask App Builder for web authentication, so you should report this issue to this project. Here are docs about authentication in Flask App Builder https://flask-appbuilder.readthedocs.io/en/latest/security.html

I am closing because we cannot take any additional actions.

[2021-11-05 10:25] #19422 closed

[2021-11-05 10:29] mik-laj commented on #19402
This is a problem with Redoc. It is possible that updating the library will fix the problem.
https://github.com/apache/airflow/blob/f18e4ba612f8ce19bcce7fce612e2409c4afd7ab/airflow/www/yarn.lock#L5779
https://github.com/apache/airflow/blob/f18e4ba612f8ce19bcce7fce612e2409c4afd7ab/docs/conf.py#L652
If that doesn't help, we should report the problem to this project.

[2021-11-05 11:06] ghostbody opened #19423 "why not use `ON DUPLICATE KEY UPDATE` in XCom.set"
### Description

At present, a `set` method in XCom using two steps:

1. delete all XCom with key `(dag_id, execution_date, task_id)`
2. insert new XCom

However, when the xcom is set frequently, some error will occur, like this:

[code]

related code lines: https://github.com/apache/airflow/blob/main/airflow/models/xcom.py#L84

### Use case/motivation

using `ON DUPLICATE KEY UPDATE` maybe better

[2021-11-05 11:06] eladkal commented on #18641
@fernandobugni assigned to you

[2021-11-05 11:17] uranusjr commented on #19423
This is not supported by all databases so you need to write specific code for each backend, and still keep the current implementation when nothing better is available (e.g. for SQLite IIRC). Feel free to try it.

[2021-11-05 12:56] eladkal commented on #19313
@cdabella assigned the issue to you, feel free to open PR

[2021-11-05 13:09] eladkal commented on #14175
@edikmkoyan Can you please let us know if that is still an issue in the latest airflow version & Kubernetes provider?

[2021-11-05 13:11] eladkal commented on #13916
Is this still an issue in latest Airflow version & Kubernetes provider?

[2021-11-05 14:21] matejpavlovic-maistra opened #19426 "ECS operator not fetching CloudWatch logs"
### Apache Airflow version

2.2.1 (latest released)

### Operating System

Debian GNU/Linux 10 (buster)

### Versions of Apache Airflow Providers

apache-airflow-providers-amazon==2.3.0
apache-airflow-providers-celery==2.1.0
apache-airflow-providers-cncf-kubernetes==2.0.3
apache-airflow-providers-docker==2.2.0
apache-airflow-providers-elasticsearch==2.0.3
apache-airflow-providers-ftp==2.0.1
apache

[2021-11-05 14:25] juroVee commented on #18843
@kaxil Hi, yesterday we've upgraded to 2.2.1, so I've tested it by deleting DAG file during runtime:

[code]

Scheduler survived - so it seems we are good here. Thank you!

[2021-11-05 14:30] kaxil commented on #18843
Awesome, glad to hear that

[2021-11-05 14:38] eladkal commented on #8006
To my understanding the issue here is that the broken DAG message was not present in the UI and you had trouble to find that the DAG has code problems which is why it was never executed as expected.

I can confirm that this is no longer the case and in Main branch the code you shared raise broken DAG message:

![Screen Shot 2021-11-05 at 16 36 52](https://user-images.githubusercontent.com/45845474

[2021-11-05 14:38] #8006 closed

[2021-11-05 14:41] eladkal commented on #11006
This issue is reported against an end-of-life version of Airflow.
if the issue still happens on latest Airflow version please comment and we will revisit.

[2021-11-05 14:41] #11006 closed

[2021-11-05 14:51] olivcamj opened #19427 "Solving VirtualBox “kernel driver not installed (rc=-1908)” Error on macOS during the development environment set up"
### Describe the issue with documentation

When getting started the HACKING.md says that after the prerequisites are install you should run `vagrant up`
<img width="513" alt="Command to install the virtual machine" src="https://user-images.githubusercontent.com/34360644/140526590-0952b5b5-750a-4f70-bf28-963d9451e4a1.png">

<details>
<summary>An error showed up instead ⚠️ </summary>
<br>

<img widt

[2021-11-05 14:53] eladkal commented on #19426
Wasn't this solved by https://github.com/apache/airflow/pull/17209 ?

[2021-11-05 14:57] #19427 closed

[2021-11-05 15:16] zockette commented on #19397
Please no, anything but that D: Did you attempt to backup/re-import your dag run history?

[2021-11-05 16:04] #19342 closed

[2021-11-05 17:19] #19096 closed

[2021-11-05 17:34] hterik opened #19428 "python_requires constraint set too strict, 3.6 only."
### Apache Airflow version

2.2.1 (latest released)

### Operating System

N/A

### Versions of Apache Airflow Providers

_No response_

### Deployment

Virtualenv installation

### Deployment details

_No response_

### What happened

Trying to install Airflow in a Python 3.7+ project via Poetry gives following error:

I am aware poetry is not supported [*]  but isn't this constraint on the pytho

[2021-11-05 18:35] potiuk commented on #19428
This statement is absolutely correct: "- apache-airflow requires Python ~=3.6, so it will not be satisfied for Python >=4.0" . Presumably python 4.0 will contain some breaking changes  (no-one knows for sure as it is not even planned), yet Python 3.6+ is really supposed to be backwards compatible, so barring some dependencies (that prevent us from 3.10 support) it also supports all 3.6+ versions.

[2021-11-05 18:35] #19428 closed

[2021-11-05 19:25] collinmcnulty opened #19432 "Trigger Reserialization on Demand"
### Description

Dag serialization is currently out of the hands of the user. Whenever dag reserialization is required, I run this python script.

[code]

It would be great to have this available from the CLI and/or UI. Or even be able to do it for individual dags without having to delete the whole dag with the trash can button. Also would be worth considering triggering reserialization for any ve

[2021-11-05 21:11] mik-laj commented on #19405
Each operators is executed as separate process, so you need to explicitly exchange data using xcom. http://airflow.apache.org/docs/apache-airflow/stable/concepts/xcoms.html

[2021-11-05 21:12] mik-laj commented on #19402
Duplicate: https://github.com/apache/airflow/issues/15917

[2021-11-05 21:12] #19402 closed

[2021-11-05 22:48] #19416 closed

[2021-11-06 00:47] uranusjr commented on #19428
Poetry's message is _technically_ correct as well, since `~=3.6` (i.e. `>=3.6, <4.0`) does not cover _all_ of `>=3.7`, which can be split into `>=3.7, <4.0` and `>=4.0`, and the latter part is not properly covered.

But in any case, this is an issue between Poetry and you as its user. Airflow's specification is correct.

[2021-11-06 01:32] josh-fell commented on #8589
@turbaszek  @eladkal I'd love to hack away at this.

[2021-11-06 06:31] hterik commented on #19428
Thank you, i must have misunderstood tilde requirements. Btw do you know if there is a difference in how poetry and pip treat them?
[The poetry documentation](https://python-poetry.org/docs/dependency-specification/#tilde-requirements) say that `~1.2` is equivalent to `>=1.2.0 <1.3.0`, which in the case of `~3.6` case would have implied `<3.7.0`? Is this an error in their documentation or does it

[2021-11-06 06:38] ghostbody commented on #19423
reasonable~

[2021-11-06 06:38] #19423 closed

[2021-11-06 07:07] uranusjr commented on #19428
`~` is a Poetry-only extension and is different from `~=`.

[2021-11-06 07:42] eladkal commented on #19382
@eskarimov feel free to submit PR

[2021-11-06 07:45] eladkal commented on #19409
I'm not really sure if this is Airflow problem or the azure python sdk.
Could you show a minimal working code example with the SDK?

[2021-11-06 07:56] eladkal commented on #19204
@uranusjr should edit UPDATING.MD and mention this ?

[2021-11-06 08:07] eladkal commented on #10125
This request was raised against the experimental API which is no longer enhanced.
In the Rest API the dagrun endpoint require a run_id as you mentioned in your example.

If something is still missing please open a new issue about the rest api and explain the use case.

[2021-11-06 08:07] #10125 closed

[2021-11-06 08:08] eladkal commented on #9625
@jedcunningham WDYT?

[2021-11-06 08:20] eladkal commented on #10112
Can you please check if the issue still present in latest Airflow version?

[2021-11-06 08:26] eladkal commented on #9543
Since the original author of the request did not pursue with it and the needed modification is not very clear. I'm not confident that someone else can pick up this task plus this issue had no activity for more than a year.
I'll close it for now. If someone want to work on it you can directly open a PR or comment and explain further the issue.

[2021-11-06 08:26] #9543 closed

[2021-11-06 09:38] potiuk commented on #19428
Yep. Here is the PEP specification of `~=` (i.e. compatible release) https://www.python.org/dev/peps/pep-0440/#compatible-release

[2021-11-06 10:45] Elebath opened #19440 "Upgrading Apache Airflow from version 2.1.4 to 2.2.1"
### Apache Airflow version

2.1.4

### Operating System

Windows

### Versions of Apache Airflow Providers

_No response_

### Deployment

Docker-Compose

### Deployment details

_No response_

### What happened

Following the tutorial on how to upgrade Airflow versions (https://airflow.apache.org/docs/apache-airflow/stable/upgrading-from-1-10/index.html) gave the following message:

Airflow found

[2021-11-06 12:21] alexott commented on #19357
IMHO, the fix would be to rework `json.py` to support custom serializations, besides the "standard" ones.  We already have a [custom one for K8S](https://github.com/apache/airflow/pull/11952/files#diff-7a15a4f7b8fea7f7be350eb3809d8abfcca40419d2da36750d2d9453c7fab732L55), but it's a hack from my point of view.  Better solution would be to allow classes to provide implementation if necessary

[2021-11-06 14:06] alexott commented on #19357
@pohek321 But what kind of information are you interested in? Because there is a lifecycle state, and there is a resulting state ([doc](https://docs.databricks.com/dev-tools/api/2.0/jobs.html#jobsrunstate)) - which of them do you need in your Python task?

[2021-11-06 16:15] pateash commented on #16911
@rajaprakash91 Are you also upgrading from older version?
which version you have been using before?

[2021-11-06 16:44] #19440 closed

[2021-11-06 17:16] eladkal commented on #10020
Fixed in https://github.com/apache/airflow/pull/11368

[2021-11-06 17:16] #10020 closed

[2021-11-06 17:20] eladkal opened #19445 "Move Hive macros out of Airflow core to Apache provider"
### Body

We have hive macros in Airflow core:
https://github.com/apache/airflow/blob/main/airflow/macros/hive.py

These macros needs to be moved to provider:
https://github.com/apache/airflow/tree/main/airflow/providers/apache/hive

### Committer

- [X] I acknowledge that I am a maintainer/committer of the Apache Airflow project.

[2021-11-06 17:52] jtvmatos commented on #10921
This ticket appears to be related with this -> https://github.com/apache/airflow/issues/18999

[2021-11-06 18:17] pateash commented on #16911
@potiuk I have looked into it.
I think we should add some more information in documentation regarding generating CLUSTER_CONFIG for newer API
where we are using newer Dataproc Python packages as per refactoring by @turbaszek.

I think it doesn't make sense to add a workaround in the code as the older metadata was Dict() and newer argument is Seq(Tuple) type.

[2021-11-06 18:29] jtvmatos opened #19447 "Use Job API 2.1 version for databricks provider hooks and"
### Description

According with Airflow Databricks hook documentation, this hook use the `latest` endpoint version of the databricks job API.

[code]

However, the provided link, point to new 2.1 API version instead of the 2.0 version endpoints used in the job api.

### Use case/motivation

Since there are a new versions of the Jobs API (2.1) the Job API endpoints should be updated to version 2.1:

[2021-11-07 03:33] josh-fell commented on #19409
Hmm I wasn't sure off the top of my head but I dug into to the SDK a little. From what I can gather, if `ContainerClient. create_container()` [fails to create a container](https://github.com/Azure/azure-sdk-for-python/blob/73d0b36cf9c5ded2c5a642a48e9cf879f06455b5/sdk/storage/azure-storage-blob/azure/storage/blob/_container_client.py#L291-L299) (assuming metadata retrieval is OK) the original excep

[2021-11-07 03:46] josh-fell commented on #19447
@jtvmatos Does #19412 cover this feature request?

[2021-11-07 04:24] imamdigmi commented on #17507
Hi @ephraimbuddy , I had the same problem in version 2.1.3 and 2.2.1 with Python 3.8

[2021-11-07 06:23] TanyNguyen opened #19448 "sqlalchemy.exc.OperationalError: (sqlite3.OperationalError) no such column: dag.last_parsed_time"
### Apache Airflow version

2.1.0

### Operating System

Mac IOS

### Versions of Apache Airflow Providers

_No response_

### Deployment

Docker-Compose

### Deployment details

_No response_

### What happened

_No response_

### What you expected to happen

_No response_

### How to reproduce

_No response_

### Anything else

_No response_

### Are you willing to submit PR?

- [ ] Yes I am wil

[2021-11-07 06:24] TanyNguyen commented on #19448
Something bad has happened.
Please consider letting us know by creating a bug report using GitHub.

Python version: 3.8.8
Airflow version: 2.1.0
Node: 1.0.0.127.in-addr.arpa
-------------------------------------------------------------------------------
Traceback (most recent call last):
  File "/opt/anaconda3/lib/python3.8/site-packages/sqlalchemy/engine/base.py", line 1276, in _execute_context

[2021-11-07 10:20] reverse-engineer commented on #10112
@eladkal
Airflow 2.2.1 gives me an error while doing a fresh `db init`...

    alembic.util.exc.CommandError: Migration "upgrade 127d2bf2dfa7 -> cc1e65623dc7, add max tries column to task instance" has left an uncommitted transaction opened; transactional_ddl is False so Alembic is not committing transactions

Will test at the next released version, I guess..`

[2021-11-07 10:42] reverse-engineer commented on #10112
@eladkal Yes this is fixed now!

[2021-11-07 10:53] potiuk commented on #14396
Cool!

I think we have to make sure that we know what can be achieved here and what the "real" benefits of context stronger naming and typing is. Just adding typying without being able to make good use of it is kinda useless.  I.e. where and for whom actually "more typing and autocompletable naming" in context would help.

Let me summarize my view on what the requirements here are and who are the

[2021-11-07 11:08] uranusjr opened #19450 "Support stdlib zoneinfo.ZoneInfo (new in Python 3.10)"
### Body

Python 3.10 introduced [`zoneinfo`](https://docs.python.org/3/library/zoneinfo.html) which covers usages of `pendulum.tz` (for Airflow uses, from what I can tell). Airflow should support `zoneinfo.ZoneInfo` for all places where it currently uses `pendulum.tz.Timezone`. This should be a good first step to phase out Pendulum from Airflow.

The module is also backported as [`backports.zonei

[2021-11-07 11:19] #19024 closed

[2021-11-07 11:40] potiuk commented on #19421
I think this one and #19440 converted into discussion #19444 indicate that the message is a bit unclear for users. I prepared the PR #194553  to improve that (adds `upgrading` section to our documentation and have the message link to it so that rather than asking questions in the issues, users can find context and answers what they should do in our doc.

Please take a look @stijndehaes if that wou

[2021-11-07 12:29] potiuk commented on #19448
You did not run `airfow upgrade" properly and you have sqlite3 used in docker-compose which is almost for sure wrong because most likely each of your components uses a differemt, local database.

Since you have not written what kind of docker-compose configuration you have, there is no mor help that can be given to you - please correct the issues I mentioned and if you still have problems, come ba

[2021-11-07 12:29] #19448 closed

[2021-11-07 12:40] #10112 closed

[2021-11-07 16:42] #19077 closed

[2021-11-07 16:44] potiuk commented on #19432
Maybe you would like to add such CLI command @collinmcnulty ? This is not dificult

[2021-11-07 16:47] #15434 closed

[2021-11-07 17:32] zockette commented on #19409
Well I can say that create_container error is the same via the CLI:

![image](https://user-images.githubusercontent.com/58522841/140654255-beb06d1c-066d-47f1-9c8a-8b4e1e301108.png)

Uploading works just fine:
![image](https://user-images.githubusercontent.com/58522841/140654387-3f513a10-bb81-45a1-a8ea-5db0c44ed41a.png)

Your SAS token has been generated at Storage level, not at Container leveln ye

[2021-11-07 17:40] zockette commented on #19409
For reference, a Storage level SAS token would come from:
![image](https://user-images.githubusercontent.com/58522841/140655544-c98ed7e0-5865-4382-bbf9-86c5e2adda45.png)

A Container level SAS token is made via the Container UI:
![image](https://user-images.githubusercontent.com/58522841/140655604-8af0fbe1-db7b-46e5-9a8c-ff99000451c7.png)

Hope you like my mspaint skills 😎

[2021-11-07 18:03] subkanthi commented on #19080
Observation: the UI retrieves the dag dependencies of all the DAG's
`SELECT serialized_dag.dag_id AS serialized_dag_dag_id, json_extract(serialized_dag.data, %s) AS json_extract_1
FROM serialized_dag`

But for the CLI, dag dependencies need to be filtered for the specific DAG passed by the user.

[2021-11-07 19:10] #10786 closed

[2021-11-07 21:26] #19403 closed

[2021-11-07 22:19] pavelhlushchanka commented on #19426
I think you have a misconfiguration of the operator. The reason you don't get see logs is because the log fetcher can't find the log group and the not found error is just ignored. The error is ignored because it's always a case that a log group doesn't exist until the task is started. Try to use the following pattern of configuration and it should solve your problem:
[code]

It would be probably a

[2021-11-07 23:32] potiuk commented on #19384
Would you maybe like to implement it  @MammutMKII ?

[2021-11-08 00:41] mik-laj commented on #13531
The field `state` is nullable
https://github.com/apache/airflow/blob/26ad55beb00f5a0915ba4bec541e3d67044834e9/airflow/models/taskinstance.py#L333
In API, we use `IN` statement to filter elemenets.
https://github.com/apache/airflow/blob/26ad55beb00f5a0915ba4bec541e3d67044834e9/airflow/api_connexion/endpoints/task_instance_endpoint.py#L144
https://github.com/apache/airflow/blob/26ad55beb00f5a0915ba4

[2021-11-08 02:20] mik-laj commented on #19080
@subkanthi  Why do you want to filter dependencies based on DAG ID? I think it makes sense to see all the dependencies in one diagram.

[2021-11-08 03:57] surapuramakhil opened #19458 "DAG Run Views showing information of DAG duration"
### Description

In Airflow UI. If we go to Browse --> DAG Runs, then DAG Runs view will be displayed.

Table contains a lot of insightful values likes DAG execution date, Start date, end date, Dag config etc

Request to add DAG duration column in the same table.
DAG Duration i.e. DAG end_date timestamp  - DAG start_date timestamp

### Use case/motivation

Analytics purpose of knowing DAG duration

[2021-11-08 04:48] Rukeith commented on #14352
@potatochip Well, I am sure it has enough permission, I had made sure the service account got the highest permission. And airflow did save the log to my GCS.

[2021-11-08 07:30] matejpavlovic-maistra commented on #19426
![image](https://user-images.githubusercontent.com/56387646/140700300-54acbe0e-2d73-4ba5-b278-f31529f8594a.png)

My awslogs_stream_prefix already follows that naming.

My curretn solution is
[code]
And on failure function reads id of log from xcom and fetchs it using boto3.

[2021-11-08 08:26] stefanondisponibile opened #19460 "Templated volumes for KubernetesExecutor."
### Description

When using `PersistenVoume`s or `PVC`s with the Kubernetes Executor it should be possible to build their configuration (at least their names) dynamically.

### Use case/motivation

I want to attach some volume to running worker's containers, but I need to build its name dynamically (e.g. using the `dag_id`, `task_id`, or other values available at "runtime"). I'm using quotes becau

[2021-11-08 09:23] toddy86 opened #19461 "Missing DagRuns when catchup=True"
### Apache Airflow version

2.2.1 (latest released)

### Operating System

PRETTY_NAME="Debian GNU/Linux 10 (buster)

### Versions of Apache Airflow Providers

apache-airflow-providers-ftp==2.0.1
apache-airflow-providers-http==2.0.1
apache-airflow-providers-imap==2.0.1
apache-airflow-providers-sqlite==2.0.1

### Deployment

Docker-Compose

### Deployment details

_No response_

### What happened

[2021-11-08 09:24] gastonlau opened #19462 "ModuleNotFoundError when running airflow db init/upgrade"
### Apache Airflow version

2.0.2

### Operating System

Amazon Linux

### Versions of Apache Airflow Providers

apache-airflow-providers-amazon 1.4.0
apache-airflow-providers-ftp    2.0.1
apache-airflow-providers-http   1.1.1
apache-airflow-providers-imap   2.0.1
apache-airflow-providers-slack  3.0.0
apache-airflow-providers-sqlite 2.0.1

### Deployment

Virtualenv installation

### Deployment de

[2021-11-08 09:36] jtvmatos commented on #19447
Hi @josh-fell,
I believe your PR  https://github.com/apache/airflow/pull/19412 resolves this issue.
Can you need any help?

Tks.

[2021-11-08 09:38] toddy86 commented on #19461
Also note, in the above example DAG, we have the edited the max active run values on the DAG. However, we get the same result if these overrides are removed

[2021-11-08 10:16] mik-laj commented on #19462
This version is not supported. Please use constraint files to install Airflow.  http://airflow.apache.org/docs/apache-airflow/stable/installation/installing-from-pypi.html#constraints-files

For Airflow 2.0.2, you should use `WTForms==2.3.3`. See: https://github.com/apache/airflow/blob/constraints-2.0.2/constraints-3.8.txt#L35

[2021-11-08 10:16] #19462 closed

[2021-11-08 12:04] zambien commented on #16176
@kaxil @Dr-Denzy  please re-open this issue as multiple people are reporting it.  I am able to recreate it intermittently myself. You can follow the notes here:

https://github.com/zambien/tf-eks-airflow/blob/tf_eks_extended/notes.md

# deploy airflow on k8s using helm without packaged db
To keep everything simple we use the default namespace
Create the cluster and set it in kubectl

[code]

Get y

[2021-11-08 12:26] jakubczaplicki commented on #19402
Thanks @mik-laj  I've created a PR for adding an explicite example : https://github.com/apache/airflow/pull/19465

[2021-11-08 13:37] tnk-dev opened #19467 "ModuleNotFoundError: No module named 'wtforms.compat'"
### Apache Airflow version

2.2.1 (latest released)

### Operating System

Docker python:3.8-slim image

### Versions of Apache Airflow Providers

[code]

### Deployment

Virtualenv installation

### Deployment details

Hey Airflow,

while developing new dags etc today without changing any underlying infrastructure the following happened when running:

[code]

Our Dockerfile

[code]

This is unexp

[2021-11-08 13:46] potiuk commented on #19467
You should install airflow using constraints https://airflow.apache.org/docs/apache-airflow/stable/installation/installing-from-pypi.html

[2021-11-08 13:46] #19467 closed

[2021-11-08 13:55] tnk-dev commented on #19467
[code]

This is my requirements.txt

Same error!

Am I missing something else?

[2021-11-08 13:56] collinmcnulty commented on #19432
Sure, I'll do that.

[2021-11-08 14:00] potiuk commented on #19467
--constraints should  be added to `pip install` command not to requirements.txt. Constraints added in requirements.txt make no sense.

[code]

[2021-11-08 14:08] tnk-dev commented on #19467
You're right this solved the issue. Thank you so much and have a nice day :)

[2021-11-08 14:20] DanielMorales9 commented on #9975
How can this be solved on a fully managed setup such as MWAA? MWAA only supports 1.10.12 and 2.0.2?

[2021-11-08 14:40] sweco commented on #19329
Hey there, we're observing the same issue in a big DAG having hundreds of tasks. By looking in the scheduler logs from the moment when the downstream task was marked as `upstream_failed` it seems that it happened when a pod with the upstream task could not be started.

[code]

Also, looking at the successful task, it indeed has two tries, from which the first one really finished at the incriminate

[2021-11-08 14:54] kaxil commented on #16176
@zambien https://github.com/apache/airflow/pull/18776 should allow a disabling a Helm Hooks which might fix issue for you.

Can you try it out on your local machine or dev cluster by running the following commands:

[code]

`1.3.0rc1` is the release candidate for 1.3.0 release

[2021-11-08 14:57] stijndehaes commented on #19421
I think it does :) Thank you for answering this issue

[2021-11-08 14:57] #19421 closed

[2021-11-08 15:18] awildturtok opened #19469 "AirflowRescheduleException reschedule_date not honored"
### Apache Airflow version

2.1.3

### Operating System

Debian GNU/Linux 10 (buster)

### Versions of Apache Airflow Providers

apache-airflow==2.1.3
apache-airflow-providers-amazon==2.1.0
apache-airflow-providers-celery==2.0.0
apache-airflow-providers-cncf-kubernetes==2.0.2
apache-airflow-providers-docker==2.1.0
apache-airflow-providers-elasticsearch==2.0.2
apache-airflow-providers-ftp==2.0.0
ap

[2021-11-08 15:42] josh-fell commented on #19447
Not my PR but wanted to make you aware of it since you were willing to submit a PR here. Didn't want you to do waste your time with a PR if you didn't need to 😄

[2021-11-08 15:44] enguerranchevalier commented on #19461
I've got exactly the same behavior on 2.2.1 too.

[2021-11-08 15:45] bbovenzi commented on #19461
Let me get this right,:
In tree view all of the runs are there, but in calendar view they are not? Are you able to see those individual runs in the graph view?

[2021-11-08 15:50] bbovenzi commented on #19458
Should be relatively straightforward to add another column [here](https://github.com/apache/airflow/blob/main/airflow/www/views.py#L3934).

We already have duration on `/taskinstance` as you can see [here](https://github.com/apache/airflow/blob/main/airflow/www/views.py#L4314)

[2021-11-08 15:55] subkanthi commented on #19080
Hi @mik-laj , its good you actually looked at this comment, the current dag show takes the DAG id, so I assumed for the dag dependencies we need to show that specific DAG. Maybe its nice to have one for specific DAG id , and it no arguments are passed, show the dag dependencies for all DAGs.

`airflow dags show example_external_task_marker_parent --save output.jpg`

[2021-11-08 16:10] subkanthi commented on #19458
can I take this on please.

[2021-11-08 16:12] josh-fell commented on #19409
@zockette Thanks for the additional context about the container-level SAS token. This was the reason for my asking for other details; I didn't want to ask a leading question. Would you mind updating the issue title and the steps to reproduce please for future readers of the issue? That valuable context is missing upfront.

I'm still unclear if this is an Airflow "issue" or more of a feature reques

[2021-11-08 16:45] dmoore247 opened #19473 "Add DeltaSharing provider and sensor."
### Description

Using this Issue to add initial support for a [DeltaSharing](https://github.com/delta-io/delta-sharing) provider.
We would clone an existing provider and modify to monitor for changes in delta share tables via the rest protocol. This is a lightweight mechanism to pause before the entire Delta Share update is processed.

### Use case/motivation

Use Case: As a user of Airflow and D

[2021-11-08 16:57] Bowrna commented on #11913
Linking the [PR](https://github.com/apache/airflow/pull/19470)

[2021-11-08 17:25] toddy86 commented on #19461
Yeah, the gaps are there on the tree view, it's just that since empty runs aren't shown on the tree view, it provides you with a false sense idea that all of the DagRuns have actually run. It's not until you look at the calendar view that you actually see the gaps.

[2021-11-08 17:34] eskarimov commented on #10921
It seems related, though I think it's a different async functionality 🙂 The one requested in the current issue is about marking the task as completed once a job is submitted to Databricks, and then letting child tasks interacting with it, taking care of it, checking for status, etc.
While #18999 is about introducing new async or deferrable versions of Databricks operators, using the new deferrable

[2021-11-08 18:30] potiuk opened #19477 "'NoneType' object has no attribute 'refresh_from_task' Error when manually running task instance"
### Discussed in https://github.com/apache/airflow/discussions/19366

<div type='discussions-op-text'>

<sup>Originally posted by **a-pertsev** November  2, 2021</sup>
### Apache Airflow version

2.2.1 (latest released)

### Operating System

Ubuntu 20.04 LTS

### Versions of Apache Airflow Providers

apache-airflow-providers-amazon==2.3.0
apache-airflow-providers-apache-cassandra==2.1.0
apache-ai

[2021-11-08 18:32] potiuk commented on #19477
cc: @a-pertsev

[2021-11-08 19:26] potiuk commented on #19104
I guess it can be closed now.

[2021-11-08 19:26] #19104 closed

[2021-11-08 19:27] murilommen opened #19479 "Update Werkzeug requirements.txt for Safety checks"
### Description

I am not sure exactly how to contribute or modify this, but recently [safety](https://pypi.org/project/safety/) has started to flag a security issue for `Werkzeug<=2.0.2`.
Since the latest Airflow distribution still relies on version 1.0.1, I am currently unable to pass on my CI pipeline and therefore to use Airflow in my project, since it requires to pass Python safety's check.

[2021-11-08 19:38] potiuk commented on #19479
Werkzeug <2.0 is required by Flask  which we are using. Upgrading to 2+ might require a lot of changes This is something that will not happen quickly (maybe even months), so I suggest you implement some exception in your pipeline.

[2021-11-08 19:41] potiuk commented on #19479
BTW. The fact that some tools flags a dependency as vulnerable, does not automatically mean that the application using it is vulnerable (otherwise pretty much any application out there would be vulnerable). If you do think there is a vulnerability that applies to airflow. you should follow the securitty policy and report it with all details via securty@apache.org : https://github.com/apache/airflo

[2021-11-08 19:42] mik-laj commented on #19479
This may be problematic, because Flask==1.1.4 requires Werkzeug>=0.15,<2.0. Updating Flask may require updating many libraries including Flask-AppBuilder==3.3.3 (requires: Flask>=0.12,<2), Flask-JWT-Extended==3.25.1 (requires: Flask>=1.0,<2.0).

[2021-11-08 19:42] #19477 closed

[2021-11-08 19:55] potiuk commented on #19218
This is correct behaviour. When you redeploy airflow, it gets restarted and tasks are failed abruptly. So they did not fail, they simply did not complete - and since we do not know if the task completed or not we re-run it. This is expected.

The right way of redeploying airflow is to drain all workers before restarting (you need to send SIGTERM to those workers - that puts them in offline mode -

[2021-11-08 19:55] #19218 closed

[2021-11-08 20:02] potiuk commented on #19217
This is already possibly via _CMD and _SECRET env variable. See  https://airflow.apache.org/docs/apache-airflow/stable/howto/set-config.html

[2021-11-08 20:02] #19217 closed

[2021-11-08 20:54] subkanthi commented on #19458
![Screen Shot 2021-11-08 at 3 53 12 PM](https://user-images.githubusercontent.com/17434846/140816457-bb11c716-8e3d-4445-b0a3-36d3edbae7bd.png)
Is it OK to have the duration displayed in seconds? Since duration is not a column in the table, it was removed from order_columns and it wont be sortable.

[2021-11-08 23:18] jedcunningham commented on #9625
I assume this is for the helm chart. This can already be set via `dags.gitSync.maxFailures`.

@bhavaniravi, if this isn't what you meant, we can reopen this. Thanks!

[2021-11-08 23:18] #9625 closed

[2021-11-08 23:29] #19447 closed

[2021-11-09 00:06] #11303 closed

[2021-11-09 01:20] ningren-ponyai commented on #19397
Thanks, fortunately it's all testing data.
Good to know backup/re-import, might be a save lifer next time:)

[2021-11-09 06:32] Bowrna commented on #19104
yes sure. thank you @potiuk

[2021-11-09 06:58] SohailChamadia-everestek commented on #19217
The _CMD and _SECRET is only valid for the entire connection string stored in secrets backend and not configuration based secret using which connection URI can be created.

[2021-11-09 09:45] ashb commented on #9975
@DanielMorales9 Not easily I'm afraid - by asking AWS to provide a more recent version, or use a different method than MWAA that providers quicker update cycles.

[2021-11-09 10:32] eskarimov commented on #19171
Hello @luissantanacontato ,
just wanted to ping you about the issue, if you could have a look on the previous comment, please?

[2021-11-09 10:38] zockette commented on #19397
😮

@potiuk  Thanks! Waiting for 2.2.2 then!

[2021-11-09 10:44] vumdao opened #19489 "PostgresSqlHook needs to override DbApiHook.get_uri to pull in extra for client_encoding=utf-8 during create_engine"
### Description

I got following error
[code]

Try to set `extra` in airflow connection but it does not work
![image](https://user-images.githubusercontent.com/37215642/140909372-20805f0c-aa98-44a7-94c2-419aea176f70.png)

### Use case/motivation

See that `airflow/providers/mysql/hooks` support getting `extra` configs from airflow connection https://github.com/apache/airflow/pull/6816 but not yet

[2021-11-09 10:48] zockette commented on #19409
If someone faces the issue meanwhile (microsoft-azure 3.2.0 to 3.3.0rc1 at the time of writing), this can be patched by commenting out "container_client.create_container()" @ line 365 of YOUR_PYTHON_VENV_DIR_HERE/lib/python3SOMEVERSIONNUMBER/site-packages/airflow/providers/microsoft/azure/hooks/wasb.py.

You'll lose the auto-creation of containers when they don't exist however.

[2021-11-09 10:54] kk17 commented on #19277
Yes. I see the error in the log.

[2021-11-09 11:14] potiuk commented on #19397
Not sure if it will be fixed though ( and if it is a real problem) just did it to make sure that we take a look - i am currently not at my PC to take a look

[2021-11-09 11:57] luzbarbosa commented on #18041
@LeandroDoldan . Still facing the same issue here. Did you guys manage to run the test DAG ?
Would you mind providing a more detailed description of your config file ?

[2021-11-09 12:42] rrpelgrim commented on #9606
I'm running into the same issue trying to load S3 data into a dask dataframe, collecting a groupby result (pandas series) and passing that as input to a downstream task.

I've tried setting `enable_xcom_pickling` to `True` in both the `airflow.cfg` as well as with the env variable `AIRFLOW__CORE__ENABLE_XCOM_PICKLING` but still getting the error message:

[code]

[code]

[2021-11-09 13:18] rrpelgrim commented on #9606
solved this ^^^ by restarting my machine and setting env variable before launching `airflow standalone`.

This might be an extremely noob question but I can't seem to find anything in the Airflow docs about this -- what's the best practice for shutting down / restarting an airflow scheduler and webserver instance to refresh the env variables?

[2021-11-09 13:33] ThAccart opened #19490 "provider Databricks : add cluster API"
### Description

Add Databricks Cluster API in Databricks Hook

### Use case/motivation

Databricks provider lacks [Cluster API](https://docs.databricks.com/dev-tools/api/latest/clusters.html) access to allow
to CRUD cluster as well as manage clusters (start/restart/delete/...)
Those API are very convenient to control clusters (get status, force shutdown...) and to optimize some specific flows (sc

[2021-11-09 13:58] uranusjr commented on #19397
I think this has been fixed as a part of #19425 (cc @ash)

[2021-11-09 15:01] ashb commented on #19397
Just confirmed this works on Mysql with #19425 when going from 2.1.2 to v2-2-test branch, so this will be fixed when 2.2.2 is out in a few days

[2021-11-09 15:01] #19397 closed

[2021-11-09 16:41] kenfu1010 commented on #8375
Was there ever a resolution on this?

[2021-11-09 17:11] subkanthi commented on #19489
Just copying the same get_uri to postgres.py seems to like duplicate logic, should we have a common base class for both postgres and mysql  instead of deriving from DbApiHook?

[2021-11-09 21:18] alexInhert commented on #19458
Should it have tooltip that explains that the metric is in seconds?

[2021-11-10 00:08] #10779 closed

[2021-11-10 01:13] alexbegg commented on #18031
Maybe I am not understanding the ticket, but I don't find this to be true:

if I have a DAG that should be hourly and for example I set a 1-hour SLA, I will get an SLA miss email if a single DAG run is still running past 1 hour. If a DAG finished and it failed it will use `on_failure_callback`, and if a DAG finished and it succeeded it will use `on_success_callback`. So that covers both cases of a

[2021-11-10 01:45] alexbegg opened #19500 "Multiple SLA miss emails if multiple schedulers are used"
### Apache Airflow version

2.1.4

### Operating System

Debian GNU/Linux 10 (buster)

### Versions of Apache Airflow Providers

_No response_

### Deployment

Astronomer

### Deployment details

2 schedulers and CeleryExecutor with 2 workers

### What happened

I am receiving 2 identical SLA miss emails for each SLA miss due to having 2 schedulers running.

I know the scheduler is what checks the

[2021-11-10 03:26] EricGao888 commented on #19500
I'm wondering why you use two schedulers. Are you using multiple headers for high availability?

[2021-11-10 04:54] kaustubhharapanahalli opened #19502 "Issue while connecting to docker daemon from containerized Airflow"
### Apache Airflow Provider(s)

docker

### Versions of Apache Airflow Providers

apache-airflow-providers-amazon==2.3.0
apache-airflow-providers-celery==2.1.0
apache-airflow-providers-cncf-kubernetes==2.0.3
apache-airflow-providers-docker==2.2.0
apache-airflow-providers-elasticsearch==2.0.3
apache-airflow-providers-ftp==2.0.1
apache-airflow-providers-google==6.0.0
apache-airflow-providers-grpc==2

[2021-11-10 05:04] harryplumer opened #19503 "SnowflakeHook opening connection twice"
### Apache Airflow Provider(s)

snowflake

### Versions of Apache Airflow Providers

apache-airflow-providers-snowflake==2.2.0

### Apache Airflow version

2.2.0

### Operating System

Linux-5.4.141-67.229.amzn2.x86_64-x86_64-with-glibc2.31

### Deployment

Astronomer

### Deployment details

_No response_

### What happened

The `get_connection()` method is called twice in the SnowflakeHook, init

[2021-11-10 06:10] alexbegg commented on #19500
I did that because Astronomer actually recommends it for production: "To increase the speed at which tasks are scheduled and ensure high-availability, we recommend provisioning 2 or more Airflow Schedulers for production environments" As stated under the "Airflow Scheduler" section of his documentation: https://www.astronomer.io/docs/enterprise/v0.25/deploy/configure-deployment#scale-core-resource

[2021-11-10 06:42] alexbegg commented on #16921
I just want to share that it is fairly simple to use a SalesforceHook for a SalesforceBulk connection, I am doing it at my company (you just have to `pip install salesforce-bulk`: https://github.com/heroku/salesforce-bulk):

[code]

So it should be fairly simple to make this into a `SalesforceBulkHook` (I think "Api" in the name is a bit unnecessary since we aren't calling the existing hook Salesf

[2021-11-10 07:55] alexbegg opened #19506 "Salesforce connections should not require all extras"
### Apache Airflow Provider(s)

salesforce

### Versions of Apache Airflow Providers

apache-airflow-providers-salesforce==1!3.2.0

### Apache Airflow version

2.1.4

### Operating System

Debian GNU/Linux 10 (buster)

### Deployment

Astronomer

### Deployment details

_No response_

### What happened

Right now the `SalesforceHook` is requiring all of the extras for a Salesforce connection type

[2021-11-10 07:57] alexbegg commented on #19506
I am just about ready to submit a PR fix for this. I just want to first add this as an issue so I can provide more detail behind the issue.

[2021-11-10 08:00] ypelud commented on #11521
You can use the FAB cli like this to reset password.

`FLASK_APP=airflow.www.app flask fab reset-password`

[2021-11-10 08:43] david30907d opened #19507 "Make BigQueryHook compatible with sqlalchemy"
### Description

[code]

this one would raise this exception 👇
[code]

### Use case/motivation

I hope this sqlalchemy toy example works

[code]

### Related issues

_No response_

### Are you willing to submit a PR?

- [X] Yes I am willing to submit a PR!

### Code of Conduct

- [X] I agree to follow this project's [Code of Conduct](https://github.com/apache/airflow/blob/main/CODE_OF_CONDUCT.md)

[2021-11-10 08:44] david30907d commented on #19507
PR: https://github.com/apache/airflow/pull/19508

[2021-11-10 09:00] kaustubhharapanahalli commented on #14574
This issue has been resolved in the latest versions of Airflow and hence closing the issue from my end.

[2021-11-10 09:00] #14574 closed

[2021-11-10 09:02] kaustubhharapanahalli commented on #14573
This still doesn't work when passing the PYTHONPATH=. in command. It has to passed as environment variable - solution if anyone else faces this issue.

[2021-11-10 09:12] kaustubhharapanahalli commented on #19502
I have tried a few things through which I will try to summarize my findings:

1. To make sure I can run docker operator, I need to upload the /var/run/docker.sock as a volume to the target path of /var/run/docker.sock
2. I need to change the permissions of docker.sock to 777 which is not an ideal way to approach it in my understanding.

Making these changes allows the dockeroperator to run with th

[2021-11-10 09:36] phwolf commented on #17371
Any updates on this? I would like to test the SparkKubernetesOperator in our setup, however I always run into this issue. Are there any workarounds?

[2021-11-10 09:53] potiuk commented on #19503
Assigned you :). Looks like easy fix!

[2021-11-10 10:05] ashb commented on #19502
This is generally a problem with "how do I access the host's docker daemon/socket from within a container" and isn't anything particular to Airflow, so I'm going to close out this issue.

[2021-11-10 10:05] #19502 closed

[2021-11-10 10:16] vijayakumarpattanashetti commented on #17371
Workaround is just add **read()** function following the path in the DAG itself.

```application_file=open("/path/to/the/yaml").read()```

[2021-11-10 10:16] kaustubhharapanahalli commented on #19502
@ashb isn't TCP hosted url not being accessible an issue?

[2021-11-10 10:24] isaac-florence commented on #19467
I have had exactly the same issue this morning, except I cannot move where the constraints file is used as `requirements.txt` is used by the source-to-image (s21) build logic. Nothing changed in our code but the K8s deployment failed this morning with this code change.
[requirements.txt](https://github.com/apache/airflow/files/7511877/requirements.txt)
Please can you advise?

[2021-11-10 10:31] ashb commented on #19502
@kaustubhharapanahalli Nothing about that is specific to running _Airflow_ in a docker container -- it would apply equally as much if you ran `ubuntu:latest` for example.

[2021-11-10 10:56] FreeDemon opened #19511 "With large number of DAGS, dag_run state takes long time to update after last task"
### Apache Airflow version

2.2.1 (latest released)

### Operating System

CentOS Linux 7.7

### Versions of Apache Airflow Providers

apache-airflow-providers-cncf-kubernetes==2.1.0
apache-airflow-providers-ftp==2.0.1
apache-airflow-providers-http==2.0.1
apache-airflow-providers-imap==2.0.1
apache-airflow-providers-sqlite==2.0.1

### Deployment

Virtualenv installation

### Deployment details

In

[2021-11-10 11:29] awildturtok commented on #19469
It seems to me that retries and rescheduling are not compatible. How would we implement a logic that Reschedules 5 times? The specific use case is that a database we are using has spurious problems with contention that cannot be disambiguated from actual problems with our query from the error message. (sum of all queries > capacity vs single query > capacity) and backing of should ameliorate the f

[2021-11-10 12:16] potiuk opened #19515 "Status of testing of Apache Airflow 2.2.2rc1"
### Status of testing of Apache Airflow 2.2.2rc1

We have a kind request for all the contributors to the latest [Apache Airflow RC 2.2.2rc1](https://pypi.org/project/apache-airflow/2.2.2rc1/).

Could you please help us to test the RC versions of Airflow?

Please let us know in the comment if the issue is addressed in the latest RC.

- [ ] [Add explicit session parameter in PoolSlotsAvailableDep (#

[2021-11-10 13:13] potiuk commented on #19515
#19255 works:

[code]

[2021-11-10 14:10] HybridNeos commented on #14667
I am also having this problem on Apache Airflow 2.1.4 and Amazon Linux 2 as the OS. Thank you maxcountryman for outlining the problem however a fix would be appreciated.

[2021-11-10 14:46] potiuk commented on #17371
I'd even say it's the "right" way of doing it, not a workaround. Closing

[2021-11-10 14:46] #17371 closed

[2021-11-10 15:23] lucidsushi commented on #12103
not to resurrect this, but the error still happens in airflow 2.1.1, just logging it so people can see:

`Dependencies not met for <TaskInstance: ___ [running]>, dependency 'Task Instance State' FAILED: Task is in the 'running' state which is not a valid state for execution. The task must be cleared in order to be run.`

[2021-11-10 15:52] ajbosco opened #19519 "datetime in parameters cause "TypeError: Object of type set is not JSON serializable""
### Apache Airflow version

2.2.2rc1

### Operating System

Debian Buster (docker)

### Versions of Apache Airflow Providers

n/a

### Deployment

Other 3rd-party Helm chart

### Deployment details

_No response_

### What happened

The DAG parses and runs fine on 2.1.3, but when we upgrade to the latest version it fails to import:

[code]

### What you expected to happen

_No response_

### How t

[2021-11-10 15:56] dimitar-petrunov-sagedata opened #19520 "Passwords not masked"
### Apache Airflow version

2.2.1 (latest released)

### Operating System

Docker image apache/airflow:2.2.1-python3.7

### Versions of Apache Airflow Providers

apache-airflow-providers-amazon==2.3.0
apache-airflow-providers-celery==2.1.0
apache-airflow-providers-cncf-kubernetes==2.0.3
apache-airflow-providers-docker==2.2.0
apache-airflow-providers-elasticsearch==2.0.3
apache-airflow-providers-ft

[2021-11-10 15:59] ajbosco commented on #19096
@jedcunningham The issue in #19267 was found in 2.2.2rc1.

<img width="565" alt="Screen Shot 2021-11-10 at 10 58 28 AM" src="https://user-images.githubusercontent.com/5423676/141147636-91bd7a2c-b8b4-477c-920c-d85f0e751e39.png">

[2021-11-10 16:12] josh-fell commented on #19506
This is a PR open to address this (#18929) which has some other details to consider.

@dstandish Would you like @alexbegg to take this across the finish line or are you still hacking away?

[2021-11-10 16:14] jedcunningham commented on #19519
@ajbosco, can you provide a DAG that reproduces this? The DAGs I have handy that use set params work.

[2021-11-10 16:17] baryluk commented on #16902
We had a weird instance today of similar issue. We use docker image with embedded dags, and despite new image (November 10) being pushed, the timestamp on the file was November 03, but the row in the database was indicating last modification November 09, so the dag processor was not updating the entry in database, so webserver was still showing the old code.

Touching the file, or removing the off

[2021-11-10 16:17] potiuk commented on #19520
Masking is only implemented in logs. You should not pass passwords via rendered templates, also because the rendered templates are stored in the database. Masking in the UI will not prevent it.

This behavioure is not going to be changed.

[2021-11-10 16:17] #19520 closed

[2021-11-10 16:21] PApostol commented on #19515
#19211 works (see lines 6-7):

<img src="https://user-images.githubusercontent.com/50751110/141150255-7ab73feb-de99-4bdc-aad5-1820615a6683.png" width="700" height="550">

<img src="https://user-images.githubusercontent.com/50751110/141150270-ca286fb3-b9c2-44fa-85e6-743f52e034bd.png" width="700" height="550">

[2021-11-10 16:27] dstandish commented on #19506
no haven't touched it please go for it

[2021-11-10 16:28] dstandish commented on #19096
dang, let me try to repro

[2021-11-10 16:34] dstandish commented on #19096
@ajbosco can you provide a minimal sample dag?

[2021-11-10 16:42] dstandish commented on #19096
hmm i just tried this dag and it works:

[code]

perhaps you can share more error messag @ajbosco

[2021-11-10 16:42] jedcunningham commented on #19096
(just since it hasn't been cross-linked yet) @ajbosco opened #19519, looks like an issue with datetime instead of set, though I haven't been able to reproduce it yet.

[2021-11-10 16:47] potiuk commented on #19096
I have a feeling that it's pendulum.datetime that has the problem (remember our latest discussions):

in serialized objects we have:

[code]

and in BaseSerialization:

[code]

[2021-11-10 16:50] bensta commented on #18932
Hi all,
I get a similar issue when installing v. 2.1.4 with python 3.8:

`pip install "apache-airflow[all]==2.1.4" --constraint "https://raw.githubusercontent.com/apache/airflow/constraints-2.1.4/constraints-3.8.txt"`

Leads to
[code]

But this is not the only conflict between requirements.txt and the setup.py. Installing the "all_dbs" extras shows a different conflict:

Running
`pip install "apac

[2021-11-10 16:50] dstandish commented on #19519
[code]

could not repro with this task

[2021-11-10 16:51] jedcunningham commented on #19096
Good thought @potiuk. I just tried `pendulum.datetime` and it works though 🤷‍♂️.

Do you have a link to the discussions? That doesn't run a bell for me.

(Also, we should probably move this over in #19519)

[2021-11-10 16:51] potiuk commented on #19519
Try pendulum datetime @dstandish

[2021-11-10 16:52] jedcunningham commented on #19519
`pendulum.datetime` worked for me 🤷‍♂️

[2021-11-10 16:52] dstandish commented on #19519
[code]

[2021-11-10 16:55] kaxil commented on #19519
Yup, let's just wait until then.

Also please double-check with the Airflow version in the Footer of the webserver or airflow CLI to confirm that you are using 2.2.2rc1

[2021-11-10 17:28] alexbegg commented on #19506
@josh-fell thanks for pointing out that PR, it brings up valid points I did not consider. I will incorporate the requested changes to my PR and submit it soon

[2021-11-10 17:39] theelderbeever opened #19522 "Add proxy argument for PythonVirtualEnvOperator during pip install"
### Description

The `PythonVirtualEnvOperator` can't `pip install` the virtualenv behind a corporate proxy. The addition of a `proxy` arg to the`PythonVirtualEnvOperator` and consequently to the underlying `pip install --proxy` command would be valuable.

### Use case/motivation

Sometimes I have Airflow deployments running on clusters that are behind a corporate proxy. In these instances it is n

[2021-11-10 17:55] ferruzzi commented on #14396
@potiuk  Extracting a Context class out into a new module was my initial thought, but it looked like you were arguing pretty hard _for_ the TypedDict solution.  A new `airflow.models.context` module won't be a trivial change and I want to make sure we're "all" on the same page before wasting a ton of time on something that will get shot down based on the implementation.

Looking at the TaskInstanc

[2021-11-10 18:04] ajbosco commented on #19519
Welp....I think there was some issue in the database I was using. I started over from scratch and cannot reproduce this error either. My bad!

[2021-11-10 18:04] #19519 closed

[2021-11-10 18:06] kaxil commented on #19519
@ajbosco Awesome, can you change your vote on the mailing list too, please :)

[2021-11-10 18:17] dstandish commented on #19519
@ajbosco, it's not impossible that you encountered some kind of issue with upgrade, deserializing dags from _prior to_ 2.2.0.

If that's what you were seeing, it would be really good if you could let us know.  I.e. we try to be backwards compatible but if there was an issue then that would be great if we could try to repro and fix.  If you think that might be what was going on and you can repro LM

[2021-11-10 18:24] dimitar-petrunov-sagedata commented on #19520
@potiuk Appologies if this isn't the right place to ask but I don't seem to find information on the subject. Environment variables are also visible in plain text in the rendered templates. Does it mean env vars passed to bash operator aren't suitable for secrets?

[2021-11-10 18:26] potiuk commented on #19519
Exception being likely DAGs tha have been deleted already.

[2021-11-10 18:27] dstandish commented on #19519
This I agree with completely

[2021-11-10 18:42] MatrixManAtYrService opened #19525 "Duplicate dag_id should emit an error"
### Apache Airflow version

2.2.2rc1 (release candidate)

### Operating System

debian (docker)

### Versions of Apache Airflow Providers

n/a

### Deployment

Astronomer

### Deployment details

Dockerfile:

`astro dev start`
[code]

Two dags:

[code]

[code]

Note that they share the same dag_id: `my_dag`

### What happened

Only one DAG appeared.  In the tree-view, I would refresh the page and

[2021-11-10 20:42] murilommen commented on #19479
Thank you so much for the inputs! I have just raised a specific exception for it in my automation pipeline. That was the kind of insight I was looking for 😄 Cheers!

[2021-11-10 20:42] #19479 closed

[2021-11-10 20:50] BrunoRizziBTG opened #19529 "Airflow does not load default connections"
### Official Helm Chart version

main (development)

### Apache Airflow version

2.2.1 (latest released)

### Kubernetes Version

1.20

### Helm Chart configuration

[code]

### Docker Image customisations

_No response_

### What happened

When I try to deploy my airflow with helm chart the default connections does not appears in UI and in the database, I checked both.
Connections like aws_defaul

[2021-11-10 21:10] alexbegg commented on #19506
My PR is open that handles the defaulting to None issue (and also updates the tests to test it is handled correctly: #19530

[2021-11-10 21:13] potiuk commented on #19522
You can do proxy and much more using pip config file or environment variables: https://pip.pypa.io/en/stable/topics/configuration/#pip-config-file

Is not that enough ?

[2021-11-10 21:37] potiuk commented on #19529
The 'load_default_connections" parameter is only valid at "db init" time and they are only there for ease of development setup - they are not recommended for production setup. We are running "db upgrade" only. If you need to create some connections upfront, you need to do it outside of the helm chart

[2021-11-10 21:37] #19529 closed

[2021-11-10 22:07] potiuk commented on #19520
There is no way to pass secret values between tasks. You can mask secrets in-the tasks but not when you pass them between tasks. The 'mask_secret" function works when you execute inside the task not in the DAG definition,

[2021-11-11 00:57] dzungdev commented on #10605
Hi @ZackingIt , could I know how do you overrote the code? Do you go to pod and change the  airflow_local_settings.py file in root/config folder or you add it in values.yaml file as below:
`airflow
    localSettings:
    ## the full content of the `airflow_local_settings.py` file (as a string)
    stringOverride: |
      # use a custom `xcom_sidecar` image for KubernetesPodOperator()
      from ai

[2021-11-11 06:42] rsg17 commented on #15525
Hi - I am new to Airflow and would like to contribute to this. Do you have some pointers to help me get started? I was going to look at the previous PRs to get some ideas and context.

[2021-11-11 06:49] wuchichung opened #19532 "parameter pass to @dag() decorators are not functioning"
### Apache Airflow version

2.1.3

### Operating System

linux

### Versions of Apache Airflow Providers

_No response_

### Deployment

Docker-Compose

### Deployment details

_No response_

### What happened

I test with the max_active_runs parameters and I set it to 1.

If I pass the param through @dag() decorator, it is not going to work.

default_args = {
    "owner": "cloud",
    "depends_on

[2021-11-11 06:49] uranusjr commented on #15525
To test a view, you need to set up a `Flask` app instance, and use it to invoke the views. Since setting up the `Flask` instance is quite costly, it’s important to reuse the instance as much as possible; in general we use Pytest’s [fixture scope](https://docs.pytest.org/en/stable/fixture.html#scope-sharing-fixtures-across-classes-modules-packages-or-session) for this; fixtures generating `Flask` i

[2021-11-11 07:14] wuchichung commented on #19532
solved it, max_active_runs should not placed in the default_args.

@dag(dag_id=DAG_ID, default_args=default_args, schedule_interval=timedelta(minutes=1),max_active_runs=1)
def my_dummy_dag():

This is going to work.

[2021-11-11 07:36] #19532 closed

[2021-11-11 07:48] uranusjr opened #19533 "Always re-serialise DAGs after an upgrade"
### Description

https://github.com/apache/airflow/issues/19519#issuecomment-965621090

Recording this in a new issue so it doesn’t get forgotten.

### Use case/motivation

_No response_

### Related issues

A way to manually trigger DAG reserialisation:
#19471

If a previous-serialised DAG is not being compatible with new semantics, a bug can be raised at a confusing location:
#19519

### Are you

[2021-11-11 07:56] uranusjr commented on #14396
I don’t see how it would require a major surgery. A TypedDict is just a dict a runtime, and type checking is designed to be able to handle circular type dependencies (see PEP 484 on [Forward Refernece](https://www.python.org/dev/peps/pep-0484/#forward-references)).

[2021-11-11 08:01] potiuk commented on #19515
Closing as we will have rc2.

[2021-11-11 08:01] #19515 closed

[2021-11-11 08:19] dobixu opened #19534 "s"
### Apache Airflow version

2.2.1 (latest released)

### Operating System

Centos8.3.2011

### Versions of Apache Airflow Providers

apache-airflow-providers-celery==2.1.0
apache-airflow-providers-docker==2.2.0
apache-airflow-providers-ftp==2.0.1
apache-airflow-providers-grpc==2.0.1
apache-airflow-providers-http==2.0.1
apache-airflow-providers-imap==2.0.1
apache-airflow-providers-mysql==2.1.1
apac

[2021-11-11 08:22] uranusjr commented on #19534
I don’t understand. The tasks are marked as queued, and why is this a problem?

[2021-11-11 08:27] potiuk commented on #14396
I just got more on the front of "what we want to get from it" rather than "how to implement it" (maybe I grew up a bit since the last time we discussed and look at it more from a "product" point of view rather than implementation detail. I am not sure if TypedDict will be enough to support all the use cases above - but since it's about the time you are implementing it, it might be worth looking at

[2021-11-11 08:34] dobixu commented on #19534
Thanks for reply.

I don't want it marked as queued 。 after these  tasks queued ， They will never be reschedulered
<img width="713" alt="Screen Shot 2021-11-11 at 4 31 17 PM" src="https://user-images.githubusercontent.com/34048913/141264607-83b92f98-7b2b-4637-8e6f-19f9e5e40397.png">

[2021-11-11 08:36] dobixu commented on #19534
Looks like it was random，I didn't change dags 。these dags can corrert run at the other 2 independent environments

[2021-11-11 08:38] potiuk commented on #18932
Hmm. indeed, something wrong is there. I will take  look more closely.

[2021-11-11 09:09] #16740 closed

[2021-11-11 09:14] uranusjr commented on #19489
Honestly just copying the code does not feel that big an issue to me. They are not really _logically_ duplicates but more like “we need to do it for two different things and it just happens the thing is the same”.

[2021-11-11 09:44] #19461 closed

[2021-11-11 11:15] racingjellyfish opened #19535 "Airflow tasks hang in 'Running' state"
### Apache Airflow version

2.2.1 (latest released)

### Operating System

Amazon Linux 2

### Versions of Apache Airflow Providers

apache_airflow-2.2.1.dist-info
apache_airflow_providers_amazon-2.3.0.dist-info
apache_airflow_providers_ftp-2.0.1.dist-info
apache_airflow_providers_http-2.0.1.dist-info
apache_airflow_providers_imap-2.0.1.dist-info
apache_airflow_providers_postgres-2.3.0.dist-info
a

[2021-11-11 14:29] omoussa1 commented on #15601
Hey, has a solution been reached for this?

[2021-11-11 17:01] josh-fell opened #19538 "TaskFlow API `multiple_outputs` inference not handling all flavors of dict typing"
### Apache Airflow version

2.2.0

### Operating System

Debian GNU/Linux 11 (bullseye)

### Versions of Apache Airflow Providers

[code]

### Deployment

Astronomer

### Deployment details

Local deployment using the Astronomer CLI.

### What happened

Creating a TaskFlow function with a return type annotation of `dict` does not yield `XComs` for each key within the returned dict.  Additionally,

[2021-11-11 18:01] tanvn commented on #18080
I got the same issue today with version 2.2.1 (the latest)
because the `try_number` is not changed when the task is marked as `UP_FOR_SCHEDULE`,
my ExternalTaskSensor with a `retries = 3` does not stop after 3 times and `on_failure_callback` never got called.
(It ran until being marked as SUCCESS and the  `on_success_callback` got called).
I think the cause is the below code.
[code]
https://github

[2021-11-11 19:02] a-pertsev commented on #19477
@potiuk as i can see, attempt of running newly created task will cause redirect with error message.
In previous versions airflow was creating and running new task instance - imho it is more preferable behaviour, beacause it is what user expects airflow to do

[2021-11-11 19:36] ZackingIt commented on #10605
@dzungdev
 I created an actual file, I did *not* overwrite a variable in the `values.yaml` i.e., part of my Docker build involves:
`cp /airflow-config/config/airflow_local_settings.py ${AIRFLOW_HOME}/config/airflow_local_settings.py`

When I say "due to this yaml" I mean that that yaml tells us that this is already a location,`${AIRFLOW_HOME}/config` is already one of the paths being read by defau

[2021-11-11 19:55] bensta commented on #18932
Quick update, in case you did not notice already: Same issue arises with the latest version, 2.2.1:

`pip install "apache-airflow[all]"==2.2.1 --constraint "https://raw.githubusercontent.com/apache/airflow/constraints-2.2.1/constraints-3.8.txt"`

[code]

[2021-11-11 20:19] theelderbeever commented on #19522
@potiuk So it is. You taught me something today. Thank you for the fast response time!

[2021-11-11 20:19] #19522 closed

[2021-11-11 22:29] GagandeepS opened #19548 "Option to include subdir in trigger_dag to not make scheduler scan the whole dag folder"
### Description

We have a design where 10s of child dags gets created every few minutes and gets triggered from a parent dag. While triggering each of the child dag, I believe scheduler searches the whole dag bag which is making the whole process slower. We have put a while loop to run TriggerDagRunOperator/trigger_dagy, if it is successful in triggering then it exits the loop otherwise trigger i

[2021-11-11 23:06] potiuk commented on #18932
Hmm. I thought about it and I think it's pretty much expected behaviour (though we might simply want to remove the bundle extras from released airflow as they make very little sense there) .

You are not supposed to use the "all" and 'all_dbs" when you are installing airflow from PyPI. Those are development-only extras which work a bit differently than the "provider" extras.

I think the problem i

[2021-11-11 23:50] #19503 closed

[2021-11-11 23:59] potiuk commented on #19477
I am afraid it is not possible now because of how DAG serializatiion works (and I think this is correct behaviour to be honest). But you can raise a feature request for that.

[2021-11-12 02:45] tanvn commented on #18031
I tried to use `ExternalTaskSensor` to check other tasks deadline
but because the `try_number` is not increased when the sensor mode is `reschedule`
so it will run forever until the conditions are met and marked as SUCCESS (never be marked as FAILED and call the on_failure_callback function)
The related issue is here: https://github.com/apache/airflow/issues/18080

[2021-11-12 02:55] alexbegg commented on #18031
I believe the intention of using ExternalTaskSensor with a deadline planned is to set a timeout and have no retries so if it doesn't complete by the timeout it fails, not just run forever.

[2021-11-12 03:02] alexbegg commented on #18031
Also as of Airflow 2.2.0 I think sensors will no longer retry if the sensor times out: https://github.com/apache/airflow/pull/12058

[2021-11-12 03:32] tanvn commented on #18031
Thank you for the information.
Actually I tried adding a timeout to my ExternalTaskSensor before but its behavior seemed not change. Maybe I should retry with a shorter one.
And by the way, with `soft_fail=True`, my `on_failure_callback` will not be called, I believe.
(`on_retry_callback` won't be called either with `mode : "reschedule"`.)
Therefore, I have to create a new sensor based on the Exte

[2021-11-12 03:52] #19506 closed

[2021-11-12 07:38] malthe commented on #17010
I think something like `TriggerRule.WAIT_ALL & TriggerRule.ONE_SUCCESS` is easier to understand than the existing `TriggerRule.NONE_FAILED_OR_SKIPPED` rule.

Following the ideas in #19361 – it seems that these ideas can combine, e.g.

[code]
Those are all static rules that can be combined with boolean logic such as `&`, `|` and `~` (not).

In #19361 there is also `CronTimeFilter` which could be tu

[2021-11-12 08:03] ESUBLXX opened #19552 "Tasks not getting Completed with KubernetesPodOperator"
### Apache Airflow version

2.0.2

### Operating System

Linux

### Versions of Apache Airflow Providers

Linux

### Deployment

Official Apache Airflow Helm Chart

### Deployment details

I am using KubernetesPodOperator to deploy my Spark Application and I am doing SparkSubmit to deploy below is the syntax . But once the spark driver gets completed , the task is still running and not moving to C

[2021-11-12 10:28] bensta commented on #18932
Yep, your explanation does make sense.

I have two thoughts from a user perspective:
a) The documentation does imply, that the [all] and [all_dbs] bundle extras are indeed for production use, since the [all] bundle is described as "all _user _facing__  features. Together with the presence of a devel_all package does indeed imply that this is meant to be used by the end user.

b) Having  bundles of

[2021-11-12 11:32] potiuk commented on #18932
Yeah. Doc update will be necessary if we remove them.

Good point. I think it can be achieved with a little update to our setup python code. I will definitely look to that.

[2021-11-12 12:23] raphaelauv opened #19555 "Kubernetes 1.21 official support"
### Description

I've been using airflow 2.1.X with kubernetes 1.21.X for more than 2 month, I didn't encounter any problem

what would be necessary to considerate this kubernetes version has a Stable deployment option ?

the README currently show `1.18, 1.19, 1.20`

### Use case/motivation

_No response_

### Related issues

_No response_

### Are you willing to submit a PR?

- [ ] Yes I am willi

[2021-11-12 12:29] raphaelauv commented on #19552
KubernetesPodOperator stay in `RUNNING` state until pod finish execution

[2021-11-12 12:37] uranusjr commented on #17010
I like the boolean combination idea. This will likely be a big undertaking though with a lot of tests needed since there’s much existing code that uses `==` and `in` that’d silently break against this change. An AIP will likely be needed to discuss and resolve potential problems.

[2021-11-12 13:00] nediGit opened #19556 "Checking roles and users list in Web UI, give me an error"
### Apache Airflow version

2.1.2

### Operating System

Centos 7

### Versions of Apache Airflow Providers

apache-airflow-providers-ftp==2.0.0
apache-airflow-providers-http==2.0.1
apache-airflow-providers-imap==2.0.0
apache-airflow-providers-microsoft-mssql==2.0.0
apache-airflow-providers-odbc==2.0.0
apache-airflow-providers-postgres==2.2.0
apache-airflow-providers-sqlite==2.0.0

### Deployment

[2021-11-12 13:49] ChrisWeinrich commented on #11618
Is therey any work going on here or someone knows a workarround ? We have ~10k * 500 Insert Lines and this spams the logging very badly :(

[2021-11-12 14:20] ESUBLXX commented on #19552
Even the Spark Driver moves to Completed, the airflow task is in RUNNING state. How to Move the airflow task to COMPLETED state.?

[2021-11-12 14:30] bbovenzi commented on #19556
Can you please include the error message or screenshots?

[2021-11-12 15:08] robinhur commented on #11618
@ChrisWeinrich
it's been almost an yr for me to raise this issue
and i've resolved it by creating my own operator that overrides existing codes and added to skip the echo part

[2021-11-12 15:18] potiuk opened #19558 "Status of testing of Apache Airflow 2.2.2rc2"
### Body

We have a kind request for all the contributors to the latest [Apache Airflow RC 2.2.2rc2](https://pypi.org/project/apache-airflow/2.2.2rc2/).

Could you please help us to test the RC versions of Airflow?

Please let us know in the comment if the issue is addressed in the latest RC.

- [ ] [Add explicit session parameter in PoolSlotsAvailableDep (#18875)](https://github.com/apache/airflo

[2021-11-12 15:22] sweco commented on #19329
# Steps to reproduce

1. Prepare a relatively small cluster, e.g. 1 node with 8 GB of RAM.
2. Deploy Airflow using Kubernetes executor there.
3. Prepare a DAG according to the following specification
    - It tries to run 5 tasks concurrently
    - Each task specifies 2 GB of RAM in their pod requests - i.e. the sum of requested RAM is greater than the total available RAM (5 * 2 GB = 10 GB > 8 GB)

[2021-11-12 15:24] potiuk commented on #11618
@robinhur @ChrisWeinrich  - the easiest and most certain way to get this implement is to submit a PR with a fix. Airflow is developed by > 1800 contributors, and there is no magical "someone's approval" to provide a fix for such a simple PR.

It's really as simple as it gets - the person most interested in a feature/fix usually implements it. Waiting a year makes very little sense if you can provi

[2021-11-12 15:25] robinhur commented on #11618
@potiuk
yes please
will take a look and create PR for this when i have a chance
Thanks

[2021-11-12 15:28] potiuk commented on #11618
Start here: https://github.com/apache/airflow/blob/main/CONTRIBUTORS_QUICK_START.rst , detailed contributor's guide is at https://github.com/apache/airflow/blob/main/CONTRIBUTING.rst and if you like video tutorials - here is a recording for first-time  contributor's workshop we held during OCSS Mexico: https://youtu.be/kvccZizzfTk

[2021-11-12 15:30] robinhur commented on #11618
@potiuk Great Information!!
@ChrisWeinrich wait for it!! will let you have this feature soon :)

[2021-11-12 15:49] AlekseiSaff opened #19559 "Airflow 2.1.4 to 2.2 upgrade failed"
### Apache Airflow version

2.1.4

### Operating System

CentOS 7.9

### Versions of Apache Airflow Providers

during aurflow db upgrade receiving an error

INFO  [alembic.runtime.migration] Running upgrade 83f031fd9f1c -> e9304a3141f0, make xcom pkey columns non-nullable
INFO  [alembic.runtime.migration] Running upgrade e9304a3141f0 -> 30867afad44a, Rename concurrency column in dag table to max_a

[2021-11-12 16:01] kaxil commented on #19559
What version of MySQL are you using, can you test it with `2.2.2rc` too please.

[code]

[2021-11-12 16:28] leonsmith commented on #19558
We have 2.2.2rc2 running in one of our envs for over the weekend initial testing looks good.

Confirmed #19528 and #19258 fixed

[2021-11-12 16:39] PApostol commented on #19558
#19211 works with 2.2.2rc2

[2021-11-12 16:40] theister commented on #18501
We came across the same problem, but on `2.0.2`.

We recently migrated from 1.10.15 and we're also regularly doing backfills by clearing history via the UI and making the airflow catchup re-run them, which puts 100s of dag runs to `running` state.
While the reprocessing the data eventually succeeded, it completely starved out all other dags in the meanwhile, printing many lines of
`DAG XYZ already

[2021-11-12 16:42] AlekseiSaff commented on #19559
MariaDB 10.5.11
Let me check 2.2.2rc2

[2021-11-12 16:45] dstandish commented on #18501
@theister  re

There _are_ still a few issues with 2.2.0; I think that you're going to want to go straight to 2.2.2, and there's an RC available to try:
```pip install 'apache-airflow==2.2.2rc2'```

[2021-11-12 17:02] theister commented on #18501
Well, I actually meant the latest release in the `2.2.*` line, I didn't check what the latest one was.

I'll see if I can find a way to reproduce the behaviour on a local setup on our current images next week, that will also help triaging if it's fixed on the latest stable 2.2.1 or RCs of 2.2.2.

[2021-11-12 17:08] AlekseiSaff commented on #19559
2.2.2rc2 works, but I'm going to rollback to 2.1.4

[2021-11-12 17:57] nediGit commented on #19556
Sure, selecting List Users
![image](https://user-images.githubusercontent.com/29753976/141512709-2790d0f4-da48-403f-b19e-777ba5ae7df7.png)

And the error:

Something bad has happened.
Please consider letting us know by creating a bug report using GitHub.

Python version: 3.6.8
Airflow version: 2.1.2
Node: robots-kube003.nosis.interno
----------------------------------------------------------------

[2021-11-12 18:39] lshw42 opened #19564 "`KubernetesExecutor` can't use custom image registry"
### Apache Airflow version

2.1.4

### Operating System

Debian

### Versions of Apache Airflow Providers

apache-airflow==2.1.4
apache-airflow-providers-amazon==2.2.0
apache-airflow-providers-celery==2.0.0
apache-airflow-providers-cncf-kubernetes==2.0.2
apache-airflow-providers-docker==2.1.1
apache-airflow-providers-elasticsearch==2.0.3
apache-airflow-providers-ftp==2.0.1
apache-airflow-providers

[2021-11-12 19:26] #18009 closed

[2021-11-12 19:26] #13242 closed

[2021-11-12 19:27] #16112 closed

[2021-11-12 19:27] #17717 closed

[2021-11-12 19:28] #17148 closed

[2021-11-12 19:57] bbovenzi commented on #16824
I believe this is now fixed by #18675

[2021-11-12 19:57] #16824 closed

[2021-11-12 21:01] bbovenzi commented on #18632
@peloyeje do you still want to take this on or should I finish this out? Quite a bit changed with #18675

[2021-11-12 21:02] karakanb opened #19566 "Breeze - The CSS and JS files are not built"
### Describe the issue with documentation

I followed the documentation about running Breeze to develop locally. I have set up the database properly, and all the containers are properly starting with Breeze. I am on a Macbook Pro 13-inch, 2020. This machine has 16GB RAM, and I have allocated 6GB RAM and 3CPUs to the Docker VM. I am using Docker for all my development work, so I am familiar with it

[2021-11-12 21:12] ryanahamilton commented on #18587
Yeah [the `nodeSep` value](https://github.com/astronomer/airflow/blob/3bfb2312043e51cca4c75ce03fdce25b6a647d35/airflow/www/templates/airflow/graph.html#L162) was doubled from `15` to `30` to prevent overlapping of nodes and edges. I suppose we could test a smaller number in between?

[2021-11-12 22:54] mik-laj commented on #19564
Duplicate: https://github.com/apache/airflow/issues/10605

[2021-11-12 22:54] #19564 closed

[2021-11-12 22:59] mik-laj commented on #19548
As I can see in the code, this operator checks the path to DAG File in the database and only loads one file. I don't know what you would like to optimize here
https://github.com/apache/airflow/blob/37a12e9c278209d7e8ea914012a31a91a6c6ccff/airflow/api/common/experimental/trigger_dag.py#L117

[2021-11-12 23:49] kaxil commented on #19566
I think this error / delay is common among Mac users.

If this happens, I have generally run `./airflow/www/compile_assets.sh` from the repo root. See if that works for you.

[2021-11-12 23:50] kaxil commented on #19559
I am going to close this since it is solved in 2.2.2rc2 which will be released on Monday.

[2021-11-12 23:50] #19559 closed

[2021-11-12 23:57] kaxil commented on #11618
Yup, just add a feature to add `log_sql` kwarg to `DbApiHook` and then https://github.com/apache/airflow/pull/18718 should help in passing this kwargs to hook so that we don't need to add it to all Operators or just `BaseSQLOperator`

[2021-11-13 00:08] sebbASF opened #19567 "Provider installer pages link to incorrect page"
### Describe the issue with documentation

https://airflow.apache.org/docs/apache-airflow-providers-airbyte/stable/installing-providers-from-sources.html has the following text:

"The packages are available via the Official Apache Software Foundations Downloads"

This links to http://ws.apache.org/mirrors.cgi which is not a valid download page, and anyway it belongs to the Web Services project.

I

[2021-11-13 00:43] jorenby opened #19568 "Error running worker after upgrade to 2.2"
### Apache Airflow version

2.2.1 (latest released)

### Operating System

Linux

### Versions of Apache Airflow Providers

apache_airflow_providers_amazon-1.4.0-py3-none-any
apache_airflow_providers_ftp-2.0.1-py3-none-any
apache_airflow_providers_http-2.0.1-py3-none-any
apache_airflow_providers_imap-2.0.1-py3-none-any
apache_airflow_providers_postgres-1.0.2-py3-none-any
apache_airflow_providers_s

[2021-11-13 01:29] artik00 commented on #17255
Any idea since when this was broken?

[2021-11-13 01:32] karakanb commented on #19566
I already ran it, both from within the container and outside of it, although nothing changed.

[2021-11-13 03:07] huxuan opened #19569 "The latest docker image is not the "latest""
### Apache Airflow version

2.2.1 (latest released)

### Operating System

N/A

### Versions of Apache Airflow Providers

_No response_

### Deployment

Other Docker-based deployment

### Deployment details

_No response_

### What happened

The image tags with `latest` and `latest-python3.X` is either release two months ago or even 5 months ago.

https://hub.docker.com/r/apache/airflow/tags?name=

[2021-11-13 05:40] david30907d opened #19570 "get_records() don't work out for BigQueryHook"
### Apache Airflow Provider(s)

google

### Versions of Apache Airflow Providers

`apache-airflow-providers-google          4.0.0`

### Apache Airflow version

2.1.2

### Operating System

PRETTY_NAME="Debian GNU/Linux 10 (buster)" NAME="Debian GNU/Linux" VERSION_ID="10" VERSION="10 (buster)" VERSION_CODENAME=buster ID=debian HOME_URL="https://www.debian.org/" SUPPORT_URL="https://www.debian.org/s

[2021-11-13 07:52] potiuk commented on #19569
Good. Spot. I fixed it now in the repo. I will update the process of releasing to include refresh of the latest images as it was missing!

[2021-11-13 08:03] potiuk commented on #19569
Ah - actually it WAS there but was not followed (even by mysefl) so I have to see how we can make it more difficult to skip:

[code]

[2021-11-13 08:59] huxuan commented on #19569
@potiuk Really appreciate for the quick response. I am new to airflow community, this makes me more confident about promoting airflow to my team. Just wondering the release of airflow is still done manually? Though I know airflow is quite a complex (and mature) project, I was thought the release process should be done by something like Github Actions. Please feel free to point out if I misundersta

[2021-11-13 09:03] mik-laj commented on #19569
Yes. This applies to all Apache releases.

[2021-11-13 09:10] huxuan commented on #19569
@mik-laj Thanks for the quick and clear explanation! That makes sense. Looking forward to have more communication with airflow community!

[2021-11-13 11:42] potiuk commented on #19569
Yep. Releasing via GitHub actions is far too vulnerable to injecting malicious code

[2021-11-13 11:47] potiuk commented on #19569
But all the steps of releasing including building packages. Building images etc. are actually done in GitHub actions basically after every pull request. We even publish CI mages automatically (you can see main  and branch images in ghcr.io published fully automatically. Even more we automatically bump dependencies of airflow during the CI build after every successful merge build so that latest com

[2021-11-13 12:29] huxuan commented on #19569
@potiuk That just seems to be the good and bad for both manual and automatic processing. Anyway, thanks for the detailed clarification!

[2021-11-13 16:20] potiuk commented on #19569
Yeah - the solution is really to semi-automate in a smart way. The fix I came up with in #19573 improves it in the way that it detects whethere we are (semi-automatically) releasing RC or "final image" and then asks a question if the "latest" tag shoudl be applied (latest should not be applied if we release a patch-level fix in an old branch - in case we ever do so).

This way we should have far l

[2021-11-13 17:02] peter0083 commented on #10742
status update:
- Haven't forgotten this issue 🐌. I'm still working D205 and would like to ask if there is an automated way to apply all the changes. If not, I will probably switch from my MacBook Air to my Linux which is more powerful which I hope can reduce the wait time when it goes through the pre-commit checks.

many thanks!

[2021-11-13 17:14] subkanthi commented on #19489
I can add a quick fix for this.

[2021-11-13 17:28] potiuk commented on #19566
Hello @karakanb - thanks for that very detailed description. There are probably about 10 issues specified in this one entry, so it's next to impossible to do any reasonable action with it. However let me try and have a proposal:

Airflow has >1800 contributors and many areas (the guides including) are created by many of them. We continuously improve it and actually the best way to contribution wor

[2021-11-13 17:33] potiuk commented on #19566
One more thing I missed:

Excellent Idea! PR please!

[2021-11-13 17:33] potiuk commented on #19566
One more thing I missed:

Excellent Idea! PR please!

[2021-11-13 17:57] potiuk commented on #19567
I disagree with that assessment. This has been deliberately added there as a way to promote ASF/Downloads mechanism. It's not only a downoad page but also educational content to teach people about the ASF and the mechanism it uses. The page is ideally placed there - it explains people the purpose, of the page, explains that they also can install Airlfow using PyPI (as convenience packages) and whe

[2021-11-13 17:57] #19567 closed

[2021-11-13 19:34] karakanb commented on #19566
Hi @potiuk, thanks a lot for getting back to me, I really appreciate the detailed response. Once I figure out how to fix some of the issues on my own local and make sure I have a functioning environment I'd love to contribute back in the form of documentation. I will keep all your suggestions in mind and will have small PRs, which should be easier to review and align on hopefully.

About the speci

[2021-11-13 20:24] potiuk commented on #19566
Autem let's treat it as 'umbrella issue' and simply mention 'Relafed to: #pr_number'

[2021-11-13 20:30] uranusjr commented on #10742
Maybe try [docformatter](https://pypi.org/project/docformatter/)? You’d probably want to do this in small batches, maybe even one file at a time, to see how well it works.

[2021-11-13 22:33] captainCapitalism commented on #17255
@artik00 All versions from 2.0.0 were affected. The relevant code was rewritten.

[2021-11-13 23:18] barskern opened #19578 "Custom timetable causes crash using airflow test"
### Apache Airflow version

2.2.1 (latest released)

### Operating System

Arch Linux

### Versions of Apache Airflow Providers

None relevant

### Deployment

Virtualenv installation

### Deployment details

A local installation for development purposes.

### What happened

Following the tutorial for custom timetable (https://airflow.apache.org/docs/apache-airflow/stable/howto/timetable.html) cau

[2021-11-14 00:06] #18297 closed

[2021-11-14 00:06] #17473 closed

[2021-11-14 12:15] jplauri opened #19581 "Miscellaneous documentation typos"
### Describe the issue with documentation

Recently starting our with Airflow I've been reading parts of the documentations quite carefully. There's at least two typos that could be fixed. First, looking at [Module management](https://airflow.apache.org/docs/apache-airflow/stable/modules_management.html) I see:  "You can see the `.ariflowignore` file at the root of your folder." I'm rather confuse

[2021-11-14 12:28] uranusjr commented on #19581
Feel free to submit the PR!

The GenericTransfer documentation is automatically generated from Python docstrings with [Sphinx Autodoc](https://www.sphinx-doc.org/en/master/usage/extensions/autodoc.html). The actual line is in `airflow/operators/generic_transfer.py`.

[2021-11-14 12:38] lshw42 commented on #10605
@ZackingIt
Where exactly did you put the configuration? When I put the `PodDefaults.SIDECAR_CONTAINER.image` (as mentioned several times here and everywhere else) into the `values.yaml` it is just used by the helm chart. But I can't figure out where to put the `airflow_local_settings.py` to configure the worker pod image pulled by the `KubernetesExecutor`. I even can't build a Docker image with Ai

[2021-11-14 19:13] peter0083 commented on #10742
sounds good. I will give `docformatter` a shot. thank you for the tips. @uranusjr. 🙏

[2021-11-14 20:29] potiuk commented on #19558
Tested #19255 - works fine:
[code]

Also #19453:

![image](https://user-images.githubusercontent.com/595491/141697506-a0827568-eb29-4cdd-b045-31e1d034640e.png)

[2021-11-14 20:49] potiuk commented on #19489
Quite agree - also "common" code between Postgres and MySQL would have to leave in "core" which will add extra dependency between both providers and airflow version (unnecessarily)

[2021-11-14 20:56] #17898 closed

[2021-11-14 21:30] potiuk commented on #19568
This is a  celery incompatibility issue. Airflow 2.1.4 used celery 4 and 2.2.1 uses celery 5 and you seem to have still celery 4.

You know that you should install airflow with the right constraints https://airflow.apache.org/docs/apache-airflow/stable/installation/installing-from-pypi.html ?

[2021-11-14 21:30] #19568 closed

[2021-11-14 23:26] potiuk commented on #17010
To be honest it does not seem as bad when it comes to a "size" of change.

There are not that many places where trigger_rule is used (< 80 cases from a quick look) - so changing the rules to those rules would be possible.

However I am not sure if that is needed. Maybe just the name of the rule should be changed (NONE_FAILED_OR_SKIPPED -> WAIT_FOR_ALL_AND_ONE_SUCCESS - it could could even be an al

[2021-11-15 00:04] potiuk commented on #19535
I think this is something with your tasks. Looks like they simply are hanging while doing whatever they are doing - so they are not "stuck" but they are simply "running". I think you need to take a close look at your tasks and see whether they are not doing something you do not expect them to do - for example, not closing a connection and waiting, etc.

Or maybe they are not starting at all but wa

[2021-11-15 00:04] #19535 closed

[2021-11-15 00:08] potiuk commented on #19369
Sounds like an interesting edge case and rather simple to debug and track - would you lke maybe to make a PR with a fix for it @raphaelauv ?

[2021-11-15 00:15] potiuk commented on #19490
Assigned you the issue!

[2021-11-15 00:30] potiuk commented on #19217
I do not follow. Can you provide specific example of what you cannot do via _CMD or _SECRET ?

[2021-11-15 00:51] GagandeepS commented on #19548
So we have a use case where multiple dynamic dags are getting added to the dagbag and I believe there will always be a latency between dropping a new dag into the dagbag folder and operator checking if the path/record of that new dag exists in the table or not using trigger_dag.

So, to let scheduler take as much time it needs to insert the record into the table, we trigger the new dag and
check i

[2021-11-15 06:40] uranusjr commented on #19556
Hmm, this very much looks like a Flask-Appbuilder bug. Unfortunately the last four stacks (the `rich` part) is masking the real error here, it raises an exception when trying to write the actual error. Not sure if there’s a way to disable Rich so we can get the actual problem.

[2021-11-15 06:41] uranusjr commented on #19556
@willmcgugan Do you happen to know what would cause the `OSError: [Errno 5] Input/output error` exception to be reached so maybe we can fix that first?

[2021-11-15 07:59] uranusjr commented on #18080
Does anyone happen to know if this is a recent regression? The `-= 1` line referenced above is over three years old, so if this is a recent bug, it should likely be fixed elsewhere.

[2021-11-15 08:37] iAmGhost opened #19589 "Unable to enable ingress on Kubernetes 1.22"
### Official Helm Chart version

~main (development)~
1.3.0 (latest released)

Note: I've put this manually since there were no `1.3.0` choice on issue template even it's released.

### Apache Airflow version

2.2.1 (latest released)

### Kubernetes Version

v1.22.3-3+9ec7c40ec93c73 (microk8s)

### Helm Chart configuration

_No response_

### Docker Image customisations

_No response_

### What ha

[2021-11-15 09:29] uranusjr commented on #10921
Note that `async=False` won’t work since `async` is now a keyword. Given the particular feature request here, `nowait=True` is probably a better argument name. The intention is not to actually make the operator itself work asynchronously (that’s #18999), but to _allow making asynchronous interaction with Databricks_ by not waiting for completion to end the task.

[2021-11-15 09:30] mik-laj commented on #19589
Can you please specify what version of Kubernetes do you have? To do it, you can use [`kubectl version`](https://jamesdefabia.github.io/docs/user-guide/kubectl/kubectl_version/) command. Some Kubernetes distributions use a non-standard version format that can cause parsing problems.
https://github.com/apache/airflow/blob/73044af1c6908d1b075bd0127bc56c1db82b564b/chart/templates/_helpers.yaml#L604-L

[2021-11-15 09:32] iAmGhost commented on #19589
I'm using microk8s on Ubuntu 20.04.3 Server, here's output of `kubectl version`

    $ microk8s kubectl version
    Client Version: version.Info{Major:"1", Minor:"22+", GitVersion:"v1.22.3-3+9ec7c40ec93c73", GitCommit:"9ec7c40ec93c73c2281bdd2e4a75baf6247366a0", GitTreeState:"clean", BuildDate:"2021-11-03T10:20:42Z", GoVersion:"go1.16.9", Compiler:"gc", Platform:"linux/amd64"}
    Server Version: v

[2021-11-15 10:14] romainfage commented on #19329
Hello all!

When looking at the issue and logs, We may have understood why the task is set to `upstream_failed` whereas the task is retrying. (we are using Airflow 2.1.3)

We are getting this logs inside our scheduler:

[code]

Our understanding is (as demonstrate @sweco), that K8S executors try to finished the pod that is not launched yet (maybe a timeout of any kind, I cannot currently pin point

[2021-11-15 10:35] potiuk commented on #19589
Kubernetes 1.22 is not yet supported. We are adding 1.21 support in https://github.com/apache/airflow/pull/19557#event-5617189224 but 1.22 has not been even looked at yet.

[2021-11-15 10:35] #19589 closed

[2021-11-15 10:36] potiuk commented on #19589
See https://github.com/apache/airflow/blob/main/README.md#requirements for the requirements of ours

[2021-11-15 11:29] uranusjr commented on #19500
What should happen if a task misses SLA in one scheduler but was picked up by another? Or is this scenario impossible?

[2021-11-15 11:37] iAmGhost commented on #19589
I was confused since [Apache Airflow Helm Chart](https://airflow.apache.org/docs/helm-chart/stable/index.html) only mentions Kubernetes 1.14+ cluster but not specific version.
Anyway thank you so much for support, I'll try lowering my cluster.

[2021-11-15 12:04] LeandroDoldan commented on #10604
Facing it as well on Airflow 2.1.4

[2021-11-15 14:15] lostkamp commented on #18599
Hello,
I'm willing to work on this. Would be my first contribution though, so I might need some guidance.

[2021-11-15 14:52] Nazarii opened #19594 "EmailOperator is not compatible with the SendGrid backend when hosted on MWAA."
### Description

Modify the SendGrid to use `from_email` from the `AIRFLOW__SMTP__SMTP_MAIL_FROM` section.

### Use case/motivation

When we use the `EmailOperator` we can not specify the `email_from` param.
When using the `email_backend = airflow.providers.sendgrid.utils.emailer.send_email` it is impossible to send the email on the MWAA since SendGrid policy requires to specify the sender email a

[2021-11-15 14:58] uranusjr commented on #19594
This sounds like something MWAA should handle instead? Airflow does not know it is being hosted on MWAA, only MWAA knows it’s hosting Airflow.

[2021-11-15 15:02] edjeffery commented on #14529
+1 would really love to see this feature!

[2021-11-15 15:04] gcristian commented on #10026
I'm facing the same error on Airflow 2.1.3, to which I arrive looking for a solution on zombie detection mechanism just killing non-sense trivial tasks at any random time, so I cannot try 2.1.2, already tried increasing frequency on heartbeat config for both workers and scheduler. Trivial DAGs with linear workflow, no parallel tasks. Any DAG, with no particular configuration.
I think **probably th

[2021-11-15 15:11] Nazarii commented on #19594
@uranusjr I don't think this is smth to fixed on the MWAA, sengrid provider should follow the similar flow defined in `EmailOperator`:

1. When sending emails with `EmailOperator` we do not specify the sender email address. This address will be taken from the `AIRFLOW__SMTP__SMTP_MAIL_FROM` setting.
2. Sending an email with the SendGrid provider as a backend requires setting up the `SENDGRID_MAIL_

[2021-11-15 15:34] uranusjr commented on #19594
If the problem is speficically about using something other than `SENDGRID_MAIL_FROM`, 2.3.0 will introduce a `AIRFLOW__EMAIL__FROM_EMAIL` that covers this usage. Note that the SMTP configuration is not used because, well, Sendgrid is not SMTP.

Closing as the usage is already fixed from Airflow’s perspective. Whether `AIRFLOW__EMAIL__FROM_EMAIL` will be available on MWAA when they make 2.3.0 avail

[2021-11-15 15:34] #19594 closed

[2021-11-15 16:38] Nazarii commented on #19594
Looks good, `AIRFLOW__EMAIL__FROM_EMAIL` will cover this. Thank you.

[2021-11-15 18:44] gauravguptabits opened #19602 "Spark Operator not working in Airflow Standalone version 2.2.1"
### Apache Airflow version

2.2.1 (latest released)

### Operating System

Ubuntu

### Versions of Apache Airflow Providers

Apache Web UI is unable to load the dag file.

Logs:

[code]

DAG file
[code]

### Deployment

Virtualenv installation

### Deployment details

I have installed via pip in Anaconda environment.

### What happened

After defining dag file, web ui of airflow is popping up an e

[2021-11-15 20:35] #19558 closed

[2021-11-15 20:38] mik-laj commented on #19602
To use apache spark operators, you need to install an apache spark provider.  See: http://airflow.apache.org/docs/apache-airflow-providers-apache-spark/stable/index.html and http://airflow.apache.org/docs/apache-airflow/stable/installation/installing-from-pypi.html

[2021-11-15 20:38] #19602 closed

[2021-11-15 20:44] mnojek commented on #19558
Is help still needed since 2.2.2rc2 was already released and this issue closed?

[2021-11-15 20:45] kurtqq commented on #15933
hi @potiuk @dstandish is this planned?
i can help with some of the semi automated work mentioned.

[2021-11-15 21:05] pohek321 commented on #19357
@alexott sorry for the late response. I'm not sure I understand your question. I'd expect to get the current state of a Databricks job run. In my mind, the task should just return a string that is parsed from the json response. That's what the other methods do. Maybe just return the `state_message` variable defined on 414 instead of `RunState`? Maybe I'm not understanding what the the purpose of `

[2021-11-15 21:09] alexott commented on #19357
State encodes multiple things - it’s could be running, failed, successful. But for example, failed may have different reasons for failure. Are you interested in state - running/failed/successful or more detailed information?

[2021-11-15 21:22] pohek321 commented on #19357
Yeah, I think anything would be better than it returning an error message. I was thinking just a running/failed/successful with the details appended to it.

[2021-11-15 21:25] pohek321 commented on #19357
Just realized that the run state is returned in the Airflow logs, but the task is failing no matter what. In the logs, I do see this message:

`ERROR - Could not serialize the XCom value into JSON. If you are using pickle instead of JSON for XCom, then you need to enable pickle support for XCom in your airflow config.`

and the actual failure message

`TypeError: Object of type RunState is not JSO

[2021-11-15 21:29] alexott commented on #19357
It’s a bit complicated from my point of view - JSON serialization a bit hardcoded in airflow, it could be a big change to make it extensible. On other side we can add a method to return a string instead of object

[2021-11-15 21:34] #19569 closed

[2021-11-15 21:35] #11913 closed

[2021-11-15 21:39] #16911 closed

[2021-11-15 21:41] #19204 closed

[2021-11-15 21:45] pohek321 commented on #19357
@alexott I was able to resolve the issue by adding this to my Airflow environment variables:

`AIRFLOW__CORE__ENABLE_XCOM_PICKLING=TRUE`

However, this isn't very intuitive for users calling the method from this hook. May be worthwhile to make a comment like the following:

`Any Airflow tasks that call the get_run_state method will result in failure unless you have enabled xcom pickling. This can

[2021-11-15 21:47] alexott commented on #19357
It’s good suggestion, but maybe we can just have a separate method for ir

[2021-11-15 21:55] potiuk commented on #19558
Too late this time. We do not aim for 100% ,but any help with testing BEFORE the release is cool as it might save another patch release (good for the future)

[2021-11-15 22:10] potiuk commented on #15933
No - not planned maybe you would like to take a lead on it and itntroduce it simply (though it will likely mean quite some thinking on how to do backwards compatibility).

[2021-11-15 22:51] pohek321 commented on #19357
@alexott what about adding something like this to the `databricks.py` where the hook lives:

    """
    Please note that any Airflow tasks that call the `get_run_state` method will result in failure unless you have enabled
    xcom pickling. This can be done using the following environment variable: AIRLFOW_CORE_ENABLE_XCOM_PICKLING=TRUE

    If you do not want to enable xcom pickling then use th

[2021-11-16 00:24] #18632 closed

[2021-11-16 02:40] huxuan commented on #19569
Thanks @potiuk for your work. I also notice that the docker hub is already updated. That is great since we are going to kick off the official deploy process in my team today!

[2021-11-16 02:42] ferruzzi commented on #14396
As a starting point, I've moved `Context` and two helper methods into their own module.  It took some shenanigans to get around the TaskInstance/Context/BaseOperator circular import, and **THIS DOES NOT BUILD** but how do we feel about the general direction it's going?

https://github.com/ferruzzi/airflow/commit/4c86dbbab968a09386d09380a80650b5383bf5e4

[2021-11-16 03:22] uranusjr commented on #14396
Looks good to me in general. I think you can avoid a lot of the workarounds by keeping `get_template_context` on `TaskInstance` instead of making it a standalone function. That function always needs to be called with a TaskInstance anyway.

[2021-11-16 06:34] uranusjr commented on #15933
To be more specific, backward compatibility should be _conceptually_ simple—we just need to keep publishing an aggregated Google provider that depends on all the Google providers—but building an infrastructure to build this aggregated provider can be more challenging.

[2021-11-16 07:39] Greetlist opened #19612 "Clearing a defered task instance in deferred state does not clear its next_method"
### Apache Airflow version

2.2.1

### Operating System

Ubuntu 16.04

### Versions of Apache Airflow Providers

_No response_

### Deployment

Other

### Deployment details

_No response_

### What happened

When I mark a defferd task to Failed-State then clear it or clear a defferd task which in Defferd-State, this task is marked success immediately.
I check the task instance table, this task's

[2021-11-16 07:42] alexott commented on #19357
yes, that's why I'm asking on how you're planning to use it. Looks like just for reporting. I'll look on how to implement it's better, because other people could be interested in just `life_cycle_state` part if you need to make decision if pipeline is in `FAILED` state, etc.

[2021-11-16 07:51] vietvudanh commented on #9299
I do not use xcom for data exchange but still get this error. It is because the key `return_value` of my BashOperator's output is too big; over 65,535 bytes.
This is kind of annoying, is there config where airflow can just truncate the output to the max value, before inserting into database?

[2021-11-16 07:52] KulykDmytro opened #19613 "Can't open task log from Gantt view"
### Apache Airflow version

2.2.1

### Operating System

Linux 5.4.149-73.259.amzn2.x86_64

### Versions of Apache Airflow Providers

default for 2.2.1

### Deployment

Other 3rd-party Helm chart

### Deployment details

aws eks using own-developed helm chart

### What happened

When trying to open log from gantt view - receiving an exception
[code]

due to incorrect query parameter push: no value

[2021-11-16 07:53] potiuk commented on #19569
I recommend using 'versioned' images though :). You always have to run migration when you switch so this should be a conscious effort rather than accidental upgrade.

[2021-11-16 07:54] potiuk commented on #19569
And credit for tonight upload goes to @kaxil actually ;)

[2021-11-16 08:04] potiuk commented on #15933
In general yes, but there are a few watch outs there - first of all most Google Providers depends on the common code - Base Hooks, common decorators, utils. And this means that there should also be a a 'google-common' package most likely and then there is a complexity of version dependencies between all those. When you take into account all the scenarios With various versions o those and potential

[2021-11-16 08:12] potiuk commented on #9299
It's the problem with your Bash script. By default Bash operator will store LAST LINE of your output to XCom: see the documentation http://airflow.apache.org/docs/apache-airflow/stable/_api/airflow/operators/bash/index.html#module-airflow.operators.bash

If your Bash prints 65k last line then yes, this is the problem you will get at.

[2021-11-16 08:57] huxuan commented on #19569
Gotcha, thanks for the notes! And thanks for everyone make this happen (so fast than I expected).

[2021-11-16 09:54] vietvudanh commented on #9299
I have read the source code for [1.10](http://airflow.apache.org/docs/apache-airflow/1.10.12/_modules/airflow/operators/bash_operator.html#BashOperator.execute) and [latest](https://airflow.apache.org/docs/apache-airflow/stable/_modules/airflow/operators/bash.html#BashOperator.execute)

it looks like the `return last line` is only correct for version `1`, not `2` (I am using `v2.1.1`)

[2021-11-16 10:13] eladkal commented on #15933
@potiuk I would say that common should not change that often and if it does it probably won't add additional dependencies- it's mostly code that you already need for the service it's just being used by another service so it's in a higher hierarchy. Why can't the provider always work with the latest common version ?

[2021-11-16 10:21] SohailChamadia-everestek commented on #19217
The _SECRET specifically looks for airflow/config/sql_alchemy_conn in AWS secrets manager where the value needs to be postgresql+psycopg2://<user>@<database> like connection string instead of separate parameters like username, password, dbinstance, etc.
Having a plain connection string causes issue in maintenance as well as rotation after specific interval of time

[2021-11-16 11:31] potiuk commented on #15933
I think *should* is the key problem here. The initial split is quite easy, but what would happen after few releases is scary like hell. "Keep backwards compatibiliity of commons" in this case is quite a bit of wishful thinking and tt's far easier said than done and it requires constant vigiliance and fixes of accidental incompatibilities that will eventually creeps-in leading to uncontrollable gro

[2021-11-16 11:49] potiuk commented on #15933
And just one comment here:

It also depends on the "Extent" of the split of course. If we are talking for example about extracting the "plyvel" out of Google provider - by all means. Adding Plyvel to google provider  was simply a mistake - it does not use any common code and conceptually it is very different than other integrations.
Possibly same could be done to extract "ads" - they also use very

[2021-11-16 12:14] matasejem commented on #16176
@kaxil, i am receiving similar err (see below) - wonder if i should also try the above commands relating to 1.3.0rc1, or whether it requires different kind of fix - thanks.

`PS C:\Windows\System32> helm install airflow apache-airflow/airflow --namespace airflow --debug --timeout 10m0s
install.go:178: [debug] Original chart version: ""
install.go:199: [debug] CHART PATH: C:\Users\MARTIN~1\AppData\

[2021-11-16 12:19] eladkal commented on #15933
To my perspective it's not the same case as compatibility issue with Airflow core (like the dbApi hook)
Even now we have providers that has dependencies between each other - Postgres and AWS (for redshift), any transfer operator between two providers etc.. The problem that you are worried about indeed needs attention but I'm happy with providing the answer "keep it aligned and up to date".

I chec

[2021-11-16 12:42] LeXy0623 commented on #14352
Hi, I have same log sympton at the Task log (I didn't check the worker log, yet).
What is interesting is that it happens only 1-3 tasks per 500 daily and always changing when and where it happens but for me it is only BigQueryOperators which are afftected.
It is Composer composer-1.17.0-preview.3-airflow-2.0.1

[2021-11-16 12:57] potiuk commented on #15933
I hope I am not exaggerating, but my experience tells me different story (but maybe, of course when handled differently it can be made simple). It's just I've seen what happened with provider split and how much after the split it took to sort out all the various cases/incompatibilities and cross-version problems (and build processes around maintaining those).

But if there is someone who would lik

[2021-11-16 13:17] easontm commented on #19581
Hi @jplauri, could you include this doc change into your PR as well?

In `airflow/airflow/www/templates/airflow/dags.html`, line 61:
[code]
to
[code]

[2021-11-16 13:31] potiuk commented on #15933
Just to comment on that part - those cross-provider dependencies are (I believe) way simpler. They use very stable (by definition) APIs that are shared between providers now (Hooks). That's about it. And we already had 1 case where there was a breaking change which required to document it in the changelog, add cross-provider-versioned-dependency with quite some communication overhead.

What we are

[2021-11-16 13:39] potiuk commented on #9299
[code]

[code]

[2021-11-16 14:48] potiuk commented on #19217
[code]

[2021-11-16 14:49] potiuk commented on #19217
It can also be a python script, or whatever script you want BTW.

[2021-11-16 14:53] AnithaG-Oak opened #19618 "Execution_date not rendering after airflow upgrade"
### Apache Airflow version

2.2.2 (latest released)

### Operating System

Debian GNU/Linux

### Versions of Apache Airflow Providers

apache-airflow-providers-amazon==2.3.0
apache-airflow-providers-apache-spark==2.0.1
apache-airflow-providers-cncf-kubernetes==2.1.0
apache-airflow-providers-ftp==2.0.1
apache-airflow-providers-http==2.0.1
apache-airflow-providers-imap==2.0.1
apache-airflow-provider

[2021-11-16 14:55] potiuk commented on #19581
@easontm - it's equally easy to submit your onw change. Just use "Suggest a change on this page" button at bottom-right of the page and it will open a PR for you that you will be able to submit using GitHub UI - as easy as commenting on the issue.

[2021-11-16 15:52] uranusjr commented on #19618
Please provide a DAG for reproduction.

[2021-11-16 16:09] vapiravfif opened #19622 "Tasks get stuck in "scheduled" state and starved when dags with huge amount of tasks is scheduled"
### Apache Airflow version

2.0.2

### Operating System

amzn linux

### Versions of Apache Airflow Providers

_No response_

### Deployment

Official Apache Airflow Helm Chart

### Deployment details

AIRFLOW__CORE__PARALLELISM: "128"
worker_concurrency: 32
2 Celery workers
MySQL 8.0.23 RDS as a DB backend

### What happened

* Tasks get stuck in "scheduled" state for hours, in task details it sa

[2021-11-16 16:48] AnithaG-Oak commented on #19618
[code]

[2021-11-16 16:49] AnithaG-Oak commented on #19618
Any spark job would do to reproduce this issue since the DAG fails before triggering the job

[2021-11-16 16:58] AnithaG-Oak commented on #19618
It creates a SparkSubmitOperator. I have updated the example

[2021-11-16 17:03] uranusjr opened #19625 "Deprecate template variables ts etc. and change the default log_filename_template"
### Body

Context: https://github.com/apache/airflow/issues/19058#issuecomment-947023469

Note that changing the default `log_filename_template` have a lot of backward compatibility implications, and the solution needs to be cheap enough. Not a trivial job.

### Committer

- [X] I acknowledge that I am a maintainer/committer of the Apache Airflow project.

[2021-11-16 17:03] uranusjr commented on #19058
Tracking the rest of the work in #19625.

[2021-11-16 17:03] #19058 closed

[2021-11-16 17:03] potiuk commented on #19618
OK. Now we need to know what `spark_args()` does as well.

[2021-11-16 17:04] yiga2 commented on #19538
Probably a different issue or a feature request but can `multiple_outputs` not be available on any (all?) operators that could return a `dict` e.g. pseudo-code
[code]
x-post: https://apache-airflow.slack.com/archives/CCPRP7943/p1637081028345300

[2021-11-16 17:09] bbovenzi commented on #19613
You're navigating to logs via this modal, right? If so, does the execution exist in the modal header like the screenshot below?

<img width="588" alt="Screen Shot 2021-11-16 at 11 08 49 AM" src="https://user-images.githubusercontent.com/4600967/142032119-0db919fd-ac31-41ed-96c6-373b37982950.png">

[2021-11-16 17:15] AnithaG-Oak commented on #19618
ah mb.. it creates application_args (List[String]) from args and kwargs arguments. Something like this

`def spark_args(*args, **kwargs) -> List[str]:
    arr = [a for a in args]
    for key, value in kwargs.items():
        arr += [f"--{key}", str(value)]
    return arr`

[2021-11-16 18:24] AnithaG-Oak commented on #19618
On a related note, noticed from the airflow doc that {{ execution_date }} is deprecated.
I see that {{ ts }} is equivalent to execution_date isoformat but this is a string type. Do we have an equivalent for execution_date in datetime type ?

[2021-11-16 18:25] potiuk commented on #19618
OK. Seems prety legit then. Hmm. Interesting - we converted the `execution_date` to be lazy-proxy object so essentially it should work in a backwards compatible way (correct @uranusjr ?).

I wonder what happen if you replace the execution_date with  ``dag_run.logical_date``  - see deprecated values here https://airflow.apache.org/docs/apache-airflow/stable/templates-ref.html?highlight=macros#varia

[2021-11-16 18:28] potiuk commented on #19618
AH I Know what the problem is. yes the `dag_run.logical_date` should work and I know what the problem is  @uranusjr

@uranusjr  - this is the "coerce_date" in following_schedule:

[code]

Here is `coerce_date`:

[code]

[2021-11-16 18:32] nshetty15 commented on #19566
@karakanb I'm seeing similar issues. Did you manage to fix this?

[2021-11-16 18:35] potiuk commented on #19618
Ah. I see the "@once" indeed you arre right.

[2021-11-16 18:36] potiuk commented on #19618
Different behaviour of `if execution_date.microsecond > 0` ?

[2021-11-16 18:40] potiuk commented on #19618
or maybe this did not return None before for @once schedule ?

[code]

[2021-11-16 18:41] potiuk commented on #19618
or even this which was before the timetables:

[code]

[2021-11-16 18:41] uranusjr commented on #19618
The lazy object proxy handles `microsecond` correctly:

[code]

But regardless of that, the template line doesn’t really make sense. Whether `execution_date.microsecond > 0` is entirely context-dependant—if you run the DAG enough times you’d eventually get a case where `execution_date.microsecond == 0`—and when that happens, the line would fail unconditionally.

I’m inclined to categorise this as

[2021-11-16 18:43] uranusjr commented on #19618
Before the timetable implementation, `schedule_interval=@once` is normalised to `normalized_schedule_interval=None` internally. That does not match either branches. `DAG.following_schedule()` returns None regardless what you pass to it.

[2021-11-16 18:44] uranusjr commented on #19618
Closing since this is not a bug, everything is working as expected. The template accidentally works previously, and unfortunately breaks now. It’s still a bug in user code and can only be fixed by the user.

[2021-11-16 18:53] AnithaG-Oak commented on #19618
@potiuk  @uranusjr the @once is just one of the example DAGs here. This error is being seen in DAGs with schedule intervals as well

for example:

[code]

[2021-11-16 19:03] AnithaG-Oak commented on #19618
If schedule_interval is a valid case, is it coerce_date issue ?
Could you confirm if dag_run.logical_date would work for this ?

[2021-11-16 19:06] potiuk commented on #19566
@karakanb  @nshetty15 I reproduced the "static assets" case on a completely fresh install. The problem is that when you start it first without building the assets, the `webserver` in start-airflow will start before the assets are ready and will not re-read them again. I will fix it shortly but in order to fix the assets, you need to simply enter `breeze` once without the `start-airflow` and run th

[2021-11-16 19:17] potiuk commented on #19566
And with the next restarts there is a race condition - if the `yarn dev` build is not fast enough, webserver will start while the dist folder is still empty. I think runing yarn dev by default was a mistake.

[2021-11-16 19:18] AnithaG-Oak commented on #19618
When the DAGs are manually triggered(after a couple of runs), it renders the date. But in scheduled runs, it always fails returning None

[2021-11-16 19:39] potiuk commented on #19566
Fix to the "asset race condition" added in https://github.com/apache/airflow/issues/19566

[2021-11-16 19:43] potiuk commented on #19618
Can you try it pleaase? I cannot "confirm it" but if it works that will give us a clue to look further

[2021-11-16 19:52] AnithaG-Oak commented on #19618
dag_run.logical_date didn't work either
<img width="1780" alt="Screenshot 2021-11-17 at 1 20 45 AM" src="https://user-images.githubusercontent.com/78701588/142055827-b81115ff-0455-46cd-993d-df1ae30a0d68.png">
<img width="1780" alt="Screenshot 2021-11-17 at 1 21 11 AM" src="https://user-images.githubusercontent.com/78701588/142055844-94bb6d30-5a32-4d61-aead-15379d87c4cd.png">

[2021-11-16 20:58] freget opened #19627 "Providing a metadata secret conflicts with the use of pgbouncer"
### Official Helm Chart version

1.3.0 (latest released)

### Apache Airflow version

2.2.1

### Kubernetes Version

 1.20.9

### Helm Chart configuration

[code]

### Docker Image customisations

_No response_

### What happened

If  the airflow database connections are configured via a predefined secret (instead of setting `data.metadataConnection.*`) and using pbouncer at the same time (`pgboun

[2021-11-16 22:53] ferruzzi commented on #19372
Actually, it looks like this is sorted.  As of Airflow 2.0 there is an operator parameter to allow illegal arguments:  https://airflow.apache.org/docs/apache-airflow/stable/configurations-ref.html#allow-illegal-arguments

@andormarkus - my test environment is currently broken so I can't test it, but can you try adding `allow_illegal_argument = True` (or perhaps ALLOW_ILLEGAL_ARGUMENTS??) to the op

[2021-11-17 03:12] stephenonethree commented on #17507
It would be great if this could be tagged as a high priority issue. I have at least one job that has been broken due to this ever since I upgraded to Airflow 2 (straight to 2.1), and I'm not aware of any workaround.

[2021-11-17 04:38] chinwobble commented on #18074
We are facing the same issue.

Would be great if this could be fixed.

[2021-11-17 05:12] AnithaG-Oak commented on #19618
Narrowing down further, `dag.following_schedule(execution_date) ` returns null for scheduled sub dags only. Main dags return value

[2021-11-17 05:14] uranusjr commented on #19618
Oh I know what’s going on now. We’ve been looking at entirely wrong places.

The change that actually broke the logic is #16141. Previously, a manually-triggered run always have execution date set to `timezone.now()`, which has an approximately 99.9999% change to return a non-zero millisecond, so

[code]

is always evaluated to

[code]

which works.

But the calendar widget introduced iin the afor

[2021-11-17 05:22] AnithaG-Oak commented on #19618
One correction. `(execution_date if execution_date.microsecond > 0 else dag.following_schedule(execution_date)).isoformat()
`
fails for scheduled runs and not manual runs. **`dag.following_schedule(execution_date)` returns null for scheduled sub dags**

Even if we use` dag_run.run_type` to figure out the run type, what is the right way to get execution_date for scheduled runs ?

[2021-11-17 05:24] uranusjr commented on #19618
`execution_date` will still work until 3.0. `logical_date` is the new variable name (the value is the same). But by the fact you’re using `followin_schedule`, I suspect `data_interval_end` actually provides more suitable semantics for you use case.

[2021-11-17 05:57] uranusjr commented on #17507
Tagging an issue as high priority is not particularly meaningful since this largely only runs on volunteers, and you can’t just let volunteers prioritise your problem freely. You need to provide motivation (commercially or otherwise), or find someone whose priorities align with yours (e.g. yourself!)

[2021-11-17 05:57] easontm commented on #19581
Ah, the issue is not _in_ the docs themselves, rather the DAG list page which I don't think has that button. I'll make my own PR if I have the time

[2021-11-17 05:57] AnithaG-Oak commented on #19618
also this reasoning doesn't hold true for this issue since the error is seen for scheduled sub dags

[2021-11-17 07:24] aborigine commented on #19342
I followed the merge code, but not fix this issue, the webserver still shows wrong datetime in log

[2021-11-17 07:33] eskarimov commented on #19171
Not sure how we should proceed with the issue - I've checked what I could, haven't found an issue in code so far and couldn't reproduce the issue either. The author of the issue hasn't replied on request for additional info yet

[2021-11-17 07:45] andormarkus commented on #19372
Hi @ferruzzi

None of them worked.

`allow_illegal_argument = True`
[code]

`AIRFLOW__OPERATORS__ALLOW_ILLEGAL_ARGUMENTS: 'true'`
I have requested `t3.large` got `t3.medium` and the AMI is off as well
<img width="1601" alt="Screen Shot 2021-11-17 at 08 41 43" src="https://user-images.githubusercontent.com/51825189/142156989-4b87756c-d7c1-45a7-ad9d-458427c1f0e7.png">

[2021-11-17 07:53] eskarimov commented on #18999
FYI just wanted to share that I'm still willing to introduce deferrable operators for Databricks, and working on the code.
Hope to create a PR later this week.
There're a couple of moments I'd like to discuss with someone more experienced than me, @chinwobble I'd be very happy if you review the code, will add you to the reviewers list if you don't mind.

Regarding the timeout - I've created a sepa

[2021-11-17 08:07] ajaymalikbol opened #19635 "Received SIGTERM. Terminating subprocesses (State of this instance has been externally set to success. Terminating instance.)"
### Apache Airflow version

2.0.2

### Operating System

PRETTY_NAME="Debian GNU/Linux 10 (buster)"
NAME="Debian GNU/Linux" VERSION_ID="10"
VERSION="10 (buster)"
VERSION_CODENAME=buster ID=debian
HOME_URL="https://www.debian.org/"
SUPPORT_URL="https://www.debian.org/support"
BUG_REPORT_URL="https://bugs.debian.org/"

### Versions of Apache Airflow Providers

apache-airflow-backport-providers-googl

[2021-11-17 08:43] uranusjr commented on #19612
Your added code makes sense. Feel free to start a pull request for this.

[2021-11-17 08:44] vietvudanh commented on #9299
Thank you, after looking into SubProcessHook I have realized the problem, it was indeed my script.

[2021-11-17 08:53] potiuk commented on #19635
I believe this has been fixed already in 2.1 and 2.2. There could be differen t reasons for that, but several of them have been fixed to address similar issues. Please upgrade to 2.2.2 and comment here if the issue still remains.

[2021-11-17 08:53] #19635 closed

[2021-11-17 08:54] potiuk commented on #19635
BTW. You are not supposed to have backport providers installed with Airflow 2.

[2021-11-17 09:06] potiuk commented on #19372
Don't set `allow_illegal_argumet" as parameter. just override it in airflow config.

It should work to set `AIRFLOW__OPERATORS__ALLOW_ILLEGAL_ARGUMENTS` should be set to `True` or update the `airflow.cfg'  to avoid the exception.

You can verify if it is properly set by exec into the container and running `airflow config list`

[2021-11-17 09:49] socar-grab commented on #19566
I have a same problem after pulling @potiuk 's merged commit.

I tried `./airflow/www/compile_assets.sh` in root directory and `./breeze start-airflow `

but I could show uncompleted page like below
![image](https://user-images.githubusercontent.com/83575607/142177343-e87ceb6b-3bdf-46b7-84ca-30f3279bd6f9.png)

[2021-11-17 09:55] kazanzhy opened #19638 "Resolve parameter name for SqlSensor, BaseSqlOperator, Connection"
### Apache Airflow version

2.2.2 (latest released)

### Operating System

Ubuntu

### Deployment

Virtualenv installation

### What happened

There are different names for the same keyword argument:
`BaseSqlOperator(hook_params)` - by PR https://github.com/apache/airflow/pull/18718
`Connection.get_hook(hook_kwargs)` - by PR https://github.com/apache/airflow/pull/18718
`SqlSensor(hook_params)` - b

[2021-11-17 09:56] uranusjr commented on #19566
I believe you need to run `compile_assets.sh` in the container, not outside.

[2021-11-17 09:58] potiuk commented on #19566
Well that page looks pretty complete. What's wrong with it?

[2021-11-17 10:03] potiuk commented on #19566
BTW. Both should work the same if you have the same node/yarn installed in host

[2021-11-17 10:03] karakanb commented on #19566
I think the box in the middle is supposed to be the JS-powered search bar, and when the JS doesn't load it looks like that plan HTML box.

[2021-11-17 10:07] potiuk commented on #19566
This is likely setting of your browser, not the asset compilation

[2021-11-17 10:08] andormarkus commented on #19372
Hi @potiuk

In the official docker-compose file I set the following env variable.
[code]

I got not invalid arguments AirflowException but the operator bring up incorrectly configured nodegroup (see my previous comment)

[2021-11-17 10:09] potiuk commented on #19566
Cleaning the cache, trying different browser, entering incognito mode should help you to debug it.

[2021-11-17 10:17] potiuk commented on #19566
Ah no - this is the same for me. Can you please open a separate issue for that ? Seems indeed latest main version have the search bar broken

[2021-11-17 10:17] potiuk commented on #19566
But that has nothing to do with asset compilation

[2021-11-17 10:21] potiuk commented on #19372
What does your `airflow config list` say when you run it?

[2021-11-17 10:23] potiuk commented on #19372
Ah. I see. Then I think this is the problem with the parameters you are passing to the operator.

[2021-11-17 10:32] potiuk commented on #19372
Unfortunately, I do not know too much about this operator, but passing parameters this way seems completely wrong.

When you look at the code of the operator  https://github.com/apache/airflow/blob/main/airflow/providers/amazon/aws/operators/eks.py#L278

It just uses those parameters - and you are trying to pass some new ones.

[code]

Again - I do not know how to pass those parameters ( I do not

[2021-11-17 10:32] #19372 closed

[2021-11-17 10:42] andormarkus opened #19641 "EKSCreateNodegroupOperator - missing kwargs"
### Description

Boto3  / eks / create_nodegroup api supports the following kwargs:

[code]

The current implementation of the operator support the following kwargs only:

[code]

### Use case/motivation

With the current implementation of the Operator you can bring up basic EKS nodegroup which is not useful. I want to fully configure my nodegroup with this operation like I can do it with boto3.

[2021-11-17 10:44] andormarkus commented on #19641
Hi @ferruzzi #19372 continues here

[2021-11-17 11:16] karakanb commented on #19566
I have pulled the latest version last night but that doesn't seem to fix the issue, neither by local pyenv nor by Docker.

I cannot copy separate logs from tmux, iTerm doesn't seem to allow that, but I can show the logs from the boot process of the breeze env:
[code]

The logs say `No need for www assets recompilation.` which signals that the assets are already up-to-date. However, when I visit th

[2021-11-17 11:22] karakanb commented on #19566
I think the aim for me now is to have the file somewhere locally, without thinking about the webserver or the race conditions that might further complicate the problem. I am open to any tips.

[2021-11-17 11:32] SohailChamadia-everestek commented on #19217
Oh okay, got it thanks, but if the password changes during runtime by means of scheduled password rotation, how the update of connection string needs to be handled?

[2021-11-17 11:45] potiuk commented on #19217
This is handled automatically. If you have connection opened, it's kept open (and password change will not influence it). If there is a new conection opened by SQLAlchemy, then  the `_CMD` is re-executed, so you will get a new password.

[2021-11-17 13:26] potiuk commented on #19566
@karakanb - as mentioned above -> this is NIOT the problem with asset compliation/breeze. The race for asset compilation was there and it is solved now..

I believe this is a problem introduced recently in the `main` branch with wrong path to js files or similar.

 Can you please open a separate issue for that ?

[2021-11-17 13:29] potiuk commented on #19566
It REALLY helps if issues are separated rather than one huge thread  with big number of those - in the issue here you have many, many things raised and when someone mentions that the problem is solved, it might mean that only 1 of the 20 things mentioned in the thread is solved.

[2021-11-17 13:30] karakanb opened #19647 "Wrong path for assets"
### Apache Airflow version

2.2.2 (latest released)

### Operating System

macOS

### Versions of Apache Airflow Providers

_No response_

### Deployment

Docker-Compose

### Deployment details

Running things locally with pyenv as well as Breeze.

### What happened

I have pulled the latest version last night but that doesn't seem to fix the issue, neither by local pyenv nor by Docker.

I cannot

[2021-11-17 13:31] karakanb commented on #19566
Understood, makes total sense. I have created the issue here: https://github.com/apache/airflow/issues/19647

[2021-11-17 13:37] potiuk commented on #19647
cc: @bbovenzi - I could reproduce it locally - I believe there is not an error with Breeze but it is an error in the latest `main` w/regards to javascript files/js asset wrongly addressed (but I did not dig deeper yet - maybe you will now better) - this error is apparently reproducible in virtualenv installation as well.

[2021-11-17 13:39] JoeSnK commented on #15340
@yehoshuadimarsky
Did you find the way to do this?
I am also trying to implement the exact same thing and have been struggling to get the issue fixed.

[2021-11-17 14:20] bensta opened #19648 "Airflow connection forms show fields that should be hidden"
### Apache Airflow version

2.2.1

### Operating System

ubuntu 20.04

### Versions of Apache Airflow Providers

apache-airflow-providers-airbyte==2.1.1
apache-airflow-providers-alibaba==1.0.0
apache-airflow-providers-amazon==2.3.0
apache-airflow-providers-apache-beam==3.0.1
apache-airflow-providers-apache-cassandra==2.1.0
apache-airflow-providers-apache-drill==1.0.1
apache-airflow-providers-apach

[2021-11-17 14:28] zubairshahzad opened #19651 "facing issue to integrate airflow 2.2.2 with mssql as meta store"
### Body

facing issue to integrate airflow 2.2.2 with mssql as meta store

sqlalchemy.exc.IntegrityError: (pyodbc.IntegrityError) ('23000', "[23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert explicit value for identity column in table 'ab_permission' when IDENTITY_INSERT is set to OFF. (544) (SQLExecDirectW)") [SQL: INSERT INTO ab_permission (id, name) OUTPUT inserted.id

[2021-11-17 14:29] bbovenzi commented on #19647
I believe that I also ran into this issue recently. If so, it was introduced in #19322. Reverting that commit locally should fix things. @jhtimmins is looking into it

[2021-11-17 14:45] freget opened #19654 "Pgbouncer auth type cannot be configured"
### Official Helm Chart version

1.3.0 (latest released)

### Apache Airflow version

2.2.1

### Kubernetes Version

1.20.9

### Helm Chart configuration

_No response_

### Docker Image customisations

_No response_

### What happened

The default pgbouncer config generated by the helm chart looks something like

[code]

If the database to connect against is Azure Postgresl, the auth type `md5` [

[2021-11-17 14:46] freget commented on #19654
kind:feature would probably be the better tag, but I'm not able to change this (or I do not find how).

[2021-11-17 14:48] potiuk commented on #19647
Thanks @bbovenzi. Confirmed reverting #19322 fixes the problem. I knew you'd know faster than trying to find myself.

[2021-11-17 14:49] yehoshuadimarsky commented on #15340
Yes! I finally got this to work: put this in your `values.yaml` override:

[code]

[2021-11-17 14:57] potiuk commented on #19654
(BTW. In the future - you can choose "new feature" from the issue types when creating new issue @freget )

[2021-11-17 14:59] potiuk commented on #19651
Correct. Mssql is not supported in 2.2. We have experimental support that is coming in 2.3 https://github.com/apache/airflow/blob/main/README.md#requirements

[2021-11-17 14:59] #19651 closed

[2021-11-17 15:52] DreadfullyDistinct commented on #16881
Hello,

[2021-11-17 15:56] vitalibertas opened #19656 "apache-airflow-providers-ssh 2.2.0 has wrong sshtunnel dependency requirements <0.2,>=0.1.4"
### Apache Airflow Provider(s)

sftp

### Versions of Apache Airflow Providers

apache-airflow-providers-ssh 2.1.1

### Apache Airflow version

2.1.4

### Operating System

Google Cloud Composer

### Deployment

Composer

### Deployment details

_No response_

### What happened

When trying to upgrade to apache-airflow-providers-ssh 2.2.0, there is a bad dependency requirement for an old version o

[2021-11-17 16:09] uranusjr commented on #19656
This is already fixed in 2.3.0.

[2021-11-17 16:09] #19656 closed

[2021-11-17 16:33] hterik opened #19657 "Faulty kubernetes pod_spec retries task start forever, even after task is aborted."
### Apache Airflow version

2.2.1

### Operating System

Debian GNU/Linux 10 (buster)

### Versions of Apache Airflow Providers

apache-airflow-providers-amazon==2.3.0
apache-airflow-providers-celery==2.1.0
apache-airflow-providers-cncf-kubernetes==2.0.3
apache-airflow-providers-docker==2.2.0
apache-airflow-providers-elasticsearch==2.0.3
apache-airflow-providers-ftp==2.0.1
apache-airflow-providers

[2021-11-17 16:51] ulisesojeda commented on #19369
@raphaelauv could you provide an image example?

[2021-11-17 16:53] potiuk commented on #17507
One other comment @imamdigmi @stephenonethree  -> if you see the problem in 2.2.1 - can you provide some logs? That woudl help with narrowing down the issue. I believe some of the earlier manifestation of this problem have been fixed, but maybe there are other cases that we have not seen? Logs would be helpful to speed up fixng much more than tagging the issue.

[2021-11-17 16:54] potiuk commented on #17507
Ideally please upgrade to 2.2.2 and get us a fresh log with this error - this might be immensely helpful to diagnose and fix the issue @brosenkrantz @imamdigmi @stephenonethree and anyone else facing the problem.

The best way to do it is to create a gist in GitHub and link to it from this issue.

[2021-11-17 17:00] potiuk commented on #19657
Feel free to provie a fix @hterik !

[2021-11-17 17:04] PApostol commented on #17507
I think this patch has solved the issue for me (or at least reduced its occurrence substantially) - Airflow 2.1.4, Python 3.7.9, using 2 schedulers

[2021-11-17 17:22] stephenonethree commented on #17507
As of right now I'm on the highest version supported by Composer which is 2.1.2 - I'm definitely planning to upgrade as they roll out new versions, and will provide you with fresh logs if I still see it.

I did spend about a day and a half pulling together code which reproduces the error 100% of the time in a Cloud Composer setting, which I provided earlier. I had been hoping that would help peopl

[2021-11-17 17:25] stefanondisponibile commented on #19657
I've experienced something similar when providing a wrong `pod_override` configuration. The scheduler didn't flush those wrong tasks even after I completely deleted the *dags* from the dags folder (and metadata db). Resolved it by restarting the scheduler.

[2021-11-17 17:26] stephenonethree commented on #17507
My earlier code and analysis is here: https://github.com/apache/airflow/issues/18041#issuecomment-932564234

[2021-11-17 17:33] ferruzzi commented on #19372
@potiuk - thanks for the correction, I still have a lot to learn :)

@andormarkus - I see, I see.  So these are kwargs that need to be added to the hook, then to the operator.  I get it now.   Sorry for the confusion.  (( Moving to the new thread after this reply.  ))

[2021-11-17 17:53] ulisesojeda commented on #13942
Hi @tandelDipak,

In order to define custom commands (functions) you can define it in a single line before calling.
The BashOperator is not defined to execute a script before running the **bash_command**

**Example:**

[code]
 **Result:**
{subprocess.py:78} INFO - Your input: 222

[2021-11-17 18:04] potiuk commented on #13942
This is not a problem with BashOperator, but misunderstanding how .bashrc works.  The `.bashrc` is only sourced for "interactive" login and remote non-interactive shell sessions (executed via ssh-daemon). Baasically .bashrc will only be sourced automatically if there is a human typing the command to execute.

For any kind of "unsupervised" bash command (for example when you run cron scripts) you n

[2021-11-17 18:04] #13942 closed

[2021-11-17 18:12] #19581 closed

[2021-11-17 18:27] potiuk commented on #14396
Yep. It does look good.

I rather like the way @ferruzzi  did it - look how many less imports the TaskInstance class has this way. For me ti really makes perfect sense to tie the "get_template_context" with Context in separate module and keep the imports there - they were only needed there to build "context fields" which are not actually used by TaskInstance. I like it much better.

[2021-11-17 18:36] gcristian commented on #10026
For the record, the error is not showing up anymore 🥳  , I mark what I did in case it may be solution for others on this:
- increased scheduler's heartbeats to 1 minute, and
- worker's hbs to 30''.
- removing `default_impersonation` attribute and
- starting from scratch with a new `airflow.cfg` file and porting some well understood and needed parameters from previous versions.

[2021-11-17 18:37] potiuk commented on #18599
Feel free!

[2021-11-17 18:52] ferruzzi commented on #19641
@andormarkus (and anyone else who wants to weigh in, of course) - It looks like the way Glue solved this was by adding a dict called "create_job_kwargs" which gets unpacked in the boto call.  That would keep the code concise and allow for future boto changes easily, but makes that extra step of packing it into a dict for the end user.  The alternative is defining every potential parameter that bot

[2021-11-17 18:53] josh-fell commented on #19648
This is a bug and should be fixed with #19411.

[2021-11-17 19:26] ferruzzi commented on #14396
@uranusjr - I do see what you are saying.  Passing `ti=self` to `get_context_template` [like that](https://github.com/ferruzzi/airflow/commit/4c86dbbab968a09386d09380a80650b5383bf5e4#diff-62f7d8a52fefdb8e05d4f040c6d3459b4a56fe46976c24f68843dbaeb5a98487R1307) feels a little off.  I went this route because it feels like a better logical fit in the Context module since it's essentially a Factory/Buil

[2021-11-17 19:33] potiuk commented on #14396
We are about to fix some last "main" tests failing - so maybe wait until that is done and rebase to see if this is not related @ferruzzi

[2021-11-17 19:34] ferruzzi commented on #14396
Sounds good.   I saw that Breeze broke recently, and I'm also having hardware issues so there were a lot of potential causes there.   I'll give you some time and come back to it.  Cheers.

[2021-11-17 19:36] potiuk commented on #14396
That was Javascript failing not Breeze :). But yeah last few days were not the greenest

[2021-11-17 19:39] potiuk commented on #19641
LGTM

[2021-11-17 19:39] dstandish commented on #8792
@kaxil @jedcunningham is this desired behavior?  i.e. to attempt to push xcom even in the case of failure?

[2021-11-17 19:47] potiuk commented on #18080
I think it might be regression. I am not very confident in the code, but I do remember, that somewher in airlfow internals try_num was actually one higher that it should have been for some obscure reasons and it was manually decreased in some cases.

[2021-11-17 19:49] potiuk commented on #18080
@Ashb @mik-laj - maybe you remember better ?

[2021-11-17 19:54] eladkal commented on #19414
closing as provider was released

[2021-11-17 19:54] #19414 closed

[2021-11-17 19:55] eladkal commented on #19365
fixed by https://github.com/apache/airflow/pull/19380

[2021-11-17 19:55] #19365 closed

[2021-11-17 19:58] eladkal commented on #19131
Isn't that just [sla_miss_callback](https://airflow.apache.org/docs/apache-airflow/stable/concepts/tasks.html#sla-miss-callback) ?

[2021-11-17 20:02] eladkal commented on #10817
Now that we have deferrable operators and we even say in the [docs](https://airflow.apache.org/docs/apache-airflow/stable/concepts/deferring.html):
`Deferrable Operators essentially supersede Smart Sensors, and should be preferred for almost all situations.`

Do we still want to enhance Smart Sensor?

[2021-11-17 20:02] ashb commented on #18080
@ephraimbuddy ring any bells? I think we talked about this a while back

Is it fixed already do you know?

[2021-11-17 20:06] brosenkrantz commented on #17507
With Airflow 2.2.2 I found that changing airflow.cfg **use_row_level_locking = False** appears to resolve this issue for me. I am running MySQL 5.7 and executor = LocalExecutor with one scheduler and no workers.

[2021-11-17 20:06] potiuk commented on #10817
I believe we should not, possibly even we should deprecate smart sensors in 2.3 (to be removed in 3.0.

[2021-11-17 20:07] eladkal commented on #10386
@potiuk I think https://github.com/apache/airflow/blob/main/CONTRIBUTING.rst#developing-community-managed-provider-packages covers it quite nicely. Do you think we need something more?

[2021-11-17 20:08] bensta commented on #19648
Thanks for the info!

[2021-11-17 20:09] potiuk commented on #10386
Absolutely. Closing it.

[2021-11-17 20:09] #10386 closed

[2021-11-17 22:33] brosenkrantz commented on #17507
I am still seeing this issue with Airflow 2.2.2 and the "tutorial" DAG sleep task.
https://airflow.apache.org/docs/apache-airflow/stable/_modules/airflow/example_dags/tutorial.html
Here is the log

[2021-11-17 14:21:40,353] {taskinstance.py:1035} INFO - Dependencies all met for <TaskInstance: tutorial.sleep scheduled__2021-11-16T20:43:29.803380+00:00 [queued]>
[2021-11-17 14:21:40,361] {taskinstan

[2021-11-17 22:35] kaxil commented on #10817
Pretty much agree. Smart Sensors are marked experimental too so we can remove it sooner if needed but just incase someone is using it we can remove them in 3.0 too

[2021-11-17 22:35] #10817 closed

[2021-11-17 22:40] andormarkus commented on #19641
For me the best solution would be if I could pass the for mandatory parameters in the `create_nodegroup_kwargs` as well.